[2019-08-20 20:38] #79436 closed

[2019-08-20 20:40] mjbvz commented on #79533
Please file this issue against the python extension

[2019-08-20 20:40] #79533 closed

[2019-08-20 20:54] gilcolgate opened #79534 "Cntrl Alt Click on compile error does not work in specific circumstances"
Issue Type: <b>Bug</b>

Started happening only in the most recent version. You can control-alt click to go to errors in the source, but only sometimes. You cannot go to errors in the source if your terminal window has been scrolled up.

1) Compiile a C program in the integrated terminal.
2) Get more than one page of errors
3)  Scroll up in your terminal to see an error that has gone off screen
4)

[2019-08-20 20:55] gilcolgate commented on #79534
Note, it doesn't matter if you have one terminal or more. I checked that.

[2019-08-20 21:04] mattacosta commented on #77140
For comparison, I benchmarked a few engines:

**Tokenization performance (PHP)**

File: [PHPMailer.php](https://github.com/PHPMailer/PHPMailer/blob/master/src/PHPMailer.php)
Average of 10 iterations. All times in milliseconds (lower is better).

  | WASM | JS | TreeSitter | TextMate
-- | -- | -- | -- | --
Average | 24.95 | 38.73 | 78.24 | 795.75
Min | 23.58 | 36.48 | 75.81 | 789.64
Max | 26.84 | 4

[2019-08-20 21:09] abhinuvpitale commented on #76892
@mushtaqak are you working on this, if not lmk, I ll take it up

[2019-08-20 21:12] Tyriar commented on #79534
Update to 1.37.1

[2019-08-20 21:12] #79534 closed

[2019-08-20 21:28] importnetminecraft commented on #79529
In #77411 they are updating extension icons. You should submit a bug report to the extension if you want their icons to change. Octicons already provide an icon pool for extensions to use which they are planning on updating.

[2019-08-20 21:32] GamesThatWork commented on #79436
thx

On Tue, Aug 20, 2019 at 4:44 PM Matt Bierner <notifications@github.com>
wrote:

[2019-08-20 21:34] mjbvz commented on #74756
I followed the linked tutorial on windows 10 with VS Code 1.38 (the current insiders build) and debugging / launch seems to work fine.

Are you still seeing this issue? If so please provide more information about what is going wrong

[2019-08-20 21:49] mjbvz commented on #77131
After talking over the "open handler" proposal with @Tyriar and thinking about it more, I agree that it is likely too open ended in its current form. Does anyone has any specific use cases for it in mind that could not be addressed by the previous custom editor proposed API or by existing VS Code apis

---

As for commands such as undo/redo in webview, we have a few options:

* Add events for very

[2019-08-20 21:57] mjbvz commented on #79171
I can't repo this and don't know what the top frame of the stack `HTMLElement.proto.focus ( VS :318:24)` means but have added a try/catch around our call to `.focus`

[2019-08-20 21:57] #79171 closed

[2019-08-20 21:57] AlexAegis commented on #70283
Yes I'm on Windows 10 version 1903 build no 18362.295, and 1.37.1 (User) of VS Code. I haven't changed any terminal settings, the default plain PowerShell.

[2019-08-20 21:58] RMacfarlane commented on #79479
@alexwijoyo Do you mean under the cursor in the file explorer?

[2019-08-20 21:59] RMacfarlane commented on #79480
Just to confirm, the folder `yq_patrol_web` is not empty? Can you press `F1` and run `Developer: Toggle Developer Tools` and see if anything is printed in the console when this happens?

[2019-08-20 22:03] gilcolgate commented on #79534
1.37 fixed it thank you

[2019-08-20 22:03] Zireael commented on #25986
Please allow separate syntax theme.
It could be as simple as choosing one theme for windows looks and another theme for syntax looks.

[2019-08-20 22:05] #79484 closed

[2019-08-20 22:09] RMacfarlane commented on #79485
Not an exact duplicate, but there is an existing issue requesting scroll bar ui updates:
https://github.com/microsoft/vscode/issues/65352

Let's keep the conversation in that issue

[2019-08-20 22:09] #79485 closed

[2019-08-20 22:12] RMacfarlane commented on #79502
@slazeRnet Are you using the C# extension? Can you provide a screenshot or an example of the code? What version of VSCode are you using?

[2019-08-20 22:15] Colengms commented on #78737
Thanks for the pointer.  This approach works.  :)

[2019-08-20 22:15] #78737 closed

[2019-08-20 22:18] RMacfarlane commented on #79529
Duplicate of https://github.com/microsoft/vscode/issues/77411, there's also now a library of icons extensions can use, see #74974

[2019-08-20 22:18] #79529 closed

[2019-08-20 22:20] pavelfeldman commented on #79195
Sorry for the spam around this one, I again can't get it to work. My goal is to have it suggest me `window['document']` when I hit Enter in the `window['docu<|>]` state. What are the start / length values that I need to provide so that it worked?

[2019-08-20 22:24] RMacfarlane commented on #79499
Duplicate of https://github.com/microsoft/vscode/issues/30404, please go thumbs up that issue and add any additional input there, thanks!

[2019-08-20 22:24] #79499 closed

[2019-08-20 22:28] electric-skeptic commented on #79380
I'm sure we all have the same symptoms, as of the same version. Opening new issues divides the attention each issue gets, so it seems like we should [contribute data to the same issue](https://github.com/Microsoft/vscode/blob/master/CONTRIBUTING.md#look-for-an-existing-issue), otherwise devs get annoyed and close them as duplicates, which even the bot is noticing, or due to lack of further detail.

[2019-08-20 22:28] nhorlock commented on #79310
This appears to be fixed in the 19th August nightly

Version: 1.38.0-insider (user setup)
Commit: c8d44e24dd250d416475a10efe64e35c9e2c65b3
Date: 2019-08-19T12:53:53.607Z
Electron: 4.2.9
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.17134

@kinglionsz it appears to be fixed for me now. You might want to check if it is fixed for you too.

[2019-08-20 22:48] mjbvz commented on #79380
Generic problems like this often have multiple different root causes and it is much easier for us to track each one individually. Otherwise we end up in exactly the situation we have now where multiple chime in with +1 without providing any additional context and it is difficult to track their individual problems or follow up with them properly

So instead of complaining, please open a separate is

[2019-08-20 22:50] #79527 closed

[2019-08-20 22:50] RMacfarlane commented on #79527
@M-G-ARC Can you please reopen this issue on the C++ extension?

[2019-08-20 22:52] JacksonKearl opened #79535 "File Icons in Exporer occasionally incorrect"
Issue Type: <b>Bug</b>

I believe this started with a recent insiders, but not sure. Cant repro on stable.

The icons assigned to files will occasionally no match the file's type. This also happens with directories being mis-identified as files. This happens with the default file icon packs, as well as external ones.

The icon sometimes changes as files come in and out of view in the Explorer. (pe

[2019-08-20 22:56] JacksonKearl commented on #79535
https://1drv.ms/u/s!Asa14RL-VZGjaqy25qyzhDr5CqA

[2019-08-20 23:03] RMacfarlane commented on #79512
@LCostaN There is an existing API for extensions and VSCode to provide progress updates to notifications:

https://github.com/microsoft/vscode/blob/c5dc9d16be5cbd18b4a1bc44941ef8a1b16cf983/src/vs/vscode.d.ts#L6783

This depends the creator of the notification adopting the API - if the notification is coming from an extension, please file an issue on it. Thanks!

[2019-08-20 23:03] #79512 closed

[2019-08-20 23:25] RMacfarlane commented on #79508
/needsMoreInfo please include the version of VSCode you're using and what OS you're on

[2019-08-20 23:32] #79492 closed

[2019-08-20 23:51] octref commented on #78825
Reopening since just hitting this today:

![image](https://user-images.githubusercontent.com/4033249/63392233-a2652c80-c36a-11e9-9557-ca9b382d1dfe.png)

![image](https://user-images.githubusercontent.com/4033249/63392236-aa24d100-c36a-11e9-906c-0e41b1aa0a33.png)

One cannot possibly discover the "Toggle Inline View" since it's inconsistent with the ... action name.

[2019-08-20 23:58] deepak1556 commented on #79466
Can you try our latest exploration builds https://github.com/microsoft/vscode/pull/75802#issue-289924821 and see if the issue still persists. Thanks!

[2019-08-21 00:00] xBiohazardx opened #79537 "Debugger Seetting variable in variables panel isnt working"
Hello there,

I am trying to use VS-Code as an IDE to develop for my Blue Pill (STM32F103C8T6) development board. I already got "Make" working. I can flash it with the st-link tool and the program works fine.
I can also debug with the cortex debug extension (https://marketplace.visualstudio.com/items?itemName=marus25.cortex-debug).

And here is where my question kicks in. When the program is pausi

[2019-08-21 00:04] pavelfeldman commented on #79121
Another one:
- When my session has a child session and a thread, I still expect to see my only thread inlined. I.e. in my case `session === thread`. This does not seem to be the case today, session `blank` has a thread `localhost5002` and a child session `sw.js`:

![threads2](https://user-images.githubusercontent.com/883973/63392503-cffea580-c36b-11e9-9e19-cbb683d3c0ec.png)

At the same time, my e

[2019-08-21 00:06] deepak1556 commented on #79328
@oswee can you try our exploration builds https://github.com/microsoft/vscode/pull/75802#issue-289924821 and check if the intellisense issue still persists. Thanks!

[2019-08-21 00:07] deepak1556 commented on #79403
Can you try our exploration builds which has improvements for trackpad scrolling https://github.com/microsoft/vscode/pull/75802#issue-289924821 and see if the hang still occurs. Thanks!

[2019-08-21 00:09] deepak1556 commented on #79316
@mbentley00 can you test this with our exploration builds https://github.com/microsoft/vscode/pull/75802#issue-289924821 ? Thanks!

[2019-08-21 00:12] deepak1556 commented on #79311
@chucklepie can you test this with our exploration builds https://github.com/microsoft/vscode/pull/75802#issue-289924821 , thanks!

[2019-08-21 00:16] deepak1556 commented on #79026
@pravesh-curefit @pchodak can you try our exploration builds https://github.com/microsoft/vscode/pull/75802#issue-289924821 and see if its any better. Thanks!

[2019-08-21 00:18] deepak1556 commented on #78964
@IAmKapuze can you test this with our exploration builds https://github.com/microsoft/vscode/pull/75802#issue-289924821. Thanks!

[2019-08-21 00:23] deepak1556 commented on #78373
@panda919 can you update your exploration build to the latest and see if the issue still persists. Thanks!

[2019-08-21 00:45] octref commented on #79487
@bpasero Good suggestion, I went with this interface. PR at #79538.
I didn't realize I broke standalone editor (it'd error out with no product service). After the PR standalone editor is not covered by the link protection mechanism.

[code]

[2019-08-21 00:56] RMacfarlane commented on #79535
Possibly a dup of https://github.com/microsoft/vscode/issues/79469

[2019-08-21 01:14] lyukrys opened #79539 "Freezing when using .rs (Rust)"
- VSCode Version: 1.37
- OS Version: Arch Linux, Kernel 5.2.9, i3-gaps (WM)

Steps to Reproduce:

I used "cargo run <something>" to create a dir and when I edit the main.rs file vs-code keeps freezing, this only happens in .rs files neither .py or .json have this problem

The freezing occurs for 1-3 sec. and occurs regularly, when the freezing stops all of my previously types characters appear

I

[2019-08-21 01:22] roblourens commented on #79339
@isidorn your issue isn't related to tabbing, this is different.

To fix this we would need to reparent the context view to live in the DOM where the dropdown control is, instead of putting it at the top.

[2019-08-21 01:23] roblourens commented on #79418
It's not exactly clear what you are asking for. If you just want to check whether a file matches query1 or query2, you can write a regex for that. If you want anything more complex, an extension could do this.

[2019-08-21 01:23] #79418 closed

[2019-08-21 01:28] jeanp413 opened #79540 "Tree element not found error when creating nested folders in single root workspace"
From https://github.com/microsoft/vscode/issues/78153#issuecomment-522271070

Steps to Reproduce:

1. Open single folder in vscode containing just one folder `FolderA`
2. Select  `FolderA`, create child folder `f`
3. Click New Folder Action and cancel
4. Click New Folder Action again, type `a/s/d` and accept
5. Click New Folder Action and cancel
6. Click New Folder Action again, type `q/w/e` and a

[2019-08-21 01:29] roblourens commented on #79405
Can you tell me what you did right before getting that status? It doesn't show a search running, it just shows the renderer process very busy.

If you are able to before the window crashes, it would be helpful if you can get a recording from the Performance tool in chrome devtools for the window (Help > Toggle Developer Tools)

[2019-08-21 01:31] saintube commented on #79435
@bpasero
No, it doesn't.

[2019-08-21 01:46] #79539 closed

[2019-08-21 01:46] lyukrys commented on #79539
disabled auto git update

[2019-08-21 02:01] manhinli opened #79541 ""New Folder" fails within folders immediately created prior"
Issue Type: <b>Bug</b>

### Steps to Reproduce
1. Create a folder within the Explorer (either via context menu or the "New Folder" command)
2. Attempt to create a new folder within the folder created in Step 1 immediately afterwards (again, via context menu or "New Folder" command)

### Expected
A field appears in Explorer where the second new folder is expected in the directory tree, prompting fo

[2019-08-21 02:03] manhinli commented on #79541
Looks like it's a duplicate of #78153.

[2019-08-21 02:04] #79541 closed

[2019-08-21 02:42] Tyriar opened #79543 "Some files in explorer show folder icons and vice versa"
I saw this inside `vscode/node_modules/node-pty/build/Release` the other day as well:

Material icons:

![image](https://user-images.githubusercontent.com/2193314/63398433-7190f180-c382-11e9-87fc-dfe9b7634bc7.png)

Minimal (VS Code):

![image](https://user-images.githubusercontent.com/2193314/63398450-853c5800-c382-11e9-8e44-0af781820e77.png)

[2019-08-21 02:43] Tyriar commented on #79543
I noticed just now that the icons are actually swapped, _sass and Gemfile.lock should be swapped and yarn.lock and _layouts should be swapped.

[2019-08-21 03:02] mkanet commented on #79463
I've already spent a great deal of time on this; and, searching everywhere on Google.  Hopefully someone with more experience than me can shed some light on this and hopefully answer my question in the above post.

[2019-08-21 03:24] Tyriar opened #79544 "Context menu key in explorer doesn't show context menu"
Issue Type: <b>Bug</b>

Repro:

1. Click a file in the explorer
2. Press context menu key, notice the context menu shadow appears immediately then goes away, focus moves to somewhere else in the explorer

Might be needed:

[code]

VS Code version: Code - Insiders 1.38.0-insider (c8d44e24dd250d416475a10efe64e35c9e2c65b3, 2019-08-19T12:53:53.607Z)
OS version: Windows_NT x64 10.0.18362
Remote OS vers

[2019-08-21 03:31] eacartwright commented on #33752
hey you microsoft tell me you're working on this

[2019-08-21 03:48] RMacfarlane commented on #79463
@mkanet To my knowledge, there's no way of explicitly specifying this. The rendering of the Jupyter Notebook is controlled by the Python extension, not VSCode. If you use the webview developer tools and look at the root element of the webview, you'll see that there are a bunch of css variables that have been set by VSCode for all of the theme colors. I haven't looked into the extension code, but I

[2019-08-21 03:50] KsRyY opened #79545 "Wrong Icons on file and directory"
Issue Type: <b>Bug</b>

1. Do some change outside the VSCode that affects the directory tree.
2. Some of the icons will display on the wrong file(such as the LICENSE icon displays on some directory)

VS Code version: Code - Insiders 1.38.0-insider (c8d44e24dd250d416475a10efe64e35c9e2c65b3, 2019-08-19T12:53:53.607Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|I

[2019-08-21 03:54] gjsjohnmurray commented on #79543
Possibly a dup of #79469

[2019-08-21 03:55] gjsjohnmurray commented on #79545
/duplicate of #79469

[2019-08-21 03:55] #79545 closed

[2019-08-21 03:58] sirgogo commented on #70764
@yanshuf0 The closest I've seem to find is using code-server [[link](https://github.com/cdr/code-server)]. This is a good setup when there is **one** server you are interested in using (you can use it on more obviously, but its a hassle to configure each one). I've also had issues with reliability using code-server, so sometimes it requires you to ssh in and restart the process.

A better alternat

[2019-08-21 04:07] jabacchetta commented on #46403
For those still looking for a better solution until this feature gets added natively:

- Install the [Customize UI extension](https://marketplace.visualstudio.com/items?itemName=iocave.customize-ui)
- Add the following to your `settings.json` file: `"customizeUI.stylesheet": { ".editor-actions": "display: none !important;", },`. For more options, refer to @ashrafhadden [comment here](https://githu

[2019-08-21 04:11] chrisrapson commented on #78924
@chrmarti All https connections didn't work previously (curl, pip, installing extensions...). Now they do.

I tried to follow those instructions to look into it more closely, but I'm not seeing anything at all when I choose "Extensions" in the drop-down menu of the Output panel. (I see a long list of commands when I choose "Git" instead, so I assume that the Output panel is working properly.)

[2019-08-21 04:12] chrisrapson opened #79546 "New version not available in apt repository"
- VSCode Version: 1.36.1
- OS Version: Ubuntu 18.04.3

Steps to Reproduce:

1. start VS Code.
2. Receive a pop-up in the lower right saying "there is an update available". Clicking on release notes shows that the new version is 1.37
3. `code --version` in a terminal, or help-->about shows that I am running version 1.36.1
4. run `apt update && apt upgrade`... no update for VS Code in apt repository

[2019-08-21 04:14] chrisrapson commented on #79546
As suggested by the bot, this is a duplicate of [#55027](https://github.com/microsoft/vscode/issues/55027), which, in turn, is a duplicate of [#21651](https://github.com/microsoft/vscode/issues/21651)

[2019-08-21 04:14] #79546 closed

[2019-08-21 04:19] yuqian90 opened #79547 "Code Helper uses lots of CPU when Integrated Terminal is open and have many NFS paths printed in the terminal"
My local macbook has many NFS drives mounted. Most of these NFS servers are in remote locations that are slow to access. Whenever I use the Integrated Terminal in vscode, Code Helper process uses a lot of CPU. vscode often hangs when I tried to open or save modified files. When this happens, dtruss shows that Code Helper is trying to stat64 many links in NFS directories.

Since this slowness often

[2019-08-21 04:43] gjsjohnmurray commented on #79547
@Tyriar maybe the resolve call at https://github.com/microsoft/vscode/blob/5bf573ab9940725c09f5645766fb20406648d846/src/vs/workbench/contrib/terminal/browser/terminalLinkHandler.ts#L337

[2019-08-21 04:51] brunoscopelliti commented on #79380
I am sorry, I cannot share the log cause it is proprietary code.

[2019-08-21 04:56] al73rna commented on #49826
Any update on this issue? As someone working with a ton of different tools this could be a life changer.
Also it would be great if we could just put all of the theme/icon pack extensions in a separate collapsable group and not have to browse through them every time we are looking for something.

[2019-08-21 04:58] al73rna commented on #20599
Still checking patch notes every month hoping for this feature.

[2019-08-21 05:19] gitiondi commented on #79492
Hi Matt
Thank you very much for the fast fix.
Have a day.
Rico

[2019-08-21 05:33] skprabhanjan commented on #78831
@joaomoreno , You had a chance to look at this ?

[2019-08-21 05:49] sbatten commented on #79460
@bpasero based on the issues in the comments, it seems like that would break things elsewhere, no? That whole section has you for *git blame*.

[2019-08-21 05:52] d00lar commented on #71990
same here - any news on this ? i searched half od internet to find here  that that is least possible option for me - bug in vscode :/

[2019-08-21 05:53] sbatten commented on #79224
@alexr00 yes, but using native context menus on windows doesn't seem to reproduce the issue.

[2019-08-21 06:22] yogesh-aggarwal commented on #77927
Yes you are right, on windows, I also have no problems but on Ubunutu 19.04 LTS it has appeared the first time annoying. Are you on Linux (Ubuntu).

[2019-08-21 06:27] Kingwl opened #79548 "Cancel search if no response long time"
1. Copy Large code (about 20k lines)
2. Paste to search bar
![image](https://user-images.githubusercontent.com/6831019/63407687-b454d700-c41f-11e9-9068-b2b7b3905518.png)
3. No response, No cancel
![image](https://user-images.githubusercontent.com/6831019/63407703-c0409900-c41f-11e9-90c0-032e1ce01617.png)

[2019-08-21 06:36] sjhsoundar opened #79549 "Anonymous tabs opening"
Everytime I opened a file from ftp like winscp or filezilla 3 tabs is opening by default. Visual, Studio, Code these are the tabs with empty content. I disabled all extensions still getting the same. I am using windows 10 pc. Only in this pc I am getting these kind of problem.
![Screenshot (4)](https://user-images.githubusercontent.com/51694075/63408160-068bfd00-c40c-11e9-8696-03dd3a853e4a.png)

[2019-08-21 06:40] sanket-bhalerao commented on #79021
@isidorn everything else is in English. the debug messages are in Japanese.
I am making an assumption that it's Japanese. I know its not English for sure.
![vscode japanese debug](https://user-images.githubusercontent.com/9264813/63408394-916cf780-c40c-11e9-8896-467a3a96f72c.png)

[2019-08-21 06:41] torjuss opened #79550 "Buttons in integrated terminal are not clickable"
Issue Type: <b>Bug</b>

The buttons in the top right corner of the integrated **Terminal** (and other tabs: **Problems**, **Output**, **Debug Console**) aren't clickable anymore. Never had this issue in previous versions.

![image](https://user-images.githubusercontent.com/16578277/63408388-38429b00-c3ef-11e9-8353-c79e8b33722d.png)

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d

[2019-08-21 06:46] #79550 closed

[2019-08-21 06:53] jrieken commented on #79488
Works for me.

re https://github.com/microsoft/vscode/issues/79488#issuecomment-523184542

@RMacfarlane Does that mean you can reproduce?

[2019-08-21 06:54] wottpal commented on #32320
Editor in 2019: Work on remote servers, share live-sessions with others and audio-chat.
Also editor in 2019: Can't indent lines.

[2019-08-21 06:58] guptahitesh121 commented on #164
I'm also waiting for Ctrl + C, Ctrl + V option.

[2019-08-21 07:02] jrieken commented on #77131
I think a use-case would be files that open as text but need some prior processing. E.g clicking a `foo.class`-file shouldn't open a web view editor but, after a decompile-step, should open a `foo.generated.java`-file. However, we can treat that as a different problem and think about it as a default text content provider so certain file-types.

Let's continue with the existing proposal.

@Tyriar C

[2019-08-21 07:02] aeschli commented on #79448
Looks like an editor refresh issue. Switching back and forth editors I also see that links are only partially rendered.

[2019-08-21 07:23] aeschli commented on #79363
The `TextDocumentContentProvider` that you provide has a `onDidChange` event. You must fire this event when the document with your schema changes. The JSON language server will then clear it's cache and reload the schema.

[2019-08-21 07:29] bpasero commented on #79435
@saintube does it reproduce if you make changes to a file, save it and then restart the OS instead of letting windows update do it?

[2019-08-21 07:31] bpasero commented on #79460
Ok, I think it is fine to leave the code as it is but then I wonder why starting Code from the command line would not correctly put focus into the window that opens. Or at least, why Electron would not return the window back that is opening.

To clarify: it is the same window that gets opened, not a new one right?

Do people see the window with inactive title color? Does it visually look focused?

[2019-08-21 07:35] bpasero commented on #77131
So are we saying that https://marketplace.visualstudio.com/items?itemName=slevesque.vscode-hexdump needs to rewrite the extension so that the standalone editor is embedded into a webview? So they would have to ship the standalone editor as part of their extension? This scenario is quite popular (see https://github.com/Microsoft/vscode/issues/2582, has even more upvotes than https://github.com/Micr

[2019-08-21 07:38] jrieken commented on #77131
Yeah, I think that's still a valid scenario, e.g. the webview editor should have an option to let the workbench know that it wants to show to the side of a text editor. For hexdump but also for markdown

[2019-08-21 07:40] chrmarti commented on #75209
Gave this a try, but it needs more investigation. I logged all focus and blur events (capture phase on window) and it ends with blur on the input element of the QuickInput. The document.activeElement at that point is the webview although there is no focus event logged for that.

One difference between having the Release Notes open and having the Welcome page open is that with the Release Notes the

[2019-08-21 07:43] lunelson commented on #78632
No that wasn't it, it was a single workspace, with no other windows open. I can't reproduce right now, perhaps in the meantime the file list was purged on its own. I'll reopen this at some point if I can isolate the behaviour...🤷🏻‍♂️

[2019-08-21 07:43] #78632 closed

[2019-08-21 07:44] saintube commented on #79435
@bpasero I tried it just before but the loss doesn't reproduce either.

[2019-08-21 07:46] bpasero commented on #77131
To be clear, here is what I expect:
* I open the explorer
* I click on a file that is binary
* hexdump extension opens with a monaco editor as today

I agree that I would not put the burden of finding out if the editor is already opened onto the extension but on us.

[2019-08-21 07:58] bpasero commented on #79435
Ok I cannot really explain what the difference is...

[2019-08-21 08:07] fzxa opened #79553 "Error encountered in executing "yarn" command"
ZANEWANG-MB0:vscode-source zanewang$ yarn
yarn install v1.17.3
$ node build/npm/preinstall.js
[1/4] 🔍  Resolving packages...
[2/4] 🚚  Fetching packages...
info vscode-windows-ca-certs@0.1.0: The platform "darwin" is incompatible with this module.
info "vscode-windows-ca-certs@0.1.0" is an optional dependency and failed compatibility check. Excluding it from installation.
info vscode-windows-regist

[2019-08-21 08:08] jrieken commented on #79516
I agree that the language server has most context but this is about enabling users to pick any suggestion. Assuming I do want to insert `min`, what should I do? Type `min` and then press arrow down until I am there? Would that be good UX?

Resorting items based on user input isn't a critic to the language server but helping the user to insert the suggestion she/he wants to select. I understand tha

[2019-08-21 08:09] tYYGH opened #79554 "Stale errors in Problems panel"
- VSCode Version:
- OS Version:

[code]

Steps to Reproduce:

1. Work on a project with issues
2. Fix the issues
3 Issues still present in the Problems panel, even for files that were moved or deleted.

Does this issue occur when all extensions are disabled?: Yes/No

Hard to say because the problem is not systematic, and I have not yet identified the root cause.

Simply reloading the window (`[Ctr

[2019-08-21 08:11] cottrell commented on #79468
I don't think anything special. Just standard PC keyboard (North American layout) and on Ubuntu. I don't have any remappings configured.

I am not at that computer now but I remember that I would see ctrl + N or something like that appear on the main window at the bottom.

[2019-08-21 08:11] alexr00 commented on #79517
This is already configurable; you can install an extension that provides a grammar then choose that grammar using the Change Language Mode command in that file.

[2019-08-21 08:11] #79517 closed

[2019-08-21 08:14] vincentthong opened #79555 "Python Extension is disabled"
Issue Type: <b>Bug</b>

Suddenly the python extension is disabled. There is no option to turn it ON.

VS Code version: Code 1.32.3 (a3db5be9b5c6ba46bb7555ec5d60178ecc2eaae4, 2019-03-14T23:43:35.476Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6820HQ CPU @ 2.70GHz (8 x 2712)|
|GPU Status|2d_canvas: enabled<br>ch

[2019-08-21 08:17] isidorn commented on #79535
Yeah this is a duplicate. Once we have a new insiders version you can let us know if you still see this and we can reopen.

[2019-08-21 08:17] #79535 closed

[2019-08-21 08:17] #69324 closed

[2019-08-21 08:17] #77934 closed

[2019-08-21 08:18] dancojocaru2000 commented on #79516
If the parameter is an enum and the `min` function returns any kind of number type, I would argue that the user doesn't want the `min` function, but rather the `Enum.min` value.
In Swift, this problem is tackled by being able to type `.min`, without the enum type prefix. It is very tiring to be forced to type the enum type non stop.
Also, technically, `min` is at the beginning of the possible enum

[2019-08-21 08:24] FBoucher commented on #49826
I saw [Profile Switcher](https://marketplace.visualstudio.com/items?itemName=aaronpowell.vscode-profile-switcher) from @aaronpowell it looks like the solution.  I need to test to it close this issue.

[2019-08-21 08:24] isidorn commented on #79021
This message is not from the debug adapter but from vscode. Unassigning @roblourens and assinging to @dbaeumer to comment how parts of vscode can be in a different language

[2019-08-21 08:26] caelwithcats commented on #79442
@bpasero You can open the menu by right clicking on the icon or holding and dragging up. The same problem occurs when you use the Visual Studio code insider. For some reason when I disable all the extensions the new window command works.
![newwindowvscodeinsiders](https://user-images.githubusercontent.com/53895123/63414777-de1df600-c43f-11e9-9754-30de427089a7.png)

[2019-08-21 08:28] dbaeumer commented on #78287
But these commands are tricker by the user through the UI. The one I show is triggered through `Ctrl+Shift+P`. Shouldn't we in this case show a better message.

I do agree that if an extension uses `ICommandService#executeCommand` then the extension trigger the command is responsible for showing the error message.

[2019-08-21 08:36] dbaeumer commented on #79021
Two possible reasons:

- the LP is somehow broken (it contains the Japanese strings).

Or

- an extension having its own file based translations (not a LP)
- the OS is Japanese
- and the VS COde language is not set to English.

Without steps however this is very hard to tell.

@isidorn where is the strings defined?

[2019-08-21 08:38] alexr00 commented on #79520
The issue doesn't reproduce if you disable the C++ extension. Please file the issue on the C++ extension.

[2019-08-21 08:38] #79520 closed

[2019-08-21 08:38] jrieken commented on #79516
Did you try that? You should be able to type `.min` and `MainAxisSize.min` should be the top match. If not then that's a bug.

Matches on upper-case characters and after separate characters (`.`, `_`, `-`, etc) are boosted. So a draw between matching `M` and `.m`. In that case matching at a lower index (1 vs 5) makes the difference.

Last, if you think no-one ever types `MainAxisSize` than set `.m

[2019-08-21 08:39] isidorn opened #79556 "Hidden status bar still visible as a shadow"
1. Have the status bar hidden
2. Notice how the "shadow" of the status bar is still seen at the bottom of the sidebar

This is a regression in the previous couple of days, so I think it might be due to the new layout.
fyi @bpasero

![Screenshot 2019-08-21 at 10 37 38](https://user-images.githubusercontent.com/1926584/63416522-d8082500-c3ff-11e9-8273-7e6fbaaa66ee.png)

[2019-08-21 08:39] alexr00 commented on #70283
Can you share your task and your problem matcher?

[2019-08-21 08:39] caparkaya commented on #17691
We use VS Code on a Terminal Server in a multi-user environment. We want all users to use a common set of extensions, installed and updated once (for operational and disk space reasons). We do not prefer portable mode because we want settings customizations kept separately for each user. So I also vote for a permanant setting for extensions root path, which does not require each call of code.cmd t

[2019-08-21 08:39] DanTup commented on #79516
In this specific case, yes - it would definitely be the best UX. Because the language server knows that the chance of that case is almost 0 and the case of the other is almost 100% because it has context. The language server has done hard work to provide contextual-relevant results but VS code is overriding them with naive text-based heuristics.

But VS Code doesn't have all the information to mak

[2019-08-21 08:41] caparkaya commented on #17691
I would say just the same, this is achieved with idea.properties file in IntelliJ.

[2019-08-21 08:42] DanTup commented on #79516
Not only does it not work, it puts `minBy` above `min` :/

<img width="515" alt="Screenshot 2019-08-21 at 9 40 37 am" src="https://user-images.githubusercontent.com/1078012/63416691-cb7fce80-c3f7-11e9-9493-b4dc9ed533a0.png">

I mentioned that above, but that removes the ability for a user to type the enum name to see all the values if they don't know what they are (and that's even worse UX).

[2019-08-21 08:44] alexr00 commented on #78497
Yes it is in insiders!

[2019-08-21 08:44] kzhui125 opened #79557 "VSCode freeze at keyboard shortcuts window"
![1](https://user-images.githubusercontent.com/11925432/63416887-e7549600-c432-11e9-9142-c14871fbded3.gif)
<img width="682" alt="2" src="https://user-images.githubusercontent.com/11925432/63416895-ea4f8680-c432-11e9-9430-83c6f069565d.png">

[2019-08-21 08:50] dancojocaru2000 commented on #79516
Typing `.min` when the programming language doesn't support this feature is unintuitive, I wouldn't have thought of doing that. Also, as shown above, it doesn't even work.

[2019-08-21 08:51] jrieken opened #79558 "Separator only match should not be weak"
Match `.` against `foo.bar` and see that there is no result. This is because by default the first match must be strong and because matching *after* a separator character is considered strong but not matching *a* separator character.

[2019-08-21 08:52] isidorn commented on #79021
@sanket-bhalerao can you please share your `launch.json`?
Thanks

[2019-08-21 08:53] jrieken commented on #79516
Sorry, you don't understand what I am saying. This is not about VS Code but about users having the freedom to select the suggestions you are making. Don't make bad suggestions if you don't want them to be inserted.

There is no difference. They use `CompletionItem#preselect` in addition to sorting but they can also not overrule user intend.

I have filed https://github.com/microsoft/vscode/issues/

[2019-08-21 08:57] jrieken commented on #78287
Yeah, this is about commands that are triggered for code actions, specifically from LSP. Now I understand that there is no way for LSP to catch those errors.

Re-open so that the code action logic can do the error handling. @mjbvz I do think we should have a generic error handling, similar to rename, so that all failed code actions have the same UI. Failure should be defined as rejecting the promi

[2019-08-21 09:01] dancojocaru2000 commented on #79516
Freedom? What freedom? A list is shown anyway. This is about the language server saying "here's what they 99% meant" and VS Code saying "nope, they actually meant this because `firstMatch.startIndex` is lower", even if `min(a, b)` returns `int` but the function expects `MainAxisSize`.

[2019-08-21 09:03] isidorn commented on #79195
@pavelfeldman first of all thanks for trying it out immediatly.
I have to confess that I never fully understood all our completion item attributes even though @jrieken explained it to me numerous times. What you want should be possible. We are doing some fine tuning [here](https://github.com/Microsoft/vscode/blob/7621355f7e0c560dc30ad0c04f62d30bc1659b61/src/vs/workbench/contrib/debug/browser/debug

[2019-08-21 09:04] DanTup commented on #79516
This isn't about good and bad suggestions though, it's about "very relevant" and "not so relevant". We shouldn't exclude entries from completion just because they're very unlikely if they could still be valid (although `min` returns a number, some entries return classes, which could have fields that are the correct type).

In their examples, the ones with the stars all appear at the top (it's poss

[2019-08-21 09:04] ackvf commented on #8017
What I don't like about the update is that all of the userland extension icons now don't match the new theme. Also, why are the icons smaller?
before | now
![image](https://user-images.githubusercontent.com/2313018/63418059-bf4d3e80-c402-11e9-890d-7fa6f0de2195.png) ![image](https://user-images.githubusercontent.com/2313018/63416232-5adcb000-c3ff-11e9-8294-c47c1d26ee61.png)

[2019-08-21 09:06] chrmarti commented on #78924
Oh, so it's really only about the environment variable and CLI tools. That makes sense and setting the environment variable is indeed the only way to fix this for most CLIs (short of configuring the CLIs individually). Thanks for the feedback.

We could think about setting the environment variables ourselves based on what we get from Electron. The problem here is that the Electron API can return d

[2019-08-21 09:06] #78924 closed

[2019-08-21 09:11] myfairsyer commented on #79503
@chrmarti Can you give some short feedback (1 sentence) about how you feel about this? Thanks a ton!

[2019-08-21 09:12] Hong-Revo opened #79559 "R colourising glitch with c() in function args"
- VSCode Version: 1.37.1 (system)
- OS Version: Windows 10 Pro 1903

(Originally posted at [MikhailArkhipov/vscode-r/#25](https://github.com/MikhailArkhipov/vscode-r/issues/25) and [textmate/r.tmbundle#13](https://github.com/textmate/r.tmbundle/issues/13))

There seems to be a (rather specific) bug in how character vectors are coloured. When you have `c("a", "b", ...)` as a default function argume

[2019-08-21 09:12] weinand commented on #79504
@isidorn please investigate what VS does and how we could do something similar.

[2019-08-21 09:14] #79558 closed

[2019-08-21 09:17] code4bones opened #79560 "Add bookmarks at symbols, not over line numbers"
Add a bookmark linked to specific symbol, like a link, becourse setting bookmark on line # after several changes on code, doesnt't point to initial line #

[2019-08-21 09:24] einstein6012 opened #79561 "Editor Blank Screen"
Issue Type: <b>Bug</b>

Right Click on File Explorer -> Open in visual studio code insiders

Screen shows cutoff of vscode explorer but the remaining part of the screen is blank and does not show any editor

VS Code version: Code - Insiders 1.38.0-insider (c8d44e24dd250d416475a10efe64e35c9e2c65b3, 2019-08-19T12:53:53.607Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summ

[2019-08-21 09:25] EbXpJ6bp opened #79562 "vscode-insider layout is broken."
Issue Type: <b>Bug</b>

VSCode cannot be used with following error.

To reliably reproduce this problem, close vscode which is connecting remote-server using Remote-ssh extension and start vscode again.

<details>
<summary>Devtool error</summary>

[code]
</details>

---

VS Code version: Code - Insiders 1.38.0-insider (c8d44e24dd250d416475a10efe64e35c9e2c65b3, 2019-08-19T12:53:53.607Z)
OS version:

[2019-08-21 09:29] Relequestual opened #79563 "Auto update import adds `.js` to `.json`"
- [x] Look for existing issues
- [x] Checked latest build

- VSCode Version: 1.37.1
- OS Version: MacOs 10.13.6

Steps to Reproduce:

1. Create a folder called v1.0.0
2. Create files a.json and b.json inside v1.0.0 folder
3. Create index.js file inside v1.0.0 folder and add `export.a = require('./a.json');` and for b.
4. Rename folder v1.0.0 to something else (like `v1.0`)
5. Code asks if you want

[2019-08-21 09:30] benny-medflyt commented on #9635
It would be nice if visual studio code problemMatcher could parse a "universal" JSON format. so you could configure your task as:

    "pattern": "json"

and then the output of the program would be expected to be (single-line) JSON lines such as:

[code]

Since it is JSON, the "message" field can contain "\n" characters for errors that span multiple lines. And everyone can write their own custom f

[2019-08-21 09:35] Teoge commented on #75145
I have similar issues. I got a folder containing more than 600k files. And when I typed the path of this folder in the integrated terminal, vscode stops responding, no matter how many times I tried. And I did not use tab-complete and typed the path letter by letter.

[2019-08-21 09:36] isidorn commented on #79121
@pavelfeldman thanks a lot for the great feedback. We usually prefer seperate new issues, but let's continue the discussion here and we can open new issues.

1. Expansion control when there are no children: currently we do this everywhere across VS Code (Explorer, Variables view, Watch Expression). If we were to change this we would have to fetch children even before the element gets expanded, jus

[2019-08-21 09:44] gjsjohnmurray commented on #59695
@equinusocio looks like that PR from @andyunleashed hasn't been merged. Maybe @misolori plans to fix the issue another way.

[2019-08-21 09:44] jrieken commented on #23927
Different options

1. Instead of adding a new enum, add special members to the existing `CompletionItemKind` enum, e.g `ModifierReadonly`, `ModifierStatic` etc. Then use everything as bit mask, e.g. kind: CompletionItemKind.Function | CompletionItemKind.ModifierDeprecated | ModifierReadonly`
1. Add a new enum, e.g. `CompletionItemKindModifier`, and redefine the `kind`-property to be `kind?: Comple

[2019-08-21 09:50] OliverSchmitt commented on #79393
Yes, I can. I actually already did that in [this](https://github.com/openlawlibrary/pygls/issues/75#issuecomment-507652251) issue.

[2019-08-21 09:58] AnrDaemon commented on #13960
I can't understand, why would anyone tolerate the absence of this option.
It's not even a feature, it's an absolute necessity.
The user's frustration, when the cursor suddenly jumps around, worse when editor view scrolls to the side, is greatly taxing on productivity.

[2019-08-21 09:59] AnrDaemon commented on #37007
Just a reminder that this is a duplicate of #13960

[2019-08-21 10:04] jrieken commented on #79393
Seems to work just fine. What is your issue? Can you add steps, expected and actual behaviour?

<img width="382" alt="Screenshot 2019-08-21 at 12 04 00" src="https://user-images.githubusercontent.com/1794099/63423043-c62c7f00-c40b-11e9-92a5-00af514c6636.png">

[2019-08-21 10:05] chrmarti commented on #79503
The request makes sense. I don't think we have any of the existing cheat sheets automated, so having a dynamically generated cheat sheet is not within easy reach. (/cc @chrisdias)

[2019-08-21 10:09] bpasero commented on #79442
Can you identify which extension causes this? I find it rather unlikely it has an impact.

[2019-08-21 10:10] bpasero commented on #79336
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2019-08-21 10:10] ramank775 commented on #79363
@aeschli onDidChange event do not clear the schema, i have tried this approach.

The Reason why JSON language server not clearing  the schema is the following code
`let handleContentChange = (uri: Uri) => {
			if (uri.scheme === 'vscode' && uri.authority === 'schemas') {
				client.sendNotification(SchemaContentChangeNotification.type, uri.toString());
			}
};`
This is in JSON language server clie

[2019-08-21 10:17] isidorn commented on #79121
4. Upon further investigation I have pushed 38aa476610 which should tackle this issue in your case. We were auto focusing the newly created session even if it was not stopped which was wrong. So I changed that, we no longer switch focus when a new session is created. However our approach remains that if a breakpoint is hit we will automatically focus on the coresponding session. Please try it out

[2019-08-21 10:17] #78750 closed

[2019-08-21 10:17] #78703 closed

[2019-08-21 10:24] IllusionMH commented on #79561
Tried with the same insiders build, but works on my machine™ (no mater if I already have VS Code open for other folder or all instances closed, if I open this folder first time or opened it earlier)

Could you please provide screenshot with a problem? Do you need to close all VS Code windows to reproduce this problem?
Do you have same problem if you disable all extensions?
Do you see any errors in

[2019-08-21 10:25] isidorn commented on #79504
This is a fair feature request. However it is not on our immediate plan, thus assigning to the backlog.
We could show something on hover if we decide to do this. As I would not make it very prominent.
I can look into VS (I currently do not have it installed). @tredition feel free to provide screenshots with an example.

[2019-08-21 10:27] mike2307 commented on #5394
Yes, please get this done

[2019-08-21 10:29] tanjxlp opened #79564 "auto programming"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2019-08-21 10:29] isidorn commented on #79540
Great catch and a wonderful fix, thanks a lot!

[2019-08-21 10:31] #79540 closed

[2019-08-21 10:33] AniruddhPurohit opened #79565 "Add Feature"
I am missing deployment toos as available in jetbrains PHPStorm which provides upload, download, compare and sync with multiple deployment configurations. We can compare with clipboard too. and keep or discard specific changes from any of these comparisons.

[2019-08-21 10:37] IllusionMH commented on #79544
Noticeable only with `"window.titleBarStyle": "native"` and only in Explorer, Open editors, and Extensions lists (Enabled/Disabled).
Works fine in custom views (e.g. GitHub Pull Request)

[2019-08-21 10:44] al73rna commented on #49826
@FBoucher Thank you! That extension is working flawlessly.

[2019-08-21 10:53] bbugh commented on #79460
Correct, it is the same OS window that gets opened. VS Code is visually (and behaviorally) active, I am able to move the cursor, type, run commands, select text, etc.

However, while testing your inquiry I found a new data point. **This issue only happens if the file is already open in an editor. If the file is being opened into a new editor, it works as expected.**

**Reproduction**

1. Close all

[2019-08-21 10:55] isidorn commented on #79007
Dup of https://github.com/microsoft/vscode/issues/73469

[2019-08-21 10:55] #79007 closed

[2019-08-21 10:56] callummr commented on #67670
Saw it had been a while since there was progress on this so had a stab. Haven't found any issues with this fix so far.

[2019-08-21 11:16] fabio-510 opened #79567 "Can't navigate from terminal compilation error output to code editor."
Issue Type: <b>Bug</b>

Possibly related to and old finalized issue: https://github.com/microsoft/vscode/issues/58256

Also tested on insiders (no extensions): 1.38.0-insider
Using typescript version 3.5.3

1. Open an empty folder.
2. Create a test.ts file with the following code:
[code]
3. In the integrated terminal (powershell v5.1.18362.145) run:
[code]
4. Try to navigate to compilation error u

[2019-08-21 11:17] #77223 closed

[2019-08-21 11:18] mushtaqak commented on #76892
@abhinuvpitale I hadn't started on this. If you are interested then please feel free to take it up. (I smh didn't get the notification of thumb-up emoji from Jao Moreneo)

[2019-08-21 11:30] OliverSchmitt commented on #79393
You triggered the completion by pressing `ctrl+space`, right? It does work for me if I do that as well.
I am starting to think the issue might be the trigger kind because I noticed different behavior depending on how the completion is triggered.

a) Steps:
1. Pressing `ctrl+space`

Result:
![Screenshot from 2019-08-21 13-14-55](https://user-images.githubusercontent.com/23654754/63427791-4526b500-c

[2019-08-21 11:31] qt1 opened #79568 "Icon Accessability issue"
The Problem:
Icons has been recently downgraded to a less accessible set of icons.

More details can be found in this discussion: #8017

The new icons are less visible (by design) due to: smaller size, thinner, lack of color, lack of contrast, lack of visual divergence, outlined instead of filled, less definition (due to pixel interpolation)

In some situations this causes higher visual strain, ey

[2019-08-21 11:36] bpasero commented on #79460
@bbugh do other keybindings like `Cmd+W` work in that case and close the editor? Because if yes, then this would be an issue inside the workbench/editor and not outside.

[2019-08-21 11:38] xqin commented on #27317
https://github.com/Microsoft/vscode/blob/release/1.37/src/vs/base/parts/quickopen/common/quickOpenScorer.ts#L390-L394
![image](https://user-images.githubusercontent.com/1265888/63411505-419c2980-c428-11e9-9029-c87d897d5f1f.png)

![image](https://user-images.githubusercontent.com/1265888/63411528-4d87eb80-c428-11e9-8815-e4a4c854be84.png)

[2019-08-21 11:39] gjsjohnmurray commented on #79516
To give my `provideCompletionItems` method more control over this kind of thing I have resorted to returning its results as a `CompletionList` with `isIncomplete: true`. This stops VSCode from resequencing what I gave it. When the user types another character I get called again and can supply another list. I also use this to achieve prefix-only matching.

[2019-08-21 11:53] DanTup commented on #79516
@gjsjohnmurray does that actually work here? I see VS Code doing the same magic if I force completion open with Ctrl+Space after typing the prefix (so it's hitting my provider), but it still seems to re-sort them based on the prefix it sees in the doc, rather than one that was typed since opening the completion list.

[2019-08-21 12:00] WellspringCS commented on #79346
[code]

Does that cover it for you, @alexr00 ? As I said, the bug is now history for me, as I renamed my dotnet folder, so no urgency on my part on this anymore.

[2019-08-21 12:01] oaltun commented on #4873
My use case: I want to use github flow, which means I should not edit files in master branch, but should be able to merge branches into master. I am not talking about making files in the disc readonly. This should be in the vscode.

[2019-08-21 12:14] jrieken commented on #79393
This is because the completion using the `textEdit` always uses the current position as range. The range is the "text selection" that is to be replaced and therefore it also defines what prefix is used for filtering/sorting. If there is no prefix (no text selection, range is cursor position) then there is nothing to compare against with. When not having a prefix, the default is the current word. W

[2019-08-21 12:15] #79393 closed

[2019-08-21 12:16] bpasero opened #79569 "Automate exploration builds nightly"
We are very close, however as it turns out the nightly exploration build seems to not run, unless a commit changes on the Electron branch.

We probably need to automatically merge `master` somehow.

//cc @joaomoreno

[2019-08-21 12:19] simonhaenisch commented on #51935
Yup, also want this. Currently it's just a bit of a pain.

[code]

[2019-08-21 12:24] gjsjohnmurray commented on #79549
I guess a problem with config on that PC means the command that launches the VSCode executable (on Windows, code.exe) has specified three arguments on its command line:

`code.exe Visual Studio Code`

[2019-08-21 12:26] gjsjohnmurray commented on #79560
/causedByExtension AFAIK VSCode has no built-in support for bookmarks, so you must be using an extension. Please report your problem to the extension author.

[2019-08-21 12:38] code4bones commented on #79560
thanks

[2019-08-21 12:38] #79560 closed

[2019-08-21 12:40] gjsjohnmurray commented on #79564
/needsMoreInfo

[2019-08-21 12:40] SambhavS004 opened #79570 "waiting for the debugger to disconnect..."
Issue Type: <b>Bug</b>

Hello,

I am getting this error suddenly while debugging the JS/NodeJs code in VSCode in Nodejs environment. Though I cannot replicate this issue but certainly can say that it frequent and uncertain in nature.
I am just running a file and suddenly get's this error. Tried restarting the system, VSCode, Stop Debugging options etc. Nothing worked!!
Node version is 9.8.0

Thank

[2019-08-21 12:51] IllusionMH commented on #79570
Do you mean "waiting for the debugger to disconnect..." in console?

AFAIK it's not an error, but indication of the fact that execution of Node program is finished (end of code or uncaught exception), but debug session is still active (because you haven't pressed Stop)

You can see same behavior if you use Chrome DevTools to debug node app:
[code]
and release breakpoint.

If you don't hit breakpoi

[2019-08-21 12:53] kenlefeb opened #79571 "Settings Need Multiline TextBox"
Issue Type: <b>Bug</b>

This is very similar to #39969, but for the new Settings UI.

I use an extension (`vscode-journal`) that allows you to define a template (setting `journal.tpl-entry`) for creating new files, and these require the use of `\n` characters to specify new lines, however the Settings UI won't let me enter `\n` (it gets escaped), let alone an actual newline character.

VS Code ver

[2019-08-21 12:54] gjsjohnmurray commented on #79554
@tYYGH I think it is the responsibility of the extension to housekeep the Problem entries it created. See https://github.com/microsoft/vscode/issues/23010#issuecomment-288755175 for example.

Judging by what you wrote, you're coding in Java. Which extension(s) are you using?

[2019-08-21 12:58] gjsjohnmurray commented on #79555
@vincentthong any reason you are still on 1.32.3 and haven't upgraded to the current release, 1.37.1?

[2019-08-21 12:58] bbugh commented on #79460
Yes, all of the other editor shortcuts I’ve tried work fine. I usually don’t even notice an issue opening files from the terminal unless I try to select occurrences. The issue seems to be isolated to the “select matches” behavior shortcuts.

[2019-08-21 13:15] kinglionsz commented on #79310
Thank you very much  @nhorlock @sandy081 [c8d44e2] fixed now for me.

[2019-08-21 13:16] Suyun514 opened #79572 "bash.exe / zsh.exe on Windows should `--login` arg defaultly."
- VSCode Version: 1.37.1
- OS Version: Windows 10 Pro 18362.295

Steps to Reproduce:

1. Change the default shell to Git Bash (`bash.exe`)
2. It seems that `--login` arg was not used. Because `/etc/profile` was not loaded.

Does this issue occur when all extensions are disabled?: Yes

[2019-08-21 13:24] adamstortz commented on #79515
I am not sure what detail would be helpful.  As stated in my original post, I have completely removed VS Code and all related files from my machine and reinstalled it.  Meaning I have an essentially vanilla install of VS code.

In [hang.log](https://github.com/microsoft/vscode/files/3525498/hang.log), I ran vscode with these switches:
`code --disable-extensions --verbose`

I manually inserted a li

[2019-08-21 13:27] tredition commented on #79504
![TimeSpan](https://user-images.githubusercontent.com/50625823/63435872-f6821680-c427-11e9-8f07-da070b00856c.png)

See this example from VS2017 (red box). This is the time span between the two breakpoints. An "on hover" solution would be also okay.

[2019-08-21 13:33] bpasero commented on #79460
@alexandrudima is there anything specific to that command compared to closing editor?

[2019-08-21 13:34] #77106 closed

[2019-08-21 13:41] isidorn commented on #77106
@mgabeler-lee-6rs thanks for great repro steps, I could finally reproduce the issue.
The problem was that [here](https://github.com/Microsoft/vscode/blob/19a5bd6123b0e032228a55fa8744f32a5c3b2521/src/vs/workbench/contrib/files/browser/views/explorerView.ts#L525) we were expanding the tree elements in a chain.
And it looks like the tree returns from the `expand` as soon as the element is expanded an

[2019-08-21 13:41] FBoucher commented on #49826
@al73rna It's @aaronpowell that you need to thanks ;)
Share the news I'm sure he will be happy.
I will close this request then.

[2019-08-21 13:41] #49826 closed

[2019-08-21 13:41] Shankar-Joshi opened #79573 "App freezing"
Whenever I try to run app from VS code, the app freezes after launching. However, when I try to run the same app from android studio, it runs smoothly. I love working on VS code but I have no idea why this is happening. Please help.

[2019-08-21 13:42] isidorn commented on #69163
Dup of https://github.com/microsoft/vscode/issues/77106
Fixed via a timeout
@Tyriar please let me know if you stil see this.

[2019-08-21 13:45] mgabeler-lee-6rs commented on #77106
Thanks!  I'll take a look at that build when it comes out and confirm.

[2019-08-21 13:48] SetTrend opened #79574 "Quick Fix: Prepending unused TypeScript variables with underscore doesn't rename JSDoc @param"
I'm not sure if this is a Visual Studio Code issue. I'm not even sure if the current behaviour may be by intention and correctly interpreted by JSDoc parsers:

Nonetheless, when Quick Fix solves the TypeScript linter warning: "unused function parameter" by prepending a parameter name with an underscore, it doesn't rename the corresponding JSDoc `parameter` reference accordingly:

![VS Code Undersc

[2019-08-21 14:16] GammaGames commented on #56174
Wouldn't think also fix #47879?

[2019-08-21 14:20] RMacfarlane commented on #79488
Oh, actually nevermind. What I had been doing was typing the beginning of something like "const" and waiting for suggestions to show up, pressing esc, and then trying to retrigger suggestions. Nothing shows up. But the same thing happens on stable.

[2019-08-21 14:22] #79565 closed

[2019-08-21 14:23] apryor6 opened #79575 "Provide rich debugger support for pandas DataFrame"
I build lots of Flask APIs that internally use pandas DataFrames, and almost daily I find myself jumping into the debugger; however, there is not a particularly good way to inspect the contents of DataFrame. Ideally there would be a way to, perhaps, double-click or hover on a DataFrame variable and have a popup that shows the first few rows spreadsheet-style

The Spyder IDE has something like [wha

[2019-08-21 14:29] ravishan16 commented on #79575
This is fantastic

[2019-08-21 14:37] mohsinulhaq commented on #49382
any update on this?

[2019-08-21 14:38] #78510 closed

[2019-08-21 14:38] RMacfarlane commented on #79573
@Shankar-Joshi Can you provide some more information? What version of VSCode are you using, and what OS? What is the type of the app and what steps are you taking to run it? Are you able to share the code to it? Are you using any extensions?

[2019-08-21 14:39] isidorn commented on #78510
Please note that we only show the error decoration on the root once the root gets expanded.
Reason being we do not want to pre-emptevly resolve roots for performance reasons.

verifier: have MR workspace, open the workspace configuration file and put a broken path
Make sure the root shows an error decoration in the explorer once you try to expand it.

fyi @bpasero

[2019-08-21 14:49] jkyeung commented on #79430
So far it looks like it's working in the Insiders build, thanks!

[2019-08-21 14:51] aeschli commented on #79363
@ramank775 Good catch!

[2019-08-21 14:52] erjdriver opened #79576 "Vscode error in Nativescript project"
I'm using Nativescript and when a css file is opened with the following line

`background-image: url('res://hotels');`

I get the following error in vscode

`Error: [UriError]: If a URI contains an authority component, then the path component must either be empty or begin with a slash ("/") character
    at /Users/mini/Desktop/Visual Studio Code.app/Contents/Resources/app/extensions/css-language-f

[2019-08-21 14:52] #79363 closed

[2019-08-21 15:03] crnisamuraj commented on #77562
Same error still happening, seems that it is repeated from time to time. What is happening with repo?
Cant you really take more caution? i think having broken repo is big issue especioally if it happens every 2 months....

Fatal error: E: https://packages.microsoft.com/ubuntu/18.04/prod bionic/main amd64 Packages is not (yet) available (File has unexpected size (66537 != 66619). Mirror sync in pro

[2019-08-21 15:11] jrieken commented on #79488
Ok. thanks for clarifying @v-dantch please provide repo steps, please try without extensions enabled. Select 'Extensions View > ... > Disable all Installed Extensions' and try again. Thanks.

<img width="577" alt="screen shot 2018-05-09 at 08 45 10" src="https://user-images.githubusercontent.com/1794099/39799711-82d97e00-5365-11e8-8bd8-6b6fc3500370.png">

[2019-08-21 15:14] danielo515 opened #79577 "Make git diff independent from columns"
I usually work with several columns, like 3 or even 4 some times, especially when developing the frontend.
But I never need several columns when I want to review my diff changes, I just check them one by one.
The problem with the current git diff is that it opens on whatever group you have active, making the diff to narrow to see of any use.
Here is a screenshot of what I mean:
![image](https://us

[2019-08-21 15:26] danielo515 commented on #10565
So this is a very important feature that annoys developers every single day of their lives.
I'ts have been 3 years and several duplicates since it was first reported, and I didn't saw any answer from the core team. I think we are doomed.

[2019-08-21 15:27] hypercubestart commented on #79474
@mjbvz pull request #79552  only fixes the hover popup, however I am not sure if preserving the query string is the best way to fix this issue

[2019-08-21 15:32] vietvudanh commented on #1435
I am having quite a lot of bash/python/scala files which is just a single independant file.
Sublime Text's Build System works perfectly for this purpose, with just a simple Cmd/Ctrl + B to run any file. Making tasks in VScode for every of those files is just annoying.

[2019-08-21 15:34] r3volution11 commented on #79456
Activity Monitor Screenshot: http://r3v.in/LlijA/Screen-Shot-2019-08-21-11-31-23.74.png

Process Explorer Screenshot: http://r3v.in/k3YTT/Screen-Shot-2019-08-21-11-32-24.29.png

I've seen the process explorer look different before with several instances. I don't recall it ever being so bare as it is there.

I'll try using one of the newer builds. Thanks for your help!

[2019-08-21 15:36] starcraft0429 commented on #79461
before, when I write `"` character at this moment.
 `<div class="nabvar<cursor>"`
cursor was bypassed without writing another `"` character so it was like below
`<div class="navbar"<cursor>`

so that I could write without any delete(or using navigation keyboard).

but after some update, it seems this feature broken

[2019-08-21 15:41] r3volution11 commented on #79456
VS Code Exploration Screenshots:

Activity Monitor: http://r3v.in/OQsR3/Screen-Shot-2019-08-21-11-40-18.88.png

Process Explorer: http://r3v.in/xAvgK/Screen-Shot-2019-08-21-11-39-10.53.png

[2019-08-21 15:42] sbatten commented on #79556
I think this is a dupe. https://github.com/microsoft/vscode/issues/79280
I cannot repro on the latest, please try. If you can still reproduce, please reopen with additional steps.

[2019-08-21 15:42] #79556 closed

[2019-08-21 15:51] isidorn commented on #79556
Yeah, looks better with latest. Thanks

[2019-08-21 15:53] azenapow opened #79578 "PROBLEMS window showing '\' (backslash) while Remote Development"
I develop Linux application in Windows VSCode by Remote Development extension.

Some days ago, problems window showing backslash and does not work. (file opening)
File name does not show to me. only showing backslash.

![vscode_file_location_backslash](https://user-images.githubusercontent.com/16533954/63446675-9914b680-c475-11e9-961d-785de3c4e1f0.png)

![vscode_file_location_error](https://user-i

[2019-08-21 15:55] IllusionMH commented on #79567
Looks like duplicate of #22772

Problem is with files in root folder. If your files will be in e.g. `src` folder it would work just fine because path will be like `serc/test.ts:2:13` which can be detected as path and converted to link.

[2019-08-21 15:56] tristan957 commented on #78844
@FFY00 in the issue the team specifically asks you to point out the lines that need changing. I am sure someone would like to fix it, but you haven't responded in 8 days with the answer.

[2019-08-21 16:06] harujii opened #79579 "Japanese GUI font-family"
I suggest about Japanese GUI font-family. (not editor font family)

Current vscode specified "Meiryo" in Japanese font-family, but normally Windows 10 using "Yu Gothic UI" as Japanese system font.
We should add Yu Gothic UI to vscode font-family because Yu Gothic UI has a better character width and rendering than Meiryo.

#### Current (workbench.main.css)
[code]

#### Suggestion (workbench.main.cs

[2019-08-21 16:08] sbatten commented on #79475
I've tried using the native titlebar with a bunch of my old workspaces and haven't been able to repro, yet. I'm hoping someone else can repro this.

[2019-08-21 16:10] jrieken commented on #43768
No update, still the old problems/tasks

1. move current implementation from `textFileService` to `fileService`
2. add events for create/deletion of files
3. support creating/moving/deleting N files at once (so that we can reflect that correctly in the API)
4. adopt N files support in explorer (and others?)
5. expose extensions API

@DanTup you are welcome to help out, step 1 and 2 should be relat

[2019-08-21 16:11] JuryA opened #79580 "Window rendered incorectly after last update"
Issue Type: <b>Bug</b>

After yesterday update of VS Code Insiders, window and it's parts are not rendered correctly.

VS Code version: Code - Insiders 1.38.0-insider (ada79d72be36ecbfed6f88bb16edcc5cc3f5c2a8, 2019-08-21T13:26:22.457Z)
OS version: Windows_NT x64 10.0.18932

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8650U CPU @ 1.90GHz (8 x 2112)|
|

[2019-08-21 16:12] sandy081 commented on #79310
Ok, it could have been broken by some intermediate changes. Thanks for update.

[2019-08-21 16:12] #79310 closed

[2019-08-21 16:17] r3volution11 commented on #79456
Approximately 30 minutes after opening, on the regular build, the CPU usage is back to normal.

[2019-08-21 16:17] #79120 closed

[2019-08-21 16:18] dalongi opened #79581 "Allow settings UI TOC to be resized"
The TOC in settings is rather narrow, and frequently truncates extension names. This feels especially unnecessary when using a wider display.
![Screen Shot 2019-08-21 at 9 11 34 AM](https://user-images.githubusercontent.com/1166263/63448853-b9039600-c3f3-11e9-9333-446b8dbaa86e.png)

This is not only triggered by extension names, but also affects built-in settings in non-English languages:
![Screen

[2019-08-21 16:19] pavelfeldman opened #79582 "Debugger: do not render expansion control on debug session when there are no children"
Forked from https://github.com/microsoft/vscode/issues/79121.

As seen in the screenshot, session is expandable, yet has no children. Probably due to the elements' being identified as session, not thread.

![threads](https://user-images.githubusercontent.com/883973/63370329-cd358d80-c336-11e9-8e8c-57a5d5b04fe4.png)

@isidorn

[2019-08-21 16:21] PandawanFr commented on #49826
Idk if we should close this issue. The Profile Switcher extension is [kind of a hack](https://github.com/Microsoft/vscode/issues/40239#issuecomment-520566528). It uninstalls the extensions completely rather than enabling/disabling them (due to a limitation in the VSCode Extensions API).

So the two solutions I can think of are:
1. Make an official extension group feature incorporated into VSCode (

[2019-08-21 16:21] pavelfeldman opened #79583 "Debugger: when inlining thread into session, use thread's name as a label"
When the web page navigates between the URLs, its thread name changes. I'd be great to either allow session to be renamed or to render the thread name in the tree instead of the session name. I can force thread rename via removing and re-adding it back today, but I can't force the session rename.

Forked from https://github.com/microsoft/vscode/issues/79121

@isidorn , @weinand

[2019-08-21 16:22] jregistr commented on #78844
🤞 This is certainly my most anticipated feature in this release cycle. This is such a must for anyone in the JVM community.

[2019-08-21 16:22] octref opened #79584 "Show CSS deprecated property with CompletionItem#deprecated"
Ref API: https://github.com/microsoft/vscode/issues/50972

![image](https://user-images.githubusercontent.com/4033249/63449562-34b21280-c3f5-11e9-8884-09b7e60f073e.png)

[2019-08-21 16:22] jrieken commented on #50972
adding @octref since his CSS language brain has deprecation-information

[2019-08-21 16:25] ramank775 commented on #79363
@aeschli  Thanks. 👍

[2019-08-21 16:30] chibibiscuit commented on #71990
@d00lar Have you tried the steps in my post to clear your recently opened files? Doing that, and then restarting VS Code was enough to resolve the problem for me, with no recurrence since.

[2019-08-21 16:35] markdeloura commented on #79580
Seconding, with an image. Same version.
![190821-vscode-bug](https://user-images.githubusercontent.com/1282817/63450492-f87fb180-c3f6-11e9-81b4-6bebf1b96b56.jpg)

[2019-08-21 16:40] gjsjohnmurray commented on #79581
@dalongi  a probably-simple workaround might be to add the full name of the category as a hover tip for the truncated text.

[2019-08-21 16:40] pavelfeldman opened #79586 "Debugger: make completions play nicely with the bracket matching"
Follow up to https://github.com/microsoft/vscode/issues/79195

Precondition: debug adapter defines completion triggers to include `[` and `'`.

Steps:
- Type characters, one by one: `window['doc`
- On the screen you will see `window['doc<|>]`, where <|> is caret
- Notice the closing `]` that was created by bracket matching
- Hit enter to accept the `['document']` completion
- On the screen you wil

[2019-08-21 16:47] johi opened #79587 "CTRL click on other file named the same as already opened opens already opened file again"
I have a vue project with files src/api/goals.js (already opened) and src/store/modules/goals.js. Now when I CTRL and click on the second it opens the first in a split screen, not what I expected ;-) Of course the expected result is, that the other one, that  I clicked on is opened in the split.

[2019-08-21 16:52] Tyriar commented on #79572
Related https://github.com/microsoft/vscode/issues/77652

[2019-08-21 16:53] sbatten commented on #79224
This is caused by the Sass extension contributing actions to the menu without filtering to their view in the when clause. I think it is strange that an extension can accidentally bleed everywhere as I would expect by default that my command only shows up in my view.

[2019-08-21 16:53] Tyriar commented on #77562
VS Code is not in that repo, it's in https://packages.microsoft.com/repos/vscode, why are you telling us?

[2019-08-21 16:54] #79224 closed

[2019-08-21 16:55] Tyriar commented on #79475
Just happened again when I opened the first new window of the morning. Successive new windows don't show the problem though.

[2019-08-21 16:58] RMacfarlane commented on #79456
Ah, ok! The last process explorer screenshot and your observation that it stops some time after opening make me think this is related to a telemetry event we log on startup. We log data about what file types are in the current workspace so we get a sense of what languages are being used in VSCode. This is from within the "shared process" and involves walking the file tree, I think this would be ex

[2019-08-21 17:02] sbatten commented on #79580
Thanks for reporting. Does this reproduce after the initial update for either of you? If so, is it on the same folder/workspace or another one every time?

[2019-08-21 17:03] sbatten commented on #79580
@markdeloura can you verify your windows build version such as `OS version: Windows_NT x64 10.0.18932`

[2019-08-21 17:04] gregvanl commented on #79313
Doc feedback verbatim 8/6/2019: "How do I have both an integrated powershell and integrated command prompt and maybe others open at same time?  It only lets me start up a terminal based on the default? So would I just have to change the default all the time? What am I missing?"

[2019-08-21 17:05] sbatten commented on #79475
/duplicate #79580

[2019-08-21 17:07] r3volution11 commented on #79456
Yes, it still happens.

Process Explorer: http://r3v.in/nYszL/Screen-Shot-2019-08-21-13-05-14.79.png
Activity Monitor: http://r3v.in/ziapn/Screen-Shot-2019-08-21-13-05-51.52.png

You got my hopes up. 😆

[2019-08-21 17:08] Tyriar commented on #77131
@bpasero I don't mind so much on how this is done, but if the user has a custom keybindings for the regular undo/redo commands it should work in the custom editor too.

[2019-08-21 17:10] Tyriar commented on #79475
@sbatten while related, it might be a different issue? The status bar was affected for #79580 but not this

[2019-08-21 17:10] cynecx opened #79588 "No syntax-highlighting in tooltip (Insiders)"
[code]

Steps to Reproduce:

1. Open any typescript/javascript file and hover over a symbol
2. A tooltip shoud appear with information about the symbol, however the syntax-highlighting is disabled.

![colour](https://user-images.githubusercontent.com/5961244/63452746-50460900-c447-11e9-8e33-8914f7eb902e.png)

Does this issue occur when all extensions are disabled? Yes

[2019-08-21 17:11] Tyriar commented on #79175
It's a pretty involved issue that will probably eventually be tackled by @jerch, lots of history you can read on xtermjs/xterm.js#1709 and linked issues/prs.

[2019-08-21 17:12] octref opened #79589 "Code hover is broken"
Good, stable:

![image](https://user-images.githubusercontent.com/4033249/63452738-db011680-c3fb-11e9-8858-a51dd1b612fb.png)

Bad, insider:

![image](https://user-images.githubusercontent.com/4033249/63452748-e0f6f780-c3fb-11e9-9649-5b4025c6d1c4.png)

[2019-08-21 17:19] r3volution11 commented on #79456
I guess another is: should I use something other than SMB?

[2019-08-21 17:24] RMacfarlane commented on #79456
Haha, sorry! I actually still think it's this code that's a problem, the shared process is still high in the screenshot you sent and there's not much heavy lifting it does besides that.

Looking at the code that logs this event - if telemetry is disabled, it still does the whole computation and sends it to the telemetry service. The service checks if telemetry is disabled at that point and will ig

[2019-08-21 17:27] starkat99 commented on #79336
Same thing on Insider's build, here's a new set of performance captures using insiders

[Profile-20190821T132035.json.txt](https://github.com/microsoft/vscode/files/3526507/Profile-20190821T132035.json.txt)
[status.txt](https://github.com/microsoft/vscode/files/3526508/status.txt)
[CPU-20190821T132143.cpuprofile.txt](https://github.com/microsoft/vscode/files/3526509/CPU-20190821T132143.cpuprofile.

[2019-08-21 17:30] DominicTobias opened #79590 "Snippets are too slow"
- VSCode Version: all versions
- OS Version: all OS (tested Mac and Windows)

Steps to Reproduce:

1. Try a snippet
2. Observe it's very slow, you have to visibly wait even for longer shortcuts such as "log" unless you're a really slow typer

Note here how I have to wait until a menu comes up otherwise the shortcut is ignored:

![shortcuts](https://user-images.githubusercontent.com/760314/63453948

[2019-08-21 17:30] FFY00 commented on #78844
I am not a JavaScript developer, still I have spent hours trying to fix this. That's why I opened the issue. If I knew how to fix it I would just open a pull request. The vscode team knows the codebase and given that this is not a difficult issue I am pretty sure they would be able to track down the source easily. I have projects that actually need my attention, I can't keep wasting time here just

[2019-08-21 17:31] roblourens commented on #79447
This is just due to the definition of `\b` but we should use our custom wordSeparator for this process too.

[2019-08-21 17:37] walter-a-jablonowski commented on #77324
Thanx. I would really like 2 see that feature.

[2019-08-21 17:41] NDelt opened #79591 "Syntax Colorization for C/C++ standard library files has disappeared"
- VSCode Version: 1.37,1
- OS Version: 18362.295

Steps to Reproduce:

![Honeycam 2019-08-20 01-20-02](https://user-images.githubusercontent.com/46282492/63454360-a8036500-c485-11e9-8a0e-5a15b9f4a36f.gif)

- Compiler: Visual Studio 2019

Does this issue occur when all extensions are disabled?:
- If all extensions are disabled, `Go to definition` feature doesn't work.(Ctrl+click)

[2019-08-21 17:43] #79487 closed

[2019-08-21 17:46] #79589 closed

[2019-08-21 17:47] Tyriar commented on #79475
In console:

[code]

[2019-08-21 17:47] Tyriar commented on #79475
![image](https://user-images.githubusercontent.com/2193314/63455182-1f42e580-c401-11e9-878c-29abdbbde076.png)

[2019-08-21 17:47] mjbvz commented on #79588
Duplicate of #79589

[2019-08-21 17:47] #79588 closed

[2019-08-21 17:49] mjbvz commented on #79574
This feature is powered by the TypeScript project. Can you please [file a bug report upstream](https://github.com/microsoft/TypeScript/issues/new) that includes a small example

Closing as upstream

[2019-08-21 17:49] #79574 closed

[2019-08-21 17:50] Tyriar commented on #79475
`asDomUri` returning undefined:

https://github.com/microsoft/vscode/blob/6e43f06929b810ab02fecc4d68d9f533271d7027/src/vs/base/browser/dom.ts#L1191-L1199

[2019-08-21 17:50] mjbvz commented on #79563
Thanks. I believe this issue has the same root cause as https://github.com/microsoft/TypeScript/issues/30550

Closing as upstream

[2019-08-21 17:50] #79563 closed

[2019-08-21 17:56] mkanet commented on #79463
@RMacfarlane thank you so much for shedding some light on this.  Based on your last comment, I'm going to close this issue and open a [new issue](https://github.com/microsoft/vscode-python/issues/7050) for Python on Github.  I'm going to see if they can either offer a workaround or add a setting to allow overriding the base UI theme for Jupyter.

[2019-08-21 17:56] #79463 closed

[2019-08-21 17:58] karrtikr opened #79592 "Removing vscode python survey prompt"
Python extension now has it's own survey prompt, so we would like to remove this. I've been trying to find the file where the survey is implemented, so I can submit a PR to remove it. Can you please point me to the implementation?

[2019-08-21 17:59] sbatten commented on #79475
@alexandrudima looks like this could be caused by 623855b7c45993cf3eae9bef262f5222cd9fd827

[2019-08-21 18:13] SetTrend opened #79593 "Having multiple files selected in Explorer and hitting enter only opens first selected file"
Selecting multiple files in VS Code Explorer panel, having setting `"workbench.list.openMode"` set to `"doubleClick"` only opens the first of the selected files when hitting the <kbd>ENTER</kbd> key.
![VS Code multiple selection issue](https://user-images.githubusercontent.com/9283914/63456738-e2eaa600-c44f-11e9-87ba-212a5debfa15.png)

However, _all_ selected files are supposed to open in the curr

[2019-08-21 18:16] renatoc8 opened #79594 "Search Details is always expanded after launch despite collapsing it previously"
- VSCode Version: 1.37.1 (system setup)
- OS Version: Windows_NT x64 10.0.18362 (Windows 10)

Steps to Reproduce:

1. Open the Search dialog by clicking on the magnifying glass or pressing Ctrl+Shift+F.
2. Press the Toggle Search Details button to collapse/hide the Search Details section.
3. Restart VSCode, and open the Search dialog again (the Search Details section will be expanded again despite

[2019-08-21 18:16] Spirarel commented on #20889
Just want to add another voice in support of this request. It's one of my most missed features coming from neovim (w/ Mundo). I honestly, doubt many people even realize that the write & undo experience of an editor could be so much better. Even for nonpower-users this handles the case of accidentally obliterating the redo-history with a miskey-press.

[2019-08-21 18:21] mjbvz commented on #23927
Yes I prefer option 2 as well.

Here's what some other projects do:

* Typescript - Has a `kind` and then a list of `kindModifiers` (as a space separated string)
* Rosyln — I believe it just uses a flat list of kinds: http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Tags/WellKnownTags.cs,65cd20bb5138f97e

From an api point of view, I like the TypeScript approach that has an array of modi

[2019-08-21 18:31] r3volution11 commented on #79456
Yea, I'd love to take advantage of the remote ssh extension. I'm actually one of the first to write up an issue about it (https://github.com/microsoft/vscode-remote-release/issues/25).

What I don't understand is that this problem doesn't occur with all of my projects on this VM. There's one in particular and I can not for the life of me figure out why. 7 projects, all very close to the same but d

[2019-08-21 18:33] mjbvz commented on #79515
Ok, try the following:

1. In VS Code, run the `Open Developer tools command`
1. This should open a chrome dev tools instance
1. Navigate to the network tab
1. Clear the existing requests
1. Now click on an extension in the extensions view to load its details

When I do this, I see:

![Screen Shot 2019-08-21 at 11 31 35 AM](https://user-images.githubusercontent.com/12821956/63458293-69c76080-c407-

[2019-08-21 18:40] RMacfarlane commented on #79456
Can you try running `code --status` from the terminal when that project is open, and when a project without the problem is open, and report the output? It should include a "Workspace Stats" section about number and types of files

[2019-08-21 18:43] crnisamuraj commented on #77562
That's strange, because that's url thats appended to /etc/apt/sources.list by .deb package during install

[2019-08-21 18:46] adamstortz commented on #79515
This is what I see, note that the Manifest has a status 200 but time is 'Pending'.
So it looks like the request is getting a response, but vscode is crashing mid-stream:
<img width="791" alt="Screen Shot 2019-08-21 at 1 41 00 PM" src="https://user-images.githubusercontent.com/5168605/63459011-6e951000-c419-11e9-8603-0ca2668c7665.png">

[2019-08-21 18:47] Pelerin88 commented on #77004
I feel it's bad idea to advice with community about such aspects as graphic design. Most people has a lack of taste even if they are great engineers. So icons should be developed by professional designer (even calligraphic designer). This one of the reasons I switched from Visual Studio - its horrible and unreadable UI with thin lines looking like a mess. So would also like to turn back to origina

[2019-08-21 18:48] rebornix commented on #79531
It's already fixed in latest Insiders, thanks for your report!

[2019-08-21 18:48] #79531 closed

[2019-08-21 18:49] rebornix commented on #79039
Fixed in master. With next Insiders, you should be able to revert the keybindings by adding following into your keybindings.json

[code]

[2019-08-21 18:50] mjbvz commented on #79515
Please share the details of the pending request

[2019-08-21 18:54] mjbvz commented on #79380
@brunoscopelliti

1. Have you configured a custom TypeScript version in your workspace?
1. Are you loading a file on a network drive?
1. Does this happen for all projects?
1. If not, can you provide details on the type of project it does happen for
1. Can you share the last 20 or so lines of the logs

[2019-08-21 18:54] alanhoyle opened #79595 ""Zap-to-char" or "delete to char" function/extension?"
Emacs and vi have similar features that let you delete everything up until a specific character.  Emacs has "zap-to-char" and vi has "dt".  They behave slightly differently, but either would be very useful.

Imagine, for example, you have the following string, and the cursor is where the "|" is:

    Hello |death, goodbye cruel world!

In emacs, if you hit "meta-z" and then hit "l" it would delete

[2019-08-21 18:55] mattwoodnyc commented on #8017
Reading this PR, I understand why they were introduced, but when you combine rounded-corners with very thin stroke widths, you make the user do a lot of work.

The trash can is blurry and split panel looks like a pillow:
![Screen Shot 2019-08-21 at 2 44 44 PM](https://user-images.githubusercontent.com/566633/63459888-6510a580-c423-11e9-99bb-f0d513e1a226.png)

I'm not able to see the + in these fir

[2019-08-21 18:55] sanket-bhalerao commented on #79021
@isidorn launch.json is the default config for chrome. launch and attach.
nothing else.

[2019-08-21 18:59] brightest-dazes commented on #79595
Please don't do that God loves you

[2019-08-21 19:03] r3volution11 commented on #79456
Running that gives me the following error:

`[51153:0821/150327.109452:WARNING:dns_config_service_posix.cc(181)] dns_config has unhandled options!`

[2019-08-21 19:04] alanhoyle commented on #79595
I'm trying to delete the bad things more efficiently!  ;-)

[2019-08-21 19:04] markdeloura commented on #79580
@sbatten Sorry, I had assumed versions were same on a quick glance - but that's not true, OS build is different. See below for copy/paste.

Also, I just set up a new project (npx create-react-app foobarapp), then did open folder (menu) on that top level folder foobarapp and clicked on a file once loaded... wound up with very similar result. Image below.

Version: 1.38.0-insider (user setup)
Commit

[2019-08-21 19:05] thomasrea0113 opened #79596 "in serverReadyAction, apply uriFormat regardless of whether 'pattern' matches a port or not"
- VS Code Version: 1.37.1
- Log file (set `"trace": true` in launch config):

Steps to reproduce:

1. Create a Django (v 1.10 in my case) app
2. Debug using the VS Code python extension

First of all, this issue should be independent of my specific application. Below is the output of django runserver using the python debug plugin:

Now I have the following launch config, which works as expected:

[2019-08-21 19:05] adamstortz commented on #79515
I don't know how to do that, because the entire app crashes.  Including the developer tools.

However, I tested it again and this time all the requests were completed.  So, I don't think it is network or content related.  I have tried many different extensions and also Markdown files.  and all have the same behavior.
<img width="2039" alt="Screen Shot 2019-08-21 at 2 02 45 PM" src="https://user-im

[2019-08-21 19:17] r3volution11 commented on #79456
I think Code is upset with me. I opened a local, small project and the shared process ate up the CPU as well this time. I quit Code but the processes were left hanging and needed to be force quit. Reopened the project in Code and ran `code --status` and it gave me this:

`Version:          Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:16:34.800Z)
OS Version:       Darwin x64

[2019-08-21 19:17] #78036 closed

[2019-08-21 19:23] tamimmirza opened #79597 "Java Installer not detecting JDK 12.0.2"
- VSCode Version: 1.37.1
- OS Version: Windows 10 (1809)

Steps to Reproduce:

1. Run the installer and you get the following message:

![Annotation 2019-08-22 002244](https://user-images.githubusercontent.com/35456031/63461851-0410be00-c473-11e9-84d1-d92cc502d277.jpg)

Does this issue occur when all extensions are disabled?: No

[2019-08-21 19:33] sean-mcmanus commented on #23927
The result our C/C++ extension wants is just the ability to have our completion/symbol icons match VS:
Completion has a max of 1 modifier:
<img width="99" alt="image" src="https://user-images.githubusercontent.com/19859882/63460538-98473a80-c40b-11e9-9122-0eec1f37f36f.png">

Symbols has a max of 2 modifiers:
<img width="112" alt="image" src="https://user-images.githubusercontent.com/19859882/63460

[2019-08-21 19:38] ErikHumphrey commented on #8017
After getting used to them a bit, the new icons seem better overall.

[2019-08-21 19:39] r3volution11 commented on #79456
Okay, I let it just sit there doing it's thing. Here it is:

<details>
<summary>Not Working Correctly Log</summary>
Version:          Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:16:34.800Z)
OS Version:       Darwin x64 19.0.0
CPUs:             Intel(R) Core(TM) i7-6920HQ CPU @ 2.90GHz (8 x 2900)
Memory (System):  16.00GB (0.41GB free)
Load (avg):       4, 3, 3
VM:

[2019-08-21 19:53] fredheidrich commented on #52855
Similar issue yesterday. Vscode wanted to update an automatic update, computer slowed down to a halt for a second, update failed and rebooted explorer.exe. Now vscode is no longer on my system.

[2019-08-21 19:56] Tyriar commented on #77562
It shouldn't be 🤔

https://github.com/microsoft/vscode/blob/026b470f49bc27ace5b270521c837657d0794970/resources/linux/debian/postinst.template#L59-L72

[2019-08-21 19:58] Tyriar commented on #79475
I'm guessing this is the problem?

https://github.com/microsoft/vscode/blob/026b470f49bc27ace5b270521c837657d0794970/src/vs/base/browser/dom.ts#L1191-L1194

Shouldn't strict null checks cover that case 🤔

[2019-08-21 20:02] NOMADE55 commented on #52855
Just as a comment for those who had the same issue, when I reinstalled
(yes, quite bothersome) VSCode all my extensions, configs and keybindings
where there.
So, even though this error/unexpected behavior is pretty inconvenient, it's
not *THAT *critical I'd say.

El mié., 21 ago. 2019 a las 16:55, Frederick Heidrich (<
notifications@github.com>) escribió:

[2019-08-21 20:06] xorscode commented on #78079
Quick update, @deepak1556

Removing 32 bit VS Code and installing 64 bit VS Code has fixed the problem.

[2019-08-21 20:14] mickaelistria opened #79599 "CSS Language Server fails if client doesn't set `dataPaths` in InitializationOptions"
- VSCode Version: 1.37.1
- OS Version: Fedora 30

I'm extracting the CSS Language Server for usage in 3rd party IDE (Eclipse IDE).
I noticed that if I start the CSS-LS without passing a `dataPaths` element to initialization, the LS will fail because of `TypeError: Cannot read property 'map' of undefined`.
One of the important lines in the stack trace is https://github.com/microsoft/vscode/blob/mas

[2019-08-21 20:18] tariqporter commented on #6328
Any extension to perform this? It is a much needed feature!

[2019-08-21 20:19] mcarpenterjr commented on #78720
I haven't the slightest idea how the device got into read-only and I have no idea how to trigger that again. :man_shrugging:

Files were not dirty.

Before running FSCK and Restarting, everything was current.
After the reboot, VSCode opened with the previous files, and they were short some lines and edits that were previously made and committed to the project's repo.

Just found it odd that VScode

[2019-08-21 20:21] mickaelistria commented on #79599
Submitted PR https://github.com/microsoft/vscode/pull/79600 for this issue.

[2019-08-21 20:24] kcaze commented on #42101
It looks like in `getUriLabel()` in [`LabelService:130`](https://github.com/microsoft/vscode/blob/master/src/vs/workbench/services/label/common/labelService.ts#L130), the URIs are already computed relative to a workspace root when possible.

Is there still a need abbreviate the paths further? If so, one possible approach is to compute the minimal path segments needed to disambiguate each quick ope

[2019-08-21 20:25] evilrix commented on #25887
I can't believe this is lacking as a feature. It's the same in Visual Studio! Without the ability to compare and merge changes, having a diff tool is almost pointless.

[2019-08-21 20:38] rebornix commented on #15727
Latest Insiders ships the first version of multiple line find and replace support in the Find Widget. You can press `Ctrl+Enter` to insert new lines in the input box.

![multiline](https://user-images.githubusercontent.com/876920/63466844-fd555d00-c418-11e9-8ece-b9c61aa86706.gif)

[2019-08-21 20:43] tamimmirza commented on #79597
Sadly, the referenced issue is not near similar to what I have as I have not installed any Java extensions for VS Code prior to running the Java Installer. I only installed JDK 12.0.2 (64-bit) and tried to run the installer and got the above problem.

[2019-08-21 20:43] dudewad commented on #52855
@NOMADE55 Just to clarify, you think a piece of software _uninstalling itself_ during a supposed update cycle is not a critical issue? If a piece of software I wrote _uninstalled itself_ when it was supposed to be _improving itself_ I would panic and fix it immediately - this is the kind of bug I consider unacceptable and would actually switch IDEs over.

[2019-08-21 20:47] mjbvz commented on #79597
Please file this against the java extension

[2019-08-21 20:47] #79597 closed

[2019-08-21 20:48] #79595 closed

[2019-08-21 20:57] NOMADE55 commented on #52855
@dudewad No, I'm just an user of this IDE, so my message was sort of a message for other users like me who might think they've lost everything. I'm do not participate actively on this repo nor I think my message would stop any active debugging of this issue.

[2019-08-21 20:58] n8crwlr opened #79601 "editor.hover.enabled is annoying sometimes"
Hello,

in relation to https://github.com/microsoft/vscode/issues/52821#issue-335448818 i feel that the **hover** popup options should be optimized.

Principially, **hover** popup can be enabled for mouse or with Key `CTRL+K`, `CTRL+I`

The first one, `"editor.hover.enabled": true` shows it after delay _every time mouse hovers_, the second one, `CTRL+K`, `CTRL+I`, opens the popup, but as far as i

[2019-08-21 21:06] mjbvz commented on #77635
It looks like the example project is not complete so it is difficult to understand what the expected behavior is supposed to be. For example `'common/utils/utils'` does not exist.

Try adding `"checkJs": true` to your `jsconfig` to make sure the imports are being resolved properly in the first place

[2019-08-21 21:09] nwadhera opened #79602 "plantuml does not show up in preview in md file"
Issue Type: <b>Bug</b>

1. Install plantuml extension
2. write markdown with plantuml
3. Preview works
4. Next day does not work

tried
restart
reload
uninstall/reinstall extension

plantuml install on the system works with alt d to show preview

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summa

[2019-08-21 21:32] RMacfarlane commented on #79602
@nwadhera Do you remember if you updated VSCode between when the extension worked and did not work?

[2019-08-21 21:34] RMacfarlane commented on #79587
Hey @johi, what version of VSCode are you seeing this on? Are you clicking on an import statement within a file, or a file in the sidebar, or somewhere else?

[2019-08-21 21:36] FBoucher commented on #49826
@PandawanFr that would be a much better solution of course!
It would need to be integrated into VSCode, as it will look very suspicious if an extension disables other extensions.

I'm happy to reopen it if the product team agree that it makes sense...

/cc @sandy081

[2019-08-21 21:38] octref commented on #79599
Fixed by #79600.

[2019-08-21 21:38] #79599 closed

[2019-08-21 21:46] RMacfarlane opened #79603 "Issue running tests in linux build environment due to libdbus"
1. Copy the Dockerfile and xvfb.init files for the linux build agent to the root of local copy of VSCode
2. Run the `Reopen folder in container` command on VSCode and select the option to use the existing Dockerfile
3. Install node with `curl -sL https://deb.nodesource.com/setup_10.x | sudo -E bash -` and then `apt-get install -y nodejs`
4. Install yarn with
[code]
5. Clean and rebuild with `yarn`

[2019-08-21 21:47] sana-ajani commented on #79592
Hi Karthik, we currently prompt users for this Python NPS survey: https://www.research.net/r/G7ZBPW7

I can replace this survey with another one or totally remove it. Btw, what is the new survey you are pointing to or what is the new criteria for showing it?

[2019-08-21 21:50] RMacfarlane commented on #79603
Hmm, actually, I'm wondering if there's some other issue I'm running into. I'm now looking at the build logs for linux, and they also print the error about `libdbus`, but then somehow continue

[2019-08-21 21:54] rudycazabon commented on #79123
Greetings Rob,

I finally narrowed down the issue.  Tho' I have not taken in Windows 10 updates, my OpenSSH (C:\Windows\System32\OpenSSH) bins are NOT playing nice with VSCode.

As a temporary measure I am using the SSH bins from Cygwin64 and these are enabling my local VSCode Insiders v1.38.0-insider (user setup) and the Remote-SSH (nightly) to work correctly.

I ask that you please consult your

[2019-08-21 21:55] RMacfarlane commented on #79553
It looks like the download of `electron` is failing because of a network issue. Can you see if any of the solutions in https://github.com/atom/apm/issues/174 work for you?

[2019-08-21 22:00] Ribodou commented on #56174
Well, the extension I was talking about, "scrolloff", could possibly fix #47879, but I don't think fixing this current issue would fix #47879.

[2019-08-21 22:01] karrtikr commented on #79592
Hi Sana. We've already implemented the prompt as stated in the issue https://github.com/microsoft/vscode-python/issues/6752.

We are randomly sampling 5% users making sure the same user is not prompted in 12 weeks again. Users sampled will be seeing the survey after 1 hour.

I am working on https://github.com/microsoft/vscode-python/issues/6957 right now, where I need to remove VSCode prompt.

![i

[2019-08-21 22:05] Ribodou commented on #47879
There is an extension, named "scrolloff", that may help you. If you activate "scrolloff.alwaysCenter", then when you'll edit a line, this line will be kept at the center of your screen.
You can still scroll with your mouse, but as soon as you hit your keyboard, you automatically scroll to the line you're writing on.

[2019-08-21 22:28] RMacfarlane commented on #79591
@NDelt How large is the standard library file you opened? We disable syntax highlighting for performance reasons if the file is larger than 20MB or if it has more than 300K lines

[2019-08-21 22:43] mjbvz commented on #79513
Please share an example project and steps to reproduce this. I don't see this in a very simple project:

![Screen Shot 2019-08-21 at 3 42 57 PM](https://user-images.githubusercontent.com/12821956/63473452-5ed1f780-c42a-11e9-9c0b-1026155e7cec.png)

[2019-08-21 22:46] GammaGames commented on #56174
If the setting acted like @JavierReyes945 suggested it would essentially be "typewriter" scrolling, always keeping the line you're editing in the center of the editor pane vertically

[2019-08-21 22:47] GammaGames commented on #47879
scrolloff also has the following in its readme:

[2019-08-21 22:52] #62566 closed

[2019-08-21 22:52] nwadhera commented on #79602
Yes I think there was an update pending.

How can I revert that?

Thanks

On Wed, Aug 21, 2019, 2:34 PM Rachel Macfarlane <notifications@github.com>
wrote:

[2019-08-21 23:00] mjbvz commented on #79602
Please file this issue against the plantuml extension

[2019-08-21 23:00] #79602 closed

[2019-08-21 23:04] roblourens commented on #79475
Not just windows, also got it on Mac, every window is totally broken.

[2019-08-21 23:18] rebornix commented on #79391
@Daijobou can you please provide recordings/gif to help troubleshoot as I can't reproduce it.

[2019-08-21 23:18] EbXpJ6bp commented on #79562
Similar:

https://github.com/microsoft/vscode/issues/79580

https://github.com/microsoft/vscode/issues/79475

[2019-08-21 23:25] rebornix commented on #78733
Didn't see the notification before. @roblourens we can archive that without `document.activeElement`

* Read from context key `findInputFocused` to check if it's focused or not.
* If you can get active text editor, then you can resolve the find controller bind to it by `let controller = CommonFindController.get(editor);`, with which you can get the state of the query, replacement and options.

[2019-08-21 23:29] rebornix commented on #79270
that's weird, there should be no difference between writing in a markdown file or other languages. Do you have preview open when writing in the markdown file?

[2019-08-21 23:35] mjbvz commented on #70014
During compile with `allowJs`, TS will try to copy any js files into the `outDir`. Since you have not specified any `outDir`, this would result in TS copying the input js file to the current directory and overwriting the one already there. This usually is not expected and indicates a configuration mistake

Try changing the `outDir` in your `tsconfig` to avoid this

[2019-08-21 23:35] #70014 closed

[2019-08-21 23:53] hosbied opened #79604 "Cannot Connect To The Extentions marketplace"
Issue Type: <b>Bug</b>

Hello,vscode team
i couldn't install any extention or access to marketplace .
And it  gives me this  message **<"we cannot connect to the extentions marketplace at this time , please try again later.">**

_This happened  after new update._

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.18362

[2019-08-22 00:03] roblourens commented on #79321
Good analysis, if I disable console wordwrap, I see the same.

[2019-08-22 00:06] roblourens opened #79605 "New window with no selected panel item"
I keep getting a panel open with no selected tab:

![image](https://user-images.githubusercontent.com/323878/63476502-f9840380-c435-11e9-8e4c-36da21603c11.png)

I can't figure out why this is happening, it must be related to which panel I had focused the last time the window was open. But I have seen it many times in the past couple days. Is this related to grid stuff and how can I get more info?

[2019-08-22 00:09] roblourens commented on #79095
You can set this up using the preLaunchTask in your debug config. See this page and the "tasks" docs for details: https://code.visualstudio.com/Docs/editor/debugging.

The second, I discourage people from using vscode as administrator. I am not sure what issue you are seeing exactly, it should work fine as administrator. But I don't really support that use case.

[2019-08-22 00:09] #79095 closed

[2019-08-22 00:09] roblourens commented on #79095
It's possible that Chrome just doesn't want to run as administrator, since the problem seems to be with Chrome.

[2019-08-22 00:20] #77785 closed

[2019-08-22 00:24] rebornix commented on #78544
No longer test if the default chosen keyboard layout is U.S as it would fail locally when using ISO layouts.

[2019-08-22 00:24] #78544 closed

[2019-08-22 00:31] mjbvz commented on #75492
I've tried to reproduce this in a simple project but have not been able to:

![Screen Shot 2019-08-21 at 5 26 53 PM](https://user-images.githubusercontent.com/12821956/63477289-546b2a00-c439-11e9-8fc9-df43ba0a71ef.png)

To help investigate this further, can you please share small example project that demonstrates the issue.

[2019-08-22 00:34] mjbvz commented on #78687
Thanks for the example code. I tested it using TypeScript 3.5.1 in VS Code but can't reproduce the performance problem. Can you provide some additional context, such as a small example project, that demonstrates the original performance problem?

[2019-08-22 00:35] roblourens commented on #79581
I don't really want to make things wider by default right now but a fancier UI would let you resize the TOC to your preference. I will add a tooltip now, should have had that already.

[2019-08-22 00:36] roblourens commented on #78733
Oh interesting, thanks

[2019-08-22 00:37] andremacola commented on #34407
Apparently issue #73828 is fixed on:

Version: 1.38.0-insider
Commit: ada79d72be36ecbfed6f88bb16edcc5cc3f5c2a8

Will test more in the next days.

[2019-08-22 00:37] robinbudd opened #79606 "Include path not passed to clang compiler"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2019-08-22 00:38] mjbvz commented on #70711
Closing this as an upstream issue. This could be https://github.com/electron/electron/issues/19150.

It'd help if you could create a minimal electron repo of this issue and file that against electron

[2019-08-22 00:38] #70711 closed

[2019-08-22 00:39] mjbvz commented on #72505
Same root cause as #55655

[2019-08-22 00:39] #72505 closed

[2019-08-22 00:40] JacksonKearl opened #79607 "TS/JS missing syntax hilighting in type information tooltips"
Issue Type: <b>Bug</b>

When hovering over a token, the rendered tooltip is in plaintext, as opposed to syntax highlighted text.

![image](https://user-images.githubusercontent.com/8586769/63477600-b710f580-c43a-11e9-8f05-8c7cb8bee5ad.png)
![image](https://user-images.githubusercontent.com/8586769/63477610-c09a5d80-c43a-11e9-9428-928d41d2196a.png)

(this is a purplebar editor on a non-saved file w

[2019-08-22 00:41] aaronpowell commented on #49826
@PandawanFr I agree with @FBoucher's comment that it would be a risky proposition for extensions to be able to disable other extension at will so while my extension is a hack I find it to be an acceptable hack.

[2019-08-22 00:41] Tyriar commented on #79039
@rebornix enter and shift+enter doesn't seem to work in the terminal find widget anymore?

[2019-08-22 00:42] roblourens commented on #79123
Great! I have no idea what the issue with OpenSSH would be but please update me if you learn anything else.

[2019-08-22 00:45] bruno-brant opened #79608 "Leaving Zen Mode disables line number"
- VSCode Version:
1.38.0-insider
ada79d72be36ecbfed6f88bb16edcc5cc3f5c2a8
x64
- OS Version:
Microsoft Windows [Version 10.0.18956.1000]

### Steps to Reproduce:
1. Open VSCode and check that you can see line numbers in the gutter.
2. Enter Zen Mode (using keyboard shortcut)
3. Leave Zen Mode (using keyboard shortcut)

Lines numbers are no longer visible.

### Does this issue occur when all extensi

[2019-08-22 00:46] ddzy commented on #79543
Same issue
![vscode_issue_1](https://user-images.githubusercontent.com/33921398/63477764-4a890b80-c4b9-11e9-8b20-5b485ae66fa8.png)

[2019-08-22 00:49] mjbvz commented on #55022
This issue also has the same root cause as https://github.com/microsoft/TypeScript/issues/32901

[2019-08-22 00:49] PandawanFr commented on #49826
So allowing extensions to enable/disable extensions is risky, but installing/uninstalling is not? Doesn't sound very logical to me.

Regardless, I do agree that having it integrated as an official feature from VSCode would be best.

[2019-08-22 00:50] RMacfarlane commented on #79607
Duplicate of https://github.com/microsoft/vscode/issues/79589 👍

[2019-08-22 00:50] #79607 closed

[2019-08-22 00:51] RMacfarlane commented on #79606
/needsMoreInfo Please include what version of VSCode you're using, and steps to reproduce the problem

[2019-08-22 00:53] JacksonKearl commented on #79607
Oops, thanks @RMacfarlane!

[2019-08-22 00:59] roblourens commented on #79594
I swear I have seen this too but I can't reproduce it, and nothing has changed recently. Especially weird that you point out that other things are persisted properly. Do your steps reproduce it 100% of the time?

[2019-08-22 00:59] mjbvz commented on #51575
I'm just going to remove this section from the interactive playground. Our normal documentation covers refactoring in much more detail. I don't think fixing the interactive playground for this case would be simple and we should not highlight a feature that doesn't work properly

[2019-08-22 01:00] robinbudd commented on #79606
VSCode Version: 1.37.1
    OS Version: macOS 10.14.6

Steps to Reproduce:
Configure VSC to use clang++ compiler on MacOS
Include a header file from a different directory from the project, and not one of the standard c++ paths
Add the path to the directory to "includePath" in c_cpp_properties.json
Confirm that VS Code knows how to find the include file by right-clicking the "include <filename>" sta

[2019-08-22 01:00] #79606 closed

[2019-08-22 01:01] deepak1556 commented on #79603
@RMacfarlane you can ignore the `libdbus` warning, its a long standing issue for the package shipped , check https://bugs.chromium.org/p/chromium/issues/detail?id=783468 for more context. As for the application not launching

Have you set ` export DISPLAY=:10` ? Since xvfb uses that display port from the config.

[2019-08-22 01:04] #51575 closed

[2019-08-22 01:08] oneprogrammer commented on #6328
Opened over 3 years... doesn't look like they are going to do it... Installing webstorm now...

this and indenting with pasting some very basic things you feel they would be addressed maybe that is what you get for freeware and open source.  Not as good... Since no skin in the game.

[2019-08-22 01:08] RMacfarlane commented on #79606
Thanks @robinbudd for the info! Since this behavior is from the c++ extension, can you please reopen the issue on that extension instead of VSCode? I believe here: https://github.com/Microsoft/vscode-cpptools/issues

[2019-08-22 01:10] OmarTawfik commented on #79235
Debugging through the main process event loop, I see that the callbacks are executed immediately. Thanks for confirming.
I'll look into my extension to see what is preventing the callback.

[2019-08-22 01:10] #79235 closed

[2019-08-22 01:14] mjbvz commented on #20455
I believe this was fixed during my refactoring of the parameter hints code

![Screen Shot 2019-08-21 at 6 13 01 PM](https://user-images.githubusercontent.com/12821956/63478613-5c2dcd00-c43f-11e9-9ed0-9268fa277f79.png)

[2019-08-22 01:14] #20455 closed

[2019-08-22 01:17] #75991 closed

[2019-08-22 01:19] RecKy23 opened #79609 "How to set the debug order by config?"
Now I develop the Java Project with vscode ,but  I don't know how to set the debug order by config , I mean that I want the microservices in the project to execute the debug one by one in order by one click the debug button, launch.json like this
`{
    "version": "0.2.0",
    "configurations": [
        {
            "type": "java",
            "name": "Debug (Launch)",
            "request": "la

[2019-08-22 01:30] rebornix commented on #79039
![shift-enter](https://user-images.githubusercontent.com/876920/63479092-81233f80-c441-11e9-9576-f732ffc65cea.gif)

Above gif is recored in latest master, are you testing against that?

[2019-08-22 01:36] 2wins commented on #12622
Please support this functionality ASAP!

[2019-08-22 01:50] tjohnsonhvac opened #79610 "vscode server for armhf linux not available after update"
Issue Type: <b>Bug</b>

After the update today, I went to remote connect to armhf device. remote locks up on the wget command. I did some snooping in the .vscode-server-insider dir to get the hash dir name and tar name. I tried to manualy download from update site, but it shows not available. Are the server files not updated at the same time as the desktop version?

VS Code version: Code 1.37.1 (f

[2019-08-22 01:54] XxLJcool25xX opened #79611 "Windows Error Install Message: "The System Cannot Find The File Specified""
Issue Type: Error Installation
- VSCode Version: User Installer 64 bit & 32 bit
- OS Version: Windows 7

Steps to Reproduce:
1. Must Be On Windows 7
2. Go To: https://code.visualstudio.com/insiders/ > User Installer > 64 Bit Or 32 Bit
![Capture1](https://user-images.githubusercontent.com/54383469/63479982-0b20d780-c445-11e9-994e-c54437fb85ab.PNG)

Does this issue occur when all extensions are disa

[2019-08-22 01:56] georgebatalinski commented on #77181
@isidorn Can you advise me on what should be actionable here? Should we instead make the reading of the active tab work?

[Extensions View](https://i.postimg.cc/d09XnvdQ/Screen-Shot-2019-08-21-at-9-50-49-PM.png)

1. Via ScreenReader - if we press enter - we get to the details - the text inside the details tab does not read (however, I can navigate using Command + Shift + Tab)

2. To navigate back

[2019-08-22 01:57] tcarroll2 opened #79612 "importing python modules doesn't work"
Issue Type: <b>Bug</b>

1 - I use pip3 from the terminal console within VSC to install a python library
2 - I type import <library name> into the python file

Visual Studio Code fails to recognize it.

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:16:34.800Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPU

[2019-08-22 02:09] sbatten commented on #79562
/duplicate

[2019-08-22 02:09] #79562 closed

[2019-08-22 02:10] rebornix commented on #79039
Good catch actually, the keybinding was added on Windows and Linux.

[2019-08-22 02:11] sbatten commented on #79605
@roblourens anything in dev console? can you try testing with grid layout disabled for a bit if it reproes very consistently

[2019-08-22 02:14] sbatten commented on #79451
i can repro thanks

[2019-08-22 02:17] #78721 closed

[2019-08-22 02:28] fzxa commented on #79553
I configure APM proxy, but  the problem still exists.
[code]

run yarn
[code]

[2019-08-22 02:36] #79039 closed

[2019-08-22 02:59] panda919 commented on #78373
Thanks.
But I got same error yet on your new version!

[2019-08-22 03:14] graph opened #79613 "Cannot use DejaVu Sans Mono in recent vscode update"
[code]

I do not know why. It gives a popup saying that a monospaced font must be used for terminal and uses a very poor monospaced font instead. That found I selected is monospaced and should work.

[2019-08-22 03:38] deepak1556 commented on #78373
Just to confirm the repro steps, this happens on MacOS mojave running inside VM on a windows host ?

Can you run with `code <file> --enable-logging` and attach the logs you see when the copy/paste stops working ?

[2019-08-22 03:39] kwadsten commented on #77900
I went ahead and did a fresh install of Mac OS 10.14.6 on my iMac.  Visual Studio Code appears to be working normally (no crashing) now.  It looks like this was a problem on my side.  Thanks again for taking the time to look into this crashing issue.

[2019-08-22 03:39] #77900 closed

[2019-08-22 03:46] #79609 closed

[2019-08-22 03:52] RMacfarlane commented on #79610
They should be updated at the same time. This is for VSCode insiders on commit ada79d72be36ecbfed6f88bb16edcc5cc3f5c2a8?

[2019-08-22 03:55] panda919 commented on #78373
this happens on MacOS mojave running inside VM on a windows host.
and how to  run with code <file> --enable-logging?

[2019-08-22 04:00] RMacfarlane commented on #79601
I believe this is a duplicate of https://github.com/microsoft/vscode/issues/43857, let me know if it's not quite the same. Thanks!

[2019-08-22 04:00] #79601 closed

[2019-08-22 04:01] #79612 closed

[2019-08-22 04:01] RMacfarlane commented on #79612
@tcarroll2 Please report this on the python extension: https://github.com/Microsoft/vscode-python

[2019-08-22 04:02] McNerdius commented on #18239
Agreed, it needs to be a persisted setting.  Or a new default, or decoupled from ctrl+F, or any/all of the above.

Ctrl+D ... oops it was case insensitive ... Ctrl+U, Alt+C, start over...  Every time ?  Probably not quite, but it feels like it.

Case insensitive as a default here is just odd/unintuitive IMO.

[2019-08-22 04:10] #79575 closed

[2019-08-22 04:23] brunoscopelliti commented on #79380
No

No

Don't know, at the moment I'm working full time on a single project.

React web app, backend is in node

It's not that simple, cause I don't immediately notice the error. But I can try.

[2019-08-22 04:32] crit005 opened #79615 "Make Editer support touch select text"
Issue Type: <b>Feature Request</b>

Please make Edter support touch screen selection text

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.17763

[2019-08-22 04:49] svipas commented on #79513
<img width="1552" alt="Screen Shot 2019-08-22 at 07 47 32" src="https://user-images.githubusercontent.com/10441177/63486660-1e698c80-c4b1-11e9-97c7-e8577f046357.png">

Add import as I did and then try to write `create` and press ctrl+space to show suggestions, you will see duplicate values and one of them will insert into existing import, another one will add new one at the bottom.

/cc @mjbvz

[2019-08-22 04:50] #79549 closed

[2019-08-22 04:51] ParkourKarthik commented on #79340
I'll pick this up. Will start with sync settings extension.

[2019-08-22 04:51] inouiw commented on #78976
My recommendation would be to delete everything in `https://github.com/microsoft/vscode/blob/master/src/vs/workbench/contrib/tasks/common/taskTemplates.ts` that can be provided by an extension. Only the externalCommand Template seems universally and that should remain. This would avoid code duplication (same code in this repository as in the extension repository). At the bottom of the file /taskTe

[2019-08-22 04:53] johnoscott commented on #8017
I am a big fan of the new outline icons for this simple reason; they are more readable the same way the written character is.

[2019-08-22 04:54] i5anoff commented on #33110
sublime text have this feature 7 years ... vscode don't even bothered about implementing. such a shame

[2019-08-22 05:25] pilgi3 commented on #76596
Sorry i am not able to reproduce too.
I will close the issue.
Thanks for your try!

[2019-08-22 05:25] #76596 closed

[2019-08-22 05:38] octref commented on #79584
@jrieken I have a [branch](https://github.com/microsoft/vscode-css-languageservice/tree/pine/deprecated) in CSS LS that does this. Will wait for the proposal in #23927 to finalize.

[2019-08-22 05:40] octref commented on #50972
CSS now looks like this. I don't know if this is possible, but a strikeout overlay on top of the completion item's icon would be much easier to see for me.

![image](https://user-images.githubusercontent.com/4033249/63488328-75e10b80-c463-11e9-8538-e2a31e0b139b.png)

[2019-08-22 05:44] shanDeNaBianHaiDeNaBian opened #79617 "weex new project 无反应"
Issue Type: <b>Bug</b>

weex new project，无响应

Extension version: 0.1.7
VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-9300H CPU @ 2.40GHz (8 x 2400)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d

[2019-08-22 05:49] bpasero commented on #79336
@RMacfarlane moving to you as this looks like shared process is spiking, probably the workspace statting?

[2019-08-22 05:52] michaelkolber commented on #77627
@mjbvz Could there perhaps be a warning that IntelliSense won't work for `const` requires? It took me a good amount of Googling just to find an answer that explained _how_ to import corectly using `import`, and only after finding that was I able to find this issue that explains that it's not supposed to work. I guess it's not abundantly clear why it works in JS files and not in TS files, and a qui

[2019-08-22 05:58] gjsjohnmurray opened #79618 "Active indent guide indistinct on Quiet Light theme"
Issue Type: <b>Bug</b>

1. Use the embedded Quiet Light theme.
2. Set `"editor.renderIndentGuides": true` and `"editor.highlightActiveIndentGuide": true`
3. Put insertion point into an indented section.
4. Observe that the active indent guide is indistinguishable from other indent guides.

![image](https://user-images.githubusercontent.com/6726799/63489208-68e70b00-c4a9-11e9-9556-ed05b7f3afb5.png)

[2019-08-22 06:02] mjbvz commented on #77627
This is the designed behavior. It is perfectly valid to write `const x = require(...)` in TS, and in-fact this lets you import files that TS would otherwise complain about.

If you want to have type checking on the import, use `import x = require(...)` or the modern `import x from ...` form. `import from` is what you should probably be using in almost all cases anyways

[2019-08-22 06:12] michaelkolber commented on #77627
I understand that it's designed, but it's not consistent. Generally, anything valid in JS is also valid in TypeScript. So, one would assume that writing `const x = require(...)` would have the same effect on IntelliSense as `import x = require(...)`. They're both valid, but TS treats one as an import and one as...nothing, which seems inconsistent from my point of view. It's not just type checking,

[2019-08-22 06:15] SirLants commented on #12622
Difficult? Try impossible, can’t make the switch.

[2019-08-22 06:18] bpasero commented on #79432
@alexr00 there seems to be a PR addressing this https://github.com/microsoft/vscode/pull/79551

[2019-08-22 06:23] bpasero commented on #79425
@Tyriar there are actually a bit more also in `terminal.ts`. I updated the summary.

[2019-08-22 06:27] bpasero commented on #79454
There is still https://github.com/microsoft/vscode/issues/79425 and https://github.com/microsoft/vscode/issues/79210 but we can track that independently.

[2019-08-22 06:27] #79454 closed

[2019-08-22 06:42] jrieken commented on #79590
Please retry without extensions enabled. Select 'Extensions View > ... > Disable all Installed Extensions' and try again. Thanks.

<img width="577" alt="screen shot 2018-05-09 at 08 45 10" src="https://user-images.githubusercontent.com/1794099/39799711-82d97e00-5365-11e8-8bd8-6b6fc3500370.png">

[2019-08-22 06:42] alexandrudima commented on #79511
@panta82 Are you using any form of zoom? Or a high DPI monitor? Is the cursor drawn correctly when setting `"editor.disableMonospaceOptimizations": true` ?

[2019-08-22 06:43] alexandrudima commented on #79511
related - #77817

[2019-08-22 06:44] jrieken commented on #79584
:clap: looking already good. I agree that the UX needs some more tweaking. Maybe we can make dim deprecated items a little or change the style of strikeout

[2019-08-22 06:48] alexandrudima commented on #79448
related - #76642 , #48321

[2019-08-22 06:50] gummoni opened #79619 "Stopping due to Debug session failure: fatal error: NullReferenceException: Object reference not set to an instance of an object"
Issue Type: <b>Bug</b>

push F5

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.18362

<details><summary>Extensions (13)</summary>

Extension|Author (truncated)|Version
---|---|---
code-gnu-global|aus|0.2.2
githistory|don|0.4.6
gitlens|eam|9.9.3
git-project-manager|fel|1.7.1
cortex-debug|mar|0.3.1
vscode-clang|mit|0

[2019-08-22 06:56] cloewen8 commented on #78891
This issue seems to be getting worse, even showing up in Windows Explorer, so I'm guessing this may be a hardware related issue with my mouse. I'll reopen this issue if I can link it back to VSCode.

[2019-08-22 06:56] #78891 closed

[2019-08-22 07:06] burianvlastimil commented on #68069
Laptop display: **non-HDR** 3840x2160
External display: **HDR** 3840x2160

Windows version:
![vscode-hdr--windows-version](https://user-images.githubusercontent.com/14146682/63493335-b1a7bf80-c4bb-11e9-99e4-cc69024bee19.png)

Actual result (photo):
![IMG_20190822_084744](https://user-images.githubusercontent.com/14146682/63493513-16631a00-c4bc-11e9-903b-1ba417fb7c31.jpg)

Is this applicable to thi

[2019-08-22 07:09] CharlieLau opened #79621 "项目大搜索太卡"
文件搜索在大项目中，全IDE都跟着卡，体验贼差，能不能优化下下~

[2019-08-22 07:15] jrieken commented on #23927
Hm, I was thinking about a bitmask but an array might be JavaScript-like. This also compares to `DiagnosticsTag`-arrays.

@sean-mcmanus I don't think we wanna be the fine grained. Generally, we have to walk the fine line of finding a good enough abstraction that describes the our UX and that still fits most programming languages.

[2019-08-22 07:17] #79097 closed

[2019-08-22 07:20] yami0101 commented on #49382
Would also love to see this in VS Code.

[2019-08-22 07:23] aeschli commented on #79543
![image](https://user-images.githubusercontent.com/6461412/63493555-2f6bcb00-c4bc-11e9-98d0-bff88787b006.png)

Looks like explorer or tree issue. The tree item has the classes of an unrelated item.

When setting a breakpoint on getIconClasses and expanding nodes in the tree I see that every icon create seems to be first a clone from an existing icon. Is suspect that this is where the wrong classes

[2019-08-22 07:24] gjsjohnmurray commented on #79516
@DanTup I've certainly found `isIncomplete` useful, but YMMV

[2019-08-22 07:26] alexr00 commented on #79346
Since tasks run with `bash -c` your .bashrc won't be sourced. I'm guessing that somewhere `dotnet` was being added to your environment, but `.dotnet` was not. Since we don't have repro anymore. I'm going to close this bug.

[2019-08-22 07:26] #79346 closed

[2019-08-22 07:31] MJ-Mohith commented on #79608
I have opened up the PR with the issue and the fix evidence.
https://github.com/microsoft/vscode/pull/79622

[2019-08-22 07:46] mickaelistria opened #79623 "HTML `class` attribute doesn't receive known CSS classes in code completion"
- VSCode Version: 1.37.1
- OS Version: Fedora 30

This is initially reported to Eclipse Wild Web Developer as https://github.com/eclipse/wildwebdeveloper/issues/8 . Wild Web Developer uses the language server from VSCode. The same issue happens in VSCode.

Steps to Reproduce:
1. Create a HTML file
[code]
2. Try getting code completion inside the `class` attribute value, between the quotes
EXPECTED

[2019-08-22 07:47] #79621 closed

[2019-08-22 07:47] CharlieLau commented on #79621
cancel

[2019-08-22 07:51] DanTup commented on #79516
It's definitely useful, but I don't think it helps here. I tried enabling it but it made no difference.

@jrieken I just noticed that just typing `m` causes `MainAxisSize.min` to move down too. Is it intended that the casing matters? I don't expect many people type capitals when they want to complete something that starts with a capital.

<img width="556" alt="Screenshot 2019-08-22 at 8 48 49 am"

[2019-08-22 07:53] crnisamuraj commented on #77562
Well, I checed my soures.list.d/vscode.list and URL to repository is
`deb [arch=amd64] http://packages.microsoft.com/repos/vscode stable main`
but the URL in error output was wrong....
today everything is working normally without any changes made in my filesystem... so definitely it was repository problem.

[2019-08-22 07:53] jrieken commented on #23927
Current proposal (due to TypeScript gymnastics the name is `kind2` in the implementation)

[code]

[2019-08-22 07:55] crnisamuraj commented on #77562
I think this kind of issue happened, anyway it was a temporary problem, now its solved, and update is working as it's supposed to. tnx anyway.

[2019-08-22 08:04] gummoni commented on #79619
This problem is extensions C/C++ IntelliSense, debugging, and code browsing. version 0.25.0.
There is no problem in version 0.24.1.

[2019-08-22 08:09] weinand commented on #79021
@sanket-bhalerao and which of the two launch configs results in the error?

Can you reproduce the problem when disabling all but the Chrome extension ('debugger-for-chrome')?

[2019-08-22 08:12] tYYGH commented on #79554
Hi @gjsjohnmurray,
The list of extensions is rather long: Asciidoc, Bash IDE, Docker, EditorConfig for VS Code, French - Code Spell Checker, Git Graph, gitflow, GitLens - Git supercharged, Insert Unicode, Java Extension Pack, Liquibase Snippets, Maven for Java, NPM-Scripts, Spring Boot Extension Pack, Spring Boot Tools, SQLTools, tl;dr pages, Tomcat for Java, XML, + automatic dependencies.

[2019-08-22 08:14] jrieken commented on #50972
Slightly improved version which

* shows the line through
* doesn't show match highlights (no bold)
* renders the item slightly opaque

<img width="372" alt="Screenshot 2019-08-22 at 10 13 15" src="https://user-images.githubusercontent.com/1794099/63498090-77dbb680-c4c5-11e9-9281-3dd51a0db17b.png">

[2019-08-22 08:17] isidorn commented on #79021
@roblourens can you check if there are some misplaced japenesse strings in the english translation file in the Chrome extension (you can search for `10000` as that seems to be a part of the message)?

[2019-08-22 08:19] MarkIngramUK commented on #68069
@burianvlastimil yes mine appears the same as that.

[2019-08-22 08:29] isidorn commented on #79543
This is coming from the IconLabel class which was changed by @bpasero recently thus also assigning him.
@bpasero let me know if it you think this is unrelated to your change and I can investgate.

[2019-08-22 08:29] isidorn commented on #79593
Dup of https://github.com/microsoft/vscode/issues/42573

[2019-08-22 08:29] #79593 closed

[2019-08-22 08:32] ctron opened #79624 "Add a link to the available Flatpak"
It looks like there already is a Flatpak available: https://flathub.org/apps/details/com.visualstudio.code

It would be great to let people know about this in the installation instructions: https://code.visualstudio.com/docs/setup/linux

[2019-08-22 08:37] weinand opened #79625 "Provide code completion for the "preLaunchTask" structure"
A debug configs's `preLaunchTask` accepts a task name or a structure consisting of a "type" and additional key/value pairs.
Please show code completion for this.

[2019-08-22 08:37] alexr00 commented on #79224
Thank you for investigating!

[2019-08-22 08:39] weinand commented on #32239
@isidorn @alexr00 I'd like to resolve this and I see the following two options (under the assumption that I **do not** want to add a new common attribute to launch configs:
- introduce a new variable that expands into the default build name, e.g. `${defaultBuildTask}`.
- since `preLaunchTask` accepts a complete structure (as an alternative to the task name), we could introduce a new attribute `"us

[2019-08-22 08:42] Mah3 opened #79626 "search in folders explorer is difficult to discover"
It would be very helpful if we could see search box to search or filter folders explorer (similar like in Visual Studio [ctrl+;] ).

![image2](https://user-images.githubusercontent.com/18313590/63499950-98117280-c4d1-11e9-940a-de8ada25c0e4.png)

[2019-08-22 08:42] #79608 closed

[2019-08-22 08:42] isidorn commented on #79608
@bruno-brant good catch, thanks for reporting this and for using insiders.
You can try out VS Code insiders from Friday and let us know if this is now fixed for you. Thanks

[2019-08-22 08:48] ArmorDarks commented on #15727
Nice!

Now what's left to complain is extremely tiny input size. That's exactly what you want when searching code snippets

![CRM4sA8](https://user-images.githubusercontent.com/4460311/63500503-a1e7a580-c4d2-11e9-84ec-fa5f2fba9362.gif)

[2019-08-22 08:49] weinand commented on #79537
Please file issue against cortex debug extension.

[2019-08-22 08:52] jrieken commented on #79516
Yeah, that because `m` and `min` are perfect prefix matches and `m` and `Main...` aren't. I see the issue. We do boost matches when users invest effect in typing upper-case letters but shouldn't do it the other way around.

[2019-08-22 08:53] Daijobou commented on #79391
All extensions are disabled. I only double click on text and press ctrl+f to open find panel.

![vscode_find](https://user-images.githubusercontent.com/260343/63500879-f9821300-c4ca-11e9-99c0-8e3f0ad4310c.gif)

Here the same with notepad, vscode working before last update so too. This changed with version 1.37.1.
![notepad_find](https://user-images.githubusercontent.com/260343/63501182-82994a00-c4

[2019-08-22 08:55] bpasero commented on #79543
@isidorn please check if a change in getUriLabel would have a consequence in the icons. The only change I did is to not clear the icon when there is a change in uri label: https://github.com/microsoft/vscode/blob/9c39bf2/src/vs/workbench/browser/labels.ts#L359

[2019-08-22 08:57] alexandrudima commented on #79475
I could not reproduce, but I pushed code to protect `asCSSUrl` from bad callers with type confusion...

[2019-08-22 08:59] jrieken opened #79627 "Lower-case prefix match should be equal on lower/upper-case target"
Matching `m` against `min` or `Min` should yield the same result, as opposed to matching `M` again `min` or `Min` (we wanna boost the effort that went into typing the upper-case letter)

[2019-08-22 08:59] sandy081 commented on #78869
Moving API discussion to https://github.com/microsoft/vscode/issues/78966

[2019-08-22 08:59] #79475 closed

[2019-08-22 09:00] jrieken commented on #79516
extracted https://github.com/microsoft/vscode/issues/79627

[2019-08-22 09:02] isidorn commented on #79582
@pavelfeldman yes, good point. The issue was that the element is a session, and for sessions we were always rendering the expando. Now we are more strict and this case should work fine.
Try it out and let me know if it is good now.

[2019-08-22 09:02] #79582 closed

[2019-08-22 09:06] IllusionMH commented on #79626
@Mah3 you can just start typing while Explorer is in focus. This will enable highlight mode and you would be able to quickly navigate between items with matches. Also it supports filtering so you'll see only highlighted items.

One limitation - you have to have folders expanded to highlight/filter their content.

https://code.visualstudio.com/updates/v1_31#_new-tree-widget

[2019-08-22 09:09] usernamehw commented on #68845
You can simply inject them:
[code]

[2019-08-22 09:12] jrieken commented on #79627
This is actually not possible without causing carnage. A few are failing when making this change, e.g. https://github.com/microsoft/vscode/blob/719cdaa87cc477e9c4808583dce4849479814ccf/src/vs/base/test/common/filters.test.ts#L411

For instance, TypeScript suggests (in that order) `Console` and `console` and when typing `cons...` I want `console`, not the upper-case counter part. That's why a case

[2019-08-22 09:12] #79627 closed

[2019-08-22 09:14] jrieken commented on #23927
Actually, instead of "modifier" we could use "tags". That term is less overloaded when it comes to programming lingo (and it also matches DiagnosticsTag). So, have `CompletionItemKindTag` and `SymbolItemKindTag`

[2019-08-22 09:16] aeschli commented on #79628
The problem is from
https://github.com/microsoft/vscode/blob/4655b60a448adfb0b827070008108d0ee2afc078/src/vs/workbench/browser/parts/editor/editorStatus.ts#L993

@bpasero I'd suggest to pass in the URI as-is to `getModeIdByFilepathOrFirstLine`, or create a new file-URI (`Uri.file(base)`) for probing.

[2019-08-22 09:17] DanTup commented on #68845
If that works, I'm sure that's a bug! 🤔

[2019-08-22 09:19] IllusionMH commented on #79623
Looks like duplicate of #27635 (please up vote that issue if it is)
In the meantime you can try suggestions from https://github.com/microsoft/vscode/issues/27635#issuecomment-429612617

[2019-08-22 09:20] GanZhiXiong opened #79629 "Can a command support multiple shortcuts?"
Android Stuido supports multiple shortcuts for one command.
The nice thing about this is that I can use the default shortcuts when I want to, and I can use custom shortcuts.
And you can easily know that I have modified this shortcut key.

If vscode is not supported now, will it be supported in the future?
**Looking forward to your reply! Thanks!**

[2019-08-22 09:21] isidorn commented on #32239
@weinand agree that we should not add a new common attribute to `launch.json` for this.

@alexr00 please note that the `preLaunchTask` can either be a `string` or a `ITaskIdentifier` as defined [here](https://github.com/Microsoft/vscode/blob/682f371512dc9c10b1b1929a8e8deacfc0fbff83/src/vs/workbench/contrib/debug/common/debug.ts#L465). I am open to whatever solution you prefer and what makes sense

[2019-08-22 09:25] IllusionMH commented on #79617
/needsMoreInfo

Are you using any extensions for this purpose? Most likely you should report this problem in extension repo: https://github.com/weex-cli/vscode-weex

[2019-08-22 09:30] jrieken commented on #79586
/duplicate of https://github.com/microsoft/vscode/issues/26012

[2019-08-22 09:31] IllusionMH commented on #79629
/question

Yes, you can specify any number of shortcuts in `keybindings.json`.
You can open using <kbd>Ctrl+Shift+P</kbd>(or <kbd>F1</kbd>) and paste `>Preferences: Open Keyboard Shortcuts (JSON)`

![image](https://user-images.githubusercontent.com/1312662/63503637-8b444d00-c4d8-11e9-860d-fc2cbe7435d4.png)

[2019-08-22 09:33] #79586 closed

[2019-08-22 09:34] #79629 closed

[2019-08-22 09:35] sandy081 commented on #78966
@shanalikhan Sorry for not providing the complete details. Following is our approach to support user data sync in VS Code.

## Core

VS Code will completely control what data to sync. Currently following data is being considered

- Settings
- Keybindings
- Snippets
- Extensions
- Global State (Activity bar icons, Open Editors etc)

VS Code will provide the UI for the user to configure what to sync

[2019-08-22 09:37] thany commented on #75492
Maybe there's something to keep this from working that is only happening in bigger projects. Unfortunately I don't know what that might be.

If there's anything that could possibly keep this from working, I could check for that. But since the project is private, I cannot just share it here.

[2019-08-22 09:54] #79625 closed

[2019-08-22 09:55] jihuichoi commented on #8641
a trick on Mac OS Mojave 10.14.6

paste this in keybindings.json
https://gist.github.com/jihuichoi/42cf86b3610266bd7e35e2f9737b1293

[2019-08-22 09:57] usernamehw commented on #68845
@DanTup So, you are not going to use it?

[2019-08-22 10:00] jrieken commented on #78605
You do

<img width="1222" alt="Screenshot 2019-08-22 at 11 59 54" src="https://user-images.githubusercontent.com/1794099/63505766-65b54480-c4d4-11e9-946b-07daa629e205.png">

[2019-08-22 10:00] #78386 closed

[2019-08-22 10:01] jrieken commented on #78386
no actionable information

[2019-08-22 10:01] jrieken commented on #73015
not actionable

[2019-08-22 10:01] #73015 closed

[2019-08-22 10:04] Veng97 commented on #71937
I uninstalled VSCode (user) as far as possible, although Code.exe and others were stubborn due to the "Code.exe process". Then i reinstalled the VSCode System version. Fixed all problems for me.
I could then go into the C:\Users\myuser\AppData\Local\Programs\Microsoft VS Code path and delete the remains of the user install. I haven't had problems with the System install yet.
I hope you guys can us

[2019-08-22 10:05] ottopic opened #79630 "1.37.1 snippet variables don't works anymore"
Updating from 1.36.1 to 1.37.1 my snippet variable {CLIPBOARD} is replaced with empty text

`

 "customprintr": {

		"prefix": "customprintr",
	 	"body": [
			"\t    echo '<pre style=\"text-align:left\">';",
			"\t    \\$printMe = ${CLIPBOARD};",
			"\t    echo '</pre>';",
			"\t    die;",
			"\t"
	 	],
	 	"description": "Insert custom print_r"
	},
	"br": {
		"prefix": "br",
		"body": ["<br />"]

[2019-08-22 10:09] jrieken commented on #79474
Sorry, this isn't a good first issue because it's a bit of a bottom-less whole.

@mjbvz The underlying issue is that `Uri.parse` decodes its input and then re-encodes when calling `toString`. That (re)encoding is needed because `toString` is mostly used to create comparable strings for storing things in maps, `toString` isn't primarily designed to create externalised uri-strings for exchange.

Let

[2019-08-22 10:31] gjsjohnmurray commented on #79615
/duplicate of #47770

[2019-08-22 10:31] #79615 closed

[2019-08-22 10:32] ottopic commented on #79630
Looking better my script I notice that I'm using macro to insert the snippet. Is it possibile that editor.action.clipboardCopyAction is not working?

`
"macros": {

        "printr": [
            "editor.action.smartSelect.grow",
            "editor.action.clipboardCopyAction",
            "editor.action.insertLineAfter",
            {
             "command": "editor.action.insertSnippet",

[2019-08-22 10:34] neSebastian opened #79631 "Empty space in the value of an attribute with "on" prefix throws an error"
- VSCode Version: 1.37.1
- OS Version: Windows 10

**Consider the following code snippet:**

`<div onInvalidAttribute="test test" otherInvalidAttributeWithoutOnPrefix="test test"></div>`

If the name of the attribute is prefixed with **“on”** and its value contains an empty space, then the following error is shown on the UI: “‘;’ expected. (js)”  and in the console output:

*[Error - 1:14:10 PM] R

[2019-08-22 10:36] penx commented on #78894
I had this working but was unaware that the distributed version of vscode has parts of the codes webpacked, including where I had written the resolve function, so webpack complained.

This was rewritten but the rewritten version doesn't work as far as I'm aware.

We need to either find a way to get this to work after being processed by webpack, or have the code sit in a non-webpacked part of vscod

[2019-08-22 10:45] saintube commented on #79435
Fine. Thanks anyway.

[2019-08-22 10:45] #79435 closed

[2019-08-22 10:48] sleighsoft commented on #69665
When updating Nvidia drivers on Windows while a terminal is open in VSCode the terminal will be corrupted and no longer shows text. Every other view of VSCode refreshes fine after a driver update. Terminals opened after the update finishes will not be affected.

I know this is not 100% related but I believe it does not merit opening a separate issue.

[2019-08-22 10:51] NDelt commented on #79591
@RMacfarlane I also tested with `<iostream>`, which has 60 lines of source code. The issue is same.

[2019-08-22 10:55] madig opened #79632 "Integrated terminal is forcibly resized from previous width on "New Window" followed by "Maximize""
Issue Type: <b>Bug</b>

1. Open a project, maximize window, open an integrated terminal to the right.
2. Close Window.
3. Reopen project from e.g. the Windows Taskbar Jump List
4. Maximize window again

A minor UX issue, but this happens all the time to me because I keep open terminals to the right in most of my projects :(

Initial state:
![Screenshot_3](https://user-images.githubusercontent.com/

[2019-08-22 11:00] DanTup commented on #68845
Not unless someone from the Code team confirms it's not a bug so it's not likely to randomly break on me in the future (which I think is unlikely). @alexandrudima ?

[2019-08-22 11:07] djmisterjon opened #79633 "double click on a reference will not open target window editor"
hi, if you select a method, right click and select search reference.
Then if you double click in a reference, if the ref are in other window editor, the editor not open `scaling`.
Can we fix this bug plz :)
![image](https://user-images.githubusercontent.com/24865815/63509892-448c2e00-c4ab-11e9-9e07-16cc0a87fa97.png)

[2019-08-22 11:13] fergalmoran commented on #6328
Yes - very disappointing response (or lack of) from an otherwise excellent dev team.

[2019-08-22 11:20] bpasero commented on #79628
Open for grab.

[2019-08-22 11:21] gerardolima commented on #55816
hey, @isidorn, having the files previewed on arrow-up/arrow-down would be consistent with the default existing behavior of previewing the contents on mouse-click, and would improve user experience while browsing the codebase ... Or is there anything that I am missing here?

[2019-08-22 11:31] joelazar opened #79634 "workbench.action.focusLeftGroup does not focus the left side"
- VSCode Version: 1.37
- OS Version: Windows 10 1809

I've recently opened an [issue](https://github.com/VSCodeVim/Vim/issues/3979) for VSCodeVim because on diff mode I couldn't switch side when I focused the right side of the window. @J-Fields figured out that it might be an upstream issue as workbench.action.focusLeftGroup does not focus the left side while workbench.action.focusRightGroup focus

[2019-08-22 11:42] aloeugene commented on #76594
Hi everyone!
Are there any updates? Is it going to be fixed somehow someday?

[2019-08-22 11:44] Regaddi commented on #76695
I experience the same behavior on VSCode 1.38.0-insider:
When restarting a docker container I'm currently attached to with `docker-compose restart my-container` VSCode will recognize that the container has stopped, but it stays in `Attempting to reconnect...` state until I either restart VSCode or reload the window (cmd+shift+P > Developer: Reload Window).

[2019-08-22 11:44] piotr-kubica commented on #23107
For me Ctrl+Shift+P followed by command "Clear Editor History" fixed the "The content on disk is newer. Click on Compare to compare your version with the one on disk." error message.

[2019-08-22 11:45] rykiplov commented on #164
Problem still exists in 1.37.1. Please fix it, very annoying.

[2019-08-22 11:50] WellspringCS commented on #79346
@alexr00 that sounds right. You''ll note in my original post that I made adjustments accordingly in my .bashrc file when switching to the standard dotnet folder.

I wonder what's changed, since my non-standard dotnet folder setup did work in the past, and I also wonder how any non-standard paths would then work in the current environment, if the user's .bashrc file is not sourced.

[2019-08-22 11:52] isidorn commented on #55816
You can preview the files now by pressing `space` in the explorer.
We will not preview them just by traversing since that is not aligned with the rest of the trees in the workbench

[2019-08-22 11:52] #55816 closed

[2019-08-22 12:01] penx commented on #78894
Perhaps someone from the vscode team can answer:

- why is vscode using webpack for the production build? Is this so it can be used within a browser?
- is the entirety of vscode being passed through webpack?
- If not, is it possible to write helper functions in part of the vscode that is not being webpacked, then use them from within the code that is?

For the last point, in `extensions/css-langua

[2019-08-22 12:21] gjsjohnmurray commented on #79634
@joelazar Editor groups are explained [here](https://code.visualstudio.com/docs/getstarted/userinterface#_editor-groups). When I have two groups side by side, and a file open in each, I don't have any problem using Ctrl+K Ctrl+LeftArrow to switch focus from the one on the right to the one on the left. I'm testing with 1.37.1 on Windows.

I don't think the diff view spreads itself across two views.

[2019-08-22 12:29] gjsjohnmurray commented on #79634
#22412 asked for a command to switch between the two diff panes. It was marked as a dup of #16707.

/duplicate

[2019-08-22 12:29] #79634 closed

[2019-08-22 12:29] bpasero opened #79635 "vscode:// protocol should allow a `windowID` parameter to forward to that window, instead of the last focused one"
Now that we have support for [`IURLService#create()`](https://github.com/Microsoft/vscode/blob/a06015b53693d2f8a5a83cacff0da25b025f9e6f/src/vs/platform/url/common/urlService.ts#L19) we should try to get the window ID into the URI so that we can prefer to open the link in that window.

Today it seems we simply open in the last active window, which might not be right.

//cc @alexandrudima

[2019-08-22 12:31] Gameghostify commented on #54731
Can this be reopened? I feel this would be a great change

[2019-08-22 12:32] bchrisb opened #79636 "Terminal input formatting wrong"
When opening a new terminal (Terminal > New Terminal), the start of the input is shifted well below the command path i.e:

[code]

VS Code version: 1.37.1 (user setup)
Commit: f06011ac164ae4dc8e753a3fe7f9549844d15e35
Date: 2019-08-15T16:17:55.855Z
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.17763

![2019-08-22 13_25_35-Welcome - Visual S

[2019-08-22 12:42] madig opened #79637 "Integrated terminal is forcibly resized from previous width on "New Window" followed by "Maximize""
Issue Type: <b>Bug</b>

1. Open a project, maximize window, open an integrated terminal to the right.
2. Close Window.
3. Reopen project from e.g. the Windows Taskbar Jump List
4. Maximize window again

A minor UX issue, but this happens all the time to me because I keep open terminals to the right in most of my projects :(

Initial state:
![Screenshot_3](https://user-images.githubusercontent.com/

[2019-08-22 12:52] jrieken commented on #50972
The analog thing for symbols in outline and breadcrumb pickers, not in breadcrumb itself tho. I believe that would be too noisy, esp since the editor (e.g the thing under cursor) will already be annotated as deprecated.

<img width="399" alt="Screenshot 2019-08-22 at 14 49 34" src="https://user-images.githubusercontent.com/1794099/63515992-60fc8a80-c4ec-11e9-80f0-678bc923f018.png">

[2019-08-22 12:57] isidorn commented on #54731
Yes I can reopen.

[2019-08-22 13:02] tpvin opened #79638 "VS Code fails to open from file explorers address bar"
Issue Type: <b>Bug</b>

VS Code fails to open from windows file explorer address bar (when writing "code" + enter). Instead it prompts an "Open with..." dialog. When chosing Visual Studio Code, it opens a sh script named code within
C:\Users\<user>\AppData\Local\Programs\Microsoft VS Code\bin

This used to work previously.

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 20

[2019-08-22 13:05] tjohnsonhvac commented on #79610
from the terminal:
[code]

![image](https://user-images.githubusercontent.com/36667609/63516588-38a86800-c4bb-11e9-87bc-e8e774bd84ac.png)

This is what it tries to download:
![image](https://user-images.githubusercontent.com/36667609/63516678-6db4ba80-c4bb-11e9-9a11-1eb115c728c0.png)

I tried navigating to:
https://update.code.visualstudio.com/commit:ada79d72be36ecbfed6f88bb16edcc5cc3f5c2a8/vscode

[2019-08-22 13:07] danielo515 commented on #79577
Sorry @vscodebot but this is not a duplicate. Better luck next time

[2019-08-22 13:20] AnyhowStep commented on #77140
Will this overhaul fix syntax highlighting for multiline generic function/method calls?

![img](https://files.gitter.im/Microsoft/TypeScript/ue7K/image.png)

It regularly happens to me where I try to split a generic function/method call to multiple lines and the syntax highlighter just... Freaks out.

It highlights stuff in white, blue, green, other exotic colors.
The colors chosen are very random

[2019-08-22 13:30] isidorn commented on #77181
@georgebatalinski thanks for looking into this and yes you are correct everything is working fine.
What I was seeing before is that there was a license and repository link which were not actionable (however that works just fine for me now).

Thus closing this since it works just fine.
Keyboard forcus is not going to the extension logo.

[2019-08-22 13:30] #77181 closed

[2019-08-22 13:30] sguillia opened #79639 "SIGTRAP on reloading window"
I am developing an extension for VS Code, so I work with Typescript and the integrated debugger.

I restarted the debugging session (`workbench.action.debug.restart`, `Ctrl + Shift + F5`), when the whole editor and the guest suddenly crashed.

Last line of `dmesg` in a terminal:
[code]

I had my extensions enabled.

I will add more info whenever it reproduces.

I guess we can't find the guilty lin

[2019-08-22 13:38] aeschli commented on #79628
I'm happy to make the change.
I'd suggest to pass in the URI as-is to getModeIdByFilepathOrFirstLine, or create a new file-URI (Uri.file(base)) for probing.

@bpasero   What do you prefer?

[2019-08-22 13:40] swbrenneis opened #79640 "VS Code freezes during syntax coloring"
- VSCode Version: 1.37.1
- OS Version: Windows 7 Professional

Steps to Reproduce:

1. Open a Java file with a very long string constant.
2. VS Code window freezes when it starts syntax coloring.

The entire window is frozen, so the process explorer can't be used. Task manager says that VS code is using 25% CPU. This is repeatable.

Java files without a long string constant open as expected.

Does

[2019-08-22 13:42] isidorn commented on #79583
@pavelfeldman  Yes, session rename is currently not supported.
We could add [`DebugSession`](https://github.com/Microsoft/vscode/blob/df2e0c71f70d98975b7feeb2c1c778bfe92f27c3/src/vs/vscode.d.ts#L8679) API to change the name. Currently we expose [`DebugSession.configuration.name`](https://github.com/Microsoft/vscode/blob/df2e0c71f70d98975b7feeb2c1c778bfe92f27c3/src/vs/vscode.d.ts#L8663) - maybe we

[2019-08-22 13:42] vitthalsing opened #79641 "Formating"
Issue Type: <b>Feature Request</b>

[code]

when clicked Alt+Shift+F to format it consider "<" in 4th line as start of syntax. However it should not.

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.17763

[2019-08-22 13:49] jraycv commented on #70764
Did you guys try this for iPad https://panic.com/coda/

[2019-08-22 13:50] Tyriar opened #79643 "Pseudoterminal.onDidClose needs to return status for tasks"
Currently this event is `void` but tasks needs it to signal failure so dependent tasks can be performed.

[2019-08-22 13:58] BryanHunt commented on #78127
I have "sourceMap": true set.

I just tried again using Typescript and I changed my throw to `debugger`.  vscode stopped on the debugger statement, but breakpoints are still not working in the original ts file.

One thing that is very interesting is that when the debugger stops, the hello.ts file is loaded into a new tab and has a different path when you hover over the tab.  When I hover over the

[2019-08-22 14:04] braun1928 opened #79644 "Follow link activates with Cmd and mouse over instead of click"
Issue Type: <b>Bug</b>

The link opens when I'm holding Command and hover it with the mouse, instead of clicking it; sometimes it's not the link I want to click, but go over it with the mouse pointer, and end up opening a page I didn't want.
I'm using vscode mainly for terraform, I don't know if it's a default behaviour or an issue with the extension.

VS Code version: Code 1.37.0 (036a6b1d3ac84e5

[2019-08-22 14:04] BryanHunt commented on #78127
@isidorn What shell are you using when you can't reproduce the bug?  I'm guessing if you switch to `zsh`, you can reproduce the bug.

[2019-08-22 14:06] #79643 closed

[2019-08-22 14:10] samoldenburg opened #79645 "Allow users to block notifications from extensions."
Recently a plugin I use decided to start spamming notifications (https://github.com/bmewburn/vscode-intelephense). The plugin author does not want to remove them, but it is annoying for end users who still want to use the plugin to have to be harassed by a  plugin basically requesting payment for a premium license key daily.

I'm suggesting that VSCode allow users to block notifications entirely f

[2019-08-22 14:16] aeschli commented on #78894
webpack is probably the best packager out there. For browsers and also for commonjs. It's a pity it's so restrictive with require as it I could really allow `require.resolve(module, {path: [...]})`

In the webpack.config.js you set a list of node modules that should not be bundled but just required.

Alternative is to reimplement the require lookup. I think that's the typescipt language server doe

[2019-08-22 14:17] penx commented on #78894
I just remembered this

https://github.com/Microsoft/vscode-languageserver-node/blob/dbfd37e35953ad0ee14c4eeced8cfbc41697b47e/server/src/resolve.ts#L17-L24

Which I think is what's calling require.resolve when you do jump to definition on a .js file.

I assume there's a way we can use require.resolve in the same way? Will look in to it a bit more

[2019-08-22 14:18] penx commented on #78894
I'm not questioning webpack, just why there's a need to package at all and not just run from modular, transpiled code

[2019-08-22 14:19] Tyriar commented on #79235
Related: https://github.com/microsoft/vscode/issues/79643

[2019-08-22 14:20] yuchenzhen opened #79646 "The status bar on the bottom cannot show!"
The status bar on the bottom change into a white bar with no content shows on the screen.

[2019-08-22 14:22] madig commented on #79637
Does not look like the issues are related 🤔

[2019-08-22 14:24] bpasero commented on #79628
@aeschli we cannot regress https://github.com/microsoft/vscode/issues/69334 though. There are URIs in our system that are potentially very large (inline data uris from Git) and we had freezes when those URIs would be send down to our pattern matcher.

[2019-08-22 14:26] isidorn commented on #78127
I am using zsh, however I do not see how this is related when debugging a program for the launch.json that you provided.

[2019-08-22 14:26] RMacfarlane commented on #79645
Duplicate of https://github.com/microsoft/vscode/issues/41767

[2019-08-22 14:26] penx commented on #78894
https://github.com/browserify/resolve may be an option

[2019-08-22 14:27] #79645 closed

[2019-08-22 14:30] bpasero opened #79647 "Webview: isSupportedLink() needs to check for running inside web or not"
Stumbled upon [this code](https://github.com/microsoft/vscode/blob/6f998109d8ff8ba2bef074eea1b5986a9443316e/src/vs/workbench/api/browser/mainThreadWebview.ts#L313):

[code]

`_productService.urlProtocol` is not making a lot of sense when running from the Web UI, it is in fact set to be an empty string currently.

[2019-08-22 14:30] RMacfarlane commented on #79640
@swbrenneis Can you provide a code sample that results in this problem?

[2019-08-22 14:31] BryanHunt commented on #78127
Bummer, there goes that theory.  Here is the launch.json I used in my Typescript test:

[code]

[2019-08-22 14:32] #79623 closed

[2019-08-22 14:36] BryanHunt commented on #78127
@isidorn When you open a file from the explorer and hover over the tab, what do you get?

[2019-08-22 14:37] #79628 closed

[2019-08-22 14:38] penx commented on #78894
@aeschli I think you mentioned this before but I couldn't find it. Do you mean in this file?

https://github.com/microsoft/vscode/blob/master/extensions/shared.webpack.config.js

Or this one?

https://github.com/microsoft/vscode/blob/master/extensions/css-language-features/server/extension.webpack.config.js

Or another?

[2019-08-22 14:44] weinand commented on #78127
@BryanHunt the file path discrepancy is a great find. That would explain the issues you are seeing. And issue #76503 is a consequence from the same problem.

But what I don't understand is why I do not see that discrepancy on my Cataline system... I will try another time to reproduce this...

[2019-08-22 14:44] aeschli commented on #78894
It would go into extension.webpack.config.js.
Example:
[code]

[2019-08-22 14:46] sguillia opened #79648 "This snippet has no sense"
I am writing Typescript code with all extensions disabled on code-insiders.

I wanted to call my function `openSite()`.
When typing `openSite`, I have some weird autocompletion suggestion.
When typing the open bracket `(`, it replaces my function call to something I didn't expect, and automatically adds an import to my file.

![Capture du 2019-08-22 16-34-29](https://user-images.githubusercontent.

[2019-08-22 14:50] theseanco commented on #38893
This would be a great feature if it could be implemented

[2019-08-22 14:51] panta82 commented on #79511
@alexandrudima I am not using zoom, I was able to repro it on stock insiders edition, without any additional settings.

It's a 2K monitor. I can't repro the issue on my home HD monitor, so that might be it.

I will post more info tomorrow, when I get back to work, where the monitor is.

[2019-08-22 14:52] fbricon commented on #50972
Testing on vscode-java with initial deprecated support in jdt.ls, in Insiders build ada79d72be36ecbfed6f88bb16edcc5cc3f5c2a8 :
<img width="726" alt="Screen Shot 2019-08-22 at 4 49 05 PM" src="https://user-images.githubusercontent.com/148698/63524762-da9c7480-c4fc-11e9-9f4b-95d1136d9603.png">

I'll keep testing with newer builds next week.

cc @akaroml

[2019-08-22 14:57] yahao87 opened #79649 "vscode tsserver intellisense not working"
This is one js file.
This file is automatically generated when customizing in the nativebase.io library.
However, this file does not work with intellisense on vscode's tsserver.
This causes the `Intellisense` of the entire project containing this file to hang.
I want to know how to solve it.

`commonColor.js`

[code]

[2019-08-22 14:58] alexr00 commented on #76941
https://github.com/spahnke/vscode/commit/232b6a35159bd49f0905fd8017878ee943c003dd

[2019-08-22 15:00] alexr00 commented on #76941
https://github.com/microsoft/vscode/commit/232b6a35159bd49f0905fd8017878ee943c003dd

[2019-08-22 15:01] #76941 closed

[2019-08-22 15:10] Tyriar commented on #79335
I just tested this and everything appears to be working fine.

[2019-08-22 15:10] #79335 closed

[2019-08-22 15:12] xproofx commented on #33752
I really can't deal with this level of bullshit. Fuck you Visual Studio Code.  Let me disable this altogether.

[2019-08-22 15:13] sheetalkamat opened #79650 "Insiders crashing because file is not opened before sending commands operating on that open file"
- VSCode Version:
- OS Version:

Steps to Reproduce:

Issue transfer from microsoft/TypeScript#32827

From the server log the command `getApplicableRefactors` is called before opening the file.

Does this issue occur when all extensions are disabled?: Yes/No

[2019-08-22 15:14] weinand commented on #78127
@BryanHunt what version of Catalina are you using? I'm using 19A487m

[2019-08-22 15:16] rcjsuen commented on #50972
What a time to be alive...

[2019-08-22 15:16] sandy081 commented on #78966
@shanalikhan

Yes this is being considered.

Assuming you are not mentioning about workspace settings which is already shareable. If it is about custom files we can discuss about it.

Regarding adopting, It is needed to provide a User Data Provider by the extension to provide access to the user data it is storing. In case of `Settings Sync` extension which is storing user data in github gist, a Us

[2019-08-22 15:22] fabio-510 commented on #79567
Yes, that's exactly the case. Unfortunately in my case (although not reflected in the example) it is a little bit more complex than simply moving everything to a new subfolder, but at least I know why.

@IllusionMH The issue you refer is quite old. Is there any chance this has any plans on being addressed in near future?

[2019-08-22 15:25] weinand commented on #78127
@BryanHunt When opening a file from the explorer and hovering over the tab, I see the correct path:
![thumbnail_image001](https://user-images.githubusercontent.com/1898161/63527675-d2930380-c501-11e9-85c3-fb7825feac9d.png)

[2019-08-22 15:26] penx commented on #78894
I've drafted something here https://github.com/microsoft/vscode/pull/79651 but not had a chance to test yet, will hopefully pick up later or tomorrow

[2019-08-22 15:28] weinand commented on #78127
How are you launching VS Code?

[2019-08-22 15:32] BryanHunt commented on #78127
@weinand I'm using build 19A536g.  I launch VS Code by clicking on the icon in the dock.

pwd: `/Users/bhunt/Development/Nvidia/Code/experimental/break`

[2019-08-22 15:38] weinand commented on #78127
If you are opening a file from the VS Code explorer and hover over its tab, then you are seeing a path that looks like this: `/System/Volumes/Data/Users/bhunt/Development/...`, correct?

Are you using any symbolic links in your setup?

[2019-08-22 15:38] usernamehw commented on #79648
https://github.com/microsoft/vscode/issues/75500#issuecomment-507172728

[2019-08-22 15:45] BryanHunt commented on #78127
Correct, hovering over the tab after opening from the explorer shows `/System/Volumes/Data/Users/bhunt/Development/...`

I checked all of the directories in the path `/Users/bhunt/Development/...` and there are no symbolic links.

I am not using a workspace file

[2019-08-22 15:45] isidorn commented on #79543
@bpasero what I think was happening is that luckily due to the uri label change the icon label got updated and fixed the issue. Now that we do not update on uri label change, the icon label does not get updated and reveales a bug which was there all along. Maybe the explorer does not properly clear css classes [here](https://github.com/Microsoft/vscode/blob/6a2726755df3caa894380a7a97d2c7889b630712

[2019-08-22 15:47] robynTekside commented on #79508
Version: 1.37.1
OS: Windows_NT x64 10.0.17763

Extensions:
- Debugger for Chrome
- Beautify
- Docker
- Rainbow CSV

Reproducible steps:
1. Open a terminal
2. ls
3. Ctrl + L
4. type anything

What you expected to see, versus what you actually saw:
Expected screen to stay cleared, and not view the previous results
What actually happened was the terminal window did not stay cleared

[2019-08-22 15:47] polidore commented on #33752
ask for a refund.

On Thu, Aug 22, 2019 at 10:14 AM xproofx <notifications@github.com> wrote:

[2019-08-22 15:50] renatoc8 commented on #79594
Ah, that makes sense. Is the "use excludes" setting turned on by default? It seems like it should be, but I'm not sure.

I don't recall switching that setting off on purpose, what's the default value?

[2019-08-22 15:52] weinand commented on #78127
So the problem is not the debugging, but VS Code's file service:
a file opened from the VS Code's explorer has a different path ("/System/Volumes/Data/Users/bhunt/Development/...")  than the file seen by the node.js ("/Users/bhunt/Development/...") which results in breakpoints not being hit.

Does it help if you change the two occurrences of the variable`${workspaceFolder}` in your launch config b

[2019-08-22 15:54] BryanHunt commented on #78127
Just discovered that if a create a new directory under `.../experimental/...` and then create a new file in the explorer that is has the correct path: `~/Development/...`

So, how did the other project pick up the wrong base path?

I'll try the `${workspaceFolder} substitution.

[2019-08-22 15:55] Aaron-Pool commented on #28905
I'd like to see this issue reopened. I find that multi-root/folder workspaces struggle to hand js auto imports as well as having a single root with a `.jsconfig` file. But I'd still like to have a view where I can trim the fat of my workspace down to just what I'm working on that day.

[2019-08-22 15:57] BryanHunt commented on #78127
Substituting `/System/Volumes/Data/...` for `${workspaceFolder}` does not fix the problem for that project.

[2019-08-22 15:58] Tyriar commented on #79039
https://github.com/microsoft/vscode/commit/08d59c432609ae9306eb3889815977e93bb548de

[2019-08-22 15:58] Tyriar commented on #79039
We should verify these keybindings on all platforms just in case.

[2019-08-22 15:59] BryanHunt commented on #78127
The debugger works in the new project I created as expected.

[2019-08-22 15:59] NanaseRuri opened #79652 "It may be better if I could switch extension group"
It may be better if I could switch extension groups by tabs.
As I select different tabs I could get different groups of extension to prevent bugs caused by the conflicts of different extension.

Hope that I express myself clearly.

[2019-08-22 16:02] FadeZhanger opened #79653 "Typescript no syntax highlighting on hover popover"
Issue Type: <b>Bug</b>

Hovering a property/function/type/class displays a popover with detailed information. The code in the popover should have its syntax highlighted, but it is not:
![image](https://user-images.githubusercontent.com/30360288/63529925-8f21a080-c4d3-11e9-99d1-082b14e35e9c.png)

---

With Code 1.37.1, this is working as intended:
![image](https://user-images.githubusercontent.com/

[2019-08-22 16:02] weinand commented on #78127
great! So what exactly is the (path) difference between the two directories?

[2019-08-22 16:02] BryanHunt commented on #78127
I just opened one of my work project workspaces and it shows all of the files with the prefix `/System/Volumes/Data/...`

[2019-08-22 16:03] weinand commented on #78127
@bpasero any idea what the problem could be?

[2019-08-22 16:03] BryanHunt commented on #78127
On disk the project that fails is:

/Users/bhunt/Development/Nvidia/Code/experimental/break

the one that works is:

/Users/bhunt/Development/Nvidia/Code/experimental/foo

[2019-08-22 16:04] IllusionMH commented on #79648
1. This is type alias from package or module `constants` (you should check your `node_modules` folder or files that are referenced in your `baseUrl` or `paths` sections)
2. and 3. If `constants` is file in your project - exclude it if needed, otherwise it will stay. If its from `node_modules` but not referenced in`package.json` - wait for https://github.com/microsoft/TypeScript/pull/32517
4. Becau

[2019-08-22 16:04] BryanHunt commented on #78127
If I open one of my work projects outside of the workspace, it has the correct prefix of `~/Development`

[2019-08-22 16:05] BryanHunt commented on #78127
BTW, if anybody wants to look at this real-time, I think our WebEx works outside of our firewall

[2019-08-22 16:05] Tyriar commented on #79567
This is indeed a duplicate of https://github.com/microsoft/vscode/issues/22772, I've been contemplating removing the link verification all together for a long time due to cases like this and https://github.com/microsoft/vscode/issues/79547 but haven't pulled the trigger as it would result in a degraded experience though as so many things could be a file.

[2019-08-22 16:06] #79210 closed

[2019-08-22 16:08] Gameghostify commented on #54731
@isidorn Thanks a lot!

[2019-08-22 16:08] sbatten commented on #79637
Just to confirm, can you provide the value you have for the setting `workbench.useExperimentalGridLayout`

[2019-08-22 16:08] alexr00 commented on #76351
Fixed by https://github.com/microsoft/vscode/commit/4acba1a2dd2b84b3af789dfac33fc328b01beb23

[2019-08-22 16:08] #76351 closed

[2019-08-22 16:09] sandy081 commented on #79604
Can you please check if you are able to access marketplace? Also do you have any proxy settings?

Can you please open the network tab in developer tools and see if there are any errors accessing marketplace?

[2019-08-22 16:15] BryanHunt commented on #78127
Ah, the workspace file has the path to each of the projects prefixed with `/System/Volumes/Data/...`

This explains the difference I get when opening the workspace vs the individual projects.

It's still a mystery how the `/System/Volumes/Data/...` prefix got picked up to begin with and why I have one project (no workspace) that uses that bad prefix.

[2019-08-22 16:16] IllusionMH commented on #79649
/needsMoreInfo

Does this problem appear if you disable all extensions? What VSCode ans TS versions do you use?

Do you see any errors or strange things in TSServer Log? You can press <kbd>F1</kbd> and execute `>Typescript: Open TS Server log`

[2019-08-22 16:18] aeschli commented on #79543
- enable the minimal icon theme
- in the vscode repo collapse all nodes
- expand 'node_modules' and look at all the icons. There are plenty of folders with file icons

[2019-08-22 16:18] valerio-battaglia commented on #73491
This bug is still up.

Version: 1.37.1 (system setup)
Commit: f06011ac164ae4dc8e753a3fe7f9549844d15e35
Date: 2019-08-15T16:17:55.855Z
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.17763

[2019-08-22 16:19] alexr00 commented on #32239
I like `${defaultBuildTask}`, but there is still the case where there is no default build task. In that case, we can show the build task picker as we do when the Tasks: Run Build Task command is executed.

All of the work for this is in the configuration resolver and in tasks. I will aim to do it in September.

[2019-08-22 16:22] IllusionMH commented on #79644
/needsMoreInfo

Does it happen if you disable all extensions?
Where do you hover over links: editors, markdown preview, terminal, or other specific place?

Checked on Windows in editors, markdown preview, extension details, and terminal and it doesn't happen here.

[2019-08-22 16:23] sandy081 commented on #48754
Adding @alexr00

[2019-08-22 16:25] #78999 closed

[2019-08-22 16:26] BryanHunt commented on #78127
I just figured out how my trivial project is not working.  At some point, VS Code picked up the full path to the project as `/System/Volumes/Data/...` and I have been opening the project from `File -> Open Recent` where it still has that path.  If I use `File -> Open...` to open the project, all of the files are correctly prefixed with `~/Development`.

[2019-08-22 16:27] sandy081 commented on #79012
Replace uses `IBulkEditorService`. @jrieken Does this ignores the file encoding from workspace while replacing?

[2019-08-22 16:30] sandy081 commented on #79016
Yes, I would think so, because its the extension that has to generate the problems.

Files in output panel should be clickable given that they are valid links. Please file an issue against cmake-extension.

[2019-08-22 16:30] #79016 closed

[2019-08-22 16:33] sandy081 commented on #79493
@tomhanax Can you please open the `keybindings.json` file and see if remove/reset action in the Keybinings editor is removing the entry from the json file?

[2019-08-22 16:33] madig commented on #79637
It's off.

[2019-08-22 16:34] BryanHunt commented on #78127
I wonder if the bad prefix was picked up when I was still using bash for the default shell?  I might try switching back later to test this theory.

[2019-08-22 16:36] Fraules opened #79655 "package.json"
{
    "mac": "<keyboard shortcut for mac>",
    "linux": "<keyboard shortcut for linux",
    "win": "<keyboard shortcut for windows",
    "key": "<default keyboard shortcut>",
    "command": "<name of the command in VS Code"
}

[2019-08-22 16:36] ShaCP opened #79656 "Can't peek, find all, go to definition/references across project."
- VSCode Version: 1.37.1
- OS Version: Windows 10

Steps to Reproduce:

1. Try to use any of these features on a variable/function with definition or references in a different file.

It will only find them if they are on the current file.

Does this issue occur when all extensions are disabled?: Yes/No

Yes.

I tried using a jsconfig.json to include all js files like I've seen suggested but it did

[2019-08-22 16:39] jrieken commented on #79012
No clue. It uses our standard [`createModelReference`](https://github.com/microsoft/vscode/blob/6f998109d8ff8ba2bef074eea1b5986a9443316e/src/vs/workbench/services/bulkEdit/browser/bulkEditService.ts#L184)-function which open a `Uri` to a model, no mentioned of encodings and such. Next stop @bpasero

[2019-08-22 16:41] rebornix commented on #15727
@ArmorDarks you can resize the find widget by dragging the left most sash when necessary.

[2019-08-22 16:43] Tyriar opened #79657 "Test: Automation shell"
Test for #78497

- [x] Linux @weinand
- [x] macOS @RMacfarlane
- [x] Windows @joaomoreno

Complexity: 3

The new settings `terminal.integrated.automation.shell.<platform>` was introduced which when set will override the shell used by tasks and debug with whatever is specified. This will also cause shellArgs to get ignored.

To verify make sure it does as advertised for regular terminals (not touch

[2019-08-22 16:44] Tyriar commented on #78502
Verifier: Try use the new API and make sure it works for terminals created before it was registered and after it was registered.

[2019-08-22 16:45] rebornix commented on #28448
@isidorn is this already fixed with https://github.com/microsoft/vscode/issues/69741 ?

[2019-08-22 16:52] skprabhanjan opened #79658 "New pattern to Preserve Case ( underscore separated variables)"
@rebornix  and @roblourens  , Similar to #79525 , We can implement for underscore character as well , Proposing this will be only just underscore or just hyphen replacements and not both.

Foo-Bar replaced with newfoo-newbar with case preserved will be Newfoo-Newbar and Foo_Bar will be Newfoo_NewBar.
Please let me know if this gets a node from you guys ?
Thanks!

[2019-08-22 16:53] RMacfarlane commented on #79655
/needsMoreInfo Please describe in detail the bug or feature request.

[2019-08-22 16:53] danielo515 opened #79659 "Unable to find definition from index file while on the same folder"
Issue Type: <b>Bug</b>

VSCode is not able to navigate to the definition from an index file to a file that is on the same folder.
Here is a little but simple example:
index.js

[code]

Folder structure

[code]

When you try to go to the definition of the only import on the index file it just goes to the index itself.

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-

[2019-08-22 16:53] braun1928 commented on #79644
Definitely something wrong with the terraform extension. Opened a golang source, wrote a URL in the terminal and in the editor, all cases the click was needed. I'll raise a ticket there. Thanks!

[2019-08-22 16:53] #79644 closed

[2019-08-22 17:26] bpasero commented on #78127
@BryanHunt to clarify you ended up here because of a vscode-multi-root-workspace-file that has /System... paths?

[2019-08-22 17:27] bpasero commented on #79012
Wait, search/replace operates on models right? And they are always in UTF-8, no matter how the encoding is configured. But then you trigger a save of the model and yes - that goes through the same path as the user saving a file.

[2019-08-22 17:28] gjsjohnmurray commented on #79653
/duplicate of #78946

[2019-08-22 17:29] #79653 closed

[2019-08-22 17:32] bpasero commented on #79543
@aeschli are you sure you are on latest? I do not see that (running out of master with a fresh user data dir):

![before](https://user-images.githubusercontent.com/900690/63536257-8224a180-c513-11e9-8d23-ddc2172faf0b.gif)

@isidorn

But that is only true if the icon is being resolved depending on the URI label from the label service which I doubt and asked for initially.

[2019-08-22 17:48] hosbied commented on #79604
No i can't access to marketplace , i stopped all proxy settings in my pc .
The Problem Still work .

[2019-08-22 17:48] mjbvz commented on #75492
There are many, many reasons why this many not work as you expect. Can you create a minimal example project that captures the problem but does not have private code?

[2019-08-22 17:48] sbatten commented on #79637
@madig try setting `window.newWindowDimensions` to `inherit`. This should restore your maximized state and prevent the terminal having to shrink with the window.

[2019-08-22 17:51] mjbvz commented on #79380
Can you please try opening some other simple js projects to see if the issue is specific to the project you are working on?

Also, can you  share the logs privately with us? Without logs or repo steps, it is not really possible to investigate this effectively

[2019-08-22 17:51] gokayokutucu commented on #79358
When printing long texts in the terminal, the text begins directly next to the new row (e.g. root name). However, if the window is resized while such text is shown, the text detaches from the root name, and drops down to the line below.

You can see the screenshot of the related issue on above. In this sample; I have a console app and it just prints out a long texts.

[2019-08-22 17:52] sbatten commented on #79637
@madig When you open the VS Code window from the taskbar jump list, is this the only window that is open, or are other windows open. VS Code tries to restore the window dimensions and position by default so I'm curious how this small window is showing up.

[2019-08-22 17:59] DominicTobias commented on #79590
Thanks @jrieken, you're right it's the fault of an extension. I'll narrow down which one.

[2019-08-22 17:59] #79590 closed

[2019-08-22 18:05] DominicTobias commented on #79590
Edit: weirdly just disabling and enabling the plugins (one by one as I was testing) fixed the issue

[2019-08-22 18:10] Tyriar commented on #71966
@eamodio if you get it to happen without using tasks can you create a process dump file? https://github.com/microsoft/terminal/issues/1810#issuecomment-524003199 You should be able to do this via task manager:

<img width="306" alt="Screen Shot 2019-08-22 at 11 10 23 AM" src="https://user-images.githubusercontent.com/2193314/63538790-7c0bd200-c4cd-11e9-96bc-d018e5d8f45b.png">

[2019-08-22 18:11] Tyriar commented on #71966
@eamodio if you get it to happen without using tasks can you create a process dump file? https://github.com/microsoft/terminal/issues/1810#issuecomment-524003199 You should be able to do this via task manager:

<img width="306" alt="Screen Shot 2019-08-22 at 11 10 23 AM" src="https://user-images.githubusercontent.com/2193314/63538790-7c0bd200-c4cd-11e9-96bc-d018e5d8f45b.png">

You'll need to do th

[2019-08-22 18:13] nijikokun commented on #79568
I've actually downgraded because of this, I **much prefer** the **filled in** icons. I don't know how long I'll have to wait to see filled in icons again...

[2019-08-22 18:19] ThadHouse opened #79661 "TaskProvider.resolveTask getting called at extension startup."
Issue Type: <b>Bug</b>

By the docs, it seems like the TaskProvider should be able to handle the users creating custom tasks, which would depend on the task only getting resolved when the task is requested to be ran. However, this does not seem to be the case, and the task gets resolved immediately.

1. Create a custom task provider (it can be very basic)
2. Create a task of the provided type
3. r

[2019-08-22 18:19] pjfitzgerald commented on #35901
Any progress on this issue?

[2019-08-22 18:23] ThadHouse opened #79662 "TaskProvider.resolveTask not responding to adding ShellExecution"
Issue Type: <b>Bug</b>

1. Create a custom task provider (it can be very basic)
2. Create a task of the provided type.
3. In resolveTask, add the following code.

[code]

By the documentation, and what it seems like the task does, this should work. However I get a task error, saying the task was not provided.

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17

[2019-08-22 18:30] lishine commented on #77635
Adding this to jsconfig.json solves the problem.
I appreciate your help! :)
[code]
BTW, checkJs helped to see the imports resolve problem, but otherwise it shows many typescript issues, so it cannot be enabled all time for js dev, pity.

[2019-08-22 18:30] #77635 closed

[2019-08-22 18:36] roblourens commented on #79594
It should be on by default. I have had other people say that it seems to have gotten switched off on accident. That's why I try to make it obvious (like by keeping the details open) that it is off although I could probably do more.

[2019-08-22 18:36] #79594 closed

[2019-08-22 18:48] floatas commented on #6328
I made custom nesting, but my pull request won't be merged. As VS code team has other plans and don't want to make changes to that part of code. For me this feature is also important, so I made custom Vs Code build (extension store works) you can give it a try https://github.com/floatas/vscode/releases/tag/1.37 Will see how progress goes on this issue, I'm considering making something similar as V

[2019-08-22 18:52] n8crwlr commented on #43857
I would like it to 👍

[2019-08-22 18:55] mjbvz commented on #23927
I like “tags”. It’s more open ended.

If we call it “tags” does it still make sense to put this as a property on “kind”? Or should it be it’s own field?

[2019-08-22 18:57] nhorlock opened #79663 "Latest insiders build breaks remote ssh ( Failed to parse remote port from server output)"
Using SSH-Remote to an Ubunut 18.04 host is suddenly failing after reload.
killed all server-side instasnces and moved the .vscode-server-insiders folder to force a new install and still the issue persists.

Version: 1.38.0-insider (user setup)
Commit: 366e1b275cf01e2d50e96083dede553de608b078
Date: 2019-08-22T10:53:16.884Z
Electron: 4.2.9
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-elect

[2019-08-22 19:06] NatoBoram commented on #41767
Now that would've been a wonderful solution to https://github.com/bmewburn/vscode-intelephense/issues/615.

[2019-08-22 19:09] RenNY123 opened #79664 "assign three quotes string to variable, VS code add strange characters on both mac and linux"
Issue Type: <b>Bug</b>

assign a long string to a variable in python with tree quotes """
when you run it with shift enter on mac or linux, it addes strange characters.
below is quote to test:

test = """
with dba_agg AS (
SELECT af.*, apps.ap_subm, ap_count, ap_return_leases, ap_fraud
, acct_subm, acct_count, acct_return_leases, ddd
-- , tna
FROM ap_first af
LEFT JOIN apps_ag apps ON af.test_name

[2019-08-22 19:13] poortom1004 commented on #42356
This is problematic for beginners on vscode.  I transitioned from the ISE to VS Code and experienced this.  I wasted 30 mins trying to figure it out.  Now multiply that amount of wasted time by the number of new VS Code users using the product simply for the PowerShell extension because Microsoft deprecated the PowerShell ISE.  That's a lot of wasted time.

[2019-08-22 19:16] tomhanax commented on #79493
Yes, `keybindings.json` is immediately updated. I found that also assigning the key does not update list, but json file is updated. Seems like some GUI refreshing error...

[2019-08-22 19:19] pmarreck commented on #18239
Chiming in to vouch for Control-D case sensitivity as a permanent option that defaults to "case-sensitive"

[2019-08-22 19:20] fzqneo commented on #79663
Same problem on Mac.

Version: 1.38.0-insider
Commit: 366e1b275cf01e2d50e96083dede553de608b078
Date: 2019-08-22T10:49:36.487Z
Electron: 4.2.9
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 17.7.0

[2019-08-22 19:32] mgabeler-lee-6rs commented on #77106
Installed `code-insiders` version `1.38.0-1566471633` and confirmed the fix is working, thanks!

[2019-08-22 19:37] charltonstanley commented on #68038
i just tested this out and it looks to be fixed now on v1.35.0 @colemickens is this still an issue for you?
![image](https://user-images.githubusercontent.com/22397984/63544231-475a4380-c4ea-11e9-886c-6503a46f3893.png)

[2019-08-22 19:38] hwassinger commented on #79412
I have not been able to recreate at will however basic's are
1. create a function in VS Code using powershell extension
2. Call that function later in script

Here's my named function : function Man_Port {
Heres result when I call itMan_Port : The term 'Man_Port' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was

[2019-08-22 19:41] oviava commented on #79663
Same problem on mac, latest version of insider

[2019-08-22 19:48] zbjornson opened #79665 "Option to not automatically resize all panes when splitting a pane"
Right now when you split a pane, all panes are resized so they have equal width:

![resize-panes](https://user-images.githubusercontent.com/469365/63544644-81bbe480-c4da-11e9-8b68-70b501d79ad5.gif)

Personally I'd much rather it preserve the existing widths, and only split the width of the pane that I split. An option for this would be nice.

(Annoyance being that I have two or three columns alrea

[2019-08-22 19:49] zbjornson commented on #79665
None of those appear to be dupes. I also went through every open and closed issue for "split".

[2019-08-22 20:04] jlagr commented on #79427
I have the same issue... Additionally test two different options that works until I restart the computer:
a) Update windows 10 version to 1903, works for a day but the error comes again the next day.
b) Add antivirus exception for WinPTY agent, works until restart the computer too.

[2019-08-22 20:09] andrewbranch commented on #79648
@IllusionMH is correct. Also, if you want to disable auto-imports entirely, you can search for this in VS Code settings:

![image](https://user-images.githubusercontent.com/3277153/63546193-0825f580-c4de-11e9-871c-f55fc1a23b0f.png)

[2019-08-22 20:11] idleberg opened #79666 "Extension configuration order"
If I'm not mistaken, older versions of VSCode displayed configuration settings in the order they were specified in `package.json`. This is no longer the case and probably related to the switch to a visual config editor.

However, ordering configuration settings alphabetically does not always make sense. I prefer grouping related properties and to logically guide a user through them.

**Example:**

[2019-08-22 20:23] yobyot commented on #48659
I was very excited to discover SSH-Remote in vscode, thinking it could replace my (limited) vi skills. But, like the OP, I need to be able to sudo to change config files in places like /etc. The audience for this feature is admins who are not necessarily coders. For these kinds of users, who are administering production systems, the option of enabling root is a non-starter. I hope the vscode team

[2019-08-22 20:25] nirnir93 commented on #21839
+1 Would very much like to see this (I heard ProGet already hosts VSIXs... Is that related?)

[2019-08-22 20:43] IPyandy commented on #79663
Experiencing the same on Windows 10 machine and Mac.

[2019-08-22 20:49] Zireael commented on #3429
Please add [background] styling

[2019-08-22 20:51] thkrishn commented on #78126
It was working fine and after the update getting this error
[code]

[2019-08-22 20:58] alexandrudima commented on #79475
@Tyriar What version were you using? You can deminify stacks using https://github.com/alexandrudima/vscode-stack-beautifier

[2019-08-22 21:00] alexandrudima commented on #79460
No, not that I can think of.

[2019-08-22 21:03] heaths opened #79667 "Import changes to TextMate YAML syntax highlighting to fix string literals"
On VSCode 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35), string literals in YAML aren't treated completely as strings. I opened microsoft/vscode#54219 a while back but was closed waiting for TextMate to fix this. Based on textmate/yaml.tmbundle#26 it seems that has happened. Can you do an import/conversion and test this?

[2019-08-22 21:06] roblourens commented on #78126
Could you try running the command "Uninstall vscode server from host" and try again? Seems there is a problem connecting to the currently running server...

[2019-08-22 21:11] abhinuvpitale commented on #76892
let me give it a shot then

[2019-08-22 21:32] deepak1556 commented on #79176
Fix is up at https://github.com/electron/electron/pull/19878 , should be available with next electron release.

[2019-08-22 21:40] thkrishn commented on #78126
how/where  do I run that command

[2019-08-22 21:54] weinand commented on #78127
@bpasero in some comment from above Bryan said that he is not using a workspace file.

[2019-08-22 21:57] roblourens commented on #78126
The command palette (ctrl+shift+P)

[2019-08-22 21:58] kcaze commented on #78817
Global tasks used to work on previous versions of VS Code though; it seems like they no longer work due to https://github.com/microsoft/vscode/commit/7705bbd564412e3f31272c3f69573e770b88733e ?

In that diff it seems like a workspace folder argument was added for the terminal name but couldn't that remain optional in order to support Global tasks?

cc @Jma353

[2019-08-22 21:59] octref commented on #77458
Errors are added as part of #77459 (besides `enum`, `pattern`, `minItems`, `maxItems` are also supported).

![image](https://user-images.githubusercontent.com/4033249/63552651-0e6f9e00-c4ed-11e9-8232-693317af9320.png)

So I'm putting this one into backlog.

[2019-08-22 22:06] RMacfarlane commented on #79456
@r3volution11 I made a change yesterday that should improve perf somewhat, can you give it a try? https://code.visualstudio.com/insiders/

[2019-08-22 22:15] JordyScript commented on #4490
Can we already install this from the vscode marketplace?

[2019-08-22 22:17] RMacfarlane commented on #79664
@RenNY123 I haven't been able to reproduce this problem yet, can you see if it also happens after you have hit F1 and run the command `Developer: Reload Window With Extensions Disabled`? Do you see the string printed normally in a terminal outside of VSCode?

[2019-08-22 22:17] swbrenneis commented on #79640
I cannot provide the original files since they contain extremely sensitive information. I will work up a similar file and try to reproduce it.

[2019-08-22 22:20] yahao87 commented on #79649
@IllusionMH This has already been tested with all installed extensions turned off.
I think this is a wait that the tsserver log doesn't know.
Deleting it from the bottom to the `//footer` works.

You can reproduce it by simply pasting the code above into the latest vscode.

[2019-08-22 22:21] hedgerh commented on #4490
Update on the current state of the extension API change:  there were performance concerns with the new API, so they've decided to nix it.  They are open to PRs to add macro recording functionality to VSCode proper, though.. I may start looking into how to do implement it once I get some free time.  Sorry to everyone who has been waiting on the extension to become available.

[2019-08-22 22:28] thkrishn commented on #78126
Still doesn't work but different error :
[code]

[2019-08-22 22:40] #79619 closed

[2019-08-22 22:41] RMacfarlane commented on #79619
Hi @gummoni, since this a problem with the C++ extension, can you please reopen this issue there? https://github.com/Microsoft/vscode-cpptools

[2019-08-22 22:46] deepak1556 commented on #79603
@bpasero I tried

[code]

but didn't see the crash, can you share the repro case ?

[2019-08-22 22:47] RMacfarlane commented on #79656
@ShaCP I'm having trouble reproducing this, can you give a small code sample of what the files look like?

[2019-08-22 22:48] RMacfarlane commented on #79652
Thanks @NanaseRuri! I think this is a duplicate of https://github.com/microsoft/vscode/issues/20599, please go add a "thumbs up" to that issue

[2019-08-22 22:48] #79652 closed

[2019-08-22 22:51] RMacfarlane commented on #79646
Hi @yuchenzhen, can you include some more information to help figure out the problem? What version of VSCode are you using, and what operating system? Where you doing anything before the status bar changed color? Can you try disabling extensions and seeing if the problem persists?

[2019-08-22 22:57] jeff-hykin commented on #77140
You should probably report that to the Typescript grammar repo, I think that's solvable with the current tools.

To answer your question though: the tree sitter would likely not have that issue. This thread is currently solving a pre-requisite problem: the tree sitter (and other parsers) don't have an efficient real-time way to tell VS code about the structure of the code. We need a way to store t

[2019-08-22 23:00] RMacfarlane commented on #79636
This is a bug in Windows 10 1809, unfortunately we have no way to work around the issue so you will need to wait until you get the next version of Windows 10 (1903).

/duplicate https://github.com/Microsoft/vscode/issues/57803

[2019-08-22 23:00] #79636 closed

[2019-08-22 23:07] RMacfarlane commented on #79461
@starcraft0429 Thanks for the clarification. I think this is a duplicate of #78975

[2019-08-22 23:07] #79461 closed

[2019-08-22 23:09] roblourens commented on #79663
It works with stable vscode right?

[2019-08-22 23:18] RMacfarlane commented on #79641
Please use `&lt;` instead of `<`

[2019-08-22 23:18] #79641 closed

[2019-08-22 23:20] #77459 closed

[2019-08-22 23:27] RMacfarlane commented on #79630
@sbatten I remember you made changes that made some part of the clipboard async, was that last milestone and would it impact executing `editor.action.clipboardCopyAction`?

[2019-08-22 23:30] RMacfarlane commented on #79336
Yes, this is likely due to the workspace stats call. I made a change yesterday that should improve perf somewhat, @starkat99 can you let me know if you see any difference with today's insiders?

[2019-08-22 23:38] Hassan-Azzam opened #79669 "Error when trying to install extensions"
I can't install any extension i don't know why.
every time i try to install new one i get this error
"Failed to install extension-name, Download Manually"
and even when i do download the extension manually it gives me the same error.

also all the extensions icons are not loading which means the editor can't reach the vs code servers to get the extensions and the icons.

but i have no idea how to

[2019-08-23 00:09] sbatten commented on #79630
yes /cc @jrieken

[2019-08-23 00:16] roblourens commented on #79605
I'm pretty sure there were no errors anywhere. It doesn't repro that consistently but I can disable grid layout to see whether it shows up.

[2019-08-23 00:17] roblourens commented on #78126
There is definitely something wrong with running the server on your remote. Can you share the full log? And do you see the server running? `ps ax | grep <commit hash>`

[2019-08-23 00:49] roblourens commented on #69335
Added a deprecation warning for rootPath and will file a lot of issues on extensions later.

[2019-08-23 01:02] jabacchetta opened #79670 "Keyboard shortcuts/settings context menu consistency"
In the settings UI editor, right clicking on a setting to open the context menu will give two options: `Copy Setting ID` and `Copy Setting as JSON`.

For consistency, it seems like it'd make sense to name those options similarly in the Keyboard Shortcuts UI editor when right clicking on a keyboard rule, changing `Copy` to `Copy Command as JSON` and changing `Copy Command` to `Copy Command ID`.

[2019-08-23 01:06] qtcwt opened #79671 "Error while loading extensions if start vscode from desktop entry"
- VSCode Version: 1.37.1
- OS Version: Manjaro 18.0.4

VSCode cannot install extension. It returns an error like
`error while loading extensions. connect ENOENT /run/user/1000/vscode-a6e6e4fe-1.37.1-shared.sock`
In `/run/user/1000`, there's only `vscode-bf9f08ec-1.37.1-shared.sock` created when VSCode is started from desktop entry.

However, if vscode is started from the terminal via command `code

[2019-08-23 01:16] bakchanggyu commented on #72607
Thank you firstly, I also suffer same phenomenon like you behind company proxy.
What is going on? Did you get proper setting to clear this issue??

[2019-08-23 01:25] cnjsdfcy commented on #79344
It turns out to be an unimplemented [cpptools‘ feature](https://github.com/microsoft/vscode-cpptools/issues/4124). Closing this issue.

[2019-08-23 01:25] #79344 closed

[2019-08-23 01:52] wtus opened #79672 "How to get integral output?"
i am trying to print a json string

![](https://ae01.alicdn.com/kf/H0596dce6ae2a4a8a91d0b583274e5d29i.png)

how do i get complete json without newline

[2019-08-23 01:53] jflaflamme commented on #78438
I am not sure what you mean, I do a `ps -ef |grep lsof` and see multiple`lsof -p <pid>` all spawning each others. So then easily 5-10 processes taking big chunk of CPU.

[2019-08-23 01:57] ShaCP commented on #79656
@RMacfarlane

This is the code:
https://github.com/tastejs/todomvc/tree/gh-pages/examples/vanillajs

If I go to view.js in VS Code and try to go the definition of $delegate, it won't give me any results.

I downloaded Sublime Text 3 just to see if it has a similar feature, and it correctly shows where $delegate is defined and where it's referenced.

[2019-08-23 02:02] ScriptPup commented on #45407
Bump, looks like there hasn't been anything for quite a while. Is this still being worked? Thanks!

[2019-08-23 02:05] Chad97 opened #79673 "I hope to add plugin classification"
Issue Type: <b>Feature Request</b>

# I hope to add plugin classification
# 希望增加插件分类功能
（Double translation）

Because the plugins of multiple languages will affect each other during the process of use, such as JavaScript and Python, it will lead to confusion. I hope to add a plugin startup list, and the user can configure the plugins or plugin groups that are currently started.

因为在使用的过程中多个语言的插件会互相

[2019-08-23 02:15] Chad97 commented on #79673
thanks
my The problem is the same as （#65123）