[2017-04-04 01:44] mjbvz commented on #15922
After looking at this again, this looks like a duplicate of https://github.com/Microsoft/TypeScript/issues/11825 or https://github.com/Microsoft/TypeScript/issues/14056 We're tracking these on the TypeScript side.

As you noted, the workaround currently is to use an import pattern instead of `var x = require(...)`

[2017-04-04 01:44] #15922 closed

[2017-04-04 01:48] #21646 closed

[2017-04-04 01:58] landonepps commented on #23833
I created a PR for `node-native-keymap`
Microsoft/node-native-keymap#8

[2017-04-04 02:58] bleevo commented on #23841
Getting same thing on Windows 10.

![image](https://cloud.githubusercontent.com/assets/105844/24639907/659a8768-1936-11e7-8775-e40f2ac47998.png)

[2017-04-04 03:06] h1romas4 commented on #22916
@mjbvz Sorry, I was wrong. new vscode-markdown-mermaid is work! Thank you!

![mermaid](https://cloud.githubusercontent.com/assets/4337664/24640025/bdf0e2c0-192e-11e7-80a7-1e9327952382.png)

[2017-04-04 03:46] bpasero commented on #23864
@Tyriar I cannot reproduce on my Ubuntu 64bits with external mouse:

![panel-red](https://cloud.githubusercontent.com/assets/900690/24640777/0be5f66c-18fa-11e7-99ee-aa33baa4f495.gif)

What is different in your setup?

[2017-04-04 03:49] bpasero commented on #23865
Or maybe settings? Can you share yours? There is a `files.exclude` setting that can have an impact.

[2017-04-04 03:50] bpasero commented on #23869
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2017-04-04 05:10] v-mane commented on #19748
For me uninstall and install Git for windows did not worked, but seems to be an issue with my NodeJS installation. **I installed NodeJS LTS v6.10.1 and it worked!!!!!**
You can download NodeJS LTS from https://nodejs.org/en/download

[2017-04-04 05:25] ndbroadbent commented on #14685
Wow, thanks @roblourens. This extension was also killing my laptop, and it's not the most critical thing :)

[2017-04-04 05:29] 4zriel commented on #23533
Hi, thanks for the answer but  what about single comma? :)

[2017-04-04 05:39] bpasero commented on #8809
@joaomoreno is the new SCM provider still using `AskpassChannel` and `GitAskpassService`?

[2017-04-04 05:54] roblourens commented on #20301
I did find a mistake in my code, but even fixing that, I get the same result. But it does work with Electron 1.5-1.6 regardless, so I'm tempted to leave it.

[2017-04-04 06:18] byroniac commented on #23841
Code-Insiders doesn't update on Ubuntu the same way it does on Windows. I can check for updates, and if it finds any, it sends me to the website to download the .deb file. However, the .deb file now automatically seems to install a PPA for updating the system with "apt-get update". I do have several custom PPAs so it's not impossible that something is conflicting, but I hope it's unlikely.

BTW, w

[2017-04-04 06:33] QwertyZW commented on #23831
Thanks!

[2017-04-04 06:52] weinand commented on #7683
@chiangf alternatively you could try `"protocol": "legacy"` with the Insiders build (1.11.0). We've fixed an issue in March that might have solved this issue as well.

[2017-04-04 06:56] hengkx commented on #23818
@aeschli
![vs code slow](https://cloud.githubusercontent.com/assets/8358236/24644559/e7970efc-1946-11e7-87a3-4645e60906c6.gif)

[2017-04-04 06:57] jrieken commented on #19246
That's a good question. It is default Textmate behaviour but I don't know if emmet is also Textmate...

[2017-04-04 07:01] jrieken commented on #719
Yes and no. We have boiled things down the a small set of standard tokens: *comment*, *string*, *regex*, and *other* which is everything else. Those token live in the main side, so in theory we can register providers with more info. The problem is that we don't have token information on the ext side and that allow to evaluate a document selector there as well and that the lack of token would yield

[2017-04-04 07:06] michaelswe commented on #6607
Thumbs up for this. I recently switched from Atom and Sublime to VSCode. I like everything else, but the app icon is ugly and also too bland. The app icon is easily missed while switching app with cmd-tab. I don't know why, but possibly because of the "blandness".

[2017-04-04 07:07] jrieken commented on #23344
How about not making it a setting but just stored state via [`workspaceState`](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L3390)

[2017-04-04 07:08] sandy081 commented on #23822
I was also seeing this degradation.. but sorry I did not record any cpu profiles. I will take today if I see them again.

[2017-04-04 07:15] a8775 opened #23879 "[SCM] git is missing in last few insider builds"
- VSCode Version: 1.11.0-insider (2017-04-03T05:31:39)
- OS Version: Windows 10

I know many changes at the moment with SCM but I'm struggling with the problem that git is not working any more form vscode for last few days.
This happen on my two Windows 10 machines that are both in insider build.
I looked for issue and docs and it seems that git extenstion should be packed with distribution and sh

[2017-04-04 07:18] mrmlnc commented on #15141
Confirm 👍

[2017-04-04 07:21] aeschli commented on #23818
@hengkx Thanks!
Can you run without any extension and see if that makes a difference?
`code --disable-extensions`

[2017-04-04 07:22] tlycken commented on #23860
@doron2402 Sure, killing the process recovers my CPU capacity. The question is, why do I need to? :)

[2017-04-04 07:25] mike-lischke commented on #23238
Thank your for your hint. That fixed the issue, but shouldn't such facts be documented somewhere? It's really not obvious that you need a base tag (and I can imagine there are other tags as well). What does the HTML preview actually expect and what is changed automatically? All examples I have seen work with incomplete HTML, which is confusing.

[2017-04-04 07:26] hoovercj opened #23880 "Add extension context state as source for "when" clause contexts"
Feature request:

Currently when clauses can be evaluated based on a number of things as [outlined here](https://code.visualstudio.com/docs/getstarted/keybindings#_when-clause-contexts)
, but for an extension developer this requires adding a configuration option for something that might belong in the state.

For example, a gitter user has stated that they'd like to enable a context menu entry only

[2017-04-04 07:39] aeschli commented on #23860
@tlycken @jens1o Can you run
`WMIC path win32_process where "name like 'code%.%'" get Caption,Processid,Commandline`
from the console and paste it here? This will show the (internal) command line of the code process is sticking around.

[2017-04-04 07:48] ramya-rao-a commented on #19246
emmet does borrow from text mate

https://docs.emmet.io/customization/snippets/#text-snippets

[2017-04-04 07:52] ramya-rao-a commented on #15141
@mrmlnc confirm which way :) ?

confirm no repro or confirm you can still repro ?

[2017-04-04 07:55] matyasforian commented on #18401
@weinand Where is it in the docs? Ive looked here: https://code.visualstudio.com/docs/getstarted/settings and here: https://code.visualstudio.com/docs/editor/debugging but could not fund anything.

[2017-04-04 08:01] weinand commented on #18401
@isidorn please add this to the generic debugger doc.

[2017-04-04 08:03] jrieken commented on #19246
Very cool!

[2017-04-04 08:06] matyasforian commented on #18401
Also the "launch" tag is not recognized by IntelliSense in the settings.. this is a bug I guess.

[2017-04-04 08:12] dbaeumer commented on #20704
VS Code has not knowledge about msbuild location under Windows. All commands listed in tasks.json need to either be on the path or need to be references absolute.

[2017-04-04 08:13] sandy081 commented on #23843
@alexandrudima FYI

[2017-04-04 08:14] sandy081 commented on #23843
@isidorn Should not we fix this for March as Quiet light theme is the one we ship out of the box?

[2017-04-04 08:18] dbaeumer commented on #22250
@Jonathan34 this needs a released insider build which has not happened yet since we are in endgame process. The build must be at least 2017-04-04:....

[2017-04-04 08:19] dbaeumer commented on #22250
If you can still reproduce in a newer build can you please provider a reproducible case. Simply having the tasks.json and launch.json is most of the time not enough. Best would be a GitHub repository to clone from.

[2017-04-04 08:23] matyasforian opened #23881 ""launch" tag not recognized in settings."
- VSCode Version: 1.10.2
- OS Version: Ubuntu 16.10

According to #18401 it should be possible to add a "launch" tag in the settings. I could not get this to work, also IntilliSense does not recognise this tag.
Also what is the precedence order of this? Is it "user settings > workspace settings > launch.json"?

Steps to Reproduce:

1. Add the following code to your user settings (taken from #18401

[2017-04-04 08:35] Zertu commented on #23668
the bug happens in every themes
in the following code the function should be highlighted,while in vscode ,it is not highlighted as i expected
[code]

[2017-04-04 08:36] sandy081 commented on #23047
@dbaeumer I looked back at the previous configuration service code (before I refactored) and it was not holding any parse errors from configuration files. ConfigurationService APIs simple enough to return a value given a key. I think we would need a new API to get parse errors.

[2017-04-04 08:41] sandangel commented on #23234
I'm developing a node app. I just think that when developing, you have to compile the code many many time, use compile tools, and watch for file change. If there is a way using ts-node to debug with vscode when developing, and when you finish, you just have to built the code once. It would be great.
@roblourens I tried with that config but it not worked. I still have to run tsc / tsc -w before sta

[2017-04-04 08:43] jrieken commented on #23822
@bpasero There is some major leakage on ActionItems and we believe this is causing the slowness in the end.

In `actionbar.ts` there is this

[code]

which is slightly bogus because there is also this

[code]

Which means that for once we will create (and leak) action items when a provideris not returning something and it also means that with `addEmitter2` we hold a reference forever.

Also, when

[2017-04-04 08:44] alexandrudima commented on #23843
On my monitor I cannot tell the colors apart

[2017-04-04 08:49] isidorn commented on #22892
I do not know if I changed branches - this happened 15 days ago.
I have tsc 2.1.4 installed.  This is our vscode repo and I have "typescript.check.tscVersion": false. So I am not sure which tsc you take in that case

[2017-04-04 08:51] isidorn commented on #23843
Yeah, let's fix it for march then

[2017-04-04 08:52] sandy081 commented on #23777
Are you wanting to have multiple searches #16488 ?

[2017-04-04 08:55] sandy081 commented on #23762
I do not think sorting it by default would be expected by all users. Instead

- Have an extension that does that - automatically or by action - just like how format is done.

[2017-04-04 08:55] #23762 closed

[2017-04-04 09:07] sandy081 commented on #23582
Duplicates #18233

[2017-04-04 09:07] #23582 closed

[2017-04-04 09:11] alexandrudima commented on #23833
Brilliant!

[2017-04-04 09:11] sandy081 commented on #22814
@mherodev You can change the behaviour as you requested by placing following in `keybindings.json` file

[code]

[2017-04-04 09:11] #22814 closed

[2017-04-04 09:12] alexandrudima commented on #23739
Yes, will configure it today in #23856

[2017-04-04 09:14] #23843 closed

[2017-04-04 09:15] sandy081 commented on #22795
@nilanjan You can find previous search terms by keyboard shortcut `alt+upArrow` or `alt+downArrow`. This will only navigate search terms but not all inputs (replace, include, exclude).

Let me know what you mean by search paths here?

[2017-04-04 09:18] alexandrudima commented on #23829
@sdwarwick We disable syntax highlighting for lines over 20k chars long.

The root cause is our usage of TM Grammars, that are based on regular expressions to match certain regions of the line and generate syntactic tokens. Very skilled grammar authors can write grammars containing regular expressions that have no problem over such long strings, but we have found that is not really the case, as mo

[2017-04-04 09:19] sandy081 commented on #22554
Duplicates #16488

[2017-04-04 09:19] #22554 closed

[2017-04-04 09:21] sandy081 commented on #22442
@vandijkstef I see scrolling in Extensions viewlet works perfectly fine for me. Any additional info would be helpful.

[2017-04-04 09:26] sandy081 commented on #21983
Thanks for information. Closing this.

[2017-04-04 09:26] #21983 closed

[2017-04-04 09:27] sandy081 commented on #21873
Duplicates #18354

[2017-04-04 09:27] #21873 closed

[2017-04-04 09:28] elirnm commented on #23852
FYI, the symbol is [Combining Greek Dialytika Tonos](https://unicode-table.com/en/0344/) (U+0344) combined with a standard left peren.

[2017-04-04 09:28] sandy081 commented on #18695
Please reopen it with the requested information from above comment. Thanks.

[2017-04-04 09:28] #18695 closed

[2017-04-04 09:29] sandy081 commented on #9081
Please reopen it with the requested details.

[2017-04-04 09:29] #9081 closed

[2017-04-04 09:34] aeschli commented on #23726
To reproduce:
- Open `launch.json`
- Type some garbage to get warnings, save
- Restart VSCode
- Open `launch.json`
- Close `launch.json`
- Delete `launch.json`
- Press F5 and select an option that causes it to be re-created
- Open `launch.json, old errors appear

[2017-04-04 09:34] #23726 closed

[2017-04-04 09:38] sdwarwick commented on #23829
Thanks for the information.  I really hope that we get a solution to unpacking minified code, as now I have to jump to notepad++ to get a readable file..

[2017-04-04 09:46] DonJayamanne commented on #16064
@isidorn @weinand
Just out of curiosity, how will this affect existing users with settings in launch.json and others where `config.` is being used?

[2017-04-04 09:47] alexandrudima commented on #23856
Now pointing to `https://code.visualstudio.com/updates/v1_11#improved-keyboard-layout-support`

[2017-04-04 09:47] #23856 closed

[2017-04-04 09:47] alexandrudima commented on #23856
fyi @gregvanl hopefully this link will point to the right section once we publish the release notes.

[2017-04-04 09:53] isidorn commented on #16064
@DonJayamanne for 2 milestone they are already getting a green squilgy warning prompting the users to use `config:` instead. After that (in April stable which will be availabe in May) it will simply fail to substitute

[2017-04-04 09:55] bpasero commented on #23841
/cc @jrieken

[2017-04-04 10:01] Relequestual commented on #23016
Hey @aeschli, Great!
Developments are happening quite rapidly over on the json-schema-org repos.
I appreciate you can't speak for ALL of MS, but representing them at any level could be useful for the project moving forward. Swagger for example has a lot of names behind it, but few realise that a LOT of its core is actualy JSON Schema.

We're currently reviewing and trying to fix a few things from

[2017-04-04 10:15] bpasero commented on #23822
The issue about not being able to start after insider update is: https://github.com/Microsoft/vscode/issues/23841

[2017-04-04 10:18] bpasero commented on #23841
After debugging this a while with @jrieken we think this is a combination of things that went wrong from the Friday build to the Monday build:
* our minifier changed in a way that the output of the build is slightly different even though there have been no code changes on the main side (caused by https://github.com/mishoo/UglifyJS2/pull/1744)
* we leverage the `cachedData` option of VM (https://no

[2017-04-04 10:18] garvitjoshi commented on #23859
yeap. but it's not working... when i press Ctrl+Shift+O and Ctrl+T. it shows no symbol information for the file.
![2017-04-04](https://cloud.githubusercontent.com/assets/15026629/24652091/0c13be68-194e-11e7-8b15-295467b9fe00.png)
and thanks aeschli for your feedback.

[2017-04-04 10:22] bpasero opened #23883 "Use product.commit as filename for cached data"
This would help in cases like https://github.com/Microsoft/vscode/issues/23841: Instead of trusting the script engine to bail out for cache misses, we just invalidate the cache when we see the commit hash being different.

[2017-04-04 10:24] m-nagy opened #23884 "Handlebars comment issue"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|git-easy|bibhasdn|1.9.1|
|vsc-ember-frost|ciena-blueplanet|0.0.2|
|githistory|donjayamanne|0.2.0|
|gitlens|eamodio|3.2.0|
|vsc-ember-cli|felixrieseberg|0.3.3|
|team|ms-vsts|1.115.0|
|EmberES6Snippets|phani

[2017-04-04 10:30] bpasero commented on #23822
@isidorn can you comment, I think you introduced this code via https://github.com/Microsoft/vscode/commit/0534afdfae1dca8b242006740b1801d1d088c150

@alexandrudima @jrieken what are the repro steps, just typing in the editor? If so, why is the "Toggle Word Wrap" action triggered so often?

[2017-04-04 10:34] mrmlnc commented on #15141
Confirm that I can't repro this issue now ;)

[2017-04-04 10:37] alexandrudima commented on #23822
@bpasero It is unrelated to "Toggle Word Wrap". To reproduce:
* open 3 files side by side, especially files with many editor title actions, such as markdown, or perhaps use a workspace under git that would show switch to diff, switch to file, etc.
* hold ctrl
* press 1, 2, 3 (i.e. cycle focus between editors)
* press 1, 2, 3
....
Repeat for hundreds of times. This is to simulate usage of the workb

[2017-04-04 10:42] #23833 closed

[2017-04-04 10:44] sursu commented on #20704
I have now reinstalled VS Code.
The problem persists.
`MSBUILD : error MSB1003: Specify a project or solution file. The current working directory does not contain a project or solution file.`
I am curious if anyone in this world is able to build C++ applications from VS Code with msbuild and, if yes, how he/she/it does that.

[code]
My Visual Studio 14.0 is essentially non-existent (the folder has

[2017-04-04 10:45] bpasero commented on #23841
A new insiders build is out and I can update from [`cc46bbf5b0412e464f89280e828d602fbc06a0f4`](https://github.com/Microsoft/vscode/commit/cc46bbf5b0412e464f89280e828d602fbc06a0f4) to 	[`4076fec539a2bac23ae3ac8fc5c0d2c6f5bb0a1d`](https://github.com/Microsoft/vscode/commit/4076fec539a2bac23ae3ac8fc5c0d2c6f5bb0a1d) so it looks like the [workaround](https://github.com/Microsoft/vscode/commit/4076fec53

[2017-04-04 10:45] #23841 closed

[2017-04-04 10:45] dbaeumer commented on #23047
@sandy081 talked to @aeschli again and he starts to remember the `$parseError` property.

[2017-04-04 10:54] aeschli commented on #23718
I improved the parser to flag '---' as error

[2017-04-04 10:54] #23718 closed

[2017-04-04 10:54] DonJayamanne commented on #16064
@isidorn cheers

[2017-04-04 10:59] aeschli commented on #23550
Closing as there is an extension. Please file issues against the extension if you have improvement suggestions: https://github.com/chrisdias/vscode-opennewinstance/issues

[2017-04-04 10:59] #23550 closed

[2017-04-04 10:59] bpasero commented on #23822
@alexandrudima can you attach your CPU profile?

[2017-04-04 11:23] MohamedMahmoud299 commented on #3893
hi I have set a jsconfig file and still can't use go to definition

[2017-04-04 11:36] jkanchelov commented on #4490
+1

[2017-04-04 12:55] weinand commented on #23730
Should be fixed in tomorrows Insiders. You can still use "stopOnEntry" entry. But if it's falsy, VS Code will still use it behind the scenes but will automatically continue over the initial break on entry.

[2017-04-04 12:55] #23730 closed

[2017-04-04 13:10] rohmanhm opened #23885 "Alert before quit when no files in workspace"
- VSCode Version: 1.10.2
- OS Version: macOS Sierra

Steps to Reproduce:

When I close all my files in my workspace, accidentally I pressed `⌘+W` when the last file has been closed. It makes my vscode quit.
How about you add confirmation before quitting when no files in workspace and accidentally user pressed `⌘+W`

[2017-04-04 13:14] #20968 closed

[2017-04-04 13:15] alexandrudima commented on #19893
Closing after a number of days without a response.

[2017-04-04 13:15] #19893 closed

[2017-04-04 13:16] alexandrudima commented on #20248
Closing after a number of days without a response.

[2017-04-04 13:16] #20248 closed

[2017-04-04 13:16] james-gould opened #23886 "Dynamic launch.json program javascript file"
I'm running through a series of Pluralsight tutorials on NodeJS and have a directory with ~10 JS files in proving various concepts.

Every time I want to `F5` debug my code, I have to ensure that my `"program:"` param is set to the current javascript file, which is pretty annoying.

Is there a way of dynamically doing this to save me needing to double check every 3 minutes?

If I simply take out t

[2017-04-04 13:17] hengkx commented on #23818
@aeschli Thanks, This flow-for-vscode	flowtype	0.5.0  disable, code intellisense speed normal

[2017-04-04 13:18] alexandrudima commented on #23822
@bpasero Sorry, I do not have the exact state as yesterday. I can work for 4 hours without restarting and then take a new trace. But I strongly believe the steps I have provided would eventually result in the number of action items being allocated reaching thousands or tens of thousands and then the `keydown` listener would dominate all consumed time.

[2017-04-04 13:18] james-gould commented on #23886
Accidentally fixed this by rescoping my `explorer` to a nested directory in my project directory. It recreated the `launch.json` and the `program:` became ` "program": "${file}"` which has thankfully fixed it.

[2017-04-04 13:21] #23886 closed

[2017-04-04 13:21] alexandrudima commented on #23822
[CPU-20170404T152043.cpuprofile.txt](https://github.com/Microsoft/vscode/files/893243/CPU-20170404T152043.cpuprofile.txt)

![image](https://cloud.githubusercontent.com/assets/5047891/24658596/6dd16aa0-194a-11e7-83d8-f320538bd3f9.png)

[2017-04-04 13:24] alexandrudima commented on #23829
@sdwarwick There appears to already be a plugin doing that -- just search the marketplace for `es-beautifier`. I haven't used it, but it seems do to exactly what you need

[2017-04-04 13:32] alexandrudima commented on #23045
@xconverge That "hidden" state is reset if `textEditor.selection(s)` is written to.

The following extension works fine for me:
[code]

The cursor moves up by one view line and maintains the hidden state when I trigger the command from the `F1` list repeatedly.

[2017-04-04 13:33] bpasero commented on #23822
Very easy to reproduce by having hundreds of changes in the SCM viewlet and then scrolling up and down. New SCMMenuActionItems are being created over and over.

[2017-04-04 13:42] alexandrudima commented on #22875
@highfestiva I am trying it myself, but it always depends... on installed extensions, perhaps on the file that is being rendered, etc.

Here is what I have tried and I could not reproduce any slowness7:

[code]

and I duplicated it until I got 20436 lines.

I am pressing page up and page down and I am not noticing any delays.

[2017-04-04 13:51] Jonathan34 commented on #22250
@dbaeumer works with 2017-04-04T10:14:08.729Z!
thanks

[2017-04-04 14:08] sdwarwick commented on #23829
thanks! I will. still hoping that vscode can catch up with the rest of the pack in this area without this kind of extra work

[2017-04-04 14:10] mouradhamoud commented on #4309
I think the default should be case sensitive.

[2017-04-04 14:11] chrmarti commented on #23843
The readonly textbox still has (almost) the same background as the panel:

<img width="880" alt="screen shot 2017-04-04 at 7 08 30 am" src="https://cloud.githubusercontent.com/assets/9205389/24660874/9ada1212-1905-11e7-8f67-07e2e7a18a32.png">

[2017-04-04 14:16] bbalp opened #23887 "Add a setting to stop grouping the errors by file"
I failed at finding such a setting, but it would be quite nice to have.

Explanation: When building a c++ program, (real) template errors may cause a huge amount of (false) errors. In this context, we need to have the errors listed in the order they appear in the build output, to start by fixing the first one.

I would be pleased to have your opinion.

[2017-04-04 14:27] isidorn commented on #23843
@chrmarti The readonly textbox is not being defined by this theme.
You can notice the same in the Light+ theme

[2017-04-04 14:27] FrankCai opened #23888 "onDidOpenTextDocument not triggering when changing active tab"
In my language server extension i update a few variables whenever a document gains focus. As there's no other event for finding out when a document is the active document, i would expect `onDidOpenTextDocument` to fire whenever a document is opened/gains focus. The event only fires for the initial open and not for any "opens" after that.
Could another event be added for this case if the behavior o

[2017-04-04 14:37] pr-yemibedu commented on #23880
Hello,
 What is the mechanism that supports marking when a state is valid?
 So if the IIS is starting but can not handle requests, what state is it in?
 Also, if it is shutting down, would the state remain true?
 What is the exposure of state in face of errors?

## Possibly
 So one scenario is to have generic when items that can and should be evaluated at delayed points. For example:

- when file

[2017-04-04 14:40] sandangel commented on #23234
And in the Sever side, do we have to transpile ts code to js while we can execute it directly with tools like ts-node? If we don't, why do we still have to transpile ts to js just for debugging?

[2017-04-04 14:44] #23888 closed

[2017-04-04 14:45] chrmarti commented on #23843
@isidorn Is this an issue we should track or by design? (Dark+ also uses the same background colors there.)

[2017-04-04 14:45] jens1o commented on #23860
For sure! But at the moment, I can't reproduce it?...

[2017-04-04 14:52] isidorn commented on #23843
@chrmarti I would create a new issue and assign it to @aeschli

[2017-04-04 14:53] searKing opened #23890 "some image urls can not be shown with <img> tag in both html and marksown"
- VSCode Version: 1.10.2
- OS Version: Ubuntu 16.04.2 LTS

Steps to Reproduce:

1.

- write a html to show an image below:
[code]
- or wite a markdown to show an image below:
[code]
2.
- trig vscode.previewHtml to preview as html
- or trig markdown.showPreview to preview as markdown
3.
both show an unknown image
But if I open such html with chrome, and image is shown correctlly.

[2017-04-04 14:59] jimley opened #23891 "Save all with multiple tabs open populates all the open tabs with code from random opened file."
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T13:56:35.908Z)
- OS Version: Darwin x64 16.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-docker|PeterJausovec|0.0.13|
|code-settings-sync|Shan|2.6.1|
|theme-solarized-light-strate|Strate|0.0.1|
|html-css-class-completion|Zignd|1.0.3|
|npm-intellisense|christian-kohler|1.3.0|
|jshint|dbaeumer|0

[2017-04-04 14:59] jrieken commented on #23171
dupe of #18366

[2017-04-04 14:59] #23171 closed

[2017-04-04 15:01] jgoz commented on #23234
@roblourens I actually got your suggestion to work, debugging mocha tests with `ts-node`. This is my `launch.json`:

[code]

Observations:
- `"inspector"` was able to pick up the cached sourcemaps from the path I specified, but `"legacy"` was not
- I had to set `"runtimeExecutable"` to mocha's executable (rather than `"program"`), otherwise the tests would not start with `"inspector"` (this was tr

[2017-04-04 15:07] alexriedl commented on #22250
The issue is still happening with the inside build 2017-04-04T10:22:56:510Z.

I through together a small project that is structured similar to my project to demo the issue [in my github](https://github.com/alexriedl/prelaunch-task). Steps to reproduce are in the readme. Let me know if you need any other details.

[2017-04-04 15:12] jrieken commented on #23742
Running tests in an electron renderer is now the new default. The old world is still available as `test-mocha` but the goal is to remove it soonish. The following options are supported with the new test runner:

* `debug` open browser window, keep alive (enabled debugging and profiling)
* `grep` match pattern against test/suite names
* `run` load specific file/files instead of all **/*.test.js
* `

[2017-04-04 15:19] vscpp commented on #23777
Yes, this is similar feature request. Do you have a plan to support it? Thanks.

[2017-04-04 15:24] roblourens commented on #23234
Great! Glad you got it to work.

Yeah, Mocha likes to spawn a new process where the tests run unless you do something like this.

This is a limitation of the 'inspector' protocol debugger that we can't work around right now.

[2017-04-04 15:24] #23234 closed

[2017-04-04 15:24] bpasero commented on #23822
We have a fix in hand (https://github.com/Microsoft/vscode/pull/23889)

[2017-04-04 15:27] roblourens commented on #22210
What are you doing when you search a/d/? Do you open a/d/ in vscode, or use the search filters to narrow it to that folder?

[2017-04-04 15:30] lamplightdev commented on #22210
I open a/ in vscode, and right click the folder (d) and click 'Find in Folder'

[2017-04-04 15:38] roblourens commented on #22704
That's a weird issue. Does it happen in another workspace (folder)? If you just make a new folder that contains a .ts file and a .md file, can you search both? If 'files to include' is blank, does it search the *.ts files?

Also, search is driven by a totally different backend in 1.11. Could you try downloading the Insiders build (or waiting until wednesday or thursday for the update) and check wh

[2017-04-04 15:41] Tyriar commented on #21655
Verified by doing the following on macOS:

1. Install homebrew
2. Install fish
3. Install dotnet core cli
4. Set fish to default shell
5. Quit Terminal.app
6. Launch Terminal.app to ensure fish starts and finds dotnet on path
7. Quit VS Code
8. Launch VS Code
9. Open dev tools
10. Run `process.env` in console to verify the dotnet CLI shows up:

[code]

Let me know if that doesn't verify completely

[2017-04-04 15:42] roblourens commented on #22210
When you search a/ and it finds a result, does it report its path as the actual path, or the symlink path (with a/d/)?

[2017-04-04 15:44] roblourens commented on #23837
F4 is supposed to put focus in the editor. Also in 1.11. Good catch.

[2017-04-04 15:47] lamplightdev commented on #22210
It doesn't find anything in the symlinked folder, so neither :)

[2017-04-04 15:47] chrmarti commented on #23855
@C0rn3j Have you tried starting with `--disable-gpu`?

[2017-04-04 15:48] petersladek commented on #329
In windows setup docs there is a note saying you need to manually update VS Code for each release if installed via zip file (I assume this zip would be the true portable version in future). Is that really true? Portable version should be able to auto update itself too.

[2017-04-04 15:49] alexandrudima opened #23892 "[regression] Searching for `$acceptDocumentsAndEditorsDelta` with whole words gives no results"
* on Windows
* open the vscode workspace
* Search in Files for `$acceptDocumentsAndEditorsDelta`
* Toggle match case on. Observe 7 results in 7 files
* Toggle whole words on. Observe no results

VSCode stable finds the 7 results in 7 files.

Giving important as it appears to be a regression.

![image](https://cloud.githubusercontent.com/assets/5047891/24666041/7b644376-195f-11e7-94ce-4fe4ced29fd1.

[2017-04-04 15:50] chrmarti commented on #23861
Please reopen with more details.

[2017-04-04 15:50] #23861 closed

[2017-04-04 15:51] sandy081 commented on #23777
Duplicates #16488

[2017-04-04 15:56] aeschli commented on #23868
This issue was moved to textmate/shellscript.tmbundle#38

[2017-04-04 15:56] #23868 closed

[2017-04-04 16:00] chrmarti commented on #23869
Reproduced in 1.10.2 and the latest insiders.

[2017-04-04 16:03] Tyriar commented on #23864
@bpasero it's definitely happening for me, Ubuntu 16.10, 64-bit, external mouse and keyboard. Switching over to the latest insiders (old Electron) works just fine. Any other info I can provide?

[2017-04-04 16:05] Tyriar commented on #22805
That was probably it, I haven't had any issues recently.

[2017-04-04 16:05] #22805 closed

[2017-04-04 16:08] Jacky-Lei commented on #15681
@rupamroy I tried pasting that into my .zsh_profile and .zshrc and it didn't work

[2017-04-04 16:08] aeschli commented on #23859
You need to install a PHP extension that offers document symbols. For example https://marketplace.visualstudio.com/items?itemName=felixfbecker.php-intellisense

[2017-04-04 16:09] weinand commented on #23753
@rgilling I can reproduce and I understand what is going on:

My setup is as follows:

![2017-04-04_17-43-59](https://cloud.githubusercontent.com/assets/1898161/24665643/4e1fa3ca-195e-11e7-8db6-1028fea1b705.png)

And my launch config is:
[code]

I'm opening VS Code on the 'test' project.

If I navigate to the 'index.js' file to set the breakpoint, VS Code doesn't notice that 'index.js' lives in th

[2017-04-04 16:11] byroniac commented on #23841
Thank you! Have a virtual cookie (or virtual drink) on me. :)

[2017-04-04 16:12] chrmarti commented on #23875
This issue was moved to Microsoft/vscode-cpptools#607

[2017-04-04 16:12] #23875 closed

[2017-04-04 16:14] DanTup commented on #23730
@weinand Sounds perfect, thank you!

[2017-04-04 16:15] roblourens commented on #23892
This is https://github.com/Microsoft/vscode/issues/23624 - I'm not yet using the same 'match whole word' logic as previously, which is actually flawed anyway - (https://github.com/Microsoft/vscode/issues/23785) - do you think it needs to be addressed for 1.11?

[2017-04-04 16:17] bstro commented on #2806
This would make working with Quokka so much nicer!

[2017-04-04 16:17] roblourens commented on #23753
I filed this some time ago - https://github.com/Microsoft/vscode-node-debug/issues/73 - but no, I don't have a better workaround :)

[2017-04-04 16:18] roblourens commented on #23753
I often debug from the symlinked module's folder, which is painful to set up but works for my case.

[2017-04-04 16:20] weinand commented on #23753
I will enable localRoot/remoteRoot for "launch" and see whether this helps...
But why doesn't help the workaround with the inspector?

[2017-04-04 16:22] chrmarti commented on #23879
@a8775 Did you open VSCode on a folder or without?

[2017-04-04 16:23] C0rn3j commented on #23855
Actually launching it through the terminal fixes the issue.

I use Cinnamon for a DE, the icon for VSC seems to have this content

"/opt/VSCode-OSS/code-oss" %F

I think this is totally caused by git - if I launch VSC through a terminal like this, it asks to verify the fingerprint. I guess whatever prompt VSC is invoking crashes it all? I'll edit this comment in a moment.
[code]

[2017-04-04 16:25] DanielRamosAcosta commented on #6845
Mee too, specially with those beautiful mocha reporters... 😢

[2017-04-04 16:29] Tyriar opened #23894 "Find in files files to include should override exclude settings?"
If I say I want to find in a folder I would think that would override the exclude setting?

![image](https://cloud.githubusercontent.com/assets/2193314/24667650/103258d6-1919-11e7-9b69-a31a043e2642.png)

![image](https://cloud.githubusercontent.com/assets/2193314/24667665/1bd5ae36-1919-11e7-9622-4921d665e449.png)

[2017-04-04 16:36] chrmarti commented on #23884
Can reproduce in 1.10.2 and in the latest insiders with `"html.format.indentHandlebars": true`.

[2017-04-04 16:37] mjbvz commented on #23890
Thanks. It seems that you are hitting this electron bug: https://github.com/electron/electron/issues/8366 which is caused by https://bugs.chromium.org/p/chromium/issues/detail?id=645629

We are working to pick up a new version of electron that will fix this

[2017-04-04 16:37] #23890 closed

[2017-04-04 16:41] Tyriar commented on #23312
@daviwil have you seen this before?

[2017-04-04 16:46] lacroixdavid1 commented on #2204
@mtpultz what about `"html.format.wrapAttributes": "force-aligned"` ?

[2017-04-04 16:47] mjbvz commented on #23668
Thanks. Tracked upstream by https://github.com/Microsoft/TypeScript-TmLanguage/issues/441

[2017-04-04 16:47] #23668 closed

[2017-04-04 16:52] daviwil commented on #23312
No idea what's going on here.  Seems he's running cmd.exe and somehow the prompt is writing out ANSI color codes.  @loganhuskins, can you paste a screenshot of what cmd.exe looks like when you run it outside of VS Code?

[2017-04-04 16:54] bpasero commented on #23864
@Tyriar does it reproduce in Chrome 56? anything in the logs?

[2017-04-04 17:00] bpasero commented on #23891
@jimley this sounds awfully like https://github.com/Lonefy/vscode-JS-CSS-HTML-formatter/issues/53 which seems we got a fix in version 0.2.3. maybe there is another extension also triggering this, but first please try if it reproduces when you disable `vscode-JS-CSS-HTML-formatter`

/cc @jrieken

[2017-04-04 17:00] brtthomp commented on #7683
I'm having the same issue as @bgradin with electron.  Unfortunately you cannot use node2 with electron so I have to downgrade electron to 1.5.x to get it to work.  Not sure if this is related to electron or vscode.

[2017-04-04 17:12] roblourens commented on #23894
I think you can make an argument either way, and I don't have a good way to detect this or to override how ripgrep matches with a set of patterns.

[2017-04-04 17:12] #23894 closed

[2017-04-04 17:14] roblourens commented on #23753
It does work for me - I can step into a symlinked module, get a file with the real path, and set BPs there.

[2017-04-04 17:16] adzenith commented on #23349
I'm running
[code]
I can't seem to save a file that's been deleted from the disk. `Ctrl+S` and File > Save both appear to do nothing. Am I doing something wrong?

[2017-04-04 17:20] egamma opened #23895 "Test Tour: Angular 2"
see #23385 for the theory.

Angular quick starter: https://github.com/angular/quickstart

Extensions:
- [Angular language service](https://marketplace.visualstudio.com/items?itemName=Angular.ng-template)
- Setup tasks or use [NPM Script Runner](https://marketplace.visualstudio.com/items?itemName=eg2.vscode-npm-script) to run the scripts in the package.json

Implement & run some [protractor tests](

[2017-04-04 17:24] chrmarti commented on #23841
@bpasero @jrieken I cannot reproduce the original problem. How can I verify the fix?

[2017-04-04 17:27] dutzi commented on #10943
@jmbelloteau `"css.colorDecorators.enable": false`

[2017-04-04 17:33] mherodev commented on #22814
Wonderful, thanks Sandy!

[2017-04-04 17:34] tkmine opened #23896 "cant open terminal"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.1.0|
|laravel-5-snippets|atefth|0.0.1|
|Theme-Laravel|gerane|0.0.2|
|ng-bootstrap-snippets|ktriek|0.1.1|
|vscode-JS-CSS-HTML-formatter|lonefy|0.2.3|
|laravel5-snippets|onecentlin

[2017-04-04 17:40] bpasero commented on #23349
@adzenith repro steps? video?

[2017-04-04 17:40] bpasero commented on #23841
@chrmarti verify you can update from Fridays insider build from last week to todays

[2017-04-04 17:41] yoDon commented on #22704
@roblourens yes a weird issue and keeps getting weirder (these results are using Code 1.10.2, I haven't had a chance to check 1.11 yet)

If I open a different folder of javascript/typescript/tsx etc., search works normally, including searching for import with no file types specified, *.ts specified, *.* specified.

If I go back to my original folder (which I've since converted to a VS2015 typescri

[2017-04-04 17:42] a8775 commented on #23879
I took the time now to explore more of this issue.

I set the setting to `git.enabled ': false` by mistake.

I would noticed this problem sooner if the SCM icon was not visible just as before introduction of a new SCM service. Would it be good to obsolete this setting as now it should be possible to select one of the many SCM extensions?

[2017-04-04 17:46] chrmarti commented on #23841
Verified on Windows 10.

[2017-04-04 17:54] tkmine commented on #6621
cant open terminal

[2017-04-04 17:55] Tyriar opened #23897 "How to get back the HTML from previewHTML?"
From @mike-lischke in https://github.com/Microsoft/vscode-extension-samples/issues/12

[2017-04-04 17:55] chrmarti commented on #23896
@tkmine How are you opening the terminal? Does it work if you start with `--disable-extensions`?

[2017-04-04 17:56] Tyriar commented on #23896
Do you get an error message?

[2017-04-04 18:01] Tyriar commented on #23864
Nothing in logs, no repro in Chrome 56 or 57.

[2017-04-04 18:05] Tyriar commented on #23312
@daviwil oh, according to his settings file it should be powershell?

[2017-04-04 18:09] daviwil commented on #23312
The banner text indicates that it's cmd.exe.  PowerShell on Windows 7 shows this banner text:

[code]

cmd.exe shows this:

[code]

[2017-04-04 18:22] Tyriar commented on #23312
@loganhuskins powershell is the default shell on Windows, do you know why cmd is launching? Are you sure you don't have a setting for it?

[2017-04-04 18:23] Tyriar commented on #23312
@daviwil ah, the Powershell change was Windows 10 only.

[2017-04-04 18:30] kukjevov opened #23898 "Add missing import use package.json "typings" property"
- VSCode Version: 1.10.2
- OS Version: Windows 10

Add missing import is great feature but it does not work best way.

Lets say i have module `@ng/common`
in module i have `package.json` in root directory and `index.d.ts` in dist directory.

In package.json i have `"typings": "dist/index.d.ts"`.

When i want to use this module i want to write `import {Utils} from '@ng/common';` but vscode quick fi

[2017-04-04 18:31] Jonathan34 commented on #22250
yes i confirm @alexriedl !

[2017-04-04 18:32] zatchgordon commented on #2204
@mtpultz That seems to be working for me

[2017-04-04 18:51] weinand commented on #7683
@brtthomp have you tried to use the Insiders release?

[2017-04-04 18:51] remojansen commented on #23841
Working on Mint 18 👍

[2017-04-04 18:54] susnick opened #23899 "COntrol-C kills vscode"
This just started today, but is annoying. When I run any node application in my terminal on Windows, and kill it with control-c it kills VSCode as well.  This only occurs if I opened VSCode from the command line, which I usually do.

Version: 1.10.2

If you need more info, let me know how to obtain and I will share.

[2017-04-04 19:10] weinand commented on #23753
@rgilling thanks for the tip: adding `"--preserve-symlinks"` as a runtime argument fixes the problem for me:

[code]

@roblourens this doesn't work for me with `"protocol": "inspector"` and node v6.10.1.

[2017-04-04 19:18] weinand commented on #23753
I will add this great tip to the documentation.

[2017-04-04 19:25] mtpultz commented on #2204
Thanks @lacroixdavid1 you're right.  I had `"html.format.wrapAttributes": "force"` not `"html.format.wrapAttributes": "force-aligned"`

[2017-04-04 19:27] OmarBizreh commented on #22609
@isidorn Thank you for clarifying it to me and, sorry for posting in the wrong section

[2017-04-04 19:45] isidorn commented on #23730
@DanTup actually will not be in tomorrow's insider since it is frozen (due to how we release stable).
It should be on insiders in a couple of days (Friday)

[2017-04-04 19:48] DanTup commented on #23730
No worries; it'll probably be the weekend before I get chance to try it out anyway. Thanks!

[2017-04-04 19:57] chrmarti commented on #23899
Is this cmd or PowerShell? Could you write down the sequence of commands you run on the command line that reproduces the problem?

[2017-04-04 20:10] aozgaa commented on #22261
One suggestion: populate a left-side tab/button (along the lines of Explorer, Search, etc.) with the search results and then allow clicking/wheeling/scrolling through the results. This probably shouldn't re-use the current Search view as one might want to retain both lists of results.

[2017-04-04 20:16] TitaneBoy opened #23900 "Vscode node debugger not stopping on breakpoints when launching with nodemon"
- VSCode Version: 1.10.2
- OS Version: Windows 7 Profesionnal, SP1

Hi everyone.

I'm trying to debug typescript code (or javascript code) in server side with visual studio code, when launching it with nodemon. I've added a new configuration in launch.json which looks like this:

[code]
I have a task in vscode that is running tsc that builds javascript files properly. This is my current task confi

[2017-04-04 20:18] Camouflage100 opened #23901 "Program Icon"
- VSCode Version: Code - Insiders 1.11.0-insider (4076fec539a2bac23ae3ac8fc5c0d2c6f5bb0a1d, 2017-04-04T10:22:56.510Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions: none
---

In the program's icon, it has white instead of blank space. There's also a white outline on the outer edges of it aswell.

[2017-04-04 20:34] thexdd commented on #16356
So... is this going to be fixed some day?

[2017-04-04 20:38] Viskazz commented on #9443
I'm very agree with this request. I'm bassicaly use Atom, it's came with this grid functionality from the box. But i want to jump to VS Code, because i have a 27'' inch monitor and want to use it on 100%. I'm wonder why this in not implemented yet.

[2017-04-04 20:41] btoo commented on #1749
Is there any way we could have both horizontally and vertically split panes at the same time?

ex. 2 panes on the top half and one on the bottom

[2017-04-04 20:57] #23822 closed

[2017-04-04 21:03] clounie opened #23902 "Option to keep file selected in sidebar without forcing a scroll"
- VSCode Version: 1.10.2
- OS Version: macOS Sierra 10.12.3

This is closely related to #14745.

## Summary:
I want the selected file in the sidebar to always be my active tab - but **do not** want the sidebar to scroll just because the file is currently not visible in the sidebar.

That scrolling is the entire reason I turned off `autoReveal` in the first place.

### Options Not Used + Why:

1. *

[2017-04-04 21:04] rcarmo commented on #16427
Actually, it's NOT working. Not in the Creators Update, and with SSH keys - clicking on the sync icon gives an error.

I can git push from WSL in an integrated terminal, but that isn't proper integration.

I'm starting bash with the `-l` argument so that it can get the SSH environment variables (which is why SSH keychain works properly inside the integrated terminal), but since git isn't aware of

[2017-04-04 21:12] uxsoft opened #23903 "Feature: Filter by completion kind in intellisense"
Visual Studio 2017 has a panel down at the bottom of the completion popup where user can select of which type only to show items. This helps when we know we're looking for a property.

These tabs are also controllable by keyboard shortcuts.

![completion kind filter](https://cloud.githubusercontent.com/assets/1889343/24678685/d8dea204-198b-11e7-9127-373a987425a6.PNG)

It would be nice to have this

[2017-04-04 21:16] Tyriar commented on #16427
There are no plans for the git integration to use git hosted within a WSL bash session. /cc @joaomoreno

[2017-04-04 21:17] mjbvz commented on #23897
@mike-lischke Two options for sending data from a html view back to your extensions:

* Use commands. Take a look at what the markdown extension does for scroll sync for an example. [Here's the previewHtml js file for sending commands](https://github.com/Microsoft/vscode/blob/master/extensions/markdown/media/main.js#L208) and the [command handler in the extension](https://github.com/Microsoft/vsco

[2017-04-04 21:17] #23897 closed

[2017-04-04 21:19] mjbvz commented on #23344
Interesting option. I have a few concerns with that approach though:

* The `"typescript.tsserver.trace"` setting. Having trace be a setting but logging be workspace state felt confusing
* Less knowledge of when logging is enabled or disabled for users. Having a setting makes it explicit that logging is enabled for you. We could look at exposing logging status somewhere in the UI,  but using a set

[2017-04-04 21:22] johnsoncode opened #23904 "Explorer gets messed up when creating a new folder and scroll without typing anything"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-eslint|dbaeumer|1.2.8|
|auto-close-tag|formulahendry|0.3.10|
|rest-client|humao|0.14.0|
|csharp|ms-vscode|1.8.1|
|PowerShell|ms-vscode|0.11.0|
|debugger-for-chrome|msjsdiag|2.7.2|
|material-icon-t

[2017-04-04 21:22] chrmarti commented on #23901
Could you attach a screenshot showing in which cases this is a problem?

[2017-04-04 21:26] roblourens commented on #23900
Does you tsc setup build sourcemaps? Does it work without nodemon?

[2017-04-04 21:30] TitaneBoy commented on #23900
Hi @roblourens . Yes, my tsc setup builds sourcemaps. Without the nodemon configuration, I can break on typescript breakpoints.
Here is my other vscode launch configuration where breaking is working:
[code]

[2017-04-04 21:31] jgrumboe commented on #5596
Hi,
just tried with latest version 1.10.2 under RHEL7 with everything set: http_proxy/https_proxy as environment variable and in settings.json.
Extentions seem to still ignore these settings. Funny that "check for updates" is using the proxy settings.
Is there still no fix or workaround for this?
thx,
Johannes

[2017-04-04 21:32] chrmarti commented on #16356
It is fixed in the current insiders builds (https://code.visualstudio.com/insiders) and will be fixed in the upcoming stable release.

[2017-04-04 21:33] gold commented on #1749
Yes. Atom editor

On Apr 4, 2017 16:42, "btoo" <notifications@github.com> wrote:

[2017-04-04 21:40] roblourens commented on #23753
@weinand That doesn't work for me either. Will investigate.

[2017-04-04 21:41] roblourens commented on #23900
Does it work with nodemon and `"protocol": "inspector"`?

[2017-04-04 21:56] jgrumboe commented on #22214
Hi, tried insider version 1.11.0 from today and i have to report the following:
1. setting proxy as environment and/or settings.json didn't work - still direct TCP connections to internet hanging in SYN_SENT
2. starting code-insider with "--proxy-server=http://proxy.server:8080" did help! woohoo!
I can browse/install extensions and check for updates.

Strangly when i check with "netstat -tnp|grep

[2017-04-04 22:01] jgrumboe commented on #22214
Just tried it with official code 1.10.2 and "--proxy-server" and extensions are now also working for this build under RHEL7!

[2017-04-04 22:06] chrmarti commented on #23721
Could you list the extensions you have installed with `code --list-extensions`?

[2017-04-04 22:13] rogersachan commented on #16427
@rcarmo I can use it back here in the Anniversary Update, so I assume that a breaking change was made.

[2017-04-04 22:14] chrmarti commented on #22860
@ZKjellberg Does the console in the devtools (Help > Toggle Developer Tools) show more details?

[2017-04-04 22:14] peabnuts123 commented on #21655
How have you done step `4. Set fish to default shell`? See my above configuration:

[code]

in my `.bash_profile`

[2017-04-04 22:19] chrmarti commented on #23639
@charankumarpalla Please click the 'Console' tab in the 'Developer Tools' window and post what is shown there (or attach a screenshot).

[2017-04-04 22:22] chrmarti commented on #23818
This issue was moved to flowtype/flow-for-vscode#104

[2017-04-04 22:22] #23818 closed

[2017-04-04 22:29] chrmarti commented on #23855
@C0rn3j Are you using ssh for the git origin?

[2017-04-04 22:36] highfestiva commented on #22875
Did you make the comparison with Notepad++? (You can get a blind spot for anything, including delays, if you're used to them.)

[2017-04-04 22:45] NinoFloris commented on #21655
Well your default shell you would change with `chsh [-s shellpath]`

[2017-04-04 22:50] C0rn3j commented on #23855
@chrmarti I don't think I quite get the question.

I have an ed25519 SSH private key and I have the public key added on gitlab.

[2017-04-04 22:57] chrmarti commented on #23855
@C0rn3j I just wanted to confirm you are using ssh as opposed to https to access your Git repository. Which you do from what I understand.

@joaomoreno Not sure if this might be a regression with the latest work on SCM and the Git provider.

[2017-04-04 22:57] mjbvz commented on #15428
@pocesar Can you please try upgrading the VSCode 1.10 and collecting the tsserver trace. Here's how to do this:

* Set  `"typescript.tsserver.trace": "verbose"`
* Relaod vscode and reproduce the problem
* Go to the output panel and share the output from the `typescript` section

Thanks

[2017-04-04 23:01] C0rn3j commented on #23855
@chrmarti I believe I was using very old(months) build of VSC just fine but then at some point it started crashing(I assume gitlab added a new server), which prompted me to update VSC but the bug was still there.

[2017-04-04 23:08] macjabeth opened #23905 "Quick & Easy Installation"
Hi,

So this is just a request, not an issue! I apologise if this is the wrong place to ask...

I was hoping that VSCode could offer an easier installation method like the way Atom does it:

![image](https://cloud.githubusercontent.com/assets/8473052/24682833/c52bcea2-1969-11e7-8120-2a2e52028e0a.png)

It doesn't ask for administrative access, which means it can be installed easily at work... Thoug

[2017-04-04 23:13] rebornix commented on #22900
Thank you all for looking into this issue. Your investigations and suggestions helped us find the root cause and possible solutions! We compared JavaScript `setInterval`, animated gif and several other techniques, and we settled on the following solution:

* If `editor.cursorBlinking` is set to `blink` and `terminal.integrated.cursorBlinking` is set to `true`, the blinking logic is now implemented

[2017-04-04 23:13] #22900 closed

[2017-04-04 23:23] jedmao commented on #22900
@rebornix did you mean to say "or" `terminal.integrated.cursorBlinking` is set to `true`? Or was the "and" intentional?

[2017-04-04 23:23] chrmarti commented on #23905
You should be able to use the .zip download on Windows, the .tar.gz on Linux or the regular download on Mac to do that. Does that work for you?

[2017-04-04 23:25] #15545 closed

[2017-04-04 23:31] ajoslin103 commented on #3130
please subscribe to this issue to help bump it up in the queue, thanks

[2017-04-04 23:36] cortesi commented on #23721
I've since seen a traceback that definitely links the issue to Rust autocompletion using racer in the vscode-rust addon (attached). I haven't had time to dig into this deeply, but it seems to me that the external process crashed, taking down the extension host with it. I think there may be two bugs here - one in racer causing a crash, and one in the vscode extension host.

<img width="1289" alt="s

[2017-04-04 23:42] chrmarti commented on #23721
The extension runs on both ends and there is currently no way for us to protect against misbehaving extensions on the extension host's side. Moving to the extension, thanks.

[2017-04-04 23:43] chrmarti commented on #23721
This issue was moved to editor-rs/vscode-rust#163

[2017-04-04 23:43] #23721 closed

[2017-04-05 00:01] rcarmo commented on #16427
Using WSL Git isn't the problem, guys. The problem is getting it to use SSH keys properly - that's a key security feature for a lot of orgs (and no, the credential manager and HTTPS isn't a good enough workaround).

For that to work, we need the ability to set environment variables for running Git, like I've pointed out before...

[2017-04-05 00:08] roblourens commented on #23785
`\b` matches between a word and non-word character, but we want something like that which also matches between any two non-word characters. Appending `(\b|\W)` would do that, but then the `\W` character becomes part of the match. And again, no lookaround. We could post process all the matches to determine whether we need to slice a character off. Or, run it with the basic pattern and post process

[2017-04-05 00:12] rebornix commented on #22900
@jedmao thanks for the correction, it should `or`.

[2017-04-05 00:14] macjabeth commented on #23905
Well, I feel like a moron. :/ Should have checked the other downloads.

That should do it. Thank you very much, kind sir!

[2017-04-05 00:18] #23892 closed

[2017-04-05 00:22] #23624 closed

[2017-04-05 00:30] peabnuts123 commented on #21655
I see. I don't think that 100% validates it, as I am just _running_ tmux from my normal shell (in my instance). Is this just verifying that adding the `-l` arg fixes things? I can re-test that later tonight if needed

[2017-04-05 00:30] rhires opened #23906 "Git Diff not showing the diff"
- VSCode Version:Version 1.11.0-insider (1.11.0-insider) ce0277bf8e30329fddcba1b67f8ba7314c10c97e
- OS Version: 10.10

Steps to Reproduce:
Click the SCM icon, view list of changed files. Pick one. Then wait forever while watching the blue line move across the top over and over again. Never see the actual diff. This behavior began about a week ago.

This is from the output screen:
Using git 2.5.4 (

[2017-04-05 00:37] davidanthoff commented on #22916
This looks great!

I'd be interested in a slight variation of this: in the julia extension we support julia markdown files. They have the file ending ``.jmd``. Ideally I would like to reuse the markdown preview for jmd files, but add in some custom extensions into that markdown preview that are *only* used for jmd files, not any other markdown files.

[2017-04-05 00:38] landonepps commented on #23833
This issue isn't quite fixed. I can now use the @ key, but the `_` and `¥` keys still show as `unknown`.

[2017-04-05 00:54] mjbvz commented on #22916
@davidanthoff Is this the project you are targeting https://github.com/mpastell/Weave.jl ?

[2017-04-05 00:58] #23837 closed

[2017-04-05 01:03] #23431 closed

[2017-04-05 01:03] roblourens commented on #23431
The limit is now 10000. Nothing is on fire yet. Here's to seeing that irritating yellow popup less often!

[2017-04-05 01:26] roblourens commented on #18334
- Multiple folders like - `./foo, ./bar` - just search in the last one, since I don't want to deal with spawning multiple ripgrep processes and merging results right now.
- A pattern like `./foo/bar/**/*.js` - convert to `./foo/bar, **/*.js`, somehow. Or, ignore it, and anything else that doesn't look exactly like a relative path to a folder in the workspace.

[2017-04-05 01:31] eppz commented on #11136
Can be worked around by put images to `localhost` somewhere.

[2017-04-05 01:44] Spown commented on #18454
maybe before making a custom, all-purpose matchers you could first "hardcode" a simple ``:line:col`` and ``(line,col)`` detection and the ability to jump to a character?
![](https://drive.google.com/uc?id=0B-OJBofmehO3eXlsLWFiR0tncUU)

[2017-04-05 01:56] rgilling commented on #23753
Hi guys, glad that helped. Per node doc `preserve-symlinks` was added node 6.3. It's probably similar to the issue I had previously then. preserve-symlinks is okay for some cases where you're running node directly, but if you're running things like npm, grunt or mocha they need to also support the param. I know mocha does, I recall I was having issues with Grunt though.

[2017-04-05 02:03] AaronFriel commented on #21780
@roblourens `"keyboard.dispatch"` patch works for me, as well.

I am still perplexed by what causes the weird keycode values.

[2017-04-05 02:10] susnick commented on #23899
I normally use cmder, but also verified the issue with cmd.  Once I am in the directory of my project I open code with "code .". This will open my project to the root directory. I will then run my node application with "node server\www.js".  When I use control-c to return to the prompt, it also closes VSCode.

[2017-04-05 02:28] davidanthoff commented on #22916
@mjbvz Yes, Weave.jl is the one. Essentially the markdown extension would detect code blocks in the markdown like this:
[code]
And then it could insert the results of that julia code into the markdown preview.

[2017-04-05 02:37] XianwuLin commented on #22987
Because many times I will not add blank line between two lines, if the `break` is the default option, the two lines will be linked together, this is very affect to use.

[2017-04-05 02:43] mjbvz commented on #23898
This issue was moved to Microsoft/TypeScript#15020

[2017-04-05 02:43] #23898 closed

[2017-04-05 02:48] eppz commented on #23697
Managed to extend official C# grammar (reusing "base" rules), and build a theme upon the result. https://marketplace.visualstudio.com/items?itemName=eppz.eppz-code

[2017-04-05 03:00] wangying31 opened #23907 "文件夹打不开"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.1.0|
|vscode-eslint|dbaeumer|1.2.8|
|vscode-instant-markdown|dbankier|1.1.0|
|githistory|donjayamanne|0.2.0|
|jquerysnippets|donjayamanne|0.0.1|
|Vue2|ducksoupdev|0.1.1|
|vscode-

[2017-04-05 03:03] davoscollective commented on #10054
I came here with this issue, bash integrated terminal just immediately closing upon opening the terminal. I read this thread and then tried opening cmd and running bash. I then realised I didn't have developer mode turned on, and hadn't installed bash correctly.  I fixed it by switching developer mode on, and installing bash by calling it from cmd.

I originally went to windows features, switched

[2017-04-05 03:05] liuyuanyangscript opened #23908 "When I select one area to delete, the chosen area won't disappear. This is not convenient."
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T13:56:35.908Z)
- OS Version: Darwin x64 15.5.0
- Extensions: none
---

Steps to Reproduce:

One problem:

When I select one area to delete, the chosen area won't disappear, this is not convenient.

<img width="773" alt="before delete" src="https://cloud.githubusercontent.com/assets/5757051/24687982/9b6871a2-19ef-11

[2017-04-05 03:09] toolgood opened #23909 "共享进程意外终止。请重新加载窗口以恢复。"
- VSCode Version:1.10.2
- OS Version:win7 64位

Steps to Reproduce:

1.共享进程意外终止。请重新加载窗口以恢复。
2.

[2017-04-05 03:17] yyjazsf commented on #23713
@jrieken I don't set `editor.snippetSuggestions`,it's default value

[2017-04-05 03:17] adzenith commented on #23349
I can try it again tomorrow, but the steps were:

1. Open a file
2. `rm` that file from the terminal
3. Press ctrl+s or go File > Save: The title still says (Deleted from disk) and the file doesn't show back up on disk.

This was on Ubuntu 14.04.

[2017-04-05 03:36] DoubleElite opened #23910 "vsce readme image not showing up"
I have an image in the root directory but it's not showing up in the published extension​. However it does show up in the GitHub hosted source with the exact same readme and folder structure. There is this warning whenever I publish via vsce

Couldn't detect the repository where this extension is published. Images might be broken in its README.

I can't find any info on their documentation to fix

[2017-04-05 03:48] jicemoon opened #23911 "终端格式有问题"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.1.0|
|vscode-eslint|dbaeumer|1.2.8|
|tslint|eg2|0.11.0|
|vscode-npm-script|eg2|0.1.8|
|Angular2|johnpapa|2.2.3|
|vscode-react-native|vsmobile|0.3.2|
|JavaScriptSnippets|xabikos|1

[2017-04-05 04:29] roblourens commented on #23194
It tries to get the source from `process.sources`, but it looks like that is only populated when a bp is hit in there, right? Plus it's a different format, I have `"file:///Users/roblou/code/vscode-chrome-debug/testapp/wwwroot/index.html"` in there but the script from the quickopen is like `"debug:http%3A//localhost%3A8080/index.html"`.

[2017-04-05 04:48] bpasero commented on #21223
Closing as designed.

[2017-04-05 04:48] #21223 closed

[2017-04-05 04:48] #21271 closed

[2017-04-05 04:49] #21868 closed

[2017-04-05 04:49] #22187 closed

[2017-04-05 04:49] bpasero commented on #22297
@NiekPas ping

[2017-04-05 04:49] bpasero commented on #22326
Any update?

[2017-04-05 04:49] #22438 closed

[2017-04-05 04:50] #22870 closed

[2017-04-05 04:50] #23032 closed

[2017-04-05 04:51] bpasero commented on #23193
Ping

[2017-04-05 04:51] #23205 closed

[2017-04-05 05:16] samsonpaul commented on #22326
Disabling the all the plugins  but `Go plugging` made a huge difference. So I went ahead and enabled the rest of the plugins one at a time just to find which caused the power mayhem, but non really showed  the signs. It turned out that having "many/all the plugins" running caused the power mayhem. Decided to uninstall most of them and left with  the ones I considered `primary`.

Sorry I got lost i

[2017-04-05 05:26] bpasero commented on #22326
Yeah, if an extension is busy doing things, it is a bit outside of our control. In that case it would be best to report this to the extension causing the CPU spikes if possible.

[2017-04-05 05:34] bpasero opened #23912 "Search tree: adopt templated rendering"
Today the search tree is using [`ActionsRenderer`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/search/browser/searchResultsView.ts#L129) which is basically a `LegacyRenderer` that has to create all DOM elements for each item. Much better to directly extend `IRenderer` and adopt the templated approach to rendering (see [`CallStackRenderer`](https://github.com/Microsoft/vs

[2017-04-05 05:51] jrieken commented on #23880
Today we have an API command that allows to set the context, without having to (ab)use the extension context. Closing this as dupe of #10471

[2017-04-05 05:51] #23880 closed

[2017-04-05 05:51] samsonpaul commented on #22326
Will try and figure out which one specifically does this and report. Thank you @bpasero

[2017-04-05 05:52] samsonpaul commented on #22326
Hope its okay if I close  this here for now

[2017-04-05 05:52] #22326 closed

[2017-04-05 05:54] roblourens commented on #23194
I don't know about replacing `uri.fsPath`, `resource.toString(true).substr('debug:'.length)` would do it if that isn't too hacky.

[2017-04-05 05:57] #23742 closed

[2017-04-05 05:58] jrieken commented on #23719
actually a dupe of #6504

[2017-04-05 05:58] #23719 closed

[2017-04-05 05:59] jafin opened #23913 "Greater than 1000+ multi cursor typing replacement text appears inverted, lines begin to drop off selection."
- VSCode Version: 1.10.2
- OS Version:  Windows 10 14393.447

Greater than 1000 multi cursor typing replacement text appears inverted, lines begin to drop off selection.

Steps to Reproduce:

1.  Open a large file (https://raw.githubusercontent.com/charliesome/australia_postcode/master/lib/australia/postcode/data.csv)
2. Multi cursor select on newline
3. Begin typing replacement text.
4. Notice ch

[2017-04-05 06:16] hoovercj commented on #10471
Is this documented anywhere yet?

[2017-04-05 06:21] tlycken commented on #23860
I'll get back to you with this info as soon as I see the behavior again. Since I don't know myself exactly what caused it, I'll just have to stumble on it, I guess :)

[2017-04-05 06:22] RoboBurned opened #23914 "Cannot debug Hello World NET Core application - dependent assemblies not found"
- VSCode Version: 1.10.2
- C# 1.8.1
- OS Version: Win7 x64

Steps to Reproduce:

1. Create project.json based project
project.json:
[code]
2 Write Hello world program.cs:
[code]
2. Press F5 to debug

Actual results:
Application crashes with error in DEBUG CONSOLE
Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.Extensions.Configuration, Version=1.1.1

[2017-04-05 06:23] ishansiddiqui commented on #17860
Yes you are right that you have created the files and they have root permissions.
The solution is that i created the main project's folder as 'root' and then given it permissions so that i can create files in it. Those files don't have the root as the owner so it doesn't gives an error of permission denied when we try to save/create files in the editor.
Cheers !!

[2017-04-05 06:25] aristotaly commented on #20296
It is working slow on a 915 MBfolder as well

[2017-04-05 06:35] R3V07T commented on #1749
What editor?

Sent from Mail for Windows 10

From: btoo
Sent: Tuesday, April 4, 2017 1:42 PM
To: Microsoft/vscode
Cc: Ricky Rage; Comment
Subject: Re: [Microsoft/vscode] Support to split editors horizontally (#1749)

Is there any way we could have both horizontally and vertically split panes at the same time?
ex. 2 panes on the top half and one on the bottom
—
You are receiving this because you co

[2017-04-05 06:35] pthorsson commented on #13665
Yeah, this is really bad. At work we're using network drives with fairly complex file structures and the **go to file** function (`ctrl + p`) takes over 5 minutes to find a file.

[2017-04-05 06:42] R3V07T commented on #1749
Right click split up down left right or use 2 windows

Sent from Mail for Windows 10

From: Ricky Rage
Sent: Tuesday, April 4, 2017 11:35 PM
To: Microsoft/vscode
Cc: Ricky Rage; Your activity
Subject: Re: [Microsoft/vscode] Support to split editors horizontally (#1749)

What editor?

Sent from Mail for Windows 10

From: btoo
Sent: Tuesday, April 4, 2017 1:42 PM
To: Microsoft/vscode
Cc: Ricky Rage;

[2017-04-05 06:44] anks333 opened #23915 "On Save Cursor moves to the end of line"
- VSCode Version: 1.10.2
- OS Version: Ubuntu 16.04

Steps to Reproduce:
1. Place your cursor somewhere in between the start and end of line.
2. Now try to save, on save Cursor moves to the end of line

I'm having this Issue after the last update.
Thanks

[2017-04-05 06:45] jrieken commented on #10471
only in this issue

[2017-04-05 06:59] jonaskello commented on #4651
Thanks @mattn this fixed it for me! Please add to the docs!

[2017-04-05 07:06] dongzm commented on #23133
@4mitch thanks，I am using vetur extention , it is working properly。

[2017-04-05 07:10] dongzm commented on #23133
@mjbvz I am sorry，my English is very poor，thank you very much

[2017-04-05 07:12] natsu-k commented on #15141
I tested this today at work. I can also confirm this issue is fixed.

[2017-04-05 07:14] #23915 closed

[2017-04-05 07:16] anks333 commented on #23915
It was happening because of "JS-CSS-HTML Formatter" extension.

[2017-04-05 07:16] JohannBlake opened #23916 "Release notes reloaded when switching between tabs"
When reviewing the release notes of the latest version of VSC, if you scroll down to a section or click on a link to take you to a place in the release notes, then tap on a tab containing your source code and then switch back to the release notes, the release notes reload and you lose the position you were last at. Don't reload the release notes when switching between tabs.

[2017-04-05 07:20] FrankCai opened #23917 "Support links that point outside of the workspace (output pane)"
Text inside the output pane is only recognized as a link if it points to somewhere within the VSCode workspace. I have an extension that writes files to a temporary path and would like links to these to be clickable in the output pane.

[2017-04-05 07:21] #23883 closed

[2017-04-05 07:32] alexandrudima commented on #23892
I leave it up to you to decide the resolution (i.e. fix in 1.11 or not). I created the issue because I was surprised by the behaviour. Please note this is a lot worse when having one of the files opened, since then results from the opened files are picked up.

I definitely agree #23785 is problematic, but that impacts a subset of all possible whole word searches (i.e. negative lookaheads), which n

[2017-04-05 07:37] bpasero commented on #23693
Ways to do this via CSS:
- `filter: invert(1)`
- `-webkit-mask`

[2017-04-05 08:13] varunkumar opened #23918 "Icons for extensions don't show up"
- VSCode Version: 1.10.2
- OS Version: Mac OS Sierra 10.12.4

Steps to Reproduce:
1. Launch VSCode
2. Open extensions tab.

Expected behavior: Icons of the extensions to show up properly.
Actual behavior: Icons of the extensions don't show up

Let me know if you need more information to debug this issue.

[2017-04-05 08:15] weinand commented on #19396
dup of #10979

[2017-04-05 08:15] #19396 closed

[2017-04-05 08:24] michelkaporin opened #23919 "Move to ISO639 two-letter i18n mapping"
Ref: https://github.com/Microsoft/vscode/pull/23281#discussion_r109655353

[2017-04-05 08:29] weinand commented on #11947
since we got #20355 we are getting closer to this functionality.

[2017-04-05 08:39] alexandrudima opened #23920 "No output when running `scripts\test.bat` on Windows"
`scripts\test.bat` shows no output on Windows.

![image](https://cloud.githubusercontent.com/assets/5047891/24697086/2b1c7d74-19ec-11e7-8d0a-b56c48623865.png)

[2017-04-05 08:40] weinand commented on #11552
@indiejames Please see what I was able todo in the mono-debug extension without touch anything in VS Code itself:

![2017-04-04_15-17-17](https://cloud.githubusercontent.com/assets/1898161/24697055/0e1622fc-19ec-11e7-8919-d1bc1181b517.gif)

The code is [here](https://github.com/Microsoft/vscode-mono-debug/blob/master/src/typescript/extension.ts#L90)

[2017-04-05 08:40] isidorn commented on #21285
This is once again not working -> reopening, april

[2017-04-05 08:41] jacobdufault opened #23921 "Symbol outline multi-line highlight is visually inconsistent when interleaved with code lens"
If the symbol outline is highlighting an entry that spans multiple lines and there is a code lens within that range, the code lens line is not highlighted. See attached image.

It seems like the code lens line should also be highlighted in the same color.

- VSCode Version: 1.10.2, happens on 1.11 insiders as well.
- OS Version: Win10

![image](https://cloud.githubusercontent.com/assets/356714/246

[2017-04-05 08:49] isidorn opened #23922 "Preview markdown icon too similar to git show changes"
Please change the show markdown preview icon. The current one is too simlilar to git view changes and I always click on the wrong one and I am using this product for a long time now

![screen shot 2017-04-05 at 10 47 58](https://cloud.githubusercontent.com/assets/1926584/24697441/766108d0-19ed-11e7-943a-c892c516e043.png)

[2017-04-05 08:50] hoovercj commented on #23910
This should have been opened here: https://www.github.com/microsoft/vsce

It's a bit further down, but in the [docs](https://code.visualstudio.com/docs/extensions/publish-extension#_advanced-usage) it gives two options:

1. Specify a repository in your package.json so vsce can adjust the links accordingly
2. Use the `--baseImagesUrl` flag to pass a base URL

In this case, you should use option 1 a

[2017-04-05 08:51] weinand commented on #9544
Closing, since the existence of the vscode-prompt-debug extension proves that dynamic attributes are possible.

[2017-04-05 08:57] #20738 closed

[2017-04-05 08:58] #22703 closed

[2017-04-05 08:58] alexandrudima commented on #23920
I pulled and now I do see output. Fishy.

[2017-04-05 08:58] #23920 closed

[2017-04-05 09:00] m-nagy commented on #23884
My user settings are:
[code]
Here is what I did
1. I disable all extensions to isolate the issue
2. I create a new file and change language mode to handlebars and then paste this code
[code]
3. When I am saving or formatting using `Alt+Shift+F` the issue occurs.
When setting `"html.format.indentHandlebars": false` The formatting put both on single line like so `{{outlet}} {{!--{{log 'a'}}--}}`

[2017-04-05 09:02] #22835 closed

[2017-04-05 09:03] varunkumar commented on #23918
@bpasero Oops, my bad. I thought there was enough space to render icons.

[2017-04-05 09:03] #23918 closed

[2017-04-05 09:04] jrieken opened #23923 "Go to Implementation talks about definitions"
* trigger 'Go to Implementation' on something that has multiple implementations
* :bug: the title of the embedded editor shows "definitions"

<img width="981" alt="screen shot 2017-04-05 at 11 02 11" src="https://cloud.githubusercontent.com/assets/1794099/24698003/726e95d8-19ef-11e7-881a-376f08a5d867.png">

[2017-04-05 09:04] jrieken opened #23924 "Go to Implementation highlights everything"
* run 'go to implementation' on something that triggers peek/preview
* 🐛 the whole things is highlighted not just the name

<img width="837" alt="screen shot 2017-04-05 at 11 02 18" src="https://cloud.githubusercontent.com/assets/1794099/24698084/c046c12c-19ef-11e7-8e51-8e4610495fef.png">

[2017-04-05 09:05] weinand commented on #8698
@indiejames you can find the preliminary "API" [here](https://github.com/Microsoft/vscode-node-debug/blob/master/src/node/extension.ts#L430).

[2017-04-05 09:06] isidorn commented on #18401
I have added this section to the debugging doc
https://github.com/microsoft/vscode-docs/blob/vnext/docs/editor/debugging.md#L96

[2017-04-05 09:08] jrieken opened #23925 "Go to Implementation should be 'Find All Implementations'"
Similar to how we have "Find All References" we should have "Find All Implementation". Today it's aligned with "Go to Definition" but I think its much more likely that I have one definitions of something but many implementations of something. For the same reasons it's called "Find All Referenced" and not "Go to Reference"

[2017-04-05 09:09] jrieken commented on #23920
🐟y It might be that a test file wasn't there and that the loader failed. I should make sure console.log is send back when not running with debug

[2017-04-05 09:10] florianreinhart commented on #23257
@roblourens In addition to changing the IP to the one given in launch.json, vscode should also change the port to the one from launch.json.

I have multiple Docker containers, which all expose their internal port 9229 on different local ports. By changing `node --inspect` to `node --inspect=EXPOSED_PORT` I was able to workaround this issue.

[2017-04-05 09:11] xiavn commented on #22351
I noticed you mentioned you saved it as a Javascript React snippet - I seemed to have this same issue, I couldn't get the snippet to show up at all, not in IntelliSense or Insert Snippet. As soon as I saved the snippet to Javascript (rather than Javascript React) it showed up. I tried both options, with the files language settings set as both Javascript or Javscript React, and it didn't matter wha

[2017-04-05 09:12] #23881 closed

[2017-04-05 09:12] isidorn commented on #23881
![screen shot 2017-04-05 at 11 11 04](https://cloud.githubusercontent.com/assets/1926584/24698379/b4fed998-19f0-11e7-86b1-e8f80dadba74.png)

[2017-04-05 09:21] aeschli commented on #23884
This is a bug jsbeautify that we use.
 I filed https://github.com/beautify-web/js-beautify/issues/1174

[2017-04-05 09:21] #23884 closed

[2017-04-05 09:24] simonech opened #23926 "Use diff3 for showing diff"
How can I set VSCode to use diff3 as merge/diff algorithm instead of normal diff?

If I show diff in VSCode I have

<img width="823" alt="screen shot 2017-04-05 at 11 26 22" src="https://cloud.githubusercontent.com/assets/61557/24698957/c25fa520-19f2-11e7-96af-33a60bfd77d3.png">

while if I do it from the command line after having configured diff3 as merge tool `git config --global merge.conflicts

[2017-04-05 09:29] jrieken commented on #6504
The problem here is that trigger 24x7 IntelliSense only when a word is being typed. Characters like `-` or `#` usually aren't part of a word, at least not with the word definition of that language. Unsure what to do about this...

[2017-04-05 09:33] #6921 closed

[2017-04-05 09:37] isidorn commented on #23194
Yes, `process.sources` is only populated once there is a call stack that contains that source - so if it breaks.
Yeah that feels like a total hack. Why don't you experiment with different solutions and create a PR where we can comment and try out different approaches if needed?

[2017-04-05 09:37] jrieken opened #23927 "Allow for [Completion|Symbol]Kind modifiers"
extracted from #2628

In completions and for symbols we allow to provide a kind which is mostly use to derive an icon. For instance `vscode.CompletionItemKind.Method`. This issue is about allowing to modify these kinds to expressing that something is a _"private member"_ or an _"abstract protected method"_

The idea is that we don't add more and more kinds, e.g no `CompletionItemKind.PrivateMethod

[2017-04-05 09:39] weinand commented on #6245
This feature has been implemented in November 2016.

[2017-04-05 09:39] #6245 closed

[2017-04-05 09:40] #6042 closed

[2017-04-05 09:44] weinand commented on #4993
no

[2017-04-05 09:44] jrieken commented on #2628
I have shelled out the modifier request to https://github.com/Microsoft/vscode/issues/23927

For April I want to get different icons for _function_ and _method_ and I am open for more kind suggestions.

[2017-04-05 09:49] jrieken commented on #23792
Closing because this issue is without actionable information.

[2017-04-05 09:52] jrieken commented on #13492
this faded out. we have done many changes in the meantime and no actionable information from this issue.

[2017-04-05 09:52] #13492 closed

[2017-04-05 09:53] borekb commented on #22180
I actually find more usable to "Undo Last Commit" and commit again. In this flow, the previous commit message is pre-filled so it's a reasonable workaround for me util this issue gets fixed.

[2017-04-05 09:54] jrieken commented on #17097
Closing this as question. Our application model highly depends on multiple process. This isn't fit single core machines well but we also believe that's a problem of VMs. Single core hardware should be very rare these days.

[2017-04-05 09:54] #17097 closed

[2017-04-05 09:55] matyasforian commented on #18401
@isidorn thanks for the very quick fix! It looks nice, but something is still not clear to me:
What is the order of precedence of this? Does a launch configuration in the user/workspace setting override a launch config in the launch.json? Perhaps it'd be good to clarify this.

[2017-04-05 09:55] didierfranc commented on #20874
Is there a way to fix that ?

[2017-04-05 09:57] weinand commented on #18401
And I suggest to include an inline example in the documentation (instead of a link to an issue).

[2017-04-05 10:00] bpasero commented on #23864
@Tyriar can you try to reproduce with a [hello world](https://github.com/electron/electron/blob/master/docs/tutorial/quick-start.md#write-your-first-electron-app) electron app? E.g. just load a URL in the window that scrolls.

[2017-04-05 10:02] jrieken commented on #20473
@gquittet The stacktrace point to an issue with the java-extension. Please file the issue against them. Thanks and Happy Coding

[2017-04-05 10:02] #20473 closed

[2017-04-05 10:05] jrieken commented on #23713
I still cannot reproduce. Did you check user and workspace settings?

[2017-04-05 10:05] alexandrudima commented on #38
This has been fixed since a couple of months.

[2017-04-05 10:05] #38 closed

[2017-04-05 10:08] aeschli commented on #23872
IMO it has to do on how decorator positions are adapted on document changes
No plans to fix. I realise it looks funny, but placement recovers.

[2017-04-05 10:08] #23872 closed

[2017-04-05 10:10] alexandrudima commented on #1298
This has been fixed in the meantime. I have tried with the following extension:

[code]

[code]

[2017-04-05 10:10] #1298 closed

[2017-04-05 10:11] alexandrudima commented on #1273
This has been fixed in the sense that we now navigate by code points. We do not navigate by graphemes, which is an entirely different cookie.

[2017-04-05 10:11] #1273 closed

[2017-04-05 10:15] weinand commented on #9106
duplicate of #3646

[2017-04-05 10:15] #9106 closed

[2017-04-05 10:19] weinand commented on #2600
@isidorn any outcome of the UX sync?

[2017-04-05 10:20] weinand commented on #2464
this won't happen.

[2017-04-05 10:20] #2464 closed

[2017-04-05 10:27] weinand commented on #8318
duplicate of #2405

[2017-04-05 10:27] #8318 closed

[2017-04-05 10:29] alexandrudima commented on #1439
This no longer reads to a crash. I have tested with:

Generate the initial large file
[code]

Append to the file every second:
[code]

I then opened the file in the workbench for 5 minutes, seeing the lines as they come in. I've also profiled this, and most of the time is spent in reading the 10MB file again and again and again... Replacing the entire buffer with the new value takes in the order o

[2017-04-05 10:29] #1439 closed

[2017-04-05 10:33] weinand commented on #2135
Starting with node.js 6.3 it is possible to pass a `"--preserve-symlinks"` as a runtime argument to node.js. This fixes the issue.
See #23753.

[2017-04-05 10:33] #2135 closed

[2017-04-05 10:34] dbaeumer commented on #22250
@alexriedl @Jonathan34 sorry, my fault. The fix went into master, but the current insiders are build for the release/1.11 branch. When we have released 1.11 the insider will switch to master again and then the fix will be available there. Sorry for the confusion around this.

[2017-04-05 10:35] weinand commented on #6815
duplicate of #1976

[2017-04-05 10:35] #6815 closed

[2017-04-05 10:39] weinand commented on #2307
The underlying issue is covered by this feature request: https://github.com/Microsoft/vscode/issues/12066

[2017-04-05 10:39] #2307 closed

[2017-04-05 10:42] weinand commented on #1178
This is now possible (it might help to enable the "smartStep" feature).

[2017-04-05 10:42] #1178 closed

[2017-04-05 10:46] yearegods opened #23928 "Typescript language service died unexpectedly 5 times in the last 5 minutes"
- VSCode Version: Code 1.9.1 (f9d0c687ff2ea7aabd85fb9a43129117c0ecf519, 2017-02-09T00:26:45.394Z)
- OS Version: Windows_NT ia32 6.3.9600
- Extensions:

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.5.8|
|Angular1|johnpapa|0.1.16|
|net-core-project-manager|ksubedi|0.3.6|
|csharp|ms-vscode|1.7.0|
|java|redhat|0.0.10|

---

Steps to Reproduce:

1.
2.

[2017-04-05 10:50] weinand commented on #197
@isidorn I suggest to include this in the work already done for #17085

[2017-04-05 10:56] weinand commented on #21349
@roblourens We should consider to apply source maps to the files paths.

[2017-04-05 11:13] BenjaVR opened #23929 "javascript format: disable insert space inside curly braces"
Since there are already some `javascript.format.insertSpace...` settings available in VSCode, I have a suggestion to add another one.

When I import with curly braces, a space is added before and after the "imported word":
![image](https://cloud.githubusercontent.com/assets/17981138/24702785/c17e0634-1a00-11e7-8560-3df17a21aa79.png)
While doing the same in WebStorm:
![image](https://cloud.githubus

[2017-04-05 11:29] robvanpamel commented on #3130
:+1:

[2017-04-05 11:42] rfgamaral opened #23930 "Allow extensions to add new entries to the activity bar"
I'm moving from Sublime Text and one of the things I miss is a project management feature. The [Project Manager](https://marketplace.visualstudio.com/items?itemName=alefragnani.project-manager) extension seems to do the trick but it would be nice if it could be integrated into the activity bar.

Either that or implement a built-in project management feature into the Activity bar, if, for me reason

[2017-04-05 11:46] rfgamaral opened #23931 "Display search results in a tab instead of the side bar"
I was talking to a colleague the other day and the only reason he's not using VS Code is because of how the search is implemented in VS Code and I have to agree with his opinion.

Both Sublime Text (which I'm used to) and Atom (the editor my colleague is using) feature a search tab. A search tab displays the results much more clearly given that there's much more space available to display them. In

[2017-04-05 11:54] isidorn commented on #197
fyi @michelkaporin

[2017-04-05 12:01] javahaxxor commented on #22294
Autosave might not be a good idea. I just had a colleague wipe out a couple of days work, and if VSCode would have kept the editor contents I would have been saved. So probably a warning that the editor contents do not match the saved version would be the way to go

[2017-04-05 12:17] swinter2 opened #23932 "Typo "Golbal" instead of "Global" in Info message after saving Formatter Config"
- VSCode Version: 1.10.2
- OS Version: Windows 7 (Microsoft Windows [Version 6.1.7601])

Steps to Reproduce:

1. Press Ctrl + Shift + P and edit the "Formatter Config"
2. Make a change and press Ctrl + S to save.
3. Info message pops up at the top of the windows and reads "[Golbal] After editing the file, remember to Restart VScode"

"Golbal" should be "Global".
![image](https://cloud.githubuserco

[2017-04-05 12:20] rprokhorov commented on #15567
Actually, I have the same problem. As far as I understood, this problem connected with SRP (Software Restriction Policy) and path like "\\?\C:\..."
In Event log I have message like this:
"Access to  \\?\c:\Program Files (x86)\Microsoft VS Code\resources\app\node_modules\node-pty\build\Release\winpty-agent.exe was restricred by SRP policy."

![2017-04-05_15-14-14](https://cloud.githubusercontent.co

[2017-04-05 12:22] kumarharsh commented on #23693
`filter: invert(1)` would only give you black or white, but it will not match with the `fg-color()`. A better solution would be to do a hue-shift of the icon using `filter: hue-rotate(θ)` where theta would be pre-calculated depending on the hue of the foreground-colour. You'll also need to change the saturation in a similar manner `filter: saturation(x%)`.

[2017-04-05 12:24] Deilan opened #23933 "Make separate "editor.tabsize" settings for different languages"
Asking to make separate `editor.tabsize` settings for different languages. For example, I need 4 spaces for TypeScript and 2 spaces for HTML. The current design allows to have only one settings for everything.

[2017-04-05 12:27] BurntSushi commented on #23894
@roblourens Just speaking to ripgrep specifically: if you pass the files/directories from "files to include" as positional arguments to ripgrep (instead of just `./`), then that will override everything else.

[2017-04-05 12:31] BenjaVR commented on #23932
I think this is an extension, not vscode itself?

[2017-04-05 12:38] akhilanair94 commented on #15620
I am not able to type in "Application Output" while coding in "Console Application" in VS17 preview for mac. Every time i have to choose a custom run configuration.

[2017-04-05 12:40] jrieken commented on #1545
dupe of #16037

[2017-04-05 12:40] #1545 closed

[2017-04-05 12:41] BenjaVR commented on #23933
This is already in vscode, please see:
https://code.visualstudio.com/docs/getstarted/settings#_language-specific-editor-settings

You can it like this:
[code]

[2017-04-05 12:49] DustinCampbell commented on #2628
So, what icon suggestions have been eliminated by the "n-languages-have-this-rule"?

[2017-04-05 12:52] #22924 closed

[2017-04-05 12:54] swinter2 commented on #23932
You are correct, it is an extension called lonefy.vscode-JS-CSS-HTML-formatter
Nevermind! :)

[2017-04-05 12:54] #23932 closed

[2017-04-05 12:59] aeschli commented on #23850
The problem is https://github.com/Microsoft/vscode/blob/master/extensions/cpp/syntaxes/c.json#L775
[code]
Because of the fix for https://github.com/Microsoft/vscode-textmate/issues/12
we recover by entering the rule and go to the next line.

Moving to vscode-textmate

[2017-04-05 12:59] aeschli commented on #23850
This issue was moved to Microsoft/vscode-textmate#40

[2017-04-05 13:08] cspaniard commented on #6328
I think that File Nesting is a must in modern development, specially web development...

Please, please... consider supporting it.

[2017-04-05 13:11] borekb commented on #19347
I've encountered another situation related to this: we generally gitignore generated `.js` files in our TypeScript project and have this .vscode config:

[code]

However, in rare cases, we need to commit the resulting `.js` files to the repo. It then looks like this on the disk:

![image](https://cloud.githubusercontent.com/assets/101152/24706446/f8d34176-1a0f-11e7-806a-975f83c69f02.png)

but VSCo

[2017-04-05 13:14] #23933 closed

[2017-04-05 13:18] calidion opened #23935 "the ability to format typescript is easily lost."
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T13:56:35.908Z)
- OS Version: Darwin x64 16.4.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|tslint|eg2|0.11.0|
|vs-code-xml-format|fabianlauer|0.1.5|
|code-beautifier|michelemelluso|1.6.2|
|vscode-icons|robertohuertasm|7.4.0|
|vim|vscodevim|0.6.11|;

---

Steps to Reproduce:

1.   right click => format

[2017-04-05 13:22] viktor1190 commented on #2915
+1

[2017-04-05 13:26] #23310 closed

[2017-04-05 13:26] lyric-index opened #23936 "The terminal uses the PowerShell and cursor have offset"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.1.0|
|npm-intellisense|christian-kohler|1.3.0|
|path-intellisense|christian-kohler|1.2.0|
|EditorConfig|EditorConfig|0.6.2|
|vscode-npm-script|eg2|0.1.8|
|vscode-great-icons|emma

[2017-04-05 13:28] #1620 closed

[2017-04-05 13:28] jrieken commented on #22926
closing because this was still with the old code that had potential for invalid state

[2017-04-05 13:28] #22926 closed

[2017-04-05 13:29] alexandrudima commented on #1620
The indentation commands will now respect the `editor.useTabStops` setting. In other words, to get this behaviour, set `editor.useTabStops: false`.

[2017-04-05 13:29] TitaneBoy commented on #23900
It looks to work (i.e to break) now when I add the `"protocol": "inspector"` in my launch configuration. In the terminal console, it shows however a warning saying that it is an experimental feature (I guess it talks about the inspector protocol ?)

Is it the right way to do in order to break on breakpoints with nodemon ? Or there is still an issue in vscode ? Because in the [docs](https://code.vi

[2017-04-05 13:31] alexandrudima commented on #1684
I could not reproduce using Consolas.

Let's track wrapping + non-monospace fonts in #12421

[2017-04-05 13:31] #1684 closed

[2017-04-05 13:33] alexdresko commented on #17097
Rare, like my brand new Raspberry PI Zero W? Sorry, I get it. But it's frustrating. I love VS Code.

[2017-04-05 13:38] MrAndersen1 commented on #22909
I had the same issue and tracked it down to an import statement, in a different file that imported the file I was f2-renaming in, which had one letter lowercase where it should have been uppercase.
It then opened a new tab with the file's contents (but with the lowercase letter in the filename) and things went haywire. The file never existed on disc, nor did vscode actually create it, though.
Ther

[2017-04-05 13:38] alexandrudima commented on #1709
From my measurements, handling the typing of one letter takes ~2ms on my machine, followed by the rendering of the editor at the next animation frame of around ~5ms.

I believe typing is fast enough. I believe the repeat rate for a keypress can be configured at the OS level and Electron/Chromium will respect that.

[2017-04-05 13:38] #1709 closed

[2017-04-05 13:51] Jabark opened #23937 "HTML minification doesn't work on child content that isn't tabbed within"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-eslint|dbaeumer|1.2.8|
|mssql|ms-mssql|0.3.0|
|csharp|ms-vscode|1.8.0|
|debugger-for-chrome|msjsdiag|2.7.1|;

---

Steps to Reproduce:

1. Create a HTML document
2. Add some code with `<pre><code>

[2017-04-05 13:51] bpasero commented on #22195
I started to decouple the logic of `main.ts` that is about dealing with cross-process communication (of  a second app starting) with the logic of all the code that runs on first startup. So I added [`VSCodeApplication`](https://github.com/Microsoft/vscode/blob/master/src/vs/code/electron-main/app.ts#L51) (in `app.ts`) that is THE thing that gets created on an initial startup (via https://github.co

[2017-04-05 13:52] Wayofthesin commented on #6328
It sounds like what we really want in here is custom configured logical view with some easy selection between them.

Lets imagine we have a project with structure (It is complicated intentionally):

[code]

We need some logic explorer that allows us to define how to group file and how to display it. Groups might be nested so we end up having view that is not related to folder structure. Let's imag

[2017-04-05 13:55] Deilan opened #23938 "Cannot modify opened git change"
- VSCode Version: 1.10.2
- OS Version: Windows 10 x64

Steps to Reproduce:

1. Merged changes from upstream
2. Open some of staged changes
3. Try to modify anything

Expect:
Modification is available
Actual:
Modification is unavailable. RMB on both sides shows context menu which allows only `Copy Ctrl+C`.

![capture](https://cloud.githubusercontent.com/assets/4777512/24708800/a216fcea-1a20-11e7-93

[2017-04-05 13:58] #23905 closed

[2017-04-05 14:02] jrieken commented on #2628
I'd say 'Extension Method'. Also I'd like to fold 'Delegate' into 'Function' esp. once we have a dedicated icon for function vs method. Operator and Type Param are still valid

[2017-04-05 14:05] loganhuskins commented on #23312
![cmd](https://cloud.githubusercontent.com/assets/5209432/24709280/fffe96fc-19de-11e7-8eee-182f1f8d01c3.PNG)
@daviwil

[2017-04-05 14:06] loganhuskins commented on #23312
Also note that the text is only jumbled in vscode when I open Code from a shell by using `code .` or any other path. When I open vscode normally, there is no issue.

[2017-04-05 14:07] Deilan opened #23939 "Use different badge colors for modified and renamed files in git sidebar"
Please use different badge colors for modified and renamed files in the git sidebar to provide better visual distinction, which is important if there are lots of changes - especially upon merging. Right now both use blue color and visually hardly distinguishable.

I'd suggest orange color for some of them. :)

![capture](https://cloud.githubusercontent.com/assets/4777512/24709285/121821da-1a22-11e

[2017-04-05 14:17] michaelbrazell opened #23940 "Add File Path to the Info Bar"
This is a new feature request.

Atom has a surprisingly convenient feature where the info bar at the bottom of the editor displays the relative file path ([screenshot](http://i.imgur.com/lTYiNYf.png)), and clicking on that path copies the full local path to your clipboard.  It's really convenient and I'd love to see it as a feature for vscode.  For VSCode, It might be able to go in blue status/inf

[2017-04-05 14:18] #2573 closed

[2017-04-05 14:18] #23862 closed

[2017-04-05 14:19] zivni opened #23941 "typescript class jump to detention when there is constructor function"
- VSCode Version:1.10.2
- OS Version: windows 10

Steps to Reproduce:
[code]
I don't know if it just me, but it really annoying that when you want to jump to  the class definition from a line where you create a new instance (like the line `let d=new Derived()` above) it jumps to the constructor function, and if the constructor function is defined in a parent class it jumps to the parent class and

[2017-04-05 14:19] daviwil commented on #23312
I wonder if VS Code inherits anything from cmd.exe which affects the cmd.exe that later runs inside of it.  Totally not sure what that could be, though.

[2017-04-05 14:20] aeschli commented on #2573
@Gheoan If I understand this right a combinator (>, ~, ...) only makes sense if the media rule is nested in a rule set.

[2017-04-05 14:20] weinand commented on #23743
Please try for both protocols.

[2017-04-05 14:23] DustinCampbell commented on #2628
Extension Method makes sense to leave off. Event is the one I'm probably most interested in. I figure that's probably used a ton since it appears in all the .NET languages (i.e. C#, F#, VB, PowerShell, etc.) plus other languages like HTML:

![image](https://cloud.githubusercontent.com/assets/116161/24710031/b4f1a96e-19d0-11e7-9b18-2a01052611ea.png)

[2017-04-05 14:23] roblourens commented on #23894
I do have https://github.com/Microsoft/vscode/issues/18334 which is basically that - my response above was more about include globs vs exclude globs in general.

[2017-04-05 14:24] roblourens commented on #23900
It shouldn't be required but the inspector protocol adapter sometimes works with more sourcemap configs.

[2017-04-05 14:25] roblourens commented on #21349
The inspector protocol adapter does actually, thanks to a PR last month.

[2017-04-05 14:27] jrieken commented on #20835
This got fixed with #23310  and by a new constraint the peek view always fits into the view port

[2017-04-05 14:27] #20835 closed

[2017-04-05 14:27] loganhuskins commented on #23312
Have you been able to recreate it? Or at this point is it unique to me? I can always screen record if nobody can recreate it.

[2017-04-05 14:30] ZKjellberg commented on #22860
@chrmarti Thanks for the heads up on the Developer Tools.

![error](https://cloud.githubusercontent.com/assets/143709/24709844/45eaaaca-19e9-11e7-8ef5-29fc1f6bf2ec.png)

The notification is launched on line 103 of **workbench.main.js** I reviewed the Javascript and wasn't able to find more information on the cause. While the debug console does show **ERR_NAME_NOT_RESOLVED** for the marketplace, th

[2017-04-05 14:32] roblourens commented on #23892
#23624 is fixed in Insiders at least.

[2017-04-05 14:39] #11947 closed

[2017-04-05 14:41] jrieken commented on #20716
So this is what happens (assuming I correctly guessed this is JavaScript)

1. file is empty or at least doesn't use `console.log` yet
2. typing starts 24x7 IntelliSense (`quickSuggestions: true`) and further typing the word `log` selects the snippet with that prefix. Enter expands the snippet to `console.log`
3. Now the JavaScript language service sees `log` being used and adds it to the global sy

[2017-04-05 14:41] #20716 closed

[2017-04-05 14:42] roblourens commented on #9368
There are some comments in #11645 - there's not much that we or a sourcemap can do about this. Native async/await stepping works as you'd expect now when debugging Chrome/Node, that's implemented by them.

[2017-04-05 14:42] weinand commented on #22416
Destructuring works fine for the 'inspector' protocol but doesn't work for the 'legacy' protocol. This issue is tracked in https://github.com/Microsoft/vscode-node-debug/issues/132.

[2017-04-05 14:42] #22416 closed

[2017-04-05 14:42] jrieken commented on #2628
True - I have forget that one.

[2017-04-05 14:43] chrmarti commented on #22860
The URL shown in the screenshot might be enough to track this down, thanks.

[2017-04-05 14:43] #9368 closed

[2017-04-05 14:53] DanZeuss commented on #13665
To me, it was a problem just when working on VMWare on drives shared in
Linux to Windows, however, I'm using Docker with Virtual Box and I'm no
longer getting this error.

On Wed, Apr 5, 2017 at 3:36 AM, Patrik Thorsson <notifications@github.com>
wrote:

[2017-04-05 14:54] chrmarti commented on #23935
Does it reproduce when you start with `code --disable-extensions`?

[2017-04-05 14:54] michelkaporin opened #23943 "Discarding many changes in SCM fails with ENAMETOOLONG"
- VSCode Version: 1.11.0
- OS Version: Win10

Steps to Reproduce:

1. Create very many  trackable changes in git.
2. Press 'Discard All Changes' action in the viewlet.
-> Git: spawn ENAMETOOLONG (see screenshot below)
Expectation: undo for all works with no errors, or user-friendly message presented what went wrong.

`git checkout .` works fine in the terminal though

![image](https://cloud.github

[2017-04-05 14:54] chrmarti commented on #23936
Could you attach a screenshot of the problem?

[2017-04-05 14:57] chrmarti commented on #23937
Covered with #22293 /cc @rebornix

[2017-04-05 14:57] #23937 closed

[2017-04-05 14:58] alexisbietti commented on #23008
I'll wait for the next stable. Thanks

[2017-04-05 15:00] sandy081 commented on #23400
Our story of conflicts is different. Every keybinding has a `when` context that defines when to invoke the command it is assigned to. Rules to dispatch keybindings are available [here](http://code.visualstudio.com/docs/getstarted/keybindings#_keyboard-rules). In short

- Keybindings are read from bottom to top
- First entry that matches both the `key` and `when` is accepted

This process can only

[2017-04-05 15:00] chrmarti commented on #23938
This is expected because your changes are already staged (evident from the Git viewlet on the left). If you unstage the file the right-hand editor will become writable.

[2017-04-05 15:00] #23938 closed

[2017-04-05 15:00] daviwil commented on #23312
Good point, I'll give it a try when I get to the office.

[2017-04-05 15:01] brtthomp commented on #7683
@weinand That seems to have fixed the issue even with electron 1.6.x+.  I didn't read the comments well enough to realize the Insiders build had a potential fix in it.  Thanks!

[2017-04-05 15:03] weinand commented on #7683
@brtthomp thanks for trying again.
The March stable release will appear soon...

[2017-04-05 15:03] sandy081 commented on #23400
![kapture 2017-04-05 at 17 02 58](https://cloud.githubusercontent.com/assets/10746682/24711965/c83e5106-1a21-11e7-8768-995bd071c860.gif)

[2017-04-05 15:08] coreylendo commented on #23936
blockquote, div.yahoo_quoted { margin-left: 0 !important; border-left:1px #715FFA solid !important; padding-left:1ex !important; background-color:white !important; } I went there couldn't attach a screenshot 

Sent from Yahoo Mail for iPhone

On Wednesday, April 5, 2017, 11:55, chrmarti <notifications@github.com> wrote:

Could you attach a screenshot of the problem?

—
You are receiving this becau

[2017-04-05 15:10] hoovercj commented on #23853
@tyriar @aeschli is there still going to be room for something like #21981?

[2017-04-05 15:14] coreylendo commented on #23936
blockquote, div.yahoo_quoted { margin-left: 0 !important; border-left:1px #715FFA solid !important; padding-left:1ex !important; background-color:white !important; } Can't attach anything taking screenshots but then there not here and it won't load google drive either

Sent from Yahoo Mail for iPhone

On Wednesday, April 5, 2017, 11:55, chrmarti <notifications@github.com> wrote:

Could you attach

[2017-04-05 15:14] chrmarti commented on #23941
You could argue both ways. Marking as feature request.

[2017-04-05 15:15] #13165 closed

[2017-04-05 15:15] #4565 closed

[2017-04-05 15:15] hoovercj commented on #22566
Duplicate of #11274

[2017-04-05 15:15] hoovercj commented on #21509
Duplicate of #11274

[2017-04-05 15:16] hoovercj commented on #23901
Duplicate of #11274

[2017-04-05 15:17] DoubleElite commented on #23910
Apologies about posting here, I saw there was a repo for vsce after I had reported the issue. The repository tag worked, thanks for showing me!

[2017-04-05 15:17] #23910 closed

[2017-04-05 15:20] #23400 closed

[2017-04-05 15:25] bpasero commented on #23899
Assuming this is using our cmd script.

[2017-04-05 15:25] chrmarti commented on #23926
In VSCode's diff editor, you can switch to 'inline' view by clicking on the '...' in the top right corner of the editor and then choosing 'Switch to Inline View'. Does that address your request?

![screen shot 2017-04-05 at 8 23 46 am](https://cloud.githubusercontent.com/assets/9205389/24713065/698b17ea-19d9-11e7-9696-d8048734b23c.png)

[2017-04-05 15:27] dmportella commented on #5065
it would be nice if vscode gave me the opportunity to sign a commit.

[2017-04-05 15:29] chrmarti commented on #23916
Reproduced in both 1.10.2 and latest insiders.

[2017-04-05 15:31] chrmarti commented on #23914
This issue was moved to OmniSharp/omnisharp-vscode#1365

[2017-04-05 15:31] #23914 closed

[2017-04-05 15:31] shiamalon commented on #2686
Using deejmt12 workaround but it would be awesome to detach some tabs and move to a second monitor.

[2017-04-05 15:36] isidorn commented on #18401
I have added an example inline in the documentation and I have clarified that if a launch.json is present in the workspace the global launch confiugration is ignored.
Thanks for feedback!

[2017-04-05 15:38] chrmarti commented on #23913
@rebornix Maybe related to the file being CRLF and the selection being LF?

[2017-04-05 15:40] chrmarti commented on #23911
@jicemoon Could you attach a screenshot of the problem?

[2017-04-05 15:42] chrmarti commented on #23909
@toolgood Could you check if there is anything in the devtools' console (Help > Toggle Developer Tools)?

[2017-04-05 15:47] chrmarti commented on #23907
Please provide more details on what you are doing, what is happening and what is going wrong.

[2017-04-05 15:47] sandy081 commented on #23590
Agreed that keybinding should be rendered similar to Keyboard shortcuts layout but not with headers. Because, these are two different editors and showing different information in different contexts. Extension editor shows commands and their descriptions and assigned keybindings and in which menu contexts these commands are being used. This is a brief/combined view of commands/keybindings/when cont

[2017-04-05 15:48] #23590 closed

[2017-04-05 15:48] #23368 closed

[2017-04-05 15:49] mamptecnocrata opened #23944 "Improve the 'drag 'n drop' feature to up 'n down selected text"
The 'drag and drop' feature is one of the most requested requests by most popular IDE's users in this decade, such as Sublime Text and Atom. You have placed it as part of the configuration, and it is 'false' by default (that will already depend on each user, however, I would prefer it to be enabled by default).
However, they lacked to complement this functionality with this one: to allow, when the

[2017-04-05 15:55] isidorn commented on #2600
@weinand we have not discussed this in the now non-existing ux sync.
@chrisdias @stevencl @bpasero @joaomoreno thoughts on auto revaling last tree element on expand?

[2017-04-05 15:57] Dominik-K commented on #10007
@joaomoreno It would be nice to whitelist the activation for specific file formats, as well. E.g. in YAML or Python files, indentation changes code behavior.

[2017-04-05 15:57] sandy081 commented on #22748
@cleidigh Heads up - Please check the latest sources, I implemented Conflict detection with the help of precedence sorting - https://github.com/Microsoft/vscode/issues/23400.

For User / Default sorting I would suggest to implement using filtering by keyword.

With #23400 and filtering, I do not think, if there is any urgency or necessity of sorting by other criteria. So, if you are thinking of so

[2017-04-05 16:04] bpasero commented on #2600
I take back, not sure why I was expecting any behaviour that is different from what Chrome does, so it cannot be so bad after all for me since Chrome does not seem to auto expand.

[2017-04-05 16:15] cleidigh commented on #23400
@weinand
@sandy081
have to sync up with this...
while I got behind with master syncs - @sandy081 you just added more two key bindings
I have a prototype it sorts by precedence, highlights duplicates alongside the overridden binding
I also have a sort by when using only contiguous characters and that column
see duplicates screenshot below

can I get looped in to help with these issues?

![image](ht

[2017-04-05 16:17] chrmarti commented on #23944
You can move the selected lines up and down with Alt + Up/Down.

[2017-04-05 16:17] CoenraadS commented on #23885
@rohmanhm Maybe you will find this interesting: https://github.com/Microsoft/vscode/issues/1764#issuecomment-230674122

[2017-04-05 16:30] sandy081 commented on #23374
List widget is not yet converted to use commands. It is still listening to keyboard events for navigation. Same is true for Search input widget. Hence up/down keys are getting consumed by Search/List widget.

I would convert Search widget to use commands using this issue.

@bpasero  Not sure if there is an issue already to convert list widget?

[2017-04-05 16:31] daviwil commented on #20505
Ahhh!  I'm seeing this too in the PowerShell extension.  I thought it was something I was doing wrong :)

[2017-04-05 16:32] nategeslin commented on #15539
+1

[2017-04-05 16:32] cleidigh commented on #23400
when column search only - search term must be contiguous
![image](https://cloud.githubusercontent.com/assets/25272315/24716142/ebcee46c-19fb-11e7-84bd-bffebbc2c1c5.png)

[2017-04-05 16:33] ipatalas commented on #23814
I almost got a working example:

[code]

There are some issues though... I have to delay accepting suggestion by at least 400ms to get stable behavior (shorter times just do nothing - suggestion is not applied). I can live with that as it will only make the tests longer, but it would be nice if after resolving `editor.action.triggerSuggest` promise it was already ready to accept the suggestion.

T

[2017-04-05 16:34] daviwil opened #23945 "Can't use mouse to select terminal text outside of current scroll position"
- VSCode Version: 1.10.2
- OS Version: Windows 10 Anniversary

Steps to Reproduce:

1. Start a new terminal session with any terminal app
2. Run a command that writes output longer than the current terminal height
3. Attempt to scroll while selecting text with the moue
4. Can't select more than what's currently visible in the terminal

[2017-04-05 16:34] sandy081 commented on #23400
@cleidigh Can you please use the issue #22748 for discussion and move the above conversation to there?

[2017-04-05 16:36] Deilan commented on #23775
Definitely would like to see that happen. Especially necessary in cases of merging. I also suggest to implement a filter not just by filename, but also for modification type (add, modify, delete, etc.).

[2017-04-05 16:37] coreylendo commented on #23775
I'm so new to this unsure how to do it trying now

[2017-04-05 16:48] cleidigh commented on #23400
@sandy081
do you want to separate the duplicates discussion (I thought this  issue with your comments)
from the column sorting ?

[2017-04-05 16:52] daviwil commented on #23312
I can't repro the issue on Win 7 when launching `code` from within cmd.exe:

![image](https://cloud.githubusercontent.com/assets/79405/24716936/84bb7b3e-19e5-11e7-81aa-ff9cd2f548ec.png)

[2017-04-05 16:54] coreylendo commented on #23400
blockquote, div.yahoo_quoted { margin-left: 0 !important; border-left:1px #715FFA solid !important; padding-left:1ex !important; background-color:white !important; } Yes 

Sent from Yahoo Mail for iPhone

On Wednesday, April 5, 2017, 13:49, Christopher Leidigh <notifications@github.com> wrote:

@sandy081
do you want to separate the duplicates discussion (I thought this issue with your comments)
fr

[2017-04-05 16:54] mguinness commented on #17097
@jrieken How about adding the need for multiple cores in release notes and [VS Code requirements](https://code.visualstudio.com/docs/supporting/requirements)?

[2017-04-05 17:03] simonech commented on #23926
Nope...
I meant that VS Code shows the following as added
[code]

Using diff3 specifying the csharp language you get

[code]

[2017-04-05 17:05] Paviluf opened #23946 "Tooltip is sometime broken"
Hello,

The tooltip is sometime broken. Maybe it's related to this chromium issue ?

![screenshot from 2017-04-05 19-05-12](https://cloud.githubusercontent.com/assets/17159065/24717460/d972bf96-1a32-11e7-9126-fe9140064247.png)

https://bugs.chromium.org/p/chromium/issues/detail?id=442111

- VSCode Version: 1.10.2
- OS Version: Fedora 25

Thanks !

[2017-04-05 17:09] ramya-rao-a commented on #15620
@akhilanair94 This is the repo for Visual Studio Code.

For issues with Visual Studio for Mac, please follow https://github.com/Microsoft/vscode/issues/15620#issuecomment-261383543

[2017-04-05 17:13] bpasero commented on #23946
Yeah could be.

[2017-04-05 17:15] andreykaipov commented on #1023
+1 x10000000

[2017-04-05 17:16] bpasero commented on #23374
@sandy081 at the time I did the adoption I converted all lists and trees to use the commands (e.g. see extensions list for example: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/extensions/electron-browser/extensionsViewlet.ts#L118).

For any new tree/list introduced we need to do the adoption. It should be straight forward in most cases.

[2017-04-05 17:28] Tyriar opened #23947 "Panel action focus border is missing bottom in high contrast theme"
![image](https://cloud.githubusercontent.com/assets/2193314/24718364/973f3016-19ea-11e7-8588-666c60de679c.png)

[2017-04-05 17:40] chrmarti opened #23948 "Release notes shown in wrong font"
- VSCode Version: Code 1.11.0 (ce0277bf8e30329fddcba1b67f8ba7314c10c97e, 2017-04-05T15:04:22.602Z)
- OS Version: Darwin x64 15.6.0
- Extensions: none
---

Steps to Reproduce:

1. Open 1.10.2 with new user data and extensions dirs
2. Close
3. Open 1.11 candidate with the same user data and extensions dirs

![screen shot 2017-04-05 at 10 32 26 am](https://cloud.githubusercontent.com/assets/9205389/2

[2017-04-05 17:45] chrmarti commented on #23948
The correct font is shown when closing and reopening the release notes.

[2017-04-05 17:46] mike-lischke commented on #23897
Thanks for your answer @mjbvz. It looks like your second link got a bit wrong. Is it that you actually meant [this line](https://github.com/Microsoft/vscode/blob/master/extensions/markdown/src/extension.ts#L107)? So, the trick is to send a command (the command itself doesn't seem to matter, right?) with the entire svg code encoded in an URI and then in the extension parse that URI and save that da

[2017-04-05 17:51] cleidigh commented on #23400
@sandy081
deleting and moving now...

just tested your new precedence addition - great
not sure I missed something but what do you think about the duplicate filter I showed above?
I think that's something additional then you have presently, no?
I create the filter without having to search for a key binding and show both entries
should I create a new issue for this potential edition if interested?

[2017-04-05 17:57] cleidigh commented on #22748
these are from a prototype sorting by source , or the when clause - requires contiguous search term
not separating by camel case as an example
additionally showing extension contributions(source) in the same view might make sense

Source Filtering

![image](https://cloud.githubusercontent.com/assets/25272315/24719287/2fd46cd0-1a07-11e7-9c2b-ebcab014996c.png)

When Filtering
![image](https://cloud.

[2017-04-05 18:10] Tyriar commented on #23936
Likely a duplicate of https://github.com/Microsoft/vscode/issues/19665

[2017-04-05 18:10] #23936 closed

[2017-04-05 18:16] Tyriar commented on #23853
@hoovercj something like that is doing to be previewed in v1.11, you can check out the release notes now but it should be released today. https://github.com/Microsoft/vscode-docs/blob/vnext/release-notes/v1_11.md#preview-workbench-theming

[2017-04-05 18:17] mjbvz commented on #23928
Please upgrade to VSCode 1.10.2+. The release fixed several important bugs in 1.9

[2017-04-05 18:17] #23928 closed

[2017-04-05 18:18] Tyriar commented on #23853
My personal answer to this which builds on top of the workbench theming work is this https://github.com/Tyriar/vscode-theme-generator

It's an npm module that lets you generate a theme based on a small set of colors, allowing you to go deeper if you want and color specific things like "identifier", "keyword", etc., as opposed to targeting tmTheme scopes. Please send feedback my way, also remember

[2017-04-05 18:23] Tyriar commented on #23930
Duplicate of https://github.com/Microsoft/vscode/issues/12163, it's currently a preview API.

[2017-04-05 18:23] #23930 closed

[2017-04-05 18:24] Tyriar commented on #23945
Duplicate https://github.com/Microsoft/vscode/issues/6755

[2017-04-05 18:24] #23945 closed

[2017-04-05 18:25] daviwil commented on #23945
Cool!  Wasn't able to find that one when I searched.

[2017-04-05 18:25] mjbvz commented on #23897
Yes, that the correct location. The code lines shifted in master after I posted this

As for getting the svg data itself, that's not unique to vscode. The same logic you use for any webpage should work here: just embed some js that gets the svg element's content. For inline svg, using an [xml serializer as described here](http://stackoverflow.com/a/12865606/306149) should work

[2017-04-05 18:25] Tyriar commented on #23911
Duplicate https://github.com/Microsoft/vscode/issues/19665

[2017-04-05 18:25] #23911 closed

[2017-04-05 18:27] mjbvz commented on #23916
This sounds like a duplicate of #15214

[2017-04-05 18:27] #23916 closed

[2017-04-05 18:27] mjbvz commented on #23929
This issue was moved to Microsoft/TypeScript#15034

[2017-04-05 18:27] #23929 closed

[2017-04-05 18:31] mjbvz commented on #23941
@zivni I believe you are looking for `Go to Type Definition`. In your example, this command will jump to  `class Derived`. This is already implemented and should work if you are using TS 2.1.5+

Please let me know if you run into any issues with this command

[2017-04-05 18:31] #23941 closed

[2017-04-05 18:32] Tyriar commented on #21655
@peabnuts123 yes I just used chsh, I don't have my Mac on my right now so I can't verify again. We'll likely release first. Have you verified it in Insiders?

[2017-04-05 18:33] Tyriar commented on #18454
@Spown that's captured in https://github.com/Microsoft/vscode/issues/21472

[2017-04-05 18:38] Tyriar commented on #23945
Yeah it's tough with 4000 issues unless you're intimately familiar with the area :smile:

[2017-04-05 18:38] Deilan commented on #22873
@joaomoreno Should I open a new issue for that or should we continue discussion here? To the said above I can add that it seems to work right after the reinstall. But after some time it breaks again.

[2017-04-05 18:39] mikevelasquez02 opened #23950 "Dirty indicator missing when changing a file"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:00:46.854Z)
- OS Version: Linux x64 4.8.0-44-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.5.9|
|MagicPython|magicstack|1.0.7|
|python|tht13|0.2.3|;

---

Steps to Reproduce:

1. When a file is edited there is no indicator the file has been modified.
2. When file is saved

[2017-04-05 18:41] AndrewRayCode opened #23951 "Disable git.autofetch by default"
- VSCode Version: Version 1.10.2 (1.10.2)
- OS Version: OSX

Steps to Reproduce:

1. Install vscode

In my terminal, I show the number of commits I am behind upstream. For the last few weeks, every morning I've sat down at my terminal, that number has changed overnight. I was going bonkers trying to figure out what was doing it. Someone was touching git without my explicit instruction and I couldn

[2017-04-05 18:43] roblourens commented on #18334
Actually multiple folders is not a problem at all, ripgrep can handle that

[2017-04-05 18:43] n370 opened #23952 "[scss] error on string concatenation in URL"
- VSCode Version:
![2017-04-05 15_35_54-_mixins scss - meetingdirector - visual studio code](https://cloud.githubusercontent.com/assets/1547648/24721144/bee41b24-1a15-11e7-8970-fa5bbceed440.png)
- OS Version:
![2017-04-05 15_36_27-system](https://cloud.githubusercontent.com/assets/1547648/24721142/bcf0c4b6-1a15-11e7-95be-b8f2e65807e1.png)

Steps to Reproduce:

1. Open vscode and create a .scss fil

[2017-04-05 18:57] Tyriar commented on #23598
Duplicate https://github.com/Microsoft/vscode/issues/23948

[2017-04-05 19:10] pmkary commented on #3112
Thanks a lot for the new update, We all wanted for this so much ❤️

One thing: I said in #21938 it would be really really cool if the activity bar could be themed light. And the problem still exists because the icons remain white:

<img width="121" alt="screen shot 2017-04-05 at 11 36 23 pm" src="https://cloud.githubusercontent.com/assets/2157285/24722350/b4c93492-1a58-11e7-9b3d-d9d4f3f81e8f.png">

[2017-04-05 19:20] hoovercj commented on #23853
Thanks for the update!

I like the idea of having a theme generator as you mentioned, and I think it really lowers the bar to entry in creating and distributing themes for extension developers, but I don't believe it solves the issue of personalizing code for users.

The workbench overrides in settings that are in the preview seem more in spirit with my PR and with [this comment](https://github.co

[2017-04-05 19:28] chrisbodhi commented on #23056
Have the same problem with 1.10.2 on OS X, resolved with the insider's build. But now it looks like I have to port over my settings and extensions. It's all about tradeoffs, huh?

[2017-04-05 19:37] LeviDooley commented on #19613
This isn't fixed.
![code_2017-04-05_14-35-24](https://cloud.githubusercontent.com/assets/18010173/24723468/43042894-1a0d-11e7-8def-fb3741cbedc9.png)
![code_2017-04-05_14-35-45](https://cloud.githubusercontent.com/assets/18010173/24723470/459a14ba-1a0d-11e7-9f15-e229c9e9bbfc.png)

Then, if I search for SQL, it isn't really clear what the proper extension is. If there even is one.

![code_2017-04-05

[2017-04-05 19:41] jamietre opened #23953 "Warning: skipFiles entries starting with '!' aren't supported and will be ignored."
- VSCode Version: 1.11.0-insider
- OS Version: Windows 10

Steps to Reproduce:

1. Use "!xxx" in skipfiles
2. Start project

Still having a great deal of trouble using `skipFiles` effectively.

Config

[code]

[code]
Documentation:

https://code.visualstudio.com/docs/nodejs/nodejs-debugging

Example taken directly from documentation:

[code]

So the documentation includes examples that use unsuppo

[2017-04-05 19:46] Deilan opened #23954 "Windows: changes to node_modules folder are ignored due to watcherExclude setting"
`node_modules` directory persists in Explorer side bar after being deleted by `Remove-Item` PowerShell cmdlet in integrated terminal.

- VSCode Version: 1.10.2
- OS Version: Windows 10 x64

Steps to Reproduce:

1. Clone any node project with external node_modules dependencies
2. Execute `npm install`
3. Execute `Remove-Item node_modules`
4. Confirm prompt about recursive deletion

Expected:
`node_

[2017-04-05 19:48] mike-lischke commented on #23897
Yes, I got this idea already, thanks. My main problem is still how to trigger the retrieval. Can I call a JS function in the preview HTML code in some way?

[2017-04-05 19:51] jamietre commented on #23953
Note: I am using the inspector protocol. Maybe I just don't understand what's supported where. I think this could be clarified.

* An example using "negative" with `node_modules` is shown

[code]

* An example of legacy says "Note: The legacy protocol debugger supports negative glob patterns but they must follow a positive pattern: positive patterns add to the set of skipped files, while negative

[2017-04-05 20:01] cleidigh commented on #23608
@joaomoreno
I would like to tackle this as a keyboard user...
but I don't want to duplicate effort if somebody is already working on it
- I would start by fixing the action icons absence on keyboard focus for the header bars(Changes,Staged)
- afterwards address the focus issue depending upon opinions

thoughts?

[2017-04-05 20:02] Tekbr commented on #22567
-- Sorry for the English, I used Google Translator --

@mjbvz Sorry to be too insistent, but did you get to see the link I passed above? The amount of question open (since 2015) and that many people fail to set up. It may be a detail that is missing, but with your help or an official help we will solve.

If you are not available to help now, you can at least reopen the question and direct the ques

[2017-04-05 20:02] Deilan commented on #23775
#11208

[2017-04-05 20:02] Deilan commented on #23775
#3918

[2017-04-05 20:03] Deilan commented on #3918
Related: #11208 #23775.

[2017-04-05 20:03] Deilan commented on #11208
Related: #3918 #23775.

[2017-04-05 20:04] hbarr commented on #23853
@Tyriar Thanks for the links.  It looks like imminent releases of VSCode will address some of these usability and configurability issues.

@hoovercj Thanks for the cross-links to similar topics on #11556 and #459.  The issue of making minor changes to a theme without having to create a new one with external tools has been raised before.  The overlay style sheet is an interesting idea.

I would be

[2017-04-05 20:05] JSONMartin commented on #3130
I also really would like the option to rebind mouse click events...this Option-Click for Multiple Cursors conflicts with all my other software...

[2017-04-05 20:17] loganhuskins commented on #23312
I can no longer recreate the issue either on the same machine.

[2017-04-05 20:19] loganhuskins commented on #23312
After double checking, I cannot create the issue from cmd.exe, but I can create the issue from opening ConEmu where ConEmu is running a Admin cmd prompt.

[2017-04-05 20:31] cleidigh opened #23955 "Code OSS build tslint rules extension (and add tslint-eslint-rules and unified rules file)"
I would like to extend the tslint.json rules file for building VCS
the goal would be to cover all of the formatting required
by hygiene and the TS formatter.

I killed a lot of time chasing formatting issues before realizing
Format would silently fix the errors(newbie mistake)
it would still be nice to see the errors in real time

Several  additions to the configuration file would pick up a few mo

[2017-04-05 20:33] crazzle commented on #7228
+1 too, happens for me also regardless of the value of "scrollBeyondLastLine"

[2017-04-05 20:37] #23948 closed

[2017-04-05 20:37] jeffyoung opened #23956 "[SCM] 'when clause' for when SCResourceGroup has multiple selections"
In implementing TFVC SCM, it'd be great if we could restrict either the enabled/disabled state or the visibility of a menu item when multiple selections are made.  For example, if 100 files are selected, 'Undo' makes sense but 'Open File' or 'Open Diff' does not.

I don't see any where clause listed [here](http://code.visualstudio.com/docs/getstarted/keybindings#_when-clause-contexts) that would e

[2017-04-05 20:44] jroesch commented on #11005
Is anyone actively working on this issue? I think I understand how to make the change for this, and would be willingly to give it a shot sometime later this week.

[2017-04-05 20:55] mjbvz commented on #22567
@Tekbr I closed this issue because this repo is not really the right place for how to style questions. Stack overflow or another online community dedicated to angular or vscode would be a much better fit.

If you are running into a specific bug or are seeing unexpected behavior or have a feature request, please always feel free to file an issue

[2017-04-05 20:55] roblourens commented on #18334
Actually, ripgrep has no problem searching multiple folders, or searching patterns like `./foo/**/*.js`.

[2017-04-05 20:56] mjbvz commented on #23897
For editor -> preview communications, see the` _workbench.htmlPreview.postMessage` command and its use in the markdown extension

[2017-04-05 21:00] Gheoan commented on #2573
@aeschli That is right. Sorry for not giving a more comprehensive example.

[2017-04-05 21:06] #23923 closed

[2017-04-05 21:10] Tyriar commented on #23853
@hoovercj I think #11556 could be closed off when the new theme settings are finalized (likely 1.12), that allows users to change any one-off color as you want. This issue though would be better kept open until the generator is iterated on and some of it potentially upstreamed to VS Code and/or included in the yo generator.

[2017-04-05 21:15] mjbvz commented on #23925
Submitted fix but we also will need to update the documentation. Here's the bug tracking that: https://github.com/Microsoft/vscode-docs/issues/927

[2017-04-05 21:16] roblourens commented on #18334
Except on Windows 😛  https://github.com/BurntSushi/ripgrep/issues/234

[2017-04-05 21:17] rebornix commented on #23908
@liuyuanyangscript can you tell us what command you use to delete the selection?

[2017-04-05 21:17] hoovercj commented on #23853
@tyriar oh ok, it wasn't clear to me from the release notes just how wide the settings would be, or if they were intended to be a longer term solution or only a temporary patch to be removed in favor of using the values in themes.

All this information together has me confident that the solution you're working towards alleviates the major pain points with themes, I'm excited to get my hands on it.

[2017-04-05 21:19] rebornix commented on #23734
@vscpp just one simple question to this feature request, let's say you are using dark theme, the background is dark and part of the text color is light (probably white or yellow), after copying the rich text without background and paste them into Outlook, the light text is not noticeable, is this as expected?

[2017-04-05 21:25] mjbvz commented on #23925
Actually, after thinking more about documenting this change, I reverted the original fix with 56b735a and am now in favor of keeping the current name

The behavior of `Go to Implementation` does not match `Find All References`: `Go to Implementation` will jump to a single implementation if one exists while `Find All References` will always open a peek view with a list of references. Given this dif

[2017-04-05 21:28] Gruntfuggly commented on #23950
For me it shows "<n> unsaved" in the title of the OPEN EDITORS pane and a circle next to the filename...

[2017-04-05 21:30] nathanjd opened #23957 "[Feature] Option to disable cmd+click trigger for goToDefinition"
Starting ~2 weeks ago, I have been plagued by this feature. Somehow I manage to trigger this feature about 60% of the time when I am trying to copy+paste. It is the same issue as reported here, but in the editor so am creating this ticket as suggested by @bpasero .

https://github.com/Microsoft/vscode/issues/7827#issuecomment-238237206

- VSCode Version: Version 1.10.2 (1.10.2)
- OS Version: OS X

[2017-04-05 21:36] mjbvz commented on #22916
Thanks for the additional info @davidanthoff

This feature was not designed with that use case in mind, but I would be very interested to see if the new API would fit your needs as well. Perhaps you could try prototyping something and let me know what sort of problems you run into? The API is still experimental and could certainly be updated based on your feedback.

To get started, try taking a lo

[2017-04-05 21:42] peabnuts123 commented on #21655
Will attempt to verify today but my Macbook seems to have crapped out this morning ........................................ >_>

[2017-04-05 21:45] mjbvz commented on #22704
I believe that part about the tsc warning was discussed in #23054. It should be unrelated to the find in files issue, since that does not use the TSServer

[2017-04-05 21:45] kumarharsh commented on #23693
So, I don't think my comment would do much good, as the filter I suggested would apply to the whole thing (text AND icon), and there's no way to just target the icon which is set via `background-image`.

The options I see are:

1. Use svg image masks on each of those icons - it works surprisingly well for the icons:
![image](https://cloud.githubusercontent.com/assets/760112/24727552/054e300a-1a74-

[2017-04-05 21:53] #9178 closed

[2017-04-05 21:53] #18241 closed

[2017-04-05 21:54] chrmarti commented on #23950
@mikevelasquez02 Could you explain a little more? There is an indicator in each editor tab.

[2017-04-05 21:54] dcodeIO opened #23958 "VSCode hangs when using (recursive?) JSDoc @typedef s"
- VSCode Version: 1.10.2
- OS Version: Win10

Steps to Reproduce:

1. Copy the following to a new file *but-typedefs.js* and open it in VSCode:

[code]

2. Get a coffee and come back later.

Profile:

![](http://i.imgur.com/T1v8D02.jpg)

I uninstalled all extensions to be sure, but I must admit that I haven't managed to test this on another machine, yet.

[2017-04-05 21:54] rebornix commented on #22490
Fixed via https://github.com/Microsoft/vscode/commit/45e6e90858932e688c02e7838a59561c0def1eed

[2017-04-05 21:54] #22490 closed

[2017-04-05 21:56] rebornix commented on #14926
Sorry for putting it on my list for too long. Assign it to correct owner.

[2017-04-05 22:00] mjbvz commented on #14926
@JohannesRudolph I believe this has since been fixed. Here's a test snippet in VScode 1.11 with Monokai:

![screen shot 2017-04-05 at 2 59 06 pm](https://cloud.githubusercontent.com/assets/12821956/24728829/811e4508-1a10-11e7-93f0-5a8f18dfacf4.png)

Please let me know if you still see this issue

[2017-04-05 22:00] #14926 closed

[2017-04-05 22:02] mjbvz commented on #23802
@aleksey-bykov /@whitecolor  Do you see still see this in the latest insiders? If so, can you please share typescript server trace of the issue:

* Set `"typescript.tsserver.log": "verbose",`
* Restart VSCode and reproduce the issue
* Go to the output panel and share the output from the `TypeScript` section.

Thanks

[2017-04-05 22:08] rongcuid commented on #14716
Also have this issue on XPS 13 9343, Windows 10 x64.

[2017-04-05 22:12] db2k commented on #23804
I would love to color them different similar to how atom handles it. I guess even reducing the opacity of the filename would be enough and indicate that it's one of the ignored files.

[2017-04-05 22:16] rebornix commented on #17553
I like your idea! Right now this command is not language-aware, it means it has no idea about whether the lines are comments, brackets, strings, etc and it has no idea about how to handle them. The case you mentioned is one of them.

As the behavior might vary in different languages, it would be great to put it in an extension.

[2017-04-05 22:18] ngtrian opened #23959 "Bring open website (ftp, sftp) feature from webmatrix to VScode"

[2017-04-05 22:26] mjbvz commented on #23958
Thanks @dcodeIO

I'm able to reproduce this in 1.11 by copy and pasting in the provided string. From the trace, it looks like  an issue with either the TypeScript grammar or with our vscode-textmate engine and not with the TSServer directly. The TSServer trace also seems to suggest this but I'll confirm. Adding @alexandrudima to see if he has any thoughts here

[2017-04-05 22:28] mjbvz commented on #23922
@isidorn Any idea who to contact for getting a new icon?

[2017-04-05 22:30] rebornix commented on #17411
Close it and let's track in #356

[2017-04-05 22:30] #17411 closed

[2017-04-05 22:33] roblourens commented on #23953
Negative patterns in skipFiles are only supported by the legacy adapter, and I agree that we should rephrase that note in the doc. The issue to implement them with inspector is https://github.com/Microsoft/vscode-chrome-debug-core/issues/137

[2017-04-05 22:34] mjbvz commented on #10439
If anyone is seeing this sort of issue while working on JS/TS projects, please take a look at this bug which has been known to spike the extension host CPU: https://github.com/Microsoft/TypeScript/issues/14636 The workaround is to make sure any `tsconfig.json` or `jsconfig.json` has an [`include` or `files` configuration](https://www.typescriptlang.org/docs/handbook/tsconfig-json.html) We're looki

[2017-04-05 22:39] #23953 closed

[2017-04-05 22:40] roblourens commented on #23953
Hopefully it's more clear to only explain negative patterns below that example, where we have phrasing like "In the following (`legacy` protocol-only) example..."

[2017-04-05 22:42] chrmarti commented on #23959
@ngtrian Could you briefly explain what Webmatrix does? Does it open an ftp-site the same way VSCode opens a local folder?

[2017-04-05 22:42] lpy1994 opened #23960 "Crash in latest update (1.11.x, out of memory)"
- VSCode Version: Code 1.11.0 (9122ec4b1068bd391e41974f46a4b54c1b9c90f9, 2017-04-05T20:52:01.201Z)
- OS Version: Darwin x64 16.4.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|beautify|HookyQR|1.0.2|
|quokka-vscode|WallabyJs|1.0.23|
|html-snippets|abusaidm|0.1.0|
|debugger-for-chrome|msjsdiag|2.7.2|
|vscode-icons|robertohuertasm|7.5.1|
|JavaScriptSnippets|xabikos|1.4.0|;

---

Steps to

[2017-04-05 22:46] rebornix commented on #23960
I ran into the same issue

<details>
Process:               Electron [30331]
Path:                  /Applications/Visual Studio Code.app/Contents/MacOS/Electron
Identifier:            com.microsoft.VSCode
Version:               1.11.0 (1.11.0)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           Electron [30331]
User ID:               501

Date/Time:

[2017-04-05 22:47] mjbvz commented on #9982
Please take a look at our experimental markdown extension exploration in VSCode 1.11: https://github.com/Microsoft/vscode/issues/22916

For example, here's an experimental extension that adds mermaid diagram support to markdown files using this API: https://github.com/mjbvz/vscode-markdown-mermaid

If someone is interested in prototyping an extension for jsflow or jssequence, I'd be happy to help

[2017-04-05 22:48] Tyriar commented on #23960
@rebornix does it keep happening when you relaunch?

[2017-04-05 22:48] roblourens commented on #23960
It looks like you're both on 10.12.3. I don't see any issue on 10.12.2

[2017-04-05 22:49] WardenGnaw opened #23961 "Allow string to be passed to packge.json's configurationSnippets to execute a command like initialConfigurations"
For the C/C++ extension, we would like to dynamically create configuration snippets like initial configurations. Depending on the platform, we would like to not display certain configurations.

@pieandcakes

[2017-04-05 22:50] rick4470 commented on #7025
Thanks for all the hard work on this issue!

[2017-04-05 22:51] lpy1994 commented on #23960
let me try the old version ;)

On Wed, Apr 5, 2017 at 3:49 PM, Rob Lourens <notifications@github.com>
wrote:

[2017-04-05 22:51] mjbvz commented on #23960
Also not seeing this on 10.11.6

[2017-04-05 22:52] pieandcakes commented on #23961
To expand on this, we would like to curate the list of configuration snippets depending on users OS platform or any other parameters we can determine through typescript. If we can get similar behavior to initialConfigurations that would be great.

[2017-04-05 22:52] hrgui commented on #23960
I am on 10.12.4,

All I see is a blank screen, but I can access the menu but cannot open anything

[2017-04-05 22:55] Tyriar commented on #23960
https://twitter.com/DavidJVeer/status/849757124884287488

[2017-04-05 22:55] lpy1994 commented on #23960
mine is 10.11

On Wed, Apr 5, 2017 at 3:53 PM, Harman <notifications@github.com> wrote:

[2017-04-05 22:56] rebornix commented on #23045
Our `gj`, `gk` in Vim is using `cursorMove`, Code will take care of this command and make sure it gets correct position. After that we receive a selection change event and `handleSelectionChange` in Vim extension kicks in. And then we update our internal selection. From what I can tell, everything goes reasonably.

[2017-04-05 22:57] #23045 closed

[2017-04-05 22:58] jrad88 commented on #21528
Just to update this bug, the latest release has now broken git diff entirely for files on a network share, or other UNC path.

The program is hardly usable anymore.

[2017-04-05 22:58] lpy1994 commented on #23960
1.10.2 works fine to me.

On Wed, Apr 5, 2017 at 3:55 PM, JOHN LI <ethanok0802@gmail.com> wrote:

[2017-04-05 22:59] rebornix commented on #23960
It only happened one time on my machine.

[2017-04-05 23:01] lpy1994 commented on #23960
I am using a macbook air btw.

On Wed, Apr 5, 2017 at 3:59 PM, Peng Lyu <notifications@github.com> wrote:

[2017-04-05 23:02] kieferrm commented on #23960
@lpy1994 same thing happens when you restart code with `code --disable-extensions`?

[2017-04-05 23:04] lpy1994 commented on #23960
@kieferrm haven't try it yet. but works fine with 1.10.2.

[2017-04-05 23:06] lpy1994 commented on #23960
@kieferrm  it seems like can't be update, after I cancelled it for a few times

[2017-04-05 23:06] hrgui commented on #23960
Apologies, I didn't clarify what the blank screen pertains to in regards to versioning

VSCode Version: Code 1.11.0 (9122ec4, 2017-04-05T20:52:01.201Z)
OS Version: MacOS Sierra 10.12.4
Extensions:

Unable to obtain extensions list (is there a way to get this without launching VSCode?)

**Expected**
VSCode to be able to open a file

**Actual**
VSCode shows a blank screen
- Menu works
- Close works

[2017-04-05 23:08] Tyriar commented on #23960
Sounds like Electron starts up but the workbench does not then. @hrgui can you check the devtools console for errors?

[2017-04-05 23:09] hrgui commented on #23960
@Tyriar the strange thing is there aren't any errors on the devtools console....

[2017-04-05 23:10] mjbvz commented on #23960
Similar issues we've seen in the past:

https://github.com/Microsoft/vscode/issues/22643
https://github.com/Microsoft/vscode/issues/22600
https://github.com/Microsoft/vscode/issues/17985

Not sure if these are at all related to the current problem

[2017-04-05 23:11] clounie commented on #13170
Same on Mac:
- macOS Sierra 10.12.3
- VS Code 1.11.0-insider (so nothing accidentally fixed between 1.10 and 1.11)

[2017-04-05 23:12] chrmarti commented on #23960
More recently #23639 reported a blank screen. (As opposed to a crash.)

[2017-04-05 23:12] rebornix commented on #23276
Closing as 1.11 has shipped.

[2017-04-05 23:12] #23276 closed

[2017-04-05 23:18] hrgui commented on #23639
@chrmarti the workaround for me right now is:

[code]

[2017-04-05 23:18] mjbvz commented on #23960
@lpy1994 Is it working properly now? What resolved the problem for you?

[2017-04-05 23:20] lpy1994 commented on #23960
@mjbvz I go back to the old version 1.10.2, it works well.

[2017-04-05 23:21] rebornix commented on #15911
This issue is already obsolete.

[2017-04-05 23:21] #15911 closed

[2017-04-05 23:24] jmbelloteau commented on #178
bump !

[2017-04-05 23:31] Syllinger opened #23962 "TS/JS Path Quick Suggestion IntelliSense Does Not Work Unless QuickSuggestions.strings is enabled"
- VSCode Version: 1.11.0
- OS Version: Windows 7

Steps to Reproduce:

1. type import or require statement
2. autocompletion works for keywords
3. begin to type relative directory in quotes, but receive no suggestions

[2017-04-05 23:34] rebornix commented on #22179
Dup of https://github.com/Microsoft/vscode/issues/1424 and let's track it there.

[2017-04-05 23:34] #22179 closed

[2017-04-05 23:42] satokaz opened #23963 "editor.action.clipboardCopyWithSyntaxHighlightingAction does not work on the preview side"
- VSCode Version: Code 1.11.0 (9122ec4b1068bd391e41974f46a4b54c1b9c90f9, 2017-04-05T20:52:01.201Z)
- OS Version: Darwin x64 16.5.0
- Extensions:
---

Steps to Reproduce:

I assigned `editor.action.clipboardCopyWithSyntaxHighlightingAction` to `cmd+C` (copy) as below.

* [Copy with syntax highlighting - Visual Studio Code February 2017](https://code.visualstudio.com/updates/v1_10#_copy-with-syntax-

[2017-04-05 23:43] Stanzilla commented on #23804
Hide should definitely be an option in addition to coloring imo.

[2017-04-05 23:46] ramya-rao-a commented on #21943
Initial commit: https://github.com/ramya-rao-a/vscode-emmet

[2017-04-05 23:46] kieferrm commented on #23962
@Syllinger can you give us an example project that doesn't work for you. I just opened the vscode source workspace on Win7 and I get file path completion proposals:

<img width="383" alt="screen shot 2017-04-05 at 4 45 58 pm" src="https://cloud.githubusercontent.com/assets/4674940/24731506/67445f8c-1a1f-11e7-8b77-3a4ece210476.png">

[2017-04-05 23:48] cleidigh commented on #23608
@joaomoreno
I fixed point 2
it fixes the lack of action item access resource groups
I will do a single issue and associated PR to separate the other items

[2017-04-05 23:49] psuedoSudo commented on #23506
Some of these are duplicates but I'm cross-posting this here as requested in #3112

I've switched to insiders so I can test the `Solarized Dark` theme.

I'm not sure if these are issues with the theme or the theming support but I've tried to find all the ui areas that I think aren't themed yet. Some are pretty minor but hopefully it helps.

#### Autocomplete box
<img width="470" alt="autocompletio

[2017-04-05 23:49] simoniz0r commented on #1884
Woo!!  This update is really nice!  Thank you guys so much; the ability to theme the entire workbench is great!

[2017-04-05 23:53] kieferrm commented on #23963
We don't support it yet. This is #12034.

[2017-04-05 23:53] #23963 closed

[2017-04-05 23:57] lambrossy opened #23964 "Dvorak - QWERTY Keyboard Layout: In 1.11, keyboard shortcuts don't work as expected on Mac OS"
- VSCode Version: 1.11
- OS Version: Mac OS Sierra 10.12.4 (16E195)

Steps to Reproduce:

1. Set up Dvorak - QWERTY layout
2. Use any keyboard binding
3. Keybindings no longer revert to QWERTY layout as they should

[2017-04-06 00:02] vscpp commented on #23734
@rebornix, no, I just hope to remove background color, still keep rich text whatever white or yellow. It means text color is expected, background removed.

[2017-04-06 00:11] Dewb commented on #102
Is there any other route for defining runtime env-vars other than the tasks.json file? For example, something that would be suitable for secrets that shouldn't be in source control?

[2017-04-06 00:18] Tekbr commented on #22567
@mjbvz And where do I ask to update this post? Since it is old and not working.

Not yet conformed, but okay. 😞

[2017-04-06 00:32] dakaraphi commented on #23931
I prefer the functionality of VS Code over sublimes implementation.  I don't use sublime much, so maybe this is configurable; however, these are the limitations.
1.  I can't simply cursor down over each match and have the file opened as I cursor down
2. It is harder to see just all the matches due to so much extra formatting and context around the matches
3. I often want to hide the side panel, bu

[2017-04-06 00:33] Syllinger commented on #23962
The problem persists across projects. It's as though path autocompletion in intellisense is disabled. Updated to the latest version, and it suddenly no longer works.

[2017-04-06 00:34] dmblack opened #23965 "extension.node-debug.startSession failed in some environments"
**Root Cause:**
nvm (https://github.com/creationix/nvm) provides node via .bashrc, which these launchers to not invoke.

**Resolution / Workaround:**
Launch code with exposed path for node.

In my case; via gnome-terminal (Which loads .bashrc)

- VSCode Version:
Version 1.11.0
Commit 9122ec4b1068bd391e41974f46a4b54c1b9c90f9
Date 2017-04-05T21:13:24.700Z
Shell 1.4.6
Renderer 53.0.2785.143
Node 6.5.

[2017-04-06 00:36] rebornix commented on #23734
@vscpp even though you can't see those white text?

[2017-04-06 00:37] dakaraphi commented on #17920
There are multiple uses of being able to capture search results in a document.
1.  Ability to use the results for some type of communication to team members.
2. Ability to do some post processing on results.  For example, search all uses of some types of tokens.  Then post filtering to find all unique values.
3. Ability to change the view representation.  If the results were captured as CSV for ex

[2017-04-06 00:43] demetrisbakas opened #23966 "Integrated Terminal got smaller"
- VSCode Version: Code 1.11.0 (9122ec4b1068bd391e41974f46a4b54c1b9c90f9, 2017-04-05T20:59:05.375Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|code-gnu-global|austin|0.2.1|
|gitignore|codezombiech|0.5.0|
|python|donjayamanne|0.6.0|
|cpptools|ms-vscode|0.10.5|
|csharp|ms-vscode|1.8.1|
|prolog|rebornix|0.0.3|
|vscode-icons|robertohuertasm|7.5.1|

[2017-04-06 01:03] roblourens commented on #23931
I know this has had some discussion before but can't find the issue right now. I've been toying with the idea of a button to dump the results from the viewlet into a sublime-style editor view, which would solve a few problems at once. Not sure how great that experience would be.

[2017-04-06 01:10] rohmanhm commented on #23885
@CoenraadS thanks, but it's like my vscode is not responding. How about give some message like "Do you want close vscode" or anything

[2017-04-06 01:10] yyjazsf commented on #23713
I don't set any workspace settings,but snippets work in .html file.
this my user setting:
[code]

[2017-04-06 01:32] dakaraphi commented on #23931
@roblourens I can imagine lots of people have different ideas of how the contents of the dump should look.  Would it be difficult to provide an API so that we could write extensions to do something with the results?

[2017-04-06 01:32] socialpixe commented on #23812
Yeah sure. Satisfied.

--
*Regards,*

Sandeep | CTO
*Enhance Labs*
I-304, Friends Appt, 49 I P Extn., Patparganj, Delhi - 110092. India.
*Cell #:*  +91 9643720356
*Email:* sandeep.singh@socialpixe.com
*Skype:* sandeep.socialpixe@gmail.com
*Website *: http://www.enhancelabs.co.in & https://www.socialpixe.com

On Mon, Apr 3, 2017 at 1:08 PM, Martin Aeschlimann <notifications@github.com

[2017-04-06 01:37] stevedesmond-ca commented on #1031
@headmelted See https://github.com/stevedesmond-ca/vscode-arm for how to cross-compile VSCode for ARM

[2017-04-06 01:44] Timvrakas commented on #12637
Still an issue on 1.11.0 on my XPS 15.
Looks to be isolated to "Precision" Touchpads (used in both XPS 15 and MS Surface)

[2017-04-06 01:49] jicemoon commented on #23911
[cid:744d7c14-9c2c-45ff-a601-ca6af29017b2][cid:354d254c-3f55-4d61-8cb6-07bf1c28f318]

________________________________
发件人: chrmarti <notifications@github.com>
发送时间: 2017年4月5日 15:40:44
收件人: Microsoft/vscode
抄送: jicemoon; Mention
主题: Re: [Microsoft/vscode] 终端格式有问题 (#23911)

@jicemoon<https://github.com/jicemoon> Could you attach a screenshot of the problem?

―
You are receiving this because you wer

[2017-04-06 01:49] #23812 closed

[2017-04-06 01:57] jmbelloteau commented on #10943
Is it suppose to work on SCSS too? I'm only using SCSS and it's not working for me.

[2017-04-06 02:02] chrmarti commented on #23966
@demetrisbakas Lengthwise meaning vertically?

[2017-04-06 02:05] chrmarti commented on #23965
When you launch through Run Program, do you open VSCode on a folder or do you just open single files?

Is there anything in the devtools' console (Help > Toggle Developer Tools)?

[2017-04-06 02:06] innerlee opened #23968 "Strange white line in status bar"
![screenshot_2017-04-06_09-55-29](https://cloud.githubusercontent.com/assets/9464825/24734404/c7253760-1aaf-11e7-9cf0-a0bdac5d49d3.png)
![screenshot_2017-04-06_09-55-58](https://cloud.githubusercontent.com/assets/9464825/24734405/c7533278-1aaf-11e7-8bb7-7b5fd6e72979.png)

In the maximized vscode, look at the bottom line of pixels, white in the right side, and black in the left side.
If move mouse

[2017-04-06 02:08] demetrisbakas commented on #23966
No, horizontally.

[2017-04-06 02:10] chrmarti commented on #23962
@Syllinger Could you attach a small sample project that reproduces the problem?

[2017-04-06 02:10] innerlee commented on #23968
BTW, if there is a choice, I prefer this bottom line of pixels be black :)

[2017-04-06 02:12] chrmarti commented on #23966
@demetrisbakas Could you attach a screenshot?

[2017-04-06 02:13] aaronbalthaser commented on #23962
I have this same problem. Can you guys please fix this. This is a nightmare developing with a large Angular 2 project.

[2017-04-06 02:15] Tyriar commented on #23966
This is a temporary workaround to minimize the impact of a bug on Windows https://github.com/Microsoft/vscode/issues/19665, it should hopefully be back to normal in the next 1 or 2 versions.

[2017-04-06 02:15] #23966 closed

[2017-04-06 02:19] demetrisbakas commented on #23966
@chrmarti
![vs code terminal](https://cloud.githubusercontent.com/assets/10773045/24734870/8fff2f4c-1a88-11e7-8111-d9d448556e57.png)

[2017-04-06 02:23] Tyriar commented on #23966
Here's the comment on the change I made, capping it at 159 characters in width https://github.com/Microsoft/vscode/issues/19665#issuecomment-285975836

[2017-04-06 02:23] ml1002314573 opened #23969 "无法 向上移动行 向下移动行"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|angular1-code-snippets-johnpapastyle|lperdomo|0.1.0|;

---

Steps to Reproduce:

1.
2.

[2017-04-06 02:24] ml1002314573 commented on #23969
无法 向上移动行 向下移动行

[2017-04-06 02:25] ZhangPuXi opened #23970 "the native path intelligence seems broken"
- VSCode Version: 1.11.0
- OS Version: Windows 7

Steps to Reproduce:

1. create a javascript file and write code like require( '../Store/some-store.js' )
2.there is no directory or filename tips while it works perfect in VSCode 1.10

[2017-04-06 02:26] tuanbs opened #23971 "Messages in the panel terminal not responsive after resizing window."
- VSCode Version: Code 1.11.0 (9122ec4b1068bd391e41974f46a4b54c1b9c90f9, 2017-04-05T20:52:01.201Z)
- OS Version: Darwin x64 16.5.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|json-tools|eriklynd|1.0.2|
|ionic1-snippets|justinjames|1.0.1|
|csharp|ms-vscode|1.8.1|
|cordova-tools|vsmobile|1.2.7|
|JasmineSnippets|xabikos|0.2.1|;

---

Steps to Reproduce:

1.
Resize the windows -> Open 'te

[2017-04-06 02:29] NewFuture commented on #23969
The same bug (can't move with key board)

*  VScode V 1.11.0 ( 9122ec4b1068bd391e41974f46a4b54c1b9c90f9)
* Ubuntu 16.04
* All extensions stopped
* Lang: zh-cn

[2017-04-06 02:30] loveholly opened #23972 "Can't get static syntax error info with typescript"
- VSCode Version: `1.11.0`
- OS Version: `macos 10.12.3 (16D32)`

**Screenshot**:
![image](https://cloud.githubusercontent.com/assets/5133856/24735142/fa0d40ba-1ab3-11e7-9d16-a12f98ec8c50.png)

Also, this happens not only in this latest version. I got this issue for a while during which `vsc` has released at least three versions.

[2017-04-06 02:36] ZhangPuXi commented on #23962
I also met this problem, you can just create two js file named a and b, an in file a requires b, there is no tip.

[2017-04-06 02:44] loveholly commented on #23972
Finally, I found the reason: there is a setting in the workspace called `typescript.validate.enable` which is set to `false` only the project I'm working on...

[2017-04-06 02:44] #23972 closed

[2017-04-06 02:45] indiejames commented on #8698
@weinand That looks good to me, thanks.

[2017-04-06 02:46] johnyluyte opened #23973 "Could not correctly recognize javascript file in Version 1.11"
- VSCode Version: 1.11
- OS Version: Windows 10 64bit

Steps to Reproduce:

1. Create a simple javascript file in VScode 1.10
2. Create a snippet for javascript(Babel) (e.g the default console.log() one)
3. Test the snippet in the javascript file, the snippet works.
4. Update VScode to 1.11
5. Open the same javascript file. Now I couldn't use the above snippet and everything that should work on a

[2017-04-06 02:49] u3u opened #23974 "High CPU usage with Git enabled"
Corresponding `-webkit-font-smoothing` options in CSS

![](http://i2.muimg.com/549484/025ae43ed08e8593.png)

[2017-04-06 02:51] liuyuanyangscript commented on #23908
I used macbook pro's touchpad with three fingers action.

details are here:

<img width="586" alt="1" src="https://cloud.githubusercontent.com/assets/5757051/24735735/ebfcb318-1ab6-11e7-9a72-d12c53f70c68.png">

[2017-04-06 02:52] Moerj opened #23975 "status bar git sync icon no spin."
- VSCode Version: Code 1.11.0 (9122ec4b1068bd391e41974f46a4b54c1b9c90f9, 2017-04-05T20:52:01.201Z)
- OS Version: Darwin x64 16.5.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-ipaddress|Compulim|0.0.1|
|beautify|HookyQR|1.0.2|
|code-settings-sync|Shan|2.6.2|
|html-snippets|abusaidm|0.1.0|
|vscode-theme-onedark|akamud|1.3.2|
|project-manager|alefragnani|0.13.5|
|one-monokai-80s|a

[2017-04-06 02:56] demetrisbakas commented on #23966
@Tyriar I cant find the file "terminalInstance.ts" nowhere on Windows.

[2017-04-06 02:56] mssky-shaun-qiu opened #23976 "Extension host terminated unexpectedly. Please reload the window to recover. (Huge repo)"
- VSCode Version: Code 1.11.0 (9122ec4b1068bd391e41974f46a4b54c1b9c90f9, 2017-04-05T20:52:01.201Z)
- OS Version: Darwin x64 16.5.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|swagger-viewer|Arjun|1.3.0|
|xml|DotJoshJohnson|1.7.0|
|vscode-npm-script|eg2|0.1.8|
|text-transform|florianloch|0.1.0|
|java|redhat|0.0.11|
|vscode-icons|robertohuertasm|7.3.0|
|guides|spywhere|0.7.0|
|Material-

[2017-04-06 02:57] indiejames commented on #11552
@weinand That looks pretty good. I like the search completion to find the desired exception class. What is displayed in the Breakpoints pane of the Debug viewlet?

[2017-04-06 02:58] Tyriar commented on #23966
@demetrisbakas this was a temporary change in the latest version of VS Code to try to workaround a much worse issue on Windows.

[2017-04-06 02:59] josh-tepper opened #23977 "Git: hangs when opening git diff"
- VSCode Version: Code 1.11.0 (9122ec4b1068bd391e41974f46a4b54c1b9c90f9, 2017-04-05T20:52:01.201Z)
- OS Version: Darwin x64 15.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-docker|PeterJausovec|0.0.13|
|ActiveFileInStatusBar|RoscoP|1.0.2|
|githistory|donjayamanne|0.2.0|
|python|donjayamanne|0.6.0|
|gitlens|eamodio|3.1.0|
|Go|lukehoban|0.6.57|
|cpptools|ms-vscode|0.10.5|
|Ruby

[2017-04-06 02:59] King66 opened #23978 "ctrl+click link sometimes shows "no definition found for ...""
- VSCode Version: Code 1.11.0 (9122ec4b1068bd391e41974f46a4b54c1b9c90f9, 2017-04-05T20:59:05.375Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.1.0|
|Bookmarks|alefragnani|0.13.0|
|project-manager|alefragnani|0.13.5|
|githistory|donjayamanne|0.2.0|
|php-debug|felixfbecker|1.10.0|
|php-intellisense|felixfbecker|1.1.3|
|ns

[2017-04-06 03:01] Rwing commented on #396
I cant see the feature in latest release log, so it's delay?

[2017-04-06 03:02] LordAmit opened #23979 "VS Code Profile from Kubuntu 16.10 - 64 bit"
[7858_main.cpuprofile.txt](https://github.com/Microsoft/vscode/files/901363/7858_main.cpuprofile.txt)
- VSCode Version: <code>Code 1.11.0 (9122ec4b1068bd391e41974f46a4b54c1b9c90f9, 2017-04-05T21:13:24.700Z)</code>
- OS Version: <code>Linux x64 4.8.0-46-generic</code>
- CPUs: <code>Intel(R) Core(TM) i5-3210M CPU @ 2.50GHz (4 x 2899)</code>
- Memory (System): <code>7.69GB (1.36GB free)</code>
- Memo

[2017-04-06 03:04] lordamit commented on #23979
Hence, this issue. I guess one should submit even if there are no issues with VS Code?

Happy to help :)

[2017-04-06 03:09] ZhangPuXi commented on #23970
Now I installed the VSCode 1.10.2, everything is good! But I really hope you fix this as soon as possible, thanks a lot in advance

[2017-04-06 03:11] u3u commented on #23974
I am currently modifying the `/Applications/Visual%20Studio%20Code.app/Contents/Resources/app/out/vs/workbench/electron-browser/bootstrap/index.html` file directly

Do you consider the custom CSS functionality?

[2017-04-06 03:13] u3u commented on #23974
The latest version of 1.11.0 also found a problem, the editor will be dead, initially concluded that the reasons for git.
I set the git.enabled to false to solve the problem.

[2017-04-06 03:16] chhschou commented on #18033
I ran into this with occasionally ending config scripts in the home folder on ubuntu 16.04 and I find the files.exclude impractical as there are so many folders to exclude. I noticed Atom editor does not have this issue with my home folder, it happily hums along at next to no CPU usage.

[2017-04-06 03:16] Eronana opened #23980 "Launch List can not be displayed correctly"
- VSCode Version: Code 1.11.0 (9122ec4b1068bd391e41974f46a4b54c1b9c90f9, 2017-04-05T20:52:01.201Z)
- OS Version: Darwin x64 14.5.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|quick-open-file|AlanWalk|0.1.0|
|cpptools|ms-vscode|0.10.5|;

---
I create a new extension by yo, I cannot select `Launch Tests` when I try to run unit test.

Then I found that they were able to be selected, but

[2017-04-06 03:16] pradeepambati commented on #23976
I am also experiencing same issue with VSCode 1.11.0. I have issue with projects which are local i.e. that are not linked with any github or gitlab. If I open a project which .gitignore, VSCode runs fine.

[2017-04-06 03:20] dmblack commented on #23965
@chrmarti
Thanks for your response!

Via ALT + F2, (Or the 'linux quick launch') I'm only typing;
`code`

Developer tools provides these errors;

[code]

Note:
With additional configuration property;
`"protocol": "inspector",`
The error changes to;

[2017-04-06 03:25] komunyong opened #23981 "Shortcut key for new menu in new features is wrong display"
![vscode-wrong-display-shortcut-key](https://cloud.githubusercontent.com/assets/13780209/24736551/cba6fbc2-1ab2-11e7-9a4f-5fea3f016fe5.png)

- VSCode Version: Code 1.11.0 (9122ec4b1068bd391e41974f46a4b54c1b9c90f9, 2017-04-05T20:59:05.375Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-color|anseki|0.2.5|
|theme-dark-monokai|bogdan-sinitsa|

[2017-04-06 03:27] roblourens commented on #23965
Do you have node installed? You have to have node on your path to use the node debugger.

[2017-04-06 03:29] chrmarti commented on #23969
Which keyboard shortcut is listed for the Move Line Down command in File > Preferences > Keyboard Shortcuts?

[2017-04-06 03:31] chrmarti commented on #23970
Tracked with #23962

[2017-04-06 03:31] #23970 closed

[2017-04-06 03:31] liuyuanyangscript commented on #23908
And used 'delete' key on keyborad to delete the code.

[2017-04-06 03:32] Eronana commented on #23980
I do not know why, this issue suddenly disappeared, and I can not reproduce it.

[2017-04-06 03:35] dmblack commented on #23965
@roblourens
Thanks for your response.

I do have node installed, via nvm (https://github.com/creationix/nvm). Hence, launching via `code .` is not a problem.

[2017-04-06 03:36] chrmarti commented on #23974
@u3u Could you explain what you mean by "the editor will be dead"? Was it blank? Was it frozen? Could you attach a screenshot?

[2017-04-06 03:38] dmblack commented on #23965
@roblourens @chrmarti
Note: I've updated the initial report.

You can avoid this issue via ALT + F2 if you provide `code .`.

[2017-04-06 03:39] roblourens commented on #23965
And if you type `node` in the vscode integrated terminal, does it run node successfully?

[2017-04-06 03:39] roblourens commented on #23965
What does alt+f2 do? I don't see a default keybinding for that.

[2017-04-06 03:40] dmblack commented on #23965
@roblourens
Thanks again for your response!

Yes. But I think the integrated terminal is literally spawning a new 'session'. ENV variables are available.

[2017-04-06 03:41] roblourens commented on #23976
@pradeepambati Can you open a new issue, and also try starting code with `--disable-extensions` to figure out whether one of your extensions is causing this issue?

[2017-04-06 03:42] roblourens commented on #23976
@mssky-shaun-qiu Do you have a launch.json file? Can you post it here? And is there anything particular you do while debugging that causes this message to appear?

[2017-04-06 03:43] chrmarti commented on #23977
@josh-tepper Does this happen with all files or just with a specific one?

[2017-04-06 03:43] roblourens commented on #23965
Can you try launching with `"protocol": "inspector"`?

[2017-04-06 03:45] dmblack commented on #23965
@roblourens
ALT + F2 is a bit like Start -> Run (Win + R) in Windows. It's just a launcher.

When invoked via fluxbox, it starts 'fbrun'. But this issue happens with other desktop environments also (xfce, lxde, cinnamon).

[2017-04-06 03:46] dmblack commented on #23965
@roblourens
I attempted this in an earlier note, targeted at chrmarti;

 With additional configuration property;
"protocol": "inspector",
The error changes to;

[2017-04-06 03:47] NewFuture commented on #23969
@chrmarti  No specail  keyboard  shortcut  setting (the `keybindings.json` is empty).

Even though I close the IME, I still can't move the cursor by using <kbd>arrows</kbd>,<kbd>home</kbd>,or<kbd>end</kbd>.

I don't know why. I just upgrade it to v 1.11 😿

[2017-04-06 03:49] mssky-shaun-qiu commented on #23976
@roblourens I didn't do any particular thing, it appears after I upgrade to the new version this 2 hours ago.
launch.json
{
    // Use IntelliSense to learn about possible Node.js debug attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {

[2017-04-06 03:50] roblourens commented on #23965
Ok, so if you launch code with `code .`, then debugging works, but if you launch `code` then open a folder, you see "Cannot find runtime 'node' on PATH".

[2017-04-06 03:51] dmblack commented on #23965
@roblourens
Correct.

If I do not have the protocol property provided at all, error message is again different.

[2017-04-06 03:53] roblourens commented on #23976
Can you try starting code with `--disable-extensions`, then debugging, to see if the issue still happens?

And what version of node are you debugging?

[2017-04-06 03:55] cr101 commented on #7025
Today I started getting this exact same error when I edit a .css file and save it. I noticed that when I save the format of my CSS code gets changed:
[code]
**changed to**
[code]

[2017-04-06 04:01] Eronana opened #23982 "Vibration occurs when autocomplete items are selected."
- VSCode Version: Code 1.11.0 (9122ec4b1068bd391e41974f46a4b54c1b9c90f9, 2017-04-05T20:52:01.201Z)
- OS Version: Darwin x64 14.5.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|quick-open-file|AlanWalk|0.1.0|
|cpptools|ms-vscode|0.10.5|;

---

Steps to Reproduce:
Please see this video: http://take.ms/J7Gka

[2017-04-06 04:02] jedmao opened #23983 "Changing End of Line Sequence Moves Caret / Cursor"
- VSCode Version: 1.11.0
- OS Version: Windows 10 Pro

Steps to Reproduce:

1. Open a document with more than 1 line of text.
1. Focus on any line but line 1.
1. Change your EOL sequence.

_Alternatively, doing the same thing using the [`TextEdit.setEndOfLine`](https://github.com/jedmao/editorconfig-vscode/blob/1238ac61c3a5caf7d31e478b7c76856deebd11d6/src/transformations/SetEndOfLine.ts#L23) featu

[2017-04-06 04:04] raregrass commented on #1023
+1 this is important feature for me, please.

[2017-04-06 04:07] dmblack commented on #23965
Further Information

**Process without path:**
`/usr/share/code/code`

`/usr/share/code/code --type=zygote --no-sandbox`

`/usr/share/code/code --type=renderer --no-sandbox --primordial-pipe-token=E20147C04E103196FD32D6A556E22820 --lang=en-GB --node-integration=true --background-color=#1E1E1E --enable-pinch --num-raster-threads=2 --content-image-texture-target=3553,3553,3553,3553,3553,3553,3553,35

[2017-04-06 04:21] satokaz commented on #23639
I do not know if it will be a solution ,,,

What happens when renaming `$HOME/Library/Application Support/Code - Insiders` directory from Terminal and restarting finder?

Note: `$HOME/Library/Application Support/Code - Insiders` contains some important files such as settings.json. Do not erase it.

[2017-04-06 04:37] dmblack commented on #23965
@roblourens @chrmarti

Further investigations via /proc/<pid>/environ, on both types of launch, indicates that this is definitely related to node's path availability via ALT + F2.

Though fbrun is the fluxbox implementation, lxde, xfce, cinnamon, and mate all show the same issue with their respective launchers. However; the root cause is the way nvm provides node.

By design; nvm provides my node

[2017-04-06 04:41] #23965 closed

[2017-04-06 04:45] headmelted commented on #1031
@stevedesmond-ca Thanks but I was more referring to bringing across the multiarch targeting from https://code.headmelted.com into github/Travis so as to avoid the QEMU step, at least insofar as compilation (still using the chroot for testing), so as to keep on the right side of Travis timeouts.

[2017-04-06 04:51] bpasero commented on #23957
I am not sure I understand, how is this related to copy?

[2017-04-06 04:53] bpasero commented on #23693
For the status bar icons I am actually thinking of switching to using a font instead of SVG. All extensions down there that use icons already use a font for it, so it would be consistent. For the activity bar we still have to find a solution, thanks for all the ideas @kumarharsh

[2017-04-06 04:53] u3u commented on #23974
@chrmarti
Updated to the latest version, open any item to stay for a period of time will appear this problem.
And this project is not a GIt project

![](https://i2.muimg.com/549484/a5c04baa06456130.png)
![](https://i2.muimg.com/549484/c12edfc478b82709.png)
![](https://i2.muimg.com/549484/84a0978e231acc00.png)
![](https://i2.muimg.com/549484/f1f6c77a5a9041e2.png)

Open developer tool found an error

[2017-04-06 04:54] bpasero commented on #23959
https://github.com/Microsoft/vscode/issues/20861

[2017-04-06 04:54] #23959 closed

[2017-04-06 04:55] bpasero commented on #23968
@Tyriar do you see this too?

[2017-04-06 04:56] josh-tepper commented on #23977
I actually can no longer reproduce this.  But it was happening for all files (both staged and not staged).  I will updated this bug if I am able to find a way to reproduce.  Let me know if there are any specific steps that you would like me to take!

[2017-04-06 04:58] u3u commented on #23974
There is a picture upload failed

![](http://i2.muimg.com/549484/f1f6c77a5a9041e2.png)

[2017-04-06 04:59] bpasero commented on #23960
@lpy1994 can you open the Console application and find the crash details for the Code process, it should be somewhere here:

![image](https://cloud.githubusercontent.com/assets/900690/24738491/5ceae732-1a96-11e7-94e6-a05f9f38c252.png)

@hrgui your issue seems to be https://github.com/Microsoft/vscode/issues/23639

@rebornix your crash is https://github.com/Microsoft/vscode/issues/4430

[2017-04-06 05:00] bpasero commented on #7025
@cr101 is this file locally or on a remote network? is there a chance that the file is being changed by another process maybe outside?

[2017-04-06 05:02] bpasero commented on #23639
@hrgui @satokaz when this happens can you see if there is something in the console printed?

[2017-04-06 05:07] goytia54 opened #23984 "Overwhelming number files in the source control hub for git (~72000) causing software to freeze"
#

- VSCode  #Version: 1.11.0
- OS Version: Windows 10 Education Version:1607 OS Build: 14393.953

After updating to the version I get an overwhelming number files in the source control hub for git ~72000
Software freezes when running terminal using dotnet and such.

Freezes when I disregard changes or unstage changes. Reinstall does not fix.

Steps to Reproduce:

1. Update to Version 1.11.0
2. Cl

[2017-04-06 05:09] armin77 opened #23985 "Release-Notes panel not sized correctly when zoomed in"
When using the zoom function for the UserInterface "window.zoomLevel": 1 or the according shortcuts
cmd++ and cmd+- the panel that contains the release-notes is getting smaller and smaller. not taking up the whole space in the editor. (please see the attached screenshot)

![screen shot 2017-04-06 at 07 06 20 copy](https://cloud.githubusercontent.com/assets/7791321/24738717/dbdee146-1a97-11e7-9d4a-

[2017-04-06 05:10] mjbvz commented on #23985
Duplicate of #5745

[2017-04-06 05:10] #23985 closed

[2017-04-06 05:16] u3u commented on #23974
I recorded a short video, hoping to help

![39.9M](https://github.com/u3u/CDN/raw/image/issues/vscode/QQ20170406-130555-HD.gif)
https://github.com/u3u/CDN/raw/image/issues/vscode/QQ20170406-130555-HD.gif

[2017-04-06 05:16] hrgui commented on #23639
Unfortunately, there isn't anything in the console:

<img width="803" alt="screen shot 2017-04-05 at 10 13 55 pm" src="https://cloud.githubusercontent.com/assets/5001432/24738850/5aec40d2-1a4d-11e7-9ed2-16124cf33a98.png">

What I also do know in this mode, in 1.10.2, I had this problem with debugger that says the following:

"Cannot find node in path"

Would that be related by any chance?

[2017-04-06 05:17] darknoon opened #23986 "Regression: dvorak-qwerty commands keyboard layout no longer works correctly"
- VSCode Version: Code 1.11.0 (9122ec4b1068bd391e41974f46a4b54c1b9c90f9, 2017-04-05T20:52:01.201Z)
- OS Version: Darwin x64 16.5.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-eslint|dbaeumer|1.2.8|
|flow-for-vscode|flowtype|0.5.0|
|JavaScriptSnippets|xabikos|1.4.0|
|ReactSnippets|xabikos|1.2.1|;

---

Steps to Reproduce:

1. Press command-s key on keyboard, should save
2. Actio

[2017-04-06 05:18] darknoon commented on #23986
Seems to dup #23964

[2017-04-06 05:18] bpasero commented on #23954
This is due to the files.watcherExclude setting ignoring changes to the node_modules folder simply because it can contain so many file changes that we decided to ignore changes there for performance reasons. Closing as designed for now until we found a better way of dealing with the amount of file events from large folders.

[2017-04-06 05:19] nitrologic opened #23987 "Alt Shift Drag select delete broken when wordwrap on"
- VSCode Version: 1.11.0
- OS Version: Ubuntu Linux 4.4.0-72

Steps to Reproduce:

1. load a log file with long lines
2. use Alt Shift Drag then delete to remove timestamps

Note how chunks of lines throughout the log are now missing

[2017-04-06 05:20] Tyriar commented on #23968
@bpasero nope. Maybe it's the Chromium glitch where the tooltip shows up in white/black?

[2017-04-06 05:20] bpasero commented on #23639
@hrgui to be clear, you see this blank window only when clicking on the Code icon in the dock, but not when running from the command line?

[2017-04-06 05:21] Tyriar commented on #23971
@tuanbs does this happen consistently or was it a one off?

[2017-04-06 05:21] hrgui commented on #23639
@bpasero correct. From the command line, it looks like this:
<img width="796" alt="screen shot 2017-04-05 at 10 21 11 pm" src="https://cloud.githubusercontent.com/assets/5001432/24738976/36f46c1c-1a4e-11e7-9b45-2afc8f74f63e.png">

[2017-04-06 05:22] darknoon commented on #23986
Appears related to work on https://github.com/Microsoft/vscode/issues/17521

[2017-04-06 05:23] bpasero commented on #23639
@hrgui how about running the binary directly from the command line:

`/Applications/Visual Studio Code.app/Contents/MacOS> ./Electron`

[2017-04-06 05:23] mjbvz commented on #23924
Agreed this is not good UX for JS/TS. I also don't think that the result TS returns is incorrect though, it just doesn't mesh well with how our UI presents it

From the TSServer `ImplementationResponse` object, I don't see a reliable way of getting the symbol location so perhaps we should just use the first line.

@mhegazy, We have to massage the location that TS returns to get a symbol location i

[2017-04-06 05:24] bpasero commented on #23968
@innerlee you see this white line all the time right, not just when hovering down there?

[2017-04-06 05:24] satokaz commented on #23639
@bpasero

I am sorry for making you misunderstand.
In my environment code v1.11 and code-insiders 1.11.0 2017-04-04T21:06:37.100Z works fine.

* VSCode Version: Code 1.11.0 (9122ec4, 2017-04-05T20:52:01.201Z)
* OS Version: Darwin x64 16.5.0 (macOS sierra 10.12.4)

I encountered similar problems in the past and had experience recovering by deleting directories.

[2017-04-06 05:24] Nilesh3105 opened #23988 "[Feature] Preserve case in Find and replace"
It would be nice to have Preserve case feature in find and replace.

What I mean is: searching for 'BadJob' and replacing with 'GoodJob' would do the following replacements

[code]

[2017-04-06 05:27] hrgui commented on #23639
@bpasero that results in the blank screen / nothing in devtools console

[2017-04-06 05:31] innerlee commented on #23968
Yes. Hovering or not just changes the length of white lines. In full screen mode, the screen bottom is a line of white pixels. In maximized mode, this white line is partially becomes black. And varies if i hover over some element in status bae or not. In window mode, the bottom of window is the border of window (os-dependent?) and neither white nor black line observed.

[2017-04-06 05:34] yyjazsf commented on #23713
I delete all Extensions. Now,it's work well,thank you very much.  :)

[2017-04-06 05:35] vscpp commented on #23734
@rebornix okay, I understood your means. Seems this is a paradox.
If remove the background color, can't see white text. Conversely, if don't remove, a large black color.

Could add a option, when copy text, the text format with another theme (Like light+)?
Sorry, if difficult to implement it, I think we can close this issue. Thanks. :)

[2017-04-06 05:36] #23713 closed

[2017-04-06 05:37] bpasero commented on #23968
@innerlee does it reproduce if you run from the command line "code --disable-gpu"?

[2017-04-06 05:38] bpasero commented on #23639
@hrgui how about `/Applications/Visual Studio Code.app/Contents/MacOS> ./Electron --verbose`

Any output in the terminal?

[2017-04-06 05:41] hrgui commented on #23639
terminal shows:
[code]

[2017-04-06 05:41] Njanderson commented on #23808
For Windows, I was thinking of doing something like:

`wmic process where ParentProcessId=11712 get Caption,ProcessId
`
Where 11712 was the PID of the powershell process I was looking at. Looks like you already have this information, as this event exists: onInstanceProcessIdReady, so that shouldn't be too bad. If you are using the Ubuntu subsystem shell, then it should be the same for Linux below.

[2017-04-06 05:44] bpasero commented on #23639
@hrgui how about downloading the entire app again to another location (e.g. downloads folder) and start it from there?

Link: https://az764295.vo.msecnd.net/stable/9122ec4b1068bd391e41974f46a4b54c1b9c90f9/VSCode-darwin-stable.zip

[2017-04-06 05:45] bpasero commented on #23954
Actually there is a difference between Windows and macOS/Linux: we ignore `**/node_modules/**` but that should actually not ignore changes to the `node_modules` folder itself. The real issue here is that our glob library is matching `node_modules` for a pattern of `**/node_modules/**` when it should not.

[2017-04-06 05:47] den13k opened #23989 "Symbol lookup works incorrect."
- VSCode Version: Code 1.11.0 (9122ec4b1068bd391e41974f46a4b54c1b9c90f9, 2017-04-05T21:13:24.700Z)
- OS Version: Linux x64 4.4.0-72-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|code-gnu-global|austin|0.2.1|
|cpptools|ms-vscode|0.10.5|;

[Description]
There is a library folder in the project where some C++ headers are resided. Despite the fact that path is included to the file "

[2017-04-06 05:48] hrgui commented on #23639
So I downloaded, put it in home directory, ran `/Users/harman.goei/Visual Studio Code.app/Contents/MacOS/Electron --verbose`, and it seems to do the same thing.

[code]

[2017-04-06 05:52] marauderlabs opened #23990 "Find all references shows only empty peek window"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:00:46.854Z)
- OS Version: Linux x64 4.4.0-71-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-markdownlint|DavidAnson|0.7.1|
|rf-intellisense|TomiTurtiainen|0.5.1|
|code-gnu-global|austin|0.2.1|
|python|donjayamanne|0.6.0|
|MagicPython|magicstack|1.0.9|
|Theme-MarkdownKit|ms-vscode|0.1.4|

[2017-04-06 05:52] areyoureddy opened #23991 "1.11 no longer respects keyboard mappings with `setxkbmap` on Linux"
- VSCode Version: 1.11.0
- OS Version: Ubuntu 16.04

I have my Caps Lock key bound to Escape using `setxkbmap` on Linux. This worked fine till 1.10, but broke with 1.11. At first I thought it was an issue with VSCodeVim extensions, but the issue exists persists with all the other Vim extensions on the marketplace as well. Pressing the escape button still works as expected.

The binding is still re

[2017-04-06 05:53] bpasero commented on #23639
@hrgui no worries about spamming this thread! ok so it seems to be unrelated from where you start it. I wonder if we can debug this better from within the application's blank screen: when you open dev tools in there and click on the sources tab, there is a way to let the debugger stop "pause on exceptions" (the blue thing in my screenshot) as well as "Pause on uncaught exceptions".

![image](https

[2017-04-06 05:56] kolpav opened #23992 "Proposal for improved go to definition functionality"
## Introduction

It is very common for a project with webpack to use some kind of root resolve plugin which allows you to write import paths as if you were traversing from user defined root of the project directory.

## Example
Let's assume I defined root directory as `src`.
[code]
If I want to import `foo` from within `Header.js` file I could write relative path or one taking advantage of root re

[2017-04-06 05:56] hrgui commented on #23639
<img width="1465" alt="screen shot 2017-04-05 at 10 56 24 pm" src="https://cloud.githubusercontent.com/assets/5001432/24739886/25ab47e6-1a53-11e7-8078-ca17dad5d98b.png">

[2017-04-06 05:57] mjbvz commented on #23962
I'm also unable to reproduce this in a simple project like @ZhangPuXi describes. Both `import` and `require` show completions for both files and directories

To help investigate, please:

* Disable all extensions to make sure one of them is not causing problems. Just launch code with the `--disable-extensions` flag to do this
* Share a small project and your settings with us
* Describe the repo st

[2017-04-06 06:04] JesseMK opened #23993 "integrated terminal display incorrectly"
- VSCode Version: Code 1.11.0 (9122ec4b1068bd391e41974f46a4b54c1b9c90f9, 2017-04-05T20:59:05.375Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.1.0|
|vscode-theme-onedark|akamud|1.3.2|
|project-manager|alefragnani|0.13.5|
|path-intellisense|christian-kohler|1.2.0|
|vscode-eslint|dbaeumer|1.2.8|
|vscode-instant-markdown|d

[2017-04-06 06:05] ZhangPuXi commented on #23962
I have no extensions, and the ctrl+space is used by input method switch. In the last version, I don't need to hit ctrl+space, completions are shown automatically

[2017-04-06 06:06] obrejla commented on #22025
More specifically after a click, the "change itself" should be shown in a popup...that's the core feature. And then show e.g. some button to revert it (or in context menu by right click).

This change showing feature is really must have...it is absolutely ineffective to go to "diff" view just to see a single change :(

A lot of devs from our team do not use VSCode just because of lack of this feat

[2017-04-06 06:09] macsf opened #23994 "VSCode 1.11 - Performance Profile"
[5b8b_main.cpuprofile.txt](https://github.com/Microsoft/vscode/files/901647/5b8b_main.cpuprofile.txt)
[5b8b_renderer.cpuprofile.txt](https://github.com/Microsoft/vscode/files/901646/5b8b_renderer.cpuprofile.txt)

- VSCode Version: <code>Code 1.11.0 (9122ec4b1068bd391e41974f46a4b54c1b9c90f9, 2017-04-05T20:52:01.201Z)</code>
- OS Version: <code>Darwin x64 16.5.0</code>
- CPUs: <code>Intel(R) Core(TM

[2017-04-06 06:11] mjbvz commented on #23992
Quick question: in your example, did you actually mean:

[code]

If so, you should already be able to configure this. Just create a `jsconfig.json` at the root of your project with the contents:

[code]

This should allow TypeScript to correctly resolve paths such as `util/foo` or `components/Header/Header`

[2017-04-06 06:17] mjbvz commented on #23962
@ZhangPuXi Can you try setting:

[code]

I suspect the default `"strings"` setting may be disabling these automatic suggestions for ts/js imports

Can you also confirm that you can manually trigger suggestions and do see the file/directory completion items. ctrl+space is the normal keybinding but yours may be different. Look for what is bound to `editor.action.triggerSuggest`

[2017-04-06 06:17] Spown opened #23995 "DnD copy text conflicts with looking up var origin"
- VSCode Version: 1.11
- OS Version: Win

Since copy via DnD needs pressed ctrl key, if the drop target location is at another variable - when the mouse button is released the cursor jumps to this variable's declaration location
![](https://drive.google.com/uc?id=0B-OJBofmehO3djhoejJDa2xmSnM)

[2017-04-06 06:19] innerlee commented on #23968
yes, it does not related to ``--disable-gpu``.

Another detail: when code starts, the bottom is white line, then the middle part becomes black. Then after ui elements loaded, the white grows, and black becomes shorter.

more picutures:

window mode:
![screenshot_2017-04-06_14-12-01](https://cloud.githubusercontent.com/assets/9464825/24740326/2b9f3a60-1ad3-11e7-8320-b5bf421da0bb.png)

full status b

[2017-04-06 06:25] kolpav commented on #23992
@mjbvz  Thanks for quick response!
I have just tried it but without success. Did I miss something? Just to be sure we are on the same page I would like VSCode to navigate(got to definition) of import. I don't want to resolve paths during some compilation process (I am not using TypeScript)

![image](https://cloud.githubusercontent.com/assets/19467143/24740465/9b341332-1aa1-11e7-9fd9-bf1f9f805a68.p

[2017-04-06 06:25] mjbvz commented on #23982
This looks like a duplicate of #23840

[2017-04-06 06:25] #23982 closed

[2017-04-06 06:27] ZhangPuXi commented on #23962
Thanks for your time and patience, I have confirmed, I set the editor.action.triggerSuggest to Ctrl + T, it works, but the problem is even though I set the quickSuggestions as you said, the automatic suggestions doesn't work. Please help me the VSCode is my favorite editor. ^-^

[2017-04-06 06:27] mssky-shaun-qiu commented on #23976
@roblourens I don't know how to start code with --disable-extensions in OS...
The node version:
Nevermore:trunk moo$ node -v
v6.10.0

[2017-04-06 06:29] paragag opened #23996 "Opening multiple files via Ctrl+P, closes the currently opened file in VSCode"
- VSCode Version: Code 1.11.0 (9122ec4b1068bd391e41974f46a4b54c1b9c90f9, 2017-04-05T20:59:05.375Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|code-gnu-global|austin|0.2.1|
|cpptools|ms-vscode|0.10.5|
|material-icon-theme|PKief|2.0.3|
|java|redhat|0.1.0|;

---

Steps to Reproduce:

1. Open a folder. I opened a folder to git source enlisting.
2.

[2017-04-06 06:29] mjbvz commented on #23992
TypeScript powers both our JS and TS language features. Adding the setting should fix `go to definition`

I can't tell for sure in the screenshot, but is the `jsconfig.json` in the root of your workspace or inside of `src`? With the example I provided, it would have the been in the root of the workspace

[2017-04-06 06:29] bpasero commented on #23639
@hrgui thanks, this is weird. does it reproduce when you try our insiders channel?
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2017-04-06 06:30] wbercx commented on #23975
Not only does it not spin, it also does not show how many commits you are about to pull in and push up as soon as you click on it. Instead, it changes to show only a non-spinning sync icon.

[2017-04-06 06:30] isidorn commented on #23980
I never saw it behave like that and I can not reproduce.
Also when that happens do other drop down boxes also not work? For instance the one in the output panel?

Closing until you can reproduce again

[2017-04-06 06:30] #23980 closed

[2017-04-06 06:30] bpasero commented on #23968
@innerlee do you set the zoom level in settings to any value?

[2017-04-06 06:30] ZhangPuXi commented on #23962
The setting
[code]
works well. Maybe you should modify the default value to this, thanks a lot.

[2017-04-06 06:33] kolpav commented on #23992
Yes it is

![image](https://cloud.githubusercontent.com/assets/19467143/24740856/7fa0beac-1aa3-11e7-8fe0-7ebbb27c6cb5.png)

[2017-04-06 06:34] bh4dks commented on #178
+1

[2017-04-06 06:35] isidorn commented on #23922
@mjbvz first go to this site https://vsicons.azurewebsites.net/ and try to find a suitable icon. If you find it, you need to convert it to a vscode style icon by running helper scripts from here and then also create a dark theme icon also by running these scripts https://github.com/chryw/iconutil/blob/master/gulpfile.js#L135

If you can not find a suitable icon there then you can kindly ask **chry

[2017-04-06 06:35] paragag commented on #23996
When I click the (...) icon(More icon near the split-editor icon) on the top right corner of the editor, where it says "Show Opened Editors", I still see only 4 files. No more. And If I keep pressing Ctrl + P to open new files, the new file opens but replaces one of the existing files.

No the file names arent large and are not grouped/hidden. There is still plenty of space in the editor navigator

[2017-04-06 06:36] innerlee commented on #23968
I find this interesting.

black: menu hide, setting page
![screenshot_2017-04-06_14-24-49](https://cloud.githubusercontent.com/assets/9464825/24740796/887dea7c-1ad5-11e7-8d72-8f5bd5e3fe47.png)

white and black: menu hide, normal files
![screenshot_2017-04-06_14-25-13](https://cloud.githubusercontent.com/assets/9464825/24740795/887d7cd6-1ad5-11e7-8d02-0ba55b173489.png)

white: menu hide, normal fil

[2017-04-06 06:36] mjbvz commented on #23962
@jrieken, let me know if you have any thoughts on enabling quick suggestions selectively for js/ts imports.

For directories and files, we could create a new completion item provider that triggers on `.` and `/` for example. This would not fix the case where you are importing a module however

[2017-04-06 06:40] charankumarpalla commented on #23639
@bpasero : i tried with  http://code.visualstudio.com/Download#insiders
Version 1.11.0 (1.11.0) - 9122ec4b1068bd391e41974f46a4b54c1b9c90f9

even there I see blank screen again.
<img width="961" alt="screen shot 2017-04-06 at 12 09 20 pm" src="https://cloud.githubusercontent.com/assets/18207072/24741066/f9ba69c2-1ac1-11e7-8fab-55d77ab0d7aa.png">

[2017-04-06 06:40] innerlee commented on #23968
zoom leve: state
0, 2, 4: black
-1, 1, 3: black & white

[2017-04-06 06:42] fuchen commented on #23976
I encountered exactly the same issue after upgraded to VS Code v1.11.0.
* OS: Windows 10
* VSCode: 1.11.0
* Node: v6.9.4 32bit

I am working on a typescript project. Everything is OK before v1.11.0. After upgraded, auto-completion is unavailable when the error occurs. And tslint prompts errors much slower.

[2017-04-06 06:43] mjbvz commented on #23992
Ok, with the provided configuration, you should be able to use the imports:

[code]

`src/utils/foo` Would not work with this config. You would have to set `"baseUrl": "."` for that

[2017-04-06 06:43] skest3qc opened #23997 "cp1252 encoding not detected in this case"
- VSCode Version: 1.11.0
- OS Version: Windows 10 1607

Steps to Reproduce:

set "files.autoGuessEncoding": true in settings

1. Open file saved with encoding ANSI (1252)
2. VS Code show encoding as UTF8
3. Reopen with Encoding -> there is no hint which encoding was guessed or if it was tried to guess

[2017-04-06 06:44] do34 opened #23998 "Global Search finds string only in current file by "files.encoding": "utf8bom" in Settings"
- VSCode Version: 1.11.0
- OS Version: Windows 10

Steps to Reproduce:

1. Open Settings
2. Add "files.encoding": "utf8bom"
3. Restart
4. Search in Global Search a string from current file

Only matching strings from current file are found.

[2017-04-06 06:45] zivni commented on #23941
`Go to Type Definition` did the trick - thanks!

[2017-04-06 06:52] mssky-shaun-qiu commented on #23976
Disable all extensions(they are all grey), but the error come again.
@fuchen Yes, Typescript!

[2017-04-06 06:54] kolpav commented on #23992
@mjbvz Thanks it's working!

[2017-04-06 06:54] #23992 closed

[2017-04-06 06:58] wmertens opened #23999 "Hot exit: Lost editor contents on upgrade"
- VSCode Version: 1.11.0 and the one before that
- OS Version: 10.12.4

Steps to Reproduce:

1. open new window, paste text in new editor, don't save it
2. quit and start vscode => text remains
3. upgrade => text is gone :(

[2017-04-06 06:59] mika76 opened #24000 "Copy on drag drop not working"
- VSCode Version: 1.11.0
- OS Version: macOS Sierra 10.12.4

Steps to Reproduce:

1. The release notes show "unassigned" for the osx key. (this happened the moment I upgraded, no keybindings were changed) and closing/reopening vscode does not help.
![screen shot 2017-04-06 at 08 53 24](https://cloud.githubusercontent.com/assets/229311/24741572/c8157a1c-1aa6-11e7-8cb7-97e10bceb3ac.png)
2. As far as

[2017-04-06 07:02] bluecrowbar commented on #23896
Since upgrading to 1.11.0, the ctrl-\` shortcut to open the integrated terminal doesn't work anymore for me. Starting with `--disable-extensions` doesn't fix the problem. Opening the terminal from the View > Integrated Terminal menu does still work.

- VSCode Version: Code 1.11.0 (9122ec4b1068bd391e41974f46a4b54c1b9c90f9, 2017-04-05T20:52:01.201Z)
- OS Version: Darwin x64 16.5.0

[2017-04-06 07:04] nesshoever opened #24001 "Insider version wrongly reports available update"
- VSCode Version: Version 1.12.0-insider
Commit 6f42a236d521e9016a4d4fbf6aaf33cf3d9fad4e
Date 2017-04-03T06:26:22.872Z
Shell 1.4.6
Renderer 53.0.2785.143
Node 6.5.0
- OS Version: Ubuntu 16.04 xenial

Steps to Reproduce:

1. Check for available update (which will result in 'true' and a link to the insider download
2. Click to download and find version code-insiders_1.11.0-1491340448_amd64 to be dow

[2017-04-06 07:07] DrinQ commented on #23976
I seem to have the same issue. Also still getting the same message after disabling all my extensions.

This is a simple php project, residing in a remote shared folder.
Doesn't happen for a local clone of the project..

- OS: Windows 10
- VSCode: 1.11.0

[2017-04-06 07:11] bluecrowbar commented on #23896
I fixed the problem by editing the shortcut in the Keyboard Shortcuts window. Weirdly, typing ctrl-\` shows up as `ctrl+[IntlBackslash]`, which displays as `ctrl-§`. I use a Dutch keyboard.

[2017-04-06 07:13] bpasero commented on #23968
Ok so this is zooming related.

[2017-04-06 07:14] codefoster opened #24002 "Code eats my CTRL + PrtScn keyboard shortcut"
- VSCode Version: 1.11.0
- OS Version: Windows 10 15063.13

Steps to Reproduce:

1. Configure an app to use the CTRL + PrtScn keyboard shortcut (I use SnagIt)
2. Open VS Code
3. Attempt to use the CTRL + PrtScn keyboard shortcut

I should get a screen capture initialized, but nothing happens. VS Code seems to have "eaten" the keyboard shortcut.

[2017-04-06 07:21] bpasero commented on #23996
`"workbench.editor.enablePreviewFromQuickOpen": false`

[2017-04-06 07:21] #23996 closed

[2017-04-06 07:22] bpasero commented on #23999
I can reproduce.

@Tyriar fyi

[2017-04-06 07:23] mkszepp opened #24003 "File from UNC-folders twice time opened in same instance after changes"
- VSCode Version: 1.11.0 / 1.12.0-insider
- OS Version: Windows 10 x64

Steps to Reproduce:

1. open a single file which is in an UNC folder
2. press any keys / undo changes
3. file is opend two times in the same window

Problem is also on other PC's

![problem](https://cloud.githubusercontent.com/assets/19845290/24742248/b959ee2e-1aa9-11e7-9aa7-58f376a100c2.gif)

![problem2](https://cloud.githubu