[2016-03-15 13:22] jefkoslowski commented on #3886
I totally agree with the OP. Please, support method/function highlight like Atom/ST does. Another screenshot (source https://twitter.com/markgdyr/status/709717800860913664):

![VS Code](http://i.imgur.com/gCD3ttF.png)

I think this should be a theme author decision, its not VS Code responsibility.

[2016-03-15 13:22] isidorn opened #4250 "jsconfig.json guidance - give me option to never get prompted again"
Related to #4007

- VSCode Version:
- OS Version: Linux

Steps to Reproduce:

1. Open vscode repo and open any js file, notice the light bulb appearing in the status bar
2. Clicking on the status bar I get options to create a `jsconfig.json`, however since I have a TS project I do not want to do this. Instead I want an option to never do this and hide the light bulb for this workspace
3. So giving

[2016-03-15 13:25] jrieken commented on #1439
Profiling what happens reveals a few (low hanging) performance issues.

* StopWatch#start/stop is slow (it uses the performance.now which takes too long for what it does)
* BaseTextEditorModel#update first run `Model#getValue` before `Model#setValue` (to check for changes) which is a *big* hit on perf (20%). Also that extra string _will put pressure on the heap_.

[2016-03-15 13:27] jrieken commented on #1439
![screen shot 2016-03-15 at 14 22 47](https://cloud.githubusercontent.com/assets/1794099/13779130/dbefa85a-eab9-11e5-9308-8cfdc351d187.png)
[large_file_update.cpuprofile.zip](https://github.com/Microsoft/vscode/files/173981/large_file_update.cpuprofile.zip)

[2016-03-15 13:31] jrieken commented on #1439
@bpasero/@alexandrudima I suggest you guys find a better way of comparing a string with an existing model (without constructing the whole model string)

[2016-03-15 13:31] cs04riva commented on #4039
Formatting CSS doesn't seem to properly work anymore.

You use to be able to paste in a block of css in one line, hit the shift + alt +f and it would correctly format the code.  This no longer works.

For example:
`body{background-color:#FFF;}#test{position:absolute;}`

Would turn into:

`body{
    background-color:#FFF;
}
#test{
    position:absolute;
}`

[2016-03-15 13:35] andreiropotica commented on #4231
It was a domanin anti-spyware policy problem, the administrator fixed it. Thank you for all your suport!

[2016-03-15 13:35] #4231 closed

[2016-03-15 13:37] EisenbergEffect commented on #4078
If I remove the tsconfig, the problem goes away :)

It's not a mixed project per se. I was working on a sample app for an Aurelia workshop I'm going to be running. I included the tsconfig because I suspect some students will want to use TS instead of Babel. So, it was there out of a convenience for them. However, I should probably provide them with a complete TS setup separate from this one. Havin

[2016-03-15 13:43] alexandrudima opened #4251 "[themes] HTML is too red in Light (VS Theme)"
STABLE (0.10.8):
![image](https://cloud.githubusercontent.com/assets/5047891/13779610/2294b03c-eabc-11e5-8b13-f105df73f282.png)

MASTER:
![image](https://cloud.githubusercontent.com/assets/5047891/13779629/3e0c9910-eabc-11e5-856e-bc1c0e7aa75f.png)

[2016-03-15 13:43] #4241 closed

[2016-03-15 13:46] #3621 closed

[2016-03-15 13:47] joaomoreno commented on #4231
Very happy that you solved it! Thanks for letting us know what was wrong. :+1:

[2016-03-15 13:50] bpasero commented on #4140
@joaomoreno pushed some colors, please verify for Dark and Light theme. I did not add explicit color for the message, only for the verb and git sha.

[2016-03-15 13:52] ole1986 commented on #4232
Actually not! I just added one new js file via the "New File" button...and it was empty.. then the warning appeared. After adding some text it still pops up. So I restarted the whole machine.. Than it was gone.

[2016-03-15 13:52] joaomoreno commented on #4003
Not sure, since Code appears to try to reach your proxy `10.0.1.1:3128` but fails in doing so. Something is definitely up.

Can you try the Atom editor, which also has a proxy setting?

[2016-03-15 13:53] #4171 closed

[2016-03-15 13:53] isidorn opened #4252 "Linux: cannot watch large folders (ENOSPC)"
- VSCode Version: c4b514244e2651117b9990295730265f5b902436
- OS Version: Linux

Steps to Reproduce:

1. git clone https://github.com/Microsoft/TypeScript.git
2. you do not have to open any file, just wait a minute and notice multiple errors in developer console
3. I do not see this on OS X, only linux

Marking as important as I am not sure what does this potentially break. Extension host might be

[2016-03-15 13:54] joaomoreno commented on #4243
Duplicate of #4157

[2016-03-15 13:54] #4243 closed

[2016-03-15 14:07] egamma commented on #3509
Upstream fix merged into our code.

[2016-03-15 14:07] #3509 closed

[2016-03-15 14:10] pascon commented on #906
In the [docs ](https://code.visualstudio.com/docs/editor/codebasics#_saveauto-save)there is information about `files.autoSave: "onFocusChange"`:

Is this option working?

[2016-03-15 14:11] #3991 closed

[2016-03-15 14:12] bpasero commented on #3991
@joaomoreno to verify please look at "git commit" as well as "git add -p" because the styles are used in both cases for added, changed and removed. Applies to light and dark theme as well as high contrast.

[2016-03-15 14:15] bpasero commented on #906
Yes

[2016-03-15 14:17] bpasero commented on #4252
@isidorn this means the watcher is running out of handles, does the advise in http://code.visualstudio.com/Docs/supporting/faq#_linux-faq help?

[2016-03-15 14:20] isidorn opened #4253 "Exception when close all working files and some are dirty"
- VSCode Version: 18ebb4a4f5491af7b16e91e42fc36410bbb2e4d7
- OS Version: any

Steps to Reproduce:

1. Have multiple files open in working files
2. Have at lease one of those files dirty
3. Close All Working files by clicking the close action in the working files header, notice the exception
4. I can not repro this every time, but see it regularly

![screen shot 2016-03-15 at 15 19 34](https://clou

[2016-03-15 14:22] isidorn commented on #4252
@bpasero that does not help, as my linux has that configured since forever

[2016-03-15 14:24] bpasero commented on #4252
@isidorn I think we are hitting the limits of what the OS can do...

[2016-03-15 14:25] alexandrudima commented on #2927
Might have been in 0.10.8 that we called process.send with unstringified contents, but now the contents are always string arrays. So this stack trace cannot happen on master.

[2016-03-15 14:25] #2927 closed

[2016-03-15 14:30] bpasero commented on #4253
@isidorn do you get the dialog prompting you to save dirty files before the exception or after?

[2016-03-15 14:31] joaomoreno commented on #4104
@seanmcbreen @SofianHn

- `extensionGallery:update`
- `extensionGallery:install`

[2016-03-15 14:32] isidorn opened #4254 "jsconfig.json guidance: never getting 'configure excludes' on Linux"
Related to #4007

- OS Version: Linux

Steps to Reproduce:

1. open vscode repo, open any .js file, generate `jsconfig.json`
2. modify jsconfig.json such that nothing is excluded
3. Wait some time and trigger inteli-sense in .js -> notice exception
4. I am never offered to 'configure excludes', I only see this on Linux, it works nicely on OS X

![screen shot 2016-03-15 at 15 31 43](https://cloud.g

[2016-03-15 14:32] jrieken commented on #4250
duplicate

[2016-03-15 14:32] #4250 closed

[2016-03-15 14:33] #4254 closed

[2016-03-15 14:33] jrieken commented on #4254
You must not have too many files cos we aren't on the latest TS server version.

[2016-03-15 14:33] jrieken commented on #4254
related to #4185

[2016-03-15 14:34] isidorn commented on #4254
Got it, but why does this work on OS X then?

[2016-03-15 14:34] joaomoreno commented on #4040
Nothing really changed recently here, the change *if it happened* was already some time ago.

[2016-03-15 14:35] #4040 closed

[2016-03-15 14:35] #4104 closed

[2016-03-15 14:35] jrieken commented on #4254
different nodejs versions?

[2016-03-15 14:35] jrieken commented on #4247
duplicate

[2016-03-15 14:35] #4247 closed

[2016-03-15 14:36] joaomoreno opened #4255 "Show Installed Extensions doesn't show update action"
from @jayrosen1576

If you select "Show Installed Extensions" you won't see the update button but if you select "Install Extension" and search for an already installed extension that has a newer version available, the update button is visible. Is this part of this bug or is this something else?

Install Extension:
![screen shot 2016-03-14 at 2 34 59 pm](https://cloud.githubusercontent.com/assets/1

[2016-03-15 14:37] joaomoreno commented on #4108
@jayrosen1576 It's a separate one, I created it for you: #4255

[2016-03-15 14:37] isidorn commented on #4253
I get the dialog and I say 'do not save' - can not always repro, can you please try it out a couple of times

[2016-03-15 14:44] isidorn opened #4256 "Configure excludes polish"
Related to #4007

Steps to Reproduce:

1. Have a large workspace, generate a jsconfig.json that does not exclude anything, click on Configure Excludes in the status bar
2. You get the attached message
3. I propose the following changes:

* Rename "Configure excludes..." action to "Configure Excludes"
* In this particular case the suggestion is not very precise, why are we tryign to be smart here,

[2016-03-15 14:45] isidorn commented on #4254
might be that...

[2016-03-15 14:49] dbaeumer commented on #2495
Dups #4120

[2016-03-15 14:49] #2495 closed

[2016-03-15 14:49] bpasero commented on #4253
I dont even know what that handler is as it seems in the extension host, moving to @jrieken / @alexandrudima

[2016-03-15 14:50] dbaeumer commented on #4206
Changed by generating files where the territory part is in uppercase which matches what gets returned from the OS.

[2016-03-15 14:50] #4206 closed

[2016-03-15 14:50] bpasero commented on #3999
@v-pavanp are you running in some VM maybe?

[2016-03-15 14:53] weinand opened #4257 "After replacing all occurrences of a search pattern the search dialog shows 'No results' even if this is not true"
VSCode 0.10.12-alpha

- prepare a file with some indentation based on spaces
- replace all occurrences of two spaces by one space

Observe: the search dialog says "No results" but there are still occurrences of two spaces left.

[2016-03-15 14:54] #4242 closed

[2016-03-15 14:55] egamma commented on #3865
Reproduced the issue using the same repo.

Adding this tsconfig.json
[code]

Fixes the module not found errors. Therefore this doesn't look like a VS Code issue, but a consequence of switching from TS 1.7.5 to TS 1.8.2.

[2016-03-15 14:55] #3865 closed

[2016-03-15 14:58] pascon commented on #906
@bpasero that strange, maybe I'm misunderstanding this option but when I try following steps:

1. Open new file
2. Write some text
3. Try closing vscode

file is not saved as dirty and vscode asks me for saving the file.

My settings.json file looks like below:
`{
    "files.autoSave": "onFocusChange"
}`

Isn't this flag enables auto-saving as in Notepad++ described in first post in this issue?

[2016-03-15 14:58] segmentationfaulter commented on #3600
I started using vscode because of the extension mentioned by OP, upon finding that extension being very poor with plenty of bugs, I had to switch back to vim.

[2016-03-15 14:59] jpalo commented on #4245
Also occurs with for loop, e.g.:

![image](https://cloud.githubusercontent.com/assets/6917905/13782309/4567099e-eacf-11e5-95ff-c075fac3786a.png)

[2016-03-15 15:01] #4150 closed

[2016-03-15 15:01] bpasero commented on #4150
@joaomoreno fixed but I think the scenario is also not very typical because you are not adding any file path to wait for.

[2016-03-15 15:02] #4236 closed

[2016-03-15 15:04] #4235 closed

[2016-03-15 15:04] chrisdias opened #4258 "Console errors with badly formed launch.json"
testing #4026

The first time I did this on a new express app, everything worked as expected. I was prompted to click on 'More Information'.

Subsequent runs I get the error "Attribute 'program' does not exist ('/bin/www')." without the second part of the message that said "consider using ${workspaceRoot}". In the console i see this:

[code]

Steps to reproduce:

* in a terminal:
[code]

* click o

[2016-03-15 15:05] bpasero commented on #906
@pascon works for me, please attach a video of what you try and see.

[2016-03-15 15:05] #4251 closed

[2016-03-15 15:06] chrisdias commented on #4026
@isidorn sorry, i moved the issue and referenced this test item.  also, i checked it off, i'm done testing.

[2016-03-15 15:06] bpasero commented on #4214
@SofianHn I cannot reproduce on my windows 10 but this looks like an issue with the script we use for launching if I see the errors, moving to @joaomoreno

I will open a separate issue that -w does not work on Windows when already running.

[2016-03-15 15:06] aeschli commented on #4245
duplicate of https://github.com/Microsoft/TypeScript-TmLanguage/issues/11

[2016-03-15 15:06] #4245 closed

[2016-03-15 15:06] bpasero opened #4259 "Windows: -w option not working when vs code already running"
:-/

[2016-03-15 15:07] #4203 closed

[2016-03-15 15:07] isidorn commented on #4026
Great!

[2016-03-15 15:07] #4026 closed

[2016-03-15 15:08] e-cloud commented on #852
that would be nice

[2016-03-15 15:09] #4112 closed

[2016-03-15 15:09] #4157 closed

[2016-03-15 15:10] isidorn commented on #4001
@jrieken just a reminder to check off the items which you tested so @SofianHn can do the rest

[2016-03-15 15:10] #4136 closed

[2016-03-15 15:12] joaomoreno commented on #4214
@SofianHn Which version of git do you have in Windows? If under 2.0, update it and try again. If it works, just close this.

[2016-03-15 15:12] bpasero commented on #4159
Well, let me keep it here for me to discuss with Mr. Moreno.

[2016-03-15 15:13] egamma commented on #4256
:+1:
While the algorithm to find large folders is nice. A user that configures the excludes knows where the generated js resources are. Therefore do not add the guessed folders to the message.

[2016-03-15 15:14] isidorn commented on #3777
Dup of #3775

[2016-03-15 15:14] #3777 closed

[2016-03-15 15:15] egamma commented on #4232
Is the workspace on a sharepoint/webdav mounted volume as in #3860?

[2016-03-15 15:16] #4149 closed

[2016-03-15 15:21] ritoscue opened #4260 "Folding is not working in xml"
- VSCode `Version:0.10.11`
- OS Version:

Steps to Reproduce:

1.  Open File folding.txt in VS Code:
[folding.txt](https://github.com/Microsoft/vscode/files/174182/folding.txt)

2. select language xml
3. try folding
4. Result is like:
![folding](https://cloud.githubusercontent.com/assets/10951907/13783006/92161646-ea97-11e5-8b1d-58bddadfef2f.PNG)

[2016-03-15 15:22] DrCacho commented on #3815
The same happens to me. VS Code 0.10.11 on OSX El Capitan.

[2016-03-15 15:23] isidorn commented on #4122
@bpasero I can not repro this ben with latest vscode running out of source.
Can you give me precise steps if you can repro

[2016-03-15 15:26] jsloyer commented on #4208
@aeschli I was more or so wondering how to pull in a npm module and then call it from typescript.

[2016-03-15 15:28] weinand opened #4261 "[html] formatting option "html.format.extraLiners" doesn't work"
testing #4066

- use this html:
[code]

- change `html.format.extraLiners` from `null` to `HEAD`

Observe:
[code]

There is no extra line before the HEAD tag.

- change `html.format.extraLiners` to `null`

Observe: now there is an extra line before the HEAD and BODY tags:

[code]

[2016-03-15 15:28] #4190 closed

[2016-03-15 15:29] #4066 closed

[2016-03-15 15:30] #4108 closed

[2016-03-15 15:31] NickHeiner commented on #4210
Awesome! Thanks for the fix. Sorry for the duplicate issue.

[2016-03-15 15:31] isidorn commented on #4124
Actually I do not like this, since potentially I would need to add two configured tab size, one set in the model and one from the configuration.
Will only add this if a user actually complains.

[2016-03-15 15:31] #4124 closed

[2016-03-15 15:32] chrisdias commented on #4196
@dbaeumer

* TypeScript build

i would keep the tsconfig one because that is probably the most useful and common with TypeScript (having a tsconfig.json) and i would update the docs to deeply discuss the various scenarios for typescript compile.

also, i would change showOutput to "always" because it helps people understand what is going on.  When they become familiar with the system they can chan

[2016-03-15 15:32] weinand opened #4262 "[html] formatter option "html.format.unformatted" doesn't work"
testing #4066

- use this html:
[code]

- change `html.format.unformatted` from `null` to `B` and format code

Observe:

[code]

- change `html.format.unformatted` back to `null` and format code:

Observe: no difference to previous

[2016-03-15 15:38] #3634 closed

[2016-03-15 15:38] castrojunin commented on #224
+1

Extremely necessary.

[2016-03-15 15:38] Reanmachine commented on #3091
@alexandrudima I feel the rule engine is worth it, fixing the conflict with <kbd>alt</kbd>+Click is really a short sighed solution. As I'm sure you're aware linux can be quite varied (read: fragmented) sometimes. Fixing the conflict will solve issues for people running Gnome, but it may end up conflicting with KDE, or with XFCE, or with whatever other variant someone has decided to run. I think it

[2016-03-15 15:40] alexandrudima commented on #4170
Thank you for adding the option!

[2016-03-15 15:43] bpasero commented on #4151
You didnt think it through.

[2016-03-15 15:43] #4151 closed

[2016-03-15 15:44] alexandrudima commented on #906
@bpasero I think this is about untitled files

[2016-03-15 15:46] johnrom opened #4263 "File dialog: Cannot navigate to \Windows\System32\drivers\etc, even as administrator"
- VSCode Version: 0.10.11
- OS Version: Windows 10, 10586.164

Steps to Reproduce:
1. Open VSCode
2. Open File
3. Navigate to \Windows\System32\drivers

The etc directory is not visible. I have enabled hidden files and folders and run VSCode as administrator.

It is possible to enter \Windows\System32\drivers\etc\hosts into the Open File dialog in order to edit the hosts file.

[2016-03-15 15:46] NickHeiner commented on #3903
`yield` is still not highlighted with version f291f4ad600767626b24a4b15816b04bee9a3049. Is that intended?

[2016-03-15 15:47] alexandrudima commented on #4253
@isidorn Can you reproduce without installed extensions?
Hint: "Notification handler" string is not in vscode source code.

[2016-03-15 15:47] #4127 closed

[2016-03-15 15:47] bpasero opened #4264 "Investigate to make IConfigurationService sync if already blocking startup"
Suggestion from @alexandrudima

Similar: IStorageService can also be sync already.

[2016-03-15 15:48] nsgundy commented on #3797
Same issue :+1:

[2016-03-15 15:49] alexandrudima commented on #3693
Fixed in stable channel.

[2016-03-15 15:49] #3693 closed

[2016-03-15 15:52] #4259 closed

[2016-03-15 15:52] isidorn commented on #4253
@alexandrudima I can repro it if I do not have any extensions installed

[2016-03-15 15:53] #4164 closed

[2016-03-15 15:53] #4191 closed

[2016-03-15 15:53] alexandrudima commented on #3549
I didn't know this either, but apparently that is achievable with `$&`:

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/replace#Specifying_a_string_as_a_parameter

(disclaimer: we call JavaScript's string.replace).

I will look into adding support for `$0` too, by transforming it to `$&` behind the scenes.

[2016-03-15 15:53] weinand commented on #4258
@chrisdias this is how errors work everywhere in the workbench: an error bubbles up and is displayed as an error notification (and as a side effect it appears in the dev console).

@bpasero could you please comment on this.

[2016-03-15 15:54] bpasero commented on #4159
I think we are good for GA atm.

[2016-03-15 15:55] bpasero commented on #4122
F1 > Indent using spaces > 4
F1 > Indent using spaces > 4

[2016-03-15 15:56] bpasero commented on #906
Ok, for untitled files we need to ask the user which filename to pick.

[2016-03-15 15:56] isidorn commented on #4129
@bpasero Why do I think I do this, I think I do the proper thing [here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/output/common/outputEditorInput.ts#L120)
I do not do any scheduling for the initial `setOutput`

[2016-03-15 15:57] #3470 closed

[2016-03-15 15:57] bpasero commented on #4258
As designed, we print to the console for reasons that we as developers know whats going on.

[2016-03-15 16:00] chrisdias commented on #4258
Why don't i get the prompt to read More Information and the suggestion to use ${workspaceRoot}?

[2016-03-15 16:01] jrieken commented on #4256
I disagree, folks won't know to exclude things like `temp` folders which become giant because of a transient build step. node_modules et al are the obvious but we have been hurt more than once with those unusual folders

[2016-03-15 16:02] #3549 closed

[2016-03-15 16:03] jrieken commented on #4256
I put the `...` because it opens a new UI element which I believe is the rule?

see above

Agree, it's the filename of the configuration but the action already takes you there...

[2016-03-15 16:03] bpasero commented on #4258
Reopening, I thought this was about the fact that something gets logged to the console.

[2016-03-15 16:03] weeblr commented on #906
HI

@bpasero

No, that's the point. Don't ask anything. Make up a temp file name, store and reopen when vscode is started next time.

See my OP:

Cheers

[2016-03-15 16:06] isidorn commented on #4256
Not sure where else in UI we use this rule? AFAIK we do not follow it in debug and task world
@stevencl opinions?

[2016-03-15 16:06] bpasero commented on #906
@weeblr why do you assume this feature works if the feature request is still open?

[2016-03-15 16:07] #4156 closed

[2016-03-15 16:07] jrieken commented on #4253
@isidorn The steps don't do it for me, also the message appears nowhere in our sources. Please attach the debugger to the extension host and break on error such that we have a chance to understand this

[2016-03-15 16:12] jrieken commented on #4256
![screen shot 2016-03-15 at 17 11 59](https://cloud.githubusercontent.com/assets/1794099/13784838/0e32293e-ead1-11e5-9876-567f3f0d9d40.png)

Like here for instance. Unsure if it's applies to message-actions?

[2016-03-15 16:12] bpasero commented on #4142
Would be solved with https://github.com/Microsoft/vscode/issues/4159

[2016-03-15 16:14] isidorn commented on #4256
Yeah i was thinking more of action labels

[2016-03-15 16:15] weeblr commented on #906
@bpasero Sorry, I'm confused. From your previous comment, I understood you wanted to implement that feature by prompting the user for a name, in case the file didn't have one already. So I replied that that's not how it should be implemented, per my request.
Isn't it what you suggested?

Rgds

[2016-03-15 16:15] jsloyer opened #4265 "Importing an npm module"
- VSCode Version: latest
- OS Version: OSX

I am trying to import an npm moduleinto vscode to use.  I am following this tutorial, https://github.com/DefinitelyTyped/demo-typescript-node-minimal.  I got it to run locally outside of vscode successfully.

Steps to Reproduce:

1. `./scripts/npm.sh install xregexp --save`
2. open `build/gulpfile.vscode.js` change var baseModules = [...] to the followin

[2016-03-15 16:15] alexandrudima commented on #4000
fyi @isidorn I think the problem shown in the last gif is the previous status bar implementation that would always update editor options when changing active editors (that we shipped in Feb).

@rebornix We also noticed some of these issues and reworked how this works under the hood. The indentation settings used to live on the editor and now they moved to live on the model (the buffer). We also ad

[2016-03-15 16:16] bpasero commented on #4230
Dupe: #55

[2016-03-15 16:16] #4230 closed

[2016-03-15 16:16] jsloyer commented on #4208
Closing in favor of #4265 with detailed steps on how to reproduce.

[2016-03-15 16:16] #4208 closed

[2016-03-15 16:17] alexandrudima commented on #3966
You're not doing anything wrong, it is simply not implemented yet. Dup of #313

[2016-03-15 16:17] #3966 closed

[2016-03-15 16:17] bpasero commented on #906
@weeblr sorry I confused you with @pascon

[2016-03-15 16:19] weeblr commented on #906
@bpasero ok, no problem, understand now.

[2016-03-15 16:22] alexandrudima opened #4266 "Ctrl+K Ctrl+I only works on words"
Have a TS file
[code]

* put cursor inside !@#!, etc.
* invoke show hover Ctrl+K Ctrl+I

[2016-03-15 16:23] alexandrudima commented on #4266
@isidorn It is perfectly fine to use the cursor position and there is no need to fetch current word around lines:

[code]

[2016-03-15 16:23] isidorn commented on #4266
@alexandrudima thanks for the tip!

[2016-03-15 16:25] alexandrudima commented on #4100
@stevencl @bgashler1

The request is to show error messages in the status bar on cursor move. I have mixed feelings about that, can you please chime in.

[2016-03-15 16:27] isidorn commented on #3782
@joaomoreno assigning this one to you as well, if you get too much of react just unassign one of the test tours and I wil reassign it to somebody else

[2016-03-15 16:28] laurijsd opened #4267 "Powershell - Debug adapter process has terminated unexpectedly"
- VSCode Version: 0.10.11 , shell 0.35.6, Renderer 45.0.2454.85
- OS Version: WIN10 Pro

Steps to Reproduce:

1. Have a working setup with VSCode 0.10.10 and powershell debug 0.5.0
2. Upgrade VSCode to 0.10.11.
3. Debug fail: The error says Debug adapter process has terminated unexpectedly
4. Reinstall VSCode 0.10.10 and powershell debug 0.50, issue remains

[DebugAdapter.log.txt](https://github.c

[2016-03-15 16:31] bpasero opened #4268 "cli: give better hint what to put for --locale"
Currently the help text reads "Use a specific locale, "pseudo" can be used to test localization."

I doubt that a user wants to know about "pseudo", instead I would give a concrete example how to put a language in there (e.g. what is the format).

@dbaeumer I suggest to do this for GA since people might want to tweak this.

[2016-03-15 16:32] bpasero commented on #4268
In: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/electron-main/cli.ts#L39

[2016-03-15 16:32] #4128 closed

[2016-03-15 16:32] #4129 closed

[2016-03-15 16:32] bpasero commented on #4100
Could this not be done as extension? Sounds doable.

[2016-03-15 16:32] bpasero commented on #4100
(but maybe API is missing to get the error messages at cursor location)

[2016-03-15 16:33] bpasero commented on #4265
@jsloyer adding a new npm module to vs code you will need to add it to our npm-shrinkwrap.json file too.

[2016-03-15 16:36] bpasero commented on #2670
@alexandrudima the intellisense window is still clipped for me though?

![image](https://cloud.githubusercontent.com/assets/900690/13785585/66cc4d42-ead4-11e5-946e-5710271ae14b.png)

[2016-03-15 16:47] jsloyer commented on #4265
@bpasero I added xregexp to the npm-shrinkwrap file and still have the issue.  Can we please reopen this?

[2016-03-15 16:54] waderyan commented on #4018
@isidorn I have finished testing but there is still an outstanding issue #4120. From your question i'm assuming I should still mark testing as complete even with an outstanding issue.

[2016-03-15 16:54] camiller2 commented on #3592
+1

[2016-03-15 16:58] #4237 closed

[2016-03-15 16:59] #3704 closed

[2016-03-15 17:00] egamma commented on #4162
@joaomoreno on my machine the OS was not German, on a German windows machine the date formatted properly. However, it would not work when the user uses the --locale argument or the local setting support.

So the plan is that @dbaeumer provides an API to find the current locale.

[2016-03-15 17:00] isidorn commented on #4018
@waderyan yes, once we are done testing we check off the test item. The issues track the state of that, not this test plan item

[2016-03-15 17:00] #4018 closed

[2016-03-15 17:02] alexandrudima commented on #3994
@daviwil I just looked into this and the edits I get in the editor:

The file contents are (the `|` denotes the cursor):
[code]

And the generated edit from accepting the suggestion is replace `"system.col"` with `"System.Collections"`

This makes it that the cursor is inside the replaced range, in which case it stays put.

If the generated edit from accepting the suggestion would be replace `syst

[2016-03-15 17:04] alexandrudima commented on #2670
Well, there were two bugs in one here.

I did not change the clipping nor have any plans to fix it :).

Please use larger editor for productive work.

[2016-03-15 17:07] alexandrudima commented on #4253
@dbaeumer Maybe you use such strings in the language protocol?

[2016-03-15 17:15] ole1986 commented on #4232
No, but on a network drive through Linux smb

[2016-03-15 17:15] isidorn commented on #4253
@jrieken when I attach debugger to the extension host I can not seem to get it to break on this error.
I can easily repro so just drop by my table if you are interested in looking into this.

[2016-03-15 17:19] #4266 closed

[2016-03-15 17:21] daviwil commented on #3994
Thanks for looking into this, Alex!  Even if we removed the quotation marks aroung the completion text, the problem still remains that the cursor is not being placed after the quoted string (which is the behavior in the PowerShell ISE:

![intellisense](https://cloud.githubusercontent.com/assets/79405/13787033/73a18dda-ea97-11e5-9207-a628c6d7d1ee.gif)

Since we're replacing a whole substring, is th

[2016-03-15 17:23] weinand commented on #4258
@chrisdias because your program "/bin/www" is a perfectly fine absolute path. So there is no need to prepend it with ${workspaceRoot}, hence there is no "More Information". The problem is the file does not exist!

[2016-03-15 17:23] #4258 closed

[2016-03-15 17:23] SofianHn commented on #4214
Updated git and worked as expected

[2016-03-15 17:24] nub340 commented on #224
+1

I work on many different file types during development so I often like to create a tab group on the right-hand side for one type of file and another tab group on the left for other types of files. For instance, when working on protractor/webdriverjs code, I like to keep all of the "Page Objects" on the right and all of the "specs" on the left, grouped separately and logically. Similarly when w

[2016-03-15 17:26] weinand commented on #4239
@isidorn could you please stop the debug adapter in this case?

[2016-03-15 17:34] jseanxu opened #4269 "^acceptSelectedSuggestion no longer works"
- VSCode Version: 0.10.11
- OS Version: Win10

Steps to Reproduce:

1. Open keybindings.json
2. Add this key binding:
[code]
3. Open a code file (C#, JS, TS)
4. Type "publ" followed by the space key

Expected:
The text should be `public ` (with a space at the end)

Actual:
The text is `publ `, no autocompletion occurred.

Note:
"acceptSelectedSuggestion" without the caret still works

[2016-03-15 17:34] paultwright opened #4270 "Link recognizer isn't too good with MSDN links (esp ones with open & close paren)"
0.10.8 - VSCode Version:
Windows 7 Enterprise
Version 6.1 (Build 7601: Service Pack 1) - OS Version:

Steps to Reproduce:

1. Copy & paste URL into editor from your favorite MSDN reference article.
For example: **https://msdn.microsoft.com/en-us/library/ee677285(v=azure.10).aspx**
2.  Note that the underlining stops before the close parenthesis and after the .10.

Expected Behavior:  Underline to

[2016-03-15 17:37] jseanxu commented on #4269
Looking thru the default bindings, I noticed this binding at the very bottom of the file:
[code]

Pressing `.` does not autocomplete in TypeScript either.

[2016-03-15 17:37] Ronmenator commented on #3865
thank you, Switching to 'amd' for module fixed the 'cannot find module...' problem on our Fayde project as well.

[2016-03-15 17:37] #4105 closed

[2016-03-15 17:38] isidorn commented on #4105
@joaomoreno  about 2 weeks ago you filed an issue about an error from a watch task is not bein respected and that debug gets run anyways. We need to verify that scenario again. I tried to dig up that bug, but could not. Can you give me a pointer to that bug if you can find it on github please

[2016-03-15 17:43] dzearing commented on #4212
Oddly I can't seem to repro it now with search.exclude containing the lib folder. I see the lib folder in left nav, but ctrl-p is not resolving to files from within it. I swear this wasn't working, but maybe it was patched in the recent update. I will close for now and reopen if I can pinpoint the repro.

[2016-03-15 17:43] #4212 closed

[2016-03-15 17:47] jrieken commented on #4253
@isidorn Sure you don't have PowerShell tools installed? https://github.com/PowerShell/PowerShellEditorServices/blob/9fa1feaf16d13075c02b420789bbebe9b75c122b/src/PowerShellEditorServices.Protocol/LanguageServer/TextDocument.cs#L59

[2016-03-15 17:48] jrieken commented on #4253
harding @alexandrudima assumption about the language protocol (https://github.com/Microsoft/vscode-languageserver-protocol/blob/46dd8c99166b3cbee69a54e6043b99be221d793c/README.md#L654)

[2016-03-15 17:51] alexandrudima commented on #4086
@GlenPerkins I agree, the current theme story only really covers token colors and a bit of the generic editor concepts (selection color, etc.).

We have to revisit this and figure out how we can make it possible for someone to change all of the built-in styles in a "sane" way.

In the meantime, I pushed a simple change that makes the bracket matching more visible in the dark theme.

[2016-03-15 17:55] justinschuldt opened #4271 "When inserting an emoji on OSX, it is placed two spaces left of the cursor"
- VSCode Version: 0.10.11
- OS Version: OS X  10.11.1 (15B42)

Steps to Reproduce:
1. Press Control + Command + Space to bring up the emoji insert modal
2. Click one

Additionally, to actually see the emoji in VSC (instead of an empty square), I have to press backspace one time with the cursor to the right of the emoji.

I know this is a dumb bug, but figured I would log it anyway.
Keep up the gre

[2016-03-15 17:59] bpasero commented on #4265
@alexandrudima do we need to tell the loader this is a node.js module?

[2016-03-15 17:59] bpasero commented on #2670
Got it, do you already have a bug for the clipping?

[2016-03-15 18:01] chrisdias commented on #4258
ok, now i see.  thx.

[2016-03-15 18:34] isidorn commented on #4253
@jrieken I do not have powershell installed

[2016-03-15 18:37] soyzamudio opened #4272 "Wrong highlighting when using ES6 interpolation"
- VSCode Version: 0.10.11 (0.10.11)
- OS Version: 10.11.2

Everything after the interpolated text is highlighted as a string.

<img width="577" alt="screen shot 2016-03-15 at 11 31 24 am" src="https://cloud.githubusercontent.com/assets/3433118/13789496/96cdc332-eaa1-11e5-8ccb-4a05184cb4e4.png">

[2016-03-15 19:03] jrieken commented on #4253
maybe *tslint*?

[2016-03-15 19:08] joaomoreno commented on #4105
@isidorn This is all I could find #2370

[2016-03-15 19:09] joaomoreno commented on #4214
OK. Let's maybe add a warning on Windows to update the git to 2.0.

[2016-03-15 19:09] joelday opened #4273 "Provide API to pull information from language service"
It would be helpful to be able to pull information from the language service that is already running, either just to ensure that separate compilation is identical to that of the language service. This would allow extensions to more easily add features such inferred types, etc. Would also provide performance significant gains.

[2016-03-15 19:09] isidorn commented on #4253
I do not have any extensions installed :)
I only use open in github but I uninstalled it to try to repro this issue, and I could repro

[2016-03-15 19:13] joelday opened #4274 "Move instantiation system to a separate package for use by third parties"
VSCode's instantiation/dependency management system seems useful and has low boilerplate. Would be nice to use elsewhere.

[2016-03-15 19:38] vsccarl opened #4275 "[Localization] View -> Toggle Render Whitespace is not being translated"
- VSCode Version: 0.10.12-alpha --locale=fr (or any locale)
- OS Version: Windows 10

"Toggle Render Whitespace" under the View menu is not being localized in any language even though it is bracketed in --locale=pseudo.

![togglerenderwhitespace](https://cloud.githubusercontent.com/assets/12900364/13791540/d7c1ab0c-eaaa-11e5-9f12-337846465828.JPG)

[2016-03-15 19:39] vincecoppola commented on #4272
+1

[2016-03-15 19:46] Roustalski commented on #1690
What is this still doing in the backlog? There are more important features? [:

I'm currently using another editor just for the cases when I have to do a mass find-replace for refactoring.

+1

[2016-03-15 19:53] kinolaev commented on #3786
in addition:
1) argument destructuring
2) different jsx highlight in function declarations and arrow functions
3) all grey except statements inside jsx expressions
vscode@master 20160315, typescript@next 20160315
![highlight](https://cloud.githubusercontent.com/assets/1247759/13791969/a50833e2-eb00-11e5-9949-57f39c0028a2.png)

[2016-03-15 19:57] NickHeiner opened #4276 "Command line not working as I'd expect"
- VSCode Version: f291f4ad600767626b24a4b15816b04bee9a3049
- OS Version: Mac OS X 10.10.5 14F1605

## Steps to Reproduce

[code]

1. Start without VS Code open
2. Run `code -v`

### Expected
I see the version of VS Code.

### Actual
VS Code opens a new instance in my current working directory, editing a new file called `-v`.

What am I doing wrong here? I see the same issue for flags like `--versi

[2016-03-15 20:06] paulmillr commented on #3998
@bpasero i'll keep an eye on improving the scalability in chokidar to fit into the release. Let me know if you have a specific test repo (with large folders?) to check the performance.

[2016-03-15 20:09] bpasero commented on #3998
Some good ones are TypeScript (https://github.com/Microsoft/TypeScript) and of course the full Chromium workspace is probably the largest I know: https://chromium.googlesource.com/chromium/src.git

[2016-03-15 20:14] vsccarl opened #4277 "[Localization] Extensions icon hover tooltip not localized"
- VSCode Version: 0.10.12-alpha --locale=fr (or any locale)
- OS Version: Windows 10

Steps to Reproduce:

1. Launch a localized VS Code instance
2. Hover over the extensions icon in the bottom left
3. "Extensions" tooltip is not localized

![extension hover](https://cloud.githubusercontent.com/assets/12900364/13792586/bf4f815c-eaaf-11e5-9c8a-1e2dc2068a37.JPG)

[2016-03-15 20:30] gregvanl commented on #3943
No repro on Ubuntu 14.4

[2016-03-15 20:33] gregvanl commented on #3943
On Ubuntu 14.4, the button shows "Download for Linux x64" with link to "32bit version" below.

[2016-03-15 20:34] paulmillr commented on #3998
Just checked TypeScript, it consumes around 80% of one core for ~2 seconds and then it's back to 0%.

Cloning Chromium.

[2016-03-15 20:35] chuckries commented on #268
+! For notification that update is available.

[2016-03-15 20:37] paulmillr commented on #3998
Although when `useFsEvents` is `false` (non-default option on OSX), the CPU usage becomes terrible.

I'll investigate the new PR in chokidar too.

[2016-03-15 20:42] joaomoreno commented on #268
We did implement update notifications this release, will come with the next version.

[2016-03-15 20:42] #268 closed

[2016-03-15 20:47] SofianHn commented on #4041
I verified with dnf.

[2016-03-15 20:49] bgashler1 commented on #3803
Thanks for everyone's feedback!  It really helped us understand the underlying concerns.

We will be addressing this issue most likely in our April release by introducing our own flavor of `draw_indent_guides`, which will remove the confusion about where an indent is, no matter what tab space size you use.

Since we won't have time to get it in by March, a workaround is to use @anseki's suggestion

[2016-03-15 20:53] rixrix commented on #143
+1

[2016-03-15 21:03] bgashler1 opened #4278 "Implement tab indent guides"
Implement indent rulers similar to what's used in other editors ([see this screenshot](https://github.com/Microsoft/vscode/issues/3803#issuecomment-195682393)).

This should be a setting that is on by default but that can be disabled in settings.json.

Perhaps we can call it `"editor.indentGuides:" true`

Vertical tab rulers should show for each tab level in (also include position 0 within nested

[2016-03-15 21:07] SofianHn opened #4279 "insertSpaceAfterOpeningAndBeforeClosingNonemptyBrackets not behaving correctly"
- VSCode Version: 0.10.12
- OS Version: OSX

 #4022
Steps to Reproduce:

1. add `"typescript.format.insertSpaceAfterOpeningAndBeforeClosingNonemptyBrackets": true` to the workspace settings.
2. open a TS file and copy `if (x) {var x = 1;}`
3. select the line and format
4. expected==Actual => `if (x) { var x = 1; }`
5. change the option to false.
6. format again
7. Actual == `if (x) { var x = 1; }`

[2016-03-15 21:39] v-pavanp opened #4280 "[Localization] Default settings file contents for the intalled extensions are not localized."
- VSCode Version:0.10.12-alpha
- OS Version: WIndows10

Steps to Reproduce:
1. Launch app with any supported locale. >Code-alpha --locale=ko
2. Go to File->Preference->Workspace settings
3. Verify default setting contents.
4. Install any recommended extension by clicking on extension info icon from the status bar. In my case I installed for GO.
5. Once extension is installed successful then click

[2016-03-15 21:54] vsccarl commented on #4031
@aeschli Ah yes, it is most likely an issue with the PHP Code Format extension. I'll open it there.

[2016-03-15 21:55] #4031 closed

[2016-03-15 21:56] vsccarl commented on #4031
Moved to [https://github.com/kasik96/VSCode-PHP-Format/issues/27](url)

[2016-03-15 21:56] v-pavanp opened #4281 "[Localization] Setting.json file usage text (comments) didn't change when user changing the locale."
- VSCode Version:
- OS Version:0.10.12-alpha

Steps to Reproduce:

1. Launch app with any targeted locale from command prompt > code-alpha --locale=ko
2. Navigate to File->Preference->Workspace settings.
3. It will launch both default setting and settings.json file.
4. Verify commented text under both the files and should match with target locale.
5. Close app and re-launch with different local or

[2016-03-15 22:07] joaomoreno commented on #4114
As far as I could tell, nothing is really being leaked. We do keep holding on to memory after the Intellisense widget is closed, but everything gets released as soon as it opens again. You can verify this by running a **Record Heap Allocations** instead of multiple **Heap Snapshots**.

![screen shot 2016-03-15 at 22 58 13](https://cloud.githubusercontent.com/assets/22350/13795536/b58fcdf0-eb01-11e

[2016-03-15 22:08] v-pavanp opened #4282 "[Extension][PS] Unable to re-install PS extension."
- VSCode Version: 0.10.12-alpha
- OS Version:Windows10

Steps to Reproduce:

1. Launch app and install PS extension by clicking on the extension info icon from status bar.
2. Open any folder which contains PS1 file and verify extension work properly.
3. Remove the extension and restart app.
4. Try to add PS extension again by clicking on extension info icon from status bar.
5. Wait till user gets

[2016-03-15 22:41] joaomoreno commented on #4192
I don't think this is a good memory leak test setup. The snippet will endlessly emit output, which gets rendered in a tree. Obviously, the memory will grow.

A better test is to repeatedly start an application that always emits lots of output:

[code]

Testing it this way, just like #4114, you'll find that there is no *big* leak here.

[Heap-20160315T231100.heaptimeline 2.zip](https://github.com/M

[2016-03-15 22:43] pflannery commented on #143
@stylemistake I couldn't launch the terminal on Fedora 23 too so I've now added custom configuration settings for linux in PR #3495.

[2016-03-15 22:52] vsccarl opened #4283 "[Localization] Configure file associations to languagues setting not localized"
- VSCode Version: 0.10.12-alpha --locale=fr (or any locale)
- OS Version: Windows 10

Steps to Reproduce:

1. Launch VS Code from command prompt with --locale=fr
2. Open workspace settings file
3. Scroll to line 123

Actual:
Non-localized setting for Configure file associations
![localizefileassociations](https://cloud.githubusercontent.com/assets/12900364/13796741/a143d760-eac5-11e5-9b16-26b09ad0

[2016-03-15 23:03] waderyan opened #4284 "Node intellisense is not working"
- VSCode Version: 0.10.12-alpha
- OS Version: OS X El Capitan 10.11.1

Steps to Reproduce:

I followed the instructions in this [doc](http://code.visualstudio.com/docs/runtimes/nodejs) and can't get intellisense to work. These are the steps I took.

1. `npm install -g typings`
2. `typings install node express --ambient`
3. Confirmed that the typing files were added
4. Created a `jsconfig.json` fil

[2016-03-15 23:05] Satak opened #4285 "Folding is not working on Powershell functions"
0.10.11- VSCode Version:
windows 8.1 - OS Version:

Steps to Reproduce:

1. create powershell function
2. folding is not working for function if the content is not indented

[2016-03-15 23:06] waderyan commented on #3711
I went with the popular [hackathon starter kit](https://github.com/sahat/hackathon-starter). Some things I saw that may or may not be bugs.

**Linting**
I installed [eslint extension](https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint).

- `no-undef` is not fun. It shows up for all built in functions and variables (ex. `require`, `__dirname`, etc.).

![image](https://cloud.

[2016-03-15 23:13] chuckries commented on #268
Any chance you could point me at a PR?

[2016-03-15 23:26] sleaze commented on #127
+1 to that!

[2016-03-15 23:27] #3803 closed

[2016-03-16 00:15] chrisdias commented on #4248
"Create a jsconfig.json to enable richer IntelliSense and code navigation across the entire workspace."

[2016-03-16 00:24] #3586 closed

[2016-03-16 00:30] SofianHn commented on #3620
@ivansieder why would not you start by creating a user setting file and then automatically copying that in to the user home directory. This should get you most of what you want. We don't have currently any plans to add the ability to read settings from the registry.

[2016-03-16 00:30] #3620 closed

[2016-03-16 00:33] SofianHn commented on #3047
Yes, close as dup

[2016-03-16 00:33] #3047 closed

[2016-03-16 00:33] chrisdias commented on #4254
I am not getting prompted on OSX.
Node version v4.3.1

Create a workspace using `ember new bigApp`
Open `app/app.js`
accept prompt to create `jsconfig.json`
edit `jsconfig.json` to remove folders from `exclude` section
reload window

result -> not prompted to add `exclude` information.

I see this in the console:
[code]

here is my `jsconfig.json`:
[code]

[2016-03-16 00:34] jon64digital commented on #2595
Hi @pantulis

Not sure if we're experiencing the same thing as my other PC at work is hibernated when I experience this at home.

[2016-03-16 00:34] chrisdias commented on #4185
please see my comments in #4254, i am not prompted on OSX either.

[2016-03-16 00:35] #2396 closed

[2016-03-16 00:36] SofianHn commented on #1000
I pinged in the upstream, still waiting

[2016-03-16 00:45] chrisdias commented on #4185
related to #4007

[2016-03-16 00:45] chrisdias commented on #4007
@isidorn done with testing, biggest thing found was #4254, same problem on OSX.

[2016-03-16 00:49] SofianHn opened #4286 "Editing multiple files is increasing the memory footprint indefinitely"
- VSCode Version: 0.10.12
- OS Version: OSX

#4001

Steps to Reproduce:

1. Open VSCode repo.
2. Take an initial snapshot for memory
3. Edit 10 files by adding a simple statement `var x =1`
4. Take a snapshot
5. Repeat 3 & 4 for 5 times.

Memory footprint increased from 55MB to 75MB after editing about 50 files. I am not sure if that's an indication of liner increase of memory by editing more file

[2016-03-16 00:59] fbertin commented on #4222
Hi @joaomoreno! You're right, #4169 helped me to solve the problem! Thanks for your help!

[2016-03-16 01:46] #3711 closed

[2016-03-16 02:22] chrisdias commented on #3728
verified best i could... i did alot of markdown previewing and scrolling... no issues.

[2016-03-16 02:30] chrisdias commented on #3589
react-native extension doesn't load in alpha, see https://github.com/Microsoft/vscode-react-native/issues/155

[2016-03-16 02:41] rebornix commented on #4000
@alexandrudima it's my mistake of mixing soft-tabs and hard-tabs so please ignore it :smile: . Looking forward to your new feature about Tab/Spacing.

[2016-03-16 02:50] Lonefy opened #4287 "[jade] comment line color wrongly colored after new lines"
- VSCode Version: 0.10.11
- OS Version: win10

the color of first comment line seems incorrect,when there are `odd number of empty line` before.
screen shot:
![image](https://cloud.githubusercontent.com/assets/7921431/13800349/77c243ec-eb63-11e5-8e83-9a7254940e4f.png)

![image](https://cloud.githubusercontent.com/assets/7921431/13800477/9a150d84-eb64-11e5-84a3-41e0dd85a3a7.png)

![image](https://c

[2016-03-16 03:20] BryanConradHart commented on #1138
I'm running into this problem too.
Ubuntu 15.10 (inside virtualbox on win10 pro)
VS Code -v 0.10.10

I do _not_ get presented with a credential dialog.
I am able to successfully push from command line.
doing `git config push.default matching `, pushing from commandline and then trying again from vsCode made no difference.

[2016-03-16 03:32] BleyChen opened #4288 "Provide way to copy intellisense description to clipboard"
now i still can't copy description from completion list UI after i installed the latest vscode,anyone know when this feature will be released ?
![copydescription](https://cloud.githubusercontent.com/assets/15098626/13801202/add5b336-eb6a-11e5-9ae1-c2e4fc19721e.png)
#1945

[2016-03-16 04:51] marcelaraujo opened #4289 "Syntax Error => Arrow functions"
- VSCode Version: 0.10.11
- OS Version: Mac OS X 10.10.5

Steps to Reproduce:

1. Create a new javascript file and add this source

[code]
2. IDE show me as syntax error.
<img width="1140" alt="screen shot 2016-03-16 at 1 49 48 am" src="https://cloud.githubusercontent.com/assets/421794/13802334/75c0345e-eb19-11e5-89bd-c74837b1eba8.png">

[2016-03-16 06:04] bpasero commented on #4276
@NickHeiner are you sure you ran the "code" from /usr/local/bin/code? How did you install Code?

[2016-03-16 06:04] bpasero commented on #4281
As designed, the file is being created and saved once.

[2016-03-16 06:04] #4281 closed

[2016-03-16 06:05] bpasero commented on #4286
@SofianHn is this always the same 10 files? Once a file is under working files (e.g. you edit a file), we never dispose it until you clean working files.

[2016-03-16 06:21] SofianHn commented on #4286
No, not the same 10 files which explains it. I think this might be really dangerous. I never use the working files, on a long running multi day session this could lead to a crash. Does the working files has a limit? 10 or 15 per say?

[2016-03-16 06:37] bpasero commented on #4286
200 is the limit.

[2016-03-16 06:47] aeschli commented on #4244
This issue was moved to OmniSharp/omnisharp-vscode#96

[2016-03-16 06:47] #4244 closed

[2016-03-16 06:50] ivansieder commented on #3620
@SofianHn the reason is, that we want the users change it also on their own and that's impossible if we overwrite the file each time they open it.

[2016-03-16 07:52] kennethjfalbous commented on #251
And if you are using xampp, then follow the snippet shared by @boloindia  above and just change the path too: "D:/xampp/php/php.exe"

This will work as I have done it the same way.

[2016-03-16 07:58] jrieken commented on #4253
Yes you have. It's called JSON and uses the language server protocol. Moving to @dbaeumer cos this seems to come from `/Users/jrieken/Code/vscode/extensions/json/server/node_modules/vscode-languageserver/lib/protocol.js`

[2016-03-16 08:02] jrieken commented on #4185
@chrisdias You see a crash because there are too many files. Unless we have a proper tsserver you must be careful to find the right amount of files - more than 500 less than it takes to crash the server

[2016-03-16 08:02] jrieken commented on #4273
The extension can export API to other extensions

[2016-03-16 08:05] egamma opened #4291 "Add link to the documentation in the generated jsconfig.json"
Testing #4007

jsconfig.json is now support comments and we should add a comment with a link to the documentation, as is done for the task.json.

![image](https://cloud.githubusercontent.com/assets/172399/13805564/0bd511da-eb56-11e5-8881-c01fba1586ae.png)

[2016-03-16 08:08] egamma opened #4292 "Promote configure excludes to a message box"
Testing #4007

Currently we show the 'configure excludes' message in the status bar. Since this is an exceptional situation we should promote this to a message that is more in the face of the user.

[2016-03-16 08:09] #4248 closed

[2016-03-16 08:10] jrieken commented on #4256
removed in the `...` with #4248

[2016-03-16 08:13] jrieken commented on #4292
Problem with that is that an accidental ESC will dismiss the message without you knowing what happened. That's my I am in favour of a trigger that you cannot dismiss easily.

[2016-03-16 08:13] jrieken commented on #4291
@egamma I need to know the link?

[2016-03-16 08:17] egamma commented on #4256
Good point but then let's use heuristics and not show just all folders including many files. Only mention the suspects 'temp' and 'tmp' if they are big.

[2016-03-16 08:27] isidorn commented on #4105
That's not the one I was looking for, anyways when verfying this please try the following 4 scenarios:

* watching task that does not produce errors
* watching task - errors
* non watching task - no errors
* non watching task - errors

[2016-03-16 08:34] jrieken commented on #4192
I disagree because the output should be protected against that. From one point on, memory should not grow anymore but usage should become constant (hitting a max output length).

[2016-03-16 08:35] #4001 closed

[2016-03-16 08:37] jrieken commented on #4256
I'd approach it the other way around and not show folders like `src` or `test` and if that results to a case in which I have no folder left to propose exclusion for a generic message will show.

And on the other hand tsserver will generate a similar message which blames the last folder (https://github.com/Microsoft/TypeScript/blob/release-1.8/src/compiler/program.ts#L1117)

[2016-03-16 08:41] egamma commented on #4256
Excluding well known source folders like `src` and `test` works for me.

[2016-03-16 08:44] #4046 closed

[2016-03-16 08:57] GlenPerkins commented on #4086
Alexandru, thank you. As you know, style isn't just esthetics; it can enhance or destroy usability. If I'm momentarily confused about the role of some piece of an overly deep hierarchy, the speed and likelihood of recognition of my error can depend on the salience of the bracket matching highlight: how much it jumps out at me. Many such features can vary from annoyingly distracting to very helpful

[2016-03-16 09:05] joaomoreno opened #4293 "Don't reach the gallery before knowing that the cache is stale"
In order to minimize request cancellations.

[2016-03-16 09:06] Lonefy opened #4294 "JavaScript code formatting extention not working properly"
Before v0.10.10, the formatting extention works well.After the update, `Format Code (Alt+Shift+F)` just add some spaces. :(

[2016-03-16 09:07] pascon commented on #906
@bpasero this is exactly as @weeblr wrote. In vscode UserVoice there are many requests for auto-saving untitled files as it's available in another editors (Notepad++, SublimeText, Atom, etc...) - _without asking for a filename_, for example:

- [Auto save temporary files](https://visualstudio.uservoice.com/forums/293070-visual-studio-code/suggestions/7756146-auto-save-temporary-files)

Is this fea

[2016-03-16 09:08] joaomoreno commented on #4192
But you should only start looking at memory leaks *after* reaching that max output length...

[2016-03-16 09:11] joaomoreno commented on #268
#4024 is a test plan item which mentions this.

[2016-03-16 09:14] joaomoreno commented on #4222
Alright, closing as a duplicate of #4169

[2016-03-16 09:14] #4222 closed

[2016-03-16 09:15] replay111 commented on #1515
Any idea/hint how to use column selection in OSX ? :D
cmd+alt+arrows(u/d) works fine, but I cant figure how to use mouse to select block

[2016-03-16 09:16] joaomoreno commented on #4277
[It is](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/extensions/electron-browser/extensionsWidgets.ts#L95), we just didn't send it to the localization team.

[2016-03-16 09:16] #4277 closed

[2016-03-16 09:17] mehedi101 commented on #3205
I am using windows platform and Homestead ; using these command work for me :

Full steps :

npm install --no-bin-links

gulp

npm rebuild node-sass . -- its fix the issue..

gulp

Now gulp --- working.

[2016-03-16 09:31] #3906 closed

[2016-03-16 09:32] #3926 closed

[2016-03-16 09:32] wembernard commented on #4039
Format code does not work on .scss files.

[2016-03-16 09:35] zeyangl opened #4295 "C# Unity auto complete hints are wrong"
- VSCode Version:  0.10.11
- OS Version: 10.11

Steps to Reproduce:

1. As shown in the following image, the autocompletion hints are wrong. It shows raw xml instead of formatted method information.

![image](https://cloud.githubusercontent.com/assets/1244606/13807673/4aa9819c-eb9d-11e5-83ea-6a810e06f0ce.png)

[2016-03-16 09:52] isidorn commented on #4192
Makes sense, I can definetely add an output limit to the repl - we already have one for the output panel.
I will also handle the listeners in a better way - thanks for finding that

[2016-03-16 10:01] crisward commented on #1515
This is not available yet, next release.

[2016-03-16 10:02] jrieken opened #4296 "ts version indication should not show 'unknown'"
* configure vs code to use a different _tsdk_
* the status bar shows _unknown_ which I believe is a little unhappy. maybe _custom_ is better?

<img width="161" alt="screen shot 2016-03-16 at 11 01 15" src="https://cloud.githubusercontent.com/assets/1794099/13808475/80c00350-eb66-11e5-9497-3665ffe49d56.png">

[2016-03-16 10:09] egamma opened #4297 "Review initialization sequence"
**Cases**
* happens from command line
* happens from context menu
* happens on double click

[2016-03-16 10:10] weinand opened #4298 "OS X: "Open in Terminal" doesn't work for me"
- VSCode 0.10.12-alpha
- OO X 10.11.3

- in the VS Code explorer run the "Open in Terminal" action

Observe: nothing happens

[2016-03-16 10:11] jrieken commented on #4256
excluding `src`, `test`, and `tests` now

[2016-03-16 10:11] #4256 closed

[2016-03-16 10:15] isidorn commented on #4068
Always reload this page before checking off so no checkboxes are lost (due to bad git hub conflict management)

[2016-03-16 10:23] weinand opened #4299 "Consider to not let debug adapters user errors show up in the dev console"
Currently debug adapter user errors are treated like fatal exceptions on the VS Code side and show up in the dev console because "developers should understand what is going on". This does not make a lot of sense for this type errors because no developer needs to know them or is interested in them.

The errors reporting through this mechanism are conceptually equivalent to errors reported by the Ty

[2016-03-16 10:24] weinand commented on #4258
@chrisdias I've created this feature request for you: https://github.com/Microsoft/vscode/issues/4299

[2016-03-16 10:28] alexandrudima commented on #4265
@jsloyer You are doing everything OK from a vscode point of view. However, I have tried your steps and ran into the same problem.

The problem is that the .d.ts file does not match the xregexp node module. When I installed xregexp, I got version 3.1.0. The type definitions you add in xregexp.d.ts are for the 2.0.0. I think the difference from 2.0 to 3.0 for xregexp is in how they export their func

[2016-03-16 10:28] #4265 closed

[2016-03-16 10:28] alexandrudima commented on #2670
It's ok we can keep this one for the clipping

[2016-03-16 10:32] egamma commented on #4292
Accidental dismiss is a problem, agreed. - closing

[2016-03-16 10:32] #4292 closed

[2016-03-16 10:33] egamma commented on #4291
http://go.microsoft.com/fwlink/?LinkId=733559

[2016-03-16 10:35] bpasero commented on #2670
:+1:

[2016-03-16 10:36] bpasero commented on #4283
@vsccarl please test with PSEUDO, those strings are not localized yet.

[2016-03-16 10:36] #4283 closed

[2016-03-16 10:37] bpasero commented on #4263
So you say this folder does not show up in our native file picker?

[2016-03-16 10:40] jrieken opened #4300 "Prevent hidden class mutations"
Based on property assignment V8 creates hidden classes for it's objects. However, doing something like `delete this.aProperty` ruins that hidden class and causing the code to be de-optimized.

Searching for `delete this.\w+;` (as regex) points to @joaomoreno, @bpasero, and @isidorn. Consider replacing such constructs with assigning `null`

[2016-03-16 10:40] jrieken commented on #4300
<img width="319" alt="screen shot 2016-03-16 at 11 40 23" src="https://cloud.githubusercontent.com/assets/1794099/13809618/e4271384-eb6b-11e5-9abc-9e0e5fef4158.png">

[2016-03-16 10:40] alexandrudima commented on #4270
@paultwright Thank you for reporting, this is already fixed in 0.10.10, so please update to the latest release.

[2016-03-16 10:40] #4270 closed

[2016-03-16 10:46] egamma commented on #4291
@jrieken sorry I've decided to create a fresh forward link and to not to reuse an existing. I've updated the commend above with the link.

[2016-03-16 10:47] isidorn commented on #4275
I have it under nls localize [here](https://github.com/edumunoz/vscode/blob/master/src/vs/editor/contrib/indentation/common/indentation.ts#L173)
I guess we do not have newer translations - moving to @dbaeumer

[2016-03-16 10:52] #4000 closed

[2016-03-16 10:52] #4022 closed

[2016-03-16 10:59] alexandrudima commented on #4269
I can confirm it doesn't work on TypeScript due to the context key `suggestionSupportsAcceptOnKey` not being set.

[2016-03-16 11:06] bpasero commented on #4300
I can start

[2016-03-16 11:07] isidorn opened #4301 "Dark+ theme: CSS changes in color"
There are minor changes in the coloring of CSS only in Dark+ theme. Open debugViewlet.css, scroll to the end and notice the difference

Now:

![screen shot 2016-03-16 at 12 05 11](https://cloud.githubusercontent.com/assets/1926584/13810316/89809514-eb6f-11e5-948f-ec66038b31d2.png)

Stable

![screen shot 2016-03-16 at 12 05 18](https://cloud.githubusercontent.com/assets/1926584/13810315/85490274-eb

[2016-03-16 11:08] isidorn commented on #4300
Forwared to me once you are done

[2016-03-16 11:13] massimocode opened #4302 "Syntax Highlighting strange"
- VSCode Version: Version 0.10.11 (0.10.11)
- OS Version: OS X 10.10.5

Steps to Reproduce:

1) Write code as screenshot below

<img width="1280" alt="screen shot 2016-03-16 at 11 12 11" src="https://cloud.githubusercontent.com/assets/3898363/13810500/145a3a76-eb68-11e5-9410-7e1eb4a8edd9.png">

2) Observe strange highlighting on variable names

[2016-03-16 11:16] lordgreg opened #4303 "Auto indentation fails with javascript functions"
- VSCode Version: 0.10.11
- OS Version: OS X 10.11.3

Steps to Reproduce:

1. Write a JS function like this:
[code]
2. press alt+shift+f
3. Result:
[code]
4. The whitespace between `function` and `(Config)` part gets deleted, which leads to our linter crying!
5. Expected result:
[code]

Bug.

[2016-03-16 11:22] leegee opened #4304 "JavaScript `var` and `const` multi-line defintions not coloured."
- VSCode Version: 0.10.11
- OS Version: Microsoft Windows [Version 10.0.10586]

Steps to Reproduce:

Enter the following code in a ECMA/JS file:

[code]

[2016-03-16 11:43] dbaeumer opened #4305 "Provide API to access the locale and ui language"
API is available via vs/base/common/platform

[2016-03-16 11:43] weinand commented on #4267
@laurijsd The attached log shows that this is an error in your launch config. You are passing the string "-Verbose" where an array of strings is expected:

![2016-03-16 12-33-17](https://cloud.githubusercontent.com/assets/1898161/13811046/74bbdc0c-eb73-11e5-9e43-3577aed80d5d.png)

In VS Code this error is actually flagged as a problem:

![2016-03-16 12-37-18](https://cloud.githubusercontent.com/as

[2016-03-16 11:43] #4267 closed

[2016-03-16 11:44] #4305 closed

[2016-03-16 11:48] dbaeumer commented on #4279
Moving to TS. We pass the right option to the tsserver.

[2016-03-16 11:48] dbaeumer commented on #4279
This issue was moved to Microsoft/TypeScript#7540

[2016-03-16 11:48] #4279 closed

[2016-03-16 11:48] isidorn opened #4306 "Green light bulb feels out of style"
Why is the light bulb green and not white like most things in the status bar?
Looks out of style IMHO

ping @bgashler1

![screen shot 2016-03-16 at 12 47 01](https://cloud.githubusercontent.com/assets/1926584/13811299/34c835ee-eb75-11e5-959a-40b695864c9a.png)

![screen shot 2016-03-16 at 12 47 20](https://cloud.githubusercontent.com/assets/1926584/13811311/40c19e08-eb75-11e5-952c-30b50f6794b1.png)

[2016-03-16 11:49] jrieken commented on #4269
There is two problems:

1. this commit introduced a regression in that it turns around the boolean condition (missing `!`) https://github.com/Microsoft/vscode/commit/2461331b4fab7f1c00c213cd3980128541da1bf9
2. we ended up with having the command two times when working on the acceptOnEnter config setting

[2016-03-16 11:51] dbaeumer commented on #4275
We haven't received translation yet for that string. Closing.

[2016-03-16 11:51] #4275 closed

[2016-03-16 11:52] dbaeumer commented on #4296
Agree. I assume you built the tsserver.

[2016-03-16 11:53] dbaeumer commented on #4273
Agree. We already discussed that a while ago but I haven't found time to implement yet.

[2016-03-16 12:07] dbaeumer commented on #4253
The protocol calls a notification handler which causes an exception. The protocol on the lowest level catches the excpetion sends it back to the client which prints it to the console. There is nothing I can do better. The root cause of the exception must be fixed.

The root cause lies in the languge server. I receive an update event for a document that is already closed. The interesting question i

[2016-03-16 12:10] dbaeumer commented on #4253
This issue was moved to Microsoft/vscode-languageserver-node#28

[2016-03-16 12:10] #4253 closed

[2016-03-16 12:11] isidorn opened #4307 "Different cursor when moving over line numbers"
- VSCode Version:
- OS Version: El Capitan

Steps to Reproduce:

1. In vscode I never get the white mouse pointer - always the black one
2. Move over line numbers - notice that the mouse pointer is white only here. This feels a bit out of style, I would prefer it was the black pointer also here. Sorry for no screenshots - not sure how to capture the mouse on the mac

[2016-03-16 12:13] dbaeumer commented on #4253
Published 1.4.1 of the language server.

[2016-03-16 12:14] dbaeumer commented on #4280
@isidorn Please ensure that propert localized. If so feel free to close.

[2016-03-16 13:08] tinganho commented on #4085
@aeschli I'm in version `code@0.10.11 #f291f4ad600767626b24a4b15816b04bee9a3049`

And I'm using `typescript@1.9.0-dev.20160313`.

It seem to only affect tsx files.

[code]

[2016-03-16 13:11] egamma commented on #4306
It needs to get attention and white just doesn't work.

[2016-03-16 13:12] jrieken commented on #4269
@joaomoreno @alexandrudima Despite the fixes above this still happens. The reason seems to be that `suggestWidget#onListSelection` uses a timeout. That gives the triggerOnCharacter command a chance to run (and clear the previous suggest model) such that accept doesn't work

[2016-03-16 13:13] jrieken commented on #4269
the timeout and like breakage happened in https://github.com/Microsoft/vscode/commit/6b495479328cecb3c1d2873b20c58ffb9d49f619

[2016-03-16 13:14] bill-mybiz commented on #3958
I confirm what @xuyungit has said: 0.10.10 (and 0.10.11) works with TS 1.7.5 but not later. This includes both 1.8+ and `typescript@1.9.0-dev.20160128` build listed at [January's Release Notes](https://code.visualstudio.com/updates/vJanuary) under Enabling Salsa. So these do not work. Each time I try to use Intellisense, there is significant lag. The  easiest reproduction steps as I mentioned earl

[2016-03-16 13:15] jrieken commented on #4291
no worries. updated

[2016-03-16 13:16] #4291 closed

[2016-03-16 13:17] jrieken commented on #4296
correct

[2016-03-16 13:17] tht13 commented on #3555
@codyrigney92 Jade preview compatibility has been added and v0.0.3 will be released later this evening :smile:

[2016-03-16 13:17] narf opened #4308 "Unable to debug extension, warning message: "Plugin host did not start in 10 seconds""
- VSCode Version: Work on 0.10.3 problem appear from version 0.10.6 until latest (0.10.11)
- OS Version: ubuntu 14.04 64 bits But tried on another system with same os and it works fine

Steps to Reproduce:
1. Create an hello world typescript extension using yo code
2. npm install
3. Open it in vsCode
4. Press F5
5. Wait 10 seconds
6. Warning message appear: "Plugin host did not start in 10 seconds

[2016-03-16 13:18] egamma commented on #4289
duplicate of #3804

@marcelaraujo the next update will support to disable the built-in JS validation and the recommendation is to use eslint for validation.

[2016-03-16 13:18] #4289 closed

[2016-03-16 13:18] isidorn commented on #4280
This is an issue with the go extension - I have moved this bug there
https://github.com/Microsoft/vscode-go/issues/248

[2016-03-16 13:18] #4280 closed

[2016-03-16 13:19] dbaeumer commented on #4280
Thanks.

[2016-03-16 13:22] dbaeumer commented on #4294
@Lonefy have you installed an extension for JS formatting. If so, please report the bug there. If not I think the problem is the move to Salsa (a different JS engine we use). With 0.10.12 there are settings to control the Salsa based formatter as well.

[2016-03-16 13:22] #4294 closed

[2016-03-16 13:22] kowsheek opened #4309 "Make addSelectionToNextFindMatch (ctrl+d) case-sensitive"
- VSCode Version: 0.10.11-insider
- OS Version: Windows 10 Pro Insider Preview

Steps to Reproduce:

1. Press ctrl+d on a word, it will select all words that match regardless of case

Expected:

Pressing ctrl+d on a word should select words that match with case-sensitivity

Reason:

It's annoying af sometimes.

[2016-03-16 13:25] dbaeumer commented on #4162
I added the API to vs/base/common/platform

However I am not convinced that we should pass in the ui language we chose to this call. I for example have my system configured to use English with German date formatting. If we would pass in the locale/language I would see an English date format in that case.

@egamma I am closing this and opt to not tweak this by passing in the locale/language.

[2016-03-16 13:25] egamma commented on #4284
Cannot reproduce

![image](https://cloud.githubusercontent.com/assets/172399/13813626/d81eaf4a-eb82-11e5-9df5-b4636f297f62.png)

Can you try whether 'Reload JavaScript' help?

[2016-03-16 13:25] dbaeumer commented on #4268
Agree.

[2016-03-16 13:26] isidorn commented on #4306
I think we should tackle all these non-white colors in the status bar in the future. There must be something which looks nice and draws attention as well.
Assigning to backlog and @bgashler1

[2016-03-16 13:28] #4268 closed

[2016-03-16 13:31] marcelaraujo commented on #4289
Thanks.

[2016-03-16 13:33] egamma commented on #4232
If the same setup works on a local folder, then this looks like the node issue described here https://github.com/Microsoft/vscode/issues/3860#issuecomment-194963793

[2016-03-16 13:36] weinand opened #4310 "tab-space-heuristics cannot figure out correct tab size if indentation level is 4 spaces but a tab is 8 spaces"
(This is not a bug but just a funny use case from the past where tabs where fixed at 8 spaces and if you wanted to use an indentation size of 4 the editor would either insert 4 spaces for one level or a tab for two levels).

I have lots of (old) C/C++ file that use an indentation of 4 spaces but use a tab for every 8 spaces. So spaces and tabs are mixed everywhere. The heuristics guesses the tab s

[2016-03-16 13:43] #4249 closed

[2016-03-16 13:44] jrieken commented on #4249
I picked what Chris proposed for the message

[2016-03-16 13:45] isidorn commented on #4239
@bpasero in this particular case I do not get called from the workbench. It would be great if the workbench could notify me via the broadcast mechanism the [same way](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/electron-browser/debugService.ts#L142) it does when the user reloads the other window.

Could we add something like this?

[2016-03-16 13:46] jrieken commented on #3153
maybe related to #4269

[2016-03-16 13:47] jrieken commented on #2767
should be good with Salsa that we ship since Feb

[2016-03-16 13:47] #2767 closed

[2016-03-16 13:48] jrieken commented on #2708
We now ship Salsa as default and things should be good now

[2016-03-16 13:48] #2708 closed

[2016-03-16 13:48] jrieken commented on #2628
related #4201

[2016-03-16 13:49] jrieken commented on #2466
We now ship with Salsa enabled by default.

[2016-03-16 13:49] #2466 closed

[2016-03-16 13:49] egamma commented on #4219
Auto detection detects `build` or `test` tasks. The grunt file above only registers a 'default` task.

Verified that the grungtfile below, detects the `test` task
[code]

gruntfile.js

[code]

[2016-03-16 13:50] jrieken opened #4311 "Remove rewriting and project resolver code"
There is a lot of stuff in JS/TS which we don't need anymore

[2016-03-16 13:50] jrieken commented on #2391
closing by my previous comment

[2016-03-16 13:50] #2391 closed

[2016-03-16 13:51] jrieken commented on #2351
On the provider we can add another (optional) function like `provideLabel(uri:Uri):string`

[2016-03-16 13:53] #2275 closed

[2016-03-16 13:53] #2261 closed

[2016-03-16 13:53] jrieken commented on #2261
We now use Salsa for this

[2016-03-16 13:54] stkb commented on #4304
Filed at Microsoft/TypeScript-TmLanguage#121

[2016-03-16 13:54] jrieken commented on #2189
As we now ship with project Salsa this should work

[2016-03-16 13:54] #2189 closed

[2016-03-16 13:54] jrieken commented on #2168
As we now ship with project Salsa this should work

[2016-03-16 13:54] #2168 closed

[2016-03-16 13:55] jrieken commented on #1590
As we now ship with project Salsa this should work.

[2016-03-16 13:55] #1590 closed

[2016-03-16 13:55] jrieken commented on #1466
As we now ship with project Salsa this should work.

[2016-03-16 13:55] #1466 closed

[2016-03-16 13:56] jrieken commented on #629
As we now ship with project Salsa this should work.

[2016-03-16 13:56] #629 closed

[2016-03-16 13:56] jrieken commented on #474
As we now ship with project Salsa this should work.

[2016-03-16 13:56] #474 closed

[2016-03-16 14:03] aeschli commented on #4301
#4191 made that change. It will stay for now.

[2016-03-16 14:03] #4301 closed

[2016-03-16 14:06] weinand opened #4312 "trying to type a tab character over a sequence of spaces results in unexpected behaviour"
If I want to align the two comments in the following snippet, I would select the spaces between the ';' and '/' and replace them with one or more tabs. In VS Code this results in an unexpected behaviour: the whole lines are indented by one tab instead of replacing the selected spaces with a tab.

[code]

[2016-03-16 14:08] #4304 closed

[2016-03-16 14:10] stkb opened #4313 "Document edits from an extension and the Undo stack"
- VSCode Version: 0.10.11, 10.10 & 10.8
- OS Version: Win 8.1

Steps to Reproduce:

1. In a document, type some text.
2. Invoke a command from an extension that makes an edit to the document. (With `TextEditor.edit()`)
3. Press ctrl+z to undo

Would expect steps 1 & 2 to produce separate entries in the undo stack: the edit from (2) to be undone, and the text edit in (1) only with a further undo.
H

[2016-03-16 14:10] dbaeumer commented on #4037
This is fixed for 0.10.12

[2016-03-16 14:10] #4037 closed

[2016-03-16 14:12] #3815 closed

[2016-03-16 14:12] #3931 closed

[2016-03-16 14:14] aeschli commented on #4302
duplicate of https://github.com/Microsoft/TypeScript-TmLanguage/issues/96

[2016-03-16 14:14] #4302 closed

[2016-03-16 14:14] dbaeumer commented on #4246
Moving to TS. They own the formatter settings for Salsa which we now use.

[2016-03-16 14:14] dbaeumer commented on #4246
This issue was moved to Microsoft/TypeScript#7543

[2016-03-16 14:14] #4246 closed

[2016-03-16 14:16] isidorn commented on #4027
@chuckries nice catch and a good investigation - thanks! Also when you figure out everything on your own like now feel free to submit a PR.

[2016-03-16 14:17] dbaeumer commented on #4207
@RANUX you need to have both collection.ts and meteor.d.ts. Sorry for not being precise about this earlier. If you have only meteor.d.ts in the files section and you open collection.ts the collection.ts will open in its own virtual project not knowing anything about meteor.d.ts. That is why you don't get intellisense in that case.

Pls ping if adding both files to the files section doesn't fix the

[2016-03-16 14:20] dbaeumer commented on #4303
VSCode 0.10.12 will offer a setting for this:
[code]

[2016-03-16 14:20] #4303 closed

[2016-03-16 14:24] egamma commented on #3842
@AdamAndersonFalafelSoftware

My setup is a folder with a single .js file, no jsconfig.json

works for me:

![image](https://cloud.githubusercontent.com/assets/172399/13815130/a5d4f1aa-eb89-11e5-8f69-1ca294cb4f34.png)

works for me:

![image](https://cloud.githubusercontent.com/assets/172399/13815187/de1a7a76-eb89-11e5-8486-96a17889a7c4.png)

This is the full source

[code]

[2016-03-16 14:24] aeschli commented on #663
added for the March release with ee9e74c

[2016-03-16 14:24] #663 closed

[2016-03-16 14:27] cs04riva commented on #4039
This is a standard CSS file.

[2016-03-16 14:27] jrieken commented on #4295
This issue was moved to OmniSharp/omnisharp-vscode#97

[2016-03-16 14:27] #4295 closed

[2016-03-16 14:28] egamma commented on #3842
@LittleBrainz

I've tried the following source

[code]

And I get proper IntelliSense, parameter hints, hovering. What am I missing?

[2016-03-16 14:29] jrieken commented on #4274
@joelday You mean `InstantiationService` and the decoration mechanism?

[2016-03-16 14:33] aeschli commented on #4287
Reproduced with snippet
[code]

[2016-03-16 14:33] #4016 closed

[2016-03-16 14:34] isidorn opened #4314 "View state of in-memory editors not preserved"
Steps to Reproduce:
1. Start debugging session
2. Click on same stack frame from an internal module - an in-memory editor is opened
3. Ctrl-tab, Ctrl-tab you are back in the in-memory editor, but the view state is not preserved the cursor is at the beginning of the file

[2016-03-16 14:34] joaomoreno commented on #4269
Oh, the missing `!`! Ugh, sorry about that.

The `setTimeout` was just a leftover. I made a change that enables me to simply remove it. :+1:

@jrieken can you see whether the `acceptSelectedSuggestion` now works?

[2016-03-16 14:35] AdamAndersonFalafelSoftware commented on #3842
@egamma I can effortlessly reproduce my results in a single .js file all alone in a folder with no jsconfig.json. Is there anything I can do to help you reproduce my results? Are there any configuration options I need to check in my environment? Perhaps this is an artifact of upgrading from an earlier version of VSCode. Is it possible that somehow I'm not even using Salsa even though it's supposed

[2016-03-16 14:36] bpasero commented on #4239
@isidorn we could but I am not sure about doing this for GA, I do not think running an extension without debugger attached is a real scenario with many users, is it?

[2016-03-16 14:37] GregWoods commented on #2708
Generally, when a bug is reported, it is reproduced, fixed, then tested. It appears that none of these steps have occurred here. It is easy enough to reproduce, and if you can't, I can work with you to help you.
Still a defect as of 0.10.11
See original post for details of this bug in action

[2016-03-16 14:37] bpasero commented on #4314
To investigate.

[2016-03-16 14:38] bpasero commented on #4016
Looked into this with Joao and it turns out that every call to Tree.setInput() would not clean up templates for rows created from the previous run. Specifically the cleanupFn is not being called which actually is the one to dispose the action bar used on each row.

[2016-03-16 14:39] isidorn commented on #4239
@bpasero I agree this is not GA. I think @weinand agrees, Andre let us know

[2016-03-16 14:41] bmdixon opened #4315 "URL encoding causes link to not work when ctrl + click"
- VSCode Version: 0.10.11
- OS Version: Windows 10 Version 1511

Steps to Reproduce:

1. Type a URL containing symbols e.g. `http://a-test-site.com/#test=true`
2. Ctrl + Click this URL
3. URL gets encoded into `http://a-test-site.com/#test%3Dtrue` when opened in a browser

[2016-03-16 14:41] egamma commented on #4078
:+1: on separate .ts and .js setup.

[2016-03-16 14:42] dbaeumer commented on #4041
Finish testing. Closing.

[2016-03-16 14:42] #4041 closed

[2016-03-16 14:43] jrieken commented on #4269
works

[2016-03-16 14:43] #4269 closed

[2016-03-16 14:43] weinand commented on #4239
I agree. It's just for completeness... moved to backlog

[2016-03-16 14:44] joaomoreno commented on #4107
I cannot reproduce not being able to install the extension. Works nicely here.

The lack of notification is as designed, until we remove it from the quick open widget.

[2016-03-16 14:44] #4107 closed

[2016-03-16 14:44] #4293 closed

[2016-03-16 14:45] #4296 closed

[2016-03-16 14:45] isidorn commented on #4239
Assigning to @bpasero, once you start broadcasting something give the bug back to me so I do the right thing

[2016-03-16 14:45] lordgreg commented on #4303
@dbaeumer isn't that something that VSCode should find out from linterfiles? So for example if we have eslint enabled and the option ` "space-before-function-paren": [2, "always"]` exists, the auto-indent shouldn't delete the space?

[2016-03-16 14:47] aeschli commented on #4287
This issue was moved to davidrios/jade-tmbundle#74

[2016-03-16 14:48] AdamAndersonFalafelSoftware commented on #3842
@egamma Perhaps this has something to do with it? I just noticed all these errors after opening my user settings. Pretty sure they didn't appear before then.

![image](https://cloud.githubusercontent.com/assets/2729807/13816381/886417b0-eb64-11e5-86bd-794c4fa352de.png)

[2016-03-16 14:49] Lonefy commented on #4294
@dbaeumer actully, I wrote this extension by using `registerDocumentFormattingEditProvider('javascript', {})`. And I don't change my code ,so I just suppose that vscode will use the default format method first.

[2016-03-16 14:49] aeschli commented on #4285
That's a known limitation of the currently implemented folding strategy which is based purely on the indentation of lines. A folding region starts when a line has a smaller indent than one or more following lines, and ends when there is a line with the same or smaller indent.

To be more smart and to, for example, understand functions, we will have to go one step further and introduce language agn

[2016-03-16 14:49] #4285 closed

[2016-03-16 14:51] raregrass opened #4316 "Typescript errors remain when running in watch mode"
- VSCode Version: 0.10.11
- OS Version: win 10

Steps to Reproduce:

1. I run a react project with webpack and watching mode typescript
2. typescript number is 1.8.7, the latest version.
3. I changed the tsdk to my own typescript lib.

I find some errors generated by editor still remain even when I fixed those errors and i think this issue is same as #909.

I changed my tasks.json file to follow t

[2016-03-16 14:51] nfloersch commented on #3422
I'm probably way out of my depth here...

User-controlled folding - with "regions" - seems fairly straight-forward to define. The editor needs to only be language aware enough to know how each language shows comments. Then if a comment starts with "region" or "endregion" such as...

#region  ... #endregion
//region ... //endregion
/*region*/ ... /*endregion*/
'region ... 'endregion
---region ... -

[2016-03-16 14:52] #4216 closed

[2016-03-16 14:52] egamma commented on #3842
@AdamAndersonFalafelSoftware The screenshot from you above shows that you are using Salsa. Did you anything with the `typescript.tsdk` setting? It could be that the tsdk points to an older version of Salsa/TypeScript.

I've also tested on 0.10.11 and I cannot reproduce it.

The screenshot above looks like a duplicate of #3766 and I don't think it is related.

[2016-03-16 14:52] aeschli commented on #4272
See to be fixed in the March release.
I tried with this sample:
[code]

[2016-03-16 14:52] #4272 closed

[2016-03-16 14:53] dbaeumer commented on #4120
@joaomoreno I move this to you. The problem is the missing i18n folders in the app bundle for electron.

[2016-03-16 14:53] dbaeumer commented on #2081
Guess what :-)

[2016-03-16 14:54] ArtemGovorov opened #4317 "editor.setDecorations doesn't update the hover message"
- VSCode Version: 0.10.11
- OS Version: OSX 10.10.5

Steps to Reproduce:

- Create a simple plugin doing nothing but updating the same line decoration in a interval:
[code]
- Observe the decoration hover message not being changed, even when the line content is changing (only deleting the line seems to update the message):

![v](https://cloud.githubusercontent.com/assets/979966/13816576/a1b37136-eb

[2016-03-16 14:57] weinand commented on #3166
@chanpod do you have a minimal repro that I can debug?

[2016-03-16 14:58] egamma commented on #3936
@tstringer correct, this is as designed. Salsa doesn't automatically pick up .d.ts files.

In almost all the cases a `jsconfig.json` is the right thing to do.  We need to document the difference between a js project without a jsconfig.json and one that has a jsconfig.json. I've create https://github.com/Microsoft/vscode-docs/issues/233 to track this.

[2016-03-16 15:00] joaomoreno commented on #4120
This is fixed already.

[2016-03-16 15:00] #4120 closed

[2016-03-16 15:01] joaomoreno commented on #4120
Make sure you get the latest `node_modules`.

[2016-03-16 15:05] dbaeumer commented on #4196
The dialog looks 'bad' without any description due to the amount of white space.

![capture](https://cloud.githubusercontent.com/assets/1931590/13817029/e747ce8a-eb90-11e5-8de0-1a9da50c788c.png)

[2016-03-16 15:06] dbaeumer commented on #4196
With the Jake argument I am pretty sure we need to remove MSBuild as well :-). So I actually propose to leave Jake and MSBuild in.

[2016-03-16 15:07] dbaeumer commented on #4196
I also opt to have two TypeScript one for tsconfig and one for watch for discoverability.

[2016-03-16 15:07] AdamAndersonFalafelSoftware commented on #3842
@egamma I wonder if my TypeScript config is correct. Here are my default settings. Is the tsdk supposed to be null?

![image](https://cloud.githubusercontent.com/assets/2729807/13816610/6c5e2a28-eb65-11e5-9051-07f2e80fd6ef.png)

I just re-tested a few things and got some of the results you did, but not all.

Intellisense for Person appends the @constructor directive to the description:
![image](ht

[2016-03-16 15:07] leonderijke opened #4318 "[html] Typing "<something.hidden" in an HTML file will hide the entered text"
Typing "<something.hidden" in an HTML file will hide the entered text. I was very surprised to see this happening, while coding a TYPO3 Fluid template in VS Code. I reduced it to the reproducable steps below.

- VSCode Version: 0.10.11
- OS Version: OSX El Capitan 10.11.3

Steps to Reproduce:

1. Create an HTML file
2. Type `<foo.hidden`
3. Watch `foo.hidden` disappear

[2016-03-16 15:08] tstringer commented on #3936
@egamma Perfect! Thanks! I'll go ahead and update my blog post so it doesn't mislead readers into thinking it is "broken" or a "bug".

[2016-03-16 15:16] nfloersch commented on #1749
Ideally we would not be restricted... I've enjoyed UltraEdit on Windows allowing me to position the editing panels in whatever split configuration I need... maybe 3 stacked on left, 1 tall panel on the right, or a 2x2 grid, or 1 wide panel across top with 2 half-wide panels on bottom.

Also, going from MDI to SDI layout to support putting panels on different screens seems like a nice addition. I'm

[2016-03-16 15:17] nfloersch commented on #465
Related to #1749

[2016-03-16 15:25] RANUX commented on #4207
@dbaeumer thank you! Now intellisense works fine. But i think, it's not obvious behavior and it should be documented somewhere, maybe in FAQ.

[2016-03-16 15:26] cherchyk opened #4319 "collapse"
- VSCode Version: 0.10.11
- OS Version: W7

Steps to Reproduce:

When I click on minus sign in tine 785 then instead of collapsing from 785 to 787 or from 785 to 788 it collapse from 785 to 791.  Lines  789-791 should not be collapsed.

![image](https://cloud.githubusercontent.com/assets/1703275/13817685/81a5a90c-eb69-11e5-88bc-7f5b7b9eeec4.png)

[2016-03-16 15:28] dbaeumer commented on #4196
Here is what I have right now:
![capture](https://cloud.githubusercontent.com/assets/1931590/13817832/fb3fc2a0-eb93-11e5-8f15-7d734d1f240f.png)

If you feel strong about further changes please comment here or got directly to https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/tasks/common/taskTemplates.ts and make the necessary changes.

[2016-03-16 15:29] dbaeumer commented on #4189
Removed the two suggested templates.

[2016-03-16 15:29] #4189 closed

[2016-03-16 15:31] stevencl opened #4320 "Intellisense parameter help popup reappears after dismissing it"
- VSCode Version: 0.10.12
- OS Version: Windows 10

Steps to Reproduce:
In the following code, toDoListItem is an array.

    $scope.AddItem = function (data) {
        $scope.toDoListItem.push

When I write the code to push new items on to the array I get the intellisense parameter help. I press Esc to dismiss the tooltip and fill in the rest of the code to add elements to the array. I pass in a

[2016-03-16 15:31] chrisdias commented on #4196
The descriptions do not add any value except in the TypeScript differentiation, which I again suggest we remove and update the docs with various scenarios. The same argument (discoverability) could be made for gulp watch tasks too.  Also, without descriptions it matches the launch.json creation experience for debugging.

The number of .sln workspaces which are therefore MSBuild based projects is i

[2016-03-16 15:32] isidorn opened #4321 "Review if Behavior.TextFocus is really needed for EditorAction"
https://github.com/Microsoft/vscode/blob/master/src/vs/editor/common/editorActionEnablement.ts#L11

[2016-03-16 15:33] #4122 closed

[2016-03-16 15:34] isidorn commented on #4122
@gregvanl this was the bug you also found - it shoud be fixed now!

[2016-03-16 15:35] chrisdias commented on #4196
i'll make a PR.

[2016-03-16 15:38] bpasero commented on #465
Looks like #1749 has a bit more discussion.

[2016-03-16 15:38] #465 closed

[2016-03-16 15:39] #4002 closed

[2016-03-16 15:44] chuckries commented on #4027
Excellent! Has the behavior changes regarding a debug adapter providing a stack frame with a null Source field?

[2016-03-16 15:45] stevencl commented on #4100
One of the things that we have tried to do is to design the experience so that the user can stay focused on their code as much as possible and does not need to look elsewhere for information about the code that they are reading. Hence we use the peek widget liberally to show definitions, references, errors etc in context, right inside the editor. So my initial reaction is that putting information

[2016-03-16 15:48] isidorn commented on #4027
Yes, if the top stack frame has a `null` `Source` field we will focus the first stack frame with a proper `Source` field.

[2016-03-16 15:49] #4071 closed

[2016-03-16 15:49] joaomoreno commented on #4071
Thanks for the help @alexandrudima!

[2016-03-16 15:50] #4007 closed

[2016-03-16 15:53] #4300 closed

[2016-03-16 15:55] hamiltonia opened #4324 "Single quote in JSX breaks vscode code formatting"
- VSCode Version: 0.10.11
- OS Version: Win 7, Mac OS 10.11.3

Steps to Reproduce:

If there is a single quote inside JSX, code formatting does not work for the entire file. Furthermore, if such a file is opened and tried code formatting, it breaks for all other files until a vscode restart.

Sample:

[code]

First reported by @taypo: https://github.com/Microsoft/vscode-react-native/issues/156

[2016-03-16 15:56] joaomoreno commented on #3755
I am embarrassed to ask... but how can I create one of those directories symbolic links?

[2016-03-16 15:58] gpbl commented on #4100
I was looking for the same but then I agree with @stevencl, pressing F8 is a much better solution.

[2016-03-16 16:07] joelday commented on #4274
Yup!

[2016-03-16 16:08] NickHeiner commented on #4276
Yes. When I run `which code`, it shows `/usr/local/bin/code`.

I used whatever the instructions were on https://code.visualstudio.com/ when it first launched.

[2016-03-16 16:08] leegee commented on #2150
It's a poor choice for all the reasons above, and because it is boring. It shows no imagination - which might be what is expected of MS, but really is not fair on the product, its developers, or its users.

Also, a new name, without ref to Visual Studio would allow the product to reach those prejudiced against MS, lure them in: they'd be hooked to the great fixtures, and then the brand can reveal

[2016-03-16 16:09] cherchyk opened #4325 "Starting VS Code got slower"
- VSCode Version: 0.10.11
- OS Version: w7

is it just me?
I found VSC very slow after previous update

[2016-03-16 16:09] #4087 closed

[2016-03-16 16:10] leegee opened #4326 "Page Up / Page Down in Debug Console"
- VSCode Version: 0.10.11
- OS Version: Microsoft Windows [Version 10.0.10586]

Steps to Reproduce:

Try using page up, page down in the debug console, and instead waste time and patience using using cursor keys or mouse :)

[2016-03-16 16:12] joelday commented on #4273
@dbaeumer excellent to hear! I assume this has additional interop/remoting challenges? I don't know much about how the language servers work.

[2016-03-16 16:13] isidorn commented on #4308
What version of node do you have? Do you have the same version on the system where it works and where it does not work.
For starters, giving to @weinand

[2016-03-16 16:15] aeschli commented on #4261
fixed by 4b36383

[2016-03-16 16:15] #4261 closed

[2016-03-16 16:17] aeschli commented on #4260
What you see is what's expected. The currently implemented folding strategy is based purely on the indentation of lines. A folding region starts when a line has a smaller indent than one or more following lines, and ends when there is a line with the same or smaller indent.

To be more smart and to, for example, understand tags, we will have to go one step further and introduce language agnostic f

[2016-03-16 16:17] #4260 closed

[2016-03-16 16:19] weinand opened #4327 ""Attach" debug to a non existing port results in timeout but doesn't end debug session"
VSCode 0.10.12-alpha

- create "attach" launch config and start it (without having anything serving the debug port 5858)

Observe: a timeout error occurs but the debug session doesn't end.

[2016-03-16 16:20] nathan-walker commented on #3166
@chanpod Have you tried updating your Node.js installation to the latest version?  I was experiencing the same issue on v5.4.1 and an update to v5.8.0 just fixed it for me.

[2016-03-16 16:26] narf commented on #4308
Yes, I was using nvm and tried different version of node. I tried with the same version as the one where it worked and even with the same version it was still not working on my machine.

[2016-03-16 16:27] stkb commented on #3755
In an elevated command prompt run `mklink /D link target` for a directory symlink or `mklink /J link target` for a directory junction.

Running just `mklink` will give you all the options. Lemme know if you want any more info.

[2016-03-16 16:31] #4327 closed

[2016-03-16 16:39] joaomoreno commented on #4051
I can't repro this. Do you wanna give it a try, @bpasero?

[2016-03-16 16:46] jbeckton commented on #4298
Same issue on Linux as well. "Open new Terminal" does not work either

[2016-03-16 16:54] bpasero commented on #4276
@joaomoreno can you advise

[2016-03-16 16:55] bpasero commented on #4051
@joaomoreno suggest to close this then and let me verify.

[2016-03-16 16:58] stkb commented on #3755
You're probably already there but I guess I'll mention that I think the problem is [src/vs/base/node/pfs.ts L58-L65]
(https://github.com/Microsoft/vscode/blob/44bd2d14ea0bc5c7e009411d136e21056d1678d9/src/vs/base/node/pfs.ts#L58-L65)
[code]

It looks like the code is using isDirectory() to determine whether it's a real folder or link. That'll work on *nix but not on Windows, where a directory link

[2016-03-16 16:59] Tyriar commented on #2150
Closing, see https://github.com/Microsoft/vscode/issues/2722

[2016-03-16 16:59] #2150 closed

[2016-03-16 17:02] Tyriar commented on #4041
Sorry about no response guys, I've been completely offline for the last 2 days. `apt-get` is a Debian thing, you should use `yum` to test (I thought I changed it from `apt-get` to `yum` when copying the .deb test over).

[2016-03-16 17:03] JVimes opened #4328 "One scanner flags installer with malware on VirusTotal.com"
Gotta be a false-positive, but wanted to make devs aware. Scan results: [release](https://www.virustotal.com/en/file/43f310e049d33b4707b55270e8f935c09203d6fdcaa8ea4e2b5145f899a2d443/analysis/), [insiders](https://www.virustotal.com/en/file/aaad3c7e4e14d7b39ae5d032d82e9010e82b56da446f4b79932a96660ce5e748/analysis/)

- VSCode Version: 0.10.10, 0.10.10-insider
- OS Version: Windows 10

Steps to Repro

[2016-03-16 17:05] chuckries commented on #4027
I understand that, but I discovered a secondary issue while investigating this that `StackFrame`'s are never created with `null` `Source` fields. [Here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/common/debugModel.ts#L650) you can see that if a `null` `Source` is provided by the debug adapter, the `StackFrame` will be created with a default Source object that has

[2016-03-16 17:06] bpasero commented on #1439
@alexandrudima I pushed the change to avoid getValue() but I am leaving it up to you to change something about StopWatch

[2016-03-16 17:06] bpasero commented on #4325
@cherchyk what specifically feels slower?

[2016-03-16 17:07] #3994 closed

[2016-03-16 17:08] bpasero commented on #4286
This goes into a similar direction of what I discussed with @alexandrudima at some point that it would be nice to dehydrate models so that they consume less memory. I think one idea was to persist the undo cache somehow so that we can still restore that.

I am closing this one because I do not think we grow unlimited, our limit is just at 200.

[2016-03-16 17:08] #4286 closed

[2016-03-16 17:09] jcward commented on #110
Yes, it's not the same as paste -- the dual clipboard thing is often irritating, but at least standard on Linux. I use it all the time.

I'd assume it's a high-level X-windows function. Something high-level in the code must be blocking it for the editor portions of the window. Because it works to middle-click paste into this pop-up text input:

![image](https://cloud.githubusercontent.com/assets/2

[2016-03-16 17:13] alexandrudima commented on #4309
@kowsheek Try `Alt+C`. This toggles case sensitivity of the find widget **and** for the `ctrl+d`:

[2016-03-16 17:13] #4309 closed

[2016-03-16 17:14] alexandrudima commented on #4309
There is also `Alt+W` for whole words

[2016-03-16 17:14] codyrigney92 commented on #3555
@tht13 Thanks!

[2016-03-16 17:22] mindcool commented on #2686
I got exactly the same problem wants to open same project twice on different instances. This limitation make no sense and limiting development speed. This editor should act just like an editor

[2016-03-16 17:22] v-pavanp opened #4329 "[CSS] provide color picker"
- VSCode Version:
- OS Version:

Steps to Reproduce:
1.  Launch app and Open any CSS file
2. Try to add some color property to any css class
3. Press # to get color options.

Actual:
1. It is displaying only few color options.
2. When user insert some value with #code (like : #00) and then intellisense is not guiding.
![image](https://cloud.githubusercontent.com/assets/17735796/13821703/ecd9b15a-e

[2016-03-16 17:23] alexandrudima commented on #4310
Indeed:
[code]

The current strategy wants to find a tabSize that minimizes differences, which it kinda succeeds at :).

I think it could be further improved by starting to look at the content. It would be cool for it to understand that lines ending in `{` should have a smaller indent than the following line, etc.

[2016-03-16 17:23] #4310 closed

[2016-03-16 17:23] vsccarl commented on #4283
@bpasero I saw before that in PSEUDO mode, bracketed and double vowel strings should be translated.
Here it is in PSEDUO:
![configfileassocpseudo](https://cloud.githubusercontent.com/assets/12900364/13821965/1f4c7ed2-eb61-11e5-8571-7f7b8a252433.JPG)

[2016-03-16 17:26] bpasero commented on #4051
@v-pavanp we can both not reproduce, maybe you try again with our latest. when you see processes hanging, please attach the information about the process here. would be interesting which process is the one that survives.

[2016-03-16 17:26] #4051 closed

[2016-03-16 17:33] bpasero commented on #4123
@jrieken did you get anything more concrete out of the heap snapshot than those basic types here?

![image](https://cloud.githubusercontent.com/assets/900690/13822365/a1b22680-eba5-11e5-9edc-d05bc3aae489.png)

[2016-03-16 17:34] chuckries commented on #4027
I can confirm that even with this change I am not seeing the current stack frame get set correctly because my debug adapter returns a null Source for the stackframe and code is creating non null default source object. I am having trouble debugging code with code however using current master.

[2016-03-16 17:35] #4257 closed

[2016-03-16 17:39] EthraZa opened #4330 "[js] No color to variables not in the same line as var"
- VSCode Version: 0.10.11
- OS Version: Ubuntu 14.04
- Theme: Dark+ (dark default)

Steps to Reproduce:

1. Create file test.js
2. Add code to test.js
[code]
The a and b variables get colored (light blue on this theme), the c and d variables get no color (white on this theme).

Also, whe you use the variable it get no special color, but I'm not sure if this is intended. I would prefer it colored a

[2016-03-16 17:39] kowsheek commented on #4309
Thanks! `Alt+C` works but would be nice if this was more discover-able.

[2016-03-16 17:40] chuckries commented on #4027
Can this be reopened or should I file another issue?

[2016-03-16 17:44] chrisdias commented on #4185
@jrieken when should i expect to get prompted to configure excludes then?

[2016-03-16 17:52] egamma commented on #3880
@contreras-jorgev
Sorry, I wasn't clear Salsa fully supports node module resolution and it is more robust than it was before. Commonjs is the default module type, but I still recommend that you create a jsconfig.json, then you can easily leverage .d.ts files to get Intellisense for existing node modules. Pls see https://code.visualstudio.com/docs/runtimes/nodejs.

[2016-03-16 17:52] Tyriar commented on #3943
[Midori](http://midori-browser.org/), "a browser for linux and windows" identifies [itself as a macintosh running OSX](https://www.raspberrypi.org/forums/viewtopic.php?f=63&t=71898)... Oh how [I hate the state of user agents](http://www.growingwiththeweb.com/2014/04/get-your-nose-out-of-my-user-agent.html).

[code]

@gregvanl you can catch this by checking the UA for `Midori/\d+\.\d+`, though you

[2016-03-16 17:54] waderyan commented on #4284
Hmm... I tried `Reload Javascript` but didn't work.

I tried installing `typings install lodash --ambient`. Same issue.

![image](https://cloud.githubusercontent.com/assets/2449568/13823026/2f6e5674-eb65-11e5-82b6-5ab7e474502d.png)

[2016-03-16 17:54] daviwil commented on #3994
Awesome, thanks a lot for making that change Alex!  It seems like this behavior should come automatically with no extra work on my side, correct?

[2016-03-16 17:55] Tyriar commented on #4278
Duplicate of https://github.com/Microsoft/vscode/issues/2192

[2016-03-16 17:55] #4278 closed

[2016-03-16 17:57] Tyriar commented on #4077
This is coming in the upcoming release along with deb and rpm package files. If you're interested the file used is https://github.com/Microsoft/vscode/blob/master/resources/linux/code.desktop

[2016-03-16 17:57] #4077 closed

[2016-03-16 17:58] bgashler1 commented on #2192
This will address #3803, where users have had trouble seeing where the left edge of the code editor is and where subsequent tabs are (especially with smaller tab sizes).

[2016-03-16 18:02] Tyriar commented on #4179
My experience with both Unity dash and the gnome dash is that it takes some time to pick up new installations. I'll double check on my instance by removing, reinstalling and restarting if it doesn't show up.

[2016-03-16 18:18] isidorn commented on #4027
@chuckries good catch, I will fix this tomorrow.

[2016-03-16 18:18] egamma commented on #4284
Could it by that your tsdk setting points to an older version of TypeScript?

[2016-03-16 18:21] chuckries commented on #4027
any time before next release is fine, but tomorrow is great! thanks!

[2016-03-16 18:25] waderyan commented on #4284
Not sure. I'm on 1.9.

[code]

[2016-03-16 18:29] SofianHn commented on #3620
@egamma, maybe [this](https://github.com/Microsoft/vscode/issues/3620#issuecomment-197183559) is a scenario that we want consider in the future.

[2016-03-16 18:32] mohsen1 commented on #4325
For me, startup is slow. Even if I have an instance of Code open, opening another instance takes a good 5 seconds. I'm on a MacBook Air

[2016-03-16 18:35] egamma commented on #3620
//+ @chrisdias

[2016-03-16 18:37] mrange commented on #1515
Tried the insiders code today. While I do think the column selection behavior is a major improvement over previous behavior IMHO the lack of virtual space is limiting the use. Will look if there's an issue for this.

[2016-03-16 18:39] bpasero commented on #4325
@mohsen1 is F1 > Reload Window also slow? because if yes, we could do some profiling.

[2016-03-16 18:40] bgashler1 commented on #4100
Discoverability of keyboard shortcuts is a problem potentially here and certainly elsewhere.  I favor @stevencl approach of helping users discover these shortcuts in the context of where they could be relevant, and applying this to other areas of the product.  This is an experience we should design that could help users improve their productivity and ease of use throughout the product.

@anseki, I

[2016-03-16 18:41] egamma commented on #4284
Can you check whether you have tsdk  defined in your user settings. This was required to enable Salsa in January.

Notice the commandline tsc version has nothing to do with this. Code ships with a version of tsc.

[2016-03-16 18:48] egamma commented on #4324
@dbaeumer is this our edit infrastructure or the TS formatter?

[2016-03-16 18:51] LittleBrainz commented on #3842
@egamma

[code]

Intellisense with a function declaration (upper1)...
![fd completion](https://cloud.githubusercontent.com/assets/5047398/13824703/193ed274-eba7-11e5-9280-4025f6200803.PNG)
And hover...
![fd hover](https://cloud.githubusercontent.com/assets/5047398/13824714/21e2a75c-eba7-11e5-9057-7bcaa24a2b15.PNG)

Intellisense with a function expression (upper2 & upper3)...
![fe completion](https

[2016-03-16 18:55] Tyriar commented on #4179
Reproduced the issue. I have a feeling only packages installed via the application installer GUI through the official repo show up in the list, similar to how launchpad only lets you use some features when installing through the GUI. It's definitely installed (`yum list installed | grep code-alpha`) and can be uninstalled through the command line without issue so I'll close this off (`yum remove c

[2016-03-16 18:55] #4179 closed

[2016-03-16 18:57] bgashler1 opened #4331 "Add just-in-time tips to discover keyboard shortcuts and other techniques in context"
VS Code has several keybindings to speed up or enhance workflow that users are unaware of.

Since it's not practical to memorize all keybindings upfront.  I believe users will benefit from just-in-time suggestions based off what they're doing in context.  (e.g. if a user is inserting the same characters repeatedly on multiple lines, we could suggest the keybinding to create multi-cursors.)

This c

[2016-03-16 18:57] bgashler1 commented on #4331
This will also help solve #4100

[2016-03-16 18:57] mohsen1 commented on #4325
Yes, it's slow when reloading as well. From CLI, opening the shell takes another 2~3 seconds on top of this

Screen capture
https://gfycat.com/NeighboringGloomyDassie

[2016-03-16 18:58] bgashler1 commented on #4331
pinging @stevencl for feedback.

[2016-03-16 18:59] v-pavanp opened #4332 "Linter message is hiding under the debug action control."
- VSCode Version: Windows10
- OS Version: 0.10.12-alpha

Steps to Reproduce:
1. Launch app and start debugging.
2. While debugging verify if any warning message displaying at the top of the line in any file or try to edit a file to generate error in code.
2. Hover over on the highlighted line to get linter message.

Actual:
1. When hover-over on the highlighted line then the linter message is disp

[2016-03-16 19:00] Tyriar commented on #4187
@jrieken I've seen the bad quality issue before but for a different reason. Considering it only happened one time I would assume Firefox was playing with the download file at that point which is why it couldn't access it or something. Seems to me more like either an OS or Firefox-level issue so closing.

[2016-03-16 19:00] #4187 closed

[2016-03-16 19:04] qfdk opened #4333 "When i update to the latest version intellisense doesn't download *.d.ts"
- VSCode Version: 0.10.11
- OS Version: MAC OS10.11.4

Steps to Reproduce:
1. create `jsconfig.json`
2. typer`__dirname` in `server.js`

It can't download the `node.d.ts`, but in version 0.10.9 it works.
Can your team re-add this function in the latest version ?
![20150921203749](https://cloud.githubusercontent.com/assets/2404478/13825452/f1b5960a-ebb2-11e5-8f64-996a8edd14c0.jpg)

We don't want to

[2016-03-16 19:09] Tyriar commented on #4126
@bpasero yes, the zip doesn't contain the launcher. I'm wondering whether we should even ship the zip at all anymore since the deb and rpm files are just archives, including everything in the zip plus more. See https://github.com/Microsoft/vscode-website/issues/73#issuecomment-195578442

[2016-03-16 19:09] #4126 closed

[2016-03-16 19:09] joaomoreno commented on #4051
[Process Hacker](http://processhacker.sourceforge.net/) will provide many more details than the default Windows process explorer. I suggest to use that to figure out what those processes are and how they were launched.

[2016-03-16 19:10] joaomoreno commented on #4328
cc @chrisdias

[2016-03-16 19:13] joaomoreno commented on #4276
@NickHeiner, you probably pasted that code in, since we recommended to do it. Can you undo what you did in the instructions on https://code.visualstudio.com? This will make it work.

We should warn users about this.

[2016-03-16 19:17] bpasero commented on #4126
@Tyriar well we also ship the zip for windows for those people that really want to have just the app (e.g. also for portable usecases), so I think we should not offer the zip as primary download on the web site but as alternative. @chrisdias fyi

[2016-03-16 19:21] bpasero commented on #4325
@mohsen1 can you open dev tools (Help > Toggle Developer Tools), click on the Profiles tab, click on the "Start" button, run the "Reload Window Action" and then press stop and then "Save" on the left hand side and attach the file (as zip is fine) here?

[2016-03-16 19:28] bpasero commented on #508
Our latest insiders build is out and I would appreciate if people could give it a try on this issue: https://code.visualstudio.com/insiders

[2016-03-16 19:32] gwynjudd commented on #508
@bpasero I still had the previous insiders build, can I just run that and do "check for updates", or do I have to update the build from the link you gave?

[2016-03-16 19:34] mohsen1 commented on #4325
[CPU-20160316T123357.cpuprofile.zip](https://github.com/Microsoft/vscode/files/176742/CPU-20160316T123357.cpuprofile.zip)

[2016-03-16 19:35] nojvek commented on #508
Will try and get back to you. To be honest I am seeing less of the VSCode
crashes nowadays. Atleast it doesn't crash everyday.

I can make it crash by openening a huge file with million plus lines
minified js and scrolling up and down repeatedly.  But I know what is
pushing the limits of editor.

Whatever you have been adding as magic sauce is working for me.

On Wed, Mar 16, 2016 at 12:29 PM, Ben

[2016-03-16 19:37] bpasero commented on #508
@gwynjudd you should be able to update if the VS Code logo shows up as green logo:

![image](https://cloud.githubusercontent.com/assets/900690/13826262/dc696f34-ebb6-11e5-8c61-c83c63f4b38b.png)

[2016-03-16 19:38] bpasero commented on #508
@nojvek yes that is pushing the limits a bit. for the march release we did explicit memory testing to find areas where we can improve. the insiders build includes some of those fixes (not all, we did some changes yesterday and today that are not yet in). so just curious if it makes any difference for people that see this...

[2016-03-16 19:38] NickHeiner commented on #4276
I actually don't know how to remove this. It's not in any of my files like `~/.bash_profile`. I tried the "Shell Command: Uninstall 'code' command in PATH" command, but that just made `which code` return nothing. `type code` still returns the same result.

[2016-03-16 19:38] gwynjudd commented on #508
@bpasero thanks I've done that and I'll let you know how it goes

[2016-03-16 19:41] gwynjudd opened #4334 "Cannot create jsconfig.json file"
- VSCode Version: March insiders build
- OS Version: Windows 8

Steps to Reproduce:

1. Opened a .js file in the new build and clicked on the "lightbulb" button in the taskbar

![image](https://cloud.githubusercontent.com/assets/314188/13826339/c4b8de50-ec1b-11e5-9651-bfa1d30ac6df.png)

![image](https://cloud.githubusercontent.com/assets/314188/13826342/cb2c4cfe-ec1b-11e5-81f3-8b8aa850f7da.png)

2

[2016-03-16 19:44] groksrc commented on #1515
I'm having some trouble getting it to work at all on OSX or Ubuntu 15.04 VM. I have tried several things. I quit Spectacle to make sure nothing was hijacking my keystrokes. I also tried it reinstalling it: Version 0.10.12-insider (0.10.12-insider). Do I need to set up keybindings for it in keybindings.json?

[2016-03-16 19:46] bpasero commented on #4325
@mohsen1 any extensions installed? does it reproduce with starting from the command line with "--disable-extensions"?

[2016-03-16 19:50] mmgreiner commented on #4015
I did comment the function code () ... , but I'm still getting this question every time?

[2016-03-16 19:50] cherchyk commented on #4325
moving cursor up and down is slow for me.

[2016-03-16 19:53] Spown commented on #1689
just wanted to add that [TWIG pack](/Bajdzis/vscode-twig-pack) is basically what I needed. It's syntax is consistent with Nunjucks and it has emmet and proper HTML handling

[2016-03-16 19:58] mohsen1 commented on #4325
I have a couple of extensions

![Uploading Screen Shot 2016-03-16 at 12.54.29 PM.png…]()

Can't try without extensions since my `code` alias does not accept an argument...

[2016-03-16 19:59] dbaeumer commented on #4196
As said we will loose auto detection of Jake if we remove it. And I doubt that the .sln workspace all use task :-). I also agree that the description doesn't add a lot of value but it makes the dialog look nicer. Why do we have to optimize for the number of entries in the list. I have for example an request to add an entry for npm as well. And if we allow extension to contribute to it we don't hav

[2016-03-16 20:01] dbaeumer commented on #4324
Salsa formatter. Moving.

[2016-03-16 20:02] dbaeumer commented on #4324
This issue was moved to Microsoft/TypeScript#7548

[2016-03-16 20:02] #4324 closed

[2016-03-16 20:08] codyrigney92 commented on #2923
@mathiasdose
I made an extension for require auto-complete to accomplish this until it's added to Salsa. https://marketplace.visualstudio.com/items?itemName=sensourceinc.require-complete

[2016-03-16 20:08] chmllr opened #4335 "Format Code doesn't work for an unsaved buffer"
- VSCode Version: 0.10.11
- OS Version: Windows 7

Steps to Reproduce:

- Open a new buffer (Ctrl+N)
- Set the language mode to JavaScript (Ctrl-K M)
- Type some code with wrong indentation, e.g.
[code]
- Try to format the code (Alt+Shift+F)

__What happens__: Nothing.
__What is expected to happen__: Code should be formatted.

I tried to fix this bug, but realized that it might be a design issue:

[2016-03-16 20:32] v-pavanp commented on #3999
No, it was on my physical machine. This issue is intermittent so keep it low priority.

[2016-03-16 20:35] joaomoreno commented on #4015
With #4169 we started detecting that you may have commented it out and wouldn't pester you about it, but that will only come next release, unfortunately.

You'll have to remove the line for now.

[2016-03-16 20:38] joaomoreno commented on #4276
This is odd. `~/.bash_profile`, `~/.bashrc`, `~/.zshrc`... it's in none of those?

Which shell are you using? You can figure it out by running `echo $0`.

[2016-03-16 20:38] #4139 closed

[2016-03-16 20:39] Spown commented on #4045
how about making it consistent with task's ``"showOutput"`` setting? ``"always"/"never"/"silent"`` but ``"DEBUG"/"REPL"/"ALL"/"NONE"`` for ``"externalConsole"``? IDK how backward compatible it would be however. Depends on weather ``"externalConsole"`` expects strictly Boolean or just ``!=false``. But anyway I find it also annoyng that if I'm asking for external console I still get internal also.

[2016-03-16 20:43] joaomoreno commented on #3755
Thanks!

[2016-03-16 20:43] #3231 closed

[2016-03-16 20:47] #3329 closed

[2016-03-16 20:48] SofianHn commented on #3326
@aeschli I still think the best behavior here is to merge. I will assign this to you, please let me know if you disagree.

[2016-03-16 20:49] chanpod commented on #3166
I'm was on Node Version 4.3
I'm upgrading to 5.8 now to see if it will work.

The config is working as expect now. Seems one of the previous updates fixed it (or it was just some strange isolated intermittent issue) But it is still silently crashing b/c of the mongoose module. Which, as stated before, works fine with a normal npm start.

Will update in a bit.

[2016-03-16 20:55] Tyriar commented on #3091
@Reanmachine totally agree, the customizable mouse shortcuts is captured in this issue https://github.com/Microsoft/vscode/issues/3130.

[2016-03-16 20:57] chanpod commented on #3166
It seems using Node Version 5.8 I no longer have the issue. The debugger launches and runs as expected and I'm able to successfully use break points and what not.

@weinand If you want to see the mess that is my side project,
https://github.com/chanpod/bossCollection

I didn't test Node V4.4 and Node still has that as a recommended version. I'll test it when I get home to see if I still experience

[2016-03-16 20:57] pcgeek86 opened #4336 "The high contrast theme has a serif font for the Output window"
- VSCode Version: 0.10.11
- OS Version: OS X El Capitan

Steps to Reproduce:

1. Enable `High Contrast` color theme
2. Invoke the Output window

<img width="143" alt="screen shot 2016-03-16 at 2 57 00 pm" src="https://cloud.githubusercontent.com/assets/466713/13828503/74e0f2bc-eb87-11e5-8d2a-e84a6d231cbe.png">
<img width="154" alt="screen shot 2016-03-16 at 2 55 31 pm" src="https://cloud.githubuse

[2016-03-16 20:58] v-pavanp commented on #4062
I didn't change my system default setting. I recently upgraded to Windows10 so I think it is with the default system setting. After your response, I tried by changing system display setting for "ClearType Text Tuner" as below but didn't see any difference.
![image](https://cloud.githubusercontent.com/assets/17735796/13828480/fac1ca22-eb7e-11e5-8aef-5cb798898e9b.png)

[2016-03-16 21:01] bpasero commented on #4325
It should...

[2016-03-16 21:03] pcgeek86 commented on #1888
@alexandrudima @joaomoreno can you please remove the "*needs more info*" label from this issue? Thanks

[2016-03-16 21:04] Tyriar commented on #3355
@mrmckeb afaik this is just exploratory and we're not committing to anything yet. The main concern of most people seems to be wasted effort in building out this when it's not adding any new real functionality, just an alternate UX. It could also potentially be more confusing have two different editors for the same thing.

Extensions are another beast which would probably need to be handled quite d

[2016-03-16 21:04] chrisdias commented on #4196
At the end of the day what I want to do is help customers be successful while keeping the product consistent and streamlined.  I'm making a couple of assertions to achieve this goal.

First, we have clear data that indicates jake usage is extremely low. So low in fact that the presence of Jake in the list only adds what I will call "noise" to the list. It doesn't help the vast majority of people b

[2016-03-16 21:08] Tyriar commented on #55
@bpasero could a `find` for `(term)*` be run in parallel and those result(s) shown while the fuzzy search is happening to speed up an ideal search?

[2016-03-16 21:16] Monax111 commented on #251
I spent 20 minutes on this error)
I copied the way from explorer  :
"D:\xampp\php\php.exe"
But the right way is:
"D:/xampp/php/php.exe"

[2016-03-16 21:17] Tyriar commented on #3567
@bpasero Would introducing the new way, deprecating the old way and notifying known consumers not be a better route? Otherwise this is technical debt as there is an arg that has inconsistent usage others like `--locale`.

[2016-03-16 21:17] weinand commented on #3166
@chanpod thanks for verifying your project with a newer version of node. Yes, some versions of node have obscure issues with debugging. Whenever you see a problem, it is always a good idea to try an older or a newer version.

Does the crashing b/c of the mongoose module still occurs for your github project and node 5.8? If yes, I would like to investigate it.

[2016-03-16 21:27] pcgeek86 commented on #4336
Same thing for the "Tweet us your feedback" option.

<img width="477" alt="screen shot 2016-03-16 at 3 27 11 pm" src="https://cloud.githubusercontent.com/assets/466713/13829253/a460eb9c-eb8b-11e5-8929-1f131c77275f.png">

[2016-03-16 21:27] mohsen1 commented on #4325
It's the same speed. I used this command:

[code]

I use fish. I am too lazy to fix the alias to pass flags to actual executable...

[2016-03-16 21:30] egamma commented on #3804
FYI the insiders build with the above change is out now https://code.visualstudio.com/blogs/2016/02/01/introducing_insiders_build

[2016-03-16 21:34] vsccarl opened #4337 "Should be able to search for extensions by creator"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Press F1
2. Type ext install
3. Type Microsoft.

Actual:
Brings up two non-Microsoft produced extensions.

Expected:
Be able to search by creator (e.g. Microsoft).

[2016-03-16 21:40] gregg-miskelly opened #4338 "Debug Console should support find"
- VSCode Version: 0.10.10
- OS Version: Ubuntu 14.04

This goes along with a few other debug console feature requests that I see (ex: #3974), but it would also be nice if find worked in the debug console.

Steps to reproduce:
1. Start debugging something, have the console be full of text
2. Hit Ctrl-F to find

Result: Find works in the editor window instead of the debug console

[2016-03-16 21:50] bgashler1 commented on #2352
I created a pull request, because I felt the change could risk introducing some unexpected side-effect.  Please verify and merge if it looks good.  If not, please feel free to reopen.

[2016-03-16 21:54] Tyriar commented on #4159
Note the only reason I removed `detached: true` was to prevent the cli from terminating. It looks like that's now handled by the `exit` variable.

[2016-03-16 21:54] chrisdias commented on #2352
@bgashler1 attach an image?

[2016-03-16 21:59] Tyriar commented on #4140
Looks good :+1:

[2016-03-16 22:08] pflannery commented on #3355
@mrmckeb I wonder if a prototype of @bgashler1's example could be started now by using a similar technique as @egamma pointed out to @drywolf https://github.com/Microsoft/vscode/issues/3011#issuecomment-195823705

Then later on down the line it could be migrated to a json viewer extension if and when it becomes available (i.e. like the current markdown viewer).

[2016-03-16 22:12] waderyan commented on #4284
After removing `"typescript.tsdk"` from my settings this was resolved.

[2016-03-16 22:12] #4284 closed

[2016-03-16 23:00] ChrisMiami commented on #1133
I just saw this linked from the 'Add tabs' issue, and wanted to comment because I just added this very idea to the UserVoice.  If you treat the open files as a stack so that closing the latest brings you back to where you were in the previous file, then that'd be awesome (and expected) default behavior.

[2016-03-16 23:03] ChrisMiami commented on #224
Maybe if you draw boxes around the filenames in the Working Files list, people will see that it's functionally equivalent to left-sided tabs... :-)

[2016-03-16 23:10] bgashler1 commented on #2352
@chrisdias
![focus on editor new](https://cloud.githubusercontent.com/assets/11839736/13831530/8d9c3bc2-eb91-11e5-8146-30fb6474f955.gif)

[2016-03-16 23:12] bgashler1 commented on #2352
And here are the hc-black and light themes.
![screen shot 2016-03-16 at 4 11 58 pm](https://cloud.githubusercontent.com/assets/11839736/13831557/d3b49ffa-eb91-11e5-9368-c3aec180992d.png)

![screen shot 2016-03-16 at 4 11 11 pm](https://cloud.githubusercontent.com/assets/11839736/13831548/bf46d2cc-eb91-11e5-92af-1230fa6c75fc.png)

[2016-03-16 23:22] vsccarl opened #4341 "[Node.js] Browser does not launch and missing set breakpoint"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10

Steps to Reproduce:
Following #3960 test tour
1. Create Azure Node.js Express (JavaScript) Project
2. Set a breakpoint in app.js at the line (or app.ts):
`var app = express()`
•Set a breakpoint in routes\index.js (or routes\index.ts) at the line that begins with:
`res.render('index'`
3. F5 or start debugging

Actual:
1. Does not launch the

[2016-03-16 23:29] kfranqueiro commented on #224
@ChrisMiami: except [it's not](https://github.com/Microsoft/vscode/issues/224#issuecomment-166931316).

[2016-03-16 23:39] jasonyueyang commented on #4280
@isidorn: Does this issue apply to all extensions or is it specific to the Go extension?

[2016-03-16 23:43] anyong opened #4342 "Syntax coloring in JSX changes when a destructured object preceding it in the same file is spread over more than one line."
- VSCode Version: 0.10.12-insider
- OS Version: Win10

Steps to Reproduce:

1. Set file type to JavaScript React
2. Try this one:

[code]

Then add a comma after the a:

[code]

If you play around with the number of variables and commas, the highlighting on the JSX component will change drastically from one color scheme to another.

[2016-03-16 23:57] v-pavanp opened #4343 "[Debugging] Error message should match with the configuration property to help user to understand problem better."
- VSCode Version: 0.10.12-alpha
- OS Version: Windows10

Steps to Reproduce:
1. Launch app and open a folder which contains file for node project.
2. Select the Node debugger so that it will generate launch.json with default setting.
3. Verify settings and update if needed.
4. Update path under program property and provide folder path instead of .js  file.
 like : "program": "${workspaceRoot}/app/

[2016-03-17 00:04] bgashler1 commented on #3769
@bpasero I'm not able to get focus onto these buttons, even in the "Tab moves focus" mode. Perhaps we need to create an issue on this?

However, I did add styling rules for them.  I manually pinned the focus using Developer Tools.

<img width="517" alt="screen shot 2016-03-16 at 4 59 38 pm" src="https://cloud.githubusercontent.com/assets/11839736/13832397/20c17406-eb99-11e5-84c2-1b1cd2cc52fb.png">

[2016-03-17 00:12] chrisdias commented on #3769
assigning to @bpasero for the focus issue.

[2016-03-17 01:08] glennblock commented on #224
LOL

On Thu, Mar 17, 2016 at 4:59 AM Kenneth G. Franqueiro <
notifications@github.com> wrote:

[2016-03-17 01:12] sahas- opened #4344 "Extension host crashes over night"
- VSCode Version:0.10.11
- OS Version:Mac 10.11.3

Steps to Reproduce:

1. Left vscode over night
2. Code --> Preferences --> Color Theme

<img width="753" alt="screen shot 2016-03-16 at 8 10 03 pm" src="https://cloud.githubusercontent.com/assets/10361685/13833352/25892762-ebb3-11e5-8e5d-db34bee10b10.png">

This error does go away after restarting vscode once.

[2016-03-17 01:28] stasku opened #4345 "Text selection bug in PowerShell editor for Edge browser"
- VSCode Version: Unknown (whatever is used by extensions in Azure Portal at https://portal.azure.com)
- OS Version: Windows 10 Enterprise build 14257.rs1_release.160131-1800/

Originally reported by customers of Azure Automation extension of Azure Portal here: https://feedback.azure.com/forums/246290/suggestions/12296892

Steps to Reproduce (as stated by customers):

(User 1)
When editing a runbo

[2016-03-17 02:27] alefragnani commented on #4035
Hi @alexandrudima , do you know if something has changed prior to 0.10.11 about it?

I had an extension [Copy Word in Cursor](https://marketplace.visualstudio.com/items?itemName=alefragnani.copy-word) that is meant to replace the `Copy` and `Cut` commands when  there is no selection. It automatically selects the word where the cursor is, and copies/cuts to the clipboard, but I just noted that it i

[2016-03-17 02:36] pflannery commented on #3641
Here's something from Douglas Crockford on using comments in JSON config files - https://plus.google.com/+DouglasCrockfordEsq/posts/RK8qyGVaGSr

Myself I prefer something like yaml or cson for configuration which allow comments and no need for the extra chaff i.e. comma's, braces etc..makes it much more human friendlier to read.

[2016-03-17 03:18] kanitw opened #4346 "Conflicting default key binding"
- VSCode Version: 0.10.11
- OS Version: Mac OSX

Steps to Reproduce:

1.   Code > Preference > Keyboard Shortcut
2.  Search for  `"shift+alt+left"`  and `"shift+alt+right"`

You'll find two occurences of them:

[code]

[code]

The latter group overrides the former.   However, IMHO, `cursorWordLeftSelect` is the right one because that's Mac's default behavior which works in every application.  It's

[2016-03-17 04:36] v-pavanp opened #4347 "[C#] Intellisense for the common operations are not user friendly (or irrelevant) and not displaying in correct order."
- VSCode Version: 0.10.12-alpha
- OS Version: Windows10

Steps to Reproduce:

1. Launch app and open any folder which contains C# files.
2. Open any .cs file and verify all the recommended extensions are installed to get intellisense.
3. Try to add some code for File IO operation without adding any namespace for IO operation. Like:
  public GlobalIntakeToolTokenCache(string userId)
        {

[2016-03-17 04:39] TrailHacker commented on #3600
Important ones for me are as follows:

* basic commands need to work (`yyp` `ddp` `p` vs. `P` `cc` `C` etc...)
* quick edits are crucial (`ci"` `di"` `vi"` `va"` `ciw` `daw` `cit` `dit` `ct]` `cf<char>` `de` ...)
* marks need to work (`ma` / `'a` and `mA` / `'A`)
* command line mode (`:%s/find/replace/g` and `:sp` `:w` `:wq` `e filename` etc...)
* macros (`qa<do stuff here>q`, then `22@a`)
* :+1:

[2016-03-17 04:41] bgashler1 commented on #3769
The style change is in PR #4339

[2016-03-17 05:03] v-pavanp opened #4348 "[Node] Debugger is constructing invalid path when providing non-existing file or folder name in the launch.json"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows10

Steps to Reproduce:
1. Launch app and open any folder which contains node project.
2. Configure node debugger for opened folder.
3. Open launch.json and set the program property with non-existing file or folder.
4. Debug the project and verify error message.
Actual: The path in the error message contains both backward slash and forward slash

[2016-03-17 06:09] bpasero commented on #3567
I am not so worried bout this as long as a user can find how to use this feature with "--help".

[2016-03-17 06:10] bpasero commented on #3567
And we would also loose a feature we have now: you can open multiple files with their line/col information.

[2016-03-17 06:14] bpasero commented on #55
@Tyriar in my experiments using `find` or any other external process did not yield significant speed improvement over what we do now. the reason is that we do quite some heavy pattern matching and other things with the result before it even reaches the user. The better fix is to keep the list of paths in memory once you ran the search once and reuse that information.

[2016-03-17 06:16] bpasero commented on #4325
Can you guys please double check that the speed is indeed faster with the previous release: https://github.com/Microsoft/vscode/wiki/Previous-Releases

Also attach the profile for the previous release?

[2016-03-17 06:20] bpasero commented on #4344
@sahas- so you cannot reproduce if you do Code > Preferences > Color Theme after you restarted?

[2016-03-17 06:25] anseki commented on #4100
At least, [SublimeLinter](http://www.sublimelinter.com/) and [Linter](https://atom.io/packages/linter) (not Atom-Lint) show error messages in the status bar (or the bottom of the window) by default.
And IntelliJ and some editors also do by default (if I remember correctly).

Anyway, I was inured to editors that show error messages in the status bar. But, now, I understand that approach of VS Code

[2016-03-17 06:31] #4336 closed

[2016-03-17 06:41] bpasero commented on #2352
@bgashler1 thanks!

@chrisdias @stevencl @bgashler1 honestly I am not a big fan of adding a blue box around the editor with focus. i am also not sure if it helps a user or adds more confusion if you end up with something like this:

![image](https://cloud.githubusercontent.com/assets/900690/13838363/a7b3c552-ec13-11e5-8dfc-870097a25e0a.png)

Given this is a sensitive change with impact, moving to

[2016-03-17 06:45] isidorn commented on #4280
@jasonyueyang well all extensions need to be externalizied, while this issue is specific for the go extensions, since that extension contributes these settings

[2016-03-17 06:52] bpasero commented on #3769
@bgashler1 that is weird, I can press the "Tab" key and eventually reach the message bar.

I like the color for the button in dark theme, however in light theme I cannot see the focus indication. I suggest we come up with a new color here, maybe towards orange even?

[2016-03-17 06:52] bpasero commented on #3769
(try it out on the "Open Folder" button in the explorer when you have no folder opened)

[2016-03-17 07:06] aeschli commented on #2564
This got fixed for the March release. The default themes are now also defined as a TM theme. There are no longer any default css rules for tokenization that apply to all (except a default background color and the whitespace color)

[2016-03-17 07:06] #2564 closed

[2016-03-17 07:07] bpasero commented on #4325
@cherchyk @mohsen1 got a better idea, can you do this for Code 0.10.8 and latest:
* reboot your machine to have a fresh start
* go into the folder where code.exe lives
* run `code.exe -p`
* in the window type `Ctrl+Shift+P` and pick `Developer: Startup Performance`
* attach a screen shot of the numbers showing (see below for example)

![image](https://cloud.githubusercontent.com/assets/900690/1383

[2016-03-17 07:12] joaomoreno commented on #4062
This is very strange. Your Start menu appears to be nicely aliased.

Is Chrome also like that?

If you download an [Electron](https://github.com/atom/electron/releases) build, is it like that too? How about [Atom](https://github.com/atom/atom/releases)?

[2016-03-17 07:13] aeschli commented on #4347
This issue was moved to OmniSharp/omnisharp-vscode#99

[2016-03-17 07:13] #4347 closed

[2016-03-17 07:18] bpasero commented on #3999
@jrieken can you point me to what the C# extension does when you click on the status bar? I don't think it would do something with the explorer because it is an extension?

[2016-03-17 07:20] alexandrudima commented on #4345
Dup of #2802

We have fixed this and have a new editor version with the fix. Details at https://opentools.azurewebsites.net/

[2016-03-17 07:20] #4345 closed

[2016-03-17 07:20] aeschli commented on #4330
duplicate of https://github.com/Microsoft/TypeScript-TmLanguage/issues/121

[2016-03-17 07:20] #4330 closed

[2016-03-17 07:21] bpasero commented on #4344
To me this rather looks like the extension host crashing over night and the first action after the night was triggering the crash.

@sahas- would be interesting to know for which workspace this happened and what kind of extensions you had installed?

[2016-03-17 07:28] bpasero commented on #4123
See attached heap allocations over time, picking a span between multiple refreshes, I do not see information about leaks:

![untitled](https://cloud.githubusercontent.com/assets/900690/13839289/321c4790-ec1a-11e5-89a0-521f3123f12d.gif)

[2016-03-17 07:28] #4123 closed

[2016-03-17 07:29] alexandrudima commented on #1439
I have removed the usage of performance.now() from the tokenization. I think there are still some good optimization opportunities in this case, such as:
- stream the contents of the file (this would help in all cases)
- detect specifically the content appended case (such as log files that get content added at the bottom) and don't create a new view model, but translate the diff into a model edit.

[2016-03-17 07:32] alexandrudima commented on #4315
The string is good right before using URI.parse in links.ts around line 342

[2016-03-17 07:34] robcaldecott commented on #3804
Great, `javascript.validate.enable` now works, so goodbye red squiggles in my stage-1 ES7 code. Unfortunately this also stops the ESLint plugin from working. Was this expected?

[2016-03-17 07:35] bpasero commented on #4010
Similar as #4123 running heap allocations I am not seeing concrete objects on our end leaking:

![image](https://cloud.githubusercontent.com/assets/900690/13839408/1d39ae16-ec1b-11e5-802e-43595f533339.png)

The Object, WinJS and Array things are pending delayers from the git world because a file event triggers a git refresh.

[2016-03-17 07:36] bpasero commented on #1439
@alexandrudima yes +1 for post GA :)

[2016-03-17 07:37] bpasero commented on #1439
@alexandrudima interesting thought about the model append case, I wonder if the setValueIfChanged() method could be smart about the RawText that I insert: it could detect the append case and do a model edit that would even preserve the undo history.

I wonder how common the append case is in real life work though...

[2016-03-17 07:40] qfdk commented on #4333
1 use tsd install node.js
2 code.
3 create a jsconfig with VSC

the lintellisense will work after reloading the VSC. The user experience isn't as good as the version 0.10.9

[2016-03-17 07:40] bpasero commented on #4346
I do not see this conflict on master so I guess it was being taken care of already.

[2016-03-17 07:40] #4346 closed

[2016-03-17 07:41] alexandrudima commented on #1515
@groksrc I could not find anymore free keybindings on Linux by default, so on Linux, you'd need to bind them in your `keybindings.json`. E.g.:

[code]

[2016-03-17 07:53] joaomoreno commented on #3464
Moving to April since it reproduces very rarely.

[2016-03-17 07:55] #4121 closed

[2016-03-17 08:02] kumarharsh commented on #3804
The linter seems to be working, but all the errors are being shown as: `Parsing error: unexpected token (null)`

[2016-03-17 08:10] alexandrudima commented on #4317
Thank you, nice find!

[2016-03-17 08:11] tinganho opened #4349 "Matched quote/paren/brace/bracket deletion"
I kind of expect if I delete the first character of the following pairs:
[code]
It will delete the end character too. Given that the cursor is between the pairs and no characters are between the pairs.

[2016-03-17 08:14] egamma commented on #4333
Improving the support for fetching .d.ts files is on the backlog, but will not be in the March update, sorry.

[2016-03-17 08:15] #4317 closed

[2016-03-17 08:20] jrieken commented on #4185
when you have more than 500 files but (less than it takes to crash the server OR a recent server build which handles this better)

[2016-03-17 08:21] jrieken commented on #2923
:+1:

[2016-03-17 08:26] jrieken commented on #3999
`restore` and `run` are the same commands as typed in the console.

[2016-03-17 08:26] isidorn commented on #4341
Launching the browser is not expected, we never open the browser for the user.
As for the breakpoint not hit - forwarding to @weinand

[2016-03-17 08:28] isidorn commented on #4045
Not sure about that, I am more leaning towards making it a user / workspace setting, and not a part of `launch.json`. VSCode does not interpreet the values in `launch.json` they are always passed to the debugger which lives outisde of vscode, and hiding the console is very vscode specific behavior.

[2016-03-17 08:31] egamma commented on #4074
Since extensions are global, it is fair to recommend extensions globally. Now since the extension isn't very prominent users might to use when a particular file is open, therefore considering the history is the right thing to do.

What is missing is a way to express I'm not interested in this recommendation (e.g. PHP) do not show it to me again.

We will not change this for march, but we will revi

[2016-03-17 08:32] #3869 closed

[2016-03-17 08:35] jrieken commented on #4010
Disagree - I don't have the workspace under git or any other UI element open except for the editor. Taking two snapshots and comparing them reveals 1.3MB growth and it does contain `FileStat`, `URI`, `ViewItem` and many html elements.

![screen shot 2016-03-17 at 09 35 00](https://cloud.githubusercontent.com/assets/1794099/13840570/8c0b63ea-ec23-11e5-89f4-4cbbe2a47bd0.png)

[2016-03-17 08:36] alexandrudima commented on #3994
Yes, here is the behaviour on master:

![ps-cursor-position](https://cloud.githubusercontent.com/assets/5047891/13840588/a2a02212-ec23-11e5-8e78-4088d547ae8e.gif)

It is still not what the OP wanted, but that can only be changed by providing different suggestions.

[2016-03-17 08:39] egamma commented on #3804
@kumarharsh do you have the eslint parser options configured for JSX/React? See below:

Also the error message should be prefixed with `ESLint`, this has been changed recently. If this is not the case can you update the vscode-eslint extension.

[code]

[2016-03-17 08:41] aeschli commented on #4319
What you see is what's expected. The currently implemented folding strategy is based purely on the indentation of lines. A folding region starts when a line has a smaller indent than one or more following lines, and ends when there is a line with the same or smaller indent.

To be more smart and to, for example, use brackets, we will have to go one step further and introduce language agnostic fold

[2016-03-17 08:41] #4319 closed

[2016-03-17 08:42] egamma commented on #4337
This is supported in the market place.

[2016-03-17 08:43] jrieken commented on #4010
For instance those `+18` uri objects are held in some `RowCache.legacy` array and they carry outdated data (some path inside `/tmp/babel...` which doesn't exist anymore)

[2016-03-17 08:45] jrieken commented on #4010
![screen shot 2016-03-17 at 09 43 35](https://cloud.githubusercontent.com/assets/1794099/13840748/bc54d102-ec24-11e5-9a9a-70e54601ec42.png)

[2016-03-17 08:48] alexandrudima commented on #943
The initial issue is resolved with the February release:

Using Ctrl-Left:
[code]

Let's track Ctrl-Right in #3577

[2016-03-17 08:48] #943 closed

[2016-03-17 08:49] jrieken opened #4350 "ENOENT errors with file event avalanche"
* run the steps from #4010
* some time to time (my guess is when I kill the ember and thereby removing those new files) I see such errors:
[code]

[2016-03-17 08:49] jrieken commented on #4350
![screen shot 2016-03-17 at 09 49 45](https://cloud.githubusercontent.com/assets/1794099/13840867/987ba93a-ec25-11e5-9278-9c2ca5bd3814.png)

[2016-03-17 08:52] dbaeumer opened #4351 "Screen reader: loosing cursor in Suggest widget"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10 / NVDA screen reader

Steps to Reproduce:
1. enable NVDA screen reader
2. open a TS file
3. open code complete for something were you get one entry
4. press ALT+Down
5. press escape to dismiss the dialog
6. press cursor up.

Observer: the cursor now disappears. You need to click into the editor to get the cursor back.

[2016-03-17 08:53] aeschli commented on #4085
Thanks for the clarification. This is #3903 (applies to both JS and TSX)

[2016-03-17 08:53] #4085 closed

[2016-03-17 08:54] aeschli commented on #4085
@tinganho We delivered a fix in a update last Monday. Please update your VS Code installation. Thanks!

[2016-03-17 08:56] #4027 closed

[2016-03-17 08:57] #4318 closed

[2016-03-17 08:57] dbaeumer opened #4352 "Screen reader: Alt+Cursor in Suggest Widget reads line two times"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10 / NVDA screen reader

Steps to Reproduce:
1. enable NVDA
2. open TS file
3. open code complete
4. Press Alt+Cursor+Down to navigate to next entry

Observe: screen reader reads entry two times (at least that is what I see in the Speech Viewer)

![capture](https://cloud.githubusercontent.com/assets/1931590/13841029/b0d96494-ec26-11e5-9e68-2b47

[2016-03-17 09:00] h2u commented on #4329
Would be nice to have color picker like in Brackets.
![Image of Brackets Color picker](https://www.andrewmunsell.com/wp-content/uploads/2015/06/04.png)

[2016-03-17 09:10] bpasero commented on #3999
@jrieken talking about this "Try to navigate to different projects by clicking on project count (showing in the status bar)."

@v-pavanp can you show me a screenshot of how "Try to navigate to different projects by clicking on project count (showing in the status bar)." works?

[2016-03-17 09:23] bpasero commented on #4350
Actually I suspect this to be chokidar statting, not us.

[2016-03-17 09:24] jrieken commented on #4350
looks like our fileserver tbh

`@ fileService.js:536(anonymous function) @ flow.js:134`

[2016-03-17 09:27] jrieken commented on #3999
It shows the drop down / quick pick with the project files. Selection those will open the file.

[2016-03-17 09:28] #4093 closed

[2016-03-17 09:28] bpasero commented on #4350
True...

[2016-03-17 09:29] bpasero commented on #3999
@jrieken ok thanks

[2016-03-17 09:29] bpasero commented on #3999
@v-pavanp please attach a video of this issue if you are able to reproduce, given I never saw this I will move it to April.

[2016-03-17 09:35] joaomoreno commented on #4328
Thanks for this @JVimes. We also think this can be a false positive, so I'm closing the issue.

We are going to send our bits around to a virus check team in Microsoft for further inspection, nevertheless.

[2016-03-17 09:35] #4328 closed

[2016-03-17 09:40] ArtemGovorov commented on #4317
Wow, it was fast, thanks for fixing it! The credit for finding it goes to @asos-massimo.

[2016-03-17 09:46] jrieken commented on #4350
having said that it seems to behave OK. I see errors on the console but the explorer seems to recover

[2016-03-17 09:49] aeschli commented on #4342
This issue was moved to Microsoft/TypeScript-TmLanguage#128

[2016-03-17 09:49] #4342 closed

[2016-03-17 09:51] weinand commented on #4348
@v-pavanp the error message comes from the node debug adapter. The node debug adapter (and node itself) can deal with files that contain both forward and backward slashes. So if the file would exist, node could run it and there would be no error. But since the file doesn't exist the error is shown. There is no need for the node debug adapter to 'fix' the file path.

[2016-03-17 09:51] #4348 closed

[2016-03-17 09:51] aeschli commented on #3786
#3008 is the underlying issue for this

[2016-03-17 09:51] #3786 closed

[2016-03-17 09:54] aeschli commented on #3654
Closing as obsolete: We no longer have that quick fix

[2016-03-17 09:54] #3654 closed

[2016-03-17 09:55] aeschli commented on #3616
Implemented for the March release. You can now configure all options offered by the foematter (beautify-html)

[2016-03-17 09:55] #3616 closed

[2016-03-17 10:00] jrieken commented on #4010
@bpasero @joaomoreno let's use this issue to _test_/_compare_ the different profiling tools, cos' I don't get what the heap timeline shows. I don't get matching results with the heap snapshot comparison nor with the Timeline feature (see how heap and node usage grows in parallel).

![screen shot 2016-03-17 at 10 52 42](https://cloud.githubusercontent.com/assets/1794099/13842617/7102375c-ec2f-11e5-

[2016-03-17 10:06] bpasero commented on #4010
@jrieken the difference to comparing snap shots is that it is easier to understand if some objects are still in memory because they leak or because they are not yet disposed from the previous run.

To give an example: imagine a component that only disposes its data the next time data is being displayed in that component. If you use a snapshot before showing data and after showing data, you would t

[2016-03-17 10:07] aeschli commented on #2692
Not sure if we had any changes here, but I'm getting proposals in style elements:
![image](https://cloud.githubusercontent.com/assets/6461412/13842795/70fed4b2-ec30-11e5-908c-5aa61db07d98.png)

@dstorey If you have a reproducible example, please reopen the issue

[2016-03-17 10:07] #2692 closed

[2016-03-17 10:12] isidorn commented on #4027
Giving to @weinand to verify, also @chuckries let us know if it still does not work for you

[2016-03-17 10:12] jrieken commented on #4010
I understand that and that's why I always run the action in double before I take the first snapshot, then repeat, and then take the second snapshot

[2016-03-17 10:13] jrieken commented on #4010
which I realised I have not mentioned in the steps about..

[2016-03-17 10:16] alexandrudima commented on #4352
This is unfortunate, but reflects reality.

The first time you choose an item, it is rendered without the details icon. The widget fires a request to the language service to ask if the item has details and then it repaints to show that it has details.

The aria alerts reflect what the widget paints. Most of the times, this request is so fast that you don't notice the flicker visually.

IMHO the da

[2016-03-17 10:16] bpasero commented on #4010
For example in comment https://github.com/Microsoft/vscode/issues/4010#issuecomment-197767251 I suspect that a template from a previous tree refresh() was not disposed yet, but it is hard to know if this is true or not.

Looking at the timeline I find it easier to distinguish false positives from real leaks because you get a better feeling of what happens before and after you invoked an action. It

[2016-03-17 10:18] alexandrudima commented on #4351
@dbaeumer NVDA supports different modes. I think you have entered an object navigation mode of NVDA. I use `Insert+Space` to bring back NVDA into text input mode.

[2016-03-17 10:27] tht13 opened #4353 "[Feature Request] Open Powershell as native console"
Could you add functionality to specify which console to open when using the `ctrl+shift+c` keyboard shortcut to run the command `workbench.action.terminal.openNativeConsole`
This would allow users to specify using Powershell over Cmd

[2016-03-17 10:28] kumarharsh commented on #3804
@egamma updating the plugin fixed it. Actually, not I understood what that error is saying:

The eslint plugin highlights the `~` part on this object:

[code]

with the error:
[code]

I thought this was a because maybe the eslint plugin was throwing an error due to some internal error, but it is trying to find an eslint rule **matching** the missing `comma` and finds nothing, so it outputs `(null)

[2016-03-17 10:32] egamma commented on #3960
@weinand This is the ExpressApp created in Visual Studio using the started sample

[ExpressApp1.zip](https://github.com/Microsoft/vscode/files/177643/ExpressApp1.zip)

[2016-03-17 10:33] jrieken commented on #4010
![screen shot 2016-03-17 at 11 28 21](https://cloud.githubusercontent.com/assets/1794099/13843369/78134e42-ec33-11e5-983d-4f9120bb0429.png)

I understand all of that, but I don't understand how the heap grow in the picture above. `Snapshot 1` was taken before any action, `Snapshot 2` was taken after the first _ember serve & stop_ cycle and the growth could be templates, caches etc. Now `Snapshot 3

[2016-03-17 10:34] egamma commented on #3960
@weinand this is the TypeScript one

[ExpressApp2.zip](https://github.com/Microsoft/vscode/files/177646/ExpressApp2.zip)

[2016-03-17 10:35] aeschli commented on #2828
I looked at (2)
For PHP we offer only 'Change All Occurrences' which looks at the current selection and finds occurrences based on the current settings of the 'Find' widget. It's basically find/replace, without the find widget.
If you want to replace only full words, then you have to open the find widget and check the 'whole words' settings. That setting is persistent and then also 'Change All Occ

[2016-03-17 10:35] #2828 closed

[2016-03-17 10:36] dbaeumer commented on #4196
I made a pass with Erich (he had wishes as well) and here is what the final result looks like:

- no Jake
- no description if superfluous
- Sorted except External command
- External command renamed to Others and moved to the end

![capture](https://cloud.githubusercontent.com/assets/1931590/13843529/7b0c5de0-ec34-11e5-8d8f-cba7bd47ed4a.png)

Hope that makes everybody happy.

[2016-03-17 10:37] alexandrudima commented on #4351
@zersiax

From reading a bit the [NVDA user guide](http://www.nvaccess.org/files/nvda/documentation/userGuide.html), it looks like Escape switches back to browse mode if focus mode was previously switched to automatically.

We use `Escape` in many places in VSCode to dismiss or close things, including closing the suggestions list, dismissing messages, closing the find widget, etc.

Should we bind

[2016-03-17 10:37] #4196 closed

[2016-03-17 10:43] aeschli commented on #2919
This issue was moved to OmniSharp/omnisharp-vscode#100

[2016-03-17 10:43] #2919 closed

[2016-03-17 10:43] bpasero commented on #4010
To me looking at the total heap size is wrong because it is up to V8 when to do GCs and bring down the heap. That must not necessarily mean there is a leak between the snapshots.

I just tried again with a very simple example (just 1 file and 1 folder) by deleting the file/folder and undoing that and comparing the snapshots. I do see heap increase but I do not see objects lying around that come fr

[2016-03-17 10:49] jrieken commented on #4010
Prior to a heap snapshot a GC is performed otherwise the whole feature would be useless.

In the end it's our code that causes this and drilling a little deeper I see how the `(array)` portion keeps growing, which contains referenced to deoptimized code (FileStat.find for instance). From the profiler you see that method being hit often but somehow V8 cannot keep it native. This might not be a leak

[2016-03-17 10:50] aeschli commented on #1483
This was a issue with a Text mate infrastructure and has been fixed in the meantime.

[2016-03-17 10:50] #1483 closed

[2016-03-17 10:51] ElCondor1969 opened #4354 ""Go to symbol ..." does not behaves like before the 0.10 version"
- VSCode Version: 0.10.11
- OS Version: Windows 10

Hi to all.
Since I installed the version 0.10 of the program the symbol search command does not behave the same as before.
For example, consider the following code in Javascript:

`var a={
  Func: function() {
    return true;
  }
};`

Before the 0.10 version if you search the symbols using the command "Go to symbol ..." (CTRL + SHIFT + O), the F

[2016-03-17 10:52] jrieken commented on #4010
[ticks_fs.txt](https://github.com/Microsoft/vscode/files/177675/ticks_fs.txt)

scan for `LazyCompile: ` the tilde means it cannot be compiled to native, the asterisk means it can. My theory is that code path become hot (like the explorer trying find the right position for X-thousand file events), the VM failing to compile some functions to native and dumping the deopt result onto the heap.

[2016-03-17 10:55] aeschli commented on #1686
Now tracked in https://github.com/OmniSharp/omnisharp-vscode/issues/101

[2016-03-17 10:55] #1686 closed

[2016-03-17 10:56] aeschli commented on #1093
Now tracked in https://github.com/OmniSharp/omnisharp-vscode/issues/101

[2016-03-17 10:56] #1093 closed

[2016-03-17 10:56] aeschli commented on #900
Now tracked in https://github.com/OmniSharp/omnisharp-vscode/issues/101

[2016-03-17 10:56] #900 closed

[2016-03-17 10:56] aeschli commented on #849
Now tracked in https://github.com/OmniSharp/omnisharp-vscode/issues/101

[2016-03-17 10:56] #849 closed

[2016-03-17 10:56] aeschli commented on #848
Now tracked in https://github.com/OmniSharp/omnisharp-vscode/issues/101

[2016-03-17 10:56] #848 closed

[2016-03-17 10:58] Morgy93 opened #4355 "[PHP] variable selection doesn't work (anymore)"
- VSCode Version: 0.10.11
- OS Version: Windows 10 Pro (Version 1511; OS Build: 10586.164)

Steps to Reproduce:

1. Double click some variable within php
2. See that it doesn't select the variable, only the text

![vs_code_variable_select](https://cloud.githubusercontent.com/assets/7961978/13844045/88a2af88-ec37-11e5-9df5-8821ced18cb8.gif)

This worked fine in some previous versions.

[2016-03-17 11:05] #3577 closed

[2016-03-17 11:06] alexandrudima commented on #3577
To control this behaviour and get VS-style Ctrl+Right, please edit your `keybindings.json` and add:
[code]

This will overwrite the default:
[code]

[2016-03-17 11:13] alexandrudima commented on #832
@glen-84 I just pushed new word commands that allow, through the use of custom `keybindings.json` to pick which behaviour you want. Please also see #3577.

To get VS-style Ctrl+Delete, edit your `keybindings.json` and add:

[code]

This will overwrite the default:
[code]

[2016-03-17 11:13] alexandrudima commented on #3577
Please also see #832 for getting VS-style Ctrl+Delete.

[2016-03-17 11:15] alexandrudima commented on #4349
@tinganho These pairs are defined per-language. Would you expect these pairs to be the same for all languages we support?

fyi @joaomoreno

[2016-03-17 11:23] jrieken commented on #4010
@bpasero So apart from the crazy talk about VM internals and _heap snapshot_ vs _head timeline_ the problem in this concrete scenario is to not drill deep enough into the `(array)` etc items. I happen to stumble over an object with suspicious keys (file names) which is very large and voila I see a leak: https://github.com/Microsoft/vscode/blob/master/src/vs/base/node/extfs.ts#L30

There is one bra

[2016-03-17 11:24] joaomoreno commented on #4010
Now **that** is interesting.

[2016-03-17 11:29] bmdixon commented on #4315
Was this incorrectly associated/closed? That commit looks more like it addresses https://github.com/Microsoft/vscode/issues/4334 than this issue?

[2016-03-17 11:31] alexandrudima commented on #2360
I think the paged text area strategy is a good work around for this issue

[2016-03-17 11:31] #2360 closed

[2016-03-17 11:33] glen-84 commented on #832
Thanks @alexandrudima! =)

[2016-03-17 11:35] alexandrudima commented on #3312
From our side, we set the cursor in the textarea at the right location. I think it is a Chromium bug

[2016-03-17 11:37] alexandrudima commented on #3841
@bpasero I think the problem is in `electron-browser\index.html` that hard-codes `<html lang="en">`. Not sure if this is something for March?

[2016-03-17 11:39] joaomoreno commented on #4010
Holding references to code deoptimization is not a leak. It is a problem, sure, just not a leak. It just means that we need more memory to keep that function alive, when we could use less. We should definitely fix it.

Comparing two snapshots is equivalent to running a Heap Timeline and not touching the time interval. What you get out of it is **all** objects that can still be reached in memory. T

[2016-03-17 11:39] joaomoreno commented on #4010
On code deopt:

Holding references to code deoptimization is not a leak. It is a problem, sure, just not a leak. It just means that we need more memory to keep that function alive, when we could use less. We should definitely fix it.

[2016-03-17 11:40] alexandrudima commented on #4315
@jrieken I still see this issue on master

[2016-03-17 11:42] #287 closed

[2016-03-17 11:48] tinganho commented on #4349
Are there any examples of why it shouldn't behave the same?

I tried in JS and TS and it doesn't work.

[2016-03-17 11:49] alexandrudima commented on #761
@lukehoban I pushed a change that I allow now touching edits. In case of ambiguity, the order of the edits prescribes the order in which they are applied (e.g. insert 'a' at pos1, insert 'b' at pos1 => insert 'ab' at pos1)

[2016-03-17 11:49] #761 closed

[2016-03-17 11:50] alexandrudima commented on #787
We have actually implemented this in February, and it is controlled by `editor.wordSeparators` (across all languages)

[2016-03-17 11:50] #787 closed

[2016-03-17 11:51] jrieken commented on #4010
Yes - code depot is a performance problem, not a leak.

Yes - the leak test should have been performed after first `ember serve` even though it is **questionable** why the tree caching holds on to old model objects.

Yes/No - it doesn't matter if you use the heap timeline or manual heap snapshots. The heap timeline from above (https://github.com/Microsoft/vscode/issues/4010#issuecomment-197740485)

[2016-03-17 11:51] alexandrudima commented on #1177
We actually shipped with this behaviour already in February.

[2016-03-17 11:52] #1177 closed

[2016-03-17 11:52] alexandrudima commented on #1423
We actually shipped already in February with the proposed behaviour.

[2016-03-17 11:52] #1423 closed

[2016-03-17 12:02] tomitrescak opened #4357 "Go To Next Error does not go to next error"
- VSCode Version: 0.10.11
- OS Version: OS X

Steps to Reproduce:

When I press F8 I can navigate to the next error in the current file. But when I remove all errors in a current file and I press F8 it does not navigate to the error in the next erroneous file. Is this a bug or a feature? Thanks

[2016-03-17 12:05] martinwebrant commented on #901
Any progress on ".git/index.lock': File exists."?
It's a mess to fix a large rebase that fails when you forget to close vscode.

[2016-03-17 12:12] MrVallentin opened #4358 "Output Window is removing new lines"
- VSCode Version: 0.10.11
- OS Version: Windows 10

Steps to Reproduce:
1. Printing any line that only contains a new line to the output window.

This might be by design. But it would be much appreciated, if the output window didn't ignore lines only containing new lines. Personally I like to split out outputted chunks for text with new lines for ease of readability.

It also looks like the output

[2016-03-17 12:13] alexandrudima commented on #1850
@bpasero and I have actually seen this together on his mac, when he was using `zoomLevel`. I forgot the exact commit, but the issue was the following:
- the mouse event we got from Chromium had as target the token text
- we would then use hit testing to find out at which offset the mouse hits the token text
- the hit test would (incorrectly?) hit a view cursor
- the logic was not ready for such in

[2016-03-17 12:13] #1850 closed

[2016-03-17 12:14] alexandrudima commented on #1874
Please reopen or file another issue with more information such that we can attempt to reproduce.

[2016-03-17 12:14] #1874 closed

[2016-03-17 12:14] #1926 closed

[2016-03-17 12:15] alexandrudima commented on #1906
I think this is a dup of #1850

[2016-03-17 12:15] #1906 closed

[2016-03-17 12:18] alexandrudima commented on #2765
Changed the title. According to @peterbourgon all .go files should always be indented with tabs, the go compiler cannot compile files indented with spaces. I guess this is similar to yaml, where yaml processors cannot handle files indented with tabs.

[2016-03-17 12:22] alexandrudima commented on #2993
Dup of #1240.

[2016-03-17 12:22] #2993 closed

[2016-03-17 12:25] alexandrudima commented on #3052
@goddyZhao `Cmd+F2` selects all occurences of the word under cursor.

[2016-03-17 12:25] #3052 closed

[2016-03-17 12:29] Healforgreen commented on #155
For anyone new doesn't want to sift through all the posts.  In 0.10.11, this works:

Set `"http.proxyStrictSSL": false` in user settings in order to install extensions.

[2016-03-17 12:30] alexandrudima commented on #3088
Closing this for now as it is unclear to me what is the use case. If none of our concepts fit the use case, an extension could register a keybinding rule for 'Enter' and do all the logic for 'Enter' on its own.

[2016-03-17 12:30] #3088 closed

[2016-03-17 12:33] alexandrudima commented on #3443
@tacho87 We drop the undo stack when the file is edited on disk outside of VSCode. If a file is merely touched (but has the same content), we don't drop the undo stack. Are you editing the files through the Chrome debugger?

[2016-03-17 12:38] #3458 closed

[2016-03-17 12:38] bill-mybiz commented on #3958
Yes, so it definitely is related to the "Typings" folder. It appears that there isn't any caching being done on this folder, as when it is included the delay changes from <1s to ~10s. Apparently, whatever the process is that allows for intellisense, symbol renaming/parsing, etc. is not caching properly. I'm going to try to uninstall completely VS code and reinstall to see if that has any effect.

[2016-03-17 12:39] chanpod commented on #3166
@weinand The debugger seems to be working fine again. After updating and testing with node versions 4.4 and 5.8 and as of VS Code V. 0.10.11, I'm not able to replicate the issue anymore. I did a fresh install of all my npm modules as well so I know my temp fix is no longer in place as well. No idea what it was but it's fixed now. So, yay :+1:

[2016-03-17 12:40] #3166 closed

[2016-03-17 12:41] peterbourgon commented on #2765
To be clear, it will compile, but it is not canonical format.

[2016-03-17 12:41] Tyriar commented on #224
@kfranqueiro while waiting for a proper tab solution you might be interested in adopting [the keybindings I use](http://www.growingwiththeweb.com/2016/03/simulating-tabs-in-vscode.html) which bring <kbd>ctrl</kbd>+<kbd>w</kbd> and <kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>w</kbd> closer to a regular tabs implementation.

[2016-03-17 12:43] #3665 closed

[2016-03-17 12:44] alexandrudima commented on #3671
https://github.com/alexandrudima/vscode-vim shows how to better handle keyboard input in the case of a vim extension

[2016-03-17 12:49] jrieken commented on #4315
yeah, sorry from issue.

[2016-03-17 12:50] aioutecism commented on #3671
Well, yes, listening to `type` event can solve the layout problem of vim extension.
But, if an extension want to add custom function when `cmd+\` is pressed, we still need to deal with different keyboard layout since `cmd+\` is not passed to `type`.
Having `type` event gives developers a workaround for some problem. But doesn't solve the problem that keybinding settings is not binding the "real" k

[2016-03-17 12:50] mrmckeb commented on #3355
Sure @pflannery, I can take a look at this over the weekend and see what I can get done.

[2016-03-17 12:52] alexandrudima commented on #3784
This is how Chromium handles keyboard input. At the JS level (where our code lives), there is no way to distinguish between `AltGr+L` and `Ctrl+Alt+L`.

[2016-03-17 12:52] #3784 closed

[2016-03-17 12:52] jrieken commented on #4334
fixed by 32bd7fd

[2016-03-17 12:52] #4334 closed

[2016-03-17 12:54] sahas- commented on #4344
Here are my current extensions

<img width="594" alt="screen shot 2016-03-17 at 7 53 08 am" src="https://cloud.githubusercontent.com/assets/10361685/13846491/7450875c-ec15-11e5-98b7-c2a72317bb26.png">

[2016-03-17 12:56] alexandrudima commented on #4349
Yes, for example `'` is not a character pair in plain text files. Or `<` is not a character pair in JavaScript as it is only used as a comparator operator.

Here I am doing it in a JavaScript file:

![character-pair-delete](https://cloud.githubusercontent.com/assets/5047891/13846501/d5d9d730-ec47-11e5-97ab-147dc747c359.gif)

What version of VSCode are you using that it doesn't work for you?

[2016-03-17 12:57] dprice opened #4359 "[Setup] Unable to Update Insiders"
- **VSCode Version**:
Visual Studio Code - Insiders
Version 0.10.10-insider
Commit 5b5f4db87c10345b9d5c8d0bed745bcad4533135
Date 2016-03-07T10:19:42.065Z
Shell 0.35.6
Renderer 45.0.2454.85
Node 4.1.1
- **OS Version**: Windows 7

**Steps to Reproduce:**

1. Verify there are no instances of VSCode running via Process Explorer
2. Run VSCode Insiders
3. Either wait for it to automatically notify about

[2016-03-17 12:59] bill-mybiz commented on #3958
I've now uninstalled, deleted the Code folder in %appdata%, and reinstalled VS Code with still no luck.

[2016-03-17 13:03] alexandrudima commented on #3671
Unfortunately, all the commands of vscode itself have the same limitation. This is not a limitation we have added, [it was a design choice done by w3c when they drafted the `keydown` event specification](https://www.w3.org/TR/DOM-Level-3-Events/#determine-keydown-keyup-keyCode).

[We can revisit this one Chromium decides to implement KeyboardEvent.key in a correct way](http://caniuse.com/#search=K

[2016-03-17 13:09] tinganho commented on #4349
I'm in version `Version 0.10.11 (0.10.11)`. Though it hasn't worked since the beginning like when VSCode launched for me.

![mar 17 2016 21 06](https://cloud.githubusercontent.com/assets/1324476/13846734/375ebab6-ec84-11e5-8302-adaa58d37d45.gif)

[2016-03-17 13:10] bpasero commented on #4344
I suspect a leak on the extension host side, so we have to expand our leak testing to the extension host.

[2016-03-17 13:10] bpasero commented on #4344
@sahas- and please attach the workspace or pointers how to get there

[2016-03-17 13:10] jrieken opened #4360 "f# not shown in status bar"
* fresh windows 10
* downloaded latest alpha build, installed _ionide f#_ extension
* create a file `testing.fsx`
* file is coloured, F# shows in 'change language' UI, but not in status bar (others like php, js do)

![screen shot 2016-03-17 at 14 08 55](https://cloud.githubusercontent.com/assets/1794099/13846794/042ac8b8-ec4a-11e5-9f86-10f3a6921a69.png)

[2016-03-17 13:11] dbaeumer commented on #4204
Closing since the strings are proper externalized (minus extensions from the store) and we are waiting to receive the translations from the team.

[2016-03-17 13:12] bpasero commented on #3841
@dbaeumer if you feel brave, just make the change in index.html to pick up the language chosen. I have no clue what the implications are.

[2016-03-17 13:13] jrieken commented on #4344
Also, please try to reproduce this without extensions enabled (--disableExtensions) so we know if it's on our side or an extension issue

[2016-03-17 13:15] alexandrudima commented on #2765
The [Go language spec](https://golang.org/ref/spec) does not seem to touch on the topic of preferring tabs vs spaces for indentation, it simply defines them as whitespace and then defines the semantics of whitespace while parsing source code.

If I understood how this works, the go compiler ships with a formatter that prefers tabs, which is great.

But given this is not specified in the language,

[2016-03-17 13:18] alexandrudima commented on #4349
I think `"editor.autoClosingBrackets"` controls this behaviour, is it possible you have set it to false in either user settings or workspace settings?

[2016-03-17 13:19] sahas- commented on #4344
@bpasero - can you pls point me to some instructions to extract the workspace?
@jrieken  - its not reproducible now, with or without extensions. May be, I need to leave it over night and see..

[2016-03-17 13:20] aioutecism commented on #3671
Thanks! Looking forward to the fix.

[2016-03-17 13:26] colonelchlorine commented on #625
+1 would be nice to have

[2016-03-17 13:28] joaomoreno commented on #155
Motion granted.

[2016-03-17 13:28] peterbourgon commented on #2765
It's much stronger than "prefers" — it's more like canon. To some order of approximation, zero percent of Go code in the wild has any other format than the canonical gofmt style. I understand this is different than many other programming ecosystems.

When VSCode encounters a .go file, it should use tabs for indentation, and spaces for alignment within that file. This behavior should not be configu

[2016-03-17 13:29] tht13 opened #4361 "[VSCode Alpha] Freeze on startup"
- VSCode Version:0.10.12-alpha 32bd7fd3
- OS Version:Win7

The latest version of VSCode alpha freezes during startup when running the extension Gerrit. The reason that I am reporting this here is that the same version of Gerrit (v0.2.1) runs correctly on v0.10.11

I am only able to get the freeze to occur on a specific Git repository, and if I step through the code in debug mode it doesn't freeze.

[2016-03-17 13:31] bpasero commented on #4360
This is because ionide does not contribute an alias for their language contribution.

[2016-03-17 13:31] bpasero commented on #4344
@sahas- the folder you open vs code with

[2016-03-17 13:32] #4186 closed

[2016-03-17 13:33] bpasero commented on #4360
@alexandrudima starting with you for the core side

[2016-03-17 13:34] hickford commented on #1423
Thanks. Works for me `Version 0.10.11`

[2016-03-17 13:34] tinganho commented on #4349
These are the seetings I have set:
[code]
And my default settings have set it to true.
[code]

[2016-03-17 13:35] Krzysztof-Cieslak commented on #4360
If we should add anything just let me know.

[2016-03-17 13:36] alexandrudima commented on #2765
Maybe this is something the Go extension could do.

@lukehoban This snippet in the go extension would ensure all .go files use tabs and not spaces:
[code]

[2016-03-17 13:37] peterbourgon commented on #2765
Would be happy with that!

[2016-03-17 13:39] #4185 closed

[2016-03-17 13:44] alexandrudima commented on #4360
@Krzysztof-Cieslak you could add at one `alias` when you contribute the language.

e.g.:
[code]

We will also change some logic on our side that if the `alias` key is missing we pick up the `id`.

[2016-03-17 13:47] aioutecism commented on #3600
Just updated my vim extension to use these new APIs. Works amazing!!!
https://github.com/aioutecism/amVim-for-VSCode
The new API is only available from VSCode 0.10.12. If anyone is interested, download the [insider build](https://code.visualstudio.com/insiders) and install amVim to give it a try.

[2016-03-17 13:53] tht13 commented on #4361
Somehow the issue was resolved by deleting everything in appdata/roamin/vscode - alpha/ except for the User folder. Possibly something to look into there?
But will close now :smile:

[2016-03-17 14:02] jrieken commented on #4360
@bpasero Wondering why we show something in the 'change language' UI then?

[2016-03-17 14:05] egamma commented on #3804
The vscode extension shows the message it gets from eslint and when there is a rule then it is shown

![image](https://cloud.githubusercontent.com/assets/172399/13848259/4972d788-ec51-11e5-8193-a64b646b2548.png)

There is no rule for parsing errors and this is why eslint shows (null), which is not very friendly...

![image](https://cloud.githubusercontent.com/assets/172399/13848320/84fc02ca-ec51-1

[2016-03-17 14:10] bpasero commented on #4360
@jrieken that is very likely our own F# coloring?

[2016-03-17 14:11] bpasero opened #4362 "Leak: history service (back/forward) navigation is unbounded"
Just navigating between files adds to the stack of history service without limit.

[2016-03-17 14:12] AdamAndersonFalafelSoftware commented on #869
Yes, we need negated glob exclusions. In Node, the built-in place to put application-wide modules is in a node_modules folder. You would want to be able to exclude node_modules except for your project's modules under e.g. node_modules/_local so that you can easily navigate to your own modules without also including all the imported ones.

[2016-03-17 14:12] dbaeumer opened #4363 "Add auto detection of task to npm"

[2016-03-17 14:12] dbaeumer commented on #4115
Created https://github.com/Microsoft/vscode/issues/4363 for the auto detection.

[2016-03-17 14:12] bpasero commented on #3614
@AndyYSWoo we just released a new insiders build, maybe you could try with that: http://code.visualstudio.com/insiders

It shows up as green logo in the taskbar as opposed to the blue one.

[2016-03-17 14:13] #4115 closed

[2016-03-17 14:16] bpasero opened #4364 "FileEditorInput: Holds on to all inputs that got created until file is deleted"
Somehow FILE_EDITOR_MODEL_CLIENTS keeps some clients although switching between files should dispose their associated inputs and clients too.

[2016-03-17 14:19] alexandrudima commented on #4360
@jrieken This is weird, I see the issue in source code (where the latest contribution of a language gets to determine its name), but I cannot reproduce when running out of development.

[2016-03-17 14:20] isidorn opened #4365 "Java import colors hurt my eyes"
It was always like this, no regression, just looks bad

![screen shot 2016-03-17 at 15 19 48](https://cloud.githubusercontent.com/assets/1926584/13848810/ca45bc8e-ec53-11e5-89bf-866989648014.png)

[2016-03-17 14:21] alexandrudima commented on #4360
Scratch that, I mixed up the `.vscode-oss-dev` vs `.code-oss-build-dev` folders. I can reproduce.

[2016-03-17 14:25] pcgeek86 opened #4366 "Provide a command to delete the currently opened file"
- VSCode Version: 0.10.11
- OS Version: Mac OS X El Capitan

Steps to Reproduce:
1. Open Command Palette
2. Search for a "delete" command
3. Note that command does not exist

I would have naturally expected this sort of command to be available from the Command Palette. :) Could we get this added, to enhance the already awesome keyboard experience? :smile:

Cheers,
Trevor Sullivan
Microsoft MVP: Po

[2016-03-17 14:26] egamma opened #4367 "Improve wording of the missing activation event"
see the `if you are an extension`
![image](https://cloud.githubusercontent.com/assets/172399/13849005/90c33d8c-ec54-11e5-9ab4-cdba745c8c6a.png)

[2016-03-17 14:27] bpasero opened #4368 "Leak: quick open (files) leaks ActionBar and HiglightedLabel"
Seeing a wide range of objects stick around after just opening and closing quick open:

![image](https://cloud.githubusercontent.com/assets/900690/13849061/c56b877e-ec54-11e5-96a9-fe6efbe4023f.png)

[2016-03-17 14:29] #4343 closed

[2016-03-17 14:29] aeschli commented on #4365
duplicate of #2987

[2016-03-17 14:29] #4365 closed

[2016-03-17 14:31] #4367 closed

[2016-03-17 14:32] dbaeumer commented on #3394
Currently the locale parameter is only respected once per VSCode main process. The reason for this that the main process already controls parts of the UI (e.g. menu bar, some dialogs, ...). Honoring the locale in a browser process would result in a mixed user interface (like in the screen shot). So in the current build none of the strings are run through pseudo in this setup meaning that the menu

[2016-03-17 14:32] #3394 closed

[2016-03-17 14:35] egamma commented on #4148
Moving to April.

[2016-03-17 14:37] mburakkalkan opened #4369 "JS intellisense doesnt work in HTML script tag"
- VSCode Version: 0.10.11
- OS Version: Windows 7 SP1 32 bit

Steps to Reproduce:

1. Create an HTML file and a `<script type="text/javascript> ....... </script>` block.
2. Start coding in the block then you will see intellisense doesnt work.

Here is the developer console log:
`Main Thread sent to worker the following message:
Object {type: "threadService", payload: Array[3]}payload: Array[3]type

[2016-03-17 14:41] egamma commented on #2787
The minimal fix is to change the description and say that AMD is currently not supported.
@aeschli is it easy to add a warning when AMD is picked as the module type in a jsconfig.json?

[2016-03-17 14:44] egamma commented on #2690
@SofianHn what is the latest on this?

[2016-03-17 14:45] egamma commented on #1000
We will not update to a new electron for March, shifting to April

[2016-03-17 14:49] #3853 closed

[2016-03-17 14:51] SofianHn commented on #2690
Still waiting on OSS approval

[2016-03-17 14:53] felixfbecker commented on #4353
duplicate of https://github.com/Microsoft/vscode/issues/1905

[2016-03-17 14:53] aeschli commented on #4361
This issue was moved to tht13/gerrit-vscode#1

[2016-03-17 14:53] #4360 closed

[2016-03-17 14:53] alexandrudima commented on #4360
@bpasero No further work needed on your side.

[2016-03-17 14:54] joaomoreno commented on #1796
Pushing to April.

Please consider using a [credential store](https://help.github.com/articles/caching-your-github-password-in-git/) as a temporary workaround.

[2016-03-17 14:55] alexandrudima commented on #3600
@aioutecism Awesome!!!

[2016-03-17 14:59] joaomoreno commented on #4359
Does it repro if you restart?

[2016-03-17 15:00] #4177 closed

[2016-03-17 15:01] alexandrudima commented on #4355
@Morgy93 From popular user demand, the cursor double clicking, word navigation and word deletion now respect a new setting called `editor.wordSeparators`. This allows you to define, as best suits your workflow how these features should behave.

In this case, you can change the default to remove $ as a word separator:

[code]

[2016-03-17 15:01] #4355 closed

[2016-03-17 15:01] felixfbecker opened #4370 "Wrong file icon when associating VS Code as default editor for an unknown file type"
- VSCode Version: 0.10.11
- OS Version: Windows 10

Steps to Reproduce:
1. right click on an unknown file type, like `.vscodeignore` or `.eslintrc`
2. choose _Open with..._
3. Select VS Code and check _always use this app to open files of this type_

The file gets the app icon of VS Code, not the document icon:

![image](https://cloud.githubusercontent.com/assets/10532611/13850241/62eb28a2-ec59-11

[2016-03-17 15:01] dbaeumer commented on #3304
Fixed.

[2016-03-17 15:01] #3304 closed

[2016-03-17 15:02] bpasero commented on #4366
Sounds like a good example for an extension.

[2016-03-17 15:02] alexandrudima commented on #4355
This, and many other changes, can always be tracked in the [Release Notes](https://code.visualstudio.com/Updates).

[2016-03-17 15:02] bpasero commented on #4360
@alexandrudima thanks! love those comments ;)

[2016-03-17 15:03] dbaeumer commented on #3841
@bpasero I will look into this for April. I am not brave enough to make this for March.

[2016-03-17 15:03] aeschli commented on #2787
Yes, I would take out 'amd' from the enum of possible module values.
The user will then get an error that amd is not a valid value. Would that work?

Maybe you want to also check the other options in there and tell me if they makes sense:
	"commonjs", "umd", "system", "es6", "es2015"

[2016-03-17 15:04] dprice commented on #4359
I know there is the message "Visual Studio Code - Insiders will be updated after it restarts.", but when I do not update, exit, and restart - nothing happens. I get the same update message again. Is this what you mean?

[2016-03-17 15:05] #4361 closed

[2016-03-17 15:05] Beatusvir commented on #3600
@aioutecism please don't play with my feelings gonna try it now

[2016-03-17 15:06] jrieken commented on #4357
That is how it's meant to work. The editor has no notion of a _next file_. There is talk about a dedicated error view (at the bottom) but for now 'F1 > Show Errors & Warnings' is the workaround

[2016-03-17 15:06] #4357 closed

[2016-03-17 15:07] bpasero commented on #3841
:+1:

[2016-03-17 15:08] alexandermikuta opened #4371 "Feature Request: Ability to position multicursor via mousewheel"
It would be nice if the multicursor can be extended by moving the mouse with dragged mousewheel-button like in IntelliJ.

[2016-03-17 15:08] jrieken commented on #4369
@alexandrudima This is something we don't support anymore, right?

[2016-03-17 15:08] gunjpan opened #4372 "Fails to debug Node.js with Segmentation Fault:11 error"
- VSCode Version: 0.10.11 (commit # f291f4ad600767626b24a4b15816b04bee9a3049)
- OS Version: OS X El Capitan (10.11.3)

Steps to Reproduce:

1. run node debugger as `node --debug-brk <anyfile.js>`
2. change debug mode to `attach` and step thru.
It terminates debugger with `Segmentation fault: 11`

[2016-03-17 15:11] tjosbon commented on #1690
+1

[2016-03-17 15:12] tonyedwardspz commented on #1706
+1

[2016-03-17 15:14] alexandrudima commented on #4351
Happy to hear that's not a general problem.

@dbaeumer ran into a case with NVDA where dismissing the suggestion list with `Escape` brought NVDA to browse mode.

I think that's because he clicked in the editor, which brought NVDA automatically to focus mode. Then, when pressing `Escape` to dismiss the suggestion list, NVDA switched back to browse mode (as it entered the focus mode automatically).

[2016-03-17 15:15] lpproulx commented on #4354
I'm also seeing this behavior. It was working fine before switching to salsa.

![image](https://cloud.githubusercontent.com/assets/1503865/13850650/3f5fe3be-ec31-11e5-9986-cdc67f967715.png)

[2016-03-17 15:15] zersiax commented on #4351
Wait wait wait I am not saying that :)
Let me do some testing real quick :)

[2016-03-17 15:16] aeschli commented on #1452
duplicate of #3008

[2016-03-17 15:16] #1452 closed

[2016-03-17 15:17] zersiax commented on #4351
No, you are right. I am seeing the same behavior. Escaping out of the
suggestion list doesn't actually dismiss the suggestion list but takes
you to browse mode. So I think thesekeys are necessary after all.

[2016-03-17 15:19] bpasero opened #4373 "Cannot read property 'document' of undefined"
* make sure JS/TS is loaded (open a JS file)
* open a file which is huge >5MB
* error happens

[code]

[2016-03-17 15:19] bgse commented on #4366
@bpasero Maybe label as help-wanted / effort-easy so we can find stuff like this better. Or even make a label 'extension-opportunity' or something.

[2016-03-17 15:20] alexandrudima commented on #4351
Sorry for jumping to conclusions, I guess I read what I want to read :).

I'll go through the places we use Escape and also add Alt+Escape as an alternative keybinding doing the same.

[2016-03-17 15:24] jrieken commented on #4369
@alexandrudima Unsure how things work now. The issue seems to be that an `TextualSuggestSupport` is being created on the worker side which then misses a reference to an editor worker service

[2016-03-17 15:25] vanityx69 commented on #143
A terminal would be great as an extension. One of the key things I love about VSC is its simplicity.

[2016-03-17 15:31] aeschli commented on #2787
[code]

[2016-03-17 15:32] #2787 closed

[2016-03-17 15:34] NickHeiner commented on #4276
I figured it out! My `bash_profile` included a file which included a file which defined the `code` function. I must have added that function as part of the original setup steps when VS Code was first released. Sorry for the confusion when I misstated above that it wasn't being brought in via `bash_profile`.

Once I remove that function, the `code` command works as expected. Awesome!

[2016-03-17 15:35] dbaeumer commented on #4373
@jrieken as discussed moving back to you.

[2016-03-17 15:38] dbaeumer commented on #4320
@joaomoreno moving to you. Looks like a UI problem.

[2016-03-17 15:38] Tyriar commented on #4276
Good to hear :) closing this off.

[2016-03-17 15:38] #4276 closed

[2016-03-17 15:40] enzoaeneas commented on #4372
This is occurring on Windows 7 as well in Launch mode.
Continue and expression evaluation fail because node has become unresponsive.

[2016-03-17 15:40] dbaeumer commented on #4294
@jrieken can you shed some light on this. IMO the JS formatter will not be invoked in that case.

[2016-03-17 15:42] dbaeumer opened #4374 "Formatter option could be inferred from linter options"
See  https://github.com/Microsoft/vscode/issues/4303#issuecomment-197361978 for details.

[2016-03-17 15:43] Tyriar commented on #2973
Unfortunately it doesn't look like the signing will be up in time for the release, pushing to April. /cc @joaomoreno

[2016-03-17 15:47] egamma commented on #3629
Published a version of the extension to the market place that informs users that the extension no longer needed.

To verify, install the js-is-jsx extension. It should show a warning once when a .js file is opened.

[2016-03-17 15:47] #3629 closed

[2016-03-17 15:56] jasongrout opened #4375 "Creating multiple cursors by using Cmd-Option-Down arrow goes to the next visual line, not the next logical line"
- VSCode Version: 0.10.11
- OS Version: OS X 10.10.5

Steps to Reproduce:
1. write a long line of text that wraps in the editor
2. place the cursor on the first line and press Cmd-Option-Down (on OS X).

This creates a second cursor on the next visual line, which means it is somewhere on the same logical line depending on how the text is wrapped. When creating multiple cursors on adjacent lines, o

[2016-03-17 15:56] bpasero commented on #4368
@joaomoreno boils down to the Renderer in https://github.com/Microsoft/vscode/blob/master/src/vs/base/parts/quickopen/browser/quickOpenModel.ts#L651 not disposing the template it creates for templateId === templateEntry || templateEntryGroup. I think you added this but I am not sure why it is not getting disposed. One thing I notice is that disposeTemplate() is being called each time you type and

[2016-03-17 16:16] jrieken commented on #4344
@sahas- I have made an extension that allows you to monitor heap usage and garbage collection. It's not yet in the gallery but there steps how to install it locally: https://github.com/jrieken/vscode-extheap

It would be of great help if you can install and check the `GC Stats` from time to time and also supply some heap snapshot of the extension host (esp. when men usage has grown)

[2016-03-17 16:19] alexandrudima opened #4376 "Switching to inline diff view gives bad scrollbar position"
Use the following settings. It is important to use a larger font size such that the line numbers overall width must be large:
[code]

Open diff side-by-side. Switch to inline. Observe, the scrollbar is not possitioned OK:

![diff-inline](https://cloud.githubusercontent.com/assets/5047891/13852841/4edf0e68-ec64-11e5-91d9-33180edd7291.gif)

[2016-03-17 16:19] pcgeek86 commented on #4366
@bpasero Hmmmm, I disagree that this would be suitable for an extension. A function like this, to delete a file, should probably exist in the core editor. What kind of criteria are you typically using to determine suitability for an extension? Just curious, thanks!

[2016-03-17 16:20] Tyriar commented on #4252
@bpasero have you looked into [Watchman](https://facebook.github.io/watchman/) by Facebook? That's what [ember-cli](http://ember-cli.com/) uses.

[2016-03-17 16:22] bpasero commented on #4366
If something can be done via extension, it should be done via extension. Once we add this functionality into the core product this extension is obsolete, but until then it is fine to have it. We currently have 595 feature requests and maybe 7 people working on the source code, so you can imagine that we are not jumping on every new feature someone asks for.

[2016-03-17 16:23] alexandrudima commented on #4351
I ended up adding Shift+Escape as an alternative, since Alt+Escape is some sort of equivalent to Alt+Tab on Windows

[2016-03-17 16:24] bpasero commented on #4252
@Tyriar post GA I want to look into other options for watching on Mac/Linux. Though I believe if we change to adding watched folders one by one as needed by the UI, we can keep using chokidar. The expensive part in chokidar is watching large root folders recursively.

[2016-03-17 16:25] alexandrudima commented on #4369
Inline JavaScript inside HTML no longer gets any reach features since the adoption of Salsa.

What is bad is that this fails with so many errors (i.e. it should fail gracefully).

[2016-03-17 16:25] jrieken commented on #4294
@Lonefy Our JavaScript language service is now and real extension. This means, the rule of having a single best match for the `DocumentFormattingProvider` comes into play (https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L3490).

Since both (yours and ours) have the same score the provider registered last wins. You can restore the previous behaviour (that is your provider being i

[2016-03-17 16:30] jrieken commented on #4344
Assuming you are on a mac you can try unzipping and opening the vsix-file with VS Code.

[vscode-extheap-0.0.1.vsix.zip](https://github.com/Microsoft/vscode/files/178260/vscode-extheap-0.0.1.vsix.zip)

[2016-03-17 16:33] jrieken opened #4377 "exception when installing extension locally"
I saw the install progress being stuck and found this on the console. I believe it was cause by me installing an extension from a vsix file.

[code]

[2016-03-17 16:34] jrieken commented on #4369
yeah, it needs a graceful check for undefined. I'd figure you know where...

[2016-03-17 16:37] #4362 closed

[2016-03-17 16:45] alexandrudima commented on #4349
That is most weird. Here it works for me on 0.10.11 with your settings:

Do you have any extensions installed? Does it reproduce when running VS Code with the following command line argument: `--disableExtensions`?

![character-pair-0 10 11](https://cloud.githubusercontent.com/assets/5047891/13853606/bf774b88-ec67-11e5-8604-631b138cf6aa.gif)

[2016-03-17 16:50] #4369 closed

[2016-03-17 16:55] weinand commented on #3960
@egamma this tour doesn't make much sense for VS Code.

- VS Code does not launch a browser on F5
- the TypeScript template does not have any TypeScript setup (no dev-dep in package.json, no compile or watch scripts)
- the 'Profiling', 'Test Explorer' and the remaining sections apply to VS not VS Code.

[2016-03-17 16:55] #3960 closed

[2016-03-17 16:59] jasonyueyang commented on #4348
@weinand: the error message can be more user-friendly, similar to the improvement you made in https://github.com/Microsoft/vscode/issues/4343. For example, instead of "Attribute 'program' does not exist ('foo')", it might be better to say something like "File from 'program' does not exist ('foo')".

[2016-03-17 17:03] alexandrudima commented on #3797
@dbaeumer Is this fixed on the TS side on master?

I still get it in some cases such as pressing Enter twice:

![formatontype](https://cloud.githubusercontent.com/assets/5047891/13854171/78b5e13e-ec6a-11e5-9731-45d7dd386921.gif)

[2016-03-17 17:04] Tyriar commented on #4252
@bpasero I actually just ran into an `ENOSPC` when trying to build with `gulp watch` while running a single instance of `code ~`. Is watching the entire tree necessary? That's an enormous amount of files/processing when only a tiny subset of the files are likely being worked on.

[2016-03-17 17:04] bpasero commented on #4364
Too risky to touch this guy for GA imho.

[2016-03-17 17:05] weinand commented on #4341
@vsccarl thanks for trying to go through the #3960 tour (which was based on some Visual Studio tour and is not a good fit for VS Code).

I've verified that hitting a breakpoint in app.js on line `var app = express()` and in `routes\index.js` works fine.

For the TypeScript additional setup was necessary because the template does not include any support for transpiling ts to js and producing source

[2016-03-17 17:05] #4341 closed

[2016-03-17 17:06] bpasero commented on #4252
@Tyriar if you can find out any way to prevent this issue by increasing the file limit on Linux, we should update the existing entry at http://code.visualstudio.com/Docs/supporting/faq#_linux-faq

[2016-03-17 17:10] Tyriar commented on #4252
@bpasero Any reason the number is so small in the FAQ? It's apparently capable of much more http://stackoverflow.com/a/17437601/1156119

[2016-03-17 17:13] bpasero commented on #4252
@Tyriar good point! does it work with a higher number?

[2016-03-17 17:18] #4350 closed

[2016-03-17 17:18] chuckries opened #4378 "Debug: If debugging steps, stops, or restarts after a stopping event but before obtaining locals have finished, Loading graphic in the locals cannot be dismissed."
- VSCode Version: 0.10.11
- OS Version: Win10

![image](https://cloud.githubusercontent.com/assets/6598594/13854579/66b230b4-ec29-11e5-9c06-cdb889913a5a.png)

Steps to Reproduce: I was able to reproduce this using the C# debugger from the [C# Extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.csharp), but I believe it is a UI issue and should repro with any debugadapter.

1.

[2016-03-17 17:19] Tyriar commented on #4252
@bpasero yeah that fixes it. I'll update the docs, I'll also add how to load in the new config value without restarting.

[2016-03-17 17:20] bpasero commented on #4350
I changed the two console.error() calls in the file service to only fire when code is run with --verbose. The errors are harmless because they are ignored in the service. They can likely happen when there are so many events that some of them cause a file resolve although shortly after the file is already deleted. I would also think that changing our file watching strategy away from watching the en

[2016-03-17 17:20] Tyriar commented on #4252
Users should also be notified in a nicer way that this is how they increase the value. While we could do this set up as part of the .deb/.rpm packages, I would prefer to stay away from messing with global config files like that.

[2016-03-17 17:21] bpasero commented on #4252
@Tyriar nice, yes please update the docs. I think this is not a good situation to be in, so my suggested way forward is to reduce the number of file handles the watcher needs to install.

[2016-03-17 17:22] weinand commented on #4348
@jasonyueyang yes, that's a great suggestion. However, before starting to fix individual messages one by one, I think a native speaker should review all English messages in VS Code.

/cc @egamma @dbaeumer

[2016-03-17 17:24] Tyriar commented on #4252
@bpasero :+1:

Should you close this off (since it's solved by https://github.com/Microsoft/vscode-docs/issues/236) and make a new issue to explicitly stop watching entire directories trees when they're too large?

[2016-03-17 17:26] bpasero commented on #4252
I will leave this open and cleanup post GA, I have a bunch of watcher related issues for April.

[2016-03-17 17:44] bpasero commented on #4010
Removing this cache will make many file system related operations slow, including search. I verified that this cache is not being used as long as tmp is not expanded in the explorer. I would not think that having this explorer expanded is typical because there are so many empty folders added here that scrolling becomes a nightmare. I suggest to leave this as is for GA.