[2015-12-22 17:33] westy92 opened #1582 "Add Breakpoint Conditions"
It would be nice to be able to specify a condition for a breakpoint to be hit.

Similar to https://msdn.microsoft.com/en-us/library/5557y8b4.aspx#Anchor_8 and http://help.eclipse.org/mars/index.jsp?topic=%2Forg.eclipse.jdt.doc.user%2Freference%2Fbreakpoints%2Fref-condition_option.htm

[2015-12-22 18:25] isidorn opened #1584 "Hovering over new watch expression input box crops the end of input"
1. Create a new watch expression
2. While the input box is active hover over it, notice the end gets cropped

![screen shot 2015-12-22 at 19 24 02](https://cloud.githubusercontent.com/assets/1926584/11962651/ae33e2b0-a8e1-11e5-9deb-2bbb7fe4caf3.png)

[2015-12-22 18:25] Tyriar commented on #1578
This repros on Ubuntu 12.04 in both the find in file (<kbd>ctrl</kbd>+<kbd>f</kbd>) and search (<kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>f</kbd>) dialogs.

[2015-12-22 18:28] dgolub opened #1585 "URL containing parentheses not properly detected in Java comment"
If a URL such as http://msdn.microsoft.com/en-us/library/windows/desktop/aa365247(v=vs.85).aspx is included in a comment in a Java source file, Visual Studio Code won't properly detect where it ends, omitting the last six characters and resulting in a broken link.

[2015-12-22 18:33] Tyriar commented on #1581
Can't repro with <kbd>ctrl</kbd>+<kbd>f</kbd>, I think you mean <kbd>ctrl</kbd>+<kbd>h</kbd> for find and replace.

The tab order seems screwed up:

**Case 1:**

1. <kbd>ctrl</kbd>+<kbd>h</kbd> focus search term
2. <kbd>tab</kbd> focus replace textbox
3. <kbd>shift</kbd>+<kbd>tab</kbd> **focus close dialog button, expected to focus search term**

**Case 2:**

1. <kbd>ctrl</kbd>+<kbd>h</kbd> focus

[2015-12-22 19:16] heaths opened #1587 "Support file-type-specific settings"
In our project we have a number of files where tabs are strictly required (a format we do not control). However, we want to normalize tabs to spaces throughout the rest of the project.

For now, I just ask that people don't edit those files in VSCode. I even considered adding them to the ignore list for VSCode itself. But it's not uncommon to have file-specific settings, so I thought it would be n

[2015-12-22 19:59] gwynjudd commented on #1518
@bpasero yes that would be better, but it still seems weird that you have to do a search before fuzzy matching happens

[2015-12-22 20:07] latkin opened #1588 "'Find' silently fails after 1000 results"
If you search for something, Code only finds the first 1000 instances - it silently fails to navigate and/or highlight further instances.

This makes viewing/searching log files (which often have 10Ks or more instances) pretty much a no-go with Code.

![find1000](https://cloud.githubusercontent.com/assets/5943573/11964591/ac91a020-a8a3-11e5-8be0-c5a4f7331a91.gif)

[2015-12-22 20:09] latkin commented on #1588
This also leads to interesting results with 'Replace':

![replace1000](https://cloud.githubusercontent.com/assets/5943573/11964775/bdb1fb42-a8a4-11e5-98cb-8901cd420c5b.gif)

[2015-12-22 21:07] stevenmwade commented on #1228
@xeoneux I agree, this should be on the core editor.

[2015-12-22 21:09] NTMan commented on #1486
Ok, increasing `fs.inotify.max_user_watches` helps.
But very strange that Atom which based on Electron too not has such problem.

[2015-12-22 21:10] siegebell opened #1589 "extension cannot require('node-expat') (DLL initialization failed)"
Calling "require('node-expat')" results in "Error: A dynamic link library (DLL) initialization routine failed"

Platforms: tested with Windows 8.1 64 and x86 (virtual machine)
Versions: VSCode 0.10.5, Node.js 4.1.1 ia64 or x86; or Node.js 5.3.0 ia64 or x86, Python 2.7.11, node-expat 2.3.9, Visual Studio 2013 Ultimate (on ia64) or 2015 Community (on x86)

On my ia64 machine, I have attempted instal

[2015-12-22 21:12] aaronpowell commented on #1556
Wonder if it's worth mentioning that you _can_ use it, but you need to compile to ES6 so check what ES6 features are used and their Node.js support.

[2015-12-22 21:25] egamma commented on #1556
Yes, we should mention that you can use async/await, but with constraints.

[2015-12-22 21:42] Tyriar commented on #1588
Related: https://github.com/Microsoft/vscode/issues/331, https://github.com/Microsoft/vscode/issues/1110

[2015-12-22 21:45] stevenmwade commented on #1555
I can't even place them anymore. Using Node v5.0.

[2015-12-22 21:46] khrome83 opened #1590 "JSDoc Comment seen as code error in JavaScript"
The JSDoc comment ` * @param  {Array<string>} [plugins=['defaults']] - plugins to enables` shows a red underline below the `<` before string.

When clicking on the error/warning notice, it says `'}' expected.`
It is expected that code within a comment does not give error/warning notices for JavaScript

Using version 0.10.5 on Windows 10.

[2015-12-22 22:00] Tyriar commented on #1560
They're also deprecated in the [W3C recommendation spec](http://www.w3.org/TR/2011/REC-css3-color-20110607/#system-colors-def). Makes perfect sense to remove them imo.

[2015-12-22 22:03] mathiask88 commented on #1588
@latkin I know this is unrelated but can u tell me the program you used to create the animated gif? I am searching for a good one on windows machines :)

[2015-12-22 22:05] Tyriar commented on #1588
@mathiask88 I use [LICEcap](http://www.cockos.com/licecap/) on Windows.

[2015-12-22 22:13] weinand opened #1591 "improve source path matching"
the VSCode debugger architecture assumes that debugger, debug-adapter and VSCode sit on the same filesystem and refer to files through the exact same path.
This makes it impossible to use VSCode in remote debugging scenarios, e.g. Docker setups.

[2015-12-22 22:16] FremyCompany commented on #1581
Good catch. I meant CTRL+H indeed.

[2015-12-22 22:32] egamma commented on #1557
@bgse more [background](https://github.com/Microsoft/vscode/issues/60#issuecomment-161792005) on this topic.

CC @chrisdias

[2015-12-22 22:43] damerms opened #1592 "Used to work on Mt Lion 10.8.5"
Although, I can install it, nothing happens when I launch it. This may have happened after the last or upgrade before it. I ended up installing it. Still debating going to El Capitan.

[2015-12-22 22:47] isidorn commented on #1555
Can you please provide reproducable steps. In what file are you trying to place them?
Clicking on the margin does not show the breakpoint in the margin?
Do you try to place them during a debug session or before starting to debug.

Can you place them by clicking F9?

[2015-12-22 22:47] mathiask88 opened #1593 "Hint: Startup time improvement"
Hey,
node.js 0.10 and 0.12 were always compiled without v8 snapshotting due to a security reason that had been fixed and since io.js 2.x it should be enabled by default,  but due to a config mismatch it was not...until now ;) https://github.com/nodejs/node/pull/3962

Just want to give you this hint so that you can have a look at the effect on startup time in vscode if this patch arrives here (or i

[2015-12-22 23:13] ddotlic commented on #1470
If possible, this please.

Typescript colorization was great in 0.10.4, it's now again blend and dull in 0.10.5.

From @egamma comments I understand that this is intentional?

I'll use Monokai in the meantime (which I generally like), but please do consider having default themes as colorful as they were prior to 0.10.5, IMHO they strike great balance between "too much" and "too little" colors.

Th

[2015-12-22 23:20] isidorn commented on #1575
What exact keyboard shortcut validation are you refering to?
For inserting squiggles into the editor I am not even sure our json schema can support that. @aeschli is it possible to provide validation rules based on the value of a string field.

I propose that instead of having smart inteli-sense and light bulbs, we just automatically update the content of the launch.json for the user and show an i

[2015-12-22 23:24] isidorn commented on #1254
@alexandrudima thanks for the great pointers! Should we somehow reuse these utility methods? Or is it easier that I just mimic what you are already doing?

[2015-12-22 23:24] Matthijs-Wessels opened #1594 "[java] enum with values coloring is off"
The coloring of java enums if off when you add values. The strings in the below example will be colored as if it's code (i.e. 'Banana', 'Apple', 'Co' and 'Nut' are blue; and 'co' is white

[code]

[2015-12-22 23:30] weinand commented on #1575
@isidorn switch your OS X keyboard layout on to Swiss German and open the keyboard shortcuts. Then scroll through the list and you will see that some bindings show adornments (he basically looks at the keyboard strings and validates that they can be produced by the current keyboard layout) . Alex demoed this in the standup last week. @aeschli is out of the loop because this is semantic validation

[2015-12-22 23:35] #969 closed

[2015-12-22 23:37] stevenmwade commented on #1555
I am trying to place them in a router file (which has worked).
Neither clicking or hovering in the margin shows the breakpoints.
Both.

No.

[2015-12-22 23:46] mikeal opened #1595 "jsconfig in default user settings?"
I'm trying to figure out how to set better jsconfig defaults (without adding a new file to every project) but I can't figure out how to add them to the user settings files.

[2015-12-22 23:47] isidorn commented on #1555
What is the extension of the file? Can you attach that file so we try to reproduce the issue on our side?
What language mode do you see in the bottom right corner when you open that file?

[2015-12-23 00:11] TurkeyMan commented on #224
Tab management is an unconscious and uninhibiting part of my development. VS-proper has small discreet tabs, which are unintrusive (vscode already has the filename taking up space where the tab would otherwise be). I do agree that runaway tab spam is a problem, it might be nice to innovate and address this, but I'd say that's lower priority than having tabs at all. VSCode needs to reach a minimum

[2015-12-23 00:12] osser commented on #1501
me too.

[2015-12-23 00:20] latkin commented on #1588
@Tyriar "Screen 2 Gif" https://screentogif.codeplex.com/, it's awesome! I recommend the pre-release version, especially if you have DPI-scaled displays.

[2015-12-23 00:20] vadimcn opened #1596 "Tasks and commands integration from extensions"
There's a bunch of functionality in that is bound to tasks: the Ctrl-Shift-B shortcut, preLaunchTask in launch, etc.   On the other hand, language extensions cannot contribute tasks, only commands, and  as far as I can tell, there is no way to have a task invoke an internal VSCode command.

It would be nice if a language extension could supply a default build task for the language, either directly

[2015-12-23 00:21] stevenmwade commented on #1555
Aha, it was set to Javascript React, which is strange because it was set to that the first time it worked. I'll need to get rid of that extension, apparently.

[2015-12-23 00:21] #1555 closed

[2015-12-23 00:45] Xety commented on #224
It's the case for me. Actually i can't work without tabs. I'm working with tabs system since years, and without them, i'm really lost. This is one of the reason i'm not using Code actually.

:+1:

[2015-12-23 00:46] TurkeyMan opened #1597 "Filter for folder view, `.vsignore`?"
Code presents a directory tree on the left in the place where a project usually resides.
This is generally fine, but folders tend to become clogged with intermediate files, or ancillary files that are uninteresting, or unrelated to the project.
I would love to see a `.vsignore` feature - more or less like `.gitignore`, so that we can configure files and patterns that should be ignored in the direc

[2015-12-23 01:07] TurkeyMan opened #1598 "install extension is slow (needs caching?)"
Invoking the command `ext install` repeatedly is really slow.

When you invoke the command, a little blue line scrolls horizontally to show it's doing something (fetching the extension database?), and eventually displays a list of extensions you can install. Repeatedly invoking the command should cache this work from last time, but it seems to re-fetch (or whatever it's doing) every time, which is

[2015-12-23 01:11] vadimcn commented on #40
Oh, and if I report stops for all threads, the debugger UI seems to select which one to display as current randomly, which can lead to confusion as to which thread has caused the stop.
I've tried varying the order in which StoppedEvent's are sent, but that doesn't seem to change anything.

[2015-12-23 01:22] rhbecker commented on #406
The changes provided via the December release are probably sufficient, with respect to my suggestions.

The only thing that remains odd to me - and, based on his earlier comment, apparently @prasannavl as well - is that the <kbd>alt</kbd>+<kbd>c</kbd>, <kbd>alt</kbd>+<kbd>r</kbd>, and <kbd>alt</kbd>+<kbd>w</kbd> additions aren't scoped to a more specific context, such as `"when": "editorFocus && f

[2015-12-23 01:34] rhbecker opened #1599 "ctrl+shift+j yields "Cannot read property 'openViewlet' of undefined""
## explanation

The default keyboard shortcuts file contains:

[code]

So, I tried it out, but got an error.

## repro

1. Open search view (via <kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>f</kbd> or mouse click).
2. Attempt to use shortcut <kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>j</kbd>.
3. See error message: "Cannot read property 'openViewlet' of undefined".

## supporting info

* version: 0.10.5
* `--d

[2015-12-23 02:17] liril-net opened #1600 "Visual Studio Code has crashed"
I have updated my vscode today, and i can't launch it any more. So i download one from Microsoft, and then i get this message every time i open vscode, i have re-download it again and nothing works, i wanna know what should i do?
![screenshot 2015-12-23 at 10 16 35](https://cloud.githubusercontent.com/assets/16029685/11970000/46e9a07c-a95e-11e5-93bf-f762ea6a46d7.png)

[2015-12-23 02:20] isaosao commented on #1600
Yes, same as me, latest one has crashed. please provide previous version for downloading!!!!!!!

[2015-12-23 02:22] isaosao commented on #1600
the update hurts my work!!!!! crashed!!!

[2015-12-23 02:26] #1600 closed

[2015-12-23 02:30] pocesar opened #1601 "Parsing jspm configuration on package.json"
Would be really nice for vscode to use the definitions set by jspm in package.json to navigate through files (and find new typings when using Typescript)

[2015-12-23 02:36] isaosao opened #1602 "0.10.5 on mac crashed"
the latest version 0.10.5, get crashed cannot be used. where can download previous version?

[2015-12-23 02:48] meowtec commented on #1501
@osser
@iiunknown
see https://github.com/Microsoft/vscode/issues/1501#issuecomment-166100445

[2015-12-23 02:56] YvonneZhang commented on #1501
It works for me. :+1:

[2015-12-23 03:00] isaosao commented on #1600
do you solve it?

[2015-12-23 03:12] whwnow commented on #1078
Hi,  what more info do I need to provide? I'd like to do that, if  it's hlepful

[2015-12-23 03:26] liril-net commented on #1600
Change my keyboard as US help me to solve it.

[2015-12-23 04:03] liril-net commented on #1600
You can get more help at #1463 .

[2015-12-23 04:23] meinei1333 opened #1603 "When I use Chinese the VS code become very very slow !"
Every time when I switch to the Chinese input method my VS code become very slow and it only happen in this Version 0.10.5 (0.10.5).

[2015-12-23 04:30] be5invis commented on #1603
Maybe related to #1463

[2015-12-23 04:33] be5invis commented on #1308
And maybe the API can support more preview types, for example, TeX?

[2015-12-23 04:42] #1602 closed

[2015-12-23 05:43] elisee commented on #1487
Thank you so much! :heart:

[2015-12-23 05:46] mathiask88 commented on #1597
There is an entry in the settings for this "files.exclude".

[2015-12-23 06:05] calebboyd commented on #608
I believe this is still an issue. @Dynalon was referencing tsconfig but, the OP is for `async/await` in JS. which is still screaming.  Once this is fixed I can probably _actually_ use vscode! :+1:

[2015-12-23 07:18] yuanlinssdut opened #1604 "renderWhitespace not work when fontFamily is "Hack, monospace""
[code]

[2015-12-23 07:56] BleyChen commented on #578
@jrieken  which API Commands ,can you tell me ,thank you!

[2015-12-23 07:58] bpasero commented on #1551
Ok, it is likely that file watching fails for network shares.

[2015-12-23 08:10] nripendra opened #1605 "updating to vscode 0.10.5 issue with csharp-o"
Looking into [repository](https://github.com/Microsoft/vscode/tree/master/extensions), there is no longer folder named **csharp-o**.

![csharp-o](https://cloud.githubusercontent.com/assets/1594619/11973026/891bfd78-a97c-11e5-9335-8dcc84373dfa.png)

I manually deleted the folder and restarted vscode and issue is gone. So, problem looks like installer not removing that file.

[2015-12-23 08:24] bpasero commented on #1578
Hm, I wonder if we prevent the native menu from showing up in these places. @alexandrudima fyi

[2015-12-23 08:25] bpasero commented on #1581
+1 for shit tab to move back to input field!

[2015-12-23 08:26] bpasero commented on #1582
@isidorn fyi

[2015-12-23 08:27] bpasero commented on #1587
:+1:

[2015-12-23 08:27] bpasero commented on #1589
Yup, closing.

[2015-12-23 08:27] #1589 closed

[2015-12-23 08:28] bpasero commented on #1590
@khrome83 I cannot reproduce if I only use that comment, can you attach the full file?

[2015-12-23 08:29] jrieken opened #1606 "highlight matches in marker list"
Like so:

<img width="453" alt="screen shot 2015-12-23 at 09 28 46" src="https://cloud.githubusercontent.com/assets/1794099/11973220/95aa9c0e-a957-11e5-932b-ebc729b8d540.png">

[2015-12-23 08:29] bpasero commented on #1592
Yes, 10.8 is no longer supported.

[2015-12-23 08:29] #1592 closed

[2015-12-23 08:30] bpasero commented on #1593
@mathiask88 thanks, the node.js version we use depends on whatever Electron picks up, so I think eventually we will benefit from this change.

[2015-12-23 08:30] #1593 closed

[2015-12-23 08:31] bpasero commented on #1595
I guess this is not supported @jrieken

[2015-12-23 08:32] bpasero commented on #1597
Yes, thats the one :+1:

[2015-12-23 08:32] #1597 closed

[2015-12-23 08:32] bpasero commented on #1598
We improved this for 0.10.5. @joaomoreno fyi

[2015-12-23 08:33] jrieken commented on #1556
This is a good reference: https://nodejs.org/en/docs/es6/. Someone should implement a tslint/eslint rule that checks with that list

[2015-12-23 08:34] jrieken commented on #608
That's true. We have advanced the TS version but not yet the language service we use for JavaScript. That will come very soon. Stay tuned.

[2015-12-23 08:34] bpasero commented on #1599
@jrieken I can reproduce, somehow the viewletService is not defined in the command.

[2015-12-23 08:35] jrieken commented on #1590
@khrome83 Is this in a JS or TS file?

[2015-12-23 08:36] bpasero commented on #1603
Once we released 0.10.6, we need to revisit this issue and see if speed is still slow. i am not sure this is #1463 because that bug causes code to not even start.

[2015-12-23 08:36] bpasero commented on #1604
@alexandrudima I remember we talked about this once, I forgot the resolution though :)

[2015-12-23 08:37] jrieken commented on #1595
Nope. We have made ES6 the default and that's all we can do at this point. Once we have adopted project salsa we can revisit.

[2015-12-23 08:37] #1595 closed

[2015-12-23 08:37] bpasero commented on #1605
Yes, another user was also reporting that the installer was unable to delete the extensions folder. @joaomoreno fyi

[2015-12-23 08:39] itbaby commented on #69
In fact, if we use https proxy to get our contents from 191.238.172.191:443, we must add a tag like 'rejectUnauthorized': false in requests module. then all thing done.

[2015-12-23 08:39] jrieken commented on #1599
Good catch!

[2015-12-23 08:40] #1599 closed

[2015-12-23 08:41] bpasero commented on #224
So far I have not yet heard a good reason for tabs compared to having just a list of "working files" somewhere. Being able to take a file and drag it out into a new window is clearly not a benefit of a tab system, it is a feature which you can have without tabs.

Is it that people really want to open files in tabs, move them around and close them eventually? Is this because you are so used to it o

[2015-12-23 08:41] jrieken commented on #272
I will keep you in the loop once we sketch out the API for this.

[2015-12-23 08:44] kaiye opened #1607 "Keyboard shortcuts doesn't Prevent Default Action"
I have set a shortcut below:

[code]

VSCode does reveal the open file in Finder, however sometimes it also print a `ƒ` character which is unexpected.

![shortcut](https://cloud.githubusercontent.com/assets/344283/11973379/539731a0-a994-11e5-9630-de4834576c4f.gif)

[2015-12-23 09:05] Nicte commented on #224
Even if it is not by default, giving the user the choice to activate the tabs feature through some option would be almost as good for me.

For example, what about letting the user move/drag the "working Files" section to the top (converting them into tabs lets say). Again, the user may choose how he wants to work and I think that is great!

[2015-12-23 09:18] jrieken commented on #753
@pcgeek86 You should be able to do that by typing the filename. For Jan it will event look pretty:

<img width="900" alt="screen shot 2015-12-23 at 10 17 49" src="https://cloud.githubusercontent.com/assets/1794099/11973801/70e8eb6c-a95e-11e5-9ee7-fedc7de3491d.png">

[2015-12-23 09:18] #753 closed

[2015-12-23 09:19] #1606 closed

[2015-12-23 09:20] jrieken commented on #1166
Closing because we don't want the API to be used for extending other extensions. If, let's say you want to enrich TypeScript, you should use API that extension exposes.

[2015-12-23 09:20] #1166 closed

[2015-12-23 09:34] isidorn commented on #1582
This is in progress

[2015-12-23 09:36] jrieken opened #1608 "Jungle of editor abstractions and services"
We have many ways to talk about models and editors and while it might have made sense back then we should consider to consolidate them. Let's start by taking inventory:

On the service side we have:
1. IEditorService (in platform/editor/common)
2. IWorkbenchEditorService (in workbench/services/editor)
3. ICodeEditorService (in editor/common/services)
4. IModelService (in editor/common/services)

T

[2015-12-23 09:38] isidorn commented on #40
@vadimcn thanks for the feedback! We are aware of some of the issues you mentioned. Currently we are looking into improving/fixing issues around our thread architecture and this will probably be improved for our January release. Will keep you updated.

[2015-12-23 09:39] bpasero commented on #1608
Well for the workbench editor service there is not just code editors. There are other editors like the markdown preview, so we cannot just say the workbench editor service is just about code editors.

[2015-12-23 09:41] jrieken commented on #1608
One proposal I would make is to ditch the `IEditorService` from `common` and have the functionality be defined in `editor`. Then we can get rid of the useless abstraction of editors.

[2015-12-23 09:42] jrieken commented on #1608
@bpasero That's what I want to discuss. A preview is not an editor at all, but sits in the space an editor usually takes. And those editor that toggle in-place could maybe be modelled like the diff editor is

[2015-12-23 09:43] jrieken commented on #1608
Another thing we should explore/disucss and I admit I know little about it is whether we can do more with just URI and less with editor inputs

[2015-12-23 09:46] jrieken commented on #1466
Our current JS language service cannot do that yet

[2015-12-23 09:51] mysticatea opened #1609 "Wrong indentation of block comments."
Thank you for fixed #348.

Still, there is a case that `Indent` operation for block comments is wrong.

![wrong-indent](https://cloud.githubusercontent.com/assets/1937871/11974038/8f080372-a9a3-11e5-8ce7-644681273ad3.gif)

If there is a empty line in a block comment, after the empty line, a space followed by the first `*` on every line is lost.

We would often encounter this case if `files.trimTra

[2015-12-23 09:51] bpasero commented on #1608
+1 for talking, but maybe in person also when Alex is back :)

[2015-12-23 09:52] jrieken commented on #1608
+1

[2015-12-23 10:04] isidorn opened #1611 "Conditional breakpoint icon"
We need a nice icon to distinguish conditional breakpoints from regular ones. Some ideas:
* Use a different color, for instance gold (chrome debugger does something similar)
* Add a small question mark to the corner of the current breakpoint.svg

In both cases we would need one for light theme and one for dark theme

@stevencl suggestions welcome

[2015-12-23 10:04] #1045 closed

[2015-12-23 10:05] TurkeyMan commented on #1598
I'm on 0.10.5. Can't comment on whether it's improved from prior versions, but it's still not 'fast'.

[2015-12-23 10:11] jrieken commented on #540
Could be as simple as having a function in the `QuickPickOptions`, like so

[code]

[2015-12-23 10:13] jrieken commented on #1381
related to #540.

We could extend the `InputBoxOptions` to allow to provide a validator

[2015-12-23 10:15] TurkeyMan commented on #1597
Found it. Thanks!

[2015-12-23 10:43] johnhoow commented on #1501
Yes, it really work!

[2015-12-23 10:58] Franziskus1988 opened #1612 "No coloring of function return value types in interfaces"
[code]
[code]

[2015-12-23 11:04] Beingbook commented on #608
as @jrieken  mentioned, other javascript extension supports es7 functions.
@calebboyd temporally, you could fix it change extension `jsx` from `js`

[2015-12-23 12:47] khrome83 commented on #1590
@jrieken this is a JS file.

[2015-12-23 12:49] khrome83 commented on #1590
@bpasero this is happening in a different file as well, but it is varied about "when" it happens.

In the below code, only ` * @returns {ATSNode<TextNode>} text node` causes it.
[code]

[2015-12-23 12:53] khrome83 commented on #1590
![issue](https://cloud.githubusercontent.com/assets/1844739/11976795/81e1a94e-a941-11e5-8813-9893adff0e8b.PNG)

Here is a screenshot of the issue, showing the red underline.

[sample.txt](https://github.com/Microsoft/vscode/files/70776/sample.txt)

This is the JS file from the screenshot example. I renamed it to text to upload it.

[2015-12-23 12:54] felixfbecker opened #1614 "Allow to save files that need user elevation"
I often need to edit config files (MySQL, PHP, Apache, ...) in directories like C:\Program Files that require administrative rights. When you open them with code and save the file it says "Permission denied". So I have to run Code with right click as administrator and then choose "open file" to open the file. Once, it is not possible to simply drag&drop the file into the elevated Code. The other p

[2015-12-23 13:16] jrieken commented on #1590
Good catch. The JS parser tries to resolve some JSDoc constructs but doesn't seem to understand generics

[2015-12-23 13:33] RedWolves opened #1615 "Relative HTML image tags in markdown are not working"
I think this relates to #803 but seems to be a bit different (or an update hasn't been deployed with the fix).

I have a project that is the entire web site and within there is a folder where we draft blog posts in markdown.  So the folder structure looks like this:

[code]

When I try to reference this image in html it appears as a broken image:

[code]

in dev tools I see it's looking for the im

[2015-12-23 14:33] zackexplosion commented on #1501
This really works!

[2015-12-23 14:42] spongessuck commented on #1138
I have a development server on my domain that's running Bonobo Git Server set up to use Windows authentication. My credentials work everywhere except in VS Code. I get a similar authentication error with the trailing slash.

[2015-12-23 15:03] edvinv opened #1616 "Launch/Debug multiple configurations at once"
In launch.json you are able to define multiple launch configuration but you can only select one to run with F5. Is there a way to launch two configuration with single Debug command? I want to start and debug server side node app and also use chrome debug extension for client side, all from same VSC instance.

thx

[2015-12-23 15:06] peiyucn commented on #1463
Same as me, Chinese keyboard layout.

[2015-12-23 16:00] kfranqueiro commented on #224
For me it's not so much the appearance of tabs as the behavior of them that I miss.  (For example, you can get Sublime Text to look kind of like VS Code in that you can hide the tab bar and show the open files in the sidebar instead...but they still behave exactly like the tabs do.)

The first thing I ever do with VS Code is swap its close file and close active editor keyboard shortcuts, so that c

[2015-12-23 16:10] bpasero commented on #224
Yes, I can see a model where the editor area behaves similar to tabs without showing tabs. We want to explore this next year.

Btw there is an extension that - once you close an editor - opens the next one from working files. If you combine that with changing the keybinding as @kfranqueiro suggests, you get pretty close imho.

[2015-12-23 16:10] bpasero commented on #224
Here is the link: https://marketplace.visualstudio.com/items/bigous.file-smart-reopener-vscode

[2015-12-23 16:15] bpasero commented on #1615
Please use markdown for now as workaround.

[2015-12-23 16:17] bpasero commented on #1616
@isidorn fyi

[2015-12-23 16:17] gep13 opened #1617 "Snippet for Markdown File"
I am trying to create a snippet for Markdown file, but nothing I seem to try is working.

These are the steps that I have followed:

1. Open Visual Studio Code
1. Open a markdown file, i.e Readme.md
1. Press F1, type snippet, select `Create Snippet`
1. Entered the following:
[code]
1. Saved the file, and then went back to the markdown file, and typed `gep13` but  the snippet never appears.

Any id

[2015-12-23 16:17] bpasero commented on #1423
@alexandrudima fyi

[2015-12-23 16:17] bpasero commented on #1424
@alexandrudima fyi

[2015-12-23 16:18] bpasero commented on #1476
@alexandrudima fyi

[2015-12-23 16:18] bpasero commented on #1477
@alexandrudima fyi

[2015-12-23 16:18] bpasero commented on #1490
@alexandrudima fyi

[2015-12-23 16:18] bpasero commented on #1493
@alexandrudima fyi

[2015-12-23 16:18] bpasero commented on #1515
@alexandrudima fyi

[2015-12-23 16:18] bpasero commented on #1546
@alexandrudima fyi

[2015-12-23 16:18] isidorn commented on #1616
Currently this is not supported. In order to do this you need to open two instances of vscode

[2015-12-23 16:18] bpasero commented on #1596
@dbaeumer fyi

[2015-12-23 16:43] egamma commented on #1617
This works for me, notices the top-level {} that you seem to have removed, they are required.

[code]

[2015-12-23 16:43] #1617 closed

[2015-12-23 16:51] gep13 commented on #1617
@egamma sorry, but I also have those:

![image](https://cloud.githubusercontent.com/assets/1271146/11980782/37fbb64a-a995-11e5-8740-36f5a9c7a5d0.png)

Can you confirm exactly what you mean by working?  I have an expectation that when editing any file with a `.md` or `.markdown` extension, that when I type `gep13` I should have an option to expand that into the snippet, but that is not happening fo

[2015-12-23 16:54] silverbp commented on #1591
:+1:

[2015-12-23 16:56] egamma commented on #1617
The gep13 snippet shows up when I edit a markdown file.

Here are my steps:
- preferences>user snippets
- select `markdown` in the quick box
- add the snippet to the file that opens

Now open a markdown file
- type `gep` and press `ctrl-space`, the snippet shows up.

[2015-12-23 16:58] gep13 commented on #1617
Ah, interesting, the `Ctrl-Space` is required.  In the Latex extension, and the Cake extension, the snippets there seemed to automatically appear, without the need for pressing `Ctrl-Space`.  What magic is happening in those extensions to make that just work?

For example, in the Latex extension, I was able to type `cha` and the snippet appeared automatically, without the need to press `ctrl-space

[2015-12-23 17:07] rnordin100 commented on #1591
Nice

[2015-12-23 17:11] silverbp commented on #1591
this isn't just source path mapping btw, it doesn't support remote debugging for node either although maybe that's done on purpose and isn't a lot of work to re-enable/enable that.

[2015-12-23 17:40] bpasero commented on #1055
I am making progress on this feature request. I would like to avoid showing the dirty indication in the workbench at all cost because imho that is distracting. However this means, if you have configured auto save delay to be 10 seconds, the file will not be saved after that time without indication to the user. Any feedback on this is appreciated.

[2015-12-23 17:41] bpasero commented on #353
I am making progress on this feature request. I would like to avoid showing the dirty indication in the workbench at all cost because imho that is distracting. However this means, if you have configured auto save on focus change, the file will not be saved until one of these conditions without indication to the user:
* you switch to another file or close the file
* you quit the app
* you move to a

[2015-12-23 18:00] weinand commented on #1591
@silverbp yes, remote debugging requires more (for one, node's debug port cannot be accessed externally so a proxy or forwarding mechanism is always required).
But this feature-request is only about the path matching aspect.

[2015-12-23 18:02] mikeal commented on #1595
what is project salsa?

[2015-12-23 18:26] Foysal94 commented on #1508
Really wish this is fixed ASAP. Its not breaking but it is incredibly annoying to work with. The error message blocks the top and the name of files and just a headache to view

[2015-12-23 18:27] jaminroe commented on #1508
@foysal94 I know right! They're working on it though based on the status changes

[2015-12-23 18:56] rotemdan commented on #1161
Using the 'write to a copy, then rename' technique to achieve more atomic writes is a useful and viable solution but I wanted to also mention some additional, alternative approaches based on the file system itself. These would provide a more 'thorough' solution to the issue, and would also apply to other text editors and external tools (compilers, code generators, refactoring tools etc.).

First,

[2015-12-23 19:18] rkeithhill commented on #1493
FWIW the next update to PowerShell's line editor (PSReadline), which supports multiline editing, will support Ctrl+Enter to insert line above and Ctrl+Shift+Enter to insert line below. https://github.com/PowerShell/PSReadLine/pull/6

[2015-12-23 20:05] PeterJausovec commented on #878
We own the docker extension for VS Code (https://github.com/microsoft/vscode-docker) and as I mentioned earlier, we would like to provide support for files that match the pattern `dockerfile*` (e.g. Dockerfile.dev, Dockerfile-blah, etc.). We want all files that match the pattern above to have the same features as the current Dockerfile pattern has. For example, if I open a `dockerfile` in VS Code

[2015-12-23 20:31] VinditCo opened #1618 "0.10.3 build"
Has anyone got a copy of 0.10.3 (OSX)? The new version (0.10.5) breaks OmniSharp for me. Version 0.9.2 (from the wiki) works fine. Sadly no newer versions have been posted there..

Many thanks

[2015-12-23 20:32] glen-84 opened #1619 "Toggle Whitespace Visibility (editor.renderWhitespace command)"
I like to be able to quickly toggle whitespace visibility (editing a JSON file is not ideal), but it doesn't seem like there is a command associated with the editor.renderWhitespace setting, so I'm not able to create a keyboard shortcut.

See also: https://visualstudio.uservoice.com/forums/293070-visual-studio-code/suggestions/7894491-toggle-whitespace-visibility

[2015-12-23 20:39] VinditCo commented on #1618
Found here : https://az764295.vo.msecnd.net/public/0.10.5/VSCode-darwin.zip

[2015-12-23 20:39] #1618 closed

[2015-12-23 20:46] tonyeung commented on #1055
@bpasero I don't know if any indication is needed. This setting isn't something most people are going to change, I think. Those who do make the change should be aware that there is a delay.

If some sort of indication is really needed, perhaps something along the lines of number of dirty files? It would be similar to how the git icon has the number of modified files. The number of modified files s

[2015-12-23 21:04] pcgeek86 commented on #753
@jrieken Awesome, thanks. Seems a little confusing that the default would be to show errors from all files, but that might just be me. :)

Cheers,
Trevor Sullivan

[2015-12-23 21:15] rotemdan commented on #1161
There's a very good summary of various crash resistence properties of common file system in this paper:

[All File Systems Are Not Created Equal: On the Complexity of Crafting Crash-Consistent Applications](https://www.usenix.org/conference/osdi14/technical-sessions/presentation/pillai)

![Persistence property chart](http://i.imgur.com/rmyaY25.png)

Unfortunately `ReFS` is not included in the pape

[2015-12-23 21:22] RedWolves commented on #1615
Yeah I used markdown to make sure I called the image right then used html because the image needs to be 100%.  Once I know the image was good I could live with the broken image.  That was my workaround for now.

[2015-12-23 21:22] bpasero commented on #1055
I just find it interesting that other editors seem to keep all dirty indicators but save after some condition. That is not really a benefit to me, I really like that I also do not have to see any dirty indicators whatsoever because the application takes care of it.

[2015-12-23 21:24] bpasero commented on #1161
Good summaries, thanks. One gotcha with rename is that at least on Windows you cannot rename across different drive letters. So it is good to keep the temporary file outside of the workspace to prevent the issues of file watchers (external tools) picking it up, but you cannot just store it in the default tmp location if the target workspace is on a different drive.

[2015-12-23 21:46] latkin opened #1620 "Line indent doesn't handle leading whitespace properly"
Indenting a line with leading whitespace seems to have some corners that need ironing out.  It appears to be attempting something smart about tab-stop alignment, but it should really just be dumb and indent all lines the same.

e.g.
![screen shot 2015-12-23 at 1 42 16 pm](https://cloud.githubusercontent.com/assets/5943573/11985572/05ae03e2-a97b-11e5-9c29-9c59e8131adb.png)

![screen shot 2015-12-23

[2015-12-23 21:56] egamma commented on #1595
pls see https://github.com/Microsoft/TypeScript/issues/4789

[2015-12-23 22:01] egamma commented on #1617
Yes this is an inconsistency. Full extensions get auto (7x24) completion by default (e.g. latex, cake), some built-in extensions like Markdown do not.

[2015-12-23 22:02] gep13 commented on #1617
@egamma gotcha, ok, so the world makes sense again, at least for now :smile: Thanks for all your help with this!

[2015-12-23 22:05] weinand opened #1621 "adopt new Source attribute "origin""
Source objects returned for internal modules or inlined source now have a new attribute "origin". For normal sources this attribute is missing.

[2015-12-24 00:05] weinand commented on #619
fixed by PR https://github.com/Microsoft/vscode-node-debug/pull/31

[2015-12-24 00:06] weinand commented on #798
fixed by https://github.com/Microsoft/vscode-node-debug/pull/31

[2015-12-24 00:30] BenWeedon opened #1622 "Output window sometimes doesn't display output"
When running a task (I'm running the default build task), and the output editor panel is closed, it sometimes opens up empty. I don't notice this bug if the output editor panel is already open and I run Ctrl+Shift+B; I only notice it when the panel is closed and Ctrl+Shift+B opens it up.

This does not happen every time, but I notice it most frequently (about 90% of the time) when the task being r

[2015-12-24 01:03] richardtallent opened #1623 "Tab in CSS editor after colon creates errant autocomplete"
**Bug:** When editing a CSS file, using the tab key after a colon inserts the characters `:;` rather than actually inserting the tab. Similar expansion bugs occur when pressing tab before the colon, or after any selector.

**What should happen:** a tab character should be inserted, or if the user has chosen to expand tabs to spaces, the appropriate number of spaces.

**Steps to reproduce:**
Enter

[2015-12-24 01:52] silverbp commented on #1591
Somewhere along the line node is no longer binding the debug port to 127.0.0.1, because you can now get to it externally, at least on node 5.0+. I was using balance to forward the port out of the container, but it's no longer required. I guess I was referring to the fact that vscode no longer supports an address property when attaching to a node process.

[2015-12-24 01:53] silverbp commented on #1591
for instance with node cli, I can do: `node debug 192.168.99.100:5858` but vscode only lets you attach to a port and doesn't let you specify the address.

[2015-12-24 02:05] pconklin opened #1624 "Debugger does not function correctly when file is not selected"
When the file you are debugging is not selected, it briefly will flash to the file you are debugging, then go back to what was selected with an error "unable to open 'XXX': Invalid arguments".  The debugger still continues to work as expected, but the file does not gain focus until you manually do so.  Debugger is an EXE.  Attached is a log of the JSON back and forth from VS Code and my EXE.
[test

[2015-12-24 03:35] hellogavin commented on #869
It's grate!!!

[2015-12-24 03:36] BleyChen opened #1625 "Suggestions for search function in vscode"
it's very convenient for me to search keywords in vscode , but When I clear the search keywords, it does not clear the search result .
![n1](https://cloud.githubusercontent.com/assets/15098626/11989069/6344324e-aa32-11e5-883b-15be56755d5f.png)
![n2](https://cloud.githubusercontent.com/assets/15098626/11989070/6a1debaa-aa32-11e5-935a-ad8176bac575.png)

[2015-12-24 03:39] TurkeyMan opened #1626 "Platform and Configuration selectboxes"
We need the platform and configuration selectboxes like vs-proper so we can easily switch between builds and platforms.

I would suggest that they each simply be populated with entries listed in `settings.json`, and set environment variables such that build actions declared in `tasks.json` can refer to them and do the right thing.

[2015-12-24 04:03] lukehoban commented on #1580
The specific problem that I observed with this was that after changing the line endings in VS Code UI, the offsets reported back from `document.offsetAt` appear to be incorrect.  As far as I can tell extensions can't reliably work around this.

[2015-12-24 04:14] gclifford commented on #1552
I was also getting this when running on Ubuntu. I was trying to attach to a standard expressjs app and it would not hit any of the break point. If I used Launch it worked fine.

[2015-12-24 04:22] TurkeyMan commented on #224
Sure, it may be possible to do it in a different way... but why? Unless you have some significant improvement or innovation to offer.

Yes

Partly habit, but also because nobody has presented anything significantly superior yet. Innovation should present a significant advantage if it's going to insist that people fight and retrain against their decades old habits.

I'm not quite sure I understand

[2015-12-24 04:37] TurkeyMan opened #1627 "Native debugging"
VSCode doesn't seem to support native debugging (gdb? lldb? windbg?)
This is a massive hole.

[2015-12-24 05:17] unnamedcrewman opened #1628 "OSX system services shortcuts not recognized"
I'm really enjoying working with VSCode, and appreciate the work going on here.  One issue I'm having (OSX El Capitan) is that VSCode doesn't seem to recognize some of the system wide services keyboard shortcuts I've set up to work with text from any application.

I have some System Services that run scripts, which I activate via a mouse menu, and those work fine.  I have others that I activate vi

[2015-12-24 05:46] rpanjwani commented on #1106
There was no file. I had just been coding into a file for a while without saving it. I turned on auto-save feature afterwards, but I think it should be on by default.

[2015-12-24 05:47] rpanjwani commented on #1106
@bpasero I had just been coding on a file for a while without saving it. I think auto-save should be on by default.

[2015-12-24 06:03] MulderLiu commented on #1463
update 0.10.6

[2015-12-24 06:16] jwulf commented on #1465
I guess the simple thing is that "what gets recognised gets repeated".

So you can reward contributions with recognition and it's an easy and infinite currency for you to spend on building the community. :-)

Here's an example from a Red Hat security update: https://rhn.redhat.com/errata/RHSA-2015-1539.html

The original issue trackers are still restricted under the security embargo, but I'd wager

[2015-12-24 06:22] jwulf commented on #1465
So one possibility would look like:

"Thanks to a request by @akamud, there is now...."

"Thanks to an idea from @akamud, there is now..."

"Thanks to a contribution from @akamud, there is now...."

"Thanks to a suggestion from @akamud, and code contributions from X and Y, there is now...."

It's about recognising the behaviours that you want repeated in a visible way. People will get ideas from s

[2015-12-24 06:32] hiaw opened #1629 "Allow to set a default language mode for file without extension"
There are many files which does not have extension but still need syntax highlighting. My example is [Fastlane](https://github.com/fastlane/fastlane) where I would need Ruby language syntax highlighting for the extension-less files.

I can set it manually for each file but if I navigate away and come back, it's back to plain text again. It would be a good customisation option.

[2015-12-24 06:33] eunchan opened #1630 "word moved the direction when arrow key pressed after type Korean letter"
I've installed VSCode 0.10.6.
When I typed Korean letter, the text pane color was changed to black.
Then if I didn't put space before move my cursor, Korean words follows the cursor.
For example, if I typed {A} word then move cursor to next line, {A} is placed in next line not the previous cursor position.

[2015-12-24 06:35] mgs96 commented on #490
Hello, I'm having the same issues, already followed the [Stackoverflow](http://stackoverflow.com/questions/32639393/authentication-failed-on-the-git-remote) post but it didn't work.

 I don't have any problem with editing the code in VSC and then using the CLI or the GitHub desktop to sync my repos but It would be great if this issue is solved, the last update didn't solved it.

thanks

[2015-12-24 07:09] wwfifi opened #1631 "can css editor expend/un-expend code?"
if css have mutiple @media marks and so many style items, coding jump is hard.
if css code can expend/un-expend, may make it easy.

[2015-12-24 07:13] yuanlinssdut opened #1632 "javascript code analysis error by comment"
![image](https://cloud.githubusercontent.com/assets/7608992/11991064/bfab838e-aa50-11e5-9d2c-f52dd54bc6a4.png)
![image](https://cloud.githubusercontent.com/assets/7608992/11991069/ca57a9de-aa50-11e5-9d1c-bd835dcaf8cf.png)
![image](https://cloud.githubusercontent.com/assets/7608992/11991072/d47da756-aa50-11e5-913e-6bf2ba88571d.png)

[2015-12-24 08:20] bpasero commented on #1106
Makes sense. The only solution I can see is to frequently perform backups of the file so that a state can be restored later.

[2015-12-24 08:21] bpasero commented on #1106
https://github.com/Microsoft/vscode/issues/1161 is related and having a backup solution would fix both things.

[2015-12-24 08:31] Nicte commented on #224
+1 @TurkeyMan

[2015-12-24 08:33] bpasero commented on #224
In the VS Code team, we have been working without tabs and without working files since the beginning (4 years) and we are not missing anything. So, personally I do agree that the working files section is wasted space and I keep that section collapsed. However, we also work with auto save enabled and usually do not care about dirty files. Working files was introduced primarily to give dirty and unt

[2015-12-24 08:36] glen-84 commented on #1631
Duplicate of #105?

[2015-12-24 08:50] bpasero commented on #1622
Not sure if this is because of wrapping logic or something else, starting with @isidorn

[2015-12-24 08:52] bpasero commented on #1624
Not sure I follow the issue, please follow up @isidorn

[2015-12-24 08:52] bpasero commented on #1625
We leave the search results because you might want to start a new search based on some results. There is still an action to clear the search results in the top right corner.

[2015-12-24 08:52] #1625 closed

[2015-12-24 08:54] bpasero commented on #1626
@TurkeyMan please give an example what you want.

PS: I am not sure why you say vs-proper, it is fine to say VS and everyone in the team will understand.

[2015-12-24 08:54] bpasero commented on #1627
@weinand fyi

[2015-12-24 08:56] bpasero commented on #1628
@unnamedcrewman out of curiosity, does it work if you bind a simpler shortcut that is not yet taken by VS Code?

@alexandrudima fyi

[2015-12-24 08:58] bpasero commented on #1631
Yup.

[2015-12-24 08:58] #1631 closed

[2015-12-24 09:20] #1055 closed

[2015-12-24 09:20] #353 closed

[2015-12-24 09:20] #1211 closed

[2015-12-24 09:22] bpasero commented on #1055
The delay is now configurable from the new `files.autoSaveAfterDelay` setting.

[2015-12-24 09:22] bpasero commented on #353
This can now be configured with the new `files.autoSaveAfterFocusChange` setting.

[2015-12-24 09:23] bpasero commented on #1211
This has landed and will be available in the January release. Two new settings are available: `files.autoSaveAfterFocusChange` and `files.autoSaveAfterDelay`.

[2015-12-24 09:50] TurkeyMan commented on #224
Your image appears to be unnecessarily exaggerating the issue; unrealistically narrow window, diagonal tab edges, way too much text in the tab, dot on the right ;)
vs-proper nails the tabs beautifully, and there's no reason not to roll with small discreet tabs as it does.

I'm a very liberal Ctrl-Tab user when it's applicable, but you can't use Ctrl-Tab unless you're actively editing no more than

[2015-12-24 10:00] TurkeyMan commented on #1626
Okay, it seemed to me like VS is ambiguous now.

I just want to be able to flip platform and config with a selectbox, exactly like in VS.
My projects often span 4-5 platforms, and have at least 3 configurations per platform.
If that matrix could be configured in the project's `settings.json`, and then `tasks.json` could refer to those variables, it would be possible to configure convenient multi-p

[2015-12-24 10:19] MatthiasWueest opened #1633 "Shortcut zoom doesn't work"
The Shortcut "Zoom in" (ctrl +) and "Zoom out" (ctrl +-) doesn't work. Direct over the Menu using the mouse  it works.

[2015-12-24 10:22] Onlytanya commented on #1573
Thanks,@jrieken.

[2015-12-24 10:28] weinand commented on #1591
@silverbp yes, we've removed the address attribute because earlier versions of node did not support external addresses and it was confusing users. I've created https://github.com/Microsoft/vscode-node-debug/issues/32 to add the "address" attribute back for the January drop.

[2015-12-24 10:30] DerTolleEmil commented on #1579
One more update, although that's probably not too surprising: The file was saved on an NTFS partition.

[2015-12-24 10:32] weinand commented on #1627
@TurkeyMan VSCode and the debug architecture are extensible and open source. Expect that native debugging will come as additional extensions.

[2015-12-24 10:32] #1627 closed

[2015-12-24 11:01] DerTolleEmil commented on #1579
Sorry, one more: Code also allows me to save files with a trailing space or using reserved names like (tested by launching code.bat with the filename as a parameter, ie. ``code.bat "test "``)

nul, com1, com2, com3, com4, com5, com6, com7, com8, com9, lpt1, lpt2, lpt3, lpt4, lpt5, lpt6, lpt7, lpt8, lpt9, con, conIN$, conOUT$, prn, clock$

I'm sure there are more DOS devices that cannot be used as

[2015-12-24 11:10] DenSmoke opened #1634 "[sql] syntax highlighting error"
Problems with ' '
![f](https://cloud.githubusercontent.com/assets/16131575/11993935/7015f930-aa50-11e5-857d-e862ff373182.PNG)

[2015-12-24 11:34] saelfaer opened #1635 ""files.trimTrailingWhitespace" setting ignores the current line"
As it stands today, he `files.trimTrailingWhitespace` setting, clears empty spaces at the end of all lines other than the current line. however this behavior is odd.

The only reason I can think of for doing this, is when you tab to start your line at the right position and then would be thrown back to pos0 if you should happen to save there.

however if you have written an entire line, or copy pa

[2015-12-24 11:38] rotemdan commented on #1161
@bpasero

I went into the node/libuv source code to see exactly how `rename` is implemented:
It seems that in windows it is [using the `MoveFileExW` API call](https://github.com/libuv/libuv/blob/bddd6a8489e4c8cf47841de6f05becd99fc06f3e/src/win/fs.c#L1215) (with the `MOVEFILE_REPLACE_EXISTING` flag), documented [here](https://msdn.microsoft.com/en-us/library/aa365240%28v=vs.85%29.aspx), so at least

[2015-12-24 11:50] saelfaer commented on #1635
ignore this issue, i just went to look in the code and found something about auto saving, Immediately saw that I am working on an earlier version 0.10.3, so After updating I noticed this is no longer an issue as it was fixed in #466

[2015-12-24 11:50] #1635 closed

[2015-12-24 13:17] klaidliadon opened #1636 "Selection and selection matches highlight color"
![image](https://cloud.githubusercontent.com/assets/5322228/11994989/fbd7909e-aa48-11e5-8335-7a342f9b2341.png)
It's really hard to tell which is the selected text and which are the selection matches.

[2015-12-24 13:44] kendaleiv opened #1637 "Better defaults for files.trimTrailingWhitespace"
Using vscode for TypeScript with the default setting I've found I get all kinds of trailing spaces appearing.

At least in one case (markdown) end of line whitespace is important to allow, though. Not sure what kind of complexity that adds.

Basically, this issue boils down to **it's nice when the defaults 'just work'.**

However, this might be something for https://github.com/Microsoft/vscode-edi

[2015-12-24 14:37] rotemdan commented on #1161
An alternative to atomic file overwrites is to simply keep a timestamped backup for files that are frequently being edited, in some dedicated location (say: in the application data folder). There are should be at least one valid backup of the file at any given time. For example:

[code]

After every new backup is created and flushed to disk with `fsync` (an atomic write/rename/flush sequence would

[2015-12-24 15:09] bpasero commented on #1161
Yes, we do use `fs.writeFile()` API of node to save a file and we never leave any file handles open. We also avoid any parallel access to files when writing, so I do not think this would be an issue.

Using the atomic write strategy is not a 100% guarantee to never loose data, but it reduces the chance of a failing write.

Watchers would receive a delete and create event and some are smart enough

[2015-12-24 15:10] bpasero commented on #1633
You are likely on a german or swiss keyboard layout. If so, please assign a keyboard short cut to these commands manually.

[2015-12-24 15:10] #1633 closed

[2015-12-24 15:10] rotemdan commented on #1161
I edited my comment but I would post this again:

The automated backups could even be applied to unsaved files, and the editor can then compare the file date of the actual file to its backup. If the backup is newer it may ask something like 'a unsaved version of the file has been automatically stored, would you like to load it?' (I'm aware auto-save should cover some of the scenarios where this is

[2015-12-24 15:12] bpasero commented on #1626
VS = Visual Studio, VS Code = Visual Studio Code or just Code is fine.

Thanks for the explanation, @dbaeumer fyi

[2015-12-24 15:13] bpasero commented on #1161
Yes I would totally do backups of dirty files as well as it would be the fix for #1106. In fact I will close that one as duplicate of this one and rename this one.

[2015-12-24 15:14] bpasero commented on #1106
Closing as duplicate of #1161

[2015-12-24 15:14] #1106 closed

[2015-12-24 15:15] bpasero commented on #1512
@MrSkinny we now have 0.10.6 published, do you still get this?

[2015-12-24 15:19] bpasero commented on #1481
This is actually #1615 it seems.

[2015-12-24 15:19] #1481 closed

[2015-12-24 15:30] MiguelLattuada opened #1638 "Why my VS Code version is consuming too much memory?"
**I have three questions:**
- first of all why do I have eight process of VS Code?
  ![code](https://cloud.githubusercontent.com/assets/5618566/11995879/20900ce8-aa37-11e5-9a59-5042827a6715.png)
- then why VS Code is consuming something like 522096KB of memory? Isn't that too much?
- and last, if electron allow 64-bit build why VSC still target 32-bit ?http://electron.atom.io/docs/v0.36.0/developm

[2015-12-24 15:44] bpasero commented on #1579
Good reference: https://en.wikipedia.org/wiki/Filename

[2015-12-24 15:47] unnamedcrewman commented on #1628
Thanks for the quick response.

I rebound the shortcut to `ctrl+cmd+H` which is not listed, as far as I can tell, among the default keyboard shortcuts.  My "append selected text to file" script/Service works fine with these keys in Sublime Text, as well as text highlighted in the browser and so on.  However this key-binding still fails to work from VSCode.  I tried several other key binding combos

[2015-12-24 17:03] Ghayyas opened #1639 "VS CODE not Compiling My Code.."
I Pressed CTRL+SHIFT+B its not Compiling my ts code to js
I Run tsc app.ts It also not Compiling my code..its given me some unknown errors.. TS1005 Dont Know what is it??

[2015-12-24 17:10] mattiamanzati opened #1640 "Why is spread operator marked as error?"
Is it unsupported? Have I to switch some jsconfig.json flag?

Thanks for any help!

![image](https://cloud.githubusercontent.com/assets/13787614/11996710/44b59b38-aa69-11e5-92ea-f685f579d021.png)

[2015-12-24 17:15] tonyeung commented on #1055
@bpasero  thanks! this will be in the January release?

[2015-12-24 17:40] bpasero commented on #1055
@tonyeung yes!

[2015-12-24 18:08] rkeithhill commented on #1403
This fix apparently didn't make the December (0.10.6 update).  Hopefully it will make the next update?

[2015-12-24 19:36] roblourens opened #1642 "gulpfile.hygiene on Windows"
I'm using Windows with `core.autocrlf=true` which means that files in my working directory have CRLF line endings, but are converted to LF when I commit. But I can't commit because the hygiene check fails because it sees the CRLF endings.

I got around it by converting the file to just use LF, but is there a recommended workflow for Windows environments? Working entirely in LF might work but inevi

[2015-12-24 22:00] jimfoye commented on #1569
Related: if you press and release the Alt key, the menu does not retain focus, as it does in standard Windows applications. Normally you can press the Alt key, then press other keys to begin navigating the menu. Pressing the Alt key again would toggle focus away from the menu and back to whatever originally had it. In Code, as soon as you release the Alt key, the menu lose focus.

[2015-12-24 23:41] sainthkh opened #1643 "Python loop syntax highlight."
In Python for loop, "in" should be syntax-highlighted. But it is just plain text.

Example:

for list in lists:
    do_something(list)

"in" in code above should be syntax-highlighed, but it is not.

[2015-12-25 03:43] EmYeuCoGiao opened #1644 "Auto generate triple slash comments with parameters"
I use VSCode for unity3d dev, i type /// but this not auto gennerate
<code>
///<summary>
///
///</summary>
///<param name=""></param>
</code>
![capture](https://cloud.githubusercontent.com/assets/14220005/11999614/a40d4bae-aaf4-11e5-96ce-064b8b02bb7e.PNG)

[2015-12-25 04:22] mobi12 opened #1645 "I think VS Code C++ synatax don't good"
like head file, can't synatax.

[2015-12-25 05:36] exp0nge commented on #1559
Also having this issue, especially when using `else`.
![image](https://cloud.githubusercontent.com/assets/11747245/12000204/8d9ea20a-aa9f-11e5-9b66-7332283fc5cc.png)

[2015-12-25 07:28] NotAdam opened #1646 "Disabling windows' recycling bin causes file deleting to fail"
It will fail every time showing the error:
[code]
and won't delete until you use the `Delete Permanently` option in the error message

[2015-12-25 10:13] bpasero commented on #1639
@Ghayyas what version of typescript did you install?

[2015-12-25 10:17] bpasero commented on #1644
This is currently not supported as far as I know.

[2015-12-25 10:17] bpasero commented on #1645
@mobi12 can you attach an example?

[2015-12-25 10:18] bpasero commented on #1646
@NotAdam so you explicitly turned off the recycling bin on windows?

[2015-12-25 10:26] EmYeuCoGiao commented on #1644
Thanks you for reply :+1:

[2015-12-25 11:57] DenysYefimenko opened #1647 "IntelliSense breaks when joining 'var' declarations with 'yield' keyword."
var variable1 = yield instance.generatorFunction(), variable2 = yield [[here IntelliSense stops recognizing presence of 'instance']]

[2015-12-25 12:25] MrSkinny commented on #1512
Sorry have been out of commission last few days.

@bpasero sha256 of file I am currently receiving from code.visualstudio.com - `78d333e1e7ae9bffc84fa1c6a0dbc3e8530d85b62c3b318e6687eefec2b3ddf9` - pls verify is 0.10.6?

I have uploaded the original 'suspect' file to Dropbox link below that initiated this thread and causes the 'damage your computer' install warning with sha256:  `eab49cfce612f66e66

[2015-12-25 12:37] sarbbottam opened #1648 "How to configure IntelliSense in Visual Studio Code?"
How to configure IntelliSense in Visual Studio Code?

For example, lets consider the below code snippet.

[code]
I would like the IntelliSense to suggests the available methods on `React`, when I press `cmd + space` after typing `React.`.

Is that possible? If yes any pointer would be of great help.

**PS:**

I have already installed the `dependent modules` and updated the `package.json` and they

[2015-12-25 12:49] sarbbottam opened #1649 "Execute a program (Node.js)"
Since debugging feature is already available, is it possible to use the same  for executing the program from a context menu (right click) or via command palette or key bindings.

[2015-12-25 13:53] Ghayyas commented on #1639
Its 0.10.6

[2015-12-25 14:00] meritozh commented on #1648
https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/react

[code]

Restart, then, you can get intellisense

[2015-12-25 14:31] Johnaka commented on #780
![untitled](https://cloud.githubusercontent.com/assets/11838212/12003385/230f6826-ab3e-11e5-8583-2ac0ddfc4609.jpg)
![untitled2](https://cloud.githubusercontent.com/assets/11838212/12003386/2314ebfc-ab3e-11e5-9b22-9356a74007ff.jpg)

[2015-12-25 14:37] Johnaka commented on #780
downloaded and installed v-10.05
noticed that in v-10.05 no highlighting
some time later new version has arrived
tried to update it told me
(Error) The setup files are corrupted. Please obtain a new copy of the program.
╫

[2015-12-25 16:49] wilsonmarkj067 opened #1650 "[jsx] Mark occurrences on embeddded html: Select open and closing tag"
In large files, it is very difficult to identify the closing tag. When the cursor is present inside the opening tag, only closing tag should be highlighted.

[2015-12-25 21:11] bloudraak opened #1651 "Detect Language Mode from Modeline Comment"
I use Vagrant a bit. The file `Vagrantfile` is extensionless and as a result is shown as plain text.  The file is actually a ruby script.  You can see it in the comments; something vim and vi support.

[code]

It would be extremely useful if VisualStudio Code could honor those settings and display the file in the correct language mode. It would even be better if other settings, like tab length etc

[2015-12-25 23:12] sarbbottam commented on #1648
Thanks @meritozh, is there no way to achieve it w/o `tsd`?

[2015-12-26 03:44] dstorey opened #1654 "[css] calc() is not in IntelliSense or syntax highlight"
calc is not included in css.plist so it is not coloured:

![screen shot 2015-12-25 at 7 36 57 pm](https://cloud.githubusercontent.com/assets/465069/12005036/16603be0-ab3f-11e5-98aa-46c835bfb7f2.png)

(no values are coloured in latest Dec update but that is a different issue.)

It is also not included in the auto complete suggestions. (although as a by product of lengths being valid values, at leas

[2015-12-26 03:49] dstorey opened #1655 "[CSS] Vendor prefixes are not syntax highlighted in property names"
![screen shot 2015-12-25 at 7 47 55 pm](https://cloud.githubusercontent.com/assets/465069/12005051/5e12a62a-ab40-11e5-96dc-334a21f745d8.png)

I think this is related to an issue Atom fixed in their repo:
https://github.com/atom/language-css/commit/6e3e60632f36e304e18f1f3a5581753c73286ddb

[2015-12-26 03:56] dstorey opened #1656 "[CSS] Syntax highlighting no longer works for property keyword values and functions"
Before Dec update:

![screen shot 2015-12-25 at 7 54 16 pm](https://cloud.githubusercontent.com/assets/465069/12005061/54abec08-ab41-11e5-8330-4ed4adae99a4.png)

After:

![screen shot 2015-12-25 at 7 54 42 pm](https://cloud.githubusercontent.com/assets/465069/12005062/5a3ab38e-ab41-11e5-9457-034bb64b5284.png)

As you can see, while the property names are highlighted, the values are the same whethe

[2015-12-26 05:52] NotAdam commented on #1646
Yep.

[2015-12-26 05:54] meritozh commented on #1648
@sarbbottam You must need `*.d.ts` files, so you get the definitions directly from the [Github repos](https://github.com/DefinitelyTyped/DefinitelyTyped). `tsd` is just a tool. If you want implement intellisense without something like a (typescript) definition file, you can see these  issues: #957 and Microsoft/TypeScript#4789

[2015-12-26 06:18] pspi opened #1657 "Don't try to content assist in comments"
Don't try to content assist / perform intellisense when writing a comment. Really really annoying, when every other word pops up suggestions. Don't want it.

Dupe of #538 that got closed but not fixed really though.

[2015-12-26 06:19] pspi commented on #538
Reopen since it's not fixed?

[2015-12-26 06:45] sarbbottam commented on #1648
Almost duplicate of #957

[2015-12-26 06:45] #1648 closed

[2015-12-26 07:35] Arebee88 opened #1658 "Patch gave me issues that persist in fresh install..."
[C:/Users/Robbie Blair/.vscode/extensions/eg2.tslint]: Cannot read file C:/Users/Robbie Blair/.vscode/extensions/eg2.tslint/package.json: ENOENT: no such file or directory, open 'C:\Users\Robbie Blair\.vscode\extensions\eg2.tslint\package.json'

I dont know what eg2 is.. presumably if I installed the extension itd go away???

[2015-12-26 07:37] Arebee88 commented on #1658
It's remarkable how often I want to go screw around with some code just to have VSCode throw shit in my way.

[2015-12-26 09:24] nidhinmtw commented on #69
+1 Same error connect ETIMEDOUT 191.238.172.191:443 error.

Version 0.10.3

[2015-12-26 10:43] dstorey opened #1659 "[css] @namespace is not syntax highlighted"
Works correctly in the parser for linting and in Intellisense, but isn't syntax highlighted as missing from css.plist

![screen shot 2015-12-26 at 2 37 41 am](https://cloud.githubusercontent.com/assets/465069/12006056/9bc57176-ab79-11e5-8cd7-bc98db523dff.png)

Syntax should be:

 namespace
    : NAMESPACE_SYM S\* [namespace_prefix S_]? [STRING|URI] S_ ';' S*
    ;
  namespace_prefix
    : IDENT

[2015-12-26 10:50] crperlin opened #1660 "Hope: Add a generic function && enhance"
- Minimap
![image](https://cloud.githubusercontent.com/assets/8272877/12006051/7a250c80-abff-11e5-898d-8512e6fc1827.png)

- keyword code goto (sublime -> ctrl+p [input #])

![image](https://cloud.githubusercontent.com/assets/8272877/12006063/1b68e22e-ac00-11e5-9ee3-615cbde205b4.png)

- bookrmark goto( ctrl+f2 set/unset bookmark , f2 goto next bookmark , shift+f2 goto last bookmark)

![image](https

[2015-12-26 11:41] louy opened #1661 "Issue in indentation when formatting consecutive objects"
There's a very annoying issue when hitting "format code" in a TS file. Here's an example:
[code]
becomes:
[code]

This gets really annoying when you have large nested objects containing things like functions etc...

[2015-12-26 13:11] fariyAhill opened #1662 "Provide a way to clear the recent documents list"
On mac OSX dock, right click on code will show a list files' name opened recently,how can I clear them?

[2015-12-26 14:49] OshotOkill commented on #1645
@bpasero He says head files are not being highlighted in .cpp files while I haven't met this problem.

![1](https://cloud.githubusercontent.com/assets/6079112/12006848/efe60ef6-ac22-11e5-8ec8-3a93a7f77d6d.PNG)

[2015-12-26 15:48] onionhammer commented on #1411
:+1:  Just witnessed this as well.

[2015-12-26 16:11] simonh1000 commented on #1601
Yes, I'd like this too http://stackoverflow.com/questions/34462132/vs-code-cant-use-jspm-packages-systemjs-cant-see-angular2-ts-files

[2015-12-26 17:18] dstorey commented on #1659
IDENT is also needed for @keyframes, so would be good to add it in a way that can be reused, rather than defining it twice.

[2015-12-26 21:16] prateekbhatt opened #1664 "[Typescript React] tsconfig.json is ignored"
I have added the "jsx" flag to "compilerOptions", in the tsconfig.json file, at the root of the project directory:

`tsconfig.json` :

[code]

Yet building the app via VSCode Command-Shift-B ignores these settings, and the output is:

[code]

I have checked by compiling directly via the command line such as:
`tsc --jsx react ABC.tsx`
and it works fine there.

It seems that all the configs in the t

[2015-12-26 23:21] jpoon commented on #1605
+1 got the same error. Deleting that folder made the error go away.

[2015-12-26 23:50] diimdeep opened #1665 "Some releases have a __MACOSX folder inside"
https://github.com/caskroom/homebrew-cask/issues/16149#issuecomment-167371320

Netherlands
[code]

Russia
[code]

[2015-12-27 01:12] nchammas commented on #1467
It also seems that highlighting for Python built-in functions is broken:

![screen shot 2015-12-26 at 8 11 23 pm](https://cloud.githubusercontent.com/assets/1039369/12008492/e340c1e8-ac0c-11e5-902c-94b94334d519.png)

This is on Code 0.10.6.

[2015-12-27 01:13] nchammas commented on #1643
Probably related to #1467.

[2015-12-27 03:45] prateekbhatt commented on #1664
ok, the default `args` param in the `tasks.json` `tsc` task was conflicting with the tsconfig.json params. So, once I commented that out, it works.

[2015-12-27 03:45] #1664 closed

[2015-12-27 04:13] sarbbottam opened #1666 "Provide an option to insert a final newline"
Something similar to  `insert_final_newline = true`.

[2015-12-27 07:34] daviwil opened #1667 "${file} variable should change when active editor pane switches to a different file"
It appears that the `${file}` variable can be used in `launch.json` configurations to determine the "program" to be run when the user starts the debugger.  A couple users of the PowerShell extension have discovered that this variable will have the file path of the first opened file in the workspace.  However, if they switch active files this variable does not change, meaning that the debugger will

[2015-12-27 08:50] lwsrbrts opened #1668 "Markdown previewing for code blocks breaks when 1st line is square bracket"
A picture speaks a thousand words. First screenshot, Markdown previewing is incorrect and ordered numbering is subsequently broken also as a result of the first line of the code starting with an open square bracket. When the open square bracket is replaced with another character (a number 1 in the second screenshot), the preview works fine.
![markdown preview with square bracket](https://cloud.git

[2015-12-27 12:00] meritozh commented on #69
+1 Same error `getaddrinfo ENOTFOUND localhost:8123 localhost:8123:8123`

Version 0.10.6

[2015-12-27 16:58] rielz opened #1669 "[C++] final and override keywords are not correctly identified"
The C++11 specifiers [`final`](http://en.cppreference.com/w/cpp/language/final) and [`override`](http://en.cppreference.com/w/cpp/language/override) are missing in the C++ syntax file.
They are context specific keywords, so they must not always be classified as a keyword.

Ironically they are present in the [C syntax](https://github.com/Microsoft/vscode/blob/master/extensions/cpp/syntaxes/c.plist#

[2015-12-27 20:13] wmaurer opened #1670 "Ability to escape $ and { characters in snippets"
Snippets use the ${} syntax, but this is also valid Javascript/Typescript syntax for string interpolation, and this can create a conflict.

For example, I've defined a snippet as follows:

    "rxjs .do(x => console.log(`${JSON.stringify()}`))": {
        "prefix": "rxdoj",
        "body": [
            ".do(x => console.log(`${JSON.stringify($1)}`))"
        ],
        "description": "rxjs .do(x

[2015-12-27 21:52] weinand opened #1671 "adopt conditional breakpoint support"
I've added conditional breakpoint support to the debug protocol and node-debug.
To adopt this, please do the following:
In addition to the "lines" attribute of the SetBreakpointsArguments structure, provide the "breakpoints" attribute as well: for each breakpoint just pass the "line" attribute and an optional "expression" attribute.

In the future we will drop the "lines" attribute.

see Microsoft

[2015-12-27 22:09] weinand commented on #1552
@igorvaschuk @gclifford could you please try to use a non-default debug port for the express app, e.g. something like "node --debug=5555 bin/www" and then modify the launch config in VSCode to the same port. In my experiments I've seen a problem with the standard 5858 debug port.

[2015-12-27 23:50] bobzhang commented on #446
+1, the other options like codemirror or ace does not even come close compared with typescript playground

[2015-12-28 02:35] yuanlinssdut opened #1672 "something wrong with the Syntax highlighting (javascript)"
![image](https://cloud.githubusercontent.com/assets/7608992/12013274/21861b5a-ad4e-11e5-925c-e89283f9fb9e.png)

[2015-12-28 03:09] ywmail commented on #1320
http.proxy has been set, and http.proxyStrictSSl has been set to false. Still get the error:

unable to verify the first certificate: Error: unable to verify the first certificate
    at Error (native)
    at TLSSocket.<anonymous> (_tls_wrap.js:1000:38)
    at emitNone (events.js:67:13)
    at TLSSocket.emit (events.js:166:7)
    at TLSSocket._finishInit (_tls_wrap.js:567:8)

[2015-12-28 06:04] meinei1333 commented on #1603
 I upgrade to Version 0.10.6 (0.10.6) that cant't open when use Chinese input method was fixed,
but sometime VS code still become slow I don't sure it whether about Chinese input method.
I wrote ES6 and in IOS 10.11.2.

[2015-12-28 07:41] bpasero commented on #508
I tried to reproduce on Windows 10, Mac OS 10.11 and Ubuntu 15 without luck. I am suspecting an out of memory issue but for none of the above the memory was increasing much.

Can someone try to reproduce this with the following conditions:
 * does it reproduce when opening just an empty instance of code (File | Close Folder)
 * does it reproduce when opening a workspace but not opening any file in

[2015-12-28 07:56] bpasero commented on #1512
@MrSkinny I see a __MACOSX folder inside the zip file which I do not find in the latest release. I think this is a folder that some zip programs add. Could it be that you downloaded the release, unzipped it and then zipped it again to compute the MD5 hash? If so, please download the release and run the MD5 hash directly without unzipping.

[2015-12-28 07:57] #1495 closed

[2015-12-28 07:57] #1512 closed

[2015-12-28 07:58] #1547 closed

[2015-12-28 07:59] bpasero commented on #1603
With this little info it is very hard to understand if there is any issue. Do you not see the slowdown when keeping the input method to english?

[2015-12-28 07:59] bpasero commented on #1639
@Ghayyas I meant which version of typescript.

[2015-12-28 08:00] #1645 closed

[2015-12-28 08:02] bpasero commented on #1649
You can debug the program also via keybinding: F5

[2015-12-28 08:02] #1649 closed

[2015-12-28 08:04] bpasero commented on #1658
Not sure what happened here, maybe @egamma knows how the update could cause this.

[2015-12-28 08:05] bpasero commented on #1660
@crperlin please open individual issues for individual feature requests.

[2015-12-28 08:05] #1660 closed

[2015-12-28 08:05] bpasero commented on #1661
I guess this needs to be reported against TS.

[2015-12-28 08:10] louy commented on #1661
So all code formatting is done in the tsserver? There are a couple of other issues as well.

[2015-12-28 08:10] bpasero commented on #1665
@diimdeep can you directory compare the 2 zips to see what is different?

@chrisdias we need to understand why you would get different archives from different regions. One suspicion I have is that maybe the cache was not yet updated worldwide and we uploaded new bits to an existing release.

[2015-12-28 08:11] bpasero commented on #1667
@isidorn fyi

[2015-12-28 08:12] bpasero commented on #1668
@lwsrbrts can you attach the markdown?

[2015-12-28 08:13] bpasero commented on #1670
I think this is possible @alexandrudima ?

[2015-12-28 08:14] bpasero commented on #1672
@yuanlin-ssdut more info please

[2015-12-28 08:15] diimdeep commented on #1665
@bpasero
[code]

[2015-12-28 08:18] lwsrbrts commented on #1668
Sorry, that would have been the intelligent thing to do in the first place. :)

https://raw.githubusercontent.com/lwsrbrts/PoSHue/master/README.md

[2015-12-28 08:24] bpasero commented on #1668
Thanks!

[2015-12-28 08:26] bpasero commented on #1665
Again this __MACOSX folder which gets added by some zip programs on Mac. I suspect that we replaced a release and the CDNs have not yet all been updated.

[2015-12-28 08:49] bpasero commented on #1662
Somehow I cannot get this list to be cleared, filed: https://github.com/atom/electron/issues/3932

[2015-12-28 09:08] KenavR commented on #69
+1 Same `getaddrinfo ENOTFOUND myproxy:8080 myproxy:8080:8080`

Updated to Version 0.10.6

[2015-12-28 09:26] greybax opened #1673 "Supporting ruler settings"
Ruler settings would be helpful for showing end of row text.
**Sublime text**:
![1234](https://cloud.githubusercontent.com/assets/3235047/12016568/ae2bb45c-ad5d-11e5-8a91-c8ef43c7a0cb.png)

[2015-12-28 09:37] #1667 closed

[2015-12-28 09:38] isidorn commented on #1667
Nice catch. I was doing some ovewriting of cached configurations in configuraiton service thus getting stale ones.

[2015-12-28 09:56] BleyChen opened #1674 "Allow to customise content of completion items"
Now i want to use the treeview in my vscode plugin, whether i can copy the folder from vscode source and use it in my plugin?

[2015-12-28 09:58] jasabalete commented on #1138
The new versión of VSCode WORKS :)

Thanks and go on!

[2015-12-28 10:57] shanalikhan1 commented on #1409
u found any solution to this problem ?

[2015-12-28 11:04] isidorn commented on #1624
@pconklin the description is not very clear to me
* what is your use case? Are you building a new debug adapter?
* can I somehow reproduce this issue on my side?

The file only gets focus if you vscode gets a stopped event for that file.

[2015-12-28 11:13] DerTolleEmil commented on #1646
Beware that this might have nothing to do with disabling the recycle bin but rather the Electron bug which has also been mentioned here: https://github.com/Microsoft/vscode/issues/1485

I have my recycle bin enabled and I am also unable to delete files. I guess we won't know until Electron gets fixed.

[2015-12-28 11:19] DerTolleEmil commented on #1646
Small update: I remembered that I still have the installer from VSCode 0.10.1. I disabled my recycle bin and at least with 0.10.1 deleting files works as expected (they get deleted permanently without any errors). It's an old version for sure but at least at some point disabling the recycling bin worked.

[2015-12-28 12:23] bpasero commented on #1646
Windows 7?

[2015-12-28 12:26] DerTolleEmil commented on #1646
Yep, Win7 x64 fully patched.

[2015-12-28 12:55] drywolf opened #1675 "Can not place breakpoints in .tsx files"
As the title says, placing breakpoints in .ts files for debugging works fine, but in .tsx files there is no way to place breakpoints or use them for debugging the TypeScript/JSX code.

[2015-12-28 13:02] luisantoniojr commented on #391
Hi! I had the same issue, when i tried the option, open in terminal, with right click of the mouse on any file. I'm using vscode 0.10.5.

[2015-12-28 13:07] bpasero commented on #1646
Ok this is #1485

[2015-12-28 13:07] #1646 closed

[2015-12-28 13:16] bpasero commented on #1673
@alexandrudima fyi

[2015-12-28 13:16] bpasero commented on #1674
We currently do not allow for UI access from extensions.

[2015-12-28 13:35] ZombieProtectionAgency commented on #1672
@bpasero If I had to guess I would think they are talking about the variables highlighting. on line two `$this` should be one color.

[2015-12-28 13:57] BleyChen commented on #1674
The plugin what I want to implement has following requirement:
As you know, vscode will popup an completionitemlist when user type JavaScript in vscode, what my plugin want to do is show external information for each completionitem when user switch between each completionitem, but now I have not found any API can meet my requirement , so I suppose whether I can change the vscode source to provide

[2015-12-28 15:06] #1582 closed

[2015-12-28 15:06] #1671 closed

[2015-12-28 15:10] bpasero commented on #1672
Right, my guess too.

[2015-12-28 15:11] bpasero commented on #1674
Ok so would you want to show this information inside the completion item list? Like a JSDoc comment?

[2015-12-28 15:17] isidorn commented on #1611
At the moment I am using an orange icon to get user feedback

[2015-12-28 15:30] pconklin commented on #1624
I am building a new debug adapter.  I quickly wrote a wrapper for the mockdebug
and found my issue.  somewhere along the way my int for the line number was
getting cast to a string.  This was causing the odd behavior i was seeing (the
quick flash of the actual source as well as the error).  Correcting this to an
Int resolved the issue.  You can reproduce by doing the following

have at least 2 scr

[2015-12-28 15:35] #1621 closed

[2015-12-28 15:43] isidorn commented on #1624
If I understand properly sending the expected value (a number) fixes the issue, correct me if I am wrong. So i believe this is expected behavior since we are currently not checking any of the values passed from the adapter for validity.

The underlying issue happens when the wrong line number gets propagated all the way down to our editor service which complains that it can not open a line number

[2015-12-28 15:43] #1624 closed

[2015-12-28 15:44] weinand commented on #1671
@isidorn It is not obvious that the breakpoint context action "Edit Breakpoint" allows to create conditional breakpoints. I suggest to rename to "Edit Breakpoint Condition"

[2015-12-28 15:50] isidorn commented on #1671
In the future the breakpoint widget might provide additional options for editing a breakpoint, so that is why I choose the general name. We can use the 'edit breakpoint condition' now, but then we might need to rename it in the future.
Also chrome uses the same name, so chrome users would not be surprised.

[2015-12-28 16:00] #1675 closed

[2015-12-28 16:01] isidorn commented on #1675
@weinand now I am allowing users to set breakpoint in javascript react and typescript react files, e.g .jsx and .tsx

[2015-12-28 18:09] jamesxv7 commented on #490
Hi, I'm experience this issue too. I'm willing to help. Please let me know how.

[2015-12-28 18:27] oshalygin opened #1677 "ES6 Intellisense in TypeScript file?"
Can't quite figure out why I'm not getting intellisense for ES6 features in a TypeScript file.

I'm fairly certain it is related to the *lib.d.ts* file that is used in the typescript source files. For reference this is located in:

_C:\Program Files (x86)\Microsoft VS Code\resources\app\extensions\typescript\server\typescript\lib_

I noticed that the same folder contains lib.es6.d.ts. When going t

[2015-12-28 19:13] dpodder commented on #487
I patched the grammar with a fix for these in pending PR #1678
![issue-487](https://cloud.githubusercontent.com/assets/2354388/12023973/c0d9b3e0-ad64-11e5-935a-31c43fcb7f60.png)

[2015-12-28 19:43] chrisdias commented on #1665
We had an issue with the 0.10.6 CDN caching so we created a new endpoint (note "0.10.6**-release**"):

https://az764295.vo.msecnd.net/public/0.10.6-release/VSCode-darwin.zip

i'll remove the 0.10.6 release.

[2015-12-28 19:43] #1665 closed

[2015-12-28 20:13] TheColorRed opened #1679 "Trim Trailing Whitespace Breaks Markdown"
When this is set to `true`

    "files.trimTrailingWhitespace": true

trailing spaces get removed at the end of the line in `md`/`markdown` files. By default, two spaces in markdown is the same as a `<br>`. When saving the file with that setting, those two spaces get removed and it changes the output of the markdown.

[2015-12-28 21:02] felixfbecker commented on #1590
@khrome83 actually, you are using invalid JSDoc syntax. In JSDoc, a generic is notated with a dot:
[code]

[2015-12-28 21:07] felixfbecker commented on #1472
+1. I'm often working on my Surface Pro 3. While scrolling with touch is working great, this is kind of annoying. But please, please, please, if you implement something for this, make it so that the keyboard does _not_ pop up when I am _not_ in tablet mode on Windows 10.

[2015-12-28 21:15] BenAffleckIsBatman commented on #69
+ 1 - same issue here. After settting proxy in settings.json I can browse the list of extensions but not installing it with error getaddrinfo ENOTFOUND.

[2015-12-28 21:17] felixfbecker commented on #744
Yes please. Along with syntax highlighting for git commit messages and hunks (`git add -p`).

[2015-12-28 21:18] felixfbecker commented on #706
I have an extension that is 80% finished: https://www.github.com/felixfbecker/vscode-php-debug

[2015-12-28 21:35] Nedilko opened #1680 "There is constant error that VS Code can not read file csharp-o"
[c:/Program Files (x86)/Microsoft VS Code/resources/app/extensions/csharp-o]: Cannot read file c:/Program Files (x86)/Microsoft VS Code/resources/a

[2015-12-28 21:55] tucker-m commented on #1673
I'd definitely like to see this as well -- it's the reason I asked [this question](https://stackoverflow.com/questions/34444872/accessing-the-editors-dom-in-a-visual-studio-code-extension) about plugins changing the interface. I'd be nice if one of the options was for it to match the `editor.wrappingColumn` setting.

[2015-12-28 22:01] khrome83 commented on #1590
@felixfbecker I will give that a shot, thanks

[2015-12-28 22:07] khrome83 commented on #1590
@felixfbecker that did remove VSCode from showing the error.

Do you have a link to where in the JSDoc this is shown? All examples I have seen so far, in my code and others, do not use a `.`.

[2015-12-28 22:09] nchammas commented on #978
As of 0.10.6, this isn't happening for me anymore.

@rhires / @awgeorge - What about you?

[2015-12-28 22:17] felixfbecker commented on #1590
@khrome83 heres the documentation: http://usejsdoc.org/tags-type.html

[2015-12-28 22:19] felixfbecker commented on #1590
But imo validation for jsdoc comments is a feature, not a bug. I think it wont do any validation if you start your comment with `/*` and not `/**` ;)

[2015-12-28 22:25] felixfbecker opened #1681 "Full support for Java"
Please improve IntelliSense for Java. Currently, there are only suggestions based on words. As Java is a strictly-typed language, there should be symbol, IntelliSense, rename-symbol and find-all-references support like in C# and TypeScript.

Java is _the_ beginner language nowadays to teach (object-oriented) programming (even at universities) and many beginners need a code editor that is not a ful

[2015-12-28 22:28] felixfbecker commented on #1657
Imo word suggestions are often quite helpful. For example when I make a comment like "this is later called by ..." and VS Code automatically suggests the long method name as I type.

[2015-12-28 22:38] zachlysobey opened #1682 "File Explorer file-sorting seems wrong?"
Is there any reasonable way files are supposed to be sorted?

*This lead me to belive that it was sorted by file extension*:

![screen shot 2015-12-28 at 5 25 35 pm](https://cloud.githubusercontent.com/assets/1310403/12026607/8c42b4f4-ad89-11e5-996c-828df54f616d.png)

*but this proved that theory wrong*:

![screen shot 2015-12-28 at 5 33 22 pm](https://cloud.githubusercontent.com/assets/1310403/12

[2015-12-28 22:52] khrome83 commented on #1590
@felixfbecker its only showing the error on the first instance of a file, not the remaining lines.
Also it is giving the incorrect fix. It is not "validating" the comment, but instead perceiving the comment as JS.

Also valid JSDoc uses `/**` to start, not `/*`, so this would just introduce a different problem.

[2015-12-29 00:55] cable729 opened #1683 "[C#] Syntax Highlighting not working fully"
For the latest version of vscode (0.10.6), my syntax highlighting for C# is broken. I don't know if this is a temporary file issue, or something else. I tried reinstalling vscode, but it didn't help.

![image](https://cloud.githubusercontent.com/assets/1524578/12027895/79e350be-ad8b-11e5-904d-1f1af47311fc.png)

I would expect `ICloneable` to be highlighted, as well as `Class1`, `MyEnum`, and the `

[2015-12-29 01:07] Risurz opened #1684 "The text goes beyond the window"
Open any text file and resize window in the horizontal direction.

![vscode_bug_textgoesbeyondwindow](https://cloud.githubusercontent.com/assets/6478549/12028004/3b0e291c-adfa-11e5-91ec-5e277116971b.png)

[2015-12-29 02:01] jamesxv7 commented on #1449
I'm having the same problem with version 2.5.1.windows.1. This [issue](https://github.com/Microsoft/vscode/issues/490) mention something about Github Desktop authentication.

[2015-12-29 02:21] NickHeiner commented on #384
Looks like this has been implemented: https://code.visualstudio.com/Updates#_file-picker-improvements-and-fuzzy-search

[2015-12-29 02:42] BleyChen commented on #1674
Yes , what i want to do is append an button inside each completion item ,and when user want to see sample ,he can click show sample button and then will expand an fixed height with scrollbar area to show sample for the completion item .
![aabbbddd](https://cloud.githubusercontent.com/assets/15098626/12028805/64a6621c-ae18-11e5-96cf-6c0a666d6208.png)

do you know how to expose this api , i am resea

[2015-12-29 05:56] bpasero commented on #1674
There is currently no API to do this. Best you can probably do is to provide the text for a completion item that will show when the item is highlighted.

[2015-12-29 06:03] bpasero commented on #779
Documented here: https://code.visualstudio.com/docs/extensions/testing-extensions#_running-tests-automatically-on-travis-ci-build-machines

[2015-12-29 06:03] bpasero commented on #118
Documented here: https://code.visualstudio.com/docs/extensions/testing-extensions#_running-tests-automatically-on-travis-ci-build-machines

[2015-12-29 06:40] bpasero commented on #1677
@oshalygin did you configure tsconfig.json to be ES 6?

[2015-12-29 06:41] bpasero commented on #1679
Well I think we need language specific setting overrides which we have a feature request already for.

[2015-12-29 06:41] #1679 closed

[2015-12-29 06:41] bpasero commented on #1680
@Nedilko can you try to delete the Microsoft VS Code folder and reinstall fresh to see if that fixes the issue?

[2015-12-29 06:41] #1680 closed

[2015-12-29 06:42] bpasero commented on #1681
Sounds like a good area for an extension.

[2015-12-29 06:43] bpasero commented on #1682
I think we tweaked this quite heavily...

[2015-12-29 07:41] zry656565 commented on #1515
So hope that Code can support such a useful feature.

[2015-12-29 07:45] bpasero commented on #1382
Also seeing this.

[2015-12-29 07:47] tonn2y opened #1685 "customer javascript object.it's properties isn't in suggestions."
![1](https://cloud.githubusercontent.com/assets/2756249/12031114/4a8e6476-ae43-11e5-8302-05d91f266815.jpg)

[2015-12-29 08:12] cdes opened #1686 "[c#] Storage type highlighting not working for my classes"
I'm using the VSCode Version 0.10.6 (0.10.6).
Default dark theme.

Here's a sample code:
[code]

Here's an image:
![screen shot 2015-12-29 at 11 13 02 am](https://cloud.githubusercontent.com/assets/1207863/12031503/c113e952-ae1d-11e5-85bf-361487e95dc9.png)

Here's a video demonstration:
https://www.youtube.com/watch?v=VpRPJc42FZQ

[2015-12-29 08:41] Nedilko commented on #1680
yes, working. All I was need to do is to reinstall VS Code

[2015-12-29 09:01] bpasero commented on #1685
Not sure if TS would support this.

[2015-12-29 09:15] tonn2y commented on #1685
I test the 'window', it doesn't work also.
![image](https://cloud.githubusercontent.com/assets/2756249/12032127/b692f162-ae4f-11e5-83bc-3aa1367d1b77.png)

[2015-12-29 09:16] paulomorgado commented on #69
For a Windows user, using environment variables or configuration files for something that can be transient (and having a proxy can be transient) is just plain stupid.

[2015-12-29 09:16] tonn2y commented on #1685
but when I use 'window' keywords. It can work well.
![image](https://cloud.githubusercontent.com/assets/2756249/12032148/e51e7da8-ae4f-11e5-81e3-eaf89a48fc95.png)

[2015-12-29 09:21] alexmags commented on #1320
+1 VS code 0.10.6 Win7
Doesn't auto detect proxy (WPAD)
After configuring proxy in User Settings VS code can't do NTLM authentication with proxy using current user credentials.  I'm using the following settings. We have SSL intercept at proxy but the cert used by proxy is trusted.
"http.proxy": "http://webproxy.companyname.com:8080/",
"https.proxy": "http://webproxy.companyname.com:8080/",
"http.p

[2015-12-29 11:01] Ghayyas commented on #1639
its 1.5.3 it cant complile my code

[2015-12-29 11:45] bpasero commented on #1639
@Ghayyas do you see output in the output log when you run the task?

[2015-12-29 11:47] Ghayyas commented on #1639
no

[2015-12-29 11:54] bpasero commented on #1639
@Ghayyas can you attach your task.json?

[2015-12-29 11:57] Ghayyas commented on #1639
hre?

[2015-12-29 11:58] Ghayyas commented on #1639
Hre is my Task.json

// Available variables which can be used inside of strings.
// ${workspaceRoot}: the root folder of the team
// ${file}: the current opened file
// ${fileBasename}: the current opened file's basename
// ${fileDirname}: the current opened file's dirname
// ${fileExtname}: the current opened file's extension
// ${cwd}: the current working directory of the spawned process

// A t

[2015-12-29 12:05] bpasero commented on #1639
@Ghayyas is there a reason you are on TS 1.5.x? The latest release is 1.7. Maybe updating helps.

[2015-12-29 12:08] Ghayyas commented on #1639
it cant i tried it

[2015-12-29 12:19] lextm commented on #117
@pgerell Can you open a new issue at https://github.com/lextm/vscode-restructuredtext so that I can better track it?

I am still digging into VS Code documentation to see how to further improve ReST support, so progress might be slow.

[2015-12-29 13:22] rscharnetzki opened #1687 "VSC 10.6 does not allow to attach debugger to running Electron app (working great with 10.3)"
VSC 10.6 does not allow to attach the debugger to a running Electron (0.36.2) app.
I was able to downgrade VSC by downloading from here to version 10.3: https://github.com/Microsoft/vscode/wiki/Previous-Releases.

VSC 10.3 is allowing to attach the debugger to a running Electron app  with these simple settings:
		{
			"name": "Attach",
			"request": "attach",
			"type": "node",
			// TCP/IP addres

[2015-12-29 13:33] pawsong commented on #446
+1 Waiting for this!

[2015-12-29 13:52] bpasero commented on #1639
@Ghayyas can you attach these errors you are getting when compiling from the command line?

[2015-12-29 14:37] DickvdBrink commented on #272
I would love this feature as well :)

[2015-12-29 15:43] ErikHells commented on #765
This could be another kind of issue but I have problems with intellisense in razor files as well.

I can't get suggestions with intellisense when I'm writing angular in a razor-file (cshtml). I've loaded the correct typings and everything works perfectly if I change the language mode to HTML instead of razor.

If language mode is set to Razor when writing the code below. Intellisense will not sugg

[2015-12-29 15:58] jpierson commented on #1552
I'm noticing that I'm having problems lately hitting breakpoints in VSCode for my node project as well. Somewhat recently [nodemon](https://github.com/remy/nodemon/) was added to the mix via [gulp-nodemon](https://github.com/JacksonGariety/gulp-nodemon) where gulp was already used for launching the debug mode of the app. I'm guessing that there may be something with how _nodemon_ works which is ca

[2015-12-29 15:59] fforjan commented on #779
Already used pre3 last week and it's working fine ;)
(i.e. the documentation was online before the package being finally release, this is why I've used pre3...)

[2015-12-29 16:04] hoovercj opened #1688 "Diagnostics for empty lines hard to discover"
Diagnostics for empty/blank lines are hard to discover as a user.

For example, the tslint rule `no-consecutive-blank-lines` flags the second blank line as a warning. This puts a green mark on the right gutter but gives no indication at the actual location of the error in the editor. It might be found through the "Errors and Warnings" interfaces, but if the project contains many other issues (perh

[2015-12-29 16:16] jpierson commented on #1552
@weinand I've tried your advice with the debug port but it didn't seem to help in my case.

[2015-12-29 16:18] Spown opened #1689 "extending a language with another"
How can I extend basic HTML language with another syntax without disabling the basic HTML? It seems that there are some things, that are still hardcoded into VSCode core and linked to text.html.basic that I loose if I use a html-based language that is not the text.html.basic.

In my case I'm trying to integrate Nunjucks templater into VSCode. I used the generator, and tried the plugin some other g

[2015-12-29 16:55] daviwil commented on #1667
Awesome, thanks Isidor!  This will be really helpful.

[2015-12-29 17:00] LittleSaya commented on #1171
I just met the same problem like you. The "Change All Occurrences" doesn't work if the string I select has whitespace or any other character which is not a letter.
Here is the screenshots:

Original:
![1](https://cloud.githubusercontent.com/assets/16049823/12037924/9859f2ec-ae8e-11e5-92e8-581243326334.png)

If I want to replace all the " << endl;" to ";", and I select the 3rd(from L to R):
![2](ht

[2015-12-29 17:05] bpasero commented on #779
Great :)

[2015-12-29 17:15] Tyriar opened #1690 "Add find and replace in files/project"
<kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>f</kbd> dialog does not feature a project-level find and replace.

[2015-12-29 17:22] Tyriar opened #1691 "Activated linter does not go away when switching language mode"
**Steps to reproduce**

1. Create an invalid file featuring invalid javascript, such as:

        # I'm invalid

2. Switch language mode to javascript (command palette -> `"lang"` -> <kbd>enter</kbd> -> `"javascript"` -> <kbd>enter</kbd>)
3. Observe red underlines indicating linter errors
4. Switch language mode to something other than javascript

**Expected**

The javascript linter is deactivated

[2015-12-29 17:25] felixfbecker commented on #706
Here it is: https://marketplace.visualstudio.com/items/felixfbecker.php-debug :)

[2015-12-29 17:30] Tyriar opened #1692 "shift+tab should only deindent when multiple lines are selected or the cursor in the line's starting whitespace"
Ubuntu 12.04, vscode 0.10.5 with settings:

[code]

**Steps to reproduce**

1. Create a new file
2. Press <kbd>tab</kbd> twice
3. Press "}"
4. Press <kbd>tab</kbd>, the following should be in the text editor:

        "        }    "

5. Press <kbd>shift</kbd>+<kbd>tab</kbd> (while the cursor is at the end of the line)

**Expected**

The tab/spaces at the end of the line should be removed, resulti

[2015-12-29 17:42] weinand commented on #706
@felixfbecker Awesome - php-debug looks great!

[2015-12-29 17:55] ssta604 opened #1693 "Assign accelerator keys to dialog buttons"
There are no shortcut keys defined for the dialog that pops up asking "Do you want to save the changes you made to..." when closing Code.  The keys S, N and possibly C should save, abort save or abort closing.

![codeconfirmdialog](https://cloud.githubusercontent.com/assets/9268628/12038785/bd8e4998-ae0f-11e5-90d4-ef58f09e7ca5.png)

Version 0.10.6
Commit a80232bbcfe8a5cdad1ebc98638673d9dcb02458
Da

[2015-12-29 18:40] Ghayyas commented on #1639
Cannot Compile unless --module flag is provided..

[2015-12-29 20:38] jpvantuyl opened #1694 "Error while loading shared libraries: libnss3.so"
I get the following error when running Code on Ubuntu 14.04:

    error while loading shared libraries: libnss3.so: cannot open shared object file: No such file or directory

I get the same error when building and running from source.

[2015-12-29 20:40] jpvantuyl commented on #1694
The issue was resolved by installing `libnss3-dev` for Electron.

Hat tip to [this](https://github.com/atom/electron/pull/2382) pull request in the electron repo.

[2015-12-29 20:40] #1694 closed

[2015-12-29 20:53] egamma commented on #1639
you have to add a tsconfig.json file pls see: https://code.visualstudio.com/docs/languages/typescript

[2015-12-29 21:02] egamma opened #1695 "Make soft text wrapping easier discoverable"
We are receiving regular questions about how to enable soft text wrapping. See also the discussion in #342.

[2015-12-29 21:03] egamma commented on #1695
CC @Tyriar

[2015-12-29 21:08] egamma commented on #765
CC @aeschli

[2015-12-29 21:11] egamma commented on #1687
CC @weinand

[2015-12-29 21:19] egamma commented on #384
correct, closing as requested, thanks

[2015-12-29 21:19] #384 closed

[2015-12-29 21:20] egamma commented on #1683
CC @aeschli

[2015-12-29 21:24] weinand commented on #1687
@rscharnetzki could you please try to use a different port than 5858. Does it make a difference?

[2015-12-29 21:43] egamma commented on #1658
This could be a consequence of a failed uninstall/update of the tslint extension.

@Arebee88 do you remember whether you did uninstall the tslint extension?

extensions are scoped to a [publisher](https://code.visualstudio.com/docs/tools/vscecli) and `eg2` is the name of the publisher of the tslint extension (in this case me).

pls do not stop filling issues when things are getting thrown in your

[2015-12-29 21:56] Kroc commented on #1657
@fleixfbecker yes, but 'code' within comments should be escaped with backticks, the intellisense whilst writing comments is really slowing down my typing and interfering with expected spc/tab when writing prose.

[2015-12-29 21:58] jpoon commented on #118
Thanks @bpasero.

It looks like tests that rely on the active window fail (`vscode.window.activeTextEditor => undefined`). I'm not sure if this is inherent to Travis -- does it allow you to open a window?

Unfortunately, I'm running on Windows and can't debug this further (any plans for adding Windows support?). On [Travis](https://travis-ci.org/VSCodeVim/Vim/builds/99336269), I do see these warni

[2015-12-29 22:02] egamma commented on #1403
Correct, pls check the milestone assigned to the issue.

[2015-12-29 22:02] Kroc commented on #943
I'd like to add that the problem I'm having with Ctrl+Left/Right is that for indented lines, it goes to the first word, not the first character on the line. (`|` is cursor)

[code]

[2015-12-29 22:07] Kroc commented on #1673
I use rulers a lot as part of a standard code format that varies slightly from language to language and filetype to filetype. I have a need to be set different rulers on a per-language, per-project basis. For example, text files will wrap at 77, assembly files at 88, HTML/PHP at 124...

[2015-12-29 22:12] egamma commented on #1622
CC @dbaeumer

[2015-12-29 22:24] rkeithhill opened #1696 "Debugger API for extensions needs to support selection of 32-bit or 64-bit debug host"
In working on the PowerShell extension, we need to allow users to be able to choose whether to launch a 32-bit or a 64-bit debug host.  Certain PowerShell modules will only load into one or the other.

I see that there is support for different `program:` settings per OS:
[code]
What I would like to see is `windows` remain as "use the default OS architecture" and you add `windows (x86)` to allow ex

[2015-12-29 22:28] weinand opened #1697 "support arbitrary requests, not only "launch" and "attach""
In addition to "launch" and "attach" we should support any request, e.g. "listen"
(php-debug uses a "listen" model).

[2015-12-29 22:30] weinand commented on #1697
CC @felixfbecker

[2015-12-29 22:39] felixfbecker commented on #1697
:+1:

[2015-12-29 22:43] rkeithhill commented on #1403
@egamma Thanks for that teaching moment.  :-)  I'm still learning my way around GitHub and tips like that really do help.

[2015-12-29 22:49] hoovercj opened #1698 "Extension broke 10.3 to 10.5 => Objects passed as command arguments are now stripped of functions"
I have an extension that works in version 0.10.3 but does not work in 0.10.5+.

The cause of this breakage is that functions on objects passed in the `arguments` array of a `Command` were available when executing the actions in 0.10.3 but are not available in 10.5+

This is illustrated in the following example:

[code]

[2015-12-29 22:50] felixfbecker commented on #1697
Currently I'm abusing `launch` for this. But this has some issues. For example, when I launch, and then set a breakpoint before I have any connection with the debugger engine, VS Code sends me a setBreakpointsRequest that I cannot execute. I can only save the breakpoints and apply them later, but then I cannot validate the breakpoints and notify VS Code if some breakpoint was not valid. This probl

[2015-12-29 22:53] egamma commented on #1465
I like this and we will definitely work on improving the recognition with our next update, thanks much for your feedback.

[2015-12-29 22:53] weinand commented on #1697
@felixfbecker VSCode only sends you a setBreakpointsRequest as a response to the initialized event that the php-debug adapter is emitting. So you are in control! Try to send the initialized event if your debug adapter is ready to receive setBreakpointsRequests.

[2015-12-29 23:00] weinand commented on #1697
@felixfbecker VSCode does not know any difference between "launch" or "attach" (and in the future "listen"). It is the debug protocol that should deal with the differences (example: an initialized event triggers VSCode to send all the breakpoints). If we need something new for threads (or pseudo-threads) we can work on this together...

[2015-12-29 23:02] Tyriar commented on #1695
:+1:

https://github.com/Microsoft/vscode/issues/324 is the issue with the discussion

[2015-12-29 23:07] weinand commented on #1697
@felixfbecker Below you can find the corresponding section of the Debugger API doc from the VSCode web site. IMO it clearly explains how the "initialize event" and the "setBreakpoints" request interacts. Since you haven't been able to use this information, the documentation seems to be lacking. Do you have any suggestions how to improve this?

"Since VS Code persists breakpoints on behalf of the d

[2015-12-29 23:14] felixfbecker commented on #1697
@weinand This currently is implemented in php-debug:
 - user sets breakpoint
 - user hits F5
 - debug engine connects
 - debug adapter sends InitializedEvent
 - VS Code sends breakpoints

But think about this scenario
 - user hits F5
 - user sets breakpoints _before debug engine connects_
 - VS Code sends setBreakpointRequest _before InitializedEvent_
 - debug adapter has no way to validate the br

[2015-12-29 23:17] felixfbecker opened #1699 "Feature negotiation between debug adapters and Code"
Some debug adapters may not support all features (that you add in the future). For example, php-debug does not support breaking on caught exceptions. There needs to be a way to notify VS Code that this feature should be disabled (greyed out) for the user. (low priority)

[2015-12-29 23:24] weinand commented on #1697
@felixfbecker good scenario! Just let VSCode buffer all new breakpoints until the InitializedEvent is received.

@isidorn we should fix this.

[2015-12-29 23:27] felixfbecker opened #1700 "VS Code does not honor success: false for VariableRequests"
A bug I picked up during development. This is an screenshot showing how VS Code displays an error that was send through `sendErrorResponse` as a result for the variable, when it should really show an error message for the user.

![image](https://cloud.githubusercontent.com/assets/10532611/12044046/8d1a58de-ae8b-11e5-9c1f-15fe50d19197.png)

Here are my communication logs:
[code]

[2015-12-29 23:50] felixfbecker opened #1701 "Break reason is shared between threads"
If one thread breaks on exception, and the other breaks on a breakpoint, whatever reason came last will always be what is shown in the UI.

![threads issue demo gif](https://cloud.githubusercontent.com/assets/10532611/12044260/cbce6464-ae8e-11e5-9c65-b1aca96d717c.gif)

[2015-12-29 23:50] weinand commented on #1699
@felixfbecker this is in the works

[2015-12-29 23:57] weinand opened #1702 "buffer newly created breakpoints until initialize request is received"
A debug adapter is free to request persisted breakpoints at any time by sending an "initialize" request. If another breakpoint is created before the "initialize" request has arrived, the breakpoint is directly sent to the adapter without waiting for the "initialize" request. This is a bug. We should buffer these breakpoints and send them to the adapter only upon receipt of the "initialize".

cc @f

[2015-12-30 00:14] felixfbecker opened #1703 "Thread exited event ignored"
Even though clearly an thread event with `reason: "exited"` is sent, VS Code does not update the UI to remove the exited thread:

![threads bug](https://cloud.githubusercontent.com/assets/10532611/12044480/5a48b016-ae92-11e5-883e-ca2f3ec47fed.gif)

last communication:
[code]
When a stack frame inside the dead thread is clicked VS Code tries to request the variables inside a thread that doesn't exi

[2015-12-30 00:47] felixfbecker commented on #1697
@weinand How will debugadapter-node handle the listen or arbitrary launch types?

[2015-12-30 02:50] AshleyGrant opened #1704 "cannot launch code from command line using Git Bash on Windows"
`code .` works fine in cmd.exe on Windows 10, but fails with `command not found` when in Git Bash.

Please add built-in support for launching code from the Git Bash command line. This works with atom out of the box.

[2015-12-30 03:10] sethen opened #1705 "[themes] Multiline comment always green no matter what theme"
When writing JavaScript, multiline comments are always the color of dark green no matter what theme I am using.  For example:

[code]

I find this rather annoying as I have my own theme that I like to use.  I compiled my TextMate theme and everything ported over okay using `yo code` besides the multiline comment colors.  This theme works correctly in Sublime Text and TextMate, it's just Visual Stu

[2015-12-30 04:58] ctlajoie commented on #1651
I am writing a modelines plugin that will support vim/emacs modelines as well as a Code-specific syntax. It's working fine for tabs/spaces and tab width settings, but I don't believe there is a way to set the language yet through the (documented) API. Can anyone more familiar with it than I am confirm whether this is the case?

If it's not possible then I guess I will have to release the plugin wi

[2015-12-30 07:10] bpasero commented on #118
Yes we have tests that rely on that too, if you have the tests somewhere online I can try to run them on Mac/Linux from the command line to see whats going on.

[2015-12-30 08:08] hoovercj commented on #1704
It worked automatically for me on Windows 10 with git bash so I'm curious why it didn't work for you.

One of the options in the installer is to add VS Code to the Windows PATH which should work.

I just did the following though to confirm it working for me:
1. Confirmed the code/bin directory was included in my PATH
2. `code .` worked in git bash
3. Removed code/bin from PATH
4. Restarted git bas

[2015-12-30 08:14] jpoon commented on #118
Are your tests that rely on `vscode.window`activeTextEditor` working?

Guess I'm doing something wrong on my end then. Our tests are here: https://github.com/VSCodeVim/Vim/tree/master/test

[2015-12-30 08:46] bpasero commented on #118
@jpoon check out our tests that we manage to get run: https://github.com/Microsoft/vscode/tree/master/extensions/vscode-api-tests

[2015-12-30 08:46] bpasero commented on #118
And are those tests working when you run them via Code?

[2015-12-30 08:52] Ghayyas commented on #1639
I already have add this but it cant work

[2015-12-30 09:55] davidesantangelo opened #1706 "Add slim template engine support"

[2015-12-30 10:28] ErikSchierboom opened #1707 "Markdown preview doesn't correctly parse escaped parenthesis"
For example, consider the following URL: https://msdn.microsoft.com/en-us/library/f7dy01k1(v=vs.110).aspx

This URL has two parentheses in them. To be able to use this URL in a Markdown link, we have to escape the parentheses by prefixing them with a backslash:

`[ildasm](https://msdn.microsoft.com/en-us/library/f7dy01k1\(v=vs.110\).aspx)`

However, the Markdown preview doesn't correctly parse the

[2015-12-30 10:29] massimocode commented on #1685
@tonn2y This is because you are using JavaScript not TypeScript. The type of the variable is determined at the point of declaration. i.e. for the parameter 'win' in your anonymous function, there is no way for the language service to know what type win will be. You could pass anything into it. Just because your own usage passes window into it, does not mean that it should definitely be of type win

[2015-12-30 10:30] massimocode commented on #1685
@tonn2y If you can use TypeScript in your project it's probably a good idea

[2015-12-30 10:31] weinand commented on #1697
@felixfbecker probably by using some reflection: if your subclass of DebugAdapter implements a method "listenRequest" and if your configuration schema has an entry for a "listen" request, "listenRequest" will be called.

[2015-12-30 10:43] hoovercj opened #1708 "workspace.applyEdit fails in git view"
I have a code action that performs a WorkspaceEdit which works just fine in the normal view but fails in the diff view.

Code:
[code]

Message:
TypeError: i.getModel(...).getAssociatedResource is not a function

Stack:
TypeError: i.getModel(...).getAssociatedResource is not a function\n    at Object.a [as finish] (file:///C:/Program Files (x86)/Microsoft VS Code/resources/app/out/vs/workbench/work

[2015-12-30 11:13] Kwoth opened #1709 "CPU usage skyrockets when holding down an input button"
VS Code Version: 0.10.6 (dcb02458)
OS: Windows 10

How to reproduce:
- Open task manager
- Open a new file
- Hold down a letter or a space bar or enter

Arrow button also causes this, but cursor needs to move i think. So if you add some text and hold down an arrow key, it will produce the same issue.

CPU usage goes from ~0 to ~33% for me (i5 cpu).

From my limited knowledge, i can assume 2 things

[2015-12-30 11:24] felixfbecker commented on #1697
like this?
[code]

[2015-12-30 12:00] roslanr18 commented on #1681
.

[2015-12-30 12:01] roslanr18 commented on #1677
.

[2015-12-30 12:02] roslanr18 commented on #1674
.

[2015-12-30 12:07] weinand commented on #1697
Basically yes.

[2015-12-30 12:09] roslanr18 commented on #1702
.

[2015-12-30 13:02] rscharnetzki commented on #1687
I tested it now with Port 5859. Same issue as before, this does not fix it. VSC 10.6 will not complain when I am attaching the debugger to the running Electron app, it looks as if the debugger is properly attached but it will never stop at any break-point. VSC 10.5 is showing the same behavior as 10.6. Some change between 10.3 and 10.5 seems to be causing this.

Thanks again for looking into this.

[2015-12-30 13:08] hoovercj opened #1710 "Diagnostics with severity Hint and Information have no visual indication in UI"
Diagnostics created from an extension with `DiagnosticSeverity.Hint` or `DiagnosticSeverity.Information` have no indication in the UI. They show up very gray in the Errors/Warning selector (ctrl+m) and do not show indicators in the status bar and are not underlined in the editor.

[2015-12-30 13:14] weinand commented on #1687
@rscharnetzki what is your Electron setup? Do you have reproducible steps?

[2015-12-30 13:36] JoshStrobl opened #1711 "Enable specifying installation directories in npm.sh"
Hello,

Currently you are unable to specify installation paths for node modules used by Code via `scripts/npm.sh`, only the architecture. This is an issue for package management systems on Linux where specific packages may "own" a set of files or directories, and thus produces conflicts on the system when multiple packages attempt to own the same set of files.

I'm proposing the following options

[2015-12-30 14:05] jholtiv commented on #1711
agreed

[2015-12-30 14:22] bpasero opened #1712 "IntelliSense: most relevant result is not revealed"
When I have a node.js import for "path" and type "path", the element is not revealed:

![image](https://cloud.githubusercontent.com/assets/900690/12051860/1d20af78-af09-11e5-9433-3c5ab1d35cdd.png)

[2015-12-30 15:18] AshleyGrant commented on #1704
This is a new install of VS Code from last night. I tried your steps (removed code/bin from PATH, reinstalled VS Code w/Add to Path option selected, restarted computer, opened git bash tried typing code<Enter>) to no avail.

Is your VS Code installed to the `Program FIles (x86)` directory? I think that might be part of the problem.
![image](https://cloud.githubusercontent.com/assets/9885322/120525

[2015-12-30 16:10] ivanbuhov opened #1714 "Is it possible to have an extension with debugger contribution along with other contribution types"
Hi all,
I have a VSCode extension with debugger contribution and I want to add also custom commands to the extension. AFAIK, extension with debug adapter will be loaded in a separate process and will be activated when a debug session is started.
Is it possible to add custom commands in the extension and configure them also to be activation events?
Is it possible to call these commands from my debu

[2015-12-30 16:28] hoovercj commented on #1704
I realize now that I was referring to the powershell tool from the [github installation](https://desktop.github.com/) not `git-bash`. Apologies for wasting your time with that.

I just installed `git-bash` and I had to use `code.cmd` instead of `code`. So try that out

[2015-12-30 16:32] AshleyGrant commented on #1704
@hoovercj yep. Thus the issue report. I'm not good enough w/bash to create a little script to run. Also, for some reason, creating an alias isn't working for me.

That all being said, i think this should be part of the default install given how many people use git bash.

[2015-12-30 16:33] gclifford commented on #1552
@weinand I am not experiencing this anymore. I am wondering if there was a difference between the TypeScript code and sourceMaps and the debugger got confused.

[2015-12-30 16:40] wadeanderson7 commented on #1712
I am seeing this too.

[2015-12-30 17:07] bpasero commented on #1603
Reopen with more info.

[2015-12-30 17:07] #1603 closed

[2015-12-30 17:08] bpasero commented on #1639
Closing, this seems TypeScript related, I suggest you follow up with them. Note that you need TS 1.6 or 1.7 so that it finds the tsconfig.json, otherwise you need to add "-p" and point it to the file.

[2015-12-30 17:08] #1639 closed

[2015-12-30 17:14] bpasero commented on #1690
:+1:

[2015-12-30 17:18] bpasero commented on #1707
Dupe

[2015-12-30 17:18] #1707 closed

[2015-12-30 17:19] bpasero commented on #1711
@joaomoreno fyi

[2015-12-30 17:20] bpasero commented on #1714
@weinand @isidorn fyi

[2015-12-30 17:37] TheColorRed opened #1715 "[php] PHP Intellisense Slow"
Maybe it is just me, but Intellisense is very slow in php files. The result is that typing also gets slowed way down if Intellisense can not keep up.

On the same computer when I open up a Unity3d project typing and Intellisense work just fine, and I don't notice a slowdown.

[2015-12-30 17:40] TheColorRed commented on #1712
I am seeing this too, It would also be nice for it to be case insensitive (if it is not).

[2015-12-30 17:42] jwulf commented on #1465
You're welcome! :-)

[2015-12-30 17:49] ctlajoie commented on #1695
How are you guys thinking thinking this would be implemented? Would this menu item to toggle soft wrap (referenced from #324) only affect the currently opened document? Besides that, the only other thing I think you can do is to directly modify the user's settings.json file.

Regarding discoverability (with no disrespect or condescension intended), the typical way to modify settings in Code is wit

[2015-12-30 18:13] KevinSCreative opened #1716 "Muli-line strings in JavaScript not colored, code following multi-line string not colored"
After the first line, multi-line strings in JavaScript don't get string color. In the following example, only "Hello World" has the string color, and the obj variable declaration is all one color. In the default theme, 'var' is supposed to be blue. I would also expect the rest of the string to be orange in the default theme, not just the first line.

I am running VSC 0.10.6 and I have no extension

[2015-12-30 18:59] TheColorRed opened #1717 "Format Multi-Line Assignment Alignment"
Add multi-line assignment alignment

So for example, this:

[code]

Becomes this (gaps in lines creates a new alignment block):

[code]

[2015-12-30 19:22] hoovercj commented on #1704
The following shell script ported from `code.cmd` worked for me. You can put it in the bin directory and simply name it `code`. You should then be able to execute `code`, `code .`, or `code path/to/dir/`.

Correct me if I'm wrong, @AshleyGrant, but I think your suggestion was that a script like this be automatically placed in in the bin directory on installation? (I checked and yes, that is what a

[2015-12-30 19:34] bpasero commented on #1693
:+1: seems possible with our Electron version. Interestingly the "Cancel" button typically does not have a mnemonic it seems.

[2015-12-30 20:04] ssta604 commented on #1693
Man you rock!  Such a quick resolution for a minor issue.

[2015-12-30 20:27] cherchyk opened #1718 "throng module is not possible to debug"
I started to use throng module to support multi concurrency.

node web.js command from cmd runs application
but f5 in VSC never enters start function

here is sample code

'use strict';

var throng = require('throng');
var config = require('config');
var http = require('http');

// setting server
var server = require('./server');

http.globalAgent.maxSockets = Infinity;
throng(start, {
	workers: c

[2015-12-30 20:31] ctlajoie commented on #1651
The extension is published, if anyone is interested.
https://marketplace.visualstudio.com/items/chrislajoie.vscode-modelines

[2015-12-30 20:32] Tyriar commented on #1695
Personally I'd want it exposed through the view menu and potentially with a hotkey (something like <kbd>ctrl</kbd>(+<kbd>shift</kbd>?)+<kbd>w</kbd>). I would also want it to just affect the present file until it's closed or removed from working files.

[2015-12-30 20:33] ctlajoie commented on #1717
There is an extension for this: https://marketplace.visualstudio.com/items/steve8708.Align

[2015-12-30 20:36] TheColorRed commented on #1717
Does this only work with JavaScript? It isn't working in my C# file.

[2015-12-30 20:50] TheColorRed commented on #1717
It would be nice if I didn't have to select the items I want to align and it just knew which ones to align.

[2015-12-30 23:30] tucker-m commented on #1673
Adding this div below the `.view-overlays` div seems to do it:

[code]

I'll see about making the width and color configurable, and try making a PR this weekend.

I think Kroc's idea could be done by an extension that switches settings based on what file type is open. That would allow for all types of settings to be changed, including the ruler width.

[2015-12-30 23:31] ctlajoie commented on #1695
Makes sense.. user settings are applied globally, but line wrapping is something that perhaps most people would only want to enable temporarily, and only on a specific file. What you suggested would accomplish that.

[2015-12-31 00:02] vilaskadam commented on #762
Facing the same issue.
Just updated to the new version.
Error : Plugin host terminated unexpectedly. Please restart VSCode to recover.

- version is 0.10.6
- happens for all the folders
- The error occurs when opening a new window without a folder
- no extensions installed

The only trigger that i can think about is, i was trying to install an extension but i am behind a proxy so cant install it.

[2015-12-31 01:04] tonn2y commented on #1685
you mean's it  doesn't support dynamic attribute definition?
![image](https://cloud.githubusercontent.com/assets/2756249/12059798/4445acfe-af9d-11e5-8809-3a9c82a33b07.png)
![image](https://cloud.githubusercontent.com/assets/2756249/12059808/68580132-af9d-11e5-91d2-07d85ee3bca3.png)

[2015-12-31 01:59] minfuk opened #1719 "VS code doesnot display some UTF-8 characters"
I use VS code for Windows, version 0.10.6.
VS code does not display some UTF-8 characters like '⦃' and '⟪'.
(Notepad and editor of VS 2015 Community can display that characters.)

[2015-12-31 04:55] cdaringe opened #1720 "launching electron app produces module not found"
hello:

the latest electron docs state that to run the application, one must `require('electron')`.  from the command line (osx), when I run my setup, it runs fine:

[code]

i am running the _latest_ electron as of the time of writing:

[code]

when I try to launch this from vscode, it craps out, stating electron cannot be found.  my launch config, AFIK, should be ~same!

[code]

[2015-12-31 05:04] cdaringe commented on #1720
removing the `"ATOM_SHELL_INTERNAL_RUN_AS_NODE": "0"` from my config seemed to solve the issue.  this was OK to keep in as of electron `v0.30.x`

[2015-12-31 05:04] #1720 closed

[2015-12-31 05:34] oshalygin commented on #1677
@bpasero I'm a tad more lost after doing quite a bit more research on this topic actually and I'm not 100% sure that it can be solved, at least not yet.  The initial issue with *.prototype.includes is very minor and can be remedied by adding a polyfill.

On to the larger issue at hand,
When targeting ES6 in the tsconfig.json file, the transpilation is perfect and transpiles to ES6 just fine.  The

[2015-12-31 05:36] oshalygin commented on #1677
@bpasero if you target ES6 in the tsconfig.json that is at the root of the opened folder, VS Code will use lib.es6.d.ts, so yes it solves what I was going at.

Anyone else having this issue, make sure you setup a tsconfig.json and set the target appropriately for the compilerOptions

[2015-12-31 06:31] bpasero commented on #1677
:+1:

[2015-12-31 06:31] #1677 closed

[2015-12-31 06:55] bpasero opened #1721 "File picker: can end up showing the same file twice"
When searching for a workspace relative path that is not filtered by exclude rules.

[2015-12-31 07:42] Ghayyas commented on #1639
I have already attached that. I press CTRL+SHIFT+B It cant Compile, then i write "tsc app.ts" on command prompt. it give me lots of erros. and some of them are "Cannot Compile unless --module flag is provided.. "

[2015-12-31 08:40] daviwil commented on #1696
Keith explains the need for this really well.  We've already had requests from users to be able to choose between the 64-bit and 32-bit PowerShell hosts in the debugger since that has an impact on whether certain features can be used in the PowerShell runtime.  If there's a good way for us to solve this problem using the existing launch.json design, we'll be happy to use that for the time being.

[2015-12-31 10:02] bubifengyun commented on #706
work  not well. maybe I need test it in yii2

[2015-12-31 10:13] bingzheyuan opened #1722 "Support quick outline for PHP?"
Is that possible to add a function list panel?
Besides, the "Go to Symbol" function seems not working for php file. I am working with vscode v0.10.6
![bug](https://cloud.githubusercontent.com/assets/5099742/12063466/677bb6f2-afaf-11e5-88e9-be8a61f19b82.jpg)

[2015-12-31 11:19] lcrespom commented on #1470
Sorry for nagging, but could you give an approximate fix date for this bug?

[2015-12-31 13:15] felixfbecker commented on #706
@bubifengyun If the debug adapter is not working please open an issue at my repository.

[2015-12-31 13:36] alexdresko opened #1723 "Allow to configure title bar information"
It would be great if we could configure the information that gets displayed in the title bar. I use ManicTime a lot, and it's hard to auto tag my activities when the title bar basically only displays the file name and root folder name. Having the full path to the file and the git branch name would be super helpful.

For some other ideas, this VS plugin is super rad and affords complete control ove

[2015-12-31 14:30] RockyTV opened #1724 "Renaming a .cs file when updating a .csproj file reference"
If you open a C# project path with VSCode, then rename a file that is used by a C# Project, the reference in the .csproj file will not be updated.

[2015-12-31 16:06] Kroc commented on #1673
I believe that a broad range of feature requests for VSCode fit into the bracket of persisting configuration choices on a per-project basis (word-wrap, tab-settings, rulers &c.), so that code formatting standards can be carried from user to user. No editors currently do this comprehensively enough, and I would opt for VSCode over Atom / Notepad++ if I could ensure that people who access my code wo

[2015-12-31 16:31] cherchyk opened #1725 "change to launch.json is not reflected when I press f5"
change to launch.json is not reflected when I press f5

for example I changed from "program": "web.js"   to "program": "server.js"

but when I press f5 Code is still calling web,js

I have to restart Code in order to pick change

[2015-12-31 17:52] heqian opened #1726 "Unable to input "line break" character in search box"
OS: Mac OS X 10.10.5
Visual Studio Code version: 0.10.6 (a80232bbcfe8a5cdad1ebc98638673d9dcb02458)

Description:
1. In a file I was editing, I tried to search how many "line break" characters in the file;
2. I was not sure if the "line break" character is CRLF/CR/LF, so I tried to copy & paste the "line break" character I selected to the search box;
3. Failed, unable to paste it to search box.

Re

[2015-12-31 18:21] Kroc opened #1727 "Monospacing broken by certain Unicode characters"
NB: TextMate is the only editor I know that gets this right!

Many kinds of Unicode characters are wider than normal, some have narrower width;
in a monospace font, the width should **always** be fixed.

The fault in VSCode is that such wide/narrow Unicode characters throw off the spacing for the rest of the line -- making it impossible to get back to the same alignment as other lines! (tabs or ot

[2016-01-01 02:19] bubifengyun commented on #706
@felixfbecker OK, thanks for your great work. I will debug yii2 using vscode-phpdebug

[2016-01-01 04:52] khrome83 commented on #490
I can elaborate on what is causing issue for people.

If GitHub desktop is opened, it will break VS Code ability to push/pull. Closing GitHub desktop, *DOES NOT* fix VS Code GitHub sync.

Instead you have to -
1. Close GitHub Desktop and VS Code.
2. Run `git config --global credential.helper wincred` from Powershell or Cmd.
3. Reopen VS Code, you now have ability to push/pull without entering in u

[2016-01-01 07:00] BenWeedon opened #1729 "ProblemMatcher freezes VSCode on multiline problem output"
Attempt to run a python program using a single line problem matcher. For example, use the tasks.json from http://stackoverflow.com/questions/29987840/how-to-execute-python-code-from-within-visual-studio-code, except make it a test command or build command so you can run with a shortcut. Run on an app.py file containing some error, like it only contains the code `1.foo`.

The problem matcher define

[2016-01-01 10:01] glen-84 commented on #1032
I've seen the same thing with other files (it was a TypeScript file this time):

[code]

The file was open inside VS Code.

Windows 10.

[2016-01-01 15:07] rajeevkumarsharma opened #1730 "Experimental Decorator error even after specifying in tsconfig.json"
{
  "compilerOptions": {
    "target": "es5",
    "module": "commonjs",
    "noEmitOnError": false,
    "rootDir": ".",
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "sourceMap": false,
    "sourceRoot": "",
    "inlineSourceMap": false,
    "inlineSources": false
  },
  "files": [
    "app/app.ts"
  ]
}

It still show error on decorator class

[2016-01-01 19:37] lucianFXD opened #1732 "problem with tasks.json and typescript compiler under Ubuntu 14.04"
I have typescript installed globally but after editing tasks.json  and  try to run tsc command from vscode it doesn't appear in the list.If I run tsc commands from the terminal it works.

[2016-01-01 20:11] lucianFXD opened #1733 "problem when launching vs code from terminal on a folder in Ubuntu 14"
I get this message:
bash: cannot set terminal process group (-1): Inappropriate ioctl for device
bash: no job control in this shell
After this message the terminal freezes and I can launch for example another vs code instance.

[2016-01-01 21:53] sulhome opened #1735 "Support format for handlebars file"
although VS Code recognize that the markup is indeed handlebars, it is unable to format it.
So format code option does nothing

[2016-01-01 22:01] nchammas commented on #978
Never mind. It's happening again. Still haven't been able to figure out what triggers this behavior.

[2016-01-01 22:15] mindcool opened #1736 "Please change Setting Up Visual Studio Code Mac OSX Section"
To start code from terminal you should edit ~/.bash_profile and add the following line of code to that file

function code () { VSCODE_CWD="$PWD" open -n -b "com.microsoft.VSCode" --args $*; }

Please add to this document

to make those changes effective you should either write
source ~/.bash_profile or just . ~/.bash_profile

[2016-01-02 01:01] darknessm0404 opened #1737 "Debug Console: can't copy paste, neither select all text, selection is lost while scrolling"
Tested with nodejs latest version and visual code latest december 2015 version:
While logging with console.log, we can't scroll AND select text, and we don't have the option to copy paste all the text.

[2016-01-02 03:04] dstorey commented on #1224
i've updated this based on latest findings. I thought it was just for Edge, but noticed that Edge 13 shows up when I added a new feature. The previous Edge13 features were for features where the string was too long to show the version numbers.

It applies to all browsers that don't include a version number in the string.

[2016-01-02 03:18] Manouchehri opened #1738 "Wayland"
Upon opening VS Code with Wayland (tested with GNOME 3 and Sway),

![screenshot from 2016-01-02 03-15-38](https://cloud.githubusercontent.com/assets/7232674/12073053/33971be6-b0ff-11e5-8444-ea2fe29ab5fe.png)

[code]

[2016-01-02 03:21] Manouchehri opened #1739 "Better support to run VS Code via Wayland"
Upon opening VS Code with Wayland (tested with GNOME 3 and Sway), I get a message saying `Something has gone wrong.`.

![screenshot from 2016-01-02 03-15-38](https://cloud.githubusercontent.com/assets/7232674/12073053/33971be6-b0ff-11e5-8444-ea2fe29ab5fe.png)

[code]

If I close the error window instead of logging out, VS Code starts up fine.

![screenshot from 2016-01-02 03-15-46](https://cloud.g

[2016-01-02 03:21] Manouchehri commented on #1738
Oops, accidentally hit submit twice. Duplicate of #1739.

[2016-01-02 03:21] #1738 closed

[2016-01-02 07:01] rajeevkumarsharma opened #1740 "TypeScript Language Mode give errors of module not found"
This happens when we have definitelytyped within npm package

vc code should not only see for definitelytyped in typings folder it should also see in npm package (i.e. node_modules).
This is caused when i am using angular2 and definitelytyped for angular2 are provided in npm package instead separate  definitelytyped, so make TypeScript IntelliSense so it also load from npm packages as well

Lookin

[2016-01-02 07:30] jpoon commented on #118
Yep. Tests work when running with Code. Here's one of the failed builds: https://travis-ci.org/VSCodeVim/Vim/builds/99793291

[code]

where line 22 of motion.ts is:

[code]

[2016-01-02 07:48] bpasero commented on #118
@jpoon in that test I am not seeing code that would open a text editor, so I wonder how the tests run green when running inside Code, maybe you can explain: https://github.com/VSCodeVim/Vim/blob/master/test/motion.test.ts

Does it make any difference if you run the tests locally using the same command you run in travis?

[2016-01-02 08:38] Ciantic opened #1741 "TypeScript symbols is empty inside closure (like jQuery plugins)"
I tried developing basic jQuery plugin with TS, looks like the symbols list is totally empty if I use following code:

[code]

I think it should recgonize the whole file spanning closure and not let it ruin the symbols listing.

[2016-01-02 09:52] jpoon commented on #118
That statement triggered a :bulb: (epiphany).  When running in Code, it seems as though the tests automatically open a text editor, hence didn't need to do it explicitly. After refactoring my tests to open an editor....

https://travis-ci.org/VSCodeVim/Vim/builds/99801078 :tada:

Thanks @bpasero .

[2016-01-02 13:46] MartynasZilinskas opened #1742 "Typescript, vscode can't find react module without reference."
I have encountered problems with Visual Studio Code that I haven't with Visual Studio. Is there any way to prevent this without using reference?

Without reference:
![image](http://i.imgur.com/JIOmEAH.png)
With reference:
![image](http://i.imgur.com/8S9Okvc.png)

[2016-01-02 15:01] FabioCarpi opened #1743 "BOM"
i need to save my php files without utf8 bom
:(

[2016-01-02 15:16] SetTrend opened #1744 "Will there be localized versions available?"
Some of the keyboard shortcuts, like `CTRL+SHIFT+]`, can't be applied on non-US keyboards.

Are there plans to provide localized versions of Microsoft Code?

[2016-01-02 15:32] SetTrend opened #1745 "Does Code come with a Format Document option?"
Visual Studio comes with a very handy Format Document keyboard shortcut (`CTRL+K, CTRL+D`).

Will Code come with similar functionality?

[2016-01-02 19:47] a8775 opened #1746 "vscode debugger stops on reject()"
Node 4.5.103.35, vscode: 0.10.6

[code]

Debuger stops on `reject()`, with message "Paused on exception" without exception details, no breakpoints are set except "uncaught exception".

[2016-01-02 21:44] aravantv commented on #140
@jwulf I have the same issue: I use the workaround with eslint + the corresponding vscode extension but the linting simply does not appear in vscode when I edit my .jsx files. However:
* running eslint in command-line does show that there are some problems
* and linting does display when Iedit *.js* files in vscode

[2016-01-02 21:59] Zoltu opened #1747 "insertSpaces = auto, new file, first indentation, tab not possible."
When `insertSpaces = auto` is set and you create a new file, pressing the tab key will insert spaces rather than a tab character.  This is a problematic default because it means there is no easy way to actually get the first tab into the file so the `auto` can start learning what the file's indentation mechanism is.  If you want space indent, you can simply press the space bar a few times to start

[2016-01-02 22:00] Zoltu commented on #1747
An alternate option would be to add a setting for empty file default (tab or spaces) and/or add a setting for each file type.

[2016-01-02 23:34] SetTrend opened #1748 "Documentation: Extension Manifest doesn't exist"
The FAQ in the [Customize Visual Studio Code](https://code.visualstudio.com/docs/customization/overview) page points to a non-existing [Extension Manifest](https://code.visualstudio.com/docs/extensions/extension-manifest) page.

Clicking the link yields a 404.

[2016-01-02 23:48] SetTrend opened #1749 "Support to split editors horizontally"
It's hard to read code having more than one editing panel opened when they are split horizontally:
<br/>
![code](https://cloud.githubusercontent.com/assets/9283914/12076622/52eb33a6-b1b3-11e5-90bd-ecb6405d9246.png)
<br/>
Is it possible to have Code split editor panels vertically?
<br/>

[2016-01-03 00:08] #1744 closed

[2016-01-03 01:01] SetTrend opened #1750 "Proposal: Add acceleration keys to confirmation dialog on program exit"
Program exit file save confirmation dialog should provide acceleration keys.

The code at:

https://github.com/Microsoft/vscode/blob/6319a1e050de957531595511c6999aea653a5c21/src/vs/workbench/parts/files/electron-browser/textFileServices.ts#l175-l177
<br/>
should read:

[code]

[2016-01-03 01:07] jamesxv7 commented on #490
@khrome83 I tried several times your workaround and it is not working.

[2016-01-03 06:58] elgris commented on #396
As a Go developer, I find this feature extremely useful in Sublime or IntelliJ Idea. For instance, my small project imports code from Go core library or may import some 3rd party library. So I need to be able to quickly navigate to them and read that code.

[2016-01-03 08:48] bpasero commented on #118
@jpoon very cool!

[2016-01-03 09:42] Mike43110 commented on #224
+ 1
I usually have the editor split and closing a tab is a bit more intuitive than having 10+ working files.

I also usually am only working on a subset of files and like to keep those handy. 5/5 is easier to manage than a list of 10 for me personally. I am also actively moving between them continuously. Tabs also do help in that there is a visual indication that you have too much open - the 'tab

[2016-01-03 09:44] Mike43110 commented on #1749
\+ 1

I use 2 on the left and one on the right in atom often and this is missed in VSCode.

[2016-01-03 10:09] bpasero commented on #1743
@FabioCarpi code is not adding a BOM but it is also not removing a bom if such exists in a file.

[2016-01-03 10:10] bpasero commented on #1693
From #1750

Program exit file save confirmation dialog should provide acceleration keys.

The code at:

https://github.com/Microsoft/vscode/blob/6319a1e050de957531595511c6999aea653a5c21/src/vs/workbench/parts/files/electron-browser/textFileServices.ts#l175-l177
<br/>
should read:

[code]

[2016-01-03 10:10] bpasero commented on #1750
#1693

[2016-01-03 10:10] #1750 closed

[2016-01-03 10:32] OceanAirdrop commented on #1307
Yes, this is similar to the plugin for the brackets IDE.

Very useful for wrapping html elements around selected text.

http://www.granneman.com/webdev/editors/brackets/extensions/surround/
https://github.com/pedelman/brackets-surround

+1 from me!

[2016-01-03 10:50] SetTrend commented on #1693
I just noticed I missed the ampersand on the "Save All" option. The suggestion should correctly read:

[code]

[2016-01-03 11:15] felixfbecker commented on #1749
@SetTrend as a tip, if you're not on a 16:9 monitor, you can toggle the side bar with Ctrl+B

[2016-01-03 11:20] felixfbecker commented on #1747
I agree this setting is very bad designed. There should be `insertSpaces`, `tabSize` and `autoDetectIndentation` or something like that, with the former being the default for new files and the latter being a boolean if the editor should auto detect these for existing files. This should default to `true`.

Or, even better, merge editorconfig extension into core and read values from editorconfig in

[2016-01-03 11:21] felixfbecker commented on #1742
I don't have this problem

[2016-01-03 11:22] felixfbecker commented on #1726
You can switch to regexp mode and use `\n` and/or `\r`

[2016-01-03 11:24] felixfbecker commented on #1714
Doesn't the Go extension do this?

[2016-01-03 11:31] bpasero commented on #1693
:+1:

[2016-01-03 11:49] felixfbecker opened #1751 "Universal Language Injections"
Language injections is a feature of IDEs like Webstorm and PHPStorm that auto-detects when a language is use inside another language and then shows syntax highlighting for that _injected_ language. VS Code currently supports this in a few places:
- `<style>` tags in HTML get CSS highlighting and IntelliSense
- `<script>` tags in HTML get JS highlighting and IntelliSense
- HTML in a PHP file outsid

[2016-01-03 11:49] SetTrend opened #1752 "Enter should dismiss dialogs by running the primary button"
Commonly, the [ENTER] and [ESC] keys on the keyboard serve as confirmation and cancel actions, resp., in message boxes.

It looks like Code is currently [lacking prerequisites to denominate a button to be the default button](https://github.com/Microsoft/vscode/blob/e1b4ade218dffd94ba4da3a1ef2d213af41cf7dd/src/typings/atom-renderer.d.ts#L121).

I suggest to add a `confirmId?: number` property to th

[2016-01-03 11:54] felixfbecker commented on #1692
I actually like that behavior, it allows me to deindent lines quickly no matter where my cursor is. If you change it, please consider adding a setting.

[2016-01-03 11:55] bpasero commented on #1718
@cherchyk what node.js version are you trying with?

[2016-01-03 11:55] bpasero commented on #1719
Might depend on the font being used.

[2016-01-03 11:57] bpasero commented on #1725
@cherchyk what OS? I suspect file events are failing. Does it work when you wait 1 second before pressing F5?

[2016-01-03 11:57] bpasero commented on #1726
:+1:

[2016-01-03 11:58] bpasero commented on #1727
Alex, not sure if this is a bug or feature request.

[2016-01-03 12:00] bpasero commented on #1733
@lucianFXD how do you launch it from the terminal?

[2016-01-03 12:01] bpasero commented on #1735
It is currently just not implemented.

[2016-01-03 12:01] bpasero commented on #1737
This might be a dupe of a feature request.

[2016-01-03 12:04] bpasero commented on #1751
@egamma @dbaeumer @aeschli fyi

[2016-01-03 12:04] bpasero commented on #1749
Currently not supported, but a valid feature request.

[2016-01-03 12:05] bpasero commented on #1752
Have to follow up with Electron if this is possible. Might require changes there.

[2016-01-03 12:05] felixfbecker commented on #1741
I also think this is annoying. Symbols view only shows symbols in the global scope, also for Javasript. If you use class expressions for Angular, like `.controller('MyController', class MyController { ... })` you will never get any methods of that class show up in the symbol view.

[2016-01-03 12:06] bpasero commented on #1748
@chrisdias fyi

[2016-01-03 12:08] bpasero commented on #1736
:+1:

[2016-01-03 12:09] bpasero commented on #1745
Yes, for languages where this is supported you can Format documents ("Format Code").

[2016-01-03 12:09] #1745 closed

[2016-01-03 12:12] bpasero commented on #1739
@Manouchehri so you have wayland extension installed and this causes code to not start properly? I am having difficulties to understand if this is a bug in wayland or code.

[2016-01-03 12:14] bpasero commented on #762
@vilaskadam does it reproduce when you run `code --disableExtensions` ?

[2016-01-03 12:15] felixfbecker commented on #1726
Actually, I have to correct myself: this is not possible because the regexps match on a line basis. I used  that trick to match tabs with `\t`, but `\n` or `\r` does not work currently.

[2016-01-03 12:15] felixfbecker commented on #1726
@bpasero please reopen

[2016-01-03 12:18] felixfbecker opened #1753 "Typescript parameter properties not colored"
`public` and `private` should be blue

![image](https://cloud.githubusercontent.com/assets/10532611/12078707/7ac9423c-b21c-11e5-8ba7-245a533f5376.png)

[2016-01-03 12:23] bpasero commented on #1726
I also confused myself, I think we added support to "Replace" with new lines but not to search for new lines. But @alexandrudima would know.

[2016-01-03 12:55] minfuk commented on #1719
I use Consolas.

[2016-01-03 13:19] sulhome commented on #1735
@bpasero thank you

[2016-01-03 13:46] weinand commented on #1714
A debugger contribution is not special and can coexist with other contributions.
And yes, the Go extension is a good example for this.
But today it is not possible to call into those other contributions from the debug adapter. This is something we want to support in the future.

[2016-01-03 13:46] #1714 closed

[2016-01-03 13:55] weinand commented on #1718
@cherchyk did you try to attach to the correct process? VSCode does not yet support clusters, but it should be possible to attach VSCode to a process within the cluster if you know the debug port of the process. See https://github.com/Microsoft/vscode/issues/865

[2016-01-03 14:38] felixfbecker opened #1754 "Typescript export default not colored"
`export` should be blue

![image](https://cloud.githubusercontent.com/assets/10532611/12079178/11c97b26-b230-11e5-8480-4af05c13305c.png)

[2016-01-03 15:52] bpasero commented on #1736
https://github.com/Microsoft/vscode-docs/blob/master/docs/editor/setup.md

[2016-01-03 15:52] #1736 closed

[2016-01-03 16:30] bpasero commented on #1752
@SetTrend on what OS do you see this not working? Looks ok for me on Mac and Win 10.

[2016-01-03 17:36] ivanbuhov commented on #1714
Thanks :)

[2016-01-03 18:23] felixfbecker commented on #1726
Basically to fix this, VS Code needs to match regexps with the multiline flag.

[2016-01-03 18:39] BoogVAr opened #1755 "not work with gocode"
Go language code don't have autocompletion post point.
Editor not connected  to https://github.com/nsf/gocode

[2016-01-03 19:06] #1755 closed

[2016-01-03 19:07] BoogVAr commented on #1755
It's working with https://marketplace.visualstudio.com/items/lukehoban.Go

[2016-01-03 19:24] AlexanderMattoni commented on #1754
I also have run into a problem where when using `export default class Foo{}`, and then subsequently trying to re-export via "import.ts": `export * from "./foo";`, I was unable to get the class definition from a file  importing "import.ts", and node would also fail trying to run it.

[2016-01-03 19:50] felixfbecker commented on #1754
@AlexanderMattoni you should open a seperate issue for that

[2016-01-03 20:20] faludigabor opened #1756 "VSCode freezes up on Linux LXDE"
I seem to have a constant issue w/ Code since I updated to 0.10.6.
What happens that the Code suddenly stops responding and the window never comes back to "maximised" state.

I run in it on Linux LXDE , all I noticed that if Code is started in the background it exists back to the shell w/o any idication why.

Where can I get it to tell me more what the issue is ?

tx,
Gabor

[2016-01-03 21:04] felixfbecker commented on #1681
In case someone wants to take a shot at it: https://github.com/javaparser/javaparser

[2016-01-03 21:14] TheColorRed commented on #625
+1 VSC would greatly benefit I think.

[2016-01-03 21:32] TheColorRed opened #1757 "Previous state upon startup not restored"
Have the ability to remember the previous state of the editor upon startup.

I used this with electron:

storage.js

    var app = require('app');
    var fs = require('fs');
    var path = require('path');
    var data = null;
    var dataFilePath = path.join(app.getPath('userData'), 'data.json');

    function load() {
        if (data !== null) {
            return;
        }

        if (!fs.e

[2016-01-03 23:34] gregornoriskin opened #1758 "[scss] scss map syntax showing as an error"
If I add a map to a scss file, e.g. "$map: (key1: value1, key2: value2, key3: value3);" it shows as an error. Red squiggly appears under the ":" after the first key and hover message reads ") expected". Despite the error in editor node-sass evaluates map-get correctly over it.

[2016-01-03 23:56] SetTrend commented on #1752
Your observation is absolutely right when you are referring to the Save on Close dialog box (which I actually did, too ;) ). This dialog surely works as expected.

But, in fact, that dialog works only by coincidence. It looks like the first button gets focus by default, and, thus, is triggered when pressing [ENTER].

Problems will occur when the first button is *not* supposed to be the default, li

[2016-01-04 02:59] kkc0923 commented on #1747
Strongly agree. When I make Makefile file, I suffered for this issue because Makefile needs Tab indent.

[2016-01-04 03:32] jkup opened #1759 "Add "join line" keyboard shortcut"
This is a feature request! I'm hoping I have the right repository.

Other editors like Sublime Text and Atom have a keyboard shortcut for joining lines. In these editors, you can hit cmd+j ( or ctrl+j on Windows ) to append the following line to the current line. It would be really great to add this to Code!

Loving the editor so far!

[2016-01-04 05:18] rkeithhill opened #1760 "Ctrl+Shift+S should be the shortcut for Save All"
I think this is another case where VSCode should follow the path paved by its namesake - Visual Studio.  Ctrl+Shift+S is `Save All Files` in VS and I think it should be the same in VSCode.  I use "save all files" **way** more often than saving a file to a different name.  That is actually a pretty rare occurrence for me.  And VSCode already handles the case where you press Ctrl+S to save a file th

[2016-01-04 05:26] Ciantic commented on #1715
But there is no intellisense for PHP in vscode? It's one of the most voted request though: https://visualstudio.uservoice.com/forums/293070-visual-studio-code/suggestions/7752606-php-intellisense

[2016-01-04 06:17] bpasero commented on #1752
Right, but this is really something that should be reported against Electron and in fact I did so recently: https://github.com/atom/electron/issues/3810

[2016-01-04 06:17] #1752 closed

[2016-01-04 07:46] egamma opened #1761 "High energy usage shown in activity monitor"
[Tweet](https://twitter.com/snowcode/status/683678001607868417) shows high energy usage.

https://twitter.com/snowcode/status/683678001607868417/photo/1

Please provide more information about what you did when you observed this behaviour. What kind of files where you editing? What kind of extensions do you have installed.

[2016-01-04 08:36] jrieken commented on #1698
The issue is that we trigger the action on the main side but cannot serialise over such arguments. Before we would keep the cached on the extension side and create a dummy action for it. Tho, that is likely to result in memory leakage. Needs thinking...

[2016-01-04 08:37] jrieken commented on #272
Optimistically scheduling this for Jan ;-)

[2016-01-04 08:39] jrieken commented on #1647
@DenysYefimenko What language is this? JavaScript or TypeScript?

[2016-01-04 08:43] jrieken commented on #1640
That's a syntax error because no property name is given (not shorthand, not dynamic naming)

[2016-01-04 08:43] #1640 closed

[2016-01-04 08:48] dbaeumer commented on #1732
@lucianFXD this works for me using release 0.10.6. Attached a screen shot showing the command in the
![capture](https://cloud.githubusercontent.com/assets/1931590/12086225/3f265268-b2c8-11e5-9ba6-035e95c4b8ae.png)
command palette. Can you provide more info about what is not working in your case.

[2016-01-04 09:02] jrieken commented on #878
So what you guys actually want is to be able to map more filenames to the language `dockerfile` such that (this)[https://github.com/Microsoft/vscode-docker/blob/master/dockerExtension.ts#L15]  selector works for more filenames and such that the grammar works for more filenames.

[2016-01-04 09:03] jrieken commented on #878
That is then not the document filter, but the language mapping as defined in `package.json` (https://code.visualstudio.com/docs/extensionAPI/extension-points#_contributeslanguages)

[2016-01-04 09:04] jrieken commented on #878
@alexandrudima, @bpasero Do we already support some sort of globbing in the filename-to-language mapping?

[2016-01-04 09:07] DenysYefimenko commented on #1647
I had this problem in JavaScript.

[2016-01-04 09:08] dbaeumer commented on #1729
Able to reproduce the hang of VSCode. Will investigate

[2016-01-04 09:12] maritz commented on #189
@bpasero Works as you described. :)

[2016-01-04 09:13] egamma commented on #1761
Additional info

https://twitter.com/snowcode/status/683750220333735937/photo/1

[2016-01-04 09:16] aeschli commented on #543
The built in HTML extension now contains the html text mate grammar and declares the scope name `text.html.basic`.
The HTML editor mode in VSCode doesn't the text mate grammar yet, but other language extensions that depend on the html text mate grammar to be present profit from this. The issues description is a good summary.

[2016-01-04 09:18] aeschli commented on #1208
#543 fixes this.

[2016-01-04 09:18] #1208 closed

[2016-01-04 09:19] felixfbecker commented on #1747
@kkc0923 That would be solved when editorconfig gets merged into core, because you can set different settings for different file types via globs.

[2016-01-04 09:19] isidorn commented on #1737
Dup of #112

[2016-01-04 09:19] #1737 closed

[2016-01-04 09:33] jrieken opened #1762 "AutoSave setting is lost"
The now deprecated Auto Save setting isn't preserved by the latest changes to move it into user-settings. That's sort of data-loss and the setting should be populated with my old choice of what I had selected (Auto Save|!Auto Save).

[2016-01-04 09:35] jrieken opened #1763 "OpenAnythingHandler throws errors"
[code]

[2016-01-04 09:37] egamma commented on #1470
The intent is to make separate Light/Dark* theme extensions as described in this [comment](https://github.com/Microsoft/vscode/issues/1470#issuecomment-166111410) available first week of January.

[2016-01-04 09:38] egamma commented on #1722
This is currently not implemented but a valid feature request.

[2016-01-04 09:40] kkc0923 commented on #1747
@felixfbecker Does you mean "Editor Config for VS Code" extension? If it is, I'll check it. Thanks.

[2016-01-04 09:45] #1519 closed

[2016-01-04 09:53] dbaeumer commented on #1729
This is a problem with the regular expression matcher. Executing the following line in node makes node end in an endless loop:

[code]

[2016-01-04 09:53] lcrespom commented on #1470
Thank you very much :-).

Will that fix propagate to fix [#1504](https://github.com/Microsoft/vscode/issues/1504) also?

[2016-01-04 09:57] #1693 closed

[2016-01-04 09:57] #1721 closed

[2016-01-04 10:05] SetTrend commented on #1693
Excellent! :clap:

[2016-01-04 10:13] dbaeumer commented on #1729
This is a problem in V8. I opened https://bugs.chromium.org/p/v8/issues/detail?id=4651. For now all I can recommend is to tweak the regular expression used. For example /^(.*)s$/ already works and produces the same matches.

[2016-01-04 10:13] dbaeumer commented on #1729
Duplicates https://bugs.chromium.org/p/v8/issues/detail?id=4651

[2016-01-04 10:13] #1729 closed

[2016-01-04 10:21] bpasero commented on #1762
Adding @egamma to this thread.

I see a couple of options:
 * in the message where I educate users how to make the change, offer an action to make this change into the settings.json file
* make this change to the settings.json file automatically
* do not touch the settings.json file but silently carry over the previous auto save setting and use it over the setting defined in settings.json

I do no

[2016-01-04 10:22] bpasero commented on #1763
@jrieken i am not seeing this, I am on 92a51bcfdcb9cb52a86529a2da46f413729415fd

Steps?

[2016-01-04 10:24] dbaeumer commented on #1032
@claycephas Thanks a lot for the information. As suspected it is the tsserver that locks the tsconfig.json file. I will open a bug against the TypeScript team. I have one additional question: are you seeing this with the latest VSCode as well (e.g. 0.10.6). This version ships with a new version of the tsserver.

[2016-01-04 10:28] dbaeumer commented on #1032
Open https://github.com/Microsoft/TypeScript/issues/6337 in TS land

[2016-01-04 10:29] dbaeumer commented on #1710
That the don't show up in the status line is by design.

Moving to Joh for the Ctrl+M list.

[2016-01-04 10:33] dbaeumer commented on #1691
Happens with the built-in javascript linter.

[2016-01-04 10:39] aeschli commented on #1612
@Franziskus1988 For what language is that?

[2016-01-04 10:39] dbaeumer commented on #1688
There is nothing the language server framework can do about this. The framework already supports errors spawn form the start to the end of a line using Number.MAX_VALUE for the end value.

However that doesn't help with empty lines. All I can think of adding a decoration to the left gutter to improve this.

[2016-01-04 10:42] dbaeumer commented on #1622
@BenWeedon: can you provide a workspace with a test file and a tasks.json that shows the problem. What value do you use for the showOutput property in the tasks.json

[2016-01-04 10:45] dbaeumer commented on #1661
This issue was moved to Microsoft/TypeScript#6339

[2016-01-04 10:45] #1661 closed

[2016-01-04 10:48] #1702 closed

[2016-01-04 10:55] jrieken commented on #1763
Same version. Step is press `Cmd+T`

[2016-01-04 10:57] dbaeumer commented on #1146
I can't reproduce this neither on Linux nor on Windows using 0.10.6. @msiniscalchi can you still reproduce this using 0.10.6 ?

[2016-01-04 10:59] jrieken commented on #1710
`Hint` has no indication by design, `Information` shows in the editor like a warning, the status bar being aligned with Ctrl+M list is also by design - which we may should discuss.

@hoovercj Can you make validate that severity information shows up? Because according to (this)[https://github.com/Microsoft/vscode/blob/master/src/vs/editor/common/services/modelServiceImpl.ts#L135] it must

[2016-01-04 11:04] isidorn commented on #1697
Hi,

We have fixed the breakpoint issue described in #1702

As for the `launch` and `attach` requests VSCode has special knowledge about these two. For example, the "restart" and "stop" actions get renamed to "reconnect" and "disconnect" in the `attach` case.

If I understand correctly in the `listen` scenario you would need a special way to show connections in the UI, thus `listen` would also be

[2016-01-04 11:07] dbaeumer commented on #1488
0.10.6 ships with a new version of the tsserver (e.g. 1.7.5). The last VSCode version ship 1.6.x. Moving to the TypeScript team to investigate.

[2016-01-04 11:08] dbaeumer commented on #1488
This issue was moved to Microsoft/TypeScript#6340

[2016-01-04 11:08] #1488 closed

[2016-01-04 11:11] dbaeumer commented on #985
I moved this to TypeScript since for TypeScript, JavaScript, TSX and JSX we rely on the tsserver shipped by the TypeScript team

[2016-01-04 11:16] dbaeumer commented on #1416
As @jrieken already pointed out this is an issue in the tsserver not reporting the reference. Moving to the TypeScript team.

[2016-01-04 11:17] dbaeumer commented on #1416
This issue was moved to Microsoft/TypeScript#6341

[2016-01-04 11:17] #1416 closed

[2016-01-04 11:20] joaomoreno commented on #1387
Neither of those are possible for now.

[2016-01-04 11:20] #1387 closed

[2016-01-04 11:21] dbaeumer commented on #1420
@liandaoacc can you provide me with the workspace that shows the problem (e.g as a public git repository). I can't reproduce this on WIndows using VSCode 0.10.6 and tsc version 1.7.5

[2016-01-04 11:24] #972 closed

[2016-01-04 11:24] joaomoreno commented on #972
ooos :octopus:

[2016-01-04 11:32] joaomoreno commented on #1441
Showing all attributes in the UI will simply make it cluttered. We still let you filter on the underlying ID since that is a nice thing to do.

@egamma, why **important**?

[2016-01-04 11:38] dbaeumer commented on #1729
See http://www.regular-expressions.info/catastrophic.html for why the provided regular expression cause exponential runtime behavior.

[2016-01-04 11:39] #1523 closed

[2016-01-04 11:46] joaomoreno commented on #1539
@bpasero should we be using a different buffer to string conversion than [this](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/git/node/git.lib.ts#L47)? Git is also using the `files.encoding` setting, per your suggestion, but the native Buffer doesn't seem to support all encodings that the file service does (or at least, `windows1252`). Where and how do you use this configu

[2016-01-04 11:53] joaomoreno commented on #1544
bad api adoption

[2016-01-04 11:53] #1544 closed

[2016-01-04 11:55] joaomoreno commented on #862
What do you get with `echo $SHELL`?

[2016-01-04 11:58] #1700 closed

[2016-01-04 11:59] joaomoreno commented on #1598
Duplicate of #439

[2016-01-04 11:59] #1598 closed

[2016-01-04 12:00] isidorn commented on #1700
Nice catch - thanks.
Now we show the error in italic red and we do not show the null: part so it should be clearer to the user what is going on.
We are not using our general error reportin approach to not spam the user (showing errors on top of workbench)

[2016-01-04 12:00] felixfbecker commented on #1697
@isidorn Yes, in the optimal case listen would be special and there would be some way to show active connections in the UI without abusing threads. But for my use cases so far, the current way with threads works fine because PHP doesnt support threads anyway - it only doesnt work that well because of #1701 and #1703. But I think it would also be nice if "listen" was simply supported as a value for

[2016-01-04 12:02] joaomoreno commented on #1508
Just to confirm: this **only** appears if you open the git panel, correct?

Do you have git installed? If so, which version? Which OS are you on?

What do you see once you open the **Git Output**?

![image](https://cloud.githubusercontent.com/assets/22350/12089266/59983826-b2e3-11e5-9461-a80f961b0135.png)

[2016-01-04 12:03] weinand commented on #1697
@felixfbecker yes, sending InitializedEvent multiple times is supported.

[2016-01-04 12:18] SetTrend opened #1764 "VS Code shouldn't close when closing last editor via Cmd+W"
I'm used to close all open MDI windows by holding down the `CTRL+F4` keyboard shortcut. Doing this in VS Code also exits the program, which becomes quite a nuisance over time.

Exiting the program window should be restricted to happen only when using the `ALT+F4` keyboard combination. This would also follow Microsoft Style Guidelines.

[2016-01-04 12:23] felixfbecker commented on #1700
:+1:

[2016-01-04 12:33] ace007 commented on #862
That's the problem
I am using ksh but SHELL=/bin/sh
If I set SHELL=/bin/ksh it all works fine.

I am trying to find out why xterm is setting SHELL to the wrong value

[2016-01-04 12:35] bpasero commented on #1539
@joaomoreno with node 4 iconv can no longer overwrite the toString() method so you need to use iconv manually as shown here: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/search/node/textSearch.ts#L161

There is also a way to pipe iconv using a stream if you can use it.

[2016-01-04 12:53] egamma commented on #1441
@joaomoreno this [video](https://www.youtube.com/watch?v=badlvpaSMn8) illustrates that this results in confusion.

[2016-01-04 12:54] isidorn commented on #1697
#1701 and #1703 should get fixed soon, we are looking into improving our threading model.
Accidently you can put "listen" in your `launch.json` and everything will work fine except that you will get warnings in your `launch.json`

[2016-01-04 12:54] mrmlnc opened #1765 "[jade] Incorrect highlighting in strings with inline tags"
**VS Code version**:
0.10.6

**Code**:
[code]

**Description**:
If you try to write a dot in a inline tag (tag Interpolation), text highlighting changes.

**Gif:**
![2016-01-04_15-44-32](https://cloud.githubusercontent.com/assets/7034281/12089842/1cc9f378-b2fa-11e5-8645-2928e9938e16.gif)

[2016-01-04 12:58] #1763 closed

[2016-01-04 13:04] edotassi opened #1766 "Linux: Watcher fails sometimes"
Code: 0.10.6
Os: Linux 4.2.0-22-generic #27-Ubuntu SMP Thu Dec 17 22:57:08 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

It would seem to happen randomly.

[2016-01-04 13:07] edotassi commented on #1766
![schermata del 2016-01-04 14-06-12](https://cloud.githubusercontent.com/assets/3192179/12090143/5b43a472-b2ec-11e5-8bf5-0ee318ce9250.png)

[2016-01-04 13:18] ace007 commented on #862
It turns out that the xterm on the machine (3.19.0-15-generic #15-Ubuntu) is not setting SHELL to my actual shell (/bin/ksh) but defaulting to /bin/sh.
I have fixed this in a script and I now get an xterm with the correct SHELL variable ($SHELL=/bin/ksh)
This now allows Code to run correctly :D

[2016-01-04 13:18] #862 closed

[2016-01-04 13:22] felixfbecker commented on #1697
@weinand that is awesome, will make my code a lot simpler.

@isidorn Then how about just adding "listen" as valid value to launch.json schema and adding `listenRequest` to debugadapter-node?

[2016-01-04 13:25] felixfbecker commented on #1697
Or allow overriding it in package.json, like
[code]

[2016-01-04 13:30] #1411 closed

[2016-01-04 13:39] joaomoreno commented on #862
What do you get with `/bin/sh --version`?

[2016-01-04 13:45] ace007 commented on #862
/bin/sh --version
/bin/sh: 0: Illegal option --
/bin/ksh --version
  version         sh (AT&T Research) 93u+ 2012-08-01

[2016-01-04 14:11] joaomoreno commented on #862
Maybe `/bin/sh -v`?

[2016-01-04 14:25] Tyriar commented on #508
Ubuntu 12.04, vscode 0.10.5 could not reproduce leaving it over the weekend with an empty instance.

[2016-01-04 14:27] joaomoreno commented on #1605
Almost definitely the famed Windows long path issue, since the installer is set to always delete all extensions on update.
@jrieken fyi

[2016-01-04 14:28] isidorn commented on #1703
@felixfbecker I can not repro this issue on my side. Are you sure you are giving unique threadIds to your threads? What happens if you only use one thread, does it work nicely? What happens if send an exited event for the first thread?

[2016-01-04 14:30] joaomoreno commented on #1409
Please make sure you have all the [build prerequisites](https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run-from-source) installed. I cannot reproduce this.

@Nosherwan for sure you are seeing a different error, since @shanalikhan1's error is very specific to Windows (`The imported project "C:\Microsoft.Cpp.Default.props" was not found.`). If you see an error, please create a

[2016-01-04 14:37] joaomoreno commented on #1682
Here's the sorting algorithm:
- https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/files/browser/views/explorerViewer.ts#L633
- https://github.com/Microsoft/vscode/blob/master/src/vs/base/common/comparers.ts#L11

[2016-01-04 14:40] #1682 closed

[2016-01-04 14:40] joaomoreno commented on #1320
Closing as dupe of #69

[2016-01-04 14:40] #1320 closed

[2016-01-04 14:43] joaomoreno commented on #1711
`npm.sh` has zero options. Every argument you give it [is passed along to `npm` itself](https://github.com/Microsoft/vscode/blob/master/scripts/npm.sh#L28), so it supports every argument `npm` supports.

[2016-01-04 14:43] #1711 closed

[2016-01-04 14:45] jaminroe commented on #1508
I do not have Git installed. I clicked the Git panel once, and it wouldn't go away even after a restart of Code. I haven't had it come up anymore, maybe because I installed an update since then?

[2016-01-04 14:45] tonyeung commented on #1032
@dbaeumer  i just had an issue with the tsconfig.json file again last night.. or was it early this morning.. I'm pretty sure I'm on the latest vs code.

[2016-01-04 14:50] ace007 commented on #862
No that gives the same error
I tried this
strings /bin/sh | grep -i ver
preverrout
verbose
%s: not completely converted
.gnu.version
.gnu.version_r
and this
strings /bin/sh | grep -i [0-9].[0-9]
/lib64/ld-linux-x86-64.so.2
GLIBC_2.3
GLIBC_2.11
GLIBC_2.3.4
GLIBC_2.14
GLIBC_2.4
GLIBC_2.2.5
5_5!
t2D9
*0123456789

Best I can get is this
ls -la /bin/sh
lrwxrwxrwx 1 root root 4 Nov  6 15:21 /bin/sh -> d

[2016-01-04 14:50] #1712 closed

[2016-01-04 14:53] joaomoreno commented on #862
OK that helps: you seem to be running [dash](https://en.wikipedia.org/wiki/Almquist_shell). Leaving it closed as I don't think many people will hit this.

[2016-01-04 14:55] #1701 closed

[2016-01-04 14:56] isidorn commented on #1701
Nice catch.
We now show the stopped reason for whatever thread is selected. Try it out in our January release and let us know what you think.

[2016-01-04 14:57] SrTobi opened #1768 "Start file comparison using command line"
VS Code has a greate file comparison tool but currently I only see two possibilities to start the comparison:
- via git
- via using the right click menu in the explorer view

Wouldn't it be great to start the comparison mode using the command line? Something like

    code -c from to

Also it would be nice to have the usual `-h` or `--help` options to see available options.

[2016-01-04 14:58] joaomoreno commented on #1441
Ok, what's your pick?

- Do not show readable extension name, but extension ids in the UI
- Show both readable name and id, for every extension in the UI
- Stop filtering on the extension id

[2016-01-04 15:00] joaomoreno commented on #1508
Can you open the git panel and show me what you see in there?

[2016-01-04 15:07] joaomoreno commented on #1508
Also, please let me know which OS you are on.

[2016-01-04 15:14] #1539 closed

[2016-01-04 15:14] joaomoreno commented on #1539
Great catch by the way :+1:.

[2016-01-04 15:18] jrieken commented on #1382
@bpasero You should let people know you comment out tests.

[2016-01-04 15:20] TurkeyMan commented on #1598
Umm, was this actually fixed? That other big was closed before I reported this one.
That fix was already made available in 0.10.5, I'm reporting on the state post-release of that prior fix. This bug is intended to represent that further work is required.

[2016-01-04 15:22] #1382 closed

[2016-01-04 15:28] SetTrend opened #1769 "No Intellisense with package.json"
I have created a `package.json` file using `npm`. When opening it in VS Code I don't get any Intellisense whatsoever.

What's wrong?

![code](https://cloud.githubusercontent.com/assets/9283914/12092981/a27578e8-b300-11e5-8b94-9468e1aaa372.png)

[2016-01-04 15:49] jwulf commented on #1441
What about option 4: "show the extension id when that is what was searched and matched"

If they didn't search on extension id, no need to show it. 

If they searched on extension id and we found matches, then show it. 

In other words: have the behaviour match the user's intent and expected context. 

Or more simply: show them what they are looking for. 

—
Sent from Mailbox

On Tue, Jan 5, 2016

[2016-01-04 15:56] joaomoreno commented on #1598
Note that #439 is not closed.

[2016-01-04 15:59] joaomoreno commented on #1441
I don't really like that solution since it would make labels come in and out of the view as you type and poses the following questions: Where to show it? Do we replace the readable name with it? Do we append to it?

[2016-01-04 16:10] Tyriar commented on #1760
I've seen both and prefer <kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>s</kbd> to save as personally.

You should be able to change this locally by opening your keybindings file (<kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>p</kbd>, type "keyboard", <kbd>enter</kbd>) and adding this:

[code]

[2016-01-04 16:10] Alphapage opened #1770 "Promote built in javascript and typescript to external extension"
Hello,

For now, javascript and typescript are built within vscode.
I think those are the only languages integrated. It would be better to provide them as external extensions available in the marketPlace to make vscode universal. For now, vscode can be considered as a javascript typescript editor with extensions available for other languages (but with poor support which is not the case)

Moreover,

[2016-01-04 16:13] SetTrend opened #1771 "Support local install gulp during gulp task autodetection"
I don't seem to be able to run tasks.

I followed the [description in the docs](https://code.visualstudio.com/docs/languages/typescript#_transpiling-typescript-into-javascript). However, the `tsc` task apparently isn't found:

![can t run tasks](https://cloud.githubusercontent.com/assets/9283914/12093963/3b7605c6-b306-11e5-8786-cec375f50aaa.gif)

[2016-01-04 16:27] Tyriar commented on #1747
The default was recently changed from tab to space due to yaml not working with tabs. https://github.com/Microsoft/vscode/issues/498

I like your solution @felixfbecker, pulling out `"editor.insertSpaces": "auto"` into its own config value and allowing specification of fallbacks.

RE: Editor config, there is currently an [extension in the marketplace](https://marketplace.visualstudio.com/items/chr

[2016-01-04 16:32] ericwj commented on #48
When I select *File* | *Preferences* | *User Settings*, type `"window.openFilesInNewWindow": true` and press `Ctrl+Space` it'll show a tooltip "`true`: Default value".

However, on Windows 10.0.10586.36 in Code 0.10.6, typing `code .` in a folder or right-clicking in *File Explorer* on a file or folder and selecting *Open with Code* will do nothing whatsoever. It won't even reactivate (focus) the

[2016-01-04 16:39] psulek commented on #1687
@rscharnetzki I have working debugging of electron 0.36.0 and VSCode 0.10.6. My launch.json is
[code]
File `background.js` is file where i create "main process" Main window.
This will allow me to debug "Main process". BUT does not work for "renderer process". I dont know how to configure it (or if its possible) to be able to debug also "renderer process".

[2016-01-04 16:41] #69 closed

[2016-01-04 16:42] joaomoreno commented on #69
Damn. @Bigous, that was exactly it... many thanks for finding that.

This is a very unfortunate happening, apologies! Fix is pushed and will be in your machines with the next release.

Until then here's a nifty workaround:

1. Launch Code in Administrator mode.
2. In Code, open the `C:\Program Files (x86)\Microsoft VS Code\resources\app\out\vs\workbench\electron-main\sharedProcessMain.js` file.
3.

[2016-01-04 16:49] Tyriar opened #1772 "editor.action.jumpToBracket should move the cursor to the closest enclosing bracket when not on a bracket character"
**Steps to reproduce**
1. Create a js file with the following contents:

[code]
2. Put the cursor after `"foo"`
3. Press <kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>]</kbd> to trigger `editor.action.jumpToBracket`

**Expected**

The cursor jumps to either the opening `{` (Atom does this) or closing `}` (Sublime does this).

**Actual**

The cursor does not move.

**Notes**

Sublime keeps track of and und

[2016-01-04 16:51] Tyriar commented on #1692
@felixfbecker <kbd>ctrl</kbd>+<kbd>[</kbd> and <kbd>ctrl</kbd>+<kbd>]</kbd> are for indenting/de-indenting regardless of cursor position.

[2016-01-04 17:12] bpasero commented on #48
@ericwj  The setting to force reopen files in new windows or not is called `window.openFilesInNewWindow` and was renamed because it only impacts files and not folders.

From the command line you can use `-r` to force reuse the last instance or `-n` to force opening a new instance for whatever files or folders you pass in.

Could it be that in your case a window is already opened on a specific fold

[2016-01-04 17:17] Zoltu commented on #1747
The `.editorconfig` extension is not currently compatible with `editor.insertSpaces: auto`.  See https://github.com/Microsoft/vscode-editorconfig/issues/12

[2016-01-04 17:23] ericwj commented on #48
Assume I'm in `C:\Program Files (x86)\Microsoft VS Code` so `.` is that folder for this comment.

Sure I tried with a folder that wasn't open already. I updated my comment while investigating, please reread. I'm convinced there is an issue with the opening of code through the command prompt. It points to .\bin\code.cmd which starts .\code.exe with .\bin\code.js as the first argument, which starts

[2016-01-04 17:24] Bigous commented on #69
@joaomoreno awesome!

[2016-01-04 17:27] ericwj commented on #48
Although running code.exe --help doesn't do anything still apart from showing a new prompt with a newline after it.

code.exe --n . works and correctly focuses the same window and brings it to the front when done twice.

[2016-01-04 17:28] jrieken commented on #1605
@joaomoreno Not sure if it's long path. Since 0.10.5 we don't ship `csharp-o` but `jrieken.vscode-omnisharp`

[2016-01-04 17:33] BenWeedon commented on #1622
Sure thing! Here's a .zip of my test workspace. It just contains a basic test.cpp file and the tasks.json file, although the .cpp file probably doesn't matter at all. `showOutput` is set to "always".

[test_workspace.zip](https://github.com/Microsoft/vscode/files/77478/test_workspace.zip)

The tasks.json file tries to invoke the g+ command rather than g++, so it will result in an error. If the out

[2016-01-04 17:40] gesslerpd opened #1773 ""Duplicate function implementation." Error underlining"
When a JavaScript function is defined and committed to git, vscode takes further changes to the file and incorrectly notifies the user of a duplicate function implementation because of the older git version of the code and the edited version are thought to be different functions by vscode. After the change to the file is committed to git, the incorrect error underlining goes away.

[2016-01-04 17:44] vadimcn commented on #1703
Does the tread id need to be unique at any given moment or for the whole lifetime of the process?
In other words, if a thread id=3 exits, and then a new thread is started, can the new thread's id be 3?

[2016-01-04 17:45] joaomoreno commented on #1605
Yep. The installer failed to remove the `csharp-o` folder due to the long path and the latest Code complains about having a folder in there without a `package.json` file.

[2016-01-04 17:56] bpasero commented on #48
@ericwj not sure why you refer to "--help", we do not support such an argument!

If you suspect a bad install, maybe try reinstalling from scratch after uninstall. I do not think we changed the code.cmd/code.js recently though.

[2016-01-04 17:57] Tyriar opened #1774 "API documentation difficult to read due to bad heading hierarchy"
Under the [workspace section in the API documentation](https://code.visualstudio.com/Docs/extensionAPI/vscode-api#_workspace), all headings seem to be `h3` which makes it difficult to determine which methods/properties headers belong to which section since all header text sizes are the same. It would be even worse when trying to navigate the document using a screen reader.

[2016-01-04 17:58] bpasero commented on #48
Btw be careful with "code.exe" within the directory of installation, that one might be the code.exe from the installation which is not the same code.cmd we put on the path. hence my comment about PLEASE try it from the home dir.

[2016-01-04 18:08] axemclion commented on #1235
@wuchuguang We are still working on the extension. You can sign up for updates here - http://taco.tools/vscode/rn.html.
We are targeting an alpha by end of Feb, if everything works as expected.

[2016-01-04 18:26] Tyriar opened #1775 "Expose API to listen to performed commands"
Similar to [`atom.commands.onWillDispatch` and `atom.commands.onDidDispatch`](https://atom.io/docs/api/v1.3.2/CommandRegistry). This would be useful for extensions wanting to perform some action before or after a command is performed.

Being able to determine the source of the event would be useful in such an API (mouse vs keyboard vs command palette).

[2016-01-04 18:27] felixfbecker commented on #1703
@isidorn I'm pretty sure I'm giving 100% unique thread IDs, I just increment a counter for each new thread. I will look into it again.

[2016-01-04 18:44] felixfbecker commented on #1692
@Tyriar I don't have an american keyboard. Indenting is set to <kbd>ctrl</kbd>+<kbd>`</kbd>, which sucks because I have to take my right hand of my mouse for that because the keys are so far away. <kbd>shift</kbd>+<kbd>tab</kbd> is much better. I can't find deindenting at all in the command palette.

[2016-01-04 18:45] felixfbecker commented on #1701
:+1:

[2016-01-04 19:16] felixfbecker commented on #1703
@isidorn here are the **full** logs of a debug session where I trigger 2 threads and then continue one of them until it exits (btw, this is hard to get because you cannot do <kbd>Ctrl</kbd>+<kbd>A</kbd> in the debug console):
https://gist.github.com/felixfbecker/378a13c6306a4ed145cc

 - In [line 111](https://gist.github.com/felixfbecker/378a13c6306a4ed145cc#file-threads_debug-txt-L111) I notify Co

[2016-01-04 19:39] SetTrend commented on #1771
I just noticed that I didn't have a corresponding task defined in the gulpfile.js.

This approach of maintaining a task using two different files seems more pain than necessary to me. May I suggest a few improvements to the way projects are administered in VS Code:
<br/>
### Add `npm install` context menu to package.json file

When cloning a project from GitHub and opening it in VS Code, no Node m

[2016-01-04 19:56] sijad commented on #391
isn't better to run `open -a Terminal.app {path}` instead of using apple script and run 'cd {path}; clear'?
iTerm also supports this too

[2016-01-04 20:09] dpnevmatikos commented on #92
@ElliotChong solution works fine!

[2016-01-04 20:10] spongessuck commented on #1138
I'm using VSCode 0.10.6 (newest version) and I still have this problem.

[2016-01-04 20:15] Tyriar commented on #1692
You could always rebind the `editor.action.outdentLines` command to <kbd>shift</kbd>+<kbd>tab</kbd> though to maintain that behavior, then allow it to function as I described by default because it's how it behaves in pretty much all other text editors (that I'm aware).

[2016-01-04 20:30] paulomorgado commented on #69
Is there a way to change these settings at runtime and have it override every running instance of code?

[2016-01-04 20:53] Codemaverick opened #1776 "Increase javascript files limit"
I work on a project that at last count uses just a little over 2000 js files - excluding compiled/generated files and third party (vendor) files like jquery, etc.  No matter how I configure jsconfig.json, I always get the too many files error.

```"Sorry, but there are too many JavaScript source files for VS Code. Consider using the exclude-property in jsconfig.json"```.

I use Brackets on a daily

[2016-01-04 20:56] msiniscalchi commented on #1146
Here. Just tried this on OS X, right after installing.

<img width="1023" alt="code no tasks" src="https://cloud.githubusercontent.com/assets/668933/12100205/1d8567b8-b2f3-11e5-87c5-e5a07bdb11fa.png">

[2016-01-04 20:59] lucianFXD commented on #1733
I typed  code . inside a test folder. And I get that message.

[2016-01-04 21:06] joaomoreno commented on #1138
@spongessuck which protocol does your git server use? Can you show me its URL? Can you create an account on it for me to validate your claim?

[2016-01-04 21:16] joaomoreno commented on #69
@paulomorgado unfortunately there isn't.

[2016-01-04 21:20] chrisdias commented on #1748
@gregvanl can you take a look?

[2016-01-04 21:21] spongessuck commented on #1138
@joaomoreno It's using HTTP- it's a .NET web app running on IIS. You can find the software page here:

https://bonobogitserver.com/

Sorry, the server isn't accessible outside of our domain.

I'm accessing it via LAN. A typical git repo URL looks like:

http://timeweb/git/<repo>.git

[2016-01-04 21:30] lucianFXD commented on #1732
Here is what I get in my case:
![vs_code](https://cloud.githubusercontent.com/assets/16511061/12100980/0d4dcac8-b33b-11e5-8d6d-20550c76129a.png)

[2016-01-04 22:02] techniq opened #1777 "Add support for autodetecting "npm" scripts as tasks"
It would be nice if npm scripts defined in package.json were able to be automatically detected as tasks (much like gulp, grunt, and jake).  It seems like the [processRunnerDetector](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/tasks/node/processRunnerDetector.ts) would need to be augmented to add support, parsing the output of `npm run` or `npm run-script` (same thing / a

[2016-01-04 22:38] mrmlnc opened #1778 "[less] mixins ") expected" errors"
When editing a **.less** file unexpected errors show when working with mixins. These errors show when using a mixin with a named parameter.

**VS Code version:**
0.10.6

**Code:**
[code]

![image](https://cloud.githubusercontent.com/assets/7034281/12102589/efe3c584-b34c-11e5-96b4-1da25c640284.png)

[2016-01-04 22:59] gregvanl commented on #1748
Fixed in vscode-docs repo commit https://github.com/Microsoft/vscode-docs/commit/a0091326a57d770f032dd8210f5de9078136d868

[2016-01-04 22:59] #1748 closed

[2016-01-04 23:21] rkeithhill commented on #1760
Just out of curiosity, how often do you actually save a file to a different filename other than the initial save of an untitled file?  I do this exceedingly rarely.

It would be cool if the VSCode team was getting telemetry info on what features, such as shortcuts, were being used and how often.

[2016-01-04 23:24] Elusive138 commented on #508
It may well be a subtle memory leak, made apparent by the relatively high memory utilisation on this system.

I left the computer at about 5:30 PM, with system memory commit slowly creeping up - it was 15,402 MB at 7:00 PM. At 3:09 AM was the closest approach to the system commit limit (17,682 MB), and commit usage dropped from 16,218 MB to 15,217 MB. I suspect this might be where VSCode crashed.

[2016-01-04 23:30] Tyriar commented on #1760
Not that often, but when I do I expect it to be there as it's a pretty standard. Atom and Sublime both feature this keybinding.

[2016-01-04 23:53] HuanhuanSunMSFT opened #1779 "Allow to write to a file without permission after authentication"
VS code on my Mac cannot save modified files suddenly. I tried restarting VS Code and MAC itself, but none brought saving back. It keeps popping this dialog when I cmd + S to save a file.

More information:
VS version: 0.10.6
<img width="891" alt="vscode unable to save files 3" src="https://cloud.githubusercontent.com/assets/10081208/12103906/3f34763a-b2fb-11e5-8198-90c9ee1a83ab.png">
<img width="

[2016-01-05 00:20] hoovercj commented on #1710
Regarding `hint` having no underline indication by design, what is the intended use-case of then?

@jrieken I'll look into that, yes

[2016-01-05 00:32] SetTrend opened #1780 "Proposal: Usability Improvement Suggestions"
The approach of maintaining a task using two different files seems more pain than necessary to me. May I suggest a few improvements to the way projects are administered in VS Code:
<br/>
### Add `npm install` context menu to package.json file

When cloning a project from GitHub or after editing the `package.json` file in VS Code, no Node module is getting downloaded. So currently it's required to

[2016-01-05 00:34] andyyou commented on #985
@dbaeumer Thanks for answer, I got it :)

[2016-01-05 00:46] rhires commented on #1780
I would suggest/recommend that you list these items separately, so that they can evaluated/commented on separately.

[2016-01-05 00:47] roslanr18 commented on #1780
User@gmail.com

[2016-01-05 00:55] SetTrend commented on #1771
This is also true for tasks defined in `gulpfile.js`:

![can t run tasks 2](https://cloud.githubusercontent.com/assets/9283914/12104803/37fabe3e-b34f-11e5-9515-08ac012f99f1.gif)
<br/>
What's wrong here?

[2016-01-05 01:39] iamzhout commented on #69
Still getting error saying "unable to verify the first certificate " for self-signed certificate, as [issue 155](https://github.com/Microsoft/vscode/issues/155) also reports.

![20160105_vscode_unable_certificate](https://cloud.githubusercontent.com/assets/14846203/12105415/8d1ca4fa-b38f-11e5-80e9-31eccb1e9902.PNG)

**my vscode version is 0.10.6:**
Version 0.10.6
Commit a80232bbcfe8a5cdad1ebc98638

[2016-01-05 01:41] iamzhout commented on #155
NOK for me for 0.10.6, also reported in [issue 69 thread](https://github.com/Microsoft/vscode/issues/69#issuecomment-168864832)

[2016-01-05 01:45] iamzhout commented on #155
I do have added ```"http.proxyStrictSSL":false``` in my User Settings configuration, as below picture shows.

![20160105_vscode_user_setting](https://cloud.githubusercontent.com/assets/14846203/12105548/cc12701c-b390-11e5-9928-58eeed452b9c.PNG)

[2016-01-05 01:59] gclifford commented on #189
Yes it does :smile:

[2016-01-05 04:30] jaytrent opened #1781 "Segmentation Fault 11 on start"
I just installed the latest (December refresh).
On starting the app, the icon appears briefly bouncing in the Dock, then disappears.

By opening from finder with control-click | Open, I get the same behavior followed  by an error dialog with the message text below; also, the following messages are in the system console:

1/4/16 8:32:53.117 PM com.apple.launchd.peruser.329406801[1003]: ([0x0-0x1e11

[2016-01-05 04:34] vilic commented on #751
@bpasero LOL, like powershell.

[2016-01-05 04:43] jaminroe commented on #1508
Don't see anything in Git panel. I'm on Mac 10.11.

[2016-01-05 05:14] jwulf commented on #1441
Great questions. 

One possibility:

Show only the names while the user is typing, then when the user stops typing for a (specified delay period), make a decision about what to show. 

That addresses the labels coming in and out of view. 

What about having the Name as a tooltip, and it could only be a tooltip for items where the match was made on name. 

That would be kind of like Google's "Why a

[2016-01-05 05:45] liandaoacc commented on #1420
@dbaeumer I tried many times in VSCode 0.10.5 and then update to 0.10.6, and finally I found how I produced this problem in both version.
- **Workspace**
My workspace is very easy, the directory is
[code]
and the codes in files are
`./HelloWorld/.vscode/tasks.json`
[code]
`./HelloWorld/HelloWorld.ts`
[code]

- **To produce the problem**
**case 1**: before compiler the **HelloWorld.ts** .
**case 2*

[2016-01-05 05:59] liandaoacc commented on #1420
@dbaeumer Sorry, I found I can't reply the email directly. So if you need the image, please let me know.

[2016-01-05 06:14] bpasero commented on #508
That would be super useful, thanks!

Currently vscode does not log to disk.

[2016-01-05 06:14] bpasero commented on #508
@Elusive138 can you share the workspace you let vscode running on?

[2016-01-05 06:15] bpasero commented on #751
My strong position against BOMs is company agnostic ;)

[2016-01-05 06:20] Elusive138 commented on #508
@bpasero Unfortunately not. It is based on Ext JS, though, and that's where the majority of the (library) code is. I'll try a clean Ext JS workspace after this other testing is done, and see if it repros there.

[2016-01-05 06:22] roslanr18 commented on #751
.

[2016-01-05 06:22] bpasero commented on #508
@Elusive138 yes would be good to have a sample to reproduce on our end.

[2016-01-05 06:26] azizsaboor opened #1782 "Copy Line Down or Up Shortcut - Not Working"
The copy line down or up shortcuts are not working on Linux (currently using mint 17)

[2016-01-05 07:58] egamma commented on #1780
CC @dbaeumer

[2016-01-05 08:01] takuan-osho commented on #69
I also still getting another error saying "end of central directory record signature not found" although I followed @joaomoreno's [instruction](https://github.com/Microsoft/vscode/issues/69#issuecomment-168728904).

![vscode-extension-install-error](https://cloud.githubusercontent.com/assets/1075965/12110213/1868e2f2-b3cd-11e5-98d2-8fd626cb8332.png)

**my vscode version is 0.10.6:**
Version 0.10.6

[2016-01-05 08:10] iamzhout commented on #69
@edwinyzh you can use [privoxy](http://www.privoxy.org/) to setup http proxy over sockets ones.

[2016-01-05 08:16] jrieken commented on #1710
It would allow you to hint to a code action provider what to propose

[2016-01-05 08:41] Ciantic commented on #1722
This is duplicate of #132 I think also you should vote this: https://visualstudio.uservoice.com/forums/293070-visual-studio-code/suggestions/7752606-php-intellisense

PHP IntelliSense is required for symbol navigation (e.g. symbols, Go to definition, ...)

[2016-01-05 08:47] joaomoreno commented on #1441
How about a tooltip over every extension's readable name that would display its id? Would that help?

[2016-01-05 08:49] shanalikhan1 commented on #1387
Is this in your roadmap ? it would be good to add as im making extension for sync settings and only extension sync is remaining.

[2016-01-05 08:52] joaomoreno commented on #69
@iamzhout Let's keep that issue's discussion in #155

@takuan-osho That error comes from the zip library. It downloads what it assumes to be the extensions zip package and tries to extract it. It seems to not have downloaded a zip archive at all, so your proxy must be returning something other than the correct bits. Any idea there?

[2016-01-05 08:54] joaomoreno commented on #155
@iamzhout did you apply [this workaround](https://github.com/Microsoft/vscode/issues/69#issuecomment-168728904)?

[2016-01-05 08:59] isidorn commented on #1703
@vadimcn thread id needs to be unque at any given moment, not the whole lifetime
@felixfbecker thanks for more details, I will look into it

[2016-01-05 09:00] joaomoreno commented on #1739
Seems dupe of #1733

[2016-01-05 09:00] iamzhout commented on #155
@joaomoreno Yes, I have applied this patch, and restarted vscode, still the same error.

![20160105_vscode_main_js](https://cloud.githubusercontent.com/assets/14846203/12111093/b67d719c-b3cd-11e5-8010-2b04f3b79e0b.PNG)

[2016-01-05 09:02] joaomoreno commented on #155
Can you somehow show me how I can reproduce your case? Eg: how to set up an untrusted proxy?

[2016-01-05 09:03] dbaeumer opened #1783 "Ctrl+Shift+M broken"
Showing errors is broken in latest. Executing it results in
[code]

[2016-01-05 09:03] dbaeumer commented on #1783
@jrieken can you please have a look.

[2016-01-05 09:05] Manouchehri commented on #1739
@bpasero Not sure what you mean by 'wayland extension'. Wayland isn't an extension, it's a display server protocol. VS Code does start, but I get that error message on every start and I have to close it to continue.

@joaomoreno I'm not sure, that seems unrelated to me. Despite the error message, my terminal does not freeze and continues to work fine.

[2016-01-05 09:06] dbaeumer commented on #1783
Removing important flag. This only happens if no editor is open when Ctrl+Shift+M is pressed.

[2016-01-05 09:14] joaomoreno commented on #1773
Can you provide a screen recording of the behaviour you mention?

[2016-01-05 09:15] dbaeumer commented on #1420
@liandaoacc The different error message come from the fact that in case1 the message comes from the internal language service where the second comes from the external tsc compiler. However in both cases you should be able to navigate to the file containing the error.

The problem is actual a very old version of the tsc compiler that is install on your system. tsc -V reports Version 1.0.3.0 on your