[2019-01-02 09:20] chnliquan commented on #65680
i see, thanks a lot

[2019-01-02 09:20] nimms commented on #65793
Hi Denis
Run your tests with the debug launch config above. Wait for the first test run to finish. Peers enter to trigger a rerun. You’ll then get a message in your console saying that tests weren’t run since there are no changes. Then press a to trigger a full re-run. Took me a while to figure that one. Turns out I’m not great at reading instructions!

nim

[2019-01-02 09:39] egamma commented on #65894
Please report the issue against the Java extension.

[2019-01-02 09:39] #65894 closed

[2019-01-02 09:41] javadbat commented on #65163
![image](https://user-images.githubusercontent.com/11534875/50586699-ec5ada00-0e8f-11e9-9746-83a67de37674.png)
work perfectly in command

[2019-01-02 09:46] egamma commented on #65883
@usernamehw thanks for chiming in.

[2019-01-02 09:46] #65883 closed

[2019-01-02 09:47] MarcOne68 opened #65901 "Angular Language Service"
Issue Type: <b>Bug</b>

Angular Language Service doesn't work on HTML file but works in inline template in .ts component file

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:12:07.165Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz (8 x 2808)|
|GPU Status

[2019-01-02 09:51] egamma commented on #65859
Can you try to start VS Code from the command line in a console window, e.g. by typing 'code'. Do you see an error message?

@ILSYT what exactly do you mean by?

[2019-01-02 09:52] #65901 closed

[2019-01-02 09:56] ILSYT commented on #65859
@egamma Sorry,I'm a Chinese so I can't use English well...Maybe you can try to translate this.
在兼容模式下，它能够正常运行。也许它与Win7 32bit兼容性不够好。

[2019-01-02 10:00] GbolahanA opened #65902 "VS Code won't run without an internet connection"
Issue Type: <b>Bug</b>

VS Code v1.30.1 doesn't run when an Internet connection is not present.

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:12:07.165Z)
OS version: Windows_NT x64 10.0.17763

[2019-01-02 10:03] egamma commented on #65897
@Yzrsah not clear to me in what setup you develop the forked extension.

When you fork an extension, open it in VS Code, and then run it using F5, then this version will overwrite the version of the extension that is loaded in VS Code. This is how extensions are developed and there is no need for patching needed, see https://code.visualstudio.com/api/get-started/your-first-extension.

What am I mi

[2019-01-02 10:05] egamma commented on #65902
duplicate of  #7570

[2019-01-02 10:05] #65902 closed

[2019-01-02 10:07] egamma commented on #65896
From the installed extensions it looks like your are using VS Code for C/C++ development. Please report the issue against the C++ extension.

[2019-01-02 10:07] #65896 closed

[2019-01-02 10:12] balexandre commented on #43169
I had the exact same issue, more weird is that I could simply press <kbd>ENTER</kbd> in the emptyness and the powershell command line would simply shown.

**What I have tried** and succeed (maybe can help someone):

Digging a bit I've found out that the original `terminal.integrated.shell.windows` had the wrong path (was pointing to `C:\WINDOWS\Sysnative\WindowsPowerShell\v1.0\powershell.exe` and

[2019-01-02 10:33] NikxDa commented on #65539
@thecakeisalie25 Even easier:
`if (goto.startsWith ("+") || goto.startsWith ("-")) goto = currentLine + Number (goto)
currentGotoMethod (goto);`

[2019-01-02 10:36] egamma commented on #65866
This is a very common gesture, so I would be surprised if it doesn't work.

Executing the same steps using the menus instead of the keyboard works?
Do you have a special keyboard?
Have you changed the keybindings?

Since this looks like a keybinding issue please refer to https://github.com/Microsoft/vscode/wiki/Keybinding-Issues

What command is bound to ctrl+c (very by opening the keybindings). T

[2019-01-02 10:53] egamma commented on #65874
please provide your feedback on how to improve the presentation to the marketplace team using: vsmarketplace@microsoft.com.

A user will **install** an extension once, but then there are additional **downloads** whenever there is an update to an extension.

[2019-01-02 10:53] #65874 closed

[2019-01-02 11:01] NDelt commented on #65888
I didn't know about `.editorconfig` file. Thanks.

[2019-01-02 11:01] #65888 closed

[2019-01-02 11:01] egamma commented on #65888
This works as intended an designed as pointed out by @usernamehw

[2019-01-02 11:20] egamma commented on #65887
@Cdixon855 I'm unable to reproduce this given the information above.

What exactly do you mean by

I've used the following steps from a console/terminal:

- touch test.html
- code test.html

The file can be edited without any problems.

[2019-01-02 11:21] ncannasse commented on #64984
I can confirm that we're having the same issue on numerous computers, using latest 1.30.1

@roblourens Is the rg.exe executable correctly signed? I think you should get in touch with Windows Defender team and see if they can help, maybe sometimes just changing the executable name will not trigger the AV.

Just to emphasis (without complaining since I understand this is not something easy to solve)

[2019-01-02 11:23] egamma commented on #65332
@pascalandy this is commonly caused by an extension that modifies a file on save. To narrow this down:

- see https://github.com/Microsoft/vscode/issues/65332#issuecomment-448404905
- what file type are you editing when this happens

[2019-01-02 11:35] CaptainCyril commented on #65898
This is another sample.
![sample2](https://user-images.githubusercontent.com/9806265/50590338-3c876b80-0e93-11e9-8762-c0413138bcd2.jpg)

[2019-01-02 12:01] jithuin commented on #65883
Thank you any way for the response ..
It was a mistake. any way we resolved this issue with sql server team

Regards
shijith

[2019-01-02 12:04] egamma commented on #65528
@CatchTheDog it looks like in the editor the characters are rendered properly. The problem shows up when you run the program. The launching and running the program is not done by the VS Code itself but by the Java extension.

This looks related to https://github.com/Microsoft/vscode-java-debug/pull/484, please follow-up on this issue.

[2019-01-02 12:04] #65528 closed

[2019-01-02 12:07] egamma commented on #65898
@CaptainCyril please attach the source as well so that we do not have to enter the code manually to reproduce the problem.

[2019-01-02 12:11] #65867 closed

[2019-01-02 12:11] egamma commented on #65867
@Sologala please report the issue against the cpptools extension.

[2019-01-02 12:19] ntippman opened #65903 "Automatic filetype detection for differently named dockerfiles"
Issue Type: <b>Feature Request</b>

Automatic file type detection and thus syntax highlighting for Dockerfiles only works if the file name is exactly "Dockerfile". When working with multiple Dockerfiles names may differ (e.g. DockerfileA, DockerfileB). Current solution is to set the file type manually after every restart.

It would be a quality of life improvement if those were automatically detec

[2019-01-02 12:37] belezariusz opened #65904 "Emmet dollar sign $ being automatically escaped within abbreviation text when no star * operator"
- VSCode Version: 1.30.1
- OS Version: windows 10

No numeration in custom emmnet snippets with syntext +.

Steps to Reproduce:
1. build custom snippet "test":"(div>div.aaa{$}+div.bbb{$})".
2. run custom snippet test*2
3. output
[code]
no numeration in first div.
error not ocure when I run custom snippet with internal muliplayer.

"test":"(div>div.aaa{$}+div.bbb{$})*5".
run test output:
[code]

Do

[2019-01-02 12:38] barakimam commented on #65385
<img width="908" alt="screen shot 2019-01-02 at 1 34 23 pm" src="https://user-images.githubusercontent.com/44836329/50592195-5f198480-0e93-11e9-9b52-9b39e818fdba.png">
@sandy081 this is the screenshot when it is not maximised on macOS

<img width="1440" alt="screen shot 2019-01-02 at 1 37 52 pm" src="https://user-images.githubusercontent.com/44836329/50592260-abfd5b00-0e93-11e9-9f23-b675174d5b81.p

[2019-01-02 12:48] oBusk commented on #65546
If the workspace settings has the "typescript.tsdk" specified, why would VSCode decide to use the global?

Could even argue that clicking the version to select which TS version to use (global or workspace) should update the workspace settings.

[2019-01-02 12:55] CaptainCyril commented on #65898
Sure!
[phpsample.txt](https://github.com/Microsoft/vscode/files/2720775/phpsample.txt)

[2019-01-02 13:43] kstratis commented on #59887
@brunnopleffken The Skia patch you are talking about was actually merged in M72.

Have a look at this one: https://bugs.chromium.org/p/chromium/issues/detail?id=901611

I think it fixes the issue once and for all.

[2019-01-02 14:05] torgeirsh opened #65907 "Behaviour of Page Up and Page Down keys is inconsistent with native Windows programs"
If I open a file that is more than one screen long in Visual Studio Code (1.30.1), place the cursor at the top of the screen and press Page Down, the cursor moves to the bottom of the screen without moving the view. This behaviour is inconsistent with native Windows applications like Notepad or Visual Studio 2017. The expected behaviour is that the view should move one screen down, and the cursor

[2019-01-02 14:08] atiqorin opened #65908 "Shutting down computer without closing VSCode doesn't open up last opened editor tabs."
- VSCode Version:
Version: 1.30.1 (user setup)
Commit: dea8705087adb1b5e5ae1d9123278e178656186a
Date: 2018-12-18T18:12:07.165Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
- OS Version:Windows_NT x64 10.0.17134

Steps to Reproduce:

1. Open up vscode. Open some files on the workspace that were not alreay opened. Pin them by double clicking.
2. Shut down PC without closing V

[2019-01-02 14:09] epeterssen commented on #65178
Same issue.  Reverted to 1.25.1.

[2019-01-02 14:15] Mr-jiangzhiguo opened #65909 "global snippet, don't show in suggestion[MAC, VSCode, v0.1.19]"
Issue Type: <b>Bug</b>

1. create global snippets, named: `global.code-snippets`
2. `global.code-snippets` code:
[code]
Then,in a `test.js` file, input @apidoc, and suggestion lists no above, @apidoc + tab still unused!

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:05:00.654Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Va

[2019-01-02 14:38] egamma commented on #65903
@ntippman the docker extension detects files with the name `Dockerfile` and `*.dockerfile`.
If you have suggestions for additional file names that should be detected as Dockerfile, then file an issue against the vscode-docker extension.

[2019-01-02 14:38] #65903 closed

[2019-01-02 14:42] pascalandy commented on #65332
It's a bash-script.
I realized that it was the git extension. I removed it and the issue is gone.
I guess the issue on under the extension.

Thanks!
P

[2019-01-02 14:42] #65332 closed

[2019-01-02 14:47] Tyriar commented on #65879
See https://code.visualstudio.com/docs/setup/linux#_visual-studio-code-is-unable-to-watch-for-file-changes-in-this-large-workspace-error-enospc

[2019-01-02 14:47] #65879 closed

[2019-01-02 14:48] Tyriar commented on #43169
@balexandre that's #57803 on Windows 10 1809, not Windows 7.

[2019-01-02 14:48] #65889 closed

[2019-01-02 14:50] Tyriar commented on #62103
@fabiospampinato you would run the command inside a shell: `bash -c my-command`

[2019-01-02 14:51] Tyriar commented on #62698
@karlhorky this is talking about the vscode CLI so it shouldn't have anything to do with hyper? The program conhost running wsl.exe

[2019-01-02 14:54] Tyriar commented on #65880
https://github.com/Microsoft/vscode/issues/57803

[2019-01-02 14:54] #65880 closed

[2019-01-02 14:57] fabiospampinato commented on #62103
@Tyriar I'm not sure I'm following, aren't all terminal commands run inside a shell? Don't we have to explicitly exit it to get an exit code via `Terminal#exitCode`?

[2019-01-02 14:59] sobjornstad opened #65910 "When clicking on an invalid file:// URI, the error given is that "file is a directory""
- VSCode Version: 1.30.1
- OS Version: Windows 10.0.15063

Steps to Reproduce:

1. Type `file://C:/test.txt` into a new document. It does not matter whether this path exists or not on your system. (There needs to be an additional `/` after `file:///` for this URI to be correctly formed.)
2. Control-click on the link.

Does this issue occur when all extensions are disabled?: **Yes**

Expected behav

[2019-01-02 15:03] Tyriar commented on #62103
@fabiospampinato you'll need to do `bash -c` if you want to change the shell/shellArgs, you could also run `exit` as you suggest if you're using the configured shell via `sendText`. The latter comes with some significant downsides in that syntax for doing this differs between shells so it might not work on the user's config.

[2019-01-02 15:11] GoodGuyNick commented on #34074
After update working now.

[2019-01-02 15:11] #34074 closed

[2019-01-02 15:16] Tyriar commented on #65817
Can you share the exact setting you're using for `terminal.integrated.shellArgs.windows` and `terminal.integrated.shell.windows`?

[2019-01-02 15:19] fabiospampinato commented on #62103
@Tyriar Thanks for the explanation. Is this ergonomic enough though? I imagine things will get unpleasant quickly if each extension author has to think about what shell is available where and what's each shell's syntax for executing a command 🤔

I would be great if there was an official API that abstracts all this complexity away, at least for the most popular shells, so that we could just write s

[2019-01-02 15:34] Tyriar commented on #62103
@fabiospampinato well that's basically what the tasks API is meant to do. I'm beginning to think maybe we shouldn't have this API for this reason.

[2019-01-02 15:35] Tyriar commented on #62698
@karlhorky oh I misunderstood, you're running the code CLI via hyper, that sounds like this.

[2019-01-02 15:54] ftlPhysicsGuy commented on #23757
I believe this issue attempts to address part of the reasoning used to dismiss issue #4504:  this issue requests an alert noting when local keyboard shortcuts would be overwritten by workspace-specific shortcuts.  As to the "win+" vs "cmd+" argument, these keys should simply be synonymous for obvious reasons.

I would also like to see this feature, not simply for team sharing (as noted in the othe

[2019-01-02 16:06] karlhorky commented on #62698
Yeah for me the reproduction steps are:

1. Start Windows 10
2. Open Hyper (with config: `shell: 'C:\\Windows\\System32\\bash.exe'` in `.hyper.js`)
3. Switch to project directory and type `code .`
4. Prompt hangs

At step 4, you can <kbd>Ctrl</kbd>-<kbd>C</kbd> to send a `SIGINT` and get back to a working prompt (VS Code will stay open), but it's kind of annoying.

[2019-01-02 16:19] misolori commented on #65810
Thanks for the suggestion and we'll keep that in mind. Closing this as we don't want issues for each file type. See https://github.com/Microsoft/vscode/issues/60699#issuecomment-429208011.

[2019-01-02 16:19] #65810 closed

[2019-01-02 16:22] marcoms commented on #29757
Two solutions make sense to me:

- Truncate the beginning of the suggestion enough to show the end: `... console.log()`
- Show the beginning and ends of the suggestion: `window. ... .log()`

Makes sense to have it configurable too

[2019-01-02 16:23] the-ress commented on #65504
@mjbvz Here's the source: https://gist.githubusercontent.com/the-ress/5f6c071c50db5caf82783e04a07d2a4e/raw/55df1e1e77cd04a443d3be2d9512f87b89b13cf9/sample.md

[2019-01-02 16:35] roblourens commented on #65163
What if you run it in the terminal by adding `"console": "integratedTerminal"`?

[2019-01-02 16:37] roblourens commented on #65898
https://github.com/Microsoft/vscode/issues/65649

[2019-01-02 16:37] #65898 closed

[2019-01-02 16:38] roblourens commented on #65793
Glad that works for you. I added an extra note to our Jest debug recipe: https://github.com/Microsoft/vscode-recipes/tree/master/debugging-jest-tests#debugging-all-tests

[2019-01-02 17:03] IonCaza commented on #65817
Environment variable
`ProgramFiles = C:\Program Files`
`cmder_root = %ProgramFiles%\Cmder`

This environment variable is valid, given that it works in a `cmd` terminal:

This settings.json doesn't work:

    "terminal.integrated.shell.windows": "cmd.exe",
    "terminal.integrated.shellArgs.windows": [
        "/k", "%cmder_root%\\\vendor\\\init.bat", "/noautorun"
    ],
}

and yields this error:

[2019-01-02 17:05] TheKamakaZi commented on #56810
I recently started running into a similar problem, but do have some output from `code --version`:

`[main 7:00:12 PM] Error: [UriError]: If a URI contains an authority component, then the path component must either be empty or begin with a slash ("/") character
    at C:\Program Files (x86)\Microsoft VS Code\resources\app\out\vs\code\electron-main\main.js:74:478
    at t.e (C:\Program Files (x86)\

[2019-01-02 17:08] Tyriar commented on #65817
@IonCaza thanks, looking into it.

[2019-01-02 17:11] mfgray commented on #39059
I often work with the screen split vertically and a few source files open that I go between. Currently there appears to be no convenient or self evident way to view the names of and select the open tabs since some of them are completely invisible if there is not enough screen space.

I consider switching to sublime over the issue, so it's a pretty important usability requirement and I feel it was

[2019-01-02 17:14] 76784 commented on #65874
That's interesting to know. I think that information should be communicated to the user, which is why I submitted a feature request.

And knowing what you've told me, I think that "downloads" is a totally irrelevant metric (why should "downloads" matter? what matters is how many users have it installed), and should be considered for removal from display.

[2019-01-02 17:14] SunnieG opened #65911 "php tags in JavaScript"
When putting php tags within javascript i.e:

[code]

The recent update is not recognizing the php tags, it still thinks it's JavaScript.

The VS code version before this (1.29 I think) was working perfectly.

[2019-01-02 17:17] #60628 closed

[2019-01-02 17:19] Tyriar commented on #65817
I looked into it and my suspicion was right in that we don't support this yet. So I think cmd.exe is getting the %var% and resolving itself or something. When we do add this we would want to use [the syntax that other settings use](https://code.visualstudio.com/docs/editor/variables-reference#_environment-variables) and it would end up looking like this:

[code]

I couldn't find a feature request

[2019-01-02 17:23] IonCaza commented on #65817
Glad I could be of help : ) @Tyriar Happy New Year!

[2019-01-02 17:27] JonathanWilbur opened #65912 "Invert Regex Selection"
I would like to see a flag in the Find / Replace modal that inverts the selection. In other words, everything starts out as selected / highlighted, then anything that matches the regular becomes un-selected / un-highlighted.

[2019-01-02 18:11] roblourens commented on #65911
https://github.com/Microsoft/vscode/issues/65649

[2019-01-02 18:11] #65911 closed

[2019-01-02 18:14] Dudeonyx commented on #7570
Issue started when i upgraded to win 10 1809

[2019-01-02 18:17] roblourens commented on #64984
It is signed, I have been in touch with them. If I can find a computer where this reproduces then I can investigate more but I haven't yet. Maybe you can describe exactly what you mean by "same issue" because multiple issues have already been mentioned here.

[2019-01-02 18:18] kieferrm opened #65913 "Terminal flickrting with every key press"
Issue Type: <b>Bug</b>

1) Open a Powershell terminal.
2) Type in the terminal
-> with every keystroke a rectangle is drawn in the upper left corner of the terminal

VS Code version: Code - Insiders 1.31.0-insider (ed5363e8659d142fc170cb978389e34102135e8f, 2019-01-02T17:25:53.371Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R

[2019-01-02 18:21] asap7770 opened #65914 "VSCode no longer showing Go To Definition on right click."
- VSCode Version: 1.30.1
- OS Version: Windows x64 10.0.1
Python Project.
Extension is installed.

Steps to Reproduce:
1. System restore while having VSCode installed.
2. Reinstall VSCode and extensions due to restore causing malfunction.

After the above steps happening my VSCode no longer shows the 'Go To Definition' option in the right click. I have jedi disabled, and tried re-enabling it as we

[2019-01-02 18:36] m-brooks commented on #6442
@headmelted - Jay, many thanks for your ARM port. I installed it on an RPi 3 B+ a few days ago and was then even able to install the MS C# extension onto it. I'd independently had the same idea as yourself - I wanted to use the RPi as a platform for teaching (C# in my case). Sadly when I hit F5 I got a nasty message about the debugger not being supported on armv71 (see the link that Gregg added ab

[2019-01-02 18:38] CaptainCyril commented on #65898
@roblourens Why did you thumb down my question? I tried searching Google a lot for this but could not find an answer. Anyway, thank you for your references.

[2019-01-02 18:45] roblourens commented on #65898
That wasn't me :)

[2019-01-02 18:55] BlueShardSigma opened #65915 "Cannot read property 'indexOf' of undefined"
Im doing a simple Python (3.7.1 64-bit) script on VS Code. And for whatever reason none of my scripts seem to work. I get error "Cannot read property 'indexOf' of undefined"
_Script:
print("Let's do some Math, adding first")
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")
result = float(num1)+float(num2)
print("And the answer is: ")
print(result)_

This script ran perfec

[2019-01-02 19:06] alphawerewolf1900 opened #65916 "app.js Objectsnotfound"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2019-01-02 19:07] alphawerewolf1900 commented on #65916
Issue Type: <b>Performance Issue</b>

when i was scripting, using console.log('hi ninjas');

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:12:07.165Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz (8 x 1800)|
|GPU Status|2d_canvas: enabled<br>checker_imag

[2019-01-02 19:08] #65872 closed

[2019-01-02 19:09] mjbvz commented on #65872
You can create your own snippet for this or install an extension that provides snippets with the quote type you would like

[2019-01-02 19:10] mergesort commented on #62810
I suspect this issue is somewhat dead but I do have a slight update. I still can't get it to work, but I noticed that for the first few seconds of the app, the keyboard command does work. This makes me suspect that it's something that is lazily loaded as the app initializes, but I don't really have any more information I can provide to help unfortunately.

Any updates or anything I can do to help?

[2019-01-02 19:11] Astrantia opened #65917 "Snippet API"
Can an API to get the list of available snippets that are being suggested in the editor be added? Also can an API to trigger the first suggestion programmatically be added?

[2019-01-02 19:11] mjbvz commented on #65862
Do you have format on save or code actions on save enabled?

Can you also please check the TypeScript Server trace:

1. Set `"typescript.tsserver.trace": "verbose"`
1. Reproduce the problem
1. Open the output panel and view the `TypeScript` section

What is the last message in the output? Are there any errors or call stacks?

[2019-01-02 19:18] mjbvz commented on #65845
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled?

[2019-01-02 19:19] narrative1st commented on #12185
Really surprised to find out that this isn't supported in VSCode...this regex works great in Sublime Text for converting selected text to lowercase and converting spaces to dashes (slugify):

`${TM_SELECTED_TEXT/([a-zA-Z]+)(?:(s+?)|\b)/?1:L$1(?2:-)E/g}`

But doesn't work in VSCode?

Is this going to be something that is supported, or is there something I'm missing?

[2019-01-02 19:23] mjbvz commented on #65782
Duplicate of #63915

[2019-01-02 19:23] #65782 closed

[2019-01-02 19:24] mjbvz commented on #65736
Please share the text of the code along with screenshots

[2019-01-02 19:28] Iipal opened #65918 "Terminal glitches after suspend"
- VSCode Version: 1.30.1
- OS Version: Linux x64 4.18.0-13-generic(Ubuntu 18.10 && 18.04 too)

Steps to Reproduce:

1. Create new terminal window
2. Put your laptop in suspend mode
3. Press any button for exit from suspend mode
4. Complete.

Disabling all extensions doesn't help and in Insiders Editions this glitches work too. (Used `zsh` with `oh-my-zsh` & theme "nebirhos" if it's can help)
![ima

[2019-01-02 19:28] chrisjsewell opened #66218 "Extension tests not found on Azure Pipeline"
I have an extension, initially created using the standard `yo code` template, and successfully uploaded to the market place. I have created a test suite, which works correctly when running locally (i.e. pressing F5), and I now wanted to add CI testing to the [Github repo](https://github.com/chrisjsewell/vscode-moose).

I followed the instructions on [Continuous Integration](https://code.visualstud

[2019-01-02 19:29] segevfiner opened #65920 "Debugging shifts focus to another thread, while running, under certain conditions"
- VSCode Version: 1.30.1
- OS Version: Windows 10.0.17763.195 x64

Experienced while debugging using vscode-go/delve: https://github.com/Microsoft/vscode-go/issues/2133

### Steps to Reproduce
1. Debug the following using vscode-go/delve, placing a breakpoint on the `time.Sleep` line:
[code]
2. Constantly hit "next" (step over).
3. VS Code will often jump to a different thread stopped on `gopark`

[2019-01-02 19:31] mjbvz commented on #65607
Can you try setting: `"editor.showUnused": false`. Do you still see the `Not showing X further errors` message after setting that?

[2019-01-02 19:38] mjbvz commented on #65575
We have two calls to markdown it:

* Render the markdown to html
* parse the markdown to a set of tokens

Markdown it has an internal render method that takes a list of tokens instead:

[code]

We could cache the tokens and use this api instead. Marking as help wanted. Here's where the two calls are: https://github.com/Microsoft/vscode/blob/fa5306d67bb934c42d206fb3c7e028dff00d530f/extensions/markd

[2019-01-02 19:46] VenancioAvila commented on #65827
Hello guys! I was resolve this uninstalling vscode and all installed packages. After that I discovered that the error was in a package called color-exchange, when it uninstalls everything returns to normal.

[2019-01-02 19:50] richtera commented on #65607
That flag doesn't seem to have an effect
![image](https://user-images.githubusercontent.com/708186/50609496-ce947180-0e9d-11e9-80c4-622e5e05b24c.png)

[2019-01-02 19:51] mjbvz commented on #65921
Thanks @DanielRosenwasser. Didn't realize this TS Server API existed. I'll update VS Code to use it

[2019-01-02 19:56] mjbvz commented on #65827
Thanks. Please file an issue against that extension so that they can fix this

[2019-01-02 19:56] #65827 closed

[2019-01-02 19:57] #65051 closed

[2019-01-02 19:57] #65921 closed

[2019-01-02 19:59] bsmith-cycorp opened #65922 "Generalized keyboard action to toggle config properties"
My original desire was to toggle problem-underscores with a keyboard shortcut. However, looking through the keybindings docs, I noticed that bindings can take `args`. Given this, I'm surprised there isn't an action along the lines of `toggleConfigProperty`, which would take an arbitrary boolean property name as an argument. This would cover lots of use-cases, including a few that have been request

[2019-01-02 20:04] ninrod opened #65923 "custom title and menu bar for linux does not work on cygwin xserver for windows"
Issue Type: <b>Bug</b>

# description

The [recently enabled by default](https://code.visualstudio.com/updates/v1_30#_custom-title-and-menu-bar-on-linux-by-default) custom title and menu bar on linux does not work on cygwin xserver (latest version: 1.20). The user cannot move the window nor right click on it.

The only way to use vscode on this setup is to modify the configuration `window.titleBar

[2019-01-02 20:23] CaptainCyril commented on #65898
@roblourens Sorry about that! :)

Happy New Year! Have a great one!

[2019-01-02 20:56] mjbvz commented on #65893
@Tyriar I thought this was a terminal configuration question but please reopen if it is a bug

[2019-01-02 20:58] mjbvz commented on #65473
@Skullnick Thanks. Since this is C# specific, please file this issue against the C# extension

[2019-01-02 20:58] #65473 closed

[2019-01-02 20:58] Robmcmon commented on #65893
I did ask on stackoverflow and got zero response. It is a bug in my vscode as my directly windows cmd does not have these issues. Only terminals opened in vscode do.

[2019-01-02 20:58] Robmcmon commented on #65893
any command results in a throw err from the loader.js

[2019-01-02 21:01] Skullnick commented on #65473
@mjbvz Then why am I not getting the same issues with 1.29.1 ? I reverted back and everything is fine.

[2019-01-02 21:25] tunedin76 opened #65924 "Lost PHP format extentions functionality, and other buggy extentions."
Issue Type: <b>Bug</b>

Latest update destroyed all my formatting for PHP.  I have tried resetting VS code - erasing all my settings, and uninstalling all extentions.

On another note over the past two months many extentions have been behaving a little off.. In other words, buggy, but none until this point has been a show stopper.

I do have the requirements for a complex IDE - as I need SSH files

[2019-01-02 21:35] Tyriar commented on #65918
https://github.com/Microsoft/vscode/issues/58167

[2019-01-02 21:35] #65918 closed

[2019-01-02 21:38] Tyriar commented on #65893
The path says `E:\c\`, how are you importing the module? And do you have an E drive?

[2019-01-02 21:38] Tyriar commented on #65817
@IonCaza you too 😃

[2019-01-02 21:39] Robmcmon commented on #65893
The files for the application are on my e drive ( this is always the case) VScode is installed on my C drive as well as npm or ionic or any modules I use are on the c drive. Vscode never had this issue previously.

[2019-01-02 21:40] Robmcmon commented on #65893
there is a local folder typically for node_modules in each application that gets installed.. However a simple cmd like npm -v results in a loader err in a vscode terminal. However inside of a normal windows cmd prompt terminal there are zero issues. This only happens inside of vscode

[2019-01-02 21:49] Tyriar commented on #65893
What shell are you using?

Can you try run these?

- `echo %cd%`
- `node -e "console.log(require('path').resolve(__dirname))"`

[2019-01-02 21:50] octref opened #65925 "HTML / CSS / Less / SCSS semantic selection (balance inward/outward)"
### Refs

- Semantic selections: https://github.com/Microsoft/vscode/issues/4795
- LSP: https://github.com/Microsoft/language-server-protocol/issues/613

### Current Status

- HTML: `Emmet: Balance (outward)` works
- CSS/SCSS/LESS: `Emmet: Balance (outward)` doesn't work, but it works in Atom. Probably need to update our dependencies.

The plan now is to use emmet's "balance" commands. The challen

[2019-01-02 21:52] Tyriar commented on #63688
I removed the JsArray completely as TypedArray is very stable at this point.

[2019-01-02 21:53] octref commented on #1808
Currently, you can run "Emmet: Balance (ourward)" or "Emmet: Balance (inward)" command for this functionality.

There's plan to support Expand Selection for all languages, and we'll do it for HTML/CSS using emmet.

You can track the new feature in: https://github.com/Microsoft/vscode/issues/65925

[2019-01-02 21:53] #1808 closed

[2019-01-02 21:55] mjbvz commented on #65733
Caused by https://github.com/Microsoft/TypeScript/issues/29236 upstream

I'll look into making the VS Code side of this more reliable so that other save participates are still run if the code actions fail

[2019-01-02 22:13] Robmcmon commented on #65893
I'm just using the same shell that got installed with vscode which is bash. I had checked the settings and it says it is using the windows cmd.exe.. Which is odd because if I use that cmd outside of vscode I do not get the error.

Your commands returned these results
- %cd%
-E:\mydirectory\app\

[2019-01-02 22:31] soandro opened #65926 "soandroj@hotmail.com"
Issue Type: <b>Bug</b>

Hi my file can not be open in normal writtings but comes out with dimonds numbers  squares and all sorts. Would you mind helping please.
Regards
Soandro

PS I tryed to copy it here bellow but that's what came out
PK

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:12:07.165Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>

[2019-01-02 22:32] soandro opened #65927 "soandroj@hotmail.com"
Issue Type: <b>Bug</b>

Hi my file can not be open in normal writtings but comes out with dimonds numbers  squares and all sorts. Would you mind helping please.
Regards
Soandro

PS I tryed to copy it here bellow but that's what came out
PK

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:12:07.165Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>

[2019-01-02 22:33] #65927 closed

[2019-01-02 22:33] AplUSAndmINUS opened #65928 "DPI settings not working on multiple DPI displays"
On my Surface Book, if I use VS Code with a non-high resolution display, elements show up as different DPI resolution.

Example to reproduce:
1- Open VS Code on Surface Book.
2- Open folder containing files in VS Code Explorer.
3- Hover over filename.
4- Tooltip shows large-DPI text.

Another example:
1- Open VS Code on Surface Book.
2- CTRL+K and CTRL+O to open folder.
3- File Explorer window is

[2019-01-02 22:37] #65733 closed

[2019-01-02 22:46] egamma commented on #65926
This means that the file is saved in a different encoding than the default one.
Please try to reopen the file with another encoding by running the command 'Change File Encoding' which is available in the Command Palette or from the status line.

[2019-01-02 22:46] #65926 closed

[2019-01-02 22:54] #65513 closed

[2019-01-02 23:01] mjbvz commented on #65437
Also effects quick input boxes and git commit message box. Assigning to January

[2019-01-02 23:06] richtera opened #65930 "ANSI codes don't all work in console"
Issue Type: <b>Bug</b>

Hi
I am outputting my log messages with a start of line tag because I have some code that output progress to the console. When I try to run the code within visual studio it seems to truncate part of the output rather than going to the beginning of the line. I suppose it should either ignore the ansi code (which wouldn't be great but a bit more predictable) or implement the

[2019-01-02 23:08] mjbvz commented on #64123
Looks fixed in insiders? @joekaiser or @ichbineinNerd Can you test on a real windows machine; I only have a VM

[2019-01-02 23:15] Tyriar commented on #65893
@Robmcmon could you try run the command "Select Default Shell" in the command palette (F1), set cmd and run them again?

[2019-01-02 23:17] mjbvz commented on #62402
Duplicate of #65112. Root cause is upstream: https://github.com/Microsoft/TypeScript/issues/29031

[2019-01-02 23:17] #62402 closed

[2019-01-02 23:17] mjbvz commented on #65899
Sounds like a duplicate of #58987

Let me know if that is not the case

[2019-01-02 23:17] #65899 closed

[2019-01-02 23:22] Robmcmon commented on #65893
@Tyriar Thank you! That was it! I guess it was indeed not a bug. My apologizes. However I do not know why this changed as I can assure you before that in the default bash terminal all the commands previously ran just fine unless this is due to a nodejs or vscode update perhaps? Either thank you for your help in helping me resolving this issue.

[2019-01-02 23:24] mjbvz opened #65931 "Strict null check src/vs/workbench/common/editor/editorGroup.ts"
Part of #60565

Tracks updating `src/vs/workbench/common/editor/editorGroup.ts` to have strict null checking. I handled some of the simple type errors in this file but was not sure about the remaining 3 issues

**Steps**

1. Add `src/vs/workbench/common/editor/editorGroup.ts` to the `include` section of `src/tsconfig.strictNullChecks.json`
1. Run `yarn strict-null-check -- --watch`
1. Fix strict n

[2019-01-02 23:31] nwolverson commented on #62370
Suffering the same issue as @Xanewok in https://github.com/nwolverson/vscode-ide-purescript/issues/115 - diagnostics are rendering fine in problems and tooltip but replaced by displayed HTML entities in the hover

[2019-01-02 23:32] mjbvz opened #65933 "Strict null check `./vs/workbench/api/node/extHostSearch.fileIndex.ts`"
Part of #60565

Tracks updating `./vs/workbench/api/node/extHostSearch.fileIndex.ts` to have strict null checking. I tried converting this file but don't understand the code enough to ensure the conversion was correct

This is a lower priority conversion as this file is not heavily depending upon

**Steps**

1. Add `./vs/workbench/api/node/extHostSearch.fileIndex.ts` to the `include` section of `s

[2019-01-02 23:40] roblourens commented on #65933
This file will be deleted soon https://github.com/Microsoft/vscode/issues/64575

[2019-01-02 23:42] mjbvz opened #65934 "Strict null check 'vs/workbench/common/editor/*model'"
Part of #60565

Tracks updating the model files under `vs/workbench/common/editor/` to have strict null checking. The following files are currently eligible:

- `vs/workbench/common/editor/resourceEditorModel.ts`
- `vs/workbench/common/editor/textDiffEditorModel.ts`
- `vs/workbench/common/editor/textEditorModel.ts`
- `vs/workbench/common/editor/untitledEditorModel.ts`

**Steps**

1. Add file to th

[2019-01-02 23:42] jabacchetta commented on #62868
I'd love the ability to have the terminal panel positioned on the bottom when on a laptop, and on the right when on my external monitor.

[2019-01-02 23:42] mymikemiller commented on #34026
I just made a Pull Request that brings this feature back (#65929). I'm curious to hear your thoughts, @isidorn.

[2019-01-03 00:02] octref opened #65935 "Open recent should not show non-existent folders"
### Problem

- Let's say you worked on project `pine/a`, `pine/b`
- One day you rename the parent folder `mv pine foo`
- VS Code keeps all the non-existent folders in Open Recent

If a folder does not exist on disk, or a workspace whose config file no longer exists, Open Recent command should not show it.

[2019-01-03 00:19] richtera commented on #65930
FYI Output capture is set to ```"outputCapture": "std"```

[2019-01-03 00:31] mjbvz commented on #64762
@zdrummond Can you please explain your project structure more or provide some example code:

- Where is the jsconfig?
- Where is the file that is being imported (`MustacheValidator `)?
- Where is the file that you are adding the import in?

[2019-01-03 00:31] eKipod opened #65937 "Terminal typing slow and caret jumping around"
Issue Type: <b>Bug</b>

1. when typing:
Open terminal (ctrl+`)
Start typing
Expected: caret follows text
Actual: caret jumps to top-left corner, then back to text

2. when executing:
Open terminal
Run a command that outputs to stdout (e.g. dir)
Expected: text continuously appears
Actual: caret keep going back to top-left corner and scans through the terminal.

VS Code version: Code - Insiders 1.31

[2019-01-03 00:33] octref opened #65938 "preLaunchTask is awkward"
I want to understand how to best use VS Code in this case.

Config in question: https://github.com/Microsoft/vscode/blob/master/extensions/css-language-features/.vscode/launch.json

Problem:

- When I develop on css-language-features, I always run `yarn watch` in a terminal
- When I press F5, VS Code still runs the `preLaunchTask`, which can take quite a while
- Currently I comment out `preLaunchT

[2019-01-03 00:36] mjbvz commented on #63701
I can't repo this in the latest VS Code insiders:

![jan-02-2019 16-35-45](https://user-images.githubusercontent.com/12821956/50619176-803a9f00-0eac-11e9-9992-0ff59fa37515.gif)

@roblourens Can you please test again to confirm

[2019-01-03 00:37] roblourens opened #65939 "Support overriding the 'role' attribute on a new tree"
For screenreaders to work properly, the tree needs to have a 'role' of 'form'. Currently we just get the tree's dom element and override the role, but the List resets its role on every focus change: https://github.com/Microsoft/vscode/blob/3e7bb120c786038030de0d284b62a837d204330a/src/vs/base/browser/ui/list/listWidget.ts#L1348. Do you know why it does that @joaomoreno? I think we can also just add

[2019-01-03 00:38] tony-thomas-git opened #65940 "Links from Release notes 1.30.1 return 404"
https://code.visualstudio.com/raw/#debugging  returns 404

![404](https://user-images.githubusercontent.com/43186848/50619200-0f4bb500-0eb5-11e9-8fbe-c30a209d0210.PNG)

[2019-01-03 00:54] mjbvz commented on #62731
Can you please test this in the next 1.31 insiders build. I can't repo this using the example markdown you shared

[2019-01-03 01:21] pieandcakes commented on #63705
@isidorn @weinand Based on what Tyriar says, can you remove the "caused by extension" tag for people who come across this issue?

[2019-01-03 01:35] #65893 closed

[2019-01-03 01:35] SE2017-Hugh opened #65942 "Failed to install VS Code update."
- VSCode Version:1.23.1
- OS Version: Windows 10 Pro 64 bit

This issue has been happening for a long time. I've had to update but the update failed again and again.

Steps to Reproduce:

1.Click the gear icon at the bottom left
2.Click "Restart to update..."
3.VSCode closes itself, and the small window with text "Updating VS Code" appears
4.Following prompt appears

image
![default](https://user-

[2019-01-03 01:50] roblourens commented on #63701
Yeah looks good now

[2019-01-03 01:50] #63701 closed

[2019-01-03 02:01] qubitron commented on #62972
Coming back to this, we were blocked on another issue on our side but will soon be able to make progress.

I don't think we need the DAP to be multi-process aware, if VS Code could be made aware of "Child Debug Sessions" on create as you proposed, what we'd be asking for in the UI would be to:
- Not show child debug sessions in the debug toolbar dropdown, only the parent
- Stop debugging on the pa

[2019-01-03 02:03] liaoyinglong opened #65943 "extension style wrong"
- VSCode Version:
- OS Version:
版本: 1.30.1 (user setup)
提交: dea8705087adb1b5e5ae1d9123278e178656186a
日期: 2018-12-18T18:12:07.165Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
OS: Windows_NT x64 10.0.17134

---

Steps to Reproduce:

1.
![bug1](https://user-images.githubusercontent.com/23382699/50621057-6d70aa80-0f3e-11e9-9ae8-280a091960af.png)

2. ![bug2](https://user-images

[2019-01-03 02:09] 3zzy opened #65944 "Feels sluggish"
Issue Type: <b>Performance Issue</b>

I have a few plugins but I wouldn't consider them "too many" yet the editor feels slow. Cursor is laggy and autocomplete stutters.

I uninstalled the biggest plugin "GitLens" hoping to improve the performance, but it doesn't seem to have impacted anything at all.

Is there anything I can do to improve the performance?

VS Code version: Code 1.30.1 (dea8705087a

[2019-01-03 02:11] zmicx opened #65945 "Ctrl+Shfift+F global search is very very slowly"
Issue Type: <b>Bug</b>

the latest version vscode is so slowly when using Global search, however the old version has this problem with version 1.28.x

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:12:07.165Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700K CPU @ 4.20GHz

[2019-01-03 02:13] intijk commented on #27112
@bpasero Do we have any progress on this one? Keen to see it happen :disappointed_relieved:

[2019-01-03 02:20] cglong opened #65946 "Support for Literate CoffeeScript"
Issue Type: <b>Feature Request</b>

I noticed that VSCode supports Atom's CoffeeScript definition, but not their [Literate CoffeeScript](https://github.com/atom/language-coffee-script/blob/master/grammars/coffeescript%20(literate).cson) one. Is there a way this syntax can be added as well? [Literate CoffeeScript](https://coffeescript.org/#literate) enables self-documenting code, and is one of its

[2019-01-03 02:24] EximChua opened #65947 "Couldn't scroll to bottom of menu"
Issue Type: <b>Bug</b>

1. Reduce the entire VS Code window to less than the height of the Edit menu.
2. Click on the Edit menu, and try to scroll using the mouse scrollwheel to the last item, "Emmet".

EXP: The "Emmet" item is highlighted and on screen.
ACT: The menu initially scrolls down, but then scrolls up.

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18

[2019-01-03 02:32] Maxhodges commented on #1808
sorry but Emmet outward falls very short of a good solution. It only considers tags, not text elements. In Webstorm it will expand to the current word, then words within quotes, then include the quotes, then the tag. Emmet just grabs everything in the tag. Often we use this to grab a word, or a string with or without quotes.

![image](https://user-images.githubusercontent.com/957271/50621745-3c4aa

[2019-01-03 02:36] Tyriar commented on #65937
This is a bug in conpty with powershell, it will be fixed in a later version of Windows. cc @zadjii-msft @bitcrazed

[2019-01-03 02:36] #65937 closed

[2019-01-03 02:41] Maxhodges commented on #1808
@octref try this with Emmet Balance in/out! It fails miserably. Please reopen the issue when you are done.
![wb33175780-28f81182-d0a0-11e7-96b7-21324684dd7e](https://user-images.githubusercontent.com/957271/50621889-710b2e00-0f4c-11e9-91e9-eefc85f657de.gif)

[2019-01-03 03:20] weikinhuang commented on #62698
Might be related to my issue here? https://github.com/Microsoft/vscode/issues/63539

[2019-01-03 03:20] oliverjanik commented on #1808
Thank you @Maxhodges for investing time into this. I too feel strongly about good syntax aware expand/shrink selection, but it seems mostly ignored brushed off by people who have not experienced the joy of using it.

[2019-01-03 03:38] Tyriar opened #65948 "inDebugMode context key seems to be broken"
VS Code version: Code - Insiders 1.31.0-insider (ed5363e8659d142fc170cb978389e34102135e8f, 2019-01-02T17:25:53.371Z)
OS version: Windows_NT x64 10.0.17763

I cleared out my keybindings but I keep seeing this error message while I'm paused in a debug session:

![image](https://user-images.githubusercontent.com/2193314/50622913-db2cc000-0ec5-11e9-97ee-2aa2c9696088.png)

Target I was using: https://g

[2019-01-03 03:41] vincentvictoria commented on #65944
I noticed key-input-sluggishness after I updated to 1.29.0.
Anyhow, try reducing os-wise key-repeat interval.
It helped me.
Also, take a look at [https://github.com/Microsoft/vscode/wiki/Performance-Issues](https://github.com/Microsoft/vscode/wiki/Performance-Issues) if you haven't.

[2019-01-03 03:50] cleidigh commented on #65939
@roblourens
@joaomoreno
Based on some of my experience with this, I think keeping the main tree role constant by setting as a constructor option will probably be the most reliable.  I have seen some unhappy screenreader behavior when ARIA attributes change dynamically.

[2019-01-03 04:11] SeonHyungJo commented on #65947
I do not work either.

[2019-01-03 04:21] macxfadz commented on #7570
@Dudeonyx  I can second that.

Please Microsoft give us a solution, we are stuck here, why this Win10 1809 so annoying these days, without proper QA

[2019-01-03 04:49] galich opened #65949 "Volume control keys typed in terminal"
Pressing volume buttons on Microsoft Surface Keyboard when Visual Studio Code Insiders terminal is focused produces fun results:

![image](https://user-images.githubusercontent.com/3718155/50623927-cca3d000-0ee8-11e9-91d6-d99f4cc801c4.png)

Version: 1.31.0-insider (user setup)
Commit: ed5363e8659d142fc170cb978389e34102135e8f
Date: 2019-01-02T17:25:53.371Z
Electron: 3.0.10
Chrome: 66.0.3359.181
Nod

[2019-01-03 05:11] ghost opened #65950 "not working"
live server doesn't work

[2019-01-03 05:11] luis12cottom commented on #65950
how can I fix this problem

[2019-01-03 05:19] roblourens commented on #65933
On the other hand I can just throw some `!` in.

[2019-01-03 05:21] ashi009 commented on #65546
https://github.com/Microsoft/vscode/issues/30069#issuecomment-312732928 doesn't make sense to me.

The security is assumed by asking the user to manually select the tssdk to use, however, the user has no way to determine if the one in the workspace is safe (also true for any npm package) and the opt-in process is not promoting the potential security risk for using the one in the workspace.  Theref

[2019-01-03 05:47] CCludts opened #65951 "C# Method Syntax highlighting issue"
Issue Type: <b>Bug</b>

Syntax highlighting breaks when formatting function signatures in certain cases.
Reproduces also with extensions disabled (see screenshot).
Reproduces also on vscode-insiders `1.31.0-insider`

![image](https://user-images.githubusercontent.com/18717967/50624712-21643c80-0f23-11e9-8210-19c35ae7b07e.png)

[code]

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178

[2019-01-03 05:54] skprabhanjan commented on #65575
@mjbvz , I am trying this one :)

[2019-01-03 05:57] jamesray1 opened #65952 "Feature request: Toggle inline code and code blocks in comments with a keyboard shortcut"
Rendering inline code and code blocks like as displayed on GitHub would be a plus.

[2019-01-03 06:21] octref commented on #1808
@Maxhodges JavaScript/TypeScript balance outward will be provided by TypeScript language service. See https://github.com/Microsoft/vscode/issues/4795.

I'll start with Emmet and improve it later to have more granularity.

[2019-01-03 06:57] formulahendry opened #65954 "Feature request: support multi select in TreeView API"
Support multi select in TreeView API, just like the multi select in file explorer
![image](https://user-images.githubusercontent.com/1050213/50626143-8772b300-0f67-11e9-9179-d556a4368852.png)
Use [Azure IoT Hub Toolkit](https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.azure-iot-toolkit) as example. In that case, we could let user to do operation on multi devices.
![image](https://

[2019-01-03 07:00] webdevpchoi opened #65955 "Newline missing when pressing Enter between open/close html tags in React files when tags have attributes"
- VSCode Version: 1.30.1
- OS Version: Windows_NT x64 10.0.17134

Steps to Reproduce:

1. Open .js file and set language mode to Javascript React.
![image](https://user-images.githubusercontent.com/21182531/50626287-2d7bda00-0ee2-11e9-9be2-eab09c5a050f.png)

2. Configure Emmet to accept Javascript react by adding appropriate object as follow:
[code]
3. Write Emmet abbreviation and hit enter:
![ima

[2019-01-03 07:08] sandy081 opened #65956 "special characters (<,>,&) not rendered correctly in intellisense preview"
We used backtick-enclosed strings for types and since everything is escaped now to render a custom hover window, the error messages are illegible now, for example:

current output

note: expected type `std::option::Option&lt;std::string::String&gt;` found type `std::option::Option&lt;&amp;std::string::String&gt;`

previous output

note: expected type `std::option::Option<std::string::String>` foun

[2019-01-03 07:18] oneslash commented on #65950
Hi, could you explain in details the issue you are facing?

[2019-01-03 07:26] fazaldegui opened #65957 "VS Code Fails to Launch without network"
Hello,

I've been looking for this bug in the issue system and see that is reported in #59477, but It's closed.
But, at least, is happened to me:
- VSCode Version: 1.30.1 (the lastest)
   + Node.js: 8.9.3
- OS Version: Windows 10 64-bits

To reproduce the fail, I disable the network adaptor from the panel of control of Windows 10, this way the computer has no network connection. After that just la

[2019-01-03 07:32] QbicFox commented on #62320
Same issue here, I'm using ubuntu 18.10 with 200% scaling factor and 3200 * 1800 resolution.

Except small pane resize handle, mouse cursor does not change properly to text in some part of editor.

`Version: 1.31.0-exploration
Commit: c6b23294522f5ceebe57ec591d522ab2cbe46ecd
Date: 2018-12-21T08:38:10.793Z
Electron: 4.0.0
Chrome: 69.0.3497.106
Node.js: 10.11.0
V8: 6.9.427.24-electron.0
OS: Linux x6

[2019-01-03 07:37] ichbineinNerd commented on #64123
yep, seems fixed.

[2019-01-03 07:37] #64123 closed

[2019-01-03 07:44] litao1993 commented on #31047
why This problem is not solved now！！！！！

[2019-01-03 07:44] litao1993 commented on #31047
why this problem is not solved.

[2019-01-03 07:45] litao1993 commented on #31047
Why this problem is not solved now！！！！！！！！！！！！！！

[2019-01-03 07:49] chrmarti commented on #65578
Using our InputBox, these should all behave the same. Is that yours @sandy081?

[2019-01-03 07:56] jryannel commented on #56810
For me it seems an old instance was running. On Mac use activity monitor (or htop) to search for processes named "code". You should see a bunch of code helper processes. Kill them one by one. I used htop for this *F4 Filter" and then "F9 Kill".

Afterwards vscode opens again.

[2019-01-03 07:57] chrmarti commented on #65431
Thanks @yongwn, closing this issue then.

@snd3r Make sure your OS has a proxy configured when using your domain account. Please open a new issue if this is still a problem.

[2019-01-03 07:57] #65431 closed

[2019-01-03 08:05] jrieken commented on #65515
Note that when registering a provider you can provide a name which is used in breadcrumbs and outline (the default would be your extension name)

[2019-01-03 08:08] jrieken commented on #65127
Yes, but it shouldn't really matter as that position is still a valid position, right?

[2019-01-03 08:11] ccloli opened #65958 "Terminal turns black and crashes VSCode after long tern using"
Issue Type: <b>Bug</b>

After long tern using (like opening VSCode for a few days without exiting, and turn off the PC by using Windows hibernate), the terminal sometimes turns black and shows nothing. If scrolling on the black rectangle, VSCode will crash and ask for restart.

Also looks like if once one of the VSCode window has the problem, the other VSCode window will also display the terminal

[2019-01-03 08:15] jrieken commented on #65917
Yeah, checkout the `vscode.executeCompletionItemProvider`-command as described here https://code.visualstudio.com/api/references/commands. Filter for type `snippet` and use the `TextEditor#insertSnippet` to actually insert the suggestion.

[2019-01-03 08:15] #65917 closed

[2019-01-03 08:19] jrieken commented on #65890
@alisabzevari You can today already press `Cmd+K Cmd+I` to show the hover programmatically. That will show all hovers - usually it's just the type hover but it rare cases it might be more. Is that enough to make you happy?

[2019-01-03 08:19] ccloli commented on #65958
Maybe it's related to a GPU render bug, so in case of needed, here is the performance data generated by VSCode:

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6500 CPU @ 3.20GHz (4 x 3192)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_stage3d_baseline: enabled<br>gpu_compositing

[2019-01-03 08:20] joaomoreno commented on #65808
Can you elaborate?

[2019-01-03 08:21] #65846 closed

[2019-01-03 08:30] jrieken commented on #65909
Does it appear via 'F1 > Insert Snippet'?

[2019-01-03 08:30] ccloli opened #65959 "VSCode shows dialog box twice after crashing and reloading"
Issue Type: <b>Bug</b>

Once VSCode crashes, VSCode will ask for reloading the workspace. But after reloading, all the dialog box shows twice.

![image](https://user-images.githubusercontent.com/8115912/50628096-83e42980-0f71-11e9-875e-dbe7e07b7b7d.png)
_(VSCode crashes and asks for reopen)_

![twice-dialog](https://user-images.githubusercontent.com/8115912/50628853-d8d56f00-0f74-11e9-9370-4bc985c

[2019-01-03 08:31] jrieken commented on #41882
❗️  https://code.visualstudio.com/blogs/2016/11/15/formatters-best-practices#_multiple-formatters

[2019-01-03 08:33] joeystdio opened #65960 "Setting Search > Quick Open: Include History not working"
Issue Type: <b>Bug</b>

I disabled this setting (Search  > Quick Open: Include History) on workspace and user level but when using CTRL+P (to quickly open a file) it still show results from recently opened files.

I find it quite annoying that it shows recently opened files that are no longer in your current workspace.

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-1

[2019-01-03 08:33] jpoon commented on #65809
Do you have an example of how it should be called (ie. what are the correct arguments)? Don't see any docs or examples of a position being passed to `goToDeclaration`.

[2019-01-03 08:33] karlhorky commented on #62698
Sounds very similar @weikinhuang! Maybe your issue was also misinterpreted...

[2019-01-03 08:46] skprabhanjan commented on #65817
@Tyriar , Can I take a look at this ?
Some starter points would be helpful :)

[2019-01-03 08:49] LukasLSC commented on #65736
@mjbvz I've edited my question :)

[2019-01-03 08:52] jrieken commented on #65809
Sorry, I had the wrong command in mind. Things should work the way you have written them. The editor must have a file open that support go to declaration, otherwise there are no restrictions.

[2019-01-03 09:05] jpoon commented on #65809
Yes, and yes. It probably helps if I had the file of where I ran `goToDeclaration`, but seeing the output of the sample code, you'll see that the cursor does move, it just takes a couple seconds to resolve, and there's on way to `await` it.

[2019-01-03 09:07] LeanderD commented on #65960
I had something similar a while ago. If you open the command palette there is a command 'Clear Editor History', maybe that helps?

[2019-01-03 09:36] isidorn commented on #65288
@Krzysztof-Cieslak let's first design the feature, and than see if we want something like this.
Should this be configurable or we should always kill the task? I think it should be configurable via a launch configuration attribute. For example "autoTerminatePrelaunchTask"

I am still not convinced if we need this. Leaving up to @weinand to decide

Here's the place where the debug should terminate t

[2019-01-03 09:44] leotm commented on #63250
I believe this issue could be the reason I'm getting a crash too?

VSCode Version 1.30.1 (1.30.1)
macOS Mojave 10.14.2 (18C54)

![screenshot 2019-01-03 at 09 42 01](https://user-images.githubusercontent.com/1881059/50631353-db67a280-0f3b-11e9-8e5c-0f8f56bc132e.png)

[2019-01-03 09:45] isidorn commented on #65948
@Tyriar can you please clarify what key where you pressing when you were getting this error?
Or what were you doing to get this error?

[2019-01-03 09:48] #65916 closed

[2019-01-03 09:48] oneslash commented on #65950
/needsMoreInfo

[2019-01-03 09:49] jrieken commented on #65809
There is actually one level of promises that we don't await. I will push a fix

[2019-01-03 09:53] Quilljou opened #65961 "Launch vscode in browser."
I noticed that vscode can be launched with `vscode:extension/EditorConfig.EditorConfig` in browser just like [this page](https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig). So It's possible to use a link like  `vscode:file/index.js` or `vscode:file/Users/xxx/project/index.js:288` to open the file with the given line number 288.

[2019-01-03 10:03] isidorn commented on #65920
@segevfiner thanks for this nice investigation.
Currently if you have Thread A and B both stopped. If you focus on A and continue it, B will get auto focussed.
This is the desired behavior for most scenarios IMHO.
I understand this is not desirable for your go scenario, but it makes a lot of sense in other cases.
If there is no workarouind on the GO side for this we could consider to introduce an

[2019-01-03 10:04] isidorn commented on #65915
Please try with latest vscode insiders https://code.visualstudio.com/insiders/
And if you can still see the issue please F1 > developer tools > look at the debug console and paste the whole stack trace here

[2019-01-03 10:05] isidorn commented on #65802
@usernamehw thanks
Closing as dup of that one. @chiro-hiro please comment more here if needed #43508

[2019-01-03 10:05] #65802 closed

[2019-01-03 10:12] #65462 closed

[2019-01-03 10:16] ababak commented on #60010
I have the same problem.

It appears that git gutter does not work when the project file is opened as "~/Documents..." but does work when the file is open by right-clicking in SCM view as now it has an absolute path: "/mnt/c/Users/..."

Hope this helps.

[2019-01-03 10:17] #65809 closed

[2019-01-03 10:23] joaomoreno commented on #64658
Can you reproduce on other repositories?

[2019-01-03 10:32] ababak commented on #60010
Further investigation shows that I have a symlink from "~/Documents" to "/mnt/c/Users/...", maybe this is the reason?

[2019-01-03 10:41] isidorn commented on #63525
The output should behave like this:
1. When it is locked: it should never auto scroll
2. When it is not locked: it should auto scroll whenever there is new output

Stoping when clicked is somewhat of a smart scroll, which for some reason we dropped in the output and introduced this toggle.
So the click and what is revelaed should not have influence on whether to auto scroll or not, only the state

[2019-01-03 10:42] isaacabraham commented on #65288
@isidorn what alternative could we use to do accomplish this?

[2019-01-03 10:46] isidorn commented on #65871
We do not do this in the explorer. Chrome dev tools does not do it in their console. Any other explorer does not do this.
I would keep this open as a feature reqeust and only add it if more users request it. Though I think this should not be done.

I am against this since it might introduce too much unexpected scrolling and the current behavior seems to be somewhat of a standard.

[2019-01-03 11:10] mike-lischke opened #65962 "Debug Arrow Marker inconsistent rendering"
Issue Type: <b>Bug</b>

When debugging a code file using the Debug Adaptor there's an inconsistent rendering of the step arrow, depending on how a specific source position was reached. This image shows a demonstration:

![](https://raw.githubusercontent.com/mike-lischke/vscode-antlr4/master/images/live-parse-tree.gif)

The step arrow (or what it is called internally) only shows up when a debug ste

[2019-01-03 11:17] arunkumar413 opened #65963 "Allow only official code tidy/beautify extensions"
Hi Team,

The code tidy/beautify extensions are messing up the code. Seems like most of them are not perfectly implemented. Please allow only the official extensions. I believe Microsoft being a big organization have enough resources to develop and maintain the extensions.  Also focus more on the editor features than the debugger, html server etc,. Compile a list of most commonly used extension us

[2019-01-03 11:19] mike-lischke commented on #65962
Watching the animation I realize it doesn't have to do with the source line at all. In the single step part you can see that no arrow is shown before `LETTER*`. Only when the call stack TOS moves to the semicolon column the arrow is shown again.

[2019-01-03 11:37] jrieken commented on #41882
How would that work when looking at your prettier-sample? I don't know how this could be inferred from just the extension id?

Can you explain your feelings?

[2019-01-03 11:42] isidorn commented on #65962
Thank you for the nice explanation, however we currently use a heuristic that we only show the arrow inline when a step occured on the same line as the previous step. Reason being: we want to make sure the user is aware that only the column has changed.
We do not always show the inline arrow to not drown the UX in too many details.

I understand there are limitation with this approach but currentl

[2019-01-03 11:47] capaj opened #65964 "add import action incorrectly adds moment import with a require"
Version: 1.30.1
Commit: dea8705087adb1b5e5ae1d9123278e178656186a
Date: 2018-12-18T18:07:32.870Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
OS: Linux x64 4.18.0-13-generic

Steps to Reproduce:

1. have a code which uses moment, then use:
![image](https://user-images.githubusercontent.com/1305378/50631695-96486e00-0f45-11e9-9ec7-3c84bc205360.png)

2. this is created as the

[2019-01-03 11:51] alexr00 commented on #65891
Duplicate of #1435

[2019-01-03 11:52] #65891 closed

[2019-01-03 11:53] alexr00 commented on #17147
@markfinlabs, thanks for the suggestion! Can you open a new feature request for it please?

[2019-01-03 12:06] AnharHussainMiah commented on #65784
@yume-chan apologies, yes it is Linux.

@francoism90

I can confirm that after setting the `titleBarStyle` to native this rendered as expected, however I do now believe:

* Native should be the default
* There should be some more prominent documentation around CSD, as I could not find out this information even via Google.

[2019-01-03 12:45] invasionofsmallcubes commented on #31308
Absolutely agree, I'm having the same issue. I have some configuration files that are the same for different projects, it would be awesome to distinguish them in some way. (you can go with the mouse over the tab to see the path, but it's not really a direct approach).

[2019-01-03 12:49] VariableDeclared commented on #51625
Similar issue encountered here with vscode, "invalid string length" when opening one-line json file of 43~MB size.

Seems to be common across text editors, though, I had to resort to writing a python program to manipulate in chunks.

[2019-01-03 13:10] zombie110year commented on #7570
same issue
- Windows 10 1809
[code]

[2019-01-03 13:21] imraiskr opened #65965 "App fails to launch in offline Mode"
**Version used : 1.30.1**
**Scenario** 1: App fails to launch in offline mode[extension enabled/disabled].

**Scenario** 2: After launching an instance in online mode, again going back to offline mode, app fails to create new instance from start menu, taskbar or from the .**exe** location itself. Works again if toggled back to online, even without reloading the opened instance.

**Scenario** 3: Ev

[2019-01-03 13:33] Ash258 commented on #65965
Dulicate of #7570

[2019-01-03 13:37] usernamehw commented on #65965
/duplicate of #7570

[2019-01-03 13:37] #65965 closed

[2019-01-03 13:48] wanglzuz opened #65966 "Autosave after delay makes cursor jump to beginning of line"
Issue Type: <b>Bug</b>

This problem started happening after the latest VS Code update.

Whenever I enter a newline (which, thanks to indenting, often takes me to a different position than that of a first character on the line), cursor jumps to the beginning of the line.

This may well be related to the AutoSave feature, because it happens after the number of ms that I have set as delay time for A

[2019-01-03 13:52] aeschli commented on #62618
If I remember right, the size of the theme icons would be controlled by the css we generate.
There are no size requirements to the providers of theme icons.

@jrieken Not clear to me what I can/should do here.

[2019-01-03 13:59] sandy081 commented on #65767
Did necessary removals and added the above commit again

[2019-01-03 13:59] #65767 closed

[2019-01-03 14:00] aeschli commented on #65713
The problem is with the scope that MagicPython uses for function references.

The issue is already filed: https://github.com/MagicStack/MagicPython/issues/127

[2019-01-03 14:00] #65713 closed

[2019-01-03 14:02] sandy081 commented on #41558
There is a PR exists already

[2019-01-03 14:04] sandy081 commented on #65572
@xRiic Can you please do the following

- Enable log level to trace using command `Set Log Level`
- Open Shared process log using command `Open View` -> Shared Process
- Retry installing the extension
- Check the Shared process log in output panel and let us know where it is being blocked?

[2019-01-03 14:05] sandy081 commented on #65204
@anirudhrb Yeah it is acceptable. Please create a PR.

[2019-01-03 14:07] usernamehw commented on #63065
Possible duplicate of #64026

[2019-01-03 14:08] sandy081 commented on #65615
Looks like a proxy issue because of which you are not able to connect to marketplace and hence recommendations are empty

[2019-01-03 14:08] #65615 closed

[2019-01-03 14:10] sandy081 commented on #30579
Auto updates are disabled if you install a specific version (not latest) which is now supported. Let me know if that fixes your problems?

[2019-01-03 14:11] sandy081 commented on #65654
@MrGurto Can you please check if there are no issues connecting to Marketplace? You can check it opening Developer tools.

[2019-01-03 14:13] alexr00 commented on #65179
I can't reproduce this. Can you try running without extensions to see if it still happens then? I'm testing with:

    {
			"type": "shell",
			"label": "Run echo task",
			"command": "echo hello",
			"problemMatcher": [],
			"presentation": {
				"reveal": "never"
			}
		}

The integrated terminal does not show, and when I check the terminals that are currently open I can see the terminal with th

[2019-01-03 14:15] usernamehw commented on #65204
@anirudhrb, there's a yellow border in that case and it breaks <kbd>Shift</kbd>+<kbd>Tab</kbd>.

[2019-01-03 14:20] isidorn commented on #65472
Works for me in latest insiders. Closing

[2019-01-03 14:20] #65472 closed

[2019-01-03 14:26] joaomoreno opened #65967 "Terminal receives "Meta" as text input when pressing the meta key"
[code]

Steps to Reproduce:

1. Open Terminal
2. Press <kbd>Meta</kbd> key, the terminal behaves as if I just typed `Meta`.

[2019-01-03 14:34] egamma commented on #65963
@arunkumar413 thanks for your feedback. VS Code has rich and diverse ecosystem of extensions and we want to keep it like that. Therefore the best way to improve an extension is to provide feedback by filing issues against extensions with problems, so that the extension author can improve it.

[2019-01-03 14:34] #65963 closed

[2019-01-03 14:35] sandy081 commented on #45617
@isidorn Do you think all editor settings makes sense to be overridable in zen mode? This also brings up new overriding dimension, for eg zen mode takes precedence over language settings?

[2019-01-03 14:35] #65961 closed

[2019-01-03 14:36] anirudhrb commented on #65204
@usernamehw Where is that yellow border? And what exactly is breaking in <kbd>Shift</kbd>+<kbd>Tab</kbd>? Works fine for me.

[2019-01-03 14:38] #65957 closed

[2019-01-03 14:38] sandy081 commented on #65377
@roblourens Makes sense to remove specific commands (user/workspace/folder)

[2019-01-03 14:39] sandy081 commented on #65781
I have no idea about this.

[2019-01-03 14:41] sandy081 commented on #65803
Duplicate of https://github.com/Microsoft/vscode/issues/56163

[2019-01-03 14:41] #65803 closed

[2019-01-03 14:43] sandy081 commented on #65694
@roblourens If I remember correctly, old search used to consider this but not sure. @bpasero might give us better insight here.

[2019-01-03 14:46] usernamehw commented on #65204
![demo](https://user-images.githubusercontent.com/9638156/50643503-6918b180-0f7f-11e9-9366-18766aa68cbc.gif)

[2019-01-03 14:47] usernamehw commented on #65204
<kbd>Shift</kbd>+<kbd>Tab</kbd> (when focus is on input) should focus menu (three dots). And the icon `{}` should remain in place.

[2019-01-03 14:49] cfjedimaster commented on #62731
I think it is fixed now. (I'd close but not sure if that's ok. ;)

[2019-01-03 14:53] sandy081 commented on #65680
Duplicate of https://github.com/Microsoft/vscode/issues/50062

[2019-01-03 14:53] #65680 closed

[2019-01-03 14:54] sandy081 commented on #65385
@barakimam Can I have the list of extensions you have installed?

[2019-01-03 14:58] jcrmatos commented on #65179
Hello,

You are correct. I would never though that the Python extension would have this effect.
If I disable the Python extension the terminal doesn't show.
With it enabled it show again.
I will report it in their issue tracker.

Thanks for the help.

Best regards,

JM

[2019-01-03 14:58] #65179 closed

[2019-01-03 14:58] #65922 closed

[2019-01-03 14:59] sandy081 commented on #65922
This can be implemented through an extension, refer to https://marketplace.visualstudio.com/items?itemName=sandy081.settings-picker.

[2019-01-03 15:00] anirudhrb commented on #65204
Oh I see it now. I am getting a blue border that is barely noticeable. I will fix that. Thanks!

When focus is on input, I believe <kbd>Shift</kbd>+<kbd>Tab</kbd> move focus to the "Record keys" button  (thats on the far right of the input box) and so on. That's how it is happening in the latest release version too.

[2019-01-03 15:00] gwk opened #65969 "Redo operation breaks after a few operations."
- VSCode Version:
Version 1.31.0-insider (1.31.0-insider)
7805023eaa46db45d3c24a4c38c0d07c087cf1b3
2019-01-03T06:06:24.931Z

- OS Version:
macOS 10.14.2 (18C54)

Steps to Reproduce:
1. Launch with extensions disabled. `code --disable-extensions`.
2. Create a new, blank file.
3. Type "abc".
4. Press `cmd+z` to undo. It works.
5. Press `shift+cmd+z` to redo. It works the first time.
6. Try a few mor

[2019-01-03 15:07] joaomoreno commented on #65269
@DanTup Can you give Insiders a try?

[2019-01-03 15:08] usernamehw commented on #65204
@anirudhrb, That's what pressing <kbd>Tab</kbd> should do.

<kbd>Shift</kbd>+<kbd>Tab</kbd> is a reverse command of that and should move focus in the opposite side - in this case to editor actions menu (and the `{}` icon should be in place to be available for pressing by <kbd>Enter</kbd>).

[2019-01-03 15:09] DieLaughing commented on #65178
After a *very* brief glance at the logs, my next guess is that the TS server launching is slowing some people's machines way down. I loathe TypeScript. It makes everything it touches take more time and only helps you if you're error prone.

[2019-01-03 15:15] rayleigh3 opened #65970 "bg+ (emmet) is missing"
Its just me, or the "bg+" is missing?

[2019-01-03 15:15] joaomoreno commented on #65484
Unfortunately this is impossible to implement with today's API.

[2019-01-03 15:16] pendi12 commented on #65835
when I turn off the PC there is an update for code vs. me, and when I reopen vs code it turns out the source code controller becomes encrypted

[2019-01-03 15:16] Novack opened #65971 "Debug Panels Location Options"
The Debug Panel location is bound to the side bar, and thus, only can be positioned right or left.
![imagen](https://user-images.githubusercontent.com/1981463/50644757-82eed000-0f50-11e9-8979-07666244c993.png)

I presume web development has less issues with this, but working with C#, we use the debugger a lot. This puts in high evidence how unconfortable the debug panels location results (there ar

[2019-01-03 15:17] joaomoreno commented on #65016
@devinrhode2 Can you reproduce on our [insider release](https://code.visualstudio.com/insiders)?

[2019-01-03 15:17] anirudhrb commented on #65204
Oh! My bad! Will look into it.

[2019-01-03 15:18] joaomoreno commented on #65512
/duplicate #47841

[2019-01-03 15:18] #65512 closed

[2019-01-03 15:19] joaomoreno commented on #65506
@Marshal313 Actually the problem is how you have set up VS Code. I suggest to not place the `Extensions` folder inside the `VS Code` installation directory. Keep them siblings instead.

[2019-01-03 15:19] #65506 closed

[2019-01-03 15:20] sandy081 commented on #65578
@chrmarti I do not own the InputBox widget

[2019-01-03 15:20] tunedin76 commented on #65924
I now, on this new day have vscode completly removed I erased all the extentions and settings in userprofile and appdata, re-installed.

I have tried phpfmt extention, and php-cs-fixer and each report that there are "No coder formatting for php"

This is a show-stopper for me.  Did someting change in the latest update with formatting that I didn't pay attention to?

[2019-01-03 15:21] sandy081 commented on #65954
Duplicate of #56344

[2019-01-03 15:21] MimaHD22 opened #65972 "i am writing a bot for my discord server and it showes a 'module' but i didnt write 'module'. what should i do?"
Issue Type: <b>Performance Issue</b>

RESTART: C:\Users\saturn\Desktop\mischa ist geilo\programmierung\microsoft visual studio code\discord-bot.py
Traceback (most recent call last):
  File "C:\Users\saturn\Desktop\mischa ist geilo\programmierung\microsoft visual studio code\discord-bot.py", line 6, in <module>
    bot = commands.bot(command_prefix='/')
TypeError: 'module' object is not callable

V

[2019-01-03 15:21] #65954 closed

[2019-01-03 15:23] joaomoreno commented on #65517
Lots of discussion about the two folders in #3884

`.vscode` isn't related to workspace settings at all, but to extensions. They are installed over there.

I suggest to simply sync certain text files in `.config/Code/User`, such as `.config/Code/User/settings.json`.

[2019-01-03 15:23] #65517 closed

[2019-01-03 15:24] joaomoreno commented on #65520
Does it work if you reinstall VS Code from scratch?

[2019-01-03 15:31] usernamehw commented on #65972
/question

[2019-01-03 15:31] #65972 closed

[2019-01-03 15:34] joaomoreno commented on #65339
@alexandrudima, @sandy081 has been working on the hover. https://github.com/Microsoft/vscode/commit/3fcb2d24d927116a389e01fa0a92ec69a89bd8d6

[2019-01-03 15:34] #65341 closed

[2019-01-03 15:34] isidorn commented on #45617
@sandy081 yes I think all editor setting make sense to be overriden in zen mode. However in general I would need more than editor setting. Do for language overried you only allow editor ones to be overriden?
Yes, zen mode should take precedence over language settings imho.

In practice here are the most needed ones:
`editor.lineNumber`
`workbench.editor.showTabs`
`workbench.activityBar.visible`
`w

[2019-01-03 15:35] tunedin76 opened #65974 "Formatting"
Issue Type: <b>Bug</b>

Formatting feature is now gone. After a complete re-install and removal of all settings in APPDATA and USERPROFILE, I cannot get php to format.  I tried 3 extentions. phpfmt, PHP Formatter, and php cs fixer.  None allowed a Format Document on the context and claimed that no formatter was avail for php

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a,

[2019-01-03 15:35] isidorn commented on #65971
Dup of use grid for workbench layout.
This shuold be work in progress, adn we might introduce this in the future

[2019-01-03 15:37] sandy081 commented on #65956
@jrieken I was assuming we do not support markdown strings in diagnostic message? Was it leaking somehow before?

[2019-01-03 15:38] Novack commented on #65971
Thank you, will search for that request and up vote.

[2019-01-03 15:38] MimaHD22 commented on #65972
ich hasse euch auch

Am Do., 3. Jan. 2019, 16:33 hat vscodebot[bot] <notifications@github.com>
geschrieben:

[2019-01-03 15:38] tzachshabtay opened #65975 "launch.json: Running an npm script without debugging"
I saw this issue: https://github.com/Microsoft/vscode/issues/2780
And apparently there's supposed to be a "noDebug" flag that can be used?

So I tried this:

[code]

But I'm getting `Property noDebug is not allowed`.

I would like to combine this and a chrome debugger into a single compound, so launching the compound will start the storybook server and debug the client, and stopping will kill them

[2019-01-03 15:40] MimaHD22 commented on #65972
what do you mean?

[2019-01-03 15:43] Novack commented on #50853
Hello, I cant grasp some of the slang used to define steps and aims here, but I've been told at #65971 that this work would enable us to relocate Debug panels from side bar to bottom?

[2019-01-03 15:46] usernamehw commented on #65972
That it's not a problem with vscode.

[2019-01-03 15:46] isidorn commented on #65975
You can run any script wihtout debugging just by execting F1 > start without debugging command.
You co not have to add any attributes to your launch configuraiont.

As for your client / server setup please try out compound debugging. More about that there https://code.visualstudio.com/docs/editor/debugging#_compound-launch-configurations

[2019-01-03 15:46] #65975 closed

[2019-01-03 15:48] joaomoreno commented on #65886
I've just downloaded that exact version and ran `clamscan` over it. The result was the following:

[code]

Please make sure you have updated your clam DB.

[2019-01-03 15:48] #65886 closed

[2019-01-03 15:50] MimaHD22 commented on #65972
with what than?

[2019-01-03 15:50] joaomoreno commented on #65389
Hover font: https://github.com/Microsoft/vscode/issues/65339

[2019-01-03 15:51] joaomoreno commented on #50853
@Novack No, this does not enable that.

[2019-01-03 15:51] joaomoreno commented on #33180
cc @sandy081

[2019-01-03 15:53] DanTup commented on #65269
@joaomoreno Same behaviour in the new Insiders build. I tried both using `vscode://` and `vscode-insiders://` since I wasn't sure which Insiders would expect to use, but both did the same.

Putting vscode-insiders://blah into my browser still works fine and opens VS Code and passes the request to my handler.

[2019-01-03 15:54] Daijobou commented on #65614
Here is much more issues with autoindent. Should I create a new ticket or paste it here? Example
![vscodeh](https://user-images.githubusercontent.com/260343/50647153-28696a00-0f78-11e9-983e-b2ef3b7c7a5d.gif)

[2019-01-03 15:54] briman0094 opened #65976 "[scss] Root-level @at-root selector in partial causes false syntax errors"
When placing an `@at-root` directive at the root-level of a SCSS file, Visual Studio Code's tokenizer seems to break completely, highlighting the `@at-root` and most other SCSS features in the proceeding block as syntax errors. Normally the `@at-root` selector would be useless at the root-level, but in a partial file which is included inside a selector from another file, it makes sense and is vali

[2019-01-03 15:56] joaomoreno commented on #64134
Yeah. Another reason: the extension should work for all platforms. It's just not practical to ship Electron for Windows, macOS and Linux in your extension.

[2019-01-03 15:56] #64134 closed

[2019-01-03 15:56] #65617 closed

[2019-01-03 15:57] anishmittal2020 opened #65977 "Refresh Text Editor (Tab)"
I execute bash scripts on the integrated terminal, which does text processing on Markdown file opened in a tab (of text editor). After the execution of the script, I would like to refresh the tab, how can it be done?

Better, I would be happy if I could use the command line to refresh the tab  - one way could be to close the tab by specifying the path of the file and then reopening it.  How can I

[2019-01-03 15:57] MimaHD22 commented on #65972
hello?

[2019-01-03 15:59] joaomoreno commented on #65715
This icon comes from Gitlens. cc @eamodio Maybe we need something more different there?

[2019-01-03 15:59] DanTup commented on #65012
@isidorn Tested in insiders, and it now skips the `deemphasize` frames and goes to my source - thanks!

![screenshot 2019-01-03 at 3 58 50 pm](https://user-images.githubusercontent.com/1078012/50647453-7c705080-0f70-11e9-9239-933be63b85a7.png)

[2019-01-03 15:59] #65715 closed

[2019-01-03 15:59] joaomoreno commented on #65760
https://github.com/Microsoft/vscode/issues/5970

[2019-01-03 15:59] #65760 closed

[2019-01-03 16:01] joaomoreno commented on #65729
@isidorn This is about the empty state of the explorer. The user expects it to take focus.

[2019-01-03 16:02] DanTup commented on #64193
@isidorn This one, however, doesn't seem to work. If I remove the deemphasize hints, then I'm still breaking on missing source (using the Insiders build from today):

![screenshot 2019-01-03 at 3 59 36 pm](https://user-images.githubusercontent.com/1078012/50647523-ae81b280-0f70-11e9-96f1-b9639bdc5ecc.png)

This is how I'm sending the source back:

[code]

(this is less urgent for me personally tho

[2019-01-03 16:02] joaomoreno commented on #65765
I'm not sure I fully understand what you want. When Git isn't able to automatically merge a file due to conflicts, it keeps it in the Merge Changes group and it must be manually merged. VS Code shows the Merge Changes group. You should go through each file one by one and manually merge them.

[2019-01-03 16:04] #65600 closed

[2019-01-03 16:04] joaomoreno commented on #65345
/duplicate #47841

[2019-01-03 16:04] #65345 closed

[2019-01-03 16:05] joaomoreno commented on #65849
Please install the System Installer: https://code.visualstudio.com/docs/?dv=win64

[2019-01-03 16:05] #65849 closed

[2019-01-03 16:05] aeschli commented on #64236
We use [beautifyjs](http://jsbeautifier.org/) as the underlying HTML formatter. It would be great if you can file and issue directly against https://github.com/beautify-web/js-beautify

[2019-01-03 16:06] joaomoreno commented on #65633
The latest commit depends on the platform. We don't have this available on the website but we do have it available as a REST API:

https://update.code.visualstudio.com/api/update/PLATFORM/insider/latest

Possible values for `PLATFORM`:

[code]

[2019-01-03 16:06] #65633 closed

[2019-01-03 16:06] aeschli commented on #63065
duplicate of #64026

[2019-01-03 16:06] #63065 closed

[2019-01-03 16:08] joaomoreno commented on #65885
This appears to be an issue with WebKit based browsers (Chrome/Chromium/Opera). I suggest you file an issue on them instead. Sorry for not being much of help.

[2019-01-03 16:08] #65885 closed

[2019-01-03 16:08] aeschli commented on #63584
@realjay007 For what language? Can you add a small sample code?

[2019-01-03 16:09] joaomoreno commented on #65939
Ugh!

Yeah, let's add a ctor option to specify the role. But this will affect each row role as well... I don't think I should just give you a `ariaRole: string` option, since more is needed.

Apart from setting `role: form` on the root node, what else do you need to set on each row?

[2019-01-03 16:11] joaomoreno commented on #65016
Oh! Completely missed that :man_facepalming: sorry.

Closing this then, it will be closed next Stable.

[2019-01-03 16:11] #65016 closed

[2019-01-03 16:14] clshortfuse opened #65978 "history: mac os x dock shows incorrect history"
- VSCode Version: 1.31.0-insider - e02e44464c02d617b98d0a3265bf5efef7794436
- OS Version: Mac OS X 10.14.2

Steps to Reproduce:

1. Open multiple project in VS Code
2. Right click on VS Code in dock and contents aren't updated

Does this issue occur when all extensions are disabled?: Yes

File=>Open Recents works as expected as well as the Welcome page. It's just the dock.

The non-insider version

[2019-01-03 16:16] Novack commented on #50853
Ups, thank you.

[2019-01-03 16:16] isidorn commented on #65012
Thanks for trying it out. Adding verified label

[2019-01-03 16:17] Novack commented on #65971
Hey @isidorn could you point me to the ticket where the task you mention is tracked? By the name of it, looks like should be #50853 but they report is not related to my request.

[2019-01-03 16:17] mike-lischke commented on #65962
Hmm, being myself a UX desktop dev I have a bit of a hard time to accept your explanation :-) I fail to see how the current behavior would be better in any aspect. If less UX changes would be a serious goal here, you could show the debug line background only for every second line. That's nonsense of course, but pretty much the same thing as with the inline arrow showing only if the source line did

[2019-01-03 16:19] isidorn commented on #65971
That's the one

[2019-01-03 16:19] isidorn commented on #65971
Oh so it will not be covered by that. My mistake. Reopening this one as a feature request

[2019-01-03 16:21] aeschli commented on #3352
@eeasoftware Please file a detailed issue with a sample code (please name the language (JavaScript. TypeScript, C#...)

[2019-01-03 16:22] isidorn commented on #65884
`"git.decorations.enabled": false`

[2019-01-03 16:22] intijk opened #65979 "Skip ts cache when go to definition."
When debugging js code and go to definition, I was lead to ts cache under `$HOME/.cache/typescript`, which is very inconvenient.

My workaround is to delete the folder `$HOME/.cache/typescript`.

Could we let the `Go go definition` skip cache and go to real position of code?  Or was there a way to suppress ts cache?

[2019-01-03 16:29] mymikemiller opened #65980 "Empty lines after enlarging Debug Console"
Issue Type: <b>Bug</b>

# Repro steps
* Make your vscode window fairly small
* Print a really long message to the Debug Console (one that line wraps a couple times)
* Print another message to the Debug Console
* Notice that there is no space between the two messages
* Enlarge the vscode window so the first message no longer line wraps

# Expected
There should be no space between the two messages.

[2019-01-03 16:30] aeschli commented on #64796
File URIs sre supported. (`file:///c:/home/aeschli/workspaces/testing/schema/foo.schema.json`).
@spitWind Can you try this?

[2019-01-03 16:30] #64796 closed

[2019-01-03 16:33] justisGipson commented on #65845
Not sure, I haven't experienced again since the night I submitted the bug
report and restarting my machine. Could've been a one-off thing. If it
happens again, I'll disable all extensions and try and report on it.

- Justis Gipson
   (317) 605- 4164
   Linkedin <https://www.linkedin.com/in/justis-gipson-00275216a/>

On Wed, Jan 2, 2019 at 2:19 PM Matt Bierner <notifications@github.com>
wrote:

[2019-01-03 16:33] chrmarti commented on #65769
@rwxdfbb How do you configure your proxy? Through the OS settings or VS Code settings? What are these set to? Thanks.

[2019-01-03 16:35] guest73 commented on #65885
Ok. Will do. Thanks.

[2019-01-03 16:38] isidorn commented on #65980
I acknowledge the issue and this should be somewhat tackled via https://github.com/Microsoft/vscode/pull/64797

[2019-01-03 16:42] Novack commented on #65971
Thanks!

[2019-01-03 16:42] #65729 closed

[2019-01-03 16:45] roblourens opened #65981 "Tree removeItemFromDOM throws when using dynamic heights"
- See this null check I added - https://github.com/Microsoft/vscode/blob/master/src/vs/base/browser/ui/list/listView.ts#L378
- Comment it out
- Open the settings editor, scroll up and down quickly or resize the editor back and forth horizontally
- See exceptions thrown because it seems that it's calling `removeItemFromDOM` on an item that has not been added to the DOM

[2019-01-03 16:45] isidorn commented on #64193
@DanTup thanks for trying it out. Well it seems like in your case the check here
`https://github.com/Microsoft/vscode/blob/0d1139653803f7acb831a593f816c1278638011b/src/vs/workbench/parts/debug/electron-browser/debugService.ts#L781`
focuses the wrong stack frame for you
Could you please put a breakpoint there and check why he chooses the wrong stack frame for you?

Thank you

[2019-01-03 16:46] lvegerano opened #65982 "Adding any theme other than the defaults adds a significant lag"
Issue Type: <b>Performance Issue</b>

- Add any theme
- Experience the lag

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:05:00.654Z)
OS version: Darwin x64 18.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6820HQ CPU @ 2.70GHz (8 x 2700)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>fla

[2019-01-03 16:50] tunedin76 commented on #65924
Just FYI - I removed all PHP formatting
 updated my config.json to be able to use it....
`{
    "workbench.colorTheme": "Cobalt Next",
    "sshfs.configs": [
        {
           ...
        },
        {
            ...
        }
    ],
    "workbench.iconTheme": "material-icon-theme",
    "php.suggest.basic": false,
    "editor.minimap.enabled": false,
    "editor.fontLigatures": true,
    "edito

[2019-01-03 16:50] tunedin76 commented on #65974
Just FYI - I removed all PHP formatting
 updated my config.json to be able to use it....
`{
    "workbench.colorTheme": "Cobalt Next",
    "sshfs.configs": [
        {
           ...
        },
        {
            ...
        }
    ],
    "workbench.iconTheme": "material-icon-theme",
    "php.suggest.basic": false,
    "editor.minimap.enabled": false,
    "editor.fontLigatures": true,
    "edito

[2019-01-03 16:58] Tenrys opened #65983 "[jade/pug] Block Expansion (nested tags) syntax highlighting broken"
- VSCode Version: 1.30.1
- OS Version: Windows_NT x64 10.0.17763 (1809)

![](https://tenrys.pw/ShareX/2019/Jan/eGGv.gif)

Does this issue occur when all extensions are disabled?: Yes

[2019-01-03 16:59] jrieken commented on #65956
Is this really a diagnostic message and not just a hover?

[2019-01-03 17:03] lvegerano commented on #65982
status with a theme on I get no more that 15 FPS

<details>
<summary>Process Info</summary>

[code]
</details>

[2019-01-03 17:07] roblourens commented on #65960
With that setting disabled you should still see "recently opened" entries when you press ctrl+p but not when you are doing a search in quick open. Is that what you see? You can clear history with the command that @LeanderD, we don't have a way to clear individual entries unfortunately.

[2019-01-03 17:16] Lotharyx opened #65984 "Don't Automatically Expand XAML Folded Code"
There have been a couple related issues that are not quite the same.  Here is my specific use case:

I am editing a XAML document in the visual designer, in the cases where visual mouse actions are either cumbersome or generate unwanted properties.

If I fold, say, a ComboBox's contents, then drag that ComboBox entity somewhere else in the document, the ComboBox unfolds.  It also unfolds if I do a

[2019-01-03 17:17] octref commented on #65835
Can you give a screenshot?

[2019-01-03 17:17] YisraelV commented on #63525
I don't quite understand. The bug as described in the original post:
_1. Click anywhere in the Output pane.
2. Wait for new text to be submitted to the Output pane.
3. It should scroll with the new text, but doesn't._

However this is exactly the behavior that was requested in #49110

@pltrant maybe you could clarify this to me? It sounds like what you describe as bug was requested by users.

Mayb

[2019-01-03 17:19] octref commented on #65940
Where is this linked from? This shouldn't be a link.

[2019-01-03 17:21] rogeramitchell commented on #65887
This has happened to me with 2 separate projects today. Keyboard shortcuts work as expected, although any files in the project do not accept keyboard inputs where the cursor is.

Following @egamma's steps did not work if that project was open (and `code test.html` opens in that window), however closing VS Code and executing `code test.html` again allows for editing that file.

Closing VS Code agai

[2019-01-03 17:22] wraith13 commented on #65825
No.

I made [this extension](https://marketplace.visualstudio.com/items?itemName=wraith13.unsaved-files-vscode) and provided users with access to unsaved files.

I am thinking about a scenario when users process unsaved files. User uses many `View.Column`s and opens many files. User accesses each unsaved files, saves the file, or discards it without saving it.
Extension displays an unsaved file wi

[2019-01-03 17:23] Tyriar opened #65985 "Does terminal command tracking take wrapped lines into account?"

[2019-01-03 17:25] francoism90 commented on #65654
@sandy081

This is my debug:
[code]

[2019-01-03 17:25] tony-thomas-git commented on #65940
These link are from the Release Notes.

On Thu, Jan 3, 2019 at 10:20 AM Pine <notifications@github.com> wrote:

--

Studies show trees live longer when they're not cut down.

[2019-01-03 17:30] octref commented on #41882
For that, do you mean something like this?

[code]

People might have a hard time finding this info if it's buried deep in an old blog post. We should at least link to it from a formatter sample or guide.

[2019-01-03 17:32] octref commented on #65940
I found no `raw/#debugging` in the release note, either in this page: https://code.visualstudio.com/updates/v1_30 or in this source file https://github.com/Microsoft/vscode-docs/blob/master/release-notes/v1_30.md

[2019-01-03 17:35] markm77 opened #65986 "Auto-run task on folder close in addition to open"
Thanks very much for adding "run on folder open" to tasks. I wish to request a "run on folder close" to complement this to e.g. stop services that are started on folder open.

I describe my use case in this comment: #54775 (comment).

Another use case is process clean-up. For instance, when using Debug Start with nodemon-hosted Node JS processes, if you quit VSCode "node" processes are left orphan

[2019-01-03 17:37] markfinlabs commented on #17147
Sure, no problem. See https://github.com/Microsoft/vscode/issues/65986.

[2019-01-03 17:38] jrieken commented on #65825
/duplicate of #15178

[2019-01-03 17:38] #65825 closed

[2019-01-03 17:45] wraith13 commented on #65825
Oh, sorry. >　duplicate
I am waiting for this problem to be solved.

[2019-01-03 17:46] jrieken commented on #41882
Kind of, the extension must still define/register the setting using the default mechanism, but when registering it's refers to that setting so that we can toggle it. E.g

[code]

Then, in case of a conflict, we can show a picker ala `Disable formatter from fooLang-extension` etc, etc

[2019-01-03 17:48] trailstrider commented on #2075
Definitely not doing the job.   Try the example with adding an if else branch.   Its copying the entire lines, not the selections.

[2019-01-03 17:49] pauby commented on #28432
@NomanGul I've had that checked for some time. Makes absolutely no difference.

[2019-01-03 17:50] markfinlabs commented on #56756
Please note also that if you quit VS Code after launching nodemon-hosted processes and don't stop them all manually in each process terminal with Cntrl-C you will find orphaned Node processes in Activity Monitor still running and consuming CPU after VS Code has stopped. These can of course be manually force-quit in Activity Monitor. I have requested an update for tasks to allow automatic process c

[2019-01-03 17:50] octref opened #65987 "Extension search for "vue" is abysmal"
Previously: https://github.com/Microsoft/vscode/issues/24511

Now if you search for Vue, Vetur doesn't even show up in the first page despite being the most popular Vue extension. The install count of the 24 Vue extensions in first page combined is not even half of Vetur's install count.

![image](https://user-images.githubusercontent.com/4033249/50652857-a6a81b00-0f3c-11e9-95e2-e2838082acfc.png)

[2019-01-03 17:52] mjbvz commented on #65964
Thanks. This is already tracked upstream by https://github.com/Microsoft/TypeScript/issues/29038

[2019-01-03 17:52] #65964 closed

[2019-01-03 17:52] DonJayamanne opened #65988 "Provide extension hooks to generate debugger configuration when clicking Add Configuration button"
Currently clicking the `Configure or fix launch.json` button will invoke the `DebugConfigurationProvider` of the extension.

We (Python Extension) have used this to generate a leaner `launch.json` file (#62851 & https://github.com/Microsoft/vscode-python/issues/3321#issuecomment-448765304).
However, when the user clicks the `Add Configuration` button (either in the debugger dropdown or button disp

[2019-01-03 17:54] roblourens commented on #65939
We also remove these attributes: https://github.com/Microsoft/vscode/blob/0d1139653803f7acb831a593f816c1278638011b/src/vs/workbench/parts/preferences/browser/settingsTree.ts#L441:L444

But I just tested with voiceover and it still works without those changes so maybe that's not needed anymore.

Then we also set some aria attributes on elements inside the row that it makes sense for the renderer to

[2019-01-03 17:55] octref commented on #41882
Looks good, setting-wise it's the same story as `*.trace.server` for Language Servers.

[2019-01-03 17:55] trailstrider commented on #2743
YES!!! Makes it possible to be nice and clean.

I'd add one consideration. Inheritance of settings w/ overrides based upon source of setting.   I don't want my configuration to be the same across all projects.  When working in Vim, it is common to have project based configurations for macros/keybinding shortcuts, though Vim is a lot like the wild west in this regard, which is why I like your thoug

[2019-01-03 17:56] roblourens commented on #64749
I am now using the new tree with the settings editor (much more straightforward than the search view, and the dynamic sizing works great!), but a couple things won't work quite right without this.

[2019-01-03 18:19] roblourens commented on #63250
@leotm you are describing a different issue. Seems most likely that your regex is suffering from catastrophic backtracking although I can't reproduce the same thing: https://www.regular-expressions.info/catastrophic.html

[2019-01-03 18:36] zo commented on #2075
This feature implementation is quite simple, here is the one I made for the lafe/ContextualDuplicate extension:
https://github.com/lafe/ContextualDuplicate/blob/95c5fcc45405773576bd561f3ae75d564e35ea79/src/extension.ts

But this extension is unmaintained and the pull request was never merged...

Currently I'm using @kkapsner's one, that mimic SublimeText and Notepad++ behaviour very well
https://m

[2019-01-03 18:36] octref opened #65990 "Cmd+O on .code-workspace file should open workspace in new window"
Cmd+O + Opening a `.code-workspace` file should open the workspace in a new window, not opening the workspace file in a Text Editor in the existing window.

[2019-01-03 18:49] trailstrider opened #65991 "Inconsistent file pasting in explorer between PWD and other directories"
Issue Type: <b>Bug</b>

1. Use the right click method to copy any file or directory from the explorer pane.
2. Right click on a directory in the explorer, and observe that a paste option is present, which when used will place the copied file or directory into that directory.
3. Use the right click method to copy any file or directory from the explorer pane (just to be sure its still in the clipboa

[2019-01-03 18:51] johngrabner commented on #64236
The reference utility makes no claims of supporting handlebars/hbs marking for html files.
They also state "existing owners have very limited time to work on this project currently".

So it looks like the error is visual studio using this utility for handlebars/.hbs files.
I can open a ticket for a feature request, but given the above note, it feels kind of pointless.

There appears to be a number

[2019-01-03 18:51] tunedin76 commented on #65924
Just found out the same has happened to ALL third party extension formatters.. VUE - Vetur, with Prettier, phpfmt,
This is a serious bug. I have posted to the extension authors as well:
phpfmt,
php-cs-fixer
Vetur
Prettier
Prettier-Now

I have tried each of these as the only extension on a fresh install

[2019-01-03 18:52] tunedin76 commented on #65974
Just found out the same has happened to ALL third party extension formatters.. VUE - Vetur, with Prettier, phpfmt,
This is a serious bug. I have posted to the extension authors as well:
phpfmt,
php-cs-fixer
Vetur
Prettier
Prettier-Now

I have tried each of these as the only extension on a fresh install

[2019-01-03 18:52] tunedin76 commented on #65974
It seems there is a bug in VS Code for ALL of the extensions that format.

[2019-01-03 19:00] yangshuairocks opened #65992 "Inconsistent snippet name listing"
- VSCode Version:

Version: 1.31.0-insider
Commit: 7805023eaa46db45d3c24a4c38c0d07c087cf1b3
Date: 2019-01-03T06:20:50.629Z
Electron: 3.0.10
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.17134

- OS Version:

OS Name:                   Microsoft Windows 10 Pro
OS Version:                10.0.17134 N/A Build 17134

Steps to Reproduce:

1. Create several PowerShell user

[2019-01-03 19:07] roblourens commented on #65974
phpfmt works fine for me.

Please make sure that the extension is installed and that you've reloaded vscode.

[2019-01-03 19:12] DanTup opened #65993 "Breakpoints are unexpectedly shown as not-verified after removing and re-adding them"
@isidorn As a result of discussions in #59984 and #62264 I have started removing and re-creating breakpoints in `setBreakpointsRequest` because we deemed it was the only way to attach IDs to them if I couldn't supply the IDs immediately. However, I'm seeing a strange issue where breakpoints will become marked as unverified whenever I remove (a different) one, even though I create them with `verifi

[2019-01-03 19:16] pltrant commented on #63525
Yes, I think you described it well, @YisraelV.  I think having the "Smart Scroll" and "Scroll Lock" is fine, but they should work together and not independent of each other (since they essentially do the same thing - just through different activations).  Meaning if a user clicks anywhere, which then disables the scroll (due to the Smart Scroll), it should do so by enabling the Scroll Lock.  That m

[2019-01-03 19:18] aaronjwood commented on #65920
@isidorn are you saying that the functionality before was broken and now it's working as intended? I've been running into this lately and never used to hit it. If it's valid functionality I find that it makes debugging a huge pain, on almost every step over it jumps into `proc.go` and I have to wait a second or two for it to jump back to where I was. I can see your point where you're breaking insi

[2019-01-03 19:38] carlosefr commented on #23968
Also seeing this. If I change the "Python 2.3.2 64-bit" string (in developer tools) to "Python 2.3.1 64-bit" (which is slightly narrower) it goes away. Seems like it's coming from the warning icon element because toggling it's `background:` style makes it go away (while also making the icon itself go away).
<img width="318" alt="screen shot 2019-01-03 at 19 36 03" src="https://user-images.githubus

[2019-01-03 19:44] roblourens commented on #23968
I investigated this last month and found that it was due to a rounding issue in the widths of the status bar items + the `-webkit-mask` but it's fixed in electron 3 so not worth working around it.

[2019-01-03 19:58] dannymcgee commented on #585
Happy New Year!

+1 for this. I'm a little bit obsessed with syntax highlighting and it drives me absolutely bonkers that Intellisense recognizes this as a class, but the syntax highlighter just sees it as a generic variable.

![semantic-highlighting-plz](https://user-images.githubusercontent.com/13191586/50658588-dd475b00-0f67-11e9-8069-96d7a0dfbe30.png)

[2019-01-03 20:02] NomanGul commented on #28432
@pauby What is your vscode current version? (mine is 1.30.1)

[2019-01-03 20:07] asap7770 commented on #65914
You might want to let people know this if they come to this forum.

Pushing to the earlier version by telling the extension to go to 2018.10.1 works again...

[2019-01-03 20:10] zacharied commented on #26777
Curious what the status of this is. It seems really overly opinionated to force all of these elements into one pane. IntelliJ handles this much better, modularizing each component into its own pane that can be moved wherever.

[2019-01-03 20:23] Tenrys commented on #65983
This also seems to be happening...

![](https://tenrys.pw/ShareX/2019/Jan/zFyi.gif)

[2019-01-03 20:24] redrbrt opened #65995 "Minimap not hide anymore"
- VSCode Version: 1.30.1 (system setup)
- OS Version: Windows_NT x64 10.0.17134

I can't disable/toggle minimap no more, i tried view->toggle minimap as also settings json settings.json => "editor.minimap.enabled": false

Restart vscode, nothing is working, is there anything i'm doing wrong? not sure with what update stops working

Does this issue occur when all extensions are disabled?: Yes/No
Ye

[2019-01-03 20:30] pauby commented on #28432
@NomanGul 1.30.1

[2019-01-03 20:32] NomanGul commented on #28432
In my vscode auto files and git refresh is not working but after check "Use Experimental File Watcher" It's working

[2019-01-03 20:36] pauby commented on #28432
@NomanGul I got that from what you'd said. Earlier in this thread (or it may have been another thread) it was advised to check the 'Experimental' setting so mine has been checked for a while now (I'd say at least 6 weeks) with no effect.

[2019-01-03 20:38] jabacchetta opened #65996 "Editor Hover Customization"
The ample amount of hover tooltips shown in the editor seems to be a common complaint among new VSCode users.

We have the ability to disable them completely via `"editor.hover.enabled": false`, and [there are](https://github.com/Microsoft/vscode/issues/51253) a [few issues](https://github.com/Microsoft/vscode/issues/33752) related to positioning them.

Personally, I'd like to be able to control w

[2019-01-03 20:42] staffann commented on #64658
We have one main repo and I can reproduce on any clone of that repo. I also have a repo where it is not reproducible. The differences I can think of is that the latter repo is smaller and has no commit hook (the others have a hook that adds the branch name to the commit comment). Both are cloned from a bitbucket server.
I can check one or two other repos as well.

[2019-01-03 20:56] zdrummond commented on #64762
Sure

**jsconfig**
Is in the root directory

**MustacheValidator**
app/javascript/lib/forms/MustacheValidator.js

**File importing MustacheValidator**
app/javascript/bundles/Templates/LegalHoldTemplates/Form/components/lib/ValidatingRichEditor.js

[2019-01-03 21:01] sheetalkamat opened #65997 "Randomly get current identifier as completion"
From Microsoft/TypeScript#24009

To reproduce:

* Type `namespace `
* Type randomly. Every once in a while, the current text will be recommended as a completion. I've gotten this to reproduce with `const `also.

May be a vscode bug. @mjbvz Any idea how this could happen?

![werwke](https://user-images.githubusercontent.com/19274678/39842477-5e260cd2-539b-11e8-8b7a-aad00ef814e5.jpg)

Here is the ts

[2019-01-03 21:11] YisraelV commented on #63525
Thanks for clarifying! I will look into this.

[2019-01-03 21:19] schneiderbruno commented on #7570
Omg, VSC not work while no have internet..
Microsoft, fix it!!!

And stop update windows 10 with some bugs!!!
I want to go back to windows 7!

shame on you Microsoft!!! Bilions devices used w10 and microsoft update bugs after bugs!!!

[2019-01-03 22:05] willashley23 commented on #63798
I have this issue as well, only it happens when you use the interactive git UI in addition to the terminal. If you revert a file in the git sidebar while that file is still open, it doesn't update and making changes to that file and saving forces you to diff it.

[2019-01-03 22:13] orlando commented on #50713
I'm looking for this too, any idea where to look to get this implemented?

[2019-01-03 22:15] eamodio commented on #65715
@joaomoreno I'm open to alternatives. See also: https://github.com/Microsoft/vscode/issues/64423

[2019-01-03 22:16] 3dots commented on #9827
Hello. Has this FR petered out somewhat? Or does this have a chance of being put in?

I just checked out a highlighting/marker extension, and figured: can't be that hard to make a context sub-menu which lets you toggle a highlight based on a list of colors already used in the file... Turns out it's not that simple after all.

So, what you then have to pipeline all that through the Lightbulb instea

[2019-01-03 22:37] MadeByMike commented on #43169
I have this issues as well. I'm using windows and bash\ubuntu WSL for my shell. It's sporadic but happens about 20-30% of the time when I open a terminal. Usually closing the terminal (trash icon) and starting a new one (plus icon) will give me a working terminal.

[2019-01-03 22:38] zackkrida commented on #65743
Same problem

[2019-01-03 22:49] segevfiner commented on #65920
I don't think that's really such a desired behavior... Have you ever debugged anything in Visual Studio, windbg, gdb, Eclipse, IntelliJ. and had it jump around to other threads while stepping? I know I haven't. They will only jump to a different thread when the debugee hits a stop event in a different thread, like a breakpoint. It doesn't matter what the other threads are doing, running or stopped

[2019-01-04 00:57] sean-mcmanus opened #65998 "Unable to start Code on 32-bit Ubuntu 14"
- VSCode Version: Latest Insiders. 1.31.0
- OS Version: Ubuntu 14, 32-bit.

Steps to Reproduce:

1. Install and Launch VS Code Insiders.

Does this issue occur when all extensions are disabled?: Yes

Bug: When executed from the command line it shows "/lib/i386-linux-gnu/libdbus-1.so.3: no version information available (required by /usr/share/code-insiders/bin/../code-insiders". Is this a VS Code b

[2019-01-04 01:09] robertbenjamin commented on #11387
+1

[2019-01-04 01:12] #65354 closed

[2019-01-04 01:14] roblourens commented on #65377
Actually I remembered that these are actually helpful when not using the settings UI. After we remove the JSON editor, they are the only convenient way to switch between settings scopes in JSON and I recommended using them to fill that gap. So I'm not sure about removing them. I can do what I said I would do with the "Open Settings" one but doing just one hardly feels like it's helping.

[2019-01-04 01:17] SetTrend opened #65999 "Cannot resize Keyboard Shortcuts column sizes -> Add column resize handle bars and horizontal scroll bar"
### Visual Studio Code Version
![vs code version](https://user-images.githubusercontent.com/9283914/50669483-be77b180-0fc5-11e9-983a-d59cdde245c6.png)

### Steps to Reproduce:

1. Open Visual Studio Code with default window size.
2. Create two editor groups horizontally.
3. Open Keyboards Shortcuts editor and resize editor group so the editor's content won't fit.

Does this issue occur when all ex

[2019-01-04 01:35] SetTrend opened #66000 "VS Code ignores the Windows accessibility setting "Don't hide scroll bars""
### VSCode Version

![vs code version](https://user-images.githubusercontent.com/9283914/50669766-7194da80-0fc7-11e9-929a-6181fcc45f62.png)

### Steps to Reproduce

1. Open Visual Studio code and open a large text file

### Current Behaviour

In Visual Studio Code, editors' scroll bars auto hide, thereby thwarting targeting the scroll bar handle when moving the mouse.

### Expected Behaviour

Visu

[2019-01-04 01:43] Astrantia opened #66001 "ConPty Insiders Cursor Flashing"
![here](https://i.imgur.com/rfZPMCL.gif)

[2019-01-04 01:43] Astrantia commented on #66001
@Tyriar

[2019-01-04 01:48] mjbvz opened #66002 "Could not find a declaration file for module './parser/htmlTags'"
**Repo**
1. Start `yarn run watch`
1. Wait for build to complete
1. Now edit `extensions/html-language-features/server/src/modes/htmlMode.ts` or another file under the html extension

**Bug**
See the errors:

[code]

Looking in `node_modules`, it does look like there is no `./parser/htmlTags.d.ts` file published

[2019-01-04 01:59] Tyriar commented on #66001
This is a bug in conpty using powershell on Windows 1809, it's fixed on Windows Insiders... I'm considering switching the default back because of this and the performance issues.

[2019-01-04 02:02] Tyriar commented on #50713
The issue sat here for 4 months with 0 votes on it, so it goes closed during our [annual-ish issue clean up](https://code.visualstudio.com/updates/v1_28)

[2019-01-04 02:05] Tyriar commented on #65949
😆 Thanks for the quick feedback, this was caused by https://github.com/xtermjs/xterm.js/pull/1849

[2019-01-04 02:13] Tyriar commented on #65871
Hmm, I guess you're right. I'm sure I've used programs in the past that do this but can't think of them.

[2019-01-04 02:13] #65871 closed

[2019-01-04 02:22] usernamehw commented on #66001
Not sure where to put it but Cmder in Insiders is unusable. CPU 100%

![screenshot 22](https://user-images.githubusercontent.com/9638156/50670994-16bbad00-0fe0-11e9-9b9c-68f16cbb8f9b.png)

Open and kill terminal a couple of times => always repro for me.

OS version: Windows_NT x64 10.0.17763

Using a setting helps:

[code]

[2019-01-04 02:33] tzachshabtay commented on #65975
@isidorn I know about compound configuration, as I said I want to use it, but I can't, because the server side doesn't work as I can't configure it to not use the debug adapter and the debug adapter times out.
Won't F1 > start without debugging run the entire compound without debugging?
Then it doesn't solve my problem. Like I said, I want to debug the client and run the server without debugging,

[2019-01-04 02:33] mhamri opened #66003 "suddenly any command relate to typescript is missing"
- VSCode Version:
- OS Version:

Steps to Reproduce:
i don't know what happened, i'm in an angular project and suddenly the typescript isn't a recognize command. usually i used it to restart typescript server. i uninstalled the vscode, deleted the .vscode folder under the user, and installed again, but still same, i don't know what is broken
![image](https://user-images.githubusercontent.com/89917

[2019-01-04 02:58] sean-mcmanus opened #66004 "With zh-cn locale, C/C++ Go to Definition replaces the source document with the target contents"
- VSCode Version: 1.30.1
- OS Version: Windows_NT x64 10.0.17134

Steps to Reproduce:

1. Use zh-cn in locale.json with the Simplified Chinese language back (also the C/C++ extension).
2. Edit a C/C++ file, and use Ctrl+Click (go to definition) on some target that exists in a different file.

Bug: The user at https://github.com/Microsoft/vscode-cpptools/issues/2980 reports that the contents of the

[2019-01-04 02:59] mjbvz commented on #66003
The typescript commands only show up if you are in a javascript or typescript file. Try opening one and then running the command

[2019-01-04 02:59] #66003 closed

[2019-01-04 03:10] jeanp413 commented on #65204
@anirudhrb, I think you should do the same as in settingsEditor2.ts and set the key to true in the setInput method
https://github.com/Microsoft/vscode/blob/dc261e04364542f6114d0e838b7fedf18ee505b7/src/vs/workbench/parts/preferences/electron-browser/settingsEditor2.ts#L202-L205
and remove this listeners
https://github.com/Microsoft/vscode/blob/dc261e04364542f6114d0e838b7fedf18ee505b7/src/vs/workben

[2019-01-04 03:12] ramya-rao-a commented on #65970
cc @octref

[2019-01-04 03:13] #65634 closed

[2019-01-04 03:13] #65468 closed

[2019-01-04 03:21] Tyriar opened #66005 "Unexpected intellisense order with underscore prefix"
Maybe it's always done this and I'm only just hitting this, I think _addons should score best here:

![image](https://user-images.githubusercontent.com/2193314/50672376-91f37380-0f8c-11e9-95b2-36b6f8bcfacc.png)

Also the fact that the s and n are out of order in the best match is weird.

Not sure if this is TS or our algorithm?

[2019-01-04 03:40] usernamehw commented on #66005
At least it shows up (unlike `$` at the beginning of the word).

[2019-01-04 03:48] kalpaj12 commented on #65998
Oh, so this happens on linux as well,
@sean-mcmanus , please try connecting to the internet, and try running VS Code again.
Let me know if that works.

[2019-01-04 03:53] virtuald commented on #65920
@isidorn it seems that the scenario you described is sensible in the case of a *continue*. However, if A and B are stopped, and I do a *step*, I would expect to stay in the context of A and *not* switch to B.

I'm not sure what the difference is (if any) between a step and a continue from the perspective of a debugger, but from a user perspective they definitely seem like different things.

[2019-01-04 03:53] sean-mcmanus commented on #65998
I am connected to the internet -- that's how I downloaded the latest VS Code Insiders.

[2019-01-04 03:56] paysonTsung opened #66006 "How to control the underline range of the jump definition"
My plugin uses the jump definition API     languages.registerDefinitionProvider
But I don't know how to control the underline range of the jump definition...

Below is the diagram
I want the underline to cover the entire string...

![image](https://user-images.githubusercontent.com/22448934/50673170-4934cc80-1017-11e9-997a-c75e7bba8e8c.png)

[2019-01-04 03:58] fpsqdb opened #66007 "New File/Folder have unexpected behavior"
- VSCode Version: 1.30.1
- OS Version: Windows 10 1809

Steps to Reproduce:

1. Open `vscode` project.
2. Expand `test` folder.
3. Select `src\vs\base\test\node\processes\fixtures\fork.ts` file.
4. And then right click on `test` folder and click `New File` or `New Folder` menu item.

Does this issue occur when all extensions are disabled?: Yes

It seems that it only happens when you select a deepe

[2019-01-04 04:01] Lovecircle commented on #32320
+1 . Please fix it.

![ezgif-2-823527ac4e2d](https://user-images.githubusercontent.com/6691153/50673390-ea0a9400-0fe5-11e9-98c1-e6147df4ee5a.gif)

![34](https://user-images.githubusercontent.com/6691153/50673423-3950c480-0fe6-11e9-9e83-9fa1850df8b3.gif)

[2019-01-04 04:04] Tyriar commented on #66005
@usernamehw ?

![image](https://user-images.githubusercontent.com/2193314/50673467-c2d6a700-0f92-11e9-87ba-ad82807eb774.png)

[2019-01-04 04:13] Tyriar commented on #66001
Just disabled it by default, it's opt in now. The kill problem is probably my bad and I've definitely noticed it as well.

[2019-01-04 05:04] Astrantia commented on #66001
@Tyriar So basically conpty which was supposed to fix winpty before new Windows Insiders landed faces an issue with 1809 again and needs Insiders too?

[2019-01-04 05:09] Eskibear commented on #62704
Any update on this? Linux users are still suffering from it.

[2019-01-04 05:12] #66002 closed

[2019-01-04 05:14] octref commented on #66002
Thanks, fixed.

[2019-01-04 05:21] nusantara-cloud opened #66008 "Types Defined From a Referenced index.d.ts is not Available Unless index.d.ts is Opened"
- VSCode Version: 1.30.1
- OS Version: 4.18.16-arch1-1-ARCH

I have a fullstack codebase with frontend and backend code on it.
The structure looks like this:

[code]

I have global type definitions defined on /src/index.d.ts. And then I referenced it from /browser-js-src/src/index.d.ts like this:
[code]

What is strange is that when editing .ts files under /browser-js-src/ directory, type defined

[2019-01-04 05:33] s97712 opened #66346 "${execPath} is /path/electron2 instead of /path/code in linux"
### luanch.json
[code]
above code are generated by this package, but `${execPath}` is `/path/electron2` in linux. When I run the extension, that will open electron2 instead of vscode

[2019-01-04 05:42] Tyriar commented on #66001
@Astrantia Windows 10 is released every 6 months, these weren't considered critical enough to make it in when I surfaced them earlier. It's one of the largest code bases in the world so I can understand the precautions.

[2019-01-04 05:45] Tyriar commented on #66005
@usernamehw oh when you want `this.` filled in for you. The cause there is likely that tsserver isn't including those symbols to vscode. @mjbvz thoughts?

[2019-01-04 05:48] yuzexun opened #66009 "菜单明明可以通过上移进行显示，但它竟然缩小了！"
Issue Type: <b>Bug</b>

打开一个.cpp文件，我在编辑区上面点击右键弹出菜单，若是在屏幕中间点击，可以完整显示16个菜单选项，但我鼠标再往下移，然后右键弹出菜单，就会发现，越往下移，菜单项就会显示的越来越少，一直会跟随鼠标点击的位置，但菜单项显示不全。
这个显示得下应该自动调整吧，这样的菜单太难使用了。

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:05:00.654Z)
OS version: Darwin x64 18.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4980HQ CPU @

[2019-01-04 05:52] yxxone opened #66010 "Search Exclude Not Works"
Issue Type: <b>Bug</b>

When I add a path to search exclude and file exclude, the folder is hidden. But when I try to search file with ctrl+p, the hidden files is still in the list.

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:05:00.654Z)
OS version: Darwin x64 18.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM)

[2019-01-04 06:06] nukata commented on #7998
I think `cyg-git` might be able to solve the problem.  It provides a "Git for Windows" virtually.  You only need Cygwin and its packages.

https://github.com/nukata/cyg-git

[2019-01-04 06:36] Tyriar commented on #65967
https://github.com/Microsoft/vscode/issues/65949

[2019-01-04 06:36] #65967 closed

[2019-01-04 06:37] vasiliyaltunin commented on #65583
It did not let me use Ctrl+shift. When i press shift - nothing happends, and BTW i use CTRL+SHIFT to change languages, but it strange if Centos just don

[2019-01-04 06:47] webdevpchoi commented on #65955
Yes, I apologize. I thought there would be a new line in between the `<div></div>` tags, and then become automatically tabbed again to show nested code.

[2019-01-04 06:53] o0rebelious0o commented on #65693
I have reproed this locally.  In my test repo, I can see that discarding 2001 modified files creates a command line which is 78949 characters long, but the windows limit is 32767, assuming node is calling CreateProcess under the covers, and based on the info provided here: https://blogs.msdn.microsoft.com/oldnewthing/20031210-00/?p=41553/.

The problem is, the UI for discard all changes, in comman

[2019-01-04 07:03] #65800 closed

[2019-01-04 07:03] bpasero commented on #65819
Steps?

[2019-01-04 07:04] #65949 closed

[2019-01-04 07:06] igvls opened #66011 "python pyxb generated binding hangs VS code"
- VSCode Version: 1.30.1
- OS Version: Windows 10 Pro

Steps to Reproduce:

1. I have a pyxb library generated XDS binding which is a 32 MB file.
2. I am trying to package and import that file into another file as module. The VS code starts to slow down and total system hangs (or) sometime crashes.
4. My assumption is VS code cannot handle python file greater than 10 MB with multiple function.

![

[2019-01-04 07:06] bpasero commented on #65900
This is a consequence of using custom title bar. You can disable this behaviour if you configure:

`"window.titleBarStyle": "native"`

[2019-01-04 07:07] xujingchen1996 opened #66012 "Language Support for JJTree"
We need Language Mode for JJ(".jj") and JJTree(".jjt") for JavaCC

[2019-01-04 07:07] #65908 closed

[2019-01-04 07:10] pascollin commented on #59679
Same here too. VS Code 1.30.1 and only 41 files outside node_modules folder.

[2019-01-04 07:32] joaomoreno commented on #65949
Thanks! :pray:

[2019-01-04 07:34] #65931 closed

[2019-01-04 07:38] m1lk1way commented on #6328
bump 🏗

[2019-01-04 07:39] webdevpchoi opened #66013 "Intellisense Global Identifier suggestion prevents Emmet suggestions from appearing/working properly"
- VSCode Version: 1.30.1
- OS Version: Windows_NT x64 10.0.17134

User Setting:
![image](https://user-images.githubusercontent.com/21182531/50678658-9a5fa480-0fb4-11e9-88bf-8e8d2eb86d14.png)

Steps to Reproduce:

1. Open `.js` file with language mode set as Javascript React.
2. Create a React Component (in this case, `Inventory.js`).
![image](https://user-images.githubusercontent.com/21182531/5067

[2019-01-04 07:39] bpasero commented on #65910
I guess we end up into an open-editor call for `C:\` somehow, moving to editor land.

@sobjornstad I cannot reproduce btw so you need to update your steps please.

![image](https://user-images.githubusercontent.com/900690/50677836-50021600-0ffc-11e9-8b2b-bcd43d7f1453.png)

[2019-01-04 07:44] bpasero commented on #65767
Thanks!

[2019-01-04 07:48] bpasero commented on #64145
@hyunzy steps to reproduce?

[2019-01-04 07:48] joaomoreno commented on #64423
@misolori We're still having people which are confused by the icon. https://github.com/Microsoft/vscode/issues/65715

I wonder if you have some thoughts?

[2019-01-04 07:49] joaomoreno commented on #65981
@roblourens Is it already using dynamic heights?

[2019-01-04 07:51] bpasero commented on #65990
I disagree, Cmd+O is for opening a file into the editor.

[2019-01-04 07:51] #65990 closed

[2019-01-04 07:52] joaomoreno commented on #65987
cc @viradhamMS @pkuma-msft

Merging into https://github.com/Microsoft/vscode/issues/42890

[2019-01-04 07:52] #65987 closed

[2019-01-04 07:52] joaomoreno commented on #42890
From @octref

[2019-01-04 07:55] bpasero commented on #65665
@faradoxuz are you trying to open the same folder in a new window maybe?

[2019-01-04 07:55] bpasero commented on #65773
@radres are you trying to open the same folder in a new window maybe?

[2019-01-04 07:57] #65977 closed

[2019-01-04 07:58] bpasero commented on #65998
@Tyriar can you take this?

[2019-01-04 07:59] joaomoreno commented on #65939
It would be great if you just implemented that as list/tree options as you need them. Or just file feature requests and I'll get it done.

Yeah, if the elements are inside the row, you own them. If you need to customize the row's attributes, you have to let me know so we add options.

[2019-01-04 08:01] joaomoreno commented on #64658
Are they located in different parts of the file system? Are the repos in a remote file system? What file system format is it?

Do you have perhaps another similar machine you can try this on?

[2019-01-04 08:12] #65592 closed

[2019-01-04 08:15] bpasero commented on #61824
@gurpreetshanky @korpong753 @HazemAM can you help me to test a new build with the fix from https://chromium-review.googlesource.com/c/chromium/src/+/1299342 to see if it works now without having `window.smoothScrollingWorkaround: true` configured?

**Steps:**
* [download](https://az764295.vo.msecnd.net/insider/5967828c2a5c559ed86c3369ed9811bb1bd6386b/VSCode-win32-x64-1.31.0-insider.zip)
* open set

[2019-01-04 08:19] bpasero commented on #34396
I finished a build with the fix from electron/electron#15975:

https://az764295.vo.msecnd.net/insider/5967828c2a5c559ed86c3369ed9811bb1bd6386b/VSCode-win32-x64-1.31.0-insider.zip

Can people report back if this is fixed with that build?

[2019-01-04 08:30] albigi commented on #7570
just noticed I can also repro while working offline.
code.exe start but immediately quits. this is what I get when starting it from command line

looks like the dns resolver is expected regardless of the hosting machine working offline?

I am running on Win 10.0.17763 Build 17763.195, version 1809
VS Code version:

I can collect further data if it helps

[2019-01-04 08:30] jrieken commented on #65909
Press <kbd>F1</kbd>, type 'Insert Snippet', type <kbd>Enter</kbd>, a quick pick of snippets appear

[2019-01-04 08:33] jrieken commented on #41882
It's somewhat a fine line because most formatters already have settings, e.g TypeScript. We would assume that the setting is a boolean which means it won't work for prettier without a change of their change. Another alternative would be building this is code, e.g a formatter can optionally implement a function like `updateEnablement(selector: DocumentSelector, enabled:boolean)` which we would call

[2019-01-04 08:41] alexr00 commented on #46909
Thank you for catching!

[2019-01-04 08:43] wanglzuz commented on #65966
You are (of course) right, I am sorry. This behaviour is apparently caused by this particular one of my extensions: https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig
@egamma Should I close this issue and open a new one or can this one be reused?

[2019-01-04 08:51] bpasero opened #66014 "Welcome: weird mac-only/windows-only/linux-only CSS rules"
Search for mac-only, I do not understand these rules for the OS, they all seem to do the same?
Also, we already have rules for .mac, .windows and .linux

[2019-01-04 08:54] valse commented on #43169
Same issue here; this is my version:

Version: 1.30.1 (user setup)
Commit: dea8705087adb1b5e5ae1d9123278e178656186a
Date: 2018-12-18T18:12:07.165Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
OS: Windows_NT x64 10.0.17763

the terminal (powershell) is blank and the search recent `Ctrl+r` command stopped working (the console show `^R` instead 👎)

[2019-01-04 08:55] MeikTranel opened #66015 "Integrated Terminal (ConPty) picks up AudioVolumeUp etc. from Dell AC511 Soundbar Volume Scroller"
Issue Type: <b>Bug</b>

When scrolling the volume wheel of my Dell soundbar the integrated terminal prints volumeup and down control keys. I don't know if this is related to VSCode or ConPty, but it definitely appeared with the move to ConPty. Feel free to move this over there, if this isn't vscode related.

![2019-01-04_09-49-09](https://user-images.githubusercontent.com/6466560/50680015-4b425f80

[2019-01-04 08:57] kesane-msft commented on #65987
@octref - our search algorithm gives more weightage to matches in the extension's display name. If you add the "vue" term in your display name your extension would start showing (mostly) as the top result.

[2019-01-04 08:58] MeikTranel commented on #66015
Hey @Tyriar, hope you had some quality holidays 😉

I don't know whether to put this under conpty or vscode? Feel free to move this now that we can move issues 😄

[2019-01-04 09:00] chnliquan opened #66016 "extension's custom activitybar icon dose not display"
- VSCode Version: 1.30.1
- OS Version: 10.3.3

Steps to Reproduce:

1. The extension I developed is not uploaded to the market. It is only used within the team. When the extension is updated, it calls `vscode.commands.execute(workbench.action.reloadWindow)` to reload. After the overload is completed, my custom activitybar icon is not displayed (it can be clicked). i need to reload again to see the

[2019-01-04 09:01] sandy081 commented on #65956
It is a diagnostic message like follow

`const message = "`std::option::Option<&std::string::String>`";`

[2019-01-04 09:05] msqaddura opened #66017 "VSCode doesnt respect "files.watcherExclude" or "exclude""
Issue Type: <b>Bug</b>

Tested on this repo:
https://github.com/itslenny/scaffs
These files:
https://github.com/itslenny/scaffs/tree/master/test/data/scaffolds/Example

Knowing that:
1) the scaffold files have to be *.ts so changing file extension wont help

Expected Result:
after putting in settings.json "files.watcherExclude" to exclude this folder and also in tsconfig.json "exclude" the folder,

[2019-01-04 09:07] Mr-jiangzhiguo commented on #65909
thx

[2019-01-04 09:07] #65909 closed

[2019-01-04 09:13] sandy081 commented on #45617
Yes.

So you need support for more identifiers that can override settings (not just editor).

[2019-01-04 09:14] sandy081 commented on #33180
@punteek This is still open, so you can contribute 👍

[2019-01-04 09:15] isidorn commented on #45617
@sandy081 yes. Does that overcomplicate things?

[2019-01-04 09:21] aeschli commented on #63270
The usage-analysis proposals only show up if we don't have a schema configured for that file. The idea is that they are a fallback if there is no understanding of structure. IMO it would be nice if we could signal that to the completion processor. They are like the textual proposals which are also special.

What you can do right now is:
- register a schema for your file patterns `**/*.{interface,t

[2019-01-04 09:33] chrmarti commented on #66014
These are for showing/hiding parts of the Welcome page (and Interactive Playground) depending on which OS we are on. These are still in use.

[2019-01-04 09:35] Kroc opened #66018 "Syntax colouring fail on PHP v7.3 HEREDOC / NOWDOC termination"
Issue Type: <b>Bug</b>

Since PHP v7.3 the HERE/NOWDOC syntax allows indentation of the terminator, and the semicolon is no longer required, even allowing for other symbols (comma in the case of docstrings in arrays).

The following code no longer colours correctly

[code]

VS Code version: Code - Insiders 1.31.0-insider (bae6c84d46cd85c911db7e166a74e698a54c8644, 2019-01-04T06:17:20.719Z)
OS versi

[2019-01-04 09:43] alexr00 commented on #65573
This issue was moved to atom/language-sass#264

[2019-01-04 09:43] #65573 closed

[2019-01-04 09:52] natanfudge opened #66019 "Intellisense's 'Suggest selection' should keep working when you have typed something"
VSCode has a feature that remembers recent completions the user has selected and then automatically choosen those completions for them the next time.
The problem is that it behaves quite oddly, and here is an example that illustrates why:

- Create a new Typescript file.
- Type `console.` vscode will suggest all of the available methods of `console`.
 - Choose `exception`.
- Type `console.` again.

[2019-01-04 09:52] alexr00 commented on #65594
You probably need to do something like this:
[code]

[2019-01-04 09:56] LukeIreland1 commented on #63424
I'm getting this problem even after trying `code --user-data-dir Temp`. I don't need to update urgently but worth fixing for when new updates come out I suppose.

[2019-01-04 09:56] alexr00 commented on #47172
Thank you for the background info. Closing since this isn't a natural flow now.

[2019-01-04 09:56] #47172 closed

[2019-01-04 09:56] weinand commented on #65938
@octref for conflicting needs you can create an additional launch config: just duplicate the launch config and remove the preLaunchTask.

[2019-01-04 10:02] alexr00 commented on #65511
There were some pretty serious issues with task detection a couple weeks ago. Are you still seeing this? When I do ctrl+shift+b in the this repo now I'm only seeing the "Build VS Code" task.

[2019-01-04 10:04] alexr00 commented on #1791
Documentation for running tasks automatically is here: https://code.visualstudio.com/Docs/editor/tasks#_run-behavior

[2019-01-04 10:09] likecreep opened #66020 "Can't activate any extension."
Issue Type: <b>Bug</b>

Suddenly I can't use any extensions and when I try to use extensions, the workbench would show "activating extensions" but after that I still can't use any extensions.

The developer tools shows "/Applications/Visual Studio Code.app/Contents/Resources/app/out/vs/workbench/workbench.main.js:303 [Extension Host] [UriError]: Scheme is missing: {scheme: "", authority: "", path:

[2019-01-04 10:15] isidorn commented on #65975
Thanks for providing more details. The following works perfectly for me
`hey.js`
[code]

`launch.json`
[code]

You will get the warning that "noDebug" is not allowed (as you pointed out) but it will get respected. So everything should work just fine.

[2019-01-04 10:20] Sneezry commented on #63270
@aeschli thanks for your advice, your suggestion is very helpful.

[2019-01-04 10:26] duclovedj opened #66021 "Issue on Find box."
I filled in find box a regular expression but it says: "Invalid Regular Expression".
What i filled in: (?<==)(\d+)

[2019-01-04 10:48] alexr00 commented on #52723
Closing since this has had the needs more info tag for six months.

[2019-01-04 10:48] #52723 closed

[2019-01-04 10:49] isidorn commented on #65948
@Tyriar great catch, thanks. I broke this a couple of days ago, so only for insiders.

[2019-01-04 10:49] #65948 closed

[2019-01-04 10:52] isidorn commented on #65988
@DonJayamanne this makes good sense and is somewhat a duplicate of #63121
As stated there:

Dynamic snippets should be shown on top of the add configuration suggest box and they should get configurations via provideDebugConfigurations call.
One dynamic snippet per debug type.

So basically the add configuration would call into the same exisiting DebugConfigurationProvider, we would not add any hoo

[2019-01-04 10:52] isidorn commented on #63121
Closing as duplicate of #65988

[2019-01-04 10:52] #63121 closed

[2019-01-04 10:53] aeschli commented on #63564
The theme files were copied from Colorsublime/Colorsublime-Themes some time back in 2014.
In the meantime they have been converted to JSON and modified by us.

@isidorn How important is it that we reference the actual commit of the file we took? We don't have that commit right now, but could figure it out by comparing contents.

[2019-01-04 10:55] alexr00 commented on #55264
You can execute a task via the API: https://code.visualstudio.com/api/references/vscode-api#tasks
Using that, you could write an extension that adds buttons that run tasks to the status bar.

[2019-01-04 10:55] #55264 closed

[2019-01-04 10:55] vincent456 commented on #65594
when I try to do as alexr00, I get
`/usr/bin/bash: -- c: invalid option`

[2019-01-04 11:01] aeschli commented on #64720
I can't reproduce. What extension do you disable? Do you also reload?

[2019-01-04 11:01] #66014 closed

[2019-01-04 11:02] alexr00 commented on #56801
We now resolve commands in tasks.

[2019-01-04 11:02] #56801 closed

[2019-01-04 11:07] joaomoreno opened #66022 "Git: Support reverting selected lines"
Currently, it's possible to select a few lines within a chunk and stage them. It should also be possible to revert them. Currently, the whole chunk is reverted.

[2019-01-04 11:07] harishthakur04 opened #66023 "cannot download extension from visual studio code."
Issue Type: <b>Bug</b>

The online extension are not available in the app.Ihave internet connection but it does not showing any  online extesions.

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:12:07.165Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD A6-7310 APU with AMD Radeon R4 Graphics

[2019-01-04 11:08] joaomoreno commented on #58326
Not a duplicate.

[2019-01-04 11:09] joaomoreno commented on #66022
Closing this, reopening https://github.com/Microsoft/vscode/issues/58326

[2019-01-04 11:09] #66022 closed

[2019-01-04 11:09] alexr00 commented on #57579
The root of this issue is about better handling of paths across platforms. Duplicate of #38381.

[2019-01-04 11:10] #57579 closed

[2019-01-04 11:10] PrzemyslawKlys commented on #64720
It doesn't really matter which. What I noticed just now is that if you Disable extension, Enable it back and Disable again I can use folding again properly.

Reloading fixes things but the point is that if you disable the plugin and don't reload folding stops working (unless you do a workaround as above). It simply disappears.

![vscode problem](https://user-images.githubusercontent.com/15063294/5

[2019-01-04 11:14] alexr00 commented on #58763
This should be fixed now. We were missing the run argument for wsl.exe.

[2019-01-04 11:14] #58763 closed

[2019-01-04 11:15] harishthakur04 opened #66024 "cannot connect to extension marketplace"
Issue Type: <b>Bug</b>

I am unable to connect to extension marketplace.

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:12:07.165Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD A6-7310 APU with AMD Radeon R4 Graphics     (4 x 1996)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disable

[2019-01-04 11:18] SultanBin commented on #65859
ok by

From: ILSYT<mailto:notifications@github.com>
Sent: ‎Wednesday‎, ‎January‎ ‎2‎, ‎2019 ‎1‎:‎57‎ ‎AM
To: Microsoft/vscode<mailto:vscode@noreply.github.com>
Cc: Sultan Bin<mailto:Sultan-bin@hotmail.com>, Comment<mailto:comment@noreply.github.com>

@egamma<https://github.com/egamma> Sorry,I'm a Chinese so I can't use English well...Maybe you can try to translate this.
在兼容模式下，它能够正常运行。也许它与Win7 32b

[2019-01-04 11:20] faradoxuz commented on #65665
No, they are different folders. that's why I opened this issue

[2019-01-04 11:21] Crescent617 opened #66025 "Cannot open without Internet"
Issue Type: <b>Bug</b>

Cannot open without Internet

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:12:07.165Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) m3-7Y30 CPU @ 1.00GHz (4 x 1608)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: enabled<b

[2019-01-04 11:28] Endyl opened #66026 "Pressing AltGr in the integrated terminal inserts the string AltGraph"
Issue Type: <b>Bug</b>

While typing in the integrated terminal, pressing AltGr inserts the string "AltGraph" on the command line.

VS Code version: Code - Insiders 1.31.0-insider (bae6c84d46cd85c911db7e166a74e698a54c8644, 2019-01-04T06:14:11.582Z)
OS version: Linux x64 4.15.0-43-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) CPU E5-2620 0 @ 2.00GH

[2019-01-04 11:38] sandy081 commented on #45617
Yes, it will for the user. It is hard to explain why some settings are supported for some override identifiers and not for others especially there is no UI. Also this will introduce two types of settings for zen mode, one those with `zen.*` and others with `[zen]`. Is not it simple if all settings follow only one type?

[2019-01-04 11:46] 3ToThe6 opened #66027 "Previous stage(s) lost when I stage lines with integrated Git."
Issue Type: <b>Bug</b>

Here's how this issue can be reproduced:

1. `mkdir a`

2. `cd a`

3. `git init`

4. `mkdir b`

5. Create a file `b.txt` in dir `b`. It has three lines, `a`, `b` and an empty one, with CRLF `'\n'`.

6. `git add b/b.txt`

7. `git commit -m I`

8. `code b --disable-extensions` (Not `code .`)

9. Open `b.txt` with Code. First change the first line to `c`, and then stage it. Se

[2019-01-04 11:48] #64692 closed

[2019-01-04 11:51] phifa commented on #38225
How are we doing on this? I regularly face the issue, that I have to guess when opening files, since they are abbreviated with `...`.

[2019-01-04 12:15] ynsgnr commented on #32257
Try also enable the theme, because if your theme doesnt have transparency info, id does not display it as transparent or blured

[2019-01-04 12:21] bpasero commented on #65665
@faradoxuz are you doing anything different from what I do here?

![before](https://user-images.githubusercontent.com/900690/50687955-843cfd00-1023-11e9-832f-f7fc1d2ac2dc.gif)

Does it reproduce if you configure `"window.titleBarStyle": "native"`?

[2019-01-04 12:35] 9chu commented on #34396
![image](https://user-images.githubusercontent.com/4137042/50688349-064b1700-1060-11e9-9e7f-a5afe46c8002.png)

Solved on my VPS with 1 core CPU, running Windows Server 2012 R2.

[2019-01-04 12:38] alisabzevari commented on #65890
So, here is a more interesting example:
[code]

Usually, when dealing with chaining of calls, every function call (like `map` and `sum`) accept s certain input type and return a different type. Now, if I want to know what is the result type of `_.chain(students).map(s => s.age).sum()` it is only possible by removing the `.value()` in the end and look at the variable type by using `Cmd+K Cmd+I`.
In

[2019-01-04 12:48] #41558 closed

[2019-01-04 12:49] isidorn commented on #45617
@sandy081 once we introduce this I will deprecate all zen. settings

[2019-01-04 12:56] isidorn commented on #63564
@aeschli well it is imporant that we have some reference to the version we took. Either by the commit hash or the version number.
If no license changed between commit hashes and there is no potential security vunerability than I guess it is fine to take an approxiamte commit hash

[2019-01-04 13:14] elieobeid7 opened #66028 "VScode python 3 pylint: I can import X file in A but not B"
I'm using the latest version of VScode, using pylint and python 3. I'm using I'm on Ubuntu 16.04 and virtualenv. I can import all python and pip packages correctly, I only face the error when working with files I created.

I have 3 files, all are next to each other sitting in the same folder. `a.py`, `b.py` and `keys.py`, the latter contains nothing but keys as strings.

in `a.py`, I can do

`from

[2019-01-04 13:15] JonnyAdaptableTools commented on #66025
Have the same problem. Cannot open vs code when no WiFi.  Only happens on windows pc and not Mac.
Very poor.

[2019-01-04 13:30] javadbat commented on #65163
Can you explain more?
I don't understand what you expected me to do

[2019-01-04 13:31] tunedin76 commented on #65974
I have tried ctrl-k ctrl-f, F1 - Format Document, and F1 - phpfmt: Format Document here are the results.

You see the phpfmt in the extensions, and I yesterday have completely removed vscode, and the user data / extensions for a re-install.

With nothing else installed (no extensions) I tried 3 different PHP formatters. I use wamp's PHP 7.2 and it works for the validation - I have set the path and

[2019-01-04 13:34] sandy081 commented on #65175
Fixed by #41558

[2019-01-04 13:34] #65175 closed

[2019-01-04 13:40] DFineNormal commented on #34396
This build fixed the issue for me.
Tested on 2 x single core VMs running Win 2008 and 2008 R2 respectively

[2019-01-04 13:41] isidorn commented on #65993
@DanTup I think it would be great if we somehow improve our process of reproducing issues.
I suggest that you always try to reproduce the issue by modifying the vscode mock debug sample which is very simple https://github.com/Microsoft/vscode-mock-debug
In case you can reproduce it there I suggest to always create a fork of that and share it with me so than I can always continue the investigation

[2019-01-04 13:41] #65204 closed

[2019-01-04 13:42] shanalikhan opened #66029 "How to know user wide code installation running or System wide installation"
Is there any way to check if the code is running a user wide or system wide mode via API.

[2019-01-04 13:45] #65924 closed

[2019-01-04 13:45] sandy081 commented on #45617
Ok, I can provide following internally
- Contribute override identifiers with settings to override.

[2019-01-04 13:50] DanTup commented on #65993
That makes good sense to me - I'd considered making a stripped version of Dart Code and overlooked that sample. I'll take a look at putting the code into that sample early next week and see I can find anything else useful from a breakpoint. Thanks!

[2019-01-04 13:52] aeschli commented on #64429
paths.dirname(`c:/`) returns `.`. Not clear what's the expected result.

[2019-01-04 13:59] itamark commented on #65397
@joaomoreno can I take this?

[2019-01-04 13:59] andreqls commented on #13680
According to VS Code documentation (https://code.visualstudio.com/docs/editor/versioncontrol):

Yes, though VS Code works most easily with SSH keys without a passphrase. If you have a SSH key with a passphrase, you'll need to launch VS Code from a Git Bash prompt to inherit its SSH environment.

This page was dated 12/12/2018.

So I just generated new ssh keys without a passphrase (by leaving it e

[2019-01-04 14:00] pdaddy26 commented on #66024
I'm having the same issue where the progress bar under EXTENSIONS just continuously run nothing appears ever .....

[2019-01-04 14:00] #15671 closed

[2019-01-04 14:06] isidorn commented on #65993
Great, thanks

[2019-01-04 14:10] aeschli commented on #64720
Thanks for the great GIF, sadly, I can't reproduce (yet)

[2019-01-04 14:15] alexr00 commented on #39447
This is by design. When a task finishes, the process is torn down which means the launched browser will be killed. You could throw a longer sleep in to keep the file open, or write a command instead. You could also accomplish this by using a `process` task instead of a shell task.

[2019-01-04 14:15] #39447 closed

[2019-01-04 14:18] #55732 closed

[2019-01-04 14:19] tunedin76 commented on #65974
I have gotten PHP CS-Fixer to work, and be recognized. It is most likely an error on my end but there is little in the way of documentation troubleshooting multiple independent extensions.
I hope that it will continue to work, thank you for your time.

[2019-01-04 14:19] #65974 closed

[2019-01-04 14:19] aeschli commented on #64289
The built-in HTML extension actually only selects the matching closing tag. If you don't see this, please check:
- are you really in HTML mode (not PHP)
- is the input valid HTML
- disable custom extensions (`highlight-matching-tag|vin|0.8.4` looks suspicious) and see if that fixes the issue

If you still see multiple tags highlighted, please paste the a small html example here that shows the prob

[2019-01-04 14:23] aeschli commented on #64026
duplicate of #53886

[2019-01-04 14:23] #64026 closed

[2019-01-04 14:39] tboby opened #66030 "Provide GlobalStoragePath for large workspace independent extension data"
This feature request is related to #37137 and #22557, but is more focused on global state.

Some extensions, especially language servers, need global data that cannot be bundled in the extension. There are two main reason I know of:
- Allowing server updates independently of extension updates. E.g. ms-vscode.csharp and omnisharp I believe
- Caching of global data for performance

The current optio

[2019-01-04 14:45] aeschli commented on #63654
That's the expected behaviour of quick suggest: code completions are automatically shown when typing at the end of a word. You cam configure/disable this in the settings.

[2019-01-04 14:45] #63654 closed

[2019-01-04 14:46] staffann commented on #64658
They are all located under my home folder, which is local , in the root file system and uses ext4.
My colleague has the same issue. His host computer is Win10 instead Win10, but the guest Linux installations are very similar.

How is this supposed to work? I assume that a file change in the folder opened in VSCode should trigger the git extension to query git for the status? At this point I do not

[2019-01-04 14:47] wzup opened #66031 "Trigger suggestion shortcut on Mac not working"
From here https://code.visualstudio.com/shortcuts/keyboard-shortcuts-macos.pdf

`⌃Space` Trigger suggestion

But `⌃Space` on Mac is for switch keyboard language. It doesn't trigger suggestion, it switches keaboards.

And even after I've changed Mac's keyboard layout shortcut, `⌃Space` doesn't work either

[2019-01-04 14:51] stannynuytkens commented on #65817
Any news on this? @skprabhanjan

[2019-01-04 14:51] aeschli commented on #63891
VSCode aims to be a lightweight editor. That's why we don't bundle any build tools nor any setup wizards.
Of course this can all be added by extensions, but the shipped VSCode focuses on editing.

[2019-01-04 14:51] #63891 closed

[2019-01-04 14:51] cedric05 commented on #66015
happening for me as well
my laptop configuration:
lenovo thinkpad

[2019-01-04 14:57] skprabhanjan commented on #65817
I am working on it , needed some help from @Tyriar , have posted about the same :)

[2019-01-04 14:57] isidorn commented on #64434
@misolori this makes sense to me. Would you be willing to provide a PR for this? Should be pretty straight forward. If yes, let me know and I can provide code pointers and guidance.

Also what would happen if the sidebar is open, but another viewlet is shown, not the explorer, for example debug? I think than the explorer should get opened and we keep the current experience.
Also what would you exp

[2019-01-04 15:05] bpasero commented on #65819
@fabiospampinato wanna investigate and look why it is not working?

[2019-01-04 15:06] bpasero commented on #34396
Very cool, thanks for confirming!

[2019-01-04 15:08] bpasero commented on #64429
Not for me:

![image](https://user-images.githubusercontent.com/900690/50694751-07b61880-103b-11e9-9185-88366f7799a2.png)

[2019-01-04 15:09] #60895 closed

[2019-01-04 15:09] isidorn commented on #62851
We have provided feedback to most popular extensions, some are already updated and some are planning to update. Since all the work pllaned has been done I am closing this
Some related follow up work https://github.com/Microsoft/vscode/issues/65988

[2019-01-04 15:09] #62851 closed

[2019-01-04 15:10] isidorn commented on #65025
@roblourens can you provide some reproducable steps so I try to investigte more?
Thanks

[2019-01-04 15:11] joaomoreno commented on #56497
Closing per https://github.com/Microsoft/vscode/pull/56670

[2019-01-04 15:11] #56497 closed

[2019-01-04 15:14] radres commented on #65773
@bpasero, @chrmarti

Below I linked the recorded representation of the bug.

https://youtu.be/qHQzaKBB52A

[2019-01-04 15:17] bpasero commented on #65773
![image](https://user-images.githubusercontent.com/900690/50695180-400a2680-103c-11e9-9a33-d8a9c0b83f5a.png)

[2019-01-04 15:18] joaomoreno commented on #65397
@itamark Please check for `help wanted` and `good first issue` issues.

[2019-01-04 15:19] radres commented on #65773
@bpasero reuploading in 10 minutes

[2019-01-04 15:20] harpenden opened #66032 "Run Script in Active Terminal (powershell, bash, python...)"
**Version:** 1.30.1 (user setup)
**OS:** Windows_NT x64 10.0.17134

It would be good to have an option to run whole script (not a script file) in active terminal. Similar to `Run Selection` `f8` for Powershell or `Run Selection/Line in Python Terminal` `Shift + Enter` for Python scripts but without selecting a code.

- It takes time to select whole script and run the selection.
- Running a file fr

[2019-01-04 15:32] alexr00 commented on #30563
This has been fixed for all the built in task providers. Improving the cross platform path story is a dupe of #38381.

[2019-01-04 15:33] #30563 closed

[2019-01-04 15:37] stannynuytkens commented on #65817
Great! 😁

On Fri, 4 Jan 2019, 15:58 Prabhanjan S Koushik <notifications@github.com
wrote:

[2019-01-04 15:38] #57910 closed

[2019-01-04 15:39] alexr00 commented on #35643
I tried out `"terminal.integrated.confirmOnExit"` and it worked as expected. The issue mentioned where an extra process sticks around was fixed, so please let me know if you're seeing that still. Having a separate confirm on exit setting for tasks, or having a per task way to configure that is covered by #36845.

[2019-01-04 15:39] #35643 closed

[2019-01-04 15:41] misolori commented on #64434
@isidorn I wouldn't mind taking a first stab it, code pointers would be great.

I think my proposed changes should only happen when the sidebar is collapsed. For the quickpick validation, I know I've seen this in other views (@chrmarti correct me if I'm wrong).

The main motivation is for the example I showed above where I'm trying to work from a "minimal" mode and am hiding the explorer intention

[2019-01-04 15:43] w9jds commented on #29405
Apologies, didn't get notifications for this. You are not too late, I wrote a handful of things for this but I never got it to work as intended.

[2019-01-04 15:48] #12817 closed

[2019-01-04 15:52] alexvy86 commented on #13680
Well, the documentation says "most easily", not that it wouldn't work at all when keys have passphrases, and its suggestion of launching VS Code from a Git Bash prompt is only required for those who are using Git-for-Windows' SSH agent to manage their keys.

I can actually confirm that I use Windows' SSH agent (not the one that comes with Git for Windows), load my (password-protected) SSH key into

[2019-01-04 15:52] chrmarti commented on #64434
(We have validation for the input box, but not QuickPick. We could surface it for QuickPick too since much of the implementation is shared between the two.)

[2019-01-04 15:53] hzlmn commented on #12622
+1 ❤️

[2019-01-04 15:54] alexr00 commented on #43664
RE this:

It looks like the problem is that a line break that tsc is adding isn't staying added on Windows. [Here](https://github.com/Microsoft/vscode/issues/43664#issuecomment-422084484) it sounds like line breaks will be manually added with \r\n. If the line break intended by tsc is preserved, then the problem matcher should still work.

@Tyriar, am I understanding this correctly?

[2019-01-04 15:57] isidorn commented on #64434
@misolori agree, only when the sidebar is collapsed.
It would be great if you create a PR and than we can take it from there
Though please create the PR from [this branch](https://github.com/Microsoft/vscode/pull/65008), since it changes the whole explorer. Or alternativly wait for a week for us to merge in that branch to master.

Here's the code pointer
https://github.com/Microsoft/vscode/blob/e8

[2019-01-04 16:03] Tarik02 commented on #65753
Sometimes I see similar problem (but with random folders/files inside node_modules), closing vscode doesn't help, explorer shows unknown folder/file owner. Unmounting and then mounting volume helps. I think it's some ntfs bug.

[2019-01-04 16:03] #60300 closed

[2019-01-04 16:06] alexr00 commented on #46373
Supporting localized problem matchers is more of a feature than a bug.

[2019-01-04 16:14] GeraAlcantara commented on #13680
I confirm that opening VS Code via git bash will ask ssh key and in VS code will ask for your ssh passphrases in the terminal.

[2019-01-04 16:15] neothoms opened #66033 "French caracters are not correctly displayed on Internal Console"
- VSCode Version: 1.30.1
- OS Version: Windows 10

Steps to Reproduce:

1. Execute powershell code
 write-host "---- These are french characters : âà ç  éèë ïï  and they are not correctly displayed ----"

2. When executed we can see this result wich is completly wrong :
---- Theses are french characters : Ã¢Ã  Ã§  Ã©Ã¨Ã« Ã¯Ã¯  and they are not correctly displayed ----

Does this issue occur when a

[2019-01-04 16:18] aeschli commented on #63564
Updated commit hash for Colorsublime/Colorsublime-Themes to a commit that matches the contents of the themes that we originally copied in 2015,

DefinitelyTyped looks fine to me

The https://github.com/chriskempson/tomorrow-theme registration comes from the markdown extension. @mjbvz Can you verify it is still valid and correct?

[2019-01-04 16:19] aeschli commented on #63537
Please try with all extensions disabled.
If yo still see it, provide a sample code where this shows

[2019-01-04 16:22] brunoqs opened #66034 "vscode consumes a lot of swap memory"
I do not know why, but when I open my vscode, my swap memory reaches 200 to 500 mb. I do not know if this is a bug, but I think it's not something cool for a text editor to do

[2019-01-04 16:22] #66033 closed

[2019-01-04 16:22] egonelbre opened #66035 "Option to disable "Failed to save '...': The content on disk is newer." check"
I would like an option to disable dirty write checking:

My workflow does include dirty writes and having to go through the merging is annoying.

Example: keeping dirty state in an open file then switching git branch to save and commit (that file only), then switching back to the previous branch.

[2019-01-04 16:23] neothoms commented on #66033
I think it is a bug from Powershell extension

[2019-01-04 16:30] szul commented on #49712
@alexr00 I will dig this back up, and see if the error persists.

[2019-01-04 16:31] aeschli commented on #63407
Introduced by #34303

[2019-01-04 16:32] #63427 closed

[2019-01-04 16:33] seanpoulter commented on #39447
Thanks for following up @alexr00. If I remember correctly (but didn't put it in the ticket), this behaved differently on my Windows box.

You've suggested writing a command instead. Do you mean starting a command when the task finishes? There's mention of `postAction` as a hook to use in #7090 but the issue is still open and there are no public docs on https://code.visualstudio.com/docs/editor/tas

[2019-01-04 16:34] safield commented on #60851
No, not really.

I would recommend setting up a build system in Sublime and observing how it parses and jumps to errors in absence of any sort of plugin or dynamic code analysis.

But to go into details. (some of this behaviour is already present in some capacity in VSCode).

1. In tasks.json I can specify a task which runs a specific command.
2. In tasks.json, for previously mentioned task, I can

[2019-01-04 16:38] egamma commented on #66031
@wzup <kbd>Ctrl+Space</kbd> works for me.

Can you please try the recommendations described in this document to address the issue https://github.com/Microsoft/vscode/wiki/Keybinding-Issues#troubleshoot-mac-keybindings

[2019-01-04 16:44] TheColorRed commented on #11699
@alexr00 Won't that only fix the issue on windows? I haven't tested on Linux if this issue happens, but shouldn't all OS's be covered anyways?

[2019-01-04 16:49] egamma commented on #66024
@harishthakur04 have you checked that you are not behind a proxy?
This is the documentation for how access the marketplace when you are behind a proxy https://code.visualstudio.com/docs/setup/network

[2019-01-04 16:49] egamma commented on #66023
duplicate of #66024

[2019-01-04 16:49] #66023 closed

[2019-01-04 16:52] egamma commented on #66021
duplicate of #16891

[2019-01-04 16:52] #66021 closed

[2019-01-04 16:54] egamma commented on #66009
Please report issues in english.

[2019-01-04 16:54] #66009 closed

[2019-01-04 16:55] isidorn commented on #65988
Note to self:
`debugConfigurationManager` should `CompletionProviderRegistry.register` for `launch.json` and return `kind: snippet` for `CompletionItem`. One `CompletionItem` per each debug type that has a DebugConfigurationProvider. Title should be just `${adapter.label}`.
Code pointer https://github.com/Microsoft/vscode/blob/f7fa42107e8d37149410bcbe67a5cf4043390634/src/vs/workbench/parts/debug/e

[2019-01-04 16:55] #66012 closed

[2019-01-04 16:55] egamma commented on #66012
This is a great opportunity for an extension.

[2019-01-04 16:56] egamma commented on #66011
This looks like an issue with the Python extension, pls report the issue against this repository.

[2019-01-04 16:57] #66011 closed

[2019-01-04 16:58] #66016 closed

[2019-01-04 17:05] alexr00 commented on #39447
I haven't been able to find a ton of info about it, but you're using `explorer` to do the launch on Windows. I'm guessing `explorer` doesn't tie the new process to the one started by VS Code so we don't know how to clean it up.  I did some digging on `xdg-open`, and I can see that the browser process has a pointer back to the VS Code process.
![image](https://user-images.githubusercontent.com/3827

[2019-01-04 17:06] alexr00 commented on #49966
The issue here is the task ends and then it's processes are cleaned up. This includes the launched, or soon to be launched, app that displays the file. By design, tasks doesn't orphan processes. I can't think of an easy way to change this, and I'm not sure it's a good user experience to allow tasks to accumulate resources like this.

You could add a sleep to the end of your task so that it doesn't

[2019-01-04 17:19] harishthakur04 commented on #66024
Thanks for the help.I was behind the proxy then.Now its working properly.

[2019-01-04 17:20] zombie110year opened #66036 "[Feature Request] Add multiline description support in user snippets"
While creating a user snippet, the rule must be like this:

[code]

If I want to show a lot of description, I must write a huge string which includes many escape characters like this:

[code]

It maybe a good idea that `description` option receive a list value, like the `body`:

[code]

[2019-01-04 17:21] misolori opened #66037 "Issue reporter no longer showing related issues"
Issue Type: <b>Bug</b>

Unable to see the list of related issues under the title in the issue reporter:

<img width="700" alt="image" src="https://user-images.githubusercontent.com/35271042/50701258-10d6c380-1002-11e9-9640-ed2baac5e85e.png">

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:05:00.654Z)
OS version: Darwin x64 18.2.0

<details>
<summary>System In

[2019-01-04 17:22] egamma commented on #66006
@paysonTsung Your DefinitionProvider can control the selected range by returning a DefinitionLink, pls see https://github.com/Microsoft/vscode/blob/d657d0c1366237f7694f8a2ca6bc8ae6b1303023/src/vs/vscode.d.ts#L2241

[2019-01-04 17:22] #66006 closed

[2019-01-04 17:22] #66024 closed

[2019-01-04 17:24] kieferrm opened #66038 "Textarea in Webview loses caret/focus indication"
Issue Type: <b>Bug</b>

I encounter this regularly on Windows when using the GH PR extension.

1) Open a text editor
2) Open a PR overview page
3) Set the cursor to leave a comment (this usually shows the caret)
4) Switch to the text editor
5) Switch back to the PR overview page
6) Set  the cursor to leave a comment
-> No caret, the text insert position however is tracked correctly

VS Code versio

[2019-01-04 17:29] segevfiner opened #66039 "Remaining tweaks to Zsh completion script"
Those are some remaining tasks from #56670:
- [ ] The original Zsh completion script had different help strings, those were reverted to match more closely with the `--help` message of VS Code itself. Since those might be better help messages, we might want to use those instead both on the `--help` message and in the completion script. @Mellbourn @okapia
- [ ] `code`, like most commands, allows lon

[2019-01-04 17:33] RMacfarlane commented on #66037
Looking at the network requests in that window, they show as "Pending" for a while and then eventually return 502 Bad Gateway. @chrmarti Has anything about the duplicate candidates endpoint changed? I'm still using https://vscode-probot.westus.cloudapp.azure.com:7890/duplicate_candidates

[2019-01-04 17:40] qiangshi1 opened #66040 "Cannot change fonts"
Issue Type: <b>Bug</b>

As the title said，and my system is ubuntu16.04.

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:07:32.870Z)
OS version: Linux x64 4.13.0-36-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz (8 x 2000)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<

[2019-01-04 17:48] steinmetzdenver opened #66041 "VS Code not starting when offline after update"
Issue Type: <b>Bug</b>

After latest update, VS Code will not open when offline.  Running as administrator.  Verbose shows:
this.handler = ^new channel....

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:12:07.165Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-7100U CPU @ 2.

[2019-01-04 17:52] egamma commented on #66004
@sean-mcmanus the reporter states in this comment https://github.com/Microsoft/vscode-cpptools/issues/2980#issuecomment-451338777

Since it works fine for Python and not for C++, then I don't think it is a VS Code issue.

I've added some questions to the original issue that should help us to narrow things down.

[2019-01-04 17:53] Tiedye opened #66042 "Stage Selected Ranges not updating file"
Issue Type: <b>Bug</b>

1. Stage Selected Ranges, file will not update
2. Close and open diff to see the update

Note: I am using a workspace that has multiple projects in the same repo, likes so:

[code]

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:07:32.870Z)
OS version: Linux x64 4.19.0-041900-generic

<details>
<summary>System Info</summary>

|Item|Val

[2019-01-04 17:53] usernamehw commented on #66041
/duplicate of #7570

[2019-01-04 17:53] #66041 closed

[2019-01-04 17:57] roblourens commented on #65025
I see this for all smartStep frames

[2019-01-04 18:01] roblourens commented on #66018
This issue was moved to atom/language-php#346

[2019-01-04 18:01] #66018 closed

[2019-01-04 18:03] roblourens commented on #65511
Works now!

[2019-01-04 18:03] #65511 closed

[2019-01-04 18:04] egamma commented on #65995
I cannot reproduce this, please see the attached movie

![minimap](https://user-images.githubusercontent.com/172399/50703097-58397000-1053-11e9-808a-0e3f0d25a77c.gif)

[2019-01-04 18:07] 0xc0 opened #66043 "For Clojure, auto select identifiers allowed in language"
- VSCode Version: 1.30.1
- OS Version: macOS Mojave

Steps to Reproduce:

1. Clojure file: `(defn is-square? [x] (let [y (Math/sqrt x)] (= (- y (Math/floor y)) 0.0)))`
2. Put text cursor in or double click on `square`
3. `is-square?` should be highlighted, not just `square`

According to https://clojure.org/reference/reader, allowed characters within an identifier are `*+!-_'?<>=`

[2019-01-04 18:07] egamma commented on #65984
@Lotharyx this is the repository of Visual Studio Code and Visual Studio Code has no visual designer. I therefore suspect that you want to file this feature request against 'Visual Studio' and not 'Visual Studio Code'.

[2019-01-04 18:07] Tyriar commented on #66026
Duplicate #65949, will be fixed in the next build 😃

[2019-01-04 18:07] #66026 closed

[2019-01-04 18:08] Tyriar commented on #66015
Duplicate of #65949, will be fixed in the next build 😃

[2019-01-04 18:08] #66015 closed

[2019-01-04 18:11] egamma commented on #66043
@0xc0 this behaviour needs to be defined by the extension that provides Clojure support (I cannot infer which extension you are using from the information you have provided). Therefore please provide the issue against this extension.

[2019-01-04 18:11] #66043 closed

[2019-01-04 18:13] Tyriar commented on #43664
@alexr00 this comment gives some more details:

https://github.com/xtermjs/xterm.js/blob/f98572cf7173b2a78d762fe75c918d1a84690e3b/src/addons/winptyCompat/winptyCompat.ts#L22-L40

Basically conpty and winpty will always sent `\r\n` instead of just a `\r` for a wrapping line, which means xterm.js gets 0 wrapped lines. So the above is used to assume that any line that has a character in the final cel

[2019-01-04 18:15] Tyriar commented on #66040
What font are you trying to change?

[2019-01-04 18:15] Foxhoundn opened #66044 "Incorrect fontStyle applied when creating a theme extension"
- VSCode Version: Version 1.30.1 (1.30.1)
- OS Version: 10.14 (18A391)

I am not able to remove / overwrite "italic" style in the Theme I am working on. It's a brand new theme with 0 "fontStyle": "italic" rules, yet still most of the syntax is italic. What's bizarre is that it was working fine from the beginning but somewhere along the way it started acting strangely. Attached you can find screens

[2019-01-04 18:15] egamma commented on #65944
@3zzy as pointed out by @vincentvictoria please follow this guide https://github.com/Microsoft/vscode/wiki/Performance-Issues and provide additional information. Ideally we would like to a CPU profile when you experience the slow down.

Another option is to selectively disable extension and narrow down which extension is causing the slow down.

[2019-01-04 18:21] ronbravo commented on #15370
One interesting work around I found is that in VsCode's file browser, if you right click and create the file or directory you need (ex: right click -> create file -> .gitignore), it will show up. Not the best solution especially if things are nested but gives a quick and dirty way to do it.

[2019-01-04 18:22] egamma commented on #65930
@richtera

can you please clarify whether you refer to the 'Output' or 'Terminal' tab of the panel.

The Output channels do not support ANSI Code https://github.com/Microsoft/vscode/issues/571.
To handle ANSI Code the recommendation is to use the Terminal API and show your logging messages in the terminal.

[2019-01-04 18:23] fsitios commented on #65373
It happens the same with Typescript VSCode 3.2.2. It doesn't work after upgrading VSCode to 1.30.1
Any solution?.

Thanks!

[2019-01-04 18:34] roblourens commented on #65981
I still see it. Here are better steps.

- Comment out the null check
- Open the settings editor
- Resize the sidebar to make the settings editor as narrow as possible
- Then resize the sidebar back to make the settings editor wide
- Scroll down a bit
- See a random gap between the last visible setting and the next one

![image](https://user-images.githubusercontent.com/323878/50704376-015c7800-100

[2019-01-04 18:35] egamma commented on #65950
This is not a function that is provided by Visual Studio Code. I assume you are using an extension like https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer. Please file an issue with precise details about what doesn't work against the extension you are using.

[2019-01-04 18:35] #65950 closed

[2019-01-04 18:37] richtera commented on #65930
I am using the output tab and that is what I am seeing. If it were to just ignore the ansi codes that would be fine but it seems to have a partially broken implementation.

[2019-01-04 18:38] tanium-kdp opened #66045 "Symlink in `path` in workspace leads to strange behaviour"
Issue Type: <b>Bug</b>

When I realised that `.code-workspace` files are just `.json`, decided to save some time by generating one. The `path` in my single `folders` entry contained a symlink; the gutter indicators for changes relative to my local `git` repo did not show up at all:

$> mkdir -p my-code/foo
$> ln -s my-code my-symlinked-code
$> cd my-symlinked-code/foo
$> git init
$> touch blah.jso

[2019-01-04 18:40] egamma commented on #65945
Please provide more information about your workspace and about the search you are conducting.

Can you confirm that by 'Global search' you refer to this search support
![image](https://user-images.githubusercontent.com/172399/50704711-938a6d80-1058-11e9-9883-56494094be95.png)

To provide more information about the workspace please run `code --status` from a command line while VS Code is running an

[2019-01-04 18:42] octref commented on #65938
This seems to be working for me:

- I run the `npm: watch` task manually
- F5 skips `preLaunchTask` since it's exactly the same task

But If I run `npm run watch` or `yarn watch`, is it possible for VS Code to detect that as "running task manually" and skip the `preLaunchTask`?

[2019-01-04 18:42] egamma commented on #65930
Thanks for the clarification. Then this feature request is a duplicate of #571 and mentioned above the recommendation is to show the output in a terminal, there is API available to do so.

[2019-01-04 18:43] roblourens commented on #65163
Try adding this line to your launch config: `"console": "integratedTerminal"` and see what happens

[2019-01-04 18:44] #65946 closed

[2019-01-04 18:44] 0xc0 commented on #66043
@egamma I am not using any extensions other than the one shipped with VS Code. https://github.com/Microsoft/vscode/tree/master/extensions/clojure

[2019-01-04 18:45] Tyriar commented on #66032
You can hit ctrl+a before you run it to do this, you could also build a command to do it as part of the command via an extension.

[2019-01-04 18:45] #66032 closed

[2019-01-04 18:46] WSLUser opened #66046 "Support filesystem paths using ssh://"
- VSCode Version: 1.31 Insiders
- OS Version: Win 7

Steps to Reproduce:

1. Mount a workspace via ssh using the [SSHFS](https://github.com/SchoofsKelvin/vscode-sshfs) extension.
2. Attempt to initialize and watch it do nothing.

Does this issue occur when all extensions are disabled?:

When all other extensions are disabled this is still an issue.

I believe the issue is that the SSHFS extension

[2019-01-04 18:46] Tyriar commented on #66017
I think this is related to ts, not the watcher

[2019-01-04 18:49] tanium-kdp commented on #66045
I *think* that this is a dupe of #60010

[2019-01-04 18:53] egamma commented on #66046
Please file the issue against the SSH extension.

[2019-01-04 18:54] luabud opened #66047 "Clicking start debugging multiple times launches multiple debug sessions, confusing behavior"
During a user study participants would start new debugging sessions each time they wanted to debug, which resulted in multiple sessions being launched without their noticing. This ended up slowing them down and showing exceptions on irrelevant lines of code. When asked to stop the debugger, they assumed the stop button wasn't working since they had to do it multiple times to stop all the sessions,

[2019-01-04 18:56] octref commented on #32200
I guess this comes as part of property value completion. I think the best solution is to use https://github.com/csstree/csstree to understand the `syntax` for each CSS property and offer valid completions.

The current problem:

- If you are writing `position:` and chose `relative`, then we can safely close the line with a `;`
- But imagine if you are writing `flex-flow:` and chose `row`. You migh

[2019-01-04 18:58] FrancoCab10 opened #66048 "Broken PHP syntax inside <script> tags"
**This happened after the 1.30 update, still happening in 1.30.1.**
As the title says, the syntax highlight breaks when using \<\?php \?\> or \<\?= \?\> tags inside a <script> html tag. Screenshot bellow.

**VSCode:**
Version: 1.30.1 (system setup)
Commit: dea8705087adb1b5e5ae1d9123278e178656186a
Date: 2018-12-18T18:12:07.165Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
OS

[2019-01-04 18:59] octref commented on #64623
Changing tags to `as-designed` then so no verification on it.

[2019-01-04 18:59] FranciscoHur commented on #7570
I can not open visual studio code on windows 10 1809 offline:

code --verbose
dns.js:246
    this._handle = new ChannelWrap();
                   ^

Error: EFILE
    at new Resolver (dns.js:246:20)
    at dns.js:377:25
    at dns.js:431:3
    at NativeModule.compile (bootstrap_node.js:606:7)
    at NativeModule.require (bootstrap_node.js:550:18)
    at net.js:45:13
    at net.js:1730:3
    at Nati

[2019-01-04 18:59] egamma commented on #65966
@wanglzuz please file an issue against the repository of the extension https://github.com/editorconfig/editorconfig-vscode. From this issue report you can link to this issue, but I suggest to provide more steps or include a screen recording. I'll close this issue.

[2019-01-04 18:59] #65966 closed

[2019-01-04 19:01] mjbvz commented on #66028
Please file this issueagainst the python extension

[2019-01-04 19:01] #66028 closed

[2019-01-04 19:02] octref commented on #42890
@kesane-msft

- Which

[2019-01-04 19:02] gianlucaborello commented on #65743
Same problem on OSX and 1.31.0-insider. Since it affects both the search results and the command palette, it can affect one's productivity significantly.

[2019-01-04 19:02] VIMGAS opened #66049 "Bash on windows crashs on integrated terminal"
- VSCode Version:
1.31.0-insider
bae6c84d46cd85c911db7e166a74e698a54c8644
x64

- OS Version: Windows 10 1809

Steps to Reproduce:

1. Configured bash to be vscode's integrated terminal
![image](https://user-images.githubusercontent.com/20145874/50705436-f58ba880-1041-11e9-8dc1-6ec20469855f.png)

2. Tried to open the integrated terminal
![image](https://user-images.githubusercontent.com/20145874/50

[2019-01-04 19:05] egamma commented on #65982
@lvegerano I cannot reproduce this with some themes I've tried. Can you be more specific and name a theme where you observed the slow down.

Please see also https://github.com/Microsoft/vscode/wiki/Performance-Issues

[2019-01-04 19:08] egamma commented on #65952
@jamesray1 can you please illustrate the desired feature with some screen shots.

[2019-01-04 19:10] octref commented on #42890
@kesane-msft Which I would refuse. What do I call it? `Vetur Vue`?

Another example: Searching for "Golang"

![image](https://user-images.githubusercontent.com/4033249/50705744-a2e5c880-1010-11e9-941e-5a1d68cc6848.png)

What should [Go extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.Go) do? Renaming it to Golang? After which the query `Go` wouldn't return it as top result?

[2019-01-04 19:11] richtera commented on #65930
@egamma this is not a duplicate because the output seems to attempt to support ansi and doesn't work. I would rather if it just output the text as is if it can't support full ansi. As it is now it truncates output if there are ansi sequences within. Maybe there is a cleanup expression which is too greedy.

[2019-01-04 19:11] egamma commented on #66043
@0xc0 the default behaviour in VS Code is to highlight the word. To make this language aware requires an extension that understands Clojure.

There are several Clojure extensions in the marketplace and I suggest that you try them out.

[2019-01-04 19:13] rchiodo opened #66050 "Audio is not supported in webview"
I realize this is an unsupported feature as described in #54097.

Is this something an extension can rectify by shipping the appropriate codecs?

Our extension has this issue here:
https://github.com/Microsoft/vscode-python/issues/3456

Not supporting audio gives us a missing feature as compared to using straight up jupyter.

[2019-01-04 19:17] octref commented on #65990
Although on macOS Cmd+O can also change workspace folder...
I would say when one runs it and choose a workspace file [s]he is never expecting to open that single file.

[2019-01-04 19:18] egamma commented on #65972
This looks like a problem with your python code. Given the information you provided it is not possible narrow this down further.

[2019-01-04 19:20] hokein commented on #65956
I encountered this issue (VSCode 1.30.1 ) as well:

1. The C++ LSP server (clangd) sends the hover content `Declared in function main\n\nstd::vector<std::string> s` to vscode
2. The hover dialog renders the content like below, the `<>` around `std::string` is missing

![image](https://user-images.githubusercontent.com/2557445/50706082-19a8b300-105d-11e9-8397-c32442a0548d.png)

[2019-01-04 19:20] agentcooper opened #66051 "API: Prevent the webview tab from being replaced"
I didn't find any way to prevent the webview tab from being replaced.

Context: I'm developing an extension with a preview pane that you can interact with. The typical workflow is: open a file, interact with a preview, open a different file. If the user tries to open a different file while the preview is focused, the preview tab will be replaced.

I propose a new option on `WebviewPanelOptions`:

[2019-01-04 19:23] roblourens commented on #66048
Thanks for the detailed issue, this is actually fixed in Insiders - https://github.com/Microsoft/vscode/issues/65649

[2019-01-04 19:23] #66048 closed

[2019-01-04 19:23] Tyriar commented on #65998
I'm having trouble getting a VM running, does this fix it?

[code]

[2019-01-04 19:24] #65759 closed

[2019-01-04 19:24] eamodio commented on #42890
Maybe there could be a keyword (maybe the first one?), that is ranked as if it was part of the title. So that way GitLens could have _git_, Vetur could have _vue_, Go could have _golang_, etc.

[2019-01-04 19:32] egamma commented on #65874
@76784 I agree with you and showing both numbers is on the migration path towards only showing a single number.

As I mentioned above, please provide this feedback to the market place team using the email address I have provided.

[2019-01-04 19:35] gregvanl opened #66052 "Disable or remove "Open Changes" button if no changes to the file"
- VSCode Version: 1.30.1
- OS Version: Windows

Steps to Reproduce:

1. Open a file without source control changes.
2. The "Open Changes" button is displayed and enabled on the editor title bar
3. Click the "Open Changes" button and nothing happens

Should we disable or remove the button if it will NOP?

[2019-01-04 19:36] fabiospampinato commented on #42890
This sounds too specific to me, IMHO the solution is transitioning from full-text search to a real search engine. Readmes, titles, descriptions and keywords should be properly indexed and the search query should be properly parsed too.

[2019-01-04 19:38] o0rebelious0o commented on #65693
But it won't fix the problem. As I mentioned, if I select a long subset of changes, not all, it still goes through the same code path and gives the same error.  If `git checkout -q --` gets called there, it will incorrectly revert all files, not just the ones selected.

[2019-01-04 19:38] sean-mcmanus commented on #65998
@Tyriar I ran that command, but it said "libdbus-1-3 is already the newest version" and the same failure occurs afterwards.

[2019-01-04 19:41] DarthSpock commented on #66046
Per https://github.com/SchoofsKelvin/vscode-sshfs/issues/31 VSCode needs to take action because there's nothing they can do about it.

[2019-01-04 19:43] uday31in commented on #49712
Having an issue with 1.30.1 version - issue started since last update.

PS C:\temp> Get-ExecutionPolicy
RemoteSigned

PS C:\temp> Get-ExecutionPolicy -List

        Scope ExecutionPolicy
        ----- ---------------
MachinePolicy       Undefined
   UserPolicy       Undefined
      Process    RemoteSigned
  CurrentUser       Undefined
 **LocalMachine    Unrestricted**

[2019-01-04 19:44] mjbvz commented on #66050
Duplicate of #54097

We don't ship with ffmpeg so many common audio and video formats are not supported

[2019-01-04 19:44] #66050 closed

[2019-01-04 19:46] DarthSpock commented on #66046
Since builtin git is managed by VS Code, this issue is for the git extension to be updated.

[2019-01-04 19:49] MimaHD22 commented on #65972
ok hut can i even fix this?

Am 04.01.2019 20:20 schrieb "Erich Gamma" <notifications@github.com>:

This looks like a problem with your python code. Given the information you
provided it is not possible narrow this down further.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/Microsoft/vscode/issues/65972#issu

[2019-01-04 19:53] octref opened #66053 "SVG language support"
Currently, we have no SVG support:

- In HTML, SVG tags don't receive auto completion
- In CSS, SVG attributes don't receive auto completion
- Syntax highlighting are problematic for both SVG tags/attributes in HTML/CSS
- Emmet do not get SVG completions

However, with custom tag/property support in HTML/CSS, we should be able to trivially write a SVG package that describes the set of tags/attribu

[2019-01-04 19:54] sean-mcmanus commented on #65998
@Tyriar Strangely, VS Code is working now when I run "code-insiders" from the command line (I don't understand why it would be different), but whenever I launch the app from the left-side task launcher it fails. This is what is shows in the developer tools:

![image](https://user-images.githubusercontent.com/19859882/50707591-28b84280-1016-11e9-8af0-72d7a4de2ee8.png)

The same failure occurs with

[2019-01-04 19:55] rchiodo commented on #66050
@mjbvz I realize that you don't support this. I would like to know if there is a way for us to add that support in our extension.

[2019-01-04 20:04] qrqhuang opened #66054 "Can not binding keymap with ctrl+shift+u"
- VSCode Version: 1.30.1
- OS Version: ubuntu 18.04

Steps to Reproduce:

1. File ->  Preferences -> Keyboard Shortcuts
2. choose a Command && double click
3. Press  `ctrl+shift+u` , but nothing works.
    however, such as `ctrl+shift+i` works fine.

Does this issue occur when all extensions are disabled?: Yes/No
YES

[2019-01-04 20:17] qrqhuang commented on #66054
just find it may be OS occupied this key.

(ctrlshiftu-does-not-work-on-kubuntu-18-04)[https://askubuntu.com/questions/1083126/ctrlshiftu-does-not-work-on-kubuntu-18-04]

[2019-01-04 20:18] #66054 closed

[2019-01-04 20:19] scarolan opened #66055 "Default line ending for shell scripts should be LF, not CRLF"
This is highly annoying...I create a shell script in vscode on one machine, then try to clone the repo and edit on a freshly installed vscode on another machine.  Guess what - it switches my line ending to CRLF and breaks all shell scripts.

Please set the default to LF for bash scripts.  For sanity's sake.

[2019-01-04 20:22] leesjensen commented on #65920
@isidorn Maybe I don't understand your response, but the scenario defined by this report does not have two threads stopped. At least not by the user doing the debugging. The user is debugging a single thread and the debugging environment is flashing (temporarily) to another thread. Very annoying. Pretty much like trying to read a web page and every time you read the next sentence it flips to some

[2019-01-04 20:42] eamodio commented on #42890
@fabiospampinato While I don't disagree -- I was just trying to offer an alternative that would hopefully be easy to implement but improves things somewhat and therefore likely to happen 😉

[2019-01-04 20:49] sean-mcmanus commented on #66004
Thanks, your follow up questions sound good to me.

[2019-01-04 20:53] mjbvz commented on #66038
I believe this falls under #48604

The PR extension does not use `retainContextWhileHidden` but they could implement a custom solution using webview state. For webviews that use `retainContextWhileHidden` , VS Code could track which element is focused and restore the focus to it

[2019-01-04 20:54] #66038 closed

[2019-01-04 21:05] ghena commented on #63305
Hi, same problem, affected after last update.
spawn sC:\Program Files\Microsoft VS Code\resources\app\node_modules.asar.unpacked\vscode-ripgrep\bin\rg.exe

How to fix it ?

[2019-01-04 21:07] chrmarti commented on #66037
It has started working again after restarting the similarity container. (It looked like a lot of old requests were stuck either in the Traefik container or the similarity container. Some very old request were listed as complete in the Traefik logs after the similarity container restarted.)

[2019-01-04 21:07] jamesray1 commented on #49966
Thanks, will come back to this issue if I need to use the same functionality again.

[2019-01-04 21:08] Foxhoundn commented on #66044
Ok, let this be a lesson for me (and for everyone else), when using Custom CSS and JS loader, the injected CSS is obviously not removed / flushed when the extension is disabled - hence the italic style was set by a custom .css file I used to have 2 fonts applied at the same time - Fira Code for ligatures and Operator Mono for usual use.

On a side note, it would be great if we could specify "fontF

[2019-01-04 21:08] #66044 closed

[2019-01-04 21:49] jamesray1 commented on #65952
`// Highlight inline code like this Foo and press a keyboard shortcut`

This then becomes:
[code]
Example of a code block:
// ```rust
// struct Foo {
//     bar: Bar,
//     baz: Baz,
// }
// ```
This is more useful for Rust doc comments, which have HTML formatting. For block comments you could type a block comment without the backticks above, then highlight and press a keyboard shortcut to toggle

[2019-01-04 21:53] d3r3kk opened #66056 "Task property "presentation": {"reveal": "never"} is not working when Python extension is active"
@jcrmatos commented on [Thu Jan 03 2019](https://github.com/Microsoft/vscode-python/issues/3852)

## Environment data

- VS Code version: 1.30.1
- Extension version (available under the Extensions sidebar): 2018.12.1
- OS and version: Windows 7 Pro SP1 + all updates
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.1 (WinPython)
- Type of virtual environment used (N/A | venv | vi

[2019-01-04 21:54] d3r3kk commented on #66056
Is indeed the same as #65179

[2019-01-04 21:54] #66056 closed

[2019-01-04 21:55] VErwin opened #66057 "Expletive found (Geopolitical)"
Issue Type: <b>Bug</b>

Extensions Marketplace > Search "emulator"

Android Emulator Launcher 0.9.0 > Launch Android Emulators directly from VS Code > 343max

Under "Features"

Not sure if  *-shit-* is an intential typo.   While amusing, it doesn't confirm whether I should press "-shift-".

PS - why isn't this part of an automated "poli-check" scan.  It should have caught this.  Update queries to

[2019-01-04 21:55] VErwin opened #66058 "Expletive found (Geopolitical)"
Issue Type: <b>Bug</b>

Extensions Marketplace > Search "emulator"

Android Emulator Launcher 0.9.0 > Launch Android Emulators directly from VS Code > 343max

Under "Features"

Not sure if  *-shit-* is an intential typo.   While amusing, it doesn't confirm whether I should press "-shift-".

PS - why isn't this part of an automated "poli-check" scan.  It should have caught this.  Update queries to

[2019-01-04 21:59] mjbvz opened #66059 "Progress not showing during resolveRenameLocation"
Issue Type: <b>Bug</b>

**Repo**
1. In VS Code code base
1. Open a ts file under `./src/` for the first time
1. Try renaming an element. This should take a while to complete

**Bug**
No progress indicator shown. The root cause is that `resolveRenameLocation` does not use the progress api

VS Code version: Code - Insiders 1.31.0-insider (bae6c84d46cd85c911db7e166a74e698a54c8644, 2019-01-04T06:14:03

[2019-01-04 22:13] mjbvz opened #66060 "Cursor moves should cancel renames"
Issue Type: <b>Bug</b>

**Repo**
1. In VS Code code base
1. Open a ts file under `./src/` for the first time
1. Trigger rename on an element before ts has initilized
1. Then move the cursor while the progress indicator for rename is still showing

**Bug**
Once TS finished, the rename input box shows up at the original location

We should cancel the rename operation when the cursor is moved

VS Cod

[2019-01-04 22:18] mjbvz commented on #66060
Another case:

1. In VS Code code base
1. Open a ts file under `./src/` for the first time
1. Trigger rename on an element before ts has initilized
1. Switch files

**Bug**
Now renaming in new file!

[2019-01-04 22:35] EricJizbaMSFT commented on #63874
@alexr00 I'm still seeing this
![screen shot 2019-01-04 at 2 33 52 pm](https://user-images.githubusercontent.com/11282622/50714527-ff0b1580-102d-11e9-8ac5-a13be3791829.png)

VS Code version: Code - Insiders 1.31.0-insider (bae6c84d46cd85c911db7e166a74e698a54c8644, 2019-01-04T06:14:03.787Z)
OS version: Darwin x64 18.2.0

Similar to another issue, you can use this to repro: https://github.com/EricJi

[2019-01-04 22:37] mjbvz commented on #66057
The readme content comes from that extension. Please file the issue against them

[2019-01-04 22:37] #66057 closed

[2019-01-04 22:38] mjbvz commented on #66058
Duplicate of #66057

[2019-01-04 22:38] #66058 closed

[2019-01-04 22:44] qwertie commented on #61876
I can't run VSCode in CentOS 7.2, but the error message is different:

    $ /usr/share/code/code
    [19252:0104/153150.614949:FATAL:nss_util.cc(632)] NSS_VersionCheck("3.26") failed. NSS >= 3.26 is required. Please upgrade to the latest NSS, and if you still get this error, contact your distribution maintainer.
    Aborted (core dumped)

Rumor has it that I'm [not supposed to even attempt to upg

[2019-01-04 22:48] johngrabner commented on #65742
removed line "localRoot": "${workspaceFolder}"
while using
Version: 1.30.1 (user setup)
Commit: dea8705087adb1b5e5ae1d9123278e178656186a
Date: 2018-12-18T18:12:07.165Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
OS: Windows_NT x64 10.0.17134

and error does not occur.

[2019-01-04 23:07] #66059 closed

[2019-01-04 23:07] #66060 closed

[2019-01-04 23:16] Thomas1664 opened #66062 "Errors in deleted php files are still displayed after file deleted"
If you delete a php-file with Errors in it, they will be displayed at the error-window and the foldername becomes red
- VSCode Version: 1.30
- OS Version: Windows 10 Version 1809

Steps to Reproduce:

1. Create a php-file
2. create an error in it
3. delete the file

Does this issue occur when all extensions are disabled?: No
Used Extensions: PHP Extension Pack V. 1.0.2 by Felix Becker

[2019-01-04 23:19] VErwin commented on #66057
Hi Matt,  I will file the specific bug against the extension - but that doesn't really answer the question as to why 'poli-check' didn't find it.   Seems like there is a larger bug where the system could be manipulated by adding special characters in front of flagged content.  This could be exploited.

Is there somewhere I can but a bug against the internal poli-check language tool?

[2019-01-04 23:30] VErwin opened #66063 "Extension bug reporter not working"
Issue Type: <b>Bug</b>

Emulator bug reporter is not auto-populating extensions.  Does not let you type in the extension name manually; instead shows blank dropdown.

Instructions to replicate:

Help > Report Issue > Bug Report

File on:  An Extension

Extension:  **BUG**

expected - drop down auto-populate of extensions OR manual textbox

actual - blank drop down which does not auto-populator AND

[2019-01-04 23:37] mjbvz commented on #66057
This content is downloaded from the marketplace and controlled by the extension . We don't run policheck on it because it is not part of VS Code, it's more like a webpage that we display in the editor

[2019-01-04 23:42] def14nt opened #66064 "Path aliases not working as they should be"
- VSCode Version: 1.30.1
- OS Version: `uname -a` yields `Linux lizard 4.12.14-lp150.12.28-default #1 SMP Mon Dec 3 16:46:15 UTC 201
8 (b91289f) x86_64 x86_64 x86_64 GNU/Linux`

Steps to Reproduce:

1. Make a `tsconfig.json` in the base dir of your project, then create a path mapping.
2. Use the path mapping.

Does this issue occur when all extensions are disabled?: Yes

Here's a sample of my code