[2018-03-28 16:48] Tyriar commented on #46761
Opening to PRs, this will involve adding 2 new commands "terminal.integrated.selectToNextLine`/`selectToPreviousLine` and handling it within `TerminalCommandTracker`.

[2018-03-28 16:50] imdadahad commented on #46718
This is related to the Symbol search option (https://code.visualstudio.com/docs/editor/editingevolved#_open-symbol-by-name), not the find in all files as you've shown above.

1.

![image](https://user-images.githubusercontent.com/5855115/38043982-6137453c-32b0-11e8-9895-c33f65c27cad.png)

2.

![image](https://user-images.githubusercontent.com/5855115/38043989-690ff59c-32b0-11e8-8917-11e9ff4f9435.p

[2018-03-28 16:52] Tyriar commented on #44273
@troplin it looks like there are options though when launching from the dock https://superuser.com/a/271697

That's interesting, could you take a performance timeline via devtools to reveal what functions are taking the most time? (Help > Toggle Developer Tools, Performance, hit the circle record button).

[2018-03-28 16:53] roblourens commented on #46718
Those settings don't impact symbol search. Not sure whether symbol search is supposed to include node_modules stuff

[2018-03-28 16:54] Tyriar commented on #46222
@pavilion hmm, seems to work fine for me. Could you paste in your settings.json file and and let us know what your keyboard layout is?

[2018-03-28 16:54] #46786 closed

[2018-03-28 16:54] isidorn opened #46867 "Cache debug viewlet actions"
Currently they get created every time a viewlet gets shown

[2018-03-28 16:54] isidorn commented on #45033
@bpasero yes that is because I am not caching my debug actions which I plan to tackle as part of this debt item https://github.com/Microsoft/vscode/issues/46867. However this is not related to the main issue thus closing this one

[2018-03-28 16:54] #45033 closed

[2018-03-28 16:56] imdadahad commented on #46718
Oh really, would've thought anything that included `node_modules` would raise alarm bells given that indexing that folder is super slow. It would explain why it's noticeably slower to search for a symbol compared to Sublime.

[2018-03-28 17:19] bpasero commented on #23350
Merging into https://github.com/Microsoft/vscode/issues/46431

[2018-03-28 17:19] #23350 closed

[2018-03-28 17:19] isidorn commented on #46014
The issue is [here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/files/common/explorerModel.ts#L121)

Namely my check if something is a nonexistent root requires that it is a directory and that it is not yer resolved. Which is wrong it should be nonexistent if it is a root and an error happened
Not something I want to change in endgame -> april

[2018-03-28 17:22] Ed-Yang opened #46868 "'DebuggerBuffer' object has no attribute 'readable'"
- VSCode Version: Version 1.21.1 (1.21.1)
- OS Version: macOs High Sierra 10.13.3

Steps to Reproduce:

While using  io.TextIOWrappe with sys.stdout, it did not work in vscode debug mode, but run
well in normal execution mode.

CODE
[code]

DEBUG CONSOLE
[code]
TERMINAL
[code]

[2018-03-28 17:27] svipben commented on #46129
@bpasero thank you very much!

[2018-03-28 17:28] RMacfarlane opened #46869 "MacOS - File saved when "Don't save" is selected via keyboard"
Issue Type: <b>Bug</b>

1. Open a file and modify it
2. Cmd + W to close the file
3. Dialog opens, "Don't save" is highlighted by default. Press enter

Expected behavior: File isn't saved
Actual behavior: File is saved

![saved_file](https://user-images.githubusercontent.com/3672607/38045695-623d7cd2-3272-11e8-9262-31d9fa94c688.gif)

This happens both in latest insiders and in stable. It doesn't r

[2018-03-28 17:28] svipben commented on #46732
@aeschli Thank you very much, I guess it can be closed?

[2018-03-28 17:30] Tyriar commented on #45569
Ok, I guess the option is then inside the deb/rpm post install scripts to check if vscode is running (`ps axco command | grep code`?), check the version inside package.json is compatible and then run something like `code --notify-update` to inform the windows.

[2018-03-28 17:34] Luberen commented on #45520
@bitcrazed - I can't run chcp.exe in the shell.(`Error`: "chcp.exe" is not recognized as an internal or external command, operable program or batch file)

- I'm using Cmd.
- I'm using Windows 10 16299.309.
- Target platform is Windows
- The problem occurs only in 'Output' window of VSCode and it doesn't occur in Cmd.

[2018-03-28 17:35] isidorn opened #46870 "Unresolved variables on debug start should be modal errors"
Have the following launch.json and start debugging without an open file
The error should be modal, not a notificaiton

[code]

[2018-03-28 17:35] isidorn commented on #44411
Created https://github.com/Microsoft/vscode/issues/46870

[2018-03-28 17:36] isidorn commented on #46686
Unfortunetely did not have time to look deeper into this one. Pushing out to april since it feels like a corner case.
@bpasero if you have time tomorrow maybe give it a look, thanks

[2018-03-28 17:38] leoseccia commented on #46829
@roblourens - anyway to override that one line would be great... I was not sure about inspect either. Maybe hooking on a toString() method if it exists would work better. _I think_ that is the way it works in .NET + VisualStudio

[2018-03-28 17:38] Tyriar commented on #44642
@richardfickling seems to work as expected in tmux (mac I'm presuming?), I could do both without issue in Insiders https://code.visualstudio.com/insiders

[2018-03-28 17:40] Tyriar commented on #45940
I removed the keybinding, selection in PS now works with the defaults.

[2018-03-28 17:41] ramya-rao-a commented on #46852
@jrieken Even though we have the `onUnexpectedExternalError` there to handle the errors from the promise, https://github.com/Microsoft/vscode/blob/e754b2f54417796e0457a4a938556db9b5e6e16d/src/vs/base/common/errors.ts#L13 still gets called. Any idea why?

Adding a `if (!error.error && !error.exception) return;` at https://github.com/Microsoft/vscode/blob/e754b2f54417796e0457a4a938556db9b5e6e16d/src

[2018-03-28 17:41] svipben commented on #46804
@usernamehw I believe this should assign only to one side, though it can support array in `position` to apply for more sides.

[code]

[2018-03-28 17:47] bpasero commented on #46129
@svipben yes I did that but this change will only go live once we have released

[2018-03-28 17:48] jkcclemens commented on #46253
Hm, interesting. It persisted across restarts of VS Code, but at some point the machine itself had a reboot, and it appears to work normally again.

Must've been a fluke somewhere! Sorry about that.

[2018-03-28 17:48] #46253 closed

[2018-03-28 17:49] bpasero commented on #45569
@Tyriar as far as I know we use a mutex on windows to signal that Code is running, can't you do something like that for Linux too?

[2018-03-28 17:51] gushuro commented on #46747
I understand that, and it makes sense. If someone wants to check different subgroups of options, it becomes much easier.
But when having all the items checked by default, I find the behaviour odd. The flow I picture is:
1. I run a command that prompts me with a multi quickpick list, with all the items checked
2. I only want the one thats called `hello world`, so I start typing until it is the only

[2018-03-28 17:52] bpasero commented on #46686
@isidorn its imho fine to push out as it is not a regression as far as I know.

[2018-03-28 17:57] #46787 closed

[2018-03-28 17:58] #46595 closed

[2018-03-28 17:58] roblourens commented on #46784
Is there a difference between the debugger and the editor api on whether columns are 1-indexed or 0-indexed? Do we need to + 1 every column on a bp set via the breakpoint API?

[2018-03-28 18:02] richardfickling commented on #44642
When i alt-click in tmux (insiders Version 1.22.0-insider (1.22.0-insider), mac), it still scrolls. See https://imgur.com/a/IztJn (I clicked on "require" and "function"). Is there anything I can add to help reproduce?

[2018-03-28 18:03] garyking commented on #46152
What about a middle ground, where multiple Enters in a row would act as a single undo step?

[2018-03-28 18:06] eiva commented on #10121
Sorry if I wrong, but there some kind of support for multiple windows: https://www.npmjs.com/package/electron-window-manager

[2018-03-28 18:09] ramya-rao-a commented on #46511
I have submitted a PR upstream to fix this, but it is unlikely that it will make it in time for the March release though. Pushing this bug to the next milestone

[2018-03-28 18:11] roblourens opened #46871 "Git shows change on line with emoji"
Related to https://github.com/Microsoft/vscode/issues/21146 ?

There is a PC emoji on this line, and it now always shows a change decorator. Works in 1.21. https://github.com/Microsoft/vscode-chrome-debug/blob/master/src/chromeDebugAdapter.ts#L28

I have autoGuessEncoding disabled. When I do enable it, then that one character causes it to interpret the file as Windows-1252, and it shows other char

[2018-03-28 18:13] komali2 opened #46872 "zenMode.centerLayout does nothing"
Issue Type: <b>Bug</b>

In linux, on latest stable release, change "user settings" "zenMode.centerLayout" to `false`. Close all open editors, open a single file/editor. See file in the middle of your screen. Close vsCode, open again, see same situation. Try changing to `true` just in case, see same situation.

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46

[2018-03-28 18:15] auchenberg commented on #46432
User re-installed and stuff works. Closing for now.

[2018-03-28 18:15] #46432 closed

[2018-03-28 18:20] andreyorst commented on #28215
@ryanflorence well, the main idea of any modern autocompletion system is fuzziness. Thats is, you don't need to scroll through list most of the time. Let me demonstrate this:
![fuzzy](https://user-images.githubusercontent.com/19470159/38047764-25a2a4fa-32cc-11e8-82f9-1c1e8fdabdc7.gif)
At first I typed `sii` wich gave me **s**ome_funct**i**on_w**i**th_name_that_is_not_shorter()
And then I type `sul

[2018-03-28 18:26] roblourens commented on #46784
Added a workaround for March to keep the adapter from breaking in this case

[2018-03-28 18:27] jtleaming opened #46873 "Omnisharp unable to load project"
- VSCode Version: 1.21.1 79b44aa704ce542d8ca4a3cc44cfca566e7720f1 x64
- OS Version: Windows 10

Steps to Reproduce:

1. Open up C# project
2. Error message appears on bottom of screen
3. Open output window
4. See this error message

Does this issue occur when all extensions are disabled?: Yes/No
No. Enabling the C# extension does cause an error though.

![](https://media.giphy.com/media/1rSq07V3La

[2018-03-28 18:29] jtleaming commented on #46873
<iframe src="https://giphy.com/embed/1rSq07V3LafCy9Ud2G" width="480" height="258" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/1rSq07V3LafCy9Ud2G">via GIPHY</a></p>

[2018-03-28 18:29] wkjid10t opened #46874 "Centered layout drag to resize mouseover obstructing open file tab."
Issue Type: <b>Bug</b>

1) Enable/Toggle centered layout.
2) Open at least 1 document so that there is a tab on top open
3) Resize the centered layout until the "edge line" of the layout is inline with the center of the file name tab.
4) Move mouse over to the file name tab.
5) See that the mouse cursor icon changes when in line with the centered layout "edge line".
6) Clicking will enable the res

[2018-03-28 18:30] usernamehw commented on #46804
So, different size/style/position/color would look like that?
[code]

[2018-03-28 18:33] bsvipas commented on #46804
@usernamehw No, I see no point to use different border styles and colors for different positions.

[2018-03-28 18:37] ramya-rao-a commented on #46511
There are 2 issues here.

- The child of `<div class="l-layout">` should have the class `l-layout__container container` and not `container__container container`. Upstream Issue: https://github.com/emmetio/html-transform/issues/12
- The inner most element should have the class `l-layout__col l-layout__col_some_modif_name col-xs-12` and not `col-xs-12__col col-xs-12__col_some col-xs-12__col_modif co

[2018-03-28 18:41] troplin commented on #44273
This is with `--disable-gpu`.
It's not exactly 100% but close. But as I said, it's not the fastest machine.
![bildschirmfoto 2018-03-28 um 20 36 11](https://user-images.githubusercontent.com/13793075/38049157-b9329838-32c7-11e8-946e-4b960093d729.png)
Or do you need a different view?

[2018-03-28 18:44] auchenberg commented on #46209
This issue was moved to Microsoft/vscode-atom-keybindings#49

[2018-03-28 18:44] #46209 closed

[2018-03-28 18:45] troplin commented on #44273
One thing that I noticed in the developer tools:
If I increase the size of the middle part (flame graph?) beyond a certain threshold, the content disappears, just like in the integrated terminal.

[2018-03-28 18:55] alexandrudima commented on #46222
@pavilion This also works fine for me when I use the following in `keybindings.json`:

[code]

[2018-03-28 18:55] dbaeumer commented on #46691
@twajr these exception don't explain why the extension host should crash and they are all generated by extensions. In the description you said it occurs even if all extensions are disabled. Is this true? If not could you try to find out which one causes the crash.

[2018-03-28 18:58] #46732 closed

[2018-03-28 18:59] #45921 closed

[2018-03-28 19:00] dbaeumer commented on #46667
This actually would need a preExecute hook since the extension providing the bake task would need to change the executed command based on the set properties.

[2018-03-28 19:05] aeschli commented on #46804
I also would suggest to keep things simple and support a fixed set of border styles with single colour and width.

[2018-03-28 19:06] dbaeumer commented on #46709
Here is what I fixed:

- if escaping is requested I escape `"` and `'` as well.
- I will not do anything special for cases where a string contains `"` or `'` and weak or strong quoting (including default) is requested. Reason being is that this can not be supported on all shell in all combinations and it will be hard to explain when we do something magically and when not. If users want to have suc

[2018-03-28 19:11] dbaeumer commented on #46709
To verify:

[code]

Should print `'Hello Works'`

[2018-03-28 19:14] #46709 closed

[2018-03-28 19:16] dbaeumer commented on #46873
I can not read the message in the screen cast. It is simply to little.

Since this is related to a C# project I am pretty sure that the error is related to the C# extension. Can you please report the error there (https://github.com/OmniSharp/omnisharp-vscode) or provide a screen cast that is more readable.

[2018-03-28 19:29] twajr commented on #46691
It DOES occur with extensions disabled. If I launch via: code --disable-extensions

I get the exact error shown above. Does the above NOT disable extensions as it says?

![image](https://user-images.githubusercontent.com/29104218/38051616-731df460-3294-11e8-8c90-b9e688f152f9.png)

[2018-03-28 19:34] chrmarti commented on #46747
I see the problem, but I don't have a better solution currently than the selection count that we have. Let's see what the user feedback is and if we can come up with additional improvements.

[2018-03-28 19:35] dbaeumer commented on #46858
@Dowwie this sound like a bug in the vscode.vim extension since the extension intercepts all keyboard input. Can you please report the issue here: https://github.com/VSCodeVim/Vim

If you are able to reproduce with all extension disabled, please ping here again.

[2018-03-28 19:35] #46858 closed

[2018-03-28 19:37] dbaeumer commented on #46856
Dups #2686

[2018-03-28 19:37] #46856 closed

[2018-03-28 19:38] twajr commented on #46691
Another way to verify:
![image](https://user-images.githubusercontent.com/29104218/38052099-bb4e9874-3295-11e8-8d29-023e3717c359.png)

[2018-03-28 19:42] #46638 closed

[2018-03-28 19:42] dbaeumer commented on #46842
@DevAspirant does this also happen if you disable all extensions?

[2018-03-28 19:45] aeschli commented on #46639
Can this be related to #46638?

[2018-03-28 19:58] petervrichards commented on #46606
Will do.
peter richards

From: "Dirk Bäumer" <notifications@github.com>
To: "Microsoft/vscode" <vscode@noreply.github.com>
Cc: "petervrichards" <nrichards@telus.net>, "Mention" <mention@noreply.github.com>
Sent: Wednesday, March 28, 2018 2:16:32 AM
Subject: Re: [Microsoft/vscode] Flutter exmples (#46606)

@petervrichards this looks like a problem with Flutter itself and nothing that is related to

[2018-03-28 20:04] rockerest commented on #43190
This particular bug is very nearly a dealbreaker for me using VSCode.

Changing text regardless of case should not be the default behavior; I have never worked in *any* programming language where variables or other strings are considered the same regardless of case.

[2018-03-28 20:11] dkent600 commented on #41584
Doesn't work at all when only a single line is selected.

[2018-03-28 20:15] jtleaming commented on #46873
@dbaeumer Sorry, I was so excited about including the GIF I forgot to paste the error message :/
This is the failing message I receive:

`[fail]: OmniSharp.MSBuild.ProjectLoader
        The "Microsoft.CodeAnalysis.BuildTasks.Csc" task could not be loaded from the assembly C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\MSBuild\15.0\Bin\Roslyn\Microsoft.Build.Tasks.CodeAnalysis.dll

[2018-03-28 20:17] dkent600 commented on #27083
`"editor.find.autoFindInSelection": true` seems to have no effect when only a single line is selected.

[2018-03-28 20:22] alexandrudima commented on #41968
I pushed further changes to further improve this (also in the find widget open + code lens case).

[2018-03-28 20:24] sbatten commented on #46782
@weinand I am unable to auto-attach with cmd or powershell. I can however attach manually with both. I will reopen. Please close if you feel these are the same root cause.

[2018-03-28 20:30] gregvanl commented on #46859
Hi @dennisaubrey I think you want to open an issue in the https://github.com/aspnet/Docs repo which has the documentation source for the page you've referenced.

[2018-03-28 20:30] #46859 closed

[2018-03-28 20:33] alexandrudima commented on #45646
@Jazcash @jeanp413

Can you please check:

1. That there are no other keybindings for "ctrl+shift+o" (ctrl+k ctrl+s and search for "ctrl+shift+o"):
![image](https://user-images.githubusercontent.com/5047891/38054501-74e2fd84-32d7-11e8-939b-188b6041af69.png)

2. What happens when you use the on-screen keyboard:
![kapture 2018-03-28 at 22 32 04](https://user-images.githubusercontent.com/5047891/3805

[2018-03-28 20:34] pavilion commented on #46222
Hi. The problem was actually in Nvidia Geforce Experience shortcuts. They have ALT + F12 set it up for toggling fps show on/off. I believe a lot of Windows 10 users may be having the same problem as that shortcut is set by default, so the way to change is to:
-Open NVIDIA GeForce Experience GUI.
-Go to settings-> General -> In-Game overlay->Settings
-Search for ALT + F12 shortcut and delete it.

[2018-03-28 20:34] #46222 closed

[2018-03-28 20:37] DanTup commented on #40881
Does anyone understand the logic for when the badge appears? Someone reported to me that all extensions he has installed are marked as recommended except for Dart Code. Since the recommendations are based on files he's edited and he uses Dart a lot (even had a Dart file open at the time) he was surprised Dart Code didn't have the badge.

I opened my own copy of Code, and I see the same thing - Dar

[2018-03-28 20:39] alexandrudima commented on #46057
fyi @bpasero The root cause is the same as #45538

The symptom (undo going back to [1,1]) is fixed via #46208.

[2018-03-28 20:39] #46057 closed

[2018-03-28 20:42] ramya-rao-a commented on #45716
cc @jrieken for thoughts on the above

[2018-03-28 20:44] alexandrudima commented on #46050
Please use issue search

https://github.com/Microsoft/vscode/issues/41620
https://github.com/Microsoft/vscode/issues/3577
https://github.com/Microsoft/vscode/issues/35366
https://github.com/Microsoft/vscode/issues/34457
https://github.com/Microsoft/vscode/issues/31910

[2018-03-28 20:44] #46050 closed

[2018-03-28 20:46] gushuro opened #46875 "Resizing bottom panel vertically makes the editor to scroll"
Happens in 1.21 and 1.22.insiders

When editor is all scrolled down (so that you can only see the last line of the file), and you resize down the bottom panel, the editor scrolls unexpectedly

Steps to Reproduce:

1. Open editor, scroll to the bottom
2. Resize the bottom panel up/down
3. Editor top line changes (as if you had scrolled)

[2018-03-28 20:46] mars000 commented on #45398
Correct

On Thu, 29 Mar 2018 at 00:48, João Moreno <notifications@github.com> wrote:

[2018-03-28 20:48] RMacfarlane commented on #46844
@joaomoreno Instead of removing it, what if it was just changed to `No similar issues found`? It seems useful to me to explicitly tell the user that we didn't find any duplicates. I experimented with adding some progress text that shows up when a search is being done, but because search is fast and debounced to every 300ms when typing, it just added a lot of ugly flashing. I think showing some sor

[2018-03-28 20:49] weinand commented on #46868
Please file this issue against the Python extension you are using.

[2018-03-28 20:49] #46868 closed

[2018-03-28 20:53] Tyriar commented on #46222
@pavilion thanks for letting us know 😃

[2018-03-28 20:53] Tyriar commented on #46855
Duplicate https://github.com/Microsoft/vscode/issues/43169

[2018-03-28 20:53] #46855 closed

[2018-03-28 20:55] Tyriar commented on #44642
@richardfickling so alt+*click* will scroll, but alt+*drag* will select.

[2018-03-28 20:56] alexandrudima commented on #46045
Thank you for the detailed issue. I am sorry, but I cannot reproduce. I am trying on a MacBook Pro (13-inch, 2016, Four Thunderbolt 3 Ports) also on MacOS High Sierra 10.13.3

I am doing `fn`, then `alt`, then `delete`, as well as `fn`, then `delete`, but I am not experiencing any problems.

![kapture 2018-03-28 at 22 54 13](https://user-images.githubusercontent.com/5047891/38055791-fec92d72-32da-

[2018-03-28 20:58] richardfickling commented on #44642
ah, yeah that would do it. I alt+doubleclick to select a single word in the terminal to copy. Not a huge issue, as I can just alt+drag to select the word instead.

[2018-03-28 21:02] aeschli commented on #46740
The problem is the interpolation inside the media selector.
Duplicate of #46738

[2018-03-28 21:02] #46740 closed

[2018-03-28 21:02] weinand commented on #46784
@roblourens
- the extension API is consistently 0-based because everything relies on class "Position" which defines being 0-based.
- the VS Core debugger is 1-based (because it is much older than anything else). It announces this fact against the DAP in the "initialize" request.
- A debug adapter that uses our npm modules can announce whether it wants to use a 0- or a 1-based locations.

All neces

[2018-03-28 21:03] aeschli commented on #46736
The problem is caused by the interpolation. Duplicate of #46738

[2018-03-28 21:03] #46736 closed

[2018-03-28 21:03] alongafni opened #46877 "Navigating "back" from a split editor sometimes navigates from the wrong side"
Issue Type: <b>Bug</b>

Open documents in split mode and do some navigation on both of them (follow links to type-definitions, etc.)
Then go to one of the sides and hit "back" a few times.

Expected: the selected side gets navigated back
Actual: If the file being navigated is also on the other unselected side, navigation goes randomly between the two sides of the split

VS Code version: Code 1.21.

[2018-03-28 21:03] aeschli commented on #46734
duplicate of #46738

[2018-03-28 21:03] #46734 closed

[2018-03-28 21:04] andy-ms opened #46879 "Underscores not showing up in completions or rename in Linux mint"
Issue Type: <b>Bug</b>

Open an empty TypeScript file and type:
[code]
and see completions.

![underscores](https://user-images.githubusercontent.com/19274678/38056275-ee852a82-3290-11e8-981e-0b8cd605fa0d.jpg)

VS Code version: Code - Insiders 1.22.0-insider (95b0cffe72a9d32e6ef3780dcc050a336e7b2968, 2018-03-28T15:42:46.044Z)
OS version: Linux x64 4.13.0-37-generic

<details>
<summary>System Info<

[2018-03-28 21:05] #46738 closed

[2018-03-28 21:05] alexandrudima commented on #46002
@juanfe-google

We are using `spawn` and `exec` in our own built-in git extension like [here](https://github.com/Microsoft/vscode/blob/dcc822dac11fa3fe3720739bfff703e6c15ad5fc/extensions/git/src/git.ts#L77) or [here](https://github.com/Microsoft/vscode/blob/dcc822dac11fa3fe3720739bfff703e6c15ad5fc/extensions/git/src/git.ts#L86) and AFAIK that works fine for us.

So perhaps it is a problem with `sp

[2018-03-28 21:07] weinand commented on #46782
- What is the commit id of the VS Code build you are using?
- what are the exact steps?
- a screencast could help too.

[2018-03-28 21:08] roblourens commented on #46784
Right, and I think I'm not following your explanation above, did this happen because we are missing the conversion for breakpoints set via the API? Will all breakpoints set via the API be off by 1 column?

[2018-03-28 21:14] debugme commented on #7299
Would definitely be interested in seeing this too.

[2018-03-28 21:16] sbatten commented on #46782
Version 1.22.0-insider
Commit 95b0cffe72a9d32e6ef3780dcc050a336e7b2968
Date 2018-03-28T05:17:37.707Z
Shell 1.7.12
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

In the below image, I have simple server.js file launched in cmd in the integrated terminal with inspect-brk and auto attach on, but we never attach.

![image](https://user-images.githubusercontent.com/6561887/38056777-4d32d0f6-3292-1

[2018-03-28 21:19] greg-wolff commented on #46045
With an external keyboard, I only can do `delete` and `alt + delete` actions because I don't have an external keyboard with the `fn` key. I also use [BetterTouchTool](http://bettertouchtool.net/) to use trackpad gestures and some touchbar buttons, but even after completely disabling it, the lag still occurs.

[2018-03-28 21:19] weinand commented on #46784
No the conversion is properly done for all but one case:
https://github.com/Microsoft/vscode/blob/4b55e2d7de5b8feafe913b20d7f2844b28acc8dc/src/vs/workbench/api/electron-browser/mainThreadDebugService.ts#L101-L102
and
https://github.com/Microsoft/vscode/blob/4b55e2d7de5b8feafe913b20d7f2844b28acc8dc/src/vs/workbench/api/electron-browser/mainThreadDebugService.ts#L145-L146

My proposal fix would drop

[2018-03-28 21:21] micage commented on #44273
It's the the same behavior on my machine:
OS X 10.11.6, Nvidia GTX 8800, 768MB RAM, Intel Q6600, 4GB RAM
Resizing the Integrated Terminal panel over a certain size (~10 lines) makes it invisible.
I think this has nothing to do with code. It seems to be a limitation on the underlying electron code base (webkit?).

Why not introduce a new preferences option to disable GPU-rendering of Int. Terminal

[2018-03-28 21:29] RMacfarlane commented on #46124
I think what's especially jarring in this example is the amount of empty space in the similar issues section. I've changed the css to specify `max-height` instead of `height` so it only moves down enough to show that link. Let me know if there are other ways you think this could be improved

[2018-03-28 21:30] roamn commented on #46511
Thanks.

[2018-03-28 21:30] #46124 closed

[2018-03-28 21:31] alexandrudima commented on #46045
@greg-wolff You could always try with something like a guest account to try to rule out `BetterTouchTool`. Also, you could try if Chrome also suffers from this lagging (as Electron is based on Chromium)...

[2018-03-28 21:33] greg-wolff commented on #46045
You can see me reproducing the lag here. Interestly enough, when I use the accessibility keyboard to record my keystrokes, the lag will actually happen sporadically. When the accessibility keyboard is not on, it happens everytime.

https://giant.gfycat.com/AchingWebbedGoa.webm

The lag does not occur in Chrome.

[2018-03-28 21:34] jeanp413 commented on #45646
@alexandrudima
1. Go to symbol in file is the only command bound to "ctrl+shift+o".
2. Using the on-screen keyboard doesn't get recognized either.
3. Pressing "ctrl+shift+o" on the Define Keybinding popup just detects "ctrl+shift+" using either the keyboard or the on-screen keyboard.

PS. "ctrl+shift+l" isn't being detected either.

[2018-03-28 21:36] weinand commented on #46782
Cannot reproduce:

[2018-03-28 21:38] roblourens opened #46880 "Diagnostic optional fields should be marked with ?"
https://github.com/Microsoft/vscode/issues/46564

`relatedInformation` is not marked as optional with `?`, so after I construct a Diagnostic, I might expect it to be an empty array.

Side note, is it missing from `toJSON`?

https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/node/extHostTypes.ts#L757

[2018-03-28 21:41] roblourens commented on #46784
Oh, I understand. Thanks

[2018-03-28 21:42] alexandrudima commented on #45965
@glauberfc

On Windows, Shift+Delete is another keybinding for cut. So Shift+Delete writes to the clipboard!

![kapture 2018-03-28 at 23 40 05](https://user-images.githubusercontent.com/5047891/38057949-66b6df1e-32e1-11e8-9c6b-454c0a9dca28.gif)

If you do not like that running cut and having no selection writes to the clipboard, you can turn it off via
[code]

So, AFAICT, this all works fine...

[2018-03-28 21:44] alexandrudima commented on #45951
@webmandman I don't understand what the problem is or what, in your opinion, is not working?

[2018-03-28 21:53] ramya-rao-a commented on #41618
The Update/Remove tag currently works only for pure html files

[2018-03-28 21:58] ramya-rao-a commented on #46779
@mjbvz This seems harmless. Any scenario where this causes disruption?

[2018-03-28 21:58] dmxd5 commented on #46054
I'm not sure what you mean by using Intellisense as workaround.

[2018-03-28 22:00] roblourens commented on #46054
When the PHP Intellisense extension is installed, it also does validation (better than the builtin validation which is not working here)

[2018-03-28 22:03] shnewto commented on #46527
I'm also having as issue where Ctrl+z takes me to the top of the file. The behavior I'm seeing is that Ctrl+z once takes me to the top of the file, Ctrl+z again moves the cursor back to the last change and undoes it. Ctrl+z a third time takes me to the top of the file. Basically Ctrl+z is alternating between hopping the cursor to the top of the file and actually undoing the last change.

`undo` is

[2018-03-28 22:03] zhulika commented on #46050
Dear Alexandru,

Thank you for your email. I did search a couple of times but the possible queries are too many and I don’t have time to spend fixing bugs in your stuff – there are too many bugs in my own code!

If you fix the problems more quickly, you’re going to get fewer people sending you duplicate reports.

Yours,

Dan

From: Alexandru Dima <notifications@github.com>
Sent: 28 March 2018 21:4

[2018-03-28 22:04] #45908 closed

[2018-03-28 22:05] shnewto commented on #46527
I'm also on Version 1.21.1, Commit 79b44aa

[2018-03-28 22:06] alexandrudima commented on #46050
Hi Dan,

Please, in the future, ask questions on StackOverflow. Word navigation behaving differently than Notepad or Visual Studio is not a bug, it is an intentional choice.

All the best,
Alex

[2018-03-28 22:07] sbatten commented on #46782
still no luck after a full reboot with the changes you suggested. @RMacfarlane also tried and has the same issue as me. We both can successfully attach on Mac so we believe we have the scenario correct.

[2018-03-28 22:09] alexandrudima commented on #45851
@alexlamsl @vvedachalam You appear to have broken installations of VS Code. Do you remember having done anything that brought you to this state?

[2018-03-28 22:10] zhulika commented on #46050
Dear Alex,

OK, I’ll use SO instead. It seemed like a bug to me, as I am used to Microsoft products behaving the same way in Windows. That’s one of the founding features that made Windows so successful and restricted Linux to back-office specialist systems.

Yours,

Dan

From: Alexandru Dima <notifications@github.com>
Sent: 28 March 2018 23:07
To: Microsoft/vscode <vscode@noreply.github.com>
Cc: D

[2018-03-28 22:13] alexandrudima commented on #45823
@rebornix Could this be a regression from 4e3383f15d925e350a33167665eb2aaf0f84c8ac or 2b941e427c38ee786e7ced495afd7c5dc5538eb3

[2018-03-28 22:14] roblourens opened #46881 "runtimeVersion can cause the wrong debug args to be used"
Upstream: https://github.com/Microsoft/vscode-node-debug2/issues/175

- Have default node version of 8.0.0
- Set the runtimeVersion attribute in a node launch config to 7.0.0
- Start debugging - verify that it uses `--inspect --debug-brk` and not `--inspect-brk`

[2018-03-28 22:14] #46881 closed

[2018-03-28 22:15] alexandrudima commented on #45819
@IIInsomnia Are you using a non 0 value for `window.zoomLevel` ?

[2018-03-28 22:17] roblourens opened #46882 "Terminate DA when running without debugging from a terminal"
Upstream: https://github.com/Microsoft/vscode-node-debug2/issues/169

- Have a launch config with `"console": "integratedTerminal"`
- "Start without debugging"
- Program starts in terminal
- Verify that the debug adapter is not running, and vscode is not in an active debug session

[2018-03-28 22:17] #46882 closed

[2018-03-28 22:18] alexandrudima commented on #45808
Caused by running EH at version N+1 and the renderer at version N

Duplicate of #45547

[2018-03-28 22:18] ramya-rao-a commented on #46852
Also, this only started happening in the last release, so I dont think the problem is with how `onUnexpectedExternalError` or any other generic error handling is done.

I dont see this happening in 1.20.
In 1.21 only the "ERR An unknown error occurred. Please consult the log for more details." appears.
In the Insiders we have both the above and the "Promise with no error callback"

@jrieken @joaom

[2018-03-28 22:18] #45808 closed

[2018-03-28 22:18] roblourens opened #46883 "'source' request doesn't work with windows local paths"
Upstream: https://github.com/Microsoft/vscode-chrome-debug-core/issues/302

- Debug on windows with inspector
- Use the loaded script pane to request a local script
- Verify that it is loaded correctly

[2018-03-28 22:18] #46883 closed

[2018-03-28 22:18] BytewaveMLP commented on #45492
Er... whoops. I guess I missed the canvas part initially. Sorry about that.

However, even with the GPU blacklist disabled and something that should cause a lot of repainting `hd /dev/urandom`, I'm unable to get any flickering out of Chrome, and only some poor performance, even with an exceptionally large terminal size (500x100, anyone?).

[2018-03-28 22:22] roblourens opened #46884 "Toggle smartStep while debugging"
Upstream: https://github.com/Microsoft/vscode-chrome-debug-core/issues/298

Verify while debugging Node or Chrome - there should be a context menu item in the callstack, "Toggle Smart Step"

[2018-03-28 22:23] #46884 closed

[2018-03-28 22:23] alexandrudima commented on #45646
@jeanp413 If "ctrl+shift+o" shows "ctrl+shift+" in the keybinding input, it means that the keypress is not reaching VSCode. Most likely, something installed at the level of the OS is capturing this keybinding.

Are you able to use this keybinding successfully in other software on the same machine?

[2018-03-28 22:25] KernelDeimos commented on #12764
vscode-go is broken again and I too would really appreciate this feature. I should be completely out of options when the author of an extension makes a bad release.

[2018-03-28 22:42] ramya-rao-a commented on #40881
@DanTup If you hover on any of the extensions or click on them and read the details on the right, you will see the recommendation reason there. The ones that have "... based on the files you have recently opened" are based on the files you have opened plus a white list we maintain. Since your extension is not in the whitelist, it doesnt show up in the recommendation list. We have gone through this

[2018-03-28 22:55] roblourens commented on #44980
Now it never opens the whole folder, even when a .vscode/settings.json file is present...

[2018-03-28 22:57] jeanp413 commented on #45646
@alexandrudima you were right.
It was my amd gpu software (Radeon Settings) that was capturing those keybinding.
Thanks.

[2018-03-28 23:09] gushuro opened #46886 "Can't resize Breakpoints section in Debug sidebar"
Steps to reproduce:
1. Open debug sidebar
2. Try to resize the last section `Breakpoints` using the mouse.

If I swap the section with another, everyone works fine. It seems to be specific to `Breakpoints` when it's in the bottom.

I see the same behaviour in 1.21 and today's 1.22-insiders.

[2018-03-28 23:13] szhu commented on #46763
That sounds like a good option to me that can be extensible for other use cases as well.

Also, since there is already a way to manually remove repos from the source control tab (Right click -> "Close repo"), it would be great if there could be:
- an option to turn off the auto-populating of repos altogether
- an option to manually add repos, or to specify which repos to open in the workspace sett

[2018-03-28 23:19] JerkyTreats commented on #2718
Hey sorry if this has already been discussed, this thread is long in the tooth.

![screen shot 2018-03-28 at 1 56 45 pm](https://user-images.githubusercontent.com/926943/38061235-5fdac824-32a3-11e8-96cc-cfc3b2cb7a70.png)

Can we make the commit body not warn for line length, or better yet make it optional? I only care about the _first_ line being too long, latter lines Im fine with.

[2018-03-28 23:22] sebmarkbage opened #46887 ""Close to the Right" Sometimes Tries to Close Unsaved Files to the Left"
- VSCode Version: 1.21.1
- OS Version: macOS 10.13.3

I can't consistently reproduce it but it is possible to get into a bad state where newly created and unsaved files (Untitled-#) has this issue. The newly created unsaved files are lined up on the left after reopening the project (e.g. after an upgrade) and other files to the right of them.

After trying to close a set of files to the right usin

[2018-03-28 23:27] alexandrudima commented on #45735
The root cause is 020afb768d01f349b56db8d7358bbe5b970b2f7e , combined with a bug in the implementation for `getLineCharCode`, which would lead to the range being validated incorrectly.

[2018-03-28 23:27] kcmr opened #46888 "Missing git status color indicator in tree view"
Issue Type: <b>Bug</b>

1. Open a project under VCS (git)
2. Make some changes
3. The modified files don't appear with the corresponding colors in the tree view until a new file is created.

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:39:09.335Z)
OS version: Darwin x64 17.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R)

[2018-03-28 23:28] #45735 closed

[2018-03-28 23:30] alexandrudima commented on #45646
@Jazcash do you also have an AMD gpu capturing ctrl+shift+o ?

[2018-03-28 23:36] alexandrudima commented on #45660
Fixed via #46440

[2018-03-28 23:36] #45660 closed

[2018-03-28 23:37] auchenberg commented on #45128
@isidorn @roblourens @weinand Do we want to mention LogPoints in this iterations release notes? I'm not convinced our implementation for Node is ready for prime time, per learnings from yesterday: https://github.com/Microsoft/vscode-node-debug/pull/174#issuecomment-376691912

One option for us could be to prefix it with "Preview"

[2018-03-28 23:38] rebornix commented on #46694
Now large content will be splitted to small chunks like what we did with file loading.

[2018-03-28 23:38] #46694 closed

[2018-03-28 23:39] alexandrudima commented on #45596
We have a hard-coded size of 20MB, above which files will get certain features disabled (to save up on memory usage). There is a PR to make this value configurable

[2018-03-28 23:45] Ed-Yang opened #46889 "'DebuggerBuffer' object has no attribute 'readable'"
- VSCode Version: Version 1.21.1 (1.21.1)
- OS Version:
- VSCode extensions: Python, Python for VSCode

Steps to Reproduce:

While using io.TextIOWrappe with sys.stdout, it did not work in vscode debug mode (F5), but run
well in normal execution mode.

PS.  The problem will still persist if change the Chinese string "您好!" to other string, .

CODE
[code]

DEBUG CONSOLE (in VSCode)
[code]

TERMINAL

[2018-03-28 23:47] rebornix commented on #45823
thanks @alexandrudima , yes it's a regression from that change.

Reverted that commit and I'll work on that issue for Monaco.

[2018-03-28 23:47] #45823 closed

[2018-03-29 00:37] besteman opened #46891 "Text of the Info Bounces when Typing by it"
- VSCode Version: 1.22
- OS Version: Windows 10

Steps to Reproduce:

1. Start typing
2. Text bounce on the info shown

![alt-text](http://besteman.io/3P1K3z230J21/Screen%20Recording%202018-03-28%20at%2010.28.34%20AM.gif)

[2018-03-29 00:39] garyking opened #46892 "Keyboard shortcut to scroll errors, parameter hints, and suggestions"
Please add a shortcut to scroll lint errors, parameter hints, and suggestions windows, when they are too long. I can use my mousewheel to scroll them, but otherwise, it doesn't seem to be possible with the keyboard. I tried several keys, like Down Arrow, Page Down, Tab, etc.

[2018-03-29 00:43] rodolphito opened #46893 "Codelens Freezes when double clicking in the codelens view."
Issue Type: <b>Bug</b>

Open any project that has language support for reference counting and codelens, click on one of the `2 references` (or any number) links to open a Codelens view. Edit something in the codelens view (like add a comment, or anything really) and do not save. Now double click in the codelens view, to go to the file in full view mode.

Expected results: takes you to the file, le

[2018-03-29 00:52] Quantumplation commented on #28709
@gyagp I've been wrestling with this issue recently, and confirm that for me, "--disable-gpu" *does* resolve the issue, while adding "--disable-features=GpuScheduler" does not.

[2018-03-29 01:00] JoshAntBrown commented on #10546
So this is kind of the end result I would hope for here:
![68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f6a736d656368616d2f61746f6d2d7465726d696e616c2d7461622f6d61737465722f64656d6f2e676966](https://user-images.githubusercontent.com/1793797/38064203-ae936c36-32f4-11e8-8247-7cda016db689.gif)

Taken from [https://atom.io/packages/terminal-tab](https://atom.io/packages/terminal-

[2018-03-29 01:07] LeThiHyVong commented on #46808
Thank you very much. It works.

[2018-03-29 01:13] #46808 closed

[2018-03-29 01:28] #46828 closed

[2018-03-29 01:34] dark07perez opened #46895 "No actualiza mensaje de error"
Issue Type: <b>Bug</b>

Algunas veces, cuando el codigo tiene errores de por ejemplo el constructor mal invocaco o que falta un pareametro, luego de solucionar el error no se desaparece la advertencia de error, y para poder hacer que se quite hay que cerrar el archivo y abrir de nuevo, no es suficiente con guardar o guardar todo.

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e772

[2018-03-29 01:37] panglongqi commented on #46532
@bpasero I didn't reproduce the problem with another computer last night。o(╥﹏╥)o

[2018-03-29 01:47] Brodez commented on #33110
i need this, please!

[2018-03-29 01:55] yume-chan commented on #46830
@Tyriar I can confirm now it works well, except that when I shrink the window width, the underline became off. I think I have seem this issue being reported somewhere but I cannot find it now.

[2018-03-29 02:04] alextreppass commented on #44699
Should be solved by https://github.com/Microsoft/vscode/issues/45948

[2018-03-29 02:42] danyeh commented on #41247
Thank you for contributing! Esperanto (eo) has been enabled in Transifex for 3 VS Code projects.

[2018-03-29 02:42] #41247 closed

[2018-03-29 02:45] akurtovic commented on #35675
I can confirm the issue on a fresh install of Ubuntu 18.04 beta with latest vscode. And downgrading libfreetype6 to 2.8-0.2 did fix it for me as well.

[2018-03-29 02:46] alete89 commented on #33110
I'm sure that this will catch @rebornix 's attention soon

[2018-03-29 02:47] danyeh commented on #26687
I am closing this one. We can open new one if anything.

[2018-03-29 02:47] #26687 closed

[2018-03-29 03:07] yinzhixin commented on #46833
[video.zip](https://github.com/Microsoft/vscode/files/1858462/video.zip)

[2018-03-29 03:08] yinzhixin commented on #46833
It's normal before the upgrade

[2018-03-29 03:17] ads1018 commented on #46616
You can configure the Solhint linter in your vscode user settings:
[code]

[2018-03-29 03:24] toddlindsey opened #46897 "[json] "There is no formatter for 'json'-files installed." for a specific (large) JSON document"
- VSCode Version: 1.21.1
- OS Version: Win10Pro 1709

Steps to Reproduce:

1. Open json file https://data.cdc.gov/api/views/6vp6-wxuq/rows.json?accessType=DOWNLOAD (378mb)
2. Shift-Alt-F to format document

Observe:  Error message: "There is no formatter for 'json'-files installed."

Other json files will format just fine.

Does this issue occur when all extensions are disabled?: Yes

[2018-03-29 03:29] alexlamsl commented on #45851
@aleksijuvani I think my case is slightly different in that while there are error message in the Command Prompt, VSCode works AFAICT.

All I did was to upgrade to the reported version via "Check for Updates..."

[2018-03-29 03:31] roblourens opened #46898 ""Add conditional breakpoint" on line with conditional breakpoint should edit the breakpoint"
Or, expose the command to edit the breakpoint.

I only set breakpoints with the keyboard, and I just realized that I can't edit an existing conditional breakpoint, or logpoint, with the keyboard.

- Add a conditional BP
- On the same line, run the "Add conditional BP" command
- It shows an empty input box and if you enter something, it will replace the existing breakpoint

[2018-03-29 03:38] roblourens opened #46899 "Column logpoints and column conditional bps"
According to https://github.com/Microsoft/vscode/issues/14784#issuecomment-269337531, this used to work, but now it doesn't seem possible to create a column BP or conditional BP at a certain column.

- Run "Add conditional breakpoint" from command palette
- Breakpoint is always not column specific 🐛
- Add a column breakpoint
- "Edit breakpoint", add condition
- Breakpoint becomes not column specif

[2018-03-29 03:55] #9927 closed

[2018-03-29 04:05] fx72516 commented on #46619
I'm sorry and thanks.

[2018-03-29 04:51] bpasero commented on #46869
As designed, the default action will be executed which is saving upon enter. The blue focus ring is for keyboard navigation in the dialog (arrow keys).

[2018-03-29 04:51] #46869 closed

[2018-03-29 04:52] bpasero commented on #46864
@Ermish why would you need to restart?

[2018-03-29 04:54] bpasero commented on #46022
Duplicate of https://github.com/Microsoft/vscode/issues/35675

[2018-03-29 04:54] #46022 closed

[2018-03-29 04:55] bpasero commented on #45783
@swarnendubiswas  Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2018-03-29 04:56] wyxd opened #46900 "Invisible underline in integrated terminal window"
- VSCode Version: 1.21.1
- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. Open the integrated terminal in vs code.
2. Type underline "_" in the window.

The underline symbol cannot be seen, but can be recognized by the terminal.

Does this issue occur when all extensions are disabled?: Yes

[2018-03-29 04:56] bpasero commented on #46532
So it seems to be only happening in Chinese locale, weird :-/

[2018-03-29 04:57] #46756 closed

[2018-03-29 05:24] bpasero commented on #6333
@swernli @mosajjal @a2un is this still an issue? I can run a second instance from the command line with different environment variables and they are picked up in that second window. Works for me on Windows and macOS at least.

We do send the full process environment over from the second instance that is launching and merge that into the environment that we have on the main side.

[2018-03-29 05:28] dmitryvk commented on #35675
Latest "insiders" build works fine with fresh version of freetype.

[2018-03-29 05:29] swashata commented on #33519
Hi,

I just switched from SublimeText to VSCode and this is becoming a blocker for me. The following PHP code is the least which can reproduce the error in `.php` file with `PHP` Language.

[code]

<img width="1364" alt="screen shot 2018-03-29 at 10 55 48 am" src="https://user-images.githubusercontent.com/1623381/38071641-1d15881a-3340-11e8-951e-d5927c2d920a.png">

Please see the screenshot. Anyth

[2018-03-29 05:48] Oblomoff commented on #18837
This is not a _"feature"_ at all. This is a bug. Even when project folder is _under_ symlinked parent folder the path resolves to original folder. This breaks all relative paths pointing to items outside of symlinked folder. This behavior looks unexpected.

PowerShell Windows 10

[code]

Now open Ctrl+` and look at current path. It is source\myproject.

[2018-03-29 05:48] mayurm-virtueinfo opened #46901 "Horizontal progress is not stopping"
![vcs_bug](https://user-images.githubusercontent.com/25951058/38072190-e57426a2-3342-11e8-9433-d7263be09bee.png)
Issue Type: <b>Bug</b>

When i commit and push from Visual Studio Code from Source Control GIT. Even pushed successfully to my repository but horizontal progress bar  in SOURCE CONTROL : GIT which is placed above "Commit Message Textfield" is not Stopping.

VS Code version: Code 1.21.1

[2018-03-29 05:51] #45261 closed

[2018-03-29 05:55] troplin commented on #44273
You're probably right that it is ultimately a problem of the rendering engine.
But OTOH it worked flawlessly at some time and considering that there are other similar issues, there might be something odd in the terminal code.

[2018-03-29 05:56] alxmcr opened #46902 "[css] Problem with `grid-template` shorthand of CSS Grid Layout."
Issue Type: <b>Bug</b>

1. Create a CSS file. For example: `styles.css`
2. Please, write this lines in `styles.css`:

[code]

3. (Windows 10) Press `CTRL + shift + M` or Click `View > Problems`

![semi-colon expected](https://image.ibb.co/i9RNEn/vscode_error_1.png)

**Error message:** `semi-colon expected`

I tried put it in the same line.

[code]

But, Unfortunately, the problem continued.  I thi

[2018-03-29 05:57] dbaeumer commented on #46694
I tried to verify from source and it still feels lagggy. @alexandrudima can you give it a try as well.

[2018-03-29 05:58] bpasero commented on #44980
@roblourens yes we took this entirely out. If the users intent is to open a file, we do exactly that.

[2018-03-29 05:58] #44980 closed

[2018-03-29 06:01] eladcandroid opened #46903 "Feature: Show git output in notifications"
To make it easy to see if the push has succeed or not.. (for example)
With an option to toggle this feature on settings

[2018-03-29 06:02] dbaeumer commented on #46527
I can't reproduce this on 1.21.1.

@shnewto do you have any extension install. Can you try to reproduce when you start with all extensions disabled.

[2018-03-29 06:04] kostich commented on #26687
@danyeh, thank you for your help for establishing the Serbian language translation in VSCode!

[2018-03-29 06:05] dbaeumer commented on #46873
@jtleaming this comes from the C# extension. Please report the issue here: https://github.com/OmniSharp/omnisharp-vscode

[2018-03-29 06:05] #46873 closed

[2018-03-29 06:07] ChuckJonas opened #46904 "Script type="application/json" breaks html highlighting"
- VSCode Version: 1.21.1
- OS Version: 10.12.6

Steps to Reproduce:

1. Create new file. Set Language mode to html
2. paste the following:

[code]

<img width="260" alt="untitled-1_ _bass" src="https://user-images.githubusercontent.com/5217568/38072776-2f3aae5e-32e5-11e8-8d62-adc76a74d3c2.png">

Does this issue occur when all extensions are disabled?: Yes

[2018-03-29 06:08] bpasero commented on #46872
@komali2 are you in zen mode? This setting only controls centered editor layout when entering zen mode.

[2018-03-29 06:08] dbaeumer commented on #46691
@twajr I misinterpreted the screen shots in https://github.com/Microsoft/vscode/issues/46691#issuecomment-376869954.

[2018-03-29 06:08] dbaeumer commented on #46691
@alexandrudima moving to you the interesting stuff is in comment https://github.com/Microsoft/vscode/issues/46691#issuecomment-377007516

[2018-03-29 06:09] bpasero commented on #46850
@moseleyi you could configure `"explorer.autoReveal": false`

[2018-03-29 06:13] mosajjal commented on #6333
@bpasero I just tested it and it's no longer an issue on Arch Linux.

One thing I've changed since commenting on this issue is running the code binary i
`/usr/share/code/bin/code`
instead of
`/usr/share/code/code`

[2018-03-29 06:20] satiewaltz commented on #43191
I was about to file a ticket for this until I found this issue, and noticed it's been a while since this has been reported.

Is it possible that I could make a solution for this? I prefer having my panels as rows and I'd like to help push this into a real feature in any way I can.

[2018-03-29 06:27] sandy081 commented on #46857
@DanTup No plans for this release.

[2018-03-29 06:27] sandy081 commented on #46609
@benyaminl Yes that's going to be the fix

[2018-03-29 06:28] dbaeumer commented on #46897
@aeschli i think the reason might be that we don't sync large files to extension host.

[2018-03-29 06:31] dbaeumer commented on #46895
@dark07perez can you please provide the description in English.

[2018-03-29 06:32] dbaeumer commented on #46895
An it is always good to provide steps on how to reproduce the problem you are seeing.

[2018-03-29 06:32] sandy081 commented on #46851
@DanTup Why don't you update the setting when your extension is activated?

[2018-03-29 06:34] dbaeumer commented on #46892
@jrieken not sure if you or @joaomoreno

[2018-03-29 06:35] tulevaisuus commented on #46223
First of all sorry, the problem has been found.
Maybe it's because the quick launch icon I fixed on the taskbar is the previous version, resulting in each open being a previous version of the software. Then I changed the icon again and it is now normal.

[2018-03-29 06:44] benyaminl commented on #46609
Thanks

Sent from My Asus Pegasus X005

Pada tanggal Kam, 29 Mar 2018 13.28, Sandeep Somavarapu <
notifications@github.com> menulis:

[2018-03-29 06:46] dbaeumer commented on #46879
Works for me with latest insider on Windows. So this is not a problem with TS in general. Will that work using a different font ?

![capture](https://user-images.githubusercontent.com/1931590/38074042-b2641e3a-332d-11e8-98a0-d439a22d3b61.png)

[2018-03-29 06:47] dbaeumer commented on #46879
@joaomoreno assigning to you because of the list / tree rendering.

[2018-03-29 06:48] johnsonz commented on #34396
Same problem.

VS code: 1.20.1
OS: Win server 2012 R2

![capture](https://user-images.githubusercontent.com/2533629/38074115-41be7a30-3360-11e8-8ba0-c37b3976b8e1.JPG)

[2018-03-29 06:50] dbaeumer commented on #46223
@tulevaisuus good to hear that you fixed it. Closing the issue.

[2018-03-29 06:50] #46223 closed

[2018-03-29 06:51] DanTup commented on #46851
@sandy081 That could work, though it has some drawbacks:

1. The docs say this doesn't take effect until you restart Code
1. It kinda pollutes the users config (especially if we add it for `files.watcherExcludes`, `files.ignore`, search.ignore`; esp. if we need to include all the defaults too, since the value gets replaced, not merged?)

I think it'd be better if extensions could declare these in

[2018-03-29 06:52] therawk opened #46905 "TypeScript debugging impossible. Breakpoints randomly get hit and jump up and down in the file"
- VSCode Version: 1.21.1
- OS Version: Win 10 Pro 1709

Steps to Reproduce:

1. Set breakpoint in VS Code
2. Click on Debug (I'm using the Chrome Debug extension)
3. When Chrome loaded refresh the page (doesn't matter if in browser or in VS Code)
4. See the breakpoints randomly move up or down in the .ts file

I tried many configurations but ended up using this:

[code]

Which looks good to me. Tr

[2018-03-29 07:04] DanTup commented on #40881
@ramya-rao-a Aha, gotcha - apologies, I thought these stars were using the data from the prompt that does work for Dart, not that whitelist. Makes sense now!

[2018-03-29 07:07] DanTup commented on #40881
@ramya-rao-a Understood. I think the tooltip is a little misleading then, since Dart Code matches what's written in the tooltip, but thanks for the explanation.

[2018-03-29 07:12] #46904 closed

[2018-03-29 07:13] Roby98Luce commented on #46625
ok now I will try to explain, in practice the <?php and ?> tags, including all the code inside, are not interpreted and are not colored as functions or queries. Also on the bottom right where the type of text format is shown appears to me (plain text) and not anymore (PHP). excuse me for the waste of time.

Da: Rob Lourens [mailto:notifications@github.com]
Inviato: mercoledì 28 marzo 2018 18:24
A:

[2018-03-29 07:13] aeschli commented on #46897
Can we improve the error message then?

[2018-03-29 07:17] sandy081 commented on #42554
Verified that I see exact number of results as shown in the number badge

[2018-03-29 07:22] alexandrudima commented on #46691
@twajr We are using named pipes for communicating between processes. Perhaps something is broken in this environment (i.e. named pipes get closed by some security policy?). The only real error you caught was about "Channel has been closed", so that's what makes me think named pipes might be broken.

To check if the renderer process can communicate with the extension host process, you can use `code

[2018-03-29 07:25] aeschli commented on #46862
The previous theme is not remembered and what you see is the expected result.
Question: Is that a common workflow?

[2018-03-29 07:25] alexandrudima commented on #46527
The root cause is the same as #45538

The symptom (undo going back to [1,1]) is fixed via #46208.

[2018-03-29 07:25] #46527 closed

[2018-03-29 07:29] alexandrudima commented on #45726
This can be implemented by an extension

[2018-03-29 07:31] alexandrudima commented on #45677
Moved to https://github.com/MicrosoftDocs/live-share/issues/171

[2018-03-29 07:31] #45677 closed

[2018-03-29 07:32] jrieken commented on #46880
Nice find

[2018-03-29 07:32] #45654 closed

[2018-03-29 07:34] jrieken commented on #46863
Can you share your settings with us? Also please copy/paste the source file in which this happens

[2018-03-29 07:35] SamPosh opened #46906 "Powershell script stop executing if Open folder during execution"
- VSCode Version: 1.21.1
- OS Version: Windows 2012 R2

Steps to Reproduce:

1. Execute some powershell script . (it should be executing for at least 10 mins)
2. Open the other folder (File -> Open Folder) while execution continues. The execution will stop.

Does this issue occur when all extensions are disabled?: Yes/No

[2018-03-29 07:35] jrieken commented on #46852
Not that I know - the real problem (the source of the exception) is TypeScript which keeps changing versions

[2018-03-29 07:36] alexandrudima commented on #45653
Today, we ship with:

[code]

In order to change the settings for all files, including markdown you must write:

[code]

---

[2018-03-29 07:37] jrieken commented on #46893
Can you attach the stack trace that printed onto the console (F1 > Developer Tools > Console) or *even better*, select 'Break on all errors' in F1 > Developer Tools > Sources and provide the full trace and source (screen shot is enough) when this happens. Thanks

[2018-03-29 07:38] jrieken commented on #46892
We just did that for the upcoming release

[2018-03-29 07:38] combabo opened #46907 "vscode hang."
- VSCode Version: 1.21.1
- commit: 79b44aa704ce542d8ca4a3cc44cfca566e7720f1
- OS Version: Win10 x64

Steps to Reproduce:
1. make 1.php
[code]
2. open 1.php

I've been hacked. someone who hacked me injected backdoor to my index file. when I try to read index.php vscode doesn't respond. I excerpt only backdoor php part. I confirmed this code make vscode hang.

[2018-03-29 07:39] tlycken opened #46908 "`git commit` from WSL Bash with `code --wait` as editor opens COMMIT_EDITMSG in incorrect location"
I have `git config --global core.editor 'code --wait'`, and a repository somewhere under C:\.

If I, from WSL Bash, do `git commit`, VS Code is launched or focused with a file called `COMMIT_EDITMSG` as expected, but it's in an incorrect location. Instead, of, as expected, opening `C:\path\to\repo\.git\COMMIT_EDITMSG`, it opens `C:\mnt\c\path\to\repo\.git\COMMIT_EDITMSG`. As a result, the workflow

[2018-03-29 07:40] jrieken commented on #46888
Must be more to it than just that. Can you share the repo and the file in which this happens

[2018-03-29 07:43] jrieken commented on #46897
not so easy...

[2018-03-29 07:46] sandy081 commented on #44989
@isidorn This is what I see when I configure following colours

[code]
![image](https://user-images.githubusercontent.com/10746682/38076397-cae53496-3335-11e8-9f48-ecda5d129f27.png)

Doesn't it should be like this?

![image](https://user-images.githubusercontent.com/10746682/38076476-03b44fb4-3336-11e8-8de3-bdb70abd1c08.png)

[2018-03-29 07:49] #46288 closed

[2018-03-29 07:52] aeschli commented on #46672
Still the same problem in Version 1.22.0-insider
Commit 952b2a641da89a6c7bc28387474bc8afd47f0d2f
Date 2018-03-29T05:13:04.457Z
on Elementary OS

[ms-vscode.node-debug]Maximum call stack size exceeded
e.$onExtensionRuntimeError @ /usr/share/code-insiders/resources/app/out/vs/workbench/workbench.main.js:2867
/usr/share/code-insiders/resources/app/out/vs/workbench/workbench.main.js:2867 RangeError: M

[2018-03-29 07:55] jrieken commented on #45000
@roblourens Decoupling the preview from the actual location (as described [above](https://github.com/Microsoft/vscode/issues/45000#issuecomment-374610781)) needs some refactoring I believe.

[2018-03-29 07:56] bpasero commented on #6333
Ok I think this is fixed meanwhile.

[2018-03-29 07:56] #6333 closed

[2018-03-29 07:56] aeschli commented on #46672
But works on Fedora.

[2018-03-29 07:56] bpasero commented on #46887
@sebmarkbage can you show a screenshot when this happens or a video?

[2018-03-29 07:57] bpasero commented on #46877
I would treat this as duplicate of https://github.com/Microsoft/vscode/issues/9526

[2018-03-29 07:57] #46877 closed

[2018-03-29 07:57] dbaeumer commented on #46906
@SamPosh how do you execute the PowerShell script. Does this happen as well if all extensions are disabled ?

[2018-03-29 07:59] luanft opened #46909 "Capture on saved source code event."
Issue Type: <b>Feature Request</b>

Hi developer team!

I would like to run some my own scripts when save the source code. I think it is more conenient for the users when they need to do some automation tasks after saved or before saving.
Thank you for the greate tool.

Luan

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:47.128Z)
OS version: Windows_NT x6

[2018-03-29 08:04] aeschli commented on #46672
Also works on a plain Ubuntu 16.04 LTS. Looks like it's related to Elementary OS.

[2018-03-29 08:05] lorthirk opened #46910 "Original Type definition not navigable anymore when a type is augmented locally"
Issue Type: <b>Feature Request</b>

I needed to augment a type coming from an external module (namely `@uirouter/angularjs` so that an interfaces could have an optional parameter, otherwise I was receiving an error from the TypeScript compiler. So I went for my augmentation in a file:

[code]

The augmentation works fine, so that now the method call that has an Ng1StateDeclaration as parameter acc

[2018-03-29 08:06] SamPosh commented on #46906
@dbaeumer  I am having only powershell extension installed. No other extension is installed.

[2018-03-29 08:16] justalemon opened #46911 "APT-based distros are not using the system tools to update VS Code"
Issue Type: <b>Feature Request</b>

If you are using an APT based Linux distro (Debian, Ubuntu and derivates) and you try to install updates from the bottom-left side of the corner, VS Code will open the download page.

The editor can use `sudo apt-get update code` or `sudo apt-get update code-insiders` for the updates on the integrated terminal.

VS Code version: Code - Insiders 1.22.0-insider (9

[2018-03-29 08:22] justalemon opened #46912 "The Issue Reported should include the complete system name and version"
Issue Type: <b>Feature Request</b>

After the creation of #46900 and #49796, I find that the "OS version" generated by the issue reporter shows the generic system version (the kernel version for Linux and the system compilation for Windows) and not the readable name (Debian 9 or Windows 10) with the build numbers. This can be useful for system-specific Issues.

As you might know, you can get the d

[2018-03-29 08:25] sandy081 commented on #44989
@isidorn Since you are on holiday, I am assuming this bug is not fixed correctly and reopening it and assigned to next milestone (as it is not critical).

Please close it otherwise

[2018-03-29 08:25] alexandrudima commented on #46852
We have discussed this in today's standup and have concluded it is not critical for March.

[2018-03-29 08:26] dmxd5 commented on #46054
Yes, PHP Intellisense extension php validation works. Thanks for the advice. I'd still like the issue to be verified and fixed in the future though.

[2018-03-29 08:26] EnricoPicci opened #46913 "Issue debugging node with "serverless-offline" "webpack-serverless" and TypeScript - Unverified breakpoint, Breakpoints set but not yet bound"
- VSCode Version: 1.21.1
- OS Version: macOD 10.12.6

The problem is in the combination of "serverless-framework" working offline and the interactive debugging facilities of VSCode.

I am running "serverless-framework" with the "webpack-serverless" and "serverless-offline" plugins. Node is the runtime environment naturally.

I use TypeScript.

The code is very simple, and works well when run from

[2018-03-29 08:29] justalemon commented on #46895
Translation:

[code]

[2018-03-29 08:32] tsalinger commented on #46704
Tested on latest insiders and works fine.

[2018-03-29 08:32] shobhitchittora commented on #46545
@joaomoreno Can't replicate the issue on OSX.

[2018-03-29 08:32] weinand commented on #46913
@auchenberg did you try "serverless" before? I do not really know whether we are supporting this. I suggest that we investigate in order to create a recipe or to better understand what the problems are (and try to fix them).

[2018-03-29 08:35] justalemon opened #46914 "Issue Reporter and non-English Issues"
Issue Type: <b>Feature Request</b>

The issue reporter should add a note that the issues are accepted only on English, even if the UI is localized on your current language.

VS Code version: Code - Insiders 1.22.0-insider (952b2a641da89a6c7bc28387474bc8afd47f0d2f, 2018-03-29T05:13:04.457Z)
OS version: Debian GNU/Linux 9.4 (stretch) x64 4.9.0-6-amd64

[2018-03-29 08:36] tottobauer1972 commented on #3884
Sorry ... i am german, but the spellchecker on my phone was not changed to english. so i sent a terrible text.
:)

i can find the entries for example here:

[HKEY_CLASSES_ROOT\VSCode.ascx\shell\open\command]
[HKEY_CLASSES_ROOT\VSCode.markdown\shell\open\command]
[HKEY_CLASSES_ROOT\VSCode.jsp\shell\open\command]
[HKEY_CLASSES_ROOT\VSCode.mdtxt\shell\open\command]

[2018-03-29 08:38] weinand commented on #46704
@tsalinger thanks!

Till confirmed (and showed me) that both the "Attach Process Picker" and the "Auto Attach" work for him on Windows.

@sbatten  @RMacfarlane so for some (in ZRH) it seems to work on Windows. What is difference in Redmond?

[2018-03-29 08:41] bpasero commented on #6854
Are people still seeing this?

[2018-03-29 08:42] justalemon commented on #46560
Can repro:

![Repro](https://user-images.githubusercontent.com/11861253/38078790-c5dffa7a-3313-11e8-884b-a8cf7fb843e5.png)

VS Code version: Code - Insiders 1.22.0-insider (952b2a641da89a6c7bc28387474bc8afd47f0d2f, 2018-03-29T05:13:04.457Z)
OS version: Debian GNU/Linux 9.4 (stretch) x64 4.9.0-6-amd64

[2018-03-29 08:43] #46880 closed

[2018-03-29 08:46] kcmr commented on #46888
Sorry, I can't share the repo because it's private. But I think that the project has nothing to do with the issue because it happens in all my projects under git.

It started to happen after installing and uninstalling this extension: [AB HTML Formatter](https://marketplace.visualstudio.com/items?itemName=zovorap.ab-html-formatter)

This is a screen recording of the behavior: https://cl.ly/qWCq

[2018-03-29 08:49] weinand commented on #46782
@sbatten @RMacfarlane This works for us in ZRH. We are not able to reproduce.

[2018-03-29 08:50] weinand commented on #46782
I'm leaving this open...

[2018-03-29 08:53] bpasero commented on #24643
@mjbvz maybe try out with new exploration builds with Electron 2.x?

[2018-03-29 08:54] sandy081 commented on #44957
@bpasero These tests were running green for me and also now. Shall I mark it as verified unless if there is a special way to verify. Also user has not come back after the fix.

[2018-03-29 08:54] bpasero commented on #29361
@gosferano still happening?

[2018-03-29 08:55] bpasero commented on #29375
@x-strong is this still happening?

[2018-03-29 08:56] aeschli commented on #46831
This issue was moved to atom/language-c#266

[2018-03-29 08:56] #46831 closed

[2018-03-29 08:56] bpasero commented on #33226
@azydevelopment do you still see this?

[2018-03-29 08:58] bpasero commented on #35825
@singhravi1 @halidaltuner still happening? And if so, could you try to reproduce with these newer builds: https://az764295.vo.msecnd.net/exploration/ed422f909ea470f79e3e3e39c948803d9b764919/code-exploration-1.22.0-1522303929_amd64.tar.gz ?

[2018-03-29 08:59] bpasero commented on #36218
@ewantowie @cannonfodda can you try to reproduce with our new build for Linux: https://az764295.vo.msecnd.net/exploration/ed422f909ea470f79e3e3e39c948803d9b764919/code-exploration-1.22.0-1522303929_amd64.tar.gz

[2018-03-29 09:01] bpasero commented on #38034
@howiempt can you try to reproduce with our newer Windows build: https://az764295.vo.msecnd.net/exploration/ed422f909ea470f79e3e3e39c948803d9b764919/VSCode-win32-x64-1.22.0-exploration.zip

[2018-03-29 09:03] bpasero commented on #38709
This seems fixed with Chr61

[2018-03-29 09:03] SkeLLLa opened #46915 "Markdown preview hotkey conflicts with paste"
- VSCode Version: 1.21
- OS Version: Linux

Steps to Reproduce:

1. Hit Ctrl+Shift+V in a terminal window

Expected behavior:
Text from the clipboard is pasted into the terminal window.

Actual behavior:
Popup `command 'markdown.extension.togglePreview' not found` is shown.

Does this issue occur when all extensions are disabled?: Yes

Proposition: remove default keybinding from system-wide `Ctrl+

[2018-03-29 09:05] bpasero commented on #41760
@tmquinn do you mean scrolling in this dialog:

![image](https://user-images.githubusercontent.com/900690/38080178-05efbf92-3341-11e8-8f3f-d793f3495533.png)

?

[2018-03-29 09:05] dbaeumer opened #46916 "Multi Quick Pick: onDidSelectItem fires for first item if Multi Quick Pick opens although the item is not selected."
Steps

- multi select box with onDidSelectItem listener
- open

Observe: an event fires for the first item although the item is not selected.

[2018-03-29 09:05] dbaeumer commented on #46669
Verified, however opened https://github.com/Microsoft/vscode/issues/46916

[2018-03-29 09:05] aeschli commented on #46848
Verifiers: Please verify that the old name is marked as deprecated and still works.

[2018-03-29 09:05] jrieken commented on #46888
Can you share the git log (View > Output > Git) with us? This feature is used extensively so I doubt it is generally broken but we must be hitting a special case here

[2018-03-29 09:06] jrieken commented on #7340
Hm, I understand

[2018-03-29 09:06] bpasero commented on #46229
Btw duplicate of https://github.com/Microsoft/vscode/issues/42356

[2018-03-29 09:06] #46229 closed

[2018-03-29 09:07] bpasero commented on #42773
@computersarecool could you try with this newer build for Linux to reproduce: https://az764295.vo.msecnd.net/exploration/ed422f909ea470f79e3e3e39c948803d9b764919/code-exploration-1.22.0-1522303929_amd64.tar.gz

[2018-03-29 09:07] bpasero commented on #43498
@Markussss could you try with this newer build for Linux to reproduce: https://az764295.vo.msecnd.net/exploration/ed422f909ea470f79e3e3e39c948803d9b764919/code-exploration-1.22.0-1522303929_amd64.tar.gz

[2018-03-29 09:07] bpasero commented on #43710
@colemickens could you try with this newer build for Linux to reproduce: https://az764295.vo.msecnd.net/exploration/ed422f909ea470f79e3e3e39c948803d9b764919/code-exploration-1.22.0-1522303929_amd64.tar.gz

[2018-03-29 09:08] bpasero commented on #43913
I have seen this too but so far have no clue why this happens. I suspect an Electron issue but I am open for help.

[2018-03-29 09:08] bpasero commented on #45424
@rbirkby could you try with this newer build for Linux to reproduce: https://az764295.vo.msecnd.net/exploration/ed422f909ea470f79e3e3e39c948803d9b764919/code-exploration-1.22.0-1522303929_amd64.tar.gz

[2018-03-29 09:09] kcmr commented on #46888
Yes, here you go:

[code]

[2018-03-29 09:11] bpasero commented on #46243
Duplicate of https://github.com/Microsoft/vscode/issues/28709

[2018-03-29 09:11] #46243 closed

[2018-03-29 09:11] bpasero commented on #46524
Duplicate of https://github.com/Microsoft/vscode/issues/28709

[2018-03-29 09:11] #46524 closed

[2018-03-29 09:15] vuchl commented on #3884
@tottobauer1972
I do not have those registry keys here. But I have those two:
[code]
![image](https://user-images.githubusercontent.com/4921147/38080577-2b0705c8-3342-11e8-9fd2-b5ef100fa1e7.png)

I don't know if the keys you mentioned are maybe relicts from old versions or some thing. Or from file associations.

[2018-03-29 09:16] chrmarti commented on #46916
I think the firing of an event is consistent with the single-select picker. Need to check why the first item is not shown as selected/focused.

[2018-03-29 09:24] dbaeumer commented on #46880
Verified in source.

[2018-03-29 09:28] mattacosta commented on #2811
Moved to discussion at Microsoft/language-server-protocol#96.

[2018-03-29 09:28] #2811 closed

[2018-03-29 09:28] jrieken commented on #46888
Hm, the command for ignored files doesn't seem to complain (`> git check-ignore -z --stdin`).. You could also check the extension host log files (F1 > Show Log... > Extension Host) and look for something suspicious.

Then, wrt to modified files. How does the git viewlet update? Is that instant as you make changes? Both models should update in sync, when git status is executed...

[2018-03-29 09:29] bpasero opened #46917 "Surveys: listen to model save events instead of generic file events"
I would like to reduce our dependency to file events as much as possible and one client seems to be [`languageSurveys.contribution.ts`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/surveys/electron-browser/languageSurveys.contribution.ts#L47). Instead of listening for each updated file I suggest to listen to model save events from the [`ITextFileEditorModelManager`](https

[2018-03-29 09:29] tim0991 opened #46918 "does issues 11081 fix now?"
A question from https://github.com/Microsoft/vscode/issues/11081, but i don't know how to fix it

[2018-03-29 09:41] dbaeumer commented on #46428
Marking as verified based on https://github.com/Microsoft/vscode/issues/46428#issuecomment-376087322

[2018-03-29 09:41] chrmarti commented on #42356
Some observations:
- Opening an external link from the release notes editor opens Edge in front.
- Opening the device login from the Azure Account extension opens Edge in front.
- Opening a link (`Start-Process "http://www.microsoft.com/"`) from PowerShell in the integrated terminal opens Edge behind.
- Opening a link (`Start-Process "http://www.microsoft.com/"`) from PowerShell in the external te

[2018-03-29 09:44] kcmr commented on #46888
Sorry, I've just restarted my computer and everything works fine now without the need to make a change.

Until now, the tree view was updated only after creating a new file. I'm not sure if you are asking me about that.

This is the Extension Host:

[code]

We can close the issue until I can reproduce it again.

[2018-03-29 09:47] jrieken commented on #46888
Ok - please keep an eye open. Thanks for the responses.

[2018-03-29 09:47] #46888 closed

[2018-03-29 09:48] dbaeumer opened #46919 "Copy all in debug console looses line breaks"
OS: Windows

See https://github.com/Microsoft/vscode/issues/45967 for steps.

After pasting into for example NotePad all line breaks are gone. You end up with one single line.

[2018-03-29 09:48] dbaeumer commented on #45967
Verified but opened https://github.com/Microsoft/vscode/issues/46919

[2018-03-29 09:58] predawnang opened #46920 "Cmd-Q won't quit the editor"
- VSCode Version: 1.21.1
- OS Version: 10.13.3

I can't quit vscode on mac, I press on command + shift + esc to force quit it, and it seems didn't work. the gui still black

[2018-03-29 10:03] weinand commented on #46672
What version of node.js are you using?

[2018-03-29 10:03] aeschli commented on #46672
[psout.txt](https://github.com/Microsoft/vscode/files/1859573/psout.txt)

[2018-03-29 10:04] aeschli commented on #46672
[psout.txt](https://github.com/Microsoft/vscode/files/1859576/psout.txt)

Node v8.9.1

[2018-03-29 10:05] mbenkmann commented on #46257
I know these functions, but they're not as nice as the hover.

[2018-03-29 10:06] chrmarti commented on #46916
The focused element in the list widget is not rendered as focused when the list does not have focus. That seems to be different from QuickOpen.

@bpasero This seems to have changed in the past two days.

[2018-03-29 10:08] dbaeumer commented on #35433
I verified that the following works:

- when the files are already available on my machine
- when the files are not available on my machine. In this case the files are downloaded after the search.

[2018-03-29 10:09] jrieken opened #46921 "New file input box cut off"
* create a new file in the explorer
* :bug: the left border is missing

<img width="91" alt="screen shot 2018-03-29 at 12 08 22" src="https://user-images.githubusercontent.com/1794099/38083463-f047c334-3349-11e8-9873-f824f5c5bc8d.png">

[2018-03-29 10:10] dbaeumer commented on #46920
Not sure if this is you @bpasero

[2018-03-29 10:13] dbaeumer commented on #46909
This is currently only possible by writing an extension, but could be something we can add to tasks.

[2018-03-29 10:14] midgethoen opened #46922 "Adding a custom emmet filter to vscode"
Im trying to add a custom emmet filter to vscode, however im having some trouble figuring this out.

So im trying to change the jsx className behavior of emmet using custom filters;
[see my former issue in the emmet repo](https://github.com/emmetio/emmet/issues/533)

Ive tried doing this by following the [customization section ](https://docs.emmet.io/customization/) in the emmet docs. However this

[2018-03-29 10:16] chrmarti commented on #46664
It now complains that it can not put the process in debug mode. (Node v8.9.4, v7.10.1, v9.10.0)

![image](https://user-images.githubusercontent.com/9205389/38083734-c30e0bf2-334a-11e8-9e6f-9a610684658e.png)

[2018-03-29 10:20] jrieken opened #46923 "Support writing chunks in remote fs"
Since very recent we support to write files in small chunks as opposed to one big string. The remote file system doesn't account for this yet and needs to catch up. The changes to the `IFileSystemProvider` api will be like this

[code]

[2018-03-29 10:21] #46923 closed

[2018-03-29 10:21] jrieken commented on #46923
actually a dupe

[2018-03-29 10:24] chrmarti commented on #44712
Also: #region markers not following tree structure are ignored. I assume this is expected. Marking verified.

[2018-03-29 10:26] dbaeumer commented on #33303
@bpasero should this be closed. It returned back to inbox. I labeled it as a feature request.

[2018-03-29 10:26] darginyegor commented on #6854
@bpasero tried to reproduce a minute ago, looks like everything's fine.

[2018-03-29 10:34] holms commented on #46545
I'm closing this, after I've updated code-insiders today it's not an issue anymore, but before that this was like for every file, and staging for lines wasn't working at all.

[2018-03-29 10:34] #46545 closed

[2018-03-29 10:39] bpasero commented on #33303
@dbaeumer I forgot to add the feature request label, so it can stay open.

[2018-03-29 10:40] bpasero commented on #46920
@predawnang I believe you are in a untypical state where VS Code is entirely frozen and this does not reproduce all the time?

[2018-03-29 10:46] alexandrudima commented on #45096
To the verifier:
Please check that the "long press" input method still works. e.g. `e` ===> `è`, etc.

Before:

![kapture 2018-03-29 at 12 37 43](https://user-images.githubusercontent.com/5047891/38084654-05cce852-334e-11e8-813d-3e9071f2e813.gif)

After:

![kapture 2018-03-29 at 12 43 35](https://user-images.githubusercontent.com/5047891/38084882-d8545e54-334e-11e8-8472-ae698e65bb0b.gif)

[2018-03-29 10:46] bmewburn commented on #28795
I've experienced this for a while too. If I'm in another application for a while then switch back to vscode, the slightest tough on the touchpad or mouse wheel causes the editor to jump to a new position. I'm on Debian 9.

[2018-03-29 10:46] #45096 closed

[2018-03-29 10:50] michaljaros84 commented on #10121
I would say most of people here misses the point: VS code is not an IDE it's an code editor. With some nice features added in (debug), brilliant support for multiple languages through plugins, cross platform etc, etc. One thing it is not, is IDE.

That's why it is my default for a small screen (i.e. laptop, as it manages real estate in brilliant way) and platforms other than Windows. On a proper w

[2018-03-29 10:52] bpasero commented on #46916
@chrmarti I pushed a fix for that, good catch.

[2018-03-29 10:52] gyagp commented on #28709
@Quantumplation Thank you so much for checking this! So my guess might be irrelevant. I tried both my desktop and laptop, and none of them can repro this issue, which hinders me from further investigation.

[2018-03-29 10:53] bpasero opened #46924 "Multi select: use same color for item as quick open"
Compare this:

![image](https://user-images.githubusercontent.com/900690/38085237-150b255c-3350-11e8-887c-662c22376575.png)

To quick open:

![image](https://user-images.githubusercontent.com/900690/38085248-1b026e84-3350-11e8-93ef-621c2ad5c99e.png)

I think I would expect the same color in both cases even if quick pick is not focused.

[2018-03-29 10:53] averkhola opened #46925 "Vertical lines noise in editor"
Version 1.21.1
Commit 79b44aa704ce542d8ca4a3cc44cfca566e7720f1
Date 2018-03-14T14:46:30.761Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64
OS Ubuntu 18.04
![screenshot from 2018-03-29 13-48-23](https://user-images.githubusercontent.com/52878/38085291-9a5535ce-3358-11e8-8dea-e176eba08d24.png)

[2018-03-29 10:54] sandy081 commented on #45663
I think it is a good idea to download the lang pack extensions from Marketplace while they are bundled with VS Code to prepare for next step. This would need confirmation from user to download. Downloading without asking might not be good. I think this can also be done while checking for the VS Code update and inform the user that update to next version of VS Code need to install so and so languag

[2018-03-29 10:54] bpasero opened #46926 "Multi select: focus lost when clicking an item?"
![flicker_chrome58](https://user-images.githubusercontent.com/900690/38085305-460b8f20-3350-11e8-8f56-66f37536ce43.gif)

It looks like once I click into an item focus is neither in the list nor in the input field?

[2018-03-29 10:54] #46916 closed

[2018-03-29 10:56] bpasero opened #46927 "Multi select: checkbox suddenly becomes checked when searching for invalid item"
![image](https://user-images.githubusercontent.com/900690/38085357-8186194e-3350-11e8-9969-a4283467cfb1.png)

Just make a search that produces no results suddenly checks the checkbox.

[2018-03-29 10:57] bpasero opened #46928 "Multi select: move focus back to input field after clicking global checkbox"
I think it would be a nice behaviour if focus is always in the input field even if you click somewhere else. If you click the global checkbox, suggest to move focus back into the input field. I would only do that if the mouse is used, not the keyboard.

[2018-03-29 10:59] bpasero opened #46929 "Multi select: cursor over button should be same as for other buttons"
E.g. compare with this cursor:

![image](https://user-images.githubusercontent.com/900690/38085466-f0f45af2-3350-11e8-82ae-ff085a0a6e64.png)

The cursor over the multi select widget seems to be the pointer and not hand cursor.

[2018-03-29 11:01] bpasero commented on #46924
This actually uncovers a greater issue we have: many themes do not provide a color for the inactive focused element and so e.g. it looks weird in other themes:

![image](https://user-images.githubusercontent.com/900690/38085550-38f3d2b0-3351-11e8-8f7e-f17329ef2296.png)

[2018-03-29 11:03] alexandrudima opened #46930 "Sorting word suggestions causes 500ms stalls"
1. Create a file called `new.txt`
2. In a different software, open the attached file and select all and copy:
[large.txt.zip](https://github.com/Microsoft/vscode/files/1855332/large.txt.zip)
3. In VSCode, paste in the `new.txt` file
4. In VSCode, start typing.

Observe stalls caused by sorting word suggestions:
![image](https://user-images.githubusercontent.com/5047891/38085604-711e7a5a-3351-11e8-

[2018-03-29 11:05] alexandrudima commented on #46694
@dbaeumer I could still feel lagging. But it is not caused by the text buffer anymore (typing takes <2ms for me). It is caused by the suggest contribution sorting word suggestions. I have created #46930 to track that.

[2018-03-29 11:08] #46672 closed

[2018-03-29 11:08] weinand commented on #46672
Can reproduce with your ps output.

[2018-03-29 11:12] tfrimor commented on #46667
Yes. But wasn't that also what perExecute would do? According to the comment in #43782:

Sounds like the place where the extension could also be given the task + updated task settings to update its execution command (after the variable substitution).

[2018-03-29 11:15] alexandrudima commented on #45479
:+1: for a PR

[2018-03-29 11:19] DanTup commented on #34026
@sandy081 I'm must trying to step through this code to understand why my links aren't being detected, but I'm really confused by this code:

https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/browser/linkDetector.ts#L48-L53

As far as I can tell, this code will never execute - `resource` is always initialised as null then the if statement `continue`s?

[2018-03-29 11:20] bpasero commented on #46924
It looks like in quick open we set an option [`alwaysFocused`](https://github.com/Microsoft/vscode/blob/master/src/vs/base/parts/quickopen/browser/quickOpenWidget.ts#L241) to get this. The list widget does not support this option and instead uses `:focused `selectors to determine the state of being focused.

@joaomoreno would you be opposed if we added an option `alwaysFocused` also for the list a

[2018-03-29 11:28] DanTup commented on #34026
In fact, it looks like maybe the minifier stripped all the code out because of that?

![screen shot 2018-03-29 at 12 27 23](https://user-images.githubusercontent.com/1078012/38086528-9b74a022-334c-11e8-8008-a172e0a11ff2.png)

[2018-03-29 11:31] evn88 commented on #46470
Sometimes it is normal and sometimes starts scary scrolling when scrolling through the touchpad. Such problems with the mouse is not noticed. In other programs, scrolling works smoothly.

[2018-03-29 11:36] alexandrudima commented on #45587
@DanTup There are different philosophies. I personally belong to the camp of folks who want to be **in control** of every aspect. I don't want for an extension to make decisions on my behalf, as good and as well meaning these decisions appear.

Anyways, I suppose you could use configuration editing to edit on behalf of the user the user settings to add rulers for the language. It is considered pol

[2018-03-29 11:46] mattacosta commented on #41578
This should have been fixed in #41968.

Nevermind the part where the issue marked as a duplicate apparently wasn't, but all these other issues never got tagged... *sigh*.

[2018-03-29 12:07] jrieken commented on #46930
Well, they potentially come from different sources which make this complex... I could cheat and not sort them when there is only one provider...

[2018-03-29 12:13] #46664 closed

[2018-03-29 12:15] twajr commented on #46691
@dbaeumer, @alexandrudima , Thanks for the help on this. It's probably true about some sort of security issue as they have us using BeyondTrust to 'launch elevated' to get access to things. No real admin access on the machine, etc.

I'm attaching what I think you're asking for:

 WARN Workbench did not finish loading in 10 seconds, that might be a problem that should be reported.
/C:/Program Files

[2018-03-29 12:15] weinand commented on #46664
I had fixed this issue for the "Attach to Node Process" action instead of "Auto Attach"...
Applied same fix here.

[2018-03-29 12:20] RKopczynski commented on #9899
There is an extension with some possible customisations for highlighting.
[https://github.com/wayou/vscode-todo-highlight](VS Code TODO Highlight)

What about using this as reference? It could be great to see this as build-in feature.

[2018-03-29 12:24] rbirkby commented on #45424
The issue is on windows, not Linux.

[2018-03-29 12:26] rozzzly commented on #10121
@mdmnk No. It's an IDE.

`notepad.exe` is a text editor, `notepad++` is a text editor, `vscode` prior to intergrated terminal, task runners, scm, and debug _**was**_  a text editor. _What features do other IDEs have that `vscode` doesn't? _ There are some things I'm sure, but not many.

It is certainly lightweight when you don't install 1000 plugins. I don't mind opening `vscode` to edit `~/.bash_

[2018-03-29 12:28] alexandrudima commented on #46691
This last trace shows that the renderer and the extension host are initially communicating properly, until, at one point, the extension host decides to crash.

Given that, I wonder if any of the built-in extensions that eagerly activate are somehow causing the crash. From your [log](https://github.com/Microsoft/vscode/issues/46691#issuecomment-376867803), here are the extensions that are built-in

[2018-03-29 12:28] bpasero commented on #45424
@rbirkby there you go: https://az764295.vo.msecnd.net/exploration/ed422f909ea470f79e3e3e39c948803d9b764919/VSCode-win32-x64-1.22.0-exploration.zip

[2018-03-29 12:30] chrmarti commented on #46926
The focus ends up on the checkbox. 🤔

[2018-03-29 12:32] jrieken commented on #46930
Apart from capping the ~60000 suggestions we could be smarter with sorting. Today, we use `strings#compareIgnoreCase` but later, when filtering we lower-case all strings anyways... We could do that upfront and use the operator-based compare.

[2018-03-29 12:33] mrahhal commented on #9798
While an extension can get the job done, being built into the Find/Replace window would be ideal, with an option right next to "Use Regular Expressions", that searches in the entire file.

This hasn't been active in a long while. Is this not planned anymore? This would truly be a life changer.

[2018-03-29 12:34] Coul92 opened #46931 "Cannot remove PHP IntelliSense and PHP Debug exstensions"
Issue Type: <b>Bug</b>

After click on Remove button on any of these extensions I click Restart button and PHP IntelliSense and PHP Debug extensions installs again

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:47.128Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-6100 C

[2018-03-29 12:35] alexandrudima commented on #45474
This is as designed. The `deactivate` method is a place to clean up OS resources (kill spawned processes, etc.). It is not supported to initiate configuration edits and other such things. The reason is that the window renderer process does not wait for the extension host process. It goes down as soon as the user presses `x`.

[2018-03-29 12:37] foisonocean opened #46932 "vscode delete my code!!!"
When I use vscode GIT panel to execute `git add`, it add success but the added files become empty files, I lose all my three-days work.

[2018-03-29 12:41] benbesuijen commented on #32320
I have still this issue in VSCode version 1.21.1 running on Windows 10.

Also with the setting **"editor.formatOnPaste": false** the editor is still reformatting indentions.
For now I use the setting **"editor.autoIndent": false** and indent mannualy.

[2018-03-29 12:41] aeschli commented on #46918
Yes, #11081 is fixed now.
Can you fill in the description what is still not working for you? Samples code and reproducible steps will be very helpful.

[2018-03-29 12:56] namiqnebiyev commented on #45478
about

[2018-03-29 12:56] pybokeh opened #46933 "High CPU usage from multiple instances of WMIC.exe on Windows 7"
Hello, below is my VSCode version on Windows 7:
Version 1.21.1
Commit 79b44aa704ce542d8ca4a3cc44cfca566e7720f1
Date 2018-03-14T14:46:47.128Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

After launching VSCode, I noticed my laptop fans would come on for extended amount of time.  So I checked the CPU usage and was shocked to find multiple WMIC.exe running and taking up a lot of CP

[2018-03-29 12:58] Hurtak commented on #9899
I have also notices that there are some languages, like Python, have this implemented. So it would be nice if this worked in comments with any language.

[2018-03-29 12:58] fredizzimo opened #46934 "Git commands are still running in the background when working with the built-in terminal"
Since https://github.com/Microsoft/vscode/issues/901 is closed for comments, I can't add new information there.

I have been running with the built-in GIT completely disabled in order to not run into the issues reported by that bug. Since everything should now be fixed, I decided to try enable it again, but there are still problems.  I believe background updates are correctly disabled now when Vis

[2018-03-29 13:00] alexandrudima commented on #45131
* we have an option, `diffEditor.ignoreTrimWhitespace` that controls the diffing algorithm around trim whitespace.
* the option is true by default, i.e. to ignore trim whitespace. This should remain IMHO the default, as it produces diffs that are important and skips over whitespace (often called trivia in ASTs).
* there is a button in the diff editor, that looks like a paragraph sign, that reflect

[2018-03-29 13:02] Lisoph commented on #46846
@alexandrudima True, however I still think this feature would be useful. When I take a look at my loaded extensions during normal workload, there are two extensions with around 33 ms, a bunch around 500 ms and one > 2400 ms. The most important extension needs 366 ms. If I could make this important one load first, followed by the two very quick ones and then the rest, could speed up my workflow.

B

[2018-03-29 13:03] alexandrudima commented on #45556
Duplicate of #43477

[2018-03-29 13:03] #45556 closed

[2018-03-29 13:04] #46927 closed

[2018-03-29 13:05] alexandrudima commented on #919
The buffer has no such concept at this time...

[2018-03-29 13:07] first-bridge commented on #3130
i'd like to press Mouse2Click (middle mouse button/scroll wheel) to navigate to declaration instead of Ctrl-Mouse1Click

[2018-03-29 13:08] bpasero commented on #46926
@chrmarti ah I did not see that, maybe it should just jump back to the input field?

[2018-03-29 13:08] alexandrudima commented on #46846
@Lisoph Can you create issues against the extensions with slow startup? It is somewhat crazy that an extension would take 2400ms to activate...

Startup Activation means that the extension got activated on VSCode startup (it uses `*` or `workspaceContains:` activation events).

The other got activated by you doing something. e.g. clicking an action, opening a certain file type, etc.

[2018-03-29 13:08] dkeulen commented on #44106
I also have the same issue unfortunately.
latest vscode (1.21.1 - 79b4.....20f1), windows 10.

[2018-03-29 13:11] alexandrudima commented on #9303
@isidorn No, at this time, keybindings are contributed at runtime from various parts of our system...

[2018-03-29 13:15] kerosan commented on #3130
i'd like to press Mouse2Click (middle mouse button/scroll wheel) to navigate to declaration instead of Ctrl-Mouse1Click

[2018-03-29 13:17] bpasero opened #46935 "Workspace file: encoding should always be UTF-8"
Steps to Reproduce:

1. configure a `files.encoding` setting that is different from UTF-8 (e.g. UTF-16)
2. open the file in the settings editor

![image](https://user-images.githubusercontent.com/900690/38090894-4060ec1e-3364-11e8-81df-bf3b5636b73d.png)

=> the workspace config file is read with the configured encoding and shows up as garbage

@sandy081 I think we should always ensure this file is

[2018-03-29 13:21] #46722 closed

[2018-03-29 13:24] Tidyzq commented on #37114
+1

[2018-03-29 13:25] bpasero commented on #45048
Removing the "verification-needed" without further info. I think our selfhosting on this is sufficient coverage.

[2018-03-29 13:27] Obbi89 commented on #35675
@dmitryvk yeah It has been known that newer electron versions did not have this issue.
So I guess they updated it finally. So we might expect this to be fixed by the next release.
Maybe this can be closed with the next monthly then :)

[2018-03-29 13:28] #46928 closed

[2018-03-29 13:35] pfmoore opened #46936 "Allow temporary changes to settings"
Issue Type: <b>Feature Request</b>

When editing a standalone file (not in a workspace) I will sometimes want to have non-standard settings. A common example is to set `python.pythonPath` to a specific virtualenv, needed for an individual script.

Activating the virtualenv and editing the file

[code]

does *not* result in the virtualenv being active in VS Code, if I already have VSCode open (the

[2018-03-29 13:36] GabrielBB commented on #45474
@alexandrudima Understood. Well, i don't have options then since the uninstall hook can't access the vscode api. For now i'm manually going to the user settings json in your file system and editing it when the extension is uninstalled like this: https://github.com/GabrielBB/vscode-lombok/blob/master/src/uninstall.ts (Dirty solution lol) I will open a feature-request for vscodeapi in uninstall hook

[2018-03-29 13:38] jakrams opened #46937 "File "Collapse All" should only collapse selected folder"
Issue Type: <b>Feature Request</b>

In the Explorer panel the "Collapse All" button simply collapses the entire tree. It would be nicer, if it would restrict this to the selected folder (and of course recursively all folders inside that one).

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:47:13.351Z)
OS version: Windows_NT ia32 10.0.16299

[2018-03-29 13:39] twajr commented on #46691
Hmmm, okay, and I did install GIT-for-Windows early on so I agree with  you. I did try a few things around git, but didn't make any progress. Here's my current issue. Even though I'm launching 'elevated' I do not have the ability to enable or disable extensions, all options are grayed out.

[2018-03-29 13:40] swashata commented on #33519
I guess this is a duplicate of #20488

[2018-03-29 13:45] alexandrudima commented on #46691
@sandy081 Why would the disable buttons be grayed out?

[2018-03-29 13:53] jrieken opened #46938 "Avoid unnecessary decoration change events"
* have a workspace with a few thousand untracked changes
* profile
* reload
* tons for events are processed

That's because the git extension reports changes for *all* resources and the decoration service blindly forwards them. Instead, it should check if we have ever been interested in this resource before and iff not drop the event

[2018-03-29 13:58] tsalinger opened #46939 "HTML Intellisense crashes: "Cannot read property 'length' of undefined""
Issue Type: <b>Bug</b>

1. Create an empty html file and paste this in:
[code]
2. Insert double quotes at the cursor position ```<|>``` (the problem only occurs when using doubles quotes).

Resulting error:

[code]

![htmlintellisense](https://user-images.githubusercontent.com/15158320/38093571-ad64f25e-336b-11e8-8161-3d224a3de0b0.gif)

VS Code version: Code - Insiders 1.22.0-insider (952b2a641da8

[2018-03-29 13:59] chrmarti commented on #46926
That works for mouse operation. You can still tab through all checkboxes, which might or might not be expected given that the list already has a focus cursor to move through all elements. Do you understand the accessibility side of this?

[2018-03-29 14:05] #46929 closed

[2018-03-29 14:06] DanTup opened #46940 "Ability to detect whether a theme is light/dark programatically"
This has been requested before (#7589) but I don't believe the suggest solution covers all cases (as suggested in the last comment).

I'm trying to insert images into hovers for icons like this:

![](https://user-images.githubusercontent.com/1442874/36900652-e4859276-1e02-11e8-940f-4428b0b17e3b.png)

I have URLs for where the icons live like this:

https://storage.googleapis.com/material-icons/ext

[2018-03-29 14:12] sloanryuu opened #46941 "Can't input Chinese in Linux system"
Issue Type: <b>Bug</b>

As the title, I can't input the Chines character in linux system.
When I input it, the vscode will not reponse and crash.

My system is fedora 27. The input method have been tried are fcitx and hime. Locale settings is zh_TW.
By the way, before I change locale to zh_TW, I can't even open the file contents Chinese character.

Could anyone help me to solve this problem? Many

[2018-03-29 14:12] alexandrudima opened #46942 "Cannot click on line with inline decoration"
- Run the extension
- Open a document with an empty 1st line
- Run the below command from the command palette
- Click anywhere on the line that has the decorator
- Attempt to type in the document

[code]

[2018-03-29 14:22] usernamehw commented on #46937
I think you can do that with <kbd>alt</kbd>+<kbd>Click</kbd>

[2018-03-29 14:25] RKopczynski commented on #9899
@Hurtak extension which I mentioned isn't language dependent. It works just by file extension, so in python it would work as well.

[2018-03-29 14:31] sgon00 opened #46943 "Is that possible to check the number of files that file watcher currently handles?"
OS: Arch Linux

I am wondeirng how I can know whether or not `files.watcherExclude` setting works as expected. I think the easiest way is to check the number of files that vscode file watcher currently handles. But I failed to find a way to check this. I asked in gitter and search in google. but so far I don't find anything useful.

I am very sorry if this is already documented somewhere.

[2018-03-29 14:36] jakrams commented on #46937
Oh nice, that works indeed.

[2018-03-29 14:36] #46937 closed

[2018-03-29 14:37] aeschli opened #46944 "[folding] provide a setting to disable language specific folding strategy"
Allow uses to force that the indentation based folding strategy is used, in case we still have bugs in our implementations.

[2018-03-29 14:39] aeschli commented on #46944
Adding
[code]

[2018-03-29 14:42] willsoto commented on #2755
@bpasero I'd be interested in taking a stab at this, if you think it's feasible. I just need to be pointed in the right direction.

[2018-03-29 14:42] aeschli commented on #46944
Verifiers, make sure the build already contains the feature.

[2018-03-29 14:43] #46944 closed

[2018-03-29 14:49] andy-ms commented on #46879
Can confirm that this works on windows.

[2018-03-29 14:51] #46925 closed

[2018-03-29 15:03] scottbickell commented on #1808
Any updates on this? Expand selection is terrible. In an HTML doc, the selection goes from one word, one line, to entire document. As @Maxhodges said, IntelliJ IDEs do this right and it is one of the main reasons I continue to use their products instead of VS Code. Come on people, figure it out.

[2018-03-29 15:07] scottbickell opened #46945 "Expand selection"
Issue Type: <b>Bug</b>

Selection > Expand Selection doesn't work right. Please see IntelliJ Phpstorm for an example of expected behavior.

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:39:09.335Z)
OS version: Darwin x64 16.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4570 CPU @ 3.20GHz (4 x 3200)|
|Load (a

[2018-03-29 15:17] BytewaveMLP commented on #45492
@danloiterton Don't forget that Chrome has `chrome://flags` which should let you set the `--ignore-gpu-blacklist` flag without having to pass it on the command line. Code doesn't have a similar interface, unfortunately, but at least you don't have to make a shell script for *everything*. :P

[2018-03-29 15:22] roblourens commented on #46625
Can you change it to PHP if you click on Plain Text?

Can you try downloading the Insiders' build and tell me whether it happens there? https://code.visualstudio.com/insiders

[2018-03-29 15:22] predawnang commented on #46920
sorry so late. I am a novice for programing, I just downloaded vscode yesterday. And  I wanna use it for writting some code about scheme .I have installed some packages and themes.I want to ask whether this picture is helpful?
<img width="1108" alt="1" src="https://user-images.githubusercontent.com/37857978/38095809-e26772b4-33a3-11e8-9bdf-7869126b32b1.png">

[2018-03-29 15:23] predawnang commented on #46920
thank you so much

[2018-03-29 15:26] bpasero commented on #2755
@willsoto thanks for your help but in this case I would stay away from a PR because this area will get a rewrite for the planned grid layout feature. I was planning to tackle this as part of the grid layout.

[2018-03-29 15:27] bpasero opened #46946 "Multi select: avoid global CSS rules unless really needed"
As discussed, we should style HTMLElements directly whenever possible and only use the theming participant for complicated CSS rules.

[2018-03-29 15:27] roblourens commented on #45000
Yes it does, there are issues with searching in long lines like https://github.com/Microsoft/vscode/issues/31551 and we should be doing that differently.

[2018-03-29 15:29] bpasero opened #46947 "Multi select: use existing widgets where possible"
I noticed that the button in the quick input is not using our [`Button`](https://github.com/Microsoft/vscode/blob/master/src/vs/base/browser/ui/button/button.ts#L36) widget. This would ensure that the button behaves consistently with other buttons in our system. I noticed this while seeing the fix for https://github.com/Microsoft/vscode/commit/acb52f61cda414d63b9251db03faace3155e288b and was wonde

[2018-03-29 15:29] asinitson opened #46948 "Protractor breakpoints are not active until toggled off/on"
Issue Type: <b>Bug</b>

### Steps to reproduce

1. Use this protractor configuration from [Microsoft/vscode-recipes/Angular-CLI/](https://github.com/Microsoft/vscode-recipes/tree/master/Angular-CLI)
[code]
2. Set breakpoint(s) in Visual Studio Code
3. Start debugging
4. All breakpoint(s) will be inactive. Hovering over them displays this message:
`Unverified breakpoint, Breakpoint ignored because

[2018-03-29 15:32] bpasero opened #46949 "Multi select: should focus stay in input box when arrowing up/down?"
Maybe this was an explicit design decision but imho it would be nice if focus would stay in the input box when I arrow up or down in the same way this works for quick open picker.

[2018-03-29 15:34] bpasero commented on #46949
Related: If you arrow down once from multi select, nothing visually happens. I guess what I would expect - similar to quick open - that the next item is selected in the list. But the moving of focus is very subtle.

[2018-03-29 15:35] jacobohidalgo commented on #32320
I have this issue too in version 1.21.1 in MacOS High Sierra. When I paste in HTML files the content is double idented.

[2018-03-29 15:36] bpasero commented on #46920
@predawnang can you run from the terminal: `code --verbose` and attach the output and see if it still freezes?

[2018-03-29 15:42] jkone27 commented on #17920
+1 definitely useful, export search results

[2018-03-29 15:44] bpasero commented on #46943
There is no way currently but we plan to improve file watching so that this is no longer needed.

[2018-03-29 15:44] #46943 closed

[2018-03-29 15:48] bpasero commented on #46833
@yinzhixin can you try to reproduce from this newer build: https://az764295.vo.msecnd.net/exploration/ed422f909ea470f79e3e3e39c948803d9b764919/VSCode-win32-x64-1.22.0-exploration.zip

[2018-03-29 15:48] alexandrudima commented on #46891
I could not reproduce:

![kapture 2018-03-29 at 17 48 11](https://user-images.githubusercontent.com/5047891/38098872-6416b12e-3379-11e8-8710-16a36a23ffc5.gif)

[2018-03-29 15:51] roblourens commented on #46905
Can you share your project?

[2018-03-29 15:57] dpsthree commented on #46315
I have another use case in support of @Crazy-P 's suggestion

I often open a root folder containing many sub-projects beneath them. For example, client, server, tools, common, etc... I often want to perform searches within just one of these top level folders at a time. With the new UI I need to explicitly exclude each top level folder in order to search within the client folder.

The previous vers

[2018-03-29 16:00] predawnang commented on #46920
it seems as if I am wasting your time. I am sorry about that. I've restarted the computer after I ask the questions about half hour. thank you so much

[2018-03-29 16:02] rardz opened #46950 "Can't expand to check the data of a Variable when debugging pytorch code"
for the pytorch Variable object listed in the debug panel, expand to see its **data** part shows no tensor which suppose to have in a pytorch Variable, and among the items in **data**, there is another nested **data** part which have endless nested **data** part in it.

- VSCode Version: Code 1.19.3 (7c4205b5c6e52a53b81c69d2b2dc8a627abaa0ba, 2018-01-25T10:32:23.601Z)
- OS Version: Linux x64 4.13.1

[2018-03-29 16:03] predawnang commented on #46920
if it happens again, I'll do it. thank you again

[2018-03-29 16:09] weinand commented on #46950
Please file an issue against the Python extension.

[2018-03-29 16:09] #46950 closed

[2018-03-29 16:11] jeremyfa commented on #45492
Same issue here, started to have it after updating vscode last week I think. I have it on a Macbook Pro Retina 15 inches, but it doesn't occur on my secondary screen which is default DPI.

[2018-03-29 16:13] sandy081 commented on #46691
Enablement actions are not enabled when started with `--disable-extensions`. It used to be the behaviour before supporting enabling/disabling extensions. This should be changed for built in extensions.

[2018-03-29 16:14] bpasero commented on #46920
Ok lets reopen when you can reproduce then.

[2018-03-29 16:14] #46920 closed

[2018-03-29 16:14] RMacfarlane commented on #46914
@justalemon There should already be a message displayed at the top when the UI is set to a non-English language:

![screen shot 2018-03-29 at 9 11 20 am](https://user-images.githubusercontent.com/3672607/38100093-40f23abc-3331-11e8-924b-fb99e5295892.png)

Do you not see this?

[2018-03-29 16:14] sandy081 opened #46951 "Enablement actions should not be disabled for built in extensions"
- Run code with `--disable-extensions`
- Go to extension view and show built in extensions
- 🐛 Enablement actions are disabled

[2018-03-29 16:16] svipben commented on #45479
@alexandrudima Thanks. I will start to work on it right now!

[2018-03-29 16:17] sandy081 commented on #46691
As a workaround user can try disable all installed extensions action in the extensions view and disable the built in extensions.

**Note**: This will change the disablement state of all extensions and after enabling all, user have to manually disable those extensions which he/she had before disabling all.

[2018-03-29 16:17] roblourens commented on #46931
Can you uninstall other extensions?

[2018-03-29 16:21] sandy081 commented on #45474
@GabrielBB Makes sense. Please update the current issue to support for such api in uninstall hook.

[2018-03-29 16:33] Tyriar commented on #46911
Duplicate https://github.com/Microsoft/vscode/issues/43671

[2018-03-29 16:33] #46911 closed

[2018-03-29 16:35] sweenish commented on #32717
Can confirm that invoking a specific shell like ubuntu.exe or debian.exe will open the terminal and place you in ~. I tried using the terminal.integrated.cwd to take me to "${workspaceFolder}", but then my terminal would never open.

Changing my terminal.integrated.shell.windows to C:\\Windows\\sysnative\\bash.exe was required for it to open the terminal in my actual workspace folder. Using the co

[2018-03-29 16:41] Tyriar commented on #46915
@SkeLLLa I think you may have a custom keybinding defined. The default in 1.21.1 on Linux is this:

[code]

And it does not cause any issues when a markdown file is opened and the terminal has focus.

[2018-03-29 16:42] jjacode commented on #45993
@mjbvz I've been trying the insider's build all morning. It seems to work now. Whereas my production build of VS Code keeps crashing about every 10 to 15 minutes.

It is commit: 952b2a64

[2018-03-29 16:42] mix3d commented on #45492
what's the impact if we turn it on for all builds as part of the regular
release?

On Thu, Mar 29, 2018, 12:12 PM Jérémy Faivre <notifications@github.com>
wrote:

[2018-03-29 16:43] robdev2 opened #46952 "Setting Keyboard Shortcut Scroll to Bottom/Top on Mac to Cmd+End/Cmd+Home has no effect"
Going to Keyboard shortcuts and changing the key combination for Scroll to Bottom/Top registers the correct key combination, but in the editor it does nothing.

For Scroll to Bottom I see the following key codes when I highlight over the combination

code: End, keyCode: 35, key: End => UI: Command+End, user settings: cmd+end; dispatch: meta+[End]

- VSCode Version: 1.21.1
- OS Version: macOS High

[2018-03-29 16:53] RoyTinker commented on #10121
@rozzzly Visual Studio, at least, has a large set of features that vscode doesn’t have. Runtime profiling for .NET, SQL Server tools, a massive test management system, Azure tools (MS’s cloud), built-in task/PR/issue tracking — to recall a few off the top of my head. It’s a truly massive product. By that measure, VSCode is just an editor, despite built-in debugging/etc. — it doesn’t ship with ever

[2018-03-29 17:01] camflint commented on #46319
I can reproduce this issue consistently within a workspace. Only files that are opened are searched, instead of the expected behavior of all files on disk within the search scope. The exclude filter and "search.exclude" are not involved. Turning ripgrep on/off does not make a difference.

[2018-03-29 17:02] Tyriar commented on #46830
@yume-chan yes that's a known issue as it will get fixed once we do https://github.com/Microsoft/vscode/issues/23688

[2018-03-29 17:04] kemalbirinci opened #46953 "create a new component under a path."
My command
tns g c components/Test/TestList

it creates components and Test directories if not exist. It is good. But class name is wrong.

export class **Components/Test/TestListComponent** implements OnInit

angular cli creates like this.
export class **TestListComponent** implements OnInit

[2018-03-29 17:06] alexburner commented on #2755
@bpasero grid layout sounds exciting! Any public plans/details you could link us to?

[2018-03-29 17:07] Mellbourn commented on #46731
@Tyriar strange. Ok, I'll try to investigate further on my own, to figure out why it is happening. Thanks for your time!

[2018-03-29 17:10] Tyriar opened #46954 "Provide a fallback DOM renderer for terminal to use when GPU it turned off"
Upstream: https://github.com/xtermjs/xterm.js/issues/1360

[2018-03-29 17:11] Tyriar commented on #44273
Ah I know why this is happening, when you resize the terminal it will resize the canvas which clears it and forces a full redraw. Since you're on a slow PC where the GPU doesn't play nicely with Chromium this takes longer than expected.

It's become apparent over the last few months that we need a fallback here. Created https://github.com/Microsoft/vscode/issues/46954 to track.

---

I'll close th

[2018-03-29 17:11] #44273 closed

[2018-03-29 17:12] Tyriar commented on #36913
I created https://github.com/Microsoft/vscode/issues/46954 to provide a fallback when canvas GPU acceleration is turned off.

[2018-03-29 17:12] Tyriar commented on #46900
Duplicate https://github.com/Microsoft/vscode/issues/35901

[2018-03-29 17:12] #46900 closed

[2018-03-29 17:13] allanseleguim opened #46955 "Emmet dont work"
Issue Type: <b>Bug</b>

Emmet dont work, the extension ins correctly installed

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:47.128Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-2365M CPU @ 1.40GHz (4 x 1397)|
|Memory (System)|5.89GB (2.40GB free)|
|Process Argv|C:\Pro

[2018-03-29 17:13] Tyriar commented on #44642
@richardfickling that's a good point that it will break double/triple click selection. Maybe there should be a setting to drive this... @joaomoreno any opinions on this?

[2018-03-29 17:15] BytewaveMLP commented on #45492
I believe the list of disabled/enabled cards is available [here](https://www.khronos.org/webgl/wiki/BlacklistsAndWhitelists#Chrome). Any systems with these cards disabled with good reason may be affected, but considering the age of most of these... hm.

[2018-03-29 17:16] Coul92 commented on #46931
The problem solved after rebooting of PC. I've just installed a vs code and got that problem.

чт, 29 мар. 2018 г., 19:18 Rob Lourens <notifications@github.com<mailto:notifications@github.com>>:

Can you uninstall other extensions?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/Microsoft/vscode/issues/46931#issuecomment

[2018-03-29 17:19] Tyriar commented on #45492
@BytewaveMLP it looks like [this file](https://cs.chromium.org/chromium/src/gpu/config/software_rendering_list.json?q=software_rendering_list&sq=package:chromium&dr) is what's used and goes into detail on what features are disabled for each configuration. `accelerated_2d_canvas` is the primary feature we need for this, not 100% sure what other ones affect canvas rendering.

[2018-03-29 17:20] svipben commented on #45479
@alexandrudima Already done in https://github.com/Microsoft/vscode/pull/46956. Please review ☺️

[2018-03-29 17:24] twajr commented on #46691
Okay, there is no 'disable built in extensions' I tried 'disable installed extensions' but that had no effect, as it only affects the two I have installed that aren't the issue.

[2018-03-29 17:27] #46731 closed

[2018-03-29 17:28] Tyriar commented on #46731
@Mellbourn let us know if you find out more info.

[2018-03-29 17:30] Tyriar commented on #32717
@bitcrazed any reason why the cwd will only be set correctly when using "bash.exe", not specific distros like "ubuntu.exe"?

[2018-03-29 17:35] roblourens commented on #46913
The issue with the breakpoint starting out gray, then turning red once it's hit, it expected if the code is not actually loaded initially. The breakpoint only turns red once it's bound to a real location in loaded code.

The issue with not seeing the real local variables is strange... Did it stop in the correct location? If you step over the console.log line, does the log show up in the console at

[2018-03-29 17:36] roblourens commented on #46319
Can both of you try downloading the Insiders' build and tell me whether it happens there? https://code.visualstudio.com/insiders

[2018-03-29 17:37] SkeLLLa commented on #46915
It looks like an old markdown extension that was deleted long time ago left its remains in keybindings.

[2018-03-29 17:37] #46915 closed

[2018-03-29 17:37] roblourens commented on #46315
There shouldn't be any real behavior difference between the old and new versions. If you want to include one folder, you can do that the same way that you used to. Can you explain some more?

[2018-03-29 17:38] roblourens commented on #46948
Can you try downloading the Insiders' build and tell me whether it happens there? https://code.visualstudio.com/insiders

A similar sounding issue was fixed in Insiders this month.

[2018-03-29 17:44] Tyriar commented on #45569
@bpasero I think blocking install without closing VS Code would not be ideal for Linux. This would cause `apt`/`dnf` to fail updating half way through, which may not only be updating VS Code (eg. `sudo apt-get upgrade`).

[2018-03-29 17:49] #46283 closed

[2018-03-29 17:49] alexreg opened #46957 "Pipe command"
Could we get a command to pipe the current selection (or current file) through a shell command, and replace it with the output? This is a very useful feature that e.g. TextMate has.

[2018-03-29 17:56] svipben commented on #46129
@bpasero I saw your last commit https://github.com/Microsoft/vscode/commit/b670f87518ccd4165206e18c40c76d94b053e5c6 was bringing back `list.inactiveFocusBackground`. Why?

[2018-03-29 17:56] Tyriar commented on #43169
@meichthys the latest build should have the additional logging in place

[2018-03-29 18:01] cnshenj commented on #44373
I can repro easily. Open "tsc.js" from TypeScript node module (`npm install typescript`, "tsc.js" is located in "node_modules/typescript/lib"), then use "Ctrl+End" to jump the end. You'll see the code is not syntax highlighted. Wait about 1 minute, then the highlight shows up.

[2018-03-29 18:03] fgarcia opened #46958 "Option to treat external file opening as "selection" not as "split""
- VSCode Version: 1.21.1
- OS Version: 10.13.3

It would be something similar to what MacVim already does by default. Opening a file from outside causes the app to relocate the cursor AND focus in the app, not to change the layout

Whenever I split a file I want two views of the same file, however if I click a file link from an external app (like a terminal file link) VSCode thinks I want a new Sp

[2018-03-29 18:05] #45945 closed

[2018-03-29 18:08] rebornix commented on #45690
@AlCalzone we didn't optimize regex searching yet but it's on my palette.

[2018-03-29 18:08] #45690 closed

[2018-03-29 18:21] #46848 closed

[2018-03-29 18:24] rebornix commented on #45650
Dup of https://github.com/Microsoft/vscode/issues/38663.

[2018-03-29 18:30] DanTup commented on #45587
Yeah, I'm kinda in two minds about it myself. I thought it'd be nice to indicate to users where we'd automatically wrap and have them not have to maintain two values, but since it's unlikely to change maybe it's not a big problem.

There are a bunch of Code defaults that cause issues (or people to report bugs) so I was going to add a "recommended settings" page to our website listing the things we

[2018-03-29 18:31] rebornix commented on #39773
@idanwe we remember the options you use last time that's why you still see it but by default, Match Case and Match Whole Word are turned off.

[2018-03-29 18:31] #39773 closed

[2018-03-29 18:34] #40407 closed

[2018-03-29 18:35] Tyriar opened #46960 "Performance issue reporter should pull in GPU features"
Electron has an API that fetches the Chromium GPU-related flags [`app.getGPUFeatureStatus`](https://electronjs.org/docs/api/app#appgetgpufeaturestatus). This information would be very useful in determining whether the performance issue was caused by hardware acceleration being disabled.

FYI @bpasero

[2018-03-29 18:38] Tyriar commented on #45492
@mix3d maybe it's this one? https://cs.chromium.org/chromium/src/gpu/config/software_rendering_list.json?q=software_rendering_list&sq=package:chromium&dr&l=748

You could try updating your drivers. Intel is mentioned a lot in that file, it's tough to tell without knowing. Also we'll be on an older version of that file since Electron isn't on the latest version of Chromium, so the list will be a li

[2018-03-29 18:41] roblourens commented on #37079
Seems to work for all except that `* [заголовок-header-3](#Заголовок-header-3)` goes to `### Header 3`?

[2018-03-29 18:45] #46931 closed

[2018-03-29 18:45] rebornix commented on #41504
thanks, dup of https://github.com/Microsoft/vscode/issues/20453

[2018-03-29 18:45] #41504 closed

[2018-03-29 18:47] rebornix commented on #40623
We implemented this feature (global clipboard) a while ago but now we turned it off by default.

[2018-03-29 18:47] #40623 closed

[2018-03-29 18:48] CCludts commented on #46346
Sorry for the late response. Didnt run into the issue until today.
![image](https://user-images.githubusercontent.com/18717967/38107468-57de5402-3392-11e8-8e1f-744c297a90ba.png)
![image](https://user-images.githubusercontent.com/18717967/38107507-72b3558e-3392-11e8-9a3c-2df241c15909.png)

[2018-03-29 18:48] rebornix commented on #41373
Hi @kdheepak IMHO it's an issue with the Vim extension you are using, please file issues there first.

[2018-03-29 18:48] #41373 closed

[2018-03-29 18:48] sbatten opened #46961 "Select To Next/Previous Command loses terminal focus when invoked from the command palette."
Issue Type: <b>Bug</b>

When invoking `Select to next/previous command` from the command palette, the terminal loses focus  and causes confusion.

VS Code version: Code - Insiders 1.22.0-insider (952b2a641da89a6c7bc28387474bc8afd47f0d2f, 2018-03-29T05:17:25.524Z)
OS version: Windows_NT x64 10.0.16299

[2018-03-29 19:07] #41634 closed

[2018-03-29 19:10] rodolphito commented on #46893
Here it is:
<img width="518" alt="screen shot 2018-03-29 at 12 07 33 pm" src="https://user-images.githubusercontent.com/11307157/38108561-16a6d72c-334a-11e8-97fa-4c144087c49f.png">
<img width="795" alt="screen shot 2018-03-29 at 12 08 30 pm" src="https://user-images.githubusercontent.com/11307157/38108562-16b93c32-334a-11e8-9fb6-0dc4ec3f849b.png">
Thanks

[2018-03-29 19:11] rebornix commented on #44373
Our current tokenization engine goes from the top to the bottom and this engine with a rich grammar (TypeScript) can be slow.

[2018-03-29 19:15] #45251 closed

[2018-03-29 19:16] Tyriar commented on #45996
Still happening in 952b2a641da89a6c7bc28387474bc8afd47f0d2f on mac:

Before:

<img width="160" alt="screen shot 2018-03-29 at 12 15 35 pm" src="https://user-images.githubusercontent.com/2193314/38108835-f0547b8c-334a-11e8-8609-5d9817d0f3ef.png">

After:

<img width="156" alt="screen shot 2018-03-29 at 12 15 40 pm" src="https://user-images.githubusercontent.com/2193314/38108838-f1bc5dfa-334a-11e8-9

[2018-03-29 19:25] meichthys commented on #43169
I don't think there was much else of interest, but here it is anyway:

[code]

[2018-03-29 19:32] Tyriar commented on #43169
@meichthys interesting, this is telling me that the process starts but doesn't send any messages or exit, it's just sitting there. Could you try look at the process tree by running `code-insiders --status` and paste that in? The table with this header is what I'm after:

[code]

Also can you get the table when you open multiple terminals as well?

[2018-03-29 19:40] meichthys commented on #43169
here's what i get when running the status command:
[code]

[2018-03-29 19:40] chrmarti commented on #46949
We need to move the focus because we use Space to toggle checkboxes and Space is already taken in the filter text field for adding the space character. The workaround for #46924 has removed the distinction between active and inactive focus, that might need more thought.

[2018-03-29 19:41] eazrael commented on #24783
This solved this issue for me, Thanks :-)

[2018-03-29 19:41] EdwinSaenz commented on #45848
So, should I wait for a plan of action?

[2018-03-29 19:42] Mates1500 commented on #46905
I've been encountering the same problem.

It started appearing when I upgraded my Angular project from version 4.2 to version 5.2. I've noticed that WebPack has a little different behavior, so I imagine that one has been upgraded as a part of the process, too.

1. In the previous version, the root of webpack:// started referencing the source map files/folders outright, but the new version has this

[2018-03-29 19:43] zachgibson commented on #35197
@Toisen your keybinding is nice but it deletes characters inside curlies if you select them and *then* press curly brace—which personally I do pretty often.

[2018-03-29 19:44] Tyriar opened #46963 "ps-win.ps1 errors when running code --status"
Extracted from https://github.com/Microsoft/vscode/issues/43169#issuecomment-377349218

[code]

It might make sense to transition to [windows-process-tree](https://github.com/Microsoft/vscode-windows-process-tree) v0.2.0 instead of fixing this. /cc @RMacfarlane

[2018-03-29 19:45] Tyriar commented on #43169
@meichthys 😕 that looks like a bug, created https://github.com/Microsoft/vscode/issues/46963 to follow that up. Instead of `--status` then, could you try getting and pasting in the process tree under VS Code using [ProcessExplorer](https://docs.microsoft.com/en-us/sysinternals/downloads/process-explorer)?

[2018-03-29 19:47] shaipetel opened #46964 "VSCode on Mac cannot login to GitHub with 2FA on"
- VSCode Version: 1.21
- OS Version: MacOS

Steps to Reproduce:

1. Open a Github account
2. Enable 2FA where it sends you an SMS to verify login
3. Open a repository on GitHub
4. Clone it locally, make some changes
5. Try to sync your changes - it will fail with wrong user name / password error after prompting you for user name and password.

Does this issue occur when all extensions are disabled

[2018-03-29 19:48] shaipetel commented on #490
Since I don't want to Hijack this thread for Mac, I opened a separate issue for Mac OS:
https://github.com/Microsoft/vscode/issues/46964

[2018-03-29 19:50] CCludts commented on #46346
Better breakpoint (i think?). It happens every single time when intellisense provides a suggestion inside the shift-12 editor.
![image](https://user-images.githubusercontent.com/18717967/38110187-17a4d448-339b-11e8-95f4-92789d947aa7.png)

[2018-03-29 20:02] Toisen commented on #35197
@zachgibson well, unfortunatelly it's far from perfect. If you need to surround selected text, then try extension called [Embrace](https://marketplace.visualstudio.com/items?itemName=mycelo.embrace). Looks like it does exactly what you want.

[2018-03-29 20:08] dmstern opened #46965 "Git-FR: Add `force push` option"
- VSCode Version: 1.21.1
- OS Version: Windows 10

Sometimes you have to force push some commits. Unfortunately, you have to use the terminal for this. It would simplify the workflow if we had an option to do that via the UI.

*Suggestion 1:*
(Like `amend`): display the command in the source control context menu and command palette.

*Suggestion 2:*
When the user triggers the `push` command, show

[2018-03-29 20:12] Tyriar commented on #43169
@meichthys perfect! Thanks for sticking with me 😄

The `--type=terminal` process is meant to always have children (conhost.exe, winpty-agent.exe and cmd.exe/powershell.exe/etc). My current theory is something is failing when launching the winpty agent process such that it never fires its [exit event](https://github.com/Microsoft/vscode/blob/b7721220b0ad94daaa39f726402999b286d5cdf7/src/vs/workbench

[2018-03-29 20:25] meichthys commented on #43169
I'm not sure if this helps:
![image](https://user-images.githubusercontent.com/10717998/38111726-c98312e8-336d-11e8-8e08-9d9e11727224.png)

[2018-03-29 20:45] dmstern opened #46966 "Add git push dialog"
To avoid accidental pushes and to get more clarity on what I am pushing to a git repo, I would like to see a list of all unpushed commits before VSC actually executes the push command.

I'm thinking of something like the push dialog from Webstorm / IntellijIDEA.
![push dialog screenshot](https://github.com/dmstern/git-play/blob/master/push-dialog.PNG?raw=true)

[2018-03-29 20:46] chrmarti commented on #46949
I'll revert the workaround for #46924. The list needs to be able to have focus because Space works on both the checkboxes and the input field and not having a visual indication when the list has focus makes things worse.

[2018-03-29 20:50] dmstern commented on #46966
duplicates #22238

[2018-03-29 20:50] #46966 closed

[2018-03-29 20:57] renatoleite opened #46967 "Issue to debug code in nodejs"
I have an issue to debug my server application in nodejs,  a some days ago the vscode was working fine, but without reason the debug stopped to work. Now, when I debug the code, vscode seems start the debug, but the application not launch the server.

To solve the problem, I tried many things, like:
- Restarted the computer.
- Reset the package.config
- Run vscode like administrator.
- Remove all

[2018-03-29 20:58] RMacfarlane opened #46968 "Extensions list should be sorted in issue reporter"
When filing on an extension, the list shown should be alphabetically sorted. Potentially group non theme extensions in front of themes

[2018-03-29 21:02] klukiyan commented on #27083
@dkent600 , unfortunately yes :(.
But I simply got used to selecting more than one row whenever I want to achieve the result.
It also doesn't work with CTRL+H. So I simply select >1 rows CTRL+F then switch to CTRL+H

[2018-03-29 21:27] alongafni opened #46969 "References screen won't close if code was edited inside it"
Issue Type: <b>Bug</b>

Open the references window by right-clicking a type and selecting "show all references".
Then go to some references and edit the code inside the references window directly.
Try to close the references window - it won't close.

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:47.128Z)
OS version: Windows_NT x64 10.0.16299

<details>
<s

[2018-03-29 22:08] inarius commented on #10121
I hope we can quit discussing what obligations this tool has to implement certain features. That seems like a quick way to get this topic locked. I will continue to share support for this feature with thumbs up and rare constructive comments.

There are multiple ways this could be approached, I still think we need general guidance from the VSCode team before anyone can direct their support to othe

[2018-03-29 22:17] RoyTinker commented on #10121
@michaljaros84 The fact that VS Code isn't intended to be an IDE like Visual Studio doesn't at all preclude UX enhancements like floating in-process windows.

[2018-03-29 22:18] roblourens commented on #46782
The regex that parses the wmic output is not matching. The output for me looks like

[code]

So the problem is that the regex expects a `+` at `-420`, which is the time zone! It works if I change the regex. That's a good one...

[2018-03-29 22:18] roblourens commented on #46782
I also noticed that some lines only have empty space for the CommandLine attribute, so the regex doesn't match for those either. Is that expected?

[2018-03-29 22:21] inarius commented on #10121
@RoyTinker Perhaps we can discuss the merits of floating in-process versus separate instances? I don't see a value to dramatically increase complexity if the same functionality can be achieved by spawning a new process.

[2018-03-29 22:21] Krzysztof-Cieslak commented on #10121
The fact that Code is an IDE doesn’t mean we need to port all terrible UX choices for VS like floating panels.

[2018-03-29 22:22] bitcrazed commented on #45520
Sorry - corrected above - just run `chcp` (without `.exe`) from within Cmd and from within the Cmd instance attached to your VSCode's integrated terminal.

[2018-03-29 22:25] HighCommander4 commented on #10121
The same functionality can't be achieved by spawning a new process, because, AIUI, for languages that have LSP-based tooling, the two processes could not both talk to the same language server, so you'd only have the LSP-based features in one of them.

[2018-03-29 22:25] CryoRenegade opened #46970 "Source Code build not finishing"
- VSCode Version:None
- OS Version:Win 10 64bit

Steps to Reproduce:

1.yarn run watch
2.

It has been 20 mins since the terminal has outputted anything after `[16:11:18] Finished compilation with 0 errors after 48040 ms` finished. This also occurs on my mac on the exact same step.
`C:\Users\jledb\vscode>yarn run watch
yarn run v1.5.1
$ gulp watch --max_old_space_size=4096
[16:10:26] Node flags de

[2018-03-29 22:30] bitcrazed commented on #45520
You likely want this as your args setting:

    "terminal.integrated.shellArgs.windows": ["/k", "chcp 949"],

`/c` will execute the following command and exit. `/k` keeps the console connection open. Don't know what the `-NoExit` was for.

[2018-03-29 22:30] RoyTinker commented on #10121
@inarius Sure, although that has been discussed above already (see my "20% effort/80% benefit" comment). As I understand it, the use case is to support multiple monitors better.

For a variety of reasons (like the one mentioned by @HighCommander) VS Code only starts one workspace per folder (and currently a single workspace can't span multiple instances).

[2018-03-29 22:32] rebornix commented on #45281
I'm not sure about the expected behavior of clicking urls like `/abc/def` as it's relative to the root folder of the server, which we don't know for sure.

[2018-03-29 22:37] rebornix commented on #43177
@metonimie does selecting these three consecutive lines and then moving them up/down work for your case? Or you need multi cursor to do something others.

[2018-03-29 22:37] weinand commented on #46782
Ha, excellent find! Thanks for you investigation.

afters today's finding that it works in ZRH but not in the US I had a similar speculation (but I had forgotten that I had added the start time to get the sorting right). It would be great if you could add a '-'. Maybe there is even a ' ' if you are in the Greenwich time zone ;-)

If the CommandLine is really empty, then the process is not really i

[2018-03-29 22:38] rebornix commented on #42852
It's already turned off by default.

[2018-03-29 22:38] #42852 closed

[2018-03-29 22:39] andy-ms opened #46971 "References view shouldn't move scrollbar when clicking on a reference"
Issue Type: <b>Feature Request</b>

* Paste:
[code]
* Find all references on `a`.
* Scroll to a reference that requires scrolling to (for me the first one is `a + 13`) and click.
* Now we want to view the next reference. It's hiddenScroll down and click on `a + 14`.
* Now we want to view the next reference, that's `a + 15`. We've scrolled down twice already, but when we click on a reference the ed

[2018-03-29 22:41] pltrant commented on #46526
I ran into the same issue as @DanTup.  Unless I am missing something, using `createTreeView` in place of `registerTreeViewDataProvider` isn't documented anywhere outside of this issue and the sample code.  The [1.21 Release Notes](https://code.visualstudio.com/updates/v1_21#_custom-views-reveal) even shows using `registerTreeViewDataProvider` and the 1.22 Release Notes just refers to the former.

[2018-03-29 22:46] danmarshall commented on #41775
👍 I've long wanted this feature in an editor. It could also support a data-uri.
Come to think about it, perhaps this could be implemented markdown inside of a multi-line comment.

[2018-03-29 23:01] inarius commented on #10121
Thanks for the answers. I guess I can understand that. To be honest I am often using VS Code by opening files and not folders. If I were working on a git project, I could see how my current workflow of opening a new window and dragging files there would only allow me to take folder/git actions from the original window.

When I try this now, the new workspace definitely doesn't reopen the folder, b

[2018-03-29 23:15] amranidev opened #46972 "Cannot install extension, frozen"
- VSCode Version: 1.21
- OS Version: Windows 10

![image](https://user-images.githubusercontent.com/12874619/38117775-d48b5d58-33ae-11e8-9c7e-268a1ba449ca.png)

I cant install extensions in vscode, when I click on `install` the installing button is frozen.

Any idea?

Thanks

[2018-03-29 23:16] gushuro opened #46973 "Emmet doesn't get triggered in single line SCSS with nested rules"
In the following example `.foo{ dn| .bar{display: none;}}` we get css completions but no emmet ones. Triggering with tab or with Expand Abbreviation command doesn't work either.
If we add a new line
[code]
everything works fine.

[2018-03-29 23:47] Eccenux commented on #45330
Would be even better if search result would also be saved. So that you could switch between to search tabs/items quickly. This is something Netbeans has and it's very useful for refactoring and rewritting.

[2018-03-29 23:52] RMacfarlane opened #46974 "'Markdown: Show Source' command not always available when focusing markdown preview"
Steps to reproduce:
1. Open a markdown file
2. Run `Markdown: Open Preview`
3. Run `View: Move Editor into Next Group` on the preview
4. Focus an editor editor in the previous group
5. Focus on the preview
6. Typing `Markdown: Show Source` shows no available commands

![markdown_show_souce](https://user-images.githubusercontent.com/3672607/38118620-d8d70ba2-3370-11e8-93aa-e5cec3d7278a.gif)

Moving

[2018-03-30 00:09] verylongword commented on #7570
I have this issue:  30 march 2018
Version 1.21.1
Commit 79b44aa704ce542d8ca4a3cc44cfca566e7720f1
Date 2018-03-14T14:46:47.128Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

[2018-03-30 00:14] #46782 closed

[2018-03-30 00:14] #46972 closed

[2018-03-30 00:16] roblourens commented on #46782
Fixed, and verified that it writes +000 in the UTC zone

[2018-03-30 00:18] sumonto opened #46975 "Unable to detect matching braces if part of comment"
- VSCode Version: 1.21.1
- OS Version: Mac High Sierra

Steps to Reproduce: (with all extensions disabled)

int main(void) {
    int var = 0;

    switch (var) {          // <--- Select this, and cmd+shift+\
    //     case 0: {
    //         break;
    //     }
    //     case 1: {
    //         break;
    //     }
    //     case 2: {
    //         break;
    //     }
    // }

[2018-03-30 00:18] roblourens commented on #45330
https://github.com/Microsoft/vscode/issues/42350 and https://github.com/Microsoft/vscode/issues/17920

[2018-03-30 00:18] #45330 closed

[2018-03-30 00:20] t-Singularity opened #46976 "Cannot set color for variables"
- VSCode Version: 1.21.1
- OS Version: MacOS Sierra 10.12.6

Steps to Reproduce:

1. Change User Settings to:
[code]

2. If color theme is not "Solarized Light", select it.

3. Open go (golang) program in editor (a file with extension 'go'):

[code]

4. Notice green, palette, whiteIndex, greenIndex, anim, anim.Delay are blue color, not the color I defined for variables. Also, Delay is a property a

[2018-03-30 00:26] sebmarkbage commented on #46887
![vscodebug](https://user-images.githubusercontent.com/63648/38119391-416f9cba-3376-11e8-8d53-ee34e41b902d.gif)

[2018-03-30 00:33] Tekbr commented on #20742
-- Sorry for the English, I used Google Translator --

A lot, but thank you very much @alexandrudima , for reopening the issue !! ❤️ 😍

I'm happy for your understanding and other users still want this feature (either natively or by extension) 😄 👍

[2018-03-30 00:37] iwaseyusuke commented on #46915
Sorry for jumping in to closed issue.

Please let me note how to solve the similar issue.

1. Open Keyboard Shortcuts Editor; File > Preferences > Keyboard Shortcuts. (Code > Preferences > Keyboard Shortcuts on Mac). See [Visual Studio Code Key Bindings].(https://code.visualstudio.com/docs/getstarted/keybindings#_keyboard-shortcuts-editor)

2. Search command(s) which caused an issue (in my case, c

[2018-03-30 00:38] leonardochaia commented on #17822
I'd love this!

[2018-03-30 00:49] ramya-rao-a commented on #43470
Tests are done with https://github.com/Microsoft/vscode/pull/46977

[2018-03-30 00:49] #43470 closed

[2018-03-30 00:55] roblourens opened #46978 "When using vim extension, cursor navigation with keyboard doesn't trigger matching symbol highlights"
- Install Vim extension (I don't think an extension should be able to break this, so filing it here)
- Enter insert mode (or not)
- Move the cursor over a symbol in a TS file
- Matching symbols should be highlighted, but they are not
- If I click somewhere on the same symbol, then matches are highlighted

![mar-29-2018 17-52-34](https://user-images.githubusercontent.com/323878/38119907-04d2951a-33

[2018-03-30 01:08] Tyriar commented on #46970
[code]

The build finished. It's a watch task so it doesn't end.

[2018-03-30 01:08] #46970 closed

[2018-03-30 01:24] roblourens commented on #45340
Also, if settings.json is dirty, then I get constant log spam whenever I move the cursor using the vim extension:

`[renderer3] [error] Unable to write into user settings because the file is dirty. Please save the user settings file first and then try again.: Error: Unable to write into user settings because the file is dirty. Please save the user settings file first and then try again`

Is that s

[2018-03-30 01:28] predawnang commented on #46920
ok

[2018-03-30 01:35] rebornix commented on #46767
I love this one, bitwise operator is fun.

[2018-03-30 01:40] roblourens commented on #45785
@mjbvz Verification steps?

[2018-03-30 01:51] Tekbr commented on #12080
-- Sorry for the English, I used Google Translator --

@mjbvz , @bpasero , @aeschli , @egamma , @waderyan , @chrmarti

Sorry for pinging everyone !! (You have been cited for referencing another question in duplicate, and / or participating in the question)

But can anyone explain better why the issue was closed without being for the reasons quoted in the comment above ?? 🤔

After a while the bot w

[2018-03-30 01:58] cossio opened #46980 "Column selection in Ubuntu"
In Ubuntu, (Shift + ) Alt + Click drags a window. This conflicts with column selection. Perhaps the default key binding should be different in Linux?

[2018-03-30 02:05] SheepDomination opened #46981 "Multiple Folders within code-workspace"
When opening the `.code-workspace` file after creating a *workspace* if I have multiple folders within my workspace should they not appear within the `.code-workspace` file ? If so, I'm only seeing one folder, rather then two folders as seen within the visual code explorer workspace.

[2018-03-30 02:18] OsvaldoAlc opened #46982 "Bug in version control tool."
- VSCode Version: 1.21.1
- OS Version: Windows 10 version 1709

Steps to Reproduce:

1. In a project with a git repo make a change to one or more files and save.
2. The change will be reflected in the version control sidebar
3. Click the arrow to discard all changes the confirmation modal will show up, click accept.
4. The change/s will be discarded but the version control side bar will keep displ

[2018-03-30 02:20] yinzhixin commented on #46833
@bpasero The problem still exists

[2018-03-30 02:27] roblourens opened #46983 "Don't autosave when replacing in single file"
In #14554 we changed replace to autosave and not open all the files, which makes sense when a replace happens in tons of files. But I think that the old behavior is better for replacing a single entry, or replacing all matches in a single file, and we should keep it.

[2018-03-30 02:31] snoopy83101 opened #46984 "The problem of breakpoint debugging (node.js)"
- VSCode Version:1.21.1
- OS Version:

Steps to Reproduce:

1.
require('babel-register');
require('./server/index.js')
2.
The breakpoint was originally on a line
When debug starts, jump to other lines

![image](https://user-images.githubusercontent.com/24613784/38122009-27d70a7e-3405-11e8-8a0f-69bb4ee311c1.png)

Does this issue occur when all extensions are disabled?: Yes

[2018-03-30 02:32] #44923 closed

[2018-03-30 02:49] lewisl opened #46985 ""window.openFoldersInNewWindow": "on", doesn't work as expected"
- VSCode Version:  1.21.1
- OS Version: macOS 10.13.3

Steps to Reproduce:

1.  Change user settings to:  "window.openFoldersInNewWindow": "on",
2.  open a folder with file open or file open recent

The current window closes and a new window is created with the opened folder in the new window.

Reading the documentation in the settings file that is what should happen with "default".

I want it to

[2018-03-30 02:55] Sschumac commented on #46762
Hmm you are correct.
the applescript snippet:
[code]
returns the correct "com.microsoft.VSCode"

but when getting all running non-background processes with
[code]

VSCode is reported as
[code]
with the id

[code]

This is the only electron app on my system that exhibits this behavior.

[2018-03-30 02:55] XewTurquish1 commented on #46270
I'm still getting this error.

Version 1.22.0-insider
Commit 952b2a641da89a6c7bc28387474bc8afd47f0d2f
Date 2018-03-29T15:50:12.706Z
Shell 1.7.12
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

Fedora 27

Try with both the 1.14.0 OmniSharp C# extension as well as 1.15.0-beta4 OmniSharp C# extension.

[2018-03-30 02:57] Sschumac commented on #46762
I noticed that other electron apps list the executable file as their app name, while VSCode simply uses "Electron"

[2018-03-30 03:13] garyking opened #46986 "When showing the sidebar, keep focus in the editor"
If I'm editing in an editor on a file, and I show the sidebar with Cmd+B, then focus is lost from the editor, so I can't continue typing code until I close the sidebar again.

Please instead keep focus on the editor, or add an option to do so.

[2018-03-30 03:17] t-Singularity commented on #46976
It looks like I figured out how to do it with `textMateRules`:

[2018-03-30 03:18] #46976 closed

[2018-03-30 03:48] kennyle1412 commented on #46961
I don't think it's just the Select to Next / Previous Command. Anytime the command palette is invoked, the focus goes to the workbench(?) and the terminal will lose focus. Excluding the commands that refocus the terminal afterwards (eg. createTerminal, splitTerminal).

Maybe default it so that all terminalActions refocus terminal afterwards?

[2018-03-30 04:26] auchenberg opened #46987 "shift+tab or tab doesnt seem to work in confirm dialog on MacOS"
From twitter:

"@code When I close a workspace, a prompt asks me if I'd like to save it. I can hit esc to cancel or enter to save. Why can't I hit shift+tab or tab to highlight and then select "don't save"? This is on MacOS. I ❤️ VS Code by the way! You guys are doing great work."

https://twitter.com/LoganHoup/status/979072735283433472

[2018-03-30 04:40] rkeithhill opened #46988 "[powershell] invalid auto-closing pairs in language-configuration.json"
VSCode currently ships a `language-configuration.json` for PowerShell with the following `autoClosingPairs`:
[code]
This pair `["/**", " */"],` is just flat out wrong for PowerShell.  That is not any sort of valid language construct.  Comments are either line-oriented, starting with `#` or block-oriented `<# #>`.  Please remove `["/**", " */"],` from the file.

The block oriented pair is also a pr

[2018-03-30 05:00] AlexBrasileiro opened #46989 "Fold stop working properly on React after update March 2018 (version 1.22)"
Issue Type: **Bug**

- VSCode Version: Insiders 1.22
- OS Version: macOS High Sierra

Steps to Reproduce:

1. After the last March 2018 update (version 1.22), fold stopped working correctly.
2. Looking at the following image the fold should work in the selected VIEW, (as it was in the previous version)

![screen shot 2018-03-30 at 01 51 13](https://user-images.githubusercontent.com/15070031/381251

[2018-03-30 05:17] usernamehw commented on #46986
Duplicate of #46092

[2018-03-30 05:57] bpasero commented on #45569
@Tyriar we could add a new shell script that you would call that would pass some specific argument to the running Code instance. For older installations it would fail silently because this shell script would not exist. With that we could do it all through a new command line argument.

[2018-03-30 05:57] flowt-au commented on #5402
+1. Real pain coming from Sublime Text. :-(

[2018-03-30 05:59] bpasero commented on #46957
@alexreg you can do that already, e.g. `ps aux | grep code | code -`

[2018-03-30 06:00] bpasero commented on #45871
@MichelDiz Can you follow this wiki and post the results back here to understand more about why performance is so bad for you: https://github.com/Microsoft/vscode/wiki/Performance-Issues

Thanks!

[2018-03-30 06:01] bpasero commented on #46129
@svipben I realised that our new multi-select picker is actually using it, I might only be able to remove this color next milestone once we figured it out.

[2018-03-30 06:01] bpasero commented on #46949
@chrmarti what happened to allowing to use `Ctrl+Space` and giving the user a hint?

[2018-03-30 06:02] bpasero commented on #46887
@sebmarkbage I am having a hard time to see an issue in your gif

[2018-03-30 06:05] svipben commented on #46129
@bpasero good to know, thanks for explaining it. 👍

[2018-03-30 06:05] bpasero commented on #12080
I guess the "extension candidate" label was added for the scenario of reloading a HTML preview tab whenever there are changes.

@kevlangdo please update the summary so that we understand what you are actually asking for.

[2018-03-30 06:06] bpasero commented on #46833
@yinzhixin are other menus flashing as well?

[2018-03-30 06:23] yinzhixin commented on #46833
@bpasero other menus are normal， I record a video
[video02.zip](https://github.com/Microsoft/vscode/files/1862815/video02.zip)

[2018-03-30 06:23] roblourens opened #46990 ""Toggle Search View Position" should be in command palette"
It should

[2018-03-30 06:39] justalemon commented on #46914
My VS Code install is on Spanish but the windows is not localized yet:

![Repro](https://user-images.githubusercontent.com/11861253/38127281-dadd09e6-33cb-11e8-85f6-d65fe1fc8ceb.png)

[2018-03-30 06:49] chrmarti commented on #46949
@bpasero I think we should get it to work well without hints first.

[2018-03-30 06:53] #46986 closed

[2018-03-30 06:55] CodeMasterYi opened #46992 "Line Ending error"
- VSCode Version: 1.21.1
- OS Version: Windows 10

Steps to Reproduce:

1. open a file with line ending sequence "\r"
2. editor shows "LF" which means "\n", and there is no "CR" option

[2018-03-30 07:02] snoopy83101 commented on #45345
.babelrc

{
    "env": {
        "development": {
            "sourceMaps": true,
            "retainLines": true
        }
    },
    "presets": [
        "es2015"
    ]
}
Then it works!

babel sourceMaps has some problem,I guess

thank you very much.
@roblourens

[2018-03-30 07:11] bpasero commented on #46949
@chrmarti maybe then by default we should not select the first entry? It should get selected when I arrow down for the first time right?

[2018-03-30 07:23] jpike88 commented on #21423
@danielfrankcom could you do me a favour and throw your five cents in here?

https://github.com/Marak/colors.js/issues/218

I'm about to start looking at tweaking colors.js but the repo owner is present there, would be great to see an exchange between you two as I look into it.

[2018-03-30 07:39] EnricoPicci commented on #46913
@roblourens
Here my answers to your questions

1) It does not stop necessarily in the right location
First I place the breakpoint on the `console.log` line

<img width="376" alt="screen shot 2018-03-30 at 9 24 55 am" src="https://user-images.githubusercontent.com/16032594/38128839-9640ad16-33fc-11e8-91e7-b727640be889.png">

I then execute the function and the debugger stops at the last line

<img

[2018-03-30 07:48] Legends commented on #5605
This is a must have...

[2018-03-30 08:10] tehapo commented on #43137
Upgraded to macOS 10.13.4 and the issue still persists.

[2018-03-30 09:26] sandy081 commented on #45340
@roblourens Good catch.

Problem is not with `assign`. It's because JSON.stringify() on the result object (which is proxy) is not returning proper value. Proxy should have a trap for `toJSON` property access.  Having this trap fixes this.

Yes, this is expected.

[2018-03-30 09:27] #45340 closed

[2018-03-30 09:39] mike-lischke opened #46993 "Markdown preview refuses to load badges from vsmarketplacebadge.apphb.com"
Issue Type: <b>Bug</b>

The new security measures for the markdown preview are too strict and refuse to render badge images from the vscode market place:

<img width="1043" alt="bildschirmfoto 2018-03-30 um 11 38 38" src="https://user-images.githubusercontent.com/2398704/38133298-ea593b40-340e-11e8-9d32-bde179c9cd86.png">

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 201

[2018-03-30 09:41] dmstern opened #46994 "SCM: Add `amend` checkbox to commit panel"
For now, we have the opportunity to amend commits via command palette or via git context menu.

It would be great if there were an `amend` checkbox right beside the commit message box to have this feature integrated in the source control panel.

[2018-03-30 09:47] svipben opened #46995 "Find match and selection highlight borders overlap"
- VSCode Version: 1.21.1
- OS Version: macOS

![image](https://user-images.githubusercontent.com/10441177/38133345-766880f2-3417-11e8-9f02-566f9a6dee21.png)

2 custom border styles are applied, but correct is only the first one I pointed with an arrow.

`.monaco-editor .currentFindMatch` is applied if the currently selected word matches your selection in search widget. Which is correct.

`.monaco-

[2018-03-30 09:49] #46349 closed

[2018-03-30 10:05] dmstern commented on #45115
@joaomoreno This could be solved by #46994.

[2018-03-30 10:27] OlivierHokke opened #46996 "No icons for files and folders in explorer view"
Issue Type: <b>Bug</b>

Since today, I am not getting any icons in my explorer view, so it is much harder to navigate my files. I don't have this issue with my other computer, but I can't really figure out why that is. It started before I updated to the February update, but after updating it did not fix anything.

I tried this:
http://www.thewindowsclub.com/icons-not-showing-visual-studio-code
but

[2018-03-30 10:35] a2d opened #46997 "[css-less-sass] css.lint.zeroUnits warns "No unit for zero needed" inside calc function"
- VSCode Version: 1.21.1
- OS Version: Windows 7

Steps to Reproduce:

1. Set "css.lint.zeroUnits": "warning" in settings.json
2. Create CSS rule with calc function to produce a negative pixel value e.g. top: calc(0px - 10vw)
3. VS Code suggests that you can remove the px unit

The px unit is needed to coerce the result into a pixel value. Suggest ignore/drop warning for 0+value within calc functi

[2018-03-30 10:37] pqvst opened #46998 "Extreme CPU usage when multiple windows are open"
### Version
- VSCode Version: 1.21.1
- OS Version: macOS High Sierra 10.13.3 (17D102)

### Steps to Reproduce:
1. Open two separate VS Code windows (different projects).
2. After a while (randomly) CPU usage will spike.
3. Close one of the windows, and the issue is resolved.

### CPU Profile:
Issue seems to stop as soon as I try to perform a CPU Profile via the developer tools in VS Code. I have a

[2018-03-30 10:39] brunetton opened #46999 "Add a config option to choose what to display in overview ruler"
## In a nutshell

- VSCode Version: 1.21
- OS Version: Linux/Debian Stretch

## Steps to Reproduce:

1. Work on a project with some modules that add warnings :
    - [Pylint](https://code.visualstudio.com/docs/python/linting)
    - [cSpell Checker](https://marketplace.visualstudio.com/items?itemName=streetsidesoftware.code-spell-checker) extension
2. Open a big file with many spell warnings and li

[2018-03-30 10:40] brunetton commented on #46999
I already had a look on those other issues, but this is not the same thing :)

[2018-03-30 10:41] pqvst commented on #46998
Duplicate of #41557. I also use witch for task switching.
Related to #38516.

[2018-03-30 10:41] #46998 closed

[2018-03-30 11:02] tboby commented on #33701
I would very much like to be able to override this too. In my case:
* do not reset completion on "." in my extension's target language, as this is not a special character in this filetype.

[2018-03-30 11:12] johnpapa commented on #40416
thanks for the progress update @Tyriar

[2018-03-30 11:26] Jesuszilla opened #47000 "Cannot start VS Code from Applications menu in KDE Plasma 5.8 on Debian Stretch"
When I open VS Code from the Applications menu, I get this error:
``Uncaught Exception:
Error: EIO: i/o error, write
    at Object.fs.writeSync (fs.js:745:20)
    at SyncWriteStream._write (internal/fs.js:75:6)
    at doWrite (_stream_writable.js:329:12)
    at writeOrBuffer (_stream_writable.js:315:5)
    at SyncWriteStream.Writable.write (_stream_writable.js:241:11)
    at Console.warn (console.

[2018-03-30 11:34] brightsquare commented on #46860
I'm trying to repro, but don't get any such popup after selecting a branch to delete. The branch is instantly deleted. I'm on Mac OS X 10.11.16, vscode version 1.21.1

[2018-03-30 11:54] shepelevstas opened #47001 "Hello World Extension example error"
Version 1.21.1
Commit 79b44aa704ce542d8ca4a3cc44cfca566e7720f1
Date 2018-03-14T14:47:13.351Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture ia32

Following instructions from here: https://code.visualstudio.com/docs/extensions/example-hello-world

[code]
`yo` and `generator-code` are just updated as they were already installed

Error:
Cannot connect to runtime process, timeout after 100

[2018-03-30 12:30] ayyash opened #47002 "Ctrl + . (auto import in typescript) no longer works"
Issue Type: <b>Bug</b>

Ctrl + . shortcut to add missing imports in typescript no longer works

VS Code version: Code - Insiders 1.22.0-insider (6c22e21cdcd6811770ddcc0d8ac3174aaad03678, 2018-03-30T05:16:39.261Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6650U CPU @ 2.20GHz (4 x 2208)|
|Memory (System)|15.93GB

[2018-03-30 12:54] rbirkby commented on #45424
The behaviour is the same as v1.21.0, which is different to the screenshots above. The behaviour is that on the 100% scaled monitor, I get very large tooltips:

![image](https://user-images.githubusercontent.com/203034/38138149-15670d78-3421-11e8-980f-440f552516ed.png)

and on the 200% hidpi scaled monitor, I get nicely readable tooltips that "feel" the correct size:

![image](https://user-images.

[2018-03-30 13:11] marc31 opened #47003 "Font for PowerLine in terminal"
VSCode Version:newest
    OS Version: Os X
    zsh

I have a problem to display font for PowerLine in terminal.

To solve this I had read this (https://github.com/Microsoft/vscode/issues/15119#issuecomment-259248159) and  I put this in my config file.

"terminal.integrated.fontFamily": "MYFONTNAME"

But actualy to find MYFONTNAME was pretty hard.

Here is my solution :
1) Open font Book.app
2) Sel

[2018-03-30 14:03] KTSamy commented on #42700
This issue like looks the same as the one with Tamil (https://github.com/Microsoft/vscode/issues/22352). It seems that all Indic languages are having this issue.

[2018-03-30 14:05] anticitizen4 opened #47004 "Toggle comments shouldn't move cursor"
This happens when selecting from bottom to top. With current behavior cursor moves to the bottom of selection every time comments are toggled.

[2018-03-30 14:12] techsin opened #47005 "Prevent autocomplete from importing random stuff from beyond root directory!!!!"
- VSCode Version: 1.21.1
- OS Version: Win10 64

Steps to Reproduce:

1. write `impf` and press Tab.

Does this issue occur when all extensions are disabled?: Yes

Problem is that I'm trying to trigger a snippet. So I type something that I THINK would trigger that snippet. Something like impf for `import ... from ....;`. But it goes ahead and find 50 random functions from node_modules and if you p

[2018-03-30 14:36] svilenmarkov opened #47006 "Indent guides mismatch if statements without braces"
Issue Type: <b>Bug</b>

Whenever you have an if statement which does not have braces the indent guides keep going forward rather than stopping after the first line underneath.

**edit**: the same issue exists with loops and switch statements. For the case of switch statements, the indent guide should stop after the `break;`.

Example below is in PHP, however it appears to be the same in other lang

[2018-03-30 14:46] huglovefan commented on #46346
i also get this error using vscode 1.21.1 (commit 79b44aa704ce542d8ca4a3cc44cfca566e7720f1) with all default settings and no extensions

1. open this as a .js file:
[code]
2. find all references of `test`
3. in the references window:
   1. hover `test` in `test();` to see the tooltip (doesn't reproduce otherwise)
   2. manually replace `test();` with `a();`
4. try to close the references window

t

[2018-03-30 14:50] Tyriar commented on #46961
@kennyle1412 when the command deals with focus or selection we should definitely make sure focus works. Maybe there's a way we can do this generally @bpasero?

[2018-03-30 14:55] Tyriar commented on #45569
@bpasero version checking using `code --version` should be pretty easy and we could leverage the same CLI then?

[2018-03-30 14:57] martinmeinke commented on #45492
I've got the same issue on a Lenovo P50 (4K display) in an Ubuntu 14.04 VM. The issue to get worse with window size. --ignore-gpu-blacklist does not seem to resolve the issue.

[2018-03-30 15:02] Tyriar commented on #47003
Created https://github.com/Microsoft/vscode-docs/issues/1534 to add a FAQ entry on the website.

[2018-03-30 15:02] #47003 closed

[2018-03-30 15:05] MG55 opened #47008 "git file status sometimes empty for modified files"
Issue Type: <b>Bug</b>

Sometimes files with modifications are not marked with "M" in git viewlet. I can't find a pattern to differentiate when this bug happens and when id doesn't; I'm using a workspace with single GIT root.

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:39:09.335Z)
OS version: Darwin x64 17.5.0

<details>
<summary>System Info</summary>

|I

[2018-03-30 15:15] MG55 commented on #47008
![Sample of bug.](https://user-images.githubusercontent.com/13221616/38142752-dd82e9d2-343d-11e8-9285-ba999377228e.png)
Rows with no status indicator should have "M"

[2018-03-30 15:17] Roby98Luce commented on #46625
Thank you very much now with insiders version i see tags color and the extenction PHP are now avaiable!
Regards Roberto Luce

Da: Rob Lourens [mailto:notifications@github.com]
Inviato: giovedì 29 marzo 2018 17:24
A: Microsoft/vscode <vscode@noreply.github.com>
Cc: Roby98Luce <roberto@microlan.it>; Manual <manual@noreply.github.com>
Oggetto: Re: [Microsoft/vscode] PHP linguaggio non presente (#4662

[2018-03-30 15:27] Tyriar commented on #45492
@martinmeinke GPU support always seems to be broken in VMs, try --disable-gpu and also disabling GPU acceleration in the VM settings if available.

[2018-03-30 15:37] weinand commented on #45025
Thanks for verifying this. I'll add the "verified" label.

[2018-03-30 15:48] bpasero commented on #46961
@Tyriar currently we just always put focus back to the editor which is probably not clever and can be improved. PR welcome.

[2018-03-30 15:50] bpasero commented on #45569
@Tyriar yeah true that would work as well. After you see that the version is fit for the command, just invoke it again with another CLI argument that you add only for this purpose.

[2018-03-30 15:56] Tyriar commented on #28746
There are a few issues with multi-line link support still which should get resolved when we tackle reflow https://github.com/Microsoft/vscode/issues/23688

[2018-03-30 16:33] lewisl commented on #46985
This is fixed.  Problem with missing closing brace in my settings disabled subsequent settings.

Works as expected and as I requested.

[2018-03-30 16:33] #46985 closed

[2018-03-30 16:35] hu0p commented on #46987
Hi there! That's my tweet. Please let me know if you need any additional information.

[2018-03-30 16:43] roblourens commented on #46913
Ok, it sounds like there might be some problem with the sourcemaps...

[2018-03-30 16:46] Tyriar commented on #45569
I'll see if I can get to this in April

[2018-03-30 16:48] roblourens commented on #47001
This is another instance of https://github.com/Microsoft/vscode/issues/40501.

The suggestion from upstream was

Where do you have VS Code installed?

[2018-03-30 16:50] #46625 closed

[2018-03-30 17:07] andrejarboe commented on #10546
I'm confused. We can already have one terminal at the bottom, right, left, or full screen.

[2018-03-30 17:33] AnthonyMichaelc commented on #10546
@andrejarboe I think what @JoshAntBrown is trying to highlight is basically just the ability to grab any panel and move it around. Mostly to be able to open lets say two js files and grab the top of the file and drag it down to split horizontal and then be able to grab the same file and move it to the right split vertical. And then for extreme measures be able to open four files in a grid layout 4

[2018-03-30 17:38] AnthonyMichaelc commented on #14909
@elleryfamilia if you don't care able being able to do both at the same time these are the steps to activate just vertical or just horizontal

- View > Toggle Editor Group Layout menu.
- View: Toggle Editor Group Vertical/ Layout command in the Command Palette (⇧⌘P (Windows, Linux Ctrl+Shift+P))
-Toggle button in the OPEN EDITORS tool bar.
- ⌥⌘0 (Windows, Linux Shift+Alt+0) keyboard shortcut.

But

[2018-03-30 17:49] tristan957 opened #47009 "C# syntax highlighting error"
- VSCode Version: 1.21.1
- OS Version: macOS 10.13

Steps to Reproduce:

1. Create following code in C#
[code]

2. Look at the comment highlighted in plain text

Does this issue occur when all extensions are disabled?: Yes

[2018-03-30 17:49] sebmarkbage commented on #46887
@bpasero See how when I click "Close to the Right", it tries to close the tab to the left (Untitled-8). It shouldn't try to close any of the tabs to the left.

[2018-03-30 17:53] Tyriar commented on #45197
<img width="513" alt="screen shot 2018-03-30 at 10 52 48 am" src="https://user-images.githubusercontent.com/2193314/38147764-9075b7b2-3408-11e8-96a1-0bb76e465770.png">

[2018-03-30 17:58] MichelDiz commented on #45871
Many thanks for the reply.

I wonder, would not it be nice to have in VScode a visualization of the internal processes of the program itself? like the task view you have in Chrome. Since it is an application made in electron. You're running over a Chromium, right? There is some support for that.

A "htop" task viewer. Would be great. For us users to watch on the day. No need to take that much time

[2018-03-30 18:04] RMacfarlane commented on #46914
Interesting, I haven't been able to reproduce. If I run `Configure Language` and set it to Spanish and relaunch VS Code, the issue reporter window is localized with the rest of the UI:

![screen shot 2018-03-30 at 10 59 02 am](https://user-images.githubusercontent.com/3672607/38147984-66c0f386-3409-11e8-8cb1-d80932699d1c.png)

Do you remember how you set the language?

[2018-03-30 18:04] rebornix commented on #44899
@bpasero can you provide more info about how to verify this?

[2018-03-30 18:08] RMacfarlane commented on #43612
Verified by user

[2018-03-30 18:15] rebornix commented on #45122
Not sure if I tested correctly, but after running `code-insiders --disable-extensions`, I can't disable builtin extensions and they are labeled as `disabled`

![image](https://user-images.githubusercontent.com/876920/38148520-b3396cdc-340b-11e8-9093-ab0fbb1f960f.png)

[2018-03-30 18:32] eamodio commented on #46445
FYI https://github.com/Microsoft/vscode/issues/10471#issuecomment-239767247

I would love this. At the same time, could we think about adding the corollary `getContext`? The number of hoops that need to be jumped through to get the right context make things very difficult (and other impossible).

Here is a concrete example.

In GitLens, I have commands that navigate forward and backward through re

[2018-03-30 18:37] kennyle1412 commented on #46961
@Tyriar Then I guess every terminalAction that deals with those things should do a terminal.focus() before it returns. That should work for when the action actually goes though how efficient that is I can't say.

However, if the quick command is invoked then cancelled, we'd be out of luck since nothing is executed haha. We can try to save the previousFocus when invoking quick command and refocus p

[2018-03-30 18:37] roblourens opened #47010 "Task doesn't fail when command is a path that doesn't exist"
While verifying https://github.com/Microsoft/vscode/issues/39720

Have a task like

[code]

Run the task. It says `> Executing task: C:\project\doesNotExist.exe  <` and never does anything. I would expect running that command to fail.

[2018-03-30 18:40] roblourens commented on #47010
Then if I terminate the task and try to start it again, I get "Terminal with ID 4 doesn't exist" cc @Tyriar. I can only repro that one in this one case, not when running a working task, so I'm guessing it's not a separate bug.

[2018-03-30 18:41] gushuro commented on #46779
This is actually two separate issues.

The one @mjbvz shows is because of how we define the text to wrap for the previews. The effect is that between the innermost element of the abbreviation and the text we're wrapping we always insert tabs. In [here](https://github.com/Microsoft/vscode/blob/master/extensions/emmet/src/abbreviationActions.ts#L98) is where we use tabs directly but I think we could

[2018-03-30 18:44] ramya-rao-a opened #47012 "Dropdown in issue reporter has wrong border color"
Issue Type: <b>Bug</b>

Check the image below:

![image](https://user-images.githubusercontent.com/16890566/38149532-b15a41d0-340f-11e8-9d62-526b22bacbdc.png)

VS Code version: Code - Insiders 1.22.0-insider (6c22e21cdcd6811770ddcc0d8ac3174aaad03678, 2018-03-30T05:16:39.261Z)
OS version: Windows_NT x64 10.0.15063

[2018-03-30 18:46] eamodio commented on #4180
It would be nice if there was read-only on/off control of both sides of the diff editor. In GitLens, when diffing history both sides should be read-only.

[2018-03-30 18:52] ramya-rao-a commented on #38757
Verified in #46602

[2018-03-30 18:54] eamodio commented on #22403
Again, I feel like this is even worse now -- commands in the `editor/title` menu also cause a focus switch from the left side to the right, which can completely change the context of those menu items.

In GitLens if I want to turn on the blame in the left side, the button in the `editor/title` will not work -- because focus will switch from left to right and the blame will be toggled on the right

[2018-03-30 18:54] Tyriar commented on #46961
@bpasero how about adding something like this to `IAction`?

[code]

Which would be run to restore focus when it's implemented (or noop if not) when escape is pretty or the command is triggered.

[2018-03-30 18:59] RMacfarlane commented on #46193
Verified by users

[2018-03-30 19:02] krux02 commented on #46481
I am not sure if `feature-request` is the right tag here. I am not asking for a specific feature here at all. All I am asking is that I can use and map basic keyboard shortcuts.

[2018-03-30 19:04] EverettBerry commented on #4873
Would love to see this. I'm currently using vscode for debugging and vim for editing and sometimes I get my alt-tabs mixed up and end up editing files in vscode accidentally.

[2018-03-30 19:08] alexreg commented on #46957
@bpasero No, you misunderstand. I want to pipe the current selection/file, from within the UI. It should be a feature of the VSCode app, not the CLI. See TextMate for a reference.

[2018-03-30 19:16] gushuro commented on #46752
If quickpick has many options (so that you need to scroll to see them all), using arrow up focuses the last one but you can't actually see it being focused. You can press space and it gets checked, but its out of sight.
If I go one more step up, now focus is on the previous to the last one.

Same happens if I'm at the bottom and press arrow down.

![multipick](https://user-images.githubusercontent

[2018-03-30 19:32] rebornix commented on #45657
@roblourens can you provide more details about what we should verify?

[2018-03-30 19:56] user3323 commented on #46863
@jrieken

it happens in order of using the setting:

`"editor.snippetSuggestions": "top"`

[2018-03-30 20:02] tiagoSAmaral commented on #2513
@fabiospampinato Your extension words fine! Thx

 But not has a option to hide the native Debug actions pane.

[2018-03-30 20:04] seesemichaelj commented on #2513
@tiagoSAmaral the README file explains how to do that: https://github.com/fabiospampinato/vscode-statusbar-debugger#hints

[2018-03-30 20:04] dmstern commented on #19534
[SubtleBrackets](https://marketplace.visualstudio.com/items?itemName=rafamel.subtle-brackets) by @rafamel does a really good job here. 👍

Examples:
![vscode-subtle-brackets-settings-1](https://user-images.githubusercontent.com/5219707/38152017-eb2e97fc-3465-11e8-81bf-9fa2b63505b1.png)
![vscode-subtle-brackets-settings-2](https://user-images.githubusercontent.com/5219707/38152018-eb4958bc-3465-11e8

[2018-03-30 20:20] tiagoSAmaral commented on #2513
Thx

[2018-03-30 20:38] notandrew opened #47013 "VSCode icon doesn't look good in file chooser dialog"
Issue Type: <b>Bug</b>

1) In File Explorer, find a file that has no association with Code
2) Right-click on the file
3) Select 'Open With...'
4) Select 'Choose another app'
5) observe VS Code icon looks not that great in list of programs.

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:47.128Z)
OS version: Windows_NT x64 10.0.17627

[2018-03-30 20:47] iCyberon opened #47014 "Ability to increment prefix when duplicating file/folder"
- VSCode Version: 1.22.0-insider
- OS Version: macOS 10.13.3

Currently VSCode increments suffix when copying a file. Copying `file.1.ext` makes `file.2.ext`. But there are cases when the `version` is specified in prefix not suffix, for instance when dealing with migrations we have files like `001-name.ext`, copying this results in creating a file named `001-name.1.ext` which is not the desired re

[2018-03-30 20:49] #45174 closed

[2018-03-30 20:56] iCyberon commented on #47014
Testing something like `/^(\d+)(.*)(\..*)$/` should be enough to handle the case.

[2018-03-30 20:58] xeor opened #47015 "Filelist shifts down when selecting files"
- VSCode Version: 1.21.1
- OS Version: osx

Steps to Reproduce:

1. Open a folder inside vscode
2. Select a file

The file selected is opened and the file become visible in the list at the very top of the navigation pane. This makes the files in the list "jump" one down, so the selected file is not under the cursor anymore.

This is annoying for multiple reasons:
  * I often want to look at the fi

[2018-03-30 21:06] therawk commented on #46905
I just tried the insider build to see if it works with that, unfortunately it doesn't.
I am facing the same problems as @Mates1500 - a readonly file gets opened + the webpack:// in sources are in the "." folder

[2018-03-30 21:18] neo-anderson commented on #16927
This is the main feature I'm missing in VS Code. In Atom, I can maximize the source markdown pane and then toggle between source and preview like it's a live wysiwyg preview. Scrolling stays in sync too.
In VSCode, I can't maximize the source pane. So, this doesn't work.

[2018-03-30 21:35] sheetalkamat commented on #46025
@Bram-Zijp I am not sure from the tsserverlog you shared with @mjbvz  what the issue is. Does the tsserver log you shared had issue reproed?

I noticed something odd in the log though:
Do you have any modules included that are actually symbolic links eg. installed using ```npm link``` The log shows some types are being resolved from typescript installation's node_modules folder getting resolved.
[

[2018-03-30 21:37] roblourens commented on #45657
Easy way is to clone https://github.com/Jostar1024/ts-jest-vscode-1.21.0, set breakpoints in the tests, run the launch config. It should hit the BPs in insiders but not stable

[2018-03-30 21:49] #45666 closed

[2018-03-30 21:50] RMacfarlane commented on #36307
@Tyriar what's the expected behavior after the change? I'm still seeing high CPU on today's insiders version

on Ubuntu
![loop_cpu](https://user-images.githubusercontent.com/3672607/38154927-9bebc0c0-3429-11e8-8a92-f9542fe7c021.png)

on Mac
[code]

[2018-03-30 21:50] ritcheyer commented on #45918
I'm experiencing this same issue. @smlombardi did you log this against the Stylelint project? If so, where?

[2018-03-30 21:56] RMacfarlane commented on #44911
@joaomoreno what are the steps to verify this?

[2018-03-30 22:00] ramya-rao-a commented on #46824
While I do see completions, they seem to skip the first letter and use the rest

In the example that @alexandrudima provided above, we get completions for `r` instead of `nr`

In the below example, we get completions for `urr` instead of `curr`

<img width="946" alt="screen shot 2018-03-30 at 2 58 46 pm" src="https://user-images.githubusercontent.com/16890566/38155178-13b5fb2e-342b-11e8-98ec-661f4

[2018-03-30 22:20] roblourens commented on #43813
@sandy081 I think there's still an issue here. I don't know how this is happening, but it's quite easy to reproduce.

I click the install button on an extension, them immediately press cmd+q. Then I see some files in the `.` folder and some in the destination folder.

We should just be calling fs.rename, so something weird is up. I tried it from the command line, pressing ctrl+c while installing,

[2018-03-30 22:47] ramya-rao-a commented on #45784
Moving to April as this is essentially part of #43713 which is for April

[2018-03-30 22:58] roblourens commented on #45798
Hey @nojvek did you try the fix?

@isidorn I still can't start another debug session while one session is waiting to start. I mentioned it above, I don't know whether it was expected to be covered by your fix. I'll reopen this but LMK if I should open a new issue.

What I'm trying is

- Run an "attach" config that will fail. It shows a progress bar for 10s or so
- During that time, try to start a

[2018-03-30 23:00] ramya-rao-a commented on #46779
The way to really fix this is not trivial and since the final snippet uses tabs/spaces as expected, I wouldnt want to spend much time here.

[2018-03-30 23:00] #46779 closed

[2018-03-30 23:11] roblourens opened #47016 "Task detection errors"
While verifying https://github.com/Microsoft/vscode/issues/45816

- Disable all task autodetction

[code]

- Type `task ` in quickopen.
- Get lots of errors like `Error: The gulp task detection didn't contribute a task for the following configuration: ...` and I can't select those tasks

Maybe I just misunderstand what "autodetect" is. I would assume it just powers the detection of tasks in packag

[2018-03-30 23:13] sheetalkamat commented on #46025
More update:
Found this in the log:
[code]

I think we are including too many d.ts files for your unresolved imports:

Can you try this with ```"maxNodeModuleJsDepth": 1``` and ```"maxNodeModuleJsDepth": 0``` in the compiler options and see if the issue gets resolved. I think adding these files is the cause of your issue.

[2018-03-30 23:18] roblourens commented on #46724
Verified but is there supposed to be some feedback when I use cmd+up but it doesn't cause a scroll? Like when there are many commands visible in the viewport? Would be nice to see a "cursor" or something flash there to know where I am

[2018-03-30 23:29] juanfe-google commented on #46002
@alexandrudima In the tool I'm working on uses spawn instead of spawnSync (which was chosen to simplify the example).

The issue is specific to nodeJS running on OSX. https://github.com/nodejs/node/issues/2360

[2018-03-30 23:32] roblourens commented on #46215
Verification steps:

Just set `"trace": true` in a launch config. Check that debugging starts successfully.

[2018-03-30 23:37] gushuro commented on #46926
There's still an issue if you click and release the button outside the item.
Focus goes to the item clicked and typing doesn't work. Furthermore, if I navigate using arrow keys the item keeps its decoration.

![multipickdrag](https://user-images.githubusercontent.com/5607882/38157100-7f08fbe4-3438-11e8-9978-fbefdab9d8a8.gif)

[2018-03-30 23:42] roblourens commented on #44428
I can't tell whether there's anything to verify in this issue

[2018-03-30 23:43] kieferrm commented on #46929
@chrmarti: We now have the hand cursor everywhere in the multi-select except over the checkboxes. (It's actually the same behavior on the welcome page.)  The cursor over the checkbox is consistent with what the OS does and also for example what you

- [ ] here on the left

but it feels awkward since a checkbox is something I interact with just like the rows themselves.

[2018-03-30 23:49] #45475 closed

[2018-03-30 23:49] #45687 closed

[2018-03-30 23:52] ramya-rao-a commented on #35675
Marking as verified as per updates above

[2018-03-31 00:02] ardiyanbs commented on #7570
Hi Folks,
I've just encountered the same issue. While I lost my internet connection, my VSCode cannot be started.
I tried to run `code --verbose` and resulting:
![vscode_error](https://user-images.githubusercontent.com/6532192/38157439-25d04428-34b1-11e8-808a-48c889670e5d.png)
And here is my VSCode version:
![vscode_version](https://user-images.githubusercontent.com/6532192/38157444-3326e2e4-34b1-

[2018-03-31 00:05] markgossa commented on #7570
To work around it, I created a loopback adapter by following instructions here: https://technet.microsoft.com/en-gb/library/cc708322(v=ws.10).aspx. It seemed to resolve my issue but it's just a workaround and not a fix.

[2018-03-31 00:27] leanderr commented on #46576
It now works on the file. I dont know how and why and cannot reproduce. Sorry :-(

[2018-03-31 00:54] smlombardi commented on #45918
https://github.com/stylelint/stylelint/issues/3221

They renamed it and closed it, but I have no idea if they fixed it.  Feel free to log another issue.

[2018-03-31 01:34] taoqf commented on #45952
Version:          Code - Insiders 1.22.0-insider (6c22e21cdcd6811770ddcc0d8ac3174aaad03678, 2018-03-30T05:12:59.181Z)
OS Version:       Linux x64 4.9.0-6-amd64
CPUs:             Intel(R) Core(TM) i5-4440 CPU @ 3.10GHz (4 x 1796)
Memory (System):  11.63GB (2.29GB free)
Load (avg):       3, 3, 2
VM:               0%
Screen Reader:    no
Process Argv:     /usr/share/code-insiders/code-insiders ./

CP

[2018-03-31 01:44] irvingv8 commented on #32257
Wow, I'd even pay for a theme like the OP, is the transparency feature in the works?

[2018-03-31 01:51] Tyriar commented on #36307
@RMacfarlane the fix is specific to Linux only when you have experimental file watcher set to true in settings (or you have a multi-root workspace open).

[2018-03-31 02:06] propellingbits opened #47017 "VS Code is suppressing parenthesis"
- VSCode Version: 1.17.1
- OS Version: macOS High Sierra 10.13

Steps to Reproduce:

1. Locate\Write a bit long expression similar to this one - if((check_car_s > car_s) && (check_car_s-car_s < min_front_dist*1.3))
2. Add a parenthesis ['('] on left side of above expression.
3. Scroll to extreme right side of the expression and make sure a parenthesis is highlighted and not a starting brace ('{')

[2018-03-31 02:07] RayBenefield commented on #14909
Ran into this myself trying to switch to VS Code from Vim. Major setback. I particularly noticed when I wasn't able to find how to jump left or right between splits with a keybinding since each is explicitly numbered. In my Vim+iTerm setup I'm able to jump up and down seamlessly between a vim split and a terminal split and replicating that in VS Code is near impossible.

The mention of EVERYTHING

[2018-03-31 02:28] ryu1kn commented on #46957
@alexreg I’ve just happened to find this issue and wonder if what you’re looking for is what i developed as an extension...

https://marketplace.visualstudio.com/items?itemName=ryu1kn.edit-with-shell

[2018-03-31 02:58] Almenon commented on #40522
I would want to get a message upon failure or status change rather than on success.

[2018-03-31 03:02] alexreg commented on #46957
@ryu1kn Very handy, thank you. I probably should have guessed someone would develop an extension. I feel this sort of feature should be in-built, but am quite happy to use a well-made extension like this.

[2018-03-31 03:05] Almenon commented on #32509
?? There is a add room button.  It doesn't work when I click on it, though - I think an admin has to do it.

[2018-03-31 03:09] Almenon commented on #33094
It's been a couple months - any update @divais ?

[2018-03-31 04:27] moseleyi opened #47018 "Reference of syntax highlighting options"
Is it possible to find a complete list of scopes of textMate scopes. I would like to change colours of particular types but can't find any comprehensive references?

[2018-03-31 05:02] shepelevstas commented on #47001
I have vs code installed in the path suggested by setup: `c:\Program Files (x86)\Microsoft VS Code\`

[2018-03-31 05:22] Eggbertx opened #47019 "VS Code doesn't mark indentation changes in a Git repo"
Issue Type: <b>Bug</b>

If I change the indentation style (from spaces to tabs) with the Ctrl+Shift+P option of a file in a Git repository, the file shows up in the list of modified files (as it should), but when I click to open them for comparison, I can see the change since I have editor.renderWhitespace set to "boundary" but there is no marker/indication.

VS Code version: Code 1.21.1 (79b44aa7

[2018-03-31 05:42] bpasero commented on #45871
@MichelDiz we have that, it is all documented in that wiki

[2018-03-31 05:44] bpasero commented on #44899
@rebornix error telemetry, I would say:

1.21.1:

![image](https://user-images.githubusercontent.com/900690/38160077-4519f3be-34b7-11e8-85b0-39c26158bad3.png)

1.22.0:

![image](https://user-images.githubusercontent.com/900690/38160078-522260fa-34b7-11e8-9908-28e5da93a422.png)

[2018-03-31 05:47] bpasero commented on #46961
@Tyriar I would stay away from adding anything to `IAction`, that interface is only meant to give a runnable an identifier and a label.

Can you not just change focus from your action when it runs? Maybe we need to pass some extra context into the actions that get executed from the command palette.

[2018-03-31 05:48] #46957 closed

[2018-03-31 05:53] bpasero commented on #46887
@sebmarkbage I see, yes that looks like a bug. But I tried to reproduce this and I cannot, no matter what I try. So there must be steps involved that I am not doing. Can you try to reproduce this from our insider release (nightly builds) and if you can, remember what exact steps you did?

You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2018-03-31 06:03] bpasero commented on #46270
@joaomoreno I can reproduce, are you sure we have the exact same build environment as before?

[2018-03-31 06:17] jasonpezzimenti opened #47020 "Can't build VSCode on Windows"
I Can't install VSCode on Windows. node-gyp errors.

I've already seen the other issues in this repo and other repos related to gyp and node errors when building VS Code but the suggestions and solutions on those pages haven't worked for me.

Can anyone provide any insight? How can I fix this? I have all the right versions of node, python, gyp, build tools, VS, etc. And honestly, I have no idea wh

[2018-03-31 06:17] bpasero opened #47021 "Questionable check for launch.json from file events"
See https://github.com/Microsoft/vscode/blob/b66f0ba3c70b08ffc046a9f1a6f56e0260129540/src/vs/workbench/parts/debug/electron-browser/debugService.ts#L1310

I think this check is no longer a good one because you can have launch configurations in the multi-root workspace file as well. Is this check still needed? It probably should know in which context it is (folder?) and then check specifically for

[2018-03-31 06:20] jasonpezzimenti commented on #47020
The bot's links have nothing to do with this.

[2018-03-31 06:49] #46411 closed

[2018-03-31 06:53] PrzemyslawKlys opened #47022 "Slow Format Document / Go To Definitions with multiple folders open"
- VSCode Version: 1.21.1
- OS Version: Windows 10

Steps to Reproduce:

1. Open Visual Studio Code
2. Load a folder (with loads of scripts) - i have around 300 scripts scattered around
- C:\Support\Scripts\Automated
- C:\Support\Scripts\Includes
3. Try to use Go to definition or Format Document on .PS1 script
4. It will take a long time before anything happens. It's like both Format Document and G

[2018-03-31 07:41] easyaspi314 commented on #32257
@irvingv8 Careful what you wish for. This *is* owned by Microsoft… :P

[2018-03-31 07:53] Bram-Zijp commented on #46025
@sheetalkamat
In the previous log I actually managed to hit the lag within 5 seconds of typing unexisting imports. The project has allot of node_modules. The src, my workarea, is still fairly small. My computer is pretty beefy for what it mathers.

I notice when I write some bad imports the lag fades away after 20-30 seconds. The issue also has occured after working for an hour, writing perfectly

[2018-03-31 08:33] thomthom commented on #44141
Will there be further options to control what extensions contribute to the Problems/Explorer panel?

Asking because of this comment: https://github.com/Jason-Rev/vscode-spell-checker/issues/186#issuecomment-377597751

The poster used an insider version with the changes that hides Hints;

[code]

That worked, but misspelled words then only have the `...` indicator in the editor instead of the desir

[2018-03-31 09:39] sandy081 commented on #45122
@rebornix I already have an issue for this case - https://github.com/Microsoft/vscode/issues/46951

This was a debt item to clean up some code and as part of it I wanted to fix #46951 but could not.

Hence closing this.

[2018-03-31 09:39] #45122 closed

[2018-03-31 09:49] #37724 closed

[2018-03-31 10:02] netleader commented on #10121
It's a shame that this is still not possible, people with multi monitor setup would profit a lot.
So Vote for feature 💃

[2018-03-31 10:33] Jazcash commented on #45646
Yep, seems like that's the issue!

[2018-03-31 10:36] stealthanthrax commented on #27139
@omidkrad  , do we have to do it in package.json file?

[2018-03-31 10:42] Nutznieser opened #47023 "Support "Go Back in current file" and "Go Forward in current file""
- VSCode Version: 1.21.1

The existing `Go Back` and `Go Forward` navigates within all open files. But often I would like to have the navigation only within the current file. Is there a way to add two new commands like `Go Back in current file` and `Go Forward in current file`.

Another idea is to add an option in the settings for controlling whether `Go Back` and `Go Forward` works on all files o

[2018-03-31 10:49] kasunsjc opened #47024 "PowerShell intellisense support for Dockerfile"
Hi Team,

PowerShell intellisense support for Dockerfile will be a great feature to write Dockerfile to have less typos. This will help when typing long RUN commands in dockerfile.

Thanks

[2018-03-31 11:33] joaompinto opened #47025 "vscode.windows.showSaveDialog() is not available"
- VSCode Version:
Version 1.21.1

- OS Version:
CentOS 7

Steps to Reproduce:

1. Create an extension with that uses vscode.windows.showSaveDialog()
2. Try to debug it:
12:31 $ tsc -p .
src/extension.ts(134,16): error TS2339: Property 'showSaveDialog' does not exist on type 'typeof vscode'.

The function is documented at:
https://code.visualstudio.com/docs/extensionAPI/vscode-api

Does this issue

[2018-03-31 11:45] destiny-wenlun opened #47026 "A Problem In .tsx File"
I have defined a variable on .d.ts file like:
[code]
but it cant show in .tsx.
.ts file is OK

[2018-03-31 11:54] Bram-Zijp commented on #46025
I managed to freeze the intellisense completely. The log should be huge but full of data. It froze at the end. Before that it sometimes froze temporary which was resolved after waiting for 30 sec while CTRL + Space was pressed.

jsconfig.json
[code]

Log ID:  3704565005

[2018-03-31 12:10] romanlex opened #47027 "Open multiple instance of dolphin in Linux"
- VSCode Version: Версия 1.21.1
- OS Version: Linux, Plasma 5

Steps to Reproduce:

1. Select multple files ifrom one folder in resource tree
![image](https://user-images.githubusercontent.com/3369304/38163012-6eee20fa-34f5-11e8-9cec-4572afe8816f.png)

2. Open folder `Alt+Ctrl+R`
![image](https://user-images.githubusercontent.com/3369304/38163017-85749bec-34f5-11e8-88e8-cacec8d629d8.png)

3. Dolph

[2018-03-31 12:12] justalemon commented on #46914
locale.json:
[code]

Just updated and upgraded with apt:
![Repro](https://user-images.githubusercontent.com/11861253/38163030-8daf16de-34c3-11e8-8a67-76be93fc3d8e.png)

The system is still the same.

[2018-03-31 12:21] valtism opened #47028 "Terminal shows previous commands behind git interactive rebase"
Issue Type: <b>Bug</b>

The following bug occurred when I previously used `git log`, then performed a `git rebase -i`. You can see that all of the characters that were not updated with rebase info are not cleared.

![bug](https://user-images.githubusercontent.com/1286001/38163086-e0e375a4-3539-11e8-9ce7-4393c575895e.png)

I assume this has to do with the performance improvements made to the termin

[2018-03-31 13:27] MichelDiz commented on #45871
I got it. But it's not a friendly process like Chrome's. You have an option inside UI to see NPM Tasks and others. Via command there is this possibility, but I tried to do it now. But with code --status "zsh: command not found: code" is not recognized in my terminal. I'll have to see my Bash profile to sort it out.

My issue has not been resolved yet. I'll close this issue anyway. I just downloade

[2018-03-31 13:27] #45871 closed

[2018-03-31 13:29] ziyan-junaideen commented on #35675
I am on an Ubuntu 18.04 pre release and had artifacts in rendered fonts as described. Following the last few comments I installed `code-insiders`. The artifacts are no longer there. My libfreetype6 version is `2.8.1-2ubuntu1`. Thank you.

[2018-03-31 13:48] rivu2016 opened #47029 "Extension host crashes when opening php files"
Whenever I try to open a php file, the extension host crashes. This is the output in the console:
[code]

Works fine with html or css files. Please fix this asap. I love this editor and have a deadline coming soon. Looking forward to a quick fix. Also happening with the insiders release.
Cheers,
Swarnava.
__ __
Version 1.21.1
Commit 79b44aa704ce542d8ca4a3cc44cfca566e7720f1
Date 2018-03-14T14:46:47

[2018-03-31 13:55] rivu2016 commented on #47029
# Edit
Error does not occur when I remove the "php" folder from the "extensions" folder.

[2018-03-31 14:05] rivu2016 commented on #47029
# Edit 2
Here's the Extension Host Output:
`[2018-03-31 19:26:50.830] [exthost1] [info] extension host started
[2018-03-31 19:26:50.871] [exthost1] [info] ExtensionService#_doActivateExtension vscode.emmet {"startup":true,"activationEvent":"*"}
[2018-03-31 19:26:50.871] [exthost1] [info] ExtensionService#loadCommonJSModule c:\Program Files\Microsoft VS Code Insiders\resources\app\extensions\emmet\

[2018-03-31 14:07] tsaiid commented on #46499
Yes. Currently, I use an AutoHotKey script to do this.

[code]

It can capture the Win+a and then send Ctrl+a to do selectAll.