[2020-03-31 22:32] chrisdias opened #94076 "Suggest: Indicate which account is syncing"
testing https://github.com/microsoft/vscode/issues/93811

When I'm signed into multiple accounts and click on the user icon, I can see the accounts but I don't know which one I am signed into for syncing.  I see this:

![image](https://user-images.githubusercontent.com/1487073/78081071-7e3be600-7364-11ea-8935-6d7dd635b753.png)

It would be more clear with something like this to know what I'm synci

[2020-03-31 22:39] chrisdias commented on #94076
and ideally if i am signed in but not syncing, i would like to know that...

[2020-03-31 22:41] gjsjohnmurray commented on #93994
@Tyriar see https://github.com/microsoft/vscode/issues/90981#issuecomment-588832480 and #91982 for how this hover is soon going to become useful.

[2020-03-31 22:41] mjbvz opened #94077 "thisArg not used for EnvironmentVariableCollection"
Refs #93601

**Repo**

For an extension:

[code]

**Bug**
`this` is undefined inside the callback

[2020-03-31 22:51] rebornix commented on #93888
I updated the icons accordingly. For the lock icon update in output, please file new issues to track @isidorn .

[2020-03-31 22:53] chrisdias opened #94078 "Multiple prompts to "Turn on" syncing"
testing https://github.com/microsoft/vscode/issues/93811

I'm prompted 2x to sync when I force a sign on through the gear menu.

1. Make sure you are signed out
2. On gear menu, click on "Turn on Preferences Sync"
3. Get the following list that says "Sign in & Turn on"

![image](https://user-images.githubusercontent.com/1487073/78081983-c4924480-7366-11ea-9d0d-07ee12165c4b.png)

4. Click on "Sign

[2020-03-31 22:55] chrisdias opened #94079 "Simplify the sync notification"
testing: https://github.com/microsoft/vscode/issues/93811

The message "Sync will happen automatically from now on" is a bit repetitive, especially the last part "from now on". That's the point of sync :).

![image](https://user-images.githubusercontent.com/1487073/78082375-bbee3e00-7367-11ea-9c41-aac8b8a5bd35.png)

If we need a confirmation notification, it could simply say "Synchronization is tu

[2020-03-31 22:55] fiveisprime opened #94080 "Headers aren't aligned when split horizontally and collapsed"
Issue Type: <b>Bug</b>

#93787

1. Drag views into a single panel so that they are split horizontally
1. Collapse the headers

Expected: the headers are equal in height and position
Actual: the headers are sometimes equal in height and offset in vertical position

![headers](https://user-images.githubusercontent.com/1186948/78082435-dd4f2a00-7367-11ea-9f56-e404131a0e97.gif)

VS Code version: Code

[2020-03-31 22:58] JacksonKearl opened #94082 "Needs More Info Pinger"
## Background
We have the needs-more info bot, which closes issues which have the `needs more info`, were last updated over a week ago, and were last updated by a team member.

However, there are currently around 160 issues which have the `needs more info`, were last updated over a week ago, but were not last updated by a team member.

These date back as far as years ago.

## Proposal

Bot will co

[2020-03-31 22:59] ArturoDent commented on #94060
A good request.  A workaround in the meantime is to use the extension https://marketplace.visualstudio.com/items?itemName=rioj7.command-variable for accessing the selected text:

[2020-03-31 22:59] chrisdias opened #94083 "Sync was turned off from another device prompt (when it wasn't)"
testing https://github.com/microsoft/vscode/issues/93811

When signing out of an account that is currently being used to sync settings, I get this dialog:

![image](https://user-images.githubusercontent.com/1487073/78082575-420a8480-7368-11ea-8a69-e11193ee88ef.png)

If I let this dialog sit open for a minute or two without clicking on either button, I get this notification:

![image](https://user-

[2020-03-31 23:00] rebornix commented on #94058
oops, my mistake.

[2020-03-31 23:01] rebornix commented on #94024
/duplicate of https://github.com/microsoft/vscode/issues/93940, thanks!

[2020-03-31 23:01] #94024 closed

[2020-03-31 23:01] mjbvz commented on #93601
Works well overall.

The main issue I ran into is that I couldn't update the `PATH` on windows: #94069

I was also a little confused about ordering of updates, especially when working with multiple extensions. See #94081

[2020-03-31 23:03] rebornix commented on #94055
When the focus goes into the webview, the scrollbar no longer receives mouse move/drag events. We should probably emit mouse move (with mouse button pressed) from the webview and send them to the scrollbar.

[2020-03-31 23:06] #93956 closed

[2020-03-31 23:08] rebornix commented on #94039
@roblourens did we remove the edit button for markdown?

[2020-03-31 23:10] rebornix commented on #93953
Let's look into this issue next iteration.

[2020-03-31 23:11] pauldaustin commented on #94045
It's a typescript/angular 9 project.

For example

ng generate component --module=app  my-component

Then try and rename the my-component folder to real-component-name and the 3 files below that. Pretty much none of the renames propagate to other files.

[2020-03-31 23:11] rebornix commented on #93918
Fixed via https://github.com/microsoft/vscode/commit/563997c6de826b77a28181927ad5822c904438d0

[2020-03-31 23:11] #93918 closed

[2020-03-31 23:12] josh18 opened #94084 "JSDoc suggestions do not appear if autoClosingBrackets is disabled"
Issue Type: <b>Bug</b>

1. Set setting `editor.autoClosingBrackets: "never"`
2. Attempt to generate a JSDoc comment by typing `/**`

**Expected**
JSDoc comment is suggested

**Actual**
No suggestions

I'm not sure if this is by design but it would be nice to get JSDoc suggestions even if you have autoClosingBrackets disabled. I believe there is already another setting if you want to disable JSDoc

[2020-03-31 23:15] JacksonKearl opened #94085 "Better count changed lines in changes view with screen reader"
ref #93301

With this diff, the reader will tell me "10 lines changed", when really only 3 have. It seems to be including the unchanged lines in the diff hunk when counting the changed lines, which seems confusing.

[code]

VSCode's rendering of the above diff:
![image](https://user-images.githubusercontent.com/8586769/78083640-eb527a00-736a-11ea-9976-e1eea2158a38.png)

macOS mojave voiceover

[2020-03-31 23:18] JacksonKearl opened #94086 "Diff "context" not included in F7 diff mode"
ref #93301

With this diff, the reader wont give me the git "context" header of `export class FeatureRequestQueryer {`, even though it is included in the raw `git diff` output.

[code]

VSCode's rendering of the above diff:
![image](https://user-images.githubusercontent.com/8586769/78083640-eb527a00-736a-11ea-9976-e1eea2158a38.png)

macOS mojave voiceover

[2020-03-31 23:19] rebornix commented on #91586
@misolori this request aligns with your design.

[2020-03-31 23:19] #93727 closed

[2020-03-31 23:23] rebornix commented on #93757
Pushed a few layout polish to master and now I can't reproduce this issue anymore. @jrieken let me know if you still see it.

[2020-03-31 23:25] JacksonKearl opened #94087 "Better read unchanged lines in F7 diff view"
ref #93301

With this diff, the reader will read

`private label: string original line 14 modified line 14`

it might be good to just notate that its unchanged?

`private label: string unchanged line 14`

[code]

VSCode's rendering of the above diff:
![image](https://user-images.githubusercontent.com/8586769/78083640-eb527a00-736a-11ea-9976-e1eea2158a38.png)

macOS mojave voiceover

[2020-03-31 23:25] #93785 closed

[2020-03-31 23:26] #93787 closed

[2020-03-31 23:33] rebornix commented on #93920
Good catch, thanks!

[2020-03-31 23:34] #93888 closed

[2020-03-31 23:36] #93648 closed

[2020-03-31 23:45] #94073 closed

[2020-03-31 23:58] #93863 closed

[2020-04-01 00:00] deadmeu commented on #93869
Hi @deepak1556, I've just tried out your build, and I can confirm that I am no longer seeing the startup flash. I am also not seeing any of the menu widget flashes:
![vscode-flash-fixed2](https://user-images.githubusercontent.com/12111013/78085844-7d0bc700-73ff-11ea-808b-65dddbb8cc82.gif)

[2020-04-01 00:04] deepak1556 commented on #93869
Thanks for testing!

Did you try with `"window.titleBarStyle": "native"` ?

[2020-04-01 00:04] deadmeu commented on #93869
Yes, the GIF I posted is using the native title bars.

[2020-04-01 00:06] towry commented on #92755
More logs coming

<img width="181" alt="Screen Shot 2020-04-01 at 8 03 59 AM" src="https://user-images.githubusercontent.com/8279858/78086053-5d6ca280-73ef-11ea-9f28-3b311f20d531.png">

<details>
 <summary>Log (Extension Host) </summary>

[code]
</details>

[2020-04-01 00:07] towry commented on #92755
@sandy081

<details>
<summary>Log (Window)</summary>

[code]
</details>

[2020-04-01 00:09] towry commented on #92755
The project.

<img width="580" alt="Screen Shot 2020-04-01 at 8 09 07 AM" src="https://user-images.githubusercontent.com/8279858/78086291-1632e180-73f0-11ea-8cfe-9fba0edf1eaa.png">

[2020-04-01 00:12] towry commented on #92755
<details>
<summary>Account (log)</summary>

[code]
</details>

[2020-04-01 00:16] #93822 closed

[2020-04-01 00:17] rebornix opened #94088 "Copy/Paste not working in Notebook output"
Issue Type: <b>Bug</b>

Copy/Paste/Undo/Redo doesn't work in Notebook rich output (rendered in webview).

VS Code version: Code - OSS Dev 1.44.0 (Commit unknown, Date unknown)
OS version: Darwin x64 19.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-9980HK CPU @ 2.40GHz (16 x 2400)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3

[2020-04-01 00:29] deepak1556 commented on #93869
I can still repro in exploration build the white flash in menu navigation with native titlebar on Ubuntu 18.04 parallels vm. I am tracking this in https://github.com/microsoft/vscode/issues/80798.

Not sure which electron commit fixed the launch issue, but good to know its fixed.

[2020-04-01 00:30] kieferrm opened #94090 "No timeline information on remote files"
Issue Type: <b>Bug</b>

Testing https://github.com/microsoft/vscode/issues/93819.

1) Checkout the vscode repo on a remote linux SSH box
2) Connect to the remote SSH box using the Remote-SSH extension
3) Open the vscode folder
4) Open `src/vs/workbench/common/editor.ts`
=> no timeline information was provided

VS Code version: Code - Insiders 1.44.0-insider (d7d1147d6b764a48b789000c03088ee9afabcd8

[2020-04-01 00:35] misolori commented on #94026
@alexdima if the quick pick allowed you to preview the different mime types, would this change your mind/be a better experience?

[2020-04-01 00:42] kieferrm opened #94091 "Make pinned timeline more explicit"
Issue Type: <b>Feature Request</b>

Testing https://github.com/microsoft/vscode/issues/93819

1) Open a timeline from a file in the explorer
-> timeline is pinned to that file
2) keep working: open editors, browse etc.
-> At some point you forget that you pinned the timeline and looking at the history becomes a puzzler as the history does not make sense,  then you realize the different file name b

[2020-04-01 00:46] #93811 closed

[2020-04-01 00:49] kieferrm opened #94092 "Timeline pin state"
Issue Type: <b>Feature Request</b>

Testing https://github.com/microsoft/vscode/issues/93819

Related to https://github.com/microsoft/vscode/issues/94091.

1) Open a timeline from a file in the explorer
2) Hover over the timeline titlebar
-> you see

![image](https://user-images.githubusercontent.com/4674940/78087916-6588fb80-7377-11ea-8af9-73ab163e3ceb.png)

The unpin icon has a couple of issues:

[2020-04-01 00:50] rdt003 opened #94093 "vscode not showing proper file icons on mac"
Python files are showing the proper icon, but other file types are showing the generic vscode icon.
All the files should be showing the proper icons as of version 1.28:
https://code.visualstudio.com/updates/v1_28

I checked my plist file and all the file extensions are set to the proper icns file, so idk why my files aren't showing the proper icons.

<img width="631" alt="Screen Shot 2020-03-31 at

[2020-04-01 00:57] chrisdias opened #94094 "cannot reference $returnValue in logpoint"
testing https://github.com/microsoft/vscode/issues/93807

Not sure if this should work or not, but what the heck I'll give it a try!

![image](https://user-images.githubusercontent.com/1487073/78088377-d67ce300-7378-11ea-81da-f3962409510f.png)

In the debug console, I get this:

[code]

[2020-04-01 01:00] deadmeu commented on #93869
Interesting. I'm finding the issue is also fixed when targeting electron 8.0.0, which seems to contradict some of the comments people have left in the upstream ticket.

Also, thanks for your work getting this issue figured out, and in developing vscode :smile:

[2020-04-01 01:03] misolori commented on #94092
Funny, I also filed https://github.com/microsoft/vscode/issues/94049 today and agree

[2020-04-01 01:06] kieferrm opened #94095 "Notebook: Alt+Enter should not execute the cell"
1) create a new gh issues nb
2) enter text in first cell
3) Alt+Enter to add a new cell below
-> cell 1 runs but shouldn't

[2020-04-01 01:07] Spown commented on #67039
this does look like what I am facing now. ``<node_internals>/**`` is skipped fine (garyed out, marked as skipped in the tooltip...). but node_modules can't be skipped neither with pattern nor explicitly, Regardless of unix or win path scheme is used

![](https://drive.google.com/uc?id=1z_aNX3Ipm_nJqp963ayOgEzRtVDPyVjf)

[2020-04-01 01:10] kieferrm opened #94096 "Notebook: Alt-Enter should move keyboard focus to newly created cell"
1) create a new gh issues nb
2) place keyboard focus in cell 1
3) Alt+Enter
=> keyboard focus should be in cell 2

[2020-04-01 01:12] kieferrm opened #94097 "Notebook: Del/Backspace should delete cell"
1) create a new gh issues nb
2) create a second cell
2) place keyboard focus in cell 2
3) ESC
4) DEL
=> cell 2 should be deleted

[2020-04-01 01:15] kieferrm opened #94098 "Notebook: Missing command palette commands"
- new cell
- delete cell
- move cell up/down
- run cell
- switch rendered mime type for cell

[2020-04-01 01:17] davidanthoff commented on #91759
I thought so, but I'll double check!

[2020-04-01 01:18] kieferrm opened #94099 "Notebook: Missing autosave"
1) Enable autosave
1) create a new gh issues nb
2) enter text in first cell
-> nb remains dirty

[2020-04-01 01:23] kieferrm opened #94100 "Notebook: Hovers are cut off"
See the screenshot:

![image](https://user-images.githubusercontent.com/4674940/78089574-b3ecc900-737c-11ea-8138-46825da282c9.png)

[2020-04-01 01:24] deepak1556 commented on #93120
Sorry @ThrowawayAccount-lang  it is endgame week, I will look at this later half of this week.

Can you also launch code with `--trace` flag and attach the log. Thanks!

[2020-04-01 01:25] chrisdias opened #94101 "Suggestion: Clarify empty debug viewlet text"
testing: https://github.com/microsoft/vscode/issues/93806

The empty debug viewlet seems out of balance with the "Run and Debug" button at the top, centered, without any instructional text before it when there is a file open:

![image](https://user-images.githubusercontent.com/1487073/78088831-3f188f80-737a-11ea-8cc4-dc340579f304.png)

Compare this to when no file is open, where there is some intr

[2020-04-01 01:25] deepak1556 commented on #93690
@Erinay0 can you launch code with `--trace` and attach the log. Thanks!

[2020-04-01 01:26] kieferrm opened #94102 "Notebook: Clear active output does not work from command palette"
1) create a new gh issues nb
2) enter `repo:microsoft/vscode author:kieferrm`
2) run cell
3) clear output using the cell toolbar
-> nothing happens

(Command palette commands also don't have any affect but show an error notification.)

[2020-04-01 01:49] chrisdias commented on #93806
Tested on Mac and on Windows with WSL. Looks great.

[2020-04-01 01:49] #93806 closed

[2020-04-01 01:53] kieferrm opened #94103 "Timeline: Should untitled file have an "Uncommitted Changes" note"
Issue Type: <b>Question</b>

Testing https://github.com/microsoft/vscode/issues/93819.

Not quite sure what I'd expect in this case but I thought I file it anyways:
1) Create a new untiled file
=> no timeline information was provided

For named files we show an "Uncommitted Changes" node.

VS Code version: Code - Insiders 1.44.0-insider (d7d1147d6b764a48b789000c03088ee9afabcd8a, 2020-03-31T08:22:3

[2020-04-01 01:57] gregvanl opened #94104 "Timeline hover has empty line"
- VSCode Version: 1.44 Insiders
- OS Version: Windows

Found while testing #93819

When you hover over a Timeline item, the hover displays an extra empty line between the timestamp and comment.

![image](https://user-images.githubusercontent.com/12818376/78091257-2d86b600-7381-11ea-82d4-2e21cb00f16b.png)

Is this line filled in certain scenarios? It looks odd to have an empty line.

[2020-04-01 02:02] gregvanl opened #94105 "Timeline title bar buttons disappear"
- VSCode Version: 1.44 Insiders
- OS Version: Windows

Found while testing #93819

If you bring up the Timeline More Actions `...` dropdown, the title bar buttons are cleared.

![image](https://user-images.githubusercontent.com/12818376/78091515-e947e580-7381-11ea-85ff-e947450566fa.png)

This looks like a general issue with view title bar dropdowns as it also repros with the Outline More Actions d

[2020-04-01 02:03] kieferrm opened #94106 "Timeline: exclude sources"
Issue Type: <b>Bug</b>

Testing https://github.com/microsoft/vscode/issues/93819.

There are several issues with the setting:
[code]

1) The name led me down a path to think that I can exclude folders in my workspace.
2) How do I know which sources are available?

VS Code version: Code - Insiders 1.44.0-insider (d7d1147d6b764a48b789000c03088ee9afabcd8a, 2020-03-31T08:22:34.682Z)
OS version: Darwin

[2020-04-01 02:06] gregvanl commented on #94106
Agree with 2. No IntelliSense to list available sources and no error if put in incorrect source name.

[2020-04-01 02:11] DanielHZhang commented on #93897
I'm having this issue on 1.44.0-insider as well.
I tried applying the following in both the user and workspace settings, but none of them work:
[code]

[2020-04-01 02:14] #93815 closed

[2020-04-01 02:16] gregvanl opened #94107 "Not sure Timeline Open Changes button is needed"
- VSCode Version: 1.44 Insiders
- OS Version: Windows

Found while testing #93819

I found the Open Changes button confusing as initially I thought it would do something different than the single click behavior. It also pushes the history date to the left.

![image](https://user-images.githubusercontent.com/12818376/78092089-95d69700-7383-11ea-8826-ba0928438ca9.png)

I think most users will quickl

[2020-04-01 02:24] gregvanl opened #94108 "Open Timeline Explorer command says "No timeline information was provided.""
- VSCode Version: 1.44 Insiders
- OS Version: Windows

Found while testing #93819

Steps to Reproduce:

1. Close all editors.
2. Collapse Timeline
2. From the File Explorer, right-click on a file and select Open Timeline

Not timeline history is displayed.

![image](https://user-images.githubusercontent.com/12818376/78092583-fdd9ad00-7384-11ea-807d-f0c36353b5ff.png)

I've had trouble initially rep

[2020-04-01 02:32] gregvanl commented on #94104
Looks like extra line per line break

![image](https://user-images.githubusercontent.com/12818376/78093124-58bfd400-7386-11ea-9726-a0f33b79a729.png)

[2020-04-01 02:41] alexxxcs1 opened #94109 "this javascript code's tip is misleading, this is not inaccessible all time"
Version: 1.43.2
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.3.0

MacOS version: 10.15.3

List of extensions that you have installed:
Bookmarks,
Githu Light Theme,
GitLens,
SVG Viewer.
I try disable all extensions but it not work

this javascript code's tip is misleading, this is not inaccessible all time

by the way , in my pc this scipt is no

[2020-04-01 02:52] gregvanl opened #94110 "Should Timeline Load More command have a hover?"
- VSCode Version: 1.44 Insiders
- OS Version: Windows

Found while testing #93819

While "Load more" is pretty self-explanatory, it would still be good to have a hover explaining what the command does in more detail.

[2020-04-01 02:54] gregvanl opened #94111 "Should Timelime Load More command have an icon?"
- VSCode Version: 1.44 Insiders
- OS Version: Windows

Found while testing #93819

It is a little hard to differentiate the Load More command from the history entries. Perhaps adding an icon to the entry would help users know it is a command. Maybe just a plus sign in front.

`+ Load More`

[2020-04-01 02:55] #93819 closed

[2020-04-01 03:09] wenqiangxie commented on #10759
If teams of Microsoft do not support technology from Microsoft, it's time all of us move to Linux. PowerToys not release MSIX of new version, and PowerShell 7 doesn't have a MSIX package. But VSCode release in snapcraft store, PowerShell and .Net Core release as APT, may Microsoft want to tell us, if you want to use a good and modern package manager, choose Linux, it's time, NOW.

[2020-04-01 03:11] sana-ajani commented on #94076
Or highlighting the currently signed in account.

[2020-04-01 03:21] Magical-E opened #94112 "Python version incorrect when use yarn to build vscode web"
- VSCode Version:1.4.3
- OS Version:Ubuntu18.04

Steps to Reproduce:

1.cd vscode/
2.yarn

And it shows:
[code]
It seems that the used python version is 3.7.6 (installed by Anaconda). But how can I use 2.7(installed by system) so that I can yarn correctly.
I'll appreciate it if you can provide any solution.

[2020-04-01 03:22] chrisdias commented on #94076
hmmm @sana-ajani your comment raises a good point i think. all of the accounts are signed in, and the customer may be doing different things with each account (e.g. sync'ing on one, using gh PRs on another). So, saying that one of the accounts is syncing may not be right.  Maybe the answer is on the gear menu to show what account is syncing.  for example, "Sync is on (cdias@microsoft.com)"

[2020-04-01 03:22] ghosej commented on #93824
Is this something that the community can work on? If so, I would like to work on this.

[2020-04-01 03:35] #93886 closed

[2020-04-01 03:43] wenqiangxie commented on #10759
Nope, PowerToys changed their mind, and we hove to use a old Windows, not model Windows 10.

[2020-04-01 03:54] aokihu opened #94113 "different window use different theme"
Issue Type: <b>Feature Request</b>

能不能不同的窗口使用不同的主题，用于区分不同的项目

VS Code version: Code - Insiders 1.44.0-insider (6cf3dd97465b2f4f666b66758991d720e003b0f4, 2020-03-27T05:28:16.333Z)
OS version: Darwin x64 19.4.0
Remote OS version: Linux x64 4.15.0-88-generic

[2020-04-01 04:24] JayRoddd opened #94114 "Keep getting href error after fixing"
Issue Type: <b>Bug</b>

Would still receive href error after fixing or making a change. Only works again after reopening live server.

VS Code version: Code 1.43.2 (0ba0ca52957102ca3527cf479571617f0de6ed50, 2020-03-24T07:38:38.248Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6600K CPU @ 3.50GHz (4 x 3504)|
|GPU

[2020-04-01 05:11] rohitspujari opened #94115 "Can't run hello-world SAM Application"
Issue Type: <b>Bug</b>

1. Fresh install vscode
2. Install nvm
3. Install node 12.16.1
4. Create hello-world SAM application

Preparing to run app.lambdaHandler locally...
Building SAM Application...
An error occurred trying to run SAM Application locally: Error with child process: Building resource 'awsToolkitSamLocalResource'
,Error: NodejsNpmBuilder:Resolver - Path resolution for runtime: nodej

[2020-04-01 05:19] eamodio opened #94116 "No hover info for these product icon schema items"
Refs: #93798

![image](https://user-images.githubusercontent.com/641685/78101790-963c5580-73b6-11ea-9ff6-447d910f4930.png)

[2020-04-01 05:19] bpasero commented on #94052
@rebornix you will get this for free once Notebooks register as working copy via `IWorkingCopyService`. I am actually surprised how notebooks are not registering already, how do you deal with e.g. hot-exit so far?

[2020-04-01 05:23] bpasero commented on #93866
Then update the JSDoc.

[2020-04-01 05:25] bpasero commented on #93643
@roblourens the container if present will be shown as "description" label in smaller letters next to the label

[2020-04-01 05:25] bpasero commented on #93649
@mjbvz good catch, I will have to add it.

[2020-04-01 05:27] bpasero commented on #94054
I think this is intentional since those menus are proposed API.

[2020-04-01 05:29] #93943 closed

[2020-04-01 05:29] bpasero commented on #93943
Changed the key.

[2020-04-01 05:35] bpasero commented on #94007
I decided to remove these default entries as I found them to not be helpful. I am especially worried about accessibility that people may think there is a result. Imho the placeholder should provide sufficient information and we should not add fake results. The "Go to Line" and extensions picker is the only exception so far.

[2020-04-01 05:35] #94007 closed

[2020-04-01 05:36] bpasero commented on #93949
As for the issue of not selecting that item, we have https://github.com/microsoft/vscode/issues/93610

I leave it up to @sandy081 to change this label, it was unchanged from stable:

![image](https://user-images.githubusercontent.com/900690/78102819-8c811500-73eb-11ea-8278-c190322d1c2e.png)

[2020-04-01 05:38] bpasero commented on #93988
Yes, intentional. The rationale is that you can never restore "empty" workspaces because you cannot open them from the OS. Folders and workspaces can be opened from the OS.

[2020-04-01 05:38] #93988 closed

[2020-04-01 05:39] bpasero commented on #93985
Yeah to be fair we have this "issue" since day one because you could have always searched for "task <space> myworkspace" and we simply normalized it to a query of "taskmyworkspace".

Still, the task picker is in the way.

[2020-04-01 05:40] #93985 closed

[2020-04-01 05:40] akiirui commented on #85589
This issues are regress at 1.43.2

[2020-04-01 05:41] bpasero commented on #93984
Yes, @Tyriar suggested the same. We cannot draw decorations in that menu, e.g. to indciate dirty state in the same way. One idea maybe is to have a submenu in there to list all workspaces with dirty files because the list can potentially be very large.

[2020-04-01 05:50] chrmarti commented on #93916
The first tab focuses on the list. My understanding is that that is how it should be from an accessibility point of view. @isidorn ?

[2020-04-01 05:50] joaomoreno commented on #94013
If this is really related to the clock, the issue is somewhere deep in Chrome or Window's network stack, since none of our code depends on the clock. Closing it as it seems a very infrequent occurrence.

[2020-04-01 05:50] #94013 closed

[2020-04-01 05:51] bpasero opened #94117 "TS: no error for passing undefined/null into objects.ts#assign"
This is causing exceptions when you pass `undefined` to [`assign`](https://github.com/microsoft/vscode/blob/1055a5330b9b524b571ed4daebbb7241cb9ea48d/src/vs/base/common/objects.ts#L116).

Looking at the signature I would think it should show an error if you attempt to do so.

[2020-04-01 05:52] joaomoreno commented on #93849
I get that feedback could be helpful... but blur? How about fading it out instead?

[2020-04-01 05:53] bpasero commented on #93649
I pushed changes so that you can test this now 👍

[2020-04-01 05:53] joaomoreno commented on #93828
@bpasero @deepak1556 Are you aware of a `Dictionaries` folder from electron?

[2020-04-01 05:54] bpasero commented on #93828
First time I hear this folder name, no.

[2020-04-01 05:55] #93078 closed

[2020-04-01 05:55] joaomoreno commented on #93078
You can register menu items to both the Explorer context menu as well as SCM.

[2020-04-01 05:56] AndyXan commented on #84745
Also happens on Ubuntu 19.10, fully updated, latest vs code

[2020-04-01 05:58] chrmarti commented on #93921
It's QuickInput. If we agree this is undesired, I suggest to remove it (instead of refining it in a way that is hard to discover). You can then still wrap around using up/down arrows (which is more intuitive, I think).

[2020-04-01 05:58] joaomoreno commented on #93671
Can you show me the full output of `Git: Show Git Output`?

[2020-04-01 06:00] joaomoreno commented on #93539
What happens when you try to commit? Can you provide more information?
Can you please provide a [screen recording](https://gifcap.dev/)?

[2020-04-01 06:01] joaomoreno commented on #93534
#84981

[2020-04-01 06:01] #93534 closed

[2020-04-01 06:02] #93495 closed

[2020-04-01 06:02] chrmarti commented on #93922
Home/End work when you `tab` first to give focus to the list. While the focus is on the textbox, I expect Home/End to go to the textbox. (I suggest to leave this as it is.)

[2020-04-01 06:02] joaomoreno commented on #93045
https://github.com/microsoft/vscode/issues/77061

[2020-04-01 06:02] #93045 closed

[2020-04-01 06:04] joaomoreno commented on #93308
@sandy081 `renderElement` will definitely only call with elements provided by you, so the undefined is coming from somewhere.

[2020-04-01 06:05] bpasero opened #94118 "TS: "Declare method" is really bad"
So many things wrong:

![image](https://user-images.githubusercontent.com/900690/78104405-75dcbd00-73ef-11ea-9543-2bddb9dabc2c.png)

* import uses a weird syntax
* I am not being asked for the visibility, it is just public by default
* `any` (!) is declared as return type??? I should be asked

[2020-04-01 06:05] joaomoreno commented on #93333
Does it work if you set `update.enableWindowsBackgroundUpdates` to `false`?

[2020-04-01 06:05] bpasero commented on #94118
With this, it took me more keystrokes to fix the method compared to just writing it myself.

[2020-04-01 06:06] #93381 closed

[2020-04-01 06:06] joaomoreno commented on #93349
What clone button? Can you show me in a screenshot?

[2020-04-01 06:07] FremdSprach opened #94119 "VSCode Explorer Display Disorder"
Issue Type: <b>Bug</b>

In the Explorer Navigation Zone, the contents of "NO FOLDER OPENED" and "OUTLINE" might overlap with each other.

VS Code version: Code 1.43.2 (0ba0ca52957102ca3527cf479571617f0de6ed50, 2020-03-24T07:38:38.248Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8350U CPU @ 1.70GHz (8 x 1896)|
|

[2020-04-01 06:08] #93884 closed

[2020-04-01 06:08] bpasero commented on #93884
I think this is tolerable. You will get the proper history when you open an instance again.

Since there is no real event when something changes due to syncing, I would have to re-read the entire history every time a storage change happens. But this change is also happening from the same instance when a command is picked. I think that is overkill.

[2020-04-01 06:10] #94004 closed

[2020-04-01 06:10] gjsjohnmurray commented on #94114
/causedByExtension

[2020-04-01 06:10] deepak1556 commented on #93828
Thats from when electron switched to use chromium spellchecker https://github.com/electron/electron/pull/20692 , our custom build has the spellchecker disabled so this directory should never have been created, seems like some orphaned code path I missed. Will look into it next iteration.

[2020-04-01 06:10] #94114 closed

[2020-04-01 06:11] Souravgoswami commented on #93772
This feature will be very handy particularly for Linux users like me who has the habit of enabling the focus follows mouse feature in the window manager...

[2020-04-01 06:12] bpasero commented on #93922
@chrmarti I think Daniel asks for `Ctrl+Home` / `Ctrl+End` to work on the list if I understand correctly.

But I see this as a feature request for the quick input widget itself, so moving off March.

[2020-04-01 06:13] pythoulon commented on #93695
Ok. That makes sense. Thanks for the clarification and long live VS Code... 😄

[2020-04-01 06:15] bpasero commented on #93942
Upon second thought, I am not sure explicitly calling out "folders" and "workspaces" is helpful to understand the intend. I think https://github.com/microsoft/vscode/issues/77718 is the discussion to have on this topic.

/duplicate https://github.com/microsoft/vscode/issues/77718

[2020-04-01 06:15] #93942 closed

[2020-04-01 06:16] sandy081 commented on #93884
@bpasero Are not we supporting at other places like status bar etc? We listen to storage change and update the window state?  I do not have knowledge about command picker history is not this involve just replacing the state whenever there is a change in storage?

Do you mind accepting PRs for this>

[2020-04-01 06:17] sandy081 commented on #93949
No plans to change.

[2020-04-01 06:17] #93949 closed

[2020-04-01 06:17] eamodio commented on #93798
@aeschli I can't seem to get this to work at all - either in debug mode or as a vsix. I'm sure I'm doing something wrong, but I can't tell what -- here is my repo: https://github.com/eamodio/vscode-amethyst-icon-theme

[2020-04-01 06:18] bpasero commented on #93884
@sandy081 I think each location that uses storage can decide to react on the event or not. For commands specifically I chose to not react to the change because you could have one window opened with a TS specific command you always run (so it appears to the top) and another window with a C++ command being the first. It would be frustrating to have the first command always switch across all windows.

[2020-04-01 06:18] eddex commented on #93487
I'm experiencing the same issue as of today using the `Fira Code` font. It seems like the font has stopped working completely (not only the ligatures).

Other font settings still work in VS Code:
- `'Times new roman', Consolas`
- `Times new roman, Consolas`

And the `Fira Code` font is correctly installed on my system, I can use it without problems (and with ligatures) in other apps.

VSCode setup

[2020-04-01 06:22] sandy081 commented on #92755
Are you seeing only extension host log and window log?  What about other logs?

Can you please try opening any log using the command `Developer: Show Logs`

Are you able to run the command `Developer: Toggle Shared Process`?

[2020-04-01 06:28] joaomoreno commented on #93401
Can you reproduce with `code --disable-extensions`?

[2020-04-01 06:28] #93935 closed

[2020-04-01 06:29] joaomoreno commented on #93408
Please don't put anything inside the VS Code folder. It's not supported.

[2020-04-01 06:29] #93408 closed

[2020-04-01 06:30] eamodio commented on #94092
I'm a little concerned with using the "pinned" metaphor, as I would expect "pinning" a view, would stop the view from collapsing or something along those lines. I feel like what you are doing is tracking or following -- and we use the follow terminology with the Outline view -- "Follow Cursor"

Visual Studio use the "Track" terminology -- they have a "Track Active Item in Solution Explorer" settin

[2020-04-01 06:30] joaomoreno commented on #92461
Can you try disabling Windows background updates? Set `update.enableWindowsBackgroundUpdates` to `false`.

[2020-04-01 06:31] joaomoreno commented on #92967
Can you fully uninstall and reinstall VS Code?

[2020-04-01 06:32] eamodio commented on #94103
Since the file doesn't exist and Git doesn't know about it, what would we do if you clicked on the _Uncommitted Changes_ node?

[2020-04-01 06:33] eamodio commented on #94104
That is intentional -- I added a line break between the "meta-data" section and the commit message. And the commit message will render with any of its own line breaks.

[2020-04-01 06:33] #94104 closed

[2020-04-01 06:34] joaomoreno commented on #93072
Somehow the background updater process seems broken on your machines.
Can you try disabling Windows background updates? Set `update.enableWindowsBackgroundUpdates` to `false`.

[2020-04-01 06:34] eamodio commented on #94105
Duplicate of #92029

[2020-04-01 06:34] #94105 closed

[2020-04-01 06:37] eamodio commented on #94106
I don't think there is any way to show intellisense here -- as the sources are dynamic, depends on runtime registrations by extensions.

Ideally users won't need to change the setting themselves, since the `Include: *` menu on the Timeline view sets it.

[2020-04-01 06:37] #93936 closed

[2020-04-01 06:38] jrieken commented on #94006
/needsMoreInfo

Please use this guide to provide more information: https://github.com/Microsoft/vscode/wiki/Performance-Issues. Thanks.

[2020-04-01 06:38] joaomoreno commented on #94031
Change the setting `update.mode` to `manual`.

[2020-04-01 06:38] #94031 closed

[2020-04-01 06:38] bpasero commented on #93936
Needs verification in:
* editor picker (`edt`)
* files picker (e.g. having a dirty editor in history)
* window switcher (Window > Switch Window) when having dirty files in that window
* recently opened (when having dirty files in workspace)

[2020-04-01 06:39] joaomoreno commented on #93300
I like it. Let's just open, instead of adding an option.

[2020-04-01 06:40] joaomoreno commented on #93281
@jithamanyumanne This is very strange. Do you still see it?

[2020-04-01 06:41] bpasero opened #94120 "Open editors: group is not announced"
Steps to Reproduce:

1. enable VoiceOver
2. have multiple editor groups
3. click on entries in open editors view

=> 🐛 the output is weird to say the least. I think sometimes no group info is read, or if, it is wrong.

[2020-04-01 06:41] joaomoreno commented on #93258
https://github.com/microsoft/vscode/issues/40295

[2020-04-01 06:41] #93258 closed

[2020-04-01 06:41] #94113 closed

[2020-04-01 06:41] #94115 closed

[2020-04-01 06:41] bpasero commented on #94120
Each entry seems to have a "Close Editor" when announced too...

[2020-04-01 06:42] dormesica commented on #93320
I would like to take a look at that it's OK.

[2020-04-01 06:43] joaomoreno commented on #93181
This is currently not supported by the command infrastructure, we're a long way for it.

[2020-04-01 06:43] #93181 closed

[2020-04-01 06:44] eamodio commented on #94107
I guess one thing up for discussion is whether or not a click behavior on the item makes sense. With the `git-history` source, it does, because it will open up a diff (similar to existing SCM behavior), but other sources there might not be any valid click behavior -- and since the items will be inter-mixed it might feel like an odd user-experience. So I've been on the fence about disabling the cli

[2020-04-01 06:44] chrmarti commented on #93944
The items in Open Recent are no longer in groups when they are sorted by score. I'm not sure preserving the groups would make sense because there is no indication that the user would prefer workspaces over files or the other way around.

Preserving the groups with `edt` makes sense because these are different editors.

Preserving the groups with Go To File makes sense because one is much more like

[2020-04-01 06:45] #94112 closed

[2020-04-01 06:46] gjsjohnmurray commented on #94099
/duplicate of #94052

[2020-04-01 06:46] antonio-petricca opened #94121 "Integrated terminal closes unexpectedly"
Hi, I am running on latest stable VS Code, and since a few weeks I am suffering of an issue: the integrated terminal closes unexpectedly, and I have to open it again. Doing so I get the old terminal instance plus the new one.

How could I solve it?

Thank you so much!

[2020-04-01 06:46] #94099 closed

[2020-04-01 06:46] joaomoreno commented on #94068
I can't reproduce. Are you in a network share? Do you have symbolic links?

Can you please provide a [screen recording](https://gifcap.dev/)?

[2020-04-01 06:48] chrmarti commented on #93947
We could add an aria label that each use of the QuickPick would need to supply. Alternatively we typically have a placeholder that is context specific (but might not always speak for itself from what I see).

[2020-04-01 06:49] eamodio commented on #94110
What do you think it should say? The GitHub PRs extension which uses this pattern, just says "Load more" when you hover.

[2020-04-01 06:50] joaomoreno commented on #94093
Seems like an issue of macOS. I would reach out in StackOverflow for an answer.

[2020-04-01 06:50] #94093 closed

[2020-04-01 06:50] #93928 closed

[2020-04-01 06:50] bpasero commented on #93928
Removed announcement of the picker you are in from all of quick open items.

[2020-04-01 06:51] #93944 closed

[2020-04-01 06:51] #94071 closed

[2020-04-01 06:53] joaomoreno commented on #93225
Keyboard shortcuts for commands which depend on the SCM view selection are currently not supported.

[2020-04-01 06:53] #93225 closed

[2020-04-01 06:58] eamodio commented on #94111
I avoided adding an icon, because the timeline items themselves all have icons and I wanted to make this stand apart. Also the GitHub PRs and GitLens (soon) use this pattern with the same style.

/cc @misolori thoughts?

[2020-04-01 07:03] joaomoreno commented on #92431
You seem to have multiple repositories open, maybe it's showing that it's in the `master` branch of another repository? That would explain it would change once you open a file.

[2020-04-01 07:04] joaomoreno commented on #93083
Please go through the following steps:

1. Run `Git: Set Log Level...` and choose `Trace`
2. Run `Git: Show Git Output`
3. Make some file changes and wait 10-20 seconds
4. Paste the whole output here

Thanks!

[2020-04-01 07:05] towry commented on #92755
1. See the screenshot here https://github.com/microsoft/vscode/issues/92755#issuecomment-606951729, the other logs (Git, Account, Prettier, etc) works fine.

2. `Developer: Show Logs` command will only prompt two options:  Host and Window logs.

3. Now I can not reproduce the issue again, and I am able to run the command `Developer: Toggle Shared Process`. here is the screenshot:

<img width="1237

[2020-04-01 07:06] joaomoreno commented on #93552
You seem to be missing file events. Please go through the following steps:

1. Run `Git: Set Log Level...` and choose `Trace`
2. Run `Git: Show Git Output`
3. Reproduce the issue and wait 10-20 seconds
4. Paste the whole output here

Thanks!

[2020-04-01 07:06] joaomoreno commented on #93552
Also, are your changes in a network share, or any other special file system location?

[2020-04-01 07:07] joaomoreno commented on #93701
@alihassan1133 Can you reproduce with any file in the repository? Also with other repositories in your system?

[2020-04-01 07:08] joaomoreno commented on #93946
It's pretty much the same what happens with the Windows file explorer. We can do better, tho!

[2020-04-01 07:11] borishere commented on #92431
@joaomoreno Yes, I confirm it. I have a repo inside another repo and at start it shows 'master' branch of another repo even if the opened file at start is from non-master branch of another repo.

[2020-04-01 07:12] joaomoreno commented on #92262
Yup. That's exactly the issue. Can you try rewriting the script using [`open`](https://scriptingosx.com/2017/02/the-macos-open-command/) instead of calling `/usr/local/bin/code`?

[2020-04-01 07:14] joaomoreno commented on #92898
That seems like an issue of Windows though, I suggest giving them that feedback instead.

[2020-04-01 07:14] #92898 closed

[2020-04-01 07:16] bpasero commented on #94012
This is not an issue with the new implementation, I copied the code over. Instead, the view picker needs to be made fit for the newly added support to move views.

Code pointer: https://github.com/microsoft/vscode/blob/9e8080a9207eb605746996b641a2926418f4d9e0/src/vs/workbench/contrib/quickaccess/browser/viewQuickAccess.ts#L90

[2020-04-01 07:16] numToStr commented on #93133
@alexdima
- Add this `"strictPropertyInitialization": true` in the `tsconfig.json`.
- If needed restart the ts server.
- This issue only occurs on class properties w/ decorators that don't have an initial value (as shown in the image above).
- If you get ts errors as above, pop up the Quick Fix dialog, you will see the text overlapping (as shown in the image above)

Hope this helps :v:

[2020-04-01 07:16] xobs commented on #92898
It seems like an issue with VSCode, though.  Visual Studio 2019 registers itself as an editor, but VSCode does not.

[2020-04-01 07:17] borishere commented on #92431
Looks like it shows the first or main repo of a workspace.

[2020-04-01 07:17] #92431 closed

[2020-04-01 07:18] bpasero commented on #94010
@jrieken might need your help, I see that "References" for example only appear if they appear in the side bar, but "Refactor Preview" is always there. Whatever you do to make this work nicely for "References" can we do the same for "Refactor Preview"?

[2020-04-01 07:18] jrieken commented on #94038
It's not semantic but the TM grammar

[2020-04-01 07:18] bpasero commented on #94010
Alternatively we could allow to open this panel even if empty.

[2020-04-01 07:19] mjbvz commented on #94118
Please provide steps to reproduce this issue in the VS Code codebase so we can investigate

[2020-04-01 07:20] deepak1556 commented on #94074
Our exploration builds are based on chromium 80, you can give it try. There is no timeline yet for when we are going to push for stable.

Download:
* Linux (DEB): [Download](https://az764295.vo.msecnd.net/exploration/2766badcb6c29445f5289033f1343f373802315c/code-exploration_1.44.0-1585360228_amd64.deb)
* Linux (RPM): [Download](https://az764295.vo.msecnd.net/exploration/2766badcb6c29445f5289033f13

[2020-04-01 07:20] jrieken commented on #94010
References view is an extension and refactor preview is built-in. Not sure what the extension integration does better...

[2020-04-01 07:20] joaomoreno commented on #92757
Does normal command line git honor it? Did you set it as your global excludes file? https://stackoverflow.com/questions/7335420/global-git-ignore#7335487

[2020-04-01 07:21] joaomoreno commented on #92718
You seem to be missing file events. Please go through the following steps:

1. Run `Git: Set Log Level...` and choose `Trace`
2. Run `Git: Show Git Output`
3. Reproduce the issue and wait 10-20 seconds
4. Paste the whole output here

Thanks!

[2020-04-01 07:23] joaomoreno commented on #92872
Just reject the drag over call: https://github.com/microsoft/vscode/blob/a8c58cf52f4a217b0b0e374ee20d901e78013199/src/vs/base/browser/ui/list/list.ts#L103-L103

[2020-04-01 07:23] #92872 closed

[2020-04-01 07:24] jrieken commented on #93852
Unsure for editing and friends. I stumbled over `open` because initially my implementation did nothing there

[2020-04-01 07:24] bpasero commented on #94054
I added the entry for the web menu.

There seems to be more missing, also in SCM. Adding @joaomoreno

Needs to be added to: https://github.com/microsoft/vscode/blob/8084a58504f23b60654d4e9381821bc57660c9b2/src/vs/workbench/api/common/menusExtensionPoint.ts#L124

[2020-04-01 07:24] bpasero commented on #94054
@aeschli is anyone using the "File" top level menu contribution point after all?

[2020-04-01 07:25] jrieken commented on #93856
So strong feelings. Generally, I was surprised by the amount of activation events that there are. I like the comparison to `onWebviewPanel`

[2020-04-01 07:25] brillout opened #94122 "[Feature Request] Everything is a Tab"
Just like in the browser: everything is a tab.
 - File source code is a tab
 - Search results is a tab
 - Terminal is a tab

Display different kind of tabs with different colors/symbols.
 - File source code "tab header" is blue
 - Search results "tab header" is green
 - Terminal "tab header" is yellow

Allow two/several tabs to be shown at the same time, i.e. split screen. For having terminal side

[2020-04-01 07:26] bpasero commented on #94118
@mjbvz in `commandsQuickAccess#CommandsHistory' add `this._register(this.storageService.onDidChangeStorage(e => this.onDidChangeState(e)));` into the `registerListeners`

[2020-04-01 07:26] mjbvz commented on #94117
I think the error in in our typing, not with typescript. If you pass call `assign(undefined)`, TypeScript will infer `T = undefined`. Maybe our typings should have `T extends object` or a similar constraint?

Note that `Object.assign` has the same problem: https://github.com/microsoft/TypeScript/issues/35621

Assigning back to you @bpasero as I'm not sure who owns these object functions

[2020-04-01 07:26] jrieken commented on #93875
Yeah, that's an event emitter problem. Unsure when/why that happened...

[2020-04-01 07:26] borishere commented on #92431
@joaomoreno  Fixed or?

[2020-04-01 07:27] bpasero commented on #94117
@mjbvz back to sender

![image](https://user-images.githubusercontent.com/900690/78110297-fb199f00-73fa-11ea-819a-094abc5bb965.png)

[2020-04-01 07:28] sandy081 commented on #93884
Completely agree with that.

Just trying to understand what and when is the merging strategy when multiple windows have different recent commands history.

[2020-04-01 07:28] bpasero commented on #94010
@jrieken you possibly contribute a `when` condition which the picker evaluates here:

https://github.com/microsoft/vscode/blob/8084a58504f23b60654d4e9381821bc57660c9b2/src/vs/workbench/contrib/quickaccess/browser/viewQuickAccess.ts#L97

[2020-04-01 07:29] bpasero commented on #93884
Currently history is only updated upon restart, but not within a session. I think we should keep it like that to not damage muscle memory.

[2020-04-01 07:30] isidorn commented on #93782
We can reopen this one if you prefer. Point being if we start looking into improving the DnD behavior we will look it at both directions

[2020-04-01 07:30] jrieken commented on #93645
Given this reply https://github.com/microsoft/vscode/issues/46718#issuecomment-606794209 I think that it would be better to hold off for now

[2020-04-01 07:30] #93799 closed

[2020-04-01 07:31] #93808 closed

[2020-04-01 07:31] #94018 closed

[2020-04-01 07:31] jrieken commented on #46718
Ok - thanks for clarifying. If you ask me what a language extension should do, then I would recommend to rely on a project config, not on vs code config, esp in the name of LSP and potentially different front ends

[2020-04-01 07:31] wtklbm commented on #93552
Sorry, I can’t send file events to you right now. Gutter is sometimes normal and sometimes abnormal. When I find that gutter is abnormal again, I will try to capture file events.

[2020-04-01 07:33] jrieken commented on #94010
I have that: https://github.com/microsoft/vscode/blob/15bdd26e460fb16ca3cca2202875de4d31863f4c/src/vs/workbench/contrib/bulkEdit/browser/bulkEdit.contribution.ts#L362

[2020-04-01 07:33] sandy081 commented on #94083
There is not. Will investigate what's happening here.

[2020-04-01 07:33] isidorn commented on #93874
Correct.

[2020-04-01 07:35] sandy081 commented on #92755
Seems like issues with your shared process. When you get into this state try the command `Developer: Toggle Shared Process` to confirm that if the shared process is accessible or not.

[2020-04-01 07:36] bpasero commented on #94064
@misolori wondering if that is a generic list issue, can you reproduce this from a stable view such as SCM?

![image](https://user-images.githubusercontent.com/900690/78110998-41233280-73fc-11ea-9285-cf94537126e2.png)

[2020-04-01 07:36] aeschli opened #94123 "Extensions viewer: Show version number in header"
Version: 1.44.0-insider
Commit: d7d1147d6b764a48b789000c03088ee9afabcd8a
Date: 2020-03-31T08:28:37.335Z

The extensions view header has all the important information about an extension, but not the installed or latest version number. I often need this when filing issues to a extension.

![image](https://user-images.githubusercontent.com/6461412/78110984-3c5e7e80-73fc-11ea-936f-c8e9efe64ee2.png)

[2020-04-01 07:36] jrieken commented on #93868
Things might get even more simple when nuking the editing delegate and move everything into `CustomDocument`. I really like @bpasero document implementation here (https://github.com/bpasero/vscode-custom-editor-bom/blob/master/src/extension.ts#L118) and only that made me understand hot exit

[2020-04-01 07:36] isidorn commented on #93864
Whatever you agree on I will happily align with in Debug :)

[2020-04-01 07:37] sandy081 commented on #93874
Can you able to repro it? If so can you please provide the sync logs?

What is expected here is that, user shall see a notification at the end that sync is turned on.

[2020-04-01 07:38] CzBiX commented on #92757
Sorry, I missed it after reconfigure my environments.
Set it as global excludes file and it works now.

[2020-04-01 07:38] #92757 closed

[2020-04-01 07:39] isidorn commented on #93824
@ghosej thanks for offering. We are currently in the endgame week which means we are quickly fixing the last remaining issues before we ship. Due to that I will probably try to fix this bug in the next 8 hours. If you have a solution before than feel free to submit a PR.
Otherwise I recommend looking at issues with a help-wanted tag, or at issues not assigned to March milestone. Thanks

[2020-04-01 07:39] Oliverxddd opened #94124 "Wrong characters"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. Launch VSCode
2. Run terminal
3. Characters will be replaced with other characters wrongly. For example "Terminated" will be displayed as "Tehminated" instead.

Does this issue occur when all extensions are disabled?: Yes/No
No. I believe it is a problem with Live Server.

[2020-04-01 07:40] isidorn commented on #94094
Living loco @chrisdias
Though forwarding to @connor4312 since he is the author of that test plan item

[2020-04-01 07:41] weinand commented on #89819
@TylerSustare does your npm "start" script really enable debugging?
"react-scripts start" does not sound like debugging to me...

[2020-04-01 07:41] #94010 closed

[2020-04-01 07:41] bpasero commented on #94010
Looks like I need to check on the `hideIfEmpty` property also for panels.

[2020-04-01 07:42] alexr00 commented on #93864
I'll change it to "+ Configure a task". It will still only show if there are no configured tasks.

[2020-04-01 07:44] sandy081 commented on #94079
No hard feelings.. changed to `Preferences sync is turned on`.

Can change again if needed improvements.

[2020-04-01 07:44] alexr00 commented on #94060
If we do something like this I prefer option 1. Duplicate of https://github.com/microsoft/vscode/issues/92854

[2020-04-01 07:44] #94079 closed

[2020-04-01 07:44] #94060 closed

[2020-04-01 07:45] jrieken opened #94125 "saveAs doesn't have a cancellation token"
re #93767

save and backUp have...

https://github.com/microsoft/vscode/blob/d05e41bef84ffae0cc3685178950524e8c33fd99/src/vs/vscode.d.ts#L6893

[2020-04-01 07:45] isidorn commented on #94025
Nice try, but you have to use ==
Example https://github.com/microsoft/vscode/blob/9e8080a9207eb605746996b641a2926418f4d9e0/extensions/git/package.json#L807

[2020-04-01 07:45] #94025 closed

[2020-04-01 07:47] isidorn commented on #94016
This is a fair idea, however it goes against the inital design of the welcome view content.
For now leaving it open as a feature request and we might reconsider it in the future if there is too much content and the welcome views get cluttertd.
fyi @joaomoreno

[2020-04-01 07:48] jrieken commented on #93963
I understand the delegate pattern, my problem is its conflict with `CustomDocument` which is bound to the same `EditType` as the delegate having `appliedEdits` and `savedEdits` which I honestly don't understand. So, my problem here is the overlap and the back and forth of these two players, not the delegate itself but the inconsistency of where to put responsibilities.

Slight disagree. You obviou

[2020-04-01 07:48] sandy081 commented on #94078
/duplicate

https://github.com/microsoft/vscode/issues/93805

[2020-04-01 07:49] #94078 closed

[2020-04-01 07:51] jrieken commented on #93963
Apart from the delegate or not delegate discussion, my frustration that led to this issue is that I failed to understand what applyEdits, undoEdits, or revert should do or how I should implement them.

[2020-04-01 07:52] isidorn commented on #93296
I can reproduce this issue.
That the active file always gets compared with the old clipboard content, not the latest.
This is already in stable, thus assigning to next milestone to fix then.

[2020-04-01 07:52] alexdima commented on #93649
This works great! Thank you @bpasero ❤️

[2020-04-01 07:52] sandy081 commented on #93771
@rebornix Can you please provide Sync logs from both instances?

[2020-04-01 07:52] ZhenyuWangs opened #94126 ""EOF when reading a line" when I run a program with "input""
- VSCode Version:1.43
- OS Version:

Steps to Reproduce:

1. open the vs code
2. run my program
3. then there is an error
![2020-04-01 (1)](https://user-images.githubusercontent.com/61881865/78112080-4306e900-7430-11ea-9149-b11f4e7e5447.png)
   but actually a couple days ago there is no such issue and i don't know why this happened.

Does this issue occur when all extensions are disabled?: Yes/No

[2020-04-01 07:53] isidorn commented on #94119
Thanks for filling this, however there is already an issue which we plan to fix today https://github.com/microsoft/vscode/issues/93344

[2020-04-01 07:53] #94119 closed

[2020-04-01 07:53] sandy081 commented on #94072
Can you please provide sync logs? It could be because of the complaint you made in #93771 that sync is not happening at all?

[2020-04-01 07:54] #89718 closed

[2020-04-01 07:54] bpasero commented on #93947
I am using `placeholder` exactly for that reason and was under the assumption that screen readers would read it out to the user.

@chrmarti for the aria label I think this needs infrastructure on the level of quick pick, I only see the `ariaLabel` attribute for items.

Moving to April, would also like to hear @isidorn input on this and potentially real screen reader users.

[2020-04-01 07:54] isidorn commented on #94022
This is designed behavior, since we can not assume that the debug adapter trully canceled the progress.
I am open to suggestions here
Currently we will complete the progress if the session goes down, which is fair.

fyi @weinand

[2020-04-01 07:55] towry commented on #92755
@sandy081 Hi, I can now reproduce this issue, and running `Developer: Toggle Shared Process` will open the DevTool.

[2020-04-01 07:55] alexdima commented on #94032
@TheRealMikeD
Which commands are bound to the desired key combination? Can you please post a screenshot?

![keyboard-conflicts](https://cloud.githubusercontent.com/assets/5047891/25484174/38f5b004-2b59-11e7-994b-dfa96ef043ce.gif)

[2020-04-01 07:56] alexr00 commented on #94028
It is available for all custom contributed tree views now! I deleted that from the schema this month :).

[2020-04-01 07:57] joaomoreno commented on #92431
The status bar will only show the branch name of one of your open repositories. By default it will take the first one. It will then switch if you open files inside other repositories or interact with them in the SCM view.

[2020-04-01 07:58] aeschli commented on #93798
Sorry, sorry, I made a silly error when adding the 'proposedApi' check.

I pushed a fix (https://github.com/microsoft/vscode/commit/20b88fa0694cae8e46ffd305a1450ba58ae6065b) and triggered a rebuild. In the meantime please test out of source.

[2020-04-01 07:58] joaomoreno commented on #93552
OK let me know.

[2020-04-01 07:59] #93992 closed

[2020-04-01 07:59] aeschli commented on #94054
@bpasero We removed the remote usage, so it's not used (to my knowledge)

[2020-04-01 08:00] sandy081 commented on #93620
Looks to your network issue. Not sure how I can help here.

[2020-04-01 08:00] #93620 closed

[2020-04-01 08:01] joaomoreno commented on #92564
Definitely not going to sacrifice performance for this.

What is the actual problem? I thought the `aria` attributes are exactly for this situation: to provide structure where there normally is none.

[2020-04-01 08:01] sandy081 commented on #92323
@wilson-weets Can you please try above suggestion?

[2020-04-01 08:04] bpasero commented on #94054
Ok then maybe we should remove it entirely.

[2020-04-01 08:07] borishere commented on #92431
Why not take the repository of the file opened with VS Code start.

[2020-04-01 08:14] bpasero commented on #94125
related/dupe: https://github.com/microsoft/vscode/issues/93913

[2020-04-01 08:25] sandy081 commented on #92755
Are you also not able to see `sharedProcess` log?

[2020-04-01 08:28] bpasero commented on #93921
@chrmarti I agree about removing this, I also find it not very intuitive and would expect that you simply end up on the first or last item, but never wrap. Can you make this change?

[2020-04-01 08:28] isidorn commented on #94101
@chrisdias thanks for the feedback. The first part telling the users what the Run and Debug button do I am not a big fan of. Seems like noise and stating the obvious - I might be wrong but I would not change it now.
As for the Node.js Debug Terminal I am forwarding this to @connor4312 so he can decide

[2020-04-01 08:30] alexr00 commented on #94020
duplicate of https://github.com/microsoft/vscode/issues/93931

[2020-04-01 08:30] #94020 closed

[2020-04-01 08:30] #94012 closed

[2020-04-01 08:30] alexr00 commented on #94017
duplicate of https://github.com/microsoft/vscode/issues/93925

[2020-04-01 08:30] #94017 closed

[2020-04-01 08:31] bpasero commented on #93916
I am not seeing an immediate issue here to fix and this is pending answer from a18y experts, so moving to April.

[2020-04-01 08:31] vasilenka commented on #93897
@aeschli I've tried that one, I've tried the one with the theme name, also the old syntax `"editor.semanticHighlighting.enabled": false` but none of them are working.

It's working fine before with the old syntax.

Here's my VS Code:
Version: 1.44.0-insider
Commit: 2f984aad710215f4e4684a035bb02f55d1a9e2cc
Date: 2020-04-01T05:48:07.538Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8

[2020-04-01 08:32] bpasero commented on #94012
@sandy081 thanks!

[2020-04-01 08:33] Salamandar commented on #5192
I don't even understand why you closed this issue.

[2020-04-01 08:35] bpasero commented on #93926
@isidorn I cannot reproduce with VoiceOver, when I tab back into the input box I get the value announced. I also get something announced when tabbing at first. Probably NVDA is different here.

Since I do not see an immediate fix for March, moving to April to decide how to proceed.

[2020-04-01 08:36] jrieken commented on #93963
Trying to explain my confusion in more detail (thinking loud)

**1 - applyEdits**

[code]

- Who calls this? When and why?
- I need translation for "Note that is not invoked when `onDidEdit` is called because `onDidEdit` implies also updating the view to reflect the edit." At least an explainer for when this is *not called* but still confused. But who calls `onDidEdit`, it's an event it fires, rig

[2020-04-01 08:36] Foxhoundn commented on #93310
Hi @alexdima, yeah sorry, you're right. There's a few more steps.

The error only happens when you try **postMessage to a webview**

So if you create a webview and do `webview.postMessage({ foo: JSON.parse(*...the json*) })`, the whole extension window crashes.

[2020-04-01 08:42] MazeChaZer opened #94127 "Terminal: Angle brackets around URLs break detection"
- VSCode Version: 1.42.1
- OS Version: Arch Linux Latest

Steps to Reproduce:

1. Open Terminal
2. Enter `echo '<https://example.org>'` or `echo '<https://example.org:8000>'`
3. Try to Ctrl+Click on the link

Does this issue occur when all extensions are disabled?: Yes

[2020-04-01 08:43] dlucazeau commented on #92323
Where is user-data-dir on win10 ? Is this directory shared between two versions of VSCode ? Because:
_VSCode Version: 1.42.1 (user setup)
Commit: c47d83b293181d9be64f27ff093689e8e7aed054
Date: 2020-02-11T14:45:59.656Z
Electron: 6.1.6
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18363_
works fine and not the latest.

[2020-04-01 08:44] isidorn commented on #93926
No action needed since you see the same as me. Only reproduces for @Tyriar
Let's wait for the community feedback. Thus moving out to Backlog.

[2020-04-01 08:44] bpasero commented on #93963
I think this API is a consequence for not having an explicit `undo` and `redo` method. Back from our very early discussions I think we had 2 camps: this approach, and the other where a custom editor would be in full control of undo, redo, reporting dirty state.

With exposing edits as first class thing, we make the API considerably more complex to understand but probably help the extension to beha

[2020-04-01 08:48] isidorn commented on #94063
@TylerLeonhardt this is a valid point. Thus keeping this open as a feature request and we might change this in the future.
fyi @weinand

[2020-04-01 08:50] towry commented on #92755
Where to see the `sharedProcess` log? along with the Window and Host logs ?? I am not able to see the  logs that named with sharedProcess.

[2020-04-01 08:51] alexr00 commented on #94001
I'm not seeing the same behavior. Is there anything in the console?

[2020-04-01 08:52] #94126 closed

[2020-04-01 08:52] IllusionMH commented on #94127
/duplicate of #21125

[2020-04-01 08:53] #94127 closed

[2020-04-01 08:53] alexr00 commented on #93997
@chrmarti this is coming from quick pick. If there's an icon button on an item that also has a group then the group is aligned differently.

[2020-04-01 08:55] sandy081 commented on #92323
user settings.json file is located in `<user-data-dir>/User`. You can find this by opening user settings.json file.

[2020-04-01 08:57] chrmarti commented on #93610
@jvesouza We don't select the first item while in screenreader mode so the placeholder is read out when the picker opens (#57501 reported for NVDA). We could change it to select the first item when filtering, preserving the behavior when opening. (We should also check if NVDA still skips the placeholder when an item is selected, VoiceOver does read it.)

[2020-04-01 08:58] eefan000 commented on #2743
在一些特殊时期会比较慢
MS Azure应该够了

[2020-04-01 08:59] PaulTemp opened #94128 "Security vulnerability updates KB4506163 and KB4506164 detected, unable to install"
Unable to reopen https://developercommunity.visualstudio.com/content/problem/660716/security-vulnerability-updates-kb4506163-and-kb450.html

Please create new ticket there and move my post with attachements.
Paulius Petkevičius Jan 07 at 01:54 PM

[2020-04-01 09:00] jrieken opened #94129 "Use @see-declaration"
re https://github.com/microsoft/vscode/issues/93795

Nit but you should be using `@see` for this comment https://github.com/microsoft/vscode/blob/26a3d4e48f61f3be8fec6e07d94e37404a63c6a4/src/vs/vscode.d.ts#L3400

We have been using that in other places and I believe our html generator makes special use of that.

[2020-04-01 09:03] towry commented on #92755
@sandy081

Here is the reproduce steps:

1. clone https://github.com/towry/vscode-issue-92755
2. Open a normal typescript project with Insiders and keep it open.
3. Run `cd vscode-issue-92755 && code-insiders .`

[2020-04-01 09:04] FremdSprach opened #94130 "Under Certain Circumstance, VSCode Explorer Sidebar Gets Duplicate Layouts in the "NO FOLDER OPENED" Item"
Issue Type: <b>Bug</b>

To reproduce the problem, just add a folder and remove it afterwards.

Then we can see three identical "Add Folder" layouts, LOL:

![image](https://user-images.githubusercontent.com/30553808/78119040-63d43c00-743a-11ea-9af6-d45150a5d227.png)

VS Code version: Code 1.43.2 (0ba0ca52957102ca3527cf479571617f0de6ed50, 2020-03-24T07:38:38.248Z)
OS version: Windows_NT x64 10.0.177

[2020-04-01 09:08] jrieken opened #94131 "Odd alignment with group labels and commands"
see attached screen shot

It looks weird that the first label keeps the indentation when not focused

<img width="699" alt="image" src="https://user-images.githubusercontent.com/1794099/78119561-ea702580-7408-11ea-8277-8f87ca7c4492.png">

[2020-04-01 09:08] frobinsonj opened #94132 "Go to file - Offer highlighted file path"
A feature similar to what is described in https://github.com/microsoft/vscode/issues/42297, but it should not search for the highlighted text. Instead, when <kbd>CTRL</kbd>+<kbd>P</kbd> is pressed and there is valid path highlighted (relative to the focused editor), that file should be offered at the top of the results.

This could be displayed as below but read something like "highlighted path" a

[2020-04-01 09:09] weinand commented on #94063
@TylerLeonhardt @isidorn some clarifications:
- the "terminal icon" in the debug viewlet is nothing new. It was there since the beginning of time (when VS Code did not have an integrated terminal).
- the icon represents the "debug console" and REPL, not a terminal.
- the "debug console" is a mandatory part of the DAP adapter protocol. Output events go there and VS Code's generic REPL implementatio

[2020-04-01 09:10] #94063 closed

[2020-04-01 09:11] aeschli commented on #93798
@eamodio New insiders is out: Version: 1.44.0-insider
Commit: 20b88fa0694cae8e46ffd305a1450ba58ae6065b
Date: 2020-04-01T08:29:34.507Z

I verified that your theme is now available and works once you fix the font path (`"path": "./ElegantIcons.woff"`)

[2020-04-01 09:17] joaomoreno commented on #90670
How does the flow work in the command line if you try to:

[code]

[2020-04-01 09:19] joaomoreno commented on #92581
Can you reproduce with `--disable-extensions`?

[2020-04-01 09:21] jrieken opened #94133 "Semantic colors stick around when using (only) range provider"
re #93795

I have implement a range semantic tokens provider by simply using my document semantic tokens provider, e.g that I only have a range provider, none for the whole document. What I see is that colors aren't cleared,

* have `foo OR bar` with `OR` being a semantic keyword.
* remove ` bar`
* using the document provider -> OR isn't highlighted anymore
* using (only) the range provider -> OR

[2020-04-01 09:22] joaomoreno commented on #92843
This is strange. What about [Markdown](https://github.com/microsoft/vscode/blob/a5ab6d665b940d83b7a4b0718b04cc1095e071ba/scripts/test-integration.bat#L52-L52) and [Emmet](https://github.com/microsoft/vscode/blob/a5ab6d665b940d83b7a4b0718b04cc1095e071ba/scripts/test-integration.bat#L55-L55)?

[2020-04-01 09:22] BernhardFuchs commented on #92581
Yes, same with disabled extensions.

[2020-04-01 09:30] chrmarti commented on #93902
Same on Linux. Here it added a `.code-snippet` file extension while all others are `.json` files. Is that part of this issue?

[2020-04-01 09:31] #93796 closed

[2020-04-01 09:33] chrmarti commented on #93902
Renaming the file to `foobar.json` made it work. It just takes while for it to be sent to the server and then pulled from there.

[2020-04-01 09:35] gr4nt3d commented on #92262
These are my results:
[code]
It does seem to fix it for the moment. Though, I am not completely sure where the problem came from in the first, as it does not appear to happen all the time.

[2020-04-01 09:46] jrieken commented on #93757
[test.github-issues.zip](https://github.com/microsoft/vscode/files/4414238/test.github-issues.zip)

The attached notebook reproduces this pretty well. Whenever I open it it renders like this and only recovers when I type newlines in the editor

<img width="718" alt="Screenshot 2020-04-01 at 11 44 12" src="https://user-images.githubusercontent.com/1794099/78123316-44bfb500-740e-11ea-9422-232e99cd97

[2020-04-01 09:46] bpasero commented on #93610
+1 for selecting when filtering, I think at that point the placeholder was read out already.

[2020-04-01 09:48] isidorn commented on #93610
+1 for selecting when filtering.
Thanks for looking into this!

[2020-04-01 09:49] isidorn commented on #94120
Open editors view definetnly needs some accessibility love.
Assigning to April to look into it then.

[2020-04-01 09:51] bpasero commented on #92581
@BernhardFuchs I cannot reproduce, here is what I did based on your description:
* created an empty folder
* created a file with your contents
* committed that to git
* made the change as instructed by you
* ran `git log`

The output was:

![image](https://user-images.githubusercontent.com/900690/78123870-1e4e4980-740f-11ea-8619-5b52aac1ff3c.png)

So I see no issue with VSCode here and suggest you

[2020-04-01 09:51] #93721 closed

[2020-04-01 09:53] joaomoreno commented on #92673
You seem to be missing file events. Please go through the following steps:

1. Run `Git: Set Log Level...` and choose `Trace`
2. Run `Git: Show Git Output`
3. Reproduce the issue and wait 10-20 seconds
4. Paste the whole output here

[2020-04-01 09:56] bpasero commented on #94131
This was done intentionally to fix https://github.com/microsoft/vscode/issues/92489

But the more I see it, the more I am also not a big fan of that change anymore.

However it looks good and better for these cases imho: https://github.com/microsoft/vscode/issues/92489#issuecomment-598100778

@chrmarti thoughts?

[2020-04-01 09:57] bpasero commented on #93997
Related https://github.com/microsoft/vscode/issues/94131

Though I do not think this is a bug, what would be the alternative? Indent all groups to the same level? Could also look bad.

[2020-04-01 10:01] bpasero commented on #92843
Either:
* tests move into their own tests extension similar to our API tests
* or the git extension literally bundles its tests inside and test run out of there, though would need to be deleted before packaging

I think for normal extensions this is not a problem because they publish their VSIX to the marketplace which excludes tests. This is a problem with our built-in extensions that live inside

[2020-04-01 10:03] joaomoreno commented on #93910
Here's the exact height right now:

![image](https://user-images.githubusercontent.com/22350/78125028-c57fb080-7410-11ea-846e-5951060023f8.png)

[2020-04-01 10:03] jrieken opened #94134 "Clarify the relation between Document and DocumentRange semantic tokens"
re https://github.com/microsoft/vscode/issues/93795

How about adding a bit of JSDoc that explains `DocumentRangeSemanticTokensProvider` a little, for instance that won't be used much in the presence of a `DocumentSemanticTokensProvider` or that/if the legends etc are independent or what happens if both are present but different extensions

[2020-04-01 10:04] jrieken commented on #94134
For formatters we have this https://github.com/microsoft/vscode/blob/26a3d4e48f61f3be8fec6e07d94e37404a63c6a4/src/vs/vscode.d.ts#L9890

[2020-04-01 10:05] jithamanyumanne commented on #93281
Yes I still face the issue.Iam facing this issue daily.Adding the screenshots of the version just for reference.

<img width="497" alt="Screen Shot 2020-04-01 at 3 32 26 PM" src="https://user-images.githubusercontent.com/32517689/78125137-3a151800-742e-11ea-8a82-3a2e797fae62.png">

<img width="447" alt="Screen Shot 2020-04-01 at 3 34 45 PM" src="https://user-images.githubusercontent.com/32517689/7

[2020-04-01 10:05] isidorn commented on #94028
@alexr00 but we should still offer `scm` `explorer` and `debug` and idealy have this open ended that when users put in anything else they do not get an error.
Not sure if possible to be done with a json schema
fyi @joaomoreno

[2020-04-01 10:09] jrieken opened #94135 "Explain token types in SemanticTokensLegend"
https://github.com/microsoft/vscode/issues/93795

I wasn't really sure what provide to the legend, I see that we list some here: https://github.com/microsoft/vscode/wiki/Semantic-Highlighting-Overview#token-classification and I think we should have jsdoc-link to those and explain if that's all or not. Also, I remember correctly, there is an upper-bound for token types and I wonder if that's enforc

[2020-04-01 10:09] alexr00 commented on #93997
Ideally I think it should only shift the group label when the item that the label is on is selected. No need to indent when the icon isn't even showing.

[2020-04-01 10:09] #94019 closed

[2020-04-01 10:12] isidorn commented on #94051
Good catch. Agree this is not ideal, we should preserve expansion state explicitly set by user.
Assigning to April to investigate into a fix.

[2020-04-01 10:12] jrieken opened #94136 "Legend without modifiers"
re https://github.com/microsoft/vscode/issues/93795

This is how my legend is defined: https://github.com/microsoft/vscode-github-issue-notebooks/blob/a265e954bdc765396c6efbbb971d35f921d03a04/src/languageProvider.ts#L303

E.g it has no modifiers, only a single keyword, and when declaring tokens (using the builder) then I can only provide an in valid modifier reference (0):

https://github.com/micr

[2020-04-01 10:13] J3m5 commented on #92242
@gkkirilov I asked for it [in early December](https://github.com/microsoft/vscode/issues/83930#issuecomment-560304790)
[This feature](https://github.com/Microsoft/vscode/issues/70413) was requested in March 2019.
IMHO, multi-line tabs and pinned tabs is a must have.

[2020-04-01 10:13] bpasero commented on #94019
This should work now, there was a bad dispose of the decorations that lead to weird results. I can see this work like this now:

![Kapture 2020-04-01 at 12 12 54](https://user-images.githubusercontent.com/900690/78126008-252a8b80-7412-11ea-8563-f00132bf54e7.gif)

[2020-04-01 10:14] bpasero commented on #93997
@alexr00 but check https://github.com/microsoft/vscode/issues/92489#issuecomment-598100778 for examples where that solution is less than ideal

[2020-04-01 10:15] isidorn commented on #94014
Good catch! Yeah I missed that case. Assigning to March to try to fix it.

[2020-04-01 10:17] jrieken commented on #94136
wait, only found this now: https://github.com/microsoft/vscode/blob/26a3d4e48f61f3be8fec6e07d94e37404a63c6a4/src/vs/vscode.d.ts#L3196

[2020-04-01 10:17] jrieken commented on #94136
Feel free to nuke or also make the modifier optional in the other overload

[2020-04-01 10:18] isidorn commented on #94085
Good feedback, however I think that is just how our diff computation algortihm works. And I think git would so something similar.
Also assigning to @alexdima to get his feedback on the matter.

[2020-04-01 10:19] #94128 closed

[2020-04-01 10:20] jrieken commented on #94128
This is VS Code, a different product than VS 2013 and VS 2015.

[2020-04-01 10:22] jrieken opened #94137 "Attach config shows stop button, not disconnect."
Have this config

[code]

* start and notice how for a split second the disconnect button shows, after that it becomes stop
* the same is for stop (which behaves like disconnect)

![Apr-01-2020 12-23-38](https://user-images.githubusercontent.com/1794099/78126978-a7677f80-7413-11ea-9f79-9cc753cc6a79.gif)

[2020-04-01 10:23] isidorn commented on #91706
I will probably have time to look into this in April. Also we got feedback from @marcozehe that this would be a good change.
Thus assigning to myself and April.

[2020-04-01 10:27] jrieken opened #94138 "Use `isStringArry` util"
We have this https://github.com/microsoft/vscode/blob/798a4026efca2ca2bfaea8d70d19b95f312b51ff/src/vs/base/common/types.ts#L45 which is kind duplicated by this https://github.com/microsoft/vscode/blob/3714004cc8e603684d7ce92e80489269991b36b3/src/vs/workbench/api/common/extHostTypes.ts#L2429

[2020-04-01 10:37] jrieken opened #94139 "Quick outline doesn't show containers anymore"
re https://github.com/microsoft/vscode/issues/93643

* open stopwatch.ts from our source
* items like `stop`, `_now` dont have the container description anymore

**1.43 stable**
<img width="630" alt="Screenshot 2020-04-01 at 12 35 16" src="https://user-images.githubusercontent.com/1794099/78127928-535d9a80-7415-11ea-9a9d-8c881bb17a00.png">

**insider**
<img width="756" alt="Screenshot 2020-04-01 a

[2020-04-01 10:38] joaomoreno commented on #93344
@isidorn Can you verify once this is out?

[2020-04-01 10:38] #93910 closed

[2020-04-01 10:38] #93344 closed

[2020-04-01 10:40] localnet opened #94140 "Incorrect highlight on JS Regex.test negated"
- VSCode Version: 1.43.1
- OS Version: Linux desktop 5.5.10-arch1-1

Steps to Reproduce:

1. Correct highlight on JS `Regex.test` not negated:
![regex-1](https://user-images.githubusercontent.com/25712886/78127851-290bdd00-7415-11ea-9894-75a877e82713.png)

2. Incorrect highlight on JS `Regex.test` negated:
![regex-2](https://user-images.githubusercontent.com/25712886/78127949-5e182f80-7415-11ea-92

[2020-04-01 10:41] john681611 opened #94141 "CLI fails with `open: invalid option -- 'n'`"
- VSCode Version: 1.43.2
- OS Version:  Linux x64 4.15.0-91-generic snap

Steps to Reproduce:

1. Try and open code using cli `code <folder>`
2. Receive Error
[code]

Does this issue occur when all extensions are disabled?: Yes

[2020-04-01 10:42] isidorn commented on #93344
@joaomoreno yeah.

[2020-04-01 10:43] isidorn commented on #94087
@JacksonKearl makes sense. Agree with you. Assigning to April to look into polishing this then.

[2020-04-01 10:43] PaulTemp commented on #94128
Please, guys, then I need to install Visual Studio to raise a ticket. I do not use any of these VS Codes, I just cannot install updates for client servers. Could make a favor and register the case for me?

[2020-04-01 10:44] isidorn commented on #94130
Fixed in insiders. Thanks for filling the issue though

[2020-04-01 10:44] #94130 closed

[2020-04-01 10:44] #93643 closed

[2020-04-01 10:45] isidorn commented on #94086
This is simply how our diff algorithm works. Thus this would be a feature request against the diff algorthim to also include the context.
Thus also assigning to @alexdima
For now assigning to Backlog.

[2020-04-01 10:46] Limonische commented on #93897
Yes. This and other methods two people above tried.

[2020-04-01 10:52] leonardder commented on #92564
It actually looks like this is more of a bug in Chromium that might have
been fixed in a later version.

[2020-04-01 11:20] mikehurl opened #94142 "Feature request: right-click file in Search pane to "Open to the Side""
As per the title, when I perform a search in the Search pane, I would like to be able to right-click a file in the results section and be provided with the option to open the file to the side. I couldn't find anything to suggest this is already possible with a setting or extension, so apologies if a solution is already provided 😊

[2020-04-01 11:22] #93277 closed

[2020-04-01 11:22] #93274 closed

[2020-04-01 11:22] #93097 closed

[2020-04-01 11:22] #92631 closed

[2020-04-01 11:24] sandy081 opened #94143 "View: Show {View Container} commands are not available for generated containers"
<img width="1258" alt="image" src="https://user-images.githubusercontent.com/10746682/78131853-04ffca00-741c-11ea-8912-2d4b42cc291f.png">

[2020-04-01 11:29] EugeneDae opened #94144 "Blinking cursor outline when selecting with mouse"
- VSCode Version: 1.43.2
- OS Version: macOS Catalina 10.15.3 (19D76)

Steps to Reproduce:

1. Select text with a mouse and pay attention to the cursor: its outline would repeatedly appear and disappear at the rate of your movement. This doesn't happen in any other text editors and looks ugly.

Cursor with outline:
![outline](https://user-images.githubusercontent.com/980835/78130781-9c681b80-7422-

[2020-04-01 11:41] mohammad-suliman commented on #90578
Thanks for your efforts @isidorn!
I also reported the following issue on the Chromium side:
https://bugs.chromium.org/p/chromium/issues/detail?id=1066736
If someone has more observations about things not working correctly because of Chromium, let me know please, and I'll be happy to report there also.

[2020-04-01 11:46] joaomoreno commented on #92564
Fantastic.

[2020-04-01 11:46] #92564 closed

[2020-04-01 11:49] bpasero commented on #94141
Possibly the user changed the `code` command to be different from what we do.

[2020-04-01 11:49] jrieken opened #94145 "No message when having no results"
re https://github.com/microsoft/vscode/issues/93645

* select text that's unlikely to occur as symbol name, like `=>`
* press `cmd+t` for workspace symbols
* :bug: there is no visible progress but also no message that nothing has been found

<img width="613" alt="image" src="https://user-images.githubusercontent.com/1794099/78133920-91f85280-741f-11ea-8f20-c138ce71f9ab.png">

[2020-04-01 11:50] joaomoreno commented on #94141
Definitely. The error complains about the `open` command.

@john681611 What does `which code` return?

[2020-04-01 11:54] jrieken opened #94146 "Consider to render filename of workspace symbols in second row"
https://github.com/microsoft/vscode/issues/93645

See attached screen shot. IMO there would be value in rendering file name in a separate row, below the label

<img width="628" alt="Screenshot 2020-04-01 at 13 52 03" src="https://user-images.githubusercontent.com/1794099/78134191-0632f600-7420-11ea-84ac-0cbce6b0bfd4.png">

[2020-04-01 11:57] isidorn commented on #93947
The placeholder should be read. Absolutely agree on that.
I now tried it with VoiceOver and the placeholder does not get read.
@bpasero I see that you set the `ariaLabel` to the "Type to narrow down results". Why not simple set it to the placeholder message?

@marcozehe @jvesouza @ajborka feedback very welcome on what should be read when the quick pick gets opened (for example via cltr/cmd + p)

!

[2020-04-01 11:57] joaomoreno commented on #92843
Ideally, and I would close this issue in favor of this: we should just start pulling extensions away from the core, since we have a good built-in mechanism.

Since this wasn't an issue for Markdown and Emmet for such a long time... is it really an issue? That is, when do we really run integration tests against a specific build? Usually we run them out of sources or against a build we just built (d

[2020-04-01 11:58] joaomoreno commented on #93281
Does it reproduce if you completely remove VS Code and redownload it? Remember to drag it to your Applications folder.

[2020-04-01 11:59] bpasero commented on #92843
Yeah it's fine to close this issue, just be aware that your tests test the source variant of the git extension and not the packaged one that we ship.

[2020-04-01 12:01] jrieken opened #94147 "No more markdown workspace symbols shown"
re https://github.com/microsoft/vscode/issues/93645

* open `test/unit/README.md`
* trigger symbol search via `cmd+t`
* :bug: nothing shows, in stable you see markdown sections

[2020-04-01 12:04] ForceConstant opened #94148 "Investigate setting Electron's proxy from user setting"
- VSCode Version: 1.43.2
- OS Version: Ubuntu 18.04

Steps to Reproduce:

1. Set proxy from OS, and in settings.json, but still can't browse or install extensions. Looking at log I get ERR_CONNECTION_TIMED_OUT

[2020-04-01 12:04] isidorn commented on #93964
@misolori you suggestion makes sense.
If we already have a nicely suited codicon we should use it.

[2020-04-01 12:05] alexr00 commented on #94140
Looks like this is already fixed in insiders and will be in the next release.

[2020-04-01 12:05] #94140 closed

[2020-04-01 12:06] #93645 closed

[2020-04-01 12:10] isidorn commented on #93789
@joanmarie all makes sense. Thanks for trying it out!

1. We can align the ariaLabel with the title, I think that makes sense.
2. I agree with you that the presence of the close button does not really matter since most users will just use ctrl + w, and it is not accessible. Thus for now we will get rid of the accessible descriptoin and wait for user feedback

Will do the changes next week. Thanks!

[2020-04-01 12:10] #93947 closed

[2020-04-01 12:10] joaomoreno commented on #93269
This is fixed in `master`.

[2020-04-01 12:10] #93269 closed

[2020-04-01 12:11] jrieken commented on #93881
I reverted my change. @sandy081 I think a better API would be be useful, e.g when using the storage service to globally store something that would be a good place for some metadata about sync'ing or not

[2020-04-01 12:11] jrieken commented on #93881
done via 195fdfc932858e34a37617b858b35fc24bd6908c

[2020-04-01 12:11] #93881 closed

[2020-04-01 12:13] #93923 closed

[2020-04-01 12:14] alexr00 commented on #93923
Added a separator and moved to the end.

[2020-04-01 12:15] bpasero commented on #94145
Similar to https://github.com/microsoft/vscode/issues/94007

I decided to drop the "no results default pick" from pickers to align with what all pickers do when there are no results, e.g. for language mode:

![image](https://user-images.githubusercontent.com/900690/78135951-0f719200-7423-11ea-9dc7-62dc9eac6327.png)

I am not sure it is good to have inconsistency around this where some pickers alwa

[2020-04-01 12:16] viktorszekeress opened #94149 "Unfold subtree unfolds also siblings"
Issue Type: <b>Bug</b>

When I place a cursor at the first character in the name of the method, and press Unfold a subtree, it actually unfolds other methods as well.
I would expect that only given method body block to get expanded.
![expand_subtree](https://user-images.githubusercontent.com/45604126/78136084-519ad380-7423-11ea-99e9-dfb08ed6b2c9.jpg)
![expand_subtree_02](https://user-images.github

[2020-04-01 12:17] joaomoreno commented on #93827
fyi @sbatten

[2020-04-01 12:17] #93827 closed

[2020-04-01 12:18] jrieken commented on #93842
the actual filtering isn't implemented 🤦‍♂

[2020-04-01 12:18] #93842 closed

[2020-04-01 12:20] jrieken commented on #94145
To me there is a difference between pickers that are populated immediately (or very, very quickly) like commands or outline and those that can take a while to populate, like workspace symbol search

[2020-04-01 12:22] Tyriar commented on #93926
Updated NVDA to 2019.3.1 and it still happens.

[2020-04-01 12:24] JacksonKearl opened #94150 "Test Actions issue"
Testing actions

[2020-04-01 12:29] #94139 closed

[2020-04-01 12:29] bpasero commented on #94139
Happy you found this, an oversight on how I  compute the container.

[2020-04-01 12:30] sandy081 opened #94151 "Contribution point for timeline provider"
Testing #93820

Why is not there a `package.json` contribution point for timeline provider? Following are the advantages

- I am not sure how I have to activate my extension if I only contribute timeline provider. Having a timeline contribution point can allow me to activate my extension when user starts using the timeline my extension contributes

- Also helps in displaying the feature contributi

[2020-04-01 12:30] lehni commented on #5192
It seems strange to me that VSCode is opinionated about something being ugly, where it leaves such decisions to the users in all other places. Mixing monospaced fonts with non-monospaced ones isn't ugly, it's a visual hierarchy that makes it clear what the different texts are: One is code, and one is a UI element describing where this code is from. Also, monospaced fonts not being syntax highlight

[2020-04-01 12:30] #92401 closed

[2020-04-01 12:32] jithamanyumanne commented on #93281
yes it still happens.I have tried that option multiple times.

[2020-04-01 12:32] lehni commented on #5192
Having said that, I now use the [Customize UI](https://marketplace.visualstudio.com/items?itemName=iocave.customize-ui) extension with this setting to achieve what I want:

[code]

[2020-04-01 12:33] #94028 closed

[2020-04-01 12:33] alexr00 commented on #94028
Yes, it is possible with json schema.

[2020-04-01 12:34] joaomoreno commented on #93281
Are you absolutely sure you don't have two copies of VS Code in your system?

[2020-04-01 12:35] MagicalBomb opened #94153 "PATH variable is reversed"
Issue Type: <b>Bug</b>

on ITerm2+/bin/zsh:
=============
echo $PATH

on VS Code Termina + /bin/zsh:
=============
echo $PATH

This problem make me can't open python for conda, but open my MacOS built-in python2.7, especially inconvenient.

VS Code version: Code 1.43.2 (0ba0ca52957102ca3527cf479571617f0de6ed50, 2020-03-24T07:34:57.037Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info

[2020-04-01 12:36] #94147 closed

[2020-04-01 12:36] bpasero commented on #94147
Good catch, I was wrongly fuzzy matching on the empty string.

[2020-04-01 12:38] joaomoreno commented on #92709
@sbatten This is a consequence of our decision here: https://github.com/microsoft/vscode/issues/84315#issuecomment-554126812

[2020-04-01 12:38] JacksonKearl commented on #93814
^ Bug in an earlier query action caused it to use much more quota than it should have, causing us to be near limit for the following hour.

[2020-04-01 12:39] joaomoreno commented on #92709
Should fullscreen veto that?

[2020-04-01 12:39] #92843 closed

[2020-04-01 12:40] jrieken commented on #93686
In all fairness, that's something that winjs-promise inherited to us and something that we never changed after dropping winjs. In the API we don't care what happens after cancellation, we ignore everything that comes after cancellation.

Still, spec'ing an error isn't alien to the API. A case for spec'ed errors and unspecific errors is the `FileSystemProvider` and `RenameProvider`.

* the `RenameP

[2020-04-01 12:40] joaomoreno commented on #92726
Yes, uninstall VS Code and install it in the new path.

[2020-04-01 12:40] #92726 closed

[2020-04-01 12:40] john681611 commented on #94141
@joaomoreno
/snap/bin/code

[2020-04-01 12:41] jrieken commented on #94139
🦅 👁

[2020-04-01 12:41] joaomoreno commented on #92262
OK let me know if you still see it.

[2020-04-01 12:41] #92262 closed

[2020-04-01 12:41] joaomoreno commented on #94141
What snap did you install?

[2020-04-01 12:43] john681611 commented on #94141
john@TyranDev stuffstr $ snap version
snap        2.44.1
snapd       2.44.1
series      16
elementary  5.1.2
kernel      4.15.0-91-generic
I have the CLI as well as the app

[2020-04-01 12:43] zjopy opened #94154 "Missing Object.entries() in IntelliSense for JavaScript"
- VSCode Version: 1.43.2
- OS Version: macOS 10.15.4

It seems that IntelliSense is missing the [`Object.entries()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/entries) function completely. This is weird, since being introduced with ES2017 it is pretty "old". I couldn't find any other issues on this.

Then I found this statement on [Languages - JavaScri

[2020-04-01 12:47] sombhotlu commented on #86384
I am still not able to stash changes in vscode. I think it is not solved, right ?

[2020-04-01 12:50] jrieken commented on #93983
<img width="524" alt="Screenshot 2020-04-01 at 14 48 19" src="https://user-images.githubusercontent.com/1794099/78138979-0d5e0200-7428-11ea-934f-433b03e24d2e.png">

[2020-04-01 12:50] #93983 closed

[2020-04-01 12:51] sandy081 opened #94155 "Cursor and limit properties are ambiguous"
Testing #93820

[code]

There is a limit option that is overloaded with `{timestamp: number; id?: string}`. If I understand correctly when I am asked with this value, I shall have to return timeline items newer than this time stamp.

- What shall I have to return if both timestamp and id are asked?
- What is the use case to ask with timeline by id?
- Why is it overloaded with limit property? It is

[2020-04-01 12:52] alexr00 commented on #93691
It should be greatly improved based on changes made for https://github.com/microsoft/vscode/issues/93931

[2020-04-01 12:54] alexr00 commented on #93800
Can you please provide a full copy/paste-able example?

[2020-04-01 13:05] karlhorky commented on #5192
FYI, in case this is useful to anyone, the part from @roblourens' quote above about "show search results in an editor" can now be accomplished with the "Search Editor" feature (just like in Sublime Text):

https://code.visualstudio.com/updates/v1_43#_search-editors

[2020-04-01 13:07] flehoux commented on #90680
Have you figured anything out @borekb ? Use VSCode and iTerm in the same manner and havent been able to find a fix so far.

[2020-04-01 13:08] joaomoreno commented on #94141
Maybe `cat /snap/bin/code`?

[2020-04-01 13:08] joaomoreno commented on #92561
Have you searched in our Settings UI?

`git.inputValidationSubjectLength`

[2020-04-01 13:08] #92561 closed

[2020-04-01 13:09] isidorn commented on #93774
Cannot reproduce this with latest out of source and with fix for https://github.com/microsoft/vscode/issues/93344

@ashokkoduru Please let us know if you can still repro with vscode insiders from tomorrow and we can reopen

[2020-04-01 13:09] #93774 closed

[2020-04-01 13:11] jithamanyumanne commented on #93281
In my applications folder there is only one VS Code.

[2020-04-01 13:11] isidorn opened #94156 "Improve linux accessibility docs"
https://code.visualstudio.com/docs/editor/accessibility#_linux

Currently we point to an issue on how to setup Orca from master. This is pretty informal and would be much better if we could point to some Orca documentation.
@joanmarie does orca website has a page on how to setup Orca from master that we could link to?

Also this does not seem to work with Ubuntu 19 so we should also mention that i

[2020-04-01 13:12] #93937 closed

[2020-04-01 13:21] alexdima commented on #93686
@jrieken Actually, that is the current implementation, all errors behave the same way, the only special thing about 'busy' errors is that they are not logged -- https://github.com/microsoft/vscode/blob/f3db6a84ac1e5a9df94b3a5e08f48719ad2778fe/src/vs/editor/common/services/modelServiceImpl.ts#L766-L780

But I would like to implement a more involved error handling strategy. The semantic tokens reque

[2020-04-01 13:21] borekb commented on #90680
I've been trying to observe this carefully but still don't have a clue what's causing it. For a while, I thought it might be iTerm, see https://gitlab.com/gnachman/iterm2/issues/5260#note_307169088, but then, I reproduced it even with the built-in Terminal. I have also seen the issue with VSCode alone, after the other app was de-fullscreened and hence left the split view.

It's still a complete my

[2020-04-01 13:24] alexdima commented on #94144
I believe the OS is doing that, but I don't know why.

[2020-04-01 13:31] frederikdekegel commented on #92864
After upgrading to Angular 9.1.0 and thus Typescript 3.8.3, the error has disappeared. Error checking within a typescript script file is again functional. However, the lightbulb import package functionality does not work. There is no error unfortunately.

I will create a new issue to report this.

[2020-04-01 13:33] EugeneDae commented on #94144
@alexdima The thin cursor is a custom cursor provided by VS Code:

![cursor-css](https://user-images.githubusercontent.com/980835/78143070-6a60b480-7436-11ea-8e44-2cf7dc519501.png)

Disabling this CSS rule fixes the issue for me.

[2020-04-01 13:34] jrieken opened #94157 "constants.ts is heavy on bundle size"
There is `src/vs/workbench/contrib/notebook/browser/constants.ts` which defines a bunch of string constants, mostly command/action ids. That a quite wasteful pattern because those super long exported variables names cannot be minified. So, now an id like this `workbench.notebook.code.insertCellAbove` doesn't just count as 39 characters but 33 characters are added for its name, plus N*33 where N is

[2020-04-01 13:35] john681611 commented on #94141
Just responds gibberish

[2020-04-01 13:36] john681611 commented on #94141
ok removed code from snap and I'm still getting the message.
`which code` now responds blank

[2020-04-01 13:37] zergtul opened #94158 "python Indentation of the current line is automatically reduced after line wrap"
![微信图片_20200401213520](https://user-images.githubusercontent.com/40799218/78143467-ea9c0f80-7460-11ea-89e0-2564b24080ee.png)
![微信图片_20200401213524](https://user-images.githubusercontent.com/40799218/78143482-ef60c380-7460-11ea-8c41-fd05cf4240c5.png)

[2020-04-01 13:37] jrieken commented on #94038
For some reason, the cell language is github-issues when it's being created. Something with those commands is wrong...

[2020-04-01 13:37] #94014 closed

[2020-04-01 13:38] jrieken opened #94159 "Don't extend from MenuItemAction"
see https://github.com/microsoft/vscode/blob/2f984aad710215f4e4684a035bb02f55d1a9e2cc/src/vs/workbench/contrib/notebook/browser/contrib/notebookActions.ts#L563

⬆️ instead of that, just add a new menu and register a menu item for that command, no duplication required, UX state update etc all for free

[2020-04-01 13:40] jrieken commented on #93686
Makes sense. Let's stick to the plan of specifying errors then

[2020-04-01 13:41] jrieken commented on #94158
/needsMoreInfo

Please update this issue after reading https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-good-bug-reports-and-feature-requests. Thanks.

[2020-04-01 13:44] alexdima commented on #94085
Well, that is what the number 10 in `@@ -14,10 +14,10 @@` stands for... That this is a diff chunk of length 10 lines in the old file content and of length 10 lines in the new file content... It could be that 1 or more lines in this chunk has been changed or deleted, or inserted, etc... but that is kind of the chunk length.

@isidorn The diff algorithm does not return 3 lines above and 3 lines belo

[2020-04-01 13:47] Tyriar commented on #93622
We now use an up to date minimist for vscode's arg parsing.

[2020-04-01 13:47] #93622 closed

[2020-04-01 13:51] dielleluis commented on #93539
I uploaded a video on YouTube showing what happens. Basically, when I try to commit nothing happens. I don't see the blue bar loading as if its trying to commit.

https://www.youtube.com/watch?v=tEi9xvIEXTc

[2020-04-01 13:51] #94015 closed

[2020-04-01 13:51] isidorn commented on #94015
Great catch. My 4th grade math was a bit off :)

[2020-04-01 13:53] john681611 commented on #94141
Fixed had this in my bashrc from a old machine.

[code]
:man_facepalming:

[2020-04-01 13:53] #94141 closed

[2020-04-01 14:00] bduffany commented on #93782
IMO, it makes more sense to keep this one open, to avoid falling off the radar completely. Wouldn't want someone to later pick up that issue who doesn't have any context for this issue, and then not realize that the problem is in both directions.

[2020-04-01 14:00] jrieken commented on #93911
Yeah, unsure... We also allow 3rd party extensions to contribute commands into views so IMO it makes sense to also allow them to show progress. There is some abuse potential but I believe extensions have good intentions.

[2020-04-01 14:07] Bruno2049 commented on #93800
@alexr00 So this errors are shown in the **Page.cshtml__virtual.html** but I will attach a copy of the Page.cshtml

Here is the copy of the file: [Page.zip](https://github.com/microsoft/vscode/files/4415635/Page.zip)

[2020-04-01 14:09] alexr00 opened #94160 "File stuck untokenized"
I was testing something else and I made a file really big. Now that I've reverted the change it still won't tokenize. I get a toast about it which offers to forcefully tokenize, but when I choose that option and reopen the file it still doesn't tokenize and gives me the same toast again.

![stuckUntokenized](https://user-images.githubusercontent.com/38270282/78146919-17d1c900-7433-11ea-96ef-2954b3

[2020-04-01 14:09] joanmarie commented on #94156
@isidorn All we have right now is https://gitlab.gnome.org/GNOME/orca/-/blob/master/README.md

As for Ubuntu, I wasn't aware of any limitations. As an aside, Ubuntu ships a modified version of Orca with changes to how settings are managed. I don't think they are actively maintaining those changes though.

[2020-04-01 14:10] Tyriar commented on #93949
Why? We don't tell the user to press enter on any commands in the command palette, right now it's inconsistent with literally every other quick access provider.

[2020-04-01 14:11] dbaeumer commented on #93943
@Tyriar yes, a string change in the nls.localize call will trigger a re-translation in all LP packs.

[2020-04-01 14:11] NN--- opened #94161 "Keep file highlighed in search in files"
I search in files for some text.
Afterwards I navigate to a file in the middle of the list.
When I change the file go to next occurrence starts from the beginning (F4) same for go to previous starts from the end.

I would expect it to work as in other editors including Visual Studio, next occurrence navigates to the next file without starting from the beginning.

[2020-04-01 14:16] alexdima commented on #94160
@alexr00 The difficulty is that certain decisions about a text buffer are taken in the ctor and then cannot be changed currently. Two things that I can imagine going wrong:
1. Perhaps the setting could not be written to `settings.json`? Do you have `"editor.largeFileOptimizations": false` in your settings?
2. Perhaps the text model is not getting disposed when closing via `x`, but I doubt this, le

[2020-04-01 14:17] chrmarti commented on #93771
(Tested all except history views. Should get to these later today.)

[2020-04-01 14:19] weinand opened #94162 "Provide adequate API overview for Welcome content API"
refs #93747:

Hunting down the documentation of this feature I found:
- basically a [picture](https://code.visualstudio.com/updates/v1_43#_welcome-view-content-api)
- and a link to the [discussion](https://github.com/microsoft/vscode/issues/89080) which does not contain a lucid explanation of the final API.

For the March release notes I suggest to provide something more tangible.

[2020-04-01 14:20] sandy081 opened #94163 "Not clear when a timeline change event without uri has to be triggered"
Testing #93820

[code]

uri property is optional here. I see timeline is provider per resource/uri. I am not clear when can a timeline change event without uri has to be triggered?

[2020-04-01 14:25] zergtul commented on #94158
sorry, add info:

Extension | Author (truncated) | Version
-- | -- | --
xml | Dot | 2.5.0
code-runner | for | 0.9.17
vsc-python-indent | Kev | 1.8.1
prettify-json | moh | 0.0.3
vscode-language-pack-zh-hans | MS- | 1.44.0
python | ms- | 2020.3.71113
cpptools | ms- | 0.27.0
java | red | 0.59.0
code-spell-checker | str | 1.8.0
vscodeintellicode | Vis | 1.2.6
vscode-java-debug | vsc | 0.25.1
vscode-ja

[2020-04-01 14:29] roblourens commented on #93998
The code is going to the first control on purpose, because I figured that's what people want. But it probably makes sense to just follow tab order?

[2020-04-01 14:29] myfonj commented on #93903
So in your case just removing the extra backslash from `\:` (resulting in regexp `([^?]+)\?([^:]+):(.*)`) yielded different outcome than expected? You had to further alter the negated character class or something?

It works for me, and I'd not expect this will be platform dependent:
![image](https://user-images.githubusercontent.com/1761395/78148168-cf1b0f80-7434-11ea-9b4c-84b62c0c4a76.png)

[2020-04-01 14:33] iansan5653 opened #94164 "VSCode silently fails to update"
Version: 1.44.0-insider (system setup)
Commit: 6cf3dd97465b2f4f666b66758991d720e003b0f4
Date: 2020-03-27T06:00:06.803Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Click the settings gear
2. Click "Install Update..."
3. Click "Yes" when the Windows security popup appears
4. Wait for it to install...
5. Click

[2020-04-01 14:36] flehoux commented on #90680
Guess we're on the same boat. This also happens with osx's Mail app, when a gmail account is linked. Not too sure what to be looking for 😆

[2020-04-01 14:38] #93671 closed

[2020-04-01 14:44] jrieken commented on #94158
We need to file and the exact line number at which you press enter. Put yourselves in our shoes, should run OCR on the screen shot or type what's visible there?

[2020-04-01 14:45] sharkweek opened #94166 "Tab key defaults to autocomplete in find and replace widget"
## Description of Issue
Hitting the `tab` key after typing in the _Find_ textbox will automatically accept the autocomplete suggestion in the editor.

## Steps to Reproduce

1. Place caret on or in the middle of a word that may trigger autocomplete
2. Initiate _Find and Replace_ widget with `ctrl + h`
3. Input text in _Find_ textbox
4. Hit `tab` key

Result: first suggestion for autocomplete at th

[2020-04-01 14:46] roblourens opened #94167 "Cell insertion toolbar issues"
The `+ Markdown + Code` toolbar

- Should also show up under markdown cells
- Should show up when the whole cell above it is hovered
- Should appear above the top cell

[2020-04-01 14:48] roblourens commented on #94157
Didn't realize that. I moved the command IDs into notebookActions which is the only place they are used now. Lots of them are used multiple times or could be, so I kept them as variables.

[2020-04-01 14:49] #94157 closed

[2020-04-01 14:49] jrieken commented on #94166
any chance that you are using tab completions, e.g `editor.tabCompletion`

[2020-04-01 14:49] sbatten commented on #93839
I would find it strange if we are not consistent. Eric suggested having a theme color for it which would allow a user/theme to hide it always if they find it not helpful.

[2020-04-01 14:54] jrieken commented on #94166
Indeed - we have a few keybindings that don't check that the editor has input focus

[2020-04-01 14:57] sbatten commented on #93972
Should outline have `Explorer` title when moved outside of Explorer? I think we cannot be consistent and thus we should just do one thing and allow renaming.

[2020-04-01 14:57] #94166 closed

[2020-04-01 14:57] jtagcat commented on #93300
If something is already open, opening a folder in the same window may close other stuff, that's probably why the notification exists in the first place and why I would recommend a 'default' option.

[2020-04-01 14:59] jrieken opened #94168 "Duplicate context keys for input focus?"
The editor has two focus states: 1) input focus (blinking cursor and 2) widget focus (focus is in find or peek). However, we have three context keys for this, just a few lines apart and my understanding is that 1) is duplicated

https://github.com/microsoft/vscode/blob/0c29fa309f4887bc7774fc3efeefc904d70353a6/src/vs/editor/common/editorContextKeys.ts#L11-L23

[2020-04-01 14:59] jrieken commented on #94168
Starting with @isidorn because your name is on those lines

[2020-04-01 15:03] sandy081 opened #94169 "Timestamp labels are not shown always"
Testing #93820

Timestamp labels are not shown always

<img width="798" alt="image" src="https://user-images.githubusercontent.com/10746682/78152238-d264ca00-7439-11ea-9d18-6ecc0d8e2078.png">

My sample is here - https://github.com/sandy081/userdata-timeline-sample

[2020-04-01 15:03] roblourens commented on #94038
Hadn't noticed this. @rebornix I think the markdown cell text model is just picking up the language from the file extension, what's the right way to force it to be markdown? `setMode`? How do I get the language identifier?

[2020-04-01 15:04] kieferrm opened #94170 "Missing folders in workspaces cause Cmd+P to stop working in remote setup"
Issue Type: <b>Bug</b>

On a remote ssh box:

1) Create a folder structure:
[code]
2) Create `<parentdir>/workspace.code-workspace` with the following content:
[code]
3) Open the workspace file from your local box
-> <kbd>Cmd+P</kbd>, they type `f`: both files show in the quick pick
4) Close window
5) On the remote machine remove/rename `testdir2`
6) Open the workspacefile from your local box
-> <

[2020-04-01 15:07] alexr00 commented on #94160
I do have `"editor.largeFileOptimizations": false`
I can't reproduce the issue anymore though.

[2020-04-01 15:07] #93893 closed

[2020-04-01 15:08] wtklbm commented on #93552
At your request, i captured file events. i opened 3 vscode windows. and every window is opened to connect to the remote git repository. to test the problem, i removed all vscode configurations, below is a screenshot i captured.i just refreshed the current repository, however, gutter is still not updated.

![test](https://user-images.githubusercontent.com/26459487/78153172-6308cd80-746d-11ea-9fe2-e

[2020-04-01 15:09] eamodio commented on #94169
@sandy081 Do you mean the timestamp, not the label? From your screenshot it looks like the label is always there. We hide duplicate timestamps.

[2020-04-01 15:10] eamodio commented on #94163
It's a way for a timeline provider to signal that the timeline for all Uris have changed -- so that we can drop any internal caches.

[2020-04-01 15:11] jrieken commented on #93230
Yes, still see weirdness. Nodes for locals or blocks are randomly collapsed, interleaved, the first, the last. idk - I am the only one seeing this? I feel like I am running into this too often for that to be true

[2020-04-01 15:11] alexdima commented on #93798
Nice!

[2020-04-01 15:13] bpasero commented on #93839
I don't like the looks especially because it is now different from editor drag and drop where we do not have such a border.

[2020-04-01 15:13] zergtul commented on #94158
soory , add the file , at line 54 .
[result_static.zip](https://github.com/microsoft/vscode/files/4416086/result_static.zip)

[2020-04-01 15:13] Valckyz opened #94171 "Visual Studio Startup speed"
Hello. I have a pretty good pc and when i installed visual studio code everything ran perfectly and fast but now it takes around 30-40 seconds to load visual studio itself

[2020-04-01 15:14] DasJott commented on #93903
Well, the same setting worked on Windows, but not in Linux.

[2020-04-01 15:14] #94029 closed

[2020-04-01 15:15] jrieken commented on #94171
/needsMoreInfo

Please use this guide to provide more information: https://github.com/Microsoft/vscode/wiki/Performance-Issues. Thanks.

[2020-04-01 15:15] sbatten commented on #94030
it can be re-ordered

[2020-04-01 15:15] #94030 closed

[2020-04-01 15:15] sandy081 commented on #94169
Yeah timestamp on the right.

I see. It was confusing to me but why?

[2020-04-01 15:17] sandy081 opened #94172 "Timeline view is not getting refreshed after triggering change event"
Testing #93820

Use my sample - https://github.com/sandy081/userdata-timeline-sample

- Open settings file
- Open time line view
- Do some changes to settings
🐛 Timeline view is not updated

I see that Timeline change event is triggered here - https://github.com/sandy081/userdata-timeline-sample/blob/820fee0dde9c173d95fd53016cfe38bb7eeea52b/src/extension.ts#L30

[2020-04-01 15:18] eamodio commented on #94155
It's up to the provider, and IDs (or lack of) are controlled by the provider. Ideally the provider would use the ID if possible (since that should be a more exact match), but it will depend on the source data/service whether or not that will be possible.

Here are the common usage combinations:

`{ limit: number }` — to get the first page (most recent)
`{ limit: { timestamp: number; id?: string }`

[2020-04-01 15:20] eamodio commented on #94030
Not the activity bar icon, the viewlet title.

![image](https://user-images.githubusercontent.com/641685/78154874-c3b2ee80-740a-11ea-8041-397079ffb06d.png)

[2020-04-01 15:21] roblourens commented on #94058
Preferences Sync is basically just the name of the feature not from what I understand. I will roll this into the continuing button/icon discussion in https://github.com/microsoft/vscode/issues/91601

[2020-04-01 15:21] rafaelrenanpacheco opened #94173 "Virtually prevent pushing code down when new lines are automatically added"
I would like an option to virtually prevent vscode from pushing down the current focused line when new lines are automatically added. For example, when I click to automatically add an import, vscode adds the import line and the current focused line is scrolled down. This causes a distraction because the line I'm working on is moved away even tho I didn't want to scroll.

Here is a gif showing how

[2020-04-01 15:21] #94058 closed

[2020-04-01 15:22] eamodio commented on #94169
To avoid repeated timestamps, that just look like visual clutter. https://github.com/microsoft/vscode/issues/91382

[2020-04-01 15:22] Tyriar opened #94174 "Settings sync asks to turn off without doing anything"
I launched VS Code, ~10 windows restored and I got this dialog on every one of them:

<img width="562" alt="Screen Shot 2020-04-01 at 8 18 35 AM" src="https://user-images.githubusercontent.com/2193314/78155012-c9e8a100-73f1-11ea-9716-ef888e0a4dde.png">

Log (see `TypeError: Cannot convert undefined or null to object`):

[code]

[2020-04-01 15:25] strutcode commented on #43440
The same is true for me. I love the ligatures for code but it'd be nice to be able to selectively disable ligatures for certain sections (strings, comments) to avoid stuff like this:

![image](https://user-images.githubusercontent.com/42973934/78155260-38862880-740b-11ea-885c-110efefed518.png)

[2020-04-01 15:26] sbatten commented on #93839
Editor is different because we always "split" there and this is always "insert". However, what I can do is only use the border on collapsed views, (the major reason it exists)

[2020-04-01 15:26] Tyriar commented on #94174
Account log:

[code]

[2020-04-01 15:26] Tyriar commented on #94174
(I did not log out)

[2020-04-01 15:27] sandy081 commented on #94174
@RMacfarlane I too saw this once and it seems these are coming from auth changes.

This is a different issue. Filing separate one.

[2020-04-01 15:28] sandy081 opened #94175 "TypeError: Cannot convert undefined or null to object"
Log (see `TypeError: Cannot convert undefined or null to object`):

[code]

[2020-04-01 15:28] sandy081 commented on #94174
https://github.com/microsoft/vscode/issues/94175

[2020-04-01 15:30] connor4312 commented on #94094
Thanks for the issue! Unfortunately this won't work because the $returnValue is only available after stepping over the return statement, but breakpoints can't be set there.

[2020-04-01 15:31] #94046 closed

[2020-04-01 15:31] #94062 closed

[2020-04-01 15:31] misolori commented on #94064
You're right that it's likely a list issue, the same happens in other list views (like scm).

[2020-04-01 15:31] bpasero commented on #94046
Yeah good catch, I was not applying the same fuzzy matching when using multiple inputs. Now separating words with space will treat each word as an individual query that will match in the most optimal way on label and/or description.

[2020-04-01 15:34] sbatten commented on #93849
It currently is fading out, but very slightly. When I experimented, I found that minimum blur + 3% dimming was the most subtle difference while still being helpful. Removing the blur will mean I have to dim it further or it's doing almost nothing in some themes. If you find a combination that you think feels nicer, I am open to it, but I believe having something here is valuable.

[2020-04-01 15:35] Tyriar commented on #94174
Is the problem here that the auth provider said it's logged out and sync reacted by doing the prompt? Sync should certainly not say this if the cause of this was the auth provider's refresh token being expired. There needs to be distinct events for the user logging out explicitly (sync shows this dialog) and the user's auth session expiring (auth needs to get the user to login again).

[2020-04-01 15:35] lszomoru commented on #93299
@joaomoreno, I am happy to take a look at this one. Let's chat to lock down the requirements.

[2020-04-01 15:36] gregvanl commented on #94110
How about "Load more timeline history"?

[2020-04-01 15:37] sbatten commented on #94080
yea this isn't great, the collapsing experience should be better in the panel, but i don't have an immediate solution.

[2020-04-01 15:37] bpasero commented on #94064
cc @isidorn

[2020-04-01 15:40] Tyriar commented on #93839
Seems like a the way to go to show it only when it adds value, otherwise it's inconsistent with the editor.

[2020-04-01 15:42] kieferrm commented on #91601
We can reconsider once we see how it's perceived.

[2020-04-01 15:42] connor4312 commented on #94022
I think a successful reply to the `cancel` method call from the debug adapter is probably enough of an acknowledgement. If the adapter says the 'cancel' call succeeded and didn't actually cancel the progress event, that's a bug on their side.

[2020-04-01 15:43] sbatten commented on #94122
The flexibility of our layout is currently undergoing work and has a long roadmap. The feature request here does align partially with what we envision and I will keep its spirit in mind as we continue to work towards something more flexible. Until then, I hope you don't mind that I close this issue as duplicate. To keep up with new work being done, you can checkout issues with the label `layout` o

[2020-04-01 15:43] #94122 closed

[2020-04-01 15:43] Tyriar commented on #94174
@sandy081 also this happens on _every_ window when you log into one window:

<img width="603" alt="Screen Shot 2020-04-01 at 8 43 09 AM" src="https://user-images.githubusercontent.com/2193314/78157447-d1f61000-73f4-11ea-823c-21c27babe812.png">

[2020-04-01 15:44] #94022 closed

[2020-04-01 15:44] sbatten commented on #93839
i'll try collapsed

[2020-04-01 15:45] Tyriar opened #94176 "Only prompt about sync changes on the active window"
When the user logs out, every window gets a modal prompt to turn off sync that needs to be actioned individually. When a user signs in after this, every window gets a quick open to select the account to sync.

This should only happen for the active window, if vscode is not focused, it should wait until it is to prompt for these.

[2020-04-01 15:46] isidorn commented on #93230
Then let's reopen. Assigning to April to investigate more then.

[2020-04-01 15:46] rebornix commented on #94102
/duplicate and already fixed in master, thanks!

[2020-04-01 15:47] rebornix commented on #94102
Reopen for the error notification from the command palette.

[2020-04-01 15:48] rebornix commented on #94100
/duplicate of #93930 , let's track it there.

[2020-04-01 15:48] sbatten commented on #94001
may have been related to another issue you resolved yesterday, can no longer repro.

[2020-04-01 15:48] #94001 closed

[2020-04-01 15:49] RMacfarlane commented on #94174
This doesn't have to do with token expiry.

To sync state between windows, all windows poll keytar to see if you have signed in/out in another window. What appears to be happening here is that a window polls and reads from keytar, gets nothing, and the clears its data. I'm calling a function that both cleans up state in memory and also deletes from keytar, but I can change to not deleting from key

[2020-04-01 15:49] #94100 closed

[2020-04-01 15:49] CameronBieganek opened #94177 "Leave panel open when ^` shortcut returns focus to editor"
I use VS Code on macOS 10.14.6 for Python and Julia programming. Both extensions make use of an integrated interpreter/REPL. I often switch the cursor focus back and forth between the editor and the terminal using the `` ^` `` shortcut. It turns out that for this purpose, `` ^` `` and `⌘J` behave exactly the same, though I know that they are not always exactly the same. (For example, `` ^` `` will

[2020-04-01 15:50] rebornix commented on #94098
This can be done be adding `f1` to each action definition but we need to make sure that they all work fine when invoked from command palette.

[2020-04-01 15:52] sandy081 opened #94178 "Paging API suggestions"
Testing #93820

[code]

It seems to me the paging API is not obvious and standard. AFIK following is common pattern for paging

- client asks the server to give me collection of data in pages and gives the pageSize and the index or some identity  from which it wants the data
- Server returns the result from the requested index or identity and of requested size.

This API is other way around. Exten

[2020-04-01 15:53] rebornix commented on #94159
@jrieken is there any way to register an action without registering a menu first?

[2020-04-01 15:54] alexdima commented on #94173
Technically, the editor does not scroll. The scrollTop is maintained. It just happens that everything is pushed down by the auto-import which inserts a line at the top of the file.

@jrieken This can be done from the outside if you know there are edits unrelated to the current cursor position in the suggestion e.g.:
[code]

[2020-04-01 15:56] sandy081 commented on #94155
I am sorry to say that this is too complicated to understand. At the end I am lost what each property is and how they are associated. It seems they are intermingled with different terminologies.

If it is for paging, I would expect this to be separated with filtering.

Also filed separate issue for paging - https://github.com/microsoft/vscode/issues/94178

[2020-04-01 15:57] dlucazeau commented on #92323
So this is the directory between versions. Why old version are working fine and not the latest ?

[2020-04-01 15:57] jvesouza commented on #94087
I will probably write a lot of nonsense, but since the lines are shown preceded by a - / +, wouldn't it be enough to just announce the line number?
I may be contaminated by the fact that I almost always used git in text mode.

[2020-04-01 16:00] sbatten commented on #93997
Can you place more than one action there?

If not, could we just reduce the padding/margins around the actions and have a smaller reserved space?

If so, can we just replace the group when the actions show up?

[2020-04-01 16:02] sandy081 commented on #94163
I see. Can the event be as follows then?

[code]

[2020-04-01 16:04] sandy081 commented on #94174
@Tyriar Also not aware of the Choose Account change. @RMacfarlane ?

[2020-04-01 16:04] jakubedzior opened #94179 "Visual Studio Code freezes completely"
Issue Type: <b>Performance Issue</b>

Visual studio code freezes sometimes after compiling .c files, but a moment ago it happened by itself, without me doing anything.

VS Code version: Code 1.43.2 (0ba0ca52957102ca3527cf479571617f0de6ed50, 2020-03-24T07:38:38.248Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-76

[2020-04-01 16:04] sbatten commented on #92709
I think so. The ideal user scenario allows them to do this when it is unambiguous.

[2020-04-01 16:05] rebornix commented on #94102
The command is contributed by the extension so it only works when it's laid on the toolbar. To fix this issue properly (if we do want to show the command in the command palette), we need to expose `notebookEditor.activeCell` in the API.

[2020-04-01 16:06] sandy081 commented on #94169
Makes sense.

[2020-04-01 16:06] #94169 closed

[2020-04-01 16:07] kieferrm commented on #93963
https://github.com/microsoft/vscode/issues/93963#issuecomment-607113520 helps to better understand the problem. It seems we can make good progress but directly addressing the questions in the API documentation.  (3)- bullet 3 seems more of a challenge though, but let's see where we get with the updated doc first.

[2020-04-01 16:08] sbatten commented on #92363
@StingyJack the panel can be hidden by clicking the `X` button on the top right or using the command `Toggle Panel`. Additionally there is a setting: `debug.console.closeOnEnd` for closing the debug console automatically when you are done debugging.

[2020-04-01 16:08] #92363 closed

[2020-04-01 16:08] sandy081 commented on #93972
I think we can allow an optional additional property on the view descriptor to have generated container name. Debug views then can provide that ?

[2020-04-01 16:09] sbatten commented on #93972
We allow containerIcon today, so I suppose containerName is analagous?

[2020-04-01 16:12] sbatten commented on #91970
I love the thought but unfortunately this isn't a small amount of work as some of the good functionality is coupled with VS Code specific code. So unfortunately this is out of scope.

[2020-04-01 16:12] #91970 closed

[2020-04-01 16:13] isidorn commented on #94168
@jrieken there is difference, you can see it [here](https://github.com/microsoft/vscode/blob/a3d17e4184af2ceff0eb36ad2bc706f54163da4d/src/vs/editor/browser/widget/codeEditorWidget.ts#L1743)

textInpuFocus is true iff a focus is in any text of the editor
editorTextFocus is true iff a focus is in any text of a non simple widget editor
editorFocus is true iff a focus is on the editor widget - not in

[2020-04-01 16:13] rebornix commented on #93771
First instance:

[code]

Second instance:
[code]

As you can see they are both synced and their states are different (based on the log info about GlobalState). However they are both saying no changes found.

Also since it works the very first time when I login, I think they are syncing to the same server.

[2020-04-01 16:14] aeschli commented on #92360
Duplicate of #92308

[2020-04-01 16:14] #92360 closed

[2020-04-01 16:14] isidorn commented on #94087
@jveszoua I believe that just announcing the line number would be far too concise and not enough for most users.

[2020-04-01 16:15] sandy081 commented on #93949
Yah this is an information label and I like this way. There are no pickers like in other cases. Also I did not see any users complained about it.

[2020-04-01 16:15] vscodeerrors opened #94180 "byte length of Uint32Array should be a multiple of 4"
Issue Id: <b>55be09d1-d47d-fb83-81f1-b25c0013f884</b><br /><br />*Versions* <br />- 1.44.0-insider (3/31/2020 8:07:17 AM)<br />*Stack* <br />RangeError: byte length of Uint32Array should be a multiple of 4<br />    at new Uint32Array (<anonymous>)<br />[/vs/workbench/api/common/shared/semanticTokensDto.ts#58:9 (_buff)](https://github.com/microsoft/vscode/blob/d7d1147d6b764a48b789000c03088ee9afabcd

[2020-04-01 16:15] sbatten commented on #92708
most of the UI is exactly the same in regards to dimensions. if it is wide, perhaps your scaling is much higher on macOS?

[2020-04-01 16:16] sandy081 commented on #93881
Pinging @bpasero for the API suggestion.

[2020-04-01 16:18] sandy081 commented on #93771
By any chance are you syncing global snippets? If so you might be seeing this issue https://github.com/microsoft/vscode/issues/93902

Try to create user language snippets and sync?

[2020-04-01 16:19] izac3d commented on #93620
@sandy081 you should leave it open it was not solved and someone else may help

[2020-04-01 16:19] isidorn commented on #94064
Yeah, agree this is an issue with action bar and showing on hover.
Basically action bar that is showed on hover should not have a tabindex. The only actionbar that should be focused on is the one where the list focus is. Not the one that is shown on hover.
I belive this is not a list issue, but an issue of all the clients that use list + actionbar.

[2020-04-01 16:19] vscodeerrors opened #94181 "TreeError [MarkersView] Tree element not found: [object Object]"
Issue Id: <b>23d36528-ceaa-2271-7c84-91b64f6ba226</b><br /><br />*Versions* <br />- 1.44.0-insider (3/31/2020 8:07:17 AM)<br />*Stack* <br />Error: TreeError [MarkersView] Tree element not found: [object Object]<br />[/vs/base/browser/ui/tree/objectTreeModel.ts#297:9 (getElementLocation)](https://github.com/microsoft/vscode/blob/d7d1147d6b764a48b789000c03088ee9afabcd8a/src/vs/base/browser/ui/tree/

[2020-04-01 16:20] aeschli opened #94182 "Only show semantic token help once"
Only show semantic token help once

[2020-04-01 16:20] sandy081 commented on #92323
No idea that is what we are trying to figure out. Could be due to any change.

[2020-04-01 16:20] alexdima commented on #94158
@zergtul I could not reproduce in a vanilla VS Code installation (no extensions & no settings). I press Enter at the end of line 54. Does this reproduce for you when disabling all extensions?

![TO_UPLOAD](https://user-images.githubusercontent.com/5047891/78161255-77d16b00-7445-11ea-9f47-3eb588b79df2.gif)

[2020-04-01 16:20] JuMach opened #94183 "Outline highligh"
Hi,

When you click on a symbol / function in the outline tab, that symbol is highlighted to indicate the position you are in (example: test_2() function).

![imagen](https://user-images.githubusercontent.com/40469528/78160857-d813dd00-7444-11ea-8363-1454f4a9c71f.png)

But, if you move to another symbol from the editor (not from the outline tab) that new symbol is not highlighted on outline tab (e

[2020-04-01 16:21] sandy081 commented on #93620
But this is a network related issue and I do not think this is the right place about discussing it right?

[2020-04-01 16:21] #94182 closed

[2020-04-01 16:21] vscodeerrors opened #94184 "Failed opening file <REDACTED: user-file-path> for writing: Permission denied"
Issue Id: <b>364a66f0-9c68-0e9d-eb21-6b19f219fd17</b><br /><br />*Versions* <br />- 1.43.2<br />-  26076a4de974ead31f97692a0d32f90d735645c0<br />-  64b65cf8e401cb98d4ddfc8324cb6635ff6fc2ed<br />-  6cf3dd97465b2f4f666b66758991d720e003b0f4<br />-  78a4c91400152c0f27ba4d363eb56d2835f9903a<br />-  86405ea23e3937316009fc27c9361deee66ffbf5<br />-  8795a9889db74563ddd43eb0a897a2384129a619<br />-  9579eda

[2020-04-01 16:22] Emiel-Bos commented on #93731
I have a similar issue where it keeps on stating the following: "Code is already running" unnecessarily. I closed all the terminals and made sure no other screens are opened.

## Context (Environment)
I've been working on the same project for the last few days and can only remember myself encountering this issue since yesterday.  The project uses tkinter and matplotlib so at first I thought the is

[2020-04-01 16:22] roblourens commented on #94095
This is bound to "execute and insert below". We don't have a keybinding to just insert currently. I think we are running low on combinations of modifiers + enter.

[2020-04-01 16:25] izac3d commented on #93620
but I can update all other apps including vsc main update I just dont know why extensions dont install. if someone has a hint about fixing this then no problem to put it here for example like changing DNS.

[2020-04-01 16:26] roblourens commented on #94098
Did this for all except changing the output type, this isn't an action and should be refactored.

[2020-04-01 16:26] alexdima commented on #93903
The JS engine throws when constructing the regular expression:
![image](https://user-images.githubusercontent.com/5047891/78161778-460cd400-7446-11ea-9acd-f0ec92b68a3e.png)

[2020-04-01 16:26] vscodeerrors opened #94185 "<semantic> TypeScript Server Error (3.8.3)"
Issue Id: <b>90f97e90-0b64-756e-dbbe-a77101e9129d</b><br /><br />*Versions* <br />- 1.43.2<br />-  5996fb81591e92fd0c547dc45e3f0350026d5962<br />-  6cf3dd97465b2f4f666b66758991d720e003b0f4<br />-  708b019bb4e20f07cf89df9f1d943af3d38d7a70<br />-  78a4c91400152c0f27ba4d363eb56d2835f9903a<br />-  b7bfce30be3c30aa2c33fbe94fe82b81d4105668<br />-  e62c4302b0e4f3e28bbcb0f3b6e46bb00e39679c<br />-  fc14315

[2020-04-01 16:26] sandy081 commented on #93820
I am half done on this.. pending (will continue tomorrow)

- Testing multiple timeline providers
- Contribute a command to the timeline/item/context for specific timeline items
- Ensure that if you fire an onDidChange event while the Timeline view is hidden/collapsed, your provideTimeline method isn't called until the Timeline view is shown again

[2020-04-01 16:26] isidorn commented on #94085
We can always tune the message. Assiging to April to look into if more can be done here.

[2020-04-01 16:27] alexdima commented on #93903
Removing the unicode flags makes the regex valid: `new RegExp('\\a', 'ig')` works.

I think the validation code (that would display an error) forgets to use the unicode flag.

[2020-04-01 16:29] chrisdias commented on #94101
My kids' feedback suggests that the "Run and Debug" button isn't self-explanatory :).

@misolori do you have any thoughts about the "balance" here?

[2020-04-01 16:33] eamodio commented on #94163
👍 Yeah, that makes sense.

[2020-04-01 16:33] AkazaRenn commented on #10759
@wenqiangxie if you take a look at the issue list you will see a bunch of problems using MSIX, I believe that's why they stop delivering MSIX packages for now

[2020-04-01 16:36] #94039 closed

[2020-04-01 16:36] roblourens commented on #94039
Yeah, lost that due to not considering the cellEditable default from the document.

[2020-04-01 16:38] #93903 closed

[2020-04-01 16:39] roblourens commented on #67039
Hey @Spown have you tried the preview of the new debugger? Could you try it there and see if it works better for you?
https://code.visualstudio.com/updates/v1_43#_new-javascript-debugger

[2020-04-01 16:40] #93592 closed

[2020-04-01 16:41] johnshamoon commented on #93277
Sorry for the delay @bpasero. I can confirm that the file watcher doesn't update on every write to the file/folder. It looks like it only updates on the first and last write. I've attached a video.

[file_watcher.mov.zip](https://github.com/microsoft/vscode/files/4416466/file_watcher.mov.zip)

[2020-04-01 16:42] isidorn commented on #94101
@chrisdias is everything clear to your kids after they read the new message :)
Also application is not applicable to all use cases, sometimes it is a script etc

[2020-04-01 16:43] alexdima commented on #94160
What could have happened is that closing the file via `x` would not dispose the model. This could happen if a file still has a reference created via `ITextModelService.createModelReference`

@bpasero What should we do here, the message I have is instructing users to reopen the file, but pressing `x` and opening it again didn't do that...

[2020-04-01 16:44] Tyriar commented on #93998
Yeah I assume that was the intent, it's weird that you press tab again and you select the link in the second setting though. Pressing down from the search box focusing the value is good as is since you're already skipping a bunch of things.

[2020-04-01 16:44] kieferrm opened #94186 "Ctrl+` broken"
Issue Type: <b>Bug</b>

Ctrl+` to toggle the terminal is broken. For me it flips to **Problems** and stays there.

VS Code version: Code - Insiders 1.44.0-insider (20b88fa0694cae8e46ffd305a1450ba58ae6065b, 2020-04-01T08:34:11.087Z)
OS version: Darwin x64 18.7.0
Remote OS version: Linux x64 5.0.0-1022-azure

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7

[2020-04-01 16:44] roblourens commented on #93991
@misolori @sandy081  should we switch this to just an icon with a tooltip, like in the extension viewlet?

[2020-04-01 16:45] cadupedroni opened #94187 "TS Server fatal error: Debug Failure. False expression."
**TypeScript Version:** 3.8.3
**Steps to reproduce crash**
1.
2.
3.
**TS Server Error Stack**
[code]

[2020-04-01 16:45] isidorn commented on #93824
This was broken via https://github.com/microsoft/vscode/pull/92294
On this line https://github.com/microsoft/vscode/blob/b789f6c907387e21b51b519732d5744b6bc8f82d/src/vs/workbench/browser/parts/views/media/paneviewlet.css#L28

@sbatten why do we add maring-left of 7px to all first child of a title? This breaks the call stack view.

[2020-04-01 16:46] roblourens commented on #94034
There is already a setting, `sync.ignoredSettings` and you can see them all in one place there. But I like managing this through the context menu option too and I think this makes sense.

[2020-04-01 16:46] TylerLeonhardt commented on #94063
@weinand and @isidorn thanks for the quick reply.

I'm aware of the terminal icon. We leverage it in the PowerShell extension in the satus bar:

![image](https://user-images.githubusercontent.com/2644648/78161882-f5bc5480-73fa-11ea-96dd-186a196fb9d5.png)

which, when clicked, allows you to change the version that is used in the PowerShell Integrated Console (a terminal instance that appears in the

[2020-04-01 16:46] roblourens commented on #94034
What about the inverse to see synced extensions, would that be useful?

[2020-04-01 16:47] weinand commented on #93747
@alexr00 Everything works fine.

[2020-04-01 16:47] #93747 closed

[2020-04-01 16:48] Rynhho commented on #77924
When running version 1.43 freshly installed, setting window.restoreWindow to off doesn't work at all, it still restores previous windows.

Proof: https://www.youtube.com/watch?v=oi7vU5lUiZM&feature=youtu.be

[2020-04-01 16:48] behroozbc commented on #10759
why dont tell us ???

[2020-04-01 16:50] Tyriar commented on #94186
Can't reproduce here, does it happen regardless of what is focused or if you launch with `code --disable-extensions`? You could also check your keybindings.json

[2020-04-01 16:56] connor4312 commented on #69480
For me it seems like even with "Smart Scroll" enabled on Insiders, clicking in the output doesn't stop scrolling. Here's a screen recording testing on stable, where scroll pauses, and insiders: https://memes.peet.io/img/20-04-3af5c0ab-1cbd-4347-9554-99425f52b59e.webm

[2020-04-01 16:58] roblourens commented on #94002
It's the same color as the text above, and you can use `settings.headerForeground` does that do it for you?

[2020-04-01 16:59] roblourens commented on #94002
![image](https://user-images.githubusercontent.com/323878/78164935-2d81c700-7410-11ea-9f1d-d58d9ce21a50.png)

[2020-04-01 16:59] #93833 closed

[2020-04-01 16:59] isidorn commented on #93833
Good catch @joaomoreno
Can you please verify?

[2020-04-01 17:01] RMacfarlane commented on #93891
Closing as a duplicate of https://github.com/microsoft/vscode/issues/94174 since there is more discussion there

[2020-04-01 17:01] #93891 closed

[2020-04-01 17:03] Tyriar commented on #94002
@roblourens I mean the grey line under Workspace in your screenshot.

[2020-04-01 17:04] Tyriar commented on #94002
It's the only dark color without a blue hue here:

![image](https://user-images.githubusercontent.com/2193314/78165395-1d61eb80-7400-11ea-8ccb-f514eeda3795.png)

Ideal:

![image](https://user-images.githubusercontent.com/2193314/78165474-38ccf680-7400-11ea-8210-c233fd575611.png)

[2020-04-01 17:05] #93413 closed

[2020-04-01 17:05] miguelsolorio opened #94188 "Announce empty results in pickers each time picker value changes"
Refs #93648

![image](https://user-images.githubusercontent.com/35271042/78076770-e76b2b80-735b-11ea-82b0-ea44e896a359.png)

When on the normal quick pick, the screen reader will say "0 results". But in the recent quick pick there's no mention of it. These should be consistent.

[2020-04-01 17:05] octref commented on #93413
This should be done by a PHP extension. Emmet does not understand PHP.

[2020-04-01 17:05] misolori commented on #94188
(sorry for the late post, I had written this one yesterday but never posted it 😞)

[2020-04-01 17:05] octref commented on #93582
Please open a new issue by turning off all extensions and providing a repro case.

[2020-04-01 17:05] #93582 closed

[2020-04-01 17:08] misolori commented on #94063
Funny you mention that because we just went through an iteration and did for our the debug console in dynamic views (see https://github.com/microsoft/vscode/issues/92590#issuecomment-603291917) so we added this icon to our icon set:

![image](https://user-images.githubusercontent.com/35271042/78165676-89dcea80-7400-11ea-8c1b-6538e93939a1.png)

So i wonder if it makes sense to update this icon in t

[2020-04-01 17:08] octoxan commented on #18071
Then have an option to choose single or double as the default?

On Sat, Mar 28, 2020 at 7:29 PM kejojedi <notifications@github.com> wrote:

[2020-04-01 17:09] octref commented on #93332
@sandy081 Wondering what you think about trusted domains. I feel it shouldn't be synced but I could be convinced otherwise.

[2020-04-01 17:10] #94009 closed

[2020-04-01 17:10] bpasero commented on #94009
Quite a large change, needs verification. Now both workspace and editor symbol search will take each query input after the first to match on the container, e.g. a query like `foo bar xyz more` will  match `foo` on the symbol name and individually `bar`, `xyz` and `more` on the container.

[2020-04-01 17:13] bpasero commented on #94188
To investigate if this is a regression or just flaky.

@misolori was this testing with VoiceOver?

[2020-04-01 17:15] chrisdias commented on #94101
@isidorn no, not yet. my first objective is to get you to add some text, then I can hack the text ;-)

[2020-04-01 17:18] Tyriar opened #94189 "Semantic tokens: updateSemanticTokens is referenced in docs"
#93795

[code]

Is `updateSemanticTokens` the old name? This method is `provideDocumentSemanticTokensEdits`.

[2020-04-01 17:19] roblourens commented on #93973
I don't see why this would be different in a remote window. Are you sure you have a folder open? Maybe you can share a screenshot of what you are seeing to make sure I understand?

[2020-04-01 17:20] roblourens commented on #93989
That's a good point about it being right next to the gear button

[2020-04-01 17:22] jgehrcke commented on #17563
Sorry for writing a comment hat is not productive. But I'd like to share that "search and replace in a selection" is an incredible source of frustration for me on a daily basis in VS Code. This current issue here seems to be _one_ of the problems that create pain for me. I come from Sublime Text 3 where search and replace in a selection simply worked intuitively for me. Maybe it can serve as an in

[2020-04-01 17:22] roblourens commented on #87254
Hm, I don't think I've seen that format before but it's probably not a problem. We try to pick window IDs to be simple and increasing but can probably lose count somehow...

[2020-04-01 17:23] connor4312 commented on #92073
@jrieken can you add verification steps?

[2020-04-01 17:23] rafaelrenanpacheco opened #94190 "Quick fix popup may take the whole screen"
Would be possible to add an option to limit how many items are listed in the **Quick fix** popup before scrolling kicks in?

For example, when quick fixing a missing import for the `List` class in Java, vscode shows this:

![image](https://user-images.githubusercontent.com/12160864/78166238-d6d1b880-7422-11ea-92ff-5002b6628bdc.png)

This is of course overkill and scares the user.

In IntelliJ the

[2020-04-01 17:25] RMacfarlane commented on #94053
The Microsoft authentication provider is an extension that takes some time to activate, when it does I add the "Sign in" context menu option. Until then you aren't able to sign in. I based this message on the "No source control providers registered" message show in the SCM viewlet while git loads.

Let me know if there's text you think would be clearer here

[2020-04-01 17:27] TylerLeonhardt commented on #94063
@misolori you're awesome!

[2020-04-01 17:28] RMacfarlane commented on #94036
Closing as a duplicate of https://github.com/microsoft/vscode/issues/94076

[2020-04-01 17:28] #94036 closed

[2020-04-01 17:34] dbaeumer opened #94191 "Workspace folders from different providers"
When I use LSIF together with WSL I always get this message:

![capture](https://user-images.githubusercontent.com/1931590/78168196-cedc3d80-744f-11ea-8226-62620335a4bc.png)

Why do we have this limitation? I don't see this under Windows since there I have a normal file provider.

[2020-04-01 17:35] Tyriar opened #94192 "Semantic tokens: API docs are written like a tutorial"
#93795

![image](https://user-images.githubusercontent.com/2193314/78167534-8139e380-7403-11ea-8d6d-a62c03b27cc5.png)

The docs are written very conversationally and in the style of a tutorial. This is not consistent with the rest of the API and also references other symbols above, relative to the position within the .d.ts which could be confusing when looking at the API via hovers/intellisense.

[2020-04-01 17:37] JacksonKearl commented on #93031
I've been using the aforementioned extension (https://github.com/JacksonKearl/vscode-search-editor-apply-change), and in my view it's quite a bit nicer than a traditional replace box. You can use multicursor to operate on all results at once (select all with Cmd+Shift+L), you can enable context lines to edit surrounding text areas as opposed to just the match result (I for instance yesterday was a

[2020-04-01 17:42] zean7760 opened #94193 "All extentions disappeared and can't install new ones"
Issue Type: <b>Bug</b>

`Cannot read property 'templateData' of null` shows when I search for extentions

VS Code version: Code - Exploration 1.44.0-exploration (2766badcb6c29445f5289033f1343f373802315c, 2020-03-27T21:34:34.236Z)
OS version: Darwin x64 19.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz (4 x 2300)|
|GPU Status|2d_

[2020-04-01 17:51] lukkyjoe commented on #93401
I realized once i disable-extensions it behaves as it should without delay.
Feel free to close if that means it's not within scope.
But if I may ask, do you know of a fast way to test which extension may be causing my delay besides trial and error? i have lots of them....

[2020-04-01 17:51] rebornix commented on #93771
@sandy081 for the snippet issue, I'm a bit confused by `Configure User Snippet`? If I choose a language from that quick open, does it create a user snippet or a global one?

Other than that, settings are not synced too. I changed editor font family but it's not synced and my `sync.ignoredSettings` is empty.

[2020-04-01 17:52] JacksonKearl commented on #91038
![image](https://user-images.githubusercontent.com/8586769/78169752-c3185900-7406-11ea-97ab-98dfae87a0da.png)
Still seeing parameter colors applied. Also, I remember seeing semantic tokens in the inspect widget, is that removed now?

[2020-04-01 17:54] mattfan00 opened #94194 "Placement of "cursor line" incorrect in scrollbar"
- VSCode Version: 1.43.2
- OS Version: macOS 10.13.6

Steps to Reproduce:

1. This issue will be focused on the scroll bar and the line that shows where your cursor is in the document. Here is a picture of what I am referencing:

![image](https://user-images.githubusercontent.com/30060256/78168389-d7b41b80-741d-11ea-95bb-34a7a539991e.png)

I will refer to this white horizontal line in the scroll b

[2020-04-01 17:54] themattsterr commented on #92305
I agree with @heroboy. I want the lightbulb to be displayed, but it is always suggesting I change modifiers to final where possible.

I'm using the Language Support for Java(TM) by Red Hat extension.

[2020-04-01 18:02] sbatten commented on #93824
V0 of multipanel had no collapse so I think this is just a remnant of that. I am removing.

[2020-04-01 18:02] #93824 closed

[2020-04-01 18:04] octref commented on #93603
We only support standard CSS. PostCSS gives you infinite flexibility and we can't support all syntaxes.

[2020-04-01 18:04] #93603 closed

[2020-04-01 18:04] sbatten commented on #93824
To Verify:
1. Check that Call Stack view in the Run Viewlet does not have misaligned padding compared to other views.
2. Check other views as well to ensure this fix does not break others.

[2020-04-01 18:06] Spown commented on #67039
yes, I am using usePreview.

[2020-04-01 18:07] Tyriar commented on #85344
Advice from snapcraft team: this should be fixed by removing the following environment variables after start up:

[code]

[2020-04-01 18:11] misolori opened #94196 "Changes view with screen reader shortcut not working when editor is not focused"
Refs #93301

I was very confused as to how to get into this mode and then I realized that when I click on a diff, the focus is still on the list:

![image](https://user-images.githubusercontent.com/35271042/78170710-32db1380-7408-11ea-95ec-898a8248b9c7.png)

So using the shortcut yields nothing, I have to enter focus into the editor and then use the shortcut to initiate that mode:

![image](https:

[2020-04-01 18:13] #93975 closed

[2020-04-01 18:15] gjsjohnmurray commented on #93620
@izac3d did you verify that all of the domains listed in the article I referred you are reachable by you?

[2020-04-01 18:15] misolori opened #94197 "Changes screen reader shortcut to go backwards doesn't work"
Refs #93301

`Shift + F7` does not allow me to go backwards through the diff changes and keeps going down the list.

It's worth mentioning that i'm on a Mac using Parallels and have use `fn` to get to my function keys, so I press `fn + F7 + Shift`.

[2020-04-01 18:16] interpol-kun opened #94198 "Formatting on type (break before curly braces) is not working for C/C++/C# languages (possibly some others too)"
Issue Type: <b>Bug</b>

1. Open fresh VSC, in the settings check format on Type, on Paste and on Save.
2. Install official C/C++ or C# extension.
3. For C/C++, change the formatting to follow Visual Studio style (Clang_format_style).
4. Write any function with curly braces, for example.
5. The formatting won't apply. Hit CTRL+S and it will apply now. Here's [the example](https://streamable.com/bq0

[2020-04-01 18:16] sbatten commented on #93975
To Verify:
1. Add a keybinding for `Move Focused View`
2. Move a single view to the activity bar, creating a container with a single view (e.g. timeline)
3. Ensure the view has focus and press your keybind to trigger `Move Focused View`
4. Verify that `New container in Side Bar` is not an option.
5. Repeat with a view in the steps 2-4 except moving a view to the panel and verifying `New Container

[2020-04-01 18:17] #93297 closed

[2020-04-01 18:20] interpol-kun commented on #94198
Also I have to add that that issue haunting me from the first day I started using VSCode. Is not an exclusive for me, it happens to a lot of people using the different languages. I have [an opened issue for omnisharp ](https://github.com/OmniSharp/omnisharp-vscode/issues/3128#issue-458195400)since summer, and the devs seems to ignore it.

It is really a shame that the text editor can't do the basi

[2020-04-01 18:21] misolori opened #94199 "Tabbing through changes view with screen reader causes changes view to indent"
Refs #93301

1. Get into the changes view and focus on the first line
  ![image](https://user-images.githubusercontent.com/35271042/78172261-9a925e00-740a-11ea-885e-613acef5ed29.png)
2. Hit `Shift+Tab` to go to previous tabbed item
3. Hit `Tab` to go back to first line
4. :bug: Changes view starts getting indented every time you hit `Tab`
![image](https://user-images.githubusercontent.com/35271042

[2020-04-01 18:25] spahnke opened #94200 "Codelens collides with code when using font zoom"
Version: 1.44.0-insider
Commit: 20b88fa0694cae8e46ffd305a1450ba58ae6065b
Date: 2020-04-01T08:34:11.087Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.4.0

Steps to Reproduce:

1. Use font zoom in e.g. a TypeScript class to zoom in to max zoom level
2. Observe that the codelens collides with the code

![image](https://user-images.githubuserconten

[2020-04-01 18:26] JacksonKearl commented on #88665
With this on macOS, `Cmd+Enter` opens the folder in a new window when `"window.openFoldersInNewWindow": "default" | "off"` is set, but `Opt+Enter` opens the folder in the same window when  `"window.openFoldersInNewWindow": "on"` is set. These should be the same in my opinion.

[2020-04-01 18:31] misolori commented on #94197
Also realized that when there's a single range of changes (like two edited lines next to each other) the `F7` shortcut just goes down line-by-line. This is confusing because it's different from when you have multiple ranged changes and that cycles through each range set.

[2020-04-01 18:32] roblourens commented on #67039
Could you open an issue on the vscode-js-debug repo then with some details? I am not sure whether this old issue is still relevant, I will have to look at the repro project again

[2020-04-01 18:33] rebornix commented on #94167
Pushed a fix for showing the toolbar for Markdown cells. We need more polish next iteration for the markdown default paddings as now they are not compact.

[2020-04-01 18:33] roblourens commented on #94161
https://github.com/microsoft/vscode/issues/20467

[2020-04-01 18:33] #94161 closed

[2020-04-01 18:34] misolori commented on #94199
This actually makes edits to the original file and is quite annoying. I would expect for this be a read-only mode.

[2020-04-01 18:37] roblourens commented on #94142
You can actually cmd+click to open a match to the side, which matches the explorer and other things, but we could have this in the context menu too.

[2020-04-01 18:38] misolori commented on #93301
There's just a few issues with navigating through the list that feel inconsistent like when you have a single range of edits, `F7` goes down line-by-line but when you have multiple ranges that shortcut toggles between the different ranges.

It also felt weird that the shortcut to enter this view is also not the same one to exit (you have to hit `esc`. Not sure if this is common in other modes but

[2020-04-01 18:38] #93301 closed

[2020-04-01 18:41] izac3d commented on #93620
checking now. how I check domains begin with * ?

[2020-04-01 18:44] izac3d commented on #93620
this one is inaccessible vscode.search.windows.net

[2020-04-01 18:46] ashot11091950 commented on #93594
@joaomoreno Did you read the description?? It is available only in Firefox. I can't do it in Chrome

[2020-04-01 18:46] sandy081 commented on #93771
There are two kinds of user snippets -> language and global snippets. Both are available in user snippets folders. Global snippets have `.code-snippets` extensions and language snippets have `.json`extension. Currently I am syncing only language snippets.

[2020-04-01 18:48] sandy081 commented on #93989
@Tyriar What do you mean by click feedback? Does the mouse pointer changing it for you?

[2020-04-01 18:48] smithjosh115 commented on #94194
I would like to take a look at fixing this

[2020-04-01 18:49] sandy081 commented on #93332
I fee they should be synced. Its the user choice and as a I user I want my choice to be synced.

[2020-04-01 18:53] rebornix commented on #94072
False alarm.

[2020-04-01 18:53] #94072 closed

[2020-04-01 18:55] sandy081 commented on #93991
Yeah.. just icon makes sense.

[2020-04-01 18:55] #94035 closed

[2020-04-01 18:56] rebornix opened #94201 "Display Language doesn't update automatically"
Re #93771

* Change Display Language in one instance, it requires restarting the app
* The second instance doesn't show any notification after sync update
* Restart the second instance uses the new display language

[2020-04-01 18:58] sbatten commented on #94035
To Verify:
Default Keybindings for Panels:
Problems (Ctrl/Cmd+Shift+M)
Output (Ctrl/Cmd+Shift+U)
Debug Console (Ctrl/Cmd+Shift+Y)
Terminal (Ctrl+`)

1. Move all of these views to non-default locations (e.g. as views in the Activity Bar)
2. Use the keybindings above to focus/toggle the views. This will hide the sidebar/panel if the view is already focused like before.

[2020-04-01 19:01] bao007fei opened #94202 "[folding] CTRL + ENTER should add new line after folded block"
Issue Type: <b>Bug</b>

When hit ENTER or CTRL+ENTER to create a new line after folded block, the block will unfold which did not happen in VS. Pretty annoying:(

(left: vscode, right: vs)
before ENTER or CTRL+ENTER:
![image](https://user-images.githubusercontent.com/24863266/78175921-3fa24a80-748e-11ea-8209-91ac019628af.png)

after ENTER or CTRL+ENTER:
![image](https://user-images.githubuserconte

[2020-04-01 19:02] rebornix commented on #93771
I was connecting to the wrong server on one instance, false alarm and sorry for the trouble.

[2020-04-01 19:02] connor4312 commented on #89962
my $0.02 when verifying: it feels weird to have multiple scrollable regions together like this. Does that region need to scroll? I don't imagine we'll have packs with a dozen extensions to the point that it becomes overwhelming

![](https://memes.peet.io/img/20-04-98e39c8b-1a1e-422d-b4bc-963e24dd936e.png)

[2020-04-01 19:07] sbatten commented on #93981
I do not reproduce this issue, can you please confirm and capture a gif?

[2020-04-01 19:09] chrmarti opened #94203 "Diff with previous version in sync activity view"
Issue Type: <b>Bug</b>

#93771

Seeing a few empty diffs for settings and snippets:

![image](https://user-images.githubusercontent.com/9205389/78176445-c807f780-745c-11ea-8ac6-ef54b033f156.png)

Funny: When I enable 'Ignore leading / trailing whitespace' in that diff editor, that setting is toggled in the right part of the diff editor which I expected to be read-only.

VS Code version: Code - Ins

[2020-04-01 19:13] Tyriar commented on #93989
@sandy081 left mouse flashes the icon brighter briefly, right mouse makes the icon bright until released (see the white/grey color if different in the screenshot above).

[2020-04-01 19:16] roblourens opened #94204 "lsp-embedded-language-service only works on files that are saved"
Testing https://github.com/microsoft/vscode/issues/93809

I was trying to use the sample by opening an untitled file and changing the mode to html, but it didn't work in that file. The readme should mention this.

[2020-04-01 19:25] ThrowawayAccount-lang commented on #93120
Don't worry about it, it's fine :)
[code-8b4b.trace.txt](https://github.com/microsoft/vscode/files/4417154/code-8b4b.trace.txt)
That's the log, although other Electron apps (such as GitHub's text editor.. I don't know if I'm allowed to mention it's name here) are slow to startup, so maybe it might be a problem with my computer?

[2020-04-01 19:28] chrmarti commented on #94203
I realize it might be showing the diff to the current state, not the diff between states.

Please make it show the diff that was applied at that point in time. Showing the diff to the current version is not intuitive.

[2020-04-01 19:29] chrmarti commented on #94203
Also show diffs for extensions and global state, these are missing. (Should that be a separate issue?)

[2020-04-01 19:31] #69480 closed

[2020-04-01 19:32] roblourens commented on #93809
I also filed https://github.com/microsoft/azure-pipelines-vscode/issues/304 but I don't know if that's good advice or if there's a different way we should work around it, or even by making it more obvious in the vscode debug UI somehow.

[2020-04-01 19:33] #93771 closed

[2020-04-01 19:36] brian952 opened #94205 "Can't install any extension"
Issue Type: <b>Bug</b>

Hello,

I am having trouble to install extension directly through vscode. It said "Failed to install'xxxxxx' "

VS Code version: Code 1.43.2 (0ba0ca52957102ca3527cf479571617f0de6ed50, 2020-03-24T07:34:57.037Z)
OS version: Darwin x64 19.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz (12 x 2200)|
|GPU Statu

[2020-04-01 19:40] kieferrm opened #94206 "Can't be logged in into VSO and OAuth at the same time"
Testing: https://github.com/microsoft/vscode/issues/93813

I have two extensions to that to the same thing. Sources in https://github.com/kieferrm/testplan-items/tree/master/git-auth-test.

1) start insiders with those two extensions in the `extensions-dir`
2) F1 > GitHubAuth-Test1: Login with OAuth
3) walk through the browser flow
-> OAuth session starts
4) F1 > GitHubAuth-Test1: Show OAuth sessi

[2020-04-01 19:43] kieferrm opened #94207 "Duplicate entries for trusted extensions for my account"
Testing: https://github.com/microsoft/vscode/issues/93813

After running through https://github.com/microsoft/vscode/issues/94206.

1) Go to Accounts in the activity bar
2) Choose the GH account
3) Select `Manage Trusted Extensions`
->
![image](https://user-images.githubusercontent.com/4674940/78179481-1e057c80-7416-11ea-9314-08b9a6b4a6ef.png)

[2020-04-01 19:43] gaurav5430 commented on #93603
I understand.

This proposal is not about adding support for postcss though, it is more about allowing to add custom ignore rules to the css linter. I am not expecting vscode to fill in the values for postcss variables, just expecting the linter to not fail on them, so that I can still have intellisense/autocomplete working after using these values.

[2020-04-01 19:46] sandy081 commented on #94083
Trying on latest insiders I see same dialog on both instances

<img width="1485" alt="image" src="https://user-images.githubusercontent.com/10746682/78179823-1e2b6980-7462-11ea-86ee-12834f81c5fe.png">

@RMacfarlane This dialog should not appear if user does not sign out manually.

[2020-04-01 19:46] chrmarti commented on #94148
Where do you set it in the OS?

Does `code --proxy-server=...` work? (https://code.visualstudio.com/docs/setup/network#_proxy-server-support)

[2020-04-01 19:50] karlhorky commented on #93031
Sounds interesting :) Maybe something very similar can provide the base functionality for the replace feature.

I would request that the feature still retains a quick 3-step workflow (add search query, add replace pattern, run replace) for the more simple find and replace operations though.

[2020-04-01 19:55] cdsousa opened #94208 "Feature request: auto scrolling and smart scrolling in the integrated terminal"
Feature request: auto scroll (with a toggle button) and smart scroll lock (with a toggle in settings) for the integrated terminal, just like it exists for the output panel.

[2020-04-01 19:56] chrmarti commented on #93997
I'd expect aligning the group labels to look better. (To throw in my 2 cents.)

/cc @isidorn

[2020-04-01 19:56] sana-ajani commented on #94034
Yeah, I think being able to search for all the extensions or settings that have been synced through the UI would be nice

[2020-04-01 19:59] qizhiyu commented on #94068
![4b7cd4f8-1969-4dd1-bdd5-a19aa30dd41a](https://user-images.githubusercontent.com/2202171/78180967-0be01880-74c0-11ea-8396-957db06b0519.gif)

I also tried with Insiders - 1.44.0 which has no such issue
![image](https://user-images.githubusercontent.com/2202171/78181058-3a5df380-74c0-11ea-9136-e132a6aa3a00.png)

[2020-04-01 20:02] yporqueno commented on #92561
git.inputValidationSubjectLength is for Maximum length. I need Minimum length.

[2020-04-01 20:03] #94150 closed

[2020-04-01 20:05] mwpenny commented on #92868
Hi there, is there any more information I can provide that would be useful? Do you know of a possible workaround for the time being?

[2020-04-01 20:08] aeschli commented on #94149
What's the name of the command you use?
`Unfold All` : That's unfolding all ranges in the file (unrelated to the cursor)
`Unfold Recursive` ? That's unfolding all child ranges of the range at the cursor

[2020-04-01 20:09] eamodio opened #94209 "Unsure what values to use for "fonts" in -product-icon-theme.json"
Refs: #93798

What should `style`, `weight`, and `size` be set to? Should they be unset unless they are specifically needed? What would `size` even do? Isn't the size based on the usage? Also, should there be intellisense for `style` and `weight`?

For `src`, what formats do we support? Should there be intellisense for them?

[2020-04-01 20:11] eamodio commented on #94110
Hrm, does that really provide any more value? Maybe for screen readers?

/cc @misolori

[2020-04-01 20:18] Tyriar commented on #94186
Related to views, fixed today according to @sbatten

[2020-04-01 20:18] #94186 closed

[2020-04-01 20:23] kieferrm commented on #94186
@sbatten just helped tracking this down. I moved my terminal at some point in the past but moved it back to it's original position. Moving the terminal caused the keyboard shortcut to be broken. Resetting the view location using the context menu fixed the issue.

[2020-04-01 20:23] sbatten commented on #94186
To Verify:
1. Drag Terminal to the Side Bar
2. Drag Terminal to its original position in Panel (DO NOT RESET ITS VIEW LOCATION)
3. Use Ctrl+` to toggle terminal and verify it works

[2020-04-01 20:27] sandy081 commented on #94143
@sbatten Any concerns in creating view container commands for generated view containers?

[2020-04-01 20:28] aeschli commented on #91038
@JacksonKearl That's a weird state you are. The inspect window should show the semantic tokens. Instea it looks like semantic highlighting is not enabled here.
Are you sure this theme has semantic colors enabled?
If yes, would you mind filing a separate issue with all the info (sample source, what theme...)

[2020-04-01 20:28] #91038 closed

[2020-04-01 20:29] sbatten commented on #94143
I think the naming can be confusing if the generated view container has a name similar to original container

[2020-04-01 20:30] sean-mcmanus opened #94210 "Sorting of entries in the refactor preview puts checked items last instead of first"
- VSCode Version: 1.43.2
- OS Version: Windows or others.

Steps to Reproduce:

1. See issue https://github.com/microsoft/vscode/issues/90664 , that says "We should make sure that categories with unconfirmed changes go atop, files should be sorted by name and changes by line number".

Expected: Our C/C++ extension would prefer the opposite behavior with the confirmed changes going on at the top, w

[2020-04-01 20:30] aeschli commented on #91038
Version: 1.44.0-insider
Commit: 20b88fa0694cae8e46ffd305a1450ba58ae6065b
Date: 2020-04-01T08:29:34.507Z
With Dark+ theme

![image](https://user-images.githubusercontent.com/6461412/78183517-50d86080-7468-11ea-8de8-fa4185dd7566.png)

[2020-04-01 20:31] mjbvz commented on #94117
Pretty sure I just copied these from typescript.

Adding @jrieken since now that we have es6 support we should look moving to `Object.assign` instead

[2020-04-01 20:31] sean-mcmanus commented on #94210
@vscodebot Not a duplicate.

[2020-04-01 20:33] aeschli commented on #77924
@Rynhho The window with the 4 folders is an unsaved, untitled workspace.
These are always restored as it would be a loss of data as they can't be restored in any other way.
Would you mind filing a new issue?

[2020-04-01 20:34] rebornix opened #94211 "Semantic highlighting: range semantic tokens provider does not respect semanticHighlighting setting"
Issue Type: <b>Bug</b>

Currently in VS Code repo, I constantly see wrong temporary semantic colors in typescripts documents. They are flushed after scrolling

*Weird red color for properties*
<img width="1757" alt="image" src="https://user-images.githubusercontent.com/876920/78183406-b4d53780-741c-11ea-8a22-5ee980b272dc.png">

*Colors flushed out when scrolling*

![Kapture 2020-04-01 at 13 33 22]

[2020-04-01 20:35] garygreen commented on #25925
Any progress on this? It's been 3 years and Sublime still outclasses VSCode when it comes to fuzzy search matching in a intuitive way. Would be super awesome if more focus could be made on improving this. I think a lot of developers would appreciate it 👍

[2020-04-01 20:36] mjbvz commented on #93963
8a25588 expands the docs on these methods based on the feedback

[2020-04-01 20:37] sandy081 commented on #92332
@Juggern4ut @jimseiwert Did not find any root cause for this. Are you still able to repro it?

[2020-04-01 20:38] aeschli commented on #77924
@SeanTAllen When `restoreWindows: none` is set, we still restore all unsaved and untitled workspaces as well as all empty windows with unsaved editors in them.
Is that what you are seeing?

As explained, the rational for that is that if they weren't restored there's no way to get them back again.

[2020-04-01 20:38] sbatten commented on #94143
also, wouldn't these show up in keybindings? there could be a lot of commands with weird ids

[2020-04-01 20:41] sandy081 commented on #89962
Yeah there are enough number of extension packs with atleast more than 4 extensions. I do not want read me to be pushed much further down. Above is the ideal proportional size for extensions and read me.

Agree that two scroll bars is not ideal but not odd :)

[2020-04-01 20:42] chrisdias commented on #94053
Ya, for the average person the "No source control providers registered" is hard to understand too :).

I would just default to "Sign in...". It's neutral and accurate.  If it expands to "Sign in with GitHub" or something else after a provider registers itself, that would just make it more accurate.

[2020-04-01 20:42] aeschli commented on #94211
What does the `Developer: Inspect Editor Token Scope` hover say?
What theme is it?
Anything in your settings (in particular `editor.tokenColorCustomizations`)?

[2020-04-01 20:43] JacksonKearl commented on #91038
verified in Dark+.

[2020-04-01 20:44] RMacfarlane commented on #94053
How about something like, "Loading..."? The reason I don't want to change it to "Sign in..." is that clicking it at this stage will do nothing. I could also just hide the icon from the activity bar until the command is available

[2020-04-01 20:44] Tyriar opened #94212 "Implement interface should be prioritized over remove unused declaration"
The most common scenario when this appears I imagine is when the class is just being written (like I am now), so we should prioritize implementing the interface and have it first.

![image](https://user-images.githubusercontent.com/2193314/78184717-c6b7da00-741e-11ea-9147-7a90a856ba6d.png)

[2020-04-01 20:46] kieferrm opened #94213 "Need to review the VSO authentication flow"
Testing https://github.com/microsoft/vscode/issues/93813.

The VSO authentication flow consists of two browser roundtrip interactions because of limitations in the GH API. It is a complicated flow and makes authentication with VSO more complicated than it is today.

[2020-04-01 20:47] #93813 closed

[2020-04-01 20:47] JacksonKearl opened #94214 "Strange semantic highlight state"
Using theme Noctis Lilac https://marketplace.visualstudio.com/items?itemName=liviuschera.noctis

New typesctipt file with contents:
[code]

Notice at first the resolve,reject call are the same color as tryRetrieveData. Then, after a small delay they become the same color as the parameters. I assume this is some semantic highlighting. However, in the token inspector window:
![image](https://user-im

[2020-04-01 20:47] JacksonKearl commented on #94214
Ref #91038

[2020-04-01 20:48] verokarhu commented on #88798
Which version of Git are you using? I'm unable to reproduce with version 2.26.0:
[code]

[2020-04-01 20:51] alexdima commented on #94211
Do you use `"editor.semanticHighlighting.enabled": false`. I realize now the range provider does not respect that configuration option.

[2020-04-01 20:52] rebornix commented on #94211
`editor.semanticHighlighting.enabled: true` in my setup but I'm using my now theme *Nova*. I didn't see any issue with builtin themes.

[2020-04-01 20:52] JacksonKearl commented on #94211
I see this consistently in https://github.com/microsoft/vscode/blob/88d189b4791a199137bb9da0b0c36b8c544b9683/src/vs/workbench/contrib/search/browser/search.contribution.ts with theme Noctis Lilac https://marketplace.visualstudio.com/items?itemName=liviuschera.noctis

[2020-04-01 20:54] alexdima commented on #94211
Ok, so the bug is that the document range semantic tokens provider executes on themes which did not opt in to semantic coloring. (It also doesn't respect `editor.semanticHighlighting.enabled`).

[2020-04-01 20:54] #93795 closed

[2020-04-01 20:57] JacksonKearl commented on #94214
See also #94211

[2020-04-01 20:58] sandy081 commented on #93989
Yeah I observe it but I do not see where this change is coming from. Looks to me very subtle. Mouse gesture does not show pointer on this which is the main feedback.

Enabling it hides the icon which might not be expected behaviour for the button. I think we shall either make it a toggle button or leave it as it is now.

I prefer current approach - indicating the state using icon which is not new.

[2020-04-01 21:01] mjbvz commented on #93963
Also to some specific points:

- Why not `revertEdits`?

`revert` tells the extension to reload the resource from disk. I've clarified this in the docs. Revert does not always have to involve edits, such as reverting a restored backup.

- Why are edits arrays if we only ever pass a single edit?

Before we had an explicit `revert`, we would call undo/apply with lists of edits to implement revert. A

[2020-04-01 21:01] alexdima commented on #94214
Thanks, that's it. Let's track in #94211

[2020-04-01 21:01] #94214 closed

[2020-04-01 21:02] #94011 closed

[2020-04-01 21:05] eamodio opened #94215 "Product Icons: iconDefinitions.font doesn't seem to work when there are multiple fonts"
Refs: #93798

I've tried having 2 font sources, and then for certain icons use one font or another, but it seem that only the first font in the `fonts` array is ever used.

[2020-04-01 21:06] eamodio commented on #93798
Looks great, except for #94215

[2020-04-01 21:06] #93798 closed

[2020-04-01 21:09] aeschli commented on #93897
duplicate of https://github.com/microsoft/vscode/issues/94211

[2020-04-01 21:09] #93897 closed

[2020-04-01 21:09] luabud commented on #83586
I actually can't repro the race condition anymore, it's consistently organizing the imports first and then triggering the formatter. And it seems that if we wanted to change the order, we could do it in the extension side, so I'm closing this issue.

FWIW the code for sorting imports is here: https://github.com/microsoft/vscode-python/blob/master/src/client/providers/importSortProvider.ts

[2020-04-01 21:09] #83586 closed

[2020-04-01 21:12] JacksonKearl opened #94216 "StatusBarItem doesn't respect it's Command's title/tooltip"
Ref #22353
[code]

expect the title and tooltip to be reflected in the item. they aren't, they must be manaully re-set on the top level status bar item.

[2020-04-01 21:16] connor4312 commented on #81832
It looks like renaming works and opens in the custom editor per my preferences, but if I save an untitled file as in the issue, nothing happens. [Recording](https://memes.peet.io/img/20-04-83a49d76-5cda-48ae-a49f-637ea6ba2871.webm)

[2020-04-01 21:16] senergin-msft opened #94217 "Searching for VS Live Share leads to a 2 year old limited preview blog, confusing users"
- VSCode Version: N/A
- OS Version: N/A

Steps to Reproduce:
1. Use Google, or Bing to search for "Visual Studio Live Share"
1. First result is a 2 year old limited preview announcement (https://code.visualstudio.com/blogs/2017/11/15/live-share), and not the official documentation / presentation of public feature https://docs.microsoft.com/en-us/visualstudio/liveshare/
1. User navigates to https:/

[2020-04-01 21:20] rebornix commented on #94052
@bpasero we didn't do hot exit yet. We will hook it up in April, thanks for the pointer.

[2020-04-01 21:24] Spenhouet commented on #83586
I can very much still reproduce this. I just used the `settings.json` from above:

[code]

and opened a random python file. Directly on the first one **it dances and deletes lines of code**.

I extracted these lines of code into an empty python file ans pressed STRG + S multiple times (nothing else):

![race_condition](https://user-images.githubusercontent.com/7819068/78188024-cf84cc00-746f-11ea-8

[2020-04-01 21:24] #94038 closed

[2020-04-01 21:25] rebornix commented on #94038
For markdown cell there is no language metadata so it falls back to file extension by mistake ... pushed a fix.

[2020-04-01 21:26] rebornix commented on #94026
when you have notebook renderers extension installed, they will be available in the quick pick as well.

[2020-04-01 21:26] octref commented on #93603
However the parser can only handle known syntax. PostCSS gives you a way to extend CSS syntax so we can't have a parser that can always handle all cases.

[2020-04-01 21:27] rebornix commented on #93757
Fixed via https://github.com/microsoft/vscode/commit/28cfb4b1d61e6e223d8472c9ae4c20b870cf6182 . @jrieken did you run into this issue when switching between different notebooks?

[2020-04-01 21:27] #93757 closed

[2020-04-01 21:28] aeschli commented on #94215
in the definition, do you specify the `fontId`? If left out, the first defined font will be taken
(at least that's the intention...)

[2020-04-01 21:34] roblourens commented on #93809
This would be less confusing if the sample extensions didn't duplicate built-in functionality, it sounds like it's already the plan to change that 👍

[2020-04-01 21:34] JacksonKearl commented on #15774
Is the change here that Ctrl+D will use `editor.wordSeparators` instead of the language configured word separators? Verified that, but I'm not sure it's a good change. Word separators change based on language, in Lisp I want ? to be included in my words, in TS I don't. This seems to be strictly reducing the effectiveness of language configured word separators.

[2020-04-01 21:34] #93809 closed

[2020-04-01 21:36] mbomb007 commented on #15774
Configure per-language settings like so:

[code]

[2020-04-01 21:38] rockfruit commented on #15774
This may depend on your use-casefor CTRL+D.  In my opinion this is not a "language" feature, but an "editor" one, and so I have the opposite opinion to you :|

[2020-04-01 21:39] JacksonKearl commented on #15774
@mbomb007

I understand that I am able to configure this myself, but the whole point of language extensions is that they configure it for me. And sure the language extension could contribute that setting, but they already contribute word boundaries, why are we making them do it twice?

I think thats a good argument to make this a setting, preferably disabled by default as this will affect *many* p

[2020-04-01 21:41] mjbvz commented on #94216
We take these properties from `StatusBarItem` itself. We discussed using a different type for `command` in #22353 but thought `Command` best documented the intention of the property

@jrieken Let me know if you think we should try falling back to use the `title` and `tooltip` from the command if they have not been set on the `StatusBarItem`

[2020-04-01 21:41] deepak1556 opened #94218 "Notebooks: Unable to load github notebook extension on linux"
Testing https://github.com/microsoft/vscode/issues/93742

1) Tried both `0.0.4` and `0.0.3` version from the release page
2) Follow error message is shown on console when the extension is loaded

<img width="797" alt="Screen Shot 2020-04-01 at 2 40 53 PM" src="https://user-images.githubusercontent.com/964386/78189409-d4715d80-7426-11ea-800e-69249a99dc41.png">

[2020-04-01 21:43] JacksonKearl commented on #94216
I agree that it documents the intent well, but some docstrings in Command make this confusing:

[code]

[2020-04-01 21:44] mbomb007 commented on #15774
I like the fact that I can change the behavior of double-clicking on some text per-language by changing the word boundaries. Idk why PHP has `$` as a boundary character by default. I don't particularly care if Ctrl+D does the same or not, but I think it makes sense for it to respect any settings changes made.

[2020-04-01 21:46] roblourens opened #94219 "some issue"
https://github.com/microsoft/vscode/blob/b9d44e8753521fffc295987ec1bfdafe18e06edf/src/vs/workbench/contrib/terminal/browser/terminal.ts#L190-L190

[2020-04-01 21:47] #94219 closed

[2020-04-01 21:49] roblourens opened #94220 "test"
https://github.com/microsoft/vscode/blob/b9d44e8753521fffc295987ec1bfdafe18e06edf/src/vs/workbench/contrib/terminal/browser/terminal.ts#L190-L190

[2020-04-01 21:49] #94220 closed

[2020-04-01 21:50] rebornix commented on #93621
@connor4312 thanks very much, the suggestion is pretty solid.

![Kapture 2020-04-01 at 14 47 35](https://user-images.githubusercontent.com/876920/78189875-bf48fe80-7427-11ea-838e-cb5135b2394b.gif)

The only update to @connor4312 's snippet above is the scroll should stop at the container of each output container instead of going all the way up to body (potentially). The event listener should also

[2020-04-01 21:52] JacksonKearl commented on #92102
![image](https://user-images.githubusercontent.com/8586769/78190139-48603580-7428-11ea-974f-ed55a11cc7a3.png)
If possible, it might be nicer to have it say something like "stack frame not valid past XXX boundary"  (setTimeout? event queue? idk)

[2020-04-01 21:53] rockfruit commented on #15774
@mbomb007

I (and possibly three other people) do care.  It's the primary reason that I have been literally unable to use vscode the last times that I have attempted to.  It's like having someone move the "[" and "]" keys - finger memory of many years must be retrained, and it calls into question the worthiness of the effort.

It's behaviour is expected to be predictable in an instant, without thi

[2020-04-01 21:53] #93649 closed

[2020-04-01 22:00] awoz commented on #27950
Feature request. Please add "Copy expanded value" to Debug Variables context menu.

[2020-04-01 22:03] connor4312 opened #94221 "500 UserDataSyncError from setting service"
- VSCode Version: 1.44.0-insider
- OS Version: Win 10

Steps to Reproduce:

1. Change any setting
2. Observe this error in the log of the setting sync (seems to happen on around 80% of requests)

[code]

[2020-04-01 22:05] rafee commented on #2743
I started using the settings sync from vscode-insiders. But I immediately ran into a problem. When I try to sync settings across vscode-wsl and visual studio online, I can't use an environment variable to fix folder names for certain workspace folders, such as leetcode. I tried setting "leetcode.workspaceFolder": "${env:HOME}/go/src/github.com/rafee/leetcode", but it doesn't work. This is previous

[2020-04-01 22:05] connor4312 opened #94223 "Turning off settings sync does not persist"
- VSCode Version: 1.44.0-insiders
- OS Version: Win 10

Steps to Reproduce:

1. Turn off setting sync
2. Observe that it seems to be turned off
3. Reload the window
4. Setting sync is turned back on

[Recording](https://memes.peet.io/img/20-04-c2711fd4-ec03-4b9f-9926-e56c3a8a458a.webm)

[2020-04-01 22:05] connor4312 commented on #91545
Could not verify due to https://github.com/microsoft/vscode/issues/94223, removing the tag so someone else can try

[2020-04-01 22:10] mbomb007 commented on #15774
The concept of a "word" is different per language. If you want it to behave the same way no matter the language, you don't have to change "editor.wordSeparators".

[2020-04-01 22:18] misolori commented on #93820
I've a hard time getting setting up a timeline provider, below is as far as I could get from looking up various samples:

[code]

I'll likely defer this one to someone else.

[2020-04-01 22:19] jtagcat opened #94224 "Pressing the delete key inserts a tilde instead of deleting the highlighted character."
- VSCode Version: 1.43.2
- OS Version: Fedora 32
- Shell: zsh

Steps to Reproduce:
1. Open terminal
2. Type some text
3. Move the cursor between some text
Expected:
4. Press the delete key. The highlighted character will be deleted
Actual:
4. Press the delete key. A tilde (`~`) is inserted.

Does this issue occur when all extensions are disabled?: Yes

[2020-04-01 22:21] mjbvz commented on #81832
Marking for April

@bpasero Custom editors use `overrideOpenEditor` to open a custom editor in place of the default editor. When a untitled editor is saved, `EditorService.replaceEditors` is called but this goes directly to `EditorGroupView.doOpenEditor` which bypasses the `overrideOpenEditor`.

Let me know if there's some other event we can listen to to detect when an untitled editor is saved. I

[2020-04-01 22:22] jsunsawyer commented on #15774
However this gets resolved, it'd be greatly appreciated if someone could do a write-up on how a user should go about controlling this, and what all is affected.

It's especially frustrating to me when packages add their own word separators. Personally, I'd prefer to be able to force all my word separators to be consistent, as I think contextual changes based on different language types is confusin

[2020-04-01 22:23] connor4312 commented on #92172
@JacksonKearl it looks like the default alt-binding is only on OSX. On Windows it's set as alt+l, on which `toggleSearchEditorContextLines` takes precedence. Is this intended?

![](https://memes.peet.io/img/20-04-9bc2f941-5654-4792-af29-4a46522045d1.png)

Works well after reassigning it though.

[2020-04-01 22:25] misolori commented on #93989
If we're not wanting to make this clickable then we should disable the pointer events on this item and make it strictly an indicator.

If we want this to be clickable, we could surface a confirmation dialog asking the user if they want to sync that extension.

[2020-04-01 22:27] rebornix commented on #94218
This is because the `vsix` @jrieken uploaded ships with `OctokitProvider.js` while on Linux, file paths are case sensitive. I updated the vsix on the release page but still leave this open, then @jrieken remembers to update the file name locally ;)

[2020-04-01 22:27] eamodio commented on #94215
I didn't see a `fontId` property, but I did set the `font` property.

[code]

[2020-04-01 22:31] eamodio commented on #94215
I just tried using `fontId` instead and didn't see any change in behavior.

[2020-04-01 22:32] misolori commented on #89962
I think it would be worthwhile to update the extension pack items from the mockups above:
- Reduce the width of the extension packs so we can fit three in a row
- Hide extra meta data clutter (description, install button, install count, etc.)

If you do happen to get into a place where there are more extensions and you need to scroll, it can look like like there is only a certain amount and can be

[2020-04-01 22:34] misolori commented on #94110
If we have something valuable to say like "Load XX more items", that would be nice to know how many it loads at a given time (if applicable).

[2020-04-01 22:38] eamodio commented on #94035
@sbatten I can't reproduce it anymore (and it only happen a few times -- but all back to back) but what happened was using (Ctrl+`) only toggled the panel, and didn't switch to the terminal. But once I toggled views on and off, I couldn't get it to happen again and everything works fine. Maybe some bad initial state?

[2020-04-01 22:38] misolori commented on #93991
So it would look like this (no italics):

![image](https://user-images.githubusercontent.com/35271042/78193207-d808e280-742e-11ea-9eb3-b626b27f9a76.png)

[2020-04-01 22:40] eamodio commented on #94110
It's currently hard-coded to be 20, but that is somewhat approximate, as there are cases where it could be a less (and we don't know that until its loaded)

[2020-04-01 22:41] ChrisPapp commented on #93498
@isidorn
I've been studying the code and trying to come up with a solution.
In order for this to work first of all we need to add a cursor to diffReview.

One solution, would be to add the following attribute to each dirr-review-row
`contentEditable: "true"`
to get a cursor to show, and then block the keyboard events, to make it not editable.

The second approach would be to somehow connect the cu

[2020-04-01 22:43] misolori commented on #94101
I agree that the balance is off, though I get worried with these long texts on the empty viewlet.

I do like the structure of instructions first and then showing the button actions.

[2020-04-01 22:45] misolori commented on #94110
I think that's also why we don't show the number in the label on the GitHub extension. It does feel silly though to have the same text from the label in the title tooltip so I'd opt to make it more descriptive like @gregvanl suggests. We should also update this everywhere we show `load more` action labels.

[2020-04-01 22:47] misolori commented on #94188
I used the [nvda](https://www.nvaccess.org/download/) voice over on Windows

[2020-04-01 22:50] JacksonKearl opened #94225 "Keybindings for contextlines in wondows incorrect"
Ref #92172

They should be Alt+- and Alt+=

[2020-04-01 22:51] #94225 closed

[2020-04-01 22:51] JacksonKearl commented on #92172
@connor4312 good catch, tracking in #94225.

[2020-04-01 22:53] JacksonKearl commented on #92172
We can verify that tomorrow and for now verify this based on the existence of commands that, when bound, will do the thing.

[2020-04-01 22:57] artstar10 opened #94226 "Failed to install 'dracula-theme.theme-dracula'."
Issue Type: <b>Bug</b>

Olá,
estou recebendo o seguinte erro 'Failed to install' ao tentar instalar extensões no vscode,

VS Code version: Code 1.43.2 (0ba0ca52957102ca3527cf479571617f0de6ed50, 2020-03-24T07:38:38.248Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-2670QM CPU @ 2.20GHz (8 x 2195)|
|GPU Status|2d_can

[2020-04-01 22:57] gregvanl commented on #94110
How about "Display more timeline history" for the hover since that is what the user experience is.
"Load more" almost sounds like an implementation detail and feels "heavy" (like we're loading up the editor ;-) ).

[2020-04-01 22:58] misolori commented on #93964
@sbatten let me know if there is anything else you need from me.

[2020-04-01 22:59] alexdima commented on #15774
@JacksonKearl This is intentional, as in it was a feature request and now it is closed with an intentional change.

[2020-04-01 22:59] #15774 closed

[2020-04-01 22:59] misolori commented on #94111
I'm not sure that an icon would help here, often times it adds more noise. I'd be in favor of not using one.

[2020-04-01 23:03] garrett-gottlieb opened #94227 "Debugger not breaking at breakpoints with Jest in monorepo"
- VSCode Version: 1.43.2
- OS Version: macOS Catalina 10.15.3
- Electron: 7.1.11
- Chrome: 78.0.3904.130
- Node.js: 12.8.1
- V8: 7.8.279.23-electron.0
- OS: Darwin x64 19.3.0

Steps to Reproduce:

* Create file structure
[code]
* Add Expo's recommended "jest" config to `think/mobile/package.json`:
[code]
* Add placeholder test in `think/mobile/__tests__/placeholder.js` with `debugger` statement an

[2020-04-01 23:06] jsunsawyer commented on #15774
@alexdima Do you have a link to why things would seem to be behaving inconsistently?

Simple example: `.classname {`
cmd+d from the middle of the text selects `.classname` with the leading dot in an scss file
double clicking the middle of the text selects only `classname`

This is just one of many inconsistencies I've come across that are frustrating.

[2020-04-01 23:07] alexdima commented on #15774
@jsunsawyer I think we are in agreement? 😄

[2020-04-01 23:09] chrisdias commented on #94101
agreed on too much text being less than helpful.

At the same time, I also noticed the first line of text in the empty explorer isn't super useful as compared to the button text.

![image](https://user-images.githubusercontent.com/1487073/78194606-7ea2b280-7432-11ea-8a4f-c65c6a3fc5bf.png)

going back to the balance thing, maybe having the button always be the width of the viewlet, or the text alwa

[2020-04-01 23:10] TheRealMikeD commented on #94032
Hi Alex,

Looks like that key combo is bound to "Select All Occurrences of Find Match," which is correct, is it not?  That is the item that I select from the command palette, which works as expected.
<img width="1182" alt="Screen Shot 2020-04-01 at 4 05 13 PM" src="https://user-images.githubusercontent.com/7212311/78194928-4485e080-7433-11ea-868a-8fc6a8909285.png">

Thanks!
-Mike D.

[2020-04-01 23:10] #94111 closed

[2020-04-01 23:11] misolori commented on #94107
It's really hard to decide when we don't really know what other providers will do. Nearly every list item has a default click action so I would default to that experience. Also, having duplicate actions for the list and an action is odd and not something I've seen done so I'd hide the compare one.

As for the text moving, in the suggest widget we truncate the text on the right and show the icon on

[2020-04-01 23:11] eamodio commented on #94110
We are "loading" more -- it is a query that could take a while depending on the source.

[2020-04-01 23:12] rebornix commented on #91571
@RMacfarlane it seems we are now back to `getSessions()` again in current master?

[2020-04-01 23:14] jsunsawyer commented on #15774
@alexdima Hmm, I think I'm confused on word definitions then. Is this not something that can be edited. Are you saying that we're stuck with inconsistencies because certain languages have word definitions that supersede wordseparators settings?

[2020-04-01 23:14] misolori commented on #94110
I like how GitHub uses "Show More" instead:

![image](https://user-images.githubusercontent.com/35271042/78195116-c970fa00-7433-11ea-9c04-b2fa306bc8cd.png)

![image](https://user-images.githubusercontent.com/35271042/78195123-cd9d1780-7433-11ea-861d-5fcec86df9d2.png)

[2020-04-01 23:15] eamodio commented on #94110
😆 That's what I had originally and in GitLens -- but I changed it because everyone seemed to like `Load more` better (and its what we use in the GitHub PRs extension)

[2020-04-01 23:15] misolori commented on #94049
We're talking this over in #94092

[2020-04-01 23:15] #94049 closed

[2020-04-01 23:18] eamodio commented on #94110
I thought about having a bottom anchored link like that image, but it is a pattern we don't have currently, and I thought it might feel strange if there is a distance between the last item and the end of the list. And also if the last item isn't in view, do we hide it? Etc.

[2020-04-01 23:19] eamodio commented on #94110
Because it truly is a "load" and it can definitely take some time, I think `Load more` is more accurate than `Show more`

[2020-04-01 23:19] RMacfarlane commented on #91571
Ah, to clarify, there are two different `getSessions()`. One is under `AuthenticationProvider`, so someone implementing a provider would write that method. But under the `authentication` namespace there should now be `getSessions(providerId: string, scopes: string[])` to make it easier to use as a consumer

[2020-04-01 23:21] misolori commented on #94092
The action `Toggle Active Editor Following` is really oddly phrased, especially since the "follow" concept is really new to the editor. Follow Cursor is different because as you move your cursor the view gets updated. That is not the case in the timeline view because the view doesn't change at all. The action basically means "Stay here and don't move/change", and that resembles the "pinned" metaph

[2020-04-01 23:22] alexdima commented on #15774
**Here is what will change in the upcoming 1.44 and is available for you to try in Insiders since about 1 month: `Ctrl+D` will now select words based on the setting `editor.wordSeparators` and no longer based on the language configuration**.

[2020-04-01 23:25] misolori commented on #93835
I think if we have keyboard issues in the mutli step quick pick then we should fix that instead of duplicating behaviors. This is also what we suggest to extensions to use when needing to go back to the previous step.

[2020-04-01 23:27] #94211 closed

[2020-04-01 23:28] misolori commented on #93883
How about whenever we just `click` in an empty area it will add an empty cell and if you click away then the cell goes away?

[2020-04-01 23:41] jonpryor opened #94228 "Block select + wrapped text + insert alters wrapped lines, not "real" lines"
Issue Type: <b>Bug</b>

1. Create a new Plain Text document.
2. Within (1), create a very long line, *longer than the window width*.
3. Copy (2) at least three times.

    For example:

[code]

4. Enable word wrap: ⌥ Z.  Each line should wrap, as each line is longer than the window width.
5. Hold down ⌥ + ⇧, click row 1 column 1, and drag down to row 3 column 1.
6. Type `x x x `.

**Expected resul

[2020-04-01 23:55] mjbvz commented on #94125
I'll add this to the API but it won't be called for now

[2020-04-01 23:56] mjbvz commented on #93858
Fixed by a58a36b

[2020-04-01 23:56] #93858 closed

[2020-04-01 23:56] jackjlynch opened #94229 "Webviews don't take screen reader focus on opening"
- VSCode Version: 1.4.3
- OS Version: Windows 10

Steps to Reproduce:

1. With NVDA or Narrator running, open a webview panel (e.g. Release Notes)
2. Focus moves inside the panel, but the screen reader focus does not, instead just reading "Virtual Document document." Keyboard navigation and tabbing within the webview work, but the screen reader will not read anything unless you click within the we

[2020-04-02 00:01] towry commented on #92755
The keychain issue happened this morning again:

<img width="454" alt="Screen Shot 2020-04-02 at 8 00 03 AM" src="https://user-images.githubusercontent.com/8279858/78197508-244c3500-74b8-11ea-9911-eeb52a23238b.png">

[2020-04-02 00:04] #94125 closed

[2020-04-02 00:04] #93848 closed

[2020-04-02 00:04] towry commented on #94005
I got this error every time I unlock the computer in the morning at work. While the Code Insiders keep opening in the whole night.

<img width="454" alt="Screen Shot 2020-04-02 at 8 00 03 AM" src="https://user-images.githubusercontent.com/8279858/78197639-8016be00-74b8-11ea-8e48-5597c603febf.png">

[2020-04-02 00:04] mjbvz commented on #94118
Thanks.

Point 1 is definitely a bug. I'll create a priority issues on TS for this

Point 2 is https://github.com/microsoft/TypeScript/issues/36249 but for declare method. I'll open a separate issue for that

For point 3, TS should try to infer the return type based on context. In this case, the listener is typed to return `any`. Here's an example that shows this behavior:

[code]

The intent of q