[2019-02-16 21:08] CITGuru opened #68855 "Extension host terminated unexpectedly"
Issue Type: <b>Bug</b>

This issue started showing in my previous updates. The extension hostcrashes whenever i am offline or has bad reception.

[code]

[2019-02-16 21:20] CITGuru commented on #68855
Fixed by uninstalling live sass compiler by ritwicky.

[2019-02-16 21:20] #68855 closed

[2019-02-16 21:33] RicaBenhossi opened #68856 "Inserting tab spaces in a new line when using \n"
I'm using vscode with python and every time I use \n in a string and hit enter to make a new line, this new line comes with a 4 blank spaces as a tab. E. g.:

v1 = str(input('Type something: ')) [enter]
(new line without tab sapces)
v2 = str(input('Type something\n ')) [enter]
....(4 tab spaces)

![vscode-issue](https://user-images.githubusercontent.com/15204313/52905479-bc8a4a80-3221-11e9-9ef5-af

[2019-02-16 21:36] paulsmirnov commented on #13960
@Silvenga So let's have a productive discussion instead of useless complaints, shall we? Who knows why this basic feature is still not on the roadmap? What obstacles do you see?

I agree that a dead thread will be of no use. But a thread with such comments is completely useless too. Do you really think that developers will be ashamed and will start working immediately?

[2019-02-16 21:59] jeffschwartz commented on #68426
It appears that v1.31.1 corrected this issue and therefore I am closing this out. Thank you for addressing this :).

[2019-02-16 21:59] #68426 closed

[2019-02-16 22:45] skatiruas commented on #68621
If you cannot wait I've used the process described by @xereda to download the proper file, and then moved it to where my AUR builds happen (I'm using Manjaro Linux and its Package Manager).

Since the visual-studio-code-bin folder was not destroyed after the first failed attempt we can just replace the "code_x64_1.31.1.tar.gz" file:
`mv code-stable-1549938209.tar.gz /tmp/pamac-build/visual-studio-

[2019-02-16 23:32] m6502 commented on #13960
@paulsmirnov No one is trying to shame anybody. Everyone here is surely thankful for the work that is put in this software. These complains ARE the discussion and I don't think they are useless at all. At the bare minimum they serve as a gauge to know if there's interest in the feature or not. Looks like there's, so that's useful to know. Now, the developers are in their right to implement this fe

[2019-02-17 00:26] jarlefosen commented on #68217
I am also experiencing this issue, no more cycling through VS Code windows.
For me I noticed the issue about a week or so ago. It started after upgrading to VS Code 1.31 on my Macbook Pro running Mojave.

I've tried changing the "input sources" on the Mac to `British`, `British - PC` and `US` without any luck. Downloading and running the v1.30 fixes the issue, so for me this issue seems isolated t

[2019-02-17 03:02] yukkuriemilin opened #68859 "問題が過剰"
Issue Type: <b>Bug</b>

対して意味のない問題とかを消したりできないためものすごく問題部分がうるさくて少し使いづらい

VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:20:54.427Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz (8 x 2808)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>

[2019-02-17 03:37] abusedcharacter opened #68860 "File Manager Bug for ubuntu 18.04"
- VSCode Version: Ubuntu 18.04.2 LTS
- OS Version: 1.31.0

Steps to Reproduce:

1. Download "Visual Studio Code" from "Ubuntu Software".
2.  Go to "open file" and then the file manager is buggy the cancel and open buttons do not show up but they are there definitely there. I think in general visual code file manager is broken.
![bug](https://user-images.githubusercontent.com/32622534/52908021-efcc

[2019-02-17 04:00] PeterWone commented on #5953
As you say he's outsourcing to codemirror. As bloody usual nobody has bothered testing with anything but Chrome and there's a scrollbar across the bottom when I print but adding in another stylesheet can correct that. So I have been tinkering with shell integration and it seems to work in the context menu.

![image](https://user-images.githubusercontent.com/5498936/52908193-69190a80-32bc-11e9-9a6a

[2019-02-17 04:09] Neohiro79 commented on #5953
Yes, ... business as usual - but your screenshot looks promising AND awesome. I guess it might be worth it to go for highlight.js since codemirror seems a bit overbloated for just a printout-screen since it's more a editor-like integration into a webpage at all with a highlight system.

**Besides the shell integration go for the sidepanel (or explorer pane how you call it)!**

The more prominent w

[2019-02-17 04:38] Maledong commented on #68859
@yukkuriemilin：For better support and easy to be understood, please attach your English statement :)

[2019-02-17 04:39] Maledong commented on #68842
@Gumx1066520：Please check whether you've got your 'app.js' file under your opened workspace.

[2019-02-17 04:45] tsangwpx commented on #68507
TLDR: vscode do refresh itself when files are changed in the main worktree but do not in the `git worktree add` worktree.

[2019-02-17 05:37] byyxx128 commented on #68842
/question
1. Please speak English here.
2. Do NOT ask questions here.
3. Read the link you mentioned above. If you have more questions, do as the following.

[2019-02-17 05:40] byyxx128 commented on #68842
1. Please speak English here.
2. Do NOT ask questions here.
3. Read the link you mentioned above. If you have more questions, do as the following.

[2019-02-17 05:55] martellaj opened #68861 "[Split Terminal] Text overlaps terminal boundary"
Issue Type: <b>Bug</b>

1. Open a terminal with a long path such that it goes to the end of the line.
2. Split the terminal.

![image](https://user-images.githubusercontent.com/1019478/52909005-7d65f480-3235-11e9-9338-662989dfc892.png)

VS Code version: Code - Insiders 1.32.0-insider (003521e715f2dbcf4f98be99a923097505859954, 2019-02-15T06:16:29.903Z)
OS version: Windows_NT x64 10.0.17763

<detail

[2019-02-17 05:58] panzhiyi3 opened #68862 "Open multiple files with the right-click menu "Opoen with Code" and only open one file."
Issue Type: <b>Bug</b>

Open multiple files with the right-click menu "Opoen with Code" and only open one file.
0.Close all Code instance
1.Select multiple files
2.right click on one
3.Open with Code

If you have opened a Code instance, all files will be opened correctly

VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:20:54.427Z)
OS version: Windows_NT x64 6.

[2019-02-17 06:25] PeterWone commented on #5953
My stuff works so very differently it will take me a while. However, when I release it will not depend on a cloud service. I think I will borrow his idea of using a browser to print, but I will define a setting controlling whether to spawn a browser or call my printing service. With my printing service you pass the name of the Windows print queue that you want used and you supply HTML or a URL fro

[2019-02-17 08:15] mxmihai commented on #43188
After all, isn't it obvious for everyone that the importance of this feature is crucial? Any other decent IDE has this feature!
By the way, this is the ONLY reason why I haven't moved 100% on VSCode yet.

I upvote this with both hands.

[2019-02-17 08:27] Gouliath1 commented on #44806
Same issue here. any fix?

[2019-02-17 08:38] yhvicey opened #68864 "Newly created file with '/' didn't show up automatically"
Issue Type: <b>Bug</b>

1. Click 'New File' button in Explorer
1. Type a name with `/`. E.g. `dirName/filename.txt`

File created but didn't show up in the explorer automatically.

VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:20:54.427Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xe

[2019-02-17 08:44] mrausch commented on #68839
The update works flawlessly on another computer.
Notice the differences in OS version.

VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:20:54.427Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6600U CPU @ 2.60GHz (4 x 2808)|
|GPU Status|2d_canvas: enabled<br>checker_imaging:

[2019-02-17 08:47] imaginezz opened #68865 "Chinese input mehod bug in terminal console"
- VSCode Version:1.31
- OS Version:OSX 10.14.3

Steps to Reproduce:
0. I use capslock to change Chinese/English input mode(Sougou IME) in my Mac. If I use Chinese, the capslock light is off, and for English, is on.
1. If I use English Mode(capslock light is on) input English in terminal, the characters in terminal is captial letters. If I use Chinese Mode(capslock light in off) input English in te

[2019-02-17 09:19] richard-scott commented on #68787
I have the same problem with the PlatformIO extension. It uses CTRL+ALT+u to upload code to an Arduino. On my old laptop this works (outside of the App I get ú when I press those keys, but in the app, the shortcut takes precedence.

On a fresh install of Windows 10 Pro, with a fresh install of VS Code, and the PlatformIO extension I get ú when I press the shortcut keys.

On the OS that works, I ha

[2019-02-17 09:30] Marcholio commented on #38364
@atian25 Can you verify if this is still an issue?

[2019-02-17 09:38] lukechadwick commented on #68838
What kind of hardware are you using? This runs smoothly even on my tablet.

[2019-02-17 10:04] bbdd2334 opened #68866 ";ll;"

[2019-02-17 11:45] jerrymani33 opened #68867 "Vertical scrolling affect horizontal"
Issue Type: <b>Bug</b>

scrolling is not good as windows system. when ever i scroll  vertical in vscode using two finger its affect horizontal scroll  alos

VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:19:29.629Z)
OS version: Linux x64 4.18.0-16-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7200U CPU @

[2019-02-17 11:46] vomyrak commented on #68854
Update: Rolling back to version 1.30.2 the problem disappears, but if I try to update again the the same problem is reproduced.

[2019-02-17 13:05] Neohiro79 commented on #5953
Hope you will send me a link to that git if you have something to test. Try to make it simple to configure, it must have a *default.css* - and an option to overwrite those defaults with your own *custom.css*. And it should be choosable if you want to add the custom.css beyond the default.css just for small corrections or if you want to replace the default.css with the custom.css instead.

If you'r

[2019-02-17 13:11] PeterWone commented on #5953
I’m trying to use https://highlightjs.readthedocs.io/en/latest/api.html because it’s the only one I’ve found that operates on an HTML string rather than a DOM but I’m having the devil’s own time using it from Typescript.

This https://www.npmjs.com/package/@types/highlight.js was easy enough to install and VS Code gives me code completion. It all compiles ok but when the extension is loaded it can

[2019-02-17 13:17] Neohiro79 commented on #5953
Sounds like @types is just a package for highlight.js - might be better to include it inside the extenstion itself, since a package manager might not be the best choice for only one "include".

It sayse **This package contains type definitions for highlight.js** - meaning that there is no highlight.js included, hence can't find I would guess.

[2019-02-17 13:19] Neohiro79 commented on #5953
Might be this?

https://www.npmjs.com/package/highlight.js

[2019-02-17 13:19] PeterWone commented on #5953
It’s declared in my dependencies. Tell you what, I’ll create a GitHub repo and push to it and you can grab the whole song and dance from there.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Neohiro79 <notifications@github.com>
Sent: Sunday, February 17, 2019 11:17:58 PM
To: Microsoft/vscode
Cc: Peter Wone; Mention
Subject: Re

[2019-02-17 13:20] PeterWone commented on #5953
Yes that’s the one

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Neohiro79 <notifications@github.com>
Sent: Sunday, February 17, 2019 11:20:10 PM
To: Microsoft/vscode
Cc: Peter Wone; Mention
Subject: Re: [Microsoft/vscode] Support to print the editor contents (#5953)

Might be this?

https://www.npmjs.com/package/highlight.js

[2019-02-17 13:20] Neohiro79 commented on #5953
Sounds good - waiting for the link to inspect ;-)

[2019-02-17 13:25] ddayhtx commented on #3776
multi cursor select is NOT working. Before I wiped the drives and installed OS in both my machines,  the Sublime extension, the ONE thing I want and use the most is no longer working. A month ago, it worked. Now, not on either. I went over the posts above. I am obviously missing something. I'm running Mint 19 Tessa on both machines.

Any thoughts here? I LOVE VSC but without the multi cursor I'm b

[2019-02-17 13:28] Brandon-Gui123 commented on #35711
Ok, so quick update to the previous post:
It seems like you can launch Visual Studio Code with specified flags everytime by using a batch script (.bat).
Now, before I show the code, I would like to say that I have absolutely no experience in batch scripting and the code I made is just based off the documentation. You're welcome to use the code I have below, but **at your own risk**:
`@echo off
ech

[2019-02-17 13:31] dufferzafar commented on #64655
I'm facing this as well, and it is pretty annoying that half of the lines get joined with some bits selected and as you said, trying to press Ctrl + J again results in error: `Overlapping ranges are not allowed.`

The expected behaviour here is just to join all the lines into one (atleast that is what Sublime Text does.)

[2019-02-17 13:37] PeterWone commented on #5953
https://github.com/PeterWone/vsc-print

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Neohiro79 <notifications@github.com>
Sent: Sunday, February 17, 2019 11:21:44 PM
To: Microsoft/vscode
Cc: Peter Wone; Mention
Subject: Re: [Microsoft/vscode] Support to print the editor contents (#5953)

Sounds good - waiting for the link to

[2019-02-17 13:40] dufferzafar commented on #64655
I've tested the join lines implementation in [Zarel/vscode-sublime-commands](https://github.com/Zarel/vscode-sublime-commands) and that seem to work like Sublime.

[code]

[2019-02-17 13:47] usernamehw commented on #68866
/question

[2019-02-17 13:47] #68866 closed

[2019-02-17 13:54] ziaurabdirahman opened #68868 "Path intellisense support for PHP"
- VSCode Version: 1.32.0-insider
- OS Version: Ubuntu 16.04 (32bit)

Steps to Reproduce:

1. path intellisense not working by defalut

Does this issue occur when all extensions are disabled?: Yes

[2019-02-17 14:00] ziaurabdirahman opened #68869 "selecting all <div> in PHP when select a div"
- VSCode Version: 1.32.0-insider
- OS Version: Ubuntu 16.04 (32bit)

Steps to Reproduce:

1. When select  a html <div> it selected all div. it should select only the <div> that i am working.

Does this issue occur when all extensions are disabled?: Yes

[2019-02-17 14:03] Neohiro79 commented on #5953
Is it a working extension already? It does not show up in VSC after copied the whole folder into the VSC extension path. Guess there is a index.js and .vsixmanifest etc. file missing or how am I going to be able to test the functionality?

[2019-02-17 14:04] ziaurabdirahman opened #68870 "Laravel blade support"
1. By default vs-code do not recognize laravel blade file. Please add this feature to vscode and also want syntax highlighting.
2. Also want editor font-size 16 by default.

[2019-02-17 14:10] PeterWone commented on #5953
Run it in VS Code (F5) and it will spawn another copy of VSC with the extension loaded. Open one of your own projects and in the files sidebar right click on a file. It will barf because it can’t load highlight.js but if you edit extension.ts and comment out the imports and the line of code that tries to use highlightjs then it will run. Put a breakpoint on the line where the active editor text is

[2019-02-17 14:16] Neohiro79 commented on #5953
I got the special VSC-load of that folder.
First message inside:
The terminalprocess has beeing terminated with exitcode 1

[2019-02-17 14:55] leandro86 commented on #68787
I also have the same problem: the right CTRL+ALT keys doesn't work for a shortcut. It works if I press the left CTRL+ALT keys.

[2019-02-17 15:05] lipan465 opened #68871 "CentOS7无法打开"
/usr/share/code/code: symbol lookup error: /usr/share/code/code: undefined symbol: gtk_header_bar_get_type

[2019-02-17 15:46] BoxOfCereal opened #68873 "Vscode 2019 Windows Speech Bug"
Using WSR on Windows 10 causes consistent .5-1 second  'hiccups's of unresponsive. What's interesting is that this same issue happens when using recent versions of FireFox except the .5-1 seconds becomes 10-15 seconds.

- VSCode Version: January 2019
- OS Version: Windows 10

Steps to Reproduce:

1. Open Windows Speech Recognition program
2. Click the microphone to turn on WSR
3. Make VScode activ

[2019-02-17 15:54] glen-84 opened #68874 "Wrong stash command being run (message prefixed with "--")"
[code]

Steps to Reproduce:

1. In the SCM view, use the Stash function (Git)
2. Notice in the Output window that the command run is `git stash save -- myMessage` instead of `git stash save myMessage`, which results in a message of `-- myMessage`.

Does this issue occur when all extensions are disabled?: Yes (tested with Insiders)

[2019-02-17 16:29] yarastqt opened #68875 "Missing suggestions for composite objects in typescript"
This trouble found after update typescript in VSCode to 3.x.x version

- VSCode Version: 1.31.1
- OS Version: macOS Mojave 10.14
- Typescript Version: 3.3.3

So, we have some code:
[code]

Steps to Reproduce:

1. Start typing property `view` and get suggestion for autocomplete
2. Start typing property `size` or `theme` and to get nothing

Does this issue occur when all extensions are disabled?: Ye

[2019-02-17 17:30] paustint commented on #68318
@dorian-marchal - is this other issue the same thing happening to you? https://github.com/Microsoft/vscode/issues/67970#issuecomment-463072726

Since 1.31 - I have not been able to confirm if the random and inconsistent explorer focus is a bug or if it is some intended feature.

[2019-02-17 17:39] GabeDeBacker commented on #67760
@jrieken - I see your point about truly supporting this in VSCode as far as all the consumers of the file-system providers.

I would like to clarify that I don't think the scenario is exotic at all. Below is another example of where we would like to use this.

Another scenario that we would like to use this for is code-search. Our repository is so large that code-search is done using Azure and not

[2019-02-17 17:46] LaevusDexter opened #68876 "[Lua] vs code pushs left all "end" blocks"
Issue Type: <b>Bug</b>

Well, that's it.
[code]

Happens since last vc code update.

VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:20:54.427Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4210U CPU @ 1.70GHz (4 x 2394)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: dis

[2019-02-17 18:20] Gooseman commented on #68787
Leandro - not quite the same problem.  I get the same behaviour regardless
of which Ctrl and Alt keys I use.  Also, for combinations that don't result
in accented characters in other applications, I get the configured shortcut
executing in VS Code.  It's only some Ctrl+Alt shortcuts that don't work.

On Sun, Feb 17, 2019 at 2:55 PM Leandro <notifications@github.com> wrote:

[2019-02-17 18:21] fabiospampinato opened #68877 "Improve search export format"
The `Copy All` action in the search pane is awesome, but the used format is not great.

1. Paths are not clickable, so navigating to them is a bit of a nightmare. just prefixing (and escaping, I guess) those paths with `file://` would make them clickable:

<img width="681" alt="screen shot 2019-02-17 at 19 14 40" src="https://user-images.githubusercontent.com/1812093/52917154-4e5c8b00-32e8-11e9-9a

[2019-02-17 18:36] felixfbecker commented on #66369
I think I have the same problem - for some reason, the top stack frame is always greyed out and not focused automatically.

![image](https://user-images.githubusercontent.com/10532611/52917390-20c51100-32eb-11e9-8f3a-30fe4c1ee652.png)

I need to manually select the stack frame. When invoking step over, it loses it again and I need to manually select it again, on every step.

![2019-02-17 19 35 37]

[2019-02-17 18:40] felixfbecker commented on #66369
Setting `"smartStep": false` worked around the issue for me

[2019-02-17 18:54] roblourens commented on #68237
I mean that you could convert the actual encodings of the files. Unfortunately I don't have another solution for this right now.

[2019-02-17 18:56] roblourens commented on #66369
Yes @felixfbecker follow https://github.com/Microsoft/vscode/issues/68127 for that issue.

[2019-02-17 19:00] tboby commented on #63368
I can confirm this happens to me too. I routinely delete a large npm install folder and it hangs for maybe 30 seconds while deleting. It's clearly synchronous as UI elements do not react to hover nor click.

Commit: 1b8e8302e405050205e69b59abb3559592bb9e60
Date: 2019-02-12T02:20:54.427Z
Electron: 3.1.2
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.17763

I have the V

[2019-02-17 19:19] precisonline opened #68879 "Windows 10, multiple monitors, VScode window size"
All I've read says that if you change the size of the vscode window and then close and restart the program, it should reappear with the same size and position that it last had.  It does in fact keep the position, but the window size returns to a default size.  See screencast;

https://www.screencast.com/t/45DLktEY

VSCode 1.31.1
Windows 10 build 1809 (OS Build 17763.292)

[2019-02-17 19:27] SetTrend opened #68880 "Explorer simple navigation should reset filter when focus lost"
Currently, navigating Explorer view in simple mode doesn't clear the navigation filter text when focus is lost (including opening any other panel or deactivating VS Code program window).

I suggest to clear the Explorer view navigation filter in simple mode when Explorer view loses focus.

[2019-02-17 19:35] roblourens commented on #68613
Would this cover your case? https://github.com/Microsoft/vscode/issues/16488 Like if you can have multiple search "tabs" that keep their different filters.

[2019-02-17 19:35] perlun commented on #15211
@shalkam Thanks! Yes, the way I wrote looked kind of insane. =)

[2019-02-17 19:36] mk-pmb commented on #68316
Mine seems a bit moody about when it does or doesn't pick up new files created by "Save as".

[code]

[2019-02-17 19:43] ip commented on #68451
`"smartStep": false` didn't help me

[2019-02-17 19:52] roblourens commented on #68607
Yikes, I guess this is what you see?

![image](https://user-images.githubusercontent.com/323878/52918316-67464b80-32aa-11e9-8e68-6efea30e9984.png)

I think `window.zoomLevel` needs a sensible default?

[2019-02-17 19:53] roblourens commented on #68628
I don't think we can do that in a sensible way, the safest thing to do is to run tests on all PRs.

[2019-02-17 19:53] #68628 closed

[2019-02-17 20:10] PeterWone commented on #5953
I think it would be appropriate to move this discussion to issues on our project's own repo.

[2019-02-17 20:17] roblourens commented on #68535
I don't think this is the same as the other issues. I think there are a couple issues.

One is that because PHP supports short tags `<? ... ?>` you are in the php language mode immediately after typing `<?` and you'll get snippets that start with php. To us it's obvious what you intended but that grammar doesn't know that... I'm not sure what to do about that besides keep two versions of the gramm

[2019-02-17 20:21] dorian-marchal commented on #68318
Yes, it looks like this is what happened to me.

https://github.com/Microsoft/vscode/issues/67970#issue-407186087

I close this issue as it's a duplicate. :+1:

[2019-02-17 20:21] #68318 closed

[2019-02-17 20:27] roblourens commented on #68610
Thought there was an issue to add a button to open the file directly from the replace preview, but I can't find it. You can disable the replace preview, if that helps. `"search.useReplacePreview": false`

[2019-02-17 20:29] roblourens commented on #68775
More details needed

[2019-02-17 20:29] #68775 closed

[2019-02-17 20:30] roblourens commented on #68797
Please see this page on troubleshooting search issues, and let me know if you still have issues: https://github.com/Microsoft/vscode/wiki/Search-Issues

[2019-02-17 20:36] roblourens commented on #68802
https://github.com/Microsoft/vscode/issues/10633

[2019-02-17 20:36] #68802 closed

[2019-02-17 20:37] jomardyan commented on #49846
+Vote

[2019-02-17 20:37] roblourens commented on #68801
https://github.com/Microsoft/vscode/issues/12066

[2019-02-17 20:37] #68801 closed

[2019-02-17 20:40] dorian-marchal commented on #67970
When this happens, using View > Show explorer (`workbench.view.explorer`, bound to <kbd>Ctrl + shift + E</kbd>) doesn't focus the current file, either:

![peek 2019-02-17 21-34](https://user-images.githubusercontent.com/6225979/52918866-81107e80-32fc-11e9-8038-e2290a7e7231.gif)

[2019-02-17 20:41] roblourens commented on #68877
I think https://github.com/Microsoft/vscode/issues/23931 is what you really want 😁

What if I included a grammar that you can enable manually? e.g.

- Copy search results
- Paste into editor
- Run "Change Language Mode" or click on "Plain Text" in the status bar
- Select "Search results"
- See syntax-highlighted results with clickable links/ranges

Would that be useful and worth the effort of chan

[2019-02-17 20:59] fabiospampinato commented on #68877
Maybe 🤔 If those results would be searchable then yes, but if it would be implemented in a way that basically only enables performing multiple searches and retaining the results then no, because I wouldn't be able to perform a search inside the results.

Yes, it would be worth the effort for me. But I would probably take the opposite route: rather than letting me copy the results and then manually

[2019-02-17 21:10] cppcraze commented on #68797
Thanks Rob. It is due to the expected file is part of gitignore. I feel it is better to disable using gitignore as default setting. Users will only think the button in the lower right corner is related to Exclude settings since it is next to "Exclude" textbox. This UI design is not user friendly. As long as "using ignore" is more visible, user will know give it a try.

![image](https://user-images

[2019-02-17 21:16] leox31 commented on #68775
I put forward a feature request if vscode  developers will be willing to add RMarkdown for compiling R scripts to Word, HTML and PDF using the existing pandoc convert package for Markdown files.  Having Rmarkdown in vscode would be very attractive extension to the many of 200,000 + R users. For SQL server, currently there is no table listing of MSSQL schemas. This feature is currently only availab

[2019-02-17 21:24] jamesstidard commented on #67693
I believe I'm also seeing the same thing here. I've seen it for running debug configurations that try and use the integrated terminal and for installing linting packages from VCS popup prompts.

Using an external terminal seems to get around the issue for me currently for debugging.

[Here's a youtube video](https://youtu.be/yz7uwgwxqZA) where both the mypy linter install gets swallowed and the de

[2019-02-17 21:32] itpropro commented on #4490
Would be great if you could add this to one of the next sprints. That would be extremely helpful!

[2019-02-17 22:15] joernroeder commented on #56651
@joaomoreno https://github.com/electron/electron/issues/14470#issuecomment-464517119

[2019-02-17 22:35] roblourens opened #68881 "Filtering breadcrumbs to no results shows floating filter popup"
- Open breadcrumbs picker
- Enable "filter on type"
- Type a query with no results

![image](https://user-images.githubusercontent.com/323878/52920444-2a398380-32c1-11e9-99a6-1f06e76eacd6.png)

The breadcrumbs popup disappears and you see "no elements found" and the filter on type popup floating over the editor

[2019-02-17 22:37] roblourens opened #68882 ""Filter" not persisted in breadcrumbs"
- Open breadcrumbs
- Type a search query, enable "Filter on type"
- Close breadcrumbs
- Open again and type something
- "Filter on type" mode is disabled, but it should remember my preference like other trees do.

[2019-02-17 22:50] roblourens opened #68883 "Search view collapses whitespace inside match"
![image](https://user-images.githubusercontent.com/323878/52920610-56560400-32c3-11e9-8511-9583a75321a6.png)

[2019-02-17 22:51] usernamehw opened #68884 "Is it possible to use `$ref` & `definitions` in extension configuration contribution?"
In `package.json`
[code]
With relative path to file or `definitions` in `package.json`.

[2019-02-17 23:16] roblourens commented on #68877
This could be kind of cool. What do you think of this? The command could have a keyboard shortcut.

![feb-17-2019 15-15-54](https://user-images.githubusercontent.com/323878/52920966-f9f4e380-32c6-11e9-818e-a84aeb00b849.gif)

[2019-02-17 23:17] roblourens commented on #68775
An extension could do this.

[2019-02-17 23:21] leox31 commented on #68775
It will be fantastic for vscode users to have  such extenstions.

Sent from Mail for Windows 10

From: Rob Lourens
Sent: 17 February 2019 23:18
To: Microsoft/vscode
Cc: leox31; Author
Subject: Re: [Microsoft/vscode] Compiling Rmarkdown files and tables listingin a side panel for sql server databases (#68775)

An extension could do this.
—
You are receiving this because you authored the thread.
Rep

[2019-02-17 23:28] shanp77 opened #68885 "whole system freezes after running an infinite loop in Ruby on VS Code, using Ubuntu 18.04"
After accidentally creating an endless loop in Ruby in VS Code(version 1.30.2) and running it, I have this issue where my whole Ubuntu system will freeze up, forcing me to restart computer.  After running the loop, I will kill the terminal, and a few seconds to a few minutes later, the system will very often hang up to the point of not being able to do anything, not even moving the cursor works.

[2019-02-17 23:32] fabiospampinato commented on #68877
@roblourens that was fast 😄 I like it a lot! I see ranges are underlined, so are they clickable too? If they are maybe you might want to do the same with the file paths and remove the `file://` prefix 🤔

Other than that maybe a few improvements could be:

- Add a proper icon for the "Search Results" language.
- Use a more useful title for the editor, like `Search Results` or `Search Results: {quer

[2019-02-17 23:48] ShonFrazier commented on #61207
I see something similar - my integrated terminal opens to / on macOS. I've made no configuration changes to Terminal > Integrated: Cwd

[2019-02-18 00:13] atian25 commented on #38364
@Marcholio  1.31.0 work fine.

[2019-02-18 00:13] #38364 closed

[2019-02-18 00:55] beaugunderson opened #68886 "Explorer file tree filtering does not show files named index.js"
Issue Type: <b>Bug</b>

Focusing the explorer file tree, then typing `/.js` and ensuring that the mode is "filter" (as opposed to highlight) shows me all of my JavaScript files, except the ones named `index.js`.

VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:16:38.656Z)
OS version: Darwin x64 18.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|--

[2019-02-18 00:59] beaugunderson commented on #68886
Ah, not a bug, just a misunderstanding on my part that filtering would show files in collapsed folders (I managed to find the files I expected by expanding every folder). If that's the correct behavior then this isn't a bug, but I'll let a maintainer decide whether it is or not.

[2019-02-18 01:13] Corps-Yan commented on #10026
Update VSCODE to lateset version.
It has resolved.

[2019-02-18 01:24] johnspurlock commented on #54192
`.collapse` was never added on the view, so it's currently impossible to collapse a single item!  `.reveal({expand:false})` does not work either.

For example, try to implement toggle-expansion-on-select behavior to mimic the built-in explorer.  Can track the real state using `onDid(Expand|Collapse)Element`, but can only set a new state of expanded, using `.reveal({expand:true})` - impossible to s

[2019-02-18 01:30] GeekForged opened #68887 "Markdown preview does not respect set font size"
Issue Type: <b>Bug</b>

Steps to reproduce

* Set a font size such as 20 in your settings.
* Open and edit a new markdown file.
* Open a markdown preview of the file you just created.

The font size appears to be at the default of 14.

VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:20:54.427Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System I

[2019-02-18 02:05] clintnetwork opened #68888 "Ass the possibility to hide some folders (bin etc)"
Hi,

Please add the possibility to hide some folders like .vscode or bin, obj etc
![image](https://user-images.githubusercontent.com/5221349/52923815-e62e9900-3329-11e9-8f3c-6a6753641c25.png)

(Opened project in the screen https://github.com/Type-DB/Core)

Thank you

[2019-02-18 02:07] clintnetwork commented on #68888
http://donovanbrown.com/post/Hide-folders-in-Visual-Studio-Code-Explorer

[2019-02-18 02:07] #68888 closed

[2019-02-18 02:08] nadeemkhedr opened #68889 "Sidebar explorer folder name update from uppercase to a generic name"
## Proposal:

changing the structure of the headers in the sidebar by changing the existing `FOLDER_NAME` header to a generic name like:
- Folders
- Project

## Reasoning:

I understand the folder name is uppercase for consistency but I think it is confusing and different from the rest of the headers

Rest of the headers are vscode generated but this one is referencing project's information

![ima

[2019-02-18 02:38] aNickzz commented on #13960
There is a difference between discussion and constant complaining. If you want to gauge the level of interest in an issue, look at the number of 👍 votes. I _was_ subscribed to this issue to get updates about _the issue_ however, the only notifications I get are about people complaining "me too". This kind of complaining is not a good indicator of public interest because of the number of comments !

[2019-02-18 03:35] tdwright commented on #68861
I also have this issue. Seems to have started with v1.31.1.

Possibly related to the new reflow behaviour?

[2019-02-18 03:37] robmandoe opened #68890 "VSCode crashes regularly since update to 1.31.1"
Issue Type: <b>Bug</b>

Reproducing can only be done by using it for a few hours with multiple terminals open while editing and running an Angular app. After a while the terminal freezes up and usually goes blank, and then VSCode crashes. Happens continuously since the last update.

VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:20:54.427Z)
OS version: Window

[2019-02-18 04:25] yuanda26 commented on #68751
@kieferrm thanks for the help, I need to override the default shortcut, even nothing is change or overridden by the extentions, but it works now! Thanks.

[2019-02-18 04:25] #68751 closed

[2019-02-18 04:59] English3000 opened #68891 "After upgrade to 1.31, HTML features no longer work"
Issue Type: <b>Bug</b>

For example, `p` doesn't prompt IntelliSense for a paragraph tag anymore.

Additionally, pressing enter between two tags doesn't create an extra newline with a tab, and I can't comment out a line with `ctrl + /`

VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:16:38.656Z)
OS version: Darwin x64 18.2.0

<details>
<summary>System Info</su

[2019-02-18 05:21] ravi005e opened #68892 "terminal prompt doesnt work under windows"
Version: 1.31.1 (user setup)
Commit: 1b8e8302e405050205e69b59abb3559592bb9e60
Date: 2019-02-12T02:20:54.427Z
Electron: 3.1.2
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.17763

launch vscodde on windows
click on terminal tab

you will see prompt is not there to typein

[2019-02-18 05:27] taufiqshamad opened #68893 "January Update : Color error or different or changed"
Issue Type: <b>Bug</b>

I don't know why, but after upgrading to the latest version of visual studio code, my code window has changed it's color look, and i think it is a color compression or somewhat that the browser engine does and it looks bad, it breaks my color scheme and changed the color of image preview

VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:

[2019-02-18 05:36] iansan5653 opened #68894 "git.inputValidationSubjectLength should default to 50"
The widely accepted standard for Git commits is the 50/75 rule, in which the subject line is 50 characters, followed by a blank line, followed by 75 character or less lines. VSCode is great at handling this with its warning about line limits in the commit message box, but the `git.inputValidationSubjectLength` defaults to inheriting from `git.inputValidationLength`, which doesn't make much sense.

[2019-02-18 06:02] Frankzhaopku commented on #68892
Quite curious why @vscodebot assigned this issue to @Tyriar automatically.

[2019-02-18 06:16] blurHY opened #68895 "Always Consuming 20% of CPU on Windows"
- VSCode Version: 1.32.0
- OS Version: win10

Steps to Reproduce:

1. Install some extensions
2. Open vscode

Does this issue occur when all extensions are disabled?: No

![image](https://user-images.githubusercontent.com/33171396/52931429-44d63000-3387-11e9-82ab-1fd65083aed9.png)

![image](https://user-images.githubusercontent.com/33171396/52931569-d5ad0b80-3387-11e9-9f55-860f5bdf3a9d.png)

[2019-02-18 06:17] brunoscopelliti opened #68896 "initializing js/ts language features never completes"
- VSCode Version: Versione 1.31.1 (1.31.1) (1b8e8302e405050205e69b59abb3559592bb9e60)
- OS Version: Mac OS Mojave

Steps to Reproduce:

1. Open vscode.
2. Start working on a JavaScript project.
3. Keep working for at least 10 minutes, doing normal work, that is:
write code, open multiple files, switching between files, write code...
and then, apparently without any particular reason the error occu

[2019-02-18 06:19] blurHY opened #68897 "Information for each extension in process explorer of vscode"
Some extension may cause high CPU usage. But process explore shows:

![image](https://user-images.githubusercontent.com/33171396/52931658-1f95f180-3388-11e9-93a5-cfa12d5fe0df.png)

It's unable to know which extension caused this

[2019-02-18 06:19] qlqllu commented on #65102
I have the similar issue, and I narrow down the issue to: only the `export function fn1()` can't find its references, the functions in a class can find their references.

BTW, `rename symbol` on the function that can't find its references will report an error, but I can't find a way to copy the error stack.

[2019-02-18 06:35] qlqllu commented on #65102
The `find all references` starts working after some operations (I don't which operation make this function work). I am sure waiting for sometime can't make this work.

[2019-02-18 06:40] yume-chan commented on #68790
Similar to #52638 where @isidorn, one of the developers, says it's [by design](https://github.com/Microsoft/vscode/issues/52638#issuecomment-399409985):

[2019-02-18 06:43] Oceanedge opened #68937 "Cannot close editor with too long file name"
I was using vscode 1.31.1 on Ubuntu 18.04.2 LTS. While I was testing my script which output a long string, for unknown reason, Ubuntu launch code to open that long string as a file. When I try to close that editor on vscode, it shows a dialog with error: A system error occurred (ENAMETOOLONG: name too long, open '/home/user/LS0tLS1CRUdJTiBQU...  and refused to close that dialog.
After I restart vs

[2019-02-18 06:50] yume-chan commented on #68747
Possible duplicate of #68597?

[2019-02-18 06:51] #68758 closed

[2019-02-18 06:51] bpasero commented on #68825
@Rakleed how does it look like?

[2019-02-18 06:55] bpasero commented on #68839
We are building exploration builds that use a much newer version of our UI framework (Electron version 4.0.x). I wonder if this issue reproduces with one of these builds, could you try? Download:
* macOS: [Download](https://az764295.vo.msecnd.net/exploration/37818ac3597b4afda264b05226b0b77fb8e85f41/VSCode-darwin-exploration.zip)
* Linux: [Download](https://az764295.vo.msecnd.net/exploration/37818a

[2019-02-18 06:55] yume-chan commented on #22269
Relates to #68821

The behavior is changed in release 1.31, scrolling no longer cancels file creation, but the content of input box is lost when scrolling.

[2019-02-18 06:57] bpasero commented on #68854
We are building exploration builds that use a much newer version of our UI framework (Electron version 4.0.x). I wonder if this issue reproduces with one of these builds, could you try? Download:
* macOS: [Download](https://az764295.vo.msecnd.net/exploration/37818ac3597b4afda264b05226b0b77fb8e85f41/VSCode-darwin-exploration.zip)
* Linux: [Download](https://az764295.vo.msecnd.net/exploration/37818a

[2019-02-18 06:57] #68859 closed

[2019-02-18 06:57] bpasero commented on #68860
We are building exploration builds that use a much newer version of our UI framework (Electron version 4.0.x). I wonder if this issue reproduces with one of these builds, could you try? Download:
* macOS: [Download](https://az764295.vo.msecnd.net/exploration/37818ac3597b4afda264b05226b0b77fb8e85f41/VSCode-darwin-exploration.zip)
* Linux: [Download](https://az764295.vo.msecnd.net/exploration/37818a

[2019-02-18 06:58] #68868 closed

[2019-02-18 06:58] #68870 closed

[2019-02-18 07:00] nchanged opened #68898 "File -> "recent projects" items become available only when VSCode is loaded completely"
Issue Type: <b>Bug</b>

With the new version clicking on "File" -> "recent projects" items become available only when VSCode is loaded completely.

I used to click VSCode icon, and then instantly select a project I need. Now I need to do it twice.  Or wait for 3~5 seconds before the native menu is loaded. Has something changed that could justify this  behavior? Am I the only one who is annoyed by

[2019-02-18 07:00] bpasero commented on #68893
We are building exploration builds that use a much newer version of our UI framework (Electron version 4.0.x). I wonder if this issue reproduces with one of these builds, could you try? Download:
* macOS: [Download](https://az764295.vo.msecnd.net/exploration/37818ac3597b4afda264b05226b0b77fb8e85f41/VSCode-darwin-exploration.zip)
* Linux: [Download](https://az764295.vo.msecnd.net/exploration/37818a

[2019-02-18 07:00] bpasero commented on #68893
Make sure to let it update once to latest.

[2019-02-18 07:01] bpasero commented on #68895
Can you follow this wiki and post the results back here to understand more about why performance is so bad for you: https://github.com/Microsoft/vscode/wiki/Performance-Issues

Thanks!

[2019-02-18 07:02] yume-chan commented on #68892
@Frankzhaopku because @Tyriar is the main maintainer of xterm.js which powers the integrated terminal in Code.

[2019-02-18 07:03] bpasero commented on #68879
@precisonline does it reproduce when you configure `"window.titleBarStyle": "native"` ?

[2019-02-18 07:04] KaoImin opened #68899 "Git: Highlight of changed place in working tree does not work"
Issue Type: <b>Bug</b>

1. click source control: git
2. select a change
3. There is no highlight of change in working tree

VS Code version: Code - Insiders 1.32.0-insider (4e68ba25fbc752e3d7da488b8d3db374029577d6, 2019-02-18T06:15:59.901Z)
OS version: Darwin x64 18.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz (8 x 2200)|
|GP

[2019-02-18 07:08] bpasero commented on #65088
That is https://github.com/Microsoft/vscode/issues/67534

[2019-02-18 07:10] blurHY commented on #68895
[CPU-20190218T070742.368Z.cpuprofile.txt](https://github.com/Microsoft/vscode/files/2874371/CPU-20190218T070742.368Z.cpuprofile.txt)

[2019-02-18 07:12] blurHY commented on #68897
#68895

[2019-02-18 07:16] isidorn commented on #67770
Fancy!

[2019-02-18 07:16] Rakleed commented on #68825
@bpasero I attached a screenshot in the first message. Or something else you want?

[2019-02-18 07:22] linpengcheng opened #68900 "Markdown Literary Programming that don't break the syntax of any programming language"
Markdown Literary Programming that don't break the syntax of any programming language

from:

[Markdown Literary Programming that don't break the syntax of any programming language](https://github.com/linpengcheng/PurefunctionPipelineDataflow/blob/master/doc/markdown_literary_programming.md)

[2019-02-18 07:27] isidorn commented on #67897
We do quite some workarounds in order to get inteli-sense to work in the breakpoint widget.
Due to that there are some limiations including this one.

[2019-02-18 07:28] yume-chan commented on #68850
*I don't know the codebase well either, but I want to help as much as I can*

A quick search for "workbench.action.toggleScreencastMode" leads to

https://github.com/Microsoft/vscode/blob/df619d25b2d9d04d6b341d15570ee2e2d2e7ad50/src/vs/workbench/electron-browser/actions/developerActions.ts#L111-L113

And the related codes are:

https://github.com/Microsoft/vscode/blob/df619d25b2d9d04d6b341d15570ee

[2019-02-18 07:29] #68373 closed

[2019-02-18 07:29] #67934 closed

[2019-02-18 07:29] #68093 closed

[2019-02-18 07:29] #68064 closed

[2019-02-18 07:29] #68073 closed

[2019-02-18 07:29] #68057 closed

[2019-02-18 07:30] #68294 closed

[2019-02-18 07:30] #68267 closed

[2019-02-18 07:35] #68298 closed

[2019-02-18 07:37] #66201 closed

[2019-02-18 07:37] Morgy93 commented on #68057
I was just about to post a comment to this and then the vscodebot kicked in. =D

Well the author of WinSCP can't reproduce this issue either.

Seems I'm alone with this then. =(

https://winscp.net/forum/viewtopic.php?t=27379

[2019-02-18 07:39] isidorn commented on #67893
This is already possible, simply configure
`"list.hoverBackground": "#ff0000"`

[2019-02-18 07:39] #67893 closed

[2019-02-18 07:42] KexyBiscuit commented on #68899
All Viewing diffs features are gone.

[2019-02-18 07:46] weinand commented on #68451
What debugger are you using?

[2019-02-18 07:53] Frankzhaopku commented on #68892
But where does this configured? Or the configure is not open sourced?

[2019-02-18 07:54] Morgy93 commented on #68057
I have one last idea to this. (Except asking the node team for the dll stuff)
Recently I turned on the Windows Defender Ransomware Protection.
Maybe that one broke the installation.

I'll try a fresh installation without that protection.

[2019-02-18 07:56] TaymoorAbdeen opened #68901 "RTL when arabic text"
Issue Type: <b>Feature Request</b>

it's very imprtant if is here RTL when arabic text

VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:20:54.427Z)
OS version: Windows_NT x64 10.0.17763

[2019-02-18 08:00] romanshutsman commented on #68781
yes, through the integrated terminal
1)open anyway Angular/React app in VSCode, and in integrated terminal run `npm start` ![image](https://user-images.githubusercontent.com/29098174/52935584-7688d000-3362-11e9-965c-39fe17b9568f.png)
2) then app is running
![image](https://user-images.githubusercontent.com/29098174/52935733-e4cd9280-3362-11e9-8e61-53740f3eb446.png)
and is opened in browser:
![imag

[2019-02-18 08:02] fredrik-lundin commented on #68597
I'm also experiencing problems with auto reveal after the latest update (1.31.1).

I frequently use `ctrl+shift+e` to go from an active editor window to the corresponding file in the file explorer. After the latest update, `ctrl+shift+e` won't take me to the active file, but to the latest selected file in the file explorer instead.

Things I have tried but with no success:
* Explicitly set `explor

[2019-02-18 08:03] bpasero commented on #68720
@johnspurlock can you give an example where this does not work?

[2019-02-18 08:04] nchanged opened #68902 "Created folder won't appear until the tree view is manually reloaded"
Issue Type: <b>Bug</b>

Created folder won't appear until the tree view is manually reloaded. It happens at random, and I can't give you the exact steps to reproduce it.

Looks like `1.31.1` tree view is broken, there are so many issues with it.

VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:16:38.656Z)
OS version: Darwin x64 18.2.0

<details>
<summary>Syste

[2019-02-18 08:04] bpasero commented on #28316
Please do.

[2019-02-18 08:04] yume-chan commented on #68892
@Frankzhaopku configuration is in this repository, but the bot itself is not open sourced
 https://github.com/Microsoft/vscode/blob/8755bcf0d350dc78f90ae3f3ae7a5470cfa3d9ef/.github/classifier.yml#L84

[2019-02-18 08:07] bpasero commented on #68217
We are building exploration builds that use a much newer version of our UI framework (Electron version 4.0.x). I wonder if this issue reproduces with one of these builds, could you try? Download:
* macOS: [Download](https://az764295.vo.msecnd.net/exploration/37818ac3597b4afda264b05226b0b77fb8e85f41/VSCode-darwin-exploration.zip)
* Linux: [Download](https://az764295.vo.msecnd.net/exploration/37818a

[2019-02-18 08:07] aliev opened #68903 "Ability to use editor instead command palette to write commit messages"
I write long commits (description) and it would be very convenient to be able to use a text editor of vscode (because it's supports commits messages editing and it works great) instead of the command palette when I run the Git Commit All command (Amend).

Thanks!

[2019-02-18 08:08] #68607 closed

[2019-02-18 08:08] bpasero commented on #68895
@blurHY sorry I actually meant to say this:

To find out more about this issue, we need to get at the process that is causing the high load. VS Code creates multiple processes, each with different tasks.

When Code is consuming lots of CPU, please run "`code --status`" from the command line (or "`code-insiders --status`" if you are using VS Code Insiders edition).

Please attach the output of this

[2019-02-18 08:09] bpasero commented on #68825
@Rakleed thanks, yeah that is weird. Does a uninstall and reinstall help?

[2019-02-18 08:09] giorgio79 opened #68904 "Opening multiple files via WinSCP and saving them in VS Code only works for the first file"
- VSCode Version: latest
- OS Version: Win 10

Steps to Reproduce:

1. Open remote files via WinSCP
2. Try to save them
3. Only the first gets saved

Does this issue occur when all extensions are disabled?: Yes

[2019-02-18 08:10] docbiz commented on #68790
Thanks for drawing my attention to the prior issue. It seems to violate the principle of least astonishment for collapsing all folders to open a file, though...

[2019-02-18 08:10] Frankzhaopku commented on #68892
@yume-chan got it, thanks very much.

[2019-02-18 08:13] blurHY commented on #68895
[code]

[2019-02-18 08:18] alecgibson commented on #68217
@bpasero I've tried the macOS app you've provided, but this seems to act even worse:

- "British - PC": duplicates the current tab into a split pane
- "British": does nothing
- "US": does nothing

[2019-02-18 08:19] Rakleed commented on #68825
@bpasero no, it doesn't.

[2019-02-18 08:24] Nabav commented on #68225
I use the VSCode for Latex with the help of the extension Latex Workshop. Editing is in tabs in group 1 and PDF preview tab is in group 2.
As soon as the focus is on the PDF preview tab, the normal key bindings are deactivated. For example, I switch from editor group 1 to 2 with Ctrl+2 and navigate through the PDF document. However, I cannot return to editor group 1 by Ctrl+1. I think this happene

[2019-02-18 08:26] bruun commented on #68217
I tried it with Norwegian keyboard layout as reported earlier, same issue in the exploration build.

[2019-02-18 08:26] AlexTemina commented on #68839
I have the same issue and I can confirm it does not happen with the exploration build. (Left is exploration build, right is normal version)
![image](https://user-images.githubusercontent.com/14157093/52937372-3ffd8600-335f-11e9-83f8-73d5d1d9ac8c.png)

[2019-02-18 08:31] viradhamMS commented on #15756
@beriberikix - You can file issues here itself, we work very closely with VSCode group and it will reach us pretty quickly (or) feel free to directly post to vsmarketplace at microsoft dot com

[2019-02-18 08:36] developers-youcong commented on #68500
example:
<iframe src="index.html" width="300" height="300"/>

That's what I want to load

[2019-02-18 08:39] isidorn commented on #68011
I believe this is coming from the node extension since it is generating a launch.json on the fly.
It should take into account the MR workspace scnearion.
Forwarding to @weinand

[2019-02-18 08:42] AlexTemina commented on #68839
I can also confirm that it works properly on the insiders version.

[2019-02-18 08:43] #68014 closed

[2019-02-18 08:47] isidorn commented on #68022
We do not have a command for this.
We need to add a new workbench global command for this. Adding to backlog until more users want this.
PR adding this also welcome

Code pointer https://github.com/Microsoft/vscode/blob/34cfe460e781a72cb488cd80150d82618b565211/src/vs/workbench/contrib/debug/electron-browser/repl.ts#L855

[2019-02-18 08:50] yutent commented on #68865
same bug for me.
vsc: 1.31.1
os: macos 10.14.3

[2019-02-18 08:55] isidorn commented on #68100
@tinemlakar we already have a hardcoded limit at 10000 lines.
However we shippped some fixes in this area. Can you still reproduce this with the latest vscode insiders?
https://code.visualstudio.com/insiders/

[2019-02-18 08:59] odelvalle opened #68905 "Find in folder"
Issue Type: <b>Bug</b>

Find in folder fail to detect "files to include"

Result in "files to include" using context menu from a workspace subfolder (api-v2 is a root folder)
[code]

VS Code version: Code - Insiders 1.32.0-insider (4e68ba25fbc752e3d7da488b8d3db374029577d6, 2019-02-18T06:18:01.607Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|-

[2019-02-18 08:59] cf2697538285 opened #68906 "Update failed"
- VSCode Version:1.30.2
- OS Version: windows 10 1809

Steps to Reproduce:

1. When updating VS Code
2.
![snipaste_2019-02-18_17-02-02](https://user-images.githubusercontent.com/20058889/52939412-1401f500-339f-11e9-95c2-6bf6340398b1.png)

Does this issue occur when all extensions are disabled?: Yes

[2019-02-18 09:01] octref opened #68907 "MarkdownString.appendMarkdown ignores `\n`"
Version: 1.32.0-insider
Commit: 4e68ba25fbc752e3d7da488b8d3db374029577d6
Date: 2019-02-18T06:15:59.901Z
Electron: 3.1.3
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Darwin x64 17.7.0

Have the following extension:

[code]

I would expect "hello world" to show up in two different lines:

![image](https://user-images.githubusercontent.com/4033249/52939306-a7dcae00-3318-11e9-995e-99683654

[2019-02-18 09:04] octref commented on #68907
My bad, I should have used double space before `\n` so it's a "line break" according to markdown...

[2019-02-18 09:04] #68907 closed

[2019-02-18 09:05] cf2697538285 commented on #68906
![Uploading Snipaste_2019-02-18_17-02-02.png…]()

[2019-02-18 09:08] bpasero commented on #68468
@saqadri @GabeDeBacker how do I find your extension on the marketplace?

@sandy081 when installing extensions, are we lowercasing the publisher and extension name on disk? Or do we preserve the exact casing?

[2019-02-18 09:14] mikkancso commented on #35901
This did not solve the issue for me. I'm also using Fedora 29.
I used to use the zoomlevel = 0.001 workaround, but that does not work either anymore...

[2019-02-18 09:18] alexr00 commented on #68644
This issue was moved to atom/language-php#355

[2019-02-18 09:18] #68644 closed

[2019-02-18 09:21] zaro commented on #35901
@mikkancso
What did the trick for me on Fedora 29 was to set the font family to :

    "terminal.integrated.fontFamily": "Liberation Mono"

[2019-02-18 09:22] isidorn commented on #65324
Thanks for repro steps, reopening and assinging to february.

[2019-02-18 09:28] alexr00 commented on #68784
We're going to try moving to a new C grammar soon. Once the move is done I'll see if this still reproduces.

[2019-02-18 09:31] alexr00 commented on #68812
I think we should be able to normalize the paths for `"tsconfig"` and `"cwd"`. It won't solve everything, but it will help.

[2019-02-18 09:32] isidorn commented on #67156
@Neurrone thank you also from me for nicely testing and providing great suggestions.
Regarding "Files Explorer. Use the navigation keys to navigate." What would you prefer, simply "Files Explorer"?

Also in the future when filling any issues to vscode feel free to ping me directly on them.

[2019-02-18 09:32] isidorn commented on #68351
@iciclesoft Can you reproduce this with latest vscode insiders?
https://code.visualstudio.com/insiders/

[2019-02-18 09:37] isidorn commented on #68210
I think we should allow. This would put the root at the end.
However when I now drop it to the empty space the order is not changed, it is a no-op. Assigning to february to investigate

[2019-02-18 09:38] dbaeumer commented on #67802
@kkabinuevo I will close the issue since IMO there is no issue with VS Code itself. Please ping and provide steps on how to reproduce if you disagree.

[2019-02-18 09:38] #67802 closed

[2019-02-18 09:39] isidorn commented on #68227
I can not reproduce this.
Can you reproduce with vscode insiders https://code.visualstudio.com/insiders/
If yes can you please share a gif/video showing this behavior

[2019-02-18 09:39] hollyph opened #68908 "how to open new teminal?"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/visual-studio-code.

[2019-02-18 09:42] hollyph commented on #68908
test

[2019-02-18 09:44] #68742 closed

[2019-02-18 09:47] alexr00 commented on #68810
This issue was moved to demyte/language-cshtml#27

[2019-02-18 09:47] #68810 closed

[2019-02-18 09:48] isidorn commented on #68285
Dup of make the open editors context menu contributable

[2019-02-18 09:48] #68285 closed

[2019-02-18 09:48] simongcc commented on #55226
I have the same issue with the version 1.3.1 Mac OS X which I firstly used.
The Code Collapse Icon does not work but shortcut is working well such as
 <kbd>⌘ Command</kbd> <kbd>⌥ Option</kbd> <kbd>[</kbd> to collapse or <kbd>⌘ Command</kbd> <kbd>⌥ Option</kbd> <kbd>]</kbd> to expand.

[2019-02-18 09:49] dbaeumer commented on #68350
I tried to reproduce this with updating to 1.31.1 but was not able to do so. @L0g4n I understand you problem as follows:

- after an update to 1.31.0 your display language was English

Is this still the case for you?

[2019-02-18 09:50] pmkary opened #68909 "Terminal Line-height problems (like #36599 & #13230) are occurring again."
- VSCode Version: 1.31.1
- OS Version: OS X 12.2

Thanks a lot for your awesome job as always.

Some special characters like &#x2724; are not rendered with the right line height within the new release

<img width="399" alt="screen shot 1397-11-29 at 1 14 40 pm" src="https://user-images.githubusercontent.com/2157285/52942160-aeead700-337f-11e9-8eff-e952f6cf75d2.png">

And also the cursor on active

[2019-02-18 09:57] mebibou commented on #68227
This does not happen anymore with version `1.31.1`, so I guess it was patched up. Thanks

[2019-02-18 09:57] #68227 closed

[2019-02-18 09:57] alexr00 commented on #68869
@ziaurabdirahman how are you selecting the div? Are you using the smart select feature?

[2019-02-18 10:01] sandy081 commented on #68605
@bpasero I think this behaviour was introduced by you. Was there any reason behind this?

[2019-02-18 10:02] sandy081 commented on #68528
I would doubt so. Can you please try without `--force` and see if it fails?

[2019-02-18 10:10] dbaeumer commented on #68393
@alexandrudima is there anything I need to catch up with?

[2019-02-18 10:13] sandy081 commented on #68634
@Onion-Shen May I know how do you installed React Native Tools extension that ends up installing Node Debug again?

[2019-02-18 10:13] isidorn commented on #68201
@eamodio the formatters should be applied everywhere in the UX. If not we need to adopt it in the missing places. @bpasero for using the label service in the tabs tooltips.
@eamodio are there other places where the formatting is not respected?

workspaceSuffix should be visible in the explorer title area for example. Do you see it there?
Stripping the leading `/` from the ${path} is currently not

[2019-02-18 10:15] sanket-bhalerao commented on #68896
for me the typescript intellisense is not working.
also the tslint save on fix is not taking any effect. issue started to appear after today's update (for me its insiders.)

[2019-02-18 10:15] dbaeumer commented on #68445
@danyeh assigning to you.

[2019-02-18 10:16] cblackuk opened #68910 "PowerShell syntax highlighting issues for dot notation."
- VSCode Version: >1.27.2
- OS Version: Win10, 2016, 2019 - does not matter

Steps to Reproduce:

On VSC with no extensions 1.27.2
![image](https://user-images.githubusercontent.com/28607803/52943793-d3d25080-3365-11e9-99cb-37f93e2398bd.png)

On VSC with no extensions >1.27.2
![image](https://user-images.githubusercontent.com/28607803/52943898-0e3bed80-3366-11e9-8951-157a930b5c1a.png)

The code af

[2019-02-18 10:16] svipben commented on #68557
@joaomoreno Hi, since you're back, maybe you can give your opinion on this? I can definitely create a PR.

[2019-02-18 10:16] sanket-bhalerao commented on #68891
intellisense is also failing for typescript as well.

[2019-02-18 10:20] sandy081 commented on #18386
I understand that having multiple formatters is driving the black list use case but since that issue is being solved separately in a different way, I would wait for the real time scenario for the black list feature instead of guessing someone might need this feature.

I would definitely see the necessity of Project specific extensions (white list).

[2019-02-18 10:23] sandy081 commented on #41882
@jrieken

yes. I can add that ability and let you know.

[2019-02-18 10:23] joaomoreno commented on #67576
Raised to 40

[2019-02-18 10:25] joaomoreno commented on #55732
What does that mean? When running the `Create Branch...` command, that branch will be checked out.

[2019-02-18 10:25] isidorn commented on #68394
Will be fixed as part of https://github.com/Microsoft/vscode/issues/67970

[2019-02-18 10:25] sandy081 commented on #48754
No tree features planned in Feb. Would be jumping back to them in March for sure.

[2019-02-18 10:25] #68394 closed

[2019-02-18 10:27] kevinam99 commented on #68908
For Linux and Windows, hold the shortcut ```ctrl+shift+~```

For Mac, ```command+shift+~```

[2019-02-18 10:29] sandy081 commented on #68727
This is from c++ extension, please file an issue here - https://github.com/Microsoft/vscode-cpptools/issues

[2019-02-18 10:29] #68727 closed

[2019-02-18 10:29] isidorn commented on #68616
Note to self: make sure to reveal the stack frame in tree when being selected.

[2019-02-18 10:30] the-geassed opened #68911 "Auto-indent for Lua5.3 Is Driving Me Mad"
Issue Type: <b>Bug</b>

Try using "if" statement inside a function, the "end" on a new line will automatically go to the head of the line ( without any indents!).
The result is the same even after I uninstall every Lua-related extention.
Never fussed about the detail settings for VSCode myself,  it took me some time before I could find the "editor.autoIndent" setting and disable the feature entire

[2019-02-18 10:33] sandy081 commented on #68699
@selfrefactor May I know which extension are you trying to disable?

[2019-02-18 10:34] hemlok commented on #55732
Sorry @joaomoreno for not being very clear!

Right now when I run this command I'm prompted to choose which branch to branch off every time. I quite liked it when the command would use the current branch as the branch to branch, without me having to specify it. I can see how the new behaviour is useful, but is there a way to set the old behaviour as the default behaviour, so that I don't have to c

[2019-02-18 10:36] sandy081 commented on #68675
Problems are created for the files which does not exist. Please file an issue against c# extension - https://github.com/OmniSharp/omnisharp-vscode/issues

[2019-02-18 10:36] #68675 closed

[2019-02-18 10:37] isidorn commented on #68480
Your assumption is correct, that code is probably to blame.
Here's a code pointer so you can potentially provide a PR that fixes this
https://github.com/Microsoft/vscode/blob/34cfe460e781a72cb488cd80150d82618b565211/src/vs/workbench/contrib/debug/common/debugModel.ts#L344

[2019-02-18 10:39] isidorn commented on #68127
@roblourens I was on vacation, am I still needed for something here? If yes let me know what so I do not have to read the whole discussion from above

[2019-02-18 10:41] isidorn commented on #65920
@testforstephen thanks for your feedback and sorry for the slow response I was on vacation. Can you please create a new issue and ping me on it so we continue the discussion there.
Bottom line: the issue is that the step and continue are handled the same by vscode, and in practice they can produce exactly the same result, so distungishing between them does not always make sense.

[2019-02-18 10:41] sandy081 commented on #68364
@mvk I am sorry to say that it is hard to understand what is your use case and what is you are asking for? Please explain me what is the problem you are having currently and what is the solution you are proposing and how it solves your problem.

[2019-02-18 10:42] sandy081 commented on #68735
@girng Let us know if it solves your issue after trying out.

[2019-02-18 10:43] #68908 closed

[2019-02-18 10:43] sandy081 commented on #68271
User defined keybindings are first and then followed by the defaults.

[2019-02-18 10:44] isidorn commented on #68361
@danbord I can not reprodce this. Can you repro with latest vscode insiders? https://code.visualstudio.com/insiders/

@nchanged As for the the rename a file overlay please file a new issue with reproducable steps (I also can not reproduce that one)

[2019-02-18 10:47] isidorn commented on #68627
Can somebody please provide exact reproducable steps?
Also can you reproduce with latest vscode insiders https://code.visualstudio.com/insiders/

[2019-02-18 10:47] sandy081 commented on #68369
Suggested steps are

- Use `Reinstall` command from the Command Pallette
- Restart VS Code.

Regarding various reasons for corrupted installing, we tried to avoid them by first installing into a temp folder and rename it to real name. Install is not complete until the rename is done. Since rename is atomic there are no chances to have corrupted install. Hence checking with you that how did you get

[2019-02-18 10:47] realuser commented on #67576
I mean that's better but I don't get why you wouldn't set this to 100.  There's no reason to impose a sense of a "good indent" when we can't know what users will want. What is the benefit of restricting it to 40 vs 100?

[2019-02-18 10:52] tioteath opened #68912 "Markdown preview doesn't work"
Issue Type: <b>Bug</b>

Since recent update the "Open preview" option has disappeared from Tab menu when markdown file is open for editing. The "Ctrl+Shift+V" and "Ctrl+K V" shortcuts are also not working.

VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:20:54.427Z)
OS version: Windows_NT x64 10.0.16299

<details><summary>Extensions (7)</summary>

Extension|Au

[2019-02-18 10:54] sandy081 commented on #68834
Extensions are installed in the user home directory where VS Code is installed. Let me know where did you install VS Code?

[2019-02-18 10:55] sandy081 commented on #68806
Duplicate of #63566

[2019-02-18 10:55] #68806 closed

[2019-02-18 10:56] MSiliunas opened #68913 "Source control not working: changes not highlighted"
Issue Type: <b>Bug</b>

It shows changed file list but when opened it does not highlight the changes in file comparison.

VS Code version: Code - Insiders 1.32.0-insider (4e68ba25fbc752e3d7da488b8d3db374029577d6, 2019-02-18T06:15:59.901Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7820HQ CPU @ 2.90GHz (8 x 2900)|
|GPU

[2019-02-18 10:57] sandy081 commented on #68468
It is lower cased/

[2019-02-18 11:00] aprilandjan commented on #68616
@weinand Thanks for your explanation! I encountered same issue when debugging with `ts-jest` in vscode `v1.31.1 `. setting `"smartStep": false ` works for me. Thanks!

[2019-02-18 11:01] weinand commented on #68842
@Gumx1066520 Please use English for reporting issues and follow our issue reporting guideline:
https://github.com/Microsoft/vscode/blob/master/CONTRIBUTING.md#reporting-issues.

[2019-02-18 11:03] #1027 closed

[2019-02-18 11:05] eduardomezencio commented on #68621
I downloaded the file from Brazil today and the checksum was correct this time.

[2019-02-18 11:08] dbaeumer commented on #68487
@mjbvz As I was pointing in #53525 not having the diagnostics has bad side effects if you try to compute stuff for the whole file.

The doc clearly says:

[code]

Should these Java code actions be quick fix actions and no source code actions. May be we need an entry in the menu to make this more clear.

[2019-02-18 11:11] dbaeumer commented on #68432
@bpasero assigning back to you. As I understand the issue the talk about programming language (file mode) not UI language.

[2019-02-18 11:11] ctfrancia opened #68914 "Recent files created doesn't show in folder #68204 persists"
- VSCode Version: 1.31.1
- OS Version: Mojave 10.14

Steps to Reproduce:

1. go to folder
2. click "add new file"
3. "name file"
4. Shown in the Explorer "Open Editors" but not the tree underneath
5. only shown after restarting VS code.
6. checked for updates.

Does this issue occur when all extensions are disabled?: Yes

[2019-02-18 11:11] sbatten commented on #68898
/duplicate #68505

[2019-02-18 11:11] #68898 closed

[2019-02-18 11:14] isidorn commented on #67349
@istvand-aam can you reproduce this with latest vscode insiders https://code.visualstudio.com/insiders/

[2019-02-18 11:16] isidorn commented on #68517
I can not reproduce this. Can you repro using vscode insiders
https://code.visualstudio.com/insiders/

[2019-02-18 11:18] isidorn commented on #68547
@franzwcom can you please provide exact reproducable steps for this? Thanks

[2019-02-18 11:18] joaomoreno commented on #55732
The current experience auto selects `HEAD`... so all you have to do is press <kbd>Enter</kbd> when asked which ref the branch should be created from.

[2019-02-18 11:20] joaomoreno commented on #68199
Fixed by #68233, you're going to have to set this setting once it's in.

[2019-02-18 11:20] #68199 closed

[2019-02-18 11:21] alexr00 commented on #66844
@Tyriar have you had a chance to look at this?

[2019-02-18 11:22] vomyrak commented on #68854
No, the problems are not reproduced with the windows exploration build

[2019-02-18 11:23] joaomoreno commented on #68296
/duplicate #60697

[2019-02-18 11:23] #68296 closed

[2019-02-18 11:23] bpasero commented on #68904
@giorgio79 video?

[2019-02-18 11:23] joaomoreno commented on #68292
Can you easily reproduce this issue?

[2019-02-18 11:24] joaomoreno commented on #68229
It auto resizes until it hits 5. From then on, it lets the user resize it.

[2019-02-18 11:24] #68229 closed

[2019-02-18 11:24] bpasero commented on #68210
@isidorn isn't that weird though? I drag a file from the first root folder all the way down to empty space (which is highlighted) and it ends up at the root of the last folder?

[2019-02-18 11:26] bpasero commented on #68605
@sandy081 I am not seeing this behaviour on macOS at least but it is possible that it was added to improve perceived performance (aka we open the view on mousedown vs on mouseup).

[2019-02-18 11:27] joaomoreno commented on #68404
/duplicate #47841

[2019-02-18 11:27] #68404 closed

[2019-02-18 11:27] joaomoreno commented on #68437
What is the <kbd>Pos1</kbd> key? I never heard about such a key.

[2019-02-18 11:28] bpasero commented on #68201
@isidorn I would assume this possibly should work already because I end up calling [`EditorInput.getDescription(LONG)`](https://github.com/Microsoft/vscode/blob/3d662dd0e1eb1e89e3dd10c3235a8f9a87f58e53/src/vs/workbench/browser/parts/editor/tabsTitleControl.ts#L704) which seems to be `this.labelService.getUriLabel(this.resource)`

[2019-02-18 11:28] joaomoreno commented on #68448
"It Message" ?

[2019-02-18 11:29] #68637 closed

[2019-02-18 11:29] sbatten commented on #68637
@byyxx128 if you get the chance, please verify on the next insiders

[2019-02-18 11:29] bpasero commented on #68468
@sandy081 thanks

@saqadri @GabeDeBacker this is the explanation for the issue. Since we lowercase all extensions, the migration code fails to properly restore the original case of the extension. Unfortunately at the place of the migration I do not have access to the real case of the extension.

@sandy081 is there any way I can get the real case of extension [here](https://github.com/Microsoft/vsc

[2019-02-18 11:30] joaomoreno commented on #68506
When you rename the case of a file, what does `git status` return?

[2019-02-18 11:30] joaomoreno commented on #68542
Can you reproduce with `--disable-extensions`?

[2019-02-18 11:30] chrmarti commented on #68843
@bpasero This shouldn't be affected by my work which only targets the extension host. Did anything change on Electron's side? /cc @joaomoreno

[2019-02-18 11:30] bpasero commented on #68432
Ah ok. @sathya9897 can you not use `files.associations` setting for this already?

[2019-02-18 11:32] joaomoreno commented on #68566
/duplicate #47841

[2019-02-18 11:32] #68566 closed

[2019-02-18 11:32] joaomoreno commented on #68567
@sbatten Maybe some workbench change?

[2019-02-18 11:33] KaoImin commented on #68899
It has been fixed.

[2019-02-18 11:34] bpasero commented on #68843
Yes, proxy is reimplemented in Electron 3, it is a possible regression from that update.

[2019-02-18 11:34] joaomoreno commented on #68571
There's currently no infrastructure support for this in the menu, I believe, right @sbatten ?

[2019-02-18 11:35] #68567 closed

[2019-02-18 11:36] joaomoreno commented on #68539
The default expand/collapse keybinding is <kbd>Space</kbd>. For some reason, the Explorer decided to also use <kbd>Enter</kbd>, that's an exception.

[2019-02-18 11:36] #68539 closed

[2019-02-18 11:36] isidorn commented on #68210
Aaaa I thought it only happens for the dragged roots, not for files. Yeah that is weird. Will fix that.

[2019-02-18 11:36] xereda commented on #68621
@eduardomezencio Hi Eduardo,
I tried again today, but it's still corrupted.

[2019-02-18 11:37] joaomoreno commented on #68179
@SFDCPirate What makes you say the extension is disabled?

[2019-02-18 11:37] isidorn commented on #68201
It seems like you are doing the right thing

[2019-02-18 11:38] joaomoreno commented on #68609
/duplicate #49054

[2019-02-18 11:38] #68609 closed

[2019-02-18 11:38] xereda commented on #68621
@skatiruas

This palliative is acceptable. Will solve the problem for now.

[2019-02-18 11:38] selfrefactor commented on #68699
any

[2019-02-18 11:39] L0g4n commented on #68350
@dbaeumer
With Update 1.31.1 i no longer have this problem. So basically it was either an upstream or a downstream issue.

[2019-02-18 11:39] joaomoreno commented on #68619
Do you see any errors in the devtools?

[2019-02-18 11:39] #68624 closed

[2019-02-18 11:39] #68350 closed

[2019-02-18 11:40] joaomoreno commented on #68561
Does the `C:\ProgramData\App-V\C29289BF-2472-4D99-ABC3-E50C501ECC49\04D81759-70D3-4D0F-BEFF-42BB3C1244D2\Root\VFS\ProgramFilesX64\Microsoft VS Code\resources\app\out\main` file exist on disk?

[2019-02-18 11:41] tboby commented on #68432
`files.associations` looks like it's default scope: https://github.com/Microsoft/vscode/blob/622b3d62dd92ea1bcdc7d250e0a7565b018edcee/src/vs/workbench/contrib/files/electron-browser/files.contribution.ts#L220

Which is "window" I believe, so you can't use it on folders?

[2019-02-18 11:42] joaomoreno commented on #68172
What git version do you have installed?

[2019-02-18 11:46] testforstephen commented on #65920
@isidorn sure, i will open a new issue to continue the discussion. A quick question here, is there any technical limit that needs keep the step and continue behaving the same? because in eclipse and intellij, step and continue are not the same behavior.

[2019-02-18 11:47] dbaeumer commented on #66818
I fully agree that @jrieken example

[code]

must work for custom tasks out of the box and I see no reason why it shouldn't.

I also agree that the problem matcher issue is an orthogonal issue. However I don't think that we should provide a problem matcher for tasks that are fully defined in the `tasks.json`. For example I think we don't need support for

[code]

Since it will be hard to identify

[2019-02-18 11:48] sandy081 commented on #68525
@gjsjohnmurray May I know if adding/changing other settings work?

[2019-02-18 11:49] bpasero commented on #68567
I pushed a change to put the screencast div into the workbench element. This was related to my CSS changes.

[2019-02-18 11:50] bpasero commented on #68556
We are building exploration builds that use a much newer version of our UI framework (Electron version 4.0.x). I wonder if this issue reproduces with one of these builds, could you try? Download:
* macOS: [Download](https://az764295.vo.msecnd.net/exploration/37818ac3597b4afda264b05226b0b77fb8e85f41/VSCode-darwin-exploration.zip)
* Linux: [Download](https://az764295.vo.msecnd.net/exploration/37818a

[2019-02-18 11:51] isidorn commented on #65920
There is no technical limit, we could change the behavior in theory.

[2019-02-18 11:51] bpasero commented on #68201
🏆

[2019-02-18 11:51] joaomoreno commented on #68744
What happens when you run `code`?

[2019-02-18 11:51] bpasero commented on #68432
You can. Window scope just means you cannot assign it per resource.

[2019-02-18 11:52] sbatten commented on #68571
@joaomoreno I think we could make this work for custom menus. The base action item in the menu supports listening for action changes and updating the label. Current the update action is implemented as dicrete actions, but they could be combined and get updated dynamically. I don't know what would happen if we tried to do the same approach in the native case.

[2019-02-18 11:54] testforstephen commented on #65920
a more comment here. maybe java is a little special because it supports Thread Level suspend, that means you can choose to continue one stopping thread, and keep others threads still on stopping state. Other languages, like nodejs, continue will resume the whole program, so it doesn't need concern the focus switch.

[2019-02-18 11:54] joaomoreno commented on #68688
/duplicate #52855

[2019-02-18 11:54] #68688 closed

[2019-02-18 11:54] joaomoreno commented on #68666
Where did you see this error?

[2019-02-18 11:54] joaomoreno commented on #68519
/duplicate #47841

[2019-02-18 11:54] #68519 closed

[2019-02-18 11:55] joaomoreno commented on #68752
/duplicate #52855

[2019-02-18 11:55] #68752 closed

[2019-02-18 11:55] tboby commented on #68432
Isn't a "Folder" in a workspace a resource? I don't see `files.associations` in the "Folder" settings tab.
![code_2019-02-18_11-54-21](https://user-images.githubusercontent.com/447391/52949363-f9665680-3373-11e9-87dc-00a2ef7d3194.png)

[2019-02-18 11:56] joaomoreno commented on #68389
What error do you see?

[2019-02-18 11:58] isidorn commented on #68359
I think there is a duplicate for this, @bpasero would know better

[2019-02-18 11:59] isidorn commented on #68732
Dup of https://github.com/Microsoft/vscode/issues/68316

[2019-02-18 11:59] #68732 closed

[2019-02-18 12:00] keithoconor commented on #68911
I'm seeing this too, and it only started happening in a recent version of VS Code. I'll see if I can figure out which one.

[2019-02-18 12:02] fabriciomirandabr commented on #68172
I gave up and reinstalled my system, my git version was 2.20.1

[2019-02-18 12:04] idunbar commented on #68911
This issue is occurring for me as well with Lua 5.1 on macOS (10.14.1) with both versions 1.31.0 and 1.31.1. Reverting my installation to 1.30.2 causes the issue to go away.

Additionally it seems as though the issue is not limited to if-then-end blocks but affects auto indentation in general.

[2019-02-18 12:09] icetbr opened #68915 "Debug 'attach' doesn't work if execution is too fast (--inspect-brk is ok)"
This is a very minor issue, but I cracked my head around this one. Is this expected?

Steps to reproduce:
1) create test.js
2) add any code
3) put a breakpoint on it
4) create a launch 'attach' configuration or turn on auto attach
5) `node --inspect test.js`

Workarounds
- use `--inspect-brk`. This isn't perfect because when calling `node lab`, the first line isn't my code
- put a `debugger;` stat

[2019-02-18 12:10] sandy081 commented on #67076
@jrieken Was there a reason for applying editor font in the hover error message? Currently editor font is applied only for message and not for related information.

[2019-02-18 12:19] rafaelfilholm opened #68916 "Screencast mode shows multiple words "Escape""
When you repeatedly enter the "esc" key, multiple "Escape" words are inserted on the screen, forming a huge chain, coming to "exit" the screen, and from display area of ​​the commands.

- VSCode Version: 1.31.1
- OS Version: Ubuntu 18.04.2 LTS

Steps to Reproduce:

1. Open vscode
2. Enable screencast mode (ctrl+shift+p -> Toggle screencast mode)
3. Press the "esc" key several times

Does this issu

[2019-02-18 12:24] outoftime commented on #68744
@joaomoreno it opens VS Code as expected.

[2019-02-18 12:26] dimndreamer opened #68917 "markdown style, separate the color for definition punctuation of numbered list and unnumbered list"
Since these two share the same scope `punctuation.definition.list.begin.markdown`.
It's nice to separate them.

[2019-02-18 12:30] jabby commented on #26289
I give a try this week. I hope I will find time during lunch time.

I agree with you about the user settings. There are more important than automatic settings from the catalog. However I don't understand the extensions part of your message. Which extensions are you refering to?

For wrong association, I think we can create a settings like in the yaml-language-server.

[code]

If the schemastore is

[2019-02-18 12:45] egamma commented on #68293
@dpen2000 thanks for the suggestion. I've pinned the issue so that we can try this out.

[2019-02-18 12:59] dbaeumer commented on #66818
Using the above approach would even allow to register a problem matcher under a given name that can later on be reference in any task in the `tasks.json`. That would be in line with how regular expression based matchers are currently contributed via the package.json

[2019-02-18 13:01] anschluss80 commented on #68437
Oh sorry, it's the 'home' key (on german keyboard layouts it's labelled 'pos1')..

[2019-02-18 13:03] wwsstt commented on #68911
I found this issue too, I reverted my release version to 1.30.2, and wait for the solusion...

[2019-02-18 13:06] usernamehw commented on #68917
[code]
[code]

[2019-02-18 13:09] shootermv opened #68918 "when trying to create branch - nothing happens"
Issue Type: <b>Bug</b>

Steps to reproduce:
1. click git icon at left bottom
2. choose "new branch" at dropdown on the top
3. type new branch name and press "enter"
4. Nothing happens (no branch is created)
5. Only after typing the branch name again and pressing enter - the new branch finally created

Expected Behavior:
New branch should create after enter pressed (s it was in previous versions)

[2019-02-18 13:09] guifelix opened #68919 "Allow to navigate to symbols globally within a file"
I would like to navigate through files more like sublime, for example:

let's suppose I have a file called "_SomeController.php_" and inside this file, I have a method called "_someMethod_". Even if I have no opened file in the editor I can open the file navigator with "_ctrl+p_" command and type "_somecon@someme_" and the navigator can find the file and the method and open the file with the curso

[2019-02-18 13:16] Neurrone commented on #67156
Thanks @isidorn. Lets leave it the way it is now, unless there is similar feedback about this from others.

[2019-02-18 13:21] #68917 closed

[2019-02-18 13:22] geekonloose commented on #68619
Update:
Hi,
I don't know what happened, but yesterday it automatically got updated.
So I am closing this issue.

[2019-02-18 13:22] #68619 closed

[2019-02-18 13:25] #61797 closed

[2019-02-18 13:25] svipben commented on #68764
Seems again color is broken and I got this:

# Log (Window)
[code]

# Toggle Developer Tools
[code]

[2019-02-18 13:26] sandy081 commented on #68460
@usernamehw Deleted your comment as Marketplace details are not meant to be part of OSS product - Please see here https://github.com/Microsoft/vscode/issues/60#issuecomment-161792005 for more info.

Thanks.

[2019-02-18 13:35] benc-uk commented on #9502
wslgit is slow as hell and it's a cludgy workaround.

Also SCM/git is just one part of the WSL integration we need from VSCode

[2019-02-18 13:40] peni4142 opened #68920 "Execute specific test"
I have the problem, that I have already many tests. Some are async and take up to 2 seconds. Doesn't sound that many time yet, but I have more than 150 tests. Waiting while developing for all tests is very hard.
Would be nice if I could have a parameter for the name of the test-file or something like that.

I using something like that for my UI-tests where some of them taking up to 2 minutes:

[co

[2019-02-18 13:44] dbaeumer commented on #66818
To give an example this would look like this:

[code]

and the matcher would be referenced like a normal matcher using its name:

[code]

The only thing that will not work is to use such a matcher as a base matcher and change attributes that a regexp specific.

[2019-02-18 13:46] weinand commented on #68915
Yes, the behavior you are seeing is expected. The "auto attach" polls for newly spawned processes only 2 times per second. So if your process has already terminated, "auto attach" will not even see it.
Node's "--inspect-brk" only exists for exactly this problem: if you need to debug startup code, "--inspect-brk" stops the target program until a debugger has attached to it (and has successfully reg

[2019-02-18 13:46] #68915 closed

[2019-02-18 13:56] bdouram commented on #68621
I am a user of Manjaro and I had the same problem.
For now, while the problem in the Latin American region is not solved, the solution proposed by @xereda works.

Steps:

- I accessed a proxy site in the Europe region.
- I used the link [https://go.microsoft.com/fwlink/?LinkID=620884](url) and downloaded the tar.gz file

[2019-02-18 13:57] isidorn commented on #68914
Dup of #68204

[2019-02-18 13:57] #68914 closed

[2019-02-18 14:04] paullyvenne opened #68921 "Difficult to open files"
Issue Type: <b>Feature Request</b>

1) I cannot open a file via dragging it from explorer.
2) I cannot open a file by right clicking and open with visual studio code. Doesn't seem to support arguments for file to open.

VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:21:36.727Z)
OS version: Windows_NT ia32 10.0.17134

[2019-02-18 14:05] isidorn commented on #68547
Actually duplicate of https://github.com/Microsoft/vscode/issues/68494
But please provide steps tehre

[2019-02-18 14:05] #68547 closed

[2019-02-18 14:06] isidorn commented on #68494
@nchanged can you please provide exact reproducable steps for this? Thanks

[2019-02-18 14:07] bpasero commented on #68919
@guifelix try with Ctrl+T for "Open Symbol"?

[2019-02-18 14:12] usernamehw commented on #68460
But that comment was for testing (for contributor to be able to see the button).

[2019-02-18 14:14] guifelix commented on #68919
same result for the syntax "somecon#someme":
![screenshot from 2019-02-18 11-08-47](https://user-images.githubusercontent.com/12631274/52956387-d173f480-336d-11e9-8aed-b4f985c3ca07.png)

if I just type "#someme" it finds the method, but it's not the desired result. In sublime editor it looks for the method only inside the specific file, otherwise it happens to find duplicate methods throughout the

[2019-02-18 14:16] isidorn commented on #65324
Ok I see that you reopened the issue, closing this one

[2019-02-18 14:16] #65324 closed

[2019-02-18 14:17] #68591 closed

[2019-02-18 14:17] isidorn commented on #68591
Disable tree horizontal scrolling

[2019-02-18 14:18] lepinekong opened #68922 "Tooltip remanence glitch"
- VSCode Version: all
- OS Version: Windows 10

Steps to Reproduce:

1. switch from VSCode to another application
2. sometimes if not often vscode tooltip still shows up out of vscode
[](https://i.imgur.com/RCaZ0Es.png)

Does this issue occur when all extensions are disabled?: [Yes]

[2019-02-18 14:20] isidorn commented on #68594
Do you have output scroll lock toggled?
Also can you reproduce with vscode insiders? https://code.visualstudio.com/insiders/

[2019-02-18 14:21] #68612 closed

[2019-02-18 14:25] isidorn commented on #68713
This should work for all our trees in case we want to add it. Forwarding to @joaomoreno

[2019-02-18 14:27] isidorn commented on #68598
This is by design, we always did this. To prevent it set
explorer.autoReveal: false

[2019-02-18 14:27] #68598 closed

[2019-02-18 14:32] isidorn commented on #68645
Can you reproduce this with latest vscode insiders
https://code.visualstudio.com/insiders/

[2019-02-18 14:34] isidorn commented on #68641
This works for me.
Do you have explorer.autoReveal setting set?
Can you repro with vscode insiders? https://code.visualstudio.com/insiders/

[2019-02-18 14:34] #68770 closed

[2019-02-18 14:34] JosiahWitt commented on #68132
I'm curious what Issue is tracking this? The one that references it was closed as a duplicate of this one. Thanks!

[2019-02-18 14:37] isidorn commented on #68132
Some old issue assigned to me.
Try to find it, you would do the same as me. The point in that issue is that this is designed behavior.

[2019-02-18 14:37] Yzrsah opened #68923 "Explorer: Handle opening of .code-workspace and Folders instead of leaving it to extension authors"
I currently don't have a working ability to right click on a Folder and open it in a VSCode window.

I had some extensions that made this possible, but they broke, and now I need to make a new extension to fix it.

It is weird that VSCode can't do this, it should be a part of VSCode.

Explorer context menu entries:
- The ability to open a Folder in a new VSCode Window
- The ability to open a .code

[2019-02-18 14:38] marnovo commented on #68623
Understood; will do so, thanks for the quick reply.

[2019-02-18 14:39] isidorn commented on #68772
This works the same as in stable. The difference is on which element you click to invoke the context menu, not in which order you select them.
Please confirm if you see the same

[2019-02-18 14:40] chrmarti opened #68924 "SCM view size lost"
Issue Type: <b>Bug</b>

When switching viewlets:
![feb-18-2019 15-36-44](https://user-images.githubusercontent.com/9205389/52958037-810f8d80-3393-11e9-86d0-01a22bc59ba0.gif)

VS Code version: Code - Insiders 1.32.0-insider (bbe40c8cb0901c439b3b61221a0197fb6723783e, 2019-02-18T10:48:16.325Z)
OS version: Darwin x64 18.0.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(

[2019-02-18 14:41] whry commented on #68744
I use CentOS 7. get an error just by running `code`.
After a recent update VSCode have this issue.

[2019-02-18 14:42] uphlewis commented on #68641
Yes, explorer.autoReveal was the first thing i checked.

Haven't tried with the insider build.

Since my initial post, i've realised that the issue is intermittent. I'll try and work out the pattern and will let you know

[2019-02-18 14:44] isidorn commented on #68774
This is a duplicate of some issue assigned to @joaomoreno
@joaomoreno you know better which one, can you please close this as a duplicate of that one?

[2019-02-18 14:45] adityasovani opened #68925 "Git: Add remote"
Issue Type: <b>Feature Request</b>

Provide option to add Git remote from VSCode console. For configuring remote we have to use command prompt.

VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:20:54.427Z)
OS version: Windows_NT x64 10.0.10240

[2019-02-18 14:45] prfmansell commented on #68772
It seems to make no difference which file I click to invoke the context menu, the same file always appears in read-only editor regardless.

[2019-02-18 14:46] WalidKurchied commented on #68612
Thank you for your hard work and awesome support.

[2019-02-18 14:47] isidorn commented on #68641
Please let me know the exact reproducable steps since I can not repro it.

[2019-02-18 14:48] JosiahWitt commented on #68132
Oh, it is designed behavior? The behavior changed from version 1.30, and it has been driving me nuts! I don't mind creating a PR if you point me to relevant code. Thanks!

[2019-02-18 14:48] isidorn commented on #68804
This will not happen as part of the debug work.
In the future we might have more flexible workbench layout where we allow split view panes to be moved around. This will be fixed as part of that.
Since there is already an issue tracking that, and since we will not do anything special for the watch view I am closing this one

[2019-02-18 14:48] #68804 closed

[2019-02-18 14:50] isidorn commented on #68821
Closing as desgined / will not fix. Tree is virtual we dispose of the template as it goes out of view.

[2019-02-18 14:50] #68821 closed

[2019-02-18 14:51] prfmansell commented on #68772
Edit: The method I use for comparing files was to use Ctrl+click to select 2 files, using context menu to compare selected.  However I see that if you invoke context menu while selecting one file, choosing Select for Compare, then using context menu on second file to Compare Selected, this now works as expected.  Can you confirm the old method no longer works correctly (when selecting both files b

[2019-02-18 14:53] EmbersArc opened #68926 "Inconsistent highlighting for certain C++ function names"
The first few letters are highlighted in a different color for the following function names in C++:

- iterate()
- riterate()
- enumerate()

![picture](https://i.imgur.com/JtNx9QW.png)

Issue might be from [here](https://github.com/Microsoft/vscode/blob/master/extensions/cpp/syntaxes/cpp.tmLanguage.json#L157).

- VSCode Version: 1.31.1
- OS Version: Linux x64 4.4.0-142-generic

Steps to Reproduce:

[2019-02-18 14:54] isidorn commented on #68873
This might be electron related or WSR related. Please file the issue against those products.
There is nothing in vscode which we can do to fix this

[2019-02-18 14:54] #68873 closed

[2019-02-18 14:55] isidorn commented on #68840
I can not reproduce this. Can you repro with latest vscode insiders https://code.visualstudio.com/insiders/

[2019-02-18 14:55] uphlewis commented on #68641
I cant seem to reproduce it at all now !

Only thing i've changed since posting is reboot my machine, so must have been an issue on my end.

Sorry to waste your time

[2019-02-18 14:55] #68641 closed

[2019-02-18 14:57] #68864 closed

[2019-02-18 14:57] isidorn commented on #68864
Duplicate. Will be fixed this milestone.

[2019-02-18 14:58] m6502 commented on #13960
If you _were_ subscribed to this issue and only got complaints but no response from the developers, well, I don't think it's the users who you should direct your reply to, and I say this with the utmost respect for the developers who are not in any case under any obligation to make us happy. Although a "we can't or don't want to do it" would be nice.

[2019-02-18 14:59] isidorn commented on #68132
My mistake, I have wronlgy read your description. Reopening and assigning to this milestone to investigate.

[2019-02-18 15:01] isidorn commented on #68886
Yeah expected behavior.
There is a seperate feature request to resolve all files before filtering which would help with your confusion

[2019-02-18 15:01] #68886 closed

[2019-02-18 15:02] isidorn commented on #68811
I can repro. This is tree specific, leaving up to @joaomoreno

[2019-02-18 15:04] isidorn commented on #68889
Thanks for your suggestion.
However we would not change this as it would piss off a lot of our users.
Also the name of the workspace folder is important and imho deserves a spot there.

So closing as designed.

[2019-02-18 15:04] #68889 closed

[2019-02-18 15:04] ReekyStive commented on #68119
add `"workbench.settings.useSplitJSON": true` in User Settings to use the old split editor.
I think the split editor is more reasonable to change settings because we can see all the default settings on the left.

[2019-02-18 15:05] isidorn commented on #68126
Clsoing as dup of https://github.com/Microsoft/vscode/issues/68691 since that one has nice gif and shorter description

[2019-02-18 15:05] #68126 closed

[2019-02-18 15:06] isidorn commented on #68652
Dup of some issue assigned to me and sbatten. If you want to find it search for issues tagged with workbench-layout

[2019-02-18 15:06] #68652 closed

[2019-02-18 15:07] isidorn commented on #68880
This is tree specific, forwarding to @joaomoreno

[2019-02-18 15:08] isidorn commented on #68836
Thanks for the suggestion but I would not change the current behavior, since this is easily configurable and if we change the shortcuts it might mess with other shortcuts existing users already set.
Closing as will not fix

[2019-02-18 15:08] #68836 closed

[2019-02-18 15:09] bpasero opened #68927 "Adopt path.join() over extpath.joinWithSlashes()"
We added `vs/base/common/path` as replacement for all our path handling (as a copy of node.js path module). The previous `vs/base/common/paths` (now `extpath`) should not be used anymore.

To preserve backwards compatible behaviour we left a method `joinWithSlashes()` that is the equivalent of `path.join()` from node.js, with the addition of converting any backslashes to slashes on all platforms.

[2019-02-18 15:09] alber70g commented on #66674
Would be great to have settings for the size and location as well. Maybe some custom css that can modify it to the users' liking?

[2019-02-18 15:10] isidorn commented on #68835
This is probably an electron issue that the rename error is not popping up.
Right @bpasero ?
We had a similar thing for the delete error

[2019-02-18 15:14] bpasero commented on #68835
@isidorn negative, the "file does not move to trash" error is Linux/Electron specific due to the usage of the trash.

[2019-02-18 15:14] ziaurabdirahman commented on #68869
I am selecting a div using mouse click

[2019-02-18 15:14] precisonline commented on #68879
Thank you sir. I changed "window.titleBarStyle" to "native", resized the window larger, closed VSCode, reopened, and it opened with the smaller window size.  So this change has had no appreciable impact on the issue.

[2019-02-18 15:15] weinand opened #68929 "vscode.workspace.asRelativePath should support to return a real path"
If a workspace folder has a name defined in its *.code-workspace file,
`vscode.workspace.asRelativePath` will return paths that start with this name and which cannot be found in the filesystem.

I propose to add a second boolean argument to `asRelativePath` to force it to return the real relative path. Without that it is very difficult to determine the real relative path for a given url.

/cc @bpa

[2019-02-18 15:22] alexr00 commented on #68876
@rebornix and @alexandrudima did something change in the auto indenting? The built in lua extension hasn't changed in months.

[2019-02-18 15:23] alexr00 commented on #68911
Duplicate of #68876. I can reproduce this too.

[2019-02-18 15:29] bpasero commented on #68879
We are building exploration builds that use a much newer version of our UI framework (Electron version 4.0.x). I wonder if this issue reproduces with one of these builds, could you try? Download:
* macOS: [Download](https://az764295.vo.msecnd.net/exploration/37818ac3597b4afda264b05226b0b77fb8e85f41/VSCode-darwin-exploration.zip)
* Linux: [Download](https://az764295.vo.msecnd.net/exploration/37818a

[2019-02-18 15:33] bpasero commented on #68929
I actually think that we should never give out the name of a workspace as result of `asRelativePath`.

@jrieken looks like this got added a long time ago via https://github.com/Microsoft/vscode/commit/7a8bb07f4a6d9cbb42823e762d50ce5f3be4e983. Not sure we could change it now, but a better solution imho would be to join the relative path with the `basename` of the workspace URI instead of its name?

[2019-02-18 15:36] bpasero commented on #66447
/duplicate https://github.com/Microsoft/vscode/issues/55084

[2019-02-18 15:37] #66447 closed

[2019-02-18 15:37] #55084 closed

[2019-02-18 15:37] #68911 closed

[2019-02-18 15:39] alexr00 commented on #68910
This issue was moved to PowerShell/EditorSyntax#160

[2019-02-18 15:39] #68910 closed

[2019-02-18 15:41] madprops commented on #68229
Right, the thing is, the specified resize position set by dragging is not remembered after going back to the Git pane.

[2019-02-18 15:46] alexandrudima commented on #10339
Thanks to @dlech in the PR #62079, there is now a new setting `indentSize` that controls how many spaces the indentation is.

This is by default configured to be equal to `editor.tabSize`, but the two settings can now be independently configured.

[2019-02-18 15:50] alexandrudima commented on #68876
@alexr00 Yes, I tried to fix something a month ago -- https://github.com/Microsoft/vscode/commit/7a835ad2642760345b02d4c8c7b899559926f4c8

[2019-02-18 15:51] deltacastro commented on #35901
@mikkancso
Try with the font weight:

[code]

[2019-02-18 15:52] alexandrudima commented on #68764
@svipben The errors in the console might be unrelated to the coloring problem. Can you please share with us your exact file, it might be something in that file that helps reproduce.

[2019-02-18 15:53] alexandrudima commented on #68901
Duplicate of #11770

[2019-02-18 15:53] #68901 closed

[2019-02-18 15:56] alexandrudima commented on #67106
Related or possible duplicate: #68346

[2019-02-18 15:57] Yanpas commented on #68645
Yes

[2019-02-18 15:59] alexandrudima commented on #68867
@jerrymani33 We are not massaging input events in any way. So, if a scroll event comes in from the OS with both a `dy` and a `dx`, we will honour both values and scroll both horizontally and vertically at the same time.

Is this in any way different than other applications? What happens when you open a page from Wikipedia in Chromium on this machine and resize the browser such that you get a horiz

[2019-02-18 16:02] alexandrudima commented on #68832
:+1: Given the similarity (repeated modifier only keybinding) I would suggest to track in #5280 .

[2019-02-18 16:03] #68832 closed

[2019-02-18 16:06] alexandrudima commented on #68576
Thank you for following through, from the command line arguments, that looks to be the TypeScript server process that is locking up those files/folders.

[2019-02-18 16:07] #68869 closed

[2019-02-18 16:07] pustovalov commented on #68627
Steps for reproduce:

- Open files in `main` branch
- Switch to `second` branch where these files do not exist
- Switch to `main` branch

sidebar died

error:
<details>
  ERR Data tree node not found: [object Object]: Error: Data tree node not found: [object Object]
    at i.e.getDataNode (file:///Applications/Visual Studio Code.app/Contents/Resources/app/out/vs/workbench/workbench.main.js:1037:26

[2019-02-18 16:09] alexandrudima commented on #66611
@gavofyork OK. I've made my analysis by looking at your bug report which names a single extension called `ra-lsp`. Can you indeed attempt to disable all extensions and check if this reproduces.

[2019-02-18 16:14] weinand commented on #68011
This bug is a result of the ill-defined semantics of `vscode.workspace.asRelativePath`(see  https://github.com/Microsoft/vscode/issues/68929).

[2019-02-18 16:20] precisonline commented on #68879
Thank you for the build.  This version has the same issue.  See this screencast:

https://www.screencast.com/t/n9sfgKQ2tCsX

[2019-02-18 16:24] joaomoreno opened #68930 "Improve splitview behavior"
We basically need to add snapping. For that to happen, visibility needs to be an `IView` concept.

- [x] We need to bring down hide/show state down to views, with optional hide/show methods on IView
- [x] Add snapping

[2019-02-18 16:26] precisonline commented on #68879
I also tried setting the "window.titleBarStyle" to "native" with the exploration build - no change.  The VSCode starting window still starts small.

I don't know if this is related to the issue but my environment is a laptop with a 34" extension monitor running at 3440x1440 via HDMI.  The window height appears to be limited to the max height of my laptop screen which is running at 1366x768.  Just

[2019-02-18 16:32] alexespencer opened #68931 "VS code not using conda environment when running pylint"
Issue Type: <b>Bug</b>
<b>Steps to reproduce:</b>
Create a blank workspace, setup a conda environment with python, pylint, numpy and afterwards install opencv-python. Create a .pylintrc file and add cv2 as a whitelisted package.

Select the conda environment as the python interpreter. Run linting - it will IGNORE the .pylintrc file.

Now, use command prompt to activate the conda environment and th

[2019-02-18 16:34] alexespencer commented on #68931
Should launching VS code via an already activated conda environment give different behaviour to a workspace that has a properly defined conda interpreter?

[2019-02-18 16:41] johnspurlock commented on #68285
@isidorn Dup of which open issue?

[2019-02-18 16:53] jrieken commented on #67760
Yes, but you didn't answer my question why you cannot open the X-scheme folder and why you have to open a folder on disk. That's what's meant here, be a resource provider and be integrated just like the file-scheme

[2019-02-18 16:55] ashvin777 commented on #68389
I am talking about the flow triggered from "Create branch" option under `Cmd` + `Shift` + `p` menu

Now I understood why it is not working. Earlier I used to create a new branch in just 2 steps and now I see that another step is introduced to select ref branch. Not sure why there is a need of selecting the additional ref branch, it makes more sense take the current branch as reference just like it

[2019-02-18 16:59] diazdc opened #68932 "Integrated Terminal Breaks when Running Large Sections of Selected Text"
- VSCode Version: 1.3.1
- OS Version: Mac OS Mojave

Steps to Reproduce:

1. Running larger blocks (approximately 30+ lines) of selected text in integrated terminal using "Terminal: Run Selected Text in Active Terminal" will repeat, omit, or reorganize the original input. I've encountered this problem with a clean install of vs code in both R and python scripts.

For example, if I select and run t

[2019-02-18 17:00] johnspurlock commented on #68720
I mostly see this problem with files unintentionally opened by the debug view.  For example, when developing an extension, `dist/extension.js` is excluded (the entire `dist` folder is excluded), but if the debugger ever once opens that file, it will continue to appear as an option in quick open, even ahead of `extension.ts` in `src`.

That is:
1. Create an extension project, entry point source in

[2019-02-18 17:08] rossipedia commented on #68172
[code]

[2019-02-18 17:12] Yzrsah commented on #68897
This feature request is one of the most important features you could request, its importance cannot be underestimated.

In the mean time,

**Steps to resolve Extension CPU Usage issues:**
1) Resolve Errors
- Open the workspace
- command `Developer: Toggle Developer Tools`
- command `Reload Window`
- VSCode will reload with Developer Tools open at extension load time - this will show all extension

[2019-02-18 17:12] Yzrsah commented on #68897
This feature request is one of the most important features you could request.
Its importance cannot be underestimated.

In the mean time,

**Steps to resolve Extension CPU Usage issues:**
1) Resolve Errors
- Open the workspace
- command `Developer: Toggle Developer Tools`
- command `Reload Window`
- VSCode will reload with Developer Tools open at extension load time - this will show all extension

[2019-02-18 17:13] Yzrsah commented on #68897
This feature request is one of the most important features you could request.
Its importance cannot be underestimated.

In the mean time,

**Steps to resolve Extension CPU Usage issues:**
1) Resolve Errors
- Open the workspace
- command `Developer: Toggle Developer Tools`
- command `Reload Window`
- VSCode will reload with Developer Tools open at extension load time - this will show all extension

[2019-02-18 17:16] JSchiffmacher commented on #68237
If it could help:

When typing a letter and then type ENTER, it displays the results for less than one second:
![image](https://user-images.githubusercontent.com/20063692/52966892-bd99b400-33a8-11e9-9acf-2ecedfbc9e65.png)

And then the message "Unknown encoding : cp437" appears:

![image](https://user-images.githubusercontent.com/20063692/52967029-136e5c00-33a9-11e9-94c8-b1e302a0d62d.png)

For inf

[2019-02-18 17:19] bpasero commented on #68720
How do you do that?

[2019-02-18 17:27] johnspurlock commented on #68720
`${workspaceFolder}/.vscode/settings.json`

[code]

[2019-02-18 17:28] sbatten commented on #65608
I appreciate all the passionate feedback in this thread. After cosidering the points here and the value of the custom title bar on Linux, we have decided to revert the default for Linux. A short blurb about this change can be found in our [Linux docs page](https://code.visualstudio.com/docs/setup/linux#_using-the-custom-title-bar).

fixed by #68640

[2019-02-18 17:28] sandy081 commented on #67076
Did following improvements

- Used default font
- Increased the width
- Added `Go to Problem` and `Show Quick Fixes...` actions
- Improved related information rendering

![image](https://user-images.githubusercontent.com/10746682/52967552-c1c6d100-33aa-11e9-9fdf-d35d97552d9f.png)

![image](https://user-images.githubusercontent.com/10746682/52967591-dc994580-33aa-11e9-87cd-e615c8884e16.png)

[2019-02-18 17:28] #65608 closed

[2019-02-18 17:29] toki-geez commented on #68607
Hello,
Could someone give me a link to the duplicate as i am new to github and don't know how to find it.

Thanks a lot for the help provided.

[2019-02-18 17:32] fshafique commented on #17777
For everyone who hasn't done so, please "thumbs up" the starting [comment](https://github.com/Microsoft/vscode/issues/17777#issue-197379683).
For open issues, sorted by thumbs up (`is:issue is:open sort:reactions-+1-desc`), we are currently only 18th place!
Thanks.

[2019-02-18 17:34] sbatten opened #68933 "Test: Reverting the default titlebar setting on Linux"
- [x] Linux @bpasero
- [x] Linux @aeschli

Complexity: 2

Verify that:
* the default setting for Linux is once again the native title bar.
* you can switch between settings successfully.
* the notification explaining the change shows and works correctly:
  * for existing users only
  * who have not configured the title bar manually
  * using the native title bar currently
* the notification only s

[2019-02-18 17:38] Yzrsah commented on #68897
This feature request is one of the most important features you could request.
Its importance cannot be underestimated.

In the mean time,

**Steps to resolve Extension CPU Usage issues:**
1) Resolve Errors
- Open the workspace
- command `Developer: Toggle Developer Tools`
- command `Reload Window`
- VSCode will reload with Developer Tools open at extension load time - this will show all extension

[2019-02-18 17:38] sbatten opened #68934 "Test: Recommend the custom title bar when using accessibility support mode"
- [x] Linux @bpasero
- [x] Windows @egamma

Complexity: 1

Verify that:
* A notification appears when the user launches with or changes the setting to use accessibility support or the user launches with a screen reader and the setting is auto.
* The notification only appears once.

Refs: #68640

[2019-02-18 17:41] precisonline commented on #68879
New information: Following on my earlier tests, I swapped monitors so that the larger one was the primary monitor.  Following this change, VSCode opens the window at the size I want. So it does tend to suggest that the window size is being filtered through the geometry of the primary monitor.

[2019-02-18 17:44] byyxx128 commented on #68637
@sbatten Yes, it has been fixed in the latest insiders.

[2019-02-18 17:49] roblourens commented on #68607
I think https://github.com/Microsoft/vscode/issues/48357

[2019-02-18 17:51] jamiefutch commented on #13960
This feature really needs to be implemented.

[2019-02-18 17:51] roblourens commented on #68237
You are seeing some results from files that you have open because there we just search in the open buffer. But it is not able to search the full workspace.

[2019-02-18 17:53] Alexand3r commented on #68783
Would like to rectify,the amount of files is not affecting just VSCode or TSServer, is affecting my whole machine. Probably VSCode or TSServer is trying to read that folder and it starts to hang?

No errors whatsoever in the logs, no stack traces, nothing out of the ordinary.

[code]

**--cancellationPipeName /tmp/vscode-typescript/tscancellation-4a683f11eccf527696ae.tmp\***

Which matches all the

[2019-02-18 17:55] brunoscopelliti commented on #68896
I'm experiencing this issue since waaaaay longer than today.
I've not a typescript solution.
I use eslint, but I'm not using "--fix" on save.

What does exactly mean "initializing js/ts language features"? What are the features we are talking about? Is it possible to disable these features? What would I miss in case?

Any help is deeply appreciated.
I absolutely love vscode, but this issue is beco

[2019-02-18 18:06] usernamehw opened #68935 "Focus is lost when inserting snippets with mouse click"
Issue Type: <b>Bug</b>

![focus](https://user-images.githubusercontent.com/9638156/52969268-cac29d00-33c0-11e9-87fa-72d847979a83.gif)

VS Code version: Code - Insiders 1.32.0-insider (bbe40c8cb0901c439b3b61221a0197fb6723783e, 2019-02-18T10:48:37.179Z)
OS version: Windows_NT x64 10.0.17763

[2019-02-18 18:15] JosiahWitt commented on #68132
No worries! Something else that may be related is the case that if you select a file in the explorer tree, and then click on a different tab, the active file is not highlighted in the tree. Version 1.30 would always highlight the active file in the explorer tree.

Let me know if you need any more info, or if I can help with writing the bugfix! Thanks!

![Example](https://user-images.githubusercont

[2019-02-18 18:21] admojica opened #68936 "Autocomplete on JSON string"
Autocomplete on JSON string

It would be very useful if the autocomplete on json files would be triggered without the need of start a new string like happens in other different extension files.

Other files:
![captura de pantalla 2019-02-18 a la s 1 18 51 p m](https://user-images.githubusercontent.com/17170586/52969839-c9bd4b80-337f-11e9-91e1-f14f86cd44bb.png)

JSON Files:
![captura de pantalla 20

[2019-02-18 18:23] Tyriar commented on #68922
Which tooltip? Can you provide a screenshot?

[2019-02-18 18:23] #68931 closed

[2019-02-18 18:23] Tyriar commented on #68931
https://github.com/Microsoft/vscode-python

[2019-02-18 18:24] Tyriar commented on #68932
https://github.com/Microsoft/vscode/issues/38137

[2019-02-18 18:24] #68932 closed

[2019-02-18 18:31] maximusxz commented on #17777
Because of this unresolved issue:
![48131351-1331d100-e290-11e8-99ff-173343896a55](https://user-images.githubusercontent.com/13765309/52970304-6bff2280-33c4-11e9-85d8-6bbf328f1937.png)
after some tweaks found another solution:
![srcsht](https://user-images.githubusercontent.com/13765309/52970316-77524e00-33c4-11e9-818d-894510b4a511.PNG)
Looks like a regular indent guides in editor section.
Materia

[2019-02-18 18:42] eamodio commented on #68201
The tooltip on the tabs has been fixed since I reported it -- thanks! As for the `workspaceSuffix` I'm definitely missing something. Since AFAIK you can't open a folder that isn't a real on disk folder, the title that shows up on the explorer title area is the name of the workspace itself, and inside the explorer view where the name of the folder is shown the suffix doesn't show up.

IMO stripping

[2019-02-18 18:52] maximusxz commented on #17777
Because of this unresolved issue:
![48131351-1331d100-e290-11e8-99ff-173343896a55](https://user-images.githubusercontent.com/13765309/52970954-b386ae00-33c6-11e9-98c4-4d5173da1a30.png)

after some tweaks found another solution:
![srcsht](https://user-images.githubusercontent.com/13765309/52970967-c13c3380-33c6-11e9-94bb-977fd5af0cda.PNG)

Looks like a regular indent guides in editor section.
Mater

[2019-02-18 18:53] usernamehw commented on #68884
#20791

Is there an open issue to support relative URL? Why is it not supported in the first place?

Should I modify user's `package.json` in some postinstall script to make this work?

[2019-02-18 18:57] SFDCPirate commented on #68179
Well, git didn't work when I made changes on a file in git repo. The blue line I see on the left of margin just stopped showing up. I can't remember what happened when I tested with git commands but it was wonky.

As I've described, it was showing as enabled but I had to disable and re-enable the Git: Enabled setting and I happen to have a mac.

[2019-02-18 18:59] maximusxz commented on #17777
Because of this unsolved issue:
![48131351-1331d100-e290-11e8-99ff-173343896a55](https://user-images.githubusercontent.com/13765309/52970954-b386ae00-33c6-11e9-98c4-4d5173da1a30.png)

after some tweaks found another solution:
![srcsht](https://user-images.githubusercontent.com/13765309/52970967-c13c3380-33c6-11e9-94bb-977fd5af0cda.PNG)

Looks like a regular indent guides in editor section.
Materia

[2019-02-18 19:04] roblourens commented on #68127
#68480 should be fixed and I can look into that if it's easy.

I also had this issue:

to just fix the presentationHint on the top frame. I'm curious about that but #68480 is the main thing I will look at for a real fix for the next release.

[2019-02-18 19:10] S-Romberg opened #68938 "Performance issue w/o extensions"
Issue Type: <b>Performance Issue</b>

% of CPU is *always* between 99%-107%. Disabling all extensions did not help. Getting rid of all settings did not help either.

[code]

VS Code version: Code 1.22.2 (3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9, 2018-04-12T16:32:53.389Z)
OS version: Darwin x64 18.0.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4770H

[2019-02-18 19:11] cleidigh commented on #68811
@joaomoreno
Just observed, probably obvious also, problem output tree exhibits the same behavior further indicating it's probably a base tree event issue.

[2019-02-18 19:14] tap52384 opened #68939 "Use Docker for remote linting"
We can use Docker for remote debugging; it would be awesome to be able to use Docker for remote linting as well. The idea of getting away from having to install requirements locally is superb!

[2019-02-18 19:19] roblourens commented on #68725
@kshitij-agarwal do you see the same in other non-editor parts of vscode, like the file explorer or list of extensions?

[2019-02-18 19:20] charlesg99 commented on #68804
Would it be possible to allow for a larger watch view as proposed in #68749?

[2019-02-18 19:22] roblourens commented on #68797
I know it confuses some people but I've found that more expect it to be the default than not.

[2019-02-18 19:22] #68797 closed

[2019-02-18 19:22] RoestVrijStaal commented on #68527
This might be a separate issue but...

I'd advice to add to **Managing installed extensions** the criteria _Unmaintained_. Which means the shown extension(s) didn't get any update from its developer within a year or after a new major (or minor) release of VScode.

For each extension you need to manually navigate to its source repository to check its maintenance status. Which is obviously annoying.

[2019-02-18 19:22] usernamehw commented on #68938
That looks like a year-old version of vscode.

[2019-02-18 19:24] kshitij-agarwal commented on #68725
Yes!! @roblourens

[2019-02-18 19:33] janosh commented on #12185
@sandy081 As @vbullinger said, a short note on when this might be added would be great.

[2019-02-18 19:35] S-Romberg commented on #68938
Oh wow, yeah that's embarrassing. I downloaded the new version and I am still having the same problems.

[code]

[2019-02-18 19:46] S-Romberg commented on #68938
[CPU-20190218T124756.cpuprofile.zip](https://github.com/Microsoft/vscode/files/2877195/CPU-20190218T124756.cpuprofile.zip)

[2019-02-18 19:51] SethRzeszutek opened #68940 "High Contrast Menu Over Laps On a Menu"
When using High Contrast Mode, your menu bar overlaps with the tabs that scroll behind it, causing it to be rather confusing for a few seconds.
Example:
![high-contrast-issue](https://user-images.githubusercontent.com/23585575/52973637-b49ae980-338c-11e9-87ff-af6c0022dad8.png)

[2019-02-18 19:52] SethRzeszutek commented on #68940
It is not related to that issue.

[2019-02-18 19:52] goxr3plus commented on #68770
Where is the duplicate link mister robot?

[2019-02-18 20:01] #68938 closed

[2019-02-18 20:06] pillaiindu opened #68941 "How do I use html.format.unformatted for comments?"
Issue Type: <b>Question</b>
I filed an issue at this repo and also at the formatter's repo which VSCode uses for formatting HTML, months ago.
I wanted my comments on the same line as the closing tag. For Emmet I have the following setting which works fine,
[code]
but for formatter I didn't find any good solution. I think `html.format.unformatted` may provide a solution for it, but I don't know how

[2019-02-18 20:17] usernamehw commented on #5303
/duplicate of #63639

New setting from vscode **1.32.0**
[code]

[2019-02-18 20:17] #5303 closed

[2019-02-18 20:30] chrsmrtn- opened #68942 "Terminal window is now blank"
Been running a hosting process in my powershell terminal window in Visual Studio Code. That window goes blank from time to time. The process is still hosting my site, but i can't see the terminal output anymore. Workaround is to either restart the terminal or visual studio code

[2019-02-18 20:37] roblourens commented on #68725
Looks like we have a request for this: #37727

[2019-02-18 20:37] #68725 closed

[2019-02-18 20:46] ryanaltvater commented on #17777
I've increased the tree indent spacing to 20px, but for some reason when I "reload" VS Code and/or close and reopen it the spacing reverts to the original 8px spacing. You can visually see the spacing jump from my 20px setting back to 8px.

I too am using the Material Icon Theme.

[2019-02-18 20:59] jonpincus commented on #44806
Same problem here.  This is relatively-new behavior - I remember being able to expand successfully in 2018, not sure when it changed.

[2019-02-18 21:15] #68883 closed

[2019-02-18 21:19] roblourens commented on #67485
I think another case of https://github.com/Microsoft/vscode/issues/67768

[2019-02-18 21:20] xblitz commented on #68918
I also have the same issue

[2019-02-18 21:43] roblourens commented on #68385
Maybe related to https://github.com/Microsoft/vscode/issues/65319

[2019-02-18 21:51] dutzi opened #68943 "Alt+Click on Explorer file panel header should collapse all folders"
Hi all,

I think the behavior should be the same as it is when Alt+Clicking a folder (i.e., it collapses all expanded folders within it).

![image](https://user-images.githubusercontent.com/927310/52977916-d1a8da00-33d7-11e9-8d42-6c8aefa5cefb.png)

So if I Alt+Click on WLA-RN-DOM and then click it again, `android` and `app` folder should be collapsed.

[2019-02-18 21:53] dutzi commented on #68943
I don't think this is a duplicate #18109 since it's not *adding* a component to the view, it just takes a familiar behavior and applies to other view components.

[2019-02-18 21:57] iciclesoft commented on #68351
@isidorn Yes, I can. The screenshot below shows the difference in the order of the folders between the content of the `.code-workspace` file within the latest insiders, in this case there are also no extensions active. Changes are not shown in VSCode until it is restarted.

![folderorderinsiders](https://user-images.githubusercontent.com/7295446/52978156-5d1e6d00-33d0-11e9-944a-a81989790b97.png)

[2019-02-18 22:14] joshsweaney commented on #68896
Also having this issue. No extensions installed, no themes. Been experiencing this even after a fresh install. v1.31.1, Windows 10.

[2019-02-18 22:18] roemhildtg commented on #68820
Confirmed, switching tabs back and forth fixes the issue temporarily as @AlansCodeLog noted.

[2019-02-18 22:41] gmertk commented on #68812
Hey @alexr00,
Are you working on this? If not, can I give it a shot?

[2019-02-18 22:48] sanket-bhalerao commented on #68896
The issue resolved after latest update in vsc insiders.

[2019-02-18 22:53] OiYouYeahYou commented on #68386
@gjsjohnmurray Is the VSCode team committed to providing long term support for the split JSON explorer? With it's ability to quickly switch between Global and Workspace settings.

Because with all of the recent updates I've had to troubleshoot and/or change my workflows over these "Improvements". Like with [the panel location](https://code.visualstudio.com/updates/v1_29#_panel-position-button-to-c

[2019-02-18 23:01] pustovalov commented on #68627
Same behavior in vscode insiders:

[code]

VS Code version: Code - Insiders 1.32.0-insider (bbe40c8cb0901c439b3b61221a0197fb6723783e, 2019-02-18T10:48:16.325Z)
OS version: Darwin x64 18.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8259U CPU @ 2.30GHz (8 x 2300)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: enabled<

[2019-02-18 23:26] SynderBlack commented on #60010
I can reproduce this, no gutter icons and no "M" icon on modified files (in the explorer view, the M appears on the SCM view) when using a link. Everything works properly when the actual path is opened instead.

[2019-02-18 23:36] hoehrmann opened #68944 "Context menu expands under cursor on Linux"
Issue Type: <b>Bug</b>

I am using Linux Mint 19.1 xfce edition.

When I position the cursor over something and press the »right-click« key on my notebook's touchpad, the context menu quite often expands under the cursor even if I do not move the cursor at all. When I then release the key, the editor performs the action "selected" from the context menu.

But there is no chance to select anything.

[2019-02-19 01:08] philn16 commented on #66929
https://github.com/Microsoft/vscode/issues/21773

[2019-02-19 01:27] luozt commented on #68598
Ok, I see. But I still not support this design as `refresh explorer` feature does not mean to open the last closed file.

[2019-02-19 01:43] Onion-Shen commented on #68634
The react native tools extension is installed in 2017, the node debug extension is a dependency of it.I don't remember  node debug extension is installed at VSCode before I installed react native tools extension. The node debug extension show again in extensions after an updating of VSCode at someday.

[2019-02-19 01:44] ccpacillos commented on #62698
I have a very similar issue. I have been following this thread and checking it every single day.
From what I have observed, if you have VSCode app already running, calling `code .` from wsl will return immediately.

[2019-02-19 01:44] abbychau opened #68945 "Add `open in new window` button/option after doing a git clone"
After doing `git clone`, it will ask if you want to open the repository.
If users try to open, it will use the current windows (and ask if users need to save unsaved documents).

If users cancelled the operation because users want to continue editing, then cloned repository has to be opened manually later(like finish editing or open a new vscode windows manually).

It will make this case better by

[2019-02-19 01:45] maurodelazeri commented on #5240
+1

[2019-02-19 01:53] KexyBiscuit commented on #68925
Dup of #21189

[2019-02-19 02:10] roblourens opened #68946 "Opening explorer viewlet opens the selected file"
I thought https://github.com/Microsoft/vscode/issues/68227 was about this, but the OP says that one's fixed.

- Select a file in the explorer
- Close all open files
- Collapse all open folders in the viewlet
- Open any other viewlet
- Open the explorer
- The previously selected file is opened again, and folders are expanded to reveal the selected file (I think that's what #68227 was saying)

I thi

[2019-02-19 02:14] CrazyF-wind opened #68947 "console crash"
Issue Type: <b>Bug</b>

1. open vs code
2.open console
3.input "测试试试试试，测试试试试试试bug"
4.press keyboard enter
5.console crash

VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:16:38.656Z)
OS version: Darwin x64 18.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz (8 x 2800)|
|GPU Status|2d_canvas:

[2019-02-19 02:16] charlesg99 commented on #58851
It is fixed on 1.31.1

[2019-02-19 02:17] #58851 closed

[2019-02-19 02:37] Yzrsah opened #68948 "Can't use ${env:HOME} or ${workspaceFolder} with markdown.styles setting"
**Feature/Bug**

I'd like to specify `${workspaceFolder}` in the path for `markdown.styles` setting

This would allow to specify a project-specific `markdown.styles` .css

The ${vars} can't be used, so there's no way to configure project markdown styles.

[2019-02-19 02:43] ChangeZhang opened #68949 "扩展宿主意外终止"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/visual-studio-code.

[2019-02-19 02:44] #68949 closed

[2019-02-19 02:46] ChangeZhang opened #68950 "扩展宿主意外终止"
- VSCode Version:  1.31.1 (1.31.1)
- OS Version: mac os Mojave version 10.14

Steps to Reproduce:

1.
![image](https://user-images.githubusercontent.com/6948367/52986724-86bcb000-3433-11e9-8889-7eeb31586640.png)

2.
![image](https://user-images.githubusercontent.com/6948367/52986732-90461800-3433-11e9-8595-3a910e142ab2.png)

Does this issue occur when all extensions are disabled?: Yes/No

[2019-02-19 02:55] xen22 opened #68951 "API for switching activities on Activity Bar"
Extensions can now use the Activity Bar on the left to place their UI in a separate activity tab. However it doesn't seem to be possible to switch the active activity programmatically.

One example that comes to mind is the Test Explorer UI extension, which lists the tests present in the current folder. It would be really great if when I want to run all tests for example, I could simply press the

[2019-02-19 02:55] Yzrsah commented on #41404
This feature is important because it's easy to _install the wrong extension_

There may be 2 extensions available:
- One from 2017
- One from 2019.

The 2017 one just happens to be unmaintained, broken, and consume a bunch of CPU. But I can't see that, so I make the mistake and install the old one.

In order to avoid this, I click on *every* repository every time to check the dates for every exten

[2019-02-19 02:56] Yzrsah commented on #41404
This feature is important because it's easy to _install the wrong extension_

There may be 2 extensions available:
- One from 2017
- One from 2019.

The 2017 one just-so-happens to be unmaintained, has become broken, and consumes massive CPU.
But I can't see that, so I make the mistake and install the old one.

In order to avoid this, I realized that I need to click on *every* repository every tim

[2019-02-19 02:57] #68947 closed

[2019-02-19 02:57] CrazyF-wind commented on #68947
it is may be my system's problem.

[2019-02-19 02:57] Yzrsah commented on #41404
This feature is important because it's easy to _install the wrong extension_

There may be 2 extensions available:
- One from 2017
- One from 2019.

The 2017 one just-so-happens to be unmaintained, has become broken, and consumes massive CPU.
But I can't see the date for `Last Updated`, so I make the mistake and install the old one.

In order to avoid this, I realized that I need to click on *ever

[2019-02-19 03:02] byyxx128 commented on #68950
Translation of the title:

[2019-02-19 03:03] DraCod opened #68952 "终端清除"
Issue Type: <b>Bug</b>

win10操作系统，打开vscode终端，打开网易有道词典，点击利用有道词典的截屏翻译功能，然后在vscode的终端位置右键鼠标，才会显示可以清除终端的信息

VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:20:54.427Z)
OS version: Windows_NT x64 10.0.14393

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-8100 CPU @ 3.60GHz (4 x 3600)|
|GPU Status|2d_canvas: enabled<br>ch

[2019-02-19 03:07] itowlson opened #68953 "Webview shows string 'null' if enableScripts is true"
Issue Type: <b>Bug</b>

When I create and reveal a webview with `enableScripts` set to true, it displays `null` at the top left.

Here is a function to create a simple webview:

[code]

When I call this from my extension, I see:

![image](https://user-images.githubusercontent.com/865538/52987517-4162a780-3460-11e9-9156-0974b2996b57.png)

If I change `enableScripts` to `false` and try again, I get

[2019-02-19 03:09] byyxx128 commented on #68952
大哥，我都没看懂……你让一帮子老外用翻译怎么看……而且老外也不用有道词典……你看看有没有更容易重现的方式，尽量不涉及特定软件的，可以上图说明。
***
### **Cannot understand, unable to translate.**

[2019-02-19 03:11] #68125 closed

[2019-02-19 03:11] #68798 closed

[2019-02-19 03:24] klick-barakgall commented on #68126
@isidorn in #68691 the new file textbox doesn't appear, and the file can not be created, no editor window is opened (if I understand correctly...)

If my impression is correct this is very different symptomatically from my issue (although maybe you have determined that the underlying issue is somehow the same, and fixing one issue will fix the other?)

Could you elaborate on how that task is relat

[2019-02-19 03:45] roblourens commented on #68176
I think this is actually a tree bug because the tree fires `onDidChangeSelection` multiple times. It also reproes on the explorer (use alt+click)

[2019-02-19 03:48] #68134 closed

[2019-02-19 04:01] yantrab opened #68954 "Debuge not workink properly"
- VSCode Version:
- OS Version:
Version: 1.31.0 (system setup)
Commit: 7c66f58312b48ed8ca4e387ebd9ffe9605332caa
Date: 2019-02-05T22:35:56.624Z
Electron: 3.1.2
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.17763
Steps to Reproduce:

1.Start debugging
2.wait to to breakpoint
3.vscode stoped, but not tracking to breakpoint location.

![image](https://user-images.githubu

[2019-02-19 04:21] roblourens commented on #68205
@Mestika this is actually the expected behavior, although it might have changed with 1.31. You are saying "search inside this folder and also search `*.extension`". You can combine them like `./folder/**/*.extension` to only get files of that extension in that folder.

@kompot I have https://github.com/Microsoft/vscode/issues/26574 to track that issue

[2019-02-19 04:21] #68205 closed

[2019-02-19 04:24] sanmaopep commented on #68943
I'm looking forward to this feature too

[2019-02-19 04:25] #46351 closed

[2019-02-19 04:28] #49928 closed

[2019-02-19 05:00] sagarthakore commented on #68741
I have the same issue. The colors in vs code IDE are appearing "purpleish" on the external monitor. I am running Ubuntu 18.10. The colors look correct on the laptop monitor, but when I drag the window over to the external monitor, the blues appear purple. I can clearly make out the difference in colors. This only happens with the VS Code windows and not with other applications.

[2019-02-19 05:00] ccpacillos commented on #62698
Following the issue of @weikinhuang, adding a function that calls `code` with `| cat` is my temporary solution for now. I just really hate doing `Ctrl+c` whenever I run `code`.

I wanted to retain the use of the `code` command instead of another function name so I did the following:
1. From wsl, I renamed `/usr/bin/code` to `/usr/bin/vscode`. This is a symlink that points to the vscode shell scrip

[2019-02-19 05:06] testforstephen opened #68955 "Debugging should switch focus to new stopping thread after exec 'continue' command"
Here is the vscode insider version where i tried java multiple threads program. It still has similar switching problem as the issue #55862 when exec `continue` operation.

[code]

Below is the java program ThreadTest.java i used. Add two breakpoints at line 14 and line 27. When exec `next`, it doesn't auto switch thread focus, this is expected. But when exec `continue`, the thread focus always sta

[2019-02-19 05:07] testforstephen commented on #65920
@isidorn Opened a new issue https://github.com/Microsoft/vscode/issues/68955 to continue discussion.

[2019-02-19 05:20] octref commented on #68891
Does this reproduce with `code --disable-extensions`?

If so, what's the output from Help -> Toggle Developer Tools and from Output -> HTML Language Server?

[2019-02-19 05:43] kasara614 commented on #68296
ok, thanks for the reply.

On Mon, Feb 18, 2019 at 4:54 PM João Moreno <notifications@github.com>
wrote:

[2019-02-19 06:01] herrdu opened #68956 "不同的项目自动使用不同的lint 插件"
我会参与很多项目的开发，不同的项目使用了不同的lint规则，有使用:"standard"、"airbnb-lint","prettier" ，我希望可以根据不同的项目配置，在保存的时候，使用不同的format 插件。

[2019-02-19 06:06] bibendi commented on #68556
I tried this exploration build today. The blur has disappeared now!

[2019-02-19 06:11] brunoscopelliti commented on #68896
I've tried latest (bbe40c8cb0901c439b3b61221a0197fb6723783e) insiders this morning... sadly I can still replicate the problem.

After first time I reproduced the issue today, I started a video registration, and then continued to work normally. I was able to see the exact moment in which the error occurs. Apparently I didn't any special, I just cut a piece of JSX from a React component.
This made m

[2019-02-19 06:14] TUSF commented on #1031
A year since the last post, and ChromeOS (at least on some models) can now run Linux applications in a container by just enabling a setting. The feature is still in beta (it's even displayed as "Linux (Beta)" in the settings), but VS Code appears to work pretty great on my end.

My only issue is that occasionally (usually when switching windows) the app goes crazy and starts typing a single letter

[2019-02-19 06:21] brunoscopelliti commented on #68896
@joshsweaney Could you share a bit more information about the project you are working? JavaScript? Typescript? Perhaps a React application? Thank you.

[2019-02-19 06:32] bpasero commented on #68937
@Oceanedge can you paste the filename here?

[2019-02-19 06:34] bpasero commented on #68950
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2019-02-19 06:34] #68952 closed

[2019-02-19 06:34] #68956 closed

[2019-02-19 06:35] bpasero commented on #68720
@johnspurlock you will have to use absolute patterns, e.g. `dist/**`

[2019-02-19 06:49] Andrianina007 commented on #68954
I had also this issue.
I revert back my version to 1.30.2 and will be back until this issue will be fixed :)

[2019-02-19 06:50] lonix1 commented on #68127
@roblourens When is the next release planned for? Debugging has become a colossal pain for many of us.

Appreciate you looking into this!

[2019-02-19 06:52] MSiliunas commented on #68913
I got the update, it's working now. Thanks

[2019-02-19 06:52] #68913 closed

[2019-02-19 07:07] shhider commented on #68367
Mark. I am accustomed and need to use the old 'clear search results'. How about adding the setting item to control its behavior?

[2019-02-19 07:13] chriswiley commented on #68776
I am having the same issue. I disabled all extensions to see if any of them were affecting it, but the only way to get the editor back to normal is to close the outline view. I think when the outline reference is created it moves the cursor to that reference.

[2019-02-19 07:23] williamparry commented on #68691
Is [`CollapseAction`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/browser/viewlet.ts#L178) deprecated in favour of [`CollapseAction2`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/browser/viewlet.ts#L198)?

[2019-02-19 07:31] weinand commented on #68954
/duplicate #68616

[2019-02-19 07:31] #68954 closed

[2019-02-19 07:32] weinand commented on #68954
Workaround: just add `"smartStep": false` to your debug configuration.

[2019-02-19 07:40] joeoe opened #68957 "Including subviews when navigating between views"
**Problem**
Navigating between views using the commands 'navigate to the view on the left' etc can be confusing as it involves jumping over certain subviews.

For example if the focus is on the right window of a split integrated terminal and I execute 'navigate to the view on the left' I expect to land on the left terminal, not on the sidebar (or not move at all if the sidebar is on the right). I

[2019-02-19 07:51] anlupat commented on #68741
I discovered that version 1.31 now supports color profiles. So you could check if the color profile is the same for both monitors. To bad the release notes did not mention this.

[2019-02-19 07:54] joaomoreno commented on #68229
That shall be fixed with https://github.com/Microsoft/vscode/issues/49054

[2019-02-19 07:54] chrmarti commented on #68531
@peni4142 @grizzlysol @sg-chrishasz I have added a fix for today's insiders build, could you give that a try and let me know if that fixes the problem with the setting set to 'override'? Download: https://code.visualstudio.com/insiders/

[2019-02-19 07:55] davidpomerenke commented on #50386
Still an issue.

Would be nice if VSCode just used the default file manager or if there was at least a setting for changing this manually. Nautilus can be used, but it does not integrate well in KDE, it sometimes is quite annoying.

[2019-02-19 07:57] dibalavs opened #68958 "linux: invalid location of .vscode folder"
Currently on my lnux (ubuntu) distributive  I see a garbage in my home folder.
~/.vscode/
But XDG specification requires some fixed locations for different cases:

**$XDG_CONFIG_HOME**  (default $HOME/.config/) for configuration files
**$XDG_DATA_HOME** (default $HOME/.local/share) for user specific files
**$XDG_CACHE_HOME** (default $HOME/.cache) for cache files.
whole list of requirements can be

[2019-02-19 07:59] isidorn commented on #68285
https://github.com/Microsoft/vscode/issues/52713

[2019-02-19 08:01] trondarild commented on #67803
I have the same issue on Ubuntu 18.04, vsc 1.30. The terminal goes dark after screensaver, but goes back to normal when flipping between color themes.

[2019-02-19 08:06] gusbemacbe commented on #68958
The `~/.vscode` is not garbage, it is a folder which stores and keeps the extensions. There is already a folder called `Code` in the `~/.config/` which stores backups, caches, cookies, logs, snippets, workspaces and user config

[2019-02-19 08:16] dibalavs commented on #68958
As I understand  it should be next locations:

**$XDG_DATA_HOME**/vscode - for extensions, logs
**$XDG_CONFIG_HOME** /vscode - for configurations
**$XDG_CACHE_HOME**/vscode - for caches, backups...

[2019-02-19 08:19] svipben commented on #68764
@alexandrudima It happens to different files, and it happened to me a second time and when I opened developer tools I saw exactly the same problem with listeners. I don't know how to reproduce it, why it happens, but what I can say it happens to different files, I will keep you updated with more info if I will run into this problem again.

[2019-02-19 08:22] dibalavs commented on #68958
I just checked and found cache location at:
**$XDG_CONFIG_HOME** /Code/Cache*
Looks like it is also incorrect

[2019-02-19 08:28] alexr00 commented on #68812
@gmertk, I'm not working on it right now, please do give it a shot! Starting info is in the comment [above](https://github.com/Microsoft/vscode/issues/68812#issuecomment-464655513).

[2019-02-19 08:30] Ky6uk opened #68960 "Can't assign hotkey to create new file/folder"
Issue Type: <b>Bug</b>

The latest insider build doesn't allow me to assign hotkeys to create new file or directory. I did use hotkeys <kbd>A</kbd> and <kbd>Shift + A</kbd> for years but for some reasons it will broken since VSCode `1.31.0`.

I think the issue related to #68161. Instead of fixing the bug that fix just hides input field for typing new file/folder name.

[code]

Keyboard navigation

[2019-02-19 08:30] isidorn commented on #68127
@lonix1 The next release is planned for in about 2 weeks.
@roblourens looking at the code we do not treat frame.source.presentationHint and frame.presentationHint equally.
For example when checking what frames to collapse together we only check the presentationHint on the source [here](https://github.com/Microsoft/vscode/blob/9a8f795b44b23af2ae13b4abe4b38caa04c199dc/src/vs/workbench/contrib/debug/

[2019-02-19 08:33] gusbemacbe commented on #68958
Here, on my Manjaro Linux, everything worked.

But if it is important to follow the standard specifications required by GNOME and KDE, let the developers like @bpasero know.

[2019-02-19 08:33] joaomoreno commented on #63194
Current workaround: copy fonts to `/usr/share/fonts`

[2019-02-19 08:34] dibalavs commented on #68958
on my Ubuntu 18.04, locations are different

[2019-02-19 08:34] Mestika commented on #68205
@roblourens Since I started using VS Code which was about 8 month ago, I've been using the search pattern I described (`./folder,*.extension`) which has worked perfectly up until the update.

I'll try out your recommendation for the new search pattern and see how that goes.

[2019-02-19 08:35] kgbph opened #68961 "Export/import user settings and extensions"
Can we have the feature to export and import settings, same with visual studio?

[2019-02-19 08:39] kgbph commented on #68961
No this is not a duplicate.
Both of the issues are closed for being duplicate of (https://github.com/Microsoft/vscode/issues/2743), which asks for settings synchronization support.
What I ask for is a file with all my settings and extension, so I can make backup of my current settings.

[2019-02-19 08:52] sanket-bhalerao opened #68962 "Splitview: Support customizable sash width"
Issue Type: <b>Feature Request</b>

currently i am facing  a lot of trouble while resizing the spit-windows as the resize cursor only appears on the tiny border of the window. I would like to have a wider target for the resize cursor. it could be the tabless entire tabless part of the tab-bar.

VS Code version: Code - Insiders 1.32.0-insider (a75cf6e4b4317de0bf38284af255bdf0089deb68, 2019-02-19T06

[2019-02-19 08:52] joaomoreno commented on #68805
The file goes through the build over here: https://github.com/Microsoft/vscode/blob/a3dc4be0e016ac65a7549f45af0ee85d547e01cf/build/gulpfile.vscode.js#L61

:clap: !

[2019-02-19 08:53] joaomoreno commented on #68701
Where are you installing VS Code in?

[2019-02-19 08:54] isidorn commented on #68645
I can also reproduce this.
@alexandrudima the issue here is the following, mouse middle click in the open editors area will close the editor. Once an editor closes, another editor becomes active and gets focus. Now since that editor is focused the middle click will also paste content into the editor.
Should the editor listen only on middle clicks that are in the editor area?
I tried preventing the

[2019-02-19 08:54] joaomoreno commented on #58428
Merging this with #47841

[2019-02-19 08:54] #58428 closed

[2019-02-19 08:55] joaomoreno commented on #68736
@chrmarti I'll file an issue to the CDN.

[2019-02-19 08:59] PunchyRascal opened #68963 "100% core CPU usage withou apparent reason"
Issue Type: <b>Bug</b>

I do not know exactly how to reproduce this, but several times a day, after  while of running code, my coputer starts spinning the cpu fan and code is the culprit.

I believe this has been happening since the last update.

![image](https://user-images.githubusercontent.com/821272/53002448-01ce9800-342d-11e9-8eb6-accb53e10391.png)

VS Code version: Code 1.31.1 (1b8e8302e4050

[2019-02-19 09:00] karevn commented on #68946
I've got this issue too, same steps to reproduce.
OS: macOS,
Version: 1.31.1

[2019-02-19 09:01] #68736 closed

[2019-02-19 09:03] joaomoreno commented on #68507
Caused by #68038

[2019-02-19 09:03] #68507 closed

[2019-02-19 09:06] carestad commented on #65816
I am seeing this as well, in Ubuntu. I believe it is related to Chrome/Chromium having difficulties detecting screen changes after a suspend/resume cycle, where one might dock/undock a laptop and change monitors (going from a dual monitor setup to just using the built-in for instance).

[I reported a bug with chromium a wile back](https://bugs.chromium.org/p/chromium/issues/detail?id=845414) regar

[2019-02-19 09:06] isidorn commented on #68627
@pustovalov thanks for steps and for trying with insiders, however I can not reproduce on my machine. Do you have some setting like explorer.autoReveal to false or something like that?

Looking at the errors stack my assumption is that the issue happens [here](https://github.com/Microsoft/vscode/blob/8569be62725fdedcf33fcb9a8a36baafc6e0d76c/src/vs/workbench/contrib/files/electron-browser/views/exp

[2019-02-19 09:08] joaomoreno commented on #68846
Do you have 2 instances, each pointing to a separate user data dir?

[2019-02-19 09:10] bpasero commented on #68963
To find out more about this issue, we need to get at the process that is causing the high load. VS Code creates multiple processes, each with different tasks.

When Code is consuming lots of CPU, please run "`code --status`" from the command line (or "`code-insiders --status`" if you are using VS Code Insiders edition).

Please attach the output of this command to this issue. Thanks!

[2019-02-19 09:12] bpasero commented on #68958
Add your comments to https://github.com/Microsoft/vscode/issues/3884

[2019-02-19 09:12] #68958 closed

[2019-02-19 09:14] alexr00 commented on #68920
If you are using tasks to run your tests you can solve this with input variables. https://code.visualstudio.com/docs/editor/variables-reference#_input-variables

[2019-02-19 09:14] #68920 closed

[2019-02-19 09:22] isidorn commented on #68960
This is because the tree is eating up those keybindings. Forwarding to @joaomoreno

[2019-02-19 09:22] sandy081 commented on #68605
@bpasero You will see the viewlet getting active when you start dragging it, not when mouse down.

https://github.com/Microsoft/vscode/blob/9ef682db65812bfbd5c45cc4472db73eb1855ba0/src/vs/workbench/browser/parts/compositeBarActions.ts#L509-L512

[2019-02-19 09:23] isidorn commented on #68598
This is probably fixed now. Try it in tomorrow's vscode insiders. Thanks!

[2019-02-19 09:25] isidorn commented on #68132
Fixed. You can try it out in wednesday vscode insiders

[2019-02-19 09:25] #68132 closed

[2019-02-19 09:26] ashclarke commented on #68367
This definitely should be converted to a setting or reverted. I don't understand how the changes in #62952 got through. The button says "Clear Search Results", not clear all search settings.

[2019-02-19 09:27] s-KaiNet commented on #68531
@chrmarti I'm `node-sp-auth` author, I tested insiders build with SPGo extension and everything looks good with default `override` setting! Thank you!

Let's wait for confirmation from other guys as well.

[2019-02-19 09:27] isidorn commented on #67970
I have decided to go back to the old bheavior: that the selection and focus are more aligned.
Please try it out in wednesday's vscode insiders and let me know what you think of the behavior.

[2019-02-19 09:27] #67970 closed

[2019-02-19 09:28] sandy081 commented on #68468
You have to read the `package.json` of the extension to get the identifier

https://github.com/Microsoft/vscode/blob/9ef682db65812bfbd5c45cc4472db73eb1855ba0/src/vs/platform/extensionManagement/node/extensionManagementService.ts#L780-L796

You have to be careful if you read extensions by yourself, that there could be two different versions (folders) for the same extension.
Why can't you use `IExte

[2019-02-19 09:28] bpasero commented on #68605
@sandy081 oh yeah now I see it. I do not recall why this was added.

[2019-02-19 09:30] isidorn commented on #68201
@eamodio Thanks a lot for feedback, however I just came back from vacation and am catching up with a bunch of issues. Will be able to only get back to you next milestone probably.

[2019-02-19 09:32] testforstephen commented on #68487
Put these Java code actions into quick fix, they are possibly confused with the normal quick fix.

Generally Quick-fix appears associated with a particular highlighting (a warning or an error).
For example, when hover at line 6, it shows a quick fix saying "Create getter and setter for 'age'".
![image](https://user-images.githubusercontent.com/14052197/53002436-a53c9e80-3467-11e9-9d63-c7494ecdc8ae

[2019-02-19 09:45] isidorn commented on #67972
I can not repro this.
Also I believe that us aligning selection and focus should take care of this.
Thus closing. Please let me know if you still see this from wednesday and than we can reopen and investigate what is going on.

[2019-02-19 09:45] #67972 closed

[2019-02-19 09:48] burtek commented on #68459
Same here.
![image](https://user-images.githubusercontent.com/2940958/53005569-d13e2c80-3433-11e9-8cd1-b3266d88b8dc.png)
![image](https://user-images.githubusercontent.com/2940958/53005450-963bf900-3433-11e9-9da7-897403d4b650.png)

[2019-02-19 09:51] sanmaopep commented on #68943
Let me have a try on this, thanks

[2019-02-19 09:53] isidorn commented on #68772
@prfmansell yes I agree with you this has changed.

@joaomoreno the issue is that the old tree had a selection array which was dependent on the order user added the elements to the selection. While the new tree always gives the same selection array no matter how the user created that selection.
This is fine for me and seems to only be the problem in this compare corner case. Since there is a worka

[2019-02-19 09:55] sandy081 commented on #68699
@aeschli Is it possible that `extensionData` of a theme can be undefined?

https://github.com/Microsoft/vscode/blob/6002b5d43c2bf45b284d01572a56abd451288441/src/vs/workbench/contrib/extensions/electron-browser/extensionsActions.ts#L1128

[2019-02-19 09:55] isidorn commented on #68943
We will accept a PR only if it is nice and simple. No hacks and workarounds.

[2019-02-19 09:56] #68874 closed

[2019-02-19 09:58] sandy081 commented on #68460
I understand that, but for testing user can manipulate the code. For eg: change following to return true always

https://github.com/Microsoft/vscode/blob/ae5bb9072496828a3336d3b59f956d1f1975bfc1/src/vs/workbench/contrib/extensions/node/extensionsWorkbenchService.ts#L184-L186

[2019-02-19 09:59] isidorn commented on #44806
Afaik this is not new behavior. You were never able to expand objects after a debug session finished if you did not previously expand them.
If you want to prove me wrong let me know for what exact version this was working. Thanks!

[2019-02-19 09:59] sandy081 commented on #12185
Sorry, no particular time frame yet. But will update the milestone when it is planned.

[2019-02-19 09:59] #68894 closed

[2019-02-19 10:00] joaomoreno commented on #68903
#30562

[2019-02-19 10:00] #68903 closed

[2019-02-19 10:01] joaomoreno commented on #68847
#65787

[2019-02-19 10:01] #68847 closed

[2019-02-19 10:01] joaomoreno commented on #68906
/duplicate #47841

[2019-02-19 10:01] #68906 closed

[2019-02-19 10:01] sandy081 commented on #68634
@Onion-Shen I think you are seeing the same issue as https://github.com/Microsoft/vscode/issues/66774

[2019-02-19 10:01] #68899 closed

[2019-02-19 10:01] #68634 closed

[2019-02-19 10:02] joaomoreno commented on #68571
Right, given that native menus wouldn't work... I'll just close this as designed.

[2019-02-19 10:02] #68571 closed

[2019-02-19 10:02] joaomoreno commented on #68437
Do you have any keybinding configured to that key?

[2019-02-19 10:03] joaomoreno commented on #68621
https://github.com/Microsoft/vscode/issues/68736

@xereda Can you try again? This download should be fixed by now.

[2019-02-19 10:03] sandy081 commented on #68605
Do you think it makes sense to remote this behaviour? I do not think viewlet needs to be enabled while being dragged?

[2019-02-19 10:03] #68621 closed

[2019-02-19 10:04] joaomoreno commented on #68916
https://github.com/Microsoft/vscode/issues/68849

[2019-02-19 10:04] #68916 closed

[2019-02-19 10:04] joaomoreno commented on #68849
Also <kbd>Escape</kbd>

[2019-02-19 10:06] joaomoreno commented on #68924
https://github.com/Microsoft/vscode/issues/49054

[2019-02-19 10:06] #68924 closed

[2019-02-19 10:06] joaomoreno commented on #68744
@outoftime How about `code --wait`?

[2019-02-19 10:07] joaomoreno commented on #68774
https://github.com/Microsoft/vscode/issues/67643

[2019-02-19 10:07] #68774 closed

[2019-02-19 10:07] joaomoreno commented on #68880
Not sure...

[2019-02-19 10:09] joaomoreno commented on #68172
Can you show me what's on the git output? Command palette, `Git: Show Git Output`

[2019-02-19 10:10] joaomoreno commented on #68921
@paullyvenne

Do you mean from the Windows File Explorer?

[2019-02-19 10:10] joaomoreno commented on #68179
Alright. Closing for now since you're unblocked.

[2019-02-19 10:10] #68179 closed

[2019-02-19 10:11] isidorn commented on #68351
I can reproduce this also on the mac.
The issue here is that the `contextService` does not fire a `onDidChangeWorkspaceFolders` event when the order of workspace roots is changed in the code-workspace since. Since the order changed I would expect this event to arrive.
Thus forwarding to @bpasero and @sandy081

[2019-02-19 10:11] bpasero commented on #68605
@sandy081 if I understand the comment correctly this was added because people clicked on the activity icon, accidentally started to drag and then wondered why the click would not activate the viewlet.

[2019-02-19 10:11] mfurseroberts opened #68965 "Deleting a file with coding errors doesn't clear colour coding of menu tree"
• Create file in sub directory
• Create error
--- folder is shown as red
• Delete file
--- folder is still shown as red
• Open and close folders in attempt to refresh things
--- redness bounces up and down the tree never clearing

[2019-02-19 10:12] joaomoreno commented on #68918
@shootermv @xblitz Can you show me a screen recording?

[2019-02-19 10:12] joaomoreno commented on #68925
https://github.com/Microsoft/vscode/issues/21189

[2019-02-19 10:12] #68925 closed

[2019-02-19 10:13] joaomoreno commented on #68944
https://github.com/Microsoft/vscode/issues/65787

[2019-02-19 10:13] #68944 closed

[2019-02-19 10:14] bpasero commented on #68468
@sandy081 I am in the electron-main process, I am migrating extension global state from local storage to the SQLite DB and we used to lowercase all keys in the old solution. Now in order to migrate properly I have to know the real value of the extension storage ID which is case sensitive.

[2019-02-19 10:15] joaomoreno commented on #68627
@isidorn If you had a `tree.hasNode` and that returned `false`, what would you do to reveal that file?

[2019-02-19 10:16] bpasero commented on #68351
@sandy081 could be the case of a missing file event, if so, please forward back to me.

[2019-02-19 10:17] joaomoreno commented on #68960
https://github.com/Microsoft/vscode/issues/68233

[2019-02-19 10:17] #68960 closed

[2019-02-19 10:18] joaomoreno commented on #68843
#34385

[2019-02-19 10:18] isidorn commented on #68351
@bpasero The file event does not seem to go through. if I start out of source with --verbose flag.

[2019-02-19 10:21] isidorn commented on #68627
@joaomoreno if the tree does not have a node I would refresh the node's parent.
Did you try to repro this?

[2019-02-19 10:22] xereda commented on #68621
@joaomoreno Not yet resolved.

[2019-02-19 10:23] bpasero commented on #68351
@sandy081 I assume you setup custom file watching for the workspace file right? Where is that code? Does it check for changes?

[2019-02-19 10:25] joaomoreno commented on #68627
This sounds like another argument for `resolveTo`.

[2019-02-19 10:25] Ky6uk commented on #68960
@joaomoreno @isidorn Issue #68233 is a feature request when this issue is the bug. Does that mean the impossibility to assign hotkeys to `explorer.*` commands was designed feature? If yes I'll just use `v1.30` of VSCode awaiting this feature to release.

[2019-02-19 10:28] joaomoreno commented on #68409
What does `git status -u -z` return in that large workspace?

[2019-02-19 10:30] pustovalov commented on #68627
I have `explorer.autoReveal`: `true`

![](https://monosnap.com/image/wo0ON7O4UMxIqLoPYt3Va9VBbY2HNt)

video:
https://monosnap.com/file/fBlMNzs4NF07vQXiVDVBSgppz8G7q5

repo:
https://github.com/pustovalov/test

[2019-02-19 10:30] isidorn opened #68966 "Find in folder broken for MR workspace"
VSCode insiders, mac

1. Any multi root workspace, right click find in folder on any folder inside a root
2. Search viewlet opened but files to inlcude has funky content

./vscode/function(e,t){if(e.scheme===t.scheme&&d(e.authority,t.authority)){if(e.scheme===r.Schemas.file){const s=n.relative(e.path,t.path);return a.isWindows?i.toSlashes(s):s}return n.posix.relative(e.path||"/",t.path||"/")}}

![

[2019-02-19 10:30] #68400 closed

[2019-02-19 10:30] gjsjohnmurray commented on #68525
@sandy081 I can no longer reproduce the original issue so am closing this. Sorry to have wasted your time.

[2019-02-19 10:30] #68525 closed

[2019-02-19 10:31] pustovalov commented on #68627
Seems like when I switch to second branch some method remove nodes from `this.nodes` and when I switch back to main branch these nodes not create again

success case:
![](https://monosnap.com/image/9ODVk68PWcZUIHMqhDq2wyVb4Qe1H7)

failed case:
![](https://monosnap.com/image/SXre7XbJt9s3sEJKj0MqxZNj0DCudf)

[2019-02-19 10:35] emilime commented on #34385
@Leehom23   Starting from version 1.32 I also encounter the same message on Windows 10 behind proxy.
Never had problems, always behind **the same proxy**, with previous versions of VSCode.
As I said in issue #68843 I'm also unable to search/install extensions inside VSCode behind proxy.

Everything works properly without proxy.

[2019-02-19 10:35] thomas66690801 opened #68968 "possible bug on enter and tab button"
Issue Type: <b>Bug</b>

I recently experiencing problems when I'm working on md file.
which after a while, return button, tab no longer works.

When this happened, i resorted into switching off code and restarting it again, until the next one happened.

VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:16:38.656Z)
OS version: Darwin x64 18.2.0

<details>
<summar

[2019-02-19 10:37] isidorn commented on #68965
These are the error decorations, forwarding to @jrieken

[2019-02-19 10:39] joaomoreno commented on #67360
Broken by c01cf1d166bf33a7efc69d3db9c7774af4ee6ea2

[2019-02-19 10:43] DanTup opened #68969 ""workspaceContains:**" throws errors (only in insiders)"
In the current Insiders build I see this when running my tests:

[code]

This doesn't happen in stable. The only place I have those globs is in `packages.json` in `activationEvents/workspaceContains`:

[code]

In the docs, there's an example that uses `"workspaceContains:**/.editorconfig"`. It's not clear from the message (`invalid use of **; must be one path component`) what's wrong.

[2019-02-19 10:48] MathiasKandelborg commented on #68610
Nice with the disable option, I'm gonna use that. Thanks for the help.

I think the default should be reversed, that would make more sense when beginning to customize - maybe it needs some guide or something along those lines... Because I'd never think that my text-editor had a replace view unless I've specifically added/enabled it.

There might be reasoning behind the current default which I'm no

[2019-02-19 10:51] XcellMiguel commented on #68776
I just had this problem and spent a few time searching for the error : Outline enabled AND Outline's Follow Cursor enabled.
If I disable the "Follow cursor" setting it does not shift the cursor when typing, even if the Outline view is opened.

[2019-02-19 10:55] eddiemf commented on #68840
I can confirm the problem happens only when executing some kind of script on integrated terminal.

### Steps to Reproduce:
1. Click on an opened file tab (auto reveal should work now)
2. Execute something like `npm start` on terminal
3. Try switching tabs again (shoudn't work now)
4. Open and close settings file (so it refreshes settings)
5. Try switching tabs again (should work properly now)

Thi

[2019-02-19 10:55] soulcm opened #68970 "Find in Folder not working if the folder is excluded in setting"
- VSCode Version: 1.31.1
- OS Version: mac

Steps to Reproduce:

1. Right click the `node_modules` folder in left sider bar and selct Find in Folder
2. Search some text that existed in `node_modules` folders
3. Be sure in settings.json, the `node_modules` need to be excluded
4. can not search any result.

The version before 1.31.1, also exclude `node_modules`, but If use Find in Folder and select

[2019-02-19 10:56] dbaeumer commented on #68971
Moving to VS Code since this doesn't seem to be a problem with the LSP node libraries.

[2019-02-19 11:04] soulcm commented on #68970
![image](https://user-images.githubusercontent.com/5706155/53010461-f608c300-3478-11e9-8975-5fc02ffcbd83.png)
Sorry, it is the button of 'Use Exclude Setting' selected, unselected it and the search works fine.

I close this issue by myself.

[2019-02-19 11:06] #68658 closed

[2019-02-19 11:09] digeomel opened #68972 "monorepo: git side panel should show only changes under workspace folder(s)"
We're working on a monorepo, and each project is in a different folder under the one repository.
I have a different vscode workspace for each project, containing only the folders that are relevant to the project.
When I work on multiple projects (so, I have more than one vscode windows/workspaces) at the same time, the Git sidebar shows me all the files that have changed (to be committed) across a

[2019-02-19 11:46] bpasero opened #68974 "Flaky integration test: completions with document filters"
From https://github.com/Microsoft/vscode/commit/4fe233c7521ba88ccb5114eea68396340f9ea75a

Seeing this fail lately quite often on Windows, e.g.: https://dev.azure.com/vscode/VSCode/_build/results?buildId=14981

[2019-02-19 11:58] MorenoMdz opened #68975 "Open and close quotes and wrap with quotes not working"
Issue Type: <b>Bug</b>

* VSCode Version: January 2019 (version 1.31)
* OS Version: OSX Mojave

Steps to Reproduce:

1. Try to quote any time it won`t add the second quote.
2. Try to wrap with quotes or double quotes it will replace the text selection with a single of the used quote.

It works fine in Windows 10, it only happens in US international, which I need because of the accents.
Other edito

[2019-02-19 12:04] outoftime commented on #68744
@joaomoreno invoking `code --wait` from the terminal opens VS Code as expected

[2019-02-19 12:06] 7cc commented on #68896
workaround, open vscode command palette and hit `ts`
![reset-ts](https://user-images.githubusercontent.com/4398901/53013405-16407e00-3489-11e9-8a40-75e3c041ed40.png)

[2019-02-19 12:28] anschluss80 commented on #68437
Ah yes, I do. Relevant entries from `keybindings.json`:
[code]
I configured this as I like to position the cursor always on editor row 1, instead to the first character in the current line (and to the first row by pressing the key again).

When I remove the above configuration, the 'home' key works as intended in git commit message text field. Thanks for pointing me to it!

[2019-02-19 12:28] #68437 closed

[2019-02-19 12:30] paullyvenne commented on #68921
Yes, win 10 too

Sent from my iPhone

[2019-02-19 12:31] alexandrudima opened #68977 "Search box wrapping is broken"
- Type in the searchbox
- Observe broken wrapping:

![broken-search](https://user-images.githubusercontent.com/5047891/53015192-b3c88d00-344a-11e9-8dfa-862555e008e3.gif)

[2019-02-19 12:33] ctcampbell commented on #68861
Same issue, running 1.31.1 on macOS 10.14.3

<img width="1446" alt="screenshot 2019-02-19 at 12 31 34" src="https://user-images.githubusercontent.com/808531/53015215-66482200-3442-11e9-89e0-30e105c30676.png">

[2019-02-19 12:34] kompot commented on #26574
This was working OK up to version 1.30.
1.31 broke this.

[2019-02-19 12:46] alexandrudima commented on #68645
@isidorn On Linux, when pressing the middle click, Electron/Chromium will automatically generate a `paste` event from the selection clipboard, so the editor receives a `paste`, not a mouse down (it doesn't listen to middle clicks outside of the editor area).

My best guess is that Electron/Chromium will emit a paste after each and every middle click and will send that event to whatever has focus.

[2019-02-19 12:54] rthier opened #68979 "Problem with .tar.gz from version 1.31.1"
The .tar.gz from version 1.31.1 is corrupted.
I can't extract the files from it.

Please check the compression.

[2019-02-19 13:00] WorldofBay commented on #66873
i submitted a PR, hope we get our indentation back asap. if you want a quick hack that also solves the comment intendation bug that started this, use @TheV360's instructions with the regex from #68978

[2019-02-19 13:08] sguillia commented on #67576
Now I'm able to set it to 40, the indent goes to 40, but the user interface shows a warning.

![bug-vscode](https://user-images.githubusercontent.com/15984272/53016395-dc05bb00-344d-11e9-995c-5638e16d79ec.PNG)

@joaomoreno I think you forgot to update `src/vs/base/browser/ui/tree/abstractTree.ts` as you did in 79b4ea2

I submitted PR #68980

[2019-02-19 13:15] Tyriar commented on #68979
@rthier where are you located?

[2019-02-19 13:26] HyiouBear commented on #57939
Is it not possible to have a special syntax instead of that "*" which matches every extensions?

[2019-02-19 13:29] monotwist opened #68981 "Window is too dark on Ubuntu"
- VSCode Version: 1.31.1
- OS Version: Ubuntu 18.04 x64

Steps to Reproduce:

1. Install Ubuntu 18.04
2. Install VS Code 1.31.1
3. Run VS Code
![scrn](https://user-images.githubusercontent.com/25460660/53018228-e1b9cb80-3462-11e9-8bfc-35af7d80c356.png)
No extensions were installed

Same problem was with Chrome 72, fixed by adding  `--use-gl=angle` to shortcut parameters

Does this issue occur when

[2019-02-19 13:30] jsavinash opened #68982 "Type check issue"
Issue Type: <b>Bug</b>

Type check is slow in typescript file.
I am working on react js project, it has ton's of file include test case and source code. if some props get updated in any of the files. i need to restart for type check error detection.

VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:16:38.656Z)
OS version: Darwin x64 18.2.0

<details>
<summary>S

[2019-02-19 13:35] vltr commented on #68621
Same error here (_yet_).

[2019-02-19 13:43] dbaeumer commented on #68487
Whatever we do I think we need to stay consistent with what we do in regards of range and diagnostics. If we use the selection for the source action the diagnostics can only overlap with the range. Otherwise we have different behavior if something is a source or quick fix action.

We never clearly specified that code actions should only be computed for the provided range but I know that quite some

[2019-02-19 13:58] dbaeumer commented on #68983
Easy to reproduce using VS Code API only:

[code]

[2019-02-19 14:03] johnspurlock commented on #68285
Ah ok, thanks!

[2019-02-19 14:11] Sharikasks opened #68984 "Emmet not working"
Issue Type: <b>Bug</b>

ul>li     When I try to expand using tab or from menu, It doesn't work.

VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:20:54.427Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-5300U CPU @ 2.30GHz (4 x 2294)|
|GPU Status|2d_canvas: enabled<br>checker_im

[2019-02-19 14:12] MohammadHamdyGhanem opened #68985 "Let VS Code users Vote on github proposals!"
Let VS Code users Vote on github proposals!
Since MS now owns github, I think it will be better to urge .NET developers to vote on features proposed in .NET repos. So, I suggest VS Code frequently shows a startup window asking the developer:

The window can also view a brief of the topic and a Yes\No links that are mapped to Like/dislike response on the topic.

You can have the user an option to s

[2019-02-19 14:12] deadcoder0904 opened #68986 "Multi Replace Shortcut F12 (or fn+F12 for Mac) doesn't work for half-selection"
Issue Type: <b>Bug</b>

This is my code -

[code]

I want to replace `Counter` by `ClassCounter` using `fn+F12`

So I select `Counter` at the top by half-selecting `CounterProps` then I press `fn+F12`, it completely selects `CounterProps` while I wanted just `Counter` to be selected.

In short, I want to replace every `Counter` occurrence with `ClassCounter` using `fn+F12`.

Currently, the only wa

[2019-02-19 14:13] johnspurlock commented on #68720
@bpasero Unfortunately `"dist/**" : true` doesn't help, can still easily reproduce this in current stable and insiders.

![image](https://user-images.githubusercontent.com/528937/53020891-90d3b400-341d-11e9-8568-728c352186cb.png)

[2019-02-19 14:15] sergiybuch opened #68987 "No Definition found for in VS Code (Project attached)"
VSCode Version: Version: 1.31.1 (system setup)
Commit: 1b8e8302e405050205e69b59abb3559592bb9e60
Date: 2019-02-12T02:20:54.427Z
Electron: 3.1.2
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.17134

Steps to Reproduce:

1. Download this project https://github.com/hiptest/hps-protractor
2. Open ../e2e-tests/display_errors/beans_test.js
3. Use Ctrl+Click/F12/Go to definit

[2019-02-19 14:26] Tyriar commented on #68979
Looks like a duplicate of https://github.com/Microsoft/vscode/issues/68621

[2019-02-19 14:26] #68979 closed

[2019-02-19 14:28] bpasero commented on #68720
Yeah, you need to use absolute glob patterns. I reopen this issue to reflect the support for matching against workspace relative paths.

[2019-02-19 14:44] johnspurlock commented on #68720
Tried `"**/dist/**": true` and even `"/Users/full/path/to/dist/extension.js": true` with no success.  Cleared edit history before each test, and the `dist\extension.js` file still appears in quick open after the test.

My guess is the quick open logic always contains recently opened files, regardless of these exclusion filters.

[2019-02-19 14:54] joaomoreno commented on #67576
@sguillia Thanks.

[2019-02-19 14:55] ridesirat commented on #58190
Hi bpasero
VSCode runs under chromium, I suppose.
I was having the same problem in Chrome after an update but there it wasn't possible to select text and drag some things - tabs were ok, though.
Now it's ok and the solution was to Disable "Direct Manipulation Stylus" in chrome://flags.
Maybe some cross-solution with VSCode?
Thanks

[2019-02-19 15:04] joaomoreno commented on #68960
@Ky6uk This has nothing to do whether the command is `explorer.` or `list.`. Is has to do whether the user has focus on the list.

If you want to keep using those keybindings, you have to disable keyboard navigation otherwise <kbd>A</kbd> would execute your command and every other letter would be forwarded to the list filter. #68233 is what will enable you to disable keyboard navigation.

[2019-02-19 15:06] Tyriar commented on #67803
@matfricker the logs say [30m before the text, that is an instruction from your shell to draw the text black. Looks like that's working as expected.

@biixiid does it happen always or only after waking your system up from sleep?

[2019-02-19 15:08] Tyriar commented on #68909
Duplicate https://github.com/Microsoft/vscode/issues/68045, should be fixed in insiders

[2019-02-19 15:08] #68909 closed

[2019-02-19 15:15] Tyriar commented on #68853
It has to be yellow as that's what powershell is telling the terminal to render. This is a tricky problem as the color needs to work as a background color as well. For now I'd say either override the color in your settings via `workbench.colorCustomizations` or switch themes.

This is the best solution for this: https://github.com/xtermjs/xterm.js/issues/1514

[2019-02-19 15:15] #68853 closed

[2019-02-19 15:20] geek1011 commented on #5243
There seems to be a regression in vscode 1.13.1 with i3wm and RealVNC 6.4.0. It's quite laggy when updating the screen (seems to only update every 3s). This doesn't happen when downgrading to vscode 1.30.0. I'm going to try a few things and see if I can figure out why.

[2019-02-19 15:23] DanTup opened #68988 "Support running multiple tests suites at the same time"
Integration tests for extensions can be kinda slow so it'd be great if we could spawn separate instances of Code to run different tests at the same time on CI services. Currently this happens:

The word **currently** in that message suggests that this may be a temporary limitation, though I couldn't find an existing issue about relaxing that restriction.

Is it possible?

[2019-02-19 15:25] #67973 closed

[2019-02-19 15:41] DanTup opened #68989 "Support firing onDidCloseTextDocument events immediately for testing"
I know the behaviour of calling `onDidCloseTextDocument` "up to 3 mins later" is by-design, but it seems to make close handlers completely untestable (for example, ensuring that the language server is notified when this happens). It also means that these close events can fire during subsequent tests which may affect their results.

Is it possible to have *some* ability to force them to fire (and w

[2019-02-19 15:44] JosiahWitt commented on #68132
Great! Thank you! I'll check it out!

[2019-02-19 15:44] charJKL opened #68990 "Sorting is not applied on start, or always default sorting is applied on start."
Sorting is not applied on start, or always default sorting is applied on start.

- VSCode Version: 1.31
- OS Version: Windows 10

Steps to Reproduce:
1. Change "explorer.sortOrder" setting to "filesFirst", or other than default.
2. Close VSCode.
3. Open VScode, default sorting is applied. If we perform action, which trigger explorer refresh everything sorting back to our first choice.

Does this i

[2019-02-19 15:46] isidorn commented on #68990
dup of https://github.com/Microsoft/vscode/issues/68323

[2019-02-19 15:46] #68990 closed

[2019-02-19 15:49] #64679 closed

[2019-02-19 15:51] isidorn commented on #68645
Thanks Alex.
The issue here is that the middle click we close the editor. Whenever an editor is closed we focus the editor area (probably @bpasero knows the reason for this).
Now since the editor area has focus and because of timing the paste event comes in a bit late and the content is pasted.
A fix for this would be that @bpasero exposes a `preserveFocus` option to the `editorService.closeEditor

[2019-02-19 15:53] charJKL commented on #68990
Yes, you are right it's duplicate. My apologies for that.

[2019-02-19 15:57] alexandrudima commented on #68876
Duplicate of #66873

[2019-02-19 15:57] #68876 closed

[2019-02-19 15:59] biixiid commented on #67803
@Tyriar
Ok. Let me tell what was happened.

1. i installed vscode in sierra. chose dark+ theme.
2. noticed iterm(integrated terminal) is not working properly. Showing text in background color, so no contrast. but cursor is there and i can type, means its interactive. also resizing pane/window makes cursor in iterm disappears, means it is non interactive.
3. complained here and @matfricker suggeste

[2019-02-19 16:01] #68323 closed

[2019-02-19 16:06] bpasero commented on #68645
@isidorn good point, I actually think we should fix this: if I close an editor from the "open editors" view using the mouse and focus was in the tree, we loose focus currently. Your suggestion makes sense to me.

[2019-02-19 16:14] alexandrudima commented on #66873
Thank you @WorldofBay , fixed via #68978

[2019-02-19 16:14] #66873 closed

[2019-02-19 16:19] katespaghetti commented on #21404
Looking forward to seeing this in vscode. Just switched over from Sublime and really missing this feature.

[2019-02-19 16:21] romanshutsman commented on #68781
@kieferrm

[2019-02-19 16:24] matfricker commented on #67803
Just to confirm, when I mentioned changing theme to a lighter theme text was still black. My suggestion was more that the black text was more ledgable against a white background. If I switched back to a dark theme it didn't change the text colour. The text colour stayed black and still hard to read due to the contrast between background of the terminal window and text colour.

@Tyriar would you su

[2019-02-19 16:26] Morgy93 commented on #68057
I seriously can't get it to work using the user installer.
Windows Defender Ransomware Protection turned off.
Deinstalled using apps & features.
Deleted
`C:\Users\morgy\.vscode`
`C:\Users\morgy\AppData\Local\Programs\Microsoft VS Code`
`C:\Users\morgy\AppData\Roaming\Code`
`C:\Users\morgy\AppData\Roaming\Visual Studio Code`
and installed it again using the user installer
Same error..

The system i

[2019-02-19 16:35] cameron-sjo commented on #68561
I haven't been able to replicate the issue since I downgraded and it automagically updated to latest.

I'll close the issue until I can get the issue to replicate again.

[2019-02-19 16:35] #68561 closed

[2019-02-19 16:35] octref opened #68992 "Provide commands to expand selection up to semantic block"
The selectionRange API allows `kind` on the ranges returned.

[code]

Can we offer commands for "selecting up to the next `${SelectionRange.kind}`"?

For example, in Vim I have `vi(`, `vi[`, `vi{` for selecting up to the next **syntactical** enclosing `()`, `[]`, or `{}` blocks. I would like to have commands for selecting up to the next **semantical** blocks.

@dbaeumer fyi, would like to know wha

[2019-02-19 16:44] ghiscoding commented on #21404
@katespaghetti
The best thing we can do is to vote ⭐️ and hope that this gets higher in their list of popular issues. This issue currently sits in the [3rd page of highest reactions (star)](https://github.com/Microsoft/vscode/issues?page=3&q=is%3Aopen+is%3Aissue+label%3Afeature-request+sort%3Areactions-%2B1-desc), they probably won't take a look at it until it reaches 1st or 2nd page.

[2019-02-19 16:45] isidorn commented on #68990
np, will be fixed in tomorrow's vscode insiders

[2019-02-19 16:47] #61139 closed

[2019-02-19 16:50] AlekSi commented on #68488
fish 3.0.2 with the fix is released (https://github.com/fish-shell/fish-shell/issues/5671) and available in Homebrew. It works for me.

[2019-02-19 16:50] isidorn commented on #68957
@octref you did a pr similar to this, forawrding to you. I have no plan to tackle this

[2019-02-19 16:50] octref commented on #68941
Unfortunately the included formatter (js-beautify) does not support this. You might enjoy [prettier HTML formatter](https://prettier.io/playground/#N4Igxg9gdgLgprEAuEAeAhAEQPIGEAqAmgAoCiABABYwC2ANgHwA6UqAEvgLIAy5u3AQQDKQgLxMQUCAFoAVgGdyNQtNx0B8oROZRy5dqQGYdevak6l8AvmwEAlIZfEgArjABm0gBzaWp-fgAkvjcpAycAJ7kMMF0pKgA9EEhYX6m5pbWAHICFs4AJnDyYABOAJYADjBl0BLkkLAIMM6RfBBZMKRQ+L66+glshsZpqABGEPkRJunEDGxwdHQ

[2019-02-19 16:50] #68941 closed

[2019-02-19 16:51] awmottaz opened #68993 "Exiting zen mode focuses the terminal"
- VSCode Version: 1.31.1
- OS Version: Ubuntu 18.04

Steps to Reproduce:

1. Open an editor with the terminal open. Put focus in the editor (not the terminal)
2. Enter and then exit zen mode using the keyboard shortcuts or from the command palette
3. The focus is now in the terminal

Does this issue occur when all extensions are disabled?: Yes

[2019-02-19 16:53] isidorn commented on #68840
If you F1 > developer tools > open console do you see some errors?
Sounds like a duplicate of https://github.com/Microsoft/vscode/issues/68627

If you do not see errors in console let me know and I can reopen this

[2019-02-19 16:53] #68840 closed

[2019-02-19 16:58] robmonte opened #68994 "Find in Files not Working in Folder with Multiple Large Files"
Issue Type: <b>Bug</b>

I am searching logs for an error string (using Cmd+Shift+F) in my folder workspace, which has ~30 files each at around 100,000 lines. I know what I am searching for is present in these files, yet searching for it via this method returns no results. When I do regular Cmd+F in one file at a time, I find 5 occurrences.

~Cmd+Shift+F finds some results when I search a small pie

[2019-02-19 16:58] octref commented on #68957
There are two commands "Select Previous Pane" and "Select Next Pane" for the terminal.

The whole Panel is a View, and the splitting only happens inside the sub-view which is terminal, so `navigate to the view on the left` wouldn't be able to navigate through that.

[2019-02-19 16:58] #68957 closed

[2019-02-19 17:11] sg-chrishasz commented on #68531
Hello @chrmarti - I can also confirm that NTLM authentication for SPGo is again working in the latest insider's build when proxy is set to `override`.

Thanks for the quick turn-around!

[2019-02-19 17:20] robmonte commented on #68994
I forgot to include that I tried this on the Insiders version and it was the same result.

[2019-02-19 17:23] mturki commented on #56530
+1

[2019-02-19 17:29] danyparc commented on #68142
I'm having the same bug on v1.31.1 and MacOS Mojave v10.14
There's a log when trying to open a folder:
![screen shot 2019-02-19 at 11 25 58 am](https://user-images.githubusercontent.com/13757596/53034607-2df01600-3439-11e9-87c3-619a5c52c448.png)

![screen shot 2019-02-19 at 11 26 54 am](https://user-images.githubusercontent.com/13757596/53034658-48c28a80-3439-11e9-84fa-327b0204bc6b.png)
![screen s

[2019-02-19 17:30] nighto opened #68995 "Several wrong pt_BR translations in version 1.31.1 on Mac OS"
- VSCode Version: 1.31.1 1b8e8302e405050205e69b59abb3559592bb9e60
- OS Version: Mac OS Mojave 10.14.3

Steps to Reproduce:

1. Update VSCode to this version (current)
2. See broken translations.

Does this issue occur when all extensions are disabled?: Yes

Several pt_BR (brazilian portuguese) translations are broken in this release. This is weird because those strings used to be correct in previo

[2019-02-19 17:31] glen-84 commented on #68369
I know this now, but not before pulling my hair out trying to understand why the extension was not working, even after uninstalling and reinstalling it using the most obvious methods.

I have no idea – all I know is that deleting the extension folder and reinstalling the extension immediately fixed the issue.

[2019-02-19 17:41] soncodi commented on #65608
FWIW, I prefer the `custom` title bar to the `native` look-and-feel. It also goes well with my DE's dark theme. I don't care which is the default, but please don't remove the custom option.

[2019-02-19 17:46] auchenberg commented on #61787
@bpasero What's the platform consequences of upgrading to Electron 4.0? We'd loose Linux 32bit?

[2019-02-19 17:55] saqadri commented on #68468
@bpasero with regard to where to find our extension, it's internal Microsoft (so it's not on marketplace); you should be able to install it using the folllowing:
https://osgwiki.com/wiki/WAVE_VSCode#Installation

[2019-02-19 18:12] madprops opened #68996 "Editor not scrolling to cursor position undo/redo"
Latest stable release. Windows 10.

I'm not sure if it happens without extensions because I don't know how to replicate this, it just happens sometimes.

But basically, this is a BIG problem for me. When I start making undos or redos, the operations happen but the editor is not scrolled to the changes. So basically im in a different portion of the editor and I can't see what the changes were, I'm

[2019-02-19 18:12] saqadri commented on #68468
Also, if we wanted to unblock our users before the next VSCode update, what would you recommend as a workaround?

We have considered a couple of options:
- implement a one-time migration from the old db entry to the new one by directly accessing the sqlite db.
- lowercase our publisher name to "microsoft" (don't know of unintended side effects of this).
- any other options?

[2019-02-19 18:25] MashaMSFT commented on #68659
oh... i'm not sure that any do, to be honest with you :( i don't know enough about cli to have seen it anywhere else. it just looks odd on the page in vs code when we have t-sql in color, and then az cli is allt he same color.

[2019-02-19 18:41] chinapalace commented on #35307
This is the feature I want most to be added to VS code

[2019-02-19 18:45] karrtikr opened #68997 "Regression (insiders): Python debugger fails in Fish shell"
@rpavlik commented on [Tue Feb 19 2019](https://github.com/Microsoft/vscode-python/issues/4444)

## Environment data
- VS Code version:

- Extension version: 2019.1.0
- OS and version: Debian Stretch
- Python version: Using the Python 3.5.3 that comes with Stretch.
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): None or virtualenv
- Relevant/affected Python packages and

[2019-02-19 18:45] rebornix commented on #68820
Already fixed in Insiders and will be released with next Stable update. Thanks all for your feedback!

[2019-02-19 18:45] #68820 closed

[2019-02-19 18:45] karrtikr opened #68998 "Regression (insiders): Python debugger fails in Fish shell"
@rpavlik commented on [Tue Feb 19 2019](https://github.com/Microsoft/vscode-python/issues/4444)

## Environment data
- VS Code version:

- Extension version: 2019.1.0
- OS and version: Debian Stretch
- Python version: Using the Python 3.5.3 that comes with Stretch.
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): None or virtualenv
- Relevant/affected Python packages and

[2019-02-19 18:51] mjbvz commented on #68659
Try using `shell` or `powershell` instead.

There's also https://github.com/mjbvz/vscode-fenced-code-block-grammar-injection-example that covers how extensions can contribute support for new fenced code block languages

[2019-02-19 18:51] #68659 closed

[2019-02-19 18:54] mjbvz commented on #68961
See https://stackoverflow.com/a/49706409/306149

[2019-02-19 18:54] #68961 closed

[2019-02-19 18:55] mjbvz commented on #68968
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled?

[2019-02-19 18:56] mjbvz commented on #68948
Duplicate of #2809

[2019-02-19 18:56] #68948 closed

[2019-02-19 18:58] roblourens commented on #68127
@lonix1 you can also set `"smartStep": false` which should help the issue.

[2019-02-19 19:05] roblourens commented on #68367
- Why do people keep include/exclude patterns in the search view over multiple searches? Do you want to add them to settings instead?
- What if it cleared the search input but not "files to include/exclude"

@isidorn this was originally your issue, any thoughts? I don't want to add a setting for every single thing. It could be an alt-action on the button but I don't think those are discoverable an

[2019-02-19 19:07] amueller commented on #32813
@aeschli can you provide a reference for this? I feel like it might solve the @vviikk issue (which I'm also having) but I'm not sure I understand your suggestion.

Basically you're suggesting to use
these? https://code.visualstudio.com/api/references/theme-color

[2019-02-19 19:09] mjbvz commented on #68783
Thanks for the logs. I see a few assertions in the logs but nothing that should cause this issue. I don't even see very many long running requests, which we would expect if TypeScript itself is misbehaving

Can you also share the output of running `code --status` on the command line. You can follow [these instructions](https://github.com/Microsoft/vscode/wiki/Performance-Issues) for more informati

[2019-02-19 19:10] mjbvz commented on #68576
Tracked upstream by https://github.com/Microsoft/TypeScript/issues/29856 and similar to https://github.com/Microsoft/TypeScript/issues/29407

[2019-02-19 19:10] #68576 closed

[2019-02-19 19:11] mjbvz commented on #68912
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled?

[2019-02-19 19:12] mjbvz commented on #68895
Does this reproduce with all extensions disabled?

[2019-02-19 19:16] mjbvz commented on #68500
You need to say where it is being loaded from: `<iframe src="http://localhost:3000/index.html" width="300" height="300"/>`

[2019-02-19 19:16] #68500 closed

[2019-02-19 19:16] roblourens commented on #68966
That's kind of funny. FYI @aeschli https://github.com/Microsoft/vscode/commit/a06dbfc3f2a0a69a890583bc77abd36567d5864e#diff-4a12537872685c49f4dc5c42f1537c45

[2019-02-19 19:17] #68900 closed

[2019-02-19 19:19] mjbvz commented on #68887
Use the `markdown.preview.fontSize` setting instead

[2019-02-19 19:19] #68887 closed

[2019-02-19 19:19] libasoles commented on #56279
+1 for this. Makes total sense for me.

[2019-02-19 19:20] #68966 closed

[2019-02-19 19:22] roblourens commented on #26574
Can you explain what you mean by "this"? This issue has been open for a long time.

[2019-02-19 19:24] roblourens commented on #26574
Sorry I see, the workaround I mentioned above will not work anymore. The only suggestion I have right now is to add patterns to `search.exclude` as well.

[2019-02-19 19:26] gusbemacbe commented on #50386
@bpasero

[2019-02-19 19:27] GeekForged commented on #68887
Thank you for pointing me in the correct direction.

[2019-02-19 19:29] ivankravets opened #68999 "[URGENT] "There are task errors. See the output for details." when providing dynamic tasks"
- VSCode Version: 1.32.0-insider#a75cf6e4b4317de0bf38284af255bdf0089deb68
- OS Version: macOS

# Description

[PlatformIO IDE for VSCode](https://marketplace.visualstudio.com/items?itemName=platformio.platformio-ide) uses dynamic tasks provider. Every time when a user modifies project configuration, we "dispose" previous `TaskProvider` and provide a new one with updates tasks. See https://github.c

[2019-02-19 19:30] victor-ruben commented on #56279
Perhaps a PR to this extension https://github.com/CoenraadS/Copy-WSL-Path

[2019-02-19 19:32] mjbvz commented on #63630
@midgethoen Follow [these instructions](https://github.com/Microsoft/vscode/wiki/Performance-Issues) to investigate performance issues.

@Kamilius Are you still running into the issue you originally reported?

[2019-02-19 19:39] mjbvz commented on #65102
@qlqllu @enzy @dcecile Please open new issues.

@mdenson-dayspring If you are still seeing this issue in the latest VS Code insider, let me know. Please include more information about your project contents and structure

[2019-02-19 19:39] #65102 closed

[2019-02-19 19:47] miguellira commented on #68260
@nschonni I am running into an issue with `ms-vsts.team` when attempting to sign in to a local TFS server and I believe it surfaced after updating VS Code. Unfortunately, I am not able to find any logs that clearly state the error. The only indication is a (!) next to Team in the status bar and when I hover over I see the  message `Failed Request: Temporary Redirect(307) -`:

![image](https://user

[2019-02-19 19:47] samuela commented on #68905
I just came across the exact same issue and was about to file this bug report:

## "Find in Folder" sets "files to include" to some javascript mess

- VSCode Version: Version 1.32.0-insider (1.32.0-insider) a75cf6e4b4317de0bf38284af255bdf0089deb68
- OS Version: macOS 10.14.2

Steps to Reproduce:

1. Go to a folder in the file explorer.
2. Right click and select "Find in Folder"
3. Observe that the

[2019-02-19 19:51] miguellira commented on #68260
@nschonni Please disregard. After I posted this message I found the following [issue](https://github.com/Microsoft/vscode/issues/68442#issue-408888870) that resolved my error.

Visual Studio Code now provides a Proxy Support setting that can be disabled.

[2019-02-19 19:59] #68953 closed

[2019-02-19 19:59] mjbvz commented on #68953
Also make sure you are using a full html document for the webview, not just a fragment

[2019-02-19 20:11] itowlson commented on #68953
@mjbvz Using a full HTML document didn't make a difference in my case, but I'll make the change anyway as it seems safer - thanks for the tip, and for the quick fix!

[2019-02-19 20:15] moojek opened #69000 "Debugging won't start"
Issue Type: <b>Bug</b>

Lately I tried to debug my C++ code, before that everything had been working just fine, but now debugger appears to be turning on and then it stops, and only thing remaining is this little dragable menu (with pause/continue, stop, restart etc. buttons).

1. Try to debug C++ code

After starting debug for a short time also extension tries to work: ![image](https://user-image

[2019-02-19 20:16] dcecile opened #69001 "Find references even when TypeScript sub-projects not yet open"
From #65102...

It seems like with a multiple-tsconfig.json setup, VS Code can't find all references. (Even though technically all of them should be "joined" via a root tsconfig.json that uses project references.)

Here's a minimal repro of my setup: https://github.com/dcecile/typescript-references-test

[code]

- Both client and server reference the common project
- "Find references" fails to fin

[2019-02-19 20:18] richard-scott commented on #68787
It seems to be the shortcuts that would have inputted a unicode character that now fail.
Such as:

[code]
However, CTRL+ALT+u is a short cut for "upload" with the PlatformIO extension.

On a different (older) Windows 10 install with VS Code, the shortcut works, but on a fresh install -completed in the last couple of days - the shortcut doesn't work, and the unicode character overrides it.

[2019-02-19 20:19] telmotrooper commented on #68621
For the guys still having issues, try erasing your package manager's cache. In my case, deleting `/.cache/yay/visual-studio-code-bin` and then attempting a full system upgrade `yay -Syu` triggered the download of the file with the correct checksum.

[2019-02-19 20:20] caiotoon opened #69002 "Wrong acronym on Blog post"
Quite a simple one, but the first time the acronym for Language Server Index Format appears, it's misspelled LISF, which makes the pronunciation make no sense.

Third paragraph, first phrase, between parenthesis
https://code.visualstudio.com/blogs/2019/02/19/lsif#_rich-code-navigation-without-checkout

[2019-02-19 20:22] pzelnip commented on #68032
How does one "retrigger" the "Do you allow this workspace to modify your terminal shell?" dialog for a project?  I accidentally clicked Disallow, and now any changes to `"terminal.integrated.env.osx"` in my workspace settings.json seem to be completely ignored when opening a new integrated terminal.