[2019-10-22 18:45] vilic commented on #82762
This is really confusing though, in a really long time I thought it was the auto fixes stuff being unstable. If I remember it correctly, the English mode used work with the `Ctrl + .` keybinding, not sure whether this is a problem of newer Chinese Pinyin keyboard introduced in Windows Insider or a problem of VSCode changes.

[2019-10-22 18:45] octref commented on #78567
Yes that's intentional.

[2019-10-22 18:45] #78567 closed

[2019-10-22 18:48] octref commented on #79141
![image](https://user-images.githubusercontent.com/4033249/67319415-c86d9100-f4c1-11e9-98df-f62a34a4baf6.png)

I think both syntax highlighting and auto completion works now.

[2019-10-22 18:52] frobinsonj commented on #78330
Issue #80741 related.

@joaomoreno I am thinking that this key filtering (see below) could be simplified massively. Instead of blacklisting all of these edge cases, we could just check if `e.browserEvent.key` is a single character. I believe this should only allow key presses that we want. Then we can just add the exceptions such as `CTRL + Backspace`.

If we remove L660 and modify L664 to be:
[co

[2019-10-22 18:58] Tyriar commented on #25430
We used to have a 100% CPU utilization bug for cyclic links but that's fixed, maybe that was it?

[2019-10-22 18:58] #25430 closed

[2019-10-22 19:00] #79215 closed

[2019-10-22 19:01] octref commented on #79215
FYI, `gantry-media://gradient-overlay.png` is not a good URI, your might think `path` is `/gradient-overlay.png`, but `gradient-overlay.png` is parsed as URI authority and path is empty.

[2019-10-22 19:09] themnd opened #83093 "Report issue feature do not include extension information"
Issue Type: <b>Bug</b>

Issue https://github.com/microsoft/vscode/issues/83074 was automatically created by the "Report issue" feature of visual studio code.
In the "File on" field I've selected "An extension" and in the "Extension" field which appears I've selected "Prettify JSON", it was the first time I used this "report" feature and I was puzzled by the fact that the extension I've selected wa

[2019-10-22 19:14] LinAGKar commented on #82747
I've tried it in both Firefox and Chromium, and it auto highlights it in both. In Chromium, the text is apparently put into primary selection when it auto highlights or you press the "Copy" button, but in Firefox it's nearly impossible to get it into primary selection.

[2019-10-22 19:16] sean-mcmanus commented on #22557
@sun-xm That was the default originally for our C/C++ extension (and the same as the VS default in their .vs folder), but we got lots of users complaining about the large database file being added to their workspace so we moved it. Setting your C_Cpp.default.browse.databaseFilename to "${workspaceFolder}/.vscode/vc.db" is the workaround for our extension.

[2019-10-22 19:19] sidbelbase opened #83094 "How to make incognito like sessions for code-runner terminal?"
Hey theres this thing I can't solve where any command you run inside vscode terminal like _python3 -u "/home/linux/Documents/Piethon/Exercise2.py"_ it gets stored in the gnome-terminal history file. How can I turn this off or disable?

[2019-10-22 19:20] rubengmurray opened #83095 "Automatic breakpoint and logpoint for 'On Enter Function' in debug"
_I've searched around the repository for this and couldn't find a request similar, which surprised me, so apologies if one exists. I searched for: `debug, every, function, breakpoint, dynamic, logpoint, log and enter` in various combinations._

### Suggestion
I'd really like to be able to get the debug feature to dynamically break and / or log on every function that is called within a particular f

[2019-10-22 19:21] angelhdz commented on #82866
Thanks for replying @aeschli . I will leave `"json.trace.server": "messages"` for a while so if it happens again, I can provide that info, but since I updated VSCode yesterday, I haven't had the issue.

I just tried to deliberately provoke errors on many JSON files in 2 of my workspaces, and then I fix the invalid JSON and save the file, errors go away as expected.

Will keep you posted. Cheers!

[2019-10-22 19:26] #82589 closed

[2019-10-22 19:29] ExE-Boss commented on #79141
I mean [the&nbsp;`selector(…)`&nbsp;function](https://drafts.csswg.org/css-conditional-4/#typedef-supports-selector-fn), none&nbsp;of&nbsp;your screenshots show whether or&nbsp;not&nbsp;it’s&nbsp;supported.

[2019-10-22 19:32] octref commented on #79444
Duplicate of #78894.

[2019-10-22 19:32] #79444 closed

[2019-10-22 19:37] bnb opened #83096 "Automatic --signoff via settings"
It seems that presently, you can use the `-s` or `--signoff` command on your git commits by opening up the git commit dropdown and selecting signoff. This was implemented as a "fix" for #7010 in #10410.

However, there doesn't seem to be a setting within VS Code itself that enables end-users to enable this feature as a part of their git commit messages by default without taking those extra steps o

[2019-10-22 19:41] #79768 closed

[2019-10-22 19:41] octref commented on #79768
Added one for scss and one for less.

[2019-10-22 19:42] #15622 closed

[2019-10-22 19:56] falsyvalues opened #83097 "typescript language service suggest incorrect informations"
- VSCode Version: 1.39.2 6ab598523be7a800d7f3eb4d92d7ab9a66069390
- OS Version: macOS High Sierra 10.13.6

Steps to Reproduce:

1. Enter following snippet from [typescriptlang.org](http://www.typescriptlang.org/play/#code/KYOwrgtgBAkgCgS2AY2FA3gKCj2ATKAXigCIE8SAabXAMQQCcBnAFwDkBDCNYkgM0asQXYFRo4AMh1aduRUgBtpLYdzG4oAQQDmPUh10lMAX0yYEIFsAZ8OqWIhTA41pgHsQGcVADa8JKgAdDB4ALoAXFCsDBbaUAA+UOAKCgDc3n6OQfT

[2019-10-22 19:57] aeschli commented on #6822
@octref Sounds good!

[2019-10-22 19:57] falsyvalues commented on #82870
Moved to #83097.

[2019-10-22 19:59] alexandrudima commented on #83017
This seems to be caused by the `redhat.java` extension which overrides the paste implementation [here](https://github.com/redhat-developer/vscode-java/blob/4a9389e580b9f7c7fa8c4d2e0140e7a588fffcf0/src/settings.ts#L154). I have opened [an issue](https://github.com/redhat-developer/vscode-java/issues/1115) directly against the extension.

Possible workarounds: configure `"java.actionsOnPaste.organiz

[2019-10-22 19:59] #83017 closed

[2019-10-22 20:00] alexandrudima commented on #83080
This seems to be caused by the `redhat.java` extension which overrides the paste implementation [here](https://github.com/redhat-developer/vscode-java/blob/4a9389e580b9f7c7fa8c4d2e0140e7a588fffcf0/src/settings.ts#L154). I have opened [an issue](https://github.com/redhat-developer/vscode-java/issues/1115) directly against the extension.

Possible workarounds: configure `"java.actionsOnPaste.organiz

[2019-10-22 20:00] alexandrudima commented on #83063
This seems to be caused by the `redhat.java` extension which overrides the paste implementation [here](https://github.com/redhat-developer/vscode-java/blob/4a9389e580b9f7c7fa8c4d2e0140e7a588fffcf0/src/settings.ts#L154). I have opened [an issue](https://github.com/redhat-developer/vscode-java/issues/1115) directly against the extension.

Possible workarounds: configure `"java.actionsOnPaste.organiz

[2019-10-22 20:00] #83063 closed

[2019-10-22 20:02] hyldmo opened #83098 "Source Control View has no backoff delay on authorization errors"
While opening a folder/repo where vscode is not able to authenticate, it seems it will instantly retry indefinitely. In this case, this lead to me being IP-banned from Gitlab, leaving many of my repositories inaccessible (hopefully only for a short while).

There should probably be something like an exponential backoff delay, or that it eventually gives up so that it doesn't spam servers.

Here's

[2019-10-22 20:03] JesseLevesque opened #83099 "Problem saving"
Issue Type: <b>Bug</b>

When saving, it will sometimes errase the last bit of code since last being saved.

VS Code version: Code 1.38.1 (b37e54c98e1a74ba89e03073e5a3761284e3ffb0, 2019-09-11T13:35:15.005Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8265U CPU @ 1.60GHz (8 x 1800)|
|GPU Status|2d_canvas: enabled<

[2019-10-22 20:06] alexandrudima commented on #83003
This seems to be caused by the `redhat.java` extension which overrides the paste implementation [here](https://github.com/redhat-developer/vscode-java/blob/4a9389e580b9f7c7fa8c4d2e0140e7a588fffcf0/src/settings.ts#L154). I have opened [an issue](https://github.com/redhat-developer/vscode-java/issues/1115) directly against the extension.

Possible workarounds: configure `"java.actionsOnPaste.organiz

[2019-10-22 20:06] #83003 closed

[2019-10-22 20:14] sherryyshi commented on #82806
I don't think I can do that because the Typescript won't be able to compile the version that is not in the `vscode.proposed.ts` that I have.

I ended up taking a dependency on the version of `vscode.proposed.ts` prior to the rename (`npx vscode-dts dev afa911d942f60aff56a65be989eb8c74d9cc56a5`) :) I'll have to change it back once 1.40 is released.

Thanks for your help!

[2019-10-22 20:18] aeschli commented on #56907
I would suggest fixing the text as suggested in https://github.com/microsoft/vscode/issues/56907#issuecomment-469472098

[2019-10-22 20:25] tclzcja commented on #10759
Or let me guess, are you guess secretly pushing the whole VS Code onto Web, and then further more PWA the hell out of it, and then since there's PWA in MS Store now, this long lasting hopeless issue can finally be done in a second?

[2019-10-22 20:28] AkshitAggarwal opened #83100 "VScode internal terminal not working"
Issue Type: <b>Bug</b>

The internal terminal in my vscode running on an Ubuntu 18.04 suddenly stopped working. The terminal window has turned blank and nothing can be typed.

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:33:40.634Z)
OS version: Linux x64 5.0.0-32-generic snap

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) C

[2019-10-22 20:31] alexandrudima commented on #70485
@OlegKarasik Have you tried `window.onDidChangeTextEditorVisibleRanges` and `TextEditor.visibleRanges`. From what you are describing, they seem to do what you want.

[2019-10-22 20:39] alexandrudima commented on #33366
@sheljohn @amaau I can no longer reproduce this.

Here I am using the following settings:
[code]

That means that 80 characters should be displayed and the 81st character should wrap. So the column in the status bar should go from column 1 to column 81.

Everything appears to work normally for me:
![TO_UPLOAD](https://user-images.githubusercontent.com/5047891/67330512-c258ce00-f51c-11e9-8426-6bec6

[2019-10-22 20:45] alexandrudima commented on #43262
@isidorn

I don't think writing `...` to the textarea is helpful because it is possible to open a regular file without folding which contains `...` as content. So there wouldn't be any clear way to communicate which one is real file content and which one is fake content to stand in for folded text.

Since we don't have any semantic way to communicate folded regions, I don't see anything else than

[2019-10-22 20:47] alexandrudima commented on #83042
@mtsh1000 I'm not 100% sure I understand what you mean. Can you please describe this in more detail or post a screenshot?

[2019-10-22 20:48] RobGallo commented on #43262
I prefer adding the ellipsis into the text rather than an aria alert. 😊

From: Isidor Nikolic <notifications@github.com>
Sent: Tuesday, October 22, 2019 10:28 AM
To: microsoft/vscode <vscode@noreply.github.com>
Cc: Rob Gallo <Rob.Gallo@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/vscode] support code folding with screen reader support enabled (#43262)

I have tried

[2019-10-22 20:49] alexandrudima commented on #81391
@thkrishn Can you also please try `"editor.disableLayerHinting": true`

[2019-10-22 20:49] frostshoxx commented on #81585
Try this instead https://code.headmelted.com/. Note that the code hasn't been maintained recently and there is a specific version you need to use in order to make it run on Raspberry Pi.

[2019-10-22 20:50] #77358 closed

[2019-10-22 20:53] frostshoxx commented on #6442
@mohsinonxrm , looks like only the older version of headmelted still works. The latest version will give blank screen.

I might try build it myself to get the latest version of VS Code. Thanks for sharing the link!

[2019-10-22 20:53] alexandrudima commented on #82850
This seems to be caused by the `redhat.java` extension which overrides the paste implementation [here](https://github.com/redhat-developer/vscode-java/blob/4a9389e580b9f7c7fa8c4d2e0140e7a588fffcf0/src/settings.ts#L154). I have opened [an issue](https://github.com/redhat-developer/vscode-java/issues/1115) directly against the extension.

Possible workarounds: configure `"java.actionsOnPaste.organiz

[2019-10-22 20:56] RobGallo commented on #43262
The ‘…’ can be given only when returning content in the line boundary, not word or character. Or, the ‘…’ could be rendered as the single ellipsis character, not as three periods, which is how it would always appear in code.

From: Alexandru Dima <notifications@github.com>
Sent: Tuesday, October 22, 2019 4:48 PM
To: microsoft/vscode <vscode@noreply.github.com>
Cc: Rob Gallo <Rob.Gallo@microsoft.co

[2019-10-22 21:03] thkrishn commented on #81391
@alexandrudima  it says `Unknown Configuration Setting` its not highlighted

[2019-10-22 21:09] jbracer19 commented on #43262
nor do i understand how it’s possible that i did?  especially when i was ordered to be somewhere at a specific time requiring me to drive the path at that time , sounds more like it’s intentionally done by the other party
On Oct 22, 2019, at 3:59 PM, RobGallo <notifications@github.com> wrote:

﻿The ‘…’ can be given only when returning content in the line boundary, not word or character. Or, the ‘…

[2019-10-22 21:17] #79964 closed

[2019-10-22 21:17] AlienKevin commented on #83064
@alexr00 I checked it in rubular and it works for simple strings like "if abc". Can you point out what's wrong with the regex?

[2019-10-22 21:22] minkir014 commented on #74682
Okay. I know but where is the completion for CSS selectors like "div". Re-see the title of the issue "CSS Selectors"

[2019-10-22 21:26] msftmeason opened #83101 "Unable to connect to SSH host - automatically rejects question asking for fingerprint confirmation"
When I attempt to connect to a remote host via SSH, it reports that the authenticity of the host could not be verified.  I see in the log that it is asking me if I wish to continue connecting, but it doesn't give me a chance to answer; it immediately rejects the connection attempt and asks if I want to retry.

Full log:

[21:20:58.134] remote-ssh@0.46.1
[21:20:58.134] win32 x64
[21:20:58.135] SSH

[2019-10-22 21:28] alexandrudima commented on #81391
Yeah, that is fine, it is a hidden setting. We have a bunch of editor settings which are not exposed in the JSON schema... So does `"editor.disableLayerHinting": true` improve things? (does it bring back subpixel antialising)?

[2019-10-22 21:29] alexandrudima commented on #83081
I think Windows can be configured to disable this. There is nothing we can do in VS Code if the OS is not sending keybindings to us.

[2019-10-22 21:29] #83081 closed

[2019-10-22 21:32] octref commented on #56907
@aeschli What about `float`? It applies to all elements. For the 5 properties "width, height, margin-top, margin-bottom, and float", do we have to describe all combinations where it doesn't apply to specific elements (such as the combination of `width` on "inline replaced element"), so this diagnostic is wrong?

[2019-10-22 21:34] octref commented on #74682
@minkir014 Please don't update closed issue. Open new feature requests.

[2019-10-22 21:49] studiosi commented on #83081
So the solution is to change the behavior of the host OS?

I wonder how people in corporate environments without access to an admin account are gonna deal with this.

Amazing.

[2019-10-22 21:49] amaau commented on #33366
Issue is still there, last version of VSCode, windows 10, same settings as yours.
For some reason I can't attach a gif, "something went really wrong and we can't process that file",
so uploaded here -
https://gifyu.com/image/kVOz

[2019-10-22 21:55] #82701 closed

[2019-10-22 21:58] thkrishn commented on #81391
@alexandrudima that looks like it improved the aliasing/blurring
Looks back to normal

[2019-10-22 22:02] #82961 closed

[2019-10-22 22:03] BioHazard1282 commented on #81585
Which version of what? Version of VSC or Raspbian?

[2019-10-22 22:04] b-hayes opened #83102 "Autosave toggle should tell me weather is on off"
Issue Type: <b>Feature Request</b>

I can hit cmd+shift+p and type autosave and toggle it but I have no idea weather I just turned it on or off.

There seem to be no visual indicator that i can spot that tells me if its on or not.

Please show the status of the toggle in the command.

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:33:00.827Z)
OS version: Darw

[2019-10-22 22:05] alexandrudima commented on #82958
@whiter001 I'm sorry I don't understand what you mean. Can you please explain in greater detail with steps, and what happens vs. what you expect to happen?

[2019-10-22 22:05] alexandrudima commented on #82936
Duplicate of #23991

[2019-10-22 22:05] #82936 closed

[2019-10-22 22:09] collinmccarthy opened #83103 "Jupyter Notebook Support: Table of Contents"
For large Jupyter notebooks having a table of contents is absolutely necessary, but a pain to keep updated yourself using HTML tags. Jupyter notebook and JupyterLab both support tables of contents through extensions. Is it possible for you guys to add support for this in VS Code? Without it many of us who use Jupyter for large scientific notebooks won't be able to use VS Code.

Thank you!

[2019-10-22 22:09] alexandrudima commented on #82932
Thank you for the suggestion, but I don't think `cursorRedo` should get a proeminent keyboard shortcut by default.

The reason is simple, `cursorUndo` is an important keybinding, especially in the use-case of <kbd>ctrl</kbd>+<kbd>D</kbd>, when it is easy to press one <kbd>ctrl</kbd>+<kbd>D</kbd> too many when selecting multiple words. It is then possible to undo the last <kbd>ctrl</kbd>+<kbd>D</kb

[2019-10-22 22:09] #82932 closed

[2019-10-22 22:11] mjbvz commented on #82591
I looked into this and don't see a huge latency. There will be at least some latency because we need to communicate from the client back to the workspace extension host for this case. The only way we could improve that would be to split markdown into a workspace and a UI extension, but the issue does not seem severe enough for that

[2019-10-22 22:11] #82591 closed

[2019-10-22 22:13] collinmccarthy opened #83104 "Jupyter Notebook Support: Live Markdown Preview"
When writing long equations or matrices in markdown cells, within a Jupyter notebook, it becomes very difficult to "see" what you're doing. Having a live preview for markdown cells (rendered below the current cell being ended) would be tremendously helpful for this purpose. This is already available as an extension in Jupyter notebook (but not yet available in JupyterLab either) and it would be am

[2019-10-22 22:15] frostshoxx commented on #81585
The version of Headmelted's compiled VS Code for ARM.

Basically, what joaomoreno saying is that the linux build on the download link you mentioned was made for x64 linux, which does not work with ARM processor (Raspberry Pi). You will either have to compile the code yourself or get the pre-build by others. Headmelted was one of the folks who build VS Code on ARM and then share with others. Howeve

[2019-10-22 22:21] BioHazard1282 commented on #81585
So I should just use Python IDE for python projects if it won't work on my Pi?

[2019-10-22 22:21] natemakesgames opened #83105 "Option for putting curly brackets on "new line" after method declaration for C#"
I would appreciate an option for putting curly brackets on "new line" after method declaration. This seems to exist in the options for JavaScript but not C#. Other people have requested this, but the developers seemed to say that it is "out of scope" of the project.  If users want it, then it's time to increase the scope! :) Thank you.

[2019-10-22 22:23] Ragnoroct opened #83106 "Logpoint does not work while debugging vscode project/repo"
- OS Version: Windows 10 Version	10.0.17763 Build 17763
- VSCode Version:
Version: 1.39.2 (user setup)
Commit: 6ab598523be7a800d7f3eb4d92d7ab9a66069390
Date: 2019-10-15T15:35:18.241Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.17763

Steps to Reproduce:

1. Clone vscode repo
2. yarn (to build)
3. yarn watch (to build tsc)
4. .\scripts\c

[2019-10-22 22:24] #83104 closed

[2019-10-22 22:24] #83103 closed

[2019-10-22 22:25] #82535 closed

[2019-10-22 22:26] alexandrudima commented on #82929
Thank you for the analysis, I managed to create a localized fix where the cursor state is read also in the content change listener.

[2019-10-22 22:26] #82929 closed

[2019-10-22 22:27] #82008 closed

[2019-10-22 22:34] octref commented on #81808
@aeschli What do you think would be a good fix? Do we parse invalid colors as `HexColor` so this linting rule could work?

[2019-10-22 22:35] MrTango opened #83107 "Placeholders get not replaced if the variable is used more than one time"
Version: 1.40.0-insider
Commit: c58aaab8a1cc22a7139b761166a0d4f37d41e998
Date: 2019-10-22T05:27:42.088Z
Electron: 6.0.12
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Linux x64 4.19.0-6-amd64-

Steps to Reproduce:

1. use a snippet with a variable (placeholder used in two places)
2. when you type it should replace the placeholder text, which works as long as the variable is u

[2019-10-22 22:35] alexandrudima commented on #33366
@amaau I am looking at your gif but I am sorry I still don't understand, what do you think is a bug?

Can you please toggle render all whitespace.

There is one space character which either fits on the first line or does not. When it does not fit on the first line, it goes at the beginning of the next line:

whitespace character fits:
![image](https://user-images.githubusercontent.com/5047891/6734

[2019-10-22 22:35] frostshoxx commented on #81585
Personally, I use Thonny IDE for Python as it comes with Raspbian by default. I only use VS Code for JavaScript-based stuff to develop web-application (e.g., Gatsby.js). I find designated Python IDEs that came with Raspbian perform better than VS Code, but to each their own, I guess.

[2019-10-22 22:36] #83044 closed

[2019-10-22 22:36] mjbvz commented on #82924
This is not a VS Code issue. Github explicitly serves content from raw with the content-type `text/plain`. Most modern browsers will refuse to treat this as a stylesheet

If you use an https style, make sure it is served up with the correct content-type

[2019-10-22 22:36] #82924 closed

[2019-10-22 22:37] alexandrudima commented on #83081
@studiosi First hit when I search for "Windows ctrl shift"

https://superuser.com/questions/109066/how-to-disable-ctrlshift-keyboard-layout-switch-for-the-same-input-language-i

![image](https://user-images.githubusercontent.com/5047891/67340228-38fdc780-f52d-11e9-9290-7301e2363113.png)

Note how that has nothing to do with VS Code.

[2019-10-22 22:49] octref commented on #82605
Seems already fixed in latest dev.

[2019-10-22 22:49] #82605 closed

[2019-10-22 22:49] Ragnoroct commented on #83102
It turns out it just changes the config value files.autoSave between off and afterDelay.

[2019-10-22 22:54] #82590 closed

[2019-10-22 22:56] amaau commented on #33366
@alexandrudima
In your second picture, the whitespace at the beginning of the second line should not be visible at all, it should stay on the first line or be otherwise hidden / swallowed between the lines.
Which is what happens when there's no coma at the end of the first line.

[2019-10-22 23:00] khaschuluu commented on #28795
@sensiloles @uphlewis I just agreed, I noticed that I was used Ctrl + wheel for zoom on Inkscape, but it isn't works after using imwheel. What should I do :(

[2019-10-22 23:07] rebornix commented on #15727
Closing this issue as we shipped multiple line find and replace support.

[2019-10-22 23:08] #15727 closed

[2019-10-22 23:08] Ragnoroct commented on #83102
![vscode_action_toggle_auto_save](https://user-images.githubusercontent.com/19155205/67342057-e0133c80-f4f6-11e9-8662-49578ec1e298.gif)

[2019-10-22 23:11] #65912 closed

[2019-10-22 23:11] rbavery opened #83109 "Can't use python kernel in other conda env when using notebook editor"
Issue Type: <b>Bug</b>

I have selected my conda env by clicking at the bottom of vscode to select the correct python. I can see that I can import the library `pvlib` when working with code that depends on this library in the vscode terminal, or in a python script I run from the terminal, but not in the notebook open in the editor. I tlooks like the notebook editor only uses the default python.

V

[2019-10-22 23:11] mjbvz commented on #81775
Just tested this on windows and mac and I can't reproduce this. Did you perhaps have experimental iframe based webviews enabled? Keybindings were not working properly in the for a while but also should be fixed now

[2019-10-22 23:11] #80926 closed

[2019-10-22 23:13] #21494 closed

[2019-10-22 23:15] octref commented on #62515
@alexr00 Sorry for my misunderstanding. After chatting with @mjbvz, I learned that the leading [`x` mode in Ruby regex](https://ruby-doc.org/core-2.4.1/Regexp.html#class-Regexp-label-Free-Spacing+Mode+and+Comments) handles comments and whitespaces. The grammar itself marked the properties as `"name": "invalid.deprecated.media.css"`. So it's a grammar issue.

However, Sublime's guidance states:

![

[2019-10-22 23:16] rebornix commented on #78881
/duplicate of https://github.com/microsoft/vscode/issues/38363

[2019-10-22 23:16] #78881 closed

[2019-10-22 23:17] rebornix commented on #81426
/duplicate of https://github.com/microsoft/vscode/issues/81337

[2019-10-22 23:17] #81426 closed

[2019-10-22 23:18] rebornix commented on #46135
Already fixed.

[2019-10-22 23:18] #46135 closed

[2019-10-22 23:20] rebornix commented on #41142
It no longer exists anymore.

[2019-10-22 23:20] #41142 closed

[2019-10-22 23:21] mjbvz commented on #83097
This feature is powered by the TypeScript project and the website also shows the incorrect behavior (the suggestion for `Age` is just a word based suggestion, not intellisense). Please [file the issue upstream](https://github.com/microsoft/TypeScript/issues/new/choose)

[2019-10-22 23:21] #83097 closed

[2019-10-22 23:22] mjbvz commented on #83068
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2019-10-22 23:23] rebornix commented on #61076
We run the search in main thread and a slow search can slow down the whole UI, the solution can be either disable auto search https://github.com/microsoft/vscode/issues/60977 or thinking about how to move it off main thread (then fix https://github.com/microsoft/vscode/issues/30874 completely). Track this issue in the two detailed one.

[2019-10-22 23:23] #61076 closed

[2019-10-22 23:25] bwanicur opened #83110 "TS Server very slow - "Code Helper" process uses 100%+ CPU"
- VSCode Version:
1.39.2

- OS Version:
MacOS 14.6

Steps to Reproduce:

1.  Run VsCode without extensions
2.  Open Project

Does this issue occur when all extensions are disabled?: Yes/No

Yes.  After a few seconds the "Code Helper" subprocess will start to consume 100%+ CPU power.

[code]

[2019-10-22 23:26] rebornix commented on #69498
/duplicate of https://github.com/microsoft/vscode/issues/44093 and let's track it there.

[2019-10-22 23:26] #69498 closed

[2019-10-22 23:30] rebornix commented on #75663
Let's track it in #58111

[2019-10-22 23:30] #75663 closed

[2019-10-22 23:32] misolori opened #83112 "Activity bar "more" icon not working"
Issue Type: <b>Bug</b>

<img width="360" alt="image" src="https://user-images.githubusercontent.com/35271042/67343159-4ee99900-f4e9-11e9-806d-fd5736fca3d4.png">

Steps:
1. Make window as short as possible
2. Install additional extensions to get the "more" ellipsis in the activity bar
3. Click on "more" icon
4. :bug: nothing happens

VS Code version: Code - Insiders 1.40.0-insider (c58aaab8a1cc22a7

[2019-10-22 23:32] mjbvz commented on #83110
* Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

* Do you see any errors or warning printed in the developer console? You can view this using `Developer: Toggle developer tools`

* Also please try upgrading your workspace to

[2019-10-22 23:33] mjbvz commented on #83110
Also spikes of cpu usage are expected when you first open large projects. Does the high cpu usage stop?

[2019-10-22 23:33] #83109 closed

[2019-10-22 23:37] mjbvz commented on #70253
Closing in favor of #65310

[2019-10-22 23:37] #70253 closed

[2019-10-22 23:38] rebornix commented on #38263
let's track it in https://github.com/microsoft/vscode/issues/44093.

[2019-10-22 23:38] #38263 closed

[2019-10-22 23:44] nathany commented on #44093
This should also appear in the menu. Here are some examples -- also to portray how prevalent this feature is, and implemented in a common way in seemingly everything but VS Code.

Xcode: Find > Use Selection for Find ⌘E
Sublime Text: Find > Use Selection for Find ⌘E
TextMate: Edit > Find > Use Selection for Find ⌘E
BBEdit: Search > Use Selection for Find ⌘E
Atom: appears to be missing this altoget

[2019-10-22 23:45] sean-mcmanus opened #83114 "References view is not translated"
- VSCode Version: 1.39.2
- OS Version: Windows

Steps to Reproduce:

1. Use Change Display Language to a non-English language with a non-English language pack. I used Russian.
2. Use the Find All References feature.

Bug: The text is all in English for the Find All References feature.

Does this issue occur when all extensions are disabled?: Yes

[2019-10-22 23:46] sean-mcmanus commented on #83114
Yeah, this is a duplicate of https://github.com/microsoft/vscode/issues/64526 .

[2019-10-22 23:46] #83114 closed

[2019-10-22 23:46] Blasz commented on #83031
Sorry about that, the issue is tracked here: https://github.com/MicrosoftDocs/intellicode/issues/32

[2019-10-22 23:48] rbavery opened #83115 "zsh: segmentation fault (core dumped) when running a python file with only import statements"
Issue Type: <b>Bug</b>

I'm getting seg fault memory errors even though I'm only using 2.56/7 GB of memory and I have over 1Gb of swp memory available. The python file I'm running is only running import statements. I'm using the most recent version of VScode. Below is the error

[code]

The imports that cause the fail are

[code]
I can import these in a jupyter notebook. The pyTSEB package was ins

[2019-10-22 23:49] rebornix commented on #80927
I think it's a dup of https://github.com/microsoft/vscode/issues/41050 .

[2019-10-22 23:49] #80927 closed

[2019-10-22 23:50] msg7086 opened #83116 "Window: Restore Windows = all does not restore windows all the time"
(For some reason the stupid Github beta related issues wiped my bug report. Hope I recall all the details correctly when I'm typing this again.)

- VSCode Version: 1.39.2
- OS Version: 1903

Steps to Reproduce:

1. "window.restoreWindows": "all".
2. Randomly open folders and files to make it multiple windows and optionally with opened files, or even unsaved files or new files.
3. File - Exit
4. Pi

[2019-10-23 00:06] #50511 closed

[2019-10-23 00:09] rebornix commented on #81390
Let’s use issue #29727 to track. Our auto indentation is based on regex rules while it is not fully aware of the context/scope and it also doesn’t support different indentation formats.

[2019-10-23 00:09] #81390 closed

[2019-10-23 00:10] #76511 closed

[2019-10-23 00:11] rebornix commented on #76511
Our auto indentation is based on regex rules while it is not fully aware of the context/scope and it also doesn’t support different indentation formats. By that it means it's hard to make a perfect indentation rules builtin in VS Code. It would be great if language extensions can take care of that.

[2019-10-23 00:12] #71653 closed

[2019-10-23 00:12] rebornix commented on #73969
No longer see this issue in latest version.

[2019-10-23 00:12] #73969 closed

[2019-10-23 00:13] mjbvz commented on #71653
Added two new commands `imagePreview.zoomIn` and `imagePreview.zoomOut` that zoom the active preview in or out. They do not have a default keybinding but you should be able to easily [configure one](https://code.visualstudio.com/docs/getstarted/keybindings)

[2019-10-23 00:13] rebornix commented on #73547
/duplicate of https://github.com/microsoft/vscode/issues/36148 . Our auto indentation is based on regex rules while it is not fully aware of the context/scope and it also doesn’t support different indentation formats.

[2019-10-23 00:13] #73547 closed

[2019-10-23 00:15] rebornix commented on #64009
It's very likely caused by a formatter (alt+shift+f formats document) and should be fine when running vs code without any extension enabled.

[2019-10-23 00:15] #64009 closed

[2019-10-23 00:19] #32511 closed

[2019-10-23 00:20] #40038 closed

[2019-10-23 00:20] rebornix commented on #40038
Close as no interest to put time into it at this moment.

[2019-10-23 00:20] aNickzz commented on #75905
Running the latest build of insiders and this is definitely still happening

Version: 1.40.0-insider (user setup)
Commit: c58aaab8a1cc22a7139b761166a0d4f37d41e998
Date: 2019-10-22T05:27:32.053Z
Electron: 6.0.12
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18362

![image](https://user-images.githubusercontent.com/15243523/67345525-e18a4680-f582-11e9-87fb-c

[2019-10-23 00:23] #59117 closed

[2019-10-23 00:38] mohsinonxrm commented on #6442
@m-brooks , C# debugger still doesn't work.

[2019-10-23 00:40] rbavery commented on #83115
solved by `conda install pyopengl`

[2019-10-23 00:41] sbatten commented on #56630
After quite a bit of playing around, the culprit is outlined in the upstream bug linked above. The good news is, there is another workaround that one can use if you don't really care about so much state in the window title.

**Workaround:**
Set the setting `window.title` to something static like `${appName}` or `${appName} - ${folderName}`. This will stop the title from being updated on editor cha

[2019-10-23 00:50] b-hayes commented on #83102
Yeah I dont see those message pop up on macos.

[2019-10-23 00:53] ZhangPuXi commented on #82946
@chrmarti I just merge my dev branch into the master branch and that results in the conflicts. This is the first time I've met this situation. And one of my workmates also met this.

[2019-10-23 00:55] #82200 closed

[2019-10-23 00:56] v-andrew opened #83117 "Tasks.json option to overwrite build shell doen't work"
- VSCode Version: 1.39.2
- OS Version: Windows 10

Steps to Reproduce:

1. Set default shell to `bash` so your build tasks fails as VSCode recently started passing incorrect build path to `bash`
2. Set a build shell which is different than default as you want to build your TypeScript project. `powershell` works.
[code]
3. Run build and see that it is using original shell, not one defined in `.vsco

[2019-10-23 00:59] rbavery commented on #83115
This actually only solved the issue for pycharm and I assumed it would work for vscode (pycharm was having the same segfault error with the same steps). But the segfault issue is still present in VScode, so I'm re-opening.

I tried to follow these instructions for linux: https://github.com/Microsoft/vscode/wiki/Native-Crash-Issues , but they don't look up to date, I can't run `gdb` on my code exec

[2019-10-23 01:03] #83112 closed

[2019-10-23 01:10] tiagobento commented on #82676
Hi @DanTup! I'm so glad I found this issue 😅🙏 That means I'm not the only one experiencing it.

I'm running `vscode-test` inside a GitHub Workflow too and I can tell that the exact same thing it happening to me. I was, however, *able* to reproduce it locally. Since GitHub Workflows "workers" are [relatively slow](https://help.github.com/en/github/automating-your-workflow-with-github-actions/virtua

[2019-10-23 01:13] #66141 closed

[2019-10-23 01:40] ArrrNeo commented on #35480
+1

[2019-10-23 02:12] wensonsmith commented on #27286
two years later , this still pending ?

[2019-10-23 02:14] wensonsmith commented on #12453
please hurry up , thanks

[2019-10-23 02:25] briankendall commented on #36634
I agree that the behavior of navigateBack and navigateForward in VS Code is frustratingly different than what I expect it to be. However can someone clarify if this issue is requesting an option for it to behave the way I want?

If I understand correctly, "editor" in VS Code's terminology refers to a section of the window that has its own tab bar, and the window can be split into multiple editors,

[2019-10-23 02:29] kewellcjj commented on #83100
Same issue on linxu, I think happened after the recent update.

[2019-10-23 02:36] hemocy opened #83119 "there is no js intellisense in vue file"
![image](https://user-images.githubusercontent.com/29173748/67351782-e6e69180-f580-11e9-9860-e91455a594e8.png)
it should be stringyfy?

[2019-10-23 02:45] hemocy commented on #83119
not these issues

[2019-10-23 02:55] kewellcjj commented on #83100
The issue exists when I launch vscode from Docklets (Dock or Plank or whatever). It works fine by typing ```code``` in the terminal or just launch from my system default menu. Not sure if @AkshitAggarwal has the same issue.

[2019-10-23 03:09] mark-hahn opened #83120 "Text color from wsl into integrated terminal is reversed"
Issue Type: <b>Bug</b>

When I run wsl from cmd.exe everything works as expected.  When I run wsl in the vscode integrated terminal the colors are reversed.

![Annotation 2019-10-22 200528](https://user-images.githubusercontent.com/811455/67353406-5750cc80-f507-11e9-80d4-706ecf1c5310.png)

I have tried changing workspace themes and I tried this in `settings.json` ...
[code]

I didn't have this pro

[2019-10-23 03:21] aplatypus commented on #63492
@joaomoreno -- Yes this problem is consistient.  If anything, it is becoming more frequent.  My current version is:

[code]

Actually it happened just now.  All I was doing was switching back to Code to check the version.  May be it has something to do with a window frame refresh???

[2019-10-23 03:28] aplatypus commented on #82807
That's the bug -- I do NOT wish to compare the file versions.  Ergo, I just want to press "No thank you", or something, and press "Save".

That is not possible currently.

I am Happy to see the check, and get the warning.  I am even happy with an _option_ to use diff to compare files.

The error as I perceive it here, is that there's no override or (as I mentioned) "No thank you, save the file." s

[2019-10-23 03:29] SrBrahma opened #83122 "Auto fix target file symbolic link path on original source file path change"
Hello! I use a few symbolic links on my project.
VSCode already supports symbolic link, but there could be an improvement:
When the user changes the source file (the real file) path, by renaming or changing its directory, the VSCode should automatically fix the target file (the one created with the symbolic link) appointment.

Thanks!

[2019-10-23 03:39] lenowng commented on #5280
migrated to fully use VSCode from Intellij lately and looking for the killer shortcut of `shift+shift` for `Go To File..`

+1 feature

[2019-10-23 03:58] galvesribeiro opened #83123 "iPad Pro support"
Hellow folks!

Assuming that we now have support for VSCode to run extensions on remote devices (thanks A LOT to the remote extensions feature!) we have a chance to run VSCode editor on iOS devices so we could leverage more "mobile" workstations like iPad Pro. We were limited before by able because everything should be AOT'ed and no code could be generated (i.e. JIT or compilers) on iOS.

With the

[2019-10-23 04:32] roblourens commented on #79924
Looks like it works now, this was fixed in another issue.

[2019-10-23 04:32] #79924 closed

[2019-10-23 04:36] roblourens commented on #83012
Oh, it happens with `"editor.fontFamily": "Cascadia Code"`

I guess there is a character missing from that font?

[2019-10-23 04:45] roblourens commented on #82768
Does the down arrow work normally by itself (without ctrl+shift+alt)?

Also can you check whether any of the troubleshooting tips on this page help? https://github.com/microsoft/vscode/wiki/Keybinding-Issues

[2019-10-23 04:45] NotWearingPants commented on #82535
@alexandrudima your fix is wrong and still has the bug in it, just the second variation of it.

Please re-read the description:

  If the text change does change the cursor, we need to wait for the first cursor change event after the text change event fires, and  then look at the cursor positions.

Steps to reproduce for this reversed edge-case:
1. Type <kbd>hello</kbd>
2. Press <kbd>Ctrl</kbd>+<k

[2019-10-23 04:49] NotWearingPants commented on #82929
@alexandrudima as mentioned in [#82535](https://github.com/microsoft/vscode/issues/82535#issuecomment-545263987), this is still a problem and this issue should be re-opened.

[2019-10-23 04:55] roblourens commented on #82656
Yeah there is an issue for search failing when a nonexistent workspace folder is present. Looks like you hit that.

[2019-10-23 04:55] #82656 closed

[2019-10-23 04:56] roblourens commented on #83032
Can you see whether any of these tips help? https://github.com/microsoft/vscode/wiki/Search-Issues#missing-search-results

[2019-10-23 05:41] bpasero commented on #82934
So how exactly do you get into that state? The file is dirty in VSCode to begin with right? A good option is to enable auto-save in VSCode so that you never get into the state of the working copy in VSCode being out of sync with disk.

[2019-10-23 05:45] mtsh1000 commented on #83042
@alexandrudima I'm basicly talking about the feature that i'm using a lot in netbeans:
![obraz](https://user-images.githubusercontent.com/32628738/67361453-fb1e9480-f568-11e9-97cb-aca07e245926.png)
![obraz](https://user-images.githubusercontent.com/32628738/67361469-05409300-f569-11e9-9846-14eaefb46fd5.png)

[2019-10-23 05:58] kieferrm opened #83124 "Design and document how we triage issues"
While the focus of https://github.com/microsoft/vscode/issues/82032 is to bring our issue database back into a reasonable state, the purpose of this work item is to design and document a revised flow of how we triage issues so that we can keep the issue database in a reasonable state for longer.

[2019-10-23 05:59] kieferrm commented on #83124
The new flow has been documented in https://github.com/microsoft/vscode/wiki/Issues-Triaging.

[2019-10-23 06:02] chrmarti commented on #82946
Maybe one of the commits had one of the merge conflict texts as its content and when merging that a new merge conflict occurred. The merge conflict syntax does not support nesting / interleaving of conflicts, so I will close this issue. Thanks.

[2019-10-23 06:03] #82946 closed

[2019-10-23 06:06] justrajeshkp commented on #82565
Thanks,
This was nice information

Regards,
Rajesh

On Wed, Oct 16, 2019 at 6:16 AM Daniel Imms <notifications@github.com>
wrote:

[2019-10-23 06:07] kieferrm opened #83125 "Implement revised issues triaging flow"
Steps to implements the flow revised in https://github.com/microsoft/vscode/issues/83124.

- [x] Create **`Backlog Candidates`** milestone
- [ ] Create `wont-fix` label
- [ ] :runner: Implement bot that assigns the **`Backlog Candidates`** milestone to issues with no milestone 2 minutes after they receive the `feature-request` label
- [ ] :runner: Implement bot that comments on `feature-requests`

[2019-10-23 06:13] alansplaza opened #83126 "High load & CPU Usage 99% where use remote-ssh."
版本: 1.39.2
提交: 6ab598523be7a800d7f3eb4d92d7ab9a66069390
日期: 2019-10-15T15:33:00.827Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 19.0.0

Steps to Reproduce:

1. Install remote-ssh, ssh to the remote linux.
2. Wait and the linux load will increase and cpu usage can reach to 99%.

Does this issue occur when all extensions are disabled?: Yes/No
Hav

[2019-10-23 06:33] lmaran commented on #69279
+1 for hide/remove local variables in breadcrumb dropdown

[2019-10-23 06:53] m-brooks commented on #6442
OK. Thanks for checking.

[2019-10-23 06:57] borekb commented on #23707
For Markdown, [Caret](https://caret.io/) does this beautifully:

_Light:_

<img width="1027" alt="Screenshot 2019-10-23 at 08 55 28" src="https://user-images.githubusercontent.com/101152/67365965-eba44900-f572-11e9-91ec-e88c0b4e50ac.png">

_Dark:_

<img width="1022" alt="Screenshot 2019-10-23 at 08 56 26" src="https://user-images.githubusercontent.com/101152/67366042-08408100-f573-11e9-912e-d1c4e1

[2019-10-23 07:00] gjsjohnmurray commented on #82964
@isidorn no, that hasn't fixed the issue for me. I just tested with the following using the MemFS example branch previously notified:
[code]

[2019-10-23 07:01] DanTup commented on #82676
Glad to hear it's not just me! Not having test run results is painful! I've had to disable macOS everywhere for now. I'm not sure why Code isn't seeing this in its own test runs though (maybe it is, but I would expect it would be picked up pretty quick if so).

I don't really know the best way to debug this - I'm not very familiar with Electron (or macOS). Probably needs some input from someone el

[2019-10-23 07:04] DanTup commented on #10266
Oh, I see. My concern with that is that it's a breaking change before the extension has opted in to anything. I think it would be better to preserve existing behaviour until the extension opts-in, so they can set the `configurationDefault` (if they choose) and avoid users getting a change in behaviour, and then having it change back later (since if I understand correctly, there's no way an extensi

[2019-10-23 07:05] ManPython opened #83127 "New Outline"
What I need

1. Colapse all
2. Expand all
3. Colapse level of tree  (like in MS Word for heads/index)
4. Expand level of tree
5. Numbers of outlines
6. Follow code - outline replicate state of colapese or expand functions in code by arrows
7. Searching contex - in outline for functions, clases to easy and quick access to element and click (need magnifier icon in next to "Collapse all").
- similar

[2019-10-23 07:30] dalisoft commented on #76537
@bpasero
I can confirm it is does not work

![](http://joxi.ru/Vrw6EGni7eEbWA?d=1)

---

OS Info

![](http://joxi.ru/L21Z6glcRM9vzA?d=1)

[2019-10-23 07:32] dgh1000 opened #83128 "tsc build and watch tasks fail when invoked by shift-cmd-b"
Got no answers on stack overflow after a week. No comments even.

I'm working on a typescript project. Previously I could invoke the tsc build and watch commands via shift-cmd-B and they worked fine. Now, I get

env: node: no such file or directory

Meanwhile, if I just start and integrated terminal and type 'tsc --watch' it's fine. The only trouble with the latter is that the error messages aren'

[2019-10-23 07:37] alexr00 commented on #82806
I've seen some cases where the object in question is cast to `any`, of course this isn't ideal either and would also result in something you want to change later.

Glad you found a work around!

[2019-10-23 07:37] #82806 closed

[2019-10-23 07:42] Kcko commented on #81154
@rebornix of course! I do the same thing all the time

[2019-10-23 07:43] #83082 closed

[2019-10-23 07:45] aeschli commented on #81808
Related entry on stackoverflow: https://stackoverflow.com/questions/57640557/when-is-vs-codes-setting-css-lint-hexcolorlength-fired

[2019-10-23 07:48] bpasero commented on #76537
@dalisoft thanks a ton for doing this ❤️ . Now as a last step, can you distill this into an issue against Electron [here](https://github.com/electron/electron/issues) and link the bug back here?

[2019-10-23 07:52] dalisoft commented on #76537
I try @bpasero now

[2019-10-23 07:54] aeschli commented on #81808
Yes, best is probably to create a HexColor for all values matching `#[1-9A-Fa-f]+`
We'd then need to make sure all consumers of HexColor can handle invalid length.

[2019-10-23 07:57] alexr00 commented on #83105
This would need to be implemented in the C# extension since VS Code doesn't have more then syntax highlighting for C# built in.

[2019-10-23 07:58] #83105 closed

[2019-10-23 08:01] alexr00 commented on #83115
This sounds like an issue with your project, not with VS Code since you say you are running a python file.

[2019-10-23 08:01] #82596 closed

[2019-10-23 08:01] #83115 closed

[2019-10-23 08:03] donalffons commented on #82203
Hmm, I had the same issue as shown in @timdang's image on the left - the source control panel was blank and didn't show anything. For me the fix was as simple as right clicking on the panel. This brought up a context menu, in which I could select my repository. Now it seems to be back to normal again.

Might not be a fix for everyone's problem, but could be worth a try :-).

[2019-10-23 08:03] alexr00 commented on #83117
duplicate of  #83021

[2019-10-23 08:03] #83117 closed

[2019-10-23 08:04] alexr00 commented on #83021
@v-andrew it

[2019-10-23 08:06] joaomoreno commented on #82961
Thank you!

[2019-10-23 08:08] #82601 closed

[2019-10-23 08:08] bpasero commented on #82601
**Verify:** install web as PWA and ensure F12 can be used to goto def.

[2019-10-23 08:09] alexr00 commented on #83021
Looks like `"windows"` isn't an option when you use a task type other than `"shell"` or `"process"`. Since you're using a typescript task you are not seeing the windows property.

[2019-10-23 08:13] #83119 closed

[2019-10-23 08:14] jrieken commented on #83009
When the language of a document changes the `onDidCloseTextDocument` and `onDidOpenTextDocument` events are fired: https://github.com/microsoft/vscode/blob/f1583f11ab8ce7f9d4356ce238c2cd36b26f54c5/src/vs/vscode.d.ts#L8157-L8179

[2019-10-23 08:14] ManPython opened #83129 "Debug - GUI changes"
Hi,

We need change here some things in my opinion.

**Part.A**
Eg. in Python when runing `Debug` mode then VSC opening "pop-up" GUI with btns `pause` .. `stop` to move this in any place. This is stupid in my opinion and made disonanse.
Eg. in Python are "enviorments" like ` "name": "Python36 Django",` and we see in Debug `Python36 Django` in combolist that is not so usable view in fact that we no

[2019-10-23 08:14] #83009 closed

[2019-10-23 08:15] bpasero commented on #83099
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2019-10-23 08:16] #83116 closed

[2019-10-23 08:18] jrieken commented on #10266
Unfortunately not - tho I think we should only ship this feature/setting when the API has been finalised for `vscode.d.ts` and for LSP. Anything else would be unfair towards extension authors

[2019-10-23 08:20] hemocy commented on #83119
老表，干得漂亮~

[2019-10-23 08:20] alexr00 commented on #83128
If you open the developer tools (command Toggle Developer Tools) and look in the console do you see any related errors?

What version of VS Code are you using? What OS are you on?

[2019-10-23 08:21] ay0o opened #83130 "Terminal colors are different (lighter) after upgrading to macOS Catalina"
- VSCode Version: 1.39.2
- OS Version: macOS Catalina 10.15

Steps to Reproduce:

1. Upgrade to macOS Catalina and notice the color change right away.
2. If you are already on macOS Catalina, open terminal / iTerm and compare with VSCode's terminal.

Images:

VSCode:
<img width="423" alt="Screenshot 2019-10-23 at 09 19 47" src="https://user-images.githubusercontent.com/23629729/67372758-5014d780-f

[2019-10-23 08:24] jrieken commented on #83107
[code]

Assuming you mean 🔝 that snippet and placeholder `$1` than I have to say that I cannot reproduce. Please clarify what you expect, tho a confusion might be that the second occurrence of placeholder 1 is enclosed by placeholder 7 and therefore typing 7 will overtype 1

[2019-10-23 08:25] alexr00 commented on #62515
I didn't know about the leading x mode, thanks for the info!

[2019-10-23 08:25] unkownY commented on #82882
I use the Node.js

[2019-10-23 08:27] jrieken commented on #83086
Will be fixed via https://github.com/microsoft/vscode/pull/83075

[2019-10-23 08:29] DanTup commented on #10266
In that case - if you ship the API change first, then change behaviour in a future version so I can ship the fix, I'm not against the above (though it's worth ensuring the other two languages that behave this way are aware they need to do the same).

It would definitely help if extensions `configurationDefaults` were more obvious at the same time - it was briefly mentioned above. Should I file an

[2019-10-23 08:30] jrieken commented on #83127
/needsMoreInfo

Please update this issue after reading https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-good-bug-reports-and-feature-requests. Thanks.

[2019-10-23 08:31] aeschli commented on #82882
JavaScript/TypeScript then.

[2019-10-23 08:32] #82113 closed

[2019-10-23 08:32] paweston70 opened #83131 "Intellisense undo"
Issue Type: <b>Feature Request</b>

One of the main issues I have with this implementation of intellisense is the back-out plan - if I use tab after any word with an intellisense suggestion, I get it whether I want it or not - backspace and retabbing just applies the same suggestion; I have to use escape to get out of the suggestion, which feels a little unnatural.

One method to get around this i

[2019-10-23 08:33] ManPython opened #83132 "VSC --settings for settings.json"
Regarding the issue https://github.com/microsoft/vscode/issues/20724
I expeting to set "universal" settings.json for all projects (where have many pythons, go, php, js, etc). Don't know how to do this as portable version. I using `--user-data-dir` and `--extensions-dir` whre are compiled to .exe shortcut from .bat to ommit cmd window.

I'm not convicted to `.vscode` for any project and setting thi

[2019-10-23 08:34] priscilacclr commented on #82435
Having the same security error on Catalina. Sad times.

[2019-10-23 08:36] joaomoreno commented on #82203
@timdang Can you check @donalffons suggestion?

Also can you open **exactly** the same repository in our latest stable 1.39.2? Does the issue reproduce there?

[2019-10-23 08:38] isidorn commented on #82964
Thanks for letting us know, let me reopen and setup your reproducable steps

[2019-10-23 08:44] ManPython opened #83133 "UI can get overloaded when extensions add many primary actions"
Here is how looks my VSC GUI
![VSC icons menu_](https://user-images.githubusercontent.com/25403861/67374254-37f68580-f581-11e9-8092-03c3d4e29aae.png)
![VSC icons menu other_](https://user-images.githubusercontent.com/25403861/67374268-3b8a0c80-f581-11e9-822b-77045765f9a6.png)

I have not enough place for file cards and problems to find them, easy managment.
The cards are in conflit with `open edit

[2019-10-23 08:45] #68919 closed

[2019-10-23 08:45] jrieken commented on #68919
https://github.com/microsoft/vscode/issues/78920

[2019-10-23 08:46] jrieken commented on #71951
This actually already happened

<img width="553" alt="Screenshot 2019-10-23 at 10 46 25" src="https://user-images.githubusercontent.com/1794099/67375062-5e68f080-f582-11e9-91a2-08c7a0165ed0.png">

[2019-10-23 08:46] bowencool opened #83134 "Local settings wanted"
why #37519 was locked

[2019-10-23 08:46] #71951 closed

[2019-10-23 08:50] DanTup opened #83135 "Text in Problems view shifts when hovering over it if there are code actions available"
In the problems view I have two similar entries like this:

<img width="525" alt="Screenshot 2019-10-23 at 9 48 35 am" src="https://user-images.githubusercontent.com/1078012/67375321-57d67b00-f57a-11e9-882f-5ee33d442617.png">

When I hover my mouse over one, the icon changes from a warning triangle to a lightbulb:

<img width="588" alt="Screenshot 2019-10-23 at 9 46 52 am" src="https://user-images

[2019-10-23 08:51] jrieken commented on #33746
The sorting and ranking (in the UI) is actually using our fuzzy search logic but that only helps when the extension that provides the data uses a similar relaxed algorithm. In the jsdoc we have the following [statement](https://github.com/microsoft/vscode/blob/2166211fccaf8a79048ff645552df940dfd6f41a/src/vs/vscode.d.ts#L2689-L2707)

There is not much more VS Code can do as it is only rendering res

[2019-10-23 08:51] alexr00 commented on #79640
Moved to the owning repo.

[2019-10-23 08:51] #79640 closed

[2019-10-23 08:51] #33746 closed

[2019-10-23 08:53] #76568 closed

[2019-10-23 08:54] joaomoreno commented on #63492
@bpasero Moving this to you. We probably should use the Electron's API for this: https://electronjs.org/docs/api/browser-window#winsetvisibleonallworkspacesvisible-options

[2019-10-23 09:03] hmans commented on #33746
Thanks for the heads-up!

[2019-10-23 09:04] ManPython commented on #83134
We need some changes here or clarification
https://github.com/microsoft/vscode/issues/83132

[2019-10-23 09:09] LeuisKen commented on #82606
I reported this bug last month, but you ignored. https://github.com/microsoft/vscode/issues/81168
It makes me upset to see that you only accept report from your own team.

[2019-10-23 09:11] ejabu opened #83136 "Nice Theme, what is the name ?"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/visual-studio-code.

I found out nice blue theme recently displayed in Vscode Update blog.
What is the theme name ?

![image](https://user-images.githubusercontent.com/2019630/67377317-ab16f080-f5af-11e9-973e-1abb5dd45b22.png)

and also one of its contributor, have simila

[2019-10-23 09:15] joaomoreno commented on #83096
The setting is `git.alwaysSignOff`

![image](https://user-images.githubusercontent.com/22350/67377682-59a63b80-f586-11e9-8e80-a07757c976a9.png)

[2019-10-23 09:15] #83096 closed

[2019-10-23 09:18] bpasero opened #83137 "Test: Untitled workspaces support in web"
Refs: https://github.com/microsoft/vscode/issues/82599

- [x] any os @chrmarti
- [x] any os @Tyriar

Complexity: 3

Untitled workspaces are now supported in web, which enables a few new scenarios. Each can be tested against:
* an empty window
* a window that has 1 folder opened
* a window with a workspace opened

**Verify:**
* File > Save Workspace As...
* Duplicate Workspace in new Window
* Add F

[2019-10-23 09:26] bpasero commented on #75615
@kroppt @Eldaw quick question: when you close all opened editors and hide the sidebar, does that make any difference with regards to the menu?

[2019-10-23 09:30] dgh1000 commented on #83128
Thanks for your help. I'm using version 1.39.2 on macOS High Sierra. Some errors do appear in the developer's console when I run VSCode, load my project, and try to build. Although I don't know if they are related. I've attached a screen shot.
![Screenshot 2019-10-23 02 27 19](https://user-images.githubusercontent.com/16109382/67379028-0bb91580-f53d-11e9-9ba5-746efe3ea237.png)

[2019-10-23 09:30] jrieken opened #83138 "Inline breadcrumbs show arrow icon"
<img width="1018" alt="Screenshot 2019-10-23 at 11 29 35" src="https://user-images.githubusercontent.com/1794099/67378983-6a57b100-f588-11e9-8780-23c0b4ebbc85.png">

This must have slipped the review but when not using editor tabs, breadcrumb elements should not show arrow icons as they already show paths

[2019-10-23 09:30] #82580 closed

[2019-10-23 09:34] weinand commented on #81090
The problem is the definition of the environment flag `isExtensionDevTestFromCli`:

https://github.com/microsoft/vscode/blob/7ee0e02883828d1137cb8fa8ad8a137540d93d9b/src/vs/workbench/services/extensions/common/extensionDevOptions.ts#L32

This flag should not become true when launching an extension (or its tests) from the debugger (even if "Start without Debugging" is used).

But the condition `env

[2019-10-23 09:36] detaybey commented on #519
+1

[2019-10-23 09:37] #81090 closed

[2019-10-23 09:38] leegee opened #83139 "Search result 'show in Explorer' shows in side-panel"
Issue Type: <b>Bug</b>

* Perform a search
* In the results panel, right-click a filename
* Select 'Reveal in Explorer'
* File is highlighted in the 'Files' side panel.

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:35:18.241Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7

[2019-10-23 09:39] dbaeumer commented on #74952
@mjbvz can you please explain why you think this shouldn't be handled VS Code core. The is a unnecessary re-computation of  quick fixes which IMO the core should handle. Asking every provider to handle this will not happen since most providers are not even aware of this.

Can you please consider to reopen this or at least explain why this can't be addressed in VS Code core.

[2019-10-23 09:39] alexandrudima commented on #82535
@NotWearingPants Thank you for being vigilant and for your patience. I've chosen to tweak the cursor change event and add to it the needed metadata.

[2019-10-23 09:40] ManPython commented on #83127
@jrieken this probly need more reflections and decisions about changes. Hope that I should not wire story lines or epic as PO.. we all here coders probably?

[2019-10-23 09:41] bpasero commented on #81090
Thanks!

[2019-10-23 09:44] ramank775 opened #83140 "Python Tools server crashed"
Issue Type: <b>Bug</b>
Opening python project folder in vscode leads to python Tool server crashed.
The Python Tools server crashed 5 times in the last 3 minutes. The server will not be restarted.

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:35:18.241Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|

[2019-10-23 09:45] isidorn commented on #83095
If I undestand correctly you are asking for function breakpoints? However we already support those https://code.visualstudio.com/docs/editor/debugging#_function-breakpoints

We do not support adding log statments to function breakpoints atm. And I think there is already a feature request for this.

Also assigning to @weinand

[2019-10-23 09:51] alexandrudima commented on #83087
The values for scan codes (https://code.visualstudio.com/docs/getstarted/keybindings#_keyboard-layoutindependent-bindings) come from a spec -- https://developer.mozilla.org/en-US/ocs/Web/API/KeyboardEvent/code/code_values ... Scan codes refer to physical keys and not to produced characters...

[2019-10-23 09:54] jadeja-rajdeep opened #83141 "Initialize JS/TS language support snippest take 100% cpu and high battery usage for long time"
Issue Type: <b>Bug</b>

currently i am working on php project.

whenever i open large .js file from my project i see status at the footer of vs code that say "Initialize JS/TS language support snippest"

when its loading this feature for .js file its take 100% cpu usage and very high battery power.

and its stay like this for like 5 minutes. before its slow down the cpu.

thanks

VS Code version:

[2019-10-23 09:58] Shashidanand opened #83142 "Issue with terminal display on Windows 10 Enterprise, Version 1809 Dark Mode"
![image](https://user-images.githubusercontent.com/1199387/67381239-3b9e0280-f5a9-11e9-88d7-f25ffdd04c23.png)

Issue with terminal display on Windows 10 Enterprise, Version 1809 Dark Mode. Font color and background is not compatible with current theme.

[2019-10-23 09:58] alexandrudima commented on #33366
I cannot reproduce any difference between ending with a comma or a letter:
![image](https://user-images.githubusercontent.com/5047891/67381535-58780d00-f58c-11e9-9281-b0beca9d237f.png)

Are you trying on the latest VS Code version?

[2019-10-23 10:02] HoranZuo commented on #82455
![X`C0E0KU$(WIQC_ X7ABY9E](https://user-images.githubusercontent.com/35492958/67360296-0b9a3380-f598-11e9-9e3f-60e7a808f0d4.png)
You just say it is caused by an extension. But I did not install any other extension except Microsoft official extension.

[2019-10-23 10:08] weinand commented on #80379
The `ID` of session nodes is now based on the session ID instead of the session label.

[2019-10-23 10:10] #80379 closed

[2019-10-23 10:15] #83129 closed

[2019-10-23 10:17] Svish opened #83143 "Access to "Open Settings (JSON)" from Command Palette"
To get to `settings.json` from the Command Palette, I first have to open up the user settings:
![image](https://user-images.githubusercontent.com/142162/67382574-fae4c000-f58d-11e9-9527-5158b78a925a.png)
Which brings me here:
![image](https://user-images.githubusercontent.com/142162/67382517-e6082c80-f58d-11e9-9697-786870887d17.png)
And then I have to click on that tiny "Open Settings (JSON)" butt

[2019-10-23 10:19] Svish commented on #83143
Sorry. Apparently the @vscodebot is better at finding similarly named issues than the GitHub search. And for some reason I didn't see the existing option in the Command Palette further down in the menu... 🙄

[2019-10-23 10:19] #83143 closed

[2019-10-23 10:20] ManPython commented on #83129
@isidorn soo.. the "gui-pop-up" as debug tool is extension?

[2019-10-23 10:20] ewantowie commented on #34940
I get a browser tab with an empty page, and the developer console has a lsit of syntax errors.

![SCREEN~2](https://user-images.githubusercontent.com/32168905/67383462-18faf200-f587-11e9-8fdc-0745afd8e24b.PNG)

[2019-10-23 10:30] #82441 closed

[2019-10-23 10:32] SimonDever commented on #27286
@isidorn can you escalate this to a higher level? Who is the product owner that decides what the feature details should be? The code isn't that hard to write and I have the time, just tell me why my PR isn't enough and I'll enhance it.

[2019-10-23 10:33] amaau commented on #33366
I am using latest version.
In your latest picture, the first line is 1 whole word without any spaces, so it cannot break before the end of the line.

your example:
1st line is single word, so it can't break, and space is pushed to second line.
![2019-10-23-12-20-06](https://user-images.githubusercontent.com/25984726/67383643-d38ef280-f58f-11e9-8dda-271296375e07.png)
This is also a bug -
There shou

[2019-10-23 10:34] weinand commented on #81399
The `shell.indexOf('pwsh') >= 0` matches all patterns containing a "pwsh", so there is no need to add another check for "pwsh-preview".

[2019-10-23 10:37] isidorn commented on #83106
Putting logpoints when debugging vscode works just fine for me.
However your case might be special since you are putting logpoints in the extensino host, thus assigning to @roblourens since the issue seems to be on the adapter side.

[2019-10-23 10:41] AJB99 commented on #519
Does anyone know if there's a GIF meme for Microsoft tripping over their own stupidity and accidentally getting their head stuck up their corporate ass?

[2019-10-23 10:43] misterbridge commented on #16927
This should be closed no ?
As georgefst mentionned, the feature is out since a little while now:

Just bind your key and you're good to go
[code]

[2019-10-23 10:46] bpasero opened #83145 "Web: allow to run extension tests"
Currently seems to not set the extension tests path properly.

[2019-10-23 10:49] #81406 closed

[2019-10-23 10:50] isidorn commented on #81406
@alexr00 thanks a lot for the help. I believe i have hunted down the issue.
Argument `undefined` was getting lost for the unavailbe stack Frames. Now ti should work

[2019-10-23 10:53] McLisak opened #83146 "JSDoc/TSDoc - code block formatting and syntax highlight."
JSDoc/TSDoc

- VSCode Version: 1.39.2
- OS Version: MacOS Mojave (10.14.6)

Steps to Reproduce:

1. Create any function or variable (JS/TS)
2. Add JSDoc/TSDoc comment
3. Put MD code block syntax.

Expected behaviour:
When docs pop-up appears for that function the code block should get properly syntax highlighted. Like it does using `@example` tag:
![image](https://user-images.githubusercontent.com

[2019-10-23 10:53] jrieken commented on #83127
The ask was to file one issue per feature request or to clarify what this issue is about. We don't accept collective feedback items in the style of: "I want this, that,  and also the other thing". That's doesn't match well on how our team in organised make it easy to loose things.

[2019-10-23 10:54] #83127 closed

[2019-10-23 10:56] bpasero commented on #34940
Strange, is that Chrome browser latest? I think your browser does not support running VSCode web.

[2019-10-23 10:58] gjsjohnmurray commented on #83139
@leegee what you refer to as "the 'Files' side panel" is called Explorer. So the current behaviour of 'Reveal in Explorer' from a filename in Search results makes sense. But I can see it's confusing because when you then right-click on the filename that's been revealed in VS Code's Explorer, you get another 'Reveal in Explorer', and that one opens a **Windows** Explorer onto the folder containing

[2019-10-23 11:01] #81477 closed

[2019-10-23 11:02] ManPython commented on #83127
Thats why Microsoft developing often sh*t.. : )
We can not be procedural in any case with details if are clarified for users of product.
I listed missed functions that can be usfeul and was added as feature not bug. Soo.. what is problem?

[2019-10-23 11:07] leegee commented on #83139
Exactly.

On Wed, 23 Oct 2019, 12:00 John Murray, <notifications@github.com> wrote:

[2019-10-23 11:10] gjsjohnmurray commented on #83129
@ManPython did you try "debug.toolBarLocation": "docked" ?

[2019-10-23 11:16] leopiccionia commented on #83136
It seems like [Nord](https://marketplace.visualstudio.com/items?itemName=arcticicestudio.nord-visual-studio-code).

[2019-10-23 11:18] ManPython commented on #83129
@gjsjohnmurray now.. yes. Thx.. I missed this option. Should be setted as default.

[2019-10-23 11:24] gjsjohnmurray commented on #83129
Why?

[2019-10-23 11:29] ManPython commented on #83129
Docked version is more comfy with this functionality due to the description of issue. By this option undocked has rarey ocasion to usage and made users confused with place to the friendly place.

[2019-10-23 11:30] #74169 closed

[2019-10-23 11:30] #71989 closed

[2019-10-23 11:32] djmisterjon commented on #16221
any new on this , i see my friend have this
![image](https://user-images.githubusercontent.com/24865815/67388724-35873200-f567-11e9-8178-469a4e818764.png)
This is awesome, how activate this in vscode ??
Or a plugin ?

[2019-10-23 11:41] gjsjohnmurray commented on #83139
So maybe the option in the Search side bar's context menu should be recaptioned 'Reveal in Explorer Side Bar' (1 change):
https://github.com/microsoft/vscode/blob/0a9f99aa4b37141d3bf563095c6fff5dad4a3290/src/vs/workbench/contrib/search/browser/search.contribution.ts#L337

Alternatively, make the Explorer side bar context menu on Windows use the caption 'Reveal in Windows Explorer' (3 changes):
htt

[2019-10-23 11:49] AkshitAggarwal opened #83147 "The terminal process terminated with exit code: 126"
We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Bug</b>

Running linux Ubuntu Version 18.04.3 LTS, at first the Integrated Terminal stopped working all of a sudden I could not type anything, later while trying to fix it I made some changes, I tried reinstalling it multiple times. I guess I made some change in terminal.integrated.c

[2019-10-23 11:50] frank-dspeed opened #83148 "Feature: Add gitpod to the Readme."
This offers a 100 Hours Per github user Free of Charge Instance on demand to Edit vscode online in the theia IDE Framework wich is based also on monaco Its using vnc and allows fast iterations if you want to add test something.
- https://gitpod.io/#https://github.com/microsoft/vscode

[2019-10-23 11:51] AkshitAggarwal commented on #83147
How can I remove vscode entirely, I have installed it through sudo apt and snap, now it says I have two copies of it. I cannot seem to figure out to remove vscode entirely from Ubuntu 18.04.3 and reinstall it from scratch.

[2019-10-23 11:57] JesseLevesque commented on #83099
I executed the code and tested vs code but I'm still getting the issue that trying to save erases the previous input.

[2019-10-23 12:06] cfehse commented on #81286
@isidorn

Yes works like a charm with the insiders build.

Thank you!

[2019-10-23 12:09] bpasero commented on #83099
/needsmoreinfo

[2019-10-23 12:10] sohailrajdev97 commented on #82903
@Tyriar I would like to work on this. What would be a good starting point for adding this functionality?

[2019-10-23 12:12] dalisoft commented on #76537
@bpasero You can track bug at [here](https://github.com/electron/electron/issues/20703) in Electron repository

[2019-10-23 12:12] 0x01L opened #83149 "Selected text by double clicking in the integrated terminal"
1. run some cmds in the terminal
2. select text by double click on the cmds' output
3. issue: some extra symbols around the target text will also be selected, such as':', '`', and so on

example:

when double click on "abc", "abc:123" will be selected, but in the ubuntu terminal, only "abc" will be selected via the same way.

![Snipaste_2019-10-23_20-11-59](https://user-images.githubusercontent.co

[2019-10-23 12:12] haftado3 commented on #82086
ok i have it again
trying to replace this
`GridLayout{
                    columns: 2
                    width: parent.width - 20`
with this :
`GridLayout{
                    columns: 2
                    width: parent.width`
inside this files
[arch.zip](https://github.com/microsoft/vscode/files/3762268/arch.zip)
i use open folder to view this files

[2019-10-23 12:17] bpasero opened #83150 "Editor: sometimes doubleclick into word is not fully selecting it"
* I have zoom enabled (2) (macOS, browser: Edge dev)
* code is:

[code]

* I run from web
* I doubleclick somewhere into the `document` of (`document.createElementNS)` and the click does not select the entire word

The exact location for me is somewhere between `e` and `n`

![before](https://user-images.githubusercontent.com/900690/67391844-c24de200-f59f-11e9-9a19-67fc59e53cda.gif)

[2019-10-23 12:17] 0x01L commented on #83149
not covered

[2019-10-23 12:18] elizeuangelo opened #83151 "Visual code extension: ms-python.python incorrectly showing problems in python code"
Issue Type: <b>Bug</b>

Everytime I use np.timedelta64() [numpy.timedelta64()] function with more than one argument Visual Studio alerts, either A: Unexpected keyword argument 'dtype' in constructor callpylint(unexpected-keyword-arg) [when ysing dtype argument for instance], or B: Too many positional arguments for constructor callpylint(too-many-function-args).

The code works fine and the argumen

[2019-10-23 12:42] v-andrew commented on #83021
There are OS specific properties in VS code.

They are available on a level higher than task.

So it is not a `feature request`.

@alexr00  **I do not ask to add a new feature**.

Just reporting that feature which is available - brocken.

Please check for yourself that all thouse keys are avalable right now.:

[code]

[2019-10-23 12:43] JesseLevesque commented on #83099
I'm not sure what other info you would need, I'm new to my computer science program. I noticed that the extension Debugger for Chrome offers a temporary fix. I tried to send a video but it seems to be too big to send on GitHub.

![Capture](https://user-images.githubusercontent.com/56256707/67393646-cc0c2100-f570-11e9-953a-36946098aa29.PNG)

![Capture2](https://user-images.githubusercontent.com/562

[2019-10-23 12:44] v-andrew commented on #83021
Keys for "OSX" , "Linux" are available along side with "windows"

All keys added to example above are available in VSCode.

[2019-10-23 12:45] CTimmerman commented on #82238
What version of Node are you using?
[code]

Sweet. Thanks!

[2019-10-23 12:48] cb109 commented on #16927
@misterbridge Thank you for mentioning this, best solution now that is out. It still bothers me that there is no way to expand to a real full screen or to be able to configure the percentage of expansion. Hopefully this will be added as well in a future update.

[2019-10-23 12:48] rubengmurray commented on #83095
I am looking for something more than the current 'function breakpoints'.

From what I understand, every functionName needs to be entered manually into the debugger for it to break on it. I am asking that the debugger recognise when the code path enters a new function, and breaks at the point (actually if I had to choose between breakpoint and logpoints for this request, I'd rather these were logpo

[2019-10-23 12:53] bpasero commented on #83099
@JesseLevesque no worries, what i asked for is more exact steps how to reproduce. What file are you typing in what are your settings. What is open in browser?

[2019-10-23 12:57] dseelinger opened #83152 "Live Unit Testing"
Please add support for Live Unit Testing similar to what's available in Visual Studio. If that was available, I would have few reasons to ever leave vscode.

[2019-10-23 12:58] bpasero commented on #75615
This seems to be caused by Chrome putting the submenu on a different layer when expanded:

![image](https://user-images.githubusercontent.com/900690/67394940-5d958600-f5a5-11e9-9bfe-3678fe2af82e.png)

As explained in https://bugs.chromium.org/p/chromium/issues/detail?id=1016062#c18

[2019-10-23 13:05] Suyun514 commented on #82918
It seems that ConPTY also have the problem.
I made a new issue at [microsoft/terminal](https://github.com/microsoft/terminal).
[#3297](https://github.com/microsoft/terminal/issues/3297)

[2019-10-23 13:05] bpasero commented on #75615
![before](https://user-images.githubusercontent.com/900690/67395591-8d915900-f5a6-11e9-9c72-2541e8ac19bc.gif)

[2019-10-23 13:07] anirudhrb commented on #78790
@isidorn Attempted a PR (#83153) for this. Please have a look.

[2019-10-23 13:18] isidorn commented on #83095
So you want like a wildcard function breakpoint.
Also you want the function breakpoint to turn into a logpoint (which the protocol does support but we just do not surface in the UX)

[2019-10-23 13:20] JuliusGoddard commented on #82752
Same problem... need solution urgently.

[2019-10-23 13:22] #83140 closed

[2019-10-23 13:23] bpasero commented on #83133
@misolori I remember when we initially designed this experience (cc @stevencl) that we never wanted to show more than 3 actions until we put the rest into overflow menu. I have a feeling since there is no way to disable UI contributions individually, we might need to enforce this experience when we detect too many icons.

Should we force actions to appear in the "..." menu if we see > 3?

@ManPyth

[2019-10-23 13:26] JesseLevesque commented on #83099
So when I type out code (or erase) and save, then open in live server or refresh an open live server, it reverts to a previous save. It does this in both HTML and CSS files. The drive I'm using is a school H drive. The only websites open in my browser are my school website, outlook and the live server.

[2019-10-23 13:34] alexr00 commented on #83151
Does this reproduce if you disable all extensions?

[2019-10-23 13:36] alexr00 commented on #83152
Individual language extensions could do this. Otherwise, it is a duplicate of https://github.com/microsoft/vscode/issues/9505

[2019-10-23 13:36] #83152 closed

[2019-10-23 13:39] bpasero commented on #83099
@JesseLevesque so would you agree that "Live Server" is an extension that might trigger this? Do you see the text getting removed when you type and save without using any extension?

[2019-10-23 13:39] vladkarnhuji opened #83154 "Using the mouse wheel on terminals with scrollback 0 will output weird characters"
Issue Type: <b>Bug</b>

if I set Terminal › Integrated: Scrollback to 0 in settings, (i did that because i thought it would result in "unlimited scrollback"), if prints weird charecters on the terminal when I use the touchpad to scroll through terminal

Edit: I see it isn't in system info, I'm on Mac.

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:33:00.827Z

[2019-10-23 13:43] alexr00 commented on #83128
Does a simple task work if you use the Run Task command?
[code]

[2019-10-23 13:49] kingmanas opened #83155 "Terminal not loading ~/.zshrc in the first go"
- VSCode Version: 1.39.2 x64
- OS Version: 4.19.0-kali5-amd64

Steps to Reproduce:
1. Change your terminal to zsh using ``chsh -s `` command
2. Make some changes in the ~/.zshrc
3. Now launch vscode and hit <kbd>Ctrl</kbd> + <kbd>`</kbd>
4. What you would notice is that changes in ~/.zshrc do not reflect in this terminal.
5. Delete this terminal and create a new one.
6. This new terminal works com

[2019-10-23 13:53] JesseLevesque commented on #83099
Possibly. I can't seem to open my HTML in the browser without live server and using live server currently is a requirement in my course. Me and one other student have this problem but the whole class uses live server.

[2019-10-23 13:55] myfonj commented on #79935
#79934 was fixed for simple click, but the same issue prevails for case user intends to **select** text in area affected by `editor.cursorSurroundingLines` using mouse: as soon as single letter becomes selected, this selection is pushed out of the border area, text rolls under pressed mouse cursor what continues to select more etc.. what is hardly ever the intended behavior for strictly horizontal

[2019-10-23 14:04] CTimmerman commented on #77964
From #73035:

Navigating to `/home/cees/code/test/server.js:20` via de debug console only works for me when using both hands, one holding Ctrl.

Version: 1.39.2
Commit: 6ab598523be7a800d7f3eb4d92d7ab9a66069390
Date: 2019-10-15T15:33:40.634Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x64 4.15.0-1059-oem snap

[2019-10-23 14:05] gabebear opened #83156 "Relative paths to folders below code-workspace not preserved on save."
- VSCode Version: 1.39.2
- OS Version: MacOS 10.14.6 (18G87)
- Does this issue occur when all extensions are disabled?: Yes

Steps to Reproduce:

1. Edit Thing1.code-workpace to include a folder below the current code-workspace(e.g. "../docs")
2. Click "Save WorkSpace As..." and save to a file named Thing2.code-workpace.

Result: Thing2.code-workpace has its relative path turned into an absolute p

[2019-10-23 14:09] elizeuangelo commented on #83151
Actually, If I disable the Python extension it doesnt acuse problems anymore.

So, the problem is with the extension: ms-python.python

[2019-10-23 14:10] andrecasal commented on #81808
Would also be good to update the setting's description.

[2019-10-23 14:10] bpasero commented on #83099
@JesseLevesque to clarify:

This only surfaces when you try things out in the HTML live server right, not in the editor?

[2019-10-23 14:15] elizeuangelo commented on #83151
Im closing this and posting on the extension page

[2019-10-23 14:15] #83151 closed

[2019-10-23 14:16] HaveSpacesuit opened #83157 "Highlight Modified Tab setting no longer hides circle by file name"
Issue Type: <b>Bug</b>

Before the October 2019 update, turning on the `workbench.editor.highlightModifiedTabs` setting would put a blue border at the top of the tab and remove the black circle next to the file name on the tab. (Unless I'm mis-remembering!) Now, when turning on the setting, we see BOTH the blue border and and black circle.

I sure enjoyed having ONLY the blue border and not the bl

[2019-10-23 14:25] #81654 closed

[2019-10-23 14:25] alexr00 commented on #56034
Fix 6 months ago by https://github.com/microsoft/vscode/pull/71476

[2019-10-23 14:25] #56034 closed

[2019-10-23 14:25] isidorn commented on #81654
@bpasero thanks for feedback. I am no longer using `textFileService` but I am using the `fileDialogService` and the `fileService`
@roblourens you can try it out and let me know how it behaves now for you. Thanks

[2019-10-23 14:31] bpasero commented on #83157
Didn't we fix this?

[2019-10-23 14:33] #78790 closed

[2019-10-23 14:34] isidorn commented on #78790
Verifier:

Change the editor.fontSize, add a conditional breakpoint and make sure the text in the breakpoint widget is centered.

[2019-10-23 14:37] joaomoreno commented on #83039
That is not only a temp solution, but the actual fix for your setup.

[2019-10-23 14:37] joaomoreno commented on #83078
If you restart VS Code everything should come back to normal. Make sure you close all the windows.

[2019-10-23 14:39] isidorn commented on #82290
We have merged a PR which potentially fixes this.
Please try it out with VS Code insiders from Thursday and provide feedback here if it is behaving better. Thank you very much

[2019-10-23 14:40] sarpik commented on #82946
Hello, I'd like to add to this - the shortcuts disappear for me too! This happens always since I've updated vscode from 1.38 to 1.39.2.

I opened the same merge conflict with vscode 1.38 / vscode-insiders 1.39.0 and it works absolutely fine.

Can we get this re-opened?

/cc @chrmarti

Let's create a sample conflict:

[code]

[code]

[code]

[code]

[code]

![vscode-normal-nope](https://user-images

[2019-10-23 14:41] bpasero commented on #71743
Is it still good for people with our latest insider builds that use Electron 6?

[2019-10-23 14:42] misolori commented on #83133
I do think it's worth setting a limit on the number of actions shown and placing the rest in the overflow menu (that's a common pattern). Though I'm not sure what the right number would be, as certain cases require more than others:

<img width="386" alt="image" src="https://user-images.githubusercontent.com/35271042/67404512-5bf99d00-f568-11e9-80b3-7d3ee35b82e3.png">

I would also expect this to

[2019-10-23 14:43] bpasero commented on #83133
Related: https://github.com/microsoft/vscode/issues/46403

[2019-10-23 14:46] rickstaa commented on #77837
@jeanp413  The fix is working. I now have the desired scroll behavoir back! @jeanp413 and @isidorn Thanks a lot!

[2019-10-23 14:47] alexandrudima commented on #82499
Thanks a lot @tobiaslombacher and @bpasero !

---

@chrmarti This appears to be an access violation in `vscode-windows-ca-certs`, specifically [on this line](https://github.com/microsoft/vscode-windows-ca-certs/blob/9e9e73f1d11db2d8f08292443f1c38fb1bbeead9/crypt32.cc#L43)

---

From `Code__PID__21080__Date__10_19_2019__Time_09_14_36AM__858__Log.txt`:

Notice `crypt32.node` getting loaded from `vsc

[2019-10-23 14:50] isidorn commented on #77837
Thanks, adding verified label.

[2019-10-23 14:56] isidorn commented on #82597
I actually have no better idea when should I clean the zen mode state.
@bpasero is there a better time to do this in the web? Currently I listen to `onWillSaveState`

An ideal option is that zen mode just stores that it is active in memory and next time we start eveyrthing is clean. However zen mode is piggy backing on a lot of other features which need to be cleaned since they are stored across r

[2019-10-23 14:59] gjsjohnmurray commented on #83148
@frank-dspeed I just tried this but the final few lines of output were:
[code]
Have you been able to build and run VSCode in Gitpod?

[2019-10-23 15:02] jrieken commented on #62435
This is now actually working. Since a few months outline uses the same fuzzy score algorithm IntelliSense sense does and the samples should you have listed should now work. please file individual issues for cases that don't work well. Happy Coding

[2019-10-23 15:02] #62435 closed

[2019-10-23 15:05] isidorn commented on #81060
I am not really sure what is the current state of this.
Should we just create a new extension host debug related servie in the electron-main.
However also assigning to @weinand so he is in the loop

[2019-10-23 15:06] #35164 closed

[2019-10-23 15:07] isidorn commented on #82290
Let me reopen since the PR probably does not fix the original isssue.
If we are mistaken, do let us know

[2019-10-23 15:07] ivanvoznyakovsky opened #83159 "Titles are not showing when hovering action icons"
We have written the needed data into your clipboard because it was too large to send. Please paste.

| Latest stable | Latest insiders |
|-|-|
|<img width="336" alt="Screenshot 2019-10-23 17 55 00" src="https://user-images.githubusercontent.com/6418145/67406942-71e67c80-f5bf-11e9-9cf8-a77aa3303473.png">|<img width="396" alt="Screenshot 2019-10-23 17 55 34" src="https://user-images.githubuserconten

[2019-10-23 15:07] jrieken commented on #70769
/duplicate of https://github.com/microsoft/vscode/issues/46471

[2019-10-23 15:07] #70769 closed

[2019-10-23 15:08] dompedro-jonathborg opened #83160 "CTRL + . (dot) import suggestions doesn't work anymore"
- Issues for this are already closed without response.
- Tested with code insiders.

- VSCode Version: 1.40.0-insider
- OS Version: Linux joe-PC 5.0.0-32-generic #34-Ubuntu SMP Wed Oct 2 02:06:48 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux (Ubuntu 19.04)

yarn add semantic-ui-react

use ```<Header>``` or other jsx tags without import. CTRL + . (dot) and nothing.

Zero extensions installed.

CTRL + . (

[2019-10-23 15:11] Tyriar commented on #83155
Some follow ups:

- Did you have a VS Code window opened when you changed `.zshrc`, as the environment won't refresh until you close all windows.
- Did zsh open or whatever your previous shell was?
- Does it happen every time, regardless of `chsh`?
- Enable trace logging https://github.com/microsoft/vscode/wiki/Terminal-Issues#enabling-trace-logging, and check the log for what args the first termi

[2019-10-23 15:11] Fausto95 opened #83161 "Live Share Terminal(width & height)"
When doing a Live Share session with shared terminal, if the host resizes its terminal, the collaborator's terminal gets resized too.

- VSCode Version:  1.39.2
- OS Version:  Darwin x64 19.0.0

Steps to Reproduce:

1. Create a Live Share Session and share a terminal
2. Resize the terminal

[2019-10-23 15:12] roblourens opened #83162 "Multi session debug console missing output or showing wrong output"
I have been debugging with two sessions simultaneously quite a lot this week and I have randomly seen the debug console lose output, or show output from session A when the dropdown shows session B.

I don't have good repro steps but it has happened several times. Here is a case when both happened:

![image](https://user-images.githubusercontent.com/323878/67407659-b4cb3480-f56c-11e9-9fd2-03fabc671

[2019-10-23 15:13] alexr00 commented on #83159
Does not repro on Windows or Mac with the latest insiders. Did you try rebooting?

[2019-10-23 15:13] #83159 closed

[2019-10-23 15:14] kamenminkov opened #83163 "Limited FPS in full screen"
Issue Type: <b>Performance Issue</b>

VS Code version: Code - Insiders 1.40.0-insider (f5d3ffa6a0d655c87e1eb0e1e90773df58f7ff25, 2019-10-23T05:25:50.857Z)
OS version: Windows_NT x64 10.0.19002

Note: also happens with latest stable as of now (1.39.2) on the same system.

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-5820K CPU @ 3.30GHz (12 x 3300)|
|GP

[2019-10-23 15:14] hlacik opened #83164 "Using remote containers on ARMv64 (Jetson Nano) fails (wrongly installs vscode-server-linux-64)"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. Create local devcontainer.json
{
	"image": "ubuntu",
	"workspaceFolder": "/pcrdev",
	"workspaceMount": "src=pcrdev,dst=/pcrdev,type=volume,volume-driver=local"
  }

2. Launch Remote-Containers Open Folder in Containers

3. Wait during Installing Dev Container, Copying VSCode Server to container

Wrong extension architecture is installed (x64

[2019-10-23 15:14] #83161 closed

[2019-10-23 15:16] weinand commented on #83095
You are asking for a feature that creates a dynamic call graph of your program.
Typically this is done via some "trace" functionality of the runtime or by instrumenting the code before running it.

It is out of scope for VS Code.

[2019-10-23 15:16] #83095 closed

[2019-10-23 15:17] Tyriar commented on #83154
Upstream issue: https://github.com/xtermjs/xterm.js/issues/2500

[2019-10-23 15:19] aparcanapavel opened #83165 "An Error occured while loading the image"
Issue Type: <b>Bug</b>

I have noticed that every time I try to open an image on vs code, I get the error stated on the title no matter what image file type

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:33:00.827Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6820HQ CPU @ 2.70GHz

[2019-10-23 15:19] ivanvoznyakovsky commented on #83159
@alexr00 just figured that it only happens in zen mode. switching back to normal mode brings titles back.

[2019-10-23 15:20] gjsjohnmurray commented on #83148
Turns out I can start it by adding the `--no-sandbox` switch
![image](https://user-images.githubusercontent.com/6726799/67408499-01d0fa00-f5b1-11e9-8a89-cda6419e46f1.png)

[2019-10-23 15:25] Tyriar commented on #83149
I believe this is already fixed, can you see if you can reproduce in the [Insiders build](https://code.visualstudio.com/insiders)?

[2019-10-23 15:25] #83149 closed

[2019-10-23 15:25] Tyriar commented on #83149
colons, semi-colons and commas are now work separators as of about a week ago

[2019-10-23 15:34] Tyriar commented on #83147
If you installed either apt or snap package you should remove them using the regular means. Try using trace logging to find out where the terminal is failing:

https://github.com/microsoft/vscode/wiki/Terminal-Issues#enabling-trace-logging

[2019-10-23 15:36] Tyriar commented on #83130
The colors the terminal draws is based on the vscode theme. You can try change the renderer to see if that changes the colors https://github.com/microsoft/vscode/wiki/Terminal-Issues#rendering-problems

[2019-10-23 15:37] Tyriar commented on #83120
This looks like an issue with our old terminal backend "winpty", going forward we are focusing our efforts on the new backend "conpty" which is build by the Console team at Microsoft and should fix many issues with the terminal under Windows. You can read more about getting ConPTY [here](https://github.com/Microsoft/vscode/issues/57803#issuecomment-449495423).

/duplicate https://github.com/Micros

[2019-10-23 15:37] #83120 closed

[2019-10-23 15:37] Tyriar commented on #83094
code runner is an extension

[2019-10-23 15:37] #83094 closed

[2019-10-23 15:38] Tyriar commented on #83100
Enable trace logging to see where it's failing: https://github.com/microsoft/vscode/wiki/Terminal-Issues#enabling-trace-logging

[2019-10-23 15:38] JesseLevesque commented on #83099
After I save, it's still there but once I go to the live server to test the HTML page and come back after to vs code, it reverts back to a previous save. This affects both my HTML and CSS code.

[2019-10-23 15:38] Tyriar commented on #83142
This looks like an issue with our old terminal backend "winpty", going forward we are focusing our efforts on the new backend "conpty" which is build by the Console team at Microsoft and should fix many issues with the terminal under Windows. You can read more about getting ConPTY [here](https://github.com/Microsoft/vscode/issues/57803#issuecomment-449495423).

/duplicate https://github.com/Micros

[2019-10-23 15:38] #83142 closed

[2019-10-23 15:38] #1958 closed

[2019-10-23 15:39] #2085 closed

[2019-10-23 15:40] sguillia commented on #79639
Well this still reproduces but I have no time for this until next week

I hope you can re-open when I'll add more info here @bpasero

Please don't lock

[2019-10-23 15:51] alexandrudima commented on #6918
I'm happy to let you know that different font features per language now works on Insiders with the work done for https://github.com/microsoft/vscode/issues/82153

With the following settings:
[code]

The editor is configured to turn on `ss19` only for C++ (https://github.com/tonsky/FiraCode/releases):

![image](https://user-images.githubusercontent.com/5047891/67410992-3b0f6700-f5bd-11e9-8fd1-42e3

[2019-10-23 15:51] #6918 closed

[2019-10-23 15:52] bwateratmsft opened #83167 "(Insiders) Can't build extension without vscode.proposed.d.ts because vscode.d.ts references it"
The [vscode.d.ts](https://github.com/microsoft/vscode/blob/d0cbf5660fafcb2681d4e08d6cc5992764b21279/src/vs/vscode.d.ts#L9378) file references `DebugSessionOptions`, which is defined in [vscode.proposed.d.ts](https://github.com/microsoft/vscode/blob/d0cbf5660fafcb2681d4e08d6cc5992764b21279/src/vs/vscode.proposed.d.ts#L638). This was added in [this commit](https://github.com/microsoft/vscode/commit/

[2019-10-23 15:53] Tyriar commented on #81775
@mjbvz I don't think I ever set that, this is working now though. Perhaps Electron 4?

[2019-10-23 15:53] #81775 closed

[2019-10-23 15:53] armarti opened #83168 "Add action to transpose editor splits"
It would be neat if we could transpose the current splits we have in the editor. See the below screenshots for what I mean.

The reason (for me) is twofold:
- When I'm working in vscode fullscreen and have several editor tabs open, stacked left-right, and I want to move it to the left side of the screen so I can put another application on the right side of the screen, the editor tabs end up very c

[2019-10-23 15:55] #82903 closed

[2019-10-23 15:55] armarti commented on #83168
That involves transposing text.

[2019-10-23 15:55] alexandrudima commented on #10435
Implemented via https://github.com/microsoft/vscode/commit/ab0eb6de2d5fb4563385d98f302f78caa1767efd (https://github.com/microsoft/vscode/issues/82153) and it already shipped in Insiders.

e.g.
[code]

or

[code]

[2019-10-23 15:55] #10435 closed

[2019-10-23 15:55] bwateratmsft commented on #83167
@isidorn, @dgozman who look like they've worked in these areas.

[2019-10-23 16:03] alexandrudima commented on #81391
Related -- https://github.com/microsoft/vscode/issues/75615

[2019-10-23 16:04] Tyriar commented on #22772
@sohailrajdev97 I closed #82903 in favor of this one as thinking about it more I don't think we should invest in links specifically for java and instead improve all languages. I think this issue has a number of things we can do:

- Firstly we will need to be able to disable the current local link validation step that checks the file system, right now there is enableFileLinks which allows disabling

[2019-10-23 16:04] #12174 closed

[2019-10-23 16:05] rubengmurray commented on #83095
Hi Weinand,

I'm looking for a feature that allows me to use the debugger option more easily / find bugs quicker. Debugging legacy code that travels all over the place is obviously time consuming.

I do understand why in isolation this could be considered 'out-of-scope' for a code editor, but then again, this code editor has a feature called 'debugger', so i'm curious why this feature in particula

[2019-10-23 16:10] alexandrudima commented on #15027
There is `editor.rulers` e.g. `"editor.rulers": [10, 20, 40]`:

![image](https://user-images.githubusercontent.com/5047891/67412840-55970f80-f5c0-11e9-95a5-8125ed2ce5f2.png)

[2019-10-23 16:11] alexandrudima commented on #19832
We now have `"editor.hover.sticky"` which can be set to `false` which will make the hover go away when moving the mouse over it.

[2019-10-23 16:11] #19832 closed

[2019-10-23 16:12] #21233 closed

[2019-10-23 16:14] octref commented on #83092
This is intended — when you have self-closing tag VS Code stays on the same level. Otherwise it indents.

[2019-10-23 16:14] #83092 closed

[2019-10-23 16:17] nonarkitten commented on #35480
Not sure if it was mentioned -- Visual Studio Code **DOES** honour the .gitignore file, so feel free to add untracked files there to clean up the source control view. Of filter out a whole folder, and put all untracked files there.

[2019-10-23 16:17] octref commented on #75905
@aNickzz I can't repro from the original piece. Please open a new issue with reproducible steps.

[2019-10-23 16:19] alexandrudima commented on #23819
I have investigated this and it would be quite difficult to implement. When the mouse is over the minimap, we behave in the same way as if the mouse leaves the editor. The reason is because the minimap captures the hit testing we do and it is not possible for us to know which character / what offset is painted under the minimap. We therefore set the cursor at the maximum column.

[2019-10-23 16:19] #23819 closed

[2019-10-23 16:19] #24565 closed

[2019-10-23 16:24] Bene-Graham commented on #83155
I am also having this issue on MacOS Catalina.

What I have noticed is if you launch from the terminal it works correctly and loads zsh.

If you launch from the dock / launchpad / searchpad  does not load zsh but instead bash

[2019-10-23 16:26] dyeske opened #83169 "MS code does not support FreeBSD for remote editing"
MS code does not appear to support FreeBSD for remote editing.  I have observed how this works on Linux and it appears that MS code initializes a nodejs instance on the remote server to implement this feature.   I am unable to find the source code that implements this remote agent.  I would like remote editing to work with FreeBSD.  I would be happy to help implement this functionality because it

[2019-10-23 16:29] bonfire62 commented on #35480
@nonarkitten not sure about others, but I need the functionality outside of the gitignore, as the gitignore for my repo is tracked and I can't modify it.

[2019-10-23 16:30] #34905 closed

[2019-10-23 16:31] bwateratmsft commented on #81439
@alexr00 @philliphoff I tried it out in the latest insiders, and it works perfectly. Thank you Alex!

[2019-10-23 16:34] kodymallory commented on #64984
I was running into this issue with 1.39.2. I added rg.exe to the Windows Defender Exclusion list and that stopped the Antimalware Service Executable from pinning the CPU at 100%. This is a better workaround than disabling the Defender entirely.

[2019-10-23 16:34] isidorn commented on #83162
Next two weeks I am out on vacation, thus assigning this to November
In the meantime let me know if you find nice repro steps.
Thanks a lot, really appreciate it

[2019-10-23 16:36] dyeske commented on #74857
I sniffed the current implementation and it appears to download a bunch of binaries from azure.  These binaries look like they contain some Linux nodejs items.  FreeBSD binaries could be built that contain the same functionality.  I just opened https://github.com/microsoft/vscode/issues/83169.

[2019-10-23 16:37] realh commented on #13516
I might not go so far as to say this is crucial, but I think it is quite important. In my duplicate bug report I pointed out how touchpads can scroll horizontally and vertically at once, so the scrollbars can be quite a nuisance. Every other editor I've used resizes the viewport as soon as a long line is deleted.

If your implementation is as simple as you say in the [second comment here](https://

[2019-10-23 16:37] rcdailey opened #83170 "Allow setting window size and position from command line"
As a user, I'd like to be able to specify the window's size and position from the command line. This will improve the usability of VS Code as a general text editor with Git (using the `core.editor` setting). Right now, the only mechanism to affect window size is in VS Code settings, which are for a different use case entirely.

Right now to start up VS Code for editing commit messages, interactive

[2019-10-23 16:39] RMacfarlane commented on #83093
Duplicate of https://github.com/microsoft/vscode/issues/73515

[2019-10-23 16:39] #83093 closed

[2019-10-23 16:40] #83167 closed

[2019-10-23 16:41] isidorn commented on #83167
@bwateratmsft great catch. I have just pushed a fix for this
@weinand fyi for the order I placed this in the `vscode.d.ts`, maybe you prefer a different order. I put the interfaces outisde of the debug namespace (as are our other debug interfaces and classes)

[2019-10-23 16:56] w9jds commented on #68962
I have been looking into this and already created a setting for it, as well as modified the sash to take in a size option and apply it, and default to the `4px` that is currently used. Is there any suggestions on how I get the setting down to the sash? Everything that creates a sash doesn't get passed in a `IConfigurationService`

[2019-10-23 16:56] egamma commented on #83148
This is cool! However, there are other providers of similar services and I don't think it is appropriate to advertise hosting providers in the vscode README.

[2019-10-23 16:56] #83148 closed

[2019-10-23 17:01] misolori opened #83171 "Allow a way to detect extensions in the activity bar"
Related to the discussion in #83113, we need to find a cleaner way to detect if an item in the activity bar is an extension:

https://github.com/microsoft/vscode/blob/e1987504a17bd9fd805f84ba3bc6cea2e5c260c6/src/vs/workbench/browser/parts/compositeBarActions.ts#L162-L165

This is due to the fact that extensions provide a custom svg and use a mask + background color to make them themeable. However

[2019-10-23 17:04] ManPython commented on #83133
I think that the best solution is to move these part with icon to special menu as toolbar or made class that colectin icons from eny ext as part of toolbar and offer to colect this type toolbars in global class and for this offer show/hide toolbars from menu view as in classic GUI in other software. Then we have freedom for cards as normaly. In setting we can offer option to hide some toolbar icon

[2019-10-23 17:05] kingmanas commented on #83155
No the issue mostly happens on the first launch after startup.

zsh opens but it does not load my oh-my-zsh theme and plugins in the first go. I have to delete the terminal and make a new one which works.

I never went back to using bash again. But this never happened with bash.

The following exact line appears twice, and I see that it is correctly loading zsh dependencies from ~/.oh-my-zsh folde

[2019-10-23 17:05] sbatten commented on #83102
the status of autosave is in the menu:
![image](https://user-images.githubusercontent.com/6561887/67416968-aab13200-f57c-11e9-993a-0a904905db47.png)

[2019-10-23 17:06] #83102 closed

[2019-10-23 17:06] timdang commented on #82203
@joaomoreno Per @donalffons - Contextual menu only shows:
<img width="193" alt="Screen Shot 2019-10-23 at 10 00 57 AM" src="https://user-images.githubusercontent.com/7561014/67416962-a71dab00-f57c-11e9-8d86-7f9919f9a799.png">
The rest of the Extension is working (albeit the icons are broken). The status bar menu at the bottom still links to the repo, gives me build status, links to work items.

Sa

[2019-10-23 17:13] spiska opened #83172 "Terminal split line right click issue"
- VSCode Version: 1.39.2
- OS Version: macOS 10.15 (19A602)

Steps to Reproduce:

1. View -> Terminal
2. Split Terminal
3. Right mouse click on split line
4. Click (left mouse btn) somewhere to dismiss context menu

'split line' keep moving between terminals

![right-click_bug](https://user-images.githubusercontent.com/29575947/67417490-318bfc00-f5c9-11e9-8c1a-322cb61bf16d.gif)

Does this issue oc

[2019-10-23 17:15] roblourens commented on #83059
I can repro this on Windows.

[2019-10-23 17:30] #82475 closed

[2019-10-23 17:32] #54507 closed

[2019-10-23 17:34] eamodio commented on #71690
Closed in https://github.com/microsoft/vscode/pull/82781

[2019-10-23 17:34] #71690 closed

[2019-10-23 17:35] #39165 closed

[2019-10-23 17:39] #40431 closed

[2019-10-23 17:39] alexandrudima commented on #42643
Let's track in #10339

[2019-10-23 17:39] #42643 closed

[2019-10-23 17:46] alexandrudima commented on #43130
We are computing it, but computing can only take us so far. This can be defined by the theme or directly in user settings via the colors `editorCursor.foreground` / `editorCursor.background`

e.g.

![image](https://user-images.githubusercontent.com/5047891/67419855-c133a980-f5cd-11e9-868d-5f3ca348cfd4.png)

[2019-10-23 17:46] #43130 closed

[2019-10-23 17:51] doggy8088 opened #83174 "Missing English text in Command Palette"
- VSCode Version: `1.39.2` with **Traditional Chinese** language enabled
- OS Version: `Windows 10.0.18362.418`

Steps to Reproduce:

1. Hit `F1`
2. Type `Manage Trusted Domains`

I can't find `Manage Trusted Domains` in **Traditional Chinese** language mode. It suppose have Chinese and English version together. In this version of VSCode, the English text is missing.

![image](https://user-images.

[2019-10-23 17:51] alexandrudima commented on #43294
Duplicate of #7517

[2019-10-23 17:51] #43294 closed

[2019-10-23 17:53] waldyrious commented on #15027
@alexandrudima please note that this request is for a _dynamic_ ruler that shows in what column the cursor is, the same way that `editor.renderLineHighlight` shows in what line the cursor is.

The misunderstanding is due to the conflicting meanings given to the term "ruler" (which was separately raised in #30610), but looking at the packages mentioned in the opening comment ([CursorRuler](https://

[2019-10-23 17:53] alexandrudima commented on #47709
Duplicate of #13516

[2019-10-23 17:53] #47709 closed

[2019-10-23 17:54] misolori commented on #83157
I thought this was fixed but it turns out it wasn't. Closing as a duplicate of https://github.com/microsoft/vscode/issues/64684 and re-opening.

[2019-10-23 17:55] georgesmith2017 commented on #41114
I know this is not a real fix, but as workaround, type the following in the Problems View filter (top right of the panel): `*.tf`
This will effectively ignore the .tfvars files. :)

[2019-10-23 17:56] misolori commented on #64684
This should also hide the dirty state when `workbench.editor.highlightModifiedTabs` is set to `true`. Right now it only hides it when `workbench.editor.tabCloseButton` is `off`.

[2019-10-23 18:01] SteveL-MSFT commented on #81399
Here's my launch.json

[code]

[2019-10-23 18:03] mjbvz commented on #83165
Please share a screenshot of the error.

Also, does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2019-10-23 18:04] mjbvz commented on #83146
Please share the text of the code along with screenshots

[2019-10-23 18:04] misolori commented on #64684
Here's all of the states to verify:

When `workbench.editor.highlightModifiedTabs` is `true`:
<img width="513" alt="image" src="https://user-images.githubusercontent.com/35271042/67420665-ec91a680-f583-11e9-8d1b-9e6b802a37da.png">

When `workbench.editor.tabCloseButton` is `off`:
<img width="465" alt="image" src="https://user-images.githubusercontent.com/35271042/67420740-0df29280-f584-11e9-8b33-f

[2019-10-23 18:06] mjbvz commented on #83110
But the cpu usage go away after a moment or two?

[2019-10-23 18:10] #82978 closed

[2019-10-23 18:11] rebornix commented on #81946
/duplicate of https://github.com/microsoft/vscode/issues/82978 and fixed in master.

[2019-10-23 18:11] #81946 closed

[2019-10-23 18:14] Tyriar commented on #83155
@kingmanas This means that zsh is run without any args which means `.zshrc` should run. Note that we don't run `.zshrc` but zsh itself does, there's nothing we can do to influence it other than via args and env vars. Maybe there's a conditional in your `.zshrc` preventing oh-my-zsh from loading?

[2019-10-23 18:16] mjbvz commented on #83141
Does this only happen when you open one JavaScript file in particular?

[2019-10-23 18:17] alexandrudima commented on #46201
The solution is the one proposed by @usernamehw -- https://github.com/microsoft/vscode/issues/46201#issuecomment-374720926

[2019-10-23 18:17] #46201 closed

[2019-10-23 18:22] alexandrudima commented on #49152
Let's track in #11770

[2019-10-23 18:22] #49152 closed

[2019-10-23 18:23] #82546 closed

[2019-10-23 18:25] #62348 closed

[2019-10-23 18:25] #83016 closed

[2019-10-23 18:26] #83138 closed

[2019-10-23 18:26] #82901 closed

[2019-10-23 18:27] pyoungberg commented on #33184
Any update?

[2019-10-23 18:30] #49428 closed

[2019-10-23 18:32] Tyriar commented on #20380
Still accepting PRs for this but I'm closing it off as we don't plan on fixing several of these, in particular the arch-dependent binaries being included as that's how we ship.

[2019-10-23 18:32] #20380 closed

[2019-10-23 18:35] gregvanl opened #83176 "Find control in Markdown preview not correctly themed"
- VSCode Version: 1.40 Insiders
- OS Version: Windows 10

Steps to Reproduce:

1. Bring up a Markdown preview
2. Ctrl+F to open the preview editor Find control

There is no outline to show focus and the text box isn't themed.

![image](https://user-images.githubusercontent.com/12818376/67423501-3b8e0a80-f589-11e9-84ea-319339a5e686.png)

[2019-10-23 18:37] LarnuUK opened #83177 "editor.tabSize not respected when line has tabs already"
Issue Type: <b>Bug</b>

When tabbing a block or line that already has tabs, the `editor.tabSize` setting is ignored, and instead the tabs are moved to where the next tab would be. For example if a line has been indented 7 characters, and the `editor.tabSize` has a value of `4`, pressing <kbd>Tab</kbd> will not move the line to start at position 11, it will be moved to start at position 8.

If you

[2019-10-23 18:38] #81958 closed

[2019-10-23 18:38] misolori commented on #83138
Fixed and also tweaked the padding of the symbol icons in the no tab view:

<img width="554" alt="image" src="https://user-images.githubusercontent.com/35271042/67423728-a17a9200-f589-11e9-94df-208a1da3f298.png">

[2019-10-23 18:42] #81890 closed

[2019-10-23 18:42] byyxx128 commented on #83174
Occured in simplified Chinese as well.
![image](https://user-images.githubusercontent.com/20079289/67423780-e101a800-f5a2-11e9-9424-6f3e280d4d24.png)
Japanese as well.
![image](https://user-images.githubusercontent.com/20079289/67423937-2a51f780-f5a3-11e9-856c-873470626631.png)

So I can absolutely ensure it is not related to which language pack is using.

[2019-10-23 18:45] rebornix commented on #68696
I can no longer reproduce this issue in latest.

[2019-10-23 18:46] apenab opened #83178 "Not respond any feature (Search, Consoles, .....)"
Issue Type: <b>Bug</b>

Open de vscode and after a few minutes the search does not work

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:35:18.241Z)
OS version: Windows_NT x64 10.0.18362
Remote OS version: Linux x64 4.4.0-18362-Microsoft

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz (8 x 1800)|

[2019-10-23 18:46] alexandrudima commented on #50826
Let's track in #46875

[2019-10-23 18:46] #50826 closed

[2019-10-23 18:47] sguillia opened #83179 "API: document.save closes document"
Issue Type: <b>Bug</b>

Steps to reproduce

1. git clone https://github.com/sguillia/vscode-bug-repro
2. cd vscode-bug-repro
3. npm ci
4. code-insiders .
5. Press F5 (start debugging session)
6. In the guest, run command `Hello world`
7. Watch as an editor opens and immediatly closes
8. Look at source code, I never asked the editor to close

Make sure that `hello.txt` does not exist if you test se

[2019-10-23 18:51] rebornix commented on #74558
@isidorn not sure if I understand it incorrectly, restricting the command to `ContextKeyExpr.and(EditorContextKeys.writable, EditorContextKeys.editorTextFocus) ` doesn't filter it out from Comment Editor, right?

[2019-10-23 18:52] karmelyoei opened #83180 "Failed to save 'style.css': The content of the file is newer. Please compare your version with the file contents."
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2019-10-23 18:53] rebornix commented on #73347
This issue should be gone now.

[2019-10-23 18:53] #73347 closed

[2019-10-23 18:58] gjsjohnmurray commented on #83180
/needsMoreInfo

[2019-10-23 19:01] #50239 closed

[2019-10-23 19:07] rebornix commented on #68800
I can't reproduce this issue anymore.

[2019-10-23 19:07] #68800 closed

[2019-10-23 19:08] karmelyoei commented on #83180
the problem is I am trying to save a CSS file and the problem has occurred, Failed to save 'style.css': The content of the file is newer. Please compare your version with the file contents. and didn't save my file it didn't recognize my file

[2019-10-23 19:19] dgieselaar opened #83181 "TypeScript slow to respond when switching between projects"
Issue Type: <b>Performance Issue</b>

For [Kibana](https://github.com/elastic/kibana), we have a TypeScript setup with nested `tsconfig.json` files. Over the course of the last few months, I and others have started seeing serious latency (10s+) when resolving type information (either via suggestions or code navigation). We've also tried the same setup in Webstorm, and after some initial delay due

[2019-10-23 19:45] #46729 closed

[2019-10-23 19:46] Tyriar commented on #46729
To verifier: Experiment with jumping around commands, scrolling and jumping around more. Note that the scroll position navigation only applies when you do not have an active selection from the select to commands (cmd+shift+up/down).

[2019-10-23 19:50] Tyriar commented on #47711
Works fine out of sources, in the product build I see this:

[code]

[2019-10-23 20:11] #50163 closed

[2019-10-23 20:19] nonarkitten commented on #35480
@bonfire62  Create a folder. Put everything untracked in there. Add a new .gitignore in there and have it ignore everything. Git will automatically never include empty folders.

[2019-10-23 20:20] rbadapanda opened #83182 "Renderer of code insider is crashing too often (4 times in last 1 hour) on my typescript workspace"
Issue Type: <b>Bug</b>

Process:               Code - Insiders Helper (Renderer) [19181]
Path:                  /Applications/Visual Studio Code - Insiders.app/Contents/Frameworks/Code - Insiders Helper (Renderer).app/Contents/MacOS/Code - Insiders Helper (Renderer)
Identifier:            Code - Insiders Helper (Renderer)
Version:               0
Code Type:             X86-64 (Native)
Parent Proce

[2019-10-23 20:24] mark-hahn commented on #83120
I've tried winpty and conpty with no luck.  WSL is unusable at the moment because large portions have unreadable colors.

I used WSL in vscode for some time with no problem.  Are you sure nothing has changed recently?

I guess I could try reloading everything from scratch.

[2019-10-23 20:26] aperomsik commented on #35480
@nonarkitten The whole reason I set status.showuntrackedfiles to no in .gitconfig was to avoid the need to mess with gitignore.

[2019-10-23 20:28] josb opened #83183 "Ability to invert Invert text under block cursor for readability"
# Issue Type
Feature Request

# Description
Theme: Solarized (https://marketplace.visualstudio.com/items?itemName=ryanolsonx.solarized)

The character under the block cursor is hard to read. Compare:

VS Code:
text foreground color remains the same when cursor is over character
<img width="224" alt="Screen Shot 2019-10-23 at 1 16 37 PM" src="https://user-images.githubusercontent.com/50617/67430854

[2019-10-23 20:29] gabebear commented on #83156
The documentation implies that relative paths will be preserved. Nesting shared projects can become very cumbersome if accessing directories below the code-workspace is not well supported.

https://code.visualstudio.com/docs/editor/multi-root-workspaces#_save-workspace-as

[2019-10-23 20:32] bonfire62 commented on #35480
@nonarkitten That wouldn't work in my case, because a lot of the content I need to hide as untracked is generated at compile time

[2019-10-23 20:32] mjbvz commented on #82882
Tracked upstream by https://github.com/microsoft/TypeScript/issues/23380

[2019-10-23 20:33] #82882 closed

[2019-10-23 20:35] bwanicur commented on #83110
No.  At first it appears to be intermittent, but if I leave VSCode running, the process will eventually become constant and the fan will engage.  The fan noise is how I originally found this issue :0 .

[2019-10-23 20:36] kingmanas commented on #83155
@Tyriar There you go

[code]

[2019-10-23 20:37] jcklpe commented on #23707
@borekb it kind of is with a hack using CSS injection as I mentioned. If you'd like to see how I did it, I have a post [[here]](https://www.jackalope.tech/improve-the-visual-semantics-of-vscode/)

Warning the extension I originally made does not actually work in solving this problem because I packaged the extension wrong (or something... not sure... I used MS's azure based extension build tool and

[2019-10-23 20:37] sensiloles commented on #28795
Create or edit ~/[.imwheelrc](https://gist.github.com/sensiloles/16358b6d802a023edb5072ae0220968f)
A line ".*" in the file means that the settings will be applied to all programs.

[2019-10-23 20:39] Gustavo-Sz opened #83184 "Scrolling too fast"
There is no steps to reproduce.

Since i have activated the windows touchpad gestures, i got this problem on scrolling. It was normal before, when i had it deactivated. I can't scroll because , no matter how small is the distance i move my fingers up/down on the touchpad,  the editor seems to jump to the start or end of the lines due to the high sensibility of the scroll. i also saw that this prob

[2019-10-23 20:48] ArturoDent commented on #83183
Perhaps unintuitively ` editorCursor.background` within your `colorCustomizations` does change the text color "under" a block cursor.

So ` editorCursor.foreground`  changes the block color itself and ` editorCursor.background`  the text within the block cursor.

It will not automatically invert the colors given a some ` editorCursor.foreground`  setting, you would have to chose some contrasting c

[2019-10-23 21:07] rinky97 opened #83185 "how to configure vscode along with gitbash on windows"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/visual-studio-code.

The suggested method was to copy paste the vs code application from the downloads folder to an Application folder. For starters, there is no Applications folder in windows. What should I do.

[2019-10-23 21:11] deepak1556 commented on #82509
Pending verification once https://github.com/electron/electron/pull/20709 gets into the next electron version bump.

[2019-10-23 21:16] #83176 closed

[2019-10-23 21:23] Tyriar commented on #83120
@mark-hahn your version of Windows 10 doesn't support conpty even if you use the setting, it needs 18309+. The fix here is to upgrade Windows 10.

[2019-10-23 21:25] danger89 commented on #39711
https://github.com/microsoft/vscode/issues/66224 ISSUE IS NOT SOLVED!

Its a big performance issue. I also randomly suffer from the `/usr/share/code/code /usr/share/code/resources/app/out/bootstrap-fork --type=watchService` that is not only using a lot of CPU. But mainly causing a lot of IO on my disk, which sometimes even lead to a non-working computer (lock-ups). :fearful:

[2019-10-23 21:29] Tyriar commented on #83155
@kingmanas you linked output from the bad terminal launching I'm assuming, can you do the same for the second (good) terminal so we can diff the args and env?

[2019-10-23 21:30] #82696 closed

[2019-10-23 21:34] andrecasal opened #83186 "The setting editor.overviewRulerLanes has no effect"
This happens in Insiders v1.40.0

- VSCode Version: 1.39.2
- OS Version: macOS 10.15

Steps to Reproduce:
1. Set `"editor.overviewRulerLanes": 1`
2. Notice that the overview ruler still shows 3 lanes

Does this issue occur when all extensions are disabled? Yes

[2019-10-23 21:34] andrecasal commented on #83186
[Related StackOverflow question.](https://stackoverflow.com/questions/57979035/what-does-vs-code-editor-overviewrulerlanes-setting-does/)

[2019-10-23 21:41] rebornix commented on #60084
I can no longer reproduce this issue.

[2019-10-23 21:41] #60084 closed

[2019-10-23 21:42] ay0o commented on #83130
Tried both renderers, neither seem to impact the color. With the dom-based renderer the font looks slightly bigger, but that's all, nothing else changes.

[2019-10-23 21:43] rebornix commented on #80015
No longer reproducible in latest, thanks.

[2019-10-23 21:43] #80015 closed

[2019-10-23 21:49] #64402 closed

[2019-10-23 21:51] bmewburn commented on #83177
Have you tried `editor.detectIndentation`?

[2019-10-23 21:55] rebornix commented on #40213
The Find Widget input box honors JavaScript regex engine, closing it as the issue here is no longer valid.

[2019-10-23 21:55] #40213 closed

[2019-10-23 21:56] rebornix commented on #60521
/duplicate of https://github.com/microsoft/vscode/issues/64513 and let's track it there, we may need a richer autoFindInSelection option.

[2019-10-23 21:56] #60521 closed

[2019-10-23 21:59] LarnuUK commented on #83177
@bmewburn that setting has nothing to do with the problem. It is defined as:

The file above wasn't opened to start with, it's a new file, and (in my opinion) that setting is awful at detecting Tab Size, so I have it off. I actually raised a "bug" on it on ADS the other week, as it was even overriding the settings in a workspace `settings.json`.

[2019-10-23 21:59] msikma commented on #7517
A duplicate of this was just closed, which reminded me of this. I think a percentage would probably make the most sense, personally. I'd set it to, say, 70% - so that when scrolling all the way down, 70% of my lines are code and 30% is empty space. As I recall, that's approximately how I had Webstorm configured when I used it a couple of years ago.

[2019-10-23 22:05] rebornix commented on #45445
The last use case described above is actually allowing to change the search scope while searching, which is not supported now.

[2019-10-23 22:08] StephenWeatherford opened #83187 "Env vars from one configuration bleed into another"
Issue Type: <b>Bug</b>

I've seen this multiple times but when I tried to come up with a repro it wasn't consistent.  I've got an environment variable DISABLE_SLOW tests defined as "1" in one configuration but not in a second. After using the first configuration for a while, then switching to the second, I'm finding that DISABLE_SLOW is stilled set to the value "1" from the first configuration eve

[2019-10-23 22:08] #46056 closed

[2019-10-23 22:09] rebornix commented on #45211
/duplicate of https://github.com/microsoft/vscode/issues/17563#issuecomment-296622212

[2019-10-23 22:09] #45211 closed

[2019-10-23 22:11] rebornix commented on #39904
/duplicate of https://github.com/microsoft/vscode/issues/44093

[2019-10-23 22:11] #39904 closed

[2019-10-23 22:11] mjbvz opened #83188 "Using iframe based webviews on desktop"
Today VS Code implements the webview api on desktops using electron's `<webview>` tag. We've run into some unexpected behavior with webviews and would prefer to move to a more standard web based approach, such as using iframes

For web, we already implement webviews using normal iframes. You can also enable experimental iframe based webviews in desktop VS Code by setting `"webview.experimental.use

[2019-10-23 22:13] mjbvz commented on #69315
Would be fixed by https://github.com/microsoft/vscode/issues/83188

[2019-10-23 22:19] #50304 closed

[2019-10-23 22:19] ProLoser commented on #70283
I'm having this problem too:

[code]

And this is the UVP Web task's log output (note that I had to kill the watching task for the right pane to start):

![image](https://user-images.githubusercontent.com/67395/67438454-650a5e80-f5a8-11e9-8f40-902bc9aac7b5.png)

`Starting 'devWatch'` is not being picked up and allowing the `Liteframes` task to start. I had to manually kill the left pane task befor

[2019-10-23 22:19] alexandrudima commented on #50304
The resolution is that revealing will work, but the cursor will not be painted. That is because we want to signal that the cursor is in the not painted region...

[2019-10-23 22:20] mjbvz commented on #81389
Thanks @IllusionMH. That sounds like the root cause of the original issue.

Closing as by-desig but #12463 would improve support. You can also run `TypeScript: Go to project configuration` to check what project VS Code considers the current file to be in

[2019-10-23 22:20] #81389 closed

[2019-10-23 22:20] rebornix commented on #31422
Actually I think this is the expected behavior, after searching for a word, you may run command "Select All Find Matches" to select all matches in the find scope (for example you have find in selection turned on), then you can press Escape to hide the find widget and continue with the multiple selections.

[2019-10-23 22:20] #31422 closed

[2019-10-23 22:23] rebornix commented on #27520
Current behavior is good if you don't want the editor scrolls too often. Considering there is not much complains about this behavior, I'd like to keep it this way for now.

[2019-10-23 22:23] #27520 closed

[2019-10-23 22:28] rebornix commented on #64513
Let's use https://github.com/microsoft/vscode/issues/27083 to track this issue, the solution will be introducing a richer `findInSelection` option.

[2019-10-23 22:29] rebornix commented on #77805
Let's use #27083 to track this issue, the solution will be introducing a richer findInSelection option.

[2019-10-23 22:29] #77805 closed

[2019-10-23 22:29] #64513 closed

[2019-10-23 22:31] rebornix commented on #81154
thanks, then I think it should be okay to close the issue now.

[2019-10-23 22:31] #81154 closed

[2019-10-23 22:35] rebornix commented on #79935
thanks, I agree that having ways to opt out for mouse has great value.

[2019-10-23 22:37] josb commented on #83183
That is pretty unintuitive, indeed. I have produced the desired result with:
[code]
Thanks!

[2019-10-23 22:37] #83183 closed

[2019-10-23 22:43] rebornix commented on #42586
With Electron being updated over the last two years, we can handle the file better now. Using a real stopwatch

* Open 2MM lines (375MB) in Code uses 3.3s
* Open in Sublime takes around 3.3s

Copy 1MM lines and paste doesn't crash the renderer process as well since the string len limit is increased.

For multiple selections, there is not much we can do now, we can handle so many selections in our

[2019-10-23 22:43] #42586 closed

[2019-10-23 22:46] rebornix commented on #51625
Closing it now as we have updated Electron from 3 to 6 with increased string len limit and better string mem management from v8. Large file can crash the renderer process when it has many lines or tons of non ASCII characters but if you think the file is normal and it crashes vs code for other reasons, feel free to open new issues.

[2019-10-23 22:46] #51625 closed

[2019-10-23 22:57] dfdumaresq opened #83189 "Adding another keybinding to "cut" breaks cmd+x in text inputs"
Issue Type: <b>Bug</b>

Unable to cut either search or replace using key-command %x. Seems like you've dropped a rather common key command.

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:33:00.827Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4980HQ CPU @ 2.80GHz (8 x 2800)|
|GPU

[2019-10-23 23:07] mahsoommoosa42 opened #83190 "Expose Elevated Save to the User"
Currently, let's say we are modifying something in a protected directory where we require admin or sudo access. We need to attempt a save first, be met with insufficient permissions prompt and then hit the "Retry as Sudo" button. Why not make this available as an option in the "File" dropdown. Additionally, It could be an action which could be manually assigned to a keyoboard shortcut if the user

[2019-10-23 23:08] frobinsonj commented on #83171
@misolori I have a local fix that makes the first case of the `isExtension` check redundant. Would you be interested in a PR that only fixes this first case?

https://github.com/frobinsonj/vscode/commit/9e16f664b6d867056fe02c74666f091c6f43eb9d

[2019-10-23 23:14] v-andrew commented on #83021
https://github.com/microsoft/vscode/issues/83021#issuecomment-544836509 ans https://github.com/microsoft/vscode/issues/83021#issuecomment-544988734 *

When copied code to my `tasks.json` VSCode marked it as incorrect:
![image](https://user-images.githubusercontent.com/12078150/67346662-781c2080-f50d-11e9-9232-628a182b9923.png)

When I'm trying to build it doesn't affect my default shell set to `ba

[2019-10-23 23:22] GabrielBucsan commented on #12622
The main reason we don't see an extension that provides this feature yet is that VSCode API does not expose information about what files are openned at a given time. The only available option is to cycle through all the files using a built-in command and keep this by hand (with the downside of flickering the editor and not letting you work properly). And yes, that would be a problem to have severa

[2019-10-23 23:30] #81293 closed

[2019-10-23 23:31] #59961 closed

[2019-10-23 23:31] Tyriar opened #83191 "Share link detection logic with the terminal and editor"
Proposal that would allow sharing link logic: https://github.com/xtermjs/xterm.js/issues/583

Related: https://github.com/microsoft/vscode/issues/34026

[2019-10-23 23:32] Tyriar commented on #83191
fyi @isidorn

[2019-10-23 23:32] v-andrew commented on #83021
@alexr00 Option to add OS specific option is available in VSCode in the different level of `tasks.json`:
![image](https://user-images.githubusercontent.com/12078150/67441581-69943e80-f5cb-11e9-8dac-cc725d971697.png)

So this is not `feature-request`, but `issue`

[2019-10-23 23:38] Spongman commented on #64513
i don't think there's a need for a different `findInSelection` option.

It _never_ makes sense to 'find in selection' if the find input is initialized with the value of the selection. there's no need for an option to say 'always do something that never makes any sense', just don't do the broken thing.

visual studio proper has always done the right thing here, choosing 'current document' instead o

[2019-10-23 23:38] Tyriar commented on #83130
@ay0o pretty sure your theme is saying to use that color then? You can set them in settings manually:

![image](https://user-images.githubusercontent.com/2193314/67441882-87ee4000-f5b3-11e9-9184-f27e7cbe907b.png)

[2019-10-23 23:38] jsgoller1 opened #83192 "--gpu-preferences has suspicious default setting (possible security issue?)"
After killing VSCode when it locked up, I executed `ps aux | grep code` and found the following (of several) processes running:

[code]

The `--gpu-preferences` setting doesn't look sane; it looks like input you'd use to overflow an unsantized string buffer. Is this normal?

Version info:
[code]

Steps to Reproduce:

1. Open VSCode from the launcher.
2. Execute `ps aux | grep code` to see the outp

[2019-10-23 23:40] Spongman commented on #27083
i don't think there's a need for a different findInSelection option.

It **never** makes sense to 'find in selection' if the find input is initialized with the value of the selection. there's no need for an option to say 'always do something that never makes any sense', just don't do the broken thing.

visual studio proper has always done the right thing here, choosing 'current document' instead o

[2019-10-23 23:57] dotDeeka commented on #19140
Why was this issue closed and points to an issue about switch/case indentation specifically. This is an issue that effects more than just switch. Jsdoc comments are formatted differently by reindent lines vs format, as well as jsx.

I expect all indentation commands to indent the same

[2019-10-23 23:57] #80707 closed

[2019-10-23 23:58] mjbvz commented on #83192
This is expected https://stackoverflow.com/questions/52677555/strange-gpu-preferences-of-chrome

[2019-10-23 23:58] #83192 closed

[2019-10-24 00:03] rebornix commented on #80707
🚀  Really good catch! I definitely saw it a couple of times but didn't find good ways to reproduce it.

The root cause is we didn't respect how `Searcher` validates the search result. If word patterns are provided, we will check if the search result is inside a pair of word boundaries. However in above case, we attempt to search `/bar/gu` in `barbar\nbar\nbar\nbar\nbar\n` from offset 3. The first

[2019-10-24 00:04] mark-hahn commented on #83120
Thanks.  That fixed it.

I didn't think my new laptop would have an older windows than my previous laptop.

[2019-10-24 00:06] rebornix commented on #80707
Verify:

1st, the same as what @alexandrudima described:

* Open an untiled file
* Type `bar`
* shift+alt+down 5 times
* move the cursor to left once
* all `bar` should be highlighted

2nd. Finish above steps first

* add `2` at the end of `bar` of the 4th line
* add `2` at the end of `bar` of the 2nd line
* Please verify
  * move cursor into any `bar` highlights all `bar`
  * move cursor into any

[2019-10-24 00:07] mjbvz commented on #19140
There is pretty much zero reason to use `Reindent all lines` in js/ts files; use `format document`. `Reindent all lines` has a lot of bugs and limitations and we do not plan on investing in it further given its complexity. Using `Format document` is the solution for js/ts files

[2019-10-24 00:07] rebornix commented on #82068
Let's use https://github.com/microsoft/vscode/issues/78394to track and the reason why current implementation doesn't handle it properly is described in https://github.com/microsoft/vscode/issues/78394#issuecomment-544717420 .

[2019-10-24 00:08] #82068 closed

[2019-10-24 00:10] rebornix commented on #75136
/duplicate of https://github.com/microsoft/vscode/issues/40634

[2019-10-24 00:10] #75136 closed

[2019-10-24 00:13] #79308 closed

[2019-10-24 00:13] #79126 closed

[2019-10-24 00:15] rebornix commented on #74458
/duplicate of https://github.com/microsoft/vscode/issues/38893

[2019-10-24 00:15] #74458 closed

[2019-10-24 00:15] Tyriar commented on #83120
Good to hear 🙂

[2019-10-24 00:16] Tyriar commented on #59414
I removed the limit and notification as it mainly just annoyed people so this is no longer needed.

[2019-10-24 00:16] #59414 closed

[2019-10-24 00:17] #77482 closed

[2019-10-24 00:19] #77104 closed

[2019-10-24 00:19] #75844 closed

[2019-10-24 00:20] #75481 closed

[2019-10-24 00:21] #74053 closed

[2019-10-24 00:23] #72454 closed

[2019-10-24 00:30] Tyriar commented on #74604
Actually there's nothing I can do here as I'm just leveraging the generic opener service. You would need to convince the entire editor to change how links are handled which has already failed several times.

[2019-10-24 00:32] jhechtf commented on #79720
I'd be happy to do it and set a merge request, I just cannot find where the given command is located.

[2019-10-24 00:44] ashah86 opened #83193 "the Commit in the source does not work"
Issue Type: <b>Bug</b>

the Commit in the source does not work when I click on the commit icon. This is the first time it has happened to me.

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:35:18.241Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3470 CPU @ 3.20GHz (4 x 3193

[2019-10-24 00:53] worsethannetbeans commented on #23931
The ability to search, then search for something else, then go back to the previous search results quickly because you wanted to check something again is incredibly useful. In Visual Studio Code the search results are lost after each search. I have to try remember what obscure thing I was searching for before then search again. It makes VS Code almost useless as an IDE.

I used to use Netbeans and

[2019-10-24 00:57] #76268 closed

[2019-10-24 00:59] mjbvz commented on #76268
This was a pain to fix. With the change though, you should now see two prompts in the case @Tyriar brought up: one from VS Code and one for the js/ts extension.

However there are still cases where js/ts can prompt multiple times for a single set of file moves, including:

* If you move a mix of js and ts files. The user can have different settings for whether to update imports in these two differ

[2019-10-24 01:14] rbavery opened #83195 "Can't trigger breakpoint in a local file that is called by the current file on VSCode remote ssh"
Issue Type: <b>Bug</b>

I can trigger the breakpoint in my current file that calles the other local file, but no breakpoints can be triggered outside of the current file for some reason. I'm using VSCode remote on the Azure Data Science VM.

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:33:40.634Z)
OS version: Linux x64 5.0.0-32-generic
Remote OS version: Li

[2019-10-24 01:14] roonyh opened #83196 "Enteraction appending text before the new line"
[EnterAction](https://code.visualstudio.com/api/references/vscode-api#EnterAction) Should allow appending text before the new line as well.

What I want to do is when a user press enter in the middle of a string to break it into two lines and concat the string with +

eg:

convert this,
[code]

to
[code]

But I can only append `+ "` to the string below. No way to add `"` to the string above :(

[2019-10-24 01:27] #51071 closed

[2019-10-24 01:30] #55157 closed

[2019-10-24 01:31] #51403 closed

[2019-10-24 01:33] #59542 closed

[2019-10-24 01:33] mjbvz commented on #60251
We also now support reporting issues directly against extensions using the issue reporter

[2019-10-24 01:33] #60251 closed

[2019-10-24 01:37] mjbvz commented on #62315
@jrieken Do you think we'd ever want to expose this to extensions? Shipping binaries in extensions isn't great right now but I don't think giving extensions the electron version is the right fix

[2019-10-24 01:38] #64370 closed

[2019-10-24 01:41] #69357 closed

[2019-10-24 01:41] rbadapanda opened #83197 "Source Control treelist does not preserve folding state"
Issue Type: <b>Bug</b>

Put the SCM view in treelist
<make sure there are some files with changes>
contract the treelist.

Goto any other tab, say explorer tab and come back

REPRO: whole treelist is unExpanded

VS Code version: Code - Insiders 1.40.0-insider (f5d3ffa6a0d655c87e1eb0e1e90773df58f7ff25, 2019-10-23T05:24:32.072Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

[2019-10-24 01:42] #72605 closed

[2019-10-24 01:44] mjbvz commented on #83188
Also potentially addresses #65413

[2019-10-24 01:47] huashi001 opened #83198 "Wrong position of the selector in the debugging console"
- VSCode Version: 1.39.2
- OS Version:

Steps to Reproduce:

1.open the selector in the debugging console
2.change the height of the debugging console
3. problem occurs

Does this issue occur when all extensions are disabled?: Yes

[2019-10-24 01:47] mjbvz commented on #69315
Actually already tracked by #65452

[2019-10-24 01:47] #69315 closed

[2019-10-24 02:05] J370 commented on #83100
Had this issue as well on Ubuntu after the update.

However, terminal appears again when launching through terminal with `code` command.

[2019-10-24 02:20] #82922 closed

[2019-10-24 02:23] roblourens commented on #82931
Sounds good to me @isidorn, I think we can add a setting to enable closing it or matching the original state, but it should stay open by default to avoid confusing users who can't find their program output, especially when their program is fast.

[2019-10-24 02:30] roblourens commented on #82844
And this is all one line in the actual vscode editor?

Are you sure that this isn't the destination app adding line breaks? It just looks like it's trying to wrap it to some column width. What if you paste it into another vscode editor?

[2019-10-24 02:33] 945GeekBoy opened #83199 "javascript输出问题"
Issue Type: <b>Feature Request</b>

就是没办法输出，哔了狗了

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:35:18.241Z)
OS version: Windows_NT x64 10.0.17763

[2019-10-24 02:49] #78824 closed

[2019-10-24 02:55] rebornix commented on #16460
This is fixed already.

[2019-10-24 02:55] #16460 closed

[2019-10-24 02:58] gaoljhy opened #83200 "User keyboard shortcut on different operational System should Sync"
1. on different System ,user self shortcut need to Sync
2. if not ,user need change many keybind .

that's terrible.

1. maybe can export user setting to a file and then user can  import it on a different System

2. Or need a account like onedriver?

[2019-10-24 02:58] rebornix commented on #80008
Looked into this again. This is as expected and designed this way.

[2019-10-24 03:00] ThanLoo opened #83201 "Using Regex Replace To Replace Target"
- VSCode Version:1.39.2
- OS Version:Win10 1809

Steps to Reproduce:

It dont work to use search with regular expression to replace the first charector of the word to upper case . FYI:
![image](https://user-images.githubusercontent.com/46884137/67449444-c84dcc80-f64c-11e9-92e6-761221df7d5e.png)

Does this issue occur when all extensions are disabled?: Yes/No
Yes

[2019-10-24 03:00] mjbvz commented on #50103
I've confirmed that we no longer show the NaN TB in the status bar.

We still do not show anything helpful on the left side of the editor for large image however. This root cause is that for the left side resource, VS Code uses a uri such as `"data:%3Blabel%3Abig.png%3Bdescription%3AHEAD%2C"`. I believe that these uris are created here by the git extension: https://github.com/microsoft/vscode/blob

[2019-10-24 03:00] #73784 closed

[2019-10-24 03:01] sun-xm commented on #22557
Sounds good. Thanks very much for the explanation @sean-mcmanus

[2019-10-24 03:01] #83199 closed

[2019-10-24 03:03] #41855 closed

[2019-10-24 03:03] rebornix commented on #41855
No longer reproducible.

[2019-10-24 03:22] rebornix commented on #70497
The `line, column` status doesn't represent the view column information, instead it displays the character information in JS string, which is the one we use to store the text buffer. To fix this issue we need proper unicode text segmentation.

[2019-10-24 03:22] #70497 closed

[2019-10-24 03:25] AkshitAggarwal commented on #83147
I tried removing and installing with both of them. But the issue remains. Enabling Trace Logging opens a log but I'm unsure how to find the exact issue.
`[2019-10-24 08:54:26.707] [renderer1] [error] ioctl(2) failed, EBADF: Error: ioctl(2) failed, EBADF
    at UnixTerminal.resize (/snap/code/18/usr/share/code/resources/app/node_modules.asar/node-pty/lib/unixTerminal.js:227:13)
    at S.resize (fil

[2019-10-24 03:27] kingmanas commented on #83155
@Tyriar No, it is from a good terminal launch because the theme and plugins worked that time.

[2019-10-24 03:28] #71622 closed

[2019-10-24 03:35] #59185 closed

[2019-10-24 03:37] #63097 closed

[2019-10-24 03:41] dhairyanadapara commented on #83186
@andrecasal, you are right the settings are getting overridden. Once it assigned to anyone I will ask them if this change is necessary or by design they have decided like this. :)

[2019-10-24 03:50] AkshitAggarwal commented on #83147
![image](https://user-images.githubusercontent.com/40717067/67451933-6d61a880-f63f-11e9-8ca5-695b706a1eaa.png)

[2019-10-24 04:13] bpasero commented on #83163
VSCode is built on top of a large number of components that are not maintained by the VSCode team directly. This includes:
* [Electron](https://github.com/electron/electron) as the cross platform UI framework
* [node.js](https://github.com/nodejs/node) for most integration into the OS
* [Chromium](https://bugs.chromium.org/p/chromium/issues/list) as runtime and rendering engine (HTML, CSS, JS)
* a

[2019-10-24 04:13] #83163 closed

[2019-10-24 04:14] bpasero commented on #83099
@JesseLevesque do you also see this when Live Server is not involved?

[2019-10-24 04:15] bpasero commented on #79639
Can you please follow the steps in https://github.com/Microsoft/vscode/wiki/Native-Crash-Issues to get at more details around the crash and attach the result here? Thanks!

[2019-10-24 04:17] qadszilla opened #83202 "Keyboard and Mouse become super laggy and unresponsive"
Issue Type: <b>Performance Issue</b>

The issue happens within random minutes of starting the editor and gets worse with time. Once the issue starts, the editor must be closed completely for the system to recover.

I've experienced this issue before but its the worst in 1.39.2 - to the point that it becomes impossible to work.

Adding these flag to the startup path stops the issue completely:
--di

[2019-10-24 04:36] sylvaingirardbe commented on #78824
@rebornix can you link the duplicate?

[2019-10-24 04:36] mattacosta commented on #82940
@jrieken Thoughts? The status bar item of vscode's built-in extension clearly isn't being hidden when it should be, so...

[2019-10-24 04:43] #67184 closed

[2019-10-24 04:44] #63423 closed

[2019-10-24 04:58] sjagmeet37 opened #83203 "Terminal Not Opening"
Hi Team,
when I try to open terminal it shows a blank screen. earlier I was able to see some text but I wasn't able to write any command in it.

Thanks

[2019-10-24 05:04] Tyriar commented on #83147
You spawning `/bin/rbash /bin/bash`, ie. `/bin/bash` is the first argument for the executable `/bin/rbash`, that doesn't seem right?

[2019-10-24 05:30] #82736 closed

[2019-10-24 05:45] Avinm commented on #50304
Isn't it the normal behavior that the cursor also moves to the end?

[2019-10-24 05:51] yogeshkotadiya commented on #82194
@crper Since Electron 7 is now out, Electron 8 Beta will start to roll out soon. So I think the team should start with Electron 8 and skip the 7 just like they did with v5 becasue as we can see it takes a lot of time to update VSCode to the new Electron version.

[2019-10-24 06:22] khaschuluu commented on #28795
Thank you so much, it works, so far so good.

I'm using ubuntu 18.04, but your link for arch, and I configured following way on my system:
1. Add following lines to ~/.imwheelrc and save
[code]
2. Add following command to Startup Application Preferences
``` imwheel --kill --buttons "4 5"```

Now, my zoom works fine and scroll didn't jumps.

[2019-10-24 06:22] AkshitAggarwal commented on #83147
Yes, I made some changes in terminal.integrated.linux I added `/bin/bash` somwhere which causes exit code:126. How do I change it back?

[2019-10-24 06:24] akarito opened #83204 "jupyter notebook insert cell bottom"
Version: 1.39.2 (user setup)
Commit: 6ab598523be7a800d7f3eb4d92d7ab9a66069390
Date: 2019-10-15T15:35:18.241Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.16299

I want to add a new cell between two activated cells, but all the buttons add the new cell at the bottom of the entire notebook.

Does this issue occur when all extensions are di

[2019-10-24 06:29] AkshitAggarwal commented on #83147
![image](https://user-images.githubusercontent.com/40717067/67459244-b6245c00-f655-11e9-90cc-43bd9e8bfb29.png)
Here is what I was attempting to do.

[2019-10-24 06:33] saivan commented on #33607
I have to chime in here too and say please. The header area is distracting, and it doesn't really serve a huge purpose for me, I can always just bring back the tab bar if I need that information

[2019-10-24 06:36] McLisak commented on #83146
Hi. Sure, there is the text example:
[code]

[2019-10-24 06:50] pbotsman commented on #82629
Hello!

Is there any chance that this issue could be fixed in the current release?

Because of this issue, I had to downgrade to a previous version of the VS Code.
Looks like many developers who faced the same issue did the same.

Thank you!

[2019-10-24 06:55] jadeja-rajdeep commented on #83141
hello

i think its only happen when we directly open the first large .js file cause the file that i am talking about is have around 17000 line of code in it.

so if we open smaller files its fine i think its initialize js/ts features very fast. but if file is larger then this problem start occurring.

thanks

[2019-10-24 06:58] aeschli commented on #82773
The request to have language specific colors is #20652. It's not likely to happen due to the issue you mentioned above (theme also defined workspace colors) and the way our theming is implemented

However, for your example, I think this needs to be fixed in the Jupiter extension.

The Jupiter extension should
- make sure that tables and graphs use colors that go well with the current theme
- defin

[2019-10-24 06:58] #82773 closed

[2019-10-24 07:14] aeschli commented on #82866
Clsoing, Please reopen if you have steps to reproduce.

[2019-10-24 07:14] #82866 closed

[2019-10-24 07:14] emirhanengn commented on #82456
I was close the VS code and after that i opened it. It started to working... Thank you for help 👍

[2019-10-24 07:15] bpasero opened #83205 "ShardProcess: Trying to add a disposable to a DisposableStore that has already been disposed of"
Saw this shutting down quickly after starting up:

[code]

[2019-10-24 07:17] jrieken commented on #83138
Thanks

[2019-10-24 07:19] jrieken commented on #82940
Thanks for clarifying and the ping - this almost got lost... Needs some investigation but sound like a bug. @bpasero When no code editor has focus we use the workbench active editor. In the case of the setting UI would that be the active editor?

[2019-10-24 07:21] jrieken commented on #62315
Yeah, not sure what the plan actually is but I am also not the biggest fan of this request. Unless there are objections I would fold this in the "support binaries for extensions" request

[2019-10-24 07:21] #62315 closed

[2019-10-24 07:23] ay0o commented on #83130
yes @Tyriar , you are right that I can manually force them to match the color I want by manually setting each of them, but this wasn't the behavior prior to the update to macOS Catalina, that's why I opened this ticket.

Before, both VSCode and iTerm2 had the same scheme without manual changes. In either case, I'm closing the ticket as the solution is as simple as:

1) Open iTerm2 / Terminal
2) Co

[2019-10-24 07:23] #83130 closed

[2019-10-24 07:24] bpasero commented on #82597
@isidorn you will have to find a solution that does not require any long running operations on reload or shutdown, there is no way in the web to support this currently. If you must persist state on shutdown, `window.localStorage` is an option. I think it is fine to be used if we do not store too much in it. I use it already in another case for other reasons.

[2019-10-24 07:28] bpasero commented on #81060
The state has not changed much, this is about allowing the renderer to call `openExtensionDevelopmentHostWindow` through debug services and nothing else. Please:
* search for all usages of `openExtensionDevelopmentHostWindow`
* ensure this is not provided from `IElectronService` but your own debug service
* having `openExtensionDevelopmentHostWindow` in `IWindowsMainService` is OK and does not nee

[2019-10-24 07:35] aeschli commented on #78660
Hm, I don't know why my 'trick' doesn't work, but it would take me some time to set up the full a code example. Do you have something that works?

In essence, the editor has a special rules how a selection looks for HC themes. For an extension to know how the selection looks like it would need to know the theme and the current color values. The request for this is #32813.

If that's fine with you,

[2019-10-24 07:35] frank-dspeed commented on #83148
ok i am fine with that but i tought it maybe speeds up onboarding a lot :)

[2019-10-24 07:45] alexr00 commented on #82994
It looks like the fix I made worked. Can folks who were seeing the issue try again and confirm?

[2019-10-24 07:45] #82994 closed

[2019-10-24 07:50] bpasero commented on #82940
@jrieken yes, as far as the workbench is concerned there is always an active editor unless a group is active that has no editor open (e.g. when all editors are closed or when enabling the setting to not close empty editor groups).

In this particular case, the following code seems to get hit:

[code]

`_getActiveEditorFromEditorPart` returns undefined because there is no text editor control (it is

[2019-10-24 07:51] bpasero commented on #82940
Relevant code from TS version updater (which gets hit):

[code]

[2019-10-24 07:51] joaomoreno commented on #82203
@timdang I'm having an **incredibly** hard time getting a local workspace in TFS. I have an Azure DevOps account. I have Java. I have TEE. I can't create a local workspace. How did you create yours?

[2019-10-24 07:53] #83180 closed

[2019-10-24 07:54] NullEnt1ty commented on #71743
This bug seems to be fixed for me.

[2019-10-24 07:55] #83185 closed

[2019-10-24 07:55] Wathsara commented on #82749
can I append my own set of keywords to the completion list when creating this method? example i have .abc extension and
[code]
and also I need to set of keywords to send onCompletion in .abc extension type as well.

[2019-10-24 07:56] djmisterjon opened #83206 "rendering minimap region colors"
hey all, how i can render the `#regions` colors in the `minimap` ?
![image](https://user-images.githubusercontent.com/24865815/67464840-0bd71500-f612-11e9-9537-fabf5b18b88a.png)

is it a bug ? because it seem rendering all other colors.
I also open a question here.
https://stackoverflow.com/questions/58536628/vscode-minimap-region-color
thanks

**VERSION**
- Version : 1.39.2 (user setup)
- Validat

[2019-10-24 07:58] isidorn commented on #74558
I believe it does. Because the editorTextFocus is set only when the editor is not a simple widget. Check it out here https://github.com/Microsoft/vscode/blob/f554449e3baa6db81c04ed2c321c60ec3a8e9b9f/src/vs/editor/browser/widget/codeEditorWidget.ts#L1640

And I hope the comment editor is a simple editor widget like the repl input is. I set this here https://github.com/Microsoft/vscode/blob/f554449e

[2019-10-24 07:59] jrieken commented on #83179
Pretty sure that's the design. You create an untitled editor and when saving that the untitled document is closed and the actual document on disk is opened instead

[2019-10-24 08:00] geajack opened #83207 "VS Code occasionally forgets all of my recently opened documents"
- VSCode Version: 1.39.2
- OS Version: Ubuntu 18.10

Every now and then (maybe once a month), I'll turn on my computer, open up VS Code, and all of my recently opened workspaces will be gone. That is, there's nothing in the "Recent" section of the Welcome page, and nothing under File > Open Recent. This seems to happen at random.

Does this issue occur when all extensions are disabled?: I don't kn

[2019-10-24 08:01] Ghyud opened #83208 "show incorrect current branch resource files"
Have Multiple branch switch between them, It stuck into showing the last branch files(new files) is already switched to another. Some common file has changed, It delay in update.
On restart the IDE it switches and starts showing the correct branch.

[2019-10-24 08:01] Pomax commented on #82934
Dude, you tell me. If the dialog popping up had anything predictable about it, I wouldn't be complaining about it. VSCode will literally for seemingly _no reason at all_ pop up this dialog, when I'm working on a branch with 100 file changes, and not being able to say "I don't give an f, save my file because I know that nothing else should have touched this while I was working on it" is infuriating

[2019-10-24 08:01] sguillia commented on #79639
You will be disappointed by the backtrace.
[code]

<details>
<summary>Fulll GDB log</summary>

[code]

</details>

@bpasero

[2019-10-24 08:02] jrieken commented on #82940
Assigning to @mjbvz. For the active editor point of view things work as specified - since the output channel got focus last it continues to be the active editor.

[2019-10-24 08:03] alexr00 commented on #83200
duplicate of https://github.com/microsoft/vscode/issues/78966

[2019-10-24 08:03] #83200 closed

[2019-10-24 08:04] alexr00 commented on #83202
Please checkout the performance section of our wiki: https://github.com/microsoft/vscode/wiki/Performance-Issues

[2019-10-24 08:04] sguillia commented on #83179
It isn't. do you mean I should call `showTextDocument` again with the `file` scheme?

[2019-10-24 08:06] #83204 closed

[2019-10-24 08:10] isidorn commented on #83198
I can not reproduce this. Can you reproduce with vscode insiders https://code.visualstudio.com/insiders/
Can you post a screen shot of this issue?

[2019-10-24 08:12] weinand commented on #81399
I assume that only the first launch config (name ".NET Core Launch") is relevant for this issue...

[2019-10-24 08:16] joaomoreno opened #83209 "Webview bleeds on top of statusbar"
Notice the status bar in the bottom of the workbench:

![image](https://user-images.githubusercontent.com/22350/67466375-460ed980-f647-11e9-94cc-3141dcfdc43a.png)

[2019-10-24 08:22] alexr00 commented on #83159
I tried it out on a mac with zen mode, and I still can't see it. I think you are seeing some issue with chrome full screen + titles. There's not much we can do about that, but thank you for reporting.

[2019-10-24 08:22] joaomoreno opened #83210 "Broken status bar octicons"
The [Azure Repos](https://marketplace.visualstudio.com/items?itemName=ms-vsts.team) extension looks like this in the latest insiders:

![image](https://user-images.githubusercontent.com/22350/67466857-13b1ac00-f648-11e9-81bc-38737ac55d98.png)

Did we break them somehow?

[2019-10-24 08:22] jcc8HW commented on #32320
VSCode is the best code editor. this is the only annoying bug it has

[2019-10-24 08:25] timdang commented on #82203
I set up the workspace using the command line following these instructions:
https://docs.microsoft.com/en-us/visualstudio/mac/tf-version-control

[2019-10-24 08:34] chrmarti commented on #62132
Is this still an issue?

[2019-10-24 08:35] chrmarti commented on #62781
Closing as obsolete.

[2019-10-24 08:35] #62781 closed

[2019-10-24 08:41] ivanvoznyakovsky commented on #83159
@alexr00 not sure I understand what you mean by `you are seeing some issue with chrome full screen + titles`. there's no problem w/ titles in zen mode in stable release. it's only in insiders.
here are screencasts of both versions
stable - https://youtu.be/IcYvbao86xk
insider - https://youtu.be/1T9AN1ZVvZg

[2019-10-24 08:43] chrmarti commented on #66037
Closing as obsolete.

[2019-10-24 08:43] #66037 closed

[2019-10-24 08:45] #62811 closed

[2019-10-24 08:47] alexandrudima commented on #40187
Duplicate of #21196

[2019-10-24 08:47] #40187 closed

[2019-10-24 08:48] alexandrudima commented on #83014
Duplicate of #21196

[2019-10-24 08:48] #83014 closed

[2019-10-24 08:49] chrmarti commented on #77825
/duplicate #12588

[2019-10-24 08:49] #77825 closed

[2019-10-24 08:49] isidorn commented on #83195
Looking at your extension list you seem to be using pythong. So I believe you are debugging python, so I would file thiss against the python extension since they are in charge of handling breakpoints.
Thanks

[2019-10-24 08:49] #83195 closed

[2019-10-24 08:50] alexandrudima commented on #83186
Fixed by https://github.com/microsoft/vscode/commit/e0d2ed907d1b22808c56127678fb436d604586a7

I've removed the setting from the JSON schema since it has no effect.

[2019-10-24 08:50] #83186 closed

[2019-10-24 08:50] chrmarti commented on #77666
This should have been fixed with the latest VS Code Insiders & Remote-Containers versions at the time. Let me know if this is still a problem. Closing.

[2019-10-24 08:50] #77666 closed

[2019-10-24 08:53] chrmarti commented on #77594
@bpasero It seems we follow symlinked workspace folders and open the target folder. Can this be configured?

[2019-10-24 08:53] isidorn commented on #83187
This is related to how we start the EH window since the env vars seems to be preserved.
Thus also assigning to @weinand

[2019-10-24 08:53] joaomoreno commented on #82203
@timdang I gave up trying to reproduce this. I decided to simply read the source. The error you show in the screenshot seems unrelated to our SCM changes. It shows a real issue they have in their sources: there is no guarantee that [this](https://github.com/microsoft/azure-repos-vscode/blob/master/src/tfvc/tfvcscmprovider.ts#L143) won't be `undefined` when `onDidModelChange` fires. I've given them

[2019-10-24 08:56] jjnurminen commented on #35480
I'm +1 on this. Command line `git status` shows unstaged files first, so I can see changes easily. VSCode on the other hand combines unstaged and untracked files in a single list, which is too long to be useful.

I don't know about others, but at least in my project directory, untracked files come and go. Adding every single one of them to .gitignore is not a workable solution.

[2019-10-24 08:58] randre70 commented on #80624
@rshakerov Did you solve your issue? @alexandrudima I have the same issue: multiCursorPaste "spread" is not working in 1.39.2 (Windows).

[2019-10-24 09:00] joaomoreno commented on #83197
https://github.com/microsoft/vscode/issues/82346

[2019-10-24 09:03] joaomoreno commented on #50103
Would this be solved by using an FS provider for git resources and moving away from the `TextDocumentContentProvider`?

[2019-10-24 09:05] #77259 closed

[2019-10-24 09:05] DanTup opened #83211 "Error when expanding/collapsing in the Problems view (icon changes, but contents to not collapse)"
I can't repro this, but maybe from the description/error you can tell what it is. I had a filter of `!_demo.dart` in the problems view, which filters to just the `demo.dart` file that has errors:

<img width="947" alt="Screenshot 2019-10-24 at 10 00 46 am" src="https://user-images.githubusercontent.com/1078012/67470208-4908ca80-f645-11e9-9aad-fb2cf89148cc.png">

However when I tried to collapse it

[2019-10-24 09:06] TravelZero opened #83212 "C++ code debug"
Issue Type: <b>Bug</b>

Statements inside the try are not executed when debugging

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:35:18.241Z)
OS version: Windows_NT x64 10.0.18362
Remote OS version: Linux x64 4.4.0-18362-Microsoft

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 7 3700X 8-Core Processor              (16 x 3600

[2019-10-24 09:11] #70254 closed

[2019-10-24 09:12] chrmarti commented on #76473
Is this still an issue with the latest versions? Not sure how the two would interact.

[2019-10-24 09:12] alexandrudima commented on #80624
@randre70 Please open a new issue with precise steps.

[2019-10-24 09:16] timdang commented on #82203
@joaomoreno I appreciate all your efforts. Guess I'll try to play around with it more and see what I can figure out.

Tried your PR locally, and you're right - it doesn't fix the blank panel issue for me. Thank you so much anyway!

[2019-10-24 09:17] joaomoreno commented on #83170
This sounds like a feature for a window manager, not the application itself.

https://gallery.technet.microsoft.com/scriptcenter/Set-the-position-and-size-54853527

[2019-10-24 09:19] joaomoreno commented on #78330
I thought about this. But you're going to hit issues with unicode characters, in which one visible character actually has length > 1.

Let's just keep filtering out these cases one by one, it's fine.

[2019-10-24 09:21] joaomoreno commented on #82873
Thanks! https://github.com/microsoft/vscode/issues/5970

[2019-10-24 09:22] #82873 closed

[2019-10-24 09:22] joaomoreno commented on #83061
Feel free to submit a PR for this instead.

[2019-10-24 09:22] #83061 closed

[2019-10-24 09:25] #83205 closed

[2019-10-24 09:25] chrmarti commented on #81977
This might also be a temporary issue with the CDN. @K-Bostan is this still a problem?

What do you get for `nslookup msjsdiag.gallerycdn.vsassets.io`?

[2019-10-24 09:27] #83212 closed

[2019-10-24 09:28] joaomoreno commented on #83193
Do you have changes and did you type a commit message? Is there any error showing up? What are your full user settings?

[2019-10-24 09:29] alexandrudima commented on #83184
@Gustavo-Sz I am not sure what we can do in VS Code, since we simply react to the scroll events that come in. The only knob we have is perhaps `editor.mouseWheelScrollSensitivity`, which is used to multiply the incoming scroll event `deltaX` / `deltaY`. Have you tried tweaking that as a possible workaround?

VS Code is built with Electron, which is built on top of Chromium. I think this might be a

[2019-10-24 09:30] alexandrudima commented on #83177
Please use:
[code]

This will make it that indenting/unindenting will not make lines "snap" to tab stops.

[2019-10-24 09:30] #83177 closed

[2019-10-24 09:31] aeschli commented on #70443
@kieferrm Assigning to you to assign it to the future owner of the recommendation feature. A separate 'recommendations' tag would be good.

[2019-10-24 09:32] chrmarti commented on #62042
Closing as obsolete. This should work in the latest release, let me know if it does not.

[2019-10-24 09:32] #62042 closed

[2019-10-24 09:35] bpasero opened #83213 "userHome is not correctly used in remote environments"
While looking into how to support `IEnvironmentService.userHome` in web, I realized that most usages are wrong to begin with: if you are connected to a remote file system, the local `userHome` is typically not what you want. Rather, `IRemoteAgentEnvironment.userHome` should be used.

You can easily see this for example in quick open: type `~/.bash_profile` and it will not show you a file in remote

[2019-10-24 09:36] weinand commented on #83187
Env vars set in one ("extensionHost" debugging) configuration shouldn't hang around and affect another.
If they do, this is a bug.

[2019-10-24 09:37] bpasero opened #83214 "Web: cannot open terminal"
Stays empty:

![image](https://user-images.githubusercontent.com/900690/67473272-abb49300-f652-11e9-955b-f32f5f329d14.png)

[code]

[2019-10-24 09:38] isidorn commented on #83036
Thanks for the docs pointer.
I was able to use the `FileReader` api to extract the data url for each dropped item.
Now I am looking into connecting the dots to use the data url to upload it.

[2019-10-24 09:40] joaomoreno commented on #50103
Since the 1MB is a known limitation of the current approach, I'm removing myself from this October issue. FS Provider might be a solution, but definitely not for October.

[2019-10-24 09:40] bpasero opened #83215 "Web: decide what to do with galleryMachineIdResource"
The [`IEnvironmentService.galleryMachineIdResource`](https://github.com/microsoft/vscode/blob/a143fc36f8ee58db069c0bd2a14ec4ddeb29a009/src/vs/workbench/services/environment/browser/environmentService.ts#L247) is currently `undefined` in web but still being used from code that runs in web. Please decide what to do here, either move the usage to `electron-browser/node` layer or add it to web too.

M

[2019-10-24 09:43] Simran-B commented on #40213
@rebornix I disagree.
- The documentation does not mention the _Find Widget_ in [GET STARTED > User Interface](https://code.visualstudio.com/docs/getstarted/userinterface)
- Instead, it is mentioned under [USER GUIDE > Basic Editing # Find and Replace](https://code.visualstudio.com/docs/editor/codebasics#_find-and-replace), but it only lists _Regular Expression_ as option under _Advanced find and

[2019-10-24 09:46] LarnuUK commented on #83177
Thanks @alexandrudima , that's the setting.

[2019-10-24 09:50] #62520 closed

[2019-10-24 09:51] sin90lzc opened #83216 "change git branch show compile error"
when i change git branch,it doesn't refresh code to lsp,the result is vscode show error for compile

[2019-10-24 09:52] xates commented on #27083
If you are referring to my soution, I didn't propose any such option that does both things at the same time, as it wouldn't make sense, as you suggest.

I have included `always` just to reflect what I reckon is the current behavior when `autoFindInSelection` is set to `true`. I wanted to keep this behavior because people have asked, and obtained, this in past issues. Obviusly with this option the

[2019-10-24 09:53] Hashdow commented on #62781
thanks

Le jeu. 24 oct. 2019 à 10:42, Christof Marti <notifications@github.com> a
écrit :

[2019-10-24 09:55] geosmall commented on #23931
This issue was first opened in April 2017.  Consensus is pretty clear.  Why this is taking 2+ years to address is a total mystery.

[2019-10-24 09:57] bpasero commented on #83036
@isidorn wouldn't [`FileReader.readAsArrayBuffer`](https://developer.mozilla.org/en-US/docs/Web/API/FileReader/readAsArrayBuffer) work and simply convert that buffer into a `VSBuffer` and write it via `IFileService.write`?

[2019-10-24 09:58] hariprasad26091993 opened #83217 "stops scrolling in trackpad"
Issue Type: <b>Bug</b>

Please stop this annoying bug. Complete Scrolling stops suddenly in Visual Studio Code Editor(might be forcefully done because to push updates)....plz stop

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:35:18.241Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Co

[2019-10-24 09:58] bpasero commented on #50103
@joaomoreno my understanding is that this data is flowing around via data-URIs, no?

I think, yes, a file system provider for Git is ideal for all cases :+1:

[2019-10-24 10:00] bpasero commented on #77594
@chrmarti we used to, but a while ago I removed that. If you can reproduce us following a symlink on startup of a workspace, please file a bug against me with short steps how to reproduce ideally. Maybe we missed a case. The rationale for preserving symlinks was that if the user intents to open them, we should respect that.

[2019-10-24 10:01] bpasero commented on #83207
That will make it hard for us to push a change that results in a fix. Unless you can find steps to reproduce, I will have to close this issue.

We do save this state in a file in the user data dir, and maybe it gets corrupt, e.g. when shutting down the machine while VSCode is running.

Please see if you can find any logged output that could help us find the source of the issue:
* run `code --verbo

[2019-10-24 10:02] #83179 closed

[2019-10-24 10:06] #71743 closed

[2019-10-24 10:10] bpasero commented on #81471
@mike-lischke I am totally lost what your issue is. Can you explain to me in a short sentence, possibly with a screen cast or screen shots?

Here is what I think you see:
* you have a slow internet connection (that should not play a role for VSCode)
* you open VSCode
* after 10s you see a notification that the extension host did not start

Is that it?

[2019-10-24 10:10] ashukum-msft commented on #83066
Please find the attached GIF file.

![VsCodeBug](https://user-images.githubusercontent.com/56161576/67475762-6bfea300-f674-11e9-8251-d7d4227d9b96.gif)

[2019-10-24 10:15] jrieken commented on #81471
My understanding is that in-between 2 and 3 of @bpasero's steps you launch an extension in debug mode and that its extension host doesn't start in time

[2019-10-24 10:17] #56308 closed

[2019-10-24 10:17] #57843 closed

[2019-10-24 10:18] kanlukasz commented on #23931
Yeah, that's quite interesting, but what we can do (except PRs)? 😔
Anyway respect for VSCode team developers returning this program for free

[2019-10-24 10:25] jrieken commented on #25852
Implemented via https://github.com/microsoft/vscode/pull/83060

[2019-10-24 10:27] jrieken commented on #45515
Fixed via https://github.com/microsoft/vscode/pull/83060. There is still a caveat when calling parse and accessing the components of an URI because those are decoded. This is for compatibility reasons. Anyways, calling toString will return the correct result and do the right thing when opened in a browser etc

[2019-10-24 10:27] bpasero commented on #74173
@joaomoreno hey, do you remember maybe? Looking at `EBADF` issues on Electron I see some old discussions with you involved: https://github.com/electron/electron/issues/3482 and https://github.com/electron/electron/issues/1471

[2019-10-24 10:29] jrieken commented on #79474
fixed via #83060

[2019-10-24 10:31] rshakerov commented on #80624
Yes, after restarting VS Code it came back to normal.

[2019-10-24 10:32] tobiaslombacher commented on #82499
Do we need to change anything in the group policies? Does anybody know what needs to be changed?

Somehow it is strange that this happened only from 1.38.1 onwards and I am pretty sure that our GPO's did not change during this period.

[2019-10-24 10:41] chrmarti commented on #82499
You can try disabling `System Certificates` as a workaround:
![image](https://user-images.githubusercontent.com/9205389/67477868-3c8f6c80-f65b-11e9-8a6c-58acabde4e6d.png)

There was a bug before 1.38 preventing it from working and likely preventing it from crashing in your case too.

[2019-10-24 10:41] MaikoLohel commented on #24166
I also face this issue on Ubuntu 19.04, yet I have only a German keyboard layout installed. For text input, the German layout is applied, but shortcuts seem to use US although it is not even installed.

[2019-10-24 10:42] yzhang-gh commented on #78790
Thank you! @anirudhrb

I confirm it is fixed in the insider build.

[2019-10-24 10:48] #33086 closed

[2019-10-24 10:49] #76778 closed

[2019-10-24 10:55] mike-lischke commented on #81471
I believe this also happens if I'm not debugging. Though, it's trickier to notice, since then you don't get any error message.

[2019-10-24 10:56] johnrix commented on #35480
For me, the .gitignore approach is helpful as far as being able to ignore entire folders that are not tracked and it brings the change list down to a somewhat more manageable size, but its not a complete solution for many of the reasons expressed above.

[2019-10-24 10:59] chrmarti commented on #81992
Closing as "wont fix" since there already is a way to do that and it is unclear how much value this would add for all but a few who would know about the additional shortcut.

[2019-10-24 10:59] #81992 closed

[2019-10-24 11:03] chrmarti commented on #77826
We could set `HTTP_PROXY` / `HTTPS_PROXY` environment variables for the terminal based on the `http.proxy` setting, but then we would also need to consider setting these variables based on Electron's resolveProxy API.

Not sure if any of this is desirable. Assigning to you @Tyriar for consideration.

[2019-10-24 11:06] leegee commented on #83139
I'm still on Windows, I right-click the tab of an open file, and it offers `Open in Explorer` and `Open in Side Bar`.

[2019-10-24 11:20] gjsjohnmurray commented on #83139
@leegee on my 1.39.2 on Windows the context menu from a file tab captions the options "**Reveal** in Explorer" and "**Reveal** in Side Bar" (not "Open in ..." as you wrote).

So for consistency I think the context menu from the filename on the Search list should be changed on this line to become `Reveal in Side Bar`
https://github.com/microsoft/vscode/blob/0a9f99aa4b37141d3bf563095c6fff5dad4a3290/

[2019-10-24 11:24] kieranbenton commented on #10952
https://marketplace.visualstudio.com/items?itemName=venryx.vscode-vtools does a pretty good job working around the lack of this in the core product IMO. Has the occasional bug, but works well enough on a day-to-day basis.

[2019-10-24 11:50] CombeeMike opened #83219 "Special characters not correctly displayed in integrated terminal"
- VSCode Version: `1.39.2 (user setup)`
- OS Version: `Win 10, v1903, OS Build 18362.418`

Steps to Reproduce:

1. Open integrated git bash terminal
2. Run command `tig`

Special characters are drawn incorrectly:
![image](https://user-images.githubusercontent.com/30658772/67482934-f8a16500-f664-11e9-8a93-6809d312a30e.png)

Does this issue occur when all extensions are disabled?: Yes

I've seen htt

[2019-10-24 11:50] leegee commented on #83139
Fair enough. My point, though, was obviously regarding the
inconsistency in numerology across the application.

On Thu, 24 Oct 2019 at 12:22, John Murray <notifications@github.com> wrote:

[2019-10-24 11:52] jrieken commented on #83086
fixed

[2019-10-24 11:52] #83086 closed

[2019-10-24 11:55] jrieken commented on #82666
fixed via https://github.com/microsoft/vscode/pull/83075

[2019-10-24 11:55] #82666 closed

[2019-10-24 11:56] alexr00 commented on #34660
The original issue is not nicely solvable with the current problem matcher system. I recommend adding your own problem matcher to your local build task to handle this. Something like:
[code]

[2019-10-24 11:56] alexr00 commented on #34660
duplicate of https://github.com/microsoft/vscode/issues/59337

[2019-10-24 11:56] #34660 closed

[2019-10-24 12:08] alexandrudima commented on #83217
@hariprasad26091993 I am not sure I understand what is the exact issue that you have? Can you please explain in greater detail?

[2019-10-24 12:15] chrmarti opened #83221 "Merge-conflict code lenses missing"
Hello, I'd like to add to this - the shortcuts disappear for me too! This happens always since I've updated vscode from 1.38 to 1.39.2.

I opened the same merge conflict with vscode 1.38 / vscode-insiders 1.39.0 and it works absolutely fine.

Can we get this re-opened?

/cc @chrmarti

Let's create a sample conflict:

[code]

[code]

[code]

[code]

[code]

![vscode-normal-nope](https://user-images

[2019-10-24 12:15] 31029 opened #83222 "VSCode Can't create launch.json in .vscode folder"
when I create a cpp file and try to debug but it didn't work .it said that Can't create launch.json in .vscode folder-------无法在 ".vscode" 文件夹(Cannot read property 'name' of undefined)内创建 "launch.json" 文件。

Vscode Version: 1.39.2 (user setup)
OS: Windows_NT x64 10.0.17134

[2019-10-24 12:17] mike-lischke commented on #81471
@bpasero I have pretty exactly described what happened and for me it's pretty clear what the issue is: vscode hangs and doesn't behave well. To me it looks as if a connection is blocked which vscode is not ready to handle well. I don't know if it is something caused by my extension (vscode-antlr4), as it loads remote web content (3D.js) but only if a web view is openened, not earlier. Or if it is

[2019-10-24 12:17] chrmarti commented on #83221
@sarpik Could you check your settings and make sure code lenses are enabled:
![image](https://user-images.githubusercontent.com/9205389/67484719-f7723700-f668-11e9-9d29-1e8d60a64123.png)

And:
![image](https://user-images.githubusercontent.com/9205389/67484740-022ccc00-f669-11e9-98ef-f100f923bbc3.png)

[2019-10-24 12:19] talolard opened #83223 "Jupyter Notebook - Cell contents disappear but code is still runnable."
- VSCode Version: 1.39.2
- OS Version: Ubuntu 18.08

Steps to Reproduce:
I don't know, this seems to happen at random. One moment the cells had content, and then some of them cleared. But if I run the cell the content is still there.
![Peek 2019-10-24 14-18](https://user-images.githubusercontent.com/5352830/67484873-3a340f00-f669-11e9-8c4d-89fc9c909912.gif)

It doesn't reproduce consistently.

[2019-10-24 12:21] #83223 closed

[2019-10-24 12:22] IllusionMH commented on #83222
/needsMoreInfo

Could you provide all info from template - VSCode version, OS version etc.

[2019-10-24 12:22] zsytssk opened #83224 "when window.onDidWriteTerminalData could be stable?"
I write a extension rely on this api.

[2019-10-24 12:22] joaomoreno commented on #27758
This is done:

![image](https://user-images.githubusercontent.com/22350/67485107-b4fd2a00-f669-11e9-9884-1170c5b3b8a8.png)

[2019-10-24 12:22] #27758 closed

[2019-10-24 12:22] #78330 closed

[2019-10-24 12:24] alexr00 commented on #50637
Since no one else has asked for this, I'm going to say it is out of scope.

[2019-10-24 12:24] chrmarti commented on #76671
/duplicate #76972

[2019-10-24 12:24] #50637 closed

[2019-10-24 12:24] #76671 closed

[2019-10-24 12:25] sguillia commented on #83179
I'm sorry I don't agree @bpasero

I'd like to merely open a new file, programmatically write text in it and save it.

I expect document.save() to write my changes on disk.
I do not expect document.save() to close the document.

If this is really as designed, at least it should be documented that save() closes the document.
If this is really as designed, at least there should be a save() function a

[2019-10-24 12:25] #76607 closed

[2019-10-24 12:26] joaomoreno commented on #50103
Yes, but that's because Git still uses the once-only-available TextDocumentContentProvider... if we were to switch to the FS Provider, couldn't we send binary files as well?

[2019-10-24 12:27] daFritz84 commented on #82499
@chrmarti  yep, the workaround does the trick for me.

[2019-10-24 12:27] #73661 closed

[2019-10-24 12:28] joaomoreno commented on #83066
Cool. This is fixed in `master`: https://github.com/microsoft/vscode/issues/82869

[2019-10-24 12:28] #83066 closed

[2019-10-24 12:30] #72318 closed

[2019-10-24 12:30] joaomoreno commented on #74173
![long time ago](http://gph.is/2bBlEGo)

:man_shrugging:

[2019-10-24 12:31] jorgegarciamule commented on #78394
Is it possible that I was able to open a big file with an older version and when I do that it says something like "we can't highlight sintax but at least I open it." and now it just crush? If that is true, what about a fallback mechanism?

[2019-10-24 12:37] 31029 commented on #83222
Vscode Version: 1.39.2 (user setup)
OS: Windows_NT x64 10.0.17134

[2019-10-24 12:37] #83222 closed

[2019-10-24 12:38] AndBroPLAYipp commented on #64856
Updated to insider build;
The middle mouse button paste is disabled which is awesome.
BUT; If you move the mouse, while holding middle mouse, any were outside the document you will instantly paste were your line cursor is located.
This include; top document path and tabs, left tab panel, integrated terminal. and outside the document.

[2019-10-24 12:38] isidorn commented on #78790
Thanks for letting us know. Adding verified label.

[2019-10-24 12:40] #83037 closed

[2019-10-24 12:43] jrieken commented on #83179
Yes, if that's really want you want, e.g create a file on disk and show it to users with them being able to pick the name then you do that. Better, ignore external libraries and use `vscode.workspace.fs`

[2019-10-24 12:43] rcdailey commented on #83170
@joaomoreno Isn't that debatable? I'm not sure what the "window manager" is in this case, can you explain? Are you implying the operating system? Maybe understanding your answer also requires and understanding of the architecture of VS Code itself. I don't have any understanding of that. From my perspective, this is an application feature because I consider VS Code holistically to be the applicati

[2019-10-24 12:43] #80042 closed

[2019-10-24 12:43] dhairyanadapara commented on #83186
@alexandrudima I will start working on this issue and will raise PR.

[2019-10-24 12:44] bpasero opened #83225 "Test: download and upload in explorer in web"
Refs: https://github.com/microsoft/vscode/issues/83037

- [x] any os @eamodio
- [x] any os @connor4312

Complexity: 2

* Using the web UI, right click on file(s) from the explorer and verify you can trigger a download and that the contents are OK.
* Also verify that you can drag multiple files from your desktop to the web UI. Make sure that they get uploaded properly and that the content is correc

[2019-10-24 12:45] #75266 closed

[2019-10-24 12:46] rcdailey commented on #83170
I'd also like to add:

1. There are other features that control the size & position of the Window built natively into the application. How is this any different?

2. The PowerShell script idea is not portable. Window managers (if you are referring to the OS) are different per platform, if VS Code implements this feature it can be made consistent and portable to other operating systems.

[2019-10-24 12:49] jrieken commented on #74656
/duplicate of #46585

[2019-10-24 12:49] #74656 closed

[2019-10-24 12:50] chrmarti commented on #62652
I think the delay is there for the decorations. Is the code lens provider called immediately after a document change?

[2019-10-24 12:54] joaomoreno commented on #76146
I created the September releases and will propose to the team to have this happen every time we release. https://github.com/microsoft/vscode/releases

In any case, suggestion taken, this issue can be closed.

[2019-10-24 12:54] #76146 closed

[2019-10-24 12:57] TomasHubelbauer commented on #50239
Oh well.

[2019-10-24 12:59] kenhan commented on #82844
Yes, all one line in viscode editor. When pasted into another viscode editor, the content displays as expected.
When pasted into MacOS Pages, Notes, TextEdit, Mellel, even in Vim running, the problem shown in the screen capture above shows up.
I really like viscode and want to keep using it, but if I can't resolve this soon, I will have to unfortunately move on. This is costing me too much time.

[2019-10-24 13:01] kenhan commented on #82844
By the way, simple paste always shows the problem. But in some cases paste and match styles in the destination app **sometimes** clears it up, which leads me to think something other than a sequence of strings is being copied from vscode which some apps can strip while other apps can't. Mellel can fix it. So can Notes, sometimes. But not Pages, ever.

[2019-10-24 13:03] #35156 closed

[2019-10-24 13:04] TimHicks3000 opened #83226 "autopep8 not working"
Issue Type: <b>Bug</b>

I've watched a few videos on setting up Python with VS Code. I can't get autopep8 working to format the files.  I've check paths, settings and de-installed/re-installed VS Code.  I've tried deleting old folders and VSCode remembers them after re-install, so that doesn't seem to work.  I checked the path to autopep8 and all the recommended settings for save on format.

When

[2019-10-24 13:04] misolori commented on #83210
Someone else reported this in https://github.com/microsoft/vscode/issues/82511 and I’m not sure why the extension is referencing icons this way since our [documentation](https://code.visualstudio.com/api/references/icons-in-labels) says to use ‘$(icon-name)’, @bpasero does this sound familiar?

Looks like https://github.com/microsoft/azure-repos-vscode/issues/572 already has a PR that fixes this.

[2019-10-24 13:05] sguillia opened #83227 "Installing extension from VSIX does not install extension"
Issue Type: **Bug**

**Steps to Reproduce - simplified**

1. Create and install a simple extension
2. Uninstall it
3. Change your extension source
4. Install it again
5. Observe as it didn't work

**Steps to Reproduce - detailed**

1. git clone https://github.com/microsoft/vscode-extension-samples
2. cp -R vscode-extension-samples/helloworld-minimal-sample ./
3. cd helloworld-minimal-sample
4. In

[2019-10-24 13:05] #70889 closed

[2019-10-24 13:05] #75003 closed

[2019-10-24 13:06] #77210 closed

[2019-10-24 13:06] joaomoreno commented on #83170
@rcdailey Sorry for being blunt. I don't think this feature warrants spending time on it, especially since it would not impact a lot of users and there are external tools that can solve that problem, even if platform dependent. But we can keep this in the Backlog Candidate milestone and ask @bpasero whether he knows of other people who are interested in this.

[2019-10-24 13:06] #78990 closed

[2019-10-24 13:06] sguillia commented on #83179
Okay, thank you

[2019-10-24 13:07] str commented on #20224
I was really exited to see the tree widget in the source control/git view. Please include the same feature in the search results view

![image](https://user-images.githubusercontent.com/123817/67488371-f4595580-f62c-11e9-942f-b7d9a2f7bf62.png)

[2019-10-24 13:09] bpasero commented on #77654
You can clear the list to start fresh: File > Open Recent > Clear Recently Opened

[2019-10-24 13:09] #77654 closed

[2019-10-24 13:10] bpasero commented on #50103
@mjbvz should comment on that, since he rewrote the binary viewer as extension, I am not sure how binary data is shown.

[2019-10-24 13:12] bpasero commented on #83210
No, never heard of, but did we change the names of icons?

[2019-10-24 13:13] #53306 closed

[2019-10-24 13:15] bpasero commented on #74173
Maybe we push this rather early in debt week and not now so close before endgame.

[2019-10-24 13:15] JesseLevesque commented on #83099
Without live server, it doesn't let me open the site using the path so I'm unable to verify this. The other student that is also having this problem with VS code can open using the path and his VS code does the same issue with saving with or without live server.

[2019-10-24 13:20] misolori commented on #83210
We didn’t change any icon names, but we did switch from Octicons to use Codicon. I did a search on GitHub for the use of `$(icon octicon-)` to see if others use it and the azure repos extension appears to be the only one.

[2019-10-24 13:21] bpasero commented on #81471
These videos are super helpful to understand the impact better, thanks.

However, my expertise in the extension host does not go as far to be helpful. I am not even sure why `_tryExtHostHandshake` would take > 10s and under which condition that could be. Leaving up to Alex, sorry.

[2019-10-24 13:21] ewnavilae commented on #57843
Makes sense! Thank you for the feedback, bot! If it ever becomes critical I'll fork it and submit a pull request :)

[2019-10-24 13:26] DanTup commented on #83211
@joaomoreno I know :( I tried, but wasn't able to reproduce it. I don't think I did anything more than was written above - I wondered if maybe it was a race condition, but I'm not familiar with how the tree works.

If I do see it again, is there anything I can do to extract info about the state of the tree that might help?

[2019-10-24 13:28] Hubro commented on #70764
Microsoft already have Excel, Word, Outlook etc. out for the iPad, it seems only logical to release a native client for Visual Studio Online too, whenever that comes out.

[2019-10-24 13:32] joaomoreno commented on #74147
Fixed by https://github.com/microsoft/vscode/pull/74345

[2019-10-24 13:32] #74147 closed

[2019-10-24 13:33] abejfehr opened #83228 "Command + A no longer selects all text in "Find" field"
Issue Type: <b>Bug</b>

1. Press command + F to open the "find" bar
2. Type something
3. Realize it's wrong, press Command + A to select it all
4. Type something correct
5. Realize it didn't replace the wrong thing with the right thing, because it was never selected in step 3

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:33:00.827Z)
OS version: Darwin x64 1

[2019-10-24 13:40] alexandrudima commented on #81471
Thanks @mike-lischke

I think this error message is revealing:
[code]

The extension host is a separate process and the extension host communicates back to the renderer process via a named pipe. Before launching the extension host process, the renderer process begins listening on a named pipe, which looks like `${TEMP}/vscode-ipc-${UUID}.sock`. The error message shows up in the debug console, so I

[2019-10-24 13:42] TimHicks3000 commented on #83226
I have re-entered the issue in vscode-python

[2019-10-24 13:42] #83226 closed

[2019-10-24 13:46] rcdailey commented on #83170
Thanks @joaomoreno, I appreciate your involvement and consideration. I'm OK with external tooling as a short term solution, but having this functionality implemented as a first-class citizen would be the better long term solution IMHO. Would it be possible to write an extension for this? Can extensions control the window size & position in a platform agnostic way? Just trying to think of other sol

[2019-10-24 14:07] dyllandry opened #83229 "Suggest Keybind: Open Search Result Below"
When the 'go to file` (default control-p on windows) menu is open, you can open the file to the side (default control-enter on windows). It would be nice if there was a keybinding for opening files *below* the current editor group.

Here's the current 'open to side' keybinding.

[code]
Something like the following would be nice.
[code]

[2019-10-24 14:10] #83036 closed

[2019-10-24 14:11] aeschli commented on #47633
We like the idea but unfortunately this causes a lot of ripples. There are many other colors that are based on the editorBackground or have the editorBackground as default: e.g. the breadcrumb view, the editor widgets (e.g. find/replace. hover, code complete), editor selection colors, the editor tabs, even token color. All these colors need to go well together. Done correctly, it would mean to als

[2019-10-24 14:11] #47633 closed

[2019-10-24 14:19] Razzeee commented on #82829
I have two folders in my dotnet project:
- src
- test

[code]

`ServiceTests\MyServiceTest.cs(503,10): warning SA1513: Closing brace must be followed by blank line [C:\development\project\test\Project.Test.csproj]`

So this will never work like it is.

I would expect the problemMatcher to create a `cwd` from my absolute project path `C:\development\project\test\` and handle everything else relativ

[2019-10-24 14:23] atrauzzi opened #83230 "When opening a remote instance via WSL2, don't pre-open terminal"
Issue Type: <b>Feature Request</b>

I have git in my WSL2 environment set to open code as the commit message editor. One annoying thing that the remote extension does is pre-open the terminal and set focus to it rather than `COMMIT_EDITMSG`.

Would be great if it didn't do that.

VS Code version: Code 1.39.1 (88f15d17dca836346e787762685a40bb5cce75a8, 2019-10-10T23:31:28.683Z)
OS version: Windows_N

[2019-10-24 14:37] Instagit opened #83231 "Closing a markdown preview by keyboard shortcut also closes the main file"
**Version:**
[code]

**Steps to Reproduce:**

1. Create a markdown file and set the language mode to markdown
2. Open a preview (CTRL+SHIFT+V)
3. Close the preview with CTRL+W

**Result:** Both files are closed.
**Expected behaviour:** The main file should stay open.

**Does this issue occur when all extensions are disabled?:** Yes

This is either a plain bug or inconsistent behaviour, because clo

[2019-10-24 14:38] cuhland opened #83232 "When using a git filter in .gitattributes vscode scm shows everything as modified"
Version: 1.39.2 (user setup)
Commit: 6ab598523be7a800d7f3eb4d92d7ab9a66069390
Date: 2019-10-15T15:35:18.241Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.17763

# Steps to Reproduce:
1. Create a .gitattibutes in your git repository
[code]
2. Create a .gitconfig file or save this as global
[code]
3. Create a json file with `tabs` as inden

[2019-10-24 14:39] gjsjohnmurray commented on #83228
@abejfehr does this also happen if you run with all extensions disabled?

I just tried to reproduce it (admittedly on Windows) but wasn't able to. Ctrl+A did as expected.

[2019-10-24 14:40] aeschli commented on #81925
To verify:
- create a shell script with a comment
[code]
- set the comment color
[code]
- observe that also the `#` gets the new color

[2019-10-24 14:48] gjsjohnmurray commented on #83227
I think you expected `Hello modified`

Anyway, in your detailed steps, if you close VSCode after step 7 and then launch it again does the folder disappear? It's been my experience that the cleanup of redundant extension folders happens only on the next startup.

[2019-10-24 14:51] supremebeing7 commented on #23931
@worsethannetbeans FWIW, the search box has history, so if you push the up arrow you can see previous terms you searched for.