[2018-08-14 08:42] sandy081 commented on #56219
@rahuls321 May I know if you are using any react extensions? If so, can you please file an issue against that extension.

[2018-08-14 08:42] bpasero commented on #56313
@Morten242 thanks. As a workaround you can run "`code --disable-gpu`" and it should also resolve the issue with stable.

[2018-08-14 08:43] sandy081 commented on #55503
Thanks, Please reopen it when you see it again

[2018-08-14 08:43] #55503 closed

[2018-08-14 08:43] khaled4vokalz commented on #12622
+1

[2018-08-14 08:45] lnaie opened #56323 "don't copy the styles of the text when doing copy & paste of a line of code (e.g. into outlook)"
hi,

i find it odd that the text that is being copied, by default, also copies the style of the background besides the style of the text (which btw is also not needed). wth?!

please fix that.

regards,
Lucian

![vs_code_issue](https://user-images.githubusercontent.com/1276077/44081507-22a6a292-9faf-11e8-990d-72b986aa777e.jpg)

[2018-08-14 08:45] monkeyhybrid commented on #43671
@kanishk98 @Tyriar I'm guessing kanishk98 means `command -v apt` and `command -v dnf`, to test if Debian based / Fedora based package managers are in use? Along with the idea of looking for an `os-release` file, neither method tells us enough.

@kanishk98 Look at @ZanderBrown's comments regarding PackageKit, earlier in this thread. That seems like the best direction to head in.

[2018-08-14 08:45] graphtheory opened #56324 "Focus Breadcrumbs when not active"
- VSCode Version:  1.26.0
- OS Version: macOS 10.13.6 (17G65)

Steps to Reproduce:

1. `cmd+shift+p` Toggle Breadcrumbs off
2. `cmd+shift+p` Focus Breadcrumbs

Does this issue occur when all extensions are disabled?: Yes

Throws `Cannot read property 'getItems' of undefined` instead of toggling the Breadcrumbs on and focusing. Btw, fantastic release!

[2018-08-14 08:46] sandy081 commented on #55963
I see.

Does it work if the redirection does not happen?
And where does the extensions are located, is it in first path or redirected path?

[2018-08-14 08:46] #56324 closed

[2018-08-14 08:46] bpasero commented on #54992
@sandy081 yeah good point, we do that too: https://github.com/Microsoft/vscode/blob/920defc6a68980cbe55ba06b9e609f716d606a84/src/vs/code/electron-main/menus.ts#L302

I was more referring to the [`app.addRecentDocument`](https://github.com/electron/electron/blob/master/docs/api/app.md#appaddrecentdocumentpath-macos-windows) API that only supports file paths as far as I know. We use the same on Wind

[2018-08-14 08:46] nezirz commented on #55774
@dimchasani   you are the man!
Problem solved after delete home/user/Code directory and ubuntu restart. Both versions work well vscode official stable and insider.
Thank you!

[2018-08-14 08:49] jrieken commented on #56318
Well, the name is the name but we can make the dropdown a little wider so that there is more space. We can also make sure the label has a title set

[2018-08-14 08:49] sandy081 commented on #56234
Thanks for detailed explanation. I got it now.

Will investigate.

[2018-08-14 08:50] McWillie commented on #38878
I just wanted to add that I'd very much appreciate this as a built-in feature too.

[2018-08-14 08:54] alexdevero opened #56325 "Git status for file is not updated properly"
Issue Type: <b>Bug</b>

Description:
A file highlight changes after committing and pushing all changes in the file to Git.

1) Change some file registered in Git.
2) Commit change.
3) Observe if the file still contains highlights for changed lines.

_This happened only once so far. Restarting VS Code resolved the issue._

Screen:
![vscode-it-issue](https://user-images.githubusercontent.com/4237724

[2018-08-14 08:56] patrys commented on #55449
Can confirm. Breadcrumbs show all files I've explicitly added to the ignore list in `files.exclude`.

[2018-08-14 08:56] proudlily commented on #56306
what the info do u need.thanks very much !

[2018-08-14 08:58] sandy081 commented on #56028
I see.

I am not a big fan of such prompts. If it helps new users, as you said, we can have the prompt and have do not show again option to not to show them again.

[2018-08-14 09:03] zanza00 commented on #16927
Now is called `Reset Editor Group Size`

<img width="720" alt="image" src="https://user-images.githubusercontent.com/3732011/44082457-95596138-9fb1-11e8-9a35-2f13d611ac5a.png">

[2018-08-14 09:05] ltennstedt commented on #56303
I can confirm this. I tried to build the tag 1.26 directly form the Git repo under Linux without modifying anything.

'yarn install' works fine. The error will occur if './scripts/code.sh' is executed.

If I should provide some logs, please tell me where I can find or produce them.

OS: Arch Linux 64bit
Kernel: 4.17.14-arch1-1-ARCH
Bash: 4.4.023-1
Node.js: v8.11.3
npm: 6.3.0
Yarn: 1.9.4

[2018-08-14 09:09] gandalfsaxe opened #56326 "Support auto update for Windows and Linux ZIP"
Hi,

Updating VSCode Insiders (portable) on macOS is a great experience; it simply restarts the app and applies the update.

However VSCode Insiders (portable) on Windows, prompts me every single day to download a zip file. Not only does this method take a lot of time regularly, it also takes a ton of time to sync tens of thousands of files in Dropbox, where the portable versions will typically be

[2018-08-14 09:11] geirsagberg commented on #55785
Please re-open this, I have the same problem whenever I am using TS 3.0.1.

[2018-08-14 09:12] weinand commented on #56268
VS Code cannot do this "natively" because there is no generic way to "run" an arbitrary file.

The knowledge for how to debug (or run without debugging) comes from debug extensions.
They can implement a feature to debug (or run) the active file in the editor and some of the debug extensions actually do this.

The problem is that this functionality is only available as a fallback if no launch confi

[2018-08-14 09:14] geirsagberg commented on #55785
Seems to only be an issue with scoped packages, e.g. '@material-ui/core'.

[2018-08-14 09:14] geirsagberg commented on #55785
I can open a new bug with the details.

[2018-08-14 09:15] ckams commented on #56317
![vscode_1 26_2018-08-14 11-10](https://user-images.githubusercontent.com/32911942/44083019-6dbd38e8-9fa2-11e8-8221-9ff2b6652dda.gif)

[2018-08-14 09:19] GeorgeWells commented on #54166
Quick update, problem still exists in 1.26.0

[2018-08-14 09:25] jrieken commented on #55449
@isidorn Where is the filter implementation for the explorer and how reusable is that?

[2018-08-14 09:26] toine-h opened #56327 "Don't show breadcrumb bar when not applicable"
**Issue type:** polish/feature-request

Steps to reproduce

1. Set breadcrumbs setting to the following:
[code]

2. Open a file which isn't supported by the breadcrumbs, like an XML file:

![2018-08-14 11_18_12-webapi xml - visual studio code](https://user-images.githubusercontent.com/42275345/44083521-773a9c00-9fb4-11e8-8e68-35a2e36c7159.png)

---

A breadcrumb bar is shown, but it houses no cont

[2018-08-14 09:28] vedmant commented on #28432
I have the same problem, it could at least reload files when you collapse and then expand a folder.

[2018-08-14 09:34] alexandrudima commented on #56269
@Serge1985
What does VS Code detect when you press the desired key combination? Please hover over the input box and take a screenshot:
![keyboard-input](https://cloud.githubusercontent.com/assets/5047891/25478333/fe31c830-2b40-11e7-865c-b2c3bb10dd75.gif)

[2018-08-14 09:34] yume-chan opened #56328 "rg.exe causes high cpu usage"
Issue Type: <b>Bug</b>

![image](https://user-images.githubusercontent.com/1330321/44083857-b3f74f2a-9fe7-11e8-8484-cc7cb69563c3.png)

Command line:

[code]

I understand what rg.exe is, and I have disabled all extensions, so I suspect it's caused by the built-in TypeScript extension.

VS Code version: Code - Insiders 1.27.0-insider (8727085fff33bf7d8f5e27483b10f72508d4167a, 2018-08-14T05:18:11.93

[2018-08-14 09:35] cuneytbetik opened #56329 "Formatter and Intellisense doesnt work after reinstall"
I'm having this error:
'VS Code's tsserver was deleted by another application such as a misbehaving virus detection tool. Please reinstall VS Code.'
Source:Typescript and JavaScript Language Features(Extension)

I have tried several times and still doesnt work. I uninstalled vs code, deleted 'AppData\Roaming\Code' folder and reinstalled, still doesnt work. There was no any solutions for this.

[2018-08-14 09:36] alexandrudima commented on #56297
There already are two distinct colors: `editorIndentGuide.activeBackground` and `editorIndentGuide.background`

Why are these not sufficient?

[2018-08-14 09:37] DanielAsher commented on #39700
This would make the minimap feature much more useful.

[2018-08-14 09:38] yume-chan commented on #56321
From your code, I can not see any usage of your `VerifyAddressConfig` and `VerifyAddressConfig` variables.

[2018-08-14 09:48] martynas-m commented on #56303
@bpasero - from terminal and from dmenu (app loader for i3 - there is no docs or desktop concept for [i3](https://i3wm.org))

[2018-08-14 09:49] yume-chan commented on #56307
I suspect a native addon cannot be loaded after Electron upgrading.

[2018-08-14 09:53] GandalfSaxe opened #56330 "Open file permanently instead of preview from Quick Open (⌘P)?"
When using Quick Open (⌘P), you can:

- Ctrl+Enter to open *preview* in split view.
- Alt+Enter to open *permanently* in split view.

Is there any way from Quick Open, to open the selected file *permanently* in the current editor, *not* in split view?

PS: The Alt+Enter option is undocumented as far as I can see.

[2018-08-14 09:54] ejabu commented on #56299
@sandy081

Basically, I like to tried new things as I fork many repos in Github. Sometimes I just type the name of the folder randomly, so I will have long list of recently Opened Workspaces

![image](https://user-images.githubusercontent.com/2019630/44084756-c9b9dfc2-9fe1-11e8-886e-2b21f97f55d1.png)

I think, if somehow I can put description on file inside the workspace, maybe manifest.json or Re

[2018-08-14 09:58] weinand commented on #55850
@Eskibear that "run without debugging" is not available for all debuggers might be unexpected, but it is clearly documented:
https://code.visualstudio.com/docs/editor/debugging#_run-mode

Yes, I agree a `Capabilities.supportsNoDebugMode` would be a good approach, but since we had the `noDebug` property (with the loose semantics) before we started with the `Capabilities`, it is now difficult to int

[2018-08-14 09:58] cuneytbetik commented on #56329
I found it. 'SSHExtension' from Vitaly Kondratiev is doing this.

[2018-08-14 10:00] egamma opened #56331 "Settings: Selection feedback in TOC is not fully visible"
In the screenshot below the blue selection feedback is not completely visible:

![image](https://user-images.githubusercontent.com/172399/44085353-86ee6cf8-9fb9-11e8-8648-f9dea37b7b91.png)

Disabling the width property as shown below fixes the issue.

![image](https://user-images.githubusercontent.com/172399/44085322-7391ffda-9fb9-11e8-953a-2649a9d5ce50.png)

![image](https://user-images.githubuse

[2018-08-14 10:01] egamma commented on #56331
//CC @joaomoreno

[2018-08-14 10:01] monkeyhybrid commented on #43671
@kanishk98 I'm just having a quick play with PackageKit command line tools to see how best to check if a package is installed or not. The command, `pkcon resolve <package-name>`, should show the install status for the given package.

If `code` package is installed:-
[code]

If `code` package not installed, but available in a repo:-
[code]

If `code` package not installed and not available in repos

[2018-08-14 10:04] yume-chan commented on #56288
Duplicate of #52265

[2018-08-14 10:08] geirsagberg opened #56332 "Ctrl + . auto import erratically not working in TS 3.0.1"
Issue Type: <b>Bug</b>

There seems to be a problem with ctrl + . auto-importing from scoped packages, e.g. `'@material-ui/core`.

To reproduce:
1. `npm install react @material-ui/core classnames @types/classnames`
2. Create a new file and add any import, e.g. `import React from 'react'`
3. Enter `const enhancer = withStyles({})`
4. Enter `const classes = className('root')`
5. Notice that `classNa

[2018-08-14 10:09] geirsagberg commented on #56332
It works when using TS 2.9.1.

[2018-08-14 10:10] jvineveld commented on #55070
same issue here, but with ES6 JS in a create-react-app setting.
Project isn't even that big yet, around 20components, but i keep getting 100% CPU usage after a while.

I've excluded the node_module, build, .git, etc. folders, still same thing. After a while the code color formatting is breaking, 'tab' isn't working anymore, the whole application gets sluggish and un-responsive.

Today the battery

[2018-08-14 10:10] monkeyhybrid commented on #43671
@Tyriar

Wouldn't it be better to just do nothing, in that case? No routing to a download URL, no VSCode notifications; just leave it to the OS package manager from there on.

[2018-08-14 10:10] gdh1995 opened #56333 "Allow to move quick open and quick input"
I'd like to move down the command palette (toggled by `ctrl+shift+p` / `ctrl+p`) to make the list center of the whole window (also center of the whole screen), so that I don't need to raise my head and adjust my glasses to see it clearly. The result might be like this:

![image](https://user-images.githubusercontent.com/5547703/44085785-1d12697c-9fed-11e8-904c-7907172f1c7f.png)

Maybe I can achiev

[2018-08-14 10:14] gerrywastaken commented on #56301
@sandy081 Developer Tools console:

Output panel had nothing in the Extension channel but the following was in the `Log (Window)` channel:

[code]

[code]

I've also noticed that this is only after opening a Ruby file.

If I open a JS file first I don't get this error, but as soon as I load a Ruby file it pops up. However I'm pretty sure this is not the trigger for @javafuns as they are not using

[2018-08-14 10:16] Sneezry opened #56334 "[json] support JSON-LD"
VS Code has already had built-in JSON schema support. It would be great if VS Code had [JSON-LD](https://json-ld.org/) support for json file.

[2018-08-14 10:16] yume-chan commented on #56250
I met the same problem before, seems there is no way to set `git.path` to `wsl git`.

In the end, I have to configure git twice.

[2018-08-14 10:26] GandalfSaxe commented on #56326
Is need to run the portable version. As far as I can see the new installer is for a regular install?

[2018-08-14 10:30] ilya-biryukov opened #56337 "SignatureHelp gets confused when parameter labels are contained in function signature"
- VSCode Version: 1.25
- OS Version: Debian 9

While working on [vscode-clangd](https://github.com/llvm-mirror/clang-tools-extra/tree/master/clangd/clients/clangd-vscode), we ran into a problem with `signatureHelp`

For the following code:
[code]

We want to show a signature with a label `foo(int, int) -> int` (note the result type is at the end).
Since both the parameters and the return types are

[2018-08-14 10:36] bpasero commented on #56246
@muuvmuuv what is the full arguments of that helper? Can you do a `ps aux | grep` and attach it.

[2018-08-14 10:37] bpasero commented on #56306
@proudlily do I understand it correctly that you start VSCode from the command line and it just crashes?

[2018-08-14 10:47] jtr109 opened #56338 "The window is no longer responding in python language mode"
- VSCode Version: Version 1.26.0 (1.26.0)
- OS Version: macOS High Sierra version 10.13.6

Steps to Reproduce:

1. After I updated my vscode into the lasted version
2. I opened some file (more than one) with python code in my workspace.
3. The window freezed.
4. But I can still change to another window of vscode I had opened at time same time.
5. After I trying to click the frozen window. The dial

[2018-08-14 10:47] bpasero commented on #56303
@ltennstedt wait, you run "out of sources" and get this right? not when running the installed app?

@martynas-m
Can you please follow the steps in https://github.com/Microsoft/vscode/wiki/Native-Crash-Issues to get at more details around the crash and attach the result here? Thanks!

[2018-08-14 10:51] #56299 closed

[2018-08-14 10:52] #56330 closed

[2018-08-14 10:55] Hypernut commented on #10121
I do find it odd that although this is now two years old and the most wished for and discussed feature here, this is still completely being ignored by the developers.
I am afraid, they have already deemed it too complicated/too much work a long time ago, decided it's not worth it and keeping it quiet to delay the fallout as long as possible...

[2018-08-14 11:00] adigourdi commented on #39306
Any update on this ? can anybody test the referenced commits to test if they're working ?
I'd be happy to do it myself if I knew how to

[2018-08-14 11:15] yuval-gilboa commented on #43997
This is a long-standing issue.
But I see now you've solved this issue in the **Problems panel**:

![image](https://user-images.githubusercontent.com/4710322/44088565-41f7891e-9fcc-11e8-8b8c-d24aa604799c.png)

Why can't you do the same for the **Terminal panel**? The original reported bug still exists there:

![image](https://user-images.githubusercontent.com/4710322/44088539-24103ea0-9fcc-11e8-9f5

[2018-08-14 11:16] JohnyByk opened #56339 "Problem with PHP formatting in javascript tag"
Hi.

I have problem with PHP code formatting in javascript tag. This problem appear on save.
Here is example.
[https://www.youtube.com/watch?v=rad9fqusTyg](url)

My custom config.
`"php.validate.run": "onType",
    "workbench.sideBar.location": "left",
    "editor.minimap.enabled": false,
    "workbench.startupEditor": "newUntitledFile",
    "git.autofetch": true,
    "workbench.list.openMode": "d

[2018-08-14 11:25] Fulg commented on #47841
@joaomoreno FWIW. I got tired of dealing with this issue and started updating by manually uninstalling the old version then downloading and installing the new version, and this time _I still got an access denied_ error when updating `Code.exe` from the full installer. As usual this was a random occurrence, simply clicking Retry from the installer solved the problem. It is as if `Code.exe` stays lo

[2018-08-14 11:29] Slauta commented on #47823
https://www.transifex.com/user/profile/Slauta/

[2018-08-14 11:30] Barbiero opened #56340 "Typescript intellisense does not recognize 'delete'd attributes"
Whenever you `delete`an attribute from an object, I'd expect intellisense to recognize that said attribute was removed.
Example of the problem:
![example](https://user-images.githubusercontent.com/5532443/44088985-8b44ed0e-9f9b-11e8-95a2-e5e1476943db.png)

The expected behavior would be for the autocomplete feature to NOT show the `date` attribute. Furthermore, if I were to call anything over said

[2018-08-14 11:32] jchatel commented on #5402
Holy shit, open thread for more than 2 years with very experienced coder complaining they don't have a critical tool to perform efficiently, and the VS team don't comment (basically ignore this thread) and go on doing other things. That's what happens when you got so much cash than you don't really care about your users.

Can't believe that's the same thing happening with virtual spaces that would

[2018-08-14 11:38] martynas-m commented on #56303
Hi,
I'm not good at linux debuging, it took some time to get this: (let me know if it's enough, otherwise, I can attach core file itself)

           PID: 5079 (code)
           UID: 1000 (martynas)
           GID: 1000 (martynas)
        Signal: 11 (SEGV)
     Timestamp: Tue 2018-08-14 14:22:33 EEST (11min ago)
  Command Line: ./code
    Executable: /home/martynas/Downloads/VSCode-linux-x64/code

[2018-08-14 11:38] sandeepjana opened #56341 "(Ctrl + ) F5 opening new terminal everytime"
Issue Type: <b>Bug</b>

I am working on Python project. Whenever try running debugger, it creates a new terminal. Why can't it reuse the same open terminal?

VS Code version: Code 1.25.1 (1dfc5e557209371715f655691b1235b6b26a06be, 2018-07-11T15:43:53.668Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6700HQ CPU @

[2018-08-14 11:41] Enindu opened #56342 "When select "File > Open Folder", VS code immediately closes"
- VSCode Version: 1.26.0
- OS Version: Arch Linux (Kernel 4.17.14)

Steps to Reproduce:

1. Select "File > Open Folder"
2. VS Code immediately closes

Does this issue occur when all extensions are disabled?: Yes

[2018-08-14 11:42] EduardJS commented on #5402
@jchatel at least it got “acknowledgement” lol.

Thats one less step :)

[2018-08-14 11:43] fdg-org commented on #55953
FWIW, the workaround to set `"window.zoomLevel": -0.001,` in `settings.xml` as mentioned in #35901 does **not** work here.

[2018-08-14 11:46] jchatel commented on #13960
Seriously guys on the Visual code team, communicate to each other in your company because that's one of the most powerful features and it was there for more than 18 freaking years in Visual Studio.

https://blogs.msdn.microsoft.com/zainnab/2010/02/28/understanding-virtual-space/

That's why we use an editor instead of Word (fixed font size and virtual space) when it comes to write code fast.

[2018-08-14 11:47] jchatel commented on #5402
I acknowledged your reply @EduardJS

lol

[2018-08-14 11:48] muuvmuuv commented on #56246
Can not reproduce it atm, maybe it was just a bug. Here is just the output when VSCode is running. I'll watch the processes later the day again, maybe when I continue working on my project it appears again.

[code]

[2018-08-14 11:48] megahertz0 opened #56343 "extensions always show installing"
Issue Type: <b>Bug</b>

when click install extensions, it's always show installing.
every extension

VS Code version: Code 1.26.0 (4e9361845dc28659923a300945f84731393e210d, 2018-08-13T16:25:59.521Z)
OS version: Linux x64 4.15.0-30-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7500U CPU @ 2.70GHz (4 x 3500)|
|GPU Status|2d_canvas: enabled<br>ch

[2018-08-14 11:48] JohnstonCode opened #56344 "Ability to select multiple TreeItems"
Hi, I would like to be able to select multiple TreeItems and run context commands on the selected items. As if you currently want to make changes to multiple TreeItems you have to right click them one by one.

This would behave the same as with the file explorer and SourceControlResourceStates.

[2018-08-14 11:52] jonadem opened #56345 "Middle click and drag down selects too much"
![vs_bug](https://user-images.githubusercontent.com/5641556/44089863-9551cad8-9fc8-11e8-94fa-51a92890fcc1.gif)

- VSCode Version: 1.26.0
- OS Version: Win 10

Steps to Reproduce:

1. Create a text where the first line is shorter than another one
2. Middle click and drag down to the longest line
3. A part of the line is selected although the requested behavior is to select only each end of lines (a

[2018-08-14 11:53] akhilkedia commented on #42257
Would like to throw in some more information here for anyone who comes across this thread -

This issue seems to even depend on the specific remote server that's mounted over sftp somehow.
I have 2 servers, both of which I can browse using sftp on Nautilus.
Vscode successfully opens any folders from one server, but none from another.

What could possibly create this difference, I have no idea.
One

[2018-08-14 11:53] snebjorn commented on #56063
@isidorn the `"files.exclude"` completely removes the files/folders from the explorer making the autoReveal a none issue. As in the explorer can't select the file.

But completely getting rid of the `node_modules` folder isn't always desired. As sometimes I want to browse it.

My point is that

is the current behavior but doesn't allow for browsing so it's undesired.

[2018-08-14 12:03] Serabe opened #56346 "Handlebars indenting else if clause one more level than expected."
- VSCode Version: 1.26.0 and 1.27.0-insider
- OS Version: macOS High Sierra 10.13.6 (17G65)

Steps to Reproduce:

1. On a clean install, set "html.format.indentHandlebars" and "editor.formatOnSave" to true (the latter is not needed, but helps checking the issue.
2. Create a new handlebars file and add the code you see at the end of this bug report.
3. Save the file. It will indent the else if clau

[2018-08-14 12:05] GandalfSaxe commented on #56330
Actually this is less a question and more a feature request. I've looked everywhere, tried everything, and I can't seem to open files permanently from Quick Open, which is how I open files all the time.

Therefore it's a feature request: Add a modifier key combo to open a file permanently instead of preview from the Quick Open dropdown menu.

[2018-08-14 12:13] mklemarczyk opened #56347 "Breadcrumbs does not found any python methods and classes"
Breadcrumbs feature does not found any python methods and classes.
It shows only the python files without detecting the content.

- VSCode Version: 1.26.0
- OS Version: Windows 10 1803

Steps to Reproduce:
1. Open any folder with python scripts
2. Toggle on the Breadcrumbs

Does this issue occur when all extensions are disabled?: Yes

[2018-08-14 12:18] brunojimenez opened #56348 "Visual Studio Code se queda en blanco despues de suspención"
Se suspende el equipo y VSC queda en blanco. Menú disponible, pero el area de pestañas y paneles no responde.

[2018-08-14 12:29] cloudeal opened #56349 "VSCode break down when open python file(about 4000 lines) in version 1.26"
Issue Type: <b>Bug</b>

when i open a big python file(4000 line),vscode will break down after version 1.25.1 .and before 1.26,it can work very well.

VS Code version: Code 1.25.1 (1dfc5e557209371715f655691b1235b6b26a06be, 2018-07-11T15:40:20.190Z)
OS version: Linux x64 4.15.0-30-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6300HQ CPU @ 2.30GH

[2018-08-14 12:29] o314 commented on #5402
@jchatel [Embrace, extend, and extinguish](https://en.wikipedia.org/wiki/Embrace,_extend,_and_extinguish)

Solutions :

1. buy linked in
2. buy github

Ah someone just told me it does not work as intented for Oracle with mysql .
Management from the 90s does not have finish sudying yet...

[2018-08-14 12:38] pawadski commented on #5402
Is it possible to do this with a plugin or something?

[2018-08-14 12:41] ltennstedt commented on #56303
@bpasero Yes, I cloned the GitHub repository and ran the following commands inside the root directory of the cloned Git repository:
- git checkout tag 1.26
- yarn install
- cd scripts
- ./code.sh

I build the newest tag regularly and I have also a self-written desktop file pointing to 'scripts/code.sh'. I always run 'code.sh' the first time from the console because it compiles some stuff the first

[2018-08-14 12:47] season19840122 commented on #56328
@yume-chan After the 1.26 version is installed, the CPU is high. I installed the 1.25.1 version and it is normal.

[2018-08-14 12:48] #56297 closed

[2018-08-14 12:55] Rarxa commented on #56260
https://code.visualstudio.com/updates/v1_26#_user-setup-for-windows

[2018-08-14 13:01] Serge1985 commented on #56269
This is something really weird - I even shot a video that shows my finger
typing on the keyboard: https://photos.app.goo.gl/mNHYqAeYsZ6JV5LZ6
When I type in search window, the same numpad / key is interpreted as '/',
however when I type it as keypress, it is taken as PgUp. I know it doesn't
sound sane, but that's what I see :)
------
Yours sincerely, Serge

On Tue, Aug 14, 2018 at 5:35 AM Alexandr

[2018-08-14 13:04] JSLeo opened #56350 "last version(1.2.6) break down on archlinux"
Issue Type: <b>Bug</b>

she break when startup

VS Code version: Code 1.25.1 (1dfc5e557209371715f655691b1235b6b26a06be, 2018-07-11T15:40:20.190Z)
OS version: Linux x64 4.17.14-arch1-1-ARCH

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6200U CPU @ 2.30GHz (4 x 2700)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash

[2018-08-14 13:04] ravshansbox opened #56351 "Use code editor widget for rename widget"
None of these commands work on "Rename symbol":
![image](https://user-images.githubusercontent.com/1499188/44093267-79e26a54-9fec-11e8-8105-532998c4ad04.png)

[2018-08-14 13:05] joaomoreno opened #56352 "Missing gulp task return value"
https://github.com/Microsoft/vscode/blob/c24122b3fc724b5acdf7e757f57639d0b5e2f85e/build/gulpfile.vscode.js#L432:L450

These two task functions should return a stream to gulp. You can use `es.merge(streams)`.

[2018-08-14 13:08] bpasero commented on #56225
Moving to August. I think the issue here is that the menu uses the `WorkbenchList`, could that be true?

[2018-08-14 13:08] blakeprudhomme commented on #23931
🙋‍♂️

I really keep trying to switch from Sublime Text to VSCode but this is the single reason why I can't.

[2018-08-14 13:09] misolori commented on #56028
If this were to only show up once (after they install their first extension), is there a reason why we’d need a “Don’t show this again?”.

[2018-08-14 13:09] bpasero commented on #56246
Ok, let me know when you can reproduce again.

[2018-08-14 13:10] philstach3 opened #56353 "Maximize Editor Group doesn't work/not a setting"
- VSCode Version: 1.26.0
- OS Version: Mac OSX 10.12.6

Steps to Reproduce:

1. Open Settings (User or Workspace)
2. Search for either "Maximize Editor Group" or "workbench.action.minimizeOtherEditors"
3. The setting does not appear to be found.

The latest updates says it should be working, and I think even turned on by default, but I can't seem to find it or get it to work.

[2018-08-14 13:14] ltennstedt commented on #56303
I wanted also to follow the wiki to provide useful information about the crash but the global installation of electron-atos via npm failed. I wanted to report the bug but the GitHub page says that 'Symbolicate an Electron macOS crash report'. Are you sure that I can install this on a Linux system?

[2018-08-14 13:18] andrey6498 opened #56354 "[css] F2 duplicates dot when renaming classes in css"
Issue Type: <b>Bug</b>

select `.classname`, press f2, rename it and hit enter. Result: `..newclassname`

VS Code version: Code 1.26.0 (4e9361845dc28659923a300945f84731393e210d, 2018-08-13T16:29:31.933Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3470 CPU @ 3.20GHz (4 x 3200)|
|GPU Status|2d_canvas: enabled<br>

[2018-08-14 13:22] Gurkenglas opened #56355 "Terminal output sometimes doesn't generate links to code locations"
Issue Type: <b>Bug</b>

Install stack and build probably any project with compiler errors.

Sometimes links are generated, which made me realize that probably they should always be.

It might take you a while to build what I'm working on, but here's a branch: https://github.com/Gurkenglas/haskell-ide-engine/tree/missinglink

Or is it obvious from the terminal output why `Haskell\Ide\Engine\Plugins

[2018-08-14 13:28] reggiew2 commented on #55649
@garthk The RG issue is caused by vscode-icons. Once I removed it all is good.

[2018-08-14 13:33] ndbeals commented on #56112
@Tyriar do you guys even have any plans for the Floating Window Request? It's sat on hold for over 2 years.

If nothing is going to happen there, then nothing is going to happen for this request either.

[2018-08-14 13:38] Raydir opened #56357 "Snippets wont work anymore"
Issue Type: <b>Bug</b>

I just updated insider to 1.27.0 and somehow all my snippets seem to be gone?

My extension "f-script" contains several snippets which wont be shown if I invoke "Insert Snippet" via command F1.

VS Code version: Code - Insiders 1.27.0-insider (8727085fff33bf7d8f5e27483b10f72508d4167a, 2018-08-14T05:18:11.938Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System

[2018-08-14 13:41] rameshc-git opened #56358 "VSCode is hanging when I open the powershell script"
Hi,

After update the recent version 1.26. I'm not able to open the ps1 file using Visual Studio Code. Please find the attached image for your reference. Thanks.

![vscode_hanging](https://user-images.githubusercontent.com/16361037/44095197-d68e8cde-9ff5-11e8-8a99-04610ed8ff6e.JPG)

[2018-08-14 13:42] Neurrone opened #56359 "build tasks menu selection no longer read by NVDA"
Issue Type: <b>Bug</b>

1. Press `ctrl+shift+b` to launch the build tasks menu (in my case, trying to build a rust file).
2. Pressing the arrow keys, the currently selected option is not announced. This used to work, and was probably broken only recently.

Other types of menus, such as ctrl+shift+p work fine.

VS Code version: Code - Insiders 1.27.0-insider (8727085fff33bf7d8f5e27483b10f72508d4167

[2018-08-14 13:43] alexandrudima commented on #56269
Am I seeing things correctly? You are actually on a Windows machine and use remote desktoping software to control a linux machine?

Did you take a look at https://github.com/Microsoft/vscode/wiki/Keybinding-Issues#troubleshoot-linux-keybindings

[2018-08-14 13:44] lllopo opened #56360 "Breadcrumbs separators collapse on very long items"
If you select a very long item like a long css class definition in a CSS file, the last breadcrumb separator get's collapsed to the width of the separator image itself instead of the predefined 16px. The ".monaco-breadcrumb-item:before" needs a "min-width:16px" to prevent this.

[2018-08-14 13:44] minlare opened #56361 "Add a setting to save atomically"
Related to #20491

The still was closed for no reason that I can tell.
The issue still exists and simply using `gulp-wait` as an alternative is not a proper solution.

Please can we not have a setting like `"atomic_save": true` as in sublime?

[2018-08-14 13:45] exchangenewbie commented on #56103
@alexandrudima Sorry for the delay. Here are my logs. I noticed 1.26 was out and I will give that a try and see if my issue is resolved

![image](https://user-images.githubusercontent.com/42251169/44095410-b9d8ecb4-9fa6-11e8-99f9-5dcaacb8c96a.png)

[2018-08-14 13:48] lllopo opened #56362 "Breadcrumbs show a separator before first item, if custom colors defined"
If a custom color is defined in the VS Code settings, this adds a <style> definition in the breadcrumbs container. VS Code CSS uses ":not(:first-child)" to avoid a separator on first item, but since the <style> definition becomes first child, this actually breaks the CSS and a separator appears. Possible ways to avoid this is either to add the <style> tag elswhere or to use ":first-of-type" to mak

[2018-08-14 13:48] weinand commented on #55459
I'm now returning the path for source and folder items, and the type "Session" for sessions.
The latter is in line with what you do for session objects in the callstack view.

[2018-08-14 13:49] bpasero commented on #56303
Marking as duplicate of https://github.com/Microsoft/vscode/issues/51917 which I just reopened.

[2018-08-14 13:49] #56303 closed

[2018-08-14 13:49] kanishk98 commented on #43671
@monkeyhybrid I thought we'd ruled out the possibility of using `command-v-apt` and `command-v-dnf`. I looked into PackageKit, and it seems that Ubuntu systems don't have great support for it. On an AWS instance running Ubuntu 16.04, I checked for PackageKit and it wasn't installed by default. I'll grab a 16.04 image and try the same thing on my own machine to make sure that AWS isn't the problem.

[2018-08-14 13:52] #55459 closed

[2018-08-14 13:54] iansan5653 opened #56363 "VSCode failing to update"
This morning, I used the gear menu -> Restart to update to update my Code installation. After attempting to install the update, I see the following error:
![image](https://user-images.githubusercontent.com/2294248/44095572-2793666c-9fa7-11e8-96c7-0ad3638dfc03.png)
I'm using VSCode Insiders on Windows 10, and I updated yesterday.
The aforementioned log file is here:
[vscode-inno-updater.log](https:

[2018-08-14 13:56] kabforks opened #56364 "Unresponsive VSCode after upgrade to 1.26."
Hello!

After installing VSCode 1.26, the GUI is almost completely unresponsive when I open my project. After a few minutes, it can be used. However, the CPU usage will remain at 24% (i have 4 cores). Even after the project or folder is closed.

If I open VSCode without a project or folder, it behaves.

VSCode is responsive if launched with --disable-extensions.

Could it be an extentions that mis

[2018-08-14 13:57] lllopo opened #56365 "Visual imporvements"
I'm posting screens with the results of a custom CSS file, that I use to fix some visual annoyances in VS Code. It also fixes a few bugs, that I've already posted as separate bug reports. Here's the list of changes :
- improved vertical alignment of tabs items - icon, label and close button
- smaller tabs (this is a popular issue already reported) - tabs are unnecessary high, wasting vertical spac

[2018-08-14 14:01] bpasero commented on #56306
Can you please follow the steps in https://github.com/Microsoft/vscode/wiki/Native-Crash-Issues to get at more details around the crash and attach the result here? Thanks!

This smells a bit like https://github.com/Microsoft/vscode/issues/51917

[2018-08-14 14:03] iansan5653 commented on #56363
After restarting Windows, I was able to successfully update. I'd close this issue but I don't know if there's an underlying problem or not.

[2018-08-14 14:04] redbar0n commented on #8939
@stevencl @bpasero The issues mentioned in
[#12892 (comment)](https://github.com/Microsoft/vscode/issues/12892#issuecomment-286149590)  should not be a blocker. It could simply just work like preview mode currently does when selecting any new file from the file explorer. It will open a preview tab, and if selecting another file, then the preview tab name and content changes. It's not necessary to

[2018-08-14 14:07] medikoo commented on #56328
I observe same thing on macOS after upgrading to 1.26

[2018-08-14 14:11] ebmarquez opened #56366 "scroll bar choppy"
Issue Type: <b>Bug</b>

Open a powershell file example.psm1.
This contains a single function.
Scroll editor up and down using a touch pad on a first party device.  (SP5)

VS Code version: Code - Insiders 1.26.0-insider (207ace21dfec3dccab52f1296a3880ac7644c978, 2018-08-10T06:49:26.279Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|In

[2018-08-14 14:13] tsangint commented on #56194
@velechva I found the reason now,It's because my NodeJS version(10.5) not match the required versions(>= 8.9.1, < 9.0.0).You can install a NodeJS which version is  >= 8.9.1, < 9.0.0 and try again.

[2018-08-14 14:14] Raydir commented on #56357
it seems local snippets are not involved - this only occurs when the snippets are from a extension.

[2018-08-14 14:17] anderfernandes commented on #51917
Felow Arch Linux users, I have just done a git pull on my visual-studio-code-bin AUR package and it works. The version on there says 1.26.0-2. If your distro hasn't updated the package yet, an update should be coming out soon.

[2018-08-14 14:18] Domvel commented on #56317
Same here. The first line ist a non related (to a file) error. An not clickable. And sometime no line is clickable. Since 1.26. there is a bug.

![image](https://user-images.githubusercontent.com/35452565/44097281-add21422-9fdd-11e8-8b0a-9504265bcc6b.png)

[2018-08-14 14:26] sguillia opened #56367 "Problems tab not up-to-date"
Please take a look at the following screenshot:

![bug-vscode-2](https://user-images.githubusercontent.com/15984272/44096782-6050d090-9fdc-11e8-814c-fc20421e9b43.PNG)

Could you confirm there is something wrong?

The following looks wrong to me:
- There should be 4 problems, but only 2 warnings are shown
- The second _unused variable_ is "indented" but it shouldn't be.

This happened after I ran a

[2018-08-14 14:33] mneil commented on #56112
I'm not even sure floating windows solve the problem. If I float the console and split it then I still have the same problem unless you add this functionality.

Or, if you expect me to open multiple windows each with a console I would be responsible for their layout. The ux would not be the same if I were left to resize and move multiple windows independently.

While I think it's related to pop ou

[2018-08-14 14:34] larssb opened #56368 "Source control. Differences compare window freezes on a big file."
Issue Type: <b>Bug</b>

This file > https://github.com/larssb/HealOps/blob/master/Deployment/Install-HealOps.ps1 freezes the VS Code source control differences compare window.

- VS Code version > 1.26.0

Error:
- I just get a "The window is no longer responding" prompt.
--> If I choose to click on "Reopen" the same issues occurs again.
- The error is repoducible every time I click on the file to

[2018-08-14 14:37] DifficultNick opened #56369 "setStatusBarMessage completion handler"
It would be nice to have a handler to subscribe the status bar redrawn event. Because now I need to use `setTimeout` to be sure that message was shown before my extension does next steps.

[2018-08-14 14:38] beastdestroyer opened #56370 "Find Box creates padding at the top of documents"
Issue Type: Bug Report

Find dialog just creates unnecessary padding. I can understand if this was a design decision to stop it blocking users' code, but with all this space, you could make it a full width thing with bigger font/possibly boxes, or make it part of the tabs on the bottom panel. It just looks really odd right now. Could do with UI rework.

- VSCode Version: 1.27.0-insiders
- OS Versi

[2018-08-14 14:43] ly-cultureiq commented on #56364
experiencing the same issue - for a split second i can click into the text area but within a second the ui is unresponsive and after a minute the entire app show a "this window is no longer responding message"

[2018-08-14 14:45] strongui commented on #56260
How exactly to we switch and do away with this error? This is not specified.

[2018-08-14 14:46] jrieken commented on #56369
Why that? There is no delay, just some debouncing for rapidly repeated calls. When do you not see a status bar message?

[2018-08-14 14:47] Domvel commented on #56317
I tested the same on the version `1.25.1`. It's correct. See:
![image](https://user-images.githubusercontent.com/35452565/44098887-a4a764b6-9fe1-11e8-85ec-a5f955d7bfe6.png)

It's a bug in `1.26.0`

[2018-08-14 14:49] Bene-Graham opened #56371 "Problem Tab is all corrupted with Typescript Problems"
![problemwindowissues](https://user-images.githubusercontent.com/35272170/44098850-3f965910-9faf-11e8-99a9-9b66cbe3c2c0.png)

The other thing that happens when it is in this state is the scroll in the problem window is all wired. It is almost like the first half is floating on top.

- VSCode Version: 1.26
- OS Version: OSX High Sierra

Steps to Reproduce:

Unfortunately I can't find the exact step

[2018-08-14 14:50] GandalfSaxe commented on #15840
Reset zoom have default shortcut of ⌘+Numpad0 is really bad on the Mac. The vast majority of Mac users are surely using Macbook Pro, not Mac/iMac, so we don't have any numpad.

Just make *any* default shortcut that is able to be pressed on MBP. Since the conventional ⌘0 is already mapped to `workbench.action.focusSideBar`, may I suggest ⇧⌘0? It's currently unused in the default keymap 👍

[2018-08-14 14:52] Falthazar opened #56372 "Sort/group user settings file"
This might be a little moot with the new settings editor, but it would be nice to auto sort/group the settings file.

It would be nice to have similar settings grouped together automatically. For instance all the settings for a extension.

[2018-08-14 14:52] illusive-man commented on #54261
+1 to the issue. Just created index.js and put there `export default from './Wrapper';`. That leads to `[ts] ';' expected` error. Why? Just Why?! And the funniest and saddest thing at the same time that if you put semicolon after  'from' word the error disappear. Cool solution, isn't it? I believe that even integrated linters have to have enable/disable setting for an easy control. Annoying bug to

[2018-08-14 14:52] octref commented on #56169
@bpasero Still nothing. I'm using IPC as the release notes instructued.

[2018-08-14 14:52] KeeganJ opened #56373 "Nested user snippets are no longer triggered by prefixes"
Issue Type: **Bug Report**

Nested user snippets are no longer triggered by prefixes. This is functionality that I used to use to scaffold out tests in mocha, but I noticed after updating that prefixes would no longer trigger snippets when used while still in the context of another snippet.

- VSCode Version: 1.26.0 (and Insiders 1.27.0)
- OS Version: macOS 10.13.6

Steps to Reproduce:

1. Add a u

[2018-08-14 14:53] Domvel commented on #13953
Is there a way to trigger ts lint in vs code? I could use e. `tslint` to display it in the console.
It would be great if I could trigger VS Code to scan all files in src folder for errors (syntax and linter)

[2018-08-14 14:56] exchangenewbie commented on #56103
@alexandrudima I've installed the 1.26 version and its still crashing. Here is the new error codes from the extension developer tool
![image](https://user-images.githubusercontent.com/42251169/44099406-8ac12cfc-9fb0-11e8-8cb0-ead64b6a6fd5.png)

Here is the Logs:

[2018-08-14 10:54:03.316] [exthost1] [info] extension host started
[2018-08-14 10:54:03.338] [exthost1] [info] ExtensionService#_doActiv

[2018-08-14 14:56] #56373 closed

[2018-08-14 14:57] jrieken commented on #56373
We did that on purpose because many people disliked that behaviour. You can now control that with the `"editor.suggest.snippetsPreventQuickSuggestions": false` setting.

[2018-08-14 14:58] wingrunr21 commented on #56301
Actually a bug in Electron. VSCode itself already mitigated the issue (see Microsoft/vscode#52583). Working on mitigating it in `vscode-ruby`.

[2018-08-14 14:58] Jorval opened #56374 "CommandPalette git clone crashes vscode"
Issue Type: <b>Bug</b>

Hey,
first things first: awesome edoitor i ditched atom  ;)

after updating vscode to 1.26.0 today it crashes everytime i try to git clone a repository.
i invoke the palette and git clone and he asked me for the url.
normaly the next step is vscode asking for a location where to clone, unfortunally it crashes.
As suggested i tested with all extensions disabled crashes still

[2018-08-14 14:58] Bene-Graham commented on #56371
Just an update. I tried disabling the TsLint extension and the problem still exists.

[2018-08-14 15:02] KeeganJ commented on #56373
@jrieken Thanks!

[2018-08-14 15:03] hparadiz commented on #56100
I was able to get rid of the bad entries!

`killall Dock` forced a reset of the Dock process which cleared out the fake "open" files from my dock menu.

https://www.quora.com/What-is-the-best-way-to-delete-a-recently-opened-file-history-on-a-Mac

[2018-08-14 15:04] Serge1985 commented on #56269
Yes, you are quite right and thank you, it fixed the issue!
------
Yours sincerely, Serge

On Tue, Aug 14, 2018 at 9:45 AM Alexandru Dima <notifications@github.com>
wrote:

[2018-08-14 15:05] alexandrudima commented on #56103
@exchangenewbie Can you please go ahead and disable (one-by-one) the 5 built-in extensions.

* Extensions viewlet
* ... menu
* Show Built-in Extensions
* FEATURES
* Git, Emmet, etc.

![kapture 2018-08-14 at 17 04 21](https://user-images.githubusercontent.com/5047891/44099962-23f6beae-9fe4-11e8-9c4c-20f5ab670b76.gif)

[2018-08-14 15:05] DifficultNick commented on #56369
Here is an example:
[code]

I see `computing...` message only after `compute()` completed

[2018-08-14 15:06] #56269 closed

[2018-08-14 15:06] mihe commented on #56371
Been having this problem since updating to 1.26.0 as well. Like previously mentioned it seems difficult to reproduce. I've tried running with `--disable-extensions` and the issue still presents itself after a while.

![fc5b7fbcee](https://user-images.githubusercontent.com/4884246/44099892-f775ecb0-9fe3-11e8-87bc-914f0189f4eb.gif)

OS Version: Windows 10.0.16299

[2018-08-14 15:07] mitchellsimoens commented on #53733
I have the same issue (sorry, repo is a private repo). Interestingly, I can get rid of the red squiggly (and problem in problems tab) by commenting out the line and saving and then uncommenting the line and saving.

Tried closing code and reopening to see if this workaround just persists for a session but it didn't mark the issue after opening code again.

[2018-08-14 15:10] Devan35 commented on #56260
same here !

[2018-08-14 15:18] boeningc commented on #5402
Funny thing is with the latest releases the terminal window will do column select with ALT + Click.

Integrated Terminal

Column selection

Column selection is now supported within the Integrated Terminal via Alt+click.

[2018-08-14 15:28] caiornpstrf commented on #53708
Also have the same issue:

Version: 1.25.1
Commit: 1dfc5e557209371715f655691b1235b6b26a06be
Date: 2018-07-11T15:43:53.668Z
Electron: 1.7.12
Chrome: 58.0.3029.110
Node.js: 7.9.0
V8: 5.8.283.38
Architecture: x64
Windows 10 Enterprise and Professional

Seems like the issue is related to the new title bar view. On my end it shows up in the old title bar but not the new one:

![image](https://user-imag

[2018-08-14 15:29] gdelhomme commented on #55008
This problem occurs when launching the last official 1.26 on RHEL7.
`[140720:0814/172715.230161:WARNING:browser_main_loop.cc(275)] <unknown>: Couldn't connect to accessibility bus: Failed to connect to socket /tmp/dbus-5pHxz4cUAk: Connection refused
[140720:0814/172718.546298:FATAL:nss_util.cc(632)] NSS_VersionCheck("3.26") failed. NSS >= 3.26 is required. Please upgrade to the latest NSS, and if

[2018-08-14 15:31] FranklinWhale commented on #56317
I am experiencing the same `1.26.0` and confirm that the Problem Panel works normally when C# for Visual Studio Code (powered by OmniSharp) is disabled.
![looping](https://user-images.githubusercontent.com/8416067/44101285-aa31cede-a019-11e8-81a1-a8362462aca3.gif)

[2018-08-14 15:33] waldyrious opened #56375 "Auto-complete of @ in extension sidebar stops working when text is deleted from search box"
Having initially reported #46333, I was eager to test the functionality that was implemented in #53915. I came across the following issue that doesn't sound like desirable/intentional behavior.

- VSCode Version: 1.26.0
- OS Version: Ubuntu 16.04.5 LTS

Steps to Reproduce:

1. Open the extension sidebar.
2. Type @ in the search box. An auto-complete menu appears with several possible options (`@bu

[2018-08-14 15:36] gdelhomme opened #56376 "Unable to launch on RHEL7"
- VSCode Version: 1.26.0
- OS Version: RHEL7

Steps to Reproduce:

1. At start

Does this issue occur when all extensions are disabled?: Yes

This problem occurs when launching the last official 1.26 on RHEL7.
`[140720:0814/172715.230161:WARNING:browser_main_loop.cc(275)] <unknown>: Couldn't connect to accessibility bus: Failed to connect to socket /tmp/dbus-5pHxz4cUAk: Connection refused [140720:

[2018-08-14 15:36] Domvel commented on #56317
I recommand to use version `1.25.1` or another, but not `1.26.0` until this bug is fixed. I have no idea how to fix it.

[2018-08-14 15:45] AlanRosenthal opened #56377 "VSCode hangs when opening python file"
Issue Type: <b>Bug</b>

1) open vscode
2) open python file, eg tasks.py
3) vscode becomes unresponsive
4) try disabling python extension and observe same behavior

VS Code version: Code 1.26.0 (4e9361845dc28659923a300945f84731393e210d, 2018-08-13T16:25:59.521Z)
OS version: Linux x64 4.15.0-30-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-5600U

[2018-08-14 15:49] RyanTaite opened #56378 "Markdown Preview Flashes"
Issue Type: <b>Bug</b>

When editing a Markdown file with the Preview open on the side, the Preview section flashes whenever it updates rather than having a smooth update.

It seems to happen more when editing lines in-between other lines, rather than lines at the bottom of the file.

My Markdown file has just under 1000 lines.

VS Code version: Code 1.26.0 (4e9361845dc28659923a300945f84731393e210

[2018-08-14 15:53] monkeyhybrid commented on #43671
@kanishk98 I just tested with a Ubuntu 16.04 virtual machine and you're right, no default support for PackageKit. It's an LTS release too, so could be around for a few years to come. Hmmm, that's a shame. :(

So I guess that leaves the options as:-
* Use `apt`, `dpkg`, `dnf`, `yum`, etc, to test if `code` package was installed.
* Require PackageKit as a package dependency (seems a bit overkill - m

[2018-08-14 15:55] shir commented on #56371
Have similar problem for ruby files (using [Ruby extenstion](https://marketplace.visualstudio.com/items?itemName=rebornix.Ruby)). And for typescript files too.

[2018-08-14 15:56] shawnlewis commented on #56371
Downgrading to 1.25.1 fixes it. You can get it here: https://code.visualstudio.com/updates/v1_25. Disable automatic updates by putting "update.channel": "none" in your user settings.

[2018-08-14 16:00] jrieken commented on #56369
Yeah, but only because `compute` overloads the event loop. Internally the `setStatusBarMessage`-function is debounces with `setTimeout(fn, 0)`. That means the `compute` function steels all resources so that we cannot can the message to the renderer. Also all other computation is block and I hope your extension doesn't actually do something like that.

[2018-08-14 16:01] ramya-rao-a commented on #55921
@sbatten @bpasero August or July recovery?

[2018-08-14 16:01] #56320 closed

[2018-08-14 16:03] roblourens commented on #56213
See the wiki for help troubleshooting search issues: https://github.com/Microsoft/vscode/wiki/Search-Issues

[2018-08-14 16:05] roblourens commented on #56282
Which settings are you expecting to see that include "step"? I don't see any.

[2018-08-14 16:07] roblourens commented on #56339
What are you showing exactly? Please include exact steps to repro the issue.

[2018-08-14 16:13] DanTup commented on #56371
Seeing same thing in Dart. I'm seeing stale errors, and clicking them doesn't navigate anywhere, and the same scrollbar that does nothing (which shouldn't be displayed, because the list is short).

[2018-08-14 16:14] DanTup commented on #56367
Maybe same as #56371 (yours was opened first, but that one has more comments about it affecting many languages)?

[2018-08-14 16:14] roblourens commented on #56298
Duplicate of https://github.com/Microsoft/vscode/issues/12448

[2018-08-14 16:14] #56298 closed

[2018-08-14 16:25] monadbobo opened #56379 "I can't change the keyboard shortcuts for breadcrumbs."
Hi all.
In the default, when dropdown appears in breadcumbs, we can use uparrow or downarrow select some element and moving, My question is: How can it change the uparrow/downarrow to my keyboard shortcuts(maybe ctrl+n/ctrl+p). I did not find their corresponding key.

[2018-08-14 16:26] monkeyhybrid commented on #43671
I just had a peek at the [Gulp build file for Linux](https://github.com/Microsoft/vscode/blob/master/build/gulpfile.vscode.linux.js) and there are references to Snap and Flatpak packages in addition to deb and RPM. On top of that, there are multiple AUR packages made by the Arch community, and I'm sure the same applies to other distros. Checking all of this could be a real mess.

So... how about t

[2018-08-14 16:32] arturogh opened #56381 "Window contents are clipped"
Issue Type: <b>Bug</b>

On unlocking my machine both my WS Code window contents were clipped:

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/7030831/44104904-ebf61890-9fa4-11e8-94f5-e2461f080f2d.png">

VS Code version: Code 1.26.0 (4e9361845dc28659923a300945f84731393e210d, 2018-08-13T16:20:44.170Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summar

[2018-08-14 16:33] arturogh commented on #56381
A resize of the window 'fixes' it.

[2018-08-14 16:34] cnshenj commented on #56282
I am not expecting any specific setting. I am expecting search to tell me what settings contain "step". Instead of showing me an empty list, it shows some random settings, like this:
![vscode settings search](https://user-images.githubusercontent.com/8441956/44105020-4754d730-9fa5-11e8-8b27-8ef9dbc6028c.PNG)

[2018-08-14 16:35] Grehgous commented on #55963
Redirection always happens behind the scenes, and as a VDI user I have no way to stop it. The extensions show in both paths, but are actually stored in the (hidden) redirected path.

[2018-08-14 16:37] GandalfSaxe opened #56382 "Platform context keys doesn't work for command removals"
Issue Type: <b>Bug</b>

The new platform specific context key that words for key bindings (https://github.com/Microsoft/vscode/pull/54894/commits) doesn't work for "negative" commands, i.e. when the commands starts with a minus.

Easy way to reproduce:
1. Install [Markdown All In One](https://marketplace.visualstudio.com/items?itemName=yzhang.markdown-all-in-one) extension.
2. Remap `markdown.eten

[2018-08-14 16:39] bpasero commented on #56169
Yeah we figured that our workaround for former broken behaviour should be removed.

[2018-08-14 16:39] enure opened #56383 "Intellisense doesn't work with submodules"
- VSCode Version: 1.26.0
- OS Version: Mac OS 10.13.6

Steps to Reproduce:

I have a private npm dependency which exports a set of modules like so:

[code]

I can then import these modules in one of two ways from my dependent project:

[code]

With the first option, Intellisense properly displays the JSDocs for the modules. With the second it does not.

I would prefer to use the second option in o

[2018-08-14 16:40] bpasero commented on #55921
I think we can move this to August given it only reproduces with the custom titlebar enabled.

[2018-08-14 16:43] GandalfSaxe commented on #56382
Would suggest assignment to @Tyriar since he implemented #54894

[2018-08-14 16:48] bpasero commented on #51917
@anderfernandes wait, are you publishing a package of VSCode that users that see this crash are running and not our official release???

[2018-08-14 16:49] sbatten commented on #53767
@LordHog I have not yet diagnosed this issue, but this milestone I will be focusing on the mnemonics system in the custom menubar and will address this as well. Would you be able to check the dev tools to  determine the fonts being loaded in the menus? If so, the trick to keeping the menus open in dev tools is opening the menu, then pausing the debugger. Thanks

[2018-08-14 16:51] bpasero commented on #51917
Ok looks like https://github.com/Microsoft/vscode/issues/55934 is the one we want to keep open.

[2018-08-14 16:51] #51917 closed

[2018-08-14 17:00] JourdanClark commented on #54261
My javascript files are covered in [ts] errors because we use experimentalDecorators, which I have enabled for javascript in the settings. I have disabled every typescript and javascript setting I can find and I haven't been able to open a file without getting blasted with a million [ts] errors since 2 or 3 updates ago. No one on my team has been able to get them to go away either. This is a probl

[2018-08-14 17:03] zamhown opened #56384 "Unsaved content will be lost after replacing the filename with the “same” one"
- VSCode Version: 1.27.0-insider
- OS Version: Windows 10.0.17713.1002

Steps to Reproduce:

1. Open a folder in the sidebar.
2. Create a file named "test.txt".
3. Modify the content of the document to "a", and save it.
4. Modify the content of the document to "b", but don't save it.
5. Modify the filename to "Test.txt". Oooops! the unsaved content is lost.
6. There is also a different way to repr

[2018-08-14 17:03] bpasero commented on #56342
This could be https://github.com/Microsoft/vscode/issues/55934

@Enindu Can you please follow the steps in https://github.com/Microsoft/vscode/wiki/Native-Crash-Issues to get at more details around the crash and attach the result here? Thanks!

[2018-08-14 17:04] bpasero commented on #56350
Possibly a duplicate of https://github.com/Microsoft/vscode/issues/55934

@JSLeo
Can you please follow the steps in https://github.com/Microsoft/vscode/wiki/Native-Crash-Issues to get at more details around the crash and attach the result here? Thanks!

[2018-08-14 17:05] bpasero commented on #56353
This is not a setting but a command.

[2018-08-14 17:05] #56353 closed

[2018-08-14 17:05] bpasero commented on #56366
Duplicate of https://github.com/Microsoft/vscode/issues/13612

[2018-08-14 17:05] #56366 closed

[2018-08-14 17:09] philstach3 commented on #56353
@bpasero okay, but the command is not working and I can't find the setting for the command. Not sure if my wording is incorrect, but the feature seems to be not working.

[2018-08-14 17:27] GandalfSaxe commented on #26764
@joaomoreno It IS currently supported but there obviously is a bug. It's supported simply by selecting multiple files in Source Control, right clicking and picking "Stage Changes". The problem is that the corresponding command only stages ONE file (always the first chosen) whenever one invokes it via designated keyboard shortcut instead of right clicking. So obviously it's a bug.

Reproduce:

1. M

[2018-08-14 17:32] Serega124 opened #56385 "Excessive(?) repainting of the status bar and scrollbar"
Issue Type: <b>Performance Issue</b>

### Steps to reproduce:
1. Select Toggle developer tools and turn on paint flashing.
2. Type any text and move cursor horizontally.

### Actual behavior:
During each cursor movement or typing, the status bar and scrollbar are repainted several times. Actually, only cursor position label changes on the status bar during this time.

### Expected behavior:
Repain

[2018-08-14 17:33] mattferderer opened #56386 "Markdown link snippet convert to HTTPS"
I would like to make a pull request that changes the markdown snippet for links to use HTTPS instead of HTTP. Microsoft seems to encourage HTTPS by default in the latest .NET Core & browsers are also encouraging it. To me HTTPS sites seem to be the default for most websites these days.

https://github.com/Microsoft/vscode/blob/dee28efc346d74138e7c8d4f429684712078862a/extensions/markdown-basics/sni

[2018-08-14 17:36] natenorberg opened #56387 "Extension host terminated unexpectedly after 1.26.0 update"
Issue Type: <b>Bug</b>

When I open VS Code I get a toast that says "Extension host terminated unexpectedly."

Usually this happens on startup, but occasionally extensions remain functional until I open, close, switch, or save a tab.

This never occurred before I updated to v.1.26.0 this morning. I saw a few similar issues, but they seem to end up being related to extensions I don't use such as ru

[2018-08-14 17:37] ronjouch commented on #16320
I built a [minimal broken test project (zip, 3kB)](https://www.dropbox.com/s/enj8q647rf7kfco/vscode-jsconfig-path-webpack-no-gotodef.zip?dl=1) for my use case. Can anyone give a look at it? Ping @mjbvz

Extract the zip and see README.md: like other people, path autocompletion works, but not "peek" or "Go to definition".

- `npm install && npm run build && node dist/index.js`
  → Install & build bo

[2018-08-14 17:37] GandalfSaxe opened #56388 "[json] Inline comment of last command doesn't stay in place when adding new setting"
Issue Type: <b>Bug</b>

The comment on the last setting doesn't stay put, but is moved down to the new command, which is not ideal:

![](https://i.imgur.com/OtgBnWZ.gif)

VS Code version: Code - Insiders 1.27.0-insider (8727085fff33bf7d8f5e27483b10f72508d4167a, 2018-08-14T05:12:11.579Z)
OS version: Darwin x64 18.0.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) C

[2018-08-14 17:38] misolori commented on #56268
So it looks like our current implementation of "Start without Debugging" could very well solve the issue at hand from a technical standpoint. This does exactly what I would expect 👍.

From a UX perspective, users who are not familiar with debugging don't know where to look and wouldn't think to look in "debugging". We could solve this problem by re-phrasing the action (something either like "Run"

[2018-08-14 17:39] bpasero commented on #56353
![before](https://user-images.githubusercontent.com/900690/44108121-bac1931c-9ff9-11e8-92b2-1cb8d9f58e35.gif)

It works just fine for me.

[2018-08-14 17:44] #53605 closed

[2018-08-14 17:52] alexreg opened #56389 "Search and highlight files & directories in Explorer"
Could we get a command to search for and highlight (that is, select) files & directories in the Explorer sidebar?

[2018-08-14 18:05] dchw commented on #56317
Yep, same issue here.

I am noticing that it only happens when the tab is focused, though If I introduce errors in my code while it is not focused, the number changes appropriately, and stays constant. I guess its a workaround, but not much of one.

So it must be something about the problems being focused that is triggering the error?

[2018-08-14 18:05] philstach3 commented on #56353
Looks like I had to fully close and reopen VS Code. I was still running on the reopened window after the update, and that menu option to enable/disable it that you show wasn't there originally, but it's there now. Sorry for the ticket!

[2018-08-14 18:05] larssb commented on #56368
This happens on my Windows7 x64 client and on MacOS v10.13.6 (Beta).

[2018-08-14 18:08] eric-777 commented on #13960
@jchatel we have to keep in mind that this product is both free and good when asking for new features.  I wouldn't call virtual space a particularly powerful feature.  I feel like it's absence is more of a high barrier to adoption among many of us who formed our editing technique with it.

Also, I use proportional fonts AND virtual space in VS.  They are definitely not mutually exclusive.

I'm enc

[2018-08-14 18:08] juliofarah commented on #56301
I'm having the same issue with the VIM (vscodevim) + Go combination.
Is there a quick fix?

[2018-08-14 18:11] #55801 closed

[2018-08-14 18:12] roblourens commented on #56282
We have fuzzy search that tries to anticipate typos, alternate words, etc. Not sure what it's matching on in this particular case, but that's what's going on.

[2018-08-14 18:12] #56282 closed

[2018-08-14 18:15] roblourens commented on #56389
https://github.com/Microsoft/vscode/issues/10026

[2018-08-14 18:15] #56389 closed

[2018-08-14 18:17] jashobantac commented on #56260
Same here..

[2018-08-14 18:18] recursionbane opened #56390 "Editor window blanks out when splitting on dual-wide monitor"
Issue Type: <b>Bug</b>

**[Video of behavior on Streamable](https://streamable.com/y4c5v)**

1. Window resolution is: 6874x1410
2. Create blank new file, type any amount of text
3. Split window horizontally once (two-column layout): Everything's okay
4. Split window horizontally once more (three-column layout): All text within editors disappear

**This is reproducible both in Stable 1.26 (August 2

[2018-08-14 18:25] misolori opened #56391 "Better empty state for Debug sidebar"
We currently provide empty state text for all of our sidebar panels except for Debug. My suggestion is to hide the content and use a similar message:

|Current|Suggestion|
|---|---|
|<img src="https://user-images.githubusercontent.com/35271042/44109210-4ec14c86-9fb1-11e8-95ff-071eedd94f73.png">| <img src="https://user-images.githubusercontent.com/35271042/44110456-9505980c-9fb4-11e8-970e-aecf1ded4

[2018-08-14 18:26] Enindu commented on #56342
@bpasero

[code]

[2018-08-14 18:28] jashobantac commented on #56260
As the update says it now allows user wide installation that does not need administrator access, I saw two entries in my path created  :
1) In my user variables (the newly added path)
C:\Users\[user-account-name]\AppData\Local\Programs\Microsoft VS Code\bin
and one in the System Variables :
C:\Program Files\Microsoft VS Code\bin
Both of which has a batch file triggering the exe. So, the error is p

[2018-08-14 18:31] Nathan-Brandless commented on #30114
`editor.hover.enabled` seems to not work if you also have `editor.hover` defined. I had to delete the old line before it would honor the new one.

[2018-08-14 18:34] tekrat commented on #56377
Same issue is happening with other plugins.  I'm having the issue with the PowerShell plugin. I have found that:

* Exit the application  (Task Manager on Windows)
* Open with a new work space so you are not point to old file that locked up the applications
* Disable your plugin
* Reload the application
* Reopen the file, change 1 character and save.
* Ensable your plugin
* Reload the application

[2018-08-14 18:37] Tyriar commented on #56382
@GandalfSaxe why are you using a when clause for this? Why not just:

[code]

I suspect this is as designed since there's nothing special about isMac, it's just a regular context key (with a value that never changes).

[2018-08-14 18:38] ris58h opened #56392 "Move 'x' close button of Open Editor items to the right"
Currently there is the close button on left side of the item which seems strange to me.
![open-editors-close-item](https://user-images.githubusercontent.com/511242/44110910-ac0ba9b0-a009-11e8-8b4d-f11c947ad4ec.png)
Shouldn't it be on the right side instead?

[2018-08-14 18:40] Tyriar commented on #56112
@ndbeals the issue mentions there's a technical limitation. I certainly hope we do soon as it will enable a lot of cool stuff.

@mneil this isn't _technically_ blocked on it, but only when floating windows are supported, and you can pull the panel out, would we be able to justify spending time on this issue.

[2018-08-14 18:40] JacksonKearl commented on #56037
Closed in #56271

[2018-08-14 18:40] #56037 closed

[2018-08-14 18:46] Tyriar commented on #43997
@yuval-gilboa tabs for terminal have not been forgotten, it's one of the highest rated features https://github.com/Microsoft/vscode/issues/10546

[2018-08-14 18:46] roblourens opened #56393 "Process viewer - select row to "follow" it"
Sometimes rows are being added and removed from the process list quickly, and I want to be able to keep my eye on a particular one. Allowing me to select a row would help a lot. It would be especially great if it would keep that row from scrolling out of view.

[2018-08-14 18:48] RomainLanz commented on #26128
Any news on this?

[2018-08-14 18:50] Tyriar commented on #56287
This is likely related to winpty, tracking in https://github.com/Microsoft/vscode/issues/45693

[2018-08-14 18:50] #56287 closed

[2018-08-14 18:50] nealot commented on #56365
This looks so much better than the default.

[2018-08-14 18:52] Tyriar commented on #56278
Seems to work fine for me, could you put together a gif showing the issue?

[2018-08-14 18:52] Tyriar commented on #56276
Fixed in latest insiders 👍

[2018-08-14 18:52] #56276 closed

[2018-08-14 18:53] Tyriar commented on #56273
I'm fine with keeping it centered, but this must not be truncated:
![image](https://user-images.githubusercontent.com/2193314/44111952-a6869a1e-9fb8-11e8-8778-c8142991acd6.png)

[2018-08-14 18:54] #56341 closed

[2018-08-14 18:54] Tyriar commented on #56341
https://github.com/Microsoft/vscode-python/

[2018-08-14 18:58] Tyriar commented on #43671
If we could differentiate Available and repo not installed that would be best.

References to flatpak will be removed, AUR is managed by the community and we should route to the regular download url in this case. Snap is in progress and will be handled when that gets handled. For now we only need to worry about deb and rpm and fallback to the regular download url.

We already have this: `"update.c

[2018-08-14 19:00] hagabaka commented on #53499
The documentation describes how to create custom snippets. Abbreviations are different from snippets in that abbreviations always expand to XML tags, and can be used as building blocks in longer commands. For example, with an abbreviation `"foobar": "foo>bar"`, you would be able to type `div>foobar` to get
[code]
Snippets can contain arbitrary text, but can't be used as building blocks.

[2018-08-14 19:01] GandalfSaxe commented on #56382
@Tyriar Basically I don't have a use case for it _right now_, but that's more coincidence than anything else.

The cmd key happen to not exist on Windows, so I can leave the command removal as you've quoted above without a when clause. But in principle one could be in a situation where one wanted to remove a key mapping from one platform, but not another. I don't see any reason why it shouldn't wo

[2018-08-14 19:01] Tyriar commented on #56266
Update to latest should fix this.

[2018-08-14 19:01] #56266 closed

[2018-08-14 19:05] JacksonKearl commented on #27655
Note to verifiers: this issue is about the alert not being read twice in the same "context". The issue of alerts not being read when code loses focus then regains it is separate and tracked at #53719.

[2018-08-14 19:05] #27655 closed

[2018-08-14 19:05] Tyriar commented on #56024
@njkevlani cool! Keybindings/commands can have arguments pass to them, we would want to leverage this https://code.visualstudio.com/docs/getstarted/keybindings#_command-arguments, basically we want expose a command similar to `MoveToLineEndTerminalAction` and its super class `BaseSendTextTerminalAction` (inside terminalActions.ts)

[2018-08-14 19:08] GlenCFL commented on #56317
Callbacks provided to `vscode.workspace.onDidCloseTextDocument` are being invoked constantly, possibly erroneously. This causes Omnisharp C# to remove diagnostic errors over a short time span until it eventually finishes the project analysis, resets the diagnostics, and repeats.

With the Omnisharp C# extension:

- clone the repository (https://github.com/OmniSharp/omnisharp-vscode.git)
- install

[2018-08-14 19:10] ramya-rao-a commented on #53499
@sergeche Is what @hagabaka mentioned above possible with the new emmet modules? I

[2018-08-14 19:25] Bernd-L opened #56395 "Background images/pictures"
I come from the IntelliJ platform, and I loved to use wallpapers.
https://www.jetbrains.com/help/idea/setting-background-image.html

This is such a simple, yet so important feature, as this little personal touch can enhance one's experience by quite a bit.

There is already an extension which can do just that, however, it doesn't comply with the extension API, as the things it does aren't supporte

[2018-08-14 19:26] Jorval commented on #56374
i can also confirm a second installation where it happens and it seems the folder/open dialog causes the crash.

my second maschine is my private gamingrig (also arch) and i had vscode 1.25 installed. unfortunally i didn't tried it before the update to 1.26 but now trying to open a folder crashes vscode.

[2018-08-14 19:29] roblourens opened #56396 "`import(...)` shows up in type error messags"
![image](https://user-images.githubusercontent.com/323878/44113665-ad904ddc-9fbd-11e8-9045-e6054f9f7e59.png)

Is this supposed to happen? I don't always see it. If you don't know what I'm talking about I can find a better reproable example...

[2018-08-14 19:32] dbaeumer commented on #56169
I fixed this by publishing new version of the LSP libraries (5.0.0) which work again with Electron 2.x

[2018-08-14 19:32] #56169 closed

[2018-08-14 19:42] Jorval commented on #56374
starting in a terminal session i got:
``
Gtk:ERROR:gtkiconhelper.c:494:ensure_surface_for_gicon: assertion failed (error == NULL): Failed to load /usr/share/icons/Numix/16/status/image-missing.svg: Bildlader-Modul konnte nicht geladen werden: /usr/lib/gdk-pixbuf-2.0/2.10.0/loaders/libpixbufloader-svg.so: /opt/visual-studio-code/glibc/usr/lib/libc.so.6: version `GLIBC_2.28' not found (required by /

[2018-08-14 19:42] dbaeumer commented on #56367
This indeed looks like a dup of #56371 which (due to the scrolling problem) might be even not a problem of the language services itself.

[2018-08-14 19:42] #56367 closed

[2018-08-14 19:43] dbaeumer commented on #56371
@sandy081 since this happens with many languages this looks like a general problem with the view. Might be even Electron 2.0 related due to the scrolling issues.

[2018-08-14 19:45] ZRogerson commented on #56387
I'm having the same issue. It seems to be killing prettier and possible other extensions.

[2018-08-14 19:47] kanishk98 commented on #43671
That should be simple enough if we check stdout.

When there is no package:
[code]
When the package is available but not installed:
[code]
When the package is installed:
[code]

[2018-08-14 19:49] dbaeumer commented on #56295
How do you create the solution file? Do you run `Task > Configure Task`. I am actually pretty sure that this is caused by the C# extension but want to be sure.

[2018-08-14 19:50] roemhildtg opened #56397 "Allow the configuration of the default npm query url"
I'd like to see a way to configure vs code to query a different npm repository. Many people are using private repositories to control access to their packages. For instance, a major provider is Verdaccio. https://verdaccio.org/

Allow us to configure the url to be something other than the default npm repository.

[2018-08-14 20:01] #52098 closed

[2018-08-14 20:02] alexreg commented on #10026
Still not implemented? Gosh, this has been open a long time.

[2018-08-14 20:03] mawright opened #56398 "Breakpoints stay on their original line number (do not follow statements) when code is edited during a debug run"
I reported this bug to the vscode-python repo but was referred upstream to the core vscode repo. My example below is in Python but a Microsoft dev on vscode-python  confirmed it also affects the native Typescript debugger: https://github.com/Microsoft/vscode-python/issues/2389

- VSCode Version: 1.26.0, and 1.27.0-insider
- OS Version: Ubuntu 16.04

## Behavior
When lines are added/removed in the

[2018-08-14 20:05] #55448 closed

[2018-08-14 20:06] GandalfSaxe commented on #53062
Btw I'd think that it would be more logical to use modifiers+F7 (next diff change), instead of modifiers+F3 (next search match) 🙂

[2018-08-14 20:15] GandalfSaxe commented on #53062
Or.. it's actually more similar to
`{ "key": "alt+f5",                "command": "workbench.action.editor.nextChange",`

There are so many commands related to the concept of "next change",  I'm actually a little confused myself 😅

[2018-08-14 20:21] r3wt opened #56399 "GIT Authentication failures with bitbucket"
will you please fix this shit already? for the last 2 weeks git push always prompts to enter password with a little bitbucket login prompt, this always fails with "HttpRequestException", then you have to enter the password into the terminal. It also occassionally pops up the prompt when you open a project. what gives? it seems like this issue just keeps coming and going with vscode.

[2018-08-14 20:21] waynebloss opened #56400 "Search and replace is no longer opening files and is just auto-saving them."
Previous versions of VSCode instead *opened* all of the files with replacements and adding this functionality without any way to disable it is a major bug IMO.

- VSCode Version: 1.26.0
- OS Version: Windows 10 Pro, v1803

Steps to Reproduce:

1. Do a global search and replace.
2. Files are saved automatically.
3. Observe all sorts of problems that I didn't previously encounter, such as Node.js ba

[2018-08-14 20:22] Mellbourn opened #56401 "complete documentation of all command line options"
I have added command line completion for `code` to zsh (in [this PR](https://github.com/zsh-users/zsh/pull/24)) (i.e. so that `tab` after `code -` does nice things in zsh)
Now i'm updating the completions (in [this PR](https://github.com/zsh-users/zsh/pull/27))

When looking at the VS Code source code ([here](https://github.com/Microsoft/vscode/blob/master/src/vs/platform/environment/node/argv.ts)

[2018-08-14 20:27] fny commented on #55416
That didn't fix anything. Also, it looks like text in an editing pane has the same issue.

<img width="807" alt="screen shot 2018-08-14 at 4 25 46 pm" src="https://user-images.githubusercontent.com/346068/44116523-c2dcfe6c-9fde-11e8-90b5-4a98e6ed70ea.png">

[2018-08-14 20:28] waynebloss commented on #56400
OK, sorry this is a duplicate of #49681

I didn't see it the first time I searched.

[2018-08-14 20:30] GandalfSaxe commented on #53062
Alright I have it figured out!

These two now have the default shortcuts:
[code]

The `compareEditor.nextChange` does the _exact_ same thing as `editor.nextChange`, just for diff editor instead of normal editor. So there's absolutely no reason not to overload the `alt+f3` and `shift+alt+f3` with the same functionality. So all we have to do is add:

[code]

[2018-08-14 20:30] GandalfSaxe commented on #55481
Solution found in #53062.

[2018-08-14 20:32] GandalfSaxe commented on #53062
Actually the `"when": "isInDiffEditor"` might strictly be unnecessary, but it's good to have there for clarity.

[2018-08-14 20:36] mikeduffy opened #56402 "Miscoloration caused by '?' at end of comment"
Issue Type: <b>Bug</b>

With extensions disabled, place the following three lines in a .ts file:
<pre>
  const a = 2 // tunable?
  console.log(`${a}`)
  const b = 3
</pre>
The third line will be miscolored by VS Code.  Adding a blank line after the first will correct the issue, as will removing the ${...} from the template string.

Here's an image of the problem: https://imgur.com/a/6wLJJv9

VS Co

[2018-08-14 20:40] Devan35 commented on #56260
I removed the C:\users path, same warning message, removed the /programs/ path, same thing, what am I missing?

[2018-08-14 20:40] GandalfSaxe commented on #53062
I'd contribute the above myself, but I have no idea where the default keybindings are in the source 😅

[2018-08-14 20:42] boyvinall commented on #56318
Thanks @jrieken.  Is it possible to change the ellipsis truncation so that it happens at the beginning/middle, not at at the end?

[2018-08-14 20:44] Bernd-L commented on #56395
Using the extension above, I was able to achieve this result seen below:

![image](https://user-images.githubusercontent.com/18219148/44116758-ab37725a-a011-11e8-9ada-3ee8119c840b.png)
![image](https://user-images.githubusercontent.com/18219148/44117083-8fb0a58c-a012-11e8-9f52-ad79dc298ea4.png)

Image credit: https://www.pinterest.at/pin/643592602970279030/
The two screenshots provided contain a p

[2018-08-14 20:47] gregg-miskelly commented on #55940
@weinand this doesn't sound like a C# extension issue. I am not sure if you have an idea for whatever other extension should be investigated. But to me it sounds like some sort of mysterious VS Code issue.

From what @CoenraadS said, the issue is that VS Code isn't deciding to bring the 'Debug Console' tab to the foreground and instead leaving the 'Terminal' tab up even though his configuration ha

[2018-08-14 21:00] fishpen0 commented on #2743
I would really just prefer vscode to look for a `.vscode` folder in my home directory and load settings from there if it exists.  This would let me decide what service I decide to sync it with and how that happens completely external from the application itself.  If I want to use git: I make .vscode a git repo, if I want to use dropbox: I can symlink it, etc...

Many editors support dotfiles from

[2018-08-14 21:00] talentedjerkkk23 opened #56403 "snippets extensions don't works on Insiders build 1.27"
### Environment
- VSCode Version: 1.27 Insiders
- OS Version: Windows 7 x64

### Steps to Reproduce:

1. Install VSCode 1.27 Insiders build
2. Install any snippets extension

### Expected Behavior
 auto-completion from the installed extension(-s)  should be shown on typing

### Actual Behavior
auto-completion from the installed extension(-s) are not shown. Only default IntelliSense completions  ar

[2018-08-14 21:09] misolori opened #56404 "Input fields with validation should not use color alone to show validation state"
Currently we only change the border color of the input field. This would cause an accessibility issue as screen readers aren't able to read style changes. We need to provide a way to show validation besides changing the color of an input field.

<img width="50%" src="https://user-images.githubusercontent.com/35271042/44118547-671131a6-9fcb-11e8-8c36-4b66a74befac.png">

[2018-08-14 21:12] BO41 commented on #56342
I have the same issue running the same specs.

But opening a folder from terminal works fine `code folder/`

[2018-08-14 21:15] natenorberg commented on #56387
The biggest problem for me was the vim extension. When the extension host went down it would leave me in command mode, but none of the commands would work.

Anyway, I installed the previous release and it auto-updated to 1.26.0 when i accidentally restarted Code. It seems to be working ok again.

[2018-08-14 21:29] kylebrandt commented on #53782
FWIW slight variation - I have 3x 2560x1600 monitors in a row and also get the lagging. Code is maximized to a single window, can type faster then the terminal can echo (and I don't type that fast :P ). `--no-gpu` / `dom` is ... maybe better? Still slow and cpu spikes with terminal usage. Other parts of the editor (text editor windows) are responsive.

Ubuntu 18.04:

[code]

I have also noticed th

[2018-08-14 21:31] GandalfSaxe commented on #2743
@fishpen0 How would that work for the portable version?

[2018-08-14 21:37] SeriousLemon opened #56405 "Typescript language server failed to start when switching OS user"
- VSCode Version: 1.26
- OS Version: Ubuntu 18.04

Steps to Reproduce:

1. Install 1.26
2. Switch user
3. Open typescript file in code
4. See error "typescript language server failed to start"

It works fine on the original account Code was installed on. Reverting to 1.25 fixes the issue.

Does this issue occur when all extensions are disabled?: Yes

![ss](https://user-images.githubusercontent.com

[2018-08-14 21:39] JacksonKearl commented on #56030
I am no longer able to repro this, a fix may have come in from somewhere else.

[2018-08-14 21:42] FrancisHogle opened #56406 "anchor-based selection"
I am trying to migrate from VSlick to VSCode, but am not able to duplicate some of the selection operations possible with the Brief-like editors that I've used for the past 30 years.

Notably, selection modes in Brief were "anchor-based."  When you initiated a selection mode (like line or column), it would record the current cursor position as an "anchor" position for the selection.  Then, as the

[2018-08-14 21:42] ramya-rao-a commented on #37620
fyi #1 is already possible. Use the `--show-versions` flag when using `--list-extensions`

[2018-08-14 21:48] tristan957 opened #56407 "Some text starts to randomly show on the recommended extensions tab"
- VSCode Version: 1.26
- OS Version: Windows 10 64-bit 1709

Some text starts to randomly show on the recommended extensions tab.

![image](https://user-images.githubusercontent.com/11936772/44120402-e153cc7e-9fe1-11e8-86b2-53b5eadea131.png)

*hard to reproduce*

Steps to Reproduce:

1. Scroll around in installed extensions
2. Move your mouse quickly between installed extensions

Does this issue o

[2018-08-14 21:49] amirhosseindavoody commented on #50249
The setting window does not fill the whole screen, and I think it should. But maybe it is just my opinion.

[2018-08-14 21:50] tristan957 commented on #56407
![image](https://user-images.githubusercontent.com/11936772/44120509-317cbad0-9fe2-11e8-96a1-70d76ceeb3bb.png)

[2018-08-14 21:52] tristan957 commented on #56407
I did not have to do anything except open VSCode and expand/shrink recommended tab

[2018-08-14 21:54] davidjdixon opened #56408 "quoting selection freezes app"
Issue Type: <b>Bug</b>

during some routine pasting of code into the editor (pasting a yaml structure into a python file), I was attempting to reformat the data to a python object... during which I do the normal "select key, press quote key" to wrap the keys in quotes.

After updating vscode to the latest release, and performing this change, the editor suddenly froze/crashed. I forced quit, tried

[2018-08-14 22:01] AmeliaBR opened #56409 "Line-wrapping broken when switching back from a Markdown file"
Issue Type: <b>Bug</b>

Since updating to version 1.26.0 today:

If I use Alt+Z (or the View>Toggle Wordwrap menu item) to turn on/off line wrapping in one file, then switch away to a Markdown file and back, the line-wrapping in the first file has reverted to my editor default settings.

The first file seems to still _think_ it has line wrapping turned on (or off, whichever was not my default): I

[2018-08-14 22:01] roblourens commented on #56404
It might not be really necessary in this case because the query won't be used unless the user focuses the input box and presses enter. And when the focus the input box, they will see the error message.

[2018-08-14 22:06] AmeliaBR opened #56410 "Warn when reloading VSCode if Issue Reporter is open"
Issue Type: <b>Feature Request</b>

When trying to isolate a bug, it is common to reload the application to see if a change (e.g., disabling an extension) has fixed things. But that currently discards any content that has been written in the Issue Reporter dialog!

A warning would be nice. Even better would be to save the content to a temporary file & re-open the issue reporter after reloading. Bu

[2018-08-14 22:07] r3wt opened #56411 "extreme lag for code completion"
Issue Type: <b>Bug</b>

vscode has become laggy during code completion. there is a noticeable delay before code completion shows up, and a noticeable delay before it dissappears. ITs very annoying. it also lags out and freezes for 3 seconds when selecting from the code completion list. nothing happens during this timespan.

the entire program has become increasingly laggy as a whole, this is just

[2018-08-14 22:09] PowerSnail commented on #56127
@sbatten

I understand your point about avoiding UI shift. However, I still believe the title bar should be hidden with the menu anyway.

When menu visibility is set to toggle, it probably means that the user (at least me) wants to hide the menu for the most of the time, and occasionally use it. If the user desires to see the menu often, he/she will probably just leave the menu visible. I cannot r

[2018-08-14 22:18] jtr109 commented on #56364
@ly-cultureiq Thanks for your references.

By the way, I think it isn't cause by the size of python file but syntax color rendering. Could you please have a try on the following code in a new `.py` file with python mode.

_By the way, remember to test it in a new workspace in case of crashing your own workspace._

[code]

[2018-08-14 22:32] eli-schwartz commented on #55934
There shouldn't be anything fancy involved, just

[code]

[2018-08-14 22:47] JacksonKearl commented on #55794
- [ ]  `string | null`: fix requires API discussion over adding an additional `emptyStringIsNull` schema parameter
- [x ]  `enum | null`: #56412 fixes
- [x ]  `number | null`: #56176 fixed
- [ ]  `boolean | null`: Probably wont fix? Would require some new components and UI/UX discussion.
- [x ]  `enum | boolean`: #56412 fixes

[2018-08-14 22:59] akbyrd commented on #56127
I think the behavior of the native menu is exactly correct and should not be changed. There are two separate concerns there though:

1) The native menu and custom menu should behave exactly the same way, whatever that happens to be. Currently the custom menu is completely unreachable in fullscreen with `window.menuBarVisibility` set to default. That's just broken. And inconsistent with the native

[2018-08-14 23:02] roblourens opened #56413 "Support "string | null" in settings editor?"
#55794 implemented some compound/nullable types. But `string | null` is hard because different settings handle null vs '' differently.

So to handle this in the new settings editor we would either need

- New UI to set a text input to `null`
- Or a schema property to mark `string | null` settings that treat `''` and `null` the same

[2018-08-14 23:02] sbatten commented on #56288
@yume-chan thanks for linking

[2018-08-14 23:02] #56288 closed

[2018-08-14 23:10] sbatten commented on #56127
Thank you @PowerSnail @akbyrd for your feedback. I definitely understand your points and have created the above PR to address the issue.

Another idea floating around was to bring back the old behavior, but instead of the UI shift, draw the menubar (while it is visible) on top of the rest of the UI. This would block the editor tabs and part of the sidebar for the short duration of using the menu,

[2018-08-14 23:11] ggondim commented on #38425
One workaround for me is using `nodemon` and specifying a specific env config for it. Example:

- package.json
[code]

- launch.json
[code]

[2018-08-14 23:23] roblourens opened #56415 "Add @ tag for 'new' settings"
Settings that are new in a release can have a tag indicating that they are new.

[2018-08-14 23:25] #56415 closed

[2018-08-14 23:26] sbatten commented on #53708
Closing this as it was resolved in 1.26, assigning to August to ensure it is verified again separately.

[2018-08-14 23:26] #53708 closed

[2018-08-14 23:35] sbatten commented on #56290
I believe this is a duplicate of https://github.com/Microsoft/vscode/issues/52537. It has been resolved in the latest insiders, though due to some refactoring, the localization of the menubar will need to be updated to show translation. If I am mistaken about this being a duplicate, please re-open and clarify.

[2018-08-14 23:35] #56290 closed

[2018-08-14 23:43] engmagdy87 opened #56416 "VScode doesn't detect jsconfig.json"
- VSCode Version: 1.26.0
- OS Version: Windows 10

Steps to Reproduce:

1. regenerate jsconfig.json on the level of src (react app)
2.

[code]

* the aliases doesn't appear in autocomplete menu

Does this issue occur when all extensions are disabled?: Yes/No
yes

[2018-08-14 23:43] roblourens opened #56417 "Setting links always reveal the first instance of the setting in the list, when there are multiple"
- Scroll down to the 'files' section, find 'autosaveDelay'
- Find the link to 'autoSave', click it
- The list scrolls up to the 'autoSave' in "Commonly Used"

Since there are lots of links in the Commonly Used settings, we should fix this, we have the technology.

[2018-08-14 23:48] akbyrd commented on #56127
I think drawing as an overlay is an acceptable middle ground. When using the menu I've never had any need to see the editor tabs, and the individual menus already obscure window content. However, that looks like a workaround for a different underlying issue.

I agree that the layout shift is annoying, but I find it annoying because it's so janky, not simply because it's happening. The extra frame

[2018-08-15 00:01] #55831 closed

[2018-08-15 00:01] #55873 closed

[2018-08-15 00:01] #55943 closed

[2018-08-15 00:01] #55962 closed

[2018-08-15 00:07] jaromero commented on #55934
@eli-schwartz For me that results in vscode opening its own `app` dir into a workspace, in addition to whichever file or folder I pass in, but it completely ignores any command-line switches I pass to it. At least it's usable though!

From casually looking at the `bin/code` script included, I'm guessing the actual `code` binary as well as `resources/app/out/cli.js` are meant to work together to ha

[2018-08-15 00:11] RonAndaya opened #56418 "Explorer Outline"
Issue Type: <b>Bug</b>

The Outline is not working anymore after the latest update. It is on 'Loading document symbols for...'

VS Code version: Code 1.26.0 (4e9361845dc28659923a300945f84731393e210d, 2018-08-13T16:29:31.933Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) CPU E5-2687W v4 @ 3.00GHz (24 x 2993)|
|GPU Sta

[2018-08-15 00:41] monkingame opened #56419 "Shortcut key for adding semicolon to line end quickly"
I write javascript with vsc.
Frequently I add semicolon to the end of line.
But sometimes it is not fast.
e.g. I need move mouse or tap end key or tap arrow key more times.
If a shortcut key(e.g. win [Ctrl+;]  or mac [Command+;] ) help users to add semicolon at the end of line immediately, it will improve efficiency.

[2018-08-15 00:44] robertorfischer commented on #56026
Setting `"editor.acceptSuggestionOnCommitCharacter": false` makes the suggestion no longer overwrite what I wrote.

There's a noticeable delay after typing the dot until the suggestions for console's members appear. I had enough time to capture the following screenshot. Note how "log" has already been typed, but "console" is still being suggested. Eventually, the suggestion box catches up with tex

[2018-08-15 00:45] demisx commented on #56317
Same here. After upgrading to 1.26.0 I see some bogus errors that have nothing to do with the code.

[2018-08-15 00:46] jadenPete opened #56420 "GTK File Opener Missing Icons"
- VSCode Version: 1.26.0
- OS Version: Arch Linux

Steps to Reproduce:

1. Click File -> Open Folder... [Ctrl+K Ctrl+O]

Does this issue occur when all extensions are disabled?: Yes
![screenshot from 2018-08-14 17-41-54](https://user-images.githubusercontent.com/13180372/44125893-e9ada9c8-9fe9-11e8-9ac6-76f6d164102a.png)

[2018-08-15 00:59] Ragnoroct commented on #56341
I've posted the same type of bug on their repo. This only happens with `git bash/msys`
https://github.com/Microsoft/vscode-python/issues/2391
They closed it saying come to you. Something about vscode not liking the configuration of the terminal.

[2018-08-15 01:13] KhurrumMahmood opened #56421 "About the new User Setup recommendation..."
Issue Type: <b>Not an actual bug</b>

The installer doesn't automatically want to install over my existing version, and wants me to uninstall it first.

Which raises the question of whether or not my plugins would be saved, especially if I install to a new directory. I assume not.

Of course, I could figure out how to port the settings, but there doesn't seem to be enough benefit to the reinstalla

[2018-08-15 01:40] roblourens commented on #55179
6f010b081e1fc4a99e5edd007f6c6ce8bdba0e84

[2018-08-15 01:41] Navis-Raven commented on #56166
Same thing on 1.26.0 the crash occurs randomly after few minuts of usage. But it's random, so it can crash or not.

I'm on windows 7

[2018-08-15 01:41] danderson00 opened #56422 "Javascript intellisense contains unrelated items"
Issue Type: <b>Bug</b>

Many common keywords produce unrelated intellisense suggestions that are inserted incorrectly. For example, typing "test(" inserts "TextTrackList()" at the current cursor position. This obviously completely breaks workflow. This exact problem can be replicated on multiple machines.

VS Code version: Code 1.25.1 (1dfc5e557209371715f655691b1235b6b26a06be, 2018-07-11T15:43:53.

[2018-08-15 01:42] CallMeR commented on #56309
1.In vscode and open a project folder.
2.Toggle to search，input some key words.
3.When Vscode output the result，it acts in the git blow.

![vscode](https://user-images.githubusercontent.com/11908641/44127289-3977da3e-a06f-11e8-923a-7d0221087297.gif)

Maybe it is relate to the file name  : )

[2018-08-15 01:56] greggman commented on #13960
There's multiple issues conflated here.

For example in my editor of choice I have virtual space off. But, my editor (like Visual Studio but unlike VSCode) has a column select mode. The column can go through virtual space and is an extremely powerful feature that I use many times a day and end up being frustrated having to tediously manually edit when in VSCode. (see gifs above).

Column editing s

[2018-08-15 01:59] Version2-1 commented on #10121
I have no idea how this can be so complicated. Countless other software have done this, are doing it and will continue doing it so I'm not entirely sure what is actually stopping them from implementing one of the most requested features.

Is it because no devs are currently enlisted to work on VSCode ? Is it not deemed worthy enough as VSCode cannot be monetized ?

I'm not entirely sure the "this

[2018-08-15 02:02] garthk commented on #55649
@reggiew2 I'm getting matching symptoms without `vscode-icons`.

[2018-08-15 02:05] bscipio opened #56423 "Open file under cursor"
**Feature Request**
built-in advanced "open file at cursor" or "open file under cursor"
functionality.  This functionality would make opening and editing various files from a reference in a original file very efficient.

Similar to the following:

1. Extension: Open file
 - https://marketplace.visualstudio.com/items?itemName=Fr43nk.seito-openfile
 - https://github.com/fr43nk/seito-openfile
 - Does

[2018-08-15 02:15] garthk commented on #52583
Is there a released fix or a known mitigation for `Extension host terminated unexpectedly. Code:  null  Signal:  SIGPIPE` in 1.26 on macOS?

[2018-08-15 02:26] jpresley commented on #53653
I have all of that working but I still can't run dotnet commands like dotnet new console without installing the CLI on the host machine. I have downloaded the CLI zip and have it on my drive but when I try to run the commands through the integrated terminal it errors stating that dotnet is not a cmdlet function etc. How do I get the integrated terminal or VS code or OmniSharp or whatever to look a

[2018-08-15 02:33] fishpen0 commented on #2743
If there is a `.vscode` directory in the same path as the executable, load that with the highest preference.

[2018-08-15 02:39] sunshine001 opened #56424 "VSCode print error when running"
[10:31:18] Error: E:/work/electron/vscode/extensions/css-language-features/server/src/pathCompletion.ts(111,18): Argument of type 'string
| undefined' is not assignable to parameter of type 'string'.
  Type 'undefined' is not assignable to type 'string'.
[10:31:18] Error: E:/work/electron/vscode/extensions/html-language-features/server/src/modes/pathCompletion.ts(74,18): Argument of type 'string |

[2018-08-15 02:44] CS4Fly opened #56425 "Terminal output not support Chinnese encoding"
Issue Type: <b>Bug</b>

In Visual Studio Code editor , Chinese display normal , but display abnormal in Terminal.
I use other IDE could dispaly Chinese normal in terminal.

VS Code version: Code 1.26.0 (4e9361845dc28659923a300945f84731393e210d, 2018-08-13T16:29:31.933Z)
OS version: Windows_NT x64 6.1.7601

<details>
![2333](https://user-images.githubusercontent.com/35210507/44128805-7975a1ea-a077-

[2018-08-15 02:51] ramya-rao-a commented on #56166
@Navis-Raven If you see VS Code being unresponsive, please run `code --status` and share the results. If its a complete crash, please follow https://github.com/Microsoft/vscode/wiki/Native-Crash-Issues and log a separate issue

[2018-08-15 02:56] iann0036 opened #56426 "no provider for file:///... when moving file from FileSystemProvider to local"
When moving a file from a workspace folder provided by a custom FileSystemProvider to a local folder, I get `no provider for file:///<fslocation>/file.txt`

Should we be providing an additional FileSystemProvider to serve file:// transfers (probably using the WorkspaceEdit actions)?

- VSCode Version: 1.26.0
- OS Version: Darwin

Steps to Reproduce:

1. Install MemFS sample extension
2. Populate t

[2018-08-15 02:57] iann0036 commented on #56426
Possibly related to https://github.com/Microsoft/vscode/issues/48034

[2018-08-15 02:58] zingdle opened #56427 "White toolbar after upgrading to 1.26.0"
- VSCode Version: 1.26.0
- OS Version: Ubuntu 16.04 with GNOME 3.18.5

![screenshot from 2018-08-15 10-54-01](https://user-images.githubusercontent.com/31171119/44129169-9e28850a-a079-11e8-8b0d-9358fe8ef7be.png)

I upgraded from 1.25.X to 1.26.0. Is this a new feature or something else? I don't think it matches the dark theme though.

Does this issue occur when all extensions are disabled?: Yes

|

[2018-08-15 03:13] wszgrcy opened #56428 "code hint in 1.26 can't continue"
Issue Type: <b>Bug</b>

when I input some code and then display hint,when I tab select,and continue input ,the hint can't display,I must move right or left and then input that hint can display.
It's only on 1.26(both insider and release),I use on 1.25 is ok

VS Code version: Code 1.26.0 (4e9361845dc28659923a300945f84731393e210d, 2018-08-13T16:29:31.933Z)
OS version: Windows_NT x64 10.0.17134

<det

[2018-08-15 03:52] hhu94 commented on #55946
@V-ed I think something like this could work right?

[code]

Apply the toggling of line / block comments in the specific ranges specified by the snippet.

[2018-08-15 04:02] eahydra commented on #56387
met the same

[2018-08-15 04:02] Mibz opened #56430 "VS Code Hangs When Opening Specific PowerShell File"
Issue Type: <b>Bug</b>

I am experiencing a problem with VS Code hanging when opening a specific PowerShell file. I think the problem is with the Powershell Language Basics extension, not the Powershell extension, which is why I'm posting here.

When opening the specific script VS Code will hang and eventually I'll receive a prompt saying "The window is no longer responding" and I'm given the opti

[2018-08-15 04:13] MinHongwei opened #56431 "rg.exe占内存直接100%"
所需的数据太大，无法直接发送。我们已经将其写入剪贴板，请粘贴。
Issue Type: <b>Performance Issue</b>

更新新版本 打开vscode 内存占用 直接慢慢变成100%，删除rg.exe后恢复正常。

VS Code version: Code 1.26.0 (4e9361845dc28659923a300945f84731393e210d, 2018-08-13T16:29:31.933Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7500U CPU @ 2.70GHz (4 x 2904)|
|GPU Status|2d_canvas:

[2018-08-15 04:17] roblourens opened #56432 "Can't open two settings editors"
- Open new settings editor
- Split the editor, open a second one
- `Error: ModelService: Cannot add model because it already exists!` for `settingseditor:searchinput`

[2018-08-15 04:32] zzarcon commented on #55649
I can confirm I'm having the same issue since the 1.26.0 update. I disabled all my extensions and CPU still goes above 600%

[2018-08-15 04:32] hhu94 commented on #55692
I'm fairly sure that it's just that the width of your extensions panel went below the minimum width required for the `Update to 0.18.19` button + _Disabled_ to show up.

If you make your extensions panel just a bit wider it should show up as normal. You'll also notice that if you make your panel even narrower, the buttons for the other outdated extensions will start disappearing as well.

See belo

[2018-08-15 04:35] Jovani17 commented on #53588
Modify User Settings in VS Code (File -> Preferences -> User Settings) and add the following within the settings.json pane:

"terminal.integrated.shell.windows": "C:\\WINDOWS\\sysnative\\bash.exe",
 "terminal.integrated.shell.windows": "bash.exe",

[2018-08-15 04:36] gdh1995 commented on #56431
我昨天台式机和笔记本各遇到了一次rg.exe的cpu占用率到了100%，台式机的rg被我kill了，笔记本跑了十几秒后rg.exe自己退出了，好像是刚打开工程文件夹时扫描所有文件的问题。之后我没怎么继续用笔记本，不知道会不会再次遇到。

[2018-08-15 04:37] V-ed commented on #55946
@hhu94 Oh, I think I misunderstood you at first then, you mean to add to my idea of using cased `c` and `C`, but when toggling line / block comments using VSCode's already existing command, the command would be applied to all of the ranges in the snippet?

(using the snippet you sent as example) :
at first you would get
[code]

and then, after using the toggle comments action from vscode, it would

[2018-08-15 04:38] roblourens commented on #55649
Please try this

- Search `@builtin` in the extension viewlet
- Under the "Features" section find the "Typescript and JavaScript Language Features" extension
- Disable it

[2018-08-15 04:44] zzarcon commented on #55649
Thanks @roblourens. Disabling the **TypeScript and JavaScript Language Features** extension does the trick.

Is there any other workaround we can use currently in order to override the **workspaceContains** prop of the extension?

Disabling the **TypeScript and JavaScript Language Features** extension removes a lot of value from VScode 💔.

Thanks for the solution in the meantime!

[2018-08-15 04:46] hhu94 commented on #55946
@V-ed I think there might have been some confusion by I meant by toggling. What I meant by toggling line / block comments is these two actions that vscode already supports.

![toggling](https://user-images.githubusercontent.com/7145349/44131942-0f509fa2-a00b-11e8-91e5-ade1c2c3711d.gif)

My idea was that we could use this functionality to implement how `${C:...}` and `${c:...}` would turn normal te

[2018-08-15 04:49] Oblomoff opened #56433 "Opened files are not searched until file tab is clicked"
Issue Type: <b>Bug</b>

1. Open new empty VSCode window.
2. Drag some files to the window with mouse. Do not open a folder.
3. Press Ctrl+Shift+F. Try to search something. Only file in active tab is searched.
4. Click some other tabs. After a tab is clicked a file in it gets searchable.

VS Code version: Code 1.26.0 (4e9361845dc28659923a300945f84731393e210d, 2018-08-13T16:29:31.933Z)
OS version: W

[2018-08-15 04:51] bpasero commented on #55416
@fny can you update to our latest stable release (1.26) and try again?

[2018-08-15 04:53] bpasero commented on #56342
@Enindu @BO41 and I assume you cannot reproduce when you try with our previous 1.25 release? Download a ZIP from [here](https://az764295.vo.msecnd.net/stable/1dfc5e557209371715f655691b1235b6b26a06be/code-stable-code_1.25.1-1531323788_amd64.tar.gz).

[2018-08-15 04:54] jashobantac commented on #56260
Did you try restarting the machine? The changes don't appear until you restart the machine.

[2018-08-15 04:54] bpasero commented on #52583
@garthk you should file an issue about that, it seems unrelated to the fix here.

[2018-08-15 04:57] JeanmarkD opened #56434 "Font is not looking crisp but blurry"
Issue Type: <b>Bug</b>

更新完之后字体和界面容易出现模糊

VS Code version: Code 1.26.0 (4e9361845dc28659923a300945f84731393e210d, 2018-08-13T16:29:31.933Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz (8 x 2808)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: enabled<br>flash_st

[2018-08-15 05:00] #56395 closed

[2018-08-15 05:00] tuhinkarmakar commented on #53894
@mjbvz Just upgraded to VS Code 1.26. When using TypeScript 3.0.1, I'm not getting quick fixes for missing imports. If I switch back to TypeScript 2.9.2 (which Angular is using), I'm getting the quick fixes but the expansion issue remains.

[2018-08-15 05:01] bpasero commented on #56420
@jadenPete how did this look like in our [previous release](https://az764295.vo.msecnd.net/stable/207ace21dfec3dccab52f1296a3880ac7644c978/code-stable-1533947775.tar.gz)?

[2018-08-15 05:01] bpasero commented on #56427
@zingdle how did this look like in our [previous release](https://az764295.vo.msecnd.net/stable/207ace21dfec3dccab52f1296a3880ac7644c978/code-stable-1533947775.tar.gz)?

[2018-08-15 05:01] V-ed commented on #55946
@hhu94 Oh, I was completely off track with what I had understood wasn't I :) you were even very clear in your first comment, I saw it from the wrong eye and confused myself more than anything...

Yes, it would be interesting to leverage that functionality like you say, and pretty much all of my questions from https://github.com/Microsoft/vscode/issues/55946#issuecomment-411176961 would be answered

[2018-08-15 05:02] bpasero commented on #56390
Marking as duplicate of https://github.com/Microsoft/vscode/issues/51576

@recursionbane can you give a newer build a try that is using Electron 3.0.x: https://az764295.vo.msecnd.net/exploration/e6caa88a0261e72c41c76ab2ff454b8763a19f73/VSCode-win32-x64-1.27.0-exploration.zip

[2018-08-15 05:02] #56390 closed

[2018-08-15 05:05] Oblomoff commented on #56433
@bpasero Hmm. This is not feature request. Previous VSCode version worked fine.

[2018-08-15 05:13] zingdle commented on #56427
@bpasero It looks like this before
![](https://fedoramagazine.org/wp-content/uploads/2017/10/vsc-openfolder-1024x615.png)
The toolbar color matches well.

[2018-08-15 05:13] mexbo opened #56435 "找不到任务“g++”"
MinGW安装好了，环境变量也配置好了
按F5运行的时候就报错了找不到任务“g++”
launch.json文件：
[code]
Task文件：
[code]

[2018-08-15 05:14] bpasero commented on #56433
@Oblomoff in which version did it work for you?

[2018-08-15 05:14] hhu94 commented on #55205
I'll try to write a reasonable small PR for this :)

[2018-08-15 05:15] bpasero commented on #56433
Yeah I take it back, this should actually work.

@roblourens can you please check, we used to have code that would add any file that is opened which is not part of the workspace as additional files to search in. I can reproduce that the files that are not opened (aka not in memory) are no longer searched in.

[2018-08-15 05:28] netjune commented on #56434
Same here on Linux x86_64. Font is not as clear as the last version.

[2018-08-15 05:30] faahim commented on #51917
The last update to the AUR package fixed the issue with the Segmentation fault. It launches and works fine. But now when I try to open a project by clicking File > Open Folder, the app crashes.

I can open the folder by running `code .` in my project directory just fine though.

[2018-08-15 05:32] netjune commented on #56431
开发人员能看懂中文吗? 什么时候会运行rg.exe? 跟插件有关? 还是VS Code部分功能依赖rg.exe?

[2018-08-15 05:35] roblourens commented on #56433
Looks like this only affects open windows, and files that aren't loaded, but it is a regression.

[2018-08-15 05:35] angi- commented on #56317
I’m experiencing the exact same issue as @FranklinWhale with C#

[2018-08-15 05:40] sanjcho commented on #56387
met the same, in my case disabling vscode-flow-ide extention made all working ok.

[2018-08-15 05:40] fruitstealer opened #56436 "Eka Kurniawan"
Issue Type: <b>Bug</b>

Cant change Version Control from git to svn

VS Code version: Code 1.26.0 (4e9361845dc28659923a300945f84731393e210d, 2018-08-13T16:29:31.933Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4720HQ CPU @ 2.60GHz (8 x 2594)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>fl

[2018-08-15 05:41] zingdle commented on #56427
@bpasero The configuration works, but with a slightly different toolbar. Hope this can be fixed later : -)

I tried the latest builds and the white background is still there.

[2018-08-15 05:44] bpasero commented on #51917
@faahim sounds like https://github.com/Microsoft/vscode/issues/56342#issuecomment-413093895

[2018-08-15 05:45] netjune opened #56437 "Need two buttons (1: Go Back 2: Go Forward)"
I like navigating code with mouse. I can go to definiton or go to declaration or switch file with mouse easily, but going back is not convenient with mouse(I need to MOVE mouse to the "Go" menu and then select the menu item).

Since they are so commonly used, can you make them convenient to use with mouse? (such as adding two buttons to somewhere or adding two menu items in the context menu)

[2018-08-15 05:45] bpasero commented on #56427
@zingdle is the menu looking white in other apps too for you? maybe there is a setting in the OS to change this?

[2018-08-15 05:52] zingdle commented on #56427
@bpasero The toolbar on other apps looks fine on my machine, though I don't know whether it's GTK 3 or 2.

[2018-08-15 05:52] microcoder commented on #56427
@zingdle You can also select GTK3 theme in a Application Style menu of KDE:
![kde_select_app_style](https://user-images.githubusercontent.com/2853555/44133152-e47d7cbc-a066-11e8-8cc5-0e9563849cf4.PNG)

But then the standard controls in the firefox are switched to dark mode :(
![firefox_controls](https://user-images.githubusercontent.com/2853555/44133452-81b896e6-a068-11e8-8dd2-90892c210caa.PNG)

[2018-08-15 05:53] prateekrajgautam opened #56439 "Save Proxy Authentication"
Issue Type: <b>Bug</b>

Please add option to save proxy authentication

VS Code version: Code 1.26.0 (4e9361845dc28659923a300945f84731393e210d, 2018-08-13T16:29:31.933Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3337U CPU @ 1.80GHz (4 x 1796)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>

[2018-08-15 05:59] Devan35 commented on #56260
@jashobantac ok will try again, this time restarting my machine. thanks

[2018-08-15 05:59] saurabhpati opened #56440 "Highlight parent folder when creating a new file."
Feature:
I would really like if the folder in which a new file I am creating could be highlighted so that I know where that new file is going to land.

Problem: I create a lot of new files for a bunch of different side projects that I work on and I am sure there are many like me who like to work on side projects which involve creating a lot of files. I find it difficult if I have focused in on a f

[2018-08-15 06:07] Devan35 commented on #56260
@jashobantac I just removed the users/ path, restarted my machine, same thing. only thing I can do is to select the option to not display the message anymore.

[2018-08-15 06:42] jrieken commented on #56318
Tricky... Currently, it's the browser adding those, not us.

[2018-08-15 06:43] scienmind commented on #56260
The message is also constantly pops up if having User Level install + Portable install (which is also user level).

The message content and/or it's display conditions definitely should be improved.

[2018-08-15 06:56] faahim commented on #51917
Oh yeah! I'll follow that one. Thanks a ton @bpasero :slightly_smiling_face:

[2018-08-15 06:58] #56435 closed

[2018-08-15 07:16] antcodd commented on #56318
The current popup width is definitely far too narrow for descriptive function names in various languages. The above examples would be some of the shorter names in a non object-oriented non-overloading language like C that I work with.

Why not make the popup the same width as one of:
* the completion popup (preferably the wider version when the information panel isn't open). Perhaps it would be po

[2018-08-15 07:16] njkevlani commented on #56024
Didn't know this till now, good to know :) I'll look into it, put my suggestion/questions and will open PR soon!

[2018-08-15 07:26] Enindu commented on #56342
@bpasero
Nope. 1.25 working just fine for me. I found this on `code --verbose` command.
[code]
Looks like the problem is related to glibc. [Here](https://aur.archlinux.org/packages/visual-studio-code-bin/) you can see almost all Arch users affected this issue.

[2018-08-15 07:31] lllopo commented on #56365
@nealot Yeah, I'm not saying it is all good. This is how I adjusted it to my liking. The adjustments like the menu borders, offset etc. are matter of personal taste, of course, and I'm not pretending to be the best possible. Many things are fixes, though. Most notably the adjusted vertical alignment of the tabs and breadcrumbs, which is really irritating in the original. So, whatever of the list i

[2018-08-15 07:37] isidorn commented on #56364
@ly-cultureiq @jtr109 please file that against the python extension
@kabforks can you also reproduce this if you open an empty vscode window? Or you only see it if you open a C# project? Do you also see the freeze if you disable the c# extension?

[2018-08-15 07:47] samuelmaier opened #56442 "Breadcrumb file path starting at the workspace root"
In the moment there are three options to choose from: on, off and last.
It would be great to have a fourth option to show all directories of the the file path starting from the workspace root.

[2018-08-15 07:47] bpasero opened #56443 "Breakpoints List: Error: Can't run recursive splices."
Steps to Reproduce:

1. click the "+" to add a function breakpoint in the view
2. click into the editor to add a breakpoint

[code]

[2018-08-15 07:49] thyxsl opened #56444 "Can' t save file"
Issue Type: <b>Bug</b>

if i  click the save button  or use ctrl +s  ,the code is  forced exit,
i don't know how to solve it

VS Code version: Code 1.26.0 (4e9361845dc28659923a300945f84731393e210d, 2018-08-13T16:25:59.521Z)
OS version: Linux x64 4.17.14-arch1-1-ARCH

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-5500U CPU @ 2.40GHz (4 x 2296)|
|GPU Sta

[2018-08-15 07:49] dbaeumer commented on #7758
With the removal of stdFork and electronFork in LSP we will only have the once from the shared and renderer.

@vphantom how are the files named.

[2018-08-15 07:51] jpenna opened #56445 ""window.titleBarStyle": "custom" Menus with missing symbols"
- VSCode Version: 1.26.0
- OS Version: Linux Debian 9 (Gnome 3.22.2)

Steps to Reproduce:
1. Set  "window.titleBarStyle": "custom"
2. Open any menu

Does this issue occur when all extensions are disabled?: Yes

There is a symbol after each line in the menu context and the arrow ( > ) are poorly rendered
![screenshot from 2018-08-15 15-34-13](https://user-images.githubusercontent.com/16005946/44137

[2018-08-15 07:51] samuelmaier opened #56446 "Breadcrumb open folders"
In the dropdown list of the bredcrumb you can only open files. It would be great if there would be a context menu, giving the option to open a folder in a new editor or in the same workspace.

[2018-08-15 07:55] isidorn commented on #56316
This works for me in latest stable and latest vscode insiders on os x
Please let me know what you are doing differently than me

![compare](https://user-images.githubusercontent.com/1926584/44137606-4d1ff484-a071-11e8-93e2-4c57c1931810.gif)

[2018-08-15 07:57] miyoosan opened #56447 "Vscode cannot be opened after today's update(China, Windows7 ,64bit)"
- VSCode Version:latest version2018年8月15日15:54:37
- OS Version:

Steps to Reproduce:

1.update Vscode
2.when updated, open Vscode

Does this issue occur when all extensions are disabled?: no any extensions

I just update my Vscode, but after updated, it doesn't work. And it's process dosen't exist in TaksManagement

[2018-08-15 07:57] dbaeumer commented on #55964
@eamodio if I understand this correctly these problems aren't TypeScript problem. So they shouldn't use `typescript` as the owner.

Can you provide me with a GitHub repository I can clone that demos this?

[2018-08-15 08:05] miyoosan commented on #56447
Re-install cannot fix any problems;
Clear register and disk do nothing help;
Even, --rm Code file folder in Roaming has no effect for Vscode of latest versions; but for old version's, it works;

[2018-08-15 08:07] t7yang commented on #56403
same here

[2018-08-15 08:12] miyoosan commented on #56447
Is there anyone here?
I download the .zip 1.26version，it can works; but I don't know when next version comes updated, it will weather work or not;
Please help me. Thanks

[2018-08-15 08:14] dbaeumer commented on #55420
@joaomoreno i thought under Windows we install into a new directory and then swap them. So there shouldn't be any old files. Right? (unless the unzip the archive over the same location)

[2018-08-15 08:28] d8elessar commented on #56321
Sorry about that, the example wasn't clear.
Here are some more details:
In a single JS file, with multiple functions, VerifyAddressConfig is used like a global variable, being assigned in the DynamicSearchFormPM.prototype.Init, and then tested on the OnFieldChange function:

function () {
	AppFacade.DynamicSearchFormPM = (function () {
		var VerifyAddressConfig = {};
		var VerifyAddressTemplate =

[2018-08-15 08:31] bpasero commented on #55857
@misolori also looks like we need to take care of this guy:

![image](https://user-images.githubusercontent.com/900690/44139122-6e8d56a2-a076-11e8-99dc-9d88813e0c28.png)

[2018-08-15 08:32] ZVER3D opened #56448 "Every time I open vscode - it creates 10k+ instances of gitbash"
- VSCode Version: 1.26
- OS Version: Windows 10 Pro 1709 x64

Steps to Reproduce:

1. Open VSCode
2. Wait 5 Seconds
3. See 5k+ instances of vscode in task manager

Does this issue occur when all extensions are disabled?: Yes

Yesterday i updated my vscode to version 1.26, created a few changes to my project, turned off my PC and went to sleep. Today, every single time I open vscode it produces git

[2018-08-15 08:41] wuwei8 opened #56449 "vetur一直提示正在安装"
所需的数据太大，无法直接发送。我们已经将其写入剪贴板，请粘贴。

[2018-08-15 08:41] weinand opened #56450 "Loaded Script view: two leading slashes"
- EH debugging in the latest:

![2018-08-15_10-34-15](https://user-images.githubusercontent.com/1898161/44139513-9b56c104-a077-11e8-9024-efe797f1401a.png)

[2018-08-15 08:41] wuwei8 opened #56451 "vetur一直提示正在安装"
所需的数据太大，无法直接发送。我们已经将其写入剪贴板，请粘贴。

[2018-08-15 08:41] wuwei8 opened #56452 "vetur一直提示正在安装"
所需的数据太大，无法直接发送。我们已经将其写入剪贴板，请粘贴。

[2018-08-15 08:44] sandy081 commented on #56452
Can you please provide the issue summary and description in English.

@octref I guess this issue is for vuejs extension?

[2018-08-15 08:45] sandy081 commented on #56451
Can you please provide the issue summary and description in English.

@octref I guess this issue is for vuejs extension?

[2018-08-15 08:45] sandy081 commented on #56449
Can you please provide the issue summary and description in English.

@octref I guess this issue is for vuejs extension?

[2018-08-15 08:49] mihe commented on #56371
Related to #56317 by the looks of it.

[2018-08-15 08:54] sandy081 commented on #56447
Can you please try opening VS Code from cli with `--verbose` option and check if you see any errors printed?

Also try pointing to a different user data directory using `--user-data-dir` option

[2018-08-15 08:56] fatfatson commented on #33284
use tortisegit's key agent for gitbash:

[2018-08-15 08:56] kingsNow opened #56453 ".wxml file can't show comments correctly."
Issue Type: <b>Bug</b>

v1.25 is okey !
In v1.26 .wxml file Cannot display comments correctly!

VS Code version: Code 1.25.1 (1dfc5e557209371715f655691b1235b6b26a06be, 2018-07-11T15:33:29.235Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz (4 x 2700)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled

[2018-08-15 08:56] Vuchan opened #56454 "Can optimize `searchService`? And what `searchService` is?"
It used `99%` of CPU.

[code]

Anyone knows how to resolve this problem?

Thanks.

[2018-08-15 08:57] kingsNow commented on #56453
I rolled back version. Thanks!

[2018-08-15 08:57] proudlily commented on #56306
@bpasero thanks. i am doing the project now.so may have  no time to deal it .but when i have time ,i will do it .actually,it will takes me some time.:-)

[2018-08-15 09:04] Eventyret commented on #56403
To confirm, I have the same here, tested my own plugin and other snippets plugins.

[2018-08-15 09:06] sandy081 commented on #56453
@kingsNow Can you please show the screenshot of what is not getting displayed correctly?

[2018-08-15 09:06] lebalz commented on #56387
same issue here, the ruby-extension is the killer in my case...

[2018-08-15 09:08] sandy081 commented on #56439
Duplicate of #44041

[2018-08-15 09:08] #56439 closed

[2018-08-15 09:09] #56450 closed

[2018-08-15 09:09] Jorundur commented on #56387
@sanjcho Same for me, disabling `vscode-flow-ide` seems to fix things. I uninstalled it and installed `Flow Language Support` instead.

[2018-08-15 09:09] bpasero commented on #56342
@Enindu how does it look like with a VSCode build that is using Electron 3.0.x: https://az764295.vo.msecnd.net/exploration/e6caa88a0261e72c41c76ab2ff454b8763a19f73/code-exploration-1534224413.tar.gz

[2018-08-15 09:10] szukai commented on #55840
Getting this either randomly whenever VS code decides to update OR whenever I decide to manually check for updates.

It does get horribly confusing.

----

Version: 1.26.0
Commit: 4e9361845dc28659923a300945f84731393e210d
Date: 2018-08-13T16:29:31.933Z
Electron: 2.0.5
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

[2018-08-15 09:11] bpasero commented on #56306
@proudlily let's move this into https://github.com/Microsoft/vscode/issues/55934 I am sure its the same underlying issue.

[2018-08-15 09:11] #56306 closed

[2018-08-15 09:11] sandy081 commented on #56434
@JeanmarkD Can you please provide the issue summary and description in English. Also screenshots would be helpful.

[2018-08-15 09:11] sandy081 commented on #56431
@JeanmarkD Can you please provide the issue summary and description in English. Also screenshots would be helpful.

[2018-08-15 09:12] alexfung888 commented on #56260
control panel says two VSCode are installed. One has a suffix (User). I think I was supposed to uninstall one of them. Now that I talk about it, it seems VSCode suggested me to uninstall before installing. However, I don' know which one to uninstall now.

[2018-08-15 09:14] bpasero commented on #56444
@thyxsl is that for an untitled file that would open a file dialog?

[2018-08-15 09:17] sandy081 commented on #56428
Can you please provide a video(gif) of the issue you see?

[2018-08-15 09:18] sunlmxx opened #56455 "view in browser 扩展问题"
更新了新版版后view in browser 扩展出错，无法使用

[2018-08-15 09:25] sandy081 commented on #56419
Duplicate of #24862

[2018-08-15 09:25] dbaeumer commented on #32467
@BobFrankston can you reproduce this if you disable all extensions (e.g. start with `--disable-extensions`)

[2018-08-15 09:25] #56419 closed

[2018-08-15 09:26] Enindu commented on #56342
@bpasero
It's working fine with Electron 3.0.x

[2018-08-15 09:28] planetrocky commented on #12453
+1

[2018-08-15 09:29] MastaCoder commented on #55070
Don't know if this is related, but it's not only Code Helper that does this. I've also experienced Chrome's helper spike up to 95 - 100% CPU usage sometimes when refreshing the project I am working on.

[2018-08-15 09:32] jrieken commented on #56411
How about telling me in what language that happens?

[2018-08-15 09:34] jrieken commented on #56418
How about telling me in what language that happens? This is likely an issue with the extension host being overly busy. Please use this guide to provide more information: https://github.com/Microsoft/vscode/wiki/Performance-Issues. Thanks.

[2018-08-15 09:35] illusive-man commented on #54261
@JourdanClark , sorry to disappoint you, but that does nothing at all in my case! As if VS Code just ignores those settings! That stubborn & stupid error is still there ((.

But thanks for interesting point about experimental decorators. Got rid of some errors in other files.

[2018-08-15 09:35] jrieken commented on #56442
That's what is does. All paths of files that are contained in the current folder or workspace are shown relative to that. Not really sure what you want then.

[2018-08-15 09:36] jrieken commented on #56426
What kind of file are you dragging? Is it a text file or a binary file?

[2018-08-15 09:36] rvanmaanen commented on #56317
Same issue here

[2018-08-15 09:38] dbaeumer commented on #55560
@mjbvz thanks for looking into this.

[2018-08-15 09:38] #55205 closed

[2018-08-15 09:39] jrieken commented on #56426
nevermind, I can reproduce

[2018-08-15 09:39] bpasero commented on #55205
@xconverge landed, thanks to @hhu94

[2018-08-15 09:39] Undistraction commented on #56061
It's working fine now after another restart. Thanks for your help.

[2018-08-15 09:40] jrieken commented on #56426
Closing this as a dupe of #41543. Internally, the file-scheme handling isn't really fit for interacting with data from file system providers.

[2018-08-15 09:40] jrieken commented on #56426
/duplicate of #41543

[2018-08-15 09:40] #56426 closed

[2018-08-15 09:42] jrieken commented on #41543
This also prevents copying data from a 'remote' file onto the local disk

[2018-08-15 09:43] sandy081 commented on #56407
@tristan957 Sorry, I cannot reproduce it with the steps you provided.

Is there another way to reproduce it consistently?

[2018-08-15 09:44] KingDGrizzle opened #56456 "Opening settings while having the tiny find box open will cause it to error."
Issue Type: <b>Bug</b>

Have a split screen layout of tabs (in halves, I have 2 tabs on the left and 2 on the right)
Press CTRL + F in the first file from the right side of the screen.
Go to File -> Preferences -> Settings

Two errors can occur:

- ModelService: Cannot add model because it already exists!
- Cannot read property 'focus' of undefined IF you do the same steps in another file that's o

[2018-08-15 09:45] jrieken opened #56457 "Duplicated monaco compile checks"
https://github.com/Microsoft/vscode/commit/baf6fbc777fcf344e3c6876db83be2f28018bfda duplicated the monaco editor compile check. There is now `monaco-compile-check` and `check-monaco-editor-compilation`. Both are referenced by the build configs.

[2018-08-15 09:47] sandy081 commented on #56403
I assume this is caused by the changes in https://github.com/Microsoft/vscode/blob/master/src/vs/base/common/resources.ts#L90

[2018-08-15 09:52] sandy081 commented on #56397
Can you please explain why do you want to do it and when?

[2018-08-15 09:53] BruceAn1978 opened #56458 "VS Code Insiders can not upgrade!"
version: VS Code Insiders 1.27.0
os: Win 10 x64
issue: It downloaded upgrade package successfullly and ask me to restart to finish upgrade, but js errors dialog was displayed.

![image](https://user-images.githubusercontent.com/39219907/44142801-f9dd6ba6-a0b3-11e8-83b6-2450203c50da.png)
![image](https://user-images.githubusercontent.com/39219907/44142826-102f0c48-a0b4-11e8-8943-d2694bb1474b.png)

[2018-08-15 09:57] Levertion commented on #46322
This appears to have been started in:

Microsoft/vscode-json-languageservice#24.

which was merged in 8229aed327630e8aa3c2f6ac84cdae0ee1fd1d2d. I don't know what other features were added.

[2018-08-15 09:58] fdg-org commented on #55953
Another part where underscores are invisible is the auto-complete suggestions box:
![screenshot from 2018-08-15 11-48-46](https://user-images.githubusercontent.com/11015449/44142790-a0119778-a081-11e8-9cfa-78b4b2d826bf.png)

Interestingly the underscore is visible in the blue highlighted part.

[2018-08-15 10:00] sandy081 commented on #56388
Closing this in favour of the new settings editor.

[2018-08-15 10:03] jrieken commented on #56403
Yeah, the problem is that `resource#joinPath` normalises the windows drive letter. Then it used that to create a new URI. Later, we use `uri.path.indexOf` which is questionable but seems to have worked before.

@aeschli Never use `fsPath` ;-) I see two fixed here.

1. `joinPath` function shouldn't have the casing of paths. don't use `fsPath` but build your own equivalent without case changing
2. u

[2018-08-15 10:03] Aaronmcd1978 opened #56459 "Azure sign in"
I can not sign in to Azure in Visual Studio Code

[2018-08-15 10:08] dbaeumer commented on #54640
I am not able to reproduce this either in an LSP setup using the following code to return a hover.

[code]

The Hover response is like this:
[code]

and the 'Loading' disappears correctly.

You could debug the LSP client code and see if there is something going wrong when converting the Hover result. The code is here: [Trace - 12:05:14 PM] Received response 'textDocument/hover - (20)' in 922ms.

[2018-08-15 10:13] dbaeumer commented on #56217
@markwilson can you provide us with a GitHub repository that we can clone that demos this. As @Tyriar pointed out these should be terminated.

[2018-08-15 10:13] thesby opened #56460 "Python string like r'.\xxx.jpg' causes editor rendering error color."
Issue Type: <b>Bug</b>

path = r'.\023455.jpg'

input the code into your editor, you will find that the color '023' is error, seeming that no 'r'.

VS Code version: Code 1.26.0 (4e9361845dc28659923a300945f84731393e210d, 2018-08-13T16:29:31.933Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-4030U CPU @ 1.90GHz (4 x

[2018-08-15 10:14] jrieken commented on #56379
It used the normal list commands, e.g this is how you configure `cmd+p` to move focus up

[code]

[2018-08-15 10:14] #56379 closed

[2018-08-15 10:15] #56069 closed

[2018-08-15 10:15] isidorn commented on #56069
The issue was that we were matching on the end of the title element for the stack frame name.
However the end was in some cases "readonly content from node", thus I changed the selector to match a substring on the whole title, instead only looking at the end.
fyi @roblourens

[2018-08-15 10:17] yuyuxp opened #56461 "Terminal display ,some text is cut when resize window"
- VSCode Version: 1.26.0
- OS Version:Windows 8.1

Steps to Reproduce:

1.I use max size of vscode window ,  then I run the code , the terminal is output some log text ,
2.when I resize the vscode window,(cancel the max size ),the text in the terminal is cut .

![vscode](https://user-images.githubusercontent.com/41459864/44143734-670082a6-a0b7-11e8-9abd-35407191c049.png)

Does this issue occur whe

[2018-08-15 10:25] vphantom commented on #7758
@dbaeumer For example `vscode-dc980b0fc6639ff6f2b06e523afc07181bb46580.sock`

[2018-08-15 10:25] jrieken opened #56462 "Git message box default text isn't localised"
* start vscode in german
* see this

<img width="337" alt="screen shot 2018-08-15 at 12 24 32" src="https://user-images.githubusercontent.com/1794099/44144016-3cf6cb5e-a086-11e8-996c-3ee3ea246831.png">

[2018-08-15 10:26] sandy081 commented on #56368
Just opening the file hangs VS Code and I can confirm that this is not happening in 1.25 release

[2018-08-15 10:29] sandy081 commented on #56372
With new settings editor, opening a settings file will be uncommon and for only advanced scenarios. So, I would close this in favour or new settings editor.

@roblourens FYI

[2018-08-15 10:29] #56372 closed

[2018-08-15 10:55] jrieken commented on #56302
@sandy081 I have tried this but it seems that updating a configuration value doesn't fire a change event synchronously but with a detail. That makes my code much more complicated and I wonder why we do that?

[2018-08-15 10:57] aeschli commented on #56403
@jrieken I tried do it without fsPath, but then we loose the getRoot smartness and `normalize` can result in invalid paths.
The windows drive normalization is a challange. I guess there are very strong reasons for it..?

IMO replacing `uri.path.indexOf` with `isEqualOrParent` is really the right fix here.

[2018-08-15 10:57] dark07perez opened #56463 "Don't dowlonad new branches (Sync)"
Issue Type: <b>Bug</b>

Vscode don't download new branches with Sync Button, it is not able to find new branches,  i manually use "git pull --all" for donwload all new branches.

VS Code version: Code 1.26.0 (4e9361845dc28659923a300945f84731393e210d, 2018-08-13T16:25:59.521Z)
OS version: Linux x64 4.15.0-30-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Co

[2018-08-15 11:01] isidorn commented on #56225
The issue here is that the new context menu "steals" focus from the open editors and explorer.
`getMultiSelectedResources` is written with an assumption that it will only respect what is selected in the open editors view or the explorer if they have focus.
Otherwise it could happen that the user selects 3 files in the open editors view, goes to the editor works on something unrelated and triggers

[2018-08-15 11:08] awesomegithubusername opened #56464 ""Compare Selected" doesn't work if the new title bar style is enabled"
Issue Type: <b>Bug</b>

1-User Settings
      {
        "window.titleBarStyle": "custom"
      }
2-Select 2 files.
3-"Compare Selected".
4-Expected behavior : the files are compared with each other.
5-Actual result : nothing happens.
6-If the setting is removed, the comparison works.

VS Code version: Code 1.26.0 (4e9361845dc28659923a300945f84731393e210d, 2018-08-13T16:29:31.933Z)
OS version: Wind

[2018-08-15 11:27] AlanRosenthal commented on #56377
@sandy081: looks like pasting this line causes a crash
`    cmd = "git-clang-format --style=\"{{BasedOnStyle: Google, ColumnLimit: 100, IndentWidth: 2, " \
          "AlignConsecutiveAssignments: true}}\" {COMMIT_SHA} -- ./**/*.proto > {OUTPUT}".format(`

[2018-08-15 11:27] jrieken commented on #56428
Add this to your configuration: `"editor.suggest.snippetsPreventQuickSuggestions": false,`. That enables quick suggestion to pop up while navigating a snippet. See #50776 for more details.

[2018-08-15 11:27] #56428 closed

[2018-08-15 11:33] jdthoen commented on #56384
Was just about to submit the same thing.

[2018-08-15 11:39] Slauta commented on #54388
https://www.transifex.com/user/profile/Slauta/

[2018-08-15 11:44] bpasero opened #56465 "Labels: the description part no longer shows with opacity"
@misolori I assume this was another change for accessibility? What is the reasoning? Unfortunately there is no theming option to change this currently.

![image](https://user-images.githubusercontent.com/900690/44146699-240c181e-a091-11e8-80a5-e0b24e0ea8ed.png)

I find it very hard to distinguish between the file name and the rest since the colors are the same. At the very minimum, please provide

[2018-08-15 11:45] bbugh commented on #3998
This issue sometimes happens to me when I return from sleep with VS Code open. Most of the time, this large project works totally fine, but then 30% of the time after I wake from sleep, the CPU is thrashing at 100%. Even if I close VSCode and/or kill Code Helper, it stays at 100% until I restart. I don't believe I've seen it happen outside of this scenario.

MacOS 10.12.6, VSCode 1.26.0

[2018-08-15 11:52] CanastraRF commented on #54533
@bpasero
I test with 1.27.0-exploration and it is the same behaivior.
![step3](https://user-images.githubusercontent.com/3735857/44146892-343028c6-a081-11e8-98b0-5724ba595c32.png)
This is also on all Computer in out Domain.

Does the program try to execute any code in the user Profile or temp Folder.
All of out Client are protected with Software restriction policies and no code can be executed fro

[2018-08-15 11:53] Mibz commented on #56430
Can confirm my behaviour seems identical. I pasted the file from that issue into VS Code without a problem, but once I saved it as .ps1 VS Code hung as it does with my script.

[2018-08-15 11:55] bpasero commented on #56401
@Mellbourn can you report this on our [vscode-docs](https://github.com/Microsoft/vscode-docs/issues) repository. I think a good place would be https://code.visualstudio.com/docs/editor/command-line

[2018-08-15 11:55] #56401 closed

[2018-08-15 11:58] yaa110 opened #56466 "SegFault Error on startup"
- VSCode Version: 1.26 (.tar.gz x86_64)
- OS Version: 4.17.14-arch1-1-ARCH x86_64 GNU/Linux
- npm version: 6.3.0
- node version: v10.8.0

Steps to Reproduce:

1. Update to v1.26
2. Run to get error of `./bin/code: line 35:  4996 Segmentation fault      (core dumped) ELECTRON_RUN_AS_NODE=1 "$ELECTRON" "$CLI" "$@"`

Does this issue occur when all extensions are disabled?: Yes

[2018-08-15 11:58] bpasero commented on #54533
@CanastraRF did you install VSCode global or for your user? We recently switched to supporting user installation which installs to %APPDATA%.

A simple way to check this is if you could try to run from a ZIP file: https://az764295.vo.msecnd.net/stable/4e9361845dc28659923a300945f84731393e210d/VSCode-win32-x64-1.26.0.zip

[2018-08-15 11:59] bpasero commented on #56381
@arturogh is this reproducible everytime?

[2018-08-15 11:59] bpasero commented on #56376
@gdelhomme did it work before with version `1.25`?

[2018-08-15 12:01] #55974 closed

[2018-08-15 12:01] #54228 closed

[2018-08-15 12:06] noahp commented on #56377
It hangs for me (same version of vscode) around this position in that string (if entered manually):
`cmd = "git-clang-format --style=\"{{BasedOnStyle: Google, ColumnLimit: 100, In`
I'm wondering if the `{{` escape is not parsed, so the contents left of the `:` characters are being processed as format specifiers?
https://docs.python.org/3/library/string.html#formatstrings

[2018-08-15 12:06] GandalfSaxe commented on #56388
Is the new editor going to *completely* replace .json file view? Otherwise it seems like a bug worth fixing.

[2018-08-15 12:11] ajelcocks commented on #54691
I have spent several days trying to stop a tooltip prefixed with [ts] and now I find it is not a TypeScript error? I have been pulling my hair out scouring the web, setting every possible setting to false, rebuilding projects and workspaces.

Two days of frustration and wasted effort...because the IDE tells me a JavaScript message using a TypeScript prefix/indicator.

That is just awesome!  Thank

[2018-08-15 12:12] LepkoQQ commented on #49462
I've been trying to fix this in my extension as well and if we could opt out of whitespace styling it would be great.

[2018-08-15 12:17] bpasero commented on #56374
@Jorval this could be an issue with our Electron version, can you try this build that uses a newer Electron version: https://az764295.vo.msecnd.net/exploration/e6caa88a0261e72c41c76ab2ff454b8763a19f73/code-exploration-1534224413.tar.gz

[2018-08-15 12:18] bpasero commented on #56466
Duplicate of https://github.com/Microsoft/vscode/issues/55934

[2018-08-15 12:18] #56466 closed

[2018-08-15 12:24] VladimirAmiorkov opened #56467 "custom 'html' tags are in red color"
- VSCode Version: 1.26.0 (1.26.0)
- OS Version: macOS High Sierra 10.13.6 (17G65)

Steps to Reproduce:

1. Download [this](url
https://github.com/telerik/nativescript-ui-samples-angular/blob/master/listview/app/examples/getting-started/listview-getting-started.component.html) html file or create one with "invalid" html tags
2. Open it in the latest version of Vs Code
3. The `GridLayout`, `RadListV

[2018-08-15 12:40] Mohamed-Fayed opened #56468 "Keyboard input is not read by VoiceOver in terminal"
I'm a legally blind developer . I use voiceover on Mac OS 10.13.6 . I face some problems in dealing with terminal and text editor in Visual studio code .
In the terminal, I can't get any feedback from the screen reader . I can't hear what I type ,which is the same problem in text editor. And don't hear the output of my commands read aloud . I can't also access them using arrow keys in either modes

[2018-08-15 12:55] roemhildtg commented on #56397
Hi @sandy081. VS code provides some automatic integration with package.json dependencies, for instance if I start typing a package name, vs code will auto populate the package name, and the latest version of that package. Also hovering over the package in package.json shows a tooltip with the latest version and package details.

I'd like to be able to configure this because it would allow vs code

[2018-08-15 12:56] mickeygo commented on #56387
In my case the Go extension make the problem, but the Go extension author is microsoft.

[2018-08-15 12:58] dewey commented on #56387
@mickeygo Yea they are aware of the issue: https://github.com/Microsoft/vscode-go/issues/1845

[2018-08-15 13:02] zukoaang opened #56469 "Multi-Root Behaviour (definitions & debug)"
Hi,
Working on Nodejs system made from multiple mini-services.
Two issues occurred when I started using multi-root workspace.

1. cmd + click (or 'go to definition') isn't working anymore.
2. while debugging, if I set breakpoints across multiple files from different projects, all breakpoints will work regardless of my active project.

So, for both issues my question is, does this behaviour happen

[2018-08-15 13:22] Saiken9 opened #56470 "Vs Code Blur"
Issue Type: <b>Bug</b>

i have blur on my vs code,it gets worse when i enter settings

VS Code version: Code 1.26.0 (4e9361845dc28659923a300945f84731393e210d, 2018-08-13T16:29:31.933Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3570 CPU @ 3.40GHz (4 x 3392)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: di

[2018-08-15 13:31] jrieken commented on #56362
Can you please provide a sample and a screenshot.

[2018-08-15 13:38] dranov commented on #41423
Update from the Chromium ticket:

1. There is a performance issue related to text metrics ('Enables support for querying line breaks and the bounding box of arbitrary character ranges'). I believe this is what @alexandrudima  originally reported and what motivated the introduction of text paging to VSCode. This has not been fixed.

2. Separate from this, there was a recent regression (4 weeks ago)

[2018-08-15 13:44] sandy081 commented on #56470
Duplicate of #51789

[2018-08-15 13:44] #56470 closed

[2018-08-15 13:46] JacksonKearl commented on #56375
Does triggering suggestions cause the list to appear again? This is `ctrl+space` be default.

[2018-08-15 13:48] sandy081 commented on #56459
Please create an issue against Azure Account extension

[2018-08-15 13:48] #56459 closed

[2018-08-15 13:49] sandy081 commented on #56455
Can you please provide summary and description in English and explain what is the issue with steps to reproduce. Also any screenshots or gifs would be helpful.

[2018-08-15 13:50] isidorn commented on #56392
Maybe. But I am not convinced to change it -> it would clash with the other decorations and people got used to it here.
I can leave this open as a feature request for now, but I have no immediate plan to tackle it

[2018-08-15 13:52] weinand opened #56471 "Figure out why EH debugging doesn't work in Live Share"
Currently EH Debugging is not supported in Live Share.

With this issue we want to figure out what are the obstacles and how to address them.

[2018-08-15 13:53] isidorn commented on #56465
Might be caused by a change by @misolori
@misolori let me know if you are aware of a change, if not then I might have broken this with some unreldated refactoring

Either way making the description not som promiment makes perfect sense and we should go back to our old behavior

[2018-08-15 13:54] kataweina commented on #55933
#facepalm, didn't even think to check the extensions.
Running Insiders today with only Beautify 1.3.2 and ESLint 1.4.12 enabled (uninstalled all the other ones, which were mostly Salesforce integration ones and some themes). Will let you know if I see more issues.

[2018-08-15 13:55] bpasero commented on #56225
@isidorn isn't it too late to put the focus back only before running the commands, e.g. does it have an impact on the list of menu items when it shows up?

Ignore my comment about `WorkbenchList`, I think we are not using it for the menu.

[2018-08-15 13:55] isidorn commented on #56469
No 2 is by design.
No 1 forwarding to @mattbierner

[2018-08-15 13:56] bpasero commented on #54533
@CanastraRF that is Windows 8.1 you are using right?

[2018-08-15 13:58] sandy081 commented on #56348
Can you please provide summary and description in english and also steps to reproduce?

[2018-08-15 13:58] bpasero commented on #56465
It originates from @misolori commit: https://github.com/Microsoft/vscode/commit/eb05098ab814c9f6d4af62ce3ab5bf00149515b5#diff-033e039e168b97d04878c24fd0cce4a4

[2018-08-15 13:58] MiteshNWT opened #56472 "Split terminal resize does not render correctly"
Issue Type: <b>Bug</b>

When we split terminials and then resize the window , exsisting screen does not render well

VS Code version: Code - Insiders 1.27.0-insider (ffa660576d3a8da3f6cf9b94cbfb879632688ebd, 2018-08-15T05:19:24.200Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-3770K CPU @ 3.50GHz (8 x 3492)|
|GP

[2018-08-15 13:59] #47930 closed

[2018-08-15 13:59] isidorn commented on #56359
@Neurrone As far as I undestand you are reffering to the quick pick not properly announcing the list of build tasks
Forwarding to @dbaeumer and @chrmarti

[2018-08-15 14:00] sandy081 commented on #56343
Can you please open Shared process logs in Output panel and provide us the logs while the extension is being installed?

[2018-08-15 14:01] fzzr- commented on #55692
@hhu94 I agree. But it looks very laggy & glitchy :)
![43601099-1fc575e4-9695-11e8-9e1a-c17fc09f0fd6](https://user-images.githubusercontent.com/888526/44152012-e498b9a0-a0ac-11e8-97bc-a834615c3a4e.png)

[2018-08-15 14:02] #56084 closed

[2018-08-15 14:02] isidorn commented on #56465
Yeah let's revert that, ok @misolori ? And try to fix the color contrast in some other way as lower priority.
After all it is a description which is not so important.

[2018-08-15 14:04] bpasero commented on #56225
@isidorn yeah I was more worried that we have some commands that have a when condition where we assume the list has to have DOM focus to operate and these would obviously not work anymore if the context menu steals focus. But maybe this is not an issue, just bringing it up.

[2018-08-15 14:04] tristan957 commented on #56407
I wish I could help more. Let me try and get a screen recorder and see if I reproduce it on video though, and maybe that will be of use. After a reload of VSCode, I can still reproduce the issue.
![image](https://user-images.githubusercontent.com/11936772/44152099-2ded17ec-a06a-11e8-982b-da6f0c185860.png)

[2018-08-15 14:09] alexandrudima commented on #56408
@davidjdixon can you please share with us a python file or a similar one that reproduces the freeze ?

[2018-08-15 14:11] tristan957 commented on #56407
The video is like a 1:30 long, and it took a while to reproduce. You can skip the first minute. Let me know what else I can help you with. https://drive.google.com/file/d/1C5OXrxPoCakG22QhjvjE08rE_2b1rCir/view?usp=sharing

[2018-08-15 14:13] jrieken commented on #56365
@lllopo Looks good about a PR or individual PRs?

[2018-08-15 14:14] jrieken commented on #56351
Yep - it's not an editor but just a textbook.

[2018-08-15 14:15] #56347 closed

[2018-08-15 14:16] tSte opened #56473 "Ctrl+Shift+E does not work"
Issue Type: <b>Bug</b>

Currently, `workbench.view.explorer` action is bound to `ctrl+shift+e` shortcut. After last update, this shortcut does not work anymore. I can assign `ctrl+e`, `shift+e`, but when I hit `ctrl+shift+e`, it will assign `ctrl+shift+undefined`. I also tried to manually override json file, but VSCode does not seem to understand this shortcut.

VS Code version: Code 1.26.0 (4e936

[2018-08-15 14:17] tristan957 commented on #56407
artifact did go away after clicking on an extension though

[2018-08-15 14:25] CanastraRF commented on #54533
Yes Win 8.1 German x64

[2018-08-15 14:25] alexandrudima commented on #56387
Sorry about that! It looks like there are a few hiccups possibly caused by VSCode's Electron update. A short list of apparently impacted extensions:

* `vscode-ruby` - https://github.com/Microsoft/vscode/issues/56301#issuecomment-412902267
* `vscode-go` - https://github.com/Microsoft/vscode-go/issues/1845
* `vscode-flow-ide`

If you find other impacted extensions, please try to also reach out to t

[2018-08-15 14:27] rand99 commented on #56202
@jrieken: I'm not sure what you mean.
As an inspiration here is a quite elegant solution.
https://mindart.de/ide_tests.mp4

So outline tree items would need the provide methods for plugin developers like ramya-rao to change the icon and maybe add a drop down that could be filled with commands like test, debug test, test with coverage.  or the possibility to add buttons next to the items.
when work

[2018-08-15 14:27] lukasmichel commented on #56444
I have the same issue. When trying to save an untitled file, VSCode crashes immediately. I use the same version of VSCode and the same version of Arch Linux

[2018-08-15 14:29] alex-a-ncino commented on #53876
Re-downloaded v1.24 and everything is working now

[2018-08-15 14:29] sandy081 commented on #56319
This should be supported by the corresponding Angular extension

[2018-08-15 14:29] #56319 closed

[2018-08-15 14:32] sandy081 commented on #56473
@tSte Can you please check by disabling all extensions?

Also open keybindings editor and see all Similar keybindings by right clicking on the entry and select `Find Similar Keybindings`

[2018-08-15 14:34] lloydjatkinson commented on #12578
Can we have just a terminal transparent?

[2018-08-15 14:35] sandy081 commented on #56431
Assuming this is duplicate of #56328

[2018-08-15 14:35] #56431 closed

[2018-08-15 14:36] sandy081 commented on #56397
I suspect that you have an extension that  provides this feature.

[2018-08-15 14:37] jrieken commented on #56327
Hiding and showing might become a little nervous because it depends on the what you are typing. However, we could show something like 'Empty' etc

[2018-08-15 14:40] jrieken commented on #56202
Seeing this only now. The outline view shouldn't be used for a test runner UI. We have API that allows extension authors to manage a tree and to react to commands on tree items.

[2018-08-15 14:40] #56202 closed

[2018-08-15 14:41] sandy081 commented on #56307
Duplicate of #56301

[2018-08-15 14:41] #56307 closed

[2018-08-15 14:42] sandy081 commented on #56237
Please reopen the issue with proper summary, description and steps to reproduce

[2018-08-15 14:42] #56237 closed

[2018-08-15 14:44] miguelperes commented on #56473
It also happens to me. The shortcut works fine only if the code editor is **not** focused, showing/hiding the explorer properly.

[2018-08-15 14:45] sandy081 commented on #56198
Duplicate of #56199

[2018-08-15 14:45] #56198 closed

[2018-08-15 14:48] sandy081 commented on #56091
Please provide proper description with steps to reproduce and reopen.

[2018-08-15 14:48] #56091 closed

[2018-08-15 14:48] javierportillo commented on #56342
I have the same exact problem in the same set up. And it is also working for me with Electron 3.

[2018-08-15 14:48] sandy081 commented on #56060
Please provide steps and reopen

[2018-08-15 14:48] #56060 closed

[2018-08-15 14:48] #56104 closed

[2018-08-15 14:49] treio commented on #56260
I had the same problem. This work for me: https://stackoverflow.com/a/51860943/6038295

[2018-08-15 14:50] roemhildtg commented on #56397
I don't believe so. I think this is provided out of the box.

See https://github.com/Microsoft/vscode/blob/e2a103434b0735055183425b12ae001919a94257/extensions/npm/package.nls.json#L10

[2018-08-15 14:50] costela commented on #56473
It seems to be overridden by some lower-level textbox keybinding. Expanding on what @miguelperes noticed: the keybinding seems to be hijacked whenever a text-area has focus, including search boxes and the VCS commit textarea.

(I'm also on linux btw)

[2018-08-15 14:50] isidorn commented on #56225
@bpasero good point, but in practice I do not think we have such commands

[2018-08-15 14:51] roblourens commented on #44888
This is not a standard encoding and we don't support it.

[2018-08-15 14:51] #44888 closed

[2018-08-15 14:52] sqkmarshall opened #56474 "Failed to install VS Code update."
As instructed by updater I'm making a new issue here and attaching the requested log file. Seems its already been reported but you did ask for a new one :)

Version: 1.25.1
Commit: 1dfc5e557209371715f655691b1235b6b26a06be
Date: 2018-07-11T15:43:53.668Z
Electron: 1.7.12
Chrome: 58.0.3029.110
Node.js: 7.9.0
V8: 5.8.283.38
Architecture: x64

Edition: Win 10 Enterprise
Version: 1709
OS Build: 16299.43

[2018-08-15 14:58] Tyriar commented on #5595
#8962 is about keybindings, not settings

[2018-08-15 14:58] bpasero commented on #56374
Duplicate of https://github.com/Microsoft/vscode/issues/55934

[2018-08-15 14:58] #56374 closed

[2018-08-15 14:59] bpasero commented on #54533
If this results in a native crash (not sure), maybe this is possible:
Can you please follow the steps in https://github.com/Microsoft/vscode/wiki/Native-Crash-Issues to get at more details around the crash and attach the result here? Thanks!

[2018-08-15 15:00] RMacfarlane commented on #56410
@AmeliaBR Thanks for reporting this, the issue reporter shouldn't discard content when you reload the main window. I haven't been able to reproduce this issue on my machine yet - does this reliably happen for you? Could you list your exact steps?

[2018-08-15 15:01] bpasero commented on #56312
Duplicate of https://github.com/Microsoft/vscode/issues/51576

[2018-08-15 15:01] #56312 closed

[2018-08-15 15:04] #47356 closed

[2018-08-15 15:05] sandy081 commented on #38426
Duplicate of #47502 and #54938

[2018-08-15 15:05] weinand commented on #56471
EH debugging uses a debugger of type "extensionHost", but this debugger is almost identically to the node debugger and has only a few lines of code where its behaviour differs.

EH debugging is based on the "attach" setup available for node.js debugging:

- VS Code creates a new workspace window and configures the associated extension host process to listen on a specific debug port,
- node-debug a

[2018-08-15 15:06] sandy081 commented on #38426
Decorations support (including badges) for file resources is supported. Requires #54938 for non file based resources

[2018-08-15 15:07] V-ed commented on #56351
Related to #53498

Not a duplicate as it is more specific.

[2018-08-15 15:08] HaaLeo opened #56475 "Feature Request: Enable octicons for QuickInputButton"
As an extension developer I want to add several `vscode.QuickInputButton`s to the `vscode.InputBox.buttons` to support multiple custom actions. For each button I want to use an icon that fits the style of vscode.
In order to support the developer you could either
* extend the existing ThemeIcons (#50398) or even better
* support the usage of [octicons](https://octicons.github.com) like you already

[2018-08-15 15:09] isidorn commented on #56259
Sounds like the usual tree issue that Joao knows which one -> forwarding so he can close as duplicate

[2018-08-15 15:09] sandy081 commented on #56028
Is not it confusing for users if we show only for first installation? We might need more descriptive message saying this message will not be shown again?

Also, this should not be shown also when users have extensions installed already.

[2018-08-15 15:13] sandy081 commented on #55963
You mean extensions do exist under the path

`C:\Snapvolumestemp\Mountpoints\(UUID string)\SVROOT\Users\(username)\.vscode\extensions`

If so, is there any restrictions from the VM to write into this folder?

[2018-08-15 15:13] sbatten commented on #56445
Hi @jpenna, this is an unfortunate issue caused because the underlining of mnemonics is given via a Unicode character that some fonts are not able to render. I'm looking to fix this very soon. In the meantime, if you don't use mnemonics, you can disable them to avoid seeing the ugly boxes. `window.enableMenuBarMnemonics` -> `false`.

As for the arrows icon, this is also due to the font. Would you

[2018-08-15 15:14] sbatten commented on #56464
duplicate of #56225

[2018-08-15 15:14] #56464 closed

[2018-08-15 15:15] #56400 closed

[2018-08-15 15:15] arturogh commented on #56381
Happened once. Hasn't happened again. Will report back if it does.

[2018-08-15 15:27] sandy081 commented on #56388
Yes, New editor is supposed to replace this mixed UI editor. Opening just the json file without these actions will be supported.

@roblourens FYI

[2018-08-15 15:27] Wombatzoner opened #56476 "Slow performance/High CPU utilization for syntax highlighting comments with built-in PowerShell extension"
Issue Type: <b>Bug</b>

1) Create .ps1 file with the PowerShell comment block below in it.
2) Open the file in VS Code with the built-in  Powershell Language Basics extension enabled.

VS Code CPU utilization goes way up and it takes several minutes to complete the syntax highlighting.

Comment block:

[code]

VS Code version: Code 1.26.0 (4e9361845dc28659923a300945f84731393e210d, 2018-08-13T16:29

[2018-08-15 15:27] #56360 closed

[2018-08-15 15:28] gdelhomme commented on #56376
@bpasero Yes, perfectly.

[2018-08-15 15:30] bpasero commented on #56447
@miyoosan are you on Linux, maybe ArchLinux?

[2018-08-15 15:30] jrieken commented on #56302
Oh, didn't see it turn a promise...

[2018-08-15 15:31] sandy081 commented on #56407
Thanks for taking the time and providing the video. I see it is very hard to reproduce and I am afraid if I can. Will try though.

[2018-08-15 15:36] tristan957 commented on #56407
Yea I don't expect it to really get fixed due to its hard reproducibility. Just wanted to bring it up in an issue so it could be documented. This may also just be something super specific to my setup (extensions, themes, etc.), which I would be happy to provide if you think it would be relevant

[2018-08-15 15:37] sandy081 commented on #56473
Works for me on Windows and Mac. Electron issue?

[2018-08-15 15:40] RMacfarlane commented on #56410
Got it, that makes sense!

[2018-08-15 15:49] #55886 closed

[2018-08-15 15:51] jtr109 commented on #56338
Try to provide more informations. I disabled all extensions include the python extension of vscode. Then I pasted the code and it reproduced again.

![image](https://user-images.githubusercontent.com/13946679/44157724-ade1a000-a0e5-11e8-9df6-c7b8f1fb506b.png)

[2018-08-15 15:51] natenorberg commented on #56387
Thank you for looking into it. This seems like a difficult one to dig into

[2018-08-15 15:54] jtr109 commented on #56364
Hi @isidorn:

Thanks for your reply.

I comment with my screenshot in the issue I reported. Unfortunately, the issue I meet can reproduced with python extension disabled.

[2018-08-15 15:54] sebastian-lenz opened #56477 "Badges in Tree View don't work if iconPath is set on tree items"
- VSCode Version: 1.26.0
- OS Version: Windows 10

Steps to Reproduce:

1. Create a `TreeDataProvider`
2. Return tree items in `getTreeItem` that both have a `resourceUri` and `iconPath` set.

With the July update this great feature made it into the release of VS Code: https://github.com/Microsoft/vscode/issues/38426. However, as soon as you set a custom icon on the tree items, the feature breaks

[2018-08-15 15:54] GandalfSaxe commented on #56388
But it's still a problem. I didn't show in the original post, but it happens no matter how the settings are added to the json. If I to into the new editor and change a setting, then the comment on the last line in `settings.json` jumps always down to the newly added setting. It's not a problem with the mixed UI, it's a fundamental problem with how new settings are added, taking the comments on the

[2018-08-15 15:54] Neurrone commented on #56359
@isidorn yup, that's right. Sorry I'm not sure what the correct name for the menu is.

[2018-08-15 15:55] JBallin commented on #45072
I'm unsure why this issue was closed @joaomoreno? What is the command to update ALL extensions from CLI (without code opening)? Something like `code --update-extensions`

[2018-08-15 15:55] sandy081 commented on #56317
May I know if any of you were using quick fix from the problems panel while this issue has happened?

[2018-08-15 15:55] sandy081 commented on #56317
Also it would be great, if any of you can provide steps to reproduce this.

[2018-08-15 15:56] isidorn commented on #56440
This is not a bad idea as sometimes it is hard to figure out where the file gets created.
However the tree is currently not supporting this and it might unneceserily take attention from the user

For now leaving this open and assigning it to the backlog for discussions
fyi @misolori

[2018-08-15 15:56] #56302 closed

[2018-08-15 15:57] bpasero commented on #56301
I am merging this into https://github.com/Microsoft/vscode/issues/56387 to continue the discussion there.

[2018-08-15 15:57] #56301 closed

[2018-08-15 15:58] isidorn commented on #56443
I can not reproduce this.
I assume when you say "click into the editor" you mean into the input box.
Do you have any other breakpoints in the view? Can you reproduce this all the time?

I remeber this issue was happening when I change the breakpoints view to be a list but we did not see it since afaik @joaomoreno

[2018-08-15 15:59] aeschli commented on #56358
@rameshc-git Can you please share the input file?

[2018-08-15 16:00] aeschli commented on #56357
duplicate of #56403

[2018-08-15 16:01] aeschli commented on #56338
duplicate of #56377

[2018-08-15 16:01] #56338 closed

[2018-08-15 16:01] aeschli commented on #56408
duplicate of #56377

[2018-08-15 16:01] #56408 closed

[2018-08-15 16:01] isidorn commented on #56364
Forwarding to @aeschli since he is handling all these not repsonsive language issues with the new update

[2018-08-15 16:02] isidorn commented on #56359
@Neurrone no problem. Yeah the large one in the middle of the screen we call Quick PIck or Quick Open.

[2018-08-15 16:06] isidorn commented on #56268
@misolori I am glad you touched upon this subject as I would be also very interested in tryign to reduce the complexity of the initial start debug experience.
Let's assign this also to myself and to On-Deck so we look into this once we find time.

@misolori we could start with a ux discussion in a call

[2018-08-15 16:08] FranklinWhale commented on #56317
Steps to reproduce:

1. In VS Code, install the C# extension
2. Create a folder
3. In the folder, run `dotnet new console`
4. Open the folder with VS Code
5. Open the Problems Panel
6. In workspace settings, add `"csharp.suppressHiddenDiagnostics": false`
7. In `Program.cs`, add `using System.Collections.Generic;`

[2018-08-15 16:09] bpasero commented on #56387
Adding "Candidate" label just so that this shows up in our discussion round.

[2018-08-15 16:09] rameshc-git commented on #56358
@aeschli It's powershell script having more than 10k lines code and also i can't share it due to organization policy. Is there any logs i can check vscode installed path?

[2018-08-15 16:12] jrieken opened #56478 "[css] outline information is wrong"
* have the snippet below
* open outline, breadcrumbs, or quick outline
* 🐛 you have two entries

[code]

[2018-08-15 16:12] jrieken commented on #56478
<img width="603" alt="screen shot 2018-08-15 at 18 12 22" src="https://user-images.githubusercontent.com/1794099/44159129-c7b7be80-a0b6-11e8-89c2-1a457cd6977c.png">

[2018-08-15 16:13] eric-777 commented on #13960
Column select discussion is here (I think there are others too): https://github.com/Microsoft/vscode/issues/5402

This thread is about virtual space only, described very well by the link jchatel provided: https://blogs.msdn.microsoft.com/zainnab/2010/02/28/understanding-virtual-space/

Virtual space may be a dependency of fixing 5402 to most people's satisfaction, but they are separate.  No need t

[2018-08-15 16:15] aeschli commented on #56377
Sample from #56338:
[code]

[2018-08-15 16:15] Domvel commented on #56317
In my case there are no steps. 😄 Just load a project (e.g. Ionic / Angular) and have one or more linter or syntax errors. Just have a error and look to the problems panel.

<details>
 <summary>Click here to few my settings</summary>
[code]
</details>

[2018-08-15 16:16] isidorn commented on #56279
Both copy path and copy relative path respect the platform they are on
I can leave this open as a feature request. Add a setting just for this sounds like a bad idea to me

fyi @bpasero

[2018-08-15 16:18] roblourens commented on #56328
This looks like #55649

[2018-08-15 16:18] #56328 closed

[2018-08-15 16:19] isidorn commented on #56063
You are correct. But adding another setting would overcomplicate things imho
Let's leave this open and see if there are better suggestions
fyi @bpasero

[2018-08-15 16:19] aeschli commented on #56199
Duplicate of https://github.com/atom/language-c/issues/266

[2018-08-15 16:19] #56199 closed

[2018-08-15 16:19] KillyMXI opened #56479 "How do I supposed to migrate to the new User Setup on Windows?"
New installer says I have to uninstall previous installation.
Release notes contain no instructions on how to safely migrate to new User Setup and keep all my stuff in place (extensions, configuration).

Since it has no obvious benefits for me right now, and I don't want to waste time to discover myself where this road leads, I will just choose "Don't Show Again" and completely forget about it (mo

[2018-08-15 16:25] bpasero commented on #56342
Lets fold this into https://github.com/Microsoft/vscode/issues/55934

[2018-08-15 16:25] #56342 closed

[2018-08-15 16:25] aeschli commented on #56377
File https://github.com/MagicStack/MagicPython/issues/150 against MagicPython.

[2018-08-15 16:26] sinbad commented on #56317
I can confirm this started happening with all my Unity C# projects with v 1.26.0, on Win10x64 + C# plugin v1.15.2. Constantly flicks between "No Problems" and the actual (correct) problems, which appear for 1s before disappearing again.

[2018-08-15 16:26] misolori commented on #56028
I agree that the text should be more descriptive. I think if we word it in a way that implies that this is just a guide and not a typical notification that it will work.

Something like `Tip: Reload to enable an extension after installing it`. @gregvanl , do you have any thoughts?

[2018-08-15 16:27] bpasero commented on #56381
Ok, will close until we have a reliable way of reproducing.

[2018-08-15 16:27] #56381 closed

[2018-08-15 16:28] roblourens commented on #56388
@sandy081 this isn't specific to the mixed UI editor. It also happens when editing with the new editor, or I assume when an extension or something else changes a setting. So it's a problem with the service that writes config changes to JSON.

[2018-08-15 16:29] sandy081 commented on #56317
@FranklinWhale With your steps I see following. It looks like C# extension is continuously updating the diagnostics and hence problems view is getting updated.

![kapture 2018-08-15 at 18 26 16](https://user-images.githubusercontent.com/10746682/44159777-c38ca080-a0b8-11e8-966a-74eea52ffd46.gif)

@Domvel Looks like you have a different issue that problems view is showing bogus errors. Is it possib

[2018-08-15 16:30] bpasero commented on #56376
@gdelhomme does this version work for you? https://az764295.vo.msecnd.net/exploration/e6caa88a0261e72c41c76ab2ff454b8763a19f73/code-exploration-1534224413.tar.gz

[2018-08-15 16:30] scippio commented on #55934
PS: I have Electron 3.0.0-beta.5 in my Arch.

[2018-08-15 16:31] bpasero commented on #56473
Duplicate of https://github.com/Microsoft/vscode/issues/48480

[2018-08-15 16:31] #56473 closed

[2018-08-15 16:31] sandy081 commented on #56371
Can anyone help in providing the steps to reproduce this (possibly with some sample file)?

[2018-08-15 16:31] JacksonKearl commented on #56375
Testing on 1.26 just now I'm seeing that simply deleting to the `@` does not trigger suggestions, but pressing `ctrl+space` from there does show the suggestions again. This is as designed, it works the same in the editor: if you type `this.` suggestions will appear, but if you delete until the period, the wont appear.

As a side note, you actually don't need to type the `@` at all; you can use `ct

[2018-08-15 16:31] #56375 closed

[2018-08-15 16:31] bpasero commented on #56443
@isidorn sorry, when I say "click into the editor" I actually meant to say "add another breakpoint by clicking into a breakpoint in the editor"

[2018-08-15 16:33] roblourens opened #56480 "Settings editor TOC context menu"
What actions make sense in a TOC context menu?

- Manage Extension
-

[2018-08-15 16:33] Curdflappers opened #56481 "Source Control Manager: Warn Subject Line Length at 50 characters"
When using the integrated Source Control pane in the Side Bar to stage a commit, users always receive a warning once they exceed 72 characters ("X characters over 72 in current line").

![screen shot 2018-08-15 at 11 30 28 am](https://user-images.githubusercontent.com/7833360/44159996-a4711d00-a07e-11e8-990e-97ec0bdd0ddc.png)

However, it's generally recommended that the subject line of a commit s

[2018-08-15 16:34] smspivak commented on #26777
+1

[2018-08-15 16:34] scippio commented on #55934
@opensas I tried:
electron /opt/visual-studio-code-insiders/resources/app/

[code]

[2018-08-15 16:34] IllusionMH commented on #56279
@isidorn proposed option will open more use cases for Windows users (other have them "for free").
JS/TS imports expect path with forward slashes independently from OS, as well as paths for images/resources used in HTML/CSS. Ability to copy path with expected separator will remove pain from manually changing them (which should be done with Copy Path).

I've proposed to make it as option, because it

[2018-08-15 16:35] GlenCFL commented on #56317
I have the C# problem flickering issue fixed locally with some [modifications](https://github.com/GlenCFL/omnisharp-vscode/commit/532dddcc0a3d438b73d3e481406b99f985dfc540) to their diagnostics provider, though they seemed pretty confident that it was a VSCode issue over in their repository.

[2018-08-15 16:35] RonAndaya commented on #56418
@jrieken It happens in C++, C# and Python.

[2018-08-15 16:36] gandalfsaxe opened #56482 "Save logpoints / breakpoints in workspace"
Logpoints [are presented](https://code.visualstudio.com/docs/editor/debugging#_logpoints) as a smarter substitute for print statements. That may be in a solo project, but what about a collaborative code base? If one substitutes e.g. all Python prints/logs with VSCode logs, then only the person who made them benefit.

How about adding the capability to save logpoints in json format in the .vscode f

[2018-08-15 16:36] Domvel commented on #56317
@sandy081 I want to create a demonstration project with short docs to reproduce this. But not sure at this moment. And I also ask some people if they have the same issue.

[2018-08-15 16:36] aeschli commented on #56364
dup of #56377

[2018-08-15 16:36] #56364 closed

[2018-08-15 16:38] misolori commented on #56465
I can revert it but it will fail on the color contrast ratio when a row is selected. We could look into changing the opacity when it's selected. I'll re-open the original bug.

[2018-08-15 16:39] DanTup commented on #43505
I'm definitely not asking for any file on disk, just a known set of folders outside the workspace. Imagine if `node_modules` was stored one level up for a project - you might want its contents in Quick Open since your project is using those files.

In Dart, there is a file (`.packages`) that declares the full paths to all of the packages being used (which do not live inside your actual project fol

[2018-08-15 16:39] aeschli commented on #56430
I reverted the grammar to https://github.com/PowerShell/EditorSyntax/commit/6f5438611c54922ea94c81532a2dcfee72190039
where this this [file](https://github.com/larssb/HealOps/blob/master/Deployment/Install-HealOps.ps1) does no longer crash.

[2018-08-15 16:40] FranklinWhale commented on #56317
@sandy081 The issue was reported in OmniSharp/omnisharp-vscode#2456 and it was closed

[2018-08-15 16:42] roblourens commented on #43505
I see. I don't understand why not just add those folders to the workspace?

[2018-08-15 16:42] anderfernandes commented on #51917
I am just a user. I don't get the open folder problem on Arch Linux. Try browsing to your project folder using bash and doing "code ." - Very handy.

[2018-08-15 16:43] DanTup commented on #56371
Interestingly I haven't seen it on my Windows PC today (it was MacBook I saw it on). When I next see it (either here, or on the MB I'll see if I can do it on-demand and provide any details I can).

[2018-08-15 16:44] #56377 closed

[2018-08-15 16:44] #56430 closed

[2018-08-15 16:44] Serega124 commented on #56476
Bisected example:
[code]

[2018-08-15 16:44] aeschli commented on #56368
duplicate of #56430

[2018-08-15 16:44] #56368 closed

[2018-08-15 16:45] aeschli commented on #56358
duplicate of #56430

[2018-08-15 16:45] #56358 closed

[2018-08-15 16:45] r3wt commented on #56411
@jrieken javascript (react and react-native)

[2018-08-15 16:45] #56465 closed

[2018-08-15 16:46] misolori commented on #52026
This was reverted with https://github.com/Microsoft/vscode/commit/b887217768cc2bca5892dbb054fd5a5aba1dbcf3. We should look into changing the opacity when it fails (i.e. on selection).

[2018-08-15 16:47] aeschli commented on #55497
This issue was moved to atom/language-java#151

[2018-08-15 16:47] #55497 closed

[2018-08-15 16:49] greggman commented on #13960
The conflation comes from your previous comment. You basically said virtual space is mostly useless

But it's not useless at all. It's required for column editing since you have to be able to move through virtual space to use columns as columns. Column editing is immensely powerful. So please don't go dismissing virtual space as useless.

[2018-08-15 16:50] aeschli commented on #55587
I don't think that's breaking... We don't give out textmate scopes anywhere.

[2018-08-15 16:51] aeschli commented on #55587
We should start that indeed. Extensions should always contribute to both 'jade' and 'pug'.

User snippets and user configurations (language specific settings) will be lost but IMO that's acceptable.

[2018-08-15 16:53] roblourens commented on #34711
@alexandrudima we can't change the behavior of workspaceContains overnight because it would require extensions to have a fallback activationEvent. Could we track workspaceContains searches that are terminated early, then each time a file is opened, check it against those patterns? Does that make sense?

[2018-08-15 16:53] fwcd opened #56483 "External debug adapter crashes when launched without redirected stdout"
- VSCode Version: 1.26.0
- OS Version: Windows 10 x64

I am currently developing a Kotlin debug adapter running on JVM.

When launching the external debug adapter *with* `stdout` redirected to a file (either using `System.setOut()` or through `java ... > file.txt`), everything works fine. When launching the debug adapter *without* modifications to `stdout`, VSCode yields this error message:

![ima

[2018-08-15 16:53] misolori opened #56484 "Label text does not meet color ratio on selection"
Reverted via https://github.com/Microsoft/vscode/commit/b887217768cc2bca5892dbb054fd5a5aba1dbcf3 in #56465

This appears in the explorer and panels. We should look into changing the opacity on selection.

Explorer
![image](https://user-images.githubusercontent.com/35271042/44160960-d9767300-a070-11e8-8453-4cfeaeea78ac.png)

Panels
![image](https://user-images.githubusercontent.com/35271042/4416097

[2018-08-15 16:54] misolori commented on #52026
Opened #56484 instead

[2018-08-15 16:54] #52026 closed

[2018-08-15 16:59] octref commented on #56451
Duplicate of #56449.

[2018-08-15 16:59] #56451 closed

[2018-08-15 17:00] octref commented on #56452
Duplicate of #56449.

[2018-08-15 17:00] #56452 closed

[2018-08-15 17:01] octref commented on #56449
@sandy081 Yeah, he's saying it gets stuck in installing phase. "The data needed is too large and cannot be sent. We've already wrote it into clipboard. Please paste". I have no idea what it is.

[2018-08-15 17:01] misolori commented on #56391
@isidorn in the scenario where they have watch expressions or breakpoints then I wouldn't expect to see this. This should only appear when there is nothing set.

I'm mostly interested in making it explicitly clear what state the view is in, it's weird to have those categories empty when we do show text in other views.

I'd also be interested in seeing some message that is dismissible as well.

[2018-08-15 17:02] t-zander commented on #55863
Sorry for the late reply.
I mean the following.
I created html
It look like this
![image](https://user-images.githubusercontent.com/34350867/44161399-df4a7380-a0c5-11e8-812c-b05672bc66b7.png)
But I want it to be like this(tab spaces):
![image](https://user-images.githubusercontent.com/34350867/44161438-01dc8c80-a0c6-11e8-88c3-075d15c6d1ca.png)
I have tab=2 spaces but for some reason it make 2 tabs

[2018-08-15 17:02] JimiC commented on #54345
@jrieken I have solved half my problem by using `ExtensionContext#globalState` to store the extensions state (the place was obvious but who cares to read the entire f@cking manual). This though requires that `ExtensionContext#globalState` is accessible in the `uninstall` script also so that we can clean up the `state`, although I'm not sure that this task is crucial.

Now I'm up to solve the other

[2018-08-15 17:03] Serega124 commented on #56476
powershell.tmLanguage.json line 414 has catastrophic backtracking:
`(?:\\s*|#)+(\\.)`
Changing it to `(?:\\s?|#)+(\\.)` seems ok.

[2018-08-15 17:05] dchw commented on #56371
I am on macOS Mojave, and this project produces the issue. Its a quick and dirty one I made with `dotnet` commands exclusively.
[testProj.zip](https://github.com/Microsoft/vscode/files/2291032/testProj.zip)

[2018-08-15 17:07] dchw commented on #56317
I accidentially posted this earlier on #56371, sorry!

I am on macOS Mojave and here is a sample C# project that can reproduce this. I created it with `dotnet` commands at the command line exclusively.
[testProj.zip](https://github.com/Microsoft/vscode/files/2291036/testProj.zip)

[2018-08-15 17:08] Serega124 commented on #56476
@aeschli already [reverted](https://github.com/Microsoft/vscode/commit/f125fe6fe1a278bc3e481cc43ba8c075dd73b942) it to older commit.

[2018-08-15 17:08] DanTup commented on #56371
Well, I saw it on Windows:

![win](https://user-images.githubusercontent.com/1078012/44161487-63482f80-a0b5-11e8-8da5-2b4c4b4f2cfb.png)

Same thing - the top entries have lost their file (they should be in the `interpreter.dart` section which is further down.

I reviewed the language server logs, and the errors all look normal to me. They all came through with the correct path (and the casing is a

[2018-08-15 17:17] tbcaro commented on #55128
This has been kind of a thorn in my side as well. I use VS code to write notes in markdown and prefix with a date.

Currently, copy/pasting my previous daily notes results in a `2019-mm-dd` prefix.

[2018-08-15 17:18] Blaze23 commented on #56199
Incorrect. This is a completely different issue - please reopen.

Thanks,
Ansh Bhatnagar
________________________________
From: Martin Aeschlimann <notifications@github.com>
Sent: Wednesday, August 15, 2018 5:21:46 PM
To: Microsoft/vscode
Cc: Blaze23; Author
Subject: Re: [Microsoft/vscode] Please allow for C++ user defined types to be highlighted (#56199)

Duplicate of atom/language-c#266<https://

[2018-08-15 17:18] sandy081 commented on #56371
@DanTup Thanks for the logs. I think I understand the issue now.

[2018-08-15 17:26] V-ed commented on #56076
The little padding around each item in the quick pick control is something that bothered me from day one when I started using VSCode and still irks me from time to time. I got accustomed to it but I'd really like to be able to go toward bigger padding, as I came from sublime and atom and prefer their quick pick control.

Looking forward to maybe have a customization option to tweak such padding!

[2018-08-15 17:27] sandy081 commented on #56388
Agreed

[2018-08-15 17:29] sandy081 commented on #56449
I see

@wuwei8 Looks like you are filing an issue from Issue Reporter and since the data is too long to create an issue from there, we copy it to your clip board.

Can you please provide the data ?

[2018-08-15 17:29] ramya-rao-a commented on #56387
@alexandrudima My findings were similar to what @wingrunr21 is saying above.

@wingrunr21 In `vscode-go` we don't need users to provide/configure the absolute paths. The extension figures out the path itself, makes sure the file exists and returns the absolute path of the file. If the file is not found, then the command is returned. That's why my mitigation was by checking for the absolute path.

[2018-08-15 17:31] V-ed commented on #56351
I found that this issue is a duplicate of #53666

[2018-08-15 17:31] V-ed commented on #53666
Related to #53498

Not a duplicate as it is more specific.

[2018-08-15 17:32] ramya-rao-a commented on #56199
@Blaze23 Can you explain how the issue is different? Perhaps share a sample code?

[2018-08-15 17:34] V-ed commented on #55921
The issue is closed but is related to #52854

[2018-08-15 17:34] eric-777 commented on #13960
Conflation is taking two separable issues and muddling them together as though they were the same, not from a subjective judgement about how important one of the two issues is.  Some of us who want virtual space aren't bothered by the current column select implementation at all.

Virtual space is not useless.  There are many of us in this thread who are eagerly anticipating it's possible implement

[2018-08-15 17:39] Blaze23 commented on #56199
I have attached screenshots to the email, comparing how Visual Studio does syntax highlighting differently to VS code with regards to user defined types. The class “Planet” that I have made is highlighted when creating objects of that type – VS code does not do this.

- Ansh

________________________________
From: Ramya Rao <notifications@github.com>
Sent: Wednesday, August 15, 2018 6:33:19 PM
To:

[2018-08-15 17:40] wingrunr21 commented on #56387
@ramya-rao-a ah, that makes sense. That auto detection is a problem I'm still trying to solve as a lot of Ruby environments are configured via shell functions and can vary by directory. That's why I proposed checking via `command -v`

[2018-08-15 17:40] jumicode opened #56486 "Visual Studio Code shuts down when opening a folder"
Issue Type: <b>Bug</b>

When attempting to open a folder with File > Open Folder or using the associated keyboard shortcut Visual Studio Code shuts down unexpectedly.

OS: Arch Linux with Deepin Window Manager

Disabling extensions does not fix the problem. Running `code --verbose` produces the following relevant information:

[code]

The `image.svg` file is a link on my system. Also, I have the `

[2018-08-15 17:44] strongui commented on #56260
Ok here's the definitive guide on how to fix it.

For windows 10 anyway.

1. Uninstall VS Code and VS Code User.
2. Reboot
3. Install VS Code User edition (just re-download it from the vs code page)
4. Profit.

Error will be gone, and all your settings/plugins won't be removed, since they are not removed if uninstall the programs. You'd have to manually delete the settings folder, so just don't wo

[2018-08-15 17:46] roblourens opened #56487 "When searching in loose files, always searches package.json"
(Needs fix for https://github.com/Microsoft/vscode/issues/56433)

- Open empty vscode window
- Open Finder window on the vscode repo
- Drag README.md into the vscode window
- Search 'vscode'
- See results from README.md and also package.json, even though I never opened package.json

I guess some extension is creating a model for package.json. Who is wrong here? The extension, the model service, th

[2018-08-15 17:48] ramya-rao-a commented on #56486
- Do you see this with extensions disabled? Close all VS Code instances and then run `code --disable-extensions`.
- Did this start happening after the latest release, or you've seen this in version 1.25.1 as well?
- Start VS Code from a terminal in verbose mode `code --verbose`, repro the issue and then share the verbose output from the terminal

[2018-08-15 17:49] ramya-rao-a commented on #56199
Can you paste the screenshots here?

[2018-08-15 17:52] t-zander commented on #55863
It was already set, still have this problem

[2018-08-15 17:54] sandy081 commented on #56317
As I said there are two issues:

1. Problems keep on showing in loops.

This is happening because, whenever problems for a file are shown, problems view asks for the code actions in that file by opening it and closing it after. Looks like the C# extension is reacting to these and generating diagnostics.

@rchande Can the C# extension handles this? I will try to see if I can do a fix from our side.

[2018-08-15 17:57] #55536 closed

[2018-08-15 18:08] kapalkat opened #56488 "Themes | Not able to distinguish the scope for a function parameters used in the function body"
- VSCode Version: 1.26.0
- OS Version: OSX

Steps to Reproduce:
When creating a new color theme for VSC I am not able to distinguish the scope for function parameters used in the function body.
1. Create a function with parameters
2. Use those parameters in a function body

The scope for those parameters in a function body is either:
_variable.other.readwrite.js_
or
_variable.other.object.js_

The

[2018-08-15 18:09] V-ed commented on #34432
This conversation is kinda old but I'd think that it still seems true today; often times I see issues that have alot of duplicates and while commenting about it seems to help, it would be one less task for the vscode team to deal with if there'd be some community interaction to help triaging issues.

[Less than a month ago, a PR closed 5 issues, all of which were duplicates of the first...](https:

[2018-08-15 18:09] sbatten opened #56489 "Extensions Viewlet Search box now has a little inner padding around the text"
Issue Type: <b>Bug</b>

Compared to input boxes in other viewlets, the search box in the extensions viewlets looks slightly different with a little padding of a different color inside the box.

VS Code version: Code - Insiders 1.27.0-insider (ffa660576d3a8da3f6cf9b94cbfb879632688ebd, 2018-08-15T05:19:24.200Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Va

[2018-08-15 18:11] arkuhn opened #56490 "Go-to-definition IntelliSense F12 binding not working"
**Bug:**
Right clicking a function and selecting 'Go To Definition' works, however, using the F12 binding displays 'No Definition Found.' There are a number of open and closed issues surrounding IntelliSense go-to-function not working. None of them (that I saw) exhibited the same behavior. Closing and reopening does not fix the issue. I do see a peek definition of the function while hovering it.

[2018-08-15 18:14] danyeh commented on #55578
Thank you @SetTrend for your feedback.
We host translation in Transifex and accept contribution from community. General guidance is here: https://aka.ms/vscodeloc.
It will be great if you can fix in Transifex and get enough vote from native speaker contributors so your fix get used in product.
The string must be in this query. https://www.transifex.com/microsoft-oss/vscode-workbench/translate/#de/

[2018-08-15 18:16] trevorwhealy commented on #56387
Updated yesterday. None of eslint, prettier, nor gitlens work.
Downloaded the version from June to get work done today.
Works great. https://code.visualstudio.com/updates/v1_25

[2018-08-15 18:25] lucask42 commented on #1012
+1

basic text editing modes should be supported in a text editor.

[2018-08-15 18:26] bruce commented on #53782
Another confirmation of the 4k problem here (Ubuntu 18.04 on a brand new Dell XPS 9730)

[2018-08-15 18:27] bkinsey808 opened #56492 "Ctrl-Shift-e not working anymore"
- VSCode Version: 1.26
- OS Version: Ubuntu 18.04.1 LTS

Steps to Reproduce:

1. recently updated vscode to 1.26
2. tried the breadcrumb feature

Does this issue occur when all extensions are disabled?: Yes/No

Now ctrl-shift-e no longer opens up the explorer side panel like it used to.

[2018-08-15 18:29] ripplejb commented on #56260
The message is not an error message, I think the icon should be changed here. This is just an information and not warning.

Now on you can have multiple copies of vs code on your system.

1. Systemwide vs code that is installed in the "C:\Program Files". This is a shared copy of the vs code that can be accessed by all the users on the system.

2. User installation is installed somewhere in "C:\use

[2018-08-15 18:36] JacksonKearl commented on #56489
This appears to be because the `Material Theme Lighter Higher Contrast` sets the background color to a transparent color (`rgba(0,0,0,0.2)`), if that is changed to `rgb(250,250,250)`, the look is the same but without the border. This seems like incorrect behavior of the renderer, as the type of color shouldn't affect what gets colored.

[2018-08-15 18:37] waldyrious commented on #56375
Yes, it does.

[2018-08-15 18:39] sandy081 commented on #56371
There is an exception while rendering a problem entry and hence it is not getting removed and remains. This is also the reason why the interaction is also broken.

This exception is caused due to the timing issue. Just before the problem entry is rendered, its parent is removed from the tree. While the problem entry is being rendered, I am accessing its parent using tree navigator (assuming that p

[2018-08-15 18:39] octref commented on #55587
This is part of the ext manifest: https://github.com/vuejs/vetur/blob/master/package.json#L98-L115

OK, let's do it.

- [ ] Duplicate current `extensions/pug` extension to `extensions/jade`
  - [ ] Make the scope `text.jade`
  - [ ] Make it contribute a language `jade`
  - [ ] Add a deprecation notice to `extensions/jade/README.md`
- [ ] Update website documentation for jade / pug
- [ ] Update rel

[2018-08-15 18:39] rchande commented on #56317
@sandy081 Our [diagnostics provider](https://github.com/OmniSharp/omnisharp-vscode/blob/master/src/features/diagnosticsProvider.ts) tries to react to a variety of events and push diagnostics to a diagnostic collection. It sounds like Code has changed the way it processes/requests diagnostics internally. Can you help me understand exactly what chose changes were? It sounds like we can stop respondi

[2018-08-15 18:42] octref commented on #56424
@sunshine001 What's the path completion that you are trying to trigger?

[2018-08-15 18:44] Tyriar commented on #56461
This is likely related to winpty, tracking in https://github.com/Microsoft/vscode/issues/45693

[2018-08-15 18:44] #56461 closed

[2018-08-15 18:46] JacksonKearl commented on #56489
Actually, looks like the transparency is showing up differently on the different backgrounds. If you increase the alpha, it starts to look like this:
![image](https://user-images.githubusercontent.com/8586769/44166655-c53a7200-a080-11e8-94d8-182415272f29.png)

I'll look in to making the transparency affect both equally

[2018-08-15 18:47] andy-viv commented on #56026
This only started occurring in the last several weeks so it was introduced in recent release.

[2018-08-15 18:59] an5rag commented on #53729
@claudeduguay I'm facing the exact same issue and disabling all extensions worked. I'm now trying to selectively enable some extensions to find the culprit. Which extension was the culprit in your case?

[2018-08-15 19:01] #55991 closed

[2018-08-15 19:01] #56002 closed

[2018-08-15 19:01] #55973 closed

[2018-08-15 19:01] #55986 closed

[2018-08-15 19:01] #55994 closed

[2018-08-15 19:03] jumicode commented on #56486
@ramya-rao-a Thank you for providing the steps. I have edited the issue to include the output of running in verbose mode.

[2018-08-15 19:05] #56489 closed

[2018-08-15 19:08] zpdDG4gta8XKpMCd opened #56494 "Add a context menu to entities listed in breadcrumbs"
for folders listed in breadcrumbs i wish i could right click and create a new file from there

![image](https://user-images.githubusercontent.com/937933/44167730-fd4fae00-a09c-11e8-8db3-aca6acf5529f.png)

[2018-08-15 19:09] lunarfyre7 commented on #12578
@lloydjatkinson that might be possible with custom css, at least for it to show the editor underneath.

[2018-08-15 19:15] MichaelSimmonds opened #56495 "Add split terminal to Extensions API"
[done]

Currently there is no (documented) way to split a terminal window in the extension api.

My use case is that I would like to create a small extension that open 3 split terminals to show the server, frontend server and tests side by side

Thanks to everyone supporting this project - I'm really enjoying using the editor all day every day!

[2018-08-15 19:19] segevfiner opened #56497 "Provide auto completions scripts for common/popular shells"
It would be useful if VS Code provides an auto completion script, for the `code` command, for the commonly used/popular shells, such as Zsh, Bash, Fish, Powershell, etc.

There is already one bundled in Zsh in newer versions: [Zsh/Completion/X/Command/_code](https://github.com/zsh-users/zsh/blob/master/Completion/X/Command/_code). But VS Code can bundle it's own more complete and up-to-date versio

[2018-08-15 19:29] emonto15 opened #56498 "The application freeze when i paste a regexp on the search field"
Issue Type: <b>Bug</b>

When I design a 23-term regexp on the editor and try to paste it on the search field to find matches, the application exits!

VS Code version: Code 1.24.1 (24f62626b222e9a8313213fb64b10d741a326288, 2018-06-13T17:51:32.889Z)
OS version: Windows_NT x64 10.0.15063

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7300U CPU @ 2.60GHz (