[2020-11-30 07:25] aloncGithub opened #111487 "Ctrl+Z (Undo) operation BUG after saving the file"
Issue Type: <b>Bug</b>

Save the file after normal Ctrl+ S. CTRL+Z (undo). Press the keyboard twice for each undo. In addition, CTRL+Y (restore) is invalid when saving the file and not exiting vscode

VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:34:32.027Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|--

[2020-11-30 07:37] lig commented on #5770
@ntziolis sounds fair. As a base for the ongoing development, it would be a good thing to have. Would I give it a try? Definitely. Would I use it instead of a standalone full-featured merge tool? Obviously, not yet.

[2020-11-30 07:47] egamma commented on #111469
I cannot reproduce this given the steps provided. Can you reproduce this with extensions disabled? By running `code --user-data-dir`(then you run with fresh settings)? By using code-insiders?

[2020-11-30 07:48] egamma commented on #111472
Please report the issue against the C++ extension.

[2020-11-30 07:48] #111472 closed

[2020-11-30 07:52] egamma commented on #111479
This happens on Big Sur assigning to @isidorn since I think you are on Big Sur.
I cannot reproduce on Catalina.

[2020-11-30 07:55] #111440 closed

[2020-11-30 07:56] jrieken commented on #111440
The `path`-component of uris always uses forward slashes, when accessing the file system you can use `fsPath` (which takes UNC paths into account). However, it is advised to use `vscode.workspace.fs` to read/write files because that can be used in other contexts as well

[2020-11-30 07:58] jrieken commented on #111471
Doesn't reproduce when running from sources. Please update steps or close

[2020-11-30 07:59] #111427 closed

[2020-11-30 08:00] jrieken commented on #111480
/duplicate of #21611

[2020-11-30 08:01] #111480 closed

[2020-11-30 08:02] bpasero commented on #111476
Not a big fan because this command is not talking about editors currently. We have a generic setting `workbench.editor.openSideBySideDirection` that controls the default opening location for split editors.

[2020-11-30 08:04] chrmarti commented on #111470
I would expect the Welcome screen to open only once. There appears to be a way to turn it off completely: https://techcommunity.microsoft.com/t5/discussions/prevent-first-time-run-screen-on-edge-beta/m-p/1098825/highlight/true#M20928. Hope that helps.

[2020-11-30 08:06] egamma commented on #111486
This looks like an out of memory problem caused by an extension. Does it run in any project? What kind of project is it (PHP?)? You can run `code --status` to get  some diagnostics about the project.

VS Code Insiders now supports to bisect extensions with `Help: Start Extension Bisect`. This will be available in VS Code version 1.52 which will ship next week.

Since you are not using VS Code insi

[2020-11-30 08:09] egamma commented on #111487
/needsMoreInfo

[2020-11-30 08:34] JonWallsten commented on #111149
https://github.com/microsoft/vscode/issues/110554

[2020-11-30 08:42] joaomoreno commented on #111360
Does it keep happening if you fully uninstall and reinstall VS Code?

[2020-11-30 08:42] stagefright5 commented on #109771
I can think of few features that can be included in this:

1. Ability to add a single editor tab to the group (using context menu, for example)
2. Ability to select the editor tab/s and add selected tabs to a group
3. Restore the minimized editor tab group into the current open/focused editor group
4. Restore the minimized editor tab group into a new editor group (to right, left, down or up)

Plea

[2020-11-30 08:46] rishisavla2007 commented on #111360
yes it is happening

On Mon, 30 Nov 2020 14:12 João Moreno, <notifications@github.com> wrote:

[2020-11-30 08:47] isidorn commented on #111227
@connor4312 thanks for letting us know. Have a nice vacation and we can test this with mock debug

[2020-11-30 08:47] joaomoreno commented on #111360
Can you uninstall VS Code? And then install it again?

[2020-11-30 08:48] joaomoreno commented on #111432
Yeah this seems to be about Visual Studio, not Code.

[2020-11-30 08:48] #111432 closed

[2020-11-30 08:49] joaomoreno commented on #109806
#5970

[2020-11-30 08:49] #109806 closed

[2020-11-30 08:50] joaomoreno commented on #111357
This came from https://github.com/microsoft/vscode/commit/fa8083bb322fa819a6ea8774cc83e80464b4c568

[2020-11-30 08:53] alexdima commented on #110929
@SilantevDenis We have a setting called `editor.mouseWheelScrollSensitivity`, can you try to tweak that?

[2020-11-30 08:56] timetraveller432 commented on #78138
In addition to my previous comment detailed [here](https://github.com/microsoft/vscode/issues/78138#issuecomment-669482575): I am observing weird behavior in other Microsoft products too.

I have been using **Microsoft SQL Server Management Studio** and **Microsoft Visual Studio** for backend development and can confirm that the same issue is popping up there too. It tried using the Apps one by on

[2020-11-30 08:57] olatoweb opened #111491 "Typescript not showing error on Vscode"
I observe that typescript errors is not showing any error on the terminal

[2020-11-30 08:58] joaomoreno commented on #111302
Once you uninstall VS Code, can you do a full disk search for `Code.exe`? I believe you have two installations of VS Code on your machine.

[2020-11-30 09:05] gjsjohnmurray commented on #111491
/needsMoreInfo

[2020-11-30 09:21] lszomoru opened #111492 "Test: Smoke Test"
- [x] Windows @meganrogge
- [x] macOS @isidorn
- [x] Linux @jrieken
- [x] web @isidorn

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23111492%0A%0A)

---

**NOTE:** Desktop & Web tests MUST run with `--build` argument

**NOTE:** Desktop tests MUST run with `--stable-build` argument additionally

Documentation: https://github.com/Microsoft/vscode/blob/m

[2020-11-30 09:23] jrieken commented on #106396
Closing this as trusted types policy usage just happens. Currently, most policies aren't doing real checks and once we have sink usages covered we should look at policies in detail

[2020-11-30 09:23] #106396 closed

[2020-11-30 09:25] alexr00 commented on #111402
Yes, that's what I'm suggesting with https://github.com/microsoft/vscode/issues/111402#issuecomment-734765924

[2020-11-30 09:27] appar-sc opened #111493 ""Go To Definition" sometimes takes long time to load on JS React"
## Env
Version: 1.51.1
Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
Date: 2020-11-11T01:11:34.018Z (2 wks ago)
Electron: 9.3.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.6.0

## Steps to Reproduce

Please check instant replay video: [QAReplay Link](https://qareplay.com/replay?id=JnUzcFzhQbZrONF8ihPrQqA7m), can start from 00:09

1. ```Cmd + P``` to find t

[2020-11-30 09:28] aeschli commented on #111311
I updated the doc to clarify what a marker is and what's currently supported.

If you want to full control over folding ranges, have a look at folding providers. In there you can use regexes, or even better use a language parser

[2020-11-30 09:28] jrieken commented on #109794
@connor4312 please verify

[2020-11-30 09:30] AllanOricil commented on #111440
@GustavoASC I found tests to help us understand how to use vscode.workspace.fs https://github.com/microsoft/vscode/blob/master/extensions/vscode-api-tests/src/singlefolder-tests/workspace.fs.test.ts

[2020-11-30 09:32] stephancasas commented on #34442
+1

[2020-11-30 09:40] isidorn commented on #111481
Basically as the commend is spiiting out output you should be abble to call appendLIne thus getting the output in real time

[2020-11-30 09:40] #111481 closed

[2020-11-30 09:40] isidorn commented on #111452
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog and we might add this in the future. Thanks

fyi @sandy081

[2020-11-30 09:42] isidorn commented on #111479
This works just fine for me.
@nexxai can you reproduce with vscode insiders https://code.visualstudio.com/insiders/

[2020-11-30 09:47] bpasero commented on #111402
I am fine either way, as long as the top level view name is not "Ports" 👍

[2020-11-30 09:47] Dd-ouni commented on #21611
Thanks for your answers.

[2020-11-30 09:49] #107651 closed

[2020-11-30 09:52] MehdizadeMilad commented on #28432
I had the same issue on Fedora 33, Code 1.51.1.
when I opened a workspace, VSCODE notified me with this message:

this link helped me to fix it:
_[https://code.visualstudio.com/docs/setup/linux#_visual-studio-code-is-unable-to-watch-for-file-changes-in-this-large-workspace-error-enospc](https://code.visualstudio.com/docs/setup/linux#_visual-studio-code-is-unable-to-watch-for-file-changes-in-this-l

[2020-11-30 09:52] jrieken commented on #111208
To _verify_

* have an extension snippet as show below
* rename/move a file
* make sure that you see a progress message after a shorting while
* make sure that pressing cancel actually cancels the operation, e.g the text edit isn't applied

[code]

[2020-11-30 09:53] jrieken commented on #83363
\closedWith 351e617

[2020-11-30 09:57] jrieken commented on #111456
Your steps, esp the changes in package.json, are for add snippets to an extension. E.g snippets that are available after installing that extension, not while authoring that extension.

Are you authoring an extension or just want to consume a snippet?

[2020-11-30 09:59] jrieken commented on #10565
To verify

* make sure that you can hide/show _extension_ snippets, not user nor workspace snippets, via "F1 > Insert Snippet"
* make sure that hidden snippets do not show in IntelliSense
* make sure that hidden snippets still show in "F1 > Insert Snippet"

[2020-11-30 10:01] mnr73 opened #111494 "there is an issue in search"
- VSCode Version: 1.51.1
- OS Version: windows 10 x64 10.0.18.363

Steps to Reproduce:

1. I search in my damaged file directory same thing in VScode and Brackets
2. in brackets find 15 files
3. in VScode find 7 files

![2020-11-30_13-19-53](https://user-images.githubusercontent.com/23061025/100595507-395fb900-3310-11eb-840c-c23a0a056101.jpg)

![2020-11-30_13-20-43](https://user-images.githubuserc

[2020-11-30 10:02] jrieken commented on #5312
To verify

* make sure there a new setting `editor.wordBasedSuggestionsMode`
* make sure the setting allow three modes: word based suggestion from the current document, from matching documents (e.g same language), and from all documents
* note that a document must be truly open for it to be included, e.g a tab that's restored after reload isn't considered

[2020-11-30 10:03] jrieken commented on #16038
To _verify_

* make sure that there are two code lens font settings (size, face) that allow to customise the code lense appearance
* try font features like ligatures

[2020-11-30 10:04] karltaylor commented on #111194
If you are seeing this issue after running `create-react-app` with Typescript, simply go down to the blue task bar and select the Typescript version, then select `Select TypeScript Version`.

<img width="647" alt="Screenshot 2020-11-30 at 10 02 26" src="https://user-images.githubusercontent.com/6763109/100595764-428e5d00-32f3-11eb-8f3b-74b045acb74f.png">

Then select `Use Workspace Version version

[2020-11-30 10:04] jrieken opened #111495 "Test extension bisect"
Refs: https://github.com/microsoft/vscode/issues/109841

- [x] anyOS @JacksonKearl
- [x] anyOS @meganrogge

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23111495%0A%0A)

---

There is a new extension bisect feature which allows to identify an extension causing an issue/annoyance

* use the attached extension [fresh-0.0.1.vsix.zip](https://github.com/mi

[2020-11-30 10:09] mnr73 commented on #111494
I checked all settings there is no exclude and I checked with different search settings

but brackets found all my lost file that I need them

[2020-11-30 10:10] usernamehw commented on #111471
Ok.

[2020-11-30 10:10] #111471 closed

[2020-11-30 10:11] weinand opened #111496 "Double click in commit edit box moves focus away"
Issue Type: <b>Bug</b>

When double clicking on a word in the commit edit box the keyboard focus goes back to the diff editor. This is painful because subsequent editing does not change the commit message but modifies the diff editor's contents.

Please note: I'm on macOS Big Sur

![2020-11-30_11-05-06 (1)](https://user-images.githubusercontent.com/1898161/100596716-c567e580-32fc-11eb-8d1c-f247927

[2020-11-30 10:16] joaomoreno opened #111497 "Accounts menu says "Loading..." on brand new oss launch"
Out of dev:

![image](https://user-images.githubusercontent.com/22350/100597258-838b6f00-32fd-11eb-8808-b8c9156d16d2.png)

[2020-11-30 10:17] j4t1nd3r commented on #111234
Its exactly the same issue but I do not think it is. The user mentions he/she has the issue in all terminals, bash, zsh... I only have the issue in integrated PowerShell terminals. I do not have this issue in bash, zsh or manually switching to a PowerShell 7.1.0 session. They all copy and paste instantly.

[2020-11-30 10:22] SilantevDenis commented on #110929
I set 0.01. That helped. Thank you

[2020-11-30 10:24] #110929 closed

[2020-11-30 10:24] MakiWolf opened #111498 "Process explorer accesibility"
![grafik](https://user-images.githubusercontent.com/73300633/100597485-cfd6af00-32fd-11eb-9ef4-b2a56880dd42.png)
![grafik](https://user-images.githubusercontent.com/73300633/100597552-e250e880-32fd-11eb-92a2-19ebff16341b.png)
Process explorer is not accesibility with the keyboard. It would be great when it also is accesibility with the keyboard and not only with the computer mouse.

[2020-11-30 10:24] zyllus17 commented on #111456
@jrieken I am authoring an extension. I wanted to create a snippet extension for Flutter, something like the [Flutter Widgets Snippets](https://marketplace.visualstudio.com/items?itemName=alexisvt.flutter-snippets). I read the documentation on VSCode and watched some videos and created a snippet and wanted to test the snippet if its working or not, but I didn't get any result as you can see in the

[2020-11-30 10:27] jrieken commented on #111456
You need to run (or bundle and install) you extension for the package.json information to be picked up

[2020-11-30 10:27] #111456 closed

[2020-11-30 10:50] joaomoreno commented on #108001
Fixed scenarios 2, 4

The others were all duplicates of https://github.com/microsoft/vscode/issues/99447, which is quite old 🤔

[2020-11-30 10:51] #108001 closed

[2020-11-30 10:52] zyllus17 commented on #111456
Do I need to bundle it everytime I add a new snippet, if I add 10 snippets one by one, do I need to bundle it ten times to test if its working or not?

Also for testing I added it to ```.vscode/extensions```, do I need to update the ```snippet.json``` file each time there as well to test it?

[2020-11-30 10:54] jrieken commented on #111456
You need to bundle (re-publish) your extension whenever you are making a change to it

[2020-11-30 10:55] zyllus17 commented on #111456
That is for everyone on VSCode to use it, but while authoring it and testing if it works properly or not, do I need to bundle it as well?

[2020-11-30 10:58] #111485 closed

[2020-11-30 10:59] jrieken commented on #111456
No, when developing you need run/debug your extension

[2020-11-30 11:02] sandy081 commented on #111482
Merge conflict is shown because your windows and linux machines have different values for some of the settings which cant merge automatically. In this case you have to merge manually and continue sync.

May I know what improvements you are thinking of?

[2020-11-30 11:05] sanket-bhalerao opened #111499 "minimap and editor code are not in sync."
Issue Type: <b>Bug</b>

steps to reproduce:
1. create a long typescript file with codelens enabled.
2. try to scroll using the minimap

observed output:
the minimap focus area and the text shown in the editor do not match.
the mismatch grows rapidly when you have a large file.

expected output:
minimap selection should match properly with the editor visible text.

VS Code version: Code - Insiders

[2020-11-30 11:07] sandy081 commented on #111478
Can you please elaborate what failed? If you got any errors? Can you please open Settings Sync Log in Output view in the bottom and let me know if there are any errors in the log?

[2020-11-30 11:08] IllusionMH commented on #111494
/needsMoreInfo

What do you mean under "damaged directory"?

Also VS Code might exclude ignored/excluded files.
Make sure that you have this toggle unchecked (no background)
![image](https://user-images.githubusercontent.com/1312662/100602866-226b9780-330d-11eb-807b-d83f811a9c33.png)

[2020-11-30 11:09] sandy081 commented on #111466
Please provide logs from following locations:

- Help -> Toggle Developer Tools -> Console
- Help -> Toggle Developer Tools -> Network (any failed requests)
- View -> Command Pallette... -> Toggle Shared Process -> Console
- View -> Open View… -> Log (Shared)
- View -> Open View… -> Log (Window)

Are you bending any network proxy settigns?

[2020-11-30 11:09] sandy081 commented on #111464
Can you please provide following logs?

- Help -> Toggle Developer Tools -> Console
- View -> Command Pallette... -> Toggle Shared Process -> Console
- View -> Open View… -> Log (Shared)
- View -> Open View… -> Log (Window)

[2020-11-30 11:12] sandy081 commented on #111443
Problems view gets updated automatically when an error is added/removed/updated. In your case, it means the corresponding extension is not updating. So please file issue against the extension.

[2020-11-30 11:12] #111443 closed

[2020-11-30 11:13] alexdima commented on #110472
Thank you for the extra information. It looks like the focus might be leaving the list when `AltGr+K` is pressed. AFAIK, `Alt` sometimes can move the focus to the menu, so I wonder if that is what is happening here. Does it make any difference when configuring `"window.titleBarStyle": "native"` ?

[2020-11-30 11:14] sandy081 commented on #110681
VS Code does not create/own any such variables in settings. It is extensions who own and resolve them at present.

[2020-11-30 11:17] chagai95 opened #111500 "Change size of terminal output."
Would like to make terminal text size bigger without having to make all VScode bigger.

I can not move the terminal to an new window like suggested [here](https://github.com/microsoft/vscode/issues/10121#issuecomment-315778189)

Happy for any workarounds.

[2020-11-30 11:21] mnr73 commented on #111494
I find why this happened
my files are damaged and some of them have some not binary data like image below

![2020-11-30_14-46-36](https://user-images.githubusercontent.com/23061025/100604203-754c4b80-331b-11eb-9d95-bcd71794d7f2.jpg)
![2020-11-30_14-47-12](https://user-images.githubusercontent.com/23061025/100604222-7aa99600-331b-11eb-9760-d55f3255d14f.jpg)

and VScode don't search in them

[2020-11-30 11:26] #110764 closed

[2020-11-30 11:26] #109132 closed

[2020-11-30 11:29] mnr73 commented on #111494
My files were lost by mistake
and I recovered them but they were damaged like picture

[2020-11-30 11:31] alexdima commented on #110997
@monisnap-julien Does it help to run with `code --disable-gpu`? I also don't quite think you suffer from the same issue, since the OP complains about the slowness appearing after upgrading to Big Sur.

[2020-11-30 11:41] runemadsen commented on #26398
This issue is definitely still a problem. There's a clear difference in scrolling quality between Atom and VS Code. VS Code feels like it's not quite following along with my mouse movements, and it makes me dizzy. This is independent of hardware since I've upgraded my Mac twice and the problem persists.

[2020-11-30 11:48] shira-g opened #111501 "Run view is blank when connected to SSH host, no debug options"
- VSCode Version:1.52.0-insider
Commit: 0a80aacc7be1ab03ec0f94b8ac1a84949a83f35d
Date: 2020-11-26T07:22:59.162Z (4 days ago)
Electron: 11.0.2
Chrome: 87.0.4280.63
Node.js: 12.18.3
V8: 8.7.220.24-electron.0

- OS Version: Darwin x64 19.6.0

Steps to Reproduce:

1. open Code - Insiders
2. connect to host using remote ssh
3. open Run view (or Run menu)
4. no options are shown
5. in addition- git repo

[2020-11-30 11:48] harshlavingia commented on #111482
Since windows and linux machines have different values, during the sync, it should maintain separate setting files that allow me to sync Windows VS code version and Linux VS Code version seperately.

[2020-11-30 11:50] IllusionMH commented on #111500
/question

1. Add shortcut for "Maximize/Restore Panel Size" (command `workbench.action.toggleMaximizedPanel`) and toggle it when necessary
1. Open new window VS Code just for terminal
1. Wait when #10121 implemented
1. Use separate terminal application and configure terminal.external.windowsExec` (`...linuxExec`, `...osxExec`) and `terminal.explorerKind` to use external terminal application
[Exam

[2020-11-30 11:58] vincentbudianto commented on #111464
I have also encountered this problem (Windows 10, vscode version 1.51.1).

Logs:
- Developer Tools Console
![image](https://user-images.githubusercontent.com/42698353/100607361-6ececb80-333d-11eb-92b5-97cc801afccf.png)

- Shared Process Console
![image](https://user-images.githubusercontent.com/42698353/100607300-5a8ace80-333d-11eb-9e70-07454ca9d7ca.png)

- Log (Window)
![image](https://user-image

[2020-11-30 12:00] ardhitama commented on #26398
Mine solved by using simpler color calibration LUT. Was using large LUT produced by DisplayCal, reverting back to Spyder's solved it.

[2020-11-30 12:03] Reflyer823 commented on #869
Thank you very much !
I found it really works for me.
And I can even exclude files except for two folders like this:
`"arch/*[!(arm|mips)]": true`
I hope it can help others in this issue.

[2020-11-30 12:05] ffMathy commented on #5923
4 years. The issue has been here for 4 years. Am I the only one who thinks it's crazy that this hasn't been worked on so far? I find it quite critical.

It also works very poorly with Error Gutters: https://marketplace.visualstudio.com/items?itemName=IgorSbitnev.error-gutters

[2020-11-30 12:08] madig commented on #26398
@ardhitama holy crap, switching back to the factory color profile also fixes this for me! Gotta recalibrate simply this time. Thanks!

[2020-11-30 12:08] tvvignesh commented on #111443
@sandy081 I agree that it refreshes automatically as you rightly said, but my issue was to allow triggering the refresh manually from a single place which will trigger the rechecking across all extensions. Isn't that possible?

[2020-11-30 12:10] chagai95 commented on #111500
Hey, this is not a question but a feature request. Why did you close it?

[2020-11-30 12:11] Daggerpov opened #111502 "Flatpak VSC Tkinter Installation"
- VSCode Version: 1.51.1 (**FLATPAK** version) NOTE: THIS ISSUE DOESN'T OCCUR WITH THE **DEBIAN** VERSION, THAT APPLICATION WORKS FINE FOR ME.
- OS Version: Pop! OS 20.10

The issue is that, despite having tkinter installed and the ability to run it through my terminal like so:

![image](https://user-images.githubusercontent.com/53918934/100608890-1ff04a00-32db-11eb-81bd-781dcd8fa590.png)

I could

[2020-11-30 12:21] olegKusov opened #111503 "Import suggestion don't work sometimes."
- VSCode Version: 1.51.1
- OS Version: macos 11.0.1

Steps to Reproduce:

1. press "cmd" + "." on function

When I press hotkey for import suggestion on function, very often nothing happens. There are 2 reasons. Sometimes it can't find exported function, but sometimes it can't execute toolbar menu with suggestion because hotkey don't work and I need to change system language 2-5 times, and after t

[2020-11-30 12:29] #111433 closed

[2020-11-30 12:36] IllusionMH commented on #111500
Sorry, but it's really unclear what you are requesting.

Then first line is about text size.
Missed that, but you already can do that with existing `terminal.integrated.fontSize` and `terminal.integrated.lineHeight` to control font only in integrated terminal.

My answer was to how provide more area for terminal (that what I've understand under "size of terminal output" and moving to other window)

[2020-11-30 12:37] weinand commented on #111501
I do not understand your issue.
How do you connect "using remote ssh"?
Are you seeing your project in the explorer?
What do you see in the "Run View"? Please provide a screenshot.
What do you expect to see in the "Run View"?

[2020-11-30 12:42] chagai95 commented on #111500
Thanks, what I meant was change the font size with scroll wheel feature, should I change the title?. I now understand that scrolling to change font size is probably only possible in editors...

[2020-11-30 12:47] isidorn commented on #105920
I verified that the Git actions are no longer shown in the context menu -> verified.
However the Git stage selected lines is still available in the command palette and triggering it has no effect. Ideally it should not be shown in the command palette.

[2020-11-30 12:48] Jason3S commented on #111234
For me copy/paste works fast enough, but typing stops and starts. I can get way ahead with just a few keystrokes. I am using zsh, not PowerShell.

[2020-11-30 12:49] Brawlence opened #111504 "Built-in git feature fails to discover ".git" folder"
Issue Type: <b>Bug</b>

Steps to reproduce:
1. Create a folder
2. Open it with VSCode
3. Navigate to Source Control
4. Press the "Initialize Repository" button
5. Note that the folder now has .git directory present; it's not shown in the VSCode folder hierarchy yet is present in filesystem

Expected behaviour:
VSCode's git feature registers the repo and displays branch name on the bottom ribbon.

[2020-11-30 12:54] Jason3S commented on #111234
Changing `Terminal > Integrated: Render Type` from `auto` to `canvas` seems to work for me.

![image](https://user-images.githubusercontent.com/3740137/100612551-77aaa780-3313-11eb-837a-874e782ff7a5.png)

[2020-11-30 12:57] shira-g commented on #111501
![Screen Shot 2020-11-30 at 14 47 02](https://user-images.githubusercontent.com/30695324/100612283-682f5c80-331b-11eb-9cad-3d17645a3593.png)

I'm connecting to remote server using the command palette: command "Remote-SSH: Connect to Host", then I open a project located on my remote server. Then I want to debug the (python) code, but I see nothing in the "Run view". I expect to see debugging option

[2020-11-30 12:58] Stakker commented on #26398
Color calibration? :-D Happy to hear it works for you, but I'm already using the default profile(s) :-/

[2020-11-30 13:08] alexr00 commented on #108443
@isidorn, before I try to change this: how would you expect debug to behave in this scenario?

[2020-11-30 13:10] IllusionMH commented on #111500
Unfortunately I have no rights to re-open this issue and I think it's better to open separate issue focused on changing font size with scroll (or at least key binding similar to `editor.action.fontZoomIn`) that won't have comments from this this thread which are off-topic to actual request.

[2020-11-30 13:11] ruifortes commented on #109782
I'm pretty sure this fix would take forever this if it wasn't Microsoft.... and the time was proportional to the available resources :-\

[2020-11-30 13:13] typoon commented on #111476
Supposing I want to add a <Ctrl+s> to the quick open context to open a new
editor below the current one and a <Ctrl+v> to open one to the left and a
<Ctrl+h> to open above. How would one do that using that setting?

I don't think there is a way to set that setting, execute
the `workbench.action.alternativeAcceptSelectedQuickOpenItem` action and
then restore the setting back to what it was.

On Mon

[2020-11-30 13:14] alexr00 commented on #111068
@sean-mcmanus I'm still unable to repro. Can you try with the latest insiders, which has the fix I mentioned?

[2020-11-30 13:15] rajeshkhanikar opened #111505 "Dano-Norwegian characters are not supported"
Issue Type: <b>Bug</b>

Dano-Norwegian characters are replaced by unicode special character.
Example: Borgs� instead of Borgsø

VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:34:32.027Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 9 3900X 12-Core Processor             (24 x 4325)|
|GP

[2020-11-30 13:15] ThibautBremand commented on #26729
+1

[2020-11-30 13:19] shira-g commented on #111501
I switched to VSCode stable version (not insiders) and there is no issue there.

[2020-11-30 13:19] j4t1nd3r commented on #111234
Solution / Workaround: I has discovered the source of the issue. In bash / zsh, copy paste is done via command key + c or v.

In the integrated terminal you can do this either via ctl or command. Using ctrl though, the paste happens much slower where as using command its instant.

As my background is windows until 2 months ago, I been using ctrl to copy paste instinctively without realising it and

[2020-11-30 13:28] joaomoreno commented on #111496
This is **really** strange.

[2020-11-30 13:30] isidorn commented on #108443
@alexr00 ideally debug would simply not complain in this case and wait indefenitely.
The issue is this timeout [here](https://github.com/microsoft/vscode/blob/f5fb75d82916e54ef0ec6488627eb4dc1d56fabf/src/vs/workbench/contrib/debug/browser/debugTaskRunner.ts#L178) that does not take into account that a user is about to enter input.

[2020-11-30 13:32] thadjbullet commented on #111478
It shows error "request limit exceeded"

[2020-11-30 13:32] #111455 closed

[2020-11-30 13:33] alexr00 commented on #109460
@chrmarti you could add a `color` option to the `options` here: https://github.com/Microsoft/vscode/blob/f9f2637f794fb728b32d39c25e9eb8a5763afe1d/src/vs/base/browser/ui/actionbar/actionbar.ts#L266-L267

[2020-11-30 13:33] bpasero commented on #111476
/duplicate https://github.com/microsoft/vscode/issues/108405

[2020-11-30 13:34] #111476 closed

[2020-11-30 13:35] lszomoru commented on #107152
Verified changes by looking at the telemetry.

[2020-11-30 13:41] ypz-git opened #111506 "ssh sever can not be deleted"
Issue Type: <b>Feature Request</b>

unable to delete the ssh sever name I miswrited

VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:34:32.027Z)
OS version: Windows_NT x64 10.0.18363

[2020-11-30 13:47] sandy081 commented on #111478
/duplicate

#91286

[2020-11-30 13:47] #111478 closed

[2020-11-30 13:49] sandy081 commented on #111443
I do not think so and such command/task shall be contributed by extensions so that they can rebuild / reconcile the problems.

[2020-11-30 13:51] sandy081 commented on #111464
Seems you are not able to connect to Marketplace - can you please check if you can access Marketplace from browser?

https://ms-python.gallerycdn.vsassets.io/extensions/ms-python/python/2019.8.29288/1565127378610/Microsoft.VisualStudio.Services.Icons.Default

[2020-11-30 13:52] sandy081 commented on #111482
/duplicate

Ok, seems you need platform specific settings - https://github.com/microsoft/vscode/issues/5595

[2020-11-30 13:53] #111482 closed

[2020-11-30 13:57] bpasero commented on #110694
With https://github.com/microsoft/vscode/issues/109224 at least for files in the same folder, the label will be much shorter now:

**Before**
![image](https://user-images.githubusercontent.com/900690/100618579-5306fd80-331c-11eb-907a-193864c52c43.png)

**After**
![image](https://user-images.githubusercontent.com/900690/100618603-58644800-331c-11eb-9c0b-b3056231ba44.png)

[2020-11-30 14:00] aeschli opened #111507 "focus stolen from git commit input box"
Version: 1.52.0-insider
Commit: f47aae014cf8567f648e68369d66b4106ae89f08
Date: 2020-11-30T05:43:45.625Z
Electron: 11.0.2
Chrome: 87.0.4280.63
Node.js: 12.18.3
V8: 8.7.220.24-electron.0
OS: Linux x64 5.3.0-64-generic

- have some changes in the git view
- enter a commit message
- select a changed element, diff editor shows
- double click on a word in the commit message
- the focus on the  git commi

[2020-11-30 14:12] dbaeumer opened #111508 "Test: new LSP concepts"
Refs: https://github.com/microsoft/language-server-protocol/milestones/3.16

- [x] anyOS @aeschli

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23111508%0A%0A)

---

A couple of new concepts have been added to LSP for the upcoming 3.16 version. We should review these concepts to ensure that they

1. fit into the LSP model
1. don't cause harm to existin

[2020-11-30 14:15] Jason3S opened #111509 "Integrated Terminal is very slow when typing"
Version: 1.51.1
Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
Date: 2020-11-11T01:11:34.018Z
Electron: 9.3.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 20.1.0

I'm not using powershell. Just the standard Mac OS zsh.

I tried:
[code]

But it didn't seem to make a difference.

I also tried setting the `rendererType` to other values, but that didn't seem to hel

[2020-11-30 14:16] Jason3S commented on #111509
This slow down correlated with upgrading to Big Sur.

[2020-11-30 14:18] usernamehw commented on #111509
/duplicate of #105446

[2020-11-30 14:18] joaomoreno commented on #111507
#111496

Makes me think it's something new? Can't be a coincidence that both @weinand and @aeschli saw it within 1 hour of each other?

[2020-11-30 14:18] #111507 closed

[2020-11-30 14:19] #111509 closed

[2020-11-30 14:20] alexr00 commented on #58836
@DanTup any errors in the developer tools?

You **must** use the exact same object for the task definition, and there should be an error for that in the dev tools since it looks like you're creating a new definition.

[2020-11-30 14:27] GitBashing opened #111510 "I think VSCode is loading previous of file in my Flask app"
Issue Type: <b>Bug</b>

Since I have changed the directory of the project VSCode is loading old versions of the HTML and CSS files. When I removed `style.css` from` /static` the problem persisted, still loading some old version of `style.css`. I have tested this by running the flask app from text editor in Kubuntu and it runs as expected, no faults with previous versions of `style.css` or `index.h

[2020-11-30 14:31] joaomoreno commented on #110564
@MarcusTomlinson Any findings?

[2020-11-30 14:43] alexr00 commented on #110795
To verify, please review the JS doc for the API proposal:

https://github.com/microsoft/vscode/blob/627ad0b4ee553d233b80336ebb241f911e4bff07/src/vs/vscode.proposed.d.ts#L226-L231

[2020-11-30 14:44] MarcusTomlinson commented on #110564
Hi sorry yes, I managed to get the flutter snap to behave by fiddling with its environment. Still need to clean it up and publish, but anyway it’s apparently not a VS Code issue.

[2020-11-30 14:44] #110564 closed

[2020-11-30 14:48] wesbos opened #111511 "Semantic Highlighting token types does not apply to primitive types"
Looks like Semantic highlighting does not highlight primitive types

Version: 1.51.1
Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
Date: 2020-11-11T01:11:34.018Z (2 wks ago)
Electron: 9.3.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.6.0

Steps to Reproduce:

1. Paste the following code in a `test.ts` file:

[code]

2. Notice how `string` is not highlighte

[2020-11-30 14:49] DanTup commented on #58836
@alexr00 there was an error in the console (and it pops up as a notification), though it seems incorrect/misleading:

![Screenshot 2020-11-30 at 14 44 35](https://user-images.githubusercontent.com/1078012/100623885-aa0bd300-331a-11eb-8ed4-acc55dc132b1.png)

You were right though - it was because I was creating new objects for the definition. It may be useful to detect this and report a clearer err

[2020-11-30 14:49] alexr00 opened #111512 "Test vscode.open in the NPM scripts view"
Refs: #110497

- [x] macOS @alexdima
- [x] linux @rebornix
- [x] windows @lszomoru

Complexity: 1

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23111512%0A%0A)

---

1. Open a project with NPM scripts.
2. In the Explorer viewlet, right click and make the NPM scripts view visible.
3. Click on a script in the NPM scripts view to open the package.json file at the script

[2020-11-30 14:50] dlgombert commented on #111197
Okay - I updated windows to 10.0.19042 and the problem seems to be resolved.  Hurrah!  Will mark closed.

[2020-11-30 14:50] #111197 closed

[2020-11-30 14:50] alexr00 commented on #110497
@connor4312 and @jrieken FYI I have made a test plan item for NPM scripts, but we will still need test items for the other extensions.

[2020-11-30 14:54] Eldaw opened #111513 "Text gets automatically selected on last active line, in non-focussed editor in Split Editor"
- VSCode Version: 1.51.1
- OS Version: Windows 10 20H2, Build 19042.630

When using the Split Editor feature with the same file open on both sides, text that is entered on the line that was last active on the editor that doesn't have focus, gets automatically selected.

Steps to Reproduce:

1. Start with just one file visible in the only visible editor. See the screenshot below. Notice that the te

[2020-11-30 15:05] weinand commented on #111507
@joaomoreno I've seen this for about two weeks, but I couldn't reliably reproduce this. Whenever I tried to record it, it stopped from occurring.

[2020-11-30 15:06] arjunguha commented on #100840
Very helpful. Thanks. I'm using Source Code Pro Version 2.030;PS 1.0;hotconv 16.6.51;makeotf.lib2.5.65220 and MacOS 11.0.1. Setting `"editor.fontLigatures": "'ccmp' off"` did *not* work for me.

However, removing 'Source Code Pro' from `"editor.fontFamily"` resolves the problem.

[2020-11-30 15:11] alexr00 opened #111514 "Test "npm.packageManager": "auto""
Refs: #102050

- [x] macOS @egamma
- [x] linux @joaomoreno
- [x] windows @tanhakabir

Complexity: 2

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23111514%0A%0A)

---

The new default of the `npm.packageManager` setting is `auto`. Test the `auto` setting:
1. Open a project with a package.json. Make sure that `npm.packageManager` is set to `auto`. Do a `yarn`. Also do

[2020-11-30 15:14] jrieken commented on #110497
I have a verificated-needed item for this

[2020-11-30 15:18] alexr00 opened #111515 "Test tree markdown tooltip API"
Refs: #100741

- [x] macOS @jrieken
- [x] linux @joaomoreno
- [x] windows @eamodio

Complexity: 4

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23111515%0A%0A)

---

Test the the `TreeDataProvider`'s `resolveTreeItem` and the `TreeItem`'s `tooltip: MarkdownString` API. You can modify the [test view](https://github.com/microsoft/vscode-extension-samples/blob/master/tr

[2020-11-30 15:25] bpasero commented on #110497
I had this for my https://github.com/microsoft/vscode/issues/111417 already spelled out:

![image](https://user-images.githubusercontent.com/900690/100628576-a67f4880-3328-11eb-9ede-70e30cb5a79d.png)

Maybe I leave my thing in for SCM at least (@joaomoreno fyi)

[2020-11-30 15:27] alexr00 commented on #93403
To verify, execute the "Run Task" command. Verify that there is an inline action to remove individual recent tasks and that the action does what you'd expect.

[2020-11-30 15:30] alexr00 commented on #61579
The references view has used this API for a long time. To verify, read the inline documentation for the API and make sure it makes sense: https://github.com/Microsoft/vscode/blob/01bbb81052086edf3398e599f218e189c44b0658/src/vs/vscode.d.ts#L8958-L8958

[2020-11-30 15:31] dhanashrisakharkar opened #111516 "cmd.exe"
Issue Type: <b>Bug</b>

The terminal process failed to launch: Path to shell executable "cmd.exe" does not exist.

VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:34:32.027Z)
OS version: Windows_NT x64 6.3.9600

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-2310M CPU @ 2.10GHz (4 x 2095)|
|GPU Status|2d_canvas: ena

[2020-11-30 15:32] RMacfarlane commented on #111468
@sairaghavak Can you copy the log from the "GitHub Authentication" output channel?

[2020-11-30 15:32] sbatten commented on #111395
@heartacker it is already possible to drag the panel out from the status bar using the mouse. hover over the editor-status bar border and drag upward.

[2020-11-30 15:32] #111395 closed

[2020-11-30 15:33] joaomoreno opened #111517 "Test: API Welcome view button enablement"
Refs: #106487

- [x] anyOS @jrieken
- [x] anyOS @rzhao271

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23111517%0A%0A)

---

Test that you can add an `enablement` field to [contributed welcome view content](https://code.visualstudio.com/api/extension-guides/tree-view#welcome-content) of an extension. This field should contain a context key expression

[2020-11-30 15:35] alexr00 commented on #78316
\closedWith 551db7ec94f02a4bdc8999092cf8bef642b3992d

[2020-11-30 15:36] joaomoreno opened #111518 "Test: Optional branch picking in the Git repository picker API"
Refs: #106664

- [x] anyOS @RMacfarlane
- [x] anyOS @gregvanl

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23111518%0A%0A)

---

The `git.api.getRemoteSources` command now accepts a `branch: boolean` field which, when `true`, prompts the user to pick a branch. Please follow the spec and example below, in order to create a sample extension which uses t

[2020-11-30 15:42] bpasero commented on #110694
The UI challenge here is really that we have many settings that enable a `description` to appear besides the main editor label (e.g. when you disable tabs) and we typically put the relative path of the file to the root in there, if we did something like that for diff editors, it would end up like this:

![image](https://user-images.githubusercontent.com/900690/100630511-ea734d00-332a-11eb-96dc-d89

[2020-11-30 15:42] joaomoreno opened #111519 "Test: Git uses `vscode.open` and `vscode.diff`"
Refs: #110397

- [x] macOS @bpasero
- [x] linux @JacksonKearl
- [x ] windows @eamodio

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23111519%0A%0A)

---

The git extension changed considerably the way it opens files/diffs from the SCM view.

- Test that opening new files, deleted files, changed files, etc, works as expected
- Test that the standard tre

[2020-11-30 15:42] mureni opened #111520 "TypeScript server crashes when refactoring function parameter erroneously named as reserved word "default""
Issue Type: <b>Bug</b>

When pressing hotkey or using context menu to rename a function parameter named `default` inside of an arrow function, a tooltip pops up with the output of a TypeScript Server Error (in this case, 4.1.1-rc). The output is: "Expected export symbol to have a parent" followed by a stack trace of tsserver.js. That said, this might be better to assign as an issue to that project

[2020-11-30 15:45] joaomoreno commented on #111516
Can you show me a screenshot of the error?

[2020-11-30 15:49] RMacfarlane commented on #88309
Not completely, we have a very small list of extensions that are opted into being able to use the proposed API. This helps us iterate on and test API, but is also a source of occasional pain as we've sometimes unintentionally broken these extensions.

[2020-11-30 15:51] manmaor commented on #107337
I'm experiencing a similar problem, using ugee m708 pen tablet.
I can click, but i can't scroll, drag or select using the tablet, although I can scroll in the developer tools.

[2020-11-30 15:52] chrmarti commented on #109460
@alexr00 Would it be easier to use if `ThemeIcon.asClassName()` also returned a class for the color?

[2020-11-30 16:01] alexr00 commented on #109460
@aeschli for adding a classes for theme colors.

[2020-11-30 16:04] meganrogge commented on #111502
I think your path to the installation is wrong. [This ](https://stackoverflow.com/questions/37380957/tkinter-module-not-found) might help

[2020-11-30 16:09] isidorn commented on #111501
If you F1 > developer tools > do you see some errors in the Devoloper Console?
Did this start happening in the last couple of days?

[2020-11-30 16:16] joaomoreno commented on #110497
@bpasero I have this for Git/SCM: https://github.com/microsoft/vscode/issues/111519

[2020-11-30 16:21] bpasero commented on #110497
Ok good then I will simply remove that part from my test plan item, thanks for covering it in other issues 👍

[2020-11-30 16:24] deepak1556 commented on #110457
Is vscode launched via remote X11 server ? Can you try launching with `--no-xshm` ?

[2020-11-30 16:26] #92658 closed

[2020-11-30 16:28] eamodio opened #111521 "Support a way to have nightly/insiders versions of extensions not activate if "main" extension is installed/enabled"
More an more, extension authors are providing a nightly/insiders version of their extensions. Which can cause issues for end-users if they have both versions installed. And today, extension authors can't properly deal with this because of the static contributions -- which can cause a bad end-user experience.

Since we have a `preview` flag in `package.json`, I would propose that we add a new `prev

[2020-11-30 16:28] #111046 closed

[2020-11-30 16:30] eamodio opened #111522 "Push runs indefinitely over SSH remote"
Trying to push over an SSH remote fails to ever complete, and no errors are seen.

[2020-11-30 16:30] scrobby opened #111523 "Adding Codespace to Home Screen Doesn’t Work"
- VSCode Version: Unsure - have tested on both stable and beta versions of GitHub Codespaces
- OS Version: iPadOS 14.2

Steps to Reproduce:

1. Open a Codespace in Safari and add it to the homescreen
2. Try to use it
3. The app will launch (in full screen, as is the desired effect) but it just hangs on "Preparing your Codespace"/"Connecting…"

Does this issue occur when all extensions are disabled

[2020-11-30 16:33] WissenIstNacht commented on #25887
+1 for this.

[2020-11-30 16:36] aeschli commented on #110180
![](https://code.visualstudio.com/assets/updates/1_51/suggest-left.gif)

I think you misunderstood the feature. This is about when code completion is open (Ctrl +Space) you can move the cursor to the left and will see additional proposals.

[2020-11-30 16:36] #110180 closed

[2020-11-30 16:39] eamodio opened #111525 "Tree item hovers sometimes stick"
I don't have a reproducible case, or steps, but sometimes the new tree item hovers get stuck and won't hide -- unless you hover directly over another item in the same tree.

[2020-11-30 16:43] ayush987goyal commented on #110542
Hi, any update on this issue? I am seeing this constantly after every restart.

[2020-11-30 16:47] Daggerpov commented on #111502
That's actually not the solution to my issue, however, I found out that simply by using the Debian version of VSCode I could remedy it instead of using the Flatpak version.

[2020-11-30 16:50] CameronBieganek opened #111526 "Option to disable the (new) persistence of the suggestions bubble"
VS Code [recently added a feature](https://code.visualstudio.com/updates/v1_51#_move-cursor-to-select-suggestions) that persists the suggestions box/bubble while moving the cursor through a word. However, as far as I can tell, there is no option to disable this feature.

The problem with this feature is that now the only way to get rid of the suggestions bubble is to hit the escape key. I used to

[2020-11-30 16:56] sandy081 opened #111527 "Test Synchronising Global State"
Testing https://github.com/microsoft/vscode/issues/109896

- [x] anyOS @bpasero
- [x] anyOS @tanhakabir

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23111527%0A%0A)

---

## Set Up

You can use two insiders opened with different user data directory (`--user-data-dir`) and extension directory (`--extensions-dir`) for test syncing across machines.

## T

[2020-11-30 16:59] sbatten commented on #110542
@ayush987goyal I have not seen this or other reports of it. is there anything additional you can share that might make your setup unique? e.g. you say most of the recent folders, but not all? also, do you have VS Code installed in you applications folder?

[2020-11-30 17:04] ayush987goyal commented on #110542
Yes VS Code is installed in the applications folder. Is that a concern?

What more information do you need from my side (which is not already a part of the issue template)

[2020-11-30 17:05] #31851 closed

[2020-11-30 17:10] rzhao271 commented on #111351
The issue still occurs for me depending on the zoom level.

[2020-11-30 17:13] rzhao271 commented on #111324
It's still nullref for me:

https://twitter.com/intent/tweet?nullref_src=twsrc^tfw&related=twitterapi,twitter&text=Testing&tw_p=tweetbutton&via=code

[2020-11-30 17:15] bridgetowisdom opened #111528 "Consider using a new CSS grammar: Support highlighting comments for JavaScript and CSS codes in HTML"
Issue Type: <b>Bug</b>

Hello,
While using Visual Studio Code, I noticed that attempting to comment JavaScript and CSS codes (for the sake of compatibility with very old browsers) produce highlighting errors in comments, a syntax error in JavaScript saying that an expression was expected when commenting the JavaScript, and a highlighting error in the rest of the code.

I am using Monokai as the co

[2020-11-30 17:19] sandy081 commented on #111351
@rzhao271 Thanks for checking.

Can you please check if you can repro the same in stable?

[2020-11-30 17:22] sandy081 commented on #110721
To verify:

Tip: Use fresh user data dir and extensions dir

- Turn on Settings Sync
- Open a folder that has workspace recommendations
- Wait until workspace recommendation notification appears
- Verify that Install button has a drop down with `Install (Do not sync)` action
- Verify that these actions are working as expected
- Verify that notification is closed after performing an action

[2020-11-30 17:25] eamodio opened #111529 "Provide a way for extensions to call `authentication.getSession` that won't result in any prompts"
Today as an extension, there are 2 ways to call `authentication.getSession`:

1. `authentication.getSession(<id>, <scopes>, { createIfNone: true })`
2. `authentication.getSession(<id>, <scopes>, { createIfNone: false })`

The first case is typically used when there is an explicit user action to an extension that the extension requires auth for -- so in theory a prompt/auth flow is expected.

While

[2020-11-30 17:26] #109328 closed

[2020-11-30 17:26] sandy081 commented on #109023
To verify

- Browse for an extension and disconnect from internet
- Install the extension and make sure you get above prompt

[2020-11-30 17:27] rzhao271 commented on #111351
@sandy081 it does not repro in stable 1.51.1.

[2020-11-30 17:32] dhanashrisakharkar commented on #111516
[image: image.png]

On Mon, Nov 30, 2020 at 9:15 PM João Moreno <notifications@github.com>
wrote:

[2020-11-30 17:33] sandy081 opened #111531 "Test contributing codicons for views and view containers"
Testing https://github.com/microsoft/vscode/issues/106348

- [x] AnyOS @lszomoru
- [x] AnyOS @sana-ajani

Complexity 2

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23111531%0A%0A)

---

You can now contribute codicons for view or view container icons. Eg: `"icon": "$(code)"` Refer https://microsoft.github.io/vscode-codicons/dist/codicon.html for codicons.

You can u

[2020-11-30 17:36] sbatten commented on #110542
Can you provide more details on which folders disappear and which do not?

[2020-11-30 17:38] joerglehmann commented on #101014
@philsinatra here you go!

[vscode-insiders.icns.zip](https://github.com/microsoft/vscode/files/5617604/vscode-insiders.icns.zip)

![vscode-insiders](https://user-images.githubusercontent.com/157274/100644037-18f92400-333b-11eb-8bda-7b07a2d6f42f.png)

[2020-11-30 17:40] sandy081 commented on #111351
I cannot repro it on insiders either - which version of insiders are you on?

[2020-11-30 17:41] rzhao271 commented on #111351
I'm on the latest,

Version: 1.52.0-insider (user setup)
Commit: 0a80aacc7be1ab03ec0f94b8ac1a84949a83f35d
Date: 2020-11-26T07:36:22.965Z
Electron: 11.0.2
Chrome: 87.0.4280.63
Node.js: 12.18.3
V8: 8.7.220.24-electron.0
OS: Windows_NT x64 10.0.19042

[2020-11-30 17:41] ananthchellappa opened #111532 "False report about currently using WSL 1"
- VSCode Version: 1.51.1
- OS Version: Win 10 Home Ver 204 OS build 19041.630 Win FEature Exp Pack 120.2212.31.0
- WSL Ubuntu 20.04 (WSL2 installed more than one month ago)

Steps to Reproduce:

1. Go to a folder using WSL TTY and then launch VS Code using "code .".

Does this issue occur when all extensions are disabled?: DK

![image](https://user-images.githubusercontent.com/60458835/100644517-0

[2020-11-30 17:42] sandy081 commented on #111351
Ok, I see. Latest insiders that has the fix is frozen because of a bug. The insiders version which you are on does not have the fix. So please wait for next insiders to verify.

[2020-11-30 17:45] philsinatra commented on #101014
Awesome! Thank you @joerglehmann

[2020-11-30 17:48] sandy081 commented on #110410
To verify - Make sure you have some entries in Problems view and when you open it you do not see any infinite loop as above.

[2020-11-30 17:49] IllusionMH commented on #111532
Do you see any distributions with version `1` if you run `wsl --list -v`?

[2020-11-30 17:51] sandy081 commented on #106989
@lszomoru can you please verify this/

[2020-11-30 17:53] sandy081 commented on #99963
This button is moved under to manage action.

[2020-11-30 17:54] DonJayamanne commented on #107424
@jrieken Does this new API support concatenating output received from terminals.

For instance today we handle progress bars displayed in terminals.
We handle the command [Cursor Up](https://docs.microsoft.com/en-us/windows/console/console-virtual-terminal-sequences#simple-cursor-positioning) when concatenating the stdout/stderr.

[2020-11-30 17:56] #111357 closed

[2020-11-30 17:56] misolori commented on #111357
Removed the references to `.twisties` to be consistent, fyi @sbatten

[2020-11-30 17:59] misolori commented on #111357
For verification:
- Create a split view in the panel
- Inspect the folding chevron w/ dev tools
- Ensure the icon does not use `twisties` in either expanded or collapsed views
![image](https://user-images.githubusercontent.com/35271042/100646270-a95f4680-32f2-11eb-9ebf-2dd50ef74cca.png)

[2020-11-30 18:09] tbenst commented on #108319
I see the same error on a fresh install of the latest `.deb`, version `1.51.1`, on Ubuntu 18.04.

https://github.com/microsoft/vscode/issues/108304 can be fixed by:
[code]

[2020-11-30 18:14] roblourens commented on #111494
Glad you figured out the problem, we don't search in files that look like binary files, doing this would make search slower.

[2020-11-30 18:14] #111494 closed

[2020-11-30 18:16] sandy081 commented on #111521
As per our last discussions with Marketplace team, they are planning to work on enabling beta releases for extensions - https://github.com/microsoft/vscode/issues/15756. It seems to be an intermediate solution and once we have beta versions support from  Marketplace, this approach might become invalid/redundant.

[2020-11-30 18:18] roblourens commented on #110360
It seems like this is working in insiders for you already. Just make sure you have the same settings set between insiders and stable. There should be no important difference in vscode between the two.

[2020-11-30 18:19] roblourens commented on #111117
Sorry, I can't do anything about this without more details.

[2020-11-30 18:19] #111117 closed

[2020-11-30 18:25] RMacfarlane opened #111533 "Test: experiment info in issue reporter"
Refs: https://github.com/microsoft/vscode-internalbacklog/issues/1607

- [x] anyOS @egamma
- [x] anyOS @lszomoru

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23111533%0A%0A)

---

The issue reporter now sends information about what A/B experiments a user is in. There is a new "Include A/B experiment info" button at the bottom of the reporter. Toggling

[2020-11-30 18:33] shira-g commented on #111501
yes I noticed it today only (I didn't use it in the last 3 days, but before that it was fine).
If you mean F1 > Toggle Developer Tools then yes there are few errors:

![Screen Shot 2020-11-30 at 20 33 00](https://user-images.githubusercontent.com/30695324/100649530-3f26c000-334b-11eb-8cb9-72e724b54eb2.png)
[-1606760927879.log](https://github.com/microsoft/vscode/files/5618010/-1606760927879.log)

[2020-11-30 18:36] roblourens commented on #111407
Was one of those open in an editor when you ran this search?

[2020-11-30 18:40] misolori commented on #111403
I wonder if when you click on the status bar item we show a quick pick with these two options?

![image](https://user-images.githubusercontent.com/35271042/100650193-67390380-32f8-11eb-8924-1bc09800016a.png)

[2020-11-30 18:40] roblourens commented on #95029
Thanks for the ping. We do this periodically and I'll do it in December (we are stabilizing the November release this week), but I would accept a PR next week too.

[2020-11-30 18:44] rzhao271 commented on #109101
Just to double-check:
If I close the browser window, then click on the status bar item, then dismiss the quick pick, the sign-in process is cancelled. Is that the new flow?
I notice on the stable version that after dismissing the quick pick, the status bar item remains.

[2020-11-30 18:44] roblourens commented on #111348
I think the reason for this is because you can reference the workspace folder's configured name from a search (only from the search view) and this gets resolved in QueryBuilder. But yeah it should be possible to just pass a URI into this without creating a fake workspace folder.

[2020-11-30 18:45] RMacfarlane commented on #109101
Yes, thanks for checking, that's correct! The status bar item should be removed

[2020-11-30 18:58] rzhao271 commented on #104836
`Reindent Lines` is still broken for me on this case:
[code]
`Format Document` works on it, though.

[2020-11-30 19:10] JacksonKearl commented on #111438
@roblourens Not sure if we want this to be case insensitive, but ripgrep does support `--iglob` instead of `-g`, to be used here https://github.com/microsoft/vscode/blob/5afc5cd1601dced3413ffa9a420daa12c80a30aa/src%2Fvs%2Fworkbench%2Fservices%2Fsearch%2Fnode%2FripgrepTextSearchEngine.ts#L390.

[2020-11-30 19:11] rndware commented on #3553
@ctf0 I managed to get your solution to work partially.

In my use case I don't want to have to right click a file or folder in the explorer view each time I want to run my extension. Instead  I want to use a simple keyboard shortcut.

I tried binding "extension.hello_world" to a keyboard shortcut in my keybindings.json:

[code]

But if I'm focused on the explorer view and do <C+h> I find the foll

[2020-11-30 19:28] WadhahEssam commented on #107103
tried everything, still everything is lagging

[2020-11-30 19:31] sean-mcmanus commented on #111068
Yeah, it's fixed with the latest Insiders, thanks (it repros with non-Insiders).

[2020-11-30 19:31] #111068 closed

[2020-11-30 19:33] roblourens commented on #111438
https://github.com/microsoft/vscode/issues/10633

[2020-11-30 19:33] #111438 closed

[2020-11-30 19:37] cmawhorter commented on #13953
hopefully saving someone else the trouble -- even if you are using typescript adding node_modules to the tsconfig exclude doesn't resolve the issue anyway. no matter what i try node_modules is included in the files scanned.

i didn't try adding it to the list of files totally excluded by vscode (like **/.git) because... i need it. so...

[2020-11-30 19:46] DonJayamanne opened #111534 "Replacing notebook cells results in new cells being inserted"
- Version: 1.52.0-insider
- Commit: 0a80aacc7be1ab03ec0f94b8ac1a84949a83f35d
- Date: 2020-11-26T07:22:59.162Z
- Electron: 11.0.2
- Chrome: 87.0.4280.63
- Node.js: 12.18.3
- V8: 8.7.220.24-electron.0
- OS: Darwin x64 20.1.0

Steps to Reproduce:

1. Clone GithuB issues Notebook Repo https://github.com/microsoft/vscode-github-issue-notebooks.git
2. Add the following code into `commands.ts`
[code]
Add

[2020-11-30 19:47] phatmann commented on #13953
As far as I can tell, all the imported node_module files get scanned even if node_modules is excluded.

[2020-11-30 19:47] rajinder-yadav commented on #97395
chromium fails session restore for me also

[2020-11-30 19:54] almaceleste commented on #111311
ahaha, you did it anyway!
due to such an unfinished implementation, for many language extensions it is necessary to solve this problem with the folding providers. this creates tones of unnecessary code, increases the load and threatens with additional bugs. instead of solving the problem in one place, you decided to legitimize the unfinished state. not the most efficient solution in my opinion, bu

[2020-11-30 19:58] robin-pham commented on #78438
encountered this yesterday on vscode version 1.51.1 and catalina 10.15.7. Have since restarted my computer and the issue disappeared (seems flakey) but if I reproduce it again, will try to investigate.

[2020-11-30 19:59] sweettyler opened #111535 "does the latest insider version need libxkbcommon.so.0?"
Just downloaded the latest insider version this morning:

code-insider-x64-1606763307.tar.gz

and got the following error message at launch:

error while loading shared libraries: libxkbcommon.so.0: cannot open shared object file: No such file or directory

code-insider-x64-1606111121.tar.gz, which is the second latest version, works with no problem.

- VSCode Version: 1.52.0-insider
- OS Version:

[2020-11-30 20:06] #111535 closed

[2020-11-30 20:06] sweettyler commented on #111535
it does.

[2020-11-30 20:13] rebornix commented on #106679
Closing since we have recommendation posted above.

[2020-11-30 20:15] rebornix commented on #110492
/extPython

[2020-11-30 20:15] rebornix commented on #110555
/extPython

[2020-11-30 20:15] #110492 closed

[2020-11-30 20:15] #110897 closed

[2020-11-30 20:15] rebornix commented on #110526
/extPython

[2020-11-30 20:15] #110585 closed

[2020-11-30 20:16] #110555 closed

[2020-11-30 20:16] #110526 closed

[2020-11-30 20:16] rebornix commented on #110749
/extPython

[2020-11-30 20:17] rebornix commented on #110942
/extPython

[2020-11-30 20:17] rebornix commented on #110934
/extPython

[2020-11-30 20:17] #110749 closed

[2020-11-30 20:17] #110942 closed

[2020-11-30 20:17] #110934 closed

[2020-11-30 20:18] alexdima commented on #110897
Sorry about this!

[2020-11-30 20:18] rebornix commented on #111437
/extPython

[2020-11-30 20:18] #111437 closed

[2020-11-30 20:19] #111355 closed

[2020-11-30 20:19] #111283 closed

[2020-11-30 20:19] rebornix commented on #111093
/extPython

[2020-11-30 20:20] RobertCraigie opened #111537 "HTML autocomplete outputs </[object Object]>"
- VSCode Version: 1.52.0-insider
- OS Version: Windows_NT x64 10.0.19041

When there is no valid HTML tag to close </[object Object]> is filled in and while neither are really valid, I would have expected </> to be filled in instead.

Fairly certain this is a monaco bug as I originally discovered this issue on [https://play.tailwindcss.com/](https://play.tailwindcss.com/)

Steps to Reproduce:

1.

[2020-11-30 20:21] rebornix commented on #110618
/extPython

[2020-11-30 20:21] rebornix commented on #110181
/extPython

[2020-11-30 20:21] #110618 closed

[2020-11-30 20:21] #99530 closed

[2020-11-30 20:21] rebornix commented on #110986
/extPython

[2020-11-30 20:21] #110181 closed

[2020-11-30 20:22] #110986 closed

[2020-11-30 20:23] rebornix commented on #111404
/extPython

[2020-11-30 20:24] rebornix commented on #111122
/extPython

[2020-11-30 20:24] #111404 closed

[2020-11-30 20:24] sandy081 commented on #99530
Verify that
- Keybindings editor search input supports history which can be navigated using up/down arrows.
- History is synchronised across windows and machines

[2020-11-30 20:24] #111122 closed

[2020-11-30 20:26] alexdima commented on #111248
@NaturalFigurehead I have looked at the CPU profile, but there is nothing that appears to originate from our JS on the UI thread. I do see an entry for `(program)`, which indicates that the profiler did not hit a JS stack, so perhaps the renderer process is busy doing something Electron. Does it help to close all vscode instances and execute `code --disable-gpu` or `code --disable-renderer-accessi

[2020-11-30 20:28] rebornix commented on #111450
/extPython

[2020-11-30 20:28] #111450 closed

[2020-11-30 20:36] alexdima commented on #111141
Duplicate of #11387

[2020-11-30 20:36] #111141 closed

[2020-11-30 20:38] sean-mcmanus opened #111538 "Edits to tasks.json don't take effect when Run Build Task is used (until a Reload Window is done)"
- VSCode Version: Version: 1.52.0-insider (user setup) or 1.51.1
Commit: ac165d7f974d70212be80cb15eaecfc1fd20b21a
Date: 2020-11-30T17:36:25.607Z
Electron: 11.0.2
Chrome: 87.0.4280.63
Node.js: 12.18.3
V8: 8.7.220.24-electron.0
OS: Windows_NT x64 10.0.19042
- OS: Host is Windows, remote target is Linux Ubuntu 20 (via WSL 2).

Steps to Reproduce:

1. Make a change to a task in tasks.json and run the

[2020-11-30 20:41] sairaghavak commented on #111468
Sure, here it is
![image](https://user-images.githubusercontent.com/16429828/100662102-7365a500-337a-11eb-978a-7d7af44657ff.png)

[2020-11-30 20:41] gjsjohnmurray commented on #111537
/confirm

Version: 1.52.0-insider (user setup)
Commit: ac165d7f974d70212be80cb15eaecfc1fd20b21a
Date: 2020-11-30T17:36:25.607Z
Electron: 11.0.2
Chrome: 87.0.4280.63
Node.js: 12.18.3
V8: 8.7.220.24-electron.0
OS: Windows_NT x64 10.0.19042

[2020-11-30 20:43] sean-mcmanus commented on #111068
But I hit another bug in the "same" scenario: https://github.com/microsoft/vscode/issues/111538

[2020-11-30 20:45] mdesrosiers opened #111539 "Unhandled promise rejection in find widget when disposed while still opened"
The find widget's update history is wrapped in a delayer promise which can cause an unhandled promise rejection when the widget is getting disposed of if the delayer's completion promise hasn't been cleanup up. This can happen if the editor is closed before the find widget has time to finish closing.

This change addressed the issue by handling the rejected promise returned by `Delayer::trigger`.

[2020-11-30 20:47] ascheucher opened #111540 "For docker-compose devcontainer stacks: devcontainer.json runArgs parameter"
For single Docker container dev environments, there is the parameter runArgs to start the container.
The runArgs parameter is ignored for docker-compose.yml setups, which is a petty!

For example there is no way to define environment variables to be only used in the docker-compopse.yml file. Just in case one does not want to add them to the host environment.

Adding something like this into devcon

[2020-11-30 21:22] alexdima opened #111542 "Test sticky tab stops"
Test plan item for #2798

- [x] anyOS @misolori
- [x] anyOS @stevencl

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23111542%0A%0A)

---

- Enable `editor.stickyTabStops` (this works well together with `editor.useTabStops` so you can also enable that if you have it disabled).
- Open a file that is indented with spaces
- (optionally) enable indent guide

[2020-11-30 21:27] GJKrupa opened #111543 "code-exploration symlinked to temporary AppTranslation path on MacOS Big Sur arm64"
- VSCode Version:1.52.0-exploration Commit: a31f124319d43aef2e9d8b875015d11a53c6f541 (ARM version)
- OS Version: macOS Big Sur 11.0.1 (Apple Silicon)

Steps to Reproduce:

1. Install Visual Studio - Exploration
2. Run the command workbench.action.installCommandLine
3. Reboot
4. Try to run code-exploration from a terminal

Instead of Code starting up, there will be a "command not found" error.

Run

[2020-11-30 21:33] #111502 closed

[2020-11-30 21:33] alexdima opened #111544 "Test word wrap in the diff editor"
Test plan item for #11387 and #110603

- [x] anyOS @sandy081
- [x] anyOS @rzhao271

Complexity: 4

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23111544%0A%0A)

---

- make edits to a markdown file with long lines (Markdown files are wrapped by default).
- open the diff editor. The two editors making up the diff editor should be wrapped
- (you can also use the right

[2020-11-30 21:34] meganrogge commented on #111463
does this happen if you use Ctrl+J or click the menu item Terminal and select New Terminal?

[2020-11-30 21:39] Stanzilla commented on #105114
Tried it on Insiders today and it is still broken there, weird.

[2020-11-30 21:42] alexdima commented on #109510
To verify, please look for a "Delete Word" action that you can bind to a keybinding if you wish to. The action will delete the current word under the cursor (both to the left and to the right of the cursor) and will delete any trailing whitespace.

[2020-11-30 21:43] alexdima commented on #110603
Will be tested via #111544

[2020-11-30 21:45] meganrogge commented on #111459
![recording (52)](https://user-images.githubusercontent.com/29464607/100669451-4382b700-3312-11eb-8eb5-5e058ef2cce8.gif)

Not seeing this issue.

[2020-11-30 21:56] meganrogge commented on #111457
have you tried [this]( https://github.com/microsoft/vscode/issues/70050#issuecomment-475964508)?

[2020-11-30 22:07] #17359 closed

[2020-11-30 22:09] taymonbeal commented on #111083
I think that resolved the issue.

[2020-11-30 22:09] #111083 closed

[2020-11-30 22:09] ThePotato10 opened #111546 "Ability to Favorite Files"
Often, when I want to edit something in the _settings.json_ I have to dig through my file system to find the file.

The feature I'm requesting is a way to favorite files, like you would tabs in a browser, in the editor.

This would be helpful for things like _.bashrc_ or Firefoxs _userChrome.css_, files that are too complex for nano but are frequently edited.

Thanks

[2020-11-30 22:15] misolori opened #111547 "Update schema with new color token"
![image](https://user-images.githubusercontent.com/35271042/100671617-a4f85500-3315-11eb-9160-5ee51a049f06.png)

Refs #110214

When adding `statusBarItem.errorBackground` to our default light theme, I am getting the `Property ... is not allowed` warning and haven't been able to update the schema. Can you take a look?

[2020-11-30 22:16] misolori commented on #110214
I've updated the **default** color tokens to use a darker color of `errorForeground` since majority of themes have a much lighter color and to pass color contrast ratio in our dark/light themes:

![ezgif com-gif-maker (21)](https://user-images.githubusercontent.com/35271042/100672300-952d4080-3316-11eb-910d-7000856927ad.gif)

[2020-11-30 22:23] daytonellwanger opened #111548 "vscode.workspace.onDidChangeTextDocument ordering changes after closing and re-opening document"
If I open a document and make an edit to it, changing the document from clean to dirty, my `vscode.workspace.onDidChangeTextDocument` handler is called twice, once with no `contentChanges` and `document.isDirty` set to `true`, and then again with `contentChanges` and `document.isDirty` also set to `true`. This is what I would expect.

However, if I close the document and reopen it (I'm guessing yo

[2020-11-30 22:29] aeschli commented on #97979
I added two new settings:
  "html.hover.documentation": false,
  "html.hover.references": false,

[2020-11-30 22:51] harupy commented on #111459
I noticed you’re using windows.

[2020-11-30 22:56] #110880 closed

[2020-11-30 22:57] aeschli opened #111549 "Test: disable documentation and references in the HTML hover"
Refs: https://github.com/microsoft/vscode/issues/97979

- [x] anyOS @lszomoru
- [x] anyOS @bpasero

Complexity: 1

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23111549%0A%0A)

---

Try the new settings:
[code]

Test that these disable & enable the documentation test on/or references to MDN in the HTML hover

[2020-11-30 23:01] aeschli commented on #111547
This works for me when running from sources:

![image](https://user-images.githubusercontent.com/6461412/100676012-4e683680-3368-11eb-8cdb-233131dd97e3.png)

Maybe you tried in an older build?

[2020-11-30 23:01] #111547 closed

[2020-11-30 23:17] eamodio opened #111550 "Remote explorer should be more user-centric"
Today (for me) using the Remote Explorer consists of having to switch between remote types to find the box I want to connect to. I often am switching between WSL, SSH, and Codespaces. I find that this hard switch between these types, hampers usability.

I would much prefer a more unified user-centric view, that shows me my "favorite" and/or recent connections and I could add new connections (regar

[2020-11-30 23:19] eamodio commented on #110507
I prefer # 2

[2020-11-30 23:25] bsbodden commented on #519
FYI, the "Customize UI" from iocave allows for changing most things on the workbench. See https://github.com/iocave/customize-ui or just search for "Customize UI" under extensions.

[2020-11-30 23:31] daytonellwanger commented on #111331
@jrieken do you happen to know in what situations `vscode.workspace.applyEdit` will result in multiple edits being raised?

[2020-11-30 23:46] sana-ajani commented on #110507
Another tweet about this: https://twitter.com/diracdelta/status/1333206472864382976

I prefer #3 because it aligns with how we show the checkbox for the welcome page too.

[2020-11-30 23:48] rebornix commented on #105542
I found that we do have a context key `notebookViewType`.

[2020-11-30 23:48] #105542 closed

[2020-11-30 23:54] #108788 closed

[2020-11-30 23:56] aeschli opened #111551 "Test: icons theming"
Refs: https://github.com/microsoft/vscode/issues/92791

- [x] anyOS @digitarald debug icons
- [x] anyOS @devinvalenciano extensions icons
- [x] anyOS @RMacfarlane notebook icons

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23111551%0A%0A)

---

- clone the vscode-extension-samples and open the [product-icon-theme-sample](https://github.com/microsoft/v

[2020-12-01 00:15] mjbvz commented on #111503
Please share a steps to reproduce, including a small example project

[2020-12-01 00:15] mjbvz commented on #111503
Also, does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-12-01 00:16] mjbvz commented on #111493
So disabling extensions fixes this issue?

[2020-12-01 00:17] mjbvz commented on #111483
Looks like you've disabled the built-in JS/TS extension. In the extensions view, search`@builtin typescript` and make sure `TypeScript and JavaScript Language Features` is enabled

[2020-12-01 00:17] #111483 closed

[2020-12-01 00:18] #111477 closed

[2020-12-01 00:18] mjbvz commented on #111477
Not in favor of this since leading spaces look strange once you start filtering down the list

[2020-12-01 00:19] mjbvz commented on #111462
This feature is powered by the TypeScript project. Please [file a feature request upstream](https://github.com/microsoft/TypeScript/issues/new?template=Feature_request.md)

[2020-12-01 00:19] #111462 closed

[2020-12-01 00:19] mjbvz commented on #111428
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-12-01 00:19] mjbvz commented on #111428
Also, fill in the issue template

[2020-12-01 00:20] mjbvz commented on #111458
Please share steps to reproduce this issue and describe the expected behavior in more detail

[2020-12-01 00:20] mjbvz commented on #111374
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-12-01 00:22] mjbvz commented on #111374
Actually, this is just the behavior of commit characters (see the `editor.acceptSuggestionOnCommitCharacter` setting)

[2020-12-01 00:22] #111374 closed

[2020-12-01 00:23] #111424 closed

[2020-12-01 00:23] mjbvz commented on #111424
This should already be possible using an extension. See https://marketplace.visualstudio.com/items?itemName=bierner.docs-view as an example

No plans to allow the status bar to be expanded to multiple lines

[2020-12-01 00:24] mjbvz commented on #111370
/extC++

[2020-12-01 00:24] mjbvz commented on #111361
Please fill in the issue template

[2020-12-01 00:24] #111370 closed

[2020-12-01 00:25] mjbvz commented on #111267
Please share a self contained project that demonstrates this issue

[2020-12-01 00:26] mjbvz commented on #111261
Please share steps to reproduce this (and preferably a small example project)

[2020-12-01 00:26] mjbvz commented on #111435
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-12-01 00:27] mjbvz commented on #111435
Also, are you working on a network drive?

[2020-12-01 00:28] mjbvz commented on #111298
Needs proper support from TS: https://github.com/microsoft/TypeScript/issues/29452

[2020-12-01 00:28] #111298 closed

[2020-12-01 00:29] mjbvz commented on #111132
Did you try in insiders?

[2020-12-01 00:33] mjbvz commented on #111130
@sandy081 Is there a way for extensions to contribute a view to the terminal? (or to any of our default panel view containers?)

[2020-12-01 00:34] mjbvz commented on #111081
/extPython

[2020-12-01 00:34] #111081 closed

[2020-12-01 00:36] mjbvz commented on #109990
This should be done now.

For verification:

- Test that the new `js/ts` settings work
- Make sure their documentation is ok in the settings UI
- Test that the old settings show deprecated messages
- Test that if you only have the old settings, they are still observed

[2020-12-01 00:36] #109990 closed

[2020-12-01 00:44] mjbvz commented on #109988
Should be good to go for this iteration.

To verify:

1. In a project without a jsconfig or tsconfig.
1. Try using the new `js/ts.implicitProjectConfig.strictNullChecks` setting in a js file and a ts file
1. You can test this using a function such as: `const a = document.getElementById('bla')`. If strict null checks are disabled, the type of `a` should just be `HTMLElement`. Otherwise, it should b

[2020-12-01 00:45] misolori commented on #111547
Ah, you're right I was on an old build that didn't have his color token yet. Thanks!

[2020-12-01 00:49] misolori commented on #92301
Verification:

- Compare notifications/quick pick/web dialog shadows are less vibrant than stable version ([see for comparison](https://github.com/microsoft/vscode/pull/110272#issue-518116735))

[2020-12-01 00:51] rebornix commented on #111280
@mjbvz the warning was added a week ago, may I ask what's going on and what's the suggested fix?

[2020-12-01 00:59] misolori commented on #111550
I wonder if having a dedicated recent menu, for all remote connections, would be useful here? I've always wanted a single list for all remotes so I could access it via a keyboard shortcut. Right now you have to filter recents via `[` which isn't pretty:

![image](https://user-images.githubusercontent.com/35271042/100683522-5f478680-332d-11eb-9779-fd552001fe24.png)

[2020-12-01 01:00] rebornix opened #111552 "Test: notebook self-host improvement"
Refs: https://github.com/microsoft/vscode/issues/109549

- [x] anyOS @dbaeumer
- [x] anyOS @bamurtaugh

Complexity: 3

Authors: @rebornix @misolori

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23111552%0A%0A)

---

This month we improved the self hosting experience for the native notebook. Most issues were reported in https://github.com/microsoft/vscode/issues/10954

[2020-12-01 01:03] mjbvz commented on #111280
@rebornix See #110363. Creating multiple scoped context key services on the same element can have unexpected behavior. For example:

* All services end up sharing the same storage
* If any of the services are disposed of, it also clears the keys of all other services on that element

The fix is to make sure there is only a single context key service on an element at a time

[2020-12-01 01:07] RUSshy commented on #519
thanks @bsbodden that is what i needed

microsoft, hire this guy asap

[2020-12-01 01:09] mklechan commented on #109057
@isidorn I was able to stop file uploads by setting MAX_FILE_UPLOAD_SIZE to 0
with `enableDragAndDrop` set to false I can stop uploads to both the Editor and the Explorer.

But I can still download files from VSCode to my Mac by dragging and dropping.  Is there a better place in the code to stop this?
I was looking at: https://github.com/microsoft/vscode/blob/776541c380657f8e1bf9f4acc459a33d84f755

[2020-12-01 01:20] mjbvz commented on #110276
I tried creating a minimal electron repo (https://github.com/electron/electron/issues/26309) but it can be fixed by changing `.focus()` to `.contentWindow.focus()`. However since VS Code is already using `.contentWindow.focus()` the repo must not be complete

Also this is fixed by using iframe based webviews: `webview.experimental.useIframes`

[2020-12-01 01:24] harupy commented on #111459
I capture the GIF in [this comment](https://github.com/microsoft/vscode/issues/111459#issue-752867855) without pressing any key.

[2020-12-01 01:35] mjbvz commented on #111024
Should be fixed by #111262

[2020-12-01 01:35] #111024 closed

[2020-12-01 01:36] mjbvz commented on #111024
Verify using the following markdown:

[code]

[2020-12-01 01:38] suparngp commented on #42903
This will be really helpful in removing a lot of redundant commands. For example, I have multiple treeviews and they render some help text in the `message`. To toggle the message, I have to create one command for each view which refreshes it.

[2020-12-01 01:41] bohrshaw opened #111553 "Keyboard input is invalid after an abnormal RDP session disconnection"
- VSCode Version: 1.51.1
- OS Version: Windows 10 20H2

Steps to Reproduce:

1. Open the editor on Windows: `code --disable-extensions`
2. Open a RDP session to this Windows from a [MacOS RDP client](https://apps.apple.com/us/app/microsoft-remote-desktop/id1295203466).
3. Put the MacOS to sleep.
4. Login to Windows. Then try to type on Code.

Symptom:

The keyboard seems unresponsive. Code can't c

[2020-12-01 01:42] #107205 closed

[2020-12-01 01:45] #111224 closed

[2020-12-01 01:45] mjbvz commented on #111224
Try creating a [tsconfig](https://code.visualstudio.com/docs/typescript/typescript-compiling#_tsconfigjson) to explicitly define your project

[2020-12-01 01:47] shhlkien commented on #869
@AlexBrasileiro

Not working for me 😞. Don't know how it work.

Before:
![image](https://user-images.githubusercontent.com/23404165/100686550-24873200-33b1-11eb-8141-87ec90410fcd.png)

After:
![image](https://user-images.githubusercontent.com/23404165/100686810-a9724b80-33b1-11eb-8d06-f939f784593b.png)

[2020-12-01 01:57] aloncGithub commented on #111487
step:

1. Set up Auto Save: afterDelay
2. Set up Auto Save Delay: 500
3. Edit a piece of code
4. Ctrl+Z ( Revoke )  ,It will be stuck at this time
5. Ctrl+Y ( Restore ) , invalid

[2020-12-01 02:11] JacksonKearl opened #111554 "Test: Getting Started framework"
Refs: https://github.com/microsoft/vscode/issues/106715

- [x] anyOS @kieferrm
- [x] anyOS @sana-ajani

Complexity: 3

Authors: @misolori

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23111554%0A%0A)

---

This iteration we worked on creating a framework for displaying a "getting started" experience. The content is still very much a work in progress, but the framewor

[2020-12-01 02:12] mjbvz commented on #110888
This looks expected to me. If you disagree, please file an issue against typescript: https://github.com/microsoft/TypeScript/issues/

[2020-12-01 02:12] #110888 closed

[2020-12-01 02:14] mjbvz commented on #110788
Not actionable without more information

[2020-12-01 02:14] #110788 closed

[2020-12-01 02:17] vincentbudianto commented on #111464
I can access it from the browser

[2020-12-01 02:23] chrisant996 commented on #26952
The implementation that got released is very disruptive -- now when I use the up arrow to go up to edit the first line of a commit, I almost always overshoot and it starts cycling through commit history.

It should not cycle history on a simple Up arrow with no modifier key, at least not when the commit message edit box is dirty.

This should look and feel like a normal edit box, unless the user d

[2020-12-01 02:31] #107881 closed

[2020-12-01 02:31] #107869 closed

[2020-12-01 02:31] #107767 closed

[2020-12-01 02:36] bamurtaugh commented on #111550
I like the idea of being more user-centric too, especially for viewing recent connections since this seems like a popular workflow (i.e. I have a box I consistently SSH into or dev container I consistently work within).

What would be considered a "menu?" Would that be in the command palette? Or an additional option in the top Remote Explorer dropdown (shown below)?
![image](https://user-images.gi

[2020-12-01 03:17] chrisant996 opened #111555 "The fix for #26952 broke using Up to scroll the message itself while editing the commit message"
- VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:34:32.027Z)
- OS version: Windows_NT x64 10.0.19041
- Does this issue occur when all extensions are disabled?: **Yes**

Pressing Up while editing in the git commit message edit box now starts cycling through historical commit messages if the caret happens to be on the first line.  This is very disruptive:

Imag

[2020-12-01 03:39] illbebach opened #111556 "macos Catalina: when starting vscode from the command line, I get output to both stdout and stderr"
- VSCode Version: 1.15.1
- OS Version: 19.6.0 Darwin Kernel Version 19.6.0

When I start code from the command line, I get a lot of output.  I have never seen any such output on WSL, Windows 10, or Linux.

[code]

Steps to Reproduce:

1. keyin `code` from bash in either Terminal or [iTerm2](https://iterm2.com/)

Furthermore, the following commands produce no output
1. keyin `code --version`
2. key

[2020-12-01 04:07] gonnavis opened #111557 "FeatureRequest: Compare: Simultaneous InlineView and SeparateView like BeyondCompare"
Mainly SeparateView, but show one InlineView at bottom of current cursor line.

![image](https://user-images.githubusercontent.com/10785634/100696060-979ea180-33cd-11eb-944c-1c8a150ef25d.png)

[2020-12-01 04:09] connor4312 commented on #104836
That's the intended state of things with the rollback. There's not a good solution with the limited capabilities available in the regex

[2020-12-01 04:17] safield opened #111558 "Debug Console is missing horizontal scroll bar."
Version: 1.51.1
Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
Date: 2020-11-10T23:31:29.624Z
Electron: 9.3.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Linux x64 5.4.0-54-generic

Observed Behaviour:
When the output in debug console exceeds the width of the bottom panel, no horizontal scroll bar appears. Any text that exceeds the bottom panel width is not able to be re

[2020-12-01 04:17] illbebach commented on #111556
FYI, I renamed ~/.vscode, removed and downloaded vscode anew.  No changes in the behavior described above.

[code]

[2020-12-01 04:17] gzjaychen opened #111559 "Keybinding : Cannot read property 'fsPath' of undefined"
- VSCode Version:
Version: 1.51.1
Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
Date: 2020-11-11T01:11:34.018Z (2 wks ago)
Electron: 9.3.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.6.0

- OS Version:
Mac OS 10.15.6 (19G2021)

- Othres:
Flutter plugin v3.16.0
Android Studio 4.1
XCode

Steps to Reproduce:
0.Create a flutter plugin project.
1.Set Keyboard S

[2020-12-01 04:18] #111558 closed

[2020-12-01 04:21] AzadKshitij commented on #111361
I really don't know how the crash has happen there was a notification about filing a issue of this so I filed...😅😅😅😅

[2020-12-01 04:35] misolori commented on #111550
I could also imagine a "All Remotes" dropdown menu item from the view that would house all remotes:

![image](https://user-images.githubusercontent.com/35271042/100697688-890fa600-334b-11eb-8e3b-4aae9e680230.png)

[2020-12-01 04:42] cduff opened #111560 "JSX import refactoring does not support new React JSX Transform (without react import)"
- VSCode Version: 1.51.1
- OS Version: Windows 10 Pro

React 17 introduced a [new JSX transform](https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transform.html) which does not require react to be imported in every file. Support for this was added in [TypeScript 4.1](https://devblogs.microsoft.com/typescript/announcing-typescript-4-1/#jsx-factories). However vscode is still suggesting/r

[2020-12-01 04:43] dhananjay1405 opened #111561 "JSON Schema Validation: Property displayed as missing even when it is there"
- VSCode Version: 1.51.1
- OS Version: Windows_NT x64 10.0.19042

In JSON schema definition, a property decleration is made mandatory by including it in required properties. In the target JSON file, referring to that schema, property is defined. But still VS Code displays error of missing property, even though it is defined with proper data type value assigned to it. Screenshot of it is attached (

[2020-12-01 05:31] solomatov opened #111562 "Memory leak in terminal support"
- VSCode Version: 1.51.1
- OS Version: Darwin x64 19.6.0

Steps to Reproduce:

1. Open a terminal
2. Type in the following: while true; do echo test; done
3. Observe memory consumption: it will increase, and eventually the VS Code will die with a OOM

Does this issue occur when all extensions are disabled?: No

I investigated why it happened, and root caused it to a memory leak in xterm.js
- xterm

[2020-12-01 06:13] appar-sc commented on #111493
After disabling all extensions, this issue still happens

[2020-12-01 06:20] comicat-hu opened #111563 "Code Insiders 1.52.0 can't found git when started on remote wsl2"
Issue Type: <b>Bug</b>

![image](https://user-images.githubusercontent.com/19973124/100704097-db020b80-33df-11eb-84cd-963bb6c20735.png)

Open a folder have git on remote wsl2 host but it show doesn't have a git at source control section.

Change version to 1.51 stable, it can work.

VS Code version: Code - Insiders 1.52.0-insider (ac165d7f974d70212be80cb15eaecfc1fd20b21a, 2020-11-30T17:36:25.607Z)

[2020-12-01 06:20] ds0nts2 opened #111564 "File Truncated and Saved when system out of space"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. Fill harddrive while visual studio code is open... probably try to save the file
2. Hope for the best.

Does this issue occur when all extensions are disabled?: Yes/No

[2020-12-01 06:28] bhagyajbijukumar opened #111565 "The "open in visual studio code" is not working"
- VSCode Version: 1.51.1
- OS Version: Windows 10

Steps to Reproduce:

1. Open any folder in file explorer
2. Right click and click on "open in vscode"
![image](https://user-images.githubusercontent.com/62506150/100705000-7e492580-33cc-11eb-84d1-84e6a0e4dca9.png)

Does this issue occur when all extensions are disabled?: Yes

[2020-12-01 06:30] chrmarti commented on #110330
@sana-ajani Reverting for now as I'm not convinced by how this works / looks. Insiders might not give us the feedback we need because they more often use the keyboard shortcut. We could run an experiment in a stable release, but I don't think we have the numbers to do so from the Welcome page alone.

[2020-12-01 06:37] sandy081 commented on #111464
@deepak1556 Passing it on to you - as the underlying request is returning with timeout.

[2020-12-01 06:38] Aidmx opened #111566 "usersetting is none"
Issue Type: <b>Bug</b>

when i open setting, it's none in viewport

VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:34:32.027Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-9900K CPU @ 3.60GHz (16 x 3600)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d:

[2020-12-01 06:39] ctf0 commented on #3553
@rndware the api is for right click and chosing a cmnd from the context menu,

there is actually a way to use the same cmnd for both context menu and cmnd pallet while checking later where the value is comming from, thats what i use in https://github.com/ctf0/vscode-file-shortcut

[2020-12-01 06:42] bhavuksharma2202 opened #111567 "On restarting VS Code i am loged out automatically"
Issue Type: <b>Bug</b>
everytime i am opening vscode it logs me out from microsoft account
Steps to reproduce

1. Open VS Code
2. Successful Login with microsoft account
3. Restart Vs Code and i am loged out

VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:31:29.624Z)
OS version: Linux x64 5.4.0-54-generic

[2020-12-01 06:45] sandy081 commented on #111130
Contributing views to builtin panels is not supported and currently extensions can contribute views to only following builtin view containers

- explorer
- scm
- debug

It is up to respective panels to support it and it is fairly easy to do it  - Add the builtin view container here: https://github.com/microsoft/vscode/blob/357fc9d16b43cf44f3cb7c38449fa39920f62a07/src/vs/workbench/api/browser/views

[2020-12-01 06:51] deepak1556 commented on #111464
Can you launch code with `--log-net-log=netlog.json` , perform the extension search and attach the generated log once you quit the app.

[2020-12-01 06:57] eamodio commented on #111521
While I do hope that happens soon -- I don't think we should gate anything on that (as its been requested for years). And regardless it seems to me that vscode would need a flag or something to provide this ability to not have versions conflict with one another. This proposal also works without the marketplace -- e.g. just with vsix installs.

Additionally, this issue causes quite a bit of pain fo

[2020-12-01 06:58] deepak1556 commented on #111308
Can you download and run https://www.electronjs.org/fiddle, check if the issue repros. Thanks!

[2020-12-01 07:03] bpasero commented on #111324
@rzhao271 not for me when I update insiders to latest, what's your insiders version?

[2020-12-01 07:04] bpasero commented on #111403
Yes, that is going towards what I had in mind 👍

[2020-12-01 07:10] deepak1556 commented on #111460
Can you check if launching with `--force-device-scale-factor=1` fixes the issue ?

[2020-12-01 07:11] deepak1556 commented on #110368
Closing for now as there is nothing actionable, can reopen once there is followup info. Thanks!

[2020-12-01 07:11] #110368 closed

[2020-12-01 07:22] bpasero opened #111568 "Extensions/SCM input box: typing Cmd+F does not open editor find box"
Steps to Reproduce:

1. click into SCM or Extensions input box
2. type `Cmd+F`

=> 🐛  editor does not show find box.

I guess this is because of those input boxes being actual editors, but they should not steal keybindings.

[2020-12-01 07:30] bpasero opened #111569 "WorkdOperations: TypeError: Cannot read property 'get' of null"
Workaround: https://github.com/microsoft/vscode/commit/648ed9f9d1706a28a5ae1015fafe6371c08f2011

[code]

[2020-12-01 07:34] #111567 closed

[2020-12-01 07:35] bhavuksharma2202 commented on #111567
installing gnome-keyring works as described in this thread
https://github.com/microsoft/vscode/issues/92972#issuecomment-608572519

[2020-12-01 07:42] gjsjohnmurray commented on #111564
See #34915 but that one is now closed and locked.

/assign @bpasero

[2020-12-01 07:45] alexdima commented on #111569
investigating...

[2020-12-01 07:46] gjsjohnmurray commented on #111559
/causedByExtension please report this to the Flutter extension repository.

[2020-12-01 07:47] #111559 closed

[2020-12-01 07:49] #111569 closed

[2020-12-01 07:49] alexdima commented on #111569
Sorry about that! I converted the command to an action and didn't adjust the unit tests properly. Pushed a fix.

[2020-12-01 07:49] bpasero commented on #98063
Since this would be the fix to data loss when disk is full, reopening.

[2020-12-01 07:49] bpasero commented on #111564
/duplicate https://github.com/microsoft/vscode/issues/98063

[2020-12-01 07:50] #111564 closed

[2020-12-01 07:50] bpasero commented on #108730
/duplicate https://github.com/microsoft/vscode/issues/98063

[2020-12-01 07:51] #108730 closed

[2020-12-01 08:00] gjsjohnmurray commented on #111566
Please explain in more detail. Screenshots might help. They can usually be pasted directly from the clipboard into the GH input field.

[2020-12-01 08:06] gjsjohnmurray commented on #111565
Your screenshot shows a menu option named "Open in Visual Studio", which is a a different product. This repo is for Visual Studio Code.

[2020-12-01 08:07] alexdima commented on #111499
@sanket-bhalerao What are your `editor.minimap.*` settings?

[2020-12-01 08:09] alexdima commented on #111499
I could reproduce with using `"editor.minimap.size": "fill"`. The root problem here is that the slider height is constant sized in this case, while the viewport contains a variable amount of lines, based on the number of visible codelenses.

[2020-12-01 08:11] jrieken commented on #111331
Whenever text edits for a file are interleaved with resource edits, like creating a resource or so. When applying workspace edits the order in which an edit has been build is [honoured](https://github.com/microsoft/vscode/blob/818174d4e868db11cac25d71e0b1d29d852b4a90/src%2Fvs%2Fworkbench%2Fcontrib%2FbulkEdit%2Fbrowser%2FbulkEditService.ts#L57), esp text edits interleaved by resource edits are appl

[2020-12-01 08:12] sanket-bhalerao commented on #111499
@alexdima minimap settings

[code]
for the minimap size option I have already tried 'fit' and 'fill' option, however, the results are the same.
i noticed these changes after yesterdays update, prior to that minimap was working as expected.

[2020-12-01 08:14] vincentbudianto commented on #111464
It's functioning properly now (can update and install extension). Thank you

[2020-12-01 08:21] sanket-bhalerao commented on #111499
I'm able to observe the issue with ```"editor.minimap.size": "proportional",``` option as well.

[2020-12-01 08:25] motine opened #111570 "Allow setting cwd in compound tasks"
I often run tasks that have multiple children. I suggest to allow the parent, compound task to determine the working directory for the children. Consider the following example `tasks.json`:

    {
      "label": "test-parent",
      "type": "shell",
      "dependsOn": [ "test-child" ],
      "options": { "cwd": { '/myprj' } },
    },
    {
      "label": "test-child",
      "type": "shell",

[2020-12-01 08:28] isidorn commented on #109057
@mklechan we do not have plans to change this at the moment, so even if you create a PR, we would probably not merge this in.
As for the code pointer, here is where the drop is handled
https://github.com/microsoft/vscode/blob/7536644522b156e7f24d638dd4faf31477456a40/src/vs/workbench/contrib/files/browser/views/explorerViewer.ts#L986

[2020-12-01 08:36] isidorn commented on #104673
Moving this to next milestone since then we plan to ship Electron 11 as part of Stable.

[2020-12-01 08:37] glt248 opened #111571 "Sub window stop to be displayed"
- VSCode Version: 1.51.1-1605051630
- OS Version: Debian 10 Buster / Xfce 4.12

Steps to Reproduce:

I'm using VSCode form 2 months on this computer, yesterday it was working correctly. This morning I'm not able to open a sub window.

1. Try to open a folder or try to open help/about
2. No window is opened

Does this issue occur when all extensions are disabled?: Yes

I've removed and purged code,

[2020-12-01 08:43] aeschli commented on #111511
It was intentional not to emit semantic tokens for primitive types. The idea was to focus on identifiers that need to be resolved in the context and where semantic highlighting can make a difference to syntax highlighting.
(after all semantic highlighting is thought as a refinement on top of syntax highlighting)

Also several themes have special colors for built-in types, so we need a 'primitive'

[2020-12-01 08:46] lhalda commented on #98362
I recorded the behavior of insiders and exploration version. I didn't record the stable version because I didn't want to accidentally show my projects.

Outline of my screens (left is laptop screen 1080p - secondary, right is external screen 1440p - primary):
![screens](https://user-images.githubusercontent.com/2124851/100717094-333f0a80-33ec-11eb-9c06-f8999163babe.png)

Video (primary screen only

[2020-12-01 08:47] eamodio opened #111572 "Hovers have horizontal scrollbar when not needed"
This just started very recently.

![hovers](https://user-images.githubusercontent.com/641685/100717378-f3ded280-3387-11eb-8773-adff0bb6bcaa.gif)

[2020-12-01 08:54] aeschli commented on #109460
Please file an issue. I guess can be done. Need to define CSS rules for each color so we can just do it with a selector.
Note it's up to every consumer of a ThemeIcon to decide if it wants to support colors.

[2020-12-01 08:55] sandy081 opened #111573 "Having invalid `_extensions.defaultUserWebExtensions` breaks VS Code Web"
To reproduce:

- Open web playground - https://vscode-web-test-playground.azurewebsites.net/
- Add following setting
[code]
- Reload window
🐛 Workbench does not load

[2020-12-01 08:56] aeschli commented on #111172
To verify open the https://github.com/microsoft/vscode-extension-samples/tree/master/semantic-tokens-sample
and test that method works as well as member (deprecated, but still working)

[2020-12-01 09:01] aeschli commented on #110150
To verify open the https://github.com/microsoft/vscode-extension-samples/tree/master/semantic-tokens-sample, add `macro` as a supported token. Use the 'Inspect token and scopes' command to verify that it is colored with the color associated with the `entity.name.function.preprocessor` scope

[2020-12-01 09:03] sandy081 opened #111574 "Reload required action is not shown when an extension is uninstalled and is still running"
- Install an extension Eg: Gitlens - Reload window
- Uninstall the extension - Reload action is shown
- Search for the extension - Type Gitlens in search box

🐛 Reload action does not appear

[2020-12-01 09:04] ssbarnea opened #111575 "schemaservice://combinedschema is not documented, confuses users"
vscode can easily produce errors like below:
[code]

The main issue here is that while there is an option to enable or disable download of schemas there is no mention anywhere regarding where they are downloaded from, what is the current list of known schemas or how to add new schemas to that list.

Even the error message is cryptic because it does not mention where it attempted to load them from.

[2020-12-01 09:08] hJinRong commented on #111463
menu item Terminal >> select New Terminal:  It is normal
Ctrl + J / drag up from the bottom: vscode crashed

I was in the same situation as you.

[2020-12-01 09:14] LittleStoney commented on #107999
thanks

[2020-12-01 09:14] #111573 closed

[2020-12-01 09:17] joaomoreno commented on #111516
Can you send me the screenshot in GitHub, instead of via e-mail.

[2020-12-01 09:24] mmmyddd commented on #111130
Not contribute webviews to buildin panels, I think what we need is to create new webviews, and place it next to buildin panels like terminal/output/debug console/problems in the  "panel area".

currently what only we can do is create a webview in the activity view containers and "drag" to the panel area.

Please consider this requirement, thanks.

[2020-12-01 09:33] tisttsf opened #111576 "Hello World extension example not working."
Issue Type: <b>Bug</b>

Hello world extension example not working.Example need to be more concrete.
code .
f5
shift+ctrl+p hello..doesn't show the extension command

VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:34:32.027Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 3 2200G with Rad

[2020-12-01 09:34] LaurentOngaro commented on #40239
Thanks for this job !

I've also created a bash script that can manage profiles switching for VS code
It uses folders to define profiles and symlinks to activate extensions. As it, there is no duplicated extension.

The script can be found at https://gitlab.com/linuxdev_gameamea/osscripts/-/blob/master/Linux/switchVsCode

It's a part of a repo that contains a library of linux scripts that I've cre

[2020-12-01 09:36] #111576 closed

[2020-12-01 09:36] bpasero opened #111577 "Downloading folder shows 2 notifications"
Testing #111250

![image](https://user-images.githubusercontent.com/900690/100722581-0cb7aa00-33c1-11eb-9c8d-c1113fbfd855.png)

I downloaded the "node_modules" folder from a Codespace (vscode repo).

I clicked on the status bar to open notification center.

[2020-12-01 09:37] tisttsf commented on #111576
Yet I it is not a bug.I should input command in the code window not the extension window,which will show the extension command correctly.

[2020-12-01 09:41] bpasero opened #111578 "Progress: cannot cancel"
Testing #111250

It does not seem possible to cancel the operations from the explorer, e.g. download (tried download from a remote Codespace).

[2020-12-01 09:42] gjsjohnmurray commented on #111575
/assign @aeschli

[2020-12-01 09:43] Mingun opened #111579 "Sometimes Numpad Divide key acting as PageUp key when working via RDP (with xrdp)"
Issue Type: <b>Bug</b>

Sometimes VSCode starts to process Numpad Divide ("/") key as if I press PageUp key. At the same time `xev` correctly shows that Numpad Divide key is pressed and in other applications (for example Firefox, gnome-terminal) symbol `/` is printed when I press Numpad Divide

<details>
<summary>Press and release Numpad Divide, then press and release PageUp</summary>

[code]
</de

[2020-12-01 09:43] #109923 closed

[2020-12-01 09:45] aeschli commented on #109923
Moved to public vscode.d.ts.

To verify, please create a small extension, install it like a regular extension and verify it works (no more proposedAPI checks)

[2020-12-01 09:45] xxKarina commented on #111130
Glad to receive your reply !
Maybe I can accept to create the webview in the allowed panel, but I am eager to specify the webview location on the panel where the terminal is located when my extension is activated.

So that the users who use my extension can see my webview on the panel where the terminal is located for the first time.

[2020-12-01 09:46] bpasero opened #111580 "Align download progress between remote and web"
Testing #111250

I think the download progress for web is more detailed compared to what we have now for desktop and it would be great to align. Though I am not sure if this possibly requires some infrastructure on the file service layer.

![recording](https://user-images.githubusercontent.com/900690/100723825-8734f980-33c2-11eb-8ccc-5e6aa95d7663.gif)

[2020-12-01 09:48] bpasero opened #111581 "Uploading a folder to remote tries to open it"
Testing #111250

This fails in the end with:

![image](https://user-images.githubusercontent.com/900690/100724014-b51a3e00-33c2-11eb-94db-87045725baec.png)

[2020-12-01 09:50] weinand commented on #84162
verification steps:

- use a multifolder workspace
- add the following launch config to your user settings or workspace settings:
[code]
- open the debug viewlet
- in the debug drop down select the "WorkspaceFolder for editor" debug config
- open a random workspace file in the editor
- press 'F5'
  you should see a "fileWorkspaceFolder: workspace folder path" in the debug console
- make sure that

[2020-12-01 09:51] bpasero opened #111582 "Uploading a folder into remote should show similar progress to web"
Testing #111250

When I drop a folder or file into a remote, it reports "Copying..." from the status bar. I wonder if it should be "Uploading..." instead and follow a similar model as we have for web:

![recording (1)](https://user-images.githubusercontent.com/900690/100724427-2823b480-33c3-11eb-954f-464162f67857.gif)

[2020-12-01 09:51] usernamehw commented on #80666
/verified Tested by using Error Lens extension decorations

[2020-12-01 09:52] bpasero opened #111583 "Web: no longer seeing progress when uploading a folder"
Testing #111250

Dropping a folder into a web codespace no longer shows progress in the status bar when using insiders, works fine in stable.

@isidorn maybe related to your changes for reporting progress from explorer?

[2020-12-01 09:53] Swarnalaxmi04 opened #111584 "How will i call a Visual Studio Extension into my application using C# code"

[2020-12-01 09:54] isidorn commented on #111578
We do not allow to cancel when there is only one operation. This is as designed since file system providers currently do not support canceling. So on the Bulk Edit Service we can only cancel by not doing the remaining operations.

Though download might be a special case operation (I have to check if it goes through the Bulk Edit Service). Assigning to November for initial investigation.

fyi @jrie

[2020-12-01 09:56] isidorn commented on #111583
Yes, droping a folder was using a custom progress reporting solution. I refactored the thing and did not want a special solution just for drop.
So I will check why the general progress case does not catch this.

[2020-12-01 09:58] isidorn commented on #111582
Web uses a custom solution which only works for that use case, I want a general approach for all file operations.
I would not change this for now -> backlog.

[2020-12-01 09:58] bpasero commented on #111577
Also seeing 2 progress bars in the explorer:

![image](https://user-images.githubusercontent.com/900690/100725331-2efef700-33c4-11eb-80e3-610f390d24be.png)

[2020-12-01 09:59] isidorn commented on #111581
Good catch. I also hit this, but forgot to fix.

[2020-12-01 10:00] isidorn commented on #111582
Actually let's close as dup of https://github.com/microsoft/vscode/issues/111580

[2020-12-01 10:00] #111582 closed

[2020-12-01 10:01] joaomoreno opened #111585 "Custom file/folder picker sometimes uses wrong slashes"
In WSL:

- When using `File > Open Folder` all is good
- When using the folder picker from an API call, slashes are backwards 🐛

![recording (1)](https://user-images.githubusercontent.com/22350/100725500-65d50d00-33c4-11eb-89c8-f84380b94923.gif)

[2020-12-01 10:01] isidorn commented on #111580
To make the general solution as powerful as the custom one for upload we would need some infrastrucutre on the file service layer as you mentioned.
Before we have that assigning this to On-Decl

[2020-12-01 10:06] usernamehw commented on #111561
/question You have a whitespace in the property name

[2020-12-01 10:06] #111561 closed

[2020-12-01 10:07] aeschli commented on #111575
Can you give steps? That should not happen...

[2020-12-01 10:07] joaomoreno commented on #111515
Added API doc link: https://github.com/microsoft/vscode-extension-samples/blob/f2a57780639bce99099d5128db2d3be83012d0c0/tree-view-sample/vscode.proposed.d.ts#L1130-L1171

[2020-12-01 10:09] bpasero commented on #111527
I had to use VSCode Insiders and VSCode stable in the end to test settings sync because when I run 2 instances of VSCode insiders from different user data dirs, I have to constantly log into the other with my GH account but then the wrong instance opens.

[2020-12-01 10:12] isidorn commented on #111492
Looks good. I made sure to run the smoke test with new Electron 9 builds
@lszomoru nobody is assigned to the web smoketest. If you would like I can also run that one.

![Screenshot 2020-12-01 at 11 11 45](https://user-images.githubusercontent.com/1926584/100727054-08da5680-33c6-11eb-8612-1d3bb8424532.png)

[2020-12-01 10:15] bpasero opened #111586 "macOS List: when "workbench.list.multiSelectModifier: alt", cmdclick should open to side"
Testing #111519

I would expect that `Cmd`-click opens to side if `workbench.list.multiSelectModifier: alt` on macOS, but at least on changes view this does not work.

[2020-12-01 10:16] bpasero commented on #111586
Nevermind, my mistake. I also had it configured to open on double click.

[2020-12-01 10:16] #111586 closed

[2020-12-01 10:17] bpasero commented on #111519
👏 . Only thing I wasn't sure about is: if I have configured `"workbench.list.openMode": "doubleClick"`, a single middle-mouse click does not open. But maybe that is intentional.

[2020-12-01 10:22] aminroosta commented on #3352
Is there any willingness to merge  a user configurable `editor.foldEndPatttern: RegExp`, similar to #9605 ?
If so, i can open one.

[2020-12-01 10:24] jrieken opened #111587 "Apply enablement to all command links"
Testing #111517

* use the snippet below
* have a command that toggles the context
* 😕 the "big" button updates, the links aren't

[code]

<img width="352" alt="Screenshot 2020-12-01 at 11 24 51" src="https://user-images.githubusercontent.com/1794099/100728435-d7628a80-33c7-11eb-9b66-f19720de6c74.png">

[2020-12-01 10:29] jrieken opened #111588 "Cache welcome views"
Testing #111517

See attached recording. After reload or start, empty views change nervously because contents comes in late and only after each extension has been processed. We had a similar problem with activity-bar icons and use an optimistic caching strategy which assumes that you still have the same extensions installed

![Dec-01-2020 11-26-46](https://user-images.githubusercontent.com/1794099

[2020-12-01 10:29] joaomoreno opened #111589 "NPM: Improve multiple lockfiles message"
Testing #111514

Here's how it appears:

![image](https://user-images.githubusercontent.com/22350/100728603-10026400-33c8-11eb-84cb-a4ee3ad185db.png)
![image](https://user-images.githubusercontent.com/22350/100728630-1abcf900-33c8-11eb-8080-0def85b58568.png)

I suggest the following:

- Use `info` instead of `warn`
- Reorder the phrases: _Using npm as the preferred package manager. Found both pack

[2020-12-01 10:29] jrieken commented on #111588
/cc @sandy081 for consulting

[2020-12-01 10:32] bpasero commented on #111578
I think we can still offer cancellation, even if the file system provider API does not allow it all the way down. We can cancel on a per-file basis at least for the "Download" and "Upload" operations. Move/Delete possibly not because they are implemented over the generic file system APIs in most cases.

[2020-12-01 10:36] andrewjrhill commented on #3742
There's really no benefit at all to having the sidebar visible on the screen while you're not using it. Especially on smaller devices where your screen real-estate is limited. All it does is add visual noise to the screen. I am pretty astounded that this is still an open issue after 4.5 years.

[2020-12-01 10:37] Bobholamovic opened #112759 "High memory usage on local machine when flushing a large number of characters to screen"
Issue Type: <b>Performance Issue</b>

Just one step to reproduce it:

[code]

And you'll see the memory usage of VSCode on the local machine surges, until the program stops working.

Does this have anything to do with a local screen buffer?

Extension version: 0.56.0
VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:34:32.027Z)
OS version: Windows_NT x64 10.0.18

[2020-12-01 10:47] jrieken opened #111590 "Missing jsdoc in LinkedEditingRanges"
The ctor has no doc

https://github.com/microsoft/vscode/blob/20bf09bc66a884303227576f3b0d5b591f03cbdc/src%2Fvs%2Fvscode.d.ts#L4548

[2020-12-01 10:58] jrieken commented on #99709
I really like this ❤️

[2020-12-01 11:01] jrieken opened #111591 "No auto-search when revealing with selection"
* select something in the editor
* select F1 > Show Search
* the viewlet is prefilled with my selection
* 😢 the search isn't auto-executed

[2020-12-01 11:02] jrieken commented on #111591
wait... it is

[2020-12-01 11:02] #111591 closed

[2020-12-01 11:03] sandy081 opened #111592 "Esc is not closing the exception widget"
Testing #110567

- Press Escape when exception widget is shown
🐛 It is not getting closed.

[2020-12-01 11:05] sandy081 opened #111593 "Outline of exception widget is shown even after closing it"
Testing #110567

- Close the exception widget by pressing `x` and the outline is still shown

![image](https://user-images.githubusercontent.com/10746682/100732679-5c03d780-33cd-11eb-8bef-1b76e513bd47.png)

[2020-12-01 11:05] nitti87 commented on #111374
I disabled `editor.acceptSuggestionOnCommitCharacter` and the problem is gone. Thanks

[2020-12-01 11:09] 54696d21 commented on #110863
I really want this feature

[2020-12-01 11:10] sandy081 commented on #111593
Also that Voiceover continues reading the exception widget content even after closing it using `x`.

[2020-12-01 11:11] lszomoru commented on #111492
@isidorn, yes please. Thank you!

[2020-12-01 11:11] stevencl commented on #111542
I don't see the setting editor.stickyTabStops but I do see editor.atomicSoftTabs. When I set this to true the editor behaves as described above.

[2020-12-01 11:17] gjsjohnmurray commented on #111587
Maybe only do this for command links? It might be useful to be able to use a link to doc even before an extension is ready to have its commands called.

[2020-12-01 11:18] jrieken commented on #111587
Yeah, command links is what I meant

[2020-12-01 11:18] Leseratte10 opened #111595 "Menu bar background color without custom title bar"
I am using VS Code 1.51.1 on Ubuntu 20.04, with the color theme "Dark+". However, while the VS Code window itself is in dark mode, the menu bar is still white.

- I know that I could set `window.titleBarStyle` to `custom` but I would like to keep the Ubuntu-style window title bar. The `custom` Windows-10-styled title bar just looks like crap together with other Gnome-themed windows, it has the men

[2020-12-01 11:21] isidorn commented on #111593
I believe this is a VoiceOver bug, and not sure if we can do anything about it.
The outline is rendered by VoiceOver. Though assigning to November to investigate

[2020-12-01 11:26] isidorn commented on #111492
Web looks good.

![Screenshot 2020-12-01 at 12 25 57](https://user-images.githubusercontent.com/1926584/100734727-62478300-33d0-11eb-8166-4ab6683d27d0.png)

[2020-12-01 11:26] #111200 closed

[2020-12-01 11:26] #111199 closed

[2020-12-01 11:27] #111075 closed

[2020-12-01 11:27] #111030 closed

[2020-12-01 11:28] georgefst opened #111596 "Go to next/previous change (Alt-F5) should cycle between files"
In #18059, @Tyriar requested that this work like "go to next problem" (F8), but the way it's been implemented there's a crucial difference - upon reaching the end of the file, it goes back to the top, rather than the next changed file! This means, for example, that when reviewing changes prior to staging, I end up running `git diff` in a terminal to avoid a lot of fiddly mouse clicking. Any other

[2020-12-01 11:35] jrieken commented on #103941
<img width="555" alt="Screenshot 2020-12-01 at 12 34 47" src="https://user-images.githubusercontent.com/1794099/100735554-b141e800-33d1-11eb-8ec2-1f472a0c6ee8.png">

That's all I see

[2020-12-01 12:05] jvesouza commented on #109523
I tested it and it was excellent. It will certainly improve my productivity.
Great job, thank you very much.

[2020-12-01 12:16] lszomoru commented on #103941
@jrieken, it looks like the `Views` item is not present in the context menu when you search (expected @sandy081). If you clear the search field, you should see something similar in the context menu depending on the view that you have open:
<img width="639" alt="image" src="https://user-images.githubusercontent.com/3372902/100739469-65923d00-33d7-11eb-9483-19b309a8aa05.png">

[2020-12-01 12:16] lszomoru commented on #111492
Awesome! Thank you @isidorn!

[2020-12-01 12:17] bpasero commented on #108712
I still see that this code is hit even though the menu is hidden in web:

https://github.com/microsoft/vscode/blob/0baf6bb9cca978e6f3527b96331e27573b0dfb24/src/vs/workbench/browser/parts/titlebar/menubarControl.ts#L205-L205

[2020-12-01 12:18] gjsjohnmurray commented on #111555
As a workaround you could try the "Remove Keybinding" context menu option on the `scm.viewNextCommit` and `scm.viewPreviousCommit` commands. It looks like the default keybindings for `scm.forceViewNextCommit` and `scm.forceViewPreviousCommit` will mean you can still use Alt+DownArrow/UpArrow to move through the commits.

[2020-12-01 12:31] #111565 closed

[2020-12-01 12:31] bhagyajbijukumar commented on #111565
oh my bad

[2020-12-01 12:33] DanRunfola commented on #76542
Confirming this issue is still live on Ubuntu 18.04.

Version: 1.51.1
Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
Date: 2020-11-10T23:31:29.624Z
Electron: 9.3.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Linux x64 5.4.0-53-generic snap

[2020-12-01 12:35] Stanzilla opened #111597 "Add option to disable rendering of problems in scrollbar"
Picking up on https://github.com/microsoft/vscode/issues/46201 which I would also love to see but was sadly closed. I don't think the color workaround is a good one and would love to see a real option to just turn it off.

[2020-12-01 12:38] bpasero opened #111598 "Keybindings menu cleanup"
Talking about this:

![image](https://user-images.githubusercontent.com/900690/100741797-6082bd00-33da-11eb-8b60-aaef59b0b13d.png)

Suggestions:
* for commands that require user input, append a "..." (e.g. add, change)
* group delete and reset in separators away from the others to make them stand out more

[2020-12-01 12:38] bpasero commented on #45244
I think the menu could get some polish: https://github.com/microsoft/vscode/issues/111598

[2020-12-01 12:39] bpasero commented on #111598
[code]

[2020-12-01 12:44] GintV commented on #110888
Not sure how it is related to typescript directly rather than vscode

[2020-12-01 12:47] bpasero opened #111599 "Notebook: cannot open diff anymore"
Steps to Reproduce:

1. change our endgame issue notebook
2. click it from the diff

DevTools:

[code]

//cc @alexdima @jrieken

[2020-12-01 12:53] nav9 commented on #111339
The people maintaining the C++ extension mentioned that VS Code is designed to be as such, so there's nothing more for me to say. I apologize for taking up your time.

[2020-12-01 12:53] #111339 closed

[2020-12-01 12:56] jrieken commented on #103941
I see the view thing but no "sort by" menu

[2020-12-01 13:01] jrieken commented on #106907
![Dec-01-2020 14-00-28](https://user-images.githubusercontent.com/1794099/100744135-9ffed880-33dd-11eb-8634-ead56d7820d8.gif)

doesn't work for me

[2020-12-01 13:01] bpasero commented on #111583
@isidorn my web git bisect points out to a change that caused it here: https://github.com/microsoft/vscode/compare/6026ab576dc6a4fbb8e255241a364816f42464c5...0a80aacc7be1ab03ec0f94b8ac1a84949a83f35d

The experience now in web is quite bad, even clicking on a file while the upload is in progress does not work.

[2020-12-01 13:04] alexr00 opened #111600 "Mock debug doesn't break on exceptions"
Testing #111425

The UI looks good, and functions the way I'd expect. However, Mock Debug never breaks on "exceptions".

![recording (29)](https://user-images.githubusercontent.com/38270282/100744396-100d5e80-33de-11eb-8efe-3d3c2642b05a.gif)

[2020-12-01 13:06] lszomoru commented on #103941
sorry, my bad. it looks like indeed you need to run a search (ex: `foo`), then in the filter context menu there is an option to sort the search results. If you pick any of the options, the next time you open the context menu, you should see a `tick` that indicates the current sorting option:
<img width="418" alt="image" src="https://user-images.githubusercontent.com/3372902/100744584-595dae00-33de

[2020-12-01 13:10] alexr00 opened #111601 "Consider removing the "..." from "Edit condition...""
Testing #111425

This feels like an action similar to the "Rename" action in the explorer, or the "Change Local Port" action in the ports view. Neither of those have "...".

[2020-12-01 13:11] sandy081 opened #111602 "Error while trying to paste in explorer"
Testing #111250

On Mac OS

- Try to copy (cmd+c) a folder from finder and paste (cmd+v) into explorer

🐛 Following error is shown

![Kapture 2020-12-01 at 14 16 33](https://user-images.githubusercontent.com/10746682/100745757-0c7ad700-33e0-11eb-9755-d9b3511dd384.gif)

[2020-12-01 13:14] joaomoreno commented on #106907
Sorry for the hassle @jrieken, but we decided to go and put this behind a setting instead: `git.useCommitInputAsStashMessage`.

[2020-12-01 13:14] #106907 closed

[2020-12-01 13:14] weinand opened #111603 "on linux no notifications after adding "sleep 4" or "sleep 11" to .bashrc"
Testing #111422

I've added the sleep 4/11 to the .bashrc and I've verified that newly created Terminals show the 4 or 11 second delay before the shell prompt shows up.

But when launching VS Code from the dock, I do neither get warning nor error notifications.

Opening a new Terminal within VS Code clearly shows the delay.

[2020-12-01 13:15] isidorn commented on #111600
Forwarding this to @weinand since it is up to Mock debug to send a break event

[2020-12-01 13:15] isidorn commented on #111601
Agree. Thanks for feedback.

[2020-12-01 13:16] joaomoreno commented on #111587
@gjsjohnmurray Want to submit a PR? 👍

[2020-12-01 13:17] isidorn commented on #111583
@bpasero my changes should not affect that clicking on a file while the upload is in progress does not work.
Maybe I broke that, but I would be surpsied. Did you bisect that to an exact commit maybe?

[2020-12-01 13:19] jrieken opened #111604 "Markdown codeblock rendering is swapped"
Testing #111515

* return a markdown string like with this `appendCodeblock('<img src=0 onerror="alert(1)">', 'html')`
* the markdown renders `html` as content, not as language

this is a regression from https://github.com/microsoft/vscode/commit/80d59864b18e531a91395623923f9047c8384ae6

[2020-12-01 13:20] lszomoru commented on #111549
Works as advertised 👍🏻

[2020-12-01 13:21] jrieken commented on #106907
A little overkill if you ask me. But it works

[2020-12-01 13:22] joaomoreno opened #111605 "With `window.restoreWindows=preserve` files do not pick a good window to open"
Testing #111420

This didn't work for me.

On Windows, with WSL. I had two windows open: `vscode (WSL)` and `fakeproject` (not WSL). Without Code running, I invoked `code-insiders C:\Users\joao\Desktop`. Now I have three windows: `vscode (WSL)`, `fakeproject` and `Desktop`. I exit Code. I then invoked `code-insiders C:\Users\joao\Desktop\file.txt`. The same three windows come up but `file.txt` is

[2020-12-01 13:22] sandy081 opened #111606 "DnD to copy folders end with an error"
Testing #111250

Platform: Mac

- Drag n drop a folder into explorer (copy the folder)
- Folder is copied but at the end an error is shown

![Kapture 2020-12-01 at 14 21 43](https://user-images.githubusercontent.com/10746682/100746187-aa6ea180-33e0-11eb-8211-b63c9a2f53fe.gif)

- Undo (cmd+z) the operation fails with following error

![image](https://user-images.githubusercontent.com/10746682/10074

[2020-12-01 13:24] joaomoreno commented on #106907
I know... explanation is here: https://github.com/microsoft/vscode/pull/107074#pullrequestreview-492673513

[2020-12-01 13:24] isidorn opened #111607 "window.restoreWindows: preserve description polish"
Refs: https://github.com/microsoft/vscode/issues/111420

Current description
[code]

My suggestion
[code]

[2020-12-01 13:26] jrieken opened #111608 "Tree hover gets too large"
Testing #111515

* have resolve call that return much data, like our README file
* hover over the a tree item
* 🧀 the hover bleeds into the title widget, inheriting the mac window controls

In the editor land (hover, suggest) we pad things with 22px

<img width="566" alt="Screenshot 2020-12-01 at 14 24 38" src="https://user-images.githubusercontent.com/1794099/100746596-34b70580-33e1-11eb-89b6-f63

[2020-12-01 13:28] jrieken opened #111609 "Workbench hover widget prints to console"
Testing #111515

* steps as in https://github.com/microsoft/vscode/issues/111608
* notice the the console shows numbers that are printed from the hover widget

<img width="558" alt="image" src="https://user-images.githubusercontent.com/1794099/100746751-6af48500-33e1-11eb-96a7-34077e073550.png">

[2020-12-01 13:28] sandy081 opened #111610 "Show a confirmation dialog if window is asked to reload while copying the folder"
Testing #111250

- Drag and Drop a large folder into explorer
- While the operation is in progress, reload the window
- Window silently reloads and the operation is half performed

Inform user about the operation in this case

[2020-12-01 13:29] jaques-sam opened #111611 "Crash on dragging terminal open from below just after VSCode opens"
- Open VSCode (terminal is closed by default)
- Drag (swiping) it open from below using the mouse
- VSCode Crash!

[2020-12-01 13:30] retro-future commented on #111457
No it doesn't work so many settings I have to configure to start using vscode((

[2020-12-01 13:31] retro-future commented on #111457
I don't understand how to configure this

[2020-12-01 13:31] isidorn opened #111612 "Window that contains the passed file should have focus on restore"
Testing #111420

1. `window.restoreWindow: preserve`
2. Have a couple of windows open, for example `vscode-smoketest-express` repo and some other
3. Exit vscode
4. Open vscode from the command line such that some file from the `vscode-smoketest-express` repo is passed as command line
5. The correct VS Code windows are restored, however the one that should be focused and in front should be the one

[2020-12-01 13:32] jrieken opened #111613 "resolveTreeItem is called immediately"
Testing #111515

* have a resolve function as shown below
* open the tree or expand a child
* see that START is printed 6 times in a row, not while hovering over items (as stated in the docs)

[code]

[2020-12-01 13:33] isidorn commented on #111610
This is a fair request.
@bpasero do we have some common service where I can say I want to be involved when the reload happens. I guess save does the same when hot exit is disable, when there are unsaved files we prompt?

[2020-12-01 13:33] jrieken opened #111614 "Should resolveTreeItem support cancellation?"
Testing #111515

I have a feeling that `resolveTreeItem` should support cancellation because it can be long running (like fetching data via the internet) but also depends on the user gesture (hover, expand-collapse)

[2020-12-01 13:35] isidorn commented on #111612
Same if I pass a `code-workspace` file, that window should be in front and focused

[2020-12-01 13:36] jrieken opened #111615 "No Loading... while resolving tree item"
Testing #111515

* have a `resolveTreeItem` that takes its time
* hover over a tree item
* 🐛 you only see a hover when resolve is done, instead after the UI-timeout a hover with "Loading..." should show. Otherwise it isn't clear that something is happening

[2020-12-01 13:37] chrmarti opened #111616 "Include color class in ThemeIcon.asClassName()"
Including a class for the color in the result of `ThemeIcon.asClassName()` would potentially simplify supporting icon colors.

From https://github.com/microsoft/vscode/issues/109460#issuecomment-735871587_

[2020-12-01 13:38] sandy081 opened #111617 "Progress and Status says copying files while copying folders"
Testing #111250

- Drag and Drop two large folders into explorer
- You will see a dialog to add/copy folders. Select copy folders
- Status bar says copying 2 files - Instead it shall say copying two folders
- Progress notification (that is shown after clicking the status bar entry) says copying 2 files - Instead it shall say copying two folders

![Kapture 2020-12-01 at 14 37 18](https://user-image

[2020-12-01 13:38] dbaeumer opened #111618 "Bad rendering of status bar item with error background color"
Testing #111423

Setting the color works, but the rendering looks off in quite of my themes. This is in SLime:

<img width="73" alt="capture" src="https://user-images.githubusercontent.com/1931590/100747689-ad6a9180-33e2-11eb-94c2-76fcb9ba2ae1.png">

Or solarized dark

<img width="120" alt="capture" src="https://user-images.githubusercontent.com/1931590/100747813-d1c66e00-33e2-11eb-9c7c-cbb88898dc

[2020-12-01 13:40] dbaeumer commented on #111618
My code looks like this:

[code]

[2020-12-01 13:41] ermore commented on #103330
@manie204
I want to know how to start debugging of multiple processes at the same time in vscode. I am also debugging mpi programs. I can only start debugging for one process at the same time.

[2020-12-01 13:41] AllanOricil opened #111619 "VALIDATION IS STUCKED"
My extension Patch is still being verified. It has been in this state for around 14 hours!
Also, the number of downloads Spicked from 18k to 108k, which indicates the validation bot is in an infinite loop.

https://marketplace.visualstudio.com/items?itemName=allanoricil.salesforce-soql-editor

![image](https://user-images.githubusercontent.com/55927613/100748179-ebfc4e00-33da-11eb-9612-2620cbd4a5b

[2020-12-01 13:42] isidorn opened #111620 "VS Code should open file in a last focused window"
Testing #111420

1. `window.restoreWindow: preserve`
2. Open multiple windows
3. Exit
4. From command line open VS Code with passing a file that does not belong to any of the opened windowss
5. File gets open in a random window :bug:

I thin file should open in a window that had last focus.
If we behaved like this the setting description could also have a bit more clarity

[2020-12-01 13:42] sandy081 opened #111621 "Copy function fails over dangling symbolic links"
Testing #111250

- Drag and Drop two folders into explorer
- Chooses to copy folders

![Kapture 2020-12-01 at 14 37 18](https://user-images.githubusercontent.com/10746682/100747810-d0954100-33e2-11eb-9d75-701757fcc4f9.gif)

- At the end only one folder is copied

![image](https://user-images.githubusercontent.com/10746682/100748137-3f729a00-33e3-11eb-9145-049a3ab17942.png)

[2020-12-01 13:42] makemefeelgr8 opened #111622 "Search field breaks page layout"
Issue Type: <b>Bug</b>

1. Display 2 files in split screen mode
2. Click ctrl+F to open search
3. Scroll to the very top using scroll wheel
4. Take a look at the red arrow on the screenshot:
![details](https://user-images.githubusercontent.com/39099842/100748134-a005d500-33eb-11eb-9383-7545e89e8002.png)

VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:34:32.02

[2020-12-01 13:44] isidorn commented on #111617
Yeah we always say Copying N files. Even though it might be folder
I can change to say `Copying N resources`. I want a term that contains both files and folders. Let me know if you have a better suggestion

[2020-12-01 13:45] aeschli commented on #104013
I like the process explorer but the refreshing makes the process explorer unusable. Any chance to prioritize the issue?

[2020-12-01 13:45] alexr00 commented on #111614
What do you think should cause the cancel to trigger? Or, if it takes sufficiently long enough would be show a progress notification with a cancel button?

[2020-12-01 13:46] isidorn commented on #111610
I hate you bot.

[2020-12-01 13:47] jrieken commented on #111614
Moving away is what I have in mind. Like, I hover long enough to start resolving but the move away

[2020-12-01 13:48] alexr00 commented on #111608
We'll wait for @Tyriar for this one.

[2020-12-01 13:48] bpasero commented on #111618
@misolori is the idea that this only works well if the extension is also used the associated foreground color? Should we maybe then just set it automatically?

[2020-12-01 13:48] alexr00 commented on #111614
That makes a lot of sense.

[2020-12-01 13:49] bpasero commented on #111610
@isidorn yeah you can veto from the `ILifecycleService`. Check the before unload event.

[2020-12-01 13:50] lszomoru opened #111623 "Open Editor Sorting - provide feedback during dnd"
Testing #110482

When dragging an open editor from one group to another, it would be nice to indicate to the user a valid drop target - maybe changing the background of the target editor group. It would also be nice to indicate that they cannot drop the editor onto the editor group to which the editor belongs.

The current editor group is an invalid drop target only if the open editors are sorted

[2020-12-01 13:51] sandy081 opened #111624 "Copy operation is not stopped even after cancelling"
Testing #111250

- Drag and drop two large folders into explorer and choose to copy
- Cancel the operation while the first folder is being copied

🐛 Progress is gone, Status bar item is gone, but Explorer still shows the progress and files are being copied in the background.

Since they are folders, user expect that the operation is cancelled and no copying happens

![Kapture 2020-12-01 at 14 47 4

[2020-12-01 13:53] alexr00 commented on #111550
Before we get too involved in coming up with new ways to show this we should look at the data again. We decided to only show one remote kind at a time because most users actually only use one remote kind. If that's changed, then I totally agree that there are better ways to show everything.

[2020-12-01 13:59] sandy081 opened #111625 "Show detailed progress while copying single folder"
Testing #111250

- Drag and Drop a single folder into explorer and choose copy
- Progress notification shows copying folder...

![image](https://user-images.githubusercontent.com/10746682/100749721-54e8c380-33e5-11eb-899b-4487526d96cb.png)

It would be nice if you can show detailed progress like how finder does

![image](https://user-images.githubusercontent.com/10746682/100749969-ae50f280-33e5-11

[2020-12-01 14:03] sandy081 opened #111626 "Update progress message to Copying x of y"
Testing #111250

Update progress message to Copying x of y

![image](https://user-images.githubusercontent.com/10746682/100750396-43ec8200-33e6-11eb-848c-a27491cc65c6.png)

[2020-12-01 14:06] #111496 closed

[2020-12-01 14:12] sandy081 commented on #111617
How about ->

If all of them are folders - say folders.
If all of them are files - says files.
If they are mixed - You can say Copying folders and files

[2020-12-01 14:14] bpasero commented on #111583
@isidorn yes, confirmed it is https://github.com/microsoft/vscode/commit/668b1d24399e3df2a517d1d18f2b406b1cef8cee

[2020-12-01 14:17] sandy081 opened #111627 "Web: No progress is shown while copying folder into explorer"
Testing #111250

- Use Web selfhost set up
- Drag and drop a large folder

🐛 No progress is shown

![Kapture 2020-12-01 at 15 15 48](https://user-images.githubusercontent.com/10746682/100751941-3e903700-33e8-11eb-83f0-c7962d9d5f8e.gif)

[2020-12-01 14:17] #111590 closed

[2020-12-01 14:19] heartacker commented on #111395
thanks for your remind.but without your remind, Very few people konws this. so i think vscode team should re-think about that.

[2020-12-01 14:19] egamma opened #111628 "Add a description for the auto option"
Testing #111514

The current setting options does not have a description

![image](https://user-images.githubusercontent.com/172399/100752184-9169ee80-33e8-11eb-9b57-dd96d284dadc.png)

Suggest to add one for the 'auto' case and explain that the decision is based on the lockfile.

![image](https://user-images.githubusercontent.com/172399/100752080-6bdce500-33e8-11eb-88e0-a8a28f223237.png)

[2020-12-01 14:20] sandy081 commented on #111627
Could be a duplicate of https://github.com/microsoft/vscode/issues/111583 ?

[2020-12-01 14:20] #110511 closed

[2020-12-01 14:20] isidorn commented on #111610
Great, will try to add in Debt week, not for endgame -> december

[2020-12-01 14:22] joaomoreno commented on #111185
Actually this notification only comes up 5 days after you were first informed that there was an update. Can you confirm that?

Is this really happening often to you, that you keep Code running for longer than 5 days without updating, even after getting an update notification?

[2020-12-01 14:22] Zorono opened #111629 "Run tab - NodeJS Debugging errors"
- VSCode Version: 1.51.1
- Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
- Date: 2020-11-10T23:31:29.624Z
- Electron: 9.3.3
- Chrome: 83.0.4103.122
- Node.js: 12.14.1
- V8: 8.3.110.13-electron.0
- OS: Linux x64 5.8.0-29-generic (Ubuntu 20.10)

<details><summary>Extensions (80)</summary>

Extension|Author (truncated)|Version
---|---|---
html-snippets|abu|0.2.1
asp-net-core-snippet-pack|adr|1.51.

[2020-12-01 14:22] isidorn commented on #111623
Good suggestion, however nothing for endgame.
Assigning to December so I investigate more in debt week. Thanks

[2020-12-01 14:24] sandy081 commented on #111619
@prashantvc FYI

[2020-12-01 14:25] egamma commented on #111589
The Learn More should also mention the `packageManager` setting and explain that it is now set to `auto` and that the user can also explicitly select a package manager.

[2020-12-01 14:27] alexr00 commented on #111538
I think this a wsl file events issue. Duplicate of https://github.com/microsoft/vscode-remote-release/issues/2310

[2020-12-01 14:27] #111538 closed

[2020-12-01 14:28] misolori commented on #111618
@bpasero yea we should set it automatically as the default error foreground should work better. I fear most won't read the description that mention the need to set the foreground so doing it automatically would be best.

[2020-12-01 14:28] aeschli opened #111630 "Undo text not working when focus is in file explorer"
Testing #111015

- In the VSCode repo, open `src/vs/nls.build.js`
- add some content on the first line, save
- in the file explorer rename the file to `nls.build.js1`
- from the window menu, run `Edit > Undo`. File is renamed back :heavy_check_mark:
- from the window menu, run `Edit > Undo`. Nothing happens, content change is not undone
- but the focus in the editor, then undo works

[2020-12-01 14:33] aeschli opened #111631 "Redo cut/paste not working"
Testing #111015

- In the vscode repo, select `src/vs/nls.build.js` in the file explorer
- Use `Cut` from the context menu
- in the file explorer select a different folder (e.g. src/vs/workbench/test), paste
- from the window menu, run `Edit > Undo`. Move is undone :heavy_check_mark:
- from the window menu, run `Edit > Redo`. Error message is
`Could not redo 'Rename nls.build.js to nls.build.jsW'

[2020-12-01 14:34] bpasero commented on #111618
I can make that change. @misolori so you also added matching foreground error colors when you tweaked background colors to themes right?

[2020-12-01 14:39] sandy081 commented on #103941
- Search for extensions in Marketplace by typing some text or use the predefined filters in the filter menu
- Choose sort options from Sort by sub menu
- Make sure that check mark is shown for the sort option that is used.

[2020-12-01 14:39] Dd-ouni opened #111632 "C++ DEBUG No such file or directory under the Chinese path of the Windows system"
- VSCode Version:  newest
- OS Version: windows 7 and ubuntu 20

Steps to Reproduce:

1. The Chinese path C++ DEBUG of ubuntu system is no problem.
2. C++ DEBUG No such file or directory under the Chinese path of the Windows system.
The Chinese path of the window system C++ compilation is no problem.
![image](https://user-images.githubusercontent.com/34804413/100754482-1cb5a500-3426-11eb-8dfb-ab01

[2020-12-01 14:42] #111250 closed

[2020-12-01 14:48] jrieken commented on #103941
wow - it took me very long to find that menu

[2020-12-01 14:49] NaomiN opened #111633 "96MB file is not updating after being opened first time and never closes"
Issue Type: <b>Bug</b>

I opened ~92MB .log file in the Editor and navigated towards the end of the file searching for the 'error' word. The file is on the Network folder. I have replaced that file several times already with the newer copy of that file. Unfortunately, the editor somehow keeps the version I opened more than a week ago and I am unable to even close it in the Visual Studio Code (that

[2020-12-01 14:53] cynecx commented on #107999
/verified

[2020-12-01 14:53] #111628 closed

[2020-12-01 14:55] bacuffe1 opened #111634 "findInWorkspace does not always update search term"
Issue Type: <b>Bug</b>

1) Have setting "Search: Seed On Focus" ticked
2) Have "findInWorkspace" bound to a keystroke
3) Perform a findInWorkspace search (that produces results)
4) Click on an entry in the search results (changes focus to the source file with the result)
5) Single-click on a another symbol in the newly-focused file
6) Hit the keystroke for "findInWorkspace" : SEARCH pane is now fo

[2020-12-01 14:56] #111609 closed

[2020-12-01 14:56] egamma opened #111635 "Running a script from the NPM Scripts view doesn't show the multiple lock file warning"
Testing #111514

When running a script from the NPM Scripts view then there is no warning about having multiple lockfiles.

[2020-12-01 14:58] isidorn commented on #111624
This makes sense, however the feature is designed like this currently -> Cancel currently only stops the operations which have not yet started. The one which is in progress is still ongoing.
Anyways closing as dup of https://github.com/microsoft/vscode/issues/111578
Since for that we would need cancelation on the FS layer

[2020-12-01 14:58] isidorn commented on #111627
Yeah, closing as dupe, thanks for finding the duplicate

[2020-12-01 14:59] #111627 closed

[2020-12-01 15:01] aeschli commented on #111631
Also seems to be timing dependend. It can work, other times not. Sometimes even the undo fails with the same message

[2020-12-01 15:05] #111600 closed

[2020-12-01 15:08] #111604 closed

[2020-12-01 15:08] dbaeumer commented on #111421
Works as advertised :-)

[2020-12-01 15:11] aeschli opened #111636 "Delete is no longer irreverisible"
Testing #111015

- select two files, press `shift + delete`
- dialog shows:
![image](https://user-images.githubusercontent.com/6461412/100758193-86ff2300-33ef-11eb-8293-b70abfd41886.png)\
- press ok
- invoke Undo, files are back

The impossible has happened! :-)

[2020-12-01 15:11] aeschli commented on #111636
(it's probably ok to leave things as they are  ;-))

[2020-12-01 15:12] cor opened #111637 "Live Share Terminal is invisible to participants"
For both the initiator and the participant:
- VSCode Version: 1.51.1
- OS Version: macOS Big Sur 11.0.1

Steps to Reproduce:

1.  Open a VSCode Live Share session
2. Initiator shares a terminal
3. Participant cannot see the terminals' text, but can type in it (the typed text is visible to the initiator)

Does this issue occur when all extensions are disabled?: Yes/No
No, because then There is no L

[2020-12-01 15:14] isidorn commented on #111636
Haha it's magic!
The problem is that we still do not fully restore deleted folders, so I think it is fine to keep this warning dialog.
Assigning to Debt week though to polish the dialog wording (we could remove "This action is irreversible" part).

[2020-12-01 15:22] FDiskas commented on #37350
Actually it could be done just by removing read only flag on comparing both changes page :)

[2020-12-01 15:23] weinand commented on #111629
This is a problem of your program, not a VS Code issue.

[2020-12-01 15:24] lszomoru commented on #106989
Looks like there are still places in which this occurs (ex: seeing the endpoint while hitting an error turning off sync)
<img width="461" alt="image" src="https://user-images.githubusercontent.com/3372902/100760053-a4cd8780-33f1-11eb-86af-557f7f853b9c.png">

[2020-12-01 15:24] isidorn commented on #111630
We have decide to behave like this -> if focus is in explorer we do not undo the changes done in the editor.
We can easily change this, though I would like to gather more feedback before chaning anything here. Thus assigning to December and debt week.

[2020-12-01 15:24] #111629 closed

[2020-12-01 15:26] Zorono commented on #111629
xD I amn't running any module that requires iconv as dependency...

[2020-12-01 15:33] OliverJAsh opened #111638 "Missing auto import suggestions for UMD modules such as `classnames`"
- VSCode Version: 1.51.1
- OS Version: 11.0.1

Steps to Reproduce:

[code]

1. `yarn add @types/classnames`
1. Erase `REPLACE_ME` and begin typing `classNames`

Does this issue occur when all extensions are disabled?: Yes

Expected: VS Code suggests an auto import of `classNames` from module `'classnames`'.

Actual: no suggested auto import.

![image](https://user-images.githubusercontent.com/9216

[2020-12-01 15:38] alexr00 commented on #111635
You should have seen the warning when the script view loaded, since that is when we first notice the multiple lock files. Did you see the warning then?

[2020-12-01 15:39] aeschli opened #111639 "Redo drop does not work for single file"
Testing #111015

Ubuntu

- In the Ubuntu file explorer, select a file a drop in the VSCode explorer
- from the window menu, run `Edit > Undo`. Copy is undone :heavy_check_mark:
- from the window menu, run `Edit > Redo`. Nothing happens

Interestingly, dropping 2 files and undo - redo works

[2020-12-01 15:44] florentchauveau commented on #111366
Hello,

Just received the latest Insiders release (commit bf21395291146c014220eb70b54fdfc0a15956b5). Issue should be reopened I think.

Bundled vs-code-server files are not provided for arm64 (Windows), and download on WSL side does not work.

Logs:

[code]

In the Temp directory, there are 3 **empty** files:
[code]

Previous releases look like this:
[code]

[2020-12-01 15:48] weinand commented on #111629
and when you run your program from the command line it works fine?

[2020-12-01 15:50] Zorono commented on #111629
yes
it works with node-inspect and node --inpect|

[2020-12-01 15:50] weinand commented on #111632
/extCpp

[2020-12-01 15:55] rndware commented on #3553
@ctf0 I just debugged the vscode-file-shortcut extension.

The extension gets the path from the activeTextEdit.document when triggered from a keybinding because e is undefined:
[code]
Which won't be the correct behaviour if a user is highlighting a different item in the explorer view than the current active text document. e.g. a user presses up the up key and has not pressed enter yet.

[2020-12-01 15:56] rzhao271 commented on #111324
It works for me now too, after updating again.
/verified

[2020-12-01 15:57] #111632 closed

[2020-12-01 16:02] aeschli opened #111640 "Redo created file fails"
Testing #111015

- Create a new file in the explorer
- from the window menu, run `Edit > Undo`. File is gone :heavy_check_mark:
- from the window menu, run `Edit > Redo`. Nothing happens

[2020-12-01 16:11] kanlukasz opened #111641 "highlightModifiedTabs and pinned tabs issue"
**Env:**
[code]

**Steps to Reproduce:**
As you can see, the blue stripe overlaps the pinned tabs
![obraz](https://user-images.githubusercontent.com/30685349/100765477-d0ec0700-33f7-11eb-9070-89638a9ee308.png)

**Does this issue occur when all extensions are disabled?:**
All disabled except GitGraph, but I don't think this addon is involved in this issue

[2020-12-01 16:18] LinqLover commented on #111185
Sounds plausible.

It is ... Restarting VS Code can take a while for me, mainly because windows are not restored on the correct virtual desktop (at least without [Videfix](https://github.com/LinqLover/Videfix)) and I do have to rearrange every single code window manually after each restart. I try to minimize the number of times where that's necessary.

[2020-12-01 16:27] weinand opened #111642 "js-debug insists on recent version of node.js"
Testing #111422

This launch config (which doesn't use node.js at all):
[code]

does not work on a linux that only has node.js 5.0.

Error message:

<img width="658" alt="2020-12-01_17-27-15" src="https://user-images.githubusercontent.com/1898161/100767967-a485ba00-33fa-11eb-9584-da191b926a10.png">

The launch config works fine when setting `debug.javascript.usePreview` to false.

(I use "nvm" on

[2020-12-01 16:28] IllusionMH commented on #111622
This is intentional so you would be able to see content of first 1-3 lines (you can expand this widget even more for replace).

[2020-12-01 16:29] jrieken opened #111643 "Don't render plain text via markdown"
While discussion `MarkdownStringTextNewlineStyle` with @eamodio I have learnt about this piece of code: https://github.com/microsoft/vscode/blob/af5c09a10cd17e598949c5008018431b97fea9fb/src%2Fvs%2Fworkbench%2Fservices%2Fhover%2Fbrowser%2FhoverWidget.ts#L85

I'd say it trouble some to try to render plain text via fancy escaping and markdown. The simpler variant would be to check if tooltip is a str

[2020-12-01 16:34] aeschli commented on #3352
@aminroosta Maybe open a new issue to describe your suggestion in detail and discuss the proposal.

[2020-12-01 16:39] amorphius commented on #46505
Suddenly I've recall why once I've stopped using Microsoft technologies completely

[2020-12-01 16:40] chenjigeng commented on #85411
@aeschli can you check this? I did it by borrowing its [ideas](https://github.com/microsoft/vscode-css-languageservice/blob/982dc8849a81e0f77c12b57c34e2da5263b93f2e/src/services/cssNavigation.ts#L270)

[2020-12-01 16:46] ArturoDent commented on #97979
It looks like the commit affects html but not css/scss.  Reading through the issue it doesn't appear to have been limited to html MDN references and documentation.  Are the same settings coming to css/scss?

[2020-12-01 16:49] aeschli commented on #97979
Yes, still working on that. That's why the issue is still open.

[2020-12-01 16:55] ahyerman commented on #108334
@JacksonKearl sorry for the delayed response. Using Python Extension for VS Code and Pytest

[2020-12-01 16:57] weinand commented on #111422
In addition to the test cases from above I've verified that node.js managers (e.g. nvm or nvs) work.
An "nvm use 12.13.1" in a terminal followed by "code-insiders ." makes that version of node.js available in the VS Code instance but nowhere else.

[2020-12-01 16:57] #111517 closed

[2020-12-01 17:01] AnthonyChiavelli opened #111645 "Background always dark after upgrading to OSX Big Sur"
- VSCode Version: 1.51.1
- OS Version: Big Sur (11.0.1 (20B50))

Steps to Reproduce:

1. Upgrade to Big Sur (11.0.1)
2. Wait some time (or maybe just until your first post-install system restart)
3. Open vscode and try to use a light theme

Basically, the background colors remain dark* no matter what theme is chosen, while the text and highlight colors correctly update. As a result, light themes a

[2020-12-01 17:03] justanotheranonymoususer opened #111646 "Auto save when using terminal"
Version: 1.51.1 (user setup)
OS: Windows_NT x64 10.0.19042

I'm using auto-save after delay, and it works great most of the time, but not always. A common flow is to code and run the code via the terminal below the editor. Sometimes, if I'm quick enough, the code that is run is of an old version of the code just before the upcoming save.

I'd like to have an option for Auto Save that combines both

[2020-12-01 17:08] manie204 commented on #103330
Take a look at [this part](https://code.visualstudio.com/Docs/editor/debugging#_multitarget-debugging) of the official documentation. In principle, you just create a debugging configuration for each rank you want to debug and then a compound configuration that starts all of them concurrently. You can then pair this mechanism with, for example, [gdb](https://www.gnu.org/software/gdb/) and its [gdbs

[2020-12-01 17:10] realemx opened #111647 "Extention not listed if starting with a dot"
- VSCode Version: 1.51.1
- OS Version: Manjaro Linux - Kernel 5.4.80-2

Steps to Reproduce:

1. Search for [this extension](https://marketplace.visualstudio.com/items?itemName=formulahendry.dotnet-test-explorer). It does not show under Linux, but it shows under Windows.

My guess is, it's because the extension name starts with a dot. I've manually installed the extension with the .vsix file and it

[2020-12-01 17:11] santiagopardal commented on #107793
Same issue, Ubuntu 20.04 Argentina!

[2020-12-01 17:16] sbatten commented on #111595
The menu theming of the native menu bar on Linux is controlled by your OS GTK theme. The recommended approach is switch your OS theme to a dark theme.

[2020-12-01 17:16] rebornix commented on #111510
@GitBashing do you mean when you open the file in the editor, the content is the old one?

[2020-12-01 17:17] sbatten commented on #111595
I will close this issue as designed but I will engage if you have further questions.

[2020-12-01 17:17] #111595 closed

[2020-12-01 17:18] rebornix commented on #111523
Not sure where this issue should go, starting with @bpasero

[2020-12-01 17:20] sbatten commented on #111130
If I understand correctly, you want to contribute a custom view container to the panel and then contribute your webview to that viewcontainer. https://code.visualstudio.com/api/references/contribution-points#contributes.viewsContainers

[2020-12-01 17:21] jrieken commented on #111526
This is a duplicate. Unfortunately, I don't recall the exact issue number nor its title :flushed: Anyways, searching for issues with the same labels will likely help you :point_right:
https://github.com/microsoft/vscode/issues?utf8=✓&q=is%3Aopen+label%3A"suggest""+label%3A"under-discussion""

[2020-12-01 17:22] jrieken commented on #111526
https://github.com/microsoft/vscode/issues/110193#issuecomment-723846492

[2020-12-01 17:22] #111526 closed

[2020-12-01 17:23] AnthonyReid99 commented on #111645
Update: Upon opening a new project, my background colors have now become _grey_, except my current line, which is rendered white...

[2020-12-01 17:23] rebornix commented on #111599
I'm not sure what's being changed in the worker and also I can't reproduce this with OSS. The last change in the `simpleEditor` is https://github.com/microsoft/vscode/commit/6391d710cf14eeadd9031bc8d20c86e9f734858d .

[2020-12-01 17:24] connor4312 commented on #111642
Node versions before 7 use the old inspector protocol rather than CDP, which we don't support, and the protocol is somewhat buggy even on 8. Node 8, which is EOL since this beginning of this year, accounts for <1.2% of debug users, and I imagine there are even fewer users with previous node versions, so I don't think it's worth going to the effort of trying to support this in any way aside from pr

[2020-12-01 17:29] ccornici commented on #109503
Having the same issue, I've hit CTRL+Z by mistake and undone a few dozen changes, then hit CTRL+Y and it undone only 2-3 changes, also hit CTRL+SHIFT+Z and nothing.....this only started happening in the past few days

[2020-12-01 17:29] isidorn commented on #111625
Agree with this 100% that it would be awesome to have, however for now closing as dup of https://github.com/microsoft/vscode/issues/111580
As it would require the same thing on the FS layer.

[2020-12-01 17:31] richiksc commented on #106770
@deepak1556 Is there any tracking issue to track the progress on Microsoft-internal Electron arm64 builds?

[2020-12-01 17:31] JacksonKearl commented on #108334
cc @connor4312

[2020-12-01 17:31] isidorn commented on #111631
Assigning to November to investigte

[2020-12-01 17:34] CameronBieganek commented on #110193
I agree with @cpusam that having to hit escape all the time is pretty annoying. I'll use the workaround provided by @jrieken, but I'd rather be able to disable this new feature (while still keeping suggestions on). Perhaps it would be even better to do what PyCharm does:

![image](https://user-images.githubusercontent.com/8310743/100775437-e8f86200-33c8-11eb-8deb-5a0d4ee7c8fd.png)

In PyCharm you

[2020-12-01 17:34] bamurtaugh opened #111648 "Optimize autosave message when changing settings"
Testing #111330

On step 2, I set `terminal.integrated.sendKeybindingsToShell` to true.

I got a toast notification, "Your changes are automatically saved as you edit."

![image](https://user-images.githubusercontent.com/25310137/100772618-b0e72400-33b4-11eb-9e49-4036814e8833.png)

At first glance, this would seem to be a way to tell me I have autosave on in general (which I don't).

![image](http

[2020-12-01 17:34] L13 commented on #111034
Hi, let me know if you need more details or if you have any questions.

The simplified example I have created in the message above shows what the issue causes. The exact order of these two when clauses are breaking the update of the icons in the editor title menu.

Thank you in advance.

[2020-12-01 17:35] meganrogge commented on #111611
Duplicate of ##111463

[2020-12-01 17:38] #111611 closed

[2020-12-01 17:45] meganrogge commented on #111648
Hey Brigit, thanks for bringing this to my attention. Git Lens indicates @JacksonKearl added this notification, so let's see what he thinks.

[2020-12-01 17:48] rzhao271 opened #111649 "Unable to force-toggle word wrap with diffEditor word wrap option"
Testing #111544

Version: 1.52.0-insider (user setup)
Commit: bf21395291146c014220eb70b54fdfc0a15956b5
Date: 2020-12-01T09:19:32.000Z
Electron: 9.3.5
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

I had a Markdown file with long lines, then duplicated each line to make them twice as long. Then I opened the difftool and the lines were wrapped even th

[2020-12-01 17:48] bpasero commented on #111422
@weinand thanks a lot, that is a great use case that I should probably put into the release notes 👍

[2020-12-01 17:51] olafgeibig commented on #101754
For me the same: doesn't work on terraform files

[2020-12-01 17:53] #111625 closed

[2020-12-01 17:56] #111539 closed

[2020-12-01 17:57] sandy081 commented on #111647
It is nothing to with extension name. Your linux distribution of VS Code is not using VS Code Marketplace instead it is configured with Open VSIX. Hence you are not seeing it in linux.

[2020-12-01 17:57] sandy081 commented on #111647
Duplicate of https://github.com/microsoft/vscode/issues/107997#issuecomment-703245178

[2020-12-01 17:57] #111647 closed

[2020-12-01 17:58] daytonellwanger commented on #111331
Thank you!

[2020-12-01 17:58] weinand opened #111650 "newly created VS Code instances do not always see .bashrc changes (linux)"
Testing #111422

Initial scenario: "install some new SW that extends the path in .bashrc":
- in a linux terminal open ".bashrc" and add "export FOO=BAR" at the end and save.
- in the same terminal run "echo $FOO" and observe that it is not defined (which is expected)
- in the same terminal run "code-insiders ." and observe in dev tools that FOO is not defined (which is surprising. Is this a bug?)

[2020-12-01 17:59] bpasero commented on #111523
This sounds like a Codespace issue, can you please open an item at: https://github.community/c/code-to-cloud/codespaces-beta/45

[2020-12-01 17:59] #111523 closed

[2020-12-01 18:01] sandy081 commented on #111598
<img width="335" alt="image" src="https://user-images.githubusercontent.com/10746682/100778717-a4d88200-3407-11eb-9679-4b2f9af6d19c.png">

[2020-12-01 18:01] #111622 closed

[2020-12-01 18:02] #111598 closed

[2020-12-01 18:02] rebornix commented on #111633
Starting with @alexdima since there are changes to this area recently.

[2020-12-01 18:03] #111584 closed

[2020-12-01 18:04] connor4312 commented on #108334
\extPython

[2020-12-01 18:05] JacksonKearl commented on #111648
Will go with "Changes to settings are saved automatically" as suggested in the original issue. (https://github.com/microsoft/vscode/issues/57033)

[2020-12-01 18:07] #111648 closed

[2020-12-01 18:08] JacksonKearl commented on #111648
Thanks for reporting!

[2020-12-01 18:08] bpasero commented on #111571
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2020-12-01 18:09] rebornix commented on #111512
Works as advertised, love this feature!

[2020-12-01 18:12] weinand commented on #111422
Overall the propagation (and isolation) of env vars into VS Code instances works fine.
But for linux (Ubuntu 20.04) I'm not sure that "running a background shell" always results in the same set of env vars as in a terminal.

[2020-12-01 18:12] RMacfarlane opened #111651 "git.api.getRemoteSources argument clarification"
Testing #111518

I found 'providerLabel' and 'urlLabel' both confusing concepts for this command, I didn't understand what was going to be displayed in the UI. 'providerLabel' was especially strange to me, since as the caller of the command, I don't have much insight into what providers are available, and I didn't know why the provider itself wouldn't specify a label. I think I just need an exampl

[2020-12-01 18:13] #111422 closed

[2020-12-01 18:18] sean-mcmanus commented on #111538
Okay, you're right -- the issue goes away when I use a workspace that is on the remote Linux side.

[2020-12-01 18:20] YVEF commented on #111460
Nope. Nothing changed.
Just to clarify on Windows I have more bright and thick fonts.

[2020-12-01 18:20] Tyriar opened #111652 "Action in explorer is interrupted shortly after creating a folder"
Repro 1:

- Create a folder
- Try rename it

![recording (16)](https://user-images.githubusercontent.com/2193314/100780540-b21d4e80-33be-11eb-886a-998cbe47bb4d.gif)

Repro 2:

- Create a folder
- Try create a file

![recording (15)](https://user-images.githubusercontent.com/2193314/100780450-96b24380-33be-11eb-8ee5-c2d70b89519a.gif)

[2020-12-01 18:23] rebornix opened #111653 "Redo file rename fails"
Testing #111015

Platform: macOS

* Rename a file from `a` to `b`
* `cmd+z` to undo, file name is reverted to `a`
* `cmd+shift+z` to redo, it throws an error

[code]

[2020-12-01 18:25] rebornix opened #111654 "Undo dnd from system finder throws error"
Testing #111015

* Drag a file from Finder into VS Code
* Undo

<img width="372" alt="image" src="https://user-images.githubusercontent.com/876920/100781061-66b77000-33bf-11eb-813d-7942023770e9.png">

[2020-12-01 18:28] isidorn commented on #111652
This works fine for me.
Though I do acknowledge that there might be a timing issue here, I just do not see it on my mac. Not a recent regression -> assigning to December to investigate more then.

[2020-12-01 18:29] isidorn commented on #111654
This works fine for me.
Are you dragging some special file?
Can you always reproduce this?
Do you see a more detailed error in the developer console?

[2020-12-01 18:30] egamma commented on #111635
I see a notification when I run `Run Tasks`

![image](https://user-images.githubusercontent.com/172399/100781432-50cf9c80-340b-11eb-82fc-171ecbeddfbf.png)

When I then reload the window and open the NPM Script Explorer then I don't get a notification. Would it be the same notification?

[2020-12-01 18:32] isidorn commented on #111653
@rebornix Works for me following your exact steps. Are you using some special files?
This might be coming from the Undo Redo Service, thus also assigning to @alexdima for ideas on how to repro

[2020-12-01 18:33] rebornix opened #111655 "Undo/Redo history messed up with dnd and file copy"
Testing #111015

Prerequisite: have a folder structure like below

[code]

Now follow below steps:

* Drag `b.txt` to `gitHub` folder
* `cmd+z` moves `b.txt` back to `sample` folder
* `cmd+c` on `b.txt`, `cmd+v` will create a file `sample/b copy.txt`
* `cmd+z` will remove file `sample/b copy.txt`
* now press `cmd+shift+z`

Expected behavior: `sample/b copy.txt` comes back
Actual behavior: `sample/

[2020-12-01 18:34] egamma commented on #111533
Worked well.

[2020-12-01 18:35] ffMathy opened #111656 "Can't attach debugger to extension host"
Issue Type: <b>Bug</b>

I ran `yo code` to generate a new extension.

Chose "typescript", "webpack", called it "pruner" (both identifier and product name), chose "npm".

However, when I hit F5, the extension window does indeed launch, but my breakpoint isn't being hit, and I don't see the "Congratulations" message of the template in my Debug Console.

VS Code version: Code 1.51.1 (e5a624b788d92b8d

[2020-12-01 18:37] rebornix opened #111657 "Unable to undo folder copy"
Testing #111015

Folder structure:

[code]

* Copy folder `sample`
* Paste into `github`
* `cmd+z` throws error `Unable to delete non-empty folder '/Users/penlv/code/prototype/notebook-test/github/sample'.`

[2020-12-01 18:38] RMacfarlane opened #111658 "git.api.getRemoteSources doesn't wait for providers to activate"
Testing #111518

To get the GitHub picker to show up, I had to explicitly wait for the `github` extension to activate:
[code]

It would be cool if running 'git.api.getRemoteSources' triggered an activation event that extensions providing these sources could use.

[2020-12-01 18:39] isidorn commented on #111655
Yes, I can reproduce this.
I believe the issue is that the redo operation is a move which overwrites the original file name `b.txt`.

No plans to fix this in endgame.

[2020-12-01 18:39] isidorn commented on #111657
Good catch, I can repro.

[2020-12-01 18:42] JacksonKearl commented on #111519
All looked good to me on Ubuntu.

[2020-12-01 18:42] rebornix opened #111659 "File explorer operations are undo when the editor has focus but undo stack is empty"
Testing #111015

This might not be true as currently I'm seeing

* Rename a file in the explorer
* Focus the editor
* `cmd+z`
* The file name is reverted, this is because the undo stack in the editor is empty, which makes sense but the focus is not **on the Explorer**

[2020-12-01 18:45] alpinedelight opened #111660 "Code Token/Key/Password Warning"
A feature that scans code before committing/storing to remote locations (i.e. via git) that its detected potentially compromising information, i.e. passwords, access keys, tokens, secrets etc.
This could be a simple confirmation, or even something more advanced i.e. install a secret manager extension, to drive best practice and protect sleep deprived developers from themselves.

[2020-12-01 18:47] lszomoru commented on #111549
@bpasero, could you help with this test plan item? Thank you!

[2020-12-01 18:53] misolori commented on #111542
This works very cool, nice job! I think having this enabled by default would help a lot of people out.

[2020-12-01 18:53] #111542 closed

[2020-12-01 18:59] roblourens opened #111744 "Welcome view buttons should have a width limit"
Testing microsoft/vscode-remote-release#4094

is very long

![image](https://user-images.githubusercontent.com/323878/100784588-41793080-33c4-11eb-9fc2-b23baadce849.png)

[2020-12-01 19:09] rndware commented on #15991
Yeah but the resource/uri of the item in question is **not** passed if you're running the extension though a keyboard shortcut.

So lets say you're on the explorer view and you press enter on a folder. Next you use a keyboard shortcut to run an extension you've made, it won't pass that URI as a param.

Which means you're forced to run the extension via a mouse click... which I try to avoid if at a

[2020-12-01 19:11] meganrogge opened #111662 "electron tests failing with timeout on Windows"
Testing #111492

[code]
I am not sure how to check my electron version, but perhaps that's the cause?

I tested manually and don't see any problems.

[2020-12-01 19:20] GitBashing commented on #111510
Thanks for your reply, this issue can be deleted because I have discovered it was caused by the cache of the browser. Pressing CTRL+SHIFT+R to reload the browser solved it.

[2020-12-01 19:20] #111510 closed

[2020-12-01 19:22] omeraksu commented on #41860
Yes, please!

[2020-12-01 19:22] bamurtaugh opened #111663 "Clicking issue from output of GitHub Issues notebook loses blue border around focused cell"
Testing #111552, with a closer look at last checked item in https://github.com/microsoft/vscode/issues/109549 (clicking on an issue in cell output and navigating back to VS Code).

Focus on a cell and run it:

![image](https://user-images.githubusercontent.com/25310137/100781567-0bd24880-33c0-11eb-9870-adb5c9da0f17.png)

Click on an issue from its output

Return to VS Code, looks like focus on the

[2020-12-01 19:23] misolori commented on #111618
Correct, [already updated](https://github.com/microsoft/vscode/commit/c6e90c5ea35877bd835be000d717c37d066b3bb9) the matching foreground color.

[2020-12-01 19:23] bamurtaugh opened #111664 "Expected "Change Language Mode" in command palette option to be "Code""
Testing #111552

Going through checked items in https://github.com/microsoft/vscode/issues/109549, I tried "After I create a new cell with Cmd+Enter I try to change the cell language with "change language mode" in the command palette."

Changing language mode via the command palette works, but I was initially confused since I noticed the options were "Markdown" and "GitHub Issues," rather than "Ma

[2020-12-01 19:25] tanzislam commented on #5770
https://devblogs.microsoft.com/visualstudio/announcing-the-release-of-the-git-experience-in-visual-studio/#enhanced-merge-conflict-resolution

Now VSCode really need to catch up! 😅

[2020-12-01 19:27] jrieken commented on #111548
Please attach a full sample and console.log printings

[2020-12-01 19:30] kieferrm commented on #111063
We should think about whether we want to show it at the same time when we show the cell menu. Deepnote is using this approach and it feel quite intuitive. Noisiness might be an issue though.

[2020-12-01 19:31] RMacfarlane commented on #110482
Really nice!

[2020-12-01 19:31] #110482 closed

[2020-12-01 19:35] #111492 closed

[2020-12-01 19:36] bamurtaugh opened #111665 "Error when trying to Open Changes in GitHub Issues notebook"
Testing #111552, focusing on diffing from https://github.com/microsoft/vscode/issues/109549

Make a change to GitHub Issues notebook

Navigate to source control viewlet, "Open Changes:"

![image](https://user-images.githubusercontent.com/25310137/100787743-f3b2f700-33c8-11eb-87fd-8791df95b023.png)

Got error message: "Unable to open 'XYZ.github-issues (Working Tree)': e.load is not a function."

!

[2020-12-01 19:39] isidorn commented on #110482
Thanks!

[2020-12-01 19:39] bamurtaugh commented on #111665
I realize this actually also happens when I try just clicking on the file from the source control viewlet after I closed it- I get the same error message and am unable to open/load the file:

![image](https://user-images.githubusercontent.com/25310137/100788335-c9156e00-33c9-11eb-9a74-f2c87b1d3a88.png)

[2020-12-01 19:43] JacksonKearl opened #111666 "Not able to re-enable an extension disabled via bisect"
Testing #111495

The `Enable` button is missing until reload.
![image](https://user-images.githubusercontent.com/8586769/100788745-5b1d7680-33ca-11eb-831a-f02f51987dfa.png)

[2020-12-01 19:52] eamodio commented on #111519
I think it looks good on Windows too. Below are some scenarios that I think make sense, but just documenting to make sure.

FYI, all the double-clicks are sometimes flakey. You really have to wait for the dblclick timeout to expire, before clicking again.

With `"workbench.list.openMode": "singleClick"` and `"workbench.list.multiSelectModifier": "ctrlCmd"`:

- `Ctrl+Click` select/unselect
- `Ctrl+

[2020-12-01 19:52] #111519 closed

[2020-12-01 19:57] eamodio commented on #111417
While this is outside the scope of this, when I went looking for the `workbench.editor.enablePreview` setting in the _Commonly Used_ section it took me a bit to find it at first because for I wasn't looking for the "Workbench" part.

![image](https://user-images.githubusercontent.com/641685/100790186-70ec6500-33e5-11eb-8b53-21cb509e4c2b.png)

[2020-12-01 19:59] bamurtaugh commented on #111552
It's always great being able to see the work being done on notebooks- I enjoyed using this and it looks really nice! If we're able to figure out a solution to the most recent issue I opened above (error when opening a notebook with changes from source control), I could take a closer look at the reported items related to diffing to verify they're working properly.

[2020-12-01 19:59] JacksonKearl opened #111667 "Extension bisect wording"
Testing #111495

Wording here feels a bit odd to me:
![image](https://user-images.githubusercontent.com/8586769/100790370-8b661480-33cc-11eb-97b1-1fe6aef5e190.png)

For fun tried pugging into GPT-3 and it suggests "Are you still seeing the problem for which you started an extension bisect?"  🤷‍♀️
![image](https://user-images.githubusercontent.com/8586769/100790427-9f117b00-33cc-11eb-95a0-ac3e88cf4

[2020-12-01 20:00] eamodio opened #111668 "Keep Editors Open menu choice in the editor '...' menu should be a checked option"
Testing #111417

While I like having the _Keep Editors Open_ choice in the editor `...` menu, it was unexpected to me that it would disappear once I chose it (users would then have to figure out how to undo, what it did). I would rather expect it to behave like a checked option -- you could check it or uncheck it to toggle the behavior.

[2020-12-01 20:03] eamodio commented on #111417
All looks good to me!

[2020-12-01 20:06] JacksonKearl opened #111669 "Extension bisect unable to find 2 bad extensions"
Ref #111495

I installed two annoying extensions, and clicked "still bad" when either of them were active. Eventually I got into a bad state where the bisect tool determined the problem to be within core.

![image](https://user-images.githubusercontent.com/8586769/100791021-86ee2b80-33cd-11eb-98c0-63dcbe6967bf.png)

[2020-12-01 20:11] JacksonKearl commented on #111495
Neat trick! Only a couple polish items, then a bigger question of it being potentially cool to generate a list of extensions rather than a single one.

[2020-12-01 20:14] deepak1556 commented on #106770
There is no separate public issue, all updates will be posted here.

[2020-12-01 20:18] sbatten opened #111670 "Consider adding a clear condition option"
Testing #111425

In a standard flow, this seems clunkier than necessary.

1. [Mouse] Right click > Edit Condition
2. [Keyboard] Backspace. Enter.

[2020-12-01 20:26] weinand commented on #111642
@connor4312 I'm **not** asking for support for legacy versions of node.js here.

The problem is that js-debug eagerly blocks my launch config based on the false assumption that it will use /usr/local/bin/node. The launch config does not use node.js at all. So there is no reason for blocking it. I think the error should only be shown if js-debug detects a real problem and there is some probability

[2020-12-01 20:27] mjbvz commented on #111132
Insiders tracks the next VS Code release

Closing since not reproducible in insiders (although perhaps worth checking if a simple re-install fixes the problem)

[2020-12-01 20:27] #111132 closed

[2020-12-01 20:27] sbatten opened #111671 "Exceptions breakpoints' context menu option "Remove Breakpoint" inop"
Testing #111425

"Remove Breakpoint" does not do anything. I am not sure if this is an issue with core or the mock debug adapter, but it should not be there or work.

[2020-12-01 20:31] #111425 closed

[2020-12-01 20:32] lszomoru commented on #111662
@deepak1556, could you please take a look at this? Thank you!

[2020-12-01 20:33] mjbvz commented on #111361
Closing as not actionable with more info.

If you see this again, please follow the instructions on the issue so that we can investigate

[2020-12-01 20:33] #111361 closed

[2020-12-01 20:35] deepak1556 commented on #111645
Does stating code with `--disable-gpu` help ?

[2020-12-01 20:39] alexdima commented on #111542
@misolori Yes, I tried to sell it as the default to the team, but there was push-back that people would be surprised because they don't have render whitespace on and they might "no longer recognize spaces vs tabs". But I agree that we should revisit this and probably make it the default.

[2020-12-01 20:41] mjbvz commented on #111493
Do you know which extension in particular causes the issue?

[2020-12-01 20:44] meganrogge commented on #111495
Really nice idea and execution. I agree with Jackson that the wording could be improved and that multiple extensions could be causing issues for a user.

[2020-12-01 20:45] roblourens commented on #88531
I still see this.

![image](https://user-images.githubusercontent.com/323878/100794635-b2274980-33d2-11eb-9cd8-160cd65a3035.png)

- Open a new empty vscode window
- cmd+O, open some file

also

- Connect to a remote
- While connecting, the title is offset. When it finishes connecting, it gets fixed.
- Sometimes if it fails to connect, it gets stuck like this

So, something about having a folder op

[2020-12-01 20:46] meganrogge opened #111672 "Good now every time results in identification of an extension causing an issue"
Testing #111495

I clicked Good now on every prompt shown and still saw at the end "Extension Bisect is done and has identified youssef.viow as the extension causing the problem".  Right now, it seems the code is assuming that an extension is to blame for the behavior, when that might not be the case. Perhaps it should check as the first pass with all extensions disabled if the problem persists an

[2020-12-01 20:49] #111495 closed

[2020-12-01 20:51] sbatten opened #111673 "Multi-word italic block in markdown does not select inner block"
Testing #111329

`*word1 word2 word3*`

1. Insert cursor after `3`
2. Expand Selection (Properly selects word3)
3. Expand Selection (Incorrectly selects everything including the `*`

[2020-12-01 20:54] RMacfarlane opened #111674 "Small typo in notebook mime type icon description"
Testing #111551

https://github.com/microsoft/vscode/blob/4d9277a23a035cb0493a856ce4b1174d0db5512c/src/vs/workbench/contrib/notebook/browser/notebookIcons.ts#L32

The description currently reads "Icon for a mime type notebook editors.", I believe it should be "Icon for a mime type in notebook editors."

[2020-12-01 20:55] rchiodo commented on #97992
I've done some debugging on this problem. I believe the root cause of the problem is the fix created by these two commits:
https://github.com/microsoft/vscode/commit/870700e95c18eff7f0827595b521a9d10a243274
https://github.com/microsoft/vscode/commit/88929c7a45ec3d1b0c570113cf222ff92a860f60

What I see happening is that the blur (from the second commit) is also async if the webview has focus alread

[2020-12-01 20:56] sbatten opened #111675 "Nested italics/bold behaves inconsistently"
Testing #111329

Case 1: `outer text **bold words *italic words* bold words** outer text`

Case 2: `outer text *italic words **bold words** italic words* outer text`

In case 1, expanding selection in the italics area seems to skip the inner italics block
In case 2, expanding selection selects the inner bold block but skips the outer italics block

[2020-12-01 20:56] weinand commented on #111629
How does you launch.json look like?

[2020-12-01 21:00] NSExceptional commented on #3352
@aeschli Maybe I'm missing something, but it looks like he was the last one to reply in the very discussion you're asking him to re-start 😅

To quote his own comment, it looks like no one on the VS Code team cares.

[2020-12-01 21:02] isidorn commented on #111671
Remove breakpoint should not appear on Exception Breakpoints.
Assigning to November to fix if it appears...

[2020-12-01 21:02] isidorn commented on #111670
This is a fair request. However for now will not add it since there is a workaround as you mentioned.
If more users request for this I am open for adding it.

[2020-12-01 21:07] diego-mazzaro opened #111677 "Find in Folder need escaping when filling "files to include" search option"
Issue Type: <b>Bug</b>

- have a folder named "some[folder]"  in the workspace
- right click the "some[folder]" in explorer pane
- select "Find in Folder..."
  - the search pane is shown and files to include will be ./some[folder]
  - no file is shown because brakets are interpreted as special characters
  - instead it shoud be escaped to ./some[[]folder[]]
  - in this way it work as expected and

[2020-12-01 21:09] jeffpedneau commented on #65369
Looks like we're set on the upvotes -- please let me know if there's anything else that's needed.

[2020-12-01 21:10] alexdima commented on #111633
If vscode is closed and the file comes back with an old state, this sounds like hot exit.

[2020-12-01 21:16] marc-guenther opened #111678 "double click on curly brace to select up to matching brace"
In Eclipse and several other editors, when I double click the mouse on a brace / bracket, it selects the entire content up to the matching bracket. In VSCode, nothing happens whatsoever.

This is a nice feature to have, that I quite miss here in VSCode, and apparently, there is also no plugin which provides that possibility.

This is a duplicate of #71376, which unfortunately has been closed withi

[2020-12-01 21:20] philippejer commented on #110141
Works great, thanks @alexdima :+1:

/verified

[2020-12-01 21:20] scu commented on #33752
I can't believe with all the frustration this has created for developers that this issue has not been addressed. It is literally the only thing keeping me from switching FT to vscode.

[2020-12-01 21:22] deepak1556 commented on #111460
Can you also check with `--force-color-profile srgb`

[2020-12-01 21:25] philippejer commented on #110141
/verified

[2020-12-01 21:32] alexdima commented on #111579
Please configure `"keyboard.dispatch": "keyCode"`

Please see https://github.com/microsoft/vscode/wiki/Keybinding-Issues#troubleshoot-linux-keybindings

[2020-12-01 21:32] #111579 closed

[2020-12-01 21:32] YVEF commented on #111460
Nothing:)

[2020-12-01 21:36] lambasoft opened #111679 "Font MesloLGS NF corrupted in terminal - MacOS"
- VSCode Version: Version: 1.51.1 | Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
- OS Version: MacOS BigSur 11.0.1 (20B29)

Steps to Reproduce:

My settings.json:
[code]

My Terminal when I changed font to MesloLGS NF:
![image](https://user-images.githubusercontent.com/15126305/100799287-7d94ab80-342d-11eb-9971-d01acc7e8378.png)

Output of:
```printf '\uE0B0\n'```
![image](https://user-images.

[2020-12-01 21:37] deepak1556 commented on #111460
Can you test with our exploration build that has a newer runtime https://az764295.vo.msecnd.net/exploration/a31f124319d43aef2e9d8b875015d11a53c6f541/code-exploration-x64-1606458313.tar.gz

[2020-12-01 21:39] #108334 closed

[2020-12-01 21:51] AnthonyReid99 commented on #111645
It does not :(

[2020-12-01 21:55] sparty182020 opened #111680 "Update Failure"
Issue Type: <b>Bug</b>

When trying to update aroung 11/30/2020-12/1/2020, I've been getting errors  for something involving a taskkill sort of thing (screenshot will be included)

![Error File Sreenshot](https://lh5.googleusercontent.com/Ve3-jpWGsSbsNuDECldWlHnCx-uTYaPD89EDXAbPzqdEFC19Px4bdYNSftBUjEQC_X8Yi-bQcF7vd9UZod27=w1920-h937-rw)

VS Code version: Code - Insiders 1.52.0-insider (ee46c1f89eb

[2020-12-01 22:03] deepak1556 commented on #111645
Can you try forcing a color profile following https://github.com/microsoft/vscode/issues/106756#issuecomment-722494532

[2020-12-01 22:05] NaomiN commented on #111633
Every time I close VS Code completely and then re-open this file (and 2 other files) come up :( If I try to press x at the top, it keeps asking me to save changes and I always answer 'Don't Save' and the file just never closes and remains in the editor.

[2020-12-01 22:11] NaomiN commented on #111633
UPDATE. Looks like the file did close now. I'm trying to open this new version of the file (97MB) and I'm seeing the waiting indicator.

[2020-12-01 22:11] misolori commented on #111663
@rebornix we seem to add a class `cell-output-hover` on `cell-inner-container`. If we could add a similar class for when the output has focus, we can tweak the focus rules and give the cell focus.

[2020-12-01 22:14] #109626 closed

[2020-12-01 22:14] RMacfarlane opened #111681 "Extra character in icon hover"
Testing #111551

<img width="243" alt="Screen Shot 2020-12-01 at 12 57 22 PM" src="https://user-images.githubusercontent.com/3672607/100796014-dbe17000-33d4-11eb-9df1-2dd04802b24f.png">

There's a ':' character after the description that looks a bit strange, I would expect that or the period before it to be removed

[2020-12-01 22:15] SG-Silvino opened #111682 "O arquivo parace ser binário e nâo pode ser aberto como texto"
Não consigo mudar qualquer tipo de configuração no VS Code. Desinstalo o VS Code e todas as configurações e extensões voltam, inclusive os arquivos e pastas do projeto que eu tinha deixado aberto antes de desinstalar o VS Code

[2020-12-01 22:18] Tyriar commented on #111652
I can't reproduce in 1.51.1 with `--disable-extensions`. Note that I don't have any settings on either and it happens on Insiders only. Here's the keybinding I was using in the gif, but it happens when clicking the new folder button as well, just be quick with F2:

[code]

Tested and works fine in:

Version: 1.51.1 (user setup)
Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
Date: 2020-11-10T23:3

[2020-12-01 22:20] rebornix commented on #109594
@jrieken the SCM contrib was not loaded at all and I pushed a change to remove the files for now. What else do you think can cause this or you think the problem is gone now?

[2020-12-01 22:20] nexxai commented on #111479
Can confirm that Insiders does not crash for me.  It's strange because it is even happening (in non-Insiders) when I run it with --disable-extensions.  Does the app write any logs anywhere that I can look into for further details?

[2020-12-01 22:24] vobarian opened #111683 "Code Helper (Renderer) 100% CPU usage - tsserver"
Issue Type: <b>Performance Issue</b>

After working for a while in a TypeScript/React project, I frequently find a process in Activity Monitor named Code Helper (Renderer) using 100% CPU. There is no specific step to reproduce this, it just happens after a while doing normal code editing. It might be related to using Cmd+Click "hyperlink" style code navigation but I haven't confirmed that. All ext

[2020-12-01 22:27] sparty182020 commented on #111680
nvm it fixed it self
thanks tho

[2020-12-01 22:27] #111680 closed

[2020-12-01 22:29] misolori opened #111684 "Clicking on notebook output link breaks paste functionality in find widget"
![Kapture 2020-12-01 at 14 27 39](https://user-images.githubusercontent.com/35271042/100804311-81024580-33e1-11eb-83f5-32e22d612efd.gif)

Steps to Reproduce:

1. Open GH issues notebook
2. Run a query with links
3. Click on a link
4. Copy some text from webpage
5. Go back to VS Code and open command palette (cmd+shift+p) and run "Generate Color Theme..."
6. Open Finder (cmd+f) and paste
7. 🐛  past

[2020-12-01 22:38] misolori commented on #111009
@aeschli can you provide verification steps? Unsure how I should verify and what to look for. Thanks.

[2020-12-01 22:54] louis925 opened #111685 "Markdown preview won't update when file changed by git"
Issue Type: <b>Bug</b>

1) right click a markdown file to open a preview of it in VSCode
2) push a change to the same markdown file from other place using git
3) sync the change to this computer using git or github app
4) close the preview tab in VSCode
5) right click a markdown file to open a preview in VSCode again
The preview doesn't reflect the change and is not the same as the markdown file a

[2020-12-01 22:58] #111420 closed

[2020-12-01 23:00] DavidGoldman opened #111686 "[Docs] DiagnosticCollection.set unclear API"
- VSCode Version: 1.51
- OS Version: macOS 10.15.7

Steps to Reproduce:

1. View the docs at https://code.visualstudio.com/api/references/vscode-api#DiagnosticCollection:

[code]

This suggests that the entries completely replace the collection, instead of keeping diagnostics in files previously in the collection but not in the given `entries` array.

2. In an extension, call this set method multi

[2020-12-01 23:01] DavidGoldman commented on #111686
I think this is due to the code [here](https://github.com/microsoft/vscode/blob/4d9277a23a035cb0493a856ce4b1174d0db5512c/src/vs/workbench/api/common/extHostDiagnostics.ts#L153) if I've read it correctly

[2020-12-01 23:17] AnthonyReid99 commented on #111645
Just tried, none of those worked

[2020-12-01 23:27] shanecbauman commented on #84120
That's really unfortunate. Especially considering that other Microsoft projects have implemented this feature request, ie. Windows terminal.

[2020-12-01 23:31] sbatten commented on #111423
not sure what I am doing wrong here. I'm simply adding a single line to the status bar sample along with getting the proposed api setup.

[code]

I don't see any effect. The status bar entry does show so it is activating.

[2020-12-01 23:34] sbatten commented on #111423
Ah, its because I use a string literal, that should work right?

[2020-12-01 23:42] mjbvz commented on #111683
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-12-01 23:46] #111514 closed

[2020-12-01 23:50] clintonblackmore opened #112050 "Console groups show escape codes instead of interpreting them"
**Describe the bug**

If I do a `console.log` statement and use embedded styles (such as changing the colour), they are reflected in the debug console in VS Code. If I do the same in a `console.group` statement, I see an escape sequence instead of seeing coloured text.

**To Reproduce**

- Connect VS Code to Chrome for debugging
- In the Chrome Javascript console, execute this statement: `console.

[2020-12-01 23:57] roblourens commented on #111677
https://github.com/microsoft/vscode/issues/82415

[2020-12-01 23:57] #111677 closed

[2020-12-01 23:58] khoilr commented on #111119
/verified

[2020-12-02 00:05] daytonellwanger commented on #111548
## Extension sample (extension.ts)
[code]

## console.log printings
*Open file*
*Make edit on clean file*
[code]
*Save file*
[code]
*Close file*
*Open file*
*Make edit on clean file*
[code]

## Full extension
[test.zip](https://github.com/microsoft/vscode/files/5626144/test.zip)

[2020-12-02 00:09] sbatten opened #111687 "string literal does not work with status bar item [background] color"
Testing #111423

https://github.com/microsoft/vscode/issues/111423#issuecomment-736887601

[2020-12-02 00:10] #111423 closed

[2020-12-02 00:28] roblourens commented on #111280
I see the problem, I do

[code]

I can probably move editorContextKeyService down a level. I'm not confident I can test whatever this impacts, I'll do it in debt week.

[2020-12-02 00:29] danthegoodman1 opened #111688 "Intellisense only shows single option on first occurance on new line"
- VSCode Version: 1.51.1
- OS Version: macOS 10.15.7

Steps to Reproduce:

1. Save and hit enter to begin typing on a new line
2. Do something like the image seen below (Fig. 1)

![image](https://user-images.githubusercontent.com/17806508/100812105-35b05d00-340a-11eb-9b7f-0929b82036dd.png)
_Fig.1 - when first typing out the line_

![image](https://user-images.githubusercontent.com/17806508/1008121

[2020-12-02 00:32] roblourens commented on #111634
I think you also need `search.seedWithNearestWord` enabled

[2020-12-02 00:33] roblourens commented on #111063
I did make it bigger last time we were talking about it. We can make it bigger again or try what Kai suggests.

[2020-12-02 00:39] mjbvz opened #111689 "'vscode.open' label effects all editors with the file"
Testing #111421

1. Using the FS Provider sample
1. Add a new command call `memfs.hello` that does the following:

[code]

3. Open any file from memfs
4. Run the command

**Potential bug**
Two editors should be open. However the title on both of them is now `xxx`.

I expected that only the editor opened using `vscode.open` would use the new label (although this behavior may be by-design)

[2020-12-02 00:40] #111421 closed

[2020-12-02 00:50] danthegoodman1 commented on #111688
Seemed to be an issue with the go linter, closing

[2020-12-02 00:50] #111688 closed

[2020-12-02 01:04] #111675 closed

[2020-12-02 01:09] meganrogge commented on #111679
have you tried changing the renderer type, IE `"terminal.integrated.rendererType"`?

[2020-12-02 01:12] lambasoft commented on #111679
@meganrogge Yes, I've tried all the options and unfortunately it did not work.

[2020-12-02 01:13] meganrogge commented on #111679
but it works fine with other fonts?

[2020-12-02 01:17] lambasoft commented on #111679
@meganrogge Yes, the problem happened when I installed powerlevel10k and ohmyzsh.
On iTerm2 the terminal works perfectly:
![image](https://user-images.githubusercontent.com/15126305/100815580-f35c3f80-344c-11eb-87c4-a736fb4207ef.png)

[2020-12-02 01:30] SetTrend opened #111690 "Text Editor > Search > Loop setting is ignored"
- VSCode/OS Version:
[code]

Steps to Reproduce:

![Loop setting is ignored](https://user-images.githubusercontent.com/9283914/100816348-2a7b2280-3446-11eb-8b34-a5c32473b161.gif)

[2020-12-02 01:32] digitarald opened #111691 "Missing iconDefinitions hints for debug-alt and debug-alt-small"
Testing #111551

`debug-alt` and `debug-alt-small` are available properties for `iconDefinitions` but don't offer any hint.

<img width="285" alt="Screen Shot 2020-12-01 at 5 31 39 PM" src="https://user-images.githubusercontent.com/8599/100816522-1bbb4e00-33fb-11eb-9ea9-b79ad69a0d18.png">

[2020-12-02 01:53] mjbvz commented on #111685
Is the editor content displayed in VS Code's normal text editor correct?

[2020-12-02 02:03] yegor-mialyk commented on #98041
Now it works as expected. Thanks.

[2020-12-02 02:05] meganrogge opened #111692 "Create folder, undo creation of it, redo creation of it requires two redo operations"
Testing #111015 related to #111640 but with unexpected behavior

As you can see, I create a folder, 'red'
Ctrl Z undoes the creation of it so it disappears
Ctrl Y should redo the creation of it _but instead recreates a folder I had deleted earlier, 'myfolder'_
Ctrl Y again re-creates 'red'
![recording (54)](https://user-images.githubusercontent.com/29464607/100818977-157ba080-3400-11eb-8ce5-c2607b

[2020-12-02 02:12] meganrogge opened #111693 "undo/redo copy and paste of a folder changes it to a file"
Testing #111015

Ctrl C on the file copies it as expected
Ctrl V pastes the copy as expected
Ctrl Z removes the file as expected
Ctrl Y adds a file with the folder's name
Ctrl Z removes the file with the folder's name

![recording (57)](https://user-images.githubusercontent.com/29464607/100819453-0fd28a80-3401-11eb-84ae-fafc649ed695.gif)

[2020-12-02 02:15] #111015 closed

[2020-12-02 02:19] ByteEater-pl opened #111694 "Support setting standard input for debugging"
I'd like a feature like at ideone.com whereby standard input can be set and reused non-interactively whenever the code is run. Currently I work around it by creating a file and reading from it instead. But it requires very different code which is a disadvantage particularly when the finished programme is supposed to operate on standard input.

[2020-12-02 02:31] #107963 closed

[2020-12-02 02:31] #107954 closed

[2020-12-02 02:31] 363797271 opened #111695 "My code highlights and comments are abnormal"
Hello, I found the code highlight exception when I wrote demo.

Then it turns out that the annotation shortcut (` Ctrl + / ') is not working as well.

Is this caused by vscode or extension?

![image](https://img-blog.csdnimg.cn/2020111717302746.gif#pic_center)

[2020-12-02 02:32] SetTrend opened #111696 "Features > Search > Show Line Numbers setting is ignored"
- VSCode/OS Version:
[code]

Steps to Reproduce:

![Search Show Line Numbers is ignored](https://user-images.githubusercontent.com/9283914/100820661-f821f300-344e-11eb-9315-23fb04204657.gif)

[2020-12-02 02:32] Abbyyan opened #111697 "How to get the cmd exit code run by terminal.sendText?"
According to  https://github.com/microsoft/vscode/issues/97217 , the `exitStatus ` can get the terminal status only when the terminal exit. But how can i get the cmd exit code after running in a vscode terminal? I know it may be difficult by tracing the stdout and stderr and they are not implemented. But if there any way to get the cmd exit code only please?

Like follows, could i get the exit cod