[2017-03-31 08:55] thewhitetulip commented on #23684
Yes, there are. "Accept", "Don't show again", "Close".

But the thing is, if someone wants to interact with it, they will interact immediately, if the user doesn't interact for say one minute, then we should stop showing the notification.

[2017-03-31 08:55] aeschli commented on #19267
Verified that 'Terminate Running Task' now correctly works.

Still, the Output view is brought to front he the question is asked, for no clear reason. @dbaeumer Let me know if you want a bug for this or all will change anyways.

[2017-03-31 08:57] rkoesoe commented on #22854
Yes, CDN is broken:
https://az764295.vo.msecnd.net/stable/8076a19fdcab7e1fc1707952d652f0bb6c6db331/VSCodeSetup-1.10.2.exe might be temporarily down or it may have moved permanently to a new web address

Using Tor Browser now, which does do the trick for me

[2017-03-31 08:57] isidorn opened #23729 "Show changes action not working again"
1. Revert commit ae41f6ed229ee3d9a5b0479e475330536eec0a28
2. Now undo that revert which you have locally
3. Look at changes -> click on show resource action in the diff view title bar -> get error

![screen shot 2017-03-31 at 10 56 05](https://cloud.githubusercontent.com/assets/1926584/24543671/b259fb94-1600-11e7-83fe-7d10ee24761d.png)

[2017-03-31 09:02] joaomoreno commented on #23443
Well, the Git provider didn't get a chance to register if you are fast enough. Extensions are lazily loaded.

[2017-03-31 09:02] tailgo commented on #1048
@Spown yes, it works well. thanks~

[2017-03-31 09:02] #1048 closed

[2017-03-31 09:03] weinand commented on #23695
@isidorn works fine with fix

[2017-03-31 09:07] aeschli commented on #23696
Verified in  277dc8bdb99ac2ae820d5ee35d9fa2fedd65d0b1

[2017-03-31 09:09] #23729 closed

[2017-03-31 09:10] aeschli commented on #23691
Verified by opening a JSON document that has no color information

[2017-03-31 09:21] joaomoreno commented on #23729
Good catch!

[2017-03-31 09:24] cortesi commented on #23721
I haven't been able to reproduce this without extensions enabled, but then also I don't (can't) use the editor extensively without extensions. From the location of the error, I'm assuming that this is an issue with managing spawned child processes within extensions.

[2017-03-31 09:26] DanTup opened #23730 "Debugger intermittently hits/misses breakpoints in extension activation code (race?)"
Ok, I know this is going to sound really silly, but I've wasted 30 mins on this and tried everything and I cannot figure out what's happening.

I have a VS Code Extension written in TypeScript (Dart Code). I was doing some work on it this morning and everything was working fine - I was make changes, restarting, hitting breakpoints. All good.

At some point, the debugger just stopped hitting my bre

[2017-03-31 09:29] DanTup commented on #23730
I've just tried hitting F5 to launch the extension several times, over and over. It hit the breakpoint *once*, but no other times despite nothing changing. In all cases "TEST ME" was output to the console.

[2017-03-31 09:33] datendenker commented on #15684
I would also like to see this feature.

[2017-03-31 09:33] dbaeumer commented on #19267
@aeschli please open an issue.

[2017-03-31 09:36] weinand commented on #20301
Not critical since our Electron launch configuration snippet sets the protocol to 'legacy' explicitly.

[2017-03-31 09:39] aeschli commented on #23577
@dbaeumer Steps to verify?

[2017-03-31 09:39] dbaeumer commented on #22250
@Jonathan34 this is strange. I tested this two days ago and it worked for me without any problems using a comparable TS setup.

[2017-03-31 09:42] michelkaporin commented on #21726
Verified by:
1. Amended tracked file.
2. Staged change.
3. Opened diff.
4. Commited.
-> Diff cleared.

[2017-03-31 09:44] rocifier commented on #22835
Got it. After making this minor change and using the main version of visual studio so node debug works, I can use the debug task to debug the unit tests. I think I've managed to install my local package into the main code editor so I can see the result more or less as I edit the package. Is this what you do? It seems the tests are going to be quite valuable here.

[2017-03-31 09:44] michelkaporin commented on #21737
For verification:
1. Add many extensions that produce extensions table for GitHub issue that is more than 1750 characters.
2. Click on Report Issues
3. Github should open with the following text under 'extensions':
`the listing exceeds the lower minimum of browsers' URL characters limit`

[2017-03-31 09:44] ThibaultJanBeyer commented on #18412
am I right that cmd+down is not working anymore?

[2017-03-31 09:47] isidorn opened #23731 "JSON does not mark a tab inside a string as an error"
1. Have the following json:
[code]
2. JSON does not report an error (I have a tab inside the string)
3. JSON.parse does not allow tabs inside strings which leads to very confusing behavior and optimally we would highlight this user error

fyi @alexandrudima

[2017-03-31 09:49] dbaeumer commented on #22250
@Jonathan34 can you provide me with a sample I can clone to further investigate ?

[2017-03-31 09:52] aeschli opened #23732 "Ctrl+D changes search input for repeated content"
Version 1.11.0-insider
Commit 277dc8bdb99ac2ae820d5ee35d9fa2fedd65d0b1
Date 2017-03-31T08:31:42.609Z

Have the following file foo.txt
[code]
- select `das` on the first list
- Press Ctrl + D. Observe that the selection gets extended to 'dasdas' and that the next match is on line 3

[2017-03-31 09:53] kumarharsh commented on #23693
Also, while setting the statusBarForeground to a different colour than white, the icons don't change colour due to being images rather than SVG. Would this be something which would need to be changed?

[2017-03-31 09:58] alexandrudima commented on #23732
Duplicate of #6661

[2017-03-31 09:58] #23732 closed

[2017-03-31 09:59] aeschli commented on #23624
Especially this search still returns very different results from before. With the fix for #23534 even less than before:
'${1:': with ripgrep: 13 matches, without ripgrep: 235 matches

[2017-03-31 10:01] dbaeumer commented on #22250
Here is what I see with dotnet core and a simple console app.

![cast](https://cloud.githubusercontent.com/assets/1931590/24546009/cc74dea0-1609-11e7-959a-7db72507722e.gif)

[2017-03-31 10:01] sqnkov opened #23733 "Format on save removes multiple cursors and moves main cursor"
- VSCode Version: Latest
- OS Version: Windows 10 Home

Steps to Reproduce:

![issue2](https://cloud.githubusercontent.com/assets/9406520/24546008/2cd81eee-1612-11e7-9473-e17781a39873.gif)
![issue1](https://cloud.githubusercontent.com/assets/9406520/24546007/2cd3ebb2-1612-11e7-87f7-4112192e01cb.gif)

Is it possible to keep the cursor count and positions? This is a huge time-wasting factor for me.

[2017-03-31 10:02] dbaeumer commented on #22250
So there must be something different with our setup which I don't see.

[2017-03-31 10:04] Tyriar commented on #23295
Let's not do this until someone asks

[2017-03-31 10:04] #23295 closed

[2017-03-31 10:04] aeschli commented on #23534
Verified that searches or 'Remove ' and 'Remove on' work well, but '${1:' somehow got worse. I annotated #23624

[2017-03-31 10:05] lukaschal commented on #23271
Fixed.

Sources:

Get a visual overlay highlighting the major components of the UI
Visual Studio Code debugger extension for Node.js
Interface overview
Visual Studio Code

New DEU translation:

Nutzen Sie die Möglichkeit der optischen Hervorhebung, um sich mit den wichtigsten Elementen der Benutzeroberfläche vertraut zu machen.
Visual Studio Code-Debuggererweiterung für Node.js
Überblick über die

[2017-03-31 10:06] dbaeumer commented on #23577
Not easy. You need to write an extension that contributes tasks and ensure that the extension is activated when typing `F1 > Backspace > tasks<space>` or you verify in code that in taskQuickOpen.ts I call `extensionService.activateByEvent('onCommand:workbench.action.tasks.runTask');`

[2017-03-31 10:07] dbaeumer commented on #23577
@aeschli

[2017-03-31 10:08] dbaeumer commented on #23673
Has base as a base class or base problem pattern. Something you subclass from.

[2017-03-31 10:08] #23673 closed

[2017-03-31 10:08] sandy081 commented on #23709
@gregvanl These commands do not take any args. Provided only `description` to give simple description of these commands. Also these are not complex commands :)

@jrieken Does the tool expects to always have args if `description` is provided.

[2017-03-31 10:09] infeng commented on #10864
Can I customize new window size?

[2017-03-31 10:11] alexandrudima commented on #23706
I can reproduce that `Ctrl+[Quote]` is toggling the terminal... But it doesn't appear to be our code (i.e. keybindingService). In other words we are ignoring the keydown event :|..

I believe it is Electron's confused menus.

[2017-03-31 10:11] dbaeumer commented on #8816
@mjbvz @waderyan can you follow up.

[2017-03-31 10:13] alexandrudima commented on #23706
I confirmed it is Electron's confused menus by removing the action from the menu:

![image](https://cloud.githubusercontent.com/assets/5047891/24546402/642642d8-160b-11e7-945f-5e601319eb3f.png)

`Ctrl+[Quote]` no longer toggles terminal (which is the expected behaviour)

[2017-03-31 10:16] jrieken commented on #23709
Yeah, I think we have now overloaded the command description in an unhappy way. This feature was designed and used to generate the API doc page, not really as a utility for the new keybindings UX. We need to somehow differentiate these two use-cases.

[2017-03-31 10:16] dbaeumer commented on #23396
isShellCommand is still necessary. If set to true the node executable is executed inside a Git bash.exe in our setup. If isShellCommand is false then node is executed directly without a surrounding Git bash.exe. In this case you loose some features (variable expansion, ...) but gain simpler setup

[2017-03-31 10:17] aeschli commented on #23522
I verified on the Mac that Cmd over the link shows the link and a click opens it.
On Linux I still see strangeness. I first have to click on same line as the link before a link appears. Not sure if this has to do with my Linux in a VM setup.

[2017-03-31 10:28] dbaeumer commented on #23578
Marking as verified. The code change is to add -c if bash is detected as the terminal set. It is independent of #23396

[2017-03-31 10:36] vscpp opened #23734 "Remove background color for "Copy text with formatting" feature"
- VSCode Version: 1.10.2
- OS Version: Win2012 R2

Steps to Reproduce:

1. VS code color theme is "Dark+". It meas the color of background is black.
2. Copy C code, and paste it into Outlook.
3. The paste text still contains background color. A large black in outlook. -> Could you add a option to remove the background color, just keep text with formatting?

[2017-03-31 10:37] jchannon opened #23735 "Find files - files to include globbing bug"
- VSCode Version:1.10.2
- OS Version:OSX10.11

Steps to Reproduce:

1. Have a folder setup of:
[code]
2. Put a *.cs file inside both folders
3. Do a search for `foo` with the glob set to `src/Portal/**/*.cs`
4. You will get results for files in Portal.Tests. This is incorrect, it should be searching only in Portal.

[2017-03-31 10:38] parsibox commented on #23232
i install "  yum install code  " ==> thene i run this " /usr/bin/code "  ==> say error ==>"/usr/share/code/bin/../code: symbol lookup error: /usr/share/code/bin/../code: undefined symbol: g_bytes_unref"

![err](https://cloud.githubusercontent.com/assets/12513476/24547221/eeaccbbc-1623-11e7-8183-0e87995b2c46.PNG)

[2017-03-31 10:39] michelkaporin commented on #22355
@uli2k can you please validate if it works on the latest insiders?

[2017-03-31 10:39] lukaschal commented on #23145
Fixed as suggested. See comments/explanations in a attached excel sheet.
[CHS updated (1).xlsx](https://github.com/Microsoft/vscode/files/885292/CHS.updated.1.xlsx)

[2017-03-31 10:39] #23145 closed

[2017-03-31 10:42] jrieken commented on #23259
very easy to repro in the end...

![mar-31-2017 12-42-22](https://cloud.githubusercontent.com/assets/1794099/24547326/82fbe5a6-160f-11e7-83c7-b626d859a122.gif)

[2017-03-31 10:45] sandy081 commented on #23709
I am not yet using the command description for new keybindings editor also did not add the description for that purpose.

I can remove the description from the above commands if it is meant for complex commands.

[2017-03-31 10:47] adambowles opened #23736 "Unchanged file showing unsaved indicator"
VSCode shows an indicator for files that are not different from their unsaved state.

Is this a Microsoft design choice?

I like to know that saving a file when the indicator is present means a new file will be written to the disk. So I think the indicator should only be shown when there is a valid diff of buffer vs. file on disk.

- VSCode Version: 1.10.2
- OS Version: Fedora 22

Steps to Reprodu

[2017-03-31 10:47] ashishdoneriya opened #23737 "VSCode should detect characters like new line and tab ( \n , \t) in find and replace."
VSCode should detect characters like new line and tab ( \n , \t) in find and replace.

Suppose I want to replace all tabs with new lines then how could I replace it.

[2017-03-31 10:48] jrieken commented on #23709
yeah, that would be favourable because otherwise more thing leak into the API commands page

[2017-03-31 10:58] #23706 closed

[2017-03-31 10:58] alexandrudima commented on #23706
The resolution is to not give any OEM key codes to Electron under non US keyboard layouts.

[2017-03-31 11:03] alexandrudima commented on #22875
@highfestiva Does the issue reproduce for you if:

* close all instances of vs code. Run from the command line `code --disable-extensions`. Does the issue reproduce?

* copy paste the contents of the python file to a .txt file. Does the issue reproduce?

Is it also possible that you share this file or some file very similar to it with us such that we can try to reproduce?

P.S. Not that the first

[2017-03-31 11:06] nodeProgrammer commented on #5963
outfiles?

[2017-03-31 11:12] dbaeumer commented on #23258
Verified by:

running from source
ensured that no output is written to the console.

[2017-03-31 11:12] michelkaporin commented on #22933
Verifying I've defined my custom snippet 'Print to console' for TS, however built-in TS extension still comes first.

![image](https://cloud.githubusercontent.com/assets/2239563/24547979/eda3b980-1612-11e7-8679-245b83a42cb0.png)

[2017-03-31 11:33] ipatalas commented on #3210
Hi guys,

great to have this feature allowing to use snippets from CompletionItems. However I can't make it work in my case.

I want the completion to insert something before the text being completed. I know I can do that using *additionalTextEdits* but I also want this part to be an editable snippet. The basic PoC code is as follows:
[code]
Unfortunately such completion item isn't even shown in t

[2017-03-31 11:34] weinand commented on #5963
@nodeProgrammer Yes, if your generated JavaScript is not side-by-side with the CoffeeScript source, then you'll have to specify the `outFiles` attribute.

[2017-03-31 11:42] druellan commented on #23698
There is an extension called MarkJump that provides similar functionality:
https://marketplace.visualstudio.com/items?itemName=spywhere.mark-jump

I've found it helpful when I'm working with a very long chunk of code, but I'm not sure if this is something I want integrated into the editor by default.

[2017-03-31 11:45] jchannon commented on #23735
Seems fixed in 1.11-0-insider

[2017-03-31 11:54] freMea commented on #23698
@druellan
Thank you very much, I couldn't find similar ext in the market place. I will give it a try. 👍

[2017-03-31 12:05] hoovercj commented on #23122
Are these values that would be appropriate for VS Code to store in the global or workspace state on the extension.context object? That would prevent the need for adding new API surface for what is effectively "state"

[2017-03-31 12:06] dbaeumer commented on #15723
Marking as verified. @jrieken and I discussed this lengthily and the API is fine as it is. For the language server protocol however we need the tab-state as discussed in #15178.

[2017-03-31 12:11] peterjuras commented on #23733
This applies to all operations (also from extensions) that are performed on save. What is the recommended way to preserve the cursor position (ideally in all open and editors on a save all operation)?

[2017-03-31 12:13] warrenbuckley opened #23738 "Extension Developers: Allow Variable Substitutions in Settings.config"
As an extension developer I would love if its possible to use the built in VSCode variable substitution in my own extension settings JSON config file, like task.json & launch.json
https://code.visualstudio.com/docs/editor/tasks#_variable-substitution

The ones of interest for me are `${workspaceRoot}` and `${workspaceRootFolderName}`

[2017-03-31 12:14] alexandrudima commented on #23415
To verify, when opening vs code (with the new logic) for the first time, an info message is displayed. The info message is never displayed again and we'll remove it completely next milestone.

[2017-03-31 12:15] alexandrudima commented on #23261
I verified by looking at the diff.

[2017-03-31 12:20] weinand opened #23739 "Unhelpful initial info message: "Some keyboard shortcuts have changed...""
- VSCode Version: smoke test
- OS Version: macOS

When starting VS Code with a new `--user-data-dir` I get an unhelpful initial info message: "Some keyboard shortcuts have changed for my keyboard layout."

What are the keyboard shortcuts? Does it affect me? Can I do something about it?

A link to a page with further information would be helpful.

[2017-03-31 12:20] whitecolor commented on #23092
Is there a proper consistent way to "transfer" extensions from one machine to another without need to manually install it on new one?

[2017-03-31 12:21] jag1989 commented on #11963
@svodnik I've removed ~10 extensions and I'm no longer seeing the issue.

I am indeed _still_ running without issue.

- formulahendry.auto-close-tag
- formulahendry.auto-rename-tag

This is a list of removed extensions

- HvyIndustries.crane
- Kasik96.format-indent
- Kasik96.format-php
- PKief.material-icon-theme
- Sophisticode.php-formatter
- Zignd.html-css-class-completion
- abusaidm.html-snippe

[2017-03-31 12:23] sarim commented on #22900
How about putting a <input type=text> with 2px * 10px size in place where the cursor it. That way it'll use the native blinking cursor of the <input> :P  <blink></blink> 👍

Also i'm not sure how severe this issue is, when VSCode is idle (i'm not writing code) it is almost always not in focus, focus is on other application i'm in. And cursor stops blinking.

[2017-03-31 12:32] alexandrudima commented on #23522
Trying to verify on Linux (bare-metal):

It mostly appears to work, except for a quirk that I think is due to how this is presumably implemented. I have the impression that the link highlighting code listens on keydown/keyup for CtrlKey instead of using mouseEvent.ctrlKey.

i.e. Here I press Ctrl+Alt+Tab. Once the focus goes into the other window, I release all keys. Notice how the links in the ed

[2017-03-31 12:34] jrieken opened #23740 "Cropped decoration in hc mode"
See attached screen shot. The circle around the 6 is cropped at the bottom when using high contrast mode.

![screen shot 2017-03-31 at 14 24 50](https://cloud.githubusercontent.com/assets/1794099/24550602/19bfc1ba-161f-11e7-8c27-a2232a728f1a.png)

[2017-03-31 12:35] alexandrudima commented on #22349
Looked at the diff, appears to correctly dispose the `previewModelReference` in the `dispose()` method

[2017-03-31 12:38] aeschli commented on #23566
not no authentication dialog in
Version 1.11.0-insider
Commit 4e89f9dca2febed9e3635d7eb4931d2226c2ffe2
Date 2017-03-31T11:08:37.071Z

[2017-03-31 12:39] sandy081 commented on #23709
Fixed by 2c2cf0bd313e4fcc6a59eb947659cb762f5d8607

[2017-03-31 12:39] #23709 closed

[2017-03-31 12:40] jrieken commented on #3210
@ipatalas A few things: (1) `var {{name}}` isn't the [supported snippet](http://code.visualstudio.com/docs/editor/userdefinedsnippets#_snippet-syntax) syntax but an old undocumented deprecated variant, (2) use [`SnippetString`](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L2157) to tell us that you want a snippet and not a string with curlies and dollar.

Then about `range` e

[2017-03-31 12:41] dbaeumer commented on #21511
Agree with @chrmarti that ctrl would be more appropriate than alt since we use it in the files explorer. Took me quite some time to recognize that this is alt in markdown.

[2017-03-31 12:44] oliversalzburg opened #23741 "Unable to paste file, which was copied in another vscode instance"
![image](https://cloud.githubusercontent.com/assets/1658949/24550872/678257c2-1620-11e7-8ba5-6e940a446707.png)

Steps to Reproduce:

1. Open two instances of VS Code. Copy a file in one instance.
2. Attempt to paste the file in the other VS Code instance.

The file is not pasted.

[2017-03-31 12:44] oliversalzburg commented on #23741
Apparently dupe of #17564

[2017-03-31 12:45] alexandrudima commented on #22399
Verified on Ubuntu + Portuguese (Brazil)

[2017-03-31 12:46] highfestiva commented on #22875
Please try it yourself. It happens to me always, and on my colleagues computer as well. It doesn't bother him (very slow typist), it bothers me.

[2017-03-31 12:49] alexandrudima commented on #17540
Works nicely now. Nice job!

[2017-03-31 12:59] Krzysztof-Cieslak commented on #944
From my point of view (and I guess similar is true for C# extension) to get really smooth startup experinace I'd need 2 things:
1. Wildcards in `activationEvents.workspaceContains`
2. `activationEvents.workspaceContains` checking also sub-directories not only top level folder.

[2017-03-31 13:02] jrieken opened #23742 "run tests in electron renderer by default"
Since a few weeks we now have `test-electron.sh` which runs our tests in a renderer process which is close the environment in which 90% of our code runs. Also, the allows up to give up the sometimes artificial separation between common and browser, e.g. for editor contributions which always run in a browser.

[2017-03-31 13:07] isidorn opened #23743 "Slow stepping when debugging Typescript repos"
Investigate again why the stepping is slow when debuggin the Typescript repository (steps take 1 second). More details can be found here https://github.com/Microsoft/vscode/issues/5645
fyi @egamma

[2017-03-31 13:08] aeschli commented on #22835
Yes, open the folder in VSCode, set breakpoints, open the debug viewlet, switch to 'Unit Test' and run.
![image](https://cloud.githubusercontent.com/assets/6461412/24551220/fe4e718a-1621-11e7-8ad5-c1e91d72f42e.png)

[2017-03-31 13:10] dbaeumer opened #23744 "Add example to demonstrate new task contribution and API mechanisms."
Title says it all. We should add the example when the API moved to the final state.

[2017-03-31 13:11] aeschli commented on #23566
Sorry, my fault. It works.

[2017-03-31 13:11] #23566 closed

[2017-03-31 13:11] aeschli commented on #23474
Verified on OSX and Linux.

[2017-03-31 13:13] weinand opened #23745 "SCM viewlet: Cmd-Click-based multi select doesn't work"
- VSCode Version: smoke test
- OS Version: macOS

In SCM changes view Cmd-Clicking items doesn't add them to selection. This makes it impossible to create a non-contiguous selection (but Shift-click works).

This works fine in stable.

[2017-03-31 13:13] jrieken opened #23746 "moz doesn't match on -moz-animation"
* open a css file
* trigger intellisense
* type `moz` to narrow down on all `-moz-xyz` properties
* 🐛 no suggestions

[2017-03-31 13:15] aeschli commented on #22835
I pushed a fix for the compile issue which was caused by a breaking change in a dependency.

[2017-03-31 13:16] #23746 closed

[2017-03-31 13:29] #23741 closed

[2017-03-31 13:32] aeschli commented on #23738
duplicate of #18709

[2017-03-31 13:32] #23738 closed

[2017-03-31 13:33] joaomoreno commented on #23745
Yeah let's fix this.

[2017-03-31 13:35] warrenbuckley opened #23747 "Extension Developer: Custom 'when' clauses for keyboard bindings & menus"
I have come across the when property for KeyBindings & Menus in the Contribution points in the package.json file of my extension, but I would love to be able to based inside some logic of my extension to enable/disable showing & hiding certain menu options.

https://code.visualstudio.com/docs/getstarted/keybindings#_when-clause-contexts

I could achieve this with a configuration but this seems wro

[2017-03-31 13:40] joaomoreno commented on #23092
Just copy them from the `~/.vscode/extensions` folder and paste them into another machine's.

[2017-03-31 13:41] aeschli commented on #23721
It's likely a extension running havoc. If you can single it out and file an issue against it that would be good.

[2017-03-31 13:46] bboydflo commented on #22900
from my experience, gifs are not so good. I once had a loading spinner as a gif image. and used it while interacting with indexeddb. sometimes I could see the spinner stop, even on the desktop.

[2017-03-31 13:47] isidorn commented on #23724
Just double click on it to edit. Or F2
We are by design trying to keep the context menu's as minimalistic as possible

[2017-03-31 13:47] #23724 closed

[2017-03-31 13:48] isidorn commented on #23726
Sounds like a duplicate of https://github.com/Microsoft/vscode/issues/16656
Assigning to @aeschli

[2017-03-31 13:49] JimAmuro commented on #534
I don't think it is that hard to do, in fact Atom does this by default. Every time VSCode updates I need to download the zip again, which is annoying...

[2017-03-31 13:53] loganhuskins commented on #23312
Version is 1.10.2, unsure of what I was looking at before. Sorry.

These are the only edits in my User Settings, my Workspace Settings are default.

`{
    "workbench.colorTheme": "Solarized Dark",
    "http.proxyStrictSSL": false,
    "window.zoomLevel": 0,
    "editor.tabSize": 2,
}`

Is that what you need?

[2017-03-31 13:54] weinand commented on #23730
Does it make a difference if you add a `"stopOnEntry": true` to your launch config?
What version of VS Code are you using?

[2017-03-31 13:55] unjx commented on #760
Adding to what @noformnocontent and @n370 have stated, there are a few more options on how you can render the line highlight.

From settings.json:
[code]

[2017-03-31 13:56] ipatalas commented on #3210
@jrieken thanks for a very quick answer

Regarding the snippet syntax, I know. I've been just trying them all with no success and this one I ended up with so I took this example somehow by accident.

Thanks for the note about `filterText`. I deeply misunderstood what it's for previously. Just checked it with some examples and it works just fine. Thanks a lot for your help!

Cheers,
Irek

[2017-03-31 13:58] whitecolor commented on #23092
well this is not very portable

[2017-03-31 14:00] joaomoreno commented on #23092
Can you elaborate?

[2017-03-31 14:01] bugpowder commented on #396
@dmccaffery

Then maybe don't dominate the conversation with negative comments against the feature and about how VSC is not an IDE? I think a single response/negative voting is enough, or at worst two, if one needs to clarify a position further.

Besides, the "not an IDE" argument is moot. Other non-IDEs also allow for that.

Not that big an issue. Either search all, or have a selector to scope th

[2017-03-31 14:05] DanTup commented on #23730
It's latest stable Code, can't remmeber the version. I can check that and try `stopOnEntry` later when I can get back to PC. I'll also see if I can repro in a different project (like a newly-scaffolded TS extension).

[2017-03-31 14:11] jrieken commented on #23747
There is an API-command which allows you set a context key. See https://github.com/Microsoft/vscode/issues/10471#issuecomment-239764839.

Closing this as of #10471 which should be considered for April

[2017-03-31 14:11] #23747 closed

[2017-03-31 14:14] vkniazeu commented on #23054
My error message was "Version mismatch! global tsc (2.2.2) != VS Code's language service (2.2.1)." even though I had `typescript 2.2.2` version installed globally and it my project's workspace too.

The comment about "the version number in the lower right corner of the Code editor's status bar" was helpful to me.

If you click on this version number in the lower right corner, you are presented wit

[2017-03-31 14:23] joaomoreno commented on #22971
Verified by code review.

[2017-03-31 14:28] JasonKleban commented on #23701
The updated version of npm is installed with `npm install -g npm`.  As I understand it, npm is installed automatically with Node. However, it's probably not the latest version, or maybe not even a recent version - just used as a minimum compatibility.  Npm gets installed separately with the latest version and as long as this latest version precedes node's built-in old version in PATH it will have

[2017-03-31 14:41] joaomoreno commented on #23701
If you open the `Developer Tools` in VS Code (using <kbd>F1</kbd>), and run `process.env.PATH` in the Console, can you find out a bit more about the difference between that value versus the one in a Command Prompt?

[2017-03-31 14:44] whitecolor commented on #23092
Well you need to copy all the extension's content can take a while so it is not like some config with data that you just store in git repo, and can apply to new vscode installation if needed.

[2017-03-31 14:45] jens1o commented on #23698
Nice idea. Thanks!

[2017-03-31 14:46] vishalmamidi opened #23748 "yes really"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2017-03-31 14:46] #23748 closed

[2017-03-31 14:49] devrelm commented on #23559
I'm really interested in this getting fixed up, but it looks like it's a dup of #21424, which itself was closed as being tracked by Microsoft/TypeScript#13270.

[2017-03-31 14:53] konqui opened #23749 "Markdown Preview Unable to handle GFM task list"
If i insert a GFM like Todo Tasklist like this:

[code]

it gets parsed to :

[code]

instead of as it should be (in my Opinion, and also shown here https://github.com/blog/1375-task-lists-in-gfm-issues-pulls-comments ):

[code]

is this really not done correctly or am i missing a setting or something like that?

[2017-03-31 15:05] adampfoster commented on #309
Syntax highlighting is one (very small) thing, but utilising ~/.bash_profile within VS Code terminal, opens the door to the flexibility that ~/.bash_profile provides to a dev on their machine, to access their own custom aliases and functions for example.

[2017-03-31 15:06] DanTup commented on #23730
If I set `"stopOnEntry": true` then everything works (I get stopped in `bootstrap.js`, but `F5` then it hits my breakpoint). Setting it back to `true` and I'm not hitting breakpoints.

It's Code v1.10.2.

I can repro with the `yo code` template. Out of the box you have to invoke a command to activate - that seems to work fine (breakpoint on the `console.log` works). However, if I add activation ev

[2017-03-31 15:09] edhenderson commented on #23718
@aeschli You are quite correct, removing the Yaml front matter clears the error, BUT this is required for Jekyll to correctly use Sass.

Example below is from http://markdotto.com/2014/09/25/sass-and-jekyll/#using-sass-imports

[code]

I'm not quite sure of the resolution here as of course this is an edge case on regular Sass. Happy to help diagnose and fix.

[2017-03-31 15:11] weinand commented on #23730
Yes, if you want to debug early activation ("startup code"), then you'll have to use the `"stopOnEntry": true`setting. Otherwise the extension host has already executed your early startup code before the attached debugger had a chance to register the breakpoints.
This timing had changed in VS Code 1.10.0 (the extension host now starts faster).

[2017-03-31 15:15] DanTup commented on #23730
Aha; I was just adding a comment about this... It does seem like a race at startup; my later breakpoints get hit:

![Breakpoints](https://cloud.githubusercontent.com/assets/1078012/24556634/f056ff4c-162c-11e7-854d-e8b6f9fa5246.png)

I know starting up faster is good, but this feels like a bug. Would it not be better to hold up extension activation until the debugger is ready? It'd add < 1 sec to t

[2017-03-31 15:15] bpasero commented on #22527
@michelkaporin I cannot reproduce, on what OS?

[2017-03-31 15:20] bpasero commented on #23693
Yes that is captured in https://github.com/Microsoft/vscode/issues/23526

[2017-03-31 15:22] mikelward commented on #23714
That seems to change to the other split.  Which is not what I'm asking for.  I'm saying that there should be a go back command that's local to one group (e.g. left side), so that if I change to a different group (e.g. right side), then go back to the original group (left side), the back command doesn't take me to the right side, it takes me back to the place I was before doing editor.action.goToDe

[2017-03-31 15:22] bpasero commented on #23547
That would be https://github.com/Microsoft/vscode/issues/4180

[2017-03-31 15:25] bpasero commented on #23736
https://github.com/Microsoft/vscode/issues/919

[2017-03-31 15:25] #23736 closed

[2017-03-31 15:26] bpasero commented on #23563
If I understand correctly, updating to the latest NVDA and running VS Code caused a crash. I just tried this (getting an update for NVDA) and cannot reproduce the crash.

[2017-03-31 15:28] mikelward commented on #23714
Let me make the repro clearer:

1. Open a Python file (or any source file with goToDefinition support)
2. Click on a function call, then press the binding for editor.action.goToDeclaration
3. File -> Preferences -> Keyboard Shortcuts
4. Click back in the Python file tab

How do I go back to where I was at 1 in a single keypress?  All the other suggestions take me back to keybindings.json

[2017-03-31 15:32] bpasero commented on #22527
I can reproduce only on Windows, seems like a timing issue.

[2017-03-31 15:33] bpasero opened #23750 "Windows: rename casing of file shows "file deleted on disk" in editor tab"
Steps to Reproduce:

1. seems to only reproduce on Windows for me
2. rename a file to a different casing
3. the file tells me that it was deleted on disk

[2017-03-31 15:33] roblourens commented on #23735
Thanks for trying insider's. Search is using a different backend there.

[2017-03-31 15:33] #23735 closed

[2017-03-31 15:35] v217 opened #23751 "In Markdown preview an unused margin to the right of the preview is wasting screen space."
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:00:46.854Z)
- OS Version: Linux x64 4.10.0-14-generic
- Extensions:

 **Please note I disabled all extensions. The problem persists!**
|Extension|Author|Version|
|---|---|---|
|vscode-auto-open-markdown-preview|hnw|0.0.4|
|md-navigate|jrieken|0.0.1|
|vscode-paste-image|mushan|0.3.0|
|pony|npruehs|0.0.4|;

---

S

[2017-03-31 15:47] #23259 closed

[2017-03-31 15:50] Tyriar commented on #309
@adampfoster `~/.bash_profile` will run by default on macOS in the upcoming v1.11. This issue is more about code navigation in bash.

[2017-03-31 15:52] mikelward commented on #23714
@bpasero That does not address my use case. Please take another look.

[2017-03-31 15:54] Tyriar commented on #23522
@alexandrudima you are right :smile: I was planning on reaching out to you to see how to handle it in the editor. So you just release on window blur? https://github.com/Microsoft/vscode/issues/23621

[2017-03-31 15:55] aeschli opened #23752 "Task dialog switches to output view"
- create a task in task.json
[code]
- run the task
- while the task is running, run a second task
- dialog asks:
There is an active running task right now. Terminate it first before executing another task.

The output view is made visible for no clear reason.

[2017-03-31 16:00] InDieTasten commented on #23669
This also applies to generic type parameters:
![image](https://cloud.githubusercontent.com/assets/7047377/24558575/e2aa9f84-163b-11e7-896d-b2eb4e2a1aba.png)

[2017-03-31 16:02] rgilling opened #23753 "Debugger does not break on symlinked module (NodeJS/Mac OSX Sierra)"
I think there's an issue with symlinks on Mac. I used npm link to link a module. The code runs fine, but adding a breakpoint does not break.

- VSCode Version: February 2017 (version 1.10)
- OS Version: MacOS Sierra Version 10.12.3

Steps to Reproduce:

1. Create a child NodeJS module - just hello world will do. - run npm link in the module directory.
2.Create a parent module and npm link the chil

[2017-03-31 16:04] codefoster commented on #23550
If I understand OP correctly, this is different from #396. With this feature I would be able to...
1. open a folder in Code
1. right click on one of its subfolders
1. choose Set as Base Folder

At that point, the subfolder would become the top level - the folder that Code is recognizing as the root folder.

I would add a couple of other related requests.

A. the ability to navigate up (set the cur

[2017-03-31 16:11] glesperance commented on #396
I fixed this issue in my own setup by creating a dir for each "workspace" and symlinking to the projects I want to see in that said workspace.

[2017-03-31 16:13] chrmarti commented on #21886
Another way to look at it is that the Playground document is at odds with the layering, because it comes with languages that are not in the core, but in extensions. Longer term we could move the document out of the core, while keeping the Playground URI scheme and editor as language-agnostic support for playgrounds in the core. That would allow for special-casing the Playground scheme in the core

[2017-03-31 16:13] bpasero commented on #23714
@mikelward works for me though:

![untitled](https://cloud.githubusercontent.com/assets/900690/24559108/551ac5de-15f2-11e7-8dee-72cfdaebf76f.gif)

[2017-03-31 16:19] fasa123 commented on #3600
Is there any Vim plugin that has textobj support implemented? The atom vim plugin supports commands like dif (delete inner function) ci' (change inner ') and so on.

Textobj and the Jumpy extension working with the Vim extension are the 2 main reasons I am staying with Atom. The plugins are way more matured and usable in Atom and simply just work as expected.

[2017-03-31 16:24] waderyan commented on #22854
@rkoesoe you are correct. Heard back from Azure support and they tracked it down to a CDN failure. Working on improving the system.

[2017-03-31 16:24] 4mitch commented on #23133
Plz try [vetur extention](https://marketplace.visualstudio.com/items?itemName=octref.vetur) and add some User settings described on it page.

Seems it makes Ctrl+/ does correct comment either in vue-html parl or script and style part. See attached GIF

На здоровье!

![vscode_comment_vue](https://cloud.githubusercontent.com/assets/2834246/24559374/198cb5fe-1647-11e7-8728-53823030ce74.gif)

[2017-03-31 16:30] Jonathan34 commented on #22250
I just received an update to commit: cc46bbf5b0412e464f89280e828d602fbc06a0f4 (2017-03-31T13:40:54.578Z) and now it seems to work!

I did an update yesterday, may be it was not there yet?

Can be closed!

[2017-03-31 16:33] johnfn commented on #3600
@fasa123 VSCodeVim supports text objects. Things like `daw`,  `ci'`, `ci(`, `yap` etc. all work. `dif` is not a text object in Vim as far as I know, so it's not supported, but you can feel free to add it if you'd like! I actually added a custom text object `af` which selects ever-increasing blocks of text, so it probably works in a similar way to the `dif` you're used to.

[2017-03-31 16:42] mikelward commented on #48
+1

    code -n .
    code -n .

Should launch two instances.

In practice, I actually need to be able to run vscode in a remote desktop/VNC session and a local desktop session on the same machine, both editing the same folder/project.  At the moment, I have to pkill one so I can start the other.

[2017-03-31 16:52] chrisdias commented on #23317
https://github.com/Hashnode/mern-starter/pull/296

[2017-03-31 16:52] #23317 closed

[2017-03-31 16:54] brsanthu opened #23754 "New Feature Request: Add menu item "Open Recent in New Window""
Please add parallel menu along with `Open Recent >` like `Open Recent New Window >` that opens the selected item in new window.

This is very useful as we deal with multiple projects and each time we need to manually open the new window and then do open recent. If we forget to do it, all commands running in the terminal gets terminated and we need to start over again.

[2017-03-31 16:55] concatime commented on #23597
Oh nice! Thank you!

[2017-03-31 16:58] manuth commented on #23196
Hello
I'm having the same error.
Would it be possible to add a higher timeout for users with low-bandwidth-network?

[2017-03-31 17:01] chrmarti commented on #14286
- VSCode Version: Code - Insiders 1.11.0-insider (cc46bbf5b0412e464f89280e828d602fbc06a0f4, 2017-03-31T14:08:17.917Z)
- OS Version: Windows_NT ia32 10.0.14393

Still an issue:

![image](https://cloud.githubusercontent.com/assets/9205389/24560593/38c70f72-15f8-11e7-9ce5-e05fe792a70d.png)

cmd.exe:

![image](https://cloud.githubusercontent.com/assets/9205389/24560760/e3ffa12e-15f8-11e7-9ec7-3226c7f1

[2017-03-31 17:03] seesemichaelj commented on #15613
Despite the fact that this is easily revertible after an accidental mass commit, the git CLI does not allow you to commit without staged files.

If it's not a setting that disables this functionality, then if there are no staged files, prompt the user that you cannot commit without staged changes and ask if the user would like to stage and commit all changes (with the default option to be No).

Fo

[2017-03-31 17:03] fasa123 commented on #3600
You are right. They in fact do work I don't know whats wrong with me wow.

Also the af command surprisingly works really well thanks for pointing this out.

One question left though. Is there some way I can use daf instead of first having to vaf then d?

Also I assume there wasn't any further developement on that whole "multiple-extensions registring hotkeys for the same scope" (Jumpy&Vim) dilemma

[2017-03-31 17:03] mosajjal commented on #48
it works ! Thanks :-)

[2017-03-31 17:12] chrmarti commented on #15233
Now just `cmd+` is shown. Somehow the display below the text field shows what looks like a small empty box where later the character goes. Maybe that could be improved by not showing that? Marking verified.

Here with `Shift + Cmd` from the screenshot shortcut:
![screen shot 2017-03-31 at 10 08 55 am](https://cloud.githubusercontent.com/assets/9205389/24561152/95cb7472-15fa-11e7-88d9-b22190da956f.

[2017-03-31 17:14] roblourens commented on #21835
So if `startDebug` is invoked from another command, `startSession` should be called? I don't see that happening. But it seems like if we did that, we'd just end up in a loop...

[2017-03-31 17:23] Tyriar commented on #14286
@chrmarti isn't that's the debug console, not the terminal?

[2017-03-31 17:24] sqlaide commented on #19400
Personally, i would just like to switch cursor between terminal and editor without hiding terminal. This setting works for me.
 {
        "key": "ctrl+`",
        "command": "workbench.action.terminal.focus",
        "when": "!terminalFocus"
    },
    {
        "key": "ctrl+`",
        "command": "workbench.action.focusActiveEditorGroup",
        "when": "terminalFocus"
    }

[2017-03-31 17:26] Tyriar commented on #23312
@loganhuskins most of it yeah. Also have you done anything to change your powershell prompt or is it the default one?

[2017-03-31 17:28] Tyriar commented on #23662
@mcepl I don't think you can set the `--max_old_space_size` flag globally to apply to all gulp commands, so we would need to make an explicit npm script for every single gulp task for that to happen. We only hard code it for `npm run watch` and `npm run compile`

[2017-03-31 17:30] Tyriar commented on #23232
@parsibox thanks, can you paste in the output of these commands:

[code]

[2017-03-31 17:30] petersladek commented on #12645
Totally agree. I just had to google to find out Alt+Up/Down works, not intuitive at all. Just copy the experience from sublime text please - including combo selection, autocomplete for folders etc.

[2017-03-31 17:33] jeffyoung opened #23756 "Insiders can't find existing preLaunchTask"
- VSCode Version: 1.11.0-insider (2017-03-31)
- OS Version: Win10

I use a gulpfile.js to do my command line builds and I reference these tasks when debugging my extension (and tests) in VS Code via launch.json.  Insiders 2017-03-15 successfully finds my 'publishbuild' preLaunchTask and allows me to debug my extension.  However, 03-31 displays the error:

![image](https://cloud.githubusercontent.c

[2017-03-31 17:38] Tyriar commented on #23735
@roblourens isn't that wrong though? A search in `src/Portal/**/*.cs` should not match anything in `src/Portal.Tests/` due to the `/` after `Portal`?

[2017-03-31 17:51] JoyalToTheWorld opened #23757 "Allow project specific keybindings"
same as the settings.json, I should be able to specify a local keybindings.json that overrides user keybindings and global keybindings.

A prompt alerting the user to the override and asking which to use might be appropriate.

[2017-03-31 17:56] chrmarti opened #23758 "Can start same task twice when adding task to tasks.json in between"
- VSCode Version: Code - Insiders 1.11.0-insider (cc46bbf5b0412e464f89280e828d602fbc06a0f4, 2017-03-31T13:43:36.065Z)
- OS Version: Darwin x64 15.6.0
- Extensions: none
---

While verifying #19241

Steps to Reproduce:

1. Start with:
[code]
2. Start first task
3. Comment in the second task
4. Start first task again
5. -> Starts first task a second time instead of showing message about that task al

[2017-03-31 18:07] matzero commented on #1023
+1

[2017-03-31 18:09] alexriedl commented on #22250
I just got the latest inside build and I am still having this issue. It seems to happen after I run a different task, then try to launch my application.
Example steps I ran:
1. <ctrl+p> - type in "task test"
2. Let tests run and finish
3. <f5> - to launch the application

`There is a task {0} running. Can not run pre launch task build.` message pops up.

[2017-03-31 18:12] ramya-rao-a commented on #23484
nope, not same line.
repros for me in different lines

[2017-03-31 18:15] roblourens commented on #8568
The first part works as expected, but I see something different for the second. Not sure if it's a problem.

If I press `ß` while creating a key combo, I just see `-`, not `[minus]`.

![image](https://cloud.githubusercontent.com/assets/323878/24563444/29fa3e50-1603-11e7-9385-2ac1e9145daa.png)

And if I create a shortcut for `shift+k [minus]`, I can't trigger it. The info hover says
![image](https:

[2017-03-31 18:15] InfiniSuite commented on #22711
I have been getting this error for the last few months. It seems to happen when we're stepping through code in the debugger and stop on a line for more than about 30 seconds.

[2017-03-31 18:20] Tyriar commented on #14286
Ugh, I know why this is still broken https://github.com/Tyriar/node-pty/issues/67

[2017-03-31 18:22] #8568 closed

[2017-03-31 18:23] Tyriar commented on #23484
Interestingly this seems to not happen on Linux, I think i know why it's happening though.

[2017-03-31 18:29] chrmarti commented on #19624
Would it make sense to align the command's name with the message:

![screen shot 2017-03-31 at 11 24 12 am](https://cloud.githubusercontent.com/assets/9205389/24563873/cfbdb8b6-1604-11e7-97b8-b33171b59e97.png)

E.g.: PHP: Disallow PHP validation executable (defined as a workspace setting)

Marking verified.

[2017-03-31 18:35] r-blair opened #23759 "tooling in vscode working"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|code-gnu-global|austin|0.0.6|
|vscode-eslint|dbaeumer|0.10.11|
|vscode-npm-source|dkundel|1.0.0|
|tslint|eg2|0.8.1|
|vsc-material-theme|Equinusocio|0.0.5|
|Theme-BetterJS|gerane|0.0.3|
|Theme-BirdsofPara

[2017-03-31 18:36] ramya-rao-a commented on #21737
@michelkaporin I can still repro this.

I installed about 40 extensions and the Report Issues does nothing
I uninstalled all of them and Report Issues starts working.

Am using Insiders dated 31st March, 2017 on Windows 10

[2017-03-31 18:44] r-blair commented on #23759
This is the case in all my projects

[2017-03-31 18:47] chrmarti commented on #23584
Also in 1.10.2.

[2017-03-31 18:48] andy-ms opened #23760 "files.trimTrailingWhitespace: Trim all kinds of whitespace"
- VSCode Version: 1.11.0-Insider
- OS Version: Linux Mint 18

Steps to Reproduce:

1. Turn on `"files.trimTrailingWhitespace": true` in `settings.json`.
2. Paste character code 160 into a file. (You can get this with ```node -p '`<${String.fromCharCode(160)}>`'```)
3. Save.
4. It should be trimmed, but isn't.

[2017-03-31 18:48] r-blair commented on #23759
removed the html-css-class-completion extension and everything went back to normal

[2017-03-31 18:48] #23759 closed

[2017-03-31 18:52] mikelward commented on #23714
You didn't try with a split window.  Did you try my repro steps?

[2017-03-31 18:53] InfiniSuite commented on #22711
Attached is the trace log. The error occurred after being paused for long than a few seconds on line during a debug session and then attempting to step.

/Users/Lee.Mellinger/.vscode-insiders/extensions/msjsdiag.debugger-for-chrome-2.7.1/vscode-chrome-debug.txt
[vscode-chrome-debug.txt](https://github.com/Microsoft/vscode/files/886618/vscode-chrome-debug.txt)

[2017-03-31 18:54] roblourens commented on #23120
@michelkaporin I can verify, 2.1.4 is > 2.1.1 :)

[2017-03-31 18:55] niyazpk commented on #23615
Seems to work just fine:

[code]

[2017-03-31 18:57] chrmarti commented on #23585
Also in 1.10.2.

[2017-03-31 18:59] chrmarti commented on #23585
It shows results from open files. Maybe related to #23584.

[2017-03-31 19:01] eamodio commented on #23585
@chrmarti they are kind of related, as you need to have a file a Typescript/C# file open for the results to show at all, but with a file of each type opened, C# symbols show in the quick open, while typescript does not. But both will show if you use the `#` symbol search

[2017-03-31 19:04] chrmarti commented on #23715
@ziben Could check if there is anything in the devtools' console (Help > Toggle Developer Tools)?

[2017-03-31 19:05] roblourens commented on #22711
Thanks for the log! Chrome is pausing somewhere strange, possibly a chrome extension or an eval script. I will

- Patch 'stackTrace' so that it doesn't return an invalid frame in a case like this.
- Stop suppressing `scriptParsed` events in the log from some of these scripts. It adds a lot of noise but sometimes leads to a confusing log, like this case.

This might fall under https://github.com/Mi

[2017-03-31 19:13] mcepl commented on #23662
No problem it works now (only on 64bit platforms though, I guess 32bit system just don't have enough RAM, right?), so I don't need to care anymore.

[2017-03-31 19:29] dfblackburn commented on #23687
I have not noticed any problems in Chrome or within the other Electron app I am developing in VS code.
That fiddle displays what I would expect when I hit the keys in question.
I have installed the insiders release; I will get you some more information if the problem pops up again.
It seems to happen a lot for a day or so and then vanish for a month or so.
Let me know if you need anything else bef

[2017-03-31 19:34] mondalaci opened #23761 "Allow users to persistently remove the "There is an available update" notification"
- VSCode Version: 1.8.1
- OS Version: Linux Mint 18

Steps to Reproduce:

1. Start an older version of VS Code.
2. Now, the notification pops into your face.

![untitled](https://cloud.githubusercontent.com/assets/300402/24566374/8a100f80-1659-11e7-98bb-9d8ae2d5a5a3.png)

Please don't force me to always update. I'm fine with my current VS code installation.

[2017-03-31 19:40] InfiniSuite commented on #22711
Our framework has a customization layer that uses eval scripts. We're developing in Chrome Canary (but the same thing happens in Chrome). The only chrome extensions installed is 'Clear Cache' and 'Duplicate Tab Shortcut Key'.

Hope that helps!

[2017-03-31 19:44] ravshansbox opened #23762 "Sort keys inside settings.json"

[2017-03-31 19:44] sean-mcmanus commented on #23761
https://code.visualstudio.com/docs/supporting/faq#_how-do-i-opt-out-of-vs-code-autoupdates

[2017-03-31 19:48] sean-mcmanus commented on #23734
I've hit this issue multiple times too.

[2017-03-31 19:54] chrmarti commented on #23665
@Spown Could you give the insiders build a try? (https://code.visualstudio.com/insiders) That is currently close to the upcoming release and it would be great to know if you see the problem with that too.

If that doesn't help, try starting with `--disable-extensions` to rule out any extension is causing this.

[2017-03-31 19:55] roblourens commented on #22711
Thanks. `eval()` scripts are ok, what I meant is the script produced from a watch or typing something in the console, which has also been a problem in the past.

[2017-03-31 19:59] maxbalk opened #23763 "xdebug line break windows"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vsc-material-theme|Equinusocio|0.0.7|
|php-debug|felixfbecker|1.10.0|
|php-intellisense|felixfbecker|1.1.3|
|PowerShell|ms-vscode|0.11.0|;

---

Steps to Reproduce:

1. install xdebug on php server, config

[2017-03-31 20:01] Spown commented on #23665
@chrmarti are you sure you're addressing the right person?

[2017-03-31 20:03] mondalaci commented on #23761
Thank you, that seems to did it!

[2017-03-31 20:03] #23761 closed

[2017-03-31 20:11] DarrylD opened #23764 "Change problem/error underlines?"
Is it possible to change the red sguiggles used for problems/errors to a straight line and different color?

Can't seem to find a setting for it.

[2017-03-31 20:11] JasonKleban commented on #23701
OK, the embedded Chrome Debugger console (to verify) returns a string that is equivalent, character for character, to what I get in the other terminals.

[2017-03-31 20:15] chrmarti commented on #23665
Doh! I meant to ask @Deilan (see my comment above). Thanks.

[2017-03-31 20:26] chrmarti commented on #23615
Great thanks! Maybe an unstable network connection would affect the sshfs mount point? (guessing)

[2017-03-31 20:26] #23615 closed

[2017-03-31 20:31] ramya-rao-a opened #23765 "Typescript formatting is broken when extra tabs are present"
- VSCode Version: Insiders dated 31st March, 2017

Steps to Reproduce:

1. Add some tabs in a typescript file
2. Format Document

Nothing happens

Format Selection doesnt work either

[2017-03-31 20:33] Tyriar commented on #23662
Yeah you may not be able to build on 32-bit. You should be able to cross compile a 32-bit version on a 64-bit machine though.

[2017-03-31 20:36] ramya-rao-a commented on #23765
Formatting works file when existing tabs are removed though

[2017-03-31 20:53] indiejames commented on #21835
For what it's worth, this no longer applies to me. I changed my code to use the normal debug launch (button) approach and have my extension start on debug. Previously I was starting my extension first and using `startDebug` to launch my debugger/REPL via a command contributed by my extension.

[2017-03-31 20:54] seanmcbreen commented on #23550
Not a perfect match but this extension may help..
https://marketplace.visualstudio.com/items?itemName=chrisdias.vscode-opennewinstance

[2017-03-31 20:59] Rhiss commented on #2915
+1

[2017-03-31 21:03] seanmcbreen opened #23766 "Word Wrap in Settings Editor"
- VSCode Version: Code - Insiders 1.11.0-insider (cc46bbf5b0412e464f89280e828d602fbc06a0f4, 2017-03-31T14:08:17.917Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|rainbow-brackets|2gua|0.0.6|
|extension-leaderboard|formulahendry|0.0.2|
|mssql|Microsoft|0.1.5|
|sublime-keybindings|ms-vscode|2.0.1|
|java|redhat|0.0.7|
|todotasks|sandy081|0.4.0|
|k

[2017-03-31 21:15] OmarBizreh commented on #22609
Could this cause extensions to not load on Ubuntu? on Windows and macOS extensions are working without issues and I don't see that error message in console

VS Code: 1.10.2
Ubuntu 16.10

[2017-03-31 21:20] roblourens opened #23767 "Update "Use Exclude Settings" icon"
Still waiting on this icon

[2017-03-31 21:21] indiejames commented on #9635
I need this same functionality (capturing a message across multiple lines). I also have output from my tests like

  Expected: 0
  But was:  3

that I would like to capture as the 'message'.

[2017-03-31 21:28] slowaways commented on #23231
Will this be implemented?

[2017-03-31 21:57] roblourens commented on #22933
Works for me... Reopen if not the case @michelkaporin

[2017-03-31 22:07] yuryleb commented on #19837
`"terminal.integrated.shellArgs.windows": ["/K", "chcp 65001"],` works better :wink:

[2017-03-31 22:10] chrmarti commented on #23715
@ziben What are your indentation settings? Would you expect line 17 to be outdented or line 16 to be indented? (Could be the same as #23765.)

[2017-03-31 22:15] chrmarti commented on #23765
Turns out not to be in TypeScript, but in Format code. Simple PR follows.

[2017-03-31 22:17] ErikCupal commented on #23715
@chrmarti I can confirm the bug. When run `Format document` command nothing happens and it produces no output on console. However, when I launch VSCode, this is on the console.

[code]

[2017-03-31 22:19] Spown opened #23769 "DnD text: make copy cursor change on keypress"
Please make the copy cursor (the one with the plus sign) change on keypress, not only on the mouse move

- VSCode Version: 1.11.0-insider
- OS Version: Win10x64

Steps to Reproduce:
![](https://drive.google.com/uc?id=0B-OJBofmehO3MlA1aW1KdGktTlU)
1. Start dragging
2. Stop the mouse
3. press CTRL then release and repeat - the cursor won't react to
5. Do the same while moving the mouse - the cursor

[2017-03-31 22:21] onovotny commented on #5953
One thing to add here -- print isn't necessarily to a printer. It would be very convenient to print the preview window of a diagram (PlantUML) or Markdown file to the Microsoft PDF printer to obtain a sharable document.

[2017-03-31 22:23] chrmarti commented on #23715
@ErikCupal Could you post example code that demonstrates the problem? I'd like to make sure it is the same problem as #23765.

[2017-03-31 22:26] Tekbr opened #23770 "Allow all numbered shortcut combinations to work also with the numeric keypad."
- VSCode Version: 1.11.0 - insiders
- OS Version: Windows 10

-- Sorry for the English, I used Google Translator --

Allow all numbered shortcut combinations to work also with the numeric keypad.

[2017-03-31 22:27] Spown opened #23771 "DnD text: make the right mouse button press cancel the dragging"
- VSCode Version: 1.11.0-insider
- OS Version: Win10x64

Right now after dragging a text sample every mouse button confirms the operation (both move and copy text). Normally, in most editors the right mouse button cancels the dragging, while others (the middle one f.e.) just doesn't do anything. Please make the dragging conformation exclusive to the left mouse button and canceling - to the right o

[2017-03-31 22:27] AndrewRayCode opened #23772 "No way to open a file that's excluded in search.exclude"
- VSCode Version: Version 1.10.2 (1.10.2)
- OS Version: OSX

Steps to Reproduce:

1. Add a folder to your `"search.exclude"` setting, such as

       "search.exclude": {
           "**/vendor": true,

2. Press `ctrl+p` and paste in an exact file path that's in the ignored folder, like `vendor/something.java`

**Expected result:**

The file to show up, and be opened by hitting enter.

**Actual resu

[2017-03-31 22:31] ErikCupal commented on #23715
@chrmarti Yes, it looks that's the problem

This code:
[code]

Is formatted to:
[code]

It adds necessary whitespaces, but doesn't remove the redundant ones.

[2017-03-31 22:36] chrmarti commented on #23715
I agree, that's the same issue. Thanks.

[2017-03-31 22:50] bpasero commented on #23714
@mikelward one thing you could try is
* use our insiders build
* set "workbench.editor.revealIfOpen": true
* Run command "Open Previous Editor from History"

[2017-03-31 22:51] bpasero commented on #23754
@brsanthu when you click with Ctrl key pressed it will force open in a new window.

[2017-03-31 22:55] adigov commented on #9435
search results need a separate tab, at least as an option. Current space is just too crowded - file name, file path, and results to make complete sense.

[2017-03-31 22:58] roblourens opened #23773 "Overrun by wild git processes"
- Open a large git repo in vscode (here, chromium)
- Quickly after opening vscode, make an edit, save the file
  - Repeat making an edit and saving several times

Git processes are spawned without limit:

![image](https://cloud.githubusercontent.com/assets/323878/24571668/9d0844b8-1627-11e7-9036-78975ba19788.png)

`.gitignore` is the file I was editing. I think another one is spawned each time I s

[2017-03-31 22:59] chrmarti commented on #19841
Could someone on this thread who saw this problem confirm it is fixed with the latest insiders builds?

I tried to verify it, but I cannot reproduce in 1.10.2, so I cannot tell for sure if it is fixed.

[2017-03-31 23:02] #23765 closed

[2017-03-31 23:05] roblourens commented on #23772
This is by design. I don't want to see those files every time. But if you open the file, it should appear in that quick open list as a "recent file".

In 1.11, there's a button in the search viewlet to disable these exclude settings from a search. We discussed a similar button for the quick open, but I'm not sure.

[2017-03-31 23:05] #23772 closed

[2017-03-31 23:05] chrmarti commented on #23765
@jrieken We pushed the fix so it is in the next build.

[2017-03-31 23:15] chrmarti commented on #23577
@dbaeumer How do you contribute a task? :)

[2017-03-31 23:17] brsanthu commented on #23754
It does open in a new window indeed if ctrl modifier is pressed. Thank you.

[2017-03-31 23:17] #23754 closed

[2017-03-31 23:26] vscpp commented on #23734
Yes, I always change the theme to light then copy the code. Not hommization.

[2017-03-31 23:28] bpasero opened #23774 "Extensions: can not open via touch interaction"
This seems like a regression from stable:
* use a surface book
* open extensions view many many
* try to click on one with touch
=> does not open

[2017-03-31 23:42] #23745 closed

[2017-03-31 23:44] roblourens commented on #22492
Should be easy for someone to verify, if you want to repro it, it should be easier with anything that will slow the process down, like

- many breakpoints
- in a larger file
- when sourcemaps are present

[2017-03-31 23:52] vscpp opened #23775 "Add search file box in Git tab in VS code"
- VSCode Version: 1.10.2
- OS Version: Win2012 R2

Steps to Reproduce:

1. Modify a large number files. Click the Git tab in VS code, it's difficult to get specific file for comparing.
2. It's better add a search box in Git tab for searching. Only a commit message box here currently.

[2017-03-31 23:54] bddenhartog commented on #21898
That seems to be a theme coloring issue. Using the standard syntax theme, my current _selection(s)_ has a solid blue background.

The issue reported in the OP _does_ occur when my cursor is placed within the bounds of a repeated word -- all instances of the word are highlighted in the same manner and opacity.

[2017-04-01 00:03] ramya-rao-a opened #23776 "Feature Request: do not ignore a line number in links in the terminal"
_From @TomasB on March 31, 2017 16:27_

Given the output in the integrated terminal window:

[code]
the link in the output is parsed as `C:/Go/src/runtime/panic.go`
Probably should be `C:/Go/src/runtime/panic.go:458` and go to a specific line once clicked on it.

_Copied from original issue: Microsoft/vscode-go#901_

[2017-04-01 00:03] ramya-rao-a commented on #23776
That is a VS Code specific behavior and not Go related

[2017-04-01 00:05] roblourens commented on #23577
@dbaeumer I can't get this to work. My extension is like this:

[code]

and I have:
[code]

When I type `task ` in quickopen as instructed, 'activated' is printed. But 'tasks' is never printed.

[2017-04-01 00:06] vscpp opened #23777 "Copy search result into another editor or append search"
- VSCode Version: 1.10.2
- OS Version: Win2012 R2

Steps to Reproduce:

1. Seems can not copy search result, any method?
2. Could add a option to support appending search result? Currently, the search result always replaced by new search, sometimes we need different search result for coding. Please refer to Source Insight search method.

[2017-04-01 00:14] luizcarlospedrosogomes commented on #9773
gostaria de criar palavras de atalho, como no eclipse que tenho o sout ou o psvm

[2017-04-01 00:29] pwicks86 opened #23778 "Freezing on text completion"
- VSCode Version: 1.11.0-insider
- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. Open a file with a line containing a very long line of random characters (about 60 thousand in this case)
2. Try to type something on another line that occurs more than once in the 60,000 characters.
3. VS Code grinds to a halt trying to show all the possible text completion options.

[2017-04-01 00:32] roblourens commented on #21780
Should `"keyboard.dispatch": "keyCode"` cause it to work the same as in 1.10? With that setting, I can't repro the issues that I see in 1.10, like https://github.com/Microsoft/vscode/issues/1492

[2017-04-01 00:38] chiangf commented on #19841
I'm on 1.10.2 and it looks fixed to me, 👍

[2017-04-01 01:37] ziben commented on #23715
@chrmarti  Thanks a lot , and sorry about late,  there is nothing in the console.  What I expected is line 17 to be outdented.

[2017-04-01 01:55] tangyouwo opened #23779 "terminal commands and the cursor is misplaced"
- VSCode Version: 1.10.2
- OS Version: win10 creator

Steps to Reproduce:

1. open the vs code
2. open the terminal
3. You will find that the terminal commands and the cursor is misplaced

so i can't work normally，

[2017-04-01 03:17] mherodev commented on #22653
Adding details from my issue, here:

e.g. when reporting git information on commit/push/etc. the output panel will show itself, and only go away when the user takes action.

This for me means hitting ctrl+` twice after every git operation to get the output out of my way.

It'd be lovely if it had an autohide behavior when displayed passively, and a sticky behavior when brought up intentionally (vi

[2017-04-01 03:20] codefoster commented on #23550
Perfect, Sean. Thanks.

[2017-04-01 03:57] bitliner opened #23780 "Can't get intellisense to work - `Loading...`"
- VSCode Version: 1.10.2
- OS Version: macOS Sierra - 10.12.3

Steps to Reproduce:

1. Open Visual Code
2. Open a large project - where multiple npm modules are present, and some npm module is linked as dependency of some other npm module

Every time i get the infinite "Loading..." popup.

Few times on smaller project I was able to make it work, but after a while it stops to work anyway.

[2017-04-01 04:03] caiqi opened #23781 "vscode "compare with" does not highlight different indented line"
When compare .py files, the lines with different indention but same content are not highlighted. Since indention is important in python files, is there any way to make lines with different indention look different in "compare with"? Thanks.

[2017-04-01 04:06] roblourens opened #23782 "Intellisense only matches 20-some characters?"
After around 24 matching characters, it ignores any other distinguishing characters. Is this by design? It doesn't repro in 1.10.

![image](https://cloud.githubusercontent.com/assets/323878/24575242/0bdc51e0-1655-11e7-8b19-779bd23dbd9f.png)

![image](https://cloud.githubusercontent.com/assets/323878/24575257/89d184ee-1655-11e7-9514-47298eadbb7f.png)

[2017-04-01 04:46] Tyriar commented on #23776
Duplicate https://github.com/Microsoft/vscode/issues/21472

[2017-04-01 04:46] #23776 closed

[2017-04-01 04:48] Tyriar commented on #19837
@daviwil should this arg be rolled into the vscode-powershell extension? Is there any reason this isn't the default?

[2017-04-01 05:19] #23485 closed

[2017-04-01 05:23] Eli-Goldberg commented on #19841
I was getting thit A LOT, seems fixed.
Thanks !!

[2017-04-01 05:36] parsibox commented on #23232
![1](https://cloud.githubusercontent.com/assets/12513476/24575706/e1324ea4-16c2-11e7-9380-b6d41350d410.PNG)
![2](https://cloud.githubusercontent.com/assets/12513476/24575707/e1702634-16c2-11e7-8fa0-d2ad0aeb714b.PNG)

[2017-04-01 05:55] rocifier commented on #22835
Hi, just an update. I have been able to create a single test case which illustrates the problem. I have also added significant unit testing around the MarkedStringPrinter, which is where the problem lies. I will now tackle the implementation details to make all tests pass.

[2017-04-01 06:16] henioStraszny commented on #105
Same here, would love it for C#, TS and JS.

[2017-04-01 06:42] guusw opened #23785 "Regex breaks whole word search"
- VSCode Version: Code 1.9.1 (f9d0c687ff2ea7aabd85fb9a43129117c0ecf519, 2017-02-08T23:44:55.542Z)
- OS Version: Linux x64 4.9.8-1-ARCH
- Extensions:

|Extension|Author|Version|
|---|---|---|
|cpptools|ms-vscode|0.10.2|
|csharp|ms-vscode|1.7.0|
|cmake|twxs|0.0.15|
|cmake-tools|vector-of-bool|0.9.4|

---

Using negative lookahead on file search seems to break whole word search

For example:
 String(

[2017-04-01 07:16] Maplicant commented on #14716
Can confirm this is a problem on a clean install of VS Code on a Dell XPS 15 9550. Changing window size solves it.

[2017-04-01 07:18] csalv5 commented on #22973
Same of #19534

[2017-04-01 07:29] wayou opened #23786 "auto jsdoc comments not completing @returns"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T13:56:35.908Z)
- OS Version: Darwin x64 16.4.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|EditorConfig|EditorConfig|0.6.2|
|code-settings-sync|Shan|2.6.1|
|vscode-css-formatter|aeschli|0.0.2|
|vscode-eslint|dbaeumer|1.2.8|
|vscode-dash|deerawan|1.4.0|
|python|donjayamanne|0.6.0|
|flow-for-vscode|flowt

[2017-04-01 07:58] rocifier commented on #22835
Pull request: https://github.com/Microsoft/vscode-css-languageservice/pull/26

[2017-04-01 08:00] unusec opened #23787 "Language name not restored on hot exit for unsaved files"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|uikit-3-snippets|Keno|1.0.9|
|vscode-icons|robertohuertasm|7.4.0|;

---

Steps to Reproduce:

1. Create new .js file and don't save
2. Close window
3. Reopen and you have to select again JavaScript Langu

[2017-04-01 08:04] mcepl commented on #23662
Yeah, in the end I really don’t care enough. Who in the world would be developing on 32bit machine these days?

[2017-04-01 08:10] zhuwh1118 opened #23788 "Installing dlv FAILED"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|Go|lukehoban|0.6.56|;

---

Steps to Reproduce:

1.
2.

[2017-04-01 08:11] zhuwh1118 commented on #23788
dlv:
Error: Command failed: C:\Go\bin\go.exe get -u -v github.com/derekparker/delve/cmd/dlv
github.com/derekparker/delve (download)
github.com/derekparker/delve/pkg/proc
# github.com/derekparker/delve/pkg/proc
E:\workspace\go\src\github.com\derekparker\delve\pkg\proc\disasm.go:9: undefined: ArchInst
github.com/derekparker/delve (download)
github.com/derekparker/delve/pkg/proc
# github.com/derekpar

[2017-04-01 08:20] pokerchina opened #23789 "why the open document speed slower and slower？"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|csharp|ms-vscode|1.8.1|
|mono-debug|ms-vscode|0.15.4|;

---

Steps to Reproduce:

1.
2.

[2017-04-01 08:39] harishekhar opened #23790 "Shortcut key combination with shift+option key is not working."
Hi,
I am using VS code Version 1.10.2 (1.10.2). Whenever I am trying to use shortcut key in combination with shift+option+F key that's not working instead leaving a special character " ̰  " on screen.

- VSCode Version: 1.10.2 (1.10.2)
- OS Version: macOS Sierra v10.12.4 (16E195)

Steps to Reproduce:

1. Open any JS file.
2. Try to format is using  "option+shift+F"

[2017-04-01 08:52] yyjazsf commented on #23713
![kapture 2017-04-01 at 16 51 12](https://cloud.githubusercontent.com/assets/2438224/24577172/7bdfa5fe-16fb-11e7-8b84-e0c7281744e1.gif)
it's ok?

[2017-04-01 09:11] csholmq commented on #2921
Ping @dbaeumer. Anything new?

[2017-04-01 09:12] csholmq commented on #2840
Still feel this is expected behaviour. Any plans to move this into a milestone?

[2017-04-01 09:16] atinb opened #23791 "Support launching VSCode using a Protocol handler"
This will enable "Clone to VSCode" scenarios from browsers

[2017-04-01 09:17] csholmq commented on #2823
@alexandrudima Kind of missed the May 2016 milestone :)

[2017-04-01 09:18] csholmq commented on #2775
@dbaeumer Possible to move this to a milestone?

[2017-04-01 09:19] csholmq commented on #23737
Use regex.

[2017-04-01 09:22] xinkingTop opened #23792 "Start the vs code slowly slowly"
problem:
      Start the vs code slowly

- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|GBKtoUTF8|bukas|0.0.2|
|python|donjayamanne|0.6.0|
|encdetectjp|inoueben|0.0.1|
|backspace-plusplus|jrieken|0.0.14|;

---

Steps to Reproduce:

1.
2.

[2017-04-01 09:38] dongxiansuixin commented on #7570
Sorry to bother but I have to reproduce 'cause I have a lot of time without internet connection. I have no choice but uninstall VSC and I don't know whether I'll restart using it even though the bug has fixed. This is my issue #23519.

[2017-04-01 09:48] michelkaporin commented on #22527
@bpasero yes, Windows 👍

[2017-04-01 09:50] Juansero29 opened #23793 "Find all reference command in editor doesn't work."
- VSCode Version: 1.11.0-insider
- OS Version: Windows 10

Steps to Reproduce:

1. Go to any C# file.
2. Right click on a variable and clicking "Find all references".

The same is happening with going to definition, it says "No definition found". Please, any help would me much appreciated.

[2017-04-01 10:02] zengyun9032584 opened #23794 "http.proxy"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:00:46.854Z)
- OS Version: Linux x64 3.13.0-108-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|beautify|HookyQR|1.0.2|
|tslint|eg2|0.8.1|
|auto-rename-tag|formulahendry|0.0.11|
|Angular2|johnpapa|2.1.2|
|vscode-add-angular2-files|sebastianbaar|1.1.3|;

---

Steps to Reproduce:

1.I can download

[2017-04-01 10:25] michelkaporin commented on #23120
@roblourens Hmm..., I thought prior to 2.2.1, not 2.1.1.

[2017-04-01 11:06] ashishdoneriya commented on #23737
Thanks, there is a hidden option in the plain sight in find and replace box to search for Regular Expressions

[2017-04-01 11:06] #23737 closed

[2017-04-01 11:48] bitliner commented on #23780
A note: If I access the `Interactive Playground` section, on that pge the Intellisense works fine.

[2017-04-01 12:03] psuedoSudo commented on #3112
I've switched to insiders so I can test the `Solarized Dark` theme.

I'm not sure if these are issues with the theme or the theming support but I've tried to find all the ui areas that I think aren't themed yet. Some are pretty minor but hopefully it helps.

#### Autocomplete box
<img width="470" alt="autocompletion box and red cursor" src="https://cloud.githubusercontent.com/assets/4339582/245785

[2017-04-01 12:43] csholmq commented on #23737
You're welcome :)

[2017-04-01 13:07] druellan commented on #23718
I'm testing this, and seems that the YAML front-matter is not a valid syntax for sass, and is not intended to validate as a pure sass or scss file:
https://github.com/jekyll/jekyll/issues/3408

[2017-04-01 13:20] myknbani commented on #19769
i think it has been undeprecated, since the linter does not interrupt compilation

[2017-04-01 13:27] marcoT89 commented on #15684
Oh yeah plz!! :+1:

[2017-04-01 14:38] apobekiaris commented on #13592
any progress here same annoying message

[2017-04-01 14:50] vidjuheffex opened #23795 "Responsive layout breaks when zooming in extensions deetails window"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|debugger-for-edge|msjsdiag|0.4.1|
|html5-boilerplate|sidthesloth|1.0.1|
|open-in-browser|techer|1.0.0|
|Material-theme|zhuangtongfa|2.3.5|;

---

Steps to Reproduce:

1.zooming in extensions deetails win

[2017-04-01 15:00] roblourens commented on #23120
I completely misread that... sorry @michelkaporin...

[2017-04-01 15:15] sneppy commented on #2915
+1

[2017-04-01 15:21] jurses opened #23796 "bad highlighting"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:00:46.854Z)
- OS Version: Linux x64 4.8.0-45-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|hopscotch|idleberg|0.1.4|
|cpptools|ms-vscode|0.10.5|;

---

In whatever class. C++. Overload.

![Alt Text](http://i.imgur.com/tMz53HX.png)

[2017-04-01 16:03] hbarr opened #23797 "Git: Manage the ignore file"
Git integration is good in vscode but one thing is missing, ignore.

I am running Vscode 1.10.2 on MacOS Sierra 10.12.4.

Working on a project, I noticed the Git integration had discovered that .DS_Store had changed and was listed with my edited files.

I wanted to tell Git to ignore this file, but found that this option was not among the integrated git commands.  It really should be available.  A

[2017-04-01 16:07] mvanders opened #23798 "No support for PowerShell #Region collapse/expand"
- VSCode Version: 1.10.2
- OS Version: Windows 10

Steps to Reproduce:

When opening PowerShell code, I cannot collapse/expand #Region XXX which is very annoying when reading lots of blocks of code...

[2017-04-01 16:10] percy507 opened #23799 "【php close tag fly away】 php formatter problem"
- VSCode Version: 1.10.2
- OS Version: Windows 10 (64)

Steps to Reproduce:

1.  I install Beautify extension to format HTML、JS 、CSS.
2.  So  i change the setting to `"editor.formatOnSave": true`，which means the code will format after save the file.
3. When i write php code, problem appears. **The php close tag disappears when i save the file.**  （I use **Ctrl+S** to save files）

![screenshot_2017

[2017-04-01 16:22] cosmoKenney commented on #17777
@Aides359  I agree. Everyone's eyes are different. Just look at tabs. Some people like 2 space tabs in their code. Some like 8. Other 4.

I'm a little dyslexic, so I really have a hard time with the indention in VS Code,

Though it does seem to have gotten a little better. But it's still bad on my laptop screen, for instance, whereas on my large monitors at work, it's more noticeably indented.

[2017-04-01 16:28] Spown commented on #23785
Well, you see, you have a rare case of a conflict of interests here. "whole word search" isn't a part of RegEx mechanic - it is another layer search refinement of the VSCode itself, that is applied __after__ the regEx search. So basically when you use ``String(?!.hpp)`` you basically say "find me every occurrence of "String" that doesn't have ".hpp" immediately after; then filter only whole words"

[2017-04-01 16:36] Spown commented on #23780
#23665 may be the same issue - please ask the issuer of that report whether he's experience the same thing.

[2017-04-01 16:44] pgrz commented on #10093
In case someone wandered here in search of this feature just like me: https://github.com/sashaweiss/vscode_block_travel

[2017-04-01 17:28] kumarharsh commented on #23526
SVG icons can just use "currentColor" in their markup to inherit the FG color.

[2017-04-01 17:40] PaulStovell commented on #3144
For breakpoints to work, I had to set `protocol` to `inspector`:

        {
            "type": "node",
            "request": "launch",
            "name": "Mocha Tests 2",
            "program": "${workspaceRoot}/node_modules/mocha/bin/_mocha",
            "protocol": "inspector",
            "args": [
                "-u",
                "tdd",
                "--no-timeouts",

[2017-04-01 17:46] bpasero commented on #23526
@kumarharsh not sure that would work for us, we use CSS `background: url(path/to/svg)` to show these SVG icons anywhere.

[2017-04-01 18:10] JimAmuro commented on #4795
I found this functionality really limited in VS Code, it is not as fine grained as I'd wish.
For Python, after selecting a line, it selects the whole buffer, instead of current block as I'd wish. For JS it works better, maybe because of the brackets...
I see that when I select a Python function in `ctrl-shift-o` it shadows exactly the scope of that function, so it should not be a problem to select

[2017-04-01 18:25] joeshub commented on #313
what was the resolution to this issue?

[2017-04-01 18:34] spboyer opened #23801 "Extensions: Allow for multiple publishers in extension / display on Marketplace"
package.json `publisher` type is string. Needs to be `string[]` or add new element `publishers` of type `string[]`. In the marketplace display the publishers there or have a section like http://npmjs.com for collaborators pulling from the contributors node, or maintainers node.

[2017-04-01 18:40] bitliner commented on #23665
@Deilan are you experiencing the same issue described [here](https://github.com/Microsoft/vscode/issues/23780)?

[2017-04-01 18:41] bitliner commented on #23780
@Spown It would be great if there is a way to show the logging of visual code. Maybe with that I might be more useful. Is there any way to do it?

[2017-04-01 18:44] ShaharHD commented on #7015
@dbaeumer Can we re-open this issue?
As it seems it can be fixed within the next minor version iteration of VSCode, or I'm mistaken?

[2017-04-01 18:45] Spown commented on #23780
[didn' bother to read the thread?](/Microsoft/vscode/issues/23665#issuecomment-290481798)

[2017-04-01 18:47] bitliner commented on #23780
![image](https://cloud.githubusercontent.com/assets/1301838/24581479/6846a742-171c-11e7-9e44-9f252058f408.png)

[2017-04-01 18:53] bpasero commented on #78
@roblourens should we close this one given ripgrep work landed ([release notes](https://github.com/Microsoft/vscode-docs/blob/vnext/release-notes/v1_11.md#text-search-improvements))?

[2017-04-01 19:01] bpasero commented on #1884
With our work on workbench theming ([release notes](https://github.com/Microsoft/vscode-docs/blob/vnext/release-notes/v1_11.md#workbench-theming-part-1)) you can now customise the color of the statusbar background. The relevant keys are:
* `statusBarBackground`: blue by default
* `statusBarNoFolderBackground`: purple by default
* `statusBarDebuggingBackground`: orange by default

Here is an exampl

[2017-04-01 19:01] #1884 closed

[2017-04-01 19:16] be5invis commented on #23475
PROPOSAL: Typography
===

Defining typefaces:
[code]

Assigning typefaces:
[code]

The keyword "ui" may be assigned to the default UI font set (depending on platform & UI Langauge).

[2017-04-01 19:39] aleksey-bykov opened #23802 "formatting (Shift + Alt + F) stopped working the insiders build as of April 1, 2017 (no jokes)"
- VSCode Version: Code Insiders
![image](https://cloud.githubusercontent.com/assets/937933/24581847/4df71064-16f1-11e7-975f-d2dfcac49a41.png)

- OS Version: Windows 10 insiders preview

Steps to Reproduce:

1. Get insiders build on April 1, 2017
2. Open TypeScript file
3. Try to format by running the `Format` command (Shift + Alt + F)
4. Observe nothing happens

[2017-04-01 19:47] indiejames opened #23803 "Add 'Failure' to the DiagnosticSeverity enum"
The current values are Error, Hint, Information, and Warning. For tests it is useful to distinguish test failure (expected value not found) from error (test failed to run for some reason, usually an unexpected exception). It would also be useful to distinguish between errors and failures in the Problem view.

[2017-04-01 19:49] AaronFriel commented on #21780
@alexandrudima Could you help me out by describing what a good bug report would look like? It would be very helpful!

[2017-04-01 20:22] therealkenc commented on #78
But not file explorer yet. Issues like #13535 have been dupped into this one.

[2017-04-01 20:22] roblourens commented on #78
I wasn't sure since it has a lot of discussion about gitignore for the file explorer too. I think it makes sense to close this and start a new issue for that though.

[2017-04-01 20:27] AaronFriel commented on #21780
I am very confused! Firefox has the same issue?

![image](https://cloud.githubusercontent.com/assets/788800/24582074/714f2be0-16ed-11e7-9a38-58c8e2ebb4d9.png)

But if I use the `xev` utility, I see the right codes?

[code]

I can even rebind arrows with `xmodmap` and those show up correctly in the "key" field, but not in the "code". For example, here's every arrow rebound to up:

![image](https://

[2017-04-01 20:36] #78 closed

[2017-04-01 20:39] roblourens opened #23804 "Use .gitignore to hide/mark files in the file explorer"
Forking https://github.com/Microsoft/vscode/issues/78 where there is much discussion

Hiding files in the file explorer is currently possible with the `files.exclude` setting.

Would we hide .gitignored files or color/annotate them somehow?

Would we use `git check-ignore`/`git ls-files` or do we need something faster? Would it make sense to use part of ripgrep here?

[2017-04-01 20:50] Deilan opened #23805 "[Feature request] Gray out unused or unreachable code in editor"
Feature request here: Gray out unused code (unused `import`'s and `require`'s and unreachable code) in editor with capability to remove it using IntelliSense and <kbd>Ctrl+.</kbd> keyboard shortcut. Primarily needed in Angular 2+ and TypeScript projects.

[2017-04-01 21:01] Deilan commented on #23665
@chrmarti I'll test it when I have some time for that.
@bitliner Looks similar. Yes, I experience infinite `Loading` pop-ups upon using <kbd>Ctrl+Space</kbd>, absense of code autocompletion and squiggles not being shown.

[2017-04-01 21:25] chrmarti commented on #23715
That's #23765 then, thanks. Closing as duplicate.

[2017-04-01 21:25] #23715 closed

[2017-04-01 22:24] darkred opened #23806 "Line height and font size are too large by default"
- VSCode Version: 1.10.2
- OS Version: win10 x64
My monitor native resolution is 1920x1200

<br>

When opening any file in VSCode, it shows only **56 lines** at any time.
I feel that the current line height and font size are too much by default.

_For reference:_

[code]
_In contrast, Atom 1.15 displays even less: 49 lines_

<br>

By default VSCode has in its settings:

[code]

If I set them to **

[2017-04-01 23:06] youssefhad opened #23807 "Pin files"
when i work in a big project sometimes i can't find the file which i work on mostly , so a feature like 'pin the file' seems will solve this small issue

[2017-04-01 23:16] iamdevlinph commented on #2915
The broken tag matching seems to be happening in HTML codes that are inside other languages, like PHP and JavaScript. Putting a cursor on a tags seems to treat as "highlight keywords" because it is inside like JavaScript code.

Can we rename the HTML so that it will include other languages?

[2017-04-01 23:40] QwertyZW commented on #17565
Upgraded to 1.10 a while back without a problem @mjbvz

[2017-04-01 23:48] edhenderson commented on #23718
OK, thats fair. Are we able to flag the `---` as the error rather than the `@import`? Or add a caveat to ignore this potential problem?

[2017-04-01 23:55] Tyriar opened #23808 "Terminal confirmOnExit should only warn when the terminal shell is running something"
We could check if the shell process from node-pty has any child processes using something like `pgrep -P <pid>`. If we do this confirmOnExit=true may be better off as the default.

[2017-04-01 23:59] QwertyZW commented on #2163
This issue makes me think twice before attempting to file issues for an extension. The hack @benjamin21st mentioned does not work for me (I'm on linux)

[2017-04-02 01:13] imyellow commented on #13380
@richtems not work, it will copy the file to desktop

[2017-04-02 01:42] bpasero commented on #19707
I played around with the library and noticed that on Windows calling into the module can take 32ms (on my fast macbook pro, running in a VM). Given our performance work we are doing I am feeling not so easy adding this to the startup. I also noticed that the library is not needed on mac or linux where finding out if the user is root or not is [`very easy`](https://github.com/Microsoft/vscode/blob/

[2017-04-02 01:44] bascott opened #23809 "terminal sendtext blocks if application running in PowerShell"
- VSCode Version: 1.10.2
- OS Version: Windows 10 v1607

Steps to Reproduce:

1. (If set differently) set `"terminal.integrated.shell.windows"` to `"C:\\WINDOWS\\Sysnative\\WindowsPowerShell\\v1.0\\powershell.exe"`
2. Create "Hello World Extension" tutorial as from https://code.visualstudio.com/docs/extensions/example-hello-world
3. Replace `vscode.window.showInformationMessage('Hello World!');` i

[2017-04-02 01:47] arkon commented on #19707
Would it help if [native-is-elevated](https://github.com/arkon/native-is-elevated)'s `isElevated()` function were to return a promise?

[2017-04-02 02:10] bpasero commented on #19707
@arkon good point, maybe not a promise but a typical function callback, as with other functions in node that are long running.

Though could you actually implement that because it seems your call in C land is sync?

[2017-04-02 02:29] bpasero commented on #15478
Current status: Electron 1.6.5 introduced a new option to bring back native macOS Sierra tabs which basically brings us back to where we started with when we had no control of making this optional. This would enable us to make it configurable for the user (e.g. `window.nativeTabs` setting).

There are however limitations:
* it will not work with a custom title bar style set, so enabling native tab

[2017-04-02 02:51] arkon commented on #19707
@bpasero It ought to be possible. I found [this example](https://gist.github.com/bellbind/b69c3aa266cffe43940c) of using promises, and it seems like [Nan](https://github.com/nodejs/nan) could be useful for implementing callbacks. I'll give it a shot.

[2017-04-02 03:34] MJGwater commented on #7426
@joaomoreno That shortcut works when Visual Studio Code is in /Applications, but not when its in ~/Applications. However, the updates only work when Visual Studio Code is in ~/Applications.

[2017-04-02 03:58] ramya-rao-a commented on #17220
There was an older issue for the same, so will close this one in favor of #6816

[2017-04-02 03:58] #17220 closed

[2017-04-02 04:01] ramya-rao-a commented on #18150
@TheKnightCoder I believe what you are experiencing is a lag the first time you press TAB.
This is because of the lazy loading we do for emmet and is being tracked in #17220

Therefore, closing this one as duplicate.

If you don't use emmet much, then follow @alexandrudima 's suggestion and unbind TAB and the short cut for emmet expansions

If you see the lag not just the first time you press TAB,

[2017-04-02 04:01] #18150 closed

[2017-04-02 04:37] ramya-rao-a commented on #13304
This doesn't repro for me in the latest VS Code

I tried with the file provided by @danwulff

Something we did along the months must have fixed this.

Closing this now.

@aeschli @danwulff If you can still repro, please drop a comment and I can investigate further

[2017-04-02 04:37] #13304 closed

[2017-04-02 04:38] DavidBabel commented on #6144
On Mac OS "Alfred" is a good alternative. But native vscode muli clipboard is still a must have

[2017-04-02 04:49] ramya-rao-a commented on #19246
This is due to the way snippets get expanded.

Take the below example of a snippet

[code]

When you use the above in any file and after you enter the placeholder followed by ENTER, the cursor remains where the entry was made and does not go to end of line

cc @jrieken

[2017-04-02 05:17] QwertyZW opened #23810 "Feature request: collapse parent directory"
- VSCode Version:
[code]
- OS Version: Ubuntu 16.04

Sometimes I end up in a vendor/node_modules directory, usually with a very long list of subdirectories,  by jumping around code bases. I'd like to collapse such directory (on the left hand side directory browser view) after finding what I was looking for while also keeping other  more relevant directories open.

I think something like a menu opt

[2017-04-02 05:22] ramya-rao-a commented on #20953
Found the root cause in emmet:

The `updateTag` action becomes a no-op if it cannot find a context : https://github.com/emmetio/emmet/blob/328812c879b56104b7c2bf580d79650a7c20f05b/lib/action/updateTag.js#L112

And it cannot find the context due to https://github.com/emmetio/emmet/blob/328812c879b56104b7c2bf580d79650a7c20f05b/lib/utils/action.js#L163

Allowed syntaxes should allow syntaxes that ext

[2017-04-02 05:35] ramya-rao-a commented on #22284
Duplicate of #7913

To disable emmet for php you can add the following setting:

[code]

[2017-04-02 05:35] #22284 closed

[2017-04-02 06:08] DFormin opened #23811 "C/C++ autocomplete is not functioning"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|code-gnu-global|austin|0.2.1|
|csharpextensions|jchannon|1.3.0|
|cpptools|ms-vscode|0.10.5|
|csharp|ms-vscode|1.8.1|
|mono-debug|ms-vscode|0.15.4|;

---

Steps to Reproduce:

1.
2.

[2017-04-02 06:09] rubencaro commented on #21611
Why don't you keep asking the word-based provider to complete the list of suggestions? The 'smart' provider is not always so smart, and word-based suggestions are enough most of the time. In this case there would still be some word-based suggestions even if the smart provider does not give any.

[2017-04-02 06:22] whitecolor commented on #23802
Yes, I can confirm that this, spend a lot time being testing what goes wrong.

*Sh\*t happens* sometimes with vscode insiders.
BTW because of such problems I would return to the Idea of official way rolling back insiders release https://github.com/Microsoft/vscode/issues/11084

There just need to keep list of releases/commits and links for them to download.

I found that this link in some messages

[2017-04-02 06:25] ramya-rao-a commented on #18427
I installed both the babel and sublime babel extensions

<img width="247" alt="screen shot 2017-04-01 at 11 19 44 pm" src="https://cloud.githubusercontent.com/assets/16890566/24584894/d4d73db2-1731-11e7-913d-eb42de0ade66.png">

And emmet expansions work for me both in `.js` and `.jsx` files with language mode as `Javascript React (Babel)` in the Insiders build but not in the Stable build.

@aeschl

[2017-04-02 06:51] h1romas4 commented on #22916
Hello.

It is a grate feature! Thank you.

I tried this feature and plugins, but it did not work.
Missing markdown.enableExperimentalExtensionApi in extensions/markdown/package.json?

![markdown-it](https://cloud.githubusercontent.com/assets/4337664/24585043/e61c404c-17bb-11e7-999d-d26df245b6d4.png)

[2017-04-02 06:53] csholmq commented on #23811
Cpptools and code-gnu-globals typically collide with the autocomplete. Try disabling one of them.

[2017-04-02 07:17] catlan commented on #22270
I was looking for a setting to change the editor find widget style to the one in the settings editor. I prefer the search bar style which spans across the editor width.

editor find widget:
<img width="490" alt="editor find widget" src="https://cloud.githubusercontent.com/assets/45803/24585185/8d9b6c86-1784-11e7-8523-c5bb69fac81c.png">

search in the settings editor:
<img width="498" alt="settings

[2017-04-02 07:22] socialpixe opened #23812 "HTML Bug: No highlight for ending tags"
- VSCode Version: 1.10.2
- OS Version: Windows 10 Home

Steps to Reproduce:

1. When writing a code, theres no highlight for HTML tags. Like if we want to check where the Starting Div is ending we cannot check that in this version.

[2017-04-02 07:47] joaomoreno commented on #23773
We never run `git blame` 😉  so you might wanna retry with `--disable-extensions`.

[2017-04-02 09:15] bschlenk commented on #23675
Realized this is a duplicate of https://github.com/Microsoft/vscode/issues/19459.

[2017-04-02 09:15] #23675 closed

[2017-04-02 09:38] AlexLomm commented on #11112
`"editor.emptySelectionClipboard": false` disables the line copying entirely. Is there a way to have line copying enabled, **while simultaneously** ignoring the empty lines?

[2017-04-02 10:11] Alphapage commented on #1925
Hello,

This feature was working really great, but recently I retry to use the letter-spacing and the cursor is now offset without changing my code.
I seems the letter-spacing is applied to the text decoration for example 'aaabc', so if I set letter-spacing to -4px for 'aaa' the text is correctly reduced, but if the cursor position is before b, then cursor position doesn't changed and the cursor i

[2017-04-02 11:10] YangFan789 commented on #23779
- OS Version: Windows 10 15063.11

vscode stable(1.10.2)
![image](https://cloud.githubusercontent.com/assets/14011681/24586599/722fbbca-17d7-11e7-9f8c-358b73b50c01.png)

vscode insider(1.11.0):
![image](https://cloud.githubusercontent.com/assets/14011681/24586605/8a6e2668-17d7-11e7-8061-89e9c7abb870.png)

[2017-04-02 11:16] JD342 opened #23813 "Feature request: Infer attributes in statically declared __proto__"
Very useful feature if one wants to write code in raw prototypical OOP fashion. TernJS has it.

##### Example code:

[code]

##### What vscode currently hints when typing `y` and <kbd>ctrl</kbd>+<kbd>space</kbd>

    const y: {
        __proto__: {
            a: number;
            b: number;
            c(): void;
        };
        d: number;
    }

##### What vscode should hint

either

    co

[2017-04-02 11:35] sjdweb commented on #21559
For me at least, this was solved by first viewing the user settings (File>Preferences>Settings), and when I added `editor.fontFamily` to the object I found the default settings out, which were:
[code]

As I'm running Linux Mint I don't believe this distro or Ubuntu carry **Droid Sans Mono** by default any more, so I simply downloaded it from Google Fonts (direct link: `https://fonts.google.com/dow

[2017-04-02 11:48] ipatalas opened #23814 "How to automatically test a completion item provider?"
Hi,

is there any way to automatically test completion providers in own extensions?
The extension I'm writing isn't just a simple word completion provider. It does much more than that replacing part of the text before the position where completion was requested. There are some edge cases which make it hard to test manually every time.
I'd like to write some tests based on specific input and expect

[2017-04-02 12:01] FuriouZz commented on #22701
Same problem =/

[2017-04-02 12:07] lucastheisen commented on #11517
I have really grown accustomed to split open (s in nerdtree).  Also, switching between the editor and the tree (Ctrl+w, but I remap it to tab), change directory (cd), and create/rename/delete (m) are really handy.  Any chance we can get commands for them as well?

[2017-04-02 12:51] ghost opened #23815 "[scss] cross-file support for autocomplete variables, mixins, classes"
In other editors(Sublime 3 , Atom) you can made file with variables and editor will autocomplete variables name in other files.
This you can do with classes, mixins, id's and other things.
I think it will very good feature for VSCode

[2017-04-02 13:12] andreszs opened #23816 "Find box: as stupid as it gets"
**The search bar behaviour is completely counter-productive**. First, it does not even auto focus the cursor on itself. Secondly, when re-opening it with a small text selection active, it persists with the previous search instead of taking the highlighted text for the new search query. Last, it seems impossible to change the Shift+F3 shortcut to something more useful like, F4, which I've been usin

[2017-04-02 13:13] purpleskyfall opened #23817 "The editor margin left to the line numbers disappears"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.6.0|;

---

Steps to Reproduce:

The editor margin left to the line numbers disappears in visual studio code.

I don't know how to reproduce this bug. In my desktop, I always can't

[2017-04-02 13:40] eamodio commented on #23816
While you have offered some constructive feedback on the Search box, was your title and bolded line really the best way to convey your feedback? While I'm sure the vscode team (which I am not a part of) can appreciate your passion and your desire for things to work "better", a far more constructive and respectful approach is always the better option.

[2017-04-02 13:53] weinand commented on #3144
@brennanMKE the "outFiles" attribute expects glob patterns. Please use `"${workspaceRoot}/dist/**/*.js"`

[2017-04-02 14:36] hengkx opened #23818 "code intellisense Very slow"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|npm-intellisense|christian-kohler|1.3.0|
|path-intellisense|christian-kohler|1.2.0|
|vscode-eslint|dbaeumer|1.2.8|
|vscode-babel-coloring|dzannotti|0.0.4|
|vscode-html-css|ecmel|0.0.33|
|EditorConfig|Edi

[2017-04-02 14:38] ppowalla commented on #11517
Hi guys,

the configurable explorer is very nice :)

Still I am missing a few things to configure:

- focus parent node of current selected element (p in NerdTree)
- when I am in the left most editor group I would like use the same keybinding to move to the explorer as I would use to navigate from a right editor group to the one next to it on the left side (in my case ctrl-h). Maybe there is alrea

[2017-04-02 15:04] Tekbr opened #23819 "Improve performance in the text selection over minimap or without minimap"
- VSCode Version: 1.11.0 - Insiders
- OS Version: Windows 10

-- Sorry for the English, I used Google Translator --

Apply a little delay instead of going straight to the end, like the Atom.

In both directions, from left to right and from right to left.

Related with #21729

![scroll](https://cloud.githubusercontent.com/assets/19866231/24588241/0d725364-179b-11e7-92c4-94e3135811bb.gif)

[2017-04-02 15:05] mollion opened #23820 ""end of central directory record signature not found”"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:00:46.854Z)
- OS Version: Linux x64 4.4.0-53-generic
- Extensions: none
---

Steps to Reproduce:

1.
2.

[2017-04-02 15:06] andrewbrown opened #23821 "Mac: "Save As" Dialog: Select All does not work"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T13:56:35.908Z)
- OS Version: Darwin x64 16.5.0
- Extensions: none
---

Steps to Reproduce:

1. Start VS Code
2. Select the **File | New File** menu item
3. Type: `Hello, World!`
4. Select the **File | Save As** menu item
5. Type a few characters to replace the default filename (`Untitled-1`) in the **Save As** fiel

[2017-04-02 15:21] dakaraphi commented on #20217
@aeschli FYI, I have now implemented this as an extension.
https://marketplace.visualstudio.com/items?itemName=dakara.dakara-foldplus

[2017-04-02 15:48] bpasero commented on #11517
Each individual thing missing in VIM should be reported as individual issue and then we can look into each individual issue individually.

[2017-04-02 15:56] bpasero commented on #19707
Yeah thats what I think too. That is why my initial reaction was to call this method only after a delay. I can look into it, actually requiring the module is not what takes time, it is calling into that method so we can probably keep that module on all platforms.

[2017-04-02 15:58] ppowalla commented on #11517
@bpasero: I do not think my mentioned points are VIM related:

focus parent node of current selected element (p in NerdTree) => there is no way (or at least I have not found it) to execute such a command like "select parent node", so this is something missing in general.

focus left/right editor (tab) possible via shortcut? => I have not found any command that makes it possible to cycle through ed

[2017-04-02 16:04] ppowalla commented on #11517
I have found the correct command to cycle through the editors "nextEditor"/"previousEditor".

[2017-04-02 16:14] bpasero commented on #23810
@QwertyZW can you not select a child of that folder and arrow-left to get to the parent?

[2017-04-02 16:28] johnfn commented on #23652
Definitely agreed. But I think the main problem is the UI jump. If the size of codelens could be precalculated such that the UI would not jump, I think that would also solve my issue here.

[2017-04-02 16:40] aleksey-bykov opened #23822 "performance degraded in latest build 2017-03-31T14:08:17.917Z"
there is some noticeable performance degradation while coding typescript (moving the carret around the file) in the latest build, look at the performance monitor in this video: https://www.youtube.com/watch?v=QLJz19Zo-_Y

Version 1.11.0-insider
Commit cc46bbf5b0412e464f89280e828d602fbc06a0f4
Date 2017-03-31T14:08:17.917Z
Shell 1.4.6
Renderer 53.0.2785.143
Node 6.5.0

![image](https://cloud.githubu

[2017-04-02 17:24] Hurtak opened #23823 "Snippets - more than one snippet breaks tab autocompletion"
- VSCode Version: 1.10.2
- OS Version: Ubuntu 16.10

When I type some snippet keyword and press tab, snippet autocomplete works as expected when there is only one snippet. When there is Code's default snippet + my user defined, tab completion no longer works.

![peek 2017-04-02 19-22](https://cloud.githubusercontent.com/assets/6587821/24589396/e16d2890-17d9-11e7-8e85-6772a1f969a6.gif)

I have the

[2017-04-02 17:33] Tekbr opened #23824 "WordWrap on and off should affect the entire VSCode."
- VSCode Version: 1.11.0 - Insiders
- OS Version: Windows 10

-- Sorry for the English, I used Google Translator --

When using <kbd>Alt</kbd> + <kbd>Z</kbd> (WordWrap on and off) it is not affecting the whole editor any more, just each file.

I'd rather have it affect the entire editor, or at least have one option whether it should affect every publisher or not;

I believe it's about Case #21801.

[2017-04-02 17:52] Njanderson commented on #23808
Are you working on this or could a new contributor take a stab at it?

[2017-04-02 18:18] QwertyZW commented on #23810
I did not know you can do that. Thanks.

[2017-04-02 18:18] #23810 closed

[2017-04-02 18:37] jonathan-fielding commented on #14653
Looks like the electron upgrade is still WIP over here https://github.com/Microsoft/vscode/pull/23800

In meantime I have been looking at how to implement this feature, docs over here https://github.com/electron/electron/blob/master/docs/api/touch-bar.md

Was thinking that the buttons that appear need to be:

## Configurable
Settings to configure what appears, so things I use most have the button

[2017-04-02 19:14] TenshiHitokiri opened #23825 "Error but anything works fine"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|code-runner|formulahendry|0.6.15|
|Go|lukehoban|0.6.57|;

---
Hi, im Having this error but anything works fine, it's annoying and i want to know how to fix it:
'Error' message: 'can't load package: packa

[2017-04-02 19:28] qaqz111 opened #23826 "The extension information page's detail area layout calculation wrong in zoom mode"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.14393 (Win10x64pro chinese)
- Extensions:

|Extension|Author|Version|
|---|---|---|
|cpptools|ms-vscode|0.10.5|
|csharp|ms-vscode|1.8.1|
|Material-theme|zhuangtongfa|2.3.5|;

----

1. Open extensions panel
2. Click an extension
3. Press `Ctrl`+`Num+` twice or more,

[2017-04-02 19:35] lucastheisen commented on #11517
@bpasero , I also think my requests are not VIM _related_ so much as _VIM NerdTREE inspired_.  They would be additional commands needed in your tree.  Specifically:

Command | Keybinding | Arguments | Explanation
------------ | ------------- | ------------ | ----------
Split open | <kbd>ctrl</kbd><kbd>s</kbd>| no | Opens the selected item in a new split editor
Modify | <kbd>ctrl</kbd><kbd>m</kbd>|

[2017-04-02 19:47] ppowalla commented on #11517
@lucastheisen: for the "modify" shortcut you could also use the command combinations:

"m a" => add a file
"m f" => add folder
"m m" => move file
"m d" => delete file

those shortcuts are also working in NERDTree with the difference, that NERDTree shows a menu on pressing the first "m" and then allows further selection via the second letter. But I think that the inbetween menu is not necessary and

[2017-04-02 19:52] ramya-rao-a commented on #23812
Just keep the cursor on any tag or click on tag and the corresponding ending/starting tag does get highlighted

<img width="386" alt="screen shot 2017-04-02 at 12 51 15 pm" src="https://cloud.githubusercontent.com/assets/16890566/24590502/192614ae-17a3-11e7-9c6b-b6b1d0be8170.png">

Which theme are you using?

[2017-04-02 19:53] ramya-rao-a commented on #23818
For which language are you finding intellisense slow?

[2017-04-02 20:21] xconverge commented on #23045
@alexandrudima not sure if you saw my last comment but the keybinding works, but the same call through the API does not :/

[2017-04-02 20:29] lucastheisen commented on #11517
@ppowalla, thank you...  Any idea on the _split open_...  that's actually my favorite feature...  (that and using tab in command mode to switch between editors _including_ the tree)...

[2017-04-02 21:00] kaiwood commented on #11517
@lucastheisen:

[code]

[2017-04-02 21:08] patgauvingeek opened #23828 "Git: Show original image side by side with changed image."
- VSCode Version: 1.10.2
- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. Add an image to git
2. Commit
3. Change the image
4. Select the changed image in the list of git detected changes
5. The git module will fail to compare with the old image stating that it can't compare binary files.

It would be nice that, instead of failing, it shows image side by side.

[2017-04-02 22:04] sdwarwick opened #23829 "built-in TypeScript Format not working for minified files"
- VSCode Version: 1.10.2
- OS Version: windows 10

Steps to Reproduce:

1.  we have a very large auto-generated javascript library that needs to be uncompressed/beautified. loading it in vscode, the first "line" is over 300,000 characters.   After attempting to use "Format Document",  the code looks as follows:

![image](https://cloud.githubusercontent.com/assets/7736675/24591381/ea8da06e-17cd-11e

[2017-04-02 22:09] rprichard commented on #22616
Here are PHP-related bug reports w.r.t. `ENABLE_VIRTUAL_TERMINAL_PROCESSING`:

 * https://github.com/php/php-src/pull/2103 -- I think this PR adds a couple PHP APIs for detecting whether a stream is a tty (or a console on Windows), and for detecting/setting the `ENABLE_VIRTUAL_TERMINAL_PROCESSING` flag on a stream/console.  I think Symfony will have to be updated to use it, and the new APIs are cu

[2017-04-02 23:40] gpassero commented on #19837
@yuryleb I set PYTHONIOENCODING to UTF-8 and your solution didn't work for me. This one seems to have worked:

`"terminal.integrated.shellArgs.windows": ["-NoExit", "/c", "chcp.com 65001"],`

[2017-04-02 23:46] brandonwamboldt opened #23830 "Intellisense not using JSDoc for imported files"
- VSCode Version: 1.11.0-insider (32942fd950)
- OS Version: Windows 10 x64

Steps to Reproduce:

1. Create a file called `test.ts` with the following contents:

[code]

2. Create a file called `test2.ts` with the following content:

[code]

Intellisense within `test.ts` works correctly:

![working](http://i.imgur.com/wYwtZe9.png)

Intellisense within `test2.ts` doesn't work correctly:

![not worki

[2017-04-03 00:07] adampfoster commented on #309
@Tyriar ok apologies for my confusion. Great to hear about ~/.bash_profile running in 1.11 :)

[2017-04-03 00:16] QwertyZW opened #23831 "How do I enable extensions in the extensions dir in OSS Dev mode"
master/
[code]
Ubuntu 16.04

I'm trying to patch something in the vscode codebase,
I require the php extension to work in order for me to test my changes.
How do I enable all the extensions that ship with code in my config?

This is the config I'm using (just added runtime args to the original Launch Vs Code config)

[code]

This does seem to cause the extension viewlet to list all the packages in

[2017-04-03 00:17] Dwlad90 commented on #13165
+1

[2017-04-03 00:28] waelemara commented on #6967
Hi @weinand, I have installed the latest version of VS Code Insiders, but unfortunately it is still not working, worth mentioning that I'm not using Electron, and the debugging protocol that I'm using is "legacy", not "inspector".

[2017-04-03 00:36] molant commented on #6967
I'm with the insider using inspector and this happens mostly when using bluebird. I'm in node 7.6.

[2017-04-03 00:46] tohnperfect commented on #14716
I also have this issue on my Dell XPS 15 9560.

[2017-04-03 01:02] roblourens commented on #23773
Actually this would be the git blame extension... :)

[2017-04-03 01:02] #23773 closed

[2017-04-03 01:27] cesaraaron commented on #19534
#22504 as well.

For the color looks like Sublime uses some key of the current .thTheme (see 22504).
It'd be great as 'editor.bracketMatchingColor' like @fatalitynt suggested but that would add an unnecessary option to the settings imo.

[2017-04-03 02:07] tezine commented on #585
+1 to solve this.  The lack of C# semantic highlighting is the the only think that keeps me away from vscode. :-(

[2017-04-03 02:15] landonepps opened #23833 "Some keys are not recognized correctly when using a Japanese keyboard"
Keybindings for certain keys do not work as intended with a Japanese keyboard on macOS. When defining keybindings, the @ key (right of 'P') and '[' key are both recognized as a [. Shift+@ is recognized as shift+`. The ¥ key is 'unrecognized' and shift+¥ is recognized as shift+\.

There may be issues with other keys, too. I noticed this one specifically because there is no ` key on a Japanese keybo

[2017-04-03 02:16] landonepps commented on #23833
I'd be willing to work on this, if someone more experienced with the codebase could point me in the right direction.

[2017-04-03 02:45] izikl commented on #15760
@isidorn when is the next release of VSCode that will include this fix? I am really looking forward for this feature. 😄

[2017-04-03 02:56] hengkx commented on #23818
@ramya-rao-a  js code intellisense Very slow,use [https://github.com/airtoxin/Electron-React-Boilerplate](url)

[2017-04-03 04:29] Njanderson commented on #23085
I'll take a look at this.

[2017-04-03 04:50] Tyriar commented on #23808
@Njanderson wasn't planning on working on it for a while, it would be fantastic if you could give it a go 😃. The plan was basically to investigate the best/most reliable methods to count the number of child processes of a PID on each OS and implement each of them.

[2017-04-03 04:52] sigise commented on #23520
Yes, bookmarks please.

[2017-04-03 05:57] Njanderson opened #23834 "Cannot find Module gc-signals or keymapping when trying to run from source"
- VSCode Version: 1.12.0
- OS Version: Windows 10 (Version 1607)

Steps to Reproduce:

1. Get a fresh version and build with the npm.bat script (`./scripts/npm.bat run watch`)
2. Try to run the build, which should fail with:

- `Error: Cannot find module './build/Release/keymapping`
- `Error: Cannot find module '../build/Release/gcsignals'`

I then used the npm.bat file to install gc-signals and n

[2017-04-03 06:05] socialpixe commented on #23812
Hello Team,

Thanks for this update, this means alot. I am using Visual Studio Light
Theme.

--
*Regards,*

Sandeep | CTO
*Enhance Labs*
I-304, Friends Appt, 49 I P Extn., Patparganj, Delhi - 110092. India.
*Cell #:*  +91 9643720356
*Email:* sandeep.singh@socialpixe.com
*Skype:* sandeep.socialpixe@gmail.com
*Website *: http://www.enhancelabs.co.in & https://www.socialpixe.com

On Mon, Apr 3, 2017

[2017-04-03 06:07] mysterytony opened #23835 "debug with electron, breakpoints halt the program"
- VSCode Version: 1.10.2
- OS Version: ubuntu 16.04
- electron version: 1.6.2

my `launch.json` looks like this:

[code]

when vscode hits a breakpoint, it does not show the debug view. for example, the little yellow arrow does not show up at the breakpoint. The program just halts there.

Regards

[2017-04-03 06:12] weinand commented on #6967
@waelemara What is the exact problem you are seeing?

[2017-04-03 06:16] HoweChen opened #23836 "VSCode Insider: Unexpected Identifier problem while opening the app on MacOS Sierra"
On my mac, after updating the latest insider version of vscode, I got this error and cannot open the insider any more whatever I download the app and replace the application.

![image](https://cloud.githubusercontent.com/assets/5387479/24597349/e28d9b12-1877-11e7-9d84-c55490610322.png)

[2017-04-03 06:25] rhys-vdw opened #23837 "Focus returned to search bar after requesting next search result"
- VSCode Version: 1.10.2
- OS Version: MacOS Sierra 10.12.2 (16C67)

Steps to Reproduce:

1. cmd+shift+f
2. enter search term
3. enter
4. F4 to go to result

Focus is given to search field instead of result in editor, meaning that user must repeatedly revisit the mouse when editing files. I think this is a recent regression.

[2017-04-03 06:38] CyrisXD commented on #20348
Same problem here.

I think I'm zoning in on this issue. I just got the XPS 15 (9650) and noticed it would freeze and lag 2-5 seconds randomly when using Chrome or Electron apps. Through some research I believe it to be due to Chrome and Chromium's Hardware Acceleration with the Intel HD 630 drivers for Kaby Lake.

Intel recently released driver updates which seems to have helped the freezing in C

[2017-04-03 06:41] isidorn commented on #21835
Nothing urgent, moving to april

[2017-04-03 06:43] #23799 closed

[2017-04-03 06:47] CyrisXD commented on #13612
@pixieaka might be related to the lag scroll in windows. I'm having the same issue here. https://github.com/Microsoft/vscode/issues/20348#issuecomment-291060102

[2017-04-03 06:48] jmbelloteau commented on #10943
Any news about this features? Can't found any option to color box off...

[2017-04-03 06:49] equinusocio commented on #3112
@bpasero So at the moment we can only change the statusbar color?

[2017-04-03 06:50] parsibox commented on #23232
any result?

[2017-04-03 06:50] alexandrudima commented on #20348
Let's track in #13612. The issue should resolve itself once we adopt the latest Electron version. In the meantime, a popular workaround is to "restore" and then maximize the window.

[2017-04-03 06:50] #20348 closed

[2017-04-03 06:51] #23750 closed

[2017-04-03 06:51] bpasero commented on #13905
Depends on https://github.com/Microsoft/vscode/pull/23800

[2017-04-03 06:52] #23583 closed

[2017-04-03 06:57] bpasero commented on #23420
I fixed the issue with actions showing up in all diff editors and merge this into https://github.com/Microsoft/vscode/issues/22275

To verify:
* get into a save conflict (make file dirty, make changes from other editor, try to save)
* click on "Resolve" to start seeing the diff editor with actions to resolve the save conflict
* verify the actions show up only for the diff editor of the save confli

[2017-04-03 06:57] #23420 closed

[2017-04-03 06:59] Njanderson commented on #23834
Solution was to wipe node_modules and re-install.

[2017-04-03 06:59] #23834 closed

[2017-04-03 07:00] bpasero commented on #3112
@psuedoSudo thanks, maybe you could add this to https://github.com/Microsoft/vscode/issues/23506 where we already collect missing elements. We are well aware of some, since we have not adopted all widgets yet (e.g. like the tree/list widget that is pretty much everywhere).

@equinusocio no, the list of colors is larger. Once you open intellisense in settings you will see all:

![image](https://clo

[2017-04-03 07:04] equinusocio commented on #3112
@bpasero Ah nice work! There will be a documentation section about that API?

[2017-04-03 07:04] bpasero commented on #23836
@HoweChen very weird, I cannot reproduce. I suspect a broken download maybe, can you try to download the previous version again to run through the update and see if it reproduces? The previous version is: https://az764295.vo.msecnd.net/insider/cc46bbf5b0412e464f89280e828d602fbc06a0f4/VSCode-darwin-insider.zip

[2017-04-03 07:08] bpasero opened #23839 "Ugly flicker in "opened editors" view when preview is enabled"
Steps to Reproduce:

1. set `"workbench.editor.enablePreview": true`
2. start to open an pin editors
3. start to open new groups and continue

=> there is ugly flicker where the element first seems to show to the top and then moves down
=> seems to be introduced by https://github.com/Microsoft/vscode/commit/698b667397163221f465bf5dea9e8b77c5ced4d2

![panel-red](https://cloud.githubusercontent.com/

[2017-04-03 07:09] bpasero commented on #3112
Yes, we are just wrapping up for the March release and plan to document theming soon.

[2017-04-03 07:10] alexandrudima commented on #21780
@AaronFriel Even if both browsers show the same weird values for `code`, I still think this is an issue with their extraction of `code`, possibly a bug both browsers share...

I am no expert in this topic, but a quick search in Chromium's sources shows how they extract these values from an `XEvent`:

---

### `e.code`:
https://cs.chromium.org/chromium/src/ui/events/keycodes/keyboard_code_conversio

[2017-04-03 07:11] equinusocio commented on #3112
Oks! Thank you!

[2017-04-03 07:15] jrieken commented on #23765
Thanks

[2017-04-03 07:18] jrieken commented on #19246
Yes, `$0` is the final cursor position which default to the end of the snippet. The sample above it is used to place the cursor elsewhere. Changing above to `...${1:me}...` should do it. http://code.visualstudio.com/docs/editor/userdefinedsnippets#_snippet-syntax

[2017-04-03 07:19] alexandrudima commented on #21780
@roblourens Thanks for trying to verify. On OSX, the 1.10 behaviour was more complicated than using `keyCode`. On OSX, in 1.10, there was some piece of code that would try to "normalize" `e.keyCode`. However, there was no such code on Linux, so I think one could reproduce a former linux issue by switching `"keyboard.dispatch": "keyCode"`

[2017-04-03 07:19] jrieken commented on #21611
It would result in many duplicates

[2017-04-03 07:22] bpasero opened #23840 "List: ugly flicker from time to time"
Steps to Reproduce:

1. bring up intellisense
2. arrow up and down

=> sometimes the entire list items seem to flicker with some elements pushed around
=> see video at the end where this happens

![panel-red](https://cloud.githubusercontent.com/assets/900690/24599115/ffbb50fe-184e-11e7-801a-4aa21dc93077.gif)

[2017-04-03 07:22] jrieken commented on #23713
What is your setting for `"editor.snippetSuggestions"`?

[2017-04-03 07:24] jrieken commented on #23782
Yeah, 25 it is. The logic fills in a LCS-style table to find optimal matches and for perf reasons I have limited the pattern to 25 and the word to 100 characters. Wasn't expecting such long strings. I have added some fast bail out in case the pattern doesn't match and I think I can now have longer patterns

[2017-04-03 07:26] aeschli commented on #23836
I also cannot reproduce.

[2017-04-03 07:28] aeschli commented on #23825
Please file this directly against the [go extension](https://github.com/Microsoft/vscode-go)

[2017-04-03 07:28] #23825 closed

[2017-04-03 07:28] alexandrudima commented on #23802
@aleksey-bykov The problem could be in two independent places:
a) keyboard dispatching (i.e. shift+alt+f is not correctly triggering the format action on the language service)
b) the TypeScript language service cannot format in a specific case

To try to narrow in on the root cause, could you please open a JSON file that is unformatted and press `shift+alt+f`. Does `shift+alt+f` invoke the JSON fo

[2017-04-03 07:31] aeschli commented on #23820
Please add more information, ideally steps to reproduce.

[2017-04-03 07:31] alexandrudima commented on #23770
@Tekbr Do you mean the numpad keys? They are independent keys and can be bound to different things. i.e. we treat `Digit1` as a different key than `NumPad1`. This allows that `ctrl+digit1` can execute a certain command, while `ctrl+numpad1` can execute something else. i.e. allows to bind different commands to different keys.

[2017-04-03 07:33] aeschli commented on #23818
@hengkx Can you attach a code sample that shows the slowness?

[2017-04-03 07:33] jrieken commented on #23823
Yeah, there is this [`hasSnippets.set(this._currentSnippets.length === 1); //todo@joh make it work with N`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/snippets/electron-browser/tabCompletion.ts#L69)

[2017-04-03 07:34] aeschli commented on #23817
@purpleskyfall Did you set the setting "editor.glyphMargin": false ?

[2017-04-03 07:37] aeschli commented on #23812
@socialpixe Does it work for you? Ok to close the bug?

[2017-04-03 07:38] michelkaporin commented on #22933
Misread @jrieken comment that the change affects only snippets with the same label, however even this shows me 'typescript' extension snippet first. Hence, reopening.

OS: Windows
VS Code version: 1.11.0 - commit 5184d06

![image](https://cloud.githubusercontent.com/assets/2239563/24599575/171f622e-1851-11e7-94dd-6d625d04f172.png)

[2017-04-03 07:38] aeschli commented on #23811
Please file the bug directly against the extension(s) that you are using.

[2017-04-03 07:38] #23811 closed

[2017-04-03 07:39] byroniac opened #23841 "Uncaught Exception (cannot start program on Ubuntu)"
- VSCode Version: 1.12.0-1491200824
- OS Version: Ubuntu 16.10

Steps to Reproduce:

1. Cannot run the program

Uncaught Exception:
SyntaxError: Unexpected identifier
    at /usr/share/code-insiders/resources/app/out/vs/code/electron-main/main.js:4:39806
    at Object.<anonymous> (/usr/share/code-insiders/resources/app/out/vs/code/electron-main/main.js:4:57360)
    at Object.<anonymous> (/usr/shar

[2017-04-03 07:42] aeschli commented on #23798
duplicate of #4285

[2017-04-03 07:42] #23798 closed

[2017-04-03 07:42] jrieken commented on #23814
Not really. What you could *try* is sending commands. There is `editor.action.triggerSuggest` to open the IntelliSense window, navigation-commands, and `acceptSelectedSuggestion` to simulator pressing Enter. Find them all here: https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/suggest/browser/suggestController.ts#L255

[2017-04-03 07:42] #23814 closed

[2017-04-03 07:43] jrieken commented on #23814
We have done similar things when testing the [QuickPick API](https://github.com/Microsoft/vscode/blob/master/extensions/vscode-api-tests/src/window.test.ts#L229)

[2017-04-03 07:43] HoweChen commented on #23836
@bpasero Thank you very much, the problem has been fixed by replace by the version you gave to me. I thought it might be the issue upgrade the insider while updating the plugins. Any way, thank you very much.

[2017-04-03 07:43] #23836 closed

[2017-04-03 07:44] aeschli commented on #23793
Please file this directly against the [C# extension](https://github.com/OmniSharp/omnisharp-vscode)

[2017-04-03 07:44] #23793 closed

[2017-04-03 07:44] bpasero commented on #23807
https://github.com/Microsoft/vscode/issues/12622

[2017-04-03 07:44] #23807 closed

[2017-04-03 07:44] aeschli commented on #23792
@xinkingTop Please add more information

[2017-04-03 07:45] dbaeumer commented on #7015
@ShaharHD I followed up with the TS team on this in Microsoft/TypeScript#11526. To my understanding the current solution would still need quite some work in VS Code that is better done in TSServer.

@mjbvz @waderyan did you talk to the TS team about the builder lately? What is the current state of this?

[2017-04-03 07:46] aeschli commented on #23789
@pokerchina Please add more details. What files do you open? What language and what size?

[2017-04-03 07:46] aeschli commented on #23789
Also if you are using the csharp extension, please file directly against https://github.com/OmniSharp/omnisharp-vscode

[2017-04-03 07:48] aeschli commented on #23788
Please file directly against https://github.com/Microsoft/vscode-go

[2017-04-03 07:48] #23788 closed

[2017-04-03 07:48] jrieken commented on #23803
It's on the horizon to add API for (unit) testing et al. Unsure tho if we overload the existing Diagnostics API for that. More likely is that we come with a different API to represent test results

[2017-04-03 07:49] dbaeumer commented on #2775
The task priority is currently to run task in the terminal and to allow extension to contribute tasks and problem matchers. We will plan more work for tasks when these have been completed.

[2017-04-03 07:49] realee94 commented on #13643
Regarding FTP deploy/download, I suggest using [VS-Deploy](https://github.com/mkloubert/vs-deploy)

[2017-04-03 07:51] dbaeumer commented on #2840
This will come for the new terminal task runner and is on the list, but with a slightly different behavior. When more than one task is marked as a build task all of them will be executed since the terminal runner support executing more than one task in parallel. If you want to execute a specific task use Run Task.

[2017-04-03 07:53] ShaharHD commented on #7015
I'm assuming this Microsoft/TypeScript#8884 (which was opened by you) haven't got any traction either.

[2017-04-03 07:53] dbaeumer commented on #2921
This is already supported with the new terminal runner. The runner is still not the default so you need to opt into it with version: "2.0.0". See the release notes of the last two releases.

[2017-04-03 07:54] hengkx commented on #23818
@aeschli custome js code intellisense example `"dg": {
        "prefix": "dg",
        "body": [
            "document.getElementById($1)"
        ],
        "description": "document.getElementById(id)"
    },` small project is normal intellisense ,large project  shows slowness

[2017-04-03 07:55] aeschli commented on #23763
Please file this directly against the [xdebug extension](https://github.com/xdebug/xdebug)

[2017-04-03 07:55] #23763 closed

[2017-04-03 07:56] isidorn commented on #22609
@OmarBizreh this is unrelated to how we load extensions

[2017-04-03 07:56] aeschli commented on #23762
Please add more details. Do you want a command that does that?

[2017-04-03 07:56] sandy081 commented on #23766
Nothing has changed in this area in current milestone. Default settings editor always set/overrides `wordwrap` to `on`.

I also see this programatic update/override of `wordwrap` is not getting respected in Output and Repl editors.

@alexandrudima FYI

[2017-04-03 07:57] dbaeumer commented on #23577
@roblourens task contribution is only available in the new terminal task runner. If you test it on a workspace you need to add a tasks.json with the following content to switch to the new runner: `{ "version": "2.0.0" }`. This is to not break exist old output runner configuration since the terminal runner has more features.

[2017-04-03 07:57] #23577 closed

[2017-04-03 08:00] purpleskyfall commented on #23817
Thanks for @aeschli , I solve it by change the setting to:

:-)

[2017-04-03 08:00] #23817 closed

[2017-04-03 08:05] charankumarpalla commented on #23639
Yes I can see Console tab...

please list me that steps, commands/log files that I can share with u to solve this issue.

[2017-04-03 08:05] bpasero commented on #23787
This works when you have a folder opened, but not otherwise. merging into https://github.com/Microsoft/vscode/issues/207

[2017-04-03 08:05] #23787 closed

[2017-04-03 08:09] whitecolor commented on #23802
@aleksey-bykov Also there is a third case
c) VScode doesn't handle TS language service at should.

In ts server logs (verbose) I see that requests are made and response are got but VSCode doen't apply formatting. As I said I have to rollback to previous build which work.

[2017-04-03 08:29] Alex360hd commented on #13643
There is no remote file browser like the explorer sidebar in VS-Deploy

[2017-04-03 08:31] warpdesign commented on #20348
@alexandrudima any ETA on the adoption of newer Electron ? 1.6.5 which is actually in beta is based on chrome 56.

[2017-04-03 08:32] ipatalas commented on #23814
That's something. I'll give it a go later this week. Thanks for suggestion.

[2017-04-03 08:35] byelims commented on #369
![image](https://cloud.githubusercontent.com/assets/4300271/24601340/139bff10-188b-11e7-8397-0f85931dacef.png)

The type label just hides overflowed text now, how can I see the full text?

[2017-04-03 08:39] sandy081 opened #23843 "Search viewlet is not themed well in Quiet light theme"
Look at the following screenshot. One at the top is current insiders and the bottom one is Stable version.

![image](https://cloud.githubusercontent.com/assets/10746682/24601585/b4e06a8c-1859-11e7-8ea7-68222aad3b82.png)

[2017-04-03 08:39] remojansen commented on #23841
Same problem here on Linux Mint 18 with the latest insiders build:

![selection_001](https://cloud.githubusercontent.com/assets/10656223/24601600/69f77216-1851-11e7-81f7-5a7b70445629.png)

[2017-04-03 08:41] Gerwinnz commented on #20348
@alexandrudima Thanks for the update. Can't believe that hack actually resolves the scrolling somewhat and sorry I didn't spot the previous issue. Cheers.

[2017-04-03 08:43] sandy081 commented on #23766
@alexandrudima
I checked that in Default settings editor - [here](https://github.com/microsoft/vscode/blob/master/src/vs/workbench/parts/preferences/browser/preferencesEditor.ts#L487), I am setting wordWrap to be always `on`. Please check that if the editor is reading it again from some where else to override the passed in value.

Thanks

[2017-04-03 08:44] isidorn commented on #15760
@izikl this issue is still open and not on the immediate plan to be fixed

[2017-04-03 08:51] balohmatevz commented on #13643
Here is a visual representation of precisely how I would like this to work: http://l1m.eu/f0uv2qm3 (video)

I've gone back to Notepad++ as a plugin for it adds precisely the capability I want and that's worth more to me than the benefits VS Code has over Notepad++.

[2017-04-03 08:53] alexandrudima commented on #23766
Yes, I think it is caused by my adding the `ToggleWordWrapController`

[2017-04-03 08:56] jrieken commented on #23524
@michelkaporin Please file a separate issue for https://github.com/Microsoft/vscode/issues/23524#issuecomment-290429333

[2017-04-03 09:01] felixfbecker commented on #15760
This is one of the little things that really slows down productivity:

- test fails
- <kbd>Cmd</kbd>+<kbd>P</kbd>, search file shown in stack trace
- <kbd>Cmd</kbd>+<kbd>G</kbd>, go to line shown in stack trace

this was so much quicker when you were able to just click the links :(

[2017-04-03 09:04] dbaeumer commented on #19624
Yes makes sense.

[2017-04-03 09:04] michelkaporin opened #23845 "'Open Extensions Folder' command opens upper folder to 'extensions'"
Ref: https://github.com/Microsoft/vscode/issues/23524#issuecomment-290429333

[2017-04-03 09:05] jrieken commented on #23433
I cannot reproduce with
[code]

[2017-04-03 09:10] bpasero commented on #23843
I think @isidorn did this theme? If so, it is all under his control.

[2017-04-03 09:10] dbaeumer commented on #19624
Done.

[2017-04-03 09:11] isidorn commented on #23835
What version of node do you have?
Can you please provide a picture of what is wrong, or a short gif? I did not fully get your description.
Where does the program halt? Not at the expected line?

[2017-04-03 09:12] Srekel opened #23846 "Make "files to include" box multi-line."
Working with a game engine can entail being interested in a whole lot of different file types.. :)

![filestoinclude gif](https://cloud.githubusercontent.com/assets/1578924/24602679/2d8f22c6-185e-11e7-86e7-71ac7f5dfd05.gif)

Here's my current filter:
*.cpp, *.h, *.inl, *.js, *.lua, *.cs, *.html, *.flow_node_definitions, *.txt, *.material, *.shader_source, *.shader_node, *.flow, *.rb, *.cmake, *.pl

[2017-04-03 09:12] dbaeumer commented on #9635
@indiejames we are working on making tasks API so that people can code this. Having a declarative approach to this requires me to invent a programming language in JSON :-(

[2017-04-03 09:14] michelkaporin commented on #21737
@ramya-rao-a good spot! Forgot to encode URI before performing length check.

[2017-04-03 09:16] dbaeumer commented on #23758
Good catch.

Reason being is that we reparse the file and assign a different unique ID. Need to think about how to avoid this.

[2017-04-03 09:18] jrieken commented on #23433
Ok, I can. This is timing relevant. After executing a code action we ask again. If that takes longer then switching inputs this happens...

[2017-04-03 09:19] dbaeumer commented on #21886
IMO we should not have any playground specific URI knowledge in the core. A Playground should be contributable by an extension without it being necessary to modify the core.

I know that due to limitation we need to, but we should push hard to improve our system to not require thus.

[2017-04-03 09:20] #21737 closed

[2017-04-03 09:30] #23433 closed

[2017-04-03 09:35] #23226 closed

[2017-04-03 09:36] jrieken commented on #23226
Closed because missing information

[2017-04-03 09:36] #23766 closed

[2017-04-03 09:37] aicccia commented on #16204
Yes, please add this.

[2017-04-03 09:38] aeschli commented on #23016
@Relequestual Hi Ben, yes, JSON schemas are used heavily in VSCode for settings and several other configuration files and its the backbone of our JSON editing experience.
We'd be happy if you can loop us in the discussions on the future of the JSON schema. I can't speak for Microsoft, but at least for the VSCode team.

Not sure if you have seem, in VSCode we support some simple custom extensions t

[2017-04-03 09:40] jrieken commented on #21886
Agree

Disagree. The extension API is there to enrich the core development cycle not these scenarios. IMO the playground should use the standalone editor *with* its language service implementation. It's problematic that playground samples bleed into the extension host and causing all kinds issues, like markers we don't really want.

[2017-04-03 09:42] alexandrudima commented on #23790
@harishekhar This milestone we have changed how keybinding dispatching works on OSX to use `e.code` (See #17521).

Can you please try in the Insiders Build that contains all these changes?

[2017-04-03 09:44] rightaway commented on #13902
Making it customizable like this would be ideal.

[2017-04-03 09:47] alexandrudima commented on #23822
@aleksey-bykov Could you please record and share with us a CPU profile of the UI thread?

i.e.
* `Help > Toggle Developer Tools`
* Go to the `Profiles` tab
* Check `JavaScript CPU Profile` and click `Start`
* Execute the repro (moving the cursor around in this case)
* `Stop` the CPU Profile  and `Save` it to a file

[2017-04-03 09:49] nicolasg-da commented on #18239
I have the same issue in Haskell, where `value` and `Value` are two very different things.

Maybe it would be possible to set a language specific option for this?
So keep the current behaviour but add an option to overwrite it for certain languages where casing matters?

[2017-04-03 09:50] alexandrudima commented on #23778
@pwicks86 Could you please share with us the file you are trying this with? (I could also try to generate such a file, but I might not get the same results). What language is the file? (i.e. `.js`, `.txt`, etc.)

[2017-04-03 09:52] dbaeumer commented on #23756
Problem seems to only happens with tasks that are auto detected in gulp.

[2017-04-03 09:55] dbaeumer commented on #23756
As a workaround you can add
[code]

to you tasks.json.

[2017-04-03 09:55] jrieken opened #23850 "[c++] grammar in endless loop"
* have the below cpp-file
* :bug: an error about the grammar being in an endless loop appears

[code]

[2017-04-03 10:00] jrieken commented on #23782
I have made the limit 100 characters

[2017-04-03 10:00] #23782 closed

[2017-04-03 10:03] ravshansbox commented on #23762
It would be better if it does it automatically.

[2017-04-03 10:04] ashclarke commented on #9842
I had a need for this recently, but specifically for the search exclusion and file exclusion settings.

Only way to get around this is to copy-paste these settings and maintain them across multiple project folders, whereas it would be much better to be able to inherit these settings from the parent "solution" folder.

[2017-04-03 10:10] alexandrudima commented on #23778
I have tried generating a file with the following code:
[code]

And in this case typing works fine for me:
![23778](https://cloud.githubusercontent.com/assets/5047891/24604757/6d874bc6-1866-11e7-8700-605f4ccec21b.gif)

[2017-04-03 10:11] McWillie opened #23851 "Language mode switches to 'Plain Text' if the file is not saved"
- VSCode Version: Code 1.10.1 (653f8733dd5a5c43d66d7168b4701f94d72b62e5, 2017-03-02T00:33:15.706Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.5.9|;

---

Steps to Reproduce:

1. Open a new file/tab
2. Select a language mode (Python in my case)
3. Write code
4. Exit and re-enter VSCode to find language mode switched back t

[2017-04-03 10:16] yhyjy commented on #2915
+1

[2017-04-03 10:22] #23756 closed

[2017-04-03 10:30] sveinse opened #23852 "Font changes if editor contains a special unicode code point"
- VSCode Version: 1.10.2
- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. Type an arbitrary text containing the unicode symbol '(̈́'. Python claims the encoding to be '\xcd\x84', but I cannot find this code point in unicode.

Using this code point results in the following layout for the text:

`print d.getVar(̈́'VERSION',True)`

The fixed spaced font changes into a proportional font for that line

[2017-04-03 10:31] azdlowry commented on #23267
OK, it's currently reproducing and upping max_user_watches=524288 to hasn't fixed it.

[2017-04-03 10:31] hbarr opened #23853 "[themes] simpler way to create and edit themes"
Newbie alert:  I have been programming for 40+ years and used many different code editors, but I am relatively new to VSCode.

I do not like any of the standard colour themes so I thought I would edit an existing theme or define a new one of my own.  You can do this easily in many other code editors.

However, the documentation implies that all I can do is trawl through hundreds of themes for othe

[2017-04-03 10:35] MaZZly commented on #23018
Okay so today finally got this problem fixed.

I noticed when purging that `/usr/share/code` would still contain files.. So what I did was
`sudo rm -r /usr/share/code` and then reinstalled code and everything worked again (even without removing config files from home folder).

[2017-04-03 10:44] aeschli commented on #23841
There shouldn't be any 1.12 build published. How did you get this?
@remojansen Can you also paste your version?

[2017-04-03 10:56] dbaeumer commented on #22250
@alexriedl thanks a lot for the steps. Was able to reproduce.

[2017-04-03 10:57] #22250 closed

[2017-04-03 10:59] aeschli commented on #23818
Sorry, you have to give more precise steps to show what you are doing and what is slow.
Also screenshots or an animated gif can be helpful.

[2017-04-03 11:03] aeschli commented on #23841
The given location is at `WinJS` of `t("WinJS/Core/_Global"`.

@remojansen @byroniac if you can attach the file main.js from /usr/share/code-insiders/resources/app/out/vs/code/electron-main

[2017-04-03 11:16] remojansen commented on #23841
@aeschli My file is https://gist.github.com/remojansen/36691151b266064ecb1fb2f380090651

[2017-04-03 11:18] azdlowry commented on #23267
I was able sit on the debug tools for a while and watch the behaviour. When refreshing the explorer it does display the entire tree, but then removes it later.

If I get time I'll try to understand the render code, to see if I can explain the behaviour.

[2017-04-03 11:38] bpasero commented on #23845
Yeah this bugs me too from time to time.

[2017-04-03 11:38] #23845 closed

[2017-04-03 11:39] bpasero commented on #23851
This only happens for windows that do not have a folder opened and thus is #207

[2017-04-03 11:39] #23851 closed

[2017-04-03 12:05] #23643 closed

[2017-04-03 12:06] dariusrosendahl commented on #396
I saw that

is done according to https://github.com/Microsoft/vscode/issues/21923 any updates on this? :)

[2017-04-03 12:09] fegyi001 commented on #13165
+1

[2017-04-03 12:11] michalzaptk commented on #23841
Seeing the same thing with latest update to insiders, v1.11.0 on OSX 10.11.6

[code]

Gist with main.js is up at: https://gist.github.com/michalzaptk/051acd89817bf8f1a3067be3a72edf77

[2017-04-03 12:11] bpasero commented on #396
We did an initial investigation in the amount of work involved and the challenges we see and the next steps is to discuss the result of that with the team and plan for it. We do our planning for April release during this week so I would expect more fine grained plan items as a result of this work showing up soon.

[2017-04-03 12:32] michalzaptk commented on #23841
Issue looks like an un-escaped "-" in a regex. Until Microsoft releases an official patch, I made a fix and have a working copy here: https://gist.github.com/michalzaptk/232bc91395c4d3852dc9092d4eecef5d

[2017-04-03 12:36] sean-mcmanus commented on #23796
The 0.11.0-Insider's build gives different results (long is blue). Is that the behavior you expect?

[2017-04-03 12:36] jens1o opened #23854 "git diff bug"
- VSCode Version: 1.10.2
- OS Version: Windows 10 x64

Steps to Reproduce:

1. Having following:
![image](https://cloud.githubusercontent.com/assets/11234139/24609310/a34353ae-187a-11e7-89ec-faf2fa09fe69.png)
2. See that the unindention of ` $node instanceof Node\Expr\FuncCall` won't be marked.

code:
before:
[code]
after:
[code]

[2017-04-03 12:38] sean-mcmanus commented on #23780
What language or file type is the IntelliSense for? JavaScript?

[2017-04-03 12:39] bitliner commented on #23780
Yes, JS

[2017-04-03 12:40] Tekbr commented on #23770
-- Sorry for the English, I used Google Translator --

@alexandrudima My idea is that by default both are always the same (because it's more logical), if someone wants to change, he has the option.

What I was doing when I saw the problem.

1- I used <kbd>Ctrl</kbd> + <kbd>H</kbd>.
2- Then I tried to use <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>1</kbd> (Replace) on the numeric keypad and it did n

[2017-04-03 12:42] bitliner commented on #23665
@chrmarti with `--disable-extensions` nothing changes.

[2017-04-03 12:48] C0rn3j opened #23855 "VSC freezes X on verifying git SSH fingerprint"
- VSCode Version:1.12.0 - Commit 5e5e9e3bb56a3182e58ad097e107966633643253
- OS Version:Arch Linux

Steps to Reproduce:

1.  Open VSC
2. File > Open Folder > Open
3. Crash. Seems to happen with git projects only?

This started happening out of the blue, older or newest VSC git version don't make a difference. I was on the same - working version, and after OS update it started freezing X. I can only

[2017-04-03 12:48] jrieken commented on #15702
@KostyaTretyak What is your preference on this once. Not showing the completion when its insert text is already there or making Enter insert a new line? I'd favour the second because it still gives my some information, e.g type and doc etc without making me hit Enter twice

[2017-04-03 12:49] jrieken commented on #11944
related to https://github.com/Microsoft/vscode/issues/15702. There is two options: Hide items that will result in a no-op or make Enter insert a newline for those items

[2017-04-03 12:49] jrieken commented on #15702
closing this as dupe of #11944

[2017-04-03 12:49] #15702 closed

[2017-04-03 12:56] alexandrudima commented on #23261
@dbaeumer Raised some concerns that it is unusual that he cannot install the `rpm` package and that we require a `-dev` dependency. I am not understanding how this should all work, but I share his concern that it is odd that we require the `-dev` variant of a dependency. Failed message:

[code]

[2017-04-03 13:00] aeschli commented on #23841
@michalzaptk Can you point me to the problematic RegEx? Is it [that one](https://github.com/Microsoft/vscode/blame/master/src/vs/base/common/uri.ts#L277)?

[2017-04-03 13:00] jrieken commented on #11944
I have now implemented this, which is keeping perfect matches but not binding Enter for those.

![apr-03-2017 14-59-15](https://cloud.githubusercontent.com/assets/1794099/24610247/245cdc50-187e-11e7-94b2-0f51a637d208.gif)

[2017-04-03 13:02] Sispheor commented on #1320
same for me
[code]

[2017-04-03 13:06] concatime commented on #23597
Sorry. The <code>${config:java.home}</code> works perfectly. But how to use the <code>IConfigurationResolverService </code> to access <code>java.home</code>?

[2017-04-03 13:08] alexandrudima commented on #23852
I could also reproduce on Windows when using the Hack font, but not when using Consolas.

[2017-04-03 13:15] aeschli commented on #23855
@C0rn3j I opened your project on both OSX and Linux and had no problems.

Do you have any extensions installed?

[2017-04-03 13:20] alexandrudima commented on #23739
Added a Learn More button pointing to https://go.microsoft.com/fwlink/?linkid=846147

![image](https://cloud.githubusercontent.com/assets/5047891/24611009/00a1d02e-1881-11e7-92bc-7fb661c38c40.png)

[2017-04-03 13:21] #23739 closed

[2017-04-03 13:22] alexandrudima opened #23856 "Configure 846147 link"
Added a Learn More button pointing to https://go.microsoft.com/fwlink/?linkid=846147

![image](https://cloud.githubusercontent.com/assets/5047891/24611009/00a1d02e-1881-11e7-92bc-7fb661c38c40.png)

[2017-04-03 13:26] isidorn commented on #23597
What is your exact use case?

[2017-04-03 13:29] Tekbr opened #23857 "Problem formatting document or formatting selection in html (select and option tag)"
- VSCode Version: 1.11.0 - Insiders 5184d06
- OS Version: Windows 10

-- Sorry for the English, I used Google Translator --

See the Gif

![formart](https://cloud.githubusercontent.com/assets/19866231/24611357/36574c04-1858-11e7-8c50-61e1dcdaf88f.gif)

Code Example
[code]

[2017-04-03 13:32] alexandrudima commented on #23854
leading/trailing whitespace is ignored by default

[2017-04-03 13:33] alexandrudima commented on #20348
@warpdesign: @bpasero is driving it for the April milestone

[2017-04-03 13:34] C0rn3j commented on #23855
No, this happens on a clean install too.

As I said, it works just fine on my desktop that is Arch Linux too, so I'm wondering that it may be a bit hw specific?

[2017-04-03 13:38] alexandrudima commented on #23522
@Tyriar :+1: `mouseEvent.ctrlKey` is easier to implement and appears to always be correct. Presumably Chromium queries the modifier state on each mouse move.

[2017-04-03 13:41] aeschli commented on #23853
Right now the story is that you can create a new theme using the yeoman generator as described [here](https://code.visualstudio.com/docs/extensions/themes-snippets-colorizers).
After that you could edit it and tune it to your liking.
There are clearly some inconvenience along that way that could be improved.
a. As our syntax tokenizers are based on TextMate and generate a hierarchy of scopes, one

[2017-04-03 13:45] blusoul opened #23858 "debug javascript , Object.defineProperty have a problem"
- VSCode Version: 1.10.2
- OS Version: windows 10

Steps to Reproduce:
1. debug javascript
2.when I use Object.definProperty to add property to an object, the property was not added

[code]
![ue8 v2u 3o5vora1n4w5tgf](https://cloud.githubusercontent.com/assets/8167270/24612061/bc583080-18b6-11e7-8a60-ebdd981ea759.png)

[2017-04-03 13:48] alexandrudima commented on #23806
@darkred Thank you for the comparison, really good analysis!

Changing defaults is a very problematic thing to do for us. We have to keep in mind that we have a large user base, of which a considerable percentage, possibly, are using the defaults. Changing the defaults via an auto-update might surprise existing users as it might lead to a change in the appearance of their editor.

If we decide to

[2017-04-03 13:49] alexandrudima commented on #23819
This might be doable for LTR text, but possibly not for bidi or RTL text.

[2017-04-03 13:50] jrieken commented on #20184
Actually won't fix considering that we will soon support multi root workspaces

[2017-04-03 13:50] #20184 closed

[2017-04-03 13:55] Tyriar commented on #23853
@hbarr I'm working on something that should help out with this, stay tuned :smiley:

[2017-04-03 13:55] #23858 closed

[2017-04-03 13:56] michalzaptk commented on #23841
@aeschli Yep, thats the little bugger

[2017-04-03 13:57] Tyriar commented on #23621
See https://github.com/Microsoft/vscode/issues/23522#issuecomment-291145301

[2017-04-03 14:00] garvitjoshi opened #23859 "Function/ method level searching is missing. like in netbeans or geany"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2017-04-03 14:01] alexandrudima commented on #23261
From a search - perhaps we could use `libxkbfile` (without the `-devel`?) - http://rpm.pbone.net/index.php3/stat/4/idpl/35303460/dir/fedora_25/com/libxkbfile-1.0.9-3.fc24.x86_64.rpm.html

[2017-04-03 14:01] Tekbr commented on #23819
@alexandrudima Left to Right, it helps a lot. 😄  Will it be possible to put this in April?

[2017-04-03 14:03] alexandrudima commented on #23824
This can be easily implemented by an extension that would write to user settings.

[2017-04-03 14:04] Tyriar commented on #23261
Switching to that now, just need to verify "libxkbfile" works on rpm.

[2017-04-03 14:05] jens1o commented on #23854
Ah, that would be quite useful sometimes. I'll hope that this will be implemented soon. Is it hard to implement?

[2017-04-03 14:05] #1623 closed

[2017-04-03 14:06] alexandrudima commented on #23816
@andreszs

When I press `Ctrl+F` the find input box gets the focus. How do you mean exactly?

When I do a selection in the editor and press `Ctrl+F`, the input box gets seeded with the selected text. Is there something more to it?

Sorry, I'm not familiar with the Crimosn Editor. `Shift+F3` in the find widget will move the selection to the previous match in the editor, while maintaining focus (i.e

[2017-04-03 14:06] ramya-rao-a commented on #1623
The fix will be available in tomorrow's Insider build

[2017-04-03 14:07] ramya-rao-a commented on #20953
The fix will be available in tomorrow's Insider build

[2017-04-03 14:08] alexandrudima commented on #23781
indeed, leading/trailing whitespace is ignored by default.

[2017-04-03 14:08] aeschli commented on #23859
Please add a screenshot.

[2017-04-03 14:09] HoNooD commented on #1884
I like the original blue statusbar, however, the lastest relase uses purple instead. I hate purple.

[2017-04-03 14:10] aeschli commented on #23857
This is because `select` is in the list of tags that must not be formatted.
You can modify that list in the user settings with the "html.format.unformatted" setting.

[2017-04-03 14:10] #23857 closed

[2017-04-03 14:11] alexandrudima commented on #23261
Maybe @dbaeumer can help, he is having a handy-ready installed Fedora.

[2017-04-03 14:11] Tyriar commented on #1884
@HoNooD the status bar has always been purple when no folder is opened.

[2017-04-03 14:13] Tyriar commented on #23261
I think this is what we want:

- deb: `libxkbfile1`
- rpm 32: `libxkbfile.so.1`
- rpm 64: `libxkbfile.so.1()(64bit)`

I'm going to verifying the rpm ones before pushing, probably a good idea to do it after as well :smiley:

[2017-04-03 14:18] aeschli commented on #23841
It's strange as that regex has been there for the last 9 month and according to http://regexr.com/ isn't wrong.
Also, the same main.js that caused the problem works with me, so I don't think there's a real syntax error there.
Could it be that VSCode was still running while updating? My theory would be that this changed the underlying bits and a reload resulted in that strange bug.

[2017-04-03 14:18] Tekbr commented on #23857
Wow !! I did not know that function. Thank you so much. It worked now !! 😄

[2017-04-03 14:24] garvitjoshi commented on #23859
![2017-04-03 3 _li](https://cloud.githubusercontent.com/assets/15026629/24613889/4a212de6-18a7-11e7-8780-44dac18aecc9.jpg)

[2017-04-03 14:26] hbarr commented on #23853
@aeschli Thanks Martin.  Now I understand the role of TextMate in VSCode.  😃
I had seen the Yeoman generator reference, but thought it an unnecessary complication.

@Tyriar Thanks Daniel.  My tuning dial is set.  😃

[2017-04-03 14:31] aeschli commented on #23859
duplicate of #5605

[2017-04-03 14:31] #23859 closed

[2017-04-03 14:33] #23261 closed

[2017-04-03 14:33] Tyriar commented on #23261
Pushed to master and release/1.11

[2017-04-03 14:34] Tyriar commented on #23779
Duplicate https://github.com/Microsoft/vscode/issues/19665

[2017-04-03 14:34] #23779 closed

[2017-04-03 14:36] Tyriar commented on #19665
@miniksa when do you expect the issue to be fixed?

[2017-04-03 14:38] michalzaptk commented on #23841
Hmm, if that's the case then there's most likely an issue with the update functionality. I for one, updated by clicking on the update button that pops up near the top of the window. That seems to close the program, install the update, and then start itself back up again.

I'm guessing that's how most of the others applied the update as well, @byroniac @remojansen ?

I'm not familiar with this code

[2017-04-03 14:39] Tyriar commented on #23809
If I understand correctly it's sending quit to powershell rather than telnet? I think this is as designed, there's nothing I can do on my end other than suggest to use a `setTimeout` before connection or to craft your shell executable and args in such a way that telnet is launched immediately (so something like `cmd.exe /c telnet` is run).

[2017-04-03 14:39] #23809 closed

[2017-04-03 14:42] Tyriar commented on #23232
Oh, this is CentOS 6. We don't support < RHEL7 and its derivatives as per the el7 in the filename and this page https://code.visualstudio.com/docs/supporting/requirements#_platforms

[2017-04-03 14:42] #23232 closed

[2017-04-03 14:43] jrieken commented on #23822
cc @sandy081 who mentioned something similar today

[2017-04-03 14:43] Shulin commented on #3112
I'm very excited about this. Are we going to be able to change the text color/format of tabs via extensions?

[2017-04-03 14:49] tlycken opened #23860 "Hours after closing all VS Code windows, the process still eats ~18% CPU"
- VSCode Version: 1.10.2
- OS Version: Windows 10

Steps to Reproduce:

1. Close all VS Code windows.
2. Open Task manager
3. See this:

![image](https://cloud.githubusercontent.com/assets/1550920/24614978/38d01e9a-188d-11e7-9686-f4437f356995.png)

Obviously, I'm not sure if this is deterministic, related to some extension I have installed or to something in any of the folders I had open, so I gue

[2017-04-03 14:50] isidorn commented on #11944
@jrieken OMG awesome. I owe you at least one beer for this!

[2017-04-03 14:51] #11944 closed

[2017-04-03 14:55] jens1o commented on #23860
Already knew that bug(and can reproduce it). As far as I know, anytime I'm using a language server, the process lives after the application it is working for died.

[2017-04-03 14:56] JovanAleksic opened #23861 "Error"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:00:46.854Z)
- OS Version: Linux x64 4.4.0-71-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-generate-getter-setter|DSKWRK|0.4.2|
|html-snippets|abusaidm|0.1.0|
|githistory|donjayamanne|0.2.0|
|python|donjayamanne|0.6.0|
|php-debug|felixfbecker|1.10.0|
|Angular2|johnpapa|2.2.3|
|csharp|ms

[2017-04-03 15:00] #23767 closed

[2017-04-03 15:14] Ciantic opened #23862 "[less and scss] inner media query can't understand lines which begins with `>`"
VSCode version 1.10.2

This is valid LESS and SCSS:
[code]

However VSCode recognizes this as error:

![image](https://cloud.githubusercontent.com/assets/64731/24616265/4938b100-1899-11e7-921c-74a5e735da49.png)

[2017-04-03 15:17] tlycken commented on #23860
The strange thing, IMO, is that not only does the process live on, but it keeps finding stuff to do. At almost 20% of my capacity.

[2017-04-03 16:01] #22933 closed

[2017-04-03 16:03] gavrilyuc commented on #396
I want this function, I need it. I lazily switch between the windows.
p.s. sory for my English.

[2017-04-03 16:09] litarussell opened #23863 "about files.encoding：can you make this setting brush-fire。or build a file to recode each file‘s encoding!"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.6.0|
|php-debug|felixfbecker|1.10.0|
|code-runner|formulahendry|0.6.15|
|vscode-JS-CSS-HTML-formatter|lonefy|0.2.3|
|Go|lukehoban|0.6.57|
|cpptools|ms-vscode|0.10.5|;

---

Steps to

[2017-04-03 16:09] remojansen commented on #23841
I actually went to the website to download the binary. I don't update clicking on the update icon because it fails (due to lack of root access). Instead of trying to find how to give it root access I just download it from the website because I don't upgrade everyday....

[2017-04-03 16:35] pwicks86 commented on #23778
Strange, tried it with the same file that I was having the problem with earlier and I'm not seeing the bad behavior anymore either.

[2017-04-03 16:40] mjbvz commented on #23830
Thanks. This is an issue with the TypeScript server that we use to power our TS and JS language features. We're tracking it upstream with: https://github.com/Microsoft/TypeScript/issues/11099

[2017-04-03 16:40] #23830 closed

[2017-04-03 16:42] mjbvz commented on #23805
Duplicate of #15710, which I've add a note to about unreachable code as well

[2017-04-03 16:42] #23805 closed

[2017-04-03 16:42] mjbvz commented on #15710
#23805 Notes that we could also investigating graying out unreachable code

[2017-04-03 16:47] byroniac commented on #23841
I completely uninstalled vscode-insiders, then removed the ppa from my system, then reinstalled the insiders binary from the main website, and i get the same error. As far as I can tell, it's not the update process, but the binary itself (at least on Ubuntu). The stable VSCode works fine.

[2017-04-03 16:49] bpasero commented on #23863
@litarussell you want to mass apply the encoding to a set of files at once?

[2017-04-03 16:53] mjbvz commented on #23786
Thanks. This is a duplicate of #21832. `@return` completion specifically is tracked upstream by https://github.com/Microsoft/TypeScript/issues/14248

[2017-04-03 16:53] #23786 closed

[2017-04-03 16:54] byroniac commented on #23841
I've attached the zipped main.js file that I have.
I think I followed these original instructions for the PPA:
https://code.visualstudio.com/docs/setup/linux

[2017-04-03 16:55] mjbvz commented on #23751
Thanks. Since you have a zoom level here, this looks like a duplicate of #5745

[2017-04-03 16:55] #23751 closed

[2017-04-03 16:58] Tyriar commented on #18588
Will likely be fixed when https://github.com/Microsoft/vscode/issues/9958 is implemented

[2017-04-03 17:00] #23679 closed

[2017-04-03 17:00] #10195 closed

[2017-04-03 17:02] chrmarti commented on #23665
@Deilan @bitliner Could you enable the TS Server's logging in the settings with `"typescript.tsserver.log": "verbose"` and then restart VSCode? Once the problem shows, open the log file with the command `TypeScript: Open TS server log file` and attach it here. (Note that you will need the insiders build for this to work.)

[2017-04-03 17:06] TomasB commented on #23776
Thnx

[2017-04-03 17:12] mjbvz commented on #23749
See #22916. We target common mark for our markdown which does not include checkbox  support. The current thought is allow extensions to the markdown extension to add features like this, see https://github.com/mjbvz/vscode-markdown-checkboxs for example This is still an experimetnal API but you can test it in the latest insiders builds

[2017-04-03 17:12] #23749 closed

[2017-04-03 17:13] Jacky-Lei commented on #15681
Was this issue ever solved?

[2017-04-03 17:13] Tyriar opened #23864 "Scrolling horizontally doesn't work in in Electron@1.6.5 build"
- VSCode Version: Code - Insiders 1.12.0-insider (fc7f97dcafd2d9df7cfd45ac895c376727057491, 2017-04-02T01:13:41.591Z)
- OS Version: Linux x64 4.8.0-45-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|EditorConfig|EditorConfig|0.6.2|
|lorem-ipsum|Tyriar|1.0.0|
|sort-lines|Tyriar|1.2.0|
|theme-sapphire|Tyriar|0.0.5|
|vscode-svgviewer|cssho|1.4.0|
|tslint|eg2|0.11.0|
|git-project-mana

[2017-04-03 17:14] byroniac commented on #23841
For reference, I went back and installed version 1.11.0-1491197413 of Insiders from the web site, same error. It installs the PPA on my system after I completely removed /etc/apt/sources.list.d/vscode.list:

deb [arch=amd64] http://packages.microsoft.com/repos/vscode stable main

Then when I do an apt-get update, I get the 1.12.0-1491200824 version of the initial request above.

[2017-04-03 17:17] doron2402 opened #23865 "There's no way to refresh new files/directory"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T13:56:35.908Z)
- OS Version: Darwin x64 16.5.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|beautify|HookyQR|1.0.1|
|vscode-docker|PeterJausovec|0.0.13|
|sort-lines|Tyriar|1.2.0|
|code-gnu-global|austin|0.2.1|
|vscode-standard-format|chenxsan|0.0.12|
|vscode-standardjs|chenxsan|1.1.0|
|scala|daltonjorge

[2017-04-03 17:18] doron2402 commented on #23861
@JovanAleksic can you add some details?

[2017-04-03 17:20] doron2402 commented on #23860
I found this issue also on a Mac when using the Node.js debugger, I just use `kill -9` to shut it

[2017-04-03 17:21] #9743 closed

[2017-04-03 17:22] ramya-rao-a commented on #19246
@jrieken

![image](https://cloud.githubusercontent.com/assets/16890566/24621664/214118d2-1857-11e7-8f66-abcb9497283e.png)

So the `$0` being the final cursor position is a standard behavior for snippets in general or is this VS Code specific rule?

The reason I ask is, in order to fix this bug if I make an update to https://github.com/emmetio/emmet/blob/master/lib/snippets.json then I wonder if I

[2017-04-03 17:22] Tyriar opened #23866 "Right clicking on a portion of the terminal that is not selected sometimes drops selection"
- VSCode Version: Code - Insiders 1.12.0-insider (fc7f97dcafd2d9df7cfd45ac895c376727057491, 2017-04-02T01:13:41.591Z)
- OS Version: Linux x64 4.8.0-45-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|EditorConfig|EditorConfig|0.6.2|
|lorem-ipsum|Tyriar|1.0.0|
|sort-lines|Tyriar|1.2.0|
|theme-sapphire|Tyriar|0.0.5|
|vscode-svgviewer|cssho|1.4.0|
|tslint|eg2|0.11.0|
|git-project-mana

[2017-04-03 17:22] #20953 closed

[2017-04-03 17:24] mjbvz commented on #23668
@Zertu Please:

* Disable all extensions to make sure this is an issue with VSCode. To do this, launch code using `--disable-extensions`
* What theme are you using?
* Provide a complete text code sample
* Describe the expected highlighting

Thanks

[2017-04-03 17:24] mjbvz commented on #23655
Thanks. This sounds like a duplicate of #12033

[2017-04-03 17:24] #23655 closed

[2017-04-03 17:29] mjbvz commented on #23559
Yes, thanks @devrelm. This is a duplicate of Microsoft/TypeScript#13270 and really should be fixed upstream on the TypeScript side

[2017-04-03 17:29] #23559 closed

[2017-04-03 17:29] brandonk3nt commented on #21898
There are two fundamental issues with this feature request:

1. When you make a selection and there are multiple instances, it's extremely hard to distinguish which one is actually selected. The theme in the attached image above is a VSCode's standard Monokai theme. This is not a "theme" issue, users should be able to use any theme that is available in the marketplace.

2. When you make a selectio

[2017-04-03 17:30] ramya-rao-a commented on #719
@jrieken Is https://github.com/Microsoft/vscode/issues/580#issuecomment-273740251 a blocker for https://github.com/Microsoft/vscode/issues/719#issuecomment-160064673 ?

[2017-04-03 17:37] jose-a-sa opened #23867 "Replace old vscode icon to match new Visual Studio 2017"
Something like

![output](https://cloud.githubusercontent.com/assets/13206784/24622318/7875e5ca-189c-11e7-8768-a2d7afabe024.png)

with the vscode blue color

[2017-04-03 17:37] mjbvz commented on #23642
Fixed by #23704

[2017-04-03 17:37] #23642 closed

[2017-04-03 17:38] mjbvz commented on #23478
This issue was moved to Microsoft/TypeScript-TmLanguage#439

[2017-04-03 17:38] #23478 closed

[2017-04-03 17:39] ramya-rao-a commented on #15903
@shafi49

There is an "Emmet..." menu item in the "Edit" menu

![image](https://cloud.githubusercontent.com/assets/16890566/24622372/a9d2b258-1859-11e7-8ae1-a31ca4e617a5.png)

Click on this, and the command pallet opens with all the emmet commands

![image](https://cloud.githubusercontent.com/assets/16890566/24622407/c62f767a-1859-11e7-9394-47b6f70b3f6c.png)

Hope this helps.

[2017-04-03 17:39] #15903 closed

[2017-04-03 17:41] Tyriar commented on #23694
Fixed in https://github.com/Microsoft/vscode/pull/23783

[2017-04-03 17:41] #23694 closed

[2017-04-03 17:43] mjbvz commented on #23240
@vire I'm unable to reproduce this. Do you have any extensions installed that could be causing this. Could you try running code with `--disable-extensions` to check?

[2017-04-03 17:43] ramya-rao-a commented on #15141
@natsu-k @mrmlnc  I cannot repro this in the latest VS Code 1.10.2

Can either of you try again?

Closing for now, will re-open if you can still repro

[2017-04-03 17:43] #15141 closed

[2017-04-03 17:44] qizhuli opened #23868 "Improve the syntax highlighting for ShellScripts (sh bash scripts)"
Currently, the syntax highlighting for .sh files that comes with VSCode are inconsistent in the sense that the same thing can be highlighted in different colours, and does not always highlight different types of codes in different colour.
- VSCode Version: 1.9.1
- OS Version: Ubuntu 14.04

Steps to Reproduce:

1. Make a .sh file containing the following codes:
[code]

Sreenshots of the above codes

[2017-04-03 17:44] aleksey-bykov commented on #23822
so the story goes, i reverted from the latest build to a previous one, then you asked for performance monitor, i said, sure, let me update my vscode to the lastest build again, and this is what i got:

![image](https://cloud.githubusercontent.com/assets/937933/24622617/a6312340-1873-11e7-8e6f-0fc5727cbdde.png)

[2017-04-03 17:49] equinusocio commented on #3112
@bpasero Where we can define settings inside the extension? there is a place to put the colors settings?

[2017-04-03 17:57] #23304 closed

[2017-04-03 17:58] herecydev commented on #12033
Additional steps to reproduce:

1. Open markdown file
2. Ctrl+K V
3. Move file to subfolder
4. Begin modifying the markdown file
5. Observe that changes are not reflected

[2017-04-03 18:01] mjbvz commented on #23238
Try adding an empty `base` tag to your document like so:

[code]

The html preview automatically inserts a `base` element if none exists, pointing to the preview document. This fixes potential problems for other use cases, but breaks your scenario with how you are using `defs`

[2017-04-03 18:01] #23238 closed

[2017-04-03 18:07] ramya-rao-a commented on #13414
@Nikki1993 I am trying to get a repro. Here is what I did:

- ran `ng new` to create an angular application
- In `app.component.ts` file I have the below
![image](https://cloud.githubusercontent.com/assets/16890566/24623561/a201efb8-185d-11e7-8aa8-d9061d80b90a.png)

- I dont see emmet completion anywhere inside the string in line 6.

Am I missing something?

[2017-04-03 18:10] bobbrow commented on #23191
I seem to have fixed the problem in my binary but I never figured out a solution to get VS Code to stop eating my crashes.  If I discover anything in the future, I will update this thread.  Unfortunately, I have to move on to other issues now.

[2017-04-03 18:10] #23191 closed

[2017-04-03 18:12] cleidigh commented on #23835
@mysterytony
@isidorn
@roblourens

I have been working on launch configurations for debugging startup code and the main process for VCS
(a pre built electron app) - not exactly the same as your setup I assume. there are some similarities I think
- if you have code viewing and breakpoint issues first thing to look at is your map files
- if you add "trace": "all"  to the launch config you will get p

[2017-04-03 18:12] mjbvz commented on #23170
Thanks for the more detailed explanation. Your example should work using import statements such as:

[code]

or

[code]

The problem with `require` not picking up types is tracked by https://github.com/Microsoft/TypeScript/issues/14056 We're working with the TypeScript team to get this fixed

[2017-04-03 18:12] #23170 closed

[2017-04-03 18:14] accidentaldeveloper opened #23869 "File Word Wrap disabled as soon as you leave the tab"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-eslint|dbaeumer|1.2.8|
|EditorConfig|EditorConfig|0.6.2|
|csharp|ms-vscode|1.8.1|
|PowerShell|ms-vscode|0.11.0|
|quokka-vscode|WallabyJs|1.0.20|;

---

Steps to Reproduce:

1. Open a text document

[2017-04-03 18:16] Nikki1993 commented on #13414
@ramya-rao-a with all the stuff done, now add a click event to the button aka
`<button (click)="randomFunction()"></button>`
and then on the next line type `button` and try to use tab to trigger emmet completion. Should fail

[2017-04-03 18:18] Nikki1993 commented on #13414
Hm, I just tried to do it in VSCode 1.10 and it seems like Emmet completions are not triggered at all inside template. No matter what/where I type. Could have been caused by another extension, can't remember anymore it's been months.

[2017-04-03 18:19] mjbvz commented on #23677
This is a duplicate of https://github.com/Microsoft/TypeScript/issues/12504

From the discussion on the bug, it sounds like the feature is currently working as intended but I know the behavior has been tweaked in the past

[2017-04-03 18:19] #23677 closed

[2017-04-03 18:20] #23358 closed

[2017-04-03 18:22] rupamroy commented on #15681
was this issue fixed ?

[2017-04-03 18:23] mjbvz commented on #23533
The quote issue is tracked upstream by https://github.com/Microsoft/TypeScript/issues/13270

As for the import path, this is by-design. We normally use relative paths but will use a `src/...` style path if you configure a `baseUrl` (see #21327 for example). If you are seeing this happen when you have not set `baseUrl`, please share  your `tsconfig.json` or `jsconfig.json` file and I can take a loo

[2017-04-03 18:23] #23533 closed

[2017-04-03 18:26] mjbvz commented on #23482
Thanks. This looks like it falls under: https://github.com/Microsoft/TypeScript/issues/14586 which is being tracked upstream on the TypeScript side. I'll add your example to that bug

[2017-04-03 18:27] #23482 closed

[2017-04-03 18:30] vire commented on #23240
@mjbvz It's related to an extension, so you can close this one here.

[2017-04-03 18:31] Tyriar commented on #23051
I can repro this by forcing `waitOnExit` in `TerminalInstance` and setting up the shell exe/args like this:

[code]

Then creating 2 instances and waiting for the background one to finish.

![image](https://cloud.githubusercontent.com/assets/2193314/24624504/f1b8220e-1860-11e7-8ff9-ada2c4c0a231.png)

[2017-04-03 18:35] cleidigh commented on #23831
@QwertyZW

The product.json for VSC OSS does not include the extension gallery URLs - see my example file below
I went through the same thing not sure why but are not supported as standard...

{
    "nameShort": "Code - OSS",
    "nameLong": "Code - OSS",
    "applicationName": "code-oss",
    "dataFolderName": ".vscode-oss",
    "win32MutexName": "vscodeoss",
    "licenseName": "MIT",
    "licens

[2017-04-03 18:35] Jonathan34 commented on #22250
Sorry, if i click the play button on the top left to start debugging, it says `There is a task {0} running. Can not run pre launch task build.` so this is not yet fixed i guess.

I can send the launch.json and tasks.json if you need, just give me one email address

[2017-04-03 18:36] mjbvz commented on #23829
Thanks. I can reproduce this using other minified files, such as https://code.jquery.com/jquery-3.2.1.min.js

[2017-04-03 18:38] ramya-rao-a commented on #13414
That's exactly what I see. And I dont have any extensions, so its not due to extensions.

Honestly, I didnt even know emmet worked at all inside the template

[2017-04-03 18:38] alexandrudima commented on #23833
@landonepps

Quite a lot have changed in the upcoming 1.11 regarding keyboard layouts and keybinding handling. I would suggest to first try to use the Insiders Build and see how it behaves there.

I have written a wiki page documenting how keybindings work in VS Code at https://github.com/Microsoft/vscode/wiki/Keybindings

Please give that a quick read and try to see if the wiki page provides suff

[2017-04-03 18:39] ramya-rao-a commented on #13414
Is it possible that the completion you were seeing before was a feature of an extension?

[2017-04-03 18:39] Tyriar commented on #23051
Similar repro works on Linux.

Looks like it's related to this https://github.com/Tyriar/node-pty/blob/884aa0b3e8ae548c69865d8631e5885bcdcd5fdd/src/unixTerminal.ts#L66

[2017-04-03 18:48] #23240 closed

[2017-04-03 18:49] alexandrudima commented on #23822
@aleksey-bykov It looks like the installation became corrupt - I think @joaomoreno would appreciate if you could help with some reproducible steps. Were you getting this message after an update? Is VS Code recovering from this error or does it need a reinstall? What was on disk at the install location? (Can you make a zip of the `resources\app\out` folder)

[2017-04-03 18:49] mjbvz commented on #23240
Ok. Thanks for the quick follow up here @vire!

[2017-04-03 18:52] alexandrudima commented on #23778
Thank you for following up. I suggest we keep an eye open, there were significant changes to the suggest widget matching/filtering code this milestone and something might be off. Let's close this for now and we can reopen when we can repro.

[2017-04-03 18:52] #23778 closed

[2017-04-03 18:59] #23051 closed

[2017-04-03 19:13] aleksey-bykov commented on #23822
steps

1. be at some version of VSCode Insiders
2. get updated to the latest version by clicking `Update Now` on

![image](https://cloud.githubusercontent.com/assets/937933/24626484/73751a4a-187f-11e7-8637-64bc4b653c0a.png)

3. observe that help/about now shows

![image](https://cloud.githubusercontent.com/assets/937933/24589030/a6066c36-17a1-11e7-8b76-1320d63c308a.png)

4. open a typescript file

[2017-04-03 19:14] rupamroy commented on #15681
I found a work around for this problem . In your .bashrc/.profile file create a function instead of an alias
[code]

Then restart shell and then on you can open visual studio code using
[code]

And it will open the current folder in VSCode

[2017-04-03 19:29] alexandrudima commented on #23822
30% of the time is spent in `menuItemActionItem`. I can only imagine it is the toggle word wrap editor title action.

![image](https://cloud.githubusercontent.com/assets/5047891/24627297/9fdf12b8-18b4-11e7-863e-d56442bb141d.png)

[2017-04-03 19:33] qizhuli commented on #23865
There is actually a refresh button in my VSCode (version 1.9.1) in the EXPLORER panel. The button is next to the name of the folder and only shows when the mouse pointer is hovering inside the EXPLORER panel. Clicking the refresh button shows newly created files for me.

![screenshot from 2017-04-03 20 31 54](https://cloud.githubusercontent.com/assets/15232694/24627357/85456734-18ac-11e7-95f8-08b8

[2017-04-03 19:46] brennanMKE commented on #4803
@bpasero I use 2 fingers to move back and forth in Xcode and Safari. I would not want to change the gesture just for VSCode. If the gesture can be picked up from the Mac environment that would likely be the best way to handle it. I don't know how much work is required to put native gesture recognition into an app built on Electron.

[2017-04-03 19:48] mjbvz commented on #23813
This issue was moved to Microsoft/TypeScript#14992

[2017-04-03 19:48] #23813 closed

[2017-04-03 19:54] jeffyoung opened #23870 "[Insiders] SCM: "..." menu has too much left padding"
- VSCode Version: 1.11.0-insider (2017-04-03)
- OS Version: Win10

Compare SCM "..." menu...

![image](https://cloud.githubusercontent.com/assets/2796865/24628724/870c51b2-1885-11e7-9d93-513b1ef3c444.png)

...with another VS Code menu:
![image](https://cloud.githubusercontent.com/assets/2796865/24628730/8a8c2100-1885-11e7-8ae9-e9d67b16d59d.png)

[2017-04-03 20:00] ramya-rao-a commented on #13414
Also, one way you could get emmet features is to add the below in the settings
[code]

**Note**: this will enable emmet expnasion in the whole file. So `anythingyoutype` followed by TAB would give you `<anythingyoutype></anythingyoutype>`
To get around this, you can
- set `"emmet.triggerExpansionOnTab": false` and
- set some other keybinding for the emmet expansion command OR invoke emmet expansio

[2017-04-03 20:02] dizney commented on #11963
I had the same issue, two Codehelper processes at 100%:

`/Applications/Visual Studio Code.app/Contents/Frameworks/Code Helper.app/Contents/MacOS/Code Helper /Applications/Visual Studio Code.app/Contents/Resources/app/out/bootstrap --type=extensionHost`

I remembered i had installed the `ryu1kn.annotator` extension installed last, and when i removed that it seems to have stopped the high cpu proce

[2017-04-03 20:20] ramya-rao-a commented on #13039
@aeschli What would it take to mark template literals as `html` just like we mark html inside jsx files as `jsx-tags?

This would help #13414 as well

[2017-04-03 20:37] mjbvz commented on #22828
Closing as we need more info to investigate this. @MilesLin please provide the requested information and I can take another look at this issue

[2017-04-03 20:37] #22828 closed

[2017-04-03 20:40] chrmarti commented on #23739
- VSCode Version: Code - Insiders 1.11.0-insider (27d7890b2cfa1befc294b2f2ab3639fbf332ff21, 2017-04-03T20:00:44.871Z)

Verified the change is in. The link redirects to http://code.visualstudio.com/. Is updating that tracked separately?

[2017-04-03 20:41] roblourens commented on #23785
Right, this is a weakness with how we implement whole word search, and I'm not sure how to fix it.

It is actually implemented partly with the regex engine itself, using the `\b` "word boundary" class. But, we only add `\b` if the search query doesn't end in a word boundary already: https://github.com/Microsoft/vscode/blob/master/src/vs/base/common/strings.ts#L211. This just makes it work a little

[2017-04-03 20:41] mjbvz commented on #23321
This issue was moved to Microsoft/TypeScript#14994

[2017-04-03 20:41] #23321 closed

[2017-04-03 20:42] isidorn commented on #23831
Thanks for answering @cleidigh
Yes you can enable the gallery like that and then you can install any extension you like.
You can also simply copy the whole extension into your user/code-oss-dev/.../extensions folder

[2017-04-03 20:42] #23831 closed

[2017-04-03 20:46] Tyriar opened #23872 "Bug with CSS color squares when moving line up"
- VSCode Version: Code - Insiders 1.12.0-insider (fc7f97dcafd2d9df7cfd45ac895c376727057491, 2017-04-02T01:13:41.591Z)
- OS Version: Linux x64 4.8.0-45-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|EditorConfig|EditorConfig|0.6.2|
|lorem-ipsum|Tyriar|1.0.0|
|sort-lines|Tyriar|1.2.0|
|theme-sapphire|Tyriar|0.0.5|
|vscode-svgviewer|cssho|1.4.0|
|tslint|eg2|0.11.0|
|git-project-mana

[2017-04-03 20:49] mjbvz commented on #23245
You cannot use glob patterns in [`files`](https://www.typescriptlang.org/docs/handbook/tsconfig-json.html). Try changing this to use `include` instead:

[code]

[2017-04-03 20:49] #23245 closed

[2017-04-03 20:52] roblourens commented on #23785
I think we could fix it by changing our current logic to use a pattern that either matches a lookbehind for `\b`, or matches `\b`. Something like `((?<=\b)|\b)`. That doesn't work, `(?<=\b)` doesn't match when I think it should, but maybe something like that could work.

But another problem is that I'd want the same logic for text search, which now doesn't support lookaround as of 1.11 after we sw

[2017-04-03 20:58] Spown commented on #23785
I would suggest disabling whole word search gui switcher when RegExp is enabled to not give people false hopes.

[2017-04-03 21:00] chrmarti commented on #23756
Verified that Gulp tasks are detected and available as tasks in the command palette, and that these can be used as `preLaunchTasks`. Same for tasks in the `tasks.json` as a sanity check.

[2017-04-03 21:03] mjbvz commented on #23223
Can you please share a code example. I couldn't repo this with a simple case:

[code]

Also, to help us investigate, please:

1. Set `"typescript.tsserver.trace": "verbose",` in your user settings
2. Restart VSCode and load the offending file
3. Open the output pane and share the output from `TypeScript`

Thanks

[2017-04-03 21:06] mjbvz commented on #23171
@rebornix Can you please take a look at this or loop in the correct person? It's not specific to TypeScript/JavaScript as far as I can tell in my testing

[2017-04-03 21:09] chrmarti commented on #23679
Waiting for cf73b77 to come in with the next insiders build before labeling as verified.

[2017-04-03 21:10] abhijitvalluri commented on #21404
Request 3 is a feature that exists in Atom, at least via third-party packages. In my opinion, that is very much needed and without that the utility of the minimap is questionable at best. Hopefully they will implement this feature soon.

In the meantime, I'll still be sticking with VScode instead of atom as I totally love the git integration in VScode, including the diff feature and due to the sea

[2017-04-03 21:21] mjbvz commented on #23344
Thanks. I agree this is not ideal but it was by-design. The server log setting is a user-specific setting instead of one that is meant to be shared among team or project members. That's why I was hesitant to write it to the `.vscode/settings.json`.

Let me know if you have any suggestions on how this could be handled better

[2017-04-03 21:28] mjbvz commented on #23272
Please try upgrading to at least VSCode 1.10 or 1.11 once it comes out. The issue may have been fixed since 1.9

[2017-04-03 21:28] #23272 closed

[2017-04-03 21:32] mjbvz commented on #23234
@roblourens can you please take a look at this issue?

@sandangel Can you explain the usecase for this request as well? Are you just trying to avoid generating the `*.js` files?

[2017-04-03 21:34] mjbvz commented on #23133
Thanks @4mitch! As far as I can tell using auto translation, it looks like that extension addresses @dongzm's issue

[2017-04-03 21:34] #23133 closed

[2017-04-03 21:37] roblourens commented on #23234
I assume that ts-node would just transpile TS in memory and run node under the hood with whatever args you pass to it. In that case, what you tried looks correct to me. They might not produce sourcemaps though, I have no idea. What problem are you having? Please be more specific.

[2017-04-03 21:39] venil7 commented on #23223
this is the offending file https://github.com/venil7/chess/blob/master/src/game.ts#L32

[2017-04-03 21:41] loganhuskins commented on #23312
It is the default one. The only changes I've made to the environment are the plugins and settings listed.

[2017-04-03 21:43] mjbvz commented on #23511
Since VSCode 1.8, the `tsdk_version` setting isn't officially exposed/supported anymore. We now always try to pick up the version from the `package.json` located in the `typescript.tsdk` path.  The only case this does not work is when you are using a version of tsserver that does not come from some `node_modules` like location

I'm hesitant to rely on a tsserver command for the version info becaus

[2017-04-03 21:45] mhegazy commented on #23511
Mainly us working on TS.

[2017-04-03 21:46] mjbvz commented on #23223
@venil7 I still can't repo this using that file. Can you please try collecting the trace as described

[2017-04-03 21:48] DanielRosenwasser commented on #23511
Yes, typically when I'm prototyping features like quick fixes that actually go into VS Code. 😉

[2017-04-03 21:49] mjbvz commented on #23511
@DanielRosenwasser + @mhegazy Can you symlink together an environment together that looks like an npm installed version of TypeScript?

[2017-04-03 21:51] mjbvz commented on #22987
Closing as the issue needs more context

[2017-04-03 21:52] mhegazy commented on #23511
I suppose we can make our build create a synlmlink to the package.json. Should not be that big of a change.

[2017-04-03 21:57] frtru commented on #23865
Same version (Code 1.10.2, validation 8076a19) on Windows 7 and no problem noticed : As qizhuli mentionned there's a refresh button for forcing the refresh and even without clicking it new files/folders are automatically added.

[2017-04-03 21:57] #23669 closed

[2017-04-03 22:12] mjbvz commented on #23511
yes, I think that would work better. Here's the logic we use for picking up the version for what it's worth: https://github.com/Microsoft/vscode/blob/master/extensions/typescript/src/typescriptServiceClient.ts#L748

All we need is a package.json that contains:

[code]

[2017-04-03 22:12] #23511 closed

[2017-04-03 22:12] yesmar opened #23873 "Provide a mechanism to automatically syntax color files that lack an extension"
- VSCode Version: Latest (1.10.2)
- OS Version: macOS (but any, really)

Steps to Reproduce:

1. Open up any file lacking an extension
2. Observe how it is not syntax colored without human intervention

**Problem:** Files without an explicit extension are not syntax colored by default. It is not enough to be able to specify (e.g., in user settings) that all files without an extension are assumed t

[2017-04-03 22:13] jgoz commented on #23234
`ts-node` does produce sourcemaps, but I think the problem is that the JS output and sourcemaps are being written (by default) to a temporary directory with hashed file names. You can override the cache directory, but cannot disable the filename hashing. I'm assuming VSCode depends on the JS/map filenames matching the original TS sources, but I may be wrong on that.

But rather than making VSCode

[2017-04-03 22:16] mjbvz commented on #23584
Thanks. This looks like a duplicate of #17022

[2017-04-03 22:16] #23584 closed

[2017-04-03 22:18] mjbvz commented on #23584
Try following up with the C# extension to see if this is something they can look into as well

[2017-04-03 22:22] jgoz commented on #23234
I'm not @sandangel, but that is the use case I'm interested in. We run `webpack-dev-server` with a typescript loader, so no JS files are being written to disk. Being able to debug unit tests directly with `ts-node` would avoid having to run a `tsc` watcher just for that.

Definitely not a show-stopper.

[2017-04-03 22:26] roblourens commented on #23234
That source-map-support package is interesting, thanks for the link. VS Code doesn't care whether the output file names are hashed, we just need the sourcemap info to be correct, and I don't see any reason why ts-node can't do that now - and maybe it is. If someone can try again with `"protocol": "inspector"` in your launch config, that works with different sourcemap setups more often. If it still

[2017-04-03 22:31] stewartadam commented on #14727
Note - I'm still seeing this issue ("Disable all installed extensions" is ordered first) in the latest 1.10.2.

[2017-04-03 22:33] mjbvz commented on #22916
@h1romas4 It's still an experiment which is why the setting is not publicly documented yet. I've also republished the mermaid vsix. Please give it a try and let me know if you run into any issues: https://github.com/mjbvz/vscode-markdown-mermaid

[2017-04-03 22:36] mjbvz commented on #23873
The `firstLine`  language configuration may be what you are after: https://github.com/Microsoft/vscode/blob/2f76c44632b0d47ba97f66fbc158c763628e30b3/extensions/python/package.json#L13 Some of of our builtin languages use the shebang on the first line

[2017-04-03 22:39] yesmar commented on #23873
That seems promising on first glance but doesn't really work for me because C++ code doesn't use a shebang. A more robust solution would allow me to specify syntax coloring on a per-file basis using, for example, and editor modeline. In any case, the corresponding `cpp/package.json` has no concept of `firstLine`.

[2017-04-03 23:08] mjbvz commented on #23186
I'm unable to reproduce this. Can you share your workspace?

[2017-04-03 23:20] MJGwater commented on #1670
@Neophius Why does it work this way? Based on what I know of escape characters I would've expected to see 1 backslash before and after the { and }. Is this a JSON thing?

[2017-04-03 23:20] mjbvz opened #23874 "Invalid Regular Expression when Searching for super long input"
I accidentally pasted the entire contents of a file into the file search box, producing this error:

![screen shot 2017-04-03 at 4 16 08 pm](https://cloud.githubusercontent.com/assets/12821956/24635581/ff3ca7b0-1888-11e7-8214-cd966d10988d.png)

And this trace

[code]

I believe the error is that the regular expression is too large to be handled.

---

Here's some example text that produces the iss

[2017-04-03 23:26] mjbvz commented on #23345
Yes, @kieferrm detailed my thoughts here. We want to ensure that the ts extension is in a good state here and this is not a setting we expect users to be fiddling with all the time. I prototyped  a better approach and will revisit it this month

[2017-04-03 23:27] mjbvz commented on #23874
Obviously not a terribly common use case but also not a great error message. The same issue also effects the editor search box, but in that case we just silently fail

[2017-04-03 23:31] mjbvz commented on #23780
@bitliner Please try collecting the TSServer log. This is significantly easier in VSCode 1.11 (the current insiders builds), so I recommend updating. To collect the logs:

1. In VSCode 1.11, add a setting`"typescript.tsserver.log": "verbose"`
2. Reload VSCode and reproduce the issue
3. Run the `Open TS Server Log file command`
4. Share the output from there.

This should help us narrow down what m

[2017-04-03 23:36] mjbvz commented on #22805
I'm unable to reproduce this.

One thought though: `Go to implementation` is only enabled on TS 2.2+. Can you please make sure you are using that in the workspace?

[2017-04-03 23:39] mjbvz commented on #22892
This looks like a duplicate of #22310. Did you change branches recently? Also, what version of TS is active in the workspace?

[2017-04-04 00:01] mjbvz commented on #21738
Fixed by @elias-winberg with #23209

[2017-04-04 00:01] #21738 closed

[2017-04-04 00:01] chiangf commented on #7683
I'm hitting the same thing on 1.10.2, can we re-open this issue?

[2017-04-04 00:22] osdiab commented on #10582
+1 to this, it is very counterintuitive to do visual block find/replaces with VSCodeVim as noted above with this default behavior. If it were configurable like #23827 makes it, that would be useful for better emulating vim-style editing for VSCodeVim users like myself!

[2017-04-04 00:28] landonepps commented on #23833
You're right. Calling `keymap.getCurrentKeyboardLayout()` with a Japanese keyboard returns an empty object. I'll have a look and see if I can figure anything out.

[2017-04-04 00:40] mjbvz commented on #23829
Confirmed that VSCode seems to do the correct thing, so the issue is upstream. This looks like a duplicate of https://github.com/Microsoft/TypeScript/issues/10126

[2017-04-04 00:40] #23829 closed

[2017-04-04 00:45] TimCondon opened #23875 "Some C++ navigation commands are broken on my machine"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:00:46.854Z)
- OS Version: Linux x64 3.10.0-327.4.4.el7.x86_64
- Extensions:

|Extension|Author|Version|
|---|---|---|
|cpptools|ms-vscode|0.10.5|;

---

Steps to Reproduce:

1. I created a folder called test, and added two empty files (test.h & test.cpp)
2. I opened VSCode, then opened the newly created folder (

[2017-04-04 01:04] sdwarwick commented on #23829
not exactly, as the syntax highlighting is also broken.  do you get the sense that the plan is to provide a solution that mimics what we see in other editors,  or something different?

[2017-04-04 01:10] mjbvz commented on #23829
@sdwarwick We intentionally disable syntax highlighting on very long lines. This is not language specific @alexandrudima may be able to provide more context on the reasons for this

The expected behavior for Microsoft/TypeScript#10126 is that we better match what other editors output. Until then, extensions may be able to provide a better experience for minified js files

[2017-04-04 01:13] doubleyewdee commented on #20704
Hold up, does VS Code actually need MSBuild in the path? Or has it simply not been updated to find MSBuild in its new location for VS2017? If the latter this is a bug. If the former this is merely a usability bug (it should really look for MSBuild on Windows in reasonable, known locations...)

[2017-04-04 01:18] roblourens commented on #7683
Sounds like the new 'inspector protocol' debug adapter fixed this for everyone. I recommend using `"protocol": "inspector"`, if you are using Node v6.9+

[2017-04-04 01:23] patrix2001 commented on #23587
Yes, this feature would be very useful to have.

[2017-04-04 01:31] landonepps commented on #23833
So I changed keyboard_mac.mm in `node-native-keymap` from
[code]
to
[code]
which is apparently a workaround for the NULL return value. (see [this stackoverflow page](http://stackoverflow.com/a/1971027/1154304))

When using the modified `node-native-keymap` the ¥ key is still unrecognized, but the @ key now shows as "[BracketLeft]" instead of "[" when trying to bind the key.
<img width="516" alt="s

[2017-04-04 01:32] mjbvz commented on #8581
Currently blocked by #14483 on implementing this