[2018-01-05 00:32] jtsom opened #41168 "Import quick fix not working"
- VSCode Version: Code - Insiders 1.20.0-insider (1903689569101cef7dedf612d9100a2141cb14f0, 2018-01-04T07:36:13.087Z)
- OS Version: Darwin x64 17.3.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
ng-template|Ang|0.1.7
json-to-ts|Mar|1.5.4
material-icon-theme|PKi|3.2.1
path-intellisense|chr|1.4.2
githistory|don|0.2.3
tslint|eg2|1.0.24
auto-rename-tag|for|0.0.15

(2 theme extension

[2018-01-05 00:38] usernamehw commented on #15667
@wmadden @pakastin This is not hover. It's `parameter info` or `parameter hints`
[code]

[2018-01-05 00:49] pieandcakes commented on #41165
We aren't doing any processing for the build scenario in the C/C++ extension. If someone with VSCode can point me to where I can look to see what is causing it with the extension enabled, that would be appreciated.

[2018-01-05 01:23] mjbvz commented on #41168
Fixed by e8c76c4617fcc7b932455606055f83837839f247

[2018-01-05 01:23] #41168 closed

[2018-01-05 02:09] a-little-boy commented on #41154
@mjbvz thank you

[2018-01-05 02:45] usernamehw commented on #41150
Works out of the box for me. What vscode version are you using?

[2018-01-05 02:54] mickeydonkey opened #41170 "display indentation incorrectly"
- VSCode Version: 1.19.1
- OS Version: fedora 25

Steps to Reproduce:

1.
open following file with vscode(left) and vi(right):
[sample_indent_error.txt](https://github.com/Microsoft/vscode/files/1605371/sample_indent_error.txt)

![indent_error](https://user-images.githubusercontent.com/12562760/34593587-bda095ac-f206-11e7-9611-a992154eb870.PNG)

2.

Does this issue occur when all extensions are di

[2018-01-05 03:05] sillym commented on #41074
@EyePlusPlus Thanks for the reply. I tried but there's no luck. But v1.16 is still working.
Attached is my `jsconfig.json`. Is there anything wrong with it?
![jietu20180105-102736 2x](https://user-images.githubusercontent.com/13677254/34593826-4c8bb44e-f208-11e7-8f08-001a8b659e3b.jpg)

[2018-01-05 03:12] Yensan commented on #40743
This issue show up again. But I don't know to  to reproduce.

[2018-01-05 03:19] mickeydonkey opened #41171 "underline in terminal doesn't display, looks just like space"
- VSCode Version: 1.19.1
- OS Version: fedora 25

Steps to Reproduce:

1. open a terminal
2. input some command with underline "a_b_c" It looks like "a b c"

Does this issue occur when all extensions are disabled?: Yes

[2018-01-05 03:33] usernamehw commented on #459
@bpasero, seeing you close this PR https://github.com/Microsoft/vscode/pull/40764#issuecomment-355011312 attempting to fix the issue you can as well close this, since there is no intention to allow this kind of modifications whatsoever. The next user won't waste their time making a new PR.

[2018-01-05 03:33] alekseyt commented on #41165
I tried to find some more debug info on this and found Help->Toggle Developer Tools. This is what printed to JavaScript console when this happens:

Line 1:
[code]

Line 2:
[code]

Line 3:
[code]

I suspect this is somehow related to parallel jobs outputting to terminal concurrently (``make -j 4``). Not sure how this is related to enabling/disabling C/C++ extension.

[2018-01-05 03:48] wip0 commented on #41083
@isidorn I cannot reproduce this any more. Please close this issue.

Thank you for your help.

[2018-01-05 03:51] usernamehw commented on #41171
Duplicate of https://github.com/Microsoft/vscode/issues/35901

[2018-01-05 03:54] #41083 closed

[2018-01-05 05:33] xgdgsc commented on #30485
I checked my problem is actually caused by https://github.com/Microsoft/vscode/issues/3998 , when I open   the folder `/tmp`.

[2018-01-05 05:35] snwlms commented on #34385
This is still an issue.
I cant install plugins. I'm new to coding, Ii was looking forward to VS Code for web developing.
I'm using Atom now.
Really wish this issue would be resolved soon.
This link wont even open in my browser.
https://marketplace.visualstudio.com/VSCode

[2018-01-05 05:44] Raydir commented on #41148
It seems the update did remove those keyboard combos again (gladly):

Version 1.20.0-insider
Commit 5153c9aa420bc235b463b773881b2871c8d22566
Datum 2018-01-05T05:13:51.780Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architektur x64

[2018-01-05 05:45] #41148 closed

[2018-01-05 05:51] mickeydonkey commented on #41171
Thx, close it now.

[2018-01-05 05:51] #41171 closed

[2018-01-05 05:55] Raydir commented on #39084
@bpasero i did think about this issue again during xmas time a bit. Main problem is, that "autoguessencoding" does not work for me correct, since it supposes that my file is CP866 what would be cyrillic...

is there a reason why cyrillic is could be "guessed"?

As i see it, there is a relation between the place where you really "are" aka "regional settings"
.NET class "RegionInfo" and the correspo

[2018-01-05 06:47] bpasero commented on #41133
/duplicate https://github.com/Microsoft/vscode/issues/29715

[2018-01-05 06:47] #41133 closed

[2018-01-05 06:48] bpasero commented on #41120
Too bad, closing until we know more about how to reproduce.

[2018-01-05 06:48] #41120 closed

[2018-01-05 06:50] bpasero commented on #41156
@roblourens wow yeah looks like that's it! When I have the find widget opened and I click into the search viewlet, the text changes to the contents of the find widget. Did we add this on purpose?

[2018-01-05 06:51] bpasero commented on #41156
The weird thing however is that this seemed to happen while focus was in the search viewlet and not in the editor. I still think my steps from the bug description should never trigger this.

[2018-01-05 06:55] bpasero commented on #40682
@mjbvz not much progress because the underlying issue is that node.js does not provide a fast way to find out if 2 file paths are the same. If you look at [`realcaseSync`](https://github.com/Microsoft/vscode/blob/master/src/vs/base/node/extfs.ts#L418) you can see a user-land implementation of this which is slow for obvious reasons (you basically call `readdir` for each path segment).

If you only

[2018-01-05 07:01] ucandoit1010 opened #41173 "Crash on Ubuntu when open containing folder"
- VSCode Version: Code 1.19.1 (0759f77bb8d86658bc935a10a64f6182c5a1eeba, 2017-12-19T09:41:01.414Z)
- OS Version: Linux x64 4.10.0-40-generic
- Extensions:

Extension|Author (truncated)|Version
---|---|---
php-debug|fel|1.12.1
php-intellisense|fel|2.2.4
php-ci|sma|0.2.8

---

Steps to Reproduce:
When open containing folder.
Crash always happen !

1.https://ibb.co/e3PHjw
2.https://ibb.co/hsYtPw

Rep

[2018-01-05 07:04] bpasero commented on #41159
Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market place, click on the **Support** link to find out more.

<im

[2018-01-05 07:04] #41159 closed

[2018-01-05 07:05] bpasero commented on #41167
@isidorn probably the same as https://github.com/Microsoft/vscode/issues/41157

[2018-01-05 07:06] ArthurCose commented on #41170
Check your tab size on the bottom right, it looks like it's currently configured to 4 spaces rather than 8.

[2018-01-05 07:10] bpasero commented on #41102
@Tyriar yeah that is a bit ugly / hack. It would also need to be added to the open editors view [`getOptimalWidth`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/files/electron-browser/views/openEditorsView.ts#L398) call.

[2018-01-05 07:21] bpasero commented on #27458
Yeah looks like there is stuff in the tree (event payload) that would be required in order for the `FileResultsNavigation` to adopt it for the List...sucks.

[2018-01-05 07:40] lolyaltyCN commented on #34692
![image](https://user-images.githubusercontent.com/23227505/34599704-b59c42de-f22e-11e7-87c9-5acec7c16655.png)

我下载了最新版本的vsc但是他仍然是不好使的,node debug 失效,并且他卡住了
I downloaded the latest version of VSC, but he was still not good, node debug failed, and he stuck it

[2018-01-05 07:41] Yensan commented on #40743
@bpasero  Hi, Pasero, maybe I catch it.
Steps to Reproduce:
1. install redhat  java plugin (I'm not sure this is redhat's issue, but ask you to trace and comfirm)
2. creat `Test.java` file
--------- appearance: utf8 is auto slected by VScode.
3. Edit this file as normal java class. Hello world thing is not enough. More complexity within classes is better.
--------- appearance: utf8, ASCII is well.

[2018-01-05 07:47] bpasero commented on #40743
@Yensan can you share your settings?

[2018-01-05 07:51] Yensan commented on #40743
already pasted above ...

[2018-01-05 08:08] bpasero opened #41174 "SCM: blue border around entire view when clicking on viewlet"
Seeing this today running out of sources:

![before](https://user-images.githubusercontent.com/900690/34600481-0615ec92-f1f8-11e7-8d82-fa6400cb6230.gif)

[2018-01-05 08:09] marcellobarile commented on #41164
It happens to me as well on Ubuntu 17.04 / NVIDIA GTX 1070 (drivers ver. 387.34).
I'm able to get it back removing the terminal and opening a new one from the "View" menu. When the issue happens also the minimap seems to be affected, reloading the internal terminal fixes both though.

[2018-01-05 08:12] #40612 closed

[2018-01-05 08:12] #37782 closed

[2018-01-05 08:12] #37645 closed

[2018-01-05 08:12] #36900 closed

[2018-01-05 08:14] BenMaruchu commented on #40939
Same Here
Using VSCode version : 1.20.0-insider(Head 5153c9a)
OS Version: Manjaro 17.1

Badge for number of files changed in activity bar is not showing,
also the git branch at the status bar is not showing.
![look like this](https://user-images.githubusercontent.com/7030859/34600517-07031af6-f209-11e7-92b4-5ce1d640ebd1.png)

[2018-01-05 08:15] cyrilletuzi opened #41175 "UI : Force user choice when multiple TS imports are available"
- VSCode Version: Insiders 1.20
- TS Version : 2.7

Now that Microsoft/TypeScript#19694 is fixed in TS 2.7, TS imports with multiple sources are proposed in VS Code Insiders.

I've made some students use it in an Angular course, and I have an important UI feedback. The multiple imports suggested for an identical name should not just be proposed : the choice should be forced before including the au

[2018-01-05 08:24] ansyral commented on #40818
@jrieken Here is the [code](https://github.com/Microsoft/vscode-java-test/blob/master/extension/src/testReportProvider.ts#L51) . One thing to mention is that I rendered the html in ViewColumn.Two, not sure whether it is related. Thanks.

[2018-01-05 08:27] bpasero commented on #37892
Fixed via https://github.com/Microsoft/vscode/pull/38000

[2018-01-05 08:27] #37892 closed

[2018-01-05 08:30] 98-f355-f1 opened #41176 "Java Extension... java.home problem"
- VSCode Version: Code - Insiders 1.20.0-insider (5153c9aa420bc235b463b773881b2871c8d22566, 2018-01-05T05:13:51.780Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions: the listing length exceeds browsers' URL characters limit
---
I am new to using Java with Visual Studio Code... I get this error and it's annoying.  However, it seems that the programs are compiling and working properly despite

[2018-01-05 08:40] gaohuanjiang opened #41177 "内置终端在中文环境下执行code -h命令显示乱码"
- VSCode Version: Code 1.19.1 (0759f77bb8d86658bc935a10a64f6182c5a1eeba, 2017-12-19T09:46:23.884Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-eslint|dba|1.4.3
xml|Dot|1.9.2
auto-rename-tag|for|0.0.15
beautify|Hoo|1.1.1
docomment|k--|0.0.17
Go|luk|0.6.70
python|ms-|0.9.1
cpptools|ms-|0.14.5
csharp|ms-|1.13.1
PowerShell|ms-|1.5.1
vs

[2018-01-05 08:46] shingtaklam1324 commented on #41016
I've done some more bug testing and seems like a combination of software running on my computer. It doesn't seem to be a bug with VS Code now that I have tested it on other Linux distros, but rather the way Elementary OS handles sleeping compared to the other distros. Thanks a lot anyways.

[2018-01-05 08:46] #41016 closed

[2018-01-05 08:47] isidorn commented on #41167
@chrisdias thanks for the nice issue report. However this is a duplicate

[2018-01-05 08:47] #41167 closed

[2018-01-05 08:49] jrieken commented on #41157
That information doesn't exists and won't be easy to add because most (extension) commands are unknown until their first invocation (because of lazy loading).

Not yet sure that passing multiple arguments is a good idea in general, but most importantly the first argument must be the URI as we made that API'ish. Then bleeding more (explorer internal)  information to extensions is questionable. So,

[2018-01-05 08:51] isidorn commented on #41157
Not all resources have an URI, and more importantly in the open editors list, a uri can be opened multiple times, so we need to pass a pair of URI and a Group to know the exact Open Editor the command should work on.

[2018-01-05 08:51] HeroSuperGaming opened #41178 "This pane is too large"
![bug](https://user-images.githubusercontent.com/28282044/34601775-1b2c0770-f206-11e7-9c78-e3deb232cf23.jpg)

- VSCode Version:1.20
- OS Version:Windows 10

Steps to Reproduce:

1.Open VS Code
2.Select the VIEW Pane

Does this issue occur when all extensions are disabled?: Yes/No Yes

[2018-01-05 08:52] bpasero commented on #40662
The label for non-file URIs came in via https://github.com/Microsoft/vscode/commit/80aefe9aff01217d3aa361b148f7dad52662d48b so this seems to be something that was only added for remote scenarios and seems to need tweaking.

[2018-01-05 08:55] jrieken commented on #40818
Try to encode all arguments as array, so something like this `passedUri: 'command:vscode.previewHtml?' + encodeURIComponent(JSON.stringify([URI, Column]))),`. From looking at the code that should do it.

[2018-01-05 08:57] SummerSun opened #41179 "Allow different titles for same command id"
Commands in view item context or menus have to have the exactly same title with commands listed in command platte.

Since the former ones are mostly right-click type, we could suppose that there are more context than they are listing in the command platte.

Such as **Build Docker Image** in command platte, but if one right-click on Dockerfile, just **Build** is enough.

This kind of scenario shoul

[2018-01-05 08:59] jrieken commented on #41157
Which in theory you can all do with an URI. But yeah understood. However it seems to be specific to Open Editors...

@isidorn @bpasero what elements can appear in the explorer that don't have a URI? same question about the open editors view. And then does it makes sense to fill the gaps? Inventing some context objects and passing them extensions is API, so care must be taken. I'd then rather opt t

[2018-01-05 09:04] isidorn commented on #41157
@jrieken a Welcome screen can show in the Open Editors which does not have a URI. As for the explorer I believe we could cover everything with a URI.

Let me check if I could refactor the explorer commands to only work with a URI.
As for the Open Editors we can leave them as they are since it is not exposed to extensions.

[2018-01-05 09:06] mlasson commented on #41093
Hello,

I have the same problem on my computer (with the same configuration) with "alt + 3".

I have also a different behavior of "alt gr + 2": it moves the current tab on the second editor group.

But if I press "alt gr + 2 followed by space" (or "alt gr + 2 followed by 2"), then it outputs the desired "~" (which is the [normal behavior on a French keyboard](https://en.wikipedia.org/wiki/Tilde#Ke

[2018-01-05 09:08] jrieken commented on #41060
@chronicgamedev Thanks for the feedback... Adding a setting is always in reach but also less ideal because folks need to discover and we all need to argue about the default ;-) The client, server sample is good input. Today we remember things per language but maybe we should store it per file. So instead such a key `storage://workspace/Users/jrieken/Code/vscode/suggest/memories/typescript` we coul

[2018-01-05 09:17] bpasero commented on #459
@usernamehw yes good point. Closing as per https://github.com/Microsoft/vscode/pull/40764#issuecomment-355011312

People that have voted on this issue please cast your vote on the related theming issues, e.g. #26128, #26129 and #26130

[2018-01-05 09:17] #459 closed

[2018-01-05 09:17] warpdesign commented on #41085
I now know how to easily reproduce it:

[code]

Opening the `myApp/foo` folder is enough to trigger the problem.

In this case VSCode will detect the git repository found in foo's parent directory but will only listen for file changes inside the `myApp/foo` folder.

Creating a new branch, or changing a branch with no changes (eg. `git checkout -b new_branch`) won't make any file modifications insi

[2018-01-05 09:20] jrieken opened #41180 "UI state lost when updating"
With insiders and it's daily update I keep loosing my UI state, esp the last open editor is usually lost and some other file is opened.

[2018-01-05 09:22] bpasero commented on #41180
/duplicate https://github.com/Microsoft/vscode/issues/39125

[2018-01-05 09:22] #41180 closed

[2018-01-05 09:27] bpasero commented on #41045
I pushed changes so that the window also opens properly from a built version of VS Code.

[2018-01-05 09:46] satowine1 opened #41181 "javascript.format.insertSpaceBeforeFunctionParenthesis doesn't work"
- VSCode Version: 1.19.1
- OS Version: Windows 7

Steps to Reproduce:

1. Add javascript.format.insertSpaceBeforeFunctionParenthesis : true to personal settings
2. Write, for example:
`a.forEach(){
//some code
}
`

Expected outpt:
`a.forEach () {
//some code
}`
Real Output:
`a.forEach(){
//some code
}
`

Does this issue occur when all extensions are disabled?: Yes

[2018-01-05 09:50] frank-dspeed commented on #40502
@Tyriar A Operating system is based on layers the userland is the layer that holds stuff to execute Applications i Would Suggest to simply google all 3 words and get familar with that its worth! As this is what will be the future of security and deployment.

It will solve many problems Example for a UserLand is for example all After Init and the Init Process it self. Its Called userland because th

[2018-01-05 09:54] frank-dspeed commented on #40502
![Image of UniKernel](https://en.wikipedia.org/wiki/Unikernel#/media/File:Unikernel_mirage_example.png)

[2018-01-05 10:07] #41157 closed

[2018-01-05 10:09] frank-dspeed commented on #40502
@Tyriar as your at microsoft maybe you can get this running
- https://www.microsoft.com/en-us/research/project/drawbridge/?from=http%3A%2F%2Fresearch.microsoft.com%2Fen-us%2Fprojects%2Fdrawbridge%2F
Its Microsofts Unikernel Like way to run Software. They call it drawbridge its not as good and Isolated as NodeOS or Mirage but it would help to track down any of this Complicated Mem CPU Issues.

[2018-01-05 10:09] isidorn commented on #41157
I changed the explore such that we only pass the `uri` around and everything seems to work fine.
We have only lost the functionality that `alt` + context menu delete = permant delate.

@bpasero check out my changes. Now for all the explorer commands I always get the focused element from the `list` via the `listService`. This works great because these commands are shared via context menu and keybin

[2018-01-05 10:38] bpasero commented on #41157
@isidorn you will most likely get bugs for the missing "permanent delete". can we try to revive that one via the [`alt`](https://github.com/Microsoft/vscode/blob/master/src/vs/platform/actions/common/actions.ts#L32) condition of a `IMenuItem`? Not sure though if that one is supported for context menus... but it would be the correct and clean solution anyways.

[2018-01-05 10:43] #40870 closed

[2018-01-05 10:45] isidorn commented on #40870
This was caused by https://github.com/Microsoft/vscode/commit/e5808be148c60f3a9aac27fece7eff1fa21a0264

fyi @sandy081 not sure why you introdcued a height of 82% but it breaks the outline. I have reverted the height change, if you need something special for the problems panel you can do it scoped per that panel
Also when making changes to the size of the panel title area always make sure that the

[2018-01-05 10:46] jrieken commented on #41157
We never had that because of the stop-the-world-approach of the native menus... The challenge is that they should toggle while the menu is open (see preview/preview to side in markdown). We could have a compromise and read the alt-state before building the menu. The value of the alt-key is [send as event](https://github.com/Microsoft/vscode/blob/master/src/vs/platform/actions/browser/menuItemActio

[2018-01-05 10:48] bpasero commented on #41156
@roblourens I take it back, it just happened again. No find widget was opened, the search input field changed its value right after I checked the search options. This is crazy :-/

[2018-01-05 10:55] isidorn commented on #41157
@bpasero yes, if the alt condition was supported I could easily plug this in. I can push that right away.
@jrieken Reading the alt before the menu is clicked sounds fair imho (even though we are not behaving like that currently I believe that users tend to hold down the alt before even doing the context menu click)

[2018-01-05 10:56] Nevor commented on #41093
Hello,

I have tracked down the problem to the new addition of `workbench.action.moveEditorTo<First/Second/Third>Group` action family and their associated shortcuts (`Ctrl+Alt+1/2/3`) c60114fd2d6a5cb86ebf3064863f61aeaff6a1d6. It has to be noted that `Ctrl+Alt` is equivalent to `AltGr` on some keyboards (like French or German ones) and is used to write some additional characters (#, ~, € for instan

[2018-01-05 11:01] warpdesign commented on #41093
@Nevor Good catch!
I guess `Ctrl+Alt+up/down` is a problem too then since users won't be able to use them without rotating their screen if they happen to have a Windows machine with Intel GPU.

[2018-01-05 11:15] bpasero commented on #41157
Yeah, I was not expecting the context menu label to change once `Alt` is pressed (which is imho what macOS does in that case), but if we can restore the previous behaviour for permanent delete, that would be great (either Alt pressed before the menu opens or while clicked).

[2018-01-05 11:16] chrmarti commented on #41156
I see that too. It replaces the current text in the search viewlet with the last text that was in the find widget (also if that is now closed). It does that when I click in the search viewlet's search text field or that text field's toggle buttons.

[2018-01-05 11:22] ncannasse opened #41182 "Missing package in debugger extension"
When running a debugger extension which has either a missing package `require('not_installed_package')` or a package using a native extension that has not been recompiled for Electron - for instance `require('deasync')` - VSCode will only report the following error

[code]

It would be very helpful to also print the process stdout/stderr which should give more information about the actual underlyi

[2018-01-05 11:22] isidorn commented on #41157
@bpasero yes all is there except the label change which we can aslo do (`Move to Trash` and `Delete`), we just need to plug in the alt support in the menu service.
@jrieken do you want to give me some pointers on how to plug the alt key pressed in or did you plan to tackle it?

[2018-01-05 11:23] isidorn commented on #40207
@joaomoreno thanks for great steps

[2018-01-05 11:24] #40207 closed

[2018-01-05 11:24] anacierdem opened #41183 "{literal} behaves weird"
- VSCode Version: Version 1.19.1 (1.19.1)
- OS Version: MacOS Sierra 10.12.6

Steps to Reproduce:

1. Put
[code]
inside an HTML document.

2. Html is not interpreted and not highlighted.

Does this issue occur when all extensions are disabled?: No

`{literal}` is used in Smarty's tpl files. I also have `"files.associations": {"*.tpl": "html"}` in my configuration but the issue is the same for .htm

[2018-01-05 11:26] isidorn commented on #41182
@ncannasse do you see an error message in the console if you F1 > developer tools
We might have decided to deliberetly not show these messages, since they are only for extension developers and maybe more data is seen in the console. Please check there

[2018-01-05 11:38] jimishshah commented on #12764
I need this feature too. One of the extension broke and I can't do anything except move to other editor.

[2018-01-05 11:38] jrieken commented on #41157
Yeah, depends on how to integrate this... When calling `Menu#getActions` you already get an array of `MenuItemAction` which has `MenuItemAction#alt` being the alternative action. When populating the UX the alt-key-state must be read. The [`MenuItemActionItem`](https://github.com/Microsoft/vscode/blob/master/src/vs/platform/actions/browser/menuItemActionItem.ts#L108) does that for instance.

There

[2018-01-05 11:44] isidorn commented on #40189
I acknowledge that this issue can happen and not sure I will do something about it on the vscode side. Theoretically I could cancel all scheduled request as soon as the user presses `next`.
But the adapter can also easily handle this by ignoring the invalid frameId.

Assigning to backlog until some issue surfaces to the user regarding this.
fyi @weinand

[2018-01-05 11:52] massimocode opened #41184 "VSCode crashes when you try to close a super large unsaved JSON file"
- VSCode Version: Code - Insiders 1.20.0-insider (8697a5e4ec152832a2612929c87d56302dbb2e79, 2018-01-03T05:14:21.686Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
PowerShell|ms-|1.5.1
vscode-subword-navigation|ow|1.1.5
vscode-icons|rob|7.19.0
quokka-vscode|Wal|1.0.90
wallaby-vscode|Wal|1.0.70

---

Steps to Reproduce:

1. Paste a very larg

[2018-01-05 11:59] jorgegonzalezperez opened #41185 "Cannot write @ or # symbols"
- VSCode Version: Code - Insiders 1.20.0-insider (c4065a8ba5261456338f850a37e67732d98bf57a, 2018-01-05T08:06:27.790Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
better-comments|aar|1.1.4
vscode-file-peek|abi|1.0.1
html-snippets|abu|0.2.1
Bookmarks|ale|0.18.0
vscode-angular2-files|ale|1.3.10
html-class-suggestions|And|1.0.7
npm-intellisen

[2018-01-05 12:02] lucini opened #41186 "Implement toggle in shortkeys of left bar"
Ex: Explorer - Ctrl+Shift+E

Pressing first time Show Explorer, second time Hide Explorer.

[2018-01-05 12:51] ecampidoglio commented on #34240
While I understand the reasoning behind this choice, I think users should be warned about what's happening so that they don't open, say, a large JSON file and immediately start thinking that syntax highlighting is broken or—even worse—that the file has an invalid format. 🙁

VSCode does show a warning when trying to compare a large file:

![vscodelargefilewarning](https://user-images.githubusercont

[2018-01-05 12:59] alexandrudima commented on #41141
Here is the icon in Visual Studio:

![image](https://user-images.githubusercontent.com/5047891/34610254-f691b46e-f228-11e7-9fb2-39e476279553.png)

[2018-01-05 13:01] isidorn commented on #41141
There it does not look so much out of place, since their icon design is different.
I would still vote to put it under elipses because we will have a hard time finding a descriptive enough icon.

[2018-01-05 13:04] isidorn commented on #41186
Fair feature request, not so passionate about doing it.
In the meantime please use Cltr + B

[2018-01-05 13:35] alexandrudima commented on #41141
One of these icons is the same (from GitExtensions). Can you tell which one it is ?

![image](https://user-images.githubusercontent.com/5047891/34611393-058d9974-f22e-11e7-9fcd-d1cd243ff9fe.png)

[2018-01-05 13:47] isidorn commented on #41141
@alexandrudima The one before the last looks like it might be it.

[2018-01-05 13:48] FourEyebrowXiake opened #41187 "There was a mess in markdowm"
![image](https://user-images.githubusercontent.com/18180417/34611545-ef942380-f260-11e7-9eb6-2988e1457701.png)

file address：https://github.com/FourEyebrowXiake/JianLi/blob/master/README.md
The file was created in atom. I open it in vscode for editing. this is markdom preview in vscode:
![image](https://user-images.githubusercontent.com/18180417/34611749-af9f1d10-f261-11e7-9229-4c2900e9cd98.png)
I

[2018-01-05 13:54] jrieken commented on #10271
Fair request and I believe child-diagnostics is powerful to cover various scenarios... Biggest challenge is the slightly bogus design of today-diagnostic, esp. because it doesn't have a location but depends on the DiagnosticsCollection... That needs some careful refactoring.

[2018-01-05 14:01] u458625 opened #41188 "Search and replace doesn't find \n\n"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. Enter \n\n
2. Search with regex for \n\n

Here in the screen shot it matches \n. Line 51 and 52 are </div>\n\n however vs code will not match that pattern as seen in second screen shot.

![image](https://user-images.githubusercontent.com/5900814/34612200-49c2417a-f1ee-11e7-9298-39845d3d3013.png)

![image](https://user-images.githubuserconten

[2018-01-05 14:01] Gruntfuggly commented on #41160
Even better, would be to allow tree views to expand/shrink according to their content (within reason), unless specifically resized by the user.

[2018-01-05 14:08] u458625 commented on #41188
Sorry this is for visual studio not code. It works as expected in visual code.

[2018-01-05 14:08] #41188 closed

[2018-01-05 15:01] Tyriar commented on #41016
Weird, let me know if you find out more

[2018-01-05 15:05] #7893 closed

[2018-01-05 15:06] bpasero commented on #7893
A new setting `workbench.statusBar.feedback.visible` was added to support this. This can also quickly be configured from a new checkbox in the feedback form itself:

![image](https://user-images.githubusercontent.com/900690/34614600-4ea5fd5a-f232-11e7-8e68-10f7e75a4072.png)

[2018-01-05 15:07] Tyriar commented on #41102
@bpasero would you want to accept a PR with this fix (+ open editors view)? @jrieken can you think of a better way to get the badge size when we only have the set of elements?

[2018-01-05 15:09] pedrotorchio commented on #26820
Same on High Sierra, US International keyboard

[2018-01-05 15:10] Tyriar commented on #41009
Whoa it's really black, I haven't seen this before. Does resizing fix the issue? If not does zooming the window in and out fix it (ctrl++, ctrl+-)?

I'm guessing somehow the canvas is getting corrupted similar to what can happen when the computer sleeps (upstream Chromium bug).

[2018-01-05 15:10] bpasero opened #41189 "Test: tweet feedback smiley can be hidden now"
Refs: https://github.com/Microsoft/vscode/issues/7893

Complexity: 2

- [x] windows @weinand
- [x] linux @chrmarti
- [x] macOS @octref

A new setting `workbench.statusBar.feedback.visible` can be used to hide the feedback smiley in the status bar. Make sure:
* this setting works in both directions to toggle visibility
* you can also hide from a context menu on the smiley itself
* you can also hide

[2018-01-05 15:30] user3323 commented on #39312
@Tyriar , I figured out why this happens.

So, it's all about `"when"` key, and not just this key in my keybinding for terminal, but about any other keybinding, that has **NOT** defined `"when"` key and has (in this case) `Ctrl+K` .... even with something after that, like `Ctrl+K Ctrl+J`

so... when you have something like this:

[code]

and don't have specific keybinding like you wrote above - it

[2018-01-05 15:31] muj-beg commented on #26234
Also would be useful for working with MobX: https://github.com/motion/mobx-formatters

[2018-01-05 15:34] itssuyog96 commented on #38763
How to start sharing in the latest build for master branch? Or is it on the different branch? Please clarify.

[2018-01-05 15:35] user3323 commented on #39312
@Tyriar , now I don't know how to bind `Ctrl+Backspace` for deleting word on the left.

I wrote a keybinding:

[code]

but every time I press `Ctrl+Backspace` in terminal - it becomes into `^W`
I have commented every `Ctrl+W` keybinding, so I'm sure I don't have conflicts.
But still - nothing.

[2018-01-05 15:39] roblourens commented on #41156
@chrmarti What you're describing is by design from https://github.com/Microsoft/vscode/issues/39609. It should take the text from the last search done in the find widget. But not randomly like @bpasero describes.

[2018-01-05 15:42] maxibanki commented on #38763
still not public yet

[2018-01-05 15:44] leandrw commented on #16320
Do not forget to make sure that in your visual studio code settings `"javascript.validate.enable"` is true.
In my case I disabled it it, thats why I didn't got intellisense.
Now everything is ok.

[2018-01-05 15:47] roblourens commented on #41156
Well @bpasero might still be describing the same thing though. You can see this like

- Do a search in the search viewlet
- Do a search with the find widget, or in chrome, or sublime, etc
- Some time later, click in the search viewlet
- It gets the text from the other app

One problem is that the search viewlet is not *writing* to the global search buffer, so it may think the global buffer text is

[2018-01-05 15:48] roblourens commented on #41156
You can set `"editor.find.globalFindClipboard": false` to disable this and see if that improves it

[2018-01-05 15:56] DanTup opened #41190 "When a debug adapter crashes, the exception text is not propagated to the console"
I've had a couple of people report debug adapter crashes recently. One of them I'm unable to reproduce which means I need to get more information from the user. Currently, when a debug adapter crashes, the error information that appears in the console is very vague:

![debug adapter crash](https://user-images.githubusercontent.com/1078012/34616604-afc641be-f230-11e7-9df5-e6b14914000b.png)

The act

[2018-01-05 15:57] DanTup commented on #41190
I don't know if the text "ERR" in the console was actually supposed to be my error; but it isn't. My error was "AAAAAARGH".

[2018-01-05 16:00] cevhyruz opened #41191 "git.stage custom keybinding not staging file when selecting using arrow keys in source control"
- VSCode Version: Code 1.19.1
- OS Version: Linux x64 4.12.0-kali1-amd64
- Extensions: none
---
I'm not sure if this is a bug or not. I had ` {
  "key": "shift+s",
  "command": "git.stage"
} ` custom keybinding and it works okay if you click the file using the mouse or press enter when it is highlighted before performing the keyboard shortcut

Steps to Reproduce:

1. modify some files and go to so

[2018-01-05 16:00] sagudev commented on #12080
What about implementing edge in vscode

[2018-01-05 16:13] subvertallchris commented on #12764
In the same boat as others. One or two of the extensions I depend on break often, I always regret upgrading. I'd love to just specify a version number through the CLI.

[2018-01-05 16:35] jrieken commented on #13182
Some more tweaks to the configure/creation picker. Now it groups things by existing snippets and allows to create new snippets (globally or per language)

<img width="563" alt="screen shot 2018-01-05 at 17 28 10" src="https://user-images.githubusercontent.com/1794099/34618344-c1776a6a-f23e-11e7-8013-08ade7e0f850.png">

[2018-01-05 16:36] Tyriar opened #41192 "Pasting a bunch of text into the explorer (accidentally) causes a bad error message box"
I pasted the contents of https://github.com/xtermjs/xterm.js/blob/master/typings/xterm.d.ts accidentally into the explorer instead of the editor and it gave me this error message:

<img width="326" alt="screen shot 2018-01-05 at 8 34 16 am" src="https://user-images.githubusercontent.com/2193314/34618394-7c7a9d6a-f1f3-11e7-837a-08240b3dd3f1.png">

[2018-01-05 17:08] klick-barakgall commented on #1727
Sorry to reopen this discussion but I feel it's just too important.

Recently the concept of watermarked content and code snippets (via use of zero-width characters) has become a topic of some scrutiny across various communities online.

Could this be considered a security threat?

Regardless I do agree that at least zero-width characters should be displayed as something visible to allow at-a-glan

[2018-01-05 17:10] isidorn commented on #41190
@DanTup this request makes sense.
Not sure though if I am getting your error when your process crashes. Can you be so kind and set a breakpoint [here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/electron-browser/rawDebugSession.ts#L449) make your server crash and check if your message is coming through as a `signal` or as something else.

Thanks

[2018-01-05 17:19] andy-ms opened #41193 "Cannot read property 'cacheKey' of undefined"
- VSCode Version: Code - Insiders 1.20.0-insider (5153c9aa420bc235b463b773881b2871c8d22566, 2018-01-05T06:16:44.455Z)
- OS Version: Linux x64 4.4.0-21-generic
- Extensions: none
---

Steps to Reproduce:

1. Go to a repository.
2. `code-insiders .`
3. Use ctrl-p to navigate to some file.
4. An error message appears: `Cannot read property 'cacheKey' of undefined`.
5. The error doesn't happen if I op

[2018-01-05 17:21] SDanton commented on #41060
Never fun to realise the dev team isn't actually reading your comments... I suggested scoping things in my second comment...

Good to see you read @chronicgamedev's note, but now I feel like I'm just wasting my time here :|.

[2018-01-05 17:22] ncannasse commented on #41182
I checked in Developer Tools, the same message is displayed with a vscode stack trace, but no other trace is output there.

[2018-01-05 17:33] andy-ms commented on #41193
The error also happens if I hit `ctrl-p`, type a letter, then hit `escape`. So it's not an error when opening a file but when closing the `ctrl-p` menu.

[2018-01-05 17:34] DanTup commented on #41190
@isidorn Do you mean the `ERR` text? I also don't get that now when trying to repro, only the "terminated unexpectedly" message.

If you still want me to try that breakpoint, can you explain how to add a breakpoint there. I did try breaking in my adapter and navigating the callstack (that file wasn't in there anywhere) and also checking the filenames of the files that were (they showed `<node inte

[2018-01-05 17:35] isidorn commented on #41157
@jrieken I have modified the `fillInActions` such that it now respects the `altKey`. You can see it in the commit attached and let me know what you think.
@bpasero everything works fine now, just the user has to press alt before starting the menu. I have decided to use the labels: `Delete` and `Delete Permanently` as I did not want to break muscle memory of users and change `Delete` to `Mode to Tr

[2018-01-05 17:40] isidorn commented on #41182
And what errors can you see in your `process.stderr`that vscode does not seem to show?
If you run vscode, open developer tools, put a breakpoint [here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/electron-browser/rawDebugSession.ts#L440) do you see the `socket.on('error'`being hit? And do you see the message which VSCode seems to hide

[2018-01-05 17:40] isidorn commented on #41182
Also let's continue the discussion here https://github.com/Microsoft/vscode/issues/41190

[2018-01-05 17:40] #41182 closed

[2018-01-05 17:41] isidorn commented on #41190
@DanTup I mean let's try to see if your error "AAAAARGH" surfaces on our side.
You should be able to just run regular vscode, F1 > open developer tools, wait some time and put a breakpoint by openning a `rawDebugSession.ts`.

[2018-01-05 17:41] holive commented on #17639
I'm encountering this problem too..

[2018-01-05 17:44] joschabach commented on #7893
Yay, thanks!On Jan 5, 2018, at 16:07, Benjamin Pasero <notifications@github.com> wrote:A new setting workbench.statusBar.feedback.visible was added to support this. This can also quickly be configured from a new checkbox in the feedback form itself:—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-01-05 17:44] gurgeous opened #41194 "Format Document working, editor.formatOnSave=true broken"
- VSCode Version: 1.19
- OS Version: Mac OS 10.12.6

I am having some trouble with `editor.formatOnSave=true` when using the Ruby extension. It isn't formatting on save. This is strange, because a manual `Format Document` works fine. How is that possible?

I assumed this was user error or an extension bug. So I modified the extension locally and added some debug output to this file:

https://githu

[2018-01-05 17:45] isidorn commented on #40198
Dup of https://github.com/Microsoft/vscode/issues/41190

[2018-01-05 17:45] #40198 closed

[2018-01-05 17:49] ncannasse commented on #41190
The breakpoint is not hit, which is perfectly normal since the exception occurs before the socket connection is created. You should be able to reproduce by adding   require('unknown_module') to the top of any debugger extension .js file

[2018-01-05 17:53] DanTup commented on #41190
Ok, I got breakpoints in both `onServerError` and `onServerExit`. First wasn't called and the second was called but `code` is `1` and `signal` is `null`. So seems like the message isn't there.

For testing, all I've done is put `throw "AAAAARGH";` inside my debug adapter.

Though now I think about it; the error isn't occurring in code that's been executed directly by Code - it's during the respons

[2018-01-05 17:55] DanTup commented on #41190
That one (in `connectServer`) didn't seem to be hit either.

[2018-01-05 17:59] DanTup commented on #41190
Actually, I think I can repro this really easily by just putting `throw "test";` in the constructor of the DebugSession?

[code]

[2018-01-05 18:00] #40362 closed

[2018-01-05 18:02] vadimcn commented on #40189
I think you should cover this in the debug protocol documentation then, because it has implications for design of the debug adapter.  At first sight, reusing the same stack frame ids on every stackTrace request seems like a viable option, but it won't allow the adapter to detect and reject stale frameIds.
Same goes for variable references, btw.   I've been assuming that they become invalid after r

[2018-01-05 18:07] isidorn commented on #36044
Still can not repro this.
@jrieken can you please try with latest insiders and let me know if you are doing something special?

[2018-01-05 18:15] #35032 closed

[2018-01-05 18:18] isidorn commented on #40288
We accept PRs that fix this issue
Code pointer https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/configurationResolver/electron-browser/configurationResolverService.ts#L23

If noboy volunterees to look into this I can investigate second half of January

[2018-01-05 18:25] Kroc commented on #1727
My suggestion for this would be to have a representative block for unprintable characters, much how the following symbol  `.` has a background in GitHub, mousing over this would show a pop-up with the Unicode grapheme name, e.g. `Zero-width Joiner`, perhaps like the key pop-over on phone keyboards. This way the non-printable characters do not take up more width than one-character and they can each

[2018-01-05 18:31] isidorn commented on #16594
I checked and the link is good, it nicely opens the `Launch Configuraitons` section.
In the Launch Configurations I have added a short sentence with a link to the compound configurations part of the doc

[2018-01-05 18:33] #16594 closed

[2018-01-05 18:40] hojungan opened #41195 "Continuing issue with heroku login with invisible text"
- VSCode Version: Code 1.19.1 (0759f77bb8d86658bc935a10a64f6182c5a1eeba, 2017-12-19T09:46:23.884Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions: none
---

Steps to Reproduce:

1. heroku login on integrated terminal
**texts are not visible, including path name**
**Issue occurred after update back in November 2017, VS Code is up to date version 1.19.1 **
**Re-installing heroku cli proved to

[2018-01-05 18:40] isidorn commented on #6252
@sandy081 do we still use a delayer with the new output rewrite for appending to the model?

[2018-01-05 18:54] JackKenney commented on #41164
I do have an NVIDIA card, GeForce GTX 750 (driver: 384.90)

[2018-01-05 18:55] bakarydiarra commented on #38810
I have re-tested using the version 1.19.1 of vscode and was not able to reproduce the issue.
Thank you

[2018-01-05 18:59] mjbvz commented on #41181
This setting controls the space between `function ()`, not the space before a function call paren. We don't have built-in formatting support for adding a space before function call parens. Try using one of the other js/ts formatting extensions for more advanced formatting options like that

[2018-01-05 18:59] #41181 closed

[2018-01-05 19:00] mjbvz commented on #41154
Did that fix the issue? Any idea what extension may have caused it?

[2018-01-05 19:02] mjbvz commented on #41175
Duplicate of #40414

[2018-01-05 19:02] #41175 closed

[2018-01-05 19:33] mickael-mounier opened #41196 "Disabling a keybinding using Alt does not disable it for Right Alt"
- VSCode Version: Code - Insiders 1.20.0-insider (c4065a8ba5261456338f850a37e67732d98bf57a, 2018-01-05T08:06:27.790Z)
- OS Version: Windows_NT x64 6.1.7601
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-refresh-html|baj|0.0.2
vscode-instant-markdown|dba|1.3.0
githistory|don|0.2.3
vsc-material-theme|Equ|1.2.0
vscode-todo-plus|fab|1.7.2
Go|luk|0.6.70
vscode-todo-parser|min|1.

[2018-01-05 19:36] julianlam commented on #41193
Happening to me as well. I'm not sure if it's related, but I also can no longer `Ctrl-P` to find a file by successively typing parts of directory names.

[2018-01-05 19:42] bonggeek opened #41197 "VSCode does not start on Azure VMs running Ubuntu 16.04"
- VSCode Version: All versions
- OS Version: Ubuntu 16.04 LTS

Steps to Reproduce:

1. Create a Ubuntu 16.04 VM on Azure
2. Enable remote desktop
3. Install VSCode
4. Connect over remote desktop and launch VSCode
5. VSCode will not come up, where other programs will work fine

Does this issue occur when all extensions are disabled?: Yes

[2018-01-05 19:48] marcellobarile commented on #41164
ah ah interesting... let's see what the internet says about some similar issue...

[2018-01-05 19:54] TinusScheppers opened #41198 "Breakpoint not hit in imported file (using Typscript and node.js)"
It seems the breakpoints in imported files are not hit when there 'parent' does not contain a breakpoint.

- VSCode Version: 1.19.1
- OS Version: Windows 10

Steps to Reproduce:

1. Setup new project with this setup (same results if source files are in root):
![afbeelding](https://user-images.githubusercontent.com/2527506/34625513-3b7b4bb4-f259-11e7-8a9b-35164749a265.png)

2. tsconfig.json
[code]

[2018-01-05 20:19] mccreeker opened #41199 "Selecting with Ctrl+Shift and left/right arrow keys is not sensible but very cumbersome"
- VSCode Version: 1.19.1
- OS Version: W10

Steps to Reproduce:

1. Put the cursor somewhere.
2. Hold Ctrl+Shift then tap the left or right arrow keys.
3. Notice how the cursor selects at nonsensical stop points, like selecting the semi-colon along with the function call parentheses but not the function name, or the function name but not the parentheses, or other bizarre or logically-inconsistent

[2018-01-05 20:34] trivikr opened #41200 "Can we switch default "editor.tabSize" from 4 to 2 for indentation?"
I noticed that VSCode adds default `editor.tabSize` as 4
Is there a reason for doing this?

I went through some popular JavaScript projects, and noticed that all of them use 2 spaces for indentation:
* Vue https://github.com/vuejs/vue/blob/dev/src/server/render.js
* React https://github.com/facebook/react/blob/master/packages/react/src/React.js
* Yarn https://github.com/yarnpkg/yarn/blob/master/sr

[2018-01-05 20:38] creativeworkx commented on #38166
I encountered this exact behaviour today, after it worked absolutely as expected for me since .. release

Today, I installed the extension: "explorer-excluded-files" and I added _.vscode_ to files.exclude (see below) to hide it from the explorer.

[code]
This was causing the git decorations to be removed from explorer.
I removed _.vscode_ from files.exclude and now everything works perfectly again

[2018-01-05 20:43] roblourens commented on #41193
This was fixed in https://github.com/Microsoft/vscode/commit/c4065a8ba5261456338f850a37e67732d98bf57a, and insiders was updated again, so you should get the fix if you update again.

[2018-01-05 20:43] #41193 closed

[2018-01-05 20:44] usernamehw commented on #41200
[code]

[2018-01-05 20:46] jibsen opened #41201 "Line highlight fails inside merge conflict areas when background color set in theme"
- VSCode Version: Code 1.19.1 (0759f77bb8d86658bc935a10a64f6182c5a1eeba, 2017-12-19T09:46:23.884Z)
- OS Version: Windows_NT x64 10.0.16299

Highlighting of current line works fine inside inline merge conflict blocks, but if the color theme changes the background color of these areas, the line highlighting disappears.

Steps to Reproduce:

1. Choose a theme with line highlighting, I used Solarized

[2018-01-05 20:49] trivikr commented on #41200
Thanks @usernamehw, can the following code be added as default settings in VSCode?
[code]

[2018-01-05 20:49] joaosardinha commented on #38891
Same issue happens in Discord, so very likely a Chromium/Electron issue. Feel free to close.

[2018-01-05 20:50] usernamehw commented on #41200
I'm not the one to decide this.

[2018-01-05 20:55] mjbvz commented on #41200
1. Four spaces is a reasonable default IMO. It is not more or less right than 2 space indentation
1. You can very easily change it
1. Changing the default now would be super painful, as operations like format would suddenly start reformatting documents for any user that has not set `editor.tabSize`

[2018-01-05 20:55] #41200 closed

[2018-01-05 20:59] mjbvz commented on #41121
1. Back with the tsconfig.
1. Set `"typescript.tsserver.log": "verbose"` in your user settings
1. reproduce the problem
1. From a TS file, run the `Open TS Server log` command and view the `tsserver.log` file

In this file, a list of all files in your TS project will be printed. This should look like:

``
Info 120  [12:58:27.169] Project '/Users/matb/projects/vscode/extensions/typescript/tsconfig.

[2018-01-05 21:01] DanTup opened #41202 "Provide the ability for an extension to conditionally provide snippets that render the same as package.json-provided snippets"
I'd like to be able to conditionally provide snippets based on some knowledge of the project type a user has opened with my extension. I previously opened #26943 requested `when` support for snippets but it was suggested that I just change to a `CompletionItemProvider` instead.

I've implemented a provider that reads the standard snippet JSON format in an attempt to provide the exact same behaviou

[2018-01-05 21:08] Tyriar commented on #39312
@user3323 see https://github.com/Microsoft/vscode/issues/31821

[2018-01-05 21:34] jibsen commented on #41201
Same appears to apply to `diffEditor.insertedTextBackground` and `diffEditor.removedTextBackground`, also it removes highlighting of specific changes within lines.

[2018-01-05 21:38] ashelley commented on #38178
I'd like to confirm @dmitriyrepin

.vscode/task.json
`
{
    // See https://go.microsoft.com/fwlink/?LinkId=733558
    // for the documentation about the tasks.json format
    "version": "2.0.0",
    "tasks": [
        {
            "type": "typescript",
            "tsconfig": "src\\tsconfig.json",
            "problemMatcher": [
                "$tsc"
            ]
        }
    ]
}
`

.\node_mo

[2018-01-05 21:40] mjbvz commented on #40682
Thanks @bpasero! Refactoring is perhaps the most noticeable impact but the bug does also causes problems for other JS/TS features such error reporting, rename, and go do definition. I've been bitten by that a few times and only been able to get back into a good state by closing all editors and clearing the quick open history

A refactoring specific fix may still be worth doing though, either using

[2018-01-05 21:43] johnroper100 opened #41203 "Git footer options are not showing up on latest daily build"
Since I updated to the latest daily build of code-insiders, the git branch indicator and the button to push/pull updates have disappeared from the footer.

- VSCode Version: 1.20.0-insider c4065a8ba5261456338f850a37e67732d98bf57a
- OS Version: Pop!_OS (ubuntu) 17.10

Steps to Reproduce:

1. Open a project that uses git

Does this issue occur when all extensions are disabled?: Yes

[2018-01-05 21:48] mjbvz commented on #41177
@gaohuanjiang Does this happen in [VS Code insiders](https://code.visualstudio.com/insiders/)? Can you provide a screenshot of the problem

[2018-01-05 21:49] mjbvz commented on #41144
Closing as cause-by extension. Please file this against the AL language extension

[2018-01-05 21:49] #41144 closed

[2018-01-05 22:11] mjbvz commented on #41187
Seems like a issue with github since it works in VS Code, right?

[2018-01-05 22:24] usernamehw opened #41205 "Use key as prefix in snippets without prefix"
As I see this snippet (without prefix) doesn't work:
[code]
Would be nice to back it up using the key (`tick` here).

Logic now:
[code]
Logic after:
[code]
------
I guess it will be only useful to people who never writes (or uses) descriptions:
[code]
---------
  Maybe going even further:
[code]

[2018-01-05 22:24] mhopkins-dynactive opened #41206 "HTML Expand kills text"
- VSCode Version: 1.19.1
- OS Version: MacOS Sierra

Steps to Reproduce:

1. Put some html in and html page with some text (<div>Hello my name is ....</div>
2. Then before hello type a tag (ie strong "<str" )
3. Hit tab to have it expand strong.
4. Notice that hello is consumed.

Here is a video that shows the bug in action.

https://dev-dynactivesoftware.appspot.com/https://dev-dynactivesoftware.

[2018-01-05 22:34] rajinder-yadav commented on #40793
Yes.

[2018-01-05 22:36] cyrilletuzi commented on #40414
Yes, in Angular it happens quite often with common classes like `EventEmitter`.

Please take #41175 into account, because I'm not sure this issue is exactly the same : if I understand correctly the first use case, the problem is about an unique class with multiple paths possible, but there are also a lot of times when there really are two or more different classes from different modules. And in th

[2018-01-05 22:38] #41008 closed

[2018-01-05 22:42] mjbvz commented on #40414
@cyrilletuzi Ok, I misunderstood what you were referring to in #41175 .

In cases where the same symbol exists in multiple files, we show multiple suggestions in the completion list. The alternative ux, where you select the symbol name and them select where it should come from, results in a poor ux like in this issue

[2018-01-05 22:50] mjbvz commented on #40793
@rajinder-yadav I can't repo with:

[code]

<img width="688" alt="screen shot 2018-01-05 at 2 49 46 pm" src="https://user-images.githubusercontent.com/12821956/34631928-b4b85440-f227-11e7-8fa6-92710e03b57f.png">

Please provide proper repo steps with a simplified code example

[2018-01-05 22:59] intijk commented on #30038
Yes, for my case I just want this thing could be totally turned off.

[2018-01-05 23:00] TreTuna opened #41207 "The Insider's Edition update1.20.0-insider broke my snippet extensions"
- VSCode Version: Code - Insiders 1.20.0-insider (c4065a8ba5261456338f850a37e67732d98bf57a, 2018-01-05T07:58:53.336Z)
- OS Version: Darwin x64 17.3.0
- Extensions: https://marketplace.visualstudio.com/items?itemName=xabikos.ReactSnippets
---

Steps to Reproduce:

1. Have React Snippets extension installed
2. Updated to today's build of VSC Insider's edition
3. rcc -> should have created a React Cl

[2018-01-05 23:09] mjbvz opened #41208 "Odd filtering behavior when using CompletionItem range"
**Problem**
https://github.com/Microsoft/TypeScript/pull/20547 will allows js completions for:

[code]

to be completed to:

[code]

This is accomplished by using a completion item that looks like:

[code]

The idea being that we replace the `.` when accepting the completion. However such a completion is currently filtered out by vs code

**Repo**

Create an  extension:

[code]

1. In an empty mar

[2018-01-05 23:13] intijk commented on #21651
Could we just get this annoying notification out, instead of a number on top of the gear, how about just show a bubble and disappear?

Users are clever enough to control their version, if I specifically choose to use old version, I think I still have the rights to **TURN THE NOTIFICATION OFF!**

[2018-01-05 23:23] ryanolsonx commented on #41186
I think that this feature would be great to have.

[2018-01-05 23:29] vqhuy opened #41209 "Group some common settings for languages"
Can anyone please explain why we can't group some common settings for languages like this:
[code]

Thanks!

[2018-01-05 23:36] usernamehw opened #41210 "Editors do not restore icon until clicked when not having any changes"
- VSCode Version: Code - 1.19.1 + Insiders 1.20.0-insider **[Unsupported]** (c4065a8ba5261456338f850a37e67732d98bf57a, 2018-01-05T08:06:27.790Z)
- OS Version: Windows_NT x64 10.0.16299

Steps to Reproduce:

1. `New Untitled File`
2. Change language to known for icon theme (`javascript`, for instance)
3. Go to another editor
4. Reload window
5. The icon for untitled file is not set

Reproduces with

[2018-01-05 23:44] ryanolsonx opened #41211 "In user settings, allow user to set editor.tokenColorCustomizations and workbench.colorCustomizations based on current theme"
I'm one of those developers that can't seem to stick to one theme in my text editor. Sometimes I use solarized, other times tomorrow-night. So - I use Ctrl-k Ctrl-t a lot.  I really enjoy being able to switch themes easily.

My problem is that I create some of my own modifications for these themes using `editor.tokenColorCustomizations` and `workbench.colorCustomizations`. Currently, whenever I sw

[2018-01-05 23:52] mhegazy commented on #40682
yes. and given the lake of a fast way to get the actual path, we have a rather limited support for flagging path mismatches under `--forceConsistentCasingInFileNames`; it checks that all references in the code (import statements basically) use the same casing, and not the name of the file on disk.

I wounder if `--forceConsistentCasingInFileNames` would help flagging places where the wrong filenam

[2018-01-06 00:14] cmoon2000 opened #41212 "Get rid of ^C^C^C^C in powershell"
In `Powershell`, How to get rid of these things. I can't copy selected text using `Ctrl-C` or using Ctrl key in general

![capture](https://user-images.githubusercontent.com/6170794/34633786-fe5933ba-f2b0-11e7-8537-f0f5b0f898e7.PNG)

- VSCode Version: 1.19.1
- OS Version: Windows 10 Pro

[2018-01-06 00:29] roblourens commented on #10633
Does this just affect `files.exclude`/`search.exclude`/search viewlet? Where should a setting go, to make it obvious that it impacts globs in all of these places? `createFileSystemWatcher` and `findFiles` from the extension host also take globs. There could be a case sensitivity option as part of the API, or it can follow the user setting.

[2018-01-06 01:01] Linrstudio opened #41213 "功能请求：Emmet 使用缩写包围增强"
Emmet 使用缩写包围增强

希望记住上次输入的内容，并处于选中状态，这样，可以快速包围相同内容；

[2018-01-06 01:31] mazyvan opened #41215 "Proposal: vscode project settings using 2 files"
Seems like some people prefer to commit the .vscode file to git and some other don't.
[YouTube video discussion](https://youtu.be/C8p7rHwctAg)

In large projects this configuration can be annoying.

I propose to have one file to be committed (the team default configurations) and another one that overwrite the previous one that never must be committed.

Just like on npm with the dev packages instal

[2018-01-06 01:33] aneilbaboo commented on #23931
The worst part for me is not being able to view search results and the explorer at the same time. This drives me crazy.

[2018-01-06 01:38] usernamehw commented on #41211
You can try this in [Insiders](https://code.visualstudio.com/insiders/) version:
[code]
The same syntax for `editor.tokenColorCustomizations`

[2018-01-06 01:38] a-little-boy commented on #41154
@mjbvz    I delete all the extensions and restore the personal settings, then   it is ok

[2018-01-06 01:39] usernamehw commented on #41211
You can try this in [Insiders](https://code.visualstudio.com/insiders/) version:
[code]
The same syntax for `editor.tokenColorCustomizations`

[2018-01-06 01:46] usernamehw commented on #41211
Disabling italic: https://github.com/Microsoft/vscode/issues/32579#issuecomment-341502559

[2018-01-06 01:58] hoangnamitc opened #41216 "[ emmet ] Not working inside php tag"
Hi Adm,
My problem is emmet not working in file .php
Please support for me!

![rec_20180106 08 53 57](https://user-images.githubusercontent.com/7042462/34635247-747b066e-f2bf-11e7-8163-892cce8c7884.gif)

Thanks you reading !

[2018-01-06 02:13] FourEyebrowXiake commented on #41187
right,  Working properly in vscode.

[2018-01-06 03:02] sean-mcmanus commented on #15756
Our C/C++ extension wants to be able to publish insider builds to the marketplace so users who opt-in can automatically get either the "insider" version or the release version after that's published -- mostly to increase our real-world test coverage before pushing changes to everyone. We can publish the insider vsix to our GitHub site and email users about it who sign up for it, but it requires us

[2018-01-06 03:48] gnowland commented on #15048
Not sure if I should open a new issue for this, but would it be possible to show the full tab on mouse-over (hover) of an individual tab while keeping the others shrinked? I love the "shrink" functionality but I've hit a problem when in some projects I can't see but a couple letters of a filename and multiple files start with the same letter! Showing just the hovered tab full-width would allow use

[2018-01-06 04:05] mickeydonkey commented on #41170
Yes, I have to configure Vim a bit ,`:set tabstop=4` makes code on the right hand side looks the same as that in vscode. Thank you @ArthurCose

[2018-01-06 04:05] #41170 closed

[2018-01-06 04:14] lzl124631x commented on #11153
+1. Still no built-in support yet?

[2018-01-06 04:44] codesign5 commented on #519
+1 from me for UI themes like Atom.

[2018-01-06 04:49] roblourens commented on #20467
Similar case - after deleting a file in the explorer, the next file should be selected. Currently the selection jumps up to the folder that file was in.

[2018-01-06 06:27] zigmondy commented on #34130
Running into exactly same issue. Can you please prioritize the fix and allow extensions to override the behavior?

[2018-01-06 07:05] bolinfest commented on #36177
I also seem to be hitting some sort of race condition where I get an `ENOENT` for my document root before I see any `stat()` or `readdir()` calls into my `FileSystemProvider`. (This is on Insiders 2018-01-05.) Any ideas where this check is being done?

[2018-01-06 07:36] bpasero commented on #41156
@roblourens imho changing the text in the search viewlet when it gets focus is not correct as long as a search is running or was running. Consider this scenario:
* run a search in VS Code and get some results
* switch to Chrome and search something
* jump back to VS Code
=> the search viewlet text gets replaced with what I searched in Chrome
=> the results are still from the previous search so now

[2018-01-06 07:51] sleagon opened #41217 "Allow to use ~ or / in finder to bring up path input dialog"
- VSCode Version: 1.19.1 (1.19.1)
- OS Version: MACOS 10.12.6

Steps to Reproduce:

1. CMD+O, active basic file explorer
2. just click ~ or / in the keyboard. (normally, we can get the dialog called go to dir.)

Does this issue occur when all extensions are disabled?: Yes/No

[2018-01-06 07:51] bpasero commented on #40743
@Yensan can you tell me what exact chinese characters you type or paste into the editor so that I can reproduce?

[2018-01-06 07:55] bpasero commented on #41102
@Tyriar yeah why not, we can discuss in there.

[2018-01-06 07:57] bpasero commented on #41157
@isidorn I am seeing a bug though:
* right click with Alt key pressed
* right click somewhere else on another item

=> the "Delete Permanently" sticks and never changes back

[2018-01-06 08:01] bpasero commented on #15048
@gnowland there is always a hover showing up for a tab after a moment, right?

[2018-01-06 08:23] siji147 commented on #7570
I'm currently having the same issue. VSC fails to launch without internet. My version is 1.19.1 so it's the latest as at the time of writing. I even updated to 1.20.0 - Insider but it was the same thing.

[2018-01-06 08:48] bpasero commented on #41217
@sleagon can you share a screencast how this normally works for you in other apps?

[2018-01-06 09:25] Skuriles commented on #39818
Are there any updates on this?

[2018-01-06 09:36] michalzobec opened #41218 "If try open file in FAR Manager via Emenu (windows explorer file context menu: Open with Code) I get error message to in console"
- VSCode Version: Code 1.19.1 (0759f77bb8d86658bc935a10a64f6182c5a1eeba, 2017-12-19T09:46:23.884Z)
- OS Version: Windows_NT x64 10.0.14393
- Extensions:

Extension|Author (truncated)|Version
---|---|---
PowerShell|ms-|1.5.1

---

Steps to Reproduce:

1. in FAR Manager select PS1 multiple files (more than one file)
2. Activate Plugins by F11 - select EMenu - Context menu - Text menu - Open with Cod

[2018-01-06 09:36] ShalokShalom commented on #35169
Can I do anything about it?

[2018-01-06 09:41] ugurozturk commented on #35169
@ShalokShalom if it is electron problem then the alternatives also must have the same problem. Did you try another electron app ? Perhaps atom. Checking the result might help to develop vscode

[2018-01-06 09:48] A50 opened #41219 "Vscode hangs OS"
- VSCode Version:
code_1.19.1-1513676564_amd64
- OS Version:
Ubuntu 17.10

Steps to Reproduce:

1. Open Chrome 62.0.3202.89
2. Open VSCode

Does this issue occur when all extensions are disabled?: Yes/No
No

[2018-01-06 10:17] bpasero opened #41220 "List: keyboard bindings not supported for opening"
There is a command for lists called `list.open` that can be used to open an element of a list or tree. It looks like newer lists we added do not support this behaviour, specifically:
* open editors view (Explorer)
* breakpoints view (Debug)
* repositories view (SCM)

**To reproduce:**
* put keyboard focus into one of the lists
* press `Cmd+ArrowDown`

=> does not open

Works fine, e.g. from the SC

[2018-01-06 10:32] sleagon commented on #41217
![xx](https://user-images.githubusercontent.com/7693290/34638874-c59e8a02-f30f-11e7-9376-b93c7e1d64ab.gif)
here i tried to open a file in chrome.
by the way,  all extensions have been disabled during the test.

[2018-01-06 10:57] ShalokShalom commented on #35169
Yeah, it also happens in Atom.

[2018-01-06 11:20] mzabaluev commented on #27684
The current behavior is painful when reviewing a large set of changes in a generated file against its baseline in git. I need to switch to the source files to see what caused the changes, but when I get back to the large diff, I have to navigate to the difference I was on from the beginning.

The diff editor even has a single-hunk modal view that's entered into with e.g. F7 key, and still it is ab

[2018-01-06 11:20] darsain commented on #4795
The post above is definitely how everyone expects this to work. Currently it's pretty unusable. It's not even consistent. For example in json:

Growing in value selects everything within the quotes:

![smartgrow-value](https://user-images.githubusercontent.com/538801/34639121-f3f53c06-f2d9-11e7-9e13-6978bedf6cdb.gif)

Growing in key selects everything within the quotes **and** the quotes! 😢

![sma

[2018-01-06 11:44] Diom commented on #35480
@Dari-K Would you submit a Pull Request with that change? I can implement that on my home computer but my workplace is not so open.

[2018-01-06 12:02] jasonsstao commented on #40928
Not Work!

[2018-01-06 14:59] KamasamaK opened #41221 "Misleading documentation for Position functions"
In [vscode.d.ts](https://github.com/Microsoft/vscode/blob/d1fc73226af79c8c4737011300a3ef8720ece4cd/src/vs/vscode.d.ts), the `Position` comparison functions `isBefore`, `isBeforeOrEqual`, `isAfter`, and `isAfterOrEqual` have misleading descriptions. For example, `isBefore` says "Check if `other` is before this position." I think it would be more clear to say something like "Check if this position i

[2018-01-06 15:28] peony-ma opened #41222 "the "VS code" will not be refreshed"
- VSCode Version: Code 1.19.1 (0759f77bb8d86658bc935a10a64f6182c5a1eeba, 2017-12-19T09:46:23.884Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
path-intellisense|chr|1.4.2
vscode-eslint|dba|1.4.3
git-project-manager|fel|1.4.0
crane|Hvy|0.3.8
vscode-rust|kal|0.4.2
Go|luk|0.6.71
view-in-browser|qin|0.0.5
markdown-preview-enhanced|shd|0.3.1
A

[2018-01-06 15:37] bpasero opened #41223 "Use WorkbenchList for custom dropdowns"
It looks like the custom dropdowns are using the bare `List` widget. I suggest to make it possible to pass in a `treeCreator` (similar to the one [in quick open](https://github.com/Microsoft/vscode/blob/master/src/vs/base/parts/quickopen/browser/quickOpenWidget.ts#L46)) and let clients instantiate a [`WorkbenchList`](https://github.com/Microsoft/vscode/blob/master/src/vs/platform/list/browser/list

[2018-01-06 16:10] bpasero commented on #40204
Can be done via keybindings customization:

[code]

[2018-01-06 16:10] #40204 closed

[2018-01-06 16:11] bpasero commented on #22803
Ping

[2018-01-06 16:13] shanalikhan commented on #12764
Turn off Auto Update.
Use Settings Sync and download the exact version of extensions.

[2018-01-06 16:16] tonysneed opened #41224 "Compare Changes Error: No Provider for merge-conflict.conflict-diff"
- VSCode Version: 1.19.1
- OS Version: Windows 10, macOS

Steps to Reproduce:

1. Select conflict when merging changes
2. Click Compare Changes.

Error: Unable to open 'Filename.cs': Current Changes ⟷ Incoming Changes': no provider for merge-conflict.conflict-diff

This error takes place both in Windows and Mac versions of VS Code with the EntityFrameworkCore repo.

[2018-01-06 16:21] bpasero commented on #41210
Underlying issue is that the only way how an icon can win over the default icon (the one you see for untitled) is, if a model is loaded with a specific mode that is different from the one determined by the resource.

Since an untitled file that is not dirty is not loaded on startup, the model is also not active and as such, the icon will only be determined by the resource but not by the user choic

[2018-01-06 16:26] bpasero commented on #41217
@sleagon so you are literally just typing "~" in that dialog and that brings up the input prompt?

[2018-01-06 16:29] skorunka commented on #25312
Same problem on TS 2.6.2, VSC 1.19.1 :(

[2018-01-06 16:40] sleagon commented on #41217
@bpasero
yes, like shortcut keys.
you can active it by typing ~ or /.
it's pretty useful when you need to switch from dir1 to dir2 frequently.

[2018-01-06 16:49] tehKaiN opened #41225 "Ctrl+alt shortcuts works same as AltGr"
- VSCode Version: Code 1.19.1 (0759f77bb8d86658bc935a10a64f6182c5a1eeba, 2017-12-19T09:46:23.884Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
Doxygen|bbe|1.0.0
gitignore|cod|0.5.0
doxdocgen|csc|0.0.7
arm|dan|0.1.2
vscode-markdownlint|Dav|0.12.0
line-counter|dol|0.3.0
latex-workshop|Jam|3.12.0
hex-fmt|ker|1.0.0
vscode-todo-parser|min|1.9.

[2018-01-06 17:08] ivan-radic commented on #41003
Hi,

just noticed, while looking for something else, that editor is already using term "toggle" in command bar options (in edit menu):

![2018-01-06 17_59_13-](https://user-images.githubusercontent.com/12585358/34641942-9bc6e05c-f30b-11e7-8caa-a66777e69e6d.png)

I guess that would be another reason to go with proposed solution 1, and to use `editor.action.toggleLineComment` and `editor.action.togg

[2018-01-06 17:22] SteveALee commented on #25312
@skorunka thanks!

[2018-01-06 17:29] roblourens commented on #41156
The scenario you describe is exactly how it is supposed to work. I am thinking that it should be disabled too, I've found it more annoying than useful.

[2018-01-06 17:30] borgdylan opened #41226 "Where have the GIT related widgets gone?"
- VSCode Version: 1.20 insiders
- OS Version: Ubuntu 17.10 + Linux 4.14.12
Steps to Reproduce:

1. Open a folder that's under GIT revision control
2. When needing to push a change, notice that the button we used to push to synchronize changes is gone. (have to use drop down in SCM viewlet instead)

![image](https://user-images.githubusercontent.com/7761010/34642223-c3eb0cee-f30f-11e7-98b6-2654c52f

[2018-01-06 17:44] borgdylan opened #41227 "Debugging is broken"
- VSCode Version: 1.20 insiders
- OS Version: Ubuntu 17.10 + Linux 4.14.12

Steps to Reproduce:

1. Try to debug a project that used to debug beforehand
2. Notice that breakpoints set are only listed in the viewlets, the editor does not show red circles in the gutter
3. Notice that breakpoints no longer hit

Does this issue occur when all extensions are disabled?: cannot test as debugger is an ext

[2018-01-06 17:53] borgdylan commented on #41227
This was tested using the vscode-mono-debug extension. Used to work on the holiday themed builds of code-insiders.

[2018-01-06 18:00] cleidigh commented on #41223
@bpasero
I think this makes sense.
The implication would be adding disabled option awareness directly within the tree widget since it would have to be aware of disabled options to use the normal navigation key bindings.  I'm pretty sure this is not currently supported.

- Is your thought that passing the tree creator is optional or is it always used?
- Do you want support for multiple disabled opt

[2018-01-06 18:08] jpjpjp commented on #4100
Piling on.  This is one of the few places where I miss Atom.  Basically it was more obvious when I had a linter ERROR because the line number had a big red ball next to it.   A quick pass through the file showed me if I was error free.  The red squiggly line in VS Code is just a little to tough for my eyes to catch on a quick pass.

F8 isn't a great substitute for me because I (sometimes) will tol

[2018-01-06 18:10] daniel-ang commented on #14909
Speed up development of this please! I've waited over a year for it and can't believe something so basic is not built in and worst still hasn't started. It is very essential for modern application development. Thank you for the nice editor which many of us cannot use as the main stream editor without the horizontal+vertical split (or grid) function.

[2018-01-06 18:15] gsedlacz opened #41228 "Display issue with multiple monitors (different resolution)"
- VSCode Version: 1.19.1
- OS Version: win10 1709

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes

Initially I thought it would be a Chrome-Extension Bug as it firt appeared when I opened an instance of Chrome from within vscode.
Therefore i openened a bug over there.
Any missing information might be found over there: https://github.com/Microsoft/vscode-ch

[2018-01-06 18:22] usernamehw commented on #41226
Duplicate of https://github.com/Microsoft/vscode/issues/41203

[2018-01-06 19:11] rajinder-yadav commented on #40793
Creating a app using angular-cli and then in the test file with extension .spec try to repro the issues. This happened for me inside an Angular app.

[2018-01-06 19:13] gwiesenekker commented on #40776
Hi,

The search output pane is empty.
The capitalization is correct on JOBS: it works for version 1.18.1 but not for version 1.19.1.

Regards,
Gijsbert

[2018-01-06 19:39] ralves09 opened #41229 "Identation guides not rendering properly"
- VSCode Version: 1.19.1
- OS Version: MacOS 10.13.2 (17C88) on a MacBook (Retina, 12-inch, 2017)

Steps to Reproduce:

1. Just open, create or edit any file of any type
2. Some guides are render, others not. This changes when I change de zoom level

Does this issue occur when all extensions are disabled?: Yes

Its a fresh installation.

<img width="1005" alt="screen shot 2018-01-06 at 17 27 20" s

[2018-01-06 19:48] rebornix commented on #41219
No

As you described, it's caused by extensions, you may want to find the bad extension and file issues there.

[2018-01-06 19:48] #41219 closed

[2018-01-06 20:43] sky96line opened #41230 "Repeated prompts for GitHub credentials"
- VSCode Version:1.19.1
- OS Version:Windows 7(Ultimate)

Steps to Reproduce:

1.Commit changes to github via visual code

Does this issue occur when all extensions are disabled?: Yes

[2018-01-06 21:33] mlewand opened #41231 "Open link command does not support multiple selections"
- VSCode Version: 1.19.1
- OS Version: Windows 10.0.16299

Steps to Reproduce:

1. Open a markdown with two URLs in two lines, for example:
[code]
2. Put two (collapsed) selections in the middle of each URL, say:
[code]
Where `^` denotes caret position.
3. Execute "Open Link" command (`editor.action.openLink`).

Does this issue occur when all extensions are disabled?: Yes

~I'm willing to contribu

[2018-01-06 22:04] sublimeye commented on #20183
This feature should support any type of linter/language, not only eslint. Instead of hovering the mouse cursor over highlighted text a user should be able to see the error when placing the caret on the highlighted part.

[2018-01-06 22:15] AlansCodeLog opened #41232 "SCM: Restore commit message on reload/reopen"
Sometimes I'm half-way done typing a commit message and I end up doing something else, then for some reason or other reload/reopen the editor, and what I typed is gone. Obviously not the end of the world, but even the search keeps its state when reloading/reopening. I think the extension search is the only other thing doesn't.

[2018-01-06 23:07] RCHowell opened #41233 "Opens file twice when creating missing overrides."
- VSCode Version: 1.19.1
- OS Version: macOS 10.12.6

Steps to Reproduce:
1. Open two different files so that one is in the left pane and one is in the right pane.
2. In the right pane, extend some abstract class.
3. VSCode will underline your class and will ask `Create (n) missing overrides`? **Click it.**
4. The file from the right pane is then opened in the left pane.

Does this issue occur whe

[2018-01-06 23:35] cleidigh commented on #40976
@JoleCameron

Any thoughts on the above?
Did you try my suggestion for dictation into input boxes?

Is there's something very specific to address given my comments?

[2018-01-07 00:28] gertcuykens commented on #40204
Wait a minute not so fast :P what happens if you press tab twice :) would be great to cycle through all the Terminal commands

[2018-01-07 01:39] A50 commented on #41219
you are right, problem is php exstension

[2018-01-07 01:40] wlai2768 opened #41235 "Syntax highlight broken for Batch file"
Steps to Reproduce:

1. Open a new file
2. Change file type to Batch file
3. Paste below two lines.  The first "for" line color rendering is broken.

[code]

[2018-01-07 01:43] IamJinzo commented on #38952
`"jinzo": {
    "prefix": "jinzo",
    "body": [
        "jinzo_snippet_example"
    ],
    "description": "Test snippet."
    }`

Here is a GIF

https://steemitimages.com/0x0/https://res.cloudinary.com/hpiynhbhq/image/upload/v1515087542/t47zkrdvihytnbm8ctbm.gif

This isn't dupe.
The bug is still apparent in recent releases.

[2018-01-07 01:45] IamJinzo commented on #38952
This isn't dupe.
The bug is still apparent in recent releases.
`
"jinzo": {
    "prefix": "jinzo",
    "body": [
        "jinzo_snippet_example"
    ],
    "description": "Test snippet."
    }
`
Here is a GIF
![t47zkrdvihytnbm8ctbm](https://user-images.githubusercontent.com/33924401/34645701-17bd1a36-f35d-11e7-9f31-6ea52c93d8a4.gif)

[2018-01-07 01:49] MarshmellowAlone commented on #7570
I had the same problem I could not boot vscode without internet, I use windows 10, it came out to update actualize windows and then I could run vscode without internet, now the problem has returned, I do not know what to do, if someone has the solution could help us There are many of us who have this problem.

[2018-01-07 04:22] cleidigh commented on #41230
@sky96line
Can you provide more information?
- git set up
- do other git commands work?
- access to repository from other programs?

[2018-01-07 04:22] MichaelTong commented on #13612
Can't believe it's not solved yet... Suffering this from my Surface book 2

[2018-01-07 06:46] ramya-rao-a commented on #41213
Google translates the above to:

I hope to remember the last input, and in the selected state, so that you can quickly surround the same content;

I am assuming that you are referring to the `Emmet: Wrap with abbreviation` command and expect it to remember the previous input.

If so, then this is tracked in #40096

[2018-01-07 06:46] #41213 closed

[2018-01-07 06:51] ramya-rao-a commented on #41216
It works as expected for me.
In your gif it does work in your second attempt.
Can you share what did you do differently between the first and second attempt?
Also share any emmet related settings you have changed

[2018-01-07 07:44] odbc789 commented on #5240
Is this feature ready now ?

[2018-01-07 09:10] hanfengcan opened #41237 "how can I hide menus When my extension not active"
I found in different file, menus context is difference.
![image](https://user-images.githubusercontent.com/4559753/34648027-c946c076-f3cc-11e7-8b36-28fb25d01741.png)

![image](https://user-images.githubusercontent.com/4559753/34648041-e63e636e-f3cc-11e7-93ae-5b8e2a9811a6.png)

how can I hide menus when my extension inactive

[2018-01-07 10:19] blastmann opened #41238 "VSCode causes my screen flicker when running on 4k external monitor"
- VSCode Version: 1.19.1
- OS Version: macOS 10.13.2

Steps to Reproduce:

1. Start VS Code, keep the window on focus
2. Copy and paste a large number of texts
3. The whole screen will flicker (not only VS Code)

Does this issue occur when all extensions are disabled?: Yes

Etc:
- Occurs when all plugins are disabled
- Does not occur when window is not in focus
- Occurs on external 4k display at 3

[2018-01-07 10:50] PhantomR opened #41239 "Graphical glitches in VS Code Insiders on Ubuntu 18.04 Alpha"
- VSCode Version: Code - Insiders 1.20.0-insider (c4065a8ba5261456338f850a37e67732d98bf57a, 2018-01-05T08:08:12.523Z)
- OS Version: Linux x64 4.14.0-13-generic
- Extensions: none
---

Steps to Reproduce:

1. Download VS Code Insiders from official website
2. Install using Ubuntu Software Manager
3. Run and notice glitches (broken pixels, for example in the menu bar above, could try viewing a sourc

[2018-01-07 10:52] PhantomR commented on #41239
Actually, the graphics are still glitched on the normal (non-insiders) version :( ..

[2018-01-07 11:05] mirao commented on #40272
I have the same issue with quick search in subfolder "vendor" in my [Codeception](http://codeception.com/) project.
The subfolder is created after running "composer install" and it's not a part of my Git repository.
I can confirm that workaround `"search.useRipgrep": false` works for me.

Not sure it's a regression in vscode 1.19, but I'm sure it worked well in some of previous versions.

Used SW:

[2018-01-07 11:11] stereokai commented on #41224
Happens to me too. How to deal with it?

[2018-01-07 11:12] JasonLeeCn opened #41240 "Menu short-cut keys will no active if current language is not English"
- VSCode Version: Code 1.19.1 (0759f77bb8d86658bc935a10a64f6182c5a1eeba, 2017-12-19T09:46:23.884Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
cpptools|ms-|0.14.5
vscode-icons|rob|7.19.0

---

Steps to Reproduce:

1. Switch keyboard to ather language expect EN like Microsoft Pinyin for Chinese input.
2. Call Menu, then press any key (eg.

[2018-01-07 12:09] ywaby commented on #41240
it same at linux.
only Reproduces when you are in input mode before  Press Alt + F, N. i think reason is chromium  not change input state to disable when menu active.
it's chromium problem, you can Reproduces it in chromium. you can create an issue at https://bugs.chromium.org/p/chromium/issues/list or find one already existing there and add a link to it here.

[2018-01-07 12:13] aswasn opened #41241 "The caret will move backward after moving the window"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T09:51:12.123Z)
- OS Version: Darwin x64 17.3.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
cpptools|ms-|0.14.5

---

example.md
[code]

Steps to Reproduce:

1. open a file in vscode, for example, the `example.md` showed above.
2. assume the caret is behind the character C now.
3. drag and move t

[2018-01-07 12:14] aswasn commented on #41241
This bug is really annoying

[2018-01-07 12:46] cybercoder commented on #13138
![mobaxterm](https://user-images.githubusercontent.com/437872/34649510-f90eb6b2-f3c5-11e7-8fbb-c91193c165dc.jpg)

It is working with MobaXterm.

[2018-01-07 13:08] reaCodes opened #41243 "Why I can not really clean the terminal？"
- VSCode Version:1.19.1
- OS Version:Windows 10 16229.192

When I use `clear` in PowerShell, the previous information will be completely cleared. But I use the same method, the previous information is only hidden in the top. I know this is not a bug, but I think this design is not very good. Why design like this, may change later?

Does this issue occur when all extensions are disabled?: Yes

[2018-01-07 13:26] LQR86 opened #41244 "Underscores are invisible in the integrated terminal"
- VSCode Version: Code 1.19.1 (0759f77bb8d86658bc935a10a64f6182c5a1eeba, 2017-12-19T09:41:01.414Z)
- OS Version: Linux x64 4.10.0-42-generic
- Extensions:

Extension|Author (truncated)|Version
---|---|---
python|ms-|0.9.1
cpptools|ms-|0.14.5
java|red|0.16.0
vscode-java-debug|vsc|0.5.0
vscode-java-pack|vsc|0.2.0

---

Steps to Reproduce:

1. open the integrated terminal (Ctrl + `), click on it
2. t

[2018-01-07 15:10] Luberen opened #41245 "Console Application / Windows Application"
[code]

I compiled this code but following error has occurred:

(When I compiled LinkedList.c)
**undefined reference to 'WinMain@16'
collect2.exe: error: ld returned 1 exit status**

(When I compiled main.c)
**undefined reference to 'ListInit'**

I think my code is built with Windows Application, not Console Application. I want to build with console application mode but I couldn't find any options

[2018-01-07 15:12] Luberen commented on #41245
I compiled it with MinGW+GCC.

[2018-01-07 15:25] mittalyashu commented on #40126
Does VS Code work with all the features listed in the file?

[emmet-cheatsheet.pdf](https://github.com/Microsoft/vscode/files/1609889/emmet-cheatsheet.pdf)

[2018-01-07 15:56] neoeinstein opened #41246 "Git add of file with unicode name fails in Git panel"
- VSCode Version: Code 1.19.1 (0759f77bb8d86658bc935a10a64f6182c5a1eeba, 2017-12-19T09:46:02.926Z)
- OS Version: Windows_NT ia32 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-base64|ada|0.0.1
vscode-database|baj|1.2.0
toml|be5|0.0.3
vscode-markdownlint|Dav|0.12.0
createuniqueid|don|0.0.3
githistory|don|0.2.3
EditorConfig|Edi|0.11.1
git-project-manager|fel|1.4.0

[2018-01-07 16:00] #40175 closed

[2018-01-07 16:00] #40837 closed

[2018-01-07 16:03] neoeinstein opened #41247 "[loc]Request to add Esperanto language to VS Code"
We expect at least three language contributors sign up and product team sign off before adding new language to transifex.
Please vote by adding your transifex account name here.

[2018-01-07 16:04] neoeinstein commented on #41247
My transifex account name: neoeinstein

[2018-01-07 16:12] mattez opened #41248 "[css] add ':focus-within' pseudo class"
CSS autocomplete does not know 'focus-within' css property. It's currently in use with all modern browsers excluding Edge as listed on [caniuse](https://caniuse.com/#search=focus-within)
My setup:

    Version 1.19.1
    Commit 0759f77bb8d86658bc935a10a64f6182c5a1eeba
    Date 2017-12-19T09:41:01.414Z
    Shell 1.7.9
    Renderer 58.0.3029.110
    Node 7.9.0
    Architecture x64

Steps to Reproduc

[2018-01-07 16:16] bpasero commented on #41217
I am not quite sure why these keybindings would not work in VS Code. If someone has any insights, comment here.

[2018-01-07 16:18] bpasero commented on #41228
Does it reproduce if you run "code --disable-gpu"?

[2018-01-07 16:19] bpasero commented on #41233
I think this works as designed because the extension seems to be opening a file in the first group and we show it there event though it is already opened in the second group.

[2018-01-07 16:19] #41233 closed

[2018-01-07 16:20] #41239 closed

[2018-01-07 16:23] bpasero commented on #41223
@cleidigh can you share how this breaks layers? If the tree creator is passed in from the outside it should work fine. Maybe look at `quickOpenWidget` as example which is using this pattern.

I am not sure how disabled input entries are related to this issue, don't you have this problem already today with the list or are you actually handling disabled items in the list navigation? That would make

[2018-01-07 16:30] MettTheFrameless commented on #41228
Thank you for your answer.

For VSCode itself --disable-gpu does the trick but if I open chrome from the chrome debug plugin the new chrome instance remains faulty.

Will this bug get fixed ?

[2018-01-07 16:48] nozzlegear commented on #40837
I've updated Windows to the latest insider build (17063) and this issue has gone away, so it does indeed some to be a problem with WSL that will be fixed in the next release. I'm not sure why it only affected VS Code and not my terminals, but now I can work without having to keep a task manager window open!

[2018-01-07 16:53] grandtele opened #41249 "VSCode freezes with NFS share when changing files"
- VSCode Version: Code 1.19.1 (0759f77bb8d86658bc935a10a64f6182c5a1eeba, 2017-12-19T09:35:14.671Z)
- OS Version: Darwin x64 17.3.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
Align|ste|0.2.0

(1 theme extensions excluded)

---

Steps to Reproduce:

1.  **nfs server**
/etc# cat exports
/opt *(rw,fsid=0,insecure,sync,no_subtree_check,all_squash,no_wdelay,anonuid=0,anongid=0,sec=k

[2018-01-07 16:57] robinmattern commented on #1435
It would be nice to put a few common simple tasks in a tasks.json file located in the Users settings folder that could be merged with the workspace tasks.json file.  An example would be to run a NodeJS script from anywhere using a common keystroke binding, e.g.
[code]
with a keybinding of:
[code]
BTW:  It seems that VSCode does attempt to merge tasks from subfolders.  I tried the dubious scenario

[2018-01-07 16:59] richardsweeneyobjective commented on #41224
Happens to me too, no workaround found:
VSCode Version; 1.19.1 (latest today)
OS Version: Windows 10 Pro 64-bit

Steps to reproduce:
1. Select conflict when merging changes
2. Click Compare Changes

Error: Unable to open 'mainTemplate.json: Current Changes ⟷ Incoming Changes': no provider for merge-conflict.conflict-diff

[2018-01-07 17:04] usernamehw commented on #41244
Duplicate of https://github.com/Microsoft/vscode/issues/35901

[2018-01-07 17:57] WilliamStone opened #41250 "[Feature Request] Option for whether auto reload file when file content on disk changes"
- VSCode Version: Code - Insiders 1.20.0-insider (c4065a8ba5261456338f850a37e67732d98bf57a, 2018-01-05T08:06:27.790Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
markdown-toc|Ala|1.5.6
markdown-extension-pack|bat|0.1.2
vscode-markdownlint|Dav|0.12.0
todopomo|Eas|0.2.5
vscode-projects-plus|fab|1.15.0
vscode-projects-plus-todo-plus|fab|1.4.

[2018-01-07 18:04] Tyriar commented on #41243
See https://github.com/xtermjs/xterm.js/issues/106

[2018-01-07 18:04] #41243 closed

[2018-01-07 18:05] Tyriar commented on #41212
Did you have a selection to copy? If the terminal is focused the default behavior is to only attempt to copy when there is a selection, otherwise send the ctrl+c to the terminal.

[2018-01-07 18:10] ognjenkurtic commented on #4100
Tried using

[code]
in the extension and almost got it. It returns correct information from the hover dialog if you try it on methods but returns 'any' if you try it on problems.

[2018-01-07 18:12] Tyriar commented on #40928
Can you post a screenshot?

[2018-01-07 18:25] tempit commented on #41060
Hi there. Interesting discussion indeed, from both user and extension writer perspectives.
To throw my two bits in, I think the 'remember last selection' feature is overkill, and I agree with @chronicgamedev that the situation where two or more completions apply and I use them interchangeably is more common than you'd think. I'm for cancelling this feature, as it seems to cause more confusion than

[2018-01-07 18:28] fatherjack opened #41251 "Linebreak debugging in an unsaved file should not allow icon to show"
- VSCode Version: 1.19.1
- OS Version: Win 10 Pro 1709 16299.125

Steps to Reproduce:

1. create new file - do not save it
2. add multiple lines of code
3. place the cursor in one line and press F9 to add a breakpoint
4. in the left hand margin the breakpoint icon (red dot) shows, even though you cannot add a breakpoint to an unsaved file.

In my opinion you should not be able to apparently add a

[2018-01-07 18:33] bobrocke opened #41252 "VSCode does not follow macOS folder aliases"
- VSCode Version: Code 1.19.1 (0759f77bb8d86658bc935a10a64f6182c5a1eeba, 2017-12-19T09:35:14.671Z)
- OS Version: Darwin x64 17.3.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-markdownlint|Dav|0.12.0
EditorConfig|Edi|0.11.1
sort-lines|Tyr|1.4.1
html-snippets|abu|0.2.1
vscode-twig-pack|baj|1.0.0
gitignore|cod|0.5.0
toggle-excluded-files|eam|1.6.0
vscode-projects-plus|fab|1

[2018-01-07 19:04] DStoyanoff opened #41253 "Suggestion: Login and sync across devices"
Hello,
I wasn't able to find such issue (it's hard to find across so many issue though).

I am using VSCode on two PCs - one at home and one at work. I did setup my extensions and settings and etc at work to suit my needs the best and this thing is changing over time, as I find more useful extensions.

When I got home however (or decide to switch from vs code to insiders version), I need to set up

[2018-01-07 19:17] WilliamStone commented on #41250
Rechecked issue list and found the following 2 similar issues:

#14298
#20876

However IMO they are not fully duplicate of this issue, since in this issue I distinguished a scenario that  needs control not by file type, but by file path pattern (only files under certain folder shall disable auto-reload). So I wish this feature not get ignored by marking this issue duplicate.

[2018-01-07 19:18] shobhitchittora opened #41254 "Discussion: eslint errors + custom eslint rules"
Hi. I was going around the vscode repo when I tried to run eslint on the `src` folder and found **100+** lint errors. Also running a fixer does seem to fix ( most of ) those issues as -

[code]

Is there a way to fix this ?

Also I'd like to suggest/discuss adding `eslint:recommended` rules and/or custom eslint rules to the project. It would be great if lint checks are added in the build pipeline!

[2018-01-07 19:46] cleidigh commented on #41253
@DStoyanoff
There is a great extension just for this.

https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync

[2018-01-07 19:48] #41253 closed

[2018-01-07 19:51] #41244 closed

[2018-01-07 20:12] rebornix commented on #41161
Please file issues in English, thanks!

[2018-01-07 20:12] rebornix commented on #41176
Please file this issue against the Java extension you are using, thanks!

[2018-01-07 20:12] #41176 closed

[2018-01-07 20:17] rebornix commented on #41127
Please file issues against the python extension you are using.

[2018-01-07 20:17] #41127 closed

[2018-01-07 20:17] rebornix commented on #41241
Let's track it in https://github.com/Microsoft/vscode/issues/38163

[2018-01-07 20:17] #41241 closed

[2018-01-07 20:39] Tyfyter opened #41255 "failed to load .csproj file"
- VSCode Version: Code 1.19.1 (0759f77bb8d86658bc935a10a64f6182c5a1eeba, 2017-12-19T09:46:23.884Z)
- OS Version: Windows_NT x64 6.1.7601
- Extensions:

Extension|Author (truncated)|Version
---|---|---
csharp|ms-|1.13.1

---

Steps to Reproduce:
Unknown.

The omnisharp log contained this:
Starting OmniSharp server at 1/7/2018, 3:31:34 PM
    Target: c:\Users\Tyfyter\Documents\My Games\Terraria\ModL

[2018-01-07 20:43] Eli-Goldberg commented on #41227
Reproduces
- VSCode Version: Code - Insiders 1.20.0-insider (c4065a8ba5261456338f850a37e67732d98bf57a, 2018-01-05T08:08:12.523Z)
- OS Version: Linux x64 4.10.0-42-generic

[2018-01-07 20:45] Fania commented on #34331
I've mentioned this in #5402 a while ago. I don't think that has been resolved yet.

[2018-01-07 21:37] ramya-rao-a commented on #40126
We have adopted [Emmet 2.0](https://code.visualstudio.com/blogs/2017/08/07/emmet-2.0) which are the newer set of emmet modules written by the same author who wrote the Emmet library that is used in most editors.

See [Emmet 2.0](https://code.visualstudio.com/blogs/2017/08/07/emmet-2.0) to know more about it.

There are a few Emmet abbreviations that don't work in the new Emmet 2.0 As far as I know

[2018-01-07 21:40] ramya-rao-a commented on #41166
I can repro this in php files and not other files.
Adding `"php.suggest.basic": false` to the settings fixes this.

cc @roblourens

[2018-01-07 21:44] jedcalkin commented on #40964
I had the same problem, opening the devtools allows the extensions to be uninstalled.

[2018-01-07 21:48] rcjsuen commented on #41255
@Tyfyter If it's a bug with the extension then you should open a bug in the [OmniSharp/omnisharp-vscode repository](https://github.com/OmniSharp/omnisharp-vscode).

[2018-01-07 21:49] JoleCameron commented on #40976
Sorry for not getting back to your sooner. I've been both busy and unwell this week, and I let this slide. My microphone also died last night, so I'm having to type this by hand. Hence, I'll be brief.

My concerns with VS Code boil down to the fact that I can't even dictate into the main text box without using a Dragon command, let alone have Select-and-Say access. Given that Microsoft provides an

[2018-01-07 22:15] seiks opened #41256 "1.19 breaks files.trimFinalNewlines"
Hi.

After updating to 1.19 I noticed that automatic trimming of newlines has broken.

- VSCode Version: 1.19.1
- OS Version: macOS 10.12.6

Steps to Reproduce:

1. Set `files.trimFinalNewlines` to `true`.
2. Open up a new file.
3. Add text/whatever and multiple newlines at the end of file.
4. Save and see that nothing happens.
5. Close file. You can even close VSCode.
6. Re-open file/VSCode and t

[2018-01-07 22:15] Tyriar commented on #41197
Duplicate https://github.com/Microsoft/vscode/issues/3451

[2018-01-07 22:15] #41197 closed

[2018-01-07 22:29] zommerfelds commented on #24043
Still doesn't work for me on `1.19.0`.
I also noticed that the `keyboard.dispatch` setting doesn't make a difference. In either setting, navigation keys and backspace for example work, but not digits and normal letters.
Is there a way for me to verify that vscode is actually loading it as `keyCode` and not falling back to `code` somehow?

[2018-01-07 22:40] zommerfelds commented on #24043
Actually I just got it to work! The [NeoX](https://marketplace.visualstudio.com/items?itemName=nicolasantor.neox) extension was messing up my settings. Disabling it fixed the issue. I have no idea anymore why I installed this extension nor what it does. I still have to set `keyboard.dispatch` to `keyCode` for it to work.
Sorry about that and thanks for the support. Yay I can use vscode now! :)

[2018-01-07 23:01] Tyriar commented on #41177
Duplicate https://github.com/Microsoft/vscode/issues/40238

[2018-01-07 23:01] #41177 closed

[2018-01-07 23:02] auchenberg commented on #41227
This issue was moved to Microsoft/vscode-mono-debug#42

[2018-01-07 23:52] cmoon2000 commented on #41212
If I have a selection by using mouse, then I can copy the text. In other case, I have a selection using keyboard, such as `shift+left/right arrow`, then hit ctrl+c, it will replace the selection by ^C.

[2018-01-07 23:55] c0sm0s171578 opened #41257 "git error occurs when the path of the file include Korean characters."
Hello, I appreciate your excellent application.
But I got an issue about Korean character

- VSCode Version: 1.19.1
- OS Version: Mac OS 10.13.2

Steps to Reproduce:

1. mkdir 헬로우
2. open 헬로우 with atom
3. initialize git repository at 헬로우 folder
4. write aa.c in 헬로우 folder
5. Try to stage aa.c at source control panel
6. Error must occur

Although the file must be inside the repository, The error me

[2018-01-08 00:21] bmewburn commented on #39838
@chrmarti the extension pack is disabled but the dependencies appear to be enabled.

1. click php link on welcome page.
2. click cancel.
3. close editor.
4. open editor.
5. view extensions.

![screenshot from 2018-01-08 11-16-15](https://user-images.githubusercontent.com/5885195/34655935-017bd3c0-f466-11e7-9708-d9a910fcbbe7.png)

[2018-01-08 01:00] hoangnamitc commented on #41216
Thanks @ramya-rao-a !

The first, i press key tab but emmet not working.
The second i enter div tag before then emmet woking.

emmet not woking for the first. this problem ony in file .php
File .html is Good.

[2018-01-08 01:02] gnowland commented on #15048
Full path hover? Yes. But that's hardly decent ux. I've never developed for vscode before but I'll take a crack at a PR as an example of what I have in mind.

[2018-01-08 02:21] CestDiego commented on #19636
This feature has great potential. I believe that with more documentation and some in-house guides on how to create adapters for other editors (starting with Atom maybe?) this would be a step in the right direction.

[2018-01-08 02:21] tgreen7 commented on #35462
Any updates on this?

[2018-01-08 02:42] chenyong opened #41258 "Add a view to the explorer that contains functions that were navigated to"
This is a suggesting trying to make going back and forward among code more natural.

### Current problem

* "Go to Definition" and "Go Back" are great features. However they are not obvious. Most the time you just forget what's in the history.

* There are cursor movements during operations, VS Code will navigate to a previous cursor position after calling "Go Back", which is not ideal.

### A too

[2018-01-08 03:28] dfcowell opened #41259 ""(Ctrl+N) was pressed. Waiting for second key of chord..." with default keybinds"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2018-01-08 03:30] ansyral commented on #40818
Thanks, @jrieken. My fault, I misunderstood the meaning of viewcolumn. What I need is to show the link in current *tab* of the view column, not in another tab, the image below shows current behavior, I now try to add `target="_self"` attribute in the html, but seems it still opens in another tab
![image](https://user-images.githubusercontent.com/1982828/34657686-d62e558c-f463-11e7-9f57-1990c039154

[2018-01-08 03:31] dfcowell commented on #41259
Wow, this issue is a train wreck. Tried without extensions and it worked, plus I hit submit on the issue accidentally before filling out the whole content. Closing.

[2018-01-08 03:31] #41259 closed

[2018-01-08 03:31] sunjiayu12 opened #41260 "vs code editor become colorful"
- VSCode Version: 1.19.1
- OS Version: Ubuntu 17.04

There are a lot of times when I logout and re-login, there are some "colorful" regions in my Visual Studio Code Editor interface, as is shown [here](https://stackoverflow.com/questions/48123827/how-to-deal-with-visual-studio-code-colorful-bug-in-ubuntu)

Does this issue occur when all extensions are disabled?: Yes

[2018-01-08 03:36] Yensan commented on #40743
@bpasero Pasero, I must say, not.  :laughing:  Because every chinese characters will be mess, Any!!! But, are you use Windows VScode and java plugin? I found this issue in office's Windows. but I have not encountered this issue in myself Mac air. And when I turn off java plugin, every character is OK.
If you need some chinese character:
-  Insert --- Maybe you have install a chinese input software

[2018-01-08 03:42] ansyral commented on #40818
another question is that sometimes the link doesn't work(couldn't repro in a regular pattern) and there isn't any error thrown when rendering the html, and `provideTextDocumentContent` method isn't hit so I guess it is related to the previewHtml command.  should I create another thread to track this?
![image](https://user-images.githubusercontent.com/28860891/34431241-7533db0c-eca8-11e7-95b9-2e450

[2018-01-08 03:48] desmondanh opened #41261 "cannot install rope library on visual studio code for python for renaming symbol(F2)"
- VSCode Version: Code 1.19.1 (0759f77bb8d86658bc935a10a64f6182c5a1eeba, 2017-12-19T09:46:23.884Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-eslint|dba|1.4.3
python|ms-|0.9.1
shell-launcher|Tyr|0.1.6

(1 theme extensions excluded)

---

Steps to Reproduce:

1. create a python file
2. right click rename symbol for a variable
3. ge

[2018-01-08 04:31] VivekmanikandanD opened #41262 "Implement Increase Indent and Decrease Indent feature"
Please implement Increase Indent and Decrease Indent feature as available in Visual Studio which will be very helpful for aligning the codes.

[2018-01-08 04:38] dooboolab opened #41263 "vscode insider opening terminal in other window error"
- VSCode Version: VERSION 1.20.0-insider
- OS Version: OSX 10.13.2

Steps to Reproduce:

1. Open vscode.
2. Press command + shift + c
3. Then 'no provider for [object Object]' appears

Does this issue occur when all extensions are disabled?: Yes/No
Yes. Even with clean install. Before I didn't but in newer version it isn't working.

[2018-01-08 04:44] cleidigh commented on #41223
@bpasero
I'm still working through the differences between list and tree, but I think it may still be necessary to import various tree properties/interfaces even if we pass in treeCreator.  From quickOpenWidget constructor:

treeCreator?: (container: HTMLElement, configuration: ITreeConfiguration, options?: ITreeOptions) => ITree;

Am I'm misinterpreting this?  I have started to prototype the tree

[2018-01-08 04:46] abhijitkumarbiswas opened #41264 "[[[[[please add]]]]] spelling check in build inside vs code"
Please add spelling check feature inside the vs code

[2018-01-08 04:59] roblourens commented on #40776
The search output pane is empty after running a search? Do you have `"search.useRipgrep": false` set?

[2018-01-08 05:00] usernamehw commented on #41262
Select text => <kbd>Tab</kbd> / <kbd>Shift</kbd>+<kbd>Tab</kbd> ?

[2018-01-08 05:06] roblourens commented on #41166
Wait, does every extension have to check `editor.quickSuggestions`? Does the go extension do that itself?

[2018-01-08 05:09] usernamehw commented on #41264
https://marketplace.visualstudio.com/search?term=spell&target=VSCode&category=All%20categories&sortBy=Relevance

Or duplicate of https://github.com/Microsoft/vscode/issues/20266

[2018-01-08 05:11] blastmann commented on #41238
https://www.youtube.com/watch?v=GkjwA79ebW4

FYI, the video above shows the details about this issue.

[2018-01-08 05:29] VivekmanikandanD commented on #41262
Hey thanks for the help.. It works perfectly.

[2018-01-08 05:30] #41262 closed

[2018-01-08 05:32] #41264 closed

[2018-01-08 05:33] rebornix commented on #41260
@Tyriar any idea of this issue, I'm afraid it's a canvas issue.

[2018-01-08 05:34] rebornix commented on #41260
@sunjiayu12 can you try to open https://microsoft.github.io/monaco-editor/ in chromium and see if you see the same problem?

[2018-01-08 05:35] rebornix commented on #41255
@Tyfyter please file issues against omnisharp, thanks.

[2018-01-08 05:35] #41255 closed

[2018-01-08 05:35] bpasero commented on #41249
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2018-01-08 05:35] rebornix commented on #41261
@desmondanh please file issues against the python extension you are using, thanks.

[2018-01-08 05:35] #41252 closed

[2018-01-08 05:36] #41261 closed

[2018-01-08 05:36] #41162 closed

[2018-01-08 05:43] bpasero commented on #41256
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2018-01-08 05:44] bpasero commented on #41258
/duplicate https://github.com/Microsoft/vscode/issues/5605

[2018-01-08 05:45] bpasero commented on #40743
@Yensan just to make sure, you can clearly NOT reproduce this when the Java extension is disabled?

[2018-01-08 05:49] bpasero commented on #41223
@cleidigh sorry, I was not very clear: quick open is using a tree so there is a tree creator. of course for the dropdown we would have a list creator so that a `WorkbenchList` instance can be created from the outside, no need to use the tree here. You can see in [`listService`](https://github.com/Microsoft/vscode/blob/master/src/vs/platform/list/browser/listService.ts#L92) that there is a `Workben

[2018-01-08 05:50] bpasero commented on #41238
Does it reproduce if you run "`code --disable-gpu`"?

[2018-01-08 05:52] chenyong commented on #41258
I believe #5605 is a different feature. 5605 wants the possibility of of displaying definitions in current file, which I roughly achieve by calling "Go to Symbol in File..." to get the list. What is described in this issue is listing the call stack function of a deep inside function, those functions are from different files but connected by function callings.

[2018-01-08 06:00] LessThanMore opened #41265 "Dark is not so Dark."
- VSCode Version: Code 1.19.1 (0759f77bb8d86658bc935a10a64f6182c5a1eeba, 2017-12-19T09:46:02.926Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-markdownlint|Dav|0.12.0
scala-lsp|dra|0.2.2
python|ms-|0.9.1
cpptools|ms-|0.14.5
csharp|ms-|1.13.1
team|ms-|1.122.0
vscode-docker|Pet|0.0.23
vim|vsc|0.10.8

When using Dark or Dark+ color T

[2018-01-08 06:05] #41265 closed

[2018-01-08 06:14] harshavarma commented on #40668
I'm having the same issue and VSCode version is 1.19.1. Tried both disabling and removing all extensions and a fresh install of the software. Then I tried opening a different repository and now the gutter indicators work properly.

[2018-01-08 06:28] Yensan commented on #40743
I am annoyed by this issue so I test it again, then tell you:
clearly **NOT** reproduce this when the Java extension is disabled
So, if you want to reproduce, `Win + VScode + redhat java plugin`

[2018-01-08 06:40] #41151 closed

[2018-01-08 06:41] bpasero commented on #40743
@Yensan can you then please report this issue to the Java extension here: https://github.com/redhat-developer/vscode-java/issues

[2018-01-08 06:44] seiks commented on #41256
I tried this with the insiders build and the bug seems to be fixed. I could not reproduce it. 👍

+ VSCode Version: 1.20.0-insider (c4065a8ba5261456338f850a37e67732d98bf57a)

[2018-01-08 06:46] reaCodes opened #41266 "In the terminal, why fonts will change?"
- VSCode Version: 1.19.1
- OS Version: Windows 10

Steps to Reproduce:

1. run `123`

![image](https://user-images.githubusercontent.com/13817254/34661108-4440d0cc-f482-11e7-8102-1c361a160834.png)

2. run `123abc`

![image](https://user-images.githubusercontent.com/13817254/34661120-63884ea6-f482-11e7-85ff-bb672aeb3201.png)

You can see `123` changes from Bold to thin

Does this issue occur when a

[2018-01-08 06:48] seiks commented on #41256
In retrospect, I should have probably tried the insiders build before opening up an issue. My apologies for that. Open source and GitHub are still a bit new to me.

[2018-01-08 07:34] hashguide opened #41267 "Multiple Cursors feature not working anymore on Windows Alt + Click"
- VSCode Version: 1.19.1
- OS Version: Windows 10

Steps to Reproduce:

1. Multiple cursors Alt + Click used to work flawlessly, but now does not work on Windows 10
2. Tried restarting vscode and OS with no luck

Does this issue occur when all extensions are disabled?: Yes/No
Yes

[2018-01-08 07:41] Yensan commented on #40743
Sure. https://github.com/redhat-developer/vscode-java/issues/405

[2018-01-08 07:47] Yensan commented on #40743
#https://github.com/redhat-developer/vscode-java/issues/394

[2018-01-08 07:53] ramya-rao-a commented on #41166
No, extensions don't need to check for `editor.quickSuggestions`.

VS Code shouldn't have triggered suggest and called the php completion provider

[2018-01-08 07:54] ramya-rao-a commented on #41216
Is that the complete contents of the php file?

[2018-01-08 07:56] NakOh commented on #41060
Yeah.. I am embarrassed with smart suggestions.

![2018-01-08 4 54 37](https://user-images.githubusercontent.com/7420198/34662521-a1877ad0-f494-11e7-8b8f-b57019dbdad9.png)

Maybe this suggestion don't need.

Even if I choose another proposal at least once, there is not enough ground to judge whether the choice will continue to be valid or not.

I want to turn off the ability to remember my choice,

[2018-01-08 08:05] chrmarti commented on #39838
The pack can include additional functionality, so I'm not sure it would be safe to assume everything is installed without the pack.

[2018-01-08 08:08] hoangnamitc commented on #41216
This is all my problem,
![emmet](https://user-images.githubusercontent.com/7042462/34662775-a8ed49c6-f485-11e7-99ec-bac4c34f84f7.gif)

My setting:
![image](https://user-images.githubusercontent.com/7042462/34662795-c2993a1a-f485-11e7-8d45-c456c630e569.png)

[2018-01-08 08:11] dbaeumer commented on #41045
The PowerShell script is not slow in general. It samples the CPU for ~5 seconds to get a more realistic picture when we capture the CPU load since Windows doesn't store any historical data.

@weinand the wmic command btw does the same with the only difference of one sampling for 1 second once which is the default for the underlying OS call. If I run the command in the command prompt it takes ~2 se

[2018-01-08 08:19] Leninsky commented on #27041
Still not implemented ?

[2018-01-08 08:19] chrmarti commented on #41201
The merge decorations are on top of the current line decoration. You can use transparency to let the underlying decoration shine through:
[code]

[2018-01-08 08:20] grandtele commented on #41249
- VSCode Version: Code - Insiders 1.20.0-insider (c4065a8ba5261456338f850a37e67732d98bf57a, 2018-01-05T07:58:53.336Z)
- OS Version: Darwin x64 17.3.0
- Extensions: none
---

Steps to Reproduce:

1. **nfs server**
We have alot of nfs shares in different countries, this is typical share
/home *(rw,fsid=0,insecure,sync,no_subtree_check,all_squash,no_wdelay,anonuid=0,anongid=0,sec=krb5p:krb5i:krb5)
2.

[2018-01-08 08:22] chrmarti commented on #41224
/duplicate of #40557

[2018-01-08 08:22] #41224 closed

[2018-01-08 08:24] dbaeumer commented on #41105
Looks like the JSON returned from the PS script is not valid JSON. I will add some code that prints the JSON in terms of the failure to better understand why it is not parseable.

[2018-01-08 08:34] dbaeumer commented on #41105
I have no idea why this is failing. I added more proper logging code.

@MikeB2012 can you try this with the insider build from tomorrow and see if it prints more information.

Running code -status require PowerShell on your System. Do you by any change don't have it installed ? Which version of Windows are you running?

[2018-01-08 08:44] dbaeumer commented on #41125
The problems are only cleared when the end pattern is detected in the output. The ends pattern in our example is defined as `"endsPattern": "^\\s+End: .+"` which I can't detect in the output. I can't even detect the beginsPattern `"beginsPattern": "Compiling\\.\\.\\.",`.

For problem matcher that run in the background (e.g. watching compile tasks) the match of the begins patterns signals the start

[2018-01-08 08:44] #41125 closed

[2018-01-08 08:47] dbaeumer commented on #41057
@isidorn do you provide these in code complete in launch configs ?

[2018-01-08 08:49] sunjiayu12 commented on #41260
@rebornix Thanks, I tried to open Monaco Editor in chromium and Firefox, logged out, waited for some time, and logged in, but there were no same problem.
And I found that, the probability of this bug has positive correlation with the time of logout. If I logout and re-login instantly, this problem doesn't happen:smile:

[2018-01-08 08:50] dbaeumer commented on #40995
There is more to is than the ". In PowerShell `)` has a special meaning when pass on the command line. Have you tried to put this in single quotes. E.g. `'sc71231)_Test.cmd'` ?

[2018-01-08 08:56] dbaeumer commented on #40907
This is a known problem, The reason is that when running under Windows VS Code assumes windows slashes as drive letters and not WSL / git bash drive layouts and back slashes.

[2018-01-08 08:59] dbaeumer commented on #40922
Dups 33232

[2018-01-08 08:59] #40922 closed

[2018-01-08 09:02] isidorn commented on #41057
@dbaeumer no, but there is already a feature request for this

[2018-01-08 09:02] dbaeumer commented on #40758
This is correct. There is currently no API to start a tasks from an extension.

[2018-01-08 09:06] dbaeumer commented on #40868
@mattbierner does that ring a bell. This is the contributed TypeScript tasks. I thought I ask before I start investigating if this is a task execution engine problem.

[2018-01-08 09:09] dbaeumer commented on #40868
I tried it under Windows and I get

[code]

which seems correct using tsc version 2.6.2

[2018-01-08 09:10] #41245 closed

[2018-01-08 09:13] dbaeumer commented on #32781
Add a `cwd` option to the task. This will run the task in that directory.

We don't have support to inject a task into a open terminal since there is no easy way to detect if a terminal is idle and can accept input. So we have no plans to add this.

[2018-01-08 09:13] #32781 closed

[2018-01-08 09:14] dbaeumer commented on #40721
@pquiring thanks. Closing then.

[2018-01-08 09:14] #40721 closed

[2018-01-08 09:16] dbaeumer commented on #40779
This makes sense to me.

@gregvanl can you start on this and then @isidorn and me can review.

[2018-01-08 09:26] bpasero opened #41268 "linesTextBufferBuilder.ts(37,37): error TS2304: Cannot find name 'Buffer'"
Looks like linesTextBufferBuilder.ts drags Buffer from node.js into the monaco editor.

[2018-01-08 09:27] isidorn commented on #41251
I do not agree.
Users might watn to first add breakpoints before saving a file, while limit this scenario?
If the file with brekapoints is unsaved and you start debugging the debugger shuold return those breakpoints as unverified and tehy will appear grayed out - if that is not the case please file an issue against the powershell extension.

Closing as this was a concious design decision.

[2018-01-08 09:27] #41251 closed

[2018-01-08 09:27] ad8e opened #41269 "click through tooltips (or make them go away after mouse leaves)"
- VSCode Version: 19.1
- OS Version: Windows 8.1
- C/C++: 0.14.5

On mouseover of code, an intellisense bubble appears, like so:

![bubble](https://user-images.githubusercontent.com/19739817/34638189-a19bea44-f294-11e7-9587-6c2161125a73.png)

These bubbles don't do much when clicked, but they get in my way when I try to click things under them. I would prefer if clicks passed through these bubbles

[2018-01-08 09:28] bpasero commented on #41268
Please revert https://github.com/Microsoft/vscode/commit/b811600ecc57992a82a1f50ed9bf128065bc8787 after fixing.

[2018-01-08 09:28] egamma commented on #41045
This results in a long pause when running `code --status` without any progress message that something is being computed. Can we reduce the sampling duration or show a progress message, so that it is clear that something is going on when running code --status.

[2018-01-08 09:33] bpasero commented on #41256
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2018-01-08 09:34] bpasero commented on #40743
Thanks, closing this one then.

[2018-01-08 09:34] #40743 closed

[2018-01-08 09:35] bpasero commented on #41249
@grandtele so it looks like it is just the clicking into the editor tab that gets stuck, it is NOT the entire application getting stuck or is it?

[2018-01-08 09:36] bpasero commented on #41155
Let's treat this as duplicate of https://github.com/Microsoft/vscode/issues/5344 where a simple fullscreen support is proposed that would not have this flaw.

[2018-01-08 09:36] #41155 closed

[2018-01-08 09:36] joaomoreno commented on #40365
@nojvek Have you tried increasing the file count limit? https://superuser.com/questions/302754/increase-the-maximum-number-of-open-file-descriptors-in-snow-leopard

[2018-01-08 09:39] joaomoreno commented on #38342
@Tyriar Excellent, thanks!

[2018-01-08 09:39] CharlesMei commented on #40930
@bpasero Thank you for your reply. In my pc, an empty file named a.xlsx can cause the crash. My windows is Chinese edition while i set the vs code to use English, i don't if this matters.

[2018-01-08 09:41] desmondanh commented on #41261
the problem is on Visual studio code when i click install when it recommended to install "rope library" it does run but with error like above.
I solved it by downloaded it manually from PyPI - the Python Package Index and install it with
"python setup.py install"

[2018-01-08 09:43] jizillon opened #41270 "issue code"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2018-01-08 09:44] joaomoreno commented on #40899
I'd actually prefer it to return 0 since here's the rule for the normal case:

- 0, if the content's top is aligned with the viewport's top
- 1, if the content's bottom is aligned with the viewport's bottom

When the content height is less than the viewport height, the content's top is aligned with the viewport's top... so 0 would make more sense.

[2018-01-08 09:44] joaomoreno commented on #40825
This is #22269

[2018-01-08 09:48] weinand commented on #41227
This problem is independent from the mono debugger: I can reproduce this with JavaScript debugging too. There seems to be an issue with decorations on linux.

[2018-01-08 09:50] joaomoreno commented on #13965
#6333

[2018-01-08 09:50] #13965 closed

[2018-01-08 09:51] #40719 closed

[2018-01-08 09:52] #41192 closed

[2018-01-08 09:55] joaomoreno commented on #40681
@joshunger I assume the operation is really fast if you don't click the file first?

@jrieken @alexandrudima I suspect this 10s delay occurs due to sending the 3.3MB text model over to the extension host. How can I confirm my suspicions?

[2018-01-08 09:56] #41268 closed

[2018-01-08 09:56] weinand commented on #19636
@CestDiego The idea behind debug adapters is to be **independent** from a debugger frontend (IDE). So "creating adapters" for Atom doesn't make any sense. The correct approach would be to **host** debug adapters in Atom.

[2018-01-08 09:56] joaomoreno commented on #40727
@joshunger Is this a submodule?

[2018-01-08 09:57] #40687 closed

[2018-01-08 09:58] #22025 closed

[2018-01-08 09:59] joaomoreno commented on #40806
Sounds like terminal related.

[2018-01-08 10:01] joaomoreno commented on #40844
Since your pain point is rather related to UX around the SCM panel, I'll close this as a duplicate of https://github.com/Microsoft/vscode/issues/14582

[2018-01-08 10:01] #40844 closed

[2018-01-08 10:02] joaomoreno commented on #40872
VS Code simply doesn't support GitHub's Desktop's git. Thanks for your information.

[2018-01-08 10:02] #40872 closed

[2018-01-08 10:04] alexandrudima commented on #40681
@joaomoreno I can only imagine being able to reproduce out of source and adding log statements at the right places.

[2018-01-08 10:04] isidorn commented on #41157
@bpasero I also see this corner case. The issue is that the context menu stops the world, so I do not get any events at all to update my [`is_alt_key_pressed_state`](https://github.com/Microsoft/vscode/blob/master/src/vs/platform/actions/browser/menuItemActionItem.ts#L27)
Is there some electron event fired when a context menu is opened?

[2018-01-08 10:04] grandtele commented on #41249
All Application is frozen
![video-56h81qm](https://user-images.githubusercontent.com/22945890/34666260-1ec4fc62-f46c-11e7-9ecd-f5c3e91c0291.gif)

[2018-01-08 10:07] seiks commented on #41256
I did that again with the same results as my initial report.

However, I decided to reset my settings and only set `files.trimFinalNewlines` to `true` and what do you know, it started working. There seems to be some configuration options in my config that are causing conflicts.

I'll investigate this more and report back.

[2018-01-08 10:08] bpasero opened #41272 ""Open to Side" no longer works from explorer or problems view"
Steps to Reproduce:

1. focus a problem in problems view
2. Hit `Ctrl+Enter` on macOS

=> problem is not opened to the side

It looks like there is a [`MarkerFocusContextKey`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/markers/common/constants.ts#L14) required for this but I never see it set when the problems viewer gets focus.

/cc @joaomoreno

[2018-01-08 10:09] alexandrudima commented on #41185
Which commands are bound to the desired key combination?

You can search for "alt+2", "ctrl+alt+2", "alt+3", and "ctrl+alt+3" and then remove those keybindings.

![keyboard-conflicts](https://cloud.githubusercontent.com/assets/5047891/25484174/38f5b004-2b59-11e7-994b-dfa96ef043ce.gif)

[2018-01-08 10:09] #41185 closed

[2018-01-08 10:10] joaomoreno commented on #40873
How long does `git status` take to execute in this workspace?

Is there anything different about this project other than having large images? Is it in a network share, etc?

[2018-01-08 10:10] joaomoreno commented on #40839
https://github.com/Microsoft/vscode/issues/7426#issuecomment-277737150

[2018-01-08 10:10] #40839 closed

[2018-01-08 10:11] joaomoreno commented on #40878
This repository is about VS Code, not Visual Studio. https://stackoverflow.com/questions/30527522/what-are-the-differences-between-visual-studio-code-and-visual-studio

[2018-01-08 10:11] #40878 closed

[2018-01-08 10:12] joaomoreno commented on #40895
That's fine. That feature is only meant for the final product.

[2018-01-08 10:12] #40895 closed

[2018-01-08 10:13] #30536 closed

[2018-01-08 10:13] #38254 closed

[2018-01-08 10:14] weinand commented on #40105
The (copied) package-lock.json file for node-debug was out of date.
node-debug was using the correct (latest) version of the npm modules.
I've updated package-lock.json in vscode/extensions/ms-vscode.node-debug.

[2018-01-08 10:14] #40105 closed

[2018-01-08 10:14] sandy081 commented on #28447
@8lbiasian Thanks for the logs and it looks like downloading the extension from the market place is not finishing. May be there is an error while downloading. Do you see any error message?

I do not think `git` has anything to do with this. It is not related.

Another interesting entry in the log is

Looks like you do not have Temp directory, where we download the VSIX from market place.

@joaomor

[2018-01-08 10:18] #40920 closed

[2018-01-08 10:21] joaomoreno commented on #40991
#40421

[2018-01-08 10:21] #40991 closed

[2018-01-08 10:22] joaomoreno commented on #40617
Since it seems to be related to a specific machine, I'll close this. Glad you could localize the issue.

[2018-01-08 10:22] #40617 closed

[2018-01-08 10:22] derwaldgeist commented on #38878
I'd like to support this. I'm coming from Atom and used to not having my .gitignored files clutter my folder structure.

[2018-01-08 10:23] dbaeumer commented on #41045
I can add a message explaining that this takes some time.

I can reduce the sample duration as well, however this might give a incorrect picture. Since we want to use this to track down problems I would not opt to lower this too much.

[2018-01-08 10:23] joaomoreno commented on #41019
Similarly to https://github.com/Microsoft/vscode/issues/40249, do you have any `git worktree` setting configured?

[2018-01-08 10:25] joaomoreno commented on #40851
What does the following return?

[code]

[2018-01-08 10:26] isidorn opened #41273 "Relauncher contribution: NPE"
1. Linux, start vscode, open console, notice exception

[code]

Tracking back the change set it seems this has caused this https://github.com/Microsoft/vscode/commit/4ceb6f9d9b3400a43c6ea88015c3c879e6fe99c2

It seems like all sort of things get broken after this, including debug decorations being missing.
fyi @weinand

[2018-01-08 10:26] jonaskello commented on #41019
Yes I read that issue. I have no special settings that I know of. My output is this:

[code]

[2018-01-08 10:27] joaomoreno commented on #41025
We could maybe strip the BOM in VSCE...

cc @modigrv

[2018-01-08 10:29] jonaskello commented on #41019
I think what is special in my case is that I am using the `git-wrap.bat` as described in #4651.

[2018-01-08 10:29] seiks commented on #41256
I found the underlying issue.

When `editor.formatOnSave` is set to `true` alongside `files.trimFinalNewlines`, the trim function will break for filetypes which don't have a proper formatter available. This is why the bug might not show up in all use cases.

I initially discovered this breakage in functionality while editing a `fish` file, and then later on noticed that normal text files do not ge

[2018-01-08 10:29] alexandrudima commented on #40114
Thank you @akbyrd . I have been able to reproduce locally. It is indeed some form of race condition.

---

@bpasero I've added the following keybindings:
[code]

Keeping one of them pressed or rapidly running them will repro for me.

I have added a trace to figure out who changes the cursor position, and the only trace that shows up is the `restoreViewState` call. I can only assume that there migh

[2018-01-08 10:30] dbaeumer commented on #41045
It now shows
[code]

[2018-01-08 10:30] joaomoreno commented on #40950
Can you reproduce the issue again, but first:

- Open `Developer: Show Running Extensions`
- Click the `Start Extension Host Profile` button at the top right, it's the circle
- Reproduce the issue
- Stop profile

You can show me a screenshot of the profile result. You can also send me the profiling results.

[2018-01-08 10:30] sandy081 commented on #36884
@selvassn Are you able to reproduce the issue you mentioned in https://github.com/Microsoft/vscode-tslint/issues/306?

- Is it happening while installing the extension freshly or while updating the existing extension?
- Can you start VS Code in trace mode using `code --log=trace` to reproduce it and can you provide us the product logs (`Show logs`) of Renderer and Window?

[2018-01-08 10:31] #41273 closed

[2018-01-08 10:31] isidorn commented on #41273
I triggered new linux builds with the fix so I can verify if the debug weirdness got fixed

[2018-01-08 10:31] derwaldgeist opened #41274 "Feature request: Working sets for the file explorer"
Quite often, I want to focus on implementing a specific feature in a complex project with a lot of files (which may even be spread across several project roots). Navigating the tree to pick the right files gets quite tedious in these cases.

To make it easier to focus on a specific part of your code, Eclipse and Atom's Nuclide extension offer a concept called "working sets". These allow you to res

[2018-01-08 10:31] joaomoreno commented on #40990
VS Code simply depends on, and ships with, Electron. You don't have to install NodeJS to run VS Code.

[2018-01-08 10:31] #40990 closed

[2018-01-08 10:31] isidorn commented on #38878
fyi @joaomoreno @jrieken

[2018-01-08 10:32] sandy081 commented on #40357
@mike-lischke Thanks for the snippet. I will use it to reproduce and fix it.

[2018-01-08 10:32] joaomoreno commented on #40845
We'll probably not invest in this... But the code is out there for people to use!

[2018-01-08 10:32] #40845 closed

[2018-01-08 10:33] bpasero commented on #41272
Looks like it also does not work for the explorer. I think the [`onFocusChange`](https://github.com/Microsoft/vscode/blob/master/src/vs/platform/list/browser/listService.ts#L153) is never fired?

[2018-01-08 10:34] derwaldgeist commented on #41274
PS: I've seen that the similar request #10962 has been closed as a dupe of #9498, but the latter is *not* what I mean. In my case, it's all about filtering the explorer view, not about storing sets of open files.

[2018-01-08 10:34] bpasero commented on #41273
Oh, thanks 👍

[2018-01-08 10:34] seiks commented on #41256
And just to confirm, I reran this same experiment with 18.1 again and it trims everything properly with just the aforementioned settings enabled (and nothing else).

[2018-01-08 10:35] joaomoreno commented on #39325
Actually these colors are already themeable. We won't support customising the width.

[2018-01-08 10:37] joaomoreno commented on #41104
We could perhaps only show this message if we detect a `.git` folder in your workspace...

[2018-01-08 10:37] weinand commented on #37589
@Tyriar is it possible to find out whether the integrated terminal is accepting input?

For **external** terminals I'm able to get this information (at least on macOS), so I can reuse an external terminal if it is not busy running a command.

[2018-01-08 10:38] joaomoreno commented on #41092
You have no extensions installed? Can you share a screen recording of the issue?

[2018-01-08 10:39] joaomoreno commented on #41089
This issue was closed because it doesn't meet our standards of a properly filled issue. Please read our guide about [Submitting Bugs and Suggestions](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions).

[2018-01-08 10:39] #41089 closed

[2018-01-08 10:40] sandy081 commented on #40783
@Akhail Are you asking for workspace profiles that has extensions to be used for that workspace?

[2018-01-08 10:42] joaomoreno commented on #41108
@bpasero The update contribute code uses the storage service for this: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/update/electron-browser/update.ts#L236

It seems to work for pretty much everyone except this user. What could go wrong for him?

[2018-01-08 10:43] joaomoreno commented on #41136
Awesome steps and details!

[2018-01-08 10:43] alexandrudima commented on #40706
I have tried with both `Light` and `Light+` default themes, but I cannot reproduce.

The Inspect TM Scopes widget computes the explanation for the color (the row where the selector is presented) with a different algorithm than that used regularly.

The reason is that the one that is used regularly uses a trie data structure and the source rule is discarded while building the trie.

I am quite curi

[2018-01-08 10:43] sandy081 commented on #1927
@damassi The hack might break other behaviour like Scrolling if there are many problems.
I am open to take a PR for this with proper fix.

[2018-01-08 10:44] joaomoreno commented on #41137
I've actually been getting a lot of praise for that action... It was requested by a couple of users. Others have thanked me for it. Even @alexandrudima is a big fan.

We can have an option for it, but I'll leave it on by default.

[2018-01-08 10:46] joaomoreno commented on #41174
These outline rules are a pain.

[2018-01-08 10:46] sandy081 commented on #40699
@Eskibear Thanks for the steps. I will try to reproduce it.

[2018-01-08 10:49] alexandrudima commented on #40726
The OP issue, searching for `that spans` correctly yields no results.

---

Now, the curious case of `that\sspans` + regex mode:

Currently, `\n` must be present explicitly in the search text for our multi-line search mode to kick in.

The fact that a single `\s` in the search text doesn't bring the search in multiline mode is a duplicate of #9051 . The root cause is that we go into multiline sear

[2018-01-08 10:49] #40726 closed

[2018-01-08 10:50] joaomoreno commented on #41191
This command can't pick up the selection from the SCM panel, unfortunately. We don't support it.

[2018-01-08 10:50] #41191 closed

[2018-01-08 10:50] bpasero commented on #40930
@CharlesMei would you be able to follow https://github.com/Microsoft/vscode/wiki/Native-Crash-Issues#windows to get a crash dump?

[2018-01-08 10:51] joaomoreno commented on #41203
https://github.com/Microsoft/vscode/issues/40851

[2018-01-08 10:51] #41203 closed

[2018-01-08 10:51] joaomoreno commented on #41226
https://github.com/Microsoft/vscode/issues/40851

[2018-01-08 10:51] #41226 closed

[2018-01-08 10:52] alexandrudima commented on #40713
@rebornix giving to you to investigate. I am pretty sure it is some timing problem, where the view state is restored at a time when the find widget didn't create the view zone, or something along those lines...

[2018-01-08 10:52] benurb commented on #40660
Quick update. I upraded mac OS from El Capitan to High Sierra and the problem persists:
[code]

[2018-01-08 10:53] bpasero commented on #41157
@isidorn hm, we use a timeout of 0 though before opening the next menu so I would assume that gives time enough to detect that the modifier key is no longer pressed?

If we need the event at all cost, you could add it to the [`showContextMenu`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/contextview/electron-browser/contextmenuService.ts#L32) method.

[2018-01-08 10:54] joaomoreno commented on #41218
Maybe FAR Manager tries to launch Code multiple times in the same second?

[2018-01-08 10:54] bpasero commented on #41249
Thanks. I fear this could be an issue with node.js. Even though we load the file async, maybe some lookup (DNS?) blocks the world :-/.

[2018-01-08 10:56] sandy081 commented on #40505
Issue #40368 could reoccur if shared process start up is delayed.

[2018-01-08 10:56] sandy081 commented on #40368
@bartoszdurda Thanks for the hint.

@bpasero So #40425 is the root cause of this.reverted, this is no longer happening in insiders?

Since #40425 reverted and this is no longer happening in insiders, closing this issue. I also associated this to the issue #40505 that is to revisit delaying startup of shared process.

[2018-01-08 10:56] #40368 closed

[2018-01-08 10:59] bpasero commented on #41256
@seiks I can reproduce in stable, weird indeed. I can however not reproduce in insiders so it looks like this is fixed, even though I am not sure what change fixed it.

**Steps:**
* configure `editor.formatOnSave: true`
* configure `files.trimFinalNewlines: true`
* open a plain text file
* add multiple new lines at the end
* save

=> new lines are not removed in stable, but in insiders

/cc @jriek

[2018-01-08 10:59] joaomoreno commented on #41257
https://github.com/Microsoft/vscode/issues/41246

[2018-01-08 10:59] #41257 closed

[2018-01-08 10:59] #41256 closed

[2018-01-08 11:00] joaomoreno commented on #41128
Is your project in a network share? Is there anything special about it? Can you reproduce in other projects?

[2018-01-08 11:01] joaomoreno commented on #40668
This is the SCM view:

<img width="531" alt="screen shot 2018-01-08 at 12 00 38" src="https://user-images.githubusercontent.com/22350/34667963-93bce422-f46b-11e7-8e1e-702aab2951b2.png">

[2018-01-08 11:01] bpasero commented on #41108
@Shikkic how about other view state, e.g. is your last used editor restoring properly after a restart of Code on the same folder?

[2018-01-08 11:02] joaomoreno commented on #28447
@8lbiasian What is the value of the `%TEMP%` environment variable in your system?

[2018-01-08 11:03] sandy081 commented on #26005
@OwnageIsMagic There is not.

[2018-01-08 11:03] joaomoreno commented on #41019
Got it. VS Code doesn't support msys2 git. If it used to work, it was coincidental. The only supported mechanism is Git for Windows: https://git-scm.com/

[2018-01-08 11:03] #41019 closed

[2018-01-08 11:04] bpasero commented on #41137
Sure a setting is fine, even though ugly because I am most likely the only user...

[2018-01-08 11:04] bpasero commented on #41137
@alexandrudima @joaomoreno how about a setting for what happens when you click on a change? the setting could state if the file should be opened or the diff (by default it would still open the diff).

[2018-01-08 11:05] warpdesign commented on #41093
For anyone with French/German keyboard layout having this issue, as a workaround, changing the `Move Editor into Second Group` and `Move Editor into Third Group` shortcuts which are assigned to `ctrl + alt + é` and `ctrl + alt + "` fixes the problem and allows to print `"` and `~` characters again.

[2018-01-08 11:05] seiks commented on #41256
I can confirm. I can neither reproduce this in insiders, so we are all good. 👍

[2018-01-08 11:10] alexandrudima commented on #41137
@bpasero My self-estimated usage of the git viewlet:
* top action by far: open diff editor on a file.
* second place: open the file for editing (not in a diff editor); sometimes I misclick and then do the editing in the diff editor because I'm lazy. Sometimes I switch from the editor title action. Sometimes I right click and look for open file.
* rest of the time: stage changes, discard changes, c

[2018-01-08 11:10] johnroper100 commented on #40851
I am having the same issue here as well, all extensions disabled.

[2018-01-08 11:11] AlexeyRipenko commented on #14582
+1.
If you have changes in multiple folders and there are a lot of changes it becomes too hard to navigate.
I like how it has been implemented for Visual Studio Team Explorer (for instance, VS 2017)

[2018-01-08 11:13] sandy081 commented on #40987
I assume this meant for all those settings in VS Code with denying text.

@SetTrend Can you please list those settings with this pattern?

[2018-01-08 11:15] ebynum opened #41276 "Visibility of Extensions Viewlet (for "when" contexts)"
There is not currently a way to detect the visibility (or focus) of the "Extensions Viewlet" like there is for the Search and Explorer Viewlets.
[searchViewletVisible, searchInputBoxFocus, explorerViewletVisible, explorerViewletFocus]

My use-case for this is to allow intelligent toggling of the sidebar viewlets (roughly like https://github.com/Microsoft/vscode/issues/41186), although I suspect th

[2018-01-08 11:16] canichols2 opened #41277 "duplicating line produces extra duplicate lines"
- VSCode Version: Code 1.19.1 (0759f77bb8d86658bc935a10a64f6182c5a1eeba, 2017-12-19T09:46:23.884Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
polymer-snippets|chi|1.0.1
language-polymer|jon|1.0.3
polymer-ide|pol|0.6.0
vscode-icons|rob|7.19.0

---

Steps to Reproduce:

1. On Windows, select multiple portions of the same line
2. Use the "A

[2018-01-08 11:18] ebynum opened #41278 "Visibility of Debug Viewlet (for "when" contexts)"
There is not currently a way to detect the visibility (or focus) of the "Debug Viewlet" like there is for the Search and Explorer Viewlets.
[searchViewletVisible, searchInputBoxFocus, explorerViewletVisible, explorerViewletFocus]

My use-case for this is to allow intelligent toggling of the sidebar viewlets (roughly like https://github.com/Microsoft/vscode/issues/41186), although I suspect there a

[2018-01-08 11:18] sandy081 commented on #41071
@dakaraphi How is it helping the cluttering issue when it is moved from one location to another location?

- If the custom views are not helpful you can hide it.
- If the extension contributing custom view is not helpful you can either uninstall or disable it.

May I know, if there are issues that are not being solved by above approaches?

[2018-01-08 11:22] navin22 opened #41279 "Search in Source Control Side bar."
- VSCode Version: Code 1.19.1 (0759f77bb8d86658bc935a10a64f6182c5a1eeba, 2017-12-19T09:46:23.884Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
csharp|ms-|1.13.1
PowerShell|ms-|1.5.1
code-spell-checker|str|1.6.2

(1 theme extensions excluded)

---

Steps to Reproduce:

1.
2.

Reproduces without extensions: Yes/No

[2018-01-08 11:25] ebynum opened #41280 "Visibility of Source Control Viewlet (for "when" contexts)"
There is not currently a way to detect the visibility (or focus) of the "Source Control Viewlet" like there is for the Search and Explorer Viewlets.
[searchViewletVisible, searchInputBoxFocus, explorerViewletVisible, explorerViewletFocus]

My use-case for this is to allow intelligent toggling of the sidebar viewlets (roughly like https://github.com/Microsoft/vscode/issues/41186), although I suspec

[2018-01-08 11:26] joaomoreno opened #41281 "Terminal fails to render command output"
1. Open Terminal
2. Press <kbd>Enter</kbd> consecutively until you reach the bottom of the terminal's view port
3. Run any command

No output is provided

I saw this first by running a long `git status` command:

![kapture 2018-01-08 at 12 25 13](https://user-images.githubusercontent.com/22350/34668763-1121745c-f46f-11e7-98e9-6b2b4673207e.gif)

[2018-01-08 11:26] bmewburn commented on #39838
I didn't install the pack dependencies separately. I clicked cancel on installing the pack which installed and enabled the dependencies anyway.

[2018-01-08 11:26] bgarrant opened #41282 "Language support for Antler"
I have had this same issue for a while now and wondering if there is a work around. When I use a custom language syntax like Antlers (https://marketplace.visualstudio.com/items?itemName=ahdesign.language-antlers) for example, the HTMl Autocomplete (Intellisense) no longer functions.  If I associate `antlers` with `html` then I lose the antlers syntax coloring.  How can I get both Antlers (or any o

[2018-01-08 11:28] joaomoreno commented on #41272
The `problemFocus` is correctly set.

[2018-01-08 11:30] nabeelomer opened #41283 "Funny behaviour in the integrated terminal"
- VSCode Version: January 2018 (version 1.20) Insiders
- OS Version: macOS 10.13.2

Steps to Reproduce:

1. Open the integrated terminal.
2. Fill the terminal with text so that it needs to auto-scroll.
3. `ls`
4. Notice that no output appears.

Does this issue occur when all extensions are disabled?: Yes

  [A screen recording of the bug](https://drive.google.com/file/d/1jv2ypwCXNwszl4Xq4WSJHUf1yb

[2018-01-08 11:34] bgarrant commented on #41282
This works in other editors such as Atom so can't figure out why VSC can get this to work? Wether I am using a Twig or Antlers extension, same issue.  No HTML Autocomplete or Intellisense.

Type `<div class` and you will get nothing but text suggestions. and it does not even complete the `<div class="">`.

[2018-01-08 11:34] sandy081 commented on #41139
Duplicate of #851

[2018-01-08 11:34] #41139 closed

[2018-01-08 11:35] ebynum commented on #41186
My current solution for this (for the Explorer Viewlet) adds the following keybinding (in keybindings.json):

    {
        "key": "cmd+shift+e",
        "command": "workbench.action.toggleSidebarVisibility",
        "when": "explorerViewletVisible && explorerViewletFocus"
    }

1. When the Explorer Viewlet is not currently visible, it shows (and focuses) the viewlet. [Default behavior.]
2. When

[2018-01-08 11:43] sandy081 commented on #41160
Extension authors can already control the visibility of the view progrmmatically by providing the when clause. Refer [here](https://code.visualstudio.com/docs/extensionAPI/extension-points#_contributesviews).

Allowing a new way to control the same will be cumbersome.

[2018-01-08 11:43] #41160 closed

[2018-01-08 11:48] chrmarti commented on #39838
Got it. I agree, that's a bug.

[2018-01-08 11:52] sandy081 commented on #6252
@isidorn with new re-write, appending a message will writes into the backup file and also writes into the output model if exists. Append will never show the channel (which I assume also same before).
So Append and Hide calls will not have race condition.

[2018-01-08 11:57] sandy081 commented on #15756
I do not think we can do anything from VS Code side without such support from Market place.

[2018-01-08 12:01] jeffhuys commented on #41260
@sunjiayu12 do the regions stay until you restart VSCode? Can you "wipe away" the regions by, for instance, scrolling?

[2018-01-08 12:02] koutsenko opened #41284 "terminal lineHeight property not work"
I've illustrated it. For editor and terminal I used a lineHeight = 11 value.
In editor it works, but in terminal it fails.
VSCode 1.19.1, W10x64.

<img width="708" alt="screen1" src="https://user-images.githubusercontent.com/529293/34669795-8bfe566c-f484-11e7-8d10-2c4e8f575ba7.png">

[2018-01-08 12:03] carstengrimm commented on #40873
I've run git status and it showed the result (of changed commits) almost instantly. (remote terminal though)

I also removed my .git folder to reinitialize the whole project, as well as removing the huge file colletion of pictures. So this project is pretty much the same as all others with roughly 150 mb 5000 files

- yet the built-in functions do not seem to recognize anything.
- changing a file

[2018-01-08 12:04] sandy081 commented on #41075
Duplicate of #40722

[2018-01-08 12:04] #41075 closed

[2018-01-08 12:07] sandy081 commented on #41215
Seems related to #851

[2018-01-08 12:08] #41215 closed

[2018-01-08 12:22] MathiasMagnus commented on #851
Just as a comment, in case someone would not open the mentioned issue (#41139) consider the use case depicted there. My launch.json may look radically different on Windows and inside WSL.

In my actual case it's just the type of the debugger and the paths to files in command-line arguments, where in one case it's `C:\Users\...` and in the WSL case `/mnt/c/Users/...`. If others have targets for pub

[2018-01-08 12:41] biij5698 opened #41285 "建议vscode的终端可以编辑名称"
![vscode](https://user-images.githubusercontent.com/1697228/34671099-104d27e8-f4b4-11e7-8189-d898961c5a8f.png)
图中圈起来的地方：终端，有时候需要打开多个终端，但它们是以数字编号命名的，如果可以自定义名称那就太好了，这样方便搞清楚哪个终端是干什么的，像现在这样以数字命名的，多了以后容易搞混淆。

[2018-01-08 12:47] u2berggeist commented on #40872
Welcome. Are there plans to correct the Common Questions answer? Because I was just going off of that.

[2018-01-08 12:51] jonaskello commented on #41019
Gotcha. I would be willing to look into a work-around like the one that worked before. Do you have any pointers where to start? For example is there a log somewhere of vscode <-> git communication? Is there any technical docs somewhere specific to the git integration?

[2018-01-08 12:59] bpasero commented on #41272
Looking into the explorer issue...

[2018-01-08 13:07] joshunger commented on #40727
@joaomoreno I think Visual Studio thought it was a submodule, incorrectly

[2018-01-08 13:18] leandro-sds commented on #40840
Yes. But now is working. Some days later I tried again and changed the font

[2018-01-08 13:20] joshunger commented on #40681
@joaomoreno you got it.  It takes < 1 second if I don't click the file first.

This is an export of a Google Spreadsheet.  Yes, I can share it but not on this issue.  Can I email you the file or share via OneDrive?  If so what email?  Or, do you have any large Google Spreadsheet JSON exports?

[2018-01-08 13:21] guilhermeagostinelli opened #41286 "[folding] Go To Line doesn't scroll to desired line when the code is collapsed"
- VSCode Version: Code 1.19.1 (0759f77bb8d86658bc935a10a64f6182c5a1eeba, 2017-12-19T09:41:01.414Z)
- OS Version: Linux x64 4.10.0-42-generic
- Extensions: none
---

Steps to Reproduce:

1. Collapse a piece of code.
2. Hit Ctrl+G and type the number of one of the hidden lines.

When doing that, the cursor gets positioned correctly, but the screen gets scrolled to the collapsible line and not to the

[2018-01-08 13:31] lolmaus opened #41287 "Code's debug server eats 100% of a CPU core and won't exit when Core exits"
- VSCode Version: Code 1.19.1 **[Unsupported]** (0759f77bb8d86658bc935a10a64f6182c5a1eeba, 2017-12-19T09:41:01.414Z)
- OS Version: Linux x64 4.10.0-42-generic
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-github|Kni|0.25.0
vscode-custom-css|be5|2.6.1
npm-intellisense|chr|1.3.0
vsc-ember-frost|cie|0.0.2
gitignore|cod|0.5.0
vscode-eslint|dba|1.4.3
vscode-babel-coloring|dza|0

[2018-01-08 13:33] lolmaus commented on #41287
Note that the `[Unsupported]` part refers to using the `ecmel.vscode-html-css` addon which has almost a million of installs. I simply embed a few lines of CSS with it.

[2018-01-08 13:36] dakaraphi commented on #41071
@sandy081
What I'm suggesting is that each view contribution can be accessed independently of all the others.  There wouldn't be one single explorer with all of them.  Each tree view exists on its on panel that I can toggle open or close etc.

- Functionality that can only be used in a tree view is not optional to hide.
- I don't install extensions I don't plan to use.

The tree view implementatio

[2018-01-08 13:37] caub opened #41288 "[JavaScript] Functions indented incorrectly with formatOnSave"
When using the
[code]
setting

[code]

gets formatted to

[code]
Which breaks eslint

`[eslint] Expected indentation of 1 tab but found 2. (indent)`

----

Version 1.19.1

tested without extension (`code --disable-extensions .`)

[2018-01-08 13:53] alexandrudima commented on #41003
The root problem here is that there is no correlation between an action identifier and action label when editing keybindings in "expert" mode via `keybindings.json`. `keybindings.json` uses action identifiers, which will be different from labels, especially for localized versions of VS Code.

For example, the Italian label `"Attiva/Disattiva commento per la riga"` has almost nothing in common with

[2018-01-08 13:53] isidorn commented on #41186
Great. Closing as there is a solution for this then

[2018-01-08 13:53] #41186 closed

[2018-01-08 13:55] isidorn commented on #41278
Please use this context `sidebarVisible`

[2018-01-08 13:56] weinand commented on #40660
Do you see this problem every time you run `code --status`?

[2018-01-08 13:56] alexandrudima commented on #41225
https://en.wikipedia.org/wiki/AltGr_key#Control_+_Alt_as_a_substitute
<img width="125" alt="image" src="https://user-images.githubusercontent.com/5047891/34673868-09f9f018-f484-11e7-85cc-29b842fb8586.png">

We simply do what the platforms we're built on top do (Chromium, Windows).

[2018-01-08 13:56] #41225 closed

[2018-01-08 13:58] blastmann commented on #41238
No. It's working now. Thanks. @bpasero

[2018-01-08 14:01] alexandrudima commented on #41093
The usage of ctrl+alt+2, ctrl+alt+3, etc. by default on Windows was brought in with https://github.com/Microsoft/vscode/commit/c60114fd2d6a5cb86ebf3064863f61aeaff6a1d6 for https://github.com/Microsoft/vscode/pull/40635

I suggest we do not ship with any default keybindings bound to `ctrl+alt+` key that produces printable character, as it inhibits the production of various characters on various key

[2018-01-08 14:02] isidorn commented on #41273
Verified this fixes the debug issue

[2018-01-08 14:03] isidorn commented on #41227
Duplicate of https://github.com/Microsoft/vscode/issues/41273

[2018-01-08 14:03] #41227 closed

[2018-01-08 14:04] alexandrudima commented on #41153
Duplicate of #23852

[2018-01-08 14:04] #41153 closed

[2018-01-08 14:05] bpasero commented on #41272
@isidorn please check my change in https://github.com/Microsoft/vscode/commit/52e2c4227eb41c208708829bd9bf3d1092a9fad9

[2018-01-08 14:05] #41272 closed

[2018-01-08 14:07] bpasero commented on #41196
@shobhitchittora wanna do that change?

[2018-01-08 14:08] Nutznieser commented on #1435
@robinmattern: Yes, I agree. To support a global tasks.json file located in the Users settings folder would be very handy!

[2018-01-08 14:10] isidorn commented on #6252
@evmar this should be fixed in latest vscode inisders, can you please try it there https://code.visualstudio.com/insiders/

[2018-01-08 14:11] isidorn commented on #41274
There are already Open Editors view and similar feature reqeusts.
Thus I am closing this one (I also do not see us doing something like this in the near future)

Thanks for the suggestion though

[2018-01-08 14:11] #41274 closed

[2018-01-08 14:11] alexandrudima commented on #41141
@chryw Do we have somewhere a better icon, like this one from Word:

<img width="107" alt="image" src="https://user-images.githubusercontent.com/5047891/34674450-34f0c4ca-f486-11e7-9b5c-3ba176d172c3.png">

[2018-01-08 14:14] #40616 closed

[2018-01-08 14:16] alexandrudima commented on #41106
@agustinbcu01 I'm sorry I don't quite understand what the problem is.

According to [wikipedia](https://en.wikipedia.org/wiki/Num_lock)

<img width="503" alt="image" src="https://user-images.githubusercontent.com/5047891/34674571-be5f277e-f486-11e7-8743-3e1017e4521e.png">

When the NumLock LED is on, `Numpad4` will produce a `4`. When the NumLock LED is off, `Numpad4` will be `ArrowLeft`. Is this

[2018-01-08 14:17] sandy081 commented on #40964
Duplicate of #40368

[2018-01-08 14:17] #40964 closed

[2018-01-08 14:18] alexandrudima commented on #41081
Looks like the editor is not in the DOM when this code executes...

[2018-01-08 14:19] sandy081 commented on #40840
Thanks. Closing it as it is working.

Please reopen it when you see it again, with necessary steps to reproduce.

[2018-01-08 14:19] #40840 closed

[2018-01-08 14:20] joaomoreno commented on #40872
Oh thanks for pinging on that, I missed it! I've fixed the docs: https://github.com/Microsoft/vscode-docs/commit/726b040dccad4ec0e06040b479ff91414a42ad36

[2018-01-08 14:21] sandy081 commented on #40987
@SetTrend Sorry, I am not sure if you listed any real settings you observed in the description

[2018-01-08 14:24] alexandrudima commented on #41024
The root cause is the `when` condition associated with the keybinding.

The default keybinding for go to definition is bound only when `editorHasDefinitionProvider && editorTextFocus && !isInEmbeddedEditor`. When you edit/associate `option+i` with it, it will create a new keybinding rule that follows the same condition.

`editorHasDefinitionProvider` is a dynamic context key which depends on the f

[2018-01-08 14:24] shobhitchittora commented on #41196
Sure. 😎👍

[2018-01-08 14:24] lolmaus commented on #41287
Ok, I think it's `vscode-chrome-debug` to blame. Reported in https://github.com/Microsoft/vscode-chrome-debug/issues/579 .

[2018-01-08 14:24] #41287 closed

[2018-01-08 14:25] u2berggeist commented on #40872
Welcome!

[2018-01-08 14:27] bpasero commented on #41093
/duplicate https://github.com/Microsoft/vscode/issues/41196

[2018-01-08 14:27] #41093 closed

[2018-01-08 14:28] bpasero commented on #41196
@shobhitchittora it looks like we typically use `Shift+Alt` instead of `Ctrl+Alt` on Windows as a workaround. However unfortunately `Ctrl+Alt+1` is already taken (the other `+2` and `+3` are not).

[2018-01-08 14:30] weinand commented on #25618
@RMacfarlane Since you now own the VS Code process viewer (#41045) I took the liberty to assign this feature request to you.

[2018-01-08 14:31] alexandrudima commented on #40854
@juliandavidmr When you run VSCode in Ubuntu,
* do you sit physically at the Ubuntu machine which runs natively on the hardware you are sitting at? (or are you using a VM or some form of remote desktop connection)
* what keyboard layout have you configured
* what shortcut is displayed next to `F1 > View: Toggle Integrated Terminal` by VS Code. Does pressing that shortcut execute the action or not?

[2018-01-08 14:33] benurb commented on #40660
As far as I can tell: Yes

[2018-01-08 14:33] #41174 closed

[2018-01-08 14:34] ryanolsonx commented on #41211
Thanks @usernamehw . That's exactly what I was looking for. 👍

[2018-01-08 14:34] jibsen commented on #41201
I see, thank you, that explains the issue. I also had to add transparency to `editor.selectionHighlightBackground`, because if it is solid you cannot see selections through it. I guess it too is applied over the other decorations.

Is there any documentation, or some way to tell which colors are supposed to be transparent when working on a theme?

It would be nice if the [theme color reference](ht

[2018-01-08 14:34] joaomoreno commented on #41174
OK this was a crazy fix!

Problem is [this rule](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/electron-browser/media/shell.css#L128) which establishes a `:before` child with `position: absolute` and `width: 100%; height: 100%`... this can only work if the list is `position: relative`...

[2018-01-08 14:34] weinand commented on #40906
I've removed the diagnostic message "shutdown ignored in server mode" from the npm module "vscode-debugadapter" because "server mode" is now an official way to run a debug adapter.

[2018-01-08 14:35] CookieCrumbles commented on #41243
So is this solved now ?

[2018-01-08 14:36] johnpapa commented on #39325
I am currently using an extension that allows us to override css soon camndonthis and many other overrides. I’d like to stop using that as it may have other implications. Just to give some context as to why i am requesting more Css control in vs code.

I see this issue has been closed. Could we have a discussion about exposing these css properties?

[2018-01-08 14:36] nais314 commented on #10121
+1

[2018-01-08 14:40] alexandrudima commented on #40761
@u2berggeist You are spot on, thank you!

TextMate uses oniguruma as a regular expression library. For any editor to support TM grammars, and in order to be compatible, it must also use oniguruma or reimplement it bug-for-bug, feature-for-feature.

In VSCode we've chosen to reuse oniguruma for this part (usually we use JavaScript regexes), but for tokenization purposes we use oniguruma. Here is th

[2018-01-08 14:40] #40761 closed

[2018-01-08 14:41] kristiandupont opened #41289 "Allow to open the same file in multiple editors of the same group"
I wish I could open the same file in multiple tabs. Basically, I want the same functionality as cmd+2 gives me, but without creating a split.

In another editor that I use, my workflow consists of this rather than splits or bookmarks. I "duplicate" the current view, scroll to the other place in the file that I want to inspect and to "go back", I just close the tab again. Once you are used to it, i

[2018-01-08 14:41] weinand commented on #40660
with "x folder(s) opened in VS Code" you mean
- "x workspaces open" or
- "one workspace with x root folders open"?

[2018-01-08 14:44] dakaraphi commented on #41071
@sandy081

Yes exactly.

Yes I agree.

Thanks!

[2018-01-08 14:47] #41211 closed

[2018-01-08 14:48] alexandrudima commented on #40694
We have two "undo" actions implemented:
* ctrl+z - `undo` - this is the classic undo. It will undo the selection to the state it was before the last edit
* ctrl+u - `cursorUndo` - this is a softer undo. It will undo only the selection state, up to, but excluding of the last edit.

[2018-01-08 14:48] #40694 closed

[2018-01-08 14:49] #40906 closed

[2018-01-08 14:51] sandy081 commented on #41040
@roblourens I liked the one which you demoed in slack that showing some affordance on hover and clicking on it shows the context menu. Not sure if there are improvements on top of it.

[2018-01-08 14:51] alexandrudima commented on #40670
@yardenhochman

`ctrl+mouse wheel` will not do anything out of the box.

There exists a setting, `editor.mouseWheelZoom`, which, once you've set to `true` will make it that `ctrl+mouse wheel` will increase/decrease the font size of the editor.

I'm not sure what exactly the problem is.

[2018-01-08 14:53] alexandrudima commented on #40688
@ChrisZ-B612 is `alt+j` a keybinding which VS Code receives from the OS?

What does VS Code detect when you press the desired key combination?
![keyboard-input](https://cloud.githubusercontent.com/assets/5047891/25478333/fe31c830-2b40-11e7-865c-b2c3bb10dd75.gif)

[2018-01-08 15:05] isidorn commented on #41157
@bpasero I introduced the event in the `contextMenuService` this unfortunetely led that the contextMenuService spreads everywhere which you san see in the attached commit. But now the issue is fixed.

[2018-01-08 15:06] mikehaas763 commented on #39995
I have a large list that printed out after this, how do I copy it all? I can click and drag or "cmd+a" etc

[2018-01-08 15:08] elgrafico commented on #25887
I miss that feature as well. Good old [NetBeans ](https://ui.netbeans.org/docs/ui/DiffSpecification/DIFFSpecification.html#Figure2)has a a similar intuitive approach:

  ![diff_netbeans-8 2](https://user-images.githubusercontent.com/754317/34676314-b4100e72-f48c-11e7-8af6-bd0dcdfdea40.png)

Only the right side can be edited though, but there's a "swap" button right above the diff to mitigate that

[2018-01-08 15:09] isidorn commented on #39180
@bpasero might be a similar issue as #40616
Did you go through the use of `.target`? I can also take a look

[2018-01-08 15:12] chrmarti commented on #41201
@aeschli for the suggestion to document the order in which decorations are applied.

[2018-01-08 15:14] joaomoreno commented on #41136
Steps:

1. Open Code
2. Run a keybinding command (Show Explorer)
3. Forward date by 1 day
4. Run a keybinding command
5. Reverse date change
6. Run a keybinding command
7. Close Code

It freezes.

[2018-01-08 15:14] Iridesscent opened #41290 "stuck in surface laptop"
- VSCode Version: 1.19.1
- OS Version: Windows 10 10.0.16299.192

Steps to Reproduce:

1. prepare a surface laptop
2. open a source code file using surface laptop
3. sliding over touch board up and down over and over again, you can feel sporadically stuck(i.e. not smoothly. especially in power saving model. ), i had to spend more than 1 second waiting each gesture completed.

p.s. i didn't encount

[2018-01-08 15:16] caobingsheng opened #41291 "vscode-ripgrep CPU 100%"
- VSCode Version: Code 1.19.1 (0759f77bb8d86658bc935a10a64f6182c5a1eeba, 2017-12-19T09:46:23.884Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions: the listing length exceeds browsers' URL characters limit
---

Steps to Reproduce:

1.CPU   87℃     -_-|||

Reproduces without extensions: Yes/No

[2018-01-08 15:17] isidorn commented on #41272
@bpasero this looks good. To be sure I have pushed https://github.com/Microsoft/vscode/commit/726774a832322bd537202fdeb0ae44bf2ed8c349 for other commands
Why did you give the command a bigger workbench weight of 50?

[2018-01-08 15:18] chrmarti opened #41292 "Explore support for detecting duplicate issues"
Exploration of existing ML approaches is needed.

Since we would eventually want to know the existing duplicate graph, that could also serve as a middle-ground from where we can continue with ML approaches or simply listing recent duplicate target issues.

[2018-01-08 15:33] dhirschfeld commented on #41128
Yep, it's on a network share. Only seen in that instance. Will report back tomorrow if I still see the issue...

[2018-01-08 15:41] robinmattern commented on #40995
Thanks for the reply.  I understand the ')' is problematic, but I just that any filename inside double quotes should be ignored.
- I can't put `"command": 'A file'` in the tasks.json file as it is not legal JSON
- Doing this `"command": "'A file'"` just prints out the file name
- If I try to pass the file name to CMD, I get this error due to the space in the file name
![image](https://user-images.

[2018-01-08 15:43] weinand commented on #40301
I cannot reproduce this problem in VS Code 1.18.1 and 1.19.1 ("legacy" and "inspector" protocol) on Windows.
My launch config is:
[code]

[2018-01-08 15:46] teamrehab opened #41293 "Feature Request: Ability to clone git repository in Code."
It would be nice to be able to clone an existing git repository straight from Code. If there is a way, please let me know? Currently I do it from the command prompt or in Visual Studio 2017, then open that folder in Code.

[2018-01-08 15:56] JoshuaKGoldberg commented on #40845
@joaomoreno why close the issue? I'd be happy to do all the work.

[2018-01-08 15:56] #40722 closed

[2018-01-08 15:57] johnroper100 commented on #40851
This is working with the latest insiders build. 16d763ead2ff6f832dbf554a8575e70b7b821671

[2018-01-08 15:58] sandy081 commented on #40722
Looks like the above extension has dependencies. In offline mode it is failing to get and install dependencies from market place. But, if the dependencies are already installed it should not go to market place.

Fix is not to go to market place when dependencies are all installed.

[2018-01-08 16:00] joshunger commented on #40681
@joaomoreno @alexandrudima I sent you an email with the file

[2018-01-08 16:01] roblourens commented on #41198
Which version of Node are you using?

[2018-01-08 16:02] seanpoulter commented on #40652
Good call @jrieken.

[2018-01-08 16:02] #40652 closed

[2018-01-08 16:08] benurb commented on #40660
I haven't tried out workspaces yet.
My workflow: "File" --> "New window", then "Open" and select a folder.
So I guess that's "x workspaces open", right?

[2018-01-08 16:08] Tyriar commented on #41243
Nope, it needs to be fixed upstream before pulling it into VS Code

[2018-01-08 16:18] eszlari opened #41294 "Linux: ship .desktop file with tarball"
The deb/rpm files provide `/usr/share/applications/code.desktop`. Please also ship this file with the tarball (e.g. https://vscode-update.azurewebsites.net/1.19.1/linux-x64/stable), to make repackaging for us in flatpak (https://github.com/flathub/com.visualstudio.code) easier.

[2018-01-08 16:19] bpasero commented on #41157
@isidorn I hope we can take this out when we adopted async context menu.

Out of curiosity, does it make any difference if we delay the menu for a longer time, e.g. 20ms for you to find out that the key is no longer pressed?

[2018-01-08 16:20] pollingerMaxi commented on #40767
Hello, i have same problem as op

This is my launch.json
`{
    // Use IntelliSense to learn about possible Node.js debug attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "type": "node",
            "request": "launch",

[2018-01-08 16:20] bpasero commented on #39180
@isidorn yeah good point could be fixed, let me verify when I got a touch device again. I am out tomorrow, so you can also check.

[2018-01-08 16:20] nkernytskyy opened #41295 "Document Tabs Scroll - inconvenient and barely visible"
When more document tabs are open than the window width can fit, some tabs are hidden and can be navigated to by using the horizontal slider.

This **tabs slider** (horizontal scroll) is very thin and is invisible until hover, so I'd prefer **the slider**:

- to be thicker, AND/OR
- to be visible at any time, not only when hovered, AND/OR
- to be replaced or accompanied by arrow buttons [<] [>] lik

[2018-01-08 16:20] nkernytskyy commented on #41295
![scroll](https://user-images.githubusercontent.com/35230869/34680079-9fd2cf3a-f4a0-11e7-84d5-45b7fb4ebfeb.png)

[2018-01-08 16:21] bpasero commented on #41290
/duplicate #13612

[2018-01-08 16:21] #41290 closed

[2018-01-08 16:22] nkernytskyy commented on #41295
![sc](https://user-images.githubusercontent.com/35230869/34680150-db1b9324-f4a0-11e7-8d3d-aa5640228155.png)

-- Sublime Text solution for tabs navigation with arrow buttons [<] [>]

[2018-01-08 16:23] bpasero commented on #41272
@isidorn this is a consequence of [`list.select`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/electron-browser/commands.ts#L273) being defined with the same keybinding. This is not ideal and maybe a bit of debt, but this requires to "override" the command with a more specific one as done for the explorer (and e.g. also problems view or search).

[2018-01-08 16:24] nkernytskyy commented on #41295
**In general** slider is cooler as it requires fewer mouse-button keystrokes, but it can be **hardly got in focus on small screens**.

[2018-01-08 16:30] llamaluvr opened #41296 "JSDoc comments are ignored for destructured parameters despite support for obj.prop params"
Originally, https://github.com/Microsoft/vscode/issues/22980 was opened for VS Code ignoring JSDoc-specified types for destructured parameters. It was noted that handling for `obj.prop` style parameters was being handled on the TypeScript side in https://github.com/Microsoft/TypeScript/issues/11597 and the issue was closed. `obj.prop` style parameters do indeed work now, but only if you pass a sin

[2018-01-08 16:31] remojansen opened #41297 "Issues with polyfills in extensions"
The [official vscode python extension](https://marketplace.visualstudio.com/items?itemName=ms-python.python) recently experimented [some issues](https://github.com/Microsoft/vscode-python/issues/432) caused by a polyfill.

The polyfill is the [`reflect-metadata`](https://github.com/rbuckton/reflect-metadata) module. This module overrides the `Reflect` global object. Every time the `reflect-metadat

[2018-01-08 16:35] isidorn commented on #41157
@bpasero I would say probably not since the user can hold down the key for as long as he wants. And the most natural scenario is that he releases the key once he sees the context menu (and then the world is blocked)

[2018-01-08 16:43] mjbvz commented on #41254
I believe we already do run eslint using `gulp eslint`. The failures you see when running gulp directly seem to be for test fixtures or for a few external files that have been copied into the vscode repo

@joaomoreno Is that correct?

[2018-01-08 16:44] bpasero opened #41298 "Find References: double click into editor to go to selection"
I am quite sure this used to work, but maybe I am wrong:
* open find references
* from the embedded editor double click into any word (not one of the references)

=> I think we used to open the editor at the line/col where I double clicked but now it always seems to open the reference instead.

[2018-01-08 16:45] ambroselittle commented on #40557
Also happens on Windows 10 x64 v1709 Build 16299.192 and VS Code v1.19.1.

[2018-01-08 16:48] rchande opened #41299 "Standalone editor: error spans don't update on typing"
I'm hosting the standalone Monaco editor and calling monaco.editor.setModelMarkers to show squiggles underneath errors. In my particular scenario, I don't compute diagnostics every time the user types, but instead when they explicitly click a button. When they click the button, my squiggles appear in the correct location. However, as the user types, the squiggles stay in one place.

For example, i

[2018-01-08 16:56] rebornix opened #41300 "Integrated Terminal output delayed"
- VSCode Version: Insider
- OS Version: macOS

![ll](https://user-images.githubusercontent.com/876920/34681802-ca6be622-f451-11e7-8be5-2917756bca82.gif)

[2018-01-08 16:57] #30334 closed

[2018-01-08 16:58] rebornix commented on #41300
After typing at the last line, I didn't get any result, can't scroll down as well. Then I scroll up and scroll back, the contents are generated finally.

[2018-01-08 17:07] YairZiv5951 opened #41301 "Some shortcuts work on my Laptop keyboard but not on my other keyboard"
- VSCode Version: Code 1.19.1 (0759f77bb8d86658bc935a10a64f6182c5a1eeba, 2017-12-19T09:46:23.884Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
language-x86-64-assembly|13x|2.2.11
vscode-python-docstring|aza|0.0.5
path-intellisense|chr|1.4.2
code-runner|for|0.8.7
terminal|for|0.0.10
vscode-power-mode|hoo|2.0.0
python|ms-|0.9.1
material-ico

[2018-01-08 17:15] Tyriar commented on #41284
This is working as designed:

![image](https://user-images.githubusercontent.com/2193314/34682445-cf6badcc-f453-11e7-9faa-a1613bf81b80.png)

It's a little weird that the format is different but that's the way it was implemented upstream. Even if it was supported it's not possible to use a `lineHeight` less than the `fontSize` of  for technical reasons so I'll close this off.

[2018-01-08 17:16] #41284 closed

[2018-01-08 17:16] dakaraphi opened #41302 "openFilesInNewWindow no longer seems to be working"
- VSCode Version: 1.19.1
- OS Version: OSX 10.13.2

With ```"window.openFilesInNewWindow": "off"```

It is still opening files in a new window.  I'm not sure when this stopped working as I haven't used it in a while.  I normally open JS files from Eclipse using vscode.  Now it is opening a new window each time.

[2018-01-08 17:17] Tyriar commented on #41260
This is a Chromium issue and we typically close these off. Forcing a refresh of the canvases will fix it, zooming in and out will do: tctrl++, ctrl+-

[2018-01-08 17:17] #41260 closed

[2018-01-08 17:17] johnmhoran commented on #40668
Thank you, @joaomoreno .  Since my initial post here, I've been using 1.18.1, which displays edits in the gutter.  Have just updated again to 1.19.1 to answer your question: the `SCM view` does display the edits as diffs, but there still are no gutter indicators.  I'm going to uninstall 1.19.1 and reinstall 1.18.1 so that I can see my edits in the gutter as I work.

Do you have any ideas what migh

[2018-01-08 17:19] Tyriar commented on #41283
Can you check the commit of your insiders release (Code - Insiders > About).

Might be the same as https://github.com/Microsoft/vscode/issues/41300

[2018-01-08 17:19] Shikkic commented on #41108
@bpasero @joaomoreno

Yes. If I close the window without quitting vscode and reopen with the same folder all the files are restored properly without the release notes appearing.

[2018-01-08 17:20] Tyriar commented on #41300
Duplicate https://github.com/Microsoft/vscode/issues/41281

[2018-01-08 17:20] #41300 closed

[2018-01-08 17:20] Tyriar commented on #41283
It does indeed look like the same issue, see https://github.com/Microsoft/vscode/issues/41281

[2018-01-08 17:20] #41283 closed

[2018-01-08 17:21] bpasero commented on #34697
**Another case:**
* have 2 files open that are slow loading
* scroll both to the end (the second being much longer)
* jump to second editor and then quickly back to first

=> the second editor will wrongly save the view state of the first editor because the model has not changed yet (as reported in https://github.com/Microsoft/vscode/issues/40114).

[2018-01-08 17:21] bpasero commented on #40114
Yeah indeed same underlying issue as https://github.com/Microsoft/vscode/issues/34697. Marking as duplicate.

[2018-01-08 17:22] davidanthoff commented on #15756
Where can folks give feedback that this is important? I thought leaving this issue open so that people can still like it might provide that option?

[2018-01-08 17:23] Tyriar commented on #41281
All 3 reports are on mac so far, not sure if that's a coincidence or not

[2018-01-08 17:23] Tyriar commented on #41281
Managed to repro:

<img width="342" alt="screen shot 2018-01-08 at 9 23 16 am" src="https://user-images.githubusercontent.com/2193314/34683001-9c30677a-f455-11e7-9336-a95411d6f257.png">

[2018-01-08 17:25] Tyriar commented on #41281
It appears to only happen sometimes

[2018-01-08 17:26] nabeelomer commented on #41281
Its actually been happening all the time with me.

[2018-01-08 17:26] mjbvz commented on #41288
Thanks. Opened https://github.com/Microsoft/TypeScript/issues/21068 to track this upstream

[2018-01-08 17:26] #41288 closed

[2018-01-08 17:27] akbyrd commented on #34697
Note on the 'slow loading' condition:

I regularly repro this while working on 200 line files on an NVMe SSD.

[2018-01-08 17:41] Tyriar commented on #41281
Current thinking is it's a race condition in `RenderDebouncer` https://github.com/xtermjs/xterm.js/pull/1182/commits/a846e8c08d323cebecf542af37865ba57c06041e

[2018-01-08 17:43] ribrdb opened #41303 "Need way to specify root path in jsconfig.json"
There doesn't seem to be any way to set the root for absolute imports, (for example to match how it will be served to a web browsesr).
I tried setting the basepath in jsconfig.json, but that only seems to affect relative paths.

- VSCode Version: 1.19.1
- OS Version: OS X 10.11.6

[2018-01-08 17:47] ribrdb opened #41304 "configure auto imports"
It should be possible to customize how auto imports are added.
Specifically I would like them added as
import {Foo} from "./foo.js"
since browsers do not add the .js.
Also, if #41303 is fixed it would be nice to be able to add absolute imports instead of relative.

[2018-01-08 17:51] roblourens opened #41305 "OS-specific properties in launch configs not resolved"
In today's insiders,

- Start the launch config in the vscode repo, "Launch vs code"
- It launches Chrome and fails to attach
- Enable logging, see that the runtimeExecutable is not set because the OS-specific props are left in place -

`From client: launch({"type":"chrome","request":"launch","name":"Launch VS Code","windows":{"runtimeExecutable":"/Users/roblou/code/vscode/scripts/code.bat"},"osx"

[2018-01-08 17:54] Tyriar commented on #41281
Found the problem, bad implicit type check: `0 !== null`

[2018-01-08 17:57] #41281 closed

[2018-01-08 17:58] jrieken commented on #41298
🙉

[2018-01-08 17:58] Tyriar commented on #41281
Pushed the fix, will be fixed in tomorrow's insiders. For curious parties here's the fix https://github.com/xtermjs/xterm.js/pull/1182/commits/a19b05f8139754069fdd2bf0387b6111f92905ac

[2018-01-08 17:59] DanTup commented on #15756
I don't think it'd be great to tie these together since it'd mean using the insiders version of your extension means that the user needs to be happy to switch also to Insiders Code and with it any other extensions that are publishing Insiders versions. I wouldn't want to go "full unstable" just to do it for one extension (for one, the stability of Insiders extensions could vary wildly across proje

[2018-01-08 17:59] Rylon commented on #34330
Hi again, just wanted to say that in the latest VSCode update, the behaviour has changed. Instead of showing the garbled text for 'before' and the entire file in green for 'after', the diff of a git-crypted file now just shows an error:

[code]

Whilst this is better than the garbled text, it would still be really cool if VSCode could support git-crypt ❤️

[2018-01-08 18:00] Tyriar commented on #41281
As a workaround in the meantime I think pressing enter/resizing the terminal should fix the problem

[2018-01-08 18:04] jrieken commented on #41207
@TreTuna Can you check what the 'F1 > Insert Snippet' command shows? Do you find your snippet in that list? Can you share your snippet file?

[2018-01-08 18:06] David-Else opened #41306 "Typescript type checking of JS - Can't reliably use @type to set type... strange bug"
- VSCode Version:  1.19.1
- OS Version: Fedora 27

Steps to Reproduce:

1. enable type checking in .js file with` // @ts-check`
2. paste this and hover over the variable `gender`

[code]
It should correctly say 'number', now change to:

[code]
It won't update, stays as a number. Now try:

[code]
It should correctly change. It will now take going from let to var to actually select the correct type.

[2018-01-08 18:10] damassi commented on #1927
@sandy081 - Indeed it does but for most of my cases its been more than sufficient. I'll look into opening a PR for a proper fix today 👍

[2018-01-08 18:12] #41303 closed

[2018-01-08 18:12] jrieken commented on #41205
Yeah, not yet convinced... I am OK with not requiring the prefix but I'd then only show the snippet in the "Insert Snippet" command and not when having a prefix

[2018-01-08 18:13] jrieken commented on #40818
And you know or you don't know the current tab?

[2018-01-08 18:15] jrieken commented on #41237
Wait... @hanfengcan this is the editor or explorer menu right? You should use the `when`-condition to define *when* a command should show as menu item. See https://code.visualstudio.com/docs/extensionAPI/extension-points#_contributesmenus

[2018-01-08 18:15] #41237 closed

[2018-01-08 18:17] auchenberg commented on #40767
@pollingerMaxi Can I get you to open a new issue with more details about your setup such as Node version, VS Code version, and then we can debug it there without spamming this issue?

[2018-01-08 18:26] #41117 closed

[2018-01-08 18:27] Tyriar commented on #37589
@weinand not currently and I'm not aware of how you would. Perhaps you can pull that sort of info by running a tool like `lsof`, I've seen that used to get the `cwd` of a shell process.

[2018-01-08 18:28] nojvek commented on #40365
I did and that somewhat alleviates the problem, but I guess Typescript has too many files in its baseline folder that it does die at times. The issue though is why does find + search break git, that it becomes unresponsive, when `git status` in vscode console works totally fine.

[2018-01-08 18:30] Tyriar commented on #40806
@dulowski-marek can you elaborate a little? I'm unable to exit `git log` and `git diff` using ctrl+c, AFAIK git captures ^C

[2018-01-08 18:30] jrieken commented on #40858
Yeah, today the list of known URI-schemes is fixed, as it's either a file, an http(s)-url, or a remote-file (a feature still under development). We don't have support to reach out to other, installed, os-level handlers but it does make sense.

[2018-01-08 18:31] Tyriar commented on #41266
Duplicate https://github.com/Microsoft/vscode/issues/29439

[2018-01-08 18:31] #41266 closed

[2018-01-08 18:33] Tyriar commented on #41263
@isidorn I think you may have broken this with your refactor, I can reproduce on mac and linux.

[2018-01-08 18:38] jrieken commented on #41208
Use `filterText` when the text the suggestion selects (`.` in this case) doesn't match the label.

[2018-01-08 18:38] ribrdb commented on #41303
I'm supposed to ask on stack overflow for feature requests?

[2018-01-08 18:38] #41208 closed

[2018-01-08 18:40] chryw commented on #41141
@alexandrudima We do have that icon for "show/hide paragraph marks". What does "trim whitespace" button do? Is it related to paragraph?

[2018-01-08 18:40] ribrdb commented on #41303
Here's someone on stack overflow saying that this is a feature request not a question:
https://stackoverflow.com/questions/40937092/can-vscode-support-absolute-path-references-for-es6-imports

[2018-01-08 18:43] Tyriar commented on #41149
Already supported
![image](https://user-images.githubusercontent.com/2193314/34686547-ccac037c-f460-11e7-953b-e826586cd330.png)

[2018-01-08 18:43] #41149 closed

[2018-01-08 18:45] Tyriar commented on #41164
This is an upstream Chromium issue and will happen with any `HTMLCanvasElement`

[2018-01-08 18:45] #41164 closed

[2018-01-08 18:45] unional commented on #1435
I can think of several levels of configs:

- Environment global config:
  - useful when multiple users login to the same environment and these configs are common to all workspace/project
- User global config
- Workspace user config
- Project user config
- Workspace team config
- Project team config

[2018-01-08 18:48] mjbvz commented on #41303
For a folder structure:

[code]

With `jsconfig`:

[code]

You can write imports like

[code]

However imports with a leading slash:

[code]

Are currently not supported. This is tracked by https://github.com/Microsoft/TypeScript/issues/13730

[2018-01-08 18:50] jrieken commented on #41202
Hm, the different is because of this: [`this.documentation = new MarkdownString().appendCodeblock('', new SnippetParser().text(this.snippet.codeSnippet));`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/snippets/electron-browser/snippetsService.ts#L274.). It take the parser, computes the actual insert text (w/o placeholders) and uses that as doc. That's something the core

[2018-01-08 18:52] ribrdb commented on #41303
Well there they basically say they will not support it because it changes the definition of module names in typescript. Things are different for javascript, because javascript doesn't go through the typescript compiler. Chrome supports absolute paths for es6 imports, and the absolute path in the browser is definitely not going to be the same as the absolute path on my filesystem.

[2018-01-08 18:56] mjbvz commented on #41303
TypeScript powers our js language support. I believe this issue is still under discussion so please post any comments over on Microsoft/TypeScript#13730

[2018-01-08 19:16] DanTup commented on #41202
Would you consider implementing #26943 instead? It would avoid having to leak any of this snippet-specific code out into extensions and also be consistent with a lot of the other things in `package.json` that support `when` conditions (like commands). It seems like an elegant solution to this problem (it also might be relatively simple to carry the condition into the snippet completion provider an

[2018-01-08 19:18] DanTup commented on #41202
Actually, I just read your comments about snippets wanting scopes, so maybe pushing people to completion providers is better - so maybe finding a way to expose this does make more sense..

[2018-01-08 19:19] Tyriar commented on #41212
Oh, I think this would be a feature for the powershell extension to properly handle then, please create an issue at https://github.com/PowerShell/vscode-powershell

[2018-01-08 19:19] #41212 closed

[2018-01-08 19:21] bgarrant commented on #41282
It all comes back to the mixed language issue.  It seems VSC as no way to natively do this.  Once I enable another language this is what I get for HTML autocomplete when typing `<d`

![screen shot 2018-01-08 at 11 49 58 am](https://user-images.githubusercontent.com/2436728/34688147-1e753872-f47f-11e7-8b71-09ffc3acd4b2.png)

[2018-01-08 19:22] bgarrant commented on #41282
When in plain HTML mode on same file I lose the Antlers syntax coloring but I get this when typing same `<d`.

![screen shot 2018-01-08 at 11 55 20 am](https://user-images.githubusercontent.com/2436728/34688201-5f01ab1e-f47f-11e7-86b7-5ec535a7acfc.png)

[2018-01-08 19:27] pitAlex opened #41308 "Typescript Intelisense broken in Mac"
Hello,
There is something wrong with the  Intelisense for typescript in Mac that makes really hard to work with vscode. The thing can break without any errors and when it does it won't recover until I restart the app. And even then it works for 5 minutes or so until it breaks again.

Here is a sample of what I am experiencing : https://drive.google.com/open?id=10nFMNAuLhpyHXuC9FVPBFW9Z6bkNDp9K

Th

[2018-01-08 19:29] usernamehw commented on #40706
@alexandrudima, it's my fault. I just didn't expect for `fontStyle` to clash with `foreground`.

I have this bunch of selectors to remove pesky italic:
[code]
And it's preventing setting `foreground` in 1.19.1 & 1.20 for `meta.function-call entity.name.function` because of `entity.name.function.ts`.

[2018-01-08 19:40] ryanolsonx commented on #41232
Hello!

I'd like to work on this issue. Has anyone already started work on this?

[2018-01-08 19:43] shivawu commented on #12453
+1

[2018-01-08 19:51] SetTrend commented on #40987
Here we go:

[code]
I manually browsed the settings. So this list may not be comprehensive.

[2018-01-08 19:54] morozovsk opened #41309 "feature-request: customisable toolbar like in all other ide"
Whole my life I used ide where there was a customizable toolbar. I starded to use vscode and stopped to use it after one day. It is impossible to remember all shorcuts. In any other popular ide you can put any menu item on toolbar and use it from time to time.

**visual vtudio:**
![screen010](https://user-images.githubusercontent.com/1822063/34688686-a1e85dce-f4bb-11e7-9e6b-18f1e5d8bbd8.png)

**id

[2018-01-08 19:58] usernamehw commented on #41295
In some way related https://github.com/Microsoft/vscode/issues/39059

[2018-01-08 20:06] koutsenko commented on #41284
OK, "as designed"...
Also, the multiplier less than 1 doesn't work.

[2018-01-08 20:10] pmolaro commented on #13182
+1 for this

I currently dev CFML and would love to be able to use HTML, CSS, CFML snippets all in the same .cfm file. I'd be good with the global.json solution proposed.

[2018-01-08 20:15] tinybike commented on #14909
Just chiming in to support this feature.  I think developers who are used to environments like Sublime Text that give you almost infinite latitude on how to split up your screen will find migrating to VSCode very unappealing.  (Speaking for myself: most of my team uses VSCode, but I personally find it unusable to the lack of horizontal+vertical splitting, so I'm continuing to use Sublime for now.)

[2018-01-08 20:23] juanpedrob9 commented on #41185
@alexandrudima Actually I have the same problem as @jorgegonzalezperez  with a French Canadian layout, I did like you said and removed Alt+1/2/3 shortcuts but I still can't type any "±,@£" with Alt-Car + 1/2/3.  Any other suggestions ? It started after an update last week.

Windows 10 Pro 16299
Version 1.20.0-insider
Commit b811600ecc57992a82a1f50ed9bf128065bc8787
Date 2018-01-08T09:42:12.918Z
She

[2018-01-08 20:30] dlech commented on #27759
Umm... I think it is the other way around, upper case first. Basically, just sorting using the ASCII value of each character.

[2018-01-08 20:36] jrieken commented on #41202
Another way would be make it the default presentation for a snippet completion. So, when the type is snippet we always generate such a string and append to the doc. Tho it will collide with suggestions that already try to emulate this.

[2018-01-08 20:37] sean-mcmanus commented on #15756
Yeah, having extension "insider-ness" be independent of VS Code itself is fine with me too. We just need the marketplace to allow us to submit and insider version and then VS Code would need to add an "Install Insider" button next to extensions that also have an insider version. Does the marketplace have some feedback site where this is being tracked?

[2018-01-08 20:41] eamodio commented on #15756
They could even just re-use the `preview` flag -- I would bet users don't know what that is even supposed to mean (I don't -- other than some signal with regard to quality/stability/features -- but very nebulous and I bet doesn't stop bad reviews).

[2018-01-08 20:43] DanTup commented on #41202
Ah yeah, I forgot there was a kind specifically for snippets. Though whether users would expect the rendering to change like that based on the kind, I'm not sure.

In the interest of shipping my changes so I can add project-specific snippets, I'm just going to hide the preview for now (not set the `documentation` property). That way I wouldn't be impacted if there are any changes, it's no worse th

[2018-01-08 20:44] kdheepak opened #41311 "Integrated terminal swallows text sometimes"
<ul>
	<li>VSCode Version: Code - Insiders 1.20.0-insider (b811600ecc57992a82a1f50ed9bf128065bc8787, 2018-01-08T09:35:04.606Z)</li>
	<li>OS Version: Darwin x64 16.7.0</li>
	<li><details><summary>Extensions (38)</summary>

Extension|Author (truncated)|Version
---|---|---
quick-open-file|Ala|0.1.2
bracket-pair-colorizer|Coe|0.10.14
vsc-material-theme|Equ|1.2.0
matlab|Gim|0.8.0
output-colorizer|IBM|0.

[2018-01-08 20:45] zygimantas opened #41312 "Undo and staged changes in SCM"
- VSCode Version: Code 1.19.1 (0759f77bb8d86658bc935a10a64f6182c5a1eeba, 2017-12-19T09:46:23.884Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
ng-template|Ang|0.1.7
bracket-pair-colorizer|Coe|0.10.14
EditorConfig|Edi|0.11.1
tslint|eg2|1.0.24
beautify|Hoo|1.1.1
csharp|ms-|1.13.1
team|ms-|1.122.0
vscode-icons|rob|7.19.0

---

Steps to Repro

[2018-01-08 20:46] DanTup commented on #15756
I guess the Marketplace would still need explicit support for this since people who don't want the preview/insiders/pre-release versions would expect to browser the marketplace and see the release notes (etc.) for the latest stable release, not the preview release.

[2018-01-08 20:47] borgdylan commented on #41227
The not stopping on breakpoints was my fault, had swicth5d by compil5r to multi threaded parsing and it was not flowing paths right.

The GUI issues were fixed by the latest insiders updates. Thanks!

[2018-01-08 20:53] eamodio commented on #15756
Yeah, agreed -- there would definitely be a bunch of plumbing that they'd need to do on the marketplace side.

[2018-01-08 21:03] AriaMinaei commented on #41024
Thanks for the explanation @alexandrudima, but the workaround doesn't work, and the bug happens regardless of any `command/when` combination, meaning if I bind any other action to `alt+i`, it'll insert the `ˆ` character.

[2018-01-08 21:07] zygimantas commented on #41312
I even had a situation when the same file was in both, "Changes" and "Staging Changes". After clicking + in "Changes", the file was gone from both lists.

[2018-01-08 21:08] TinusScheppers commented on #41198
The version is v8.9.0

[2018-01-08 21:20] gregvanl commented on #40779
Existing vscode-docs issue https://github.com/Microsoft/vscode-docs/issues/1027 covers creating a single shared variable substitution page. We should make sure it covers the prefix features mentioned above.

[2018-01-08 21:20] #40779 closed

[2018-01-08 21:21] grandtele commented on #41249
I fond same issue(problem) at Atom - without solutions.

I fond tmp solution - merge nfs to samba:
All servers connect to private network via openvpn, and in this network will samba share.

I check this scheme now at 1 server and it work good

Cheers

[2018-01-08 21:30] TreTuna commented on #41207
@jrieken Thanks for responding.

There are no snippets found at all on my Insider's Edition VSC, however, my installation of Release VSC has them all. My snippets files are empty as I have no custom made snippets myself, all of mine come from extensions.

I have side-by-side installations of release VSC and Insider's Edition. All settings/extensions/etc are matched using the Settings Sync extensio

[2018-01-08 21:56] Brocco opened #41314 "Saving a file no longer keeps it open"
- VSCode Version: 1.20.0-insider (b811600ecc57992a82a1f50ed9bf128065bc8787)
- OS Version: macOS High Sierra 10.13.2

Steps to Reproduce:

1. Open a file (A)
2. Make no changes
3. Save file (cmd + s)
4. Open another file (B)

expected: B opens and A remains open
actual: B opens and A closes
Note: this is a change to previous behavior

Does this issue occur when all extensions are disabled?: Yes/No

[2018-01-08 22:09] t0lkman opened #41315 "Daily Tips on VSCode start"
It would be nice to have "daily tips" on VSCode start similar to Webstorm. It allows to slowly and indestructibly learn tricks and tips on daily basis.

[2018-01-08 22:16] michaelaye opened #41316 "Feature request: Zotero citation picker"
Similar to the Atom plugin here: https://atom.io/packages/zotero-picker
I would like to have an extension that is able to search for a relevant BibTex citation in my database, using Zotero.

[2018-01-08 22:46] stringham commented on #29762
This was duplicated by https://github.com/Microsoft/vscode/issues/31953 and fixed with https://github.com/Microsoft/vscode/commit/3a69df335ea93d4d663032278233ad67d1b9ce8d

[2018-01-08 22:46] #29762 closed

[2018-01-08 22:54] dragonwolf83 commented on #39335
I had no idea about the circle either. It is not intuitive coming from previous editors nor does it stand out from the rest of the tab. By replacing an existing icon, `X`, it is hard to see it change when you save or modify the file. It is better to have motion indicate a change is taking place.