[2021-04-05 18:12] gjsjohnmurray commented on #120429
@misolori fair point. I have submitted a PR that I think does exactly that, though i's possible I have overlooked some other context(s) in which the colored debug codicons are currently validly used.

[2021-04-05 18:13] JacksonKearl commented on #118947
@bpasero thanks for this report, much of this logic was written custom because the model as exists to the model service only contains the actual text inside the editor, but what we work with on disk has the search configuration serialized and prepended to that model's contents. Thus I call the `textFileService.write` and `.create` commands explicitly with the serialized text:

https://github.com/m

[2021-04-05 18:17] #119946 closed

[2021-04-05 18:21] clickwithclark commented on #84120
thanks, I'm trying with https://github.com/be5invis/vscode-custom-css right now but it is giving me some problems.  Perhaps because I am on windows. I like theming too, I just manually changed mine for the time being.

[2021-04-05 18:22] prash-p commented on #116951
I am having the same issue - the interactive window seems to not load the correct virtual environment even though typing
`!which python` and `!pip freeze` in the interactive window shows the correct results. As soon as I do `import torch` or any other library installed in my virtual env, I get an error `ModuleNotFoundError: No module named 'torch'`

Here is a gif recording of the issue. @durbank d

[2021-04-05 18:25] DonJayamanne opened #120577 "TQDM output looks odd after stderr stdout change"
@IanMatthewHuff commented on [Thu Mar 25 2021](https://github.com/microsoft/vscode-jupyter/issues/5299)

![image.png](https://images.zenhubusercontent.com/5bdcd40a0faa800c749bac98/a1934967-be11-416b-9d89-3d563a7facf5)

With the new change to vscode handling stderr and stdout differently TQDM now looks funny. Per Don it is writing to stderr, so the red is expected. However the blue elements might e

[2021-04-05 18:25] DonJayamanne commented on #120577
@jrieken @rebornix /cc

[2021-04-05 18:27] gjsjohnmurray opened #120578 "Debug Call Stack inline step-in/over/out commands are always enabled"
Issue Type: <b>Bug</b>

Compare the appearance of the step-in/over/out buttons on the main debug toolbar with the same buttons that appear in the call stack.

![image](https://user-images.githubusercontent.com/6726799/113610394-f78baa00-9644-11eb-9019-ab4f82f7c4f8.png)

The ones in the call stack are enabled even when execution hasn't been suspended.

VS Code version: Code - Insiders 1.56.0-inside

[2021-04-05 18:27] deepak1556 commented on #120431
@bpasero in what situations does the shared process get reloaded ?

[2021-04-05 18:28] reza-amd opened #120579 "It seems that after the update (v 1.55) the Docker extension picks the image ID as an identifier for the contianer instances. It should pick the container ID itself."
Issue Type: <b>Bug</b>

For V1.55,  I first launch a container from a docker image and create a workspace. Then I launch a second container of the SAME image, and attach a new VSCode to the seconf container, it shows the same workspace opened on the other contaner ( you may ask how it can access the folder to the other container workspace. answer: the workspace folder is in a shred directory betwe

[2021-04-05 18:31] reza-amd commented on #120579
I made a the report issue in the second container in case the system info etc. helps to solve this bug.

Issue Type: <b>Bug</b>

Here is the issue from the second container

VS Code version: Code 1.55.0 (c185983a683d14c396952dd432459097bc7f757f, 2021-03-30T16:01:55.261Z)
OS version: Windows_NT x64 10.0.18363
Remote OS version: Linux x64 4.18.0-25-generic
Remote OS version: Linux x64 4.18.0-25-gene

[2021-04-05 18:32] alexsapps opened #120580 "Crostini: can't move files with drag and drop"
Issue Type: <b>Bug</b>

Note: My OS is Crostini (Linux on Chrome OS)

To reproduce:
1. Drag file to another folder

File should be moved, but nothing happens. Had to install an extension to move files between folders. (Tried disabling all extensions already.)

VS Code version: Code 1.54.3 (2b9aebd5354a3629c3aba0a5f5df49f43d6689f8, 2021-03-15T10:55:24.277Z)
OS version: Linux x64 5.4.74-10576-gb6cc4

[2021-04-05 18:34] reza-amd commented on #120579
![Capture1](https://user-images.githubusercontent.com/79117684/113611029-c8ecdf80-9602-11eb-9f7d-79b17fa165a0.PNG)
![Capture2](https://user-images.githubusercontent.com/79117684/113611036-cb4f3980-9602-11eb-9d88-694d1d3ffcb7.PNG)

[2021-04-05 18:40] gjsjohnmurray commented on #120578
/assign @isidorn

[2021-04-05 18:46] #120542 closed

[2021-04-05 19:00] rebornix commented on #120531
@Betristor I assume you are using Python in the Jupyter notebook, which is currently supported by the Jupyter extension. Do you mind creating issues there to see what you are missing when writing Python there?

[2021-04-05 19:09] #120579 closed

[2021-04-05 19:12] mjbvz commented on #120399
You jumped to recommending a solution while I want to understand the root cause problem that triggers the issue in the first place. Please share more details so we can understand why suggestions take 2-3 seconds to load in the first place

Also just to be clear: I don't think the proposed solution would work well. It would require resorting/changing the suggestion list after it has already been sh

[2021-04-05 19:12] #120528 closed

[2021-04-05 19:13] mjbvz commented on #120528
You need to exclude these files from your `jsconfig` or `tsconfig` project as well

Use the `excludes` section for this: https://code.visualstudio.com/docs/languages/jsconfig#_using-the-exclude-property

[2021-04-05 19:16] mjbvz commented on #120530
Works fine for me in normal TS:

![Screen Shot 2021-04-02 at 3 43 01 PM](https://user-images.githubusercontent.com/12821956/113615312-8dedaa80-9608-11eb-842c-343551e878dd.png)

Where are the errors coming from? Please share a screenshot. They are likely from an extension you have installed

[2021-04-05 19:17] #120520 closed

[2021-04-05 19:18] #120498 closed

[2021-04-05 19:19] mjbvz commented on #119941
Until we can repo it, we need more information

Have you disable settings related to JavaScript? Please share a self contained example project that demonstrates the issue

[2021-04-05 19:20] #120493 closed

[2021-04-05 19:20] mjbvz commented on #120493
VS Code does not have built-in pdf support. It sounds like you used to have a pdf extension installed and no longer do

[2021-04-05 19:26] mjbvz commented on #115791
Already seems fixed in VS Code insiders

[2021-04-05 19:26] #115791 closed

[2021-04-05 19:27] Gentlee opened #120582 "VS code removes unreachable code when fix on save enabled"
- VS Code Version: 1.55.0
- OS Version: macOS 11.2.3

Steps to Reproduce:

1. Have fix on save enabled
2. Have unreachable code (for example while refactoring)
3. Press save while refactoring.
4. Surprisingly notice that after refactoring half of your code was removed.

How it should be:

1. This particular issue shouldn't be auto fixed on save, or there should be setting to disable such behavior

[2021-04-05 19:27] landisdesign commented on #120530
... I completely forgot about needing to update my ESLint config. Thank you for prodding my brain and apologies for wasting your bandwidth!

[2021-04-05 19:27] #120530 closed

[2021-04-05 19:29] ArturoDent commented on #120476
`"editorSuggestWidget.selectedBackground"`

[2021-04-05 19:32] ArturoDent commented on #120468
"[diff]": {
         "files.trimTrailingWhitespace": false
        },

And then turn it on for all other files with the main setting.

[2021-04-05 19:32] Gooseman commented on #68787
I don't have a keyboard with a number pad, so I have no numlock key.

On Sat, Apr 3, 2021 at 7:25 AM Hendrik Araujo ***@***.***>
wrote:

[2021-04-05 19:36] ArturoDent commented on #120568
Your two pictures look identical to me.

[2021-04-05 19:40] Tyriar opened #120583 "Create the terminal status concept"
Part of https://github.com/microsoft/vscode/issues/120241

[2021-04-05 19:59] connor4312 commented on #57590
I've decided to try out showing a helper prompt when all of these conditions are met:

1. At least one breakpoint was set, but no breakpoints bound,
2. For two consecutive debug sessions,
3. Where a sourcemap was used for a script outside of the `node_modules`, or a remoteRoot is present (since sourcemaps and remote are the cases where almost all path resolution issues happen)

[2021-04-05 20:09] tmladek commented on #120415
Can no longer reproduce.

[2021-04-05 20:09] #120415 closed

[2021-04-05 20:09] onelifenyc commented on #120344
I wanted to second this issue. It is the Azure Repos extension which is deprecated but it has not changed in a long time. @RMacfarlane

It prompts you to login and it fails silently.

![image](https://user-images.githubusercontent.com/4038782/113621127-44618780-9629-11eb-8d37-276518cfdc76.png)

[2021-04-05 20:09] Jaeiya commented on #120568
@ArturoDent Atom indents the comments, while vscode does not.

[2021-04-05 20:10] ganezdragon commented on #658
hi moderators,

I could rebuild locally and test out my extension. But if I pack and publish it, it doesn't work in the client's machine. Please do let me know if you guys have any solution for publishing.

Thanks!

[2021-04-05 20:17] colombod commented on #120409
After testing with the python extension team we both realised that only "text/plain" mimetype goes on display while other mimetypes are dropped

[2021-04-05 20:17] DonJayamanne commented on #120409
FYI - We can replicate this with Jupyter extension as well.

[2021-04-05 20:31] alefragnani commented on #119834
@chrmarti Thanks for the additional explanation. I understand both API has different approaches, so I guess an update to the documentation would be enough.

@TylerLeonhardt Thanks for your help too. It is working perfectly with the solution you provided

Closing ...

[2021-04-05 20:31] #119834 closed

[2021-04-05 20:41] misolori commented on #120305
For verification:

1. cd into the directory that has the icns files
2. run `iconutil -c iconset -o ~/Desktop/code-temp.iconset Code.icns` to deconstruct icns file (this will create a folder on your desktop)
3. Open folder and verify that all icons appear normally without any glitches
  <img width="300" src="https://user-images.githubusercontent.com/35271042/113624448-83d1a900-9614-11eb-804c-76115b

[2021-04-05 20:46] jmholla opened #120584 "Changing quick open of group specific editor key shortcuts to non-group specific breaks quick open navigatoin"
Issue Type: <b>Bug</b>

1. Delete shortcuts for the following:
    * "View: Quick Open Least Recently Used Editor in Group"
    * "View: Quick Open Least Previous Recently Used Editor in Group"
2. Set the following shortcuts:
    * "View: Quick Open Least Recently Used Editor": Ctrl+Shift+Tab
    * "View: Quick Open Least Previous Recently Used Editor": Ctrl+Tab
3. Use one of the above shortcuts.

[2021-04-05 20:52] misolori commented on #120305
Merged https://github.com/microsoft/vscode/commit/91fa7f030d2da54f381be16cd1855798a091727d

[2021-04-05 20:52] #120305 closed

[2021-04-05 21:01] kieferrm opened #120585 "Iteration Plan for April 2021"
This plan captures our work in **April**. This is a 5-week iteration. We will ship in **early May**.

## Endgame
- **April 26, 2021**: Endgame begins
- **April 30, 2021**: Endgame done

The endgame details for this iteration are tracked [here](https://github.com/microsoft/vscode/issues?q=is%3Aissue+label%3Aendgame-plan+milestone%3A%22April+2021%22).

## Plan Items
Below is a summary of the top lev

[2021-04-05 21:14] slamer9 opened #120586 "Debugger does not stop on breakpoints (python. VS code)"
Whenever I try to add breakpoints to my python files, it marks it in the GUI as a breakpoint (red circle), but ignores them as if I never included them at all. The debugger just goes right over them without stopping.
As a test I created an empty folder with only a short python test file, and the debugger went right over the breakpoints.

This is running Visual Studio Code (version 1.55.0 user setu

[2021-04-05 21:16] pixieaka commented on #118407
@bpasero Here also some issues https://github.com/microsoft/vscode/issues/120391.

[2021-04-05 21:24] firelizzard18 opened #120587 "Non-executable notebook code cells"
I want Notebook support for cells that:
- Are not executable
- Are not markdown
- Are syntax highlighted

If I'm creating a notebook, I may want to add a code block that I do not expect to execute. Perhaps I want a block of CSS, HTML, YAML, or something else that is not (usually) executable. Or maybe I want to add a block of code in a language that is not supported by the notebook. Or maybe I want

[2021-04-05 21:30] firelizzard18 commented on #120587
I'd like Markdown cells to be generalized to (replaced with) Annotation cells (the name isn't important). Annotation cells should have a language picker so the language of the annotation can be changed. Markdown Annotations will be rendered - other Annotations will just be highlighted.

It would be awesome if extensions could register Annotation renderers (like output renderers) - then we could ha

[2021-04-05 21:31] firelizzard18 commented on #120587
/cc @rebornix @jrieken

[2021-04-05 21:33] clocky opened #120589 "Replace "marching ants" with shimmer/skeleton view when loading extension search results."
When scrolling through unloaded search results from a Marketplace search, the "marching ants" pattern is shown on unloaded items, creating a peculiar visual effect. (This is likely to be more noticeable on slower connections.)

![marching-ants](https://user-images.githubusercontent.com/1550587/113629341-2ab94380-961b-11eb-8112-478ffa24ada0.gif)

As an alternate solution, it may be less visually di

[2021-04-05 21:39] misolori commented on #120589
@sandy081 thoughts on updating this view?

[2021-04-05 21:43] sbatten commented on #120491
https://github.com/microsoft/vscode/commit/04d8568000be8eaab79fcf851499b9d58633adfb

[2021-04-05 21:43] #120491 closed

[2021-04-05 21:43] tarnopolsky commented on #113357
Oh, i miss this feature a lot, and know others who would be happy to use it. I know it is closed now, but still is there any chance that it can be moved to the backlog anytime soon?

[2021-04-05 21:47] flynnolivia commented on #114718
@isidorn I wanted to follow up on this since I tried out the `progress` API and had a few issues still. It seems that the announcement only comes through when using `location: ProgressLocation.Notification` and it is only announced with Narrator but not NVDA (even if I set the progress to last longer than 1 second).

[2021-04-05 21:48] sbatten commented on #120491
The rendering of the editor, being async would cleanup the widgets then re-render them multiple times due to events firing. So that was one problem. Aside from that, there was an existing issue with the listener leak being triggered by the fact that we just have a lot of extension widgets rendered. this wasn't a leak but I've bumped the warning threshold for the complaining emitters

[2021-04-05 21:53] gavinmorrow opened #120592 "Render Issue With Small Icon"
also in the macOS bigsur 11.2.3, I have same issue.
![Screenshot 2021-04-01 at 9 12 48 PM](https://user-images.githubusercontent.com/69979317/113319551-2cd78580-932f-11eb-961b-f39d85d970c5.png)

_Originally posted by @GautamMakadia in https://github.com/microsoft/vscode/issues/101014#issuecomment-811997058_

[2021-04-05 21:54] #120592 closed

[2021-04-05 22:12] sbatten commented on #120500
@bpasero just noticing that visibility of a status bar entry is not workspace scoped. do you know how do we handle this for extensions?

[2021-04-05 22:38] coreylista commented on #120496
Yes this!!

[2021-04-05 22:40] mauricioszabo opened #120593 "VSCode's showInputBox is wrongly escaping entities"
- VS Code Version: 1.55.0-1617120720
- OS Version: Ubuntu 18.04

Steps to Reproduce:

1. Try to use `vscode.window.showInputBox({prompt: "Watch & go", value: ""})`

Does this issue occur when all extensions are disabled?: Can't reproduce, the only way to have the prompt to appear is by using in an extension

Screenshots:

[code]

Renders:
![image](https://user-images.githubusercontent.com/138037/1

[2021-04-05 22:40] weinand commented on #120586
/extPython

[2021-04-05 22:41] #120586 closed

[2021-04-05 23:01] maljaroudi commented on #45997
I don't see why we still don't have this option in vscode. If the concern on implementing this is about performance, then that's why it's an option, like any other performance impacting options.

[2021-04-05 23:03] connor4312 commented on #57590
This happens five seconds into the subsequent session (the 3rd session) given breakpoints are still unbound:

![recording (2)](https://user-images.githubusercontent.com/2230985/113636944-58f15000-9628-11eb-821b-14396408ae65.gif)

[2021-04-05 23:06] connor4312 commented on #57590
@joaomoreno please verify if you can 🙂

[2021-04-05 23:06] connor4312 commented on #120227
@joaomoreno please verify if you can 🙂

[2021-04-05 23:20] bonjourjoel opened #120594 "mac os: terminal invisible text"
Hi,
Since the march update, the text doesn't show on the terminal. It happens on Mac Os Big Sur.
Actually it sort of shows randomly. At first it doesn't show, but i can see the cursor, then if i write more lines, some pieces will be visible, then invisible...
I attach 2 screenshots.

Precision: I haven't set any terminal option on vsc.
Oh and I forgot: If i change the setting about bright characte

[2021-04-05 23:20] alyssajotice opened #120595 "Notebook language highlighting not working"
- VS Code Version: 1.56.0-insider
- OS Version: Windows_NT x64 10.0.19042

![text-highlighting](https://user-images.githubusercontent.com/22576531/113637950-9d7deb00-962a-11eb-87c4-0a902b0f4d49.gif)

Steps to Reproduce:

1. Open a notebook cell with any extension/language
2. Try to change the language

Expected: The language highlighting changes.
Actual: The language highlighting does not change.

[2021-04-05 23:26] bonjourjoel opened #120596 "Mac OS: ghost launch configurations"
Hi,
Since the march update, i have ghost launch configurations on vsc. It happens on Mac Os Big Sur.
I use a configuration with a networked shared folder between windows & mac to have the same code base.
When I delete a launch configuration that i had used before, it doesn't delete from the launch pick list. It stays there. If i try to run it, it says it's missing. I can't remove them: They don't

[2021-04-05 23:37] phgmacedo commented on #113245
@rebornix Can the vscode team please reconsider [menu contributions](https://github.com/microsoft/vscode-jupyter/issues/5387)?

There are lots of issues with complaints about users being forced to have jupyter installed with the python extension, and mostly msft's python/jupyter extension team just [ignores feedback and users complaints](https://github.com/microsoft/vscode-python/issues/14857) unl

[2021-04-05 23:51] jamietdavidson commented on #120534
Hi @gjsjohnmurray,

Off the top of your head, do you know of any extensions that accomplish this/ could you link them to me? I can't seem to find any in the sea of options available. Perhaps it would help others who stumble into the same problem too.

Thanks!

[2021-04-06 00:06] robertoerd commented on #120367
It's done. Thanks.

[2021-04-06 00:07] #120367 closed

[2021-04-06 00:17] chenfeibo commented on #118764
I'm running Jupyter extension with version 2021.5.702919634 but this issue still repros. Which info/log shall I provide?

[2021-04-06 00:35] gencer commented on #120427
@meganrogge About writing to same line, see below:

![1](https://user-images.githubusercontent.com/1711576/113642632-ed8b9a80-9688-11eb-9147-7dbd14d19542.gif)

P.S.: Using `bash` on WSL. But happens on local `bash` or SSH's `bash` too. Including powershell.

[2021-04-06 00:38] roblourens commented on #120209
This is probably because your `executeCellsRequest` returns a promise that does not resolve

[code]

[2021-04-06 00:42] Goldman1337 commented on #84151
are there any plans to implement this?

[2021-04-06 00:44] justingrant commented on #57590
@connor4312 - This looks great!  Thanks so much for moving this forward. Some questions:

Can this text contain a link to the docs where the user can learn how to do this?  Also, other than changing the build tool (which may not be possible in some cases, e.g. non-ejected `create-react-app`), the other option is to use `sourceMapPathOverrides` in launch.json. Seems like this option should either b

[2021-04-06 00:54] setaskin opened #120597 "[Accessibility] Narrator/NVDA is not reading the unchecked status for the list item"
- VS Code Version:
- OS Version:

Steps to Reproduce:

1. go to explorer pane
2. click on tree dots in the top right of the tree view.
3. uncheck couple items in the list ( leave some of them as checked)
3. open Narrator app
4. navigate trough same list and see Narrator reads "unchecked" status.

Actual :  Narrator only reads "checked" status of the item. If the item is "unchecked" narrator doesn'

[2021-04-06 00:55] setaskin commented on #120597
@isidorn , the bug is assigned to us from Accessibility team but I believe root cause is coming from vs code.

[2021-04-06 01:10] Tyriar opened #120598 "Adopt getting started in Luna Paint"
We'll use it as a testbed for the getting started experience

[2021-04-06 01:13] VanderSP commented on #120427
yes this also happens too... and sometimes hangs at bottom
and sometimes when word wrap it makes a space                   like this

[2021-04-06 01:30] AhmedSaad-ML opened #120599 "undo Button is acting crazy in JypterNotebook"
Issue Type: <b>Bug</b>

Hi, When I press cmd+Z for JypterNotebook it is not undoing every cell as it used to but, now it is undoing the whole notebook and even changing the output of the cell not just the code which is crazy and nonsense. Also the redo in Jytper Notebook is not functioning properly.

can you please check it out

Thanks

VS Code version: Code 1.55.0 (c185983a683d14c396952dd43245909

[2021-04-06 01:31] firelizzard18 opened #120600 "Allow per-document notebook content options"
I want to be able to set `transientOutputs` on a per-notebook document basis.

For example, say I invent some notebook format that provides a way to store per-document configuration values. One of those values controls whether or not outputs are persisted. In this scenario, some notebooks should have `transientOutputs: true` and others `transientOutputs: false`. To reflect this properly, I want to

[2021-04-06 01:42] stolenzc opened #120601 "The vscode icon is sometimes garbled"
- VS Code Version: 1.55.0
- OS Version: Macos 10.15.7

Steps to Reproduce:

1. when I use spotlight
![image](https://user-images.githubusercontent.com/42373706/113646866-46c0f180-96bc-11eb-99d1-ba287c903c69.png)

2. when I choose the app to open file
![image](https://user-images.githubusercontent.com/42373706/113646912-60623900-96bc-11eb-8d5d-779c853fc450.png)

Does this issue occur when all exten

[2021-04-06 01:51] yume-chan commented on #120601
Duplicate of #120305

[2021-04-06 01:53] stolenzc commented on #120601
I got it!

[2021-04-06 01:53] #120601 closed

[2021-04-06 01:54] yume-chan commented on #118754
Note to all subscriber of this issue: This issue had been reopened and resolved in #120305

[2021-04-06 02:17] itsVyasi commented on #120294
@roblourens Thank you, I had previously found that page and I thought it explained well. My issue was more that the Single-folder setup feels to me to be contrary to the paradigm, and unintuitive when switching between the two. Particularly, I tend to use Single-folder workspaces and whenever I switch I tend to select the wrong settings because I am used to the 'Workspace' tab targeting settings.j

[2021-04-06 02:35] #115754 closed

[2021-04-06 02:35] #115728 closed

[2021-04-06 02:35] #115618 closed

[2021-04-06 02:36] #115068 closed

[2021-04-06 02:41] thiagomajesk commented on #3969
I'm also interested in this, I think it would be a great addition. What's the requirement for getting this approved/ voted, etc?

[2021-04-06 02:45] thiagomajesk commented on #6966
I'm also interested in this, I think it would be a great addition. What's the requirement for getting this approved/ voted, etc?

[2021-04-06 02:47] rebornix commented on #120600
I wonder if this can be an extension feature and extension can decide if they want outputs to be stored on disk per document or cell. Thought the catch is the dirty indicator is not reflecting the state.

[2021-04-06 03:20] #120513 closed

[2021-04-06 03:27] rebornix opened #120603 "Allow `toggled` menu to have a different title"
Issue Type: <b>Bug</b>

Right now with `registerAction2` we don't have a way to specify different titles contributions for command palatte and other menus. For example, we introduced a command to toggle line numbers, we would like to call it `Toggle Notebook Line Number` but in editor title bar, it seems the common pattern is calling it `Show Notebook Line Number` and use the checkmark to reflect

[2021-04-06 03:32] misolori opened #120604 "Allow app icon to be configured"
Refs #101014

Everyone has different preferences for what icon they'd like to see in the dock. We've seen this in all of our brand re-designs and it's impossible to make a single icon that everyone loves. This issue is to request to allow the app icon to be configured from a set of icons. Below are a few examples that currently do this.

**Nova**
<img width="500" src="https://user-images.githubuse

[2021-04-06 03:33] misolori commented on #101014
For those wanting to configure the app icon, please upvote and subscribe to https://github.com/microsoft/vscode/issues/120604

[2021-04-06 03:33] abhijit-hota opened #120605 "test67"
Issue Type: <b>Bug</b>

test

VS Code version: Code 1.55.0 (c185983a683d14c396952dd432459097bc7f757f, 2021-03-30T16:01:55.261Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz (8 x 1800)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>multiple_raster_threads: enabled_on<br>oop_rast

[2021-04-06 03:34] abhijit-hota commented on #120605
Apologies. I did not know the issue reporter creates the issue directly without giving an option to edit it on GitHub.

[2021-04-06 03:34] #120605 closed

[2021-04-06 03:37] abhijit-hota commented on #120399
Because I did not know that this was a problem. I thought it was natural for the suggestions to take some time. Apologies for that.

----

It happens ocassionally.

VS Code version: Code 1.55.0 (c185983a683d14c396952dd432459097bc7f757f, 2021-03-30T16:01:55.261Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8250U

[2021-04-06 03:53] AlexDev2020 commented on #120568
I really dislike the behavior of vs code. I expect there to be a line indent before the comment followed by a comment character and a space, but I get a comment character, a space and a line indent, which in turn looks bad. Also note the selecting of the text after inserting comments.

[2021-04-06 04:00] mrleblanc101 commented on #120604
You can still hope, but I doubt this has any chance of happening.
Microsoft has a design language and will to unify all their icons.
Just like on iOS, all apps will move to the current logo in a white square.
<img width="1009" alt="Capture d’écran, le 2021-04-06 à 00 00 20" src="https://user-images.githubusercontent.com/17392251/113657052-23ba2180-966b-11eb-97a4-0862ecf15dde.png">

[2021-04-06 04:18] renkun-ken commented on #99208
This problem no longer occurs with the latest release of vscode (1.55.0). Closing now.

[2021-04-06 04:18] #99208 closed

[2021-04-06 04:19] renkun-ken commented on #99208
The problem no longer exists in the latest release of vscode (1.55.0). Closing now.

[2021-04-06 04:24] firelizzard18 commented on #120600
@rebornix I was thinking of this as a capability that an extension can choose to use or not - something like an optional field on `NotebookData` that overrides the content provider's options if the field is present. So the extension's content provider controls this.

I can do this today, but as far as I can tell, the entire purpose of the transient flags is to make sure the dirty indicator is upda

[2021-04-06 04:38] mhesham93 commented on #120149
It does reproduce with all extensions disabled, I'm working with prisma.io and when I update my database and refresh my schema in visual studio it won't reflect the updates unless I restart VS Code (for example if I added a table/column IntelliSense  won't suggest the properties unless I restart it)

[2021-04-06 04:43] gjsjohnmurray commented on #120599
/extJupyter

[2021-04-06 04:43] #120599 closed

[2021-04-06 05:12] jdneo commented on #107467
Thank you @connor4312, Yes, I'm using `setState` to report the test states. I get your point now for `publishTestResult `.

BTW another question about the coverage support, when will this part start in the proposed test APIs? (We are planning to add coverage support so a rough time could help us decide the timeline).

[2021-04-06 05:44] bpasero commented on #120567
/gifPlease

[2021-04-06 05:48] bpasero commented on #118947
@JacksonKearl maybe you could benefit from the file working copy concept if you do not want to leverage text file models. We will polish the API during this month for notebooks, some things are not yet there. But the gist is that you get the full support of what text file models have today without actually instantiating any text models. The API is simple byte based and you only need to implement `

[2021-04-06 05:52] bpasero commented on #120500
If the user decides to hide a status bar entry, we persist this globally assuming that this is an explicit choice for each window. I for example decide to hide the notifications and feedback icons in the lower right corner. Asking me to hide this in each workspace would be brutal.

I do not really understand how this applies to extensions.

[2021-04-06 06:00] elgandoz commented on #120507
You can easily override any app icons on MacOS: https://9to5mac.com/2020/12/01/change-mac-icons/
Just update!

[2021-04-06 06:01] #120526 closed

[2021-04-06 06:01] bpasero commented on #120431
Yes, that is a good way to find out what child processes we spawn from a renderer.

Fyi that `issueMainService` has 2 different windows: the process explorer and the issue reporter

Yes, I would suggest to do a pass over our `dependencies` of `package.json` including the `optionalDependencies` which list specific native modules for Windows only and find the ones which are still being used in rende

[2021-04-06 06:02] jrieken commented on #120526
Output channel windows are also text editors. You can differentiate them by the scheme and the lack of a viewColumn

[2021-04-06 06:03] jrieken commented on #120225
I have only seen this on build machine - the test didn't fail locally which made this impossible for me to investigate. So, likely due to the timeout

[2021-04-06 06:07] jrieken commented on #120600
Yeah, I was having similar thoughts when persisting output for GitHub issue notebooks. Tho, for that it would have been per output/metadata value. E.g when a cell contains `@me` I don't want to save its output and that fact is very dynamic (changes after providing `NotebookData`)

[2021-04-06 06:10] jrieken commented on #120406
Yeah, the `1_run` doesn't exist anymore

[2021-04-06 06:10] #120406 closed

[2021-04-06 06:13] jrieken commented on #120495
A completion item provider is invoked, returns completions but they don't show up! 😕  What's the issue? Filtering! Filtering compares completions with a prefix and hides those that don't match.

#### Example

* trigger completions here: `say.he|` (`|` is the cursor)
* provider returns `abc`, `help`, `hood`
* the editor takes the `he`-prefix and scores it against `abc`, `help`, and `hood`.
* scorin

[2021-04-06 06:13] #120495 closed

[2021-04-06 06:21] #120549 closed

[2021-04-06 06:22] misolori commented on #120507
Also please see https://github.com/microsoft/vscode/issues/120604 if you want to configure the app icon

[2021-04-06 06:23] jrieken commented on #120587
This should already be possible with a "normal" code cell. Kernels have the concept of supported languages and when a cell isn't supported by a kernel there should be no run-button

[2021-04-06 06:25] florianrusch commented on #25841
@quenbyako it's [BetterTouchTool](https://folivora.ai/)

[2021-04-06 06:31] zeyad-shaban commented on #119941
for a self-contained project here it's: https://github.com/zeyad-shaban/node-issue-self-contained-project
tho I think it's completely unnecessary as I have only one file and it contains all of the code, anyway I will leave the code here

[code]

here is my settings.json that can cause this issue (please note that I deleted everything, restarted vs code and the issue was still there

[code]

Any in

[2021-04-06 06:31] SilenceX12138 commented on #120154
Here it is~😀

![show](https://user-images.githubusercontent.com/47887520/113668384-bea31200-96e4-11eb-9ff9-e2dcb82818ca.gif)

[2021-04-06 06:32] mrleblanc101 opened #120606 "Remove outline on non-interactive element when using mouse"
I undertand that the outline is there for accessibility reason, but since these elements are non-interactive, the focus style should only be shown when using the keyboard navigation.
On a website that would usually be done using what-input or custom JS.
https://www.npmjs.com/package/what-input
https://ten1seven.github.io/what-input/
<img width="2032" alt="Capture d’écran, le 2021-04-06 à 02 30 4

[2021-04-06 06:37] deepak1556 commented on #120431
That is correct and there will be a context change on reload. Based on the lifecycle hooks you have mentioned in https://github.com/microsoft/vscode/issues/120431#issuecomment-812841013 , they are sufficient to have child processes restart in the process reuse model as well, we don't have to treat the process reuse mode as a different state.

[2021-04-06 06:43] peterflynn commented on #119027
@bpasero

Yep, that seems like the technical explanation – the problem being since VS Code doesn't show as active in the dock it's not obvious to users why it can't be launched nor is it clear what to do to resolve it.
<br>

At the time I was hitting this, running `ps aux | grep Code.app` gave:
[code]

One seemingly odd thing about this is that the OS had just hard-rebooted on March 15, so it's pr

[2021-04-06 06:43] isidorn commented on #119193
No plans to do an explorer specific solution.
I believe this is a fair feature request against our laout, thus forwarding to @sbatten
fyi @misolori

[2021-04-06 06:45] Zenoo opened #120607 "Special chars not displayed correctly in terminal"
Issue Type: <b>Bug</b>

I am using Git Bash for the terminal, and inside VSCode, some characters are not displayed the same way if I use Git Bash outside VSCode.

There are some weird `←[0m`

![](https://i.imgur.com/hF7wT83.png)

![](https://i.imgur.com/aH1nvUS.png)

VS Code version: Code 1.55.0 (c185983a683d14c396952dd432459097bc7f757f, 2021-03-30T16:01:55.261Z)
OS version: Windows_NT x64 10.0.19

[2021-04-06 06:46] bpasero commented on #119027
Maybe @deepak1556 could have a look, this seems like hanging crash reporter processes.

[2021-04-06 06:53] firelizzard18 commented on #120587
It is possible, but the UX isn't ideal. This is from [my PR on vscode-markdown-notebook](https://github.com/microsoft/vscode-markdown-notebook/pull/5), which parses YAML frontmatter and presents it as a cell:

![Screen Shot 2021-04-06 at 01 44 01](https://user-images.githubusercontent.com/879055/113669578-93370d80-9679-11eb-8ed8-bf776e514767.png)

IIRC when I was doing this before, the run button

[2021-04-06 06:55] #120243 closed

[2021-04-06 07:03] jrieken commented on #120319
<img width="563" alt="Screenshot 2021-04-06 at 09 02 33" src="https://user-images.githubusercontent.com/1794099/113671631-ea0f0800-96b6-11eb-9665-7b02e97e24df.png">

Please provide more information

[2021-04-06 07:05] #120476 closed

[2021-04-06 07:05] chrmarti commented on #120231
Testing with VS Code 1.55 (please update if you haven't already to make sure we compare the same versions) on Windows with both PowerShell and cmd.exe I have to remove `https_proxy=` to get the proxy to work. The proxy bypass list then works for me in both shells:
[code]

`--log-net-log` uses the install folder if the filename is not an absolute path (this might be different on other platforms). M

[2021-04-06 07:11] firelizzard18 commented on #120587
By doing some rough and ready surgery via the Inspector, I managed something that feels more natural IMO:

![Screen Shot 2021-04-06 at 02 07 39](https://user-images.githubusercontent.com/879055/113672248-14dc6a80-967d-11eb-8484-537fc3ca4f79.png)

I think I'd prefer to remove the border too, but I didn't feel like figuring out how to DOM-hack it away.

[2021-04-06 07:12] jrieken commented on #120284
Maybe because the workbench believes that file is dirty and needs to be shown? I will debug

[2021-04-06 07:13] chrmarti commented on #120153
This could also be affected by the workspace folder being mounted on the Mac filesystem. There is some overhead in doing this (on the Docker side). You could try using a Docker Volume for the workspace folder to avoid that overhead using `F1` > `Remote-Containers: Clone Repository in Container Volume...`.

[2021-04-06 07:18] subhamkedia799 opened #120608 "Additional terminals not showing full commands"
Issue Type: <b>Bug</b>

open a second terminal, try writting something long on terminal, the cursor keeps cycling on display but when pressesd enter the command executes

VS Code version: Code 1.55.0 (c185983a683d14c396952dd432459097bc7f757f, 2021-03-30T16:01:55.261Z)
OS version: Windows_NT x64 10.0.17763
Remote OS version: Linux x64 4.15.0-133-generic

<details>
<summary>System Info</summary>

|I

[2021-04-06 07:20] sandy081 commented on #120273
Oh sorry about that - removed forwarding args to fix this - https://github.com/microsoft/vscode/issues/119369. I will revisit the fix and scope it only for custom view. Since this is fixed, closing this.

[2021-04-06 07:20] #120273 closed

[2021-04-06 07:23] jrieken commented on #120284
The opening happens here: https://github.com/microsoft/vscode/blob/88c58b011c06233c8fb1a61a79a8fffd22ba7ee2/src/vs/workbench/contrib/notebook/browser/notebook.contribution.ts#L724

The question is why a text editor and not a notebook editor is opening. @lramos15 Did something change? I see that [onEditorOpening](https://github.com/microsoft/vscode/blob/88c58b011c06233c8fb1a61a79a8fffd22ba7ee2/src/

[2021-04-06 07:24] jongarrido opened #120609 "Can't see anything in terminal"
Whan launching several terminals some of them are running but not showing anything but a "sad face" icon. I am lunching terminals using "Terminals Manager" from Fabio Spampinato and this happens since last update of VS Code to version 1.55.0

[2021-04-06 07:25] sandy081 commented on #119369
Thanks @sbatten for investigation. I should not have stopped forwarding args for all views and changing `actionViewItem` is risky as this is a general view item that is being used by all core components.

Safe and proper fix is to let views decide to forward args or not.

[2021-04-06 07:28] JanHildenbrandBosch commented on #120332
Yep behind a corporate proxy. It seems to be connected with the issue. Installation works fine at "home" without any proxies.
The proxy had to be defined in the user settings:
[code]
The docker image itself uses a different proxy (tunnelled through the docker desktop)
[code]
Nothing in this setup was changed.

[2021-04-06 07:31] isidorn commented on #120188
Yeah I think this makes sense. Especial since the output is read only.  Current jumping focus behavior is weird and unexpected for keyboard users. I can look into fixing this.

fyi @sandy081

[2021-04-06 07:35] iSpid3r commented on #120319
![Group 1](https://user-images.githubusercontent.com/20419104/113675044-98b94580-96c3-11eb-9148-dfbb34ba72ec.jpg)

![06-04-2021 10-34-59](https://user-images.githubusercontent.com/20419104/113675174-c0101280-96c3-11eb-9648-ed519c893cac.png)

[2021-04-06 07:36] isidorn commented on #120211
@gjsjohnmurray thanks for answering.
@setaskin yes, as @gjsjohnmurray pointed out this is intentional and based on user feedback.
Status bar can be focused via F6 and the status bar can be read out using the special read status bar commands.
Just to be sure I have raised this question one more time with our screen reader community but for now no plans to change this

[2021-04-06 07:40] #119369 closed

[2021-04-06 07:41] jrieken commented on #120284
I have pushed a workaround for this - instead of resource editor inputs it uses now notebook editor inputs but something still feels wrong about the original case

[2021-04-06 07:44] isidorn commented on #120176
@sandy081 yes I see the input box. If somebody wants to debug on my machine feel free to ping me.

[2021-04-06 07:45] jrieken commented on #120284
@roblourens with my fix/workaround I now see another problem

* run the command -> notebook editor opens as dirty 👍
* reset cell language, save, close the editor
* re-run the command
* 😢 the editor doesn't open again because it there is no dirty event being fired

[2021-04-06 07:46] abdalla856 opened #120610 "the color in setting,json change itself"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-04-06 07:47] gjsjohnmurray commented on #120610
/needsMoreInfo

[2021-04-06 07:47] #120610 closed

[2021-04-06 07:49] gjsjohnmurray commented on #120609
/causedByExtension

[2021-04-06 07:49] #120609 closed

[2021-04-06 07:50] lszomoru commented on #120173
@mjbvz, we have closed on the two suggestions. What should be the next step here? Thanks!

[2021-04-06 07:50] tonualexandru opened #120611 "VSCode icon"
Issue Type: <b>Bug</b>

After update to version 1.55.0 vscode icon is distortioned in context menu (open with) and same in Applicications folder.

OS version: 10.13.6 (17G14042)

VS Code version: Code 1.55.0 (c185983a683d14c396952dd432459097bc7f757f, 2021-03-30T16:01:05.981Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-

[2021-04-06 07:51] chrmarti commented on #109969
The assumption so far was that items would not change and that we need to read their properties only once when they are set on the picker object. That has kept the API simple. The `scrollTop` and `splice()` (replace the changed items) suggestions are preserving this assumption.

If we wanted to support mutable items, we would need an extension-supplied event. That would in my view mix two distinct

[2021-04-06 07:54] isidorn commented on #120261
We already have this
`F1 > Increase current view size`
`F1 > decrease current view size`

These commands can be assigned keyboard shortcuts to by the user.
Thus closing as already working

[2021-04-06 07:54] #120261 closed

[2021-04-06 07:56] gjsjohnmurray commented on #120611
/duplicate of #120305 and will be fixed in upcoming 1.55.1

[2021-04-06 07:56] tonualexandru commented on #120611
Screenshots:
Context menu:  https://imgur.com/kKFhQmh
Applications folder: https://imgur.com/f9yl0Z7

[2021-04-06 07:57] #120611 closed

[2021-04-06 08:06] alexdima commented on #119968
@bpasero What steps should I take to observe a leak. `ModelData` is disposed [here](https://github.com/microsoft/vscode/blob/8684456b1e343016257b6b6ca71f57208db89bb1/src/vs/editor/common/services/modelServiceImpl.ts#L594)

[2021-04-06 08:12] StephanMuenzberg commented on #120231
Just to make sure, does this mean your command looks like this?

[code]

The problem persists. I even updated to v1.55

[2021-04-06 08:14] bpasero commented on #120272
@ardalis this sounds like the window that had the folder opened was just not moved to the front? Does it reproduce if you run code from the command line: `code <folder path>`?

[2021-04-06 08:19] akdevservices commented on #119268
@dziku86
There's no local config files, just a single .js file in the current folder. But your workaround works, even an empty `jsconfig.json` does the job:
[code]
Though it is still a workaround and not a bug fix.

[2021-04-06 08:20] sandy081 commented on #120545
Removed the usages in keybindings editor - and left the ones in `KeyboardLayoutPickerAction` to @rebornix

https://github.com/microsoft/vscode/blob/8b192ae90ff4eed429b7d5bd64297f633fe872c5/src/vs/workbench/contrib/preferences/browser/keyboardLayoutPicker.ts#L124-L124

[2021-04-06 08:27] sandy081 commented on #120416
This is expected because we do not support PAT due to the security reasons.

[2021-04-06 08:27] bpasero commented on #120225
I locally get the test to fail with:

[code]

If I do something like `const moveChange = asPromise(notebook.onDidChangeNotebookCells, 1000);` in a commands test that does not deal with notebooks, so I think that is fine.

One thing I noticed while testing this, I can get tests to hang like so:
* have a test with a `done` callback (instead of being `async`)
* never call `done` (e.g. because a promi

[2021-04-06 08:27] sandy081 commented on #120176
Lets debug together then :)

[2021-04-06 08:29] fbnlsr commented on #120383
@chrmarti the problem is still here for me. Is there something I could do to force the update? I do get the update notification inside VS Code but there's nothing when I run `sudo apt update`. Or maybe it has something to do with Pop!_OS' repository?

[2021-04-06 08:30] sandy081 commented on #120589
👍 for change if it improves the experience.

[2021-04-06 08:30] mrgrieves4 opened #120612 "Option to use old VS Code icon"
Issue Type: <b>Feature Request</b>

As a visually impaired user, the new Big Sur icon set is really bad for me because all icons now look very similar (indistinguishable white blobs until I zoom right up close).

The old vs code icon was nice and distinct, and now it just looks like Chrome, Safari etc.

An option to use the old icon instead would be helpful.

VS Code version: Code 1.55.0 (c185983a

[2021-04-06 08:31] #120225 closed

[2021-04-06 08:32] sandy081 commented on #120389
It has to be supported by Marketplace, so assigning to @mjbvz ( I could not simply transfer it )

[2021-04-06 08:34] sandy081 commented on #120330
Seems to be related to authentication token

[2021-04-06 08:34] wjc13403648340 opened #120613 "控制台打开显示空白"
所需的数据太大，无法直接发送。我们已经将其写
Issue Type: <b>Bug</b>

更新到最新版本，打开就出现了控制台显示空白

VS Code version: Code 1.55.0 (c185983a683d14c396952dd432459097bc7f757f, 2021-03-30T16:01:55.261Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 5 3400G with Radeon Vega Graphics     (8 x 3693)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>

[2021-04-06 08:35] sandy081 commented on #120360
@gregvanl your opinion please.

[2021-04-06 08:36] joaomoreno commented on #119927
I don't think we can, since that's the Windows color you have picked for your system.

[2021-04-06 08:38] joaomoreno commented on #120456
@bpasero This is a great finding, right? Is there a way for me to detect VS Code is currently being run as part of a test suite? Do we have any flag in the env service I could check?

[2021-04-06 08:41] sandy081 commented on #120472
Changing keybindings according to platform while syncing is not feasible. Instead you can use when conditions like `isMac` to define platform specific keybindings - https://github.com/microsoft/vscode/issues/8962

[2021-04-06 08:41] #120472 closed

[2021-04-06 08:41] joaomoreno commented on #120088
That's too bad, but I'm glad you found a workaround! It's hard to get a setting for it, since a setting can't affect where the CLI script is located, and signing CMDs isn't really a thing AFAIK. Closing for now.

[2021-04-06 08:41] #120088 closed

[2021-04-06 08:42] bpasero opened #120614 "Unit test "moveEditor with context (across groups)" prints exceptions"
The `moveEditor with context (across groups)` prints these exceptions:

[code]

Moving to April because I am not sure this is a bug with the test or the code. I can also assist as needed.

[2021-04-06 08:42] joaomoreno commented on #120377
Does this happen if you change the `update.mode` before you roll back to 1.54.3?

[2021-04-06 08:44] joaomoreno commented on #117579
My brain has always considered quick open to be a history of editors, not files. This is further cemented by the fact that diff editors appear in quick open:

![image](https://user-images.githubusercontent.com/22350/113684004-a813a100-9679-11eb-899f-d4edf9d8f2da.png)

[2021-04-06 08:45] bpasero opened #120615 "iPadOS: layout breaks with many search results"
When I used iPadOS on Codespaces I often ended up with the search view breaking up with a scrollbar appearing when I got many search results.

Steps are pretty much: run searches with many results from the search viewlet.

Filing this issue here as a reminder to investigate and to you Isi, since you are assigned.

[2021-04-06 08:48] bpasero commented on #120456
@joaomoreno how about checking if a [`extensionTestsPath`](https://github.com/microsoft/vscode/blob/19f6f3103606da3fe5d8be4b722d96fe8e18271a/src/vs/platform/environment/common/argv.ts#L43-L43) is provided.

A more complete check is implemented here that also takes running from debugger into account:

https://github.com/microsoft/vscode/blob/ff0f7f3cf24251a4921eb5c467c1dd2f805094a3/src/vs/platform/

[2021-04-06 08:49] jrieken commented on #120225
Maybe, but I doubt that's the cause here. Sure, `asPromise` uses promises and either you wire that up to `done` correctly or return a promise from your test. Those timeouts, e.g waiting for the an event to happen, should be a normal test exception.

[2021-04-06 09:02] Dylan-Kerler opened #120616 "Hint shows up and file is found but "auto import" option is not shown"
I want to import `Card` - As you can see the `Card` component and file are found but there is no option to auto import. For some components it shows up and for others it doesn't. How can I fix this?

![Screenshot from 2021-04-06 10-01-13](https://user-images.githubusercontent.com/37438950/113686397-20e91c00-96bf-11eb-9ea2-bc572106a742.png)

[2021-04-06 09:03] bpasero commented on #120225
@jrieken I looked into this and it turns out we seem to configure a timeout of `60000` for most of our integration tests, e.g. here:

https://github.com/microsoft/vscode/blob/e9166375289c451dd1c1c82cd3fef766857a0c52/extensions/vscode-notebook-tests/src/index.ts#L12-L12

In your case I think we had 7+ tests all waiting for 1min to finish and this caused the build machine to cancel the task entirely

[2021-04-06 09:07] bpasero commented on #117579
Yes and no. If you just open quick pick the "recently opened" includes all editors that were open. You can see for example how extension editors appear which are entirely not file based because they have no concept of a backing file.

However, when you start to type you get a mixed view of recently opened and search results and in that case, we only consider file based editors in the result so tha

[2021-04-06 09:11] vasilenka commented on #120604
Seems like allowing it to be configured is the only way for everyone to satisfied

Also, where can I get the previous icon of Insiders for macOS, please?
I've tried converting from *.png, but it doesn't look as good as before

[2021-04-06 09:11] jongarrido commented on #120609
Anyway, it can be solved changing Integrated Terminal Renderer Type settings to "canvas"

[2021-04-06 09:14] vasilenka commented on #120507
@misolori where can I get the previous icon of Insiders for macOS, please?
I can't find it
I've tried converting from .png, but it doesn't look as good as the previous icon

[2021-04-06 09:22] nieuwefn commented on #120279
Same problem here. A trick that is working for us is opening a package.json, then either the NPM Scripts Explorer automatically is shown, or after using `> Reload Window` it is availaible.

[2021-04-06 09:25] alexr00 commented on #120328
Sounds like Option 2 is the way to go then. I will add a new `resolveWithEnv` method that is sync and lets you pass in your own `IProcessEnvironment`.

[2021-04-06 09:30] #120466 closed

[2021-04-06 09:36] hirvavithlani2426 commented on #120344
@RMacfarlane : TFS v2.0.0 is the version, and no it did not get updated, just update in vs code

[2021-04-06 09:38] hediet opened #120617 "API Request: onDidChangeTextDocument - differentiate between user input and redo/undo"
The extension API of VS Code 1.54.3 offers the event `workspace.onDidChangeTextDocument` that can be used to subscribe to text changes.

Currently, it does not seem to be possible to differentiate between text changes caused by user-input and those caused by redo/undo.

This is problematic if an extension wants to use the `onDidChangeTextDocument` event to modify the document when certain characte

[2021-04-06 09:39] thw0rted commented on #118072
The author should check out [solution-style tsconfig](https://devblogs.microsoft.com/typescript/announcing-typescript-3-9/#solution-style-tsconfig), which lets the language server be pointed to multiple `tsconfig` files at once.  This way, you can have separate "build" and "test" tsconfig files and get appropriate suggestions in a given file based on which config(s) include it.

@mjbvz , thanks a

[2021-04-06 09:40] sandy081 commented on #120176
Investigated with @isidorn and it seems the input box is shown when following setting is set `"editor.accessibilitySupport": "on"`.

@chrmarti @TylerLeonhardt - To summarize there are following issues with quick pick

1. Input box is shown when following setting is set `"editor.accessibilitySupport": "on"` - even if it is asked not to be shown.
2. Quick pick is not reading the description

[2021-04-06 09:41] alexr00 commented on #120329
I can also repro. Tasks uses the terminal re-use internal api, and debugging I could see the correct `name` is passed in shell launch config here:

https://github.com/microsoft/vscode/blob/d05d8ca4c2590e26517ec87c30892b1b10ef89b1/src/vs/workbench/contrib/tasks/browser/terminalTaskSystem.ts#L1221-L1222

It seems that the terminal is not respecting the name that is passed in `reuseTerminal`.

[2021-04-06 09:45] bpasero commented on #119968
@alexdima nevermind, I figured out the root cause: we use this method to open a random file for integration tests:

https://github.com/microsoft/vscode/blob/9b091c7d2281fd8c747a3496cf3bd282e74e88e2/extensions/emmet/src/test/testUtils.ts#L53-L53

Which I think is fair, given the API tests only have access to our API. However, this ends up calling `openTextDocument` which will result in a model refe

[2021-04-06 09:52] jrieken commented on #93265
Please note the following BREAKING change: `NotebookDocument#cells` has been removed in favour of `getCells(range?)`, `cellCount`, and `cellAt`.

[2021-04-06 09:53] Thomvanoort96 opened #120618 "Small user snippet issue using single quotes"
I noticed this issue happening after the February update (I think). I'll try to explain this the best way I can. When I want to insert single quotes ' ', I press the single quote button once and 2 quotes appear. The cursor/pointer is inbetween those 2 quotes. After pressing backspace/delete, both of the quotes dissapear again. This is expected behaviour.

Now, I use a snippet to print a console.lo

[2021-04-06 09:54] jrieken commented on #119968
Yes - there is a timeout and total size limit

[2021-04-06 09:57] alexr00 commented on #120242
Duplicate of https://github.com/microsoft/vscode/issues/110083

[2021-04-06 09:57] #120242 closed

[2021-04-06 09:59] isidorn commented on #120211
After discussing with the community we decided to make the status bar a tab stop and to add a command to focus on the status bar.

[2021-04-06 10:00] mister-glass commented on #118270
I need to point out that this change, which I consider a 'breaking' change, is not mentioned anywhere in the latest release notes: https://code.visualstudio.com/updates/v1_55. I got here by searching for 'autoClosingDelete' in the issues page,  a config option which I stumbled upon by chance in the settings page while trying to figure out what was wrong with the editor.

[2021-04-06 10:02] #120534 closed

[2021-04-06 10:06] Betristor commented on #120531
Thanks for responding.
![image](https://user-images.githubusercontent.com/55777837/113689915-69272f00-96fd-11eb-9d73-cad5c38fe3f0.png)
First, I've installed tabnine and pylance for autocompletion which work well in py file. But in ipynb auto-import from pylance and hints from tabnine seem disappeared.
Second, kite is what I searched and installed for substitute, but currently kite can't support ip

[2021-04-06 10:15] #120226 closed

[2021-04-06 10:15] jrieken commented on #119949
Our plans is that all content providers are generic - we are working on decoupling it from all execution related information.

Yeah, that's our idea as well. Kernels are decoupled from content providers but for us notebook cells don't live in isolation from each other and are executed by the same kernel. Tho, you can achieve what you want by doing the indirection yourself: have one (vscode) kernel

[2021-04-06 10:21] jrieken commented on #120617
Should be easy'ish for undo/redo because the underlying change event has this information: https://github.com/microsoft/vscode/blob/2243766d3effa5381bc4e3b378aae40c395f3ea1/src/vs/editor/common/model/textModelEvents.ts#L64

[2021-04-06 10:31] GHOSTS15 opened #120619 "sincronizzazione buggata"
Issue Type: <b>Bug</b>

quando premo il pulsante "sincornizza ora"  non funziona corettamente , cioe salva solo "L'interfaccia utente"  il resto ( come l'estensioni) non le salva... però le estensioni le salva solo quando installi una nuova estensione.

VS Code version: Code 1.55.0 (c185983a683d14c396952dd432459097bc7f757f, 2021-03-30T16:01:55.261Z)
OS version: Windows_NT x64 10.0.19042

<details>

[2021-04-06 10:32] lszomoru commented on #120489
Fixed with 5d94a7c95508c8a9f73dfdbac9b0cc68d2506ac8

[2021-04-06 10:35] lszomoru commented on #120489
Verification steps:
1. Settings UI
  - Search for `trust` and locate the setting workspace trust setting
  - Confirm that modifying the setting will prompt to restart the application
2. Settings JSON
  - Should be get intellisense when adding the `security.workspace.trust.enabled` setting
  - Confirm that modifying the setting will prompt to restart the application

[2021-04-06 10:35] #120489 closed

[2021-04-06 10:39] RpxdYTX commented on #120549
but the only extension i was with was the C# one every other i completely uninstalled

[2021-04-06 10:39] YusifKhalilov commented on #127
6 years

[2021-04-06 10:53] ROGERDJQ opened #120620 "Improve the upload/download experience when upload/download files between local and remote"
1. It is very hard to know the download/upload progress when upload/download files between local and remote machines. Especially when the file size is large or the object is a folder. So that I am not sure how much content is left and moreover, if I close the vscode, usually get a .nts00xxxx file pathetically.

2.  The big file opening experience in remote machine is very frustrating.

[2021-04-06 11:11] rakleed commented on #119927
@joaomoreno Well UWP apps (installed from Microsoft Store) can change this color. And by default, the accent color is just blue in Windows Settings.

[2021-04-06 11:14] jrieken commented on #120549
Sure, but the c# extension is tracked in another repo: https://github.com/OmniSharp/omnisharp-vscode/issues

[2021-04-06 11:19] dbaeumer commented on #120146
I tested this with my ESLint extension and it works as expected. Which versions of the LSP libraries are you using?

[2021-04-06 11:27] mehmetsefabalik opened #120621 "HTML Language Server and JSON Server built-in plugins gives errors"
Issue Type: <b>Bug</b>

HTML Language Server and JSON Server built-in plugins gives errors like this: `Connection to server is erroring. Shutting down server.`

VS Code version: Code - Insiders 1.56.0-insider (Universal) (550035808407c15252e581e8abe1b820b9d311ee, 2021-04-02T05:13:17.592Z)
OS version: Darwin x64 20.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R)

[2021-04-06 11:28] #120152 closed

[2021-04-06 11:28] #120121 closed

[2021-04-06 11:28] #120073 closed

[2021-04-06 11:28] #120061 closed

[2021-04-06 11:28] #120041 closed

[2021-04-06 11:28] #120013 closed

[2021-04-06 11:28] #120011 closed

[2021-04-06 11:28] #120006 closed

[2021-04-06 11:28] #119933 closed

[2021-04-06 11:28] #119925 closed

[2021-04-06 11:28] #118920 closed

[2021-04-06 11:28] #116312 closed

[2021-04-06 11:28] #113978 closed

[2021-04-06 11:28] #112802 closed

[2021-04-06 11:28] #97122 closed

[2021-04-06 11:33] chrmarti commented on #120332
Where do you configure the proxy for the container? (Maybe related: https://github.com/microsoft/vscode-remote-release/issues/4812)

[2021-04-06 11:36] BartCorremans commented on #120227
This fix works for me about half of the time. I have to try a couple of times to get the debugger to attach to Chrome properly, it seems very random.

This is my launch.json:

`{
    "version": "0.2.0",
    "configurations": [
        {
            "type": "pwa-chrome",
            "request": "launch",
            "name": "Launch Chrome against localhost",
            "url": "http://localhost:4200

[2021-04-06 11:41] JanHildenbrandBosch commented on #120332
My understanding is, that for the extension downloading and installation only the proxy outside of the container is used (besides loading some dependency after startup). So I configured the proxy in the user settings.json with
[code]
This was enough to install the extensions - similar to installing extensions without any containers. The log itself does not indicate any connection issue, it just do

[2021-04-06 11:41] mkoestner commented on #120279
I had the same problem. After changing the position of the script node in the package.json in front of the dependencies, the npm scripts view appeared again after > Reload Window.

[2021-04-06 11:46] chrmarti commented on #120231
The DNS lookup succeeds, but then the SSL connection times out. Can you access https://marketplace.visualstudio.com using Chrome/Chromium?

[2021-04-06 11:47] robinmanuelthiel commented on #120604
Which is a shame and a missed chance! Maybe, we can trigger a change across the whole icon palette of Microsoft here!

[2021-04-06 11:51] JanHildenbrandBosch commented on #120332
I just rechecked and it seems related to (microsoft/vscode-remote-release#4812)
[code]

The image gets its proxy over a docker-compose file:
[code]

[2021-04-06 11:52] isidorn commented on #120596
1. If you run VS Code with `--user-data-dir SOME_PATH` do you still see them?
2. If not then you should clean your local storage to get rid of them

[2021-04-06 11:55] joaomoreno opened #120622 "Flaky: active editor not always correct... #49125"
https://github.com/microsoft/vscode/runs/2277693425?check_suite_focus=true

[code]

[2021-04-06 11:55] francescowang opened #120623 "Linting is not working (Enable lint is not working)"
Issue Type: <b>Bug</b>

Linting is not enabling. I tried so many times. I can't see the error messages.

VS Code version: Code 1.55.0 (Universal) (c185983a683d14c396952dd432459097bc7f757f, 2021-03-30T16:01:05.981Z)
OS version: Darwin x64 20.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-8100 CPU @ 3.60GHz (4 x 3600)|
|GPU Status|2d_canvas: enabled<

[2021-04-06 11:57] bpasero commented on #120622
Prior art: #49125

[2021-04-06 11:59] bersbersbers commented on #119051
Thanks!

[2021-04-06 12:02] joaomoreno commented on #117579
Just one: `package.json`. But I expect it to open in the previously chosen editor. The flow is:

1. Close the editor
2. <kbd>Ctrl P</kbd>, </kbd>Enter</kbd>

I expect to return to the same state. At least that's how Code has programmed my brain. 🙈

[2021-04-06 12:03] quenbyako commented on #25841
@floriantraber ow, thanks! But it cost €21.95... Ehmm, doesn't look like good resolution of this issue.

[2021-04-06 12:03] joaomoreno commented on #119927
We're not UWP unfortunately. Also, I'd say this is a bug on Windows rather than Code. We don't control the number of ways our icon will be displayed. Sorry, but I'm going to have to close this. Feel free to submit an issue to Windows and get some pressure for them to render icons better over there.

[2021-04-06 12:03] chrmarti commented on #120383
What's the latest version you see with `sudo apt show -a code | less`?

[2021-04-06 12:03] tohghua opened #120624 "Title bar style custom: title overlaps with menu bar"
* Window title bar style set to custom
* Open some code tabs, toggle between them, a blue title shows on left top corner, overlap with the menu bar. The title also show normally on center top.

Expected: title not show on left top corner.
![image](https://user-images.githubusercontent.com/12222062/113707816-093b8300-9713-11eb-8ef2-27b1d3fe2ca3.png)
![image](https://user-images.githubusercontent.co

[2021-04-06 12:07] chrmarti commented on #120484
Could you start VS Code with `--log-net-log=<some-folder>\netlog.json`, retry the failing feature and then post the created netlog.json here?

[2021-04-06 12:08] bpasero commented on #108804
I have looked at the `telemetryApp` and think it should be fine because of the work that happened in `ICustomEndpointTelemetryService` where the app runs as a child from the shared process that gets the shell environment.

The remaining work is in terminals and configuration resolvers 👍

[2021-04-06 12:10] isidorn commented on #120597
I believe this is as designed behavior by Narrator. Narrator simply decides to not read out the when the item is unchecked.
@sbatten I see you nicely set the `aria-checked` [here](https://github.com/microsoft/vscode/blob/main/src/vs/base/browser/ui/menu/menu.ts#L650)

@setaskin do you face the same issue with NVDA? How about if you go the the breakpoints view and you uncheck a breakpoint?

[2021-04-06 12:11] dancherb commented on #120345
`lint errors are reflected on tab title foreground color`

How can we disable or customise this behaviour completely? It's really obstructive in some cases.

![tab active error foreground](https://user-images.githubusercontent.com/32280121/113708736-f03bcd80-9724-11eb-828e-c8564e801730.png)

[2021-04-06 12:14] dancherb opened #120626 "Titles of tabs with lint errors unreadable due to color change - customise or disable this behaviour"
In the latest VSCode version, lint errors and warnings are now reflected on tab title foreground color. This behaviour is undesirable in cases, causing tabs to be not pretty and unreadable. Can this behaviour be customised or disabled?

![tab active error foreground](https://user-images.githubusercontent.com/32280121/113709041-63454400-9725-11eb-86d0-111d850027b0.png)

[2021-04-06 12:16] #120518 closed

[2021-04-06 12:16] isidorn commented on #120518
That is not a cursor, but an inline indicator where the stop event happened.
However pushed a heuristic to only render it when the column is defined and > 1

[2021-04-06 12:18] joaomoreno commented on #117891
Yeah I was thinking we could do just that. Either encode the info in the asset filename, or include some data (eg JSON) along with the actual file inside the artifact zip, which would tell `createAsset` (or its caller) exactly what to do.

This is OK, we have a PS champ in the team now. 🏆

You actually made it look concise and readable, I really like it.

I think it's equivalent to today's "each c

[2021-04-06 12:18] isidorn commented on #120552
We already had a bit of a delay before and that would actually make the hover hard to get rid off.
Maybe we need a middle ground. Like 100ms timeout.

Let's keep this open for now and I would be open to change this in the near future

[2021-04-06 12:19] isidorn commented on #120615
Thanks for filling I can look into this once I setup my iPad.

[2021-04-06 12:21] bmichotte opened #120627 "1.55.0 - Incorrect behavior for gotoLocation.multipleDeclarations"
- VS Code Version:
[code]
[code]
- OS Version:
Big Sur 11.2.3

Does this issue occur when all extensions are disabled?: Yes

Hello,

with `editor.gotoLocation.multipleDeclarations` sets to `"goto"`

In a React/Typescript project, prior to 1.55.0, when you ⌘-click a Tag, you were sent to the component, now, you are sent to the type defintion of React. But if you ⌘-click on the closing tag, you are

[2021-04-06 12:26] isidorn commented on #120580
Yeah we do not support that OS. No plans to tackle this, however I can leave this issue open for now. Thanks

[2021-04-06 12:26] ardalis commented on #120272
Trying to reproduce it now, when I use `code .` from an already-opened-in-vs-code folder, it does nothing visible if the window is up, but will open it if it is minimized. Same for File Explorer - Right Click - Open in VS Code.

I think in my case the issue was pretty much user error. I had right clicked on a file that wasn't in the folder in question and opened it with code. So, my code editor wa

[2021-04-06 12:26] olivierr91 commented on #120552
Yes 100-300 ms would be a good timeout. Maybe it should be configurable. There is already a setting that "Controls the delay in milliseconds after which the hover is shown.", it would make sense to have a setting that "Controls the delay in milliseconds after which the hover is hidden."

[2021-04-06 12:31] StephanMuenzberg commented on #120231
In general yes, but if I start chrome with the same proxy switch it is not connecting.

I found some reference saying that Chromes proxy configuration is not working with non-transparent proxies, which need user:pass combinations. https://superuser.com/questions/902620/google-chrome-proxy-settings-with-username-and-password

Might this be the reason?

I know I could set the proxy in VS Code as wel

[2021-04-06 12:31] #120486 closed

[2021-04-06 12:35] sandy081 commented on #120340
I think right solution is that vsix install shall also respect the passed `--do-not-sync` flags

[2021-04-06 12:35] chrmarti opened #120629 "Pick part of JSON schema with more matching properties"
From https://github.com/microsoft/vscode-remote-release/issues/4806:

[code]

Shows warnings on `"dockerComposeFile"` and `"service"` and asks for `"build"` to be added when the smaller change would be to remove `"containerEnv"`.

[2021-04-06 12:35] bonjourjoel commented on #120596
Hi, I'm afraid i am not able to run vs code with arguments on a mac. For the path containing the local storage, i deleted the 6 files inside and it didn't remove the old launch configs.

[2021-04-06 12:36] bpasero commented on #120272
@ardalis can you try to do this please:
* open code on a folder
* move it side by side to a terminal so that both windows are visible on the same desktop
* run `code <folder>` from the terminal
* does the code window get keyboard focus and become active or not?

[2021-04-06 12:37] weinand commented on #120596
@bonjourjoel in order to run VS Code from the command line on macOS please follow these steps: https://code.visualstudio.com/docs/setup/mac#_launching-from-the-command-line

[2021-04-06 12:37] alexr00 commented on #120328
Added:

https://github.com/microsoft/vscode/blob/d06df602de821ffd737e722d45d814e2a8242964/src/vs/workbench/services/configurationResolver/common/configurationResolver.ts#L37-L38

will that let you keep your code reuse?

[2021-04-06 12:38] #120340 closed

[2021-04-06 12:38] fernandopsilveira commented on #120345
@dancherb, you can easily disable editor decorations on VSCode settings:

![image](https://user-images.githubusercontent.com/1727562/113711787-c26e6e80-96bb-11eb-9994-d90e9f78437a.png)

[2021-04-06 12:38] aeschli commented on #120204
Maybe `meta.interpolation.cs` can be set to default instead? That way we don't need to list all scopes that have the default color (which would be hard to do)

[2021-04-06 12:39] bpasero commented on #120345
I think this needs a similar fix as was done with https://github.com/microsoft/vscode/issues/43179 where colors for list decorations were introduced.

[2021-04-06 12:40] bpasero commented on #120319
I had filed something similar in https://github.com/microsoft/vscode/issues/113223.

[2021-04-06 12:41] jrieken commented on #120622
This is a duplicate. Unfortunately, I don't recall the exact issue number nor its title :flushed: Anyways, searching for issues with the same labels will likely help you :point_right:
https://github.com/microsoft/vscode/issues?utf8=✓&q=is%3Aopen+label%3A"integration-test-failure"

[2021-04-06 12:41] jrieken commented on #120319
@iSpid3r please check #113223, esp do you use a non default zoom level?

[2021-04-06 12:42] DavidSvetlik commented on #119225
Yes, please fix it, it's really annoying and wasn't happening couple of versions back.

[2021-04-06 12:43] isidorn commented on #120447
Dup of https://github.com/microsoft/vscode/issues/117845
And making the filtering in the explorer public API. There is another issue tracking this.

[2021-04-06 12:43] #120447 closed

[2021-04-06 12:43] isidorn commented on #120552
Nah, I personally dislike setting for tiny things like this. I think we can find a value that works for everyone

[2021-04-06 12:44] aeschli commented on #120245
It's an emmet completion

[2021-04-06 12:45] ardalis commented on #120272
It does.

[2021-04-06 12:53] aeschli commented on #120239
Thanks @IllusionMH for the support.
@SurajLodh As mentioned by Andrii, it appears that you have JavaScript code in a style element. That's strange. To be able to investigate I'd need a small, selfcontained code sample that shows the issue.
Please add all information (steps, code sample, screenshots) to the description of the issue.

[2021-04-06 12:53] sandy081 commented on #120316
- Its not margin on the right, its the width given for that column.
- Search box (including tools inside) and table are made sure the are aligned

I am not aware of the UX standards for table and it has been like this from beginning and seems to work :)

So, I am not planning any changes and probably wait for more feedback before acting upon.

[2021-04-06 12:53] #120316 closed

[2021-04-06 12:54] sandy081 commented on #116304
/duplicate

[2021-04-06 12:55] bpasero commented on #120272
Then I do not understand the issue when it does not behave like that.

[2021-04-06 12:56] yogaxpto commented on #116304
@sandy081 can you link the original please?

[2021-04-06 12:58] isidorn commented on #120202
@sandy081 I can reproduce this issue, though this should just work.
I think the problem are those action with the dropdown. They are `ActionWithDropdownActionViewItem` and that class does not seem to handle focus properly.
It should be able to be focused and to be `setFocusable`.

[2021-04-06 12:59] ardalis commented on #120272
Like I said - probably user error. The confusion stemmed from the fact that it was editing a document that wasn't in that folder, and it probably doesn't help that I have 2 very large screens with a lot of windows open so the fact that one of them changed color slightly didn't register with me. Probably an edge case that can be closed.

[2021-04-06 12:59] aeschli commented on #120309
The built-in basic XML language support only supports indentation-based folding. A folding region starts when a line has a smaller indent than one or more following lines, and ends when there is a line with the same or smaller indent.

To get language aware folding, install a XML extension like https://marketplace.visualstudio.com/items?itemName=redhat.vscode-xml

[2021-04-06 12:59] #120309 closed

[2021-04-06 12:59] sandy081 commented on #120274
Even though this extension is shown for stable, we always try to install the compatible extension which means the extension with vscode engine set to `"1.55.0-insider"` is ignored in VS Code stable. Have you tried installing from the stable and checked?

[2021-04-06 13:00] isidorn commented on #120446
Yeah, that's just life.
We could wrap the placeholder message, but then the breakpoint input could take potentially more lines.
We do no do this in other places (SCM Commit box for example).
So I would for now not change anything here

[2021-04-06 13:01] Milo123459 commented on #117845
+1, this would be very helpful for some other feature requests as well

[2021-04-06 13:05] aeschli commented on #119399
See https://github.com/microsoft/vscode/issues/85707

[2021-04-06 13:05] sandy081 commented on #116304
I am sorry that I cannot find quickly but I am sure I came across this feature request.

[2021-04-06 13:06] #120272 closed

[2021-04-06 13:09] #120166 closed

[2021-04-06 13:09] isidorn commented on #120166
@TyflosAccessibleSoftware thanks for letting us know.
I have pushed a potential fix for this, however since I am not 100% sure how to focus the touch bar buttons with VoiceOver it would be great if you could verify with VS Code insiders from tomorrow if the issue is indeed fixed https://code.visualstudio.com/insiders/

fyi @bpasero for my fix

[2021-04-06 13:11] AlexandroGonSan opened #120633 "[new-feature] History File"
feature=history_file

[original][pt-br]
1. criar uma pasta oculta no diretorio do arquivo com nome code.git e iniciar o repositorio git dessa pasta
2. sempre que o arquivo for salvo deve-se copia-lo para a pasta code.git e realizar o "git add file & git commit -m \"${msg}\"". msg deve ser configurada em settings.json com direito a parâmetros diversos, que envolvem o Code e o arquivo, como versão d

[2021-04-06 13:12] sandy081 commented on #120202
@isidorn Can you please shed more light on how `ActionWithDropdownActionViewItem` has to handle focus properly? It is extending `ActionViewItem` which I think is handling focus properly right?

[2021-04-06 13:12] aeschli commented on #120018
@cool-delete The log says: `No remote extension installed to resolve wsl.`. Did you maybe disable the WSL extension?

[2021-04-06 13:12] isidorn commented on #120210
Dup of https://github.com/microsoft/vscode/issues/52016

[2021-04-06 13:12] #120210 closed

[2021-04-06 13:14] #120354 closed

[2021-04-06 13:14] AllanOricil commented on #70589
You could expose a new type of webview for settings. Then the developer can choose to override the standard settings window with his own.

[2021-04-06 13:16] isidorn commented on #120510
Makes sense. I am looking for an owner of the label service since I have no cycles to make updates to it at the moment.

[2021-04-06 13:16] jamesmyatt commented on #118764
I can confirm that I'm now getting rich editors on the left and right using v2021.5.702919634. I don't like it, since it doesn't highlight differences or synchronize scrolling in the two panes (i.e. it's not a _good_ diff view), but it is at least _a_ diff view, so I think this issue is fixed.

[2021-04-06 13:18] iSpid3r commented on #120319
Checked. Default zoom level. Sybmols still jumping...

[2021-04-06 13:21] misolori commented on #120612
Thanks for the feedback. Please subscribe to https://github.com/microsoft/vscode/issues/120604, will close this as duplicate.

[2021-04-06 13:21] #120612 closed

[2021-04-06 13:22] bpasero commented on #120166
@isidorn isn't this https://github.com/microsoft/vscode/issues/82154 ?

[2021-04-06 13:23] SilvioMarcovic opened #120634 "WorkspaceConfiguration.get Returns Undefined For Nested Dotted Name"
- VS Code Version: 1.55.0
- OS Version: Windows_NT x64 10.0.19042

Steps to Reproduce:
Accessing a local workspace config (.vscode/settings.json) via a dotted name returns undefined when the name is nested in the JSON.

1. Create local workspace config with above example config in `\.vscode\settings.json`
[code]
2. Execute `vscode.workspace.getConfiguration().get("c.y.z");` to see that value canno

[2021-04-06 13:23] bpasero commented on #120622
https://github.com/microsoft/vscode/runs/2278434407?check_suite_focus=true#step:12:418

[2021-04-06 13:23] #120578 closed

[2021-04-06 13:24] isidorn commented on #120578
Great catch, and thanks for the fix 👏

[2021-04-06 13:25] christophercutajar opened #120635 "Update Service Failing"
Issue Type: <b>Bug</b>

After latest upgrade `Update 1.45.1`, I'm experiencing plugins such as Kubernetes plugin is not working and I'm seeing `Update Service` error when opening VS Code

![image](https://user-images.githubusercontent.com/60098546/113717359-d4680580-96eb-11eb-87eb-510593ccc0cf.png)

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:33:47.663Z)
O

[2021-04-06 13:25] isidorn commented on #120166
@bpasero you are correct, I was not aware of that issue.
So it seems like this will just not work. I will revert my commit. Though let's close this issue as duplicate

[2021-04-06 13:25] #120622 closed

[2021-04-06 13:26] jrieken commented on #120622
https://github.com/microsoft/vscode/issues/120355

[2021-04-06 13:26] #120626 closed

[2021-04-06 13:27] alexr00 commented on #120363
Moved to the upstream repo: https://github.com/dustypomerleau/rust-syntax/issues/16

[2021-04-06 13:27] #120363 closed

[2021-04-06 13:30] mrgrieves4 commented on #120604
Although the new icon does well to fit in with the Big Sur icon style, I actually really do hate the new macos icon styling.  It makes all the icons look the same, so now unless I zoom in I can't tell the difference between Safari, Chrome, Visual Studio Code and numerous other indistinguishable white icons.  The old one was nice and clear.

[2021-04-06 13:37] isidorn commented on #114718
@setaskin can you also reproduce that with NVDA? I think NVDA should just nicely read out the placeholder text of the QuickPick

@flynnolivia thanks for trying it out. Would you use the `ProgressLocation.Notification` or what would be ideal for your extension?
As for NVDA not announcing progress that sounds like a bug in NVDA. Maybe even this one https://github.com/nvaccess/nvda/issues/9606
I sugg

[2021-04-06 13:46] vderm commented on #45156
Zzz...

[2021-04-06 13:56] jrieken commented on #120355
https://github.com/microsoft/vscode/blob/5236d3446048c8c08c9ceb46e1b63d438ab5bd75/extensions/vscode-api-tests/src/singlefolder-tests/window.test.ts#L160-L163

This test shouldn't run our build machines...

[2021-04-06 13:57] hildogjr opened #120636 "Terminal visualization"
Issue Type: <b>Bug</b>

Wrong terminal font visualization. See the images after Visual Code startup

![image](https://user-images.githubusercontent.com/2211474/113721887-49284900-96c6-11eb-80e4-e7840e516972.png)

And some code execution

![image](https://user-images.githubusercontent.com/2211474/113721800-37df3c80-96c6-11eb-9ff1-2ceb31185725.png)

The workaround is to "Select the Default Profile"

[2021-04-06 13:57] jrieken commented on #120622
This is a duplicate. Unfortunately, I don't recall the exact issue number nor its title :flushed: Anyways, searching for issues with the same labels will likely help you :point_right:
https://github.com/microsoft/vscode/issues?utf8=✓&q=is%3Aopen+label%3A"integration-test-failure"

[2021-04-06 13:59] IllusionMH commented on #120636
/duplicate of #120004

[2021-04-06 13:59] #120636 closed

[2021-04-06 14:00] FractalBoy commented on #120146
Ah, thank you! I didn't realize that I should be regularly updating the LSP client.

I upgraded from 6.1.3 to 7.0.0 and the links now work.

[2021-04-06 14:00] #120146 closed

[2021-04-06 14:01] CombeeMike opened #120637 "Selection in "search in files panel" and shown editor are not always in sync anymore"
Issue Type: <b>Bug</b>

* Open search panel
* Enter some search which yields results in multiple files
* Navigate through search results using arrow keys
  -> ✅ All ok, as the selected result & the shown editor are kept "in sync"
* Delete entry from search results with `del` key
* Navigate through search results using arrow keys
  -> ❌ Selected result & editor are not "in sync" anymore
* Sync can

[2021-04-06 14:01] gregvanl commented on #120360
Hi @pixieaka Thank you for your interest in VS Code and taking the time to enter an issue.
The current text is fine and reads easier. The thing VS Code is checking for is an "extension update" and the plural should be "extension updates".

[2021-04-06 14:01] #120360 closed

[2021-04-06 14:02] alefragnani commented on #88227
Hi @isidorn ,

Are there any chances of exposing this _drag and drop_ capability/event to `Decorators` as well, so extensions could also subscribe?

Thank you

ps: I did search the open issues about it, but didn't find any 😬

[2021-04-06 14:08] #120355 closed

[2021-04-06 14:10] tobeypeters opened #120638 "Scope level variable coloring"
Have variables color coded, based on their level of scope.  This option, could be turned off.

[code]

Now, somebody could be like "Why is that red and all the others yellow? Oh, I put it outside of my if statement."

The user could right-click on that variable & have an option to see where that one is defined.

[2021-04-06 14:13] fila90 commented on #120616
Same, here!
It can find exported function from one module, but won't import them automatically as it used to.

[code]
running on macOS Bis Sur 11.2.3

[2021-04-06 14:16] weinand commented on #120280
@WardenGnaw thanks for the explanation.

As already explained above, we cannot easily disable debuggers on platforms where the debugger is not supported because there are scenarios where users configure extensions or debug configurations for remote setups. In these cases the local platform and the remote platform differ, and a platform specific debugger extension would be invisible (or disabled) o

[2021-04-06 14:18] #120280 closed

[2021-04-06 14:21] vasilenka commented on #101014
Hi @eliyap, can you point me out where I can get the previous icon for the Insiders build, please?

[2021-04-06 14:23] IllusionMH commented on #120633
Looks like it's #98601 should be tracking file history and showing it in Timeline view.

And I'm doubt it's make to bring second indicators for gutter for file history - noisy + would be confusing with actual VCS.

/cc @eamodio

[2021-04-06 14:24] mrleblanc101 commented on #120604
@mrgrieves4 I don't think it's Microsoft problem that you don't like the OS design language. You can already change every icon in the OS by yourself if you are not happy with them.

[2021-04-06 14:25] jrieken commented on #119304
very likely due to https://github.com/microsoft/vscode/pull/117424

[2021-04-06 14:26] jrieken commented on #119304
/duplicate of https://github.com/microsoft/vscode/issues/119086

[2021-04-06 14:27] jrieken commented on #119086
likely because https://github.com/microsoft/vscode/pull/117424 and eager sorting

[2021-04-06 14:27] #119304 closed

[2021-04-06 14:36] Maxpxt opened #120639 "Commit (Amend) doesn't change the commit message if there are no staged changes but there are changes"
- VS Code Version: 1.55.0 (system setup)
- OS Version: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. Open vscode on a git repository.
2. Do some changes, but don't stage anything.
3. In the SCM view, write a commit message in the input field then select "Commit > Commit All (Amend)" or "Commit > Commit Staged (Amend)" in the context menu from the "..." icon.

The expected behavior is for the

[2021-04-06 14:36] K-miy commented on #116951
Got the exact same issue since this morning (or maybe somewhere in the last four days, as I did not code that long week end).

The `/usr/local/lib/python3.8/dist-packages` is loaded in the interactive window instead of my virtual env (`/home/camille/projects/env/lib/python3.8/site-packages`).

[2021-04-06 14:40] DonJayamanne commented on #120274
I can confirm this doesnt work as expecred.

The following version is available for stable VS Code - `2021.5.697286501`.
This version targets `1.55.0-insiders` (package.json).
I.e. i was able to select this from the list of versions avaialble in VS Code stable.

[2021-04-06 14:45] langdon opened #120640 "Treat Notifications Window as Normal "Pane""
The other day, I had the darndest time trying to find a notification I missed. As a person who is more "word based" than "picture based," I just glossed over the notification icon at the bottom right as something that would have "history" and spent a while looking in the View menu for a "Notifications Window." Finally asked someone on the internet and they pointed out the obvious.

However, my pro

[2021-04-06 14:46] GHOSTS15 commented on #120619
up , is important bug

[2021-04-06 14:51] DonJayamanne opened #120641 "New cells are created in the wrong Notebook document"
- VS Code Version: latest Stable & insiders
- OS Version: Mac

Steps to Reproduce:

1. Install jupyter extension
2. install kusto notebook extension
3. Open jupyter notebook
4. open a kusto notebook on the side
5. set focus to jupyter notebook
6. Click on add code/markdown cell in kusto notebook & watch how cells are created in the other notebook

![wrongNb](https://user-images.githubusercontent.c

[2021-04-06 15:02] isidorn commented on #88227
@alefragnani yes it would be possible, but we would first do the breakpoint in the core and only after that potential add this if there is enough extensions interested.. It would be best if you file a new issue. Thanks

[2021-04-06 15:03] #119086 closed

[2021-04-06 15:05] #120315 closed

[2021-04-06 15:06] mrgrieves4 commented on #120604
I do agree with you up to a point, although I would argue it's an accessibility problem that the icons are now harder to distinguish and it's a shame to see all the big companies just blindly follow Apple's own icon changes.  If I do go and change them all myself, chances are they will all look like crap, but maybe I will give it a go.

I am intending to complain to apple about it too, but i can't

[2021-04-06 15:08] angegar commented on #120018
I do not know, but after a computer restart it worked again. May an update which did not correctly finished.

[2021-04-06 15:09] RMacfarlane commented on #120330
This is expected behavior unfortunately, we made a change to how data is encrypted on Windows which requires users to re-auth there. This should be a one time thing. I meant to include this in the release notes, will update them now to mention it.

[2021-04-06 15:09] #120330 closed

[2021-04-06 15:09] roydukkey opened #120643 "Hex value and default value for `notebook.selectedCellBackground` appear inconsistent."
Just wanted to verify this isn't a mistake, as it appears the defaults are here are not equivalent:

https://github.com/microsoft/vscode/blob/07340c27f59b922bfcb8cf841e394df5981ff725/extensions/theme-defaults/themes/dark_vs.json#L22

https://github.com/microsoft/vscode/blob/07340c27f59b922bfcb8cf841e394df5981ff725/extensions/theme-defaults/themes/light_vs.json#L25

https://github.com/microsoft/vsc

[2021-04-06 15:17] rzhao271 commented on #120245
Upstream issue here https://github.com/emmetio/emmet/issues/650

[2021-04-06 15:18] bpasero commented on #120640
//cc @isidorn @misolori @devinvalenciano

[2021-04-06 15:18] Dub1shu commented on #111915
I'm facing the same problem with Shift-JIS.
Therefore, I tried to verify it.
As eamodio says, this line seems to be the cause of the bug.
[code]
### Verification Code
\extensions\git\src\git.ts
![verification](https://user-images.githubusercontent.com/81973731/113728239-e029eb00-9730-11eb-9b53-cb7f849101fb.png)

### Verification Process
1. Create a non-UTF-8 file (Shift-JIS in this case), add some

[2021-04-06 15:23] TyflosAccessibleSoftware commented on #120166
Hi Isidor

To focus an element in the touchbar using VoiceOver you only have to tap one time on the element when VoiceOver is running.

VoiceOver will speak the title of the focused button if the button has a title.

Thanks for your effor

Regards

[2021-04-06 15:24] Dhyan557 opened #120644 "i am not getting editing panel to design a pc appication"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-04-06 15:25] maosid commented on #120392
I had the same problem before, in my case i need to add `dbus-launch` in` .xinitrc` to run dbus-session

- ~/.xinitrc

[code]

[2021-04-06 15:25] #120644 closed

[2021-04-06 15:28] Dhyan557 opened #120645 "editors not coming on the screen to build pc softwares"
- VS Code Version:
- OS Version:windows 10

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

Issue Type: <b>Bug</b>

I am not getting editing panel at the top of the screen just what we have to edit in ms word,powerpoint,excel etc..That same thing using which we create pc application and design them.I am not getting that please address my issue.For more

[2021-04-06 15:29] Dhyan557 commented on #120645
pls make it fast

[2021-04-06 15:30] Dhyan557 commented on #120645
worst costumer service by microsoft

[2021-04-06 15:30] DonJayamanne commented on #120600
I too have a similar requirement for kusto notebooks.

When looking at some telemetry i'd like to save the graphs & the output
E.g. a pie chart that represents how many failures we had. this information doesn't contain any PII.

I'd like to keep this information for historical purposes. so when i run this again next week as a new cell, i can compare it against the previous week (another cell).

Th

[2021-04-06 15:32] mpasteur commented on #120522
Duplicate of #120321

[2021-04-06 15:35] RandomEngy opened #120647 "Add "Commit and Push" option in UI for Git"
Visual Studio has an option to Commit and Push:

![image](https://user-images.githubusercontent.com/9450861/113737044-82ef5480-96b2-11eb-9d45-19555f090fef.png)

This is really handy because I don't have to sit around and wait for the commit to go through before pushing. It all happens in one batch. In large repositories it can be 10+ seconds before you see the commit go through and the "Changes" l

[2021-04-06 15:42] mpasteur commented on #120321
hi,
at first glance it looks that adding a -q argument to the 'wsl -l' command would be safe...

[code]

[code]

regards

[2021-04-06 15:44] connor4312 commented on #120227
Can you share a gif of what you see? https://gifcap.dev/ is helpful

[2021-04-06 15:48] chrmarti commented on #120231
You could try using the `HTTP_PROXY` and `NO_PROXY` environment variables to get your configuration passed in. That should apply to extensions, but not to the Extensions viewlet.

[2021-04-06 15:52] joaomoreno commented on #120245
This is a pretty bad paper cut in the CSS experience IMO.

[2021-04-06 15:54] Tyriar commented on #118405
I think `IExternalTerminalMainService` is the right approach since this is a desktop-only feature.

[2021-04-06 15:56] pim-pesochek commented on #119860
@fabb @JacksonKearl  Hi folks! Sorry for delay. Yes, I have installed plugin IntelliJ IDEA Keybindings in my VSCode.

[2021-04-06 15:57] joaomoreno commented on #120635
Have you clicked the `this link` link? It will show you how you can fix it.

[2021-04-06 15:57] #120635 closed

[2021-04-06 15:58] amachanic opened #120648 "> v1.53, on CentOS 7 - locks up at startup, with 100% CPU"
- VS Code Version: 1.54, 1.55
- OS Version: CentOS 7

Steps to Reproduce:

1. Upgrade from 1.53 to either 1.54 or 1.55
2. Launch VS Code

Does this issue occur when all extensions are disabled?: Yes, the issue still occurs.

On startup, I can see two processes in 'top', each of which are consuming 100% of a CPU. The VS Code window is totally non-responsive. After some time a box pops up asking if

[2021-04-06 15:58] fabb commented on #119860
@pim-pesochek ok then the issue should be fixed when you update to the newest version of that extension. Please verify and close this issue if it is fixed.

[2021-04-06 16:00] mpasteur commented on #120333
Duplicate of #120321

[2021-04-06 16:04] BartCorremans commented on #120227
Sure thing.

![recording](https://user-images.githubusercontent.com/10078799/113741841-5400cf00-9702-11eb-9996-4f164194b97a.gif)

When it does work, the url in Chrome switches from about:blank to http://localhost:4200 within a second or so. Otherwise, the above is what I get.

[2021-04-06 16:05] tebeco commented on #120272
It's definitely not a user error
it CAN happen when there's a model open
like "File > Open folder" and don't select anything. Just let that "Open folder" modal open

though it's not always happening
the fact that a top modal / blocking window is open is not properly handled by OS/vscode itself

[2021-04-06 16:08] StephanMuenzberg commented on #120231
Just to make sure, this would mean to define them as $Env:HTTP_PROXY and $Env:NO_PROXY in Powershell, correct? Or do you mean their definition within VS Code Settings?

[2021-04-06 16:08] #119860 closed

[2021-04-06 16:10] bokjo opened #120649 "VSCode spawns too many dsc processes randomly (usually on new instance startup) - causes High CPU/Memory and sometimes system crash"
Issue Type: <b>Performance Issue</b>

VSCode spawns too many `dsc` processes randomly (usually on new instance startup)
My Macbook Pro goes to 100% fan speed and +95 degrees CPU until it crashes or runs out of system memory (not always)

If I manage to close VSCode quickly it goes away after a while

I don't know what this `dsc` process is [parent process: Code Helper (Renderer)]
There are a lot o

[2021-04-06 16:18] dziku86 commented on #114714
DevTools console output:
[code]

Window log:
[code]
Shared log:
[code]
Main log:
[code]
Extensions log:
[code]
render1.log :
[code]
And sometimes I get this log in DEvTools console:
[code]
Running extensions:
![image](https://user-images.githubusercontent.com/56586404/113743831-62e88100-9704-11eb-943b-43b734f33928.png)

Info from VSCode:
[code]
node.js v15.13.0 installed globally
npm 7.8.0

My lap

[2021-04-06 16:29] gjsjohnmurray commented on #120648
/duplicate

Since 1.54 CentOS 7 is no longer a supported platform. See #115784 for more information.

[2021-04-06 16:29] #120648 closed

[2021-04-06 16:38] fflaten commented on #120352
Been suffering for weeks myself. Not sure if this is vscode or vscode-powershell bug tbh. I've only been able to repro in Powershell integrated terminal while using my debian-based devcontainers. PowerShell integrated terminal on Windows directly hasn't shown this yet, but I guess they work fundamentally different since pasting in devcontainer terminal is **super-slow**.

Resizing vscode windows c

[2021-04-06 16:38] connor4312 commented on #120227
Hm, okay. I don't get that from here and it seems like the fix worked for others... Can you add `trace: true` to the launch.json and share the resulting log file? Its location will be printed in the debug console. That might have some additional information for me to see what's going on.

[2021-04-06 16:40] connor4312 commented on #57590
Thanks for the feedback! I'll tweak things. I'm also happy to take PRs, the source code for the breakpoint helper is [here](https://github.com/microsoft/vscode-js-debug/blob/main/src/diagnosticTool/breakpointHelper.tsx). Simple small (p)react app with a handful of heuristics 🙂

[2021-04-06 16:45] rzhao271 commented on #120245
Now that I think about it, I could've just patched it directly in `vscode-emmet-helper` as a temp fix. 🤦‍♂️

[2021-04-06 16:46] BartCorremans commented on #120227
[vscode-debugadapter-dce5d35c.json.gz](https://github.com/microsoft/vscode/files/6266301/vscode-debugadapter-dce5d35c.json.gz)

[2021-04-06 16:47] #120245 closed

[2021-04-06 16:52] huoxingyun opened #120650 "The code completion is jammed together"
![F02CE6C7-2AC1-4B21-A291-01B4BDD8D418](https://user-images.githubusercontent.com/10088060/113748705-677c5c00-973b-11eb-9773-dc12a0992387.jpeg)

[2021-04-06 16:57] sequitur opened #120651 "Spurious parse errors on JSON files"
Issue Type: <b>Bug</b>

VSCode is showing dozens of parse errors as problems on innocuous JSON files in my project. Looks like the JSON language server is trying to parse partial or broken versions of the file and throwing those errors? This 21-line file shows 25 problems.

![err](https://user-images.githubusercontent.com/4242268/113749284-e17ef780-96df-11eb-9956-949556a912b3.png)

The file itself

[2021-04-06 16:59] huoxingyun commented on #120650
![126B2680-4A0D-4027-8F12-57C9F2B97DCD](https://user-images.githubusercontent.com/10088060/113749056-c5a93f00-973b-11eb-89e1-5c98bb615b77.png)

setting.json is wrong

hope that may help you

[2021-04-06 17:11] LuisPeregrinaIBM2 commented on #120381
Closing as duplicate of #120321

[2021-04-06 17:11] #120381 closed

[2021-04-06 17:13] steveluc opened #120652 "start in container from command line"
I have some projects now where I edit almost exclusively in a docker container.  Many other developers also have this work flow.  It would be useful to be able to start editing in the container from the command line.   This may involve configuration as some extensions are required to edit in a container.

Related to this is that the display of containers in the left pane sorts them by id rather th

[2021-04-06 17:18] DonRichards opened #120653 "Lag with Keyboard"
Issue Type: <b>Performance Issue</b>

While navigating up and down with keyboard the keyboard will stop moving for long periods of time. It does not look like it freezes. When I use the scroll wheel that seems to work but not the arrow keys at times. I can be sitting on a line and press the up arrow key and it might take upwards of 6 seconds before it starts moving. Other times it move without del

[2021-04-06 17:22] flynnolivia commented on #114718
@isidorn I think that showing the message in the status bar would be most appropriate. So, using `ProgressLocation.Window` or having a way to use `window.setStatusBarMessage()` where the message is announced and can be removed after a timeout. I'll check out that NVDA issue too, thanks!

[2021-04-06 17:23] Huntervang commented on #116540
If we were to only resolve the link on click this would result in us not knowing the existence of a target JSON object, and thus not knowing when the link should become a clickable object. We currently have some [code](https://github.com/yarally/vscode-json-languageservice/blob/d65f03df1df221a24ddd2d84575c184396950cf1/src/services/jsonLinks.ts#L30) which checks if the file exists and in that case

[2021-04-06 17:25] AlexDev2020 commented on #120568
Here's another example.

Atom:
![image](https://user-images.githubusercontent.com/75433721/113752630-5fbab880-9737-11eb-8aae-9b85ff64f726.png)

Vs code:
![image](https://user-images.githubusercontent.com/75433721/113752776-8d076680-9737-11eb-8bf4-3b0c27da0dde.png)

[2021-04-06 17:27] misolori commented on #120241
Terminal icons have now been added to codicons via https://github.com/microsoft/vscode/commit/0e7d1610f3ffce066da209a57985e79abf0a0740:

![image](https://user-images.githubusercontent.com/35271042/113751848-34958200-96c1-11eb-8bc2-60b394e9995a.png)

![image](https://user-images.githubusercontent.com/35271042/113753228-b5a14900-96c2-11eb-94ef-1d24f02138c8.png)

[2021-04-06 17:36] AlexandroGonSan commented on #120633
should be also jointly Timeline view + second column after the collapse column and expand brackets

[2021-04-06 17:43] mjbvz commented on #120149
Please share steps (and code) to reproduce the issue

[2021-04-06 17:43] mjbvz commented on #120399
Can you share your project?

[2021-04-06 17:54] sanket-bhalerao commented on #114459
@bpasero hi, getting this issue again after the latest update (updated just few mins ago).

[2021-04-06 17:58] sanket-bhalerao opened #120655 "Code cache corruption with V8 option bypassHeatCheck"
started getting this issue again after the latest update.
#114459

i tried the `code-insiders --disable-gpu .` and  `code-insiders --disable-features=CalculateNativeWinOcclusion <path to workspace/folder>` option but they don't work.

[2021-04-06 18:05] danielzfranklin opened #120656 "Cannot run any task on Windows"
Issue Type: <b>Bug</b>

I am connected from a local linux install to a remote windows computer over ssh. When I try to run any task it is prefixed with an incorrect argument, leading to an error.

Despite the argument `\d` not being in either the task arguments or the terminal shellArgs, it is prefixed. I'm not familiar with powershell, but based on the docs it seems that it doesn't support this a

[2021-04-06 18:06] devinvalenciano opened #120657 "Telemetry: Log (Telemetry) output not appearing in latest Insiders"
Version: 1.56.0-insider (user setup)
Commit: 550035808407c15252e581e8abe1b820b9d311ee
Date: 2021-04-02T05:15:44.248Z
Electron: 11.4.1
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Windows_NT x64 10.0.19042

Repro steps:

- Open Code Insiders
- Set Log Level to 'Trace'
- Open the 'Log (Telemetry)' output window
- On my instance, I see no telemetry being logged - just a blank

[2021-04-06 18:08] danielzfranklin commented on #93437
Since I was confused by the workaround I thought I'd post a clarification. You set "options" on the task. For example:

[code]

This successfully works around the issue for me as well.

[2021-04-06 18:08] prash-p commented on #116951
I found a temporary fix: Go to extensions --> Jupyter extension --> Install other versions --> Install 2021.4.625511240 (1 month ago). Now my interactive session works fine and detects the correct environment.

[2021-04-06 18:09] danielzfranklin commented on #120656
Thanks bot, this is indeed a dup of #93437

[2021-04-06 18:09] #120656 closed

[2021-04-06 18:14] sbatten commented on #120500
This is not a user decision. The user can hide the indicator if they like but the default behavior we are trying to support is:

If the workspace is trusted: hide the indicator since the user should not be concerned with it
If the workspace is untrusted: show the indicator to remind the user that they are in a limited environment
If the workspace is unspecified: show the indicator if trust has bee

[2021-04-06 18:14] bpasero commented on #120655
@sanket-bhalerao can you run `code-insiders --version` and print the output here? What do you see when you run `code-insiders --verbose --open-devtools` ?

[2021-04-06 18:17] sbatten commented on #120624
upstream electron but looks to be win7 (unsupported)

[2021-04-06 18:23] fxdave opened #120658 "Have a "Delete" command in the tab context menu"
## Abstract
I would like to delete the focused file that I opened to compare with another.

## Actual state
Currently, I can only delete files if I open a project.

## Use case
I want to use this for system files on Arch Linux where the package manager doesn't merge every system files automatically but creates `.pacnew`s that I want to merge with VSCode.

Example:
[code]

## Possible solution

- A

[2021-04-06 18:23] skngetich commented on #45997
How can we get it to be added as a feature?
I have been waiting on this feature for 3 years now

[2021-04-06 18:26] thedamon opened #120660 "When displaying partial paths in Quick Open, show the parts that are different"
When working in code environments that have extremely nested file paths (AEM and I'm sure there are others) and similarly named filenames (like `index.html`), the information from the Quick Open list of files is not particularly useful. It will often show a number of identical paths because the relevant information in the path is close to the parent folder of the filename.

I imagine it would be p

[2021-04-06 18:28] natew commented on #120604
Having a hard time quickly switching when developing, this is are the icons I typically have when doing react native stuff, Safari and VSCode especially are things I switch between often and it's tough:

![IMG_4386](https://user-images.githubusercontent.com/12100/113760530-2ea49e80-96cb-11eb-8365-1bee88a279bf.jpeg)

[2021-04-06 18:34] roblourens commented on #120637
@joaomoreno I was trying a better fix for this like adding this in SearchView

[code]

and it's strange, this event is never fired when the selection becomes empty, only when it changes to a different element, any idea why that would be?

Otherwise I have to set the selection manually in another place, which is ok but I'm worried about maintaining it and missing more cases.

[2021-04-06 18:38] mjbvz commented on #120616
/needsMoreInfo

[2021-04-06 18:41] rzhao271 commented on #120245
\closedWith 551daf4

[2021-04-06 18:41] misolori opened #120661 "Use modal dialog for initial trusted workspace"
## Overview
When opening a folder that I've previously used that had several split editors and then enabling trusted workspaces, the page opens up in a small view that does not look great:

![image](https://user-images.githubusercontent.com/35271042/113755989-c69f8980-96c5-11eb-86b3-5d276660e6ae.png)

What is worse is you have a tiny small area to scroll through that makes it unusable.

## Proposa

[2021-04-06 18:44] bpasero commented on #120500
I don't think extensions should be using the storage API but just our `show` / `hide` commands to decide wether to show it. E.g. our typescript indicator only appears when a TS file is open.

[2021-04-06 18:44] logesh14 opened #120662 "vscode launch.json 'skipFiles' attribute not working as expected"
- VS Code Version:
- 1.55.0 c185983a683d14c396952dd432459097bc7f757f x64
- OS Version: Ubuntu 20.04.2 LTS

Debugger didn't skip the file patterns mentioned in 'SkipFiles' attribute.I don't know what i'm missing here. Below is my launch.json

    {

    "version": "0.2.0",

    "configurations": [

        {
            "type": "node",
            "request": "launch",
            "name": "Build and

[2021-04-06 18:45] bpasero commented on #120655
@sanket-bhalerao we are seeing this too and it looks like with an issue with that specific insiders version. Can you reinstall insiders please, we have halted the update for now. It should work then again.

[2021-04-06 18:51] alexdima commented on #120536
@iskcal This indicates that `ctrl+.` is not reaching VS Code from the OS. There is nothing we can do on our side, it is possible that the OS is configured to do something on `ctrl+.` or that you have installed some other software or driver that is using `ctrl+.` as a global hotkey.

[2021-04-06 18:52] rebornix commented on #120643
@misolori can you help take a look?

[2021-04-06 18:52] rebornix commented on #120641
fixed via https://github.com/microsoft/vscode/commit/3d6f3002545c224fd8c6b34f872256d128c9b3ad

[2021-04-06 18:56] christophercutajar commented on #120635
Issue solved! Managed to perform a VS code updaate

[2021-04-06 18:59] #120638 closed

[2021-04-06 19:04] #107726 closed

[2021-04-06 19:06] bpasero opened #120663 "vscode-file: running out of sources fails to load sourcemaps"
Steps: just run out of sources with `vscode-file` enabled.

It looks like devtools fails to load sourcemaps with `vscode-file` URL but I cannot really understand how that is possible unless the protocol handler we install is not being used from devtools:

[code]

![image](https://user-images.githubusercontent.com/900690/113764903-e2ce1580-971b-11eb-83e4-c32f8133516c.png)

[2021-04-06 19:08] slamer9 commented on #120586
Continued with this report here: https://github.com/microsoft/vscode-python/issues/15861

[2021-04-06 19:09] #119968 closed

[2021-04-06 19:12] connor4312 commented on #120645
/gifPlease

[2021-04-06 19:13] connor4312 commented on #120649
/extJava

[2021-04-06 19:14] #120649 closed

[2021-04-06 19:14] sbatten commented on #120661
My personal vote is to not show anything except the badge but the north star dialog would be nice if I have to see one.

[2021-04-06 19:16] berkbb opened #120664 "Visual Studio Code Context Icon Is Corrupted in macOS"
Issue Type: <b>Bug</b>

Hi, on version 1.55.0, VS Code's context icon (visible in "open with" or search result on spotlight) is corrupted for macOS. App icon seems good but this context icon is a square with lot of colored dots, like a rainbow :(

![image](https://user-images.githubusercontent.com/23173536/113766492-2594eb00-9726-11eb-8d05-31d5e9b5c804.png)

VS Code version: Code 1.55.0 (Universal

[2021-04-06 19:18] misolori commented on #120661
@sbatten this is for when you open a workspace for the first time after trust has been turned on. Currently we show the workspace trust tab, like in my OC, which is where the source of the issue stems from.

[2021-04-06 19:20] sbatten commented on #120661
@misolori yes, we are testing this out (showing the editor on startup), my vote would be to not show it at all like we used to. in the end, there is no "the first time you turn the feature on", it will be on for most when we enable it

[2021-04-06 19:26] berkbb commented on #120664
Duplicate of #120305 . Should be closed.

[2021-04-06 19:26] #120664 closed

[2021-04-06 19:51] misolori commented on #120643
The `notebook.selectedCellBackground` now inherits a new default:

https://github.com/microsoft/vscode/blob/dd37fc58cad260aae2c84a48a4c02bf89dd506d5/src/vs/workbench/contrib/notebook/browser/notebookEditorWidget.ts#L2458-L2462

What issue are you seeing?

[2021-04-06 19:54] Tyriar commented on #120241
![image](https://user-images.githubusercontent.com/2193314/113770636-31a58c00-96d7-11eb-94d8-281bda7ee56d.png)

[2021-04-06 20:03] #120321 closed

[2021-04-06 20:14] pixieaka opened #120665 "Add `gitignore` file when user runs `Initialize Repository` command."
I have an idea when user initialize repository in new project it will be nice if vscode ask him to add `gitignore` file or not and this file can contain some basic configuration like `node_modules` folder for example.

[2021-04-06 20:17] bwateratmsft commented on #120558
I spoke to @RMacfarlane and I guess this is expected; there was a change in the encryption on Windows that requires reentering the secrets.

[2021-04-06 20:19] sbatten commented on #120500
we are doing this from core calling `updateEntryVisibility` but it affects all open windows, how do we only apply to the current workspace. or are using the wrong core api? https://github.com/microsoft/vscode/blob/d3d7966f8cf1b66d24b40fb235685f8f75679d23/src/vs/workbench/contrib/workspace/browser/workspace.contribution.ts#L246

[2021-04-06 20:21] rzhao271 commented on #120431
@bpasero So this issue is essentially reviving #35109? I would also like to confirm what is meant by there being "lots of work involved currently", because I currently only see two blockers:

1. Verify the native modules are context-aware (shouldn't take too long)
2. Merging Electron 12 into Insiders and turning on process reuse (this one's riskier and we will likely have regressions to work on fi

[2021-04-06 20:22] aeschli commented on #120334
VSCode should to be installed on the Windows side. The installer will put the `bin` folder to the Windows PATH which contains the `code` shell script.
Your WSL distro needs to inherit the Windows PATH (as by default for the standard WSL distros) for that you can do a `code .` from your WSL terminal.

[2021-04-06 20:24] aeschli commented on #120417
The completion comes from emmet.

[2021-04-06 20:26] ObscurusGrassator commented on #26338
HI @trusktr , you plugin is probably not worked. Please show example for using.
And why your plugin duplicate all helps of intellisense?
And translate the description into English so that people don't have to know its name when searching the Marketplace.
Thanks. I am glad that at least someone is trying to solve this problem.

[2021-04-06 20:33] deepak1556 commented on #120431
We should keep the workspace reuse idea tracked separately, this issue I would like to track only the work required to enable

[code]

For that the blockers:

1) Verify the native modules loaded in workbench and shared process are context aware, ignore modules loaded in other processes as they are not affected

2) Turn on the flag in master and identify regressions. This need not depend on Electro

[2021-04-06 20:37] #120657 closed

[2021-04-06 20:45] NSExceptional opened #120666 "Extension package.json shows phantom errors until window reload"
### Issue Type: **Bug**

When editing package.json for an extension project, VS Code shows phantom errors until the window is reloaded. Below are a screenshot of one of the phantom errors, and a video depicting the behavior.

### Steps to Reproduce

1. Create a new extension with `yo code`
2. Open the extension folder in VS Code
3. Edit package.json; observe phantom errors
4. Reload window; phanto

[2021-04-06 20:57] pszlazak opened #120667 "Allow using variables as part of path and args values in terminal settings"
Using [Terminal profiles](https://code.visualstudio.com/updates/v1_55#_terminal-profiles) introduced in `1.55` (via #45444) I tried to use system variables as part of `path` and `args` values but w/o success.

Example for `path`:
* this one **works**:
[code]
* this one **does not work** - it's not even listed on the list of available profiles:
[code]

Same thing is observed if variable is used as

[2021-04-06 20:57] fujitatakesh opened #120668 "Alert same name when rename a variable"
Issue Type: <b>Feature Request</b>

It'll be useful that alert same name already exists when rename a variable.
[code]
1. Rename "b"=>"a"
2. Alert "'a' is exists already" near the rename box

VS Code version: Code 1.55.0 (c185983a683d14c396952dd432459097bc7f757f, 2021-03-30T16:01:55.261Z)
OS version: Windows_NT x64 10.0.19042

[2021-04-06 21:03] #120641 closed

[2021-04-06 21:03] pixieaka commented on #115641
https://github.com/microsoft/vscode/issues/28409 Can this adds in new design? Because cursor with bigger `Line height` value looks bad also.

[2021-04-06 21:04] rzhao271 commented on #120417
In your settings, add the following:

[code]

However, I also noticed that the extension doesn't pick up this setting properly, so this is a bug.

[2021-04-06 21:06] Ricard01 opened #120669 "Hide selection"
It Will be great to have a command to Hide Selection ( like #region but without code).

[2021-04-06 21:08] pixieaka commented on #120417
@rzhao271 And there's no option in suggestions for "xhtml" also. Can this option adds also to suggestions?

![image](https://user-images.githubusercontent.com/17777237/113778562-d9997480-972c-11eb-91dc-a48d3db1d559.png)

[2021-04-06 21:09] #120487 closed

[2021-04-06 21:21] pixieaka commented on #115641
@misolori  https://github.com/microsoft/vscode/issues/28409 Can this adds in new design? Because cursor with bigger `Line height` value looks bad actually.

![image](https://user-images.githubusercontent.com/17777237/113779857-9dffaa00-972e-11eb-84cd-e4f8a96e61a3.png)

[2021-04-06 21:24] pixieaka commented on #120418
@rzhao271 Can you track this?

[2021-04-06 21:37] #120417 closed

[2021-04-06 21:38] geekley commented on #12223
To everyone subscribed to this: You'll likely also want to upvote my feature request here, before it's closed by bot: https://github.com/microsoft/vscode/issues/119025

The reason most people want to see line endings is because they want to **detect and fix mixed endings**, right?
For this, I think that it's more helpful to easily know ***when*** a file has any mixed line endings (without having t

[2021-04-06 21:43] masaeedu commented on #12223
Can't speak for most people, but mixed line endings aren't always a problem that need fixing. Or at least that's not why I subscribed to this issue. I was writing a test suite that did some stuff with whitespace and wanted to be able to read the whitespace in my source code.

"Use <different editor>" is basically a solution to every feature request on this tracker, but probably not a very satisfyi

[2021-04-06 21:55] andrhevictor commented on #120496
@Jo-Geek

Selecting a Default Profile did the trick!

[2021-04-06 22:00] geekley commented on #12223
@masaeedu Sure, I recognize this feature is important too. In fact, the corner case I mentioned is one I'm having to deal with myself, so I'd like to have this as well.
But since the mixed lines case is closely related to this, I thought I'd notify subscribers of a better solution in fixing that particular problem (as complementary to this, not replacement). I wanted to draw attention to that feat

[2021-04-06 22:07] rebornix commented on #120370
@roblourens right, it's hard to have both. I'm just wondering if there is a way out. Currently in my personal `setup.ipynb`, I put some scripts in markdown cells which I want to run in terminal sometimes, but right now I can't copy this all. I don't mind turning off drag and drop if possible.

[2021-04-06 22:08] connor4312 commented on #120662
/jsDebugLogs

[2021-04-06 22:29] #120036 closed

[2021-04-06 22:59] #120449 closed

[2021-04-06 23:00] kaovilai commented on #120449
nvm used wrong regex group

[2021-04-06 23:02] altokarev commented on #120416
+1

@sandy081 so how can I achieve settings sync + PAT login at the same time?

Anyway, this used to work and by any large, is a frequently used scenario - having settings sync alongside with ability to push to internal repos of your organization.

Maybe there are any alternatives?

[2021-04-06 23:05] pixieaka opened #120671 "JavaScript - No suggestions for object with number index without quotes."
- VS Code Version: 1.55.0
- OS Version: Windows 10 20h2

Steps to Reproduce:

![2](https://user-images.githubusercontent.com/17777237/113788459-40268e80-973d-11eb-81c1-0e63a294d1e1.gif)

Does this issue occur when all extensions are disabled?: Yes

[2021-04-06 23:20] roydukkey commented on #120643
Maybe my concern is no longer valid then. It just seems that someone might have misequated `0x50 == .transparent(0.5)`, whereas, if it was desired for the theme json values to have been equivalent to the TypeScript, I would have expected `0x80 == .transparent(0.5)`.

[2021-04-06 23:27] rebornix opened #120672 "Do not hide markdown cells when it's out of viewport"
Right now the visibility of markdown cells are set to hidden when it's scrolled out of the viewport. Maybe we can just keep it as is if it's not folded or deleted, otherwise when we are scrolling fast, we can see some blank markdown cells as they are hidden and the requests to change them to `visible` are not applied yet

<img width="548" alt="image" src="https://user-images.githubusercontent.com/

[2021-04-06 23:38] tinywrkb commented on #120084
Might be related:

* [Issue 1022724: \[ozone/wayland\] Keyboard and IME issues](https://bugs.chromium.org/p/chromium/issues/detail?id=10227240)
* [Issue 1183262: Add support for gtk im module on ozone wayland platform](https://bugs.chromium.org/p/chromium/issues/detail?id=1183262)
* [Issue 1039161: Ozone-wayland: support text_input_v3 protocol](https://bugs.chromium.org/p/chromium/issues/detail?id

[2021-04-06 23:41] #120671 closed

[2021-04-06 23:47] mjbvz commented on #119536
@joyceerhl Just to make sure you we are on the same page: you shouldn't need to worry about `notebookMarkdownRenderer` all right now. We bundle https://github.com/mjbvz/markdown-it-katex into VS Code, so if your team can submit fixes for the markdown markdown parsing issues you identified, then we'll pull them into VS Code

[2021-04-06 23:57] alefragnani opened #120674 "Expose drag and drop event to `Decorators` just like Breakpoints will have"
As requested by @isidorn , I'm creating this issue to ask for exposing the same _drag and drop_ capability/event to `Decorators`.

This capability is being added in #88227  for Breakpoints, in the core.

Thank you

[2021-04-06 23:57] pixieaka commented on #120671
@mjbvz But object with numeric index can access without quotes why suggestions doesn't support this case?

[2021-04-06 23:59] pixieaka commented on #120671
@mjbvz But object with numeric indexes can access without quotes. Why suggestions doesn't support this case?

[2021-04-06 23:59] alefragnani commented on #120674
/not duplicate

[2021-04-07 00:30] durbank commented on #116951
My workaround to date has been to pollute the conda environment that will load with all the packages I need across all projects (definitely not ideal, but the environments I have needed over the past few weeks have been similar enough that it has worked for me). I checked again this morning, however, and it appears the issue has been resolved for me since updating to version 1.55.0 of VS Code.

[2021-04-07 00:34] mjbvz opened #120675 "Enable noImplicitOverride in our codebase"
## `--noImplicitOverride `
TS 4.3 adds a new strictness option: [`--noImplicitOverride`](https://github.com/microsoft/TypeScript/pull/39669). This requires that you use the `override` keyword when overriding and method:

[code]

To fix this, simply add the `override` keyword:

[code]

The override keyword does not change runtime behavior but can help programmers in a few ways:

- When reading code

[2021-04-07 00:49] mjbvz commented on #120671
The keys are strings. Yes JavaScript auto converts the bracketed value to a strings, but that does not mean we want show IntelliSense suggesting to use a number literal here. As a more extreme example, consider:

[code]

Instead we show IntelliSense inside brackets when you start typing a string key:

<img width="421" alt="Screen Shot 2021-04-06 at 5 48 24 PM" src="https://user-images.githubuserco

[2021-04-07 00:52] thenexus00 opened #120676 "Network Projects"
Hi team,
Platform - Mac

1. Recent folders/projects from a network drive. If your mac has lost its network connection (Which happens a lot on power down (or sleep)/windows server and network setups) and you click on a Recent item it will notify you it can not find it. This is fine but then it looses that history item. Under more or in the main recent list that project/folder is now gone. You then

[2021-04-07 00:56] tamuratak opened #120677 "node_modules/.bin/tsc is used on an untrusted workspace"
Version: 1.56.0-insider
Commit: 550035808407c15252e581e8abe1b820b9d311ee
Date: 2021-04-02T05:13:17.592Z
Electron: 11.4.1
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Darwin x64 18.7.0

Steps to Reproduce:

1. Set `"workspace.trustEnabled": true` in the global `settings.json`
2. `git clone git@github.com:James-Yu/LaTeX-Workshop.git`
3. Open the LaTeX-Workshop directory.
4. S

[2021-04-07 00:58] vielhuber commented on #120637
I experience the same issue.
It was very convenient if you delete a search item on the left, it jumps and focuses automatifcally the next item in the list.
This behaviour is now gone.

[2021-04-07 01:05] muzinauto opened #120678 "typescript extension get error"
Issue Type: <b>Bug</b>

why?

VS Code version: Code 1.55.0 (Universal) (c185983a683d14c396952dd432459097bc7f757f, 2021-03-30T16:01:05.981Z)
OS version: Darwin arm64 20.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|undefined|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>metal: disabled_off<br>multiple_raster_threads: enabled_on<br>oop_rasterization: en

[2021-04-07 01:06] itsems commented on #120279
Same problem here.
Showing Release Note & Creating random folder & `> Reload Window` doesn't work for me.
I've reinstalled to [v 1.53.2](https://code.visualstudio.com/updates/v1_53) which has normal npm scripts shown in panel.

[2021-04-07 01:31] alexkreidler opened #120679 "Don't open ignored files in the Explorer"
I often use Go to Type Definition to dive into a file that's in an ignored directory (e.g. `node_modules` or `$GOPATH/pkg/mod`).

It would be great if when these files are opened they are **not selected or focused in the Explorer**, because then the ignored parent folder gets expanded, which interrupts the editing workflow (e.g. returning to other files).

This should be probably be configurable.

[2021-04-07 02:00] RafaelGlober commented on #45997
I literally discover the "AutoSave" setting today, and instantly I started searching "how to format on autosave" and now I'm commenting on this thread... so if you can see... both features "auto save" and "format on auto save" are very needed.

[2021-04-07 02:02] roblourens commented on #120370
You can put the cell in edit mode

[2021-04-07 02:03] thecriticalpoint commented on #91578
I really want to apologize if my comment doesn't belong here but I feel like I'm having a similar problem creating a task with arguments that run in WSL. [I created a thread here on stackoverflow](https://stackoverflow.com/questions/66978610/tasks-json-i-cant-figure-out-how-to-use-escaping-characters-using-wsl-as-a-sh) but wanted to cross post it here just in case it can end up helping someone els

[2021-04-07 02:06] roblourens commented on #120606
They are interactive, and you can use the keyboard on them at this point. It is typical to show where focus is like this even if it's not always necessarily useful. Thanks for the suggestion but I'm not interested in trying to customize it, I know it will be a pain.

[2021-04-07 02:06] #120606 closed

[2021-04-07 02:09] mrleblanc101 commented on #120606
I mean a random div should not be focusable. Div have no semantic meaning.
Also as I said, I have nothing against the focus style, but it should only appear when using the keyboard navigation and not when using a mouse unless it's an interactive element like a form input, a link or a button.

[2021-04-07 02:11] hunterknepshield opened #120680 "Assigning undefined to commentThread.contextValue doesn't reset the backing context key"
- VS Code Version: 1.54.3 (commit 2b9aebd5354a3629c3aba0a5f5df49f43d6689f8)
- OS Version: macOS 11.3 Beta

Steps to Reproduce:
1. From `package.json`, have a menu contribution registered for `comments/commentThread/context` to show some command with `"when": "commentThread != sentinelForPackageJson"`
2. From extension, call commentController.createCommentThread
3. Leave the thread's `contextValue`

[2021-04-07 02:36] #115858 closed

[2021-04-07 02:36] #115753 closed

[2021-04-07 02:36] mrleblanc101 commented on #120606
Why not keep it open and let a member of the community that actually has interest in this issue take care of it ?
Just because you don't want to do it, doesn't mean the issue has to be closed.

[2021-04-07 02:45] yamatsum commented on #12377
I want this setting in the build-in, not the extension

[2021-04-07 02:46] roblourens commented on #120284
Well, first I am not actually writing the new language back to the text model, yikes. Fixed that and it still doesn't work.

Listening on `_modelService.onModelAdded` is not enough because right after you closed the notebook, the TextModel is still there and that event won't be fired. So I can listen on `_modelService.onModelModeChanged` as well, done.

But I was thinking about other cases. What i

[2021-04-07 02:50] alexisfrjp commented on #116721
It seems that issue is very recurrent here... there are tens of issues raising it! After years, this is still not solved.

![image](https://user-images.githubusercontent.com/6713988/113803271-29ad2100-9797-11eb-8084-6cebbba7ed8e.png)

Can't update VSCode, 1.52.1 is the last version that supports Centos 7.

[2021-04-07 02:59] olderor commented on #120377
@joaomoreno same thing. If you set update mode to none in 1.55.0, close vs code 1.55.0, install 1.54.3, open vs code 1.54.3, close vs code 1.54.3, open vs code again, observe the vs code is updated to 1.55.0.

You can repeat the steps multiple times, the result will be the same, vs code will update itself to 1.55.0.

My guess that there is some automated process that is able to find the already do

[2021-04-07 03:00] Phil-Channing opened #120681 "Can I custom double-click and triple-click selection behavior"
For `a_b_c` style word selection , sometimes I want to select single word like 'a', while in other situations I prefer to select the whole phrase `a_b_c`. I know the {"editor.wordSeparators": "_"} setting could work to select the single word separated by underline. But when I set this I can't select the whole phrase any more.

Can I just custom triple-click to select the whole phrase, and use `ctr

[2021-04-07 03:02] krlmlr opened #120682 "Terminal does not show ANSI underline"
Issue Type: <b>Bug</b>

Characters marked as ANSI underline don't show as underlined in the terminal. Reproduce with

[code]

in a `bash` terminal.

This is relevant for code that uses the underline to highlight parts of the output, e.g. the pillar R package.

## VS Code screenshot

![Screenshot from 2021-04-07 04-59-23](https://user-images.githubusercontent.com/1741643/113804265-80e2cf80-975e-11e

[2021-04-07 03:06] abhijit-hota commented on #120399
I cannot directly share the code but this is the info:
- **Create React App** Project with the **PWA template**. ([NPM Page](https://www.npmjs.com/package/cra-template-pwa))
- Package Manager: **Yarn**
-  Dependencies
     - "anchorme": "2.1.2",
    - "antd": "4.13.1",
    - "axios": "0.21.1",
    - "chart.js": "2.9.4",
    - "dayjs": "1.10.4",
    - "firebase": "8.2.10",
    - "json2csv": "5.0.6"

[2021-04-07 03:09] switchif opened #120684 "悬停提示显示中文就乱码"
**已经设置全局默认编码是GB2312:**
**bug现象：**.c文件，函数在引用出鼠标悬停显示的注释中的中文是乱码，（声明和引用的文件都是中文GBK2312编码).但是如果该声明文件（.h文件）是打开的状态，悬停提示就是正常的。
异常时：
![image](https://user-images.githubusercontent.com/35210137/113804506-39296b80-9791-11eb-9c88-c9242c2794ed.png)
打开后正常的状态：
![image](https://user-images.githubusercontent.com/35210137/113804588-6d9d2780-9791-11eb-9da2-b23c98ab1b2f.png)

[2021-04-07 03:13] pixieaka opened #120685 "JavaScript - Typo in array filter method documentation"
- VS Code Version: 1.55.0
- OS Version: Windows 10 20h2

Steps to Reproduce:

"Returns the this object" instead of "Returns this object".

![Untitled](https://user-images.githubusercontent.com/17777237/113804837-a02e2c80-975f-11eb-95d2-6a769700f17f.jpg)

Does this issue occur when all extensions are disabled?: Yes

[2021-04-07 03:20] gjsjohnmurray commented on #120678
/needsMoreInfo

[2021-04-07 03:24] JackABlack opened #120686 "A OOM issue occurred when VSCode only consumed 355MB/16GB physical Mem"
- VS Code Version:March 2021 (version 1.55)
- OS Version: Win10_Home_2004_Build_19041.867

Steps to Reproduce:

1. Run my code
2. It Crushed

My code:
[code]

dump file is attached, but in folder "report" there is nothing, don't sure why.

Does this issue occur when all extensions are disabled?: Yes/No
Cannot do as I runs it inside Microsoft Jupyter Extension (One can not run jupyter code without

[2021-04-07 03:45] dspacejs commented on #32579
@zaydek that's cleaner, but users should only have to create a complex configuration if they're looking to only italicise certain nodes. I don't want any italics at all, and I'm guessing there's many users who don't.

[2021-04-07 03:53] gjsjohnmurray commented on #120679
See also #81236 and #56063

[2021-04-07 03:58] rjb3977 opened #120687 "Settings (UI) - Cursor jumps around when clicking between text boxes and making changes"
- VS Code Version: 1.55.0
- OS Version: Windows 10 20H2 (OS Build 19042.870)

Steps to Reproduce:

1. Open Settings (UI)
2. Scroll somewhere where there are two different text box settings visible
3. Click in the first text box
4. Change the value in the first text box
5. Click in the second text box
6. (Try to) change the value in the second text box
7. ??? (probably a race condition with saving

[2021-04-07 04:00] alexkreidler commented on #120679
Ah, I knew this might have already been discussed. Thanks for linking those here.

I'll also link to #38878 which is about hiding excluded folders from the Explorer tree more generally.

[2021-04-07 04:17] roblourens commented on #120284
Pushed a fix, a couple remaining issues

- If there is another editor open, when I run the command to change the language, the notebook editor opens in the background and doesn't show the dirty indicator until I click on it. Maybe that's intended.
- If I close the dirty editor and say "Don't Save", it doesn't reset the text model language, I don't know how that's supposed to work

[2021-04-07 04:19] roblourens commented on #120606
It's not a random div, it's the list. You can now interact with the lists and all lists in vscode are consistent in this. I'm closing it because I'm not interested in a PR for this either for the reasons I gave

[2021-04-07 04:21] thenewpark opened #120688 "vscode download link is broken"
- VS Code Version: latest
- OS Version: macOS Catalina 10.15.7
- Browser: Chrome 89.0.4389.90
- Country: South Korea

Steps to Reproduce:

1. Try download via link from https://code.visualstudio.com/download & via homebrew
2. Network timeout error occurs
    (request url is `https://az764295.vo.msecnd.net/stable/c185983a683d14c396952dd432459097bc7f757f/VSCode-darwin-universal.zip`)

I'm trying to

[2021-04-07 04:21] roblourens commented on #120687
Yes... I am using a not great strategy here in trying to refresh the list when changes come in. https://github.com/microsoft/vscode/issues/106577

[2021-04-07 04:21] #120687 closed

[2021-04-07 04:23] DeveloperGY opened #120689 "There is a space character located between every character displayed in the termnal"
Issue Type: <b>Bug</b>

It started once I updated to the latest version of vscode, im using chromeOS's linux(beta) system or "crostini"

VS Code version: Code 1.55.0 (c185983a683d14c396952dd432459097bc7f757f, 2021-03-30T16:02:21.560Z)
OS version: Linux x64 5.4.88-12224-gf05236dbdecf

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|06/8e (4 x 1607)|
|GPU Status|2d_canvas: ena

[2021-04-07 04:24] adamburgess commented on #87956
Another workaround in the meantime: https://marketplace.visualstudio.com/items?itemName=phobal.vscode-collapse-node-modules
It works by adding node_modules to the ignore list and then removing it, which makes vscode hide and restore it, effectively collapsing. (it does edit your .vscode/settings.json though, but I've made a PR to fix that)
that + statusbar-commands makes for a handy button:
![imag

[2021-04-07 04:27] thenewpark commented on #120688
Checked the referenced issue above, but couldn't figure out the solution since the issue creator's network seems somehow fixed itself. 🤔

[2021-04-07 04:43] reinux commented on #107016
I get a warning when I try to do `disable-renderer-accessibility`:

Double-checked and triple-checked the spelling.

[2021-04-07 05:01] SeanChao commented on #107016
This is expected, becauce it's a chromium flag not a VSC flag. If renderer-accessibility is the cause of your issue, it should have been fixed after you passing the flag.

[2021-04-07 05:01] hakimehmordadi opened #120691 "When the browser disconnects, VS Code kills the entire extension host (and therefore all running extensions)"
Hi there! 👋

I created a vs-code extension for code sharing. For running extension I'm using code-server. I'm using web socket for real-time sending and receiving messaged (In this case users mouse position or text highlights).

I open every files which I want to share in browser as tabs.

BUT

When I closed all tabs, my extension goes deactivated, web socket is stopped and I got error.

- VS Code

[2021-04-07 05:14] bpasero commented on #120500
I think we never had API in the workbench to show/hide and this is how the extension host does it:

https://github.com/microsoft/vscode/blob/376716d1aeef7f64002068308ea45a91fab25a96/src/vs/workbench/api/common/extHostStatusBar.ts#L145-L154

As you can see, `dispose` is called to hide and when the item should get visible after being disposed it would need to be recreated.

I think I only added `upd

[2021-04-07 05:17] bpasero commented on #120676
/duplicate https://github.com/microsoft/vscode/issues/116880

[2021-04-07 05:18] #120676 closed

[2021-04-07 05:20] bpasero commented on #120431
Agree on https://github.com/microsoft/vscode/issues/120431#issuecomment-814420518. Some comments:

To clarify: are you suggesting to push this to insiders/stable even before Electron 12 and even before we moved away from `webview`?

I think they automatically get restarted because we always spawn them from the workbench when it starts. So the task at hand would be to ensure that the processes a re

[2021-04-07 05:26] misolori commented on #120643
Gotcha. Thanks for the ping, will close this as it's no longer relevant then. If you see any other issues please feel free to create a new issue.

[2021-04-07 05:26] #120643 closed

[2021-04-07 05:40] testforstephen commented on #119560
Tried 04-02 insider version, it works well. Thanks.

The new `auto` will enable the inline values by default if Java debugger uses the API to provide inline values.
And `true` and `false` will also turn on/off the inline values.

[2021-04-07 05:45] ghost opened #120692 "Source Control Malfunction"
Issue Type: <b>Bug</b>

I have opened a folder, and it is *NOT* a git repository. Even so, Source Control seems active from my last opened folder, which was a repository. When I run
[code]
and make some changes and stage and commit them, source control is not updated, it continues to show the changes before the commit

VS Code version: Code - Insiders 1.56.0-insider (550035808407c15252e581e8abe1b8

[2021-04-07 05:48] mjbvz commented on #120675
Here's the simple python script I used to automate most of the rewrites:

[code]

This is a pretty simple script but takes us from 2200 errors to 200 or so.

The remaining errors fall into a few buckets:

- Cases where the property is declared in a constructor.

    Many of these seem to be errors (such as a subclass re-declaring a protected property)

    The rest need to be re-written  manually

[2021-04-07 05:48] bpasero commented on #120663
Proof that the URLs work from devtools, running:

[code]

Properly returns a JSON object:

![image](https://user-images.githubusercontent.com/900690/113816826-a8916200-9775-11eb-8c35-42a970f80500.png)

So I am really puzzled why it would not work.

[2021-04-07 05:50] Satwik29 commented on #120692
This could also be a performance issue, so I will have to see about that

[2021-04-07 05:53] sanket-bhalerao commented on #120655
@bpasero re-install is working, thanks for the quick response.

[2021-04-07 05:53] bpasero commented on #120663
Looks like https://github.com/electron/electron/issues/21699 is the culprit here.

Similar issue we had closed before: https://github.com/microsoft/vscode/issues/115440

[2021-04-07 05:54] bpasero commented on #120663
One mitigation idea from @connor4312 is to enable inline sourcemaps.

[2021-04-07 06:09] Albert1102 opened #120693 "vscode for mac cannot use del key"
When SSH connects to the Linux server, when del is used in the terminal, the key is replaced with a space, which cannot be deleted normally.

[2021-04-07 06:21] chrmarti commented on #120655
@bpasero This is still an issue with the build from https://github.com/Microsoft/vscode/commit/05b52df98a547be59a8fce5a1f5a8fb09750bba0. Would you expect it to be fixed with your change?

[2021-04-07 06:24] HarshPreeti opened #120694 "SFDX: Retreive Manifest from Org keeps on running Endlessly"
1.Create a Project with Manifest
2. Authorize Salesforce Org.
3.Manifest>>Pacakage.xml>>SFDX:Retrieve Manifest From Org
4.It doesn't retrive anything just keeps running, no errors.

[2021-04-07 06:35] #120650 closed

[2021-04-07 06:35] jrieken commented on #120650
There are two settings that should be tweaked: `editor.suggestFontSize` and `editor.suggestLineHeight`

[2021-04-07 06:35] gjsjohnmurray commented on #120694
/causedByExtension

[2021-04-07 06:36] bpasero commented on #120655
Yeah it is fixed with https://github.com/microsoft/vscode/commit/2b6df1bba957fb924c8f9ae5b2f904ef092aa899. Try to delete the "Code Cache" folder maybe. And see if you have enabled `vscode-file` protocol explicitly in runtime args.

[2021-04-07 06:36] #120694 closed

[2021-04-07 06:39] isidorn commented on #119560
@testforstephen great, thanks for trying, adding verified label.

[2021-04-07 06:39] programmer247 commented on #115136
Is there some way to check how many actions will be shown for each file in the group? Then space could be reserved for the worst case in the group?

[2021-04-07 06:40] leighmcculloch opened #120695 "Editing file using `code -w` in terminal does not return focus to terminal when closed"
- VS Code Version: 1.55.0
- OS Version: macOS 11.2.3

Steps to Reproduce:

1. Open terminal
2. Run command `code -w file`
3. `file` will open in the editor
4. make some changes or add text to `file`
5. Close file, such as with `CMD-W`
6. Focus remains in the editor, and does not return to the terminal

Does this issue occur when all extensions are disabled?: **No**. This problem doesn't seem to oc

[2021-04-07 06:41] isidorn commented on #120674
I think this is a fair feature request, we just do not have it on the plan at the moment. Thus assigning to backlog.
Also assigning to @alexdima since he owns the editor decorations and he might know if there are duplicates for this issue.

[2021-04-07 06:43] bpasero opened #120696 "Remove window.sessionId"
Referring to:

https://github.com/microsoft/vscode/blob/28a55539bb940913190035e8264d4253b1724b24/src/vs/platform/windows/electron-main/window.ts#L839-L839

Which seems to be used only in update from `IEnvironmentService#sessionId`.

This seems it could just use the `windowId` directly?

Filing this because I am revisiting properties in `INativeWindowConfiguration` to clean them up.

[2021-04-07 06:47] chrmarti commented on #120655
@bpasero Yesterday's 550035808407c15252e581e8abe1b820b9d311ee still works. Shouldn't the new build work too?

[2021-04-07 06:49] armandsLa opened #120697 "Settings option to disable comment continuation"
Recently a comment continuation feature was added, but without a way to disable it. It's a great feature, but it's not for everyone. Please consider adding a setting option to disable it.

[2021-04-07 06:51] chrmarti commented on #120655
Deleting "Code Cache" helped. I also just realized that I went from the Universal to the x64 build, not sure if that might have affected this.

In case someone else needs this, I did `rm -rf ~/Library/Application\ Support/Code\ -\ Insiders/Code\ Cache` to move forward.

[2021-04-07 06:53] jrieken opened #120698 "Vertical separator too wide"
* open `my-work.github-issues`
* run a cell
* 🧀 there is a vertical separator which is showing too wide

<img width="203" alt="Screenshot 2021-04-07 at 08 52 39" src="https://user-images.githubusercontent.com/1794099/113823174-9f58c300-977e-11eb-93a2-2648dd8925a3.png">

[2021-04-07 06:59] bpasero opened #120699 "Search editor and scoped context key service weirdness"
I came across this change that I found confusing:

https://github.com/microsoft/vscode/pull/99478/files#diff-065e97bed92a257652167bf976061c9d942dba9d6ecba94333f9588587d06bf1

It looks like the search editor is actually overriding the instantiation service from above for a scoped context key service:

https://github.com/microsoft/vscode/blob/19f6f3103606da3fe5d8be4b722d96fe8e18271a/src/vs/workbench

[2021-04-07 06:59] bpasero commented on #120655
Yeah, I never saw this in ARM builds, only X64 macOS.

[2021-04-07 07:06] sandy081 opened #120700 "Install dropdown action is broken"
![image](https://user-images.githubusercontent.com/10746682/113824740-6a4d7000-9780-11eb-9576-060de7a29fab.png)

[2021-04-07 07:08] sandy081 opened #120702 "Improve extensions representation under extensions pack / extension dependencies tab"
Improve extensions representation under extensions pack / extension dependencies tab.
Use the grid view to represent the extensions.

[2021-04-07 07:19] deepak1556 commented on #120663
The network call from devtools frontend to load source map will eventually delegate to the runtime, it is currently handled in Electron at https://github.com/electron/electron/blob/12-x-y/shell/browser/ui/inspectable_web_contents.cc#L646. The problem is that the URLLoaderFactory created will not understand custom protocols hence the response stream is incorrect.

[2021-04-07 07:22] DavyLandman opened #120703 "TerminalLinks found with `TerminalLinkProvider` are alwaysed parsed as an URI, crashing the vscode if you have custom kinds of link format"
- VS Code Version: 1.55.0
- OS Version: Windows 10

Steps to Reproduce:

1. Implement a custom `TerminalLinkProvider`
2. Mark a area inside a line that for example looks like: `|file:///....|(2,20)` (a location that also contains the line & column offfset
3. hover such an uri in the terminal
4. console logs following exception (and link doesn't appear)

[code]

I've debugged it, the URI is created

[2021-04-07 07:24] oldfoz opened #120704 "When workspace opened, can not find local python venv"
Issue Type: <b>Bug</b>

The problem relates to Python Interpreter selection
when working with **workspace**.
I set this issue related to VSC because
when I am working with **folder** (not workspace),
I do not have such a problem.

**Steps to reproduce:**

1. Open folder by VSC
2. Save as workspace
3. Open this workspace by VSC
4. Run ``python -m venv .env`` locally
5. Fail to set Python Interprete

[2021-04-07 07:24] joaomoreno opened #120705 "Settings: Searching for `font` should always have `editor.fontFamily` at the top"
Currently it sits at #5 on the search results list. We should probably hack that it always appears on top.

[2021-04-07 07:28] Kingwl commented on #120675
Cool! But... Are there any tools could batch apply quickfix?

[2021-04-07 07:29] bpasero opened #120706 "Search: actions shift"
![recording](https://user-images.githubusercontent.com/900690/113827606-c960b400-9783-11eb-81c6-3c40475b3979.gif)

[2021-04-07 07:33] alexsapps commented on #120580
Thanks!

Also noticed I can't drag/drop to re-order editor tabs, just for the record. (Same thing - I see the drag animation on mousedown but nothing happens on mouseup) May be related.

[2021-04-07 07:35] bonjourjoel commented on #120596
Hi again,
I could run vsc on mac with arguments thanks to your help. It turns out the ghost launch configurations were not there any more.
Based on this, I tried to delete Session storage, blob storage..., I searched the 3 Cache folders, and i grepped the jsons: I couldn't find them anywhere.
So I ended up with 'mv Code Code2' and since it worked i simply did 'rm -rf Code2'.
It's cool that this Co

[2021-04-07 07:35] #120596 closed

[2021-04-07 07:36] XtremeGood commented on #117956
It did not happened with git console but happens a lot with powershell but git has this other problem https://stackoverflow.com/questions/62685569/error-while-installing-python-extensions-cant-open-file-directory-filename

[2021-04-07 07:41] bohni opened #131991 "Notebook files are not saved with an extra new line"
## Environment data

-   VS Code version: 1.55.0
-   Jupyter Extension version (available under the Extensions sidebar): v2021.5.702919634
-   Python Extension version (available under the Extensions sidebar): v2021.3.680753044
-   OS (Windows | Mac | Linux distro) and version: Win 10
-   Python and/or Anaconda version: 2.8.5
-   Type of virtual environment used (N/A | venv | virtualenv | conda |

[2021-04-07 07:41] #111460 closed

[2021-04-07 07:48] kt-unzner opened #120707 "Webview focussing with wrapTabs = true can prevent click events from being triggered within the Webview"
When having workbench.editor.wrapTabs = true and the width of the window is so that it would need an additional tab line when the windows is activated because of the menu bar symbols need some more place, in some cases a click event is not triggered.

Here an example that shows how the extension Git Graph is affected by this bug: https://github.com/mhutchie/vscode-git-graph/issues/493

[2021-04-07 07:48] aeschli commented on #120532
It is just an updating issue? Or does the color indicator stay?

[2021-04-07 07:50] imeteora opened #120708 "VSCode's Icon display wired in Finder.app's toolbar."
Version: 1.55.0
Commit: c185983a683d14c396952dd432459097bc7f757f
Date: 2021-03-30T16:01:05.981Z
Electron: 11.3.0
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Darwin x64 20.3.0

Steps to Reproduce:

1. Open macOS's `Finder.app`.
2. Open quick menu, and click `Customize toolbar...`, drag `VSCode` onto toolbar.
3. You will find `VSCode` icon is shows abnormal, like abrasion.

[2021-04-07 07:55] aeschli commented on #120574
I can reproduce. Looks like the TS grammar doesn't work here (see last part of the hover)

![image](https://user-images.githubusercontent.com/6461412/113830794-40e41280-9787-11eb-9165-fa3b2574faf4.png)

[2021-04-07 07:56] #120700 closed

[2021-04-07 07:59] jmetertea opened #120709 "Stop loop to next change at last change of file"
Don't loop to first change occurrence after reach last occurrence
### Steps to reproduce
Go to Source Control (Ctrl+Shift+G)
Open changes of a file
Click Next Change (Alt+F5)
### Results
When you reach the last occurrence, the Next Change command keep searching by jumping to the first occurrence at the top of the file. You're in a loop.

### Expectations
When last search occurrence is reached, mos

[2021-04-07 08:01] sandorvasas opened #120710 "Running TS Compile task results in error"
Version: 1.53.2
Commit: 622cb03f7e070a9670c94bae1a45d78d7181fbd4
Date: 2021-02-11T11:48:44.518Z
Electron: 11.2.1
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Linux x64 5.8.0-45-generic

I use nvm and node 14.7.0. Running the following task
[code]
Results in:
[code]
It had been working previously, and I'm not sure when it broke as I rarely used this task.

[2021-04-07 08:02] weinand opened #120711 "Improve creation of launch.json JSON scheme"
Today the JSON scheme for the launch.json is dynamically created from all debug extension contributions and predefined common propoerties. This results in a typical size of 42000 lines.

Most of these lines are duplicated because the schema has 3 sub-schemas for the platform sections "osx", "windows", and "linux". Instead of replicating the schema 3 times, we should use JSON's reference mechanism

[2021-04-07 08:05] bpasero commented on #120420
This is pretty cool, I was not aware we can change the title style to dark style.

@deepak1556 is this API robust to use? Do you see issues with it?

[2021-04-07 08:05] hiroshi-nakajima345 commented on #120013
My inquiry was may be difficult one. I can understand  this situation. So I drop down the previous code?. thank you your long time following .

----- 元のメッセージ -----
From: "VS Code Issue Triage Bot" ***@***.***>
宛先: "microsoft/vscode" ***@***.***>
Cc: "hiroshi-nakajima345" ***@***.***>, "Author" ***@***.***>
送信済み: 2021年04月06日 午後 8:28
件名: Re: [microsoft/vscode] 前に進みません (#120013)

[2021-04-07 08:07] bpasero commented on #120420
Hm, one issue is that theme settings can change per workspace but from the main side we have no way of reading the workspace settings...

[2021-04-07 08:10] chrmarti commented on #120231
Correct, as environment variables `$Env:HTTP_PROXY` and `$Env:NO_PROXY`. `HTTP_PROXY` should be the URI (without the `https_proxy=` prefix) and `NO_PROXY` should be just the hostname (or domain name with a leading `.`).

[2021-04-07 08:14] joaomoreno commented on #120688
Closing as temporary network failure.

[2021-04-07 08:14] #120688 closed

[2021-04-07 08:17] amykapernick opened #120712 "Tab moves focus permanently"
Issue Type: <b>Bug</b>

I have the "Tab moves focus" accessibility setting (https://code.visualstudio.com/docs/editor/accessibility#_tab-trapping) off, but when I try and use the tab key within an editor window it moves to another pane. I'm not in a read only file

VS Code version: Code 1.55.0 (c185983a683d14c396952dd432459097bc7f757f, 2021-03-30T16:01:55.261Z)
OS version: Windows_NT x64 10.0.1904

[2021-04-07 08:18] deepak1556 commented on #120431
yup that is correct, since electron 11 already supports process reuse. I think this should be experimented on current main branch.

[2021-04-07 08:21] bpasero commented on #120431
@deepak1556 oh sorry, nevermind. I confused myself here with the idea to enable `contextIsolation` :). Too many things...

[2021-04-07 08:21] amykapernick commented on #120712
Seems to be the same issue as https://github.com/microsoft/vscode/issues/106755 has occurred since updating VS Code

[2021-04-07 08:23] viktomas-gitlab opened #120713 "Always show a notification toast even if height exceeds available height (crop message)"
- VS Code Version: 1.56.0-insider
- OS Version: Darwin x64 19.6.0

I found this issue when the extension I maintain tried to show a large error message. When the message contains multiple long lines, VS Code silently fails to show the error message.

### Steps to Reproduce:

1. execute ```vscode.window.showErrorMessage(`${'x'.repeat(100)}\n`.repeat(100), 'Action');``` in extension code (this code

[2021-04-07 08:24] thenewpark commented on #120688
It works! Thank you for checking :)

[2021-04-07 08:30] #120706 closed

[2021-04-07 08:32] sandy081 commented on #120416
@lszomoru @Tyriar FYI

[2021-04-07 08:33] shimst3r opened #120714 "Ubuntu 20.04: Unable to open X display"
- VS Code Version: 1.55.0, c185983a683d14c396952dd432459097bc7f757f, x64
- OS Version: Ubuntu 20.04.2 LTS

Steps to Reproduce:

1. Open VSCode
2. Open integrated terminal
3. `code -r /some/path`
4. VSCode doesn't reopen at `/some/path`

Verbose output:

[code]

Running the same command from e.g. `gnome-shell` opens VSCode as expected. I installed VSCode via `snap`.

Does this issue occur when all

[2021-04-07 08:34] #120332 closed

[2021-04-07 08:34] #120698 closed

[2021-04-07 08:35] Yajo opened #120715 "Add CURRENT_TZDIFF to snippet variables"
When doing snippets, [we have *almost* all required tools to indicate current time](https://code.visualstudio.com/docs/editor/userdefinedsnippets#_variables). However, what's still missing is timezone info.

My proposal is to add `CURRENT_TZDIFF`, which resolves to `+01:00`, `-00:30`, etc.

This way, we can represent an absolute time in a snippet, such as `${CURRENT_YEAR}-${CURRENT_MONTH}-${CURREN

[2021-04-07 08:46] joaomoreno commented on #120696
From what I can recall from that discussion with you, I believe we did it like that because we didn't want to expose something like `windowId` in `IEnvironmentService`.

[2021-04-07 08:48] gjsjohnmurray commented on #120708
/duplicate and will be fixed in upcoming 1.55.1

[2021-04-07 08:49] #120708 closed

[2021-04-07 08:59] shu-ming commented on #46676
the notifications are really annoying

[2021-04-07 09:00] isidorn commented on #120679
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog for now. Thanks

[2021-04-07 09:05] ndevenish commented on #101014
Excellent, I always wanted all the icons on my bar to look the same blank white square with tiny symbol in, it was far too easy to click on the app I wanted without carefully studying my dock 👍  big improvement

[2021-04-07 09:09] IllusionMH commented on #120689
Sound like duplicate of #120004
Do you see same problem?

[2021-04-07 09:27] SurajLodh commented on #120239
[https://github.com/SurajLodh/Dashboard/blob/main/app1/templates/new.html](url)

sir, I'm attaching my index.html link please look into this

https://twitter.com/Mr_SurajLodh/status/1377245440890920967?s=20

and this link(picture) is clearly showed my problem

if its correct then leave.

and large thank to you guys for taking my problem and finding better solution for us.

[2021-04-07 09:29] isidorn commented on #120711
@weinand this makes sense, do you have an example of a json schema that uses the `$ref` syntax? That way I could copy that approach.

[2021-04-07 09:30] pythoulon commented on #658
@ganezdragon for what it's worth, I ask my users to go to the extension folder (`~/.vscode/extensions/your-extensions-name-and-version` on my Windows machine) after installation/updated, open a terminal there, and type `npm install` at the command prompt. This will fully rebuild the extension, including compiling the native parts. You have to redo this with every update, but so far it has worked f

[2021-04-07 09:34] SetTrend opened #120716 "Extension recommendations get downloaded although disabled"
After updating to v 1.55.0 and updating all installed extensions, extension recommendations are getting downloaded and displayed although disabled:

![Extensions Recommended](https://user-images.githubusercontent.com/9283914/113844527-dcc84b00-9794-11eb-9346-ad8bfd00ec8b.png)

- VS Code / OS Version:
   Version: 1.55.0 (user setup)
   Commit: c185983a683d14c396952dd432459097bc7f757f
   Datum: 2021

[2021-04-07 09:39] misha-antonenko opened #120717 "Arrange terminals as easily as the editors"
In the most recent versions of Vim, you can split a screen into four panes like this:
<img width="1082" alt="Screenshot" src="https://user-images.githubusercontent.com/16488226/113844749-7dbb0400-979d-11eb-935e-86b564e813a9.png">
This I find the most efficient layout for most of the coding I do. But in VSCode I have to be satisfied with something like this:
![Screenshot](https://user-images.github

[2021-04-07 09:50] guilevi opened #120718 "[Accessibility] VoiceOver does not read last character in code completion suggestions"
Issue Type: <b>Bug</b>

1. Open a JavaScript file
2. Start typing the word "function" until suggestions pop up. VoiceOver will say "functio, selected" instead of "function, selected"

VS Code version: Code 1.55.0 (c185983a683d14c396952dd432459097bc7f757f, 2021-03-30T16:07:58.402Z)
OS version: Darwin arm64 20.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|undefined|
|GP

[2021-04-07 09:52] weinand commented on #120711
@isidorn the DAP spec is a good example for the `$ref` syntax.

We could just collect all schema contributions from the extensions in a "definitions" section like [here]( https://github.com/microsoft/debug-adapter-protocol/blob/3fa97489e227fdf933e8dd0325123f9bf74570d5/debugAdapterProtocol.json#L8) and refer to them in the real schema like [here](https://github.com/microsoft/debug-adapter-protocol/

[2021-04-07 09:59] sibeliuz commented on #120279
Same issue. But "Reload window" shows NPM Scripts again.

[2021-04-07 10:00] alexr00 commented on #120374
We recently moved to a different CSS grammar for providing syntax highlighting. The old one was unmaintained, and the new one has good fixes in it. You can see the full discussion here: https://github.com/Microsoft/vscode/issues/115480

Specifically, see https://github.com/Microsoft/vscode/issues/115480#issuecomment-776376851, which references `viewport` as a deprecated feature (details https://de

[2021-04-07 10:00] #120374 closed

[2021-04-07 10:02] sandy081 commented on #120634
This is designed. Dotted representation is only supported for settings keys and not for keys in values.

[2021-04-07 10:02] #120634 closed

[2021-04-07 10:05] bpasero commented on #120696
@joaomoreno meanwhile you can get the `windowId` from this `INativeHostService`:

https://github.com/microsoft/vscode/blob/5a8936ae639316163e89e08920d2120515ab55e6/src/vs/platform/native/common/native.ts#L37-L37

This is OK to call from any window.

[2021-04-07 10:06] bpasero commented on #120713
Up for grab if someone has time to investigate why this happens. I would have expected that we show a truncated version of the message at least.

[2021-04-07 10:11] utajum commented on #84151
Yeah, cmon dudes, it's been like 4 years

[2021-04-07 10:17] ganezdragon commented on #658
@pythoulon thanks for the approach. Yea then I would have to go with this, and hope the users have necessary gcc also to compile it. Or  I would have to look at some web bindings (but that has its problem of its own).
But thanks for the quick response pythoulon.

[2021-04-07 10:35] isidorn commented on #120712
@amykapernick I can not reproduce this. Can you reproduce with VS Code insiders https://code.visualstudio.com/insiders/

[2021-04-07 10:45] asbjornh opened #120719 "[Improvement] Autocomplete for overloaded functions using template literal types"
Support for template literal types is nice overall, but I've found one edge case that could be improved.
I'm trying to recreate something akin to [`lodash/get`](https://lodash.com/docs/4.17.15#get) using template literal types. On the TypeScript side, this works fine. However, when the selector/path argument is a template literal type _and_ overloaded, autocomplete hints doesn't show up in many ca

[2021-04-07 10:49] Romeoly commented on #60699
`.tex` is really important for a lot of scientists. I really hope that `.tex` has its own icon. `6.1MB` or even `61MB` is not a big deal, IMHO.

[2021-04-07 10:53] kartikeysharma98281 opened #120720 "antivirus alert"
Issue Type: <b>Feature Request</b>

when i run my c++ code in terminal then the code run smothly but affter a few seconds my antivirus alert me with a warning of virus in the file where my code is . please check it

VS Code version: Code 1.55.0 (c185983a683d14c396952dd432459097bc7f757f, 2021-03-30T16:01:55.261Z)
OS version: Windows_NT x64 10.0.19041

[2021-04-07 10:58] zeyad-shaban commented on #119941
Can this issue occur due to my OS?

[2021-04-07 10:59] Elias-Graf commented on #114459
Having the same issue on:

[code]
VS Code version:
[code]

<details>
<summary>code-insiders --verbose:</summary>
<pre>
[main 2021-04-07T10:55:31.353Z] Starting VS Code
[main 2021-04-07T10:55:31.354Z] from: /usr/share/code-insiders/resources/app
[main 2021-04-07T10:55:31.354Z] args: {
  _: [],
  diff: false,
  add: false,
  goto: false,
  'new-window': false,
  'reuse-window': false,
  wait: false,

[2021-04-07 11:12] 1059811622 opened #120721 "终端显示异常，每个字母之间都有个空格，每个中文之间有两个空格，而光标位置在原处"
Issue Type: <b>Bug</b>

将vscode升级到了最新版本
![image](https://user-images.githubusercontent.com/76728400/113857431-191b9b80-97d5-11eb-9798-4e8d7ab5d8b0.png)

VS Code version: Code 1.55.0 (c185983a683d14c396952dd432459097bc7f757f, 2021-03-30T16:01:55.261Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8565U CPU @ 1.80GH

[2021-04-07 11:19] DanTup commented on #98618
A similar request came up at https://github.com/Dart-Code/Dart-Code/issues/3254. The request was to have a single-click icon that would apply the fix. Fixes can already by marked as "preferred" fixes, so if they're populated, it would be nice if you could just work through the problems list clicking the fix buttons without even needing to open the menu (and perform two clicks).

Like this issue, I

[2021-04-07 11:23] Bishbishy opened #120722 "TS Server fatal error: Cannot read property 'lastIndexOf' of undefined"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-04-07 11:23] bpasero commented on #114459
As a workaround, deleting the `Code Cache` folder in the user data dir should also help.

[2021-04-07 11:24] #120722 closed

[2021-04-07 11:25] Springrbua commented on #114459
I just updte my insider instance and now I get a blnak screen. Starting with `--user-data-dir path/to/some/empty/dir` works but ofc, I loose all my configurations.

Where is the user data dir located by default?

[2021-04-07 11:28] Elias-Graf commented on #114459
@bpasero I deleted one in `~/Code Cache` and one in `~/.vscode-insiders/Code Cahce`, still not working.

[2021-04-07 11:28] #120017 closed

[2021-04-07 11:28] #119748 closed

[2021-04-07 11:28] #119380 closed

[2021-04-07 11:28] #119134 closed

[2021-04-07 11:28] #119106 closed

[2021-04-07 11:29] bpasero commented on #114459
@Elias-Graf what do you get when you run `code-insiders --open-devtools` in the console?

[2021-04-07 11:30] Elias-Graf commented on #114459
@bpasero I think the same bootstrap error I had in the `--verbose` log.

[code]

[2021-04-07 11:31] 1059811622 commented on #120721
这个问题是在将vscode全屏下并且左侧打开了某个栏框出现的，如果将栏框关闭就可以解决，或者是退出全屏再进入全屏就可以解决了。

[2021-04-07 11:34] ivanvoznyakovsky opened #120723 "Insiders version is broken on a mac"
- VS Code Version: latest insiders updated April 7
- OS Version: MacOS Big Sur 11.2.3

Steps to Reproduce:

1. Update to latest insiders version
2. Restart
3. Observe views are not initialized. Only shows main empty app window. None of main menu items work.

Does this issue occur when all extensions are disabled?: Yes

[2021-04-07 11:38] bmealhouse commented on #658
@ganezdragon @pythoulon - Have either of you tried prebuilding your native node module with [prebuildify](https://github.com/prebuild/prebuildify) and then including the binaries in the published npm package? You can use this approach to avoid making your users run `npm install` inside your extension folder. Make sure you are publishing prebuilds for all platforms and architectures that VS Code su

[2021-04-07 11:39] tonyh326 opened #120724 "Language server crashes continuously (C/C++) since this morning's update"
Issue Type: <b>Bug</b>

Start VSCode.  I'm using Remote SSH.

[2021-04-07 07:28:36.855] [renderer1] [error] Connection got disposed.: Error: Connection got disposed.
	at Object.dispose (/homes/thart/.vscode-server/extensions/ms-vscode.cpptools-1.3.0-insiders4/dist/main.js:50164:25)
	at Object.dispose (/homes/thart/.vscode-server/extensions/ms-vscode.cpptools-1.3.0-insiders4/dist/main.js:51084:35)

[2021-04-07 11:43] bpasero commented on #114459
Yeah looking into a solution. The easiest to get out of this is to delete the `Code Cache` folder:

* **Windows** `%APPDATA%\Code - Insiders\Code Cache`
* **macOS** `$HOME/Library/Application Support/Code - Insiders/Code Cache`
* **Linux** `$HOME/.config/Code - Insiders/Code Cache`

[2021-04-07 11:43] bpasero commented on #120723
see https://github.com/microsoft/vscode/issues/114459#issuecomment-814846486

[2021-04-07 11:44] #120723 closed

[2021-04-07 11:48] danielrentz commented on #119225
Alternative steps to reproduce, most likely the same root cause:

Copy the following block, pate it into an empty line. Everything following the first jsdoc comment will be indented.

[code]

[2021-04-07 11:49] ganezdragon commented on #658
@bmealhouse, nope I haven't tried it. Let me try it out today and see how that works! Much thanks for telling us about the library.

[2021-04-07 12:01] JonWallsten opened #120725 "Opening latest VSCode Insider results in a completely gray window without controls"
- VS Code Version: 1.56.0-insider
- OS Version: Windows 10 (1909)

![image](https://user-images.githubusercontent.com/5993909/113863199-afd26300-97a9-11eb-817e-e084162f2ff4.png)

Steps to Reproduce:

1. Open VSCode

Does this issue occur when all extensions are disabled?: Yes

I have tried with the following flags after reading some issues:
--disable-extensions
--disable-gpu
--disable-features=Cal

[2021-04-07 12:02] KaoImin commented on #120725
Same case.

[2021-04-07 12:08] IllusionMH commented on #120724
/extCpp

Most likely duplicate of https://github.com/microsoft/vscode-cpptools/issues/7306

[2021-04-07 12:09] #120724 closed

[2021-04-07 12:09] AlexandroGonSan commented on #120633
case use database standards is required then export to code.git should to be true with option of export all to one specified uri of code.git than should keep uri of files.

[2021-04-07 12:09] jrieken commented on #120718
I can reproduce but not always, e.g at one point it just stopped to reproduce.

Adding @isidorn this is either an issue with VoiceOver or the list, at least my aria provider is using the same labels as the rendered UI: https://github.com/microsoft/vscode/blob/44955421ae71f1d0c6b0b49414fa6b36aaf6d2cf/src/vs/editor/contrib/suggest/suggestWidget.ts#L226-L236

[2021-04-07 12:14] aeschli commented on #120018
Thanks for reporting back. I close the issue then.

[2021-04-07 12:14] #120018 closed

[2021-04-07 12:15] gjsjohnmurray commented on #120725
Probably #120655

[2021-04-07 12:16] isidorn commented on #120718
Yeah I can also reproduce this with VoiceOver and weirdly only with the suggest box. In all other parts of the UI this seems to behave well. I checked multiple lists
Also this works just fine with NVDA.
So this feels like a VoiceOver issue. The best would be if we could repro the issue just with Chrome and VoiceOver so we try to report it to Chrome at least.

@MarcoZehe do you also hit this on mac

[2021-04-07 12:18] fbnlsr commented on #120383
This is an excerpt of the result:

[code]

Something seems odd, no?

[2021-04-07 12:18] gjsjohnmurray commented on #120725
pinging @bpasero

[2021-04-07 12:19] bpasero commented on #120725
https://github.com/microsoft/vscode/issues/114459#issuecomment-814846486

[2021-04-07 12:19] #120725 closed

[2021-04-07 12:19] gjsjohnmurray commented on #120725
See also https://github.com/microsoft/vscode/issues/114459#issuecomment-814846486

[2021-04-07 12:20] bpasero commented on #120655
Pushed a "workaround" to delete the `Code Cache` folder on every startup.

If you still hit this in the current insiders version, the workaround is to delete this folder before starting:
* **Windows** `%APPDATA%\Code - Insiders\Code Cache`
* **macOS** `$HOME/Library/Application Support/Code - Insiders/Code Cache`
* **Linux** `$HOME/.config/Code - Insiders/Code Cache`

[2021-04-07 12:20] VanderSP commented on #120496
I forget to say that im using INSIDER version... anyone having it also with stable?

[2021-04-07 12:20] VanderSP commented on #120496
I forget to say that im using INSIDER version... anyone having it also with stable?

[2021-04-07 12:22] JonWallsten commented on #120725
Confirmed working after clearing cache! Thanks!

[2021-04-07 12:25] VanderSP commented on #120352
oh i was about to say that I forget to say that im using INSIDER version... but also in stable you saying...
so it can be related to usign remote extension? i use it also for wsl2

[2021-04-07 12:30] aeschli commented on #116540
I would always render it as a link, if the link is syntactically correct. Even if it points to a non existing file or property.
Only when you click you will find out. It's the same with a `href` references in HTLM documents.
Only showing it as link if it really points to something would mean that we have to watch file changes and content changes as these could result in a link to become valid or i

[2021-04-07 12:30] stefanhaller commented on #119485
I see how this can be useful in languages that actually support stepping throw multiple statements on a single line.

In languages that don't, though, this is unnecessary and distracting. I do most of my debugging in C++ these days, and now the lines of source code wiggle right and left as I step through them, for no benefit. This is quite annoying. The current statement indicator in the gutter on

[2021-04-07 12:31] viktomas-gitlab commented on #120714
We get the same error in the CI for [gitlab-vscode-extension](https://gitlab.com/gitlab-org/gitlab-vscode-extension) when we use `vscode-test` to run tests.

https://gitlab.com/gitlab-org/gitlab-vscode-extension/-/jobs/1159684595#L1150

It started happening with the release of `1.55.0`.

The CI uses `node:12-slim` docker image which is based of [debian docker image](https://github.com/nodejs/docke

[2021-04-07 12:33] IllusionMH commented on #120697
/needsMoreInfo

Could you please describe which comments you are talking about? Screenshot will be helpful.

[2021-04-07 12:37] isidorn commented on #120711
@weinand this makes good sense.

Adding help wanted in case there is a JSON schema wizard willing to help.
Code pointer https://github.com/microsoft/vscode/blob/main/src/vs/workbench/contrib/debug/common/debugger.ts#L259

If not I can look into this in May.

[2021-04-07 12:39] isidorn commented on #119485
Please try vscode insiders from today, it should be better. Though this build might not yet be out since we froze it for another reason. Anyways next build should be better.
We now only render this when the language provides a column > 1. C++ probably provides column = 1

[2021-04-07 12:43] #120620 closed

[2021-04-07 12:46] luismalvin4 opened #120726 "add serch code option"
add serch codes option from that devloper can serch that code easyly

[2021-04-07 12:47] aeschli commented on #116540
In jsonServer you have to add calls to `connection.onDocumentLinks` and `connection.onDocumentLinkResolve`

[2021-04-07 12:54] aeschli commented on #120621
Does it always reproduce? Or after a while?
Can you turn on logging for the servers, e.g. `"json.trace.server": "verbose",`

[2021-04-07 12:56] oliversalzburg commented on #115396
Still seeing the same pattern btw:
[code]

It still seems to believe I have the terminal focused. Closing all open terminals is a sure way to resolve the situation without reloading the window.

Version: 1.55.0 (user setup)
Commit: c185983a683d14c396952dd432459097bc7f757f
Date: 2021-03-30T16:01:55.261Z
Electron: 11.3.0
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Windows_NT

[2021-04-07 12:57] isidorn commented on #41423
@cannona thanks for letting us know.
Maybe I was too optimistic with setting a default `accessibilityPageSize` to 1000 since there is still the issue https://bugs.chromium.org/p/chromium/issues/detail?id=1076525

Let me reduce that to 500. Hopefully that works out better in practice...

[2021-04-07 13:00] isidorn commented on #119559
@testforstephen please note that we debounce this call. So we only call the provider once the user stops scrolling.
I think in practice there will not be too many calls. Did you have a chance to try it out?

[2021-04-07 13:02] stefanhaller commented on #119485
I _am_ using today's insiders (30dcb112b4), I was hoping that 6a1404a6f80e3 would fix this.

It doesn't though, the column is usually > 1 in C++. It does actually put the indicator at the beginning of statements (e.g. after the opening `(` of an `if` statement). It's still useless though, as it's not possible to break on different columns of a line.

[2021-04-07 13:04] aeschli commented on #120651
Duplicate of https://github.com/Togusa09/vscode-tmlanguage/issues/24

You have to uninstall the tmlanguage extension.

[2021-04-07 13:04] #120651 closed

[2021-04-07 13:07] isidorn commented on #119485
Ok thanks. So it seems like the C++ debugger sends the correct column even though it does not support stepping on mulitple statements on a line.

@weinand @connor4312 let me know you think here. I see two options:
1) We go back to previous approach
2) We introduce a capability for this (debugger supports step into column or something)

I guess 1) is the easiest solution

[2021-04-07 13:08] stefanhaller commented on #119485
Actually I take that back. It turns out that it is actually possible to get the indicator to show up at different positions in a line, for example with chained function calls, and using combinations of Step Into and Step Out to move through the chain. In this situation the indicator could actually be useful to show you where you are. I suppose I'll try a bit longer to get used to the wiggling.

[2021-04-07 13:09] isidorn commented on #120408
I can not reproduce this. Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/

What I think might be a possible bug is that the dynamic configuration is left in the debug dropdown but can not be launched, though I do not thin this is what you are seeing, since you say that the configuration existed in the `launch.json`.

[2021-04-07 13:09] isidorn commented on #119485
@stefanhaller previously we had heuristic to only show the indicator when the previous step location is the same as the current one (which means that you stepped and remained on the ine)

[2021-04-07 13:15] stefanhaller commented on #119485
Ah, I see. But that means that you don't get the indicator in this one, somewhat rare situation where it could actually be useful even in C++: for a statement like `obj.method().othermethod();`, and then stepping into `method` and out again.

[2021-04-07 13:16] isidorn commented on #119485
Correct.

[2021-04-07 13:21] amadeusz-chomiak commented on #120279
Same problem here. Until it's fixed just use [NPM-Scripts](https://marketplace.visualstudio.com/items?itemName=jianglinghao.vscode-npm-scripts) extension. It works in the same way as the built-in one.

[2021-04-07 13:24] aeschli commented on #120669
duplicate of https://github.com/microsoft/vscode/issues/18805

[2021-04-07 13:24] #120669 closed

[2021-04-07 13:26] SilvioMarcovic commented on #120634
And how is it then possible to retrieve/change a value?

I am specifically looking at changing the default formatter for a specific language.

[code]
I could not find a way to get/update the value of the key  `editor.defaultFormatter`.
Is this simply not supported or is there some other way how to access the values?

[2021-04-07 13:30] MarcoZehe commented on #120718
Yes, I can reproduce that on Mac as well.

[2021-04-07 13:33] dbaeumer commented on #120623
@francescowang what kind of linting are you trying to enable?

[2021-04-07 13:35] aeschli commented on #120239
Hi @SurajLodh, thanks for the source code.
[code]
is not valid HTML/JavaScript but Django.

You have to look for a Django extension and you have to set the editors language mode to Django.
Alternatively you can try to continue to work with the HTML editor and disable JavaScript validation:
`"html.validate.scripts": false`

[2021-04-07 13:35] #120239 closed

[2021-04-07 13:37] maherkhalil07 opened #120728 "blank screen without loading start page or extension"
- VS Code Version: latest insidr
- OS Version:Ubuntu 20.04

Steps to Reproduce:

1.start vscode insiders
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2021-04-07 13:37] aeschli commented on #120666
Duplicate of Togusa09/vscode-tmlanguage#24

You have to uninstall the tmlanguage extension.

[2021-04-07 13:37] #120666 closed

[2021-04-07 13:38] m4863 opened #120729 "JSDoc typedefs disregard functions scopes since VS Code 1.54.1"
If a function scope contains a JSDoc typedef, it is expected to belong to the function only as in the first two functions A1 and A2. However, in B1 and B2 VS Code reports a "Duplicate identifier: ts(2300)" error. All plugins were disabled and the complete project is attachted.

[DuplicateIdentifier.zip](https://github.com/microsoft/vscode/files/6271971/DuplicateIdentifier.zip)

<pre>function A1()

[2021-04-07 13:40] gjsjohnmurray commented on #120728
/duplicate https://github.com/microsoft/vscode/issues/114459#issuecomment-814846486

[2021-04-07 13:41] #120728 closed

[2021-04-07 13:43] Sofianio commented on #15667
Why is this issue still open when there is `editor.hover.sticky` setting?
And I see no mention of it in this thread.
Set it to false and the tooltip hides when hovered :)

[2021-04-07 13:43] bkcsfi opened #120730 "insiders new issue - only see menu bar, does not respond to menu actions"
- VS Code Version: 1.56.0-insider  30dcb112b46595657695d14c2cd6a37f783fbed2  x64
- OS Version: Ubuntu 16.04.7 LTS

Steps to Reproduce:

1. apt-get update to latest code-insiders
2. run code-insiders

Does this issue occur when all extensions are disabled?: Yes

I update to the latest code-insiders every day before I start working. Today, I will not be working (heh!)

after updating to this version

[2021-04-07 13:44] gjsjohnmurray commented on #120726
![image](https://user-images.githubusercontent.com/6726799/113876548-bebc1400-97af-11eb-8c7a-35657709bef3.png)

[2021-04-07 13:45] jcserracampos opened #120731 "Black screen after last update"
- VS Code Version: Code-insiders apt
- OS Version: Ubuntu 20.04

Steps to Reproduce:

1. Update to latest code-insiders versions
2. Open code-insiders

Does this issue occur when all extensions are disabled?: Yes
![image](https://user-images.githubusercontent.com/7038498/113876647-4f81f800-978e-11eb-92ad-e5f06847d202.png)

[2021-04-07 13:45] shwestrick commented on #120496
I'm having the issue on stable, version 1.55.0. The 'Select Default Profile' trick also worked for me.

[2021-04-07 13:47] jcserracampos commented on #120731
I [tried deleting cache](https://github.com/microsoft/vscode/issues/120655#issuecomment-814868944) and still not working.

[2021-04-07 13:49] JackABlack commented on #120686
BTW, the code runs well on Conda-Jupyter, and the python kernel I used in VSCode is the same one I used in conda.
It quickly boomed my memory:
![Uploading image.png…]()

[2021-04-07 13:50] woss commented on #118053
This is what i am getting in both Insiders and Stable version
<img width="338" alt="Screenshot 2021-04-07 154914" src="https://user-images.githubusercontent.com/80440/113877273-d8ae2480-97b8-11eb-91a0-35b043e19fc4.png">

[2021-04-07 13:52] fbehrens opened #120732 "Editor Decoration Badges appear to be incorrect"
Issue Type: <b>Bug</b>

My Git status is clean, but in the Editor Tab it appears to show some information as if the file has been modified. I do not know exactly if it is the git status, which should be displayed.

![image](https://user-images.githubusercontent.com/13704/113877655-33478080-97b9-11eb-9ea4-a304c5e3dfe1.png)

VS Code version: Code 1.55.0 (c185983a683d14c396952dd432459097bc7f757f, 202

[2021-04-07 14:00] DervishD commented on #120321
Thanks for the suggestion and the fix.

Still, I'll keep an eye on this, just in case Microsoft decides to change `wsl` command line interface. But so far, so good, and it's simpler than having to read the registry 👍🏼

[2021-04-07 14:09] SNvMK opened #120734 "Add syntax highlighting for new Python 3.10 match/case syntax"
So, in python 3.10, there is match/case syntax. Currently, it is just white words(for monokai). I'd like if you add highlight for this. Thanks
![image](https://user-images.githubusercontent.com/51151590/113880319-964f0c80-97e5-11eb-861a-0c7076bfdb80.png)

[2021-04-07 14:12] LukasNespor commented on #120731
I just tried it and it worked. Just be sure to delete cache in Code - Insiders folder. My first attempt was not successfull, because I have deleted cache in Code folder :)

[2021-04-07 14:15] t-ricci-enhancers commented on #120730
I have the same problem on last update of vscode insiders of today (mac, can't even check the version because the menù won't work)

[2021-04-07 14:17] t-ricci-enhancers commented on #120731
Same here for me on osx

[2021-04-07 14:18] t-ricci-enhancers commented on #120731
I redownloaded vscode-insiders for mac from the website and it started to work again

[2021-04-07 14:18] t-ricci-enhancers commented on #120730
I redownloaded vscode-insiders for mac from the website and it started to work again

[2021-04-07 14:18] NSExceptional commented on #120666
Wouldn't uninstalling the extension break autocomplete? If so, that's not a fix… that said, if it's not being maintained anymore… :/

[2021-04-07 14:18] isidorn commented on #120211
I have pushed a fix for this after discussing with the community:
1) Status bar is now a tab stop
2) introduced a command "Focus Status Bar"
3) Pressing `Esc` while focus is on status bar moves focus back to editor

fyi @jvesouza @webczat @MarcoZehe

[2021-04-07 14:19] #120211 closed

[2021-04-07 14:28] GitMensch opened #120736 "Internal themes are updated without increasing their version number"
- VS Code Version: 1.54
- OS Version: current win 10

Steps to Reproduce:

1. Check the default themes history (which is only partial possible because of the move in to this repo)
2. Different changes, last one from @aeschli, version stays at 1.0.0

Question: Should we expect this to be always the case or can we expect theme changes to also get an increased version number?

[2021-04-07 14:28] VanderSP commented on #120496
so it can be related to usign remote extension? i use it also for wsl2

i dunno if we are talking about same issues, because i seen lately here on issues, 3 kinds of similar but i dunno if different problems related to terminal lately!

[2021-04-07 14:32] agails commented on #120731
thank you for the feedback, i will do the same here

[2021-04-07 14:34] gjsjohnmurray commented on #120731
/duplicate https://github.com/microsoft/vscode/issues/114459#issuecomment-814846486

[2021-04-07 14:35] gjsjohnmurray commented on #120730
Probably https://github.com/microsoft/vscode/issues/114459#issuecomment-814846486

[2021-04-07 14:35] gjsjohnmurray commented on #120734
/extPython

[2021-04-07 14:37] oliversalzburg opened #120737 "Debug console does not scroll to bottom reliably"
Issue Type: <b>Bug</b>

While debugging, the debug console will very often not scroll to the bottom of the output and get stuck somewhere, leaving the user to scroll to the bottom manually.

To reproduce, you can load the following code into VS Code and just start a debugging session with the Node.js debugger.

[code]

For me, this reliably will not show the `Hidden` log lines.

![image](https://u

[2021-04-07 14:37] gjsjohnmurray commented on #120732
Do you have a non-zero Warnings count on the statusbar? And any entries on the Problems panel?

[2021-04-07 14:40] SNvMK commented on #120734
Hm, i was thinking that python hightlighting is vscode built-in...

ср, 7 апр. 2021 г., 21:36 VS Code Issue Triage Bot ***@***.***

[2021-04-07 14:40] generalredneck commented on #120383
I'm not getting an unsigned error, but my vscode version is definitely not upgrading... it appears that I'm stuck on the version that popos released. Trying to install the .deb from the vscode website asks me if I want to downgrade.

![Screenshot from 2021-04-07 09-36-58](https://user-images.githubusercontent.com/526491/113884832-ee095b80-9784-11eb-8fe5-b0e9badbbb84.png)

[code]

This may be somet

[2021-04-07 14:40] jorislimonier opened #120738 "Error when inserting new cell"
- VS Code Version: 1.55.0
- OS Version: Ubuntu 20.04

Steps to Reproduce:

1. Open a Jupyter Notebook running julia
2. Click the `+` button to "Insert cell below"

Does this issue occur when all extensions are disabled?: Yes

The following occurs when I follow the "Steps to reproduce" above (one such error per times clicked the `+` button)

![image](https://user-images.githubusercontent.com/439466

[2021-04-07 14:42] jrieken commented on #119949
fyi - a first version of this exists (and works) inside this branch `joh/kernel-push`

I have also played with some toy kernels and one change is that execution and interrupt isn't done via command anymore but via callback. I have updated the proposal above. One thought on this is that we could consider to pass cell execution objects to the execute handler (since we expect them to be created anywa

[2021-04-07 14:49] fbehrens commented on #120732
I have. I have tons of problems, as I am not bothered much about those reported by powershel Script Analyser

So the number should reflect the count of problems ? Does `9+` means more than 9 problems?

I have not figured out what the badges should say. I tend to deactivate and not care about them, but I care about VSCODE and that the features should work reliable.

[2021-04-07 14:50] iskcal commented on #120536
@alexdima Thanks. From your perspective, I find the default input software of Windows 10 adopts `ctrl+.` as a switch between Chinese and English punctuation. The hotkey can be work properly when disabling the switch.

[2021-04-07 14:50] #120536 closed

[2021-04-07 14:51] cicorias commented on #120352
I'm seeing lots of similar random string -- that look like terminal control strings -- `24;17R` --- etc.

this occurs primarily when in a pwsh session or running a pwsh script.

[2021-04-07 14:52] Scherlac commented on #120332
@chrmarti
When will be this change released or how to test if it is effective?

[2021-04-07 14:52] VanderSP commented on #120352
yeah, very annoying!

[2021-04-07 14:53] pszlazak commented on #120366
Using [Terminal profiles](https://code.visualstudio.com/updates/v1_55#_terminal-profiles) (introduced via #45444) I managed to prepare dedicated env for terminals in following way:
* general VS Code config:
[code]
where [`terminal.integrated.env.linux`](https://code.visualstudio.com/docs/editor/integrated-terminal#_configuring-working-directory-or-environment) sets common variable(s) for all Linux

[2021-04-07 14:54] aeschli commented on #120666
Not sure what the extension all does, but I think it's syntax highlighting and validation for tmLanguage files and some commands.
The issue has been open for a long time so I'm afraid the extension is not maintained.

[2021-04-07 14:55] pszlazak commented on #45444
@IAmHopp - please check my comment in [#120366](https://github.com/microsoft/vscode/issues/120366#issuecomment-814980811).

[2021-04-07 14:55] aeschli commented on #120736
We don't maintain the version number for built-in extensions. They are not uploaded to the Marketplace so the version number is not used.

[2021-04-07 14:55] #120736 closed

[2021-04-07 14:58] bpasero commented on #120730
https://github.com/microsoft/vscode/issues/120655#issuecomment-814868944

[2021-04-07 14:58] #120730 closed

[2021-04-07 14:59] bpasero commented on #120655
The latest released insider version `bb90ba3d5a5f8d114045b045f3bbe1ebc404f54a` should fix these issues. It deletes the `Code Cache` folder on startup.

[2021-04-07 15:03] sanket-bhalerao commented on #120655
@bpasero i updated insiders to latest update and it worked fine.
I'm not getting the blank window issue anymore.

[2021-04-07 15:05] 1Jesper1 opened #120739 "View all invalid self close tags"
I would like to see all occurrences of invalid self close tags for all files in my project, for example for` <textarea />`
![MicrosoftTeams-image (13)](https://user-images.githubusercontent.com/4539406/113889280-5ecf6880-97c3-11eb-9cb9-4a3de2db2e39.png)

[2021-04-07 15:07] jrieken commented on #120538
https://github.com/microsoft/vscode/blob/16cff9cff93539b87a0a16ccc8dd09ddf542e7d5/src/vs/vscode.d.ts#L9165

[2021-04-07 15:07] jrieken commented on #120538
https://github.com/microsoft/vscode/blob/16cff9cff93539b87a0a16ccc8dd09ddf542e7d5/src/vs/vscode.d.ts#L7436

[2021-04-07 15:20] IAmHopp commented on #45444
@pszlazak I think in the end we're suggesting the same thing.

[2021-04-07 15:20] jrieken commented on #120368
alternative names: message, placeholder, placeHolder

[2021-04-07 15:24] lynoure commented on #119159
I almost didn't want to install the package due to the name, because I knew that when I at some point run deborphan or debkeeper, my pulse would go through the roof simply seeing that there is a package called "code". After all, such a vague name is mostly suited for malware. Even this git repo is called vscode, which is a way better name!

[2021-04-07 15:25] UnrealApex commented on #120726
See [https://code.visualstudio.com/docs/getstarted/userinterface#_activity-bar](https://code.visualstudio.com/docs/getstarted/userinterface#_activity-bar) for more information. If you do not see the search tool on the Activity Bar, right click on it and see if you get an option to enable it or press `ctrl + shift + f`. By default it should look like this:

![](https://code.visualstudio.com/assets/

[2021-04-07 15:28] UnrealApex opened #120740 "Add TODO Tool"
Add a TODO tool to the sidebar that allows developers to see all the TODOs in their code.

[2021-04-07 15:36] jeansantana opened #120741 "TS Server fatal error: Cannot read property 'path' of undefined"
❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 3.4.5

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Error Stack**
Server: `semantic`
[code]

[2021-04-07 15:38] runxel commented on #120464
After fiddling with the command I've found that the correct invoking command has to be
[code]
Note the absence of any quotes and also the `(Standard)` affix.

[2021-04-07 15:40] bpasero opened #120742 "Getting started: should track my settings and keybindings better?"
Here for example:

![image](https://user-images.githubusercontent.com/900690/113894435-46158180-97c8-11eb-9a49-44edb08d9cfb.png)

I do have a theme configured in settings and I have custom keybindings. Shouldn't that lead to some of the entries getting a checkmark?

[2021-04-07 15:44] #120544 closed

[2021-04-07 15:45] jamiegdsn commented on #101014
I'm glad the team want to make the icon design more inline with Big Sur, however this white background is very stark and almost hurts the eyes to look at against the rest of my dock icons. The white also makes the app look 'non-devy' and more 'everyday consumer' focused.

I feel a grey/dark background would look more pleasing as well as more 'devy' 🙂

[2021-04-07 15:49] isidorn commented on #120737
Dup of https://github.com/microsoft/vscode/issues/117674

[2021-04-07 15:49] #120737 closed

[2021-04-07 15:55] lispercat opened #120743 "Exception in extension code: "CERT_HAS_EXPIRED" error when rejectUnauthorized: false for the agent"
- VS Code Version: 1.55.0
- OS Version: Windows 10, Pro

Steps to Reproduce:

1. Create an extension
2. In the plugin code try to send an POST https request to a server with expired certificate like:

    const response = await fetch('https://some-expired-cert-server.com/request', {
      method: 'POST',
      body: {},
      headers,
      agent: agent}
    );
Where agent is like:
const agent = h

[2021-04-07 15:59] isidorn commented on #116731
@zobo thanks a lot for trying this out.

1. It only appears on the context menu of the debug session. And in the call stack we only show the debug session when there are mutliple debug sessions. js-debug has a child debug session and thus we show them then
2. You are correct the UI change should happen only when `supportTerminateDebuggee` is there. I will push a fix for this
3. Currently we never

[2021-04-07 16:02] #120743 closed

[2021-04-07 16:02] GitMensch commented on #120736
I'd have assumed that if the Javascript and Node Debug plugins have version 1.0.0, too, but those actually do increase.
While I'm aware that those plugins are not one the marketplace a version number is also helpful for letting users know about updates and what they actually use. ... and for bug reports ... and stuff.
Please reconsider using incrementing version numbers for the integrated plugins,

[2021-04-07 16:02] Tyriar commented on #120368
Will probably go with `message` to match `TreeView.message`.

[2021-04-07 16:02] #120740 closed

[2021-04-07 16:02] connor4312 commented on #120739
This would best be accomplished with a tool like a linter

[2021-04-07 16:03] mjbvz commented on #120741
Please update the latest TS version

[2021-04-07 16:03] #120741 closed

[2021-04-07 16:03] #120739 closed

[2021-04-07 16:03] Tyriar commented on #120538
New proposal:

[code]

[2021-04-07 16:04] #120726 closed

[2021-04-07 16:08] #120689 closed

[2021-04-07 16:25] rebornix commented on #120738
@jorislimonier can you share the screen shot of the whole editor so we can tell if it's using a custom webview editor or the native one?

[2021-04-07 16:31] coreylista commented on #120427
Have you been able to find a solution to this issue? I have disabled all extensions and it still happens, on two different Macs

[2021-04-07 16:32] isidorn commented on #120202
@sandy081 you are correct, I changed the actionBar in the extensions list to only focus on enabled items and to be focusable.
So now this works.
What is needed are two fixes on your side:
* When the focus is on the `ActionWithDropdownActionViewItem` properly render it
* When the Extension has not install or rating make those elements not focusable (I can repro this when running out of source)

[2021-04-07 16:41] kinueng commented on #68604
This issue is now fixed for me in VSCode.
[code]

See the corresponding issue I opened in electron https://github.com/electron/electron/issues/19048 mentioned in https://github.com/microsoft/vscode/issues/68604#issuecomment-506972872.
See the fix in PR https://github.com/electron/electron/pull/27701