[2020-02-19 08:20] mjacqmin opened #90951 "Global search not working"
Issue Type: <b>Bug</b>

1. I click on the magnifying glass on the left side
2. I click in the search text input
3. I type text
4. Nothing happens (not even a message saying that there is no results)

VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS version: Windows_NT x64 10.0.19564

<details>
<summary>System Info</summary>

|Item|Value|
|---|---

[2020-02-19 08:28] jrieken commented on #89953
There is no scope information available, it's up to extensions to implement semantics

[2020-02-19 08:28] #89953 closed

[2020-02-19 08:31] jrieken commented on #90206
Yes - that the design of emmet (and afaik the value proposition of emmet). You have to disable emmet inside auto complete or not use tab completion - there is no other alternative

[2020-02-19 08:31] aeschli commented on #90949
Yes, you are correct!

[2020-02-19 08:32] #90949 closed

[2020-02-19 08:39] joaomoreno commented on #90893
The contextual actions in each row can also be focused by pressing <kbd>Tab</kbd> and then <kbd>Enter</kbd> to execute. The only thing that I see missing is the fact that the SCM view loses focus once that happens. I can push a fix for that.

Another thing I've decided to push is a <kbd>Ctrl Enter</kbd> keybinding for lists which toggles the currently focused item from the selection. You could alr

[2020-02-19 08:39] #90893 closed

[2020-02-19 08:42] ligouhai opened #90953 "Vscode saves the vue code and reports an error"
Write vue code in vscode, when the shortcut key is saved. An error
Run save actor for "XXX /components/upload-dialog.vue" : quick fix

[2020-02-19 08:42] ligouhai opened #90954 "Vscode saves the vue code and reports an error"
Write vue code in vscode, when the shortcut key is saved. An error
Run save actor for "XXX /components/upload-dialog.vue" : quick fix

[2020-02-19 08:44] sandy081 commented on #89367
Adding version to each resource will help in future compatibility checks.

[2020-02-19 08:45] sandy081 commented on #89367
Every resource is stored in following format
[code]

[2020-02-19 08:46] #89367 closed

[2020-02-19 08:51] jrieken commented on #90695
There is no good fix for this. We don't expose multiple cursors to language features like completions. That's because  we wanna keep things simple and we don't wanna leak this into LSP which talks to majority of single-cursor-only editors.

What happens is that upon insertion we compare the selected text from the primary cursor (using the range, e.g `import('./foo')`) with the prefix of secondary

[2020-02-19 08:52] FiredLight commented on #68340
You can achieve this using the exclude file that is in your .git folder. The .git folder is at the root of your repository (where you ran git init). The .git folder isn't committed, so it's safe to put local only changes in here.

open .git/info/exclude and add your entry, reload vscode if it isn't picked up immediately

[2020-02-19 08:52] psclkhoury commented on #90891
I don't think it is a setting. But looking through the code, I saw somewhere a check if the multiCursorModifier == ctrlCmd.
If that is the case then, `alt+click` is used instead of `ctrl+click`.

Okay nice. I will give it a go (will be my first time). Can I also make the casing of `alt` consistent? If yes then should the first letter be capitalized or not?

[2020-02-19 08:52] jrieken commented on #90851
You are the only one that would know and drilling into this help - us and/or the prettier team

[2020-02-19 08:56] gjsjohnmurray commented on #90954
/duplicate of #90953

[2020-02-19 08:57] chrisjj commented on #90880
Thank for the confirmation.

Figures. But I really doubt the reported issue is intended.

[2020-02-19 08:57] gjsjohnmurray commented on #90951
Does the problem also happen if you launch with all extensions disabled?

[2020-02-19 08:57] chrisjj commented on #90880
What more info?

[2020-02-19 09:01] weinand commented on #64696
Try to use VS Code's "skipFiles" feature: https://code.visualstudio.com/docs/nodejs/nodejs-debugging#_skipping-uninteresting-code-node-chrome

[2020-02-19 09:06] dbaeumer commented on #86415
@mattacosta I see the problem but I would like to propose a different approach (which I use in these cases). You can always capture an inferred type in TypeScript using the typeof operator. So you can do the following

[code]

or if you don't want to capture it you can inline it as well

[code]

would that work for you ?

[2020-02-19 09:09] arhoy commented on #90851
Not sure, but looks like I am not the only one experiencing the issue. There is literally no error message or anything I get so it is impossible for me to figure it out. I disabled the prettier extension today and have not seen it come up the whole day.
Looks like a couple ppl above has some issue

[2020-02-19 09:10] sandeepmvaluefycom opened #90955 "Hang a alot by doing alt+tab with chrome"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-02-19 09:14] isidorn commented on #87767
@testforstephen ok, so can you tackle this in the Java extension? We can also increase the timeout if needed?
My change for the terminate is still valid I believe.

[2020-02-19 09:15] jrieken commented on #77728
Understood - I missed the single-icon case, had only the `{light, dark}`-case implemented... This should finally be working

[2020-02-19 09:16] ImkeF opened #90956 "Make relative path interpretation for markdown compatible with pandoc"
Currently, the relative paths for images in markdown are interpreted differently in pandoc and VS Code, which limits the way for project organisation considerably. Therefore it would be great if VS Code would interpret:

```![Image Caption](images/SomeImageFile.jpg)```

as relative to the working directory like pandoc does and not relative to the directory where the current file is stored.

[2020-02-19 09:17] jrieken commented on #90851
That's the piece of information. Please contact and let them know that formatting is too slow, e.g taking more than 5 seconds

[2020-02-19 09:18] #89084 closed

[2020-02-19 09:18] Abbyyan commented on #90887
I 've finish reading the disscusion but i wonder if there are some progress for this problem. Thanks a lot .

[2020-02-19 09:18] alexdima commented on #90716
This got changed in 1.42 for https://github.com/microsoft/vscode/issues/36170. There are two camps, one that wants shift+insert to paste the selection clipboard and another camp that wants shift+insert to paste the "clipboard" clipboard. We have chosen to align with the classical linux applications, like terminals, and have by default mapped shift+insert to paste the selection clipboard.

I am sor

[2020-02-19 09:18] #90716 closed

[2020-02-19 09:19] alexdima commented on #90929
This got changed in 1.42 for https://github.com/microsoft/vscode/issues/36170. There are two camps, one that wants shift+insert to paste the selection clipboard and another camp that wants shift+insert to paste the "clipboard" clipboard. We have chosen to align with the classical linux applications, like terminals, and have by default mapped shift+insert to paste the selection clipboard.

I am sor

[2020-02-19 09:19] #90929 closed

[2020-02-19 09:21] David-Else commented on #90747
@mjbvz It was the Deno extension, and the author needs help with a certain bit of information to fix it. If you could spare a moment to help him it would be great :)

https://github.com/axetroy/vscode-deno/issues/60

https://stackoverflow.com/questions/60087597/how-to-trigger-typescript-recompilation-within-extension

[2020-02-19 09:22] isidorn commented on #90891
@psclkhoury let's go with small caps `alt`. That is more recognizable to users imho.
Thanks!

[2020-02-19 09:23] GigiusB commented on #12588
This is incredibly frustrating that such an issue should prevent our enterprise to adopt it !
There is no way we can do without the corporate proxy

[2020-02-19 09:24] ctf0 opened #90957 "[feature] extend HTML Wrap attributes support for other languages"
languages like `php, blade, twig, etc...`, basically any html like syntax

[2020-02-19 09:25] #90955 closed

[2020-02-19 09:26] #90954 closed

[2020-02-19 09:26] #90912 closed

[2020-02-19 09:27] #90939 closed

[2020-02-19 09:27] stukey commented on #88068
@deepak1556 Thank you. The registry workaround in the above linked issue resolved the problem for me. We were able to update VScode to latest version on all of our Citrix servers and launch the app without issue.  Do you know why this suddenly became an issue with VSCode version 1.40 and later? It was working perfectly well on our Citrix servers before that version was released. What changed? Than

[2020-02-19 09:28] testforstephen commented on #87767
sure, i'm fixing it in Java extension. Currently 500ms seems enough for us, let's keep it first. Will ping back if we need a longer timeout in future. thanks.

[2020-02-19 09:29] #90935 closed

[2020-02-19 09:29] #90948 closed

[2020-02-19 09:29] isidorn commented on #90948
@gjsjohnmurray thanks a lot for help!

[2020-02-19 09:30] isidorn commented on #90872
Please file against the debug extension you are using. Thank you

[2020-02-19 09:30] #90872 closed

[2020-02-19 09:31] GongT opened #90958 "Cannot debug extension on SSH remote"
- VSCode Version: 1.42.1
- OS Version: Windows 10 / Fedora 31

Steps to Reproduce:

1. Clone `microsoft/vscode-extension-samples` somewhere on **remote host**
    * I'm using SSH target
1. Open `helloworld-sample` using VSCode Remote feature
1. Run `npm install`
1. Press F5
1. Continue edit files (eg, append more space at end of `extension.ts`) in **original** VSCode window, not the "extension dev

[2020-02-19 09:44] sirtakidancers opened #90959 "Языковая служба TypeScript пять раз непредвиденно завершила работу за последние пять минут."
Issue Type: <b>Bug</b>

just work in js file

VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:44:27.652Z)
OS version: Darwin x64 19.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6820HQ CPU @ 2.70GHz (8 x 2700)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_stage3d_basel

[2020-02-19 09:50] seongwon-kang commented on #79340
`Orta.vscode-jest` is a test tool. and they uses webview to see html snapshot.
they escapes all html tag, and encloses with `<pre>` tag. it seems false positive.

[2020-02-19 09:51] jspure commented on #28299
Hello, any chance? :)

[2020-02-19 09:51] zskamljic commented on #90659
Tried running the clean version, created a separate user for it and the result is the same. Possibly worth noting, I didn't have VSCode installed before reporting this issue, I experienced the bug on a clean install

[2020-02-19 09:55] isidorn commented on #90893
Thanks for pushing a fix for this. Just tried to verify it but the insiders from 5 mins ago does not contain the fix. Will try it tomorrow.

[2020-02-19 09:55] isidorn commented on #87767
Sounds good, thanks!

[2020-02-19 10:04] SamJust opened #90961 "Two-step collapse in multi-root Explorer setting"
Can we, maybe, have a setting to control this behavior? Because I don't like it, and I'm VERY used to collapsing everything in one click, since even on top level my folders have almost two dozens entries each, and if i want to quickly find something, I still need to scroll. Though I do see the usefulness of this.

We should have setting to control this behavior, IMO.

[2020-02-19 10:06] bpasero opened #90962 "Search: often loosing my results when switching views"
Marking as important because this is frustrating. I spend 2 hours going through a long search result, removing individual items and then clicked on Explorer and back to Search. Somehow the text I selected in the editor ran a new search automatically and I cannot go back to my previous result?

[2020-02-19 10:10] reduckted commented on #90851
I'm experiencing this too, but I'm not using the Prettier extension (though I do have it installed). I'll try to get a repro together, but in the meantime, here are some notes from my quick tests:

* Saving is not always slow.
* Sometimes saving is slow, but not slow enough to cause the "Running Save Participants" notification to appear.
* Sometimes saving _is_ slow enough to cause the "Running Sa

[2020-02-19 10:10] pesachoice opened #90963 "The TypeScript language service died 5 times right after it got started. The service will not be restarted."
Issue Type: <b>Bug</b>

The TypeScript language service died 5 times right after it got started. The service will not be restarted.

VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:44:27.652Z)
OS version: Darwin x64 19.3.0

<details><summary>Extensions (27)</summary>

Extension|Author (truncated)|Version
---|---|---
php-autocomplete|bsc|0.4.2
githistory|don|0.

[2020-02-19 10:13] gjsjohnmurray opened #90964 "GitHub bot not acting on /-comments from community issue trackers"
@chrmarti recently the bot doesn't seem to have been processing /xxx comments that I've been adding to issues. Is it sulking? Or out for maintenance?

[2020-02-19 10:15] robfallows commented on #90819
In any event, this appears to be a regression, as it works as expected in the stable release (1.42.1).

[2020-02-19 10:16] #90206 closed

[2020-02-19 10:16] #90925 closed

[2020-02-19 10:16] sandy081 commented on #90925
![image](https://user-images.githubusercontent.com/10746682/74824864-35c2ee80-5309-11ea-8923-d065d34f20cf.png)

[2020-02-19 10:18] weinand commented on #89084
The new evaluatable expression API is now official (no longer proposed).
It is available in Insiders and will appear in VS Code stable at the end of the month.

[2020-02-19 10:18] isidorn commented on #19522
We actually suppor tnow Orca screen reader on Linux. More details can be found here
https://github.com/microsoft/vscode/issues/90446

In short: `"editor.accessibilitySupport": "on"` has to be manually set by users and all should nicely work with latest VS Code insiders and the latest Orca out of master.
I plan to update our accessibility docs to mention this.
Thus closing this one.

[2020-02-19 10:18] #19522 closed

[2020-02-19 10:22] jrieken commented on #90851
Just to be clear: There is no slowdown, the only change is to make slow save participants visible (enabling you to cancel or disable them). Before we would silently (check your log files from old version) cancel/stop participants which caused unpredictable behaviour. This is documented here
https://code.visualstudio.com/updates/v1_42#_handling-slow-save-operations, the underlying issue is here htt

[2020-02-19 10:23] sandy081 commented on #90924
I changed the behaviour to sign out because I remember few of us expected to sign out (@joaomoreno @misolori ) when turned off sync.

I will revert it to what it is originally - do not sign out. I had this because of the reason that login and sync are independent. Some other feature might be still using the account.

@RMacfarlane currently sign out is a core command which I think should not be and

[2020-02-19 10:23] jrieken commented on #90907
What language is that?

[2020-02-19 10:24] IllusionMH commented on #90964
Only info I've seen on this topic: https://github.com/microsoft/vscode/issues/90684#issuecomment-586328876

[2020-02-19 10:24] jrieken commented on #90907
Also, please no animated gifs for actual/expected behaviours. Looking at them looping over and over until I understand what you mean takes way more time than you writing down your expectations.

[2020-02-19 10:25] #90924 closed

[2020-02-19 10:25] sandy081 commented on #90867
Reverted.

[2020-02-19 10:25] weinand opened #90965 "debug session badge doesn't drop to zero after a debug session ends"
Issue Type: <b>Bug</b>

- start a debug session

Observe: debug sessions badge shows a "1"

- stop debug session

Observe: debug sessions badge still shows "1"

VS Code version: Code - Insiders 1.43.0-insider (595f98455be0aac7372a0ae7841efae9b91b848e, 2020-02-18T13:53:05.200Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9

[2020-02-19 10:27] Limonische commented on #90379
Yes, exactly. Thank you for explanation, I will create a separate issue.

[2020-02-19 10:32] isidorn commented on #90819
Agree, it is a regression. We already have it assigned to this milestone so we plan to fix.
@aeschli for now assigning to you and you can pass it around. Thanks

[2020-02-19 10:32] isidorn commented on #90965
Dup of https://github.com/microsoft/vscode/issues/90940

[2020-02-19 10:32] #90965 closed

[2020-02-19 10:35] sandy081 commented on #90916
I encountered this today and felt the same and removed this check for this method - 6b1e0937e87d05877d84efbc011a2f2037e36079

But after thinking a bit, this service `UserDataSyncService` should not bother about authentication. `UserDataSyncStoreService` is the one that should be aware of auth token and throw proper errors. Hence removed auth stuff from `UserDataSyncService`.

[2020-02-19 10:35] #90916 closed

[2020-02-19 10:43] chrmarti commented on #90964
We're working on it. Sorry for the inconvenience. /cc @usernamehw

[2020-02-19 10:44] joaomoreno commented on #90943
@gnought
Can you reproduce this in the [insider release](https://code.visualstudio.com/insiders)?

[2020-02-19 10:44] IllusionMH commented on #90962
Looks like #87217.
I would love to see it really it resolved, because:
1. Click on X or single <kbd>Delete</kbd> is much faster then Search Editor (need to manually remove path if all results removed)
1. Simple navigation with arrows trigger file preview so I can see more context then Search editor (editor has context lines, but then I need to manually remove even more lines)

[2020-02-19 10:44] joaomoreno commented on #90909
Can you show me a screenshot of the issue when it comes back?

[2020-02-19 10:45] joaomoreno commented on #90906
Sorry, there are just too many moving parts in this area, definitely not going to happen any time soon.

[2020-02-19 10:45] #90906 closed

[2020-02-19 10:47] #90867 closed

[2020-02-19 10:48] juanpecatala commented on #88068
Hi, it seems to work.
But it takes longer to open than in the previous versions.

[2020-02-19 10:49] sandy081 opened #90967 "Sync status indication"
From user study:

Users were not sure whether sync was working, they all manually searched through settings/extensions to verify that sync was working and everyone expressed a desire for an indicator (last synced timstamp, sync is on, etc.)

[2020-02-19 10:50] #90848 closed

[2020-02-19 10:51] alexdima commented on #90848
You can now write links like `file://./relativeFile.txt` or `file:///./relativeFile.txt` and they will be interpreted as relative to the current opened file.

[2020-02-19 10:51] ZhangSen1 commented on #12622
+1

[2020-02-19 10:52] gnought commented on #90943
@joaomoreno nope.
Maybe it's my first time to run VS code insider, a little bit slow to show the "M" status.

[2020-02-19 10:52] sandy081 commented on #90931
Best we can do is to show the list of installed extensions ids as proposals which we do same for others (recommendations).

[2020-02-19 10:53] alexdima commented on #90845
@EntherH Can you please show a screenshot of a typical place where you can use pinch to zoom? I believe you are referring to what we internally call Webviews but I would like to confirm that is the case.

[2020-02-19 10:55] sandy081 opened #90968 "Sync remote extensions when turning on Sync"
Also sync remote extensions (WSL, SSH, Dev Container) while syncing

[2020-02-19 10:56] sandy081 opened #90969 "Edit in settings.json is not helpful"
During settings sync user study - Everyone was confused when they clicked on “Edit in settings.json”, they expected to start editing the setting in the settings.json file

[2020-02-19 10:57] sandy081 opened #90970 "Settings Sync UX Study"
### Turn on/off
  - [x] Everyone went to the File > Preferences menu to turn on Sync. They eventually went to the gear and found the “Turn on Sync” command - #90925
  - No one used the command palette in any task

### Log in
   - [x] Some expressed wanting to stay logged in when turning off/on (known bug) - #90924

### Discoverability
  - [x] Everyone wasn’t sure whether sync was working, they all

[2020-02-19 10:57] lucasfr opened #90971 "VSCode creating several new 'Untitled.ipynb' files"
- VSCode Version: 1.42.1
- OS Version: macOS Catalina 10.15.3

Steps to Reproduce:

1. Connect to a Jupiter Notebook server with Python extension via 'Specify Jupyter server URI' running on docker server.
2. VS Code then creates several new 'Untitled.ipynb' files.

Is this a setting I have missed or is it a bug?

[2020-02-19 11:01] Morgy93 opened #90972 "shell per project"
I'd like to have different default shells per project.
Sometimes I work within WSL and need the WSL/Bash to be my default shell, but sometimes I work on Windows and then I need powershell/cmd.

Currently I always change the `"terminal.integrated.shell.windows"` setting manually to have the right shell, but I'd like to have a way for vscode to just know which shell to use.

[2020-02-19 11:02] alexdima commented on #90915
@mcornella Is there a specific font size of Consolas that you are using? Are you using window zooming via `window.zoomLevel` or have you configured display scaling from the Windows display settings? I could not reproduce on my machine:

![image](https://user-images.githubusercontent.com/5047891/74828525-89d0d180-530f-11ea-8773-a7cb574b0df8.png)

[2020-02-19 11:02] joaomoreno commented on #90943
And can you reproduce reliably on stable?

Can you reproduce with *any* git repository?

Do you have any specific setting which disables the feature?

[2020-02-19 11:08] Morgy93 commented on #90972
nvm this seems to be solved via https://github.com/microsoft/vscode-remote-release

[2020-02-19 11:08] #90972 closed

[2020-02-19 11:11] IllusionMH commented on #90972
Just in case - have you tried to put "terminal.integrated.shell.windows" in Workspace settings (`.vscode/settings.json`)?
If you have different workspaces for these two cases you can have different configs for each of them.

[2020-02-19 11:21] bpasero opened #90973 "Change -> Undo no longer marks document non-dirty"
Steps to Reproduce:

1. fresh code insiders
2. open a file
3. type 1 letter
4. undo

=> 🐛 file is still marked as dirty

I am not sure if this is me or you Alex, wonder if any changes in editor could cause this around undo stops?

[2020-02-19 11:26] isidorn commented on #90959
Please file a new issue in english. Thanks!

[2020-02-19 11:26] #90959 closed

[2020-02-19 11:27] isidorn commented on #90961
This is a fair feature request. We might introduce this setting in the future, thus assigning this to Backlog.
fyi @roblourens

[2020-02-19 11:32] weinand opened #90974 "support new "selection" feature of debug completion items"
We've added support in the DAP for controlling the selection after a completion item has been inserted. See https://github.com/microsoft/debug-adapter-protocol/issues/87.

Now VS Code needs to implement the client side of this feature.

Implementation hint: controlling the selection in VS Code seems to be only possible by using the snippet support. So it might be necessary to convert the result fr

[2020-02-19 11:36] dwelle opened #90975 "support snippets in integrated terminal"
I'd like to use snippets inside integrated terminal, so that I can e.g. write `grh<tab>` to expand it to `git reset --hard`.

[2020-02-19 11:38] isidorn commented on #90788
Ok, I will try to repro again next week. Thus assigning to March when I plan to investigate deeper.
Potentially related https://github.com/nvaccess/nvda/issues/8781

[2020-02-19 11:43] EntherH commented on #90845
![image](https://user-images.githubusercontent.com/44420541/74831350-00200480-530d-11ea-8e1b-975159b74b18.png)
![image](https://user-images.githubusercontent.com/44420541/74831356-01e9c800-530d-11ea-9f33-1da966753f16.png)

Here they are

[2020-02-19 11:44] isidorn opened #90976 "editor.accessibilityPageSize has 160 lines limit"
Due to https://bugs.chromium.org/p/chromium/issues/detail?id=1001591&q=nvda%20does%20not%20read&can=2

[2020-02-19 11:48] sandy081 opened #90977 "Indicator to show a setting or an extension is not synced"
User can configure extensions and settings to be ignored while syncing. There are also some settings which are ignored by default (like machine settings).

We would need some UI indication representing that these items are not getting synced

[2020-02-19 11:48] mcornella commented on #90915
Font size: 14, no zoom level, no display scaling:
![image](https://user-images.githubusercontent.com/1441704/74831734-1f6f5f80-5316-11ea-98b2-06969f946ad7.png)

[2020-02-19 11:48] sandy081 commented on #90977
Some mock ups from @misolori here:

And when ignore we append a badge, similar to when we disable an extension:

![image](https://user-images.githubusercontent.com/35271042/71298547-81730f00-233d-11ea-88a8-d00020a529b1.png)

[2020-02-19 11:49] sandy081 commented on #90977
@misolori How does this look for settings. Is it possible to have just an icon due to the real estate constraints in extensions?

[2020-02-19 11:49] sandy081 commented on #86915
![image](https://user-images.githubusercontent.com/10746682/74831394-70cb1f00-5315-11ea-95ef-ab09a4e728c8.png)

[2020-02-19 11:50] #86915 closed

[2020-02-19 11:50] sandy081 commented on #86915
Created a separate issue for tracking showing indication for ignored extensions and settings - https://github.com/microsoft/vscode/issues/90977

[2020-02-19 11:56] mcornella commented on #90915
I have updated to the latest insider version (c94724193451009962e2c116808f71a3328a9836). Now, to reproduce it I have to zoom the text via CTRL+scroll until the developer tools shows a font size of 15.4 px.

[2020-02-19 12:08] eunice-alswell opened #90978 "html file appears as text file"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-02-19 12:08] TriMoon opened #90979 "[RFI] tasks inside workspace file"
Hi, could you please add support for defining tasks inside the `*.code-workspace` file?

This would allow to create specific tasks without polluting the workspace directory, in cases like `/etc/systemd/` and the like...
It would also enable to have per-developer tasks for a project they are working on by simply editing their personal `*.code-workspace` files.

Yes people use this editor for other

[2020-02-19 12:11] mukaschultze commented on #90817
@mjbvz

### https://github.com/mukaschultze/vscode-bug-90817

And a GIF as I think it nicely demonstrates what's going on

![demo](https://user-images.githubusercontent.com/13923364/74833010-5da95680-52f7-11ea-9eed-7621d24de6aa.gif)

[2020-02-19 12:15] gjsjohnmurray commented on #90978
/needsMoreInfo Please review what got posted and add details. See https://github.com/microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions for guidance.

[2020-02-19 12:23] MohamedWagih96 opened #90980 "Typescript & Javascript language features extension in VSCode causes my laptop to overheat"
- VSCode Version: 1.42.1
- OS Version: Ubuntu 18.04.4 LTS

Steps to Reproduce:

1. Launch VSCode.
2. Enable Typescript and Javascript language features extension.

Does this issue occur when all extensions are disabled?:

No, As a matter of fact I disabled all the built-in extensions except **Typescript and Javascript language features** extension and the problem remains untacked but if I disabled

[2020-02-19 12:25] RobbertC5 commented on #90379
In the insiders, functions are highlighted correctly now, thanks for that!

I follow your reasoning that semantic classification knows more than TextMate and should overrule it, but sometimes TextMate is more precise / fine tunable. For example, I think this issue still exists with for example `console`. TextMate knows `console` is special (it has `support.class` or even `support.class.console` fo

[2020-02-19 12:26] maksad commented on #90627
I fixed the issue by disabling and enabling `TypeScript and JavaScript Language Features` extension:

This extension is built-in, so once `vscode` shows `TypeScript language service died` error you can click on the `Manage extension`.

![Screenshot 2020-02-19 at 14 23 34](https://user-images.githubusercontent.com/4527650/74834139-834c5500-5323-11ea-901b-404437bdfe28.png)

This will open the extens

[2020-02-19 12:27] matklad commented on #24918
I've realized that I'd love to use the same <kdb>ctrl+N</kbd> shortuct to select code actions:

![image](https://user-images.githubusercontent.com/1711539/74834279-6875e280-531b-11ea-84da-6b5ac5c6a6f4.png)

This is probably not possible right now implementation wise, because actions use a native context menu; but, as a user, I would appreciate such feature.

[2020-02-19 12:32] alexilyaev commented on #90907
The code is in vanilla `javascript`, first experienced while writing in `javascriptreact`.

I understand what you mean regarding the GIFs. I wish GitHub wouldn't auto-play them and provide a Play/Pause button.

I've updated the description:
- Removed one GIF
- Added more examples, including when the expansion works as expected.

[2020-02-19 12:39] sandy081 commented on #90931
![image](https://user-images.githubusercontent.com/10746682/74835242-35345300-531d-11ea-8130-b39e9bb43ce1.png)

[2020-02-19 12:39] #90931 closed

[2020-02-19 12:43] gjsjohnmurray opened #90981 "Setting UI tabs should have tooltips with settings locations"
Issue Type: <b>Bug</b>

If I open a **folder** (not a workspace), then go to the Settings Editor, the second tab is confusingly captioned "Workspace".

![image](https://user-images.githubusercontent.com/6726799/74835041-80963380-5314-11ea-9ea3-0ab60bd58f30.png)

Yet the settings are actually stored in the .vscode\settings.json file within the folder.

If I create a single-root workspace that acces

[2020-02-19 12:44] #90930 closed

[2020-02-19 12:49] isidorn commented on #90974
I do not think there will be time for this this milestone.
So highly likely we push this out of February.

PR to fix this is welcome
Code pointer https://github.com/microsoft/vscode/blob/66b5e9837d4c6091531f3e32c6e25c0709542aa4/src/vs/workbench/contrib/debug/browser/repl.ts#L134

[2020-02-19 12:54] chhavikishore opened #90982 "update-alternatives: error: alternative path /usr/bin/code-oss doesn't exist"
- VSCode Version: 1.42
- OS Version: Ubuntu 18.04.4 LTS

Steps to Reproduce:

sudo dpkg -i ./.build/linux/deb/amd64/deb/code-oss_1.43.0-1582114742_amd64.deb

Error :

(Reading database ... 259673 files and directories currently installed.)
Preparing to unpack code-oss_1.43.0-1582114742_amd64.deb ...
Unpacking code-oss (1.43.0-1582114742) ...
Setting up code-oss (1.43.0-1582114742) ...
update-alter

[2020-02-19 12:54] huettenhain opened #90983 "File explorer does not correctly list case sensitive directories"
#### Host Information

- VSCode Version: 1.42.1
- VSCode Insiders Version: 1.43.0-insider, Commit https://github.com/microsoft/vscode/commit/c94724193451009962e2c116808f71a3328a9836
- OS Version: Windows 10, 1903, Build 18362.592

Does this issue occur when all extensions are disabled?: Yes

#### Steps to Reproduce:
1. Create a directory `foo`
2. Navigate to `foo` as an Administrator account and i

[2020-02-19 12:59] alexdima commented on #90915
Thanks for the extra info, but I still cannot reproduce. The ctrl+scroll is just a multiplier to the fontsize, so can you please try to reproduce with setting the fontSize directly. What precise settings help to reproduce?

I have tried:
[code]

![image](https://user-images.githubusercontent.com/5047891/74836594-f9e75380-531f-11ea-9a6e-b9f62b945a9b.png)

[2020-02-19 12:59] sandy081 commented on #90921
I dont think we show this dialog if it is first time ever. Can you repro this?

[2020-02-19 13:00] alexdima commented on #90845
@mjbvz The editor does not pinch-zoom AFAIK, so I believe this issue is about the PDF preview that shows in the webview.

[2020-02-19 13:09] AlexWilliams002 opened #90984 "Analyzing in background"
In the bottom bar of the program (Analyzing in background) is constantly being processed !!!

[2020-02-19 13:10] BenWildeman commented on #44024
this becomes a big issue when an F2 rename decides to go ahead and edit things inside node_modules that's not even referencing the thing you're trying to rename

[2020-02-19 13:10] craigc40 commented on #90909
I tried setting auto-update to manual, downgrading to 1.41.1, checking for updates, and then letting it update to 1.42.1.  That did not reproduce the problem.
Apparently, applying that workaround fixes things. This post from the 82203 bug thread shows what I saw when the bug occurred:
https://github.com/microsoft/vscode/issues/82203#issuecomment-544592959
The 82203 thread is exactly what happened

[2020-02-19 13:11] nzupan commented on #89581
I am experiencing the same problem.
VSCode Version: 1.42.1
OS Version: Ubuntu 18.04

[2020-02-19 13:18] Randalphwa commented on #90753
I have switched the key assignment and verified that the new command appears to work identically to the previous command.

Closing since it's not technically a bug, but rather requires the user to change a key binding. I might argue that a change requiring a user to change their key binding should be displayed more prominently in the update notes, but that's a general comment, not a specific issue

[2020-02-19 13:18] #90753 closed

[2020-02-19 13:32] Quiwy opened #90985 "Extensions not working since 1.42.1 update"
Hi,

This morning I had to restart VScodium to update to version 1.42.1 and since then no extension is working.

If I disable all the extensions, well, vscodium still working without extensions, logical.

Informations:

[code]

[code]

What I expect:
Extensions working

Didnt't found any relevant issue.

Thank you for the help you can provide.

[2020-02-19 13:36] IllusionMH commented on #90984
/causedByExtension

This string is not present in VS Code sources and looking for other issues it looks like issue with Python extension. You should report this problems (with all necessary details) in https://github.com/microsoft/vscode-python/issues repo

[2020-02-19 13:37] EntherH commented on #90845
It indeed does. I think this is related to a option that allows you to zoom using mouse wheels.

[2020-02-19 13:38] IllusionMH commented on #90985
Most likely you should report this issue in VSCodium repo (that provided custom build) and not VS Code repo itself.

[2020-02-19 13:49] Quiwy commented on #90985
Opened here: https://github.com/VSCodium/vscodium/issues/337

[2020-02-19 13:49] Blaisorblade opened #90986 "Editing settings fails with multiple windows"
1. Open multiple VSCode windows with different folders
2. Open User Settings in multiple windows.
3. Add entries to "Files: Exclude" and "save" them.
4. The entries are not shown in the other windows, and lost on reload.

VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:44:27.652Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|V

[2020-02-19 13:56] Tyriar commented on #90921
This happened several times in the UX study, @misolori could you send links to the videos to @sandy081 if you haven't yet?

[2020-02-19 13:57] ClemsRocket commented on #90585
Drag and drop text works, but it does too in vscode. What I can't drag and drop is windows or files in the tree
![Issue](https://user-images.githubusercontent.com/22476783/74840854-040d5000-5328-11ea-80aa-997fda296953.gif)

[2020-02-19 13:57] Tyriar commented on #90931
Perfect, thanks!

[2020-02-19 13:58] Tyriar commented on #90975
We won't support something like this as trying to do this on our end would be a significant change in thinking of how the terminal works (and probably unreliable). I recommend doing it the way your shell does, for example: `alias grh=git reset --hard`, git also has other ways to do aliases that you might want to look into.

[2020-02-19 13:59] kirillbobyrev opened #90987 "Missing support for for allCommitCharacters"
- VSCode Version: 1.42.0
- OS Version: Linux

Steps to Reproduce:

1. Connect to the Language Server which provides `allCommitCharacters` on initialization (I'm using HEAD version of Clangd where I implemented this feature).
2. Open the source file that is supported by this Language Server.
3. Start typing to get completions.
4. Type any character from the server commit characters.

The completion

[2020-02-19 13:59] Tyriar commented on #90924
Does this meant that every extension needs to create their own sign out? Shouldn't it be a core command with an account selector if there are multiple accounts?

[2020-02-19 14:00] alexr00 commented on #90979
Tasks are already supported in *.code-workspace files.

[2020-02-19 14:00] #90979 closed

[2020-02-19 14:01] mukaschultze commented on #90817
This might be a bug with `tsserver` actually, I'm seeing the `.js` file in the response from `completionInfo`

[2020-02-19 14:01] Tyriar opened #90988 "Create sign in/sign out commands"
The sign out command used to be part of the sync component (`Sync: Sign Out`), it should be part of core but its own component that manages multiple accounts, for example `Account: Sign In`, `Account Sign Out`.

[2020-02-19 14:01] isidorn commented on #90983
For this the FileSystem provider for windows would have to notify us that it is case insensitive.
Not currently working, thus assigning to Backlog to potentially fix in the future.

[2020-02-19 14:02] efc opened #90989 "colorCustomizations and autoDetectColorScheme"
Issue Type: <b>Feature Request</b>

Now that we can `autoDetectColorScheme` (thank you thank you) it seems there should be a way to change `colorCustomizations` automatically too.

Maybe we need `colorCustomizationsForLightColorTheme` and `colorCustomizationsForDarkColorTheme` for customizations that only apply in one or the other circumstance. The old `colorCustomizations` could still apply acros

[2020-02-19 14:02] niccolomineo commented on #2766
Please add the possibility to in-place switch between the markdown source and preview in one panel.

[2020-02-19 14:02] Tyriar commented on #90982
We don't distribute code-oss, did you build this yourself?

[2020-02-19 14:02] #90985 closed

[2020-02-19 14:03] #90984 closed

[2020-02-19 14:03] Tyriar commented on #90903
Can you share your settings.json?

[2020-02-19 14:04] Tyriar commented on #90945
This is a bug in Windows 10 1809, unfortunately we have no way to work around the issue so you will need to wait until you get the next version of Windows 10 (1903).

/duplicate https://github.com/Microsoft/vscode/issues/57803

[2020-02-19 14:04] #90945 closed

[2020-02-19 14:04] misolori commented on #90921
This happens every single time you set up sync for the first time. It happened to every participant today. I’ll fwd the videos.

[2020-02-19 14:04] Tyriar commented on #90921
@misolori by the first time your mean after checking the clear data checkbox right?

[2020-02-19 14:05] Tyriar commented on #90927
Can you share your settings.json file?

[2020-02-19 14:06] Tyriar commented on #90928
Do you set window.zoomLevel? Can you share your settings.json file?

[2020-02-19 14:06] alexdima commented on #90973
@bpasero I just wrote a test to verify and I think the editor works fine, the alternative version id returns after an undo.

[2020-02-19 14:08] Tyriar commented on #90949
Yes, by default all backed up workspaces would restore whenever VS Code is launched

![image](https://user-images.githubusercontent.com/2193314/74841834-2f6b4d00-52de-11ea-880c-198eabd40d69.png)

[2020-02-19 14:09] alexdima commented on #90845
@EntherH Sorry, but this is as designed. You have configured `"editor.mouseWheelZoom": true`. That makes that ctrl + mouse wheel will zoom the font size. So if you don't like that, then please remove that and use `"editor.mouseWheelZoom": false`.

[2020-02-19 14:09] #90845 closed

[2020-02-19 14:09] Tyriar commented on #90371
@gazzar do you know if there is an issue tracking the problems with column selection copy+pasting?

[2020-02-19 14:10] misolori commented on #90921
Sorry, yes after clearing out the data with the checkbox.

[2020-02-19 14:11] PoundXI commented on #90420
@joaomoreno It not happens in repo created with git version 2.17.0.

[2020-02-19 14:12] Tyriar commented on #90858
That only pops up because you (or an extension you installed) has configured the path in your settings. Go into your settings and change `terminal.integrated.shell.windows` or alternative hit F1 and type "Default Shell" and run that command to change your shell.

[2020-02-19 14:12] #90858 closed

[2020-02-19 14:14] dwelle commented on #90975
Yea, I was specifically not looking for aliases (and there's only so much one can do with bash for windows), but thanks for the response!

[2020-02-19 14:14] #90975 closed

[2020-02-19 14:25] IllusionMH commented on #90956
VSCode uses markdown-it which doesn't transform src attribute in any way, and changing default logic will be breaking change.

Most likely you'll need to create simple VSCode extension that adds markdown-it plugin that alters renderer for images.

[2020-02-19 14:26] gjsjohnmurray opened #90990 ""editor.minimap.mode": "contain" not behaving as expected with wrapping on"
Issue Type: <b>Bug</b>

Testing #90808 by @alexdima

I set "editor.minimap.mode": "contain" and opened a document for which, prior to this new feature landing, the minimap would extend off the bottom of the window. My actual doc was docs\editor\command-line.md from the microsoft/vscode-docs repo.

With "contain" the minimap behaved as though I had set "actual" (or simply not defined the setting at

[2020-02-19 14:32] #90940 closed

[2020-02-19 14:34] Tyriar commented on #90969
I also came to the same conclusion when I try it myself before they I saw participants do it. I thought we used to support this? @roblourens mentioned yesterday that auto save complicates this.

[2020-02-19 14:38] rohansekhri commented on #90611
Here is the git output from Insiders (used it since you mentioned it has a fix related to casing)

[code]

GitLens output:

[code]

Another piece of information: I added a file under orchestrator/orc_tools/lib/foo_folder and it is being tracked as expected.

[2020-02-19 14:39] alexr00 commented on #82871
Re-opening since we now try to keep issues around for proposed API.

[2020-02-19 14:39] joaomoreno commented on #90909
Next time it happens, please run `Developer: Toggle Developer Tools` and let us know if you see any errors in the console. Closing this until that happens.

[2020-02-19 14:39] #90909 closed

[2020-02-19 14:40] alexr00 opened #90991 "Test save and open dialog title proposed API"
placeholder for testing https://github.com/microsoft/vscode/issues/82871

[2020-02-19 14:41] joaomoreno commented on #90420
@PoundXI is it related to which version the repo gets created with, or rather with which version VS Code uses? Please provide more details.

[2020-02-19 14:42] joaomoreno commented on #90611
You can omit GitLens output from now on, it's a separate extension.

It looks like everything is working, from the output.

So... there are paths which work, and others which don't? Can you try to distill what the rule is?

[2020-02-19 14:44] Kinrany opened #90992 "Window is too wide in word-wrap mode, some text is hidden"
Issue Type: <b>Bug</b>

With word-wrap enabled, some text is still not visible without using the scroll bar. Logically there should be no scroll bar in the first place.

This is especially noticeable with minimap enabled.

![bug](https://user-images.githubusercontent.com/1634186/74844914-3f674900-533f-11ea-9837-6ae2edeac23f.png)

VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed0

[2020-02-19 14:44] Tyriar opened #90993 "Consider exposing ITerminalInstance.shellLaunchConfig as a promise"
This could avoid problems like this https://github.com/microsoft/vscode/pull/90847

[2020-02-19 14:46] isidorn commented on #90445
So far feedback has been very positive.
Thus closing this issue.
However we are of course still listening to feedback and are looking forward to the results of the python study.

[2020-02-19 14:46] #90445 closed

[2020-02-19 14:47] #89241 closed

[2020-02-19 14:47] meotimdihia commented on #85919
Vscode Insider 1.43 is still using 450MB+ for me.

[2020-02-19 14:47] sandy081 commented on #90921
I cannot repro this locally. Can you please repro again and give me steps.

[2020-02-19 14:48] TriMoon commented on #90979
@alexr00 Could you please direct me to some documentation where this is explained/demonstrated?
Thanks

[2020-02-19 14:50] isidorn commented on #90518
Just want to add that showing the parent sessions is one of the biggest pain points for me personally while self hosting.
@connor4312 let me know how you would prefer that we tackle this. Also js-debug can not compute better names than the current number naming?

![Screenshot 2020-02-19 at 15 47 54](https://user-images.githubusercontent.com/1926584/74845420-4b4b0f00-532f-11ea-8d59-82d28260f98b.png

[2020-02-19 14:50] usernamehw commented on #90969
#67908

[2020-02-19 14:50] #90415 closed

[2020-02-19 14:53] Tyriar commented on #90921
@sandy081 there is video evidence, please watch the videos. They're linked on yesterday's Teams meeting.

[2020-02-19 14:54] sandy081 commented on #90921
@Tyriar I am trusting you that it happened. Since you guys have already seen it, it would be great if you can point me to the exact location of the video.

[2020-02-19 14:56] Tyriar commented on #90967
This could be fixed as part of https://github.com/microsoft/vscode/issues/90385 by adding a progress badge to it (maybe only on first sync?).

[2020-02-19 14:58] #89832 closed

[2020-02-19 15:01] rohansekhri commented on #90611
Already done that in my previous [comment](https://github.com/microsoft/vscode/issues/90611#issuecomment-586337498):

Paths with: `C:\_repos\some_folder\orchestrator\orc_tools\lib\ssh_base.rb` work and paths with `C:\_repos\some_folder\Orchestrator\ORC_Tools\lib\ssh_base.rb` don't (note the capital O's in the second one). If one opens the file from File Explorer, the latter path is taken and if on

[2020-02-19 15:02] dbaeumer opened #90995 "Clicking on a icon in the side bar should not close the viewlet but refocus it instead"
I very oftern click on the debug icon in the side bar and want to focus it. However if it is focused it closes it which is very disturbing. I would like to request an option to allow me to re-focus instead of closing.

[2020-02-19 15:02] bpasero commented on #90949
This will probably come to a surprise for many people once they update to next stable where we would restore all workspaces with untitled files at once. I find it interesting that no one complained so far, this might backfire :)

[2020-02-19 15:03] jrieken commented on #90987
We support [`commitCharacters`](https://github.com/microsoft/vscode/blob/efb781e5becac763a91e7a7434aaef671b38d9a9/src/vs/vscode.d.ts#L3458) on completion items and [`triggerCharacters`](https://github.com/microsoft/vscode/blob/efb781e5becac763a91e7a7434aaef671b38d9a9/src/vs/vscode.d.ts#L8989) on completion providers. I don't know what you are trying to achieve and what API you are following...

[2020-02-19 15:04] sandy081 commented on #89832
Since steps include some internal settings, please ping me to verify it.

[2020-02-19 15:05] alexdima commented on #90990
@gjsjohnmurray I am really looking forward to ideas on how to name these settings and perhaps how to improve their documentation, but what you have observed is correct:
* `cover`: the minimap is stretched or shrinked (sampling) such that it always has its contents take the height of the editor.
* `contain`: the minimap is never stretched, just shrinked (sampling) such that it never has its content

[2020-02-19 15:15] globules-io opened #90996 "PHP constant in class syntax error"
- VSCode Version: 1.42.1
- OS Version: Windows 10 x64
Does this issue occur when all extensions are disabled?: Yes

![Capture](https://user-images.githubusercontent.com/13317159/74847737-9ac61680-5300-11ea-8443-0e6eb8af6c48.PNG)

[2020-02-19 15:45] Tyriar commented on #90604
/duplicate https://github.com/microsoft/vscode/issues/90813

[2020-02-19 15:45] #90604 closed

[2020-02-19 15:48] alexr00 commented on #90979
Looks like I missed adding it to the release notes last month. Try running the Tasks: Open Workspace Tasks command.

[2020-02-19 15:49] Adondriel opened #90997 "Declaration Navigation shouldn't expand entire node_modules folder"
When I press f12, to navigate to typedefs/source code in my project, and that action navigates to a file in node_modules, don't expand the whole node_modules folder.
I have a couple ideas for how this could be implemented.
1. Just navigate to the file, and don't actually open the node_modules folder at all
2. Use the new sub-folder concatenation thing that was recently added, where it puts 2 folde

[2020-02-19 15:49] PoundXI commented on #90420
@joaomoreno Sorry to cause confusion.
It may not related to repo create with or vscode use. Both version works fine.
But I think vscode detect changes slow with unknown reason.
Sometimes fast, sometimes more than 3 seconds.
And first time I reported may very very slow with many minutes.
If I encounter a problem again, I'll test for more details and let you know.
Thank you.

[2020-02-19 15:53] gjsjohnmurray commented on #90990
@alexdima I like the names you have chosen, and I was able to understand the descriptions you gave them. But here is a GIF showing the same document, first in  "actual" mode, then in "cover" and finally in "contain". I show the Settings page before each demonstration.

![junk](https://user-images.githubusercontent.com/6726799/74848526-aa108880-532f-11ea-96c4-0242dd8e8de7.gif)

I don't understand w

[2020-02-19 15:53] RefinedSoftwareLLC commented on #17670
Could this feature also allow your workbench configuration to mark entire folders as read only?

[2020-02-19 15:57] jfarraraains commented on #90699
I don't remember specifically and apologize for that gap. I could use this approach but didn't.
https:\/\/www.windowscentral.com\/how-delete-locked-files-windows-10

[2020-02-19 15:58] mcornella commented on #90915
Try also with `"editor.fontLigatures": true,`. If I disable that, the problem goes away.

[2020-02-19 16:02] mahendrark opened #90998 "python version shows 2.7.17 while the virtual env"
- VSCode Version: 1.42.1
- OS Version: Ubuntu 18.04.3 LTS

Does this issue occur when all extensions are disabled?: Yes

When I run the python script with the command `print(sys.version)`, it ouputs python version as 2.7.17.
But, the environment which is activated has python version 3.8.0. The attached screenshot shows that.
![Screenshot_2020-02-19_16-56-54](https://user-images.githubusercontent.c

[2020-02-19 16:11] jfarraraains commented on #90699
Let me reverse the question since more updates are coming... are there any log files or settings we could put into play to assist reproducing the issue?

[2020-02-19 16:13] dormesica commented on #90993
@Tyriar To solve #90415 I initially wanted to do something like this but it felt like a bigger change so I went with `await instace.processReady`.

If promise is an acceptable solution and that's OK with you, I would like to help with that.

[2020-02-19 16:21] s50600822 opened #91000 "Can not select \n\t"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. See the screeenshot, I can't seem to be able to select "\n\t"
<img width="969" alt="Screen Shot 2020-02-20 at 3 17 58 am" src="https://user-images.githubusercontent.com/5586453/74851878-f1c6fc80-538f-11ea-819b-6415b116698e.png">

<img width="905" alt="Screen Shot 2020-02-20 at 3 18 04 am" src="https://user-images.githubusercontent.com/558645

[2020-02-19 16:22] sanbeaman opened #91001 "died 5 times"
Issue Type: <b>Bug</b>
The TypeScript language service died 5 times right after it got started. The service will not be restarted.
Source: TypeScript and JavaScript Language Features

<b>I just installed code-insider and imported same extensions and settings.. works fine so far on code-insider</b>

VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:44:27.652Z)
OS

[2020-02-19 16:22] 019a commented on #63068
Same here. killall Dock fixed it too.

[2020-02-19 16:23] zcoffin86 commented on #90928
Yes, I set it to -1.

[2020-02-19 16:25] zcoffin86 commented on #90928
Settings.json:
[code]

[2020-02-19 16:28] rhclayto commented on #33110
I'm starting to get the picture about how VSCode development works. There's either a serious shortage of developer resources, or the developers just have an unstated resistance to some feature or other, but certain features that are standard in other editors like Notepad++ (like this one or a configurable toolbar) generate tons of feature request issues, all of which are closed by the devs, leavin

[2020-02-19 16:29] aeschli commented on #90942
dup of https://github.com/microsoft/vscode/issues/70614

[2020-02-19 16:29] #90942 closed

[2020-02-19 16:33] aeschli commented on #90989
colorCustomizations can already by scoped to specific themes:

[code]

[2020-02-19 16:34] parasit opened #91002 "Cannot open folder / empty explorer pane."
When try open folder with code, got message on explorers pane "You have not yet opened a folder" and button "Open folder". But it's not working. Any try, by button, by menu "File-> Open folder" or shortcut just not work. Explorer pane remains empty with the same message and button.

- VSCode Version: 1.42.1
- OS Version: Kubuntu 19.10

Steps to Reproduce:

1. Open code folder eg. `code ./folder_wi

[2020-02-19 16:35] roblourens commented on #90969
Also sort of related to https://github.com/microsoft/vscode/issues/89512

I still feel that giving the "edit in settings.json" button side effects will be bad because users will end up with lots of settings configured as their default values, which is confusing, but we could experiment.

[2020-02-19 16:35] #90969 closed

[2020-02-19 16:39] isidorn commented on #85548
Debug start view can now be contributed to. We still need to:

- [ ] show button as disabled
- [ ]  add telemetry
- [ ] render keybindings
- [ ]  figure out a context for extensions to use
- [ ] make sure my buttons are at the top

[2020-02-19 16:41] isidorn commented on #91002
Thanks for filling this issue. Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/

[2020-02-19 16:42] isidorn commented on #90998
Please file against pyhton extension here. Thank you
https://github.com/microsoft/vscode-python

[2020-02-19 16:42] #90998 closed

[2020-02-19 16:43] #90349 closed

[2020-02-19 16:44] isidorn commented on #90997
Dup of https://github.com/microsoft/vscode/issues/89849
And some other issue here https://github.com/microsoft/vscode/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+label%3Afile-explorer+node_modules

[2020-02-19 16:44] #90997 closed

[2020-02-19 16:45] huettenhain commented on #90983
Playing around in VSCode insiders I just realized that there is a workaround for this if you run WSL: Opening the folder using [remote WSL](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-wsl) will correctly list all present files in the explorer panel.

[2020-02-19 16:46] sandy081 opened #91003 "Terminal test failure"
`window namespace tests Terminal window.onDidWriteTerminalData should listen to all future terminal data events:`

https://monacotools.visualstudio.com/Monaco/_build/results?buildId=67818&view=logs&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=c9c1d16f-6a21-57a3-556a-d7a168909c84

[2020-02-19 16:46] ashep opened #91004 ""Go to definition" stops working"
- VSCode Version: 1.42.1
- OS Version: x86_64 GNU/Linux

Steps to Reproduce:

1. Open editor
2. Work
3. Use "Go to definition" on some object once.
3. After some time "Ctrl + Left Click" stops working, F12 doesn't work, "Go to definition" disappears from the context menu.

[![IMG](https://img.youtube.com/vi/71N-EXgcauw/0.jpg)](https://www.youtube.com/watch?v=71N-EXgcauw)

[2020-02-19 16:47] isidorn commented on #88695
Unfortunetly did not have time to tackle this feature this milestone. Thus pushing to March as I plan to look into this then.

[2020-02-19 16:47] sandy081 commented on #90947
Please follow these steps

- Help -> Toggle Developer Tools -> Network
- Then check for any network failed requests while browsing and installing the extensions if found all requests fails then its probably a proxy or DNS issue at your end.
- To confirm its a DNS issue check if you can access this page https://ms-python.gallerycdn.vsassets.io/extensions/ms-python/python/2019.8.29288/1565127378610/

[2020-02-19 16:47] parasit commented on #91002
After installing this version (same version number?) everything looks ok...
[code]

[2020-02-19 16:49] sandy081 commented on #90967
Agreed to make it part of account UI.

[2020-02-19 16:51] Jorgepaiz opened #91005 "Problem with typescript"
Issue Type: <b>Bug</b>

error for service with typescript

VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:44:27.652Z)
OS version: Darwin x64 19.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz (8 x 2600)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_

[2020-02-19 16:53] sandy081 commented on #90986
@Blaisorblade Just want to be sure.. did you  make changes to settings file in all windows or in just one window? Also did you save the file from one window?

[2020-02-19 16:55] sandy081 commented on #90924
Not sure who provides this command, but definitely not part of settings sync.

[2020-02-19 16:57] isidorn commented on #90983
Yeah. Since that file system provider correctly states it is case insensitive.

[2020-02-19 16:57] isidorn commented on #91002
Ok, so closing.
If you can reproduce with vscode insiders please let us know. Thank you

[2020-02-19 16:57] #91002 closed

[2020-02-19 17:01] lovefamilychildrenhappiness opened #91006 "Entering two forward slashes produces annoying </anonymous> tag in file with js extension"
- VSCode Version:

Version: 1.41.0
Commit: 9579eda04fdb3a9bba2750f15193e5fafe16b959
Date: 2019-12-11T17:58:38.338Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Darwin x64 18.6.0

- OS Version:
macos mojave

Steps to Reproduce:

1) Open file
2) Save it with .js extension
3) type //

And it produces this strange tag </anonymous>.  Why is it doing this?

[2020-02-19 17:08] bcdady commented on #90463
Sure. Here's my current copy that's working as expected:

[code]

[2020-02-19 17:08] gnought commented on #90943
I clean up my settings.json, and disable all extensions by `code --disable-extensions`
1. yes, reproducible.
2. I have testd 5 git repo.

[2020-02-19 17:12] sbatten commented on #90995
hmm, shouldn't this just be handled by clicking inside the viewlet?

[2020-02-19 17:15] Blaisorblade commented on #90986
I tried again and it's even simpler:
- use Cmd-, in the first window, add a sample entry `foo` to Files: Exclude and close the settings; the entry is "saved", as can be confirmed by reopening the dialog:
![image](https://user-images.githubusercontent.com/289960/74857104-7ccdd580-5343-11ea-8668-4b3a0468a72a.png)

- check with Cmd-, in the second window — the entry is not there.
![image](https://use

[2020-02-19 17:17] techsin opened #91007 "An ability to link to a file and line and share that link with other person working on that project?"
My and my coworker are working on a project together.

He asks me where is xyz coming from. I investigate, and find the place. I should be able to right click and do copy link to the line and send him the link, which when he clicks opens up the file and highlights the line. Sort of like github similar feature where you can link to file number in a file. Assuming he is working on a same project as

[2020-02-19 17:18] Blaisorblade commented on #90986
I can also add `foo` in a window, `bar` in another, and only one change will persist after reload. I suppose who writes last wins, but I'd need more experiments to drill this down. Can you reproduce what I documented in the snapshots?

[2020-02-19 17:22] efc commented on #90989
Ah! That'll do. I did not know about the theme scoping.

[2020-02-19 17:22] #90989 closed

[2020-02-19 17:29] sbatten commented on #90605
[code]

This is the original stack trace that came with the error.

[2020-02-19 17:37] dnlw07 commented on #10588
Is it possible to add an option in setting to toggle multi-line selection?

[2020-02-19 17:41] Narvey commented on #79782
Why is this not a higher priority?

I recommend the sandboxing solution (#52116) Without it, VS Code looks like a liability to the IT departments that might consider approving it! (think about trying to determine the risks of a wide variety of addons, and whether they will be stealing company secrets like proprietary code)

[2020-02-19 17:42] Narvey commented on #52116
This feature is vital.
Without it, VS Code looks like a liability to the IT departments that might consider approving it! (think about trying to determine the risks of a wide variety of addons, and whether they will be stealing company secrets like proprietary code)

[2020-02-19 17:47] moodboom commented on #90637
I think all those nbs that fought for this Shift-Insert change were wrong.  IMHO.  Ha.  Damn my Microsoft ancestry... thanks for the configuration tip.

[2020-02-19 17:54] jedwards1211 commented on #90206
I question this.  Abbeviation examples on Emmet's website use well-known HTML tag names.   It would be completely reasonable for Emmet to continue to provide completions for other arbitrary tag names but to deprioritize them if they don't contain HTML tag names

[2020-02-19 18:02] g2-aj opened #91009 "The engine "vscode" appears to be invalid"
I have the following section in my package.json:

  "engines": {
    "vscode": "^1.33.0"
  },

When I run "npm vsce package --yarn" I get the following warning:
The engine "vscode" appears to be invalid

If I remove engines.vscode, I get the error:
Error installing vscode.d.ts: Missing VSCode engine declaration in package.json

The yarn version I am using is v1.15.2

How can I get rid of this erro

[2020-02-19 18:04] Adondriel commented on #88810
Should this be combined with: https://github.com/microsoft/vscode/issues/89849?

[2020-02-19 18:05] kirillbobyrev commented on #90987
@jrieken What I'm trying to achieve is avoiding sending `commitCharacters` for every completion item and send `allCommitCharacters` during the server initialization via server capabilities to avoid overhead.

`allCommitCharacters` field is part of `completionOptions` in [Completion Request](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocument_comp

[2020-02-19 18:06] Adondriel commented on #89849
Personally, I think the "click to show X hidden folders" being at the top & bottom would get annoying. It should just be one or the other (top would be my preference, but this could easily be a new option)

[2020-02-19 18:18] Tyriar commented on #90928
I recommend keeping window.zoomLevel as 0 and then change font size settings instead /duplicate https://github.com/microsoft/vscode/issues/85154

[2020-02-19 18:18] #90928 closed

[2020-02-19 18:19] bwhitty commented on #90465
Well, you've made my week. I had it overridden with "openPreviousEditor". Thank you for the extra effort and the random support here @bpasero. You're a hero!

[2020-02-19 18:19] Tyriar commented on #90993
@dormesica you can give it a shot, I mentioned consider as I'm not 100% sure whether we want to do this just yet or not. It does seems like what we should be doing based on what we saw with #90847 though.

[2020-02-19 18:20] mwpowellhtx opened #91010 "VSCode aggressively changes tab white space settings"
**VSCode Version**: 1.42.0
**OS Version**: Windows 7 x64 Pro

**Steps to Reproduce**: As far as I could determine,
1. I dropped some additional files into my project.
1. Opened using VSCode.
1. Suddenly my tab white space treatment was *tabs* and not *spaces (4)*.

The only thing I can figure is that VSCode somehow "saw" some of the files, which themselves had tabs among the white spaces, and took

[2020-02-19 18:23] Tyriar commented on #90905
Yeah I'll assume it's an issue with the install, I should reinstall.

[2020-02-19 18:23] #90905 closed

[2020-02-19 18:26] Tyriar opened #91011 "Settings sync should support user tasks"
Low priority but it makes sense to sync this.

FYI @alexr00

[2020-02-19 18:31] sandy081 opened #91012 "Provide a command to open local user data backups"
Provide a command to open local user data backups

[2020-02-19 18:35] mwpowellhtx commented on #91010
Should also clarify, the advertised behavior *Editor: Detect Indentation*, *Editor: Insert Spaces*, and possibly *Editor: Tab Sizes*, is simply not working as advertised. I disable detect, insert is enabled, and I am still getting tabs instead of spaces.

[2020-02-19 18:38] IllusionMH commented on #91009
In this case it's useless warning and can be ignored.
Unfortunately - only way to hide error specifically for vscode - only all errors about engine [`yarn install --ignore-engines`](https://classic.yarnpkg.com/en/docs/cli/install/#toc-yarn-install-ignore-engines)

[2020-02-19 18:40] mwpowellhtx commented on #91010
Additionally, I searched and replaced tabs with spaces, rebooted *VSCode*, now spaces are inserted instead of tabs.

[2020-02-19 18:43] alkaliphile commented on #84010
I got rid of most of that junk by installing the Customize UI extension and adding this to my settings.json:

[code]

[2020-02-19 18:49] Tyriar commented on #88863
Not fixed yet

[2020-02-19 18:50] JacksonKearl commented on #90962
@roblourens Clicking on the search viewlet has replaced the query with the editor's selection since 1.40 at least. With searchOnType that now runs the query.

Potential fixes:
- Clicking on the viewlet doesn't seed query from editor selection. This makes some sense, but the keybinding and the click should have the same behaviour, and the keybinding should seed with the selection.
- Selection-seede

[2020-02-19 18:59] Tyriar commented on #90921
This is actually a server problem; the cache isn't getting cleared so manifest comes back as it was before.

[2020-02-19 19:02] mwpowellhtx commented on #91010
I'm not 100% positive, but there are a couple of sound files among the code, `.ogg` files, which may be causing undue influence in the *VSCode* logic as to whether to use spaces. These are binary files, of course. Is there a way to ignore these files? And/or to include only the files you want for white space consideration?

[2020-02-19 19:04] IllusionMH commented on #90962
Not sure why click on search tab should trigger new search.
Personally I would never expected that click on tab in panel (or even icon in action bar) would perform any actions: click on Run/Debug doesn't launch default debugger, Click on Remote Explorer doesn't suddenly start recently used session, Click on extensions - doesn't trigger search for selection or current file type, Click on terminal l

[2020-02-19 19:07] JacksonKearl commented on #90962
@IllusionMH I believe clicking on the viewlet's icon should have the same effect as triggering the keybinding that opens the viewlet. Right now that keybinding both opens the viewlet and triggers the search. Maybe it'd be better to have a seperate keybinding for "Open search viewlet" vs. "run search"?

[2020-02-19 19:07] roblourens opened #91014 "Extra title on panels shown before window loads fully"
- Connect to a remote
- Before we finish connecting to the remote, I see this title on panels which lets me collapse them.

![image](https://user-images.githubusercontent.com/323878/74866548-eb8d3d80-5307-11ea-97a6-7a75c399ebdf.png)

![image](https://user-images.githubusercontent.com/323878/74866615-06f84880-5308-11ea-86b2-f86a807efa48.png)

[2020-02-19 19:15] zcoffin86 commented on #90928
I do not like that "solution". the zoom level controls other aspects of the GUI besides the font size in the integrated terminal. By setting the zoom level to -1 other aspects of the GUI shrink down to allow more space in the editor for viewing and working with the source code. For now I will still use zoom level -1 and just pipe the terminal output to a file and view it in an editor tab, so that

[2020-02-19 19:33] BenBtg commented on #90901
Love this!
Is there currently an explicit argument for folder opening?

[2020-02-19 19:39] g2-aj commented on #91009
Thank you Andrii, this worked to remove the warnings. Thanks!

On Wed, Feb 19, 2020 at 10:38 AM Andrii Dieiev <notifications@github.com>
wrote:

[2020-02-19 19:44] alex19EP commented on #90446
yay. now it works like a charm! thanks @isidorn

i tested all cases.

[2020-02-19 19:46] hyangah commented on #90851
The challenge here is the lack of information necessary for debugging. Is it possible to log what extension and condition triggered the saving when popping up the error message window?

Many Go extension users reported this issue, and for historical reasons, Go extension uses various tools in addition to the language server (we couldn't find any suspicious pending request from the language server

[2020-02-19 19:50] #90988 closed

[2020-02-19 19:53] dinofx opened #91015 "SPACE SPACE in the "Find" text input may insert PERIOD on macOS"
On Mojave, the OS keyboard/text setting "Add period with double-space" is enabled by default.  This is useful when typing messages, emails, etc.  But when doing a find/replace in VSCode, this keyboard behavior should be suppressed, similar to how smart quotes, spell correction, auto capitalization are suppressed.

- VSCode Version:
Version: 1.42.1
Commit: c47d83b293181d9be64f27ff093689e8e7aed054
D

[2020-02-19 19:55] gjsjohnmurray commented on #91006
Does this reproduce if you run with all extensions disabled?

[2020-02-19 19:56] dinofx commented on #91015
<img width="324" alt="Screen Shot 2020-02-19 at 2 54 42 PM" src="https://user-images.githubusercontent.com/7581987/74870522-e17b3700-5327-11ea-9ab7-da7ae64e7038.png">

<img width="594" alt="image" src="https://user-images.githubusercontent.com/7581987/74870559-f0fa8000-5327-11ea-9f39-3da72ea71e28.png">

[2020-02-19 19:59] jonpryor commented on #90901
Yes; `code --folder-uri` will accept a folder.  However, it appears to want a *complete* URI.

[code]

doesn't load `folder` within Explorer.  Instead, it must be:

[code]

will open `folder` within Explorer.

That said, `pwd` isn't something that works "normally" on Windows, so it's kind of an "ugly" solution.

[2020-02-19 20:02] letmaik commented on #73904
@chrmarti I have the same need and the new `sortByLabel` does the job for me.

[2020-02-19 20:02] rjmholt opened #91016 "Get stderr or last few lines of extension-owned Terminal in API when it crashes?"
I've read through https://github.com/microsoft/vscode/issues/78574 and https://github.com/microsoft/vscode/issues/62103, but please feel free to let me know if this is a duplicate or unfeasible.

Every so often we get an issue opened on the PowerShell extension like [this one](https://github.com/PowerShell/vscode-powershell/issues/2480) where the subprocess we start as a terminal crashes before we

[2020-02-19 20:15] rsml opened #91017 "Convert multiple cursors into tab stops"
I'd like to be able to convert my multiple cursors into tab stops.

For example if you had multiple cursors selected and execute this new command:
* Each of your cursors convert into a tab stop (as if you had just inserted a snippet between the first and a last cursor, inclusively).
* The cursor would jump to the first tab stop just like after adding a snippet.
* If the original cursor included a

[2020-02-19 20:15] letmaik commented on #79371
@alexr00 @sbatten With https://github.com/microsoft/vscode/commit/c303fc0ab24be137d4e365a024ec69cefbdfe979 my extension Git Tree Compare causes the new "A view with id `{0}` is already registered." error. Could you please comment on my last comment above?

[2020-02-19 20:20] reduckted commented on #90851
Yes, can this please be added? If I recall correctly, when a save participant timed out there would be something listed in the log or the developer tools window that told you what extension triggered the timeout. Now there's no information (that I can find) about what's causes the notification to appear.

[2020-02-19 20:28] ppwwyyxx opened #91018 "Customize the key for "open to side" in quickopen window"
Currently, `<Ctrl+Enter>` seems the only way to "open to side" inside a quickopen window (e.g. after using `<Ctrl+P>`).

I would like to customize the key to have unified experience with other editors I've used. Such feature is possible in ctrlp.vim or ivy (for emacs). Or even better, have different keys to open it to vertical side or horizontal side.

[2020-02-19 20:29] Tyriar commented on #90624
Ideally Feb as it should be simple

[2020-02-19 20:32] alexander-zolkin opened #91019 "View: Toggle Panel removes scrollbar from the panel."
Issue Type: <b>Bug</b>

Then I hotkey on "View: Toggle Panel", panel appears without a scrollbar but I can scroll with mouse wheel.

VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:50:36.977Z)
OS version: Linux x64 5.3.0-40-generic snap

[2020-02-19 20:34] dzintars commented on #90274
Looks like a similar issue. Saw this first time when made some changes in SVG.TS file.
Reloading window helps for some time.

![image](https://user-images.githubusercontent.com/547420/74873522-07283080-5368-11ea-8876-88a1ab70a14a.png)

[2020-02-19 20:35] arhoy commented on #90851
Yeah same I disabled both the ESLint and Prettier Extension and have not seen it pop up since. Obviously it is not super ideal.

[2020-02-19 20:37] Tyriar opened #91020 "Don't attempt sync when a machine is not being used"
Consider a user whose computer does not sleep (or does not for a long time) where VS Code is opened. I think right now regardless of focus or inactivity polling will still occur.

[2020-02-19 20:38] Tyriar commented on #91020
Actioning this could also help with this scenario:

The user has 2 machines opened, installs C# on one, waits 10 minutes and then marks to not sync. Ideally the second machine would never have installed the C# extension.

[2020-02-19 20:53] gazzar commented on #90371
Hi @Tyriar, the main one is #5940. There is also #43145 which is to do with pasting blocks at the ends of lines. I don't really think it is different, but was closed and reopened, perhaps because it contains extra detail about the behaviour of how this works in other editors such as Visual Studio.

[2020-02-19 21:05] yxiao-wish commented on #20013
any updates on this?

[2020-02-19 21:08] mattacosta commented on #86415
I don't believe so. My connection isn't accessible like that in reality. It's more like:
[code]

[2020-02-19 21:09] IllusionMH commented on #90962
In my case I would expect (or prefer) "Open search (viewlet)" (new action, only shows viewlet, no default keybinding, triggered on click) and "Find in Files" that like "Open search viewlet & Run search" (shows viewlet, populates search with selection if available, runs search).

My 5¢ on other proposed options:

2. Not a best option, but I have no problem with hitting <kbd>Enter</kbd>. However cur

[2020-02-19 21:15] mjbvz commented on #90602
@sbatten Stack does not makes much sense to me

[2020-02-19 21:18] octref commented on #90946
What do you mean by "there are many levels. The diff of Git is missing！"? Do you have a screenshot?

[2020-02-19 21:25] octref commented on #88396
You should open an upstream issue here: https://github.com/textmate/html.tmbundle

[2020-02-19 21:25] rderewianko opened #91021 "Notorize me!"
Issue Type: <b>Bug</b>

Hello,

VS code is not notorized for distribution on macos. Could that please be done?
https://developer.apple.com/documentation/xcode/notarizing_macos_software_before_distribution

Running commands like
`xcrun stapler validate /Applications/Visual\ Studio\ Code.app
Processing: /Applications/Visual Studio Code.app
Visual Studio Code.app does not have a ticket stapled to it.

[2020-02-19 21:37] rmanthorpe commented on #83425
@chrmarti would you consider this change? It's trivial to implement and an obvious missing feature.

[2020-02-19 21:38] Stefan-Z-Camilleri opened #91022 "When using dev containers on docker+wsl2, inotify events are not raised"
Issue Type: <b>Bug</b>

1- Install docker for windows
2- Create a devcontainer.json + dockerfile (or docker-compose)
3- Reopen your folder in your devcontainer
4- Create a simple react app and start it (or anything that can detect file-changes and reload itself)
5- Change the contents of a file

Expected:
- inotify event should be raised and changes detected followed by a rebuild (for example)

Ac

[2020-02-19 21:38] rmanthorpe commented on #83424
@chrmarti would you consider a PR for this if I implemented it?

[2020-02-19 21:43] alexdima commented on #90992
@Kinrany It looks that you are using a script which might use glyphs which are non-monospace. Can you please try `"editor.wrappingStrategy": "advanced"`?

[2020-02-19 21:49] alexdima commented on #90990
Thank you, I can reproduce! It reproduces when using wrapping

[2020-02-19 21:49] plynch-chwy opened #91023 "[folding] Command to jump to previous/next fold"
It would be useful for navigating code to have a command to jump to previous/next foldable line. This would allow me to easily jump to the lines that I can either fold/unfold.

[2020-02-19 21:52] joem-msft opened #91024 "[json schema 'defaultSnippets'] escaping of '$' chars don't work"
I'm adding a 'defaultSnippets' property to a schema in my workspace that has a tabstop and some '$' chars that need to be in the output.

Here's an example schema with a couple examples of the escaping:
[code]

Here's what the default snippet produces:
[code]

And this is what's expected (note the '$' chars before the occurrances of 'valueSuffix'):
[code]

I've tried many ways of escaping and noth

[2020-02-19 21:55] desnor opened #91025 "TypeScript and JavaScript Language Features, as well as VS Code, crashing intermittently"
Issue Type: <b>Bug</b>

VS Code just told me that the TypeScript and JavaScript Language Features extension crashed soon after restarting  five times overnight, so it will no longer start it.

Lately I've found my VS Code app to be very slow, and often it says that it has crashed unexpectedly, showing me a confirmation dialogue. I click OK and the application just continues as usual. So I'm not su

[2020-02-19 21:56] Tyriar opened #91026 "Progress icon is shown when sync server is slow to respond"
I don't think we want to be showing when the server is slow to respond to the user as when this does happen it should (hopefully) get resolved relatively quickly. A more toned down way of notifying would be preferable like an indicator inside the gear menu on the turn off sync icon, or alternatively none at all.

This has happened sometimes when tweaking with the infrastructure and while we'll try

[2020-02-19 22:00] JamieCorkhill commented on #90295
Just to let you know, @mjbvz, I found the source of the problem. Every single type def file and any usage of `reject`, `resolve`, `all`, `race`, etc., on Promise were all failing. It turns out it was due to a very badly made Intellisense extension for VS Code. Thanks for your help.

[2020-02-19 22:01] mattacosta commented on #91021
Already done. See #74782.

[2020-02-19 22:06] rderewianko commented on #91021
Wasn't on the one i pulled off the site this morning :(

[2020-02-19 22:06] roblourens commented on #90961
Out of curiosity @SamJust would you also want a setting to disable this in the search view, or is that not an issue for you?

[2020-02-19 22:15] #90953 closed

[2020-02-19 22:16] mattacosta commented on #91021
It won't be in the release build until early March. Until then, you have to use the [insiders build](https://code.visualstudio.com/insiders/).

[2020-02-19 22:19] heldrida opened #91027 "TypeScript language service died 5 times right after it got started. The service will not be restarted."
Issue Type: <b>Bug</b>

Started a new react project, worked on it for about an hour and suddenly started getting the TS crash message. I haven't installed any extensions to VS for the past weeks and been successfully using this setup without any issues.
I've checked if VSCode is running the latest version, which I confirm, so I suspect that my VSCode was auto updated, I'll try to find more details

[2020-02-19 22:20] mjbvz opened #91028 "Let extensions pre-populate the issue report dialog using the 'vscode.openIssueReporter' command"
**Background**
For the built-in JS/TS extension, we show a `report issue` button if the server crashes too many times. However we then have to follow up with users after this happens to get them to share the stack trace from the crash

**Feature request**
Add a `text` argument to the report issue command that is used to pre-populate the text area in the issue reporter dialog. I imagine the API for

[2020-02-19 22:21] octref commented on #87985
So you are saying you want to remove this suggestion?

![image](https://user-images.githubusercontent.com/4033249/74881980-25b80880-5323-11ea-8791-81bd96033bd3.png)

I'm afraid there's no customization now that can only allow you to remove one expansion.

[2020-02-19 22:22] heldrida commented on #91027
Disabled all extensions and the issue persists.

[2020-02-19 22:23] rderewianko commented on #91021
ahhh okay!

[2020-02-19 22:23] #91021 closed

[2020-02-19 22:28] mjbvz opened #91029 "Let the 'workbench.action.openIssueReporter' command work with built-in extensions"
**Feature Request**
The `workbench.action.openIssueReporter` command takes an extension argument so that extensions can open an issue reporter for that extension. I'd like to use this for the built-in JS/TS extension as well but cannot at the moment:

[code]

It'd be nice if for VS Code builtin extensions, we automatically changed the `source` field to `Visual Studio Code`

[2020-02-19 22:29] mjbvz commented on #91028
Also, potentially let extensions populate `title`

Anything that can make filing reports simpler for users

[2020-02-19 22:29] mjbvz commented on #91027
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/)?

[2020-02-19 22:30] mjbvz commented on #91025
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-02-19 22:31] mjbvz commented on #91004
Please file this issue agains the python extension

[2020-02-19 22:31] #91004 closed

[2020-02-19 22:31] #89844 closed

[2020-02-19 22:32] mjbvz commented on #91001
Closing since this works fine on VS Code insiders. The insiders build contains fixes for this problem

[2020-02-19 22:32] #91001 closed

[2020-02-19 22:32] mjbvz commented on #90980
Can you share the output of `code --status`

Also, does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/)?

[2020-02-19 22:33] mjbvz commented on #90963
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-02-19 22:33] jedwards1211 commented on #90206
In any case I imagine this is probably a low priority issue...I'd be more satisfied with a response like "well, I can see what you mean about how there's room for improvement in the ability to use tab completion for extensions together with Emmet, but there's too many higher priority things we have to deal with right now".

Because I'm sure you'd agree that Emmet shouldn't dominate *literally all

[2020-02-19 22:34] heldrida commented on #91027
@mjbvz can confirm that it works in "latest VS Code insiders build".

[2020-02-19 22:38] heldrida commented on #91027
Now going back to the version I was running, noticed that the Theme etc looks different. And the issue persists. Downloaded the latest VSCode version for Mac, settings are back, re-enabled all extensions. Issue persists.

[2020-02-19 22:40] Mat-Moo commented on #1012
Pretty stunned in over 30 years of development that insert doesn't do anything! Really?!

[2020-02-19 22:42] heldrida commented on #91027
Tried to uninstall and install latest -rc:

 npm install -g typescript@3.8.1-rc

Issue persists

[2020-02-19 22:42] cbtboss opened #91030 "VSCode newer than October (1.40) fails to open Citrix. "The Window is no longer responding""
All I found were marked closed.
 Happens in insider build.

- VSCode Version: 1.40 (started with 1.32 and worked my way through every installer released since 1.32.3. All work until I get to 1.40. Then all subsequent versions fail to open.).
- OS Version: Server 2012 Standard running Terminal Services/Citrix.

Steps to Reproduce:

1. Install Vscode 1.40 (or newer) on a Server running Citrix XenApp

[2020-02-19 22:44] kelchm commented on #88987
@Entomy I happened across this issue while looking for something unrelated and felt obligated to add a comment here.

I do hope your raised get taken seriously. I'm fortunate enough to not need to rely purely on keyboard navigation, but it's something I strive to in everything I build. I know from experience how hard it can be to build applications with accessibility in mind when the development t

[2020-02-19 22:44] IllusionMH opened #91031 "Ctrl+Up/Down and Stift+Tab trigger new search if focus "files to include/exclude" fields"
Issue Type: <b>Bug</b>

When <kbd>Ctrl</kbd>+<kbd>↑</kbd> or <kbd>Shift</kbd>+<kbd>Tab</kbd> focus "files to include" or "files to exclude" fields new search is triggered even if no changes were made. There are no problems if these actions focus "Search" and "Replace" fields or if I use <kbd>Tab</kbd>.

1. Make sure that `search.searchOnType` is `true` and you have search results in Find in Files

[2020-02-19 22:52] MarkBouk commented on #90885
I was able to reproduce this issue. I would be interested in attempting to make the fix if you don't mind. I have been looking for an entry point to contributing.

[2020-02-19 22:54] RMacfarlane opened #91032 "Issue reporter UI should better indicate that "Don't Know" cannot be used for submission"
Extracted from https://github.com/microsoft/vscode/issues/90937

VS Code version: Code 1.42.1 (c47d83b, 2020-02-11T14:44:27.652Z)
OS version: Darwin x64 19.3.0

[2020-02-19 22:58] heldrida commented on #91027
Fixed after:

- Updated macOS Mojave 10.14.6 to latest available software updates
- Installed latest typescript 3.7.5, as I've downgraded during tests, etc

[2020-02-19 23:06] Entomy commented on #88987
@kelchm Hi! Hopefully you find what you were trying to. If not, don't hesitate to ask. While I might overprocess some stuff, it does make me really good at finding things, and I can typically track down anything in under 10 minutes.

So this is sort of a running thing. It more or less started with my trying to share some insight, as I've worked in medicine for five years, helping take care of peop

[2020-02-19 23:35] AndrewRayCode opened #91033 "There is no keyboard shorcut to open keybindings.json"
There is no keyboard shortcut to open the page that customizes keyboard shortcuts.

keybindings.json is impossible to find :(

[2020-02-19 23:35] arhoy commented on #90851
If anyone on here does find a workable solution please post it to https://stackoverflow.com/questions/60271767/running-save-participants-runs-forever-on-file-save/60292628#60292628 also

[2020-02-19 23:37] mjbvz commented on #91028
I'm going to take a look for February because this is important for JS/TS

[2020-02-20 00:01] globules-io commented on #90996
Turns out PHP does not support operations on typed properties, closing.

[2020-02-20 00:01] #90996 closed

[2020-02-20 00:20] jvesouza commented on #90893
A problem I found is that using orca there is no return indicating that the file is selected or not when I press ctrl + shift + enter.
Perhaps this problem is related to the orca. I cannot test with another screen reader.

[2020-02-20 00:22] bwnl opened #91034 "editor.foldBackground affect editor.selectionBackground color"
Issue Type: <b>Performance Issue</b>

Set up editor.foldBackground or editor.selectionBackground in settings.json will affect display of the other. If editor.foldBackground is specified, folded code selected in editor will not have visible highlighting.

VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS version: Windows_NT x64 10.0.17134

[2020-02-20 00:46] JacksonKearl commented on #91000
What version of vscode are you on? I am able to search for this pattern:
![image](https://user-images.githubusercontent.com/8586769/74889916-4a1de000-5337-11ea-9bf9-843c2aebe175.png)

[2020-02-20 00:52] s50600822 commented on #91000
<img width="1128" alt="Screen Shot 2020-02-20 at 11 51 19 am" src="https://user-images.githubusercontent.com/5586453/74890181-64a79600-53d7-11ea-9e25-6dc4100ba59e.png">

[2020-02-20 01:37] stevenguh commented on #60579
I have another workaround that would allow you to pipe content to code. Note that this would not able open a nonexistent file.
[code]

[2020-02-20 01:41] ArturoDent commented on #91033
Are you talking about:

[2020-02-20 01:41] ezfe commented on #77949
This is happening to me on the latest version of Catalina

[2020-02-20 01:43] ArturoDent commented on #91024
Try escaping with a `$` so actualy `$$` to get one `$`.

[2020-02-20 01:46] ArturoDent commented on #91017
Is this extension what you want?  https://marketplace.visualstudio.com/items?itemName=danseethaler.tab-through-selections

[2020-02-20 01:48] trusktr opened #91036 "How is the proprietary build handled?"
I'm curious, I know VS Code ships with proprietary stuff, although this repo is marked as MIT. How is that managed (the licensing, distribution, and build) at a high level? I'm curious to know what path I might take to do similar in my project.

[2020-02-20 02:07] rsml commented on #91017
Yes! Thank you!

[2020-02-20 02:07] #91017 closed

[2020-02-20 02:13] roblourens commented on #91000
I think the "whole word" toggle is probably messing you up here. You can see that @JacksonKearl's results are all bordered by punctuation marks (non word characters) while yours are followed immediately by `at`, word characters.

The interpretation of the "whole word" flag can be confusing but I think this is essentially by design. Let me know if that doesn't help.

[2020-02-20 02:13] #91000 closed

[2020-02-20 02:23] sean-mcmanus opened #91037 "Debugging call stack is missing frames"
- VSCode Version: 1.42.1
- OS Version: Windows

Steps to Reproduce:

1. I'm using the C/C++ extension to debug C/C++ code, but the call stack is cutoff. The top of the call stack has no symbols, which could be the cause (deep call stacks with symbols at the top show all the frames)...this is with multiple threads as well. See the screenshot. There's no option to show more frames.

![image](https:/

[2020-02-20 02:25] sean-mcmanus commented on #91037
@pieandcakes @WardenGnaw The C/C++ extension wouldn't be the cause of this, right?

[2020-02-20 02:33] roblourens commented on #90962
Originally, clicking the search tab didn't copy text from the editor, but some mouse-oriented users specifically requested that, so we ended up at

like Jackson says. But I agree that with searchOnType, this has become a little too aggressive and I've been annoyed by this too.

I think I prefer this solution. I don't see the issue with history though.

This seems too aggressive - someone will remo

[2020-02-20 02:37] roblourens commented on #90859
Unfortunately, the trash is not supported when using remote development. I recommend using source control such as git carefully

https://github.com/microsoft/vscode-remote-release/issues/1770

[2020-02-20 02:37] #90859 closed

[2020-02-20 02:38] al-davis commented on #90861
Is other information needed ?

[2020-02-20 03:22] SPGoding opened #91038 "[semantic] [typescript] classify callbacks as function instead of parameter"
Issue Type: <b>Bug</b>

A **variable** whose type is function is colored as a function as the fix of ~~#89337~~, however a function **parameter** whose type is function is still colored as a parameter.

![image](https://user-images.githubusercontent.com/15277496/74897833-d9d68500-535d-11ea-9a5f-53809828cb45.png)

[code]

Also relates to #90853.

VS Code version: Code - Insiders 1.43.0-insider (13d

[2020-02-20 03:49] vlad-vinogradov commented on #90929
@alexdima
This new feature should be clearly described in the documentation. And there should be an option to disable this feature in the Settings.

I suppose that many Linux users of VS Code recently went to the store to buy a new keyboard )))

[2020-02-20 03:52] deepak1556 commented on #89581
Can you try disabling hw acceleration https://code.visualstudio.com/updates/v1_40#_disable-gpu-acceleration and see if it still crashes. Possible duplicate of https://github.com/microsoft/vscode/issues/84745

[2020-02-20 03:55] deepak1556 commented on #91030
This is duplicate of https://github.com/microsoft/vscode/issues/84914, please try the workaround mentioned in that issue https://github.com/microsoft/vscode/issues/84914#issuecomment-556033410 , thanks!

[2020-02-20 03:55] #91030 closed

[2020-02-20 03:58] bsutton commented on #90929
@alexdima I have to say that this is an odd decision.
Every editor/word processor/application...... I've ever used causes a paste action from the clipboard.

This goes back to at least windows 3.x (yes I'm that old).

The linux terminal is the one exception that I know of and for the terminal we have middle mouse button to paste from selected.

Yes you can modify it which is great, but I can so no

[2020-02-20 03:59] deepak1556 commented on #90443
@ThomasSKokholm can you try the workaround mentioned here https://github.com/microsoft/vscode/issues/84914#issuecomment-556033410 for citrix environment to prevent code from crashing.

[2020-02-20 04:02] kalingibbons commented on #90520
God Yes! The debugger is damn near unusable in this current state. If I'm moving quickly, the history suggestion will substitute something like this:

![image](https://user-images.githubusercontent.com/11838956/74899352-e78a0b80-5359-11ea-939e-4637bb7a92b5.png)

Then, while I'm fixing it, it will autocomplete a different, but still totally wrong history item. It basically takes me 3 to 5 attempts

[2020-02-20 04:03] mjbvz commented on #91005
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-02-20 04:03] deepak1556 commented on #88068
@stukey Thanks for confirming the fix, as for what changed, citrix just started rejecting apps with delay load mechanisms for dlls, its something that should be fixed on their end, please follow up with citrix team for a more concrete solution and do update here with progress, would help other community members.

[2020-02-20 04:04] deepak1556 commented on #88068
@juanpecatala can you open a separate issue for the slow startup following the steps in https://github.com/Microsoft/vscode/wiki/Performance-Issues#visual-studio-code-starts-up-slowly ,  I am afraid it might another citrix issue for bypassing their hooks but better to track separately.

I am closing this issue as the root cause is now mitigated.

[2020-02-20 04:04] #88068 closed

[2020-02-20 04:06] chhavikishore commented on #90982
In the Packaging section of How to Contribute section it's written how to package it. I just followed the steps from there and tried to package it using the command : yarn run gulp vscode-linux-x64-build-deb. For reference use the link : https://github.com/Microsoft/vscode/wiki/Cross-Compiling-for-Debian-Based-Linux
I just used the last command and changed arm to x64 for my OS and it built a packa

[2020-02-20 04:43] cbtboss commented on #91030
Oh heavens... thank you soo much! I do apologize for the duplicate.

[2020-02-20 04:57] roblourens commented on #90981
This is actually by design and is consistent with the way we generally use the term "workspace". I get the confusion but don't plan to change it.

[2020-02-20 05:00] roblourens commented on #87254
That's interesting, I'll try to repro this with some containers running.

No need to downgrade, but please let me know how it goes with searchOnType enabled, thanks!

[2020-02-20 05:03] ankitkanojia opened #91040 "Automatic Fetch Run Or F5 debug/run button based on application type."
Actually, when create a react application from Visual studio code, we get successfully created the react project within the desired place, But the most difficult issue is we need to run the whole application either by the command(from the terminal) or need to install the appropriate plugin for the same.

Is that possible that whenever the project is rendered or selected it should automatically ren

[2020-02-20 05:04] PlanMan1717 opened #91041 "Multiline Comments not rendering Correctly in Python (Request for change... not explicitly a bug)"
I am using version 1.42.1 of VS Code, on Windows 10 Home.
If it is a problem with my editor theme -- well, i'm using the very popular One Dark Pro theme.
It may not be a problem with the theme. Because _`/*...*/`_ is recognised when I program C++
and _``_ in HTML. And so forth.

I wish that I could have them rendered as the fancy comment style.
_`#i want this this`_ `'''but it's kind of like this'

[2020-02-20 05:20] #90918 closed

[2020-02-20 05:32] jaredyam opened #91043 "Terminal prompt emoji chars conflict with each other"
- VSCode Version: 1..42.1
- OS Version:  macOS Catalina 10.15.3 (19D76)

Steps to Reproduce:

1. **Zsh theme setting**
I am using iTerm2 with `spaceship` theme. Using the zsh config below
[code]
I can get the bash prompt looks like this:
![image](https://user-images.githubusercontent.com/50312506/74903532-26fd3a00-53e4-11ea-9d56-f2293b395b6e.png)

2. **Open the vscode Terminal**
All emoji chars ha

[2020-02-20 05:41] Mahfuzarrahman-sys opened #91044 "The terminal process terminated with exit code: 3221225477"
Issue Type: <b>Bug</b>

When I open new terminal shows The terminal process terminated with exit code: 3221225477

VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:46:03.121Z)
OS version: Windows_NT ia32 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-3217U CPU @ 1.80GHz (4 x 1795)|
|GPU Status|2d_canvas: en

[2020-02-20 05:49] gusbemacbe commented on #90649
Hello @bpasero, @JacksonKearl, @roblourens  @sandy081 and @Tyriar  !

I have read another topic about the workspaces with few extensions (#15611). According to you, the enabled extensions in each workspace are locally stored in the cache folder `Code - Insiders/User/workspaceStorage/`, the problem is that we want to back up the workspaces and the settings and it is useless to copy the whole `works

[2020-02-20 05:55] prasadz133 opened #91045 "Suggestions and Intellicode no longer working after changing color theme"
what I did is just changed the color theme and after that, it is stopped working as expected regular behavior, It is **not showing suggestions**, **VS Code IntelliCode** also not working as before I have done efforts of my side as like uninstalled all extensions and installed them again, deleted VS Code from applications and installed it again.
In the image, You can see the extensions which are us

[2020-02-20 06:03] snuman402 commented on #42051
Thanks a ton @benday .

[2020-02-20 06:05] ProgrammingLife opened #91046 "High CPU usage when typing a comment (~15%)"
- VSCode Version: 1.42.1
- OS Version: Linux Mint 19.3

Steps to Reproduce:

1. Start typing any comment like this: // asdf asdf asd fasd asdf
2. CPU goes from 0-1% usage up to 15% and never falling back to 1% while you are still typing a comment

Looks like it didn't work like this in the previous version of VS Code. Right just after update.
There is no such big CPU usage when I type just a text

[2020-02-20 06:19] bpasero commented on #90926
A bug in file watchers, reported as https://github.com/paulmillr/chokidar/issues/977

[2020-02-20 06:37] malsaro opened #91047 "Live Share Extension"
Issue Type: <b>Bug</b>

I can't install the Live share extension

VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) CPU E5-2687W v3 @ 3.10GHz (20 x 3093)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d:

[2020-02-20 06:42] BaibhaVatsa opened #91048 "Redundant flags in tsconfig"
[tsconfig.base.json](https://github.com/microsoft/vscode/blob/master/src/tsconfig.base.json) has "strict" set to true, which [automatically enables](https://www.typescriptlang.org/docs/handbook/compiler-options.html) "noImplicitAny", "noImplicitThis", and "alwaysStrict" but they are set to true explicitly anyway in the same file which is just redundant.

[2020-02-20 06:44] SanJin-hx opened #91049 "1.43 insider error Illegal value for 'line'"
[code]

![image](https://user-images.githubusercontent.com/26178326/74907901-52d1ed00-53ef-11ea-8b4d-bbcc03f3cae0.png)

[2020-02-20 06:48] tashbenbetov commented on #89654
Also have this problem

[2020-02-20 06:58] Kinrany commented on #90992
That helped, thanks!

I wonder if this is something that could be detected automatically?

[2020-02-20 06:58] #90992 closed

[2020-02-20 07:03] #90973 closed

[2020-02-20 07:13] alexdima opened #91051 "Investigate what Shift+Insert should do by default on Linux"
With #36170, we have changed Shift+Insert on linux to paste from the selection clipboard. There are a lot of complaints following this change - #90929, #90297, #90637, #90716

This issue is a plan item to investigate what do other well established Linux code editors do by default and then see what is expected.

fyi @Tyriar

[2020-02-20 07:14] alexdima commented on #90929
I've opened #91051 to investigate what other code editors do by default.

[2020-02-20 07:21] ImkeF commented on #90956
Thanks @IllusionMH ,
but this would only be the last resort, as we want to run intermediate builds as well. We're multiple authors working on cloned GitHub repos, so interested to keep the relative path syntax in the files.

[2020-02-20 07:50] j3mdamas opened #91052 "Extension installation failing from CLI but not GUI"
- VSCode Version: 1.42.1; c47d83b293181d9be64f27ff093689e8e7aed054; x64
- OS Version: Ubuntu 16.04.6 LTS

Steps to Reproduce:

Installing extension from command line using `code --install-extension vscoss.vscode-ansible` fails with:
[code]
Installing extensions from the GUI works fine.

I sit behind a corporate proxy and I need to use corporate CA. For Chrome, I use `libnss3-tools` and `certutil`

[2020-02-20 07:51] rmanthorpe commented on #90521
@brunnerh if we could disable `matchOnLabel` (see #83425) you could just disable matching and implement the filtering yourself before you put the `QuickPickItem`s into the `QuickPick`. Coupled with custom highlighting (#83424)  you would be able to do whatever you like.

[2020-02-20 08:00] BorisPolonsky opened #91053 "Resolve Environment Variables in Args defined in launch.json for Debugging"
For debugging configuration in `launch.json`, it will be helpful if VSCcode resolves environment variables (defined in `env`) in `args`.

 A typical user case will be something like this:
[code]
where the user may wish to alter values of key `vocab_file`, `bert_config_file` and `init_checkpoint` in `args` in one shot by defining environment variables in `env`, instead of repeatedly searching and s

[2020-02-20 08:08] sandy081 commented on #90624
May I know why the writes from B go in a loop? Are you saying that server cache will not get updated at all with the write from A?

[2020-02-20 08:09] gjsjohnmurray commented on #91046
What language are you coding in? And does the problem also happen if you launch with all extensions disabled?

[2020-02-20 08:10] sandy081 commented on #90921
Please close this if fixed on server.

[2020-02-20 08:13] gjsjohnmurray commented on #91049
Seems to be coming from your spywhere.guides extension. Please report in on that extension's repo and close here.

[2020-02-20 08:14] sandy081 commented on #91020
Not sure if it is intended but I like my machine gets synced automatically. If user does not want that then he/she should pause the sync.

I think this was brought up because of the scenario - user wants to try out an extension which is getting installed on all machines automatically. IMO it is a different issue than this which has to solved differently.

[2020-02-20 08:15] sandy081 opened #91054 "Ability to install an extension without getting synced"
If user has 2 machines opened, installs C# on one, waits 10 minutes and then marks to not sync. Ideally the second machine would never have installed the C# extension.

[2020-02-20 08:16] chrisaramar opened #91055 "[Feature Request]: Variable Watch Folders"
Hi I would like to request a feature which I think is really simple and helps a lot.

While debugging my python scripts I like to use the "watch" for variables to see whats their value.

My request is:

Add folders to watch so you can group watch variables and so it's possible to fold them and unfold them. This is helpfull if you debug a script through multiple function calls which are not in the

[2020-02-20 08:20] sandy081 commented on #90649
May I know why you would like to backup user data (settings etc)? Is it for syncing across machines?

Is your request similar to this - https://github.com/microsoft/vscode/issues/40239 ?

[2020-02-20 08:22] sandy081 commented on #91026
/duplicate

https://github.com/microsoft/vscode/issues/89006

[2020-02-20 08:27] sandy081 commented on #90986
Sorry I can't reproduce.
- Can you please try with our latest insiders
- Also please open the settings file (which is the truth behind the UI) and check if the file is getting updated or not?

[2020-02-20 08:28] jrieken commented on #90851
@hyangah Puzzled because there shouldn't be soo many participants running. When users press save we invoke formatters (when enabled) and code actions (when enabled). There is always only one formatter per language and there shouldn't soo many code action providers for go either. Anyways, there are log entries about the extensions that we are invoking:

* F1 > Set Log Level > Trace
* Output > Log (

[2020-02-20 08:31] sandy081 commented on #90936
I do not think there is a way to have sticky hover. For discoverability we can add keyboard shortcut label to the command in the hover so that you can use the keyboard shortcut if hover is not accessible.

[2020-02-20 08:32] aeschli commented on #90379
Yes, the semantic highlight has no understanding of 'built-in' types.
If you want to file an feature request...

[2020-02-20 08:32] gjsjohnmurray commented on #91053
@BorisPolonsky the correct link to the issue you raised on the extension's repo is https://github.com/microsoft/vscode-python/issues/10163

I think the extension needs to adopt the new-in-1.42 `DebugConfigurationProvider` hook `ResolveDebugConfigurationWithSubstitutedVariables` that receives the debug configurations with all variables resolved. Details can be found in #89375

[2020-02-20 08:35] sandy081 commented on #90923
No hard opinions. Changed it to Replace Local.

[2020-02-20 08:35] aeschli commented on #91038
Hm, that's actually intentionally. Parameters are always parameters.
It's only variables that can be functions, and properties will become members.

Id like to keep parameters as parameters.

[2020-02-20 08:35] #90923 closed

[2020-02-20 08:38] aeschli commented on #90899
It's likely unrelated to the WSL extesnion. Try to shutdown the WSL distro and restart it.
`wsl -d <distro> --shutdown`

[2020-02-20 08:38] gjsjohnmurray commented on #91041
Please paste screenshots of what you're getting and a mockup of what you want. Most web browsers can paste a clipboard image direct into the GH comment input field. Please also test with the default schemes (Dark+ or Light+).

[2020-02-20 08:41] sandy081 commented on #90890
By static diagnostics you mean those created using tasks?

[2020-02-20 08:45] gjsjohnmurray commented on #91044
/duplicate of #88780. You are running VS Code on 32-bit Windows 7, which is no longer supported.

[2020-02-20 08:46] EsaHeikkiPoutanen opened #91056 "can't deploy to Azure when not connected to GitHub ?"
We have written the needed data int
Issue Type: <b>Bug</b>

In trying to delploy my Python function to Azure, the deployment stalls in
Connect to a GitHub Repository... and I get an error message:
'Azure GitHub token is Invalid' Authorize in the "Deployment Center"

- this is my first ever Python function and don't yet know into which repository it should go...but I'd like to test it in Azure, so

[2020-02-20 08:49] sandy081 commented on #62531
@Dfinity-Alin not sure how the problems view can be helpful here. Please contact the rust extension to avoid such noise.

[2020-02-20 08:54] gjsjohnmurray commented on #85548
This seems to have landed in today's Insiders. I noticed that we're getting a focus rectangle that doesn't occur on Stable:

![image](https://user-images.githubusercontent.com/6726799/74916894-8f392500-53be-11ea-97b6-0c9e823e4ab8.png)

[2020-02-20 08:54] #90536 closed

[2020-02-20 08:54] #90526 closed

[2020-02-20 08:55] 13714273163 opened #91057 "Couldn't save code（vue）"
Version: 1.42.1 (user setup)
Commit: c47d83b293181d9be64f27ff093689e8e7aed054
Date: 2020-02-11T14:45:59.656Z
Electron: 6.1.6
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 6.1.7601

question:Every time I save, it appears as shown in the figure, which prevents me from saving the code：Running Save Participants for 'xxxx': Quick Fixes
![question](https://user-image

[2020-02-20 08:58] sandy081 commented on #90608
Looks like the stack is not correct. It would be great if you can give me the right stack trace.

[2020-02-20 08:58] #90608 closed

[2020-02-20 09:00] #91047 closed

[2020-02-20 09:00] sandy081 commented on #90282
Can't reproduce this. Any other steps which I am missing here?

[2020-02-20 09:06] paulmillr commented on #90926
Is that related to case-sensitive, or case-insensitive filesystem?

[2020-02-20 09:07] sandy081 commented on #90249
I tried the sample and it worked for me. I do not see any errors. Can you please open extensions folder and check if extension you wanted is properly installed?

[2020-02-20 09:07] gjsjohnmurray commented on #91034
Add a transparency value to your `editor.foldBackground`

![image](https://user-images.githubusercontent.com/6726799/74918032-687bee00-53c0-11ea-9076-937b4564f429.png)

[2020-02-20 09:09] #90885 closed

[2020-02-20 09:09] bpasero commented on #90885
Thanks but I think this was really hard to figure out.

[2020-02-20 09:10] gjsjohnmurray commented on #91057
Possible duplicate of #90889

[2020-02-20 09:11] #77728 closed

[2020-02-20 09:14] isidorn commented on #91009
Not sure if `^` is supported in the engines field. Myabe try some other version. Since you are running vsce forwarding this issue to @joaomoreno

[2020-02-20 09:15] isidorn commented on #85548
@gjsjohnmurray correct. We decided to change that behavior, that focus is first passed to the view, and then the user can navigate to focus what button / text he wants. We think this makes the most sense from the accessibility standpoint.

[2020-02-20 09:15] bpasero opened #91058 "ContextKey: weird behaviour in this case"
I figured this out after a long time looking into https://github.com/microsoft/vscode/issues/90885 and wonder if this is a more general issue with context keys.

Steps to see the bug:
* revert https://github.com/microsoft/vscode/commit/a3c79c70b027aa7ad24be3b681f6dcc76a8d6931
* open vscode out of sources with no file open
* open 1 file
* click split button
* right click into that split editor tab

[2020-02-20 09:16] syberen opened #91059 "Python testing: Codelens adornments keep disappearing, reappearing while typing"
- VSCode Version: 1.42.1
- OS Version: MacOS Catalina 10.15.2

Steps to Reproduce:

1. Use `Discover tests` to show Codelens adornments
2. Type in the tests

Example of what is happening:
![seasick](https://user-images.githubusercontent.com/34777982/74918794-ea244980-53c9-11ea-8d42-60e3398fa528.gif)

Does this issue occur when all extensions are disabled?: No

[2020-02-20 09:17] bpasero commented on #90926
@paulmillr this is on macOS where by default the file system is case-preserving but case-insensitive (same as Windows).

[2020-02-20 09:18] bpasero commented on #90274
@dzintars please report as separate issue, maybe to the extension author

[2020-02-20 09:18] bpasero commented on #90937
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2020-02-20 09:19] #91007 closed

[2020-02-20 09:20] isidorn commented on #91007
Check out some extensions like Open in Github, and GitHub PR extension which shuold have copy line location
fyi @alexr00

[2020-02-20 09:21] #91049 closed

[2020-02-20 09:21] isidorn commented on #91053
Thanks a lot @gjsjohnmurray for answering. Thus closing, please continue the discussion in the python respository

[2020-02-20 09:21] #91053 closed

[2020-02-20 09:22] #91059 closed

[2020-02-20 09:23] gjsjohnmurray commented on #90981
@roblourens I take your point. Would you at consider making the hover tips for those tabs display the fullly-pathed name of the file that each one affects? At the moment the only way I know of discovering this is to use the Open Settings (JSON) button.

[2020-02-20 09:24] sandy081 commented on #91033
Yes it has no shortcut by default. You can assign one from Keyboard Shortcuts Editor.

[2020-02-20 09:24] #91033 closed

[2020-02-20 09:27] #89562 closed

[2020-02-20 09:27] isidorn commented on #91037
1. Do you see VS code requesting for the top of the call stack in the C++ extension
2. Is the C++ extension properly responding to this request
3. Can you reproduce with vscode insiders?

No other extension is seeing this, thus my main suspicion would be in the extension code.

[2020-02-20 09:30] #90894 closed

[2020-02-20 09:30] isidorn commented on #91040
This is currently not possible due to the debug architecture on the vscode side. We can not automatically infer what debugger to use etc
However soon the extensions will be able to contribute actions to the debug start view and potentially the angualr extension could  contribute an action there to make this experience better.
Due to that closing this issue

[2020-02-20 09:30] #91040 closed

[2020-02-20 09:31] isidorn commented on #91055
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog and we might add this in the future. Thanks

[2020-02-20 09:33] #91034 closed

[2020-02-20 09:34] aeschli commented on #91034
Yes, that's correct, the `editor.foldBackground` should always be defined with a transparency value.
I updated the description.

[2020-02-20 09:34] rexx6 opened #91060 "Wrong Cursor column numbers"
- VSCode Version: 1.42.1
- OS Version: windows7

Does this issue occur when all extensions are disabled?: Yes

![foo1](https://user-images.githubusercontent.com/28583017/74920455-86247400-540f-11ea-95bd-7ebfb0471f74.gif)

Hello!

As shown in the attached figure,

the cursor is in the same position but the numbers are wrong.

How can I solve this?

In the case of 2-byte characters, that phenomenon

[2020-02-20 09:38] #90990 closed

[2020-02-20 09:41] Dfinity-Alin commented on #62531
I did contact them. There are a handful of related bugs filed against RLS (the link in my previous post is one). And there are currently [273 Google search exact matches](https://www.google.com/search?q=%22found+possibly+newer+version+of+crate%22) for "found possibly newer version of crate", with 7 of the first 10 being GitHub issues raised against various `rust-lang` projects, going all the way b

[2020-02-20 09:41] aeschli commented on #91024
'\' is the correct escape character: See https://code.visualstudio.com/docs/editor/userdefinedsnippets#_grammar

But as this inside a JSON string and `\` is also the JSON escape character, you need `\\`.

[2020-02-20 09:41] #91024 closed

[2020-02-20 09:42] isidorn opened #91061 "List should announce how many items are selected"
1. Turn on Screen Reader
2. Add an element to the List selection such that you have two items selected - Screen reader does not announce that an item is added to the selection

I have checked what native Windows Explorer does with NVDA - nothing.
And what Finder does with VoiceOver on mac - and they announce when the element after the first is added to the selection.
It announces `NAME added to se

[2020-02-20 09:42] isidorn commented on #90893
Adding verified label since this works as expected.
@jvesouza you are correct, this is missing. For this I have filed this issue https://github.com/microsoft/vscode/issues/91061

[2020-02-20 09:44] weinand commented on #91009
I think Andrii's workaround is the only way to get rid of this warning.

(I'm just ignoring the warning)

[2020-02-20 09:45] gjsjohnmurray opened #91062 "Duplicate SOURCE CONTROL PROVIDERS header"
Issue Type: <b>Bug</b>

My user settings include `"scm.alwaysShowProviders": true`

Since https://github.com/microsoft/vscode/issues/61491#issuecomment-586945696 the welcome experience on SCM (new window, no file or folder open) is producing a doubled header:

![image](https://user-images.githubusercontent.com/6726799/74921290-7f710f00-53c5-11ea-92e2-384bab76408c.png)

Tested with extensions disab

[2020-02-20 09:46] alexdima commented on #91010
@mwpowellhtx VS Code has the following options around indentation settings:
[code]
By default, `editor.detectIndentation` is true, which means that whenever a file is opened, the indentation settings are picked up from the file. If the file is empty or has no indented lines, the indentation cannot be detected, and the values `editor.tabSize` and `editor.insertSpaces` are used.

If `editor.detectIn

[2020-02-20 09:52] Madd0g commented on #90282
@sandy081 - I couldn't reproduce it again 5 minutes after it happened (and it hasn't happened since then), but since I remembered the exact steps that caused it, I thought I should open an issue just in case.

[2020-02-20 09:52] isidorn opened #91063 "Test: VS Code with Orca screen reader"
Refs: https://github.com/microsoft/vscode/issues/90446

- [x] Linux @joaomoreno
- [x] Linux @rebornix

Complexity: 4

We are now supporting Orca screen reader on Linux. We should do some exploratory testing on how Orca behaves with VS Code. File issues to me @isidorn and then I will forward them to the corresponding owner.

1. Configure Orca to use the latest version by following these [instructio

[2020-02-20 09:52] IvanShvetsAMD commented on #90378
Disabling would allow at least for:
1) Keep the contents hidden from view
2) Allow more tabs to be opened within the same size of the VS Code window
3) Keep the layout simpler

[2020-02-20 09:53] isidorn commented on #90446
@alex19EP awesome, thanks a lot for trying it out.

Next week we plan to do some testing in our team of Orca screen reader with VS Code. For reference here's the test plan item https://github.com/microsoft/vscode/issues/91063

Also I tried sending some email to the Orca mailing list, not sure if you recieved them or they are still waiting for administration?

[2020-02-20 09:55] vas1468 commented on #60043
any update regarding this? @N7K4 idea is what I was looking as well.

[2020-02-20 09:55] yizeAnkh opened #91064 "Post-installation tip: The selected drive or UNC share does not exist or is inaccessible. Please choose another"
- VSCode Version: 1.42.1
- OS Version: win 10

Steps to Reproduce:

1.I deleted the vscode software file between them, and the disk on which It was also formatted and merged into other disks
2.Now download the installation package again to reinstall, there is no place to select the installation directory and prompt "The selected drive or UNC share does not exist or is inaccessible." Please select

[2020-02-20 09:58] chrisjj commented on #90679
bot wrote:

Where did the bot get the idea this is a feature request? It is not. It is a bug report.

[2020-02-20 09:59] RodrigoRoaRodriguez opened #91065 "Cannot edit in "Open Changes" diff-view"
- VSCode Version: 1.42
- OS Version: macOS Catalina 10.15.3

Steps to Reproduce:

1. Open a file with changes
2. Press on the "Open Changes" icon
3. Try to edit either the left or the right side

Expected behavior:
Both sides of the diff-editor are editable

Actual behavior:
Neither side is editable.  Both editors are read only and display a "Cannot edit in read-only editor" tooltip

![image](http

[2020-02-20 10:00] jrieken commented on #90068
@alexdima fyi I have pushed support for `NearTopIfOutsideViewport` and adopted it for outline and goto symbols. I am also considering to adopt this for breadcrumbs and quick outline

[2020-02-20 10:01] #90520 closed

[2020-02-20 10:01] isidorn commented on #90520
Added `debug.console.historySuggestions` which by default is `true`. So you can set it to `falser`.
You can try it out in tomorrow's vscode insdiers.
Thanks for feedback

[2020-02-20 10:04] #88810 closed

[2020-02-20 10:05] ritatinoco opened #91066 "Visual Studio code hangs after killing the Terminal"
Issue Type: <b>Bug</b>

When I debug a some karma tests and then click on kill terminal my vs code hangs and then crashes.

This also happens on tasks that didn't completed yet and I simply kill it before ending

VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Va

[2020-02-20 10:07] alexdima commented on #91058
@bpasero

`undefined` behaves differently than `false` when it comes to inheriting contexts, which appears that the workbench is making heavy use of. I have added tracing to how the context key `isFileSystemResource` is used. This can be done in here -- https://github.com/microsoft/vscode/blob/093ada38305dc4b26bdfb62ae86bca245cb9d233/src/vs/platform/contextkey/browser/contextKeyService.ts#L29-L53

[2020-02-20 10:07] #91058 closed

[2020-02-20 10:12] #90484 closed

[2020-02-20 10:12] sandy081 commented on #90679
I do not think it is a bug as the current behaviour is intended. This request is to change the behaviour.

[2020-02-20 10:14] sandy081 commented on #90282
Not sure if I can be helpful without able to repro it.

[2020-02-20 10:15] alexdima commented on #90068
Thanks @jrieken !

[2020-02-20 10:15] jvesouza commented on #90893
Another problem using orca is that when I browse the list, orca does not announce the selected items, if one is selected.

[2020-02-20 10:17] bsutton commented on #90929
I've used shift-insert for 30 years and don't remember any editor working
the way vscode does now.

On Thu, 20 Feb 2020, 6:15 pm Alexandru Dima, <notifications@github.com>
wrote:

[2020-02-20 10:17] gjsjohnmurray commented on #91062
cc @joaomoreno

[2020-02-20 10:17] chrisjj commented on #90679
Since I doubt the bot read your mind :) my question stands.

[2020-02-20 10:20] IllusionMH commented on #91009
Sorry, removed initial answer, because only later noticed that yarn wasn't launched directly and I wasn't sure if option can be passes. Original answer below:

[2020-02-20 10:24] isidorn commented on #90605
That stack trace is minified. The only thing I see is that I am calling `updateChildren` from the variables tree and that the tree throws that the element is not found. Which should not happen.
@joaomoreno is there something I am missing here?

[2020-02-20 10:27] isidorn commented on #90893
@jvesouza that sounds like an Orca issue. Can you maybe send a mail to the orca list and ask them the following:
* VS Code sets the `aria-selected: true` and Orca does not announce that the item is selected. What is missing here?

[2020-02-20 10:32] AlexWayfer commented on #88810
@isidorn, this issue is duplicate of what issue? #89849 mentioned above? 89849 is greater than 88810, so that is duplicate, not this.

[2020-02-20 10:35] jvesouza commented on #90446
@isidorn I did not receive any email from you on the orca list.
It may be worth sending an email to Joan Marie Diggs <diggs@igalia.com> because if I am not mistaken, she is the administrator of the list.

[2020-02-20 10:37] bsutton commented on #90929
The list of editors that I currently use that work the way I expect:
Eclipse
Intellij
Word
Libre Office
Google docs
Notepad
Leaf
Chrome's search bar :)
gmail's editor
Even the gnome terminal's Find field.
Any text field in any app that I've ever used.

The only 'editors' that I know of that don't support the default
shift-insert are
vi
terminal.

On Thu, 20 Feb 2020, 6:15 pm Alexandru Dima, <notif

[2020-02-20 10:37] Anatoly-IVANOV opened #91067 "Gutter -- editorGutter.border property to add a line between the editor text and the area of expand / git / line numbers"
An extra visual separator when just the background is not quite enough. Similar to what sideBarSectionHeader.border does already. As it is, VS code is a bit too flat, UI wise.

An option to add and style a vertical line between the editor text and the area of expand / git / line numbers.

An improvement on the already present editorGutter.background property.

Ideally, editorGutter.border.width an

[2020-02-20 10:37] bsutton commented on #91051
The list of editors that I currently use that work the way I expect:
Eclipse
Intellij
Word
Libre Office
Google docs
Notepad
Leaf
Chrome's search bar :)
gmail's editor
Even the gnome terminal's Find field.
Any text field in any app that I've ever used.

The only 'editors' that I know of that don't support the default
shift-insert are
vi
terminal.

[2020-02-20 10:38] ernestochaves commented on #90899
Please close. This was blocked by Windows defender. Was working until the
day before.

El jue., 20 feb. 2020 2:38 a. m., Martin Aeschlimann <
notifications@github.com> escribió:

[2020-02-20 10:42] gjsjohnmurray commented on #91066
Can you reproduce this after running the command to reload with all extensions disabled?

If so, [follow these steps to capture the native crash](https://github.com/Microsoft/vscode/wiki/Native-Crash-Issues#windows).

[2020-02-20 10:44] CherryDT opened #91068 "JS semantic highlighting in some instances makes code actually harder to read"
Issue Type: <b>Bug</b>

For a few days now I'm seeing an issue with JS syntax highlighting. I'm using latest VSCode Insiders and I tried with extensions disabled, and it still happens.

Suppose I have a JS file with these contents:

[code]

When I start VSCode, initially it looks correct:

![image](https://user-images.githubusercontent.com/6010463/74926496-43927580-53d6-11ea-9dcf-cc1f13eb8ec1.png)

[2020-02-20 10:50] IllusionMH commented on #91068
This works as intended after implementation of [Semantic highlighting for TypeScript & JavaScrip](https://code.visualstudio.com/updates/v1_42#_semantic-highlighting-for-typescript-javascript)

It is enabled by default in Insider builds and can be turned off with `"editor.semanticHighlighting.enabled": false` to always use highlight based on TM grammars.

/cc @aeschli

[2020-02-20 10:58] c0ncentus opened #91069 "Source code don't show change"
Issue Type: <b>Bug</b>

For managing my package on npm i make 'tsc' on terminal  and show usually 260 changes(with *.js, *.d.ts)  when i run command, then I discard the main changes because only ts file is needed on repo. I don't even know what trigger the issue instead : / . I do the same things since a lot of time ('tsc' command and discard all file with *.js, *.d.ts)

The other projects I have

[2020-02-20 11:00] gjsjohnmurray opened #91070 "Inconsistent capitalization in Git (git?) welcome text on SCM viewlet"
Issue Type: <b>Bug</b>

Since https://github.com/microsoft/vscode/issues/61491#issuecomment-586945696 the content shown when no repository is open has improved. But capitalization of Git/git is inconsistent, e.g.

![image](https://user-images.githubusercontent.com/6726799/74927793-307ca700-53d0-11ea-8b57-bbe9ec8e09e2.png)

For other cases see @joaomoreno's screenshots in the #61491 comment linked

[2020-02-20 11:00] #89221 closed

[2020-02-20 11:02] c0ncentus commented on #91069
solve making right click-> my project  on source panel

[2020-02-20 11:02] #91069 closed

[2020-02-20 11:14] gjsjohnmurray commented on #91032
@RMacfarlane related to this issue, can @connor4312's [suggested improvement](https://github.com/microsoft/vscode/issues/73515#issuecomment-579853925) to the use-case of picking an extension without a GH repo also be implemented?

[2020-02-20 11:25] #90853 closed

[2020-02-20 11:31] Ares9323 opened #91071 "Copying files with double extension generates wrong file names"
Everytime I copy a file with a double extension the editor creates a new file with a "wrong name":

If I copy a .blade.php file (or a .min.css, .map.js) what I get is:
"Example.blade.php" -> "Example.blade copy.php"

I'd like to set it to "Example copy.blade.php",

I'm not sure if this is a bug or a feature request but It's very important to me, it would be a great time-saver

[2020-02-20 11:32] MohamedWagih96 commented on #90980
<pre>Version:          Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:50:36.977Z)
OS Version:       Linux x64 4.15.0-88-generic
CPUs:             Intel(R) Core(TM) i7-5500U CPU @ 2.40GHz (4 x 2770)
Memory (System):  7.71GB (2.04GB free)
Load (avg):       3, 2, 1
VM:               0%
Screen Reader:    no
Process Argv:     --disable-gpu --unity-launch
GPU Status:       2d_canva

[2020-02-20 11:34] georges-dib opened #91072 "Problem with staging and committing changes"
I went through the file and staged the changes that I wanted. When I clicked stage, nothing changed in the line highlight on the left, but in the changes panel, the file appeared in the staged section. I went and continued staging changes in the same file. Clicking on the staged file showed that there are no differences in the code at all.
I thought it was a UI issue, so I committed and pushed, an

[2020-02-20 11:35] senolfeldmann commented on #31153
This is exactly what I miss after switching from SmartGit to VS Code for git. So, please create a PR :)

[2020-02-20 11:36] aeschli commented on #90200
Colors always have to come from the color theme and are not part of the icon.
We should add a color property to the `TreeItem` with type `ThemeColor`.
Examples for that are the icon colors we have already added. See https://code.visualstudio.com/api/references/theme-color#symbol-icons

[2020-02-20 11:38] #90899 closed

[2020-02-20 11:44] aeschli commented on #91068
Interesting example.
- `console` got classified as a variable, as that's what it is. (Semantic highlighting has no concept of library variables and functions)
- `bbb` got classified as member as `String` is callable. Although that's true (`String(1)"`) that's not what users typically do with Strings.

[2020-02-20 11:45] sandy081 commented on #90239
Changed it to `disabled:true` and increased the content version. So older clients will not push the data and stop syncing.

[2020-02-20 11:47] CherryDT commented on #91068
Ah. It seems this feature is working against me. Thanks, I'll just disable it.

The problem is, it causes this sort of messed-up code for things like Mongoose model definitions:

![image](https://user-images.githubusercontent.com/6010463/74931058-30d06e80-53df-11ea-8b76-6e92a9918ab7.png)

[2020-02-20 11:49] Tyriar commented on #90624
MB asks server for write, server rejects with 412 (only db is validated for latest)
MB asks server for latest, server says everything is fine with 304 (cache is used if it exists)

[2020-02-20 11:49] LunaLovegoood opened #91073 "Unable to install and build all of the dependencies for VSCode 1.39.2"
I tried to install and build all of the dependencies using `yarn` (following these instructions [How to Contribute](https://github.com/Microsoft/vscode/wiki/How-to-Contribute)) for VSCode 1.39.2 (latest release) and received following error:
[code]

I tried building following native packages and didn't encounter any problems at all:
- bson;
- bufferutil;
- kerberos;
- node-sass;
- sqlite3;
- phant

[2020-02-20 11:53] LunaLovegoood commented on #91073
I tried solutions in this issue but they haven't solved my problem.

[2020-02-20 11:54] MohamedWagih96 commented on #90980
I tried it and it slightly better but the same problem remains. Moreover I think my OS become sluggish as soon as I launched VSCode Insider.
Here's the output of `code-insiders --status`

<pre>[11154:0220/134910.675787:ERROR:sandbox_linux.cc(369)] InitializeSandbox() called with multiple threads in process gpu-process.
<font color="#EF2929">[main 2020-02-20T11:49:10.699Z]</font> [File Watcher (nod

[2020-02-20 11:57] Tyriar commented on #89006
Also happens on desktop when the server is acting up: https://github.com/microsoft/vscode/issues/91026

[2020-02-20 11:57] #91026 closed

[2020-02-20 11:59] Tyriar commented on #91020
@sandy081 maybe this should be 2 issues, there's the ignore extension flow issue that was identified by the majority of the ux study participants and then there's the more pressing performance problem of machines that go unused still try to sync every 5 minutes, only stopping when VS Code is closed.

[2020-02-20 12:00] #90921 closed

[2020-02-20 12:00] owenblacker opened #91074 "Layout problems with bidirectional text lines"
- VSCode Version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
- OS Version: Windows_NT x64 10.0.16299
- OS locale: en-GB (British English)
- Does this issue occur when all extensions are disabled?: Yes
- Does this issue occur in the Insiders build?: Yes

I've just come across a bug in how VS Code handles bidi text on Windows. First off it gets it wrong in one w

[2020-02-20 12:07] SamJust commented on #90961
@roblourens Not really, because I usually search in a specific folder, so I don't get results in multiple folders. Though, I think, that if you are to add setting for file explorer, it'd be good to have one for search bar, for consistency.

[2020-02-20 12:14] TriMoon commented on #90979
Tanks a lot using it now :+1:

[2020-02-20 12:16] Tyriar commented on #91043
I believe this is already fixed, can you see if you can reproduce in the [Insiders build](https://code.visualstudio.com/insiders)?

[2020-02-20 12:16] #91043 closed

[2020-02-20 12:17] #91044 closed

[2020-02-20 12:19] Tyriar commented on #90928
They're rendered differently. You can change the terminal to work like the editor by setting renderer type to "dom" but it will be slower. This is AFAICT a limitation in the web platform around canvas, I guess because canvas isn't often rendering pixel-perfect glyphs like this.

It's my hope in the future that window.zoomLevel scales all the fonts instead of just telling Electron to change the zoo

[2020-02-20 12:21] Tyriar commented on #90988
@RMacfarlane wouldn't a generic sign in command be better than extension-specific ones? I'd prefer to see in the command palette just "Account: Sign In" rather than "Microsoft: Sign in", "GitHub: Sign in", etc.

[2020-02-20 12:24] CherryDT opened #91075 "File not marked as unchanged after undoing all changes"
Issue Type: <b>Bug</b>

I noticed that when I open a file, do a change and then undo the change with Ctrl+Z, the file will still display as changed. "Compare to saved" will show no changes, but the file will still show with a dot in the list/tab.

I am pretty sure this was different in the past, so this would be a regression.

(It sometimes happens that I open a file just to look something up, but

[2020-02-20 12:25] TriMoon opened #91076 "[RFI] inputs; selection with user input as choice."
Using these definitions:
[code]
It would be nice if we somehow could use the `promptString` entry as an option for the selections of the `pickString` entry.
I tried adding `"${input:hostname}"` to the options of it but that did not work...

[2020-02-20 12:28] deltadan opened #91087 "Automated install of CLI extension on azure VM via custom script extension"
I'm working on a project to help people use the azure CLI for doing azure administrations.  I've created a VM using the custom-script extension which to installs a bunch of tools (via chocolatey), including VSCODE and would like to auto-install this extension on provision.

The issue I'm running into is the extension seems to install to the user path rather than to a common location.

I was using

[2020-02-20 12:30] gusbemacbe commented on #90649
Yes, it is. I use @shanalikhan's [Settings Sync](https://github.com/shanalikhan/code-settings-sync). It backs up the workspace folder, but does not back up the `workSpaces` folder.

Reading this topic...:

- In @michaeljota's and @ramya-rao-a's case, he and she want to disable **some** extensions. In my case, I want to enable some and disable **all other*. Their case is team-specific;
- In @JordyS

[2020-02-20 12:36] ssddi456 opened #91077 "is it possible to use vscode itself as a vscode remote server?"
i have multiple working laptop, which have installed vscode already and have different env setup, can i use vscode itself  as vscode remote server and connect to it, so i can work like on that machine?

[2020-02-20 12:37] sandy081 opened #91078 "Enable local backups for all resource"
Enable local backups for all resource

- Settings, Keybindings, Extensions & Global State
- Back ups are retained for last 30 days.

[2020-02-20 12:41] TriMoon opened #91079 "LanguageMode - Shell Script: Syntax highlighting bugged"
From the About popup:
- Version: 1.42.1
- Commit: c47d83b293181d9be64f27ff093689e8e7aed054
- Date: 2020-02-11T14:50:36.977Z
- Electron: 6.1.6
- Chrome: 76.0.3809.146
- Node.js: 12.4.0
- V8: 7.6.303.31-electron.0
- OS: Linux x64 5.3.0-40-generic

Steps to Reproduce:
[code]
Is being rendered like:
![Screenshot20200220_153627 VSC Shell Script Highlight bug](https://user-images.githubusercontent.com/1

[2020-02-20 12:42] jvesouza commented on #90893
@isidorn I'll check, thanks.
I found on more problem using orca:
Steps to reproduce:

* In the list of changes use the arrows to choose a change.
* Press the application key.
* Choose an operation using the arrows.
* Press the escape key.
* Try to navigate in the list using the arrows.

On my machine the orca is muted and I need to press tab and shift + tab to get the orca to respond normally.

[2020-02-20 12:45] IllusionMH commented on #91077
It seems that you are looking for something like [Self-hosted environment for VS Online](https://docs.microsoft.com/en-us/visualstudio/online/how-to/vscode#self-hosted)

[2020-02-20 12:50] borekb opened #91080 ""Discard all changes" doesn't delete files"
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:44:27.652Z)
OS version: macOS Catalina (Darwin x64 19.3.0)

**Steps to Reproduce:**

1. Have some untracked files
2. Click "Discard all changes"
3. Confirm file deletion
4. See how files are _not_ deleted

Does this issue occur when all extensions are disabled?: **Yes**

![Screen Recording 2020-02-20 at 13 30 48

[2020-02-20 12:54] Friksel opened #91081 "Please keep collapsed/expanded state when staging a changed files folder"
[vs code 1.42.1]

When adding a collapsed folder with changed files in the source control panel to the 'staged changes' before commit, the folder is expanded in the 'staged changes' list. This is very inconvinient as we collapsed the changed-files-folder on purpose and want to keep that state during this transition.
This way we have to do extra clicks to collapse them again after the staging. Whic

[2020-02-20 12:54] borekb commented on #90680
I still don't know why or when this is happening but it's most probably **not** a VSCode issue: I've seen this with iTerm, Caret (Markdown editor) and other apps as well.

For anyone encountering this by googling, I unfortunately can't figure out when this happens, or what's causing it. It just seems to be related to:

- External monitor
- Split view
- Multiple spaces

[2020-02-20 12:54] #90680 closed

[2020-02-20 12:57] ssddi456 commented on #91077
thanks, i'll look into it

[2020-02-20 12:58] Friksel commented on #91081
The 'Experimental duplicate detection' here      /\     is obviously wrong; this is a different one.

[2020-02-20 12:59] djnicholson opened #91082 "Allow extensions to add floating buttons within a text editor (similar to the "Add Configuration..." button in launch.json editors)"
When you open a launch.json file in vscode you see a prominent "Add Configuration..." button in the lower right hand corner of the text editor.

It would be great if extensions could cause similar buttons to appear within text editors (only when editing files in a specific language).

The closest I have managed is to get is by creating a CodeLensProvider that provides a CodeLens at Range(0, 0, 0,

[2020-02-20 13:03] heldrida commented on #91027
Lol! Out of nowhere this starts happening again.

What was I doing? Writing some unit tests with Jest, where the initial state is "fail".

I'm not sure how to find more details about this issue, apart from the other user reports, etc. After re-installing everything, etc last night, I think there's certainly need to have someone who works with typescript closely to look into this issue. I'm happy t

[2020-02-20 13:08] jrieken commented on #90068
@isidorn for debug and @sandy081 for markers

[2020-02-20 13:09] webczat commented on #90446
on the other hand I am surprised that the list requires admin approval...

[2020-02-20 13:11] alexr00 commented on #79371
If you change to use different view IDs does it still occur?

[2020-02-20 13:14] mymage commented on #33110
@aeschli you solved my issue #83983, so can I ask you the courtesy to give a comment on these issue to understand if it is a problem of prioriry, complexity or utility? Thanks.

[2020-02-20 13:14] alexr00 commented on #88396
We get our html grammar from https://github.com/textmate/html.tmbundle. Please open an issue in that repository and if it's fixed then we'll bring the change to VS code in a month or two (usually).

[2020-02-20 13:14] #88396 closed

[2020-02-20 13:16] psclkhoury commented on #90891
@isidorn I tried to fix the issue and this is what I have so far.
The keybinding to follow the link depends on the setting of `editor.multiCursorModifier` as in other parts of the code.
There is one thing that is still missing. If a link is already decorated in the `debug console` with `Follow link (alt+click)`, then I change the setting `editor.multiCursorModifier` from `ctrlCmd` to `alt`, then t

[2020-02-20 13:20] heidricha opened #91083 "SSH agent forwarding doesn't work for windows"
what do I miss?

I use vscode 1.42.1 frontend on windows
ssh remote version is 0.49
sshd server is OpenSSH_7.7p1, OpenSSL 1.0.2o (c:\\Program Files\\Git\usr\bin\ssh.exe)
server is ubuntu 18.04
git is located on a 3rd machine, access method is ssh/key, access is ok from windows and the intermediate linux as well

inside vscode git push/pull gives the unauthorized error, unless I install my private

[2020-02-20 13:21] bpasero opened #91084 "Search editor: steals focus on open"
Steps to Reproduce:

1. click on a search in the explorer
2. 🐛 focus moves out of the explorer

I think the editor is not respecting the `preserveFocus` flag.

[2020-02-20 13:23] letmaik commented on #79371
@alexr00 No, but that's not the issue. The issue is that existing extensions use the technique of identical view IDs so that a view can be displayed in one of multiple locations (never at the same time) based on some config option, and this seems to work just fine, except in some rare cases as described in this thread. In theory I can use different view IDs but that means I need to re-engineer how

[2020-02-20 13:24] chrmarti commented on #90964
Fixed. Let us know if anything is not working as expected yet.

[2020-02-20 13:24] #90964 closed

[2020-02-20 13:24] fakhamatia commented on #88159
How can I fix this?
I want: select string and hit ctrl+F and find it on the current page.
I don't want: select string and click the search icon and VSCode automatic search string.

I use `"editor.find.seedSearchStringFromSelection": false` but i must copy string and hit ctrl+F and
paste string to search in current page.

[2020-02-20 13:24] techsin commented on #91007
Ok I'll it a go

[2020-02-20 13:25] bernardoadc commented on #85358
Updates in Azure Data Studio _Portable_ (which is very similar to VSCode) are really ease and do exactly what @eddieparker wants

[2020-02-20 13:28] atanasj commented on #88151
Would not being able to fold all comments be related to this issue, or am I mistaken that this is even possible in `markdown`, and each comment needs to be folded manually via clicking on the fold symbol?

[2020-02-20 13:31] isidorn commented on #91061
The issues seems to be that the `aria-selected` is only set on one item in the multie selection.
`aria-selected` should be set on each item in the selection. Once we have that hopefully the screen reader will be read the correct content.

[2020-02-20 13:35] isidorn opened #91085 "Action bar: escape losses focus"
Keyboard focus on an action in the actionBar. Press `esc` the focus is lost. You have to press tab or shit-tab to get focus back on a visible element.
Idealy pressing `esc` in the action bar would pass the focus to the parent of the `actionBar`.
Similar how pressing `esc` while in the tree focuses the tree element.

fyi @bpasero @jvesouza

[2020-02-20 13:35] isidorn commented on #90893
@jvesouza thanks, I can reproduce that. For that I filled a new issue https://github.com/microsoft/vscode/issues/91085

[2020-02-20 13:35] isidorn commented on #90446
Ok, I will send her an email. Thank you

[2020-02-20 13:39] mika76 commented on #72422
Just playing with it some more - one other thing I do (used to doing it from VS IDE) is to go to a folded line or region, click end to go to the end of the line and then press enter to make a new method or whatever.

That also fails since it opens the fold and then add a new line under the first line of the folded code.

It just does not feel intuitive as is - while VS IDE seems to get it right.

[2020-02-20 13:40] #91078 closed

[2020-02-20 13:43] chrmarti commented on #83424
I agree, allowing extensions to fully control filtering and sorting will require them to also control the highlighting.

Would you add `matchOnLabel` to `QuickPick` to allow for completely disabling the built-in highlighting? How would you add the highlights to `QuickPickItem`?

[2020-02-20 13:45] isidorn commented on #90891
Feel free to create a PR. Try to make it elegent, the less code there is the higher chance that we merge it in.
If you do not have time I can look into this in the future. Thanks!

[2020-02-20 13:46] mukaschultze commented on #90817
This does not happen when using `typescript@next`, I was checking tsserver source code and I guess this was fixed by microsoft/TypeScript#36615 as it changes the behavior of `getFixesForAddImport` method.

[2020-02-20 13:48] isidorn commented on #90068
Thought about this and I will keep the curent behavior for debug.
Because when a breakpoint gets hit it is usually even more important what happend before than what will happen after. Thus revealing in center actually makes sense for our use case.
I am open to suggestions if someone sees benefits for revealing near center.

[2020-02-20 13:48] JerryGreen opened #91086 "[npm] load description/homepage from referenced node module version"
- VSCode Version: 1.42.1
- OS Version: macos Catalina 10.15.3

Steps to Reproduce:

1. `yarn add azer/indexeddb`
2. highlight `indexeddb` row in the `package.json

Does this issue occur when all extensions are disabled?: Yes

## Screenshot

<img width="556" alt="Screenshot 2020-02-20 at 18 41 42" src="https://user-images.githubusercontent.com/13215662/74938899-b6b8dd80-5410-11ea-8120-bed75f744742.

[2020-02-20 13:51] chrmarti commented on #91022
@Stefan-Z-Camilleri That sounds like a limitation of Docker for Windows. Does it work when you start the container yourself with a bind mount to the Windows filesystem? It seems the events are missing in this case whereas they are issued when using a volume mount.

[2020-02-20 13:54] mjcrouch commented on #91065
The title of the diff says `(Index)` - this means you have staged the changes, and you are diffing the staged changes against the head revision

You can never edit the left side as this is a read only file from the git history
You cannot edit the right side because the changes are staged - you need to edit the working copy and stage those changes as well, or unstage and edit the file

[2020-02-20 13:58] ritatinoco commented on #91066
Yes I can. I've attached these two files with exceptions

[Code__PID__26104__Date__02_20_2020__Time_10_49_55AM__780__Log.txt](https://github.com/microsoft/vscode/files/4231093/Code__PID__26104__Date__02_20_2020__Time_10_49_55AM__780__Log.txt)
[Code__PID__34092__Date__02_20_2020__Time_01_37_40PM__221__Log.txt](https://github.com/microsoft/vscode/files/4231094/Code__PID__34092__Date__02_20_2020__Tim

[2020-02-20 13:59] Tyriar commented on #90838
We haven't yet gone this route but we could. There is no scrolling when you're in the alt buffer (eg. when in nano), so we could detect this and pass on if so. We would probably need another context key though. Something like this:

[code]

This is blocked on API from upstream lib: https://github.com/xtermjs/xterm.js/issues/2694

[2020-02-20 14:00] ritatinoco commented on #91066
I might be helpful I'm able to reproduce this everytime that I kill the process and then I imidiately start to change any file

[2020-02-20 14:00] rmanthorpe commented on #83424
Yes I'd definitely expose `matchOnLabel` publicly (#83425).

I'd define

[code]

and then in `IQuickPickItem` just swap `label: string;` for `label: string | HighlightedString;` for backward compatibility. Then in `QuickInputList.filter` skip the default filtering and highlighting if you find a `HighlightedString` with a `highlights` defined and instead populate the `IMatch`s with the highlights p

[2020-02-20 14:02] #91077 closed

[2020-02-20 14:03] #91065 closed

[2020-02-20 14:04] isidorn commented on #91071
Fair feature request. In the meatnime you can try using 	`"explorer.incrementalNaming": "smart"` setting

[2020-02-20 14:10] heldrida commented on #91027
Just to take this out of the way, since after updating the OS, etc that solved it before included a restart; A system restart does not fix the problem.

[2020-02-20 14:10] jvesouza commented on #90893
If instead of pressing the escape key I press the enter key to accept
the chosen operation, the problem also happens.

On 2/20/20 10:35 AM, Isidor Nikolic wrote:

[2020-02-20 14:13] bpGusar opened #91088 "Search inside search result"
I have component "ComponentOne" which have props "blaBla"
Me need to rename this props inside entire project
But I have props "blaBla" in another component "ComponentTwo"
Me need to find files which have "ComponentOne", next only in files which have "ComponentOne" rename props "blaBla" to "balabol"

[2020-02-20 14:19] sandy081 opened #91089 "Separate sync and auth functionalities"
Currently [UserDataSync](https://github.com/microsoft/vscode/blob/master/src/vs/workbench/contrib/userDataSync/browser/userDataSync.ts) is mixed up with auth and sync features. To avoid a kitchen sink, we shall separate these two.

[2020-02-20 14:23] heldrida commented on #91027
Another test search for "@builtin typescript" in extensions and disabled it. Re-enabled and boom! Same issue!

[2020-02-20 14:23] isidorn commented on #90893
Well the focus is left in the SCM view, it just jumps to the Tree container. Idealy the focus should be left in the same section of the view. @joaomoreno

[2020-02-20 14:28] chrmarti commented on #83424
Agreed, `text` instead of `label` might combine better with `label`, `description` and `detail` on `QuickPickItem`.

/cc @bpasero @jrieken for feedback on allowing extensions to fully control filtering and highlighting on QuickPicks.

[2020-02-20 14:29] heldrida commented on #91027
Tried to find more log information, but the doc offered instructions that are not replicable on this side `View > Command Palette` offers not ts server log option...

https://github.com/microsoft/TypeScript/wiki/Getting-logs-from-TS-Server-in-VS-Code

[2020-02-20 14:31] chrmarti commented on #91076
@isidorn Is this a feature request for QuickPick? Or maybe this is tasks?

[2020-02-20 14:36] jrieken commented on #83424
I have doubts that different highlights/filter strategies are going to be confusing. Quick pick always  "looks" the same and this changes how it "feels" without me being able to tell.

[2020-02-20 14:39] aeschli commented on #91068
I fixed the `String`, `Number` and 'Date' issue: https://github.com/aeschli/typescript-vscode-sh-plugin/commit/102a3a190ceece98b7c6e18251c44aed9a49e742

[2020-02-20 14:39] rmanthorpe commented on #83424
Yes `text` makes the most sense. This same pattern is currently the proposed API for `TreeItem` with `TreeItemlabel` and I think it would make sense to adopt this `HighlightedString` or `HighlightedText` pattern more generally.

@jrieken I'm not sure I follow - in what way does this change how QuickPick feels? The visible result is the same - a list of items with possibly highlighted labels, descr

[2020-02-20 14:43] aeschli commented on #90819
Selection border request is here: https://github.com/microsoft/vscode/issues/30793

[2020-02-20 14:43] aeschli commented on #90819
ollapse adjacent border code: https://github.com/microsoft/vscode/blob/e5dadf5e8a00c1b84c77ac4197804967bd393ab5/src/vs/editor/browser/viewParts/selections/selections.ts#L154

[2020-02-20 14:46] aeschli opened #91090 "[typescript][semantic] add library modifier"
add a modifier to allow rendering the `wellknown' types as `console` special.

[2020-02-20 14:47] aeschli commented on #90379
I created https://github.com/microsoft/vscode/issues/91090 for supporting different rendering of the 'standard' types and variables.

[2020-02-20 14:49] aeschli commented on #91068
I created #91090 for supporting different rendering of the 'standard' types and variables (such as 'console'.

Closing this issue as dup of #91090

[2020-02-20 14:49] #91068 closed

[2020-02-20 14:52] jrieken commented on #83424
I am just worried that this will encourage competing match-strategies. Regexp matches "more" than fuzzy match which is OK, I am more worried about the "less" case in which extension can force prefix match onto me. Tho, I do understand that this can be done already, just without benefit of highlights...

[2020-02-20 14:56] rmanthorpe commented on #83424
I think if you give people a little more flexibility to match and highlight their own way they're going to be less likely to abuse the system rather than more. If they can do things in a simple way there's no need to hack around the problem and create a mess.

[2020-02-20 14:56] isidorn commented on #85548
@connor4312 @roblourens please note that the debug start view is now contributable to.
You could potentially add an action to open the Javascript Debugger.
I am still thinking about context keys and will keep you updated on that.
Here's an example how Git extension contributes a button to the explorer view

https://github.com/microsoft/vscode/blob/093ada38305dc4b26bdfb62ae86bca245cb9d233/extension

[2020-02-20 15:01] albjeremias commented on #89688
When I change workspace on xfce4 i also loose the focus of the mouse cursor from visual code.. i wonder if its the same issue..

[2020-02-20 15:07] IllusionMH commented on #91068
Would it change what colors are applied in case of React component?
![image](https://user-images.githubusercontent.com/1312662/74946954-c03b4900-5402-11ea-8c90-814fed73c2c9.png)

Will `a` instead will be colored as usual variable (same as `b`)? Or `getProperties` doesn't relate to `keyof`?

[2020-02-20 15:08] JacksonKearl commented on #88159
@fakhamatia see #90962.

[2020-02-20 15:10] heldrida commented on #91027
Did a new test, where I've opened the insiders build first and then the public vscode. Somehow it works in this case.

[2020-02-20 15:12] rmanthorpe commented on #83424
I'm not sure I understand what you mean about extensions forcing a prefix match onto you - could you expand on that?

[2020-02-20 15:14] simplyandyg opened #91091 "Workspace find and replace all, sometimes replaces whole file contents"
Issue Type: <b>Bug</b>

Sometimes when using global find and replace all, VS Code will copy the entire contents of an unrelated file and paste it over the contents of another file.

Example: Find 'tree' - Replace with 'bush'
File A - contains ‘tree’
File B - contains ‘tree’

Replace All Performed

File A - now contains none of its original content and all contents of file B
File B - ‘tree’ correct

[2020-02-20 15:23] louis60 opened #91092 "VS Code font "Times New Roman" applies only to .html .css and .js files"
Whenever i try to change the font , .html .css and .js files won't change their font.
I tried to install font switch extension but it doesn't work either.

Html font :
![image](https://user-images.githubusercontent.com/56726690/74948366-849d8080-53fc-11ea-9a06-8e97ad57110c.png)

Php font :
![image](https://user-images.githubusercontent.com/56726690/74948448-a1d24f00-53fc-11ea-9742-ba3e6e51b75a.png

[2020-02-20 15:24] theophane-girard opened #91093 "git.ignoredrepositories on windows not working"
Hello,

- Version: 1.42.1 (user setup)
- OS: Windows_NT x64 10.0.16299

Steps to Reproduce:

1. add folder to git ignored repo tried with upper and lower cases,
![ignored](https://user-images.githubusercontent.com/11314829/74949141-9af80c00-53fd-11ea-8436-4fbdb1742aab.PNG)

which gives following json
![json env](https://user-images.githubusercontent.com/11314829/74949236-c4b13300-53fd-11ea-8d5a-14

[2020-02-20 15:27] jrieken commented on #83424
With `QuickPick#onDidChangeValue` you can update the list of items after every keystroke and there are only recommendations about how that should work (how fuzzy that should be). Once the results are returned we use "our" fuzzy score (which is very relaxed) to compute highlights and (sometimes) ranking.

[2020-02-20 15:28] sbatten commented on #90605
@isidorn yea the deminified stacks seem weird. and I asked @alexdima for his tool to help deminify it and it also gets weird results so that's still under investigation

[2020-02-20 15:29] bpasero commented on #91085
Yes, seems ok to me if currently ESC literally does `blur()`

[2020-02-20 15:31] sbatten commented on #79371
@letmaik with the work we are doing that caused this issue, users can move extension views without the need for extensions to support it. e.g. if your default location is to your own view container, a user will be able to drag the view into the explorer view with no additional work from you.

[2020-02-20 15:32] ssddi456 commented on #91077
vs online need an azure account and to regist required a visa credit card which i dont have....
is there alternatives?

[2020-02-20 15:33] rmanthorpe commented on #83424
I see yes. In all the use cases I'm imagining you'd be providing your own highlighting precisely because you're doing your own matching as the fuzzy matching/highlighting isn't what you want. Indeed my suggestion is that if a `HighlightedString` with defined highlights is provided then the fuzzy matching is skipped entirely as the user has clearly indicated that they are the ones doing the matchin

[2020-02-20 15:34] sbatten commented on #91014
adding @sandy081 in case this happened with viewlets before and the fix is known.

[2020-02-20 15:40] JacksonKearl commented on #91088
To be clear, you'd like to replace the string `blaBla` with the string `balabol` in all files which contain the string `ComponentOne`?

[2020-02-20 15:48] #34981 closed

[2020-02-20 15:49] isidorn commented on #34981
I have pushed support for this.
@connor4312 @roblourens it would be very cool if the node2 or the javascript debugger could support console groups this milestone, then we could add a test plan item which uses node and not mock debug. Anyways let me know how it goes, so I prepare a test plan item in time. Thanks!

[2020-02-20 15:51] connor4312 opened #91094 "Break on line decoration remained after debug session ended"
I'm not sure how to repro this, but while prepping the demos today I noticed the paused indicator remained even after my debug session ended:

![image](https://user-images.githubusercontent.com/2230985/74952807-a293c280-53b5-11ea-968d-57c533232429.png)

When I started a debug session again, I could set breakpoints on that line, but the breakpoint decorations didn't appear. After I closed the secon

[2020-02-20 15:51] isidorn opened #91095 "Test: debug console group support"
Refs: https://github.com/microsoft/vscode/issues/34981

- [x] @connor4312
- [x] @weinand

Complexity: 3

We now support console grouping in vscode.
@connor4312 as you suggested you can first implement this in node
@weinand you can either test with mock debug or test Connor's implementaiton once he has done it.

Verify:
* When a new group is started the name and collapse state are respected
* All s

[2020-02-20 15:52] jdr-face commented on #32581
Yes. See: https://github.com/Microsoft/vscode/pull/61021#issuecomment-582520247

[2020-02-20 15:53] connor4312 commented on #34981
It would be a 💪 to do in the remaining days this iteration, but the test plan could literally for Rob or I to implement and verify grouping in js-debug. Andre has written a few items like that for me in the past 🙂

[2020-02-20 15:56] isidorn commented on #34981
@connor4312 writing a test plan like that would work for me. Let's see the status on this tomorrow evening and I will update the test plan accordingly. Thanks!

[2020-02-20 15:57] Tyriar commented on #91066
/duplicate https://github.com/microsoft/vscode/issues/76548

[2020-02-20 15:57] #91066 closed

[2020-02-20 16:02] alexr00 commented on #91079
Looks like it's one of the extension you have installed:
![image](https://user-images.githubusercontent.com/38270282/74954004-b44f8700-5402-11ea-8fc8-9eb30cb1a41e.png)

[2020-02-20 16:02] #91079 closed

[2020-02-20 16:02] isidorn commented on #91076
I have no clue, I am not a good inbox tracker :)

[2020-02-20 16:02] bpasero commented on #86599
@mjbvz I spend some time working on it via https://github.com/microsoft/vscode/commit/729397923d453d61dc95fd48f18aa17fef905105 and went back to a solution that would expose a `move` method from the editor input, sorry for the back and forth.

It has the following signature:

[code]

The idea is that you can return a new editor input that you would like to be replaced with and provide some addition

[2020-02-20 16:08] alexr00 commented on #90861
Can you share the value of `process.env["Path"]` from the console?

[2020-02-20 16:09] mwpowellhtx commented on #91010
I understand that is what it *should* be doing. However, that is *not* what it ***IS*** doing. Best guess, VSCode is finding a binary `.ogg` file in the project work space and interpreting the tabs there as my "intention".

[2020-02-20 16:12] vdechenaux commented on #8641
👍 It works !

But, I have `SensibleSideButtons` to have theses buttons working on other programs like Firefox, and I have to disable it.

Now it's working in vscode and no more in Firefox.. 😅

[2020-02-20 16:15] isidorn commented on #91094
Assigning to this milestone as it soundns like a regression so we investigte more.

[2020-02-20 16:16] svenevs commented on #85592
Disabling the title bar is not an option for all affected use cases, nor is setting the primary monitor to the low dpi one.  In my scenario, for example, the problematic monitor is vertical.  Having that be the primary monitor breaks most things (hehe).  Additionally, the overflow is not just top or bottom, it flies off the side of the screen.

[2020-02-20 16:17] SamOhrenberg opened #91096 "command:pickProcess Gives "Invalid XML Content""
Issue Type: <b>Bug</b>

Expected Outcome:
* Opens a window with a list of processes to attach to
* [[REFERENCE]](https://i.imgur.com/1RP7Ylp.png)

Steps to Reproduce:
1. Click the "run and debug" tab in VS Code
2. Add a new configuration (if there isn't one) for ".NET: Attach to local .NET Core Console App"
3. Select the newly created configuration
4. Click the play button
5. Error occurs immediat

[2020-02-20 16:17] #91096 closed

[2020-02-20 16:19] letmaik commented on #79371
@sbatten Sounds good. Would that also support the case where a user can drag a view into the "explorer" container if by default it is located in the "explorer" container?

[2020-02-20 16:26] mjbvz commented on #90817
Ok, thanks for the investigation!

Closing this as fixed in TS 3.8 which will ship with VS code 1.43

[2020-02-20 16:26] #90817 closed

[2020-02-20 16:28] mjbvz commented on #88151
@atanasj Sounds unrelated. Do you mean html comments in markdown files?

[2020-02-20 16:28] #91048 closed

[2020-02-20 16:31] #90481 closed

[2020-02-20 16:33] mjbvz commented on #90980
@MohamedWagih96 Is it the `typingsInstaller.js` process that always has high cpu usage?

Also, does high cpu usage remains even when you stop doing anything in the editor for a minute? Some cpu usage is expected while editing files but it should die down once editing stops

[2020-02-20 16:52] sandy081 commented on #90967
Reopening this - we can provide at least last time successful sync message.

[2020-02-20 16:53] sandy081 opened #91097 "Sync commands discoverability"
Sync commands discoverability

[2020-02-20 16:58] weinand commented on #85548
I think the contributed action should open the debug terminal.

[2020-02-20 17:01] roblourens commented on #91094
I think this is what I saw while demoing in the call 😳

[2020-02-20 17:07] SonOfDiablo opened #91098 "Python pytest Test Discovery failed"
Hello,
I'm having an issue where Test Dicovery fails in VS Code.
It worked without issues yesterday.

I have tried to re-install the Python Extension and also update pytest.
The Discovery works just fine outside of VS Code as well.

From the Python Test Log:
[code]

- VSCode Version: 1.42.1 (user setup)
- OS Version: Windows_NT x64 10.0.18363
(Copied from Help > About, since Help > Report Issue di

[2020-02-20 17:08] roblourens commented on #90981
That's a good idea

[2020-02-20 17:10] MohamedWagih96 commented on #90980
@mjbvz Yes it is always high even while i'm not doing any coding. Matter of fact the results I posted were when I just opened the laptop and nothing else was running except VSCode.

[2020-02-20 17:10] thelazydogsback commented on #88810
We are also proposing different solutions, so they should be linked or combined rather than having only one open.

[2020-02-20 17:13] weinand commented on #34981
Great idea to implement the protocol for js-debug as part of the test plan item ;-)

[2020-02-20 17:16] sbatten commented on #79371
@letmaik, yep, it should be in tomorrow's insiders build

[2020-02-20 17:16] IllusionMH commented on #91098
/causedByExtension

You need to file this issue in extension repo https://github.com/microsoft/vscode-python/issues/

[2020-02-20 17:16] #91084 closed

[2020-02-20 17:16] #91098 closed

[2020-02-20 17:18] sbatten commented on #91019
this is specific to terminal based on my testing.

[2020-02-20 17:22] RMacfarlane commented on #91089
@sandy081 Where do you expect to draw the line between these? Should the gear not update when you're not signed in?

IMO, since auth is a requisite for having sync, completely separating them doesn't make sense.

[2020-02-20 17:22] #90857 closed

[2020-02-20 17:26] jmherzo commented on #12622
What would it be needed to make this feature part of VS Code (baseline)? I believe this is something requested by a lot of active users.

[2020-02-20 17:27] sandy081 commented on #91089
In terms of code organisation they should be separate. Currently sync is taking care of auth management in core. Instead, I would suggest to move auth management as a separate folder and allow sync to use services or context defined there.

[2020-02-20 17:29] JacksonKearl commented on #90962
I personally like a quick `select => Cmd+Shift+F` to have the results all good to go without needing to `enter`. Maybe keybinding to the viewlet runs search but clicking on it doesn't? It would be a difference between click and keyboard, but a pretty slight one.

[2020-02-20 17:30] sandy081 commented on #91091
Is it possible to provide a sample repo that I can use to reproduce this?

[2020-02-20 17:32] #91097 closed

[2020-02-20 17:34] sandy081 commented on #91014
It did not happen in viewlets but I suspect in remote it takes long time for extensions be ready. Not sure if we have cache for single view or not for panels which we have for viewlets.

[2020-02-20 17:36] sandy081 commented on #91087
Extensions are installed in default extensions directory in user home. You can change it using `--extensions-dir` argument.

[2020-02-20 17:36] #91087 closed

[2020-02-20 17:42] simplyandyg commented on #91091
Unfortunately, I can't share any of the codebase I'm working with because of restrictions by the employer.

[2020-02-20 17:42] sandy081 commented on #89538
We show now when was the last time it synced to indicate user about sync activity and clicking on it will guide user to see more detailed activity. This also helps in case of offline (which may or mayn't be purposeful).

<img width="343" alt="Screenshot 2020-02-20 at 17 56 18" src="https://user-images.githubusercontent.com/10746682/74962645-9a1ca580-5410-11ea-98b4-d1acca8c7717.png">

<img width="6

[2020-02-20 17:42] #89538 closed

[2020-02-20 17:45] sandy081 commented on #91097
Added an entry to gear icon that shows sync status and also clicking on it will guide user to see more sync actions.

<img width="343" alt="Screenshot 2020-02-20 at 17 56 18" src="https://user-images.githubusercontent.com/10746682/74962645-9a1ca580-5410-11ea-98b4-d1acca8c7717.png">

<img width="679" alt="Screenshot 2020-02-20 at 17 56 25" src="https://user-images.githubusercontent.com/10746682/749

[2020-02-20 17:46] #90277 closed

[2020-02-20 17:48] sandy081 commented on #89006
Progress on activity is removed in favour of showing the status as follows

<img width="287" alt="Screenshot 2020-02-20 at 17 46 55" src="https://user-images.githubusercontent.com/10746682/74963135-7f96fc00-5411-11ea-9f7d-577fcfb0f84b.png">

<img width="291" alt="Screenshot 2020-02-20 at 17 47 20" src="https://user-images.githubusercontent.com/10746682/74963149-858cdd00-5411-11ea-9cc2-a38d1ba8172b

[2020-02-20 17:48] #89006 closed

[2020-02-20 17:49] heldrida commented on #91027
Nope! Just start happening again, opening the insiders along the public vscode... same duck!

[2020-02-20 17:49] sandy081 commented on #90967
We show now when was the last time it synced to indicate user about sync activity and clicking on it will guide user to see more detailed activity.

<img width="287" alt="Screenshot 2020-02-20 at 17 46 55" src="https://user-images.githubusercontent.com/10746682/74963209-a2c1ab80-5411-11ea-8ff3-e22ced28c723.png">

<img width="343" alt="Screenshot 2020-02-20 at 17 56 18" src="https://user-images.git

[2020-02-20 17:49] #90967 closed

[2020-02-20 17:54] dhairyanadapara commented on #90834
@jrieken I have started working on this issue.

[2020-02-20 17:56] sythem commented on #91066
This is **not** fixed in Windows > 1903 as stated in [76548](https://github.com/microsoft/vscode/issues/76548).

VScode 1.42.1 on Windows 10 x64 18363 (1909) using CMD as the terminal still hangs when closing a used terminal manually or through vscode.Terminal.dispose().

[2020-02-20 18:00] martellaj opened #91099 ""Replace All" in "Search" tab is a no-op"
Version: 1.43.0-insider (user setup)
Commit: 9c341b3d8f2f41277be6dd59e7f4e847e6b594ac
Date: 2020-02-20T05:39:38.179Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Try to search and replace all

Does this issue occur when all extensions are disabled?: Yes

[2020-02-20 18:02] alexdima commented on #91010
@mwpowellhtx Can you please provide reproducible steps? Otherwise I cannot attempt to reproduce.

[2020-02-20 18:05] martellaj commented on #91099
I need to go through each result and click "Replace" on each file. Is that the intention?

[2020-02-20 18:08] AidanWoolley opened #91100 "Git - Git Typechanges do not appear in source control panel"
Issue Type: <b>Bug</b>

The source control panel does not display files where git has detected that the type has changed, such as when an actual file replaces a symlink.

1. Create a file and a symlink to the file in a git repository. (`git init; touch default_img; ln -s default_img john_smith_headshot`)
2. Commit both the files. (`git commit -m 'Commit default image for use until actual photos ar

[2020-02-20 18:10] Tyriar opened #91101 "Explore animation for when sync makes changes"
Since some feedback we've seen is there's no feedback for when a sync happens and a notification would be too heavy (https://github.com/microsoft/vscode/issues/86088), I think we should consider an icon that briefly shows over the gear menu. Note that this should not show for every sync, but only when a change is actually happening (first sign in or merge). What I'm envisioning is a rotating refre

[2020-02-20 18:16] Tyriar commented on #91066
No it's not fixed, Windows reverted the fix and there's a tracking item in the terminal repo https://github.com/microsoft/terminal/issues/1810

[2020-02-20 18:16] mwpowellhtx commented on #91010
I was able to get into the settings for the file type itself after everything. Not sure why it was defaulting to tabs, however, in spite of the *VSCode* settings. Maybe something to do with the *SQF extension*.

[code]

[2020-02-20 18:16] #91010 closed

[2020-02-20 18:22] pacifier007 opened #91102 "Go to File not working with search.exclude"
Issue Type: <b>Bug</b>

I have a folder in my Workspace as follows:

project-core
project-core/blocks/name/options.php

I have been trying to exclude the all .php files from project-core/blocks but have been unsuccessful. I have tried numerous restarts and in User settings.json and Workspace settings.json. All that I have tried:

[code]

Every time I Cmd+P (Go to file) and type options.php, I get

[2020-02-20 18:28] al-davis commented on #90861
From the above post.  Is this what you want ?
process.env
{ALLUSERSPROFILE: "C:\ProgramData", APPDATA: "C:\Users\User\AppData\Roaming", CommonProgramFiles: "C:\Program Files\Common Files", CommonProgramFiles(x86): "C:\Program Files (x86)\Common Files", CommonProgramW6432: "C:\Program Files\Common Files", …}

[2020-02-20 18:31] #91028 closed

[2020-02-20 18:32] mjbvz commented on #91028
Final version of the command:

[code]

[2020-02-20 18:35] rublev commented on #88154
Is this already in vscode? Which release? I'm using vscodium so don't have access to bleeding edge releases.

[2020-02-20 18:39] pacifier007 commented on #91102
Sorry, I figured out the problem. Looks like folder name isn't supported, as it's a relative path, and I have to use "/blocks" instead.

If I have two folders in my project:

project/blocks
project-core/blocks

And I only wish to exclude project-core/blocks, is there any way to do that?

[2020-02-20 18:45] eamodio opened #91103 "Hard to select text in the debug console"
If you try to select text in the debug console from the left edge it won't work, because of an overlapping margin:

![image](https://user-images.githubusercontent.com/641685/74967527-2b772200-53e7-11ea-865c-09f78452bab5.png)

[2020-02-20 18:46] joltman61 commented on #90756
I am experiencing the same behavior. During a current debug session, I will be stepping through the code fine and then have all of the run / step options stop working.  I have not seen any outward failure indication.  I had thought I might be tying to step too quickly.  I have not seen the issue when running between breakpoints.  The Call Stack will indicate PAUSED ON STEP.

[2020-02-20 18:51] eamodio opened #91104 "Completion target shown in italics when `"editor.suggest.insertMode": "replace"`"
![image](https://user-images.githubusercontent.com/641685/74967695-83158d80-53e7-11ea-9d1e-79e37c599847.png)

Can this be turned off? Or changed to be a selection-type highlight rather italics?

Also this behavior seems to happen even if the extension doesn't support replace.

[2020-02-20 18:55] sbatten commented on #91014
After testing, it looks like this repro's in search viewlet even in much older stable builds but it only happens when there is no cache (a new workspace). It is exaggerated by the remote connection startup time as mentioned by @sandy081

[2020-02-20 18:56] #90384 closed

[2020-02-20 18:56] al-davis commented on #90861
process.env["Path"]
"C:\Program Files (x86)\Intel\iCLS Client\;C:\Program Files\Intel\iCLS Client\;C:\WINDOWS\system32;C:\WINDOWS;C:\WINDOWS\System32\Wbem;C:\WINDOWS\System32\WindowsPowerShell\v1.0\;C:\Program Files (x86)\Common Files\lenovo\easyplussdk\bin;C:\Program Files (x86)\Intel\Intel(R) Management Engine Components\DAL;C:\Program Files\Intel\Intel(R) Management Engine Components\DAL;C:\Pro

[2020-02-20 18:58] eamodio opened #91105 ""editor.suggest.insertMode": "replace" not working at start of work in TypeScript"
Issue Type: <b>Bug</b>

Related #91104

VS Code version: Code - Insiders 1.43.0-insider (9c341b3d8f2f41277be6dd59e7f4e847e6b594ac, 2020-02-20T05:39:38.179Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 9 3900X 12-Core Processor             (24 x 3800)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: en

[2020-02-20 18:59] eamodio commented on #91104
I don't see this same behavior with `json` (which works) but with `typescript` I see it and the replace doesn't work (#91105)

[2020-02-20 18:59] pawelurbanski commented on #91061
Please, cause announcement only in teh followin example use cases:
* You scroll through some list - list of commits for example,
* You select only those you are interested in,
* Perform some action such as squashing them.

Never announce selection or item position in places where the list pops up automatically such as intelisense suggestion list.
If you did you would get the following output:
* do

[2020-02-20 18:59] #90501 closed

[2020-02-20 18:59] #87534 closed

[2020-02-20 19:01] noendscripting opened #91106 "Azure Automation Add-On like the one for Powershell ISE"
Hi
Is it possible to add Azure Automation runbook and DSC authoring module similar to the old [Powershell ISE ](https://github.com/azureautomation/azure-automation-ise-addon) add on?

The [existing Azure Automation add-on](https://marketplace.visualstudio.com/items?itemName=AwesomeAutomationTeam.azureautomation) does not follow best security practices by requiring to use Azure AD service principal

[2020-02-20 19:01] aahancoc opened #91107 "CSS syntax highlighting never terminates in HTML document when using multiple nested @ rules"
Issue Type: <b>Bug</b>

When using multiple nested @ rules in an inline <style> tag in an HTML document, the CSS syntax highlighting doesn't stop when the </style> tag is encountered.

Here's a minimal test document that exhibits the buggy behaviour. (Strangely, this seems to break in GitHub's syntax highlighter as well.)
[code]
![image](https://user-images.githubusercontent.com/14837209/74968607-

[2020-02-20 19:06] sbatten commented on #91014
Our behavior is code here: https://github.com/microsoft/vscode/blob/ca05440d7051a764843f2928a118eb6876251863/src/vs/workbench/browser/parts/views/viewPaneContainer.ts#L977-L989

After checking if we have a single view and we should indeed merge if there is no other view, we fallback to not merging if the cache is not yet populated. That means for all single view panels, we will see this flashing o

[2020-02-20 19:07] JacksonKearl commented on #88154
@rublev it has been in vscode since 1.41. Most/all QOL features are missing until 1.42. It gets actually pleasant in 1.43 (insiders).

[2020-02-20 19:07] #91014 closed

[2020-02-20 19:09] eamodio opened #91108 "Add a command to file an issue (bug) with relevant info"
I would love to be able to have a command (in the palette and something I can shortcut) that would open a GitHub issue and paste in the system info. Basically like using the Issue Reporter and you uncheck include extensions (I never want to include those), but in a single shot without entering a title or message.

[2020-02-20 19:11] Tyriar commented on #91108
👍 this would be very handy, I could finally get around to binding it to save going via the browser.

[2020-02-20 19:15] dileepkr commented on #5970
I am facing the same issue when using RemoteSSH for VSCode. Git gutter works on files with full path but doesn't work on same when opened with relative path.

Is there a solution for this problem?

[2020-02-20 19:19] mjbvz commented on #91108
Have you seen #91028?

[2020-02-20 19:24] JacksonKearl commented on #90756
@joltman61 please file against the Python extension. They'll be more able to help, as they control that debugger.

[2020-02-20 19:28] connor4312 opened #91109 "Extension dependency check doesn't check remote extensions"
js-debug is going to depend on its [companion extension](https://github.com/microsoft/vscode-js-debug-companion). The readme in the companion extension has more details around our scenario.

js-debug is a workspace-only extension, and its companion is a UI-only extension. It seems like the extension dependency checking code isn't aware of this. Although I have the companion installed locally (and

[2020-02-20 19:37] palmermc opened #91110 "VSCode's window's UI is hanging"
Issue Type: <b>Performance Issue</b>

Whatever version I received of VSCode recently is hanging the window frequently. If I have VSCode's internal dev tools open I can still use those but the UI for the proper windows is hung. Can't type, save, etc. If I leave it, functionality usually comes back

VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS

[2020-02-20 19:38] palmermc commented on #91110
TBF - feels like this came in a recent Code update but that might just be me looking for a reason

[2020-02-20 19:43] palmermc commented on #91110
Update - I've turned off Bookmarks extension and Gitlens, will seems to have stopped the hanging so far. Maybe it was just the reload required to turn off. Will come back and close if I have no more hangs w/ extensions off

[2020-02-20 19:46] sbatten commented on #88637
I'm thinking that the names in panel should be stable (always using the container name) and we should have some other UI element that displays the name of the containing view if merged with the header. e.g. this terrible mock up but using the style of call stack line numbers:
![image](https://user-images.githubusercontent.com/6561887/74972463-9704c380-53d6-11ea-95b9-faba48972213.png)

![image](htt

[2020-02-20 19:49] danybeam opened #91111 "Incorrect underline when moving text"
Issue Type: <b>Bug</b>

Working in markdown
before:
[code]
after:

[code]

after I make the change from "before" to "after", "Foo" gets underlined as if the text "google.com" was still there

maybe an extension from this https://github.com/microsoft/vscode/issues/48321

VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS version: Windows_NT x64 10.0

[2020-02-20 19:50] tyyoder23 opened #91112 "VS Code opens multiple instances of VS COde when I try to open the application"
When I open VS Code it opens several instances maybe like 20-30. So, it ends up slowing down my computer by quite a bit. I have uninstalled and reinstalled it and the problem still persists. I'm using Windows 10 and all the other code editing platforms I've used run fine even VS 2019. So, I really don't know what the issue is and would love to have a bit of help figuring it out. Thanks!

[2020-02-20 20:00] #89767 closed

[2020-02-20 20:01] #91031 closed

[2020-02-20 20:02] JacksonKearl commented on #91031
Thanks!

More complicated of a fix than strictly necessary but it cleans things up quite a bit.

[2020-02-20 20:04] hazemessam opened #91113 "Can't Download or Update any Extension."
- VSCode Version: 1.42.0
- OS Version: Windows 10 18362

I can't update or download any extension from my vs code in addition to its icons and description doesn't appear. But when I use 4G connection from my phone they appear.
![vscode-error-1](https://user-images.githubusercontent.com/49886457/74973057-73b83380-542b-11ea-81a5-2ddd9aeaf41d.jpg)
![vscode-error-2](https://user-images.githubuserconte

[2020-02-20 20:09] rublev commented on #88154
@JacksonKearl Ah I'm on 1.42.1 VSCodium. So this expanded style search like sublime in the reply I quoted above is only available once 1.43 gets published (or whatever the correct word is)?

[2020-02-20 20:34] IllusionMH commented on #91102
You can create create per-folder settings using `.vscode/settings.json` inside of `project-core` or picking this folder in Settings UI (dropdown after Workspace) and add `blocks/**/*.php` to exclude pattern.
However it will hide these files from explorer too.

[2020-02-20 20:40] PlanMan1717 commented on #91041
As far as getting the screenshots:

I have the screenshots...
The first is with _One Dark Pro_
![Annotation 2020-02-20 153258](https://user-images.githubusercontent.com/51730258/74976384-a72c9b00-53f6-11ea-8f6c-624bcffbe951.png)
The second with _Dark+_ aka. _"Default dark"_
![Annotation 2020-02-20 1532582](https://user-images.githubusercontent.com/51730258/74976512-da6f2a00-53f6-11ea-8de1-8c03b453

[2020-02-20 20:45] PlanMan1717 commented on #91041
As far as the mockup... Here is the best I could do.
![Annotation 2020-02-20 154347](https://user-images.githubusercontent.com/51730258/74976994-d1cb2380-53f7-11ea-878a-f6641e66bbff.png)
But of course with the `#`'s removed.

[2020-02-20 20:49] palmermc commented on #91110
it seems that extension disable has fixed my hang, closing

[2020-02-20 20:49] #91110 closed

[2020-02-20 20:56] roblourens opened #91114 "Change "don't sync this setting""
- Make it "✔️ Sync this setting"
- Don't show it for the ignoredSettings setting

[2020-02-20 20:58] #91012 closed

[2020-02-20 20:59] sandy081 commented on #91012
Provided a command that will open folder that has local user data backups

<img width="641" alt="image" src="https://user-images.githubusercontent.com/10746682/74978101-3e601580-542c-11ea-9b23-ceb74d6ff70c.png">

<img width="664" alt="image" src="https://user-images.githubusercontent.com/10746682/74978144-4c159b00-542c-11ea-8adf-e69ed7674d5a.png">

[2020-02-20 21:28] Nojus297 commented on #90838
Yeah, this should work.
Maybe this could be set by default, because  IMHO there isn't any point to consume navigation key events when terminal buffer is not even scrollable.

[2020-02-20 21:49] joem-msft commented on #91024
Is there a way to re-open an issue?

It would be great if the suggestions given as a fix actually work. ;-) Please have the examples a try on your own instances to confirm. A reply with valid escaping working would be helpful too.

oh, haha, looks like GitHub MD editor hid the character but I'm guessing you meant '\\' (the backslash char).

Yes, the documentation grammar does state that the backsl

[2020-02-20 21:58] Daniele18 opened #91115 "Visual Studio Code doesn't load more"
Issue Type: <b>Bug</b>

When I executed "Code.exe" file, VS Code didn't load more.
VS Code opened its first loading window with nothing information.
I couldn't do nothing, just close program and re-execute this one with these same results.

VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS version: Windows_NT x64 10.0.18362

<details><summary>Exte

[2020-02-20 22:00] #90794 closed

[2020-02-20 22:07] sandy081 commented on #90624
MB asks with the `lastSyncRef` as `If-None-Match` header which is not the latest on the server because MA has written. So, server should not return `304` right?

[2020-02-20 22:08] JacksonKearl commented on #88154
The lines should be dimmed by default, I've seen cases where they don't dim until the editor gets focus, but not cases where they don't dim at all.

I'm not sure what you mean by this. Please open a separate issue with screenshots and reproduction step.

[2020-02-20 22:11] sandy081 commented on #89739
Cant repro any more because sync settings are moved to storage.

[2020-02-20 22:11] #89739 closed

[2020-02-20 22:15] tmel3000 opened #91116 "Privacy Error when trying to download"
Hi, clicking on the download links from the page https://code.visualstudio.com/Download results in a Privacy Error warning.
![image](https://user-images.githubusercontent.com/52987411/74984925-9b8ab400-548a-11ea-9661-5f16476a97e0.png)

[2020-02-20 22:15] Tyriar commented on #90624
No, it would be 304 because the ask for latest went to the cache and the write went to the db and they differed. This scenario is to work around if the server gets into state where the cache has stale data, for example if the cache is offline for a few minutes. These things would self heal on the server after 6 minutes anyway as the cache item would expire, also this sort of thing will likely rare

[2020-02-20 22:15] sandy081 commented on #89708
/duplicate

https://github.com/microsoft/vscode/issues/89750

[2020-02-20 22:15] #89708 closed

[2020-02-20 22:16] Tyriar commented on #91108
@mjbvz we want to skip the issue reporter all together and open the new issue on github page with things filled with in with just a single keybinding.

[2020-02-20 22:19] #91114 closed

[2020-02-20 22:26] #89750 closed

[2020-02-20 22:27] sandy081 commented on #89750
In both cases sync is turned off on machine B with following notification

<img width="561" alt="image" src="https://user-images.githubusercontent.com/10746682/74985736-5f2e6800-5438-11ea-9c66-69fdc56356ca.png">

[2020-02-20 22:30] sandy081 commented on #90638
@misolori I followed these steps and everything worked correctly. Theme extension got installed and theme got set.

[code]

Am I missing any steps here?

[2020-02-20 22:31] lukenofurther commented on #42149
+1

[2020-02-20 22:31] sandy081 commented on #89705
/duplicate

#90218

[2020-02-20 22:31] #89705 closed

[2020-02-20 22:33] eamodio commented on #91108
Yeah exactly ☝️

[2020-02-20 22:41] #89630 closed

[2020-02-20 22:46] Tyriar commented on #89750
@sandy081 wording suggestion:

[2020-02-20 22:47] mjbvz commented on #91108
@RMacfarlane  can correct me but I believe web already does this. You may want to take a look at the code for that and see if it can be reused in desktop too

[2020-02-20 22:50] alexdima commented on #91109
@connor4312 Usually, when an extension (`A`) depends on another extension (`B`), this might mean that `A` will use API exported from `B`. The problem is that this is a synchronous API which was defined before we supported a remote extension host and many extensions were written with this in mind. So they expect `vscode.getExtension('B').exports` to work in `A`.

The solution is for you to "promise

[2020-02-20 22:50] #91109 closed

[2020-02-20 22:54] RMacfarlane commented on #91108
Yeah, the web version does directly open GitHub:
https://github.com/microsoft/vscode/blob/57b0cd28d93182baa3cf48457a1b636ccb141da2/src/vs/workbench/contrib/issue/browser/issueService.ts#L34

However, it doesn't prefill the issue currently

[2020-02-20 22:57] alexdima commented on #91060
@rexx6 I am sorry, but I don't quite understand from your screenshot what the problem is. Please consider I am not familiar with the characters you use. Can you please explain in greater detail what the problem is and what you would expect? Also, can you please include copy-paste friendly variant of the text?

[2020-02-20 22:58] sandy081 commented on #86088
It's not known whether sync is successful or not when sync is turned on because there can be conflicts or some local errors. By turning on, we will start syncing automatically. So, I would like to show following message which is helpful to know when user turned on sync

<img width="495" alt="image" src="https://user-images.githubusercontent.com/10746682/74988008-ec73bb80-543c-11ea-85d8-674d95d1c6a

[2020-02-20 22:59] RblSb commented on #86975
Closing in favor of #71016

[2020-02-20 22:59] #86975 closed

[2020-02-20 23:01] #86088 closed

[2020-02-20 23:02] #90970 closed

[2020-02-20 23:05] sandy081 commented on #78385
This is fixed.

[2020-02-20 23:05] #78385 closed

[2020-02-20 23:11] sandy081 commented on #85824
This is being taken care of.

[2020-02-20 23:11] #85824 closed

[2020-02-20 23:17] sandy081 commented on #89750
We do not use enable/disable sync hence I was hesitant to use that. How about

[2020-02-20 23:25] sandy081 commented on #90624
I am not comfortable to introduce this debt in client where the server is not returning what it is expected.

Introducing such a debt is hard to change in future. So not sure if its a good idea to do this on speculation. It would be good to know why it happened (when it happened) and figure out the root cause and fix it ?

[2020-02-20 23:25] hrnagesh opened #91118 "The window is no longer responding"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. Launch Code

[Window Title]
Visual Studio Code

[Main Instruction]
The window is no longer responding

[Content]
You can reopen or close the window or keep waiting.

[Reopen] [Keep Waiting] [Close]

Does this issue occur when all extensions are disabled?: Yes/No
Not sure; how to disable extensions prior to launch

[2020-02-20 23:29] mmehr2 commented on #52855
Well, I've noticed it twice now as well. For me, the ./bin directory that contains code.exe got renamed to '_' and an empty bin directory got created. I put the original back (or maybe I moved the files into _ and renamed it back, I forget) and it seemed to work fine. I've verified that the resulting code.exe file does have the new date and version resource, and it does display the latest release

[2020-02-20 23:32] JosephTLyons commented on #88154
I actually didn't even know that the lines would dim, as I don't think it has ever happened on my side.

[2020-02-20 23:34] vadimmos commented on #1751
Syntax highlighting and intellisence in JavaScript template strings containing html would be one of the best things that vs-code could offer. WebStorm has been able to do this for a long time, and this is why many developers do not change it to vs-code.
This feature is now required by almost all web developers. Almost all frameworks require working with template strings containing html, and someti

[2020-02-20 23:36] JosephTLyons commented on #88154
I really am enjoying this feature, thank you a ton for your work here, it is greatly appreciated.  There are a few things that I would love to have:

1. The ability to remove a search result, as we have in the sidebar search.
2. The ability to undo the removal of a search result, which is something I don't think the sidebar search has, which always sort of bothered me (I'd accidentally remove a se

[2020-02-21 00:14] JacksonKearl commented on #88154
@JosephTLyons you can delete and undo as you would in an editor. `Delete Line` is `Cmd+Shift+K`, if you want you could bind that to just `Backspace` when in a search editor. It would be nice if the the file name line would delete along with the last line from that file, and if context lines deleted with their owning lines. Feel free to open a feature request to discuss that further.

You can colla

[2020-02-21 00:17] JacksonKearl commented on #88154
Thats interesting, so if you trigger context lines with keybinding they dim, but if you trigger with the button they don't? Does that reproduce in Insiders?

We can't do this by default for accessibility reasons (I know we already do it for unused code, but I disagree with that 😉). It could be an option though. Again feel free to open a feature request to discuss further.

[2020-02-21 00:28] eamodio commented on #89750
How about

[2020-02-21 00:43] #89688 closed

[2020-02-21 00:47] #90630 closed

[2020-02-21 01:00] Tyriar commented on #89750
Personally enable/disable reads a lot better than "turn on/off". Also "turn sync on/off" sounds better than "turn on/off sync" imo.

[2020-02-21 01:04] eamodio commented on #89750
IMO, if we switched to enable/disable (which I do like better) we should change it everywhere.

[2020-02-21 01:10] roblourens opened #91119 "Terminal weirdness on Windows remote"
- SSH from Mac to Windows remote
- I am just collapsing and expanding the panel with cmd+J

![Feb-20-2020 17-07-34](https://user-images.githubusercontent.com/323878/74994818-ec0afe80-5403-11ea-951d-bc0ac8d04b39.gif)

[2020-02-21 01:30] chriswinslow opened #91120 "All text is blurry on screen"
- VSCode Version: 1.42.1
- OS Version: Windows 10.0.18363

Steps to Reproduce:

1. Opening Visual studio code 1 in 4 times I get a strange blurry effect on the text. Image dabbing some water on some written text in ink on paper, that is the same effect I get on my screen. This has been happening for about a year but I've not had enough of it and I'm now reporting it. See the attached image for an

[2020-02-21 01:37] roblourens opened #91121 ""Search was canceled before results" while typing"
With searchOnType enabled, I sometimes see that warning while typing, when I triggered a search but then there was another keypress before it got a result. Mildly annoying, we can record why the search was canceled and not show the message in this case.

[2020-02-21 01:51] atanasj commented on #88151
Yes, `html` multi line comments. They are able to be toggle manually one at a time but not via the command palette.

[2020-02-21 02:01] venkateshpotluri commented on #90788
[This issue](https://bugs.chromium.org/p/chromium/issues/detail?id=1001591&q=nvda%20does%20not%20read&can=2) might be the cause. I generated a file with > 1,000 'x's and NVDA stops reading the characters from line 125 (attaching the file to the issue for your reference). Also, I wanted to note that I was able to use VSCode fine with large files until recently (prior to the the January2020 update).

[2020-02-21 02:25] asanacam commented on #64566
Just checking in on this. Is there any update to this, or any way to get rid of the ellipses and see the full type of a variable in VS Code?

[2020-02-21 02:47] ryantheleach opened #91122 "Multi-Window support."
This is a clear duplicate of https://github.com/microsoft/vscode/issues/10121#issuecomment-345770248 .

It's your most voted for feature, on GitHub.

I realize this won't actualize overnight, and there is significant blockers.

Can that thread be updated to contain a clear roadmap of what specifically is blocking it, and what related dependent tickets to watch for progress? Even if no progress is