[2016-02-24 11:43] isidorn opened #3407 "Impossible to disconnect from nodemon seassion"
Related to #3238

* Start a nodemon session outside of vscode
* Attach to nodemon form vscode
* Pressing the stop button does not disconnect the debug session, it just reconnects

[2016-02-24 11:43] gamtiq commented on #291
Actually there is no particular reason besides that is necessary to change the setting (and a user should know about `window.zoomLevel` setting which he can miss as I did).
Moreover the setting's description in [User and Workspace Settings](https://code.visualstudio.com/Docs/customization/userandworkspace#_default-settings) is not clear (at least for me).
Should the `zoomLevel` be integer value? I

[2016-02-24 11:44] joaomoreno opened #3408 "Continuing debugging should narrate "Debugging continued""
Testing #2941

Currently I hear nothing when I continue debugging by <kbd>F5</kbd>.

[2016-02-24 11:48] isidorn opened #3409 "Close all files: Cannot read property getEol of null"
Related to #3235

1. Open one file side by side
2. Close all files from the working files view -> exception in console

<img width="565" alt="screen shot 2016-02-24 at 12 47 56" src="https://cloud.githubusercontent.com/assets/1926584/13284499/eb8aed1c-daf4-11e5-8b7f-4c71708872ff.png">

[2016-02-24 11:49] joaomoreno opened #3410 ""Program started" should be "Debugging started" in VoiceOver"

[2016-02-24 11:49] #3235 closed

[2016-02-24 11:51] joaomoreno opened #3411 "Shift tab should only outdent when at the beginning of the line"
When pressing <kbd>Shift Tab</kbd> with the cursor in the following position, the editor outdents the line. It felt a bit weird when it happened to me. It should be a no-op.

[code]

[2016-02-24 11:55] #3406 closed

[2016-02-24 11:55] #2941 closed

[2016-02-24 11:55] #2832 closed

[2016-02-24 11:59] #3404 closed

[2016-02-24 12:09] fhelje commented on #3222
Every core is 100%

[2016-02-24 12:38] jycouet commented on #3385
Here is a screenshot:
![image](https://cloud.githubusercontent.com/assets/5312607/13285567/b3f67766-dafb-11e5-9f99-e4309a27c55f.png)

[2016-02-24 13:00] #3407 closed

[2016-02-24 13:15] aeschli opened #3412 "extension install shows non-applicable versions"
Testing #3244, I published a version for a future version of VSCode.
- ext install shows the future version even if it won't be able to install it
- show outdated show the future version even it won't be able to update to it. When trying to do so it seems as if the update really happens.
  -> would be better to at least give a message that the update failed

The best solution would be if such futu

[2016-02-24 13:15] #3410 closed

[2016-02-24 13:16] joaomoreno commented on #3385
Right, you only have the `chartjs-2.0` and `master` branches. Those surely appear in the list?

We don't show the remote branches in the dropdown. We could do that.

[2016-02-24 13:18] joaomoreno commented on #3412
We don't have such information in the gallery, unfortunately.

[2016-02-24 13:18] joaomoreno commented on #3156
Got it

[2016-02-24 13:19] #3408 closed

[2016-02-24 13:21] joaomoreno opened #3413 "Revert snippet support for tasks.json"
Related to #3159

i have a feeling Dirk left his task stuff halfway done: https://github.com/Microsoft/vscode/issues/3159
it's very hard now to generate a tasks file. I even went through our documentation and couldn't figure it out
meaning: I tried setting up a build task with the ts compiler, and still didn't make it. maybe this needs more thought?
Erich Gamma [15:11]:
This definitely came in hot

[2016-02-24 13:25] peterbourgon commented on #2765
Thanks for the comment. No need to apologize. An extension like that is probably inappropriate to use for Go, as in Go there is nothing to configure: the language strictly defines valid code format rules, including but not limited to tabs for indentation.

[2016-02-24 13:36] janmarek opened #3414 "Show image dimensions"
It would be nice to see image dimensions when I open image in VSCode. Atom shows that information in status bar.

[2016-02-24 13:36] isidorn commented on #3290
After discussing with Andre we agreed on 'Open launch.json' since that is readable and makes it clear to the user what is going  to happen.

[2016-02-24 13:37] isidorn commented on #3274
Actually dupe of #2300
I set that one to feb so we can discuss it in our bug triage

[2016-02-24 13:37] #3274 closed

[2016-02-24 13:42] janmarek opened #3415 "JavaScript snippets don't work in JavaScript React"
When I type for example "fun" and press tab I expect to see

[code]

but I see

[code]

instead.

[2016-02-24 13:42] #3292 closed

[2016-02-24 13:46] isidorn commented on #3335
Fixed by a commit in node debug

[2016-02-24 13:52] #3298 closed

[2016-02-24 13:57] pcgeek86 commented on #3365
@joaomoreno  whoops ... I totally forgot that I'd already mentioned the node keyword in that one. Total oversight. Sorry.

[2016-02-24 14:00] #3297 closed

[2016-02-24 14:09] joaomoreno commented on #3413
Done in 9d64fe7 9c5cefb 856fb0b

[2016-02-24 14:09] #3413 closed

[2016-02-24 14:12] joaomoreno opened #3416 "Polish task snippets"
Related to #3159 #3413

As discussed in triage, I reverted commits 8004d27, b7e9c82 and a7a0f82 which introduced snippet support for `tasks.json`. The reverts are: 9d64fe7, 9c5cefb and 856fb0b.

The experience needs to be improved, the user needs more guidance towards creating a final, working `tasks.json` file.

hi Erich?
Erich Gamma [15:08]:
hi
Joao Moreno [15:08]:
sorry to bug you
Erich Gamma [

[2016-02-24 14:17] aeschli commented on #3402
@joaomoreno Can you add a screenshot?

[2016-02-24 14:18] aeschli commented on #3402
Ah, now I get it, so depending on the cursor position, you want the folding icons be always visible for the folding regions that cover that position?

[2016-02-24 14:19] egamma opened #3417 "The reload Typescript action also applies to JavaScript"
Now that the TS server powers both TypeScript and JavaScript the action to reload a project also applies to JavaScript:

![image](https://cloud.githubusercontent.com/assets/172399/13287918/b8ecab9c-db09-11e5-84e3-9afcab05368d.png)

I suggest to either rename the action to `Reload TypeScript/JavaScript Project' or we provide a separate action: 'JavaScript: Relead Project'

[2016-02-24 14:20] egamma commented on #3417
Opinions/preferenes @weinand and @joaomoreno?

[2016-02-24 14:22] weinand commented on #3417
@egamma users not interested in JavaScript might be confused by the combination. I suggest to introduce a separate action.

[2016-02-24 14:33] joaomoreno commented on #3395
Suggest to move this to March, I want to clean up the suggest model.

[2016-02-24 14:33] egamma commented on #3417
@weinand yes, a separate action is cleaner for users that only use TypeScript or JavaScript, but then there are users that use a hybrid TypeScript/JavaScript setup. This is supported and one of the goals of Salsa. In this case this can  mislead users that TS and JS are separate projects.

[2016-02-24 14:35] isidorn commented on #3395
:+1:

[2016-02-24 14:36] weinand commented on #3417
Which user group is larger?

[2016-02-24 14:39] aeschli commented on #3251
duplicate of #3349

[2016-02-24 14:39] #3251 closed

[2016-02-24 14:41] joaomoreno commented on #3334
Unfortunately I can't do exactly this since at the point I require it I don't know whether the shortcut will be called `code`, `code-alpha` or `code-insiders`.

I will name the action `Install 'code' command in PATH` and simply inform the user that it is in fact `code-alpha` after it has been installed.

[2016-02-24 14:42] luchong12 opened #3418 "Add functionality for autoclosing single quotes and double quotes"
I have editor.autoClosingBrackets set to true but it seems it works stricly with brackets. I guess autoclosing single/double quotes is not implemented yet? If not, please do it. I think it is a common feature for every editor.

[2016-02-24 14:43] weinand commented on #3334
@joaomoreno sounds good!

[2016-02-24 14:44] aeschli commented on #2984
@bgashler1 Assigning to you, Brad, to make a decision. If you like the suggestion, feel free to add, or assign back to me.

[2016-02-24 14:46] aeschli commented on #2967
duplicate of https://github.com/Microsoft/vscode/issues/2967

[2016-02-24 14:46] #2967 closed

[2016-02-24 14:46] egamma commented on #3342
Actually, this was intentional, we did not want to change the selected theme behind the user's back. Consider users that like the less colorful theme, they would not appreciate if we upgrade them automatically.

However, given this issue I wonder whether we should provide some more active guidance to users to upgrade to the '+' theme (they obviously do not read the release notes :disappointed:.

O

[2016-02-24 14:48] aeschli commented on #3319
duplicate of #3403

[2016-02-24 14:48] #3319 closed

[2016-02-24 14:48] aeschli commented on #3317
duplicate of #3398

[2016-02-24 14:48] #3317 closed

[2016-02-24 14:56] weinand commented on #3247
Since I'm neither a keyboard nor a Windows user, it is incredibly difficult for me to test this since I had to lookup and map almost every keyboard shortcut (and this on a Swiss-German keyboard!). So I did not find any new issues but now I'm even more impressed that some user are able to use this...

[2016-02-24 14:56] #3247 closed

[2016-02-24 14:58] egamma commented on #3417
JavaScript only is the largest group, so let's go with two separate actions.

[2016-02-24 15:01] Tyriar commented on #3368
It's not correct though as I believe the language was forked for .Net and it adopted that name.

[2016-02-24 15:02] JoshTumath opened #3419 "File types associated with VS Code are all given the same label in File Explorer"
If I associate a file with VS Code (e.g. *.css, *.html, *.js, *.gitignore), each of these files are given the same file type label "Visual Studio Code". Therefore, when viewing a project directory in File Explorer, it is not possible to list files by type, because they all have the same label.

[2016-02-24 15:03] weinand commented on #3417
What's about these two:
- `Reload JavaScript Project'
- `Reload TypeScript/JavaScript Project'

instead of:
- `Reload JavaScript Project'
- `Reload TypeScript Project'

[2016-02-24 15:08] tht13 commented on #3419
tools > Folder Options > View >
Disable "Hide extentions for know file types" in the scroll section

[2016-02-24 15:08] amamut opened #3420 "Extension Development Host not activating development extension"
I created brand new extension project using ```yo code``` which has the default activation message in it. When I press ```F5``` it loads the extension development host but I do not get the activation message. I also put breakpoints on the ```activate``` method to see if it even gets in there and it doesn't. Is this a configuration error or something with the debugger?

[2016-02-24 15:08] egamma commented on #3417
This would cover both scenarios. Only concern is when I type 'JavaScript' into the quick box then the filtering returns both commands and as a user I wonder what is the difference between those two.

[2016-02-24 15:08] mgreenegit commented on #751
Having this capability would unblock PowerShell Script Analyzer identifying a Warning for new scripts authored using VSCode.

[Use BOM For Unicode Encoded File](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/Rules/UseBOMForUnicodeEncodedFile.cs)

[2016-02-24 15:10] weinand commented on #3417
@egamma good point. So then let's go with:

- `Reload JavaScript Project'
- `Reload TypeScript Project'

[2016-02-24 15:11] pcgeek86 commented on #3342
@aeschli Thanks for the analysis. I'm not sure why the `storage.type` was used, because I don't understand custom grammar authorship for Visual Studio Code at this time.

@egamma Good idea to mention this in the release notes, somehow. *In fact, I didn't even realize that release notes were available. Normally I love reading them.* Perhaps we could do something to encourage reading release notes,

[2016-02-24 15:12] Tyriar commented on #3299
Looks good!

@bgashler1 any reason for the `+` background not being transparent like `-`?

[2016-02-24 15:14] egamma commented on #3417
sold :smile:

[2016-02-24 15:17] egamma opened #3421 "Users do not know how to get the menu bar back"
I see too many tweets like this one:

![image](https://cloud.githubusercontent.com/assets/172399/13289923/07e7da66-db12-11e5-8863-c0eac24da785.png)

We should provide some guidance when the menu bar is hidden on how to get it back, e.g., show a once message.

[2016-02-24 15:18] egamma commented on #3421
@bgashler1 @stevencl any recommendations?

[2016-02-24 15:25] #3291 closed

[2016-02-24 15:25] #3280 closed

[2016-02-24 15:25] #3301 closed

[2016-02-24 15:26] bgashler1 commented on #3301
@joaomoreno Just pushed all the code to master from my fork.

[2016-02-24 15:26] JoshTumath commented on #3419
That's already disabled. I'm referring to the label that appears in the "Type" column when viewing a folder in the Details view.

[2016-02-24 15:30] aeschli commented on #3349
To implement that, we would need to have language agnostic knowledge and understand that `}` is closing block but not opening one.
Without knowing that we would also create a folding block from line 3 to line 5.
![image](https://cloud.githubusercontent.com/assets/2193314/13258746/4bf18806-da09-11e5-9882-18b4dea62383.png)

[2016-02-24 15:37] joaomoreno commented on #2928
@SofianHn if you look at the stack trace, I merely show a warning using the message service. Why is this showing up in our telemetry?

[2016-02-24 15:38] aeschli commented on #3353
To implement this we need to know more about the underlying language. Does a definition end with the last non-whitespace line, or with a line of the same indent. The current implementation is tuned for the JavaScript case:
[code]

[2016-02-24 15:38] aeschli opened #3422 "[folding] language-aware folding"
The current implementation of folding uses an indentation based folding strategy that is unaware of the language it works on. Knowledge on the underlying language allows us to solve the following requests:
- [folding] Cannot code fold empty functions #3349
- [folding] Collapse ending brace to the same line #3352
- [folding] Folded block comments should show */ #3350
- [folding] should not fold whi

[2016-02-24 15:39] anseki commented on #1895
Hi @vprasanth,
If you use a version manager that doesn't support default version such as Windows nvm, as you said, you must call nvm in a terminal before you start VS Code.
But if you use a version manager that supports default version, as @joaomoreno said, you can set default version to start VS Code without calling nvm. And I think that you use that on OSX.

[2016-02-24 15:40] joaomoreno commented on #2910
Not critical for February, moving to the rightful owner.

[2016-02-24 15:45] joaomoreno commented on #2904
Duplicate of #3133

[2016-02-24 15:45] #2904 closed

[2016-02-24 15:45] joaomoreno commented on #2892
Duplicate of #3133

[2016-02-24 15:45] #2892 closed

[2016-02-24 15:45] waderyan commented on #3164
Moved to vscode-website repo #109

[2016-02-24 15:47] waderyan commented on #3169
@hhelongl what OS / Browser are you using? What page are you downloading from? This works on the variations we are testing.

[2016-02-24 15:47] waderyan commented on #3197
This has been moved to vscode-website repo. Top of the backlog :)

[2016-02-24 15:47] #3197 closed

[2016-02-24 15:54] joaomoreno commented on #3301
:+1:

[2016-02-24 15:55] joaomoreno commented on #3280
:+1:

[2016-02-24 15:55] joaomoreno commented on #3291
:+1:

[2016-02-24 16:00] joaomoreno commented on #3402
Yes exactly, sorry for the confusion.

[2016-02-24 16:06] #3318 closed

[2016-02-24 16:12] joaomoreno commented on #3341
Do the same for Omnisharp pls

[2016-02-24 16:15] egamma commented on #3342
@pcgeek86 the release notes are here https://code.visualstudio.com/Updates :smile:  and whenever you get an auto update there is message box with a button to open the release notes.

The fact that you never noticed them makes me thinking...

[2016-02-24 16:32] waderyan commented on #3164
@hashhar we aren't able to reproduce this. Can you point out the specific page you are seeing this on and what your OS / browser configuration is?

[2016-02-24 16:33] waderyan commented on #3164
Ah nevermind I found it - http://code.visualstudio.com/insiders

[2016-02-24 16:33] #3164 closed

[2016-02-24 16:34] joaomoreno commented on #2690
Pushing to March due to lack of @SofianHn, we need more of him

[2016-02-24 16:36] bgashler1 commented on #3299
@Tyriar, yes.  This is to differentiate it further from non-collapsed icons.  It also helps it stand out as a visual landmark and it matches how VS does it.

[2016-02-24 16:39] #1496 closed

[2016-02-24 16:40] jycouet commented on #3385
Since you see tags I would expect to see branches too :+1:
In the dropdown, I only see tag, no branch.

[2016-02-24 16:40] joaomoreno commented on #1000
Nothing happened in February for this. Ping @SofianHn

[2016-02-24 16:44] #105 closed

[2016-02-24 16:44] mlabrecque opened #3423 "Git out of sync on mounted drive"
When I attempt to load a project located on a drive mounted via smb:// the git tab in VS Code reports that all files in the project as "changed". When I go to the command line, my Git status command shows the working directory as clean. I have attempted to refresh the git status and it shows the spinner for 10 seconds, but then no changes appear in the Git tab. It just shows 99+ files changed, whe

[2016-02-24 16:45] joaomoreno commented on #105
A first version of this feature will be on the February release.

[2016-02-24 16:52] waderyan opened #3424 "404 when publishing an extension"
Copied from internal email.

I'm trying to publish a Visual Studio Code extension. I followed the [steps in the docs](https://code.visualstudio.com/docs/tools/vscecli) but, after running vsce publish, I get the following error:

`Error: Failed Request: Bad Request(400) - TF400898: An Internal Error Occurred. Activity Id: 587a31af-2cd4-40ae-bed1-acd5c03723a4.`

[2016-02-24 17:12] #2890 closed

[2016-02-24 17:12] #2934 closed

[2016-02-24 17:12] #3021 closed

[2016-02-24 17:12] #3133 closed

[2016-02-24 17:12] #3272 closed

[2016-02-24 17:12] #3334 closed

[2016-02-24 17:12] #3396 closed

[2016-02-24 17:15] bbenoist commented on #3021
@joaomoreno Thanks for 6979086 :+1:

[2016-02-24 17:19] kevinkucharczyk commented on #1009
@bpasero: I am still experiencing the issue on the Insiders build with Salsa enabled.

OS X El Capitan Version 10.11.1 (15B42)

[2016-02-24 17:20] alexandrudima commented on #2957
639a3cbcb3ac118dfaba7443e2ee3b502ff34d21

[2016-02-24 17:20] #2957 closed

[2016-02-24 17:28] alexandrudima commented on #2802
We do feature detection for hit testing, in the following order: `document.caretRangeFromPoint`, `document.caretPositionFromPoint` and finally `document.body.createTextRange`.

It looks like Edge decided to implement `document.caretRangeFromPoint`, which it didn't support before, but it implemented it in a broken way.

[2016-02-24 17:34] obrejla commented on #2248
:+1:

[2016-02-24 17:46] #3181 closed

[2016-02-24 18:21] joaomoreno commented on #3021
:+1: Thanks for suggesting it!

[2016-02-24 18:21] joaomoreno commented on #3385
We do show local branches though, just not remote ones. If you create more branches locally (`git branch foo`), don't they show up there?

[2016-02-24 18:36] aeschli commented on #3326
We were wondering if this should really be 2 settings, or just one.

@chrisdias Chris, with Sofian being out, please make a call if this needs a fix for February.

[2016-02-24 19:06] jycouet commented on #3385
Yes, you are right, when I create a local branch I can switch between my branches... Good!
What I found wired is to see remote tags but not remote branches. In my mind, we see both or none... but not like this.

What I would like to avoid is to use the command line to checkout a remote branch.

Anyway, VSCode is a great tool!

[2016-02-24 19:08] colbyrussell commented on #686
Needs "tasks" tag?

[2016-02-24 19:15] Tyriar commented on #3381
This actually is an issue. Code is no longer showing in the launcher because it's pointing at the launcher script not the `Code` binary. This broke when the build became quality dependent.

[2016-02-24 19:17] chrisdias commented on #3326
I believe there are two unique settings - enableTelemetry and enableCrashReporter, they are distinct and have different end points.  Having them together in the same section of the settings file would be ideal, but not a requirement for Feb, assuming it can be fixed at a later time.

[2016-02-24 19:21] egamma commented on #686
@ghost  added the label, thanks

[2016-02-24 19:25] egamma commented on #2957
@alexandrudima i'll add this to the feb plan, so that we do not forget to release note the feature

[2016-02-24 19:30] #3156 closed

[2016-02-24 19:33] joaomoreno commented on #3385
Makes sense.

[2016-02-24 19:46] Tyriar commented on #3353
This is something that can wait until language-awareness comes about. The `def` ends on the last non-whitespace line that is of the same indent level (or lower):

[code]

[code]
[code]

[2016-02-24 19:50] vprasanth commented on #1895
@joaomoreno @anseki sweet thanks! I didn't even know I could do that. I was using `nvm use xxxx` within my `bash_profile`. Thanks!

[2016-02-24 19:51] Tyriar commented on #3373
It's focusing body:

[code]

Immediately after the `textarea`.

[2016-02-24 19:54] egamma commented on #3415
This comes from emmet which we enabled for React.

[code]
@aeschli Suggest to also register the javascript.json snippets for javascriptreact.

Suggest to get this in for Feb since we will say that we improve the .jsx support.

[2016-02-24 20:08] egamma commented on #3384
Use the clipboard node module, plss see https://www.npmjs.com/package/clipboard

[2016-02-24 20:08] #3384 closed

[2016-02-24 20:08] Tyriar opened #3425 "[folding] Incorrect indent level being folded"
#2994

With this Java file:

[code]

Selecting line number 8 (`swap(array, j, j - 1)`) and hitting <kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>[</kbd> folds the wrong level:

![image](https://cloud.githubusercontent.com/assets/2193314/13299243/26bcb66e-daef-11e5-9263-b274a81787e2.png)

Adding another if statement within that `if` again folds 1 level above the correct level.

[2016-02-24 20:17] #2994 closed

[2016-02-24 20:35] egamma commented on #2394
The error message comes from `eslint` and the corresponding `vscode-eslint` extension. Uninstalling the extension makes the error goes away.

@waderyan can you check your eslint configuration and whether you enabled ecmaVersion 6, see below? (I fail to install `vscode-eslint` on our latest, but this is another issue).

[code]

@dbaeumer has the change prefix error by the source been delivered to `

[2016-02-24 20:36] stkb commented on #291
I agree that there's a discoverability issue with the setting, but that's a really wider a issue that affects other settings too. If you were to add another "zoom persistance" setting, it would have exactly the same discoverability issue!

If you think the ```window.zoomLevel``` description could be better, you could always create a PR [on the file where it lives](https://github.com/Microsoft/vsco

[2016-02-24 20:44] weinand commented on #3302
After testing the eval based hover for node-debug, I've disabled this feature for the February release.

[2016-02-24 20:44] #3302 closed

[2016-02-24 20:56] goddyZhao commented on #3052
Hi, @Tyriar , `ctrl+h` by default is the command for `deleteLeft` when `editorTextFocus` (I am using Mac), I don't think this is the command as you suggested

[2016-02-24 20:58] chrisdias commented on #2748
Message: "C# support is now an extension, would you like to install it?"

With the following options:

* **Yes**: Install the extension, do not write any prompt flag. If I uninstall the extension I will get prompted later to install it again (which is good).
* **No**: Do not install the extension and write a flag to not prompt me again.
* **Later**: Do not install the extension and prompt me the n

[2016-02-24 21:00] goddyZhao commented on #3052
Hi, @alexandrudima , `ctrl+d` by default is the command for `deleteRight`. Did you customize this shortcut?

[2016-02-24 21:03] goddyZhao commented on #3052
By the way, the feature that I am asking is the `super+ctrl+g` in sublime text: https://gist.github.com/nuxlli/1207014

[2016-02-24 21:04] chrisdias commented on #2701
The OmniSharp extension is being slimmed down to remove the runtime, such that the runtime will be installed on first activation.  That means the extension should install quickly and then there will be UI to install the rest. @DustinCampbell is working on the install experience now.

[2016-02-24 21:09] chrisdias commented on #2701
From my testing: The prompt is useful but it is easy to miss it and it never comes up again. Maybe I don’t want to install it right now, because I opened the tool on the wrong folder, etc.  If I bring up the tool, get the prompt, and press Cmd+Q to exit Code I'll never get the prompt again.

I put a suggested experience in #2748, which is effectively to have a yes/no/later prompt and to only write

[2016-02-24 21:16] weinand commented on #2748
@isidorn I like Chris' suggestion on the behaviour of the OmniSharp extension message. Since we had a similar discussion about the Mono-Debug extension today, I think it would make a  lot of sense to change the behaviour of Joh's mechanism. Then we could both profit from this and would need different implementations for OmniSharp and Mono-Debug. What do you think?

[2016-02-24 21:19] waderyan commented on #2394
@egamma I did not have the options for eslint set, however it does not fix the issue.

[2016-02-24 21:28] Nimzozo commented on #105
:+1:

[2016-02-24 21:31] egamma commented on #2394
@waderyan but with the eslintrc config the error for the `import` goes away? This worked for me.

The error message for the `export` looks like it is from TS/Salsa. Can you include the snippet and the jsconfig.json pls.

[2016-02-24 21:32] Tyriar commented on #3052
@goddyZhao I think it's <kbd>cmd</kbd>+<kbd>d</kbd>/<kbd>h</kbd> for Mac instead of <kbd>ctrl</kbd>.

[2016-02-24 21:38] Tyriar commented on #3381
After reinstalling I see it shows up fine in the launcher:

![image](https://cloud.githubusercontent.com/assets/2193314/13301829/bde5a4f4-dafb-11e5-967b-72fa1c41ce4b.png)

On the specific issue reported, this is expected for Ubuntu programs; the software center advises the associated `bin/` command and installs a `.desktop` file in `/usr/share/applications` which makes it show up in the launcher a

[2016-02-24 21:38] #3381 closed

[2016-02-24 21:50] zchrykng opened #3426 "tasks.json seeming to cause weird error"
Using version: 0.10.8, Commit: db71ac

Getting this in the output window after modifying my `tasks.json` file.

[code]

My tasks.json file is:

[code]

and this one doesn't cause the error:

[code]

Any help would be appreciated.

[2016-02-24 21:51] chrisdias opened #3427 "change ms-vscode.omnisharp to ms-vscode.csharp"
(from testing #2701)

@DustinCampbell is going to rename the extension `ms-vscode.csharp`.

* `extensionAssistant.ts`, line 57: `extensionChecker['ms-vscode.omnisharp'] = omnisharpChecker;`

it might make sense to change the method name too, from `omnisharpChecker` to `cSharpChecker`.

* `extensionTips.json`, line 2: `"ms-vscode.omnisharp": "{**/*.cs,**/project.json,**/global.json,**/*.csproj,**/*

[2016-02-24 21:55] httpete opened #3428 "--allowUnreachableCode in tsconfig.json breaks in editor"
I upgraded to 1.8.2. My VScode starting getting red underlines all over after I added the allowUnreachableCode option in the tsconfig. If I remove and restart, it works fine.

[2016-02-24 21:55] chrisdias commented on #3234
Looks really good with latest changes.

[2016-02-24 22:02] waderyan commented on #2394
Creating .eslintrc fixed it. We also have eslint.options in preferences. I assumed they performed the same function, but they don't in this case.

Snippet:

[code]

jsconfig.json
[code]

[2016-02-24 22:04] waderyan commented on #2394
Here is a new issue. I'm getting unused var issues. This makes sense for React, but Navigation and Viewport are being used in the JSX syntax.

![image](https://cloud.githubusercontent.com/assets/2449568/13302571/c5254e3e-db07-11e5-824c-b836181d999b.png)

[2016-02-24 22:14] jpierson commented on #3225
Is there any compatibilities using [typings](https://github.com/typings/typings) instead of _TSD_ with VSCode?

[2016-02-24 22:19] Tyriar opened #3429 "Themes don't support background styling"
.tmTheme files allow specification of background colors which don't seem to be supported, for example:

[code]

This is especially problematic for themes that attempt to invert background and use a similar foreground to the text view's background color (https://github.com/Microsoft/vscode/issues/2158)

[2016-02-24 22:22] codepic commented on #379
As of now, 0.10.8-insider build run as an administrator lets you save to D:\<filename>

As far as I can see, @bpasero this is truly closed.

[2016-02-24 22:26] chrisdias opened #3430 "Improve JavaScript language service prompt"
Testing #3170

I have the same issue with the JavaScript infrastructure message as with the OmniSharp extension prompt (#2748). It is easy to miss this prompt and I have to be in the mood to want to read the release notes.

Suggest a similar behavior in #2748:

Message: "Our JavaScript support has been enhanced, would you like to view the Release Notes?"

Options:

* **Yes**: Open release notes, s

[2016-02-24 22:30] Tyriar commented on #3359
Any particular reason?

[2016-02-24 22:30] david-mitchell opened #3431 "Command-E on Mac behaves differently from other applications"
In most Mac applications, pressing Command-E fills the find buffer with the currently selected text. However, in Visual Studio Code, it appears to invoke the Quick Open menu.

[2016-02-24 22:31] weinand commented on #3427
@chrisdias what is my role in this? I assume that Dustin publishes the extension under the new name and updates the description and readme.md, right?

[2016-02-24 22:32] Tyriar commented on #3411
Duplicate https://github.com/Microsoft/vscode/issues/1692

[2016-02-24 22:32] #3411 closed

[2016-02-24 22:34] chrisdias commented on #3427
@weinand don't we need to change the identity in our sources?

in extensionAssistant.ts and extensionTips.json we refer to `ms-vscode.omnisharp` and it needs to be changed to `ms-vscode.csharp`.

Sorry if I have this wrong.  I assigned to you because I assigned the other OmniSharp message to you :)

[2016-02-24 22:41] weinand commented on #3427
@chrisdias from your first message I was assuming that Dustin fixes those as part of his extension rename. Sorry if I misunderstood. Please let us know (via this issue) that the final `ms-vscode.csharp` extension has been published and we will then change the two places you've mentioned.

[2016-02-24 22:42] weinand commented on #3427
@isidorn assigning to you, because you are already familiar with Joh's code.

[2016-02-24 22:46] chrisdias opened #3432 "JSDoc @constructor shows up in IntelliSense"
related to #3186?

Testing #3170 and the `@ constructor` JSDoc comment text shows up in the IntelliSense prompt.

[code]

![image](https://cloud.githubusercontent.com/assets/1487073/13303539/e652f9e2-db04-11e5-9ce8-beff0eda5216.png)

![image](https://cloud.githubusercontent.com/assets/1487073/13303493/a0b9951c-db04-11e5-8a87-305d4aba60a8.png)

[2016-02-24 22:51] Nimzozo opened #3433 "Files explorer : *Properties* command in the context menu"
How about a _Properties_ item / command in the file explorer ?
I often want to look at my files properties, mainly the size.
If this is not possible, maybe just add a tooltip to show some useful properties.

[2016-02-24 22:52] Tyriar commented on #3371
@joaomoreno It appears that this dialog's only purpose is to show help (which shouldn't belong in a hidden hotkey) and to turn on screen reader support. Screen readers aren't working on Linux due to an upstream issue, correct?

[2016-02-24 22:54] Tyriar commented on #3433
My thinking is that we'd probably want to stay away from this as users can open the file in the OS's file explorer or terminal which both support this.

[2016-02-24 23:00] Nimzozo commented on #3433
This is  understandable, I wanted to win 1 click :smile: .
Maybe the tooltip idea is not bad though.

[2016-02-24 23:08] rid9 commented on #3424
This is what I did:

1. Went to my account's home page, then to My Profile.

2. Under Security, I created a new Personal Access Token.

3. Used "vsce" as the description, set the expiration to 1 year, selected "All accessible accounts" from the Accounts dropdown, kept Authorized Scopes to "All scopes", then clicked "Create Token".

4. Used `vsce create-publisher rid9`:

5. Used `vsce login rid9`:

[2016-02-24 23:17] chrisdias opened #3434 "Have to reload vscode in order to pick up jsconfig.json"
Testing #3170

I still need to reload the environment when i add a jsconfig.json file, even with Salsa.

add `greeter.js`:

[code]

add `app.js`:

[code]

result no intellisense on greeter.

![image](https://cloud.githubusercontent.com/assets/1487073/13304395/332b3014-db09-11e5-8707-e2e57f94f21e.png)

add a `jsconfig.json`:

[code]

* go back to `app.js`, try to bring up intellisense on `g` again,

[2016-02-24 23:40] chrisdias commented on #3170
Ember looks ok, i was able to get some IntelliSense with ember.d.ts, no crashes.

[2016-02-24 23:40] bbenoist commented on #1037
@TurkeyMan If you need to run more rare commands, I've just released an extension which allows you to run commands from vscode.
See https://marketplace.visualstudio.com/items?itemName=bbenoist.shell for more info

[2016-02-24 23:40] #3244 closed

[2016-02-24 23:42] seanmcbreen opened #3435 "Extension [install] Version not Working"
#2894

I created a new extension and published several versions:
0.0.3 engine = ^0.10.11
0.0.3 engine = ^0.10.11

[2016-02-24 23:44] bbenoist commented on #981
Not 100% related but interested people can take a look at the new [Shell extension](https://marketplace.visualstudio.com/items?itemName=bbenoist.shell) I made. It's able to run shell commands directly from the editor :rocket:

[2016-02-24 23:50] seanmcbreen commented on #3435
Ignore this

[2016-02-24 23:50] #3435 closed

[2016-02-24 23:51] waderyan commented on #3424
@joaomoreno can you take a look at this?

[2016-02-25 00:22] chrisdias commented on #3338
I just spent a bunch of time trying to figure out why my app from vscode-samples wouldn't run.  The updated error message in https://github.com/Microsoft/vscode-node-debug/commit/ce36f927da0f9417d5c93cb8c239bf042ba2a92b will certainly help.

Can we include a "More Information" link in that message and point to the release notes, where I assume this will be covered in greater detail. I am guessing

[2016-02-25 00:36] david-mitchell opened #3436 "Opening settings.json adds permanent warnings to status bar."
After opening the user preferences (Command-comma on Mac), the status bar shows three warnings in the status bar:

![screen shot 2016-02-24 at 4 33 47 pm](https://cloud.githubusercontent.com/assets/540554/13305994/938ba136-db14-11e5-8e5d-189cdfd197ff.png)

These warnings persist even after closing the settings.

[2016-02-25 00:52] chrisdias opened #3437 "Improve preLaunch task error message and prompts"
Testing #2940

* I had one error detected with my `less` task, but the message used the plural "Errors". If we don't know if there are 1 or more errors, we can use the term "Error(s)"
* `prelaunch` is all lowercase but the name is really `preLaunch`
* I don't like the phrase "Debug Anyway" and "Close" says to me "close this message". I suggest change the options to "Continue" and "Stop", which are

[2016-02-25 01:01] chrisdias commented on #1931
With the debug console now horizontal I find that i'm doing even more document/window management after i press Stop in the debugger.

I have to open the Explorer and i have to close the debug panel so that i can use the full height of the editor.  This is especially painful on my laptop where the screen is not very tall.

[2016-02-25 01:09] chrisdias opened #3438 "Error message tweak when no task exists for preLaunch"
Testing: #2940

I have a preLaunch task set up without a gulpfile or task.json.  Press F5 and I get this error message:

"Prelaunch task build terminated with exit code 1." with "Debug Anyway" and "Close" prompts.

Similar to #3437 I suggest we tweak the message and the prompts to be consistent:
* add "The" so we don't start the message with a lowercase property name
* change "Prelaunch" to "preLa

[2016-02-25 01:16] chrisdias commented on #3333
We should be consistent when referring to the "preLaunch" task because it helps people find the problem, they will look for the term "preLaunch".

So, I suggest the error message is "Could not find **preLaunch** task '*taskname*'.  I am not sure we need the second sentence "Make sure the task exists and it has a unique name".

Also, in this case I only have a "Close" option. We should be consisten

[2016-02-25 01:17] chrisdias commented on #2940
@isidorn @joaomoreno I feel like I was a little sloppy opening new bugs vs. reopening existing bugs for this test case, not very consistent. Sorry about that.

[2016-02-25 01:20] axefrog opened #3439 "I want to be able to just close things consistently without worrying about what type of thing it is"
There's this extremely annoying distinction between editor, working files and other views (e.g. settings). With a single, common shortcut key, if I have a thing open, I want to be able to close it and it's gone. If it was in working files, it's gone from there too. It doesn't matter what I had open, I want it gone. Screwing around trying to learn the different ways to close things and having to ma

[2016-02-25 01:20] chrisdias commented on #3427
@dustincampbell let me know asap when this is ready.

[2016-02-25 01:40] chrisdias commented on #3434
related to #3417?

[2016-02-25 01:41] chrisdias commented on #3417
Why don't we watch for changes to tsconfig or jsconfig and just reload it automatically?  When would you not want this to happen?

[2016-02-25 01:46] nchammas commented on #78
I agree with @luisrudge that this should be the default behavior, but perhaps there is an intermediate solution we can go for first:

Results from tracked files should come first. Results from git-ignored files should come last.

This is a lower-risk change that, IMO, can be implemented immediately and yield a notable user experience benefit for search.

Currently, results from git-ignored files a

[2016-02-25 01:58] chrisdias commented on #3368
If anything I would rename it `VB`. We also use this for VB Script, so having the name be more generic gives us flexibility. When OmniSharp supports VB fully in VS Code then we can get specific on the name.

[2016-02-25 01:58] #3368 closed

[2016-02-25 04:37] t0lkman opened #3440 "Is there anyway to hide the twitter feedback icon?"
This smiley face is distracting me for some reason :)

[2016-02-25 04:48] chrisdias opened #3441 "swap order of links in command palette for installing extensions"
readme first, then license, then download button.  the readme is the most important probably as people will press enter to install it.

[2016-02-25 05:27] Tyriar commented on #3439
You can add these keybindings to get that sort of behavior to close the current working file (<kbd>ctrl</kbd>+<kbd>w</kbd>) and close all working files (<kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>w</kbd>).

[code]

[2016-02-25 06:05] Lonefy opened #3442 "[JS coloring] same ‘var’ has different color"
version: 0.10.8
![image](https://cloud.githubusercontent.com/assets/7921431/13311297/4cde4e78-dbc8-11e5-8116-8ef45b9642b2.png)

after `format code`:
![image](https://cloud.githubusercontent.com/assets/7921431/13311323/8a28f13e-dbc8-11e5-9898-d0fc5187aa43.png)

[2016-02-25 06:05] tacho87 opened #3443 "Undo stack lost at random times."
After 0.10.9 vscode does not preserve the undo/redo stack. Sometimes it preserves for 5 to 10 items. It was not behaving like this before upgrading.

[2016-02-25 06:24] sun1991 opened #3444 "Python UnicodeEncodeError in output window"
`arabic_bytes=b'\xd9\x83\xd9\x84\xd8\xa7 \xd8\xa8\xd8\xaf\xd8\xa7\xd9\x8a\xd8\xa9 \xd9\x88\xd8\xa8\xd8\xaf\xd8\xa7\xd9\x8a\xd8\xa9'`
`print('%s' % arabic_bytes.decode('utf-8'))`

The output in output window is:
`UnicodeEncodeError: 'ascii' codec can't encode characters in position 0-2: ordinal not in range(128)`

Is output window support ASCII only? Or where can I change it?

[2016-02-25 06:24] sun1991 commented on #3444
version 0.10.8 on win7 64bit

[2016-02-25 06:58] joaomoreno commented on #2691
Also, document the LICENSE field

[2016-02-25 07:12] #2940 closed

[2016-02-25 07:16] isidorn commented on #3338
We removed all the comments from the launch.json 5 sprints ago because we felt they were not bringing additional value since all of that can be seen by either hovering or reading our documentation. No user complained so I think it was a good change.

[2016-02-25 07:19] isidorn commented on #3437
Well close is actually close this message, so I think that is good since we use that in all other messages. Continue debugging vs debug anyway was discussed by @weinand and me and we decided to use "debug anyway" which I prefer.
I will change prelaunch to preLaunch, and will change errors pluralirity

[2016-02-25 07:34] bgashler1 commented on #2984
@aeschli This is a great idea :+1:   I can push it tomorrow before end of day my time, if that's not too late.  Let me know.  Otherwise, we'll definitely get it by March.

[2016-02-25 08:00] joaomoreno commented on #3424
This issue was moved to Microsoft/vscode-vsce#68

[2016-02-25 08:00] #3424 closed

[2016-02-25 08:02] WillAnd31 opened #3445 "Red warning line while editing file with the git control panel"
When editing merge changes in the git control panel when you edit the stash vs. updated upstream changes, if you remove code in the updated/stash code then undo and redo the changes there will be a red/orange bar on the code line that you edited. After than line of code is in orange/red bar you can only remove it by closing the file and reopening it.

Example:

[code]
Then remove the git stashed/u

[2016-02-25 08:02] joaomoreno commented on #3424
@waderyan  `Internal Error Occurred` means it's a service problem, we should inform them.

Moving to `vsce`. Created bug in Microsoft/vso-node-api#36 to see if we can get their attention.

[2016-02-25 08:03] joaomoreno commented on #3424
@rid9 Can you publish any other extensions?

[2016-02-25 08:16] joaomoreno opened #3446 "Add tips to the extension tips list"
@seanmcbreen

[code]

[2016-02-25 08:18] #3237 closed

[2016-02-25 08:18] #2701 closed

[2016-02-25 08:25] joaomoreno commented on #3445
Duplicate of #66. Fix will come next release.

[2016-02-25 08:25] #3445 closed

[2016-02-25 08:27] joaomoreno commented on #3443
@tacho87 Are you using OS X? Seems to be a duplicate of #3071. Related to #2829.

[2016-02-25 08:27] WillAnd31 commented on #3445
@joaomoreno Awesome, thank you!

[2016-02-25 08:28] joaomoreno commented on #3440
I'm afraid there isn't. Sorry!

[2016-02-25 08:28] #3440 closed

[2016-02-25 08:29] joaomoreno commented on #3436
@david-mitchell Might it be because you have invalid settings in your `settings.json` file? Do you have any coloured underlines in there?

[2016-02-25 08:31] martinwoodward commented on #3442
You had me worried I was going to have to do some real work for a second there.

[2016-02-25 08:32] Thaina commented on #3192
+1

[2016-02-25 08:33] joaomoreno commented on #3431
We chose to use <kbd>⌘E</kbd> for VS Code for one of the most powerful actions in the editor itself. With it you can quickly navigate to any file as well as navigate back in history. I must say it's my most used shortcut in all of Code. Give it a spin!

In any case, you can always overwrite this in your keybindings file:

[code]

[2016-02-25 08:36] aeschli commented on #3442
:-)

duplicate of https://github.com/Microsoft/TypeScript-TmLanguage/issues/11

[2016-02-25 08:36] #3442 closed

[2016-02-25 08:38] joaomoreno commented on #3428
I cannot reproduce this, can you provide an example where you see this happening? Or maybe some screenshots? What error message did the red underlines tell you?

[2016-02-25 08:43] alexandrudima commented on #3234
@isidorn Looks great!

[2016-02-25 08:43] #3234 closed

[2016-02-25 08:44] alexandrudima commented on #3443
@tacho87 Can you please share some reproducible steps?

[2016-02-25 08:44] joaomoreno commented on #3426
The problem is that the value is the number `1`. Try using a string instead:

[code]

@dbaeumer We need to fix this at the schema level and produce an error/warning.

[2016-02-25 08:45] alexandrudima commented on #3170
I didn't try the Ember scenario, but given Martin and Chris tried it, I think its ok :)

[2016-02-25 08:45] #3170 closed

[2016-02-25 08:45] joaomoreno commented on #3419
Let's consider putting this information in the repo, so people can make PRs on it.

[2016-02-25 08:47] joaomoreno commented on #3399
Do you see any errors? Which version of Code do you have? Which version of OS X do you have? What is the behaviour you see?

[2016-02-25 08:47] alexandrudima commented on #3373
Duplicate of #2327

[2016-02-25 08:47] #3373 closed

[2016-02-25 08:47] isidorn opened #3447 "Value.replace is not a function"
from jackson davis:

I believe this is the commit that introduced this: b0fe390fa39cbf74a3dc123401c937f68de48ef9 to fix issue 1180

Isidor, this appears to be your change. Our launch options for C# and C++ support some object level properties in launch.json. Specifically, arrays of strings and arrays of name value pairs.  This was working back in December so. Now, the json parser for launch.json g

[2016-02-25 08:50] weinand commented on #3338
@chrisdias we've removed comments from the default configs in launch.json because they are contributed in the extension's package.json: comments would invalidate the json syntax which would result in problems with all tools that cannot deal with comments in json.

[2016-02-25 08:50] joaomoreno commented on #3420
The default extension has the following in its `package.json`:

[code]

This means it will only be activated when the `extension.sayHello` command is triggered.

If you run the `Hello World` command from the command pallette with <kbd>F1</kbd> (or <kbd>Cmd Shift P</kbd>) your extension will then be activated.

[2016-02-25 08:50] #3420 closed

[2016-02-25 08:54] joaomoreno commented on #3434
Probably.

[2016-02-25 08:57] joaomoreno commented on #3371
Not really sure. They might not work simply because we never tackled that problem. Ping @bpasero

[2016-02-25 08:58] joaomoreno commented on #3432
It is up to each language service to parse the comments and provide whatever they want to be rendered in the widget.

[2016-02-25 09:01] CoderBOBO commented on #3399
no response.     os x10.11.3

[2016-02-25 09:16] weinand opened #3448 "support to pass a 'More Information' url from the debug adapter to the frontend"
For some errors returned from the debug adapter to the frontend it would be helpful if they could include a link to additional information.

CC @isidorn @chrisdias

[2016-02-25 09:29] joaomoreno commented on #3359
Hm... Figuring out whether the text fits in there is not trivial nor do I feel it improves the experience by much. But feel free to give it a try! ;)

[2016-02-25 09:30] obrejla opened #3449 "JavaScript - Salsa Preview doesn't work at all"
Hi,

I tried a code mentioned at [Updates](http://code.visualstudio.com/Updates) web and IntelliSense doesn't work. Do I need to enable some extension, or do something else?

I tried this:
[code]

...and got "No suggestions." after `per.`.

I just need to know whether it should work or not, because it didn't work so I started to write an extension which handles that ;)

Thanks!

-----
Ubuntu 14.04

[2016-02-25 09:31] joaomoreno commented on #3399
What do you mean by *no response*? Maybe provide a screenshot? Some videos? Gifs? Any more information would be great.

Also, and again, what version of Code do you have?

[2016-02-25 09:32] joaomoreno commented on #3449
I don't understand which version of Code you have. When you go to the `About` dialog, what version is there?

[2016-02-25 09:32] #3447 closed

[2016-02-25 09:35] isidorn commented on #3447
To verify have in your launch.json and try to debug
[code]

[2016-02-25 09:36] weinand commented on #3338
@chrisdias currently it is not possible to pass a "More Information" link from a debug adapter to the frontend that actually works as a link. So just seeing the link in its raw form would only clutter the error message. I've created #3448 to track this new feature.

The current error message looks like this:

![2016-02-25 10-34-56](https://cloud.githubusercontent.com/assets/1898161/13315529/7be647

[2016-02-25 09:36] #3338 closed

[2016-02-25 09:40] obrejla commented on #3449
Recenty I updated my previous post, it's there...

Ubuntu 14.04 LTS
Version 0.10.8
Commit db71ac6
Date 2016-02-05T10:00:07.223Z
Shell 0.35.6
Renderer 45.0.2454.85
Node 4.1.1

[2016-02-25 09:51] joaomoreno commented on #3430
Unfortunately our API doesn't let us hide the `Close` button. So, `Close` will behave as you describe `Later` to behave. This seems fine for me. Here's how it looks:

![image](https://cloud.githubusercontent.com/assets/22350/13315876/a3719d5a-dbad-11e5-980d-4871bf561add.png)

[2016-02-25 09:53] joaomoreno commented on #3449
Salsa will only arrive with `0.10.10`, coming soon. This use case is not supported before Salsa.

[2016-02-25 09:53] #3449 closed

[2016-02-25 09:56] BenElliottBV commented on #1440
+1 from me too! Huge requirement for us to switch to code

[2016-02-25 09:57] obrejla commented on #3449
Oki, that explains everythig...except...why is it in `0.10.8 (January 2016)` update section?? :-)

[2016-02-25 10:02] #3438 closed

[2016-02-25 10:05] joaomoreno opened #3450 "High contrast theme bleeds into other themes in search viewlet"
![image](https://cloud.githubusercontent.com/assets/22350/13316303/a9f3799e-dbaf-11e5-93a4-3103b11143c6.png)

[2016-02-25 10:08] isidorn commented on #3333
We need the second sentence so it is clear to the user what might be the cause of the issue because there might be two tasks with the same name and in that case the user might not be aware what is the real casue.

Continue and stop make no sense in this case since we can not continue until the user fixes his problem in launch.json, and then he has to start debug again

[2016-02-25 10:10] tht13 commented on #3425
A further issue here is that if you perform the fold it will not fold, for example:

[code]

However if you add a second line like this:
[code]

If you fold/unfold and then remove the new second line and attempt to fold the single line, the folding works. (The same happens with your example above, add a second line in that if statement, fold/unfold it, remove the line, it will then fold correctly.

[2016-02-25 10:11] joaomoreno commented on #3417
@weinand @egamma I believe there is no way to provide separate actions with separate behaviours here. I only found [one place](https://github.com/Microsoft/vscode/blob/master/extensions/typescript/src/typescriptMain.ts#L45) where the project gets reloaded. So, I have to assume the language service is shared between JavaScript and TypeScript. My very limited knowledge of how this works might not be

[2016-02-25 10:13] weinand commented on #3417
@joaomoreno We had exactly your second solution in mind: Have separate Reload JavaScript and Reload TypeScript Project actions, but each will reload both worlds as well. They will both do the same.

[2016-02-25 10:14] #3437 closed

[2016-02-25 10:17] aeschli commented on #3316
I limited the maximum of folding regions to 10000. The filtering criteria is the size of the indentation.

[2016-02-25 10:17] #3316 closed

[2016-02-25 10:18] #3427 closed

[2016-02-25 10:19] isidorn commented on #3427
So I changed all `ms-vscode.omnisharp` to `ms-vscode.csharp` inside our code.
I did not publish any extensions or nothing like that

[2016-02-25 10:28] #3441 closed

[2016-02-25 10:28] #3446 closed

[2016-02-25 10:30] weinand commented on #3407
With the fix pressing the Stop button terminates the debug session which disconnects from node (without terminating it) and prevents a restart from happening.
nodemon and node will continue to run.

[2016-02-25 10:31] mrblackus commented on #1749
+1

[2016-02-25 10:39] #2300 closed

[2016-02-25 10:40] #2802 closed

[2016-02-25 10:41] alexandrudima commented on #2802
Edge's implementation is not necessarily broken, it is a matter of interpretation. Edge sometimes returns a token's `<span>` as the hit container and sometimes a token's text node, while Chrome always returns a token's text node

[2016-02-25 10:42] hannesne opened #3451 "VS Code not working on Ubuntu when connected using XRDP."
Hi, it seems like the bug with either Atom or XRDP discussed in Atom issue here: https://github.com/atom/atom/issues/4360 is keeping VSCode from working in Ubuntu when you connect to it with RDP.
Trying to launch the app gives the following output:

Xlib:  extension "XInputExtension" missing on display ":10.0".
Xlib:  extension "XInputExtension" missing on display ":10.0".
libGL: OpenDriver: tryin

[2016-02-25 10:44] #3344 closed

[2016-02-25 10:45] alexandrudima opened #3452 "Search results highlights in viewlet look like they come from High Contrast in light theme?"
![image](https://cloud.githubusercontent.com/assets/5047891/13317346/2c2c4328-dbb5-11e5-9c5a-0a8401c81279.png)

[2016-02-25 10:53] aeschli commented on #3425
duplicate of #3398

I tested the fix of #3398 with your examples. Thanks @tht13 and @Tyriar !

[2016-02-25 10:53] #3425 closed

[2016-02-25 10:54] #3398 closed

[2016-02-25 10:56] #2988 closed

[2016-02-25 11:52] egamma commented on #2394
@waderyan

Actually, the eslint options in the settings are `command line arguments` for eslint [cliengine](http://eslint.org/docs/developer-guide/nodejs-api#cliengine), these are not config options or rules. I can see the potential for confusion

[2016-02-25 12:07] weinand commented on #3345
@isidorn I've debugged this and it seems that errors returned from 'attach' are only shown in the UI if it is the first 'attach' and not a restarted 'attach'. I tried to find a filter in your code that prevents these error from being shown, but I wasn't successful. Do you have an idea why these errors are not showing up.

[2016-02-25 12:17] egamma commented on #2394
These are false positives reported by eslint. I suggest to disable the rule `no-unused-vars`

[2016-02-25 12:23] egamma commented on #2394
I could reproduce this with TS 1.8.0. I can no longer reproduce in the latest vscode-alpha that has TS 1.8.2 bundled. Can pls update code-alpha and verify that the version of TS shown in the bottom right corner when a JS file is open is 1.8.2
![image](https://cloud.githubusercontent.com/assets/172399/13319543/af2033c2-dbc2-11e5-9995-5a987c99db7f.png)

Closing and all the issues can either been exp

[2016-02-25 12:23] #2394 closed

[2016-02-25 12:53] #2998 closed

[2016-02-25 13:23] weinand opened #3453 "Markdown preview is hard to read in the latest"
Previewing the 'latest.md' in the latest VS Code looks like this:

![2016-02-25 14-20-04](https://cloud.githubusercontent.com/assets/1898161/13320699/191a55e8-dbcb-11e5-83d4-e500a8730cd0.png)

and here the same file in VS Code 0.10.9:

![2016-02-25 14-19-27](https://cloud.githubusercontent.com/assets/1898161/13320724/335e1c64-dbcb-11e5-8be2-b7f9c8d47a98.png)

[2016-02-25 13:34] #2837 closed

[2016-02-25 13:35] #3401 closed

[2016-02-25 13:37] shanalikhan opened #3454 "VSCode Auto Save untitled files and open those files when opens again like Notepad++"
Is there any way that i write some text in some files and dont save those files and close the editor when i open the editor again it should auto open those files like notepad++ does.

[2016-02-25 13:38] minggo opened #3455 "When writing a custom debug adapter, variables are not shown on the test client"
I am writing a custom debug adapter, and sending result in `DebugSession.variablesRequest()` like this for testing:

[code]

But there is nothing shown on the test client
<img width="674" alt="screen shot 2016-02-25 at 9 30 28 pm" src="https://cloud.githubusercontent.com/assets/488203/13321007/8de1a75a-dc07-11e5-8fd6-a9606269ef5b.png">

I checked that, this function was invoked and returned correc

[2016-02-25 13:41] joaomoreno commented on #3449
I have to agree that it is not very obvious (ping @waderyan @gregvanl) but if you scroll down there is a section called **Enabling Salsa**.

[2016-02-25 13:44] isidorn commented on #3304
ping @dbaeumer so you are aware of the change

[2016-02-25 13:45] minggo commented on #3382
@harold-b
I am writing a debug adapter too, and can not show variables on the test client. I created #3455 for it. Could you please give me some advise?

Thanks.

[2016-02-25 13:45] joaomoreno commented on #3417
Oh I didn't realize that. Thanks!

[2016-02-25 13:49] #3409 closed

[2016-02-25 14:00] #3386 closed

[2016-02-25 14:00] isidorn commented on #3386
Using same shortcuts as visual studio. Shift + F5 to stop, ctrlCmd + shift + F5 to restart

[2016-02-25 14:02] weinand commented on #3455
@minggo implementing only a variablesRequest is not enough. You have to make sure that the whole chain works. Here is the explanation from the API doc:

![2016-02-25 14-51-18](https://cloud.githubusercontent.com/assets/1898161/13321457/5c993cb8-dbcf-11e5-95e9-e97d6c24a3d3.png)

This is the sequence of request that the debug UI will send:
- `stackTraceRequest`(threadId from stopped event) -> return

[2016-02-25 14:03] obrejla commented on #3449
Thanks!

[2016-02-25 14:04] DustinCampbell commented on #3427
OK. I changed it here as well: https://github.com/OmniSharp/omnisharp-vscode/commit/29a54a0818f6e1a4386802f74f2b8fa1a53b81fb.

I'm planning on publishing the current bits under the new name this morning

[2016-02-25 14:07] axefrog commented on #3439
@Tyriar yep but I can't do what I was talking about; with one key, close the thing that is currently open, no matter what it is, and also remove it from working files, if applicable. i.e. what every other text editor does by default.

[2016-02-25 14:08] minggo commented on #3455
@weinand
Thanks.

I implemented all these requests, and stack frames are correct.
Sorry, i didn't mention it for short.

The stack traces look like
<img width="887" alt="screen shot 2016-02-25 at 10 07 12 pm" src="https://cloud.githubusercontent.com/assets/488203/13321804/324b6584-dc0c-11e5-9062-2df7492c1d19.png">

[2016-02-25 14:13] weinand commented on #3455
@minggo I see.
Ok, then what happens if you select the first Call Stack item ('ActionTest.js')?
Its scopes should show up in the Variables viewlet. Do they?
What scopes do you have?

[2016-02-25 14:19] minggo commented on #3455
@weinand
Nothing changed when i selected first Call Stack item.

The scopes i returned is
[code]

[2016-02-25 14:20] joaomoreno commented on #3393
Duplicate of #2907...

[2016-02-25 14:20] #3393 closed

[2016-02-25 14:21] joaomoreno commented on #2598
Leaving it

[2016-02-25 14:21] #2598 closed

[2016-02-25 14:25] #2476 closed

[2016-02-25 14:25] #3417 closed

[2016-02-25 14:27] weinand commented on #3455
@minggo  the scope "Local" should appear in the Variables viewlet. Since it does not, then the problem starts already with Scopes...

Is `scopesRequest` being called when you select any of the stack frames? The arguments to `scopesRequest` should be the stack frame id.

[2016-02-25 14:30] #3238 closed

[2016-02-25 14:30] #3345 closed

[2016-02-25 14:34] #2691 closed

[2016-02-25 14:36] minggo commented on #3455
@weinand
`scopesRequest` is `only` invoked one time when first Call Stack item is selected. And i found that sometimes `scopesRequest` is invoked even no any Call Stack is selected, and sometimes, `scopesRequest` is not invoked even first Call Stack item is selected.

And it is strange that, sometimes there is a long delay `scopesRequest` is invoked.

[2016-02-25 14:40] weinand commented on #3455
@minggo the UI caches the results returned from all those requests because the VM is stopped and nothing can change. So `scopesRequest` is only called once for every stack frame. **But you have to make sure that every stack frame has a different ID!** Otherwise the UI assumes that all stack frames have the same scopes...

[2016-02-25 14:41] joaomoreno commented on #2852
If the same steps are done in the command line, the same results will follow, so Code isn't doing anything wrong.

The [git config `core.ignorecase`](http://stackoverflow.com/a/17688308/261019) seems to help you in these situations.

[2016-02-25 14:41] #2852 closed

[2016-02-25 14:43] joaomoreno commented on #1965
Closing as duplicate of #1138

[2016-02-25 14:43] #1965 closed

[2016-02-25 14:45] minggo commented on #3455
@weinand
Yep, i used `Handlers.create()` to create a new id for every stack frame.

I have a question, is it needed to selected a Stack Frame to trigger `scopesRequest `?

[2016-02-25 14:45] isidorn commented on #2748
@dustincampbell make sure to set the display name of C# extension to C# so we show an appropriate error message and not mention omnisharp

[2016-02-25 14:50] harold-b commented on #3455
Hi @minggo, got your ping from #3382. But I see @weinand is already helping you.
For what it's worth. I had a similar problem when I started my adapter, my issue was that I had forgotten to send out the initialize event.

Otherwise, you mentioned some slowness on the requests, after having the IDE open for a while and debugging several times the variables request seem to stop, they would then only

[2016-02-25 14:52] LaureKamalandua opened #3456 "mark extention as installed"
Currently it is difficult to have an overview of which extensions have been installed. I would advise marking installed components in the command palette.

![extentions](https://cloud.githubusercontent.com/assets/12623827/13323000/ac6fc9d4-dbd7-11e5-94a7-f96ae282a8aa.jpg)

[2016-02-25 14:52] aeschli commented on #3401
@joaomoreno I had to add one more change to get this correctly working.

[2016-02-25 14:53] weinand commented on #3455
@minggo it is not needed, but VS Code does it like this.
A scopesRequest needs to know for what frame it should return the scopes. So scopes are connected to frames. So the currently selected frame determines what scopes should appear in the Variables view.

[2016-02-25 15:00] minggo commented on #3455
@harold-b
Thanks for you information. I haven't closed VSCode for a long time. May be i should restart it now.

@weinand
Thanks for the answer.
But i still don't know what to do to resolve it. There seems to have two bugs:

* When i click a Call Stack other from first Call Stack, `scopesRequest` is not invoked.
* Variables are not show on test client.

[2016-02-25 15:03] isidorn commented on #3332
Yes / no / later as propes in #2748

[2016-02-25 15:04] isidorn commented on #2748
Before verifying this make sure that the c# extension has been published under a new name by @dustincampbell

[2016-02-25 15:04] david-mitchell commented on #3436
This occurs with an empty settings file on a fresh install of the latest release. The warning comes from the default settings file.

[2016-02-25 15:05] minggo commented on #3455
@harold-b
@weinand
After restarting VSCode, everything works fine. Thanks for your help.

@weinand
May be it is a potential bug of VSCode.

[2016-02-25 15:05] #3455 closed

[2016-02-25 15:05] david-mitchell commented on #3431
Command-E isn't even documented on the Visual Studio code site, and it's a duplicate of Command-P.

Why does an undocumented, duplicate shortcut need to take precedence over standard system behavior?

[2016-02-25 15:09] Tyriar opened #3457 "Revise wording on deb package"
- [x] ~~See if the package name and short description can be switched.~~ (Couldn't find out how to do this)
- [x] Short description

- [x] Long description:

[2016-02-25 15:10] harold-b commented on #3455
@minggo @weinand I suspect it's the same issue I reported on #3382, where the Variables view get's locked until the IDE is restarted. It often got locked with an empty view for me to, more specifically when I stopped debugging in the middle of a variablesRequest.

Glad it's working now :+1:

[2016-02-25 15:12] weinand commented on #3455
@minggo if you see issues with VS Code, just reload the window (F1, reload...). In most cases you don't have to restart VS Code.

If scopes (e.g. "Local") does not show up, then variables cannot work (because every variables lives in a scope). So you'll have to figure out what the problem with scopes is.

Compare your work with mock-debug. In mock-debug scopes and variables work. So there must be

[2016-02-25 15:15] minggo commented on #3455
@weinand
Thanks. I worked based on mock-debug, but now they are totally different, i just haven't changed the name.

@harold-b
Thanks.

[2016-02-25 15:19] Tyriar commented on #3439
I notice the default keyboard shortcuts doesn't want to close using `workbench.files.action.closeFile`, this may be as issue of changing that action to actually close everything as I was expecting it to do. What else are you unable to close using these keybindings?

[2016-02-25 15:20] rakkarage opened #3458 "c# files do not start at top?"
![test](https://cloud.githubusercontent.com/assets/962340/13323835/4a45d772-dba9-11e5-8821-ad516e9a3878.gif)

every single c# file over 5 or 6 line does not start at the top?
thanks

[2016-02-25 15:23] alexandrudima commented on #2262
I've looked again at https://manual.macromates.com/en/appendix and I think there is indeed something missing on our side - specifically our assumption that deciding what to do is localized to the current line being edited.

Considering the following rules (from their example):
[code]

Here are some examples I can think of (`|` indicates cursor when <kbd>Enter</kbd> is pressed):

[code]

As far as

[2016-02-25 15:30] joaomoreno commented on #3431
Good point about being a duplicate: I argue that its a way to trigger it using only the left hand.

Good point about the lack of documentation. Ping @chrisdias @seanmcbreen @waderyan, when are we going to talk about <kbd>⌘E</kbd> as the greatest keybinding ever?

[2016-02-25 15:31] #3341 closed

[2016-02-25 15:31] ghost opened #3459 "Window not really maximize on startup (Debian 8 XFCE)"
When I close VSC window in maximized state and restart VSC, the window not preserve maximized. But when I click right mouse on the title bar, the menu show as it in maximized state. To really maximize the windows, I must unmaximize it and maximize it again
(Sorry for my bad English)

[2016-02-25 15:38] egamma commented on #3431
+ @gregvanl

[2016-02-25 15:43] httpete commented on #3428
![it_does](https://cloud.githubusercontent.com/assets/1200635/13324661/a58324ac-dbac-11e5-82f0-e8d5cce0e0a2.png)
![if_i_add](https://cloud.githubusercontent.com/assets/1200635/13324662/a5f8029a-dbac-11e5-9f34-2d17f46efcbe.png)

[2016-02-25 15:45] weinand opened #3460 "unsupported debug type message: add single quotes around debug type"
without them the problem does not really 'pop out'

![2016-02-25 16-43-02](https://cloud.githubusercontent.com/assets/1898161/13324695/1768673a-dbdf-11e5-984d-0c007df6bc5f.png)

[2016-02-25 15:47] joaomoreno opened #3461 "Investigate use of ELECTRON_NO_ATTACH_CONSOLE for forked Electron processes in Windows"
We always thought that there was no way to `console.log` from an Electron process which is not launched from a command prompt. Doing so would throw since there was no stdout stream available. Ping @bpasero @dbaeumer @alexandrudima.

This would make it a hard task to setup the new `code` launcher in Windows too, related to #1704. Ping @Tyriar

While investigating for #1704, I found out about `ELECT

[2016-02-25 15:48] #3460 closed

[2016-02-25 15:51] #3340 closed

[2016-02-25 15:53] #1704 closed

[2016-02-25 15:58] VladimirSemenyuk commented on #2248
:+1:

[2016-02-25 16:03] joaomoreno commented on #3428
Thanks. Can you give me the entire error? All I see is `cannot export without module fla...`.

[2016-02-25 16:10] joaomoreno commented on #3436
Oh, wow.

The warnings do indeed come from the readonly default configuration file. Clicking in one of them actually creates a new editor input somehow. Ping @bpasero.

![image](https://cloud.githubusercontent.com/assets/22350/13325490/71b46cea-dbe2-11e5-87d3-5011bb57e527.png)

![image](https://cloud.githubusercontent.com/assets/22350/13325505/798cd7ae-dbe2-11e5-9414-598b21aff501.png)

The warning

[2016-02-25 16:20] isidorn commented on #1804
Ok so I found the issue looking into the 4 line sample from above. The issue is that the variable `$date` exists in multiple scopes. Because VSCode has no deep language understanding yet, it can not correlate the word that is being hovered over with a scope. Thus when we search through scopes and find multiple matches for `$date` we are not sure which one to show so we show none.

This variable du

[2016-02-25 16:20] #1804 closed

[2016-02-25 16:30] daviwil commented on #1804
Another option could be for VS Code to always take the variable from the earliest scope in the scope list that the adapter returned.  I would think that most adapters would return their scopes with the most local scope first, but maybe there's a language out there that wouldn't play by the same rules.

Could also have some adapter configuration that dictates how to prioritize scopes.  Maybe there

[2016-02-25 16:32] isidorn commented on #1804
All good ideas. Though taking the earliest might in some rare cases show the wrong result to the user which might be very confusing.

@weinand opinions?

[2016-02-25 16:34] daviwil commented on #1804
Yep, agreed that it could be problematic.  Would be nice to have some opt-in behavior but I can understand if it would be too much of a special case.

[2016-02-25 16:35] aeschli opened #3462 "no whitespace shown at the end of a decorated line"
- make whitespaces visible
- add some whitespaces at the end of a line that has the folding icons: Whitespaces are correctly rendered
![image](https://cloud.githubusercontent.com/assets/6461412/13326345/c6670d3a-dbe5-11e5-9092-5c7e26846ced.png)
- Collapse the region: Note that the whitespaces are not shown anymore
![image](https://cloud.githubusercontent.com/assets/6461412/13326358/d1c0c702-dbe5-1

[2016-02-25 16:35] #3055 closed

[2016-02-25 16:36] joaomoreno commented on #3055
Verification by running `code-alpha -v`, for example. It should print out Code's version.

[2016-02-25 16:37] joaomoreno commented on #1704
Verification by running `code-alpha -v` in the Git Bash. It should print out Code's version.

[2016-02-25 16:39] AshleyGrant commented on #1704
Thanks for making this happen!

[2016-02-25 16:45] joaomoreno commented on #3055
@Tyriar I decided to push this last minute change, it would be a shame not to get it. Plus, fixing #1704 led me to the solution. :+1:

[2016-02-25 16:46] aeschli opened #3463 "pressing tab adds spaces, but not as many as for a tab"
- make whitespaces visible and insert spaces for the tab key
[code]
- in the following code example place the cursor after the first tab
![image](https://cloud.githubusercontent.com/assets/6461412/13326469/5e38da76-dbe6-11e5-8b80-64ac5941690c.png)
- press `tab` key: **3 spaces** are inserted
![image](https://cloud.githubusercontent.com/assets/6461412/13326596/d65566dc-dbe6-11e5-8b3b-7f9b1b7d059d.p

[2016-02-25 16:46] joaomoreno commented on #1138
I support the cache credential helper as a workaround until we tackle this issue head on.

[2016-02-25 17:05] aeschli commented on #3436
Maybe a duplicate of #2856 or the settings come from an extension. The problem is that the default values specified sre not compatible to the schema defined at the same place. We should definitely fix these.
@david-mitchell Can you find out what setting is at the given location?

But we should also avoid reporting markers to non workspace resource. This can be done in the JSON plugin, but maybe sh

[2016-02-25 17:14] #3261 closed

[2016-02-25 17:22] rkeithhill commented on #1804
Yes the earliest (first?) scope "might" not always be the best.  For instance, PowerShell returns `Auto` as the first scope which is a "filtered" view of `Local` variables.  It turns out that would probably be OK but I could see other debugger extensions that might put `Global` first above `Local` not realizing there are implications.  I do like the idea of having a separate field for `lookup orde

[2016-02-25 17:32] rkeithhill commented on #1804
Ideally, we would like to have the debugger always search three scopes in order.  First Local scope, then Script scope and finally Global scope.  We have a fourth scope `Auto` that is redundant with `Local` (filtered view of `Local`).  Currently, we always return all variables to VSCode in each of these scopes.  So it isn't very expensive to lookup a variable within each scope.  That lookup is O(1

[2016-02-25 17:33] aeschli opened #3464 "Screen cheese in suggest window"
- open folding.ts, line 343
- after the dot of `model.getLineMaxColumn` do code assist
- scroll down the list of proposals
![image](https://cloud.githubusercontent.com/assets/6461412/13328323/49decb3c-dbee-11e5-83d3-49f805332de5.png)

[2016-02-25 17:46] david-mitchell commented on #3436
The first one is `git.path`, from the "Git Configuration"

[code]

The second one is `typescript.tsdk` from "Typescript Configuration"

[code]

The third one is `php.validate.executablePath` from "PHP Configuration options"

[code]

[2016-02-25 18:37] joaomoreno commented on #3464
@aeschli I can't reproduce, make sure you have a recent version.

[2016-02-25 18:38] joaomoreno commented on #3436
I suggest for February to only fix the schemas, since @dbaeumer is not around. @aeschli agree?

[2016-02-25 18:42] Tyriar commented on #3202
Verified, reported again here http://stackoverflow.com/questions/35504612/vs-codes-jade-syntax-highlighting-is-bad

[2016-02-25 18:44] isidorn commented on #1804
Good feedback, @weinand and me will discuss.
As for the moment we are not providing any option that an adapter can specify it is case-insensitive. This is something to add for the future and we should plan for it.

[2016-02-25 18:46] aeschli commented on #3314
I fixed it by making sure the cursor position stays visible when collapsing a region (instead of making sure the top line is the same)

[2016-02-25 18:47] aeschli commented on #3400
Fixed by change for #3314

[2016-02-25 18:47] #3400 closed

[2016-02-25 18:48] alexandrudima commented on #832
I suggest to for now the current behaviour and get more feedback on it before changing it to the VS way.

[2016-02-25 18:56] zchrykng commented on #3426
@joaomoreno ah, that makes sense. Thanks.

[2016-02-25 18:58] httpete commented on #3428
It is as if the tsconfig.json isn't there. It is picking up none of my tsconfig optins.

[2016-02-25 19:00] fantacytyx opened #3465 "intellisense doesn't work.no auto completion with inline javascript code in the .html file"
I build vscode from the master branch.(0.10.10)
Found that intellisense doesn't work,no auto completion with inline js code in the .html file.
The previous version(0.10.8) support
![default](https://cloud.githubusercontent.com/assets/8966236/13330917/127a6596-dc36-11e5-9796-70d1c0dda3ef.jpg)

[2016-02-25 19:00] chrisdias commented on #3333
re: Second sentence...  How does someone get into the state where there are multiple tasks with the same name?  It looks like if I have a gulpfile with multiple tasks gulp always picks the last one and when i run a task from the command palette it always runs the last one, so we should be consistent with when you run a task manually. I have not seen any other errors from running tasks that prompts

[2016-02-25 19:05] chrisdias commented on #3434
@joaomoreno @dbaeumer why not Feb2016? If we did, we don't need the "Reload TypeScript" and "Reload JavaScript" commands in #3417.

[2016-02-25 19:16] aeschli commented on #3436
The settings listed above have already been fixed by #2856.
Marking this a duplicate of #2856.

[2016-02-25 19:16] #3436 closed

[2016-02-25 19:18] #3071 closed

[2016-02-25 19:18] aeschli commented on #3464
I'm on Linux.
Version 0.10.10-alpha
Commit cecdf875d510948053fb815e9cfc48bb1e31eec7
Date 2016-02-25T08:07:21.481Z
Shell 0.35.6
Renderer 45.0.2454.85
Node 4.1.1

That's pretty new, right?

[2016-02-25 19:18] imarem opened #3466 "Ionic project: Error Debug adapter process has terminated unexpectedly, when "Run on Android device""
HI,
When i try to "Run on Android device" with the pluguin Cordova " on a Ionic project, allways aperars same error.

"Error Debug adapter process has terminated unexpectedly"

Anyone know what 's going on? or where I can see more logs or some kind of information? is not enough to solve the problem....

Thanks!!!

[2016-02-25 19:20] #3308 closed

[2016-02-25 19:24] #3296 closed

[2016-02-25 19:24] #3314 closed

[2016-02-25 19:31] chrisdias commented on #3430
ok

[2016-02-25 19:33] chrisdias commented on #3338
@isidorn @weinand thanks for the info on the comments, i always use bits from https://github.com/microsoft/vscode-samples so I never regenerate the `launch.json` :)

[2016-02-25 19:40] gregvanl opened #3467 "Consider changing "files.autoSave": "afterDelay" to "on""
I've made this mistake myself and just saw another user do it as well.
When you copy the default "files.autoSave": "off" to user or workspace settings, the logical change is to set "files.autoSave": "on" if you don't read the fine print about setting it to "afterDelay".
I think this also makes sense with the other option "onSave".
We would have: "off", "on" and "onSave".
The default settings file

[2016-02-25 19:44] #3333 closed

[2016-02-25 19:58] giggio opened #3468 "Support roslyn analyzers and code fixes"
It would be nice to have Roslyn analyzers and code fixes working in VSCode.

[2016-02-25 20:14] egamma commented on #3468
This issue was moved to OmniSharp/omnisharp-vscode#43

[2016-02-25 20:14] #3468 closed

[2016-02-25 20:15] aeschli commented on #2984
@bgashler1 Feel free to deliver!

[2016-02-25 20:20] egamma commented on #3465
This is a known limitation since we switched to Salsa. I will document this in the release notes for the february update

[2016-02-25 20:22] egamma commented on #3428
Currently changes to tsconfig.json require to run the  'reload typescript' command. Unhappy, but we work on improving this.

[2016-02-25 20:25] #3383 closed

[2016-02-25 20:27] alexandrudima opened #3469 "Cannot modify `editor.insertSpaces` setting anymore"
Have a file test.txt:
[code]

Use the following settings in the user settings and make sure there are no workspace settings:
[code]

Open the file and the user settings side-by-side:
![image](https://cloud.githubusercontent.com/assets/5047891/13333173/fbf40c4e-dc05-11e5-85d2-1633e97e4e55.png)

Go in test.txt and press a Tab. It is ok, it inserts a tab character:
![image](https://cloud.githubuserco

[2016-02-25 20:28] #3463 closed

[2016-02-25 20:30] egamma opened #3470 "Reinstalling an extension that is on the 'delete' list silently fails and is very confusing."
- uninstalled vscode-eslint, this results in adding it to the about to delete on next restart
- reinstall vscode-eslint

There is no feedback that this didn't have any effect.
I suggest that we check whether an extension that is about to be installed is on the 'delete' list. If it is then we inform the user with the suggestion to restart Code.

[2016-02-25 20:30] joaomoreno commented on #3434
Because there is no one confident enough of making this change and there is the `Reload` workaround. Marking it for March.

[2016-02-25 20:34] egamma commented on #3456
There is the command "Extensions: Show Installed Extensions" does this address your needs?

[2016-02-25 20:40] LaureKamalandua commented on #3456
As I said before, it would be nice to mark the installed components from the drop down. It's a hassle, having to manually take note of installed extensions. This should be marked from the drop down list.

[2016-02-25 20:40] alexandrudima opened #3471 "Overview ruler should have again a top border?"
![image](https://cloud.githubusercontent.com/assets/5047891/13333666/62b0337a-dc08-11e5-8770-323694cba755.png)

[2016-02-25 20:42] alexandrudima opened #3472 "[folding] NPE when closing an editor"
Open two files. Close one.
Most likely there's a timer that is not disposed?

[code]

[2016-02-25 20:44] egamma commented on #3432
Moving to Salsa

[2016-02-25 20:45] egamma commented on #3432
This issue was moved to Microsoft/TypeScript#7243

[2016-02-25 20:45] #3432 closed

[2016-02-25 20:49] pflannery opened #3473 "Recents not showing in task bar on windows 10"
This is all I see when right clicking on the task bar icon.
![untitled](https://cloud.githubusercontent.com/assets/1727302/13333908/31b2e5d0-dc01-11e5-993a-ea99da05dd9d.png)

[2016-02-25 20:50] egamma commented on #3170
This is good news Salsa fixed the limitation we have with the 'default export'.

@chrisdias you should mention this to MS teams that build ember apps :smile:

[2016-02-25 20:52] egamma commented on #3440
@waderyan fyi

[2016-02-25 20:57] waderyan commented on #3440
They've seen this feedback in VS as well...

[2016-02-25 20:58] egamma commented on #3225
I spent some time on this and using 'typings install --ambient xxx' is the backward compatible way to do this.

We should do this change to:
- docs @gregvanl
- vscode-sample @chrisdias

moving to vscode-docs.

[2016-02-25 20:59] chrisdias commented on #2748
I'm trying to verify with 00035055 and I'm not getting prompted to install the C#/OmniSharp extension at all.  I've cleared out all of the local storage for the Code - Alpha build, reloaded the tool, and I'm opening a .cs file.

[2016-02-25 20:59] egamma commented on #3225
This issue was moved to Microsoft/vscode-docs#181

[2016-02-25 20:59] #3225 closed

[2016-02-25 21:03] egamma commented on #2394
@waderyan
actually you can disable an eslint rule on a per line basis using:
[code]

[2016-02-25 21:06] waderyan commented on #2394
Good to know. I talked to @gregvanl today about some of this in a doc for React / ES6 developers. Wasn't easy for me to figure out.

[2016-02-25 21:11] egamma commented on #2394
fully agreed, this is why I was much interested into this issue. I'll cover setting up eslint in the change notes, deferring to @gregvanl to add this to the main docs.

[2016-02-25 21:12] waderyan commented on #2394
Great. I've created [an issue in vscode-docs](https://github.com/Microsoft/vscode-docs/issues/182) to track this.

[2016-02-25 21:12] antonydeepak opened #3474 "Code does not work when using new session switch (-n)"
Hello - I noticed couple of times that code does not open the current folder when I use `code -n .` . It creates a new code session(window) but does open the current folder. However, `code -r .` works.

Coincidentally, whenever this happens I also see the error stream spitting information in my console. Attaching my current log files for reference.
[operation_log.txt](https://github.com/Microsoft/

[2016-02-25 21:15] alexandrudima opened #3475 "[folding] Folding should not try to do any revealing if using mouse"
![folding-jumping](https://cloud.githubusercontent.com/assets/5047891/13334626/3e14e2fe-dc0d-11e5-851d-86ec373dcf25.gif)

Perhaps when not using mouse, it could reveal the beginning of the fold region...

[2016-02-25 21:21] #3462 closed

[2016-02-25 21:22] aeschli commented on #3475
fixed with commit e68a6bd3e

[2016-02-25 21:22] #3475 closed

[2016-02-25 21:23] aeschli commented on #3472
fixed with commit e68a6bd

[2016-02-25 21:23] #3472 closed

[2016-02-25 21:24] alexandrudima commented on #3475
Nice!

[2016-02-25 21:34] joejebara opened #3476 "underscore is indistinguishable in links"
when a link, src or url... contains an underscore character ( _ ) , you can't distinguish it from a misplaced space character because of the default underline below the links.

[2016-02-25 21:37] joaomoreno commented on #439
This has been fixed for the next release

[2016-02-25 21:37] #439 closed

[2016-02-25 21:37] joaomoreno commented on #3456
Duplicate of #850

[2016-02-25 21:37] #3456 closed

[2016-02-25 21:40] joaomoreno commented on #3470
This only makes sense if it indeed failed to delete the extension. When the extension successfully gets removed, this won't repro.

I agree with the suggestion!

[2016-02-25 22:01] #3323 closed

[2016-02-25 22:01] #3324 closed

[2016-02-25 22:03] joaomoreno commented on #3464
Is there nothing else you can give me here? From the screenshot, scrolling down wasn't the only thing you did, since `findPreviousMatch` is focused. Show me tomorrow morning?

[2016-02-25 22:06] #3391 closed

[2016-02-25 22:11] aeschli commented on #3464
I just tried to reproduce again, but wasn't able, all looks fine now. Same version, same file content. Nasty!

[2016-02-25 22:20] weinand commented on #1804
@rkeithhill @daviwil you might want to consider to do the lookup yourself: enable eval based hover and then in the eval request do the lookup yourself if the `context` == 'hover'.

[2016-02-25 22:25] weinand commented on #3338
@chrisdias aha, I see (and love those fancy looking launch.jsons ;-)

![2016-02-25 23-23-11](https://cloud.githubusercontent.com/assets/1898161/13336571/e823aa74-dc16-11e5-83a3-11afc0dcd523.png)

Another reason why comments in json files a problematic...

[2016-02-25 22:27] rkeithhill commented on #1804
@weinand I'll look at this tonight but when I first enabled supportsEvaluateForHover, we wound up evaluating PowerShell commands which blocked because most commands have mandatory input.  This caused the command to ask the debug host to prompt the user for that input.  Now I could implement some code to try to distinguish variables from other things (commands, expressions, etc) but that seems more

[2016-02-25 22:29] weinand commented on #2748
@chrisdias Has the C# extension been published? If not it could be that Joh's prompting mechanism verifies the existence before offering the download.

[2016-02-25 22:31] DustinCampbell commented on #2748
It has not yet, I'm awaiting getting permissions set up for publishing. :frowning:

[2016-02-25 22:39] weinand commented on #1804
@rkeithhill you are using your own implementation of eval. So you are in control what to do in the 'eval' that is used for the hover. Instead of using the normal 'eval' you could lookup the 'expression' in a data structure that you have prepared in the last stopped event (probably the same data structure that the adapter returns in the stacktrace > scope > variables requests). So basically you wou

[2016-02-25 22:51] tht13 opened #3477 "Version in vscode.d.ts docstring is confusing"
The version in the doc string header of [vscode.d.ts](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L7) is confusing as even on the 0.10.8 release it still claims to be version 0.10.1.

It makes it difficult to tell what version of the api you are based off as for some reason the yo code generator did not setup my vscode.d.ts correctly leading to some of the [newer options](ht

[2016-02-25 23:17] axefrog commented on #3439
@Tyriar basically any kind of settings page; those can only be closed with the "close editor" command.

[2016-02-25 23:23] gregvanl opened #3478 "Typo in code folding comment "wheter" should "whether"."
// Controls wheter the editor has code folding enabled
	"editor.folding": true,

Should be "whether".
Given we're going to highlight this feature in February and let users know they can disable it, we should fix this visible comment.

[2016-02-25 23:47] MSLaguana commented on #3466
This was a bug in https://github.com/Microsoft/vscode-cordova which should be fixed in the latest update of the extension.

[2016-02-25 23:58] Elusive138 commented on #3225
Ah, sorry, I missed that there was a docs repo.

[2016-02-26 01:42] bobmajdakjr commented on #2828
yes dark+ works as intended. what i'm qqing about is having broke dark not plus instead of just adding dark+ and leaving the previous alone.

[2016-02-26 02:10] voxking opened #3479 "NWJS Debugging Support"
I want to know if you guys are willing to support nwjs debugging like WebStorm does because i find your editor much better because of the best typescript support and the git integration.

Thanks.

[2016-02-26 02:44] #3478 closed

[2016-02-26 02:55] vastbinderj commented on #3385
This is exact issue plagued me today.  I couldn't see the remote branches.  I also wonder what flags are sent when `git fetch` is run which I think is an analog to `refresh` in vscode?

Also I'd expect the tool to mirror the functionality of the git command line, for example `git checkout` appears to actually be `git checkout -b` which creates a local branch.  I don't like that.

It should mirror

[2016-02-26 05:04] bgashler1 commented on #3452
Duplicate #3450

[2016-02-26 05:04] #3452 closed

[2016-02-26 05:40] #3450 closed

[2016-02-26 06:12] rebornix commented on #2107
Ran into the same situation. Whenever I create a new promise, the intellisense keeps saying it's undefined.

[2016-02-26 06:31] bgashler1 commented on #2984
Unfortunately, because we're using a parent hover technique, I don't believe it's possible to do a fade out.  I think it's still valuable to do the fade in though—it makes things less abrupt.  Hopefully we can figure out the fade out later, if it's possible.

[2016-02-26 06:31] bgashler1 commented on #2984
Assigning to @aeschli to verify.

[2016-02-26 06:36] bgashler1 commented on #3390
I can fix this but converting the icon sizing to ems, but it could possibly affect the pixel-perfect lines of the icon; I wouldn't be able to test it before the freeze (because my Retina screen lies to me about how other screens will alias it.  I would need my desktop).  Let's hold off until March on this one just to be safe and not compromise the icon.

[2016-02-26 06:59] Tyriar commented on #3457
Considering these are such minor changes, going to push this back as suddenly my locally built packages are not displaying the short description anymore. Probably a local issue as the build server deb file seems fine, still not risking it though.

[2016-02-26 07:04] Tyriar commented on #2984
@bgashler1 I'm not understanding why fade out doesn't work. Seems like it would work fine since the parent isn't hiding or anything is it?

[2016-02-26 07:13] isidorn commented on #2748
As mentioned above please wait for the c# extension to be published before verfying

[2016-02-26 07:13] #2748 closed

[2016-02-26 07:51] joaomoreno commented on #3477
Assigning to February for discussion today.

[2016-02-26 07:53] aeschli commented on #2828
https://code.visualstudio.com/Updates#_editor tries to explain the motivation behind the changes. Sorry for back and forth in the recent months, but we hope we now have a solution for both classic VS users as well as users that the classic VS theme is too limited. And there's always lots of other themes to pick from.

[2016-02-26 07:55] joaomoreno commented on #3467
I also get this wrong every time I'm there.

`onSave` doesn't make much sense, though. One would *auto save on save*?

Besides `onFocusChange` (which I would personally have called `onFocusLost` or `onBlur`), the only other two options that make sense are `on` and `off`.

[2016-02-26 07:56] aeschli commented on #3390
Makes sense. As the breakpoints also don't grow/shrink I think we are consistent.

[2016-02-26 07:56] joaomoreno commented on #3466
Awesome.

[2016-02-26 07:56] #3466 closed

[2016-02-26 07:57] joaomoreno commented on #3458
The `scrollTop` should be kept at `0` if that is so before the codelens decorations kick off, imo.

[2016-02-26 07:57] joaomoreno commented on #3454
This is currently not implemented.

[2016-02-26 08:02] joaomoreno commented on #3464
Let's keep an eye out then.

[2016-02-26 08:15] rid9 commented on #3424
@joaomoreno I found what the problem was. The name of the extension was "Date & Time" and the description contained "Date & Time" as well. When I renamed it to "Date and Time" and removed all references to `&` from the name and description, I succeeded in publishing it.

I also noticed that the generated package contains an `extension.vsixmanifest` XML file with a `<DisplayName/>` and a `<Descript

[2016-02-26 08:33] joaomoreno commented on #2984
Yeah, fade out is surely possible, pushed a change. Also sped up the opacity transition, it felt too slow.

[2016-02-26 08:47] #3471 closed

[2016-02-26 08:54] weinand commented on #3479
@voxking did you try the [Chrome debugger extension](https://marketplace.visualstudio.com/items?itemName=msjsdiag.debugger-for-chrome) for VS Code? If the Chrome DevTools work for NWJS then the Chrome debugger extension should as well.

[2016-02-26 08:54] alexandrudima opened #3480 "Remove Omnisharp deps from root OSSREADME.json?"

[2016-02-26 09:00] #3469 closed

[2016-02-26 09:01] isidorn commented on #3469
Very cool catch!

[2016-02-26 09:03] Lonefy opened #3481 "[css] highlighting within @keyframes is messed up"
Screen shot:
![image](https://cloud.githubusercontent.com/assets/7921431/13347659/2bc37b7c-dcaa-11e5-9c89-e711ee0b4810.png)
[code]

[2016-02-26 09:08] #2668 closed

[2016-02-26 09:09] qbikez commented on #2057
It would be nice if VSCode supported git submodules..

[2016-02-26 09:18] Beachovic commented on #1601
Sounds pretty much like the problem I'm having only that I've defined some maps in a SystemJS config.js file and vscode can't find the mapped names. It would be nice if it would be possible to use the mapped names and still get IntelliSense.

[2016-02-26 09:19] #3480 closed

[2016-02-26 09:25] #3477 closed

[2016-02-26 09:31] #3415 closed

[2016-02-26 09:35] janmarek commented on #3415
Would it be possible for javascriptreact to inherit (user defined) javascript snippets?

[2016-02-26 09:37] isidorn commented on #3009
Giving to you Joao since you had it on the test plan

[2016-02-26 09:57] joaomoreno commented on #3009
@isidorn there is a leftover checkbox

[2016-02-26 10:06] moigagoo commented on #205
I believe there's no necessary API to implement it at the moment.

[2016-02-26 10:08] Sujay-shetty opened #3482 "not able to set up the code"
Hi,

I'm trying to set up vscode locally but getting the following error.

npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\\Program Files (x86)\\nodejs\\node.exe" "C:\\Program Files (x8
6)\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "--prefix" "extensions/vscode-ap
i-tests/" "install" "extensions/vscode-api-tests/"
npm ERR! node v4.2.2
npm ERR! npm  v2.14.7
npm ERR! code ELIFECYCLE
npm ERR! vscode

[2016-02-26 10:24] joaomoreno opened #3483 "Breakpoint actions should only be enabled when there are breakpoints to reapply/deactivate"
Both the `Reapply all breakpoints` and the `Deactivate breakpoints` actions should only be enabled iff there are breakpoints

[2016-02-26 10:24] #3056 closed

[2016-02-26 10:32] joaomoreno opened #3484 "[folding] Expand action should restore cursor position inside folded region iff cursor didn't change since fold action"
Confusing, but let me elaborate. Before #3400, I could run `Fold` `Fold` `Fold` actions in a deeply nested folding region and then `Expand` `Expand` `Expand` and my cursor would return back to the original position.

Although #3400 is the good fix, it did remove that functionality unfortunately.

Maybe there is a way for the actions to cooperate between themselves and have the expand action restor

[2016-02-26 10:36] joaomoreno commented on #3344
Console still comes up on debug start, but no more on restart.

[2016-02-26 10:39] joaomoreno commented on #3332
I suggest to remove the `No` action, since users can easily block themselves into never seeing this message again.

[2016-02-26 10:40] alexandrudima opened #3485 "json autocomplete does not escape \ in strings?"
Go to `settings.json`
Auto-complete editor.wordSeparators

![image](https://cloud.githubusercontent.com/assets/5047891/13350006/c74a89f0-dc7d-11e5-83d7-5eb40aa855bc.png)

[2016-02-26 10:44] #3332 closed

[2016-02-26 10:44] isidorn commented on #3332
Added it to the extension tips of CS projects

[2016-02-26 10:47] joaomoreno commented on #3332
The reasoning behind @isidorn's change is: the user might block themselves into never seeing this message again but the extension will show up as a tip.

[2016-02-26 10:48] weinand commented on #3344
@isidorn we could consider to not reveal the debug console on 'attach' (but then your code would have to know the semantics of 'attach'...)

[2016-02-26 10:49] alexandrudima opened #3486 "Resizing wrapped editor unfolds all folded regions"
Also changing the `wrappingIndent` setting or `tabSize` setting:

![resizing](https://cloud.githubusercontent.com/assets/5047891/13350198/ee436346-dc7e-11e5-9234-2134851b8045.gif)

[2016-02-26 10:55] joaomoreno opened #3487 "EOL status bar contribution lingers after last editor is closed"
Clicking it opens:

![image](https://cloud.githubusercontent.com/assets/22350/13350333/b2f7998c-dc7f-11e5-87ce-c08717041b7c.png)

[2016-02-26 10:55] joaomoreno commented on #3487
@alexandrudima is this a regression?

[2016-02-26 10:55] #3335 closed

[2016-02-26 10:56] weinand commented on #3453
@bgashler1 after switching the theme the problem disappeared.

[2016-02-26 10:59] #3487 closed

[2016-02-26 11:01] joaomoreno commented on #3290
Make sure you extract `launch.json` from the localize call.

[2016-02-26 11:01] #3290 closed

[2016-02-26 11:13] alexandrudima opened #3488 "Compat modes no longer get configured on instantiation"
* Open a markdown file
* Click on preview

![image](https://cloud.githubusercontent.com/assets/5047891/13350751/39348e90-dc82-11e5-8504-d2952513d4a3.png)

[2016-02-26 11:15] #3488 closed

[2016-02-26 11:27] #3486 closed

[2016-02-26 11:37] isidorn commented on #2644
Using VoiceOver I do not get any feedback when the search is finished, or when the search has no results. Moving to march since it is not critical.

[2016-02-26 11:54] axefrog commented on #3405
Related to #3439

[2016-02-26 11:55] axefrog commented on #3454
This is also the default behaviour in Sublime and Atom.

[2016-02-26 11:57] tht13 commented on #3383
Regression in latest alpha, colouring only appears when hovering on the gutter due to [this line](https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/folding/browser/folding.css#L14)
 and the below screenshot

![image](https://cloud.githubusercontent.com/assets/817264/13351612/3f522142-dc88-11e5-9ce2-e63638316b82.png)

[2016-02-26 12:33] pflannery commented on #597
@krizzdewizz @joaomoreno
I have an issue when setting comspec to use `bash`.
The issue is that the forced arguments passed to spawn affect bash in a different way and closes the process immediately.

Source here -> https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/execution/electron-browser/terminalService.ts#L27
Looking at the code I cant see how this would work for other ter

[2016-02-26 12:45] pflannery commented on #597
I think we can keep the %comspec% environment variable as is and add a new user\workspace setting like "terminal.launchCommand" for spawning new terminals that are requested by the user.

[2016-02-26 13:03] TheBlueSky opened #3489 "Unable to target CoreCLR from Visual Studio Code"
Hellp everyone,

I created a totally empty project and specified only CoreCLR as targetted framework; i.e., in `project.json` I have:

    "frameworks": {
        "dnxcore50": {}
    }

On my PC, the dnvm confirugration is the following:

    Active Version           Runtime Architecture OperatingSystem Alias
    ------ -------           ------- ------------ --------------- -----
           1.0.0-

[2016-02-26 13:13] Nimzozo opened #3490 "Save the splitted screens widths"
It would be better if the widths of the splitted screens of the editor could be saved and restored.

It is always set to 50% when unsplitted / resplitted. I think a saved value would be more practical.

[2016-02-26 13:27] lucasv1179 opened #3491 "Allow editing shortcuts that include mouse buttons"
There's a particularly annoying limitation in Ubuntu where the "alt+LMB" combination is already reserved by the system which impedes the placing of multiple cursors in the program with said shortcut. Might you consider changing the shortcut or allowing users to change it themselves?

[2016-02-26 13:31] httpete commented on #3428
I find the only dis is to remove the line from tsconfig and reboot vscode. Then the red goes away.

[2016-02-26 13:31] alexandrudima commented on #2953
Please verify that `Ctrl+H` (`Cmd`+`Alt`+`F` on mac) seeds the search string from editor's selection

[2016-02-26 13:36] alexandrudima commented on #2837
To verify, have a python file:
[code]

Select All, choose from F1 > Add Line comment (Ctrl+K Ctrl+C in Windows). The empty line should not get touched

[2016-02-26 13:39] Diyago opened #3492 "Cant install extensions. Error: unable to get local issuer certificate"
I cant any install extension, VS Code keep saying me that _he unable to get local issuer certificate_.

VS Code've been downloaded from [here ](https://go.microsoft.com/fwlink/?LinkID=623231) and installed from that zip file (simply unzipped, not to Program files folder due to admin restriction policy).

Version 0.10.8, Windows 7, 32 bit

[2016-02-26 13:41] aeschli commented on #3383
@tht13 What do you mean by colouring?
All seems to work for me.

[2016-02-26 13:47] aeschli commented on #3383
Oh, I see, the git decorators.

[2016-02-26 13:49] tht13 commented on #3383
yes the git decorators, you could try [this](https://css-tricks.com/snippets/css/transparent-background-images/) to do background image opacity?

[2016-02-26 13:52] aeschli commented on #3307
Fixed by @alexandrudima with 8b702c2

[2016-02-26 13:52] #3307 closed

[2016-02-26 13:52] joaomoreno commented on #3383
Hehe good trick @tht13. Let's revert the fade for now, since it is endgame, and address it later.

[2016-02-26 13:54] joaomoreno commented on #2984
We reverted the commits since the opacity also fades out the git diff decorations. See #3383. Reverted commits are b0ca83f and 20d655f.

Reopening, but not for February.

[2016-02-26 13:55] joaomoreno opened #3493 "Provide outline information for Markdown files"
It's very hard to navigate a large markdown file, such as our release notes. Outline information would be very helpful, let's do this!

[2016-02-26 14:26] aeschli commented on #3485
I delivered a workaround. The real fix is to disallow snippet syntax in settings default value and add snippet syntax escaping to the jsonSuggest code

[2016-02-26 14:28] aeschli opened #3494 "[snippets] [debt] don't allow snippet syntax in default values"
See issue #3485.I need to disallow snippet syntax in settings default value and add snippet syntax escaping to the jsonSuggest code.
For users that want to contribute snippets in schemas, we should add a separate field to the schema.

[2016-02-26 14:33] weinand commented on #3453
@bgashler1 after reloading the window the problem comes back.

CC @isidorn

[2016-02-26 14:48] aeschli commented on #3314
- when clicking on a fold icon, I make sure that line stays visible
- in all other cases we make sure the current cursor line stays visible

[2016-02-26 14:50] aeschli commented on #3273
To verify: The messages above should not appear anymore.

[2016-02-26 14:51] aeschli commented on #3261
I added code to avoid calling setHiddenAreas unless a folded region has been updated.

[2016-02-26 14:56] pcgeek86 opened #3496 "Mac OS X :: 0.10.9 :: No Intellisense for PowerShell variables"
It seems that variables are not showing up in Intellisense, although the editor itself is highlighting the other variable references (*first screenshot*). Hence, I can't tab-complete to save myself time and effort.

Am I the only one seeing this @daviwil? I know the PowerShell engine / Editor Services isn't available on Mac OS X, but I figured it could "fake it" like with Bash variables (*second s

[2016-02-26 14:57] bgse commented on #3342
@egamma This might be a psychology thing. I guess when the update notification comes up, users can get a bit excited about new toys, and the obvious thing to do is to hit that update button asap.

Maybe it would be a good idea to display the release notes notification again once the user starts the updated VSCode for the first time.

E.g. "Visual Studio Code was recently updated. Do you want to re

[2016-02-26 15:01] isidorn opened #3497 "Mouse selection broken"
Selection with the mouse does not work on latest vscode on the mac.

cc @alexandrudima

[2016-02-26 15:04] isidorn commented on #3497
After reload can not repro -> will reopen if I get steps

[2016-02-26 15:04] #3497 closed

[2016-02-26 15:09] isidorn opened #3498 "'Revert File' in working files context menu"
* have some items in the working files
* context menu, notice 'revert file' actions. Why is this action here?
* clicking on the action produces no visible effect

![screen shot 2016-02-26 at 16 07 42](https://cloud.githubusercontent.com/assets/1926584/13355948/35baa8c8-dca3-11e5-8c36-18fef8e60f3b.png)

[2016-02-26 15:10] daviwil commented on #3496
Question for the VS Code guys: under what circumstances does the Sublime-style auto completion become enabled?  Does that feature get turned off if my extension registers a completion provider for the .ps1 file type?

[2016-02-26 15:13] weinand commented on #3453
duplicate of #3488

[2016-02-26 15:13] #3453 closed

[2016-02-26 15:13] joaomoreno commented on #3453
:fireworks:

[2016-02-26 15:17] minggo opened #3499 "Large object variables can not be expanded"
I am writing a debugger adapter, and met an issue that if a variable is a large object, it is blocked if want to expand it to see its properties. The response of the `variablesRequest` is correct, the detail value of response is [here](https://gist.github.com/minggo/16321ae1e9c9580c692e).

<img width="651" alt="screen shot 2016-02-26 at 11 06 53 pm" src="https://cloud.githubusercontent.com/assets/

[2016-02-26 15:18] minggo commented on #3499
As you can see, the blocked variable is `this`.

[2016-02-26 15:19] joaomoreno commented on #3498
Why would I know?

[2016-02-26 15:21] isidorn opened #3500 "Notification handler failed with message 'argument must be positive'"
1. Open a .js file
2. Rename a variable
3. Notice an error in the console, rename gets performed well though

![screen shot 2016-02-26 at 16 19 12](https://cloud.githubusercontent.com/assets/1926584/13356310/e3294086-dca4-11e5-83c2-0f01cc41d659.png)

Giving to @alexandrudima for starters

[2016-02-26 15:22] aeschli opened #3501 "no whitespace shown after typing"
- make whitespaces visible
- add some whitespaces at the end of a line that has the folding icons: Whitespaces are correctly rendered
- enter a letter: whitespaces go away
![image](https://cloud.githubusercontent.com/assets/6461412/13356358/1b4c51a6-dca5-11e5-855c-181a9354c9bd.png)

[2016-02-26 15:26] alexandrudima commented on #3501
Well, typing d no longer makes it trailing whitespace.

[2016-02-26 15:26] #3501 closed

[2016-02-26 15:29] isidorn opened #3502 "Variable highlight looks broken in dark theme"
- Dark+ theme, have a multiple references of a variable in a .js / .ts file.
- Select that variable
- Notice that the variable highlight is stronger then the selection
- So it can easily be confused that the change location of the variable is selected

Nice example: vscode express smoke test / bin/www  double click on `server` on line 28

![screen shot 2016-02-26 at 16 28 22](https://cloud.githubu

[2016-02-26 15:30] eyalsk opened #3503 "What's up with Tabs being under review? seriously..."
It has like 5.4k votes on [uservoice](https://visualstudio.uservoice.com/forums/293070-visual-studio-code/suggestions/7752519-implement-tabs?tracking_code=421857240f4fcb6135eadecade77a4e2), it's unfortunate that an issue of _taste_ or style needs to be reviewed, it's like reviewing an issue about accessibility and debate whether it needs to be added to a modern program where the answer is definite

[2016-02-26 15:32] minggo commented on #3499
More information:  The variables are not cleared as #3382 mentioned.

VSCode: v0.19.0
Mac OS X: 10.11.2

[2016-02-26 15:33] aeschli commented on #3302
Verified that the issue is gone

[2016-02-26 15:40] isidorn opened #3504 "Cannot find name 'require'"
* Doing the vscode express smoke test I now get errors when I open any .js file that has a require
* e.g www/bin
* is there some setting I am missing

As for the node experience we seem to have worse support than before (what is described in the smoke test)

![screen shot 2016-02-26 at 16 38 18](https://cloud.githubusercontent.com/assets/1926584/13356786/71ebd2f0-dca7-11e5-8ad6-07320f45b6bf.png)

[2016-02-26 15:42] isidorn commented on #3500
Actually it is happening all the time, my console is full of these errors

[2016-02-26 15:48] prasannavl opened #3505 "Crash reporter crashes very silently very often"
VSCode doesn't start up with a console. However, I often start it from powershell with `start code .` instead of just `code .` (Since occasionally VSCode ends up dumping data into a console that I'm using for something else, and starting with the latter doesn't truly isolate the process, it rather just runs the message loop still connected to the same console).

However starting it that way, it ex

[2016-02-26 15:53] gedw99 commented on #3503
I have to admit, the default way with the 3 sheets limit and working files list (top left) was ok with me for about 2 months. But for larger projects, i need a better way.

Tabs is the standard paradigm to solve this problem. I cant think of a better way.

[2016-02-26 15:55] isidorn opened #3506 "Can not navigate from error list to file"
* vscode express smoke test repo
* ctrl + shift + B, ctrl + shit + M
* click on one of the errors to navigate to
* get an error, event though routes/index.js exists

Though this seems to work in the vscode repo nicely

![screen shot 2016-02-26 at 16 54 34](https://cloud.githubusercontent.com/assets/1926584/13357243/b0a36c04-dca9-11e5-9e20-26eaf3f36fab.png)

[2016-02-26 16:06] isidorn opened #3507 "// Coment on last line produces error 'Invalid regular expression'"
- .js file
- comment out the last line //
- notice an error: 'Invalid regular expression'

[2016-02-26 16:09] alexandrudima commented on #3471
Nice!

[2016-02-26 16:10] alexandrudima commented on #3071
Wrote test

[2016-02-26 16:11] alexandrudima commented on #3386
Nice!

[2016-02-26 16:16] alexandrudima commented on #3500
Please attach the js file you were using

[2016-02-26 16:18] isidorn commented on #3500
This is only happening if you have eslint installed and have a file with the following content
[code]

[2016-02-26 16:30] Strate commented on #205
+1

[2016-02-26 16:44] alexandrudima opened #3508 "Smoke Test: Squiggles in bin/www"
Following the steps in the smoke test, I open bin/www and I get the following errors:

Not sure why require is unknown in bin/www but tolerated in app.js

![image](https://cloud.githubusercontent.com/assets/5047891/13358626/89445446-dcb0-11e5-969b-861b4582b775.png)

[2016-02-26 16:48] alexandrudima opened #3509 "Smoke Test: Don't get cross file intellisense in JS"
* in the smoke test repo, add a new file bar.js:
[code]
* in app.js add the following:
[code]

[2016-02-26 16:49] alexandrudima commented on #3509
![image](https://cloud.githubusercontent.com/assets/5047891/13358791/528d443e-dcb1-11e5-92d8-e10f45871fcf.png)

[2016-02-26 16:50] schwarzie2478 commented on #69
I finally found all the pieces needed for a complete solution working behind a corporate proxy on Windows:

I use fidller as authentication proxy ( no need to fiddler as system proxy replacement)

Set environment variables: (also usefull for other tools)
  _JAVA_OPTIONS=-Dhttp.proxyHost="localhost" -Dhttp.proxyPort="8888" -Dhttps.proxyHost="localhost" -Dhttps.proxyPort="8888"
  HTTP_PROXY    :

[2016-02-26 16:53] alexandrudima opened #3510 "Debug missing launch.json popup should say "VSCode extension development""
I think right now it says extension development, which IMHO is too generic

[2016-02-26 16:54] alexandrudima opened #3511 "Smoke test: launch.json is populated with windows paths"
I think it should be ${workspaceRoot}/bin/www as that would be cross OS compatible?
[code]

[2016-02-26 16:59] alexandrudima opened #3512 "Smoke test: Cannot navigate to error produced by task"
In the smoke test repo, run the build (Ctrl-Shift-B)

You get 9 more errors in \routes\index.js (<-- NOTE THE LEADING \)

I cannot click on them as the file does not exist

![image](https://cloud.githubusercontent.com/assets/5047891/13359094/b236bfae-dcb2-11e5-8dfd-6da725a5aa4a.png)

[2016-02-26 17:09] pocesar commented on #1601
yeah, it's mainly useful when using "packages" or "map". otherwise typescript code is full of errors, or need to manually create a definitions file for `declare module "package/something"`, and in a 40+ file project, can get nasty in no time

[2016-02-26 17:24] mlabrecque commented on #3423
Just a follow up comment on this issue, I have ran into similar problems caused by file permissions. I attempted to normalize the file modes, but it didn't seem to make a difference for the above issue.

Thanks!

[2016-02-26 17:49] Tyriar commented on #3321
Ubuntu Software Center has an issue where it displays only those in official repos, not based on the `DEBIAN/copyright` file:

https://bugs.launchpad.net/ubuntu/+source/software-center/+bug/435183/comments/5

This issue can be closed when the `DEBIAN/copyright` file serves the correct license for both official and OSS builds.

[2016-02-26 17:55] matthewjohnston4 opened #3514 "Can't bring focus to any editor panel with image opened in it"
Repro steps [on Windows 10, VSCode 0.10.8]:

+ Open VSCode workspace with two or three split editor panels for any text-based file
+ Give focus to one of the panels
+ Click to open an image from the built in file explorer
+ Image should open in the same focused panel, and panel should retain focus
+ Click on any other panel to focus it
+ Click back to Image panel to try and re-focus on it

Expecte

[2016-02-26 18:12] ludohenin opened #3515 "Intellisense not working with TS and dynamic exports"
Intellisense doesn't work when doing:

file1.ts

[code]

file2.ts

[code]

[2016-02-26 18:40] cherchyk opened #3516 ""replace all" moves page/cursor/focus/scroll to the place of the last replacement"
"replace all" moves cursor to the place of the last replacement
instead of leaving page/cursor/focus/scroll not changed

[2016-02-26 19:58] rick111111 opened #3517 "Error message for mistype environment variable is confusing"
If user make a mistake in the environment variable in launch.json or task.json, for example mistype "${workspaceRoot}" as "${workspace}", the error message user got is confusing:

"Error Cannot read property 'hasOwnProperty' of null."

[2016-02-26 20:30] imarem commented on #3466
Hi MSLaguana,

I downloaded the plugin yesterday, and i think that is the latest update.

This is my system information:
Cordova CLI: 5.4.1
Gulp version:  CLI version 3.9.0
Gulp local:
Ionic CLI Version: 1.7.13
Ionic App Lib Version: 0.6.5
OS: Windows 7 SP1
Node Version: v4.2.1

I don't know what else to look, you need any more information? Please do not close the issue.

[2016-02-26 20:44] pcgeek86 commented on #3342
@bgse @egamma omg yes, you're spot on with that analysis @bgse. I literally do that.

I still like my idea of displaying the release notes after an upgrade, or alternatively, showing **just** the release notes button / notification as @bgse suggested. :smile: :smile:  Maybe have an option to disable it in the VS Code config?

[2016-02-26 20:46] codler commented on #446
:+1:

[2016-02-26 20:48] Tyriar commented on #3321
Actually considering that this license does not seem to be exposed anywhere, just available by extracting the deb, I won't go ahead with this.

[2016-02-26 20:52] #3321 closed

[2016-02-26 20:56] MSLaguana commented on #3466
Version 1.0.2 of the cordova-tools extension had an issue, and only a couple of hours before I posted my response we uploaded 1.0.3 which had the fix. If you re-install the extension it should work. If not, please open an issue at https://github.com/Microsoft/vscode-cordova and we'll follow up there.

[2016-02-26 21:07] Tyriar commented on #3481
The `r` has these classes: `token meta property-list property-name support type css`

[2016-02-26 21:15] egamma commented on #3342
@bgse and @pcgeek86 thanks for your insights, we spend some real time on the release notes, it would be a pity if they are not getting read.

// @joaomoreno

[2016-02-26 21:22] Tyriar commented on #3481
There are a couple of problems that cause this:

- `from` highlighting is not supported
- The scope `meta.property-name.css` isn't very strict about the form of the property name, for example `abcfont-sizedef` would highlight `font-size` in the same. This could be a result of `@keyframes` support being poor.

[2016-02-26 21:30] egamma commented on #3225
@Elusive138 no problem the issue is good and found its home eventually :smile:

[2016-02-26 22:16] nelsonlaquet commented on #211
This feature is sorely needed, and is trivial to implement. I was able to use @pflannery's fork and https://github.com/mrmartineau/SetiUI-Icons-Sublime to add in default icons right into the my own build.

One thing though: some files should be themed based off of more than extension. package.json, gulpfile.js, etc should be themed based off of name. I suppose adding built-in support for specific

[2016-02-26 22:23] thomas-taylor opened #3518 "Add ability to copy formatted code to clipboard"
I'd like to request adding the ability to copy selected code to the clipboard with syntax highlighting? This is useful for pasting formatted code into another application (e.g., Word document, e-mail).
Regular Visual Studio does this by default (it puts both text and RTF formats on the clipboard).
RTF works well for me, but maybe HTML would be okay too, as long as it is 'pastable' (dependency-free

[2016-02-26 22:42] sortegam commented on #1808
+1

[2016-02-26 22:59] isidorn commented on #3511
We always convert to a good platform before sending to the adapter, so this launch.json we still work on mac.
Though when it is generated on the mac we nicely put "program": "${workspaceRoot}/bin/www",

I think all is good here

[2016-02-26 23:09] Ciantic commented on #861
This is still confusing, isn't there a way to watch and still run other tasks? Ideally one should be allowed to run multiple watches like css preprocessors less, ts, and still run tests manually.

Additionally instead of having watcher, it would be a better if one could trigger a task when certain filetype changes, e.g. I don't need to watch for less if I could just trigger less task when *.less c

[2016-02-26 23:18] Ciantic commented on #2159
I don't agree watch is always a good choice, especially since if you have watch running you can't execute other tasks without terminating.

Also creating another process just for watching less, sass is a overkill, it would be a better if IDE could be made to trigger the task when certain filetype changed, like:

[code]

[2016-02-26 23:48] tsm91 commented on #3130
+1

I would like to do `shift+cmd+leftMouseButton` for Peek Definition, would be a perfect combination for me.

[2016-02-27 00:25] nchammas commented on #78
I think the behavior I described should also apply to the behavior of `Command + P`, when you want to switch to a file and there are multiple possible matches for the user's search term.

[2016-02-27 00:41] mbleigh commented on #1801
I'd very much like to see terminal-supplied color output supported. It's super-hard to glance and read output right now, and forcing everyone to use a problem matcher to color after the fact seems like an inferior solution. Thanks!

[2016-02-27 01:40] kcheick opened #3519 "How do i configure a task to call a powershell script"
I am trying to set up a build task in visual studio code to call an existing build script written in powershell. Here is how i set up my build task
[code]
but here the output when i run the task

I have tried reordering the arguments and merging them in one string without any success
What am i missing? Is there a better way to do this in vscode

[2016-02-27 01:52] scrudgey commented on #3173
I came here to say this. Very annoying bug, I keep having to hit "esc" after I go to a new line.

[2016-02-27 02:03] steelheaddigital opened #3520 "OSX can't update as non-admin user"
When an update is available, Code tells me to restart to apply the update.  When I restart, Code is not updated and the "restart to update" message is displayed again. I suspect this may be due to the fact that I'm using a non-administrator account.  I haven't done anything to confirm that though.

[2016-02-27 02:15] riclf commented on #1515
Listen, vertical or column selection is a very simple concept, not including grander concepts like "multiple cursors". You put your cursor where you want to start, hold the Alt key down for the duration, and with the mouse move the cursor to the right and then down to create the desired box of selected text. One keystroke held down, the Alt Key, then a simple drawing action.  Please, don't make th

[2016-02-27 04:41] rkeithhill commented on #3422
Another issue I don't see in that list is user-configured code folding like this example from C#:
[code]
In the PowerShell extension we would like to provide this same sort of feature the same syntax as what C# uses which, in PowerShell, looks like a "special" comment.

[2016-02-27 05:02] waderyan commented on #2394
I found another issue and want to keep it documented. Do you think this is the best place? I can create a separate issue or find another place to track these es6 issues.

![image](https://cloud.githubusercontent.com/assets/2449568/13370881/dcaeb502-dccb-11e5-943d-4c73f9a72ba4.png)

This is from ReactStarterKit. Here is the code not in an image.

[code]

The error message I see is 'property declara

[2016-02-27 05:05] waderyan commented on #2394
Error message on hover: 'decorators' can only be used in a .ts file.

![image](https://cloud.githubusercontent.com/assets/2449568/13370900/9857e148-dccc-11e5-954f-acc843e472f8.png)

[2016-02-27 05:09] waderyan commented on #2394
Ah ... I think I got it. Decorators are an ES7 feature.

[2016-02-27 08:26] eligrey opened #3521 "Syntax highlighting not available for .xhtml files"
By default, there appears to be no syntax highlighting for .xhtml files.

[2016-02-27 08:40] arktas79513 opened #3522 "Add please support for "suggestions" for javascript lang based on all opened files in workspace."
Example:  we have 2 files, first is newly created offerService.js which contains gridMetadata() method exposed outside:
[code]
If i create new file somethingController.js  i would like to have _gridMetadata _in my suggestions list when i start typing _gri...._
Right now it's not available in VS code.

[2016-02-27 08:52] 4tron commented on #3503
Excuse me for being objective to this idea, but i see no advantage of tabs. The reason they left it out was for a cleaner workspace. In the latest release they have gone so far as to remove the options bar by pressing "alt" . I understand this is a paradigm in most other editors, but it seems verbose . There are multiply ways in which to view working files. The obvious one is the "working files" i

[2016-02-27 09:42] ibachar opened #3523 "Intellisense not working for Ember when using import statement"
Hi,

I've a project using Ember and experience problems with Intellisense not being available.
I've a .jsconfig at the root level of my projects and have used the tsd manager
to download the .d.ts for ember. Whenever an `import Ember from 'ember';`
statement is present in any javascript file, Intellisense is not available. Removing the import statement causes vscode to properly display auto comple

[2016-02-27 10:29] eyalsk commented on #3503
@4tron

Well, I disagree because the working files isn't mutually exclusive, meaning, it can coexists with tabs.

The reason they left it out doesn't matter so much because I don't think that a _cleaner_ workspace is more important than the style many developers were accustomed to for many years.

I completely respect your position and understand why would it seems verbose but _verbosity_ isn't a

[2016-02-27 13:04] svenvNL opened #3524 "Wrong Intellisense editing css, scss, less"
typing ```text-decoration: ``` gives intellisense for colors, not for text-decoration. typing non will not show 'none' in Intellisense. The problem occurs in any css, less and scss file in any place, with any selector. Problem also occurs without extensions. I am running Windows 7 32bit with all updates possible.
![2016-02-27 1](https://cloud.githubusercontent.com/assets/13982006/13372969/cf463f72

[2016-02-27 14:22] arolson101 commented on #3197
Could someone link the new issue?  I can't find the vscode-website repo

[2016-02-27 14:23] glen-84 commented on #832
Then you just have to tap delete twice (while holding down ctrl).

IMHO, it makes sense to follow what other editors do. Even WordPad has this behaviour.

[2016-02-27 14:47] joaomoreno opened #3525 "Show release notes info message after every update"
@bgse says:

cc @pcgeek86 @egamma

[2016-02-27 15:27] 4tron commented on #3503
. VScode is still in beta .. im pretty sure they are making plans for vast user extensibility.

So whats the main problem here? What exactly is the advantage of tabs in this so called workflow? You can have 9 tabs open that will show you their filename and maybe their state, or you can `ctrl + tab` and you have all that info there with meta data ? What is this "workflow" you speak of?

[2016-02-27 15:38] imarem commented on #3466
Yeaah!  XD

With a version 1.0.3 of the cordova-tools extension run perfectly!!

Thanks a lot for your supoort!! you save my day!!

[2016-02-27 16:34] shanalikhan commented on #3454
i still use notepad++ for such feature. It would be great if this feature is implemented. to even write plain text in VSCode

[2016-02-27 16:42] TheColorRed commented on #3503
I don't see any advantage of having the tabs horizontally laid out instead of vertically laid out.

With the way it is set up, you have a little more vertical typing space anyway.

[2016-02-27 16:46] eyalsk commented on #3503
RTM is coming soon and I didn't see anything like this on their [roadmap](https://github.com/Microsoft/vscode/wiki/Roadmap) so I really don't know where you get the idea that they are making _plans_ to extend their extensibility story.

So whats the main problem here? What exactly is the advantage of tabs in this so called workflow? You can have 9 tabs open that will show you their filename and ma

[2016-02-27 17:20] egamma commented on #3523
This is a limitation in the existing JS infrastructure. We are switching to a new infrastructure and you can try the preview https://code.visualstudio.com/Updates#_javascript-salsa-preview and we believe that this issue is now addressed, but would appreciate if you could confirm this in your setup.

// @chrisdias

[2016-02-27 17:24] egamma commented on #3522
Did you create a jsconfig.json in your folder? https://code.visualstudio.com/docs/languages/javascript#_javascript-projects-jsconfigjson

[2016-02-27 17:25] kumarharsh opened #3526 "Add support for subword navigation/editing"
I never encountered this feature outside vim. But then I used Sublime and then Atom, and found this awesome feature, and have been using it a lot recently. Can this be added to vscode?

Ref: https://github.com/atom/atom/pull/5806

[2016-02-27 17:36] kumarharsh opened #3527 "Keyboard navigation across word-boundaries doesn't feel right"
Right now, the cursor in vscode jumps from the ending of one word to the ending of the next even when there are spaces and other characters between them.

Demo (with a pipe as my current cursor `|`, and repeated presses <kbd>Ctrl+Right</kbd>)

[code]

Expected (sublimetext)

[code]

I think another related issue is that there is no setting in vscode (that I could find) of specifying the word separ

[2016-02-27 17:37] egamma commented on #2394
In general, given that we transition to Salsa the TypeScript repository is the right place to file ES6 issues.

This is issue Microsoft/TypeScript#6997

This is Microsoft/TypeScript#6872. This should be in TS 1.8.2 according the bug report. Can you confirm that you are using TS 1.8.2 (which now the default in the code-alpha channel).

[2016-02-27 17:39] egamma commented on #1515
// @alexandrudima

[2016-02-27 17:42] egamma commented on #3519
// @daviwil

[2016-02-27 17:47] daviwil commented on #3519
Check out this tweet by @StefanStranger which gives an example of setting up a task to launch a PowerShell script: https://twitter.com/sstranger/status/700409449337397248

![screenshot of task](https://pbs.twimg.com/media/Cbhal_MXIAEXAr9.jpg:large)

[2016-02-27 17:51] ibachar commented on #3523
I've enabled Salsa but now I don't have Intellisense at all (with or without the import statement).

[2016-02-27 18:00] pflannery opened #3528 "debug.hoverWidget closes when hovering over debug console panel"
![animation](https://cloud.githubusercontent.com/assets/1727302/13374401/cb2b963c-dd7b-11e5-81e3-6db02a205ac3.gif)

[2016-02-27 18:26] arktas79513 commented on #3522
![1](https://cloud.githubusercontent.com/assets/5990013/13374535/3cf07f94-dd90-11e5-9565-362a7d719792.png) Thanks for quick response! Yes, i did

[2016-02-27 18:43] kcheick commented on #3519
Thanks @daviwil it helped me figured out what was wrong with my script

here is the working version of my script for those who are interested: I had to split he ExecutionPolicy parameter in two and move it in the front of the list of arguments
[code]

[2016-02-27 18:43] #3519 closed

[2016-02-27 19:54] joaomoreno commented on #3342
#3525

[2016-02-27 19:56] dfinke commented on #2912
The short Tweet on this drove questions in my direction. The snippet does not work in the 0.10.8 release. I know the Build conference is coming. Hopefully this can make it into the editor no too long after. It'd be a great feature.

[2016-02-27 19:59] joaomoreno commented on #3506
Duplicate of #3512

[2016-02-27 19:59] #3506 closed

[2016-02-27 20:00] joaomoreno commented on #3504
Duplicate of #3508

[2016-02-27 20:00] #3504 closed

[2016-02-27 20:00] joaomoreno commented on #3508
Related to Salsa

[2016-02-27 20:46] lironka commented on #703
I have this error too. I try write ES6 in root site files (etc. wabpack.config.js, test.js)  and have red underlined.  jsconfig.json - doesn't work!

[2016-02-27 22:18] sarbbottam commented on #3218
Thanks @joaomoreno

[2016-02-28 01:00] jaysylvester commented on #1690
Please.

[2016-02-28 02:03] jamesqo commented on #1704
Awesome, thanks for finally implementing this! Now I won't have to keep running `start code` and closing a new command window every time I want to start it from Git Bash. (TBH this was the only reason why I was still keeping Atom around.) You guys rock!

[2016-02-28 02:12] leocrespo opened #3529 "No intellisense in C#"
Intellisense just doesn't work.

![screen capture on 2016-02-28 at 13-09-47](https://cloud.githubusercontent.com/assets/2193314/13377654/233e1bd4-dd99-11e5-8c39-1d8b1321f1ff.gif)

How can this possibly be a tool to create C# code without any intellisense?

[2016-02-28 03:44] Tyriar opened #3530 "[handlebars] Bad link ctrl+click underline in handlebars file"
When a link it in `{{}}`, only the underscore is being underlined, nothing is preferable.

![highlight](https://cloud.githubusercontent.com/assets/2193314/13377306/4a8da0f6-dd8a-11e5-9445-19651cac0ce8.png)

[2016-02-28 04:09] Jaans opened #3532 "False positive - "Parsing error: Illegal import declaration (undefined)""
I have ta simple ES6 module export and VS Code is seeing it as an error:

Yet that is valid, and works just fine.
Below is the entirety of the module:

[code]

The "export" keyword get's a red squiggly line and an error is added to VS Error error list for it.

Can this please be fixed?

[2016-02-28 04:28] spywhere opened #3533 "Per-Syntax settings"
**TL;DR:** Add settings support for per-syntax or improve the Markdown syntax settings recognition.

**Problems:**
In my project development, I usually works across different file types. Each of them is work a bit different than the another.

Let say I have a `.js` (JavaScript) file and some `.md` (Markdown) file. When I works with `.js` file, I want to trim of the whitespace at the end of each li

[2016-02-28 05:35] Tyriar commented on #3197
@arolson101 the vscode-website repo is closed. @waderyan is currently working on getting the RSS/Atom feed up and running.

[2016-02-28 07:49] 4tron commented on #3503
I just dont understand , you get more information for your eyes (O.O) how is this not an advantageous step forward. As for it "simply exists everywhere " besides that being false, it does not mean its the best approach, and i like it when people think differently. Sometimes the best place to be is outside your comfort zone.

The extensibility might not be in the RTM but if visual studio is anythin

[2016-02-28 07:54] Tyriar opened #3536 "[handlebars] Inconsistent Handlebars highlighting within HTML comments"
Handlebars expressions are only not being highlighted as comments when they do not have an indent or immediately follow the opening `
[code]

[2016-02-28 08:42] eyalsk commented on #3503
@4tron okay, listen, some people can adapt regardless to whether they are used to something but many people can't, just because you can do it, doesn't mean everyone can do it or even want to do it.

Anyhow, I'd argue that more information isn't necessarily an advantage over less information, with working files you have everything shown to you at once, sometimes you have to look through to remember

[2016-02-28 09:21] fyears commented on #3454
This issue seems to be a duplication of #906.

I am another user looking for this features here. I also find someone posted feature suggestion on [uservoice](https://visualstudio.uservoice.com/forums/293070-visual-studio-code/suggestions/7756146-auto-save-temporary-files).

[2016-02-28 10:22] 1dot75cm commented on #229
Hi, @bgse
I try to stripping `electron` from `vscode` package. But the `vscode` do not support `electron 0.36.x`. It return following error.

RPM spec: http://copr-dist-git.fedorainfracloud.org/cgit/mosquito/test/vscode.git/tree/vscode.spec?id=17ce85d650470e023ff37e7412d62c5aa222b304
RPM:  https://copr.fedorainfracloud.org/coprs/mosquito/test/build/163492/

[code]

I think, we needs to solve this

[2016-02-28 10:55] bgse commented on #229
@1dot75cm The cla-not-required label just means the contributor does not need to sign a license agreement, for example when it is a small change, in the case of @bpasero because he's Microsoft.

I'm sure it's pretty high up on the agenda though.

[2016-02-28 14:13] stkb opened #3538 "Order of "Cut, Copy, Paste" in editor context menu is wrong"
![copycutpaste](https://cloud.githubusercontent.com/assets/6125444/13379703/4e9b500a-de2d-11e5-8365-87f86fe41145.png)

On Windows 8.1, v 0.10.8

Is there a reason for this order? I've only ever seen it ordered as Cut, Copy, Paste, at least on Windows. The main Edit menu, on the other hand, does have them in the right order.

[2016-02-28 14:22] bentx commented on #3440
@waderyan true, although the icon in VS was changed later to be something less distracting than a smiley face, could this be improved ? A way to hide it or at least to change the icon would be nice.

[2016-02-28 14:51] felipequiroz commented on #615
I had the same problem and uninstall the extension: solved.
A rule of "JavaScript Standard Style" indicates "No semicolons": http://standardjs.com

[2016-02-28 16:24] joaomoreno commented on #3454
Thanks. Closing as duplicate of #906

[2016-02-28 16:24] #3454 closed

[2016-02-28 16:34] te1 commented on #2343
This has been a major source of frustration for me. I rely heavily on snippets for basic language constructs (if, for, class, ...) to speed up coding. I want to type `if` and then press `tab` to insert the snippet. Instead auto complete basically does nothing for me and blocks the snippet.

![screen](https://cloud.githubusercontent.com/assets/1637916/13380347/0af744e4-de41-11e5-88ec-0c157178ddd7.p

[2016-02-28 16:46] ransanjeev commented on #3222
In my tasks.json, "isWatching" was set to true. When I changed this to true,  cpu usage has gone down.
Not sure if this is the solution. But I use tsc --watch so I am not sure if i need iswatching.

[2016-02-28 18:18] crmdev commented on #105
1 day left in this month... should we have asked which February? :)

[2016-02-28 18:30] Bobris opened #3539 "reactNamespace makes tsconfig.json invalid for VSCode"
Version of VSCode: 0.10.8
In workspace I have 2 files `tsconfig.json` and `app.tsx` and `npm install bobril` (it does not matter what module it is, it only should not be React)
I have this in `tsconfig.json`:

[code]

Next I have this in `app.tsx`:
[code]

tsc.exe 1.8.2 successfully compiles it.
But Vscode shows error in `app.tsx` on import "Cannot compile modules unless the '--module' ..." this e

[2016-02-28 19:35] Nimzozo commented on #2616
:coffee:

[2016-02-28 19:43] chrisdias commented on #3529
@leocrespo IntelliSense for C# is driven off of the project type, you need to have an MSBuild project that can be loaded OR an ASP.NET Core 1.0 project in order for it to work. Check out http://code.visualstudio.com/docs/runtimes/ASPnet5 for more information.

Also, please submit issues in the https://github.com/omnisharp/omnisharp-vscode repository, which is the C# extension for VS code.

[2016-02-28 19:43] #3529 closed

[2016-02-28 20:15] rezonant commented on #396
+1. Multi-git repo microservice solutions are very painful in VS Code right now, thinking of finding another Typescript-capable IDE instead.

[2016-02-28 20:36] chrisdias opened #3540 "Add updated extensions notification to status bar"
We've had a few requests for a notification system for updated extensions. I think we have an indication in the status bar if an extension fails to load, perhaps we can overload this and also show when new versions of extensions are available.

This would be a short term solution until we look at a richer in-product experience for discovering and managing extensions.

[2016-02-28 20:52] chrisdias commented on #3525
perhaps we open browser after upgrade, same way we do for first time download.

[2016-02-28 20:57] axemclion commented on #3540
:+1:

[2016-02-28 21:12] chrisdias commented on #2747
looks sweet!

[2016-02-28 21:17] chrisdias commented on #3430
@joaomoreno It looks like we do allow for overriding the "Close" button???

When I am prompted to install the C# Extension I get Yes/No/Later:

![image](https://cloud.githubusercontent.com/assets/1487073/13381942/e106e810-de68-11e5-8830-17a0f1f08245.png)

But for JavaScript I have Yes/No/Close:

![image](https://cloud.githubusercontent.com/assets/1487073/13381930/a32ec5e4-de68-11e5-8b8e-9b3924a942

[2016-02-28 21:18] chrisdias commented on #2748
looks good to me.

[2016-02-28 22:21] Tyriar opened #3541 "Register code as an editor in Debian with update-alternatives"
See https://github.com/Microsoft/vscode-docs/issues/194

https://www.debian-administration.org/article/91/Using_the_Debian_alternatives_system

This will be a matter of adding some lines to `postinst` and `prerm`in the Debian package to register and deregister using `update-alternatives`.

[2016-02-28 22:45] egamma commented on #3539
VSCode 0.10.8 ships with TS 1.7.5. Can you try with enable TS 1.8.2 in Code using the tsdk setting (see https://code.visualstudio.com/Docs/languages/typescript#_using-newer-typescript-versions) or you can try the Feburary update available on the insiders channel on early next week.

[2016-02-28 22:48] leocrespo commented on #3529
Thank you for your reply Chris, however there isn't any option for me to create a project (is "New Project" menu item missing?), and I want to work on a Class Library. The page you pointed out, http://code.visualstudio.com/docs/runtimes/ASPnet5, has nothing on this.

I appreciate your reply. I am however disappointed with this tool. How basic is Intellisense? Isn't it obvious that whatever instruc

[2016-02-28 23:07] Bobris commented on #3539
You are right. And I though I tried this also before.

[2016-02-28 23:07] #3539 closed

[2016-02-28 23:41] dstorey commented on #3524
Colours are valid values for text-decoration, as it is a shorthand which includes text-decoration-color https://www.w3.org/TR/css-text-decor-3/#text-decoration-property

[2016-02-28 23:55] dstorey commented on #3481
Tyrian: Yeah, the CSS.plist from TextMate is really old. I updated a bunch of it, but didn't add @keyframes or @supports. They'd be great to have, but I didn't have time to look into the plist syntax to write the rules for those.

Ideally some of the descriptors that only belong to certain at-rules should be broken out of the property-name section into the correct at-rule section too. I'm not reme

[2016-02-29 00:15] dstorey opened #3542 "Add option to open preview in new editor from icon"
Most of the time when you're working in markdown (and probably SVG if the preview gets added to that view) you probably want to be able to see the source and the rendered result side by side. Currently you have to do a two step process of opening a new editor then pressing the preview toolbar button. There is also a (not so discoverable keyboard shortcut…which I couldn't get to work until I realis

[2016-02-29 01:57] waderyan commented on #3440
Yeah they had some interesting data on why they made that change. I'll get with the team and understand what they did.

Any suggestions for a new, less distracting icon?

[2016-02-29 01:58] waderyan commented on #3197
@arolson101 yeah sorry. Unfortunately we're not quite there where we can make the website open sourced.

[2016-02-29 02:26] bentx commented on #3440
Nice, could be anything that doesn't catch the eye really, speech bubble etc.

[2016-02-29 02:39] minggo opened #3543 "Custom debugger adapter met serious error somtimes"
I am writing a debugger adapter, and sometimes i met a strange exception error like this:

<img width="941" alt="screen shot 2016-02-29 at 10 29 51 am" src="https://cloud.githubusercontent.com/assets/488203/13384348/b9ba2abc-decf-11e5-8ec5-a767d3392817.png">

I don't know what's the error and how to trigger it. This error exists even i restarted VSCode. I have to restart my computer to fix the err

[2016-02-29 02:41] waderyan opened #3544 "Explore new icons to replace smiley"
Porting issue #3440 here.

Looking into options of switching the icon to a less distracting icon based on feedback.

[2016-02-29 02:41] waderyan commented on #3440
Created an issue to look into options.

[2016-02-29 02:48] vilic opened #3545 "Do not hide interaction prompt when window loses focus."
When install an extension, it takes quite a long time to load the list for me. But the only thing I can do is staring at the progress bar and waiting. Once I switch to another window, the prompt disappears, and I will have to wait again.

[2016-02-29 02:49] minggo commented on #3543
I found node app is not terminated when VSCode is quit. So the port is occupied by the node and cause the error.

Why not terminated corresponding node when terminating VSCode?

[2016-02-29 03:14] Seikho opened #3546 "Re-implement "open derived source" feature"
Hi team,

In the early days of VSCode, there was a feature that I adored that allowed me to open the compiled output of my TypeScript files. By simply right clicking the source `.ts` file and clicking `Open derived output` I could view my `.js` output.

This feature was pulled due to not being able to find the compiled output if it was in a different directory.
There are many workarounds for this,

[2016-02-29 03:36] rkeithhill opened #3547 "setFunctionBreakpoints not mentioned in protocol docs on InitializedEvent"
Shouldn't setFunctionBreakpoints be in this list:
[code]

[2016-02-29 03:38] rkeithhill opened #3548 "setFunctionBreakpoints request is coming in after launch request"
I seem to be getting setFunctionBreakpoints requests after the launch request whereas setBreakpoints requests come in before the launch request.  Should I be using the configurationDone request or something here?  BTW the extension is configured to send the initialized event in the processing of the initialize request but before the initialize response is sent. Could that be causing this?

[2016-02-29 04:53] pcgeek86 opened #3549 "Mac OS X :: 0.10.9 :: Regular Expression Replace / Substitution"
I'm trying to perform a very basic regex substitution in VS Code 0.10.9 on Mac OS X. However, it only substitutes `$0` with the string literal `$0`. How can I substitute captures in the regex replacement string?

<img width="424" alt="screen shot 2016-02-28 at 9 52 05 pm" src="https://cloud.githubusercontent.com/assets/466713/13386082/9d559498-de65-11e5-9953-7b510895c4d5.png">

I can't find any do

[2016-02-29 04:55] pcgeek86 commented on #3525
@chrisdias Please no. I hate it when applications open pages in web browsers. The experience needs to be more integrated. /cc @joaomoreno

[2016-02-29 04:55] pcgeek86 commented on #3342
@joaomoreno Thanks for filing that.

[2016-02-29 06:01] DongkunLee opened #3550 "Tasks should support specifying the output encoding"
I think it's related to some global language problem.

The output message is broken like this

'luac'��(��) ���� �Ǵ� �ܺ� ����, ������ �� �ִ� ���α׷�, �Ǵ�
��ġ ������ �ƴմϴ�.

P.S> My environment is Win10 Ko(Korean version)

https://onedrive.live.com/redir?resid=73F0A5AA67A0D48F!212183&authkey=!ACjcDNvjj7PjRmY&v=3&ithint=photo%2cpng

[2016-02-29 07:41] joaomoreno commented on #3430
Because one is through our internal message service, the other through our API, which I found to be more limiting, e.g., not allowing me to omit the Close.

Correct me if I'm wrong, @jrieken @bpasero

[2016-02-29 07:41] #3430 closed

[2016-02-29 07:51] joaomoreno commented on #3525
I think the message service will do just fine.

[2016-02-29 08:30] alexandrudima commented on #3527
@kumarharsh Thank you for the feedback. In the upcoming 10.10, the word navigation has been refurbished and these will be the new stops for <kbd>Ctrl+Right</kbd> for your example:

[code]

There will also be a new setting `editor.wordSeparators` where you can customize what a word is.

[2016-02-29 08:30] #3527 closed

[2016-02-29 08:41] waderyan commented on #2394
[code]

I'll file a bug.

[2016-02-29 08:45] isidorn opened #3551 "Indentation: make it clear that the change is temporary"
I think the action should make it clear that its temporary (only for current editor) and show me in the list what the default actually is or at least offer a way to undo my change and go back to default settings

from @bpasero

[2016-02-29 08:48] egamma commented on #3509
I cannot reproduce this with the following jsconfig.json

[code]

[2016-02-29 09:01] chrisdias commented on #3529
I agree, our C# story needs improvement. We're early in this journey and our E2E experience will get better. I should have also referred you to the C# doc that gives you a little more background on what we do and do not support today: http://code.visualstudio.com/docs/languages/csharp.

VS Code doesn't have the notion of a New Project dialog as is in the traditional Visual Studio IDE. Code is more

[2016-02-29 09:04] joaomoreno commented on #3512
Document in README

[2016-02-29 09:05] joaomoreno commented on #3509
Documentation

[2016-02-29 09:10] leocrespo commented on #3529
That page http://code.visualstudio.com/docs/languages/csharp says
"IntelliSense just works hit ⌃Space at any time to get context specific suggestions."

However this isn't true. InstelliSense does not work. To prove the point, just open any .cs file with VS Code and see if works. I don't know what a yeoman is, all I wanted was a C# editor for OSX and one of the very basic requirements was Intellis

[2016-02-29 09:11] innerlee commented on #3545
#3023

[2016-02-29 09:21] vilic commented on #3545
@innerlee Thanks for the reference~

[2016-02-29 09:21] #3545 closed

[2016-02-29 09:45] egamma commented on #3508
When I rename the file to `www.js` then the errors go away. So this might not be a Salsa issue, but an issue in how we associate the language/mode with the file `www`. I suspect the file is treated as a TypeScript file.

Assigning to Dirk he has debugged such a problem previously.

[2016-02-29 09:49] dbaeumer commented on #3508
@egamma what does the status indicator say about the language type. The problem I had was exactly the opposite. The shebang forces VSCode to treat all files as JS regardless of the extension. So even TS files where treated as JS if they have a shebang. So I am pretty sure the shebang forces VSCode to treat the file as JS but may be Salsa fails with it due to a missing extensions.

[2016-02-29 09:56] dbaeumer commented on #3508
I checked the samples and inside VSCode the bin/www file is treated as JavaScript. When the extension transfers the file to the tsserver VSCode has no means to tell the tsserver the type of the file. So I really guess that this is a tsserver issue falling back to TS type if a file has no extension.

![capture](https://cloud.githubusercontent.com/assets/1931590/13391174/1f9b5b0a-ded3-11e5-9768-2a50

[2016-02-29 09:56] egamma commented on #3508
@dbaeumer
![image](https://cloud.githubusercontent.com/assets/172399/13391153/05400274-ded3-11e5-9f69-d83d7490d666.png)

[2016-02-29 09:59] dbaeumer commented on #3508
@egamma see my latest comment. I am pretty sure that the tsserver treats files without an extensions as TS. I am experimenting with a jsonfig.json file to tell the tsserver this is a JS project.

[2016-02-29 10:15] aeschli opened #3552 "Snippet Converted Not Working for literal Dollar Sign in Sublime Snippets"
_From @digitaldrummerj on February 22, 2016 4:55_

In sublime snippets, if you want to have a literal $ show up as part of the text the snippet inserts, you have to escape it with a backslash.  When the snippet conversion runs as part of yeoman extension generator, it changes the \$ that to a \\$ so when you use the snippet in VSCode, you get a \$ inserted into your code of just the $.

### Sublim

[2016-02-29 10:15] aeschli commented on #3552
_From @bpasero on February 29, 2016 9:6_

@aeschli fyi

[2016-02-29 10:16] egamma commented on #3508
Filed issue against TypeScript and documented the limitation in the release notes.

[2016-02-29 10:16] #3508 closed

[2016-02-29 10:16] bpasero commented on #3430
I think you have the same control over actions both for internal and API use.

[2016-02-29 10:17] bpasero commented on #3222
@dbaeumer any ideas?

[2016-02-29 10:20] bpasero commented on #78
Currently the sorting is based on our scoring algorithm. I do not think it would make sense to change the sorting based on other criteria unless there is a good way to explain this to the user.

[2016-02-29 10:22] bpasero commented on #3498
We should enable this action (and maybe Save) only when the file is dirty.

[2016-02-29 10:24] joaomoreno commented on #3430
Docs are:

[code]

I call it with

[code]

And I get the `Cancel` button.

[2016-02-29 10:24] bpasero commented on #3493
See https://github.com/chjj/marked/issues/296

[2016-02-29 10:24] zwacky commented on #78
the sorting can stay the same, just ignore the files listed in `.gitignore`. this is the absolute main thing that keeps me from using code.

[2016-02-29 10:24] joaomoreno commented on #3430
Yep: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/node/extHostMessageService.ts#L60

[2016-02-29 10:28] bpasero commented on #3467
I like the way it is and we already pushed this to people. We could add "on" to be an alias for "afterDelay" though.

[2016-02-29 10:28] bpasero commented on #3473
@pflannery which version of Code is this?

[2016-02-29 10:30] bpasero commented on #3474
@antonydeepak which code version? and is this windows?

[2016-02-29 10:31] bpasero commented on #3461
Yeah I noticed this new environment variable.

[2016-02-29 10:32] bpasero commented on #3371
No screen reader support in Chrome for Linux.

[2016-02-29 10:33] KindDragon commented on #69
It's work for me we %5С as delimiter between domain and login in username: http://superuser.com/a/395177/64719

`"http.proxy": "http://DOMAIN%5CUSERNAME:PASSWORD@PROXYIP:PROXYPORT"`

[2016-02-29 10:34] bpasero commented on #291
I can make the description clearer.

[2016-02-29 10:36] bpasero commented on #3334
@joaomoreno descriptors are static enough that you cannot create them if you need services. the point of F1 is to show descriptors and not instantiated actions.

[2016-02-29 10:43] isidorn commented on #3006
@bpasero you did the handle ansi output, forwarding to you. Feel free to give back

[2016-02-29 10:47] dbaeumer commented on #3512
Documented in readme for Februar release

[2016-02-29 11:02] weinand commented on #3448
The plan is to add a 'url' and a 'urlLabel' attribute to the debug protocol's `Message` object. The UI would turn this into an action in the error notification.

[2016-02-29 11:05] chrisdias commented on #3437
looks good!

[2016-02-29 11:14] chrisdias commented on #3438
looks good.

[2016-02-29 11:15] chrisdias commented on #3427
verified

[2016-02-29 11:16] chrisdias commented on #3333
looks good.

[2016-02-29 11:44] isidorn commented on #3551
@bpasero I tuned this a bit based on your feedback, check it out and let me know what you think

[2016-02-29 11:52] #3483 closed

[2016-02-29 12:00] danielgindi commented on #3006
:+1:

[2016-02-29 12:07] SamVerschueren opened #3553 "Get selected file/folder in the explorer view"
It would be nice if it was possible to retrieve the selected file/folder in the explorer view. The use where I want to use it is for my `vscode-yo` extension to be able to run the generator in the selected directory. An API for this would be nice.

[2016-02-29 12:29] Tyriar commented on #3474
I've noticed this as well on Ubuntu. It could be related to https://github.com/Microsoft/vscode/issues/3127,  I haven't tested it since that went in.

[2016-02-29 12:56] #3512 closed

[2016-02-29 13:00] bpasero commented on #3006
@isidorn the output panel uses https://github.com/Microsoft/vscode/blob/master/src/vs/base/common/strings.ts#L551 to remove ANSI codes. I suggest REPL does the same and adds the [2K thing which does not seem to get handled yet.

The output will still not make much sense though because the real fix is to fully support ANSI in output and repl which is a feature on our backlog.

[2016-02-29 13:02] #2616 closed

[2016-02-29 13:04] bpasero commented on #3551
@isidorn much better, but I suggest to also emphasize the default, similar how encoding does it:

![image](https://cloud.githubusercontent.com/assets/900690/13395155/47568e98-deed-11e5-9fef-2ed187963d6e.png)

[2016-02-29 13:04] bpasero commented on #3551
Maybe it should read "Configured tab size" or something like that.

[2016-02-29 13:06] bpasero commented on #3374
@stevencl @bgashler1 fyi

[2016-02-29 13:06] bpasero commented on #3372
https://github.com/Microsoft/vscode-extension-vscode/issues/12

[2016-02-29 13:06] #3372 closed

[2016-02-29 13:08] bpasero commented on #3366
This is as designed. Currently you cannot open the same folder in multiple Code instances.

[2016-02-29 13:08] #3366 closed

[2016-02-29 13:10] bpasero commented on #3362
@Tyriar since you seem to have some ideas, I am happy to review a PR on this. Unfortunately the native dialog does not give us much options what to put in. Not sure if we want to stop using a native dialog and use a custom one instead. I favour native over custom if possible.

Sublime seems to open a little new window for the about dialog. We could certainly also do that and just host some HTML in

[2016-02-29 13:10] bpasero commented on #3362
@stevencl @bgashler1 fyi

[2016-02-29 13:11] bpasero commented on #3347
:+1:

[2016-02-29 13:12] bpasero commented on #3180
@tstringer Windows 10?

[2016-02-29 13:13] bpasero commented on #3380
I would think that people assign a keybinding for working files picker and not always type the character.

[2016-02-29 13:15] bpasero commented on #3311
Dupe

[2016-02-29 13:15] #3311 closed

[2016-02-29 13:18] bpasero commented on #3285
@stevencl unfortunately we do not have a global action to enable tab to move focus on, instead you have to enable it per editor. The diff editor is not a normal editor, so when it opens, you have to enable it again.

@alexandrudima I wonder if the action to enable tab navigation should be global for all editors, instead of local to each editor.

[2016-02-29 13:19] bpasero commented on #774
@chiangf can you please verify that adding the large dir to exclude really is the source of the high CPU use? does the CPU change just by making a change to this setting? If so, which one?

[2016-02-29 13:20] weinand commented on #3336
@SetTrend I'm not familiar with chalk but from looking at chalk's description I'm pretty sure that `chalk.blue('Hello world!')` is not supposed to output anything but only creates a string with ANSI colour sequences. So you still have to use console.log(...).

[2016-02-29 13:21] dbaeumer commented on #3222
@bpasero watching tasks (expecially tsc) are not executed in the Electron Helper. They are executed in a separate node environment (e.g. what is specified in the tsc shell script).

What could have an impact is if a tasks produces a lot of output which will cause constant scanning of that output. But the described issues doesn't sound like this.

[2016-02-29 13:22] pflannery commented on #3473
@bpasero 0.10.8

[2016-02-29 13:23] bpasero commented on #2700
@alexandrudima in the keybinding settings I am getting a warning for my locale for the action workbench.action.navigateBack and I am not seeing the keybinding show up in the menu:

For your current keyboard layout press ⌃+ß

You think the reason for the keybinding not showing up could be my locale? We set the keybinding to be Ctrl+US_MINUS in https://github.com/Microsoft/vscode/blob/master/src/vs/

[2016-02-29 13:24] bpasero commented on #3222
Can people here open the output window to see if we spam the output when this happens?

[2016-02-29 13:26] bpasero commented on #3260
You can remove entries from the list by opening an entry and invoking the "Close File" command (Cmd+K W).

I do agree though that it is nice to have more control over the recent list.

[2016-02-29 13:28] bpasero commented on #2292
@alexandrudima can we not use the tabindex property with a non-zero positive value to control the tab navigation within the editor? I filed this bug originally because I was expecting to first tab into the editor (from the outside) before tabbing e.g. into the find widget.

[2016-02-29 13:28] bpasero commented on #2292
I am also not sure why the find widget would appear before the editor, isnt the editor the container of the find widget in the end?

[2016-02-29 13:31] dbaeumer commented on #861
Currently there is only support to run one task at a time. Being able to run multiple tasks in parallel is on the backlog.

[2016-02-29 13:32] dbaeumer commented on #861
See https://github.com/Microsoft/vscode/issues/981

[2016-02-29 13:34] bpasero commented on #2413
@alexandrudima thanks <3!

[2016-02-29 13:34] dbaeumer commented on #2225
Verified.

[2016-02-29 13:35] bpasero commented on #2777
@jrieken I guess the issue is that the untitled model actually gets disposed when being saved and a new file is being created. I am not sure if I should introduce a new event for an untitled file getting saved, or maybe the existing events are already good to go? We should talk :)

[2016-02-29 13:36] bpasero commented on #3154
Please do.

[2016-02-29 13:36] #3154 closed

[2016-02-29 13:38] bpasero commented on #1363
@sarbbottam Cmd+K E is for focussing the working files list!

[2016-02-29 13:38] dbaeumer commented on #2548
I can still reproduce this on 0.10.11-alpha. @alexandrudima you can step by and we can debug it if you want.

[2016-02-29 13:40] bpasero commented on #3025
@joaomoreno thats a tough one, would you want explicit API to listen to a .git folder in the parent chain? I think if git does not find a .git folder to listen on, it should fallback to some polling mechanism instead.

[2016-02-29 13:40] bpasero commented on #1825
In Feb.

[2016-02-29 13:40] #1825 closed

[2016-02-29 13:41] #3336 closed

[2016-02-29 13:42] nchammas commented on #78
@bpasero - Could you elaborate? I think the change I'm describing is very easy to explain.

Here's take 2 at explaining the change, simplifying what I said earlier:

Search results are divided into 2 sections--tracked files and everything else. Tracked files always show up first. Results within each section are sorted according to the current scoring algorithm.

In addition to being easy to explai

[2016-02-29 13:45] dbaeumer commented on #3428
I can't reproduce this. @httpete can you share your project ?

![capture](https://cloud.githubusercontent.com/assets/1931590/13396092/fef4f440-def2-11e5-82e2-f16c7ea76d88.png)

[2016-02-29 13:45] bpasero commented on #78
@nchammas I do think that the right fix is to just exclude those files when .gitignore is present and the setting to respect it. otherwise one could also argue why we are not doing the same sorting trick for the search/files exclude setting.

The real work here is to translate .gitignore patterns into our ignore patterns and making sure the solution scales. I have seen .gitignore files with 1000+

[2016-02-29 13:49] bpasero commented on #3146
@cwliu as a workaround you can put a leading and trailing 3 * backtick to indicate a code block.

[2016-02-29 13:49] bpasero commented on #3152
Fixed for Feb.

[2016-02-29 13:49] #3152 closed

[2016-02-29 13:52] PeterStaev commented on #1440
+1

[2016-02-29 13:55] bpasero commented on #3132
I am sure we have a dupe for this...

[2016-02-29 13:57] bpasero commented on #3129
@kthompson can you share the workspace and its location?

[2016-02-29 13:58] bpasero commented on #3128
@joaomoreno I think you changed this recently. I wonder if we ever patched console.info or just log/error/warn?

[2016-02-29 13:59] bpasero commented on #3095
:+1:

[2016-02-29 13:59] bpasero commented on #3095
Also @jrieken fyi

[2016-02-29 14:01] bpasero commented on #2766
Well we could still allow to swap the positions of source/preview.

[2016-02-29 14:01] bpasero commented on #3042
@joaomoreno I believe this is an Electron issue?

[2016-02-29 14:04] tstringer commented on #3180
@bpasero That's correct, Windows 10.

[2016-02-29 14:05] bpasero commented on #2951
@be5invis it seems to be standard windows behavior to show a hidden menu when you press the alt key. I do not think we could prevent that.

[2016-02-29 14:08] bpasero commented on #2877
Duplicate of https://github.com/Microsoft/vscode/issues/55

[2016-02-29 14:08] #2877 closed

[2016-02-29 14:08] bpasero commented on #3012
We do show search results as we find them. As for search performance, we already track that in https://github.com/Microsoft/vscode/issues/55

[2016-02-29 14:08] #3012 closed

[2016-02-29 14:08] bpasero commented on #3013
@warpdesign is that a real disk or a subst thing on windows?

[2016-02-29 14:09] bpasero commented on #3016
Ok, closing thereby. Search performance is tracked in https://github.com/Microsoft/vscode/issues/55

[2016-02-29 14:09] #3016 closed

[2016-02-29 14:10] bpasero commented on #2808
:+1: , maybe in combination with allowing per-language settings.

[2016-02-29 14:11] bpasero commented on #2932
Good catch, will see if I can do something about it for March.

[2016-02-29 14:12] bpasero commented on #2950
#2946

[2016-02-29 14:12] #2950 closed

[2016-02-29 14:14] bpasero commented on #2918
@mousetraps we actually reopen the last file that was selected in the explorer. If GH had a way for me to search for duplicates, I could dig up the # for you where the bug is reported a while ago.

[2016-02-29 14:14] #2918 closed

[2016-02-29 14:15] bpasero commented on #2908
Would indeed be very nice to preserve the undo history even for changes outside Code.

[2016-02-29 14:15] bpasero commented on #2896
@NullScope is this on Windows or OSX? Can you provide steps how you setup the junctions?

[2016-02-29 14:16] dbaeumer commented on #3434
I do :-).

Fixed. To be clear: we still need the reload project since there are cases where the tsserver can only recover from changes if you reload the project.

[2016-02-29 14:16] #3434 closed

[2016-02-29 14:17] bpasero commented on #2883
@dbaeumer @egamma @alexandrudima I think my motivation for this change was to support the Flow language case where the extension is JS but a first line header indicates it should be treated by the Flow language service.

If you guys have an idea how to still support that scenario, please let me know.

[2016-02-29 14:18] warpdesign commented on #3013
@bpasero it's a real disk (ie: mounted ntfs partition).

[2016-02-29 14:18] isidorn commented on #3293
@stevencl did you try ctrl + k, ctrl + i. Can you move focus using the same keyboard shortuct to the regular, non debug hover? Can you move focus inside a simple debug hover?
This works fine for me on the mac

[2016-02-29 14:21] dbaeumer commented on #3436
Verifying marked as duplicate

[2016-02-29 14:21] espresso3389 opened #3554 "When window.zoomLevel is set to non-0, context menu shows up on the wrong position"
The context menu does not show under the cursor if window.zoomLevel is set to non-0 value.

[2016-02-29 14:25] bpasero commented on #2879
No, currently we do not support language specific settings, but we should.

[2016-02-29 14:29] dbaeumer commented on #3304
Reopening and reverting the commit. The problem here is that if the autodetection fails output is shown in the console. Now the user is blind.

[2016-02-29 14:32] dbaeumer commented on #3392
This issue was moved to Microsoft/TypeScript#7295

[2016-02-29 14:32] #3392 closed

[2016-02-29 14:35] dbaeumer commented on #3397
I am pretty sure that this is already possible. But need to check.

[2016-02-29 14:35] dbaeumer commented on #3397
This issue was moved to Microsoft/vscode-nls#6

[2016-02-29 14:35] #3397 closed

[2016-02-29 14:39] dbaeumer commented on #3394
Need to investigate. But could be an issue with command line args. There is nothing I do special with --locale.

[2016-02-29 14:45] dbaeumer commented on #3325
@egamma To my knowledge the readme show in the market place UI and when we click on the readme button in the install extensions list then we open a web browser. So there is not much I can do since the nls story has to come from the market place. All we need to do to pass may be an argument to the market place when opening the extension in the browser. So IMO there is nothing we need to do here.

[2016-02-29 14:58] joaomoreno commented on #3334
I get it. Irrelevant to this particular issue, I would actually like to argue against using descriptors. Here's what I observe:

With descriptors:
- We end up having more code overall
- All that code is loaded into memory on startup, since we're talking about sync descriptors. That is the action, its descriptor, the descriptor registry, and the action cache. All of that gets loaded into memory.
-

[2016-02-29 15:01] joaomoreno commented on #3042
Can everyone suddenly speak Chinese?

Closing as duplicate of #821.

[2016-02-29 15:01] #3042 closed

[2016-02-29 15:02] joaomoreno commented on #3467
:+1:

[2016-02-29 15:07] joaomoreno commented on #3128
Don't think you ever patched the `info`:

https://github.com/Microsoft/vscode/blob/master/src/bootstrap.js#L81

[2016-02-29 15:26] egamma opened #3555 "March Iteration Plan"
March is our end game for the [Build 2016](http://build.microsoft.com/) milestone. During the endgame the focus is on problems, performance, publish. This doesn't mean that we do stop listening to feedback, but we will slow down on adding new features.

### [Endgame](https://github.com/Microsoft/vscode/wiki/Development-Process#end-game) Schedule

##### Monday, Mar 14
- [x] Code freeze early mornin

[2016-02-29 15:42] bpasero commented on #3334
I am all up for not having sync descriptors at all, I was just describing our status quo.

[2016-02-29 15:44] bpasero commented on #3128
Ah right, we still have this code, I can take care of console.info

[2016-02-29 15:45] Tyriar commented on #2698
I can still reproduce this on the latest alpha (Windows 10) using theme Dark (Visual Studio). Despite your diff, the classes for `var` are `token expr meta storage type var js`

[2016-02-29 15:46] RiCoTeRoX commented on #1884
+1

[2016-02-29 15:53] dbaeumer commented on #3174
Since the error counts drops to zero I suspect this being a problem in OmniSharp land

[2016-02-29 15:57] dbaeumer commented on #3187
@geelus would it be possible to share the project that shows the problem. I tried to reproduce but wasn't able to do so.

[2016-02-29 16:11] be5invis commented on #2951
@bpasero Maybe you can hide the entire menu by setting the windows' menus to null by the `setMenu` method, instead of using setMenuBarVisibility?

[2016-02-29 16:31] #1656 closed

[2016-02-29 16:32] #3521 closed

[2016-02-29 16:32] #3524 closed

[2016-02-29 16:37] Elejdor opened #3556 "Error trying to run a 'program' with the extension"
When I run the extension from Visual Code and I try to start a 'program' I get:
Error: DebugAdapter bin folder not found on path c:/.../vscode-mock-debug-master/out/mockDebug.js

It doesn't generate the output file. I checked HelloWorld extension and it compiled correctly. I also tried installing Mock-Debug as pre-built extension and it works too.

Regards

[2016-02-29 16:42] alexandrudima commented on #1515
@riclf Thank you for your input, I am really just trying to understand how the feature should work, I'm not trying to sell anything :).

I have pushed a change just now that adds column select with the mouse with the same modifiers as Visual Studio (Shift and Alt pressed), the key difference being currently our cursors cannot float on air (they get bounded by the text shape).

To better explain, h

[2016-02-29 17:00] bpasero commented on #2951
@be5invis I will not do that. Alt should bring back the menu in any case.

[2016-02-29 17:05] bill-mybiz opened #3557 "Rename (refactor) parameter object doesn't rename the shape declaration"
I have the following code:
[code]

When I tried to refactor `id` to `thingId`, it renamed it correctly in the parameter object variable and the symbols in the function body, but it did not rename it in the "shape" of the parameter object (I don't know what else to call it).

Expected:
[code]

Got:
[code]

I would also love it if someone could tell me what the various parts of this kind of function

[2016-02-29 17:06] zersiax commented on #2108
Hi,

Just saw the new release changelog, good work so far.
I want to stress-test the system a little. See where accessibility is
still not optimal and create issues for the stuff i find. Please let
me know a fitting strategy for this? Is there a tag I should group
them under, put them all in one issue or ...?

[2016-02-29 17:06] bill-mybiz commented on #3557
Also it fails in the reverse as well. If I perform the refactor on the shape declaration, it does not change the corresponding symbols in the parameter object, nor in the function body.

[2016-02-29 17:09] #1579 closed

[2016-02-29 17:12] rkeithhill commented on #3548
I think I have a workaround here where we stash the launch parameter info and defer launching of the requested script until we receive the configurationDone request message.  Is this how the protocol is supposed to work?

[2016-02-29 17:12] Tyriar commented on #1579
New fix needs to be re-verified on Windows.

[2016-02-29 17:17] be5invis commented on #2951
@bpasero I think you misunderstood my meaning. I think you can hide the menu by disabling it, and use custom event handlers to bring it back. And maybe you can also try to prevent the default behavior of <kbd>alt</kbd> to prevent mis-popup when multi-selecting.

[2016-02-29 17:21] rkeithhill opened #3558 "Non-documented required ordering of breakpoints in setBreakpoints response"
Our extension for PowerShell doesn't always return the breakpoints in the response in the same order they were sent in the request e.g.:
[code]
Response:
[code]
What I notice in the VSCode UI is that after I add or remove a breakpoint during a debug session, VSCode gets confused about which line my "conditional" breakpoint is on.  Check this out:
![vscodebreakpointbug](https://cloud.githubusercont

[2016-02-29 17:22] deathmood commented on #3415
just downloaded 0.10.10-insiders --- and it expands to function definition. But there is another problem --- *.js files with jsx inside are opened as `JavaScript` and emmet does not work. But if I switch language to `JavaScript React` emmet works.

Is there any possibility to enable emmet in files with *.js extension?

[2016-02-29 17:23] laimonas opened #3559 "C# folding error"
Windows 10
![untitled](https://cloud.githubusercontent.com/assets/870178/13402637/d6963e92-df19-11e5-9817-56724b20ebb1.png)

[2016-02-29 17:33] aeschli commented on #2698
Yes, I now removed the ts from the js grammars again, but instead have now all the suffices in our default themes. Coloring should look fine. Can you confirm?

[2016-02-29 17:40] Tyriar commented on #2698
Coloring is fine in Dark+, not Dark (Visual Studio) though which many people still have as their default. We seem to get a lot of issues filed for this theme. Is it being kept up to date or being phased out?

[2016-02-29 17:50] bpasero commented on #2108
@zersiax thanks much for willing to help! we will soon release a new insider drop with all our changes that you can use.

We typically file individual issues here around accessibility with the label "accessibility". We will take care of the triaging from then on!

[2016-02-29 17:51] bpasero commented on #2951
Fair enough, I still think that is a lot of juggling for something that Electron framework should just take care of...

[2016-02-29 17:54] be5invis commented on #2951
Or maybe you can change the key used for multi-selecting? Sublime Text uses <kbd>ctrl</kbd> does not introduce such conflict.

[2016-02-29 17:54] #3457 closed

[2016-02-29 17:55] bpasero commented on #2951
@be5invis well there was another bug that the menu shows up when you press Alt+Tab, which is rather common.

[2016-02-29 17:56] bpasero commented on #2108
@zersiax actually I think the insiders build (0.10.10-insiders) is already out!

[2016-02-29 18:32] warpdesign opened #3560 "Error updating on Windows"
I am getting an error trying to update to the new 0.10.10 release on Windows.

I received the notification, clicked on "update and restart" and it showed this error:

![errorupdatevscode](https://cloud.githubusercontent.com/assets/199648/13404671/1877ddec-df1b-11e5-8ab1-46d7ecdd470f.png)

Pressing "start again" shows the same error, cancel roll backs the install.

[2016-02-29 18:35] #3128 closed

[2016-02-29 18:37] bpasero commented on #2927
@alexandrudima fyi, not sure what to do here, e.g. if we want to safe guard against circular references. I do not think we did so before I adopted node process as plugin host.

[2016-02-29 18:43] warpdesign commented on #3560
With process explorer I was able to find which app locks the file:

It is a git process that. The thing is I have not git running right now, although I ran some git commands earlier.

[2016-02-29 18:43] alexandrudima commented on #2292
A tabIndex solution would not work because tabIndex is, similar to id, a global property.

E.g. if an editor is on slot 1 and it uses tabIndex from 1 to 10 for different things, then the editor on slot 2 would need to use tabIndex 11 to 20, etc. This would also need to be aligned with our other usages of tabIndex = 0, otherwise you would loop for a long time amongst all the things with tabIndex =

[2016-02-29 18:44] alexandrudima commented on #2700
I think the bug happens with the English locale?

[2016-02-29 18:45] zchrykng commented on #3426
@joaomoreno That was the issue. Want me to close this or do you want it open for the schema fix?

[2016-02-29 18:45] borgdylan commented on #3541
Would it be possible to add the contents of prerm/postrm scripts in the zip files for Linux? People not using packages might also want to do such registration manually.

[2016-02-29 18:46] alexandrudima commented on #3285
Not sure either, the accessibility docs ask that a widget that traps focus must allow for a way to escape it. It doesn't specify how this should be implemented

@stevencl Do you know what VS does?

[2016-02-29 18:48] alexandrudima commented on #3511
I understand there's no functional bug, but check out other json files where we represent paths, such as `package.json`, `settings.json`, etc.

For consistency I believe we should generate `.json` files with `/`.

[2016-02-29 18:51] bpasero commented on #2700
@tinganho are you using an english keyboard with english locale?

[2016-02-29 18:51] sarbbottam commented on #1363
@bpasero I am only able to focus the header of the panel not the file list. In order to focus the files in working file I have to `tab` it through. Was wondering if it could behave similar to ⇧⌘E.
![cmd-k-e](https://cloud.githubusercontent.com/assets/949380/13405172/07f9eb70-ded2-11e5-999a-d667f6fc7560.gif)

[2016-02-29 18:55] bpasero commented on #2292
Good point regarding multiple editors. When you tab out of the explorer we first tab into the editor tool bar. After that you end up tabbing into the find widget if that is open and then to the editor.

As you say, since the textarea comes after the widgets, it makes sense. Can we not move the textarea before the editor widgets container?

[2016-02-29 18:56] bpasero commented on #1363
Looks like I fixed this only for February release which we will get out this week.

[2016-02-29 18:56] #1363 closed

[2016-02-29 19:03] sarbbottam commented on #1363
Awesome!! Thanks @bpasero.

[2016-02-29 19:04] Tyriar commented on #3541
@borgdylan once the deb file is available you can always just download that and extract it, it contains the contents of the zip as well as the launcher, desktop and (un)installation scripts.

[2016-02-29 19:06] Tyriar commented on #1704
:+1:

[2016-02-29 19:06] ctrlrsf opened #3561 "Add help/usage flags for CLI code command"
vscode supports a few CLI arguments but there's no --help, -h, or even a /? flag that prints help/usage information to look them up from command line.

List of additional CLI arguments supported according to docs:
https://code.visualstudio.com/Docs/editor/codebasics#_additional-command-line-arguments

On OSX calling `code --help`, `code -h`, or even `code /?` just opens the editor and doesn't prin

[2016-02-29 19:07] #3498 closed

[2016-02-29 19:08] bpasero commented on #3498
Actions are now only enabled when the file is dirty, otherwise not. They also only show up when auto save is disabled.

[2016-02-29 19:10] borgdylan commented on #3541
I happen to install manually, are these file available separately here on github as well?

[2016-02-29 19:16] codyrigney92 commented on #3555
For the item, "HTML Preview run from a WebView and support executing JS", is there any plans to add support for jade templates also?  Like jade to html on the fly and render?

[2016-02-29 19:16] bpasero commented on #3561
@Tyriar fyi

[2016-02-29 19:17] Tyriar commented on #3541
@borgdylan an official build of the deb package won't be available until the March release. Is there any reason you would opt for manual once this is available over an official apt package?

[2016-02-29 19:27] SofianHn commented on #3326
@aeschli I thought the default behavior was to merge, I would prefer this. If you plan to do that for GA then please take over, otherwise I can fix this by introducing a different section.

[2016-02-29 19:40] factormystic opened #3562 "Suggestion: collapse unchanged regions in diff"
When viewing a diff (2 pane or inline) it would be useful to collapse the unchanged lines. This helps focus in on just the changes, especially when the changes are few an spread out.

[2016-02-29 19:41] SofianHn commented on #1931
@chrisdias how critical is this? I am trying to triage my bugs?

[2016-02-29 19:42] factormystic opened #3563 "Improve git partial staging discoverability"
In `Git GUI`, you can right click a tracked & changed file and stage just the selected lines, or just the current hunk. It's the UI version of `git add -p` This is extremely useful when splitting up lots of code changes in to several commits. It would be nice to have this partial stage functionality in this app.

[2016-02-29 19:43] SofianHn commented on #2690
haha, yes you do @joaomoreno

[2016-02-29 19:44] factormystic opened #3564 "Suggestion: git branch list sorted by most recent commit"
Currently it appears that the git branch list is sorted alphabetically. It would be nice if I could get it to sort by most recent commit in the branch, ie, date descending, so that active branches are nearer to the top of the list & stale branches are nearer to the bottom of the list.

[2016-02-29 19:47] dbaeumer commented on #3100
@felixfbecker thanks for the additional info. I suspect that the working directory of the process is different when started from the start menu which makes client then relative to that directory. I change the title since the right fix would be to either forbid relative values or make the predictable (e.g relative to the workspace root).

[2016-02-29 19:56] JordanBelford commented on #3260
Thanks @bpasero. The 'Close File' command solves my problem. If this feature gets implemented, it would still make managing the recent list more efficient and intuitive.

It seems odd that clicking to remove files from the 'Working Files' list does not remove the files from the recently used list.

[2016-02-29 19:59] #3551 closed

[2016-02-29 20:01] isidorn commented on #3551
Ok, I tuned the wording and I now show the default value.
Please note that I decided to initially select the tab size value for the current editor, but I put the 'default' description for the tab size that is specified in the configuration file. Let me know how you feel about it

[2016-02-29 20:07] tht13 commented on #3555
@codyrigney92 There is an [extension](https://marketplace.visualstudio.com/items?itemName=wmaurer.html2jade) to convert jade to html, you could use this in combination with [HTML preview](https://marketplace.visualstudio.com/items?itemName=tht13.html-preview-vscode) to achieve this?

[2016-02-29 20:08] NullScope commented on #2896
@bpasero This is on Windows.

Here are the steps to reproduce the bug:

- Create one folder called FolderTest ( e.g C:/FolderTest )
- Create two child folders called FolderOne and FolderTwo ( e.g C:/FolderTest/FolderOne & C:/FolderTest/FolderTwo )
- Fill both folders with random files ( e.g C:/FolderTest/FolderOne/random.txt )
- Create one folder somewhere else called JunctionFolder ( e.g Document

[2016-02-29 20:09] #3343 closed

[2016-02-29 20:10] codyrigney92 commented on #3555
@tht13 Thanks, I'll have to give that a try.

[2016-02-29 20:22] Tyriar opened #3565 "Add the command line arguments mentioned in the docs to CLI's usage"
https://code.visualstudio.com/Docs/editor/codebasics#_additional-command-line-arguments

[2016-02-29 20:23] Tyriar commented on #3561
`--help` is being added in Feb release https://github.com/Microsoft/vscode/pull/2650

I wasn't actually aware of the doc page you linked, I've created a new issue to add the remaining aommand line args for the March release https://github.com/Microsoft/vscode/issues/3565. Thanks!

[2016-02-29 20:23] #3561 closed

[2016-02-29 20:27] #3161 closed

[2016-02-29 20:29] bgashler1 commented on #2432
Just noticed this issue.  I agree with @stevencl and @csinco due to the fact that the clicking the "X" is actually causing the panel to close and not collapse.

[2016-02-29 20:33] isidorn commented on #3161
Please note that I no longer manually set 'all', 'uncaught' in case the adapter is not sending exception breakpoints as part of capabalities.
Due to this all adapters should send a list of exception breakpoints that they support as part of capabilities returned by the initialise call.
[Debug Protocol Capabilites] (https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/common/

[2016-02-29 20:46] bgashler1 commented on #1133
We also should explore allowing users to toggle editors and panels from being vertically or horizontally split.

[2016-02-29 20:59] chrisdias commented on #1931
We are not going to change this is the //build timeframe so I would be ok pushing it out.

From: Sofian Hnaide <notifications@github.com<mailto:notifications@github.com>>
Reply-To: Microsoft/vscode <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, February 29, 2016 at 8:41 PM
To: Microsoft/vscode <vscode@noreply.github.com<mailto:vscode@noreply.github.com>>
Cc: Chris Dias <Chri

[2016-02-29 21:03] csholmq commented on #2789
Xamarin is supported in Visual Studio. Would be sweet to have it in VSCode!

[2016-02-29 21:12] borgdylan commented on #3541
I opted for that since I used to customize the install myself to support my own programming language.

[2016-02-29 21:17] aeschli commented on #2698
The plan is to keep both.
'function' not being colored has to do with Microsoft/TypeScript-TmLanguage#44. I hope we can fix that this week.

[2016-02-29 21:21] jayrosen1576 commented on #1023
this is important especially when needing to restructure an app by moving multiple files into other folder locations or deleting many files at once. we tend to do this often when in the early stages of web app development.

[2016-02-29 21:30] #3494 closed

[2016-02-29 21:30] aeschli commented on #3485
Fixed with changes from #3494

[2016-02-29 21:30] #3485 closed

[2016-02-29 21:31] jayrosen1576 opened #3566 "Request to add "Close All Files Above / Below" in Working Files list"
Many modern editors that have tabs have options like "Close all to the right / left" or "Close all but this..." so you can close multiple files at once. The same can be added to the working files list. Right-click on a file and we should see options like "Close all files above", "Close all files below", and "Close all files but this one". I often organize files in tabs (or in the Working files lis

[2016-02-29 21:33] joaomoreno commented on #3426
Let's leave it open for the fix. ;)

[2016-02-29 21:33] joaomoreno commented on #2690
:fireworks:

[2016-02-29 21:51] Tyriar commented on #2698
That's what this issue is for so this should stay open until https://github.com/Microsoft/TypeScript-TmLanguage/issues/44 gets in.

[2016-02-29 21:58] daviwil commented on #3161
cc @rkeithhill

[2016-02-29 22:05] #3171 closed

[2016-02-29 22:13] groksrc commented on #1515
That works for me, what you have is the same as how it works in Sublime Text.

[2016-02-29 22:14] Tyriar opened #3567 "Simplify --goto's usage"
Currently `--goto` uses the following form:

[code]

This is a little difficult to explain this in the usage and is a little different to how CLI args are handled on unix-like systems. I propose this instead:

[code]

This follows the `-g <value>`, `--goto=<value>` standard and also allows `-g/--goto` to be documented in isolation of the path arg.

This also brings it in line with how the `--local

[2016-02-29 22:14] Tyriar commented on #3567
@bpasero thoughts?

[2016-02-29 22:16] jayrosen1576 opened #3568 "Add Case sensitivity to editor.action.addSelectionToNextFindMatch"
We use this feature a lot in our daily development activities however since it is case-insensitive, it tends to select items that are unintended. A perfect example is defining an instance of a class and wishing to rename the instance references but not the class itself:

var user = new User(); <-- cmd+d would select 'user' & 'User' when only the instance variable is intended
user.firstName = 'Joe'

[2016-02-29 22:26] riclf commented on #1515
Alexandru,

Thank you for reaching out. The way VS performs a vertical selection is the
³correct" way, in that it is the classic way we expect that action to
perform, coming from other editors.

Your second demo as VSCode performs on master is interesting and value but
not as an expected action. For that reason it leaves the expected vertical
selection unfulfilled.

The problem with the current VS

[2016-02-29 22:30] #3565 closed

[2016-02-29 22:33] Tyriar commented on #3541
Well I recommend the deb package when it's out, it just handles everything for you; a nice launch wrapper, launcher integration, registering apt repository for updating through OS software updater (https://github.com/Microsoft/vscode/issues/2973). Plus clean removal with `dpkg`/`apt-get`.

[2016-02-29 23:16] rkeithhill commented on #3161
We support returning Capabilities from the `initialize` request now in the PowerShell extension.  We do not return the `exceptionBreakpointFilters` field.  I believe this should be effectively declaring that we do not support exception filters but we still get the setExceptionBreakpoints request. Sounds like this change, would eliminate those messages.

BTW WRT to the debug protocol, is it better

[2016-02-29 23:25] Tyriar opened #3569 "Folder explorer is faded for some reason"
Not sure what I did to get it into this state and I don't know how to get it out apart from restarting:

![image](https://cloud.githubusercontent.com/assets/2193314/13412218/873371ee-def6-11e5-861e-d17e612112ad.png)

`.explorer-item-label` is inheriting `color: #ccc` from:

[code]

[2016-02-29 23:32] isidorn commented on #3551
btw I went with 'Configured Tab Size', not sure if 'Configured Tab Size in Workspace' is better to make it more clear that it is coming from the settings file. Though it might be come from user.json and then it might be confusing

[2016-02-29 23:37] bill-mybiz commented on #3557
Ah, This apparently is a TypeScript problem and not a VS code problem, which is why I couldn't find it:

https://github.com/Microsoft/TypeScript/issues/6312

[2016-02-29 23:37] #3557 closed

[2016-02-29 23:39] rob3c commented on #3557
Yep, this is certainly annoying. I think it's root cause is related to issue #6459 that I created,  #6312 that my issue was close enough to label as 'duplicate', as well as other issues it's connected to.

[2016-02-29 23:42] emil19 opened #3570 "Suggestion: Allow customizing the css of the workbench"
In Atom it's possible to edit the css of the editor by going to "File > Open Your Stylesheet" and overriding the css of the editor. Since vscode is also based on HTML I imagine it wouldn't be too difficult to implement this feature in vscode as well. It would be very convenient to be able to customize the UI with css and possibly in other ways too.

I can see this feature being useful both in exte

[2016-02-29 23:44] #3541 closed

[2016-03-01 00:21] daviwil commented on #2676
This is fixed for me in the latest Insiders release, thanks a lot!

[2016-03-01 00:35] daviwil opened #3571 "[0.10.10-insiders] Code folding for #region/#endregion"
It seems that `#region`/`#endregion` syntax in both PowerShell and C# isn't foldable in the 0.10.10-insiders release:

![image](https://cloud.githubusercontent.com/assets/79405/13413795/3954aa5e-df02-11e5-8018-d1b24f9d0a8e.png)

It seems that `#if`/`#endif` work fine though. What should our syntax definition files need to make these regions fold correctly?

[2016-03-01 00:38] Tyriar commented on #3571
This is blocked by https://github.com/Microsoft/vscode/issues/3422

[2016-03-01 00:55] tinganho commented on #2700
@bpasero correct. I'm using English keyboard with english locale

[2016-03-01 01:19] pieandcakes opened #3572 "Opening folder in second window of VSCode opens in first window of VSCode in error"
1. Open VSCode and open a folder for project A
2. Go to File -> New Window
3. In the new window Open the same folder for project A. This will cause nothing to happen as it is still open in the first VSCode window
4. In the new window, open a folder for project B.

Expected: it to open in the new VSCode window
Actual: opens in the first VSCode window, replacing project A as the open folder.

[2016-03-01 01:26] chiangf commented on #774
@bpasero I think the high CPU use was definitely due to the large dir (it was a few gigs in size), which is understandable if the entire dir is being processed. After clearing out the large dir, the CPU use dropped instantly to a very normal amount.

But I think the large dir was in the list of `files.exclude` (and didn't show up in vscode), so I think the issue is that it doesn't look like `files

[2016-03-01 01:27] cosmez opened #3573 "Multiple Cursors Copy & Paste Bug, Bottom to Top selection"
When you select multiple lines from bottom to top, copy and paste the lines are pasted in reverse order.

[Example Youtube Video](https://youtu.be/KvqucweG7B8)

[2016-03-01 02:54] minggo commented on #3499
@weinand
Could you please take a look?
Thanks.

[2016-03-01 03:10] daviwil commented on #3571
I apologize, I didn't read the release notes carefully enough.  This is mentioned there already.  I'll close this issue since it's already being tracked by #3422. Thanks!

[2016-03-01 03:10] #3571 closed

[2016-03-01 03:21] cwliu commented on #3146
@bpasero Thanks for your information.

I have tried as below:
![markdown-cdoe](http://i.imgur.com/OHUXh17.png). It has no color applied on the code block, but it better than partially colored.

[2016-03-01 03:34] Tyriar opened #3574 ""Some projects have trouble loading" error makes viewport smaller than entire editor"
Notice right down the bottom and the top:

![image](https://cloud.githubusercontent.com/assets/2193314/13416893/001c0bba-df1b-11e5-92d1-13597b10fd48.png)

To get in this state I loaded a folder that had an old C# project in it with tools version 12. It gave me an error at the top, so I opened and read it. Then I tried to close the file by middle clicking the file name up the top which entered the

[2016-03-01 03:57] vilic commented on #3503
I used to use tabs when I use Visual Studio, but now I absolutely prefer code navigation with keyboard. `Ctrl+E` type the file name, `Ctrl+E` to select target file and go. I don't need to remember where the tab is any more.

While I support your voting for this feature, I strongly suggest you trying to adapt keyboard navigation that makes my life easier.

[2016-03-01 05:44] antonydeepak commented on #3474
@bpasero Yes, this is on Windows.

[2016-03-01 05:53] gregg-miskelly commented on #3161
@isidorn I think I know the answer, but just to confirm -- this is for March, correct?

[2016-03-01 06:14] bpasero commented on #3574
@Tyriar can you inspect what HTML element the message is in DOM? I suspect the middle mouse scrolling revealed it somehow.

[2016-03-01 06:20] bpasero commented on #3146
@cwliu it should look better if you use the Dark+ theme. You can also add the language type after the backticks to color it for the language.

[2016-03-01 06:23] Tyriar commented on #3574
[code]

Inside `body > div.aria-container`

[2016-03-01 06:26] bpasero commented on #3574
Thanks, I suspected that one.

[2016-03-01 06:26] geelus commented on #3187
Sorry I don't have it anymore. To give you a clue, I was using typescript to generate the .js files. I now change it to do compile on the fly.
I guess the .js files was at fault but I was hiding them using the configuration in typescript and only worked on the ts files. This could be why VS Code could not show me the error.

I hope you can find it.

[2016-03-01 06:26] Tyriar commented on #3574
Adding `left: -999em` to `.aria-container` will correctly take it out of the page flow.

[2016-03-01 06:35] bpasero commented on #3574
Yeah, something like that. We still have to ensure a screen reader picks it up.

[2016-03-01 06:37] bpasero commented on #3567
I like the suggestion but it would seriously break all clients that expect the current behaviour including Unity plugins that are written so that you can easily open a file from Unity in VS Code. I would not want to make this change easily as this format has been out since almost a year without complaint.

[2016-03-01 07:11] cwliu commented on #3146
Indeed, There is the screenshot using Dark+ theme and set the type to JAVA

![image](http://i.imgur.com/OHUXh17.png)

On Tue, Mar 1, 2016 at 2:21 PM, Benjamin Pasero <notifications@github.com>
wrote:

[2016-03-01 07:12] Tyriar commented on #3574
Yep, sending it off screen should still be read out by the screen reader.

[2016-03-01 07:35] cwliu commented on #3146
Indeed, There is the screenshot using Dark+ theme and set the type to JAVA

![image](http://i.imgur.com/OHUXh17.png)

[2016-03-01 07:36] ibhub opened #3575 "Files are saved in UTF-8 without BOM"
How to save files in UTF-8 with BOM?

[2016-03-01 07:46] felixfbecker commented on #3161
This will break all adapters that do not use `configurationDoneRequest` yet but rely on `setExceptionBreakpointsRequest` to run

[2016-03-01 08:06] joaomoreno commented on #3482
@bpasero any idea?

[2016-03-01 08:08] joaomoreno commented on #3492
You seem to be behind a proxy. There are a couple of settings that may be useful to you:

[code]

[2016-03-01 08:08] #3492 closed

[2016-03-01 08:10] joaomoreno commented on #3496
@daviwil If the extension register a completion provider, then only that is used. This seems to be a Powershell specific issue, can you move it there?

[2016-03-01 08:10] #3496 closed

[2016-03-01 08:13] joaomoreno commented on #3503
Closing as duplicate of #224. Please continue the discussion there.

My personal opinion: there is nothing more tabs provide me than what <kbd>Ctrl E</kbd> already does. Oh, besides the pain of having to look for *where the hell that tab is* once I have more than 6 open.

cc/ @chrisdias @waderyan @seanmcbreen

[2016-03-01 08:14] #3503 closed

[2016-03-01 08:17] joaomoreno commented on #3530
@bpasero gave it to you for link detection. fwd if wrong

[2016-03-01 08:18] joaomoreno commented on #3532
cc @egamma

[2016-03-01 08:18] joaomoreno commented on #3533
cc @chrisdias @egamma @waderyan @seanmcbreen @bpasero @alexandrudima

[2016-03-01 08:19] isidorn commented on #3499
Does it remains in a spin forever? Does your adapter return a response.
I do not see the 'this' in your variables response.
Are you sure the names are unique across scopes. E.g you do not have two `this` variables

[2016-03-01 08:22] joaomoreno commented on #3549
It does support `$1` `$2`, etc., for group matches. It doesn't seem to support `$0` for the entirety of the match.

[2016-03-01 08:24] joaomoreno commented on #3550
For sure we're blindly converting to/from `utf8` somewhere...

[2016-03-01 08:26] minggo commented on #3499
Yep. The spin remains forever. The response is correct, the response value is attached above.

The varialbes response is the value of `this`.

Yep, only one this.

And you can return a response with the value i offered to have a try.