[2016-09-01 02:33] BGOnline-CN opened #11362 "When I write CSS, window is not responding"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1.
2.

[2016-09-01 02:36] rmunn commented on #4039
I'm going to be a voice of dissent, because there are many times when I do NOT want the code that I pasted to be adjusted in any way. Particularly when I'm working in a language like F#, which has significant indentation like Python but, unlike Python, doesn't have a clear syntactical marker like `return` to signal that the previous function has ended. In other editors that indent code for you, I'

[2016-09-01 02:41] rmunn commented on #11222
Probably related to #8539 and/or #8850.

[2016-09-01 02:54] alefragnani commented on #11273
@bpasero wouldn't https://github.com/Microsoft/vscode/issues/9285 be a better solution in this case? I mean, the commands _already exists_ so the user should only configure where/how it is presented.

[2016-09-01 03:24] cjqpker opened #11363 ""gotoSymbol" failed in golang"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:41:29.513Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:

1. shift+cmd+o, input some keywords
2.vscode locates a strange position

![img_20160901_111603](https://cloud.githubusercontent.com/assets/14192091/18154361/7c8c89f2-7036-11e6-8bd7-7e14a2afd379.jpg)

[2016-09-01 04:31] bpasero commented on #11255
Try with `"window.openFilesInNewWindow": false`

[2016-09-01 04:31] #11255 closed

[2016-09-01 04:32] bpasero commented on #11338
I am very sorry to hear you are having issues with VS Code. I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-09-01 04:34] bpasero commented on #10202
@rebornix are you sure you tried on a build with this change in?

[2016-09-01 04:37] bpasero commented on #11261
@artagnon you can use the "Console" application on Mac to find the crash log:

<img width="1188" alt="screen shot 2016-09-01 at 06 37 26" src="https://cloud.githubusercontent.com/assets/900690/18155515/91901e18-700e-11e6-8716-90ab67c47f01.png">

[2016-09-01 04:39] bpasero commented on #11277
@felix-last wow that is super weird, and not expected! I wonder if the source of the operation has any impact, does it reproduce with any file and any folder?

Here is how it works for me:

![editors](https://cloud.githubusercontent.com/assets/900690/18155554/dbc37908-700e-11e6-81d0-042028eb3b11.gif)

[2016-09-01 04:40] bpasero commented on #11273
Yes, also a possible solution 👍

[2016-09-01 05:04] bpasero commented on #11303
Pushed 2px border:

<img width="597" alt="screen shot 2016-09-01 at 07 04 24" src="https://cloud.githubusercontent.com/assets/900690/18155924/5a62c31a-7012-11e6-9157-9526d62b4bf0.png">

[2016-09-01 05:19] SiriusGuo commented on #615
OMG! I have uninstall vscode because of it! I thought vscode did it so sad...my fault!

[2016-09-01 05:22] ericsoul1987 opened #11364 "rebuild computer,and version back to 1.3"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 6.1.7601

Steps to Reproduce:

1.i have been upgrade this version many times;
2.when my computer rebuild,the version will be back to 1.3.

ps.my hard drive is SSD.

[2016-09-01 05:25] rebornix commented on #10202
@bpasero oh right, I suppose this change has not been released yet, it's false negative.

[2016-09-01 05:26] #11319 closed

[2016-09-01 05:27] bpasero commented on #11227
I reverted my change with the vertical-align because a) it is causing issues with the rename box dropping down and b) I noticed that the font looks very well aligned in default zoom (at work I always run with 1 level zoomed in and that causes the misalignment).

[2016-09-01 05:49] aeschli commented on #10068
You can try this in the [insider](https://code.visualstudio.com/insiders) build.

[2016-09-01 05:57] aeschli commented on #909
@ricjac Please file a new issue so we can investigate...

[2016-09-01 05:59] isidorn commented on #11350
This was actually requested by @daviwil here https://github.com/Microsoft/vscode/issues/5773
Since some debug scenarios require this empty string to be evaluated I would prefer to leave like it is, since it does not have any big impact on node imho. Thus closing as designed.

Can reopen if you provide good arguments why should this trump the powershell case

[2016-09-01 05:59] #11350 closed

[2016-09-01 06:02] isidorn commented on #11352
I also see this on out of source, will investigate soon. Probably some theming broke this fyi @bpasero

[2016-09-01 06:05] bpasero commented on #11352
@isidorn oh yeah 🎅

[2016-09-01 06:09] ramamurthynagaraj commented on #10386
@alexandrudima I think your proposed behaviour is better.
Let me see if I could implement the second point.

[2016-09-01 06:10] rebornix commented on #10068
Verified in latest Insider build.

[2016-09-01 06:14] jltjohanlindqvist commented on #11307
Updating TS to `Version 2.1.0-dev.20160901` and changing the `typescript.tsdk` setting to use the new version fixes the problem.

[2016-09-01 06:14] #11307 closed

[2016-09-01 06:24] joaomoreno commented on #10281
Let me know your availability and I'll see when I can fit. We'll set up a time and I'll send you a conference call link.

[2016-09-01 06:27] joaomoreno commented on #11352
Sorry @isidorn! I went around through most trees, but neglected this one... You might wanna review [your overrides](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/browser/media/repl.css#L75).

[2016-09-01 06:30] johanbove commented on #11096
I pinpointed the CPU load issue to the extension: "glen-84.sass-lint-0.0.1"; Will contact the author of the plugin.

[code]

[2016-09-01 06:30] #11096 closed

[2016-09-01 06:36] johanbove commented on #11096
For future reference: here is the issue posted in the "sass-lint" project: https://github.com/glen-84/vscode-sass-lint/issues/2

[2016-09-01 06:39] itsakt opened #11365 "Stylesheet color preview display issue"
- VSCode Version: 1.5.0-insider
- OS Version: Win 10 build 1607

Color preview used to be in line with code but now it shows up like this

![image](https://cloud.githubusercontent.com/assets/8027805/18157754/f00a9814-703c-11e6-88ed-19664a4c2eae.png)

[2016-09-01 06:45] alexandrudima commented on #11143
@Tyriar It came in via PR #10515 (I wrote above in the description). I was surprised that it adds the terminal option as well, but then I noticed the terminal has all the other font-related settings from the editor and thought it was a good change. We can definitely remove the `terminal.integrated.fontWeight` and its influence in the integrated terminal.

[2016-09-01 06:50] alexandrudima opened #11366 "Revert the code around terminal.integrated.fontWeight"

[2016-09-01 06:59] dbaeumer commented on #11162
@roblourens that is the idea. However the API didn't make it into 1.5 so that has to wait for 1.6 :-)

[2016-09-01 07:02] isidorn commented on #11259
@maryamsoprano outdir should point to a directory where your typescript is compiled to. So where the built .js files live. If the js files live besides the ts files they you do not need to set the outDir.
You can create a public repository on GitHub with your workspace and we can investigate why the breakpoints are not hit, without that it is very hard to guess what the problem is. Thanks

[2016-09-01 07:03] dbaeumer commented on #11365
@aeschli starting with you and setting to August since it looks like a regression.

[2016-09-01 07:03] isidorn commented on #11315
fyi @Tyriar

[2016-09-01 07:04] alexandrudima commented on #10744
@pxwise For TypeScript, the best is if you do 'Rename' (F2) which is powered by the TypeScript language service and is able to do a semantic rename of a symbol. Change All Occurences is textual and respects the case sensitivity / whole words settings that are in the editor's find widget.

[2016-09-01 07:05] dbaeumer commented on #11363
Moving to the vscode-go repository.

[2016-09-01 07:06] dbaeumer commented on #11363
This issue was moved to Microsoft/vscode-go#465

[2016-09-01 07:06] #11363 closed

[2016-09-01 07:07] dbaeumer commented on #11362
@BGOnline-CN can you please provide more information on how to reproduce this. Can we clone a github repository that demonstrates the behavior.

[2016-09-01 07:09] dbaeumer commented on #11361
This is on the plan, but requires some additional extension API. For now you can simple add the following settings to the workspace settings: `"eslint.enable": false`. This will disable eslint for that particular workspace.

[2016-09-01 07:09] #11361 closed

[2016-09-01 07:09] isidorn commented on #11250
@yanchenw if this is on the plan is up to @dbaeumer to decide since this item is assigned to him.

Yes it is possible to be activated on event 'onDebug:TYPE', more details: https://code.visualstudio.com/docs/extensionAPI/activation-events#_activationeventsondebug

[2016-09-01 07:09] #9631 closed

[2016-09-01 07:12] dbaeumer commented on #11351
The TS team is working on this. See https://github.com/Microsoft/TypeScript/pull/9353

[2016-09-01 07:12] #11351 closed

[2016-09-01 07:13] isidorn commented on #10998
Since @bgashler1 is not replying and @weinand is not approving of the icon for august we will go back to the red square for the disconnect.
Thus assigning this to @bgashler1 and September to address @weinand concerns regarding the the icon

[2016-09-01 07:13] aeschli commented on #11365
duplicate of #11296

[2016-09-01 07:13] #11365 closed

[2016-09-01 07:15] dbaeumer commented on #11348
Ctrl+F2 (Change all occurrences) change all textual occurrences. A refactor rename limit to the single file is not available.

[2016-09-01 07:16] joaomoreno commented on #11364
Can you try uninstalling and [installing](http://code.visualstudio.com/Download) again?

[2016-09-01 07:16] #11364 closed

[2016-09-01 07:17] dbaeumer commented on #11346
This issue was moved to Microsoft/vscode-cpptools#194

[2016-09-01 07:17] #11346 closed

[2016-09-01 07:19] joaomoreno commented on #11356
I don't understand what you mean with _subproject_.

Putting a git repository inside another one isn't supported by git, unless it is a submodule.

Whatever steps you did with Code, just do them in the command line. If Code behaves differently, it is a bug. Otherwise, it's just how git works.

Step 5 runs `git add -a . ; git commit -m 'message'`.

[2016-09-01 07:20] dbaeumer commented on #11340
Ctrl+P should do the trick. You can type the filename you are looking for.

[2016-09-01 07:20] #11340 closed

[2016-09-01 07:25] dbaeumer commented on #10139
Strg and Umschalttaste are correct. In German Windows they are translated as well.

[2016-09-01 07:28] egamma commented on #11162
@dbaeumer here is the fwdlink:  http://go.microsoft.com/fwlink/?LinkId=826239
It is defined to refer to https://code.visualstudio.com/docs/languages/typescript#_using-newer-typescript-versions

[2016-09-01 07:28] dbaeumer commented on #11260
@waderyan  I would say so. Especially if you can't reproduce this with TS out of the box (e.g. 1.8.10). Can you? Looks like @bgashler1 used the standard 1.8.10

[2016-09-01 07:30] dbaeumer commented on #11344
@Tyriar you can localization bugs directly assign to @johnliu2016

[2016-09-01 07:35] egamma commented on #11329
@mrmlnc agreed I'll mention this in the doc.

The best solution would be to provide Intellisense for the languages.

[2016-09-01 07:38] dbaeumer commented on #11162
@egamma forward link added and pushed. Ready to verify.

[2016-09-01 07:39] ffxsam commented on #11348
So Cmd/Ctrl+F2 renames just in the file, it seems, and F2 renames/refactors everywhere?

[2016-09-01 07:39] egamma commented on #11283
@mrmlnc

I agree, but this would require to introduce a separate in addition to ExpandAbbreviation e.g. ExpandAbbreviationOnTab to distinguish this case, An action should not know how it was invoked. This would mean that two actions show up in the Command Palette which is ugly. So let's see what feedback we get first.

[2016-09-01 07:43] dbaeumer commented on #11239
@cfjedimaster thanks

@alexandrudima assigning to you since you seemed to be active in handlebars. Please reassign if necessary.

[2016-09-01 07:43] ffxsam commented on #11351
So, once this change is live, will it work if I'm using VS Code with `javascript.validate.enable` set to `false`?

[2016-09-01 07:44] dbaeumer commented on #11348
Yes, but Ctrl+F2 renames the 'symbol' in comments as well since it is a textual rename.

[2016-09-01 07:44] ffxsam commented on #10068
Is it possible to run the Insider build alongside the stable release? (in the same way Chrome & Canary can co-exist)

[2016-09-01 07:45] ffxsam commented on #11348
Good to know! So yeah, having F2 ask whether the refactor should be global or not would be extremely useful.

[2016-09-01 07:46] dbaeumer commented on #11351
Yes.

[2016-09-01 07:46] #11352 closed

[2016-09-01 07:47] ffxsam commented on #11351
Excellent. Thanks, Dirk!

[2016-09-01 07:47] dbaeumer commented on #11348
That is why I kept the issue open :-)

[2016-09-01 07:47] isidorn commented on #11352
@joaomoreno np, also the debug hover was broken. Please code review and see that I am no longer ussing `paddingOnRow: false` flag, since now it was behaving differently - namely the twistie was being moved too much to the left. Now it seems to behave fine, but I can not remember why I was using that flag in the first place.

[2016-09-01 07:49] weinand commented on #11315
Today external terminals managed in debug adapters are completely independent from VS Code and have no access to the the corresponding settings.
But we plan to consolidate this in the future.

[2016-09-01 07:50] jrieken commented on #11332
No - we don't go complex first but handle the situation (with an overload) if case it ever arises.

[2016-09-01 07:51] dbaeumer commented on #10683
@sam-s4s @christiandreher do any of you have a test case that demonstrates the behavior that we can clone from?

[2016-09-01 07:51] isidorn commented on #11321
@roblourens @weinand since we are wrapping up the release I am fine with also filtering the last new line on the vscode since we were doing that previously. Though the right fix seems to be to handle this on the node debug side imho. Since 'hello' and 'hello\n' should produce different results on the vscode side.
@weinand let me know what you think, maybe I am missing something specified in the pr

[2016-09-01 07:54] bpasero commented on #11096
Thanks 👍

[2016-09-01 07:54] bpasero commented on #11355
Thanks for reporting this issue. Please use the issue search next time to see if there is a duplicate already. In this case, the issue has already been reported.

[2016-09-01 07:55] jrieken commented on #10311
@DanTup Do not comment on closed issues esp not with stuff like 'I also saw this thing'

[2016-09-01 07:56] jrieken commented on #11331
You can use the normal <triple-backtick><lang_name><newline>code<newline><triple-backtick>

[2016-09-01 08:01] jrieken commented on #11214
@Tyriar ping

[2016-09-01 08:01] jrieken commented on #11342
dup of #4201

[2016-09-01 08:01] #11342 closed

[2016-09-01 08:04] #11341 closed

[2016-09-01 08:08] Cloudwu1 opened #11367 "The window is no longer responding when right-click to see the context menu without action on Windows."
- VSCode Version: 1.4.0
- OS Version: Win7, Win10

Steps to Reproduce:

1. Right-click in a cpp file or in the side bar to see the context menu.
2. Wait for a minutes.

It reproes with/without cpptools 0.9.0.
![norespond](https://cloud.githubusercontent.com/assets/21057022/18160089/44b670d8-705e-11e6-8c3d-122c367f321f.PNG)

[2016-09-01 08:10] DanTup commented on #11331
@jrieken I understand that, but it means figuring out where the code blocks are and rewriting them. Code is already doing Markdown parsing, so it seems a bit silly for us to have to do it too. All language extensions comments are probably going to have code blocks in the same language, so this seemed like it could save duplicated effort of us all writing our own markdown re-writer if comments are

[2016-09-01 08:13] DanTup commented on #10311
@jrieken Apologies, but I'm seeing the same issue that I raised this case for so I figured you'd rather re-open the existing case than get an exact dupe.

There are a couple of closed issues I commented on; should I always raise new issues even if they're the same or relating to the fix?

[2016-09-01 08:15] XVincentX commented on #11342
Thanks and - apologise for not finding it 👎

[2016-09-01 08:28] konradhalo commented on #10439
Yesterday i've added sass-lint extension and also CPU usage of Code Helper skyrocketed. I don't know if this is an issue with the linter itself or Code.

`  PID TTY           TIME CMD
  693 ??       167:21.66 /Applications/Visual Studio Code.app/Contents/Frameworks/Code Helper.app/Contents/MacOS/Code Helper /Users/konrad/.vscode/extensions/glen-84.sass-lint-0.0.1/node_modules/vscode-languageclient

[2016-09-01 08:28] eBitzu opened #11368 "Swapping places of elements between each other that are divided by an operator"
- VSCode Version: 1.4.0
- OS Version: Win7
- Language: Javascript

The most annoying thing ever in and IDE is the time you have to swap conditions, or parameters or members of an equation for example:

`var randomName = paramValue || $rootScope.paramValue;`
In this case maybe I want to switch them too... and for that I have to copy paste stuff to have something like this

`var randomName = $rootSc

[2016-09-01 08:30] christiandreher commented on #10683
@dbaeumer With the help of another issue I unfortunately don't remember anymore I found out that a simple restart can solve the problem. A complete system reboot, restarting VSCode was not enough. So I think that supplying a repo won't help, since this seems to be closely system related. Or did I misunderstood you?

[2016-09-01 08:35] denghejun opened #11370 "change terminal to bash.exe, when press 'ctrl+`', open internal good, but not auto change directory to current work space"
- VSCode Version:1.4.0
- OS Version: Windows 10

Steps to Reproduce:

1. open a xx.js file use VSCode
2. press `ctrl+‘`,
the bash opened internal good, but not auto change directory to current work space but `Ctrl+shift+C` (cmd.exe) will do.

[2016-09-01 08:36] aeschli commented on #10068
Yes, they are two different application with separated settings.

[2016-09-01 08:41] sebfie opened #11371 "Implement PHP symbol search"
- VSCode Version: 1.4.0
- OS Version: OSX 10.11.16

Steps to Reproduce:
1. Import a magento project
2. Quick search Mage_Catalog_Model_Product_Api_V2

Hello, I work on magento projects, and I would like to be able to search using class name.
Example : `Mage_Catalog_Model_Product_Api_V2`

In `magento Mage_Catalog_Model_Product_Api_V2` => go to `app/code/core/Mage/Catalog/Model/Product/Api/V2.php`.

[2016-09-01 08:50] kirtangajjar commented on #6474
Any updates on this one @alexandrudima

[2016-09-01 08:51] sandy081 opened #11372 "Debug console is shown when launching Node application with integratedTerminal"
OS: OSX

Steps to Reproduce:
1. Clone [VS Code Smoke Test](https://github.com/Microsoft/vscode-smoketest-express) application
2. Create a Node debug launch to run the application
3. Use `integratedTerminal` as console in the launch
4. Reload the window
5. Start the launch

Expected: Integrated terminal should remain after starting
Observed: Debug console is shown.
![sep-01-2016 10-49-59](https://c

[2016-09-01 08:55] weinand commented on #11321
`console.log('test')` produces a '\n' at the end by definition of log():
[code]
It is **not** node-debug that introduces any characters.

VS Code should not modify the data received through the OutputEvents in any way.
If a node program decides to use `process.stdout.write("test")` (which does not append a newline), VS Code should not add a newline on itself.

[2016-09-01 08:59] sandy081 commented on #11323
@alexandrudima Can you verify this?

[2016-09-01 09:02] bpasero opened #11373 "Cannot read property 'getId' of null"
Seeing this output during our integration tests on Linux (e.g. https://travis-ci.org/Microsoft/vscode/jobs/156744953#L4115)

[code]

[2016-09-01 09:03] bpasero commented on #11373
I wonder if this error is related that comes right after:

[code]

[2016-09-01 09:06] #11370 closed

[2016-09-01 09:06] denghejun commented on #11370
sorry, if it was open as a file directory, it works fine.

[2016-09-01 09:07] jrieken commented on #10824
@ramya-rao-a Can you provide some detail? For me this works following these steps

* have a snippet for typescript as outlined [here](https://github.com/Microsoft/vscode/issues/10824#issuecomment-242007851)
* type `then`, dismiss suggest widget if showing, hit `tab` -> snippets expands
* type `a().then` or `foo foo then`, hit `tab` -> snippets expands

![sep-01-2016 11-05-17](https://cloud.githubu

[2016-09-01 09:09] #11321 closed

[2016-09-01 09:13] TOP-Chao commented on #10452
`osx` also encountered this Bug. `keybinding.json` in osx path?

[2016-09-01 09:13] #11373 closed

[2016-09-01 09:16] bochen2014 commented on #5611
I'm a react developer and I have run into the same issue today.

I'm running vs code 1.4.0 (latest I believe) on a windows 7 machine. after I created jsconfig.json, the react extension (Reactjs code snippets to be specific) stops working.
google direct me to this page and I have to delete that jsconfig.json file and re-open my folder. then that code snippet extension start working.

I think the is

[2016-09-01 09:17] isidorn commented on #11372
The `console` attribute is contributed by the node debug adapter and thus vscode is unware fo this attribute.
I am not sure how to fix this on my side. There is a workaround, just set `"internalConsoleOptions": "neverOpen"` in your `launch.json`

[2016-09-01 09:17] weinand commented on #11321
Here is an example that shows the difference:
[code]

Expected output from Integrated Terminal:
![2016-09-01_11-16-33](https://cloud.githubusercontent.com/assets/1898161/18162194/8dd849c2-7035-11e6-8787-dcbf3a485638.png)

Wrong output in Debug Console:
![2016-09-01_11-15-35](https://cloud.githubusercontent.com/assets/1898161/18162167/6ed80558-7035-11e6-93e0-c178bc57f7c3.png)

[2016-09-01 09:17] sandy081 opened #11375 "Debug: Twistie in hover tree is not properly aligned"
OS: OSX

See the twistie and the element next to it in the hover tree

![sep-01-2016 11-16-28](https://cloud.githubusercontent.com/assets/10746682/18162229/b1ae11ce-7035-11e6-8659-7d43315fbdfa.gif)

[2016-09-01 09:20] isidorn opened #11376 "Debug console appends output from different channels to seperate lines"
[code]

Debug console prints these in two lines which is unexpected

[2016-09-01 09:20] isidorn commented on #11321
That is not a regression so I have created a seperate issue to track this https://github.com/Microsoft/vscode/issues/11376

[2016-09-01 09:21] weinand commented on #11372
@isidorn why is the integrated terminal panel (?) not reopened after the reload? This should be automatic behavior?

[2016-09-01 09:21] isidorn commented on #11375
Dup of https://github.com/Microsoft/vscode/issues/11352

[2016-09-01 09:21] #11375 closed

[2016-09-01 09:24] isidorn commented on #11372
@weinand if you have the integrated terminal panel open and reload vscode it remains open, as we try to preserve all UI state on vscode restart. Do you see different behavior?

[2016-09-01 09:25] sandy081 commented on #11209
@isidorn It seems the warning is appearing on the value instead of the attribute. It looks like as if the value is not supported. But in this case attribute itself is not valid. So does it makes sense to show squiggle on attribute or complete attribute-value?

![screen shot 2016-09-01 at 11 23 56](https://cloud.githubusercontent.com/assets/10746682/18162426/bce64560-7036-11e6-9c52-dc137d813904.png

[2016-09-01 09:28] isidorn commented on #11209
@sandy081 It would be nicer to show the warning on the attribute, but this is not currently supported by @aeschli. So we are doing this as a workaround

[2016-09-01 09:31] isidorn commented on #11337
It is possible to reference enviroment varialbes in your `launch.json`, for instance to access the PATH env variable use the following syntax `${env.PATH}`
More details can be found here http://code.visualstudio.com/docs/editor/tasks#_variable-substitution
I suspect that you can acess the HOME via env variables

[2016-09-01 09:31] #11337 closed

[2016-09-01 09:32] weinand commented on #11372
@isidorn I think @sandy081 sees different behaviour: the debug console opens instead of the integrated terminal panel

[2016-09-01 09:35] bpasero opened #11377 "TypeError: "Cannot read property 'getContainer' of null"
As seen from our integration tests: https://ci.appveyor.com/project/VSCode/vscode/build/1.0.7825#L2425

[code]

[2016-09-01 09:36] emseymour opened #11378 "Cannot open .exe - Javascript Error occurred in main process"
- VSCode Version: 1.4.0.0
- OS Version: Windows 7 Enterprise 64-bit

Steps to Reproduce:

1. Downloaded VSCode-Stable from the main website
2. Tried to open Code.exe, get error window
![vscodeerror](https://cloud.githubusercontent.com/assets/10958375/18162829/f97b9f2c-702f-11e6-9813-0f1e58ad78f1.jpg)

[2016-09-01 09:43] OliverJAsh opened #11379 "Quitting application and re-opening only persists one window"
- VSCode Version: 1.4.0
- OS Version: OS X 10.11.6

Steps to Reproduce:

1. Open more than one vscode window
2. Quit the app
3. Re-open the app

Expected: all previously open windows should be restored

Actual: only one window is restored

[2016-09-01 09:44] sandy081 opened #11380 "Debug: Hovering on same object is not moving the hover"
- VSCode Version: Latest insiders
- OS Version: OSX

Steps to Reproduce:

[code]

In the video, I am trying to move the mouse over two occurrences of `obj`

![sep-01-2016 11-44-01](https://cloud.githubusercontent.com/assets/10746682/18163060/6cebef4e-7039-11e6-9868-7c2b6d4c64b5.gif)

[2016-09-01 09:47] sandy081 commented on #10847
@bpasero Any steps to verify this?

[2016-09-01 09:52] sandy081 commented on #11372
Yes, Integrated terminal panel is shown when commands are executed. It goes off and Debug console comes back after.

[2016-09-01 10:00] aeschli commented on #11335
Coloririzing is now working beyond line 3114.

This brings to light anissue with the following snippet.
[code]

I created https://github.com/atom/language-c/issues/160

[2016-09-01 10:00] #11335 closed

[2016-09-01 10:04] aeschli opened #11381 "[css] color decorators not showing"

[2016-09-01 10:05] #11381 closed

[2016-09-01 10:07] aeschli commented on #11248
Duplicate of https://github.com/atom/language-c/issues/160

[2016-09-01 10:07] #11248 closed

[2016-09-01 10:27] bpasero commented on #10847
Yeah make sure you cannot select 2 folders at the same time :)

[2016-09-01 10:36] jrieken opened #11382 "terminal screen cheese"
* I have an extension that evaluates some selected text in node in the terminal
* As soon as I select the terminal (click) its content scroll up and I cannot get it back

![sep-01-2016 12-35-53](https://cloud.githubusercontent.com/assets/1794099/18164541/b7b4b32e-7040-11e6-9f14-e5ce4b122383.gif)

[code]

[code]

[2016-09-01 10:40] jrieken opened #11383 "delay `sendText` until terminal is ready?"
* have code as creates a terminal and immediately sends text to it (like below)
* it would be nice if `sendText` waits for bash (or whatever folks are using) to be ready before sending because now the stuff I have send shows up twice

![screen shot 2016-09-01 at 12 38 13](https://cloud.githubusercontent.com/assets/1794099/18164622/392d9cea-7041-11e6-888a-5768dfe6421b.png)

[code]

[2016-09-01 10:43] jrieken commented on #11331
Maybe it's a formatting issue with GH but I really don't see any markdown in that sample, esp no code-block

[2016-09-01 10:44] dbaeumer commented on #11378
@emseymour this works for me without a problem. Can you start code from a terminal ?

[2016-09-01 10:46] dbaeumer commented on #11368
This issue was moved to Microsoft/TypeScript#10663

[2016-09-01 10:46] #11368 closed

[2016-09-01 10:49] dbaeumer commented on #11367
@Cloudwu1 us your code public available so that we can clone it to test this. Without a test case it is very hard to track down.

[2016-09-01 10:50] jrieken opened #11384 "Creating a terminal and sending text to it should not show it"
Creating a new terminal immediately shows it which

* gives me no way to create a terminal in background
* is different from `createOutputChannel` or `createStatusBarItem`

[2016-09-01 10:50] ralfstx opened #11385 "Page-Up / Page-Down in git commit text box scrolls entire page"
- VSCode Version: 1.4.0
- OS Version: Ubuntu 16.04 LTS

Steps to Reproduce:

1. In the Git view, enter multiple lines of text into the commit message text box, until the scroll bar appears.
2. While the text box is focused, press Page-Up / Page-Down.

At some point, the entire page is shifted up by approx. 15px. The tabs at the top are partly covered and there is some empty space below the status

[2016-09-01 10:51] jrieken commented on #11384
Pushing for August since no one has yet programmed against the API and changes after that won't be possible

[2016-09-01 10:51] felix-last commented on #11277
Wow thats strange. I'm running the Insider build as administrator. Maybe
that's the reason? I can test some more tomorrow, but I observed this
behaviour with all files I tried.

On Thu, 1 Sep 2016, 16:40 Benjamin Pasero <notifications@github.com> wrote:

[2016-09-01 10:56] sandy081 commented on #11296
@aeschli I do not see the color box at all now. Is this expected?

[2016-09-01 10:57] sandy081 commented on #11296
![screen shot 2016-09-01 at 12 57 00](https://cloud.githubusercontent.com/assets/10746682/18165095/9ccfa3ae-7043-11e6-9803-6e719023496a.png)

[2016-09-01 10:58] jrieken commented on #11214
So, after some talks with @weinand I am getting a better understanding of this. We might along with some improved jsdoc around the topic

[2016-09-01 10:58] ishanjain28 opened #11386 "Autocomplete Doesn't works in any language."
- VSCode Version: 1.4.0
- OS Version: Ubuntu 16.04.1

Problem:

Autocomplete doesn't works in any language. I program in Java, JS, C and Go and I have the correct Plugins installed like Java language support for java and also d.ts files from typings. But it just doesn't works. I have followed guides that I found on the internet but it has not worked one time.

Also, Hovering over something should

[2016-09-01 11:06] Cloudwu1 commented on #11367
@dbaeumer You can use any project cpp file to repro it.

[2016-09-01 11:18] emseymour commented on #11378
Hi @dbaeumer no, I got the same error window when trying from terminal

[2016-09-01 11:19] JohnyDeath commented on #7727
Any news?

[2016-09-01 11:33] bpasero commented on #11371
@sebfie what language is this?

Moving to Martin as owner of symbol search but this could well be for an unsupported language.

[2016-09-01 11:35] bpasero commented on #11277
@felix-last I can reproduce and this seems to be an issue with running as Administrator (which we STRONGLY advise against). I do not see a fix from our end this seems to be blocked on a much lower level in Chrome.

[2016-09-01 11:37] bpasero commented on #11367
https://github.com/Microsoft/vscode/issues/6414

[2016-09-01 11:37] #11367 closed

[2016-09-01 11:47] sebfie commented on #11371
It's just php with zend naming convention.

Sébastien fieloux
0698458781
sebastien.fieloux@gmail.com
http://www.sebfie.com

[2016-09-01 11:49] bpasero opened #11387 "Support word wrap in the diff editor"
I cannot get word wrapping enabled in a diff editor when using that action but maybe there is no word wrapping for diff editors?

[2016-09-01 11:53] cfjedimaster commented on #11239
To be clear, this was a different file type then the ones that caused the id error.

The id error was caused in a JS file I was creating for a Mongoose schema.
The handlebars file was a view in the app.

They could be separate issues entirely - but as it was the same project, I thought I should post it here too.

[2016-09-01 12:05] weinand commented on #11214
I think the `sendText` makes sense as a low level API (and needs good documentation to explain what it does what it doesn't).

For the next release I suggest to add some `runInTerminal` API on top of this. In debug land we already provide this to debug adapters:

https://github.com/Microsoft/vscode-debugadapter-node/blob/master/protocol/src/debugProtocol.ts#L175

The implementation of this massage

[2016-09-01 12:06] isidorn commented on #11372
@weinand yes, I was commenting on your previous comment, Sandeep's behavior I have commented in my first comment.

[2016-09-01 12:17] Phisherman commented on #10546
@cescoferraro I like this idea. But then VS Code should also support vertical splitted tab views and not only horizontally.

[2016-09-01 12:23] jrieken commented on #11214
closing as dupe of #11276

[2016-09-01 12:24] DanTup commented on #11331
The lines indented by 4 spaces are code, but maybe it wasn't a very clear example.

Here's a better (real) example; the `Future<T>` class. This is [the real dartdoc from the class](https://github.com/dart-lang/sdk/blob/master/sdk/lib/async/future.dart). We get this string (stripped of the comment markers) and do some basic tweaking of it. There are a bunch of code samples inside it. Code's renderi

[2016-09-01 12:29] UEDDarthVader commented on #11277
This issue has one more impact. If VS Code is already running with priveleged ritghts you can't open any file with it using "open with" option from context menu or using double-click.

I have some config files in system folders (for example in "C:\inetpub\wwwroot\...") and in such a case I have to run Code as an administrator in order to be able to edit them.

[2016-09-01 12:31] dbaeumer commented on #11205
To verify use:
[vscode-eslint-1.0.1.zip](https://github.com/Microsoft/vscode/files/449621/vscode-eslint-1.0.1.zip)

[2016-09-01 12:32] #11205 closed

[2016-09-01 12:34] johnliu2016 commented on #11344
over localized "Index", @lukaschal need term linguistic review
gitServices.nls.resx.lcl

ResID:
changesFromIndex
gitIndexChanges

[2016-09-01 12:34] weinand commented on #11372
This is an unfortunate event ordering problem:
- first the debug adapter calls 'runInTerminal' which brings the integrated terminal to front, and then
- some output of the debug target makes VS Code open the debug console which then hides the integrated terminal.

As a workaround we could remember that 'runInTerminal' was used and then avoid bringing the debug console to front.

[2016-09-01 12:36] sandy081 commented on #11354
@Tyriar Thanks a lot for bringing up the issues with colors and providing some suggestions. I agree that we have many color contrubutions and they get mix and matched. Please see [Editor Decorations & Colors](https://github.com/Microsoft/vscode/pull/11347) wiki which me and @alexandrudima came up with.

### Problem 1:
Most of them define new colors and some reuse already defined. They should be de

[2016-09-01 12:40] okezieokpara opened #11388 "Close tags as you open them"
- VSCode Version: 1.4
- OS Version: Windows 10

Steps to Reproduce:

1. HTML tags should be automatically closed as I open them. This used to be available before, don't know what happened since I updated.
2. Also I should get snippets based on the CSS and JS files linked to the document. For example I included bootstrap.css in my html, I should get suggestion for all the style classes included in

[2016-09-01 12:44] sercanov commented on #10832
Aaand this is exactly I'm looking for. Great to have it on backlog

[2016-09-01 12:48] dbaeumer commented on #11173
The reason is that when the workbench reloads the TS file isn't actually loaded hence the TS extension isn't activated hence now workspace symbols can be computed.

@bpasero I think it makes perfect sense to not load the content of the TS file in the setup on startup. But may be we have to restore all files when global actions alike workspace symbols are executed to make sure that the extensions c

[2016-09-01 12:49] jrieken commented on #11331
Thanks for clarifying - I actually didn't know that you can format code blocks using space indentation... Now it makes sense to me.

Thinking of a way to achieve this... We have [this](https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/hover/browser/modesContentHover.ts#L251) and it should be save to access the `modeId` of the current model in case the value is missing. I'll inv

[2016-09-01 12:50] jrieken commented on #11331
That means we won't allow to set the default (unless a really good idea for that comes up) but simply take the context as default

[2016-09-01 12:53] DanTup commented on #11331
Ah sorry, I should've provided a better example to start and maybe it would've been more obvious what I meant!

I don't fully understand the last comment; do you mean you'll infer it from the language of the HoverProvider rather than letting us set it? (if so, that seems perfect to me!)

[2016-09-01 12:59] jrieken commented on #11331
Yeah - it would be the default when no `language` is set. Slightly on thin ice with that cos it changes existing behaviour but I'll give it a shot beginning of September

[2016-09-01 13:01] artagnon commented on #11261
So you do have a lot of crash reports; let me add mine to the pile.

[code]

The vector destructor in the CPP extension is crashing. What do we do now?

[2016-09-01 13:03] aeschli commented on #11296
duplicate of #11381... Fixed but not yet in the insiders build.

[2016-09-01 13:04] isidorn commented on #11372
Setting to september to experiment with showing the console on first output recieved

[2016-09-01 13:06] aeschli commented on #11371
What do you call 'Quick search'? Can you add a screenshot?

[2016-09-01 13:11] alexandrudima opened #11389 "ReplEditor sometimes does not relayout"
1. when the console is resized, it goes back to 1 line
2. when the console is very small, it doesn't grow and the scrollbars are not visible

[2016-09-01 13:13] bpasero commented on #11277
There are many issues running Code as admin in one way or the other...

[2016-09-01 13:14] joaomoreno opened #11390 "Find widget needs better responsive design"
IMO the last thing to leave the view should be the `X` action to close the widget. The first thing to leave should be the find counter.

Also, notice how the overflow goes into the next line and it still visible through some cheese.

![bug](https://cloud.githubusercontent.com/assets/22350/18168558/a72715d6-7056-11e6-87b4-fb500480a257.gif)

[2016-09-01 13:15] #11104 closed

[2016-09-01 13:16] joaomoreno commented on #10686
@bpasero Couldn't figure out how to repro this for verification.

[2016-09-01 13:16] alexandrudima commented on #11390
I agree. Duplicate of #2338

[2016-09-01 13:16] #11390 closed

[2016-09-01 13:18] alexandrudima commented on #11239
@cfjedimaster It looks like you had a handlebars file that triggered a bug in the handlebars colorizer. It is possible to share with us the file that triggered this? (or at least a subset of it that triggers this)

[2016-09-01 13:19] joaomoreno opened #11391 "Typescript extension throws when opening a single file"
Open a single `*.js` file with Code (not a workspace).

![image](https://cloud.githubusercontent.com/assets/22350/18168736/76046a02-7057-11e6-8ab4-ea313db5adb0.png)

[2016-09-01 13:20] alexandrudima commented on #10686
@joaomoreno
* have two files A and B that reference each other (in TS use a function in A from B)
* open a single file B (!important)
* disable autosave
* find all references
* inside the find all references, type in A (!important)
* this should make it that A opens as a new tab in the background, which I think is what triggered the bug (a opening tab used to mess with the focus)

[2016-09-01 13:21] alexandrudima commented on #11387
Yes, word wrapping was never supported in diff editor -- has to do with aligning lines that wrap.

[2016-09-01 13:22] bpasero commented on #11173
@dbaeumer I disagree with your proposal. If I am inside a TS project and I want to open symbols, I expect this to work also when no file is open. Why would I need to first open files to make this work? What if I am typically start my coding session with all editors closed? Is it not bad to ask a user to first open a file to get symbol search?

Besides, when I look at the code how we resolve symbol

[2016-09-01 13:23] cfjedimaster commented on #11239
Absolutely. https://gist.github.com/cfjedimaster/e7488e2787d411898cfe1ebc2bf912fa

[2016-09-01 13:24] bpasero commented on #11261
This issue was moved to Microsoft/vscode-cpptools#195

[2016-09-01 13:24] #11261 closed

[2016-09-01 13:24] cfjedimaster commented on #11239
I can recreate this with the following code. Note - it is bad Handlebars (I forgot the #), but obviously Code should handle it. :)

{{if foo}}
moo
{{else}}

[2016-09-01 13:24] bpasero commented on #11261
@artagnon sorry to hear that, I moved the issue to the C++ team, lets see what they have to say.

[2016-09-01 13:25] joaomoreno commented on #10541
@aeschli Verification tips?

[2016-09-01 13:25] bpasero commented on #11387
Got it 👍

[2016-09-01 13:26] alexandrudima commented on #11359
@landofjoe

(From https://code.visualstudio.com/updates/vMarch)

![image](https://cloud.githubusercontent.com/assets/5047891/18168937/5ee4cd2a-7058-11e6-947c-9442b9945575.png)

[2016-09-01 13:30] alexandrudima commented on #11239
I don't get any exceptions when opening the gist in `1.4.0`, nor in today's insiders build.

To be clear -- this is what I'm opening

[test.handlebars.txt](https://github.com/Microsoft/vscode/files/449737/test.handlebars.txt)

[2016-09-01 13:33] makzr opened #11392 "New macOS Icon"
The icon of the macOS client doesn't look mac-like.

You do not have to implement 100% of the macOS icon guidelines https://developer.apple.com/library/mac/documentation/UserExperience/Conceptual/OSXHIGuidelines/Designing.html

Some small fixes could help to align it with other macOS icons:
1. Make it a little smaller, it's too big
2. Add some color gradient
3. Add a little drop shadow

[2016-09-01 13:39] bpasero commented on #9740
Obsolete

[2016-09-01 13:41] asdncg opened #11393 "Feature Request: R language extension"
- VSCode Version: 1.4
- OS Version: Windows 10

Steps to Reproduce:
1.
2.

[2016-09-01 13:44] joaomoreno commented on #10686
Plus, have tabs enabled! 😉

Works!

[2016-09-01 13:46] cfjedimaster commented on #11239
Sorry - don't use that Gist. It was fixed when I added #. Try the sample I used above.

[2016-09-01 13:54] jrieken commented on #10090
Verified that it unfolds

[2016-09-01 13:55] sandy081 commented on #11173
Updated the description to be more clear that two tabs are in the same group. It means the ts file is not visible but only file name is.

[2016-09-01 13:58] #11283 closed

[2016-09-01 13:59] #9500 closed

[2016-09-01 13:59] jrieken commented on #9179
![Uploading Sep-01-2016 15-58-47.gif…]()

[2016-09-01 14:01] egamma commented on #9571
The current behavior is consistent with the way snippets are handled in the multiple cursor case.

[2016-09-01 14:04] trevorsg opened #11394 "Infinite loop when closing several tabs"
- VSCode Version: 1.4.0
- OS Version: Win 10 build 14393.82

This only happened to me once. I closed VS Code and tried to reproduce the issue, but I was unable to. Here is what I did:

1. Open VS Code form command line by typing "code ."
 -- it opened with all of the tabs I had open in the previous session.
2. Right-click on the left-most tab and click "Close Others".

Instead of everything else c

[2016-09-01 14:04] ishanjain28 commented on #11386
Solved. If I accidently or other wise close Vscode when it's downloading a extension then that extension stops working after install.

Solution:

[code]
Reinstall.

[2016-09-01 14:04] #11386 closed

[2016-09-01 14:05] bpasero opened #11395 "Cannot read property 'charCodeAt' of null when saving untitled file in Makefile mode"
* new untitled file
* set mode to "Makefile"
* Hit Save

=> Cannot read property 'charCodeAt' of null

[2016-09-01 14:05] #11395 closed

[2016-09-01 14:16] bpasero commented on #9179
Haha, can we not sell this as feature ;)?

![editors](https://cloud.githubusercontent.com/assets/900690/18170679/74a28f74-705f-11e6-91e5-7da61e1c0391.gif)

[2016-09-01 14:17] joaomoreno commented on #9179
Maybe `draggable=false`.

[2016-09-01 14:18] dbaeumer commented on #11204
This is a lot more complicated to implement then I thought. Reason being is that terminating a process is signaled async the the streams of the process close. So if then the new task is already running its state will be cleared. This is an issue with the system in general but since a user can't executed terminate and run fast enough it never shows up. Need to postpone this.

[2016-09-01 14:18] sandy081 commented on #11226
@bpasero I still see text inside rename box is overlapping with the border. Is this a new issue?
<img width="430" alt="screen shot 2016-09-01 at 16 18 30" src="https://cloud.githubusercontent.com/assets/10746682/18170737/be739788-705f-11e6-85e8-3775f4f07970.png">

[2016-09-01 14:18] isidorn commented on #10763
Verification steps?

[2016-09-01 14:19] bpasero commented on #11394
I am very sorry to hear you are having issues with VS Code. I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-09-01 14:20] bpasero commented on #11379
Try with setting: `"window.reopenFolders": "all"`

[2016-09-01 14:20] #11379 closed

[2016-09-01 14:21] joaomoreno commented on #10763
Right click `Code.exe` (or any DLL we ship with), hit Properties, it should have a Signature by Microsoft.

[2016-09-01 14:21] joaomoreno commented on #10385
Pls verify by code review

[2016-09-01 14:22] trevorsg commented on #11394
Thanks @bpasero. I don't have any extensions installed. Like I said, this only happened to me once, but it was pretty nasty so I wanted to get it on the radar. Feel free to close the issue as not reproducible. I will re-open it if I can find more consistent repro steps.

[2016-09-01 14:23] sandy081 commented on #10377
Verified that able to debug an extension.

[2016-09-01 14:31] dennisfrostlander opened #11396 "Running commands as tasks"
Could you help me find the right solution for the following scenario?
I have an extension which is a custom compiler. The compiler executables come together with an extension and I would like the user to run my executable through tasks.json (so that he can get all the problem matcher support, default ctrl+shift+b experience, etc).

The problem is this - the executables in the tasks.json must be in

[2016-09-01 14:31] joaomoreno commented on #7758
I still have 198 of those files in my disk. 19 were created just today.

[code]

[2016-09-01 14:33] whitecolor commented on #10677
Guys any progress on this, I still have most of my TS code gray (one color)
![image](https://cloud.githubusercontent.com/assets/736697/18171289/e0b472ca-707a-11e6-9f93-fad0e74f1fca.png)

When is it supposed to be changed?

[2016-09-01 14:34] joaomoreno opened #11397 "Brief `undefined` shows up when creating a new terminal"
![bug](https://cloud.githubusercontent.com/assets/22350/18171354/efb175f2-7061-11e6-9fc5-26f63319902a.gif)

[2016-09-01 14:34] TheColorRed commented on #10847
No, there really isn't any steps to take. It just seemed to randomly happen.

[2016-09-01 14:34] bpasero commented on #11394
@trevorsg this looks bad though, if it ever happens again it would be cool if you could contact me again so that we can look into some things (e.g. debug it).

Anyway, please report back when you found out a pattern to reproduce.

[2016-09-01 14:36] alexandrudima commented on #10677
@whitecolor Can you provide the entire file in a textual form? Are you on 1.4.0 or on the insiders channel?
It also seems to me that you may be suffering from a different issue, as the code is partially colored. Please create a separate issue

[2016-09-01 14:37] alexandrudima commented on #7758
Do we have repro steps for this?

[2016-09-01 14:37] bpasero commented on #11394
I found a way to reproduce this 👍

[2016-09-01 14:39] alexandrudima commented on #11239
When I open this file I get no exceptions (renaming it to `test2.handlebars`):
[test2.handlebars.txt](https://github.com/Microsoft/vscode/files/449953/test2.handlebars.txt)

![image](https://cloud.githubusercontent.com/assets/5047891/18171517/9c1b298c-7062-11e6-99d5-30bf5ca3c6b3.png)

[2016-09-01 14:42] cfjedimaster commented on #11239
Well shoot. For completeness sake, this was some HTML I had on top:

<form action="/login" method="post">
<label for="username">Username</label>
<input type="text" id="username" name="username"><br/>
<label for="password">Password</label>
<input type="password" id="password" name="password"><br/>
<input type="submit" value="Login">
</form>

On Thu, Sep 1, 2016 at 9:40 AM, Alexandru Dima <notificat

[2016-09-01 14:44] #11394 closed

[2016-09-01 14:45] bpasero commented on #11394
A bit tricky to verify:
* have many tabs open
* have one tab (not active) on a file that is no within the workspace
* delete this file on disk
* right click on the tab of this file and select "Close Others"

=> you should not end up in an endless loop 👍

[2016-09-01 14:46] #11366 closed

[2016-09-01 14:46] alexandrudima commented on #11366
@Tyriar fyi this code is now removed

[2016-09-01 14:46] pcgeek86 commented on #9999
Related to #10114

[2016-09-01 14:47] pcgeek86 commented on #10114
Dupe of #9999?

[2016-09-01 14:47] roblourens commented on #11356
The commit item shows 'subproject', apparently [includes 'submodule' and other terms](https://git.wiki.kernel.org/index.php/SubprojectSupport).

But if the pane should show everything that `git status` shows, then that's the bug.
![image](https://cloud.githubusercontent.com/assets/323878/18171732/d546be10-7017-11e6-9f46-0ac6e525bbbf.png)

If I commit through Code, those are silently committed. Thr

[2016-09-01 14:51] pcgeek86 commented on #3385
@joaomoreno @bpasero Working great for me.

[2016-09-01 14:51] whitecolor opened #11398 "Poor highlighting of typescript code"
- VSCode Version: insiders
- OS Version: windows 10

Most of the code of my TS files are one colored:
![image](https://cloud.githubusercontent.com/assets/736697/18171997/559ddc96-707d-11e6-9572-f9375bc8131f.png)

![image](https://cloud.githubusercontent.com/assets/736697/18172011/6438a812-707d-11e6-886e-0c6fbe76c948.png)

Here is full code of the file: https://gist.github.com/whitecolor/1e31f9b33e

[2016-09-01 14:51] whitecolor commented on #10677
@alexandrudima
I'm not on insiders, created an issue https://github.com/Microsoft/vscode/issues/11398

[2016-09-01 14:52] bpasero commented on #11378
Looks like https://github.com/Microsoft/vscode/issues/10616

@joaomoreno fyi

[2016-09-01 14:53] Gama11 opened #11399 "Add an API to access the problems view"
I'm looking for a way to show the problems view in an extension. There's the `workbench.actions.view.problems` command, but since it's a toggle, I would also need a way to check if the view is currently opened or not, which does not seem to exist.

The API should probably at least support:
- showing
- hiding
- checking the current visibility of
- clearing

the problems view.

[2016-09-01 14:53] joaomoreno commented on #7758
It's fairly random, but when I open Code, switch between a few workspaces, some of these get left behind. Sometimes even two are created on startup, which just lay around after shutdown.

It should be very easy to repro on macOS.

![bug](https://cloud.githubusercontent.com/assets/22350/18172126/82e7e2b4-7064-11e6-9764-3cc65b9805a8.gif)

[2016-09-01 14:57] #11196 closed

[2016-09-01 14:59] omayhemo commented on #2726
+1
Until such time, debugging in vscode is useless for my purposes.

[2016-09-01 15:02] dbaeumer commented on #11399
- clearing. This should be done using the diagnostic collections.

[2016-09-01 15:03] aeschli commented on #11173
Its been a while since I was involved. I think at the time we were eagerly activated everyone that could have any result
@jrieken Rewrote that using provider and might have spend more thoughts on this.

[2016-09-01 15:07] dbaeumer commented on #11396
@dennisfrostlander unfortunately this is currently not possible. Patching the PATH doesn't work either since the extension host and the vscode main are different processes. For now all you can instruct the user to do is to call your command, and then in the extension you execute the program parse the output and generate diagnostic objects using the API.

[2016-09-01 15:09] aeschli commented on #10541
In your package.json, add a dependency to a [scoped package](https://docs.npmjs.com/misc/scope), e.g. `@types/babel-types`.
Check that the hover as well as version code completion works.

[2016-09-01 15:10] dbaeumer commented on #11378
@bpasero thanks.

@emseymour can you check whether the APPDATA env variable is set in our terminal.

[2016-09-01 15:17] cfjedimaster commented on #11239
Also, I can share the repo on Github, but it needs to stay private. Or I can email a zip of it, but ditto, delete it when done. ;) I can also record a video showing it in action. Both bugs.

[2016-09-01 15:22] emseymour commented on #11378
Hi @dbaeumer @bpasero
APPDATA wasn't set, but setting it has allowed me to open, thanks for your help!

[2016-09-01 15:23] #11232 closed

[2016-09-01 15:24] aeschli commented on #11017
Verified using F8 on a CSS property with an invalid name.

[2016-09-01 15:26] dbaeumer commented on #11173
@bpasero agree and disagree. I think we should still do our best to load the TS extension as late as possible. So I thought about two alternatives on two be activated but both aren't very good. One "onCommand:workbench.action.showAllSymbols" and the other "workspaceContains:tsconfig.json". Both not very good and both might result in too eager loading. So I believe something is missing here in the

[2016-09-01 15:29] dbaeumer commented on #11378
Dups #10616

[2016-09-01 15:29] #11378 closed

[2016-09-01 15:31] aeschli opened #11400 "Light bulp still visible behind the F8 window"
From verifying https://github.com/Microsoft/vscode/issues/11022:

- Have a css file
[code]
- set the cursor at the end of the line where the error is
- press F8
- set the cursor to the error
![image](https://cloud.githubusercontent.com/assets/6461412/18173442/e11c66e8-7069-11e6-8fd7-9bea87210472.png)

[2016-09-01 15:34] aeschli commented on #11022
Verified that light bulp hides when F8 opens. But found #11400

[2016-09-01 15:36] cescoferraro commented on #10546
@Phisherman Do not get me wrong, I like the split terminal.
I use it a lot on Intellij with a big screen and lots of memory setup.
Whatever the decision is, it should be pluggable if hogs to much memory to keep VSCode as fast as possible.

[2016-09-01 15:41] #11391 closed

[2016-09-01 15:42] aeschli commented on #10912
Verified that the errors go away in the F8 widget when apply a quick fix.

@DanTup I suggest you file all follow-up items as separate issues.

[2016-09-01 15:42] waderyan opened #11401 "Website keybindings font issue"
Reported by @nocksock

OS - OS X El Capitan
Browser - Chrome 52.0

https://code.visualstudio.com/docs/customization/keybindings

![image](https://cloud.githubusercontent.com/assets/2449568/18173834/0423043e-7020-11e6-9384-3dae74f249dc.png)

[2016-09-01 15:43] waderyan commented on #11401
Cannot repo

👍 Mac - Chrome

![image](https://cloud.githubusercontent.com/assets/2449568/18173166/71e8e91e-701d-11e6-848f-4f94eb85dc2e.png)

👍 Mac - Firefox

![image](https://cloud.githubusercontent.com/assets/2449568/18173198/99644fa6-701d-11e6-808a-d6b4b0f58a86.png)

👍 Mac - Safari

![image](https://cloud.githubusercontent.com/assets/2449568/18173225/aeb2089e-701d-11e6-8621-0690e6534ea0.png)

👍

[2016-09-01 15:44] alexandrudima commented on #7758
I could see it on Andre's mac. He points out that they're not dangerous, just annoying, so postponing to Sept.

[2016-09-01 15:47] jostyee commented on #5392
`ext install theme-plain`

[2016-09-01 15:51] alexandrudima commented on #11173
@dbaeumer It is uncool, but you could activate on `*` and do nothing except spy for when you need to **really** activate. But even that won't help you in this case? As there's no API to list the editor background not-loaded tabs?

[2016-09-01 15:55] jrieken commented on #11400
Yeah - the one lightbulb is still there... I couldn't get the focusout/in stuff to work

[2016-09-01 15:55] whitecolor commented on #10546
I've wrote an extension with that you can select npm/gulp task, it will launch the terminal (with task name) and run it there, also will place an item on the status bar which you can click any time, as well it does basic tracking of the running process state.
![image](https://cloud.githubusercontent.com/assets/736697/18174183/09d46a74-7086-11e6-8279-531feec0cc6e.png)

[2016-09-01 16:06] trevorsg commented on #11394
Wow, I'm impressed you found a repro so quickly :)

[2016-09-01 16:13] waderyan commented on #10551
Ping @hamenon

Note:
API will provide an `unpublished` flag in the JSON response
Marketplace will use the language of "unpublished" so to stay consistent we should use "unpublished" and not use "deprecated."

[2016-09-01 16:19] waderyan commented on #10340
ping @hamenon

@joaomoreno a question came up during our call today. For earlier versions of VS code that do not have the URL handler what will happen if they click the install button? My assumption is nothing will happen because there is no URL handler (i.e. we won't show them a warning or anything).

Timing update from Marketplace
- Looking at doing the work for this a week after August release.

[2016-09-01 16:22] joelday commented on #4274
Just added member/property injection, btw.

[2016-09-01 16:51] alefragnani commented on #10175
Maybe this extension already do that
https://marketplace.visualstudio.com/items?itemName=christian-kohler.path-intellisense ?

[2016-09-01 16:53] aeschli opened #11402 "workspace.asRelativePath doesn't work for path outside workspace"
From verifying #10446
(on Linux, 1.5.0-insider, Commit d2c04e3789757413ae1ebfda9d88896686b6d006)
[code]

Output:

root: /home/aeschli/workspaces/samples/docker
input: /home/aeschli/frr/samples/docker
output: /home/aeschli/frr/samples/docker

If this expected then maybe this we could add it to the doc.

[2016-09-01 16:55] basharh commented on #2726
+1

[2016-09-01 16:55] aeschli opened #11403 "workspace.asRelativePath doesn't work for URI paths"
From verifying #10446
(on Linux, 1.5.0-insider, Commit d2c04e3789757413ae1ebfda9d88896686b6d006)
[code]

Output:

root: /home/aeschli/workspaces/samples/docker
input: file:///home/aeschli/workspaces/samples/docker/gooo/kl
output: file:///home/aeschli/workspaces/samples/docker/gooo/kl

I would have expected `gooo/kl`

[2016-09-01 16:57] Srdjan commented on #2726
+1

[2016-09-01 17:00] mohsen1 opened #11404 "Collapse imports"
- VSCode Version: 1.4.0
- OS Version: OS X

When a file has many `import` statements on top, user should be able to collapse them.

[2016-09-01 17:04] JabX commented on #11166
This is what I get
[code]

[2016-09-01 17:06] aeschli commented on #10446
Still some strangeness, see #11402, #11403.
Adding verified tag.

[2016-09-01 17:07] oscar6echo commented on #6474
Same here. VSC version 1.4.0 fails to open my 53MB csv data file.
I have to use Sublime while this is not solved.
It would be nice to unlock this limitation.

Besides this issue, I like VSC more and more. Congrats !

[2016-09-01 17:16] JabX commented on #11166
That might not be the best idea I had, but here is a gif of what I do:
![loader](https://cloud.githubusercontent.com/assets/3266897/18176994/636eae54-7078-11e6-808d-09bf029f17dc.gif)

[2016-09-01 17:19] JabX commented on #11166
Well obviously I had the problem with every Node 6 version until 6.5 which is the first release that works (I did the video on 6.3.1 and I just installed 6.5).

So I guess that's fine.

[2016-09-01 17:19] #11166 closed

[2016-09-01 17:40] MauroSergioRodriguez opened #11406 "The window has stopped responding - Right Click in solution"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 6.3.9600

Steps to Reproduce:

1. Right click in any file of the solution explorer (dont move nothing)
2. Wait  1-2 minutes

[2016-09-01 17:41] ramya-rao-a commented on #10824
@jrieken I followed the exact same steps
`a().then` doesn't show the snippet and neither does anything expand on `tab`
I tried both javascript and typescript

After tabbing, if I hit `backspace` to reach the `then`, then I see the option to use the snippet in the intellisense.

Maybe someone else can try?

[2016-09-01 17:50] Tyriar commented on #11214
Sorry for not seeing this, I took Tuesday off and didn't get through all my issues yesterday.

`Terminal.sendText` sends the text/data to the underlying pseudo terminal (shell), note that the text is not processed by the *terminal* (xterm.js) which means that it can't handle ANSI escape codes such as clearing the terminal display or @jrieken's example of printing a formatted string directly to the

[2016-09-01 17:50] Tyriar commented on #11332
The need has arisen, a shell path will need to be added for this to be useful for a lot of people #10917. See https://github.com/Microsoft/vscode/issues/11214#issuecomment-244157685

[2016-09-01 17:52] chryw commented on #10998
@isidorn
@bgashler1 is on vacation. He stopped by my desk and suggested this approach before he left. What do you think?
![image](https://cloud.githubusercontent.com/assets/7075677/18178135/ff909b4a-7031-11e6-80dd-d474824323fe.png)

![image](https://cloud.githubusercontent.com/assets/7075677/18178122/f1521c0c-7031-11e6-94ce-761d5c216b0e.png)

[2016-09-01 17:52] swimmernewman commented on #11041
@sandy081 Thanks for the response and sorry for the delay. The problem seemed to be related to an extension. I was using Crane - PHP Intellisense by Hvy Industries, and HTML Snippets by Mohamed Abusaid. I uninstalled both a few days ago and since then it has not been crashing. Just last night I reinstalled Crane - PHP Intellisense and am waiting to see if it starts happening again.

Just for compl

[2016-09-01 17:53] #11041 closed

[2016-09-01 17:56] yanchenw commented on #11250
@dbaeumer @isidorn actually my problem is not to "activate" the extension but to subscribe to the debug and build event to do something every time user start debug or build.

The problem is we wrap our service functions in .net dll and try to invoke them in vs code extension using service hub, but it seems hard for current VS extension to support the e2e scenario we need.

@egamma it seems there a

[2016-09-01 18:01] Tyriar commented on #11354
Why don't we try to align more with how Sublime behaves considering that's what the majority of the themes were designed for? `findHighlight` seems like a prime example of something we should align with, this is something that my theme defines but it isn't used.

I don't think the suggestion that users can just create an issue against the theme is not realistic. To give an example, of the 10 top t

[2016-09-01 18:03] DanTup opened #11407 "F8 widget text doesn't update if diagnostics change while the window is open"
- VSCode Version: 1.5 (Insiders)
- OS Version: Windows 10

If you edit the doc while the F8 widget is open and that causes diagnostics to update, the widget text doesn't update.

Here you can see I change the name of the function and the diagnostic (bottom) is updated, but the widget still shows the old text.

![Code fix update](https://cloud.githubusercontent.com/assets/1078012/18052295/6c316d12-

[2016-09-01 18:05] DanTup opened #11408 "F8 widget steals focus from document on every key press"
- VSCode Version: 1.5 (Insiders)
- OS Version: Windows 10

Steps to Reproduce:

1. Press F8 to open the diagnostics widget
2. Click in the document and try to make some changes

The first key press in the document works, but then focus seems to move to the widget(?) and the subsequent keypresses do not update the document. This makes it really hard to fix the thing the popup is telling you about a

[2016-09-01 18:06] DanTup commented on #10912
I've raised new issues; I'll try to avoid tagging related things on to the end in future and just create new cases. Btw, this functionality is awesome when working; thanks! :+1:

[2016-09-01 18:06] DanTup commented on #11331
Awesome; thank you! :+1:

[2016-09-01 18:12] DanTup opened #11409 "Blank lines in Hovers are removed"
- VSCode Version: 1.5 (Insiders)
- OS Version: Windows 10

This was previously raised and fixed (#10311) in Insiders, but in the last few days it appears to have come back.

Here's the text I'm sending (note: I believe list item spacing is another known issue, so ignore those):

[code]

Here's a screenshot from Insiders last week (good) vs Insiders yesterday (same as Stable)

![Hover spacing](http

[2016-09-01 18:20] nocksock commented on #11401
It might have something to do with the webfont. On Your Screen it's a different font than in mine. That can be seen best with the K:

![](http://riedemann.co/s/nnKmAt.png) vs ![](http://riedemann.co/s/T7iwQC.png)

On my System the Font displayed is `Lato`.

Also it's working in FF here too. 🤔

[2016-09-01 18:23] rebornix commented on #10881
Not sure if I'm reproducing this issue correctly but seems this one consists of two different issues

1. `pressing Esc helps in this case but things get out of sync a bit until I step again in the debugger`
2. `But when I try to click somewhere else to dismiss the error UI, VSCode sends the setVariableRequest again, so we wind up in a bit of a vicious loop`

The 1st one is already fixed and now it

[2016-09-01 18:28] Simn commented on #11399
What exactly does this mean?

[2016-09-01 18:34] Tyriar opened #11410 "tsc version mismatch more information button does nothing"
- VSCode Version: Code - Insiders 1.5.0-insider (d2c04e3789757413ae1ebfda9d88896686b6d006, 2016-09-01T06:11:55.766Z)
- OS Version: Linux x64 4.4.0-36-generic, Ubuntu 16.04

I got this message when updating this morning

I clicked more information and it did nothing. No errors in console.

[2016-09-01 18:38] Tyriar commented on #11382
Cannot repro in Ubuntu 16.04 on bash, what platform/shell are you on?

[2016-09-01 18:42] Tyriar commented on #11383
I don't think this is possible, closing as designed.

[2016-09-01 18:42] #11383 closed

[2016-09-01 18:43] Tyriar commented on #11366
Thanks!

[2016-09-01 18:45] Tyriar commented on #10546
@whitecolor :open_mouth: this is using the new terminal API? That's awesome!

[2016-09-01 18:48] wallverb opened #11411 "Debug expand/collapse misalignement"
- VSCode Version: Code - Insiders 1.5.0-insider (d2c04e3789757413ae1ebfda9d88896686b6d006, 2016-09-01T06:04:41.555Z)
- OS Version: Darwin x64 15.6.0

`TypeScript`:
![image](https://cloud.githubusercontent.com/assets/1723815/18180030/140fc8d6-7053-11e6-8a61-2d3488ff232a.png)

Triangles appear to be between items:
![image](https://cloud.githubusercontent.com/assets/1723815/18180061/31daea6c-7053-11e

[2016-09-01 18:49] Tyriar commented on #11134
@kieferrm if it doesn't scroll like iterm does then feel free to create an issue.

[2016-09-01 18:52] Tyriar commented on #11384
This is actually a non-trivial change and is related to #11275. A `createInBackground?: boolean` property can be added to `vscode.TerminalConfiguration` to keep this backwards compatible.

[2016-09-01 18:58] Tyriar commented on #11137
@octref you can actually set up keybindings to do that:

[code]

You will probably need to unbind ctrl+tab and rebind it with `"when": "!terminalFocus"` though.

[2016-09-01 18:58] sridmad commented on #11346
@Antranilan - What is the version of the extension?

[2016-09-01 19:01] Tyriar commented on #11249
The clear behavior is to be revised upstream, tracking that in https://github.com/sourcelair/xterm.js/issues/106

[2016-09-01 19:01] #11249 closed

[2016-09-01 19:01] whitecolor commented on #10546
@Tyriar Yeah, that one you are working on :wink:

[2016-09-01 19:03] octref commented on #11137
@Tyriar
Thanks for the tip!

[2016-09-01 19:05] Tyriar commented on #11256
This is as designed. Some keybindings are not handled by xterm.js, when this is the case they are bubbled up the vscode.

[2016-09-01 19:05] #11256 closed

[2016-09-01 19:07] Tyriar commented on #11257
Duplicate of #11256

[2016-09-01 19:07] #11257 closed

[2016-09-01 19:07] octref commented on #11319
@bpasero
Can you elaborate a bit what's the problem and how can I verify the fix?

[2016-09-01 19:17] rodrigomf24 opened #11412 "VS Code doesn't show workspace after latest update"
- VSCode Version:1.4
- OS Version:Windows 10 Pro 64 bit

Steps to Reproduce:

1. Open VS Code
2. Nothing shows on the workspace, I can open a folder but it won't load anything

* I had to install an older version 0.9.2 and it works fine, this happened after the latest update.

[2016-09-01 19:23] Sequoia opened #11413 "JSON Schema intellisense markdown/jsdoc not parsing links anymore"
- VSCode Version:
Version 1.4.0 (1.4.0)
- OS Version:
Mac OSX 10.11.5

## Before (not sure what version, a few months ago)
![screenshot 2016-09-01 15 12 44](https://cloud.githubusercontent.com/assets/317498/18181057/78a2795c-7057-11e6-9680-86dbbc662b75.png)

✅  Clickthrough possible

## Now
![screenshot 2016-09-01 15 12 24](https://cloud.githubusercontent.com/assets/317498/18181075/87382e94-7057-1

[2016-09-01 19:30] eyalsk commented on #10175
@alefragnani Yeah but I feel like this is something that needs to be in the base product, nonetheless, this is useful, thank you. :)

[2016-09-01 19:45] MarkPieszak opened #11414 "MAC Intellisence "Tab" keypress not selecting highlighted item (inserts regular Tab instead)"
- VSCode Version: **1.4.0**
- OS Version: **MAC 10.10.3**

Steps to Reproduce:

1. Type in something that brings up intellisence, for example `doc` (which will bring up an intellisence dropdown with `document` being at the top and selected)

2. Press the `TAB` Key. Instead of selecting document, it will just create a tab in your document. Now you have `doc(tab-spaces-here)`(several spaces after do

[2016-09-01 19:53] Tyriar commented on #11332
Another one #11384

[2016-09-01 19:54] Tyriar commented on #11384
Are you suggesting this should create in background by default? Seems to me that the majority of use cases would want it in the foreground?

[2016-09-01 20:17] roblourens commented on #11321
Wanted to point this out in case you didn't notice it- I see the extra line fixed between logs, but not between logs and console input:
![image](https://cloud.githubusercontent.com/assets/323878/18182779/3cb77458-7046-11e6-9f24-69850157a552.png)

[2016-09-01 20:24] whitecolor opened #11415 "Make errors descriptions more visually clear"
You've all heard about syntax coloring it is something to make it easier for kinder-gardeners to do programming.

See it is quite hard to distinguish logical/context parts of the message and identify the problems from such output:
![image](https://cloud.githubusercontent.com/assets/736697/18182803/eabcf0e6-70aa-11e6-88e6-7febacf0d419.png)

It would be good if error descriptions contained some high

[2016-09-01 20:31] octref commented on #11321
Verified fix by building the latest from master. Here is the output for running tests in `vscode-node-debug`:

![image](https://cloud.githubusercontent.com/assets/4033249/18182955/f36093a6-7046-11e6-8909-d6c6fcc42457.png)

However, it's producing empty lines for strings much shorter than one line length, like for this line:

`✓ should stop on a breakpoint in source (all files top level, missing so

[2016-09-01 20:36] Tyriar commented on #11334
A fix to this will probably be too high risk due to the module refactor in xterm.js. Deferring to September since it's just a bit glitchy but should still work.

[2016-09-01 20:41] 1hub opened #11417 "˝ character is typed before first typed character after app start on non US keyboard"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1. change keyboard to nonUS, for example CSQ (Czech QWERTY)
2. run VS Code
3. type something, for example "a"
=> ˝a is typed

[2016-09-01 20:50] octref commented on #11196
Verified but some values are still missing. See https://github.com/Microsoft/vscode/commit/152e0b04a7a2de37358da53287cbad346c0182b8#comments

[2016-09-01 20:54] drew-wallace opened #11418 "Allow TextEdit to have silent flag so it won't trigger onDidChangeTextDocument"
- VSCode Version: 1.4.0
- OS Version: 10.11.6

[code]

This would make my life easier for my remote pair programming app: [vscode-motepair](https://github.com/drew-wallace/vscode-motepair)

[2016-09-01 21:00] #11377 closed

[2016-09-01 21:13] rebornix commented on #8795
Mark it as verified as no reports yet.

[2016-09-01 21:15] Tyriar commented on #11332
Reverted in https://github.com/Microsoft/vscode/commit/7bd499af9bc2b210b1faa499f9af5ed7cdf1af48

[2016-09-01 21:15] #11332 closed

[2016-09-01 21:22] roblourens commented on #10613
Verified, but @aeschli - should this work immediately adding a new file, or adding a shebang to an existing file? It only fixes the highlighting when I open and close the file.

If I have a js file with no file extension, then open the file, and rename to add the .js extension, it detects that immediately.

[2016-09-01 21:47] weinand commented on #2726
Hey guys, what is really your problem?

Just use your npm script to launch your program in debug mode and then use the VS Code node debugger to attach to you program.

As long as npm doesn't provide a standard way to launch a program in debug mode, npm is not really a viable solution to support in VS Code directly.

If some one has a better solution please speak up or better: submit a PR.

[2016-09-01 21:59] rchiodo commented on #10901
Not sure why this was moved? Colorization is handled by vscode's textmate bundles as far as I know.

[2016-09-01 22:01] rchiodo opened #11420 "Vscode coloring is broken for large files"
This issue was moved. Not sure how to reopen:
https://github.com/Microsoft/vscode/issues/10901

This should be a vscode issue, not an extension issue. The extension doesn't control colorization.

[2016-09-01 22:02] JasonGoemaat commented on #10570
Thanks @alexandrudima, that helps a lot.  I didn't even think that `autoClosingBrackets` would work for quotation marks.  Problem is that I like the closing brackets ( `]`, `}`, `)` ), it's just the closing quotes that I hate :8ball:

[2016-09-01 22:02] #11214 closed

[2016-09-01 22:02] #11276 closed

[2016-09-01 22:04] Tyriar commented on #11382
Difficulty reproducing so moving to September. If this is a bug I is very likely a low-repro bug that's present in the terminal, not an issue with the API.

[2016-09-01 22:18] weinand commented on #11214
@Tyriar yes, my `prepareCommand` might not handle all cases, but if it handles 95% of them it is still much better than your low level `sendText` which puts the burden of implementing a runInTerminal that works on all platforms and for all shells completely on the extension author.

Can you imagine how many `prepareCommand` versions will be written for all the extensions that have a need for it? I

[2016-09-01 22:22] Ruzo opened #11421 "Option to show folder name in tabs for files with the same name"
When several files with the same name are opened (which is especially common with index files), it would be great to have the option to show the folder name of its location. An option between showing the folder name or a path could cover different use cases.

This is how Sublime does it:
![sublime_tabs_folder_names](https://cloud.githubusercontent.com/assets/1992115/18186458/e7c1fcae-7070-11e6-86c

[2016-09-01 22:25] Tyriar commented on #10330
`src/vs/base/browser/ui/messageList` uses `outline-offset`, is anything in `src/vs/base/` part of Monaco?

[2016-09-01 22:25] octref commented on #9955
Since this is as-designed, there isn't anything to verify.
I'm adding the `verified` tag and removing `bug`.
@sandy081  Let me know if I'm doing it wrong.

[2016-09-01 22:29] Tyriar commented on #9955
Related discussion: https://github.com/Microsoft/vscode/issues/11354

[2016-09-01 22:30] weinand commented on #10998
@chryw great, I like that!

[2016-09-01 22:30] Tyriar commented on #9822
The bug was created in #11334 and technically this is done so I'll make this verified

[2016-09-01 22:36] #11325 closed

[2016-09-01 22:48] waderyan commented on #11260
I cannot repo today with either 2.0 or 1.8. Very strange.

[2016-09-01 23:00] Tyriar opened #11422 "Expose more information about the state of the integrated terminal internally within vscode and to the API"
Originally discussed in #9957 and then in #11214, consumers of the API want to know more about the process(es) currently being run within the terminal, such as what process(es) are running and whether the terminal is "busy".

[2016-09-01 23:00] Tyriar commented on #11214
I agree, just pointing out some holes :smiley: #10917 will help in alleviating most of the issues.

We went over a few of the hurdles in getting the status of the command in #9957, the most damning of which is the fact that the shell could be running any number of background processes for the life the terminal so I don't think there is a way of reliably reporting whether it's busy or not. I just c

[2016-09-01 23:07] u84six commented on #10163
Why did this one get closed? The Bash terminal on Windows 10 works. It's just the vscode integrated terminal that doesn't.

[2016-09-01 23:19] wprater commented on #11355
Certainly, I did some searching, but must have used the wrong terminology.  Shall I remove this one, or cross reference another issue?

[2016-09-01 23:22] joshrivers commented on #10424
See issue https://github.com/Microsoft/TypeScript/issues/10282

[2016-09-01 23:49] nojvek commented on #4865
Hi @alexandrudima , is anyone from VSCode working on this for the next release? Is this something that the community can contribute to the scrollbar?

I'm guessing it will be some sort of reading the editor model and drawing a minimap representation of it in a canvas. wdyt?

[2016-09-02 00:00] nojvek commented on #243
@triceam it seems your extension is just parsing output for certain kinds of tokens and colorizing them.  Its actually not reading any of the ANSI color codes to syntax highlight them.

Is it possible to write a syntax highlighter based on ANSI color codes as @thomasboyt  suggests?

May be someway of hiding the ANSI color code themselves?

Something like https://github.com/aziz/SublimeANSI

[2016-09-02 00:07] maryamsoprano commented on #11259
I have a project in DebugVsCode which is running by express from another path(myuiServer).
After running the project by npm start, corresponding js is created besides the ts files in DebugVsCode.

My Nodejs server:
https://github.com/maryamsoprano/myuiServer

VsCode:
https://github.com/maryamsoprano/DebugVsCode

[2016-09-02 00:29] octref opened #11423 "Intellisense should show exact match before others"
- VSCode Version: 1.5.0 Insider
- OS Version: 10.11.6

Steps to Reproduce:

1. Open `settings.json`

![image](https://cloud.githubusercontent.com/assets/4033249/18188761/7a685344-7069-11e6-934b-864255b12e23.png)

[2016-09-02 00:31] westy92 commented on #936
Expanding on @barake's solution, this one works for me without hardcoding the source directory.

[code]

[2016-09-02 01:27] Kowus commented on #5062
I use Ubuntu 14.04.5 x86 and "**code-alpha**" isn't a recognized command. However, when I run

`sudo code --user-data-dir=~/root-data-dir ~/perms-test`, it worked

[2016-09-02 01:47] hulala1021 commented on #3112
Very much agree with

[2016-09-02 01:49] sam-s4s commented on #10683
@dbaeumer For me, I'm using Angular2, so my test case was literally the quickstart :)

https://angular.io/docs/ts/latest/quickstart.html

[2016-09-02 02:12] kantlove opened #11424 "Get TextDocument silently."
- VSCode Version: 1.4.0
- OS Version: Windows 10

I'm developing an extension that read the *content* and get the *languageId* of files in the project. To do that, I use this API to get a TextDocument object:
[code]
However, as I see, this also triggers other extensions related to the file (e.g. linters).
Is there any way to get a TextDocument object (i.e. file content + languageId) only?

[2016-09-02 02:23] #10981 closed

[2016-09-02 02:47] preiodGeek opened #11425 "a new "down,up""
- VSCode Version:1.4.0
- OS Version:

Steps to Reproduce:
1. ![qq 20160902104502](https://cloud.githubusercontent.com/assets/17465121/18191110/531c7f22-70fa-11e6-9c9d-16b24a9891cc.png)
2. i need a keybindings (alt+shift+j   ===  down, alt+shift+k === up)

[2016-09-02 02:48] preiodGeek commented on #11425
a new "down,up" 2016/09/02

[2016-09-02 02:58] DonJayamanne commented on #10925
@Tyriar , will the proposed ```window.onDidCloseTerminal``` be available in the next version (1.5) of VS Code or is this something that would probably be added in a subsequent build?
If it is planned for a later version, then I can work around this without having to wait for it.

[2016-09-02 04:17] edvail commented on #5469
Keybindings allow only 2 sequential keys, why not to just extend quantity to 10 for example?
For example:

    "key": "space s c", "command": "workbench.action.showCommands", "when": "!inQuickOpen && vim.mode != 'Insert Mode'"

[2016-09-02 04:58] jaime-olivares opened #11426 "Bug: misleading message when selecting deleted images in the Git pane"
- VSCode Version: 1.4
- OS Version: macOS El Capitan

Steps to Reproduce:
1. Open any project/folder bounded to Git and containing an image
2. Delete an image (tested with .png)
3. Open the Git pane and select the entry for the deleted image

Observed:
The following message is shown: **ERROR**: Unable to open 'xxx.png (HEAD)': File seems to be binary and cannot be opened as text. The image is not

[2016-09-02 05:03] Tyriar commented on #10925
@DonJayamanne looking at this for 1.6

[2016-09-02 05:33] bpasero commented on #11173
If that is our principle, then we should not activate all language services from files that are opened in background tabs. Since people might have a large number of tabs open in the background (maybe without even noticing because tabs are disabled), it would cause a lot of activation right on startup. Whereas if we activate from "Open Symbols", we can move this activation out of the critical start

[2016-09-02 05:34] bpasero commented on #11394
@trevorsg it was a lucky guess with success ;)

[2016-09-02 05:35] jaime-olivares opened #11427 "Bug: An Image doesn't change in the editor whenever it is altered externally"
- VSCode Version: 1.4
- OS Version: macOS El Capitan

Steps to Reproduce:
1. Open a project/folder containing an image
2. In the Folder view, select the image in order to show it in the editor window (tried with a PNG)
3. Replace the image file externally (tried with macOS Finder)
4. In the Folder view, select another file and select back the image

Observation:
The image doesn't change. It keeps

[2016-09-02 05:39] bpasero commented on #11086
@Emasoft please file separate issues for separate requests, there can be different owners and different priorities for each of them.

See also https://github.com/Microsoft/vscode/blob/master/CONTRIBUTING.md#writing-good-bug-reports-and-feature-requests

[2016-09-02 05:39] bpasero commented on #11319
@octref since I pushed a revert of a change I think we do not need to verify this. Basically we are back to a state how it was before I caused this issue.

[2016-09-02 05:50] bpasero commented on #11406
https://github.com/Microsoft/vscode/issues/6414

[2016-09-02 05:50] #11406 closed

[2016-09-02 05:51] bpasero commented on #11412
@rodrigomf24 can you share a screenshot how it looks? are you able to open the developer console from the help menu?

[2016-09-02 05:52] bpasero commented on #11421
https://github.com/Microsoft/vscode/issues/8499

[2016-09-02 05:52] #11421 closed

[2016-09-02 05:53] bpasero commented on #11427
https://github.com/Microsoft/vscode/issues/7951

[2016-09-02 05:53] #11427 closed

[2016-09-02 05:53] DonJayamanne commented on #10925
@Tyriar , thanks

[2016-09-02 05:57] jackric commented on #6239
I'm also running on a case sensitive partition on osx and getting this problem (like evilmachina above).

[2016-09-02 06:07] pke commented on #2726
The problem is to run the script with the debugger already attached.

[2016-09-02 06:29] jaime-olivares commented on #7951
In *gulp* there is a `watch` functionality for sensing changes in the source code for a given folder/glob (usually for recompiling). Can we use the same technique for updating the cached images?

[2016-09-02 06:35] sandy081 commented on #11138
@leira There is not a single action to do the complete workflow, but, you can select the word and type ⇧⌘F. This will open Search view and pastes the word in Search text box. Now Enter will trigger your search.

[2016-09-02 06:35] #11138 closed

[2016-09-02 06:39] FLWrd commented on #11044
Hi,

I cannot perform step 6. "task tsc" is not an option.

I can hit cmd-shift-b (run build task). That executes fine. Then, when I make a change to test.ts and hit cmd-shift-b again, the build icon keeps spinning, as reported before.

[2016-09-02 06:40] jrieken commented on #11403
You are passing a stringified uri not a path - the behaviour then is undefined

[2016-09-02 06:40] #11403 closed

[2016-09-02 06:42] jrieken commented on #11402
@aeschli Like so: https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L3580

[2016-09-02 06:45] jrieken commented on #11399
Diagnostics are fed into the system by using a [Diagnostic collection api](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L2761). Only with that in hand you can remove diagnostics

[2016-09-02 06:49] jrieken commented on #11173
An instance of such a project file would then be `tsconfig` and (improved) activation event ala `workspaceContains:**/{tsconfig.json,jsconfig.json}`

[2016-09-02 06:57] joaomoreno commented on #10541
Pretty cool, didn't even know about that.

[2016-09-02 06:58] joaomoreno commented on #11356
Got it. I'll take a peek.

[2016-09-02 07:00] joaomoreno commented on #10551
So... when people search for extensions, the _unpublished_ ones will still appear in the results?

[2016-09-02 07:12] aeschli commented on #11402
Ok, now I see it. Just not very intuitive, this API. asRelativePath returns an absolute path.

'when the path is not a child of that folder, the input is returned.'
Then, this is then actually a bug:
[code]
Let me know if you want a separate issue.

[2016-09-02 07:13] dbaeumer commented on #11425
@preiodGeek You can configure these keybindings yourself using File > Preferences > Key Bindings.

@bpasero do you see any reason to include this in the product by default?

[2016-09-02 07:15] dbaeumer commented on #11423
@aeschli starting with you since I don't know if you can control this in json or whether this is a bug in the UI.

[2016-09-02 07:17] jrieken commented on #11402
Yup - i'll use this issue

[2016-09-02 07:20] sharadcodes opened #11429 "Typescript Linter & Intellisense unexpected behaviour"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:49:32.489Z)
- OS Version: Linux x64 4.4.0-36-generic

Steps to Reproduce:

1. Start the `vscode`.
2. Does not have linting support for files just opened.
3. Restart the app to have it support again.
4. If any new files are opened, goto step 2.

I have to restart again and again just to have intellisense for the f

[2016-09-02 07:22] lllopo commented on #6474
@oscar6echo Yup, I must admit I also like VSC more, but sublime handles large files and long lines better, plus killer fast startup. So, If VSC needs urgent improvements, these are :
- large files handling - can't open at all
- long lines handling - can't handle very long lines at all, even with all wordwrapping and limitations off and syntax highlighters break with these too (probably due to not

[2016-09-02 07:22] dbaeumer commented on #11429
@sharadcodes do you have a TypeScript linter installed ? If so which one?

[2016-09-02 07:22] jrieken commented on #11424
`onTextDocument` will trigger the `onDidOpenTextDocument` event and we cannot change that because documents are cached and we would be at risk of never sending events to those that are interested.

You can either read files using the nodejs API or (and that seems more appropriate) the consumer of the open event should be prepared for this

[2016-09-02 07:22] #11424 closed

[2016-09-02 07:24] joaomoreno opened #11430 "RPM package lacks icon?"
Installed the Insiders RPM in CentOS and it seems to be lacking an icon:

![image](https://cloud.githubusercontent.com/assets/22350/18195965/f8a974e2-70ee-11e6-9a7a-095c76648f00.png)

![image](https://cloud.githubusercontent.com/assets/22350/18195968/fbaa00da-70ee-11e6-8aa8-a01aa324f7e1.png)

[2016-09-02 07:25] joaomoreno opened #11431 "RPM package lacks shortcut in PATH"
Just installed the Insiders RPM package in CentOS and `code-insiders` wasn't placed on the `$PATH`:

[code]

[2016-09-02 07:26] jrieken commented on #11418
This is something we won't do because it will break *true* listeners, think of linters et al. What we can think about is to allow you to set a `source` object that we pass along and you can do the filtering on your side.

[2016-09-02 07:26] jrieken commented on #11418
merge this with #10801

[2016-09-02 07:26] #11418 closed

[2016-09-02 07:27] dbaeumer commented on #11409
@alexandrudima looks like you did some fixing in hover.css

[2016-09-02 07:30] isidorn commented on #11411
Dup of #11352

[2016-09-02 07:30] #11411 closed

[2016-09-02 07:30] dbaeumer commented on #11407
@sandy081 assigning to you as our problems master. The widget comes originally from @jrieken. Might want to consult him.

[2016-09-02 07:32] dbaeumer commented on #11362
@BGOnline-CN can you reproduce this if you disable all extensions (e.g. start code with --disable-extensions)

[2016-09-02 07:34] bpasero commented on #11425
If this is standard navigation in tree it would have to go into the tree @joaomoreno

[2016-09-02 07:35] dbaeumer commented on #11173
My idea was not to load all files in tabs. Only if the users requests 'workspace wide' actions.

Fully Agree and @alexandrudima and I discussed something similar yesterday.

[2016-09-02 07:36] dennisfrostlander commented on #11396
Thanks, @dbaeumer. Since this already got a feature-request label, I'll formalize my request as "Run commands as tasks". This would gracefully solve my particular problem and is generic enough to be useful for others, I think.

[2016-09-02 07:42] isidorn commented on #10998
@chryw Works for me also, can you please attach those icons so I can incorporate them into vscode. I would just make sure that the square is exactly the same size as our current stop icon
https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/browser/media/stop.svg#L1

[2016-09-02 07:44] dbaeumer opened #11432 "Workspace Symbol should limit to 512 symbols. Makes no sense to pull in thousands of symbols the user never looks at."

[2016-09-02 07:45] shammelburg opened #11433 "Save All - keyboard shortcut should use VS binding"
- VSCode Version: 1.4.0
- OS Version: Windows 10

Visual Studio (IDE) has the Save All keyboard shortcut of (Ctrl+Shift+S), the same shortcut is available in code but it actions the Save As... function.

Can you apply the same to VS Code? I use both daily, like many other developers.

It would be nice to keep the same functionality between both Microsoft products.

[2016-09-02 07:46] lukaschal commented on #11344
@dbaeumer Should we revert this string on all langs to ENU without any linguistic input ?

[2016-09-02 07:53] M0dM commented on #206
+1

[2016-09-02 07:53] fredchyan commented on #4039
JavaScript auto format removes the space between function name and parentheses. This is not accepted in [Standard JS](http://standardjs.com/).

Before Auto Format
![Before Auto Format](https://cloud.githubusercontent.com/assets/11380476/18196399/fc9908cc-70a5-11e6-97cb-743faead6ecb.png)
After Auto Format
![After Auto Format](https://cloud.githubusercontent.com/assets/11380476/18196406/0b3269d2-70a

[2016-09-02 07:55] bpasero commented on #11173
I would start with `workspaceContains` activation for now even though it only supports top level files and then once file search is fast we can think about glob pattern support in `workspaceContains`.

[2016-09-02 07:55] isidorn commented on #11321
@octref yes, please add the `verified` and open the new issue. Good guess, color codes are probably the root cause fo the height measuring issue!

[2016-09-02 07:57] sandy081 commented on #8410
Moving this to September milestone, since it is too late to make into August

[2016-09-02 07:59] joaomoreno opened #11434 "Panel contents overflow after toggling panel"
Show the panel, hide it using the sash, show it again.

Contents overflow:

![image](https://cloud.githubusercontent.com/assets/22350/18196752/ac198054-70f3-11e6-98c2-810f092eb938.png)

[2016-09-02 08:00] kamlekar opened #11435 "Preserve tabs when opened intentionally"
- VSCode Version: 1.4.0
- OS Version:  Windows 8

Steps to Reproduce:

1.  <kbd>ctrl</kbd> + <kbd>p</kbd>
2.  Type some file name
3.  Press <kbd>Enter</kbd>
4.  When above three steps did again, the previously opened file is disappearing.

VS Code should keep the file when user Intentionally opened it.  Currently, it is showing the file in italics (stating that the tab isn't preserved).

[2016-09-02 08:06] joaomoreno commented on #11385
The (hidden) panel seems to overflow the whole workbench.

<img width="1680" alt="screen shot 2016-09-02 at 10 02 04" src="https://cloud.githubusercontent.com/assets/22350/18196889/67297192-70f4-11e6-8a30-4ed0b2eede3d.png">

@isidorn I've attempted to unflow the panel when it gets hidden, which fixes the issue. Created a PR with that change for September, for you to review: #11436

[2016-09-02 08:07] jrieken commented on #11407
It is the designed behaviour. If the widget moves or hides while typing the editor view will become nervous and jumpy. That's why the color changes to greyish, press `F8` again will reconcile with the actual errors

[2016-09-02 08:08] jrieken commented on #11407
Opting  for no fix here

[2016-09-02 08:09] jrieken commented on #11408
@alexandrudima We had to add that for accessibility and screen reading purposes, right?

[2016-09-02 08:11] joaomoreno commented on #2289
@weinand Looks good. The verb is missing in that sentence though. Maybe change it to `No call stack because the program is paused outside of JavaScript.`.

[2016-09-02 08:13] joaomoreno commented on #11414
@MarkPieszak Do you have any extensions installed? Does it reproduce when disabling all extensions (`code --disable-extensions`)? Do you override some keybindings?

[2016-09-02 08:13] jrieken commented on #11408
Oh, wow. It actually jumps back after every keystroke... 😨

[2016-09-02 08:16] jrieken commented on #11408
A regression from reconciling the quick fixes while marker change...

[2016-09-02 08:17] DanTup commented on #11407
Isn't there a way to update it without anything jumping? If the widget is a fixed size and didn't flicker but the text updated, I think this would look perfect.

It kinda looks like a bug to me as-is - the command text updates and the diagnostic text updates but the widget text does not. I understand it changes colour, but that's kinda subtle and I don't think it's obvious that means it might be s

[2016-09-02 08:17] dbaeumer commented on #11431
Looks like a regression

[2016-09-02 08:19] joaomoreno commented on #11423
The sort order is correct, but the initial pick is definitely wrong. This depends on what the settings mode brings in as `filterText`.

[2016-09-02 08:30] DanTup commented on #11407
It's worse if you make an edit that changes the error entirely, since the error displayed and the quick fixes don't match any more :(

[2016-09-02 08:33] erikbra commented on #313
I see the issue is closed, I see you have unit tests, but I still can't get this to work. In any other editor, replacing `^\s*$\n` with an empty string removes all empty lines. However, it doesn't work i VS code. `\n` matches on newline, so that doesn't seem to be the problem. Have you really verifies in the actual editor that this works after the jun release?

[2016-09-02 08:34] #11408 closed

[2016-09-02 08:36] jrieken commented on #11407
Yeah, if there is still an error updating it makes sense (that it doesn't is actually a bug). The challenge is that the size might change depending on the error message and number of quick fixes. Also it's still unclear to me what should happen when the current error/warning goes away

[2016-09-02 08:43] joaomoreno commented on #11426
#3935

[2016-09-02 08:43] #11426 closed

[2016-09-02 08:45] sandy081 commented on #11187
I agree with @roblourens. Showing proposals for numbers does not makes sense. Also `5.toString()` is not a valid syntax and doing this will give an error. Hence we should not show.

@weinand Shall I open a new issue for this?

[2016-09-02 08:46] sandy081 commented on #11187
![screen shot 2016-09-02 at 10 45 51](https://cloud.githubusercontent.com/assets/10746682/18197974/717e3ba4-70fa-11e6-8085-3a413ec43b76.png)

[2016-09-02 08:49] dbaeumer opened #11437 "Change 'The workspace folder contains a TypeScript version' message"
to 'The workspace folder contains TypeScript version'

[2016-09-02 08:50] egamma commented on #11162
I've verified on Windows. `More Information` spawns the browser.

[2016-09-02 08:51] #11437 closed

[2016-09-02 08:52] joaomoreno commented on #11321
@octref Good guess

[2016-09-02 08:54] bpasero commented on #10330
Verified that we do not have outline-offset in base, platform and editor. The one in message list is not being used within the editor.

[2016-09-02 08:59] Ruzo commented on #11421
Great, thanks. that's after searching for a good while. Sorry.
If the title of #8499 included 'tab', maybe that would make it easier to find. Or, maybe there is a better way to search?

[2016-09-02 09:02] joaomoreno commented on #8035
@Tyriar Make sure you mark the issues as `duplicate` so they don't show up in the verification query. 👍

[2016-09-02 09:06] isidorn commented on #10881
@rebornix the fact that we send the setVariable request when the input gets closed is not unexpected, it was just that with the combination of 1st it was causing a pain.
This way it is fine. Thanks for finding this though

[2016-09-02 09:09] joaomoreno commented on #6184
@lukaschal @dbaeumer This is *not* fixed in `master` for either Chinese languages:

- https://github.com/Microsoft/vscode/blob/panel/i18n/cht/src/vs/workbench/parts/files/electron-browser/textFileServices.i18n.json#L12
- https://github.com/Microsoft/vscode/blob/panel/i18n/chs/src/vs/workbench/parts/files/electron-browser/textFileServices.i18n.json#L12

[2016-09-02 09:11] dbaeumer commented on #6184
@joaomoreno we first need to pull in new translations. May be we don't have them yet. Will keep an eye on it.

[2016-09-02 09:17] joaomoreno commented on #9589
This seems to work beautifully.

[2016-09-02 09:18] DanTup commented on #11407
I don't think that's a massive issue; it's below the cursor so it has room to grow/expand without affecting the user/editor too much and it might not happen that often (the lengths might not vary across the line length boundary that often).

I think in the absence of a better idea, the current behaviour (remove fixes, go grey) doesn't seem unreasonable here; (it's mainly the lack of updating that

[2016-09-02 09:19] alexandrudima opened #11438 "Extract stdFork to a npm module"

[2016-09-02 09:20] dbaeumer commented on #11410
The button was a noop at the beginning since I was missing the correct forward link. The actual link got add via commit: 64a75fa8bb882d2de625aabf1a0577e343479f9f via got puhsed after d2c04e3.

@egamma & @bpasero tested this in the latest insider and it worked for them. Closing as invalid.

[2016-09-02 09:20] #11410 closed

[2016-09-02 09:21] aeschli commented on #11413
Has to with the fix to render JSON hovers as text not markdown.
Text in schemas are simple text, not markdown. Before we rendered them as markdown, which resulted in bugs that certain text was lost, such as *. We now render it as text, and there's no longer automatic link detection.

[2016-09-02 09:25] isidorn commented on #11321
Adding verified instead of @octref just to get this out of our 'to-verify' query today

[2016-09-02 09:26] alexandrudima commented on #313
@erikbra We are not massaging `^` or `$` in the context of multiline searches. So the default JavaScript regex semantics apply to them (which is the beginning of the string, the end of the string) and not the beginning of the line, the end of the line that you probably expect. You can workaround for for example by searching for `\n\s*\n` and replacing with `\n`. Please feel free to open a separate

[2016-09-02 09:26] aeschli commented on #11413
@jrieken We need to discuss what is the way to go here. We basically need API to create a MarkedString for regular (non-markdown) text. Ideally it would do link detection.

[2016-09-02 09:27] bpasero commented on #9589
@joaomoreno thanks for verifying <3

[2016-09-02 09:28] aeschli commented on #10479
To verify one needs to create a quick fix that has command that crashes. I'll work on one.

[2016-09-02 09:31] Dragory commented on #11435
Have you tried setting the `workbench.editor.enablePreviewFromQuickOpen` setting to `false`?

[2016-09-02 09:31] isidorn commented on #11259
@maryamsoprano you did not upload a proper repository. For instance your DebugVSCode repo depends on node_modules in launch.json and there is no top level package.json. Also the launch.json should live inside the .vscode folder

My suggestion is to start from a ts project that you can debug and then slowly convert it to your project folowing the strucutre provided. Our doc tutorials should have so

[2016-09-02 09:32] alexandrudima commented on #5469
@edvail If you want to capture keys that produce text (i.e. not ctrl+ something, alt+ something, etc), the correct way to do it (in the sense of different keyboard layouts) is not via keybindings which deal in terms of "keys" (not characters), but via overwriting the editor's `type` command and then interpreting the input and/or delegating back to `default:type`.

This is demonstrated in the vim s

[2016-09-02 09:35] alexandrudima commented on #4865
@nojvek We will draft and release the September plan at the end of next week. Given this issue is climbing to the top of this query we use to track community requests (https://github.com/Microsoft/vscode/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc), it has a high change to make it on the September plan.

Please stay tuned :)

[2016-09-02 09:36] kamlekar commented on #11435
Thanks @Dragory it is working :)

[2016-09-02 09:36] #11435 closed

[2016-09-02 09:39] bpasero commented on #11437
Verified via code review.

[2016-09-02 09:43] joaomoreno commented on #10293
Oh wow. How come we came out with this API? Should we just stop highlighting the arguments in the method definition?

[2016-09-02 09:43] alexandrudima commented on #11196
Thank you, answered inline in 152e0b0

[2016-09-02 09:45] isidorn commented on #7978
@joaomoreno how to verify? Code review?

[2016-09-02 09:46] aeschli commented on #10479
Verified.

[2016-09-02 09:46] joaomoreno commented on #6935
Any verification steps here?

[2016-09-02 09:50] isidorn opened #11439 "Terminal does not scroll up"
- VSCode Version: latest insiders
- OS Version: OS X, zsh shell

Steps to Reproduce:

1. Open integrated terminal, have lots of output
2. Can not scroll up. Vertical scroll bar is not appearing, also tried the mouse well but can not scroll up

I also see this behavior in our stable VSCode build so not a regression

[2016-09-02 09:50] isidorn commented on #7902
Focus issue works fine, scroll issue - I have hit a related issue which I have caputred in https://github.com/Microsoft/vscode/issues/11439

[2016-09-02 09:52] joaomoreno commented on #6725
Verified by code review. Test looks good.

[2016-09-02 09:56] ericmaier commented on #11037
Wanted to let you know that my problem came back and everytime I performed a search Windows Defender Antimalware Service took over and made search in VS Code impossible. I turned off Windows Defender with a edit to the machine registry and everything is working as expected.

[2016-09-02 09:57] joaomoreno commented on #7978
Yeah. Or, in the dev build put a breakpoint in the `NullTelemetryService`, `publicLog` method. Or check Kusto.

[2016-09-02 09:59] aeschli opened #11440 "Show an information dialog if settings can not be accessed"
From verifying #10317:
- remove permissions to read `~/.config/Code - Insiders/storage.json`
- start VSCode
- VSCode starts up without error message. No folder history, but all seems to work.

Starting `code --verbose` shows the issue

A warning dialog or message (also without verbose) would be good so the user can fix the permission issue.

[2016-09-02 10:01] isidorn commented on #11439
Works nicely on win. The root cause is probably me using zsh shell

[2016-09-02 10:03] Cloudwu1 opened #11441 "VS Code can't recognize some Unicode"
- VSCode Version: 1.4
- OS Version: Win10 10.14393

In Visual Studio
![capture1](https://cloud.githubusercontent.com/assets/21057022/18200418/5228da60-7137-11e6-8e3a-975ba312a733.PNG)

In VS Code
![vscode](https://cloud.githubusercontent.com/assets/21057022/18200336/ec86297e-7136-11e6-8246-c68501a1d1d2.PNG)

Below is the strings I use:
	   string s02 = "_㐀㒣㕴㕵㙉㙊䵯䵰";
	   string s03 = "ꀀꒌꂋꂌꂍꂎꂔꂕ꒐";

[2016-09-02 10:04] smarr commented on #10447
One element for the custom breakpoints that would be very useful is to have support for context menus that are specific to a token for instance: https://github.com/Microsoft/vscode/pull/11405

[2016-09-02 10:04] buzzzzer commented on #824
still backlog... :(

[2016-09-02 10:06] alexandrudima commented on #11409
@jrieken This was caused by c4f3544a66e45f3c4e62e46a46c5da48d76f1dbc -- I did that because I noticed TypeScript hovers were looking pretty ugly in the monaco editor.

I will refine the CSS to apply only to the monaco-editor.

## BEFORE MY CHANGE
![image](https://cloud.githubusercontent.com/assets/5047891/18200497/653d8e5c-7105-11e6-9f50-dc4e6535491d.png)

## MONACO-EDITOR NPM VERSION
![image](http

[2016-09-02 10:07] #11409 closed

[2016-09-02 10:08] bpasero opened #11442 "Picker: onDidSelectItem no longer being called"
Tried to verify https://github.com/Microsoft/vscode/issues/7019 and noticed that `onDidSelectItem`  is no longer being called upon navigating over picker entries.

I think the root cause is `asWinJsPromise` (https://github.com/Microsoft/vscode/blob/master/src/vs/base/common/async.ts#L26) that is used from https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/node/mainThreadQuickOpen

[2016-09-02 10:09] bpasero commented on #7019
Marking as verification-found due to https://github.com/Microsoft/vscode/issues/11442

[2016-09-02 10:10] aeschli commented on #10317
Verified
- remove perissions to read storage.json
- start VSCode
- VSCode now starts up without error message. No folder history, but all seems to work.

Starting `code --verbose` shows the issue

Created #11440 as I think a warning to the user would be good to have.

[2016-09-02 10:10] joaomoreno commented on #10311
@DanTup You might want to follow [#2330](https://github.com/Microsoft/vscode/issues/2330#issuecomment-243157831), I will give hover a well deserved facelift.

[2016-09-02 10:12] alexandrudima commented on #8805
Apologies for me taking so long to figure this out. This does not require any code change and this customization can be easily made via `keybindings.json`. It is preferable to use existing customization methods than to create a new setting.

To get that `tab` **always indents** if there is a selection, please use the following in your `keybindings.json`:

[code]

[2016-09-02 10:12] #8805 closed

[2016-09-02 10:16] weinand commented on #2726
Try this:

In you package.json add a 'debug' script, e.g.:
[code]
In your launch config set attribute `runtimeExecutable` to the npm executable, specify the 'run-script' and 'debug' arguments as `runtimeArgs` and hardcode the `port` like this:
[code]

[2016-09-02 10:18] nie-xin opened #11443 "Turn off [js] linter"
I only installed eslint plugin as linter, but for some js files I noticed there are some [js] error prompts as following:

![capture d ecran 2016-09-02 a 12 13 00](https://cloud.githubusercontent.com/assets/3535692/18200836/12faee62-7107-11e6-848d-65b8e2c61a53.png)

I just want to know what this linter is and how to turn it off (I didn't install anything related, and prompts form eslint will start

[2016-09-02 10:20] joaomoreno commented on #11232
I don't have `ctrl y` as a default keyboard shortcut.

How to verify?

[2016-09-02 10:24] aeschli commented on #8562
Verified in code

[2016-09-02 10:25] DanTup commented on #10311
@joaomoreno Cool; I was thinking the hovers could be tidied up a little :)

Markdown normally preserves normal space between paragraphs, lines aren't all shoved together. However I raised #11409 after @jrieken requested not to comment on closed issues, there's some better discussion about this there :-)

[2016-09-02 10:26] joaomoreno commented on #2549
Code reviewed.

[2016-09-02 10:26] bpasero commented on #10616
@joaomoreno Verified, though the exact same issue happens if USERPROFILE is not defined.

[2016-09-02 10:27] aeschli commented on #10061
verifying...

[2016-09-02 10:33] DanTup commented on #2330
@joaomoreno I like the look of this; hovers were looking a bit weird (esp. with fixed with fonts) :+1:

I raised a case related to code-rendering in hovers, I don't know whether they may be any overlap with what you're doing here and that (#11331).

[2016-09-02 10:39] UEDDarthVader commented on #11277
So, if running as administrator is not recommended. Could you please advise what is recommended practice for editing files, which require admin rights to be edited?

[2016-09-02 10:45] alexandrudima opened #11444 "Try to automate IME tests"

[2016-09-02 10:48] dbaeumer commented on #9825
Made translation input today. Needs at least a week to be verified.

[2016-09-02 10:48] #9825 closed

[2016-09-02 10:48] sandy081 commented on #11232
This need to set up sample Vim extension as described in #11127. I would suggest @rebornix to verify this.

[2016-09-02 10:57] alexandrudima commented on #11417
@1hub I could not reproduce on both 1.4.0 and on 1.5.0 on the insiders channel.

Here is the keyboard layout I installed:
* I added the Czech language:

  ![image](https://cloud.githubusercontent.com/assets/5047891/18201731/08612a70-710c-11e6-97df-5471b1f0bb3f.png)

* I then proceeded and added the Czech QWERTY keyboard layout:

  ![image](https://cloud.githubusercontent.com/assets/5047891/1820177

[2016-09-02 10:58] aeschli opened #11446 "[code lens] No code lens shown on the last line"
- Create an extension with the following code:
[code]

- Create a file foo.abc and have 'abc' on the last line: no code lens is showing

[2016-09-02 10:59] aeschli commented on #11446
Looks to me like https://github.com/Microsoft/vscode/blame/master/src/vs/editor/contrib/codelens/browser/codelens.ts#L523
is the cause.

[2016-09-02 10:59] whitecolor opened #11447 "Conflict of vscode node definitions with @types/node"
While developing extension, some modules may require node definitions they install it as dependency in `@types/node`

But then there appear many errors of duplicate indentifier:
![image](https://cloud.githubusercontent.com/assets/736697/18201847/f139c6f8-7125-11e6-8db4-f0993526f4a0.png)

If to remove `@types/node` those modules that require it, error that can not find definitions:

![image](https:

[2016-09-02 11:06] aeschli commented on #3342
![image](https://cloud.githubusercontent.com/assets/6461412/18202020/daae496c-710d-11e6-8959-ccfe378feca2.png)
'node' is not a separate token, and therefor doesn't get a different color. @daviwil is this a bug?

[2016-09-02 11:09] aeschli commented on #2642
Verified on Linux (Version 1.5.0-insider, Commit bd35113ab2c730e1b420c7aec4b9abc750822d5b)

[2016-09-02 11:18] drew-wallace commented on #10801
This would be helpful so I can choose not to do an edit if the source of the trigger event was from a remote user: #11418

[2016-09-02 11:18] jrieken commented on #11413
It looks like we want to escape markdown text not using code blocks but another trick

[2016-09-02 11:21] weinand commented on #11187
@sandy081  yes, please create a new issue (but I do not intend to fix that behaviour).

The proposals are valid for the type 'number' and they are still helpful for @alexandrudima use case.

Since I do not have a JavaScript parser/scanner available, I do not want to start validating JavaScript expression. There is an infinite number of incorrect expressions where we still return IntelliSense.

[2016-09-02 11:26] #11442 closed

[2016-09-02 11:28] jrieken commented on #11413
http://daringfireball.net/projects/markdown/syntax#backslash

[2016-09-02 11:29] DanTup commented on #1396
Quick question!

There are several comments in this thread that suggest we shouldn't be having settings that don't exist in the package.json. Currently we assumed this was a feature, eg. having "hidden" settings - we have a couple of settings that we (extension devs) turn on (such as logging traffic to the language service to a file, and I was thinking about feature toggles we don't want to show t

[2016-09-02 11:51] sharadcodes commented on #11429
@dbaeumer No, I have none installed. It is the default one.

[2016-09-02 11:58] MarkPieszak commented on #11414
You're completely right, I pinpointed it down to `Angular 2 Typescript Emit` plugin, which templates out things like `ul>li` and when you push Tab it creates multiple of them for you automatically. Removed this, and it works like a charm. Apologies for the issue! False alarm ;)

[2016-09-02 11:58] #11414 closed

[2016-09-02 12:00] karepte opened #11448 "Integrated terminal jerky scrolling with scrollbar"
- VSCode Version: 1.5.0-insider commit bd35113a
- OS Version: Windows 10 1607

Steps to Reproduce:

1. Open Visual Studio Window.
2. Press CTRL + ' to open Integrated Terminal.
3. type some command that will generate a couple of pages of output. e.g. execute twice **ipconfig** command
4. Try to grab scrollbar and scroll up and down.

Expected behavior:
The console output scrolling is synchronized

[2016-09-02 12:07] alexandrudima commented on #11323
Works nice!

[2016-09-02 12:12] aeschli commented on #8769
verified in code

[2016-09-02 12:13] sandy081 opened #11449 "Debug console shows completions for primitive constants"
Extracted from #11187

Debug console shows proposals for `5`. Eg: `toString()`.
But applying them shows error.

[2016-09-02 12:18] odonyde opened #11450 "[JS] IntelliSense disregards properties if prototype defined by assigning object"
- VSCode Version: 1.4.0
- OS Version: Windows 10 Pro 1607
- Language: JavaScript

I observed that IntelliSense disregards any property inherited from the object's prototype in case the prototype is defined by assigning an object. For example, IntelliSense does not show property 'greet' in the screenshot below.
![vscode-intellisense-02](https://cloud.githubusercontent.com/assets/21695902/18188632/0

[2016-09-02 12:24] raldred commented on #9853
What's providing the search?
Would it be possible to switch it ack?

[2016-09-02 12:25] bpasero commented on #11277
Yup, we are aware of this and plan to improve this in the future.

[2016-09-02 12:30] joaomoreno commented on #11414
Thanks for letting us know!

[2016-09-02 12:35] aeschli commented on #211
Added support for file icon themes. See #10804 for documentation.

[2016-09-02 12:35] #211 closed

[2016-09-02 12:35] bpasero commented on #7019
![untitled](https://cloud.githubusercontent.com/assets/900690/18203960/7097f8ea-711a-11e6-9077-ba493108e0e4.gif)

@alefragnani if you `preserveFocus` when opening an editor you can get this to work already today without the new `ignoreFocusOut` option

[2016-09-02 12:40] 1hub commented on #11417
To be clear: you have to have closed VS Code when changing keyboard (ie set CES CSQ keyboard before you run Code)
1. close VS Code
2. change keyboard to CES CSQ (if you have had another one)
3. run Code and type something. Char ˝ will show before first typed char
Char ˝ is "copied" to keyboard buffer after you run Code, so this steps works too:
1. close Code, run notepad
2. set CES CSQ keyboard
3.

[2016-09-02 12:42] sandy081 commented on #11013
@kpachar Thanks for using VS Code and reporting this issue.

<kbd>esc</kbd> closes the Find box for me. Can you please check that in your keyboard shortcuts settings, `closeFindWidget` is bound to `escape`.

There's no way to continue my previous search now. Hitting Ctrl+F while this is selected automatically overwrites my Find box's contents process with ).getId(). There should be a switch to dis

[2016-09-02 12:59] weinand commented on #7324
@Tyriar after running zsh I can no longer scroll up. So the terminal window no longer jumps to the left and it is not cut off. The the issue seems to be gone.

[2016-09-02 13:00] nholthaus opened #11451 "Debugger doesn't recognize `konsole` as a terminal on Kubuntu"
- VSCode Version: 1.4.0
- OS Version: Kubuntu 14.04

The debugger can't start due to the following error:

IMHO, it's not a good idea to mix KDE and gnome (especially low level things like terminals), so many KDE users wouldn't have one of those two installed. Instead, vscode should recognize `konsole` as a terminal application.

Interestingly, the integrated terminal works just fine.

Steps to Re

[2016-09-02 13:08] alexandrudima commented on #11417
Oh wow, I could reproduce. This only happens for me the first time I type `a`. I think this is a Chromium or Electron issue because I can reproduce in the native `input` elements of the search viewlet. I am thinking this must be happening for you in Chrome too?

[2016-09-02 13:17] bpasero commented on #6750
I am still seeing this though I am not sure if it is terminal related.

[2016-09-02 13:46] isidorn commented on #6210
This is fixed with the new svg we are usign for the twisty

[2016-09-02 13:46] #6210 closed

[2016-09-02 13:48] isidorn commented on #7356
Closing as 'do not plan to fix'. Will reopen if users complain about this behavior.

[2016-09-02 13:48] #7356 closed

[2016-09-02 13:51] isidorn commented on #2306
This is improved now as we show the function name in the hover title

[2016-09-02 13:51] #2306 closed

[2016-09-02 13:56] aeschli opened #11453 "[explorer] folder icon is always expanded"
- drag a file from a folder to top level
- The folder icons in the explorer are always open, even if the twisty is collapsed

[2016-09-02 13:58] whitecolor opened #11454 "Auto-completion for `import from '..'` file address"
It would be nice if editor provided auto completion for `import from` file names

![image](https://cloud.githubusercontent.com/assets/736697/18206189/fc11d1ba-713e-11e6-93a6-dd9ff88e52d5.png)

[2016-09-02 14:05] pcgeek86 commented on #3342
@aeschli Yes, it would be a bug if it still exists, but @daviwil indicated it was fixed. Unfortunately it seems it's still a problem.

Here's what I see in VSCode:

![image](https://cloud.githubusercontent.com/assets/466713/18206439/f52f3cc6-70e3-11e6-8bf6-da201fb607aa.png)

Here's what I see in PowerShell ISE:

![image](https://cloud.githubusercontent.com/assets/466713/18206445/fb43c3a2-70e3-11e6

[2016-09-02 14:06] #11453 closed

[2016-09-02 14:08] aeschli commented on #11453
@bpasero I found reproducible steps...

[2016-09-02 14:09] jrieken opened #11455 "find a better way to cache objects between main and ext host"
In the extension host we often cache objects for a certain period of time. For instance those are command arguments, completion items and code lenses that need resolving, code action etc. We employ some sketchy mechanism to cache and clear them - mostly as long until the next request comes in. That has issues if you make requests if you make request in parallel and needs for a better solution

[2016-09-02 14:13] egamma opened #11456 "Hide the tsdk_version setting from the user"
Currently there are 2 similar setting for defining the TS version:

![image](https://cloud.githubusercontent.com/assets/172399/18206676/02b90e14-7128-11e6-9220-807124c341d9.png)

To make this more clear we should hide the development setting tsdk_version.

[2016-09-02 14:14] jrieken commented on #10061
<img width="410" alt="screen shot 2016-09-02 at 16 13 16" src="https://cloud.githubusercontent.com/assets/1794099/18206731/3ca048a4-7128-11e6-8b6c-3d203be8b74f.png">

Something is still wrong. Next try in September...

[2016-09-02 14:15] bpasero opened #11457 "Windows 10: integrated terminal cut off to the top"
I am on latest insider and when I open the integrated terminal I see the top is being cut off:

![image](https://cloud.githubusercontent.com/assets/900690/18206750/53fedbb4-7128-11e6-9e97-2556728af95b.png)

Not happening in 1.4:

![image](https://cloud.githubusercontent.com/assets/900690/18206758/631a5be6-7128-11e6-9bc0-b352c7f4505c.png)

[2016-09-02 14:16] daviwil commented on #3342
It was fixed in our new syntax definition in VS Code 1.3 but we had to pull it back out in 1.4 due to other bugs that were severely impacting user experience.  We're going to start fixing up the new syntax definition over at https://github.com/PowerShell/EditorSyntax and hopefully bring it back within the next couple of VS Code releases.

[2016-09-02 14:19] #10061 closed

[2016-09-02 14:19] jrieken commented on #10061
Actually, not true. The two provider I use have different ranges

[2016-09-02 14:21] #11456 closed

[2016-09-02 14:22] gsaadeh commented on #10804
That is great news! Love the new feature!

[2016-09-02 14:23] davemillerpublix commented on #9947
thank you KieFerrm. this is answer I was hoping for. the shaming from the others is kind of touching that they care so much.

[2016-09-02 14:27] townivan opened #11458 "Expand Selection To Tag (Ctrl + Shift + A)"
Working with HTML, I found this "expand selection to tag" feature very useful on other editors.

I'd LOVE to have this on vscode!  Hopefully others agree.

![expand select to tag](https://cloud.githubusercontent.com/assets/6314163/18207095/a3097d58-70f7-11e6-88b8-06d718e96b5c.gif)

If your cursor is anywhere on the lorem line after the first < then Ctrl + Shift + A will select just lorem ipsum.

T

[2016-09-02 14:36] aeschli opened #11459 "[settings] error in "http.proxyAuthorization""
- Open the user settings
- looks at the error view: there's an error on "http.proxyAuthorization"

If 'null is a valid value, specify `types: ['null', 'string' ]` in the JSON schema for the default value.

[2016-09-02 14:41] bpasero opened #11460 "Increase the recent folder list capacity"
_From @joaomoreno on September 2, 2016 14:17_

It's OK to only show 10 in the `File > Open Recent` menu, but we should't limit ourselves to only 10 recent folders when going through with <kbd>Ctrl R</kbd>.

_Copied from original issue: Microsoft/vscode-vsce#122_

[2016-09-02 14:43] #11459 closed

[2016-09-02 14:55] jrieken commented on #10824
@ramya-rao-a Since this is an issue with many comments can you please spell out your exact steps

[2016-09-02 15:07] dbaeumer commented on #11294
Verifying...

[2016-09-02 15:16] dbaeumer opened #11461 "Do not follow circular symlinks when auto expanding folders"
- VSCode Version: 1.5 Insider
- OS Version: Window 10

Steps to Reproduce:
1.  Workspace folder
2.  Set up a cylic link between folders using mklink /D (only available in the cmd.exe under Administrator)
3. Open the workspace folder

You get:

![capture](https://cloud.githubusercontent.com/assets/1931590/18208768/0b8bda86-7131-11e6-8769-5d6cdd158ef9.png)

[2016-09-02 15:18] dbaeumer commented on #11294
Verified. However opened: https://github.com/Microsoft/vscode/issues/11461

[2016-09-02 15:19] MLefebvreICO commented on #9351
This seems to have come back ...
It's happening again in `1.5.0-insider`

[2016-09-02 15:20] octref commented on #11321
Sorry just see it here. Thanks for adding it. I'll open an issue when I'm in office.

[2016-09-02 15:20] isidorn opened #11462 "Debug console"
This item is intended as a discussion for the future of the debug console. Currently we use the tree to represent all elements in the debug console. This has worked well thus far but has certain limitations. The benefit of using the tree is that we can easily render complex elements - the ones that have children. The tree also allows us to lazily fetch the children of each element and is virtualis

[2016-09-02 15:23] dbaeumer commented on #11461
Same when using junction command.

[2016-09-02 15:26] aeschli opened #11463 "[icon themes] qualify icon theme id to avoid conflicts"
The change of an id conflict is high in particular with themes like seti.

[2016-09-02 15:27] wallverb commented on #11439
https://github.com/Microsoft/vscode/issues/7817

[2016-09-02 15:27] dbaeumer opened #11464 "Duplicate files appear when cyclic symbolic links are created using the junction command"
- VSCode Version: 1.5 Insider
- OS Version: Windows 10

Steps to Reproduce:
1. create a cyclic symbolic link dependency using the junction command (need to download from MS).
2. have a file abc.txt in that cycle
3. Ctrl+P abc.txt

You get:

![capture](https://cloud.githubusercontent.com/assets/1931590/18209093/86f347da-7132-11e6-8d57-d14cad21e6ab.png)

[2016-09-02 15:27] #11463 closed

[2016-09-02 15:34] zaus commented on #1046
It's just weird that this is the only app I've ever seen that lets you type that _doesn't_ let you drag text as well.  Even web browsers let you drag text.

[2016-09-02 15:40] alefragnani commented on #7019
@bpasero yes, I'm already using it as @jrieken [suggested in May](https://github.com/Microsoft/vscode/issues/7019#issuecomment-222448065) :+1:

I think the issue remained open not based in the original post (about _preserve focus_) but because of [expose grouping API](https://github.com/Microsoft/vscode/issues/7019#issuecomment-222484365). It lost the **June** tag/milestone and only last week new

[2016-09-02 15:43] jrieken commented on #7019
Let's track the grouping in a new item.

[2016-09-02 15:43] alexandrudima opened #11465 "Smoke Test: Warning in default settings"
![image](https://cloud.githubusercontent.com/assets/5047891/18209610/c801646c-7134-11e6-924d-0a79b543df1e.png)

[2016-09-02 15:44] jrieken commented on #11050
@aeschli Apart from the file names what should we use there? The key in the object literal which stores all snippets? Do we always have that?

[2016-09-02 15:47] alexandrudima opened #11466 "Smoke Test: Text inside suggestions is not highlighted (Windows)"
![intellisense-highlight](https://cloud.githubusercontent.com/assets/5047891/18209712/3ce528e0-7135-11e6-997c-fe1ea8ec3056.gif)

[2016-09-02 15:51] aeschli commented on #11465
duplicate of #11459

[2016-09-02 15:51] #11465 closed

[2016-09-02 15:55] jrieken commented on #11402
The idea is that you can use that function to show workspace relative paths in the UI. that's how the funny default came in - cos then you wanna see the full path

[2016-09-02 16:00] 1hub commented on #11417
Yes, ˝ is typed only before first typed character, not before each.
Chrome: No. I'm using several editors based on similar technologies like Atom, several browsers (Chrome as default), CES CSQ is my only keyboard and I never saw this behaviour except in VS Code.

[2016-09-02 16:15] bpasero commented on #11461
@dbaeumer what is the bug actually? we do the same as the native windows explorer. we typically try to show the real situation as it is on disk and not hide something from the user.

Closing as designed unless you found an actual issue in the explorer doing so.

[2016-09-02 16:17] bpasero commented on #11462
Can we not start with option 1 and introduce more widgets once we have usecases for it?

[2016-09-02 16:19] bpasero commented on #11464
Moving to @chrmarti to consider once we revisit the solution on Windows. I am still surprised that the node.js cyclic link detection does not protect against this case but maybe fs.realPath() does not return something smart here.

[2016-09-02 16:28] Tyriar commented on #11431
There is meant to be a symlink in `/usr/bin`, created here https://github.com/Microsoft/vscode/blob/master/resources/linux/rpm/code.spec.template#L33

@joaomoreno can you do a `ls /usr/bin | grep code`? I'll try repro when I get to the office

[2016-09-02 16:30] octref opened #11467 "Debug console should compute colored output's length correctly"
- VSCode Version: 1.5.0
- OS Version: OS X 10.11.5

Steps to Reproduce:
1. Clone https://github.com/Microsoft/vscode-node-debug
2. `npm install && gulp build`
3. Run tests

![](https://cloud.githubusercontent.com/assets/4033249/18183174/fefbbbe0-7047-11e6-9289-4b9e563d43e7.png)

When going to `launch.json` and remove `--colors` from `mocha`, it works fine:

![image](https://cloud.githubusercontent

[2016-09-02 16:31] Sequoia commented on #11413
@jrieken I'm not sure if you were suggesting the markdown `<http://short.link.style>` but that doesn't seem to work either.
![screenshot 2016-09-02 12 29 41](https://cloud.githubusercontent.com/assets/317498/18210939/097f82c4-7109-11e6-85e1-d95e40c23d89.png)

[2016-09-02 16:31] alefragnani opened #11468 "Expand PickList to support *grouping*"
Originally reported in https://github.com/Microsoft/vscode/issues/7019#issuecomment-222484365

The idea is to show items in the pick list, just like _Go to Symbol_, where you have some kind of groups of items (that appears when you type '@:' in the pick list)?

![653e93ac-264a-11e6-8dda-4c0af353f65c](https://cloud.githubusercontent.com/assets/3781424/18210934/61b60e10-7111-11e6-8008-41ccf1f45e79.p

[2016-09-02 16:32] jrieken commented on #11466
We always try to compute highlights based on the label [first](https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/suggest/common/completionModel.ts#L136) and then fallback to the [filterText](https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/suggest/common/completionModel.ts#L141).

It seems that the JSON mode always replaces the leading quote character meani

[2016-09-02 16:34] jrieken commented on #11466
@aeschli Insight why JSON replaces the quote? Do you have ideas how else this should work?

[2016-09-02 16:36] jrieken commented on #11413
Yeah, that's because the JSON extension 'ghetto escapes' all markdown by putting it into code block

[2016-09-02 16:38] #11439 closed

[2016-09-02 16:39] Tyriar commented on #11457
Duplicate #11184

[2016-09-02 16:39] #11457 closed

[2016-09-02 16:39] jrieken commented on #11423
@joaomoreno I believe we score against the [wrong](https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/suggest/common/completionModel.ts#L152) string. Instead of label we should score against the `filterText`. My bad, feel free to reassign

[2016-09-02 16:40] vscodeerrors opened #11469 "Assertion failed (item already registered: variable:variable:variable:scope:1:Local:1000:response:users:[0])"
Issue Id: <b>2ad1c8f9-f86a-7e63-b860-a35889cfee27</b><br /><br />*Versions* <br />- 1.5.0-insider (9/1/2016 6:06:23 AM)<br />*Stack* <br />Error: Assertion failed (item already registered: variable:variable:variable:scope:1:Local:1000:response:users:[0])<br />    at Object.n [as ok] (<br />    at t.register (<br />    at new t (<br />    at <br />    at Object.g [as _notify] (<br />    at Object.W

[2016-09-02 16:42] octref commented on #11232
@sandy081
Hi I'm also working a bit on the Vim extension. I was able to verify:

- <kbd>ctrl</kbd> + <kbd>e</kbd> Scroll window 1 line downwards
- 🔢 <kbd>ctrl</kbd> + <kbd>e</kbd> Scroll window N lines downwards
- <kbd>ctrl</kbd> + <kbd>y</kbd> Scroll window 1 line upwards
- 🔢 <kbd>ctrl</kbd> + <kbd>y</kbd> Scroll window N lines upwards

Adding `verified`.

[2016-09-02 16:42] Tyriar commented on #3947
I actually remade this issue and put a PR out so closing in favor of #10984

[2016-09-02 16:42] #3947 closed

[2016-09-02 16:45] kieferrm commented on #11469
The same insider build generated a considerable number of these exceptions.

@bpasero pointed out that this could either be that the same object is being used multiple times in a tree in a debug view or that the function that generates the IDs is not sufficiently discriminating.

Let's start with debugging.

[2016-09-02 16:48] Tyriar commented on #11184
I can't reproduce on my Windows 10 machine

`"editor.fontFamily": "Hack"`

![image](https://cloud.githubusercontent.com/assets/2193314/18211301/db12ae3c-70f1-11e6-943d-d9ca7d6c9dde.png)

Default font:

![image](https://cloud.githubusercontent.com/assets/2193314/18211354/170de168-70f2-11e6-9c2d-705b70e42139.png)

Resizing vertically seems to work just right. @alexandrudima @bpasero is this by chanc

[2016-09-02 16:55] kieferrm commented on #11469
Here is another stack track that might give a hint:
Error: Assertion failed (item already registered: variable:variable:scope:1:Fermeture:1002:slaveClientsList:length)
at Object.n [as ok] (out/vs/workbench/workbench.main.js:5:8389)
at t.register (out/vs/workbench/workbench.main.js:36:28030)
at new t (out/vs/workbench/workbench.main.js:36:28784)
at out/vs/workbench/workbench.main.js:36:31919
at Obj

[2016-09-02 16:59] Sequoia commented on #11413
Feature request? 🙀  I thought this was a regression (it used to work). 😅

Either way thanks for looking into this. My thoughts:

## Reasons to revert to previous behavior (parse & render markdown and optionally jsdoc comments)
* Makes the feature *much* more powerful: the intellisense with example code, links, bulleted lists etc. are just *really* useful. I've been using it as a selling point for

[2016-09-02 16:59] BenjaVR commented on #10978
@alexandrudima for me it is fixed with the insiders build!

[2016-09-02 17:02] Sequoia commented on #11413
@aeschli is this per jsonschema spec or VS Code project conventions or...? The standard/metaschema merely say it's text, and markdown strings are text . . . as I read it there's nothing forbidding markdown there.

[2016-09-02 17:16] wallverb opened #11470 "TS Watch task build indicator stops working"
- VSCode Version: Code - Insiders 1.5.0-insider (5fb5131a7d8ab0245af3653fca77f31d7d81d735, 2016-09-02T15:34:16.539Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:

Not sure how to reproduce - it just stops showing up at some point - might be related to starting debugger. The only way to bring it back is to kill watch task and start again

![j2ms44pseq](https://cloud.githubusercontent.com/as

[2016-09-02 17:30] stephenlaughton commented on #7426
I am also experiencing this same issue with similar Console.app logs. Also resorting to overwriting every time I need to update.

[2016-09-02 17:40] chryw commented on #10998
@isidorn I don't think it's possible to make the plug still visible in such a small square like the current stop icon. I attached exactly the same size as you see in the mockup.
![image](https://cloud.githubusercontent.com/assets/7075677/18212692/61a7da2e-70f9-11e6-914b-7afda0be88cf.png)

[DetachConnection_VSCodeVersion.zip](https://github.com/Microsoft/vscode/files/452612/DetachConnection_VSCodeV

[2016-09-02 17:41] waderyan commented on #11044
@FLWrd please share your tasks.json file.

This is what mine looks like.

[code]

My guess is that you configured your task to run in watch mode, which is why the task is still running - its watching.

![image](https://cloud.githubusercontent.com/assets/2449568/18212764/c184f198-70f9-11e6-8287-c208009bf444.png)

[2016-09-02 18:01] mrmlnc commented on #1765
@aeschli, as I understand it, this issue is related to the bug in [vscode-textmate](https://github.com/Microsoft/vscode-textmate)?

I ask this because I can fix Jade tmLanguage in VS Code. Does it make sense to do it?

[2016-09-02 18:34] dbaeumer commented on #11454
This is on the plan for TS. see https://github.com/Microsoft/TypeScript/pull/9353

[2016-09-02 18:34] #11454 closed

[2016-09-02 18:38] dbaeumer commented on #11443
It is the build-in JavaScript support. you can turn it of via `javascript.validate.enable= false` setting

[2016-09-02 18:38] #11443 closed

[2016-09-02 18:45] genzoman opened #11471 "Allow renaming of tabbed terminal windows"
Being able to rename the tabs of your terminal would be a big help.

[2016-09-02 18:53] ehouarn-perret opened #11472 "Allow to dock editors, views and panels anywhere in the workbench"
Would be nice if tabs (inc. Terminal) could be arranged with a docking layout component like, it's kinda frustrating to not be able to have the layouts we are used to work with.

[2016-09-02 19:12] dalexander01 commented on #9972
@AnimaMundi can you give a better explanation how to do this? I am new to vscode. How do you change workspace settings? Also it's a little weird to me that this is needed. Are their plans to uplift vscode to work with Typescripts new way of doing typings thought npm without having to update workspace setttings?

[2016-09-02 19:43] bitwiseman commented on #11069
I would expect you to keep this issue open until that one is fixed.

[2016-09-02 19:45] Tyriar commented on #11448
Some questions:

- What shell are you using?
- Is the terminal generally slow?
- Can you create a gif that demonstrates the issue?

Also note that it's a design constraint that it will only scroll 1 line at a time, by pixel scrolling is not supported intentionally.

[2016-09-02 19:49] Tyriar commented on #11451
There is a PR out for this from @nholthaus #11452.

@weinand are there any debug implications when adding this as a default terminal to `parts/execution`?

[2016-09-02 19:51] Tyriar commented on #6750
I didn't do anything to resolve this but I certainly see it less now for some reason (maybe Windows only?). xterm.js is probably moving towards a virtual selection model similar to monaco which would fix this by disabling selection https://github.com/sourcelair/xterm.js/issues/207

[2016-09-02 20:01] Tyriar commented on #11431
I managed to repro this when installing via the UI package manager but not when installing via the command line. Note that installing via the command line (`yum`) requires `sudo`

[2016-09-02 20:16] Kri-Ol opened #11473 "With lines wrap, I cannot jump to physical EOL, only to logical one"
- VSCode Version:1.4
- OS Version:Windows 10, Linux

Steps to Reproduce:
1. File with long lines, wrapped in editor
2. <End> will move cursor to logical EOL, not physical EOL

[2016-09-02 20:24] rebornix commented on #11232
This command works perfectly with VSCodeVim now (after we did a little hacking to VSCodeVim's mechanism). @sandy081 thanks for all the contribution and turnarounds, we made it as we promised at the beginning.

[2016-09-02 20:39] joaomoreno commented on #11459
Thanks @aeschli!

[2016-09-02 20:41] joaomoreno commented on #7426
@ryanmagoon @stephenlaughton Can we take a look at your logs too?

[2016-09-02 20:41] Tyriar commented on #11431
Taking it off August since this is not a regression, at least not in the past month.

[2016-09-02 21:22] gregvanl opened #11474 "Typo in Terminal.show "preservceFocus" should be "preserveFocus""
- VSCode Version:1.5.0
- OS Version:Windows 10

One side effect of this typo is that since the @param comment name doesn't match, the description is blank in the generated vscode-api.md.

https://vscode-vnext.azurewebsites.net/docs/extensionAPI/vscode-api#Terminal

[2016-09-02 21:24] roblourens opened #11475 "Find/Replace button in search pane opens a preview diff after applying the replace"
- VSCode Version: 1.4 or 1.5-insiders
- OS Version: Win/OSX

Steps to Reproduce:

1. Open the find pane on the side and do a global find/replace for anything
2. There are a list of results. When you click an item in the list, it opens a diff editor showing the effect of the find/replace. This is correct.
3. When you hover the cursor over an item, a button appears on the right side which you can cl

[2016-09-02 21:58] #11474 closed

[2016-09-02 22:00] weinand commented on #11451
Currently every debug extension is using their own implementation of extern terminal support (if any). So this issue is a problem of the C++ debugger and I will move the issue.

However, in the August milestone we've introduced new debug protocol API that helps debug extensions to use the integrated terminal of VS Code without having to deal with the complexity of supporting terminals on different

[2016-09-02 22:03] weinand commented on #11451
This issue was moved to Microsoft/vscode-cpptools#200

[2016-09-02 22:03] #11451 closed

[2016-09-02 22:10] rmaheedharan commented on #11340
Great, Thank you!

On Thu, Sep 1, 2016 at 2:20 AM, Dirk Bäumer <notifications@github.com>
wrote:

[2016-09-02 22:13] AnimaMundi commented on #9972
@dalexander01 I can't speak on behalf of Microsoft, but I'd imagine they do plan to introduce support for Typescript 2.0 in vscode at some stage, but probably after it is officially released and no longer beta.

Before changing anything, make sure Typescript is installed locally in your project.
`npm install typescript@next --save`

On Windows you can reach workspace settings through:
File -> Pref

[2016-09-02 22:15] BenjaVR opened #11476 "PHP one-line functions syntax highlighting"
If I use one-line functions in my PHP files, they don't get highlighted. If I use new lines, the highlighting works as espected. Is it possible to fix this?

![screenshot](https://i.imgur.com/keW7JJj.png)

[2016-09-02 22:18] octref opened #11477 "Undo last commit should warn user if they have uncommited changes"
- VSCode Version: 1.5.0
- OS Version: OS X 10.11.6

Steps to Reproduce:

- Choose any git repo, add a file `test.js` with the following content

[code]

Add the file and commit it.

- Remove the second line, so the file ends up with:

[code]

- In VSCode's git viewlet, choose `Undo Last Commit`

Now the file is:

[code]

and this bit

[code]

is permanently lost.

Suggestions:

1. If user has unco

[2016-09-02 22:29] roblourens opened #11478 "Can't insert a tab at the end of a line in a jade file"
Have a jade file with this content-

[code]

Put the cursor directly after layout, content, or title, and press tab, and nothing happens. If you type a space, then you can insert a tab.

If the cursor is after the } in the last line, pressing tab will replace the braces with spaces and move the cursor next to the #.

[2016-09-02 22:32] robstoll opened #11479 "lock scroll in integrated terminal"
Would be nice if it is possible to set an option "lock scroll" in the integrated terminal (similar as in Eclipse) so that one can stop at a certain line and read on while output is written to the terminal below.
In contrast to the current behaviour where one cannot stop and the terminal keeps on scrolling down.

[2016-09-02 22:33] gregvanl opened #11480 "Markdown: indented code blocks break syntax highlighting"
- VSCode Version:1.4.0
- OS Version:Windows 10

If you have an indented header (below 2 spaces), all following Markdown does not have syntax highlighting.

[code]

[2016-09-02 22:35] vitaliyterziev opened #11481 "css float and inline-block"
- VSCode Version: 1.4.0
- OS Version: Windows 7

Steps to Reproduce:

1.  Use float with inline-block and it will mark it as nonvalid code
2.  The float property is ignored with inline-block which is not the case even in legacy engines like IE9

[2016-09-02 22:51] robstoll opened #11482 "Autodetecting gulpfile.ts tasks"
As it seems, VS Code does only detect gulpfile.js tasks but not gulpfile.ts tasks. Would be nice if it works with a .ts file as well.

[2016-09-02 23:19] alefragnani opened #11483 "How to define a _focused/pre-selected_ item in showQuickPick?"
Is there a way to use `showQuickPick` and have the same behavior as **File / Open Recent**, that shows a list of items but the _focused/pre-selected_ item is not the first (in this case, it's the second, because the first is the current folder).

I searched for something in `QuickPickItem` or `QuickPickOptions`, but didn't find anything that could do that.

Thanks in advance

[2016-09-03 00:36] roblourens commented on #11482
Wouldn't you have to compile the gulpfile.ts to a gulpfile.js first anyway?

[2016-09-03 01:18] robinbentley opened #11484 "[Question] Is it safe to adjust the language name in my extension"
Hi,

I just wanted to ask a quick question, I figured this was the best place. I made the Sass (Indented) extension and have seen since 1.3 that the built in **Scss** was renamed from **Sass** to **Scss** to reflect the actual support.

I was wondering if it would be safe for me to drop the (Indented) now and just use Sass for my extension or is there a risk it could still cause clashes or cause p

[2016-09-03 01:23] eamodio opened #11485 "[decorators] Visible whitespace conflicts with before decorator attachment"
- VSCode Version: `Version 1.5.0-insider (1.5.0-insider)` 1de4d832ccb061c13cf70eaf0221fbaa86abfbdd
- OS Version: `OS X El Capitan Version 10.11.6 (15G31)`

I'm working on a new extension [GitLens](https://github.com/eamodio/vscode-gitlens) with a feature to provide "inline" blame support to the active text editor. I have it working quite well now, except for when Visible Whitespace is enabled. See

[2016-09-03 01:41] eamodio opened #11486 "Add a show "hidden" button to the file explorer"
- VSCode Version: `Version 1.5.0-insider (1.5.0-insider)` 1de4d832ccb061c13cf70eaf0221fbaa86abfbdd
- OS Version: `OS X El Capitan Version 10.11.6 (15G31)`

I often have `node_modules` and `typings` (as well as others) hidden from the vscode file explorer, but it would be nice to be able to easily toggle them back to visible without having to edit my settings file for a transient check.

[2016-09-03 02:47] ryanmagoon commented on #7426
Sure! I’ll grab them in the morning.

--
Ryan Magoon
Sent with Airmail

On September 2, 2016 at 4:42:00 PM, João Moreno (notifications@github.com)
wrote:

@ryanmagoon <https://github.com/ryanmagoon> @stephenlaughton
<https://github.com/stephenlaughton> Can we take a look at your logs too?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https:/

[2016-09-03 02:55] drew-wallace opened #11487 "Order of edit changes in TextDocumentChangeEvent.contentChanges is reverse the order of the actual edits"
- VSCode Version: 1.4.0
- OS Version:10.11.6

Steps to Reproduce:
1. Create an edit with an insert and a remove
2. In the corresponding onDidChangeTextDocument event, look at the `TextDocumentChangeEvent.contentChanges` Notice how the order is reverse the order of the actual edit order.

[2016-09-03 04:19] ramya-rao-a commented on #10824
@jrieken I am out on vacation at the moment, no access to a computer, so cannot provide screenshots etc.
Steps:
1. Added the same snippet
2. Defined a function a() that does nothing
3. Hit tab after typing  a().then
4. No snippet is expanded, cursor moves ahead
5 Hit backspace until you reach the end of 'then', intellisense shows the option to expand snippet

I wont be in until Tuesday noon PST, s

[2016-09-03 05:12] bpasero commented on #11447
This issue was moved to Microsoft/vscode-extension-vscode#33

[2016-09-03 05:12] #11447 closed

[2016-09-03 05:15] bpasero commented on #11433
@shammelburg keybindings can be changed via settings. The current keybinding was inspired from Sublime and Atom and has been like this from day one.

Marking as UX issue.

[2016-09-03 05:16] bpasero commented on #11441
If the file is not UTF-8 you have to set the right encoding in settings. Closing, but let me know otherwise if that does not help.

[2016-09-03 05:16] #11441 closed

[2016-09-03 05:22] bpasero commented on #10761
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-09-03 05:23] bpasero commented on #10890
@spraguey you still there?

[2016-09-03 07:03] smartDataSDN opened #11488 "Refresh the vscode"
Hi,
I am facing the problem with the vscode for the refreshing the page.Just tell me how to refresh the page.

- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 6.1.7600

Steps to Reproduce:

1.
2.

[2016-09-03 07:08] roblourens commented on #11462
I'm interested in this too, and I'm not sure what you mean by 'plain HTML' in 3, and the Chrome devtools console is virtualized. Does this just mean, a new implementation that isn't based on the existing editor or tree?

[2016-09-03 07:17] isidorn commented on #11462
@bpasero I am also leaning towards that
@roblourens we did little experimenting yesterday and we got the impression that the chrome devtools console is not virtualised as it gets very slow scrolling performance for medium-large number of elements. Yes, that means a new implementation not based on existing editor or tree basically

[2016-09-03 07:17] albertsmus commented on #10761
Sorry for the delay. No the problem is the same with ascii characters also. Ihave to mention that
![screenshot with 3 diff editors](https://cloud.githubusercontent.com/assets/4593565/18223409/9417ac3e-71bf-11e6-89ab-45560a695437.png)
Bluefish editor or sublime text 2 open the file as you see at the screenshot i post below.

[2016-09-03 07:20] Luncher opened #11489 "After installing the extension will automatically disappear!"
- VSCode Version: 1.4
- OS Version: fedora21

Steps to Reproduce:

1.  code .

2.  click extension menuItem&show recommended extensions
![screenshot from 2016-09-03 15 09 02](https://cloud.githubusercontent.com/assets/5138977/18223384/89342b42-717b-11e6-8a03-46aa109b3464.png)

3. install PHP Debug&After the installation is complete, list the already installed extensions.

![screenshot from 2016-09

[2016-09-03 07:52] VojtechStep opened #11490 "View doesn't scroll with selector if there is more then one"
- VSCode Version: Code - Insiders 1.5.0-insider (6dff3f61be3c8f99bac8e9ba9a0aecef51b4dbbb, 2016-09-03T01:41:40.747Z)
- OS Version: Windows_NT ia32 10.0.14905

Steps to Reproduce:
1. Click on a spot within a document
2. Use Alt+Ctrl+(ArrowUp/ArrowDown) to create another selector instance
3. Hold ArrowUp or ArrowDown until the selectors get out of the view

Possible solution:
Make the view follow th

[2016-09-03 08:54] kevin1211 opened #11491 ""window.openFilesInNewWindow" doesn't work"
- VSCode Version:1.4.0
- OS Version:OSX 10.11.6

"window.openFilesInNewWindow" doesn't work

[2016-09-03 09:29] mrmlnc commented on #11478
Hello @roblourens,

First, this is not a bug in VS Code. Is bug in Emmet, but only in the second case. Please, assign @egamma for full answer to this issue.

Emmet thinks it's abbreviation.

**Operators:**

  * `layout` - text (is abbreviation without expanding)
  * `content` - text (is abbreviation without expanding)
  * `title` - text (is abbreviation without expanding)
  * `title` + `space` - t

[2016-09-03 09:42] pietgk commented on #7683
'no call stack available' appeared again this morning in release:
Version 1.5.0-insider (1.5.0-insider)
5fb5131a7d8ab0245af3653fca77f31d7d81d735
2016-09-02T15:32:08.421Z

heavy async context and a breakpoint on gives the 'no call stack available' error, breakpoint off it continues without the 'no call stack available' .

[2016-09-03 09:57] glen-84 commented on #11488
`F1` -> `Reload Window` ?

[2016-09-03 10:01] bpasero commented on #9358
@pcherkasova We are releasing preview releases of the next stable VS Code version for everyone to try and give feedback. These preview releases are not 100% tested and might be unstable but contain our latest features and bugfixes. You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-03 10:02] bpasero commented on #6912
@bennyscetbun do you still see this?

[2016-09-03 12:16] egamma opened #11494 "Add 'Go to Symbol' to the 'Go' menu"
The 'Go' menu currently includes `Go to Symbol...` but it doesn't include `Go to any symbol by name` and we should add it.

To do so we should rename `Go>Go to Symbol` to `Go>Go to Symbol in File` and then add `Go>Go to Symbol in Workspace`

[2016-09-03 12:52] robstoll commented on #11482
no, you just require ts-node (as far as I can tell, I am a beginner in typescript)

[2016-09-03 14:03] whitecolor opened #11495 "Helper for interfaces/types structure"
Here TS is able to detect which type of object is required, if I don't pass `url` property here it errors:
![image](https://cloud.githubusercontent.com/assets/736697/18225276/7ba35f74-7208-11e6-945a-cd05d55cf9a6.png)

But how to get help on the current interface/type which fields there present/required/etc?

[2016-09-03 14:30] calebeaires opened #11496 "html.format.unformatted has no affect to closed tags"
- VSCode Version: 1.4.0
- OS Version: MacOS

Steps to Reproduce:

1. Change value to ```"html.format.unformatted"``` to ``` null``` on settings.json
2. Create a single html document with span tags
3. Format command to the Initial span tag ```<span>``` works, but not to the close tag ```</span>```
4. **but** when using just one value like ``` "html.format.unformatted": "abbr" ``` it works

[2016-09-03 15:32] rdwatters commented on #7343
I'm having this same issue and wondering if there is a documented solution anywhere. Here is my `launch.json`:

[code]

When trying to run even a simple `console.log("Hello world");` in `app.js` from within that directory in the debugger, I get `ERROR: Cannot launch debug target (spawn node ENOENT).` Any help would be greatly appreciated. Trying to learn node through a Udemy course (beginner), and

[2016-09-03 15:48] egamma commented on #11250
@yanchenw

I recommend to not do this via some subscription mechanism, but your extension should generate a custom task.json and contribute to the launch.config (API for doing this will be added soon).

My recommendation would be to write the service functions as a node module that you then consume in VS Code from your extension as a dependency and in VS you consume the service through ServiceHub.

[2016-09-03 15:50] mjarte opened #11497 "Integrated Terminal error = El proceso del terminal finalizó con el código de salida: 1"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 6.1.7601

Steps to Reproduce:

1.
2.

[2016-09-03 15:52] egamma commented on #11429
@sharadcodes which version of TypeScript do you have installed, are you using the typescript.tsdk setting to point to a new version of TypeScript than 1.8.1 that is currently used in VS Code.

@dbaeumer since there is no linter involved I assume that @sharadcodes refers to diagnostics from the language server. So I'm assigning this issue back to you.

[2016-09-03 15:54] mjarte commented on #11497
No function Integrated Terminal....

[2016-09-03 16:05] lejun opened #11498 "Autocomplete not working as expected"
- VSCode Version:1.4.0
- OS Version:mac os 10.11.5

Ready to work:
[code]
tsconfig.json
[code]

example:
1.
[code]
<img width="625" alt="ok tips" src="https://cloud.githubusercontent.com/assets/4397814/18225933/1988820e-7232-11e6-9918-8bd5e7c4758b.png">

2.
[code]
<img width="535" alt="error tips" src="https://cloud.githubusercontent.com/assets/4397814/18225941/35077792-7232-11e6-827b-16fcf31e2735

[2016-09-03 16:12] rogerpence opened #11499 "window.reopenFolders: "none" not working in 1.4.0"
- VSCode Version: 1.4.0
- OS Version: Ubuntu 16.04.1

Steps to Reproduce:

1. Add to user settings (settings.json):  "window.reopenFolders": "none"
2. Close VSCode.
3. Change directory to a project. Open VSCode with $ code .
4. It always opens with files previously opened for that project (including those in child folders)
5. Opening VS Code from Launcher opens VS Code without any files open. This

[2016-09-03 16:23] erichiller opened #11500 "Keybindings SuggestWidgetFocus /or/ contextual Enter to select"
- VSCode Version: I'm on 1.4 but I would suppose any
- OS Version: Win 10, OSX

Steps to Reproduce:
1. Turn on _QuickSuggestions_
2. Try with vs. without `acceptSelectedSuggestionOnEnter`

To preface... I had to turn off `acceptSelectedSuggestionOnEnter` (by setting `"editor.acceptSuggestionOnEnter": false,` in my settings.json file) because my fingers are trained to type enter regardless of what

[2016-09-03 16:41] bpasero commented on #11499
@rogerpence if you start with `code .` you override the setting. The setting only has an impact for when you run `code` without argument.

[2016-09-03 17:32] rogerpence commented on #11499
Thank you. I woulda sworn that wasn't the behavior before the last update or so. But it's not a big deal. VSCode is great. Very good job by everyone!

[2016-09-03 17:32] #11499 closed

[2016-09-03 18:39] ulitiy opened #11501 "Randomly starts highlighting errors that are not present. Reboot helps."
- VSCode Version: 1.4.0
- OS Version: 10.11.2

Steps to Reproduce:

1. Do random things
2. It just occurs.

[2016-09-03 18:50] ramamurthynagaraj commented on #10386
@alexandrudima Created a new PR incorporating your suggestion. Please let me know if there are any issues.
Also was trying to add tests at `findController.test.ts`. It doesn't seem to be running with `./scripts/test.sh`. How do we run those tests?

[2016-09-03 19:00] roblourens opened #11503 "showInputBox - initial value is not returned, if user presses enter without making a change"
[code]

If the user presses enter without typing, '' is returned. If they type anything, the correct value is returned.

OSX, 1.5.0-insider but not 1.4.

[2016-09-03 19:09] HolgerJeromin opened #11504 "Write access problems are not handled clean"
- VSCode Version: 1.4.0
- OS Version: Debian stable 64 bit

Steps to Reproduce:
1. Open a file which is only readable for this user
2. Change something and try to save. Bam! A warning is shown:
![image](https://cloud.githubusercontent.com/assets/2410353/18227121/294116a6-721a-11e6-98c2-97afe8f695fb.png)
3. Click on "retry" and visual studio is happy again, the dialog was closed. But the file is no

[2016-09-03 19:10] roblourens commented on #11503
7ba701b?

[2016-09-03 20:23] 5003 commented on #5577
consistency error: https://github.com/5003/vscode/commit/c5adff591e36ef4b4116a02ee674df9a9b455d53

[2016-09-03 22:34] robertohuertasm commented on #11287
Hi @bpasero, @isidorn. vscode-icons does currently support tabs and "open editors" icons. I was under the impression, after talking with @aeschli by email that this was somehow on the roadmap. I fully understand that this is not going to be released by Sept 12th but I thought that it was more or less to be released by October.

I'm willing to avoid code injection but I would like to keep users wit

[2016-09-03 22:36] robertohuertasm commented on #11287
@isidorn I think you're confusing vscode-icons with the new standard icons provided by the new icons extension point. Check out [this](https://marketplace.visualstudio.com/items?itemName=robertohuertasm.vscode-icons)

[2016-09-03 22:59] victorhooi commented on #101
I've had VS Code crash on me a few times, and lost content...*sigh*.

Is this something that's on the roadmap?

[2016-09-03 23:01] webglider opened #11505 "Javascript Intellisense not working"
- VSCode Version: 1.4.0
- OS Version: Ubuntu 14.04

I followed all the instructions on the Intellisense for JS setup page. I have a project folder which contains the following jsconfig.json file:
`{
	"compilerOptions": {
		"target": "ES5"
	},
	"exclude": [
		"node_modules"
	]
}`

Also installed typings and dt~node (with --global) using it in my project directory.
Now when I try to edit a js file i

[2016-09-03 23:32] rdandy commented on #92
@ElliotChong  Save my day! Thanks!

[2016-09-04 01:19] Jakobud opened #11506 "Feature Request: Remove extension command registeration from package.json"
Currently, you register an extension command by defining it in the `package.json` and also registering it within your code.

My request is to remove commands from needing to be defined in `package.json` contributions and make them definable and registerable only within your code.

This would open up the door for new functionality and flexibility and dynamic extension command registrations. For exa

[2016-09-04 02:43] wallverb opened #11507 "Ability to search integrated terminal"
It would be great if one could search within integrated terminal and debug console

[2016-09-04 03:53] saptarshi007 opened #11508 "Not able to open IDE"
- VSCode Version: 1.4.0
- OS Version: WIndows 7

Steps to Reproduce:

1. always its unexpectedly closing with the error 'you can reopen the window to continue where you left off'
2.  I reinstalled the app. But still facing same issue.
Kindly help

[2016-09-04 04:22] roblourens opened #11509 "List all context keys in "default keyboard shortcuts""
I don't see a list of them documented anywhere, so it might be helpful to list them at the bottom of the default keyboard shortcuts page, like the commands are. See #9988

[2016-09-04 05:35] anthonyborell opened #11510 "Feature Request: Add Task Tags such as TODO, NOTE, HACK, FIXME, etc"
Couldn't find any documentation on this or any good extensions. Would be amazing if we could have task tags, something that could be user defined/customizable inside settings.json

Similar to:
[code]

[code]

The TODO comment would then be highlighted in the color chosen in the settings file, for this example "Green".

[2016-09-04 08:30] AurevoirXavier opened #11511 "If it can support Haskell that will be much better!!!"
- VSCode Version:
- OS Version:

Steps to Reproduce:
1. No

[2016-09-04 08:32] bpasero commented on #11494
![image](https://cloud.githubusercontent.com/assets/900690/18229911/eb84d764-728a-11e6-9224-1a86cc93ee1f.png)

[2016-09-04 08:51] XVincentX commented on #11511
You should try to look for [plugins](https://marketplace.visualstudio.com/items?itemName=justusadam.language-haskell)

[2016-09-04 08:57] bpasero commented on #9432
What seems to help people is to run `code --ignore-gpu-blacklist --disable-gpu-sandbox`

[2016-09-04 08:59] bpasero commented on #9673
This might be related (fixed in Chrome 52): https://bugs.chromium.org/p/chromium/issues/detail?id=619981

[2016-09-04 10:03] daveredfern opened #11512 "Position aware suggestions on intellisense"
- VSCode Version: 1.4.0
- OS Version: 10.11.5

It would be great if the suggestions were related to the location you're typing, for example if in css i do `display:` the suggestions would be `block, inline-block, flex, inline` etc. At the moment it seems a free for all.

![image](https://cloud.githubusercontent.com/assets/183473/18230318/e266869c-728e-11e6-885d-5cc2b0970d08.png)

Thanks and keep u

[2016-09-04 10:03] #11512 closed

[2016-09-04 10:04] daveredfern commented on #11512
Found duplicate here #7273

[2016-09-04 10:05] daveredfern commented on #7273
I'd like this too. For example in CSS if I do `display:` it returns valid available options such as `block, inline-block, flex, inline`.

![image](https://cloud.githubusercontent.com/assets/183473/18230340/74916fd2-728f-11e6-9eb6-c7a546eb6e66.png)

Thanks!

[2016-09-04 10:07] pankleks opened #11513 "Need to refresh page in Chrome for breakpoints to hit"
- VSCode Version: 1.4.0
- OS Version: Windows 10
- Chrome debug ext: 0.5.2

When debugging app, Chrome is opened, VS debug console shows JS console outputs, but breakpoints does not fire.
When I go to Chrome and hit refresh - all is fine.

I'm running clean session of Chrome, VS is opening Chrome.

[2016-09-04 10:45] DanTup opened #11514 "How to configure `onEnterRules` for language config?"
I'm trying to add functionality to Dart Code that automatically inserts `/// ` for you if you're typing a comment; eg.:

[code]

Should result in:

[code]

There are some properties on the `LanguageConfiguration` interface that look like they're to support this (`onEnterRules`), but I've been playing around and been unable to make them work. I can't find any existing code that uses these, so I'm n

[2016-09-04 11:02] asadsahi opened #11515 "VSCode and Webpack module casing issue"
- VSCode Version:
1.4.0
- OS Version:
Windows 10
Node: 6.3.1

Steps to Reproduce:

1. Open VScode
2. Open terminal

![image](https://cloud.githubusercontent.com/assets/3470892/18230541/a2ef75a2-7296-11e6-80bf-564cf948e786.png)

Running webpack command with drive letter as lowercase c, causing warning on javascript modules:

![image](https://cloud.githubusercontent.com/assets/3470892/18230564/01697

[2016-09-04 11:20] mrmlnc commented on #1559
Fixed by VS Code version 1.5.0.

[2016-09-04 11:20] DanTup opened #11516 "It's not possible to use `(` for accepting completion suggestions"
This is really a dupe of #11016 but that's been closed but the provided solution doesn't work.

If you do this (as provided as an example):

[code]

then pressing `.` will automatically commit the selected item in the completion. However, if you try to use `(` instead of `.` then it doesn't work.

Probably related, the [Accepted Keys](https://code.visualstudio.com/docs/customization/keybindings#_a

[2016-09-04 11:52] ppowalla opened #11517 "Support VIM style navigation in trees like the explorer"
- VSCode Version: 1.4
- OS Version: Windows 10

I like Visual Studio Code and am thinking about replacing VIM. But one thing is still missing that is very important for me: navigating in the explorer with NERDTree keybindings. Is there a plan to make the keybindings in the explorer configurable? This would be great!

Thanks!

[2016-09-04 12:09] pankleks opened #11518 "Support for file links"
- VSCode Version: 1.4
- OS Version: Windows 10

It would be nice addition to add files as links from outside workspace (I think it's possible in standard VS).

I wish to reuse some files between two workspaces in following dir sturcture:
- workspace 1
  - files
  - links to files from ../shared
- workspace 2
 - files
 - links to files from ../shared
- shared
  - files

[2016-09-04 12:21] webglider commented on #11505
Issue resolved, there were some large video files in my project folder. Shifting them to another folder and excluding it in jsconfig.json did the job. Wonder why autocomplete is being affected by video files o.O

[2016-09-04 12:26] aminroosta commented on #11127
@sandy081 As you know i'm not a fan of `cursorMove` at all 😄

But i found a bug while working around every single principle in VsCodeVim to get things done.

[code]

`noOfLines` has no effect, none! It just gets ignored.

[2016-09-04 12:32] joaomoreno commented on #7343
@rdwatters Which version are you running on? This has been long fixed.

[2016-09-04 13:02] sharadcodes commented on #11429
@egamma TypeScript Version 1.8.10 and `"typescript.tsdk": null`

[2016-09-04 13:05] DanTup opened #11519 "Is there a list of all stable commands we can call?"
In the help for `hide` on a `TextEditor` it says:

[code]

However `closeActiveEditor` is not listed on the [Complex Commands API](https://code.visualstudio.com/docs/extensionAPI/vscode-api-commands) page. Is this just an oversight, or is that page not a full list of commands we're allowed to call?

[2016-09-04 14:33] micktu opened #11520 "Add JS format option to insert space before parentheses in function definition."
VSCode version: 1.4.0

This is required by standardjs.com guidelines, but is not possible at the moment.

Example: ` function myFunc () {`

[2016-09-04 14:54] xwvvvvwx opened #11521 "How does your chrome-debugger integration work"
I'm working on a typescript / electron boilerplate project [here](https://github.com/xwvvvvwx/typescript-react-electron-boilerplate), and I would like to include a `.vscode/launch.json` that can launch and attach to the app for debugging, but I can't get it working properly (app launches, but code execution does not stop on breakpoints).

I was playing around with the vscode repo and I noticed tha

[2016-09-04 14:55] #11521 closed

[2016-09-04 15:15] bladnman commented on #869
always having Sublime open so I can search specific files that VSC won't let me is quite painful. A negative pattern here sounds rather straight-forward.

[2016-09-04 15:19] arashbehmand commented on #5292
+1

[2016-09-04 15:34] WebFreak001 opened #11522 "Add postDebugTask to debugger launch.json"
There is preLaunchTask already which runs a task right before debugging, it would be cool also having a `postDebugTask` which would run a task when finishing debugging.

Users could then provide a custom start server and stop server task for example.

[2016-09-04 16:18] Antranilan commented on #11346
0.9.0

[2016-09-04 16:19] DanTup opened #11523 "Running tests from command line crash"
- VSCode Version: 1.4
- OS Version: Windows 10

We have tests running fine on AppVeyor, just by doing this:

[code]

Everything works just great! However, I want to run the same on my local machine (I'm trying to see if I can get coverage reports, so it'll need a lot of faffing around) but I get this:

[code]

The only significant difference between my machine and AppVeyor that I can think of, is

[2016-09-04 16:52] jesperstarkar opened #11524 "[folding] collapse block comment shortcut"
When writing a lot of documentation pr. method, and for each variant when overloading methods, you end up with a tonne of green comment blocks and hardly readable code after a just a short while.

I would love a shortcut that collapses all multiline comments in the editor.

[2016-09-04 17:09] whitecolor commented on #11398
See this thing because of method `switch`, comment is not higlighted:
![image](https://cloud.githubusercontent.com/assets/736697/18232601/3f0007a4-72ec-11e6-865c-6ca09c203dda.png)

``ts`
HTTP.select()
    .map(success).switch()
   // .map(r => r.body)

[code]

[2016-09-04 17:46] dbaeumer commented on #11520
@waderyan move to TS.

[2016-09-04 17:48] dbaeumer commented on #11518
@pankleks since VS Code is file system based normal file system links should do the trick. Is there something you are missing?

[2016-09-04 17:49] dbaeumer commented on #11517
Assuming he is talking about short cuts to navigate the tree.

[2016-09-04 17:52] ppowalla commented on #11517
Well, not exactly short cuts. I would like to change the default keybindings in the tree like I can do in the editor window. So to move down I would like to use "j" and for up "k". Simply making those commands available in the keybindings-file.

[2016-09-04 17:55] dbaeumer commented on #11508
@saptarshi007 could you attach a screen shot showing this. AN can you reproduce it when starting code with --disable-extensions from a terminal.

[2016-09-04 17:58] dbaeumer commented on #11501
@ulitiy can you provide more information about what is not working. Which language are you programming in. Can you provide a screen shot or a github URL we can clone to reproduce this?

[2016-09-04 18:02] dbaeumer commented on #11488
@glen-84 thanks. Closing since he answered it.

[2016-09-04 18:02] #11488 closed

[2016-09-04 18:06] ulitiy commented on #11501
It's typescript. In webpack/tsc it works well without errors but VSC underlines errors that are not present. I have to restart the editor to make these errors disappear. It's primarily about lacking some Phaser dependency from typings.json. I'll try to record a video with this behavior.

[2016-09-04 18:09] dbaeumer commented on #11501
Have you configured VS Code to use the typescript in your local folder. I am sure it is a version mismatch WEbpack using TS 2.0 (which is not official yet) and VS Code still using the official 1.8.19. See also: https://code.visualstudio.com/docs/languages/typescript#_using-newer-typescript-versions

[2016-09-04 18:13] bpasero commented on #11472
@ehouarn-perret can you clarify what that means?

[2016-09-04 18:14] bpasero commented on #11523
@DanTup so where does it crash?

[2016-09-04 18:15] bpasero commented on #11504
@HolgerJeromin what does "clean" mean then?

[2016-09-04 18:15] bpasero commented on #11491
@kevin1211 what happens when you try?

[2016-09-04 18:16] gforcedev commented on #329
That all looks good from what I can tell. Are you talking about a line in the userData config that specifies a path to store the extension home path in? If it worked, would there be a way to get a page on the docs about setting that up? Or even an option in the installer to install portable right from the get-go?

[2016-09-04 18:20] DanTup commented on #11523
@bpasero Sorry, I thought that output was because of a crash. What's happening is the extension host appears, then vanishes, but there's no output of test results. It's not clear if the tests ran at all.

I tried setting `ELECTRON_NO_ATTACH_CONSOLE` (since we needed that to see the test output on AppVeyor) however that just hid most of the output provided above but still didn't get the test result

[2016-09-04 18:28] glen-84 commented on #11510
Duplicate of #9899 (?)

[2016-09-04 18:39] rlabrecque commented on #329
Yep, exactly that!

I think the one step at a time approach is working well, but yeah eventually this stuff should be made more generally accessible.

Atom was going to do something similar but their autoupdater completely deletes their application folder,  not sure if that's something to be concerned about with VSCode though.

[2016-09-04 18:40] egamma commented on #11478
This is the same behaviour as in 1.4.

The analysis of @mrmlnc above is correct. This makes me wonder whether we should bind the `TAB` key to expand abbbreviation in `jade` files. The current behaviour is confusing as this issues shows.

[2016-09-04 18:50] aminroosta commented on #9143
![vkkkkkk](https://cloud.githubusercontent.com/assets/2920178/18233186/3e825d32-72f5-11e6-8970-fbfbe9bc84bc.gif)

@sandy081 `cursorMove` does not respect already selected text.
`Vjjjj` ing works find but `Vkkkkkk` ing will break selected code.

[code]
I've spent a couple of hours on this, it seems that `activeTextEditor.slection` is not handled properly.

@sandy081 Please give us the same API with

[2016-09-04 18:58] kube opened #11525 "Can't scroll on Terminal output"
- VSCode Version: 1.4.0
- OS Version: macOS Sierra Beta 7 (But should do the same on any macOS/OS X version)

Steps to Reproduce:

1. Open Terminal at bottom.
2. Run a command that will do a long output (At least more than the terminal height).
3. Try to scroll up.

[2016-09-04 18:58] aminroosta commented on #9143
@sandy081  This is how we can practically use your api, `moveDown` record the position then `moveUp`. This makes life hard and moving around slow and if you move pass the first line or the last line some wired visual feedback can be seen (you can see cursor moving up and then down and them up) ❗

Let's face it, no other plugin is going to use these commands other than VIM extensions 😉
And we alrea

[2016-09-04 19:38] johnfn commented on #9143
@sandy081

I would like to chime in along with @aminroosta here.

Unfortunately, the current cursorMove API is not powerful enough to implement most core features of Vim. Simply moving the cursor is not enough - we actually need the position. Without the position, there's no practical way to use the value any of the visual modes (which effectively take the position, then apply some transformations

[2016-09-04 20:00] roblourens commented on #11478
I haven't used emmet or jade so I didn't know what to expect - I was just clicking around. Don't change it just because of me anyway.

[2016-09-04 21:56] yahiko00 opened #11526 "[Proposal] Display all properties (inherited or not) of a given class (in TypeScript)"
Visual Studio Code is a fantastic tool and I am really impressed by all its features despite being quite young.

There is a feature that does not still exists in VS Code which could be really convenient when we are forced to deal with big inheritance hierarchies.

This proposal is based on the TypeScript language, but I am quite sure this could apply to other OOP languages VS Code supports.
## Ove

[2016-09-04 22:32] kube commented on #11525
Scroll seems to work when on a program that has not closed stdout.
**e.g:** `webpack-dev-server` output is scrollable while running.

[2016-09-04 23:56] ehouarn-perret commented on #11472
@bpasero sure, basically right now the layout can only be vertical, it would be better if the editor could provide more layout options, a sort of docking like component. This would not only applicable to the code editor part but also to the console.

[2016-09-05 00:20] Treri commented on #11525
Are you using oh-my-zsh?

Is your problem the same with #10575 ?

[2016-09-05 00:52] Tyriar commented on #11479
Upstream issue #216

[2016-09-05 01:50] abdurrosyidhandoyo opened #11527 "Windows - The terminal process exited with code 1"
- VSCode Version: 1.4.0
- OS Version: Windows 7

Steps to Reproduce:

1. Open VSCode
2. Press Ctrl+` to open integrated terminal
3. The terminal process terminated with exit code 1

[2016-09-05 01:55] Tyriar commented on #11515
Duplicate of #9448

[2016-09-05 01:56] #11515 closed

[2016-09-05 01:59] 0915240 commented on #101
really hope this feature in upcoming versions.

[2016-09-05 01:59] Tyriar commented on #11497
This means that the shell process could not be launched. You likely need to tweak your `terminal.integrated.shell.windows` value in your `settings.json` file.

[2016-09-05 01:59] #11497 closed

[2016-09-05 02:02] Tyriar commented on #11471
Duplicate #10023

[2016-09-05 02:02] #11471 closed

[2016-09-05 03:08] Cloudwu1 commented on #11346
@Antranilan  No sure if you opened a file or a folder. If you only open a file, it seems by design.

[2016-09-05 04:49] Jakobud opened #11528 "ExtensionContext.globalState: Can't unset a Memento stored value"
- VSCode Version: 1.4.0
- OS Version: OSX 10.10.5

Steps to Reproduce:

1. Set a value in the ExtensionContext globalState:
[code]
2. There are no methods to unset or clear that value from your global state as far as I can tell. The Memento object only has 2 methods: `get` and `update`. I tried updating the value with values of `null` and `undefined`, but the `testkey` persisted and did not go awa

[2016-09-05 04:53] Jakobud commented on #11525
OSX 10.10.5 here. I am able to scroll up and down the integrated terminal just fine. Maybe you shouldn't be reporting bugs while using beta OS software...

[2016-09-05 04:59] bpasero commented on #11523
This issue was moved to Microsoft/vscode-extension-vscode#34

[2016-09-05 04:59] #11523 closed

[2016-09-05 06:01] aeschli commented on #11481
Not using float with 'block-inline' comes from http://csslint.net/about.html (see Use correct properties for a display). As float turns 'block-inline' into a 'block', it's probably cleaner to just use 'block' instead.

[2016-09-05 06:01] #11481 closed

[2016-09-05 06:02] aeschli commented on #11476
duplicate of #8739

[2016-09-05 06:02] #11476 closed

[2016-09-05 06:11] aeschli commented on #11050
@jrieken Yes always there, but not used by VSCode. It's to stay compatible with other snippet syntaxes that use it as as the description.

[2016-09-05 06:53] alexandrudima commented on #9899
From #11510:
---

Couldn't find any documentation on this or any good extensions. Would be amazing if we could have task tags, something that could be user defined/customizable inside settings.json

Similar to:
[code]

[code]

The TODO comment would then be highlighted in the color chosen in the settings file, for this example "Green".

[2016-09-05 06:53] alexandrudima commented on #11510
Let's track in #9899

[2016-09-05 06:53] #11510 closed

[2016-09-05 06:53] HolgerJeromin commented on #11504
File is not saved. No info is presented to the user. I thought my explanation in the issue was complete.

[2016-09-05 06:54] alexandrudima commented on #11484
ping @aeschli

[2016-09-05 06:57] alexandrudima commented on #11485
We render the dot and the arrow inline in the case of whitespace. For some fonts, those symbols are not monospace, which was causing indentation to be miss-aligned, hence the decision to set their width. I am not sure if we tested the inline decorations around whitespace.

[2016-09-05 06:57] bpasero commented on #11504
@HolgerJeromin what do you mean "no info is shown to the user", did you not even attach the screenshot with that info?

[2016-09-05 06:59] alexandrudima commented on #11490
@VojtechStep Some time ago (more than 1 year) we had the following behaviour:
* when going up we would reveal the first (lowest line number) cursor
* when going down we wold reveal the last (highest line number) cursor

In many cases, where having multiple cursors that would span more than the viewport size, this would lead to a very jumpy behaviour. The root problem is that we don't know where th

[2016-09-05 07:04] alexandrudima commented on #11184
I am running Windows 10 natively

[2016-09-05 07:09] dbaeumer commented on #11461
@bpasero the explorer to my knowledge doesn't render a tree. I would have expected some visual indication that there is s cycle.

What I found very strange as well is the fact then when I opened VS Code on that folder the tree expanded exactly to the state shown in the screen shot. Why into that state. What makes you break the cycle here.

[2016-09-05 07:12] egamma commented on #11478
@roblourens thanks, but I expect that the current behaviour is confusing to Jade users since we have emmet enabled by default for Jade.

@mrmlnc
What happens in the cases when the `TAB` appears to be swallowed is that `layout``TAB` -> gets expanded into `layout{0}` which appears as no expansion to the user. It inserts the same text and positions the cursor at the end. I was thinking that we detect

[2016-09-05 07:12] NikosEfthias opened #11529 "cannot install extensions or chage config files on linux"
- VSCode Version:1.4.0
- OS Version:ubuntu 16.4

Steps to Reproduce:
1. install an extension
2. restart vscode
3. get the weird error ![](http://i.imgur.com/FNRc5nb.png)
4. installed extension is gone and all config files reverted back to old versions

[2016-09-05 07:13] dbaeumer commented on #10675
Closing. Haven't received any response in 14 days.

[2016-09-05 07:13] #10675 closed

[2016-09-05 07:14] isidorn commented on #11507
Unassigning mysels since this fro debug console this is a dup of https://github.com/Microsoft/vscode/issues/4338

[2016-09-05 07:15] dbaeumer commented on #10798
Closing. Haven't received any response. @xyingzhi please ping if the issue is still reproducible with steps that demo the problematic behavior.

[2016-09-05 07:15] #10798 closed

[2016-09-05 07:15] dbaeumer commented on #10921
Closing. Haven't received any response. @JUAN2011315 please ping if the issue is still reproducible with steps that demo the problematic behavior.

[2016-09-05 07:15] #10921 closed

[2016-09-05 07:15] dbaeumer commented on #10795
Closing. Haven't received any response. @japsancha please ping if the issue is still reproducible with steps that demo the problematic behavior.

[2016-09-05 07:16] dbaeumer commented on #10844
Closing. Haven't received any response. @dviljoen please ping if the issue is still reproducible with steps that demo the problematic behavior.

[2016-09-05 07:16] #10844 closed

[2016-09-05 07:16] dbaeumer commented on #10926
Closing. Haven't received any response. @DreamElapse please ping if the issue is still reproducible with steps that demo the problematic behavior.

[2016-09-05 07:16] #10926 closed

[2016-09-05 07:17] dbaeumer commented on #11058
Closing. Haven't received any response. @EthelEleanor please ping if the issue is still reproducible with steps that demo the problematic behavior.

[2016-09-05 07:17] #11058 closed

[2016-09-05 07:19] dbaeumer commented on #11065
Assuming that this is actually caused by the selected line setting outlined by @mrmlnc and @bgse.

 @stinghz please ping if the issue is cause by something different with steps that demo the problematic behavior.

[2016-09-05 07:19] #11065 closed

[2016-09-05 07:33] NikosEfthias commented on #11529
also got this popup ![](http://i.imgur.com/e4aDQX0.png)

[2016-09-05 07:36] joaomoreno commented on #11489
I can't reproduce.

Do you have a `.vscode/extensions/.obsolete` file?

[2016-09-05 07:39] erikbra commented on #313
I understand where you are coming from, but, if I was to be a bastard, I could claim that the language with which you implement a text editor should not dictate the behaviour of the editor...

\n\s*\n is OK, but it doesn't work for the first and last lines of the file. And, this is just a special case. Say I want to remove/massage lines that look like

A*************************************B

this

[2016-09-05 07:39] rainssong opened #11530 ""the file cannot be displayed in the editior because it is either binary ..." but sometimes we need to read binary file as text"
- VSCode Version: 1.3.1
- OS Version: windows8

Steps to Reproduce:

1. find a binary file
2. open it

result:"the file cannot be displayed in the editior because it is either binary ..."

but, sometimes we need to read binary file as text.

[2016-09-05 07:41] jrieken commented on #11519
We have the following
* API commands with defined arguments and return types: https://code.visualstudio.com/docs/extensionAPI/vscode-api-commands
* the `commands.getCommand(true)` to get a list of all known (not internal) commands https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L3285, or
* generally everything that shows up when configuring keybindings

[2016-09-05 07:41] #11519 closed

[2016-09-05 07:44] aeschli commented on #11413
@Sequoia Descriptions in JSON schemas are regular, unformatted text, and I need to treat it so, otherwise lots of descriptions in schemas are wrongly rendered: Characters ignored, wrong formats, etc. JSON schemas are widely used, with lot's of schemas. http://schemastore.org/json/

You should stick to unformatted text in your schema and will try to add automatic link detection on top of it. The ol

[2016-09-05 07:46] bpasero commented on #11461
@dbaeumer can you share a screenshot how the native windows explorer presents you this circular structure?

There is a couple of things going on in your example which are a bit special:
* the explorer automatically expands folders that have only 1 child so that for cases with many single-child folders (e.g. think of Java projects) you quickly end up in the folder that actually has files
* since yo

[2016-09-05 07:47] jrieken commented on #11483
No, you cannot do that

[2016-09-05 07:50] jrieken commented on #10824
@ramya-rao-a Did you enable tab completion?

[2016-09-05 07:52] jrieken commented on #7273
@aeschli Is that our css language service returning so many suggestions for `display`?

[2016-09-05 07:53] bpasero commented on #11530
@rainssong you could try with https://marketplace.visualstudio.com/items?itemName=slevesque.vscode-hexdump

[2016-09-05 07:53] joaomoreno opened #11531 "Provide better error messages when update fails"
cc @alexandrudima

[2016-09-05 07:57] isidorn commented on #11467
The code for computing output length is [here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/electron-browser/replViewer.ts#L119)
I am not jumping on this since we will probably change the underlying implemntation of the debug console #11462

fyi @roblourens

[2016-09-05 07:58] jrieken commented on #11506
Registration happens only via the `registerCommand` function. The entry in `package.json` is *only* there to add your command to the UI before loading/activating the extension code (F1 list, context menus etc).

The register call gives you a disposable which removes the command again.

In short, if you only want to expose a command by id that's fine and legit. Actually extensions and VS Code do th

[2016-09-05 07:58] #11506 closed

[2016-09-05 07:59] dbaeumer commented on #11461
Here is what the native Windows Explorer shows:

![capture](https://cloud.githubusercontent.com/assets/1931590/18241039/50c7295a-734f-11e6-8000-cf5913aca107.png)

Note it didn't expand automatically (I wasn't aware of your one child case). And it has this nice link overlay telling me that it is a linked folder.

[2016-09-05 08:00] asadsahi commented on #9448
@Tyriar is there a solution to force open cmd/terminal with uppercase drive letter?

[2016-09-05 08:01] aeschli commented on #11466
The string literal starts with the quote and I just always replace from the start of the token. If it were replaced by a number, boolean, null or what ever, it's what needs to be replaced (not in this example, obviously).
I understand that the replaced string is not a prefix of the the label, but there are substrings matches. Don't we highlight these as well?

[2016-09-05 08:04] bpasero commented on #11461
@dbaeumer ok so the explorer is also going on and on even though this is a circular link. The only difference I see is that a linked folder gets a nice decoration over the folder. Is that what you are missing?

[2016-09-05 08:23] kube commented on #11525
Yeah sorry for not specifying it, I'm using `oh-my-zsh` with `antigen`.
I disabled antigen to try, and scroll worked fine.

I also modified `oh-my-zsh` `lib/key-bindings.zsh` as specified in https://github.com/Microsoft/vscode/issues/8219#issuecomment-239651392 and it worked well too.

So problem seems to come from this line:
`echoti smkx`

[2016-09-05 08:46] aeschli commented on #11484
@robinbentley +1 from to now use 'sass' for indented sass. There might be some swirls, probably with users that use old VSCode versions, but I think it's the right way forward. You can avoid that if you add a 1.4 vscode engine dependency to your extension and add a note to the readme.
    "engines": {
        "vscode": "^1.4.0"
    },

[2016-09-05 08:46] #11484 closed

[2016-09-05 08:52] joaomoreno commented on #11425
Is it, though? Where is this standard?

@preiodGeek, why these specific keybindings? Where else are they used?

[2016-09-05 08:54] dbaeumer commented on #10903
@Kingscity I will close the issue since we haven't received a response. If you still can reproduce the issue please ping with steps that demonstrate the problematic behavior.

[2016-09-05 08:54] #10903 closed

[2016-09-05 08:54] joaomoreno commented on #11280
Waiting on @cw19931024's updates.

[2016-09-05 08:55] dbaeumer commented on #10879
@drinktee I will close the issue since we haven't received a response. Please ping if you still see the issue with steps on how to reproduce the problematic behavior.

[2016-09-05 08:55] #10879 closed

[2016-09-05 08:56] dbaeumer commented on #11103
@Qiudays  Closing since I haven't received any response. Please ping if you can still reproduce the issue with steps that demonstrate the problematic behavior.

[2016-09-05 08:56] #11103 closed

[2016-09-05 08:58] joaomoreno commented on #11477
Great catch!

[2016-09-05 09:05] alexandrudima opened #11532 "Word selection is weird around non-word characters"
![word-selection](https://cloud.githubusercontent.com/assets/5047891/18242862/a857f146-7358-11e6-88c7-7a6871d4b068.gif)

[2016-09-05 09:05] alexandrudima commented on #11532
cc @joaomoreno

[2016-09-05 09:07] jrieken commented on #11529
@NikosEfthias Which extension did you install?

[2016-09-05 09:08] #11402 closed

[2016-09-05 09:11] NikosEfthias commented on #11529
recommended golang extension @jrieken but weird part is that it was installed earlier and also i cannot edit config file its all the time reverting back

[2016-09-05 09:11] Tyriar commented on #11527
This error means that the shell process could not be launched, likely due to having the wrong path. Try changing your `terminal.integrated.shell.windows` setting in your `settings.json` ([documentation here](https://code.visualstudio.com/docs/editor/integrated-terminal#_configuration)).

Improving this message is being tracked in #9261

[2016-09-05 09:11] #11527 closed

[2016-09-05 09:12] #11513 closed

[2016-09-05 09:16] Tyriar commented on #9448
@asadsahi no I don't think there is a work around yet.

[2016-09-05 09:17] jrieken commented on #11516
Yes, that's because each keyboard puts `(` and `)` somewhere else (compare german, english, swiss, french etc keyboard). On my keyboard `(` happens when I press `shift+9`, on yours it might different.

You can use the help widget in the `define keybindings command` to figure out what key sequence produces what character for your keyboard layout

![screen shot 2016-09-05 at 11 16 51](https://cloud.

[2016-09-05 09:20] jrieken commented on #11529
Please try without any extension using the `--disableExtensions` flag when starting  VS Code from the command line.

[2016-09-05 09:22] NikosEfthias commented on #11529
seems like the error is gone

[2016-09-05 09:24] jrieken commented on #11528
[code]

does print `undefined` for me which means the key has no value. @Jakobud what is your expected behaviour?

[2016-09-05 09:27] realmx opened #11533 "macOS 10.12: background artifacts"
- VSCode Version: 1.5.0-insider
- OS Version: macOS Sierra 10.12 Beta

Steps to Reproduce:

1. see screenshot
<img width="586" alt="111" src="https://cloud.githubusercontent.com/assets/6071313/18243497/da304e7c-738d-11e6-89d0-4cbaac386e72.png">
<img width="284" alt="222" src="https://cloud.githubusercontent.com/assets/6071313/18243504/df6ffe5a-738d-11e6-9fe8-ca2acb2e9f67.png">
<img width="1920" al

[2016-09-05 09:28] jrieken commented on #11500
@erichiller In short, once you have interacted with the suggest widget using the `up`/`down` arrow keys you want `enter` to insert the selected suggestion, otherwise `enter` should insert a newline?

Iff so my proposal would be to add a new context key ala `suggestWidgetInteractedWith`

[2016-09-05 09:29] jrieken commented on #11529
In general or only when running with the `disableExtensions` flag?

[2016-09-05 09:29] DanTup commented on #11516
@jrieken Apologies, I think this case is a bit confused. I think this is a really valid feature request despite the technical complications with how it would currently need ot be done.

I would like (as an extension author) for `(` to complete - in the same way that in TypeScript you decided to make `.` complete. Currently the only way to do that is via keybindings, and it turns out we can't use `

[2016-09-05 09:30] mkyjakova opened #11534 "[loc][Query][VSCode] More context for "Language""
Hi, we have a question from our translator. Can you help please? Thanks!

Source:
Languages ({0})

File Name:
src\vs\workbench\parts\extensions\electron-browser\extensionEditor.nls.resx

Resource ID:
".resx", 0; "languages"

Query:
Can you please clarify whether language here refers to a programming language  or a natural language (English, Spanish.,, etc.)? Thanks!
(es)

[2016-09-05 09:30] #11203 closed

[2016-09-05 09:31] NikosEfthias commented on #11529
with `disableExtensions` flag

[2016-09-05 09:33] dbaeumer commented on #11461
I would change two thinks:

- render the link
- and don't auto expand cycles.

I was more confused by the auto expand behavior.

[2016-09-05 09:36] dbaeumer commented on #11429
@sharadcodes can you provide an example to reproduce this. I believe this is more a setup problem than a bug in the tsserver.

[2016-09-05 09:37] #10703 closed

[2016-09-05 09:40] isidorn commented on #10998
@chryw thanks for the icons. I tried putting them in vsocde and icons have a border which is out of style with our stop icon. This is especailly visible in the dark theme. Is there some special reason for this border?
I removed the border and pushed the updated icons to master. Try it out and let me know what you think

[2016-09-05 09:40] dbaeumer commented on #11344
@joaomoreno can you please comment on this ?

[2016-09-05 09:40] #10998 closed

[2016-09-05 09:43] isidorn commented on #10680
@bigonazzi is the produced output read only? Or can it be somehow modified?

[2016-09-05 09:46] joaomoreno commented on #11344
I have no idea. This question requires specific language knowledge to know if the term `index`` should be translated or not. @Tyriar says it shouldn't in Korean. I know it also should't in Portuguese. So I can only interpolate that it also shouldn't in every other language, based on my narrow sample.

[2016-09-05 09:50] roblourens opened #11535 "Error message when opening Code with no internet connection"
![image](https://cloud.githubusercontent.com/assets/323878/18244140/c2dbd7e8-735e-11e6-9d04-cf5bb3cbdb9b.png)

I see this in 1.5-insider but not 1.4, every time I open a new window while not connected to the internet.

[2016-09-05 09:52] isidorn commented on #11462
@weinand let me know once you settle on your preference.
As already mentioned I am keen on experimenting with Option 1 in September. After the initial investigation we will probably find additional issues and we'll be able to assess better.

[2016-09-05 09:52] jrieken commented on #11466
related to #11423

[2016-09-05 09:52] alexandrudima commented on #11514
@DanTup

example: https://github.com/Microsoft/vscode/blob/master/extensions/typescript/src/typescriptMain.ts#L163

for your use-case:

[code]

The `onEnterRules` are not at this point read from the language configuration file. We need to figure out how to serialize/deserialize a regex without ambiguity yet from JSON.

[2016-09-05 09:55] sebasijan commented on #10040
@isidorn After trying the above steps in `1.4.0` it seems to be working fine (I can see the program output in the console after pressing `F5`).

[2016-09-05 09:55] #10040 closed

[2016-09-05 09:56] Liero opened #11536 "Typescript definitions not found when comparing changes on working tree"
- VSCode Version: 1.4.0
- OS Version: Win10 April 2016

![capture](https://cloud.githubusercontent.com/assets/3494407/18244063/65aeeb46-735e-11e6-98ed-ee47c28034b3.PNG)

When I open the changes of a .tsx file from GIT toolbox (Ctrl+Shift+G)  VSCode reports a lot of TypeScript errors. It seems like it cannot find file with typescript definitions.

However, when I open the same file from explorer (C

[2016-09-05 10:02] weinand commented on #11462
@isidorn how do you envision the tree will look like? The current folding UI looks and feels quite different than the tree. Ending up with something like this, would not work for me.
So before replacing the tree with the editor you should do an isolated experiment that proves that the editor can be used for rendering a tree and that the interaction behaviour is acceptable.