[2017-10-19 17:05] mjbvz commented on #36470
Thanks @yume-chan! Yes this looks like a duplicate of #36237

Please try out today's VSCode insiders build which I believe contains the fix for this issue

[2017-10-19 17:05] #36470 closed

[2017-10-19 17:06] mscottx88 commented on #35741
Same, all the sudden this started to appear today.  Been using git in VS Code forever.

[2017-10-19 17:08] mjbvz commented on #36526
Duplicate of #33609

[2017-10-19 17:08] #36526 closed

[2017-10-19 17:10] chrmarti commented on #35741
@joaomoreno Reopening for visibility.

[2017-10-19 17:10] colorpump commented on #15316
It was my fault.
I had a **.editorconfig** file in my project as well which overrode my **.vscode/settings.json**

I'm sorry for confusion

[2017-10-19 17:11] Tekbr commented on #33520
-- Sorry for the English, I used Google Translator --

Hello @alexandrudima  and @bpasero !!

Would not this be a duplicate of #14986? The difference here asks for a single item. And at #14986 I say to have at all possible.

Thoughts? 🤔

[2017-10-19 17:13] mjbvz commented on #36444
Ok, I'm going to close this as a duplicate of #20220 then

For now, you'll still need to install npm in your windows environment to get automatic typings acquisition. Again though, you still should be able to still use your wsl npm for actually managing the project

[2017-10-19 17:13] #36444 closed

[2017-10-19 17:13] octref commented on #36290
@bpasero Thanks for the explanation!

[2017-10-19 17:13] #36290 closed

[2017-10-19 17:16] mjbvz commented on #36527
Can you please provide more information about this problem. To help us, please include the steps to reproduce this issue, along with a short description of the expected behavior.

[2017-10-19 17:19] mjbvz commented on #36506
@retrogradeMT Can you please try disabling all of your extension to see if one of them could be causing this. To do this, start code with the `--disable-extensions` command like flag:

[code]

[2017-10-19 17:21] WadeShuler commented on #178
@jrieken Do you have a Slack group, or somewhere else to discuss this issue? I can help :) I was able to pull, dev, and debug the current changes from the master branch. I fixed the "added" files showing as "U", and even added "staged" support. Since it was my first time in the project, I am resetting it back to master and doing it over again. I made a bunch of changes, and want to go in like a su

[2017-10-19 17:21] marziopulcini commented on #35741
Hi all,  I have solved on windows  after installing git on windows which provides missing executables.

[2017-10-19 17:21] acrolink commented on #36426
I guess this applies to typescript only. If written in JS, the execution is live or still thee is a need to reload window?

[2017-10-19 17:26] haristz commented on #36255
It is possible that the menu came back again instead of no responsiveness, but in that case I did not see any screen refresh, ie there were no visual signs that this had happened. Also, the 2nd click was immediately responsive.

[2017-10-19 17:27] brandonbloom commented on #33902
Hey @bpasero, sorry, you're right: The unguarded undefined entry isn't a new problem. I jumped to conclusions because I was using this command in my private build without issues until the new release came out. I'll try to find some time to look at this more closely soon.

[2017-10-19 17:33] ramya-rao-a commented on #36564
@jeybin What is the file type of the file where you see this?

[2017-10-19 17:33] #36508 closed

[2017-10-19 17:35] sergous commented on #35686
Dear bpasero,
I just use link inside VS Code, which brings me directly here, not to any search form.
If you rely on this scenario, just redirect your request this to person responsible for the report button, not me - I just bringing good to VS Code.
If it's reported then just link it here, in this case I can follow it's for sure.
Regards,
Sergey

[2017-10-19 17:35] Simon-HN commented on #36508
And now it just started working again... I have no idea why but if it helps I can run the commands again.

[2017-10-19 17:39] tahnik commented on #34865
Does anyone know if it has been fixed in Windows 10 fall creators update? I know it's a problem with Chromium but just wondering if the update somehow fixed it.

[2017-10-19 17:43] #36267 closed

[2017-10-19 17:43] ramya-rao-a commented on #36267
I have pushed in a fix which will be out in tonight's Insiders build.

Thanks for reporting the issue!

[2017-10-19 17:44] ramya-rao-a commented on #36267
Note to verifier:
- Set `emmet.triggerExpansionOnTab` to `true`
- Open any non html/css/scss/less file
- The first key to be pressed should be tab

[2017-10-19 17:50] ramya-rao-a commented on #36517
Somebody asked for telemetry?

Below is the breakup of distinct users who have started a debug session by type

![image](https://user-images.githubusercontent.com/16890566/31785834-4310180e-b4bb-11e7-8a44-1027f414f9a5.png)

[2017-10-19 17:51] equinusocio opened #36577 "Any way to build premium extensions?"
Hi, it could be awesome having a way to publish "premium" extensions with crypted files. @OctoD

[2017-10-19 17:52] jeybin commented on #36564
@ramya-rao-a

[2017-10-19 17:52] jeybin commented on #36564
@ramya-rao-a  its a typescript file .ts

[2017-10-19 17:54] ramya-rao-a commented on #36517
About 13% of users who ever started a debug session in the past 30 days used the "chrome" type

[2017-10-19 17:56] ruzhovt commented on #35783
Fish is the new infinity now

[2017-10-19 18:04] AndreiRosu commented on #36482
![codesample](https://user-images.githubusercontent.com/8149965/31786409-0e775278-b511-11e7-80ca-336c1e9c7dab.gif)
Please notice that I've used "CTRL +  /" to comment the code.

[2017-10-19 18:08] aayandre commented on #14716
@rohilshah95 Yes

[2017-10-19 18:10] tino2kp commented on #8869
Still one "issue": When anyone ctrl + D in VS CODE at any variable: USD sign ($) followed by some characters, the whole variable gets selected, thus, including the USD sign ($). In Sublime, the behavior is different by only selecting the characters, forgetting about selecting the $. How is this behavior achieved?
![captura](https://user-images.githubusercontent.com/32155919/31786694-edd0b6d2-b4ce-

[2017-10-19 18:21] petkahl commented on #178
@WadeShuler I can answer some of that. I'm assuming you're looking in Repository.updateModelState() in repository.ts. If you note the raw.x + raw.y checks, they all return, so you actually can't then do the raw.x and raw.y. The reason the raw.x and raw.y are separate, and the reason for the INDEX_* is that every INDEX_* is staged, it's just what is staged that changes. If you replace INDEX with ST

[2017-10-19 18:21] eamodio opened #36579 "`window.visibleEditors` & `window.onDidChangeVisibleTextEditors` return inconsistent results"
- VSCode Version: Code - Insiders 1.18.0-insider (4b01451cea60f32412098735709fddcac567b33d, 2017-10-19T08:29:07.096Z)
- OS Version: Windows_NT x64 10.0.17017
---

Steps to Reproduce:

1. Create (use) a simple extension that subscribes to `window.onDidChangeVisibleTextEditors` or polls `window.visibleTextEditors`
2. Watch/log the editors returned

Normal editors come and go as expected when their v

[2017-10-19 18:22] eamodio commented on #36579
FYI, this is not a `debug` issue (as the "helpful" bot) labeled it

//cc @jrieken

[2017-10-19 18:23] atombender commented on #18241
This is still not fixed. Not sure why this was marked as closed.

![vsc](https://user-images.githubusercontent.com/50314/31787203-fb61a3ba-b4d8-11e7-8cb1-a24e6385ad9f.gif)

[2017-10-19 18:23] auchenberg commented on #36517
@isidorn The reasoning for shipping a "browser debugger" in-product is that we have expanded our beachhead segment from "Node developers" to "JavaScript developers" and want to provide an out of box experience that enables debugging of both servers and clients.

Long term I imagine us having a "browser debugging story" where Chrome, Edge, Firefox and others fit into the puzzle. We are in-parallel

[2017-10-19 18:26] atombender commented on #8869
@tino2kp: That's related to some *very* idiosyncratic choices in various VSCode grammars. For example, [in Ruby](https://github.com/Microsoft/vscode/issues/18241), `:foo` is considered a whole word (i.e., it includes the colon, which is _not_ appropriate), and [in JSON](https://github.com/Microsoft/vscode/issues/10080), quoted strings are considered a whole word (i.e. it includes the quotes). The

[2017-10-19 18:29] eamodio commented on #36517
@auchenberg while I agree with your sentiment -- is the current browser debugging story currently robust enough? Personally very often when I've tried to take advantage of the chrome debugging in product, it falls down -- mainly with breakpoints not being hit and I need to fall back to debug within chrome itself. Granted we are using webpack hot-reload with source maps, but it almost always works

[2017-10-19 18:44] eamodio opened #36580 "Terminal pane closes after hitting enter on a "task" terminal without any other terminals open"
- VSCode Version: Code - Insiders 1.18.0-insider (4b01451cea60f32412098735709fddcac567b33d, 2017-10-19T08:29:07.096Z)
- OS Version: Windows_NT x64 10.0.17017
---

This is not really a bug in so much as it is behaving as designed, but the usability of it drives me a bit nuts 😄

Steps to Reproduce:

1. Open a project and start debugging (or run a task) before you have opened a terminal
2. Terminal p

[2017-10-19 18:46] auchenberg commented on #36517
@eamodio I believe we have a good enough experience, when the two previously mentioned features land for the majority of our Chrome debugger users (based the flow of issues and user feedback, and the work we have been doing with framework clis)

[2017-10-19 18:47] alekseyt commented on #10952
+1

It would be also nice to have an option to show terminal _only_ when underlying shell exited with code other than 0 (zero) OR something was printed to stderr. E.g. i'm starting CMake build in shell, but i don't want to see terminal until it requires my attention: for example, a compilation error occurred, warning was printed (normally to stderr) or shell failed to execute build in some other w

[2017-10-19 18:48] takahser opened #36581 "The new vs code icon gave my computer cancer"
The new vs code logo is really not something I'd show my children. On Windows, it looks ugly, but on OS X it's horrible!!

It would be great to have the old one back, so I don't have to be ashamed of using vs code anymore. Thank you.

[2017-10-19 18:51] aeschli commented on #36482
Our folding is indentation based. By adding the comment, this is no longer a folding region as all lines have the same indent.
That would even be the case if we had a language-aware folding and e.g are aware of brackets.Brackets would be ignored when they are commented out.

[2017-10-19 18:51] #36482 closed

[2017-10-19 18:53] mathitech commented on #36568
Yes, After changing the document language mode, it works fine. Thanks!

[2017-10-19 18:53] #36568 closed

[2017-10-19 18:57] eamodio commented on #36517
@auchenberg I should have read those features more closely -- the multiple connections will be HUGE (next you just need a sync of breakpoints to seamlessly switch between the two 😉). And with any luck break-on-load work will resolve our BP issues. Thanks!

[2017-10-19 19:00] nturinski opened #36583 "Being able to change vscode.window.showInformationWindow button labels"
Currently there is no way (that I know of at least!) to change the 'Close' button on VS Code window prompts.  Is it possible to change it from 'Close' to anything else, such as just 'No' or 'Cancel'?

[2017-10-19 19:12] BenjaVR opened #36585 "Auto-enable python virtual environment in terminal"
I opened this issue in DonJayamanne/pythonVSCode#1323, but it seems not possible to achieve this through an extension.

[2017-10-19 19:13] kkankala commented on #36498
yes, it works on window active of Code. But within code and use code terminal, then it wont.

[2017-10-19 19:18] jgclifton opened #36586 "macOS High Sierra - Can no longer drag and drop folder in to explorer panel"
- VSCode Version: 1.17.2
- OS Version: macOs High Sierra - 10.13

Steps to Reproduce:

1. Drag folder to file explorer pane in VS Code

I can't find a duplicate issue - hopefully this isn't just me. Hard to tell whether it has coincided with a VS Code update or the macOs update.

[2017-10-19 19:19] bpaczkowski opened #36587 "Dynamically modified exports"
- VSCode Version: 1.17.0
- OS Version: Windows 10

I'm using mongoose, which requires a connection to be established first before defining models. I'm assigning the defined models to `module.exports` in an "init" function. I'm trying to get type checking on that module, but I've tried a few different solutions and none of them seem to work.

This is the piece of code I'm using:

[code]

First, I t

[2017-10-19 19:22] eladkarako commented on #6397
@foisonocean
[code]

only works on Windows, try `--enable-harfbuzz-rendertext` or `--disable-harfbuzz-rendertext` if you're on a different OS.

[2017-10-19 19:29] kolya182 commented on #36516
Having the same issue.
![screenshot 2017-10-19 12 23 29](https://user-images.githubusercontent.com/3277207/31790088-2207bb4a-b4c9-11e7-9a14-4ca6181e2f28.png)

[2017-10-19 19:33] rulero opened #36588 "TypeScript build task fails when path to tsconfig.json file has spaces"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions: none
---

Steps to Reproduce:

1. Create a new folder with an space somewhere in the full path, lets say "D:\Temp\Space here"
2. Add a dummy.ts file, it could be empty
2. Add a tsconfig.json file, it could be just a pair of curly braces:
	{	}
3. P

[2017-10-19 19:38] chrisnicola commented on #25934
Seeing terrible flickering with the latest version after opening the terminal. Completely unusable in fullscreen at this point.

[2017-10-19 19:39] akshaya-a commented on #36585
One simple workaround I use is to set a startup script (init.ps1) for my integrated terminal in the workspace settings. In my specific case for powershell, using this for "terminal.integrated.shellArgs.windows" set to "C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0\\powershell.exe":

https://stackoverflow.com/a/4845960

This has the added benefit of even more advanced setup (instead of just activa

[2017-10-19 19:49] Eric2XU opened #36589 "Feature Request: Variable List continues to display values after execution is over given runspace is still live"
The only thing that keeps me from using VS Code for my daily PowerShell work is the fact it doesnt show variable data when the script isnt running. It seems an obvious oversight. If the runspace is preserved (which it is since I can do $var at the command line and get values) they why wouldnt you display all variables in between runs. Is there a way to hack that in?

[2017-10-19 19:49] chrisdias commented on #36581
The title of this issue is not appropriate.

[2017-10-19 19:49] #36581 closed

[2017-10-19 19:53] L4r0x commented on #36516
I have disabled most of my extensions, but the issue still occurs. (Updated my post)

[2017-10-19 19:53] waynebloss opened #36590 "VSCode lost my work"
I don't know what happened exactly, but I had changed some files, saved them, tested them - then did some browsing and when I switched back to VSCode, it lost all my work and reverted the files to a state that they were in *yesterday* (even though I had closed the editor and restarted a fresh instance today).

Now I'm thinking I have to switch editors because I don't trust VSCode anymore. This is

[2017-10-19 19:56] Tyriar opened #36591 "Latest insiders panel titles have white background on all themes"
- VSCode Version: Code - Insiders 1.18.0-insider (7424b934292d9a1fb6e4309ff9547660eab27a80, 2017-10-19T05:21:45.915Z)
- OS Version: Linux x64 4.10.0-37-generic
- Extensions:

Extension|Author (truncated)|Version
---|---|---
EditorConfig|Edi|0.11.0
lorem-ipsum|Tyr|1.0.0
sort-lines|Tyr|1.3.0
vscode-svgviewer|css|1.4.3
tslint|eg2|1.0.11
git-project-manager|fel|1.4.0
md-navigate|jri|0.0.1
theme-monoka

[2017-10-19 19:58] Tyriar commented on #36591
Nevermind, this was what the extra build was last night.

@isidorn FYI the released checkbox does not release Linux builds, this needs to be done manually currently.

[2017-10-19 19:58] #36591 closed

[2017-10-19 19:59] rafialikhan commented on #35683
Orange is not cool, bring back the blue...and whats with the tilt on mac?

![screen shot 2017-10-20 at 1 19 06 am](https://user-images.githubusercontent.com/179993/31791422-1d222684-b536-11e7-816d-905714699635.png)

[2017-10-19 20:02] mashiroplanc commented on #36581
Try using [Resources Hacker](http://www.angusj.com/resourcehacker/) to change VSCode Icon on Window, I tried it on Sublime
![image 008](https://user-images.githubusercontent.com/30903885/31791483-dd356ace-b542-11e7-972f-490f106a139c.png)

[2017-10-19 20:04] crownlessking opened #36592 "Files with *.hjs extention not highlighted as handlebars by default but plain text."
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:57:00.652Z)
- OS Version: Linux x64 4.4.0-97-generic
- Extensions:

Extension|Author (truncated)|Version
---|---|---
Bookmarks|ale|0.16.0
code-gnu-global|aus|0.2.2
tslint|eg2|1.0.11
vscode-great-icons|emm|2.1.16
phpcs|ika|0.7.0
Angular2|joh|2.9.0
cpptools|ms-|0.14.0

(2 theme extensions excluded)

---

Steps to

[2017-10-19 20:15] chrisdias commented on #35746
Yes, this is a helpful issue. I'm editing the checklist above.

[2017-10-19 20:24] chrisdias commented on #33685
This is most likely a problem with Windows caching icons. if it still exists, please reopen.

[2017-10-19 20:24] #33685 closed

[2017-10-19 20:24] #33323 closed

[2017-10-19 20:27] acrolink commented on #36426
Just to update you on the edit script and execute updated issue. Editing and running scrips updated without window.reload is possible by creating custom scripts within https://github.com/mkloubert/vs-script-commands

[2017-10-19 20:29] SSkovboiSS commented on #1023
+1

[2017-10-19 20:31] mashiroplanc opened #36593 "Edit multiple selected word is not working as expected"
- VSCode Version: 1.17.2
- OS Version: Window 10 Education, Build 15063.674

#### Describe:
Pressing Ctrl+D then Delete to delete similar word but VSCode only deleted the first selected word and next string after it.

#### Actual behavior:
![1](https://user-images.githubusercontent.com/30903885/31791667-8be57424-b543-11e7-903f-b0d70e7d6381.gif)
#### Expected  behavior:
![2](https://user-images.git

[2017-10-19 20:40] jonathanhupp commented on #36383
I am also experiencing this issue. Primarily when using the path intellisense, when I get to a directory that takes awhile to load (if it ever loads) it blocks any other intellisense from working.

[2017-10-19 20:44] raxim1 opened #36594 "Support opening and editing extra large binary file"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:57:00.652Z)
- OS Version: Linux x64 4.10.0-37-generic
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-docker|Pet|0.0.20
vscode-eclipse-keybindings|alp|0.9.6
Gradle|caz|1.1.2
githistory|don|0.2.3
python|don|0.7.0
vscode-livescript-preview|ehe|1.0.2
azure-account|ms-|0.1.3
cpptools|ms-|0.14.

[2017-10-19 20:47] EdonGashi commented on #26807
Tried it. It's working as expected. Thanks!

[2017-10-19 20:48] wizarrc commented on #34865
@tahnik It's still an issue with FCU 16299.19. I don't think this is a windows problem, but part of the chromium code that vs code uses via Electron.

[2017-10-19 20:52] rafaelhoff commented on #35741
Also works providing the Settings' property:
[code]

[2017-10-19 20:57] Sevenhero commented on #26839
So did anyone got it working on Windows 10? sry :)

[2017-10-19 21:02] ravinsinghd commented on #36201
@joaomoreno after moved the git folder that issue not came. i worked almost 8hrs not facing problem.

[2017-10-19 21:15] hariram1975 commented on #36513
thanks disable HookyQR.beautify fixed the issue

On Thu, Oct 19, 2017 at 12:22 AM, Matt Bierner <notifications@github.com>
wrote:

[2017-10-19 21:16] FanFanFantastic commented on #35783
Had change the old icons back myself, VS code should listen to the public opinion else it will fail to exist

[2017-10-19 21:17] chrisdias commented on #35911
@camwheeler is correct - in the small taskbar we use an icon without the bounding box on the right/bottom.

[2017-10-19 21:17] #35911 closed

[2017-10-19 21:17] usernamehw opened #36595 "Keybindings: Add when clause context for sidebar"
Currently there is no way to tell if sidebar is visible. You can get the state only for 2/5 viewlets.

Explorer: `explorerViewletVisible`
Search: `searchViewletVisible`
Source Control: `x`
Debug: `x`
Extensions: `x`

Sidebar (any of the above is visible): `x`

[2017-10-19 21:21] aaptho opened #36596 "On macOS, with editor.find.seedSearchStringFromSelection set to false, command-e doesn't populate search string"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:47:41.889Z)
- OS Version: Darwin x64 17.0.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
unity-tools|Tob|0.1.9
unity-debug|Uni|1.2.1
vscode-eslint|dba|1.3.2
python|don|0.7.0
cpptools|ms-|0.14.0
csharp|ms-|1.12.1
mono-debug|ms-|0.15.7
vscode-arduino|vsc|0.2.9

---

Steps to Reproduce:

1. Add t

[2017-10-19 21:38] WadeShuler commented on #178
@petkahl Thanks, I am familiar with the [Git Status Short Format](https://git-scm.com/docs/git-status#_short_format). I used it weeks ago to make my [vsc git status fix](https://gist.github.com/WadeShuler/1637073371ad126779076344c34278f3) for adding basic Git statuses until this gets resolved officially.

It is possible (somehow) to get `_M` (underscore = space). I am not sure how, why, when.. I g

[2017-10-19 21:40] jackhorton commented on #20837
I would like to voice my support here -- while I prefer to write code with a dark background, any time I copy/paste it to another app, itll be going against a white background. Neither paste-with-background or paste-without-background are good options, there, and it would really be best to simply copy as if i were using a light theme.

[2017-10-19 21:48] ShadSterling opened #36597 "Escape filename when dragging from explorer to the terminal"
- VSCode Version: Code 1.16.0 (787b31c0474e6165390b5a5989c9619e3e16f953, 2017-09-06T16:12:42.401Z)
- OS Version: Darwin x64 16.7.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
angulardoc-vscode|Ang|3.0.2
angular2-inline|nat|0.0.17
java|red|0.12.0

---

Steps to Reproduce:

1. Drag a file with special characters in the filename from the EXPLORER sidebar to an Terminal.app window

[2017-10-19 21:48] joschabach commented on #7893
VSCode updates frequently, and would have to be sanitized every time, which is not a good option. Is it feasible to fix it with a small extension (that could also customize the statusbar)?

[2017-10-19 21:49] Polyergic commented on #36597
Your bot is wrong, this is not about the integrated terminal, and does not affect the integrated terminal.

[2017-10-19 22:26] ceituna commented on #7863
@dbaeumer Only one of them is (a tsc watch). I wasn't aware of the dependsOn option. Couldn't find it in the docs. I've now setup a new task which depends on the other two as the default build task and everything works as expected. Thanks for the hint!

[2017-10-19 22:30] pmkary opened #36598 "There is no "peekViewResult.foreground" in workbench theme settings."
- VSCode Version: 1.17.2
- OS Version: macOS Sierra
- [Source Code of the Problem](https://github.com/karyfoundation/kf-theme-vscode/blob/master/themes/kary-dark.json)

Hi everyone. As always thanks a lot for great new features in VS Code.

We [came across a problem within our theme](https://github.com/karyfoundation/kary.themeX/issues/19) that as you can see in active peek view results are being

[2017-10-19 22:33] AliMhamad commented on #670
Any update concerning html intellisense for php

[2017-10-19 22:47] devvpm commented on #36352
Trying to see the process tree in Window7, Can I share the `tasklist `output?

[2017-10-19 22:53] pmkary opened #36599 "New Terminal Block is problematic with custom line heights"
- VSCode Version: 1.17.2
- OS Version: macOS Sierra

They say a picture tells a thousand words, that's this:

<img width="513" alt="screen shot 2017-10-20 at 2 12 08 am" src="https://user-images.githubusercontent.com/2157285/31797816-300e5784-b53d-11e7-80ea-3347a1d30d45.png">

My current settings are:

[code]

[2017-10-19 22:55] DeathLoveCrymo commented on #35839
I am also having this problem.
1.17.2 on Windows 10

[2017-10-19 23:00] petkahl commented on #178
@WadeShuler I can consistently get _M, by committing and modifying. Which means it's unchanged (_=space) in the index, but modified in the working tree.
so:
Create file: ??
git add file A_
git commit (not in status, but the equivalent of space space)
modify the file: _M
git add file M_
modify it again: MM

I don't really have an opinion about the badges when it has two. I never check in without lo

[2017-10-19 23:06] robinsh commented on #36122
Thanks @davidnjohnson . I don't know if I can bear changing the resolution on my Surface just for this one problem, but if I get desperate, I'll try it out!

[2017-10-19 23:07] robinsh commented on #36122
@bpasero Thanks very much. It's quite maddening. Will I get any kind of notification when it's been fixed?

[2017-10-19 23:29] willfaught opened #36600 "Search and Replace opens every file affected without changes saved"
It seems unrealistic to expect the user to go through each tab and save it, or to save all tabs at once, which might save changes in unaffected files you didn't want to save.

The behavior of TextMate 2 works well, where clicking the Replace All button performs the replacements without showing them, unless the affected files are already open.

---

Steps to Reproduce:

1. Search and replace someth

[2017-10-19 23:30] waynebloss commented on #36590
Luckily, I'm fanatical about checking in my work as often as possible so I didn't lose much. However, this tool did make me question my sanity momentarily and that is never good.

I might roll back to the August 2017 update in the near future. Anyway, closing this because it's really not that useful to you.

[2017-10-19 23:30] #36590 closed

[2017-10-19 23:34] jschroedl commented on #35783
Orange is the new bleh. Change it back please!

[2017-10-19 23:46] rkpatel33 commented on #2755
+1

[2017-10-19 23:51] #35976 closed

[2017-10-19 23:52] semiadam commented on #782
+1

[2017-10-20 00:17] harisvsulaiman commented on #34342
This has been bothering me for a while.

[2017-10-20 00:17] wardoost opened #36601 "Unable to click and open mailto links in Markdown preview"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:47:41.889Z)
- OS Version: Darwin x64 17.0.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-markdownlint|Dav|0.10.1
beautify|Hoo|1.1.1
quokka-vscode|Wal|1.0.72
path-intellisense|chr|1.4.2
vscode-svgviewer|css|1.4.3
vscode-eslint|dba|1.3.2
python|don|0.7.0
prettier-vscode|esb|0.24.0
flow-fo

[2017-10-20 00:29] dyh333 commented on #10108
@kookpua  哥们 我按你说的方法试了 输出控制台还是乱码 麻烦帮忙看一下
![image](https://user-images.githubusercontent.com/1221313/31800060-a79a7bb0-b570-11e7-868d-bc89cd98c758.png)

[2017-10-20 00:47] KayLeung opened #36602 "Default "Change Language Mode" shortcut doesn't work"
The shortcut of "Change Language Mode" (ctrl+k m) has the conflict with "ctrl+k". When you press "ctrl+k", it executes "workbench.action.git.input-commit" and show errors, you can't continue to type in "m"

- VSCode Version: 1.17.2
- OS Version:  Windows 10

Steps to Reproduce:

1. Open a file
2. Press "ctrl+k" then "m" ( the default "Change Language Mode" shortcut)

Reproduces without extensions:

[2017-10-20 01:05] UltimateRandom commented on #3429
+1
I have a large MD document in which i'm having trouble spotting the fenced codes from the normal text

[2017-10-20 01:12] HoZm opened #36603 "ssatk"
- VSCode Version: Code 1.17.0 (be377c0faf7574a59f84940f593a6849f12e4de7, 2017-10-04T23:45:46.804Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-javascript-snippet-pack|aka|0.1.5
npm-intellisense|chr|1.3.0
path-intellisense|chr|1.4.2
bracket-pair-colorizer|Coe|0.10.9
vscode-eslint|dba|1.3.2
githistory|don|0.2.3
vscode-html-css|ecm|0.

[2017-10-20 01:21] dee-see opened #36604 "Razor syntax highlighting issue"
- VSCode Version: 1.17.2
- OS Version: Arch Linux, kernel 4.13.4-1

Steps to Reproduce:
Single quotes and accents in blocks mess up the colors

![accent](https://user-images.githubusercontent.com/7252342/31801034-61cb16a6-b513-11e7-97b2-8ceaa00b19de.png)

![singlequote](https://user-images.githubusercontent.com/7252342/31801038-63b1dbf8-b513-11e7-9b88-e18521aa82e4.png)

Reproduces without extensio

[2017-10-20 01:31] felixfbecker opened #36605 "SCM viewlet always scrolls to the top and resets size when selecting repo"
- VSCode Version: Code - Insiders 1.18.0-insider (4b01451cea60f32412098735709fddcac567b33d, 2017-10-19T08:14:18.042Z)
- OS Version: Darwin x64 16.7.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
EditorConfig|Edi|0.11.0
vscode-wakatime|Wak|1.1.16
vscode-icontheme-nomo-dark|be5|1.3.3
tslint|eg2|1.0.11
php-debug|fel|1.11.1
php-intellisense|fel|1.5.2
java|red|0.12.0
sourcegraph|sou|

[2017-10-20 01:36] #36301 closed

[2017-10-20 01:40] HoZm opened #36606 "wiideska"
- VSCode Version: Code 1.17.0 (be377c0faf7574a59f84940f593a6849f12e4de7, 2017-10-04T23:45:46.804Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-javascript-snippet-pack|aka|0.1.5
npm-intellisense|chr|1.3.0
path-intellisense|chr|1.4.2
bracket-pair-colorizer|Coe|0.10.9
vscode-eslint|dba|1.3.2
githistory|don|0.2.3
vscode-html-css|ecm|0.

[2017-10-20 01:51] ThisIsManta commented on #34747
@dbaeumer, would you kindly enlighten me how to add a separator to `items` in `showQuickPick`?

I'm referring to https://code.visualstudio.com/docs/extensionAPI/vscode-api#_window

[2017-10-20 01:51] tianyunperfect commented on #35945
@yume-chan
You are a genius, This is my problem.  best wishes to you.

[2017-10-20 01:59] aaronps commented on #35783
The new icon is so bad, that people which usually doesn't report or comment on internet, comes here to report that, yes, in fact, the new orange icon is bad, please revert the commit.

[2017-10-20 02:21] #36606 closed

[2017-10-20 02:21] #36603 closed

[2017-10-20 02:25] mjbvz commented on #36593
Hmm, i just tried this in 1.17.2 and saw it working as expected. Does this only happen in python files for you? Does it still happen if you disable all of your extensions?

[2017-10-20 02:29] xin-6 opened #36607 "The problem of encoding confusion when VSCode compiles and runs Java"
- VSCode Version: Code 1.16.1 (27492b6bf3acb0775d82d2f87b25a93490673c6d, 2017-09-14T16:38:23.027Z)
- OS Version: Windows_NT x64 6.1.7601
- Extensions:

Extension|Author (truncated)|Version
---|---|---
java-run|cao|1.1.4
---

Steps to Reproduce:

Here is the error message when I run Java, and it's normal to run in eclipseIDE

[code]

Reproduces without extensions: Yes/No

[2017-10-20 02:36] mjbvz commented on #36587
This seems to work if you use an import statement:

[code]

or if you extract the `Model`:

[code]

I believe you are running into this issue: https://github.com/Microsoft/TypeScript/issues/11825

As a workaround, we are consider allowing jsdocs to include module imports for this case. See https://github.com/Microsoft/TypeScript/issues/14377 for more detail

Closing as upstream

[2017-10-20 02:36] #36587 closed

[2017-10-20 02:42] mjbvz commented on #36607
This sounds like an issue with the java-run extension. Can you please file this issue against that extension: https://github.com/NeverCL/vscode-java-run/issues/new

[2017-10-20 02:42] #36607 closed

[2017-10-20 02:46] mjbvz commented on #36576
Do any of these extensions so what you are looking for: https://marketplace.visualstudio.com/search?term=open%20in%20browser&target=VSCode&category=All%20categories&sortBy=Relevance

[2017-10-20 03:03] mjbvz commented on #36513
Thanks for the followup. Closing as caused by extension

[2017-10-20 03:03] #36513 closed

[2017-10-20 03:06] mjbvz commented on #36488
In the error case, if you manually trigger intellisense using <kbd>ctrl</kbd><kbd>space</kbd>, do you see the correct suggestions?

[2017-10-20 03:09] mjbvz commented on #36533
This is unrelated to the gitignore. You need to import `Test` in `index.ts` for this to work. By having the `export` in `Test.ts`, that file will be treated as a module so it will not export globals

[2017-10-20 03:09] #36533 closed

[2017-10-20 03:11] uwence opened #36608 "Installing Visual Studio Code on RP3 is failing"
I'm trying to get Microsoft Visual Studio Code on my Raspberry Pi3 running Raspbian 9 (stretch). I've used these instructions; http://dattabase.com/install-vs-code-raspberry-pi-3/, except that I am using the n node manager and running node v 7.10.1 and npm v4.6.1.

When is run "./scripts/npm.sh install --arch=armhf" it runs for a while, then I get the following errors;

/home/pi/projects/vscode/no

[2017-10-20 03:14] mjbvz commented on #36429
You should be able invoke autocomplete inside of `['']` using <kbd>ctrl</kbd><kbd>space</kbd>

<img width="276" alt="screen shot 2017-10-19 at 8 14 04 pm" src="https://user-images.githubusercontent.com/12821956/31803701-11a8366c-b50a-11e7-822a-feceefe07dea.png">

We just don't show quick suggestions automatically in this case because you are inside of a string. Does this address the issue?

[2017-10-20 03:17] ArtemGovorov opened #36609 "Allow folding in output channels"
- VSCode Version: 1.17
- OS Version: all

Steps to Reproduce:

1. Write some foldable content to an output channel.
2. Folding doesn't work in the output channel.

Reproduces without extensions: Yes

For some reason folding is disabled in output channels -
 https://github.com/Microsoft/vscode/blob/e8f7ac78b782e157ef56c0d16de994bb54443646/src/vs/workbench/parts/output/browser/outputPanel.ts#L84

![

[2017-10-20 03:18] mjbvz commented on #36547
Opened https://github.com/Microsoft/TypeScript/issues/19365 to track this upstream

[2017-10-20 03:18] #36547 closed

[2017-10-20 03:22] mjbvz commented on #32185
@Rauttis The suggestions issue for `paths` is being tracked by https://github.com/Microsoft/TypeScript/issues/19113

---

@jeffijoe Can you try with VSCode 1.17. If it still isn't working, two more things to try:

1. In the js file, run `JavaScript: Go to project configuration` command. This should open the `jsconfig.json` file. If it does not, you need to fix the `excludes` or `includes` in the `

[2017-10-20 03:23] chuckhacker commented on #35783
It's disrupting my workflow because I am so used to looking for the old icon when ALT+TABBING.

[2017-10-20 03:25] mjbvz commented on #36564
Duplicate of #33895

[2017-10-20 03:26] zhaojianshu opened #36610 "我开启了自动更新，为什么更新后，我以前的配置全部给重置了？"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:48.528Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

Extension|Author (truncated)|Version
---|---|---
html-snippets|abu|0.1.0
vscode-color|ans|0.4.5
npm-intellisense|chr|1.3.0
cssrem|cip|0.0.3
vscode-markdownlint|Dav|0.10.1
jshint|dba|0.10.15
vscode-eslint|dba|1.3.2
react-redux-react-router-snippets

[2017-10-20 03:28] zhaojianshu opened #36611 "我开启了自动更新，为什么更新后，我以前的配置全部给重置了？关键的问题，现在还不知道怎么配置了！！我想怎么函数名 function 后面加一个空格，还有那个自动添加的分号符；；；怎么拿掉？"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:48.528Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

Extension|Author (truncated)|Version
---|---|---
html-snippets|abu|0.1.0
vscode-color|ans|0.4.5
npm-intellisense|chr|1.3.0
cssrem|cip|0.0.3
vscode-markdownlint|Dav|0.10.1
jshint|dba|0.10.15
vscode-eslint|dba|1.3.2
react-redux-react-router-snippets

[2017-10-20 03:29] zhaojianshu opened #36612 "，看懂中文了么？我开启了自动更新，为什么更新后，我以前的配置全部给重置了？关键的问题，现在还不知道怎么配置了！！我想知道函数名 function 后面加一个空格，还有那个自动添加的分号符；；；怎么拿掉？"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:48.528Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

Extension|Author (truncated)|Version
---|---|---
html-snippets|abu|0.1.0
vscode-color|ans|0.4.5
npm-intellisense|chr|1.3.0
cssrem|cip|0.0.3
vscode-markdownlint|Dav|0.10.1
jshint|dba|0.10.15
vscode-eslint|dba|1.3.2
react-redux-react-router-snippets

[2017-10-20 03:30] mjbvz commented on #36611
Duplicate of #36610

[2017-10-20 03:30] #36611 closed

[2017-10-20 03:30] mjbvz commented on #36610
Duplicate of #36612

[2017-10-20 03:30] #36610 closed

[2017-10-20 03:32] mjbvz commented on #36612
Please do not file duplicate issues.

Can you provide a description of the problem along with some steps to reproduce it. Screenshots and a description of the expected behavior may also helpful

[2017-10-20 03:35] qidianbuji opened #36613 "function or class or class member search slowly and cannot get what I want."
1. The problem is: when I try to search a class definition, I use the "ctrl+shift+f" global symbol search, and after I type in the name, the search result windows show me the  some thing like symbols. In other word, it use the symbols like search, not syntax. Off course, when I type in with the space name, failed search definitely.
2. another problem is, when open one file, I want to have one symb

[2017-10-20 03:36] mjbvz commented on #34342
@andy-ms Can you please take a look at these typings installer logs errors

[2017-10-20 03:36] zhaojianshu commented on #36612
期望：get () {
               return 1
            }
但是更新后再格式化代码：get() {
                                              return 1；
                                              }
多了一个；  get 后面少了一个空格

[2017-10-20 03:47] Panoplos commented on #36488
No.

[2017-10-20 03:48] XxUnruly opened #36614 "Can we get support for Delphi language?"

[2017-10-20 04:10] MPanahandeh commented on #26686
@danyeh

You can count on me too!
https://www.transifex.com/user/profile/mpg.pan/

Thanks!
Mehrdad Panaandeh

[2017-10-20 04:38] ManfredSteiner opened #36615 "Global packages not detected"
- VSCode Version: 1.17.1
- OS Version: Ubuntu 16.04
Reproduces without extensions: Yes

This issue is also posted on:
[https://stackoverflow.com/questions/46762461/how-to-use-global-node-packages-with-vs-code](https://stackoverflow.com/questions/46762461/how-to-use-global-node-packages-with-vs-code)

If Node.js packages are globally installed, they can be used by Node.js applications. But *vscode*

[2017-10-20 04:40] roblourens commented on #36613
1. Can you explain some more? ctrl+shift+f searches for text. I don't understand what you're asking for.
2. Does ctrl+shift+o do what you're asking for?
3. Also don't understand what you're asking for here. Does ctrl+t (global symbol search) help?

[2017-10-20 04:42] roblourens commented on #36549
I can't reproduce this. Can you try with the Insiders version? The symlink was just created with `ln -s`?

[2017-10-20 04:51] #35894 closed

[2017-10-20 04:58] WadeShuler commented on #178
I have added `Staged` support. You can see the changes here: [WadeShuler/vscode:gitstatus-fix](https://github.com/WadeShuler/vscode/blob/gitstatus-fix/extensions/git/src/repository.ts). I also made some of the badges on the Git Status tab look a little better by making them a bit bigger.

For some reason, it knocked the darkening/ignoring of the `vendor` directory, but it's contents inside are sti

[2017-10-20 05:22] frederick-wang commented on #36612
我也遭遇到了这个问题。。。自动添加分号好坑，而且找不到如何取消……

[2017-10-20 05:36] cybamalindi commented on #32887
I had the same problem too after updating VS Code to the September version the disabled AutoSave like @arpitnext suggested and its working fine

[2017-10-20 05:45] screendriver commented on #1023
Why do everyone vote with a `+1`? Please please please stop it! GitHub has a feature called [reactions](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments) since **March 2016**. Please use that instead of flooding with unnecessary `+1`'s. With every `+1` everyone of the 128 subscribers gets a useless notification 🙄

[2017-10-20 05:45] frederick-wang commented on #36612
找到原因了：https://segmentfault.com/q/1010000011627067/a-1020000011630962

[2017-10-20 05:51] michaelllh opened #36616 "open c file can not find symbol"
- VSCode Version: 1.17.2
- OS Version:win7

Steps to Reproduce:

1.open a c source file
2.ctrl+T to find all symbol is none.(ctrl+shift+o find symbol in this file is also none)

Reproduces without extensions: Yes/No

[2017-10-20 05:51] sn1k commented on #1023
You are right @screendriver, +1

[2017-10-20 05:54] McNerdius commented on #35783
The original icon was simple and bold.

Chopping the leftmost bits off the "infinity" to denote openness (and resemble a ribbon ?) and putting the icon in the "infinity container" to strengthen branding makes it too busy IMHO.  I agree with @fractos -

Maybe just take it out of the "infinity container" thingy ?

[2017-10-20 06:17] StefH commented on #36546
@isidorn : Can you please provide the github project for this ? I'm unable to find it.

[2017-10-20 06:25] aarondrabeck commented on #35783
+1 revert commit.

[2017-10-20 06:41] k8w opened #36617 "vscode.workspace.findFiles cannot get files appeared in .gitignore"
- VSCode Version: 1.18.0-insider
- OS Version: win10

Steps to Reproduce:

[code]

.gitignore
[code]

[code]

**Expect**
Get Array[1] with `Test.ts` inside

**Actual**
Get Array[0]

Reproduces without extensions: Yes

[2017-10-20 06:42] verlok commented on #35683
Let’s be frank: the old icon wasn’t that good either. But the new one is worse. Please remove the tilt on Mac, and if possible bring back the blue.

[2017-10-20 06:43] k8w commented on #36617
This result in this: [https://github.com/pmneo/ts-importer/issues/45](https://github.com/pmneo/ts-importer/issues/45)

[2017-10-20 06:57] zhaojianshu commented on #36612
谢谢，已解决！

[2017-10-20 06:58] iricigor opened #36618 "Insider 1.18: sidebar on right side displays icons with text overlay"
- VSCode Version: Insiders 1.18
- OS Version: Windows 10

Steps to Reproduce:

1. Open user settings and add "workbench.sideBar.location": "right"
2. Check sidebar icons (see screenshot below), icons will have some text over them

Reproduces without extensions: Yes

Here are screenshot from extensions icon on different themes. Notice letters (most probably) "t e n" over it. It is similar with othe

[2017-10-20 07:15] xiaoshuishuihuohuo commented on #35783
bring the old icon back please, this one looks so ugly, and orange make it even worse.

[2017-10-20 07:40] Martin-Wegner commented on #1023
As far as I know feature requests are sort by `thumbs up reactions`:
https://github.com/Microsoft/vscode/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc

So the `+1` posts will not help anyone. The only thing you can really do is a `thumbs up reaction` for the first post. Just saying...

[2017-10-20 07:43] isidorn commented on #36546
Actually there seems to be some built in support. Reopeneing and assigning to @aeschli to classify what to do here

[2017-10-20 07:43] #33520 closed

[2017-10-20 07:43] bpasero commented on #34440
@ChrisShen93 when you refresh the explorer are the files showing up properly?

[2017-10-20 07:44] isidorn commented on #36591
@Tyriar thanks for releasing them. Do we have this documented somewhere so anybody can release Linux builds when needed. Thanks

[2017-10-20 07:44] bpasero commented on #36447
Yes I see what the problem might be.

[2017-10-20 07:45] bpasero commented on #36516
https://github.com/Microsoft/vscode/issues/35527

[2017-10-20 07:45] #36516 closed

[2017-10-20 07:47] bpasero commented on #36540
@joaomoreno this is complicated because for each process to watch for we need another process for the crash reporter.

@ramya-rao-a and me tried to enable the crash reporter for the extension host on macOS only (via [`getChildProcessStartOptions`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/crashReporter/electron-browser/crashReporterService.ts#L82)) but so far I have

[2017-10-20 07:47] bpasero commented on #36543
https://github.com/Microsoft/vscode/issues/29195

[2017-10-20 07:47] #36543 closed

[2017-10-20 07:48] bpasero commented on #36590
@waynebloss sorry to hear that, if you can find any reproducible steps I would be happy to look into it.

[2017-10-20 07:50] cameront commented on #6923
FWIW, I don't think a new command should be added that would select the second item by default.

But it is good to know that Cmd+P,P can come close to replicating the 'sublime/atom' behavior.

But even if you can progress down the list of open editors by continuing to hit P (while Cmd pressed), I still don't understand any use case for starting with the currently open editor.

The command for "Go

[2017-10-20 07:54] isidorn commented on #36589
Please file this feature request against the powershell extension https://github.com/PowerShell/vscode-powershell
Though this is probably something we wold not support on the vscode side

[2017-10-20 07:54] #36589 closed

[2017-10-20 07:55] Yajo commented on #36549
Yes, just a normal symlink (Linux here).

With insiders version, I have to reload window after applying settings to trigger the bug.

[2017-10-20 07:56] Faultless opened #36619 "Lag in git left-side indicators update"
- VSCode Version: Code - Insiders 1.18.0-insider (3495b0b185acbe8188e821ccb3ae807274703a9c, 2017-10-17T04:23:54.942Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
npm-intellisense|chr|1.3.0
vscode-css-modules|cli|0.2.2
vscode-markdownlint|Dav|0.10.1
vscode-eslint|dba|1.3.2
githistory|don|0.2.3
xml|Dot|1.9.2
gitlens|eam|5.7.1
vscode-npm-scr

[2017-10-20 07:58] goooxu opened #36620 "Find in Files is failure"
- VSCode Version: 1.17.2 (x64)
- OS Version: Version 1709 (OS Build 16299.19)

Steps to Reproduce:

1. cd **D:\OneDrive - Microsoft\Code\OpenMindVSCode**
2. code .
3. Ctrl+Shift+F open Find in Files dialog
4. search anything will be failure (nothing found), except opened documents

Reproduces without extensions: Yes

Please note that **D:\OneDrive - Microsoft** is the folder which synced with my O

[2017-10-20 08:00] xster commented on #35783
I heard about this ruckus offline and decided to look up what's going on and ...

![screen shot 2017-10-20 at 12 57 06 am](https://user-images.githubusercontent.com/156888/31810825-003465e0-b532-11e7-9a94-03822d9edafe.png)

[2017-10-20 08:10] elias-garcia commented on #35614
I've just downloaded the insiders preview. I'll give it a try this days and get back here to post the results @chrmarti . Yes @roblourens , it seems to be something related to the extensions. Should I open a new issue or what? Anyway, I'll give the current insiders a try and post here the results.

[2017-10-20 08:14] icuurd12b42 opened #36621 "Double Clicking words on the edge is impossible"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
spellright|ban|1.2.22
code-runner|for|0.7.3
vscode-autohotkey|sle|0.2.1

I often have text on the edge of the screen that I would like to select by double clicking it. but the scroll into view sort

[2017-10-20 08:20] fluffynuts commented on #35572
This is a great improvement over the existing search! Would it be possible to have some way to make this search box wider? I have a rather deep solution, such that file searches, which are making far better hits now, are still not obvious until I mouse over each entry in the list to get the full text. At the moment. this search box only takes up like 1/4 of the width of my screen -- I have plenty

[2017-10-20 08:27] CzBuCHi opened #36622 "Minimap out of sync with scrollbar"
Not sure if this belongs here but it is issue after all....

Minimap gets out of sync with scroll position. ( left image - u can crearly see, that scrollbar handle is far lower than minimap 'handle' ... )

Also error markers ( in green circle ) are in scope of scrollbar and not minimap ... i usually center minimap view to that red box, get confused for a while and then move to correct place

Can b

[2017-10-20 08:28] isidorn commented on #36618
@iricigor great catch, thanks a lot

[2017-10-20 08:29] #36618 closed

[2017-10-20 08:29] egamma opened #36623 "Multi root support: warn developer when asking for a setting for a resource but the setting is not resource scoped"
When in Dev mode

- Accessing a resource configuration with out providing a resource will log following warning
[code]

- Accessing a window configuration for a resource will log following warning
[code]

Following message is shown when a window setting is configured in Folder settings

![image](https://user-images.githubusercontent.com/10746682/32100536-79a48c1a-bb14-11e7-9df4-8e8f918a7855.png)

[2017-10-20 08:30] Alonski commented on #24713
I am also getting this issue... It wasn't happening yesterday
![image](https://user-images.githubusercontent.com/452199/31811858-b8b4a10a-b589-11e7-950a-50db0535aba7.png)

- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
html-snippets|abu|0.1.0
B

[2017-10-20 08:31] isidorn commented on #36595
PR that fixes this is welcome.
Code pointer https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/electron-browser/workbench.ts#L105

Basicaly the part service would need to add new context key and set it when sidebar gets shown / hidden.
I propose to call this context key `sidebarVisible`.

[2017-10-20 08:34] Markussss commented on #36562
I have only tested this with up to four different selected blocks. The result is the same every time, but what block is getting sorted depends on where I put the first cursor (the main cursor); the block highlighted by the main cursor is always getting sorted it seems.

[2017-10-20 08:41] screendriver commented on #1023
As I said 😉

[2017-10-20 09:01] jminer commented on #35453
I have had this happen many times, but it seems to happen randomly, like 2% of the time I select something. I haven't noticed any way to reproduce it on demand. It is not a stuck key causing it. As the OP said, when it happens, if I try dragging the selected text again, it will create another copy. However, if I deselect the text, and select the same text again, then I can drag and drop the text w

[2017-10-20 09:03] tahnik commented on #34865
@wizarrc I don't know why this issue in Chromium is being ignored for this long. I can't use windows just because of this problem 😢

[2017-10-20 09:04] #36545 closed

[2017-10-20 09:14] jice-nospam commented on #35783
This is the most important issue I've ever had with VSCode. Must fix !

[2017-10-20 09:15] nicgirault commented on #34407
A related problem is that when I select a word and add quotes, it removes the word whereas I would expect the word to be wrapped with quotes

[2017-10-20 09:32] oodavid commented on #25934
@chrisnicola Same for me, a recurring problem.

[2017-10-20 09:32] timdmackey opened #36624 "[theming] Theme customization "lineHighlightBorder" width"
Is there a way to change the thickness of the line highlight border (`editor.lineHighlightBorder`) when customizing a theme? The built-in High Contrast theme has a nice 1px border, but adding the border to any other theme produces a thicker border which seems unnecessarily thick to me.

[2017-10-20 09:35] rcjsuen opened #36625 "Folder setting changes don't send any workspace.onDidChangeConfiguration() notifications"
- VSCode Version: 1.18.0-insider 3495b0b185acbe8188e821ccb3ae807274703a9c
- OS Version: Windows 10

Steps to Reproduce:

1. I have this code in an extension.
[code]
2. When I change user settings or workspace settings, I get notified. However, when I change folder settings I don't get any notifications. The settings in my package.json are `"scope": "resource"` and I have been told that this should

[2017-10-20 09:38] shengsheng commented on #9388
Any news?
Please provider a "double click" model.

[2017-10-20 09:44] Otiel commented on #22003
I also vote to reopen this.

[2017-10-20 09:46] phual opened #36626 "Enhancement Request - Option to delay applying property changes when editing tabular models"
- VSCode Version: SSDT 15.3.3 (VS 2017)
- OS Version: Windows 7 6.3.9600
- Tabular Model compatibility level 1103

Making changes to the design of tabular models is slow. Every time you make a change, you have to wait for that change to be applied before making the next change. The user experience could be dramatically improved by delaying the application of changes until multiple changes have bee

[2017-10-20 09:47] Eric2XU commented on #36589
It's so funny you would say that given the fact they told me to file it here as they dont control that panel. Just please know many used to tools like ISE and PowerGUI have this functionality and won't switch until you wake up and realize you need to provide the PowerShell extension the ability to do this. I guess ill cross VS Code off my list for my next PS IDE.

[2017-10-20 09:55] mattacosta commented on #35223
Hmm, would it be possible to let a language server pass along a flag in the `Diagnostic` object that tells VSCode to wrap the message at word boundaries?

For example, my parser returns a diagnostic object that may contain message arguments (i.e. text replacements). This means that the language server could let VSCode know if `mySuperLongMethodOrVariableName` was inserted into a diagnostic message

[2017-10-20 09:55] bpasero commented on #12095
Fixed via https://github.com/Microsoft/vscode/commit/9d40f0c647bf1de0aaa813e6519b85a24e98da14

[2017-10-20 09:55] #12095 closed

[2017-10-20 09:56] bpasero commented on #21019
Fixed via https://github.com/Microsoft/vscode/commit/9d40f0c647bf1de0aaa813e6519b85a24e98da14

https://github.com/Microsoft/vscode/issues/21019#issuecomment-301300198 is a case of https://github.com/Microsoft/vscode/issues/25925

[2017-10-20 09:56] #21019 closed

[2017-10-20 09:56] bpasero commented on #32918
Fixed via https://github.com/Microsoft/vscode/commit/9d40f0c647bf1de0aaa813e6519b85a24e98da14

[2017-10-20 09:57] bpasero commented on #36119
Fixed via https://github.com/Microsoft/vscode/commit/9d40f0c647bf1de0aaa813e6519b85a24e98da14

[2017-10-20 09:57] #36119 closed

[2017-10-20 10:00] DanTup opened #36627 "Error installing vscode.d.ts: Error: Request returned status code: 500"
My builds on AppVeyor are currently failing due to a 500 response when fetching `vscode.d.ts`:

[code]

The build is here: https://ci.appveyor.com/project/DanTup/dart-code/build/0.0.771

Note: I think this has only recently happened - a few hours ago I pulled this on my Mac without any issues.

[2017-10-20 10:01] mattacosta commented on #36510
For reference: #33362

[2017-10-20 10:02] DanTup commented on #36627
As is always the way, it was resolved right after I submitted this =)

[2017-10-20 10:02] #36627 closed

[2017-10-20 10:03] #36625 closed

[2017-10-20 10:04] isidorn commented on #36626
Please file this against Visaul Studio.
This is a different product Visual Studio Code.

Sorry for the confusion

[2017-10-20 10:04] #36626 closed

[2017-10-20 10:05] sgruetter commented on #34407
@nicgirault I agree, this seems to be a related bug as wrapping-selection-with-quotes works with standard US layout.

[2017-10-20 10:06] DanTup commented on #34441
Different issue, but I suspect will be fixed together - decorations don't get hidden when you collapse the code they're in? :/

![Screenshot](https://user-images.githubusercontent.com/1078012/31816001-820f0ea4-b586-11e7-9467-bd832cc41250.png)

[2017-10-20 10:07] sandy081 commented on #36625
To Verify:

- Open  a Multi root workspace with Folders A, B
- Configure `files.exclude` setting under Settings of Folder A to exclude some files under Folder A.
- Make sure Explorer is updated according to the changes to this setting in Settings of Folder A.

[2017-10-20 10:11] doque opened #36628 "Emmet doesn't respect tab completion settings"
- VSCode Version: 1.17.2
- OS Version: mac OS Sierra 10.12.6 (16G29)

Steps to Reproduce:

1. Create file with syntax file Javascript React
2. Type `const foo = []`
3. Emmet will suggest to insert a snippet:
![image](https://user-images.githubusercontent.com/1480751/31816134-63b62ee8-b58f-11e7-88cf-5de6bf7024a1.png)
4. Hitting return (as in, leave the array empty and insert a new line) will trigge

[2017-10-20 10:16] dbaeumer commented on #34747
@jrieken can you please help @ThisIsManta .

The issue I made refers to our internal API.

[2017-10-20 10:17] gangsthub commented on #32443
hsl grey shades are propmted as black, also :(

![image](https://user-images.githubusercontent.com/6775220/31816446-a140fc10-b590-11e7-8fe3-df022e8891b3.png)

[2017-10-20 10:17] dbaeumer commented on #7863
You are welcome. Agree that this should be documented as well.

[2017-10-20 10:19] #36544 closed

[2017-10-20 10:22] dbaeumer commented on #36588
This is a little bit a chicken egg problem which we were discussing how to best solve. The problem is that the creator of the task doesn't know  which shell is used to execute hence doesn't really no how to quote / escape these things and the task executing engine doesn't know the structure of the command. The only possible way I can imagine is that the creator of the tasks give hint which parts s

[2017-10-20 10:23] DanTup commented on #36627
Actually just saw the same thing on Travis, so maybe it's a bit wobbly at the mo:

[2017-10-20 10:23] dbaeumer commented on #36350
@bpasero thanks a lot!

[2017-10-20 10:28] andy-block commented on #22261
I am also not a fan of the peekview. I found it super confusing when I started using VS code. In fact, I think it was the main thing that caused me to discard VS Code when I first tried it; I only gave it another shot after encouragement from a colleague, and have since grown to love it on the whole :). But I haven't grown to love peekview over time.

My preference would be:

a) for it to be confi

[2017-10-20 10:35] JasonKleban commented on #36429
@mjbvz - thanks for the look and the suggestion, but it doesn’t satisfy my interest.  Part of autocomplete’s value is in exploring unfamiliar apis and even needing to know that there are indexed members is a burden - it’s a little more awkward and we have to check both lists.

In my case, I’m generating Rest client code off swagger definitions, organized by route template and http method.  Rather

[2017-10-20 10:37] EFanZh opened #36629 "Editor text is not sub-pixel anti-aliased on Arch Linux"
OS: Arch Linux
Visual Studio Code version: 1.7.2

![vscode](https://user-images.githubusercontent.com/2160692/31816914-c2e43280-b557-11e7-98d9-07e4325a5ced.png)

However the text in the “About” dialog is sub-pixel anti-aliased.

Not sure if other Linux systems have the same problem.

[2017-10-20 10:51] iroes commented on #1023
Already did. +1 is for rebellion! XD

[2017-10-20 10:51] #36157 closed

[2017-10-20 11:04] jacek-dargiel opened #36630 "Python throws IOError in some scripts in Windows Integrated Terminal"
Running docker-compose commands fails when running from the integrated powershell terminal. Running same commands in the standalone powershell terminal works fine. Here's the failing message:

[code]

This looks like another instance of [this issue](https://github.com/docker/compose/issues/5019) - that one was reported to the docker repo, but the reporter does note that this only happens in the VS

[2017-10-20 11:11] LoveDuckie commented on #10121
This was the last thing they told me about it @Hypernut

https://twitter.com/TheLoveDuckie/status/916447993594859522

[2017-10-20 11:13] universonic opened #36631 "CPU full load for over 5 mins while replacing strings in multiple files"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:47:41.889Z)
- OS Version: Darwin x64 17.0.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-clock|Com|0.0.1
xml|Dot|1.9.2
beautify|Hoo|1.1.1
vscode-color|ans|0.4.5
gitignore|cod|0.5.0
githistory|don|0.2.3
python|don|0.7.0
gitlens|eam|5.7.1
vscode-html-css|ecm|0.1.8
code-runner|for|0.7.3
An

[2017-10-20 11:19] Hypernut commented on #10121
Odd that they would ignore the seemingly high demand for this feature.

[2017-10-20 11:20] jez9999 opened #36632 "Disable space converstion to tabs"
Upon pressing enter, Visual Studio Code will convert `\t\t_____` to `\t\t\t_` (underscore means space) if your tab size is set to 4.  When I say "2 tabs and 5 spaces" I mean "2 tabs and 5 spaces" and I don't want VS Code replacing some of my spaces with tabs.  I am using tabs for indentation and spaces for alignment.  There should be an option to prevent VS Code from converting spaces to tabs when

[2017-10-20 11:26] LoveDuckie commented on #10121
@Hypernut I thought the same. To me it seems as though it should be a base feature of any modern IDE.

[2017-10-20 11:30] benm-eras commented on #10121
You can just about work around it by dragging a file from the explorer into a new window; but that really isn't an acceptable solution. They seem to be dodging the question about it being a limitation of electron and whether or not they are actually ever going to be able to do it sadly.

[2017-10-20 11:40] hugows commented on #35783
Looks like Excel or something. Just ask the community to design an icon, I bet there would be great suggestions.

Until then, back to Sublime! lol

[2017-10-20 11:51] sumbrez opened #36633 "Auto-updating (v1.17.1 to v1.17.2) didn't install vscode in existing dir"
- VSCode Version: 1.17.1 (2017-10-10T14:24:50.851Z)
- OS Version: Windows 10 64bit

I installed vscode in D dir, and auto-updating before v1.17.1 worked correctly, but updating from v1.17.1 to v1.17.2 installed vscode in C dir (default dir).

Extensions:
Gimly81.matlab-0.7.1
robertohuertasm.vscode-icons-7.15.0
James-Yu.latex-workshop-3.5.5
se2dev.vscode-yacc-1.1.0
justusadam.language-haskell-2.4.0

[2017-10-20 11:57] PFCKrutonium commented on #35783
I too would love for this to be corrected. This is a vastly horrible bug that breaks the UI consistency of every platform that it is available on.

[2017-10-20 12:01] marinesovitch commented on #10121
or maybe they just don't want to make to strong competition for Visual Studio ;-}

[2017-10-20 12:16] brunocassol commented on #35683
![vscode_meme](https://user-images.githubusercontent.com/203541/31820342-4449f2fa-b577-11e7-9707-810108002b3e.png)

[2017-10-20 12:16] brunocassol commented on #35783
![vscode_meme](https://user-images.githubusercontent.com/203541/31820357-55278ae2-b577-11e7-8b07-bc7f41e86b6b.png)

[2017-10-20 12:20] dseipp commented on #178
If staged file colors/icons are going to be include, this should definitely be optional.  Personally, I would rather not see staged in my list as a different color than the original new/modified color.

Once you start to include staged it can get complicated fast since there's the possibility to include all of the combinations and permutation of new/new-staged/modified/modified-staged/modified-sta

[2017-10-20 12:21] nguyendviet commented on #36576
Hi Matt,

Thank you for your suggestion. That's very helpful.

Have a great weekend!

Cheers,

On 19 October 2017 at 22:47, Matt Bierner <notifications@github.com> wrote:

--
*Viet Nguyen*

[2017-10-20 12:33] bluzi commented on #36284
Got it, thanks!

[2017-10-20 12:35] tangorboyz commented on #35783
Checkout this out [https://www.microsoft.com/net/](url), the icon for vs code still the old one, except for mac.

[2017-10-20 12:41] mashiroplanc commented on #36593
I tried this again in 1.17.2 after window update and it worked as expected, don't know where it went wrong. perhaps it was window fault.

[2017-10-20 12:43] Otiel opened #36634 "Have a history per editor for in-editor navigation"
Could we have an option to stay in the current file when navigating back or forward using the following commands:
* workbench.action.navigateBack <kbd>Alt</kbd><kbd>←</kbd>
* workbench.action.navigateForward <kbd>Alt</kbd><kbd>→</kbd>

Currently, it navigates across all files, even the ones that have been closed.

[2017-10-20 12:59] selrond commented on #11847
No progress on this one?
Would be totally handy!

[2017-10-20 13:03] sandy081 commented on #36517
Yes, installed extension will override the built-in with same pub.name

[2017-10-20 13:06] mistralol commented on #35783
I am surprised there isn't like 50+ pull requests to change it back to the original icon.

[2017-10-20 13:08] robhaswell commented on #35783
@mistralol I couldn't find the file or commit, I think it's part of a private packaging repo.

[2017-10-20 13:13] bpasero commented on #36510
Yeah, as designed. We did not want to use the default colors here to prevent this from happening:

![image](https://user-images.githubusercontent.com/900690/31822470-32dfd91c-b5a9-11e7-9e7c-6f918b105e55.png)

[2017-10-20 13:13] #36510 closed

[2017-10-20 13:23] TheDutchCoder commented on #29274
This also happens on Apache error logs for some reason. I don't think the detection is correct at the moment.

[2017-10-20 13:24] bpasero commented on #26977
I added a new command that does this: `workbench.action.quickOpenPreviousEditor`. To override this, edit your keybindings:

[code]

It would probably make sense to set this keybinding from our Atom and Sublime keybindings extension to match their behaviour.

[2017-10-20 13:24] #26977 closed

[2017-10-20 13:28] alexandrudima commented on #496
PR #36410 reimplements decorations as an interval tree and brings in a number of key optimizations around decorations. It raises the find limit from 1k to 20k.

[2017-10-20 13:29] patik commented on #36495
It might be my project config (I didn't set it up). We don't have a `jsconfig.json`, but we are using webpack and configured the `base` so that it starts at a particular directory.

So instead of writing:

[code]

we just write:

[code]

I assume this is why Code can't resolve the path. If so, and webpack configs aren't supported, you can close the issue.

[2017-10-20 13:29] Idearum commented on #35783
v16.1 seems to be the last one with the blue icon.

1. Disable autoupdates: https://code.visualstudio.com/docs/supporting/faq#_how-do-i-opt-out-of-vs-code-autoupdates

2. Download and install https://vscode-update.azurewebsites.net/1.16.1/win32-x64/stable

3. Enjoy your blue VS Code.

[2017-10-20 13:33] alexandrudima commented on #15743
This is now taking less than 5ms after PR #36410

[2017-10-20 13:38] #36431 closed

[2017-10-20 13:38] bpasero commented on #36431
Looks like on Linux the dynamic updating of enablement for menu items is not working. I pushed a change to always have this action enabled if running on Linux.

[2017-10-20 13:40] deiberdev opened #36635 "Closing curly brace cannot be written"
- VSCode Version: Code 1.17.0 (be377c0faf7574a59f84940f593a6849f12e4de7, 2017-10-04T23:45:46.804Z)
- OS Version: Windows_NT x64 6.3.9600
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-eslint|dba|1.3.2
githistory|don|0.2.3
php-debug|fel|1.11.1
php-intellisense|fel|1.5.1
php-pack|fel|1.0.1
beautify|Hoo|1.1.1
ftp-sync|luk|0.3.3
atom-keybindings|ms-|3.0.2
material-icon-theme|PK

[2017-10-20 13:43] pohmelie commented on #35783
@Idearum
But we want updates :sob: !

[2017-10-20 13:45] ue commented on #36055
This problem already fixed in Version 1.18.0 - insider. Thnx a lot for your time. So you can close this issue.  @mjbvz

[2017-10-20 13:45] #36055 closed

[2017-10-20 13:45] Idearum commented on #35783
@pohmelie Blue icon is more important than everything else!

[2017-10-20 13:50] #36447 closed

[2017-10-20 13:50] bpasero commented on #36447
The issue here was that settings.json was already opened in any of the inactive tabs and now after my change whenever the settings are opened we want to open the real settings editor. I added a check to not prevent opening of the raw settings file if it is already opened as tab. This should prevent the accidental opening of the real settings editor when you click on settings.json while it is alrea

[2017-10-20 13:52] karabaja4 commented on #178
I agree @dseipp. That is the exact reason why I didn't merge the support for staged files in my initial hack when I made it, since I saw no use for staged files to be colored. The purpose of the color highlighting is that it allows me to find new/modified files on the glance in the file explorer. If I stage some files, it's usually before the commit or if I'm otherwise done with them, so I don't h

[2017-10-20 13:57] #5887 closed

[2017-10-20 13:57] alexandrudima commented on #5887
PR #36410 has made it feasible that we remove this limitation.

[2017-10-20 14:00] #36593 closed

[2017-10-20 14:02] alexandrudima commented on #36575
Typing in the editor executes the `type` command through the command service (for the case of outsourcing typing to the extension host, e.g. the vim plugin).

The command service waits for the extension host to activate `*` extensions before invoking our built-in type command.

If there are many *slow* extensions, the extension host will take a while to be ready.

[2017-10-20 14:05] LoveDuckie commented on #10121
@benm-eras I'm aware of that but it seems as though there is support for that functionality already. It's simple a case of MS wanting to integrate it with VS Code.

[2017-10-20 14:07] alexandrudima opened #36636 "Make back button on mouse go back to previously opened files"
Extracted from #36569 by @onelifenyc

[2017-10-20 14:07] alexandrudima commented on #36569
@onelifenyc Does problem number 1 reproduce also when using Chrome ? We don't have any code to intercept media keys and prevent them from working.

We never had the back button going to the previously opened files. I've extracted point number 2 to #36636.

[2017-10-20 14:08] bpasero commented on #36573
nice catch 👍

[2017-10-20 14:08] #36573 closed

[2017-10-20 14:09] alexandrudima commented on #36562
This would be a good opportunity for a PR. The `SortLinesAscendingAction` and `SortLinesDescendingAction` only operate on the primary selection.

[2017-10-20 14:11] bpasero commented on #28344
I am closing this issue as the work on helping extensions to adopt multi-root is in progress since a couple of days. We are fixing the issues reported (thanks for that!) and keep the documentation updated: https://github.com/Microsoft/vscode/wiki/Extension-Authoring:-Adopting-Multi-Root-Workspace-APIs

Multi root will be enabled for our upcoming stable release early November 🙌

[2017-10-20 14:11] #28344 closed

[2017-10-20 14:13] alexandrudima commented on #36501
Duplicate of #27380

[2017-10-20 14:13] #36501 closed

[2017-10-20 14:18] alexandrudima commented on #36493
@kirusyaga Please check that you don't have any drivers or other software that "steals" those keybindings. I know there are some GPU drivers that steal those keys.

Search online for `ctrl+alt+arrow not working`.

[2017-10-20 14:19] gorkem commented on #10659
@jrieken @dbaeumer I am looking at providing a patch to LSP and language-server-node for rename with file operations and move but without this API it is really hard to continue that work. Do you have  an ETA for this one? Any way to prioritize this? /cc @egamma

[2017-10-20 14:20] peterschussheim commented on #36485
@mjbvz 👋 Shared some thoughts below on this idea.  If you have time to provide feedback I would be most appreciative.

Looking at your [vscode-styled-components-extension](https://github.com/mjbvz/vscode-styled-components-extension) (nice work!), this is essentially what I am trying to do, except rather than embedding inside template strings, I want full CSS intellisense + color picker support in

[2017-10-20 14:21] ruzhovt commented on #35783
![google-icon](https://user-images.githubusercontent.com/857949/31825477-0aad96d4-b5bb-11e7-9437-93d9f6a361eb.png)

[2017-10-20 14:22] alexandrudima commented on #36492
@binaryWard I believe this is a Chromium issue (VS Code is built with Chromium v58).

Can you please double check this by trying the editor at https://microsoft.github.io/monaco-editor/ in Chrome ?

[2017-10-20 14:22] vikas-0 commented on #35683
#35783 consider closing this issue

[2017-10-20 14:22] bigkrp opened #36637 "Poor compatibility with Power Line"
![2017-10-20 17-13-49](https://user-images.githubusercontent.com/11586744/31825199-160563e6-b5ba-11e7-8c78-00f4379ea409.png)

- VSCode Version:1.17.1
- OS Version: Fedora 26

Steps to Reproduce:

1. Run VS Code
2. Open terminal

Reproduces without extensions: Yes

[2017-10-20 14:30] patrys opened #36638 "[folding] Expose folding regions through executeFoldingRangeProvider"
I maintain a code structure visualizing plugin ([Code Outline](https://marketplace.visualstudio.com/items?itemName=patrys.vscode-code-outline)) that would benefit from having access to the named regions introduced in one of the recent versions (see [related issue](https://github.com/patrys/vscode-code-outline/issues/50)).

[2017-10-20 14:32] gonoiu opened #36639 "The logo"
- VSCode Version: latest
- OS Version: win10

Steps to Reproduce:

1. The logo is really ugly
2. The logo is really ugly

The new logo is so ugly can't even click on it to open the editor. I'm going to use somethig else.

[2017-10-20 14:34] skaurus opened #36640 "Support indented here-docs (fix incorrect string highlighting)"
I'm talking about this: http://perldoc.perl.org/perlop.html#Indented-Here-docs

Steps to Reproduce:

1. write perl code like that:
[code]
2. code after closing `EOF` will be colored as if it's still inside the string.

Currently it works only if opening here-doc marker does not have a tilde; AND closing marker is not indented (at all).

Reproduces without extensions: Yes

[2017-10-20 14:37] alexandrudima commented on #36411
@zjjott Are you certain you have disabled all extensions? VSCode must be restarted after disabling all the extensions in the extensions viewlet.

Can you share your `keybindings.json` ? Does typing work in other areas of our UI ? like e.g. in the search viewlet ?

[2017-10-20 14:38] ahundt commented on #35783
+1 for blue icon, or anything that looks decent and is easy to spot. I keep losing track of this orange one it is too busy and not distinct.

[2017-10-20 14:40] rnemec commented on #36556
This is really unpleasant. Any known workarounds?

[2017-10-20 14:41] skaurus opened #36641 "Support indented here-docs (fix incorrect string highlighting)"
I'm talking about this: http://perldoc.perl.org/perlop.html#Indented-Here-docs

Steps to Reproduce:

1. write perl code like that:
[code]
2. code after closing `EOF` will be colored as if it's still inside the string.

Currently it works only if opening here-doc marker does not have a tilde; AND closing marker is not indented (at all).

Reproduces without extensions: Yes

(this is a clone of issue

[2017-10-20 14:42] skaurus commented on #36641
Well, bot created less labels :) closing this, reopen original one... Sorry about that.

[2017-10-20 14:42] #36641 closed

[2017-10-20 14:42] alexandrudima commented on #36374
This is a regression from making the colors for the warnings and errors externalized.

For reference: https://microsoft.github.io/monaco-editor/
<img width="350" alt="image" src="https://user-images.githubusercontent.com/5047891/31826532-9d1d2b0c-b5b5-11e7-8b4d-d900df61975b.png">

[2017-10-20 14:46] true-icon commented on #35783
@Idearum definitely!

[2017-10-20 14:49] #36334 closed

[2017-10-20 14:50] joshtynjala commented on #34724
Anyone? It's been over a week since I followed up.

[2017-10-20 14:51] alexandrudima commented on #36306
It is currently not supported that auto closing pairs are composed of more than 1 character. As the user types, one character at a time is evaluated and checked if it is an auto closing pair.

[2017-10-20 14:52] onelifenyc commented on #36569
@alexandrudima I figured out the issue. I recently set vscode to run always as administrator. This is what breaks the media buttons (Prev, Next, Pause, Play commands) and the mouse back and forward buttons (Forward, Back commands).

I also misspoke - the back and forward button wouldn't open previously opened files and I don't think that is at all something worth considering. I meant the simple Fo

[2017-10-20 14:53] roblourens commented on #35614
Yeah you can open a different issue for the extensionHost. If you can figure out which extension it is, you can open an issue on their repo.

[2017-10-20 14:56] johnwargo commented on #36510
Hmmm, but you could set the background behind the icon and let the remainder of the tile match the theme.  That way it fits with the way Windows works (and most other icons comply with).  On my system, it's only those two VS icons plus Office that don't work with the theme I've selected.

[2017-10-20 14:57] rpalo commented on #36306
Gotcha.  Any ideas for a work around?  I'm just trying to figure out a way to get surrounding spaces inside my bash conditionals without typing <space> <space> <left arrow>.  It's *exhausting* :wink:

[2017-10-20 14:57] roblourens commented on #36635
You can't retype the closing curly brace? Can you include a gif or screenshot so we're clear?

[2017-10-20 14:58] alexandrudima commented on #36312
@tallin32 I agree with your assessment. I will look into this for October.

[2017-10-20 14:58] #36285 closed

[2017-10-20 15:02] vvs commented on #178
@jrieken One more bug report, happens on the very latest insiders:
- VSCode Version: Code - Insiders 1.18.0-insider (82dcf9835265cd0a45ec135587ae2a82673f1c8f, 2017-10-20T04:24:25.632Z)
- OS Version: Windows_NT x64 10.0.15063

Basically, VS Code "forgets" from time to time that some files are modified and need to be colored accordingly. For example, I have 6 files modified at the moment. VS Code (c

[2017-10-20 15:02] sandy081 commented on #35219
Error message is shown when running the command `Add Folder to Workspace` from Command Pallette. When doing it from explorer, not error is shown.

[2017-10-20 15:03] sandy081 commented on #35219
I will improve the error message and actions in it.

[2017-10-20 15:06] #36486 closed

[2017-10-20 15:07] alexandrudima commented on #17542
Decorations in the editor have been reimplemented via PR #36410

[2017-10-20 15:07] #17542 closed

[2017-10-20 15:28] alexandrudima commented on #36226
The root cause lies with the extension which defines the line comment token to be an array instead of a string in https://github.com/ilich/vscode-coldfusion/blob/master/cfscript.configuration.json#L3

A PR already exists against the extension at https://github.com/ilich/vscode-coldfusion/pull/30/files

I will look into a fix on our side that we should not accept a string array instead of a string

[2017-10-20 15:34] chrisdias commented on #36639
Don't give up on us yet, we're working on it!

Dupe of https://github.com/Microsoft/vscode/issues/35783

[2017-10-20 15:34] #36639 closed

[2017-10-20 15:38] richarddavenport commented on #36639
@gonoiu hahahahahahaha

[2017-10-20 15:39] Faultless opened #36642 "Git Diff line button near line number overlays folding button"
- VSCode Version: Code - Insiders 1.18.0-insider (3495b0b185acbe8188e821ccb3ae807274703a9c, 2017-10-17T04:23:54.942Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
npm-intellisense|chr|1.3.0
vscode-css-modules|cli|0.2.2
vscode-markdownlint|Dav|0.10.1
vscode-eslint|dba|1.3.2
githistory|don|0.2.3
xml|Dot|1.9.2
gitlens|eam|5.7.1
vscode-npm-scr

[2017-10-20 15:49] uwe-h opened #36643 "Integrated terminal doesn't recognize project folder location on removable media (WSL Bash)"
- VSCode Version: 1.17
- OS Version: Windows 10.0.16299.19 (Win10 1709)

Steps to Reproduce:

1. Mount any removable device (say its drive letter is D) in WSL Bash so you can access it via "/mnt/d".
2. Make sure you use WSL Bash as integrated terminal.
3. Open a project folder on this removable device.
4. The integrated Bash terminal defaults to WSL Bash's user home directory, not to the project f

[2017-10-20 16:03] binaryWard commented on #36492
I have found that using the digital pen right-click (holding the right-click button) allows me to select text.  Then using the digital pen right-click (holding it on) allows me to move text.    The right-click action is still able to pop up the context menu.

I have a wacom based Samsung ATIV 500T that is locked at an older Windows 10.  Last night I installed the latest version of VSCode on it and

[2017-10-20 16:04] andy-ms commented on #34342
@mjbvz Looks like we forgot to tag the new version on NPM. Should be fixed now. Made an issue #19375.

[2017-10-20 16:05] alexandrudima commented on #36226
From now on a warning will be presented in the developer tools and the line comment rule will be ignored: `` language configuration: expected `comments.lineComment` to be a string. ``

[2017-10-20 16:06] Erchamion opened #36645 "Integrated Terminal shell drop down not sized properly"
- VSCode Version: Code - Insiders 1.18.0-insider (4b01451cea60f32412098735709fddcac567b33d, 2017-10-19T08:29:07.096Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions: Extensions are disabled
---

Steps to Reproduce:

1.  Open integrated term window
2.  The terminal / shell drop down is not properly sized.

![image](https://user-images.githubusercontent.com/11239968/31830660-e9183406-b58e-11e7

[2017-10-20 16:08] #36226 closed

[2017-10-20 16:09] dkent600 commented on #13366
Has happened to me several times.  I'll see if I can find a consistent repro.

The bug is annoying when the text I need to copy is hard to reproduce...

[2017-10-20 16:10] deiberdev commented on #36635
![screenshot](https://user-images.githubusercontent.com/27818529/31830825-a6811802-b57e-11e7-87e0-1b753b8a63ac.gif)

[2017-10-20 16:11] coffenbacher commented on #14716
@aayandre what makes you think it's fixed? I'm on SP4 / W10 Pro 15063.674 / VSCode 1.17.2 and I'm still seeing the issue

[2017-10-20 16:12] alexandrudima commented on #36128
This is to prevent high CPU usage while vs code is idle. See https://github.com/Microsoft/vscode/issues/22900#issuecomment-291667931

[2017-10-20 16:12] #36128 closed

[2017-10-20 16:15] kieferrm commented on #36473
The prompt is disturbing the workflow as it asks me a question to which there is only a single answer. Also, when I choose the folder the keyboard focus afterwards is not in the newly created terminal.

[2017-10-20 16:16] alexandrudima commented on #36136
You can use [`TextEditor.selections`](https://github.com/Microsoft/vscode/blob/5ba128e16721d6a2bff75b72a29f24dd1c02382f/src/vs/vscode.d.ts#L1027) to read an editor's selection and you can use [`window.onDidChangeTextEditorSelection`](https://github.com/Microsoft/vscode/blob/5ba128e16721d6a2bff75b72a29f24dd1c02382f/src/vs/vscode.d.ts#L4504) to listen to selection changes.

[2017-10-20 16:23] CubixSystem commented on #36286
Thanks for clarification!

[2017-10-20 16:40] ka-res commented on #35783
I agree. Microsoft, please, restore previous icon. Looked much better on start menu. Orange color looks a little bit not serious... I mean, color would be fine, shape is acceptable.

[2017-10-20 16:55] vinzlee97 commented on #36267
Verified in Version 1.18.0-insider
Commit `82dcf98`
Date 2017-10-20T04:24:25.632Z

The indentation in non html/css/scss/less file works.
Thanks for the quick fix.

[2017-10-20 16:59] ericnoguchi commented on #31188
I still am getting  this warning when opening js files

**To enable project-wide JavaScript/TypeScript language features, exclude large folders with source files that you do not work on.**

My jsconfig.js
[code]

[2017-10-20 17:00] calebporzio commented on #5344
+1

[2017-10-20 17:05] vikrampraveen opened #36646 "Visual Studio code fails to launch from time to time"
- VSCode Version: Code 1.17.1 (1e9d36539b0ae51ac09b9d4673ebea4e447e5353, 2017-10-10T14:24:50.851Z)
- OS Version: Windows_NT x64 10.0.17018
- Extensions:

Extension|Author (truncated)|Version
---|---|---
python|don|0.7.0
cpptools|ms-|0.14.0
csharp|ms-|1.12.1
vscode-icons|rob|7.15.0

---

Steps to Reproduce:

1. Try to open a file from anywhere using console or shell
2. Try to open a new window.

Re

[2017-10-20 17:09] roblourens commented on #36635
That's odd, can you start Code with `--disable-extensions` and check whether it still reproes?

If so, can you check for errors in the console in Help > Toggle Developer Tools?

[2017-10-20 17:10] angryjohnnie commented on #36585
This is something that has just broken for me with the most recent update I believe.

Previously I could start a venv then launch vscode with `code`.

The integrated terminal would then reference the version of python installed in the venv. This is no longer the case.

[2017-10-20 17:21] Tyriar commented on #36645
@isidorn I think you were working on this?

[2017-10-20 17:25] wizarrc commented on #34865
@tahnik umm, correct me if I'm wrong on the fact portion, and this is a very pointed opinion, but I think I have a good reason why they don't care. It's a Goggle operated project, it's a Windows related bug and it affects mostly dev related scenarios. If you ask them, they will tell you Windows is dead for developers and you should have moved to Linux or Mac a long time ago as a programmer. If I r

[2017-10-20 17:30] #36548 closed

[2017-10-20 17:31] roblourens commented on #36640
@mjbvz This is perl, not PHP :D

[2017-10-20 17:31] mjbvz commented on #36616
We do not provide builtin intellisense for C. Please try installing an extension such as [this one](https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools)

[2017-10-20 17:31] #36616 closed

[2017-10-20 17:33] roblourens commented on #36631
Which process is taking the CPU load? Is this an open source project that I can try? Are the matches in very long lines?

[2017-10-20 17:35] khalidadil commented on #35783
Counter to basically everyone, I love that the icon isn't blue anymore! I have hipchat (blue), finder (blue), DeltaWalker (blue), messages (blue), Teamviewer (blue)....finally an icon in a different color!

This has actually made VS Code much easier to find for me. I think purple or some other color would look better, but I'm fine with anything that's not blue!

[2017-10-20 17:35] roblourens commented on #36549
I still can't repro on linux or mac, and it doesn't make sense to me why that would happen. But, I just implemented #36548 and it will be available in the next Insiders. That should work around the issue for you right?

[2017-10-20 17:35] #36549 closed

[2017-10-20 17:37] mjbvz commented on #36576
Ok, closing this issue as it sounds like those extensions provide what you are looking for

[2017-10-20 17:37] #36576 closed

[2017-10-20 17:41] Ash258 opened #36647 "[Feature Request] Preview in new window"
I would like to open preview / or some other file in new window so i can move it to other monitor or make it smaller.

1. I am facing lack of this feature mainly for markdown / latex files when on normal (not ultrawide) is quite uncomfortable.
1.  Next nice example is comparing files.
    - When i am developing some C i print output of program (valgrind output, etc...) to text file and compare it

[2017-10-20 17:45] dakuzen commented on #4490
+1
How is this not done already...

[2017-10-20 17:49] chall3ng3r opened #36648 "Verifying PlatformIO Core installation... stuck here."
It was working perfectly with couple of VSCode updates back. But VSCode force updated, and the extension now is stuck here.

Have tried reinstalling, disabling with no use.

- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:48.528Z)
- OS Version: Windows_NT ia32 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
scad|efb|1.0.1
cpptool

[2017-10-20 17:49] mjbvz commented on #36429
I don't think I understand the issue. In your `service`, can you please explain the expected behavior compared to the actual behavior today?

[2017-10-20 17:50] ramya-rao-a opened #36649 "Improvements to the default view in the Extensions Viewlet"
The default view in the Extensions Viewlet shows 2 sections. 1 for Installed extensions, the other for recommended extensions. Below are the proposed improvements to reduce noise/information overload and provide the user with more useful information

1. **Goal**: Reduce noise in the "Installed" view
**Experiment**: Show "Enabled" extensions instead of "Installed" extensions.

Including disabled ex

[2017-10-20 17:51] agence104 commented on #4490
+1
Looking forward to this feature.

[2017-10-20 17:53] ramya-rao-a opened #36650 "Visual indicator to identify recommended extensions in search results"
- There should be a visual indicator to identify recommended extensions in search results
- This should be visible even in the narrow view (where the ratings, install count & icon disappear)

[2017-10-20 17:53] BillyONeal opened #36651 "Insider's build from last night can't open files"
- VSCode Version: Code - Insiders 1.18.0-insider (82dcf9835265cd0a45ec135587ae2a82673f1c8f, 2017-10-20T04:24:25.632Z)
- OS Version: Windows_NT x64 10.0.17020
- Extensions:

Extension|Author (truncated)|Version
---|---|---
cpptools|ms-|0.14.0
sort-lines|Tyr|1.3.0

(1 theme extensions excluded)

---

Steps to Reproduce:

1. Open any file.
2. Open a second file.
3. Code hangs forever with a progress

[2017-10-20 18:10] JasonKleban commented on #36429
A user is not used to typing `['` for member access.

They might explore the api by typing `service.` and get nothing or perhaps some `hasOwnProperty` and `toString` kind of suggestions.  Or depending on the generation, then might get suggestions for identifier-compatible names for completing expressions like `service.orders.get()` and yet not see the others because they are not compatible with th

[2017-10-20 18:15] spchaplin commented on #2915
Hi! I would really appreciate matching tag highlighting being added for embedded HTML within PHP files.  The extensions mentioned on this page only partially work.  I looked at the development road map for VS Code and the focus seems to be JavaScript.  Are there any plans to add this functionality for PHP?

[2017-10-20 18:21] #34787 closed

[2017-10-20 18:24] mjbvz commented on #36648
Tracked by https://github.com/platformio/platformio-vscode-ide/issues/45

[2017-10-20 18:24] #36648 closed

[2017-10-20 18:25] runtimee commented on #35783
I'm using both VScode and Sublime. After the icon change, my command + tab efficiency reduced 80% because the two icons look too similar. My own solution is to change the icon DIY via https://superuser.com/questions/37811/how-can-i-change-an-application-icon-in-mac-os-x and https://iconverticons.com/online/
![screen shot 2017-10-20 at 11 23 13 am](https://user-images.githubusercontent.com/3506050/

[2017-10-20 18:28] mjbvz commented on #36429
Ok, so my understanding is:

**Repo**

1. For the code:

[code]

2. Trigger completions after `foo.`

**Expected**
Shows completions for both `string` and `spacey string`. Selecting `spacey string` should complete to:

[code]

**Current**
Only a completion for `string` is shown:

![screen shot 2017-10-20 at 11 27 01 am](https://user-images.githubusercontent.com/12821956/31836293-a10f18fa-b589-11e7

[2017-10-20 18:33] ramya-rao-a commented on #36649
cc @Microsoft/vscode

[2017-10-20 18:37] binaryWard commented on #36492
I don't think I know what I should do with the monaco editor.  I was not able to figure out how to test it as VSCode uses it. I have only been able to run it via a web browser (Google Chrome) which highlighted text as expected.

[2017-10-20 18:39] jberube commented on #13350
May I suggest adding a setting to have either:
- the current behavior
- the current behavior, but that checks accross groups
- the full path, always visible

[2017-10-20 18:41] entrptaher commented on #20220
Got same issue on ubuntu :(

[2017-10-20 18:43] benhamlin opened #36653 "Expanding folder saves all files inside unnecessarily"
- VSCode Version: Code - Insiders 1.18.0-insider (82dcf9835265cd0a45ec135587ae2a82673f1c8f, 2017-10-20T04:24:25.632Z)
- OS Version: Windows_NT x64 10.0.17020
- Extensions:

Extension|Author (truncated)|Version
---|---|---
Handlebars|and|0.2.0
vsc-ember-frost|cie|0.0.2
jshint|dba|0.10.15
gitlens|eam|5.7.1
PowerShell|ms-|1.4.3
debugger-for-chrome|msj|3.4.0
vscode-json-transform|oct|0.1.2
vscode-icon

[2017-10-20 18:43] WadeShuler commented on #178
@dseipp It could be optional. However, your never going to see the "staged" color until you stage files... So it isn't even seen 99% of the time, and shouldn't really bother anyone..

@karabaja4 I disagree that it doesn't have a use. You made the point, that you never use/notice/need staged coloring...

So even if this feature is added, it shouldn't bother you...

Being able to see staged files he

[2017-10-20 18:45] leocavalcante opened #36654 "[ts] 'import ... =' can only be used in a .ts file"
- VSCode Version: 1.17.2
- OS Version: Microsoft Windows [version 6.1.7601]

Steps to Reproduce:

1. Install `flowtype.flow-for-vscode`
2. Add to `.vscode\settings.json`
[code]
3. Create a `.js` file with `// @flow` at top
4. Import some type: `import type Foo`

Reproduces without extensions: No
Yes, project have a `.flowconfig` at root folder.

[2017-10-20 18:49] #2635 closed

[2017-10-20 18:51] vvs commented on #178
I would also like to voice my support for having staged files coloring (optional is fine as long as I can enable it).

Here's my workflow: I start working on some feature/bugfix, make it to "OKish" state, meaning that the code more or less works but requires some polish/tweaks/cleanup or refactoring. At that moment I stage my changes. Then perform cleanup and refactoring. If refactoring fails or b

[2017-10-20 18:59] dseipp commented on #178
@vvs I agree regarding staged files not losing their colors.  Colors should remain until committed.  I would just prefer the staged color maintain the new/modified colors and the additional staged color(s) remain optional.

[2017-10-20 19:06] roblourens commented on #36649
Where do I see disabled extensions? Will an extension leave the list when I disable it?

[2017-10-20 19:11] ramya-rao-a commented on #36649
You can see the disabled extensions using the "Show Disabled Extensions" or "Show Installed Extensions" menu options. There are commands in the command pallet for the same.

[2017-10-20 19:21] rogierlommers commented on #36134
Nice! Thanks!

[2017-10-20 19:29] poetinha commented on #14909
_VS Code_ hackers, any update on this? Please.

[2017-10-20 19:41] Tyriar commented on #36637
It looks like you're not using the powerline font, check out https://github.com/Microsoft/vscode/issues/7116 for how to set that up

[2017-10-20 19:41] #36637 closed

[2017-10-20 19:44] #36090 closed

[2017-10-20 19:45] alexandrudima commented on #36090
I have fixed that setting `autoIndent: false` should not go and tweak indentation of the line on which Enter is pressed.

[2017-10-20 19:50] JasonKleban commented on #36429
Yes.  Thanks.

[2017-10-20 19:57] alexandrudima commented on #36622
#### Visual Studio
In Visual Studio, the minimap and the scrollbar share the same geometry. For example, in an editor of 800px height, the minimap is always 800px high:
* if a file has 80 lines, each line gets 10px in the minimap
* if a file has 800 lines, each line gets 1px in the minimap.
* if a file has 80000 lines, each line gets ... 0.01px in the minimap.
This has the consequence that, at one

[2017-10-20 19:57] #36622 closed

[2017-10-20 19:58] mjbvz commented on #36654
We don't support flow out of the box. Try following the flow extension's [setup instructions](https://github.com/flowtype/flow-for-vscode#setup )  to disable our builtin js validator by setting `"javascript.validate.enable": false` so that the flow one is active instead

[2017-10-20 19:59] dragonwolf83 commented on #178
Maybe Staged can keep the same colors but just add some kind of highlight or bold to give it contrast.

[2017-10-20 20:03] leocavalcante commented on #36654
Did you saw step 2 on the 'Steps to Reproduce'?

[2017-10-20 20:06] jeffwilcox commented on #11847
I'd be a fan, too, including linking to optional external URLs... for example, I have an extension that integrates with known vulnerabilities for certain components; I'd love to be able to link in the problem space to the actual advisory URL with more details... today folks have to copy/paste from the `Diagnostic` message/text to get the URL out.

[2017-10-20 20:06] sandy081 commented on #35219
IWorkspaceEditingSerive takes care of showing proper message for error. So no need to change at places calling this API.

[2017-10-20 20:08] mrpotatoes commented on #1833
This is really unfortunate as when I started to use VS Code this week I was actually really excited about it's system but if I can't customize it's GUI much if at all then I don't see the point in using this over Atom.

[2017-10-20 20:09] #35219 closed

[2017-10-20 20:13] #33843 closed

[2017-10-20 20:28] watzon commented on #1833
@mrpotatoes VS Code is newer than Atom still so give it some time to catch up. It's also faster by a lot and haing plugins written in Typescript by default it awesome

[2017-10-20 20:29] KyleJohnstonNet opened #36655 "PHP Syntax Highlighter Fails to Highlight all Escape Sequences"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 6.1.7601
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-color|ans|0.4.5
vscode-twig-pack|baj|1.0.0
vscode-html-css|ecm|0.1.8
php-debug|fel|1.11.1
php-intellisense|fel|1.5.2
php-symbols|lin|2.1.0
twig|wha|1.0.2
html-css-class-completion|Zig|1.11.0

[2017-10-20 20:32] johngrabner opened #36656 "modify javascript code while single stepping does not cause code to be recompiled"
- VSCode Version: Code 1.17.0 (be377c0faf7574a59f84940f593a6849f12e4de7, 2017-10-04T23:45:46.804Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions: none
---

Steps to Reproduce:

1. enter debug point
2. when code is hit, change some lines, save and continue single stepping
in visual studio, this would cause the part of code modified to be recompliled and single stepping would be using the new

[2017-10-20 20:34] jearle commented on #396
One thing that is missing is the ability to open up a new window with a new workspace from the CLI.

[2017-10-20 20:36] Tyriar commented on #36517
My only concern is by including more extensions that may push out start up performance further as it needs to register commands at which point all the extension code is loaded in (even if no activation events fire). I know it's not much but it all adds up.

[2017-10-20 20:42] matsba commented on #35783
@chrisdias you are working on fixing this back to blue? Great!

[2017-10-20 20:42] mjbvz commented on #33776
Closing out since I have not heard anything about this occurring with TS 2.6

[2017-10-20 20:42] #33776 closed

[2017-10-20 20:54] mjbvz commented on #36654
Sorry, my bad. Here's the error message I see without `"javascript.validate.enable": false`:

![screen shot 2017-10-20 at 1 53 33 pm](https://user-images.githubusercontent.com/12821956/31841376-15eb00c6-b59e-11e7-902f-72a13fc42336.png)

You see the same error but with `[ts]` instead?

[2017-10-20 20:57] #34254 closed

[2017-10-20 20:58] mcarpenterjr commented on #36237
When can we expect this fix to roll out?

[2017-10-20 20:59] mjbvz commented on #34342
Thanks @andy-ms! Closing this as upstream

[2017-10-20 20:59] #34342 closed

[2017-10-20 21:05] chrmarti commented on #36649
It would make sense to have everything you "need" to work with extensions in the default view. That avoids the need for the user to discover the other views in the view menu which is difficult for new users.

To me the disabled extensions are part of what I need to work with extensions, so I would keep them in the default view. A colored 'Enable' button would make their state stand out better.

Al

[2017-10-20 21:05] leocavalcante commented on #36654
My bad now, maybe something related to `sourcegraph.javascript-typescript`, removing it fixed it.
Thanks!

[2017-10-20 21:05] #36654 closed

[2017-10-20 21:09] Mlocik97-issues opened #36657 "new icon blends on an orange background (transparent parts of icon cause it)."
![screenshot_114](https://user-images.githubusercontent.com/31345346/31841864-b2229c54-b5eb-11e7-94aa-309f7f6b2f8a.png)

[2017-10-20 21:09] basedmoya commented on #35783
yuck! can we get the blue icon back?

[2017-10-20 21:10] shobanbobba opened #36658 "Integrated Terminal Doesnot prompt for Input."
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 6.1.7601
- Extensions: none
---

Steps to Reproduce:

1. Updated VS Code software to version 1.17.2
2. Terminal stopped prompting.
![terminal_notprompting](https://user-images.githubusercontent.com/31071951/31841884-20dd9eae-b5b1-11e7-81cc-0f344773030e.PNG)

[2017-10-20 21:10] Mlocik97-issues commented on #35746
I updated the list.

[2017-10-20 21:13] mjbvz commented on #36614
Language support can be added by an extension. Have you tried: https://marketplace.visualstudio.com/items?itemName=Wosi.omnipascal

[2017-10-20 21:15] Mlocik97-issues commented on #36657
I think it's good to upholster icon arround.

[2017-10-20 21:21] AMartens181 commented on #35783
I'm fine with the updated icon as long as it's blue... Why was it changed to orange...

Orange of all the colors to be in your taskbar...

[2017-10-20 21:21] karlpothast commented on #3592
On windows just create a .bat (batch file), create a shortcut to it on your desktop and a then put a keyboard short cut on it.  I used ctrl-shift-r.

This below will kill Visual Studio Code gracefully and then start up again cleanly.
-----------------------
@echo off

taskkill /IM Code.exe
start /d "<Visual Studio Code Directory>" Code.exe

[2017-10-20 21:33] auchenberg commented on #36517
@Tyriar Valid concern. Do we know how much overhead it adds? The Chrome debugger looks to register 2 command and our Node debugger does the same.

[2017-10-20 21:37] roblourens commented on #36655
The double quote escape highlighting looks fixed with the new grammar in the Insiders build. Can you try again there?

In the single quoted string, I don't think it should color `\r` or `\n` because those are not escape sequences in a single quoted string.

[2017-10-20 21:45] jdatskuid commented on #36237
According to https://github.com/Microsoft/vscode/issues/36470#issuecomment-337973333, it's already been released in latest Insiders build.

[2017-10-20 21:47] PatrickNausha commented on #35783
I mostly just hate the tilt on Mac. It looks like one of those things you have to remove from your dock when you first get your Mac, e.g. Calendar, Mail, and Notes.

[2017-10-20 21:56] #29036 closed

[2017-10-20 22:01] axefrog commented on #36234
It's ironic that #29036 (which I submitted quite some time ago) is closed, and yet the issue persists. I have the exact same experience described by the OP all the time, and not just in Markdown.

[2017-10-20 22:02] kieferrm opened #36659 "Explore improving GDPR annotations"
The current GDPR annotations are comment based. Thus, if we are not careful, they can easily go out of sync with the actual code. Scope of this exploration:
- using interfaces and types
- listing rules and quick fixes

[2017-10-20 22:02] #34887 closed

[2017-10-20 22:03] axefrog commented on #29036
Wow, looks like this is fixed, then? Great work! :-)

[2017-10-20 22:14] divega opened #36660 "Search and replace in multiple files is not usable with long lines"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions: none
---

Steps to Reproduce:

1. I use search and replace in a large markdown-based documentation project
2. Search and replace UI allows me to pick specific instances of a term to be replaced
3. To the right of the search pane I see a diff view

[2017-10-20 22:22] noxhirsch commented on #35783
+1
The new icon is really ugly - both color and form. Why did they change it? The old one was pretty cool....

[2017-10-20 22:23] mjbvz commented on #36485
Glad that you are looking into this. I don't think you actually want to write a typescript plugin here though since those plugins do not have direct access to the vscode API.

A better example to work from would be our extension helper extension which provides document links in the `vscode.d.ts` API definition file: https://github.com/Microsoft/vscode/blob/master/extensions/extension-editing/src/e

[2017-10-20 22:24] teom10 opened #36661 "Integrated console is not loading"
![image](https://user-images.githubusercontent.com/13441800/31843945-6ab9098c-b5bb-11e7-9e83-c75f490daa09.png)

- VSCode Version: Code 1.17.1 (1e9d36539b0ae51ac09b9d4673ebea4e447e5353, 2017-10-10T14:24:50.851Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-svgviewer|css|1.4.3
vscode-eslint|dba|1.3.2
bower|don|0.0.3
githistory|don|0.2

[2017-10-20 22:26] roblourens commented on #34306
I believe this was fixed, let me know if it reproes in the latest.

[2017-10-20 22:26] #34306 closed

[2017-10-20 22:27] roblourens commented on #34244
I believe all these issues are fixed. Let me know if they repro in the latest.

[2017-10-20 22:27] #34244 closed

[2017-10-20 22:39] #33842 closed

[2017-10-20 22:43] Tyriar commented on #30024
This was fixed in v1.17

<img width="359" alt="screen shot 2017-10-20 at 3 43 43 pm" src="https://user-images.githubusercontent.com/2193314/31844427-7a302192-b5ad-11e7-9a51-fef16d09ffe6.png">

[2017-10-20 22:43] #30024 closed

[2017-10-20 22:44] jbrodriguez commented on #178
It could be helpful to look at prior art .. don't remember seeing staged indicator, but maybe times have changed

[2017-10-20 22:46] Tyriar commented on #30024
Assigning to October for verification.

[2017-10-20 22:47] Tyriar commented on #29402
This should have been fixed with the terminal rendering improvements in v1.17. Assigning to October for verification.

[2017-10-20 22:47] #29402 closed

[2017-10-20 22:51] #30439 closed

[2017-10-20 22:55] Tyriar commented on #35455
Please update to 1.17, that should fix the issue. Duplicate https://github.com/Microsoft/vscode/issues/34301

[2017-10-20 22:55] #35455 closed

[2017-10-20 22:57] Tyriar commented on #31694
This should be fixed in v1.18, closing for verification.

[2017-10-20 22:57] #31694 closed

[2017-10-20 23:05] joshSummerhays commented on #35724
Having this issue when trying to stage changes as well as clicking on the file and trying to see the diff. Worked smoothly before an update

[2017-10-20 23:07] ramya-rao-a commented on #36487
@chiragbhansali by "update" are you referring to update from 1.17.0/1.17.1 to 1.17.2 or 1.7 in general?

There was no emmet related changes between 1.17.0 and 1.17.2

Can you see if https://github.com/Microsoft/vscode/issues/36267 covers what you are seeing related to the command not found problem?

Can you try the latest Insiders (you can get it from https://code.visualstudio.com/insiders) and se

[2017-10-20 23:08] Tyriar commented on #36661
Please update to 1.17.2. Duplicate https://github.com/Microsoft/vscode/issues/34554

[2017-10-20 23:08] #36661 closed

[2017-10-20 23:18] Tyriar commented on #36517
@auchenberg actually I think it probably has minimal impact thinking about it again, I think the load time of 149ms below:

<img width="1041" alt="screen shot 2017-10-20 at 4 13 17 pm" src="https://user-images.githubusercontent.com/2193314/31845082-2c7decd6-b5b2-11e7-80fb-a7b1e3d2dc84.png">

is on the extension host process, so it should have minimal impact on performance unless the system only ha

[2017-10-20 23:19] Tyriar commented on #36658
What's in your settings.json file?

[2017-10-20 23:20] Spongman commented on #36309
`grep -P`

it doesn't really matter or not this agrees with some other tool. it doesn't agree with itself - the in-file search rules should be the same as the many-file rules.

[2017-10-20 23:21] Tyriar commented on #396
@jearle A new window/workspace should be created as before with `code-insiders <folder>`, no?
 `code-insiders -a <folder>` is needed to add the folder to the current window.

[2017-10-20 23:22] roblourens commented on #36517
Why is it so much slower than node/node2?

[2017-10-20 23:22] auchenberg commented on #36656
We don't support live editing in VS Code for JavaScript directly, but you can use webpack, Nodemon and other 3rd party tools to enable automatic restart of your node process when Node is changed.

For client-side code we recommend Webpack, which works well with React. See https://medium.com/@auchenberg/live-edit-and-debug-your-react-apps-directly-from-vs-code-without-leaving-the-editor-3da489ed905

[2017-10-20 23:26] Tyriar opened #36662 "Terminal dropdown lost its minimum width"
@isidorn it looks really awkward now, we should be able to have overflow with the dropdown decreasing in size as necessary.

New:

<img width="349" alt="screen shot 2017-10-20 at 4 24 28 pm" src="https://user-images.githubusercontent.com/2193314/31845197-403ecb40-b5b3-11e7-802f-7658d3e0520c.png">

Old:

<img width="526" alt="screen shot 2017-10-20 at 4 24 59 pm" src="https://user-images.githubuser

[2017-10-20 23:27] ramya-rao-a commented on #36428
Hitting `Ctrl+Space` when the drop down is present shows the docs associated with the suggestions.
Can you try that and see if the full symbol name appears there?

[2017-10-20 23:33] roblourens commented on #36309
Ideally, but there are two regex engines in play that will not agree in a few cases.

It's interesting that `grep -P` doesn't have the same behavior because the perl regex docs say

[2017-10-20 23:36] Spongman commented on #36309
yeah, can we have an option so it only uses one regex engine?

again, i don't care if it's slow.

[2017-10-20 23:42] #36473 closed

[2017-10-20 23:44] Tyriar commented on #36643
@uwe-h this is probably a problem in WSL, the terminal launches a WSL instance by calling bash.exe and setting the cwd to the current project directory.

[2017-10-20 23:46] Tyriar commented on #36630
@jacek-dargiel are you using a python virtual environment?

[2017-10-20 23:47] roblourens commented on #36309
I forgot that you said this happens regardless of `search.useRipgrep` so I guess I still need to figure out how what special handling the editor has for this. But the editor may do processing that doesn't make sense for search. It's interesting that JS matches `\r` in `\s` OR as the start of `$`.

[2017-10-20 23:52] leozhao0709 opened #36663 "emmet attr_quotes not working on tsx file"
- VSCode Version: 1.17.2
- OS Version: Mac OS 10.12.6
`"emmet.syntaxProfiles": {
        "html": {
            "self_closing_tag": true,
            "attr_quotes": "single"
        },
        "tsx": {
            "self_closing_tag": true,
            "attr_quotes": "single"
        }
    }`

I have these settings. The Html emmet works well, the attr_quote works with single quotes, but for my tsx f

[2017-10-21 00:01] LunarTwilight commented on #34106
VSCode (insiders) is now showing an electron icon? https://owo.sh/9b37b8.png

[2017-10-21 00:04] ramya-rao-a commented on #36628
Thanks for reporting this @doque
This is definitely a bug. I'll look into providing a fix soon.

[2017-10-21 00:12] #36599 closed

[2017-10-21 00:14] dlech opened #36664 ""resource" scoped setting returns stale value"
- VSCode Version: 1.18.0-insider
  Commit 4b01451cea60f32412098735709fddcac567b33d
- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. Clone `https://github.com/dlech/vscode-workspace-settings-bug.git` in VS Code
2. Run/debug the extension
3. Open a folder in the extension development host
4. Open any file in this folder (create a new file if needed)
5. Use command palette to run "Show setting1" -

[2017-10-21 00:15] Tyriar commented on #34163
I ended up changing my mind on the UX for ctrl+shift+`, all create terminal actions will now show the workspace selector if there are > 1 folders. Feels much better/less confusing in multi-root.

[2017-10-21 00:19] Tyriar commented on #36597
Reproduced, works dragging from Finder but not from explorer. I checked on mac as well but it likely affects Windows/Linux too.

For whoever picks this up there is some code that prepares a file from an outside or vscode explorer drag event for the terminal here: https://github.com/Microsoft/vscode/blob/cda7364a5c7c9201085284dd5ea4a3155a790c69/src/vs/workbench/parts/terminal/electron-browser/termi

[2017-10-21 00:22] Tyriar commented on #36580
It feels a bit weird to me though if we were to create a new terminal in this situation. The user wanted to close the task, they didn't ask for a new shell to spin up?

I've thought about the idea of allowing the terminal to exist without any active terminal processes, this is a pretty big shift from the established behavior at this point though.

[2017-10-21 00:22] aayandre commented on #14716
@coffenbacher I'm wrong. It isn't fixed.
But I restarted VSCode when I tried it. Sorry for the wrong comment.
I don't know what could make it work.

[2017-10-21 00:30] #36560 closed

[2017-10-21 00:31] Tyriar commented on #36534
@teterovic @gdxn96 do you have multiple monitors with varying DPI scales?

[2017-10-21 00:32] Tyriar commented on #36541
I saw this today and suspect it's related to https://github.com/Microsoft/vscode/issues/35798

[2017-10-21 00:34] Tyriar commented on #36456
The first time you launch the terminal on Windows it will ask you your preferred shell, once you make your selection it's saved in your settings.json file. You can also bring up that prompt again by opening the command palette and running the "Terminal: Select Default Shell" command.

If you want to choose on every terminal you open I recommend this extension https://marketplace.visualstudio.com/i

[2017-10-21 00:35] Tyriar commented on #36481
Duplicate https://github.com/Microsoft/vscode/issues/33077

[2017-10-21 00:35] #36481 closed

[2017-10-21 00:36] Tyriar commented on #36515
Duplicate https://github.com/Microsoft/vscode/issues/36599

[2017-10-21 00:36] #36515 closed

[2017-10-21 01:07] shobanbobba commented on #36658
I tried with cmd.exe path and gitbash.exe path. It worked before upgrade.

On Oct 20, 2017, 6:20 PM, at 6:20 PM, Daniel Imms <notifications@github.com> wrote:

[2017-10-21 01:08] jhonnymoreira commented on #396
@Jeyanthinath thanks! Been doing the same thing as @JamesTheHacker and it will help me!

[2017-10-21 01:11] orenmizr commented on #35683
i wonder how many comments before there will be some kind of **recognition** about this from **microsoft**

workaround on fixing your open source code editor
1. uninstall vscode
2. reinstall atom, atom-ide-ui, atom-typescript
3. unstar this repo

[2017-10-21 01:52] ryanelian commented on #35783
I miss the old Visual Studio 2010 icon.

![](http://dl1.cbsistatic.com/i/2016/07/06/ee64e31c-b516-480a-9bc8-961cbff37c7f/46c21521f22bc48299c2072620b63ac7/imgingest-3961646527974304281.png)

It looks 3D, not flat and boring; just like the new [Microsoft's Fluent Design](https://fluent.microsoft.com/).

IMHO, VS Code icon should draw ideas from Fluent Design for the icon overhaul...

[2017-10-21 02:46] BillyONeal commented on #36651
Appears fixed in tonight's update!

[2017-10-21 02:46] #36651 closed

[2017-10-21 02:58] callagga commented on #11847
+1

[2017-10-21 03:03] universonic commented on #36631
Sorry, I didn't make myself very clear. My computer model is MacBook Pro 15-inch, 2016 late. I Just open a project with more than 500+ files, and make a string replacement, then click the _Close All Editors_ button on top right corner of the _Open Editors_ window.
This operation will pop out a dialog to ask if I would like to save those changes. After click the save button, VSCode came to stuck, a

[2017-10-21 03:05] rkeithhill commented on #33794
Just to be clear, `debuggers.initialConfigurations` will continue to be supported in package.json right?  If we have this section in package.json, then it appears the `DebugConfigurationProvider.provideDebugConfigurations` method never gets called.  Is that correct?

[2017-10-21 03:18] rkeithhill commented on #36268
I think I have it working now.  One question though, VSCode never seems to call our `resolveDebugConfiguration` method.  Is that because we still have our debugger initial configurations defined in the package.json file?

[2017-10-21 03:22] Suraj-Yadav opened #36665 "Wrong Icon for Executable. Electron Icon shown instead of VSCode's."
- VSCode Version: Code - Insiders 1.18.0-insider (65c08338e4bece35fb53f5a1cdf56d30b7706157, 2017-10-20T15:35:45.848Z)
- OS Version: Windows_NT x64 10.0.15063

Steps to Reproduce:

1. After update to latest Insiders version, this icon changed to electron icon.

![image](https://user-images.githubusercontent.com/6687881/31847603-c97da74e-b63c-11e7-85cb-147e23a90742.png)
![image](https://user-images.

[2017-10-21 03:26] johngrabner commented on #36656
Visual studio does not restart the whole app, but rather recompiled only the affected closure and code keeps states from other closure.

This made visual studio great since you could fix as you single step.

Too bad this is not available is this product

Sent via the Samsung Galaxy S7 edge, an AT&T 4G LTE smartphone

-------- Original message --------
From: Kenneth Auchenberg <notifications@github

[2017-10-21 03:27] haraldrudell commented on #34503
I am on Linux, so I launched vscode with specific group like ```sg codegroup /usr/share/code/code```
then the magic is:
[code]
Thank you for your suggestions, though anything that does not block by default would not be safe. When I can bring myself to trust Docker, then I might use that.

[2017-10-21 03:29] jberube commented on #35475
VS Code 1.16.1
Only extension is ESLint 1.3.2
With and without `--disable-extensions`
Windows 10

I have what i believe to be the same problem.
The whole window freeze, sometimes only for 5 seconds, sometimes up to 1 minute, maybe more. Contrary to others, I don't have to let the editor run for a long time, I get it right away when I open VS Code.
I noticed a CPU usage spike on all my cores, but i

[2017-10-21 03:58] IMFUZZ commented on #2871
I know it's been some time, but I have encountered the same problem. Fetching the "language-configuration.json" file using the "languageId" is not reliable since some languages uses "<languageId>-language-configuration.json" ("javascript" for example) or the folder of the extension itself does not correspond to the languageId ("dockerfile" being inside the "docker" extension folder for example).

[2017-10-21 04:46] bpasero commented on #36647
![image](https://user-images.githubusercontent.com/900690/31848135-814618b4-b62b-11e7-889e-fd55dbfaeed9.png)

[2017-10-21 04:46] #36647 closed

[2017-10-21 04:49] IMFUZZ commented on #2871
ok, I found a pretty good way:
[code]

__Note:__ I would recommend that you use an external node module that parses json containing comments ([comment-json](https://www.npmjs.com/package/comment-json) for example) instead of require(...), since some of vscode's language-configuration have some. Making them invalid JSON which breaks require() and JSON.parse.

[2017-10-21 05:42] resolutecake commented on #36005
This happens when a remote directory is opened over ssh, ie. the directory opened is the sshfs share mount point
- CPU constantly 10%
- Resident memory consumption 50% (8 GiB) - this makes everything on the computer really slow
- Virtual memory consumption 0.001 TiB per 12 s, ie. 5.12 GiB per minute
- This can lock up the Chromium browser cache, ie. a different application, preventing browsing: "w

[2017-10-21 05:51] gulshan commented on #35875
This is not included in October milestone yet. :)

[2017-10-21 05:54] ilyahoilik opened #36667 "Support global application menu in Ubuntu 17.10"
Ubuntu 17.10 now uses GNOME instead of Unity.

I think it is better to move menu items from the menu bar to the GNOME application menu.
https://developer.gnome.org/hig/stable/patterns.html.en
https://developer.gnome.org/hig/stable/application-menus.html.en

It can help us to save a lot of work space.

[2017-10-21 06:48] acrolink opened #36668 "Live script execution / evaluation under VS Code extension development"
I have generated a template for a ` VS Code` extension using `yo code`. While editing the extension files inside `VS Code` I have noticed that I have to make `workbench.action.reloadWindow` before the new code modifications take effect. I think there should be an option to execute the code live without the need to reload the editor's window.

[2017-10-21 06:56] prem911 opened #36669 "AWS cli command "eb health --refresh" throws error in Integrated Terminal"
- VSCode Version:
Version 1.17.2
Commit b813d12980308015bcd2b3a2f6efa5c810c33ba5
Date 2017-10-16T13:59:46.104Z
Shell 1.7.7
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64
- OS Version:
Windows 10 Pro Version 1709 OS Build 16299.19
Steps to Reproduce:
My project is deployed on AWS as a beanstalk app. I run this command during deployments to see the health of the instances. It was working before

[2017-10-21 07:12] rkeithhill commented on #33791
OK, got the PowerShell extension updated to work with these changes - PR coming shortly

[2017-10-21 07:14] rcjsuen commented on #36632
@jez9999 What kind of files are you editing? Regular text files? JavaScript files?

[2017-10-21 07:17] #36173 closed

[2017-10-21 07:26] gorangrubic commented on #36631
I have the same situation here -- all 8 cores are loaded to max. This is: 1.15.1, Win64 bit build.
Yasterday I've installed this new build (before I had 32bit version. Also installed some extensions afterwards so I'm convinced some extension gone wild.
Using Code more than year - and due the project I'm working on I watch the CPU usage non stop and this is the first time I see this behavior.
![ima

[2017-10-21 07:27] maheswarar opened #36670 "problem with json file intelligence"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 6.1.7601
- Extensions:  msazurermtools.azurerm-vscode-tools

Extension|Author (truncated)|Version
---|---|---
node-debug2|ms-|1.18.3
azurerm-vscode-tools|msa|0.3.7
vscode-react-native|vsm|0.4.4

---

Steps to Reproduce:

1.
2.

Reproduces without extensions: Yes/No

[2017-10-21 07:30] alexandrudima commented on #36234
@archer884 I'm sorry for the frustration we're causing you.

You touch on two distinct problems:

1. You would expect cmd+backspace to behave differently than it does today. cmd+backspace ("Delete All Left") is currently implemented to delete all the text on the current buffer line (i.e. all the text before the current position, until a `\n` is encountered). From me looking at other code editors,

[2017-10-21 07:30] maheswarar commented on #36670
Hi every one

i am facing problem with the json file intelligence . i am unable to get intelligence for" azure resource manager tools  " which is an extension . could you plzz any one help me...!!!

[2017-10-21 07:40] jay-web opened #36671 "Numeric keys not working after installing stable version"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
ng-template|Ang|0.1.7
open-html-in-browser|cod|0.1.21
python|don|0.7.0
tslint|eg2|1.0.12
react-native-react-redux|EQu|1.4.1
file-icons|fil|1.0.5
auto-close-tag|for|0.5.1
auto-rename-tag|for|0.0.14

[2017-10-21 07:41] kssoftwangwg opened #36672 "vscode除了上部菜单栏，其余整个区域黑屏不显示任何东西。"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
code-gnu-global|aus|0.2.2
python|don|0.7.0
vscode-great-icons|emm|2.1.16
vscode-flake8|jay|0.0.4
vscode-clang|mit|0.2.2
mssql|ms-|1.2.0
cpptools|ms-|0.14.0
csharp|ms-|1.12.1

---

Steps to Reproduc

[2017-10-21 07:41] rogeriopradoj commented on #34407
It's the same bug as https://github.com/Microsoft/vscode/issues/26820, isn't?

That one is tagged with "needs more info". Do you really need more information about the issue from us users?

[2017-10-21 07:44] verlok commented on #35683
@orenmizr Done!

[2017-10-21 07:49] jdc-cunningham commented on #26628
I'm not sure if this is what caused the error for me (regarding extension host terminated not going away) I had an incorrect settings line in JSON pertaining to python linting. I couldn't even load a theme. I turned off the php suggest/validate as @meraj-shaikh mentioned, that worked for me, but I also removed that python linting line that I added at some point. After I removed that line I was abl

[2017-10-21 07:53] prasanthnv commented on #36273
But it looks odd

[2017-10-21 07:53] DanTup commented on #33791
Dart Code is now all updated (as of v2.4.3, published yesterday) 🙂

[2017-10-21 07:54] vikas-0 commented on #35683
@orenmizr or use papyrus icon theme
![image](https://user-images.githubusercontent.com/15345994/31849653-26e4f31c-b663-11e7-987b-0713c42d660a.png)

[2017-10-21 07:54] alexandrudima commented on #36234
@archer884 I have pushed a fix for the second problem. Please let me know what you'd like to see changed in the behaviour of cmd+backspace and the reasons for doing such a change.

[2017-10-21 07:56] alexandrudima commented on #35613
Duplicate of #7394

[2017-10-21 07:56] #35613 closed

[2017-10-21 08:21] uwe-h commented on #36643
@Tyriar You are right. If you use cmd.exe to navigate to a location on D:\ and then start bash, you are also redirected to your user's directory. So it's not on VS Code.

[2017-10-21 08:22] alexandrudima commented on #32258
@r3wt We ship with a lot of chords keybindings bound to `ctrl+k`. The status bar shows a message when entering a chord. What are exactly your customizations to `keybindings.json` and what would you expect ?

[2017-10-21 08:26] alexjose commented on #27139
I am also getting this issue in my Laravel project.

I am wondering how my IDE can affect the execution of my PHP file on the local server!!

[2017-10-21 09:01] alexandrudima commented on #34073
I have just pushed a change where undo stops are introduced when typing space, which resolves the initial reported issue regarding typing `a b c`. We can continue to track in this issue that an undo stop should be introduced also based on time between edits.

[2017-10-21 09:08] alexandrudima commented on #36003
Duplicate of #5887

[2017-10-21 09:08] #36003 closed

[2017-10-21 09:20] fredrikaverpil opened #36674 "Theming border between explorer and extensions panes"
I'm adding a visible separator line to more clearly show the border of explorer/code/terminal, which makes it easier for me to grab these handles and resize the panes:

[code]

It would also be great to be able to add such a border/separator between the explorer and extension panes.
I went to the [vscode theme color reference docs](https://code.visualstudio.com/docs/getstarted/theme-color-referenc

[2017-10-21 09:23] paperant opened #36675 "Combination `Command + Shift + ?` doesn't work well in a full screen view on macOS."
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:47:41.889Z)
- OS Version: Darwin x64 17.0.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
python|don|0.7.0
code-runner|for|0.7.4
java|red|0.12.0
vscode-java-debug|vsc|0.2.0
vscode-java-pack|vsc|0.2.0

---

Steps to Reproduce:

1. Make VS Code in a full screen view on macOS.
2. Use key combinati

[2017-10-21 09:30] paperant commented on #23520
+1 for bookmarks feature. This helps a lot when viewing tons of code.

[2017-10-21 09:43] alexandrudima commented on #36189
This can be turned off via `"editor.occurrencesHighlight": false`. If you would like to turn this off only for HTML, you can use language specific settings:
[code]

[2017-10-21 09:43] #36189 closed

[2017-10-21 09:47] jez9999 commented on #36632
TypeScript files.

[2017-10-21 10:07] artin-phares commented on #36556
@rnemec I'm restarting vs code as workaround

[2017-10-21 10:11] alexandrudima commented on #34414
I have changed the title to indicate that we should create a separate flag for this. `editor.autoIndent` controls a relatively new feature, that of using indentation rules as defined in the language configuration field `indentationRules`.

The OP desires to disable a behaviour we have had since day 1, that indentation is increased when pressing Enter after an opening bracket. e.g.:

![kapture 2017

[2017-10-21 10:13] alexandrudima commented on #32746
When setting `"editor.autoIndent": false`, after 004d0da57a05783797ca2860821d613095b346a8 (#36090) I can no longer reproduce. The fix will ship with our upcoming Monday Insiders build.

[2017-10-21 10:13] #32746 closed

[2017-10-21 10:14] ShayBox commented on #35783
So when are we gonna get a setting to let us change the icon to whatever we want...

[2017-10-21 10:43] cv0cv0 opened #36676 "Do not support kotlin"
- VSCode Version: Code 1.17.1 (1e9d36539b0ae51ac09b9d4673ebea4e447e5353, 2017-10-10T14:24:50.851Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
Kotlin|mat|1.3.0

---

Steps to Reproduce:

1.
2.

Reproduces without extensions: Yes/No

[2017-10-21 10:45] BillyONeal commented on #32746
Yaaaaaaaaay! :D

[2017-10-21 11:01] XXQ521 opened #36677 "Resource consumption"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
html-snippets|abu|0.1.0
vscode-database|baj|1.2.0
npm-intellisense|chr|1.3.0
path-intellisense|chr|1.4.2
bracket-pair-colorizer|Coe|0.10.9
jshint|dba|0.10.15
vscode-eslint|dba|1.3.2
githistory|don|

[2017-10-21 11:04] alexandrudima commented on #35475
@peltsi212 @dbaeumer
If you experience any sort of lag while typing, which is indicative of lag on the renderer process, we can try to identify the root cause via a CPU profile on the renderer process.

To get a CPU profile of the renderer process:
* Run `F1 > Toggle Developer Tools`
* Go to the three dots burger menu
* Choose `More Tools > JavaScript Profiler`
* Start a new CPU profile
* Do the a

[2017-10-21 11:18] navono commented on #36672
看下cpu高不高。我猜可能是扩展插件导致的。

[2017-10-21 11:19] BillyONeal commented on #34414
@alexandrudima It's possible the OP is thinking of the feature added relatively recently. The feature as it existed day 1 was fine; the problematic "I'm going to move existing braces around" behavior started in 1.15, the same release where the editor.autoIndent setting was added.

[2017-10-21 11:22] johnunclesam commented on #36665
Here the same problem.

![image](https://user-images.githubusercontent.com/21275217/31851276-cb38de84-b662-11e7-984e-98c7d7794031.png)

![image](https://user-images.githubusercontent.com/21275217/31851280-d5258d5c-b662-11e7-9394-2c591b92b643.png)

[2017-10-21 11:30] huang2002 opened #36678 "Why there is always a property "x"?"
![image](https://user-images.githubusercontent.com/25705146/31851297-903f47cc-b695-11e7-83b6-7c02843ee7b7.png)

Whenever I define an object, there's an "x" property.

[2017-10-21 11:33] alexandrudima commented on #36492
@binaryWard
The Monaco Editor uses 100% the same source code as the VS Code editor UI part, especially around input handling. So, from the input handling point of view, the Monaco Editor running on Chrome is almost equivalent to VS Code, except perhaps differences in the underlying Chromium version. VS Code uses Chromium v58, while Chrome is now at v62 I believe.

Since text is highlighted as expe

[2017-10-21 11:36] alexandrudima commented on #36492
@binaryWard

---
The Monaco Editor uses 100% the same source code as the VS Code editor UI part, especially around input handling. So, from the input handling point of view, the Monaco Editor running on Chrome is almost equivalent to VS Code, except perhaps differences in the underlying Chromium version. VS Code uses Chromium v58, while Chrome is now at v62 I believe.

---
If you can reproduce on

[2017-10-21 11:39] alexandrudima commented on #34414
@BillyONeal You are correct, it could be either one.

@tlemo Can you please give a specific example (small code snippet would work), giving as details what happens vs what you would like to happen.

[2017-10-21 11:44] navono opened #36679 "task can not execute cmake properly"
- VSCode Version: Code 1.17.2 (b813d12, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 16299.19
- Extensions:

| Extension | Author (truncated) | Version |
| ------| ------ | ------ |
| C/C++ | Microsoft | 0.14.0 |
| CMake | twxs | 0.0.17 |
| CMake Tools | vector-of-bool | 0.10.2 |
| QuickTask| Lky Tal | 3.0.2 |

Steps to Reproduce:

1.
computer environment:
- cygwin version: 2.881(32 bit)

[2017-10-21 11:47] felicio commented on #34615
@Monsoir would you mind posting resulting configuration and any extra steps you needed to take?

[2017-10-21 11:48] v1adko commented on #27139
@alexjose If I understand this correctly, IDE does not contol that, IDE just spawns a terminal environment in which you then run your app. And when that happens it has a chance to modify that environment.
As I wrote, issue happens only when I start the app through the built in terminal, when I run it in a separate iTerm or Terminal instance, it's ok.
And even though in my case it's node, but I thi

[2017-10-21 12:38] alexandrudima commented on #8869
I will look into making the following changes to Ctrl+D and the selection highlights. The selection highlights will continue to match 100% what Ctrl+D will do; they will remain a reliable preview of what Ctrl+D will select next. Here is the mechanism:

---

#### Ctrl+D temporary disassociation from the find widget toggles
* only when starting with a collapsed selection on a word, Ctrl+D will set a

[2017-10-21 12:38] equinusocio commented on #36674
I think that only the top border is enough

[2017-10-21 12:39] ciel commented on #36665
Same here.

[2017-10-21 12:49] leonoverweel opened #36680 "Feature request: update on close"
- VSCode Version: 1.17.2
- OS Version: Windows 10 Pro Version 1703 (build 15063.674)

Some Windows software, such as Paint.NET, has an option to "update on close" when a new update is available. The only way to make the update notification disappear in VSCode is to update now or dismiss the notification (and, in the latter case, probably forget to update by the time you finish working in the app).

[2017-10-21 12:53] changavila commented on #36665
Just updated mine an hour ago, and now i'm having the same issue.

[2017-10-21 13:09] kborowinski commented on #36665
Someone's tired of that whole icon drama? #35783

[2017-10-21 13:34] Mlocik97-issues commented on #36678
the letter X denotes any variable

[2017-10-21 13:38] pftbest commented on #35724
It happened to me twice yesterday, and in both cases i was editing files that where outside of current workspace but in the same git repo.

[2017-10-21 14:11] guyellis opened #36683 ""Alt + click to follow link" should be "Ctrl + Alt..." on Ubuntu"
- VSCode Version: 1.17.2
- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. Hover cursor over a link in the console
2. Tooltip shows "Alt + click to follow link"
3. Tooltip should should "Ctrl + Alt + click to follow link"

Reproduces without extensions: Yes

[2017-10-21 14:41] tahnik commented on #34865
@wizarrc Nope, I am not gonna start any wars. I get your point. The biggest problem for me is that it affects all the electron apps as well. If it was only chrome, I could get away with firefox quantum or even edge maybe. I just hope this gets fixed at some point :(

[2017-10-21 14:47] wizarrc commented on #34865
@tahnik yeah, we need a browser drop in replacement  in electron like they do now for node.js so you can pick your own rendering engine.

[2017-10-21 14:51] kssoftwangwg commented on #36672
![image](https://user-images.githubusercontent.com/21151911/31852874-42dacff2-b6b2-11e7-810f-dfbde5052179.png)
从运行截图上看，CPU的占比不是特别高，内存消耗比较大。

[2017-10-21 14:53] kssoftwangwg commented on #36672
@navono ，谢谢支招：
![image](https://user-images.githubusercontent.com/21151911/31852890-71cee03c-b6b2-11e7-909b-d7bf27dd24e7.png)
从任务资源管理器的详细展示看，CPU的消耗并不高，内存效果占比高一些。不过这个vscode是卸载了原来的版本后重新安装的。

[2017-10-21 14:54] pevans360 opened #36684 "Make top horizontal scrollbar larger"
- VSCode Version: Code 1.17.1 (1e9d36539b0ae51ac09b9d4673ebea4e447e5353, 2017-10-10T14:24:50.851Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
debugger-for-chrome|msj|3.4.0
Angular2|UVB|0.4.1

---

Steps to Reproduce:

1. Roll mouse pointer over the top horizontal scrollbar under the tabs
2. (a) Scrollbar is too narrow to be useful
    (b

[2017-10-21 14:56] rnemec commented on #36556
Good old command-line resurrected: `git difftool -d` 😉

[2017-10-21 15:05] kssoftwangwg commented on #36672
@navono ，贼6...，是显卡的问题，我全局设置了使用英伟达显卡，看见vscode再打开时用了GPU引擎，后来我调整自动选择显卡，重新打开vscode就显示了...
![image](https://user-images.githubusercontent.com/21151911/31853013-45eee6d6-b6b4-11e7-9dc7-c1ffed2d1199.png)

![image](https://user-images.githubusercontent.com/21151911/31853017-5502a752-b6b4-11e7-9314-567440f6b3e1.png)

[2017-10-21 15:23] egamma commented on #10659
@gorkem I cannot give an ETA, but it is on the backlog and it is on the radar for our next iteration plan.

[2017-10-21 15:24] egamma commented on #35875
@gulshan fixed, thanks.

[2017-10-21 15:28] egamma commented on #2094
More can be done on this issue, but I close this issue for now.

[2017-10-21 15:28] #2094 closed

[2017-10-21 16:03] electrotype opened #36685 "Launch configuration to debug a program that starts its own debug process"
I asked [the question](https://stackoverflow.com/questions/46800810/vscode-how-to-debug-a-node-program-that-starts-its-own-debugger-using-a-launc) on Stack Overflow (50 points bounty!) but received no answers.

Is it possible to have a `launch configuration` that is going to attach a debugger to a debug process _started by the launched program itself_?

I want my `launch configuration` to start a

[2017-10-21 16:12] golf1052 commented on #36620
You're probably running into #35433. I noticed this morning that I wasn't getting Find in Files results either. It works fine with files not in OneDrive, doesn't work with OneDrive files. I just turned off Files On-Demand so we'll see if things work once everything syncs.

[2017-10-21 16:21] Tyriar commented on #36007
@jsappme can you share your settings.json file?

[2017-10-21 16:23] Monsoir commented on #34615
@felicio

Actually, because the module feature is not supported in Node 8.5  as other ES6 features, I do not debug the ES6 code directly in the editor.

I use Babel to compile the ES6 code to JavaScript code which can run directly in Node 8.5. As a result, the code using module feature is compiled to the code which can run directly in Node 8.5.

And the code I debug in the editor is the compiled c

[2017-10-21 16:26] mabbashm110 commented on #19944
@mjbvz `import $ from 'jquery'` it worked for me on vscode but when I run the file it says `uncaught exception: unexpected token import`... and then i used `var $ = 'jquery'` and it says `Uncaught TypeError: $ is not a function`

[2017-10-21 16:37] Tyriar commented on #36322
@jorgerabello3 @mpartipilo do you have a custom font by chance? I cna't reproduce on Debian 8

<img width="772" alt="screen shot 2017-10-21 at 9 35 56 am" src="https://user-images.githubusercontent.com/2193314/31853776-5306001e-b643-11e7-8ebc-c72e5f194d59.png">

The default font may have changed in 9. This is similar to what happened on Fedora due to the default font there, you should try using a

[2017-10-21 16:39] Tyriar commented on #36307
Reported upstream https://github.com/Axosoft/nsfw/issues/40

[2017-10-21 16:43] Tyriar commented on #36463
Yes updates should come automatically, I think what @bardiainjast is after is an auto updater similar to browsers these days which provide an experience closer to our current macOS flow; the update is downloaded and applied on next restart.

Good news is that we've invested some time recently in snap packages and that is likely the direction we will go, eventually this is the sort of behavior we s

[2017-10-21 16:43] #36463 closed

[2017-10-21 16:49] DoCode commented on #26289
@aeschli, what is the status here?
How can we use a schema catalog with VS Code?

[2017-10-21 16:59] felicio commented on #34615
I understand that for the ES6+ you went with Babel to pull off debugging inside editor. For a reason I also thought that this issue’s target was a sceneraio leveraging only ES modules from the specs. For that, there seems to be another [issue](https://github.com/Microsoft/vscode/issues/33051) open.

[2017-10-21 17:14] felicio commented on #34615
Below is my config bit, for cases where you’d like to debug a whatever module (entrypoint) that is in editor’s focus.

[code]

[2017-10-21 17:24] Aladdin-ADD opened #36687 "bug: regex lookahead not working (search)"
@rebornix
- VSCode Version: Code - Insiders 1.15.0-insider (81e812c06540d1bd2636cf70ff7d0edd1bb0e866, 2017-07-21T13:15:10.775Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-standardjs|che|1.1.8
npm-intellisense|chr|1.3.0
path-intellisense|chr|1.4.2
vscode-mocha|Com|0.1.1
vscode-mocha-test-runner|cst|0.2.4
angular2-snippets|dan|1.0.1

[2017-10-21 17:59] reynoldsbd3 commented on #3742
I would also love to see Visual Studio's "auto hide when focus changes" behavior implemented here.

[2017-10-21 18:10] c3y commented on #7690
@mdocter thanks but bash.exe doesn't print with colors. For example, ls command returns all the results same color. but git-bash.exe makes the directories blue.

[2017-10-21 18:11] c3y commented on #7286
bash.exe doesn't print with colors. For example, ls command returns all the results same color. but git-bash.exe makes the directories blue. you know a way to make bash.exe colorful as in original bash?

[2017-10-21 18:14] Tyriar commented on #7504
@copdips that's a pretty hacky solution that will pretty much always have limitations. The VS Code terminal is a fully fledged terminal emulator which works across platforms and integrated tightly with VS Code so that's the focus.

I believe this feature is planned for the next 6 months 😃

[2017-10-21 19:01] dlong500 commented on #36665
What's sad is that I actually prefer this to the orange icon...

[2017-10-21 19:31] emilyeverett opened #36688 "[java] Syntax Highlighting broken by method header on more than one line"
- VSCode Version: Code 1.14.2 (cb82febafda0c8c199b9201ad274e25d9a76874e, 2017-07-19T23:22:50.650Z)
- OS Version: Darwin x64 16.7.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
latex-workshop|Jam|3.5.5
vscode-todo-highlight|way|0.5.11

---

Steps to Reproduce:

Syntax highlighting is broken in the below code snippet:
[code]

Highlighting is fixed if full method header is on the s

[2017-10-21 20:19] sailro commented on #30288
This is a huge limitation, it would be so great to have such a basic feature when working with custom tree views

[2017-10-21 20:30] octref opened #36689 "Icons on open editor explorer get squashed for ignored files"
- VSCode Version: Code - Insiders 1.18.0-insider (65c08338e4bece35fb53f5a1cdf56d30b7706157, 2017-10-20T14:46:19.849Z)
- OS Version: Darwin x64 16.7.0

![cap](https://user-images.githubusercontent.com/4033249/31855640-e1f874ee-b663-11e7-8a8b-89dee0692355.gif)

[2017-10-21 20:59] christopherwolf1 commented on #36665
I am having this problem too; at first I thought it was some icon cached by Windows for a generic Electron binary, so I cleared all the caches and that didn't help. Then I thought to open up freshly downloaded zip files instead of using the MSI installer packages. The Portable ZIP install for VS Code is fine as you can see (it even includes the proper branding information content)...

![image](htt

[2017-10-21 21:02] mdb07a commented on #35783
Personally, I'd say it comes down to three issues (I'm on Windows, and therefore dealing with the Windows version of the icon):
1) the color change was far too drastic. I sympathize with the reasoning for changing the color, but inverting the color to the exact opposite color is a good way to cause the maximum number of problems, since surroundings that looked best with the blue icon will look the

[2017-10-21 21:12] jsappme commented on #36007
{
"terminal.integrated.shell.windows": "C:\\WINDOWS\\System32\\cmd.exe",
"git.enableSmartCommit": true
}

On Sat, Oct 21, 2017 at 10:22 AM, Daniel Imms <notifications@github.com>
wrote:

--
Hervé Fulchiron
JSapp.me

[2017-10-21 21:14] davemvp commented on #10121
+1. Required, not a nice-to-have for people with multiple monitors (tabs). Over 14 months and still dead silence? But hey, macOS Touch Bar support is there. 👎 Sad...

I agree with the "let's not make this compete with Visual Studio" comment. Well if I could work on my SPA efficiently and my web api backend in Visual Studio I wouldn't need VS Code either.

[2017-10-21 21:14] jsappme commented on #36007
// Controls auto save of dirty files. Accepted values: 'off', 'afterDelay',
'onFocusChange' (editor loses focus), 'onWindowChange' (window loses
focus). If set to 'afterDelay', you can configure the delay in
'files.autoSaveDelay'.
"files.autoSave": "off",

// Controls the font size in pixels.
"editor.fontSize": 14,

// Controls the font family.
"editor.fontFamily": "Consolas, 'Courier New', monosp

[2017-10-21 21:37] maxibanki commented on #36676
Please provide us more information. If the language support is not working like expected, then it is a issue from the [kotlin VS Code extension](https://github.com/mathiasfrohlich/vscode-kotlin).

[2017-10-21 22:06] Xzlash opened #36691 "JavaScript Ternary Operator"
No support for Ternary operator in JavaScript, as the editor believes the `:` to be a ts type declaration.

![image](https://user-images.githubusercontent.com/31580218/31856255-7c686dc4-b68a-11e7-9a34-c7595b00040e.png)

Reproduces without extensions: Yes

[2017-10-21 22:16] chrisdias opened #36692 "Explore a non-tilted icon on Mac"
based on @donysukardi's comment here:  https://github.com/Microsoft/vscode/issues/6607#issuecomment-335664326

[2017-10-21 22:24] arielril opened #36693 "MacOS merge windows not working"
The property of macOS to merge all windows is not working. It creates the local where it would be the merged windows but no window is there to switch.

- VSCode Version: 1.17.2
- OS Version: MacOS High Sierra

Steps to Reproduce:

1. Open more than one window of VSCode
2. Try to merge the windows that were opened.

[2017-10-21 22:40] maxibanki commented on #36691
Hi,
if I understood your problem correctly, then it is no bug. I tried to execute your code from above `(m ? (): "")` in Google Chrome in which it was not working (eslint and jslint reported both also errors). So I think it is not valid JavaScript.
[code]
So I come to the conclusion that the `()` in the if statement isn't correct syntax.

[2017-10-21 22:55] mjbvz commented on #36691
Yes, `()` is not a valid expression in current JS

[2017-10-21 22:55] #36691 closed

[2017-10-21 22:58] DoCode commented on #3130
Is everyone read this feature request???
+1

[2017-10-21 22:58] Drache93 commented on #22317
With the Fall Creators Update this is changed.
`"C:\\Windows\\System32\\bash.exe"` personally doesn't work - I'm assuming this isn't a left over from the old one.

The full application link is required :
`"terminal.integrated.shell.windows": "C:\\Windows\\WinSxS\\amd64_microsoft-windows-lxss-bash_31bf3856ad364e35_10.0.16299.15_none_62878a822db68b25\\bash.exe"`

Note:
I'm not sure if this folder wi

[2017-10-21 23:02] roblourens commented on #36631
@gorangrubic Your repro steps don't match @universonic, please open another issue, and show the command line args for the processes that are taking lots of CPU. Also 1.15 is a couple versions old, please update (and you could also try the Insiders build to try the latest changes).

@universonic I see, can you check the command line arguments of the process taking CPU, using `ps aux`?

[2017-10-21 23:09] mjbvz commented on #36677
Please add information about the issue

[2017-10-21 23:14] cv0cv0 commented on #36676
@maxibanki @mjbvz Native does not support, installed only to support expansion. Hope to be able to provide support for the original.

[2017-10-21 23:58] insprintorob commented on #14229
I get this issue on linux using the gnome 3 alt+f2 quick launcher. This doesn't happen when launching code form a terminal, or using the "search everywhere" default launcher.

My guess is the alt+f2 launcher has some kind of unusual config for setting up paths.

[2017-10-22 00:35] nt1m commented on #36537
@mjbvz VS code consumes a lot of resources on my machine as well. I have only 1 file open and VSCode uses 117% of my CPU, 2.3GB of memory, and has a very bad energy impact.

This is quite disappointing, since I like some of VSCode's features. Unfortunately, the resource usage makes me want to use Sublime Text
Here's what `ps aux | grep -i code` shows:
[code]

[2017-10-22 00:41] nt1m commented on #36537
@mjbvz I'm also using macOS 12.12.6 and VSCode 1.17.1. I work mainly with JavaScript, but also with haskell.

[2017-10-22 00:49] roblourens commented on #36687
This is expected, unfortunately our search tool doesn't support lookahead. From [the docs](https://code.visualstudio.com/docs/editor/codebasics#_advanced-search-options),

[2017-10-22 00:49] #36687 closed

[2017-10-22 01:06] navono commented on #36672
解决就好。看起来好像vscode的渲染跟显卡设定有一定关系。

[2017-10-22 01:23] hujianxin commented on #35379
I really really need this feature.

Like this pic: ![](https://camo.githubusercontent.com/8ee527438f591aa56ab1f75c104b0a94d43e99dc/68747470733a2f2f7773332e73696e61696d672e636e2f6c617267652f303036744b6654636c7931666b71643071657365396a33316b7730796b6166342e6a7067)

[2017-10-22 01:45] Mattgyver317 commented on #11378
If you just installed an update to your version of Java on your PC b4 *this occurred, then you may need to reinstall to the newest version of VSCode straight from the Visual_Studio website...
->  https://code.visualstudio.com/download

[2017-10-22 01:50] Mattgyver317 commented on #10616
Do a reinstall if this event occurred right after a Java update on your local PC.
-> https://code.visualstudio.com/download

[2017-10-22 02:18] #36656 closed

[2017-10-22 02:30] cotts commented on #36665
Same Here

[2017-10-22 03:12] danielsitnik commented on #35783
Just updated today and wow... this new icons looks really ugly.
I'm still trying to figure out whether it is a fish or a spermatozoon.

Please go back to the old one.

[2017-10-22 03:25] FutureHawk commented on #32887
Had the same problem, just changed the auto-save from 'afterDelay' to 'off'.
This stops the curse from moving to the end of the line due to the file being auto saved.

[2017-10-22 03:42] ajitid opened #36695 "Workspace doesn't restores itself on re-opening Code in Ubuntu 17.10 GNOME"
Ubuntu 17.10 also provides older Unity interface, in which workspace gets restored on re-opening VS Code, but it doesn't happens in new GNOME UI unless a file modified isn't saved.

[2017-10-22 04:18] mrobillard commented on #35783
Did they change the icon? Not sure, but that would be a terrible move.

[2017-10-22 05:14] felipenmoura commented on #14653
Very nice.
How can I use/test it? I couldn't find any extension for that, neither any menu in the latest version so far.

[2017-10-22 05:32] chiragbhansali commented on #36487
@ramya-rao-a : Some extensions were causing the problem instead. I have removed them and everything is fine now. Thanks.

[2017-10-22 05:32] #36487 closed

[2017-10-22 05:40] shijiebei2014 opened #36696 "can not auto update"
- VSCode Version: Code 1.11.2 (6eaebe3b9c70406d67c97779468c324a7a95db0e, 2017-04-13T07:56:42.517Z)
- OS Version: Darwin x64 16.0.0

can not auto update!!!

[2017-10-22 05:55] Reificator commented on #32717
Been working with Rust on my macOS laptop, and figured I'd continue on my Windows desktop tonight.  So I setup the new WSL (much easier than it used to be) and set my integrated shell to the result of `where ubuntu`.

It works great, but it opens to home instead of the current workspace root.  And not even my Windows home, it's showing my Ubuntu home instead.

I'm going to have to switch to Powers

[2017-10-22 06:10] tonghuashuo opened #36697 "File change highlight is too disturbing but can't turn off"
When I'm editing codes. The editor gives me highlights like below on changed lines.
<img width="671" alt="wx20171022-134320 2x" src="https://user-images.githubusercontent.com/6594276/31858681-6e498ce0-b730-11e7-98e2-a1b47ad27602.png">

It's good to have some hints on modified lines. But I think a little color bar around the line number should be enough. Highlighting the whole line is too strong fo

[2017-10-22 06:14] tonghuashuo commented on #36424
- it won't go away if I click on blank area
- some times folding code blocks will pop it up. and refocus cursor.
- can't find any configuration items on turning this feature off.

[2017-10-22 06:21] archer884 commented on #36234
@alexandrudima, I would prefer that you not change the behavior of cmd+backspace under normal circumstances, because I primarily use VS Code to edit code and, under those circumstances, the current behavior is preferable.

If someone made an extension that changed that behavior for markdown files only, I might install it. :p

[2017-10-22 06:22] misoguy commented on #36601
I'd like to take a look at this issue if no one is on it yet.

[2017-10-22 06:25] Huyvu7495 commented on #36665
The Process name in Task Manager is also Electron
In Processes tab
![image](https://user-images.githubusercontent.com/10388179/31858864-4ecd7006-b72c-11e7-8c67-8b02ff838ab1.png)

In Details tab
![image](https://user-images.githubusercontent.com/10388179/31858868-59a71720-b72c-11e7-9bcc-88bf3796eece.png)

[2017-10-22 06:33] #36115 closed

[2017-10-22 06:43] Amr1977 opened #36698 "Feature Request: Make it possible to swap the panels in the diff view"
https://stackoverflow.com/q/39854518/1356559

[2017-10-22 07:47] JediMarcinC commented on #9443
+1

[2017-10-22 08:06] Jancat opened #36699 "jsconfig.json validate module import seem to not find default 'index' file path"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:47:41.889Z)
- OS Version: Darwin x64 16.7.0

---

My `jsconfig.json` :
[code]
`foo.js`：
[code]
The build-in js validator hint `[js] Cannot find module 'app/themes'.`

And I want to import `app/themes/index` default without the `index` suffix and validator error.

How can I config the `jsconfig.json` to achieve t

[2017-10-22 09:14] maxibanki commented on #36696
Please provide us more information such as logs, behavior etc. Thanks :)

[2017-10-22 09:16] ilyahoilik commented on #36695
I can reproduce this as well

[2017-10-22 10:18] esuus commented on #10487
Formatting just stopped working for me out of nowhere yesterday. Neither right-click > format document, nor Alt+Shift+F.
Has this been solved?

[2017-10-22 10:33] Neutrino-Sunset opened #36700 "Allow to open two distinct editors side by side in one group"
VsCode has the ability to horizonatally split an editor window. When you execute `code --diff file1 file2` both files are opened side by side in a single editor window with a single header tab. A similar view is presented when you edit the VsCode settings.

This is splitting. It would be nice to be able to do this for my own files to have multiple views of the same file. What would make it actuall

[2017-10-22 10:58] Neutrino-Sunset commented on #5911
I think it would be useful to disambiguate between editor splitting and editor groups.

Conventionally splitting is when one editor tab is used to edit different locations in the same file or different files in the same editor. This is what VsCode does when you use --diff or open the edit settings view.

Editor groups are just that, opening different groups of editors.

My personal workflow is to

[2017-10-22 11:07] Neutrino-Sunset commented on #36700
I found the discussion about enhancing the editor group functionality here

https://github.com/Microsoft/vscode/issues/5911

...and added some thoughts of my own about how grouping and splitting should be two separate things which it might be useful to reiterate here.

[2017-10-22 11:38] sluongng commented on #35572
I have not follow discussions about this for long but have you guys considered giving user the option to choose their own search implementation?

For example I want to use https://github.com/junegunn/fzf/ or https://github.com/lotabout/skim.

I wish to have configurable search options, similar to configurable run/debug settings. There I can link the search call to my own binary(ies) with parameter

[2017-10-22 11:51] Faultless commented on #36700
+1
Horizontal splitting is a really frustrating experience in vscode. And apart from git diffing, it ends up being more of an annoyance (misclick) than an actual feature.

_Sent from my Samsung SM-A500H using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-22 11:55] AlfaDelta opened #36701 "Windows and Mac Icon of VSC"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:48.528Z)
- OS Version: Windows_NT ia32 10.0.15063

The new application icon of VSC is very ugly! On Windows but special on an Apple Macbook!
Please give me the previous very clear VSC icon back ;-)

[2017-10-22 12:28] rcjsuen commented on #36701
Duplicate of #35683.

[2017-10-22 12:44] dstockhammer opened #36703 "Pasting large file name kills VS Code"
When pasting a large amount of text into the filename field in VS code, the editor hangs and dies. I did this today by accident. This is a very minor issue that's caused by user error, but I reckon it could be avoided by checking input length.

- VSCode Version:  1.17.2
- OS Version: Win 10 Pro 1709

Steps to Reproduce:

1. Create a new file
2. Paste some large text into file name field
3. VS Code

[2017-10-22 12:57] faustinoaq commented on #35783
![vscode new icon meme](https://i.imgur.com/6AB8BNV.jpg "vscode new icon suggestion")

[2017-10-22 12:58] faustinoaq commented on #35683
![vscode new icon meme](https://i.imgur.com/6AB8BNV.jpg "vscode new icon suggestion")

[2017-10-22 13:14] BurntSushi commented on #36309
See also: https://github.com/BurntSushi/ripgrep/issues/416 and https://github.com/rust-lang/regex/issues/244

This particular type of match semantics varies wildly among regex engines. Some don't consider `\r` at all when computing lines (e.g., ripgrep), while some properly treat either `\r\n` or `\n` as line endings while others will treat `\r` all by itself as a line ending (perhaps a holdover f

[2017-10-22 13:17] dbauszus-glx opened #36704 "Copy json from variable WATCH"
It should be possible to copy variable values or json from a watched variable during debug. This is the one feature which makes me still need to use WebStorm where it is easily possible to copy JSON from the right click menu on a watched variable.

![image](https://user-images.githubusercontent.com/22201617/31862309-87d5ae70-b733-11e7-844a-3ab75c2de013.png)

Where as in Visual Studio Code there is

[2017-10-22 15:00] hujianxin opened #36705 ""editor.showFoldingControls": "always" option not effect on version 1.17.2 (1.17.2)."
"editor.showFoldingControls": "always" option not effect on  version 1.17.2 (1.17.2).

[2017-10-22 16:45] miguelcudaihl commented on #4490
+1
I just moved to mac and intended to make VS Code my default editor but then this...

[2017-10-22 17:03] kurtlewis opened #36706 "pep8 package deprecated, use pycodestyle instead - "python.linting.pep8""
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:57:00.652Z)
- OS Version: Linux x64 4.4.0-96-generic
- Extensions:

Extension|Author (truncated)|Version
---|---|---
python|don|0.7.0
java|red|0.10.0
---

Among the options for python code linting is pep8 - specifically under `python.linting.pep8`. This package [recently underwent a rename](https://github.com/Py

[2017-10-22 17:06] stevenkayter commented on #26839
Has anyone figured how to revert to the old icon on windows 10 yet? I would use Vs code but for the icon. I still don't understand why the color frustrates me so much...

[2017-10-22 18:05] rogerkerse commented on #25219
This problem still exists in the latest insiders build

[2017-10-22 19:21] robertohuertasm opened #36707 "Icons are not correctly rendered in Open Editors pane"
![image](https://user-images.githubusercontent.com/696981/31865372-6b891c9e-b76e-11e7-97b5-c4e3fca57bac.png)

Steps to Reproduce:

1. Open a file
1. Modify it
1. Grab the left pane and shrink it until you get something similar to this.

![image](https://user-images.githubusercontent.com/696981/31865370-61b37e76-b76e-11e7-9e16-70d540defad3.png)

You can see below that depending on the file icon the

[2017-10-22 19:25] snjeza opened #36708 "Syntax highlighting is not working with comment"
- VSCode Version: any
- OS Version: any

Steps to Reproduce:

See https://github.com/redhat-developer/vscode-java/issues/338

[2017-10-22 19:26] edlahoz opened #36709 "Feature request: Ability to focus single folder in file explorer"
While working, would be pretty darn sweet if we could right click a folder and select an option like "Focused Folder/Directory" or something around those lines.

What this would do is single out this selected directory in your file explorer while collapsing everything else. So you would only see what you are interested in your file explorer (while still having the option to see everything else). T

[2017-10-22 19:40] snjeza commented on #36708
A duplicate of #36688

[2017-10-22 19:40] #36708 closed

[2017-10-22 19:41] snjeza commented on #36688
See redhat-developer/vscode-java#338

[2017-10-22 19:42] Jaykul opened #36710 "1.18 Insiders using default electron icon?"
Like it says in the title, I updated today and the VS Code icon is missing in favor of the blurry Electron circle.

![image](https://user-images.githubusercontent.com/192942/31865610-7ee6f718-b73f-11e7-87dd-3fc68001efd3.png)

- VSCode Version: Code - Insiders 1.18.0-insider (65c08338e4bece35fb53f5a1cdf56d30b7706157, 2017-10-20T15:35:45.848Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

E

[2017-10-22 19:48] JoshuaKGoldberg opened #36711 "Markdown preview doesn't syntax highlight tsx"
- VSCode Version: Code 1.16.1 (27492b6bf3acb0775d82d2f87b25a93490673c6d, 2017-09-14T16:38:09.760Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-markdownlint|Dav|0.11.0
vscode-eslint|dba|1.3.2
python|don|0.7.0
tslint|eg2|1.0.11
prettier-vscode|esb|0.24.0
csharp|ms-|1.12.1
typescript-javascript-grammar|ms-|0.0.24
debugger-for-chrome|

[2017-10-22 20:09] alexjose commented on #27139
@v1adko thanks for the clarification. But my Laravel is not even started from the vs terminal. It is running in an Apache server.

[2017-10-22 20:24] resolutecake commented on #36005
I have a script that deploys files using series of ssh connections

This is unrelated, using a different user account on the local host, goping from the remote computer but between the two same hosts. It writes some files in the near user’s home directory

This should not affect code at all, but it does. Perhaps code has some file watchers on ~ and goes berzerk on certain writes. How do I determin

[2017-10-22 20:25] maxibanki commented on #36710
Duplicate of #36665

[2017-10-22 20:28] maxibanki commented on #36706
Due this is an extension specific issue, please create an issue in the [repository](https://github.com/DonJayamanne/pythonVSCode) of it.

[2017-10-22 20:34] maxibanki commented on #36703
In which filename field? In that when you rename the file in the explorer sidebar?

[2017-10-22 20:38] resolutecake commented on #36005
Perhaps @bpasero could reopen and examine this issue?

[2017-10-22 21:10] dstockhammer commented on #36703
Yes, the file name field in the sidebar. I could have made it clearer in the screen shot, my bad.

[2017-10-22 21:14] TheOnlyMrCat opened #36712 "Commit changes to move all files to Trash"
- VSCode Version: 1.17.1

The `Source code` tab in VSCode 1.17.1 (and some versions before and after) is saying that I am moving all my files to Trash. This only occurs when I have no Github repository folder selected.

[2017-10-22 21:40] peterschussheim commented on #36485
@mjbvz Thanks for the suggestion above, however, I am confused.  I am new to VS Code  extension development as well as Typescript; forgive me if these are naive questions.

Starting with the code below:

[code]

Based on this snippet, can you help me understand why I see the following TS errors:

- `Property 'registerColorProvider' does not exist on type 'typeof languages'.`
- `Namespace ''vscode'

[2017-10-22 21:45] pebanfield commented on #28007
I am hitting breakpoints in my Jest spec with this configuration, however, I am not able to hit break points in the imported source. Any ideas why that might be the case? Thanks.

[2017-10-22 22:01] justanirudh opened #36713 "Using Intellij Shortcuts. Cmd + Y to delete line does not work"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:47:41.889Z)
- OS Version: Darwin x64 17.0.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
latex-workshop|Jam|3.5.5
vscode-elixirc-mix-linter|PTD|0.0.3
latex-preview|ajs|0.5.1
intellij-idea-keybindings|k--|0.2.15
vscode-elixir|mjm|1.0.0

---

Steps to Reproduce:

1.
2.

Reproduces without extens

[2017-10-22 22:14] firelizzard18 commented on #14653
@felipenmoura If you want to use it, you need a mac. If your mac doesn't have a touchbar, I think XCode provides some kind of emulator. As of the september release (1.17?), it's enabled by default on Mac. The only way you can modify the menus is via extension contributions. I'm not sure if/where that's documented, but the september release notes should have enough to get you started.

[2017-10-22 22:45] nmaxcom opened #36714 "Scrollbar theming options"
I can't seem to find how to change the indications in the scrollbar. In my specific case, I'd like to make the found items much more visible:

![image](https://user-images.githubusercontent.com/8936090/31867210-73baf99c-b78b-11e7-8f8a-7060181bd454.png)

Is it possible?

[2017-10-22 22:59] ramya-rao-a commented on #36540
@bpasero how are you differentiating the crashes from extension host vs other crashes? The last I checked, the only way to do this hockey app is to open crash details and look at the meta data

[2017-10-22 23:34] kurtlewis commented on #36706
My apologies, I'll close this and open an issue there!

[2017-10-22 23:34] #36706 closed

[2017-10-23 00:03] m3rabb commented on #10565
Solution for MacOS: Right click on the _Visual Studio Code.app_ and select _Show Package Contents_. Drill down to the ```Contents/Resources/app/extensions/javascript/snippets``` directory, within, you will find the extensions files grouped by language. Within, I was able to find ```javascript/snippets``` and modify the existing snippets, or delete the snippet json files entirely. Restart VSC, and

[2017-10-23 00:05] mjbvz commented on #36713
Please file this issue against the intellij keybindings extension: https://github.com/k--kato/vscode-intellij-idea-keybindings/issues

[2017-10-23 00:05] #36713 closed

[2017-10-23 00:13] mjbvz commented on #36676
Yes, we only provide builtin support for a small set of core languages. Please try using the extension for Kotlin and file any issues or feature requests for Kotlin against that extension

[2017-10-23 00:13] #36676 closed

[2017-10-23 00:29] bradzacher opened #36715 "No way to escape forward slash in snippet regex"
There's no way to escape forward slashes `/` in the snippet regex syntax.
This makes it impossible to replace/substring paths in snippets.

All of the following fail:
[code]

For example, I am trying to create a snippet which declares a mock for the given file, so I have to strip the leading directory structure (i.e. everything before and including the `src` folder), as well as `__mocks__/`.
[code

[2017-10-23 00:46] bradzacher opened #36716 "Add some feedback help for writing snippet variables"
When writing complex snippets with replacement, the onus is entirely on the user to figure out why a snippet failed to parse/replace.

Due to the syntax, it's pretty hard to track exactly why a snippet failed to parse.

It'd be great if you added some output with the error reason to make it easier to work with the system.

I.e. an error toast, or alternately a separate output log with detailed mes

[2017-10-23 01:08] wavebeem commented on #30024
Thank you!!

[2017-10-23 02:07] TheTFo commented on #28007
@pebanfield I'm seeing similar behavior.

[2017-10-23 02:15] yume-chan commented on #36705
Duplicate of #35839

[2017-10-23 02:26] bryfroze commented on #36387
Same problem, can't input anything except use simplified input method, since version 1.17.1

[2017-10-23 02:29] jaywick opened #36718 "Electron JS icon shown instead of VSCode icon in Windows"
- VSCode Version: Code - Insiders 1.18.0-insider (65c08338e4bece35fb53f5a1cdf56d30b7706157, 2017-10-20T15:35:45.848Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
project-manager|ale|0.22.0
vscode-icon-theme|jtl|1.5.0
markdown-shortcuts|mdi|0.8.1
debugger-for-chrome|msj|3.4.0
vscode-subword-navigation|ow|1.1.5
ejs-language-support|Qas|0.0.

[2017-10-23 02:34] bryfroze commented on #36387
Same problem, can't input anything except use simplified input method, since version 1.17.1 !!!
I reinstalled vscode and let setting reset, no extendsion, no keybind setting, still dont work.
Search viewlet is working fine.

[2017-10-23 02:52] universonic commented on #36631
As you can see, there are so many processes on my system (I have disabled buildOnSave and lintOnSave):

[code]

[2017-10-23 03:02] coderkk opened #36719 "When I press the Terminal + icon, support it will open a new terminal, but it open a shortcut for "switch the workspace project"."
- VSCode Version: Code - Insiders 1.18.0-insider (65c08338e4bece35fb53f5a1cdf56d30b7706157, 2017-10-20T15:35:45.848Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
githistory|don|0.2.3
EditorConfig|Edi|0.11.1
vsc-material-theme|Equ|1.0.5
php-debug|fel|1.11.1
php-intellisense|fel|1.5.2
mssql|ms-|1.2.0
vetur|oct|0.10.1
laravel-blade|one|1.9.0

[2017-10-23 03:10] kodbox commented on #35783
VS Code was the first piece of Microsoft software that we really liked. You should listen to the community and turn the old icon back... 🚨

[2017-10-23 03:11] ravinsinghd commented on #36201
@joaomoreno that issue occur again. i uninstall most of my extensions still it's occur.

[2017-10-23 03:31] marswong opened #36720 "Explorer sometimes cannot update"
- VSCode Version: 1.17.2
- OS Version: macOS 10.13

Steps to Reproduce:

1. open a project.
2. open the integrated terminal.
3. use code generator (such as `rails generate controller` ) to generate some files or directories.
4. sometimes you cannot find the new files in the Explorer (the Explorer UI doesn't update), it really annoy people when working.

Reproduces without extensions: No

[2017-10-23 03:32] itcuihao commented on #30423
@Niichie Hi,I have also encountered this problem today,How did you solve it?

[2017-10-23 03:41] jeasonstudio opened #36721 "insiders SCM bug"
- VSCode Version: 1.18.0-insider (1.18.0-insider)
- OS Version: macOS 10.13

Steps to Reproduce:

1. `Fix-Bugs` and `New-Feature` are both UnCommit file, something wrong with file `Fix-Bugs`'s color.

![image](https://user-images.githubusercontent.com/17971291/31871408-aa905046-b779-11e7-8484-ef9904d79cd4.png)

![image](https://user-images.githubusercontent.com/17971291/31871458-13b048e2-b77a-11e7

[2017-10-23 03:47] tlemo commented on #34414
Thanks for looking into this!

#36148 is a bit more specific and hopefully it clarifies the distinction between the block indentation (which seems to be working as expected) and the interaction between editor.autoIndent and the "smart indentation" rules for C++.

If I understand the responses to #36148 is seems that editor.autoIndent = false is now honored (although there are still issues with the

[2017-10-23 03:47] #34414 closed

[2017-10-23 03:49] tlemo commented on #36148
Thanks @alexandrudima  !

PS. the animated screen shoots are really nice, how did you captured them?

[2017-10-23 04:11] mjbvz commented on #36718
Duplicate of #36710

[2017-10-23 04:11] #36718 closed

[2017-10-23 04:12] mjbvz commented on #36710
closing as duplicate of #36665

[2017-10-23 04:12] #36710 closed

[2017-10-23 04:16] trivikr commented on #10041
While debugging this issue, I put breakpoints at https://github.com/Microsoft/vscode/blob/39130b09e65865fd2fcaf0d4cb8dd3c6fb6da7a6/src/vs/platform/windows/common/windowsIpc.ts#L301-L303

The `_state` in return value contains **"success"** even when the Finder is not available
![screen shot 2017-10-22 at 9 11 20 pm](https://user-images.githubusercontent.com/16024985/31872108-fad5e270-b76d-11e7-9a20

[2017-10-23 04:22] Niichie commented on #30423
I actually didn't do anything. It just stopped doing it suddenly, or at least I haven't done anything to trigger it again. Kind of hard to diagnose since I don't know what was causing it in the first place.

[2017-10-23 04:34] hariprasath95 opened #36722 "Is it possible to have different text sizes in different windows when i change it one window it changes in all ,"
- VSCode Version: Code 1.15.1 (41abd21afdf7424c89319ee7cb0445cc6f376959, 2017-08-16T17:16:27.618Z)
- OS Version: Linux x64 4.4.0-97-generic
- Extensions:

Extension|Author (truncated)|Version
---|---|---
code-gnu-global|aus|0.2.2
vscode-astyle|chi|0.7.1
githistory|don|0.2.3
local-history|gay|0.0.3
easy-icons|jam|0.3.1
cpptools|ms-|0.14.0
sublime-keybindings|ms-|2.9.1
java|red|0.12.0
trailing-space

[2017-10-23 04:45] PeterWAWood commented on #36696
I also have this problem when running VSCode under a non-admin account on macOS. After clicking on Update Now, VSCode goes through the motions of updating itself, quits and reloads itself. Next time you run VSCode, it says that there is an update available and you can go through the process again ... and again.

At now time does VSCode open a dialog box to request Admin permission to update itself

[2017-10-23 04:54] tangorboyz opened #36723 "Provide convertion to lower javascript standard"
- VSCode Version: 1.17.2
- OS Version: Ubuntu 16.04
![image](https://user-images.githubusercontent.com/8751130/31872758-143661da-b7f1-11e7-907b-f3a930a66241.png)

I notice that we could convert from prototype based class to es2015 class. The light bulb option shows up when we place the cursor at the function name. Can we have the other options to convert from es2015 class to the lower standard lik

[2017-10-23 05:00] fabioroldan commented on #35683
Please, Mr. Microsoft, please return our logo. The orange does not have enough contrast and is confused with the color of my windows. And the lateral line shrinks the logo, discard it.

[2017-10-23 05:05] #32918 closed

[2017-10-23 05:07] maxibanki commented on #36722
Duplicate of #35913

[2017-10-23 05:15] yocc commented on #35783
![image](https://user-images.githubusercontent.com/891683/31873128-ccc25a40-b7f3-11e7-8341-830ab6accb60.png)
1. I also think the previous icon was more beautiful.
2. If you have to replace the icon, change it to a more beautiful one and make it easier to distinguish it from other APP ICONS.

[2017-10-23 05:34] DevotionGeo opened #36724 "Color previews don't show in .sass files."
When I write a color code (name, hexa, rgb, or rgba) a nice preview is showed, which on hover expands into a nice color picker. I love this handy feature, but unfortunately it doesn't work in .sass files the way it works in .scss or .css files.

![Color Previews](https://i.imgur.com/RQEkdHR.png)

[2017-10-23 05:47] pebanfield commented on #28007
I noticed an error on the breakpoint. It says "Breakpoint ignored because generated code not found (source map problem?).

I am using babel-jest. My understanding what that babel-jest should be generating the source maps? I am also generating source maps via a webpack build, but these should not really be involved. It's not clear how I can correct this in the VS Code configuration? Where do I see

[2017-10-23 05:50] p1raya commented on #35783
I also think the previous icon was more beautiful.

[2017-10-23 05:54] octref commented on #36672
/cc @Microsoft/vscode FYI since I saw a lot of Win / Nvidia / slow-freeze-crash issues.

Op sees blank screen with nothing rendered. He found the reason to be that he turned on Nvidia Graphics Card's GPU rendering for all apps. After removing that setting (and presumably VS Code falls back to integrated graphics card), VS Code works fine.

[2017-10-23 05:54] #36672 closed

[2017-10-23 05:59] bpasero opened #36725 "More useful explorer title when just one splitview is shown"
I would like us to revisit the explorer header when just one splitview is visible (e.g. "open editors" is hidden):

![image](https://user-images.githubusercontent.com/900690/31874122-e3c21932-b7c7-11e7-9dea-75af8d5e4de9.png)

I am not sure of the value of showing "Folders" there, wouldn't it make more sense to:
* show the folder name if 1 folder is opened (single-folder workspace)
* show the works

[2017-10-23 06:03] eyalsk commented on #35783
I don't mind about the shape so much but people that say that it looks a ripoff of Sublime are simply wrong because the new icon is very similar to Visual Studio's icon, however, the color almost matches and in my opinion the blue standout better than orange, I liked the blue way more.

[2017-10-23 06:03] qtbit commented on #36029
There should be nothing mixed up with my installation. Interestingly it works, when I run Code as normal user! Do not understand why, since the admin has more rights than a normal user. Anyway I use a file manager with admin rights and run Code from there, so it's not a solution for me :-(

It looks like Code cannot run `C:\Program Files\Microsoft VS Code Insiders\resources\app\out\vs\workbench\se

[2017-10-23 06:07] gy18505 commented on #35659
so what is the the best way to solve this problem? just simply use cnpm install --by=npm?

[2017-10-23 06:18] bpasero commented on #36665
@joaomoreno did something change in `gulp-atom-electron`?

[2017-10-23 06:19] bpasero commented on #36540
@ramya-rao-a yeah I was going by the metadata which is very hard because you cannot search for metadata. I was never seeing an entry from the extension host so far.

[2017-10-23 06:19] bpasero commented on #36101
I tried to reproduce after updating Windows 10 to latest creators update and could not.

[2017-10-23 06:21] bpasero commented on #18381
I think the only logical separator to distinguish folder from file portion is the "`/`" on Linux and macOS and "`\`" on Windows. This already works today.

[2017-10-23 06:23] bpasero commented on #36672
See: https://github.com/Microsoft/vscode/issues/35527

[2017-10-23 06:23] bpasero commented on #36029
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2017-10-23 06:40] tomkerkhove opened #36726 "Close folder closes all open documents"
# Version

- VSCode Version: 1.17.2

Reproduces without extensions: Yes

# Description
When opening VS Code on a folder, you can create & store a file on a different location - This is perfect.
However; when choosing the "Close Folder" option, it closes all open documents as well, even if they are not part of that folder.

# Repro
Steps to Reproduce:

1. Open folder on c:\repro
2. Create new file

[2017-10-23 06:43] suixudongi8 opened #36727 "enlarge margin of "Discard All changes" and "Stage All changes""
- VSCode Version:1.17.2
- OS Version:Mac OS high sierra.

Steps to Reproduce:

1.for now, the margin of "Discard All changes" and "Stage All changes" in git extension are too close. It is very easy to have a wrong click. Shall we enlarge the margin?

Reproduces without extensions: Yes/No

[2017-10-23 06:44] dbaeumer commented on #36679
@navono the task execution environment is the same as the integrated terminal. Is this powershell for you.

However I assume this is a space escaping issue. In general shell tasks shouldn't use args since it makes quoting escaping hard to control. You should even have a warning in the task output channel about this.

In your example I would say something like this should work:

[code]

Please note

[2017-10-23 06:51] dbaeumer commented on #35475
@jberube since you see in contrast to @peltsi212 a CPU spike can you let us know the whole command line of the processes that consume the CPU. Under Windows use the Process Explorer (https://docs.microsoft.com/en-us/sysinternals/downloads/process-explorer) to get access to the whole command line doing the following:

- select the process
- execute Properties from the context menu
- copy the comman

[2017-10-23 06:51] #36272 closed

[2017-10-23 06:53] liuhong12th commented on #24195
This BUG hasn't been fixed yet. Sad...

I suggest adding a config like this:
[code]
So vscode can guess the "GBK" encoding before it is guessed as "windows 1252" by [jschardet](https://github.com/aadsm/jschardet/issues/34)

By the way, it seems that [jschardet](https://github.com/aadsm/jschardet) is no longer maintained.

[2017-10-23 07:03] FelikZ commented on #35798
same 1.17.2

[2017-10-23 07:19] jrieken commented on #36563
Yeah, it is a different badge. Tho you are on a very old version as the latest version uses less round badges but more boxy badges as we do in the SCM viewlet

[2017-10-23 07:20] jrieken commented on #36552
Thanks

[2017-10-23 07:22] jrieken commented on #36536
Closing should work as advertised, tho it's still some work in progress

[2017-10-23 07:22] #36536 closed

[2017-10-23 07:25] ramya-rao-a commented on #36663
Try `jsx` instead of `tsx` in the settings.
`tsx` is not a valid mode in the world of emmet

[2017-10-23 07:25] #36663 closed

[2017-10-23 07:30] jrieken commented on #34747
@ThisIsManta Using the API, you cannot

[2017-10-23 07:30] aeschli commented on #36002
@jm-mwi The configuration of the folding markers is already language specific, in the language's 'language-configuration' file. But its not part of the user settings yet.

[2017-10-23 07:31] peon501 opened #36728 "HTML comments bug"
- VSCode Version: newest
- OS Version: win 8.1

Steps to Reproduce:

![image](https://user-images.githubusercontent.com/1125765/31876865-e1b15300-b7dc-11e7-82be-d0cc4fb10a7e.png)

long comments like  ending with --> without space dont end but it should end.

Reproduces without extensions: I use smarty plugin, for smarty templates, but I have no idea if its because of that or its just a bug

[2017-10-23 07:31] jrieken commented on #36221
Wow, that is interesting. Thanks for the investigation!

[2017-10-23 07:32] aeschli commented on #26289
Schema associations can be set in the user settings and and by extensions. But we're not defaulting to the http://schemastore.org/api/json/catalog.json settings yet. No progress yet.

[2017-10-23 07:33] jrieken commented on #36716
duplicate of #16702

[2017-10-23 07:33] #36716 closed

[2017-10-23 07:35] ThisIsManta commented on #34747
Thanks for the info. Making a public API would be nice.

[2017-10-23 07:36] isidorn commented on #36645
Fixed in latest

[2017-10-23 07:36] #36645 closed

[2017-10-23 07:37] aeschli commented on #36714
Try
[code]

Check out the 'Overview ruler' section in https://code.visualstudio.com/docs/getstarted/theme-color-reference for all overview ruler colors.

[2017-10-23 07:37] #36714 closed

[2017-10-23 07:38] isidorn commented on #36646
Please provide more details. How to reproduce this.
Can you aslo reproduce with latest vscode insiders https://code.visualstudio.com/insiders/

[2017-10-23 07:38] jrieken commented on #36579
It has been like that since forever

They are implemented as text editor, that's way

[2017-10-23 07:40] #36564 closed

[2017-10-23 07:40] aeschli commented on #36697
An extension must add that, it's not the default behaviour. Can you disable all extensions and see if this solved the issue?
If not, please reopen.

[2017-10-23 07:40] #36697 closed

[2017-10-23 07:42] aeschli commented on #36563
I'm on the latest.

![image](https://user-images.githubusercontent.com/6461412/31877345-6a4023c4-b7d6-11e7-8737-f35c5546721e.png)

[2017-10-23 07:43] maxibanki opened #36729 "Change modified file badge in the explorer tab for consistency"
- VSCode Version: Code - Insiders 1.18.0-insider (65c08338e4bece35fb53f5a1cdf56d30b7706157, 2017-10-20T15:35:45.848Z)
- OS Version: Windows_NT x64 6.1.7601
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-eslint|dba|1.3.2
githistory|don|0.2.3
xml|Dot|1.9.2
Go|luk|0.6.66
code-beautifier|mic|1.7.2
vscode-icons|rob|7.16.0
vscode-table-formatter|shu|1.2.1
addDocComments|ste|0.0.8

[2017-10-23 07:53] alexandrudima opened #36730 "DirtyDiffModel reacts incorrectly to new diff computations"
AFAICT this is a regression introduce with 90fc26ca2cea6a0036c9d2d723d67e7536e00613 and the usage of `sortedDiff`.

Stage a file with the contents:
[code]

Modify the file to have the contents:
[code]

Observe correct dirty-diff:
<img width="141" alt="image" src="https://user-images.githubusercontent.com/5047891/31877651-a04555d8-b7d7-11e7-80eb-aed160c040d9.png">

Press Enter after `Line 2.5`.

Ob

[2017-10-23 07:55] Kampfmoehre commented on #36216
I have a similar Problem but my settings are slightly different. I am using bash.exe directly.
`"terminal.integrated.shell.windows": "C:/Program Files/Git/bin/bash.exe"`

My task.json looks like this (I am using grunt):
[code]

Terminal Output looks like this:
[code]

Here it can launch the temrinal properly, but it seems that the path to the grunt command is not passed properly to the git bash. M

[2017-10-23 07:57] maxibanki commented on #36728
I don't think this is a VS Code issue. Referring to the [XML RFC paragraph 2.5](https://www.w3.org/TR/REC-xml/#sec-comments)

[2017-10-23 07:57] fskorzec opened #36731 "VSCODE Icon is not the correct one"
- VSCode Version: Code - Insiders 1.18.0-insider (c1be82537d9fda852a258851f48ea78b7fc8a7a3, 2017-10-23T04:18:13.902Z)
- OS Version: Windows_NT x64 10.0.14393
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-svgviewer|css|1.4.3
code-runner|for|0.7.4
mediawiki|jak|2.1.0
web-browser|mas|0.0.1
vscode-antlr4|mik|1.1.10
azure-account|ms-|0.1.3
cpptools|ms-|0.14.0
debugger-for-chrom

[2017-10-23 07:59] peon501 commented on #35783
Why people dont like orange, and why we are still arguing about new icon? I think there is a lot of crap to do with bugs, feature requests...

[2017-10-23 08:03] isidorn commented on #33794
`debuggers.initialConfigurations` as an json object will continue to be supported in package.json

[2017-10-23 08:03] maxibanki commented on #36731
When the icon is the electron icon:
![image](https://user-images.githubusercontent.com/17984549/31878156-64e798fa-b7d9-11e7-8834-4c7aafd5b00c.png)

Then it is a duplicate of #36665

[2017-10-23 08:09] jrz commented on #15611
Can we prioritize this? VSCode is getting dog slow because of all the different types of projects

[2017-10-23 08:10] isidorn commented on #36705
@yume-chan Thanks, closing as duplicate

[2017-10-23 08:10] #36705 closed

[2017-10-23 08:13] isidorn commented on #36268
@rkeithhill no, those two are not related.
Make sure your extension gets activated on the event "onDebug".
Not on "onDebug:powershell" since that is deprecated

[2017-10-23 08:14] jrz commented on #17664
I get a proxy icon in the september release when setting: "window.nativeTabs": true

[2017-10-23 08:18] dnano91 opened #36732 "Startup time really long (specially with extensions)"
VS Code takes really long to start. I attached screenshots from the startup performance window where it is visible that extensions alone take over 5 seconds. This is a really annoying issue. But even without extensions VS Code takes about 5 secs. This might not seem too much of an issue for you (as i've read in another issue that you consider 5 seconds to be fast) but it still breaks my workflow (

[2017-10-23 08:19] jrieken commented on #36563
So, do you mean the eggs in the peek view? That aren't SCM decorations but the old count badges telling you how many references have been found in a file

[2017-10-23 08:20] tim37021 opened #36733 "How to pass arguments with space to tasks correctly"
My task.json, I have several attempts but they are all split.
[code]

[2017-10-23 08:24] isidorn commented on #36685
Yeah, should be. Try using `compound` launch configuraiton.  More about that here https://code.visualstudio.com/docs/editor/debugging#_compound-launch-configurations

What might be missing is the timeout for the attach. In that case there is probably an open feature request for that which you can find and upvote. As a workaround you can use 2 independent launch configs, since we support launching

[2017-10-23 08:24] #36685 closed

[2017-10-23 08:25] #36701 closed

[2017-10-23 08:27] isidorn commented on #36709
Dup of https://github.com/Microsoft/vscode/issues/28905

[2017-10-23 08:27] #36709 closed

[2017-10-23 08:27] mvasilkov commented on #35783
Because it's shite. Micrasaft plz fix kthxbai.

[2017-10-23 08:27] eyalsk commented on #35783
@peon501

What?

We're not arguing we're voicing our opinion about it.

You're right, this might be a low priority but it doesn't have to go into the current iteration, they can always schedule this to the next one or future at some point but this is a request like any other...

If they thought the discussion is useless they could have just locked it or state that this won't change and  then lock

[2017-10-23 08:31] jrieken commented on #36221
I have pushed a test to ensure this behaviour is correct. Closing we don't ship 1.17.3 because of this (multi root support will only become "official" with 1.18). Thanks again

[2017-10-23 08:31] #36221 closed

[2017-10-23 08:34] weinand commented on #33794
Since `debuggers.initialConfigurations` is still supported, please don't implement `DebugConfigurationProvider.provideDebugConfigurations` (instead of returning an empty array).
All `DebugConfigurationProvider` methods are optional and you do not have to implement any of them.

[2017-10-23 08:37] nmaxcom commented on #36714
Thanks, that's precisely it. I'm not a native speaker, so I don't know if it's just me or "OverviewRuler" is a name not directly inferable from "scrollbar" (where the actual thing happens)?

[2017-10-23 08:39] lhazell commented on #35783
@peon501: Why? Because this is a test for Microsoft.

If this project is truly to be shaped by the Developer Community, our contributions should not be limited to issues and bugs. Something as essential as the User Experience should not be exempt from our critizisim.

[2017-10-23 08:40] AlfaDelta commented on #35683
Very ugly on Mac and Windows :-(  I surprised me that someone allowed this.

[2017-10-23 08:40] RDeluxe commented on #36665
Same here.

[2017-10-23 08:42] ivancuric commented on #17664
![image](https://user-images.githubusercontent.com/2827047/31879815-de6b888a-b7de-11e7-8c49-8cef54249cc4.png)
Not working here.

[2017-10-23 08:44] isidorn commented on #36720
Seems like we are missing file events in this case -> forwarding to @bpasero and @Tyriar
@marswong there is a refresh action on top of the explorer to manually get out of this bad state

[2017-10-23 08:45] jrz commented on #17664
I see the proxy icon in your titlebar left of settings.json.

But it doesn't behave like normal.
Rightclicking works (path list)
Dragging is not possible.

Ahhhh this issue is for proxy icons in the custom titlebar

[2017-10-23 08:46] isidorn commented on #36689
@jrieken did you do some wrong css magic with the label. Feel free to forward back to me

[2017-10-23 08:49] peon501 commented on #36728
ok got it :)

[2017-10-23 08:49] warpdesign commented on #36731
@maxibanki I confirm the problem and it's this icon indeed.

[2017-10-23 08:50] jrieken commented on #35602
💩 the underlying issue here is that the event representing the tab changes is send *before* the model is set to the text editor widget. For the API (which calls the combination of the editor widget and document a text editor) that means it doesn't know the new editor yet...

[2017-10-23 08:52] bpasero commented on #36597
We cannot just run that method for DND because the same contents are used e.g. when dropping a file into another editor to paste it into the editor, doing some escaping would be odd in that case.

I think the only way to fix this is to introduce a new data transfer type that the terminal is preferring over the text/plain one.

Help welcome, code for the files explorer for example is here: https://

[2017-10-23 08:54] jrieken commented on #36575
/cc @sandy081 for that

[2017-10-23 08:56] andyli opened #36734 "Terminal text vertically clipped"
VSCode version:
[code]

Using Ubuntu Xenial (16.04), installed fonts (using `apt-get`): `fonts-noto`, `fonts-dejavu`

Using `"editor.fontFamily": "'Noto Mono'"`, `"terminal.integrated.fontSize": 14`, notice how the bottom of the letter `g` is clipped:
![screenshot from 2017-10-23 16-37-47](https://user-images.githubusercontent.com/103977/31879855-49a6f3aa-b811-11e7-92d4-5bddc5b08d0e.png)

Using `"

[2017-10-23 08:56] gdxn96 commented on #36534
Multiple monitors, scaling on monitor one is 1920x1200 to look like 1440x900, the other has no scaling at 1920x1080

[2017-10-23 08:57] isidorn commented on #36653
@bpasero do we do something special when we resolve files for the first time?

[2017-10-23 08:58] bpasero commented on #36703
@dstockhammer can you share what you pasted in there, I cannot reproduce with a simple large file pasted into the rename box.

[2017-10-23 08:59] #36595 closed

[2017-10-23 09:01] isidorn commented on #36662
I increased the minimal with on Friday, please check it out in the latest insider.
Due to css flex logic it is harder to have this beahvior as before.

Please try out the latest behavior and if you think this is a considerable worse experience then before let me know and we can reopen this

[2017-10-23 09:01] #36662 closed

[2017-10-23 09:04] isidorn commented on #36707
Dup of https://github.com/Microsoft/vscode/issues/36689#event-1304414773

[2017-10-23 09:04] #36707 closed

[2017-10-23 09:05] bpasero commented on #36703
I pushed a change to trim the error message to 255 characters, that should improve the situation a bit.

[2017-10-23 09:08] bpasero commented on #36005
@resolutecake can you please follow the advice in https://github.com/Microsoft/vscode/wiki/Performance-Issues

[2017-10-23 09:09] isidorn commented on #36704
There is already copy value action but only for simple exrpessions which have a value.
There is no "Copy JSON" thus leaving this feature request open

![screen shot 2017-10-23 at 11 07 53](https://user-images.githubusercontent.com/1926584/31881041-8a18968e-b7e2-11e7-8f65-8e769c98a798.png)

[2017-10-23 09:19] #36722 closed

[2017-10-23 09:28] dstockhammer commented on #36703
I can no longer reproduce on a machine with about the same specs. The editor still hangs for a couple of seconds, but no longer crashes. I think this is acceptable behaviour.
Might have been something else going on on the machine at the time, I didn't extensively test the issue. Sorry for that!

[2017-10-23 09:29] dbaeumer opened #36735 "Cannot read property 'byIdentifier' of undefined"
Reason is the new warnings we issue if a configuration is unused.

[2017-10-23 09:31] #36735 closed

[2017-10-23 09:33] luogui495186 opened #36736 "vscode while be die when directory has rar file"
- VSCode Version: Code 1.17.1 (1e9d36539b0ae51ac09b9d4673ebea4e447e5353, 2017-10-10T14:24:41.632Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-markdownlint|Dav|0.11.0
php-debug|fel|1.11.1
php-intellisense|fel|1.5.2
phpcs|ika|0.7.0
format-php|Kas|1.1.2
net-core-project-manager|ksu|0.3.6
csharp|ms-|1.12.1
vscode-icons|rob|7.16.0
html5

[2017-10-23 09:36] #36725 closed

[2017-10-23 09:36] Zx-EvM opened #36737 "code command does not work correctly only in WSL filesystem"
- VSCode Version: 1.17.2
- OS Version: Windows 10 Version: 1709 Build: 16299.19

Steps to Reproduce:

1. Open WSL with `bash` or `ubuntu` command
2. Go to "~"
3. Then:
     - mkdir my-project
     - cd my-project
     - touch index.js
    - code .

After this steps, VSCode runs with all contents of Windows `Desktop/` directory. But if I will run `code  .` in any folder in Windows filesystem, for e

[2017-10-23 09:47] sandy081 commented on #36664
Duplicate of #36448

[2017-10-23 09:47] #36664 closed

[2017-10-23 09:48] jrieken commented on #36689
I made it use flex-layout, so yeah maybe

[2017-10-23 09:53] sandy081 commented on #36620
Assigning to you @roblourens, assuming it could be related to search process

[2017-10-23 09:57] timothyvictor commented on #35842
Hello @Tyriar
Sorry, only just back on the machine on which I've experienced the issue.

- Does resizing the terminal bring it back? **No**
- Does this only happen when extensions launch terminals? **No**
- Are there any errors in the devtools console? (Help > Toggle Developer Tools) **No**

**It is.**

Thank you. I love vscode. Just saying.

Tim.

[2017-10-23 09:58] jacek-dargiel commented on #36630
Not sure. How can I check? I do have python 2.7 installed locally.

[2017-10-23 10:06] prasanthnv opened #36739 "Top Extension Recommendation"
#FeatureRequest Please add a editors choice or plugin recommendations. It will help developers to find the best Extension for their requirements.

[2017-10-23 10:07] qidianbuji commented on #36613
Thank you very very much, maybe I have missed something. all functions I need are ok now.
now, can you think about providing some window about these features? WE use visual studio too long, maybe dont

?? Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Rob Lourens <notifications@github.com>
Sent: Friday, October 20, 2017 12:41:02 PM
To: Microsoft/vscode
Cc: qidia