[2021-02-22 22:40] justsml commented on #15667
I think I used the wrong word "option."

I'm not sure what options might be required, but I've got 2 rough behaviors in mind:

1. The tooltips show as configured, however in order to interact (click or scroll) I'd hold down a modifier key `[ctrl]` (or similar.) Any click on the tooltip would effectively click the item immediately beneath as though the tooltip wasn't there. Holding the modifier wou

[2021-02-22 22:41] deepak1556 commented on #117082
Does it crash when you start with `code --user-data-dir /tmp/vscode` ?

Insiders version will get promoted to stable at the end of every iteration. So you would get the fix in version `1.54`. But to confirm if this is not an issue with settings cache, please try the above.

[2021-02-22 22:44] daiyam commented on #3352
@GaddMaster oops It's fixed. Thx

[2021-02-22 22:47] crowo commented on #48659
we heavily want this happen soon.

[2021-02-22 22:49] #116895 closed

[2021-02-22 22:55] #116948 closed

[2021-02-22 22:58] thirumurthis opened #117293 "version 1.53.2 menu bar is not displayed correctly"
- VS Code Version: 1.53.2
- OS Version: Centos 7.8.2003

Steps to Reproduce:

1. Updated the older version of visual studio code to 1.53.2
2. Opened the Visual studio code, on clicking menu bar noticed the menu bar items are not aligned in UI
3. The Run, Terminal menu items are displayed correctly.

![image](https://user-images.githubusercontent.com/6425536/108781010-16633080-751e-11eb-8e6e-4d7d94

[2021-02-22 23:02] Dongbumlee commented on #92705
same issue from here.

[2021-02-22 23:02] sradarcy opened #117294 "error instalando extensiones"
Issue Type: Error

quiero instalar extensiones usando vs code por primera vez, trato de copiar acá el log del error de output y me marcan la publicacion como spam!! no entiendo. necesito saber que esta pasando con mi sistema o lo que puede estar pasando para no dejarme instalar extensiones en el programa.
usando atom tampoco me deja instalar paquetes

VS Code version: Code 1.53.2 (622cb03f7e070a96

[2021-02-22 23:03] rzhao271 commented on #99757
@ptlu79 please try upgrading to the latest version of VS Code and running extension bisect https://code.visualstudio.com/blogs/2021/02/16/extension-bisect

[2021-02-22 23:05] jzuhone commented on #116259
@lramos15

I don't understand your comment. The editor associations _are_ set the way as you describe and what happens is that you attempt to open the (previously nonexistent) file with the .ipynb suffix and it opens the file, but it doesn't automatically create a notebook with a single empty cell to start off with. It just creates a blank text file. And if you try to save, it's still just a text

[2021-02-22 23:05] tanhakabir commented on #116493
Can confirm still occurs with latest API:

![recording (9)](https://user-images.githubusercontent.com/12758612/108781851-68588600-751f-11eb-876f-6fa0c980dd45.gif)

[2021-02-22 23:06] #117110 closed

[2021-02-22 23:11] IllusionMH commented on #117293
/duplicate of #116402

[2021-02-22 23:11] rebornix opened #117295 "Test: multiple selections in notebook"
Refs: https://github.com/microsoft/vscode/issues/114156, https://github.com/microsoft/vscode/pull/117204

- [x] anyOS @RMacfarlane
- [ ] anyOS @meganrogge

Complexity: 4

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23117295%0A%0A)

---

The notebook editor is built on top of the List Widget, thus it's natural to add multiple selection support to it. It needs careful

[2021-02-22 23:12] #117293 closed

[2021-02-22 23:12] RMacfarlane commented on #88309
No, each auth provider needs a unique id.

I'm finalizing the `provider` portion of the API which will allow others to create authentication providers:

[code]

[2021-02-22 23:14] #88309 closed

[2021-02-22 23:18] jblievremont commented on #97564
I have an issue that looks similar with VSCode 1.53.2 on Ubuntu 20.04: the SVG icons I use in an extension, on both tree view items and inside webviews, don't show.

Their PNG equivalents show, so it seems that SVG is specifically blocked (confirmed by the Webview Development Tools that show a download size of "0 B" for the SVG).

Could it be related, or shall I open another ticket?

[2021-02-22 23:24] rebornix opened #117296 "Test: notebook output editing api"
Refs: https://github.com/microsoft/vscode/pull/115817

- [x] anyOS @lszomoru
- [x] anyOS @meganrogge

Complexity: 4

Authors: @jrieken, @rebornix

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23117296%0A%0A)

---

This iteration we revamped the notebook output interface and outputs edit API, with which you can now

* Append outputs to a cell
* Replace outputs in a ce

[2021-02-22 23:29] Tyriar commented on #117089
Seems to work fine

[2021-02-22 23:29] #117089 closed

[2021-02-22 23:40] ralexrdz commented on #115918
Same issue: here is my output
[code]

[2021-02-22 23:42] connor4312 commented on #117073
Reveal actually didn't do anything before, so I'll use this as a feature-request for verification. Summary:

- You can right click test icons in the gutter and "reveal" a test
- This should open the test explorer, if it's not already open, and show the test
- In the event that tests are not yet discovered (e.g. in a fresh window in the vscode window) the reveal action should happen once the reques

[2021-02-22 23:45] connor4312 commented on #117019
- Added the toggle
- Inline decorations are not shown for "retired" tests (all tests are retired on reload)
- Inline decorations will now get hidden when the line they're on is edited in any way. I think this is a good behavior in general.

[2021-02-22 23:46] connor4312 commented on #115769
To verify, there are a couple settings for this:

- `testing.automaticallyOpenPeekView` configures when the peek is opened. You can choose to only open when there's a failure in a visible document, or when there's a failure anywhere.
- `testing.automaticallyOpenPeekViewDuringAutoRun` configures whether a peek is opened during auto run. This is off by default since it would be a very disruptive beh

[2021-02-22 23:47] RMacfarlane commented on #115918
@ralexrdz Is what you're pasting the complete output from the auth page?

![Screen Shot 2021-02-22 at 3 45 39 PM](https://user-images.githubusercontent.com/3672607/108784879-2599ac80-7525-11eb-99f9-63d667fbd5dc.png)

I checked in a possible fix, it would be great if you could try the [insiders](https://code.visualstudio.com/insiders/) build of VSCode tomorrow to see if that addresses the issue

[2021-02-22 23:48] connor4312 commented on #115065
Marking as a bug since I'd like someone else to go through to try to hit this now that these APIs are stabilizing.

[2021-02-22 23:49] connor4312 commented on #115010
Nevermind, this is actually separate. Will put in next milestone.

[2021-02-22 23:51] jjcarstens opened #117297 "Support Split Terminal (Local)"
I frequently use VSCode remote development + integrated terminal. I also use the split terminal feature quite a bit. The `workbench.action.terminal.newLocal` task exists and is great for helping in this scenario, but would it be possible to have a split local option as well?

This is very much in the realm of just "nice to have" since the `newLocal` + terminal switching shortcut can work. But bein

[2021-02-22 23:57] tanhakabir commented on #116493
Ran one more time with 1.54.0-insiders to be sure:
![recording (10)](https://user-images.githubusercontent.com/12758612/108785603-9ab9b180-7526-11eb-955d-1ec4e17e718d.gif)

[2021-02-22 23:59] cameronkerrnz commented on #115784
I was planning to rebuild my development VM, but can't afford to do that mid-sprint. The following will downgrade in a single-step to the previous version (that I was using).

[code]

I'm on CentOS 7 because I do a lot of Ansible development currently, and some of those actions are local actions.

A potentially better way for VSCode users to avoid introducing binding constraints between project en

[2021-02-23 00:00] mjbvz commented on #117044
This is by-design since the `this variable is unused` message is shown by a hover

With hovers disabled, we still fade out unused variables (and show them in the problems panel if you have made unused variables an error. You can also trigger the hover manually with the hover command

[2021-02-23 00:00] #117044 closed

[2021-02-23 00:03] DonJayamanne commented on #116888
@fiveisprime /cc

[2021-02-23 00:05] bsutton commented on #115652
I've just done a trivial test using 1.53.2 and the problem didn't occur.

I will do some more testing today.

On Tue, 23 Feb 2021 at 09:29, Robo <notifications@github.com> wrote:

[2021-02-23 00:13] yume-chan commented on #97154
For contentEditable elements, the Selection API (https://developer.mozilla.org/en-US/docs/Web/API/Selection) can be used to retrieve and manipulate selection programmatically.

It is more difficult to use than textarea, because Selection API manages selections on the whole page. Any element without `user-select: none` can be selected by user and the selection will be returned by Selection API. It

[2021-02-23 00:14] edgarronda commented on #10546
Open terminal as a normal code tab will be awesome.

Right now we only have the option to open the Terminal at bottom and this can be annoying if you're debuging.
![image](https://user-images.githubusercontent.com/255907/108786473-88407780-7528-11eb-8ff7-dab135cc82c5.png)

My propposal is like the following mokup, Terminal opened as a "Code Tab" (Split at Right/Left) that could be easy to debug.
!

[2021-02-23 00:16] jiriks74 opened #117298 "recognize .axaml as xml language"
It's simple one. Please add avalinia's `.axaml` files to `xml` language. There's avalinia extension (`xml complete`) that doesn't work because we found no way to trigger the extension by the extension of currently opened file. The user has to manually change language of the  file everytime  they open it or modify the `settings.json` to get it working.

[2021-02-23 00:23] deepak1556 commented on #117220
https://github.com/microsoft/vscode/issues/117220#issuecomment-783468156 indicates a crash, can you follow these steps https://github.com/microsoft/vscode/wiki/Native-Crash-Issues#creating-and-symbolicating-local-crash-reports with insiders version and attach the crash logs, thanks!

[2021-02-23 00:23] deepak1556 commented on #117220
@bpasero the user is on Catalina, it could also be a crash only on this OS version.

[2021-02-23 00:25] npapapietro commented on #117215
I'm experiencing this as well, both on windows and WSL. Opening a second window takes ages. I ran `code --prof-startup --disable-extensions` and it produces these results.

[prof-15e6.main.cpuprofile.txt](https://github.com/microsoft/vscode/files/6026078/prof-15e6.main.cpuprofile.txt)
[prof-15e6.renderer.cpuprofile.txt](https://github.com/microsoft/vscode/files/6026079/prof-15e6.renderer.cpuprofil

[2021-02-23 00:26] #112693 closed

[2021-02-23 00:26] #116260 closed

[2021-02-23 00:27] deepak1556 commented on #116770
@kelepiradam can you confirm if these tasks are quit when you close the terminal from which vscode was launched ?

[2021-02-23 00:28] RMacfarlane opened #117299 "Test: Authentication provider registration API"
Refs: https://github.com/microsoft/vscode/issues/88309

- [x] macOS @roblourens
- [x] linux @aeschli
- [x] windows @rebornix
Complexity: 5

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23117299%0A%0A)

---

The milestone the `registerAuthenticationProvider` API and associated interfaces have been finalized.

Please read through the docs in `vscode.d.ts` and verify th

[2021-02-23 00:30] roblourens opened #117300 "Error output during notebook integration tests"
Tests pass but I see this repeated many times in integration test output

https://github.com/microsoft/vscode/runs/1956972277#step:13:260

[code]

[2021-02-23 00:31] JacksonFagundes2007 commented on #114725
Hi! I know how to solve this error ... If I don't, I don't know what to do.

In my case the problem happened because the "[Discord Rich Presence](https://marketplace.visualstudio.com/items?itemName=LeonardSSH.vscord)" extension is down ... Try disabling it.
<img width="500px" src="https://cdn.discordapp.com/attachments/811651647956189244/813567817442000916/Captura_de_tela_2021-02-22_212720.png">
r

[2021-02-23 00:39] jorgeg-qualtrics opened #117301 "TS Server fatal error: Cannot read property 'indexOf' of undefined"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.1.4

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After e

[2021-02-23 00:40] bsutton commented on #115652
Just using 1.53.2 and the problem occurred again.

So still an issue. Maybe less frequently?

On Tue, 23 Feb 2021 at 09:29, Robo <notifications@github.com> wrote:

[2021-02-23 00:41] misolori opened #117302 "Polish focus colors in out-of-the-box themes"
Refs https://github.com/microsoft/vscode/issues/113246

We need to polish the notebook focus colors for our default themes:

- [x] Abyss
- [x] Kimbie Dark
- [x] Monokai
- [x] Monokai Dimmed
- [x] Quiet Light
- [x] Red
- [x] Solarized
- [x] Tomorrow Night Blue

[2021-02-23 00:41] misolori commented on #113246
Closing issue as most are done, created https://github.com/microsoft/vscode/issues/117302 to track the default themes colors for notebooks.

[2021-02-23 00:41] #113246 closed

[2021-02-23 00:42] deepak1556 commented on #115652
Can you provide the output of `code --status` and also if possible a minimal workspace that triggers this.

[2021-02-23 00:42] connor4312 opened #117303 "Test: test provider api"
Refs: https://github.com/microsoft/vscode/issues/107467

- [ ] anyOS
- [ ] anyOS

Complexity: 5

Authors: @connor4312

---

Try out the test provider API! Specifically, the interface on the `TestProvider<T>` interface. Here's a high level description which I will, later this week, copy and adapt to vscode-docs:

---

VS Code [is adding](https://github.com/microsoft/vscode/issues/107467) built-in s

[2021-02-23 00:42] connor4312 opened #117304 "Test: test provider api"
Refs: https://github.com/microsoft/vscode/issues/107467

- [x] anyOS @weinand
- [x] anyOS @sbatten

Complexity: 5

Authors: @connor4312

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23117304%0A%0A)

---

Try out the test provider API! Specifically, the interface on the `TestProvider<T>` interface. Here's a high level description which I will, later this week, copy an

[2021-02-23 00:45] roblourens commented on #116944
Please check out the Python extension, file an issue on their repo if it's not working, thanks

[2021-02-23 00:45] #116944 closed

[2021-02-23 00:46] connor4312 commented on #116383
For verification using the [selfhost test provider](https://github.com/microsoft/vscode-selfhost-test-provider)

- In a fresh window in the VS Code repo, turn on the auto-run ⚡ (better icon incoming soon) in the actions on the test explorer view
- Edit a test, it should not auto-run.
- Run the test or all test in the file (there's a `Test: Run Tests in Current File` command). That should now run
-

[2021-02-23 00:48] connor4312 commented on #116589
For verification, note that the "re-run" commands require the entire set of workspace tests to be enumerated. _If_ you're in the large VS Code repo and haven't opened the test explorer, this will take a few moment the first time. There'll be a spinner in the status bar while this happens.

[2021-02-23 00:49] mu60 commented on #117229
![SnapCrab_● stylesass - test (ワークスペース) - Visual Studio Code - Insiders_2021-2-23_9-48-52_No-00](https://user-images.githubusercontent.com/36182207/108788915-60025880-75bc-11eb-9778-6a4c4f3896cc.jpg)

I downloaded version 1.54.0 of insider.
However, the emmet error did not go away.

[2021-02-23 00:50] roblourens commented on #116637
@aeschli is there a recommended way to remove/kill the vscode server on a WSL remote so we can see if it works in a fresh install?

What do you get for `file /home/lapp/.vscode-server/bin/622cb03f7e070a9670c94bae1a45d78d7181fbd4/node_modules/vscode-ripgrep/bin/rg`?

I have the same sort of WSL2 remote, and it works for me...

[code]

[2021-02-23 00:50] bsutton commented on #115652
(electron) Sending uncompressed crash reports is deprecated and will be
removed in a future version of Electron. Set { compress: true } to opt-in
to the new behavior. Crash reports will be uploaded gzipped, which most
crash reporting servers support.
/usr/lib/x86_64-linux-gnu/gvfs/libgvfscommon.so: undefined symbol:
g_task_set_name
Failed to load module: /usr/lib/x86_64-linux-gnu/gio/modules/libgv

[2021-02-23 00:50] deepak1556 commented on #116537
If you are referring to the memory usage, can you provide the output of `code --status` when that happens. Does launching with `code --disable-gpu` help ?

[2021-02-23 00:52] connor4312 opened #117305 "Test: test explorer UI"
Refs: https://github.com/microsoft/vscode/issues/107467

- [x] anyOS @egamma
- [x] anyOS @bamurtaugh

Complexity: 3

Authors: @connor4312

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23117305%0A%0A)

---

You have likely seen or heard of the test explorer built as part of the testing work. Try it out!

1. Install the [selfhost test provider](https://github.com/micro

[2021-02-23 00:52] deepak1556 commented on #117180
Did the issue start only with `1.53` ?

[2021-02-23 00:53] bsutton commented on #115652
And the status when crashed:

cat code.crash
(electron) Sending uncompressed crash reports is deprecated and will be
removed in a future version of Electron. Set { compress: true } to opt-in
to the new behavior. Crash reports will be uploaded gzipped, which most
crash reporting servers support.
[219533:0223/115137.562670:ERROR:browser_main_loop.cc(1434)] Unable to open
X display.
The futex facilit

[2021-02-23 00:54] #117303 closed

[2021-02-23 00:55] deepak1556 commented on #115804
Does running with `code --disable-gpu` help ?

[2021-02-23 00:56] mu60 commented on #117229
![SnapCrab_● stylesass - test - Visual Studio Code - Insiders_2021-2-23_9-54-23_No-00](https://user-images.githubusercontent.com/36182207/108789319-59281580-75bd-11eb-9711-0a25a8f37e45.jpg)

If I installed only the extension "sass" and all the key bindings were initialized, the emmet error did not occur.

[2021-02-23 00:56] bsutton commented on #115652
Sample project.

It has a compile error in start.dart

Just try to run the project by clicking the debug option that appears above
main().

On Tue, 23 Feb 2021 at 11:42, Robo <notifications@github.com> wrote:

[2021-02-23 00:59] qgates commented on #117140
@alexdima Thanks for your explanation and time. I took a look at #8606 and though it's not the same issue it would seem as though the what I describe is related, ie. is some kind of rounding / quantising error introduced by scaling whether by Win10 or Chromium.

Out of interest have you managed to replicate or see the exact issue I'm describing? Ie. odd groups of lines moving up or down by a pixel

[2021-02-23 00:59] RyanSW opened #117306 "Remote-SSH"
- VS Code Version: 1.53.2 (system setup)
- OS Version: Windows_NT x64 10.0.18363 (Windows 10 1909 18363.1316)
- Remote OS Version: Windows 10 1909 18363.1316
- Remote-SSH Version: 0.64.0

Steps to Reproduce:

1. Add a Windows 10 host to your ssh config
2. Attempt to use the Remote-SSH extension to develop remotely

Does this issue occur when all extensions are disabled?: Yes. I have disabled every

[2021-02-23 00:59] connor4312 opened #117307 "Test: test results api"
Refs: https://github.com/microsoft/vscode/issues/107467

- [x] anyOS @jrieken
- [x] anyOS @sbatten

Complexity: 5

Authors: @connor4312

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23117307%0A%0A)

---

As part of testing, we have an API that allows extensions to read and publish test results. Namely:

https://github.com/microsoft/vscode/blob/eff172b7dd95465e0b7f141

[2021-02-23 01:06] deepak1556 commented on #116826
Thanks for the report, native titlebar support comes from Electron and given the issue is only with Windows 7 which has reached EOL, I don't plan to create an issue in upstream.

[2021-02-23 01:06] #116826 closed

[2021-02-23 01:10] deepak1556 commented on #91179
@DarkSkyT9A yes the cpu usage in your case is related to the CXXABI failure, please check https://github.com/microsoft/vscode/issues/115784#issuecomment-775364356 for cause and workaround.

[2021-02-23 01:11] deepak1556 commented on #91179
@mykaul do you still have the issue with latest stable `1.53.2` ? If so, can you provide the output of `code --status`

[2021-02-23 01:13] IllusionMH commented on #117301
/duplicate of #116219
Fix released with VS Code 1.53.2

[2021-02-23 01:18] deepak1556 commented on #115652
Can you check if the issue happens with

1) `code --disable-gpu`
2) `code --use-gl=swiftshader`

[2021-02-23 01:18] Androkai commented on #117179
- Without at least the [Language Support for Java(TM) by Red Hat](https://marketplace.visualstudio.com/items?itemName=redhat.java) extension I can not use `Organize Imports`.
- With only this one extension installed it's working as expected and I can use the `Organize Imports` function without being able to reproduce the issue.
- With also the [Clang-Format](https://marketplace.visualstudio.com/it

[2021-02-23 01:19] deepak1556 commented on #115652
main().

I don't see the link to the project, can you zip and attach it to the issue.

[2021-02-23 01:19] mjbvz commented on #117179
Ah sorry, I missed that this was Java instead of javascript

Please file this against the Java extension since it is what implements organize imports

[2021-02-23 01:19] #117179 closed

[2021-02-23 01:21] #117301 closed

[2021-02-23 01:27] mu60 commented on #117229
![SnapCrab_● stylesass - test - Visual Studio Code_2021-2-23_10-19-24_No-00](https://user-images.githubusercontent.com/36182207/108790662-a063d580-75c0-11eb-85e0-e6d141d5825d.jpg)

In the stable version 1.53.2, if everything except the extension was initialized, the emmet error did not occur.
I changed the keybindings and no error occurred.
Something in your user settings may be affecting emmet.

[2021-02-23 01:33] mu60 commented on #117229
![SnapCrab_settingsjson - test - Visual Studio Code - Insiders_2021-2-23_10-31-27_No-00](https://user-images.githubusercontent.com/36182207/108791400-51b73b00-75c2-11eb-945a-b51219fe37ee.jpg)

`{
    "workbench.colorTheme": "One Dark Pro",
    "editor.fontFamily": "Source Han Code JP",
    "editor.minimap.enabled": false,
    "emmet.extensionsPath": "D:/GoogleDrive/Documents/emmet",
    "emmet.tri

[2021-02-23 01:35] bsutton commented on #115652
1. code --disable-gpu
   - still crashes
   2. code --use-gl=swiftshader
   - still crashes

On Tue, 23 Feb 2021 at 12:18, Robo <notifications@github.com> wrote:

[2021-02-23 01:36] bsutton commented on #115652
I've just resent it but it should have appeared as an attachment on the
original.

On Tue, 23 Feb 2021 at 12:19, Robo <notifications@github.com> wrote:

[2021-02-23 01:42] innerlee commented on #116120
Will vscode evolve into photoshop?

[2021-02-23 01:56] yilikun commented on #117227
Thanks for replying so fast.
* My extension all activated and loaded.
* I have updated "ortFiles"
![image](https://user-images.githubusercontent.com/23469392/108792812-1d8d4b80-75bd-11eb-93c0-e39b300bf79b.png)
But it doesn't work.

[2021-02-23 01:58] zhangming7777 opened #117308 "这个版本搜索不到flutter的依赖库"
所需的数据太大，无法直接发送。我们已经将其写入剪贴板，请粘贴。

[2021-02-23 01:58] luabud commented on #117094
Thanks!!

@uglybugs would you mind trying out the following?

[2021-02-23 01:59] nol166 opened #117309 "Duplicate text in sidebar"
Issue Type: <b>Bug</b>

1. Open a code-insiders using the teminal. `code-insiders .`
2. Click on "Run and Debug" icon in the sidebar
3. Notice duplicate text

Also seems to be ocurring for extension side panels

VS Code version: Code - Insiders 1.54.0-insider (11cd76005bc7516dcc726d7389d0bce1744e5c85, 2021-02-22T05:27:56.020Z)
OS version: Darwin arm64 20.3.0

<details>
<summary>System Info</summar

[2021-02-23 01:59] #117308 closed

[2021-02-23 02:03] kieferrm commented on #116570
@digitarald regarding https://github.com/microsoft/vscode/issues/116570#issuecomment-780315690: I don't think that having a generally applicable section really helps. On the contrary, I'd expect that to lead to more dismissals. So, we should be sure that we user test this appropriately.

[2021-02-23 02:05] kieferrm commented on #116414
@JacksonKearl which `when` clauses are supported?

[2021-02-23 02:09] candrewlee14 commented on #116772
On a fresh install of the Insider's Edition for Windows 10 with only the Python extension installed.

"Unable to open 'proj.ipynb': Cannot read property 'Markdown' of undefined."

[2021-02-23 02:12] JacksonKearl commented on #116414
Uses our standard `IContextKeyService#contextMatchesRules` service, so should be the same as any other place context keys are used.

[2021-02-23 02:18] JacksonKearl opened #117310 "Test Getting Started Extension Point"
Testing #116414

- [x] anyOS @rebornix
- [x] anyOS @stevencl

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23117310%0A%0A)

---

This iteration we added a new (proposed api) contribution point for getting started items, test that it makes sense to use and works as expected.

1. New extension with proposed API,
2. In `package.json` contributes clause, a

[2021-02-23 02:20] mjbvz commented on #113351
To test:

1. Set `"notebook.experimental.useMarkdownRenderer": true`
2. Reload VS Code
3. Create a markdown cell with some html, such a as `<b>bold</b>`
4. Confirmed that it is rendered

[2021-02-23 02:20] mjbvz commented on #114711
Closing this in favor of #115631

[2021-02-23 02:22] mjbvz commented on #115155
For verification, make sure you can use the settings UI to edit `workbench.externalUriOpeners`

[2021-02-23 02:23] IllusionMH commented on #117309
/duplicate of #117237

[2021-02-23 02:24] #117309 closed

[2021-02-23 02:25] mjbvz commented on #116282
To test:

1. Make sure you are using TS 4.2+ in the workspace
1. Create a JS file:

[code]

3. Before the function, type `/**` and accept the suggestion to create a jsdoc comment
4. Confirm a `@returns` is generated
5. Now set `"javascript.suggest.jsdoc.generateReturns": false`
6. Try creating the comment again and confirm that `@returns is not created`

[2021-02-23 02:30] congzong opened #117311 "SSH got disconnect after a while of unused, but the reconnection is not working"
We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Bug</b>

When the shhed window got unused for a while, the ssh connection will get disconnected which is normal. But when I click the reconnect button on left down conner. The reconnection is not working. When I start a new connect in same window, it also not working.
The only way I

[2021-02-23 02:30] mjbvz commented on #117262
With the existing markdown support, when a markdown cell is folded, it seems that the cell remains visible but all of its children are hidden. Is that the expected behavior?

[2021-02-23 02:30] rsouthgate opened #117312 "Debugger causes post install node-gyp builds to fail"
Issue Type: <b>Bug</b>

From integrated terminal do `npm i -s v8-profiler-next` (note: actual module doesn't matter, it just has to have a post install build step that uses node-gyp.

During the post install phase the integrated debugger will attach to the node process that is handling the build.

This appears to cause the build to fail.

When doing exactly the same command from an external termin

[2021-02-23 02:35] JacksonKearl opened #117313 "Test Getting Started Accessibility"
Testing #115896

- [x] anyOS @isidorn
- [x] anyOS @gregvanl

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23117313%0A%0A)

---

This iteration we worked on improving the accessibility of the getting started editor, please verify that it is keyboard navigable and able to be understood with a screen reader.

1. Opened via `Help => Getting Started`
2. Ope

[2021-02-23 02:40] #113357 closed

[2021-02-23 02:40] #113336 closed

[2021-02-23 02:40] connor4312 commented on #117227
Please share a sample repo. I don't have enough info to find a solution from what's been provided so far.

[2021-02-23 02:42] #117262 closed

[2021-02-23 02:42] mjbvz commented on #117262
Ok, I think the new behavior better matches the existing markdown renderer's behavior. Please give it another test in the next insiders and let me know if something still seems off

[2021-02-23 02:46] Waghabond commented on #116029
is there any updates on this?

[2021-02-23 02:50] yilikun commented on #117227
More infomation:
When I run `./node_modules/.bin/electron ./webpack_dist/product/cyclone_starter/main.bundle.js --inspect`,
then
![image](https://user-images.githubusercontent.com/23469392/108796923-e3c04300-75c4-11eb-8093-6920becdb812.png)
![image](https://user-images.githubusercontent.com/23469392/108796935-e7ec6080-75c4-11eb-94fd-01fdc1316183.png)
It works.

[2021-02-23 02:51] mu60 commented on #117229
The cause of the error has been determined.

`
// setting.json
{
    "emmet.extensionsPath": "D:/GoogleDrive/Documents/emmet"
}
`

First, I entered emmet.extensionsPath in setting.json.

`
// D:/GoogleDrive/Documents/emmet/snippet.json
{
	"variables": {
		"lang": "ja",
		"locale": "ja-JP"
	},
	"css": {
		"snippets": {
			"tal": "text-align: left",
			"bbn": "border-bottom: none",
			"brn": "border

[2021-02-23 03:01] #115041 closed

[2021-02-23 03:12] thelongestusernameofall opened #117314 "outline/goto definition jmp to wrong line"
Issue Type: <b>Bug</b>

when i want to jump a symbol definition, i `command+click` the symbol . But, went to the wrong code line.
same when i click `OUTLINE` symbols on the right view.

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:45:54.515Z)
OS version: Darwin x64 20.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(

[2021-02-23 03:14] connor4312 commented on #117227
You can try just removing the outFiles. That will cause the entire workspace to be scanned which may be sufficient to pick up on your sourcemaps.

[2021-02-23 03:17] JacksonKearl commented on #117284
tru

[2021-02-23 03:17] #117284 closed

[2021-02-23 03:17] acim commented on #113175
Same here, Linux Mint  20.1, Firefox 85.0.1, VSCodium 1.53.2.

[2021-02-23 03:21] yilikun commented on #117227
sorry,you mean delete `outFiles` item in `launch.json`?
And my main.bundle.js is large, this file has 485143 lines.
![image](https://user-images.githubusercontent.com/23469392/108798670-52070480-75c9-11eb-9628-84146ec44701.png)

[2021-02-23 03:23] Tyriar commented on #116120
@innerlee VS Code will remain an extensible editor, but I'm building https://marketplace.visualstudio.com/items?itemName=Tyriar.luna-paint in my spare time which uses VS Code as a platform.

[2021-02-23 03:33] yantsong opened #117315 "TS Server fatal error: Cannot read property 'indexOf' of undefined"
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.1.4

**Steps to reproduce crash**
1. open vscode
2. tip crash: "The TypeScript language service died 5 times right after it got started. The service will not be restartedThe TypeScript language service died 5 times right after it got started. The service will not be rest

[2021-02-23 03:46] JohnKlenk commented on #116826
Actually, I'm now seeing this with even the custom titlebar, and even on Windows 10.  I'm pretty sure it used to work, so it seems like this just broke.  Should this just be reworded to remove the reference to Win7 and the native titlebar, or should I open a new report?

[2021-02-23 03:53] deepak1556 commented on #116826
If it is with custom titlebar, yes. Do open a new issue. Thanks!

[2021-02-23 03:57] ranminnice commented on #117158
Thank you for your reply.
I have fixed it.
caused by red hat

发送自 Windows 10 版邮件应用

发件人: VS Code Issue Triage Bot
发送时间: 2021年2月22日 上午 6:13
收件人: microsoft/vscode
抄送: ranminnice; Author
主题: Re: [microsoft/vscode] When running Java, the problem removes thewave line of the warning height. (#117158)

It looks like this is caused by the Java extension. Please file it with the repository here. Make sure

[2021-02-23 03:57] tamuratak commented on #102449
It does not work with LaTeX Workshop 8.15.0. No output in the console of Webview Dev Tools. You can try the extension with PDF files without TeX distributions.

![スクリーンショット 2021-02-23 12 56 30](https://user-images.githubusercontent.com/10665499/108800507-aebcec00-75d6-11eb-94b2-3c897ba95597.png)

Version: 1.54.0-insider
Commit: 11cd76005bc7516dcc726d7389d0bce1744e5c85
Date: 2021-02-22T06:44:36.656

[2021-02-23 03:59] deepak1556 commented on #115652
I still don't see any attachment in your last comment, please clarify where you had sent it.

[2021-02-23 04:00] connor4312 commented on #117227
Yes, delete the `outFiles`

[2021-02-23 04:07] deepak1556 commented on #116549
Please open an issue with the extension `prettier-vscode` to further debug the memory usage by the extension.

To help the extension debug, follow these steps to get a memory profile

* Launch code with `--inspect-extensions=9229`
* In chrome browser visit `chrome://inspect` or in edge browser visit `edge://inspect`
* You should see an entry under `Remote Target` that starts with `/Applications/Vi

[2021-02-23 04:07] #116549 closed

[2021-02-23 04:08] ralexrdz commented on #115918
Yes it was the complete log from Output > Github Authentication

Here is also the one from Visual Studio LiveShare

[code]

[2021-02-23 04:10] deepak1556 commented on #117113
@kjpaul the generated crash dump is not the correct way, please follow https://github.com/Microsoft/vscode/wiki/Native-Crash-Issues#creating-and-symbolicating-local-crash-reports

[2021-02-23 04:26] deepak1556 commented on #117065
This would be a case of missing CA cert from your system certificate store. Did this break only with version `1.53` or is this an issue with older versions too ?

Can you attach the log following these steps

* Clear any http(s)_proxy settings in vscode
* launch vscode with `code.cmd --log-net-log=<some-absolute-path>/netlog.json`
* Add the proxy settings
* Search for extensions
* Quit the applica

[2021-02-23 04:37] jojijoy15 opened #117316 "Untitled file keeps opening up on vs code startup or when no files are opened in untitled workspace"
Steps to Reproduce:

1. Open vs code
2. Add folder to untitled workspace
3. Open some files from the added folder
4. Close the vs code
5. Open the vs code again. It will have a new untitled file opened up.
6. Try to close the untitled file. Ask for save. Click `Dont save`. It will close the `current untitled file` and open a `new untitled file`

**Note:**
  1. I have set `Workbench: startupEditor`

[2021-02-23 05:03] animeshxd opened #117317 "jypter notebook for c/c++"
Add notebook like python jupyter for c/c++ and other language.
It will be easy for me to learn languages.

[2021-02-23 05:03] JohnKlenk opened #117318 "With focus in terminal, can't open menus with Alt+access_key"
Issue Type: <b>Bug</b>

With focus in the terminal, you can't open menus (from the main menubar) with the keyboard by pressing Alt and the menu access key (such as Alt-r for Run).  You have to press and release Alt, and then press the menu's access key.  So for example to open the Run menu, you have to press Alt, release Alt, and then press r.  (But worse is that you won't necessarily realize it w

[2021-02-23 05:04] JohnKlenk commented on #116826
Done: https://github.com/microsoft/vscode/issues/117318

[2021-02-23 05:09] gsscoder commented on #117235
I missed it, thank you @jrieken!

[2021-02-23 05:12] saeed-sufi opened #117319 "vs code interface freezes a lot"
Issue Type: <b>Performance Issue</b>

vs code interface freezes a lot. Terminal window turns black and reset back to the root directory. I only use vs code for python development. It was like this before I install tailwind and plotly extentions.

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary

[2021-02-23 05:14] roblourens commented on #106747
I pushed the change to remove the `runnable` metadata and only infer it, but then reverted it, because we need to think about how this works with untrusted notebooks.

What we really need is to get Jupyter onto real vscode trusted workspaces, I pointed @DonJayamanne towards Steven for that, but in the meantime we need to make sure that they still have a way to accomplish this. It looks like Jupyte

[2021-02-23 05:15] deepak1556 commented on #117180
I was able to repro with the native titlebar setup described in the video, I am attaching the window states on open and shutdown for 4 different launches https://gist.github.com/deepak1556/2d4b1e8d15281508e50e2c8a43e3c9f1 . Based on the log the `y` coordinate increases by `37px` before shutdown until the app can no longer go beyond the visible workspace.

Also I could not repro this issue with nat

[2021-02-23 05:15] ankitbko commented on #88309
So what scopes does the API supports for now? Will AZDO and Graph APIs be supported?

[2021-02-23 05:19] josephillips85 commented on #101014
nothing yet?

[2021-02-23 05:20] yilikun commented on #117227
I have deleted `outFiles`, debugger launch slowly, breakpoint is also unbound...
More infomation:
![image](https://user-images.githubusercontent.com/23469392/108799499-6ea43c00-75cb-11eb-8676-10539a3f0bb7.png)

[2021-02-23 05:23] RussKie opened #117320 "Restore/remember application size"
## Current

I have a 4K monitor and I size VS Code instances to a size I find comfortable. However whenever I open a new instances of VS Code it opens with a default size of 1024x768.

## Expected

VS Code remembers the location/windows size of the last closed instance, and a new instance is opened with the persisted dimensions at the persisted location.

## Technical

VS Code version: Code 1.53.2

[2021-02-23 05:27] deepak1556 commented on #117264
Thanks for test case, can confirm the hang.

[2021-02-23 05:36] saeed-sufi commented on #117319
This issue got better after I disabled GPU by adding `"disable-hardware-acceleration": true` in  `argv.jspon`.

[2021-02-23 05:39] connor4312 commented on #117227
It doesn't look like it's running any of your code. I notice that you're passing arguments when you run it from the CLI https://github.com/microsoft/vscode/issues/117227#issuecomment-783840130 but you don't inside your launch.json. You may want to provide these are `runtimeArgs`.

[2021-02-23 05:41] redbastie commented on #101014
+1

[2021-02-23 05:47] fishcharlie commented on #101014
If there were updates, wouldn't they be posted here? Absolutely **no** need to ask `nothing yet?` @josephillips85.

Please also be respectful to the subscribers on this thread and use the 👍 reaction on the original post instead of commenting `+1`.

[2021-02-23 05:48] denish-kanabar commented on #116637
@lapprand
Could you guide me where to find log file and how to get command to run? I am running VS code from Windows 10 stand alone machine

[2021-02-23 05:48] yilikun commented on #117227
`--inspect` is a electron command. I think it will launch a debugger.
But if I use vscode launch, maybe I can not use this command?
I still add this property
![image](https://user-images.githubusercontent.com/23469392/108806805-b0d67900-75dd-11eb-8777-5428f74546fb.png)
Then
![image](https://user-images.githubusercontent.com/23469392/108806821-bd5ad180-75dd-11eb-9ee9-769b4212039f.png)
### I'm going

[2021-02-23 05:49] josephillips85 commented on #101014
I’m just ask for a update why are you so mad?

On Tue, Feb 23, 2021 at 12:48 AM Charlie Fish <notifications@github.com>
wrote:

[2021-02-23 05:53] roblourens commented on #116637
- Run the command "Set log level" and change it to "Trace"
- Run the search again
- Find the search-related messages in the "Log (Window)" output panel

[2021-02-23 05:57] fishcharlie commented on #101014
@josephillips85 The last update from Microsoft was made by @misolori on January 5th, and clearly states: `We'll post updates here when we have something ready`. Nothing since then. Hence, there are no updates. Asking is pointless.

A lot of people subscribed to this thread are doing so to receive notifications when Microsoft posts updates. Please be considerate to those people and don't spam this

[2021-02-23 05:57] thirumurthis commented on #117293
workaround in the #116402, as suggested [here](https://github.com/microsoft/vscode/issues/116402#issuecomment-778047045) fixed it for me. great!!

[2021-02-23 06:03] connor4312 commented on #117227
Okay, thanks. I'm not able to see what's going on from the info here. Are you able to push your project up to a Github repository (either public or private) or create a small sample of what you're facing so I can look into it? I can also screenshare with you.

[2021-02-23 06:06] WingDust commented on #117126
@mjbvz  yes
but I want to this manual behaviour turn to editor default action

[2021-02-23 06:08] manishrnl commented on #116641
# i n c l u d e < s t d i o . h >
 s t r u c t   p e r s o n a l
 {
         c h a r   n a m e [ 2 0 ] ;
         i n t   d a y ;
         c h a r   m o n t h [ 1 5 ] ;
         i n t   y e a r ;
         d o u b l e   s a l a r y ;
 } ;
 v o i d   m a i n ( )
 {
 s t r u c t   p e r s o n a l   p e r s o n ;
 p r i n t f ( " I n p u t   v a l u e s   i n   o r d e r   p e r s o n s
  n a m e , p

[2021-02-23 06:30] yantsong commented on #117315
update to Version: 1.53.2 , resolved . close .

[2021-02-23 06:30] #117315 closed

[2021-02-23 06:35] M0ns1gn0r opened #117321 "Add "git gc is running" indicator to Source Control menu"
Sometimes adding a commit in VS Code hangs for tens of seconds, showing only an infinite progress bar in the Source Control menu. In the process, the staged files are still shown as not committed, although if I check `git status` in a separate console window, I see that the commit is already added.

It is difficult to find out the real reason why this hanging happens because VS code has no indicat

[2021-02-23 06:40] deepak1556 commented on #113175
I am trying to repro the issue,

* Ubuntu 20.04 with x11
* CentOS 8 with x11

Couldn't see the issue with both native and custom context menus. Can anyone provide exact repro steps along with a sample workspace, also please provide the value of `XDG_SESSION_TYPE`.

[2021-02-23 06:42] denish-kanabar commented on #116637
Thanks roblourens
 Not sure I set it correct or not but with log at trace , I can see below information under Log(window) from output terminal. There are many more such entries. I tried to run VS as administrator but same result.

 2021-02-23 12:05:12.088] [renderer6] [trace] CommandService#executeCommand workbench.output.action.clearOutput
[2021-02-23 12:05:20.523] [renderer6] [trace] KeybindingS

[2021-02-23 06:45] amigo421 commented on #116562
@JacksonKearl do you still need more info from my side? (I'm about the tag)

[2021-02-23 06:47] sonic-github opened #117322 "The info of "this" is inconsistent with log when debugging"
The test class is not windows.It's my test class.
![image](https://user-images.githubusercontent.com/57396304/108809857-b08dac00-75e4-11eb-9f0f-d8cc863a1599.png)

![image](https://user-images.githubusercontent.com/57396304/108810375-f72fd600-75e5-11eb-813c-716fa8a37380.png)

[2021-02-23 06:47] fengdasuk19 opened #117323 "characters lost on random locations"
Issue Type: <b>Bug</b>

With VSCode opening, the computer has sleeped for at least 10 hours. When I wake the computer from sleep, I found that so many character lost, and the lines where the problem appears were random.

![90291614061391_ pic_hd](https://user-images.githubusercontent.com/11484001/108810260-b33cd100-75e5-11eb-97f7-80c77499140a.jpg)
![90301614061408_ pic](https://user-images.githubu

[2021-02-23 06:47] bpasero commented on #117032
https://dev.azure.com/monacotools/Monaco/_build/results?buildId=106112&view=logs&j=672276a2-8d3a-5fab-615d-090c51352f92&t=9f64420a-c490-5fef-d5f3-2bef0000fb37&l=7867

[2021-02-23 06:49] KevinFSW opened #117324 "File menu bug"
Issue Type: <b>Bug</b>

When I click File menu, move mouse to select the menu of Close Folder, then File menu automatically and suddenly close.

VS Code version: Code - Insiders 1.54.0-insider (11cd76005bc7516dcc726d7389d0bce1744e5c85, 2021-02-22T05:14:36.498Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9700 CP

[2021-02-23 06:52] digitarald commented on #116570
We got this as an idea from usertesting on new users, but I can see the point in not hiding the full range of content from experienced users. @JacksonKearl to address @kieferrm's point, could we put the logic from f4ce983bcd70bf8ed0da1cad4abc9cb9fd138b05 behind an experiment feature flag to do more testing in the field? Shall I file a new issue?

[2021-02-23 06:54] sandy081 commented on #117295
Removed @joaomoreno as he is not available for testing

[2021-02-23 06:56] sandy081 commented on #117288
Removed  @TylerLeonhardt as he is not available for testing

[2021-02-23 07:07] gurkaran-s opened #117325 "System freezes on starting up VS code and also while working on it"
On starting VS code, system freezes for 10-20min
And also while working, searching a file name or a text or opening a file, system hangs again for 5-10min.

Version: 1.53.2 (user setup)
Commit: 622cb03f7e070a9670c94bae1a45d78d7181fbd4
Date: 2021-02-11T11:48:04.245Z
Electron: 11.2.1
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Windows_NT x64 10.0.17134

[2021-02-23 07:10] bpasero commented on #117286
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2021-02-23 07:10] Anutrix opened #117326 "Allow moving the floating debug.toolbar everywhere"
Currently the floating debug.toolbar covers the file tabs which is very unproductive since we need to move it all the time to see which tab is behind it. The only alternative is docked setting but it doesn't allow choosing a debug config.
This is also unproductive to people who quickly need to start multiple debugger processes.

So far there is no option where I can see all our file tabs and also

[2021-02-23 07:13] bpasero commented on #117220
Yeah good point.

[2021-02-23 07:14] bpasero commented on #117316
I cannot reproduce when I configure this setting: `"workbench.startupEditor": "none"`

[2021-02-23 07:17] bpasero commented on #117180
Since I am asking Electron for bounds I suspect an upstream issue:

https://github.com/microsoft/vscode/blob/ae0a103755b381fb5c1641b0c6789c936688c978/src/vs/platform/windows/electron-main/window.ts#L1140-L1145

[2021-02-23 07:21] bpasero commented on #116770
@deepak1556 please connect with @joaomoreno who [seems to be](https://github.com/microsoft/vscode/commit/05be96f73def84ee30b010596fbf35ba43f2a288) the original author of this. The idea is to know the shell environment variables in case VSCode was not started from a terminal.

[2021-02-23 07:21] testforstephen opened #117327 "The render process take much CPU time and very slow"
- VS Code Version: 1.53.2
- OS Version: macOS Catalina 10.15.5

I'm working on a Java project https://github.com/eclipse/eclipse.jdt.ls, which includes about 6K+ Java files. It works well in 1.52. But after upgrading VS Code to 1.53, editing at the same workspace becomes pretty slow. Especially after i edit some Java files for a while, the whole VS Code starts to become pretty slow.

And i saw the

[2021-02-23 07:21] gjsjohnmurray commented on #117324
/duplicate and fixed in the next Insiders

[2021-02-23 07:21] bpasero commented on #117267
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2021-02-23 07:22] #117324 closed

[2021-02-23 07:27] deepak1556 commented on #117267
\Duplicate https://github.com/microsoft/vscode/issues/115804

Can you try starting with `code --disable-gpu`

[2021-02-23 07:28] #117254 closed

[2021-02-23 07:28] #117267 closed

[2021-02-23 07:32] eamodio opened #117328 "Welcome views are getting content duplicated"
![image](https://user-images.githubusercontent.com/641685/108813567-48f14580-757f-11eb-8216-8fcb97dccd7b.png)

[2021-02-23 07:33] bpasero commented on #116600
@burtonsys yes that is possible via keybindings configuration and `when` clauses:

[code]

There is a specific reason why we allow `Cmd+S` to write the contents of the editor to disk because it can often help to trigger a file watcher that is watching the project. This gives a developer an easy way to force a write to the file even when the file is not dirty.

[2021-02-23 07:33] eamodio opened #117329 "Diff editors show a bogus? run icon"
![image](https://user-images.githubusercontent.com/641685/108813613-61616000-757f-11eb-8ce5-f8f4561c5574.png)

[2021-02-23 07:35] deepak1556 commented on #117325
Please confirm the following,

* Does the issue happen with https://code.visualstudio.com/updates/v1_52 ?
* Can you start with `code --disable-extensions` and check if the issue continues
* When the hang occurs, can you get the output of `code --status`
* Lastly, can you check if starting with `code --disable-features=CalculateNativeWinOcclusion` helps

[2021-02-23 07:38] pamtbaau commented on #117162
@isidorn, With all due respect, but I fail to see any overlap between this issue and [#114459](https://github.com/microsoft/vscode/issues/114459).

Would you mind considering re-opening this issue?

[2021-02-23 07:42] meramjanam opened #117330 "Ctrl + click"
Issue Type: <b>Feature Request</b>

Ctrl + click is not working
Go to definition is not workin

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: Windows_NT x64 10.0.19042

[2021-02-23 07:46] gjsjohnmurray commented on #117328
/duplicate and expected to be fixed in new Insiders

[2021-02-23 07:47] #117328 closed

[2021-02-23 07:48] jdneo commented on #114123
Thank you @jrieken !  😄

![image](https://user-images.githubusercontent.com/6193897/108814830-6f01fe80-75ee-11eb-8b70-c5f56dbf376a.png)

[2021-02-23 07:50] kelepiradam commented on #116770
When code was launched from terminal this resident task does not show up. Also nothing gets remnant when I close code directly or from terminal.

One additional finding: When I use the tarball version as portable this resident task does not showup. Only the debian package installation or repo installation has this problem.

[2021-02-23 07:54] jrieken commented on #106747
Can't we just control this? We know whether a workspace or a notebook is trusted and in that case we simply don't ask for kernels (or prevent execution)

[2021-02-23 07:56] jrieken commented on #117300
That means we don't have a selection: https://github.com/microsoft/vscode/blob/5e067109a3c88c397e52083664f3db10fc2830e0/src/vs/workbench/contrib/notebook/browser/contrib/outline/notebookOutline.ts#L392

[2021-02-23 07:58] gjsjohnmurray commented on #117326
Some previous discussions in #61336

/assign @isidorn

[2021-02-23 07:59] #117032 closed

[2021-02-23 07:59] isidorn commented on #117162
@pamtbaau use `code --disable-features=CalculateNativeWinOcclusion <path to workspace/folder>` to start the VSCode instance. If it still reproduces that is a proof it is a different issues and then let me know and we can reopen

[2021-02-23 07:59] isidorn commented on #117073
Thanks, I'll verify this.

[2021-02-23 08:00] jrieken commented on #116504
related to https://github.com/microsoft/vscode/issues/117077. We will tackle this in March

[2021-02-23 08:02] alexdima commented on #114166
To verify, you can use the following keybindings:

[code]

[2021-02-23 08:03] jrieken commented on #117273
Not sure I understand yet but (within one call) you have to decide between append or replace. Understand replace as "clear & append"

[2021-02-23 08:08] jojijoy15 commented on #117316
Can you try the updated steps.

[2021-02-23 08:10] kjpaul commented on #117113
That was the document I followed before. I guess the main thing I don't understand is what is meant by <absolute path>. Last time I just pointed it at a writable directory using an absolute path and figured that is where it would put the dump files, but that directory was empty after the crash. Should I use C:\Program Files\DebugDiag\Logs\Crash rule for all instances of Code.exe instead?

[2021-02-23 08:12] isidorn commented on #117326
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog and we might add this in the future. Thanks

[2021-02-23 08:19] alexdima commented on #117140
@qgates You could also try the other way around. e.g.
* close all instances of vscode
* execute ` code --force-device-scale-factor=1` (this will instruct Chromium to ignore the multiplier scale coming in from Win10)
* configure `window.zoomLevel: 2` or 3 and then reduce the fontSize and lineHeight. It could be that one of these zoom factors results in a better zoom factor with smaller (or more rar

[2021-02-23 08:19] acim commented on #113175
Do you have some extension that add stuff to the context menu? Like GitLens, Go...

[2021-02-23 08:21] isidorn commented on #97154
@yume-chan that's a good idea, and if I am not mistaken I also tried with that, however I found that API to be much less powerful. `Selection.addRange` was a bit clunky to use with our model. Another problem was if the editor does not have focus and something is selected in another part of vcscode the underlying editor contentEditable selection should still work - and I am not sure that is the cas

[2021-02-23 08:26] aminomancer commented on #15667
Modifier keys could be fine for most users, but I don't see how the problem isn't solved by changing the tooltip position. I went ahead and tested it with [Monkey Patch](https://marketplace.visualstudio.com/items?itemName=iocave.monkey-patch) and it works just fine. I don't enable Monkey Patch in normal usage so it isn't a solution for me personally, but it does prove that changing the tooltip pos

[2021-02-23 08:27] pamtbaau commented on #117162
@isidorn, You are right. I cannot reproduce when using `code --disable-features=CalculateNativeWinOcclusion <path to workspace/folder>`

[2021-02-23 08:29] isidorn commented on #117162
Thanks for trying, then it is a duplicate. Please follow that issue for details.

[2021-02-23 08:37] nao20010128nao opened #117331 "Path separator issue when Drag & Drop"
- VS Code Version: 1.53.2
- OS Version:
    - Local: Windows 10 (10.0.19041)
    - Remote: Ubuntu 20.04.2 LTS (GitHub Codespace and my own VPS)

# Steps to Reproduce:

1. Open VSCode's `Explorer` and `Terminal`
1. Drag any file from VSCode's `Explorer` to `Terminal`
2. See text being pasted in `Terminal`

Does this issue occur when all extensions are disabled?: No. disabling any other extensions t

[2021-02-23 08:39] bpasero commented on #117316
I tried your steps, no repro for me:

![recording](https://user-images.githubusercontent.com/900690/108819251-e87ff980-75ba-11eb-8f1a-70e3f9cb7316.gif)

Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2021-02-23 08:42] hzzok commented on #115814
I have this problem too. My version is 1.53.2.

[2021-02-23 08:42] NullDev opened #117332 ""File" menu closes unexpectedly"
- VS Code Version: 1.54.0-insider
- OS Version: KDE Neon 5.21 (Ubuntu 20.04)  & Windows 7 Professional

---

Steps to Reproduce:

1. Click on "File" in the top bar on the left.
2. Try to click on "preferences"

The popup menu then just closes. As soon as you get to the list item "Auto Save", the popup / context menu closes.

See here:

https://streamable.com/oo31sz

Some more odd behavior: It work

[2021-02-23 08:43] eamodio commented on #117329
Not sure what else you need? Open a diff editor, e.g. from a file in the SCM view and a run icon shows up at the front of the editor toolbar.

[2021-02-23 08:46] deepak1556 commented on #117113
What you did is right, if no dumps are generated then it is not a crash. Now that I see the image in https://github.com/microsoft/vscode/issues/117113#issuecomment-782749850 the workbench was actually quit with an exit code 0.

Can you check if some antivirus is killing vscode processes, there is no crash just normal exit from the processes.

[2021-02-23 08:48] thomaspeng90s opened #117333 "Terminal shows no content"
- VS Code Version: 1.53.2
- OS Version: Windows 10

Steps to Reproduce:

1. Ctrl+Shift + ` Open a Terminal
2. The terminal does not display any content
3. Toggle Developer Tools and it  shows : ERR A system error occurred (ENOENT: no such file or directory, scandir 'C:\Users\**\AppData\Local\Microsoft\WindowsApps'): Error: ENOENT: no such file or directory, scandir 'C:\Users\**\AppData\Local\Micro

[2021-02-23 08:50] greazer commented on #116516
@rebornix, can you provide @jrieken what we discovered in our debug session on this? (perhaps you entered a different bug... looking after I enter this)

[2021-02-23 08:51] deepak1556 commented on #113175
No, the test was done without any extensions.

I have installed gitlens now and still doesn't repro the issue. Can you start with `code --user-data-dir /tmp/code-test` which will setup the app with fresh configuration and if you can repro the issue here, please provide the steps.

Side note, can you check if the issue repros with `code --disable-gpu` ?

[2021-02-23 08:51] bpasero commented on #115143
Still merging into #115136, I don't want to push a hack fix for this if we end up fixing #115136 properly. I feel what we need is a way to have editor actions on a dedicated row below tabs in case needed so that tabs are not pushed around.

[2021-02-23 08:51] #115143 closed

[2021-02-23 08:53] greazer commented on #116516
I believe it was related to this issue, #117077

[2021-02-23 08:53] jrieken opened #117334 "Notebook Screen cheese"
* open the `endgame.github-issues` notebook
* collapsed all cells under 'preparation'
* from the bottom upwards run cells and expanded cell above

<img width="685" alt="image" src="https://user-images.githubusercontent.com/1794099/108820666-cbe4c100-75bc-11eb-8e04-752c703a0310.png">

[2021-02-23 08:54] isidorn commented on #117313
Great progress from when I tried it out last time, though I could still find a couple of issues.

[2021-02-23 08:54] aeschli commented on #116985
Can you describe more? When does the crash occur? While starting up or while the remote window is open?

[2021-02-23 08:54] jrieken commented on #117329
nope

<img width="483" alt="Screenshot 2021-02-23 at 09 54 33" src="https://user-images.githubusercontent.com/1794099/108820909-23832c80-75bd-11eb-8230-8ffd5e0a9479.png">

[2021-02-23 08:56] isidorn opened #117335 "Getting started description next not accessibile"
Refs: https://github.com/microsoft/vscode/issues/117313

The description of each box is not read by the screen reader, only the title gets read.
For example focus on the `Limitless Extensibility` button only the `Limitless Extensibility` part gets read, and not the "Extensions are...". That description is not keyboard accessible as far as I could see.
I suggest to add the description to the end of

[2021-02-23 09:01] saeed-sufi commented on #117319
The problem still persist. vs code window turns white for almost a second while changing tabs. Terminal window turns totally black or white and its content would not be visible even after closing console and reopening it.

It's getting so annoying.

[2021-02-23 09:02] isidorn opened #117336 "Getting started: set aria-checked on the top level buttons"
Refs: https://github.com/microsoft/vscode/issues/117313

The top level button elements should have [`aria-checked`](https://w3c.github.io/aria/#aria-checked) set on them since they are big checkboxes at the end that track your progress. That way the screen reader will read `checked` or  `unchecked` when the user navigates to one of them and then they can know if they finished this task or not.

![

[2021-02-23 09:03] nirmalsahoo commented on #90578
GitHubTags:#A11y_VSCode;#A11ySev1;#A11yTCS;#A11yMAS;#DesktopApp;#WCAG1.3.1;#Win10;#Visual Studio Code;#NVDA;#JAWS; #CAITestPass_May2020;#FTP;#STP;

[2021-02-23 09:03] kjpaul commented on #117113
Hmmm. I am running Trend Micro. I will see if there are any logs.

[2021-02-23 09:11] KristofStroobants commented on #114890
I'm not seeing the option just yet. I'll check tomorrow and report back.

[2021-02-23 09:14] acim commented on #113175
I tried this and it seems to work fine. I suspect to zoom level now. When I just start code without flags (old setup) and set zoom level back to zero, it behaves better but I will need more time to prove this.

[2021-02-23 09:18] braineruption commented on #116772
Same issue here on Mac OS.

[2021-02-23 09:18] xiepeiyang opened #117337 "Can't input chinese characters at terminal unless using Microsoft Pinyin"
- VS Code Version:1.53.2
- OS Version:Windows_NT x64 10.0.18362

Steps to Reproduce:

1. open any project, press ctrl+~ to open terminal.
2. make sure your input method is Sogou Pinyin(or any other chinese input method, except Microsoft Pinyin).
3. try to type chinese, you would find that there is no chinese characters on the screen, but English letters would be OK.
4. change to use Microsoft Piny

[2021-02-23 09:24] Gruntfuggly commented on #116735
/verified

[2021-02-23 09:24] IllusionMH commented on #117332
/duplicate of #117223

[2021-02-23 09:25] #117332 closed

[2021-02-23 09:27] leonardder commented on #97154
Probably a not too smart question, but what is holding you back from implementing something accessible in the true editor?

[2021-02-23 09:29] yume-chan commented on #117337
Duplicate of #115814

[2021-02-23 09:31] proimage commented on #15667
@aminomancer What you're not taking into consideration is that some tooltips have elements inside that are intended to be clickable.

Let's define the issue clearly:
- Tooltips can contain links, and thus need to be clickable.
- However, tooltips also cover up/obscure code that the author may be trying to interact with.

Therefore, the solution becomes clear:
- By default, tooltips need to be mous

[2021-02-23 09:38] isidorn commented on #97154
@leonardder it's a good question. Because our true editor is a bunch of html divs, spans and what not. It is not only text, as there can be inline decorations and other details. it is not a `textArea` or an input field and screen readers do not really work well with our editor HTML structure. Also the cursor is not the real cursor, the selection is not the real html selection and so on.

I believe

[2021-02-23 09:39] clPointer opened #117338 "Multilayers nested snippets Tapstops bug"
- VS Code Version:
- OS Version:

Steps to Reproduce:

1. Use this snippet:
`"test":{
        "prefix": "j",
		"body": [
        "$ $1 $ $0"
		],
    },`
2. Use it for 18 times or more:
    I record it in a gif, copy it in the address bar( in github you can't see this gif)
     http://anki20201112.xuexihaike.com/mpic/20210223/HNkzczkExe1d.gif

Does this issue occur when all extensions are disabled

[2021-02-23 09:43] alexr00 commented on #117189
I like the "use the reosolver's default" setting option. Will add for March!

[2021-02-23 09:44] isidorn opened #117339 "Getting started: align with ActionBar navigation pattern"
Refs: https://github.com/microsoft/vscode/issues/117313

1. Getting started, focus on some button for example "Browse Recommended Extensions"
2. Press right key -> nothing happens 🐛
3. Expected: focus moves to Next button

I suggest that you use the `ActionBar` when you have 2 or more actions.
Reason being that we have the action navigation consistent across the workbench. Only one tab stop for th

[2021-02-23 09:44] kjpaul commented on #117113
I couldn't find anything, but Trend Micro is not very helpful in that regard. I added C:\Users\rider\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Visual Studio Code\Code.exe to the Trend Micro ignore list. Maybe that will help..... I guess not. Code.exe crashed while I was writing this. It gave the same message: "The window has crashed (reason: 'clean-exit')

It gives me a button to reope

[2021-02-23 09:46] isidorn opened #117340 "Getting started: low contrast for checkmark circles in dark theme"
Refs: https://github.com/microsoft/vscode/issues/117313

The contrast of the checkmark circles is not strong enough in dark theme. I barely noticed the checkmark.

![Screenshot 2021-02-23 at 10 45 05](https://user-images.githubusercontent.com/1926584/108826246-5bda3900-75c4-11eb-97fe-f8215f8a4932.png)

[2021-02-23 09:47] isidorn opened #117341 "Getting started: low contrast for activity bar image"
Refs: https://github.com/microsoft/vscode/issues/117313

Notice how the picture shows the activity bar, but due to low contrast it is impossible to see it

![Screenshot 2021-02-23 at 10 45 43](https://user-images.githubusercontent.com/1926584/108826355-7ca28e80-75c4-11eb-86e7-0edc5e4e5b26.png)

[2021-02-23 09:49] JontySinai commented on #116772
The issue seems to be with v1.54. I've temporarily worked around it by installing v1.53 following instructions from[ #4796](https://github.com/microsoft/vscode-jupyter/issues/4796). Furthermore turn off automatic updates in settings to prevent Insider 1.53 from automatically updating to 1.54.

[2021-02-23 09:49] isidorn opened #117342 "Getting started: next button not needed?"
Refs: https://github.com/microsoft/vscode/issues/117313

I do not really see the point for the next button? Since it is the same as pressing `down` or clicking on the next item.

I suggest to either remove the next, or that clicking on next checks of the current item.

[2021-02-23 09:50] bpasero opened #117343 "Crash when triggering reload from a crashed renderer"
Steps to Reproduce:

1. trigger a `process.crash` from devtools in code insiders
2. click on "Reopen"

=> 🐛 it crashes again

Maybe this is specific to using `process.crash` in the beginning but I thought I would report it anyway.

Dump:
[24de63c1-e970-428e-be41-9470957611d5.dmp.zip](https://github.com/microsoft/vscode/files/6028050/24de63c1-e970-428e-be41-9470957611d5.dmp.zip)

[2021-02-23 09:50] IllusionMH commented on #117330
/needsMoreInfo

Language and minimal code sample required.

[2021-02-23 09:51] isidorn opened #117344 "Getting started: Watch tutorial should auto play the video once site opens"
https://github.com/microsoft/vscode/issues/117313

Click on the Watch Tutorial button. The site is opened. Video should be auto played to make this whole experience smooth. Currently user has to click one more time.

[2021-02-23 09:54] isidorn opened #117345 "Getting started: down focuses the wrong item is focused item is collapsed"
https://github.com/microsoft/vscode/issues/117313

1. Click on some getting started item to have it collapsed
2. Press `down` -> first item is focused 🐛
3. Expected that the next item gets focused

Bonus bug: pressing `up` does not focus the above item

[2021-02-23 09:54] changeLong opened #117346 "In 1.53.2 version , Sogou input Chinese not displayed in terminal"
version: 1.53.2 (user setup)
commit: 622cb03f7e070a9670c94bae1a45d78d7181fbd4
date: 2021-02-11T11:48:04.245Z
Electron: 11.2.1
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Windows_NT x64 10.0.17763

When I open the terminal,When using sogou Pinyin input Chinese, Chinese is not displayed in the terminal

[2021-02-23 09:55] kjpaul commented on #117113
It's 2am again. I will see if you have any additional ideas in the morning.

[2021-02-23 09:56] oliversalzburg opened #117347 "skipFiles has no effect on tslib.js"
Issue Type: <b>Bug</b>

The issue is identical to #111301
I have captured the trace, but I'm not sure if @connor4312 is still responsible. Please let me know where to send it.

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: Windows_NT x64 10.0.19042
Remote OS version: Linux x64 4.19.128-microsoft-standard
Remote OS version: Linux x64 4

[2021-02-23 09:58] kfigiela commented on #117008
I also experience similar issue. Content seems to appear when terminal is resized. There were similar reports earlier: https://github.com/microsoft/vscode/issues/85010

In my case, the issue appears only happens when using `Remote – Docker`, but does not happen locally. I am using zsh with oh-my-zsh as my shell in both environments.

![recording](https://user-images.githubusercontent.com/174118/10

[2021-02-23 10:00] bpasero opened #117348 "Cannot move focus back into view "..." once navigated"
Testing #116559

Tab all the way to the "..." in the explorer view top right and arrow left or right. Then tab out and try to tab back in, doesn't work.

[2021-02-23 10:00] D-SteveB commented on #115715
Thanks @HamHawk01 - any advice you can share would be gratefully appreciated.

[2021-02-23 10:01] bpasero opened #117349 "Focus outline cut off in this case"
Testing #116559

![image](https://user-images.githubusercontent.com/900690/108827887-6eee0880-75c6-11eb-9686-3c786804b3bb.png)

[2021-02-23 10:03] aeschli commented on #114942
I added a check that the icon name consists of at least two segments separated by a minus
(e.g. `distro-ubuntu` or `wsl-distro-ubuntu`)

[2021-02-23 10:03] bpasero opened #117350 "Should Home/End, PageUp/PageDown also navigate in actions?"
Testing #116559

You can arrow left/right to navigate in actions, but should PageUp/PageDown and Home/End also work? They do work in tab stripe.

[2021-02-23 10:05] bpasero opened #117351 "Unexpected tab stop in debug view"
Testing #116559

Here when you tab you end up with another tab stop within the dropdown, I would expect to tab over:

![image](https://user-images.githubusercontent.com/900690/108828399-14a17780-75c7-11eb-9cce-4687b8fe53a3.png)

[2021-02-23 10:08] bpasero opened #117352 "Slightly unexpected tab stop behaviour"
Testing #116559

This was probably done for a reason because we used to stop at very action but maybe we should revisit this now?

![recording](https://user-images.githubusercontent.com/900690/108828667-6b0eb600-75c7-11eb-9c8a-d041fbde4fb5.gif)

[2021-02-23 10:08] qooqu commented on #104183
Here's an autohotkey workaround:
https://github.com/qooqu/vs-code-mbutton-scroll-ahk

[2021-02-23 10:11] bpasero opened #117353 "Tabbing into terminal needs 2 tabs"
Testing #116559

Tab from the panel actions into the terminal and notice that you need 2 tab stops to end up in the terminal.

[2021-02-23 10:12] bpasero opened #117354 "Output filter field icon cannot be tabbed to, only shift-tabbed"
Testing #116559

![recording (1)](https://user-images.githubusercontent.com/900690/108829114-10298e80-75c8-11eb-9e37-9ef428f08fd6.gif)

[2021-02-23 10:13] bpasero commented on #117349
Same here:

![image](https://user-images.githubusercontent.com/900690/108829195-27687c00-75c8-11eb-943b-833def59d7a3.png)

[2021-02-23 10:14] KristofStroobants commented on #114890
Confirmed that this works on the following version:

![image](https://user-images.githubusercontent.com/27337260/108829281-4404b400-75c8-11eb-8fef-b0420c5d15ec.png)

Version: 1.54.0-insider (system setup)
Commit: bd74308b5abbbb2f5a5df0f0d8a3bef606652d36
Date: 2021-02-23T05:16:26.487Z
Electron: 11.3.0
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Windows_NT x64 10.0.18363

Th

[2021-02-23 10:16] bpasero opened #117355 "Should disabled actions be focused?"
Testing #116559

I wonder if disabled actions should get focus by default or wether the enabled action should focus by default:

![image](https://user-images.githubusercontent.com/900690/108829490-85955f00-75c8-11eb-996e-e62ab743c94b.png)

[2021-02-23 10:17] jrieken opened #117356 "Auth should ignore/drop extensions that aren't available anymore"
Testing #117290

Checkout the confusing screen capture below. For testing #117290 I have renamed my extension from `test-secrets` to `test-secrets2` (only id, not display name and hence the funny screen shot). The problem is that the auth logic still knows about the `test-secrets` extension although it doesn't exist anymore. I would assume the same happens in the real world when uninstalling an ex

[2021-02-23 10:21] jrieken opened #117357 "Pressing cancel in auth dialog should show badge on auth icon"
Testing #117290

* have the snippet below
* select 'cancel' in the auth-allow-dialog (see screen shot)
* you are now lost. I didn't allow or deny auth and I would expect that the auth icon shows the badge to guide me to retrying this

<img width="1038" alt="Screenshot 2021-02-23 at 11 14 30" src="https://user-images.githubusercontent.com/1794099/108830062-3996ea00-75c9-11eb-86d5-7825eeb74365.png">

[2021-02-23 10:22] isidorn commented on #117355
Yeah they should, we did this change on purpose since it is recommended as this nice exmaple shows it https://www.w3.org/TR/wai-aria-practices-1.1/examples/toolbar/toolbar.html

Without that screen reader users could not figure out that there is a disabled action there and that they maybe need to change some state to enable it.
Thus closing as desinged, thanks for feedback!

[2021-02-23 10:22] #117355 closed

[2021-02-23 10:23] isidorn commented on #114890
@KristofStroobants lovely thanks! Adding verified based on your comment.
@weinand @TylerLeonhardt let me know if you have better setting name suggestions

[2021-02-23 10:27] trevyn commented on #15667
Here’s a solution that works for me with no modifier keys:

- Tooltips have a dedicated area of the screen away from the text selection point.
- Normally, tooltip area shows tip for what is under the mouse cursor, with no delay, and no clicking.
- When the mouse cursor is over the tooltip itself (or after a keypress with no mouse movement) the tooltip area shows the tip for what is at the *text* s

[2021-02-23 10:29] manuth commented on #116987
/verified

[2021-02-23 10:30] #117246 closed

[2021-02-23 10:30] isidorn commented on #117349
I can repro.

There is nothing special that the action bar is doing here. But this was working in stable so I did break this. Thus assigning to this milestone.

@sandy081 and @sbatten was there something special that you were doing here to make this work previously? If you have time can you also take a look?

[2021-02-23 10:32] jrieken opened #117358 "Support reason for why accessing auth"
Testing #117290

I really like the new "silent" auth flow.  I think having a reason property on the getSession-options could make this even better as it would allow extensions to explain why they need auth-access. E.g in the screen shot below we could render a message from my extension so that users feel informed.

<img width="880" alt="Screenshot 2021-02-23 at 11 30 09" src="https://user-images.g

[2021-02-23 10:34] isidorn commented on #117351
Natively HTML sets all select elements to be tabbable to. Not sure if we want to change this.
Will not change it this milestone, however assigning to next milestone to think more about this then.

[2021-02-23 10:39] pby28 opened #117359 "Auto format"
Issue Type: <b>Bug</b>

When you input < / script >, the editor will format the rest of the code very disorderly, and it will also disrupt the code when repairing, which is very inconvenient. Can you repair it quickly? thank you.

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: Windows_NT x64 6.3.9600

<details>
<summary>System Info</su

[2021-02-23 10:40] andrecool-68 commented on #117270
@IllusionMH What does "Electron" have to do with it?

[2021-02-23 10:40] M16Ali commented on #116638
Reopening as the issue now affects both the normal as well as insiders version of VS Code.

[2021-02-23 10:41] isidorn commented on #116638
Can not repro. Can you please provide steps and picture showing the problem, thanks

[2021-02-23 10:42] oliversalzburg commented on #115853
After upgrading to 1.53.2, I can no longer reproduce this issue.

[2021-02-23 10:42] #115853 closed

[2021-02-23 10:42] isidorn commented on #117352
Agree 100%, however I already filed an issue for this https://github.com/microsoft/vscode/issues/116454
fyi @JacksonKearl would be cool if we find time next milestone for this

[2021-02-23 10:42] #117352 closed

[2021-02-23 10:43] IllusionMH commented on #117270
VS Code is Electron based application - you can see this in Help > About

[2021-02-23 10:46] IllusionMH commented on #117359
/needsMoreInfo

Is it reproducible with all extensions disabled?
You can try this with <kbd>F1</kbd> and `>Developer: Reload Window With Extensions Disabled`

And provide code example.

[2021-02-23 10:46] bpasero commented on #117349
Maybe an artefact from the fact that this view is not to the top.

[2021-02-23 10:48] aeschli opened #117361 "Terminal content added while resizing"
Testing #117265

Version: 1.54.0-insider
Commit: bd74308b5abbbb2f5a5df0f0d8a3bef606652d36
Date: 2021-02-23T05:17:41.287Z
OS: Linux x64 5.8.0-43-generic

- split the terminal in 3 part
- resize the width of the terminals to small and larger. Observe how the contents in the terminals are growing

![terminal-resize](https://user-images.githubusercontent.com/6461412/108833278-e030ba00-75cc-11eb-99f5-1

[2021-02-23 10:50] aliasliao commented on #77977
Hi @aeschli , I'm working on this issue and found that the problem might be fixed by https://github.com/microsoft/vscode-html-languageservice/pull/102. I'm not sure if pr https://github.com/microsoft/vscode/pull/117360 is necessary since html code in `<script type="text/x-handlebars-template">` works pretty well without setting `languageIdFromType = 'html'` [like this](https://github.com/microsoft

[2021-02-23 10:50] M16Ali commented on #116638
Please see the image.
![image](https://user-images.githubusercontent.com/39730473/108833316-7e972e00-7581-11eb-8612-ae50571e29f4.png)

The launch.json has 'console' set to 'integratedTerminal'. Works fine with 'externalTerminal'.
![image](https://user-images.githubusercontent.com/39730473/108833488-c027d900-7581-11eb-97cf-d36d0556337c.png)

Code version:
Version: 1.54.0-insider (user setup)
Commit

[2021-02-23 10:50] BarnabasMakkay opened #117362 "VSCode doesn't remember account information, "Unable to transform input""
Issue Type: <b>Bug</b>

For about a week now, it seems like VSCode is unable to remember me being logged in for settings and live share. This means that in the lower left corner I always have 2 notifications prompting me to log in.
![VSCode login issue](https://user-images.githubusercontent.com/12936762/108833565-ec187e00-75c4-11eb-8639-644f4c26535c.png)

VS Code version: Code 1.53.2 (622cb03f7e07

[2021-02-23 10:57] bpasero commented on #116167
Awesome how this works now 👏

[2021-02-23 10:59] migrc3 commented on #115804
In my case, it works fine when I run it with `code --disable-gpu`. In fact, it solves both this issue and also (#115868)

[2021-02-23 11:01] bpasero commented on #114031
[code]

[2021-02-23 11:01] isidorn commented on #116638
Ok, forwarding to @weinand since he might have changed something in the `console` handling

[2021-02-23 11:01] bpasero commented on #114031
I urge you to run the browser tests and see for yourself.

[2021-02-23 11:06] aeschli opened #117363 "Terminal stays black after reloads"
Testing #117265

Version: 1.54.0-insider
Commit: bd74308b5abbbb2f5a5df0f0d8a3bef606652d36
Date: 2021-02-23T05:17:41.287Z
OS: Linux x64 5.8.0-43-generic

- open a terminal
- Invoke several window reloads in a row. Once in a while the terminal stays black.
- The drop down can be either `1:bash` or just `1:`
- In the first case, resizing the window fixes the issue, in the second only a reload brings

[2021-02-23 11:06] bpasero opened #117364 "Extension tests no longer show output with color"
Steps to Reproduce:

1. run `scripts/test-integration.sh`
2. notice how the first integration test shows green checkmarks
3. notice how the second tests show black and white

![image](https://user-images.githubusercontent.com/900690/108835311-96959e80-75cf-11eb-9c8c-5220a17be01f.png)

[2021-02-23 11:11] bpasero opened #117365 "Stray console.log"
https://github.com/microsoft/vscode/blob/ffae9a4baf9dfb73eb3fe7e1ed8e5b3513ec195e/src/vs/platform/terminal/electron-browser/localPtyService.ts#L135-L135

[2021-02-23 11:11] usernamehw opened #117366 "Open unsupported files in default application option"
Right now it says that the file is binary or has unsupported encoding:

![Screenshot (442)](https://user-images.githubusercontent.com/9638156/108834973-debcbd00-75df-11eb-9bd5-e068ed3a4f92.png)

I propose adding a second button named `"Open in default application"` and make `"Do you want to open it anyway"` styled like a button too.

[2021-02-23 11:13] aeschli opened #117367 "Terminal widths not correctly restored after reload"
Testing #117265

Version: 1.54.0-insider
Commit: bd74308b5abbbb2f5a5df0f0d8a3bef606652d36
Date: 2021-02-23T05:17:41.287Z
OS: Linux x64 5.8.0-43-generic

- open a terminal and split it
- change the size to make one smaller than the other
- reload window with the command from the command prompt. Terminals have the same width again

![terminal-restore-sizes](https://user-images.githubusercontent.com/

[2021-02-23 11:14] bogdanbeniaminb commented on #113175
You need some extensions to add items to your context menus. The issue only appears when the context menu appears under the mouse cursor - you need enough items in the context menu or a screen that is short enough (in height) so that the context menu can't go up or down, avoiding the mouse cursor.

[2021-02-23 11:16] #116638 closed

[2021-02-23 11:17] weinand commented on #116638
The "console" property is provided by the debugger extension you are using.

[2021-02-23 11:22] bpasero opened #117368 "CodeActionUi: Error: Trying to add a disposable to a DisposableStore that has already been disposed of"
Run integration tests:

[code]

[2021-02-23 11:23] bpasero opened #117369 "TypeError: Cannot read property 'start' of undefined"
Run itnegration tests:

[code]

[2021-02-23 11:24] aeschli commented on #77977
You are right, that can be fixed in the HTML language service, I forgot about that. Thanks for the PR!
We can close #117360 then

[2021-02-23 11:25] bpasero opened #117370 "resolveOnceDataWritten is not a function: TypeError: resolveOnceDataWritten is not a function"
Run integration test: `window.onDidWriteTerminalData: should listen to all future terminal data events`

[code]

[2021-02-23 11:25] bpasero opened #117371 "Integration test: echo works in the default shell"
Run `echo works in the default shell`

[code]

[2021-02-23 11:26] aeschli commented on #117359
@pby28 Please a a small html code snippet that shows the problem.

[2021-02-23 11:26] DannyCrews commented on #116629
bs. This is broken. Take responsibility and fix it.

[2021-02-23 11:27] isidorn commented on #117348
Good catch, I can repro

[2021-02-23 11:27] bpasero commented on #117240
Both @isidorn and me see weirdness on Linux, will investigate...

[2021-02-23 11:28] isidorn commented on #117350
Yeah I like this suggestion. We can add it next debt week.

[2021-02-23 11:31] popov895 commented on #117180
Same on Wayland

[2021-02-23 11:31] isidorn commented on #117354
Yeah that is a corner case. Will not fix in endgame. Will investigate in debt week.

[2021-02-23 11:31] #116757 closed

[2021-02-23 11:31] #116675 closed

[2021-02-23 11:31] #116658 closed

[2021-02-23 11:31] #116625 closed

[2021-02-23 11:31] #116564 closed

[2021-02-23 11:38] aeschli opened #117372 "Terminal does not restore after opening on a new folder"
Testing #117265

Version: 1.54.0-insider
Commit: bd74308b5abbbb2f5a5df0f0d8a3bef606652d36
Date: 2021-02-23T05:17:41.287Z
OS: Linux x64 5.8.0-43-generic

- open a folder (e.g. the folder with the vscode repo) and open a terminal
- use the recent menu to open another folder
- use the recent menu again to open the first folder again
- the terminal does not restore correctly, can not be deleted, but r

[2021-02-23 11:41] jrieken opened #117373 "Define classes for data that extensions should provide"
Testing #117307

See https://github.com/microsoft/vscode/wiki/Extension-API-guidelines#objects-vs-interfaces

Whenever we are expecting extensions to return data we provide not just an interface for that data, but we define a class with a constructor. That makes things easier to consume for extension and the ctor can already validate data (iff applicable). Types that should be classes: `TestState`

[2021-02-23 11:42] isidorn opened #117374 "Inline value provider show render case sensitivnes of term in editor"
Testing #117288

Have a case insensitive `InlineValueVariableLookup`. Notice how the vscode inline variables are rendered respecting the casing of the casing provided by the inlineValueProvider.
I think it should respect the editor one, since that one is closest to the inline values and that way the user can more easily connect them

![Screenshot 2021-02-23 at 12 40 50](https://user-images.githubu

[2021-02-23 11:47] isidorn opened #117375 "Inline values do not respect start column for order in which they are shown"
Testing #117288

Have the following inline value provider snippet:

[code]

Notice how this is being displayed.
However `local_i` should go before `LOCAL_I` because the `local_i` has a lower column.

![Screenshot 2021-02-23 at 12 45 17](https://user-images.githubusercontent.com/1926584/108839171-ff334a00-75d4-11eb-8af3-531a215077d3.png)

[2021-02-23 11:50] stevencl commented on #117240
I got a few timeout errors but was able to manually run the tests successfully.

  1) VSCode Smoke Tests (Electron)
       Stable vs Insiders Smoke Tests: This test MUST run before releasing by providing the --stable-build command line argument
         Datamigration
           verifies opened editors are restored:
     Error: Timeout: get element '.editor-instance > div > div.welcomePageFocusElem

[2021-02-23 11:54] jrieken opened #117376 "TestItemWithResults is bogus"
Testing #117307

I am toying with an extension that fails all tests as soon as they are discovered. That means I consuming the `vscode.TestItem` type in order to report failure. To achieve that I need to provide `TestItemWithResults`-instances which extend `TestItem`, forcing me to recursively clone the whole existing, foreign data structure (I assume so, I didn't get it working yet).

This is som

[2021-02-23 11:55] knutole commented on #48659
This worked for me: https://askubuntu.com/questions/1156830/please-login-as-the-user-ubuntu-rather-than-the-user-root, on EC2 Ubuntu instances.

Simply edit `/root/.ssh/authorized_keys` on server from
[code]
to
[code]
and you're able to login as root. Saving this config in the ssh config file on localhost, and using this config to log in with VSCode, you're able to edit remotely with VSCode as roo

[2021-02-23 11:55] #117369 closed

[2021-02-23 12:12] shadycuz opened #117377 "Unable to login to Github for settings sync"
- VS Code Version: 1.53.2
- OS Version: Amazon Linux 2

Steps to Reproduce:

1. Click settings sync
2. Click Github
3. Click authorize
4. Copy Token
5. Click `signing in to github....` in taskbar
6. paste token and hit enter (nothing happens)

Does this issue occur when all extensions are disabled?: Yes

From the Github Authentication log:

[code]

[2021-02-23 12:18] oliversalzburg commented on #115396
After about a hundred more times of this happening, it does indeed seem to be broken focus detection.

I'm trying to narrow it down further. My current best guesses are:

- Conflicts resulting from calling `terminal.show();` from an extension in certain states.
- Conflicts resulting from focus-adjusting hotkeys (starting a debug session).
- Conflicts resulting from hitting a breakpoint during debu

[2021-02-23 12:18] bpasero commented on #109439
Still unpleasant in web selfhost, I type and even though I get the auto import suggested, doing quick fix does not work until I press it 3 times:

![recording](https://user-images.githubusercontent.com/900690/108842423-8da9ca80-75d9-11eb-89e7-1b7454bea252.gif)

[2021-02-23 12:19] lbarbosadata commented on #108731
I look forward to the implementation of this feature.
remote-wsl provides much options and advantages for the development using vscode.

[2021-02-23 12:20] bpasero commented on #116775
Still seeing this:

[code]

[2021-02-23 12:22] bpasero opened #117378 "debug"
Output from integration test run

[code]

[2021-02-23 12:22] bpasero commented on #117378
Also:

[code]

[2021-02-23 12:23] bpasero commented on #117378
And:

[code]

[2021-02-23 12:25] #117365 closed

[2021-02-23 12:37] lapprand commented on #116637
@roblourens I get this:

![image](https://user-images.githubusercontent.com/17859202/108844325-bc647880-75ba-11eb-804e-209ea07b274e.png)

[2021-02-23 12:38] oliversalzburg commented on #117347
@connor4312 I've sent the trace to your xbox.com address.

[2021-02-23 12:41] stevencl commented on #117310
This all worked, although there was no auto complete for adding the gettingStarted field itself (I got intellisense for the items within the gettingStarted field though).

[2021-02-23 12:44] jrieken opened #117379 "vscode.TestObserver is an unusual API pattern"
Testing #117307

So far, my understanding of `vscode.TestObserver` and its factory functions is that a test observer gives you access to tests, e.g it enumerates them and fires events when something changes. The usual API pattern for something like that doesn't use such an indirection but exposes things directly. So, I wonder why there isn't something like this instead

[code]

[2021-02-23 12:51] jrieken opened #117380 "MainThreadTesting leaks"
Testing #117307

The `MainThreadTesting` types extends Disposable but also overwrites `dispose` without calling `super.dispose`. There is also some fishy-ness with $registerTestProvider/ $unregisterTestProvider. You must assume that the extension host just restarts, e.g without calling `$unregisterTestProvider`. In that case the workbench will dispose the main thread part and the expectation is th

[2021-02-23 12:54] jrieken opened #117381 "API, `undefined` means false"
Testing #117307

The `TestItem.runnable` property is defined as optional but defaults to `true`. It means `undefined` equals `true` and try to avoid that

https://github.com/microsoft/vscode/blob/e4364e5f5da60e371f995001836175d81cd942c3/src/vs/vscode.proposed.d.ts#L2403

[2021-02-23 13:14] aliasliao commented on #77977
@aeschli Could you please review my PR https://github.com/microsoft/vscode-html-languageservice/pull/102? Thanks a lot!

[2021-02-23 13:15] sanamhub opened #117382 "I should be able to remove any opened folder from workspace"
I should be able to remove added folder from vs workspace

![image](https://user-images.githubusercontent.com/31341013/108848557-3ae80700-7609-11eb-8ba0-8eb0efcb0899.png)

[2021-02-23 13:19] sanjay-ranganath opened #117383 "the keys p and s not working"
the letters p and s wont type. i dont know if this is the issue of the python extension - because it started after i added that extension.  i used to code in c and there wasnt any issue. please get into this.

[2021-02-23 13:19] #117382 closed

[2021-02-23 13:22] jrieken opened #117384 "Have a well-typed separation between `TestItem` and `RequiredTestItem`"
Testing #117307

In testing I can find two types that represent "test items". One is the `TestItem`-types which a provider should give to us. This compares to NotebookData for NotebookDocument or bytes and strings for TextDocument. With testing this separation isn't as crisp and relies on TS type mapping

[code]

Ignoring the fact that most TS developers have trouble understanding this, it tightly

[2021-02-23 13:23] sandy081 opened #117385 "Input box is not highlighted completely"
Testing #117250

<img width="385" alt="image" src="https://user-images.githubusercontent.com/10746682/108849638-af5b7f80-75e2-11eb-8563-867f9227ed82.png">

[2021-02-23 13:26] gjsjohnmurray commented on #117383
/needsMoreInfo

Extension Bisect command may help you discover whether an extension is causing the problem.

[2021-02-23 13:27] sandy081 opened #117386 "Input box does not occupy complete cell"
Testing #117250

<img width="339" alt="image" src="https://user-images.githubusercontent.com/10746682/108850051-2c86f480-75e3-11eb-96d9-4d4f480e5a2c.png">

See the addition padding/space at the beginning of the cell

[2021-02-23 13:28] denish-kanabar commented on #116637
what to give with rg ? I got below without any parameter

C:\Users\A683273\AppData\Local\Programs\Microsoft VS Code\resources\app\node_modules.asar.unpacked\vscode-ripgrep\bin>rg
error: The following required arguments were not provided:
    <PATTERN>

USAGE:

    rg [OPTIONS] PATTERN [PATH ...]
    rg [OPTIONS] [-e PATTERN ...] [-f PATTERNFILE ...] [PATH ...]
    rg [OPTIONS] --files [PATH ...]

[2021-02-23 13:30] sandy081 opened #117387 "Pressing enter on a row with a port is showing the input box in the port cell"
Testing #117250

- Press enter on the row -> port column shows input box
🐛 But Double click on the port column in the row -> nothing happens

Expected to show the input box

![Kapture 2021-02-23 at 17 09 39](https://user-images.githubusercontent.com/10746682/108872125-24867f00-75fa-11eb-8b35-18b3acd1399e.gif)

[2021-02-23 13:31] lszomoru opened #117388 "Julia documentation highlighting"
Testing #117283

Cloned this repo - https://github.com/JuliaLang/julia
Opened https://github.com/JuliaLang/julia/blob/3230aef393d23a75d6ad5793ca4ca2f8feb62f65/base/array.jl#L5
Looks like there is a documentation syntax with `"""` and I am wondering whether this should be coloured as comments

[2021-02-23 13:31] sandy081 opened #117389 "Port column and Set label actions are not matching"
Testing #117250

<img width="549" alt="image" src="https://user-images.githubusercontent.com/10746682/108850589-cfd80980-75e3-11eb-9e8c-65c4344d7dac.png">

It is not clear to me that I am updating the port here

[2021-02-23 13:33] sandy081 opened #117390 "Input shall retain the existing value"
Testing #117250

- Press enter on an existing row
🐛 Input box appears but empty

Expected to retain the previous value

![Kapture 2021-02-23 at 17 09 39](https://user-images.githubusercontent.com/10746682/108872125-24867f00-75fa-11eb-8b35-18b3acd1399e.gif)

[2021-02-23 13:33] OliverJAsh opened #117391 "`collapseExplorerFolders` has no effect when sidebar is closed"
- VS Code Version: 1.53.2
- OS Version: macOS 11.2.1

Steps to Reproduce:

1. Open some files to expand the folder tree in the explorer
2. Run command `View: Close Side Bar` (`workbench.action.closeSidebar`)
3. Run command `Collapse Folders in Explorer` (`workbench.files.action.collapseExplorerFolders`)
4. Open the sidebar again

Expected: the folders in explorer are collapsed

Actual: the folders

[2021-02-23 13:36] rcfoli opened #117392 "Forced strikethrough on the word 'name' in console.log statement"
BUG

When I type this code into MY vs code:

const name = 'Roger'
console.log(name)

When I type that code into MY vs code, vs code forces the word 'name' in the console.log statement to have a strike through. It only happens with the word 'name'. I can type any other word and no strikethrough.

Now, even though this happens, it still prints the output fine. So the output for the above code in my

[2021-02-23 13:37] sandy081 opened #117393 "Right click in empty area shall open context menu with Forward a Port action"
Testing #117250

- Right click in the empty area of the ports view
🐛 Nothing happens

[2021-02-23 13:38] gjsjohnmurray commented on #117392
Try using the Extension Bisect command to investigate whether the problem is being caused by one of your extensions.

[2021-02-23 13:41] ghylander opened #117394 "Cannot read property 'Code' of undefined."
Issue Type: <b>Bug</b>

Unable to open 'S3.ipynb': Cannot read property 'Code' of undefined.

VS Code version: Code - Insiders 1.54.0-insider (bd74308b5abbbb2f5a5df0f0d8a3bef606652d36, 2021-02-23T05:16:26.487Z)
OS version: Windows_NT x64 10.0.19041
Remote OS version: Linux arm64 4.9.140-tegra
Remote OS version: Linux x64 5.4.0-1037-aws

<details>
<summary>System Info</summary>

|Item|Value|
|---|-

[2021-02-23 13:41] ghylander commented on #117394
can't open jupyter notebooks all of a sudden

[2021-02-23 13:44] alexr00 opened #117395 "svg icon contributed for a view container doesn't show in web"
Testing https://github.com/microsoft/vscode-internalbacklog/issues/1850 https://github.com/microsoft/vssaas-planning/issues/2448

1. Connect to a codespace.
2.. Install alefragnani.project-manager
3. This extension contributes a view container with an svg icon: https://github.com/alefragnani/vscode-project-manager/blob/master/package.json#L61
4. 🐛The icon doesn't display correctly (it's totally mi

[2021-02-23 13:45] isidorn commented on #117288
Overall this works great. Would be nice to get some feedback from @TylerLeonhardt once he is back from vacation and from @ahlinc

Also if two inline value providers are registered and they provide the variable with the same name -> it is displayed twice.
Also if they provide two value with different columns they end up not respecting the column but this issue already captures that https://github.c

[2021-02-23 13:45] sandy081 opened #117396 "Forward a Port action in command pallette and in the view are not same"
Testing #117250

<img width="653" alt="image" src="https://user-images.githubusercontent.com/10746682/108851599-e599fe80-75e4-11eb-87c3-b512dbf8b862.png">

<img width="568" alt="image" src="https://user-images.githubusercontent.com/10746682/108851615-ec287600-75e4-11eb-8dbf-022f1d6963c1.png">

Above two entries with same name are not doing the same - one is opening the quick pick and the other is

[2021-02-23 13:46] sandy081 opened #117397 "Sashes are not available some times"
Testing #117250

- Move panel to right and adjust the width of the panel

🐛 Sashes are not available

<img width="716" alt="image" src="https://user-images.githubusercontent.com/10746682/108852347-ca7bbe80-75e5-11eb-97e0-1d9e25bdf783.png">

[2021-02-23 13:47] sandy081 opened #117398 "Double click on sash should reset the column size"
Testing #117250

Double click on sash should reset the column size

[2021-02-23 13:47] gjsjohnmurray commented on #116629
See #116260

Electron update in today's Insiders is supposed to fix this.

[2021-02-23 13:49] gjsjohnmurray commented on #117394
/extJupyter

[2021-02-23 13:49] #117394 closed

[2021-02-23 13:49] sandy081 commented on #117389
Also with Local Address and Change local port

<img width="573" alt="image" src="https://user-images.githubusercontent.com/10746682/108852861-64436b80-75e6-11eb-99f7-425a1e3bd913.png">

[2021-02-23 13:51] sandy081 opened #117399 "Not able to edit other columns while adding the port"
Testing #117250

- Click on forward port action
- Enter the port number and tab

🐛 New row with above port got added

Expected to edit Local address column

[2021-02-23 13:52] weinand commented on #117288
@isidorn yes please, file an issue about the de-duping. My assumption was that this is left to the provider, but if there are multiple independent providers, then the de-duping needs to take place in VS Code.

[2021-02-23 13:57] IllusionMH commented on #117392
/duplicate of #114725 and related to https://github.com/microsoft/TypeScript/issues/18433

[2021-02-23 13:58] #117392 closed

[2021-02-23 14:01] sandy081 opened #117400 "Represent the port/address that opens the application differently"
Testing #117250

- Run a node application in dev container
- Following is seen

<img width="1631" alt="image" src="https://user-images.githubusercontent.com/10746682/108854016-ad47ef80-75e7-11eb-8e07-c7ffa698bc80.png">

- It is not clear in ports view on which entry opens the application in browser. It would be helpful to represent the application port differently so that it can be identifiable.

[2021-02-23 14:04] rcfoli opened #117401 "Forced Strikethrough on word 'name' in simple console.log statement"
[

- VS Code Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

BUG: THIS IS NOT THE SAME AS THE OTHER ISSUE. IF IT IS, THERE IS NO SOLUTION STATED

When I type this code into MY vs code:

const name = 'Roger'
console.log(name)

When I type that code into MY vs code, vs code forces the word 'name' in the console.log statement to hav

[2021-02-23 14:05] sandy081 opened #117402 "Duplicated forward port actions"
Testing #117250

<img width="1630" alt="Screenshot 2021-02-23 at 15 02 55" src="https://user-images.githubusercontent.com/10746682/108854803-8e962880-75e8-11eb-8e2b-6fcc53671884.png">

Since the action is available in the view, I do not think it is necessary to show the same action on the panel bar. Seems redundant to me and also confusing.

[2021-02-23 14:11] jrieken opened #117403 "The empty object is a valid test provider"
Testing #117307

tl;dr: This should not compile: `vscode.test.registerTestProvider({})`.

An API should provide guidance, e.g it should force you to implement something and provide rigid rules on how to get to a result. It seems the `TestProvider`-type is "Jack of all trades" and we should define its exact role. Is it a provider? Is is a runner? Is it workspace test provider or just a document tes

[2021-02-23 14:11] popovas commented on #116936
Same on
OS: Red Hat Enterprise Linux Workstation 7.8
all addons work perfectly fine with VS Code 1.52.1

Where can more information be found about support for RHEL 7?

Thank you!

[2021-02-23 14:23] #77977 closed

[2021-02-23 14:26] sandy081 opened #117404 "Not all information is provided (read/tooltip) for port row"
Testing #117250

<img width="1607" alt="image" src="https://user-images.githubusercontent.com/10746682/108857611-8ee3f300-75eb-11eb-88e6-d424d4b520ca.png">

Info like whether the port is attached to a process or not, whether it is auto forwarded or not is not provided.

[2021-02-23 14:26] xavierdecoster commented on #116888
Issue moved to [microsoft/vsmarketplace #5](https://github.com/microsoft/vsmarketplace/issues/5) via [**ZenHub**](https://www.zenhub.com/)

[2021-02-23 14:27] yume-chan commented on #117346
Duplicate of #115814

[2021-02-23 14:29] sandy081 opened #117405 "Not useful information is read while selecting an empty row"
Testing #117250

When an empty row with + action is selected, It reads following that is not helpful

**and 4 more items, group**

<img width="1238" alt="image" src="https://user-images.githubusercontent.com/10746682/108857884-d7031580-75eb-11eb-939b-801be68a9c12.png">

[2021-02-23 14:29] rcfoli opened #117406 "Forced Strikethrough on word 'name' in simple console.log statement"
We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Bug</b>

Does this issue occur when all extensions are disabled?: bbYes

BUG

When I try to run this code into MY vs code:

const name = 'Roger'
console.log(name)

When I type that code into MY vs code, vs code forces the word 'name' in the console.log statement to have a strike thro

[2021-02-23 14:31] IllusionMH commented on #117401
/duplicate of #114725
As was mentioned in #117392 - this is already existing issue tracked in TS repo microsoft/TypeScript#18433

This is design limitation of TS - you don't have `import`/`export` which means your code is in global scope and overlaps with global `name` which is marked as deprecated to avoid unintentional use (Make typo variable declaration in `const nome ...` or if you add several

[2021-02-23 14:31] rcjsuen opened #117407 "Tabs in YAML comment cause syntax highlighting to not work"
Issue Type: <b>Bug</b>

Tabs prevent comments from being highlighted correctly in YAML.
[code]

![image](https://user-images.githubusercontent.com/15629116/108858143-d6518b80-75b9-11eb-9bd2-f98e628791cf.png)

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:45:54.515Z)
OS version: Darwin x64 19.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|--

[2021-02-23 14:33] sandy081 commented on #117250
@alexr00 Regarding following item

I do not think I can validate this correctly as I do not know what is expected here. I can check for keyboard accessibility but I think that is not enough. I would ask @isidorn our accessibility expert for help here.

[2021-02-23 14:35] rcfoli commented on #117401
I was following the code of a teacher in a node.js course. His code had no problem and he never told us to change anything in our vs code after we installed it.

Why didnt the teacher have this problem when typing in THEIR vs code?
How can I force module scope?
So I shouldnt use the term 'name' then? When coding in vs code...ever?

[2021-02-23 14:37] Tyriar opened #117408 "Support reconnect in tasks"
Terminals now reconnect when reloading local or remote windows. If a task is running at the time this will still reconnect the terminal but not restore the _task_, for example the VS Code core watch task results in this:

![image](https://user-images.githubusercontent.com/2193314/108858854-7ea72600-75a1-11eb-8e6f-bec88fa1efd6.png)

cc @meganrogge

[2021-02-23 14:38] martonlanga commented on #98597
Same using Electron v12 w/ monaco-editor

[2021-02-23 14:39] aeschli opened #117409 "AuthenticationProvider.createSession: Spec what to do when the authentication fails"
Testing #117299

`AuthenticationProvider.createSession` should spec what needs to be returned when the login fails (rejected promise).

Also
- mention that a successful login should trigger the `onDidChangeSessions` event.
- mention what should happen when a session already exists for the given scopes . Looking at the Github AuthProvider implementation, I think it authorize again and replace the e

[2021-02-23 14:40] sandy081 opened #117410 "Suggestions for context menu actions and grouping"
Testing #117250

<img width="1328" alt="image" src="https://user-images.githubusercontent.com/10746682/108858731-c56e3d80-75ec-11eb-913e-eb655820874d.png">

Seems actions ordering and groups are broken and confusing to me. I would suggest to have edit column actions together, open actions together, copy actions together and remove/add actions together

[code]

[2021-02-23 14:41] wbmagalhaes commented on #13680
I'm using VSCode 1.53 on Windows 10 and had this authentication problem using VSCode and Github Desktop.
This command fixed both issues for for me:

`git config --global core.sshCommand "'C:\Windows\System32\OpenSSH\ssh.exe'"`

Apparently the default `ssh` is not OpenSSH, so you need to change the global configuration.

https://github.com/desktop/desktop/issues/5641#issuecomment-421801704

[2021-02-23 14:42] sandy081 commented on #117410
Its also fine, if Stop Forwarding Port action is moved to Change group.

[2021-02-23 14:42] aeschli opened #117411 "AuthenticationProvider.removeSession: Spec the error case"
Testing #117299

`AuthenticationProvider.removeSession` should spec what needs to be returned when the session can not be removed

Could also mention that a successful removal should trigger the `onDidChangeSessions` event

[2021-02-23 14:43] #117401 closed

[2021-02-23 14:44] jrieken commented on #115007
I have that and think it is misleading to send users to the market place. There should be a differentiation between having test extension installed and having one which isn't returning results

<img width="345" alt="Screenshot 2021-02-23 at 15 42 54" src="https://user-images.githubusercontent.com/1794099/108859735-ceabda00-75ed-11eb-9df5-b03749af08cc.png">

[2021-02-23 14:49] alexr00 commented on #117410
Will change it to:

[code]

[2021-02-23 14:52] alexr00 commented on #117408
Yes, this would be great. I thought @alexdima had done some work to make sure that task terminals were not restored for now though? Since we cannot restore the task now, we decided this was the best behavior for now.

[2021-02-23 14:53] lapprand commented on #116637
I believe you should try getting the search command in one of your output panels and then execute it in your terminal.

[2021-02-23 14:53] RandallKent commented on #48659
@knutole - The security implications of allowing your key to authenticate as `root` are massive and, generally speaking, not a best practice as it provides the highest level of access to all aspects of the system.

[2021-02-23 14:54] alexr00 commented on #117250
@sandy081 for testing accessibility I would test two things:
- Keyboard accessibility, as you suggested
- Install NVDA and test that the narration makes sense.

[2021-02-23 14:55] eldoy opened #117412 "Select text popup VSCode disable setting"
- VS Code Version: 1.52.1
- OS Version: MacOS 10.15.6

In this version of VSCode there is a popup in the upper right corner whenever I select some text. It seems like a bug as it doesn't seem to have any function and is extremely distracting. I constantly move my eyes up there when it pops up.

If it is a feature, how do I disable it? I have disabled all other popups, this seems like something new

[2021-02-23 14:58] knutole commented on #48659
The security implications depend on your system. This solution is a workaround to using VSCode remotely on systems and use-cases that are suited for it.

[2021-02-23 14:59] alexr00 commented on #117400
We don't have a way of knowing which port is the "application" port. I use a heuristic to show the notification for the "best" port, but we don't actually have a way to tell for sure which port is the "best" one to show. Frequent users of forwarded ports can set a label for their application port in settings or in the `devcontainer.json`.

[2021-02-23 14:59] #117400 closed

[2021-02-23 14:59] jrieken commented on #116633
`verified` tho it is a little confusing that it is different from the "same icon" that's in the explorer

[2021-02-23 15:00] alexr00 commented on #117399
By default, we don't want to make users enter a local address. Most of the time, a good local address will be chosen by default. However, if a user hits tab, then we should let them enter a local address.

[2021-02-23 15:01] alexr00 commented on #117389
The feedback I received on this context menu was that it should show all the actions for the row, not just the actions for the column that you right clicked on.

[2021-02-23 15:05] alexr00 commented on #117396
This is a feature for folks who don't want to ever see the ports view :).  I can change the behavior for March and we will see if anyone complains in insiders.

[2021-02-23 15:09] alexr00 commented on #117390
@sandy081 can you share a gif? The only row that pressing enter should do anything for is the + row. Since there is no existing value on that row, we don't have anything to prepopulate the input box with.

[2021-02-23 15:10] alexr00 commented on #117387
Hmm, pressing enter on the row shouldn't be editing the port cell. I can't repro this though. Can you share a gif?

[2021-02-23 15:11] sandy081 commented on #116841
@bpasero Can you please help in how to verify following:

[2021-02-23 15:11] Steiniche commented on #117252
We are seeing the same thing.
Apperently `code` has moved from `/usr/bin/code` to `/usr/share/code/bin/code`.
`/usr/bin` is by default on path but the later is not.
This is why we cannot start the `code` command unless we add `/usr/share/code/bin/` to $PATH

[2021-02-23 15:12] prince6015 opened #117413 "bop.cpp"
- VS Code Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2021-02-23 15:13] aeschli opened #117414 "AuthenticationProviderAuthenticationSessionsChangeEvent.changed: clarify what can change"
Testing #117299

`AuthenticationProviderAuthenticationSessionsChangeEvent.changed` signals that a  `AuthenticationSession` has changed.
Can the spec clarify what can change? Can e.g. the `account` change? Everything but the id? (in that case it has to be a remove/add)

Is the session object in the event reflecting the changed state?

[2021-02-23 15:13] prince6015 opened #117415 "bop.c++"

[2021-02-23 15:15] prince6015 opened #117416 "bop.cpp++"

[2021-02-23 15:18] alexdima commented on #117408
@alexr00 I think what we did was for restored **remote** terminals, while this issue might be about restoring terminals with local windows.

[2021-02-23 15:18] zsh2401 commented on #115814
This issue deserves attention because it has hit a large number of Chinese developers.
I thought I have to consider downgrading the version of VSCode until this problem has been fixed.

[2021-02-23 15:20] Tyriar commented on #117408
Looks like the disabling in remote is here:

https://github.com/microsoft/vscode/blob/dda96b69bfc63f309e60cfc5f98cb863c46b32ac/src/vs/workbench/contrib/terminal/browser/remoteTerminalService.ts#L157

We don't have this for local atm, should we add it? Isn't it good that the task terminals still get restored, despite not being linked to the task system?

[2021-02-23 15:20] isidorn commented on #117250
I can test this out, but I already talked to @joaomoreno and he told me that for accessibility it is not yet 100% ready.
So I suggested he gives me a ping when he would like me to try it out. So I guess this will happen next milestone.

[2021-02-23 15:21] Tyriar opened #117417 "Support enablePersistentSessions for local reconnect"
We missed integrating with the `terminal.integrated.enablePersistentSessions` setting.

[2021-02-23 15:22] Tyriar opened #117418 "Remove terminal.integrated.flowControl setting"
We want flow control enabled all the time now since it's been battle tested

[2021-02-23 15:23] isidorn opened #117419 "Inline provider: variables are not de-duped when they are provided by different providers"
Testing #117288

Have two inline variable providers, for example:
Note how these providers return the same variables. However they are not de-duped on the vscode side. The same variable appears two times as an inline editor decoration.

[code]

[2021-02-23 15:23] isidorn commented on #117288
@weinand makes sense, I have filed this one https://github.com/microsoft/vscode/issues/117419

[2021-02-23 15:26] alexdima commented on #117255
@rebornix I tried and could reproduce. When configuring `"editor.autoIndent": "advanced"` it does not reproduce.

[2021-02-23 15:27] #117416 closed

[2021-02-23 15:27] #117413 closed

[2021-02-23 15:27] #117415 closed

[2021-02-23 15:29] bpasero opened #117420 "Smoke test: data migration tests (those that require --stable-build) do not work anymore"

[2021-02-23 15:30] aeschli opened #117421 "Add completion support for on onAuthenticationRequest activationEvent"
Testing #117299

You can add `onAuthenticationRequest` [here](https://github.com/microsoft/vscode/blob/main/src/vs/workbench/services/extensions/common/extensionsRegistry.ts#L232) to get completion support in the activationEvents.

![image](https://user-images.githubusercontent.com/6461412/108866012-16cdfb00-75f4-11eb-8b79-1e86e75dee59.png)

[2021-02-23 15:30] bpasero commented on #116841
@sandy081 best to try a fresh user data dir creating storage (global, workspace) and then already defining the `window.enableExperimentalMainProcessWorkspaceStorage` setting from stable to have it when starting with insiders from same user dta dir.

[2021-02-23 15:31] bpasero commented on #117240
Opened https://github.com/microsoft/vscode/issues/117420 for investigation. As a workaround you can run without the `--stable-build` command line flag.

[2021-02-23 15:32] fourpastmidnight commented on #116787
@plainerman Thank you!! I was looking for the Visual Studio setting called 'Auto-track'.  With all the thousands of settings available in VSCode (what, with after having extensions installed), it's nearly impossible to find a setting, especially one you're not looking for😉 but is really the one you want!! Thanks again!!

[2021-02-23 15:34] jrieken opened #117422 "Slower startup performance"
Between todays (bd74308b5abbbb2f5a5df0f0d8a3bef606652d36) and yesterdays (11cd76005bc7516dcc726d7389d0bce1744e5c85) insiders build we have lost around 300ms in startup time. The perf view  accounts this to 'connect to shared process'.

<img width="410" alt="Screenshot 2021-02-23 at 16 32 57" src="https://user-images.githubusercontent.com/1794099/108866770-cacf8600-75f4-11eb-8ba0-a4f93d3261d4.png">

[2021-02-23 15:35] TylerLeonhardt commented on #117288
I've left this issue in my notifications. If I have time this week between DevDiv bootcamp sessions, I'll take a look.

[2021-02-23 15:38] misolori opened #117423 "Notebook rendered markdown cell interaction issues"
https://user-images.githubusercontent.com/35271042/108866964-91255d80-75a9-11eb-98d5-4926ad6d1221.mov

- [x] Hovering over the text turns the cursor into text selection (it should always be the grabber to move cells) #117488
- [ ] Hovering next to the next results in no cursor/move change (you should be able to select any area for selection) #117489
- [ ] Double-clicking into a cell for edit and t

[2021-02-23 15:41] isidorn commented on #117391
Yes I can reproduce this.
The issue is that the `ViewPane` action [here](https://github.com/microsoft/vscode/blame/main/src/vs/workbench/browser/parts/views/viewPane.ts#L611) only takes the active view.
I believe the viewPane action should take the view even if it is not active. Thus also assigning to @sandy081

Alternative would be that the `Collapse Folders in Explorer` is not a `ViewPane` actio

[2021-02-23 15:44] DonJayamanne commented on #117273
Hopefully the rest makes it clear, I cannot add multiple output items using either operation.

[2021-02-23 15:46] alexr00 commented on #117410
How the new ordering looks:
![image](https://user-images.githubusercontent.com/38270282/108868622-ae344d80-75f6-11eb-990d-d16f0f0b0102.png)

[2021-02-23 15:47] DonJayamanne commented on #106747
Yes that's ok, we don't need a kernel when a notebook is not trusted.

[2021-02-23 15:47] alexdima commented on #117176
@twbworld You can try `editor.wrappingStrategy: advanced` when using a non-monospace font.

[2021-02-23 15:49] #117410 closed

[2021-02-23 15:49] jrieken commented on #117422
Looking at the timer ticks it seems that something is happening very early on, after code loading is triggered and before the environment is asked for 😕

<img width="1031" alt="Screenshot 2021-02-23 at 16 47 22" src="https://user-images.githubusercontent.com/1794099/108868747-d02dd000-75f6-11eb-928f-20afd8dba7e4.png">

[2021-02-23 15:53] olegoid opened #117425 "Cannot save credentials on KDE Plasma"
Issue Type: *Bug*

Version: 1.53.2
Commit: 622cb03f7e070a9670c94bae1a45d78d7181fbd4
Date: 2021-02-11T11:48:44.518Z
Electron: 11.2.1
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS Version: Linux x64 5.10.15-1-MANJARO snap

When trying to login on KDE Plasma I get an error message when VSCode tries to save my credentials (see screenshot below).
Ideally, VSCode would use KWallet

[2021-02-23 15:55] DiTsi commented on #48659
Hi. What difference between root access with key and user access with key + sudo bash (without password)? Is it equal?

[2021-02-23 15:55] Igor-Trime opened #117426 "Possibility to create a file that cannot be deleted, rename or moved."
- VS Code Version: 1.53.2 (user setup)
- OS Version: Windows_NT x64 10.0.19041

Steps to Reproduce:

1.  Put a dot at the end of the file name. For example - "AnyName."

This file can't even delete "Unlocker".
This file bypasses the Windows restriction. Which prohibits the creation of such files.
I assume that using "Process Monitor" can understand exactly how visual studio does this and use it.
I

[2021-02-23 15:56] lramos15 commented on #116259
Ah thank you for the clarification. This is actually a notebook bug with notebooks not respecting editor associations for untitled files. This feature works for custom editors just not notebooks.

[2021-02-23 15:57] jrieken commented on #117422
The attached [Archive.zip](https://github.com/microsoft/vscode/files/6030067/Archive.zip) is two profiles of today and yesterday and it seems that time to load code just doubled 🤷

<img width="531" alt="Screenshot 2021-02-23 at 16 55 46" src="https://user-images.githubusercontent.com/1794099/108869961-fbfd8580-75f7-11eb-83e5-096f1cade9d0.png">

[2021-02-23 15:59] aeschli opened #117427 "registerAuthenticationProvider: remove enableProposedApi check"
Testing #117299

`vscode.authentication.registerAuthenticationProvider` is still guarded by the enableProposedApi check.

[2021-02-23 16:00] #117377 closed

[2021-02-23 16:01] alexdima commented on #116997
@pingshunhuangalex Thank you for trying. This confirms that it is indeed an upstream issue. If you wish to pursue this further, you can create a test HTML page with just `<div style="font-family:'Tsentsiu Mono HG'">hello</div>` at https://jsfiddle.net/ and then compare this across Chrome and Firefox on Windows or across Chrome on Windows vs Chrome on macOS. You can then create an issue directly ag

[2021-02-23 16:01] #116997 closed

[2021-02-23 16:01] jrieken commented on #117422
Oh, I see. Looks like we updated Electron from 11.2.3 to 11.3

[2021-02-23 16:01] RMacfarlane commented on #117425
Duplicate of https://github.com/microsoft/vscode/issues/104319 and https://github.com/atom/node-keytar/issues/74

[2021-02-23 16:01] #117425 closed

[2021-02-23 16:02] #117405 closed

[2021-02-23 16:04] isidorn commented on #117378
These stack traces make no sense and I am not sure what action can I do.
All of them lead to code like this            ` this.toDispose.push(this.debugService.onDidChangeState((state) => {`
And I do not see how that can throw an exception

I will wait for @rebornix to fix his integration tests exceptions as they might potentially cause these false alarms.

[2021-02-23 16:05] annavosbigian opened #117428 "Application froze, but not shown in Task Manager after moving from downloads to application folder"
- VS Code Version: 1.54.0-insider (Apple chip)
- OS Version: 11.1 (Apple chip)

Steps to Reproduce:

1. VSCode was open
2. Moved the application from downloads folder to Application folder
3. VSCode stopped working, selected quit
4. Tried opening a README file with VSCode
5. VSCode opened, but didn't show up in the dock and when I hovered my mouse over the app window, it turned into the spinning w

[2021-02-23 16:05] RMacfarlane commented on #115918
@ralexrdz or @jsamr Could you try today's [VSCode Insider's](https://code.visualstudio.com/insiders/) to see if this issue still repros? Thanks!

[2021-02-23 16:05] sandy081 commented on #117389
@alexr00 I agree that we shall show all actions belong to the row and not scoped to column but issue is about the name of the actions in the context menu. It was not clear to me that `Set Label` is to change the `Port` column value in that row. Similarly `Change Local Port` is not clear to me that it is to change `Local Address` column. These actions are not reflecting the columns they are being t

[2021-02-23 16:06] isidorn commented on #114361
Adding verified per @jvesouze comment

[2021-02-23 16:06] jrieken commented on #117327
It looks like the extension host is send a lot of data into the renderer. @testforstephen do you use an extension that contributes editor decorations, like rainbow brackets or git lens' inline decorations or anything like that?

<img width="973" alt="Screenshot 2021-02-23 at 17 05 32" src="https://user-images.githubusercontent.com/1794099/108871342-58ad7000-75f9-11eb-99fa-28baa9aa7d93.png">

[2021-02-23 16:10] xgqfrms commented on #32840
# still not working

[code]

[2021-02-23 16:12] sandy081 commented on #117387
@alexr00 Added the gif - Also reverted the summary - Expecting that on dbl clk on the port column to show input box.

[2021-02-23 16:12] jrieken commented on #117327
@testforstephen Can you run vscode with this flag `--no-cached-data` profile again. That should yield better results. And look out for fishy extensions and would be causing this

[2021-02-23 16:14] sandy081 commented on #117390
@alexr00 Done

[2021-02-23 16:15] #117300 closed

[2021-02-23 16:17] #116888 closed

[2021-02-23 16:18] rzhao271 commented on #117229
Interesting case. We did switch to a newer Emmet during 1.53, so the format of the snippet file changed a bit. For example, see https://github.com/emmetio/emmet/blob/master/snippets/css.json

[2021-02-23 16:19] connor4312 commented on #117322
How is your code being compiled? This is probably a result of downleveling arrow functions.

[2021-02-23 16:20] isidorn opened #117429 "Test: hover with expected vs actual should be custom"
Currently you use the native hover to show expected vs actual value. Which is fair, I just think it does not look that good

We should probably use the custom hover and give it some color and richness

![Screenshot 2021-02-23 at 17 18 50](https://user-images.githubusercontent.com/1926584/108873351-5815d900-75fb-11eb-84a2-e0c73461fedb.png)

[2021-02-23 16:21] isidorn opened #117430 "Add keybindings for showing output peeks"
I could not figure out a keyboard way to show the inline expected vs actual zone widget.
Triggering it via keyboard should move focus to the zone widget and the proper things should be read out so this is accessible

![Screenshot 2021-02-23 at 17 21 41](https://user-images.githubusercontent.com/1926584/108873625-9ad7b100-75fb-11eb-8cca-74f40e57c7d4.png)

[2021-02-23 16:24] aditya-keri opened #117431 "toggleExplainMode stopped working"
- VS Code Version: 1.53.2
- OS Version: MacOS Catalina 10.15.7

Steps to Reproduce:

1. I add a variable. Add a dot (.) and then the suggestions come up.
2. When I do a `cmd + /`, it doesn't show the explain block anymore

It was actually working fine until a few hours ago. But then it suddenly stopped working.
I've tried completely uninstalling and installing vscode. I've tried this on a windows

[2021-02-23 16:24] meganrogge commented on #117253
I prefer the `text` setting to the `button` because from the perspective of:
- someone experienced, the button feels large and intrusive and there's no way to get rid of it (whereas just typing I can get rid of the text)
- a beginner, I don't see it since it's at the bottom right and I'm focused on writing code in the top of the file

[2021-02-23 16:31] bpasero commented on #117378
@isidorn they are all related to our leak detector:

`potential listener LEAK detected`

[2021-02-23 16:31] #117312 closed

[2021-02-23 16:33] isidorn commented on #117253
@meganrogge thanks for providing feedback. We'll take that into account. Though we will probably ship this as hidden and in the future decide based on experiments and user studies

[2021-02-23 16:33] RMacfarlane opened #117432 "Blank terminal after split and reload"
Testing #117265

Possibly the same thing as https://github.com/microsoft/vscode/issues/117363, but I very reliably see a blank terminal after I:
1. Split terminal
2. Run a command in only one of the terminals
3. Reload window

![blank_terminal](https://user-images.githubusercontent.com/3672607/108874871-735bf680-75b1-11eb-9393-00c2f73f00bc.gif)

Resizing the terminal causes the other prompt to app

[2021-02-23 16:33] bpasero commented on #117422
@jrieken it could still be my change that dropped the 3s delay for spawning the shared process. The impact of that is that the workbench window and shared process window will open almost at the same time (workbench will still start to load first).

Btw, the time in the Perf editor maybe a bit misleading: we do NOT block the startup for the shared process connection yet since we do not need it for

[2021-02-23 16:35] connor4312 commented on #116775
I'm not sure why it's still leaking there -- that's a registration in the constructor of an IEditorContribution, which I register in a disposable.

https://github.com/microsoft/vscode/blob/cb3a048f5af37002dd5a57f89b28de80937c1cba/src/vs/workbench/contrib/testing/browser/testingOutputPeek.ts#L179

Is there something extra I need to do to deal with disposal in editor contributions?

[2021-02-23 16:36] alexdima commented on #32840
@xgqfrms Sorry about that. I thought this specific issue was only about Windows, where this specific emoji is now rendered fine with default VS Code settings:

![image](https://user-images.githubusercontent.com/5047891/108875516-914f4880-75fd-11eb-8133-151985be4339.png)

[2021-02-23 16:37] bpasero commented on #116775
There is a possibility that this is not a leak but just a test creating so many of your editor contributions that we hit our limits. That limit is configurable though in code.

[2021-02-23 16:40] andrecool-68 commented on #117270
@IllusionMH Теперь понятно)))

[2021-02-23 16:41] #117404 closed

[2021-02-23 16:45] #117402 closed

[2021-02-23 16:45] meganrogge opened #117433 "Open in browser without a running process"
Testing #117250

When I right click on a port with no running process, clicking `Open in browser` results in a 502 bad gateway error after loading for awhile.

I'm wondering if that option should be greyed out in the menu for ports without running processes?

[2021-02-23 16:46] isidorn commented on #117353
Yeah this was already like that in VS Code stable. So this is terminal behaviour, thus also assigning to @Tyriar
@Tyriar is there some special reason why we do this? I think the focus on the terminal panel should pass focus inside the terminal?

[2021-02-23 16:49] Tyriar commented on #117353
The first tab focuses the terminal's buffer and lets the user navigate through it, the second is the input.

[2021-02-23 16:49] rebornix commented on #117378
With https://github.com/microsoft/vscode/commit/cb3a048f5af37002dd5a57f89b28de80937c1cba, I'm not seeing above leaks anymore locally. Let's see if CI is good.

[2021-02-23 16:50] isidorn commented on #117378
@bpasero thanks however, I still do not understand how a listener leak can happen.
I have an editor contribution that in the constructor adds a bunch of listeners.
It has a dispose(), in the dispose I dispose all the listeners.

The only explanation I have is that this is a false positive and that too many editors were being created or somehitng

@rebornix ok that makes sense. If the CI is good fe

[2021-02-23 16:50] #117393 closed

[2021-02-23 16:51] isidorn commented on #117353
@Tyriar ok, I leave this up to you to decide.

I just personaly find it weird that I do not see any visual indication of the focus in the terminal buffer. Or I might be missing something

[2021-02-23 16:52] meganrogge opened #117434 "resize of table columns doesn't persist"
Testing #117250

![recording (27)](https://user-images.githubusercontent.com/29464607/108877746-61c81e00-75b4-11eb-941e-ebfdece1725d.gif)

[2021-02-23 16:53] connor4312 commented on #117381
Hm. I could make it required, but I definitely don't want to make a property for "notRunnable" since that is quite confusing.

[2021-02-23 16:53] gudvinr commented on #117320
This also happens when you open projects from welcome screen when "Always show the welcome screen" option enabled.
Same with recent projects. You have to resize windows every time you open something.

[2021-02-23 16:56] varnk commented on #117286
I think I found the problem.  Looks like it was a plug-in that I installed called "stack-tabs"(https://marketplace.visualstudio.com/items?itemName=kylepaulsen.stack-tabs&ssr=false#qna).  There currently is an open-issue on their GitHub site that pertains to this problem.  See https://github.com/kylepaulsen/vscode-stack-tabs/issues/1

[2021-02-23 16:57] rzhao271 commented on #117323
Can you check whether an extension caused this issue?

[2021-02-23 16:57] connor4312 commented on #116775
247 listeners seems rather high for that... though I don't hit this on my machine running OSS this morning. I did find one potential leak but I doubt that any tests are hitting that.

[2021-02-23 16:58] #117380 closed

[2021-02-23 16:59] rebornix commented on #117378
@isidorn you are 100% correct. The monaco editors are created quickly (around 30ish) but not disposed when notebook editors are closed, thus it generated hundreds of event listeners during notebook tests. My fix disposes the editor which then clears listeners bind on it so the event listeners amount is reasonable again.

The leak protection can be false negative sometimes when there are many (20+)

[2021-02-23 17:01] Tyriar commented on #117353
A focus color outline could be added around the terminal in this case to be more consistent

[2021-02-23 17:02] usernamehw opened #117435 "Inline diff schema is file"
Issue Type: <b>Bug</b>

[code]

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: Windows_NT x64 10.0.18363

[2021-02-23 17:02] alexr00 commented on #117385
@misolori is it ok to change the line height of the rows of the table? The issue here is that the input box doesn't fit in the table cell, and to fix it I can increase the `lineHeight` from 22 to 27. However, I'm not sure if that's ok given that `lineHeight` is almost always 22.

[2021-02-23 17:04] connor4312 commented on #117376
The downside of `publishTestResult(item: vscode.TestItem, result: vscode.TestResult)` is that it can only associate test results with the _current_ state of tests in the workspace. If you're reading test results from a file, the results and hierarchy might not match those currently in the workspace -- there could even be tests that don't exist at all in the workspace.

I think that your 'clone' sc

[2021-02-23 17:04] #117435 closed

[2021-02-23 17:06] RMacfarlane opened #117436 "Unsure what behavior of `terminal.integrated.confirmOnExit` setting should be"
Testing #117265

1. Set `terminal.integrated.confirmOnExit` to true
2. Have something long-running like `yarn watch` in a terminal
3. Reload window

See prompt asking if I want to kill active terminals - my initial expectation was that I wouldn't be prompted since the terminals will be restored.

4. Click "Yes"

The terminal with `yarn watch` shows as blank for a while before eventually loading, b

[2021-02-23 17:08] misolori opened #117437 "No fallback for using icon contribution point"
Testing #117263

While it's been nice to leverage custom icons from another extension:

![image](https://user-images.githubusercontent.com/35271042/108879713-61c91d80-75b6-11eb-9c6f-febfd6f77fb0.png)

There doesn't seem to be a way to set a fallback in case a user does not have the custom icon extension installed:

![image](https://user-images.githubusercontent.com/35271042/108879776-71e0fd00-75b6

[2021-02-23 17:08] connor4312 commented on #117379
The reasoning is that the test API is built to be lazy. We don't want to load tests, particularly tests for the workspace, unless there's someone listening to it -- in some cases (like Java) watching tests can be pretty expensive.

There is also an optimization for the common case of documents: consumers can request test results for a single document, which can be used to provide decorations, code

[2021-02-23 17:17] aeschli commented on #117042
The proposal is simple and makes sense to me. It will enable programmatic computation for diagnostics w.g. on virtual documents.

Some questions:

What is the benefit for `DiagnosticContext.triggerKind`? How does that help the server when evaluating diagnostics? Will it serve as a replacement to the existing open/change/save events on documents?

Is the plan to also support a onDidChangeDiagnostic

[2021-02-23 17:18] #117042 closed

[2021-02-23 17:19] rzhao271 opened #117438 "Unable to tab into terminal side buttons on Windows"
Testing #116559

I have screenreader mode enabled.
After getting focus on the textbox, pressing tab doesn't focus on any of the buttons to the right of it. For example, pressing space or enter doesn't trigger any actions. However, pressing tab once more focuses on the terminal.

![terminal-side-buttons](https://user-images.githubusercontent.com/7199958/108881166-e1a3b780-75b7-11eb-9cf9-b8843ff5c6a

[2021-02-23 17:19] bamurtaugh opened #117439 "VS Code winget install is missing product icon on certain launch"
Testing #117222

Install VS Code using `winget install vscode-system-x64`. On first launch (and most launches), everything appears & functions fine.

Launch VS Code another time, notice the icon is blank:

![image](https://user-images.githubusercontent.com/25310137/108881065-c638ac80-75b7-11eb-90de-d3afd4d30680.png)

I close VS Code and launch again, and the icon returns.

![image](https://user-im

[2021-02-23 17:21] bamurtaugh commented on #117222
I seem to have seen 8 packages rather than 6 - not sure if this was expected/if all of these are unique packages or not:

![image](https://user-images.githubusercontent.com/25310137/108880302-02b7d880-75b7-11eb-8edf-b303c605d4b1.png)

I installed the `vscode-system-x64` package, and things are working properly.

@lszomoru I'm not sure if there are formal steps in a sanity check, and if so, I'd be

[2021-02-23 17:23] rzhao271 opened #117440 "Up/Down arrow keys don't work with collapsed viewlets"
Testing #116559

The up and down arrow keys don't switch focus in this case. Tab or Shift+Tab work.

![collapsed-panel](https://user-images.githubusercontent.com/7199958/108881919-ad7cc680-75b8-11eb-8c60-cd2413030cb6.PNG)

[2021-02-23 17:25] rzhao271 commented on #117353
The focus around the buffer was working in Codespaces, but not on Windows. I filed an issue for it here https://github.com/microsoft/vscode/issues/117438.

[2021-02-23 17:33] Tyriar commented on #117438
@isidorn made a change so that you access the panel actions with left/right, so you can no longer tab from the dropdown to the buttons.

[2021-02-23 17:33] connor4312 commented on #117403
I think it makes sense for the workspace test method to be required.

You might have seen the `@todo` I have to rename the testprovider to be not a provider. I think the didChange/provide methods you propose are feasible with the way things are now, but I would still want some additional data from the "provide", at minimum a promise or event to indicate the state of discovery. (The alternative in

[2021-02-23 17:33] rebornix commented on #117378
From latest CI https://github.com/microsoft/vscode/runs/1963179551, notebook test is slient now.

[2021-02-23 17:34] #117378 closed

[2021-02-23 17:35] rzhao271 opened #117441 "git-scm commit message inputbox can only be navigated to with shift+tab"
Testing #116559

I have the sidebar open to the source control view. When I start pressing tab while focus is on the activity bar, the commit message inputbox gets skipped over.

However, if I first click in that viewlet using my mouse, there are then extra tabstops added that include the commit message inputbox as well as the whole viewlet. This behaviour seems to be the intended one.

[2021-02-23 17:37] ralexrdz commented on #115918
Just installed  insiders new `.deb` Still showing same as yesterday
[code]

[2021-02-23 17:37] #117286 closed

[2021-02-23 17:38] shadycuz commented on #117377
Insiders build fixed it.
[code]

[2021-02-23 17:39] isidorn commented on #117378
Thanks for fixing and for writing an explanation.

[2021-02-23 17:39] RMacfarlane commented on #117377
Thanks for confirming!

[2021-02-23 17:40] RMacfarlane commented on #115918
@ralexrdz Hmm, the insider's cmd should be `code-insiders` and should be version 1.54.0.

Confirmed as fixed in https://github.com/microsoft/vscode/issues/117377

[2021-02-23 17:42] isidorn commented on #117441
I can not reproduce this with latest vscode insiders. Here are my steps:

1. Have scm view open ,Reload VS Code
2. F1 > focus into activity bar
3. Press tab couple of times -> commit input box gets focused

Though my changes in the action bar should not have changed this, thus also assigning to @eamodio since he might have ideas what is going on here

[2021-02-23 17:44] rzhao271 opened #117442 "Gitlens tab focus seems off"
Testing #116559

I'm unable to navigate to any of the actions within the focused area.

![gitlens-focus](https://user-images.githubusercontent.com/7199958/108884482-8378d380-75bb-11eb-8a0d-5ad454becf7e.PNG)

[2021-02-23 17:44] isidorn commented on #117438
Let me get this steps clarified:
* you click on the select box and close it leaving focus there
* you press tab -> focus moves to terminal

This is expected. Since left - right move should move focus to the other actions there. Or you do not see that?

[2021-02-23 17:46] isidorn commented on #117442
This works for me, here are my steps:

1. Insiders, install git lens
2. Open the Commits view and focus title area, notice the focus outline
3. Press tab -> focus moved to actions

Do you do something differently?

[2021-02-23 17:47] rzhao271 commented on #117438
Just found out that left/right moves to the other actions there. That means there's an extra tabstop between those actions and the terminal.

[2021-02-23 17:47] isidorn commented on #117440
Yeah I think this is a feature request against the split view. Which I think makes sense: up / down should move focus between collapsed views.
Assigning to @joaomoreno

[2021-02-23 17:49] isidorn commented on #117438
The extra tab stop is covered by this issue https://github.com/microsoft/vscode/issues/117353
Since action navigation seems to work as expected I will close this.
Feel free to reopen if I missed something here

[2021-02-23 17:49] #117438 closed

[2021-02-23 17:49] connor4312 commented on #117347
`skipFiles` is a glob pattern, you probably want to use `**/tslib.js` rather than just `tslib.js`

[2021-02-23 17:54] JacksonKearl commented on #116412
Now controlled by experiment...

[2021-02-23 17:55] #117427 closed

[2021-02-23 17:56] IllusionMH commented on #117401
If it's recording - this behavior appeared in VS Code only in 1.52 (early December).

If you use modules then `import`/`export` statements will force file as module.
But if you don't use modules and write code that won't be run in browser you'll need to create [`jsconfig.json`](https://code.visualstudio.com/docs/languages/jsconfig) (see [TSConfig Reference](https://www.typescriptlang.org/tsconfig#

[2021-02-23 17:57] JacksonKearl commented on #114964
Verify presence of checkbox that resets startup editor to welcome page.

[2021-02-23 17:57] sbatten commented on #117318
@JohnKlenk please see setting: `terminal.integrated.allowMnemonics`

@Tyriar even with this setting, `workbench.action.terminal.toggleFindRegex` is conflicting with the menu bar

[2021-02-23 17:58] rzhao271 commented on #117442
It works fine for me after a reload. Previously, it was going straight to the commits.

[2021-02-23 17:59] rzhao271 commented on #117441
Hm, this one also works fine after a reload. Not sure what happened.

[2021-02-23 17:59] #117441 closed

[2021-02-23 18:05] #117420 closed

[2021-02-23 18:05] bpasero commented on #117240
I pushed a fix to be able to use smoke tests with `--stable-build` flag.

[2021-02-23 18:07] rebornix commented on #116516
@greazer I already pushed a fix for it but didn't link with this issue

fixed via https://github.com/microsoft/vscode/commit/ba3bd11ac7f1879245d865b837361e4bb6f07892

[2021-02-23 18:07] #116516 closed

[2021-02-23 18:09] bpasero opened #117443 "StartupGettingStarted: undefined is being logged as info"
It looks like we log `StartupGettingStarted: undefined` as info (noticed in integration tests), should this maybe be trace?

[2021-02-23 18:10] jurajkapsz commented on #115868
Guys, if anyone has time and [this input](https://github.com/microsoft/vscode/issues/115868#issuecomment-779502873) is still needed, pls feel free to supply the data, I will be an additional week+ off.

[2021-02-23 18:12] rebornix commented on #111255
Thanks for the explanation! It makes sense to open the link when the focus is on the link element, other than switching the cell to editing mode.

[2021-02-23 18:12] Tyriar commented on #117318
@sbatten just like in the editor, I'd say this is by designed since it's allow not force.

[2021-02-23 18:12] #117318 closed

[2021-02-23 18:13] stefanospetrakis commented on #37947
+1, missing this feature terribly in Composer-managed PHP projects.

[2021-02-23 18:14] #117240 closed

[2021-02-23 18:14] bpasero commented on #117240
@gregvanl since I also tested macOS you don't have to run the smoke test anymore.

[2021-02-23 18:14] rebornix commented on #111255
@MarcoZehe agree that `index` is verbose and should be omitted. The editor selection is also 1 based and it makes sense to do that in notebook as well. Thanks!

[2021-02-23 18:15] d-koppenhagen commented on #111764
Yes the issue is still there.
Let me know if you need more information for investigation.

[2021-02-23 18:15] isidorn commented on #117442
@rzhao271 okey, let me know if you find steps. For now closing this, and if you see it again let me know and I will reopen.

[2021-02-23 18:15] #117442 closed

[2021-02-23 18:16] DonJayamanne opened #117444 "Update Native Notebook Renderer API to align with the latest Notebook Cell Output structure changes"
- VS Code Version: OSS
- OS Version: Mac

Steps to Reproduce:

1. Today we have metadata in Cells, Output, & OutputItems
2. When rendering in custom renderer the following data is sent to the renderer extension:
[code]

Would be good to send the metadata from the output as well as output item or just the outputitem.
After all the data for rendering is coming from the outputitem, hence at a minimum

[2021-02-23 18:16] DonJayamanne commented on #117444
FYI - not a bug, but a request to change/update API.

[2021-02-23 18:20] JohnKlenk commented on #117318
Thanks for the info about that setting.  I just enabled it.

[2021-02-23 18:21] DonJayamanne opened #117445 "*.ipynb files alway opens in plain text editor & not Notebook Editor in latest insiders"
- VS Code Version: Latest VSCode Insiders
- OS Version: Mac

Steps to Reproduce:

1. Install latest VS Code insiders
2. Install jupyter extension (2021.3.xxx)
Open an ipynb file and it will open as a text file.
FYI - in yesterdays insiders this would open the notebook, now it opens plain text editor.
We also add the followign into the settings file:
[code]

Looks like the latest insiders broken so

[2021-02-23 18:21] JacksonKearl commented on #117335
Which screen reader is this? Voiceover reads them fine:
![image](https://user-images.githubusercontent.com/8586769/108889174-ecaf1580-75c0-11eb-8874-e6a953a0a5b1.png)

[2021-02-23 18:22] bpasero opened #117446 "Integration test failure in tasks"
[code]

From: https://github.com/microsoft/vscode/runs/1963674590#step:15:448

[2021-02-23 18:23] JacksonKearl commented on #117310
Thanks! No autocomplete for the gettingStarted field is expected as it's still proposed.

[2021-02-23 18:28] kieferrm commented on #116570
That would make sense to me.

[2021-02-23 18:30] Tyriar commented on #117361
/duplicate https://github.com/microsoft/vscode/issues/109479

[2021-02-23 18:30] #117361 closed

[2021-02-23 18:31] Tyriar commented on #117367
I hit this as well last week, you reloaded too quickly after changing the size as saving the state is debounced. Closing as designed

[2021-02-23 18:34] Tyriar commented on #117436
We should ignore `confirmOnExit` when a reload is happening and call that out in the setting docs.

[2021-02-23 18:37] IllusionMH commented on #117412
It appears during multiselect to indicate and allow to change how selection will treat case and word boundaries. Same as search results.
![image](https://user-images.githubusercontent.com/1312662/108890501-573e7080-7616-11eb-809e-ae9d4650948a.png)
![image](https://user-images.githubusercontent.com/1312662/108890544-63c2c900-7616-11eb-84c8-a91fd42d95c2.png)
![image](https://user-images.githubuserco

[2021-02-23 18:40] OBITORASU commented on #117154
@rzhao271 the approach for this issue should be identical to the approach taken for ```figcaption``` am I right? I would like to work on this one if that is the case.

[2021-02-23 18:42] #117436 closed

[2021-02-23 18:42] rzhao271 commented on #117154
@OBITORASU yep, it should be the same.

[2021-02-23 18:42] isidorn commented on #117335
I have VoiceOver set to be very concise, so that must have been the reason.
I just tried with NVDA and this works fine, thus closing

[2021-02-23 18:42] #117335 closed

[2021-02-23 18:42] connor4312 opened #117447 "classic x native always focuses menu bar"
Testing #117275

On Xubuntu with

[code]

The menu bar acts like customMenuBarAltFocus: true

[2021-02-23 18:43] connor4312 commented on #117447
Just parsed the name of the setting -- is this expected since the menu bar focus is no longer custom?

[2021-02-23 18:44] OBITORASU commented on #117154
Thank you I will send a PR then.

[2021-02-23 18:44] isidorn opened #117448 "Getting started: NVDA does not allow up / down navigation"
Refs: #117313

1. Turn on NVDA screen reader on windows
2. VS Code - > getting started
3. Try to use up / down to navigate between getting started buttons -> does not work 🐛

NVDA seems to be eating up the up and down keys.
I am not sure why that is the case. Probably because NVDA thinks you are in Browse mode and then does not allow up / down.
@MarcoZehe might have an idea

[2021-02-23 18:44] RMacfarlane opened #117449 "No visual indicator that cells have been multiselected"
Testing #117295

1. Open a github issues notebook file
2. Shift + click to multi-select cells

I'm not seeing any indicator that a cell has been multiselected, but I do see the `vscode.window.onDidChangeNotebookEditorSelection` event getting firing on click

![try_multiselect](https://user-images.githubusercontent.com/3672607/108891773-f38b5780-75c3-11eb-9191-6cede2ba6829.gif)

[2021-02-23 18:45] sbatten commented on #117447
@connor4312 yes, the setting only applies to custom, maybe I could add some additional text in the description

[2021-02-23 18:45] isidorn commented on #111255
I did not yet have time to try this out, but I do plan to test it out end of this week.

[2021-02-23 18:45] Scoder12 commented on #23991
The `"keyboard.dispatch": "keyCode"` workaround was working but recently it isn't working anymore.

[2021-02-23 18:46] IllusionMH commented on #117406
No need to spam duplicates over an over.

As was mentioned in #114725 and #117401 this is external error and there is nothing to fix in VS Code.

Available options were provided in https://github.com/microsoft/vscode/issues/117401#issuecomment-784389432

[2021-02-23 18:46] connor4312 commented on #117275
With menuBarVisibility: hidden, customMenuBarAltFocus seems to have no effect. I would expect the menu to be shown when focus is given to it via `alt`

[2021-02-23 18:47] jedensuscg commented on #115174
Yes. I even uninstalled and re-installed and did install any extensions.
My full version info
Version: 1.53.2 (user setup)
Commit: 622cb03f7e070a9670c94bae1a45d78d7181fbd4
Date: 2021-02-11T11:48:04.245Z
Electron: 11.2.1
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Windows_NT x64 10.0.19042

Insiders Edition still works normally:
Version: 1.54.0-insider (user setup)
Commit:

[2021-02-23 18:48] eamodio commented on #117372
Seeing the same.

[2021-02-23 18:48] MarcoZehe commented on #117448
I haven't tried it on Windows, but on Mac, this is definitely announced as a document. And this makes sense, since only traversing it in virtual mode guarantees we get to all the information that is there. I use VoiceOver navigation commands on that page/in that tab to get to all these bits of information as well. I am actually not sure this is a bug.

[2021-02-23 18:48] MrDisturbance commented on #116561
Last time I checked my VSCode there was something along the lines of that login error.

[2021-02-23 18:49] sbatten commented on #117275
@connor4312 sounds like you are describing `toggle` behavior. That is the primary difference between `hidden` and `toggle`

[2021-02-23 18:49] connor4312 opened #117450 "fullscreen x hidden in linux results in inaccessible menu"
Testing #117275

With

[code]

Regardless of `customMenuBarAltFocus`, the menu is not accessible in full screen under Xubuntu. In windowed mode I can still access the menu by hitting `alt+f` for example, but this isn't the case in fullscreen.

[2021-02-23 18:50] roblourens commented on #106747
Yeah @jrieken, I think we can discuss whether this would be enforced by vscode or by an extension, since many extensions probably don't need to care about workspace trust. And I guess we already added some notebook metadata related to trust? We can discuss how trust should work, but it sounds like I can re-merge the change next week.

I'll ping again when I do it @DonJayamanne but FYI, runnable me

[2021-02-23 18:51] connor4312 commented on #117447
I think the property name makes it obvious... I just looked at the matrix and started iterating through the combinations without thinking about it that much.

[2021-02-23 18:51] #117447 closed

[2021-02-23 18:53] #116736 closed

[2021-02-23 18:54] eamodio commented on #117367
I've waited over 10s, multiple times and I never seem to get the split size restored.

[2021-02-23 18:54] sbatten commented on #117450
this is really a quirk between the two versions. IMO the mnemonics should not work at all when the menubar is hidden (that's why we have 2 settings hidden vs toggle), we also have less control over the activation of the native version. In the interest of consistency, I can look into getting mnemonics to pull the menu up in fullscreen when hidden.

[2021-02-23 18:57] eamodio commented on #117432
FWIW, this works fine for me on Windows.

[2021-02-23 19:01] kieferrm commented on #116726
@plainerman thanks for reaching out. As of right now, there is no such documentation as we don't have a predefined escalation process. The reasons why there is no response may differ on a case by case basis. Couple of examples:
- the assignee is temporarily unavailable such as parental leave, vacation
- the conversation/review needs a level of engagement that the assignee is currently not able to

[2021-02-23 19:03] rebornix opened #117451 "workbench.editorAssociations no longer respected"
Issue Type: <b>Bug</b>

User's `workbench.editorAssociations` was no longer honored after https://github.com/microsoft/vscode/commit/413963c489fafa5163b5d6513731c7953de07fb3#diff-526c9917a850212febfac51bc2e8e64da14477f791d315cb134624a8941f4d8f

This broke custom/notebook editor contribution whose `priority` is `option`. For example, if user set Hex Editor or Jupyter Editor as the default editor in

[2021-02-23 19:03] boomshakar opened #117452 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `git`
- Extension Version: `1.0.0`
- OS Version: `Windows_NT x64 10.0.10240`
- VSCode version: `1.53.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2021-02-23 19:04] boomshakar commented on #117452
[code]

[2021-02-23 19:06] lramos15 commented on #117451
Sorry I should've opened this bug this morning as I discovered it. Ben and I accidentally renamed one of the properties from `viewType` -> `editorType`. It should still respect them if you have the setting renamed correctly, but I need to fix the wording. Try setting the setting from the gear icon in the quickpick for now.

[2021-02-23 19:08] boomshakar commented on #117452
Please what do i need to do

[2021-02-23 19:09] eldoy commented on #117412
Ah ok, so how do I disable it? It still shows when I don't do multi-select, and it's pretty useless and extremely distracting.

[2021-02-23 19:12] roblourens commented on #116786
I don't totally understand the fix. Should it fix the issue in general or make it less noticeable? It seems like this can still happen

https://user-images.githubusercontent.com/323878/108894815-a7daad00-75c7-11eb-861b-5edacb995707.mp4

Screenshot of the overflow frame

![image](https://user-images.githubusercontent.com/323878/108894877-bcb74080-75c7-11eb-952a-4b20b716e02a.png)

[2021-02-23 19:14] #117412 closed

[2021-02-23 19:14] kieferrm opened #117453 "Focus border when adding a port"
Testing microsoft/vscode-remote-release#4515

1) Manually add a port in the Ports view

I would the focussed table cell to have a full focus border and not only on the sides:

![image](https://user-images.githubusercontent.com/4674940/108895252-32bba780-75c8-11eb-84c5-df87a8d603ca.png)

[2021-02-23 19:15] WatDuhHekBro commented on #117278
What you could use instead is `onEnterRules`. This snippet for example unindents after pressing enter as long as it matches the regex patterns given (in this case, after a break statement).
[code]
If you want to take the previous line into account, there's `previousLineText` too.

[2021-02-23 19:15] RMacfarlane commented on #116561
@MrDisturbance Can you share what exactly the error message says?

[2021-02-23 19:17] DonJayamanne commented on #115717
Validated, works now, closing this issue

[2021-02-23 19:17] #115717 closed

[2021-02-23 19:21] HamHawk01 commented on #115715
I am hesitant to post a work around since that involves security.  However I do have a case for an official resolution with beyond trust.  When that get done I can probably post the "beyond trust" resolution.  No idea how soon that will occur since my pc is working.

[2021-02-23 19:21] DonJayamanne opened #117454 "Insider builds should use Native Notebooks as deafult"
This way when users open an ipynb even before extension actiavtes, it will open in notebook.
Else it will fist open in plain text, then extension activates & then we add settings into settings.json so that it always opens in notebook Editor.

For Stable VS Code we can ensure it is optional & for insider builds we make it the default.
I.e. pre-build just udpate the package.json file, just as we do

[2021-02-23 19:24] davewthompson opened #117455 "Pull/yarn/yarn compile web/yarn run web doesn't build workbench.js file."
- VS Code Version: (master)
- OS Version: macOS 11.2.1

Steps to Reproduce:

1. Fork repo as per instructions
2. Check out repo
3. Run `yarn`
4. Run `yarn run compile-web`
5. Run `yarn run web`

Does this issue occur when all extensions are disabled?: N/A

Error message:

[code]

[2021-02-23 19:25] gregvanl opened #117456 "Source Control action bar item order changed"
- VS Code Version: 1.54.0 Insiders
- OS Version: Windows 10, macOS

Steps to Reproduce:

1. Open VS Code in a repo and make a pending change.
2. Hover over the changed file in the Source Control view

The order of the Source Control view file actions has changed with Discard being the leftmost.

![image](https://user-images.githubusercontent.com/12818376/108896141-5fbc8a00-75c9-11eb-9842-31666a882

[2021-02-23 19:27] uglybugs commented on #117094
hi Luciana Abud,

we received an e-mail that was from: “Not Wearing Pants”
and thought that it was junk mail.

would like to let you know the terminal.integrated.rendererType was on “canvas”
this issues has been so frustrating for the last 6 weeks !
Quite Awful

can not being to tell you how happy we are that you were able to fix it by changing to “dom”.
thank you thank you !

for clarity,  this i

[2021-02-23 19:28] bamurtaugh opened #117457 "`Actionbar has failed` on hover, although test passed"
Testing #117305

I ran both tests under the `ActionBar`: `prepareActions()` and `hasAction()`. The viewlet says each of them passed, but when I hover over the Actionbar or prepareActions() in the code, it says they've failed. See the `Actionbar has failed` message in the screenshot below:

![image](https://user-images.githubusercontent.com/25310137/108896088-4b788d00-75c9-11eb-96cb-abb03374ff8d.pn

[2021-02-23 19:30] RMacfarlane opened #117458 "Support expanding multiselection when using arrow keys in notebooks"
Testing #117295

It would be nice if holding "shift" while using the up/down arrow keys would expand the cell selection like in trees

[2021-02-23 19:30] gregbenz opened #117459 "drag and drop folder to terminal no longer works"
Issue Type: <b>Bug</b>

In the past, you could drag a file/folder from the Explorer to the Terminal to get the path and it would work.

Now, the path is enclosed with a single quote on either end, which causes it to fail in bash. You end up having to delete the quotes, which is cumbersome since it is used so frequently.

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-

[2021-02-23 19:32] jonsequitur opened #117460 "[Notebook] Execution timer starts with negative value"
Reported in [dotnet/interactive](https://github.com/dotnet/interactive/issues/1092) by @arkada38:

### Describe the bug
I've connected to raspberry pi 4 via ssh remote and vs code on windows 10.
I see negative exacution time on each cell.

### .NET Interactive
Version: 1.0.211906+4b8eb267854eb055ef2f7b16561ebbcd6cc69b2e
Build date: 2021-02-19T20:40:06.0000000Z

- OS: Linux (Raspberry Pi OS)
- Fron

[2021-02-23 19:39] zersiax commented on #93896
For what it's worth, I think there often shouldn't be a huge accessibility difference between HTML and Markdown, and if there is a difference for a particular extension's HTML, I'd say that's a problem the extension author can work on.
In practice I really don't think this will add a huge amount of overhead; most HTMl, especially sans JS trying to make things more interactive, is pretty readable.

[2021-02-23 19:40] roblourens opened #117461 ""... wants to sign in" dialog uses auth provider ID, not label"
Testing #117299

It seems like this should use the label, not the ID:

![image](https://user-images.githubusercontent.com/323878/108898054-95fb0900-75cb-11eb-8139-61e4c373269f.png)

I registered my provider like this:

[code]

[2021-02-23 19:41] BillSkiCO opened #117462 "Vertical Rulers off by 1"
Running: Version 1.50.1

Within settings.json,

` "editor.rulers": [
    80, 120
    ]
`
results in the vertical ruler being rendered at the end of column 81 and column 121 instead of at the expected end of column 80 and 120

[2021-02-23 19:43] gjsjohnmurray commented on #117431
Maybe use the advice at https://github.com/microsoft/vscode/wiki/Keybinding-Issues to check whether you somehow bound that keystroke to something else

[2021-02-23 19:44] roblourens opened #117463 "My extension broke the account menu"
Testing #117299

I have a simple auth provider that returns an empty array for `getSessions`. When I click the Accounts menu in the activity bar, nothing happens. When my auth provider is not registered, then it opens up and shows my github and msft accounts as usual.

![recording (2)](https://user-images.githubusercontent.com/323878/108898737-6dbfda00-75cc-11eb-94c4-e60ac674e986.gif)

Here's my e

[2021-02-23 19:44] roblourens commented on #117463
Even if I return some session, it seems like the same thing happens.

[2021-02-23 19:47] jojijoy15 commented on #117316
No in the code insiders this problem doesn't seem to exist. But it exists in code version 1.53.2. I don't understand why I cant close the untitled files. Whenever I close them a new one pops up.

![vscode-recurring-file-open](https://user-images.githubusercontent.com/21302850/108899045-f4f96600-763d-11eb-8dfc-31afc5ec80e9.gif)

[2021-02-23 19:47] #117461 closed

[2021-02-23 19:48] meganrogge commented on #117449
Seeing this also

[2021-02-23 19:50] roblourens opened #117464 "Terminal stuck on "starting""
I "Reload Window"'d an Extension Development Host window, and got this. Terminal is functional, but the title is stuck. I think the terminal was blank until I hid and showed the panel.

![image](https://user-images.githubusercontent.com/323878/108899410-3a317f80-75cd-11eb-9f94-a3f01eaf66a9.png)

Error in devtools:

![image](https://user-images.githubusercontent.com/323878/108899452-46b5d800-75cd-1

[2021-02-23 19:50] meganrogge opened #117465 "something that says Shift and Click to select more cells"
Testing #117295

When I hold down shift in a notebook, it would be nice to see `Shift + Click to select more cells`.

Similar to how there's text that says Ctrl + Alt + Enter to run, but this would only appear if I have the shift key pressed

[2021-02-23 19:51] davewthompson commented on #117455
Seemed to work when I ran `yarn run compile` first **and actually waited for the build to complete!**

[2021-02-23 19:51] #117455 closed

[2021-02-23 19:52] roblourens commented on #117464
Reload Window again did not fix it. Closing the window and launching the debug task again did not fix it. Same error in devtools each time.

[2021-02-23 19:55] brooke-poweredbyliquid opened #117466 "Problems w/Intellisense & Find Usages"
Issue Type: <b>Bug</b>

I use VS code to edit both typescript/angular and C#.

Since the lastest update, intellisense is SUPER slow. I've set my preferences to show intellisense after 1 ms just to be safe, and still it's taking 5-10 seconds to load, which makes it unusable.

I've tried turning off all my plug-ins, and it doesn't make a difference.

Also, trying to find references from html no long

[2021-02-23 19:56] #117295 closed

[2021-02-23 19:57] egamma opened #117467 "Auto Run hover should indicate whether the current stat is on or off"
Testing #117305

![image](https://user-images.githubusercontent.com/172399/108900044-6ecb2880-7619-11eb-8597-3629a0eb85b1.png)

The hover should indicate the current state of the auto run e.g. 'Enable Auto Run' and 'Disable Auto Run'.

[2021-02-23 19:58] IllusionMH commented on #117462
Ruler is placed after given number of characters. So when you have `80` it means that length of string to the lest of ruler in 80 characters.

If you are saying that they are shifted based on status bar  - Col in status bar represents "start" of next character (if show 1 at the start of the string, 81 after 80 characters).

Do you see something different?

P.S. latest VS Code version is 1.53.2

[2021-02-23 19:58] egamma opened #117468 "Labels in Peek are not aligned"
Testing #117305

pls see the screenshot below

![image](https://user-images.githubusercontent.com/172399/108900414-e39e6280-7619-11eb-9273-9ba41a5ca892.png)

[2021-02-23 19:59] meganrogge commented on #117367
@eamodio I can't reproduce that. Can you pls attach a gif?

[2021-02-23 19:59] roblourens opened #117469 "Make added, removed, changed, optional in auth session change event"
Testing #117299

Minor thing, but implementing this, I noticed that it would be nice for added, removed, and changed, to be optional properties on the change event that the extension has to construct, because it's likely that only one of them is relevant at a time.

https://github.com/microsoft/vscode/blob/67ded11020014caf9f9627f3756d398adaeae848/src/vs/vscode.d.ts#L12352-L12352

[2021-02-23 20:00] roblourens commented on #117463
I noticed this error in devtools:

![image](https://user-images.githubusercontent.com/323878/108900633-afea1b00-75ce-11eb-8b76-f982f648f410.png)

But there is an auth provider with that id...

[2021-02-23 20:03] egamma opened #117470 "Indicate whether a test run state is unknown"
Testing #117305

- have a green test
- edit the file containing the test

It would be nice to show that now the state of the test is unknown (e.g. last state in grey) so that the user is reminded to rerun the tests.

[2021-02-23 20:03] #117463 closed

[2021-02-23 20:04] RMacfarlane commented on #117463
Ah, there's also a way to add a package.json contribution declaring an auth provider, which I was using to populate a list of auth providers immediately on `vscode.authentication`. That API didn't make it into stable but there are some traces of it I need to remove, this was trying to use the label from that. Nice catch!

[2021-02-23 20:06] isidorn commented on #117448
Yeah on Mac it worked just fine for me. @JacksonKearl can you double check if you also see this issue with Win and NVDA?

[2021-02-23 20:09] RMacfarlane commented on #117469
Makes sense to me, but we seem to have a pattern of requiring these on other change events. For example `BreakpointsChangeEvent` and `WorkspaceFoldersChangeEvent` also have added/removed as required. @jrieken @mattbierner Any thoughts on this/historical reasons? Do we care about being consistent with these?

[2021-02-23 20:11] egamma opened #117471 "Incorrect expansion state on Test suite"
Testing #117305

See the screenshot below, the expansion state is shown as collapsed when it should be expanded
![image](https://user-images.githubusercontent.com/172399/108901679-74297280-761b-11eb-8b2d-333ea3dbc1db.png)

To reproduce
- Collapse the Array test suite
- In the filter box type 'first'
- Expand the Array test suite
--> the expansion state is incorrect

[2021-02-23 20:25] webdog commented on #48659
This is editing the authorized keys of root to suppress several ssh options and error messaging, to allow a remote user to authenticate as root, over ssh. AFAICT, this isn't "user access with key + sudo bash"

The security implications of allowing root authentication/login from SSH (with a password or otherwise) are fairly well documented across the internet:

https://www.baeldung.com/linux/root-l

[2021-02-23 20:29] Ivan0xFF commented on #111412
I am also still seeing this issue on the 16-inch MacBook Pro.

`
Version: 1.53.2
Commit: 622cb03f7e070a9670c94bae1a45d78d7181fbd4
Date: 2021-02-11T11:45:54.515Z (1 wk ago)
Electron: 11.2.1
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Darwin x64 20.3.0
`

Only solution is to disable hardware acceleration. Any chance we'll see a fix for this soon?

[2021-02-23 20:35] mjbvz commented on #117466
Please share some typescript code that demonstrates the issue

For C#, open an issue against the C# extension

/needsMoreInfo

[2021-02-23 20:36] kylebakerio commented on #23991
Amazing. I've been following this issue for years. I don't know any other app on linux that has had so much trouble respecting this issue that I've ever interacted with--and it's a tool built specifically for developers to write code?

I guess it matters that it is built by microsoft?

[2021-02-23 20:36] #117406 closed

[2021-02-23 20:40] roblourens opened #117473 "Sign out dialog feedback"
Testing https://github.com/microsoft/vscode/issues/117299

![image](https://user-images.githubusercontent.com/323878/108904780-cba3f000-75d3-11eb-8c33-9d6614ea9d6d.png)

- "Sign out of these features" doesn't feel like the right wording, maybe "Sign out of this account"? If you want the emphasis on the extensions that won't have that account anymore, you could use "Sign out from these extensions"

[2021-02-23 20:42] rzhao271 opened #117474 "Not sure how sorting should occur for multiple providers"
Testing #117288

I added the following three providers: one which does case-sensitive local variable lookups, another which finds global variables (case-insensitive) and provides text saying it's global, and another one which finds local variables (case-insensitive) and provides text saying it's local. All three use the range provided in the repo:
`const rng = new vscode.Range(l, m.index, l, m.ind

[2021-02-23 20:42] rebornix opened #117475 "No top level autocomplete for contributes.gettingStarted"
Testing #117310

![image](https://user-images.githubusercontent.com/876920/108905424-8b913d00-75d4-11eb-8eae-bcf6ffd528d0.png)

[2021-02-23 20:43] knutole commented on #48659
@webdog Thanks for your input!

With `PermitRootLogin prohibit-password` in `sshd_config`, the only way to gain access is with the private key. I agree with the posts you referenced that allowing password auth is not a good idea on SSH in general. But I don't agree that root login with private key is inherently less secure: it's still impossible to login without the 4096 RSA private key, and of co

[2021-02-23 20:44] ralexrdz commented on #115918
Still not working testing with new code-insiders
[code]
I'm not even getting a browser prompt. The usual workaournd before was accessing this url in the browser, getting a token, clicking the singing to github button at the bottom and pasting the token. But is still not working.
`https://insiders.liveshare.vsengsaas.visualstudio.com/auth/`

Maybe is a different url now?

[2021-02-23 20:45] rebornix opened #117476 "No autofill template gettingStarted.button"
Testing #117310

After typing `"button":` and then pick suggestion will insert below content

[code]

but since `command` and `title` are required, we may want to insert

[code]

[2021-02-23 20:46] bamurtaugh opened #117477 "Unexpected test debug behavior - could not read source map"
Testing #117305

Choose to Debug Test (I believe it was for chord mode test, but it was one of the tests under AbstractKeyBindingService). The test passes:

![image](https://user-images.githubusercontent.com/25310137/108905131-32c1a480-75d4-11eb-9af3-2caa14be8166.png)

However, I got a lot of red output pop in my debug console - not sure if it was from my own config, the test provider, the repo, o

[2021-02-23 20:49] mjbvz opened #117478 "Select a language button only works if editor is focused"
Testing #117253

1. With `"workbench.editor.untitled.hint": "button"`
2. Open the settings editor
3. Open a new untitled file next to the settings editor and confirm the select language button is shown
4. Focus on the settings editor
5. With the settings editor still focused, click the `select a language` button

**Bug**
The language picker says: `no active language at this time`

![Screen Shot 20

[2021-02-23 20:50] mjbvz commented on #117478
This also happens with the `language` link with `"workbench.editor.untitled.hint": "text"`

[2021-02-23 20:50] brettfo commented on #117083
How do we know we're properly mapping the notebook that comes in via `onDidCloseNotebookDocument` to the new one in `onDidSaveNotebookDocument`?  How can that be distinguished from the case where a user closes one notebook then immediately saves another?  Similarly, if I listen to these events now, just the act of closing a notebook seems to fire both `Close` and `Save` events; in this case I _do_

[2021-02-23 20:51] #117288 closed

[2021-02-23 20:51] bamurtaugh opened #117479 "Unexpected collapse/expand selfhost test provider behavior"
Testing #117305

When I expand/collapse test sections (i.e. just clicking on the icon/expansion symbol below), I don't expect the view to change to that file.

![image](https://user-images.githubusercontent.com/25310137/108906125-64873b00-75d5-11eb-9c2b-b4c4c860d796.png)

I would expect to be brought to that file if I clicked more on the test/section's name, not just on the expansion symbol. Or at

[2021-02-23 20:53] #117421 closed

[2021-02-23 20:57] mjbvz opened #117480 "Change untitled file link span"
Testing #117253

With `"workbench.editor.untitled.hint": "text"`, the `language` link looks odd to me:

![Screen Shot 2021-02-23 at 12 56 07 PM](https://user-images.githubusercontent.com/12821956/108907148-98af2b80-75d6-11eb-83cd-b9814691f548.png)

I suggest that the link instead include the text `Select a language` instead of just `language`

[2021-02-23 20:58] bamurtaugh opened #117481 "Can't unhide test/reveal back in explorer"
Testing #117305

Hide a test (cancel despite...)

![image](https://user-images.githubusercontent.com/25310137/108906968-5d146180-75d6-11eb-803d-df76c568058e.png)

Open file where test is located, Reveal in Explorer to bring it back/unhide it

![image](https://user-images.githubusercontent.com/25310137/108907034-71f0f500-75d6-11eb-9440-1a934af90d5d.png)

I don't see it in the explorer? I expected i

[2021-02-23 20:58] #117305 closed

[2021-02-23 21:00] hoffman186 opened #117482 "Errors"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-02-23 21:00] mjbvz opened #117483 "Include way to hide select language button in untitled files"
Testing #117253

With `"workbench.editor.untitled.hint": "button"`, I suggest that we add a simple way to hide the `Select a Language` button

![Screen Shot 2021-02-23 at 12 59 23 PM](https://user-images.githubusercontent.com/12821956/108907468-f5124b00-75d6-11eb-830c-ea4f79f7ac96.png)

We already have a `don't show again` button for `"workbench.editor.untitled.hint": "text"`:

[2021-02-23 21:01] #117482 closed

[2021-02-23 21:01] rebornix commented on #117310
It works in overall but I'm not sure how one extension will clear the get started states other than changing the command ids used in the steps.

[2021-02-23 21:01] #117310 closed

[2021-02-23 21:02] mjbvz opened #117484 "'Select a language' text can end up overlapping with the scrollbar"
Testing #117253

1. With `"workbench.editor.untitled.hint": "text"`
2. Open a new untitled file
3. Shrink the editor down to that the `select a language ...` text wraps

**Bug**
The `select a language` text ends up overlapping with the scrollbar

![Screen Shot 2021-02-23 at 1 02 09 PM](https://user-images.githubusercontent.com/12821956/108907772-5c2fff80-75d7-11eb-98b6-e3cab7ae0b64.png)

[2021-02-23 21:02] #117253 closed

[2021-02-23 21:04] mjbvz opened #117485 "'Select a language' text overlaps with minimap"
Testing #117253

1. With `"workbench.editor.untitled.hint": "text"`
2. Enable the minimap
2. Open a new untitled file
3. Shrink the editor down to that the `select a language ...` text wraps

**Bug**
The `select a language` text ends up slightly overlapping with the minimap:

![Screen Shot 2021-02-23 at 1 04 30 PM](https://user-images.githubusercontent.com/12821956/108907993-aca75d00-75d7-11eb-981

[2021-02-23 21:05] deepak1556 commented on #111412
@Ivan0xFF the fix needs to be addressed in chromium, currently tracked at https://bugs.chromium.org/p/chromium/issues/detail?id=1068170

[2021-02-23 21:15] mjbvz commented on #114031
Unassigning myself but please let me know if any of these failures look like they are in my code

[2021-02-23 21:15] DonJayamanne commented on #106747
Hmm, interesting. Who should own the concept of trust here.
If the content provider says that a notebook is not trusted, then shouldn't it say that it will not allow any kernel to run it.
It seems we're passing responsibility of trust to a kernel.
I.e. if a different kernel exists that can run a notebook then VSC will allow the ability for the user to run that notebook, even when the contents are

[2021-02-23 21:17] rzhao271 commented on #117277
Changed the description a bit because I forgot once again that the extensions path has to be to a folder (not directly to snippets.json)

[2021-02-23 21:19] DonJayamanne commented on #106747
Will workspace trust make trusting notebooks unnecessary? Or do we still need both.
If both, then extension owns the notion of trust, hence we need to make changes at our end, but what about other kernel running code against untrusted notebooks.

[2021-02-23 21:22] weinand commented on #117374
I agree, the key (=variable) shown in the inline key/value pair should use the same casing as the variable in the corresponding source code line.

But this can be easily achieved by passing the **unmodified** variable into the `InlineValueVariableLookup`.
The case-insensitive lookup ensures that this variable name is matched against variables in the VARIABLES view that have a different casing.

So

[2021-02-23 21:22] #117374 closed

[2021-02-23 21:26] mjbvz commented on #117423
For `esc`, the difference seems to be that we focus the cell instead of the editor instance

[2021-02-23 21:27] bachmannn commented on #116020
I have the same problem, was there change in recent build?

[2021-02-23 21:29] deepak1556 commented on #115868
Can anyone try the latest insiders https://code.visualstudio.com/insiders and check if this is fixed.

[2021-02-23 21:29] rebornix opened #117486 "Authentication prompt when requesting session from the same extension"
Testing #117299

It might be by design but it's weird to me that registering the authentication provider and requesting sessions from it prompts

![image](https://user-images.githubusercontent.com/876920/108910772-2d1b8d00-75db-11eb-9b00-f01a05c1c03b.png)

[2021-02-23 21:35] kowalski7cc commented on #116548
Yeah, even when I want to undo a rename it's not really clear.
Undo could also be "ripristina".
I'd keep "annulla" for the "cancel" button instead of "cancella" because the Italian translation means both abort and delete (mostly) so in this case, it could lead this too to confusion.

![image](https://user-images.githubusercontent.com/5065094/108910744-9379cd00-7626-11eb-92a3-1ad27925de01.png)

[2021-02-23 21:35] deepak1556 commented on #115804
@migrc3 can you try the latest insiders and check if the issue is fixed https://code.visualstudio.com/insiders

[2021-02-23 21:37] eamodio commented on #117367
![terminal](https://user-images.githubusercontent.com/641685/108911573-68c35080-75f5-11eb-9b15-eb973d8fdbd9.gif)

[2021-02-23 21:40] mjbvz opened #117487 "Pressing esc when a notebook cell is selected in edit mode does not exit edit mode"
Split from #117423

1. With `"notebook.experimental.useMarkdownRenderer": true`
2. Open a notebook with a markdown cell
3. Double click the markdown cell
4. This should start editing it
5. Now press `esc`

**Bug**
Nothing happens

This should exit edit mode

[2021-02-23 21:40] meganrogge commented on #117372
Doing the above steps does not cause the issue:
![recording (28)](https://user-images.githubusercontent.com/29464607/108911741-846e2d00-75dc-11eb-8a89-2e2ea71635b9.gif)

One more step was needed for me to repro this:
- hide the panel in folder A
- open folder B with the terminal revealed
- open folder A and reveal the panel

[2021-02-23 21:42] mjbvz opened #117488 "Wrong cursor type for rendered markdown notebook cells"
Split from #117423

1. With `"notebook.experimental.useMarkdownRenderer": true`
2. Open a notebook with a markdown cell
3. Move cursor over the cell

**Bug**
A text cursor displays

We should use a grabby cursor instead to show that you can drag and drop these cells

[2021-02-23 21:42] meganrogge commented on #117367
Can now repro this thanks

[2021-02-23 21:44] mjbvz commented on #117423
One other note on why there are now bottom borders on the `h1` elements: these borders were previously styled to white so they did not appear on light themes. I fixed the border color to match the text color.

[2021-02-23 21:46] weinand commented on #117375
The sorting code was there, but I was using a `startColumn` property of the wrong range object...

[2021-02-23 21:46] #117487 closed

[2021-02-23 21:47] #117375 closed

[2021-02-23 21:49] digitarald commented on #117344
Adding `?autoplay=true` to the iframe seems to work for the red tiger videos. If we don't want to autoplay videos on those pages we could add a URL param to the docs page when opened from VS Code that switched on autoplay via a JS snippet.

@ornellaalt what do you think about autoplaying the videos on the introvideo pages? It seems to make sense as the video is the primary content.

[2021-02-23 21:59] #117473 closed

[2021-02-23 22:01] miguelt1 commented on #117363
I got the same bug, it's very annoying actually

[2021-02-23 22:03] #117488 closed

[2021-02-23 22:05] connor4312 commented on #115996
This was a fun issue. We keep a map of 'pending' sessions when we wait for VS code to set up a debug session for the process we know about. The IDs of the session were process IDs. In the attach case, we don't know the process ID and were always using `0`. This could cause mix ups, or sessions to not get attached at all (which is what I saw on my machine).

Fixed in the [next nightly](https://gith

[2021-02-23 22:08] misolori commented on #117437
I think something like this where the product icon is contributed:

[code]

[2021-02-23 22:08] mjbvz opened #117489 "Can't drag in full width of markdown notebook cell"
Split from #117423

1. With `"notebook.experimental.useMarkdownRenderer": true`
2. Open a notebook with a markdown cell
3. Try clicking and dragging to the left of the markdown cell

**Bug**
There's a gap where you can't actually drag the cell

[2021-02-23 22:09] Tyriar commented on #117372
My guess is we're not discarding of layout information when the window goes down but we are with the processes, so folder A terminals attempt to get restored and we're not handling it.

Probable steps to fix:

- Make sure we remove layout information for terminals being killed when closing the window
- Make sure we handle exceptions thrown when restoring terminals (just in case, this shouldn't hap

[2021-02-23 22:10] connor4312 commented on #117477
This is the debug configuration vscode uses -- not related to testing

[2021-02-23 22:10] #117477 closed

[2021-02-23 22:14] #117419 closed

[2021-02-23 22:14] Tyriar opened #117490 "Pass pty host ID when creating it"
Remove the combined ID stuff in local pty service as it's more complicated than it needs to be

[2021-02-23 22:16] Tyriar commented on #117432
Likely a duplicate of https://github.com/microsoft/vscode/issues/117363

[2021-02-23 22:20] #115996 closed

[2021-02-23 22:21] srinathvs opened #117491 "Wierd White lines appearing all over the workspace"
Issue Type: <b>Bug</b>

I am currently using Windows 10 and this started a couple of months ago, but this week, it has become unbearable. The White lines merely used to occlude my file explorer in my workspace, it was annoying and made reading names of files almost impossible, but it was still ok. this week was a new low even for this White line issue. Nhow it started intruding upon my code space,

[2021-02-23 22:26] misolori opened #117492 "Too many places to contribute icons"
Testing #117263

So we have product icon themes that can be defined via `theme.json` like:

[code]

And now we also have product icon contributions that are defined in the `package.json`
[code]

Each file uses a different naming structure for IDs, font characters, and I see there are duplications with paths. It would be nice if these were all consolidated to reduce the opportunity for user error.

[2021-02-23 22:29] brooke-poweredbyliquid commented on #117466
For typescript, an example of the code isn't really going to help b/c it's just all code. It just hangs there and intellisense doesn't appear for 5-10 seconds

![image](https://user-images.githubusercontent.com/78448713/108916698-7b348e80-75e3-11eb-9774-11908d745b51.png)

[2021-02-23 22:33] IllusionMH commented on #117491
/needsMoreInfo

Could you please provide screenshot?

Does it look like this #93356 ?

[2021-02-23 22:37] Valker-Vinicius commented on #117137
@alexdima Apologies for the delay but it worked. I don't know if it happened due to the reinstallation or the installation for all users but  worked 😅

[2021-02-23 22:37] #117137 closed

[2021-02-23 22:38] mjbvz opened #117493 "Reduce padding for webview rendered markdown markdown cells"
Split from #117423

1. With `"notebook.experimental.useMarkdownRenderer": true`
2. Open a notebook with a markdown cell

**Bug**
The cells have a lot of extra padding compared to when `useMarkdownRenderer` is false

 ![image](https://user-images.githubusercontent.com/35271042/108867384-fd07c600-75a9-11eb-9a03-4c747e1ae97d.png)

[2021-02-23 22:39] mjbvz commented on #117423
I've split this out to separate issues so that we can better track fixes

[2021-02-23 22:39] #117423 closed

[2021-02-23 22:39] connor4312 commented on #117481
"Unhide" is a separate action taken in the "filter" menu. I didn't think about how "reveal" should work. Maybe revealing a hidden test automatically ticks the "Show hidden test" checkbox

[2021-02-23 22:39] nathanrpage97 opened #117494 "Make status bar overflow-x scrollable"
When the bottom statusbar is overpopulated it simply cuts-off and there is no way to access  hidden content.

By setting:

[code]

You can now scroll through the statusbar content.

[2021-02-23 22:43] deepak1556 commented on #115174
Can you delete the contents under `%APPDATA%\Code` and `%USERPROFILE%\.vscode\extensions` then start vscode. Does the issue continue to happen ?

[2021-02-23 22:43] mjbvz commented on #117466
Please share an example project that demonstrates this. That little snippet doesn't tell us enough about what could be going wrong

[2021-02-23 22:48] pheianox opened #117495 "Spelling issue of the .map() hint tolltip"
- [x] Search the issue repository to ensure your report is a new issue
- [x] Recreate the issue after disabling all extensions
- [ ] Simplify your code around the issue to better isolate the problem

- VS Code Version: 1.53.2
- OS Version: Arch Linux (Linux x64 5.10.16-arch1-1)
- Ext:
- - Prettier
- - Material Theme
- - Material Theme Icons
- - Community Material Theme
- - Dracula At Night
 - - Li

[2021-02-23 22:52] bamurtaugh commented on #117481
Got it - I see the unhide path now from the "filter" menu.

That would make sense to me!

[2021-02-23 23:02] chrisdias opened #117497 "show providerId in list of sign ins?"
Testing #117290

We don't show the provider in the list of extensions that want to sign in:

![image](https://user-images.githubusercontent.com/1487073/108919355-b638c100-75e7-11eb-8572-4cfbdfb51860.png)

In this case, test117290 wants to sign in using the `microsoft` provider and the others I assume want to sign in using GitHub.  It would be good to know what I am signing into.

`Sign into GitHub

[2021-02-23 23:05] gplumb opened #117498 "Ability to set a badge on a view"
As a vscode extension author, I'd like to be able to programatically set a badge on my custom view's title, independently of any treeview it contains.  For example:

![TreeviewGlyphs](https://user-images.githubusercontent.com/741350/108919659-4fd59200-762b-11eb-89b0-4115251ee839.png)

This image shows a '3' - but I'd like to be able to set this to any string.

[2021-02-23 23:08] gplumb opened #117499 "Ability to set a custom icon in the right-hand gutter of vscode.TreeItem"
As a vscode extension author, I'd like to be able to programatically set a secondary icon for a vscode.TreeItem that sits on the right-hand gutter in a treeview:

![TreeviewGlyphs](https://user-images.githubusercontent.com/741350/108919995-d8ecc900-762b-11eb-99af-ef27c5b8f549.png)

For example, the first entry in this treeview would be the "M", followed by the a green "U" and another green "U" ico

[2021-02-23 23:10] gplumb opened #117500 "Ability to assign additional commands to a vscode.TreeItem"
As a vscode extension author, I'd like to be able to programatically set commands for a specific vscode.TreeItem and have them visually represented in a treeview when an item is hovered over or selected:

![TreeviewGlyphs](https://user-images.githubusercontent.com/741350/108920284-4f89c680-762c-11eb-98a4-a578d2dcd479.png)

You'll see in the example here, extension.ts is offering up 3 additional co

[2021-02-23 23:11] deepak1556 commented on #117343
[code]

[2021-02-23 23:12] deepak1556 commented on #117343
Reopen is evaluating `process.crash()` again from the devtools session. Can you point me to where reopen logic is implemented.

[2021-02-23 23:19] benaltair opened #117501 "Horizontal scroll doesn't work"
Issue Type: <b>Bug</b>

I'm trying to horizontally scroll in my main editor window. It doesn't work. It works on all other applications I've tested. If I hold Shift and normally scroll, it will horizontally scroll. Sometimes it horizontally scrolls once if I change lines and then try, but after one slight movement it stops again.

It's very weird behaviour.

Brand new mouse, Logitech MX Master 3

[2021-02-23 23:19] gplumb opened #117502 "Ability to edit the label in a treeview"
As a vscode extension author, I'd like to be able to specify if a vscode.TreeItem can be renamed and for the treeview control to support this on "selection | F2" in the same manner as nodes in the explorer treeview.  The option to do this wholesale at tree level would be welcome, but for the ultimate flexibility (and the particular use-cases I have in mind), being able to independently dictate whi

[2021-02-23 23:19] Tyriar opened #117503 "Increase reload reconnect wait time to ~30 seconds"
Since we not detect when a reload is not happening on shutdown and explicitly go and kill all terminals, we should increase the amount of time we wait for terminal reconnect to be much larger as it's almost certainly going to be reconnected. Without this we would miss windows that take a long time to reload for some reason.

[2021-02-23 23:20] shaedrich opened #117504 ""Add to Workspace Recommendations" breaks *.code-workspace"
- VS Code Version: 1.53.1
- OS Version: Linux x64 5.10.15-1-MANJARO

Steps to Reproduce:

1. Open Extensions tab
2. Click on the cogs icon next to an installed extension
3. Click on "Add to Workspace Recommendations" in the context menu
4. Open *.code-workspace file

[code]

Instead of being added to `extensions.recommendations` the extension id is added to `recommendations` on the root level of t

[2021-02-23 23:30] gplumb opened #117505 "Ability to reorder nodes in a treeview"
As a vscode extension author, I'd like to be able to specify whether vscode.TreeItems can participate in a drag-and-drop reordering inside of a custom treeview.

There is some potential complexity here as it may not be contextually appropriate for some target nodes to permit a drop operation in the case of nested nodes, so any solution here would ideally call a user-defined function along the line

[2021-02-23 23:30] rzhao271 commented on #117501
Some sanity checks:
- Is this caused by an extension? Try running Extension Bisect
- Does using another mouse or trackpad (if you have one) work?
- Does reloading the window work (press F1 then search 'Reload Window')?
- Does horizontal scroll work on VS Code Insiders edition, or on a Chromium-based web browser such as Chrome or Edge?

TIL shift + scroll horizontally scrolls. That's good to know;

[2021-02-23 23:32] brettfo opened #117506 "Add an API for a notebook kernel to modify its list of supported languages at runtime."
The `NotebookKernel` interfaces exposes a `supportedLanguages: string[]` field, but for kernels that support a dynamic list of languages, there's currently no way for that list to be updated in a meaningful way at runtime.

E.g., the .NET Interactive notebook extension supports doing something like this: `#!connect -type=MySQL -name=sql -connectionString="abcd"` and from that point forward, a cell

[2021-02-23 23:33] rzhao271 commented on #117330
Yep. In general, does Ctrl+click work for you on Insiders? Alternatively, attach a screencap showing how it is not working. You can record a screencap using https://gifcap.dev.

[2021-02-23 23:47] connor4312 commented on #117068
The main process, launched as `eleectron test/unit/electron/index.js --no-sandbox ... --remote-debugging-port=9222`

[2021-02-23 23:54] connor4312 commented on #117068
I was able to reproduce this by:

1. Playing around and running tests. Eventually on one of the runs, the renderer crashed
2. The main process, launched as `electron test/unit/electron/index.js .... --remote-debugging-port=9222`, was still running. VS Code was "stuck" in a running state since the provider was still looking for data.
3. I reloaded VS Code. The main process was still running and I c

[2021-02-23 23:54] dons20 commented on #14165
Is there any word on whether we could see this added soon? The suggestion widget has had resizing enabled since v1.51 in October, 2020. Is this tooltip widget considerably harder to add this feature for or are there additional considerations to be made? Whether it's a click to resize, or a manual adjustment in settings, could we have an update on the status of this addition?

Opening new editor ta

[2021-02-23 23:57] mjbvz opened #117507 "Add json schema for emmet snippets file"
Issue Type: <b>Bug</b>

**Feature request**
Using a [emmet snippets file](https://code.visualstudio.com/docs/editor/emmet#_using-custom-emmet-snippets), there is currently no IntelliSense.

It would be great if we provided intellisense and error checking for this file using a json schama file

VS Code version: Code - OSS Dev 1.54.0 (Commit unknown, Date unknown)
OS version: Darwin x64 20.3.0

<det

[2021-02-24 00:04] mxschmitt opened #117508 "asf"
.

[2021-02-24 00:04] #117508 closed

[2021-02-24 00:06] canadaduane opened #117509 "Create a file in a specific folder of a project (keyboard only)"
I have a project open, with many folders and subfolders. I would like to create a file. I know specifically which folder the file should exist in.

I would like a way to create a new file in a specific folder, without using the mouse.

Suggestions from Stack Overflow:

I would prefer not to have so many steps as the above suggestions. An ideal solution would be something like: "Press Cmd+P to find

[2021-02-24 00:09] misolori commented on #117263
This is very cool and excited to see extensions use this:

![image](https://user-images.githubusercontent.com/35271042/108925409-68c15180-75f1-11eb-98e7-e9449020e5bf.png)

[2021-02-24 00:09] glouischandra commented on #61447
The interface overlay feature is an excellent capabilities that can create tutorial guide for extension and improve user experience.

[2021-02-24 00:12] PathogenDavid commented on #32840
@alexdima It's not fixed for me on for VS Code 1.53.2 on Windows 20H2 either:

![image](https://user-images.githubusercontent.com/278957/108925599-8fd44f00-7602-11eb-82e6-fa323fa6ea1c.png)

(That's with default settings and no extensions.)

[2021-02-24 00:13] roblourens opened #117510 ""Sign in to another account" -> wrong scope"
Testing #117299

Not sure if I'm doing this right, but if I trigger a login to another account, then createSession is called for the scope of some existing session, not the scope passed to getSession.

- Run Hello World
- The account picker appears, "Sign in to another account"
- The provider logs `createSession ["s1"]`, when I expected it to be called with `new scope` from `getSession`

[code]

[2021-02-24 00:13] #117443 closed

[2021-02-24 00:23] mjbvz opened #117511 "No error after configuring a nonexistent emmet.extensionsPath"
Testing #117277

1. Set `"emmet.extensionsPath": ["./no-such-dir"]`
2. In an html file, try triggering emmet

**Bug**
According to #117277, I should see an error notification. However I don't see any error or notifications

[2021-02-24 00:24] roblourens opened #117512 "getSession scope"
Testing #117299

I don't totally understand how the scope list passed to `getSession` works. If it ends up calling `createSession` then it passes the scope there, which makes sense. But if `clearSessionPreference` is not set, and there is already a session for this auth provider, then it is returned whether or not it has the scopes that `getSession` requested.

If `clearSessionPreference` is set,

[2021-02-24 00:25] mjbvz commented on #117511
I also don't see error for an invalid `snippets.json` (if it isn't valid json for example)

[2021-02-24 00:30] connor4312 commented on #117457
Going to merge with https://github.com/microsoft/vscode/issues/117429

[2021-02-24 00:30] #117457 closed

[2021-02-24 00:33] ihatecodinglikeking opened #117513 "Synchronize Changes button disabled and not showing counts"
Hi recently updated my vscode to latest version after a long time but Synchronize Changes icon is not working, its disabled and not showing any push or pull numbers and getting unknown field name: HEAD .
When I click on Repositories its showing counts.
![image](https://user-images.githubusercontent.com/22953261/109005464-f9427500-7677-11eb-8a44-2ae7acaea13f.png)