[2018-03-04 17:58] egamma opened #45023 "Npm script runner: file attribute not recognized"
The task schema defined in the file and the one defined in the code mismatch.
![image](https://user-images.githubusercontent.com/172399/36948636-1184d714-1fde-11e8-8260-1880cff6e9c7.png)

[2018-03-04 18:10] octref commented on #44958
fyi @johnfn @Chillee @jpoon

[2018-03-04 18:25] #45023 closed

[2018-03-04 19:35] x1unix commented on #44960
@tomjaimz, yes. It's installed. Installed both versions (legacy beta and the new one).
Bash is accessible from command prompt.

[2018-03-04 19:45] oriash93 commented on #42508
I'd like to discuss the meaning of this setting. The User Settings say `explorer.openEditors.visible` is the number of editors shown in the Open Editors pane.
In my opinion, it could mean two things:
1. The Open Editors pane should show **at least** as much editors.
2. The Open Editors pane should show **at most** as much editors.

The expected behavior @sandy081 described sounds like the second o

[2018-03-04 20:02] breiteswiesel opened #45024 "VS code does not start on Ubuntu 17.10 - Glib version too old"
Visual studio code does not start on Ubuntu and throws the following verbose output
[code]

- VSCode Version: Snap 1.20.1
- OS Version: Ubuntu 17.10

Steps to Reproduce:

1. Start vscode from terminal with verbose

Does this issue occur when all extensions are disabled?: Yes

[2018-03-04 20:09] breiteswiesel commented on #45024
Closed due to duplicate

[2018-03-04 20:09] #45024 closed

[2018-03-04 20:16] raygervais commented on #42763
Hey Stephen and others on this thread, just an update / question for when you have a moment 😄.
After a lot of review and testing of previous git commits spanning all the way back to August 2017 `a87dd9c`, it appears that this issue was present even then. I feel as if unless I misunderstood how to test, that the only way to truly uncover the logic failure in this is to investigate the relevant func

[2018-03-04 20:26] Tyriar commented on #44960
I used to see this all the time but it went away, it might have something to do with the specific Windows version? You can try setting the terminal to launch as bash by default using the "Select Default Shell" command (F1).

@bitcrazed do you know what causes this?

[2018-03-04 20:27] Tyriar commented on #40502
@thernstig you're prbably seeing this https://github.com/Microsoft/vscode/issues/42999

[2018-03-04 20:29] Tyriar commented on #45015
Duplicate https://github.com/Microsoft/vscode/issues/40327

[2018-03-04 20:29] #45015 closed

[2018-03-04 20:31] tomjaimz commented on #44960
I would assume that you can run it by specifying the path for bash (i.e., `\windows\system32\bash` works?)

If that is the case perhaps your path could not be set correctly?  Does the `set path` command indicate that `c:\windows\system32`\ is in your path? Do you have anything path related in your "terminal.integrated.env.windows" user settings in VS Code?

[2018-03-04 20:31] Tyriar commented on #44980
It could also be https://github.com/Microsoft/vscode/issues/36307

[2018-03-04 20:32] Tyriar commented on #44987
Duplicate https://github.com/Microsoft/vscode/issues/36897 (same root cause)

[2018-03-04 20:32] #44987 closed

[2018-03-04 20:34] Tyriar commented on #44973
I think this is fixed in Insiders https://github.com/Microsoft/vscode/issues/44040

[2018-03-04 20:34] #44973 closed

[2018-03-04 20:36] #44186 closed

[2018-03-04 20:38] Tyriar commented on #44807
It looks like somewhere in your terminal launch scripts you're setting nvm prefix which is probably causing these problems as the wrong version of node is being installed. Some steps to help you solve the problem:

- Find whether your system terminal runs as login or non-login in the settings
- Find where npm prefix is being set
- Find where nvm init is being run
- Compare the order of events betw

[2018-03-04 20:44] Tyriar commented on #40928
VS Code supports whatever fonts can be drawn in Chromium. For the editor that setting is translated into `font-family: FixedSys`, so this is a bug in Chromium if anything.

[2018-03-04 20:49] Tyriar commented on #44385
We never really supported this, it's a feature request imo. I've closed a similar issue in the past as out of scope https://github.com/Microsoft/vscode/issues/27284 when we cleaned up the backlog.

[2018-03-04 20:50] Tyriar commented on #44238
Duplicate https://github.com/Microsoft/vscode/issues/36913

[2018-03-04 20:50] #44238 closed

[2018-03-04 20:52] Tyriar commented on #44933
Yes this will happen, it used to be *much* worse though. The real fix for this is to split more of the terminal's work out into a web worker so it doesn't block the renderer process. If you look at a perf profile while this happens it will show that parsing and drawing together take longer than the output takes to come from the C++ program.

[2018-03-04 20:54] Tyriar commented on #44278
I'll leave this up to @jrieken as that's the class we use to generate valid links.

[2018-03-04 20:56] x1unix commented on #44960
@tomjaimz, I was trying to start bash using full path:
[code]

P.S - This file exists in specified path

[2018-03-04 21:11] Tyriar commented on #44428
@weinand

CPU and memory load is something I've looked into a little as I'm recommending this as a way for @RMacfarlane to get the Windows process information for the issue reporter. I think we should pass into the API call what properties are needed and only they will be fetched.

I'm not sure I understand what you mean by flatten the tree and building if you really need to here. Don't you need a

[2018-03-04 21:13] Tyriar commented on #44903
I don't use zen mode or this centered layout so I'm just guessing, but I would think that users would have the panel hidden when these are active if they want to avoid clutter. Forcing the terminal to size down will mess up the wrapping and cut off output on Windows (and mac/linux until we get https://github.com/Microsoft/vscode/issues/23688) and when the terminal is narrow it's significantly hard

[2018-03-04 21:21] Mellbourn opened #45025 "launching the debugger in tmux never works first time"
I have the setup that was described by João Moreno (@joaomoreno) in his blog post https://medium.com/@joaomoreno/persistent-terminal-sessions-in-vs-code-8fc469ed6b41
Whenever I open a terminal tab in VS Code, i enter a tmux session (often attaching to an already present tmux session)
I love this setup! Among other things, it allows all the window control of tmux and it enables me to restart VSCode

[2018-03-04 21:22] Tyriar commented on #43623
https://github.com/Microsoft/vscode-docs/pull/1471

[2018-03-04 21:37] #44578 closed

[2018-03-04 21:46] jgclark commented on #44969
That would be an excellent title. Thanks.

From: Vik Ramanujam <notifications@github.com> <notifications@github.com>
Reply: Microsoft/vscode
<reply@reply.github.com>
<reply@reply.github.com>
Date: 3 March 2018 at 19:33:58
To: Microsoft/vscode <vscode@noreply.github.com> <vscode@noreply.github.com>
CC: jgclark <jonathan@clarksonline.me.uk> <jonathan@clarksonline.me.uk>,
Author <author@noreply.githu

[2018-03-04 22:48] DanTup commented on #41190
@isidorn This issue has the needs-more-info tag though I think it's easily reproducible with my last comment. Let me know if that's not the case!

[2018-03-05 00:16] insaneirish commented on #45012
Comment there says: "Thanks! This will be in the next insiders build and is on track for VS Code 1.20". Did it get included in 1.20? I'm on 1.20.1.

[2018-03-05 00:39] mesternefeld commented on #43949
Tried it without Panda Anti-virus (same issue as above but not as catastrophic as the Insiders build). I was unable to turn off Windows defender as you probably guessed.

[2018-03-05 01:03] cyrus86 commented on #43993
Yes, High Sierra and no FileVault.
Installing the extension from the market place was successful, as well.

[2018-03-05 01:37] Servius-Prime commented on #44933
Ok, I just want to make sure that it was clear that this doesn't only occur in a infinite loop. This occurs in any program that has about 10+ iterations of a loop with a cout statement in it. I just chose to give the infinite loop as an example because it is the most reproducible instance of the issue.

Also is there anything I can do to implement the "real fix" you mention or is that something th

[2018-03-05 01:39] jpoon commented on #40260
We received a couple more reports of this happening for users updating to the latest version of VSCodeVim. The theme so far has been users have been all on Windows -- linked two issues above.

[2018-03-05 01:42] cleidigh opened #45026 "Show Notifications with 0 messages displays header visible/cutoff"
Issue Type: Bug

Show Notifications command (F1/Keybord assignment) when there are no messages
displays a notification header that is cut off.

Presumably it  makes sense to not show anything matching the behavior of clicking the status bar icon.
@bpasero
Feel free to assign to me...

![image](https://user-images.githubusercontent.com/25272315/36953946-774abbaa-1fec-11e8-969a-0647ebbf6b2b.png)

VS

[2018-03-05 01:46] zoffyzhang commented on #45016
my Prettier extension was automatically uninstalled too

VSCode Version: 1.20.1
OS Version: win10

[2018-03-05 02:32] ramya-rao-a commented on #29113
This work has been reverted due to #44840 and #44352.
Re-opening and moving to March

[2018-03-05 03:16] roblourens commented on #45000
I was experimenting with this API too and wasn't sure what the plan is, will I be able to replace the built in local search provider for local files?

[2018-03-05 03:17] cleidigh commented on #34422
@bpasero
The new notification framework is great !
I'm working on testing a variety of things now in particular keyboard stuff.
I have to look at the differences for this issue.
I've already found a couple things and posted new issues for those.

Go ahead and feel free to assign relevant issues for me to fix...

[2018-03-05 03:24] atian25 commented on #44997
+1

[2018-03-05 03:59] pushqrdx opened #45028 "Intellisense not triggering after some emmet modifiers"
I am trying to implement emmet functionality inside typescript template literals yet after certain emmet modifiers like `+`, `*` or `>` followed by anything Intellisense returns `no suggestions` *it doesn't show whatever the server returns*. Before i thought the issue is related to the typescript template server, _hence the issue here  #44994_, yet i have managed to encounter the same behavior reg

[2018-03-05 04:05] stormzy opened #45029 "jump to declare error"
### Issue Type
Bug

### Description

language: C;
ex.  :
int main()
{
    int    a, b;  // this is the declaration
    while (some_bool) {
       b = 10;   // press F12 on b, cannot jump to the declaration
    }
}

in this condition,  when I press F12 in b, cannot jump to the declaration;

### VS Code Info

VS Code version: Code 1.20.1 (f88bbf9137d24d36d968ea6b2911786bfe103002, 2018-02-13T15:34:36

[2018-03-05 04:20] cleidigh opened #45030 "Notifications header not keyboard accessible"
The notifications header is not keyboard accessible and therefore not allowing access to
the expand, collapse and clear all buttons.

![image](https://user-images.githubusercontent.com/25272315/36957473-a886b7e4-2002-11e8-895a-c3658fe30781.png)

[2018-03-05 05:09] fssrepository opened #45031 "Prevent the possibility of committing "a line break as a message" to git"
you can commit "a line break as a message" to git

[2018-03-05 05:16] cleidigh commented on #45030
@bpasero
After further consideration this is probably as designed.
while you cannot focus the header there are global commands for both show notifications
and clear all notifications.  I think that's perfectly sufficient.

I'm going to go ahead and close this , reopen if you think this makes sense.

[2018-03-05 05:17] #45030 closed

[2018-03-05 05:17] IronGhost63 opened #45032 "autocomplete suggest "colg" instead of "div.col""
- VSCode Version: 1.20.1
- OS Version: macOS 10.13.3

Steps to Reproduce:

1. edit html file
2. type `div.col` autocomplete will suggest `colg` (emmet abbr) as first item instead of `div.col`
3. if you tab on colg, It got translated to `<div class="colg"></div>` which is also wrong.

`div.col` should be translated/suggest to `<div class="col"></div>` not `<div class="colg"></div>`

![screen record

[2018-03-05 05:27] cleidigh commented on #44915
@bpasero
If we make this configurable as an option does this mean we will allow overflow on top of the status bar
if the bottom clearance is less than the status bar height?
Would we have a hardcoded default that matches the current status bar height?

I do dynamically retrieve the height so it's not exactly hardcoded in case the status bar changes
I guess the element name is hardcoded and part of

[2018-03-05 05:34] bpasero commented on #44983
Cannot find it anymore, weird.

[2018-03-05 05:38] bpasero commented on #45018
`"editorGroupHeader.tabsBorder"`

[2018-03-05 05:38] #45018 closed

[2018-03-05 05:39] bpasero commented on #44980
@r3d9u11 do you have any circular symlinks in that folder you open with VS Code?

[2018-03-05 05:40] bpasero commented on #45026
@cleidigh good catch 👍

[2018-03-05 05:40] bpasero commented on #34422
@cleidigh thanks, happy for feedback

[2018-03-05 05:41] bpasero commented on #45030
@cleidigh they are eventually keyboard accessible when you Tab around often enough. But yeah, there are global keybindings to do the same.

[2018-03-05 05:44] bpasero commented on #44915
@cleidigh well I would keep the current behaviour that the dropdown does not go over the status bar by simply passing that 22px pixel value from the workbench.

Alternatively I am also fine if we hardcode this 22px to say that the dropdown is always having some spacing at the bottom of the window to look better.

[2018-03-05 06:12] bpasero opened #45033 "Viewlet: header gets updated for each view within"
Steps to Reproduce:

1. add a breakpoint [here](https://github.com/Microsoft/vscode/blob/master/src/vs/base/browser/ui/selectBox/selectBox.ts#L69)
2. open the debug view

=> the selectbox is created 4 times for each view within

I find that weird, I would only expect the header of a viewlet to change when there is a transition from 1 view to many views or vice versa. And I would possibly not expec

[2018-03-05 06:13] r3d9u11 commented on #44980
@bpasero no, folder without any symlinks

[2018-03-05 06:34] #45026 closed

[2018-03-05 06:34] bpasero commented on #45026
I pushed a fix to not allow to open the notification center if there are no notifications.

[2018-03-05 06:35] bpasero commented on #44980
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2018-03-05 07:04] ywaby commented on #38840
not exist anymore

[2018-03-05 07:04] #38840 closed

[2018-03-05 07:18] #45022 closed

[2018-03-05 07:18] #45003 closed

[2018-03-05 07:18] mjbvz commented on #45022
This is caused by one of your extensions, probably one of the markdown related ones. Please file the issue against them

[2018-03-05 07:18] r3d9u11 commented on #44980
@bpasero I found strange behavior of explorer:
I have two separated logical disks:
* sdb.EXT4 (SSD) - contains my own home directory
* sda.EXT4 (HDD) - contains data directory

when I tried to open file `/home/r3d9u11/source.nim:`
![1](https://user-images.githubusercontent.com/15020827/36961887-4f62eeb0-205e-11e8-8cea-14d785ca9c49.png)

and when I tried to open file `/media/data/home/user/source.n

[2018-03-05 07:19] mjbvz commented on #45012
Duplicate of #43629

@insaneirish This is fixed in 1.21 (the current insiders builds)

[2018-03-05 07:19] #45012 closed

[2018-03-05 07:24] tsalinger commented on #44976
Please continue the discussion of this vscode-arduino specific issue here:
https://github.com/Microsoft/vscode-arduino/issues/483

[2018-03-05 07:24] #44976 closed

[2018-03-05 07:24] mjbvz commented on #45007
@goessner What do the images paths look like?

[2018-03-05 07:32] mjbvz commented on #44994
Already filed upstream. Please don't double post

[2018-03-05 07:32] #44994 closed

[2018-03-05 07:44] leiyinghao opened #45034 "终端不能自动定位到项目所在的目录"
### Issue Type
Bug

### Description

终端不能自动定位到项目所在的目录
打开项目后下面的[终端]控制台无法跟随切换路径到项目的根目录

### VS Code Info

VS Code version: Code 1.20.1 (f88bbf9137d24d36d968ea6b2911786bfe103002, 2018-02-13T15:23:28.607Z)
OS version: Darwin x64 16.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6267U CPU @ 2.90GHz (4 x 2900)|
|Load (avg)|2, 2, 2|
|Memory (System)|8.00G

[2018-03-05 07:49] erikthorstenson opened #45035 ".pylintrc "enable=..." has no effect"
- VSCode Version: 1.20.1
- OS Version: Xubuntu 16.04

Steps to Reproduce:

1. Putting "python.linting.pylintArgs": ["--enable=F,E,W,R,C"] in .vscode/settings.json has desired effect
2. Putting "enable=C,R,W,E,F" in local .pylintrc has **no effect**. (To make sure that the .pylintrc file is being used I tried doing "disable" of the same categories, which had the the desired effect.

In other words:

[2018-03-05 07:53] zphhhhh opened #45036 "the Extension Icon is missing"
- VSCode Version: 1.20.1
- OS Version: windows 10 64bit

![image](https://user-images.githubusercontent.com/17380627/36963144-0d672452-208d-11e8-92a8-fef13868504d.png)

Steps to Reproduce:

1. reinstall the vscode
2. open

Does this issue occur when all extensions are disabled?: Yes

By `Ctrl+Shift+P` and `Show installed extensions` the ext icon will come back, but click Exploror or Search, the ic

[2018-03-05 07:59] EmmanuelBeziat commented on #13982
Still pushing for this 😛 Thanks!

[2018-03-05 07:59] goessner commented on #45007
.. images are in a subdirectory `img` below the markdown document's directory.

Path is `![right triangle](img/triangle.png "triangle")`

Path `![right triangle](./img/triangle.png "triangle")` also does not work.

thanks

[2018-03-05 08:03] gingerbeardman commented on #44983
OK thanks

[2018-03-05 08:10] jrieken commented on #44860
Hm, interesting idea I like. Maybe a little harder to magic-match than colors but we should give it a try

[2018-03-05 08:12] jrieken commented on #45014
I believe this is @dbaeumer or @aeschli and not the extension api. Fyi, for stable sorting there is `arrays#mergeSort

[2018-03-05 08:24] kingangelAOA opened #45037 "debug node is error"
- VSCode Version: 1.20.1 (1.20.1)
- OS Version: Mac 10.13 (17A405)

Steps to Reproduce:

1. debug node
2.
[code]
3. Error: The module '/Users/kingangel/work/node/Ahri/node_modules/tcp-check/build/Release/tcpCheck.node'
module.js:691
was compiled against a different Node.js version using
NODE_MODULE_VERSION 48. This version of Node.js requires
NODE_MODULE_VERSION 59.

ps: zsh  is ok

Does this issu

[2018-03-05 08:27] DanTup opened #45038 "Shortcut keys listed in file menu are rendered inconsistently"
Some of these items have the shortcut keys right-aligned but others are just on the end of the item (Open Folder, Close Folder). I don't know if it's expected (those that are left aligned look like the ones that are multiple presses (chords?)).

![keys](https://user-images.githubusercontent.com/1078012/36964465-a3ade426-204e-11e8-99c9-826b7e7b2ae3.png)

[2018-03-05 08:33] Martaver opened #45039 "Allow intellisense suggestions to be filtered by the user"
Currently, Visual Studio Code (as of 1.20.1) offers helpful hints on common language keywords like `for` and `class` and `enum` (I'm using Typescript). I don't need assistance with these words - they're just noise, blocking me from seeing more relevant entries.

I would like to selectively choose what suggestions VSCode offers me - e.g. I'm more interested in what locals and imports are available

[2018-03-05 08:38] SailorMax commented on #19254
If .git/config has "autocrlf = false" and try to commit file with other new line symbol, VSCode diff viewer show that file was changed but no changes in the file. In same time `git diff` show that changed all file.
Why this is not a bug?
How user can detect wrong new line symbol in the file?

[2018-03-05 08:42] dbaeumer commented on #44018
Yes, it is very flaky.

[2018-03-05 08:50] bpasero commented on #44980
@r3d9u11 are you saying the performance issue only shows up in the second case where many more files are opened?

We have a heuristic to look for a parent folder with a `settings.json` in a `.vscode` folder to see if any parent was ever a VS Code workspace. Is there such a `.vscode` folder in your home directory?

[2018-03-05 08:51] #45038 closed

[2018-03-05 08:55] DanTup commented on #45038
I guess I didn't search well enough! Found the original -> #27669.

[2018-03-05 08:55] isidorn commented on #45009
This is up to the debug adapter to allow breakpoints on some lines. Forwarding to @roblourens to decide if this is as designed

[2018-03-05 08:58] r3d9u11 commented on #44980
@bpasero yes, problem shows up only when I try to open path `/media/data/home/user/source.nim`
yes, I have hidden .vscode folder in my home directory (it contains subfolder `extensions`).

[2018-03-05 08:58] isidorn commented on #41190
@DanTup I have removed tha tag and plan to look into this issue this week. Thanks

[2018-03-05 08:59] ianoel230982 opened #45040 "VS Code won't start Windows 8.1 following uninstall/reinstall"
- VSCode Version: 1.4.0
- OS Version:  windows 8.1 enterprise

Steps to Reproduce:

1. I was struggling to update VS code from within the program, 'Check For Updates' was greyed out.
2. Reinstalled an older version 1.4.0 onto my machine so i had two versions of VS Code installed. 1.4.0 and a slightly newer one (cannot remember version number). Successfully updated to v 1.20 from within the 1.4.0 v

[2018-03-05 09:03] isidorn commented on #45037
Forwarding to @roblourens and @weinand since this is a node issue
@kingangelAOA please provide more details on how to reproduce this. Is this even ar error or expected behavior? Can you share your repository so we can actually reproduce?

[2018-03-05 09:05] isidorn commented on #44999
@dotconnor I can not really reproduce this
Do you see this only in insiders and previous vscode stable was working?
If you open F1 > developer tools > do you see some errors in the console?
Can you please attach a screenshot of the explorer

[2018-03-05 09:07] korandcom commented on #35711
@alexandrudima

Parameter "editor.smoothScrolling" is disabled by default in settings and smooth scroll works perfectly with touchpad. Maybe add comment to use this parameter for mouse wheel only and force using smooth scrolling without checking scroll type?

Because all modern screens has big resolution and most people using screen scaling. And smooth scroll didn't work in this case. Playing with

[2018-03-05 09:07] rjmunro commented on #29914
This is mostly a duplicate of #5402. Please ensure you give that one a thumbs up.

[2018-03-05 09:08] rjmunro commented on #34654
This is a duplicate of #5402 (and many other tickets, #5402 is the oldest as far as I can see). Please ensure you give that one a thumbs up.

[2018-03-05 09:09] rjmunro commented on #29110
This is a duplicate of #5402. Please ensure you give that one a thumbs up.

[2018-03-05 09:30] user3323 commented on #45018
@bpasero , thanks!

I think it would be good to create a topic in the VS Code's Guide, where all rules will be shown on screenshots or gifs. So the users wouldn't have a need to try everyone on themselves.

[2018-03-05 09:31] chongchai opened #45041 "cpptools extension load slowly"
### Env
- VSCode Version: 1.20.0
- OS Version: windows 7
- extension installed: ms-vscode.cpptools 0.14.6

### My Case
I open a c++ project and press F5 to debug. But after pressing F5,  it needs to wait 20 seconds to start debug process. So i check the startup performance and find the ms-vscode.cpptools use 20s to activate. I don't know whether it is normal.

### Startup Performance Measurement :

[2018-03-05 09:32] mrudulp commented on #44819
Ok, so digged in bit more, and realised it occurs for file types unknown to VSC
So try to save an untitled file with following name -- hello.typs and it will save it as hello.typs.txt
![visual_studio](https://user-images.githubusercontent.com/3527464/36967605-db1a1cb2-2068-11e8-84de-46d7f54f0a13.gif)

[2018-03-05 09:32] bpasero commented on #44980
@r3d9u11 if you delete that one, it should be fine. what are the exact contents, can you share them?

[2018-03-05 09:47] weinand commented on #45037
@kingangelAOA that's a problem with your program. You are using the node module "tcp-check" that contains native code that was built against a different version of node.

In addition: use of the "outFiles" attribute is wrong. It needs a glob pattern. So use something like `"outFiles": [ "${workspaceRoot}/dist/**/*.js" ]`.

[2018-03-05 09:47] NCC1701M opened #45042 "Allow to mark files as readonly"
- VSCode Version: 1.20.1
- OS Version: Windows 10.0.15063

In VSCode it should be possible to mark a file as read only, to prevent accidently modifying it.
There should be an entry in the command palette and a short cut to toggle the read only flag of the file. The best way would probably be to set the flag on the file system but I can also imagine some scenarios where it is reasonable to mark it

[2018-03-05 09:48] alexandrudima commented on #44919
@OwenLearnsToCode

Does this reproduce using the insiders version?

[2018-03-05 09:50] #44759 closed

[2018-03-05 09:53] ppozniak commented on #13189
Same issue
![image](https://user-images.githubusercontent.com/13921243/36968557-1f8974c0-2063-11e8-8075-3ff5024570ab.png)

[code]
And also **only** happens when I run VSC from terminal `code .`

[2018-03-05 09:56] zjh1943 commented on #44886
@mjbvz thx for you help. But it does not work.

[2018-03-05 10:00] jgclark opened #45043 "Unwanted blank space at right of editor"
I often write long markdown text files, and about the right fifth-sixth of the editor window is always blank. I have the following possibly relevant settings:

    "editor.wordWrap": "on",
    "editor.minimap.enabled": false,
    "html.format.wrapLineLength": 0,

This should give 'viewport wrapping', according to the default settings file. How can I make it use the full width of the viewport? Here

[2018-03-05 10:16] weinand commented on #42510
@roblourens Even if this would work I do not understand what the semantics would be?
"F5" uses the currently selected launch config. It does not take the open editor into account.

[2018-03-05 10:18] doorman02 commented on #44130
Hi, the author of the xml extension verified that the extension was not causing this hence re-opening the issue. For more info of what has been tested: https://github.com/DotJoshJohnson/vscode-xml/issues/143#event-1500453678

[2018-03-05 10:23] #44866 closed

[2018-03-05 10:27] sandy081 commented on #44717
@mleduque Where do you have this problem?

[2018-03-05 10:27] isidorn commented on #44866
@mjbvz good catch
@bpasero you were correct, they need to be hidden initialy. Somehow this slipped through my fingers.

[2018-03-05 10:29] DanTup commented on #41894
@sandy081 Just seen this again :(

I created a beta version of my extension as a vsix and uploaded to GitHub. I then installed it myself locally from vsix - it prompted me "this version is older" (because I already have -dev installed and this was -beta.1). I said yes and it installed. I closed Code. 10 mins later I opened Code and Dart Code is missing.

I've checked the logs and there's no mentio

[2018-03-05 10:30] yukulele opened #45044 "[pug] [syntax highlight] buffered comment color"
- VSCode Version: 1.20.1
- OS Version: MacOS 10.13.3

Steps to Reproduce:

1. use buffered block comment (`//`) in pug file (`string.comment.buffered.block.jade`)
2. color is the same as attribute value making reading difficult (tested with different themes)

Does this issue occur when all extensions are disabled?: Yes

Color should be the same as unbuffered color

[2018-03-05 10:36] bboydflo commented on #43169
I've had a very similar issue, but it was totally my mistake. I forgot to add bash.exe or powershell.exe in the end of the path

[2018-03-05 10:36] #43613 closed

[2018-03-05 10:36] #43884 closed

[2018-03-05 10:42] #44690 closed

[2018-03-05 10:48] patriciunista opened #45045 "VSCode does not restart nor update after clicking 'Update Now' button"
- VSCode Version: All versions
- OS Version: MacOS Hight Sierra 10.13.3

Steps to Reproduce:
1. Click 'Check for updates'
2. After the toast bar appears I click to 'Update now', VSCode closes and nothing happens.

Every time I have to install an update I need to go to the downloading page and reinstall it in my laptop... it is horrible, to many steps.

Does this issue occur when all extensions are

[2018-03-05 10:50] arudov opened #45046 ""Cannot find a program to debug" when autoAttachChildProcesses = True"
- VSCode Version: 1.20.1 (f88bbf9137d24d36d968ea6b2911786bfe103002)
- OS Version: Mac OS 10.13.3 (17D47)

Steps to Reproduce:

1. Use NodeJS code that forks a new process
2. set autoAttachChildProcesses to True in the Launch configuration
3. "Cannot find a program to debug" is shown

If I run another custom Launch configuration w/o autoAttachChildProcesses setting(for example I run my "Unit Tests"

[2018-03-05 10:55] alexandrudima commented on #44942
@mjbvz I cannot reproduce.

1. I create a file with the contents you indicate.
2. I select all
3. I press <kbd>a</kbd>

Everything appears to work ok. @rebornix can you reproduce?

@mjbvz I would really like to get to the bottom of this one before we ship stable. I did some changes to the way events travel between the model and the view model. Can you please distill the steps further such that I c

[2018-03-05 11:00] patriciunista commented on #45045
Found the fix in this issue [#7426](https://github.com/Microsoft/vscode/issues/7426)

[2018-03-05 11:00] #45045 closed

[2018-03-05 11:01] alexandrudima commented on #44348
@littlee I cannot reproduce with the exact same Chrome version and Code version. I am also on macOS 10.13.3.

Is this slow-down occurring for you only when you use Chrome as a web browser? What happens when you open  http://brm.io/matter-js/demo/#sprites in Firefox or Safari? Is Code somehow slowed down?

(Other than sharing the same resources -- CPU, memory, GPU -- I don't see how Chrome should a

[2018-03-05 11:04] Loreton commented on #44932
# my __main__.py code

[code]

# Problem
When I start the debugger I can STEP just the first two line and the I get an error regarding a missing feature of netifaces module (AF_PACKET).

  File "y:\GIT-REPO\Python3\DDNS\__main__.py", line 79, in <module>
    Prj.Main(gv.args.firstPosParameter)
  File "y:\GIT-REPO\Python3\DDNS\Source\Main\DDNS_Main.py", line 83, in Main
    interfaces     = Ln.getI

[2018-03-05 11:07] DanTup commented on #44092
LGTM in Insiders 👍

[2018-03-05 11:07] alexandrudima commented on #44287
@Thomastasa

I think you should open an issue against [Chromium](https://bugs.chromium.org/p/chromium/issues/list) and ask them for guidance. IMHO, `<canvas>` elements should be painted fine even if GPU acceleration is disabled/not used, but they can confirm or infirm that. i.e. I believe they have a fall-back software renderer which might have a bug in this case.

But it is difficult if you don't

[2018-03-05 11:07] #44287 closed

[2018-03-05 11:08] #44676 closed

[2018-03-05 11:12] weinand commented on #45046
How does you launch config look like?

[2018-03-05 11:15] user3323 opened #45047 "Feature Request - Match case popup window must be more visible"
- VSCode Version: 1.21.0-ins
- OS Version: win7x64

How about to make this "Match Case" popup window more visible?
I don't have problems with my vision, but this super tiny popup window is a sorry sight.

![match case popup](https://user-images.githubusercontent.com/24613274/36971977-2b3bbe96-2076-11e8-96d4-ab95382aaefa.gif)

And it's not only the size problem. You almost wouldn't say - which butt

[2018-03-05 11:16] isidorn commented on #42508
Option 1.
However the view actually always has the minimum size unless the user explicitly resizes it. So @sandy081 finds it weird that the view is still not the minimal size since he did not manullay expand it.

@oriash93 if you are passionate about open editor sizing please read these issues
https://github.com/Microsoft/vscode/issues/43501
https://github.com/Microsoft/vscode/issues/25911
https:/

[2018-03-05 11:16] joaomoreno opened #45048 "Move to YAML TFS builds definitions"
- [x] Create POC
  - [x] win32-x64
    - [x] Fix line endings #45052
  - [x] linux-x64
  - [x] darwin
- [x] Create quality build for PR and branches
  - [x] win32-x64
  - [x] win32-ia32
  - [x] linux-x64
  - [x] linux-ia32
  - [x] darwin
- [x] Create product build
  - [x] win32-x64
  - [x] win32-ia32
  - [x] linux-x64
  - [x] linux-ia32
  - [x] darwin
- [x] Setup automated PR and branch building

[2018-03-05 11:18] jrieken commented on #14783
Wrt to navigation order our plan is to use the order of the markers panel. Today F8 and the marker panels are two different components but the plan is to let them both use the same model. That means sorting and filtering will apply to F8.

1. Files are sorted by the presence of at least one error, then by their filename

<img width="1031" alt="screen shot 2018-03-05 at 12 14 30" src="https://user-

[2018-03-05 11:23] alexandrudima commented on #44867
I can reproduce every now and then, depending on the cursor position (horizontally).

This has to do with the way zooming is implemented. e.g.:
* on my mac (on an external 4K display)
* when zooming out 4 times, the pixel ratio is:
* `window.devicePixelRatio` is `0.9645061492919922`
* so that means `1 physical pixel` = `1.0368000253125007`
* we paint the cursor with the width `1.0368px`

But still

[2018-03-05 11:26] alexandrudima commented on #39249
Duplicate of #22832

[2018-03-05 11:26] #39249 closed

[2018-03-05 11:36] isidorn commented on #45033
The issue here is `panelViewet` updates the title area whenever a split view is added.
However this is only needed for the explorer (as some actions can move to the title area).
So I have pushed a fix for this to be only done for the explorer viewlet
@sandy081 please reveiw

[2018-03-05 11:37] TanninOne opened #45049 "Slow"
- VSCode Version: 1.20
- OS Version: Windows 10

Steps to Reproduce:

not sure. I have a somewhat large typescript project with several git submodules.

VS Code is extremely slow, everything, like invoking intellisense, jump to declaration, ... takes ages (easily >15 seconds). Even hitting ctrl+shift+b to start a build task takes several seconds of "Fetching build tasks..."
It's not always this sl

[2018-03-05 11:38] basilaiman opened #45050 "Add ability to "Find and Replace" in the selected text only"
In Visual Studio there is a feature to "Find an Replace" in the selected text in a file.
It would be very helpful to implement this feature in VS Code as well.

Thanks

[2018-03-05 11:38] lukaszpolowczyk opened #45051 "checkJs: true bug for paths from node_modules"
#- VSCode Version:1.20.1

Steps to Reproduce:

1. Set checkJs: true in jsconfig.json
2. NOT install jquery
3. In *.js file write:
`import $ from 'jquery';`
4. VSCode does not underline the name of the module.
5. Intellisense does not suggest jquery path.

jQuery is dependence of another module.
vscode not underline each modules from package-lock.json but should.

Same situation, with *.ts file:
1.

[2018-03-05 11:39] isidorn commented on #44978
This is fixed in the latest vscode insiders and will be available in the vscode stable release in a couple of days

[2018-03-05 11:39] #44978 closed

[2018-03-05 11:44] weinand commented on #44932
This issue was moved to Microsoft/vscode-python#948

[2018-03-05 11:44] #44932 closed

[2018-03-05 11:44] lukaszpolowczyk commented on #45051
@mjbvz #28165 is about something else.

[2018-03-05 11:54] joaomoreno opened #45052 "Move to .gitattributes"
Many thanks to @sharwell for originally pushing for this in #28945

- [x] Make sure tests work
- [x] Push `.gitattributes` file
- [ ] Publish vscode team disclaimer
  - https://stackoverflow.com/a/15646791/261019
  - Talk about `core.safecrlf`
- [ ] Update contribution docs about `core.safecrlf`

[2018-03-05 11:54] alexandrudima commented on #41500
Duplicate of #22717

[2018-03-05 11:54] #41500 closed

[2018-03-05 11:54] bpasero commented on #44866
@isidorn thanks, I assume you also hide when leaving "Centered Editor" layout again?

[2018-03-05 11:59] alexandrudima commented on #44826
Aha, I see.

That is where the horizontal scrollbar would paint itself. It used to be capturing mouse events even when it was invisible. This has been incidentally fixed recently by @joaomoreno in #42801

The fix will come with the February release and is already available on the Insiders Channel.

[2018-03-05 11:59] #44826 closed

[2018-03-05 12:08] alexandrudima commented on #44993
I think this can be reproduced by somehow editing `workbench.fontAliasing`

[2018-03-05 12:14] arudov commented on #45046
[code]

[2018-03-05 12:14] r3d9u11 commented on #44980
contents of ~/.vscode?
here is:
[code]
ok, I'll try to remove this directory and do another tests

[2018-03-05 12:17] weinand commented on #42383
@mrkmarron Since we just finished the February release, I had a chance to do more thorough review of this feature request and the related PRs.

Here is my feedback:

We always try to keep debugger specific code outside of VS Code because this code becomes easily broken by an evolving debugger and we cannot maintain this code easily if we are not owning the corresponding debugger ourselves.

For th

[2018-03-05 12:24] weinand commented on #45046
Does the problem still occur if you set "autoAttachChildProcesses" to false in your "Launch" configuration?

[2018-03-05 12:25] DanTup opened #45053 "How can I control the ordering of explorer trees?"
I have an extension that contributes some trees in the explorer, some of which are much more important than others. I can't find a way to force the ordering of these - the "important" one always seems to come last.

I tried registering them in a different order but it didn't help. I tried hiding/showing one (using contexts) to see if that would force it to the bottom, but it didn't.

In my case, t

[2018-03-05 12:33] arudov commented on #45046
The problem does not occur if autoAttachChildProcesses is false.

BTW when I set "autoAttachChildProcesses:false" and then reverted it back to "autoAttachChildProcesses: true" the dialog "Select environment" with options "Node JS" and "Python" appeared. I selected "NodeJS"  and the error "Cannot find a program to debug" appeared again.

[2018-03-05 12:39] #45040 closed

[2018-03-05 12:40] ianoel230982 commented on #45040
Resolved by installing from most recent version rather than trying to install an old version then trying to update from within.

[2018-03-05 12:52] OwenLearnsToCode commented on #44919
@alexandrudima

I installed the insiders version just now, and upon testing, it had significantly less lag spikes. But it does still occur, though rarely.

[2018-03-05 12:59] michelkaporin opened #45055 "External folder rename operation is not reflected in a workspace setup"
- VSCode Version: Insiders 1.21
- OS Version: OS X

Steps to Reproduce:

1. Create a workspace with two folders, for instance.
2. Go to an integrated shell and rename one of the workspace folders.
-> Folder rename is not reflected in the Explorer viewlet. Git viewlet is not picking it up either. Navigating to any of the files under the old folder name through Explorer viewlet results in an error.

[2018-03-05 13:02] weinand commented on #45046
Where does you launch.json live?

[2018-03-05 13:05] arudov commented on #45046
```[project dir]/.vscode/launch.json```

[2018-03-05 13:10] alexandrudima commented on #10196
Duplicate of #22832

[2018-03-05 13:10] #10196 closed

[2018-03-05 13:11] silvacarvalho opened #45056 "Request language pt-BR to VSCode"
I do not have a problem, but I would love to see VSCode with the pt-BR Brazil version.

[2018-03-05 13:18] alexandrudima commented on #44991
Here is the file for easier copy-pasting:

[code]

There are 2 deltas of 4 spaces, and 2 deltas of 8 spaces. The indentation detector should detect 4 spaces when there is a tie in the delta counts.

[2018-03-05 13:22] #29914 closed

[2018-03-05 13:22] #34654 closed

[2018-03-05 13:23] bpasero commented on #44993
@clowery52916 can you share your settings file?

[2018-03-05 13:23] #29110 closed

[2018-03-05 13:23] #44993 closed

[2018-03-05 13:23] evenfrost commented on #44417
@ramya-rao-a Still not working while other `syntaxProfiles` options are working. Tested with following config (`tag_case` was added for checking if other options were working) :
[code]
![peek 2018-03-05 16-22](https://user-images.githubusercontent.com/3055750/36977215-793c859c-2091-11e8-81d8-a9e3718e5b48.gif)

[2018-03-05 13:24] alexandrudima commented on #44919
@OwenLearnsToCode The insiders has the advantage that it is a fresh install of VSCode. Namely, it lacks your:
* settings
* keybindings
* user profile (history and such)
* extensions
* opened folders (i.e. it starts with an empty window).

Is it perhaps one of the things above that would cause the slowdown?

[2018-03-05 13:30] bpasero commented on #44980
I pushed a fix to no longer open a folder of a file if it simply contains a .vscode folder. We now require a settings.json file in there. To verify:
* shutdown VS Code
* from the command line open VS Code pointing to a file where the parent contains a ".vscode" folder
* verify we do not open the parent folder
* now try again but this time have a settings.json in there and it should open that folde

[2018-03-05 13:30] OwenLearnsToCode commented on #44919
@alexandrudima

Considering that I've been having the lag spikes ever since I freshly installed VS Code a few days ago, it shouldn't be one of those reasons. And speaking with my experience with other programs, usually performance issues don't result in sudden lag spikes.

[2018-03-05 13:31] dbaeumer commented on #44745
Assigning to @Tyriar which is next in line.

[2018-03-05 13:36] DanTup opened #45057 "Allow tree views to use icons for symbol kinds on their nodes"
To display icons in explorer trees we can either pass a path or use `resourceUri`, there's no way to re-use icons used elsewhere in code for symbol types (for example in the workspace symbol searches).

This means that extensions with trees representing code have to ship their own icons (for ex. the "Code Outline" extension has its own: https://github.com/patrys/vscode-code-outline/tree/58008bfa3c

[2018-03-05 13:50] jrieken commented on #45057
Closing this in favour of #5605 which is something we will do within the next 2 or 3 milestones

[2018-03-05 13:52] aribornstein opened #45058 "github 2fa broken in the latest update"
- VSCode Version: 1.20.1
- OS Version: Windows 10

Steps to Reproduce:

1. Try to push changes
2. Prompt for username and password or username and token
3. If password entered vscode push fails
4. If token entered push works but token is not saved meaning it has to be regenerated on every push

Does this issue occur when all extensions are disabled?: Yes

[2018-03-05 13:56] DanTup opened #45059 "Expose API for highlighting a portion of the document (as used in document symbol list)"
There's a request that I believe was for this at #540 however it's closed as done, but I think only one part of it was done.

When using the document symbol provider, moving through the items with the cursor keys "highlights" the range of that symbol in the editor in the background. I cannot find an API that allows me to provide this sort of highlight myself (outside of the symbol provider).

I ha

[2018-03-05 13:58] alexandrudima commented on #44919
@OwenLearnsToCode Can you create a profile when you notice something is laggy:

To get a CPU profile of the renderer process:
* Run `F1 > Toggle Developer Tools`
* Go to the three dots burger menu
* Choose `More Tools > JavaScript Profiler`
* Start a new CPU profile
* Do the actions that lead to slowness
* Save the CPU profile to a file and attach it

![kapture 2017-10-21 at 13 02 25](https://user

[2018-03-05 13:59] luisfpg commented on #13189
See this pull request: https://github.com/electron/electron/pull/7178

In my case (Antergos Linux, which is Arch based), the problem is that the `gvfs` has been deprecated in favor of `gio`.
So, if I set the following environment variable before launching VSCode, it works: `ELECTRON_TRASH=gio`.
Note that `gio` backend was added later than the original pull request I mentioned earlier.
Probably at

[2018-03-05 14:01] bpasero opened #45060 "Avoid use of "*" selector in CSS"
We should try to avoid the `*` selector as every single element will be matched on it.

Location: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/welcome/page/electron-browser/welcomePage.css#L25

[2018-03-05 14:03] bpasero opened #45061 "Welcome: Overlay could mention new notifications location"
On this one:

![image](https://user-images.githubusercontent.com/900690/36978972-557bfe72-2086-11e8-9ad6-1294082fedf6.png)

Could put another arrow bottom right to point to notifications location.

[2018-03-05 14:18] DanTup commented on #45057
@jrieken That sounds good - though in this case this is a specialised tree and not the normal symbol view of my document (it's a sort of render tree we build from static analysis to help the user visualise their UI). With #5606 will it be possible to have a custom tree that can render in a similar way (eg. both a stanadard symbol tree and this custom tree)?

[2018-03-05 14:20] DanTup commented on #45057
Here's an example of the tree in IntelliJ. The items are not all symbols defined in the document, but in many cases constructor invocations that would create a widget.

<img src="https://lh5.googleusercontent.com/sCxWUKC2gmUnGT-e2R1WYC288cQZhvqbE9Oe7hiKg4cvXN4oDIsUTNmCKWnz2GZOKfF1Ar32Q-Hwg3oZr_DIwo8IrB7MhV7zzFa1pajvWP9RSJj7OpNZnT6z1MbrupAx7FQf_TuF" />

[2018-03-05 14:46] DanTup commented on #32592
I'd like to see this too for a UI tree we're building. Some things it'd be nice for the API to support:

- Declaring if a node is draggable or not
- Ability to drop on top of or in between items (re-order versus changing parent)
- Ability to provide feedback while dragging about whether a given location is valid to drop on

[2018-03-05 14:47] jrieken commented on #45057
Yeah, should be possible... The idea is to extend the DocumentSymbelProvider so that it can return hierarchical data. However, the idea is also to allow for different representations of that data, e.g. a break-crumb and/or a tree. Also likely that the tree will sit where the minimap sits.

What you are trying to achieve seems a little further away from "normal" outline, tho there is no normal outl

[2018-03-05 14:48] sandy081 commented on #43993
No clue why it is working for other extensions. Can you open that temp folder and try to install an extension from VS Code and see if a folder is created in the temp folder?

[2018-03-05 14:53] sandy081 commented on #44956
@DanTup Does `isActive` returns `true` even if the extension was not activated before?

[2018-03-05 14:55] sandy081 commented on #41894
@DanTup I have added logs few weeks back and they are available in insiders and for 1.21 release.

You can see the previous logs by opening the logs folder `Developer: Open Logs Folder`

[2018-03-05 15:05] weinand opened #45062 "Switching sessions does not update terminate action's icon properly"
Save this cluster code as test.js:
[code]

and this launch config:
[code]

- F5
- switch between the first "launched" and the other "attached" sessions in the debug action bar or the CALL STACKS viewer.

Observe: the first "launched" session should show a different icon as the other "attached" sessions, but it doesn't.

[2018-03-05 15:10] sandy081 commented on #45033
@isidorn View headers and title area are updated depending on the number of views. They are a pair and to be invoked together. I think moving `updateTitleArea` away from it makes it disconnected and broken.

[updateHeaders](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/browser/parts/views/panelViewlet.ts#L320) does it smarty by checking if there is a single view or not. `updateT

[2018-03-05 15:11] lukaschal commented on #34061
Quote ( ' ) is commonly and widely used character in a french language.

[2018-03-05 15:11] DanTup commented on #41894
@sandy081 Aha, sounds good. Am I right in thinking 1.21 is due soon? I'll be sure to get logs if I see it after the upgrade (my use of Insiders is fairly sporadic as I tend to use Stable to see my extension as my users will).

[2018-03-05 15:14] tsalinger commented on #45058
Duplicates #490

[2018-03-05 15:14] #45058 closed

[2018-03-05 15:15] DanTup commented on #45057
@jrieken Yeah, I understand our need is somewhat unusual. Using the DocumentSymbolProvider for this would feel a bit weird since it's not semantically the same.

Another possible option might be to provide us with a way to get the `Uri` for a `Uri` fo built-in icons that we could provide to the existing explorer tree? That would be fairly generic/reusable and probably relatively simple to implemen

[2018-03-05 15:15] isidorn opened #45063 "Improve layout in horizontal search view"
Now that search view can be moved to the panel area we need to improve the layout to take advantage of the additional horizontal space.

- [ ] Change the font to be like the one in the editor so the whole view has more of a editor like feel.
- [ ] Labels and input fields should go on a single line
- [ ] x should be on the left to not be so disconnected (same as open editors)
- [ ] Twistie should g

[2018-03-05 15:15] lukaschal commented on #38740
Strings are not english after changing locale from "RU" to "EN".

[2018-03-05 15:16] tsalinger commented on #45056
There is no translation yet. See [this issue](https://www.github.com/Microsoft/vscode/issues/43870) for more details on how you could contribute.

[2018-03-05 15:16] #45056 closed

[2018-03-05 15:23] tsalinger commented on #45050
`CTRL + H` --> select the `find in selection` icon (or `ALT+L`).
Does this work for you?

[2018-03-05 15:26] DanTup commented on #44956
@sandy081 Yep, seems to. The `activate()` call doesn't appear to throw (this seems strange?) and `isActive` still is true:

[code]

Test looked like this:

[code]

[2018-03-05 15:27] tsalinger commented on #45041
This sounds more like a cpp extension issue.
As I can see, you already opened an issue in their repository.
Please reopen this issue, if it should turn out to be VS Code specific.

[2018-03-05 15:27] #45041 closed

[2018-03-05 15:30] tsalinger commented on #45035
I moved this issue the to python extension's repo. Please continue the discussion there:
https://github.com/Microsoft/vscode-python/issues/949

[2018-03-05 15:30] #45035 closed

[2018-03-05 15:31] isidorn commented on #44866
@bpasero yes

[2018-03-05 15:31] rhodgkins commented on #44787
I'd love this - mainly because of the ability to specify `lts/carbon` and know that it'll use the latest carbon (v8.x) that it can find from nvm. Ideally it would be nice if vscode could pick up the node version to use from the .nvmrc file though!

[2018-03-05 15:36] #43219 closed

[2018-03-05 15:36] #43606 closed

[2018-03-05 15:36] #43258 closed

[2018-03-05 15:42] aeschli commented on #44997
duplicate of #31966

[2018-03-05 15:42] #44997 closed

[2018-03-05 15:52] isidorn commented on #45049
https://github.com/Microsoft/vscode/wiki/Performance-Issues

[2018-03-05 15:53] bpasero commented on #43596
@chrmarti just fyi what you said does not seem to be our behaviour, we seem to just check for a `.vscode` folder to decide if we open the folder or not. I pushed https://github.com/Microsoft/vscode/commit/d674f7b7e1922535bf62351b3a368f16fd635a01 due to https://github.com/Microsoft/vscode/issues/44980 where our heuristic to find the home folder on Linux was not working. Now we require a `settings.j

[2018-03-05 15:53] #43287 closed

[2018-03-05 15:55] isidorn commented on #45055
/findDuplicates

[2018-03-05 15:57] bpasero commented on #45063
@isidorn another thing to discuss in UX is discoverability of search when it moves to be a panel where there is no visible action in the UI to trigger it.

[2018-03-05 16:00] ramya-rao-a commented on #44417
I was under the assumption that you were looking for the extra space for the self closing html tags only. But it looks like you want this for custom tags as well when using the `Emmet: Split/Join Tag` which doesn't respect the syntaxProfiles setting

[2018-03-05 16:02] isidorn commented on #45063
Another thing is how to discover the settings and how to move it. One idea is for the activity bar context menu actions to aslo have "move to panel / move to sidebar" which would just write the setting. An alternative is to allow drag and drop but only for search - I think this is less discoverable and has the downside of us not allowing it for other viewlets.

Anyways we can discuss in ux meeting

[2018-03-05 16:03] isidorn commented on #45063
Also what you mention seems to be a general issue with the panels and not search specific.

[2018-03-05 16:04] aeschli commented on #44992
If I understand right, you have opened an editor on a file that is modified at a quick rate.

[2018-03-05 16:04] Uristocles opened #45065 "Copy/paste alt-code character"
### Issue Type
Bug

### Description

When copy/paste an alt-code character I'm seeing unexpected results.
For example:

alt-205 should be ═
but in VS Code copy/paste results in P%

### VS Code Info

VS Code version: Code 1.20.1 (f88bbf9137d24d36d968ea6b2911786bfe103002, 2018-02-13T15:34:36.336Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|

[2018-03-05 16:05] aeschli commented on #44979
Our folding is currently based on indentation only.
The request to add language aware folding capabilities is #3422

[2018-03-05 16:05] #44979 closed

[2018-03-05 16:17] bpasero commented on #45063
@isidorn true

[2018-03-05 16:17] joaomoreno commented on #37417
@anteprimorac Can you still reproduce this?

@ha404 Can you reproduce this with our [insider release](https://code.visualstudio.com/insiders)?

This is likely fixed in `master`, due to missing file events @bpasero

[2018-03-05 16:18] joaomoreno commented on #44952
What does `which code` return?

[2018-03-05 16:18] SkyMidnight commented on #38067
I have Intel Core I5 7200U (and Intel HD Graphics 620) and this problem affected me too. Workaround was to use `--disable-gpu` option but I wanted to try another method and installed (and activated of course) i915 drivers for Intel Graphics. Now it works without any flickering problems.

[2018-03-05 16:19] chrmarti commented on #43596
We should check for `.vscode/settings.json` when in the home folder only. Not sure why we didn't do this on Mac.

[2018-03-05 16:21] joaomoreno commented on #43949
Just to confirm: same issue is the frozen window; catastrophic is the error. Correct?

This is an unfortunate issue, I really don't know how to fix, since we can't seem to get a successful installation working for you. I recommend to use our ZIP release and manually updating it, unfortunately.

[2018-03-05 16:23] joaomoreno commented on #45017
Can you share some screenshots?

[2018-03-05 16:23] isidorn commented on #45055
Duplicate of https://github.com/Microsoft/vscode/issues/29590
Hey Michele

[2018-03-05 16:23] #45055 closed

[2018-03-05 16:25] user3323 opened #45066 "Feature Request - to reserve a key for wrapping with quote-mark"
- VSCode Version: 1.21.0-ins
- OS Version: win7x64

If there are two (or more) areas with selected text, and we type '  - it will result in wrapping all these text areas.

But if there is one of these areas is not a text (kinda mix), but simple caret point - it will put ' instead of wrapping all these areas.

![z2](https://user-images.githubusercontent.com/24613274/36986088-9a819606-20a1-11e8-80f4

[2018-03-05 16:27] joaomoreno commented on #44941
Unfortunately, you got all that correctly. There really isn't any workaround for now. More info here: https://code.visualstudio.com/docs/setup/network

[2018-03-05 16:33] clowery52916 commented on #44993
This file has been removed, I can't edit anything anymore.... Why has this
ticket been closed?

On Mon, Mar 5, 2018 at 8:24 AM, Benjamin Pasero <notifications@github.com>
wrote:

[2018-03-05 16:34] #39576 closed

[2018-03-05 16:36] #44211 closed

[2018-03-05 16:36] #44425 closed

[2018-03-05 16:36] #40588 closed

[2018-03-05 16:36] #44386 closed

[2018-03-05 16:43] DanTup opened #45067 "How can I customise the context menu for a contributed tree view"
I'm trying to provide some items on the context menu for a contributed tree. I've seen that the `TreeItem` can be given a `contextValue` however this is not flexible enough - I need to enable/disable individual items completely dynamically based on each item in the tree (the commands are enabled/disabled based on specific data about each node, and not what type it is).

My plan was to use `context

[2018-03-05 16:50] DanTup commented on #45067
Actually, I simplified this and it still doesn't work - so maybe contributed trees can't use this?

Example:

[code]

TreeItem has `resourceUri` set:

[code]

But there's no context menu on the tree node.

[2018-03-05 16:50] jens1o commented on #29113
Will this affect the insiders release, too?

[2018-03-05 16:54] weinand commented on #44428
My argument was basically:
don't build the tree for me because in many use cases I do not need a tree at all and when I need a tree, then I want to build the tree myself because the nodes must be of a specific type (and I can easily filter whatever I want to omit from the tree).

If I already get a full tree, then I need to write a recursive `treeTraverser` even if I'm looking only for all process

[2018-03-05 16:55] DanTup commented on #45067
Aha, I'm putting things in the wrong place, they should go in `view/item/context`!

[code]

[2018-03-05 16:55] #45067 closed

[2018-03-05 16:55] joaomoreno commented on #44857
Yeah that's pretty rough. Promoting as a candidate. cc @sandy081

[2018-03-05 16:55] roblourens commented on #44170
Could you upload the full text of the file so I can try?

[2018-03-05 16:55] e1337us3r commented on #44486
Hi. I have a similar issue. If I install any kind of extension(including official ones), I get this error. I don't get any errors if I run --disable-extensions.

[2018-03-05 16:56] lsentkiewicz opened #45068 "Autocomplete in TSX shows many keywords"
- VSCode Version: Version 1.20.1 (1.20.1)
- OS Version: macOS Sierra (10.12.6)

Steps to Reproduce:
![image](https://user-images.githubusercontent.com/4478684/36988139-54b956e8-209e-11e8-9bd8-074508ddac75.png)

When clicking cmd+space, it shows many ts/js keywords, but it should show only `name`, `value` (custom props), and `key?`, `children?`(common props).
I think it was working fine in 1.19.

I

[2018-03-05 16:58] Paul-Dempsey commented on #34497
When you look across Unicode, and consider that you may have multilingual text in a mix of fonts (due to font linking to display all code points), even when the primary font is monospace, there are cases where there are only debatable choices as to what "COL" means. Consider Arabic, combining characters, superscripts, and so on. Without extraordinary measures in typographic manipulation, 2-d grid

[2018-03-05 16:59] DavidBabel commented on #43501
@isidorn You suggest to move the discussion on other thread, but since it's now closed, i'm following the disccussion here.

This is what @hedefalk wrotes :

Trying to understand what's going on here. Can somone explain how I can have a fixed size in any way with latest vscode? I always end up with lots of open editors and I don't want my workspace to be squished down like this:

![https://user-im

[2018-03-05 17:06] lsentkiewicz commented on #45068
Sorry duplicate #44240

[2018-03-05 17:06] #45068 closed

[2018-03-05 17:08] #44857 closed

[2018-03-05 17:09] joaomoreno commented on #44857
@bpasero Can you verify in dev?

[2018-03-05 17:13] roblourens opened #45069 ""Check for updates" shows native dialog in every open window"
- MacOS
- "Check for updates" when there are no updates available
- A native prompt ("There are no updates currently available") shows up in every open vscode window, which is annoying because every open window is focused when the dialog appears

This used to show a notification in every window which I think is better.

[2018-03-05 17:16] XuVic opened #45070 "Couldn't start clinet XXX server"
### Issue Type
Bug

### Description

When I open JSON file or HTML file, there is error msg which show "Couldn't start clnet JSON/HTML server." Only Ruby client server can work.

Error: spawn C:\Program Files\Microsoft VS Code\Code.exe ENOENT
	at exports._errnoException (util.js:1050:11)
	at Process.ChildProcess._handle.onexit (internal/child_process.js:193:32)
	at onErrorNT (internal/child_proces

[2018-03-05 17:17] #44435 closed

[2018-03-05 17:20] sergiorojasa commented on #44776
@Tyriar  I tried to fix the issue but I couldn't fix it.

[2018-03-05 17:26] rohan-paul opened #45071 "Error warning message: "Experimental support for decorators is a feature that is subject to change in a future release""
- VSCode Version: 1.20.1
Commit f88bbf9137d24d36d968ea6b2911786bfe103002
Date 2018-02-13T15:31:21.019Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64
- OS Version: Ubuntu 16.04 64-bit

Steps to Reproduce:
Create a Typescript project
Write the class declaration, e.g.

[code]
Experimental support for decorators is a feature that is subject to change in a future release. Set the ‘expe

[2018-03-05 17:30] adamsmith opened #45072 "Support for updating extensions from CLI"
Similar to the `apm upgrade <package_name>` in Atom, there should be a way to update Marketplace extensions from the command line.

Currently there are `code --install-extension` and `code --uninstall-extension` commands, but no command for upgrading extensions.

[2018-03-05 17:33] joaomoreno commented on #44272
Can you show me what comes up in `Git: Show Git Output` when you run the discard action?

[2018-03-05 17:36] #44403 closed

[2018-03-05 17:36] #44375 closed

[2018-03-05 17:39] twistedinferno opened #45073 "Intellisense hangs / stops working"
- VSCode Version: 1.20.1
- OS Version: Windows 10 64bit

Steps to Reproduce:

1. Work on react native javascript code for a few hours
2. Intellisense stops working (the 'Loading' tooltip shows of the intellisense but nothing else)

![image](https://user-images.githubusercontent.com/4139336/36983852-5c5a8862-208b-11e8-8294-5ecedbfd7bce.png)

Does this issue occur when all extensions are disabled?:

[2018-03-05 17:43] joaomoreno commented on #43161
cc @bpasero for ideas. Just read the last post, since it's quite a lengthy discussion. Are you aware of any casing restriction changes lately?

[2018-03-05 17:45] joaomoreno commented on #45069
Making it a dialog was @egamma's suggestion.

Showing it on every window is, of course, an issue, which I'll have to promote as a candidate.

[2018-03-05 17:52] pellea commented on #44272
Here is the log:

[code]

[2018-03-05 17:57] NicolasBuecher commented on #5402
Also coming from an editor (Webstorm) where I used to abusively alt+click+drag to perform multiline edit.
It seems totally essential for me now.
I don't think there is a better choice between "ctrl" or "alt" for the key. But at least I think it should not be a combination as "shift+alt".
I would love to see this feature coming really soon !

[2018-03-05 17:58] bpasero commented on #44857
@joaomoreno yeah seems better now 👍

[2018-03-05 18:00] kieferrm opened #45074 "Resizing the panel changes the width of the split terminals"
Issue Type: <b>Bug</b>

1) Split a terminal
2) Make one terminal much smaller than the other
3) Manually change the height of the panel
-> terminal jump back to be the same width

VS Code version: Code - Insiders 1.21.0-insider (b76a4a71434d6cdee69fa1d8bdc7533d09598d53, 2018-03-02T11:50:18.388Z)
OS version: Darwin x64 16.7.0

Reproduces without extensions

[2018-03-05 18:00] bpasero commented on #44992
@jesseliu612 how large is the file getting over time when it crashes?

[2018-03-05 18:02] bpasero commented on #43596
@chrmarti the user was on Linux but the home folder path was symlinked so it never matched with the user path you expected it to be...

[2018-03-05 18:03] bpasero commented on #44993
@clowery52916 it is closed because I pushed a fix for this issue so that it does not happen again. The settings file should be here: `/Users/<name>/Library/Application Support/code/User/settings.json`

[2018-03-05 18:04] bpasero commented on #43161
@joaomoreno explain tomorrow over Coffee please...

[2018-03-05 18:05] kieferrm opened #45075 "Modal dialogs cause windows to seemingly randomly rearrange in z-order"
Issue Type: <b>Bug</b>

1) Have a VS Code insider installed that is up-to-date.
2) Open multiple workbench windows and stack them behind each other
3) Use `Check for updates` from the gear in the activity bar

-> A modal dialog pops up with telling me that there is no update. That happens in all windows and the windows are seemingly randomly rearranged in z-order. I.e. the front most workbench win

[2018-03-05 18:11] Kathy145 opened #45076 "Visual Studio Live Share was unable to download needed dependencies to finish install"
### Issue Type
Bug

### Description

I tried to install VS Live Share and though there are no dependencies the error message indicated that neeeded ones did not download.

### VS Code Info

VS Code version: Code 1.20.1 (f88bbf9137d24d36d968ea6b2911786bfe103002, 2018-02-13T15:23:28.607Z)
OS version: Darwin x64 17.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) C

[2018-03-05 18:11] #45069 closed

[2018-03-05 18:13] joaomoreno commented on #45069
@roblourens I've pushed this to `release/1.21`. Can you verify the fix today, once a build is out?

[2018-03-05 18:14] joaomoreno commented on #45075
Duplicate of https://github.com/Microsoft/vscode/issues/45069.

[2018-03-05 18:14] #45075 closed

[2018-03-05 18:22] #45074 closed

[2018-03-05 18:22] Tyriar commented on #45074
Pushed to master and release/1.21

[2018-03-05 18:27] IlyaBiryukov opened #45078 "Cannot read property 'size' of undefined after closing terminal if there is another terminal"
### Issue Type
Bug

### Description

Our extension opens a terminal window with `let terminal = vscode.window.createTerminal(...)` and then at some point closes it with `terminal.dispose()`.

If there is another terminal window opened by a user at that point, the terminal selection drop down becomes empty, and clicking on it, or closing the terminal with [x] produces an unhanded exception and open

[2018-03-05 18:29] lukaszpolowczyk opened #45079 "Predefined snippet choices - in many lines cut intellisense prompt [bug]"
Steps to Reproduce:

Write snippets like this:

	"case-of-reduser": {
		"scope": "javascript,javascriptreact",
		"prefix": "case-of-reducer",
		"body": [
			"case '${2|ACTION_TYPE, ACTION",
			"_TYPE2|}':",
			"return ${3}",
		]
	},

Or this:

	"case-of-reduser": {
		"scope": "javascript,javascriptreact",
		"prefix": "case-of-reducer",
		"body": [
			"case '${2|ACTION_TYPE, ACTION\n_TYPE2|}':",

[2018-03-05 18:31] LWChris commented on #45006
I think by default you _want_ to search through the visible text, because otherwise it could be very confusing. Imagine if I type "hello world", then search for "hello" and it finds nothing.

A better approach could be to search through the project files as is, i. e. with modifications for the opened files and the file system version for all other files. If the file is opened and has unsaved modif

[2018-03-05 18:40] jpoon commented on #40260
@sandy081 another reported case, also on windows: https://github.com/VSCodeVim/Vim/issues/2420

[2018-03-05 18:42] thopaw opened #45080 "SNap vscode does not start on Ubuntu 17.10"
- VSCode Version:
[code]
- OS Version:
Ubuntu 17.10

Steps to Reproduce:

1. Install the snap vscode
2. Start the snap with vscode

Does this issue occur when all extensions are disabled?: Yes

[code]

[2018-03-05 18:45] #45080 closed

[2018-03-05 18:49] LWChris opened #45081 "Make commands in "about:blank" cheatsheet clickable"
- VSCode Version: 1.20.1

When I close all documents, even the welcome page, so that no document is open, VSCode displays a cheatsheet with some commands how to open a file, a folder, etc.

Can these entries become clickable please?

[2018-03-05 18:53] Tyriar commented on #44758
I fixed this on tyriar/snap so I'll close. Track snap distribution in https://github.com/Microsoft/vscode/issues/5458

[2018-03-05 18:53] #44758 closed

[2018-03-05 18:57] #44586 closed

[2018-03-05 19:00] Tyriar commented on #45078
@isidorn looks related to the dropdown, let me know if it's due to my misuse.

[2018-03-05 19:09] ramya-rao-a commented on #29113
@jens1o Yes, currently its reverted in Insiders release and will not be present in the upcoming 1.21 stable release.

[2018-03-05 19:10] #43623 closed

[2018-03-05 19:22] #44914 closed

[2018-03-05 19:22] rebornix commented on #44914
@bpasero nice catch, I'm wondering if we have other CSS pollution in monaco editor.

[2018-03-05 19:25] rebornix commented on #44645
We find two occurrences of `stroke="#3E54A4"` and that's the same as other editors. Can you elaborate more on why it's not working for you?

[2018-03-05 19:31] jens1o commented on #29113
Alright, I'll keep my eye sharp to test it once it's back ;)

[2018-03-05 19:31] rebornix commented on #44130
@doorman02 sorry didn't notice your last comment of the reproduce steps. It was caused by our file syncing code and it should be fixed now in Insider and you'll have it once we release a new Stable.

[2018-03-05 19:31] #44130 closed

[2018-03-05 19:33] nelsonlaquet commented on #3429
I would also REALLY love to see this put back in; it's very helpful for templating language (PHP, Razor, etc) to distinguish which part is the templating language and which part is the raw output. I haven't used VS for a while, but IIRC, Visual Studio does the same for Razor directives - so why not Visual Studio Code?

I understand there being conflicts with other highlighting features, but wouldn

[2018-03-05 19:34] doorman02 commented on #44130
Great thanks :)

On Mon, 5 Mar 2018 at 20:33, Peng Lyu <notifications@github.com> wrote:

[2018-03-05 19:37] #44642 closed

[2018-03-05 19:38] jonbgallant commented on #36630
@bitcrazed , @chrisdias  - Are you tracking this as a generic VS Code issue or is this one related only to docker?  The reason I ask is because I'm seeing this with any colorizer.  Shall I use this issue to track generic colorizer fails or should I open a new issue?

Also, do you have an ETA on this fix?

Thanks,
Jon

[2018-03-05 19:39] rebornix commented on #43366
![charcode](https://user-images.githubusercontent.com/876920/36995767-d029b582-2069-11e8-9a06-3063f2929be6.gif)

@roblourens can you provide more detailed reproduce steps? I can't reproduce locally as above.

[2018-03-05 19:44] chryw commented on #44550
@isidorn will do this week :-)

[2018-03-05 19:47] rebornix commented on #43248
Shared the same root cause as https://github.com/Microsoft/vscode/issues/41184 and it's fixed in master.

[2018-03-05 19:47] #43248 closed

[2018-03-05 19:51] smlombardi commented on #44645
never mind, I see an error in the svg itself.  Those 3 colors should match, they are off my one digit.

[2018-03-05 19:51] #44645 closed

[2018-03-05 19:51] johnstew commented on #44423
@isidorn I'll give this a try on vscode insiders and let you know. Thank you!

[2018-03-05 19:55] mjbvz commented on #45007
I'm unable to repo this with the following project structure:

![screen shot 2018-03-05 at 11 53 35 am](https://user-images.githubusercontent.com/12821956/36996557-f55ea694-206b-11e8-9cf5-8182b6672934.png)

If you run `Developer: Open webview developer tools`, what does it say about the image load error?

[2018-03-05 19:56] ardalis commented on #2743
Another vote for this.

[2018-03-05 19:56] #44801 closed

[2018-03-05 19:57] mjbvz commented on #44801
Fixed by e5b1420d149c935c7a21e86eb57a37ac0c1b338d and followups

[2018-03-05 19:58] michelkaporin commented on #45055
@isidorn hey! thought it's a duplicate for sure, but couldn't find it...

[2018-03-05 19:58] smlombardi opened #45082 "Custom HTML tag confused by P"
Issue Type: <b>Bug</b>

When using an Angular component they often use a custom HTML tag.

Prime NG, for example, uses `<p-table>` for their table component.

However, probably because of the opening `p`, the entire tag is not scoped as a tag: the `-table` part is mistakenly scoped as `meta.tag.block.any.html entity.other.attribute-name.html`

<img width="444" alt="screen shot 2018-03-05 at 2 56 1

[2018-03-05 20:00] S-NA opened #45083 "The semantics of ./ on Windows compared to Linux"
- VSCode Version: Code 1.19.2 (490ef761b76b3f3b3832eff7a588aac891e5fe80, 2018-01-10T15:57:21.071Z)
- OS Version: Linux x64 4.9.84
- Extensions: none
---

Steps to Reproduce:
[code]
1. cat > jsconfig.json
[code]
Open the folder, and notice no error (assuming "Declarations/dist/example.d.ts" actually exists).

Now compress the folder `7za a example-dir.7z example-dir`.
Send the folder to a person on

[2018-03-05 20:01] sbatten commented on #44104
Reloading windows with disabled extensions now puts builtin extensions in a perpetual "reload to deactivate" state.
![image](https://user-images.githubusercontent.com/6561887/36996952-f3103ece-206c-11e8-8659-305f647ef156.png)

[2018-03-05 20:05] octref commented on #43683
I'll verify this. Although it does not work optimally (I can verify both #44325 and #45025), at least now #45025 allows you to use terminal/tmux to debug, albeit with some inconvenience.

#44325 will likely get addressed for the upcoming 1.21 release and #45025 the next release.

[2018-03-05 20:09] adstechappdev opened #45084 "Built in color picker stopped working after upgrading"
- VSCode Version: Code 1.19.3 (7c4205b5c6e52a53b81c69d2b2dc8a627abaa0ba, 2018-01-25T10:36:34.867Z)
- OS Version: Windows_NT x64 6.3.9600
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-eslint|dba|1.4.7
csharp|ms-|1.14.0
debugger-for-chrome|msj|4.1.0

(2 theme extensions excluded)

---

Steps to Reproduce:

1.
2.

Reproduces without extensions: Yes/No

[2018-03-05 20:10] chrisdias opened #45085 "terminal"
Issue Type: <b>Bug</b>

the terminal crashed

VS Code version: Code - Insiders 1.21.0-insider (b76a4a71434d6cdee69fa1d8bdc7533d09598d53, 2018-03-02T11:50:18.388Z)
OS version: Darwin x64 17.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz (8 x 2200)|
|Load (avg)|2, 2, 2|
|Memory (System)|16.00GB (4.16GB free)|
|Process Argv|/Appli

[2018-03-05 20:14] sandy081 commented on #44104
@sbatten What are the steps you followed to get into this state?

[2018-03-05 20:26] nickmccurdy commented on #20889
Having a tree overlay that pops up after a normal undo/redo is an interesting idea, but I don't think it should be enabled by default because undo trees can be confusing and it's not obvious that normal undo/redo works the same in a tree, as per my previous explanation. I also don't think the user should have to hold ctrl to get related undo commands, that would get confusing when the other binds

[2018-03-05 20:32] varnk opened #45086 "Allow option to always display path of root folders in Workspace"
### Issue Type
Feature Request

### Description

If I have a Workspace with multiple root workspace folders that have the same name, it is difficult to distinguish between the paths of each folder unless I do a mouse-over on them.  It would be beneficial to have the option on the root folder to display the full path so that I can identify which folder is which.

### VS Code Info

VS Code version:

[2018-03-05 20:34] isidorn commented on #45033
@sandy081 thanks for feedback.
I think `updateHeaders` and `updateTitleArea` can not be moved to a single method since `updateTitleArea` needs to be called when transitioning in and out of single view mode and that is not the case with `updateHeaders`. Still I think I covered some of your concerns with the attached commit.

Feel free to change it if you do not like my approach.

[2018-03-05 20:35] #45086 closed

[2018-03-05 20:36] varnk commented on #45086
Duplicated issue found https://github.com/Microsoft/vscode/issues/42201

[2018-03-05 20:36] Thomastasa commented on #44287
I will just live with it for now.

Canvas is working fine in chrome (neat link btw) and vscode hasn't had any issues with the minimap on any of my other 3 computers (macbook pro, win10 laptop,  win10 desktop).

Thanks again for all your help @alexandrudima
Keep up the good work :)

[2018-03-05 20:37] isidorn commented on #44550
@chryw great, thanks :)

[2018-03-05 20:37] isidorn commented on #45055
@michelkaporin yeah I had a hard time finding it as well.

[2018-03-05 20:41] isidorn commented on #45078
The list can return an empty array for `getFocus()` producing undefined [here](https://github.com/Microsoft/vscode/blob/f1ad6834ec6fb5244909456f2b5274bba964ee5a/src/vs/base/browser/ui/selectBox/selectBoxCustom.ts#L421)

@cleidigh since this is the custom dropdown assigning to you. If you do not have cycles let me know and I will just put a null guard there. Thanks

[2018-03-05 20:45] sbatten commented on #44104
@sandy081
1. Open insiders and show built in extensions to see everything is normal.
2. Use command palette to reload window with extensions disabled.
3. Show builtin extensions. All will be enabled but have 'reload' buttons with hover text 'reload to deactivate'

[2018-03-05 20:53] RMacfarlane commented on #44104
The `Reload Window with Extensions Disabled` action uses the same switch as the `--disable-extensions` flag, so this can also be repro'ed just by lauching code-insiders with `--disable-extensions`.

[2018-03-05 21:04] mesternefeld commented on #43949
No, the issue I still get(on regular not insiders) is it freezing on the waiting to download page.
The issue on Insiders is the catastrophic one where the program becomes corrupted when updating and seeing the please reinstall code.

And that is unfortunate since this is on both my machines and seems as though I'm not the only one with this issue.

[2018-03-05 21:05] benjamintoofer opened #45087 "Buggy UI"
### Issue Type
Bug

### Description

The UI starts to flash and render boxes around the menu bar and vertical file tree when it is opened to full screen on mac OS. It's completely fine when it's not in full screen mode

### VS Code Info

VS Code version: Code 1.20.1 (f88bbf9137d24d36d968ea6b2911786bfe103002, 2018-02-13T15:23:28.607Z)
OS version: Darwin x64 16.7.0

<details>
<summary>System Info</s

[2018-03-05 21:19] ftpronk opened #45088 "Failed to execute default Web Browser. Input/output error."
- VSCode Version: 1.20.1 Commit: f88bbf9137d2
- OS Version: Linux Mint 18.3, Xfce Edition

Steps to Reproduce:

1. Install VSCode v1.20.1
2. Start VSCode via terminal or Application Finder.
3. Install the "Language support for Java for Visual Studio Code" Extension
4. In an empty directory, create a new .java file and open it in vscode
5. A warning will pop-up: "Classpath is incomplete. Only synta

[2018-03-05 21:27] dotconnor commented on #44999
Console:
[code]
Explorer:
![explorer](https://user-images.githubusercontent.com/14323370/37000654-0defea30-2092-11e8-9916-630ae5aa9e7b.png)

[2018-03-05 21:29] dotconnor commented on #44999
Explorer seems to work correctly on Stable.
@isidorn

[2018-03-05 21:29] thernstig commented on #40502
@Tyriar Thanks for the reference, but I cannot see how that issue is related.

When I increase the size of the integrated terminal (dragging the delimiter upwards or maximize) it gets to a certain point where memory and gpu runs amok. It still responds, albeit very slow (seconds). So I do not even need to maximize the integrated terminal.

It's happens every time as soon as it is increased about m

[2018-03-05 21:30] twistedinferno commented on #45073
_(the last time it happened I created a new file but I didn't import any new libraries...again possibly unrelated to the error)_

[2018-03-05 21:33] octref commented on #44325
@Tyriar

https://github.com/tmux/tmux/blob/master/CHANGES#L141-L143 might be of your interest.

@joaomoreno

I'm wondering if this is what you intended, or do you have an alternative setup. (Also I'm on tmux 2.6).
For me, this script breaks when you try to have more than 1 terminal:

[code]

The following works (dropped the `-d`), because when creating new terminal tabs it'll connect to the same s

[2018-03-05 21:37] WardenGnaw opened #45089 "launch.json's Add Configuration does not activate extension"
### Issue Type
Bug

### Description

The vscode-cpptools extension uses a ```completionItemProvider``` to provide launch configuration snippets dynamically per OS. See [here](https://github.com/Microsoft/vscode-cpptools/blob/bd181c3b8f882ba06c1713e3e86fd952582445d5/Extension/src/Debugger/configurationProvider.ts#L168). However, our extension needs to be activated for the provider to work.

If the

[2018-03-05 21:47] isidorn commented on #44790
I can no longer repro this. Also some of the changes I did I reverted and went back to the original implementation.
@bpasero can you please try out your corner cases again and if you see this let me know and I will reopen. Thanks

[2018-03-05 21:47] #44790 closed

[2018-03-05 22:02] brad-jones commented on #13189
On Fedora 27, added `ELECTRON_TRASH=gio` to my `.bashrc` problem fixed.

[2018-03-05 22:02] avs-atitude opened #45090 "Error in visual studio code terminal in Linux Ubuntu 16.04"
Any command I type is not recognized as an environment variable

[code]

[2018-03-05 22:03] isidorn commented on #44593
@joaomoreno if tabs are shown they take 100% of width so we are good.
@bpasero I looked at what it would mean for the `editorGroupsControl` to handle the fact that there is not titleControl, basically all code would need to handle the case that [getTitleAreaControl](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/browser/parts/editor/editorGroupsControl.ts#L2225) can return undefi

[2018-03-05 22:07] agustinbcu01 commented on #41106
I not a configuration issue, I can live with the issue, if you prefer you can close.

[2018-03-05 22:10] Mellbourn commented on #44325
I'm also on tmux 2.6.

I honestly didn't think of the `-d` parameter. I do sometimes run the same tmux window in different places, but I haven't actually used the fact that code starts two terminals with the same window, that's mostly confusing (until you realize what is happening). What I should have said was that I intended that a tmux window to be reattached rather than a completely new shell b

[2018-03-05 22:11] isidorn commented on #44999
@dotconnor thanks, that is very useful information.
However you are not on latest insiders - notice the blue notification on the bottom of the activity bar. Please update to the latest and let us know if you still see this issue (since we have fixed it a couple of days ago). Thanks a lot!

[2018-03-05 22:21] #44873 closed

[2018-03-05 22:33] gogoIsComing opened #45091 "chrome developer tools inside vscode"
- VSCode Version: 1.19.1
- OS Version: win 10 pro 64-bit

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No
hey guys i just want to know if there is any way to get google chrome developer tools inside vscode

[2018-03-05 22:35] cleidigh commented on #45078
@isidorn
I can take care of this tonight.  I was waiting until I had a little more time to investigate further.

Something is possible to happen that should be prevented by other code/sequence.  I don't understand how I can get in the empty list no entry when just before I call focus with the currently selected option.

The custom drop-down just like any other always has one selected item.  The ro

[2018-03-05 22:38] dotconnor commented on #44999
@isidorn You're right updating did fix this, sorry for the troubles. Thanks

[2018-03-05 22:38] #44999 closed

[2018-03-05 22:43] Tyriar commented on #44325
I think there was a change in the way layout happens when splitting was introduced that was causing a bad layout to happen (cols = NaN).

[2018-03-05 22:44] #44325 closed

[2018-03-05 22:44] Tyriar commented on #44325
Pushed to master and release/1.21

[2018-03-05 22:45] kurtnovack opened #45093 "New settings from the latest version pinned to top"
Issue Type: Feature Request

I usually read through the release notes to see what's new, but is there any interest in having newly created settings pinned to the top of the settings editor?

Something like "Newly added in version 1.21.0". It could go above or below "Commonly Used", doesn't really matter to me.

VS Code version: Code - Insiders 1.21.0-insider (eb5e41cfd5df83b126cccf7a5483b05878ef63

[2018-03-05 22:50] IlyaBiryukov commented on #45078
It is pretty consistent. I can reproduce it reliably.

[2018-03-05 22:52] nickshevr commented on #17068
@sandy081 Doesn't have this option on mac'os latest version, should I still wait for this?

[2018-03-05 22:54] iammerrick commented on #17068
@nickshevr Insiders build my friend. :-)

[2018-03-05 22:55] nickshevr commented on #17068
@iammerrick is it private build or I can get it?

[2018-03-05 22:55] cleidigh commented on #45078
@IlyaBiryukov
do you see this through telemetry or on your desktop?  can you give me anything more about reproducing this?
Thanks

[2018-03-05 22:56] iammerrick commented on #17068
@nickshevr Free for all amigo https://code.visualstudio.com/insiders/

[2018-03-05 22:58] nickshevr commented on #17068
@iammerrick thanks a lot. Today is just my second day with VS Code after 2 years with WS, and you know, I almost like it.

[2018-03-05 22:58] cleidigh commented on #45078
@IlyaBiryukov
my apologies I missed your first comment since I thought this was another issue on the same thing
but without your detail , duh...

I think this might have something to do with disposal.  what you gave me gives me more to go on.
cheers

[2018-03-05 23:01] Zalastax commented on #20889
@nickmccurdy I totally agree.
The biggest question marks when I stopped working were:
 * What APIs do other extensions need? E.g. VSCodeVim.
* What APIs can the UI use? previewHTML seems most natural, but is difficult to use.

See https://github.com/Zalastax/vscode/issues for more details.

[2018-03-05 23:08] cleidigh commented on #45078
@Tyriar
I think we might have to tagteam this.  This issue was reported before without any real detail.  Now it matches my hypothesis that we end up with either an empty list/dropd options or the currently selected option is null.

From the description I'm wondering if there is a possibility where a terminal is removed from the list with some form of disposal and the other user terminal is lost in

[2018-03-05 23:10] nickshevr commented on #17068
@iammerrick I'm sorry for mention you agian, but I couldn't fix my issue. Is there any way to turn off TS checks but still use JS checks?

I want to fix this:
![image](https://user-images.githubusercontent.com/16756393/37004995-648f6c66-20e3-11e8-889b-10216fee2329.png)
But I dont want to turn off this:
![image](https://user-images.githubusercontent.com/16756393/37005027-896faa00-20e3-11e8-9746-c49

[2018-03-05 23:15] iammerrick commented on #17068
[code]

In your settings...

[2018-03-05 23:17] nickshevr commented on #17068
I tested it before `Insiders build`, don't like this way. As I said
[code]

[2018-03-05 23:21] jkanchelov opened #45094 "Allow to zoom only the current instance and not all"
It would be good if you have opened more than one vscode instance and the zooming you've done on it shouldn't affect the other ones.

[2018-03-05 23:29] WritingSolutions2020 opened #45095 "Java runtime cannot be located"
For what it's worth, as of 05 March, 2018 the problem illustrated in https://github.com/Microsoft/vscode-java-debug/issues/112 still exists. The screenshot in that issue illustrates the problem.

For Linux Mint 32-bit. Visual Studio code 1.20.1.

1. Installed `/java/jdk1.8.0_161` in `/usr` directory. In `/bin` used `java -version` to verify that the Java executable could be run without error.

2.

[2018-03-05 23:41] blakewatson opened #45096 "When typing in editor, macOS Accessibility Keyboard's word suggestion fails"
### Issue Type
Bug

### Description

The Accessibility Keyboard in macOS High Sierra has a word prediction feature that allows the user to type a few characters and get suggestions on possible dictionary words. This feature is helpful for oncreen keyboard users because it saves precious key strokes/clicks.

When typing in VS Code's editor, the suggestion lists resets itself on each key stroke, off

[2018-03-05 23:42] salvioli opened #45097 "targetArchitecture in launch.json not working"
### Issue Type
Bug

### Description

I have the following 32 bit executable compiled for i386:
[code]
When I launch qemu with the command (to wait for a gdb client incoming connection):
[code]
with the following configuration of launch.json:
[code]
I see the following error as expected because target architecture is not matching with the real one:
[code]
if I comment the targetArchitecture line (t

[2018-03-05 23:44] copeland3300 commented on #36630
I don't think this is related to docker, as I'm not using it on my machine but I am getting the issue with the integrated terminal.

It doesn't seem to happen when I run a separate PowerShell window and run the python script. I should also mention I'm using Anaconda 5.1.0 for python 2.7.

When initially opening the integrated terminal, Code seems to be running the following line
`& cmd /k "C:\Anac

[2018-03-05 23:55] WritingSolutions2020 commented on #45095
This may be an issue with the PyDev extension rather than VCS itself. Closing...

[2018-03-05 23:55] #45095 closed

[2018-03-06 00:02] alannaidon commented on #40588
@jrieken  Nothing happens, it just make a tab normally.

also, if Y type "php" + TAB nothing happenas aswell =(

[2018-03-06 00:19] #27493 closed

[2018-03-06 00:19] #34369 closed

[2018-03-06 00:25] jd-carroll opened #45098 "Do not search for git repositories in ignored directories"
- VSCode Version: 1.20.1
- OS Version: Windows 10

It appears as though the current implementation of the git source provider will search any directory for child git repositories.  (prob as answer to #38203 & #37947)

The issue is that when I am hacking on a node module, I will often want to `npm link` that project into an other project.  As soon as I do this, the linked project will appear as a r

[2018-03-06 00:29] kieferrm commented on #45096
Reproduced on macOS HighSierra with the built-in accessibility keyboard.

[2018-03-06 00:34] kieferrm opened #45099 "Issue bot should assign type labels when issue was created with the issue reporter"
Issues filed with the issue reporter contain information about the type of the issue. This information should be used to auto-type-label the issue.

[2018-03-06 00:34] sean-mcmanus opened #45100 ""Breakpoint ignored...(source map problem?)" occurs when debugging TypeScript with Insiders"
- VSCode Version: latest 1.21.0-insiders.
- OS Version: Windows

Steps to Reproduce:

1. Clone the repo https://github.com/Microsoft/vscode-cpptools/ .
2. Open folder with the vscode-cpptools/Extension folder.
3. Set some breakpoints "anywhere", such as in the constructor line 315 in src/LanguageServer/client.ts.
4. Launch Extension.

Bug: No breakpoints are hittable -- see the screenshot, the ico

[2018-03-06 00:36] #44349 closed

[2018-03-06 00:37] mustafawm opened #45101 "cannot open more than one file at a time!!"
- VSCode Version: Version 1.20.1 (1.20.1)
- OS Version: 10.13.3

Steps to Reproduce:

1. open a project folder (multiple files
2. open one file (_file gets opened in tab_), try opening another file (_replaces first file/tab_)!
**correction** it doesn't replace the previous tab(s), it just takes over (instead of coming next to them, which is the expected behavior)

Issue persists even when running

[2018-03-06 00:40] kieferrm commented on #45091
Command Palette > Toggle Developer Tools.

[2018-03-06 00:40] #45091 closed

[2018-03-06 00:42] #45085 closed

[2018-03-06 00:47] kieferrm commented on #45084
Pls provide concrete steps to reproduce the issue on the latest stable or on the current insider build. Pls see https://aka.ms/vscodeissuereporting.

[2018-03-06 00:54] kieferrm commented on #45082
Confirmed. This seems to be a problem in the html grammar. It only happens with `p`left of the dash.

[2018-03-06 00:56] #44169 closed

[2018-03-06 01:03] jkodroff commented on #2718
Would like to put in my two cents if I may.  Here's how I would design the commit inputs (moving from a single textbox to 2 separate inputs:

1. Textbox
  - Required
  - Hint: Enter a summary of your commit here
  - Max length 50 with inline character counter
2. Textarea
  - Optional
  - Hint: Enter more detailed explanatory text if necessary. Use blank lines to break paragraphs. Use hyphens for b

[2018-03-06 01:05] rebornix commented on #45096
Technically it's about how we handle content in the textarea, and we already did optimization for Screen Reader. @blakewatson you can set `editor.accessibilitySupport` to `on` and you should be able to see word based suggestions as expected.

We should see if there is a way to automatically detect Accessibility Keyboard and turn on this optimization without asking users to change the setting.

[2018-03-06 01:06] andxu commented on #45095
Lets track it through https://github.com/Microsoft/vscode-java-debug/issues/112

[2018-03-06 01:11] Rosseyn commented on #16927
@bpasero that's handy, but heavy-handed.. need to be able to restore layout afterwords.. do you know of a good way to at least un-maximize an editor group perhaps?

[2018-03-06 01:13] sean-mcmanus commented on #45100
Generating a new Launch Extension in the launch.json fixed it. Looks like our launch.json was referencing ${workspaceFolder} and that isn't working anymore. Feel free to close this if this is "by design" if you're not concerned with making the experience less confusing to users.

[2018-03-06 01:20] yyjazsf commented on #44807
I find recently vscode insider update fix the bug? about 2018-3-4

[2018-03-06 01:22] yyjazsf commented on #44807
my login shell is zsh, and now, I find integrated-terminal change 1 time(bash->zsh)
![image](https://user-images.githubusercontent.com/2438224/37009013-dd8bbc82-211f-11e8-9ea0-229f4e56a15f.png)

[2018-03-06 01:22] kieferrm commented on #45070
Pls provide additional information or file the issue against the extension that causes the issue. Thanks a ton!

[2018-03-06 01:26] szyhf opened #45102 "[SUGGEST] Could vscode support "snippets" for folder."
Current snippets is only support for 'user' level, but always some "snippets" are available for special project(folder).

Could vscode support "snippets" for folder?

Thanks a lot!

[2018-03-06 01:28] kieferrm commented on #45076
@Kathy145 After the extension is installed it installs further dependencies. It seems that's what failed.

This might be a duplicate of your issue: https://github.com/MicrosoftDocs/live-share/issues/124. If not, pls file an issue in https://github.com/MicrosoftDocs/live-share.

[2018-03-06 01:28] #45076 closed

[2018-03-06 01:36] #43043 closed

[2018-03-06 01:47] kieferrm commented on #45100
`${workspaceRoot}` should still be working. Can you attach the new launch config?  The repo shows only the old one.

[2018-03-06 01:52] yyjazsf commented on #44807
thanks for your help, I didn't find (where npm prefix is being set),I try to find in recently update

[2018-03-06 01:54] mjbvz commented on #44990
@LilithTundrus Where does it say the duplicate symbol is located? You should be able to run `go to definition` to see both locations listed

[2018-03-06 01:54] mjbvz commented on #45013
@c69 Please first try disabling all extensions to see if one of those is causing this issue

[2018-03-06 01:56] jhpratt opened #45103 "[suggestion] Option to automatically run `git mv` when moving a file in version control"
- VSCode Version: 1.20.1
- OS Version: Ubuntu 17.10

An option to automatically do this would be great. Right now, it still must be manually added (twice). It seems logical, but I'm not aware of anything that does this.

NB: I think this should be _off_ by default.

[2018-03-06 01:57] mjbvz commented on #45010
Try setting your baseUrl to `"baseUrl": "./src/"`. This fixed the problem when I tested it

`"checkJs: true` is also useful for tracking down these sort of issues

[2018-03-06 01:57] #45010 closed

[2018-03-06 01:58] LilithTundrus commented on #44990
`go to definition` does not point to anything except for the first definition. After attempting `go to definition` the issue disappears. It seems like it was pulling from another file that had the same function name but this file had been closed. Maybe something to do with the file still being 'open' to VS Code?

[2018-03-06 02:01] mjbvz commented on #44990
Do you expect there to be two separate files? Do you have a [`tsconfig`]( https://www.typescriptlang.org/docs/handbook/tsconfig-json.html)?

[2018-03-06 02:05] mjbvz commented on #44953
Do you mean the `displayString` property on `QuickInfoResponse`?

[2018-03-06 02:05] LilithTundrus commented on #44990
`tsconfig`  was short enough to paste here:

[code]

[2018-03-06 02:08] mjbvz commented on #45101
From the description, I suspect you are opening files in preview mode: https://code.visualstudio.com/docs/getstarted/userinterface#_preview-mode

[2018-03-06 02:09] mostafaabobakr7 opened #45104 "every file type that opens with vscode, have his own icon like this !"
## Is it possible to make every file type that opens with vscode, have his own icon like this !

![vscode windows icons](https://user-images.githubusercontent.com/27288406/37010189-119cf8e2-20f3-11e8-8af5-76db8f9306c6.jpg)

Environment :
- #### Windows 10
- #### vscode v1.20.1

[2018-03-06 02:10] szyhf commented on #1947
+1

[2018-03-06 02:10] #45102 closed

[2018-03-06 02:13] mustafawm commented on #45101
I'm not. I'm aware of the preview mode. I'm double-clicking the files to open them.

Moreover, when `cmd + 1` and `cmd + 2` it does switch between the files which means they are both open, but the tabs are placed under the focused one (instead of next to it).

[2018-03-06 02:16] mjbvz commented on #44710
This issue was moved to Microsoft/TypeScript#22349

[2018-03-06 02:16] #44710 closed

[2018-03-06 02:20] #44329 closed

[2018-03-06 02:20] mjbvz commented on #44329
Please file this issue/question against your eslint extension. Our built-in js and ts formatter does not take any eslint rules into account

[2018-03-06 02:21] DanielRosenwasser commented on #44953
I believe so.

[2018-03-06 02:21] mjbvz commented on #44107
Please provide some example code that shows where snippet suggestions do no show up

[2018-03-06 02:23] mjbvz commented on #44953
What is the expected behavior? We currently wrap if a line is too long but I believe that newlines are respected

[2018-03-06 02:25] mjbvz commented on #44990
Are there two or more ts/js files with definitions of `getAlertSubscribers` in your workspace?

[2018-03-06 02:25] sean-mcmanus commented on #45100
Oh, you're right -- it's not the ${workspaceRoot} -- it repros with
`"outFiles": ["${workspaceRoot}/out/src"]`
and not
`"outFiles": ["${workspaceRoot}/out/src/**/*.js"]`.
Not sure if that's a bug or a "by design" change.

[2018-03-06 02:26] mjbvz commented on #45071
In the TS file, run the `TypeScript: Go to project configuration` vscode command. Does this open the correct tsconfig file?

[2018-03-06 02:28] mjbvz commented on #44942
I haven't been able to reproduce it either. Very strange issue. I'll reopen this bug if it ever happens again

[2018-03-06 02:28] #44942 closed

[2018-03-06 02:28] LilithTundrus commented on #44990
In the folder VS Code has open but the file was close which shouldn't cause the error, correct?

[2018-03-06 02:31] mjbvz commented on #44990
No, a tsconfig causes all ts file in your workspace to be loaded eagerly into the same project.

Try setting up a `include` or `exclude` rule in your tsconfig to exclude one of the definitions: https://www.typescriptlang.org/docs/handbook/tsconfig-json.html

[2018-03-06 02:31] #44990 closed

[2018-03-06 02:35] mjbvz commented on #44886
I can't reproduce this using your `jsconfig` in a simple setup. `"module": "commonjs"` fixes the problem for me

Can you please share a minimal project that demonstrates this problem

[2018-03-06 02:44] mjbvz commented on #40181
Do you still see this in the latest vscode insiders?

[2018-03-06 02:47] roblourens commented on #44753
Duplicate of #5192

[2018-03-06 02:47] SheepDomination opened #45105 "Can't write user Setting error"
When attempting to change a default setting from the default setting panel such as this setting;
[code]
I'm prompted that VS Code is unable to write into user settings.

When clicking Open Settings, I'm still unable to change the setting for the item ?

VS Code 1.20.1
Windows10(1709)

[2018-03-06 02:47] #44753 closed

[2018-03-06 02:52] akarelas opened #45106 "Perl's Indented HEREDOCs (a feature from Perl 5.26 onwards) are not correctly syntax highlighted"
- VSCode Version: 1.20.1
- OS Version: Ubuntu MATE Linux 16.04

Steps to Reproduce:

1. Write the following perl code in a file called `tobor.pl`, and view it on vscode editor:

[code]

2. The syntax highlighting on vscode is not correct. EOB, exit(0), and the closing curly bracket should all have a different color than that of the block of text ("My name is Tobor", etc). Because they are not text

[2018-03-06 02:56] jarshwah commented on #45010
Thank you @mjbvz I felt I'd tried that already. At first attempt it didn't work, but then reloading the file seems to pick up the change, and then navigation works correctly.

[2018-03-06 02:56] akarelas commented on #45106
This is the wrong highlighting:

![vscode-wrong-highlighting](https://user-images.githubusercontent.com/423822/37011775-4d0394f2-20fa-11e8-88a5-739f8b340e9b.png)

And this is a heredoc with correct highlighting (but in order to achieve correct highlighting on the current vscode, it's not an indented heredoc anymore):

![vscode-correct-highlighting](https://user-images.githubusercontent.com/423822/

[2018-03-06 02:59] SheepDomination commented on #44077
![code_settings](https://user-images.githubusercontent.com/6827459/37011966-630c1ad8-20c0-11e8-95c3-e1913c6e854d.png)
I've attached a screenshot of the editor with the pencil tool; as I'm experiencing the same problem.

[2018-03-06 03:08] mjbvz commented on #35940
Duplicate of #8223

[2018-03-06 03:08] #35940 closed

[2018-03-06 03:11] blakewatson commented on #45096
Thanks @rebornix and @kieferrm, that worked. What's the tradeoff, if any, to having `editor.accessibilitySupport` on vs not?

[2018-03-06 03:15] kendfrey opened #45107 "Line wrapping breaks custom problem matchers"
### Issue Type
Bug

### Description

#### Steps to reproduce:
Build task with custom problem matcher:
[code]
Build output:
[code]
The bug appears for certain widths of the terminal panel and how they wrap output (see screenshots).

#### Screenshots:
1:
![1](https://i.imgur.com/MiEvRs4.png)
2:
![2](https://i.imgur.com/IFz0tQq.png)
3:
![3](https://i.imgur.com/bMT0bdi.png)
(Note the extra space in 2

[2018-03-06 03:45] pmkary commented on #3429
There can be a theme that offers a bad use of background colors but one can make an extension to replace all the source codes with nonesense on formatting, show unrelated funny cat ascii art on hover and replace intellisense suggestions with the list of US box office movies.

Any feature of the vscode API can be used in a bad way therefore if you go on with that logic you must disable the whole AP

[2018-03-06 03:56] mjbvz commented on #45028
I believe your completion needs to include the range of the entire abbreviation, either:

[code]

or by using the `textEdit` property on `CompletionItem`. Otherwise it will be filtered out in many cases for not matching the current word

[2018-03-06 03:57] mjbvz commented on #44950
Please provide some example code that explains the desired behavior

[2018-03-06 04:13] pushqrdx commented on #45028
@mjbvz Well, This actually works, thanks so much for you attention. However, i have 1 more question please. in the same code i provided above why doesn't `provideCompletionItems` get called every keypress instead every 2 key presses ?, is there an explanation for that ?

You can replicate that by typing any text and watch the completion list updating every 2 key presses.

[2018-03-06 04:24] mjbvz commented on #43295
Can you also please test this in the latest vscode insiders and let me know if the behavior is better, the same, or worse. If you still see the problem, do you have an example markdown file you can share?

[2018-03-06 04:24] ramya-rao-a commented on #45032
Thanks for reporting @IronGhost63!

Until we get a fix out for this, you can use a workaround which is to add the below in your settings
`"emmet.showAbbreviationSuggestions": false`

You will still get a single Emmet completion for what you typed, but the extra ones wont show up.

[2018-03-06 04:26] roblourens commented on #44785
This is https://github.com/Microsoft/vscode/issues/13967 dupe bot found one but not the original.

It is fixed in Chrome so the fix should be coming down the pipeline to newer node versions very soon.

[2018-03-06 04:27] roblourens commented on #44785
I don't think we should turn it on to fix one bug. I'm also wouldn't want to trigger side effects in getters without an explicit evaluate step like Chrome devtools has.

[2018-03-06 04:28] ramya-rao-a commented on #44974
@Mlocik97-issues Those dont look like Emmet suggestions. Can you give a code sample that we can try on?

[2018-03-06 04:28] mjbvz commented on #43028
I believe this was fixed by the new markdown preview -> editor scroll sync logic. Let me know if you still see this

[2018-03-06 04:28] #43028 closed

[2018-03-06 04:34] mjbvz commented on #41852
Actually I don't think this is a ts specific problem. The JS/TS extension never get asked for the parameter hints again after the first line is deleted, but the widget keep showing

Should the VS Code parameter hint controller re-request hints when the underlying document changes?

[2018-03-06 04:35] rebornix commented on #45096
@alexandrudima can you help explain what's the side effect of turning on `accessibilitySupport`? Thanks ;)

[2018-03-06 04:37] #28165 closed

[2018-03-06 04:37] mjbvz commented on #40379
Duplicate of #26338

[2018-03-06 04:37] #40379 closed

[2018-03-06 04:38] rebornix commented on #8102
@RPDeshaies I kind of like how it works as an extension by leveraging a couple VSCode API. It's up to @jrieken if we want to move similar feature to Code core.

[2018-03-06 04:40] mjbvz commented on #28053
Closing as duplicate of #18120

[2018-03-06 04:40] #28053 closed

[2018-03-06 04:41] mjbvz commented on #25863
Closing out this general investigation item. Please open individual bug / feature requests for anything that does not work as expected

[2018-03-06 04:41] #25863 closed

[2018-03-06 04:47] mjbvz opened #45108 "TypeScript and JavaScript organize imports"
Add support for TypeScript `organize imports` command. This command:

* Sorts imports
* Remove unused imports
* Other?

[2018-03-06 04:54] flyby21 opened #45109 "debug adapter process has terminated unexpectedly"
### Issue Type
Bug

### Description

print("hello")
[-1520033610441.log](https://github.com/Microsoft/vscode/files/1783566/-1520033610441.log)

### VS Code Info

VS Code version: Code 1.20.1 (f88bbf9137d24d36d968ea6b2911786bfe103002, 2018-02-13T15:34:36.336Z)
OS version: Windows_NT x64 6.3.9600

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD FX(tm)-6200 Six-Core Process

[2018-03-06 05:02] chrisdias commented on #36630
@jonbgallant as I understand from @Tyriar this is a windows issue, not a VS Code, Docker, or VSCode Docker (extension) issue.

[2018-03-06 05:02] mjbvz commented on #44928
Duplicate of https://github.com/Microsoft/TypeScript/issues/1510 and https://github.com/Microsoft/TypeScript/issues/14662 Currently we always return the full types. We need to think of smart way to shorten these so they are more readable

[2018-03-06 05:02] #44928 closed

[2018-03-06 05:11] Phrohdoh opened #45110 "Request: Command to view all snippets"
Seeing all snippets available is useful especially when showing how an extension can make development faster and easier.

[2018-03-06 05:23] danielo515 commented on #44329
Hello @mjbvz ,
I can unserstand that. However seems that they are in conflict, and there is no documentation about how to deactivate the built-in formatter. Do they take in account the .editorconfig file ?

[2018-03-06 05:40] SkyMidnight commented on #28795
If you're using Ubuntu 17.10 with latest GNOME desktop environment you'll notice this bug too. I tried to install old Ubuntu DE "Unity" and use VSCode on it and I didn't noticed this bug. Everything worked as expected without any errors.

Linux 4.13

[2018-03-06 05:43] cleidigh commented on #43475
@joaomoreno
@bpasero
@isidorn
@Tyriar

As I mentioned in the other issue #45078 (same case and some were description)  the root cause it's not the Focus, it's the fact that we somehow end up with a misconfigured list.  I don't want to fix this with just a null check since it would still leave us with an error and an empty select box.

I can now reproduce this thanks to @IlyaBiryukov .
Somehow when

[2018-03-06 05:45] bpasero commented on #44914
@rebornix yeah there is indeed more:

![image](https://user-images.githubusercontent.com/900690/37015866-dbb24a68-2109-11e8-9dd6-f3e599bca659.png)

Filed as https://github.com/Microsoft/vscode/issues/44913

[2018-03-06 05:51] lizhihua0925 commented on #43169
I have the same problem in win7:
![image](https://user-images.githubusercontent.com/16623135/37016071-6aab4f72-2145-11e8-946a-0e3dd696ac41.png)
but it is work fine in win10

[2018-03-06 05:52] cleidigh commented on #44915
@bpasero
I think I'm going to pass in clearances and maximum height and width.
I will keep the status bar as I hardcode within select box to guarantee clearance with the status bar.

[2018-03-06 05:54] gnijuohz commented on #45031
Hi @joaomoreno I would like to take up this task. Could you point me to a starting point?

[2018-03-06 05:57] bpasero commented on #16927
@Rosseyn there is also:

![image](https://user-images.githubusercontent.com/900690/37016242-9246d0cc-210b-11e8-9f49-b71cdf2eecf8.png)

[2018-03-06 05:57] bpasero commented on #45104
/duplicate https://github.com/Microsoft/vscode/issues/4845

[2018-03-06 05:57] #45104 closed

[2018-03-06 05:58] bpasero commented on #45101
@mustafawm can you share a screencast or screenshot what you see?

[2018-03-06 05:58] Bendjen commented on #43169
@lizhihua0925  @daix6   Choose New Window from the File menu, it work for me,you can make a try.

[2018-03-06 06:01] blakewatson commented on #45096
I found a dialog that says "Some editor features will have different behavior behavior: e.g. word wrapping, folding, etc."

[2018-03-06 06:02] bpasero commented on #44915
@cleidigh feel free to assign me to review a PR on this and we can discuss the strategies there

[2018-03-06 06:09] paperant opened #45111 "Some Extensions are missing unexpectedly."
### Issue Type
Bug

### Description

Sometimes when I **launch the app** or just after I **click** the `Reload to update`, some of the extensions would be missing.
For the first time, I lost my theme extension `Dracula Official 2.9.0`. I have nothing to do but try to search for it and **reinstall it manually**. And now I lost extensions `Code Runner 0.9.0` and `Language Support for Java(TM) by Red

[2018-03-06 06:19] bpasero commented on #44930
Closing as per https://github.com/Microsoft/vscode/issues/44930#issuecomment-370028160

[2018-03-06 06:19] #44930 closed

[2018-03-06 06:23] bpasero commented on #44745
@jrieken we now seem to be adding `() => { }` for every promise, wouldn't it be much easier to just handle the case of missing cancel handler within WinJS by just adding a no-op function? I think it would be hard to catch all cases of promises where this is missing because we would have to execute each promise to find out...

[2018-03-06 06:35] jkanchelov commented on #45094
I've tried it, but it would be easier if it comes straight without the need to declare it there. I have the habit to often move the instance from one monitor to another and if they are on different resolutions sometimes there is a need for me to zoom in / out often.

[2018-03-06 06:36] mustafawm commented on #45101
Double clicking on `AdminController`, `Controller`, then `Home Controller` as you can see the last open file is positioned above the previous ones.
After that, i'm `cmd + w`ing , and as you can, the previous ones start come to front which means they're open but being overridden by the last opened file.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/13101565/37017396-a8a70860-

[2018-03-06 06:37] bpasero opened #45112 "DirtyDiffModel leaks"
Steps to Reproduce:

1. open 2 editors under git and make a heap snapshot
2. jump between editor 1 and 2 10 times

=> note 10 `DirtyDiffModels` added

It looks like the dispose method of this model is never called.

[2018-03-06 06:38] bpasero opened #45113 "TreeView: drag listener leaks"
Steps to Reproduce:

1. scroll the tree when there are items inside
2. add a breakpoint [here](https://github.com/Microsoft/vscode/blob/master/src/vs/base/parts/tree/browser/treeView.ts#L244) and [here](https://github.com/Microsoft/vscode/blob/master/src/vs/base/parts/tree/browser/treeView.ts#L236)

=> I never see the drag listener getting disposed

[2018-03-06 06:44] bpasero commented on #45112
Hm I think the dispose method is actually called, but the snapshot tool is still showing 10 models hanging around:

![image](https://user-images.githubusercontent.com/900690/37017781-315250a0-2112-11e8-974f-8399b5e242e5.png)

Maybe some listener is not disposed or the model is being hold on to somewhere else?

[2018-03-06 06:46] bpasero commented on #45101
@mustafawm it looks like tabs are disabled, can you run this:

![image](https://user-images.githubusercontent.com/900690/37017860-6d0354e6-2112-11e8-89f0-3bbc7177403b.png)

[2018-03-06 06:50] daix6 commented on #43169
@Bendjen Sadly not work for me

[2018-03-06 06:55] goessner commented on #45007
when opening a test file only with 3 images in a test folder, it looks like ...

![grafik](https://user-images.githubusercontent.com/4902746/37018004-028bda4c-2113-11e8-8858-33ba7e23e59d.png)

but then .. when opening the complete folder in vscode - as you did - it shows ..

![grafik](https://user-images.githubusercontent.com/4902746/37017878-875a1456-2112-11e8-9e0f-cb8f49d7d324.png)

I hope that

[2018-03-06 06:56] #44899 closed

[2018-03-06 06:56] bpasero commented on #44899
I pushed this for the renderer and the extension host (100 instead of 10 frames). Let's see how it goes and then decide if we want to turn this on in more processes.

[2018-03-06 07:12] chrmarti commented on #45099
One objection when the bot guessed and auto-assigned type-labels was that these are used as a way of confirming the issue and should always be set by the developer. That feedback might again come up in this case.

[2018-03-06 07:16] chrmarti commented on #45081
#16601

[2018-03-06 07:23] borekb commented on #43295
Hi @mjbvz , the problem still exists in the current insiders. If you open the attached file and scroll down to line 418, the preview will open at an incorrect scroll position.

[example.md.txt](https://github.com/Microsoft/vscode/files/1783870/example.md.txt)

[2018-03-06 07:24] chrmarti commented on #44745
An empty handler is only valid for leave operations that cannot be canceled themselves and do not contain any operations that could be canceled.

I'm more concerned about us adding cancel handlers to code paths that never get canceled, that just makes our code less readable and we run the risk of using more empty handlers than we should as a shortcut.

[2018-03-06 07:36] #42841 closed

[2018-03-06 07:37] weinand commented on #45100
I'm not aware of any changes in the area of source maps. "outFiles" exists for a long time and it was always accepting glob patterns only. So "${workspaceRoot}/out/src" could have never worked.

[2018-03-06 07:52] DanTup commented on #45110
@jrieken This came about from Dart Code. I recently moved my snippets to the completion provider so I could enable them for the correct project type (based on our discussions in #41202) but this means Code doesn't know about them and therefore they don't appear in the `Insert snippets` list.

It would be great if we could have context-aware snippets without having to have them drop off this list (

[2018-03-06 07:54] jrieken commented on #45057
cc @sandy081 who is doing some work on icons

[2018-03-06 07:55] dbaeumer commented on #45107
@Tyriar I am passing this on to you. Looks like when reconstructing the single line from a wrapped line the terminal drops a space (e.g. `[77, 20]` gets `[77,20]`). Please assign back if this is something you think the problem matcher needs to handle better.

[2018-03-06 08:00] jrieken commented on #44745
Yeah, maybe. It didn't add the warning about unhandled cancellation, it's also not WinJS specific but our change.

Idea to change the constructor signature once are done or close to done

My understanding is that they get cancelled anyways. When you don't have an handler the promise will be rejected with a cancelled-error.

[2018-03-06 08:01] jrieken commented on #45110
closing this as dupe of #45039. While that talks about filtering an implementation might add some kind of dynamic buttons to the suggest widget itself

[2018-03-06 08:01] #45110 closed

[2018-03-06 08:02] tsalinger opened #45115 "Git amend: Line break is removed"
Problem: Trying to amend a previous commit which contains line breaks. The line breaks are not preserved in the quick picker.

![gitamendnolinebreaks](https://user-images.githubusercontent.com/15158320/37020456-1f9eef94-211c-11e8-8382-aaa2695a76ca.gif)

Would it be a worse UX if the commit message was shown in the intial commit input box instead of the quick picker?

[2018-03-06 08:03] jrieken commented on #41852
Yeah, that's the assumption

[2018-03-06 08:11] dbaeumer commented on #45014
@idanarye VS Code offers API for extension to apply edits to an open buffer. When this API is called the editor itself sorts the array using a stable sort algorithm as defined in the LSP spec.

See: https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L5556

[2018-03-06 08:12] DanTup opened #45116 "Allow customisation of debug toolbar (eg. additional buttons)"
In Flutter (a framework for developing mobile apps) we have two different types of restart during debugging:

1. Stateful Hot Reload
2. Full Restart

Since stateful hot reload is awesome, we've wired that up to the Restart button on the toolbar. In the case where this fails (eg. because you modified something that makes your state invalid) we have a status bar notification and an action in the com

[2018-03-06 08:26] OwenLearnsToCode commented on #44919
[CPU-20180306T162417.zip](https://github.com/Microsoft/vscode/files/1784094/CPU-20180306T162417.zip)
Here. After I started the profile, I began randomly selecting, highlighting and scrolling. It lagged once right before I stopped the profile.

[2018-03-06 08:36] #44394 closed

[2018-03-06 08:44] aeschli opened #45118 "Markdown: add region folding to syntax folding"
https://github.com/Microsoft/vscode/pull/44795 adds language aware folding to markdown (Thanks a lot!)

Don't forget to also support the folding regions that we already support for markdown:
[code]
 Ideally your scanner known where the comment tokens are and can do this more efficiently (and correct) that a regexp on every line.

[2018-03-06 08:46] joaomoreno commented on #44486
@e1337us3r Try to figure out which extension causes it, by disabling extensions one by one.

@qkrtmddml Let me know the answer to my question.

[2018-03-06 08:47] joaomoreno commented on #44272
OK, can you try running those same commands in the command line?

[code]

What is the outcome?

[2018-03-06 08:49] joaomoreno commented on #43949
I am not aware of anyone else having exactly the same issue. What makes you say this? Can you point me to it?

[2018-03-06 08:51] DanTup opened #45119 "How to hide context menu commands from command palette?"
I'm contributing some commands to a custom view via `view/item/context` in `packages.json`. As I understand it but they're showing up in the command palette. I had prefixed them with an `_` and also set the `when` condition in `menu/commandPalette` to `false` however they still appear in the command palette:

[code]

What's the correct way to hide an item from the palette (these commands are actio

[2018-03-06 08:52] #45103 closed

[2018-03-06 08:59] chabinot opened #45120 "Font Ligatures"
Hello,
- VSCode Version: 1.20.1
- OS Version: Windows 10
How can i activate font ligatures ?
In my font list, i have yet "Fira Code".
In the settings, i do this :
{
    "editor.fontFamily": "Fira Code",
    "editor.fontLigatures": true,
    "editor.fontSize": 18
}
It does'nt work.
Best regards

[2018-03-06 09:06] jesseliu612 commented on #44992
@aeschli you're right
@bpasero not very large, only about 580KB.

[2018-03-06 09:09] bpasero commented on #44745
I also think that adding these cancellation handlers will make it harder to adopt native promises ever where this concept does not exist. Rather if you want promise cancellation, introduce some cancellation token and handle it properly.

[2018-03-06 09:11] chrmarti commented on #44745
I agree, on some (probably most) promises/promise chains no one ever calls `cancel()`. Adding cancel handlers to these is unnecessary.

For those promises that can have `cancel()` called it might still make sense to have a warning logged when they don't have a handler because that can indicate a bug. Maybe throwing an error for the caller of `cancel()` is a little harsh.

I'd either keep things as

[2018-03-06 09:14] goessner commented on #45007
.. previous post was with extension mdmath deactivated. When activating it and opening the complete folder, the images are visible, but formulas aren't working ...
![grafik](https://user-images.githubusercontent.com/4902746/37018987-c79c7906-2116-11e8-86e5-6026d9a6adc6.png)

[2018-03-06 09:14] tlycken commented on #44416
@Tyriar This has happened now a number of times over the past week, with no common traits of the commands I've been using. Sometime's it's `docker` or `kubectl`, sometimes it's `git` or `dotnet`. Sometimes it takes a while (> 30 minutes) before I see it the first time, sometimes it begins with the first or second command I issue.

I realize this isn't much to go on, but I don't really know how to

[2018-03-06 09:16] bpasero commented on #44745
Yeah +1 for a warning instead of an error.

[2018-03-06 09:18] aeschli commented on #45021
duplicate of https://github.com/Microsoft/vscode/issues/34141

[2018-03-06 09:18] #45021 closed

[2018-03-06 09:19] chrmarti opened #45121 "Don't check parent folders for settings / settings folder"
Following up on #44980.

[2018-03-06 09:26] bpasero commented on #44992
@jesseliu612  I changed your sample to this:

[code]

But cannot reproduce. What is your exact setup, do you have the parent folder of that file opened?  Can you reproduce with our insider release? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2018-03-06 09:29] simon-r commented on #42821
I've observed that sometime, randomly, the problem disappear.
But at the moment the bug is there (and very annoying).

[2018-03-06 09:29] sandy081 opened #45122 "Do not leak `--disable-extensions` into extensions actions"
Extension management service should be the sole owner of disabled extensions. It should have all the knowledge of what extensions are disabled under given circumstances. For eg., when started with `--disable-extensions` only user extensions should be disabled and not system extensions. But user should be able to still disable/enable system extensions.

[2018-03-06 09:30] sandy081 commented on #44104
@sbatten Good catch. Provided a minimal fix - not to show reload action when `code` started with `--disable-extensions`.

Implementation wise, it is not ideal. Created a follow up debt item for cleaner implementation -#45122

[2018-03-06 09:31] #44104 closed

[2018-03-06 09:32] joaomoreno commented on #44272
So what happens if you run the command as it is, with the absolute path?

[2018-03-06 09:33] aeschli commented on #45003
Yes, the fold comment feature currently only works if the comment is a folding region based on the indentation.

[2018-03-06 09:36] #37845 closed

[2018-03-06 09:39] lukaschal commented on #44922
Fixed as suggested "Geben Sie eine Commit-Nachricht ein."

[2018-03-06 09:40] joaomoreno commented on #45113
Seems to be a false positive.

[2018-03-06 09:40] #45113 closed

[2018-03-06 09:42] weinand commented on #4758
@Brocco could you get the [extension](https://marketplace.visualstudio.com/items?itemName=rozzzly-dev.vscode-prompt-debug) to work?

[2018-03-06 09:42] sukhoi1 opened #45123 "ToDo features for VS Code: multi-screen feature and two-level tabs"
There is no multi-screen feature (drag and drop tabs to second screen);
There is no pin two-level tabs feature using "pin tab" feature (it is possible to enable in Visual Studio such feature);

[2018-03-06 09:44] DanTup opened #45124 "vscode.executeCodeActionProvider results seem to be missing their `command` property"
I have a code action provider that returns code actions like this:

[code]

In a contributed tree I call `vscode.executeCodeActionProvider` and filter to the CodeActions that have kinds:

[code]

However when I inspect the returned values, the (outer) `command` property is missing. I need this in order to invoke the code action.

(cc @mjbvz - not sure if maybe this is related to new CodeAction stu

[2018-03-06 09:46] #45121 closed

[2018-03-06 09:47] #45123 closed

[2018-03-06 09:51] sandy081 commented on #41894
@DanTup 1.21 is planned to release this week.

[2018-03-06 09:54] sandy081 commented on #45036
@zphhhhh I think you might have hidden the Extensions activity group. You can get it back permanently by doing as follows:

![image](https://user-images.githubusercontent.com/10746682/37025703-b7726b60-212c-11e8-8ccd-a057c8bd3198.png)

[2018-03-06 09:54] #45036 closed

[2018-03-06 09:56] alexandrudima commented on #43798
Duplicate of #29033

[2018-03-06 09:56] #43798 closed

[2018-03-06 09:56] tsalinger commented on #45115
Hmm... I see the problem.
A quickfix could be to display and parse the line breaks in the quickpick.

A more sophisticated approach would be to add a showMessage of type info to the inputBox.
It would notify the user that a) it's currently in an amend operation and b) that ESC aborts it.
However, I'm not sure how well this would integrate into the current workflow.

[2018-03-06 09:58] sandy081 commented on #45053
@DanTup A user can change the order by drag and drop. Currently there is no way for extension author to specify the order. They should come in the order they are registered. Let me know if you do not see this?

[2018-03-06 10:02] colombod commented on #40235
Is there any action or update on this item?

[2018-03-06 10:03] #41106 closed

[2018-03-06 10:09] alexandrudima commented on #45096
By default, we only leave the last typed character in the `<textarea>` on OSX when we don't detect a screen reader is attached. That covers the cases when long pressing `e` into `é`. We could leave the entire word in the `<textarea>` to cover the Accessibility Keyboard case.

[2018-03-06 10:11] venkovich opened #45125 "Preview is bugged"
### Issue Type
Bug

### Description

This preview page is totally bugged ... every time i open new file and click preview it start to flicker between my previous and the new one after every new click...

### VS Code Info

VS Code version: Code 1.20.1 (f88bbf9137d24d36d968ea6b2911786bfe103002, 2018-02-13T15:34:36.336Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

[2018-03-06 10:13] weinand opened #45126 "Allow to run Node from node_modules/.bin"
_From @GingerPlusPlus on February 20, 2018 20:56_

VSCode's Node debugger could add `./node_modules/.bin` to the beggining of PATH before running Node, which'd allow to use https://npmjs.com/node to easily use a version of Node different than the one installed on the system by running for example `npm i --no-save node@6`.

_Copied from original issue: Microsoft/vscode-node-debug2#168_

[2018-03-06 10:13] weinand commented on #45126
You can use the [new "runtimeVersion" attribute](https://code.visualstudio.com/updates/v1_20#_node-debugging) or something like:
[code]

[2018-03-06 10:13] weinand commented on #45126
_From @GingerPlusPlus on February 22, 2018 21:3_

Thanks for your reply!

This is not what I asked for, but it'll do.

[2018-03-06 10:13] weinand commented on #45126
Please feel free to submit a PR.

[2018-03-06 10:17] mustafawm commented on #45101
That was it.

Thanks @bpasero

[2018-03-06 10:17] #45101 closed

[2018-03-06 10:23] #45112 closed

[2018-03-06 10:25] DanTup commented on #45053
@sandy081 Ah, didn't know the user could change them. When you say registered - you mean in Code and not in the `package.json`? I'll test again and let you know.

[2018-03-06 10:27] DanTup commented on #45053
Registration order in code doesn't seem to do it:

![Ordering](https://user-images.githubusercontent.com/1078012/37027316-e66793a4-2128-11e8-8df2-b3efb7d22950.png)

Though note that I use context values to toggle visibility of them (so dependencies was visible to the user before the outline).

[2018-03-06 10:27] jrieken commented on #44745
Not really sure what that means... Throwing the error is just used to get to the stack when calling the ctor with an handle and only something I did for producing the list (that code isn't anywhere). The problem is that most people don't wanna handle cancellation but are then confused when cancellation happens... So, use native promises with/without a cancellation token or capture that stack trace

[2018-03-06 10:28] weinand opened #45127 "Support language specific intellisense in breakpoints conditions and logMessage peek UI"
related issue (but not a duplicate): https://github.com/Microsoft/vscode/issues/11692

Additional info:
- turn current condition text box into an editor (so that we can use the Intellisense infrastructure),
- one way to get Intellisense is to programmatically trigger a completion command for the breakpoint's line and underlying file. From the resulting list of completion items you can extract inte

[2018-03-06 10:30] jrieken commented on #45124
Yeah, that's an oversight when receiving the result

[2018-03-06 10:32] lukaschal commented on #30844
Fixed as suggested.

https://www.transifex.com/microsoft-oss/vscode-workbench/translate/#es/$/114440152?qt=Ejecutar tarea

[2018-03-06 10:32] #30844 closed

[2018-03-06 10:33] DanTup commented on #45124
@jrieken Can you think of any reasonable workaround I could use in the meantime?

[2018-03-06 10:34] alexandrudima commented on #44919
@OwenLearnsToCode Thanks for the profile, but unfortunately I don't see any blocking activity taking more than 10 or 20ms. It all looks ... rather ... normal and boring. i.e. nothing stands out nor is blocking the UI thread...

So I am thinking the lag is not caused by the renderer process or, at least, not by our code running in the renderer process. I wonder if Chromium has compatibility issues

[2018-03-06 10:34] #45014 closed

[2018-03-06 10:35] weinand opened #45128 "Add support for "logPoints""
Umbrella item for LogPoints:

- [x] show breakpoint icon in Breakpoints view (finished in February #3388)
- [x] DAP: Add support for log-points #162
- [x] treat source breakpoints with logMessage as logPoints in the UI
  - [x] show them with diamond shaped icon
- [x] new "Add Logpoint" and "Edit Logpoint..." actions in gutter
- [x] new peek UI for editing logPoint message
  - [ ] Support language

[2018-03-06 10:38] jrieken commented on #45124
Not really... But I'll push a test in a minute

[2018-03-06 10:39] #45124 closed

[2018-03-06 10:40] DanTup commented on #45124
@jrieken Is it too late for this in 1.21?

[2018-03-06 10:48] jrieken commented on #45124
Yeah, I will cherry-pick the change to the release-branch. We have just release an 1.21 candidate as current insiders and this will likely go into an insiders-build this afternoon

[2018-03-06 10:50] weinand opened #45129 "Support remote debug adapters"
- Introduce "Launch service" API for launching DAs somewhere
- make VS Code use "Launch service"
- provide "Launch service" implementation that runs DAs side by side with the EH

[2018-03-06 10:50] bpasero commented on #44745
@jrieken we are talking about changing [this](https://github.com/Microsoft/vscode/blob/master/src/vs/base/common/winjs.base.raw.js#L1662):

![image](https://user-images.githubusercontent.com/900690/37028455-9394c3d4-2134-11e8-97b0-509a86414fbf.png)

to be a warning instead.

[2018-03-06 10:51] stephen-mathew commented on #20837
VSCode really lags behind with this feature. Really wish this was present - maybe as someone suggested, that copy+paste works on a default theme always and display has a different theme.

[2018-03-06 10:54] jrieken opened #45130 "No Update message restores windows"
* on mac
* open two windows of a version without updates
* minimise one of the windows
* select "check for updates"
* 🐛  the minimised windows is restored in order to show yet another modal dialog

[2018-03-06 10:59] jrieken commented on #45119
Yeah, that's the idea of global commands. Be prepared that your commands are invoked by whomever... You can use the when-trick but `false` isn't a good condition, use something that exists like `"when": "config.noExists"`

[2018-03-06 11:00] #45119 closed

[2018-03-06 11:02] OwenLearnsToCode commented on #44919
@alexandrudima

That might very well be the reason! The lag spikes were gone after disabling the gpu! Come to think of it, it's probably because of the dual GPU on my laptop. Is there a recommendation for a way of solving this? Meanwhile, I'll play with the GPU switching settings... Thanks so much

[2018-03-06 11:02] jrieken commented on #44745
Yes, that change. The error/stack must be captured at construction tho. The default `_oncancel` would be something that prints the stack-trace from which that promise was created. Only then you blame the creator, not the cancel-or. Unsure tho if we should run in production with this

[2018-03-06 11:12] DanTup commented on #45119
@jrieken I don't quite understand what you mean. Do you mean to actually use the condition `config.noExists` or just some made up value? I thought `false` was the safest value that could never occur. Is there a better way to create internal commands that shouldn't be called/seen by users?

[2018-03-06 11:13] DanTup commented on #45124
@jrieken Perfect - thanks very much!

[2018-03-06 11:16] bpasero commented on #44745
@jrieken Yeah that is a bit risky at construction time. We could start by:
* logging a warning instead of error from `_cancelAction`
* capturing the stack frames and filtering out any WinJS part
* printing the stack from the part where WinJS is no longer involved

I meanwhile pushed a change to increase the stackframe limit from 10 to 100 so we should get out the context much better. Last time I d

[2018-03-06 11:22] steveklabnik commented on #13138
I am seeing the same as https://github.com/Microsoft/vscode/issues/13138#issuecomment-355127058; that is, `code .` will open Code, but doesn't open up `.` in it.

[2018-03-06 11:24] aeschli commented on #45044
[code]
![image](https://user-images.githubusercontent.com/6461412/37029191-ce16a3d6-2136-11e8-8821-4a2ee56dccf1.png)

@yukulele I would 'blame' the pug grammar here as 'string.comment.buffered.block.jade' matches to the string color in almost all the themes. But maybe they did that intentionally. Please file a change request here: https://github.com/davidrios/jade-tmbundle

Note, you can also cust

[2018-03-06 11:24] SailorMax opened #45131 "File diff Ignore Trim Whitespace turn off if no difference found"
- VSCode Version: 1.20.1
- OS Version: Windows 10 16299.248

Steps to Reproduce:

1. add or remove tab before any line of repository file
2. open SCM tab
3. open diff viewer with modified file

Expected: see changes
Actual: don't see any changes

Does this issue occur when all extensions are disabled?: Yes

[2018-03-06 11:24] #45044 closed

[2018-03-06 11:26] aeschli commented on #45082
This issue was moved to textmate/html.tmbundle#79

[2018-03-06 11:26] #45082 closed

[2018-03-06 11:35] aeschli opened #45132 ""notification.background" still used in many built-in themes"
![image](https://user-images.githubusercontent.com/6461412/37030189-5a6dfafc-213a-11e8-8801-1f951b744874.png)

"notification.background" still used in many built-in themes

[2018-03-06 11:36] ipochi opened #45133 "Git: Option to Close All working-tree files"
There should be an option to close all working-tree files , but leaves the other files open.

[2018-03-06 11:39] pellea commented on #44272
Sorry ... the second command is nor working. If I want to remove the App.tsx file I need to run it twice.

It seems the issue I have is actually not related to VSCode.

[2018-03-06 11:42] #45132 closed

[2018-03-06 11:44] warpdesign opened #45134 "Terminal: scrollbar is back to the top of terminal"
Version 1.21.0-insider
Commit b76a4a71434d6cdee69fa1d8bdc7533d09598d53
Date 2018-03-02T13:48:32.486Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

Steps to Reproduce:

1. open integrated terminal and have it display enough text for the scrollbar to appear
2. switch to another panel, like `problems`
3. switch back to the terminal panel: the scroll position is the same, but the scr

[2018-03-06 11:54] DanTup commented on #43664
@dbaeumer Happened again - here's the error shown in the terminal:

![ts error](https://user-images.githubusercontent.com/1078012/37030925-a1d5777c-2134-11e8-95c7-062eeaaa948e.png)

[code]

Here's how the output looks if I do `npm run compile`:

[code]

I've taken a copy of my working directory so hopefully can repro later if you need any more info than the above.

[2018-03-06 11:56] bpasero commented on #24112
@estrode do you still see this?

[2018-03-06 11:59] bpasero commented on #44819
/duplicate https://github.com/Microsoft/vscode/issues/28425

[2018-03-06 11:59] #44819 closed

[2018-03-06 12:00] sandy081 commented on #45033
@isidorn your argument makes sense. New change looks good to me.

[2018-03-06 12:00] bpasero commented on #31984
Please reopen if you can still reproduce in newer builds.

[2018-03-06 12:00] #31984 closed

[2018-03-06 12:00] bpasero commented on #32721
Please reopen if you can still reproduce with newer builds.

[2018-03-06 12:00] #32721 closed

[2018-03-06 12:01] bpasero commented on #35330
@reklawevarg still happening?

[2018-03-06 12:02] weinand commented on #45097
VS Code doesn't have builtin C++ support. Please file issues like this against the C++ extension.

[2018-03-06 12:02] bpasero commented on #36775
@breathe is that reproducible? it should at least show the content after reopening

[2018-03-06 12:02] weinand commented on #45097
This issue was moved to Microsoft/vscode-cpptools#1643

[2018-03-06 12:02] #45097 closed

[2018-03-06 12:02] bpasero commented on #38574
@a1291762 @mwcarew still happening?

[2018-03-06 12:03] sandy081 commented on #44077
@SheepDomination Looks like the settings file is not syntactically correct. Last settings are outside the parenthesis `{...}`. Can you please move them inside and try.

Not sure how you got into this state where settings are outside.

[2018-03-06 12:05] sandy081 commented on #45053
In Package.json

[2018-03-06 12:10] sandy081 commented on #45057
@jrieken Are there constants in the API  representing document symbol icons?

[2018-03-06 12:19] warpdesign commented on #44029
Today I had the problem in an external terminal so it's defintely an issue with insider builds and not related to VSCode.

Closing the issue.

Note that I opened up an issue on Windows Feedback Hub [here](https://aka.ms/Gq3t6b).

[2018-03-06 12:19] #44029 closed

[2018-03-06 12:20] vijaypushkin commented on #45120
Did you install Fira Code in your computer?

[2018-03-06 12:33] evenfrost commented on #44417
Sorry, I wasn't clear enough. Yeah, such option will be handy for JSX for aforementioned reasons (e.g. linting validation).

[2018-03-06 12:36] #44267 closed

[2018-03-06 12:37] radevm opened #45135 "An installed extension has "recommended" badge in the Extensions panel"
### Issue Type
Bug

### Description

One of the installed extensions has the "recommended" badge with the explanations "This extension is recommended based on the files you recently opened".

### VS Code Info

VS Code version: Code 1.20.1 (f88bbf9137d24d36d968ea6b2911786bfe103002, 2018-02-13T15:34:36.336Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value

[2018-03-06 12:37] leopoldkristjansson commented on #44655
Just to provide more information. I had this same issue with VS Code January 2018 (version 1.20). I had none of the extensions that @stanleykylee had. However, when I disabled all of my extensions, "copy/paste" using keyboard started working again (using the mouse and right clicking to "copy/paste" never stopped working in my case).

I systematically activated my extensions again one by one until

[2018-03-06 12:42] lukaszpolowczyk opened #45136 "Auto-create object from selected variables (like creating function) - Proposal"
For example, select this:
let symbolSize = 8;
let unsigned = true;
let array = [21, 31];

Show bulb, with option "Extract to object with properties" that creates:
const obName = {
	symbolSize: 8,
	unsigned: true,
	array = [21, 31]
}

[2018-03-06 12:42] EryetChen commented on #45095
i have the same issue after the recent update(before update everything works fine)

[2018-03-06 13:06] JaDaar commented on #45017
![screen shot 2018-03-06 at 8 00 59 am](https://user-images.githubusercontent.com/961482/37033814-33453816-2115-11e8-8896-b92d6a40c0fe.png)

[2018-03-06 13:09] mihailik opened #45137 "Reopen: vscode terminal disrespects `cls` command in windows"
#23227 was closed incorrectly:

First of all, this is not a duplicate of xterm.js issue titled `Running clear in terminal removes viewport content from buffer instead of hiding it`. It is the precise opposite of the behaviour described in that xterm.js issue: on Windows the content is hidden rather than wiped.

Note that @Tyriar himself (owner of term.js repo) <a href="https://github.com/xtermjs/x

[2018-03-06 13:15] mihailik commented on #45137
Apparently, that also affects `tsc --watch ` behaviour.

The latest release of TypeScript modified its rebuild-on-change behaviour. It wipes the screen before doing incremental rebuild, just to make it easier to tell apart build outputs from consecutive builds.

VSCode sticks those back together however :-(

[2018-03-06 13:19] mihailik commented on #45137
When VSCode runs **on Windows**, it should override term.js handling of [wipe] signal.

It could simple destroy old terminal instance, create new and then continue with that reflecting the same actual console that's been running behind the scenes.

[2018-03-06 13:22] gogoIsComing commented on #45091
@kieferrm thank you , but i don not see my HTML code :
![4](https://user-images.githubusercontent.com/33967218/37034461-06b8d2ac-2152-11e8-9d6f-e1ed9eec2da6.png)

**and i still can not see the errors like chrome**

error window on chrome :
![2](https://user-images.githubusercontent.com/33967218/37034390-be557952-2151-11e8-9e44-8ed633788c6e.png)

error window on vscode :
![3](https://user-images.gi

[2018-03-06 13:25] wUFr opened #45138 "[LESS/CSS] VSC suggests "text-emphasis" firts while writing "text-transform""
- VSCode Version: **1.20.1**
- OS Version: **Win 10** x64 CZ - 1709 (16299.248)

**Steps to Reproduce:**

1. Start writting `text-transform:` property
2. VS Code suggests `texts-emphasis` first at all times even tho `text-transform` cleary matches more

Does this issue occur when all extensions are disabled?: **Yes**

![suggestions](https://user-images.githubusercontent.com/10975377/37034524-d6cb8

[2018-03-06 13:26] fthebaud opened #45139 "allow tc39 proposal-export-ns-from"
Currently the following Javascript export syntax is not considered valid by vscode:
`export * as actions from './Something.actions.js';`

![20180305_124241_code](https://user-images.githubusercontent.com/5389778/37034618-2dda0d90-214a-11e8-9739-a6228e83897f.png)
![20180305_123722_code](https://user-images.githubusercontent.com/5389778/37034627-3348ca14-214a-11e8-84c1-4d8c97ac523d.png)

This syntax

[2018-03-06 13:33] SheepDomination commented on #44077
Hi, I've tried moving all settings inside the `{...}` but the error continues ?

[2018-03-06 13:42] jesseliu612 commented on #44992
@bpasero fortunately it works fine when using the insider release. Next time I'll check the insider release before submitting an issue. Thanks again for your reply.

[2018-03-06 13:46] esutton commented on #5192
+1

Supporting comment color in query results would be very helpful to find results in code rather than in comments or visa versa.

![color](https://user-images.githubusercontent.com/6115047/37035405-15b70bc4-2112-11e8-890d-e30188a9be4d.png)

[2018-03-06 13:47] DanTup commented on #45053
@sandy081 The Flutter Outline view is already the first one in my packages.json:

[code]

[2018-03-06 13:52] pbriggeman commented on #43612
@joaomoreno - Welp, not sure what happened here, but when I enabled the background update mechanism, the update is now working properly without any issues.  I guess we can close this issue now.  Thank you so much for your help!!

[2018-03-06 13:56] jesseliu612 commented on #44992
upd:
Seems another problem turned out. It can be caused by an unexpected infinite loop.
run the following code:
[code]
while the program is running, vscode seems alright, but after about 10 seconds when I press Ctrl+C to terminate it, the system turned no responding, and I have to restart the computer in order to continue my work.

[2018-03-06 14:31] bpasero commented on #44992
@jesseliu612 the entire system turns frozen or only VS Code?

[2018-03-06 14:46] jesseliu612 commented on #44992
@bpasero the entire system, even the cursor can't move, and Ctrl+Alt+Fx doesn't work. but it should be caused by VS Code.

[2018-03-06 14:47] joaomoreno commented on #45130
Duplicate of #45069

[2018-03-06 14:47] #45130 closed

[2018-03-06 14:48] joaomoreno opened #45140 "Create lint rule for forgetting to collect events disposables"

[2018-03-06 14:48] bpasero commented on #24634
Fyi anyone on this issue, see: https://apple.stackexchange.com/questions/269622/macos-windows-requiring-an-explicit-click-to-make-active-before-ui-elements-ins

Would an option still be desired? I think this would be a bit against the macOS guidelines, but maybe someone can show examples of other apps that have such a setting?

[2018-03-06 14:51] bpasero commented on #44992
@jesseliu612 do you have the parent folder of the file opened or only a single file and nothing else? Can you show a screenshot when the file is opened?

[2018-03-06 14:51] bpasero commented on #45140
@egamma any pointers?

[2018-03-06 14:52] moymike commented on #871
+1, surprised that this generic feature does not exist in the base vscode

[2018-03-06 14:54] hunhejj opened #45141 "quickOpen does not reveal file in side bar when a drive is opened"
### Issue Type
Bug

### Description

* _(map a folder to a drive)_
* File > Open folder > select a _drive_ as the root folder, e.g. `D:` _(or the one mapped in the prev step)_
* Open a file, e.g. `foo.bar` _with quickOpen_
=> issue: The correct file will be opened inside the Open editors, but it is not recognized as a file from the workspace, i.e. it won't get highlighted in the Explorer
* Open th

[2018-03-06 14:54] isidorn commented on #43187
I can still reproduce, so reopening and removing needs more info. Let me know if I can help with providing more information.

[2018-03-06 14:59] isidorn commented on #44785
@roblourens why don't we turn on evalute on hover at least for insiders to get some feedback before making a final decision?
Imho triggering a getter will be a very rare case, while the evaluate will be much more precise compared to our current heuristic of looking at the variables (ignoring the scope ranges which are wrong most of the time)

[2018-03-06 15:00] jesseliu612 commented on #44992
![2018-03-06 22-59-12](https://user-images.githubusercontent.com/13160806/37039320-20a38b90-2192-11e8-884f-ef91e10469b8.png)

[2018-03-06 15:02] #45060 closed

[2018-03-06 15:05] jaegz commented on #3776
One of my all time favorite sublime shortcuts which I greatly miss in VS Code...

**Select all inside tags / Expand selection outwards**
<kbd>ctrl</kbd>+<kbd>,</kbd> or <kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>a</kbd>

[2018-03-06 15:06] sandy081 commented on #44077
Do you see any red squiggles? You should fix all those red squiggles.

[2018-03-06 15:07] bpasero commented on #45141
@hunhejj could it be that the casing of the files differs?

[2018-03-06 15:08] sandy081 commented on #45053
Ok, I will accept this as a bug to show the views in the order they are registered.

[2018-03-06 15:08] bpasero commented on #44992
@rebornix this could be the thing you mentioned once where the diff is getting very expensive when I set the model after receiving a file change event. Have you thought about disabling this for larger files?

[2018-03-06 15:09] isidorn commented on #45116
This is a fair feature request.
We already have the editor title area where extensions can contribute actions and icons
Here's an [example](https://github.com/Microsoft/vscode/blob/3f4df74ec7ad4b94365c78b11f26b3a1bd87e028/extensions/markdown/package.json#L42) of markdown doing it.

So we would need to introduce a new menu id for the debug toolbar. For example `'debug/actionBar'` - since we already

[2018-03-06 15:12] bpasero commented on #44745
Back to owner, I do not see how adding the no-op cancel thing helps us. We have around 321 places in our code where we do `new Promise | new TPromise` and would prefer a more local change in WinJS than going over each. As discussed we should also try to get rid of our `cancel` calls to WinJS promises to begin with if possible.

[2018-03-06 15:13] isidorn commented on #45100
I am not aware of any changes in this area.
I just double checked that we are still correcty replacing the deprecated `${workspaceRoot}`.  ${workspaceFolder} is the new syntax.

[2018-03-06 15:19] isidorn commented on #45128
@chryw fyi this milestone we will also be using the nice log point icon you provided us. Once you go over our icons to standardise them you could also make sure the log point is consistent with other icons as well.

[2018-03-06 15:19] weinand commented on #45116
@isidorn Sorry, but there are no "chakra actions". The debug protocol supports reverse-back and reverse-continue and VS Code surfaces that in the UI. VS Code does not know anything about chakra (and the [comment ](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/browser/debugActions.ts#L796 is wrong).  Any debug extension can use that. So there is no way that we ever re

[2018-03-06 15:22] hunhejj commented on #45141
It's just one single file. If I write in tab1, the changes are there in tab2.

[2018-03-06 15:23] blakewatson commented on #45096
@alexandrudima Ah, yeah from my perspective as a user that would be a great solution if doable—then I could keep access to text wrapping and whatever other features get restricted when `accessibilitySupport` is on.

[2018-03-06 15:27] #43691 closed

[2018-03-06 15:29] isidorn commented on #44866
@bpasero can you please verify?

[2018-03-06 15:31] colombod commented on #40235
@rebornix do you have any ETA, we have a  [PR 1906](https://github.com/OmniSharp/omnisharp-vscode/pull/1906) that is blocked on this item

[2018-03-06 15:31] isidorn commented on #45026
Verified it works nicely. Also did the code review.
@bpasero in theory you could use a when clause for the command.

[2018-03-06 15:31] jrieken commented on #44745
closing because of apparent lack of interest

[2018-03-06 15:31] #44745 closed

[2018-03-06 15:35] monkeygroover commented on #24634
Yes an option would be good, this bites me all the time. I swap to vscode, click on the terminal and start typing and end up trashing code in the upper window regularly. Very annoying.

[2018-03-06 15:36] bpasero commented on #42139
I assume this is now correct after invoking the action:

![image](https://user-images.githubusercontent.com/900690/37041417-7ac0d4f6-215c-11e8-8e90-e2ce0282c0bc.png)

[2018-03-06 15:36] #43679 closed

[2018-03-06 15:36] #43830 closed

[2018-03-06 15:37] bpasero commented on #45141
@hunhejj yes that is true because it is the same file on disk but it could still be a different casing used in VS Code. Can you copy the path of each files and compare them?

[2018-03-06 15:37] bpasero commented on #45026
@isidorn yeah thought about it, but didn't want to push that for stable. There is currently no when clause for when there are 0 notifications in the model.

[2018-03-06 15:38] bpasero commented on #24634
@monkeygroover could you get used to Cmd+click?

[2018-03-06 15:38] monkeygroover commented on #24634
No, in fact I cannot get that to work.

[2018-03-06 15:38] nguyenhuyanhh opened #45142 "Weird terminal splitting behaviour after VSCode restart"
Issue Type: <b>Bug</b>

The terminal does not split after VSCode is restarted.

If we kill the terminal and open it again, the issue disappears. Not really a big issue, but it's slightly annoying.

VS Code version: Code - Insiders 1.21.0-insider (d7dca142ad6051e6b1c7397ea73221feb0160f21, 2018-03-02T06:16:11.117Z)
OS version: Linux x64 4.13.0-36-generic

<details><summary>Extensions (4)</summary>

[2018-03-06 15:40] bpasero commented on #24634
@monkeygroover ah interesting, I just tried it out and Cmd+click works nicely for me. What macOS are you on?

[2018-03-06 15:41] isidorn commented on #42139
Yeah, but after you invoke it again module.js should no longer be dimmed

[2018-03-06 15:42] monkeygroover commented on #24634
Sierra (not high).  With multiple desktops (not sure if that matters or not).

So if I click in the code panel, then focus another app, if I click back on the terminal window with cmd-click nothing happens at all.

[2018-03-06 15:43] DanTup commented on #45116
Reverse continue?! That sounds bizzare!

I was actually thinking this would work by sending a `customRequest` or similar to the DA (so it's similar to `restartRequest`), though since we have two-way communication between UI and DA now it doesn't worry me too much how it'd work.

[2018-03-06 15:43] monkeygroover commented on #24634
Fn-click appears to work for me.

[2018-03-06 15:51] yaroslavsadin opened #45143 "shell script wrong comment highlighting"
- VSCode Version: 1.20.1
- OS Version: Windows 7

It seems VS code mistakingly implies a comment and dims the text when it sees hash symbol in the following case.

Steps to Reproduce:

1. Create new shell script and open in VS code
2. paste this:
`func="$(echo $i | gawk -F[#] '{printf ($1)}')"`
3. All after # symbol will be a "comment"

[2018-03-06 15:54] rugpanov commented on #23633
+1

[2018-03-06 15:56] jc5121 opened #45144 "can't find launch.json"
### Issue Type
Bug

### Description

can't find the launch.json file

### VS Code Info

VS Code version: Code 1.20.1 (f88bbf9137d24d36d968ea6b2911786bfe103002, 2018-02-13T15:34:36.336Z)
OS version: Windows_NT x64 10.0.15063

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7500 CPU @ 3.40GHz (4 x 3408)|
|Memory (System)|15.87GB (12.18GB free)|
|Process Ar

[2018-03-06 16:01] bpasero commented on #42139
@isidorn yeah that is what I saw

[2018-03-06 16:03] cdenneen commented on #44047
Since #5065 is locked and this is very similar, is anyone having GPG signing issue with VSCode+Mac combination?

[code]

Doing this from iTerm works fine.  VSCode Terminal works as well but in trying to do this in **native VSCode** it doesn't prompt for passphrase and fails immediately.

![screen shot 2018-03-06 at 11 01 15 am](https://user-images.githubusercontent.com/720097/37043095-cfe170b4-212

[2018-03-06 16:03] mmehan1 commented on #4490
`Ctrl+Shift+R:`
what do we want?
MACROS!
when do we want them?
NOW!
`Ctrl+Shift+R:`
`Ctrl+Shift+P:`
what do we want?
MACROS!
when do we want them?
NOW!

[2018-03-06 16:06] bpasero commented on #45141
@hunhejj I can reproduce, thanks!

[2018-03-06 16:07] mykolav commented on #45050
Hi, @tsalinger

No, this does not work.

Please take a look at the attached recording:
![vscode-issues-45050](https://user-images.githubusercontent.com/14280254/37043366-1faba78c-2169-11e8-82fd-e18a7882962a.gif)

Thank you.
Mykola.

[2018-03-06 16:10] dbaeumer commented on #45023
![capture](https://user-images.githubusercontent.com/1931590/37043596-5012491a-2161-11e8-9f9f-521b86b8b39a.png)

[2018-03-06 16:12] arthurwhite commented on #28432
That also drove me crazy … until I figured out there was a directory with an accent in its name. 💥

But the refresh only breaks when VS Code is launched from the inside of the directory (or one of its subdirectories).
If the full path from a parent, non-accentuated directory is provided, it works as intended:

[code]

Maybe it's not the same bug for everyone but here on macOS 10.13, this one is co

[2018-03-06 16:14] cdenneen commented on #44941
@joaomoreno looking through some old issues it seems #27838 should have fixed proxy settings being ignored but user posted this recently and it seems to be still related in current build:

https://gitlab.com/fatihacet/gitlab-vscode-extension/issues/10#note_61906562

![image](https://user-images.githubusercontent.com/720097/37043695-52e1bafe-212f-11e8-90ea-078dfd804ffb.png)

They were able to circu

[2018-03-06 16:23] Tyriar opened #45145 "Remove xterm-active-item CSS/const"
It doesn't appear to be being used:

https://github.com/xtermjs/xterm.js/blob/f2d8709dd836df1e7c686edd390597926ffecfde/src/AccessibilityManager.ts#L14
https://github.com/Microsoft/vscode/blob/f5e6fc5fabd7ce522052a3f462c58d9b7b0aba12/src/vs/workbench/parts/terminal/electron-browser/media/xterm.css#L149

[2018-03-06 16:25] nguyenhuyanhh commented on #45142
I tried updating into the latest Insiders (a903bd38fbe9006c076d218ff69fe1ee0160f815, 2018-03-06T11:07:13.515Z) and the issue persists.

[2018-03-06 16:27] bakapear commented on #20310
+1

[2018-03-06 16:28] JakeBecker opened #45146 "Autosave + trim trailing whitespace can change indentation for tabstops in snippets"
### Issue Type
Bug

### Description

With settings:
[code]

When using a snippet that has a tabstop following some whitespace, if you take long enough for autosave to kick in, it can remove the whitespace before the tab stop and affect its indentation. For example, in the snippet for an Elixir function definition:

[code]

If you wait for a second while focused on the `$1` tabstop, it will autosav

[2018-03-06 16:28] Miralo commented on #44918
Sorry, you are right. That's caused by an extension, you can close this issue.
Sorry again.

[2018-03-06 16:31] isidorn commented on #45089
@WardenGnaw good catch. I have pushed a fix and you can try it out in our insiders build in a couple of days (probably on friday, since our insiders builds are temporarly frozen due to our upcoming stable release). Once you try it out let us know if this fixed the issue for you, thanks

[2018-03-06 16:32] #45089 closed

[2018-03-06 16:40] weinand commented on #45046
I cannot reproduce this.
Could you share the project with us (or create a simple debug.js that repros the issue)?

[2018-03-06 16:51] mkurayan opened #45147 "HTML Markup problem with steps to reproduce and video."
Steps to reproduce.
1. Create long line so you need scroll text.
2. Put the cursor to the end of line.
3. Move it to the start of line.
Please see the [video ](https://www.dropbox.com/s/sue8wdbofeo8x04/Screencast.mp4?dl=0)for details.

![image](https://user-images.githubusercontent.com/9530261/37045708-9fa20ec8-2177-11e8-9cb9-c7002bbd94bd.png)

[2018-03-06 16:52] caub commented on #13189
On lubuntu, I added `ELECTRON_TRASH=gio` directly in `/usr/share/code/bin/code`, in .bashrc it didn't work

[2018-03-06 16:52] #45062 closed

[2018-03-06 16:54] mkurayan commented on #45147
Note. Previously I reported this problem but did not know how to reproduce it.
[42620](https://github.com/Microsoft/vscode/issues/42620)

[2018-03-06 16:56] jrieken commented on #45119
half and half. `config` is the generic prefix to reach into a configuration/setting value which does not exist. Using `false` should also work but using a value as key might confuse our "parser".

That doesn't exist for us, every command is public and when-clauses are recommendations only, albeit very good recommendations.

[2018-03-06 17:03] #43565 closed

[2018-03-06 17:04] vesper8 opened #45148 "meta-shift-F should revert to find-only after activating meta-shift-H (find/replace)"
Currently if you hit the shortcut for "Find in Files" it brings up the correct panel

If you hit the shortcut for "Replace in Files" it brings up the correct panel with both the find and the replace field

But if the Replace in Files panel is showing, and you use the "Find in Files" short cut, it doesn't bring up the correct "Find in Files" panel, instead it keeps the "Replace in Files" panel. The

[2018-03-06 17:05] DanTup opened #45149 "Indenting disappears after moving cursor away and back"
This came in through https://github.com/Dart-Code/Dart-Code/issues/635 but I can repro it with a much simpler case.

Here, I type `one()` and then press `<enter>` inside the parens to split it into multiple lines. The line inserted in between is automatically indented (correctly). However, if I move away from that line (eg. to add a comma below, then when I return to it, the indenting is gone).

I

[2018-03-06 17:12] DanTup commented on #45119
What about when there are arguments? (for ex. this one takes an argument that is a `TreeItem` so the user wouldn't be able to provide it). I do have other "private" commands but I think I don't declare them in `package.json` so they don't show up - however I'm forced to put this one there so I can declare the text for the context menu.

Let me know if there's a better way to do this!

[2018-03-06 17:12] roblourens commented on #44734
Yes I guess we would need an extension host API for this.

[2018-03-06 17:13] JSzkup opened #45150 "Bad/Laggy scrolling randomly"
### Issue Type
Bug

### Description

While using a laptop with a windows precision touchpad (Dell XPS 13 9434) If alt + tab out of the program or use the task view scrolling becomes extremely laggy and choppy even with only a simple text file open. A quick fix is to resize the window, the issue however will come back as soon as task view is used again.

Expected outcome is consistently smooth scro

[2018-03-06 17:16] DanTup commented on #45119
Doh - I had a copy/paste error. `false` is probably working; but I'd missed one of the commands from the `commandPalette` section and it was the one I was using to test. Apologies, and thanks for info!

[2018-03-06 17:19] tnrich commented on #42841
@jrieken like I said above I'd like to trigger different user flows depending on if the user is holding down a certain key while selecting a given quick pick option. In my particular case I want to listen to the Cmd/Ctrl key :)

Does that make sense?

[2018-03-06 17:22] guthyerrz commented on #43469
@limerickgds Did you find a workaround for this? It's really annoying

[2018-03-06 17:24] roblourens commented on #44427
I don't think it works in `node inspect` either. When you just type code into the cli it's executing it in a new repl, not in the context of the program. You have to use `exec()`. If I use that, I get the same behavior.

[code]

[2018-03-06 17:26] lvillani opened #45151 "Automatically close diff editor when switching from Source Control to Explorer mode"
### Issue Type
Feature Request

### Description

I usually select files for diffing in the "Source Control" view. Sometimes I diff a lot of files. When I switch back to explorer I still have all those buffers lying around, that make tab switching harder.

It would be nice to have VSCode automatically close all those buffers when I switch back to the Explorer view for normal editing.

This is proba

[2018-03-06 17:36] mscottx88 opened #45152 "Update to 1.21 breaks mocha require"
- VSCode Version: ~1.20.1~  1.21
- OS Version: Windows 10 Pro

Steps to Reproduce:

1. Using sinon, chai, sinon-chai, and mocha in orchestration, setup a testing suite as follows:

Create `setup.js` to setup your test environment:

[code]

Create a test case that tries to use `calledOnce` such as:

[code]

Now, attempt to debug interactively this test case with a Launch Configuration such as:

[co

[2018-03-06 17:36] amp343 commented on #44711
This is what was biting me -- thanks for surfacing those reasons for a sanity check

[2018-03-06 17:37] Thau commented on #45072
Hello! I've been checking this issue to make a first contribution, but it seems that `--install-extension` already has that functionality! To test it, I installed an out of `rebornix.ruby` extension from the vsix file and then did this:

[code]

So... Maybe we should just alias the command, or is this missing any functionality I'm not noticing?

Thanks!

[2018-03-06 17:39] anteprimorac commented on #37417
@joaomoreno I can not reproduce it on stable release

[2018-03-06 17:43] ketozhang commented on #13138
Pertaining to  [#13138(comment)](https://github.com/Microsoft/vscode/issues/13138#issuecomment-355127058). I'm on Windows Build 17074 (not the latest Insiders) and this is solved for me.

@spences10 @steveklabnik Are you sure you're trying to open folder on `/mnt/<letter drive>`. Folder in WSL are not allowed to be edited in Windows (unless you installed VSCode for WSL)

[2018-03-06 17:50] amp343 commented on #36177
@bolinfest in your test, are you modifying the first workspace folder definition after the extension host is already started? Doing that caused behavior I wasn't expecting (including `ENOENT`) at first before I realized that action restarts the extension host/reactivates the extension. https://github.com/Microsoft/vscode/issues/44711#issuecomment-370863579

[2018-03-06 17:56] roblourens commented on #44740
Does this just mean we can't use async/await when we use cancel? Which means we have to be very careful anywhere it's used in core? Didn't realize that.

[2018-03-06 17:58] roblourens commented on #44921
#35433 - will be fixed in the release later this week.

[2018-03-06 18:00] adstechappdev commented on #45084
Sure.  I have VS Code 64 bit installed on 3 different VMs.  Two upgraded to latest and both had the issue, one not.

1) Upgrade VS Code
2) In .scss file, type background-color: red;
3) Hover over the color box to change the color - no color picker appears.

[2018-03-06 18:04] roblourens commented on #43998
Possibly you have something else in debug mode on that port? What if you set some other random port in the launch config like `"port": 9230`?

[2018-03-06 18:08] roblourens commented on #44102
I don't see this. I don't think it should be searching diffs. Can you try again and show a screenshot?

[2018-03-06 18:10] bpasero commented on #44740
@roblourens I think this means that as much as possible we must stay away from using `WinJS.Promise.cancel()` and introduce a different concept instead (`CancellationToken`).

[2018-03-06 18:13] Tyriar commented on #45107
This is related to the guessing where a line is wrapped on Windows thing we added to get it working in the first place. Since the terminal doesn't know which lines are wrapped on windows it guessed based on the last cell in the previous line *not* being a space `' '`.

This is handled here https://github.com/xtermjs/xterm.js/blob/6e546c0f30558125c8309f78b0c9e81a49bba81d/src/addons/winptyCompat/win

[2018-03-06 18:13] WritingSolutions2020 commented on #45095
A bit more information. The problem I'm having is that it appears the NONE of the extensions that require a JRE / SDK work. This despite the fact that I've (1) configured and tested JAVA_HOME and PATH, and (2) carerfully configured VCS's JSON configurations.

With regard to JRE / SDK, I have other programs -- Eclipse, jEdit, and others -- that require a JRE. They are all working properly after I i

[2018-03-06 18:18] Tyriar commented on #45134
@warpdesign could you test on latest insiders I think I fixed this one recently.

[2018-03-06 18:19] bpasero commented on #45141
@roblourens @chrmarti this seems to be a regression with regards to the URIs that I get from the file search. Steps to reproduce:
* Windows 10
* create a subst drive (`subst H: <some dir>`)
* open H: in VS Code
* search for a file that is in the root
* open it
* click on explorer to open the same file
* it opens a second time

When I check for the results I get from the file search, it looks like

[2018-03-06 18:21] bpasero commented on #45141
Wow I can actually reproduce this in 1.20, so maybe not a candidate after all then unless you have heard this before.

[2018-03-06 18:21] #44099 closed

[2018-03-06 18:27] jamesjryan commented on #10546
Hey @Tyriar bit of feedback - when resizing the console using the `Maximize Panel Size` or `Restore Panel Size` buttons (or a keyboard shortcut), the width of the console panes is forgotten, and the width of each pane is reset to an equal amount.

When resizing the console up/down using the mouse the widths are remembered.

Similarly, widths are forgotten when hiding or showing the left side bar.

[2018-03-06 18:31] stanleykylee commented on #44655
@mjbvz I did some testing finally on this and it looks like it only happens when I launch Visual Studio Code via the command line (execute `code .` from iTerm). I'm using iTerm and tmux at the same time.

However, when I launch Visual Studio Code via the MacOSX UI the problem doesn't appear. As long as there is a Visual Studio Code open I can then go back and execute the same command line with no

[2018-03-06 18:40] BrianHarris commented on #44142
This should be supported with "panel": "dedicated" too.

[2018-03-06 18:47] Tyriar commented on #10546
@jamesjryan there was an issue fixed in latest insider for the first 2 you mention https://github.com/Microsoft/vscode/issues/45074

I can't repro on latest, please create an issue if you're seeing it.

Yeah this is as designed 🙂

[2018-03-06 18:48] Tyriar commented on #44913
I wasn't very involved in the PRs involved in this so I'll unassign myself

[2018-03-06 18:49] cparker4486 opened #45154 "Open new Code instances on current virtual desktop in Windows 10"
### Issue Type
Feature Request

### Description

When I'm using Windows 10s' virtual desktops and I want to open Code I'll hit the Windows key, type Code, and then press enter. If Code is already open on another virtual desktop, I am taken to that desktop instead of a new Code window opening on my current desktop.

I'm requesting that Code behave like Notepad (and other programs). When you run Not

[2018-03-06 18:49] MeikTranel commented on #44102
Currently can't reproduce it on my personal workstation either. I'm gonna check back tomorrow on the actual machine that i found this on.

[2018-03-06 18:50] cparker4486 commented on #45154
I seriously searched for "virtual" and "desktops". Looks like this is already covered in many places that I somehow managed to miss!

[2018-03-06 18:55] Tyriar commented on #45137
@mihailik you're right I think I closed #23227 in error.

I was just fixing an issue caused by this and the clearing worked just fine for me under Windows 10 FCU.

This isn't feasible, firstly we don't know at the VS Code level, or even from the xterm.js level that cls was run, only the shell process knows that. Secondly it would lose a huge amount of information and listeners which would break th

[2018-03-06 18:58] cparker4486 commented on #45154
I think I closed this prematurely.

https://github.com/Microsoft/vscode/issues/41564

I saw that as being the answer. Will all due respect to the team, this is not the answer we are looking for. Please reconsider.

[2018-03-06 18:58] mjbvz commented on #45139
Thanks. Support for this is tracked upstream by https://github.com/Microsoft/TypeScript/issues/4813

[2018-03-06 18:58] #45139 closed

[2018-03-06 18:58] KillyMXI commented on #10546
Someone is writing about split terminal, not terminal tabs here again. That's now what we'd like to see when getting notifications from this ticket :(

#7504

[2018-03-06 19:00] mjbvz commented on #45007
@goessner Try the latest insiders build for the fonts.

I'll take a look at the image issue

[2018-03-06 19:02] Tyriar commented on #44416
@tlycken does any change happen when you close all windows and run `code --disable-gpu`?

Normally there are problems in VM but as I understand boot camp enables dual booting on a mac. My only guess right now is that it's another case of https://github.com/Microsoft/vscode/issues/36913, probably related to the integrated GPU somehow.

[2018-03-06 19:04] #44817 closed

[2018-03-06 19:07] ramya-rao-a commented on #45028
If you want completions to be triggered after numbers, you need to add the numbers as trigger characters when registering the completion provider

[2018-03-06 19:10] Tyriar commented on #36630
Yes it's a problem with Windows (see https://github.com/Microsoft/vscode/issues/36630#issuecomment-344030750, https://github.com/Microsoft/vscode/issues/36630#issuecomment-357084696). With a similar issue in the past I kept it open to make it easier for people to find the issue and not create a stream of duplicates for me to handle. We'll close this off when stable Windows starts getting the fix.

[2018-03-06 19:10] mjbvz opened #45155 "Markdown relative image in preview not shown on windows"
Steps to Reproduce:

On windows

1. For a folder structure:

[code]

1. With `doc.md`:

[code]

1. Open `doc.md` directly (don't open the folders)
1. Open preview

**bug**
No image shown in preview. Seems to work on mac

[2018-03-06 19:11] mjbvz commented on #45007
Opened https://github.com/Microsoft/vscode/issues/45155 for the image issue

Closing this issue about the fonts not loading

[2018-03-06 19:17] Tyriar commented on #45090
Do you run your terminals normally as a login shell? Perhaps this setting will help:

[code]

[2018-03-06 19:20] Tyriar commented on #40502
@thernstig ah, sounds like https://github.com/Microsoft/vscode/issues/36913 / https://github.com/Microsoft/vscode/issues/44416 then.

[2018-03-06 19:20] mjbvz commented on #45135
Duplicate of #37898 / #40881

[2018-03-06 19:20] #45135 closed

[2018-03-06 19:23] keithbentrup opened #45156 "debug console should inherit editor settings"
- VSCode Version: 1.20.1
- OS Version: OSX 10.11.6

Steps to Reproduce:

1. I enabled the user setting {"editor.acceptSuggestionOnEnter": "off"}
2. In a debugging session, the console still interprets "enter" as a suggestion completion.

This is not intuitive and forces the user to adapt to different ways of typing in the debug console vs. the editor.

Does this issue occur when all extensions are

[2018-03-06 19:25] #45090 closed

[2018-03-06 19:34] Tyriar commented on #44428
@weinand the native call being used to get the information `CreateToolhelp32Snapshot` is actually getting every single process running at the moment, a list is constructed in native and passed over to JS. Then in JS we find the root process we're interested in and construct the tree.

To test out for your case you could try manually require the native node module and just run that to get the nativ

[2018-03-06 19:50] RMacfarlane commented on #44428
@Tyriar I think the native option will still have to do sampling to get CPU usage, which could cause issues for polling. The windows api has https://msdn.microsoft.com/en-us/library/windows/desktop/ms683223(v=vs.85).aspx and https://msdn.microsoft.com/en-us/library/windows/desktop/ms724400(v=vs.85).aspx which return the total amount of time a process/the system has used, so they would need to be c

[2018-03-06 20:02] roblourens opened #45157 "Window with native dialog breaks when quitting"
Mac

- Cause native dialog to be shown (eg start "attach" debug config when it will fail)
- Switch to another vscode window
- cmd+q
- All windows close except the one with the dialog open

Open extension viewlet, see that it can't load extensions or search. Also can't quit from the menu.

[2018-03-06 20:08] Tyriar commented on #44428
So I think the ideal APIs are looking something like this:

Listening for auto attach:

[code]

code --status:

[code]

---

Perhaps flags would be a good generic way to indicate what data is needed?

[code]

It may also make sense to do the filtering on the native side if fetching performance data is expensive.

[2018-03-06 20:11] Bibliofile commented on #40181
Whatever has changed has improved this quite a lot! I now see `@param` with the comments when typing out the function call, which is very useful.

However, it still isn't perfect.

Using

[code]

When typing, depending on what argument I am typing VSCode will show "first" or "second" as expected. However with the original code, I will always see the comment for `o` - never for `o.s` or `o.n`.

Sin

[2018-03-06 20:13] dbaeumer commented on #3221
To verify:

- use one of the predefined matchers like `$tsc` or `$eslint-stylish` and ensure that captured problem from a task run have a `[ts]` or `[eslint]` prefix.

[2018-03-06 20:14] dbaeumer commented on #3221
@egamma you might want to use this in TSLint.

[2018-03-06 20:15] pushqrdx commented on #45028
@ramya-rao-a What about `provideCompletionItems` getting called every two key presses, is there an explanation for that ?

[2018-03-06 20:15] #3221 closed

[2018-03-06 20:17] steveklabnik commented on #13138
I open wsl. `git clone` something. `cd` into it. `code .`.

I thought that restriction was lifted, and in fact, when I navigate through the menus of VSCode to open the correct directory, it works just fine. I do remember the days when it wasn't supported; I nuked my WSL install back then. I thought this was supported now. If I'm wrong, then ignore my comments :)

[2018-03-06 20:19] jamesjryan commented on #10546
@Tyriar updated - works as described, thanks!

@KillyMXI it's progress towards the end goal, and a very useful implementation even in its current form.

[2018-03-06 20:29] Tyriar commented on #10546
@isidorn I'm wondering if you've given any thought into how we would initially support something like this. When I added tabs in the terminal just after the terminal was added I needed to revert because everyone was against having tabs in tabs, what if we made the panel headings tabs something like this:

<img width="689" alt="screen shot 2018-03-06 at 12 22 50 pm" src="https://user-images.githubu

[2018-03-06 20:36] KillyMXI commented on #10546
@jamesjryan I can't see the Tyriar's solution as the progress towards the tabs. Looks completely orthogonal thing to me.

There are a lot of useful things around, but they have proper places. Proper place for split terminal is a different ticket.

[2018-03-06 20:40] Tyriar commented on #44933
@Servius-Prime if it's not just on loop you might be seeing https://github.com/Tyriar/node-pty/issues/170

As for the fix I mentioned, it's a pretty big architectural shift in https://github.com/xtermjs/xterm.js and would need a core maintainer to work on.

[2018-03-06 20:43] Tyriar commented on #44408
@bitcrazed does the WSL process not live underneath the process that launched it? 😕

[2018-03-06 20:44] Tyriar commented on #44831
The terminal is not meant to kill a node process, it will exit when it's finished?

[2018-03-06 20:44] #44831 closed

[2018-03-06 20:45] Tyriar commented on #44823
You must be using an extension for the right click to run a python file.

[2018-03-06 20:45] #44823 closed

[2018-03-06 20:46] Tyriar commented on #44660
#44659 is about horizontal alignment, this is about vertical which is still a problem:

<img width="219" alt="screen shot 2018-03-06 at 12 46 32 pm" src="https://user-images.githubusercontent.com/2193314/37057494-6a6bbc3a-213c-11e8-9f25-00d387df8c92.png">

[2018-03-06 20:50] Tyriar commented on #44769
Can't reproduce unfortunately, have you tried to see if it still happens under the Insiders build? https://code.visualstudio.com/insiders/

[2018-03-06 20:52] Tyriar commented on #44764
@alexandrudima I can't remember if there a reason we don't do this or if it was an oversight when we did `softDispatch`?

[2018-03-06 20:54] Tyriar commented on #44340
@martypdx does this happen in an external terminal when the width is set the same? It looks like all the terminal is doing here is following instructions from bash, and bash is not saying to go the next line.

[2018-03-06 20:54] Tyriar commented on #44322
Duplicate https://github.com/Microsoft/vscode/issues/23808

[2018-03-06 20:54] #44322 closed

[2018-03-06 20:56] Tyriar commented on #44314
Duplicate https://github.com/Microsoft/vscode/issues/43169

[2018-03-06 20:56] #44314 closed

[2018-03-06 20:57] Tyriar commented on #43169
Ok I think the OP's issue is about the terminal just not working on Windows 7 https://github.com/Microsoft/vscode/issues/43169, I think the other reports are separate issues (Windows 8 compat mode not supported, maximize can hide text).

[2018-03-06 20:58] meyer commented on #44950
Sure thing.

Say there’s a file, `Settings.ts`, with the following content:
[code]

At the moment, VS Code will suggest importing the individual functions, but the way I use them everywhere is with a namespace import:

[code]

Unless I’m mistaken, VS Code only suggests importing named exports and default exports. My feature request is for VS Code to suggest namespace imports as well. Suggesting na

[2018-03-06 20:58] KillyMXI commented on #10546
Finally we back to tabs.

Similar thing was proposed above, actually: https://github.com/Microsoft/vscode/issues/10546#issuecomment-359632932
That's the most obvious thing when replacing dropdown with the list of terminals.

I would've tried to
- align terminal tabs to the right;
- or add a vertical line before terminals;
- or align to the right and show a vertical line when they got close to the

[2018-03-06 21:02] AirshipAlex commented on #43202
I'm seeing the original error here too. Not sure what's up.

VS Code: 1.20.1
flow-for-vscode: 0.7.3
React Native: 0.54.0
Flow-bin: 0.66.0

[2018-03-06 21:03] thernstig commented on #40502
@Tyriar Thanks, it is most likely #36913 - hope a fix gets released soon then :)

[2018-03-06 21:04] leopoldkristjansson commented on #44655
After reading @stanleykylee last comment I can also say I used `code .` to open the folder where I had this happen. Never used `code .` before and also never had this happen before.

[2018-03-06 21:05] tlycken commented on #44416
Hum - I do tend to toggle the terminal size quite a lot when I work with it, and that seems to be a trigger in the linked issue. I'll try to use that to repro tomorrow, as well as testing if `--disable-gpu` makes any difference.

If it's related to running under boot camp, that would also explain why I can't reproduce on my laptop at home.

[2018-03-06 21:07] devinrhode2 commented on #15550
How can you change vs code to have a timeout on the second part of the chord?

[2018-03-06 21:08] chrmarti commented on #44740
The TypeScript helper for async/await knows which promise to instantiate based on the declared return type on the async function, but it doesn't know about the cancel handler passed as an additional argument to the WinJS promise. When there is no return type declared, it just uses the native promise, which doesn't even have a cancel method. (See http://jsbin.com/mepixob/4/edit?html,js,output for m

[2018-03-06 21:09] mwcarew commented on #38574
@bpasero Still happening here. Turned off Aero Snap in Windows to make sure that wasn't it.

[2018-03-06 21:30] im-kulikov commented on #25841
Any updates?

[2018-03-06 21:52] hittas opened #45159 "How to save the specific project settings?"
- VSCode Version: 1.20.1
- OS Version: Ubuntu

Steps to Reproduce:

1. project folder was renamed
2. project opens as blank

---
if I change the name or path of the project I lose specific project settings, for example, "openedPathsList".
Is it possible to save the project specific settings inside one (as it does IDEA)?

[2018-03-06 21:56] auchenberg commented on #25841
https://github.com/electron/electron/issues/5570

Chrome has closed the request due to low demand. https://bugs.chromium.org/p/chromium/issues/detail?id=568727

[2018-03-06 21:57] #44167 closed

[2018-03-06 22:02] Tyriar commented on #44213
@Pingudiem I'm guessing your terminal isn't running the right init script, you could try adding this to your settings and see if that fixes it:

``
"terminal.integrated.shellArgs.linux": [
  "-l"
]`
``

[2018-03-06 22:02] jwulf commented on #36307
@Tyriar is it possible/easy to patch VS Code to stop this behaviour while waiting for it to hit a release? I have a workspace that causes a 20GB VM to exhaust its memory in about 15 mins because of circular symlinks (it uses lerna).

[2018-03-06 22:02] Tyriar commented on #44114
Duplicate https://github.com/Microsoft/vscode/issues/36630

[2018-03-06 22:03] #44114 closed

[2018-03-06 22:21] BrianArditoAGL commented on #44354
https://marketplace.visualstudio.com/items?itemName=formulahendry.terminal
This extension adds a toggle icon there.

[2018-03-06 22:22] roblourens commented on #44226
Can you explain some more about what's slow? And what you mean when you say the terminal is hanging? A config like this works fine for me.

I assume you're using it with the `console` like uncommented?

[2018-03-06 22:24] gushuro commented on #44417
I wonder if there's a problem with adding the space before the `/>` every time.
I'm not familiar with best practices in HTML, but from what I found online, browsers don't really care if there is a space or not.
@ramya-rao-a any thoughts?

[2018-03-06 22:43] #591 closed

[2018-03-06 22:46] astanciu opened #45160 "Cannot restart after crash"
- VSCode Version: 1.20.1
- OS Version: OSX 10.13.3

When VSCode crashes (not sure why), afterwards it won't start up, throwing this message:

![image](https://user-images.githubusercontent.com/1675025/37063010-168cfd5c-2166-11e8-939e-603380510856.png)

I've `sudo kill`ed every code process I can find and still happens. Is there anything I can do to force it to start (some lock or PID file that can

[2018-03-06 22:48] #4465 closed

[2018-03-06 22:49] #4462 closed

[2018-03-06 22:49] #5469 closed

[2018-03-06 22:51] #6681 closed

[2018-03-06 22:51] #7011 closed

[2018-03-06 22:52] #9212 closed

[2018-03-06 22:55] roblourens commented on #44785
We can try it. Have there been many issues besides the scope ranges issue?

Is it weird that CDT shows the ReferenceError when evaluating throws?

![image](https://user-images.githubusercontent.com/323878/37063496-6d3ae136-214e-11e8-8d96-9510afc0510a.png)

[2018-03-06 22:56] #10821 closed

[2018-03-06 22:58] #12322 closed

[2018-03-06 22:58] #13947 closed

[2018-03-06 22:59] #13629 closed

[2018-03-06 23:00] #14733 closed

[2018-03-06 23:00] roblourens commented on #44785
I'm wrong, if you hover over `something.getter` in CDT, there is no explicit step. Only when you hover `something` and see the `getter` property.

But in vscode we invoke `getter` when you hover `something`.

[2018-03-06 23:00] westacotta commented on #44226
Weirdly... it doesn’t do it me.

What was slow was I would hit the stop button in the debugger and it would take several seconds for the process to stop.

This was an electron main process I was debugging.

[2018-03-06 23:01] #15355 closed

[2018-03-06 23:01] #16004 closed

[2018-03-06 23:02] #17398 closed

[2018-03-06 23:03] #17595 closed

[2018-03-06 23:05] #19709 closed

[2018-03-06 23:19] cyrus86 commented on #43993
I tried and observed installing phpcs extension just now. It creates a temporary file just like above,
[code]
and has no problem installing.

[2018-03-06 23:20] sheetalkamat commented on #43447
Released [VS Code Extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.typescript-javascript-grammar) version 0.0.33 that contains #552 which should address issues reported here. After letting it bake in that extension for 2-3 weeks, I could merge #552

[2018-03-06 23:21] OvaisFareed opened #45161 "Couldn't find a compatible version of Android with this version of Code."
- VSCode Version: 1.5.2
- OS Version: Windows 10 pro

Hi everyone, I'm getting following error when going to install "Android" extension by adelphes in my VS code.

![android_ext_error](https://user-images.githubusercontent.com/10174999/37064326-5ff3a89e-21be-11e8-998f-b7ae6e9316d0.png)

Any help would be Highly appreciated!

[2018-03-06 23:23] fmunteanu commented on #35361
What a nice surprise I had today, after completing the High Sierra upgrade. Looking forward to have an Electron fix as part of the official VSCode release. 🤒

[2018-03-06 23:25] jsantos98 commented on #45046
I confirm this problem as well.

To me it happens when I'm debugging a child process created with cluster.fork().
The yellow dot on the "open lauch.json" button appears immediately after the child debugging starts.

Hope this helps
Rergards

[2018-03-06 23:27] westacotta commented on #44226
Terrible typing....

Should be “It doesn’t do it anymore”

[2018-03-06 23:27] #44226 closed

[2018-03-06 23:30] weinand commented on #45046
@jsantos98 could please you post a screenshot showing this situation?
What version of node are you using?
What OS?

@isidorn can you explain the "yellow dot on the "open lauch.json" button appears immediately after the child debugging starts" ?

[2018-03-06 23:33] jsantos98 commented on #45046
Sure!
Before start debug:
![image](https://user-images.githubusercontent.com/4644017/37064882-a06a26fa-2196-11e8-9a60-b1f490396828.png)

After the fork:
![image](https://user-images.githubusercontent.com/4644017/37064909-b88031f8-2196-11e8-8d72-544fec811f6f.png)

OS: Windows 10 x64
Node 8.9.4 LTS

[2018-03-06 23:42] roblourens commented on #44936
Ripgrep is not built for aarch64 - I'm guessing it should just not download and not fail the install.

Also it's annoying that yarn hides the helpful error output.

[2018-03-06 23:49] ramya-rao-a commented on #44417
@gushuro We shouldnt add the space everytime. Browsers may not care about the space, this is more to suit coding standards

[2018-03-06 23:50] jsantos98 commented on #45046
I've recorded a gif (my first one, so have that in mind :) )
![visualstudio_clusterdebugproblem](https://user-images.githubusercontent.com/4644017/37065492-029a8534-2199-11e8-8950-a09e117afbb6.gif)

[2018-03-06 23:50] roblourens commented on #42510
I guess I was thinking about how `[javascript]` and `${file}` both relate to the currently open file. I'm not sure it makes sense in general after all.

Ideally I would keep the current F5 experience for non JS files with no launch.json, where it prompts to pick a debug adapter. But yeah I'm not sure how that would work exactly.

[2018-03-06 23:53] roblourens commented on #45009
You are transpiling with babel that probably does something weird with sourcemaps. I can look into it if you include a code sample that reproes the issue.

[2018-03-07 00:00] roblourens commented on #44183
Please open a new issue @Espyo

@Froggi can you do the following

- Run the command "Set log level" and change it to "Trace"
- Run the search again
- Show the search-related messages in the "Log (Window)" output panel

![image](https://user-images.githubusercontent.com/323878/35987940-02aae15a-0cb2-11e8-83f1-d95c5dc3881b.png)

[2018-03-07 00:01] DaFri-Nochiterov opened #45162 "[Update] Doesn't lets me know when it's done"
Issue Type: **Feature Request** / **Bug Report** (?)

**Steps to reproduce**:

1. Receive an update
2. Click "Install update", you'll see notification where it says "We'll let you know when it's done"
  ![Notification](https://i.imgur.com/FkYU9zy.png)
3. Observe nothing when preparing for an update<sup>1</sup> is complete

<sup>1</sup> - this is also an important point, the notification says it in

[2018-03-07 00:05] ferrao commented on #25314
This is happens with ES6 string template literals as well.

[2018-03-07 00:07] roblourens commented on #44339
This is the scenario you are in right?

![image](https://user-images.githubusercontent.com/323878/37065974-178d3054-2158-11e8-9a3b-c6d34747315b.png)

None of the other code has run, so watches and hovers won't show anything. Please include a screenshot if I misunderstand.

[2018-03-07 00:08] roblourens commented on #44927
We use ripgrep for search, which doesn't support some regex features.

[2018-03-07 00:08] #44927 closed

[2018-03-07 00:10] roblourens commented on #44923
@isidorn Did any of the DOM here change from your work?

@tsalinger Did you happen to see whether the search viewlet was visible in vscode when this test was looking for it?

[2018-03-07 00:12] roblourens commented on #44414
Sure. What do you expect when search results and references are both present?

[2018-03-07 00:18] RMacfarlane opened #45163 "Issue reporter UI gets blocked when requesting performance data on Windows"
Steps to repro:
1. On windows, open the issue reporter
2. Continuously interact with the UI, by typing in the description for example

The UI will freeze for a few seconds after about 10 seconds. This is being caused by the call to listProcesses.

[2018-03-07 00:27] yume-chan commented on #44099
@bpasero can you reference the duplicated issue please?

[2018-03-07 00:31] roblourens commented on #44836
I agree, we can do better. Maybe an extra option, "replace without opening"

![image](https://user-images.githubusercontent.com/323878/37066769-c93d7752-215b-11e8-969d-95e5c1a50b34.png)

Or just a threshold where we never try to open more than 100 or so files at a time.

[2018-03-07 00:34] TonyGao opened #45164 "Custom snippets not work in comments(annotations)"
- VSCode Version: 1.20.1
- OS Version: macOS

Steps to Reproduce:

1. Custom a code snippet
2. Use it in php comments
(For some situations it's called annotation, and it's a part of useful code)

Does this issue occur when all extensions are disabled?: Yes

![untitled](https://user-images.githubusercontent.com/1457819/37066905-5b55eea4-21e2-11e8-9084-bb4d970566b8.gif)

[2018-03-07 00:40] haihao1881 opened #45165 "Opening some module can cause memory leak."
### Issue Type
Bug

### Description

Opening some module can cause memory leak.
I pip install simpleitk(a really important medical segmentation module),when I invoke this modle, the memory surges and the whole system collapses. But when I use other modules except simpleitk,vsc runs smoothly. So I infer there is a bug that cause this problem like recursion. Really love this IDE, hope you team can f

[2018-03-07 01:02] ramya-rao-a commented on #45028
That is because you are returning an array of CompletionItems instead of a CompletionList.
See https://code.visualstudio.com/docs/extensionAPI/vscode-api#CompletionItemProvider

When you return an array of CompletionItems or a CompletionList with `isIncomplete` set to `false`, then VS Code doesnt call your completion provider for every keystroke. VS Code will only call your completion provider onc

[2018-03-07 01:04] roblourens commented on #44793
Filed upstream.

@chrisdias Do you think `.enabled` settings should generally rank higher than others? Could add a general boost for settings that end in `.enabled`.l

[2018-03-07 01:16] roblourens commented on #44770
I think your gitgnore is wrong. https://stackoverflow.com/a/2820310/129895

With that setup, when foo/bar is not added to git, I get

[code]

But with

[code]

I get the expected result

[2018-03-07 01:16] #44770 closed

[2018-03-07 01:17] roblourens commented on #44786
Are these files excluded by a `files.exclude` or `search.exclude` setting? Or are they in a .gitignore file?

[2018-03-07 01:18] bkeys commented on #44936
Well there shouldn't be an issue compiling ripgrep for aarch64, is this an issue I need to make with ripgrep?

[2018-03-07 01:19] rebornix opened #45166 "Proxy not supported in IE11"
Running Monaco from source in IE11 stops working as Proxy is available there https://github.com/Microsoft/vscode/commit/98ef6607e69415c2b7acfbc25585911c18e85c03#diff-4d603a807b45bfab3318078fb87daa6dR460 . Before we drop support for IE11, we may need shim for Proxy.

[2018-03-07 01:21] roblourens commented on #26574
Unfortunately that's because I changed it to not use gitignore files in parent directories which breaks that workaround.

[2018-03-07 01:24] roblourens commented on #44264
I don't really want to add new settings for these, it already can be confusing. I think a better solution would be a way to easily disable excludes for quickopen like we have in search - https://github.com/Microsoft/vscode/issues/15604

[2018-03-07 01:24] #44264 closed

[2018-03-07 01:25] roblourens commented on #44266
Not sure I understand the use case. Does using a space there do what you want? Or do you want some other special behavior for `\`?

[2018-03-07 01:35] roblourens commented on #44936
No that's on me, we build our own for vscode. It sounds like that's just 64-bit ARM? I should be able to build that although I might not be able to test it.

[2018-03-07 01:38] roblourens commented on #44609
That should work. Can you try in 1.21? (Releasing in a day or two, or try it in Insiders now)

[2018-03-07 01:42] cleidigh commented on #43475
@Tyriar
I've done some tracing on this and determined that when the terminal created with an extension is disposed the current selected index passed to selectbox.selectOptions can be out of range by one
IF a user has created a terminal and then subsequently removes the terminal created by the extension
with terminal.dispose

The terminal index remains correct if the terminal created by the extensi