[2021-08-20 08:48] sanket-bhalerao commented on #131001
@hediet is this feature separate from the `editor.bracketPairColorization.enabled`?
I don't feel comfortable(at least at this point in time) with the brackets being colored differently. However, I would love to see the line scopes as shown by @CoenraadS. If it's a possibility I would love to enable the line scopes and keep the bracket pair colorization disabled.

[2021-08-20 08:48] weinand commented on #130934
VS Code's only built-in debugger is for JavaScript/TypeScript. All other debuggers are separate extensions.
Are you using the built-in JavaScript debugger?

[2021-08-20 08:50] bogacg commented on #56482
It would be "nicer" to point to API point(s) closing this issue for devs who are willing to write such an extension.
For those who are reading this in the future and willing: only info related I can find [VS Code API : Breakpoints](https://code.visualstudio.com/api/references/vscode-api#debug.breakpoints) and a [StackOverflow question](https://stackoverflow.com/a/57770111/1539073) where in the ans

[2021-08-20 08:50] alexdima commented on #127948
The problem is that the Dracula theme defines the following color:
[code]

This color is not using transparency, so the selection highlights are being rendered on top of the selection. This is an oversight with the theme. Please open an issue against the theme at https://github.com/dracula/visual-studio-code.

A workaround would be to customize that color to add some transparency to it:
[code]

![

[2021-08-20 08:50] #127948 closed

[2021-08-20 08:52] sandy081 commented on #131069
@mjbvz Is this web view related?

[2021-08-20 08:54] MihaPro-CarX commented on #130961
The same bug is reproduced in my debugging session.
I am working in Unity and using two monitors, a C # project.

When a breakpoint is triggered in the tray, the VSCode window lights up, but when the window is activated with a mouse click, it freezes visually, although it reacts to hotkeys and it is possible to edit the code without visual displaying the changes. To restore the VSCode display, you

[2021-08-20 08:56] weinand commented on #128484
Yes, having a modal alert and a notification doesn't make sense.

[2021-08-20 09:05] AkshayRoyal commented on #131242
@sandy081

log(window) is empty

log(main)
[code]

log(shared)
[code]

logs(remote server)
[code]

logs(extension host)

[code]

log(Remote extension host)
[code]

There is some vscode merge conflict in logs (remote extension). I cannot comprehend what it is but I guess it has something to do with the issue.

[2021-08-20 09:05] alexdima commented on #126841
This is a duplicate of #23690. That is how #23690 manifests itself. Text input respects the select keyboard layout, while keyboard shortcuts do not. As a workaround you can try `"keyboard.dispatch": "keyCode"` or defining keyboard layout user independent keybindings (e.g. `cmd+[KeyA]`).

[2021-08-20 09:05] #126841 closed

[2021-08-20 09:05] yuehuang010 commented on #129762
@Trass3r @isidorn SideBySide source code is ok if the disassembly lines up with one file.  But code can jump around between multiple source with inlining, function calls etc.

[2021-08-20 09:08] AMSolin opened #131249 "Pressing CTRL+Z in jupyter notebook leads to merging last version of code with previous"
Does this issue occur when all extensions are disabled?: Yes (except Jupyter, Python and Pylance extensions)

- VS Code Version: 1.59.0
- OS Version: Windows 10 Pro 2004 and  Windows Server 2016

Steps to Reproduce:

1. Create new ipynb file with
[code]
Then save them and close tab.
2. Open this file, then delete `1` from line 2, then type in brackets `2000` like this:
[code]
3. Then press `CTRL`+

[2021-08-20 09:10] bpasero commented on #130634
Yeah maybe, cc @jrieken maybe this has come up before: basically whether the bulk edit service could split up the work of resolving models and applying edits in chunks to reduce pressure on memory and CPU.

Independent I am investigating the crash/hang when thousands of editors open. I notice how the tabs widget is not very clever when opening a lot of editors at once. I think I can fix that parti

[2021-08-20 09:10] alexdima commented on #126345
@dbaeumer I can't reproduce this anymore. Before heading out I saw a change about reducing logging of Cancellation errors, but I can't find it right now:

![image](https://user-images.githubusercontent.com/5047891/130210192-1d25756c-aa13-4ea5-8648-9d83372af8a9.png)

[2021-08-20 09:13] haolly opened #131250 "Please provide short cut to switch focus from search result to editor panel"
Press ESC does nothing 😞

[2021-08-20 09:15] alexdima commented on #129756
@begrs Could you please post also a screenshot with maybe an arrow that highlights the problematic click area?

[2021-08-20 09:19] itrcz opened #131251 "Breakpoints doesnt work when debug starts via TouchBar"
Issue Type: <b>Bug</b>

1) create app with some nodejs code and config debugger
2) set breakpoint in code
3) press Play button at macbook TouchBar

VS Code version: Code 1.59.0 (379476f0e13988d90fab105c5c19e7abc8b1dea8, 2021-08-04T23:11:51.081Z)
OS version: Darwin arm64 20.2.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Apple M1 (8 x 24)|
|GPU Status

[2021-08-20 09:20] dragonDScript commented on #131212
This extension does provide cloning from gitlab, thanks!

[2021-08-20 09:20] #131212 closed

[2021-08-20 09:20] #131251 closed

[2021-08-20 09:25] gjsjohnmurray commented on #131250
Try <kbd>Ctrl</kbd>+<kbd>1</kbd>

[2021-08-20 09:27] #129228 closed

[2021-08-20 09:29] alexdima commented on #129249
@nithinsinkaran Having extensions start up in over 10 minutes is not normal. This sounds like a problem with the extensions themselves, please open an issue directly against the problematic extensions.

[2021-08-20 09:29] #129249 closed

[2021-08-20 09:33] gjsjohnmurray commented on #131245
@cbrnr aren't you seeing the Welcome page when in that state? This page already has a Recent section:

![image](https://user-images.githubusercontent.com/6726799/130213102-8a149ec8-4600-45c7-8a3c-46563f0b524d.png)

[2021-08-20 09:33] alexdima commented on #129219
Thank you for the log. It looks like the executed command is indeed `paste`. Extensions have the ability to override the implementation of `paste`. This is needed to support extensions that change the user input mode, like vim. Can you please attempt to execute using extension bisect to see if one of your installed extensions is causing problems?

* run `F1 > Help: Start Extension Bisect`
* (this

[2021-08-20 09:38] cbrnr commented on #131245
I know. I don't see the Welcome page because I've set the option to start with an empty document. I thought for those people it might be helpful to list recent projects in the Explorer sidebar. But I'm fine with switching back to the Welcome page if you think this doesn't make sense.

[2021-08-20 09:40] sandy081 commented on #130962
To verify:

- Download the VSIX from here: https://marketplace.visualstudio.com/items?itemName=ms-vscode.cmake-tools
- Go offline
- Install the VSIX and make sure extension is installed.

[2021-08-20 09:41] #130962 closed

[2021-08-20 09:45] sandy081 commented on #131242
Have you tried installing the extension when these logs are captured? It seems there is no activity of installing extensions.

[2021-08-20 09:49] sandy081 commented on #129268
Are you able to repro this when extensions are disabled (except remote-wsl of course)

[2021-08-20 09:50] jrieken commented on #130634
/duplicate of https://github.com/microsoft/vscode/issues/64485

The challenge is that we open all documents at once and that we check for unwanted concurrent modifications. If we replace in chunks than that's not easily possible anymore. Since there is no document to emit events and since changes might have been applied when encountering an invalid state

[2021-08-20 09:50] AkshayRoyal commented on #131242
Yes, I was installing the Python extension while I was copying the logs, I noted the time when I clicked the install button but nothing was added to logs after that time instance.

[2021-08-20 09:50] sandy081 commented on #130298
/duplicate

#130310

[2021-08-20 09:50] #130634 closed

[2021-08-20 09:51] #130298 closed

[2021-08-20 09:53] sandy081 commented on #131242
Weird, is the connection to remote active? Are there any errors in the devtool/console?

[2021-08-20 09:56] sandy081 commented on #130450
Assigning @alexdima as it is related to extension activation.

[2021-08-20 09:58] sandy081 commented on #128449
/duplicate

https://github.com/microsoft/vscode/issues/84258

[2021-08-20 09:59] #128449 closed

[2021-08-20 10:02] sandy081 commented on #130805
/duplicate

https://github.com/microsoft/vscode/issues/5595

[2021-08-20 10:02] AkshayRoyal commented on #131242
Yes, the connection with the remote is active and all the logs are getting updated in the .vscode-server directory on the host

[2021-08-20 10:03] #130805 closed

[2021-08-20 10:07] isidorn commented on #123581
Just talked to a Marketplace PM and the rough plan is that they look into search starting from this Autumn. So before that I do not think it is reasonable to expect this.
@sandy081 proposal sounds like a decent workaround until we have more search capabilities from the Marketplace.
Or can you use a tag? Similar to how we have `tag:debuggers`

[2021-08-20 10:07] bpasero commented on #130634
https://github.com/microsoft/vscode/commit/77d32e443e0cbc7637c51e54e806a92ac7413d75 fixes the freeze/crash when thousands of editors open at once. My measurements improve opening 1600 files from 90s to 10s by optimizing the tabs control to only update after all tabs have been opened.

[2021-08-20 10:09] hediet commented on #131001
If implemented, this feature could be enabled independently, yes.

[2021-08-20 10:11] jrieken opened #131252 "Code lens don't show the content"
* install https://marketplace.visualstudio.com/items?itemName=pflannery.vscode-versionlens
* open a package.json file
* press the `V` button to enable version lens
* :bug: the editor makes space for the code lenses but doesn't resolve them, a re-render fixes this

The underlying issue is that we try to resolve the lenses right after creating them (sync). However, at that point the editor didn't at

[2021-08-20 10:12] jrieken commented on #131252
fyi @alexdima

[2021-08-20 10:13] Trass3r commented on #129762
True if you step side-by-side it syncs properly as long as you stay in the same source file but doesn't jump to other files when you reach them.
Can totally be a controlled by a setting.

Also btw, I noticed when testing this with the C++ extension that a disassemble request is sent before I even switch to disassembly. Is this a bug on the vscode side?

[2021-08-20 10:14] jrieken commented on #131252
This is a bit ugly because it depends on the editor's rendering pipeline, for now I will use the debounced variant of rendering code lenses in the view port but for this specific case (new lenses) we shouldn't need wait for the debounce

[2021-08-20 10:16] Trass3r opened #131253 "Disassembly view: show if there is no source"
When the source code is not available for whatever reason (missing debug info, missing source file)
VS automatically shows the disassembly. Should be done here too.

_Extracted from https://github.com/microsoft/vscode/issues/129762#issuecomment-902500112_

[2021-08-20 10:18] #131252 closed

[2021-08-20 10:19] jrieken commented on #130853
Looks like hanging workspace folder or file that wants to be resolved

[2021-08-20 10:21] jrieken commented on #130480
Does it recover when you scroll up/down or resize the window?

[2021-08-20 10:23] #130705 closed

[2021-08-20 10:25] sandy081 commented on #131242
Do you have this setting set - `remote.downloadExtensionsLocally` ?

[2021-08-20 10:26] viveks1986 commented on #129219
I just have one extension and i still cannot paste after disabling  the extension
[
![image](https://user-images.githubusercontent.com/8513549/130219881-dd476381-2308-4f82-8ae0-bf2e10f67a9e.png)
](url)

[2021-08-20 10:26] #130234 closed

[2021-08-20 10:30] BEEDELLROKEJULIANLOCKHART commented on #10759
http://github.com/microsoft/vscode/issues/10759#issuecomment-902486573, 😞

[2021-08-20 10:31] #130707 closed

[2021-08-20 10:37] sandy081 commented on #130469
/duplicate

[2021-08-20 10:37] #130469 closed

[2021-08-20 10:43] AkshayRoyal commented on #131242
That option wasn't checked earlier but I checked it and retried everything. This time I can see the log for extension installation

logs(Remote Server)
[code]

[2021-08-20 10:43] #130243 closed

[2021-08-20 10:49] W3Dojo commented on #40239
##### So I want to comment on a something I read above that was authored in 2018

Someone commented that somewhere across the vast abstract desert that we call the internet, that the read, V.S. Code extensions don't run unless you need them. Of course, they never stated where that article "that they read" came from.

VS Code extensions rely on the developer to write when they are, and when they ar

[2021-08-20 10:49] sandy081 commented on #131242
It seems like your remote has network connection issues, so I would recommend to check above setting so that extensions are downloaded locally and streamed to remote.

Above error is already fixed and available in next release - https://github.com/microsoft/vscode/issues/130962

[2021-08-20 10:49] #131242 closed

[2021-08-20 10:57] AkshayRoyal commented on #131242
@sandy081  did you check the IP address mentioned in the logs? 13.107.42.18
it belongs to Microsoft and if you try to reach it, it shows
[code]

So, are you sure that there is issue at my host's network?

[2021-08-20 11:00] W3Dojo commented on #40239
I just read @sandy081 's comment about it already being available, and I actually came here shortly after asking for this on stack overflow, where I give a reason as to when individually disabling them is a nuisance.

[How can V.S. Code extensions be configured, so that they are either enabled, or disabled. depending on the workspace that is open?](https://stackoverflow.com/questions/68860631/how-

[2021-08-20 11:07] J0F3 commented on #130651
@chrmarti @sandy081 FYI: I have opened an issue in the vscode-remote-release repo with more information and logs because, after some more troubleshooting, I think it is more an issue with the remote-server than with VS Code itself.
https://github.com/microsoft/vscode-remote-release/issues/5482

[2021-08-20 11:11] Schwefelsaeure commented on #130962
Thanks for addressing and working on this issue. I will give it a try with the next release.

[2021-08-20 11:24] #130722 closed

[2021-08-20 11:24] #130721 closed

[2021-08-20 11:24] #130685 closed

[2021-08-20 11:24] #130681 closed

[2021-08-20 11:24] #130603 closed

[2021-08-20 11:24] #130254 closed

[2021-08-20 11:26] usernamehw commented on #131109
If you think that would be better.

[2021-08-20 11:28] alexdima commented on #129219
@viveks1986 Can you please try the following steps:
- make sure to have something in your clipboard (from another program)
- close all editors
- `F1 > Developer: Toggle Developer Tools`
- open a new untitled editor
- open the find widget (using cmd+f) and be sure the focus is last in the find widget
- in the developer tools, go to the console and execute `document.execCommand('paste')`

https://us

[2021-08-20 11:29] v-mholloway commented on #129984
this issue looks to be  dupe of https://github.com/microsoft/vscode/issues/119222

[2021-08-20 11:29] alexdima commented on #129375
It looks like you want to configure `"editor.autoClosingDelete": "always"`.

[2021-08-20 11:29] #129375 closed

[2021-08-20 11:31] judge-red opened #131255 "New built-in Jupyter editor fails to run bash kernel"
Issue Type: <b>Bug</b>

Back in the old notebook editor (from the Jupyter extension, I think? The one that now shows a banner saying "This editor is deprecated and we'll remove it after 1.59 of VS Code."), I could choose the bash kernel and execute code cells with bash content without any issues.

Now, with the built-in notebook editor, I can still choose the bash kernel but code cells are marked

[2021-08-20 11:45] FredCoen opened #131256 "Broken image rendering in MarkDownString for VS Code Insiders"
It seems that some update in August broke the rendering of images in a MarkDownString. Vs Code Insiders does not render them correctly anymore whereas vs code latest version does.

- VS Code Version: Version: 1.60.0-insider
- OS Version: macOS Mojave 10.14.6

Steps to Reproduce:

Withing the MarkdownString of a hoverMessage the below string renders correclty for in VS Code but doesnt in Vs Code In

[2021-08-20 11:48] viveks1986 commented on #129219
@alexdima I am able to paste from my clipboard to the console but it just does not get pasted in the editor
![image](https://user-images.githubusercontent.com/8513549/130228689-14d398ba-b166-4591-a755-e487ebb25399.png)

[2021-08-20 11:49] alexr00 commented on #131079
I made a very simple temp storage for GHPRI and I just write the file to disk now. Not idea, since there are no good events to listen to to know when to delete files, but it is better than the current behavior.

[2021-08-20 11:55] kerosan opened #131257 "support .run folder"
Issue Type: <b>Feature Request</b>

please add support `.run` folder same as in webstorm

VS Code version: Code 1.59.1 (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-19T11:53:52.479Z)
OS version: Darwin x64 20.6.0
Restricted Mode: No

[2021-08-20 11:59] alexr00 commented on #131172
I don't think I can get the scheme on a resource from `when`, and the `context` currently set on tree items is complex enough without adding to it. Maybe it's time to add a new `resourceScheme` context value to tree item menus...

[2021-08-20 12:01] alexdima commented on #129625
OR expressions are distributed because the language does not support parenthesis and therefore needs to bring the expressions to the normal form (just && and ||).

There is also a piece of code in the keybinding resolver that looks for colliding keybindings and determines if one shadows the other with all possible context values. For two such colliding keybindings, it evaluates if the context key

[2021-08-20 12:19] bpasero commented on #130853
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2021-08-20 12:23] cirofeitosa opened #131258 "Wrong guess encoding using ISO 8859-1"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.59.1
- OS: Darwin arm64 20.6.0
- OS Version: Mac OS Big Sur 11.5.2

Steps to Reproduce:

1. Create a file with accentuations (in my case using portuguese language, example of word: "você"), and save using "ISO 8859-1" encoding
2. Open this file again, VS Code will open as "Windows 1251" encoding, with problems at ac

[2021-08-20 12:31] trdyer commented on #131244
Hi, a good rundown of what I am thinking of is here: https://github.blog/2018-12-14-introducing-check-runs-and-annotations/

But for clarity it is the feature in github where a linter, test reporter, code coverage tool etc can attach an item (annotation) to a line in a file that can highlight a potential issue, defect or test failure.

[2021-08-20 12:33] sandy081 commented on #131242
May be with your DNS as I do not think Marketplace service is up and running. So can you please check if the remote machine has any proxy set up or DNS resolving to wrong IP addresses.

[2021-08-20 12:35] Grandmaracha commented on #52855
Hi, this issue is still happening. I closed vscode and when I clicked shutdown, it says vs code is running so I cancel. I shutdown again and now vs code need re install.

[2021-08-20 12:36] sandy081 commented on #131244
@alexdima FYI - not sure who is the right owner here as it involves various editor features . Hence pinging you.

[2021-08-20 12:49] #130593 closed

[2021-08-20 12:53] sandy081 commented on #130537
I am not sure if I understand your requirement. Can you please elaborate?

[2021-08-20 13:04] noahehall commented on #130368
`The endgame details for this iteration are tracked here.`

here === null

[2021-08-20 13:07] sandy081 commented on #129466
This is because `ms-vscode.cmake-tools` extension depends on `twxs.cmake` extension which was installed when the former was installed. `twxs.cmake` extension also registered the same setting `cmake.cmakePath` and hence the warning was shown.

Please fix it either by renaming the setting id or use the setting defined by the other extension.

[2021-08-20 13:07] #129466 closed

[2021-08-20 13:09] #124540 closed

[2021-08-20 13:09] sandy081 commented on #129710
These are coming from our experiments

https://github.com/microsoft/vscode/blob/b07d19a768b42af2aa8f78f8b1b68978f14f9bd9/src/vs/workbench/contrib/experiments/common/experimentService.ts#L76-L76

I do not have any context about these experiments.

[2021-08-20 13:09] alexdima commented on #128573
@sevillal Here is what you need to do in the `package.json` of `ms-toolsai.vscode-ai-remote`:
* `"extensionKind": ["ui"]` (because a resolver cannot run on the workspace)
* `"capabilities": { "untrustedWorkspaces": { "supported": true } }` (because resolvers need to execute before workspace trust is established)
* `"api": "none"` (because the main extension that needs to run on the workspace side

[2021-08-20 13:10] sandy081 commented on #130403
You can always rename the machine name from there.

[2021-08-20 13:10] #130403 closed

[2021-08-20 13:13] ivandov commented on #29816
So, the above solution setting on `terminal.integrated.title` isn't a currently available option, right? I don't see it in the `defaultSettings.json`. I only have `terminal.integrated.titleMode`, which sounds like I can potentially use the `sequence` value, as long as I change the way I'm setting my `PS1` value?

[2021-08-20 13:14] #130386 closed

[2021-08-20 13:15] sandy081 commented on #130362
Enablement state is synced too. Have you disabled the extension globally or per workspace?

[2021-08-20 13:16] sandy081 commented on #130354
/duplicate

[2021-08-20 13:16] #130354 closed

[2021-08-20 13:17] sandy081 commented on #130462
@pyokoNyan Can you please show the screenshot of the state you explained -  It says I need to install the extension on my WSL2 system but I was not able to install the extension since it's a buildin extension.

[2021-08-20 13:17] #130244 closed

[2021-08-20 13:17] bpasero commented on #131121
Needs a minimal extension from `yo code` (https://github.com/Microsoft/vscode-generator-code) for me to understand the context where I can see a file path all being lowercased and not how it was opened in the editor.

To my knowledge and looking at the `URI` code, I only know that we normalise the drive letter to lowercase always:

https://github.com/microsoft/vscode/blob/77905c850e170eab00cac5ca1

[2021-08-20 13:18] sandy081 commented on #130241
/duplicate

[2021-08-20 13:18] bpasero commented on #131258
VS Code supports a wide range of file encodings. You can see the full list when you click on the lower right status bar where the encoding is shown and then choose to either reopen the file with a specific encoding or save the file with a specific encoding:

![image](https://user-images.githubusercontent.com/900690/33760971-db202986-dc07-11e7-8ca0-f8d8938cef7f.png)

There are two options how to co

[2021-08-20 13:18] #130241 closed

[2021-08-20 13:19] sandy081 commented on #130335
/duplicate

[2021-08-20 13:20] MinnDevelopment opened #131259 "Git Extension no longer working after VSCode updated (WSL)"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.59.1
- OS Version: Windows_NT x64 10.0.19043

Source control is no longer showing any information, file changes are not being highlighted, and generally git seems dysfunctional:

![image](https://user-images.githubusercontent.com/18090140/130238204-235f9ce6-9940-4cab-b25a-a37e56ed0481.png)

Git is definitely install

[2021-08-20 13:20] #130335 closed

[2021-08-20 13:22] entlicher commented on #48810
Can this issue be considered for implementation please?
For usability point of view it'd be good to have a completion in the watch field, similar to existing completion in breakpoint's condition.

[2021-08-20 13:23] dbaeumer commented on #131121
To clarify my comment: In ESLint I struggled with renames that change casing which is not reflected in the URI. I did struggle with lower case drive letter as well. But I never encounter the path being all lower case

[2021-08-20 13:23] cirofeitosa commented on #131258
I know about your explanation. By the way, thank you.

My issue reported is only about the "auto guess encoding" feature, it isn't working in this case. When open the file, the VS Code can't detect the correct file encode automatically. To compare, when I open in Sublime Text, the same file, it open correctly (any encode).

[2021-08-20 13:25] bpasero commented on #131258
Oh yeah sorry, my comment doesn't make a lot of sense for guessing encoding...

Can you attach the file? We use a library for detection so this issue would need to be reported to https://github.com/aadsm/jschardet/issues

[2021-08-20 13:26] sandy081 commented on #130117
/duplicate

https://github.com/microsoft/vscode/issues/2816

[2021-08-20 13:26] bpasero commented on #131121
@stamblerre could that happen here? a file was opened with one case and later renamed?

[2021-08-20 13:26] #130117 closed

[2021-08-20 13:27] bpasero commented on #131223
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2021-08-20 13:29] sandy081 commented on #130159
This is because extension host has crashed not sure which extension has caused it though. Can you try turning off setting sync and see ?

[2021-08-20 13:30] sandy081 commented on #130020
Please file issue against VSCodium.

[2021-08-20 13:30] #130020 closed

[2021-08-20 13:32] IllusionMH commented on #131257
Please provide documentation what it's actually doing.

VS Code supports `.vscode/lanuch.json` and `.vscode/tasks.json` to store configuration for run/debug app and tasks.

[2021-08-20 13:33] sandy081 commented on #129916
Can you please Enable log level to trace, repeat above steps and provide the settings sync log by running the command `F1 > Open View > Log (Settings Sync)`

[2021-08-20 13:36] bpasero commented on #129936
/duplicate https://github.com/microsoft/vscode/issues/41767

[2021-08-20 13:37] #129936 closed

[2021-08-20 13:41] cirofeitosa commented on #131258
Yes, I have a example (attached).

I'll report at library repository. Thank you, again!

[example-ISO-8859-1.txt](https://github.com/microsoft/vscode/files/7021851/example-ISO-8859-1.txt)

[2021-08-20 13:44] bpasero commented on #131258
I think for me it detects the right encoding though:

![image](https://user-images.githubusercontent.com/900690/130242787-7b55eef8-80b8-41fa-88dd-2d8f3996634b.png)

[2021-08-20 13:48] cirofeitosa commented on #131258
The correct should be ISO-8859-1, not ISO-8859-2.

Try to open this example in another IDE/Editor, and see the difference in accentuations.

The first word should be: "você"

[2021-08-20 14:02] Tyriar commented on #130368
@noahehall the issue should be created on Monday.

[2021-08-20 14:04] kelps commented on #10759
I feel sad about the state of the Store with each iteration. Now it kind of looks like it'll turn into a simple directory where anything is allowed, instead of tackling the issues and short comes.

That doesn't mean I'm not happy about VSCode in the Store. I just don't like the way the store is being treated and used.

Apps from the store used to mean safety, reliability, stability, thorough unins

[2021-08-20 14:05] Tyriar commented on #45407
Will need the test plan and then move this to Sept for finalization. We might want to wait a bit longer for this to make sure extensions pick it up but we can figure that out next month.

[2021-08-20 14:11] tazerdev commented on #115784
Apologies that I missed the update. I won't be able to verify until Monday, but it's sufficient for me that others have been able to do so. I'll chime in once I am able to confirm.

[2021-08-20 14:16] ErnestoBorio commented on #34442
This is just a workaround I'm using and it's only for unix-like systems and just for the terminal panel, but you can open a new terminal outside vscode, and get its device path with `who am i`.
Suppose it's `/dev/ttys001`.
Then in the vscode terminal you run your process, let's say `npm run start:dev &> /dev/ttys001`, then you get the terminal output in a separate window.
You could just run the ta

[2021-08-20 14:23] HimrajDas opened #131260 "facing issues in executing python codes"
after the latest update(20/8/21) i am facing issues in printing codes.
4/10 times my codes not get executed.
Even 'Hello World' is  not get executed.

[2021-08-20 14:25] gjsjohnmurray commented on #131172
@alexr00 I'm not clear why the existing `resourceScheme` (see [here](https://code.visualstudio.com/api/references/when-clause-contexts#available-contexts)) doesn't meet your need.

[2021-08-20 14:32] #126210 closed

[2021-08-20 14:36] hichemfantar commented on #130362
They're disabled globally.
I haven't tried this feature in a while, maybe It was a fixed, I'll try it soon and report the results.

[2021-08-20 14:36] AntonKhorev commented on #13960
@Chris-70

Which modern editors do?

Brief is definitely not modern.

Because virtual space was there back in ancient times. This feature wasn't added in a _modern_ version of Visual Studio, it just wasn't removed. Some editors actually had it removed.

So no modern editors exist in Linux?

[2021-08-20 14:39] Tyriar opened #131261 "Run build tasks with presentation reveal never selects the new terminal"
ctrl+shift+b in vscode's repo:

![recording (67)](https://user-images.githubusercontent.com/2193314/130250071-e41b03f6-6bf4-4b1f-acc6-b42dbd4aeb46.gif)

Since it's not set to active here it shouldn't get selected

[2021-08-20 14:44] NightRaidGamer commented on #130861
but so, where are the files responsible for OSS-DEV coming in english by default then?

[2021-08-20 14:45] isidorn commented on #126210
To verify:
1. iPad
2. Open Codespaces and touch tap on some link (not a button) in a welcome view -> make sure the link works

[2021-08-20 14:46] christianbueno1 commented on #113175
Yes you are right.
The problem persist in

Version: 1.59.1
Commit: 3866c3553be8b268c8a7f8c0482c0c0177aa8bfa
Date: 2021-08-19T11:54:37.513Z
Electron: 13.1.7
Chrome: 91.0.4472.124
Node.js: 14.16.0
V8: 9.1.269.36-electron.0
OS: Linux x64 5.11.0-31-generic

Here a video first with no zooming then with one zooming(CTRL+=)

https://user-images.githubusercontent.com/10623247/130251222-3355abbc-fcfe-42c1-

[2021-08-20 14:46] Tyriar commented on #131261
`ITerminalGroupService.onDidChangeActiveInstance` is firing wrongly

[2021-08-20 14:47] #131260 closed

[2021-08-20 14:48] SeemXD opened #131262 "'The name org.freedesktop.secrets was not provided by any.service files' error after logging into Visual Studio Code for settings sync"
I don't know if this is a bug, but I'm using Visual Studio Code for Raspberry Pi OS. I'm using it on a Raspberry Pi 4 Model B, and I'm having trouble. After installing Visual Studio Code on my Raspberry Pi, I try to log in to sync settings. I log into my Microsoft account and I choose to 'merge' my settings. After that, I get a error saying:

Writing login information to the keychain failed with e

[2021-08-20 14:50] isidorn commented on #120920
Also assigning to @misolori since you refreshed the zone widgets, it would be cool that we increase the contrast to at least 3:1

[2021-08-20 14:53] isidorn commented on #103207
@hediet maybe maybe we open this up for PRs to add color customisation for diff editors?
fyi @aeschli on color names

[2021-08-20 14:55] Tyriar commented on #131261
/duplicate https://github.com/microsoft/vscode/issues/130227

[2021-08-20 14:55] #131261 closed

[2021-08-20 14:56] #130227 closed

[2021-08-20 14:58] sourabh112 commented on #130503
Can I take on this issue( If it is not assigned to someone else )? It looks fairly simple to me.
But as I'm quite new to this so I might need some guidance.

[2021-08-20 15:03] Tyriar commented on #131190
Same applies to color and icon

[2021-08-20 15:04] Tarrowren commented on #130241
I didn't find the duplicate issue.
I wonder why "extensions" don't have a JSON configuration file like "settings"

[2021-08-20 15:08] alexr00 commented on #131172
@gjsjohnmurray I thought that was restricted only to the explorer view. But I can see now that it's available in other views. Looks like we're all set then!

[2021-08-20 15:14] jrieken commented on #129037
This is how it currently looks (UI and API)

<img width="729" alt="Screen Shot 2021-08-20 at 17 10 48" src="https://user-images.githubusercontent.com/1794099/130254574-9eb04fe1-7039-4b84-a995-b5962a3dba58.png">

* Language status is text, detail, and command
* Language status is part of a rich hover
* The is the idea to make a language status pinnable to the status bar. This would make it easier t

[2021-08-20 15:14] Tyriar opened #131263 "New extension contributed terminal in editor dropdown always opens in panel"
![recording (68)](https://user-images.githubusercontent.com/2193314/130254889-885691a4-3950-4f16-bcd5-4ffb8eed4360.gif)

[2021-08-20 15:18] isambi commented on #124540
Thanks

On Fri, Aug 20, 2021 at 9:09 AM Martin Aeschlimann ***@***.***>
wrote:

[2021-08-20 15:23] isidorn commented on #124973
@tianzerun I apologise for the slow response, I was on summer vacation.
First of all, we definitely want to enable full screen. Similar discussion https://github.com/microsoft/vscode/issues/106972

However I just tried the changes you propose and I could not see any change in behaviour.
I also tried Codespaces with what they have and I could not get into full-screen mode on my iPad. Is this someth

[2021-08-20 15:24] gjsjohnmurray commented on #131245
I recently saw a proposal for the `viewsWelcome` contribution point to let extensions contribute multiple commands in such a way that they'd display as a blue button with a dropdown widget to give access to the second, third etc commands. With that available it'd be less controversial to add the command which appears on Command Palette as `File: Quick Open Recent...`, since it wouldn't consume any

[2021-08-20 15:30] HimrajDas commented on #131260
when i uninstall the latest and install the older version of pylance and
python extension it becomes fine.
Please fix the new version.

On Fri, 20 Aug 2021 at 20:17, VS Code Issue Triage Bot <
***@***.***> wrote:

[2021-08-20 15:36] aeschli opened #131265 "Not hitting breakpoints in web extension running in VS Code Desktop stable"
Version: 1.59.1 (user setup)
Commit: 3866c3553be8b268c8a7f8c0482c0c0177aa8bfa
Date: 2021-08-19T11:56:46.957Z
Electron: 13.1.7
Chrome: 91.0.4472.124
Node.js: 14.16.0
V8: 9.1.269.36-electron.0
OS: Windows_NT x64 10.0.19043

JavaScript debugger: v1.59.0

- clone https://github.com/microsoft/vscode-extension-sample and open VS Code in folder `helloworld-web-sample`
- install the recommended extensions

[2021-08-20 15:39] aeschli commented on #131265
Now I got a breakpoint hit in stable, but the breakpoint was a on the line below the handler. So maybe its source map related.

[2021-08-20 15:44] connor4312 commented on #119171
I put in a change to increase the "stride" between port attempts so that a wider range of ports is tried.

[2021-08-20 15:44] Tyriar commented on #131156
To test:

- Open a terminal to the side, the padlock should show up to indicate it's locked
- + button should create terminals in the locked
- Create terminal in editor area command while locked group is focused should create the terminal in the non-locked group

[2021-08-20 15:44] #119171 closed

[2021-08-20 15:54] isidorn commented on #128484
I have pushed a fix for 2.
However let's leave this open to see @polinasok response for 1.

[2021-08-20 15:57] connor4312 commented on #130961
I can confirm as well. I hit this very reliably when debugging from OSS, and that flag fixes it. I'll reopen the mentioned issue and close this as a duplicate.

[2021-08-20 15:57] #130961 closed

[2021-08-20 15:58] connor4312 commented on #123257
Per the linked issue this still seems to happen

[2021-08-20 15:59] bpasero commented on #131258
Ah ok, then yeah please report to `jschardet`, maybe they know about this.

[2021-08-20 16:01] TylerLeonhardt commented on #130861
The gist is, when we build VS Code for releases (insiders or stable) it rewrites the `localize(...)` you see in our sources with a totally different function that is able to handle language packs. This is done during our bundling but for OSS we don't do any bundling because that would increase the build time by a significant amount.

That's why Language Packs don't work in OSS. The default `locali

[2021-08-20 16:01] tolutaua opened #131266 "My superhero typing speed results in searching for new lines"
Issue Type: <b>Bug</b>

Select text
Ctrl-F opens find dialog with selected text
Press enter

Sometimes it works and searches for the selected text but when I'm super fast hitting enter after the Ctrl-F shortcut, it replaces the text in the find window with a new line character and searches for that

VS Code version: Code 1.59.0 (379476f0e13988d90fab105c5c19e7abc8b1dea8, 2021-08-04T23:13:12.822Z)
O

[2021-08-20 16:05] connor4312 commented on #131265
The latest [nightly extension](https://github.com/microsoft/vscode-js-debug#nightly-extension) is required to debug web extensions, which requires 1.60-insiders or newer.

/duplicate https://github.com/microsoft/vscode/issues/128637

[2021-08-20 16:05] #131265 closed

[2021-08-20 16:13] DinosDev commented on #130843
Well, the Color is incorrect...
Is a color of string

[2021-08-20 16:18] #131250 closed

[2021-08-20 16:20] isidorn commented on #118383
I just tried debugging from Codespaces and the new tab was consistently being opened for me.
However for PWA this simply is not working, as you say PWA does not support multiple tabs and when a new instance of the PWA window gets opened it replaces the original one. So it seems like it is not possible to have multiple tabs / windows and thus it is impossible to debug Extensions in this setup.

I d

[2021-08-20 16:21] roblourens commented on #129625
The text language doesn't, but the object model form essentially could, right?

[2021-08-20 16:23] YoussefBouzekri commented on #127644
why not use github discussions for that ? I prefer to run as little microsoft products as possible on my linux machine.

[2021-08-20 16:24] bobbrow commented on #129466
Makes sense.  Sorry I didn't catch that earlier.

[2021-08-20 16:32] yo1dog opened #131267 "Test"
Issue Type: <b>Bug</b>

Test

VS Code version: Code 1.59.1 (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-19T11:56:46.957Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No
Remote OS version: Linux x64 5.4.72-microsoft-standard-WSL2
Remote OS version: Linux x64 5.4.72-microsoft-standard-WSL2
Remote OS version: Linux x64 5.4.72-microsoft-standard-WSL2
Remote OS version: Linux x64 5.4.7

[2021-08-20 16:33] #131267 closed

[2021-08-20 16:34] bpasero opened #131268 "Flaky test: vscode - untitled automatic language detection"
[code]

https://dev.azure.com/monacotools/Monaco/_build/results?buildId=131883&view=logs&j=3792f238-f35e-5f82-0dbc-272432d9a0fb&t=ff86458e-371d-5daa-d7a2-208b9a858585&l=378

[2021-08-20 16:34] just1a-person commented on #10759
@kelps The problem is that developers (including certain Microsoft apps!) are reluctant to move to the [MSIX/MSIX Core* packaging standard](https://github.com/microsoft/msix-packaging)

*Note that MSIX Core supports even Windows 7

[2021-08-20 16:37] jaymegordo commented on #131246
The bracket colorization could be helpful, but pretty ugly without the ability to customize the colors for each level. Is this available? Currently I just see a setting to turn it off or on.

[2021-08-20 16:39] hagejosephPFG commented on #101297
I set my proxy settings in .wgetrc and it resolved the issue.

[2021-08-20 16:42] rkube opened #131269 "Can't connect to remote machine via ssh"
Hi,
vscode won't connect to a certain remote host via ssh. There appears no output in the "Output" tab, it just doesn't do anythin. Logging into that host using a separate ssh session is fine. I can also log in just fine to a different remote ssh host.
How can I approach debugging this issue?

[2021-08-20 16:43] Myraa commented on #34385
Any suggestion for windows? I have been dealing with this issue for more than a week.

[2021-08-20 16:51] roblourens commented on #131084
I swear we had that like 3 years ago but I could be wrong

[2021-08-20 16:55] backermanbd opened #131270 "vscode can't update on windows"
Issue Type: <b>Bug</b>

when i tried to update my vscode in windows, it shows something like vscode can't write a file (couldn't copy the message)
i had this problem many times
that i had to download from vscode main page, and manually install it
please fix this issue

PS: telemetry was enabled.. i guess you should get my crash report by now

VS Code version: Code 1.59.0 (379476f0e13988d90fab105c5

[2021-08-20 16:57] roblourens commented on #131240
Could you run the command "Toggle keyboard shortcuts troubleshooting", and leave that on until the dialog shows up, then share the output here?

[2021-08-20 16:59] roblourens commented on #56482
The `debug.breakpoints` and `debug.addBreakpoints` APIs are exactly what you need. You can read breakpoints and write to some file, then restore with addBreakpoints. That SO question probably predates the API.

[2021-08-20 17:00] alexdima commented on #129625
Yes, that is why you're able to express such an expression. But the expression is normalized to a form without paranthesis such that it can be serialized in e.g. the default keybindings JSON file or UI. I am working on improving things to avoid term explosions.

[2021-08-20 17:00] AiverReaver commented on #130968
can I work on this issue?

[2021-08-20 17:02] yuehuang010 commented on #129762
"disassemble called made when view is closed", Someone else mentioned it, I will look into it. soon.

[2021-08-20 17:06] johndpope commented on #72280
maybe just better support to open file - if i'm ssh'd - show a download button.
if it's local - show a open button / smack bang in middle of screen.

such an abrupt end to great ux. got to go into recovery mode - right mouse clicking / downloading....

<img width="1217" alt="Screen Shot 2021-08-21 at 03 05 22" src="https://user-images.githubusercontent.com/289994/130268950-94b6cd2c-f81a-49b9-a033-

[2021-08-20 17:06] bpasero commented on #131084
I cannot recall that, here is how it looked like before I rewrote quick open:

https://github.com/microsoft/vscode/blob/release/1.30/src/vs/workbench/parts/search/browser/openFileHandler.ts#L192-L200

[2021-08-20 17:09] mcicat commented on #129093
No answer?

[2021-08-20 17:12] sbatten commented on #131191
This is a nice thought but deciding what that signal should be is not so trivial. e.g. if an extension that would provide errors in a file they have opened is not working, then they must be notified but they have not taken any explicit action. In practice, a lot of non-user actions would trigger the banner at the start because they provide those enhancements that don't require the user to do anyth

[2021-08-20 17:15] FMS1989 commented on #130934
Hello,

This is the code in my launch.json file. Does this help?

{
    "version": "0.2.0",
    "configurations": [
        {
            "type": "PowerShell",
            "request": "launch",
            "name": "PowerShell Launch Current File",
            "script": "${file}",
            "args": [],
            "cwd": "${file}"
        },
        {
            "type": "PowerShell",

[2021-08-20 17:31] #131201 closed

[2021-08-20 17:34] roblourens commented on #130843
Not sure how to fix this since our themes don't have special colors for punctuation, so the string color for [] takes precedence here

[2021-08-20 17:45] roblourens commented on #130843
Actually we have the theme rules, we would need to improve the php grammar's parsing of php template strings to maybe include a `meta.embedded` scope.

This is all we have for this case

[code]

This would be a request for upstream https://github.com/atom/language-php/issues and would be difficult to do. I'm not going to file it, I am not sure it's practical

[2021-08-20 17:45] #130843 closed

[2021-08-20 17:49] roblourens commented on #129625
I see. Maybe it could be normalized only for serialization but we keep a more efficient form in memory.

[2021-08-20 17:53] Chris-70 commented on #13960
@AntonKhorev did you NOT understand the post? I never said Brief was modern, I was pointing out that back in the 80's it supported it when XTs were king and ATs were modern. The editor in Visual Studio was rewritten in the 00's for VS 2010/2012. So in my books that's modern.

I never said there were no modern editors in Linux, where did you get that from? I said VS Code is at the top on Linux.

If

[2021-08-20 17:53] roblourens commented on #130427
So you right click and simply nothing happens? Do you see any errors in the devtools (Help > Toggle developer tools)

[2021-08-20 17:54] luabud opened #131272 "Python extension installation failure with XHR error"
Hi there! Since the 1.59 release we got 3 reviews from users saying they can't install the Python extension with a "Extension: Python': XHR timeout: undefinedms." error.  Not sure if the same thing happening with other extensions, but we're not sure what could be happening. https://github.com/microsoft/vscode/issues/127214 and https://github.com/microsoft/vscode/issues/34385 seem to be related, bu

[2021-08-20 17:56] roblourens commented on #130635
I think that this is sort of just due to the UX of the quick pick control that symbol search uses. "enter" to accept, "escape" to cancel. I see the annoyance with this difference, but I don't really think it can be resolved.

[2021-08-20 17:56] #130635 closed

[2021-08-20 17:57] kay-stack commented on #131240
I've updated my VSCode and can't replicate the issue across a couple of different projects. Can I close this thread and reopen at a later stage if it occurs again? Sorry for the inconvenience :)

[2021-08-20 17:59] roblourens commented on #130585
Duplicate of https://github.com/microsoft/vscode/issues/130428

[2021-08-20 17:59] #130585 closed

[2021-08-20 18:02] roblourens commented on #130428
Anyone who was still seeing this issue, can you check whether it is fixed in the latest stable/insiders releases?

[2021-08-20 18:04] silviubogan opened #131273 "TS Server fatal error: Cannot read property 'forEach' of undefined"
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.3.5

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Error Stack**
S

[2021-08-20 18:04] fcurts commented on #50140
Not the semantic accuracy, but the syntactic accuracy, which does *not* require looking at other files. It's impossible to do accurate syntactic syntax highlighting (and code folding, etc.) with TM grammars. Just take a look at the more than 700 (!) issues filed against the TypeScript TM grammar, the most complex regex spaghetti monster I've seen in my life. It's a never-ending "you fixed somethin

[2021-08-20 18:16] SNDST00M commented on #50140
It's really annoying handling multi-line meta scopes like this:

[code]

[2021-08-20 18:27] meganrogge commented on #131263
Also in the panel dropdown, split -> extension terminal isn't splitting

[2021-08-20 18:34] arthurrump opened #131274 "Allow text editor decorations to change the height of a line"
## Motivation

Background story: I came across [this extension called Markless](https://github.com/tejasvi/markless) for Markdown editing by @tejasvi, which aims to provide an editing experience similar to [Typora](https://typora.io/) and [Mark Text](https://marktext.app/) (so WYSIWYG Markdown, but you're still typing in Markdown syntax instead of using typical WYSIWYG editing buttons). I love Typ

[2021-08-20 18:50] IllusionMH commented on #131246
As with syntax highlight -  it's part of theming `editorBracketHighlight.foregroundN` https://github.com/microsoft/vscode/pull/129231#issuecomment-896860315
Please do not hijack other's issues - there are umbrella issues that track this feature e.g. #128465

[2021-08-20 18:57] xisui-MSFT commented on #129762
Currently it loads disassembly on pause debugging. We should probably add a focus check.

[2021-08-20 19:08] Tyriar opened #131275 "Removing parent folder from terminal links doesn't work on Windows"
The terminal has a feature where links such as `../README.md` that can't be detected as files will open the quick pick with the `../` removed as the quick pick doesn't support parent folders, plus in many cases the `../` is actually relative to a sub folder of the workspace folder.

![image](https://user-images.githubusercontent.com/2193314/130282119-b89d5696-0478-41e4-9106-d70092d9116e.png)

[2021-08-20 19:08] #131275 closed

[2021-08-20 19:09] Tyriar commented on #131275
Expected:

![image](https://user-images.githubusercontent.com/2193314/130282273-f9155664-f7f1-4f35-be97-c27ee758f443.png)

[2021-08-20 19:17] Tyriar commented on #130933
This works fine, I had `"terminal.integrated.titleMode": "sequence"` set which is expected

[2021-08-20 19:17] #130933 closed

[2021-08-20 19:21] Tyriar commented on #128079
Verified that this does work fine now.

[2021-08-20 19:21] #128079 closed

[2021-08-20 19:23] meganrogge opened #131276 "Clean up and pull apart NewWithProfile command"
https://github.com/microsoft/vscode/blob/c8612458cb50f259b400a445b2cefe393106429f/src/vs/workbench/contrib/terminal/browser/terminalActions.ts#L2020-L2064

[2021-08-20 19:31] #131191 closed

[2021-08-20 19:33] forivall opened #131277 ""Move to next change" should centre the view on the change, not the cursor"
When using the command "Move to next change" (and move to previous change) (`workbench.action.compareEditor.nextChange`, `workbench.action.compareEditor.previousChange`), and the cursor causes the editor to scroll, the editor is centred on the cursor, which is at the top of the change. When the change is large, this means that the bottom part of the change could be in view, but it isn't.

Current

[2021-08-20 19:39] hericlesbitencourt commented on #40239
I'm sorry but it's unbelievable that since 2017 this hasn't been implemented properly yet.
Here's the problem. VSCode it's getting slow for so many people, and why that? Because of extensions. I guess a lot of people work with at minimum 2 languages(back and front). Imagine with 3, 4 and so on.

And what we want?
A simple and quickly way to activate the extensions that we want to that folder that

[2021-08-20 19:41] healertrix commented on #130738
terminal settings - :

{
    "terminal.integrated.fontSize": 12,
    "workbench.iconTheme": "material-icon-theme",
    "explorer.confirmDragAndDrop": false,
    "editor.suggestSelection": "first",
    "vsintellicode.modify.editor.suggestSelection": "automaticallyOverrodeDefaultValue",
    "liveServer.settings.donotShowInfoMsg": true,
    "debug.console.fontSize": 16,
    "[jsonc]": {
        "edit

[2021-08-20 19:42] healertrix commented on #130738
please look into it asap

[2021-08-20 19:43] Tyriar commented on #130192
From what I can tell, the config service doesn't guarantee the order of the profiles so it's wrong already when we get them. Let's go with default at the top and then alphabetical after that.

[2021-08-20 19:56] meganrogge opened #131278 "Test: terminal location API"
Refs #45407

- [x] macOS @weinand
- [x] linux @TylerLeonhardt
- [x] windows @stevencl

Complexity: 3

Authors: @meganrogge, @tyriar

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23131278%0A%0A&assignees=meganrogge,tyriar)

---
With proposed API [enabled](https://code.visualstudio.com/api/advanced-topics/using-proposed-api), use the extension-terminal-sample to test t

[2021-08-20 19:59] claudiaregio opened #131279 "github.dev notebook png images/outputs not rendering"
Steps to Reproduce:

1. Go to any github repo with a notebook with images/outputs
2. Press .
3. Open python notebook
4. Open R notebook

For the python notebook, the image does not render but renders fine in desktop version of VSC. The default is png but I am able to switch to svg+xml and then it works in the browser.

![image](https://user-images.githubusercontent.com/19276747/130286589-d154173d-

[2021-08-20 20:03] Tyriar commented on #130192
This is what I landed on, for the dropdown the default will be at the top regardless of whether it's a normal or contributed profile:

![image](https://user-images.githubusercontent.com/2193314/130287599-4e3d11b0-13fc-4168-8a8b-b5f74ebfad88.png)

For the new with profile command, the default profile is at the top of its category, then the rest alphabetical. So below "Terminal API Profile" is the d

[2021-08-20 20:05] #130192 closed

[2021-08-20 20:06] Medallyon commented on #43244
bump @rebornix @mjbvz
Line after braceless if statement doesn't auto-indent

[2021-08-20 20:13] phillip-elm commented on #52855
I think it would make a lot more sense to just ask the user if they want to update, or show "update available" in the bottom bar somewhere.

[2021-08-20 20:14] Tyriar opened #131280 "Context Menu 'Open in Integrated terminal' opens panel even when defaultLocation is set to editor"
Repro:

1. Set `"terminal.integrated.defaultLocation": "editor"`
2. Close panel
3. Right click a folder and select open in integrated terminal, an editor terminal will be created but the panel will wrongly be opened

[2021-08-20 20:17] #131280 closed

[2021-08-20 20:36] DonJayamanne opened #131281 "Notebook Output cells not updated when calling `appendOutput` and awaiting"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: Insiders
- OS Version: Mac

Steps to Reproduce:

**Use the following code to append an output item:**

[code]

@roblourens /cc

[2021-08-20 20:39] SeemXD commented on #131262
Hey, just wondering, does anyone know how to fix this?

[2021-08-20 20:43] #129625 closed

[2021-08-20 20:51] alexdima commented on #130159
@yujie1219 Could you please try installing our Insiders Build -- https://code.visualstudio.com/insiders/ . Are you on a corporate machine that might have some sort of firewall / antivirus / proxy settings that might interfere with software?

[2021-08-20 20:55] alexdima commented on #129219
@viveks1986 Could you please try `F1 > Paste` from the command palette?

[2021-08-20 20:59] SNDST00M commented on #127644
I don't believe github discussions solves the issue - in fact, there's less filtering options

[2021-08-20 21:01] lukas9393 commented on #114776
If you use the [vscode-go](https://github.com/golang/vscode-go) plugin and set coverage decorator to `gutter`, it is not possible to set a breakpoint in the areas where coverage is shown.

[code]

https://user-images.githubusercontent.com/11976901/130292326-91eca31a-f98e-41d3-ade6-8a3a2367032e.mov

Maybe the extension should not offer the configuration `gutter`, as long as VSCode does not allow ov

[2021-08-20 21:06] #130822 closed

[2021-08-20 21:10] SNDST00M commented on #127644
@YoussefBouzekri I think theres been a misunderstanding - I'm not suggesting a separate program, although the screenshot example/state-of-the-art is a separate program for reasons I don't comprehend

[2021-08-20 21:10] alexdima commented on #130450
What was the `extensionKind` of `GitHub.codespaces` when this was reproducible 11 days ago?

[2021-08-20 21:11] #121242 closed

[2021-08-20 21:12] jkeech commented on #130450
[code]

The extension kind has not changed in the past month.

[2021-08-20 21:15] #131240 closed

[2021-08-20 21:20] sevillal commented on #128573
@alexdima I tried the above changes but it fails when the main extension (ms-toolsai.vscode-ai) tries to use the api of the remote extension (ms-toolsai.vscode-ai-remote). I think the problem might be the "api": "none".

So our workflow would be:
1. User in local context opens vscode and activates ms-toolsai.vscode-ai and ms-toolsai.vscode-ai-remote
2. User starts remote connection
3. ms-toolsai.v

[2021-08-20 21:20] m6502 commented on #13960
@AntonKhorev

Editing source code was there back in ancient times, maybe they should remove support for it in modern code editors too.

That wouldn't be the smartest thing to do. Which ones are these?

I use Codelite on Linux and it supports Virtual Space.

[2021-08-20 21:22] firelizzard18 opened #131282 "Strange document URIs in onDidOpenTextDocument callback when workspace is initially loaded"
Issue Type: <b>Bug</b>

I see this issue when debugging vscode-go with `--disable-extensions`, so AFAIK the only extension running should be my local development version of vscode-go.

After the extension activates, my `vscode.workspace.onDidOpenTextDocument` callback is called with a TextDocument with a rather strange URI:

[code]

I expect to see `file:///home/ME/src/runway/internal/geom/face_te

[2021-08-20 21:35] rzhao271 commented on #128355
Alright, I took another look at the `anyOf` issue.
I believe the PR only fixes `anyOf` settings involving the object settings widget. The setting in this issue isn't an object setting (I think), so we need to add more handling for it.
Yet, even in the PR, I notice that the `anyOf` switches to rendering a dropdown when it detects that one of the options is an enum. I think what we want instead in b

[2021-08-20 22:36] polinasok commented on #128484
Clarification on 1. What I meant is that there might be implementers out there who chose explicit `showUser=false` not because they did not want to show anything to the user, but because they wanted to show the error only once. Since the editor always reliably triggered the visible modal alert, regardless of what the spec says, the `showUser` property was not controlling the overall visibility, bu

[2021-08-20 22:39] xisui-MSFT commented on #130436
Thanks for the explanation.

[2021-08-20 22:39] #130436 closed

[2021-08-20 22:47] eric-777 commented on #13960
I've gave up and bought SlickEdit about 8 months ago. It's super pricey, but after the stick shock wore off I'm happy with it.

I'd have held off if there had been any indication at all from the team that it was even on the roadmap for someday. But the prolonged silence is telling. I came to the conclusion that they have no desire. The most support we'll get for virtual space is this thread for di

[2021-08-20 22:49] diegonogueira opened #131284 "Can't get other machine synced data"
I can't get the settings of another machine. I formated my Windows and now I lost some settings.

How can I get the setting history of the others machines? I don't have those machines anymore.

![image](https://user-images.githubusercontent.com/68256/130300347-665fc0e1-c485-45ae-a1e9-87b3333bf639.png)

Thanks

[2021-08-20 22:49] xisui-MSFT commented on #130947
@deepak1556 I'm not able to build https://github.com/mapbox/node-sqlite3 as well with the same error.

Is there any other native module I can try so we can know if it's a npm-gyp issue or a sqlite3 issue? Looks like this path error happens much earlier than those errors I encountered a few days ago (error in the original issue). Also, do you know if https://github.com/mapbox/node-sqlite3 is still

[2021-08-20 22:51] ashgti opened #131285 "[FR] Opt a vscode.TestController out of 'Run All Tests' or 'Debug All Tests'"
I am working on a test controller that is for an extension in a very large mono repo. I'm trying to figure out the best way to handle the scale of testable targets/classes/methods when working the the new vscode.tests API.

One issue I'm currently having is that I feel like creating a test item for each target in the repo is just to much information for a user to deal with. For example, one projec

[2021-08-20 22:57] #131263 closed

[2021-08-20 22:58] wenfangdu opened #131286 "[FR] Conext key for detecting if an editor is a markdown preview"
Command `markdown.showSource` shows the source code of a markdown preview, how to write the `When` condition so that `markdown.showSource` only triggers when the active editor is indeed a markdown preview? If such a context key doesn't already exist, please consider adding one.

[2021-08-20 23:08] apsoftwaredev commented on #130893
Just updated again. Issue remains.  Thank you.

Version: 1.60.0-insider (user setup)
Commit: 89bbd372f459ce72e9c0b60eb3b26b924f64f62d
Date: 2021-08-20T17:51:50.560Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.22000

![image](https://user-images.githubusercontent.com/1483796/130301394-c0f683ca-3f9c-4f60-8e28-51cad793169d.png)

[2021-08-20 23:09] deepak1556 commented on #130947
You can try https://github.com/microsoft/node-pty

Yup https://github.com/mapbox/node-sqlite3 is actively maintained, `@vscode/sqlite3` is currently forked for some customizations but eventually plan to use the upstream version.

[2021-08-20 23:11] deepak1556 commented on #130947
Are you not able to use windows terminal or powershell, node-gyp should build fine on those shells.

[2021-08-20 23:18] IanMatthewHuff opened #131287 "Test: Default Jupyter notebook plots to PNG and support PNGs in plot viewer"
Refs: https://github.com/microsoft/vscode-jupyter/issues/6913

- [ ] anyOS
- [ ] anyOS

Complexity: 2
Author: @IanMatthewHuff

File bugs on the Jupyter repo here: https://github.com/microsoft/vscode-jupyter/issues

Previously the Jupyter extension would by default set MatplotLib to generate both PNG (the standard for Jupyter) and SVG versions of plots. These hidden SVGs, especially in dense plots,

[2021-08-21 00:44] kussatom opened #131288 "Cannot use VSCODE with remote connections"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.59.0
- OS Version: windows 10

Steps to Reproduce:

1.open vscode  on computer A
2.Open Computer A with WINDOWS Remote Desktop visa another computer  and edit it at will in VSCODE running on computer A.
3,close the remote Desktop tool
4,Local login computer A
5,vscode becomes almost unusable, you cann't typing or

[2021-08-21 00:56] wenfangdu opened #131289 "[Bug] `markdownPreviewFocus` is `true` even if the markdown preview isn't focused"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: v1.60.0-insider
- OS Version: Windows 10

Steps to Reproduce:

1. Change `markdown.showSource`'s when condition to `markdownPreviewFocus`.
2. Keep a markdown preview open.
3. Focus integrated terminal.
4. Use the bound shortcut to trigger `markdown.showSource`.
5. Markdown source code file is opened.

[2021-08-21 01:02] digitarald opened #131290 "Notebook markdown cell does not know about my markdown formatter"
`Format Document` in a markdown cell does show a dialog about missing formatter, even though I have `Markdown All in One` installed:

![image](https://user-images.githubusercontent.com/8599/130305603-8d5191db-90db-443e-9118-15c8d41e3801.png)

This is annoying as table formatting is amazing and especially useful to summarize tabular data in markdown.

[2021-08-21 01:03] wenfangdu commented on #131286
See [How to detect if an editor is a markdown preview?](https://stackoverflow.com/q/68868770/7881859).

[2021-08-21 01:03] #131286 closed

[2021-08-21 01:11] Miguelklappes commented on #48659
How is this still not a feature after **3 years**?

[2021-08-21 01:23] roblourens opened #131291 "Copy/pasting a cell copies the execution state"
- Run a notebook cell
- Copy, paste it
- The pasted cell is executing forever

Regressed with internal metadata refactoring a bit ago

[2021-08-21 01:27] jianweihao commented on #131223
Thanks for reply, I will try to reproduce in the next few days.

[2021-08-21 01:31] Prurite commented on #43244
2 yrs and a half have gone, even with an active PR they're still ignoring this :<

[2021-08-21 02:11] oscarrutt commented on #130658
Sorry for the delay. Console.app doesn't seem to like the way I'm using the filter function but here are several crash logs with file names containing Code Helper (GPU). I've not been using VSC for a few days so they are a few days old. I _suppose_ they are similar to the one attached to my original post.
[Code Helper.zip](https://github.com/microsoft/vscode/files/7024703/Code.Helper.zip)

[2021-08-21 02:12] #131291 closed

[2021-08-21 02:12] #131281 closed

[2021-08-21 02:22] github-account1111 commented on #128965
Following up.

It doesn't look like 20 upvotes are happening. Can I resubmit if it doesn't get there?

[2021-08-21 02:31] #126767 closed

[2021-08-21 02:31] #126719 closed

[2021-08-21 02:42] tekumara opened #131294 "On restart terminal opens with sh rather than zsh"
Does this issue occur when all extensions are disabled?: N/A

Version: 1.59.1
Commit: 3866c3553be8b268c8a7f8c0482c0c0177aa8bfa
Date: 2021-08-19T11:53:52.479Z (1 day ago)
Electron: 13.1.7
Chrome: 91.0.4472.124
Node.js: 14.16.0
V8: 9.1.269.36-electron.0
OS: Darwin x64 20.5.0
Steps to Reproduce:

1. With vscode running with an integrated terminal open, restart my mac
2. After logging in vscode will b

[2021-08-21 03:20] ivahyael commented on #113175
Looks like there isn't any fix yet. I am also encountering same issues though what @elesiuta mentioned workaround worked for me. My zoom level is 1 and I haven't tweaked this since installing VsCode.

`Version: 1.59.1
Date: 2021-08-21T11:15:04
Electron: 13.9.1
Chrome: 92.0.4515.131
Node.js: 16.6.2
OS: Arch Linux x86_64 5.13.10-arch1-1`

[2021-08-21 03:21] connor4312 commented on #131285
Check out https://github.com/microsoft/vscode/issues/129456#

[2021-08-21 03:23] awhlmycn commented on #131249
修改配置里面的这个属性： files.restoreUndoStack

[2021-08-21 03:32] BenjaminHolland commented on #48659
Probably because it got put in the backlog, which is likely ignored by
everyone in charge of the project.

If there's another reason, I'd love to hear it. The fact that this bug has
been continuously active for 3 years should indicate that this isn't a use
case that's going away, and warrants at least some official response. As I
mentioned in another comment, even a technical explaination of the i

[2021-08-21 03:46] jooyoungseo opened #131295 "[Accessibility] Character is not read properly in terminal input after auto-completion"
CC @isidorn

Found the following issue in both NVDA and JAWS.

Closely related to [#131090](https://github.com/microsoft/vscode/issues/131090#issuecomment-901131151).

Does this issue occur when all extensions are disabled?: Yes

## System Info

Version: 1.60.0-insider (system setup)
Commit: 89bbd372f459ce72e9c0b60eb3b26b924f64f62d
Date: 2021-08-20T17:51:50.560Z
Electron: 13.1.8
Chrome: 91.0.4472.

[2021-08-21 04:15] sourabh112 commented on #130503
@sandy081, I have made the changes to correct the typos. Should I make a PR or it is already completed?

[2021-08-21 04:26] sourabh112 commented on #131207
Can I take on this issue( If it is not assigned to someone else )?
But as I'm quite new to this so I might need some guidance on where should I start.

[2021-08-21 04:34] ashokkhandhar opened #131296 "powershell don't work properly"
Issue Type: <b>Bug</b>

when i run my file i found this issues:

PS C:\Users\ashok\Desktop\coding practices>
Oops, something went wrong.  Please report
this bug with the details below.
Report on GitHub: https://github.com/lzybkr/PSReadLine/issues/new
-----------------------------------------------------------------------
Last 126 Keys:
 c d Space " c : \ U s e r s \ a s h o k \
D e s k t o p \ c o

[2021-08-21 05:34] bpasero commented on #131223
Ok.

[2021-08-21 05:38] bpasero opened #131297 "Codicon: add an icon that resembles the VS Code logo"
For the new `welcomeBanner` support in VSCode web I need a Codicon that is the VSCode logo (doesn't really need to be different for insiders vs stable I would say). I couldn't find it in our set currently.

Thanks!

//cc @bamurtaugh @digitarald

[2021-08-21 05:38] jehillert commented on #129093
I am having the same problem on MacOS, VS Code Version 1.59.1.  I don't think shell or method VS Code is opened, because I open vs code from the code-workspace file (and I use zsh, not bash).  The problem occurs when the command is called, whether that's by context menu or "show all commands" via hotkey.

Also, the file created is a concatenation of the individual ranges staged, and the same range

[2021-08-21 05:47] HosseinSalmanian commented on #59773
@isidorn  It would be a handy feature, working with so many files in file explorer makes an impact on productivity.

[2021-08-21 05:50] wing0621 opened #131298 "can't use shortcuts"
We have written the needed data into your clipboard because it was too large to send. Please paste.Hi,

I'm having an issue while using VS (I'm a newbie, it could totally be me). The shortcut to run the code (control+f5) sometimes works and sometimes doesn't. Same thing happen when I want to "clear" the terminal. I know, it's strange... Any clue what it may be?

Thank you!
Antonio

[2021-08-21 05:57] tejas15802 opened #131299 "SAGE MATH SUPPORT FOR VSCODE"
I'd like to have vscode to support sage math. Like right now I can use python notebook in vscode maybe we can extend it to sage math's notebook too?

[2021-08-21 06:08] YexuanXiao commented on #130952
Windows11

[2021-08-21 06:19] yo1dog commented on #130352
Also occurs for me between Windows and Mac.

## Windows

Version: 1.59.1 (user setup)
Commit: 3866c3553be8b268c8a7f8c0482c0c0177aa8bfa
Date: 2021-08-19T11:56:46.957Z
Electron: 13.1.7
Chrome: 91.0.4472.124
Node.js: 14.16.0
V8: 9.1.269.36-electron.0
OS: Windows_NT x64 10.0.19042

VS Code version: Code 1.59.1 (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-19T11:56:46.957Z)
OS version: Windows_NT

[2021-08-21 06:30] yo1dog commented on #130352
As a workaround, I combined my Windows and Mac keybindings and added a when `"when": "isWindows"` and `"when": "isMac"`.

[2021-08-21 06:46] bpasero opened #131300 "History fails to show when first invoked on empty editor group"
**Steps:**
* have some editors opened and verify they appear in quick open without searching as "recently opened"
* close all editors
* reload window
* bring up quick open and verify the editors are still there

[2021-08-21 06:47] #131300 closed

[2021-08-21 06:47] Defnewbe commented on #131237
Solved the issue. Thanks

[2021-08-21 07:03] siddheshshravagi opened #131301 "code backup"
Issue Type: <b>Feature Request</b>

i want my code backup. by mistakely i have open new window and now its not showing my old code.i want to restore that old code.

VS Code version: Code 1.56.2 (054a9295330880ed74ceaedda236253b4f39a335, 2021-05-12T17:13:13.157Z)
OS version: Windows_NT x64 10.0.19043

[2021-08-21 07:19] tejas15802 commented on #131299
[reference](https://ask.sagemath.org/question/43240/sagemath-and-vscode/) instead of doing that long manually, maybe something simpler?

[2021-08-21 07:25] mokaki opened #131302 "fuck you spell check idiots"
Your spell check function is a complete waste of idiots
Force others to use only your text
Annoying reminders always appear when creating your own words

Your designer is mentally handicapped

[2021-08-21 07:27] mokaki commented on #131302
fuck you

[2021-08-21 08:01] gjsjohnmurray commented on #131302
/causedByExtension

[2021-08-21 08:01] qiutian00 opened #131303 "it offen alert the the window has crashed tip"
- VS Code Version: 1.48.2
- OS Version: windows 10
![S)DZ@$C2XK}GHW} AYH RHB](https://user-images.githubusercontent.com/24382500/130314904-3a2baa2f-a4dd-45e5-846e-91a2cc0801ff.png)

Steps to Reproduce:

- sometimes , it offen alert the `the window has crashed` tip,  today it alerted three times when I running two projects in vscode， so how to avoid this.

![vscode 退出problem](https://user-images.gi

[2021-08-21 08:01] #131302 closed

[2021-08-21 08:02] Chahat226 commented on #131129
I am new to opensource and would like to work on this issue.
Can you please assign me this issue?

[2021-08-21 08:03] qiutian00 commented on #131303
not the same, enen

[2021-08-21 08:14] gjsjohnmurray commented on #131303
Please update to the current release, 1.59.1, then see if the problem remains.

[2021-08-21 08:25] ldorigo opened #131304 ""Submit a bug" no longer allows previewing the issue on github before posting it?"
Issue Type: <b>Bug</b>

I am pretty sure that until a while ago, when  clicking on "submit a bug" in vscode, the issue would be opened in preview on Github rather than being posted directly. Indeed, the text shown below seems to indicate that that is expected behavior:

![image](https://user-images.githubusercontent.com/8631181/130315821-777fd0a5-b88e-454f-a3da-a63a38c45924.png)

Now however the i

[2021-08-21 08:43] hardikkoul commented on #131080
Working fine in firefox.

[2021-08-21 08:49] siamandkm commented on #130360
I have the same problem in Android Studio, I also updated the paltform tools

[2021-08-21 08:50] siamandkm commented on #130360
My problem is very strange. I will be involved for a month

[2021-08-21 08:57] truly-irham commented on #23991
Thanks for quoting this. I really don't know why the workaround "keyboard.dispatch": "keyCode" in settings.json doesnt sync with the gui settings. It's great if someone could clarify this perhaps :/ I use arch btw

[2021-08-21 09:11] zoharl3 commented on #130635
Maybe could add a checkbox to settings to behave consistently or like visual studio.

[2021-08-21 09:14] qiutian00 commented on #131303
ohoh, thanks.

[2021-08-21 09:30] gjsjohnmurray commented on #131304
/duplicate of #117657

[2021-08-21 09:31] #131304 closed

[2021-08-21 09:41] biltongza opened #131305 "Blazor dotnet watch run in devcontainer crashes extension host after saving file"
Issue Type: <b>Bug</b>

I am trying to work on my website in a dev container and every time I save a file, even if I don't make any changes, VSCode tells me the window has disconnected and I need to reload it. Opening the developer tools shows me the extension host has experienced multiple errors and then says the container is no longer running.

[code]
vsliv368:30146709
vsreu685:30147344
python38

[2021-08-21 09:44] adaex opened #131306 "Cannot connect to codespace"
Does this issue occur when all extensions are disabled?: Yes

Version: 1.60.0-insider
Commit: 89bbd372f459ce72e9c0b60eb3b26b924f64f62d
Date: 2021-08-20T17:51:40.521Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin x64 20.6.0

Steps to Reproduce:

1. Open `Remote Explorer`
2. Select a github codespace and click `Connect to Codespace` Button
3. Waiting fo

[2021-08-21 10:09] Swapnil0102 opened #131307 "we cannot connect eith extention market place at this time"
Issue Type: <b>Bug</b>

we cannot connect eith extention market place at this time

VS Code version: Code 1.59.1 (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-19T11:56:46.957Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 3 3300U with Radeon Vega Mobile Gfx   (4 x 2096)|
|GPU Status|2d_canvas: enabl

[2021-08-21 10:09] heartacker opened #131308 "fully and friendly experience to support outside code snippet"
for code developer, efficiently editing is necessary. predefined snippet is a good way to satisfy those requirements.

at the same time, the snippet of vscode now has its boundedness:
1. user have to type a char or words to trigger snippet or hit `ctrl+spce/I`.
2. unsupported outside code officially. like [expansion-snippets-and-surround-with-snippets](https://docs.microsoft.com/en-us/visualstudio

[2021-08-21 10:15] heartacker commented on #131308
there are some extensions trying to supporting outside code snippet
1. https://marketplace.visualstudio.com/items?itemName=yatki.vscode-surround,but only supporting TS
2. https://marketplace.visualstudio.com/items?itemName=heartacker.snippets-plus
creating snippet with `${TM_SELECTED_TEXT}` and special notice(**outside code support**), and suggest to use `insert snippet`
 ![demo](https://github.co

[2021-08-21 10:24] adrian-purser opened #131309 "[C/C++] Double quote auto inserted when typing forward slash in include path"
Issue Type: <b>Bug</b>

Start typing a C/C++ include directive up to the end of the first folder. e.g.

#include "somefolder

Type a forward slash. A double quote gets inserted. e.g.

#include "somefolder"/

Expected behaviour -

#include "somefolder/somefile.h"

Actual Behaviour -

#include "somefolder"/somefile.h"

VS Code version: Code 1.59.1 (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-1

[2021-08-21 10:57] Srinse opened #131310 "code laguage not supported or defined"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-08-21 10:58] #131310 closed

[2021-08-21 11:02] MasterKavi-24 opened #131311 "Create Custom Commands To Run/Debug Files Based On Extension"
Issue Type: <b>Feature Request</b>

Team VSCode,
          I need to set a command that runs the currently active file based on it's extension... I already sent a request regarding this issue and the reply was not much helpful or satisfying. I need to make my own commands without the help of third-party extensions. Waiting for your reply.........

VS Code version: Code 1.59.1 (3866c3553be8b268c8a7

[2021-08-21 11:24] #130772 closed

[2021-08-21 11:24] #130765 closed

[2021-08-21 11:24] #130750 closed

[2021-08-21 11:24] #130747 closed

[2021-08-21 11:24] #130712 closed

[2021-08-21 11:24] #130442 closed

[2021-08-21 11:45] Mhamza007 commented on #128583
Worked on Garuda Linux

[2021-08-21 11:49] quyctd commented on #32840
I have the same problem on MacOS

[2021-08-21 12:30] tymsai opened #131312 "Make an option to shift the terminal pannel to vertical."
I want this pannel to be popout from right side not from bottom, is there any way to do it ?
![image](https://user-images.githubusercontent.com/76956612/130321809-490c1784-a39c-4767-bac9-739c40f84d22.png)

[2021-08-21 12:39] lifez commented on #130678
@aeschli  Can I start work on this issue?

[2021-08-21 13:02] 19119294973 opened #131313 "提示有一点问题"
1、当在css样式中给精灵图添加定位时，往往是取负值，这时输入-82时会出现提示，回车以后就变成了--82px。
2、我在练习正则表达式时，输入var rg = /^[a-zA-] 时就出现提示a-zA-Z，回车以后就变成了a-za-zA-Z。
为什么前面的那一部分不会替换掉啊，搞得我每次都要回头删掉前面的部分
When 1, adds positioning to the elf map in the css style, it is often a negative value, when the input-82 is prompt, and the car becomes-82px.
2, When I practice the regular expression, I enter var rg = / ^ [a-zA-] to prompt a-zA-Z, to go back

[2021-08-21 13:10] Bartzdaddy opened #131314 "Help"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2021-08-21 13:12] amadeann commented on #130457
Just opened the settings for the first time in a while, and saw the change. I installed a new extension and wanted to quickly scan the available settings for it. The extension's name starts with `xml.` In the old JSON editor, it was very easy to see ALL available customizations and identity the one I need. After the change I can either:

- do a regular search, switching on my "regex" brain to cons

[2021-08-21 13:16] lifez commented on #130250
@aeschli  Can I start on this issue?

[2021-08-21 13:22] sgon00 opened #131315 "Code scrolls when typing with markdown preview open"
My Environment:

[code]

More info: MX Linux 19.4 based on debian 10. **KDE** windows manager.

Please refer to the closed bug: https://github.com/microsoft/vscode/issues/65504

I don't need to provide any more steps. The bug is exactly the same as the bug #65504

I don't have any image inside the markdown file. You can simply use any long enough (more than one page) markdown file to test and try

[2021-08-21 13:38] lukas9393 opened #131316 "Scroll shadow is missing in the terminal view"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.59.1 (Universal)
- OS Version: macOS Big Sur

Steps to Reproduce:

1. Create enough output in the terminal to show the scroll bar.

I noticed that when in VS code it is possible to scroll, a shadow is added in the top edge of the scrolled text.  Examples:
<img width="260" alt="Screenshot 2021-08-21 at 15 15 39" src=

[2021-08-21 13:39] repi opened #131317 "Test"
Issue Type: <b>Bug</b>

Test

VS Code version: Code 1.59.0 (Universal) (379476f0e13988d90fab105c5c19e7abc8b1dea8, 2021-08-04T23:14:40.191Z)
OS version: Darwin arm64 20.3.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Apple M1 (8 x 24)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>metal: disabled_off<br>multiple_raster_threads: enabled

[2021-08-21 13:39] #131317 closed

[2021-08-21 14:26] rteano opened #131318 "TS language service is failing in remote container"
Issue Type: <b>Bug</b>

I am jus trying to use intellesense on the codes (Typescript/JS)

VS Code version: Code 1.59.1 (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-19T11:53:52.479Z)
OS version: Darwin x64 20.6.0
Restricted Mode: No
Remote OS version: Linux x64 5.10.47-linuxkit

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz (12

[2021-08-21 14:34] alexhass commented on #10759
How about moving to msi now? I already shared a per user and per machine installer in one msi.

[2021-08-21 14:36] gjsjohnmurray commented on #131315
Is #119370 similar?

[2021-08-21 14:37] gjsjohnmurray commented on #131314
/needsMoreInfo

[2021-08-21 14:45] gjsjohnmurray commented on #131312
Since 1.58 you have been able to move terminals into the editor area.

https://code.visualstudio.com/updates/v1_58#_terminals-in-the-editor-area

Create a new editor group to the right (one way is to run `View: New Editor Group to the Right` from Command Palette), then drag your terminal into the new group (grab it here)

![image](https://user-images.githubusercontent.com/6726799/130325502-26e0041

[2021-08-21 14:51] sgon00 commented on #131315
@gjsjohnmurray Thanks a lot for the quick reply. It's similar. But I won't say the same. Because that bug reporter explicitly mentions the problem happend when typing something near the end of document, and that document has an image inside. But for me, the problem happens when I type anywhere in the document and the document does NOT need to have an image.
If you plan to mark this bug duplicated,

[2021-08-21 14:53] driesvints opened #131319 "Automatically hide terminal panel when a file in the explorer is clicked"
At the moment I'm using my panels maximized always with `"workbench.panel.opensMaximized": "always",` in my settings because I'd like to use my Terminal at full height all the time.

I'm using the following keyboard shortcut to toggle the terminal window:

[code]

The problem now exists that if I click a file in the explorer, the terminal doesn't go away but actually resizes only a bit or half-scr

[2021-08-21 15:32] nuwanchamp commented on #34385
worked for my manjaro

[2021-08-21 16:04] jlhuerfanor opened #131320 "Node.js requires NODE_MODULE_VERSION 89"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.59.1
- OS Version: Manjaro Linux; Build ID: rolling

Steps to Reproduce:

1. Have Node.js v16.6.2 installed
2. Install Extension
3. Plug an arduino
4. Set port in arduino.json
5. Try to open Serial Monitor
![Screenshot from 2021-08-21 11-03-54](https://user-images.githubusercontent.com/4442123/130327883-ddd42115-8a6

[2021-08-21 16:27] NorthboundTrain opened #131322 "Perl syntax highlighting issue - s{foo}{bar} if $baz;"
Issue Type: <b>Bug</b>

Perl's regex operators can use any pair of matching characters as delimiters (see https://perldoc.perl.org/perlop#Regexp-Quote-Like-Operators). When using a bracketing character as the delimiter, e.g. `({[`, then the matching closing bracket can be used to close the operator, e.g. `m<foo>` or `s{foo}{bar}`. The bug only occurs when using the substitution operator (`s///`),

[2021-08-21 16:38] gjsjohnmurray commented on #131320
/causedByExtension

[2021-08-21 16:39] #131320 closed

[2021-08-21 17:18] ManmeetSingh1203 opened #131324 "Code Running problem in C++"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-08-21 17:19] #131324 closed

[2021-08-21 17:25] ManmeetSingh1203 opened #131325 "Code Running problem in C++"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Performance Issue</b>

when i worked on the c++ file to complete my  college work . in last when i run the code they do not take the values.
for eg:- when i take any input from the user they don't take any input.

[2021-08-21 17:28] iBhavesh commented on #131306
I am facing the same issue

[2021-08-21 17:31] gjsjohnmurray commented on #131325
/question

[2021-08-21 17:31] #131325 closed

[2021-08-21 18:01] AiverReaver commented on #129118
@aeschli  any suggestions for the PR?

[2021-08-21 18:08] ithinkandicode commented on #129199
I think we're best keeping the focus on VS Code, rather than individual extensions.

As @misolori said, there's an active proposal for a non-intrusive approach:

But if extension developers still want to show intrusive notices, then @karai17 's proposal in the title of this issue is a good one.

Personally, I don't want more notifications in my code editor, but I especially don't want extensions t

[2021-08-21 18:12] mhsattarian commented on #129268
I tried, and with all extensions disabled it didn't happen.

[2021-08-21 18:23] liby opened #131326 "HoverProvider appears in the wrong position"
Issue Type: <b>Bug</b>

## Actual behavior

1. when using the rust-analyzer plug-in, it will prompt the error code, the pointer hovering over the wrong code
2. The hover box appears in the wrong position and does not appear near the pointer

## Expected behavior

- Appear near the pointer

The detailed recording screen can be seen in this [issue](https://github.com/rust-analyzer/rust-analyzer/issu

[2021-08-21 18:25] sam-dehority commented on #125993
@c0ppelius thismethod also worked for me, under the variation

`snap remove --purge code && rm -r ~/.config/Code`

OS: Ubuntu 21.04
Code: 1.59.1

[2021-08-21 18:29] HolyBlackCat commented on #128461
Found a workaround. It can be fixed by adding following to `workbench.desktop.main.css`:
[code]
It can either be done manually, with an extension, or with a [tiny shell script](https://gist.github.com/HolyBlackCat/549f686857a3519fb14b59ea5b0cfbf2) that I just made.

[2021-08-21 19:07] ranefattesingh opened #131327 "Sync Setting Issue when attempting to sync setting with github with account which is not logged in"
Steps to reproduce
1. Ensure that you are not logged in with your Github account on your default browser
2. Open VSCode
3. Click on Accounts icon
4. Select Signin to Sync Settings option
5. Select Signin with Github account
6. You'll see your default browser opened with Github login page
7.  Login into your Github account
8. You will notice that settings are not getting sync instead you get error

[2021-08-21 19:19] BEEDELLROKEJULIANLOCKHART commented on #10759
http://github.com/microsoft/vscode/issues/10759#issuecomment-903125453, I am believing that [bothering to convert the installer to MSI instead of MSIX is foolish](http://github.com/microsoft/vscode/issues/10759#issuecomment-902815973).

[2021-08-21 19:39] almohress opened #131328 "python is installed but not activated"
Issue Type: <b>Bug</b>

when I update vscode to latest version today, it asks to update python, jupyter and pylance to latest version, but after updating, none of them is working.
when i hit F5 for debugging my project it says:
``` couldn't find a debug adapter descriptor for debug type 'python' (extension might have failed to activate)```

VS Code version: Code 1.59.1 (3866c3553be8b268c8a7f8c0482

[2021-08-21 19:41] fulldecent commented on #131095
Awesome, thank you!

[2021-08-21 20:01] gjsjohnmurray commented on #131326
_Originally posted by @Veykril in https://github.com/rust-analyzer/rust-analyzer/issues/9974#issuecomment-903142860_

@Veykril it may help the VS Code devs understand this issue if you are able to post the JSON of the `Diagnostic` object(s) that Rust Analyzer will be returning in the example given by @liby

[2021-08-21 20:05] kzvi opened #131329 "Feature request: Allow customizing KaTeX options for Markdown preview"
It would be useful to be able to customize [KaTeX's options](https://katex.org/docs/options.html) for the markdown preview such as `macros` (custom LaTeX math macros) and `fleqn` (left-aligned display equations).

[2021-08-21 20:22] refaee94 opened #131330 "powershell isnt responding"
Issue Type: <b>Bug</b>

powershell isnt responding when i start VS code and i cannot type anything

VS Code version: Code 1.59.1 (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-19T11:56:46.957Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-10510U CPU @ 1.80GHz (8 x 2304)|
|GPU Status|2d_can

[2021-08-21 20:38] kzvi opened #131331 "Typing a less than sign inside a math block also inserts a greater than sign"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.60.0-insider
- OS Version: macOS 11

Steps to Reproduce:

1. Open a markdown document.
2. Create a math formula by putting some text in between dollar signs.
3. Place the cursor inside the math formula and type a less than sign (`<`).
4. Observe that a matching `>` has been inserted.

[2021-08-21 20:59] mrx23dot opened #131332 "[FR] Double clicking tab -> maximise view"
Issue Type: <b>Feature Request</b>

Based on Eclipse, when we **double click a file tab**, we could hide

- side panels
- bottom console

To focus on one file. (but not zen mode, maybe optionally)

VS Code version: Code 1.52.1 (ea3859d4ba2f3e577a159bc91e3074c5d85c0523, 2020-12-16T16:34:46.910Z)
OS version: Windows_NT x64 6.1.7601

[2021-08-21 21:07] ephf opened #131333 "JavaScript Syntax Highlighter Broke"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.59.1
- OS Version: Windows_NT x64 10.0.19043

Steps to Reproduce:

1. Make a JavaScript File
2. type in: `for (const req of /require *\( *["'`](.+?)["'`] *\)/.exec(fileCode).slice(1)) {}`
3. some things in the brakets will be highlighted incorrectly

![image](https://user-images.githubusercontent.com/76856042/130

[2021-08-21 21:37] Box-Of-Hats commented on #130388
I've just had the same thing happen. I'm on Windows 10 and I just found that it had suddenly vanished, despite the fact that I was using it yesterday.

OS: Windows 10 Pro (21H1) 19043.1165
VSCode Version: 1.59.1 (Latest)

[2021-08-21 21:37] GeoffreModcoreModco opened #131334 "Nigger"
Issue Type: <b>Feature Request</b>

https://www.instagram.com/

https://www.facebook.com/

VS Code version: Code 1.59.1 (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-19T11:56:46.957Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

[2021-08-21 21:46] marko-asplund commented on #106879
I'm also experiencing crashes on macOS with Google Drive mounted files #130568.

[2021-08-21 22:03] Wonderer0 opened #131335 "Scala Intellisense stops working if there is a match statement in the code somewhere below the line being entered"
Issue Type: <b>Bug</b>

Scala Intellisense stops working if there is a `match` statement in the code somewhere below the line being entered, unless it is immediately followed by a `val` or `var` declaration.  This can be shown by the following experiment.

Type in code the code below in 4 stages, after each stage try typing `msg.` to see if Intellisense is still working, then delete `msg.`

1. Whe

[2021-08-21 22:55] VickyKR37 commented on #130388
I read elsewhere that that can happen if it's updating and gets shut down. When I reinstalled it all my code was still there so it was fine! And updated!

[2021-08-21 22:58] leodevbro commented on #125341
@alexdima, any ideas why Blockman not available in VS Code Web?

![image](https://user-images.githubusercontent.com/54504880/130336720-6a4b9543-4537-48ff-bf87-c6b683b3909a.png)

I think it's because Blockman is using node to detect OS:

![image](https://user-images.githubusercontent.com/54504880/130336766-a5890bcf-57d6-4630-b5f3-dffa0633aba2.png)

So, maybe it is not working in web version of vsco

[2021-08-21 23:26] weinand commented on #131311
The [Code Runner](https://github.com/formulahendry/vscode-code-runner) extension does exactly what you are trying to do. Please read the source to learn how to do this.

[2021-08-21 23:26] #131311 closed

[2021-08-21 23:27] weinand commented on #131328
/extPython

[2021-08-21 23:28] #131328 closed

[2021-08-22 00:58] #125130 closed

[2021-08-22 00:59] rebornix commented on #130295
@joyceerhl can you help take a look?

[2021-08-22 01:04] rebornix commented on #127213
I'll move it to Sept Milestone and close it if @Bebotron confirms it works after we ship Stable. Thank you both for helping out.

[2021-08-22 01:18] IllusionMH commented on #131335
/causedByExtension

Scala functionality provided by extension and looks like it's problem with language service rather than VS Code editor itself.

Please report in corresponding extension repo

[2021-08-22 01:19] #131335 closed

[2021-08-22 01:43] rebornix commented on #128549
Since currently we couldn't figure out the difference from the dropdown of notebook toolbar or the gear icon on the editor titlebar, I took the advice from @Tyriar: using different action ids for the actions contributed to the editor titlebar.

To test this, please check if you get different telemetry events when running Customize Notebook Layout or Toggle Breakcrumbs, etc actions from these two d

[2021-08-22 02:19] QuYue opened #131336 "Can not remote-ssh by VS code when Oh-my-posh is installed on powershell"
Issue Type: <b>Bug</b>

When I intsall Oh-my-posh (v3) on my powershell in my computer. The other computer can not remote this computer by remote-ssh function in Vscode. It will stop in "initial Vs code server" process.

VS Code version: Code 1.59.1 (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-19T11:56:46.957Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

[2021-08-22 03:08] Mehtar21 opened #131337 "the text in tree ''' doesn't hide in def"
![image](https://user-images.githubusercontent.com/89327929/130340527-b8f60a0c-94e5-4a8a-97da-a8931d104c58.png)

when I hide the def , the text doesn't hide. in here i tried with tab and move text to right but then it had 4 spaces when it was sent.

[2021-08-22 03:32] heartacker opened #131338 "can not using sogou IME to type Chinese word in terminal"
Does this issue occur when all extensions are disabled?: Yes

版本: 1.60.0-insider (system setup)
提交: 89bbd372f459ce72e9c0b60eb3b26b924f64f62d
日期: 2021-08-20T17:51:50.560Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.14393
Steps to Reproduce:

1. new terminal
2. using sogou ime

1. `v1.60.0-insider` broken

2.  `v1.59.1-stable` work well
!

[2021-08-22 03:34] heartacker commented on #131338
same as `xunfei IME`
but `MS IME` is work well at both version
![image](https://user-images.githubusercontent.com/1876302/130341097-1637f34d-a301-4211-af32-c30536465d62.png)

[2021-08-22 03:35] DonJayamanne opened #131339 "All table cells in HTML output of notebooks are right aligned even for non-jupyter notebooks"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: Insiders
- OS Version: Mac

Steps to Reproduce:

1. Create jupyter notebook with the following cell:
[code]
2. Run the cell and observe the output.

Note: this applies to all notebooks (Jupyter doesn't inject any sytyles). I've tested this with another non-jupyter notebook and found this same problem.

**Note: I ha

[2021-08-22 03:44] magicsunny commented on #129379
Yep, thanks for your help, it really helps.
Sorry for replying late.

[2021-08-22 03:59] dannymcgee commented on #50140
That number literally includes _every bug ever filed_ against it. That repo is 5 years old. Filter by `label:bug -label:duplicate` and you get 87 actual bugs, 86 of which are closed. Less than 20 bugs per year on a grammar for a language that's under active development is really not the nightmare scenario you're making it out to be.

[2021-08-22 04:15] gjsjohnmurray commented on #131337
What programming language are you coding in?

It looks like VS Code is using its default indent-based folding.

[2021-08-22 04:45] fcurts commented on #50140
I'm not sure "label:bug" is a reliable indicator. On the first issues page, only a single issue is marked with this label, yet almost every issue reports a highlighting bug.

Regardless, anyone who cares about correct syntax highlighting and has maintained a complex TM grammar (I have) will tell you that it's a nightmare and impossible to get right.

[2021-08-22 04:53] RobbyCBennett opened #131340 "Terminal.show(true) does not preserve focus"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.59 (Also tested on latest insiders build 1.60)
- OS Version: Windows 10 Home (21H1)

I encountered this while making an extension for sending commands to the terminal. When the terminal is showing, preserveFocus works. However, when it is hidden or not running, preserveFocus doesn't work. It focuses on the terminal

[2021-08-22 04:54] Mehtar21 commented on #131337
I'm using python.
nearly all my VS Code is on its default.

[2021-08-22 05:05] gjsjohnmurray commented on #131332
/duplicate of #16927

[2021-08-22 05:05] #131332 closed

[2021-08-22 05:06] gjsjohnmurray commented on #131337
Did you install any Python language extensions?

[2021-08-22 05:11] flyingangel commented on #113175
One reason of this problem is that the horizontal position of the context menu is too close to the mouse position. So when we release the right button of the mouse, it accidently clicks the items.

The problem often occurs when the **menu touch the bottom of the screen** and the position (x-axis) calculation is not correction

[2021-08-22 05:19] xtofs opened #131341 "multi cursor editing render bug"
Issue Type: <b>Bug</b>

a multi-cursor where the cursor on one line is to the right of an "u" is not rendering the cursors vertically aligned. See attached screen capture.

VS Code version: Code 1.59.1 (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-19T11:53:52.479Z)
OS version: Darwin x64 20.6.0
Restricted Mode: No

https://user-images.githubusercontent.com/10557127/130343381-22ca6de1-6225-4e3

[2021-08-22 05:24] DonJayamanne opened #131342 "Format cell context menu item does nothing in notebooks"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: Insiders
- OS Version: Mac

Steps to Reproduce:

1. Create a Jupyter notebook (or other)
2. Add a cell (typescript/javascript)
3. Right click on the cell & select `Format Cell`, note how nothing happens.
4. Select the context menu item `Format Notebook` and note how the cells are formatted.

[2021-08-22 06:29] lonix1 opened #131343 "[Bugs] Issues in new json settings editor"
## Environment

Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.59.1
- OS Version: ubuntu 20.04

## Bug 1: nodes do not maintain collapsed/expanded state
1. open json settings
2. collapse or expand some nodes
3. go to other tab
4. go back to json tab - all nodes are expanded

It is inconvenient spending time finding a setting, switching away to refer to something

[2021-08-22 07:03] DonJayamanne opened #131344 "Make the api showNotebookDocument stable"
Steps to Reproduce:

1. Currently this is proposed
2. As an extension author I cannot create untitled notebooks, the above mentioned API is required.

[2021-08-22 07:24] erhhung commented on #131148
Here are some more data points about the issue—my original steps to reproduce isn't quite accurate:

1. I first noticed the issue recently because I normally use VSCode as part of Git's "difftool", using this simple setup in my `.gitconfig`:
[code]
2. So I would normally just run `git dt` to review changes before committing, but the command no longer shows diff contents when the new window appears

[2021-08-22 07:38] Bebotron commented on #127213
Will keep and eye out and update! Thanks!

[2021-08-22 08:17] usernamehw opened #131345 "Default settings deprecation warning with `\n` breaks the json"
1. Install https://marketplace.visualstudio.com/items?itemName=usernamehw.errorlens
2. Open default json settings editor `workbench.action.openRawDefaultSettings`
3. Deprecation warning is shown as comment, but `\n` introduces errors:

![Screenshot (214)](https://user-images.githubusercontent.com/9638156/130347551-4e984a39-feae-478a-9e11-6ee828aaee2d.png)

https://github.com/usernamehw/vscode-erro

[2021-08-22 08:22] alexhass commented on #10759
Nope. Msi is the only installer I can deploy in enterprise via ad. Other installers are not supported for ad deployment. It is the defacto standard from microsoft.

Msix is a different techology that is very limitiong.

[2021-08-22 08:28] Xdminsy opened #131346 "Make outdated extension update prompt not count manually installed old version extensions in."
Say we can install a specific version of an extension, and an outdated update prompt shows a number badge.

So the problem here is, I just wanna lock an extension's version. I installed a specific old version extension, and I won't let it update, but now I have no way to tell vscode that it needs no update, vscode see it has a new version and always shows a badge numbered '1' on the sidebar, it's

[2021-08-22 08:40] wenfangdu opened #131347 "[FR] Wrap selected content with quotes in all files"
I noticed some files like `COMMIT_EDITMSG`, `.gitignore` etc. don't allow wrapping content with quotes:

![STG 2021-08-22 16_46_20](https://user-images.githubusercontent.com/28700378/130348494-0ffd52a0-d4e9-4ed4-9971-76365cc3c06b.gif)

While a plain `foo` file allows that:

![STG 2021-08-22 16_36_56](https://user-images.githubusercontent.com/28700378/130348111-c304d7ea-cbca-4d98-8705-7e7b2c4afe6f.

[2021-08-22 08:46] bpasero commented on #131148
I tried to reproduce just that and could not:

![recording](https://user-images.githubusercontent.com/900690/130348462-85afe267-2ff1-43d6-9752-73627dd244d3.gif)

Can you try with a fresh user data directory, passing `--user-data-dir <some empty folder>` to rule out any configuration issues?

[2021-08-22 08:52] maziac commented on #107467
Although this thread is closed, maybe someone can answer this:
I'm currently migrating to the vscode testing api and found an issue I don't know how to deal with.
Following situation:
In the runHandler I create a test run (run = controller.createTestRun(...))
Then later on I can run.started and after that I call the test case.

Now I tested following situation:
Inside the test case I created an in

[2021-08-22 08:53] bpasero commented on #130549
I documented this in https://github.com/microsoft/vscode-docs/commit/9362287ef15abf5696dcef8ae8d98801eb302d53 but think we cannot just change this given people already use it.

[2021-08-22 08:53] #130549 closed

[2021-08-22 09:13] yfdyh000 opened #131348 "Issue reporter should appear in taskbar and Alt+Tab"
Issue Type: <b>Bug</b>

1. "use 'Report Issue' from the 'Help' menu in VS Code"
2. If I activate other windows in maximized after opening it, I can't back to the reporter window, unless to minimize or close all newer windows, otherwise it is invisible.

VS Code version: Code 1.59.1 (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-19T11:56:46.957Z)
OS version: Windows_NT x64 10.0.19043
Restricted

[2021-08-22 09:25] yfdyh000 opened #131349 "Issue reporter did not clarify its actions in advance"
Issue Type: <b>Feature Request</b>

Steps to reproduce:
1. Use 'Help: Start Extension Bisect', does to gets a result.
Issues:
1. This window only provides a cerate button, does not clarify it will create an issue to the resulting extension's Issue on Github.

Steps to reproduce:
2. Fill in the necessary information in the issue reporter window.
Issues:
2. It does not clarify which Github account w

[2021-08-22 09:25] wenfangdu opened #131350 "[Bug] "Copy Command Title" doesn't have a command ID"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: v1.60.0-insider
- OS Version: Windows 10

Steps to Reproduce:

1. Search "Copy Command Title" in the Keyboard Shortcuts editor.
2. No result shows up.

Since other menu items for a single command all have an associated command ID, it would be inconsistent to leave "Copy Command Title" out:

![image](https://user-image

[2021-08-22 09:49] wenfangdu opened #131351 "[FR] Filter commands by source"
When looking for commands, it'll be great to be able to filter them by source, that'll be a time-saver:

![image](https://user-images.githubusercontent.com/28700378/130350506-3fa7b4b8-d38e-456a-b58a-f42521c6309a.png)

[2021-08-22 09:57] filiphsandstrom commented on #10759
In other words this issue is now partly resolved.

[2021-08-22 10:08] SANG714 opened #131352 "Unable to open file directly"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Performance Issue</b>

The issue started right after installing the app. The 'open with' option is not available on any folder and thus I am not able to open any folder directly on VS code.  Also I am not able to open the writeup present on the VS code using extensions(currently I am

[2021-08-22 10:10] aajaj4729 opened #131353 "an error occurred while trying to rename a file destination directory"

[2021-08-22 10:17] mrx23dot commented on #131332
Sorry for the duplicate, neither VS bug report window, nor bot here showed a another existing one.
Cheers

[2021-08-22 10:17] aajaj4729 commented on #131353
![Screenshot (186)](https://user-images.githubusercontent.com/74093811/130351588-cc500ca3-e7ef-4dee-a231-0885342a0dc8.png)

[2021-08-22 10:35] haneenmahd opened #131354 "Very slow on windows 11 Insider Build"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: July 2021 1.59
- OS Version: Windows 11

Steps to Reproduce:

1. open the `vscode` app on a Windows 11 Insider Build running computer

[2021-08-22 10:46] haneenmahd commented on #131354
I guess this is a problem with Electron and Chromium running in the background

[2021-08-22 10:46] rasyidf commented on #131334
this is spam, right?

[2021-08-22 11:12] matereyes00 commented on #130769
Update: I was able to fix this by uninstalling and removing a few extensions that were clashing with my settings.

[2021-08-22 11:13] AnneMayor commented on #129840
Did you try to type the command below and see what happen?
`git remote rm origin`
`git remote add origin git@github.com:<your remote repo path>`

For me, I have the similar issue with yours.

Validating found git in: /usr/local/bin/git
Using git 2.30.0 from /usr/local/bin/git

Open repository: /Users/dahyeannelee/algorithmstudy

git@github.com: Permission denied (publickey).
fatal: Could not read

[2021-08-22 11:24] #123565 closed

[2021-08-22 11:54] hi-ogawa commented on #122003
Hi everyone, I made a PR to address this issue.
I explained it in the PR comment, but what I found is that `tabindex` attribute is only enabled for the first activity bar item, which is the "file explorer" tab. Note that "tabindex" is necessary for `li` tag (which is used for activity bar item) to have the ability of `:focus` selector to match and correct styling.
Please let me know if the PR prop

[2021-08-22 12:08] yujie1219 commented on #130159
Actually the setting sync in settings is turned off, I already install the insider build without any extension but the same result. I have reinstalled the system and the issue has gone.

[2021-08-22 12:08] #130159 closed

[2021-08-22 12:18] pyokoNyan commented on #130462
@sandy081 sorry am not able to support you with a screenshot since i've resolved it by **reinstall it with older version and update it to the newest one**.

I'll close this issue anyway :)

[2021-08-22 12:18] #130462 closed

[2021-08-22 12:29] gjsjohnmurray commented on #131332
No problem. Duplicates aren't always easy to find.

[2021-08-22 12:32] gjsjohnmurray commented on #131353
Are you using an antivirus app? Maybe it is interfering with installation.

[2021-08-22 12:36] gjsjohnmurray commented on #131352
Is this in your Linux file / folder explorer?

Are you able to start VS Code and then use Open Folder from its File menu?

[2021-08-22 12:40] Tyriar opened #131357 "Unexpected selection behavior after renaming"
Repro:

1. Have a function, select a part in the middle
2. Press F2, the selection is carried over to the rename box which is great
3. Change it, press enter

The resulting selection seems random but should be something more deterministic. Not sure what is right but something like whatever was replaced, the full symbol, cursor at the end of the symbol, etc.

![recording (71)](https://user-images.g

[2021-08-22 12:44] gjsjohnmurray commented on #131348
/duplicate of #130497

[2021-08-22 12:44] #131348 closed

[2021-08-22 13:25] tymsai commented on #131312
thanks :-)
But is there any way to pop it from right side by default

[2021-08-22 13:52] usernamehw commented on #131351
It supports showing by default/user/extension source: `@source:user`. Feature request to show which extension contributed the keybinding: #121673

[2021-08-22 14:07] zeshanb opened #131358 "while in terminal ctrl c does not return to a new line"
Issue Type: <b>Bug</b>

After running command:

cordova build browser

ctrl+c ,or in this case on a Mac using a PC keyboard, the windows key + c, doesn't end the process and move to the next line for more command input. User is required to close the existing terminal window when not required and open a new terminal window.

VS Code version: Code 1.59.1 (Universal) (3866c3553be8b268c8a7f8c0482c0c01

[2021-08-22 14:18] MerwaneHAMADI commented on #131056
@connor4312 I have another question related to the same problem.
I have 20 sourceMapPathOverrides to define, but the rule is always the same :
Rule :
"/plugin:$nameOfPlugin/src/plugins/toSnakeCase($nameOfPlugin)/*":"${workspaceFolder}/src/plugins/toSnakeCase($nameOfPlugin)/*",

Example :
"/plugin:apmOss/src/plugins/amp_oss/*": "${workspaceFolder}/src/plugins/apm_oss/*",

is there a way to do this

[2021-08-22 14:26] connor4312 commented on #107467
The approach we've taken with the API is to let test extensions handle configuration themselves, since in most cases test frameworks are already configured with external test files and we don't want to duplicate things or have multiple points-of-truth.

If this isn't the case for yours, you're welcome to have a custom configuration file or just workspaceStorage, which you could consider using in c

[2021-08-22 14:36] ravidbro commented on #20224
+1

[2021-08-22 15:40] ViperBling opened #131359 "Can't find extension st"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:1.59.1
- OS Version:Windows 10 21H1

Steps to Reproduce:

can't find extension setting in setting panel
![无标题](https://user-images.githubusercontent.com/17715149/130361234-8b551981-8e12-4ed1-ba0b-49ec53180b37.png)

[2021-08-22 17:32] liby commented on #131326
@gjsjohnmurray

Based on what Veykril has described [here](https://github.com/rust-analyzer/rust-analyzer/issues/9974#issuecomment-903301859), I got the following information and I don't know if it can help.

<details>
<summary>Received notification 'textDocument/publishDiagnostics'</summary>

[code]
</details>

[2021-08-22 18:02] anishmittal2020 opened #131360 "Vscode does not display right colours from the theme"
Does this issue occur when all extensions are disabled?: Yes/No
Yes

- VS Code Version:1.57.1
Commit: 507ce72a4466fbb27b715c3722558bb15afa9f48
Date: 2021-06-18T00:13:37.935Z
Electron: 12.0.7
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Linux x64 5.4.0-81-generic
OS Version: Ubuntu 20.04.2

Steps to Reproduce:

1. Use Solarized Light Theme: Open Developer: Inspect Editor Tok

[2021-08-22 18:16] oscard0m commented on #121577
Not happening to me anymore (a few VSCode Insiders version above). I think we can close this issue @kentcdodds ?

[code]

[2021-08-22 18:29] HezzyBear opened #131361 "How to remove the Visual Studio Code Terminal window file path output"
Issue Type: <b>Feature Request</b>

How do you remove the file path from the terminal window?

PS C:\Users\MyProDesk> cd c:/Users/MyProDesk/PycharmProjects/SpaceGame
PS C:\Users\MyProDesk\PycharmProjects\SpaceGame> & C:/Users/MyProDesk/AppData/Local/Programs/Python/Python39/python.exe c:/Users/MyProDesk/PycharmProjects/SpaceGame/space_game.py
pygame 2.0.1 (SDL 2.0.14, Python 3.9.1)
Hello from the

[2021-08-22 18:37] Gregoor opened #131362 "Execute "default:*" command for non-"type" commands"
Wo we can currently do

[code]

but that does not seem to work for other commands. e.g. for `default:deleteLeft` I am getting `command X not found`. My use case is that I am working on an extension which would enrich certain actions, but fallback onto VSCode's actions if it can't do anything more useful.

[2021-08-22 18:55] kentcdodds commented on #121577
Yup, I found the plugin that's causing this issue for me: https://github.com/michaelgmcd/vscode-language-babel

I'll open an issue there.

[2021-08-22 18:57] #121577 closed

[2021-08-22 19:31] SSmale commented on #40239
I code in Java and Vue js at work and Angular, Nestjs, Vue and Java at home. Being able to have a 'Java' extension profile that I can choose when I start a new project would be great

[2021-08-22 19:52] avdi opened #131363 ".env in project root ignored when using docker-compose from devcontainer"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.59.1
- OS Version: Windows 10 Pro 21H1
- Starting a devcontainer from project in WSL

The [devcontainer.json docs](https://code.visualstudio.com/docs/remote/devcontainerjson-reference) state:

However, in recent versions the `.env` file is only picked up if it is in the `.devcontainer` subdirectory

Steps to Repr

[2021-08-22 20:06] Abd-ur-Rahman03829 opened #131364 "image not recognized"
Whenever I created a project in HTML and CSS, the images that I used in my project, not recognized by the browser in Chrome.
I don,t know why it happens.
It has happened since the last weak till now

[2021-08-22 20:14] ImRodry opened #131365 "Semantic highlighting breaks in the working tree view"
Issue Type: <b>Bug</b>

When making changes in a GitHub repository folder, going into Source Control and clicking one of the changes files, the working tree view is opened and you can see that the left side of this view does not have proper semantic highlighting, whereas the right side does.

VS Code version: Code 1.59.1 (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-19T11:56:46.957Z)
OS versi

[2021-08-22 20:20] altjx opened #131366 "VS Code keeps re-ordering my "last in-focus" window"
If I have 2 windows opened, let's call them Window 1 and Window 2, and let's say I have Window 1 currently in focus. If I alt+tab to another application outside of VS Code, and then alt+tab to get back to VS code, for some reason Window 2 comes in focus. I can visually see Window 1 for a split second, and then Window 2 comes in focus.

It's almost like it doesn't remember which window was in focus

[2021-08-22 20:38] #125868 closed

[2021-08-22 20:45] alandema opened #131367 "Show dicts and other types properly"
One of the biggest features of Spyder, is that the Variable explorer can show correctly various types of Python and is able to keep opening then when they are nested.

[code]

![image](https://user-images.githubusercontent.com/68517641/130369485-f61a676e-7e40-4070-9b82-1f6147ef2d5b.png)
![image](https://user-images.githubusercontent.com/68517641/130369523-e50dbd33-0263-4db9-b977-371774d7a1c1.png)

[2021-08-22 21:05] 429IhD0 commented on #127898
Would it be possible to add a command for toggling "Search Only in Open Editors"?
Currently we have toggle commands for toggleSearchRegex, toggleSearchCaseSensitive, toggleSearchWholeWord, etc, but not for "Search Only in Open Editors", even though it has a button in the search interface just like the others.

[2021-08-22 22:41] MR-747 opened #131368 "Serious right now -_- ?"
Issue Type: <b>Bug</b>

NICE ONE ;)

VS Code version: Code 1.59.1 (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-19T11:56:46.957Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 7 5700U with Radeon Graphics          (16 x 1797)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>multiple_ras

[2021-08-22 22:41] MR-747 commented on #131368
No Comment lol ;)

[2021-08-22 22:42] wenfangdu commented on #131351
@usernamehw Thanks, but this design is quite hard to find, and typing `@source` doesn't trigger suggestions.

[2021-08-22 23:10] weinand commented on #131367
/extPython

[2021-08-22 23:11] #131367 closed

[2021-08-22 23:22] spectrapulse commented on #84120
This reminds me of the Multi-Window feature request which has met almost the same fate as this feature request.

Starts out backlogged and then gets ignored for years to probably just like this one end with "out-of-scope"

It's quite upsetting to see feature requests being handled like these.

[2021-08-22 23:45] dparkar commented on #129072
Facing the same issue. Looks like this issue has happened quite a few time in the past.

[2021-08-23 00:10] roblourens commented on #131343
Sorry, it's not clear which nodes you are talking about since you said "open json settings", maybe you can include a screenshot just to make sure I understand. Are you looking at the GUI editor?

![image](https://user-images.githubusercontent.com/323878/130374595-e671fb10-0910-484c-b17f-d616706adc55.png)

[2021-08-23 01:25] qiutian00 commented on #131303
Used it yestoday after updated the version, the problem not remains, thanks a lot.

[2021-08-23 01:25] #131303 closed

[2021-08-23 01:31] davidanthoff opened #131369 "Jupyter notebooks don't pick up kernel changes in file"
Here is how to reproduce:
1. Create a new notebook file in Jupyter Lab, select Julia 1.6.2 kernel, save it.
2. Open it in VS Code, run some code etc. then close in VS Code.
3. Open the file in Jupyter Lab again, _change_ the kernel in Jupyter Lab and save the notebook file.
4. Open the file in VS Code again. It now happily still defaults to the kernel that it used in step 2, i.e. it does not recog

[2021-08-23 01:52] MiloslavStekrt commented on #128979
Thanks for saving my life i just have this problem about 10 days and i must change distro to do it work. Thanks man...

[2021-08-23 01:52] davidanthoff opened #131370 "The kernel selection UI should not appear if only one notebook controller is marked as preferred"
The following scenario:
1. I create a new Jupyter Notebook in Jupyter Lab and select the Julia 1.6.2 kernel, save the file.
2. I open the same file in VS Code. I only have the Julia extension installed, and the Julia extension registers two notebook controllers with VS Code: one for Julia 1.6.2 and one for Julia 1.5.4.
3. Currently VS Code now prompts me to select a kernel, but I think that UI pro

[2021-08-23 01:55] haneenmahd commented on #131354
Or Maybe Windows Programs

[2021-08-23 02:00] davidanthoff commented on #130863
/verified

Yes, that fixes it, I just tried. Thanks a lot!

[2021-08-23 02:09] kkkyy02D opened #131371 "les fichiers html sont reconnus comme des fiichiers texte"
Issue Type: <b>Feature Request</b>

Quand je crée un fichier html, il n'est plus reconnu comme un fichier html
l'image a gauche du nom du fichier reste l'image d'un fichier texte et du coup il n'est plus reconnu comme un fichier html malgré l'extension  '.html' quand j'ouvre le fichier et je tape '!' il ne le remplis plus avec du code html, il le considère désormais  comme un fichier texte, j'ai d

[2021-08-23 02:17] hypnos-t-sang opened #131372 "dictionary"
Issue Type: <b>Bug</b>

I cat't evork Dictionary when editing on MacOS

VS Code version: Code 1.59.1 (Universal) (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-19T11:53:52.479Z)
OS version: Darwin x64 20.6.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4288U CPU @ 2.60GHz (4 x 2600)|
|GPU Status|2d_canvas: enabled<br>gpu_compo

[2021-08-23 02:17] lonix1 commented on #131343
Not the GUI editor but rather the new *text-based editor*:
- <kbd>ctrl + ,</kbd> to open user settings
- or `.vscode/settings.json` to open workspace settings

[2021-08-23 02:24] DonJayamanne commented on #131200
I tend to collapse a lot of the cells when running some training. I end up tweeking just one or two cells, and the rest remain un-changed, hence they are all collapsed (as some have outputs as well).
this would be very very useful as I tend to expand cells or look at the execution order to ensure the cells ran (e.g. if i have 23 cells, i check the last cell thats uncollapsed and confirm it has an

[2021-08-23 02:31] #126949 closed

[2021-08-23 02:31] #126830 closed

[2021-08-23 02:31] #126724 closed

[2021-08-23 02:31] #126723 closed

[2021-08-23 02:49] #131162 closed

[2021-08-23 04:12] Raydir commented on #131246
@IllusionMH
ahm.. why should one want vscode to override the definied Colors within an extension by default?
should your option "editor.bracketPairColorization.enabled" not be passiv by default?

[2021-08-23 04:13] #131373 closed

[2021-08-23 05:01] DonJayamanne opened #131375 "Notebook cell outputs displayed even when a cell is collapsed"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:
- OS Version:

Steps to Reproduce:

1. Create a jupyter notebook
2. Add a cell as follows:

[code]
2. run the cell, and collapse both, input and output
3. Now the cell again, and confirm the output is hidden
4. Now click on the `+` icon in the top notebook toolbar to add a new cell
Watch out the output is displayed

[2021-08-23 05:24] jdneo opened #131376 "Expose the selected file's uri from the file explorer"
When I tried to adopt the contribution point `file/newFile` to customize the creating file action, I found that it's difficult for the extension to generate files at the correct place. If extension can get the selected file's uri from the file explorer, then it can behave just like the `New File` action in the file explorer title.

[2021-08-23 05:41] AleKrabbe commented on #100427
Any updates on this? I'm facing the same issue.

[2021-08-23 06:17] hediet commented on #131246
We enabled it temporarily for Insiders to get early feedback before we turn the feature off by default and roll it out to stable.

[2021-08-23 06:24] amitlevy21 commented on #130856
I downgraded the Linux kernel to version `5.8.0-63-generic` and everything working fine now.
When using kernel version `5.11.0-25-generic`, I would also get the same behavior for google chrome, but not with firefox.
Same issues for `5.11.0-27-generic`

[2021-08-23 06:25] #131246 closed

[2021-08-23 06:26] Raydir commented on #131246
fine by me, thanx for the responses.

To be clear:
Me for myself  I do like the feature... i just got several persons "behind" me, that are using my highlighting and those will be questioning me directly ;)

[2021-08-23 06:31] DonJayamanne commented on #131373
@roblourens did we add a new metadata into the cell to indicate whether its paused.
I personally think its even simpler for Jupyter extension to not display the times at all.
For instance if the timer is ticking over and we send a command to stop it, it will take a few milli-seconds for that to stop, hence its already inaccurate.

Was looking into this as I too have a debug experience for a person

[2021-08-23 07:00] vpeopleonatank commented on #34385
After disabling some running docker container, my issue is solved.

[2021-08-23 07:04] AMSolin commented on #131249
@awhlmycn, modifying attribute `files.restoreUndoStack` didnt help me, i've got same issue.

[2021-08-23 07:04] alexdima commented on #131341
@xtofs What is the exact content on the lines which do not align?

[2021-08-23 07:05] Glitchy-Tozier opened #131377 "cargo: command not found"
- VS Code Version: VS Code: 1.57.1,  VS Codium: 1.59.0
- OS Version: Linux Mint 20.2 Cinnamon

### Steps to Reproduce:

1. I installed pypy3 and Rust (`curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh`).
2. Neither "pypy3", nor "cargo" work in the integrated terminal, while they work perfectly fine in the regular terminal. ("`cargo test`", for example.)
3. Disabling all extensions (a

[2021-08-23 07:09] alexdima commented on #131129
There is already a command called "Select To Bracket" that does this, but there is no mouse gesture for this.

[2021-08-23 07:10] sandy081 opened #131378 "August 2021 Endgame"
- *August 23, 2021 5pm PT* Code freeze for the endgame
- *August 27, 2021* [Endgame done](https://github.com/Microsoft/vscode/wiki/Development-Process#inside-an-iteration)
- *September 1, 2021* Expected release date (this may change)

##### Monday
- [x] Run [OSS tool](https://github.com/microsoft/vscode-build-tools/tree/main/distro-tools) **endgame champion**
- [x] Update links in Endgame issue an

[2021-08-23 07:18] hediet commented on #131246
Btw. as a theme author, you can customize the colors used for colorizing bracket pairs!

[2021-08-23 07:23] Luckysam78 opened #131379 "My VS chnaged his settings from English to German. How can I change it back to english"
Issue Type: <b>Feature Request</b>

Hello,

after update the language changed to german, where do I find the option to change it back. I cannpt find it.

Best regards

Samuele

VS Code version: Code 1.59.1 (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-19T11:56:46.957Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

[2021-08-23 07:27] isidorn commented on #131305
Probably an extension issue, however first forwarding to @stuartleeks and feel free close as "caused by extension"

[2021-08-23 07:29] alexdima commented on #128573
@sevillal I am really sorry, but I am afraid you have ended up taking a dependency on a vscode bug. As it is right now, the `ms-toolsai.vscode-ai-remote` executes twice, once on the ui side and again on the workspace side. To clarify, running the same extension on two extension hosts at the same time has unforeseen consequences, like for example, commands are registered twice, views are registered

[2021-08-23 07:33] #131372 closed

[2021-08-23 07:33] #131368 closed

[2021-08-23 07:33] #131377 closed

[2021-08-23 07:36] Glitchy-Tozier commented on #131377
@isidorn I even mentioned that I **disabled all extensions**. Please at least take a proper look at my description.

[2021-08-23 07:47] wenfangdu opened #131380 "[Bug] Notification popup can't be hidden using Escape if an integrated terminal is focused"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: v1.60.0-insider
- OS Version: Windows 10

Steps to Reproduce:

1. Use `notifications.showList` command.
2. Focus integrated terminal.
3. Press <kbd>Escape</kbd>.
4. Notification popup is not hidden.

[2021-08-23 07:48] kevinwang89 opened #131381 "python debug console can not be changed from internal console to integrated console"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.59.1
- OS Version: win10 64

Steps to Reproduce:

1. create a lanuch configuration
[code]
2.  debug simple pytest example
[code]
3. debug started in debug console, not in integrated Terminal

[2021-08-23 07:49] alexdima commented on #131208
@sean-mcmanus Let me clarify what is going on on our side.

VS Code is not installing file watchers on the `package.json` files of extensions. So if you edit the `package.json` of an extension, there will be no "Extensions have been modified on disk. Please reload the window" popping up automatically. Such a notification would pop up at the next window reload under certain conditions (read below).

[2021-08-23 07:49] #131208 closed

[2021-08-23 07:50] akosyakov opened #131382 "[web] does not open on android in chromium based browsers"
Originally reported in Gitpod: https://github.com/gitpod-io/gitpod/issues/4537#issuecomment-903104166

[2021-08-23 07:54] aeschli commented on #125341
Documentation on how to write extensions for VS Code Web is in the works. Tracked in https://github.com/microsoft/vscode/issues/130628.

[2021-08-23 07:58] xMaxximum opened #131383 "Intellisense doesn't work anymore"
Issue Type: <b>Bug</b>

Intellisense simply stopped working after updating to the newest version and I don't know what's causing this since I didn't change any settings at all. Googling the problem and following the troubleshoot steps also didn't help

VS Code version: Code 1.59.1 (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-19T11:56:46.957Z)
OS version: Windows_NT x64 10.0.19043
Restricted

[2021-08-23 07:59] alexdima commented on #131362
@Gregoor It is unforeseen for an extension to overwrite `deleteLeft`. That is because `deleteLeft` does not need to be overwritten because it is dispatched using keybindings. So your extension can define a keybinding e.g.:
[code]
Then, from the implementation of `mySpecialDeleteLeft`, `deleteLeft` can be invoked if necessary.

The `type` command is a bit special, since it is not dispatched via key

[2021-08-23 07:59] #131362 closed

[2021-08-23 08:07] hpcdgrie opened #131384 "Trace/breakpoint trap (core dumped) when using code command in terminal"
Issue Type: <b>Bug</b>

I can start and use vs code and vs code insiders using the gui icons, but if i use the command line command code (code-insiders) with any parameters I always get the message "Trace/breakpoint trap (core dumped)" in the corespondig terminal and nothing else happens. This happens if I use it in a vs code terminal and in a normal bash terminal without an instance of vs code ru

[2021-08-23 08:07] jonapoul commented on #34385
Just managed to work around it (on Windows, at least). If you already have the extensions installed on another machine, go to `C:\Users\YOUR-USER\.vscode\extensions` and copy the directories of any extensions that you're having trouble with. For me it was [Pylance](https://marketplace.visualstudio.com/items?itemName=ms-python.vscode-pylance) and [Python](https://marketplace.visualstudio.com/items?

[2021-08-23 08:16] wenfangdu opened #131385 "[FR] Hide "Turn on Settings Sync" button"
I searched through the settings and didn't find an option to hide the "Turn on Settings Sync" button, for users that don't use "Settings Sync", this can be annoying:

![image](https://user-images.githubusercontent.com/28700378/130413888-3cae6cfd-b98f-4ce8-83e0-82e113a2b7ae.png)

[2021-08-23 08:23] VincentBel opened #131386 "Terminal editor always marks as dirty"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version:
[code]
- OS Version: macOS 11.4

### Steps to Reproduce:

1. Launch vscode with `code --disable-extensions`
2. Press `cmd+shift+p`, run `Terminal: Create Terminal in Editor Area`

<img width="640" src="https://user-images.githubusercontent.com/6076919/130412565-4ef2477e-c330-4c2c-b33e-752765e658d4.png" />

I'm using z

[2021-08-23 08:24] wenfangdu opened #131387 "[FR] Option to hide the settings editor Table of Contents at all time"
Currently, we can only hide the settings editor Table of Contents while searching by setting `workbench.settings.settingsSearchTocBehavior` to `hide`, for users that don't use it at all, it'd be great to have an option to hide it at all time to spare more space for the content:

![image](https://user-images.githubusercontent.com/28700378/130414863-592fecbe-07d7-4f2e-ada5-e3533d908e24.png)

[2021-08-23 08:28] cemde opened #131388 "Keep Call Stack closed while running"
VSCode keeps opening the Call Stack during debugging. This makes debugging multiple Apps simultationsly impossible.
For example, I am running `App A` while debugging `App B`. The Call Stack of `App A` keeps expanding everytime a new subprocess is launched or terminated. This makes debugging App B impossible because its call stack jumps up and down in the list.

Suggestion:
A functionality to keep

[2021-08-23 08:32] alexdima commented on #129483
@sytlq999 This error indicates that the VS Code window cannot open a connection to `127.0.0.1` (localhost), where the SSH extension has created a tunnel to the SSH machine. Is your computer configured to use proxies in any way?

[2021-08-23 08:33] alexdima commented on #130004
@JacksonKearl What did you end up doing here? (I don't see any linked commits)

[2021-08-23 08:33] igonro commented on #20652
This issue shouldn't be closed because the @jsaulou extension does not solve the original problem. Some filetypes as `.ipynb` and `.py` use the same language (Python), so it is not possible to assign different themes for `.py` and `.ipynb` files.

[2021-08-23 08:39] Saugatkafley commented on #107016
This fixed my issue ,

Preferences , Reload with extension disabled .
VS was still buggy and slow to use. Then I again reload it fixed the issue

[2021-08-23 08:44] thany commented on #131158
@mjbvz

It doesn't appear to happen on Insiders with extensions disabled. I even took the effort to copy all my settings over.

Does this indicate the problem has been fixed? If so there should be at least a pre-existing issue for it, which I couldn't find. Perhaps under a different kind of title...

[2021-08-23 08:45] hediet commented on #131333
This is actually a syntax highlighting issue:

[code]

![image](https://user-images.githubusercontent.com/2931520/130417963-e89caff5-9c91-4777-a85d-70dc62502cc2.png)

[2021-08-23 08:47] viveks1986 commented on #129219
Yes, I am able to paste in the editor using **F1 > Paste** from the command palette so its just my **command-v**  which is not working in editor though its working in console
![image](https://user-images.githubusercontent.com/8513549/130417997-7f326435-5063-4aa1-b7e4-d010b89c599a.png)

[2021-08-23 08:50] SiddJ311513 commented on #129544
It was actually Tabnine extension which was causing issue. Now its fixed

[2021-08-23 08:50] #129544 closed

[2021-08-23 08:50] haneenmahd commented on #131354
With the latest update of `2021-08 Cumulative Update for .NET Framework 3.5 and 4.8 for Windows 11 for x64`. The perfomance is much better than before for :electron: based apps.
But, still need official support for it

[2021-08-23 08:57] aeschli commented on #103207
Names are good

[2021-08-23 08:57] sytlq999 commented on #129483
Thanks  for your reply
I donot know the proxy configuration of my computer ，how do I check and configure  to use proxies in any way.

[2021-08-23 09:01] SuDa2103 commented on #131256
@mjbvz I have the same issue

[2021-08-23 09:03] alexdima commented on #129219
@viveks1986 On a closer look at your logs, it looks like you have customized `cmd+v` to do something else than the default:

[code]

So you have a keybinding in your user `keybindings.json` that rebinds `cmd+v`. Can you please try commenting out/removing all your keybindings from `keybindings.json`?

Here is how the default mappings should look like:

[code]

[2021-08-23 09:03] SHoogland opened #131389 "Weird visual bug in codespaces terminal"
![image](https://user-images.githubusercontent.com/2057831/130420320-13b83679-1790-4709-b423-cb71b4922fb1.png)

On a Dell U2412M display with a resolution of 1920x1200 this weird visual issue occurs in the terminal

The display is connected to a m1 mac book pro, and it occurs in the brave browser while using github codespaces

[2021-08-23 09:06] wenfangdu opened #131390 "[FR] Option to open the `settings.json` to the side when opening the settings UI editor"
Quote from Rob Lourens:

Since @roblourens [gutted the settings split JSON editor](https://github.com/microsoft/vscode/issues/125952#issuecomment-881134156), at least give us an option to open the `settings.json` at the right side of the UI editor automatically.

Requirements:

- An option to automatically open the `settings.json` at the right side of the UI editor.
- When the `settings.json` is o

[2021-08-23 09:10] aeschli commented on #131207
Thanks for the interest! The code is [vscode-json-languageservice](https://github.com/microsoft/vscode-json-languageservice)

We already have a function that converts the JSON regex string to a JavaScript regex string. I think the implementation for the current issue would go there.
https://github.com/microsoft/vscode-json-languageservice/blob/42fe736a0a6fa1aca18bfff03ca84752591d82fc/src/utils/str

[2021-08-23 09:13] wenfangdu commented on #125952
In case this is a permanent change, I proposed some features that mimic the split JSON editor when using the UI editor, please upvote the issue if you feel the mentioned features are useful:

- https://github.com/microsoft/vscode/issues/131390

[2021-08-23 09:13] aeschli commented on #130678
@lifez Yes that would be great!

[2021-08-23 09:19] aeschli commented on #131347
For that the quotes need to be added ad autoClosingPairs in git language configurations files at https://github.com/microsoft/vscode/tree/main/extensions/git/languages
(If it makes sense)

[2021-08-23 09:33] JlineZen opened #131391 "apps crashed and exit when use tab key"
Once I selected a block range of line codes, then I use tab to pinch in, all the windows and the application was crashed and exit.

[2021-08-23 09:34] weinand commented on #131381
/extPython

[2021-08-23 09:34] #131381 closed

[2021-08-23 09:39] #129526 closed

[2021-08-23 09:40] weinand commented on #131388
The issue that the callstack is expanded whenever a new subprocess is launched should be fixed in Insider (@isidorn correct?).

[2021-08-23 09:41] isidorn commented on #131388
@weinand yes this should behave better now.
@cemde can you please try this with vscode insiders https://code.visualstudio.com/insiders/
And if it still does not behave well let us know and there might be other things which we could do to further improve this (maybe we should fully respect if a user collapses some node in the tree and not auto expand it anymore)

[2021-08-23 09:45] justingolden21 commented on #129219
I'm glad to see this is still being looked into. I still cannot paste (but only sometimes) on the debian vs code version on chrome os. I opened it without extensions and still couldn't. But again, it's inconsistent. Sometimes it does and doesn't, even when the app has been open the whole time. I think it depends on the content in the clipboard? The same content will always yield the same result, b

[2021-08-23 09:49] aeschli commented on #131371
- check you user settings. `files.associations` might have been set to associate html files with something selse
- run with extensions disabled (Command: Reload with Extensions Disabled) find out if an extension causes this.

[2021-08-23 09:54] wenfangdu commented on #131347
@aeschli Can we do that in the `settings.json` or must via an extension?

[2021-08-23 09:57] aeschli commented on #131365
Semantic highlighting comes from language servers and not all language servers ca work with virtual files (files from repositories). Also, semantic highlighting depends on resolving references in the context of a project which is hard for repo files as the project context is unknown to the language server.

For what language did you see the issue?

[2021-08-23 09:59] aeschli commented on #131347
This can't be done in settings. The feature request for that is: https://github.com/microsoft/vscode/issues/102574

[2021-08-23 10:00] alexdima commented on #131091
This is unfortunate, it has to do with how we compute diffs when trimming whitespace is not ignored: we actually compute the diff with trimming whitespace ignored and then introduce the char-level diffs for trimming whitespace. In this case, this backfires as there was a better `}` that could have been matched.

[2021-08-23 10:04] aeschli commented on #131360
The difference of RGB measured by the pipette tool is related to the color profile that Electron/Chromium uses.

You can use the following Chromium settings in `argv.json` or on the command line to influence the color profile.
[code]

[2021-08-23 10:04] #131360 closed

[2021-08-23 10:04] alexdima commented on #129708
@hediet Is it possible that the `HoverAction` code is looking for the `click` event, while @TylerLeonhardt is actually doing a double click? If two clicks occur on the same element, browsers emit a `dblclick` event.

[2021-08-23 10:12] alexdima commented on #131064
Extensions can activate for multiple reasons, activation events being one of them. Although not very well known, extensions can also activate if another extension depends on an extension or if another extension explicitly activates others via our `vscode.extensions` API. Another use-case is when the extension host process crashes and we re-activate all previously activated extensions. Having an ex

[2021-08-23 10:12] #131064 closed

[2021-08-23 10:15] alexdima commented on #129219
@justingolden21 Please open a separate issue, since you are on a different OS it is highly unlikely that you are suffering from the same issue as @viveks1986

[2021-08-23 10:16] msizar commented on #66611
Getting the same issue after upgrading to v3.4.3

[2021-08-23 10:16] isidorn commented on #128484
@polinasok thanks for clarifying. I agree with you that the dust will settle eventually, and in the meantime the inconsistency which we might have is ok. So closing this as I plan no further changes here. Thanks

[2021-08-23 10:16] #128484 closed

[2021-08-23 10:19] isidorn commented on #131391
I can not reproduce. Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/

[2021-08-23 10:20] #131384 closed

[2021-08-23 10:30] tazerdev commented on #115784
/verified

Thanks for fixing this issue.

[2021-08-23 10:33] RajvirSingh1313 commented on #20652
I think you are right, but does that really matters at the end when coding? I am using jsaulou's extension and I only notice it sometimes as a programmer

[2021-08-23 10:37] bpasero commented on #131366
Sounds like https://github.com/microsoft/vscode/issues/131218

[2021-08-23 10:38] bpasero commented on #131382
Can you open https://vscode-web-test-playground.azurewebsites.net/?enter=true and see if there is anything logged to devtools that could help diagnose the problem further?

[2021-08-23 10:44] alexdima commented on #128956
I can reproduce a slowdown. On my macOS computer, scrolling down went 114 lines down in 10s, while scrolling up went 100 lines up in 10s.

[2021-08-23 10:45] Nefcanto opened #131393 "VSCode installed inside a container is not shown, but Firefox and Android Studio are shown"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.59.0 (but does not matter)
- OS Version: Ubuntu or Debian

Steps to Reproduce:

1- Install VSCode and Firefox inside a docker container using this `Dockerfile`:

[code]

2- Build it using this command:

`docker build -t ubuntu-vscode .`

3- Temporarily give permission to `xhost`:

`xhost +`

4- Run the container usi

[2021-08-23 10:48] bkilinc opened #131394 "Cannot define recursive dictionary object in jsdoc, but I can define recursive Map"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.59.1
- OS Version: Linux Mint 18

recursive dictionary object that I defined in jsdoc comment is not recognized by VSCode and it is reported as 'any' type. But if I convert object dictionary to Map, it works.

Following code includes both definitions
[code]
Steps to Reproduce:

1. create a blank js file and open it

[2021-08-23 10:50] #123864 closed

[2021-08-23 10:51] bpasero commented on #123864
I added `onDidEditorsChange` because I want to use it in other places, which makes `mainThreadEditorTabs` require a lot less code to react to changes, the event covers:
* active editor changes
* any change to opened editors (editor open, editor close)
* moved editors
* moved groups

[2021-08-23 10:51] viveks1986 commented on #129219
@alexdima This is what i get when i l open Preferences: Open Keyboard Shortcuts (JSON) command to open keybindings.json file and look into command+v.
![image](https://user-images.githubusercontent.com/8513549/130435492-5d4c09c2-f8b9-4992-9d1c-00e1af148e74.png)

[2021-08-23 10:59] alexdima commented on #129962
It looks like there is already a built-in document semantic highlight provider registered by HTML [here](extensions/html-language-features/server/src/modes/javascriptSemanticTokens.ts).

Currently, VS Code supports at most one document semantic highlight provider. I thought that perhaps you could try beating the built-in HTML semantic highlight provider using a more specific document selector, but

[2021-08-23 11:02] alexdima commented on #128868
@HezzyBear Could you perhaps try to create a screen recording. Did you see the one I created, are you doing anything different? Does this reproduce when disabling all extensions?

[2021-08-23 11:04] alexdima commented on #129400
@udf2457 Can you please attach the complete `.html` file, I would like to understand what exactly is going on.

[2021-08-23 11:05] jyotir121 opened #131395 "C++ doesn't run"
Issue Type: <b>Performance Issue</b>

/bin/sh: -c: line 0: syntax error near unexpected token `('

error while running any cpp code on my mac

VS Code version: Code 1.59.1 (Universal) (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-19T11:53:52.479Z)
OS version: Darwin x64 20.6.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700

[2021-08-23 11:05] alexdima commented on #129191
I think this is a great use-case for using extensions and I suggest using https://marketplace.visualstudio.com/items?itemName=usernamehw.autolink.

[2021-08-23 11:06] bpasero opened #131396 "Fonts: consider to set `font-display: block`"
As far as I know, we use custom fonts in 3 areas:
* our Codicon set
* extension contributed file icons
* extension contributed product icons

I often see the workbench appear similar to this because fonts were not loaded yet and the browser fallsback to a standard font that doesn't include the used characters, as such glyphs appear:

![recording](https://user-images.githubusercontent.com/900690/13

[2021-08-23 11:07] hediet commented on #129708
It works if you do the double click faster (or slower), so I doubt the dblclick event is at fault here.

[2021-08-23 11:08] hediet commented on #103207
Sounds reasonable.

[2021-08-23 11:10] udf2457 commented on #129400
@alexdima

Did you already try with the steps outlined in my original post, particularly 3 & 4 ? i.e.

- Grab some minified CSS e.g. in my case Twitter Bootstrap (https://github.com/twbs/bootstrap/blob/main/dist/css/bootstrap.min.css)
- Add <style>_$paste_minified_css_here_</style> between the <header> tags.

If those steps didn't work for you, let me know and I'll of course be happy to post a rea

[2021-08-23 11:26] tusharsadhwani opened #131397 "Show markdown file's outline in preview mode"
When viewing the plain-text version of a markdown file, you can see the outline of the file (headings, sub-headings) in the outlines section on the left:

![image](https://user-images.githubusercontent.com/43412083/130439443-d80769ee-8898-4e1f-a01f-b6f95f2f82df.png)

But when watching the preview of the file:
![image](https://user-images.githubusercontent.com/43412083/130439695-6ec3d983-6d4d-4114-

[2021-08-23 11:27] #130883 closed

[2021-08-23 11:27] #130872 closed

[2021-08-23 11:27] #130850 closed

[2021-08-23 11:27] #130572 closed

[2021-08-23 11:27] matthewneiman commented on #122584
This is happening to me in a couple of notebooks.
Currently in one that is 12 cells long. I opened it this morning just fine, but now I opened it again, and the first three cells don't show.
I can run the notebook, and the missing cells run (I have imports in them..) but I can't see or modify them.

[2021-08-23 11:27] #130086 closed

[2021-08-23 11:27] #129897 closed

[2021-08-23 11:27] #129335 closed

[2021-08-23 11:27] #129287 closed

[2021-08-23 11:28] #124454 closed

[2021-08-23 11:28] #75153 closed

[2021-08-23 11:49] a-shekari commented on #47855
I am interested in this feature

[2021-08-23 11:55] isidorn commented on #131396
I prefer not showing anything than the current empty squares which always feel like rendering glitches and are disturbing.

[2021-08-23 11:55] alexdima commented on #129483
@sytlq999 Is your computer domain joined or would otherwise be configured by your company / IT department?

[2021-08-23 11:57] hediet commented on #130557
I'm not 100% sure where to mention bracket pair colorization options.

Shall I just add another option (e.g. "Enable Bracket Pair Colorization") here:

![image](https://user-images.githubusercontent.com/2931520/130443015-60b602a2-efff-4e7d-a5c1-094c8a468416.png)

?

However, @isidorn had the interesting idea of adding an entire section for editor related stuff (which also includes multi-cursor stu

[2021-08-23 12:01] isidorn commented on #130557
Two more things I mentioned in our chat (just to have it here)

1. Think about adding it to the `Commonly Used` section in the Settings UI fyi @roblourens
2. Add it to the tips-and-tricks section of our docs https://code.visualstudio.com/docs/getstarted/tips-and-tricks

Now that I think about it a bit more I am not 100% certain this should be in the Getting Started, because of course a user can ge

[2021-08-23 12:01] alexdima commented on #129400
@udf2457 Thank you for the steps, I was able to reproduce. This has nothing to do with the long text, but rather it looks like a problem in the CSS grammar. Minimal repro:
[code]

![image](https://user-images.githubusercontent.com/5047891/130443629-f6d1ee0d-968e-441e-bd10-6b0496cdcf0c.png)

[2021-08-23 12:05] #130503 closed

[2021-08-23 12:05] alexdima commented on #129708
@hediet I haven't tried to reproduce, just reading off the thread:

https://github.com/microsoft/vscode/blob/401fffe5d6edc76f62344a817940c082b7604348/src/vs/base/browser/ui/hover/hoverWidget.ts#L67

What if you change the listener to be for `mousedown`? Does that line run every time you press the mouse button?

[2021-08-23 12:07] isidorn commented on #131395
/extCpp

[2021-08-23 12:07] #131395 closed

[2021-08-23 12:07] alexdima commented on #129219
@viveks1986 There are two commands that are very similar:
* `Preferences: Open Keyboard Shortcuts` <-- this opens the thing you have screenshotted above
* `Preferences: Open Keyboard Shortcuts (JSON)` <-- this opens your `keybindings.json` file

Alternatively, you can press this button:
<img width="433" alt="Screen Shot 2021-08-23 at 14 07 19" src="https://user-images.githubusercontent.com/5047891

[2021-08-23 12:08] aeschli commented on #125355
It's a known WSL issue that file events are not reported on `/mnt/...`. We are waiting for a fix in WSL. Tracked in https://github.com/microsoft/vscode-remote-release/issues/5000.

It's recommended, also for performance reasons, to place projects on Linux file system (e.g. the home folder)

[2021-08-23 12:08] #125355 closed

[2021-08-23 12:08] aeschli commented on #131396
Makes sense to me. I'll make the change.

[2021-08-23 12:11] bkilinc commented on #131394
following typedef works but it is typescript style and it gives error on my linter.
[code]

[2021-08-23 12:16] wenfangdu commented on #131350
@timfenney Please have a look at this feature request, it's an improvement over [your original PR](https://github.com/microsoft/vscode/pull/125563).

[2021-08-23 12:17] Tyriar commented on #131386
Looks like we just need to add `zsh` to handle this which makes sense, iterm has a setting so it makes sense to have a setting here.

[2021-08-23 12:18] sandy081 commented on #131346
How did you install old version of an extension? Have you done it using the UI in extensions view?

[2021-08-23 12:19] Tyriar commented on #131386
Code pointers:

- Tweaking the ignored process names https://github.com/microsoft/vscode/blob/3866c3553be8b268c8a7f8c0482c0c0177aa8bfa/src/vs/platform/terminal/node/childProcessMonitor.ts#L25-L31
- Adding a setting https://github.com/microsoft/vscode/blob/d3db2d10625b8c453e8aa14808b984ebdc54cc10/src/vs/workbench/contrib/terminal/common/terminalConfiguration.ts#L380-L380

[2021-08-23 12:20] sandy081 commented on #131327
@TylerLeonhardt Seems authentication issue as there is an error on browser.

[2021-08-23 12:20] dbaeumer opened #131398 "Actions in QuickPickItem should always be top alligned"
<img width="472" alt="capture" src="https://user-images.githubusercontent.com/1931590/130446051-352a3151-9ac3-462e-aa77-7cdd40837ab8.png">

[2021-08-23 12:22] viveks1986 commented on #129219
@alexdima Commenting out the keybindings from keybindings.json has solved it, now I am able to paste. Just wanted to know why or how the keybindings came in the first place as I have never edited it?
![image](https://user-images.githubusercontent.com/8513549/130445957-1cf779bc-b232-4d8c-b5d9-e1b881b84171.png)

[2021-08-23 12:22] sandy081 commented on #131307
Can you please open developer tools (`F1 > Developer: Toggle Developer Tools`) and see if there are any errors in the console?

[2021-08-23 12:22] #131237 closed

[2021-08-23 12:23] ImRodry commented on #131365
Sorry forgot to mention it was on TypeScript. Just thought it was weird how one view worked and the other one didn’t

[2021-08-23 12:24] sandy081 commented on #131284
https://code.visualstudio.com/docs/editor/settings-sync#_restoring-data

[2021-08-23 12:24] #131284 closed

[2021-08-23 12:24] alexdima commented on #129219
@viveks1986  I honestly have no idea. VS Code edits the `keybindings.json` file only as a response do doing something in the UI (like right click > Remove Keybinding, etc.). It looks like maybe you installed an extension which thought it was a good idea to edit your `keybindings.json` ?

[2021-08-23 12:24] #129219 closed

[2021-08-23 12:25] Xdminsy commented on #131346
Ah yes, I select "Install Another Version" in the manage menu of an extension.

[2021-08-23 12:28] sandy081 commented on #131346
If so, you shall not be seeing the outdated badge. Can you please try with another extension and see if you can repro it? If so, also provide steps you followed.

[2021-08-23 12:29] sandy081 commented on #131272
/duplicate

Could be a duplicate of https://github.com/microsoft/vscode/issues/130962

[2021-08-23 12:30] #131272 closed

[2021-08-23 12:31] sandy081 commented on #130362
Thanks for the update. I will close it until then. Please reopen it if you see it again with steps to repro.

[2021-08-23 12:31] #130362 closed

[2021-08-23 12:35] #130993 closed

[2021-08-23 12:37] hediet commented on #129495
Implemented by #131183.

[2021-08-23 12:37] #129495 closed

[2021-08-23 12:37] aeschli commented on #131396
@bpasero Thanks for the research!
If you have any tricks to get to see the placeholder boxes as long as in your screencasts, please add that for the verifier.

[2021-08-23 12:39] viveks1986 commented on #129219
Thank you for your help, cheers

[2021-08-23 12:46] alexdima opened #131399 "Allow creating a tunnel to a network destination reachable via the remote machine"
This will help towards https://github.com/microsoft/vscode-remote-release/issues/3450

[2021-08-23 12:50] #131399 closed

[2021-08-23 12:51] alexdima commented on #131399
Also done via https://github.com/microsoft/vscode/commit/be7046f09199da197a2b566f90f51f7e2653fed7

[2021-08-23 12:51] motevets commented on #23757
@chrisbward this could probably hook nicely into the new-ish [Workspace Trust](https://code.visualstudio.com/docs/editor/workspace-trust) feature. Workspace tasks are already disabled in "restricted mode." It would probably make sense to disable keyboard shortcuts as well.

[2021-08-23 12:53] Xdminsy commented on #131346
![w](https://user-images.githubusercontent.com/9005053/130449918-f655010a-f4fb-4bc4-9580-41cd467ed6af.gif)

Yes, I made a record, I download a new pure vscode 1.59.1 and make it portable, so it has no other extensions.

I just select a popular extension in the sidebar, say ESLint, and I see it seems I cannot directly install an old version.

So I first install it and then choose to install a speci

[2021-08-23 12:54] grippon opened #131400 "[find/replace] Ability to search only visible code, without unfolding"
Editing a many-lines (2000+) config XML file, I fold some nodes that doesn't interest me, now I would like to search only in visible code, unfolded nodes, and never unfold what I have hidden.

[2021-08-23 12:57] dbaeumer opened #131401 "Allow to resolve buttons on QuickPickItems lazy"
I need to resolve the buttons for QuickPickItems lazily (e.g. I need to make service requests). Currently I need to set the `items` on the quick pick which can lead to strange behavior if the user types, moves the mouse or otherwise interacts with the quick pick.

Would it be possible to support a style where setting the `buttons` property updates the item in the UI?

[2021-08-23 12:58] alexdima commented on #66611
Please create distinct new issues with your env, extensions, keybindings.json, etc. I can reply to everyone of them and find out if they are duplicates and share the same root cause or not. Thank you!

[2021-08-23 13:00] Tyriar commented on #131312
A few options:

- You can move the panel to the right by right clicking the panel title
- Use `"terminal.integrated.defaultLocation": "editor"` to always use editors by default
- Run or add a keybinding for this command:
   ![image](https://user-images.githubusercontent.com/2193314/130451442-0dfe13fe-32ac-4b50-a2d3-3936a264c400.png)

[2021-08-23 13:00] #131312 closed

[2021-08-23 13:03] alexr00 opened #131402 "Test isDefault task group API"
Refs: https://github.com/microsoft/vscode/issues/79188

- [x] anyOS @kimadeline
- [x] anyOS @hediet

Complexity: 5

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23131402%0A%0A&assignees=alexr00)

---

A new `isDefault` property has been added to `TaskGroup`. This mirrors the `group` in the `tasks.json` schema:

https://github.com/microsoft/vscode/blob/b3a86e6feea1759

[2021-08-23 13:03] bpasero commented on #131396
Thanks!

Yeah I cheated in my demo: I added code to specifically slow down the loading of `ttf` and `woff`. However, it should be relatively easy to be reproducible e.g. in a incognito browser session over a slow network connection.

[2021-08-23 13:09] softwareCobbler commented on #45864
Hi, I'd like to vote to be able to flag my own plugin's completion items as removable if they are duplicates by name. I get that it is probably not a good thing to allow plugin `A` to remove plugin `B`'s suggestions, but I don't see an issue with plugin `A` asking the client to drop `A`'s suggestions, based on some criteria (probably just match a string literal, with a boolean case-sensitivity opt

[2021-08-23 13:19] wenfangdu commented on #131347
@aeschli I've submitted a PR for it:

- https://github.com/microsoft/vscode/pull/131403

[2021-08-23 13:20] Tyriar opened #131404 ""terminal.integrated.defaultLocation": "editor" causes panel terminals to be created in the editor"
![recording (72)](https://user-images.githubusercontent.com/2193314/130454241-12aa8483-4373-4977-ad3f-c08a7a45a151.gif)

[2021-08-23 13:22] tolutaua commented on #131266
![2021-08-23_7-20-49](https://user-images.githubusercontent.com/2798332/130454573-af656066-90c2-4bb7-bfeb-682436662146.gif)

[2021-08-23 13:28] Tyriar commented on #131380
This was by design since the terminal uses escape, but we can totally improve this to route the escape to notifications only when they're showing

[2021-08-23 13:29] Tyriar commented on #131380
To verify:

- Make sure escape dismisses notifications when terminal is focused
- Make sure escape works in terminals when no notifications are showing (eg. in vim)

[2021-08-23 13:36] alagesan007 opened #131406 "close button working duration delay"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:1.59
- OS Version: Device name	LAPTOP-K00SCSVQ
Processor	Intel(R) Core(TM) i3-10110U CPU @ 2.10GHz   2.59 GHz
Installed RAM	4.00 GB (3.86 GB usable)
Device ID	C09C5F2A-B9F4-4DEC-BD9B-74B1A178EEC5
Product ID	00327-36223-34304-AAOEM
System type	64-bit operating system, x64-based processor
Pen and touch	No pen or touch

[2021-08-23 13:38] weinand commented on #118196
@connor4312 are you planning to add support for `lifecycleManagedByParent` to js-debug in this milestone?
If yes, I would create a test item for #128058.

[2021-08-23 13:42] wenfangdu commented on #131380
@Tyriar Does `notifications.hideList` need to be skipped as well? I see two command IDs when searching "hide notifications":

![image](https://user-images.githubusercontent.com/28700378/130457453-ab647f93-d7b6-4fd2-ae2e-eee761563c1e.png)

[2021-08-23 13:43] weinand commented on #128058
VS Code now supports the `lifecycleManagedByParent` API but testing this only makes sense with a debug adapter that creates child debug sessions.
@connor4312 I suggest that we test the `lifecycleManagedByParent` API with js-debug.

[2021-08-23 13:47] sdissegna-maystreet opened #131407 "Webview in plugins can fail to start sometimes"
Issue Type: <b>Bug</b>

I could reproduce this issue only in a browser environment (using the https://github.com/cdr/code-server project).

Starting a jupyter notebook can sometimes fail to start the notebook (the editor keeps showing a blank page and a loading indicator that never stops). It's very frequent in Firefox and less frequent in Chrome.

I also have a fix for the issue that I'll be subm

[2021-08-23 13:49] alagesan007 commented on #131406
<img width="960" alt="bug" src="https://user-images.githubusercontent.com/82628512/130458701-b440da3f-1094-40f6-aa4f-7e2981d60577.png">

[2021-08-23 13:50] #131406 closed

[2021-08-23 13:54] sandy081 opened #131409 "Testing installing and updating extensions"
Ref https://github.com/microsoft/vscode/issues/23251

- [x] Mac @chrmarti
- [x] Mac: @deepak1556 (arm64)
- [x] windows @karrtikr (x64)
- [x] windows @karthiknadig (ia32)
- [x] windows: @eamodio (arm64)
- [x] linux @lramos15

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23131409%0A%0A&assignees=sandy081)

---

Extensions installing and updating has been

[2021-08-23 14:00] sourabh112 commented on #131207
@aeschli Sorry for the late reply, I recreated this error and looked around to find out why it is not working properly. I found out that RegExp doesn't support the use of p{L} which is the reason for this error. There are workarounds for that like using xRegExp module. or we can change the occurrence of every Unicode (but this is only going to make code unreadable and redundant). If I'm missing an

[2021-08-23 14:00] Tyriar opened #131410 "Allow F12 to be bound to both go to definition and open link"
I tried to get this working with this but I don't think we have a context key for this:

[code]

I think ideally this is what I'm after:

[code]

I've been after this for a while as it would make using markdown much nicer imo.

cc @lostintangent (tried to get it working for wikilens)

[2021-08-23 14:01] iqapps opened #131411 "Enable Windows Background Updates checkbox"
Issue Type: <b>Bug</b>

When unchecking the settings to not enable automatic updates, the updates are still being installed automatically when Mode is set to default. That is not a logic result of the given combination of settings.

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>

[2021-08-23 14:02] hediet opened #131412 "Allow customizing bracket pairs"
Is it possible to add language specific overrides for brackets pairs in config?
[code]

Or other way to specify subset of pairs provided by language. Or expend it if implementation supports expanding list of pairs and don't rely on language implementation.

_Originally posted by @IllusionMH in https://github.com/microsoft/vscode/issues/131176#issuecomment-901959714_

[2021-08-23 14:03] Tyriar commented on #131410
Actually I think both of these do what I'm after:

[code]

Should we add one of these to core?

[2021-08-23 14:03] hediet commented on #131176
This issue would be fixed by either #131412 or #131194.

[2021-08-23 14:03] #131176 closed

[2021-08-23 14:06] hediet commented on #130557
I'm open for not including it in this welcome screen.

[2021-08-23 14:08] wenfangdu commented on #131380
@Tyriar And it's still reproducible after adding them to my `settings.json`:

[code]

[2021-08-23 14:11] matthewmanley8451 commented on #131022
I can confirm, I am also having this issue. It effects multiple extensions. Not quite sure what causes one extension to work over another, but I have compiled a "short" list of extensions that do and do not work.

The following are some of the extensions I have tested and are not working:
https://marketplace.visualstudio.com/items?itemName=ms-python.python
https://marketplace.visualstudio.com/item

[2021-08-23 14:18] Arjun13maurya opened #131413 "BUG"
Issue Type: <b>Bug</b>

sir i have a bug found on visual studio code
That if i have written any thing on terminal page, and if i have cut that and written something els then that the first one that i have written is not going on
so i have a request to solve my bug please

VS Code version: Code 1.59.1 (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-19T11:56:46.957Z)
OS version: Windows_NT x64 10

[2021-08-23 14:21] Tyriar commented on #131380
Yeah I tried that and it didn't work for me either, but adding it builtin worked fine.

[2021-08-23 14:24] MarkKahn opened #131414 "Typescript tokenization fails on methods with return type = `typeof thing`"
Issue Type: <b>Bug</b>

I'm guessing this belongs in some sub-project, but I don't know where.

[code]

VS Code version: Code 1.59.1 (Universal) (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-19T11:53:52.479Z)
OS version: Darwin x64 20.6.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-9980HK CPU @ 2.40GHz (16 x 2400)|
|GPU Stat

[2021-08-23 14:26] kaffarell commented on #115621
Duplicate #107398, pr already created (#128797)

[2021-08-23 14:26] hediet opened #131415 "Test Suggest Widget / Inline Suggestions Interaction"
Refs: https://github.com/microsoft/vscode/issues/129495

- [x] anyOS @isidorn
- [x] anyOS @joyceerhl

Complexity: 5

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23131415%0A%0A&assignees=hediet)

---

# Context

This is the interface of an inline completion item provider as used by copilot:
[code]

This milestone, we added the property `selectedSuggestionInfo` to the

[2021-08-23 14:29] Tyriar commented on #130738
Please check for errors in the dev tools console (Help > Toggle Developer Tools)

[2021-08-23 14:46] hediet opened #131416 "Test Bracket Pair Colorization"
Refs: https://github.com/microsoft/vscode/issues/128465

- [ ] anyOS @donjayamanne
- [x] anyOS @alexr00

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23131416%0A%0A&assignees=hediet)

---

# Preparation

* Enable bracket pair colorization (currently enabled by default, will change on 25/08): `"editor.bracketPairColorization.enabled": true`.

# Tasks

*

[2021-08-23 14:50] richiephp opened #131417 "Bring back Workspace and Run and Debug feature"
Workspace and Run and debug

Regarding this.
https://github.com/microsoft/vscode-edge-devtools/issues/471

I had everything set up with a workspace with a lot of projects up and running, only to think that there was a problem, once vs code was updated only a couple of weeks ago. The Run and Debug function did not run properly with Workspaces after the update and since then, only to find it was "no

[2021-08-23 14:58] IllusionMH commented on #131414
/needsMoreInfo

Is it reproducible with all extensions disabled?
You can try this with <kbd>F1</kbd> and `>Developer: Reload Window With Extensions Disabled`

This one looks like duplicate of https://github.com/microsoft/TypeScript-TmLanguage/issues/858 (and other issue in repo) which was fixed couple of versions ago

Screenshots with difference with/without `typeof` would be also helpful.

Unable

[2021-08-23 15:08] Geekhyt opened #131418 "After large files are pulled by git, the code is not updated"
I have a large file with ten thousand lines of code. The code I pulled with git does not update. Restarting VS Code is useless. The code is updated only when the corresponding file tab is closed and reopened. Very strange bugs may be difficult to reproduce. If you encounter the same situation as me, please leave a message in this issue！

- VS Code Version: version 1.59
- OS Version: macOS Big Sur

[2021-08-23 15:11] sbatten commented on #125140
unfortunately, I'm still not seeing the screenshot

[2021-08-23 15:11] bamurtaugh commented on #131319
cc @sbatten this is the one we discussed last week

[2021-08-23 15:20] DanTup commented on #128744
@isidorn sorry for the delay, I've been OOO. Unfortunately this still repros in:

[code]

![Aug-23-2021 16-20-19](https://user-images.githubusercontent.com/1078012/130473167-1134a85b-1f47-408e-8b47-e9ebe8c75fe6.gif)

[2021-08-23 15:23] Myraa commented on #130962
@sandy081 I got the similar error while installing salesforce extension pack (https://marketplace.visualstudio.com/items?itemName=salesforce.salesforcedx-vscode)
[2021-08-23 11:22:08.071] [renderer1] [error] ["validating: Corrupt ZIP: end of central directory record signature not found","    at _.downloadInstallableExtension (vscode-file://vscode-app/c:/Program%20Files/Microsoft%20VS%20Code/resour

[2021-08-23 15:23] san-coding commented on #131386
@Tyriar Could you assign this to me and guide/help me make my first open source contribution

[2021-08-23 15:29] san-coding commented on #131080
@alexr00 Issue exists in Safari browser, how can I fix this

[2021-08-23 15:31] san-coding commented on #131080
@alexr00 yes it works in safari , but the the cursor remains zoom out cursor even when I don't press control, it doesn't change back to + symbol

[2021-08-23 15:35] Tyriar opened #131419 "Add command for expand/collapse all comments"
https://github.com/microsoft/vscode-pull-request-github/issues/665 added commands to toggle just GH comments but that seems like the edge case to me and if someone was to keybind this it would be more useful to bind it to a general toggle comments across all providers.

[2021-08-23 15:36] Tyriar opened #131420 "Add context key for when comments are visible"
I was trying to get escape collapsing all comments (https://github.com/microsoft/vscode/issues/131419) but this would need an extra context key. Here are the current context keys:

![image](https://user-images.githubusercontent.com/2193314/130475566-a5469eed-1a0d-48ed-a7fa-b7ad3c2b1534.png)

I think ideally we would have `commentsAreVisibleInViewport` or `commentsAreVisible`, the latter isn't quit

[2021-08-23 15:37] ephf commented on #131333
On Mon, Aug 23, 2021 at 4:45 AM Henning Dieterichs ***@***.***>
wrote:

Well yeah, I said that it was a Syntax Highlighter Issue.

[2021-08-23 15:37] lukipedio opened #131421 "Git authentication failure"
Issue Type: <b>Bug</b>

I am not able to authenticate on GitHub with any of the following extensions:
- GitHub Copilot
- GitHub Pull Request and Issues
- GitHub Repositories

I always get the following popup message, whatever methos I use:
"Sign in failed: authenticationrequired
Source: GitHub Authentication (Extension)"

I follow the following steps:

Method 1)
- Ask to authenticate via account->

[2021-08-23 15:42] connor4312 commented on #126911
Sorry I missed this notification. I don't believe js-debug ever terminates the extension host itself; that is normally done by core. Though I could always add code to do so...

[2021-08-23 15:43] Tyriar commented on #131386
@san-coding we don't assign issues but you can work on it. You'd need to:

- Add zsh to https://github.com/microsoft/vscode/blob/3866c3553be8b268c8a7f8c0482c0c0177aa8bfa/src/vs/platform/terminal/node/childProcessMonitor.ts#L25-L31
- Create a new setting and move the default list to it. Follow how existing settings by looking here https://github.com/microsoft/vscode/blob/d3db2d10625b8c453e8aa14808b

[2021-08-23 15:47] isidorn commented on #128744
No problem, let's reopen and I can investigate

[2021-08-23 15:50] isidorn commented on #126911
@connor4312 I could not find the code in core that terminates the EH, I thought it was being done by the js-debug.
Could you maybe try to add code for that and than I can try to repro this issue with js-debug insiders to see if it is fixed?

[2021-08-23 15:51] CreepyGnome commented on #20530
So is the gist of this is that there is no way to search the scope of all open tabs especially ones that are new data and have never been saved so are not a real file in a known location yet?

On a Mac I am trying to find a replacement for Notepad++ and one of the features I use with that all the time is searching all my open tabs, that they call on a button "Find All in All Opened Documents" VS C

[2021-08-23 15:57] SandorDebnar opened #131422 "Intellisense doesnt work"
Issue Type: <b>Feature Request</b>

I had yesterday a normal day with VS Code but today there is no more intellisense, no more problem checker... im blind..

VS Code version: Code 1.59.1 (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-19T11:56:46.957Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

[2021-08-23 15:58] jrieken opened #131423 "Test shortTitle-property for commands"
Refs: https://github.com/microsoft/vscode/issues/126457

- [x] anyOS @JacksonKearl
- [x] anyOS @sandy081

Complexity: 2

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23131423%0A%0A&assignees=jrieken)

---

We have finalized the shortTitle-property for package.json-contributed commands. Test that

* the property is documented
* it can be used _without_ enabling propos

[2021-08-23 15:59] TylerLeonhardt commented on #131398
I think they look nice centered in the quick pick item. Any particular reason for this feedback?

[2021-08-23 16:00] MileanCo commented on #127214
I also hit this issue. My VM doesnt have internet access, and so it will never be able to do this XMLHttpRequest. Earlier version of ms-python worked and didnt need internet access, such as ms-python.python-2021.3.658691958

[2021-08-23 16:05] jestarray commented on #16221
@mjbvz Can you link to how it is implemented for typescript? I'd like to do implement this for another language, thank you/

[2021-08-23 16:06] Tyriar commented on #130867
Might be related to webviews, I've repro'd it inconsistently with Luna Paint and I know there is an issue around context keys when opening Luna Paint from the explorer.

[2021-08-23 16:08] Tyriar commented on #126066
/duplicate https://github.com/microsoft/vscode/issues/115560

[2021-08-23 16:08] #126066 closed

[2021-08-23 16:17] jrieken opened #131424 "Test type hierarchy peek UI"
Refs: https://github.com/microsoft/vscode/issues/15533

- [x] anyOS @donjayamanne
- [x] anyOS @stuartleeks (Windows)

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23131424%0A%0A&assignees=jrieken)

---

We are working on UI and API for the type hierarchy feature. The TPI is about the peek UI for type hierarchy, it should be working analog the peek call

[2021-08-23 16:17] Tyriar commented on #73451
Looks like this is caused by the following not getting executed:

https://github.com/microsoft/vscode/blob/a7c466d64983d71b066cf6ce50a4559e41b3042a/src/vs/workbench/contrib/terminal/browser/terminalInstanceService.ts#L161-L164

I don't think it's possible currently for isRemote to be true at the same time the shellType is Wsl, since the latter is only detected when wsl.exe for example is run:

htt

[2021-08-23 16:18] depablo commented on #100533
If you didn't solve your problem yet try to use below setting of "launch" -> "configurations":
				"sourceFileMap": {
					"/media/": "~/Code", (or maybe /home/YOUR_HOME if ~ doesn't work)
				},

[2021-08-23 16:20] TylerLeonhardt commented on #131262
Looks like a duplicate of #130640. Installing `gnome-keyring` should get this working for you.

[2021-08-23 16:20] #131262 closed

[2021-08-23 16:24] Tyriar opened #131425 "Create Terminal location API tests"
We could create tests that:

- Create a terminal in editor and verify it shows up
- Open a text document and then create a terminal in editor and verify it's in the same group
- Create a terminal to the side and verify it's in a new group
- Open a text document and then create a terminal to the side and verify it's in a new group
- Create terminals using view column 1, 2, 3
- Create a terminal in

[2021-08-23 16:30] MileanCo commented on #127214
I was able to get past this error with the following versions. Its very difficult to figure out manually which versions are compatible without spending 2 hours Googline and guessing and trying. This workflow should be easier :)

1. Install
   jupyter-2021.8.1195043623.vsix - https://www.vsixhub.com/vsix/67262/
2. Install ms-python v2021.4.765268190

This is for vscode-1.59.1

[2021-08-23 16:31] #131282 closed

[2021-08-23 16:31] SetTrend commented on #130616
/ref: #123985 ["editor.scrollbar.scrollByPage" doesn't appear in settings](123985)

_Originally posted by @alexdima in https://github.com/microsoft/vscode/issues/123985#issuecomment-901743489_

[2021-08-23 16:32] jrieken commented on #131282
The doc about `--disable-extensions` is precise but non obvious. I says disable all installed extensions, so built-in extensions aren't disabled and still running. E.g. in the case git is still active and adding its documents

[2021-08-23 16:33] lramos15 commented on #125643
Loader piece is done will defer the .d.ts to a later date

[2021-08-23 16:34] Ethan-Arrowood opened #131426 "TypeScript React code highlighting broken"
Issue Type: <b>Bug</b>

I noticed an issue with my usual Dracula theme:

![Screen Shot 2021-08-23 at 10 27 04 AM](https://user-images.githubusercontent.com/16144158/130483147-89b65ae3-b37e-4960-bac4-74363538d2cf.png)

I then disabled all extensions in my editor and tried the default Dark theme and can see the same issue persisting with the `</` characters and such.

![Screen Shot 2021-08-23 at 10

[2021-08-23 16:34] connor4312 commented on #126911
Added and it seems to work for me. Mark verified if it does for you too, please 🙂

[2021-08-23 16:34] SetTrend commented on #130616
I tend to believe a title like _**"Add option to have VS Code use OS scrollbars instead of custom scrollbars"**_ would be more appropriate, as that option would be the most simple to implement solution to all anguish.

What would be your opinion on that change?

[2021-08-23 16:34] #126911 closed

[2021-08-23 16:38] IllusionMH commented on #131426
/duplicate
Related to #130996 and #131176 which have more details and other issues tracking problems.

[2021-08-23 16:39] #131426 closed

[2021-08-23 16:40] sourabh112 commented on #131207
@aeschli One more thing I wanted to ask. Should I make an issue referring to this issue in [vscode-json-languageservice](https://github.com/microsoft/vscode-json-languageservice)? As it is unrelated to vscode.

[2021-08-23 16:41] jrieken commented on #129034
@JacksonKearl Can you add verification steps? Does this show in the New File menu?

[2021-08-23 16:44] sandy081 commented on #131423
Unassigning @rebornix as he is not available for testing

[2021-08-23 16:54] DonJayamanne commented on #131123
@roblourens @rebornix  Not sure why this is a feature request.
Right now, we cannot use the API to send large volumes of outputs in a performant way, to me this is a debt in the API. Some extensions that may have large outputs have access to proposed API, but stable extension authors do not.

[2021-08-23 16:54] sdwheeler opened #131427 "Fix Outline of Markdown files that contain "Includes""
## Problem description

The Microsoft Docs platform includes several extensions to the Markdown language. One of these is the ability to have include files. For example:

[code]

See https://docs.microsoft.com/en-us/contribute/markdown-reference#included-markdown-files for documentation on the feature.

Include files are used extensively in the Microsoft docs. When an include file is used the Outl

[2021-08-23 16:56] sdwheeler commented on #131427
Here is my version information
[code]

[2021-08-23 16:57] firelizzard18 commented on #131282
So what I'm seeing is the built-in Git extension calling `vscode.workspace.openTextDocument` for its own purposes?

[2021-08-23 16:58] weinand commented on #126911
Yes, VS Code core does not do anything special when debug's stop button is pressed. So the Stop button just uses regular DAP protocol.
And the DA needs to terminate the debuggee because EH debugging starts with a "launch" (and the fact that there are subsequent "attach" request should not change that).

[2021-08-23 17:02] isidorn commented on #126911
I have verified that this indeed fixes the issue on my machine with the js-debug-nightly.
@connor4312 thanks a lot 👏

[2021-08-23 17:04] isidorn commented on #130616
I can rename the issue. However I am not sure about that exact change. I would like to keep this open to gather more user feedback.
The problem with OS scrollbars is that they would look out of style and not conforming to our design language. However if they provide better usability in some cases we should consider. Thus the reason to keep this open for more feedback.

[2021-08-23 17:11] victorbnl commented on #127101
My keys `)`, `]`, `}` and `=` are broken, which is very convenient for programming xD. So I would appreciate this feature a lot

[2021-08-23 17:12] connor4312 commented on #126911
Interesting. No idea how this was working before 😛

[2021-08-23 17:19] weinand commented on #126911
Good question - I do not have an explanation either...

BTW, does js-debug's extension debugging supports DAP's "terminate" request? In that case VS Code will send a "terminate" on first press of the Stop button. Could you pleas check with Rob what was done in node-debug2.

[2021-08-23 17:20] IllusionMH commented on #131422
/needsMoreInfo

[2021-08-23 17:24] daviddossett commented on #129037
👋 Here are a couple of additional explorations as I learn more about what's needed here. I've tried a few different versions using the discussion above as input. Any and all feedback welcome! cc @misolori

## Option 1

Adds icon before language name

<img width="983" alt="language-status-1" src="https://user-images.githubusercontent.com/25163139/130489524-9f00425b-8c73-4a90-8580-03b2a58aecf5.png">

[2021-08-23 17:27] barrard commented on #116934
As far as I can recall, it did work at one point and it was very nice to have.  It stopped about 10 months ago I think.

[2021-08-23 17:39] HezzyBear commented on #128868
https://user-images.githubusercontent.com/87545509/130492115-cde7be78-0ff8-4839-90e6-aa30a233eb10.mp4

[2021-08-23 17:42] MarkKahn commented on #131414
Whoops, I thought I did reload with extensions disabled, must have done something else accidentally.

It's apparently caused by `vscode-typescript-next`, as you suspected.  Should I open the issue against them or is this more on vscode's side of things?

screenshots:

<img width="1148" alt="image" src="https://user-images.githubusercontent.com/320562/130492445-04f6108e-7772-4818-8730-a42664ccf109.

[2021-08-23 17:52] HezzyBear commented on #128868
@alexdima  As you can see I've posted a video. The only extension I have running is the IntelliSense (Pylance), Linting, Debugging (multi-threaded, remote), Jupyter Notebooks, code formatting, refactoring, unit tests, and more. If you need anymore info don't hesitate to ask. Thanks Gary

[2021-08-23 17:54] GaboFDC opened #131429 "Improve word part"
Right now the behavior of word part is not documented anywhere I could find, it would be nice to have some documentation about it

Also checking from source code, https://github.com/microsoft/vscode/blob/main/src/vs/editor/common/controller/cursorWordOperations.ts
I deduced that word part only works for `CamelCase`, and `snake_case`

I think `kebab-case` should also be implemented, so if you remov

[2021-08-23 18:03] ElSamhaa opened #131430 "VSCode doesn't read form stdin on Fedora 34"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.59.1
- OS Version: Linux x64 5.13.12-200.fc34.x86_64

Steps to Reproduce:

1. Run `ps aux | grep code | code -`
2. VSCode starts with no open editors and no console errors.

![image](https://user-images.githubusercontent.com/34912861/130495094-0f70fc98-98cc-4ee7-9619-d4925477a3e4.png)

[2021-08-23 18:11] jsjoeio commented on #130151
Hmm...I'm not sure how to reproduce this in Insiders 🤔 This only happens when running VS Code in the browser.

Is there a way to run Insiders as a web app? That would recreate the environment for me to reproduce.

[2021-08-23 18:12] HezzyBear commented on #131361
I'm sorry, I guess I didn't explain myself very well. Here's a video of the file path in the VScode terminal window that I want removed. Thanks

https://user-images.githubusercontent.com/87545509/130496173-06d1de03-74a2-49a8-8c28-769287776e78.mp4

[2021-08-23 18:14] TylerLeonhardt commented on #131401
This is interesting and not currently supported even in Core atm. I wonder though if this issue would be almost fixed with addressing this:
https://github.com/microsoft/vscode/issues/109969

The idea being that if the same ids are present when you set `.items` then the cursorTop won't change but the UI will still update if a button was added or something.

[2021-08-23 18:29] jgreen-linx commented on #116934
Yes it did use to work with no issues. I see it as a regression in what they used to do

[2021-08-23 18:34] minecraftchest1 commented on #60406
I do want to add to this. I use Visual Studio Code because I am not able to install Visual Studio on my Laptop for reasons that are irrelevant to this discussion. I would love, at the very least, auto completion for WPF since I type the UI up most of the time

[2021-08-23 18:44] TylerLeonhardt commented on #128923
I've added the "quotes" support in #131292 and am planning on it releasing in stable as "experimental" because I'd like to experiment with a different mechanism of doing this in the next iteration.

[2021-08-23 18:46] TylerLeonhardt commented on #130797
I've added "quotes" support in #131292 and am planning on it releasing in stable as "experimental".

Now in the file picker `cmd+p` or `ctrl+p` you can wrap a word in quotes and it will search in a non-fuzzy way.

However, I want to experiment with another way to do this next iteration.

[2021-08-23 18:46] #130797 closed

[2021-08-23 18:46] TylerLeonhardt opened #131431 "Revisit contiguous matches"

[2021-08-23 18:51] JacksonKearl commented on #129034
Install Luna Paint, check `File => New File...` Menu:
![image](https://user-images.githubusercontent.com/8586769/130501417-1310ed65-031e-400f-8aa0-a243306c587b.png)

code pointer:
https://github.com/microsoft/vscode/blob/e909ece93a75d6e053c916b792f8b8b4a96a4bbe/src/vs/platform/actions/common/actions.ts#L48

[2021-08-23 18:52] braddurbinzeth commented on #25887
That still comes with an annoyance: you have to scroll to the correct place on the other side (look at the line number before switching, switch over, go to that line, and then paste).

[2021-08-23 18:53] connor4312 opened #131432 ""is already running dialog" displayed when restarting js-debug sessions with children"
1. Debug something that immediately spawns a child session, like the [web-worker demo](https://github.com/microsoft/vscode-js-debug/tree/main/demos/web-worker)
2. Restart the session
3. Get this dialog:

![](https://memes.peet.io/img/21-08-65419769-5afa-4060-8680-f0b2473532fe.png)

@eamodio (and I) noticed it when debugging with the webworker extension host, where the web worker host is a child of

[2021-08-23 18:56] JacksonKearl commented on #20530
@CreepyGnome if I understand correctly we actually do support what you're asking for:
![image](https://user-images.githubusercontent.com/8586769/130502230-97ee7339-2377-4fec-ac36-4bf3b3d296ff.png)

[2021-08-23 18:56] connor4312 commented on #122225
Priority on this should be bumped since it also affects extension authors building web extensions -- working in the webworker extension host.

[2021-08-23 18:58] JacksonKearl commented on #130557
Going to re-open with (new) tips and tricks label for tracking if we do add a dedicated "tips and tricks" section in the future (which I'd like to do).

[2021-08-23 18:58] connor4312 commented on #128058
I've adopted this in js-debug. Now that we have explicit signaling here, should we create a debt item to remove the previous lifecycle handling heuristics that we added with compact sessions and whatnot?

[2021-08-23 18:59] connor4312 commented on #118196
Fixed in https://github.com/microsoft/vscode-js-debug/commit/f6635d9f7dd43671a17524b2f208e132527d601a

[2021-08-23 18:59] #118196 closed

[2021-08-23 19:02] JacksonKearl commented on #130004
https://github.com/microsoft/vscode/blob/25ce48dd797f15ee8099ef37281218c7ad3a3c17/src/vs/workbench/contrib/welcome/gettingStarted/browser/gettingStarted.contribution.ts#L252-L283

I will create a testplan item for this as it is a bit more involved (multiple platforms should be tested)

[2021-08-23 19:02] sourabh112 commented on #131386
Hi @Tyriar, I want to work on it no one else is working on it. I was looking at terminalConfiguration.ts file where we have to add a new setting but Can you please elaborate on what would be the `TerminalSettingId` for that setting and what are you referring to by the default list (Is it the default key of each setting or something else) ?

Sorry, If the questions are too trivial. As it is my firs

[2021-08-23 19:04] JacksonKearl commented on #127898
@429IhD0 that is a fair feature request, please open a new issue for it.

[2021-08-23 19:07] sean-mcmanus opened #131433 "Enable extensions to set different default settings values for VS Code Insiders"
Our extension would like some way to set a default settings value differently for VS Code Insiders/Explorer versus the normal VS Code (i.e. enable new Insider-type features by default). Currently, our extension re-writes the default setting in the package.json (see https://github.com/microsoft/vscode-cpptools/blob/main/Extension/src/main.ts#L469 ).

[2021-08-23 19:07] JacksonKearl commented on #131376
`file/NewFile` contributions would ideally create new untitled files, similar to what `File => New File` does today. Would that work in your case?

Otherwise this is duplicate of https://github.com/microsoft/vscode/issues/3553, and related to https://github.com/microsoft/vscode/issues/108271

[2021-08-23 19:07] #131376 closed

[2021-08-23 19:08] #129053 closed

[2021-08-23 19:10] joyceerhl commented on #130295
Added this to the issue tracking polishing the IW.

[2021-08-23 19:16] meganrogge commented on #131404
when verifying this is fixed, also try splitting in the panel and editor (extension contributed and normal profiles)

[2021-08-23 19:16] #131404 closed

[2021-08-23 19:17] AiverReaver commented on #131350
can I work on this feature request? @wenfangdu

[2021-08-23 19:19] connor4312 opened #131434 "Suggest changes doesn't work in Github.dev"
1. Make some edits when a PR is checked out
2. Run the "Suggest Changes" command
3. 🐛
<img width="473" alt="image" src="https://user-images.githubusercontent.com/2230985/130505031-1704ab6d-d49f-4c98-9127-a0af3a1030a0.png">

[2021-08-23 19:20] igorskyflyer commented on #130367
Closing after 15 days of no reply.

[2021-08-23 19:20] igorskyflyer opened #131435 "Consuming of ES modules in extensions"
When developing extensions and using either JavaScript or TypeScript we are unable to consume ES modules, only somewhat legacy CommonJS modules, setting the `type` to `module` and rewriting the extension to use `import` instead of `require` breaks the extension, generating an exception that states that all modules should use `import` instead of `require` in internal VS Code JavaScript files, I con

[2021-08-23 19:21] igorskyflyer commented on #131435
Repost of #130367 since no response was given.

[2021-08-23 19:21] SimonSchick commented on #131434
Likewise `Applying patch failed: command 'git.stageAll' not found` does also occur when manually unstaging files first.

[2021-08-23 19:22] roblourens commented on #131359
Are there any errors in the devtools console? (Help > Toggle developer tools)

[2021-08-23 19:24] sean-mcmanus commented on #131208
Cool thanks a lot. It turns out we used to have code that modified the mtime of the extensions folder, but we removed it to avoid showing the the "Reload window" message box when it wasn't really necessary, but then we made another change that did actually require it. Fixed by https://github.com/microsoft/vscode-cpptools/pull/8032 .

I'm not aware of an alternative approach until the platform spec

[2021-08-23 19:25] roblourens commented on #131123
Could you get the same effect by just checking whether the output you are appending to it in `cell.outputs` each time?

[2021-08-23 19:28] Tyriar commented on #131386
@san-coding is probably working on this already, but you could try back in a few days if it's not tackled yet?

For the setting name let's go with `terminal.integrated.confirmIgnoreProcesses`, better suggestions are welcome though.

[2021-08-23 19:29] TylerLeonhardt commented on #130590
I think that testing this will be really flaky... so I've decided to not do this for now.

[2021-08-23 19:29] #130590 closed

[2021-08-23 19:30] connor4312 commented on #131434
Oh, though it still makes the comment: https://github.com/microsoft/vscode/pull/131405#issuecomment-904049334

[2021-08-23 19:31] TylerLeonhardt commented on #129596
Did you already give me this? I'm not sure.

[2021-08-23 19:36] TylerLeonhardt commented on #123915
One more time...

[2021-08-23 19:38] ZYinMD commented on #20652
For anybody who's still following this issue: I now use different `fontFamily` / `fontSize` / `lineHeight` for different langauges. It's good enough for me, and the switch is much faster than switching the theme.

You could try adding something like this to your settings.json and see how to works:
[code]

[2021-08-23 19:39] roblourens commented on #131417
Like https://github.com/microsoft/vscode-edge-devtools/issues/471#issuecomment-903835218 says, this is by design when  to make that view accessible all the time https://github.com/microsoft/vscode/issues/120163

[2021-08-23 19:43] TylerLeonhardt commented on #129460
Fixed in 520fa49e68f111c95ee546417d707186668ba9ab
Verification steps:

* Click a sign in choice in the Accounts menu:
![image](https://user-images.githubusercontent.com/2644648/130508863-3d6f0a3d-2e8b-43e2-9c65-9bbb2be5c62c.png)
* Verify that the browser opens but **Don't** sign in in the browser yet
* Instead go back to vscode and look for the "Sign in to github.com..." status bar item and click

[2021-08-23 19:43] #129460 closed

[2021-08-23 19:44] AiverReaver commented on #131350
It might be too early to create this PR as this is a backlog candidate but created it anyway.

[2021-08-23 19:48] yg-h opened #131437 "Add a command for toggling "Search Only in Open Editors""
I'd like to request the addition of a command for toggling "Search Only in Open Editors".

Currently we have toggle commands for toggleSearchRegex, toggleSearchCaseSensitive, toggleSearchWholeWord, etc, but not for "Search Only in Open Editors", even though it has a button in the search interface just like the others.

Screenshots to show what I mean.

![image](https://user-images.githubuserconten

[2021-08-23 19:49] #121201 closed

[2021-08-23 19:53] joshmgross opened #131438 "Unable to connect to a Codespace in VS Code Insiders"
Issue Type: <b>Bug</b>

1. Create a Codespace either via the Codespaces extension or https://github.com/codespaces
2. Attempt to connect to the Codespace from VS Code Insiders
3. Observe that VS Code will be stuck on "Opening remote..."

VS Code version: Code - Insiders 1.60.0-insider (44568e5947efa4811419e529e80fb14b7554cf61, 2021-08-23T10:42:53.526Z)
OS version: Darwin x64 19.6.0
Restricted Mode

[2021-08-23 19:53] weinand commented on #131432
Yes, the debug API `vscode.debug.startDebugging` should never trigger this warning.

[2021-08-23 19:54] roblourens commented on #131432
I actually have a similar issue with notebook debugging. I think that the startDebugging API should be exempt from this, since the session is not managed or named by the user

[2021-08-23 19:55] meganrogge opened #131439 "first terminal created is at the last spot in the group"
using the terminal split API,

1. create terminal 1
2. create terminal 2 with parent of terminal 1
3. create terminal 3 with parent of terminal 1

🐛 -> order from left to right is 2,3,1
expected: 1,3,2

[2021-08-23 20:00] weinand commented on #128058
@connor4312 you are proposing to remove the "lifecycle handling heuristics code" but not "compact sessions", right?

[2021-08-23 20:01] TechStudent11 opened #131440 "Terminal Text randomly duplicates when backspacing in split-screen mode."
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.59.0
- OS Version: Windows 10 Version 20H2

Steps to Reproduce:

1. Open VSCode in split-screen mode.
2. Open a new terminal
3. Try typing out a command
4. Try backspacing

Here is a screenshot:
![image](https://user-images.githubusercontent.com/76978184/130511574-856c089d-9355-4f6a-86b8-a57250714515.png)

[2021-08-23 20:03] TechStudent11 commented on #131440
That is not what is happening but hey looks like that is an experimental feature.

[2021-08-23 20:03] connor4312 commented on #128058
That's right

[2021-08-23 20:05] firelizzard18 opened #131441 "Color customization: disable colors"
Allow colors in `workbench.colorCustomizations` and `editor.tokenColorCustomizations` to be set to null/false/etc, to completely disable that colorization.

For example, if a color theme sets `"diffEditor.removedTextBorder"` to some value, I want to add a customization to set that to null/etc, and I want that to completely disable the border around removed text in the diff editor. Specifically, I