[2018-11-12 19:44] Yanpas opened #62967 "Creating debug task dropdown box opens too long"
Issue Type: <b>Bug</b>

Screencast:
![peek 2018-11-12 22-42](https://user-images.githubusercontent.com/7345761/48371225-5b0b8a80-e6cc-11e8-943d-f400cb79d094.gif)

First time (after boot) it takes longer, but it's already long enogh on the screencast

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:20:56.183Z)
OS version: Linux x64 4.18.16-arch1-1-ARCH

<detail

[2018-11-12 19:45] roblourens commented on #62962
Not likely to happen, our fuzzy search just matches the whole query against the path.

[2018-11-12 19:45] #62962 closed

[2018-11-12 19:47] roblourens commented on #62944
Can you tell me whether this is still an issue in 1.29?

[2018-11-12 19:50] mjbvz commented on #60956
You need to set the `baseUrl`:

[code]

[2018-11-12 19:50] #60956 closed

[2018-11-12 19:51] #55243 closed

[2018-11-12 19:54] croraf commented on #62966
OK, I now saw the issue #10007. Where it explains that there is an option to enable checking these whitespaces. Namely `diffEditor.ignoreTrimWhitespace`. Although I see the discussion, I think this option should be disabled by default and these whitespaces checked.

[2018-11-12 19:54] #62966 closed

[2018-11-12 19:57] ZachariahRosenberg commented on #62920
@isidorn focusing to the vs code window on breakpoint is fine. The issue shown in the GIF is that the focus is taken _off screen_ upon breakpoint.

To clarify, I am currently full screen focused on vs code. I have the debugger running. Break point is hit and my screen switches to my desktop (and away from VS Code).

I see now that my GIF is not clear which way it is shifting. On breakpoint, the sc

[2018-11-12 20:00] mjbvz opened #62968 ""editor.autoClosingQuotes": "always" does not always apply"
Issue Type: <b>Bug</b>

Related to #61070

**Repo**
1. Set `"editor.autoClosingQuotes": "always"`
2. In a js file with cursor at `|`:

[code]

3. Type \` (backtick)

**Expected**
Backtick is closed since we have set the mode to `always`

**Actual**
Quote is not closed

VS Code version: code-oss-dev 1.30.0 (Commit unknown, Date unknown)
OS version: Darwin x64 18.2.0

<details>
<summary>System Info<

[2018-11-12 20:03] alpaix commented on #54288
@dbaeumer How probable is it that this issue would get resolved in November milestone?

[2018-11-12 20:05] JsonWud commented on #48812
I'm still seeing this in what appears to be the latest version of vscode on Windows 10:

Version: 1.29.0 (user setup)
Commit: 5f24c93878bd4bc645a4a17c620e2487b11005f9
Date: 2018-11-12T07:47:15.448Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

Today I made the same error, inadvertently mixing two different styles of opening a file. I also replicated it wit

[2018-11-12 20:07] rightaway commented on #45492
I had to remove `--disable-gpu-blacklist` flag because it was causing very high CPU usage since very recently, possibly the last monthly release. But for some reason I'm not getting repainting issue anymore in the diff view, so the problems seems to be resolved for me at least for now. Anyone else?

[2018-11-12 20:11] nblackburn commented on #48812
I can confirm that this issue is still present in the latest version of VSCode.

[code]

[2018-11-12 20:14] ryanclarke commented on #61365
I no longer see this behavior in 1.29. Closing.
![image](https://user-images.githubusercontent.com/2686469/48372753-8cb13100-e68d-11e8-8098-4ca41189c328.png)

[2018-11-12 20:14] #61365 closed

[2018-11-12 20:18] leomoty commented on #62854
I can also reproduce this on my home computer.

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4770K CPU @ 3.50GHz (8 x 3500)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: enabled<br>fla

[2018-11-12 20:38] Muzical84 opened #62969 "Please make the ... menu in source control scrollable"
Basically, I have my entire VS Code UI set super-large--that's one thing I LIKE being able to do and why I quickly swapped to Code from Sublime.  However, I noticed that when I tried to click the ... menu in Source Control, the menu that pops up is not scrollable; the only way to see the entire thing is to shrink my UI, I think past even the default level of smallness.

<img width="953" alt="captu

[2018-11-12 20:49] T3sT3ro commented on #61238
Also what can be seen on this gif is another bug(I don't believe that it's intended behaviour): scrolling the release notes with MMB held selects the text. Same effect as holding LMB over text and scroling with keyboard arrow keys. When VS Code doesn't have focus, selection still appears and MMB scrolling doesn't work. - Windows, idk about other OSes.

[2018-11-12 20:51] BartolomeSintes commented on #61901
Yes, the problem is fixed in VSCode 1.30. Thank you. Keep up this great work!

[2018-11-12 21:33] BartolomeSintes commented on #62876
Please, don't remove the old settings editor (last item in the workbench section of this month's plan). It is easier to copy and paste all the settings at once (from one workspace to another) than modify one by one.

[2018-11-12 21:34] YangRongAtGit commented on #62932
Edit the .gitignore fix the problem.

[2018-11-12 21:34] #62932 closed

[2018-11-12 21:44] roblourens commented on #62876
We will never get rid of editing settings with a JSON file. The issue is just about the UX we have around the json settings editor (pencil icon to edit, search bar, etc).

[2018-11-12 21:46] gregvanl opened #62970 "VS Code hang"
- VSCode Version: 1.29.0 Insiders
- OS Version: Windows

Several hangs in a row. Attached are the log files from two of the hangs which contain the error `[error] [VS Code]: detected unresponsive`.

[InsidersHangs.zip](https://github.com/Microsoft/vscode/files/2573731/InsidersHangs.zip)

[2018-11-12 22:15] sebatstian-web opened #62971 "Fail to open the terminal"
- VSCode Version: **1.29.0**
- OS Version: **Windows 10 Home (64bits, compilation 17763.55)**

I love working with VS Code, but I wanted to report a bug with the latest VS update. When opening the terminal and writing some command, the display fails.

I leave a .gif to understand it better.

![Error](https://image.ibb.co/bUjuHq/error.gif)

Does this issue occur when all extensions are disabled?: Y

[2018-11-12 22:16] DonJayamanne opened #62972 "Display debugged sub-processes as a treeview"
### Terms
* **sub-process**: It’s basically a process started by a parent process (analogous to `spawn` in node).

### Debug toolbar should show run configurations in drop-down, not processes
* The current solution implemented within the python extension for sub-process debugging is as follows:
	* User launches some python code in VSC debugger
	* The user code in the python program then spins up a

[2018-11-12 22:25] mjbvz opened #62973 "Viewing yarn.lock diff seems to hang scm"
Issue Type: <b>Bug</b>

**Repo**
1. In the VS Code codebase
1. `yarn add` some package
1. In the git scm view, under `changes` open the diff view for `yarn.lock`
1. Then click on another file in the `changes`

**Bug**
The diff view loads but  remains stuck on `yarn.lock`. You cannot open an diff view for the next few minutes

VS Code version: Code - Insiders 1.29.0-insider (5f24c93878bd4bc645a4a17

[2018-11-12 22:31] mjbvz commented on #62973
Seems caused by some extension. Looking into which one...

[2018-11-12 22:33] hanvyj commented on #62948
The test example was in a new "project" (well, a new folder in Documents) with just two files. There are no other build processing or tooling running on it, it's just a folder with a text file in. I've also experienced on random config files I was editing, so I'm pretty sure its not something else holding the file.

It's a new work machine so I'm not sure what they've installed on it, but I doubt

[2018-11-12 22:42] mjbvz commented on #62973
Caused by spellright:  https://github.com/bartosz-antosik/vscode-spellright/issues/229

[2018-11-12 22:42] #62973 closed

[2018-11-12 22:50] auchenberg commented on #62941
@harsha20599 What version of VS Code are you trying to download?

[2018-11-12 22:50] thepunkprogrammer opened #62974 "Multi cursor paste issue"
on pasting more than 1 line of code with multiple cursor enabled , pasted single line of code on the different instances of Multiline cursor.

[2018-11-12 22:54] mjbvz opened #62975 "Recommend to disable an extension in .vscode/extensions.json"
Issue Type: <b>Bug</b>

**Feature Request**
Allow workspace authors to recommend that an extenion be disabled in the workspace.

**Example Use Case**
When migrating the VS Code workspace to use the new `typescript-tslint-plugin` extension, we'd like to ensure that users disable the old `eg2.tslint` extension. There does not currently seem to be a clean way of doing that.

It would be nice if we co

[2018-11-12 22:54] octref opened #62976 "Web Components support in HTML files"
Related:

- https://github.com/Microsoft/vscode/issues/2784
- https://github.com/octref/vuetypes

## Problem

WebComponent offers a JavaScript API to define HTML tags / attributes. We want people to get completion, diagnostics and other language features that's already available to the HTML server.

## Approach

We plan to:
- Define a JSON schema for tag/attribute definition JSON file (like dts fo

[2018-11-12 22:56] akshaybabloo commented on #62610
nevermind. Fixed it.

[2018-11-12 22:56] #62610 closed

[2018-11-12 22:59] alexhass commented on #62581
How should we set enteeprise settings than?

[2018-11-12 23:00] neilyoung commented on #62040
Confirmed. Gone with October update of "ordinary" Code :) Thanks

[2018-11-12 23:01] mjbvz commented on #60315
I've cherry-picked cd74cd275ea7b5f11d133edb4a3f124a1a1b65af to master

@dbaeumer Please look into the same name issue

[2018-11-12 23:04] mjbvz commented on #62892
From https://github.com/mjbvz/vscode-github-markdown-preview-style/issues/40 seems to be cause by custom `files.associations` such as setting:

[code]

[2018-11-12 23:09] lzantal commented on #62501
@kieferrm just tried that and it's still looks the same blurry. Found the same workaround in other places too but it's not working for some reason.

[2018-11-12 23:18] mjbvz commented on #62892
@bxantus Please try the next  VS Code insiders build and let me know if you still see this issue. Using your example extension, In confirmed that setting

[code]

broke the css.

[2018-11-12 23:19] lzantal commented on #62501
Ok it is all good now thanks @kieferrm I had a hunch and did a full shutdown and once it turned back on now it looks better. Not the same as it was before but I can't complain.

[2018-11-12 23:21] weinand opened #62977 "Finalize DebugAdapterDescriptorFactory API"

[2018-11-12 23:26] mjbvz opened #62978 "JS/TS loading indicator is only shown when loading first project"
**repo**
1. Open the VS Code code base. Make sure to have no files open
1. Now open a ts file in one of the extensions, such as under `extensions/git`
1. Briefly see `Initializing JS/TS language features progress indicator in status bar`
1. Now open a ts file in the main VS Code code base

**Bug**
Language features are not available at first but there is no progress indicator.

**Fix**
Use https:/

[2018-11-12 23:31] lucasyvas commented on #53812
I am in the same position. The custom title bar looks great - I don't mind if it can't inherit the button style, but the positioning would be a nice start!

[2018-11-12 23:52] Yidy opened #62979 "failed to install all extensions - it shows a non-stopping progress status"
Issue Type: <b>Bug</b>

VS code installed on Windows 8.1. But in is not installing extensions. It shows a contineous installing status. Tried all suggestions from forums with no success.

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)
OS version: Windows_NT x64 6.3.9600

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(

[2018-11-13 00:23] aardappel opened #62980 "Global search and replace with regexp containing newlines does not substitute variables"
- VSCode Version: 1.29.0
- OS Version: Linux / Ubuntu

Supposedly this issue was fixed in https://github.com/Microsoft/vscode/issues/9010 (which is now locked), but it is not working for me still.

Steps to Reproduce:

1. Use a global search regexp pattern with group occurrences such as (.*)
2. Refer to them in the pattern with `$1` etc.
3. Notice in the preview (double click on result) it shows `

[2018-11-13 00:27] rebornix commented on #62810
@mergesort after disabled all extensions, can you try

* search `cursorHomeSelect` in the keybindings editor?
* Press the first option button in the the search inputbox (looks like a keyboard and its title is "Record Keys"), and then press "Cmd+Shift+Left" and see what's being inserted into the search box?

[2018-11-13 00:29] rebornix commented on #62884
Could you please follow steps in https://github.com/Microsoft/vscode/wiki/Performance-Issues to help troubleshoot?

[2018-11-13 00:42] rebornix commented on #62434
@ShangLiChun could you please provide detailed information?

[2018-11-13 01:24] andyl commented on #23991
Yesterday I found that my problem was a bad setting in `keybindings.json`.  Once I removed this, <Esc> works fine on Xubuntu 18.04 configured using `setxkbmap -option caps:swapescape`.

[2018-11-13 01:34] roblourens commented on #62967
All of your debug extensions are being activate, and you have some extension taking a long time to activate. I know the C# extension can be slow to activate. You may want to check which one is being slow and disable it if you aren't using it.

FYI @isidorn

[2018-11-13 01:34] #62967 closed

[2018-11-13 01:40] roblourens commented on #62980
Can you share the exact regex search/replace? This works for me

[2018-11-13 02:05] RaccoonFive commented on #1751
The fact that we don't have this yet makes a lot of templating language syntax extensions like twig or erb pretty bad since there's no native html auto completion with them and most of what you write using these is actually html.

[2018-11-13 02:05] mjbvz opened #62981 "Don't use non-standard MouseWheelEvent in codebase"
Issue Type: <b>Bug</b>

**Problem**
The `MouseWheelEvent` dom event type is non-standard and has been deprecated: https://developer.mozilla.org/en-US/docs/Web/API/MouseWheelEvent

We use this type in a few places in the VS Code code base

**Proposed Fix**
See if we can migrate the the standardized `WheelEvent` instead: https://developer.mozilla.org/en-US/docs/Web/API/WheelEvent

VS Code version: c

[2018-11-13 02:12] zhangyu921 opened #62982 "搜狗拼音输入法插入 /吧"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2018-11-13 02:20] zhangyu921 opened #62983 "搜狗拼音输入法莫名插入 “/b” 退格字符"
- VSCode Version: 1.28.2
- OS Version: macOS 10.14

Steps to Reproduce:

输入中文，偶尔中断输入后，输入法似乎会用退格字符删除当前已经输入的文本，但被编辑器捕获为一个字符，却不被展示，导致编译不过去，有看不出问题。

另：在编辑graphql文件，不知道会不会有影响。

Does this issue occur when all extensions are disabled?: Yes/No
偶现

[2018-11-13 02:22] davidpope opened #62984 "command 'workbench.action.editorLayoutCentered' not found"
- VSCode Version: 1.29.0
- OS Version: Linux - Xubuntu 18.10

Steps to Reproduce:

1. Click View -> Editor Layout -> Centered

Does this issue occur when all extensions are disabled?: Yes

Expected behavior: The view switches to centered layout.
Actual behavior: Error message displayed

![image](https://user-images.githubusercontent.com/1066706/48386697-7b314e80-e6b8-11e8-9819-a5b8372f4c79.png)

S

[2018-11-13 02:25] edunsouza commented on #62922
@chrmarti i uninstalled some angular, ionic and cordova extensions and now vscode seems to be normal again!! Thank you so much.

I dont know exactly which one of the 6 - 7 extensions was eating the ram, but they were all related to ionic, cordova and angular tools.

Sorry for not helping enough.

[2018-11-13 02:40] pavanagrawal123 commented on #62880
@chrmarti there is no button to restore it to the original size which was my main concern, but I feel like it's kinda nit picky, so I'm fine with this request staying closed.

[2018-11-13 03:07] djbreen7 commented on #62816
Looks like this was a bug on the Solution-Explorer extension

https://github.com/fernandoescolar/vscode-solution-explorer/issues/49

[2018-11-13 03:07] #62816 closed

[2018-11-13 03:10] WXZA opened #62986 "Updata failed"
![image](https://user-images.githubusercontent.com/44490742/48388486-77431200-e734-11e8-8109-5123047f80c6.png)
![image](https://user-images.githubusercontent.com/44490742/48388496-80cc7a00-e734-11e8-90d6-086b9e8ff540.png)
![image](https://user-images.githubusercontent.com/44490742/48388515-9477e080-e734-11e8-8a11-1b2b7b0c43c8.png)

How to deal with it?

[2018-11-13 03:10] sunwgit commented on #62726
I have the same issue since version 28.
<img width="881" alt="vscode_git_bug" src="https://user-images.githubusercontent.com/11364780/48388558-bd987100-e734-11e8-9afd-4d271bf9b1d0.png">

[2018-11-13 03:11] ktowen opened #62987 "Error in Restore Panel Size button when change focus in fullscreen"
Issue Type: <b>Bug</b>

In fullscreen mode with the panel at the bottom open and maximized, when the focus changes (Alt+tab) the button changes to Maximize again but the panel it's already maximized

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:47:15.448Z)
OS version: Windows_NT x64 10.0.17134

[2018-11-13 03:13] #62511 closed

[2018-11-13 03:22] ramya-rao-a commented on #62491
@neeravp We use https://github.com/emmetio/abbreviation to parse the emmet abbreviation. For us to support this case of `div.width1/2`, this module should support it which it doesnt.

Please log a feature request at https://github.com/emmetio/abbreviation for the same.
Once it is implemented there, we can absorb the changes here.

[2018-11-13 03:22] #62491 closed

[2018-11-13 03:24] ramya-rao-a commented on #62729
@QianChenglong Have you tried the `Go: Browse Packages` command?

[2018-11-13 03:34] roblourens commented on #60187
Would that transpile the file on demand? I guess that would help but it would be simpler if there was one command to transpile the full project to a predictable location.

Ideally we could prepare the project with a `preLaunchTask` in the vscode launch config, then load the sourcemaps using `outFiles`.

[2018-11-13 03:35] liubiantao commented on #62959
Maybe this is the real reason for the bug, even not, I learned a shortcut key to `Toggle Tab Visibility`,
 thank you @alekseyt .

[2018-11-13 03:35] zhangyu921 commented on #62983
额。。查到了相关问题的[解释](https://juejin.im/entry/5a806ddef265da4e84092eeb)，先关了。

[2018-11-13 03:35] #62983 closed

[2018-11-13 03:57] chnliquan opened #62988 "How to define custom search box in treeProvider"
- VSCode Version: 1.28.2
- OS Version: 10.3.3

Steps to Reproduce:

1. I want to add a search box in my view treeProvider like this

![image](https://user-images.githubusercontent.com/34906299/48390019-06ebbf00-e73b-11e8-8765-a949fe18da8f.png)

2. I can`t find an api to do this, please tell me how to create a search box to filter my treeProvider data

Does this issue occur when all extensions are

[2018-11-13 04:35] dhalima3 commented on #62534
Using `git.stageSelectedRanges` and `git. revertSelectedRanges` works when the cursor is on the same line as the change.  However, it seems that invoking the command `workbench.action.editor.nextchange` doesn't move the cursor resulting in the git commands not working.

Will this be addressed as part of this [issue](https://github.com/Microsoft/vscode/issues/51031) and merge request?

[2018-11-13 04:38] deadcoder0904 commented on #62889
Nope, so I'll close this. Its an issue with some extension I guess.

[2018-11-13 04:38] #62889 closed

[2018-11-13 04:41] mmis1000 opened #62989 "A way to expand mapped types"
I want to be able to expand mapped type in intellisense

Currently, mapped types is displayed directly with the mapper and original type, which is unhelpful at all

![2018-11-13 12 33 16](https://user-images.githubusercontent.com/2993977/48391169-66989900-e740-11e8-9335-cd70518f74bb.png)

With the ts 2.8 condition type,
you cant write more powerful declaration to map almost everything to correct t

[2018-11-13 05:02] roblourens commented on #60187
I added a flag that will make this work a little better. In the next Insiders build you can set `"_disableOptimisticBPs": true` to prevent vscode from setting breakpoints until a sourcemap has loaded for the script. This will mean that breakpoints will only bind to the correct line, but they probably won't bind before the test actually runs. So you can add a `debugger` statement to the top of the

[2018-11-13 05:02] #51698 closed

[2018-11-13 05:07] roblourens commented on #60187
I'm still not clear on the workflow for debugging with chrome devtools. If people are used to adding debugger statements everywhere, then this isn't that bad.

Really what we need is a way to pause when a script is loaded. Chrome gives us this, Node does not.

Maybe an option to have Babel insert a debugger statement into each test would be helpful.

[2018-11-13 05:11] fedorinoGore opened #62990 "Fantom clicks in the editor"
Issue Type: <b>Bug</b>

Fantom clicks on NEWEST MACBOOk PRO. GODDAMIT! RUINED MY LOVELY BUILD WORKFLOW. VS CODE IS TOTTALY USELESS NOW. HAVE TO MOVE TO OTHER EDITOR
The problem is that I haver no percise control over my code anymore. I tried mouse + turning off touch panel + external keyboard - and its not worked out. My cursor still lives his own life!!!! I cant write code as cursor jumps and my

[2018-11-13 05:35] SamvelRaja commented on #62826
@chrmarti
I can see node-pty available in `node_modules.asar.unpacked` folder but requiring it is not working in the extension host code 🤔

![capture1](https://user-images.githubusercontent.com/5114052/48393044-f6841600-e733-11e8-8e89-4efb666197d7.PNG)

It is the zipped version downloaded.

[2018-11-13 05:41] wongjiahau commented on #10026
It's been 2 years . . .

[2018-11-13 05:46] SamvelRaja commented on #62826
Regarding Virus scanner, it is not problem with that.

[2018-11-13 05:54] HeathLee commented on #10026
any progress???

[2018-11-13 06:15] Davidhanson90 commented on #10121
I just want to voice my opinion on this.  I think about great deal of developers have more than one monitor and using them effectively is a big win for productivity.

I'm not sure why this feature never gets progressed as it has massive support and given code is electron app it's perfectly doable and degradable if you ever ran outside of electron.

In a word please support MDI in vscode.

[2018-11-13 06:19] MVDraurus opened #62991 "Terminal is not split"
Issue Type: <b>Bug</b>

The termonal is not broken, neither with the button and with the kay combination, until the update worked, please check ...

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:42:27.562Z)
OS version: Linux x64 4.9.0-8-amd64

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Pentium(R) CPU 3825U @ 1.90GHz (4 x

[2018-11-13 06:30] oneslash commented on #62225
@chrmarti, I think we can close the ticket.

[2018-11-13 06:32] V0idk opened #62992 "I need a "Alway on top" buttom"
- VSCode Version: 1.29.0
- OS Version: Ubuntu 18.04

Steps to Reproduce: I need a "Alway on top" buttom but right click on the title bar is disable when "window.titleBarStyle": "custom" on linux.

![image](https://user-images.githubusercontent.com/17514799/48395074-e890be00-e750-11e8-882d-e5719694dc89.png)

[2018-11-13 06:48] nsolthe commented on #62936
I am behind a proxy and unfortunately I can't avoid it (Company Network). I configured cntlm and apt so that I get no issues wit the proxy for all the other packages an stuff.
The most weird thing is that before re-installing Mint 19 I was perfectly able to update everything.

I'll have a chat with the network/proxy guys.

[2018-11-13 06:56] simplast opened #62993 "保存功能和代码折叠冲突"
当我按下CTRL+S时，所有我折叠的代码都自动展开了，要疯！

[2018-11-13 06:56] sandy081 commented on #62979
@Yidy Can you please do following steps:

- Set log level to `trace` using `set log level` command from Command Pallette
- Open Shared Process logs in Output panel
- Retry the install operation
- Share us the logs

[2018-11-13 07:07] gulshan commented on #41627
Ok. This is a planned feature for November iteration!

[2018-11-13 07:24] Javid-Izadfar opened #62994 "Keybindings Not Working Anymore"
Issue Type: <b>Bug</b>

I've been using VSCode for quite some times with my own key binding settings. I've updated VSCode recently and these keybindings (like my custom emmet abbrevation) fail.

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CP

[2018-11-13 07:42] formulahendry opened #62995 "Markdown relative image in preview not shown"
Steps to Reproduce:

On windows

For a folder structure:
[code]

With doc.md:
[code]
1. Open doc.md directly (don't open the folders)
2. Open preview

bug
No image shown in preview.

[2018-11-13 07:43] jrieken opened #64526 "Support nls"
This extension should be localised for other languages

[2018-11-13 07:54] micobarac opened #62996 "Format on save messes up original HTML file format"
- VSCode Version:
1.28.2 (1.28.2)

- OS Version:
macOS Mojave 10.14.1
Windows 10 x64

Steps to Reproduce:

1. Create new or edit an existing HTML file with new lines and indenting
2. Save HTML file with Format on Save active
3. Most of the time the VSCode compacts some parent tags into one line tags and messes up the original HTML file format. Some other tags are split over multiple lines. Sometim

[2018-11-13 07:57] tbbrave opened #62997 "osx asks to select python intepreter everytime reopened"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.on macos
2.open python code
![image](https://user-images.githubusercontent.com/9070847/48398752-9b1a4e00-e75c-11e8-82ae-081edde93516.png)

Does this issue occur when all extensions are disabled?: Yes/No

[2018-11-13 07:59] chrmarti commented on #62936
Not much we can do then. Let us know if you find a solution. Thanks.

[2018-11-13 07:59] #62936 closed

[2018-11-13 08:01] vSanjo commented on #62876
The search bar is a little annoying in `settings.json` view. I'd rather be looking through my settings I've set over the settings I have available. Perhaps a toggle between the two?

[2018-11-13 08:03] xiaojun2sheng opened #62998 "时间使用过长的时候会出现程序卡死的状态"
所需的数据太大，无法直接发送。我们已经将其写入剪贴板，请粘贴。

[2018-11-13 08:04] songyule opened #62999 "Open two projects with 100% CPU usage in the latest version"
- VSCode Version: 1.29.0
- OS Version: MacOS 10.12.6

Steps to Reproduce:

1.Open two proiects
2.
![image](https://user-images.githubusercontent.com/23656890/48399126-b76aba80-e75d-11e8-8869-905ec4e1c2bf.png)

Does this issue occur when all extensions are disabled?: Yes/No

[2018-11-13 08:06] chrmarti commented on #62767
Awesome, thanks @cleidigh!

We collect the languages we only have basic support for under `languages-basics` (like Python, C#, C/C++). Their full-fledged support comes through extensions. We should be fine without adding extra labels for these.

I'll review the list and post an updated list here.

[2018-11-13 08:11] nsolthe commented on #62936
After the updating the Kernel the .deb Package installation worked.

So I started comparing the `/etc/apt/trusted.gpg.d/microsoft.gpg` and `/etc/apt/sources.list.d/vscode.list` from manual installation and from the .deb Package installation.
The .deb package creates a `/etc/apt/sources.list.d/vscode.list` without https. Following the command line installation there is the one step `sudo sh -c 'ech

[2018-11-13 08:18] okieselbach commented on #61793
Microsoft wants to push MSIX for everything, why not making a kind of lighthouse project and bringing VSCode with a MSIX installer. Beneficial for users because of clean install and uninstall. Support of the proposed new MS installer way 👍, and sure a good PR sign to show. Look here we support MSIX, go ahead and provide MSIX installer for your application as well. Just my 2 cents. I would love to

[2018-11-13 08:19] lysigk commented on #62999
Same problem here, even when only one project is opened.

- VSCode Version: 1.29.0
- OS: Arch Linux

Additional observations: The CPU usage goes up after a few minutes and stays at 100%. At the same time, several keyboard shortcuts stop working as expected (could be realated to #62994 ). Restarting VSCode helps, but only for a short period of time.

[2018-11-13 08:23] zittix opened #63000 "macOS: Menu is not functional when window is minimized"
- VSCode Version: 1.29.0
- OS Version: OS X Mojave 10.14.1

Steps to Reproduce:

1. Open a VSCode window
2. Minimize it by clicking the yellow (-) on the top left corner of the window
3. Either with the CMD-Shift-N or with the File->New Window menu, try to open a new window. Nothing appears

Does this issue occur when all extensions are disabled?: Yes

Screencast:
![screen recording 2018-11-13 at

[2018-11-13 08:26] fbricon opened #63001 "Recommended XML extension in VS Code"
Currently, VS Code recommends to install https://marketplace.visualstudio.com/items?itemName=DotJoshJohnson.xml, when an XML document is opened or when you search for XML, in the extensions view:

<img width="489" alt="screen shot 2018-11-13 at 3 14 08 am" src="https://user-images.githubusercontent.com/148698/48399642-375b3b00-e6f2-11e8-92a8-ec38a7b3c2f1.png">

[`redhat.vscode-xml`](https://market

[2018-11-13 08:29] jlandersen opened #63002 "Blank screen after update"
- VSCode Version: 1.29.0
- OS Version: MacOS Mojave 10.14.1

After automatically being upgraded to 1.29, Code now just shows a blank screen for me.
![screenshot 2018-11-13 at 09 28 05](https://user-images.githubusercontent.com/2197398/48400374-799e6f80-e726-11e8-95fe-13f53b444dc2.png)

Logs from `code --verbose`:
[code]

Does this issue occur when all extensions are disabled?: Yes

[2018-11-13 08:34] jackliao2018 opened #63003 "cmd+c快捷键失效了"
Issue Type: <b>Bug</b>

cmd+c快捷键失效了

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:39:38.932Z)
OS version: Darwin x64 18.0.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz (12 x 2200)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: enabled<br>flash_stage3d: enable

[2018-11-13 08:39] sgyzetrov commented on #62970
Hi, I am also experiencing hang. VS Code version Version 1.29.0, macOS 10.13.6 (17G3025)

But unfortunately, because the window was unresponsive, I cannot get developer tool to launch, so I did not get any CPU profiling. But I do have control over other VS Code windows running separately to the window that frozen. Will profiling other windows produce useful information? Also, during the hang, Code

[2018-11-13 08:42] RamonRobben commented on #62475
Hi I've profiled again. During the latest profiling it lagged long so maybe that one gives more info than the second one.

[profiles.zip](https://github.com/Microsoft/vscode/files/2575335/profiles.zip)

[2018-11-13 08:43] chnliquan opened #63004 "registerCompletionItemProvider include extra data"
- VSCode Version: 1.29.0
- OS Version: 10.3.3

Steps to Reproduce:

1. when i use `registerCompletionItemProvider` api, the IntelliSense include some extra data like this
![image](https://user-images.githubusercontent.com/34906299/48401021-023b0100-e763-11e8-8fd8-2ca5e329a255.png)

2. i just want my data show

Does this issue occur when all extensions are disabled?: Yes

[2018-11-13 08:46] isidorn commented on #41627
Just as an exploration for now. But we plan to address this feature in the near future.

[2018-11-13 08:47] isidorn commented on #62040
Thanks

[2018-11-13 08:51] joaomoreno opened #63005 "Git: Support to open file on click, by default"

[2018-11-13 08:53] joaomoreno commented on #62681
@jrieken Maybe we can preemptively assume files are ignored, if folder is ignored? Maybe we could animate the fade out?

[2018-11-13 08:56] joaomoreno commented on #62754
What do you mean by _crashing_? Can you share a screenshot, or a screen recording?

[2018-11-13 08:59] chrmarti commented on #62767
@cleidigh Appending the updated list. Could you apply it with your script?

[code]

[2018-11-13 09:03] thany commented on #62790
With extensions disabled and all my settings commented away, the problem is still there, and exactly as noticable.

[2018-11-13 09:03] chrmarti opened #63006 "Issue reporter: Detect language and suggest automatic translation"
The issue reporter could use Bing Translator (or similar) to detect the entered language and suggest a translation if it is not in English.

[2018-11-13 09:03] joaomoreno commented on #62792
Let me know if you can repro.

[2018-11-13 09:03] chrmarti commented on #56883
@cleidigh I like the idea. Filed #63006 to track.

[2018-11-13 09:04] joaomoreno commented on #62813
/duplicate #5770

[2018-11-13 09:04] #62813 closed

[2018-11-13 09:06] joaomoreno commented on #62903
Can you show me what `Git: Show Git Output` shows?

[2018-11-13 09:13] #61769 closed

[2018-11-13 09:15] joaomoreno commented on #62820
/duplicate #62524

[2018-11-13 09:16] #62820 closed

[2018-11-13 09:16] joaomoreno commented on #62524
@alexandrudima Any clue? @Astrantia also gets this simply by opening a new window using a keybinding.

[2018-11-13 09:16] zymr-keshav commented on #62996
same issue here

vs code v 1.29.0
macOS v _10.13.6_ High Sierra

 - No HTML formatter extension installed/enabled

settings
_Format On Save: Disabled_

now when I make any change and save the file (⌘ + s) it changes HTML semantics weirdly and it turned 1 line of HTML into 10 lines and each line have single HTML attribute, [see this image](https://imgur.com/a/DaAEYlj)

[2018-11-13 09:17] joaomoreno commented on #62925
How big is the folder?

[2018-11-13 09:17] ndbroadbent opened #63007 "Copy the complete and formatted value from the Variables pane"
Maybe related to: https://github.com/Microsoft/vscode/issues/2163

I'm working on some tests for a library that modifies webpack configuration. I started the debugger to inspect the current webpack config, and now I'm struggling to copy/paste the existing rules so that I can use them as a test case.

I don't want to use `JSON.stringify` to get the string output because the JS object contains some

[2018-11-13 09:18] joaomoreno commented on #62300
Can you please check?

[2018-11-13 09:20] #21340 closed

[2018-11-13 09:29] joaomoreno commented on #62726
@bibblebabl I see a `4` on the SCM view icon... where did you expect the changes to appear?

[2018-11-13 09:30] chrmarti commented on #62948
Looks like https://github.com/Microsoft/vscode/issues/61310. Could retry with the released VS Code 1.29.0?

[2018-11-13 09:30] joaomoreno commented on #62986
/duplicate #52855

Please fully reinstall VS Code. Sorry for that.

[2018-11-13 09:30] #62986 closed

[2018-11-13 09:31] bam opened #63009 "Center layout autoresize with integrated terminal"
In #53989 there was implemented nice behaviour for center layout! Thanks! *But* a split mode isn't the only way when you reduce width of the editor area.
So I think (and I know it on my own though) it will be useful to add similar behaviour when integrated terminal is toggled and it's vertical.
1. Single editor mode. Center layout enabled
2. Toggle vertical integrated terminal
3. Center layout dis

[2018-11-13 09:32] chrmarti commented on #62922
Does it reproduce when starting with `code --disable-extensions`?

[2018-11-13 09:34] chrmarti commented on #62699
/findDuplicates

[2018-11-13 09:37] chrmarti commented on #62225
@oneslash Thanks.

[2018-11-13 09:37] #62225 closed

[2018-11-13 09:42] chrmarti commented on #62936
Sounds like your proxy configuration is different for http from https. @Tyriar might know why we use both.

[2018-11-13 09:43] dbaeumer commented on #60315
Will do but has to wait until next week.

@alexr00 do you want to give this a try. Will expose you to multi root workspace and all the fun with tasks in that setup :-)

[2018-11-13 09:47] zymr-keshav commented on #62996
I have disabled all extensions and it is working fine but do not know which is the culprit and obviously, we need those extensions for our ease and help.

[2018-11-13 09:47] dbaeumer commented on #62623
@DonJayamanne yes, that is true. The reason why I asked him to start with the extension is that it seems to work for all the other extensions (see his screen shot). So there seems to be something special with Python here. So in these cases we usually start with the extension that shows the problem. I am not saying that this is not a bug in VS Code. Are you able to reproduce this?

[2018-11-13 09:50] isidorn commented on #62948
Yeah closing as duplicate.
@hanvyj if you can repro with latest vscode let us know and I will reopen. Thanks

[2018-11-13 09:50] #62948 closed

[2018-11-13 09:51] vvs opened #63010 "Regression: Emmet is broken"
Issue Type: <b>Bug</b>

I have just upgraded to the latest VS Code Insiders, and Emmet doesn't work anymore at all.

VS Code version: Code - Insiders 1.30.0-insider (c72cb129f2a0b8117c9b01f3767026041d7d1d31, 2018-11-13T06:19:28.504Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6700K CPU @ 4.00GHz (8 x 4008)|
|GP

[2018-11-13 09:52] dbaeumer commented on #54288
@alpaix we published the November plan yesterday and we didn't add this. So I would say very unlikely. If this is urgent we need to talk to @kieferrm to see if we can re-schuffle things?

[2018-11-13 09:52] vvs commented on #63010
Here's what I see in the log:

[code]

[2018-11-13 09:53] dbaeumer commented on #54288
@kieferrm this is not minor work: needs new API and a new concept we currently don't have.

[2018-11-13 09:57] DonJayamanne commented on #62623
Nope, not my end

[2018-11-13 09:58] joseph1125 commented on #62999
I experience the same problem here

VSCode Version: 1.29.0
OS: Windows 10 Pro

[2018-11-13 09:59] joseph1125 commented on #62998
Please try to use english if you can, and this is a duplicate of #62999

[2018-11-13 09:59] sigalvo opened #63011 "Add an option to enable CORS for the editor css file"
When the editor.main.min.css is loaded from CDN, a crossorigin': 'anonymous attribute need to be added to the link node in order to allow CORS. Otherwise the css file considered as un-trusted by the browser.
Is it possible to add the attribute to the link node, or to add a boolean option to add it?

Thanks,
Violet.

[2018-11-13 10:00] joseph1125 commented on #62970
1.29 stable with Windows 10 also experience this problem

[2018-11-13 10:01] weinand commented on #63007
VS Code knows nothing about JavaScript or JSON.
And since you do not even know what serialisation format you need/want, I think VS Code is out of the loop here.

I suggest that you first create a (global) utility function that serialises an object into your format. Then you can use this function either in a watch expression, interactively in the REPL, or you can store the resulting string in addit

[2018-11-13 10:01] micobarac commented on #62996
Actually, **Prettier - Code formatter** extension was the only one active and was causing all the problems.

Sorry VSCode guys!!!

[2018-11-13 10:03] sigalvo opened #63012 "No fallback for css script that fails to load"
\If the scripts are loaded from CDN and it's down, there won't be a fallback to the fallback path from requirejs config.
I see the following comment in the code: “In IE there is no way to know if the CSS file loaded successfully or not.”
This is not accurate. Since we can know whether the CSS was loaded successfully be validating that stylesheet.cssRules.length > 0 in the onload callback.

Thanks,

[2018-11-13 10:04] sandy081 commented on #62370
Inline widget renders the source and code similar to Problems view.
Hover renders the source and code as suggested in description

![image](https://user-images.githubusercontent.com/10746682/48405935-8c6b7100-e733-11e8-83ff-91a81e97eb44.png)

@jrieken @joaomoreno @misolori Feedback is welcome.

[2018-11-13 10:05] joaomoreno opened #63013 "Typescript no longer auto importing suggestions"
When picking a suggestion from another module, TS no longer auto imports that suggestion. I have to trigger suggest once again, accept the only change and then it gets imported.

![peek 2018-11-13 11-05](https://user-images.githubusercontent.com/22350/48406190-26cbb480-e734-11e8-9dd5-ac3b66ac8291.gif)

[2018-11-13 10:05] isidorn commented on #62945
Can you reproduce this with latest vscode insiders
https://code.visualstudio.com/insiders/

[2018-11-13 10:06] dbaeumer commented on #62623
I think what is special with his setup is that is OS locale is already Brazillian Portuguese. Could that have an impact for the Python extensions?

[2018-11-13 10:12] chrmarti commented on #52880
Good old Node.js: This works, except that the `https.globalAgent.options.ca` is ignored when you pass an agent with the options to `https.get`/`request`. In that case you also need to pass the `ca` with the options. Of course not all node modules (e.g., `adal-node` for AAD sign-in) allow you to pass options to their requests, but pass an agent themselves.

For testing I used https://github.com/sal

[2018-11-13 10:13] #62518 closed

[2018-11-13 10:17] tomaxsas commented on #62970
same here with Win 10 and 1.29.0

[2018-11-13 10:17] piotrkochan commented on #8641
I'm in fact suprised that code vscode, so popular and feature packed editor requires to use xbindkeys hacks to provide mouse-buttons navigation...

[2018-11-13 10:29] jrieken commented on #62370
I think having source and code on separate lines gives them way more attention than they should have.  And to my eyes it also looks ugly. What again is wrong about the inline rendering and why is it only wrong in the hover?

[2018-11-13 10:29] isidorn commented on #62987
I can not reproduce this. Can you reproduce with latest vscode insiders
https://code.visualstudio.com/insiders/

If yes can you attach a short video showing this?

[2018-11-13 10:30] isidorn commented on #62920
@ZachariahRosenberg ok got it. So the issue is that `this.windowService.focusWindow()` seems to focuses the wrong OS X space. Forwarding to @bpasero since this sounds like an Electron issue.

[2018-11-13 10:31] jrieken commented on #62970
@sgyzetrov @joseph1125 @tomaxsas Only CPU profiling will help us understand this. If the hang is very bad, then restart VS Code, start dev tools and keep them in the background, and profile when the editor is unresponsive.

[2018-11-13 10:35] micobarac commented on #62996
I have some pretty long HTML tags. Setting `printWidth` to 300 didn't solve the problem :(.

Original:

[code]
Bad Prettier Formatting:

[code]

[2018-11-13 10:37] alexr00 commented on #62817
@emersonp, can you give me an example of an editor or IDE that does this correctly please? I want to make sure I'm reproducing this the right way.

[2018-11-13 10:38] adzchappers opened #63015 "1.29.0 "files to exclude" in Search not working"
Just updated to 1.29.0 and the "files to exclude" in the search bar isn't working.

Before the update I could just put in a folder name: ./app and this would exclude the app folder, since the update this isn't working, and is being ignored.

Appears that if I select the "Use Legacy Search" option, then this fixes it. However, this is stated as being legacy/deprecated so would appreciate a better s

[2018-11-13 10:42] DaanDeMeyer commented on #36148
Not sure if this is the right place to post this, but I'm also having an issue with indentation in C++ source files. I'm not using the VSCode C++ extension so I'm assuming this behaviour is coming from stock VSCode.

When writing a function definition, after writing the opening brace (vscode automatically inserts the closing brace) and pressing Enter, vscode indents the next line way too far. I've

[2018-11-13 10:43] #62949 closed

[2018-11-13 10:45] isidorn commented on #62908
@paulo-fernando-silva I tried to reproduce your issue by changing nodeDebug to not suppor delayed stack trace loading and I could not.
Only one stack trace is being sent out.

If you would like to dig deepere, please F1 > developer tools > wait a bit and open `rawDebugSession.ts` and put a breakpoint [here](https://github.com/Microsoft/vscode/blob/1df80b25cc7ddfa372f34f4332e16699a31ab4ff/src/vs/wo

[2018-11-13 10:48] deviant-studio commented on #62903
@joaomoreno do you mean this one?
[code]

[2018-11-13 10:54] isidorn commented on #62841
Ok, your point makes sense. These actions should be light and preserve view state.

The only case I found when we should dispose but we do not is when the user explicitly hides the whole viewlet.
1. Open explorer
2. Right click in activity bar to hide the explorer
3. Notice that the views are not disposed

@sandy081 would you like me to look into this or will you?

[2018-11-13 10:54] Azarien opened #63016 "Provide file icon for .code-workspace extension."
Given that workspace files work similar to solutions in other IDEs (so that one can click on workspace file or on a desktop link to workspace file in order to open the workspace), those files - with .code-workspace extension - should have some meaningful icon, instead of generic document icon.

[2018-11-13 10:56] saschanaz commented on #10759
Because no store-only killer Windows app exists yet, except OneNote.

Distribution via Microsoft Store won't remove the current installer (just as InkScape and Paint.NET keep both), so IMO your enterprise policy is never a blocker.

[2018-11-13 10:56] sory5080 opened #63017 "Curseur bloqué"
Nous avons écrit les données nécessaires dans votre presse-papiers, car elles étaient trop volumineuses à envoyer. Veuillez les coller.

[2018-11-13 11:05] alexr00 commented on #62800
I can see it repro now. The step I used:

Install SSH FS
Add an arbirary sshfs.configs to settings. I just copied it out of the extension info.
Run the SSH FS: Connect as workspace folder command with your new dummy config
Type up this example:

    {
	    "good-url": "http://doc2.json",
	    "bad-url": "ssh://microsoft.com/doc2.json",
	    "unhighlighted-url": "unregistered://foo.json"
    }

See

[2018-11-13 11:08] FyFou commented on #60010
Same issue for me. I don't get it, it worked fine before vacation and now i don't have the gutter indicator. Even on older repo, it just doesn't work for me everywhere.

[2018-11-13 11:13] #62574 closed

[2018-11-13 11:14] isidorn commented on #62060
Created branch [isidorn/cgmanifest](https://github.com/Microsoft/vscode/tree/isidorn/cgmanifest)
Where I have manually created two simple cgmanifest.json files with extra licenseDetails in there.
I triggered builds and will keep this updated on my findings
If all goes well I plan to mail @aeschli about the commit hashes that we need and I will also check with the component governance team if the c

[2018-11-13 11:34] Gliptal commented on #62824
Possibly related, getting a similar notifications regardless of internet state:

[code]

[2018-11-13 11:36] Gliptal commented on #60966
Same here, no Proxies or VPN. Windows 10 1803 (17134.376). I also mainly hibernate my system.

[2018-11-13 11:37] Hardhik commented on #4873
So many use cases more than mine :D.
In my case, I would like to edit a file while having few other files opened to refer from. Would love to have those reference files open in read-only mode.
Any extensions that allow this? Did a quick search and couldn't find any on [Marketplace](https://marketplace.visualstudio.com/search?term=read%20only&target=VSCode&category=All%20categories&sortBy=Relevance

[2018-11-13 11:41] jrieken commented on #62800
Yeah, we have simple (read stupid) link detector when a file system is being registered: https://github.com/Microsoft/vscode/blob/95190ed713a1c0312686a04db5ce8a25db866c27/src/vs/workbench/api/node/extHostFileSystem.ts#L37-L39

[2018-11-13 11:43] ruimaciel opened #63018 "Set root namespace of a project"
When using VS Code 1.28.2 to work on C# projects, apparently the default root namespace adopted by a project is deduced from the project tree structure.  However, some projects happen to have root namespaces that don't match the projec tree.  It would be nice if VS Code enabled developers to specify the root namespace of a project.

Some online comments mention the existence of an option labelled

[2018-11-13 11:43] DanTup opened #63019 "Problems tab badge/count appears/disappears for no apparent reason"
Sometimes I see counts of problems in a badge next to the Problems tab (38 here):

![screen shot 2018-11-13 at 11 42 15 am](https://user-images.githubusercontent.com/1078012/48411368-47e2d400-e739-11e8-8300-6f7c6e793761.png)

Other times, it does not show:

![screen shot 2018-11-13 at 11 41 51 am](https://user-images.githubusercontent.com/1078012/48411381-503b0f00-e739-11e8-9d75-85911f9615d5.png)

[2018-11-13 11:54] micobarac commented on #62996
Is there an option in the Prettier VSCode settings to disable its bad HTML formatter and let the built-in formatter work? I went through the docs and couldn't find any...

[2018-11-13 11:59] sandy081 commented on #62370
Since it is a suggestion from @joaomoreno I would request him to reply for above comment.

[2018-11-13 12:08] Creta5164 opened #63020 "Allow to change the encoding of untitled files without saving"
![replace function with new file](https://user-images.githubusercontent.com/13521406/48412289-974ff100-e787-11e8-9485-817912be6bb1.gif)

Opening and saving by changing encoding is all well done.
However, based on the new file, it is impossible to open it as the original text anyway.

I want to know if there is a way to convert the encoding of the pasted string from the clipboard.
Please let me kno

[2018-11-13 12:10] sandy081 commented on #62370
Pushed changes in inline view - made source and code less prominent just like in problems view.

[2018-11-13 12:13] sandy081 commented on #62841
@isidorn This is clearly a bug in my area. I will take a look.

[2018-11-13 12:15] krasi-georgiev commented on #62945
yes the same

[2018-11-13 12:17] chadidi opened #63021 "File explorer keeps on opening"
Version: 1.29.0 (user setup)
Commit: 5f24c93878bd4bc645a4a17c620e2487b11005f9
Date: 2018-11-12T07:47:15.448Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

Steps to Reproduce:

1. Open a File/Folder or save workspace (Happening on most of the items under file tab).
2. choose a file then it will open and the File explorer opens again (when it shouldn't).

[2018-11-13 12:29] dorianrod commented on #62317
Perfect! This is exactly what I was looking for.
Thank you

[2018-11-13 12:29] #62317 closed

[2018-11-13 12:32] umnovI opened #63022 "Changing to custom titlebar while maximized on linux causes rendering issues and double titlebar"
Issue Type: <b>Bug</b>

If select "window.titleBarStyle" as "custom", as recommend VS Code, then some time it cannot render window if you resize it.
![ezgif-5-cca1abb28faa](https://user-images.githubusercontent.com/30232564/48413535-12e67980-e759-11e8-825f-f4862e94785f.gif)

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:42:27.562Z)
OS version: Linux x64 4.4.

[2018-11-13 12:36] rainerklier commented on #62727
i don't like them. :-(
good, that it can be switched off/back.

[2018-11-13 12:42] ndbroadbent commented on #63007
Hi @weinand, thanks for your reply!

I don't know if it's accurate to say that VS Code knows nothing about JavaScript or JSON. The Debug window has a ton of features that are specifically for JavaScript, including the variables pane, call stack, breakpoints, and debug console. But do you mean that all of these features are provided by a separate plugin? If so, I would be happy to open an issue on

[2018-11-13 12:43] isidorn commented on #62841
@sandy081 renaming this one than, and assigning to you

[2018-11-13 12:48] isidorn commented on #62945
Looks like a duplicate of this one https://github.com/Microsoft/vscode/issues/43508

[2018-11-13 12:48] #62945 closed

[2018-11-13 12:49] baruchiro opened #63023 "Multiple windows message boxes"
Issue Type: <b>Bug</b>

In my PC, I launch 2 instances of VSCode, and each 10 minute, one of the instances get stucked.
If I delete a file from VSCode, or check for update, the Windows MessageBox show some times.

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:47:15.448Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|V

[2018-11-13 12:49] micobarac commented on #62996
Actually, this is a setting that disabled Prettier formatter for HTML files:

[code]

[2018-11-13 12:53] zymr-keshav commented on #62996
I also tried all available options in vs code settings  by keyword "word wrap" and tried various combination but no luck

[2018-11-13 12:56] micobarac commented on #62996
Use the above setting in VSCode `settings.json` file. It required a restart of VSCode in my case to make it active, I don't know why. This way it reactivates the built-in HTML formatter which works fine enough. I just hope the Prettier formatter will get fixed any time soon.

[2018-11-13 12:58] jagdishjadeja commented on #62896
cannot format any file

[2018-11-13 13:01] zymr-keshav commented on #62996
Yes, you are right. I did the same and add these 2 settings in settings.json

[code]

[2018-11-13 13:03] irfaan008 opened #63024 "Terminal hangs up for specific set of input/output"
Issue Type: <b>Bug</b>

I am running node js command through terminal which is long enough that it takes two line in my case. After execution my code uploads some file on S3 and prints some log information which is lengthy in nature. Once execution finishes, the terminal gets stuck.
If I try to scroll then I can see scroll indicator moving on right but nothing updates on my terminal.

I am able to

[2018-11-13 13:11] jrieken commented on #62483
Yeah, `DefinitionLink` wasn't a good choice maybe. I have the following ideas, feedback welcome

* We rename `DefinitionLink` to `LocationLink`
* Since step 1 was breaking, we create an alias type `DefinitionLink` for `LocationLink`
* We declare yet another alias `Declaration` as `type Declaration = Location | Location[] | LocationLink[]`

[2018-11-13 13:13] jrieken commented on #62896
hm, please try with 1.29 or 1.30-insider

[2018-11-13 13:13] thecp commented on #59291
That's pretty annoying. Even with explicitely setting `terminal.integrated.cwd` to the symlinked path, it gets resolved

[2018-11-13 13:17] krasi-georgiev commented on #62945
yes a duplicate. I did a search , but couldn't find this issue.

Thanks

[2018-11-13 13:17] krasi-georgiev commented on #43508
+1 on slow performance when deleting without the shift.

[2018-11-13 13:28] asymetrixs opened #63025 "Line Ending changes ignored in diff editor"
- VSCode Version: 1.28.1 x64
- OS Version: Windows 7 Enterprise

Steps to Reproduce:

1. Make sure you open a folder in VScode that is a git repository with git-scm installed
2. Open a file with line ending LF
3. Modify a line in that file (edit, delete, add, does not matter)
4. Change the line ending to CRLF
5. Save the file
6. Go to 'Source Control' and click on the modified file
7. An editor op

[2018-11-13 13:30] DanTup commented on #11663
@dbaeumer Is this issue to cover code-based/dynamic problem matchers that aren't restricted to regex? (eg. if a tool had a JSON output format)? I think so based on other links here, but the title isn't very clear.

[2018-11-13 13:32] weinand commented on #63007
@ndbroadbent the debugger UI (variables pane, call stack, breakpoints, watches, and debug console) lives in VS Code but is language agnostic. All data showing up in the UI comes from debug extensions.

Filing an issue with the JavaScript debugger would not help because debug extensions do not directly participate in the "Copy Value" action offered by VS Code.

So I agree that `Array(1) [Object]` i

[2018-11-13 13:36] bxantus commented on #62892
Thanks for the reply!

Indeed our extension had these lines in package.json, in the languages section:
[code]

This caused the problem (I don't understand why). We wanted to style nss files as css, for every user of the extension.
But removing the ".css" extension, the problem is solved, even in the standard release.
By leaving the ".css" extension in place the problem is reproducible with the ins

[2018-11-13 13:37] Kcko opened #63026 "Very slow serach after last update"
See video pls: http://bit.ly/2zPHthX
Search takes a long time (20-30seconds) and then works fine.
Where is the problem? How to debug it?

Before the update it worked well and fast (almost immediately)

Project is under GIT (but i have rule for ignore git files & folders)

[2018-11-13 13:45] falkheiland commented on #62994
keyboard shortcut workbench.action.terminal.clear was unassigned (was CTRL+K) with 1.29

[2018-11-13 13:48] ndbroadbent commented on #63007
I've actually forked vscode and started seeing if I could get this to work. I've copied the `CopyValueAction` class to a new `CopyAsJSONAction` class. And on [this line](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/electron-browser/electronDebugActions.ts#L28), I've discovered that `this.value.evaluateName` is the name of the variable (or a path to a key in an objec

[2018-11-13 13:50] chrmarti opened #63028 "Debug: unexpected type"
Issue Type: <b>Bug</b>

The type is `node`:
![image](https://user-images.githubusercontent.com/9205389/48417550-50e09f00-e753-11e8-96ef-69c3e745a292.png)

VS Code version: Code - Insiders 1.30.0-insider (c72cb129f2a0b8117c9b01f3767026041d7d1d31, 2018-11-13T06:12:08.651Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4770H

[2018-11-13 13:56] jrieken commented on #62842
I have added some padding to code lenses. let me know if this is still a problem with 1.30-insiders

[2018-11-13 13:56] ndbroadbent commented on #63007
Here is a prototype that is working for me, but doesn't know anything about the language: https://github.com/ndbroadbent/vscode/commit/7d37fe02b924305125092d39d10bce43e9eb54ce

[2018-11-13 13:56] #62842 closed

[2018-11-13 13:59] weinand commented on #63007
Your prototype assumes that the debug extensions' evaluate request understands JavaScript. This only works for node and chrome debugger extensions...

[2018-11-13 14:05] Gama11 commented on #43664
I'm not quite sure how that's related, a language server doesn't handle tasks / compilation. And as far as I know, VSCode currently doesn't have an API to "intercept" the execution of a task to allow for diagnostics-based problem reporting.

[2018-11-13 14:06] vvs commented on #63010
I've downloaded the latest VS Code installer and reinstalled just in case if the previous installation was broken. The same result, Emmet is non-functional.

[2018-11-13 14:08] ndbroadbent commented on #63007
Yes that's right, it's only a proof-of-concept to show that it's possible. It looks like it should work, but I'll probably need a lot of help to understand where to put the code and make it work for different languages. And of course, only if other people think this is a useful core feature. Otherwise I can try to build it as an extension.

[2018-11-13 14:12] weinand commented on #63007
I never said that a "Copy as JSON" action is "impossible" ;-)
But "hacking" a prototype and adding a sound feature that works well in all situations is not the same...

[2018-11-13 14:14] jrieken commented on #60332
With today's insiders build we start profiling the extension host as soon as it is found to be unresponsive. Finding are currently send as telemetry and logged down as message:

<img width="478" alt="screenshot 2018-11-13 at 15 12 24" src="https://user-images.githubusercontent.com/1794099/48418854-ae2a1f80-e756-11e8-8149-10c9522639cc.png">

[2018-11-13 14:18] usernamehw commented on #49623
@bpasero Is this a duplicate of #43508 then?

[2018-11-13 14:18] ndbroadbent commented on #63007
Oh yes I totally agree, haha I honestly didn't know if it would be possible at all. I was initially worried that VS Code and the JavaScript environment were totally separate, and that it was a one-way binding into the variables pane. E.g. I was worried that you could only copy what was already in there, but there was no way to actually execute any additional JavaScript. So just for my own sake, it

[2018-11-13 14:19] scosmaa opened #63029 "Search very slow"
Issue Type: <b>Bug</b>

After the last update the search is very slow!

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:47:15.448Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4500U CPU @ 1.80GHz (4 x 2394)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>

[2018-11-13 14:22] isidorn commented on #62060
Here's the full list of oss we depend on from the `OSSREADME.json`
Note that for some components we do not have a repository.
I have sent a message to @aeschli to check if he can share the commit of each component.

Here's the full list of OSS for reference
[code]

[2018-11-13 14:23] weinand commented on #63007
@isidorn could you please help @ndbroadbent

[2018-11-13 14:32] wizard982 opened #63030 "Intellisense not working well in a yarn project"
- VSCode Version: 1.29.0 (system setup)
- Commit: 5f24c93878bd4bc645a4a17c620e2487b11005f9
- Data: 2018-11-12T07:47:15.448Z
- Electron: 2.0.12
- Chrome: 61.0.3163.100
- Node.js: 8.9.3
- V8: 6.1.534.41
- Architettura: x64
- OS Version: Windows 10

CPUs | Intel(R) Core(TM) i5-7200U CPU @ 2.50GHz (4 x 2712)
GPU Status | 2d_canvas: enabledchecker_imaging: disabled_offflash_3d: enabledflash_stage3d: en

[2018-11-13 14:34] isidorn commented on #49623
Yeah sounds like it, let's close as dup. Thanks!

[2018-11-13 14:34] #49623 closed

[2018-11-13 14:38] jrieken commented on #62618
This should be better with "normal" icons but is still a challenge with theme icons. Leaving that to @aeschli

[2018-11-13 14:38] usernamehw opened #63031 "Search inside nested json in Settings GUI"
Issue Type: <b>Feature Request</b>

Since **json** input field is not going to be added #62555 at least make it possible to search for all the properties from new Setting GUI. The result should be a link `Edit in settings.json` that scrolls needed property into view.

[2018-11-13 14:39] jflambert commented on #62593
I'm affected, using stock Ubuntu 18.04 desktop, since downloading the 1.29 update this morning (wasn't a problem in 1.28)

Let me know what kind of info I can provide. For now I've just disabled the menu bar.

![vscode](https://user-images.githubusercontent.com/11539524/48420235-f5e58280-e727-11e8-8746-3dff84e041ff.png)

[2018-11-13 14:39] isidorn commented on #63007
First of all thanks for the feature request, however closing as a dup of https://github.com/Microsoft/vscode/issues/27950

Secondly, how to solve this:
1. Currently there is no way for extensions to contribute commands to the variables view. The variables view is simply not exposed yet. Feel free to open a feature request for this
2. Thus this command can only be added from inside vscode. If we pu

[2018-11-13 14:39] #63007 closed

[2018-11-13 14:41] MrGoDuck commented on #45177
There does seem to be interest for this feature.
Maybe an easier way to implement this would be the ability to hide files/folders from the workspace structure?
I wouldn't mind adding the entire root folder and then choosing what I don't want to see in the explorer, probably.
This approach also makes more sense in cases where you create new files in the project, they would automatically show up in

[2018-11-13 14:48] cartond opened #63032 "Moving tab does not change file"
Issue Type: <b>Bug</b>

Be in a folder,
Split your window into 2 panes,
Open two files that are in different locations of the folder,
i.e. /proj/x/foo.rb
and /proj/y/bar.rb
If you open a file in the second pane (/proj/y/bar2.rb) and drag it to the first window pane, it will not change the open file in the file explorer on the rail

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b110

[2018-11-13 14:50] ndbroadbent commented on #63007
@isidorn Thanks for your help, and sorry for the duplicate issue! I might take a look at this some more and see if I can find a good solution.

[2018-11-13 14:51] jrieken commented on #62906
this keeps coming up. tho stretch for november...

[2018-11-13 14:53] user3323 opened #63033 "Running the contributed command: 'emmet.expandAbbreviation' failed."
- VSCode Version: 1.30.0-ins
- OS Version: win7x64

[code]

Trying to expand a word in the **.html** and getting this...

![image](https://user-images.githubusercontent.com/24613274/48419146-dff3b400-e75f-11e8-8cbf-61c84269b3d9.png)

Trying to do it with "Tab", as always. Tried to change the key-binding. The same effect.

![emmet abbr failed](https://user-images.githubusercontent.com/24613274/4842

[2018-11-13 14:53] isidorn commented on #62060
@alexandrudima do you have an idea what should we do for components that do not have a repository specified. [Example](https://github.com/Microsoft/vscode/blob/b4c6906b62e3199eee87c17649979939a4e43323/extensions/typescript-language-features/OSSREADME.json#L78)

[2018-11-13 14:57] luisaccedo opened #63034 "panel position toggle button disappeared after October 2018 1.29 update"
- VSCode Version: 1.29
- OS Version: macOs 10.13.6

Steps to Reproduce:

1. Open vscode
2. View -> Terminal

Does this issue occur when all extensions are disabled?: Yes

[2018-11-13 14:57] brunholm commented on #62807
My whole work has the same issue - some runs totally clean install on a windows 10, some with extensions, like GitLens installed (but with no overrides in keyboard shortcuts).

To note here is the totally clean installs of vscode with no extensions installed. We believe it's a core bug or a windows bug maybe.

[2018-11-13 15:00] sgyzetrov commented on #62970
Yeah...I did that, just now. After letting dev tool run in the background for more than 3 hrs, finally VS Code hang again (I was not even working on it, I was browsing Reddit on another macOS desktop), and this time, CPU profiler **got stuck** too.

I clicked start (it then turned into a red 'stop'), I then let it run for 57 sec, nothing happened, so I clicked 'stop'. BUT then it just STUCK. There

[2018-11-13 15:02] sgyzetrov commented on #62970
Had to force quit Code Helper and VS Code to let my fan slow down...

[2018-11-13 15:06] WorldofBay commented on #1012
i can't believe that a modern editor has no built-in way to overtype. however, there's a thing that's disappointing me more and that is that even though alexandrudima and egamma apparently read this in december 2015 (edited labels) and alexandrudima again in november 2017 there isn't a single statement from them even in late 2018.

[2018-11-13 15:09] usernamehw opened #64527 "Option for expanding folders"
Just like search:
[code]
Maybe it can also have a configurable number instead of hard-coded **10**.
[code]

[2018-11-13 15:09] andgreendigital commented on #63034
The release notes can be quite dense! Is this what you are asking about? https://code.visualstudio.com/updates/v1_29#_panel-position-button-to-context-menu

[2018-11-13 15:10] jrieken commented on #62970
Try to profile for much shorter then, 5-10 seconds and even then it can take a very long time to finally save the profile.

[2018-11-13 15:12] eddieffe opened #63035 "A new window opened from a localized italian one is not translated"
Issue Type: <b>Bug</b>

installed visual studio code is v1.29.0 in windows 10 64bit.
From a Vscode window with italian language pack installed and showing localized italian menus open a new window from file menu. The new window is not translated and shows english menu.
Right clicking on the visual studio application bar icon and selecting the new window activity does open a new  italian localized

[2018-11-13 15:39] chadidi commented on #63021
After a restart, the bug is fixed, and also it happened after I created a workspace and adding two folders to it. couldn't reproduce it after restarting.

[2018-11-13 15:40] chris-kostiw opened #63036 "Traps malware detection breaks search"
Issue Type: <b>Bug</b>

Corporate IT requires Traps to be installed on development workstations, https://www.paloaltonetworks.com/products/secure-the-endpoint/traps

Version 1.29.0 is triggering a malware detection error when we try to search (using the Find panel). This breaks search for us.

I'm reporting this, in case it is a real malware problem and not just a false-positive. Rolling back to 1

[2018-11-13 15:42] JamesGreenaway commented on #59858
The release notes shows @octref's keybindings working whilst navigating through all the panels, however when I try this myself I find it gets stuck on the terminal.  I have tried adding workbench.action.nextPanelView and workbench.action.previousPanelView to my Commands To Skip Shell however this had no effect. Does anybody know how to overcome this?

[2018-11-13 15:42] mergesort commented on #62810
It seems like the damndest thing, I cannot type ⌘+shift+left into the box either.
<img width="735" alt="cmd shift left" src="https://user-images.githubusercontent.com/716513/48424493-c424e980-e730-11e8-867b-0ec2900479a6.png">

I can type ⌘+shift+up/down though.
<img width="735" alt="cmd shift up" src="https://user-images.githubusercontent.com/716513/48424519-d56df600-e730-11e8-83d9-a4a53d4879e7.pn

[2018-11-13 15:44] AlekSi commented on #29757
@ramya-rao-a Here is another data point (for Go):
![2018-11-13_18-39-30](https://user-images.githubusercontent.com/11512/48424591-03c0f500-e774-11e8-8ba4-f3940c5559ec.png)

[2018-11-13 15:48] JoseFMP commented on #8641
Any news on this issue? i.e. it was closed because of another issue? but the other issue has no content at all.

[2018-11-13 15:53] alextegelid commented on #27636
I've noticed that it does in fact match characters inside parentheses, but won't match them if they're right next to the parentheses.

In my example GIF below you can see the following:
1. Misses to match completely, due to the `inc` being next to the parentheses
2. Matches if I actually type the parentheses
3. Matches if I type words inside the parentheses but aren't next to them

![screen record

[2018-11-13 15:58] roblourens commented on #63031
Do you mean that searching for "foo" should still match values that can't be displayed in the settings UI?

I think this is covered by https://github.com/Microsoft/vscode/issues/56712

[2018-11-13 15:58] #63031 closed

[2018-11-13 15:59] NilsJPWerner commented on #63034
Can we get this button back? It was really useful, and the right click is not that intuitive.

[2018-11-13 16:00] VishwaRajGit commented on #62970
I have also experienced this twice just now.
VS Code freezing when it's not even being worked on.
1.29 on Windows 10

[2018-11-13 16:00] roblourens commented on #62964
I need to be clear, we will never remove editing settings.json files. This is about the UI in the JSON editor, e.g. the pencil icons, the split view, the search bar, etc.

[2018-11-13 16:01] roblourens commented on #63015
I think `app` should still work (although it will exclude `**/app/**`)

[2018-11-13 16:03] roblourens commented on #62991
Can you explain exactly what you do? The "Split Terminal" works for me

[2018-11-13 16:04] roblourens commented on #62994
Do they still appear in the keybindings editor?

Can you try upgrading to 1.29?

[2018-11-13 16:04] roblourens commented on #62997
Did you select an interpreter? Please file this on the Python extension if it's a bug.

[2018-11-13 16:04] #62997 closed

[2018-11-13 16:05] usernamehw commented on #63031
I mean searching for `Default Dark` does nothing. IDK if it's a duplicate of that issue or not
[code]

[2018-11-13 16:06] #62998 closed

[2018-11-13 16:07] thpeder commented on #61986
I have a similar experience with the insider c72cb129f2a0b8117c9b01f3767026041d7d1d31.
After I change the field name and tries to debug again then it doesn't update the messages in the output panel (see the timestamps for each line) and only when I click clear then it shows some of the messages:
![insiderdebugoutputclear](https://user-images.githubusercontent.com/24276180/48425815-dec58580-e765-11

[2018-11-13 16:07] roblourens commented on #62999
Can you get the full command line args of those processes using `ps ax` or the vscode Process Explorer?

[2018-11-13 16:10] adzchappers commented on #63015
Hi, yes putting in just `app` works, however, if I want to drill down any further `app/test` then this would stop this from working, and obviously, I want it to trigger from the root of the project folder I'm in, thus the `./`

Thanks for looking at this :-)

[2018-11-13 16:11] ncannasse commented on #43664
@dbaeumer correct me if I'm wrong but diagnostics apply to currently opened files, whereas compilers can report issues in closed files.

[2018-11-13 16:12] edunsouza commented on #62922
Yes, it does. I found out that the process “ts/js language features” is the
responsible for the 2.5gb usage. When i manually disabled the feature, it
starts to work normally. But only without JS intellisense features, and
thats sad :/

Em ter, 13 de nov de 2018 às 07:33, Christof Marti <notifications@github.com>
escreveu:

[2018-11-13 16:12] eamodio commented on #62964
While I don't care much about the pencils, I definitely like the split view and filtering. I would still consider that quite a loss

[2018-11-13 16:15] roblourens commented on #63002
Permissions issues? What if you start with `--user-data-dir=/somepath`

[2018-11-13 16:16] roblourens commented on #63002
@mjbvz in case you know anything about what it's trying to do here?

[2018-11-13 16:19] tecosaur commented on #62970
I'm getting this severely too. Is there any way I can roll back to the previous version?

[2018-11-13 16:20] roblourens commented on #63017
Can you try upgrading to 1.29?

[2018-11-13 16:23] roblourens commented on #63018
This issue was moved to OmniSharp/omnisharp-vscode#2675

[2018-11-13 16:23] #63018 closed

[2018-11-13 16:28] roblourens commented on #63023
Is that the message box that says "the window is not responding"?

Can you try to take a CPU profile while this happens?

https://github.com/Microsoft/vscode/issues/62970#issuecomment-438164153

[2018-11-13 16:29] roblourens commented on #63032
I don't quite understand the problem. Isn't the same file open anyway?

[2018-11-13 16:30] paulo-fernando-silva commented on #62908
Here's what I catch if I set a breakpoing there and hit continue every time:
[code]
The "From Client" are actually printed on the console.
Still not sure why the four stack requests get translated into two, but my guess is that maybe it's summing the levels? Not sure what's going on here. But it doesn't seem to be an issue anyway, so I guess we can ignore it until it starts to actually be an issue

[2018-11-13 16:30] roblourens commented on #63029
Can you explain the issue some more?

What are you searching? Is your workspace large?

[2018-11-13 16:31] roblourens commented on #63024
Does this happen in 1.29?

If so can you open the developer tools to get the full stack of that error?

[2018-11-13 16:33] cartond commented on #63032
No,
Pane 1:  /proj/x/foo.rb
Pane 2: /proj/y/bar.rb and /proj/y/bar2.rb

When you have the bar2.rb file selected it shows in the finder pane on the left correctly. When you drag it to the first pane, it shows /proj/x/foo.rb in the finder pane, even though bar2.rb is the file open.

I will work on getting a gif or something.

[2018-11-13 16:37] isidorn commented on #63034
As designed, sorry we will not bring it back for now as we plan to do a more flexible grid layout of the workbench. The reasoning why we did this can be found in the release notes
https://code.visualstudio.com/updates/v1_29#_panel-position-button-to-context-menu

[2018-11-13 16:37] #63034 closed

[2018-11-13 16:39] cartond commented on #63032
Here is a gif: [https://imgur.com/a/pt2G9Zz](https://imgur.com/a/pt2G9Zz)

As you can see, when I drag the file from pane 2 to pane 1, it has the original file from pane 1 selected in the file explorer instead of the file that was just dragged and that is currently active.

[2018-11-13 16:40] titamrtn opened #63037 "VSCode didn't start"
- VSCode Version: 1.29
- OS Version: Debian 9

Steps to Reproduce:

I've just run `sudo apt update && sudo apt upgrade` now all apps is up to date
I run VSCode from icon, nothing
I run VSCode from terminal, nothing
This is what happens whe i run `code --verbose`

[code]
And no window is open.

Does this issue occur when all extensions are disabled?: Yes

[2018-11-13 16:46] budhalantara opened #63038 "VSCode Stuck"
Issue Type: <b>Bug</b>

VSCode stuck after Update on October 2018 (v1.29).
please Fix this issue.
Thanks

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7400 CPU @ 3.00GHz (4 x 3000)|
|GPU Status|2d_canvas: enabled<br>

[2018-11-13 16:50] syaffers commented on #62807
I just want to add that I'm facing a similar issue on my computer. Except, for me the keybindings ctrl + shift + alt + (any arrow key) suddenly stopped working and, like @rhshi, I cannot assign the keybinding. I can press ctrl + shift + alt but when pressing the arrow keys, nothing happens. However, doing ctrl + shift + alt + c, for example, works. See https://imgur.com/a/dzIzibx

I'm on Ubuntu 18

[2018-11-13 16:51] ewnavilae commented on #57843
+1

[2018-11-13 16:58] queeniema opened #63039 "Ability to customize editorHoverWidget.foreground color"
Issue Type: <b>Feature Request</b>

There is currently support for `editorHoverWidget.background` and `editorHoverWidget.border`, but no option to edit the foreground color. For one of my dark themes, I would like to change the foreground color to black and the background color to a lighter color (e.g. white), but this isn't possible at the moment. It would be great if this color customization cou

[2018-11-13 17:01] danielgalleni commented on #62944
It worked perfectly in version 1.29.0.
Thanks for the support.

[2018-11-13 17:01] #62944 closed

[2018-11-13 17:02] csavtchenko commented on #63029
I have been noticing this as well - using `Ctrl + P` - seems to do a deeper search than a simple file fuzzy search. Perhaps I have a bad cache or something? I googled a bit but couldn't come up with a solution.

This is for C++ files on a fairly large code base.

[2018-11-13 17:05] csavtchenko commented on #63029
I'll be happy to provide an info you need, except the code base :)

[2018-11-13 17:08] isidorn commented on #62908
MIght it be that the `"From client"` you are loging in your extension?  This should not come from vscode. Do you maybe have some weird extension installed?
If I ignore the `From client` logging the `args` looks quite good.
Are you sure your extensions is setting [`supportsDelayedStackTraceLoading`](https://github.com/Microsoft/vscode/blob/b4c6906b62e3199eee87c17649979939a4e43323/src/vs/workbench/p

[2018-11-13 17:08] jrieken commented on #62970
@VishwaRajGit @tecosaur please help us profile this.

* start dev tools via `F1 > Developer Tools`
* open the cpu profiler via 'More Tools > CPU Profiler' in the overflow menu (see https://github.com/Microsoft/vscode/issues/62970#issuecomment-438164153)
* pop-out and minimise the dev tools window
* use vs code as usual and wait for it to slow down
* when it hangs, freezes, or slows down, then go t

[2018-11-13 17:11] ansiblejunky opened #63040 "Outline becomes scrambled when Markdown file has at least 11 subheaders"
- VSCode Version: 1.29.0
- OS Version: MacOS 10.14

Steps to Reproduce:

1. Save the provided markdown text to `test.md`
2. Notice the outline is scrambled up and in the wrong order. But if you remove 1 header from the file, the outline is correct. It appears we need 32 headers to produce this problem.

Does this issue occur when all extensions are disabled?: Yes, this is caused by the internal ma

[2018-11-13 17:12] jrieken commented on #63038
so, what version are using? 1.29 or 1.28?

[2018-11-13 17:12] isidorn commented on #61986
@roblourens oups this somehow feel through my fingers, sorry about that. Can you still reproduce with the latest insiders? Becuase I can not following your steps
@thpeder that issue I probably introduced yesterday. Can you try to reproduce with running a simple node program
`console.log('hello')`
Or any reproducable steps would be really helpful for me. Thanks

[2018-11-13 17:16] jrieken commented on #62970
everyone also attach the list of extensions you are using, simply run `code --list-extensions`.

[2018-11-13 17:16] mcfarljw opened #63041 "Problems tab falsely showing typescript errors"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2018-11-13 17:18] dejangeci commented on #62507
Fixed in 1.29 with #62354, cannot reproduce anymore.

In 1.28.2, Node >= 10.12 (including 11) issue was reproducible.

[2018-11-13 17:18] #62507 closed

[2018-11-13 17:21] roblourens commented on #63031
Yes thanks

[2018-11-13 17:22] MrRobboto commented on #45177
@MrGoDuck @TuxVinyards

Yeah, that would work and offers plenty of flexibility - I would absolutely be in favor of that.

PS - My hard links are breaking (not sure which app is overwriting files but it happens - I hope it's not VS Code). So I had to get rid of my "Links" folder. I am back to just searching for the files I'm looking for when I'd ultimately like hard links in the root, included in t

[2018-11-13 17:24] roblourens commented on #61986
I don't think I've seen it lately.

[2018-11-13 17:25] roblourens commented on #62964
Would the simpler split view (just two editors like keybindings uses) suffice? And you would still get intellisense in settings.json which I find sometimes more useful anyway.

[2018-11-13 17:27] PratimGhosh86 commented on #62958
As mentioned, using Typescript toolbox, i get the following suggestions which is actually correct in the context of the file being edited:

![annotation 2018-11-13 225100](https://user-images.githubusercontent.com/17795322/48431043-bf931c00-e796-11e8-8128-915410a71429.jpg)

### UPDATE:

Could the following in **tsconfig.json** interfere with the way the suggestions work:

[code]

This is always pr

[2018-11-13 17:27] roblourens commented on #63029
ctrl+p should just be searching files, unless you have `search.quickOpen.includeSymbols` enabled. There is no cache.

[2018-11-13 17:30] rkeithhill commented on #62955
I'm seeing the same thing but on 1.29.0.  Although I was seeing this occasionally on 1.28.2 as well.

[2018-11-13 17:33] octref commented on #62370
`Error Code` than `Code` would be more explicit and easy to understand in the inline hover. The `[2551] (417, 98)` in the problems view is mystic and hard to understand. Just my 2 cents.

[2018-11-13 17:34] mrkev opened #63042 "Support relative paths in jump to file"
## Summary

When clicking `Cmd+P` one can jump to any file in the codebase by typing its name and selecting it from the results. This is to request that the input to that function supports file paths (specifically relative to the file I'm currently browsing), to filter (or at least sort) that list.

## Motivation / Workflow
I'm browsing a Javascript file in a codebase I don't know. I see a `requir

[2018-11-13 17:36] ansiblejunky commented on #63040
It seems it happens even with 11 subheadings.
[code]

Result in outline...
![image](https://user-images.githubusercontent.com/14311849/48431801-79eb3a80-e727-11e8-944e-97eeee345601.png)

[2018-11-13 17:36] mrkev commented on #63042
I'd actually be happy to work on this and submit a PR, but would appreciate some pointers in the general direction of the files I'd need to look at / work on (:

[2018-11-13 17:36] SupersonicCasualties commented on #63038
I believe we are having the same issue, with me after the update today VSCode froze about 4 times, something about 6h of use, with it asking to close the window or reopen, with me tho it's version 1.29, I don't know how to debug VSCode exceptions such as this and would be happy to help

[2018-11-13 17:37] KevM opened #63043 "Update fails repeatedly"
## Version
[code]

Trying to update VS Code I repeatedly get this dialog. There are no instances running.

[code]

[vscode-inno-updater-1542129228.log](https://github.com/Microsoft/vscode/files/2577337/vscode-inno-updater-1542129228.log)

[2018-11-13 17:38] KevM commented on #63043
Hmm I attached the file to the issue but it didn't show up and now the file is gone from my Temp folder.

[2018-11-13 17:39] misolori commented on #63016
Thanks for the suggestion, but per https://github.com/Microsoft/vscode/issues/60699#issuecomment-429208011 we're not tracking file icon requests, so will close this.

[2018-11-13 17:39] #63016 closed

[2018-11-13 17:41] KevM commented on #63043
[vscode-inno-updater-1542129228.log](https://github.com/Microsoft/vscode/files/2577361/vscode-inno-updater-1542129228.log)

[2018-11-13 17:41] RMacfarlane opened #63044 "Settings editor gear menu not displayed"
Issue Type: <b>Bug</b>

I no longer see the settings menu that had actions for showing modified settings only and opening the settings.json file:

![screen shot 2018-11-13 at 9 40 24 am](https://user-images.githubusercontent.com/3672607/48432073-39d88780-e728-11e8-9fdb-f291178e7fc7.png)

VS Code version: Code - Insiders 1.30.0-insider (c72cb129f2a0b8117c9b01f3767026041d7d1d31, 2018-11-13T06:12:08.

[2018-11-13 17:46] rebornix commented on #61968
@ananaszjoe it's very likely we run into OOM on v8, can you help try `code --max-memory=4096` (first close all vscode instances) and see if it helps?

[2018-11-13 17:56] yagehu commented on #62991
Also does not work for me after update. When I click the split terminal icon, the icon registers the click but nothing happens. Shortcut ctrl+\ and command pallete also does nothing.

Version: 1.29.0
Commit: 5f24c93878bd4bc645a4a17c620e2487b11005f9
Date: 2018-11-12T07:42:27.562Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

[2018-11-13 17:58] acidhelm commented on #60664
This is fixed in 1.29, thanks!

[2018-11-13 18:07] TuxVinyards commented on #45177
@MrGoDuck Sounds like the start of an algorithm. What are you like at Typescript? Might work adding lines to the .jsn. manually ..

Not tried the above. @MrRobboto my symlinks method is still working for me. Maybe VS Code doesn't play nicely with links? I have only 'real' files in the working folder. The outside files as links works but does have limitations. Maybe an OS issue?

[2018-11-13 18:14] markusdd commented on #62906
That is fine, thanks very much for looking into it!

[2018-11-13 18:23] csavtchenko commented on #63029
Okay that's good to know - definitely not enabled - definitely very slow. `FZF` is same speed as before so I'm slightly hesitant that it could be a HW issue.

[2018-11-13 18:26] johnmarian opened #63045 "Add action to move caret by word"
Would it be possible to add a keybinding option to move caret by word? i.e. Take the existing `editor.action.moveCarret` bindings and expand them to move by word like the `cursorWord` actions? It would be nice to be able to move selections left/right along a line more than one character at a time.

[2018-11-13 18:32] roblourens commented on #63029
What is FZF? Can you explain the problem some more? Are you on 1.29? Is it slower than 1.28 or just slow in general?

[2018-11-13 18:33] roblourens commented on #63036
Nothing has changed since 1.28 so that's interesting. Is there some way you can whitelist it locally?

[2018-11-13 18:34] roblourens commented on #63037
Can you try reinstalling?

[2018-11-13 18:41] janosh opened #63046 "VS Code integrated terminal disordered $PATH"
Issue Type: <b>Bug</b>

When I run `echo $PATH` in iTerm (running `zsh`) I get
[code]
whereas VS Code's integrated terminal responds with
[code]
Notice that `/usr/local/miniconda3/envs/te/bin` appears after `/usr/bin`. As a result `python` in VS Code's terminal refers to the macOS system install, i.e. `python --version` gives `Python 2.7.10` while in iTerm the version is `Python 3.6.6`.

Any ideas

[2018-11-13 18:42] roblourens commented on #63041
Please give more details about the problem.

[2018-11-13 18:43] EklipZgit opened #63047 "Ctrl+P search crashing on 1.29.0"
Issue Type: <b>Bug</b>

Same as #60672
The issue has been fixed since the original issue linked above was patched, however without adding anything new to my workspaces the issue returned immediately after updating to 1.29.0.

  "search.useLegacySearch": false
  "searchRipgrep.enable": false
  "search.useRipgrep": true

EDITING:
To be totally clear here (since the original issues description talks

[2018-11-13 18:45] mcfarljw commented on #63041
I guess clicking no thanks opened this issue to the experimental bot things opened the issue? I did not click to submit a new issue.

[2018-11-13 18:45] #63041 closed

[2018-11-13 18:49] aeschli commented on #62060
@isidorn For the text mate grammars we have npm scripts (`npm run update-grammar`) that fetch the latest version of the grammar from the original repo, massages it and store it as JSON in our language extenions. Part of the massaging is to store the commit number in the grammar, see e.g. [here].(https://github.com/Microsoft/vscode/blob/d4bfba4653915fd199d2deb05c4fc4f8e3c11240/extensions/go/syntaxe

[2018-11-13 18:52] csavtchenko commented on #63029
`FZF` is a linux tool for fuzzy search. It's very fast - I use it when I'm using `vim` instead of visual studio code.

Typically, I press `Ctrl + P`, I start typing, files immediately appear as the fuzzy search narrows. However, now I press `Ctrl + P` I start typing - I see a "progress toolbar" then they appear. This seemed to happen on the newest update I got from the Ubuntu PPA (1.28.2). C/C++ m

[2018-11-13 18:56] HotscriptGG opened #63048 "Terminal position button disapeard in 1.29"
- VSCode Version: 1.29
- OS Version: Linux

Steps to Reproduce:

1.Turn on integrated terminal
2. Try to click terminal position button (bottom/side switcher)

It is not there.

![Image of VS Code terminal](https://i.imgur.com/6iwvfam.jpg)

Does this issue occur when all extensions are disabled?: Yes

[2018-11-13 18:56] roblourens commented on #63029
1.29 just went out, can you try upgrading to that? I think it should be available for ubuntu now?

[2018-11-13 18:57] deader115 opened #63049 "Search sidebar - misplaced error message"
Issue Type: <b>Bug</b>

1. Type anything in search text box
2. Type a ```\``` in the files to exclude box (this may work with other invalid characters)

As of latest version, \ cannot be used in exclude which is fine (was excluding a directory with this notation previously). However, when the dangling \ is in the "files to exclude" box, the UI error instead shows for the top textbox. I would expec

[2018-11-13 18:58] ericbiewener opened #63050 "Ability to apply a final sort to QuickPick results"
I'd like to be able to pin certain items to the top of a QuickPick list, but the QuickPick's fuzzy matching functionality doesn't allow any custom sorting. Providing some kind of hook to apply a final sort would solve this. This hook would receive the fuzzy-matched order and could return a new array for the final order.

[2018-11-13 18:58] roblourens commented on #63049
Errors usually can't be resolved to a particular input box so we don't try. But this syntax should work.

[2018-11-13 19:00] roblourens commented on #63046
Is it different when you start vscode from a terminal?

[2018-11-13 19:03] csavtchenko commented on #63029
Thank  you - fixed in 1.29

[2018-11-13 19:07] dgolovin commented on #62970
@jrieken After vs code window was frozen, I was following the steps above and profiler just got into state shown below. I am still waiting for 'Save' to appear, but it seems never going to happen.
![image](https://user-images.githubusercontent.com/620330/48436378-6645d100-e733-11e8-9962-5ba68333a917.png)

[2018-11-13 19:08] usernamehw opened #63051 "Apply `mouseWheelScrollSensitivity` in some other places"
Issue Type: <b>Feature Request</b>

Having usual OS sensitivity of scroll 9 lines or `"editor.mouseWheelScrollSensitivity": 9,` it's probably good that `quick pick`, `file explorer` etc. ignore it, but some  custom vscode editors that very similar to ordinary ones, like: `Keybindings GUI`, `Settings GUI`, `Interactive Playground` don't have minimap to drag it easily and they are usually long if no

[2018-11-13 19:11] octref commented on #62870
Happened to me too. I'm pretty sure I did not disable the newer node debug extension myself.

@sandy081 Any idea what condition might have caused this?

[code]

[2018-11-13 19:16] robclancy commented on #62991
I'm on arch linux, doesn't work. Coworker beside me is on mac, works fine.

[2018-11-13 19:20] DonJayamanne opened #63052 "Expose a terminal's creation options as API"
Right now when a terminal is created the `onDidOpenTerminal` event fires providing the ref to the `terminal` created.

This information is crucial for the Python Extension when activating the Python Environment in the terminal.

Note: Each workspace folder can have different python environments, hence the workspace folder Uri is necessary when identifying the python environment that needs to be ac

[2018-11-13 19:27] baruchiro commented on #63023
Unfortunately, I no longer have the computer.

On Tue, 13 Nov 2018 at 18:30, Rob Lourens <notifications@github.com> wrote:

[2018-11-13 19:28] yagehu commented on #62991
I'm also on Arch

[2018-11-13 19:29] deader115 commented on #63049
Fair enough, I had a suspicion that behind the scenes this is basically just a single object, making it hard to break apart. Sorry for not understanding that intent.

On the bright side, glad I could help perhaps spot another issue. I simply took off the / and it met my needs so I just assumed it was a slight syntax cleanup.

[2018-11-13 19:40] ryancole opened #63053 "Not getting any import intellisense with JavaScript and Vue single-file-components"
Issue Type: <b>Bug</b>

I'm not getting any import file suggestions when importing from within a Vue single-file-component. This is the code that goes inside of a `.vue` file, within the `<script>` block. Importing a file does not seem to trigger or produce the file suggestion drop-down.

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:47:15.448Z)
OS version:

[2018-11-13 19:42] spaceghoul commented on #63038
Also experiencing this with 1.29.0 on Mac OS High Sierra with only theme extension enabled. VSCode stops responding to interactions from mouse or keyboard and sometimes eventually becomes responsive again but usually I am having to kill it via the OS force quit. This has happened several times since the update to 1.29.0.

[2018-11-13 19:58] paulmellors40 opened #63054 "PSScriptAnalyzer false detection of implicit aliasing"
Issue Type: <b>Bug</b>

Create an object with a property name that has a space and starts with Location.
Then reference this property. eg
$HREmp.{Location Long Desc}
This will then get incorectly detected as a code problem with the message:
'Location' is implicitly aliasing 'Get-Location' because it is missing the 'Get-' prefix. This can introduce possible problems and make scripts hard to maintai

[2018-11-13 19:58] StephenWeatherford commented on #60396
This is still reproing very consistently the first time I try to F5

[2018-11-13 19:59] laoshaw commented on #41309
toolbar is essential for nearly all editors other than vscode, please add it.

[2018-11-13 20:00] cjlaborde commented on #63033
I have the exact same issue in Linux Ubuntu 18.04 after updating.
![image](https://user-images.githubusercontent.com/40572114/48439642-2abffc80-e75d-11e8-93e5-b200d5c4633a.png)

[2018-11-13 20:02] gitawego commented on #62970
my vscode got hangs as well with new version.
my extensions:
dbaeumer.vscode-eslint
donjayamanne.githistory
eamodio.gitlens
EditorConfig.EditorConfig
eg2.tslint
esbenp.prettier-vscode
formulahendry.auto-close-tag
formulahendry.auto-rename-tag
mikegleasonjr.theme-go
ms-python.python
ms-vscode.Go
msjsdiag.debugger-for-chrome
PeterJausovec.vscode-docker
redhat.java
robertohuertasm.vscode-icons
rust-l

[2018-11-13 20:04] admvx opened #63055 "Tasks slow since 1.29.0"
Issue Type: <b>Performance Issue</b>

Since installing the update to 1.29.0, I've noticed a significant delay in task actions, in two distinct spots:
- Between summoning the task list and the list becoming populated
- Between selecting a task and that task starting to execute (as indicated on the status bar)

In both cases, the delay lasts around 1.5 to 2 seconds, and is consistent across several

[2018-11-13 20:31] flddr commented on #61301
@bpasero please can you give me the duplicate? Thanks.

[2018-11-13 20:48] roblourens commented on #63029
Great, thanks.

@scosmaa more details would be great

[2018-11-13 20:49] janosh commented on #63046
@roblourens Yes, when I start via `code`, `echo $PATH` is the same.

[2018-11-13 20:51] codiddle opened #63056 "Passing arguments in from CLI to Code's terminal window"
I currently have an automated way to start Visual Studio 2017 and run the debugger.  Now what I'd like to do, is after waiting a variable amount of time, to start Visual Studio Code with command line arguments I can pass into the terminal using the Arguments property on ProcessStartInfo.  For example, the following is my C# code:
[code]
The problem I have is I do not have a way to enter "npm start

[2018-11-13 20:54] mjbvz commented on #63030
Please provide some example code or small example project, along with steps the reproduce the problem

[2018-11-13 20:58] DonJayamanne commented on #62623
Nope, there's nothing special about the localizations.

[2018-11-13 21:09] Azarien commented on #63016
This is unfortunate, because I'm not asking for some obscure file type, but a file type specific and important for VSCode itself.

[2018-11-13 21:12] nntantidakis opened #63057 "Feature Request Add favorites"
Can you add in the Welcome page, a list of favorite projects that the user will set? For example i am working on 3 projects but the recent projects is not helping. I would want to have a panel that i can set my favorites and with a click to open the folder.

[2018-11-13 21:13] #62677 closed

[2018-11-13 21:19] codiddle commented on #63056
I mean, it would be nice if the command `Arguments =  $@"""{pathToBranch}somePath"" /Run 'npm start' "` was supported here as well.  There maybe a way to pass arguments I'm not aware of, but after the research I did 2 months ago I could not find a clear way of doing this.  If there is a way, I'm open to other routes of obtaining the same result.

[2018-11-13 21:44] misolori commented on #63016
It's definitely something we originally discussed but didn't have the proper asset/icon for that file type. It also isn't an icon supported in the [Seti icon theme](https://github.com/jesseweed/seti-ui), which is what we're using in these file types.

At the minimum we could at least match the file type used so it doesn't show a text file icon:

<img width="50%" src="https://user-images.githubuser

[2018-11-13 22:00] Jeffrey-Hall commented on #45177
I found it hard to believe I could not add files to my workspace. Please reconsider this feature request.

[2018-11-13 22:15] aechan opened #63058 "Opening two projects in two windows results in infinite loop of reloading"
- VSCode Version: 1.29.0
- OS Version: macOS 10.14

Steps to Reproduce:

1. Open a project in one window with File -> New Window, File -> Open Recent
2. Open a project in another window with the same steps.

Does this issue occur when all extensions are disabled?: NO

One of the projects was an Ionic project and the bug seems to stop when I disable [this](https://marketplace.visualstudio.com/items

[2018-11-13 22:15] abetrs commented on #62754
I get a pop up that says that the editor has crashed and I need to quit and restart it. Then it happens again in the course of the next 10-20 minutes. All the times this has happened has one thing in common: my workspace folder was a git repo. This never happens if I am not in a git repo.

[2018-11-13 22:16] DMoreira97 commented on #62824
This happens to me too when I disconnect from any wifi. I think the solution isn't to never show this notifications but to add a button to the container whith a 'never show this message again' option. It's easy once most errors messages come from here: https://nodejs.org/api/errors.html#errors_class_system_error

[2018-11-13 22:17] khayuenkam commented on #62970
Freeze quite frequently to me as well.
I have attached the cpu profile.
[profile.txt](https://github.com/Microsoft/vscode/files/2578353/CPU-20181113T230227.txt)

VSCode Version: 1.29.0
OS Version: MacOS 10.13.6

Code Extensions:
- CoenraadS.bracket-pair-colorizer
- eamodio.gitlens
- jcanero.hoogle-vscode
- justusadam.language-haskell
- sdras.night-owl
- Vans.haskero
- vscodevim.vim

[2018-11-13 22:17] marco-ms opened #63059 "Previous run stuck"
Issue Type: <b>Bug</b>

New version stuck after some up time.

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:42:27.562Z)
OS version: Linux x64 4.15.0-38-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7600U CPU @ 2.80GHz (4 x 2251)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3

[2018-11-13 22:29] cd-rum opened #63060 "With two editor groups, open "already-split" things like settings.json or git diffs across the two parent groups"
Instead of further splitting things like `settings.json` into smaller groups when two editor groups are already open like so:

![image](https://user-images.githubusercontent.com/12165422/48447195-5a1f4980-e7ef-11e8-866f-16ff2932a115.png)

How about a setting to "use" the already allocated parent groups to open settings like so:

![image](https://user-images.githubusercontent.com/12165422/48447277-

[2018-11-13 22:29] PedroMiguelSilva commented on #55946
I've been trying to tackle this issue and mostly getting comfortable with the project layout. I noticed some languages have a 'snippet' json under /extensions/{languageName}/snippets/{languageName}.json. However, besides javascript and few others, none of them have the most used snippets I was expecting to find except for the tag #region and #endregion.

The bad approach would be having a snippet

[2018-11-13 22:33] sbatten commented on #62593
@jflambert do you know what theme is currently enabled on your Ubuntu machine? Could you provide a screenshot of vs code open with the menu enabled and a context menu open like so?

![image](https://user-images.githubusercontent.com/6561887/48447564-1a098980-e751-11e8-9932-d090d3813e3a.png)

[2018-11-13 22:36] sbatten commented on #63022
@joaomoreno as a long term user of the custom menus on Linux have you seen this behavior?

[2018-11-13 22:38] mjbvz commented on #63013
Can you please check the TypeScript Server trace:

1. Set `"typescript.tsserver.trace": "verbose"`
1. Reproduce the problem
1. Open the output panel and view the `TypeScript` section

Are there any errors or stack traces printed near the end?

[2018-11-13 22:39] sbatten commented on #63022
@umnovI I'm noticing something strange from your screen shot. You appear to have 2 title bars, both the native and custom. Can you provide info on your linux distro and version. Looks like Ubuntu MATE, which version?

[2018-11-13 22:39] roblourens commented on #63060
Not sure how well this would work in all grid scenarios

[2018-11-13 22:40] roblourens commented on #63036
Does it give you any other info about what it thinks it detected?

[2018-11-13 22:42] sbatten commented on #63060
@joaomoreno has this ever been suggested before? I like the idea, but as I understand it, these split views aren't quite the same as our editor groups.

[2018-11-13 22:42] roblourens commented on #63051
https://github.com/Microsoft/vscode/issues/37727

[2018-11-13 22:42] #63051 closed

[2018-11-13 22:45] roblourens commented on #63059
See https://github.com/Microsoft/vscode/issues/62970, it would be great if you can capture a cpu profile.

[2018-11-13 22:46] nick-walt commented on #49047
@monkeyhybrid I feel that it is definitely good to keep this issue focused on VSCode, as that is where the problem is experienced. Electron, as a dependency, should be a consideration for the VSCode team and not for users' posting about visual UX/UI experiences.

I also experience that, with mouse use, the tool tips obscure text I want to select or click on to insert the cursor. Interestingly, the

[2018-11-13 22:46] gionn commented on #25967
Check if $GDK_SCALE is set, I had it to workaround Steam but impact vscode as well.

On my HiDPI display I had to set GDK_SCALE=1 to get back vscode to reasonable UI size.

[2018-11-13 22:47] mjbvz commented on #63042
Duplicate of #46242 I believe

@bpasero or @chrmarti may be able to provide some guidance if you are looking to work on this issue

[2018-11-13 22:47] #63042 closed

[2018-11-13 22:48] roblourens commented on #63023
Will roll this into https://github.com/Microsoft/vscode/issues/62970, please try to provide more details if you see this again.

[2018-11-13 22:48] #63023 closed

[2018-11-13 22:53] roblourens commented on #63054
This issue was moved to PowerShell/vscode-powershell#1612

[2018-11-13 22:53] #63054 closed

[2018-11-13 22:55] roblourens commented on #63015
`app/test` should also still work (as `**/app/test/**`) if I understand you correctly

[2018-11-13 23:01] roblourens commented on #63058
That's strange. It would be great if you can also file this on that extension and maybe they can help us understand why they might be causing the window to reload.

[2018-11-13 23:03] akontsevich commented on #25967
@gionn this does not work for me: I have LowDPI screen (52"), need to set value <1 but Electron. Chromium, etc does not allow this: 1 is the minimum.

[2018-11-13 23:05] roblourens commented on #63056
Do you want to enter a command in the terminal, or do you want to start the vscode debugger (more equivalent to what I guess VS `/Run` is doing?)

[2018-11-13 23:05] warrenrumak commented on #62524
I'm seeing something very similar, but not in all VS Code instances.

Many dialog boxes will show several times in a row.... even "About".

[2018-11-13 23:08] mjbvz opened #63062 "Color completions showing generic icon"
Issue Type: <b>Bug</b>

**Repo**
1. In a css file:

[code]

1. Trigger completions at the `|`

**Bug**
Suggestions for colors like `red` have a generic color icon instead of the actual color:

![screen shot 2018-11-13 at 3 06 40 pm](https://user-images.githubusercontent.com/12821956/48449085-014fa280-e756-11e8-851e-367485189c5a.png)

VS Code version: Code - Insiders 1.30.0-insider (c72cb129f2a0b81

[2018-11-13 23:12] chadunit commented on #59310
Given that there is specifically an option to use the search panel for "more space", it makes no sense to fail to use that space by truncating results. Please show whole lines in search results.

![vscode search panel 1](https://user-images.githubusercontent.com/25489524/48449165-17199380-e767-11e8-907a-c1850f5b2958.png)
![vscode search panel 2](https://user-images.githubusercontent.com/25489524/4

[2018-11-13 23:12] monkeyhybrid commented on #49047
I like and agree with everything you've said there, @nick-walt. I'm not sure how much of this can be achieved without upstream (Electron) adding some tooltip control though.

[2018-11-13 23:13] mjbvz commented on #63062
This line is failing:

https://github.com/microsoft/vscode/blob/master/src/vs/editor/contrib/suggest/suggestWidget.ts#L160

`suggestion.documentation` is a markdown string here, not a `string`

[2018-11-13 23:25] roblourens opened #63063 "Weird values in process explorer"
- Windows
- Open process explorer
- Open large folder, start a long-running search
- See weird values in process explorer from rg.exe processes

They keep moving around so I paused it to inspect the page

![image](https://user-images.githubusercontent.com/323878/48449679-3f4dc600-e758-11e8-9857-8352482e2bc9.png)

![image](https://user-images.githubusercontent.com/323878/48449726-65736600-e758-11e8

[2018-11-13 23:27] octref opened #63064 "Reload loses unsaved changes"
Issue Type: <b>Bug</b>

- Create untitled file and write some code
- Make some edit in an existing file
- Reload
- Both changes are forever gone

Empty settings. The default should be either asking if the unsaved files should be saved, or using hotExit. None of that is happening.

1.28 would restore both file changes.

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11

[2018-11-13 23:32] roblourens commented on #63064
I don't repro

[2018-11-13 23:36] octref commented on #63062
Color codes show up fine for me, named colors don't. I guess it's related to changes in suggest widget.

[2018-11-13 23:36] octref commented on #63062
![image](https://user-images.githubusercontent.com/4033249/48450111-db2c0180-e759-11e8-83f7-7e7258916be8.png)

[2018-11-13 23:39] StephenNay opened #63065 "Add a setting to only unfold lines by clicking icons (or keyboard shortcut), not by clicking text"
I'm working primarily in YAML and JSON files. Like everyone does, I fold sections of code that I don't want to see at the current time. The issue (for me) is that when I click to place the cursor for one reason or another, if that click happens to be on a folded line then the section unfolds, which is not what I want. I would like to see a preferences setting that would only unfold lines when the

[2018-11-13 23:52] martellaj commented on #62964
It looks like this has already been implemented in Insiders... First bad move VS Code has made IMO. 🙁

[2018-11-13 23:54] alexhass commented on #61793
@okieselbach: Can you read? I said this is future musik. Check the dependencies yourself. MSIX should be done for sure.

But there are older windows 10/7 systems around. Until the MSIX can be used we need MSI. No way around. Ignoring is no option and I provided the vscode MSI installer to the vscode team.

[2018-11-13 23:59] roblourens commented on #62964
No, I haven't made any change for this.

I think some people are misunderstanding what this change is about. settings.json is not going away, you can even set it as the default if you want.

[2018-11-14 00:00] SeaDude commented on #62925
Happens before a folder is selected.

The button “Select Folder” is clicked, the file explorer shown, then OS/mouse/etc is unresponsive.

[2018-11-14 00:01] opethe1st opened #63067 "Show result of tests when hovering on codeLens"
My preferred setup is to optimize screen size for code when developing on my laptop (which means the terminal is closed). I would like to be able to see why my tests failed by hovering over it. This is a little related to this feature request - https://github.com/Microsoft/vscode/issues/26204
<img width="439" alt="screenshot 2018-11-14 at 00 01 04" src="https://user-images.githubusercontent.com/72

[2018-11-14 00:01] alexhass commented on #10759
The blocker is the missing official MSI of vscode. An unofficial has been provide by me. But the vscode team seems to ignore it and like to keep EXE innosetups. This EXE cannot deployed in enterprise via AD and therefore makes it a blocker for win 7 until now.

The feature here is only for future windows versions. I cannot wait longer for officially msi.

[2018-11-14 00:02] #63028 closed

[2018-11-14 00:04] martellaj commented on #62964
Got it. Thanks, Rob. The link in the rich settings UI to open in settings.json seems to be gone in the latest build so that's why I assumed. I'll have to hunt it down...

[2018-11-14 00:11] roblourens commented on #62964
Oh, under the `...` button? Yes that was moved to an editor action button, so now you can get to it with a single click 😄

![image](https://user-images.githubusercontent.com/323878/48451330-d74eae00-e75e-11e8-8ce0-8478e75a5f33.png)

[2018-11-14 00:17] samuela opened #63068 "macOS dock icon is miniscule"
If you zoom way, way in you can see that it's in between VirtualBox and Activity Monitor:
<img width="1134" alt="screen shot 2018-11-03 at 3 43 10 pm" src="https://user-images.githubusercontent.com/226872/48451437-488e6100-e75f-11e8-9953-0cf57e38fb8c.png">

- VSCode Version: Version 1.30.0-insider (1.30.0-insider) c72cb129f2a0b8117c9b01f3767026041d7d1d31
- OS Version: macOS 10.14.

Steps to Reprod

[2018-11-14 00:19] samuela commented on #63068
Restarting the dock with `killall Dock` seems to have reset the icon to normal size. Still not sure how or why it ended up tiny in the first place.

[2018-11-14 00:45] cilerler opened #63070 "Antimalware Service Executable spikes when searching"
⚠️ **This is NOT A DUPLICATE of #62509**

- VSCode Version:

[code]

- OS Version:
[code]

### Steps to Reproduce:

1. Open **Task Manager** and confirm **Antimalware Service Executable** is not above 10%
2. Open **VSCODE** and wait until **Antimalware Service Executable** goes below 10%
3. Open a file in **VSCODE** and confirm **Antimalware Service Executable** stays below 10%
4. Open a `*.code-w

[2018-11-14 00:57] sgyzetrov commented on #62970
Hi folks,

It sees VS Code will reproduce this hang whenever it is not being worked on. Although strangely if your workspace only contains `markdown` or `HTML` this issue would not occur. Since I did not experience hang in separate VS Code windows where I was editing `.md` or `.html` files.

The window I got hang was the one I was editing `.tex` files with `latex-workshop` plugin.

@jrieken Johann

[2018-11-14 01:00] #63067 closed

[2018-11-14 01:12] octref commented on #63064
@roblourens Are you on Mojave?

[2018-11-14 01:13] #62438 closed

[2018-11-14 01:16] chrisdias opened #63071 "Cannot (easily) expand last object in debug tip"
Mac, Insiders

when hovering over a value in break mode, it is very hard to click on the expando triangle to expand the last item listed because it is mostly covered by the horizontal scrollbar.

![image](https://user-images.githubusercontent.com/1487073/48453324-c22a4d00-e767-11e8-8240-bc44b2725e4b.png)

[2018-11-14 01:19] RussellSprouts opened #63073 "WebView link to document line"
Issue Type: <b>Bug</b>

1. Create an extension which shows a WebView.
2. Embed links to workspace documents like `<a href="vscode-resource:///d%3A/code/Sample.java#L123">test</a>`, using #L123 to anchor on a specific line.
3. Try to click on link
4. Nothing happens -- the document is not opened

I can't figure out how to link to a workspace document in the WebView API. With previewHtml, a link wit

[2018-11-14 01:21] cfkis opened #63074 "terminal"
Issue Type: <b>Bug</b>

Console content always displays only one row at the bottom, and the information is invisible after the command is executed.

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:47:15.448Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4590 CPU @ 3.30GHz (4 x

[2018-11-14 01:41] roblourens commented on #63074
Does it look the same as https://github.com/Microsoft/vscode/issues/57803?

[2018-11-14 01:42] roblourens commented on #63070
Does it happen if you start with `--disable-extensions`? Likely some extension is starting a search.

[2018-11-14 01:43] roblourens commented on #63068
That's... weird. Let us know if that happens again.

[2018-11-14 01:45] roblourens commented on #63002
@octref you had a couple ideas?

[2018-11-14 01:47] roblourens commented on #63002
From https://github.com/Microsoft/vscode/issues/41344

[code]

[2018-11-14 01:48] roblourens commented on #63064
Yes

[2018-11-14 02:03] zackkrida commented on #63033
Same issue on MacOs:

[code]

Relevant settings.json content:
[code]

if i press tab at all i get the "Running the contributed command:'emmet.expandAbbreviation' failed." notification.

[2018-11-14 02:04] alex-ketch commented on #62970
Similar to @sgyzetrov I've noticed VS Code reliably freezing if I switch focus to a different application and then come back to it.

Attached is a CPU profile from the latest freeze. I only tabbed over to Safari for a few seconds.
Please let me know if I can help any further.

VSCode Version: 1.30.0-insider
OS Version: MacOS 10.14.1

<details>
<summary>Installed Extensions</summary>

- `Zarel.subl

[2018-11-14 02:08] Dashfire commented on #2686
Possible workaround that might be useful to anyone wanting to have two folders open is to use Live Share and join your own session.

This allows multiple windows to be open simultaneously (With the only downside being always online requirements)

[2018-11-14 02:10] stone-wind commented on #61209
I have try the 1.29.0 version, still can not launch. the system's event log as below, event ID is 7036:
日志名称:          System
来源:            Service Control Manager
日期:            2018/11/14 10:07:05
事件 ID:         7036
任务类别:          无
级别:            信息
关键字:           经典
用户:            暂缺
计算机:          LOCAL
描述:
Windows Error Reporting Service 服务处于 正在运行 状态。
事件 Xml:
<Event xmlns="http://schemas.mi

[2018-11-14 02:30] skprabhanjan commented on #62952
@roblourens , can i work on this ?

[2018-11-14 02:32] skprabhanjan commented on #62365
@jrieken , can i work on this?
If so some starter pointers would be helpful :)
Thanks

[2018-11-14 02:37] cilerler commented on #63070
@roblourens as I already stated in initial post, yes.

[2018-11-14 02:37] eamodio commented on #62964
@roblourens for me I think just a normal split view would suffice. Sometimes I like the search filtering, but I don't think I'd miss it much.

[2018-11-14 02:39] roblourens commented on #62970
@alex-ketch and @khayuenkam's traces appear to show the same as others I've seen, basically just tons of IPC message receiving. I see NotificationsToasts.purgeNotification showing up a lot? I think that's `workbench.main.js:3620`

This commit https://github.com/Microsoft/vscode/commit/9efef6a484cda14209399356ad814a4f0248b0f6 looks a bit suspicious considering it involves the window onDidChangeFocu

[2018-11-14 02:40] roblourens commented on #62952
Sure

[2018-11-14 02:42] di3663 commented on #63038
I got the same issue every ten minutes, it's definitely a bug in 1.29.0.
Or all releases? occurs before, but not so frequently.

[2018-11-14 02:42] roblourens commented on #63070
I missed that, thanks.

When this happens, do you see any `rg.exe` processes? Are there any other vscode processes using high CPU when this happens?

[2018-11-14 02:44] neildom commented on #63038
I am also experiencing the “The window is no longer responding” dialogue since upgrading to 1.29.0. Initially I thought it was due adding the "terminal.integrated.experimentalBufferImpl": "TypedArray" setting but vscode still freezes after I removed this setting. I am using Windows 10 Version 1803

[2018-11-14 02:48] chaegumi commented on #63035
You can try this website: https://code.visualstudio.com/docs/getstarted/locales.
The same error was found in Simplified Chinese, the setting is "zh-cn", but it didn’t work, when I change to "zh-CN", it works.

[2018-11-14 02:50] cilerler commented on #63070
Yes, actually I have 2 `rg.exe` with 1% and 1.7% CPU

By the way I'm doing additional test upon a hunch

### Additional experiment
1. I created a new `temp.code-workspace` file and waited until **Antimalware Service Executable** goes below 10%
[code]
2. Added an additional folder into the `temp.code-workspace` file
[code]
it spiked again. not sure what is going on but literally can't work with Wor

[2018-11-14 02:53] roblourens commented on #63070
If extensions are disabled, there shouldn't be any `rg.exe` unless you do a search. Can you get the command line args of those from Task manager or the process explorer?

[2018-11-14 02:56] Ice-Wang opened #63076 "Can I add the ability to generate file header information"
Can I add the ability to generate file header information

[2018-11-14 02:56] cilerler commented on #63070
I wasn't running it with `--disable-extensions`
I tried with that and once I saw it does the same thing, I stopped using it.
let me run it with that parameter, will get back to you in a minute

[2018-11-14 02:56] ramya-rao-a commented on #63033
Thanks for reporting everyone

I see this only in the latest Insiders, but not when running the code from the master branch.
So, lets wait and see if tomorrow's Insiders fixes this.

[2018-11-14 02:58] ramya-rao-a commented on #63010
/duplicate of #63033

I see this only in the latest Insiders, but not when running the code from the master branch.
So, lets wait and see if tomorrow's Insiders fixes this.

[2018-11-14 02:58] #63010 closed

[2018-11-14 03:00] ramya-rao-a commented on #29757
@AlekSi Can you open a issue in the vscode-go repo for this? With sample code and your Go related settings? Such long labels seem very unlikely in Go

[2018-11-14 03:00] ustccw opened #63077 "workspace project"

[2018-11-14 03:00] Monkey-D-Pixel opened #63078 "Antimalware Service Executable high CPU usage when running svn commit/update task by shortcut key"
- VSCode Version:
Version: 1.29.0 (user setup)
Commit: 5f24c93878bd4bc645a4a17c620e2487b11005f9
Date: 2018-11-12T07:47:15.448Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

- OS Version: Windows 10 Professional 1809 (Build 17763.55)

Steps to Reproduce:

1. Use shortcut keys to run svn commit/update tasks.
2. Vscode gets slow, Windows task manager showing

[2018-11-14 03:04] skprabhanjan commented on #62952
@roblourens, Some starter points would be really helpful, thanks :)

[2018-11-14 03:10] ustccw commented on #63077
sorry, a hand mistake.

[2018-11-14 03:10] #63077 closed

[2018-11-14 03:17] cilerler commented on #63070
By the way, is there any easy way to figure out which one of the extension is causing this?

[2018-11-14 03:37] januridp opened #63079 "Not Responding"
Issue Type: <b>Bug</b>

I got update october and my editor starts annoying
https://twitter.com/i/moments/1062545196791955457

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:47:15.448Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-5005U CPU @ 2.00GHz (4 x 1995)|
|GPU Status|2

[2018-11-14 03:46] johngrabner opened #63080 "search reports no match, but file has many matches"
![search fail](https://user-images.githubusercontent.com/8209285/48458837-91f5a500-e78d-11e8-9872-1f04ef27521b.PNG)
Issue Type: <b>Bug</b>

Not doing anything special. Just noticed search not reporting the expected match.  See attached picture.

VS Code version: Code 1.26.0 (4e9361845dc28659923a300945f84731393e210d, 2018-08-13T16:29:31.933Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summar

[2018-11-14 03:50] lilianmoraru opened #63081 "Insiders(1.30.0) displays Windows 10 buttons on Linux"
- VSCode Version: 1.30.0-insider, commit: c72cb129f2a0b8117c9b01f3767026041d7d1d31
- OS Version: Ubuntu 16.04.5 LTS

Steps to Reproduce:

1. Install VSCode Insiders 1.30.0 on Linux

Does this issue occur when all extensions are disabled?: Yes

Screenshot:
1.30.0 Insiders:
![windowscodeinsiders](https://user-images.githubusercontent.com/621738/48458935-01d94f00-e7d1-11e8-8847-620e95b69cf1.png)

Pre

[2018-11-14 03:59] dawnmist commented on #61660
Still seeing this in 1.29.0, which includes typescript 3.1.4 as its release version. This is throwing errors in both `getCodeFixes` and `completionEntryDetails` resulting in no auto-imports and the description of imports missing when clicking Ctrl-Space for autocomplete.

Auto-complete/auto-import works when using a workspace version of typescript for 2.9.2, 3.0.3 and 3.20.0-dev, but 3.0.3 and 3.2

[2018-11-14 04:06] johngrabner commented on #63080
![old selection stays around](https://user-images.githubusercontent.com/8209285/48458962-1811eb80-e78e-11e8-8ab5-d81a0debba7a.PNG)

Found how to reproduced:
1) Select some text,
2) click the "find in selection icon",
3) now go an edit text somewhere else
4) double click a word to select it
5) ctrl f to search for this word.
6) select more text, but don't click "find in selection icon"
It appears t

[2018-11-14 04:06] #63080 closed

[2018-11-14 04:27] mjmj opened #63083 "Occasional freezing on some tabs"
Issue Type: <b>Performance Issue</b>

Freezing happens on different projects on various project files where I'm unable to click on them but I can still click on top menu items in VScode. I have to force quit that file that is open or the app if nothing is responding.

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:39:38.932Z)
OS version: Darwin x64 18.2.0

<d

[2018-11-14 04:35] carlocardella commented on #62964
Personally I don't care too much about the pencil (as long as intellisense will still work) but I do like the search/filtering. For settings I'm not a UI fan, I have set the json view as my default

[2018-11-14 04:43] eamodio opened #63084 "`alt`-key to focus menu bar can cause issues with alt-commands that open quickpicks and other focus issues"
Issue Type: <b>Bug</b>

With the custom menu bar and even with `"window.enableMenuBarMnemonics": false` set, the `alt` key force focus to the menu bar. This can conflicts with `alt` commands that open quickpicks (since it often closes the quickpick when you let go of `alt`) and other focus issues.

Can we just have a setting, or use  `"window.enableMenuBarMnemonics": false` as the signal, to disab

[2018-11-14 04:47] garyking opened #63085 "Multi root workspace: explorer expansion is not preserved"
- VSCode Version: Version 1.29.0 (1.29.0), Version 1.30.0-insider (1.30.0-insider)
- OS Version: macOS 10.13.6 (17G3025)

Steps to Reproduce:

1. Open a workspace in VS Code.
2. Expand a folder in Explorer. Close and re-open the workspace, or use `Reload Window`. All folders in Explorer are now collapsed.

This happens in latest stable version (started happening after upgrading to 1.29), and insid

[2018-11-14 04:51] VErwin opened #63086 "VS Code keeps crashing after update"
Issue Type: <b>Bug</b>

VS Code never crashed before the Oct. 2018 update (which was pushed to me today).  It has crased 3 times in the last hour since the update.  I am not doing anything particularily demanding.  I am updating a .js file, viewing it in my browser, then modifying, saving, viewing in browser again.  Application hangs after a few saves and crashes.  I lose my most recent edits if I

[2018-11-14 04:53] klins75 opened #63087 ""New" missing under "File" menu"
Issue Type: <b>Bug</b>

When I look under "File" on the menu, where you would expect to see the option "New", there is no such option.  So I can't start a new workspace or use a template.

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:46:32.773Z)
OS version: Windows_NT ia32 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Inte

[2018-11-14 04:54] furlongm commented on #62811
Opened a bug report against python-debian:

   https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=913274

According to the bug report, the spec doesn't seem to allow whitespace, but most tools are tolerant of it, including python-debian generally. Awaiting reply on the bug report.

[2018-11-14 04:57] Astrantia commented on #62964
@roblourens The new settings UI doesn't provide configuration for more complicated extensions. For example look up latex extension, 40% of the extension settings cant be configured in the new editor.

[2018-11-14 04:59] octref commented on #63002
Try adding Code to this list:

<img width="780" alt="screen shot 2018-11-13 at 8 58 23 pm" src="https://user-images.githubusercontent.com/4033249/48461123-f3fedc00-e786-11e8-8d11-2df1653066f7.png">

[2018-11-14 05:05] VErwin commented on #63086
this is NOT a dupe of (#62628).

This occurs if the HTML file is still loading due to a JS loop (that wasn't closed properly).  Before the update, if this happened, I would close the HTML file in Windows Edge and the infinite loop did not effect VS Code.  Now it is effecting VS Code and causes the application to crash if I do not close the HTML file.

[2018-11-14 05:13] octref opened #63088 "Cannot read property results of null"
1.29 Stable

- Open empty workspace
- Cmd + P
- Type something

<img width="1136" alt="image" src="https://user-images.githubusercontent.com/4033249/48461515-fcf0ad00-e788-11e8-8427-d195fc74cf11.png">

[2018-11-14 05:15] roblourens commented on #63070
That doesn't necessarily mean it's C#'s fault, do you see something similar when doing a search in this workspace? I asked about rg.exe because it has been involved with Antimalware strangeness in the past. In fact, there is another similar issue open for 1.29: https://github.com/Microsoft/vscode/issues/63036

If you see this with a normal search, then we can reopen this and investigate some more.

[2018-11-14 05:17] roblourens commented on #62952
I guess @aechan got to it first. @aechan this issue was claimed, please leave a note if you are working on an issue, or don't snipe issues that someone else is working on...

[2018-11-14 05:29] razikallayi commented on #62593
Add this to your settings

"window.titleBarStyle" :"custom"

[2018-11-14 05:33] pingshunhuang opened #63089 "Emmet stops working in the latest insiders"
- VSCode Version: 1.30.0
- OS Version: MacOS Mojave

Steps to Reproduce:

1. Create a React component
2. Inside render function
3. Use emmet syntax like `.test`
4. Emmet is no longer suggested as snippets
5. Press `tab`
6. An error occurs saying emmet failed, `tab` key is blocked at the same time

Does this issue occur when all extensions are disabled?: Yes/No

[2018-11-14 05:36] #63015 closed

[2018-11-14 05:37] pingshunhuang commented on #63089
I love this bot and the new beta github features 💯

[2018-11-14 05:46] Ice-Wang commented on #63076
Generate the following comments in the header of the file
[code]

[2018-11-14 05:51] #63076 closed

[2018-11-14 05:54] titamrtn commented on #63037
I solve the issue. it was not VSCode but my OS who get segfault error due to some icon cache or something like that

[2018-11-14 05:54] #63037 closed

[2018-11-14 05:57] jadenPete commented on #10759
Why would they provide an exe over an msi?

[2018-11-14 06:00] ALNY-AC opened #63090 "Running the contributed command:'emmet.expandAbbreviation' failed."
Issue Type: <b>Bug</b>

tab

VS Code version: Code - Insiders 1.30.0-insider (c72cb129f2a0b8117c9b01f3767026041d7d1d31, 2018-11-13T06:19:28.504Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz (12 x 2208)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: enabled<br>fl

[2018-11-14 06:09] Ice-Wang commented on #63076
thank you！

[2018-11-14 06:12] saschanaz commented on #10759
@alexhass Understandable, you may want to track #61793.

[2018-11-14 06:16] saschanaz commented on #61793
https://github.com/Microsoft/msix-packaging#windows-7-support

MSIX has been advertised to be cross-platform, so there of course is Windows 7 support 👍

[2018-11-14 06:16] LeThiHyVong opened #63091 "Maximized windows didn't fill the screen when Taskbar use small icons"
Issue Type: <b>Bug</b>

When windows task bar uses small icons, the maximized vscode windows doesn't fill the screen, there an extra line between the taskbar and window. You can see the black line from my wallpaper in this capture.
![capture](https://user-images.githubusercontent.com/19317679/48463427-872f2480-e80e-11e8-9ff2-c3f63191c0d0.PNG)
Other apps have no problem (Foxit Reader)
![capture](ht

[2018-11-14 06:20] andrewcourtice commented on #63086
I can confirm this is also happening for me since the latest update.

![image](https://user-images.githubusercontent.com/11718453/48463451-c3bb4a00-e827-11e8-8983-6bc44a46d10d.png)

![image](https://user-images.githubusercontent.com/11718453/48463806-0d586480-e829-11e8-9ba6-e03a3c4c344b.png)

[2018-11-14 06:20] shalomz opened #63092 "Constant freezes after Updating on 13th November, 2018"
Issue Type: <b>Bug</b>

After applying an update on the 13th November, 2018, my VS Code instance is constantly freezing most of the time. I am on Linux Mint 18.3. Most definitely, there is an issue with this update.

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:42:27.562Z)
OS version: Linux x64 4.15.0-38-generic

<details>
<summary>System Info</summary>

|I

[2018-11-14 06:33] YisraelV commented on #62824
I think this is similar to #21601 in that the same design decisions apply: There shouldn't be an error message since being offline is not an error state.

Even if the user should be notified about being offline, the notification:

1. should not indicate error has happened (with error icon)
2. should be in human language rather than the current situation.

[2018-11-14 06:36] LoneSimba opened #63093 "Error: The gulp task detection didn't contribute a task for the following configuration"
- VSCode Version: 1.30 (Nov 14 build)
- OS Version: Ubuntu 18.04

Steps to Reproduce:

1. Clone https://github.com/LoneSimba/RCSE.git
2. (Optional) Change anything in /public_html/themes/RCS/pages/main_template/*.scss
3. Try running "Terminal->Run Task", it will output "Error: The gulp task detection didn't contribute a task for the following configuration" and the rest of it.

Does this issue occ

[2018-11-14 06:41] derekwallace opened #63094 "Quick Open: Is not returning any files in workspace"
VS Code: Oct release
OS : Windows 10

Quick Open is not working at all.
It used to work but has never been reliable, but in general i rely on browsing for file in Explorer. I have tried excluding folders from the search to speed it up with limited success.

I use a network drive which maps to file server. the project area is large.

Currently when i perform Ctrl-P it only returns recently opened.

[2018-11-14 06:42] eamodio opened #63095 "Markdown link rendering in hovers isn't html encoding properly"
Issue Type: <b>Bug</b>

Markdown links aren't getting properly html encoded anymore.
![image](https://user-images.githubusercontent.com/641685/48464692-5f0fd900-e7ae-11e8-956a-3f34353ce032.png)

It was caused by this commit:
https://github.com/Microsoft/vscode/commit/d4116a8f38b2a4c5b68430bb734359b94d768316

I will be submitting a PR with the fix shortly.

/cc @jrieken

VS Code version: Code - Ins

[2018-11-14 06:45] ktowen commented on #62987
Fresh installation
Version: 1.30.0-insider (user setup)
Commit: c72cb129f2a0b8117c9b01f3767026041d7d1d31
Date: 2018-11-13T06:19:28.504Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

![video_2018-11-14_013607](https://user-images.githubusercontent.com/17689932/48464804-c9c11480-e7ae-11e8-8efc-085ce731879c.gif)

[2018-11-14 06:46] ramya-rao-a commented on #63089
/duplicate of #63033

[2018-11-14 06:47] #63089 closed

[2018-11-14 06:48] derekwallace commented on #63094
process explorer shows 2 x rg running.

![image](https://user-images.githubusercontent.com/5574230/48464952-30f3be80-e7d9-11e8-9141-21b35e2f7f0d.png)

[2018-11-14 06:52] brunholm commented on #62807
I just tested and I can rebind the SCM shortcut to something else like ctrl + shift + å, which works perfectly. Perhaps something else is overriding the ctrl + shift + g shortcut somewhere, even on a clean install.
Btw, we use bitbucket with ssh key if it makes any difference.

[2018-11-14 07:03] umnovI commented on #63022
@sbatten
[code]
`MATE Desktop Environment 1.12.1`

[2018-11-14 07:12] WilliamABradley commented on #61793
@petroemil According to this [documentation](https://docs.microsoft.com/en-au/windows/uwp/packaging/create-app-package-with-makeappx-tool) MakeAppX.exe can create MSIX too.

I had already started this work with #59152

[2018-11-14 07:12] mze9412 commented on #62699
I have the same issue on my aspnetcore/angular web project sinde the update to 1.30.0-insidder
VSCode Version: 1.30.0-insider (1.30.0-insider)
OS Version: Ubuntu 18.10 (Linux 4.18.0-10-generic #11-Ubuntu SMP Thu Oct 11 15:13:55 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux)

[2018-11-14 07:13] mityukov opened #63097 "language aware auto indent"
Issue Type: <b>Bug</b>

There are couple of examples, one in PHP, another one in JS:
[code]

[code]

In both cases, pressing Enter would make new line indented just like the previous one (col 8). However, it should indent to be matching the line where the "flow-style" construction started (col 4).

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:39:38.932Z)
OS

[2018-11-14 07:18] derekwallace commented on #63094
it has started to work now. process explorer is now showing just 1 x rg

![image](https://user-images.githubusercontent.com/5574230/48466315-68646a00-e7dd-11e8-83b7-218326e0fae2.png)

[2018-11-14 07:18] aechan commented on #62741
Try this? https://marketplace.visualstudio.com/items?itemName=alec-chan.vscode-quick-info-extension

[2018-11-14 07:18] aechan commented on #62741
Let me know what info you would want/desired formatting

[2018-11-14 07:32] derekwallace commented on #63094
and has stopped working now.
I made some changes to the workspace via my shell (edit files).
Now Ctr-P returns nothing when i search for a file.

It "feels like" it has detected a change, and now its re-building the entire "cache".
during this re-building the original cache is deleted.
Very very frustrating that a critical feature to find files in my workspace is un-reliable

[2018-11-14 07:33] WhipeeDip commented on #63038
Also experiencing this after updating. Version 1.29.0 on Windows 10 x64 1809.

[2018-11-14 07:33] ZSH-HSZ commented on #63086
same problem， macOS 10.14.0

[2018-11-14 07:37] chrmarti commented on #63057
Why is the 'Recent' list not helping?

[2018-11-14 07:37] abhinavk99 opened #63098 "VS Code Extension API support for vertical rulers"
It would be great if there was a way to see the editor's vertical rulers in the Extension API, such as with a list of Ruler objects in the TextEditor object. The Ruler object would just store the character number of the ruler and the color of the ruler.

[2018-11-14 07:38] baruchiro commented on #63023
The message box "the window is not responding" is not back, but still, when I delete a file, the delete message box appear multiple times.

[2018-11-14 07:47] ZSH-HSZ opened #63099 "1.29.0 is soo slow"
It takes up a lot of memory, at first i thought my computer was broken

[2018-11-14 07:57] nntantidakis commented on #63057
It is not helping me because I primarily code at php, and every support request I receive I open another folder on network location (depending on the server), and the recent list gets filled up with *junk* that I will rarely open again. So I want, and I guess I am no the only one, a new list that will set my favorites, that will allow me to quickly open a folder without relying on what I've opened

[2018-11-14 07:58] crewone commented on #63090
I get the same

[2018-11-14 07:59] jrieken commented on #63040
/duplicate of https://github.com/Microsoft/vscode/issues/50834

[2018-11-14 08:00] #63040 closed

[2018-11-14 08:01] pjninnim commented on #63028
The popup error of 'Unexpected Type' has been resolved, but after updating today to the latest version, this error has now changed to show the following error in a warning box (bottom right):

Debug adapter process has terminated unexpectedly (Error: Cannot read property 'type' of undefined
{"seq":1,"type":"response","request_seq":1,"command":"initialize","success":true,"body":{"exceptionBreakpoin

[2018-11-14 08:03] jrieken commented on #63038
/duplicate of https://github.com/Microsoft/vscode/issues/62970

[2018-11-14 08:03] #63038 closed

[2018-11-14 08:04] joaomoreno commented on #63064
@octref Can you maybe run the investigation over there, since @bpasero and @Tyriar are out?

[2018-11-14 08:06] minghuaw commented on #63081
Apparently if you go to settings and change the titleBarStyle back to "native", you will get back the original title bar. However, the forground color will be the same as the background color, making the menu texts invisible

[2018-11-14 08:07] QianChenglong commented on #62729
@ramya-rao-a Yes! Which I need is easily to browse the package structure like other package in my project.`Go: Browse Packages` use to open file is nice,but in my suitation is not working.

[2018-11-14 08:08] saschanaz opened #63100 "TypeScript autocompletion unexpectedly prefers hyphens"
- VSCode Version: 1.29.0
- OS Version: Windows 10

Steps to Reproduce:

Try autocompletion with hyphen-containing members. Here, "type" should appear first rather than second.

![image](https://user-images.githubusercontent.com/3396686/48468819-51029c80-e830-11e8-8286-4f9a9357c80b.png)

Does this issue occur when all extensions are disabled?: Yes

[2018-11-14 08:08] naoric opened #63101 "Code Action refactoring key binding not working"
- VSCode Version: 1.30.0-insider
- OS Version: macOS Mojave 10.14.1

Steps to Reproduce:

1. Setup key binding for extracting function:
[code]
2. Try to use it to extract a function (javascript file)

Does this issue occur when all extensions are disabled?: Yes

Though there refactoring quick fixes available, invoking code actions directly doesn't work, this is the exception i get:
[code]

This ha

[2018-11-14 08:08] MeikTranel commented on #62970
Don't know if this helps, but immediately after hanging i took a peek in Resource Monitor (My disk IO went to 100% in taskmgr) and found this.

![image](https://user-images.githubusercontent.com/6466560/48468636-b9c82580-e7ec-11e8-9625-4f1b1530f662.png)

[2018-11-14 08:10] sgyzetrov commented on #62970
Hi all,

I have noticed there is little useful information in my previous profile, possibly because the profile time is too short. I am uploading a much larger profile (over 30 sec). @jrieken @roblourens I hope it will be of help.

[CPU-20181114T160347.cpuprofile.txt](https://github.com/Microsoft/vscode/files/2579716/CPU-20181114T160347.cpuprofile.txt)

[2018-11-14 08:11] ZakaryCode opened #63102 "Vscode is easy to crash after the handover process, on window 10."
Issue Type: <b>Bug</b>

As mentioned in the title, after switching processes on Windows, vscode is prone to crash. There are no screenshots at present, but the probability is high.

Version: 1.29.0 (user setup)
Submission: 5f24c93878bd4bc645a4a17c620e2487b11005f9
Date: 2018-11-12T07:47:15.448Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

VS Code version:

[2018-11-14 08:14] eddieffe commented on #63035
Changing locale from 'it' to 'it-IT' made it work! Thank you chaegumi!

[2018-11-14 08:14] #63035 closed

[2018-11-14 08:16] edvinv commented on #62970
Same issue here on ubuntu 18.04. Not sure, but I think that it hangs when I work on other application for some time and then switch back to vscode.

[2018-11-14 08:19] jrieken commented on #62970
Thanks @sgyzetrov. That profile shows much more. Jus a QQ is that 1.29-stable or 1.30-insiders?

Yours and other traces hint towards a storm of IPC messages that overwhelm the renderer process. Can please run VS Code with extension host communication logging enabled, like so:

`code --logExtensionHostCommunication`

That will print all messages that are exchanged between the renderer and extension

[2018-11-14 08:29] scosmaa commented on #63029
Sure, I'm searching using the search functionality (the project size is normal, not so big not considering node_modules folder and .history folder plugin).

I do search and it's slower than days ago using 1.28 version.

I'll do more research, I want to test if the antimalware service is responsible

[2018-11-14 08:30] Alchez commented on #63092
I'm facing the same issue with random freezes.

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:42:27.562Z)
OS version: Linux x64 4.15.0-38-generic (Ubuntu 18.04.1 LTS)

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 5 1400 Quad-Core Processor (8 x 1563)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash

[2018-11-14 08:31] jrieken commented on #63062
This is a regression from us making things more markdown'ish by default...

[2018-11-14 08:32] #63004 closed

[2018-11-14 08:32] jrieken commented on #63004
Extensions cannot mute other extensions. The design of the system it to be cooperative and not exclusive.

[2018-11-14 08:32] chrmarti commented on #63088
![image](https://user-images.githubusercontent.com/9205389/48469890-38729200-e7f0-11e8-9373-de0f4f55d529.png)

[2018-11-14 08:34] chrmarti commented on #63088
@roblourens Looks like a recent change in search. Passing over to you.

[2018-11-14 08:35] shatgupt opened #63103 "Integrated terminal not starting WSL for new projects"
VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:47:15.448Z)
OS version: Windows_NT x64 10.0.17134

Steps to Reproduce:

1. Create a new folder and start VSCode in there using `Open with Code` right click context menu.
2. Set `terminal.integrated.shell.windows` to `C:\\WINDOWS\\System32\\wsl.exe` or in fact any path in Workspace settings.
3. Start the integrate

[2018-11-14 08:38] chrmarti commented on #62767
I have used a Node.js module to access GitHub, not sure about the performance. many small requests might be slow when run sequentially I guess.

Curious about what you mean with 'showing the labels live'.

Closing this issue, thanks!

[2018-11-14 08:38] dmitrykovaltsov commented on #63090
+1

[2018-11-14 08:40] #63062 closed

[2018-11-14 08:40] chrmarti opened #63104 "Debug: execvp(3) failed.: No such file or directory"
I'm getting a very similar error in today's insider's build when trying to debug a C# .NET Core web app. The regular build of vscode is working fine. Not sure if I should open a new ticket, or if it's truly related to what @rogersachan is reporting here?

- VSCode Version: 1.30.0-insider (1.30.0-insider)
- OS Version: macOS Mojave 10.14

[code]

My "terminal.integrated.shell.linux" setting is "/bi

[2018-11-14 08:42] bierenjiadehaizi opened #63105 "vscode 卡死"
Issue Type: <b>Bug</b>

vscode 使用过程中有规律的卡死

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:47:15.448Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7400 CPU @ 3.00GHz (4 x 3000)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: enabled<br>flash_st

[2018-11-14 08:42] jrieken commented on #62970
Thanks @sgyzetrov. Please try `code --logExtensionHostCommunication`

[2018-11-14 08:42] chrmarti commented on #62699
@winzig @mze9412 I have extracted #63104 for the debugging issue in 1.30.0-insiders.

@rogersachan Could you retry with 1.29.0?

[2018-11-14 08:44] alexr00 commented on #62991
Have you modified the terminal split setting? In your user settings, What is Terminal>Integrated: Split Cwd set to?

[2018-11-14 08:44] isidorn commented on #63064
Maybe related https://github.com/Microsoft/vscode/issues/61310

[2018-11-14 08:45] bermlee commented on #62642
Reported at: https://bugs.chromium.org/p/chromium/issues/detail?id=905222&can=2&q=component%3ABlink%3EEditing%3EIME%20&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified

[2018-11-14 08:46] sgyzetrov commented on #62970
Will do, standing by for the next freeze.

[2018-11-14 08:50] alexhass commented on #10759
@jadePete: I do not know!!! They neglected my 1 week work with no reason except, we have no time in next year. Strange for open source. See https://github.com/Microsoft/vscode/pull/38008

Looks like they do not understand Enterprise need and what a professional installer is. Since a short time the per User installer became the default download and system installer has been hidden in the download d

[2018-11-14 08:55] alexhass commented on #61793
Fascinating... just wonder how users should install anything on windows 7 as they have no permissions to install software per machine. There is no windows store on windows 7, too. And I cannot deploy an msix via active directory as software gpo only allows msi files.

[2018-11-14 08:59] xiaoxiangmoe opened #63106 "Add TSDoc support"
https://github.com/Microsoft/tsdoc

playground:
https://microsoft.github.io/tsdoc/

[2018-11-14 09:02] alexr00 commented on #62556
I also can't repro. My steps were:
1. Create a new file with the name testcomment.cshtml
2. Add html tag, head tag and script tag. Add some text in the script tag.
3. Select the text in the script tag. ctrl+/

[2018-11-14 09:03] weinand commented on #63104
This seems to be a problem with tasks: If I run the "Build" action in C# project, I see this error:

![2018-11-14_10-02-02](https://user-images.githubusercontent.com/1898161/48471540-65c13f00-e7f4-11e8-8c47-8cfec695ef4c.png)

The problem is independent from debugging, but if the prelaunch task of a debug config uses the build task, the problem shows up there.

[2018-11-14 09:05] pjninnim opened #63107 "Debug adapter process has terminated unexpectedly"
Issue Type: <b>Bug</b>

Start the debugger and you get a popup error in a warning box. Error Below.

[code]
[code]
VS Code version: Code - Insiders 1.30.0-insider (5fc60ec67950234cdf82ea455013617adf00e7b6, 2018-11-14T06:20:26.830Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD FX(tm)-8150 Eight-Core Processor            (8 x 3901)

[2018-11-14 09:05] bermlee commented on #62642
Just FYI: I assume this problem arose because of two things: the Microsoft Korean IME is still a hack-- instead of taking in pure keyboard codes, it's retranslating QWERTY input into the corresponding Korean, and later some smartypants on the Chromium side wanted to use Dvorak to input Chinese Pinyin (not a bad idea), and told it to ignore the Windows IME. I finally got around to reporting this be

[2018-11-14 09:06] isidorn commented on #61986
@roblourens got it. So your issue is probably fixed
Let's wait for @thpeder for a potential reproducable sample

[2018-11-14 09:07] isidorn commented on #62870
Seems like the issue is that the build in extensions get disabled. Forwarding to @sandy081
fyi @weinand

[2018-11-14 09:09] isidorn commented on #60488
@AnanyaJha thanks for letting us know. Adding verified label.

[2018-11-14 09:11] isidorn commented on #63048
Dup of https://github.com/Microsoft/vscode/issues/63034

[2018-11-14 09:11] #63048 closed

[2018-11-14 09:13] #62589 closed

[2018-11-14 09:15] thany opened #63108 "Consolidate userprofile storage locations"
I noticed there are three locations where VSCode stores data in the user profile:

- `~\.vscode`
- `~\AppData\Roaming\Visual Studio Code`
- `~\AppData\Roaming\Code`

The first one stores the installed extensions. The second one appears to store only an empty `logs` folder and literally nothing more. The last one stores *all* other information like keybinding, settings, caches, more logs, etc. At l

[2018-11-14 09:16] isidorn commented on #63085
I can not reproduce this issue both on stable and insiders on my os x.
Please note there was an issue which we fixed for the stable release https://github.com/Microsoft/vscode/issues/62706

Are you sure you are on latest insiders?
Can you reproduce if you disable all your settings and extensions?

[2018-11-14 09:21] isidorn commented on #63032
Dup of https://github.com/Microsoft/vscode/issues/61899

[2018-11-14 09:21] #63032 closed

[2018-11-14 09:22] roonie007 commented on #26952
+1

[2018-11-14 09:24] wmroar opened #63109 "missing everything"
I typed 300 lines code missing , just missing, what a fuck editor

[2018-11-14 09:30] weinand commented on #63104
This was my test project:
[myApp.zip](https://github.com/Microsoft/vscode/files/2580021/myApp.zip)

Please note that I'm on macOS...

[2018-11-14 09:32] isidorn commented on #62987
That is fine, the issue here is that alt shows the custom menu
Showing the custom menu the whole workbench layouts and that changes the panel size which makes the panel not maximized anymore,
Closing as duplicate of some older issues / will get fixed when we get this https://github.com/Microsoft/vscode/issues/50853

[2018-11-14 09:32] #62987 closed

[2018-11-14 09:33] hazratgs commented on #62042
Dear developers, you know the reason for this behavior? It seems to me that this is not about the editor, but rather a npm bug.

[2018-11-14 09:34] weinand commented on #63028
@pjninnim I cannot reproduce. What is your setup?

[2018-11-14 09:35] thany commented on #62790
Okay, I made another profile. I'm just selecting text here. I also noticed my fan spinning, which means it's using a LOT of cpu horsepower. Selecting text doesn't (or shouldn't) need that much math to go through.

Anyway, here it is:
[CPU-20181114T103337.zip](https://github.com/Microsoft/vscode/files/2580048/CPU-20181114T103337.zip)

[2018-11-14 09:36] sainf commented on #62991
After updating to 1.29, in Linux (arch), on: Terminal>Integrated: Split Cwd: default _inherited_ fails to open split terminal, but _initial_ and worksapceRoot work's fine.

[2018-11-14 09:40] QuentinMaypic commented on #63086
Same problem Ubuntu 18.04

[2018-11-14 09:40] jrieken commented on #62970
@sgyzetrov Sorry, from trace. This isn't between the extension host and the render but between the main process and the renderer. So, logging the extension host communication won't add more info.

Behaviour does look like a listener leak. Yesterday, I have pushed https://github.com/Microsoft/vscode/commit/b548ced43cb1c9f86f3a013e20ccd8613fbd4138 which is a check for leaking listeners. @sgyzetrov a

[2018-11-14 09:40] ustccw opened #63110 "how can i go to the last edit position, same to issue #20165"
what i wanted is just to go to last edit position.
`alt + left array` or `go back` always goto the latest place.

examples:
edit A file, browser B file, C file, D file to ensure A place, and now i want to goto A edit place for re-edit.
it there a way to make it?

thanks!

[2018-11-14 09:41] chrmarti commented on #62042
@hazratgs Which version of VS Code is this? `--status` needs to dashes: `code --status`.

[2018-11-14 09:43] chrisorrick opened #63111 "Split terminal windows directories"
Issue Type: <b>Bug</b>

In latest version of VSCode, I can no longer have split terminal windows from different working directories like I could previously. I have a workspace set up with multiple directories but can no longer open terminal in the second directory

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:39:38.932Z)
OS version: Darwin x64 17.4.0

<deta

[2018-11-14 09:47] xiyionxiong opened #63112 "升级之后已三次出现无响应"
Issue Type: <b>Bug</b>

如标题。
开发一段时间之后，出现无响应的情况。 必须将vscode 重启才能再使用。

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:39:38.932Z)
OS version: Darwin x64 18.0.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz (8 x 2800)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: e

[2018-11-14 09:48] Javid-Izadfar commented on #62994
I've Upgraded to 1.29 but still the same. And yes they are in keybindings editor

[2018-11-14 09:52] falkheiland commented on #62994
other issue

[2018-11-14 09:52] neildom commented on #62970
@roblourens Yes I had three notifications open. One relating to a Jest extension and another two relating to a Flow extension. I moved to a new PC recently and I'm using wsl so I expected that to be the cause of the notifications. In the previous version of vscode, I dismissed the notifications but I read in the release notes for this version that even notifications with buttons should disappear s

[2018-11-14 09:53] egonuel opened #63113 "ctrl+k does not clear terminal anymore"
Issue Type: <b>Bug</b>

after the update to 1.29 came in the clearing of the terminal using ctrl+k with focus inside the terminal does not work anymore. Instead of clearing ^K appears in the terminal command line

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:47:15.448Z)
OS version: Windows_NT x64 10.0.14393

<details>
<summary>System Info</summary>

|Item|V

[2018-11-14 09:56] egonuel commented on #63113
okay now I found the key binding, somehow the binding (which was a default one) got removed during the update. After adding it manually it works again

[2018-11-14 09:59] umnovI commented on #63086
Same problem Ubuntu 16.04

[2018-11-14 10:00] jrieken commented on #62970
Thanks @neilsustc. Also, please try http://code.visualstudio.com/insiders/ keep an eye open for leakage warnings.

[2018-11-14 10:03] joaomoreno commented on #50853
This is very likely not what you think it is.

This issue aims to use the grid widget for layouting. It will not introduce any new layouting features. It will not enable you to move viewlets around. It is a purely engineering issue to clean up some old layouting code.

[2018-11-14 10:04] jrieken commented on #62365
* Check the two usages of [`StorageScope.WORKSPACE`](https://github.com/Microsoft/vscode/blob/33c89529befce0fc18cb1c783f3d991b8b03c3d0/src/vs/editor/contrib/suggest/suggestMemory.ts#L222). They define where data is being read from: global or workspace storage.
* for the setting "Monkey see, monkey do" is my advice, take this as an example: https://github.com/Microsoft/vscode/blob/33c89529befce0fc1

[2018-11-14 10:09] ccc159 opened #63114 "activeDebugConsole.append() does not work on Version: 1.29.0"
Version: 1.29.0 (system setup)
Commit: 5f24c93878bd4bc645a4a17c620e2487b11005f9
Date: 2018-11-12T07:47:15.448Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

After updated to latest version 1.29.0, my plugin which prints output into `DebugConsole` using `activeDebugConsole.append()` function doesnot work anymore.

[2018-11-14 10:30] DTasev commented on #63110
I think the command you are looking for `workbench.action.navigateToLastEditLocation`. Rebind it in the keyboard shortcut settings

[2018-11-14 10:30] eypsum opened #63115 "Search can't find pch.h in project"
- VSCode Version:  1.28 ~ 1.30.0-insider(Latest)
- OS Version: Ubuntu Gnome 16.04.5
- Project: C/C++ project

Steps to Reproduce:
1. Search files using by Ctrl+P
2. Type pch for keyword
VSCode find files like pch.cpp, pch123.h on top  but not pch.h in the project.
VSCode never find pch.h file.
I don't specify pattern for that in the Exclude filter of the Setting.

Does this issue occur when all ex

[2018-11-14 10:32] karimmortabit commented on #45177
We need this to be able to work efficiently per feature development !

[2018-11-14 10:33] DTasev commented on #63092
Same issue, randomly freezes while _also_ having high CPU usage.

Version: 1.29.0 (system setup)
Commit: 5f24c93878bd4bc645a4a17c620e2487b11005f9
Date: 2018-11-12T07:47:15.448Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

[2018-11-14 10:33] weinand commented on #62394
I do not have access to VM Ware, so I cannot investigate this myself.

[2018-11-14 10:36] obendev opened #63116 ""scroll-snap-align" is not supported"
It seems like `scroll-snap-align` is not supported (Unknown property)
`scroll-margin` and `scroll-padding` are also missing.

![New model](https://developers.google.com/web/updates/images/2018/07/css-scroll-snap/specification-history.png)

- VSCode Version: 1.29
- OS Version: Winows 10 64 Bit

Steps to Reproduce:

1. Create a scss file
2. Write some code with `scroll-snap-align` property

Does thi

[2018-11-14 10:41] bpinaya commented on #63092
Same issue on Ubuntu 16.04 after the last update.

Version: 1.29.0
Commit: 5f24c93878bd4bc645a4a17c620e2487b11005f9
Date: 2018-11-12T07:42:27.562Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

[2018-11-14 10:42] rilut commented on #63092
same issue with VSCode 1.29.0 on macOS Mojave 10.14

[2018-11-14 10:43] gert7 opened #63117 "VS Code suddenly no longer available in Ubuntu dock while open"
Issue Type: <b>Bug</b>

In Ubuntu 18.04 the VS Code icon favorited in the taskbar suddenly "closes" but the window itself is open and perfectly fine. I can only get to it through the Activities gesture.

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:20:56.183Z)
OS version: Linux x64 4.18.0-11-generic

<details>
<summary>System Info</summary>

|Item|Value|
|-

[2018-11-14 10:46] weinand opened #63118 "Automatically set 'localRoot' to workspace if 'remoteRoot' is specified"
To simplify launch configs, we should introduce a default value '${workspaceFolder}' for the 'localRoot' attribute.
But this default must only be used, if the 'remoteRoot' attribute is specified.

/cc @isidorn

[2018-11-14 10:51] #63118 closed

[2018-11-14 10:59] rilut commented on #63086
same issue with VSCode 1.29.0 on macOS Mojave 10.14

[2018-11-14 11:01] SetTrend opened #63119 "Proposal: CSS Settings editor: Have ignore/warning/error setting settings highlighted (accessibility proposal)"
This may be a coming of age issue, but I find it hard to quickly browse CSS/SCSS/LESS settings because they all look the same, no matter what the setting is:

![settings](https://user-images.githubusercontent.com/9283914/48478680-4088fc80-e805-11e8-8aa2-dc8ca6fbd2f0.png)

Can we improve the visual settings editor by replacing the drop down by a horizonzal row of radio buttons, having the selected

[2018-11-14 11:02] DBDneelam opened #63120 "Not able to find download location for exported plantUML file"
- VSCode Version: Code 1.8.0 (38746938a4ab94f2f57d9e1309c51fd6fb37553d, 2016-12-13T17:45:32.595Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|plantuml|jebbs|1.4.2|

---

Steps to Reproduce:

1. Create plant uml file
2.Once done with the sequencing
3.Right  on plantUML file and click on "Export Current Diagram"
4.Diagram will get exported but expo

[2018-11-14 11:04] cilerler commented on #63070
You were right again, it also happens on another extension [Path Intellisense](https://marketplace.visualstudio.com/items?itemName=christian-kohler.path-intellisense). It is not happening as heavy as [C# for Visual Studio Code](https://github.com/OmniSharp/omnisharp-vscode) one but a single `rg.exe` stays in the **Task Manager** and it causes **Antimalware Service Executable** consumption to stay

[2018-11-14 11:07] isidorn opened #63121 "Debug: explore dynamic snippets"
Refs: https://github.com/Microsoft/vscode/issues/62851

Dynamic snippets should be shown on top of the add configuration suggest box and they should get configurations via provideDebugConfigurations call.
One dynamic snippet per debug type.

[2018-11-14 11:11] Konrad97 opened #63122 "Browserwindows opening as subwindows of vscode"
Issue Type: <b>Bug</b>

-open a link from code in vscode with ctrl+click
-now open your standart browser outside of vscode
-the browser window will appear under the vs code section
-close all browser windows in the vscode section
-now open your standart browser outside of vscode
-the browser window will appear under the standart browser section

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a1

[2018-11-14 11:11] ustccw commented on #63110
@DTasev wow! thanks a lot. it works.

[2018-11-14 11:11] #63110 closed

[2018-11-14 11:13] #62707 closed

[2018-11-14 11:14] sshmyg commented on #63033
Version 1.30.0-insider (1.30.0-insider)

Has same error!

[2018-11-14 11:14] isidorn commented on #63071
Dup of https://github.com/Microsoft/vscode/issues/59452

Assigning that to november to try to fix

[2018-11-14 11:14] #63071 closed

[2018-11-14 11:17] weinand commented on #51785
I've added both the `workspace` and the `configuration` to the DebugSession class.

With both available on a debug session eliminates the need for a DebugContext class in other areas of the debug API (e.g. in `DebugAdapterProvider.provideDebugAdapter`).

[code]

[2018-11-14 11:21] isidorn commented on #62851
Adding `help wanted` as we need user help currently for ruby and might potentially need it for other extensions. The work needed is updating ruby to user the newest vscode debug configuration api. More details can be found here https://github.com/rubyide/vscode-ruby/issues/404 and the PR should be done against that repository.
There are extensions which are already using latest vscode debug config

[2018-11-14 11:38] alexandrudima commented on #63012
@sigalvo Can you please follow the template we have for reporting issues? What is the actual problem here? What steps do you take? What is expected and what actually happens?

[2018-11-14 11:43] lizhijian520 opened #63123 "Editor stuck"
Issue Type: <b>Bug</b>

When you've written code or switched other TAB pages or two or three vscode, you're stuck

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:47:15.448Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4570 CPU @ 3.20GHz (4 x 3192)|
|GPU Status|2d_canvas: enab

[2018-11-14 11:44] ianp opened #63124 "Convert to async function refactoring loses generic parameter"
Issue Type: <b>Bug</b>

This method

[code]

gets converted into this

[code]

it should keep the explicit parameter on `parseJson<T>`.

Here’s the `parseJson` function in case that helps:

[code]

VS Code version: Code - Insiders 1.30.0-insider (5fc60ec67950234cdf82ea455013617adf00e7b6, 2018-11-14T07:58:01.008Z)
OS version: Darwin x64 18.2.0

<details>
<summary>System Info</summary>

|Item|Value|

[2018-11-14 11:45] RuiffCardoso commented on #4338
After adding support for multiple debug consoles, this is the only step that is missing for me to switch to "Debug Console" instead of "Integrated Terminal"

[2018-11-14 11:49] alexandrudima commented on #62826
@SamvelRaja Can you please try precisely these steps:
1) download [win32 zip](https://az764295.vo.msecnd.net/stable/5f24c93878bd4bc645a4a17c620e2487b11005f9/VSCode-win32-ia32-1.29.0.zip) or [win64 zip](https://az764295.vo.msecnd.net/stable/5f24c93878bd4bc645a4a17c620e2487b11005f9/VSCode-win32-x64-1.29.0.zip)

2) extract it to a new top level folder e.g. `C:\test` --- to avoid any long path name is

[2018-11-14 11:51] alexandrudima commented on #63045
PR welcome

[2018-11-14 11:55] jrieken commented on #62970
Not yet sure what happened but the attached movie shows how tabbing between two windows increases the number of listeners drastically (from 1789 to 5689 with not many switches). [cmd-tab-party.mov.zip](https://github.com/Microsoft/vscode/files/2580584/cmd-tab-party.mov.zip)

As @roblourens already pointed out, this code is fishy https://github.com/Microsoft/vscode/blob/c9408a694059aed5216f188141b8

[2018-11-14 11:58] isidorn opened #63125 "Screen cheese for suggest widget"
Have the following code sample
[code]
On s. trigger suggest widget. Press cmd + space again to get the docs one.
Screen cheese
![screenshot 2018-11-14 at 12 57 54](https://user-images.githubusercontent.com/1926584/48481182-ee4bd980-e80c-11e8-9ba4-8355159bff12.png)

[2018-11-14 12:04] werunom opened #63126 "Items in outline view do not follow cursor"
- VSCode Version: 1.29
- OS Version: Linux Manjaro

**Issue** -
I use vscode for markdown writing. After the latest update, the headings that come in the outline-view do not follow the cursor position. That is, if I move from heading-1 to heading-2 in the editor, in the outline, the heading-2 is not highlighted.

Does this issue occur when all extensions are disabled?: Yes

[2018-11-14 12:12] bbaassssiiee commented on #62130
Makes no difference.

[2018-11-14 12:17] cortopy commented on #46913
Experiencing same issue in code 1.28.2 and Babel.

According to this [question](https://stackoverflow.com/questions/49532205/vscode-breakpoints-disabled-greyed-out-when-working-with-typescritp-and-server) this behaviour is a regression introduced in 1.21.1. That seems to be the version reported initially in this issue

[2018-11-14 12:51] merqrial commented on #52569
Interested in seeing VS Code in Marathi.
https://www.transifex.com/user/profile/merqrial/

[2018-11-14 12:58] alexdevero commented on #63090
+1

Version: 1.30.0-insider (system setup)
Commit: 5fc60ec67950234cdf82ea455013617adf00e7b6
Date: 2018-11-14T06:20:26.830Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

[2018-11-14 12:59] budarin commented on #62140
I want to discover what branches are - I don't know their names

[2018-11-14 13:11] thpeder commented on #61986
@isidorn It seems like the logic for when it shows the output messages has changed.
We are sending messages to the debug output panel before replying to the Launch request and if the response to the Launch request is not a success then it doesn't show them.
I have changed the Mock-Debug-Adapter project to reproduce the problem, see here [thpeder/vscode-mock-debug](https://github.com/thpeder/vscode

[2018-11-14 13:18] usernamehw commented on #63057
@nntantidakis you can try this extension: https://marketplace.visualstudio.com/items?itemName=kruemelkatze.vscode-dashboard#overview

Also, is this issue a duplicate of #30646?

[2018-11-14 13:18] codiddle commented on #63056
/Run would be awesome, I just assumed it is all CLI behind the scenes.  When I first started to try this out, I was executing the code command, trying to pass the terminal arguments but was unable to get that to work, so instead I changed it to use the Process class, since it's a little cleaner and works without the need to keep a command prompt open.

[2018-11-14 13:25] rogermartensson opened #63127 "Git: Disable smart commit bessage box"
I don't want to commit all the files if no changes are staged. This was implemented many moons ago. Thank you.

Now whenever I commit and miss staging files I get a warning and to be honest, getting rather annoyed at that warning..

So my request is to be able to disable this messagebox and keep enableSmartCommit set to false.

[2018-11-14 13:37] yaohaizh commented on #58572
Fixed.

[2018-11-14 13:37] #58572 closed

[2018-11-14 13:38] alpaix commented on #54288
This is not very urgent. Still, it'd be helpful to understand if and when this issue could be resolved so we'd plan some integration work on our end. Thanks!

[2018-11-14 13:44] paulo-fernando-silva commented on #62908
The "From Client" is output from the logger in the extension. The extension that I'm trying is the [vscode-mock-debug](https://github.com/Microsoft/vscode-mock-debug), which seems to be the sample provided by the vscode project in the documentation [here](https://code.visualstudio.com/docs/extensionAPI/api-debugging).
Adding `response.body.supportsDelayedStackTraceLoading = false;` in that project

[2018-11-14 13:46] BertelBB commented on #31458
I was about to post a feature request relating to this. My suggestion would be to allow the user to see his current setting for the setting in question by hovering over it or clicking it, from there the user could also change the setting.

[2018-11-14 13:48] Kcko commented on #63099
Takes up a lot of memory, my cpu fan is spinning like a *****,  ctrl + p is very slow,

1.29 = real HELL!

[2018-11-14 13:53] krokofant commented on #63090
Duplicate #63033

[2018-11-14 14:02] dbaeumer commented on #63078
@Monkey-D-Pixel is this happening every time. We see something comparable with gulp but only when starting the task the first time.

[2018-11-14 14:03] jrieken commented on #63123
/duplicate of https://github.com/Microsoft/vscode/issues/62970

[2018-11-14 14:03] #63123 closed

[2018-11-14 14:04] dbaeumer commented on #54288
OK. Understood. @kieferrm can you add this to the next plan that we at least investiagte what it would mean to implement.

[2018-11-14 14:07] Kamadake opened #63128 "search.useIgnoreFiles ignored when working with new search"
- VSCode Version: 1.29.0
- OS Version: Mac OS 10.14

Steps to Reproduce:

1. have "search.useIgnoreFiles: false" in your workspace settings
2. add folder to .gitignore
3. search for content inside that folder with "Use Exclude Settings" enabled in search window
4. still can't find content inside that folder even though useIgnoreFiles is disabled
5. enable "search.useLegacySearch" in the workspace

[2018-11-14 14:09] kleber-swf commented on #14582
Usually I want to see the files in a tree view when I need to make a partial commit, like the content of one or more folders. It's hard to select each file, even with shift and stuff.

While this feature isn't ready, I'm using GitKraken or the good and old git command line tool: `git add folder/*`. If you focus the "Source Control" tab after this command you'll see the entire folder inside the "St

[2018-11-14 14:11] chrmarti commented on #62767
Apparently the filter boxes when searching for labels in the issue and on queries also match on the descriptions. That makes it hard to filter for 'bug' or 'feature' because these terms occur in many descriptions.

@cleidigh I'll look into removing generic terms from the descriptions and will post an updated list. Could you then upload that again?

[2018-11-14 14:13] DanTup opened #63129 "editor.insertSnippet() messes with indenting of the SnippetString"
This is a very similar issue to #44200/#57093 but that fix appears to be only being applied to completions, but applying snippets causes the same issues.

Here's a repro:

[code]

This creates a doc and inserts into it the code:

[code]

It then applies a snippet string that includes an additional line that is also indented by two spaces. However what you end up with is:

[code]

The inserted line

[2018-11-14 14:14] alexandrudima commented on #62790
@thany Again, this CPU profile does not reveal anything, so I believe the problem is not in our JS code, but perhaps is environmental:
* maybe a weird user data dir state (can be ruled out by trying the insiders version)
* maybe a GPU issue (you can try code --disable-gpu)
* maybe some other piece of software on your machine
* maybe some other yet not understood cause

I agree you should not have

[2018-11-14 14:15] DanTup commented on #63129
(@jrieken FYI - this seems similar to the completion issue you resolved)

[2018-11-14 14:19] alexandrudima commented on #62060
Sorry, no idea. Perhaps reach out to the dev that added that and ask them for a URL to something, even if that something is not a git repo ?

[2018-11-14 14:20] ThayalanGR opened #63130 "inbuilt Terminal doesn't show directory name at startup"
whenever I open the terminal, it doesn't show any directory name,
after start typing the command, it turns visible.
steps to reproduce the problem,
open vs code
open terminal ( Ctrl + ` )
then -
(it shows a blank  terminal screen without displaying the current directory path)

then-
try to type some command and execute it (say:-  $  ls )

then the directory path is visible.

Thanks,

Images.

![im

[2018-11-14 14:20] fusengine opened #63131 "many, many rg processes"
when starts vscode ca free my iMac pro
I watch the process and rg is duplicate 20 times.

- VSCode Version: latest
- OS Version: macOS 10.14.1

Steps to Reproduce:

1. I start vscode
2. freezes iMac pro until forced restart

Does this issue occur when all extensions are disabled?: No

[2018-11-14 14:25] mateuszgazdziak opened #63132 "vscode v. 1.29 freezes very often"
- VSCode Version: 1.29
- OS Version: Windows 10 (1803)

Steps to Reproduce:

1. Do stuff
2. After several minutes vscode freezes.

[2018-11-14 14:25] usernamehw opened #63133 "Highlight matches in Settings GUI search"
Actual:
![screenshot 103](https://user-images.githubusercontent.com/9638156/48488608-392c1800-e832-11e8-930f-645936592308.png)
Expected:
![screenshot 104](https://user-images.githubusercontent.com/9638156/48488615-3f21f900-e832-11e8-990a-08af97ebeb40.png)

[2018-11-14 14:29] weinand commented on #48722
Proposal is to add a readonly `id` attribute to the `Breakpoint` class and surface the internal and undocumented `_id` attribute via a getter:

Here is the interface for the proposed API (which is merged with the Breakpoint class):

[code]

[2018-11-14 14:31] #62794 closed

[2018-11-14 14:31] FyFou commented on #60010
I don't know why it came back in between two save.

[2018-11-14 14:32] chrmarti commented on #63057
We can track this separately from #30646, although we would probably only implement one, not both.

[2018-11-14 14:36] jrieken commented on #62970
![nov-14-2018 15-29-21](https://user-images.githubusercontent.com/1794099/48488918-1bef4d80-e822-11e8-8107-6ad437914602.gif)

I can reliably reproduce this. In above gif I have added a message that prints whenever a new listener is added, I have also tweaked the purge timeout to make things happen faster.

1. have a sticky notification, like the update notifications or one with buttons
2. when it

[2018-11-14 14:41] wapChu opened #63134 "控制台会出现残影"
Issue Type: <b>Bug</b>

控制台会出现残影

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:47:15.448Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6200U CPU @ 2.30GHz (4 x 2400)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: enabled<br>flash_stage3d: en

[2018-11-14 14:43] sterid opened #63135 "Cannot update with AppLocker"
Issue Type: <b>Bug</b>

Hi, VSCode cannot be updated from menu _Help -> Install update_ with enabled Applocker. The reason is unsigned TMP file "%OSDRIVE%\USERS\%username%\APPDATA\LOCAL\TEMP\IS-BOHH9.TMP\CODESETUP-STABLE-5F24C93878BD4BC645A4A17C620E2487B11005F9.TMP (or similar) was prevented from running." You have to use update service (as google chrome) or evaluate permission before starting upd

[2018-11-14 14:45] qubitron commented on #62972
I wanted to add a few more details using an example.

Currently if I start two different debug configurations (one flask, one django) with auto-reload enabled, I see the following in the debug dropdown:
![image](https://user-images.githubusercontent.com/17804393/48489188-4cf66080-e7d7-11e8-86f1-b8a52ab86381.png)

... and the following in the call stack window:
![image](https://user-images.githubus

[2018-11-14 14:53] jrieken commented on #62970
I have created https://github.com/Microsoft/vscode/pull/63136 to fix this.

[2018-11-14 14:54] jrieken commented on #62970
**Everyone** that is affected by this: Clearing your notifications should help to workaround this.

[2018-11-14 14:54] filipesilva commented on #63132
I also see this on Windows 10, VS Code v1.29.0. Saw it while editing a powershell script. Window hangs until a prompt comes up asking if I want to reopen it because it stopped responding.

Task manager shows VSCode CPU usage at very high percentages (50%) while it is frozen.

[2018-11-14 14:57] MustafaHi commented on #62923
Yes, I looked into it and realized its cut not just delete, sorry about that.

[2018-11-14 14:57] #62923 closed

[2018-11-14 14:57] fusengine commented on #63132
<img width="1277" alt="capture d ecran 2018-11-14 a 15 55 13" src="https://user-images.githubusercontent.com/7295655/48490583-07ad4f80-e826-11e8-984d-a6a74282af21.png">

[2018-11-14 14:58] filipesilva commented on #63132
This issue seems to be a duplicate of https://github.com/Microsoft/vscode/issues/62970. A suggested workaround is to always clear notifications.

[2018-11-14 14:58] filipesilva commented on #63131
This issue seems to be a duplicate of https://github.com/Microsoft/vscode/issues/62970. A suggested workaround is to always clear notifications.

[2018-11-14 14:58] filipesilva commented on #63092
This issue seems to be a duplicate of https://github.com/Microsoft/vscode/issues/62970. A suggested workaround is to always clear notifications.

[2018-11-14 14:58] filipesilva commented on #63083
This issue seems to be a duplicate of https://github.com/Microsoft/vscode/issues/62970. A suggested workaround is to always clear notifications.

[2018-11-14 15:00] filipesilva commented on #62970
I was seeing this while editing a file for which I did not have the suggested extension, which triggered a popup that I didn't bother clearing.

[2018-11-14 15:01] fusengine commented on #63132
haha I know and? I need response to why this freezings my Mac?

[2018-11-14 15:01] jrieken commented on #63059
Is that when focusing back from another window or while typing or else how using the editor?

[2018-11-14 15:04] jrieken commented on #62970
I have pushed https://github.com/Microsoft/vscode/commit/aa4ef3a42c2240b22863c64ba972c08fa9b224f3 to master which should fix this for next insiders

[2018-11-14 15:04] fusengine commented on #62970
Vscode is Nice this frozen completly my mac hahahah

![24edbb38-8459-47e4-b3fc-e44d8694ab6a](https://user-images.githubusercontent.com/7295655/48491024-ef8a0000-e826-11e8-8ac2-74103695c8fd.jpeg)

[2018-11-14 15:04] stanleynguyen opened #63137 "[Java] Syntax highlighting not working on multi-line method declaration"
Syntax highlighting doesn't detect language component correctly if a method declaration spans over multiple lines. Here is an example (please only take note of the colors)

Expected:
![capture1](https://user-images.githubusercontent.com/12974927/48491000-925f7000-e861-11e8-9682-3e6142dfdbdf.PNG)

Actual:
![capture](https://user-images.githubusercontent.com/12974927/48491010-968b8d80-e861-11e8-8ab8

[2018-11-14 15:07] jrieken commented on #62970
@fusion809 not nice but also unrelated to this issue. please create a separate issue for this (cc @roblourens)

[2018-11-14 15:07] chris-kostiw commented on #63036
The only other info Traps provides is
[code]
Unfortunately, I cannot reproduce the error this morning. That may be because I am working on a different network today, or because our IT have changed something in our Traps config overnight - I'll try to confirm that with them.

[2018-11-14 15:10] isidorn commented on #61986
@thpeder thanks for the nice repro steps, the fix should be ini tomorrows vscode insiders.
Please try it out and let us know if this fixes the issue for you.

[2018-11-14 15:10] joseph1125 commented on #63112
Use English next time, duplicate of #62970

[2018-11-14 15:11] #61986 closed

[2018-11-14 15:11] joseph1125 commented on #63105
Use English next time, duplicate of #62970

[2018-11-14 15:11] mateuszgazdziak commented on #63132
Yes, indeed it look like the same issue. I am sorry, I've missed that one.

[2018-11-14 15:11] #63132 closed

[2018-11-14 15:11] joseph1125 commented on #63102
duplicate of #62970

[2018-11-14 15:12] joseph1125 commented on #63099
duplicate of #62970

[2018-11-14 15:12] sgyzetrov commented on #62970
Make sense. With freshly installed insider ver, I never experienced hang since I don't have plugins that popup errors.

[2018-11-14 15:13] joseph1125 commented on #63086
duplicate of #62970

[2018-11-14 15:13] #62721 closed

[2018-11-14 15:13] #62451 closed

[2018-11-14 15:13] DavidSvetlik opened #63138 "Search stopped following symlinks"
Issue Type: <b>Bug</b>

Hello,

looks like after last update, search within files stopped following folder symlinks.

Thanks for all your great work, by the way. :-)

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:47:15.448Z)
OS version: Windows_NT x64 10.0.17134

<details><summary>Extensions (10)</summary>

Extension|Author (truncated)|Version
---|---|---
ca

[2018-11-14 15:14] fusengine commented on #62970
Window😻

[2018-11-14 15:15] joseph1125 commented on #63079
duplicate of #62970

[2018-11-14 15:19] Swazimodo opened #63139 "drag duplicates text"
Issue Type: <b>Bug</b>

1 - Make a selection
2 - ctrl + h to bring up find and replace
3 - esc to close find and replace
4 - drag text

I expected the selection to move but it was copied instead. I know that this bug has been brought up multiple times but I found new steps to still create it.

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:47:15.448Z)
OS vers

[2018-11-14 15:20] fusion809 commented on #62970
@jrieken Am I right in saying you pinged me by accident? That you were really aiming for @fusengine?

[2018-11-14 15:27] davidluhr opened #63141 "Split Terminal in Workspace no longer shows working directory dropdown"
- VSCode Version: Version 1.29.0 (1.29.0)
- OS Version: masOS Mojave Version 10.14 (18A391)

#### Expected Behavior

In previous versions of VSCode, the Split Terminal function would prompt the user with the "Select current working directory for new terminal" dropdown when creating a split terminal inside of a Workspace.

As of the latest update, this is no longer happening.

#### Steps to Reprodu

[2018-11-14 15:32] #63126 closed

[2018-11-14 15:37] fusengine commented on #62970
why aim for me?

[2018-11-14 15:41] #60014 closed

[2018-11-14 15:43] sandy081 commented on #62798
@pvh Feel free to submit a PR if you have improvements to the documentation.

[2018-11-14 15:47] sandy081 commented on #62975
@mjbvz What is the intention here?

Is it to recommend users an extension is replaced by a new extension and replace the old with new extension?

If so, why not rename the existing extension with new?

[2018-11-14 15:47] sandy081 commented on #62988
Duplicate of #50062

[2018-11-14 15:47] #62988 closed

[2018-11-14 15:55] jackzzj commented on #34330
Is this still not supported ?

[2018-11-14 15:56] filipesilva commented on #63131
Sorry about that @jrieken, I was looking for the hanging issue and got tunnel vision. My bad.

[2018-11-14 16:02] roblourens commented on #63131
Are you opening a workspace with many folders?

[2018-11-14 16:05] roblourens commented on #63023
What do you mean "the delete message box appear multiple times."?

[2018-11-14 16:23] hazratgs commented on #62042
version 1.29.0 (1.29.0)
5f24c93878bd4bc645a4a17c620e2487b11005f9

command code --status not work!

[2018-11-14 16:24] weinand commented on #62972
Clarification:
The dropdown menu in the debug toolbar shows "debug sessions" not "debug configurations".

Today both VS Code and the Debug Adapter Protocol (DAP) **knows nothing about child processes**. All functionality supported in the scenarios from above works either automatically or through a small amount of glue code in the debugger extension.

Making VS Code's debugger multi-process aware w

[2018-11-14 16:27] bossonojka opened #63143 "Сдвинулись подсказки синтаксиса"
Issue Type: <b>Bug</b>

При увеличении размера шрифта в параметрах, некорректно отображаются подсказки синтаксиса при вводе (сдвигаются влево и накладываются на иконки).

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:47:15.448Z)
OS version: Windows_NT x64 10.0.17134

[2018-11-14 16:29] sandy081 commented on #63019
@DanTup Are there steps to reproduce it?

When you see it next time, can you please inspect the DOM and see if the badge exists ?

[2018-11-14 16:30] misolori opened #63144 "Explore improving UX for IntelliSense"
This exploration will aim to unify the IntelliSense features (hovers, completions/suggest, parameter hints) in style and content. Additionally, we will explore to address the positioning of parameter hints  (currently shown above the cursor).

## Related Issues
- Shorten method signatures https://github.com/Microsoft/TypeScript/issues/14662
- Better structure for IntelliSense #50813
- Add opacity

[2018-11-14 16:32] sandy081 commented on #62870
Just a hunch, do you remember disabling an extension that has node debug extension is a dependency or part of extension pack?

[2018-11-14 16:42] isidorn opened #63145 "Merge sidebarPart and viewletService"

[2018-11-14 16:42] koalalorenzo commented on #34330
Still not supported...

[2018-11-14 16:42] roblourens opened #63146 "Missing "No results found" message"
- Text search
- With no results
- No message printed

[2018-11-14 16:48] DanTup commented on #63019
I don't know how to reliably repro it yet, but I've seen it quite a lot today. The badge is in the DOM but appears to have no count and is `display:none`'d:

<img width="1343" alt="screen shot 2018-11-14 at 4 46 19 pm" src="https://user-images.githubusercontent.com/1078012/48497904-f1ef5880-e82c-11e8-9690-a92b729eff1d.png">

There are errors here from both `tslint` (via the new extension) and from

[2018-11-14 16:48] peterallcdn commented on #18805
Back to coding after taking many years off. I've only been using VS Code for a week or so and already I see the need for this feature. Please add it, thanks!

[2018-11-14 16:49] sandy081 commented on #62841
With current framework it is not possible to dispose viewlets when hidden. Hence not implementing this.

[2018-11-14 16:49] #62841 closed

[2018-11-14 16:49] kieferrm opened #63147 "Allow to debug process right from the Process Explorer"
@weinand's VS Code extension https://github.com/weinand/vscode-processes allows to debug a process directly from the context menu. We should do the same for the built-in Process Explorer.

[2018-11-14 16:50] aardappel commented on #62980
Ah I see you were able to reproduce. Sorry for not giving an example earlier.

[2018-11-14 16:54] octref commented on #63125
I'm not sure I got the point. Locally I tried installing `filewalker`, and `s` is `any` so it shows word based suggestion, right?

[2018-11-14 16:55] joaomoreno opened #63148 "Tree: Support sorting"
@jrieken Makes a great point that the tree is the best place for sorting a model since it only needs to sort the visible elements.

[2018-11-14 16:56] octref commented on #62870
I only remember disabling references extension because of the startup flash.

[2018-11-14 16:56] joaomoreno opened #63149 "Tree: Support expansion state preservation with identity provider"
After discussing with @jrieken, the tree should support preserving elements' expansion states using the identity provider.

Additionally, this state should be serializable, in order to be able to dispose the tree and restore it accordingly.

[2018-11-14 16:58] sandy081 commented on #62582
I think settings is not the primary issue here.. it is just a detail of you can change a theme.

IMO, Theme updater should be smart to detect that the theme extension is being debugged and when switching to the development theme the change should be done in memory rather than impacting all windows.

Second issue is because of disabling extensions which is resetting the order.

[2018-11-14 16:58] octref commented on #62741
I think this should be built-in so we got an official source of truth for issue reporting.

[2018-11-14 17:02] sandy081 commented on #63019
I will try to repro from my side. If you could can you please help me in inspecting.
If possible have a break point at following line and see where is it going wrong

https://github.com/Microsoft/vscode/blob/c8cbfdad24a3d8a481f83b65401fa6fd63b7658b/src/vs/workbench/parts/markers/electron-browser/markers.ts#L64

This code updates the badge.

[2018-11-14 17:03] sandy081 commented on #62870
And are you able to repro it consistently (Even after enabling)?

[2018-11-14 17:21] daniel-livestories opened #63151 "Setting to disable all pop-ups"
I've seen many, many issues about disabling pop-ups and invariably the creator is satisfied with only _some_ pop-ups being disabled.  But I really do want _all_ pop-ups disabled.  They are annoying, are never informative for my DX, often creating very frustrating experiences as I begin typing only to have my vision obscured.  I have both the recommended settings (`"editor.quickSuggestions": false,

[2018-11-14 17:24] ansiblejunky commented on #63040
@jrieken That issue seems to be just an enhancement request. This is a bug for sure. The sorting is messed up when you have more than 10 subheadings.

[2018-11-14 17:25] misolori opened #63152 "Explore improving UX for Welcome Page"
This exploration will aim to modernize the look and feel of the Welcome page while also improving the layout for new and current users. Items we're looking to explore:

- Add "privacy" section to page for better visibility
- Add "recently update" section for app and extension updates
- Add underline for text links on hover (consistency)

## Related issues
- Ability to remove recent item #22489
- A

[2018-11-14 17:27] GabeDeBacker opened #63153 "Allow a task to execute an extension command"
Our build environment is quite complex and offers more that just console output. For example, information can be obtained by listening to event tracing providers.

As such, our VSCode extension communicates with an out of process server (using JSON-RPC) to perform the build actions in our environment. The extension exposes commands that users must specifically invoke to perform a build action.

Th

[2018-11-14 17:36] pkrawc commented on #63090
+ 1

`Running the contributed command:'emmet.expandAbbreviation' failed.`

Version: Version 1.30.0-insider (1.30.0-insider)
System MacOS Mojave v10.14.1

[2018-11-14 17:39] costincaraivan commented on #50853
😞 So it's clean up/refactoring. Oh well, I imagine it's needed to move forward 😄

Is there some plan/UX thing about making the terminals more flexible/will there ever be the possibility of using VS Code in a tmux-like fashion? It's so, so close to it. Or, alternatively, is there some sort of longer term roadmap for 2019, so that I can stop spamming this bug report? 😃

[2018-11-14 17:49] martellaj commented on #62964
@carlocardella Thanks for the heads up that there's a setting for settings. 😂 Just switched mine to be JSON by default! 🎉

[2018-11-14 17:51] alex-jitbit opened #63154 "Copy-pasting plain text from VSCode adds formatting (color etc"
- VSCode Version:  1.28.2
- OS Version: Windows 10

Steps to Reproduce:

1. Edit HTML file in VSCode, select some text then paste it into any wysiwyg editor (Gmail message box for example)
2. You will see formatting, like on the screenshot

Does this issue occur when all extensions are disabled?: Yes

See the screenshot. It should be plain text without black background and any colors.

![image](ht

[2018-11-14 17:54] kieferrm opened #63155 "Explore support for developing on WSL"
WSL allows you to run linux program on Windows. We are looking into providing support for working with WSL when Code runs on Windows.  This is related to https://github.com/Microsoft/vscode/issues/29194.

Other related items are:
- https://github.com/Microsoft/vscode/issues/9502
- https://github.com/Microsoft/vscode/issues/13138
- https://github.com/Microsoft/vscode/issues/20220
- https://github.c

[2018-11-14 17:54] beastdestroyer commented on #63152
@misolori from my issue at #56144 there was a comment about pinned projects on the welcome screen too.

And also to keep in line with thw rest of VSCode, the hyperlinks should have an underline on hover

[2018-11-14 17:54] nntantidakis commented on #63057
May be duplicate of #30646 but why pin only one project? I will test the module if it suits me, but i always prefer working without modules that does not interfere with the main UI. So if you can implement it, it would be nice and extremely comfortable for lot of developers that constantly change projects(for bug edits during multiple versions eg without git)

[2018-11-14 17:56] octref commented on #62870
It's not a reliable repro. I hit this once for a newly setup Mojave machine. Then I enabled the new Node Debug and disabled Legacy Node Debug. I coded a few hours and ran another launch config and see it disabled again.

The only interactions I did was disabling references extension and maybe installing a few extensions from marketplace.

[2018-11-14 17:59] budarin opened #63156 "Configure npm script shell for running npm tasks in VS Code."
- VSCode Version: 1.29.0
- OS Version: Windows Server 2008R

Steps to Reproduce:

1. set up default shell for terminal to bash with "**Terminal select default shell**" command
2. run any commmand from npm scripts - it opens in default windows cmd but not in bash

Does this issue occur when all extensions are disabled?: Yes

[2018-11-14 17:59] roblourens commented on #63070
Did you test text search or file search?

[2018-11-14 17:59] octref commented on #63125
Giving to @ramya-rao-a, although I cannot repro it.

<img width="696" alt="image" src="https://user-images.githubusercontent.com/4033249/48502231-e59ad980-e7f3-11e8-8715-3eacff095a9c.png">

Just right above, I have the fly-out style completion open:

<img width="710" alt="image" src="https://user-images.githubusercontent.com/4033249/48502246-ee8bab00-e7f3-11e8-9074-9a935a2c8437.png">

[2018-11-14 17:59] wynfred commented on #60786
Please reopen the issue

[2018-11-14 17:59] wrhansen opened #63157 "Python Debugger crashes with AttributeError"
- VSCode Version: 1.29
- OS Version: Ubuntu 14.04

Steps to Reproduce:

1. Run debugger on python file
2. Instantly crashes before anything runs

Error:

[code]

Does this issue occur when all extensions are disabled?: Yes -- can't run python debugging without extensions?

[2018-11-14 18:01] roblourens commented on #62994
Can you give a specific example of what the keybinding is and what doesn't work?

[2018-11-14 18:02] misolori commented on #63152
@beastdestroyer thanks, I've updated the issue to include those two.

[2018-11-14 18:05] ammarfahad opened #63158 "Do not start without the internet"
Issue Type: <b>Bug</b>

Whenever i  close my wi-fi or set the airplone mode on, the vs code does not start. I don't know why this is happening please fix this

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:47:15.448Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6500U CPU @

[2018-11-14 18:06] roblourens commented on #63099
Please provide more details. Is search slow? Do you see lots of rg processes? Is the window hanging? As many details as possible please.

[2018-11-14 18:11] roblourens commented on #63158
https://github.com/Microsoft/vscode/issues/7570

What does `code --version` print?

[2018-11-14 18:11] Eastonium opened #63159 "Config for Glyph Margin, Line number, Git Diff, and Folding order and/or spacing"
![image](https://user-images.githubusercontent.com/9437330/48502912-8ccc4080-e7f5-11e8-8fd0-4fc1baeea312.png)
The Glyph Margin, Line number, Git Diff, and Folding UI items in the left of the editor should be able to be reordered or have spacing added between them. My main reason to suggest this, is that since the folding and git diff buttons are right next to each other and also very small, it's e

[2018-11-14 18:22] roblourens commented on #63083
Does clearing notifications help?

[2018-11-14 18:23] roblourens commented on #63086
Does clearing notifications help?