[2021-07-29 01:29] alexweininger opened #129735 "Allow extension contributed walkthroughs to specify a "Next section" link."
### Idea
Let extension contributed walkthroughs link or chain multiple walkthroughs together similar to the built-in walkthroughs.

### Details

If a walkthrough specifies a "nextWalkthroughId" property then:
* the "Next section ->" link is shown
* Clicking the "Next section ->" link opens the specified walkthrough.

I've attached an image that shows the "Next section" link I'm referring to.

![im

[2021-07-29 01:30] Ella688 opened #129736 "Can't enter github repo link to clone the repo"
Issue Type: <b>Bug</b>

Go to top of the screen to search the repo name. Can see the option and click on it. Then nothing happens.

VS Code version: Code 1.58.2 (Universal) (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:09:06.581Z)
OS version: Darwin x64 19.6.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.6

[2021-07-29 01:33] claudiaregio opened #129737 "[Web] - Plain Text not prioritized in language picker, selecting it does not make (auto) go away"
Testing #129436

After Plain Text (Auto) detected, clicking on language picker does not bring up Plain Text at the top of the language picker list, have to scroll down to see it. When you scroll down and click it, it the (Auto) does not go away

![plain text test](https://user-images.githubusercontent.com/19276747/127417762-1ca2d032-59dc-484c-8c07-cb373eed379d.gif)

[2021-07-29 01:39] claudiaregio opened #129739 "[Web] - Run only on plain text still detects other languages"
Testing #129436

Retested `"[plaintext]" : { "workbench.editor.untitled.experimentalLanguageDetection": true }` with the code snippets that were detected with the original setting.
Still keeps detecting the languages

[2021-07-29 01:40] joyceerhl commented on #129738
This code takes over 60s to execute in a VS Code notebook and 10s in classic Jupyter. It looks like we're spending 60% of that time hashing cell outputs

[2021-07-29 01:43] alexweininger commented on #123525
+1 for this feature. It would help us create a better walkthrough for the Azure Static Web Apps extension microsoft/vscode-azurestaticwebapps#397

[2021-07-29 01:47] claudiaregio opened #129740 "[Web] - No run on markdown still autodetects markdown"
Testing #129436

Tested doesn't run on markdown, continues to detect markdown.

[2021-07-29 01:50] rebornix commented on #127198
@digitarald do you mind share the notebook you have?

[2021-07-29 01:55] claudiaregio opened #129741 "[Web] - Auto never goes away unless you change focus"
Testing #129436

For all setting scenarios, when a language is detected and you click the language picker and select the language, (Auto) does not go away unless you change focus to another file and come back.

[2021-07-29 01:56] claudiaregio commented on #129436
Closing as finished testing :)

[2021-07-29 01:56] #129436 closed

[2021-07-29 02:00] jdneo commented on #127385
Not sure if I did anything wrong about this contribution.

With this change https://github.com/jdneo/vscode-extension-samples/commit/189d5000531de392326923fdcdf36c4ba096a926

when the command triggered, I cannot get the test item instance.

![image](https://user-images.githubusercontent.com/6193897/127419303-a32d20d9-01d4-4730-a913-900f707d05af.png)

[2021-07-29 02:01] claudiaregio commented on #129419
Closing as tested and all worked for me :)

[2021-07-29 02:01] #129419 closed

[2021-07-29 02:12] taiya opened #129742 "Loading bash profile into container"
Issue Type: <b>Feature Request</b>

Not really a bug, but rather a feature request for better documentation (as I assume this is a pretty common request).

Adapting some information from here to vscode https://github.com/moby/moby/issues/1861

`.devcontainer.json`:
[code]

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:09:06.581Z)
OS version: Darwin x64 20.5.

[2021-07-29 02:14] Gurgenci commented on #1012
It is a mystery why someone would design a text editor without an overtype feature.  On the other hand, VS Code is free so I probably cannot whinge about it too much.  MS will fix it when they want to and I am hoping that they have good reasons for not having yet done so.

[2021-07-29 02:28] moxicode opened #129743 "Implicit import library"
Can it be achieved, or is it already achieved?
This is a configuration item
The directory path of the external function library. The language service will additionally load the JS files in these directories, even if they are not in the current working directory. And without importing you can view the classes, functions, etc., the effect is equivalent to import, which is when js is imported as a th

[2021-07-29 02:34] zeroxia commented on #129493
In Visual Studio, the **output** window can hold a lot of these logs from `OutputDebugStringW` function call, and terminal is another window that can take contents from `std::cout` or `std::cerr`, I personally like this setup. In Xcode, the termnal is re-used as terminal and REPL, which is very messy when there is a lot of logs dumped.

Actually Visual Studio has both "Output" window and "Immediat

[2021-07-29 02:42] 1696293282 opened #129744 "Question about the automatic adding Get Set method shortcut for the source code action in Java"
You can find the shortcut operation in the shortcut setting, but I did not find get set shortcut set shortcut settings, is no shortcut of the function or I did not find, in addition if I want to find how to automatically generate the source code how to operate, sorry to give you these trouble after your work, thank you.

[2021-07-29 02:42] Blanko2 opened #129745 "Issue when moving through menu selection in AwesomeWM"
Issue Type: <b>Bug</b>

I am using VSCode in AwesomeWM
When i select  the `File` menu and mouse down to `Preferences`, the submenu opens as normal
If i mouse over any option in the submenu, the selection jumps to an option higher in the `File` menu, such as `New File` or `Open File`

This does no occur with the Meld GUI, unsure what else i can test it with - don't have many GUI tools on this machi

[2021-07-29 02:50] NagayamaToshiaki opened #129746 "Open folder or workspace in the same window when no files are open (such as just launched)"
When launching VSCode and then open folder, the blank VSCode window is still open, so I have to manually close that. This is bothersome.
Why it doesn't open folder in existing window like Microsoft Office (ie. word or excel) does?

[2021-07-29 02:56] #127455 closed

[2021-07-29 03:08] rebornix commented on #129738
A few things happened under the hood slowing down the execution:

## Extension Host

* validateAndCOnvertOutputs
* serializeRequestArguments

![image](https://user-images.githubusercontent.com/876920/127425433-f406d0d9-fb89-42ae-a48b-4e4f34b53ba1.png)

## UI
* toNotebookOutputItemDto converts array buffer to array https://github.com/microsoft/vscode/blob/main/src/vs/workbench/api/browser/mainThrea

[2021-07-29 03:08] #125798 closed

[2021-07-29 03:16] JacksonKearl commented on #125577
Haven't been able to repro the cannot-check bug listed above, this was verified last iteration so will close out and reassign the milestone as no new work has been done.

[2021-07-29 03:16] #125577 closed

[2021-07-29 03:27] alefragnani commented on #129702
/duplicate of #124128

[2021-07-29 03:43] HyunseungLee-Travis opened #129748 "Vscode asks to login in to github even after logging in"
Issue Type: <b>Bug</b>

After the latest update, it seems like every time I load VSCode window, it asks me to log in to github by opening a white box asking for token or opening browser to login. I clicked on logging through browser and I did it without any problem. I also tried logging with token but the issue still remains.

I have many extensions that controls git and I tried installing, reinst

[2021-07-29 03:44] Miguelangelortizh opened #129749 "Jupyter: variable can´t be maximized"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-07-29 03:45] #129749 closed

[2021-07-29 03:45] HyunseungLee-Travis commented on #129748
The two existing bugs/issues is different.

[2021-07-29 03:48] chrisyeh96 commented on #125425
KaTeX supports macros such as `\newcommand` if the macros are used within the same math block, such as

[code]

By default, KaTeX does not "persist" the macros to new math blocks. However, [KaTeX has an option called "globalGroup"}(https://katex.org/docs/options.html) which enables KaTeX to persist such macros. I submitted a pull request #129747 which sets `globalGroup: true`. This should fix the

[2021-07-29 04:06] roblourens commented on #129588
You have this setting enabled right? `notebook.experimental.openGettingStarted`

The getting started content when clause is using a different setting...

[2021-07-29 04:19] roblourens commented on #129654
https://github.com/microsoft/vscode/issues/124193

[2021-07-29 04:19] #129654 closed

[2021-07-29 04:23] roblourens commented on #129711
We can't recommend Python for ipynb for the reason Joyce says, we do recommend Python (you can see it in the screenshot) but you might get the Jupyter recommendation first, it can actually be random. We can't recommend Jupyter and Python simultaneously. So I'm not sure how to improve it.

[2021-07-29 04:28] roblourens commented on #129713
I was debugging this recently and it's that we show the second cell, then add the output to the first cell, and we try to maintain the scroll position of the focused cell when inserting output above. Which I think is the right logic, but when it happens fast, it feels crappy. If you make the output show up slower, then I think it makes sense because you don't want the focused cell to move around.

[2021-07-29 04:29] roblourens commented on #129722
ctrl+enter, right? Can you do the "toggle keyboard shortcuts troubleshooting" thing and copy the log?

[2021-07-29 04:31] roblourens commented on #129717
Works for me, can you share the exact shortcut setup? You can also use the "Inspect Context Keys" command to debug (they show up in the devtools console)

[2021-07-29 04:39] joyceerhl commented on #129711
The experience proposed in https://github.com/microsoft/vscode/issues/128592 should cover getting started for Jupyter notebooks, specifically

Also include a "Find more languages" option that goes to the marketplace

[2021-07-29 04:43] roblourens commented on #129653
Only if the Python extension is installed, I just want to remove that check

I don't see that happening, but maybe it happens if the python extension is installed?

[2021-07-29 04:46] roblourens commented on #129502
Filed https://github.com/microsoft/vscode/issues/129732

[2021-07-29 04:46] #129502 closed

[2021-07-29 04:46] #129504 closed

[2021-07-29 04:47] roblourens commented on #129631
@rebornix and I talked about this and decided it's too risky for July

[2021-07-29 04:48] roblourens commented on #129711
Yeah I think it makes sense to just call this part of that

[2021-07-29 04:48] #129711 closed

[2021-07-29 04:49] gjsjohnmurray commented on #129736
/gifPlease

[2021-07-29 04:51] roblourens commented on #122545
Oh, I think this was actually the same as #128563

[2021-07-29 04:51] #122545 closed

[2021-07-29 05:10] ablacklama commented on #129717
[code]
I'm not sure how to use the inspect context key. I get output fine, i just don't know where to click or what variables to pay attention too.

[2021-07-29 05:13] mjbvz commented on #127700
@amcasey I think something may have changed/regressed on the TypeScript side. I see `geterr` requests in web but don't see any events being generated

To test this out:

1. Checkout `dev/mjbvz/bundle-44`
2. `yarn`
3. `yarn watch` and then also `yarn compile-web`
4. Start browser with `yarn web`

Here's an example `geterr` request:

[code]

[2021-07-29 05:15] #129743 closed

[2021-07-29 05:20] mjbvz commented on #129637
@Kingwl  Do you think this is caused by using document offsets instead of positions?

I'm still investigating but it seems like the typescript server may be temporarily getting out of sync with VS Code

[2021-07-29 05:23] mjbvz commented on #129553
This is not currently possible right now as custom editor associations are based on file extension, not language

However users could use the `workbench.editorAssociations` setting to configure this if you use files with a unique file extension

[2021-07-29 05:23] #129553 closed

[2021-07-29 05:25] rebornix commented on #129738
![image](https://user-images.githubusercontent.com/876920/127436404-5ce00c18-a97a-40a0-9381-1760ce0a008e.png)

6 seconds to render this image in the webview.

[2021-07-29 05:27] mjbvz commented on #129482
I've discussed this previously with @tanhakabir

Right now we treat every cell as an independent document. That's messes up you example, but if you treat the entire notebook as a single document instead, suddenly you get syntax errors when two cells declare variables with the same name

Needs a good UX proposal for this

[2021-07-29 05:28] rebornix opened #129750 "Picked mime type renderer is not respected"
Issue Type: <b>Bug</b>

For a multi-mimetype output, e.g., svg, the Jupyter renderer always wins. Even if I pick the builtin one, after closing and reopening the file, it's still rendered by the Jupyter renderer.

VS Code version: Code - OSS Dev 1.59.0 (Commit unknown, Date unknown)
OS version: Windows_NT x64 10.0.19041
Restricted Mode: No

[2021-07-29 05:28] mjbvz commented on #129473
Ok, I'm going to close this then since checkboxes are not part of the standard markdown spec (which is what we target with our built-in markdown rendering)

[2021-07-29 05:28] #129473 closed

[2021-07-29 05:39] ayushi-vishwakarma08 commented on #96132
Any updates? Please add this feature. It gets my vote too.

[2021-07-29 05:43] mjbvz opened #129751 "Show Debug preview (external browser) does not launch browser on Linux"
Testing #129445

Issue Type: <b>Bug</b>

1. Try using the `Show Debug preview (external browser)` command

**Bug**
Nothing seems to happen

In the developer tools, I see this error being printed:

[code]

[2021-07-29 05:56] #129445 closed

[2021-07-29 06:17] jeanp413 commented on #129609
duplicate of #129120

[2021-07-29 06:36] aupsloptp commented on #128763
Hi Megan,

Yes, can reproduce, still happens on the Insiders build (1.59.0-insider).

David

On Wed, 28 Jul 2021, at 2:03 AM, Megan Rogge wrote:

[2021-07-29 06:50] yasarsid opened #129752 "Predefined variables are not working in VScode workspace's launch config"
## Predefined variables are not working in VScode workspace's launch config

Issue Type: <b>Bug</b>

Steps to Reproduce
1. Open the project linked in VSCode
2. Navigate to debug tab, run 'run task (workspace)',
3. It throws an error
4. Similar tasks in general launch.json is succesful.

Link to [testProject ](https://github.com/yasarsid/testProject)-

workspace.json
[code]

error in console
[code]

[2021-07-29 06:56] karanssh commented on #70083
Bump, I run into this in latest release as well:

[code]

[2021-07-29 07:05] heptapod42 commented on #129492
Hi @jdneo I'd like to work on this issue if that's okay. Could you tell me what needs to be done?

[2021-07-29 07:06] heptapod42 commented on #125349
@JacksonKearl @Ayonijakaushik19 I can take this up if it's not already done. Could you elaborate on what new step needs to be added?

[2021-07-29 07:08] jdneo commented on #129492
@heptapod42 Feel free to take it if you want. While for what the UX will be looked like, may be @connor4312 is the right person to answer.

[2021-07-29 07:16] manibhushan opened #129753 "VS Code crashes on file/folder rename/creation"
Issue Type: <b>Bug</b>

There are times when I create a new file and it crashes VSCode. Sometimes on renaming a file/folder also crashes it.

VS Code version: Code 1.33.1 (51b0b28134d51361cf996d2f0a1c698247aeabd8, 2019-04-11T08:22:55.268Z)
OS version: Darwin x64 20.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz (4 x 2300)|
|GPU

[2021-07-29 07:19] Kingwl commented on #129637
Well, out of sync does make sense.

[2021-07-29 07:21] gjsjohnmurray commented on #129753
Please update to the current release. Your 1.33 is more than two years behind.

[2021-07-29 07:35] abdlrhmanshehatamoussa commented on #129609
Hi Guys,

I'm ready to help,

If any one could give a little push on where exactly can find the relevant code and any other recommendations, I'm ready to gooo.

Best of luck !

[2021-07-29 07:37] lzj347641801 opened #129754 "VSCode Start Run Python Latency Caused By Network Connection Timeout"
VSCode try connect to 40.77.226.250,13.107.13.93 when start run python, it will wait till timeout. it caused greate latency when the network is not connected.

[2021-07-29 07:37] rfmneves opened #129755 "When debugging variables take up to two minutes to populate after hitting the breakpoint"
Issue Type: <b>Bug</b>

Debugging our source code (haxe / js + sourcemaps) with versions after 1.56.2, takes up to two minutos or more to show the variables after hitting the breakpoint. Windows machines are not affected by this, only mac. We even tried different mac os versions and the new debugger but it didn't work. We had to revert to 1.56.2 which works as always by showing the variable values

[2021-07-29 07:39] begrs opened #129756 "Invisible Minimap clickable part"
Issue Type: <b>Bug</b>

- Open a code file with long lines of text so that the drop shadow of the code minimap appears.
- Click at the end of the line, around 5px before the visible shadow appears.

Expected result: cursor is placed in the long line of text at the clicked position.
Actual Result: page scrolls down, because the dropshadow extends invisibly a few pixels you click the minimap uninten

[2021-07-29 07:47] abdlrhmanshehatamoussa commented on #129712
Hi @meganrogge ,

I'm ready to work on this, if help is needed.

Any guides?

[2021-07-29 07:50] abdlrhmanshehatamoussa commented on #129748
Hi @eamodio

I'm ready to work on this if there is any help wnanted.

Just guide me through and I'll goo

Best of luck

[2021-07-29 07:53] alexr00 commented on #129415
@tenzinhl thanks for the docs reminder! I'll make an update.

[2021-07-29 07:54] ZZZZzzzzac opened #129781 "Replace(ctrl+h) does not working in notebook"
## Environment data
VS Code version: 1.58.2 (user setup)
commit: c3f126316369cd610563c75b1b1725e0679adfb3
date: 2021-07-14T22:10:15.214Z
Electron: 12.0.13
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.19042

-   Jupyter Extension version (available under the Extensions sidebar): v2021.8.1054968649
-   Python Extension version (available under the Extensio

[2021-07-29 07:54] lzj347641801 opened #129757 "Still Try Connect Network When Start Python Even Network is down"
When use F5 to run python in VScode, it will try to connect  13.67.9.5:443 and 40.77.226.250:443 even the network
is change to my corpnet, and  it will wait till timeout which caused great latency.

You can reproduct it use 360 to monitor the instant network connection of VSCode

[2021-07-29 07:54] isidorn commented on #129677
@hediet just to clarify my idea, since you mentioned in slack
"by showing the inline suggestion in the inline suggestion hover when the screen reader mode is enabled"

I think a nicer implementation would be to always have the `aria-label` set, even if the screen reader is not there. Since the aria label will only be visible to screen reader users. So I would not change the actual content of the w

[2021-07-29 07:55] CombeeMike commented on #129672
@meganrogge

I just tried the latest `v1.59.0-insider` and I don't see how my issue is fixed there.

There are still 2 explicit commands `workbench.action.terminal.kill` and `workbench.action.terminal.killEditor` which either work on the integrated or the "in editor" terminal but none of them is working on both.

The command `workbench.action.closeActiveEditor` works on both, a "normal" editor and

[2021-07-29 07:56] isidorn commented on #129730
Hopefully when we fine tune our heuristics towards popular vscode languages cases like this will become better.

[2021-07-29 07:56] #129102 closed

[2021-07-29 07:56] #129627 closed

[2021-07-29 08:00] rebornix commented on #129738
After removing the hash of cell outputs and disable output diffing for simple cases, right now it spent 10 seconds to execute this code in VS Code but less than < 500ms on Jupyter Lab. It might be related to the communication between the Jupyter kernel and ipywidgets comm.

[2021-07-29 08:01] abdlrhmanshehatamoussa commented on #129666
Hi @rebornix

I'm ready for help if needed.

Just guide me through and I will goo

Best of luck!

[2021-07-29 08:01] MihailCosmin commented on #129757
I experience the same issue.

Strange thing is, if I try to access https://code.visualstudio.com/ on my corporate wifi I get ERR_CONNECTION_CLOSED
But if I try to access the same website using my mobile data.... it connects.
Why does microsoft know which IPs come from corporate wifi and which not?
This is some conspiracy shit right here....

[2021-07-29 08:13] isidorn commented on #129279
Ben is on vacation. Moving to august, also assigning to @JacksonKearl if he would like to look into it this week.

[2021-07-29 08:14] isidorn commented on #127421
Ben is on vacation, so moving this out to August so he can decide what to do in debt week. Nothing for endgame.

[2021-07-29 08:16] isidorn commented on #129599
Probably not for last day of endgame, moving out to August

[2021-07-29 08:34] alexr00 commented on #129415
/closedwith bedf59228c20dabea2ce3f70486d177332582aa6

[2021-07-29 08:36] #129534 closed

[2021-07-29 08:37] tkazik opened #129758 "Private repositories on github are not detected"
Issue Type: <b>Bug</b>

Cloning a private repository does not work: Only public repositories are available in the dropdown...private repos don't seem to be discovered.
What I tried:
- verify ssh keys
- changed key from Ed25519 to RSA (as suggested [here](https://stackoverflow.com/a/68491438/9189492) )
- tried `git clone {repo}` on the cmd line, which did work

VS Code version: Code 1.58.2 (c3f1263

[2021-07-29 08:39] stuartleeks commented on #127070
Created an extension to add the icons to the statusbar and they all show up fine:
![image](https://user-images.githubusercontent.com/1824461/127460274-fa7a8f77-b5b9-4aac-8135-25e801efc35c.png)

[2021-07-29 08:39] kjsingh commented on #21839
I am the 770th customer waiting for this feature!

[2021-07-29 08:40] isidorn commented on #129727
Debug is just picking up messages from the console.
The real problem is the following.

1. Start VS Code, open developer tools > debug console
2. Notice `ApplicationInsights` warnings

I am not sure who owns the `ApplicationInsights` telemetry, but for now assigning to @sbatten

[code]

[2021-07-29 08:40] weinand commented on #129754
/extPython

[2021-07-29 08:41] #129754 closed

[2021-07-29 08:42] weinand commented on #129757
/extPython

[2021-07-29 08:42] #129757 closed

[2021-07-29 08:43] isidorn commented on #129752
`FOLDER_NAME` is simply not supported. You have to write the actual name of the folder.
There are no plans to support this as far as I know, but I can leave this open as a feature request for now.

[2021-07-29 08:44] weinand commented on #129599
There is a workaround in place for this.

[2021-07-29 08:44] #129753 closed

[2021-07-29 08:49] sharkka opened #129759 "vscode 1.58.2 unable to input chinese character but 1.57.* is ok"
VSCode version: 1.58.2
Start vscode as user(not root)
Switch to chinese input
Typing chinese is not working
But 1.57.* version works fine,
And reinstall fcitx-googlepinyin, not work.

[2021-07-29 08:50] alexr00 commented on #102485
@mjbvz do you know the steps to verify this?

[2021-07-29 08:56] #129540 closed

[2021-07-29 08:57] isidorn commented on #129571
Makes good sense, assigning to August. Let's put feature-request since this is not yet implemented.

[2021-07-29 09:13] d-shiri opened #129761 "vscode dosn't open on linux"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 70
- OS Version: Linux 5.10.53-1-MANJARO #1 SMP PREEMPT Mon Jul 26 07:18:28 UTC 2021 x86_64 GNU/Linux

Steps to Reproduce:

1. code
gives the following error, so does --verbose and code --disable-extensions
`2021/07/29 11:12:45.092228 system_key.go:129: cannot determine nfs usage in generateSystemKey: cannot parse /et

[2021-07-29 09:13] yuehuang010 opened #129762 "Disassembly View: Milestone 2"
Use this to keep track of work for the next milestone.

Features:
Show/Hide source code interweave
Show/Hide/Rearrange Columns
Enable/Disable/Condition for Instruction Breakpoints #129571

Bugs from Test Disassembly View #129161
Disassembly view: after session ends if new session is started the disassembly view is left empty #129526
Disassembly view: not possible to set instruction breakpoint with

[2021-07-29 09:19] stuartleeks commented on #126379
Verified on Windows:

![image](https://user-images.githubusercontent.com/1824461/127466397-474131d6-8e76-4a1e-97f2-993f6c443852.png)

[code]

and Linux:

[code]

[2021-07-29 09:21] isidorn commented on #129533
@xisui-MSFT no, it is not possible to dynamically update the aria label.

This sounds good, I would just cut it short to be

`Address: 0x00012345, Instruction: add eax, ebx`

[2021-07-29 09:21] yuehuang010 commented on #129762
@isidorn @weinand

[2021-07-29 09:21] jdneo opened #129763 "[Test Explorer] test summary still exists after clearing all test results"
After clearing all test results, the test summary still exists at the top of the test explorer, is it by design?

![image](https://user-images.githubusercontent.com/6193897/127466652-b2a25890-6696-4911-9000-f57082e65180.png)

_// cc @connor4312_

[2021-07-29 09:24] isidorn commented on #129762
@yuehuang010 Thanks for creating this. We can find all disassembly open issues by looking at what is linked from the test plan item here https://github.com/microsoft/vscode/issues/129161
And looking at open issues assigned to August that have `debug` label https://github.com/microsoft/vscode/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22August+2021%22+label%3Adebug

[2021-07-29 09:25] isidorn commented on #129698
Yeah, having a general solution makes good sense.

[2021-07-29 09:26] GitMensch commented on #21839
OK, we have a PR to fix this >4 years issue now, _only_ needing someone to review and pull that.
If given some hints about where to add this I'll create a follow-up PR to vscode-docs...

This would really help to use vscode in environments that are disconnected from the internet and/or not allowed to install any extension they like, which is both not uncommon in corporate environments.

[2021-07-29 09:31] isidorn commented on #118383
@alefragnani thanks for feedback. This is basically us fighting against Safari and their blocking behaviour.
I am assigning to August so I give this a try on my iPad and then I can let you know if we can improve something here.
I have to check the PWA experience.

[2021-07-29 09:31] sharkka commented on #129759
Maybe it is not the same issue
And, I also install vscode by snap, and I try to modify settings.json, clear all confiration in settings.json, and restart vscode, not work.

[2021-07-29 09:34] tanguyMichardiere opened #129765 "Docked debug toolbar doesn't show the new Inspect button"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.58.2
- OS Version: Darwin arm64 20.6.0

Steps to Reproduce:

1. Debug a frontend project (React in my case)
2. Set "debug.toolBarLocation": "docked"

The new "Inspect" button which launches the Edge Developer Tools inside VS Code doesn't appear in the toolbar when it's docked. It appears when it's floating. It doesn

[2021-07-29 09:34] sandy081 commented on #129725
![image](https://user-images.githubusercontent.com/10746682/127468502-f91bc7c0-b7d7-4736-a9d1-275e2a454e0a.png)

Moving this to codespaces as the splash screen from them is overriding the style.

[2021-07-29 09:34] #129725 closed

[2021-07-29 09:36] seraku24 opened #129766 "terminal.integrated.fontSize cannot be set as large as editor.fontSize"
Issue Type: <b>Bug</b>

To address #37455, Code implemented an arbitrary maximum on the terminal font size. This limit is overly restrictive when Code is being used as a presentational tool. Font size needs to be quite large to be readable at distance, and the current maximum makes it impossible to scale the terminal to match the editor.

The only workaround I have found is to adjust the font size

[2021-07-29 09:44] neobie commented on #129347
You misunderstood what I need and closed the file.
Upon saving a file in Folder A, I need the Folder A modified time to be updated as well.

[2021-07-29 09:51] psulek commented on #128745
@deepak1556 is there any chance for fix build sooner then next month proper release? I cant work across this issue in work day :-(

[2021-07-29 09:56] ShanMuhammad commented on #129351
@deepak1556

[main 2021-07-29T09:53:16.036Z] [File Watcher (node.js)] [CHANGED] c:\Users\smuham16\AppData\Roaming\Code\User\settings.json
[main 2021-07-29T09:53:16.087Z] Starting VS Code
[main 2021-07-29T09:53:16.087Z] from: c:\Program Files\Microsoft VS Code\resources\app
[main 2021-07-29T09:53:16.087Z] args: {
  _: [],
  diff: false,
  add: false,
  goto: false,
  'new-window': false,
  'reuse-w

[2021-07-29 10:04] Alexey-T opened #129767 "Breadcrumb bar: overflow its item _to the left_"
Currently, when window is not very wide, breadcrumb bar items are clipped from the right,
![vs1](https://user-images.githubusercontent.com/4154978/127473108-b9ddc709-305d-494b-80ca-8e694acfd3a1.png)

Here you can see that I cannot click LAST items of the bar, they are clipped, bar doesnt fit.
Suggestion: clip the bar items from the left. So user can see LAST items on any window width.

===
@halfbr

[2021-07-29 10:19] isidorn commented on #129472
Works fine, I just find it weird that this is finalized API but if I do not have `enableProposedApi` I will get an empty object.

[2021-07-29 10:57] icepirrin opened #129768 "can't connect to marketplace"
Console output:

electron/js2c/renderer_init.js:113 Electron Security Warning (Insecure Content-Security-Policy) This renderer process has either no Content Security
    Policy set or a policy with "unsafe-eval" enabled. This exposes users of
    this app to unnecessary security risks.

For more information and help, consult
https://electronjs.org/docs/tutorial/security.
This warning will not show

[2021-07-29 11:00] lszomoru commented on #129557
I believe so. In case of WSL, I guess we remember the first time the extension is installed in the distro so until you continue to connect to the same distro, independent which folder you open, the extension will always be installed by default on the WSL side. I am closing the issue.

[2021-07-29 11:00] #129557 closed

[2021-07-29 11:13] schl3ck opened #129769 "wrong z-index order of function tooltip and Jupyter notebook cell in split editor"
Issue Type: <b>Bug</b>

I noticed when writing Python code in a split editor view with a normal Python file on the left and a Jupyter notebook on the right that the tooltip with details of the method overlaps with a Jupyter notebook cell, but the cell borders and the help text at the bottom of the cell are drawn on top of the tooltip.

![vscode-tooltip-zindex](https://user-images.githubusercontent

[2021-07-29 11:14] alexr00 commented on #129415
\closedwith bedf59228c20dabea2ce3f70486d177332582aa6

[2021-07-29 11:18] stuartleeks commented on #128670
Verified that running a python file no longer shows the terminal panel with `"terminal.integrated.defaultLocation": "editor"` configured

[code]

[2021-07-29 11:25] #129097 closed

[2021-07-29 11:25] #129096 closed

[2021-07-29 11:25] #129073 closed

[2021-07-29 11:25] #129042 closed

[2021-07-29 11:25] #128678 closed

[2021-07-29 11:25] #123276 closed

[2021-07-29 11:26] SmartHypercube commented on #128628
@isidorn I think it's a little strange to close an issue as dup without mentioning the original issue's number. I cannot find any issue named "New File Input Box closes for file events in the background". This is unhelpful and will leave future people searching for the same problem a big mystery.

Could you please reopen this issue or give the original issue's number?

[2021-07-29 11:30] SmartHypercube commented on #128834
@isidorn I think it's a little strange to close an issue as dup without mentioning the original issue's number. The author has clearly put some effort in looking for possible dups. I cannot find the original issue either. This is unhelpful and will leave future people searching for the same problem a big mystery.

Could you please reopen this issue or give the original issue's number?

[2021-07-29 11:31] SmartHypercube commented on #129038
@isidorn I think it's a little strange to close an issue as dup without mentioning the original issue's number. I cannot find any issue named "Context menu does not focus electron app". This is unhelpful and will leave future people searching for the same problem a big mystery.

Could you please reopen this issue or give the original issue's number?

[2021-07-29 11:32] enkeyz opened #129770 "Debug inline values shows values twice"
Does this issue occur when all extensions are disabled?: Yes/No
Yes.

- VS Code Version: 1.58.2
- OS Version: latest Manjaro
- Latest stable Python/Pylance version

Steps to Reproduce:

1. Enable Debug: Inline values
2. Start debugging

![image](https://user-images.githubusercontent.com/17646853/127484962-6b9d7e87-d1eb-4ed5-8386-8286ab3347f0.png)

[2021-07-29 11:38] stuartleeks commented on #128999
Confirmed as still an issue on

[code]

[2021-07-29 11:39] lehoanganh298 opened #129777 "Collapse cell output error"
Issue Type: <b>Bug</b>

When collapse a cell output, sometimes other cells show a "cell output collapsed" icon and a horizontal line, but the output is still shown.

Extension version: 2021.8.1054968649
VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No
Remote OS version: Linux x64 4.19.128-mic

[2021-07-29 11:40] gjsjohnmurray commented on #129768
/duplicate Your version of VS Code has been built to use Open VSX instead of Microsoft's Marketplace.

[2021-07-29 11:41] #129768 closed

[2021-07-29 11:50] Woodz commented on #60149
This only works if you have configured VS Code to allow empty commits

[2021-07-29 12:01] Entomy commented on #87570
Aye, and it's just a constant reminder that they're hoping attrition will get this closed. 😕

[2021-07-29 12:05] sandy081 commented on #129449
Works pretty nicely 👏

[2021-07-29 12:07] aejb commented on #129689
`$$$` was functional in the previous version of the notebook editor, and used by [some assignment grading software](https://help.gradescope.com/article/3vm6obxcyf-latex-guide)

[2021-07-29 12:12] #129467 closed

[2021-07-29 12:41] sandy081 commented on #129710
I thought we do not mark them as recommendations and show only when asked for curated list.

https://github.com/microsoft/vscode/blob/976e5f7f2e7472fee33c5340a6042874af9c7c61/src/vs/workbench/contrib/extensions/browser/extensionsViews.ts#L656-L656

May I know what is that list that we mark as recommendations? If possible a ref in code would be great. Thanks.

[2021-07-29 12:56] stuartleeks commented on #129498
Verified that the dirty indicator is now preserved:

[code]

[2021-07-29 13:10] stuartleeks commented on #120180
Verified that I can repro on latest stable release, and also that it no longer occurs on the current insiders build

[code]

[2021-07-29 13:27] Vitalii4as commented on #121898
I am experiencing similar issue on versions 1.56 and later, but on 1.55.2 it works fine.

[2021-07-29 13:35] gjsjohnmurray commented on #128132
Maybe #121898 is related.

[2021-07-29 13:44] zkldi commented on #129666
Update as of today - Haven't changed anything, but ctrl+enter now runs replaceOne **AND** inserts a newline beforehand, which makes it unusable :(

[2021-07-29 13:57] #128400 closed

[2021-07-29 13:57] isidorn commented on #128400
Verification steps:

[code]
Put a breakpoint on second line, start debugging hit a breakpoint.
Remove a breakpoint, hit contine
Evaluate 2 + 2 in the debug console, make sure you get the result

[2021-07-29 13:58] alexr00 commented on #128269
I'm still seeing the pinned terminal vanish when I close and re-open the same folder. The tab flickers for a moment, but then it's gone.

![recording (64)](https://user-images.githubusercontent.com/38270282/127505062-d926f0a8-18a1-42b7-b91f-19cb660bea92.gif)

[2021-07-29 13:59] Evpok commented on #129761
I am also affected and also on Manjaro, but I only get the last error line

[code]

[2021-07-29 13:59] bruno-brant opened #129771 "Allow to control the sidebar icon size"
I would like VSCode to expose a setting that would allow me to increase or decrease the size of the icon in the sidebar (without further affecting the UI).

This can greatly improve experience when using icon sets such as material icons which includes semantic icons.

[2021-07-29 14:03] isidorn commented on #128132
I pushed a similar fix for https://github.com/microsoft/vscode/issues/128400
However the problem with this issue is the following:
* once a user presses `continue` we do not know that the Session 1 will be stopped again in a couple of ms. I have basically mentioned this problem here https://github.com/microsoft/vscode/issues/125144#issuecomment-869641057

So the only way to solve this that I see i

[2021-07-29 14:04] isidorn commented on #129702
Let's close as a duplicate and does not seem to be a regression and we can investigate more in debt week

[2021-07-29 14:04] #129702 closed

[2021-07-29 14:07] realvictorprm commented on #85154
Well, disabling the gpuAcceleration then results in the other bug which is annoying. No more underscores :sweat_smile: Now one has to decide, blurry text vs. underscores!

[2021-07-29 14:16] prashantvc commented on #21839
Adding Sandeep's comment for visibility https://github.com/microsoft/vscode/pull/129764#issuecomment-889155248

[2021-07-29 14:17] stefptsol opened #129772 "Debugging command/error messages stop showing on the terminal"
Issue Type: <b>Bug</b>

I am using typescript. In the past when I was pressing the debug arrow button the debug command was showing on the terminal . Not is it not and if the program can run correctly the debugging starts . If not I am not prompted with a message on when the error is thrown. This happened after an update most probably . Is this a bug or a configuration change with the new update ?

[2021-07-29 14:18] isidorn commented on #129597
Does not crash -> verified.
Though as you say now it is identified as "Julia". We'll have to fine tune this next milestone.

[2021-07-29 14:27] isidorn commented on #93462
Nothing for endgame, moving out to august

[2021-07-29 14:30] isidorn commented on #129510
I went ahead a pushed a fix for this since it is simple and that we do not have anything left in July. Adding bug so we verify this.

[2021-07-29 14:30] #129510 closed

[2021-07-29 14:34] d-shiri commented on #129761
ok after half a day wasted on this stupid problem here's what you can do:
1. https://askubuntu.com/questions/1198384/how-to-reinstall-a-snap-package
if you get:
[code]

2. do the following and then go back to 1.
https://snapcraft.io/install/code/manjaro

[2021-07-29 14:38] sercus opened #129773 "vs code doesn't connect to the internet"
Does this issue occur when all extensions are disabled?: Yes (Can't open the extensions so yes)

- VS Code Version: 1.58.0
- OS Version: Linux x64 5.13.5-arch1-1

I recently installed vs code in my laptop but for some reason I can't connect to the internet, the marketplace doesn't work and neither the log in. In the console I see  5 errors:

1 - Electron Security Warning (Insecure Content-Security

[2021-07-29 14:47] isidorn opened #129774 "IntervalCounter flaky web test"
https://github.com/microsoft/vscode/runs/3192889508?check_suite_focus=true

[code]

[2021-07-29 14:48] alexr00 commented on #123077
Are there steps I can use to verify?

[2021-07-29 14:51] isidorn commented on #125358
Can not repro with latest -> verified

[2021-07-29 14:51] tenzinhl commented on #129415
/verified
Ran simple echo task in file mode with no folder open with some simple variable substitution. It worked! Let's gooo. Thank you @alexr00 , this will allow me to use my competitive programming workflow a lot easier (without extensions) when I save a file directly rather than in folder mode 👍

[2021-07-29 14:52] tenzinhl commented on #129415
/verified

[2021-07-29 14:52] IllusionMH commented on #129531
/needsMoreInfo

Does VS Code actually receives <kbd>Alt</kbd>+<kbd>N</kbd> ?
Follow steps in https://github.com/microsoft/vscode/wiki/Keybinding-Issues#basic-troubleshooting to check.

[2021-07-29 14:53] boltex commented on #129019
@alexr00 Thank you for your time and consideration!

I've investigated this last night to try and get to the bottom of it. Turns out I had an event tied to the change of visibility of the treeview, and if visible === true, then I launched a  'refresh root' of the tree, which seemed to 'glitch out' that said refresh cycle. (is it intended/normal?)

(I re-use the same instance of the tree provider f

[2021-07-29 15:06] alexr00 commented on #129415
Not sure what's up with the bot. Thanks for verifying @tenzinhl !

[2021-07-29 15:08] alexr00 commented on #129019
Thanks for the investigation @boltex!

I'll take some time to make sure the behavior you're seeing is intended before closing.

[2021-07-29 15:16] YvesHenri commented on #91613
Has anyone found a fix for this? This also happens to me on Docker Desktop launch. This is extremelly annoying. Welp!

[2021-07-29 15:20] introom commented on #129531
The output is:
![image](https://user-images.githubusercontent.com/669045/127518118-96a87693-d97a-4b4d-8fa6-ecf53e2e4c35.png)

So when the editor is active, alt+n is not received at all.

However, if I move foucs to the log panel, alt+n would be recevied.

[2021-07-29 15:28] carlocardella commented on #124154
I found [this](https://github.com/microsoft/vscode/issues/32058#issuecomment-322162175) while I was trying to fix the same behavior for my extension.

I worked around it with this:

[code]

[2021-07-29 15:32] rzhao271 opened #129775 ""Trust parent" translated incorrectly"
Testing #129410

1. Open an untrusted folder with the French language pack installed
2. :bug: The "trust parent" button seems to be translated to something that means "parent of trust" rather than "to trust to the parent folder"

![Example screenshot](https://user-images.githubusercontent.com/7199958/127520699-cc4cfcd5-baf9-4ac5-9535-b0823f632565.PNG)

[2021-07-29 15:33] roblourens commented on #129467
Sorry @sandy081, I think there is a problem with Conda. Thanks for taking it @alexr00

[2021-07-29 15:33] daiyam commented on #15466
@evald24 Updating `User/globalStorage/state.vscdb` isn't working (the db is updated but the extensions...). Maybe it's working for workspace which your code seems to only do, but I've not tested that.

[2021-07-29 15:34] roblourens commented on #129472
Yeah, we are sure we want to finalize an API that depends on proposed API? Are we confident enough in the proposed API?

[2021-07-29 15:35] roblourens commented on #129717
This works for me. Where is focus when you press the keybinding? That's where you would click

[2021-07-29 15:36] baybal commented on #128132
Given this is a _very_ rare opportunity to catch people who work on VScode JS debugger, I have a small offtopic question

How does the debugger know the line number on which `console.log` was called, and how a wrapper for it can pass it along to the real console.log while preserving object inspectability, formatting, colours, etc?

It's important for logger packages like https://github.com/winston

[2021-07-29 15:37] weinand commented on #129770
What language is that?

[2021-07-29 15:39] #129474 closed

[2021-07-29 15:40] #129410 closed

[2021-07-29 15:56] connor4312 commented on #129772
/gifPlease

[2021-07-29 15:59] connor4312 commented on #128132
@baybal you can file issues here or [on js-debug](https://github.com/microsoft/vscode-js-debug) and I usually respond within 24 😉  The debugger knows the line console.log is called on since the call stack reported by V8. The first non-skipped location in the stack will be shown, which you can adjust using [skipFiles patterns](https://code.visualstudio.com/docs/nodejs/nodejs-debugging#_skipping-uni

[2021-07-29 16:01] TylerLeonhardt commented on #129730
Yeah this is a perfect case for when we can say that in VS Code the user is likely messing with untitled Java than Groovy. This is a duplicate of https://github.com/microsoft/vscode/issues/129596

[2021-07-29 16:01] TylerLeonhardt commented on #129730
Oh also cc @yoeo for model feedback.

[2021-07-29 16:01] itibbers commented on #129274
I have the same issue.

[2021-07-29 16:02] connor4312 commented on #129472
I think we're confident that there will be _something_ named a NotebookEditor and that we want it passed when doing messaging. Stable vscode.d.ts types it as an empty interface, so an empty object is passed to ensure that non-proposed consumers don't accidentally depend on any of its properties.

[2021-07-29 16:02] TylerLeonhardt commented on #129596
@claudiaregio found this great example https://github.com/microsoft/vscode/issues/129730

[2021-07-29 16:04] Tyriar opened #129776 "Dragging a tab doesn't re-evaluate the active terminal indicator"
Repro:

1. Set `"terminal.integrated.tabs.showActiveTerminal": "always"`
1. Open a terminal (or run a task)
2. Open another
3. Drag the second one to the top and to the bottom, notice the active terminal in the list doesn't always match the single tab at the top

Watch is the active one below but the active terminal border is not showing it:

![image](https://user-images.githubusercontent.com/2193

[2021-07-29 16:04] TylerLeonhardt commented on #129741
I removed the `(Auto)` text yesterday. The idea being that it's not very useful to the user. [See details here](https://github.com/microsoft/vscode/issues/129601#issuecomment-888526231) but since it's gone now I'll close this.

[2021-07-29 16:04] #129741 closed

[2021-07-29 16:06] enkeyz commented on #129770
Python.

[2021-07-29 16:08] TylerLeonhardt commented on #129737
I removed the `(Auto)` text yesterday. The idea being that it's not very useful to the user. [See details here](https://github.com/microsoft/vscode/issues/129601#issuecomment-888526231).

Additionally, in this case, the model isn't "guessing Plaintext" but rather it's not confident enough to think it's anything else so it stays on whatever language it's set to (in this case, plain text). Another e

[2021-07-29 16:08] #129737 closed

[2021-07-29 16:10] DonJayamanne commented on #129738
Could be the serialization and deralization that's causing this issue. I have seen that in other places, and have a plan to disable that when we don't have widgets (debt week). Eg here we don't have widgets.

[2021-07-29 16:10] roblourens commented on #102485
I tried but I don't understand this, I think I am following the same steps in the gif and descriptions but it doesn't load the persisted view state.

[2021-07-29 16:14] connor4312 commented on #129755
/jsDebugLogs

[2021-07-29 16:15] weinand commented on #129770
/extPython

[2021-07-29 16:17] rchiodo commented on #129728
Not sure I'd want a submenu. I think tooltips are the expected way to understand what a button does. Although a submenu doesn't make the button any less useful so maybe it doesn't matter.

[2021-07-29 16:21] Femtometer commented on #129675
Yes, My vsode is in a symlink dir.

[2021-07-29 16:22] kelleyjbrady opened #129778 "New Jupyter Format Painfully Slow"
Issue Type: <b>Performance Issue</b>

Launch a large jupyter notebook, perhaps one with some large Plotly interactive plots. Jupyter will be almost unusable, hangs constantly as if you are trying to program on a laggy RDP connection.

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details

[2021-07-29 16:22] connor4312 commented on #129492
We have a class that provides testing-related decorations for editors: https://github.com/microsoft/vscode/blob/87e0cb1d4394e87a4987d73190cc26740e3543e9/src/vs/workbench/contrib/testing/browser/testingDecorations.ts#L169

You can parse the current editor's URI using [parseTestUri](https://github.com/microsoft/vscode/blob/main/src/vs/workbench/contrib/testing/common/testingUri.ts#L45) to see if (an

[2021-07-29 16:23] connor4312 commented on #129755
Also note that you're a month behind on VS Code, the latest stable release is 1.58. Updating may resolve your issue.

[2021-07-29 16:23] weinand commented on #129467
@roblourens just a meta-comment: preparing a Dockerfile for these complex setups is helpful. For my simple-jupyter-notebook I did just that...

[2021-07-29 16:24] TylerLeonhardt commented on #129731
Thanks for this! Another great case for https://github.com/microsoft/vscode/issues/129596

cc @yoeo for an FYI

[2021-07-29 16:24] #129731 closed

[2021-07-29 16:28] isidorn commented on #129765
Dup of issue created by @DanTup

[2021-07-29 16:28] #129765 closed

[2021-07-29 16:29] rzhao271 commented on #102485
I also tried replicating the gif. When I split the editor, another copy of the file with the same highlighting shows up. I have both the restore and share settings enabled.

[2021-07-29 16:33] mbeliaev1 opened #129779 "Incorrect rendering of Katex in Markdown"
Issue Type: <b>Bug</b>
## Summary:
Before the updated built-in notebooks came out, I was using markdown cells within jupyter to render latex equations without any issue. With the new built-in notebooks, I am having rendering errors which I assume are due to the new KaTeX typesetter. I am sure there are more symbols and environments that will give me issues, but I have listed the few that I found s

[2021-07-29 16:41] rchiodo commented on #128145
@bpasero can you describe how to verify this?

It looks like I can open with the hex editor, but I can't diff?
![hexdiff](https://user-images.githubusercontent.com/19672699/127531439-759a23c9-c6c3-46c5-a025-98d7a42ecb76.gif)

[2021-07-29 16:44] lramos15 commented on #128145
The hex editor is different. Just wanted to make sure that you would get a text editor if you clicked open anyways and selected text. This was broken before

[2021-07-29 16:48] TusharSahaTonoy opened #129780 "show the number of total active cursor in the editor in the bottom status bar"
Sometimes when I create multiple cursor point, I need to know how many cursor I have created so that when I copy and paste I can match the total number of cursors without counting. Right now if I copy and paste using multiple cursor, if the total number of copy cursor and paste cursor count match than is paste perfectly else not.

[2021-07-29 16:48] TylerLeonhardt commented on #129739
My suspicion is that I wasn't clear enough on what the setting actually does. It doesn't control _which languages you can switch to_ but rather _which languages you are currently in cause switches to happen_.

With that said... I really like the idea of having a way to exclude languages that the model can guess... I'll rename this issue to capture that.

[2021-07-29 16:52] TylerLeonhardt commented on #129740
This is a duplicate of #129739 only because my suspicion is that the expected behavior of the setting was confusing.

[2021-07-29 16:52] #129740 closed

[2021-07-29 16:53] rchiodo commented on #128145
So the bug is fixed if the text editor opens?

[2021-07-29 16:55] lramos15 commented on #128145
The bug is fixed if the quickpick opens and lets you pick text editor. Not hex editor as hex editor is an extension

[2021-07-29 16:57] tanmayck1201 opened #129782 "Step back in Debugging"
Issue Type: <b>Feature Request</b>

There is no step back feature present for c/c++ debugger in vs code.
As per my searching, i didn't found any relative thing. it's there in visual studio enterprise edition but not in vs code 2021.
It'll be great if there could be this feature, will help to debug the programs more conviniently.
Thank you.

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1

[2021-07-29 16:59] tanmayck1201 commented on #129782
Imp Issue/Requirement

[2021-07-29 16:59] rchiodo opened #129783 "Notebook diff UI needs some sort of cell indicator"
Notebook diff seems off to me. I find it hard to tell where cells begin and end:

![image](https://user-images.githubusercontent.com/19672699/127533901-6677e0af-29e4-4004-95db-a54fdde281e9.png)

Perhaps we can include the execution count?

[2021-07-29 17:00] AidenMinecraft101 opened #129784 "Open in Browser"
Issue Type: <b>Feature Request</b>

When you right click the tab, there will be an option to "Open in Browser". Clicking on it will open it in Default Browser and using the dropdown will show other Browser on your PC.

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

![image](https://user-im

[2021-07-29 17:05] #129429 closed

[2021-07-29 17:07] gabloe opened #129785 "When opening up a JSON file VSCode crashes with "Error: Cannot find module""
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.58.2
- OS Version: Windows 10 21H1 (19043.1149)

Steps to Reproduce:

1. Try to open a JSON file
2. VSCode crashes with below error:
![image](https://user-images.githubusercontent.com/1381240/127534762-3db66efb-f002-40b2-8206-d93abdedea75.png)

[2021-07-29 17:10] sean-mcmanus commented on #129266
/verified

[2021-07-29 17:10] bobbrow commented on #129466
To clarify, we only see this when launching the Extension Host while debugging our extension.  It also requires that the released version of the extension is installed.

Repro steps:
1. clone https://github.com/microsoft/vscode-cmake-tools.git
2. Open the folder in VS Code Insiders
3. Press F5 to build and run the extension.
4. In the extension host window, open a folder with a CMakeLists.txt in i

[2021-07-29 17:11] RYDB3RG commented on #128415
@weinand removing this code https://github.com/microsoft/vscode/blob/9305cd060955caa9c434350657ebc25ead5858b2/src/vs/workbench/contrib/debug/browser/debugSession.ts#L955-L969 restores the old behaviour

it seems the 800ms timeout thing got lost somehow in https://github.com/microsoft/vscode/commit/5278e78731ce5f0e73c4af8f309960c839aebef3

[2021-07-29 17:12] deepak1556 commented on #129675
Thanks for confirming, merging to https://github.com/microsoft/vscode/issues/128725

[2021-07-29 17:12] #129675 closed

[2021-07-29 17:13] deepak1556 commented on #129351
@ShanMuhammad starting like `code --disable-gpu` should fix the issue you are facing, can you check ?

[2021-07-29 17:14] deepak1556 commented on #128745
You can use the insiders version https://code.visualstudio.com/insiders which is a nightly release.

[2021-07-29 17:14] meganrogge commented on #129776
this is the same as https://github.com/microsoft/vscode/issues/128301

[2021-07-29 17:19] #129776 closed

[2021-07-29 17:19] #128301 closed

[2021-07-29 17:19] ShanMuhammad commented on #129351
@deepak1556  Thanks for Quick update.

When I open new instance then its always open as a black screen. but second instance is opening fine.

[2021-07-29 17:19] DonJayamanne commented on #129482
Oh @tanhakabir informed me that you'll be fixing this scenario. Guess I must have misunderstood her.
Is there a way I can get this working (get auto completion, e.g with a separate language server, or prevent VS Code from displaying these errors)

[2021-07-29 17:21] weinand commented on #128415
@isidorn ?

[2021-07-29 17:23] weinand commented on #129782
VS Code supports "step back" in the UI. But debug extension have to implement this functionality. Please file this request against the debug extension you are using.

[2021-07-29 17:23] #129782 closed

[2021-07-29 17:23] meganrogge commented on #129729
when you run select default profiles, which of them show up in the quick pick list? only valid and validated profiles + contributed ones will have intellisense

[2021-07-29 17:25] rzhao271 commented on #129472
Isi took care of Paula's slot. Closing the TPI

[2021-07-29 17:25] #129472 closed

[2021-07-29 17:26] connor4312 commented on #129722
[code]

Disabling copilot fixes it 😬

[2021-07-29 17:26] rzhao271 commented on #129449
Sandeep took care of Paula's slot. Closing the TPI

[2021-07-29 17:26] #129449 closed

[2021-07-29 17:26] braddialpad commented on #31819
Man I just spent over an hour trying to figure out why my package-lock.json kept getting included in search when I had it specifically excluded in settings. Then I found this bug.. yeah I had it open.

[2021-07-29 17:29] mjbvz commented on #129779
Duplicate of #128490

[2021-07-29 17:29] #129779 closed

[2021-07-29 17:31] alandraper commented on #105021
Any ideas or workarounds to get this to work?

[2021-07-29 17:32] DanTup commented on #129765
(for reference, https://github.com/microsoft/vscode/issues/115945 is the other issue)

[2021-07-29 17:33] Kizmar commented on #105021
Mine started working after the last update or two. I don't use it very often so I'm not sure at what point it started to work again.

[2021-07-29 17:37] deepak1556 commented on #129351
Can you share a gif with the steps you are performing.

[2021-07-29 17:37] JacksonKearl commented on #129729
This is what I see for Select Default Profile:

![image](https://user-images.githubusercontent.com/8586769/127537683-cfc31c7f-99f6-4bc7-9d3a-9fc2c3d03a5f.png)

I noticed that once I reload I get newly added entries:
![image](https://user-images.githubusercontent.com/8586769/127538236-298d4633-164f-46eb-998f-6448f70aa171.png)

I'd expect the intellisense to update without a reload.

But there's sti

[2021-07-29 17:45] JacksonKearl opened #129786 "Intellisense in keybinding args without schema gives quick pick of every string in the product"
Testing #129429

Not really a critical bug but definitely a bit odd...

![image](https://user-images.githubusercontent.com/8586769/127539331-f2075fd1-8fb6-48dd-82e5-5e0695272830.png)
![image](https://user-images.githubusercontent.com/8586769/127539382-89f7c432-c966-471f-8329-974671a7a70e.png)
![image](https://user-images.githubusercontent.com/8586769/127539434-e5eb0b72-19af-452f-810e-8b50788362f8.

[2021-07-29 17:46] yonghie commented on #129773
same problem there

[2021-07-29 17:47] dshipp25 opened #129787 "JS class privacy tag syntax error injected upon file save"
Issue Type: <b>Bug</b>

When the file is saved, the class private Hash tag is separated from it's identifier, introducing a syntax error. This code demonstrates:

[code]

Upon saving the file, it becomes

[code]

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info

[2021-07-29 17:48] gjsjohnmurray commented on #129773
You are running a build that tries to use Open VSX for extensions instead of marketplace.visualstudio.com

/duplicate

[2021-07-29 17:48] #129773 closed

[2021-07-29 17:54] connor4312 commented on #127385
Thanks, fixed in the next Insiders @jdneo

[2021-07-29 17:58] NotDiamondZ commented on #129364
I'm just going to reinstall the entire system

[2021-07-29 17:58] #128172 closed

[2021-07-29 17:59] connor4312 commented on #128172
![](https://memes.peet.io/img/21-07-e85d0e2f-18a6-4ba2-93f2-1e5887f2367c.png)

[2021-07-29 17:59] willibrandon commented on #91613
The same thing happens when I launch Docker Desktop. Please fix.

[2021-07-29 18:00] rebornix commented on #128999
Thanks for testing. I can reproduce this on macOS. Weird that it's not platform agnostic

[2021-07-29 18:00] DetachHead opened #129789 "error when attempting to debug nodejs script running in devcontainer: cannot find module bootloader.bundle.js"
Does this issue occur when all extensions are disabled?: Yes (except `ms-vscode-remote.remote-containers` and `ms-vscode-remote.remote-wsl`, which are required to use devcontainers)

- VS Code Version: 1.58.2
- OS Version: windows 10 20h2

Steps to Reproduce:

1. clone [this repo](https://github.com/DetachHead/vscode-devcontainer-debug-crash) to somewhere in `\\wsl$`
2. open the devcontainer with

[2021-07-29 18:11] DavidKutu commented on #129136
Hey @A-Pai, this video runs through the notebook debugger https://www.youtube.com/watch?v=d2Yz4tivhPg.
Hope it helps.

[2021-07-29 18:15] IllusionMH commented on #129787
/needMoreInfo

Are you using built-in TS version (used for JS as well) or workspace version?

VS Code 1.58.2 ships with VS Code that doesn't produce this result.

You used command line or <kbd>F1</kbd> and `>Developer: Reload Window With Extensions Disabled`? Some extensions require window reload to be completely diusabled?

Do you have any actions configured in case e.g. `editor.codeActionsOnSave

[2021-07-29 18:20] bertutron commented on #128900
@misolori sorry for taking so long, i just start with trying to get involved, and somehow i missed your comment.

Would it be possible to to this in the same menu style that code completion comes in? i think this would fit perfectly, if you hit a key combination (other than ctrl-space), basically nothing could show a menu with further information, so it would garuanteed not interfere with any actu

[2021-07-29 18:28] victodias opened #129790 "To many requests"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-07-29 18:29] #129790 closed

[2021-07-29 18:35] rzhao271 opened #129791 "Color parameter not picked up when pty parameter passed in"
Testing #129009 on Windows

The extension sample uses the `pty` parameter, so I initially kept in that parameter:

[code]

I noticed the `color` parameter wasn't being picked up. When I took out the `pty` parameter, the TPI was good.

[2021-07-29 18:35] #129009 closed

[2021-07-29 18:36] greazer commented on #129639
Doesn't seem like a dupe of ultimately linked (and fixed) issue. Still repros in latest insiders.

![Multiselectbug](https://user-images.githubusercontent.com/11685408/127547349-952545d9-fce8-443f-b266-9ff750ab7c72.gif)

[2021-07-29 18:40] rzhao271 commented on #129502
Removing this issue from this milestone, considering it's being tracked in the new feature request filed above.

[2021-07-29 18:42] rebornix commented on #128999
nvm, I can reproduce this sometimes on Windows as well. The grid view is giving me a non-empty dimension when we max the panel somtimes. Will report a bug for that but for now I will fix this in notebook.

[2021-07-29 18:42] #128999 closed

[2021-07-29 18:43] rebornix opened #129792 "Editor control gets non-empty dimension layout when panel is maximized"
When the panel is maximized, the grid view will call layout on editor group but the dimension is not always `(0, 0)`.

[2021-07-29 18:46] rebornix commented on #129778
@kelleyjbrady can you try add `"jupyter.enablePlotViewer": false` to your personal setting and see if it helps?

[2021-07-29 18:49] roblourens commented on #129639
Different than the duped issue, but not a regression. Need to be able to unfocus cells even when they are not rendered

[2021-07-29 18:52] roblourens commented on #129722
Oh yeah I forgot I did that already :/

[2021-07-29 18:52] #129722 closed

[2021-07-29 18:54] #125506 closed

[2021-07-29 18:56] mjbvz opened #129794 "Allow editing TypeScript: Tsdk in settings GUI"
**Feature request**
Right now `TypeScript: Tsdk` can only be edited using the settings.json. We should also allow editing it in the settings UI

The root cause is that the type is `string | null`

[2021-07-29 18:58] #129570 closed

[2021-07-29 19:00] connor4312 commented on #129722
Should I open this issue on the copilot extension?

[2021-07-29 19:00] meganrogge commented on #129729
Yeah that looks wrong 🤔

[2021-07-29 19:03] GaikwadPratik opened #129795 "Could not read source map for node_modules/typescript/lib/typescript.js"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: Version: 1.58.2
Commit: c3f126316369cd610563c75b1b1725e0679adfb3
Date: 2021-07-14T22:09:06.581Z
Electron: 12.0.13
Chrome: 89.0.4389.128
Node.js: 16.5.0
npm: 7.20.3
V8: 8.9.255.25-electron.0
- OS Version: Darwin x64 20.6.0

Steps to Reproduce:

1. package.json
[code]
2. `launch.json`
[code]
3. press `F5`
4. Debugger lo

[2021-07-29 19:04] endreymarcell commented on #72088
I finally figured this one out -the hotkey was registered as a shortcut in MacOS. Specifically, Keyboard Preferences > Shortcuts > Input Sources > Select next source in input menu. Once I disabled that shortcut and restarted my Mac, VS Code started receiving the key chord.

I brought this upon myself because it was me who set this OS-level shortcut in the first place. However, I was under the impr

[2021-07-29 19:05] claudiaregio commented on #129713
I would expect to see a shift if the cells were running off the screen but if there is space for both cells and output as I continue to write code and hit shift enter nothing should move. Below for reference

![shift enter jup](https://user-images.githubusercontent.com/19276747/127550638-b38b0117-077e-4e74-84e2-031f8204f252.gif)

[2021-07-29 19:06] GaikwadPratik commented on #129795
#106787 and #102335 didn't help since those configs are already applied

[2021-07-29 19:06] meganrogge commented on #129729
I wonder if this has something to do with the environment on linux

[2021-07-29 19:07] inwardmovement opened #129796 "Task with focus: true does not focus panel if panel already showed"
A task with:

[code]

will not focus the panel if it was already showed.
It will focus the panel only after revealing it if it was hidden.

Does this issue occur when all extensions are disabled?: Yes

[code]

Steps to Reproduce:
1. Launch task with panel already showed.

[2021-07-29 19:16] borekb commented on #129129
I don't know how to compare two versions of `settings.json`, is manually copy/pasting to temporary files my best option? Or am I missing some easier way to see how my settings evolved over time?

[2021-07-29 19:16] psulek commented on #128745
I can (and will) but this bug should have high priority for vscode and maybe release early fix, because of the nature of bug (anyone can reproduce it, execute external terminal and then File -> New Window). Seems to be a big issue for vscode and its users ;-|

[2021-07-29 19:17] roblourens commented on #127122
It looks like "Sort by name" is gone, I assume that's expected, and now I see "Sort by Status/Location" which both work as expected

[2021-07-29 19:17] lostmsu commented on #128678
Just FYI, deleting the workspace from the list of trusted and then clicking "Trust" again solved the issue.

[2021-07-29 19:17] connor4312 commented on #128059
This doesn't seem to work for me on Windows: https://memes.peet.io/img/21-07-81097592-7213-45e5-b615-92fa3282a408.mp4

[2021-07-29 19:18] roblourens commented on #129722
You could but I don't know what we expect. They could disable that keybinding in notebooks but you still need that functionality

[2021-07-29 19:18] connor4312 commented on #127122
yep. Seems like people didn't really like/need alphabetical sorting (at least within a file.)

[2021-07-29 19:19] roblourens commented on #129713
We can try that but I find this really annoying that it moves my cursor around on the page

[2021-07-29 19:21] francisco-perez-sorrosal opened #129868 "Notebook with Markdown Cells Not Loading in VS Code when Attached to a Pod Instance"
Hi there! I've detected a problem when loading/rendering Jupyter Notebooks that include Markdown cells when loaded in a VSCode instance that is attached to a K9s Pod instance.  The same notebook renders perfectly in my local (Mac) VSCode instance. There are similar rendering problems described in the issues (e.g. microsoft/vscode-jupyter#6330, microsoft/vscode-jupyter#6369) but not exactly the sam

[2021-07-29 19:22] sandy081 commented on #129129
/duplicate

I see what you mean, there is a request for this already - https://github.com/microsoft/vscode/issues/94203. So marking this as duplicate of that.

[2021-07-29 19:22] #129129 closed

[2021-07-29 19:27] roblourens commented on #128824
That option is gone now, is that expected?

[2021-07-29 19:29] mjbvz commented on #102485
I marked this as verified based on the following test:

1. Enable workbench.editor.sharedViewState
2. Open a file to the side of the current editor
3. Scroll partway down in this file and make a selection
4. Close the entire editor group
5. Now re-open the same file to the side of the current editor and confirm that the view position and selection are restored

[2021-07-29 19:33] #129791 closed

[2021-07-29 19:36] TylerLeonhardt commented on #129591
I've removed `(Auto)` all-together.

[2021-07-29 19:36] #129591 closed

[2021-07-29 19:37] TylerLeonhardt commented on #129064
Moving this to next milestone for finalization.

[2021-07-29 19:37] joyceerhl commented on #128059
@connor4312, sorry that's the wrong command, the Jupyter extension contributes multiple Shift+Enter keybindings. Could you please try changing the extension's keybinding for `interactive.execute`? E.g.
![image](https://user-images.githubusercontent.com/30305945/127555131-5d338516-3ff1-4fc2-b605-6f83a47c7f07.png)

[2021-07-29 19:38] TylerLeonhardt commented on #129004
I will turn this feature on by default first thing next week.

[2021-07-29 19:41] roblourens opened #129798 "newWithProfile keybinding with custom profile shows warning"
Looking at #126738

when I use a custom profile name from my settings, I get a warning on the keybinding saying that the profileName is not allowed

[code]

![image](https://user-images.githubusercontent.com/323878/127555416-4901803a-5f7e-4934-884f-36d28ac5440c.png)

[2021-07-29 19:43] connor4312 commented on #128824
Make sure you're looking in the "filter" menu in the search box; it's still there.

Thanks for the repro Sheng! Fixed in the next Insiders.

[2021-07-29 19:43] rebornix commented on #129777
/duplicate

This is already fixed in latest Insiders and will be fixed in next Stable.

[2021-07-29 19:44] rebornix commented on #129769
:eye:

[2021-07-29 19:44] #129777 closed

[2021-07-29 19:45] rebornix commented on #129759
@Tyriar it looks like an issue with snap? can you help confirm?

[2021-07-29 19:45] TylerLeonhardt commented on #129584
I don't feel too strongly about this but thought this was kinda odd that the same message was displayed X times:
![image](https://user-images.githubusercontent.com/2644648/127556142-6e21c192-2fbc-4b36-9ee0-b6cd34fc5495.png)

[2021-07-29 19:47] TylerLeonhardt commented on #129584
I'll mark it as verified with that caveat ^ which I think could be fixed if we had JSON validation at the author stage.

[2021-07-29 19:48] JacksonKearl commented on #129588
Still seeing this.

[2021-07-29 19:50] connor4312 commented on #128059
Thanks!

[2021-07-29 19:50] #128059 closed

[2021-07-29 19:52] deepak1556 commented on #128745
VSCode has a 4-week iteration cycle before a newer stable version is released. If there are critical bugs identified with relatively safe fixes in the first two weeks after a stable release then we make a recovery patch releases. Otherwise the bug fixes just bake in the insiders for the rest of iteration before the next stable release.

In this case the bug was confirmed and fixed towards the end

[2021-07-29 19:53] amcasey commented on #127700
@mjbvz Looking

[2021-07-29 19:55] Jakub1310 opened #129799 "VSCode runs slow when connected to personal hotspot"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.58.2
- OS Version: 11.5.1 (20G80)

Steps to Reproduce:

1. Connect VSCode to a 'slower' (I noticed that this issue occurred when I was connected to 3G instead of 5G). When attempting to debug the debugger was awfully slow to start.
2. Disconnect the Mac from network and the debugger starts normally.

I think its

[2021-07-29 19:59] connor4312 commented on #106981
I wasn't able to repro in stable so couldn't verify. If anyone hits this on their machine, please appease the bot above https://github.com/microsoft/vscode/issues/106981#issuecomment-889223678

[2021-07-29 20:06] TylerLeonhardt commented on #125136
@meganrogge @Tyriar are the verification steps in the original issue still valid/could you give some?

[2021-07-29 20:07] matuella opened #129800 "Auto-import only works after first usage (typescript)"
Issue Type: <b>Bug</b>

1. Create a `tsconfig.json` and two different `.ts` files;
2. Install any dependency in `package.json` (with types);
3. Type any export from the imported dependency.

https://user-images.githubusercontent.com/13678134/127558474-4eae17a1-cefe-4995-8c2e-3553f9a3910c.mov

What occurs is that the auto-import suggestion only appears after another file has imported it at least on

[2021-07-29 20:08] boltex commented on #129019
**Sidenote**: I wonder if this is related to https://github.com/microsoft/vscode/issues/127204 (which is a duplicate of   https://github.com/microsoft/vscode/issues/110450) ... Which is the one big remaining bug in treeviews/sidebar that makes extensions somewhat look 'buggy'... :/

[2021-07-29 20:11] yoeo commented on #129730
Thanks for the feedback.

Actually both examples are actually as Java code by the base Tensorflow model:
[code]
and
[code]

[2021-07-29 20:12] mjbvz commented on #129031
Ok, can you share the logs privately? You can email them to matb at microsoft

[2021-07-29 20:19] TylerLeonhardt commented on #129730
Interesting discovery @yoeo. I wonder what could have happened between that conversion that might have changed this.
cc @pyu10055

[2021-07-29 20:20] brianblakely commented on #109771
I'd like to pile on top of this request:

Peek a minimized editor group. Peek triggers could be the following:
* Hovering over its minimized representation.
* Long-holding (mousedown/pointerdown) its minimized representation.
* Holding or toggling a key shortcut.

The use-case is for referencing code/text related to one's current work, without permanently occupying a lot of screen space. I think o

[2021-07-29 20:23] JordanLongstaff commented on #128569
I just tried with 1.58.2. The issue is still there.

[2021-07-29 20:26] claudiaregio commented on #129713
@roblourens What do you mean moves cursor around the page? I can take a look at telemetry to see what is more common

FWIW if the cell takes longer to run Jupyter does the following on shift enter. Shows kernel as running, puts in command mode and then inserts the output
![shift enter jup2](https://user-images.githubusercontent.com/19276747/127560761-e39e789a-6db9-44ce-8dad-bbb6145a7908.gif)

[2021-07-29 20:28] brianblakely commented on #33110
I opened this issue up to +1 it and realized I already did so ages ago.

Neat extension, though!

[2021-07-29 20:29] #128770 closed

[2021-07-29 20:30] TylerLeonhardt commented on #125196
Looks fixed:

![image](https://user-images.githubusercontent.com/2644648/127560386-4a651c72-16b6-47ad-8859-1a82a42380f0.png)

One question... I noticed that it has a `main` entry point. This isn't needed right? This also blocks the generated extension to be installed on Web because of that `main` entry point without a browser one.

I think we probably want to either remove the main or add a browse

[2021-07-29 20:38] TylerLeonhardt commented on #129457
So the link does work... but I guess I expected the underline to include the `file:` bit. It's a nit and I don't feel too strongly about it, but thought I'd mention.
![image](https://user-images.githubusercontent.com/2644648/127562424-61bcf374-d7a5-404f-b0c0-4b78d05950cf.png)

[2021-07-29 20:38] rebornix commented on #129697
@kevingao1136 can you try run VS Code by disabling all extensions `code --disable-extensions` next time when you reproduce this issue, and see if you can reproduce with extensions all disabled?

[2021-07-29 20:39] rebornix commented on #129120
Fixed in main.

[2021-07-29 20:39] brianblakely opened #129801 "Display code diff as a full-width/height pane, regardless of editor layout"
Tabs displaying code diffs/comparisons/changes are constrained to an editor group. Because files being compared side-by-side take up a lot of space, you might need to scroll horizontally to see everything when you have multiple editor columns.

Inline view helps, but even better would be the option to have diffs render as if there were was only one editor group. In other words, allow diffs to occu

[2021-07-29 20:40] rebornix commented on #129609
duplicate of https://github.com/microsoft/vscode/issues/129120 .

[2021-07-29 20:42] rebornix commented on #128873
I think this one was already fixed by @mjbvz

[2021-07-29 20:42] greazer commented on #129802
Jupyter is installed as a soft dependency of Python now. So by default we're assuming that soft dependencies are also uninstalled. However, if the jupyter extension is installed first, clearly we shouldn't be uninstalling it with Python. Seems more like a VS Code bug to deal with? Or can we support this in Python / Jupyter?

[2021-07-29 20:45] amcasey commented on #127700
I'm seeing
[code]

[2021-07-29 20:46] greazer commented on #129803
This is something that the Jupyter extension cannot control.

[2021-07-29 20:46] JacksonKearl commented on #128873
Still present. Can try in github issue notebook.

[2021-07-29 20:47] mjbvz commented on #129099
To help us investigate the perf issue, can you please try collecting the TS Server log:

1. Set `"typescript.tsserver.log": "verbose",`
1. Restart VS Code and reproduce the problem
1. In VS Code, run the `TypeScript: Open TS Server log` command
1. This should open a large log file called `tsserver.log`

If you can share a self contained project that demonstrates the issue, we can also use that to

[2021-07-29 20:47] mjbvz commented on #128937
Closing as we need an example to investigate

[2021-07-29 20:47] #128937 closed

[2021-07-29 20:49] mjbvz commented on #129026
See the issue reporting guidelines. This ins't actionable with without steps to reproduce or more context about what causes this issue

[2021-07-29 20:50] mjbvz commented on #128651
I'm going to close this since I believe the quick fix already exists. If it not showing up in some cases, please put together a small example project that demonstrates the issue so that we can investigate

[2021-07-29 20:50] #128651 closed

[2021-07-29 20:50] mjbvz commented on #127957
Closing as not actionable without more information from the original poster

[2021-07-29 20:50] #127957 closed

[2021-07-29 20:52] JacksonKearl commented on #129444
Steps please :)

[2021-07-29 20:52] mjbvz opened #129805 "Show Debug preview (external browser) does not launch browser on Linux"
Testing microsoft/vscode#129445

Issue Type: <b>Bug</b>

1. Try using the `Show Debug preview (external browser)` command

**Bug**
Nothing seems to happen

In the developer tools, I see this error being printed:

[code]

VS Code version: Code - Insiders 1.59.0-insider (c3b4df8f5d9c14aa4cfddb587231d0d52e72e5a2, 2021-07-27T15:07:54.419Z)
OS version: Linux x64 4.15.0-142-generic snap
Restricted Mode:

[2021-07-29 20:54] tanhakabir commented on #129482
@DonJayamanne  I didn't have a chance to get to exploring it but @mjbvz and I had discussed an option for a built in extension to construct one TS document from a notebook file to pass to the TS server.

[2021-07-29 20:54] mjbvz commented on #129805
Moving upstream as I also see this for the simple browser

This was on Ubuntu with Firefox installed

[2021-07-29 20:54] ericlow opened #129806 "typecscript service died several times"
Issue Type: <b>Bug</b>

I don't fucking know. I just opened my ide, opened a file and now VS Code is making me fill out this form

VS Code version: Code 1.57.1 (Universal) (507ce72a4466fbb27b715c3722558bb15afa9f48, 2021-06-17T13:28:32.912Z)
OS version: Darwin x64 18.7.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6267U CPU @ 2.90

[2021-07-29 20:56] TylerLeonhardt commented on #126377
@mjbvz can you add verification steps? Sounds like checking the integration tests is enough?

[2021-07-29 21:01] andreamah commented on #129805
I was also testing on Ubuntu (20.04 LTS) with Firefox as default..

Could it be an issue with vscode.env.openExternalUri? Seems that both extensions use that.

[2021-07-29 21:03] joyceerhl opened #129807 "Invalid instrumentation key warning from Microsoft Authentication extension in developer log"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.59-insider
- OS Version: Windows 10

Steps to Reproduce:

1. Open desktop VS Code
2. Open developer tools log
3. 🐛 error about an invalid instrumentation key
![image](https://user-images.githubusercontent.com/30305945/127565120-b20c52ce-d08e-4bb4-8f48-e34ced28b18a.png)

[2021-07-29 21:04] hediet commented on #129677
This is my idea:
When `this.accessibilityService.isScreenReaderOptimized()` returns true, the inline suggestion is added to the hover:

![image](https://user-images.githubusercontent.com/2931520/127565181-a20728ac-14bb-4857-b9ad-031dc8f63450.png)

* Screen reader users are informed that an inline suggestion follows when the hover is triggered
* When clicking on next, the hover is updated & the scr

[2021-07-29 21:05] rzhao271 commented on #129581
1. Create the following setting in an extension
[code]

2. Debug the extension
3. Set the setting as follows in the settings json file
[code]
You should see some validation errors. Ignore them for now.
4. Search for the setting in the settings editor. You should see some validation errors.
5. Double click a row to put it into edit mode. A dropdown should show up with true/false values. Set it to a

[2021-07-29 21:10] #129581 closed

[2021-07-29 21:11] TylerLeonhardt opened #129808 "Auto-closing pairs in TypeScript aren't working"
Version: 1.59.0-insider
Commit: 0f22f2d343e33b03e8033d1083513072f58ece21
Date: 2021-07-29T05:14:38.439Z
Electron: 13.1.7
Chrome: 91.0.4472.124
Node.js: 14.16.0
V8: 9.1.269.36-electron.0
OS: Darwin x64 20.5.0

Steps to Reproduce:

1. Open a TS file
2. Type `(`

Expect the paren to be auto-closed but it's not.

![Untitled](https://user-images.githubusercontent.com/2644648/127566274-5bd61449-4593-4a0

[2021-07-29 21:13] meganrogge commented on #125136
Yes the verification steps in the original issue are still valid @TylerLeonhardt

[2021-07-29 21:15] meganrogge commented on #125136
to verify,
- close vscode
- open an external terminal and modify an environment variable in a repo directory starting with `VSCODE_` for example.
- open vscode and launch an external terminal from that same repo
- confirm that the environment variable you set is not present

[2021-07-29 21:16] mjbvz commented on #129808
@TylerLeonhardt Can you see if disabling copilot fixes this for you. It seems to for me

[2021-07-29 21:17] mjbvz commented on #129806
/needsMoreInfo

Please try collecting the TS Server log from the crashed instance:

1. Set `"typescript.tsserver.log": "verbose"`
1. Restart VS Code and reproduce the problem
1. Open the `TypeScript` section of the output panel
1. At the very top, find the first line that prints to path to the semantic error log file. It should look something like:

[code]

    That file contains the typescript lo

[2021-07-29 21:20] lramos15 commented on #129807
This is a standard warning and can be safely ignored. It has to do with us using the application insights module in a non-standard way. The work to fix this won't be happening for at least a few more iterations and there's nothing we can do about it right now.

[2021-07-29 21:20] #129807 closed

[2021-07-29 21:20] #129784 closed

[2021-07-29 21:20] mjbvz commented on #126377
Marking as verified based on test run logs

[2021-07-29 21:24] #127198 closed

[2021-07-29 21:24] rebornix commented on #127198
@digitarald thanks, this is a good bug catch.

[2021-07-29 21:25] mjbvz commented on #129808
Marking this as by-design for Copilot

[2021-07-29 21:25] #129808 closed

[2021-07-29 21:26] meganrogge commented on #129457
@TylerLeonhardt let's wait until @Tyriar is back for that. I'm considering this verified for now

[2021-07-29 21:37] amcasey commented on #127700
@mjbvz It works for me in `code.bat`, but not in `yarn web`.  I had only ever validated the functionality in `code.bat` - had you seen it in the web version?

[2021-07-29 21:39] cyberwombat commented on #128940
Probably this bug https://github.com/VSCodium/vscodium/pull/774

[2021-07-29 21:47] mjbvz commented on #127700
Yes I believe it used to work in the web as well

Is that error coming TS server? We did update from webpack 4 -> 5 since I tested this as well so could bundling be causing any issues?

[2021-07-29 21:48] rzhao271 commented on #127084
"and the backing command should be a no-op"
I'm not sure what this refers to, but I can confirm that the context menu entry doesn't show up for me now, and even if I try to run `workbench.action.reopenWithEditor` in the command palette, nothing happens.

[2021-07-29 21:49] yuehuang010 commented on #129541
FYI. MSVC DAP has a bug where it returns "breakpoint" instead of "instruction breakpoint" when instruction BP is hit.  This will "flip" the focus back to the source code.

[2021-07-29 21:49] amcasey commented on #127700
Yeah, it's from tsserver.web.js.  The F12 tools keep freezing when I try to break into it - possibly because there are 3M characters on that line.

[2021-07-29 21:49] connor4312 commented on #129444
1. Use the test provider sample https://github.com/microsoft/vscode-extension-samples/tree/main/test-provider-sample
2. Create a second controller and `ctrl.items.add` at least one test
3. In the Test Explorer tree view, verify that you see both controllers with their correct labels

[2021-07-29 21:59] TylerLeonhardt commented on #128952
This is odd.. the Linux and macOS ones have a drop down but the Windows one doesn't?
![image](https://user-images.githubusercontent.com/2644648/127571160-a737b93b-8b9f-41f4-9a17-3d6c632e10af.png)

[2021-07-29 22:03] TylerLeonhardt opened #129810 "Settings editor drop down causes odd performance of settings editor"
Does this issue occur when all extensions are disabled?: Yes/No

Version: 1.59.0-insider
Commit: 0f22f2d343e33b03e8033d1083513072f58ece21
Date: 2021-07-29T05:14:38.439Z
Electron: 13.1.7
Chrome: 91.0.4472.124
Node.js: 14.16.0
V8: 9.1.269.36-electron.0
OS: Darwin x64 20.5.0
Steps to Reproduce:

Click on a dropdown in the settings editor:
![image](https://user-images.githubusercontent.com/2644648/127

[2021-07-29 22:07] rzhao271 commented on #128952
@TylerLeonhardt I notice the settings have enum values of the following form:
`enum: detectedProfiles?.os === OperatingSystem.Linux ? profileEnum?.values : undefined`

Therefore, you can validate the issue by making sure the Osx dropdown works. Definitely seems like a polish issue, though.

[2021-07-29 22:07] #128952 closed

[2021-07-29 22:08] TylerLeonhardt commented on #128952
In that case, yes the macOS drop down did work.

[2021-07-29 22:09] deepak1556 commented on #128725
The problem here is that node_modules path are messed up because of https://github.com/microsoft/vscode/blob/14de627cf237d4c6d9375fa8d411432eae63858a/src/bootstrap.js#L58-L61

The above condition should normally work fine even for symlinks from different drives but if `__dirname` is incorrect then things could go wrong horribly. That exactly what happened, electron does not set the correct value o

[2021-07-29 22:09] rzhao271 opened #129811 "Terminal profile settings treated as complex settings"
See https://github.com/microsoft/vscode/issues/128952#issuecomment-889487761.

Essentially, the `terminal.integrated.defaultProfile.*` settings currently show up in the settings editor as follows:
1. If the user is on the OS corresponding to the default profile setting, a dropdown is rendered.
2. If the user is not on the OS corresponding to the default profile setting, the setting is treated as a

[2021-07-29 22:19] meganrogge commented on #128952
@TylerLeonhardt that's by design. we don't show the windows/linux profiles enum /dropdowns when you're on an osx platform.

[2021-07-29 22:24] Tropix126 commented on #115641
Zee's concepts use the WinUI figma toolkit. Their styles can actually exported directly to CSS making replicating WinUI components quite viable on electron. I have a person project that's highly unfinished that remakes some of the styles into svelte components.

[2021-07-29 22:44] roblourens commented on #129713
Maybe this is the key, I thought the point is that the editor has focus so you can type in the cell you just created. We put focus in the cell editor I think. If you aren't actually using the next cell then my gripe about moving the cursor doesn't matter, and we shouldn't try to maintain the position of the active cell.

[2021-07-29 22:44] roblourens commented on #129588
It's a hidden setting

[2021-07-29 22:44] #129588 closed

[2021-07-29 22:47] rzhao271 commented on #124968
@Endyl is the issue fixed for you on the latest Insiders?

[2021-07-29 22:48] roblourens commented on #102485
How are you doing this? I am just curious now, it doesn't really matter, but I still don't see it

[2021-07-29 22:56] weinand commented on #129799
what debugger are you using?

[2021-07-29 23:11] scsleal commented on #128771
The first and last points' bugs have been fixed.

[2021-07-29 23:13] scsleal commented on #129319
Similar issue https://github.com/microsoft/vscode/issues/129699.

[2021-07-29 23:15] rzhao271 commented on #129256
The queries above don't include Jupyter and Python repos. Here's some better queries:

Bugs to verify: https://github.com/issues?q=is%3Aissue+milestone%3A%22July+2021%22+label%3Abug+-label%3Averified+-label%3Aon-testplan+-label%3Aduplicate+-label%3A%2Aduplicate+-label%3Ainvalid+-label%3Aas-designed+-label%3Aerror-telemetry+repo%3Amicrosoft%2Fvscode+repo%3Amicrosoft%2Fvscode-internalbacklog+repo%3A

[2021-07-29 23:24] deepak1556 commented on #128725
As temporary workaround affected users can do the following steps,

1) Open `%USERPROFILE%\.vscode-insiders\argv.json` or `%USERPROFILE%\.vscode\argv.json` depending on the insiders or stable version.
2) Add `"enable-browser-code-loading": false` in the json structure
3) Restart vscode.

[2021-07-29 23:26] Blanko2 commented on #129745
will verify if that workaround fixes it and if so, close this as dupe

[2021-07-29 23:28] Blanko2 commented on #129745
workaround does fix it, closing

[2021-07-29 23:28] #129745 closed

[2021-07-29 23:28] AdisonCavani opened #129812 "Intellisense error detection"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.58.2
- OS Version: Windows 10 Pro

I right-clicked on an error in  ``PROBLEMS`` tab and unintentionally disabled intellisense error detection. How to revert this change?

[2021-07-29 23:31] Blanko2 commented on #113630
to jump in on this - had same issue with AwesomeWM -- Atom also has this same behaviour, maybe it's an Electron issue?

[2021-07-29 23:34] AdisonCavani commented on #129812
Font a solution:
In ``settings.json`` :
[code]

[2021-07-29 23:34] #129812 closed

[2021-07-29 23:51] rzhao271 commented on #126087
I am seeing the opposite issue now, where I'm unable to figure out how to add a new cell, unless that's been moved to the code cell's overflow menu?

![Screenshot showing the issue is fixed but some buttons seem to have gone missing](https://user-images.githubusercontent.com/7199958/127579548-bc943304-5e8d-4e76-bb70-14a1e3f89595.PNG)

[2021-07-29 23:56] douglasnaphas commented on #60537
I had the same issue described in [this comment](https://github.com/microsoft/vscode/issues/60537#issuecomment-789983398), and the line number and column number came back after I widened my window.

[2021-07-29 23:59] rzhao271 commented on #129580
It's reliable

![Screencap](https://user-images.githubusercontent.com/7199958/127580085-33867dba-043e-45a3-8741-9fd56e99c41f.gif)

[2021-07-30 00:01] timfeeley-okta opened #129813 "Settings Sync prompts for login every time VSCode restarts"
Issue Type: <b>Bug</b>

My Settings Sync tells me I need to log in every time I restart VSCode.

[2021-07-29 16:56:28.573] [settingssync] [info] Using settings sync service https://vscode-sync.trafficmanager.net/
[2021-07-29 16:56:28.573] [settingssync] [info] Auto Sync is enabled.
[2021-07-29 16:56:28.573] [settingssync] [info] Auto Sync: Suspended until auth token is available.

<img width="1463

[2021-07-30 00:08] mminkin opened #129814 "Memento doesn't store JS Objects with getters correctly"
I am currently developing an extension that uses `context.workspaceState` to save an array of `BFile`.
When I use this implementation:
[code]

In this way:
[code]
During the same session, there was no problem storing and retrieving the `BFile`.

But when I restart VSCode and retrieve that same `file` from storage, VSCode doesn't get the values of the properties (ie `_fileName`) but it returns the

[2021-07-30 00:13] amcasey commented on #127700
I've created https://github.com/microsoft/TypeScript/pull/45242 to fix the exception, but the web server will still [drop](https://github.com/microsoft/TypeScript/blob/db0f7938ddd6da30a3160867ed08a916f4d2f965/src/webServer/webServer.ts#L197) all events on the floor (not new).  Can you please either file a feature request against TS or skip the call to `getErr` in this scenario?

[2021-07-30 00:14] mjbvz commented on #127700
Great find @amcasey!

I swear I saw this working but I think I was using a custom branch of TypeScript. We need to use `getErr` to get any diagnostics, correct?

[2021-07-30 00:17] amcasey commented on #127700
Most of the credit goes to @andrewbranch. :smile:

Yes, you would need to use `getErr` for any diagnostics.  If you really wanted to, I suppose you could request diagnostics synchronously (i.e. without events), but that might fail for other reasons.

[2021-07-30 00:24] mjbvz commented on #127700
Ah I thought https://github.com/microsoft/TypeScript/pull/44859 also would cover web? Was that only for desktop partial mode? If so, I'll open a new issue for supporting syntax errors on web too

[2021-07-30 00:25] ceronvgabriel opened #129996 "Run all cells in a collapsed heading"
Hi, the functionality to run all the cells in a collapsed heading would be very helpful as you don't have to shift+enter all the cells you want to execute. We use this to set-up the kernel or run a specific part of the notebook. Other notebooks like colab have this feature.

[2021-07-30 00:26] rzhao271 commented on #129683
I forgot how to get into that state in the first place :s

[2021-07-30 00:28] claudiaregio commented on #129739
@TylerLeonhardt My bad I definitely read it as don't detect this language 😆 I thought oh that makes sense if languages are similar and maybe the detection isn't always accurate I as a user can say "Hey I am always using A, not the similar one the model keeps detecting B".

Not sure I understand that clarification though :(

[2021-07-30 00:29] amcasey commented on #127700
It does cover web in the sense that the event is generated.  Unfortunately, it turns out that web then drops that event on the floor, rather than sending it back to the editor.  I agree that the scenario seems important, so please go ahead a file a new issue.

[2021-07-30 00:48] claudiaregio commented on #127559
Closing since it has been removed completely

[2021-07-30 00:48] #127559 closed

[2021-07-30 00:48] #129358 closed

[2021-07-30 01:36] claudiaregio opened #129815 "Native Notebooks - Clear cell output"
Would be nice if ability clear one cell's output was contributed to this menu

![image](https://user-images.githubusercontent.com/19276747/127586679-eea193fe-4779-4f19-ab21-99cab26aba37.png)

[2021-07-30 01:54] ben39053372 opened #129816 "TS Server fatal error: Cannot read property 'getSourceFiles' of undefined"
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.4.0-dev.20210727

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Er

[2021-07-30 02:01] sharkka commented on #129759
I removed vscode 1.58.2, installed by snap again, problem still exists.

[2021-07-30 02:04] sharkka commented on #129759
I removed vscode 1.58.2, installed by snap again, problem still exists.

[2021-07-30 02:42] claudiaregio opened #129817 "Native Notebooks - Ctrl + H not working"
Steps to Reproduce:

1. Try to use Ctrl + H to find and replace in a notebook

Note: Ctrl + F appears to work fine

![Ctrl H bug](https://user-images.githubusercontent.com/19276747/127591839-45ff9bd4-d58f-462e-96a8-855c2d294147.gif)

[2021-07-30 03:00] dshipp25 commented on #129787
Thank you for such a quick response. I'm new to Visual Studio Code so I can't answer many of your questions properly (TS version or workspace, I'm not sure...) I'm am using v1.58.2 so your comment makes me think I didn't properly disable the extensions. I have not installed any watcher/formatters myself other than an extension that uses Beautify.

Before my message, I just clicked disable on each

[2021-07-30 03:00] #129787 closed

[2021-07-30 03:00] rebornix commented on #129817
thanks we already have an issue tracking this.

[2021-07-30 03:01] #129817 closed

[2021-07-30 03:02] rebornix commented on #129123
I think this issue was the same as missing markdown cell bug. It's already fixed in latest Insiders.

[2021-07-30 03:02] #129123 closed

[2021-07-30 03:06] rebornix commented on #128873
@mjbvz can you help take a look?

[2021-07-30 03:23] Jakub1310 commented on #129799
Hey Andre,

Sorry for the very slow reply. I am using the ordinary VSCode Python debugger.

[2021-07-30 03:26] Silic0nS0ldier opened #129818 "Git changes panel shows mid-checkout changes (is not atomic)"
Issue Type: <b>Bug</b>

To reproduce, it is necessary to have a large repo and 2 branches with a large number of changes. The VSCode repo is likely large enough, Chromium certainly is large enough provided branches with a large enough changeset are used.

1. Open the git changes panel (under the source control tab)
2. In the terminal, `git checkout ...` to another branch
3. Observe git changes pan

[2021-07-30 03:30] vinayak-gadkari commented on #100335
One more 👍

[2021-07-30 03:34] Silic0nS0ldier commented on #129818
Throwing this out there for the sake of ideation (since over dependence on file watching in a massive monorepo has scaling issues).

Git supports global hooks. With this it may be possible to tweak the git integration such that refreshes are guided by the start and completion of git commands. Much like how the git integration optionally provides a git credential manager implementation for WSL.

If

[2021-07-30 03:51] lleeoo commented on #122951
FWIW I have been using 1.58.2 and did not encounter this issue until this morning, when I had to reboot to install some patch that my employer required. The `--no-sandbox` workaround seems to have resolved it for now, at least insofar as Jupyter and Markdown are concerned.

### version info:
Version: 1.58.2 (user setup)
Commit: c3f126316369cd610563c75b1b1725e0679adfb3
Date: 2021-07-14T22:10:15.214

[2021-07-30 03:53] kodeine commented on #87956
I'm surprised this is still open and not updated.

[2021-07-30 04:09] claudiaregio commented on #128873
I am also still reproducing this in the latest version of insiders

[2021-07-30 04:44] vrindakohli opened #129819 "my folders went missing"
Issue Type: <b>Feature Request</b>

all my folders went missing suddenly on vscode. I did not delete them but now I cant find any project that I made.

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

[2021-07-30 04:56] martincalvert commented on #87956
Is this really not something that could be a plugin? Like if they are going to keep punting this idea can we achieve this functionality through a plugin?

[2021-07-30 05:26] sky5454 opened #129820 "can't direct connect when http_proxy/https_proxy environment value is set"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.58.2 (9adfb3)download from vscode website
- OS Version: opensuse tumbleweed (kde)  Linux x64 5.13.4.1-default

Steps to Reproduce:

1. vscode can't directly connect to extensions  marketplaces when http_ptoxy or https_proxy is set. no settings could cancel it unless you unset the http_proxy https_proxy, it's inconve

[2021-07-30 05:31] themighty1 commented on #53262
@AndrewKnauss , are you sure what you describe is the case? I don't see that. In tab A I can expand the outline to the depth I need, then switch to tab B and expand tab B's outline. When I go back to tab A, the outline is exactly in the state it was before switching tabs.

[2021-07-30 06:04] MurzNN commented on #106981
For me this issue is gone on stable 1.58.2 too, great!

[2021-07-30 06:48] nilaytejanani007 opened #129821 "terminal"
terminal is not working it closing it's self

[2021-07-30 07:19] gjsjohnmurray commented on #129821
/needsMoreInfo

[2021-07-30 07:26] usernamehw commented on #129794
Possible duplicate #56413

[2021-07-30 07:30] rangav opened #129822 "Provide option to show unsaved(dirty) indicator for webview"
Can you please provide option in vscode api to show/hide unsaved/dirty indicator dot for webview, I am currently developing [Thunder Client ](https://marketplace.visualstudio.com/items?itemName=rangav.vscode-thunder-client )extesnion. This feature will be very useful to show the state of data on the webview.

![Screenshot 2021-07-30 at 08 25 20](https://user-images.githubusercontent.com/8637550/12

[2021-07-30 07:38] isidorn commented on #128172
Smart! Thanks!

[2021-07-30 07:39] isidorn commented on #129730
@TylerLeonhardt I think we should file an issue in the tensorflow repo. Let me know if you would like me to do that. Thanks

[2021-07-30 07:43] Ash-KODES commented on #129822
you can simple turn on the autosame from setting which will automatically save the unsaved stuff and no dot will appear.

[2021-07-30 07:46] rangav commented on #129822
I am looking for vscode api, for development of extension.

that setting won’t have any affect on extension webview

[2021-07-30 07:48] isidorn commented on #129677
I think this is a lovely solution. I really like it. Though I would still have to try it out.
The only remaining piece of the puzzle is: how to improve that the screen reader users are informed that there is a hover at all. But we can tackle that afterwards.

However I checked your PR and there are a lot of code changes for last day of endgame, and since we never supported this I suggest that we s

[2021-07-30 07:48] Ash-KODES commented on #129819
I have found the root cause of the issue. I have installed a node module called cpx and using it to copy files from the build folder to docs folder after building the app. This module is holding a lock onto the docs folder.

[2021-07-30 07:50] Ash-KODES opened #129823 "FOLDERS WENT MISSING!"
Please see if you can find any logged output that could help us find the source of the issue:

run code --verbose from the command line and attach the output
in Code select Help | Toggle Developer Tools and select the Console
attach any output you see in the Console you can find
Thanks!

[2021-07-30 07:50] Ash-KODES commented on #129823
I have found the root cause of the issue. I have installed a node module called cpx and using it to copy files from the build folder to docs folder after building the app. This module is holding a lock onto the docs folder. So, I will close the issue now.

[2021-07-30 07:51] Ash-KODES commented on #129822
yes,i see!

[2021-07-30 07:53] neobie opened #129824 "Modified folder upon saving file"
#129347

Reopen

[2021-07-30 07:54] #129086 closed

[2021-07-30 08:07] elicodingpython opened #129825 "shell command path..can't turn on sync or sign in and command path not listed..."
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-07-30 08:09] #129825 closed

[2021-07-30 08:10] elicodingpython commented on #128529
1. shell command not listing path
2. can't turn on sync
3. can't sign into Microsoft or GitHub on vs.code

[2021-07-30 08:13] ap891843 opened #129826 "key (ctrl+v) to paste in input Box with custom editor doesn’t work"
Issue Type: <b>Bug</b>

**Issue**
I am trying to show an inputBox in one of our custom editors. But the key binding(ctrl+c / ctrl+v) doesn't work.
Everything else works as expected, i.e. you can paste using right click and choose option paste. Other key input works as well. I was able to replicate the same in the Sample custom editor code.

link to the repository where the issue can be seen - http

[2021-07-30 08:30] gilescope commented on #27972
Would microsoft accept a PR along these lines? (I'm assuming this is kinda run like an open source project)

[2021-07-30 08:30] Canvas02 opened #129827 "Workshops"
When working in VScode I'll have a lot of extensions and a lot of them i don't use every time, So I'll be working with Rust and have the Deno extension running in the background, So a feature were we can create templates (workshops) where we can say use these extensions, disable these extensions, and keep these extensions at all times for a certain workshop will be really good for speed because re

[2021-07-30 08:37] gjsjohnmurray commented on #129826
Maybe fixed by https://github.com/microsoft/vscode/commit/f882d49bc7b72b8417f0aba686ed6d76960d5de7

Are you able to test your scenario with Insiders (1.59)? If not, I suggest you wait a week, by which time 1.59 should be released.

[2021-07-30 08:38] gilescope commented on #56614
The year is 2040: The Ice caps have all melted. Fires, floods and hurricanes ravage the planet, but on the bright side, the VSCode team finally announce support for global settings and extensions in VSCode.

[2021-07-30 08:41] gjsjohnmurray commented on #129827
#116740 is probably related.

Pinging @misolori in case the term "workshops" is of interest.

[2021-07-30 08:56] Canvas02 commented on #129827
@gjsjohnmurray do I close this issue?

[2021-07-30 09:04] ap891843 commented on #129826
Thanks, @gjsjohnmurray. Just checked with insiders and it's working as expected. Waiting for the 1.59 release.

[2021-07-30 09:07] ZZZZzzzzac commented on #129781
and I find that find (ctrl+f) is also bugged, shown below
![find_cache_wrong](https://user-images.githubusercontent.com/17446384/127629985-1676c45c-e771-4b66-bf4f-c38997b2d2cb.gif)

[2021-07-30 09:09] gjsjohnmurray opened #129828 "Add new ways of interacting with code lens contributions"
Issue Type: <b>Feature Request</b>

Currently (1.59) a right-click on a code lens behaves the same as a left-click.

I propose adding an optional `submenu` property to [`CodeLens`](https://code.visualstudio.com/api/references/vscode-api#CodeLens). It would be a `string` that names a submenu contributed by the extension. The submenu would appear when the user performed the right-click gesture on th

[2021-07-30 09:12] gjsjohnmurray commented on #129826
👍 Please close this issue

[2021-07-30 09:13] gjsjohnmurray commented on #129827
@Canvas02 yes I think it can be considered a duplicate. Thanks!

[2021-07-30 09:14] #129827 closed

[2021-07-30 09:20] gjsjohnmurray commented on #129823
Please close this, and #129819 if that was also created by you.

[2021-07-30 09:23] babobski opened #129829 "Emmet doesnt respect inline elements"
Issue Type: <b>Bug</b>

I recently switched to vscode, only the biggest frustation I have is that Emmet always insert a div when completing a class. I'm used that Emmet looks at the parents elements and if it's a block element it uses a div elelement. But when the autocompletion is inside a inline elelement it autocompletes a span element. In vscode it always inserst a div wich is causing invalid

[2021-07-30 09:36] #129823 closed

[2021-07-30 09:44] thany commented on #102261
Again, why?

Why can't VScode just listen to the scrollwheel speed setting in the OS?

[2021-07-30 09:47] wustwg opened #129830 "编辑框自动跳转"
Issue Type: <b>Bug</b>

markdown嵌入plantuml时，编辑plantuml, 会导致编辑框乱跳，比如 可能跳的我都看不到我的光标了，然后编辑的界面和预览界面不对应。

我的期望：不管绘制出的页面有多大，我的输入框应该保持不变才对呀。

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:30:16.440Z)
OS version: Linux x64 5.10.49-1-MANJARO
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8600 CPU @ 3.1

[2021-07-30 09:57] isidorn commented on #129819
I can not reproduce. Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/

[2021-07-30 10:02] alexr00 commented on #128770
Works great, thank you!

[2021-07-30 10:07] jitinsingh000 opened #129831 "Printing Countings Infinitely !"
We have written the needed data into your clipboard becaus
Issue Type: <b>Bug</b>

When I am manually saving following code in VSCode and then when I am running this code, it is printing countings infinitely. Why is it happening?

#include <stdio.h>

int main()
{
    int num, index=0;
    printf("Enter a number\n");
    scanf("%d", &num);

    do
    {
        printf("%d\n", index+1);
        inde

[2021-07-30 10:10] isidorn commented on #128415
More details about that change are explained in my comment here https://github.com/microsoft/vscode/issues/125144#issuecomment-869641057

[2021-07-30 10:10] Hajto commented on #48659
This issue is major hrudle. It stalks us for 3 years or so... Workaround relies on editing extension output file...

[2021-07-30 10:20] sandy081 commented on #128854
I can repro this with following steps while running from sources

1. Download the extension vsix from https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-ssh
2. Install the vsix using command `./scripts/code-cli.sh --install-extension <vsix_path>`

Following error is printed

[code]

Assigning to @bpasero as this is coming from file service at following location

https://gi

[2021-07-30 10:34] Ta4i commented on #108264
The best implementation of vertical tabs I saw is in WebStorm (IntelliJ IDEA):
<img width="2045" alt="Screenshot 2021-07-30 at 13 32 21" src="https://user-images.githubusercontent.com/634113/127640641-e4b7d6a6-13f2-41a7-bc82-2023f0fd2021.png">

This is the only reason I still using WebStorm instead of VS Code 💁‍♂️

[2021-07-30 10:40] peter-dolkens commented on #129230
Our team had a similar sounding issue this week, and eventually found this workaround:

`"debug.javascript.usePreview": false`

[2021-07-30 10:41] peter-dolkens commented on #128637
Our team had a similar sounding issue this week, and eventually found this workaround:

`"debug.javascript.usePreview": false`

[2021-07-30 11:24] #129195 closed

[2021-07-30 11:24] #129192 closed

[2021-07-30 11:24] #129190 closed

[2021-07-30 11:24] #129152 closed

[2021-07-30 11:24] #129114 closed

[2021-07-30 11:41] v-mholloway commented on #115735
fix implemented - will take a few days to migrate into the next build

[2021-07-30 11:46] jeann47 opened #129832 "TS Server fatal error: Debug Failure."
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.4.0-dev.20210729

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Er

[2021-07-30 12:21] psurma opened #129833 "Failed to load language extensions"
Issue Type: <b>Bug</b>

Load VSCode and wait!

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:09:06.581Z)
OS version: Darwin x64 20.6.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) W-2140B CPU @ 3.20GHz (16 x 3200)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>metal: disabled_off

[2021-07-30 12:34] #124528 closed

[2021-07-30 12:56] weinand commented on #129799
/extPython

[2021-07-30 12:57] #129799 closed

[2021-07-30 13:15] gjsjohnmurray commented on #129831
/question

[2021-07-30 13:15] #129831 closed

[2021-07-30 13:21] Cheffu commented on #125952
I know different people mentioned these points already, but just out of my view:
- The split JSON settings editor including the pencil icons, the split view, the (fuzzy) search bar, ... is the best settings UI ever. In fact, it was the main feature for me to switch to VSCode a few years ago. It is also the feature I used to convince colleagues and friends to use VSCode.
- I think that many people

[2021-07-30 13:53] Stig124 opened #129834 "^Z is interpreted as ^W on UK-keyboard"
Issue Type: <b>Bug</b>

- Have two keymaps registered, one with AZERTY layout (french) and one with QWERTY and have the QWERTY layout as default in your Desktop Environnement

VSCode messes up keyboard shortcuts and thinks like you're using French keyboard

X11 show the keybindings correctly :
`showkeys -a`
UK layout :
[code]
FR Layout :
[code]

But those keys are swapped, ^Z is interpreted as ^W

[2021-07-30 14:15] elucidsoft commented on #87956
This right is the perfect example of Microsoft "open source".

[2021-07-30 14:28] phil294 commented on #26338
Just to clarify @shuaihuGao's extension a bit: You can install it [here](https://marketplace.visualstudio.com/items?itemName=shuaihu.html-embedded-javascript). It is basically a clone of the official vsc [Language Featutes for HTML](https://github.com/microsoft/vscode/tree/release/1.44/extensions/html-language-features) extension. You should probably [disable](https://github.com/microsoft/vscode/i

[2021-07-30 14:39] connor4312 commented on #128637
@peter-dolkens you are not hitting the same issue since the old debugger does not debug web extensions, and bear in mind that the usePreview option will go away in the next release. Please file an issue: https://github.com/microsoft/vscode-js-debug/issues

[2021-07-30 14:39] connor4312 commented on #129230
@peter-dolkens as posted elsewhere your issue is not related

[2021-07-30 14:43] dmltesla opened #129835 "Azure pull request review plugin"
We use Azure repository  pull requests for remote linux code changes made using VS Code.  Unfortunately the Pull Request reviews in the Azure site are not as useful as reviewing code changes in VS Code for us which impacts our procedures.   This is an opportunity for Microsoft to show off what it can do for their own products without appearing to use big brother tactics.   Please seriously conside

[2021-07-30 14:47] andyname commented on #120540
I've got same exit code. Unfortunately, I haven't met anyone who knows about this exit code 3221225477.

[2021-07-30 14:50] connor4312 commented on #129795
This is because you configured the debugger to try to load sourcemaps for _everything_ in your workspaceFolder, including node_modules. The debugger will warn you if any of your sourcemaps are incomplete, which TypeScript's are.

If you don't want to load sourcemaps from your node_modules, you can just remove the `outFiles` you've configured. Alternately if there's some sourcemaps you do want to k

[2021-07-30 14:50] #129795 closed

[2021-07-30 14:51] artch commented on #124501
@mjbvz This bug still reproduces in 1.58.2, and is very, very annoying for our entire team. Can I provide any additional info for you to help debug it?

[2021-07-30 14:58] connor4312 commented on #129789
Can you run `echo $NODE_OPTIONS` in the debug terminal?

[2021-07-30 15:06] temircudri opened #129836 "Jupyter extenstion: Cannot set the Max Output Size"
The setting is here now:

![image](https://user-images.githubusercontent.com/19672699/110824907-5594bf80-8248-11eb-91de-08e1a7f951bd.png)

However it depends upon which UI you have. If your notebook looks like this:

![image](https://user-images.githubusercontent.com/19672699/110825093-8674f480-8248-11eb-9300-f2ca9700099f.png)

Then those settings apply.

If your using the new UI:

![image](https:

[2021-07-30 15:12] carloschameleon commented on #129761
You can either fix this by creating a symlink

`sudo ln -s /var/lib/snapd/snap /snap`

Source: https://snapcraft.io/install/code/manjaro#snippet-distro-install-command-4

[2021-07-30 15:42] roblourens commented on #129427
Steps @meganrogge ?

[2021-07-30 15:46] proidit opened #129837 "enableScriptExplorer setting missing"
- VS Code Version:1.58.2
- OS Version:Windows 10

has the  npm.enableScriptExplorer option been removed from the settings?

[2021-07-30 16:04] wijiler commented on #128852
I wanted help resolving this not saying derrrrrrrrrrrrr uh duplicate now stfu

[2021-07-30 16:05] carlosen14 opened #129838 "CMD + Q confirmation before close EVERYTHING!"
On Mac, CMD + Q will close all application windows, I would like to see a confirmation box before do the action, just like Google Chrome does it. This command is so key-close to CMD + W, which will only close a tab.

Example:
- User press CMD + Q
- There will appear a confirmation alert "Are you sure to close all application windows?"
- User select "Yes" to close all, or "No" to just dismiss.

[2021-07-30 16:08] wijiler commented on #128852
yes it is a duplicate but I said if anybody knows how to fix this help would be great. I did not get help

[2021-07-30 16:11] gjsjohnmurray commented on #129838
/duplicate of #14710

[2021-07-30 16:12] #129838 closed

[2021-07-30 16:12] carlosen14 commented on #129838
mmm, similar, but i'll accept it

[2021-07-30 16:13] kkanekii commented on #129838
I don't think this is a vscode issue / addon / requested feature

For vscode, this could be a future feature, someone should be willing to do this though

For global alert, only MacOS will be able to do it

[2021-07-30 16:13] meganrogge commented on #129427
having added an extension terminal profile, set `terminal.integrated.<platform>.defaultProfile` - trigger auto-suggestions. It should be one of the suggestions

[2021-07-30 16:13] connor4312 opened #129839 "js-debug should do a liveness check on the code.lock to avoid spurious alerts"
1. Debug vscode
2. Forcefully kill the main process (e.g. pkill -9)
3. The lock file stays there. This is expected.
4. Debug again. You get a notification saying a browser is already running, but you shouldn't.

[2021-07-30 16:17] nathanjwtx opened #129840 "VS Code gives permission denied when attempting to Pull from Github or Gitlab"
Issue Type: <b>Bug</b>

Steps to Reproduce:

1. Install clean version of either VS Code or VS Code Insiders (no extensions installed and don't sign in to sync settings)
2. Open a git source controlled project.
3. Click on the Source Control tab in the menu
4. Select Pull from the 'View and more actions' menu
![image](https://user-images.githubusercontent.com/1558027/127681409-84bf8cec-4715-42aa-9e

[2021-07-30 16:21] meganrogge commented on #123077
I believe just using an underscore on the terminal 😄 . Works for me

[2021-07-30 16:21] peter-dolkens commented on #128637
Thanks @connor4312  - was trying to reduce duplicates, but I'll file a new ticket for you as it's a new issue.

Cheers

[2021-07-30 16:22] meganrogge commented on #124968
I could not reproduce the original issue, so am marking this as verified

[2021-07-30 16:26] andrecasal opened #129841 ".gitignore folder names starting with # are being ignored"
- VS Code Version: 1.58.2
- OS Version: macOS 11.4 (Big Sur)

Steps to Reproduce:

1. Add the folder `amplify/#current-cloud-backend` to your root
2. Add `amplify/\#current-cloud-backend` to .gitignore
3. Notice this folder still shows up in the SCM tab

<img width="695" alt="Screenshot 2021-07-30 at 17 22 28" src="https://user-images.githubusercontent.com/22457463/127683035-174e0374-0ce2-43e1-be9

[2021-07-30 16:30] dmltesla commented on #129835
Just to clarify:  It isn't necessary to create Azure pull requests in VS Code, just to view one and review ALL code changes for one. In fact it can just be a side by side view of a file against it's version in the azure master branch.

[2021-07-30 16:32] TylerLeonhardt commented on #129718
Should be fixed now

[2021-07-30 16:32] #129718 closed

[2021-07-30 16:32] TylerLeonhardt commented on #129718
@chrisdias verified in Standup yesterday.

[2021-07-30 16:38] TylerLeonhardt commented on #129833
/gifplease

[2021-07-30 16:40] #129056 closed

[2021-07-30 16:58] #129761 closed

[2021-07-30 17:14] phil294 opened #129842 "html-language-features CONTRIBUTING.md is wrong"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.58.0
- OS Version: Linux x64 5.4.135-MANJARO
- Node version: 14.16.0

[extensions/html-language-features/CONTRIBUTING.md](https://github.com/microsoft/vscode/blob/main/extensions/html-language-features/CONTRIBUTING.md) Setup instructions are wrong. I tried these steps on a freshly installed vscode instance under Man

[2021-07-30 17:21] luabud opened #129843 "Add new icon for run all failed tests"
Hey there! Now that there will be a "Test: Rerun Failed Tests" command, I was wondering if we could have a new official icon (perhaps updated to the vscode-icons repo, if it's not too much work) that we could display on the test explorer (only when there is at least one failed test in the view)?

We have custom ones at https://github.com/microsoft/vscode-python/blob/main/resources/dark/run-failed-

[2021-07-30 17:26] poshcodebear commented on #125952
I think @NatoBoram makes an excellent point with their new discussion: every argument used about technical debt and maintainability can be directed at the GUI settings interface as well.

I only just today saw this was happening, probably because for the most part I'm not digging through my settings file regularly.  I've not had to make any changes to it over the last month, and with only days to

[2021-07-30 17:27] hediet commented on #129677
Thanks! Makes a lot of sense!

[2021-07-30 17:29] hediet commented on #129676
I'll close this one as there is nothing we can do about it.

If this is important, we should discuss it in Copilot's repository.

[2021-07-30 17:29] #129676 closed

[2021-07-30 17:38] sean-mcmanus opened #129844 "markdownEnumDescriptions don't remove markdown <backtick>##<backtick> in the settings UI and don't remove ## in settings.json"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.58.2
- OS Version: Windows

Steps to Reproduce:

1. View the files.autoSave, afterDelay enum description.

Bug: The \`##\` isn't removed:

![image](https://user-images.githubusercontent.com/19859882/127690558-bce6fa2a-2ba7-470a-804f-0f4c8299e19c.png)

In settings.json, `##` isn't removed:
![image](https://user-image

[2021-07-30 17:47] rchiodo opened #129845 "DataScience docs point to the wrong notebook UI for the overview page"
https://code.visualstudio.com/docs/datascience/overview

The first picture on that page is incorrect. It's showing the old webview UI.

[2021-07-30 17:48] rchiodo commented on #129845
Sorry not sure where doc issues go

[2021-07-30 17:51] TylerLeonhardt commented on #129730
So I actually gave this a go and I can't seem to repro the groovy behavior.  @claudiaregio / @isidorn can you give it a test again?

The percentages I got were around the same as @yoeo's guesslang.

![image](https://user-images.githubusercontent.com/2644648/127689533-ae919439-316f-48cb-8aef-660a1abff524.png)

Interestingly, it's not the exact probability as @yoeo's numbers... that's when I noticed

[2021-07-30 18:19] #128331 closed

[2021-07-30 18:20] deepak1556 commented on #128331
Release notes have been updated and will be reflected in `1.59` notes.

[2021-07-30 18:20] roblourens commented on #129815
It's in the output toolbar (the `...` menu by the output)

[2021-07-30 18:22] roblourens commented on #126087
You add a cell with the menu in Peng's screenshot. Maybe you can call me to work through this and figure out if there's a new issue

[2021-07-30 18:22] roblourens commented on #126087
You add a cell with the menu in Peng's screenshot. Maybe you can call me to work through this and figure out if there's a new issue

[2021-07-30 18:24] roblourens commented on #129810
I don't see the problem

[2021-07-30 18:25] TylerLeonhardt commented on #129730
Oh shoot I figured it out... I can repro this on Windows... why? Because of the line endings! If I switch the line endings to `\r\n` instead of just `\n` Groovy ends up being the top result!

@yoeo I think this is something that should probably be figured out in the model... what do you think?

[2021-07-30 18:28] JayPalm opened #129846 "[macOS] Dragging proxy icon into embeded terminal drops any tilde '~' in filename"
Issue Type: <b>Bug</b>

Drag and drop an icon with a tilde character ('~') in the file name (or path) from the finder window into the embeded terminal. The copied path will exclude any tildes in the filename/path.

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:09:06.581Z)
OS version: Darwin x64 20.5.0
Restricted Mode: No

<details>
<summary>System Info</summ

[2021-07-30 18:34] byehack opened #129847 ""Unsupported" in title."
Does this issue occur when all extensions are disabled?: No

- VS Code Version: 1.58.2
- OS Version: win10 20h2

Steps to Reproduce:
1. try to change background.
2. reload to take effect.
![image](https://user-images.githubusercontent.com/26390254/127696693-2e6fdd57-de4e-4630-acab-aab4048b738b.png)

[2021-07-30 18:36] ShinyCoconut commented on #91613
I can confirm: When the vscode executable has been set to always open as administrator, it brings up the cli.js file.
However, it has to keep being open as administrator for several reasons. Did anybody find why it happens? If so, we can simply disable it somehow. Thanks.

[2021-07-30 18:37] gjsjohnmurray commented on #129847
As designed. The extension you are using probably alters product files, causing the startup integrity check to detect this.

[2021-07-30 18:37] gjsjohnmurray commented on #129847
/causedByExtension

[2021-07-30 18:37] roblourens commented on #126087
Seems like @rzhao271 saw the original issue regress so I'll look at it next month

[2021-07-30 18:38] #129847 closed

[2021-07-30 18:40] byehack commented on #129847
there is no way to ignore it?

[2021-07-30 18:46] hildogjr opened #129848 "Wrong visualization of images"
Issue Type: <b>Bug</b>

Just open a PNG image, the (0,0) pixel is centered at the canvas, not the center of the image.

![image](https://user-images.githubusercontent.com/2211474/127698256-5c7e006b-31ff-4b1b-97b3-365e292f2f9d.png)

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:30:16.440Z)
OS version: Linux x64 5.8.0-63-generic
Restricted Mode: No

<details>

[2021-07-30 18:52] Javaw1 opened #129849 "Suggestions"
VSCode is great and its a nice experience to code with. But sometimes when i use multiple files and use module.exports i don't get a suggestion for the interface/variable

[2021-07-30 18:55] roblourens commented on #129810
This is probably slowness from rerendering the list after the edited item loses focus. We have some issues around optimizing this

[2021-07-30 18:55] #129810 closed

[2021-07-30 18:56] ajs256 commented on #129847
If an extension changes the VS Code core files, it will display `[Unsupported]` in the title bar. This is because it can cause hard-to-reproduce issues.

<details>
<summary>psst...want to get rid of it?</summary>
check out <a href=https://marketplace.visualstudio.com/items?itemName=lehni.vscode-fix-checksums>this extension</a>
</details>

[2021-07-30 19:15] allefeld commented on #124872
I don't there even needs to be a separate setting, the important thing is that code/output font size and markdown font size match (or, if you want to get fancy, that x-height matches).

[2021-07-30 19:37] sean-mcmanus opened #129850 "Unhelpful "TypeError: (x.description || x.markdownDescription || "").split is not a function" occurs when a setting's "description" in package.json is an array instead of a string"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.58.2
- OS Version: Windows

Steps to Reproduce:

1. Accidentally use a "description" with an array of strings value in an extension's setting in package.json (the intent being to use "enumDescriptions" instead). See https://code.visualstudio.com/api/references/contribution-points#Configuration-property-schema .
2. R

[2021-07-30 19:42] harsh1997p opened #129851 "terminal"
Terminal is failed to open.. resolve my issue.

[2021-07-30 19:47] Metadorius commented on #71461
Would be good if this feature has gotten more attention. I need to ask which dmp file the user would like to debug and to do this via launch configuration I direly need this implemented.

[2021-07-30 19:52] IllusionMH commented on #129837
Yes. It was deprecated year ago and removed later.
See https://github.com/microsoft/vscode/commit/bb3c233e97d8e2d78d9fa97a5fea5274e8300ad1 and https://github.com/microsoft/vscode/issues/104591#issuecomment-673959672

You should be able to show this view from context menu if you have `package.json` in root of the folder or check and upvote https://github.com/microsoft/vscode/issues/119868 and under

[2021-07-30 19:56] rzhao271 commented on #117511
I'll reopen the issue because I think the error handling changed afterwards, and I'd like to look into the implementation again during a later iteration.

[2021-07-30 20:00] Metadorius commented on #347
@lramos15 actually recommended extensions don't really solve the problem. The idea is to 1) require, and 2) automatically disable extensions based on which workspace are you in. If you use VSCode for multiple environments this gets really messy with all the extensions.

[2021-07-30 20:01] mjbvz commented on #129849
Please fill in the issue template and share an example project that demonstrates this issue

/needsMoreInfo

[2021-07-30 20:02] TylerLeonhardt commented on #129813
@timfeeley-okta you've shared what's in the settings sync output channel but can you also share what's in the GitHub Authentication output channel? Also, I assume that you are using a GitHub account?

[2021-07-30 20:02] Metadorius commented on #39272
Any further updates on this?

[2021-07-30 20:06] Ben-Conrad opened #129852 "editor.wordSeparators no longer allows double click to capture variable with "$""
VSCode 1.58.2 on Windows.

We've been using this setting for **many years** to allow a double click (in PowerShell) to capture variable names (like $MyVariable).  This is used extensively to copy/paste the variables inside VSCode.

By default VSCode only selects MyVariable when double click, so we use this editor.wordSeparators setting to remove '$'

    "editor.wordSeparators": "`~!@#%^&*()=+[{]}

[2021-07-30 20:07] Ben-Conrad commented on #129852
**WordSeparator not working:**
![wordseparator-not-working](https://user-images.githubusercontent.com/11560403/127706312-f85521cd-fc5a-4da3-9af1-9f460284f9d8.png)

**PowerShell**
![configured-language-powershell](https://user-images.githubusercontent.com/11560403/127706336-4bb323f4-a81c-4de4-94bc-a6da147460c4.png)

**Settings.json**
![settings-json](https://user-images.githubusercontent.com/115604

[2021-07-30 20:07] mjbvz commented on #129727
@lramos15 Can you please take a look since Steven is out?

[2021-07-30 20:11] #128873 closed

[2021-07-30 20:11] roblourens commented on #129750
I think I would expect that, are you expecting that we remember the selection per cell?

[2021-07-30 20:12] Ben-Conrad commented on #129852
This guy's got the answer, it seems the behavior got toggled inside vscode recently- https://stackoverflow.com/questions/68128258/vscode-does-not-honor-editor-wordseparators-when-writing-powershell-code

`    "[powershell]" : {
        "editor.wordSeparators": "`~!@#%^&*()=+[{]}\\|;:'\",.<>/?"
    },
    "files.defaultLanguage": "powershell",
    "editor.showFoldingControls": "always",
    "editor

[2021-07-30 20:12] connor4312 commented on #129750
I think this duplicates/relates to discussion in https://github.com/microsoft/vscode/issues/125876

[2021-07-30 20:13] mill1000 opened #129854 "Integrated terminal wraps incorrectly on SSH remote."
Does this issue occur when all extensions are disabled?: Yes. All extensions are disabled except the Remote SSH and Remote WSL extensions.

- VS Code Version: 1.58.2 & 1.59.0-insider
- OS Version: Windows_NT x64 10.0.19041

This issue is similar to the one reported in #126037 but I don't have to generate any control characters for the issue to appear. Additionally, the issue was not fixed in insid

[2021-07-30 20:13] Ben-Conrad commented on #129852
I consider this a workaround but the maintainers may consider a bug so I'll leave open for a bit to see what you think.

[2021-07-30 20:16] connor4312 commented on #129750
There's discussion on when/how this should be applied in the linked issue, which is something I do want to address next month. Although I'm not a heavy user of Jupyter notebooks myself I don't think this is candidate-worthy.

If I have a custom renderer for a built-in type and I want to use the built-in renderer, that choice is not persisted: is that a common use case, am I just using the built-in

[2021-07-30 20:16] #129750 closed

[2021-07-30 20:21] jordankittle commented on #27562
This issue is annoying me

[2021-07-30 20:25] JacksonKearl commented on #128873
Thank you @mjbvz !!

[2021-07-30 20:29] roblourens commented on #129844
@rzhao271 if you are going to move an issue to the backlog, please put labels on it

[2021-07-30 20:34] timfeeley-okta commented on #129813
Hello!  It tells me:

`[Error  - 20:33:16.372] Getting token failed: Error: Cannot get password`

❯ grep -R github *
[code]

[2021-07-30 20:38] TylerLeonhardt commented on #129727
@lramos15 said this is expected for now here: https://github.com/microsoft/vscode/issues/129807#issuecomment-889467532

I'm going to move it out to the next milestone for @lramos15 to clarify anything.

[2021-07-30 20:40] TylerLeonhardt commented on #129813
Does the account menu on the bottom left have you logged in to any account? If so, can you log out? Once you log out, does the account menu say your logged out?

![image](https://user-images.githubusercontent.com/2644648/127709406-914ac58c-51e1-4a27-b752-feac09db0c6a.png)

[2021-07-30 20:43] TylerLeonhardt commented on #129739
[code]

Here's an example... what this says is that if I'm in an untitled markdown file, **do not** switch to another language automatically.
If I was in an untitled TypeScript file, for example, then the automatic language detection would run and I could be switched off of TypeScript to something else.

[2021-07-30 20:45] timfeeley-okta commented on #129813
Nope, here's a round trip of it not working:

https://user-images.githubusercontent.com/86313278/127709837-08cc02f4-af38-4f4a-af75-7ece60613c83.mov

[2021-07-30 20:46] rchiodo opened #129855 "No way to enter a cell at the top of a notebook"
Issue Type: <b>Bug</b>

The toolbar (hover or main) doesn't allow me to enter a cell above other cells.

I have to select the first cell and hit 'a', or use the command palette and pick 'Insert Cell Above'

VS Code version: Code - Insiders 1.59.0-insider (baed4398a72bde585574b4c6cf3f241438bd3f39, 2021-07-28T19:37:22.975Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summar

[2021-07-30 20:47] roblourens opened #129856 "Simple split editor should show the full file path in an editor tab tooltip"
https://github.com/microsoft/vscode/issues/125952#issuecomment-881169386

[2021-07-30 20:49] DonJayamanne opened #129857 "Julia error messages not displayed in output because our renderer only takes Stack Trace into account"
Originally filed here https://github.com/julia-vscode/julia-vscode/issues/2326

[2021-07-30 20:49] timfeeley-okta commented on #129813
For the session I signed in:
[code]

Next launch:
[code]

[2021-07-30 21:00] JacksonKearl commented on #128210
Is this user-facing?

[2021-07-30 21:09] TylerLeonhardt commented on #73451
This doesn't appear to be 100% fixed. Using Remote WSL, I noticed that the slashes were wrong:

[code]

It tries to run with `\`s but it should be `/` because the remote is running on Linux.

[2021-07-30 21:19] michael-hawker commented on #126082
Also seems like it won't link to other named HTML anchors like:

[code]

In 1.58.2

[2021-07-30 21:25] meganrogge commented on #128269
@alexr00 That behavior is expected because the pty host goes down when the window is closed.

[2021-07-30 21:27] TylerLeonhardt commented on #129813
@timfeeley-okta would you mind giving our Insiders builds a try? I added a ton more logging in there that I think could be helpful. https://code.visualstudio.com/insiders

[2021-07-30 21:29] meganrogge opened #129858 "ctrl w kills terminals even if the panel isn't focused"
1. create an editor terminal, pin the tab
2. create a few terminals in the panel
3. focus the editor terminal -> ctrl W -> 🐛 panel terminal is killed

![recording (51)](https://user-images.githubusercontent.com/29464607/127713189-dcb90fab-d910-45cd-8203-71ed45b29680.gif)

[2021-07-30 21:30] #129851 closed

[2021-07-30 21:30] meganrogge commented on #129851
It looks like your report is missing some important information, See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more info on how to report actionable terminal issues.

[2021-07-30 21:30] matklad commented on #124988
I still believe that this warrants at least a `**Security:**` note in the docs. I've written a long-form reasoning in this post: https://matklad.github.io//2021/07/30/shell-injection.html

[2021-07-30 21:31] fabiospampinato commented on #129199
Author of the notification thing here. I'm happy to switch to an info notification if the maintainers would prefer that, I explicitly picked the error notification because the other ones disappear pretty quickly without giving you enough of a chance to interact with them, and the message displayed in those notifications is kind of long already, so I don't think you really want to show it to people

[2021-07-30 21:32] timfeeley-okta commented on #129813
Sure thing!

It's actually working in Insiders:

Settings Sync log:
[code]

Github Auth log:
[code]

[2021-07-30 21:32] meganrogge commented on #128269
confirmed that now the pinned terminal in an editor tab doesn't close with `ctrl w` and found a bug related to that #129858

[2021-07-30 21:34] #129846 closed

[2021-07-30 21:34] meganrogge commented on #129846
see https://github.com/microsoft/vscode/issues/122665#issuecomment-831272376 for more info

[2021-07-30 21:37] brettcannon opened #129859 "Gather folk knowledge from endgame week"
This issue is to gather details that we didn't know during endgame week which we learned later and thus should probably be documented somewhere (where that is to be determined once everything is gathered).

[2021-07-30 21:38] brettcannon commented on #129859
Do you unassign yourself after you check off your TPI? Yes.

[2021-07-30 21:38] brettcannon commented on #129859
Does the last person to check something off on a TPI close the issue? Yes.

[2021-07-30 21:39] brettcannon commented on #129859
What are all the possible roles the [TPI template](https://github.com/microsoft/vscode/wiki/Writing-Test-Plan-Items) can use?

[2021-07-30 21:39] daniv-msft opened #129860 ""workbench.action.openSettings" command with parameter doesn't filter settings anymore"
Issue Type: <b>Bug</b>

Hello,

We're using the "workbench.action.openSettings" command to open the settings page with our setting name, to help our customers find it:
[code]

However, this doesn't work anymore: the settings page opens properly with the input text set, but the settings are not filtered properly anymore.
I'm not sure when it started reproducing, but it was definitely working fine a

[2021-07-30 21:41] #129088 closed

[2021-07-30 21:42] #129132 closed

[2021-07-30 21:42] roblourens opened #129861 "Pencil button issues in dirty file"
- Open settings.json
- Make the file dirty, disable autosave
- Use the pencil icon to try to change a setting
- Get an error that the file is dirty
- Click "Save and retry"
- Nothing happens
- Press cmd+s to save
- Get an error that the 'contents of the file are newer' because the pencil actually wrote to the backing file without updating the editor

[2021-07-30 21:42] #129300 closed

[2021-07-30 21:43] justinfagnani opened #129862 "Allow extensions to be written as standard JS modules"
It would be great to be able to use standard JS modules to write extensions. This would require that VS Code `import()` extensions instead of `require()`'ing them. Dynamic import will work for CommonJS files as well.

One tricky part will be providing the `vscode` module in the absence of stable loader hooks in Node. One option might be to revive the `vscode` package on npm to act as a wrapper on

[2021-07-30 21:43] rebornix commented on #129855
With our insert toolbar styling update, we didn't update the insert toolbar above the first cell, which is intended for inserting cells above first cell.

[2021-07-30 21:45] roblourens commented on #125952
I've read the feedback and I know that this isn't the outcome you all want, sorry. Thanks to those of you who tried out the new simple split editor. I hope you all give the simple editor or the GUI a chance at some point. Lots of people have pointed out that power users using the split editor are more likely to have disabled telemetry, that may be true, what telemetry says is not the main motivati

[2021-07-30 21:45] daniv-msft commented on #129860
Closing this issue: once I updated to the latest insider (1.59.0-insider), it doesn't reproduce anymore.

[2021-07-30 21:45] #129860 closed

[2021-07-30 21:45] #125952 closed

[2021-07-30 21:50] rebornix commented on #129855
Fixed.

[2021-07-30 21:50] #129855 closed

[2021-07-30 21:59] SNDST00M opened #129864 "Shell functions and commands appear to be broken"
In Atom, all command words get highlighted as functions and all options get highlighted as attribute names. This isn't the case in VSC's Shell syntax unfortunately. I am having trouble locating the issue, gonna try `vscode-tmgrammar-snap` today.

[2021-07-30 22:13] TylerLeonhardt commented on #129813
Glad to hear it's fixed in insiders! We did some refactoring work there so I'm glad it's working for you. I'll go ahead and close this now since it's fixed in insiders. The next stable release is happening next week so just hang on for that and report back how it goes :)

[2021-07-30 22:13] #129813 closed

[2021-07-30 22:37] github-account1111 commented on #93828
Okay! I'll lyk if it fixes it for me once stable rolls out.

[2021-07-30 22:53] AlPras99 opened #129867 "Word wrap not working"
Issue Type: <b>Bug</b>

i want use word wrap in my code but its not working, my device mac.

VS Code version: Code 1.58.2 (Universal) (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:09:06.581Z)
OS version: Darwin x64 20.6.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz (4 x 2300)|
|GPU Status|2d_canvas:

[2021-07-30 23:00] JacksonKearl commented on #127585
Verified with the unreleased build on 3f6294b50e.

[2021-07-30 23:04] chlafreniere opened #129869 "Number of Items in Dropdowns aren't Read Consistently when Screenreader Active"
Issue Type: <b>Bug</b>

In the debug configuration dropdown, while a screenreader is active, the number of items present in the dropdown isn't reliably read.

Expand the dropdown, and note the number of items read. Close the dropdown. Expand the dropdown again, and the number of items read will be different (generally a much larger number).

Tested both with NVDA and Narrator, and reproed with bot

[2021-07-30 23:25] rzhao271 commented on #124382
It's a bit better than in the original picture. I still see some inconsistent widths, though.
![Screenshot showing some inconsistency in margin or padding](https://user-images.githubusercontent.com/7199958/127720566-f905cf1a-e41b-4a9b-8324-13fd5c786ece.PNG)

[2021-07-30 23:34] JacksonKearl commented on #124678
Was not able to reproduce the original bug in Stable on MacOS or Windows.

[2021-07-30 23:38] ssmooncoder commented on #120070
I've have the same issue with js/ts/python. No textual change but pressing `enter` doesn't insert a new line. Seems like [#59044](https://github.com/microsoft/vscode/issues/59044) didn't fix it?

[2021-07-30 23:39] IllusionMH commented on #129682
/assign @mjbvz

[2021-07-30 23:45] rzhao271 commented on #129855
\closedWith ee1fc3a0d60aba68e25d0b2cb0113e310d3d7ad5

[2021-07-30 23:48] Colengms commented on #126408
@dbaeumer This appears to not be fully addressed.  With 1.58.2, doing this with the description of a setting, I get no tooltip when hovering over the setting name in `settings.json`.

I get the following error when I open the settings UI, and no settings at all are displayed.

[code]
My entry in `package.nls.json` was defined like so:

[code]

And referenced like do in `package.json`:

[code]

[2021-07-30 23:56] rzhao271 commented on #129683
Oh right, configuring `terminal.integrated.environmentChangesRelaunch` helped.

[2021-07-31 00:02] NatoBoram commented on #125952
Aight, I'd like to point out the irony behind the `feature-request` label on a feature removal that no user actually requested. I know it's just a procedure, but you know... It still hurts.

Since you weren't listening in the first place, then I guess you can lock the issue before the release of the public build so that people surprised by a sudden heavy downgrade of functionality can come here, c

[2021-07-31 00:17] sean-mcmanus commented on #126408
When I reproed the bug, I got none of our extension's settings displayed, but the built-in ones appeared.

Also, if this is fixed, please make sure markdownDescription is also supported.

[2021-07-31 00:23] claudiaregio commented on #129815
I remember seeing it there once, however I never find myself going there when looking for the clear. I think that's especially because I have already associated that menu item to have other output impacting items. (Collapse cell output, delete cell, join with next cell/preivous cell)

![image](https://user-images.githubusercontent.com/19276747/127722661-688906b4-4997-46ea-9084-5f797c0667fa.png)

[2021-07-31 00:47] velociwabbit commented on #5402
I just tried the new vs code and the default for rubberband (column) select even when you set vscode  key bindings to visual studio is still shift alt.

why not just make it shift I alt (think about it :) )

This is an unforced error that will really anger visual studio users who are forced to use vscode. It is why vscode has such a terrible reputation as an editor with really experienced software

[2021-07-31 01:04] ajs256 commented on #88101
I am still bumping into this issue often, since I work mainly with files on a removable drive. Is a fix in the works?

[2021-07-31 01:08] DetachHead commented on #129789
[code]

[2021-07-31 01:15] DanielRosenwasser opened #129870 "Inlay hints affect document edits in anonymous buffers"
I am fairly certain that I've hit an issue when any of TypeScript's inlay hints functionality is enabled. It doesn't happen when the following are turned off.

[code]

[code]

Now substitute the `/*$*/` with your cursor and type in `abstract `. What I see here is that this corrupts the document in some way when it gets sent to the server.

https://user-images.githubusercontent.com/972891/127723603

[2021-07-31 01:16] DanielRosenwasser commented on #129870
<details>
<summary>

`tsserver.log` for the last example with `export function`

</summary>

[code]
</details>

[2021-07-31 01:18] DanielRosenwasser commented on #129870
Plot twist: this also only occurs in unsaved buffers. 🙄

[2021-07-31 01:42] #129839 closed

[2021-07-31 02:11] karai17 commented on #129199
I don't understand how you can come to the conclusion that I don't like open source after I've already explicitly told you I am also an open source developer. The entire point of my concern here isn't that your code is open source, nor is it that you would like to recieve donations for it. It is, and has been, specifically that you are hijacking features inside of vscode and using them for uninten

[2021-07-31 02:29] darnjo opened #129871 "Un-highlight find results on ESC"
I don't believe this is an existing request.

It's common in other platforms for the find results to be un-highlighted when the user presses the ESC key.

The sticky find highlighting seems to affect usability.

[2021-07-31 02:31] #124892 closed

[2021-07-31 03:05] NgocAnh5965 opened #129872 "reset setting"
how can I reset visual studio code to factory default

[2021-07-31 03:10] wenfangdu commented on #125952
@NatoBoram I guess he thought after a long time since the GUI editor became the default settings editor, more people will support his decision, but we hardcore split JSON editor fans haven't died out yet and even increased given the downvote count. He can't see us die out in a near future, hence decided to do it anyway.

[2021-07-31 03:23] Kingwl commented on #129870
I guess it's related with https://github.com/microsoft/vscode/issues/129637. But i have no idea about that.

[2021-07-31 03:41] ebiggs commented on #129871
Why is it when you close the search dialog with the x the highlighting vanishes but when you click escape it doesn't? You'd expect identical behavior.

[2021-07-31 03:42] KevinQuinonesA opened #129877 "Restart TS server option is not available"
Issue Type: <b>Bug</b>

I opened a .ts file and at the command palette, the option of Restart TS Server is not available. I also tried to reopen VsCode with the extension disabled

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:30:16.440Z)
OS version: Linux x64 5.8.0-63-generic snap
Restricted Mode: No

Extensions: none

[2021-07-31 03:44] mytchmason opened #129878 "Incorrect duplicated directories restored upon undo (ctrl/cmd + z)"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.58.2
- OS Version: macOS Big Sur 11.4

Steps to Reproduce:

1. Delete directory (cmd + delete) within Code file explorer.
2. Restore directory (cmd + z)

Upon restoring attempt of directory restore, somehow, the actual directory with the files or folders inside is not restored, but rather, a copy of the directory's

[2021-07-31 03:46] carlocardella commented on #125952
The split editor as it is today is useless to me, at this point it would make sense to just get rid of the entire thing and leave the simple JSON file, why bother with the split vire now? It's nothing more than two files side by side

[2021-07-31 04:04] ddey7 opened #129879 "we are unable to connect marketplace vscode error"
Does this issue occur when all extensions are disabled?: Yes/No

I cant even download extension

- VS Code Version:
- OS Version:

we are unable to connect marketplace vscode error .  i an dacing this error since last 1yr

[2021-07-31 05:04] gjsjohnmurray commented on #129879
/needsMoreInfo but if you are on certain flavours of Linux (Arch, Manjaro) then the issue is that the distribution modifies VS Code to go to Open VSX for its extensions instead of the Microsoft Marketplace, and doing that produces a CORS failure. Try searching on some of these terms for duplicate issues here, or ask on places where you get support for the distro you're running.

[2021-07-31 05:31] jheissb opened #129880 "can't copy figures to clipboard from jupyter notebook"
Issue Type: <b>Bug</b>

in jupyter notebook, produce any plot, then select and try to copy to clipoard either by pressing ctrl-c or edit-copy.

It doesn't do anything and the clipboard remains empty. The only option is to save the figure to disk, which is not practical.
I had to go back to use the browser instead of VScode for jupyter notebooks.

VS Code version: Code 1.58.2 (c3f126316369cd610563c

[2021-07-31 05:34] jheissb commented on #129880
![screenshot](https://user-images.githubusercontent.com/46458532/127729885-6c10fb71-73a7-4fac-b667-d40f794d3a53.jpg)

Attached screenshot showing I can highlight the figure, but it is not getting copied to clipboard. tried ctr-c, right click and from the edit medu.

[2021-07-31 05:57] WaynePhillipsEA opened #129881 "Virtual file system sub-folder breadcrumb bar issue"
- VS Code Version: v1.58.2
- OS Version:  Windows 10

My twinBASIC extension registers virtual filesystems, through registerFileSystemProvider.  The workspace folders are configured to point to subfolders in these virtual file systems, like so:

<img width="351" alt="tb_breadcrumbIssue2" src="https://user-images.githubusercontent.com/25738109/127730242-ba5ad87a-702d-477b-a605-2777baf6937b.png">

W

[2021-07-31 06:00] coder-lg opened #129882 "SSH connection bug, maybe?"
Does this issue occur when all extensions are disabled?: No
(I use extensions)

- VS Code Version: 1.58(latest)
- OS Version: Windows 7 Build 7601

Steps to Reproduce:

1. Get the Remote-SSH extension
2. Try connecting to a computer
3. Instead of asking password of server PC, it asks password of client PC

Let me explain:
I got OpenSSH Server on my secondary Win10 PC so that I may use WSL directly

[2021-07-31 06:03] coder-lg commented on #129882
I don't understand if the problem is with VSCode or **MY** VSCode or my primary PC or my network or the extension. SSH on the command line works but VSCode part doesn't work. Can you examine this?

[2021-07-31 06:12] asrajo opened #129883 "vs code when it turns on will ask for admin approval many times"
Issue Type: <b>Bug</b>

When I open VScode, it always asks for admin permissions many times, maybe 3 times more

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz (8 x 1800)|
|GPU S

[2021-07-31 06:18] lukebelliveau opened #129884 "Cannot add `code` to PATH, permission denied"
Issue Type: <b>Bug</b>

Opening the command palette and trying to add the `code` command to `PATH` results in the following error:

`EACCES: permission denied, unlink '/usr/local/bin/code'`

<img width="264" alt="Screen Shot 2021-07-31 at 8 16 31 AM" src="https://user-images.githubusercontent.com/6233086/127730785-7b596de2-4982-40c2-a2a8-d9237e715013.png">

This is from a fresh install.

VS Code v

[2021-07-31 06:27] lukebelliveau commented on #129884
Note that I got it into my PATH by following the workaround [here](https://stackoverflow.com/a/33831403).

[2021-07-31 07:43] alixsep opened #129885 "Hi, I love vscode, along side with many others. onething that we want is ability to customize it. We already have themes and icons in the extention store. but what if someone wants **rounded corners** or a custom animation for the dropdowns? or may be even changing the layout based on their taste? I saw [this](https://www.reddit.com/r/Windows11/comments/orbgzl/visual_studio_vs_code_and_github_desktop_with/?utm_so urce=share&utm_medium=web2x&context=3) concept from reddit and this is legitmately an absolute beautiful redesign of vscode:"
Hi!
I love vscode, along side with many others. onething that we want is ability to customize it. We already have themes and icons in the extention store. but what if someone wants **rounded corners** or a custom animation for the dropdowns? or may be even changing the layout based on their taste?

I saw this concept from reddit, ([Source](https://www.reddit.com/r/Windows11/comments/orbgzl/visual_

[2021-07-31 07:43] #129885 closed

[2021-07-31 07:43] coder-lg commented on #129882
@roblourens I saw that @vscode-triage-bot assigned this issue to you. Can you find an easy fix? Thanks in advance!

[2021-07-31 07:44] alixsep opened #129886 "Global SCSS or CSS file for allowing users to customize vscode"
Hi!
I love vscode, along side with many others. onething that we want is ability to customize it. We already have themes and icons in the extention store. but what if someone wants **rounded corners** or a custom animation for the dropdowns? or may be even changing the layout based on their taste?

I saw this concept from reddit, ([Source](https://www.reddit.com/r/Windows11/comments/orbgzl/visual_

[2021-07-31 07:45] alixsep commented on #129885
I am sorry i forgot to type the title
so i closed and reopened a new issue

[2021-07-31 07:51] wenfangdu opened #129887 "[FR] Circular suggestion navigation via `PageUp`/`PageDown`"
Currently, when navigating suggestions through `PageUp`/`PageDown`, if it reaches the top/bottom of the list, unlike using `UpArrow`/`DownArrow`, it'll just stop there, would be nice to unify the experience between them, allowing using `PageUp`/`PageDown` to do circular suggestion navigation as well.

![STG 2021-07-31 15_46_18](https://user-images.githubusercontent.com/28700378/127732988-1fc94962-

[2021-07-31 08:05] nawok opened #129888 "Icons are misaligned when line height is increased"
Issue Type: <b>Bug</b>

1. Set Editor: Lineheight to 25
2. Set a breakpoint
3. Inspect alignment

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:09:06.581Z)
OS version: Darwin x64 20.5.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7500 CPU @ 3.40GHz (4 x 3400)|
|GPU Status|2d_canvas: enabled

[2021-07-31 08:05] nawok commented on #129888
<img width="399" alt="CleanShot 2021-07-31 at 10 00 27@2x" src="https://user-images.githubusercontent.com/159773/127733434-749b146c-3503-450a-893f-e77352132f87.png">

[2021-07-31 09:45] Pengwei-Jin opened #129889 "fail to git push"
Issue Type: <b>Bug</b>

I connect to a centos server remotely and use git by Module. I can git push in a shell, but when I click the button provided by VSCode, an error come out with the message "fatal: unable to find remote helper for 'https'".

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode:

[2021-07-31 09:49] Pengwei-Jin commented on #129889
![2021-07-31 174652](https://user-images.githubusercontent.com/84560451/127736034-427c640c-d4ff-4d59-a271-63130b1c14e3.png)
![2021-07-31 174812](https://user-images.githubusercontent.com/84560451/127736038-e72925bc-fffe-4fe1-8a3a-1f0631357d6b.png)

[2021-07-31 09:54] nirmalsinghoo7 opened #129890 "My .CSS files icons is not showing proper, also not detecting the colors"
Issue Type: <b>Bug</b>

Maybe something changed in my VS code's settings. The icon of CSS files is showing an unknown file type. http://i.prntscr.com/CmH-GiWURfKVsb8q3OCZVg.jpeg
It's not showing the color picker - http://i.prntscr.com/CUE5SkU9Rf2qqLJ0uh4_qw.jpeg
Like this - http://i.prntscr.com/9JMcaSuBSiCtvCopn0bs_w.jpeg

Also, Autocomplete is not working in CSS files.

VS Code version: Code 1.58

[2021-07-31 10:01] gjsjohnmurray commented on #129890
Please use the Start Extension Bisect command to investigate whether the problem is being caused by one of your extensions

[2021-07-31 10:41] MichaelSuen-thePointer opened #129891 "Chinese IME malfunctioning in integrated terminal search box"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.59.0-insider
- OS Version: Windows 10 10.0.19043.1110

Steps to Reproduce:

0. have a Chinese IME installed, I use Microsoft IME
1. (press ctrl+`) open integreted terminal
2. (press ctrl+f) open search dialog
3. (press win+space maybe multiple times) switch input language to Chinese (you might need to install one)
4

[2021-07-31 11:24] #129258 closed

[2021-07-31 11:24] #129251 closed

[2021-07-31 11:24] #129138 closed

[2021-07-31 11:24] #129054 closed

[2021-07-31 11:24] #128679 closed

[2021-07-31 11:24] #122829 closed

[2021-07-31 11:24] #121787 closed

[2021-07-31 11:24] #86472 closed

[2021-07-31 12:04] arunn commented on #128722
@meganrogge It doesn't seem to be working in insiders build either.

[2021-07-31 12:19] Coderx7 opened #129892 "Make launch.json lanuage aware"
Currently, if you have several applications in a project, e.g. a C++ and a Python for example, if you configure launch.json for the C++, Whenever you try to execute the Python scripts, you'd fail, as the launch.json treats the python script as a C++ file.
You can create different configurations in the launch.json file, but each time you have to manually choose the right config and this is cumberso

[2021-07-31 12:48] tejasc0 opened #129893 "URL not updating in preview browser while using react router"
Does this issue occur when all extensions are disabled?: Yes/No
Yes

- Version: 1.58.2
- Commit: c3f126316369cd610563c75b1b1725e0679adfb3
- Date: 2021-07-14T22:30:16.440Z
- Electron: 12.0.13
- Chrome: 89.0.4389.128
- Node.js: 14.16.0
- V8: 8.9.255.25-electron.0
- OS: Linux x64 5.11.0-25-generic

Steps to Reproduce:

1. create simple route using react-router-dom and use navbar to navigate through r

[2021-07-31 12:50] tejasc0 commented on #129893
![vscode](https://user-images.githubusercontent.com/35273882/127740387-dc694143-bc53-4170-8bf7-80f29c615944.png)
screenshot

[2021-07-31 12:52] tejasc0 commented on #129893
![chrome](https://user-images.githubusercontent.com/35273882/127740425-f9176c26-5e29-4a26-a3de-060372d41dc7.png)
screenshot of external browser (Google Chrome)

[2021-07-31 13:02] SNDST00M opened #129894 "Update shell file icon"
🙈 The current icon doesn't fit the other icons or the VSC aesthetic.

[2021-07-31 13:31] flamurbeqiraj commented on #81589
Can't believe that this big project can't handle big files! It is just necessary!

[2021-07-31 13:34] brunoprietog commented on #124165
Hi, once I can focus the banner, if I press space on the manage button, nothing happens. I have to move the mouse to that position and click for it to work.

[2021-07-31 13:36] edbird opened #129895 "Bug introduced in version 1.58.2: Insane warnings when opening files"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:
- OS Version:

Steps to Reproduce:

1. Open VS Code
2. Open folder containing code

This appears:

![image](https://user-images.githubusercontent.com/2939755/127741496-d00e2dbe-6be6-4f40-8fac-820a245f0950.png)

I consider this to be a "bug" because I cannot for the life of me imagine why someone would consider this

[2021-07-31 13:39] eduncan911 commented on #125993
Closed automatically after 7 days of inactivity?

That seems ... A but excessive.

[2021-07-31 14:07] AndrewKnauss commented on #53262
@themighty1 , I just tried to reproduce the issue it has been resolved in a recent update.  The outline tab is now working as expected.  Either that or the issue was intermittent.  Here's the latest version I tested with where the issue appears to be resolved.
Version: 1.58.2 (user setup)
Commit: c3f126316369cd610563c75b1b1725e0679adfb3
Date: 2021-07-14T22:10:15.214Z

[2021-07-31 14:41] gjsjohnmurray commented on #129894
/gifPlease

[2021-07-31 14:41] dbarnes18 commented on #129312
I have the same issue in a Python workspace. No autocomplete come up at all.

I'm using:
* macOS 10.15.7
* VSC Information:
    * Version: 1.58.2
    * Commit: c3f126316369cd610563c75b1b1725e0679adfb3
    * Date: 2021-07-14T22:09:06.581Z (2 wks ago)
    * Electron: 12.0.13
    * Chrome: 89.0.4389.128
    * Node.js: 14.16.0
    * V8: 8.9.255.25-electron.0
    * OS: Darwin x64 19.6.0

[2021-07-31 14:48] gjsjohnmurray commented on #129895
See #126348

[2021-07-31 14:50] pogilvie commented on #120020
It's been working well for me across several releases on both intel and arm.    Issue appears resolved to me.

[2021-07-31 14:50] #120020 closed

[2021-07-31 14:53] SNDST00M commented on #129894
<img width="480" alt="image" src="https://user-images.githubusercontent.com/82655227/127743765-283fb459-f3f2-4e25-bd22-b4ad009e39b9.png" />

[2021-07-31 14:56] SNDST00M commented on #129864
This is probably an issue for the Bash IDE extension which is meant to port the Tree-Sitter features.

[2021-07-31 14:56] #129864 closed

[2021-07-31 15:32] mohammed-albaewi opened #129896 "0"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-07-31 15:33] #129896 closed

[2021-07-31 15:36] JellieBeanz commented on #128777
What was the resolution for this ?

[2021-07-31 15:52] erlisdhima commented on #3884
For Linux, just to add, there's also $XDG_STATE_HOME for state files, .i.e. logs, history etc.

And in my opinion extensions should go into $XDG_DATA_HOME instead of $XDG_CACHE_HOME

You don't want all extensions to start downloading again when you delete the contents of $XDG_CACHE_HOME (~/.cache).

[2021-07-31 15:56] Leif-W commented on #127
github/gitignore#3523 is looking at a way to address this in the use case of .gitignore.  A possible workaround they might use could be `Icon\r?`, which might cause Git to ignore the interstitial `\r` as it's not an EOL.  My own preliminary tests show this was working.  While Vim and EditorConfig seemed to respect my `\r`, VSCode seems to insist on converting it to a `\n` on open, with no choice t

[2021-07-31 17:03] keepforever opened #129897 "Snippets Not Being Suggested Inside JSX markup of .js or .jsx files"
Issue Type: <b>Bug</b>

I have the same config inside both my `typescriptreact.json` and `javascriptreact.json` files.

For some reason, within the last month or so, snippets stopped being suggested in `.jsx`  or `.js` files when I am within JSX markup (i.e. inside the return, between <div/> tags in a functional React component).

My snippets get suggest as expected when I'm in the function block

[2021-07-31 17:45] Rishanmehmi opened #129898 "Extremely slow"
Issue Type: <b>Bug</b>

I'm trying to use vs vs code studio but it is extremely slow to use and please fix this

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz (8 x 1800)|
|GPU S

[2021-07-31 17:59] byehack commented on #129847
Thanks, it Worked.

[2021-07-31 18:01] Ranguna commented on #129895
@gjsjohnmurray  that issue is about disabling this feature, this issue is about removing it altogether.

[2021-07-31 18:07] Ranguna opened #129899 "Focus on terminal view not working correctly"
Does this issue occur when all extensions are disabled?: Yes/No

Version: 1.58.0
Commit: 2d23c42a936db1c7b3b06f918cde29561cc47cd6
Date: 2021-07-12T23:51:36.303Z
Electron: 12.0.15
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Linux x64 5.13.6-arch1-1

Steps to Reproduce:

1. Open vscode with `code --disable-extensions`
2. Execute command "Terminal: Focus on terminal view"
(Th

[2021-07-31 18:13] Ranguna commented on #129899
Possible duplicate of #128255. Released in 1.58.2, closing this one for the time being.

[2021-07-31 18:13] #129899 closed

[2021-07-31 18:17] claudiaregio opened #129900 "Native Notebooks - Latex rendered strangely"
- VS Code Version: 1.58.2
- OS Version: Windows

Steps to Reproduce:

1. Open notebook
2. Run `$ \ne $` in markdown cell

Expected Output:
![image](https://user-images.githubusercontent.com/19276747/127749018-f311f882-bf3f-4a61-b7bd-417d294a947a.png)

Actual Output:
![image](https://user-images.githubusercontent.com/19276747/127749042-011b939f-b79a-4cd6-a26b-aaae125b5e98.png)

[2021-07-31 18:24] rpc-scandinavia opened #129901 "Remember width of finnd/replace widget"
I would like the find and replace widget to save its width (when the user resizes it), and then restore the saved width when the widget is opened/shown.

I have looked in "simpleFindReplaceWidget.ts" and "findInput.ts", but I'm not quite the man for implementing this  :)

[2021-07-31 19:04] ryan8613 opened #129902 "Creating folder through VS Code trying to use "+" in name sends program to Not Responding for a bit"
Does this issue occur when all extensions are disabled?: No

- VS Code Version: 1.58.2
- OS Version: Windows 10 Home 20H2 Build 19042.1110

Steps to Reproduce:

1. Go to Open Folder under File
2. Create new folder within Open Folder dialog
3. Start typing in new name, and then type "+" as part of the name
4. VS Code freezes up for a bit

[2021-07-31 19:08] ryan8613 commented on #129902
Was caused by one of the following extensions:

Better TOML==0.3.2
ESLint==2.1.23
Material Icon Theme==4.8.0
Path Intellisense==2.4.0
Prettier - Code formatter==8.1.0
Rust==0.7.8
TSLint==1.3.3

[2021-07-31 19:29] arslankaleem7229 opened #129903 "VScode not showing Flutter icondata instead it shows corrupt image logo (screenshot attached)"
I am using vscode for a quite long timme but few days back vscode stucks so i reinstall vscode after installing. After reinstalling it was showing so many errors including this corrupt image logo instead of icon data. But when I use android studio it shows means that not the problem with flutter
![Screenshot (12)](https://user-images.githubusercontent.com/49631685/127750549-979078af-5b0f-4068-a940

[2021-07-31 20:15] TheWyo opened #129904 "Incorrect TypeScript intellisense - undefined being stripped from Record value type information"
An odd TypeScript issue I've seen, but I'm reporting this here as opposed to the TypeScript repo as I can only get this to happen in VSCode, this doesn't reproduce on typescriptlang.org/play or when running my original script with ts-node. Minimal repro code below.

Does this issue occur when all extensions are disabled?: Yes

Version: 1.58.2 (user setup)
Commit: c3f126316369cd610563c75b1b1725e067

[2021-07-31 20:35] TheWyo commented on #125952
Found my way here from the little note that's now appeared in the split JSON editor's view and this is possibly the most baffling 'discussion' I've ever seen.
You've done the equivalent of walking up to someone holding a swiss army knife, taking it off them and handing them a corkscrew instead, and then when questioned about it, have reassured them they can still open wine bottles.
They're well aw

[2021-07-31 20:36] dustinm76 commented on #128661
@JacksonKearl I'm a bit confused about your suggested fix. It seems like the issue here was more about making the Recent list longer than getting a large number of results to show up in the search editor.

[2021-07-31 20:38] AmericanY opened #129905 "Unable to open integrated terminal within current working directory"
Right now i do have the following structure:

[code]

Now I've opened the following file within `Explorer`:

[code]

![image](https://user-images.githubusercontent.com/27644047/127751911-33213b92-c628-4d7b-b57a-6e400de37799.png)

[2021-07-31 20:42] #123310 closed

[2021-07-31 20:59] AmericanY commented on #129905
is the only option to right click on the file and select `open in the terminal` ?

[2021-07-31 21:22] benrkia commented on #129712
I'm not able to reproduce, i have version 1.58.2 on Darwin x64 18.6.0

[2021-07-31 21:24] sunnyjamshedji opened #129906 "Unable to save file without extension for DockerFile"
Issue Type: <b>Bug</b>

First day on the "job". Am trying to learn how to use Docker. The second page of the Docker tutorial (getting-started) tells you that your DockerFile needs to have no extension. Can't be DockerFile.txt. VSCode won't let me name it as such. Keeps deleting my file and renaming it to DockerFile.txt. I can't find a setting that disables this nor have I been able to find anythin

[2021-07-31 21:25] weinand commented on #129892
You cannot configure a launch.json "for the C++" or any other debugger and launch.json never treats a python script as a C++ file. A launch.json is language/debugger agnostic.
The "type" attribute of a launch configuration determines what debug extension is used.

[2021-07-31 21:25] #129892 closed

[2021-07-31 21:43] ReturnMe opened #129907 "Line Shift"
If we select more than one line and do CTRL + C then CTRL + V, the pasted line will shift.
But it does this often, though not always.

[2021-07-31 22:00] pcjmfranken commented on #125952
In the future, @roblourens, I suggest you either find a more suitable word for... well, whatever this was, or, better yet, take an example from our friends in China, North Korea, or Belarus and don't bother with a farce like this at all.

As insignificant as the removal of this feature may be in the grand scheme, the way this is handled is nothing less than insulting and has left a very bad aftert

[2021-07-31 22:14] NotDiamondZ commented on #129364
Works!

[2021-07-31 23:17] baris-inandi opened #129908 "Fluent Design"
With the Insider releases of Windows 11, the Microsoft fluent design is implemented throughout the OS. The VS Code icon can also be updated with the new release. The current has flat colors and more light/shadow can be added. Here is an example I did:

![current](https://user-images.githubusercontent.com/68742481/127754447-c1564795-6968-48df-9555-6fcf0392266e.png)

![vsc](https://user-images.githu

[2021-07-31 23:33] o314 commented on #50140
Assume your ambition Microsoft. You want to be an opensource leader, you want to be the greatest ide ?
So use the correct technological stack at the parsing level for that.
It will not be done with regex, and reexplaining it in the 202x is a fool's game

[2021-07-31 23:44] SNDST00M commented on #50140
There should be a way to get a LSP running a tree-sitter configuration.

[2021-07-31 23:57] SNDST00M commented on #50140
I have found the most probable issue with the tree-sitter extension and I hope a extended support fix is released so that we can use tree-sitter in Visual Studio Code

[2021-08-01 00:54] deepak1556 commented on #125993
If anyone finds a reliable way to repro the issue it would help with further debugging, thanks!

[2021-08-01 02:10] lixiao189 opened #129909 "I hope to add an option in the menu bar like Editor font zoom in"
Now the option in the menu bar here can zoom in the UI's size totally
<img width="561" alt="image" src="https://user-images.githubusercontent.com/44799572/127756802-3bfd27f8-db5c-4ec2-8a5c-a21adb3b7af1.png">

I don't think that's convenient enough. Sometimes I just want to zoom in the size of the font in the editor, not all the element in the UI. So can you add an option in menu bar to change the

[2021-08-01 02:13] tsongas opened #129910 "Preserve window minimized state across restarts"
Issue Type: <b>Bug</b>

When I restart VS Code, all windows are open after the restart, even windows that were minimized before the restart. This is extremely inconvenient. MS Edge for example maintains the minimized state of windows between restarts.

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:09:06.581Z)
OS version: Darwin x64 18.7.0
Restricted Mode: No

[2021-08-01 02:31] #124887 closed

[2021-08-01 02:31] #124881 closed

[2021-08-01 02:31] #124826 closed

[2021-08-01 02:31] #124801 closed

[2021-08-01 02:32] #124373 closed

[2021-08-01 02:45] wladiston opened #129911 "Clicking on terminal in a pathname that contains a $ doesn't open the file"
There's currently an issue on the terminal of the VSCode that slows down the refactoring process of files specially on frameworks that relies heavily on the dollar sign for file structure like [Remix.run](https://remix.run/) or [NextJS](https://nextjs.org/). Any tool or place that spells out the path + filename containing $ is ignored by the cmd + click. Folders are even worse because it breaks th

[2021-08-01 02:47] CodeCrazy-ywt commented on #129849
@Javaw1 Could u provide some specific example?

[2021-08-01 03:06] Coderx7 commented on #129892
Then this must be a bug that I'm facing? Here is where launch.json treats a python script as a C++ one :
As you can see I dont use a launch.json file by default and my python script just runs fine.
I also use CMakeTools to debug and build my C++.
As you can see, after trying to running my C++ app using a launch.json file, I can no longer execute my Python script, looking at the logs, you can clear

[2021-08-01 03:57] Rishanmehmi opened #129912 "exrtreme slow procedures"
Issue Type: <b>Bug</b>

usability of vs code is really slow on windows 11 insiders program.
system config: i5 8th gen , Ram : 8 Gb , Hdd space Almost empty

VS Code version: Code - Insiders 1.59.0-insider (104bc571e956e4af623905ef10dfcc8f0fdac625, 2021-07-30T13:25:42.497Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|C

[2021-08-01 04:02] dalepres opened #129913 "Will not create valid - claims it is invalid"
Issue Type: <b>Bug</b>

Note that in the description below, init.py is supposed to have two underscores before the word init and two underscores after the word init but the editor on this page strips them.

From recent Flask documentation, the best practice pattern is a file named "__init__.py" for initializing and running a Flask app.  Visual Studio Code refuses to create a file named "__init__.p

[2021-08-01 04:27] jeanp413 opened #129914 "Error when opening notebook when panel is maximized"
- VS Code Version: From sources

Steps to Reproduce:

1. Maximize panel
2. From explorer view click on a notebook to open it

Also:

1. Open a notebook
2. Maximize panel
3. Reload window

[code]

[2021-08-01 04:29] jeanp413 commented on #128999
@rebornix After 5c1b0b7 now I am getting an error ` ERR TypeError: Cannot read property 'width' of null`. Created #129914 with steps to reproduce it

[2021-08-01 04:31] lonix1 commented on #126188
+1 This has been requested many times over the years because it's so useful.

My use case: I would like to set an editor group to 0% width, to "collapse" it. I often have two or three groups open, and even at minimum width they are too wide - I want them out of the way.

[2021-08-01 05:50] shoffmeister opened #129915 "VS Code window does not (re)initialize on load; dead - regression?"
Issue Type: <b>Bug</b>

Sometimes Visual Studio hangs effectively dead in an unitialized zombie state when
* switching an existing instance (window) to a different "scope" (folder, workspace)
* creating a new empty window
* opening a scope in a new window

I am unable to *reliably* reproduce the problem; the problem occurs very frequently for me when simply doing
* load vscode (previous workspace

[2021-08-01 05:51] shoffmeister commented on #129915
I'll try to trim the extensions a bit, in the hope that some largely unused ones cause the problem.

[2021-08-01 06:06] gjsjohnmurray commented on #129913
Not solving the problem, but one way of making the filename `__init__.py` to display in the Markdown GH uses is to enclose it in backticks.

[2021-08-01 06:24] ItaiPendler commented on #97941
Hey this still happens to me, any updates?

[2021-08-01 07:16] KL13NT opened #129916 "Sync is broken when no internet is available"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: Every version since Sync landed in production builds
- OS Version: Windows 8.1 Pro Latest

Steps to Reproduce:

1. Login
2. Change some settings
3. Turn on sync
4. Close the editor
5. Set an internet speed limit to 1 KB/s for instance (has to be too low)
6. Launch VSCode again
7. Watch as the extension fails to sync a

[2021-08-01 07:17] KL13NT commented on #129916
My settings were reset for no reason a few minutes ago and all my settings are gone. None. No more. Themes, shortcuts, snippets, environment setup, etc. This is really frustrating, and is not the first time it happened. I'm seriously considering turning off sync for good.

[2021-08-01 07:19] KL13NT commented on #129916
And when viewing the Sync Activity (Local) tab there's nothing there. Only default VSCode settings.

[2021-08-01 07:53] abdouAoufi commented on #129908
awesome

[2021-08-01 08:00] ljf20041224 opened #129917 "Call arm-none-eabi-gdb with -x parameter"
I want to call arm-none-eabi-gdb with -x parameter when launch debugger after installing cortex-debug. How can I do in launch.json or setting.json, thanks for your help.

[2021-08-01 08:05] ljf20041224 opened #129918 "Call arm-none-eabi-gdb with -x parameter"
I want to call arm-none-eabi-gdb with -x parameter when launch debugger after installing cortex-debug. How can I do in launch.json or setting.json, thanks for your help.

[2021-08-01 08:19] gjsjohnmurray commented on #129918
/duplicate of #129917

[2021-08-01 08:20] #129918 closed

[2021-08-01 08:20] gjsjohnmurray commented on #129917
/question

[2021-08-01 08:20] #129917 closed

[2021-08-01 08:52] dannymcgee commented on #50140
Just spitballing, but it should actually be feasible to make sort of a "general purpose" LSP extension that takes a map of VS Code language IDs to tree-sitter parsers as configuration, and then uses those parsers to provide semantic tokens for the active file if it matches one of the supported languages. I'm not sure how this would work in case of a conflict though (i.e., if you have two extension

[2021-08-01 08:56] SNDST00M commented on #50140
The extension by @jeff-hykin and @georgewfraser doesn't use LSP yet, but I'd like it to. Heck, I'd learn the API for LSP if it meant I could port tree-sitter without those slow decorators.

[2021-08-01 09:19] edbird commented on #129895
To further elaborate considering the linked issues from the above linked issue (126348).

One of the points I did not make was you have essentially written a completely new IDE, and it is genuinely a very, very good software tool.

I am a long-time vim addict, and although VS Code lacks some of the functionality that vim offers, a significant amount of that functionality can be "emulated" using ke

[2021-08-01 09:24] lnicola commented on #50140
You mean this? https://microsoft.github.io/language-server-protocol/specification#textDocument_semanticTokens

[2021-08-01 09:53] Ranguna commented on #129895
@edbird

The issue #126348 does indeed provide "a way to turn these things off for those who don't want them": https://github.com/microsoft/vscode/issues/126348#issuecomment-861460514

About vscode being heavy, that is not false but I don't think it is directly related to this issue (unless any vscode devs wants to pitch in saying that this trust banner indeed affects performance). It's heavy due

[2021-08-01 09:55] Ranguna commented on #129895
@edbird

The issue #126348 does indeed provide "a way to turn these things off for those who don't want them": https://github.com/microsoft/vscode/issues/126348#issuecomment-861460514

[2021-08-01 10:18] Abbas-Hashemian commented on #98160
It is all about comfortable navigation, you don't have to scroll loads of tabs to focus back on what you were on. To have an easy glance of what you were working on made you follow a lot of threads and open many other tabs.

Actually having this option(OPTION) is not comparable to any other solution.

BUT actually I think it is impossible for vscode or having this option is highly expensive. When

[2021-08-01 10:30] MiguelGuthridge commented on #128760
Here's a recording of the issues. I've got my keypresses up in the top left of the screen (although sadly it doesn't show it when I press multiple times). In the clip, I'm entering text as well as moving the cursor frequently, but the position of the cursor does not change properly unless I am entering text. Hopefully this helps diagnose the issue properly.

![recording](https://user-images.github

[2021-08-01 10:40] CodeCrazy-ywt commented on #129885
Seems duplicated. See #115641

[2021-08-01 10:56] Shimon1995 opened #129919 "VSCode has just removed all the entire directory by ssh"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2021-08-01 11:12] captainkshitij2 opened #129920 "crashing of the VS code"
since yesterday i've been facing the issue of crashing of vs code..And even it is taking time to start the development server

[2021-08-01 11:39] oscard0m commented on #121577
I do not know what information to add. Since it's not a major issue I can understand this is not a priority and we can close the issue if you want :)

[2021-08-01 11:45] Yendric opened #129921 "VSCode slow startup performance"
Hello,

My VSCode starts slowly, this is basically a fresh install with minimal extensions and when booting windows in safemode it opens instantly. I assumed this has to do with windows defender, but after temporarily disabling realtime protection and creating an exception for vscode it still starts slowly, so it's probably not the problem here. I would like to get some assistance as I'm not able

[2021-08-01 11:47] Razzeee commented on #50140
Yeah, if you read up on this, you can find out, that they want to use the parser that's at the core of visual studio. So they're aware, that regex isn't the way to go.

What are you trying to do? I actually think it's a bad idea, to have extensions sliced like that (all languages, one feature) instead of the other way around.

[2021-08-01 12:02] yoeo commented on #129730
Nice guess, I understand the issue now :-)

The model doesn't know about `\r\n` line endings because they where replaced with `\n` during training by Python libraries (see `newline` option in https://docs.python.org/3/library/functions.html#open ).

I propose that you also replace `\r\n` line endings with `\n` before the inference.

[2021-08-01 12:09] Milo123459 commented on #50140
My friend was talking about this issue and I had an "idea" - couldn't someone make a plugin to convert TreeSitter grammars to TextMate? It'd mean you'd be able to use TreeSitter without VSCode needing to change anything

[2021-08-01 12:10] SNDST00M commented on #50140
I agree, but if staff aren't budging on this, `vscode-tree-sitter` is also available as an NPM module. Thankfully the deprecation hasn't been pushed through on NPM or elsewhere.

[2021-08-01 12:13] SNDST00M commented on #50140
Unfortunately, Tree-sitter offers a versatile parser that can't be expressed fully as a regular expression. Tree-sitter to Textmate is usually not as bad as parsing HTML with regular expressions, but it's a rather heavy downgrade, especially as Textmate doesn't support variable length lookbehinds.

[2021-08-01 12:15] Milo123459 commented on #50140
Oh that makes sense

[2021-08-01 12:17] Suyashtnt commented on #129920
can you send a log or something(if they exist) and what extensions you have

[2021-08-01 12:20] LWJerri commented on #129919
Just relax.

[2021-08-01 12:56] kentcdodds commented on #121577
To be clear, the issue does still exist

[2021-08-01 13:07] abhijit-hota opened #129923 "Add: `Amend commit` option on empty commit notification"
Currently, when you create a try to commit when there are no changes, this pop-up is shown:
![image](https://user-images.githubusercontent.com/8116174/127771896-c81f322f-a7c2-4145-b812-019d8a2ca73b.png)

It would be good if there's an <kbd>Amend Commit</kbd> button along with the existing <kbd>Create Empty Commit</kbd>. Mostly, I use it for fixing a typo or rewriting the message.

[2021-08-01 13:11] awilliamson commented on #115266
Minimap for Notebooks would be nice, as they usually have significant output per cell.

[2021-08-01 13:38] weinand commented on #129892
If you have a launch.json, "Start debugging" (F5) runs the **selected** debug configuration from the launch.json. The selected debug configuration is the configuration shown in the debug view's dropdown:

<img width="519" alt="2021-08-01_15-34-51" src="https://user-images.githubusercontent.com/1898161/127772836-13128b0e-5092-4fed-aad2-af3ae69f5001.png">

If that debug configuration happens to refe

[2021-08-01 14:41] shekhars094 opened #129924 "in"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2021-08-01 14:43] shekhars094 opened #129925 "in Terminal I am not able to perform option+u key for nano text editor. How to do that...?? How to disable extra char inserting."
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.58.2
- OS Version: MacOs Big Sur 11.3.1

[2021-08-01 14:43] #129924 closed

[2021-08-01 15:01] kissu commented on #65142
Those options are not known in the latest Ubuntu (20.04).
![image](https://user-images.githubusercontent.com/5133074/127775603-b890dd2a-963a-4163-b002-20e8c417e03d.png)

[2021-08-01 15:56] kroppt commented on #65142
I just tested it using my original smooth caret test. The smooth caret animation is running at 144 FPS on my 144 Hz monitor by default. Thanks for finding that out. Now the only outstanding issue is mouse input.

[2021-08-01 16:40] dannymcgee commented on #50140
It's honestly a lot more straightforward than you might think, just a matter of trudging through Microsoft's docs and example repos. And like I said, you don't even need to use a language server since tree-sitter has JavaScript bindings.

Here's a really straightforward example from a project of mine that I never finished:

[code]
[code]

You would just need to replace the custom lexer/parser ther

[2021-08-01 16:41] SNDST00M commented on #50140
I am actually working on a LSP for MATLAB based on `vscode-textmate`. This looks pretty similar!

[2021-08-01 16:50] Milo123459 commented on #129924
Did you experience this error **in** VSCode? 😆

[2021-08-01 17:11] vwkd opened #129926 "Option to disable markdown formatting"
Please add an option to disable formatting for Markdown. There are options to disable formatting for HTML, JSON, JavaScript and TypeScript, yet an option for Markdown is missing.

<img width="1156" alt="Screen Shot 2021-08-01 at 20 10 05" src="https://user-images.githubusercontent.com/33468089/127779577-ee51be66-1ab9-4364-b02f-af9ff31a71ec.png">

[2021-08-01 17:16] vwkd commented on #129926
Just saw this only applies to the default formatter, and there is no default formatter for markdown. Sorry, closing.

[2021-08-01 17:16] #129926 closed

[2021-08-01 17:28] fulldecent opened #129927 "JavaScript: forEach autocomplete, deal with plurals"
Issue Type: <b>Feature Request</b>

When editing JavaScript, typing someThings.foreach allows the autocomplete:

[code]

It might be nice that when the thing being autocompleted is a plural word, the default argument name can be the same thing in singular form instead of `element`.

VS Code version: Code 1.58.2 (Universal) (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:09:06.581Z)
OS ver

[2021-08-01 18:51] heronet opened #129928 "Add support for FreeBSD"
Linux has excellent VSCode support. However, many people prefer to use *BSD. Please consider a FreeBSD port of VSCode.

[2021-08-01 19:32] shekhars094 commented on #129924
No. It was mistake.

[2021-08-01 21:15] #129364 closed

[2021-08-01 21:26] Razzeee commented on #50140
Unless you want to support other editors too.

[2021-08-01 21:31] Aerodymier opened #129930 "Extremely slow startup on Windows 11"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.58.2
- OS Version: Windows 11 Insider Beta 22000.100

Steps to Reproduce:

1. Launch VSCode for the first time
2. You'll see the extremely slow startup

I should note that this doesn't happen on second, third or more launches, only on first one.
This wasn't happening on Windows 10.
I don't know if this is something

[2021-08-01 22:37] Spinner4000 opened #129931 "Update file in all opened windows when "Save As...""
Wasn't sure if this is a bug or an intended feature. So I questioned on stackoverflow and one user suggested I report it as a bug.

The issue:
I'm new to Visual Studio Code and loving it. One feature I use a lot is having multiple editor windows open on the same file (i.e. to be editing different, but related sections of the code).

Now... If I use 'Save', all edits in all open windows are saved.

[2021-08-01 23:40] rebornix opened #129932 "Notebook initial loading improvement"
Currently when opening a notebook after the window is opened, we will try to activate all extensions whose activation event is `onNotebook:{VIEWTYPE}` synchronously, even if they are not accounted for serializing/deserializing the notebook. This caused a significant slow down of the first notebook opening.

Now that we have the ipynb serializer is part of the core, we should ensure the notebook fi

[2021-08-02 00:13] REYNEP commented on #25895
For now, I found a WorkAround if anyone is Interested,     USING TextMate-Grammer that VSCODE has Support for:

<details>
<summary>package.json    (in an extension)</summary>

[code]
</details>

<details>
<summary>related TextMateGrammer.json</summary>

[code]
</details>

**Then for any theme that makes COMMENTS Italic     you can use the scope that you just created, in my case that would be**  `c

[2021-08-02 00:16] CodeCrazy-ywt commented on #129909
You can already do that! Simply adjust the value of `editor.fontSize`.

[2021-08-02 01:19] Coderx7 commented on #129892
Thank you , but this is exactly my point. The launch.json does not act in a language/debugger agnostic way here. if it were solely based on the type specified in the launch.json that would be ideal as it removes the need to switch between different configurations manually each time (at least for each language).
Also please note that Initially, I do not use any launch.json file, I only went on to s

[2021-08-02 01:46] robbiemu opened #129933 "Latex in comments"
I've been learning about ml in python for a few years now and it's become second nature for me to create the latex markup of the equation I need for a model in the cell above my code in a notebook. I work day to day in typescript, and I _really_ miss this pattern of behavior.

The request: a feature to turn on /off inline (markdown with) Latex in comments (something like double clicking a comment

[2021-08-02 02:08] kevingao1136 commented on #129697
The issue seems to be the python extension. I enabled only the jupyter extension to open the notebook, and there was no issues. Then I enabled the python extension, and this is what I got:

![Screen Shot 2021-08-02 at 10 00 06 AM](https://user-images.githubusercontent.com/39965472/127795247-d51c9f91-0081-44ba-bdd6-2994dabe3085.png)

[2021-08-02 02:31] #125242 closed

[2021-08-02 02:31] #125180 closed

[2021-08-02 02:31] #125065 closed

[2021-08-02 02:31] #125059 closed

[2021-08-02 02:31] #125019 closed

[2021-08-02 02:31] #124982 closed

[2021-08-02 02:31] #124851 closed

[2021-08-02 02:31] #124771 closed

[2021-08-02 02:31] #124648 closed

[2021-08-02 02:31] #124461 closed

[2021-08-02 02:31] rockyoung commented on #519
Still no progress for this?

[2021-08-02 02:55] iamwwc commented on #121926
Still not fixed. I found it have been moved to Backlog, It's a bug which broken -r option, When it will be fixed?

[2021-08-02 03:19] mrcrowl opened #129934 "Access to explorerService.select() API"
For my extension, I'd like to focus a specific folder in the explorer view. I see that there is an underlying API being used for this in other commands.

Something like `workspace.selectFolderInExplorer(uri)` would be ideal.

[2021-08-02 03:24] p32929 opened #129935 "Very slow typescript autocomplete/intellisense"
Does this issue occur when all extensions are disabled?: Yes

Steps to Reproduce:

1. Open any NodeJS-TypeScript project
2. Write the first letter of a class or variable
3. Wait for the intellisense to show

Here's a screen record of the problem:
![Vs](https://user-images.githubusercontent.com/6418354/127800226-3ce84aad-a5c8-4726-814f-7399c2ce77e8.gif)

Version: 1.58.2 (user setup)
Commit: c3f1263

[2021-08-02 03:29] hl2guide opened #129936 "Permissions for VSCode Extensions"
Please add a permissions tab for installed marketplace extensions.

Personally I'd like to prevent some extensions for displaying notifications.

Please also see #129170 and #52116.

[2021-08-02 03:34] wdiao-zju opened #129937 "R: Autocompletion will double first word in R chunk in RMD"
When Using vscode-R, autocompletion will double first word in R chunk in RMD file. For example, 'as.character' will be 'as.as.character' in R chunk in .Rmd file but work well in .R file. Authors from vscode-R extension think it is a vscode issue and symbol with ` . ` will cause this problem. In R, `as.character` is an independent function unlike python.

[2021-08-02 03:53] Dwalinnewyork opened #129938 "Bug report"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2021-08-02 04:04] huyennbl opened #129939 "File (Explorer) tab randomly disappear"
I don't understand why and how to reproduce this bug, but just sometimes the 'File' tab in the left panel (see attachment) randomly disappears. I have to later get it back by going to menu View/ Explorer. After that, the tab is back.
Please note that there is no recent extension installation. I've been working with my current set of extensions for quite a long time and this issue happens recently

[2021-08-02 04:21] pranavr2003 commented on #70764
The best way's to use [Gitpod](gitpod.io/) if you have access to the web, or use `code-server` to develop without it, as mentioned before. Works like a charm.

[2021-08-02 04:21] wuhao-wu-jiang commented on #119370
I experience the same issue.

[2021-08-02 04:22] KameshwarB opened #129940 "Added Classpathentry to .classpath vanishes for every build in Maven java project"
My project uses mustache templates to get the list of the POJO classes and add to target/generated-sources, during each build the classpathentry added is deleted automatically and only the set of classpath entries which is by default added.
whatever the entries that added to the project classpath should be there. is that feasible of what can we do as an alternative?

[2021-08-02 04:29] roblourens commented on #129932
Good idea but wouldn't we need a new activation event for this?

[2021-08-02 04:32] amin007 opened #129941 "Easy update and upgrade vscode portable use terminal or cmd."
https://code.visualstudio.com/docs/editor/portable
Easy update and upgrade vscode portable use terminal or cmd.
Like we git pull our coding from github or similer.

I'm used to using git to update new things in my coding.

i was wondering considering vscode is already in github.

wouldn't it be easier if you all use git pull to replace any file in vscode portable compared to a new install for vsco

[2021-08-02 04:54] koponk04 commented on #34385
in my case, i have to turn off my vpn.

[2021-08-02 04:55] karlshuyuan opened #129942 "Vscode debugging c/c++ does not respond or prompt when the.net framework version is too low"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: x64-1.58.2
- OS Version: win7

Steps to Reproduce:

1.
2.