[2021-09-06 20:32] IllusionMH commented on #132492
Tags are lost in your message at this moment - please wrap your code sample in code block as shown below.
[code]

[2021-09-06 20:36] IllusionMH commented on #132491
With #132476 marked for September release this might be "fixed" by removing colorization for `<>` by default.
Unless @hediet see other action items here.

/assign @hediet

[2021-09-06 20:38] IllusionMH commented on #132488
/assign @hediet

[2021-09-06 21:14] hadim commented on #132455
Same here using Ubuntu 21.10 dev.

[2021-09-06 21:31] bentheadset commented on #131738
This is untrue - the issue reproduces with ALL extensions disabled.

[2021-09-06 21:35] debadeepta commented on #132178
Same for me. I change default back to Command Prompt but on opening a new window, VS Code starts a PowerShell terminal. This is extremely annoying and is breaking all workflows at the moment.

[2021-09-06 21:55] hadim commented on #132455
Traceback:

[code]

[2021-09-06 22:06] weinand commented on #132150
@yialo your setting `"terminal.integrated.automationShell.windows": "C:\\Program Files\\Git\\bin\\bash.exe"`
seems to be exactly what I meant by "whatever shell you want to use for tasks or debug".

Why did you reply to my question "Does it help if you set the setting" with

[2021-09-06 22:08] yialo commented on #132150
It looks like I haven't read the question carefully enough.

[2021-09-06 22:19] deepak1556 commented on #131448
Seems like a gpu issue, are you running via any VM ? Can you provide the output of `code --verbose`

[2021-09-06 22:19] texastoland commented on #216
CC @alexdima @mjbvz

@aeschli This was 5.5 years ago 👆🏼 I understand TextMate is probably as much as a thorn in your side as for extension authors judging by some of the @mjbvz's logged issues. I'm happy to document its pain points but I imagine you already have a query in your GitHub Issues Notebooks somewhere.

Here's my understanding of the current state of things:

- The semantics token provid

[2021-09-06 22:23] deepak1556 commented on #130886
Merging to https://github.com/microsoft/vscode/issues/129665

[2021-09-06 22:23] #130886 closed

[2021-09-06 22:38] deepak1556 commented on #131074
This requires wiki improvement and probably better error from the preinstall script, if vs is not installed in the default drive then we expect users to set an env variable `vs2019_install` or `vs2017_install` indicating the path of installation.

[2021-09-06 22:41] sbradford-code opened #132495 "opens in restricted mode"
Issue Type: <b>Bug</b>

2 things:
1 - my visual studio code ALWAYS opens in Restricted Mode - how do I fix this?
2 - I can no longer right click my html file tab and open with any browsers

did I mess up some of the configurations?

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: Yes

<details>

[2021-09-06 22:47] Pomax commented on #132480
ah. Missed that part, thanks.

[2021-09-06 22:50] flleeppyy opened #132496 "Source Control using parent folder repository, when current folder is a git repository"
Issue Type: <b>Bug</b>

Source control uses the parent git repository instead of the git repository inside the folder that vscode has open.
Hopefully this acsii tree demonstrates it.

[code]

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:43:02.136Z)
OS version: Linux x64 5.8.0-59-generic
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Va

[2021-09-06 22:54] jan-zaruba-deltatre commented on #13960
Yet it does not make Microsoft addressing it, not even commenting on it.

[2021-09-06 22:56] wenfangdu commented on #131465
@alexdima **It is**. After renaming `Code - Insiders.exe` to `Code.exe`, the capturing works, I'll file an issue on their side.

[2021-09-06 22:56] wenfangdu commented on #131465
@alexdima _It is_. After renaming `Code - Insiders.exe` to `Code.exe`, the capturing works, I'll file an issue on their side.

[2021-09-06 23:13] DragWx commented on #132209
Hey @hediet, I've got a solution maybe 80% of the way there, once I add some tests and clean up, it'll be ready.

One thing though, the line tokenizer always seems to split tokens at backslashes `\`, and that interferes with LaTeX's `\left\{` and `\right\}` brackets. The fast parser grabs these without any issues, but the moment the normal token-based parser is invoked, it's impossible to get thes

[2021-09-06 23:14] cateyes99 opened #132497 "Some info about extension now not shown in Extensions any more"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: **_1.60.0 x64 zip_**
- OS Version: **_Windows 10 Enterprise_**

Steps to Reproduce:

1. Open the Extensions panel, observed that in the Enabled view & Disabled view, _version info_, _download counts_, & _stars_ are missing.
![image](https://user-images.githubusercontent.com/19678455/132265103-12b605b4-d1a2-4e63-838

[2021-09-06 23:26] craigcosmo commented on #132449
I updated to vscode 1.6 still there same bug

<img width="973" alt="Screen Shot 2021-09-07 at 6 25 04 AM" src="https://user-images.githubusercontent.com/538657/132265449-f05e757d-2637-4b69-9dca-12b9734b881c.png">

[2021-09-07 00:06] jasonzuvela-wywm opened #132499 "How to permanently disable the Output tab from opening"
Issue Type: <b>Bug</b>

The Output tab is not used by us and we want to permanently disable it from showing. It generally comes up (pointlessly) when switching git branches, and interrupts our workflow.

![image](https://user-images.githubusercontent.com/88409869/132266883-6eaf085d-3f15-4db8-933d-fcfa7edb11f7.png)

VS Code version: Code 1.59.1 (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-19T

[2021-09-07 00:11] sharedrory opened #132500 "Goto definition in hovers"
![image](https://user-images.githubusercontent.com/85806407/132266937-322410d6-f690-408e-ab82-923d30a3fc3d.png)

It would be nice to be able to click "SetStateAction" in the screenshot above and vscode treating it as if it was in an editor and someone held ctrl while clicking it or used the context menu to trigger the action.

Perhaps have a setting to enable such behavior. Additionally, another s

[2021-09-07 01:03] deepak1556 commented on #132086
@joyceerhl can you please provide the data for https://github.com/microsoft/vscode/issues/132086#issuecomment-911445468, otherwise this issue will eventually be closed with no action. Thanks!

[2021-09-07 01:10] deepak1556 commented on #97626
Adding relevant upstream issues,

https://github.com/electron/electron/issues/18434
https://github.com/electron/electron/issues/23220

https://github.com/electron/electron/issues/20942

[2021-09-07 01:15] wibed commented on #131530
could you provide the scope and tolls to capture performance information

[2021-09-07 01:32] #131190 closed

[2021-09-07 01:32] #131276 closed

[2021-09-07 01:32] #131595 closed

[2021-09-07 01:32] #131813 closed

[2021-09-07 01:37] deepak1556 commented on #132154
Thanks for the logs, most of the reports points to crash in the parkable strings feature and there are some v8 GC crashes as well. Very likely a bad code cache state, lets try with a fresh user data dir,

1) Close all running instances of vscode
2) `code --user-data-dir /tmp/vscode-test --disable-features="ParkableStringsToDisk" --crash-reporter-directory /Users/jeff/vscode_crash.d`
3) If crash ha

[2021-09-07 01:57] kkartavenka opened #132502 "VS Code adds !csharp header to each cell after save"
Does this issue occur when all extensions are disabled?: Yes/No -- it requires extensions

- VS Code Version: 1.60.0
- OS Version: 21H2 (OS Build 22000.176), however the same issue happen on Win 10 latest build

Steps to Reproduce:

1. Create new .NET interactive notebook (C#) using .dib format
2. Add markdown, then .NET interactive, and the markdown cells, place appropriate code/text in all cells

[2021-09-07 02:00] TreasureJim commented on #132028
Thank you, I couldn't find this setting.

[2021-09-07 02:00] #132028 closed

[2021-09-07 02:04] meganrogge commented on #132178
will be fixed in insider's tomorrow and in the recovery build this week /duplicate #132150

[2021-09-07 02:04] #132178 closed

[2021-09-07 02:07] kkartavenka commented on #132502
The execution of such cells containing .NET interactive and markdown that was not divided into the separate cell after the save/reopen results in such output:
![image](https://user-images.githubusercontent.com/45607880/132273310-f3075431-d94c-42b3-a1ef-b5ee3e9f0af9.png)

[2021-09-07 02:10] deepak1556 commented on #131957
Didn't help, below is the crash with above define.

[code]

[2021-09-07 02:16] vipwangtian commented on #123056
1.59.1, the same problem.

[2021-09-07 02:16] Darthmonkey opened #132503 "Full UNC Paths are not supported"
Issue Type: <b>Bug</b>

The following code uses the full UNC path to search subfolders of file shares which go over 260 characters in the ISE console, but the same code returns nothing in VS Code:

- VS Code Version: 1.59.1 (user setup)
- OS Version: Windows_NT x64 10.0.17763

Steps to reproduce:
1. Input this transposing the NAS Server Share Path with a valid path which has folders exceeding 260

[2021-09-07 02:22] meganrogge commented on #128405
/duplicate #107574

[2021-09-07 02:22] #128405 closed

[2021-09-07 02:45] duxingzhe opened #132505 "Provide an option to cancel language auto detection"
Issue Type: <b>Feature Request</b>

I like visual studio code very much. I have used it since it was first public released. I like to use it as a light editor when it was run in plain text mode. However, the auto detection for programming language let me feel inconvenient when I input the plain texts. It always change into auto detection mode. Please provide an option to set plain text as default.

[2021-09-07 02:46] smcenlly commented on #132183
Yes - we have thought about this and it makes sense for us to do this if there is no alternative. Having said that, in our case it won't fix the problem most of the time. For example, we show output similar to:

[code]

In this case, the variable values may be ephemeral (time based) or else they may be sourced from a separate system (file read, API call, etc.).

**Most** of the channel actually do

[2021-09-07 02:46] jakewaxman opened #132506 "Visual Studio Code always opens Powershell by default regardless of default profile setting"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.60
- OS Version: Window 10

Steps to Reproduce:

1. Install fresh copy of VS Code
2. Start VS Code
3. Terminal/New Terminal
4. Down Arrow in Terminal pane / Select Default Profile / Git Bash (or anything else)
4. Close VS Code
5. Start VS Code
6. Powershell opens in terminal pane
7. Check Down Arrow in Terminal p

[2021-09-07 03:06] misolori commented on #130516
Design explorations are done and assigning to the other area owners

[2021-09-07 03:07] misolori commented on #130516
Design explorations are done and assigning to the other area owners

[2021-09-07 03:21] kashishshah881 opened #132507 "Top Tool bar in MacOS disappears after update"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.60
- OS Version:  MacOS Big Sur 11.5.2
<img width="1440" alt="Screen Shot 2021-09-06 at 8 16 42 PM" src="https://user-images.githubusercontent.com/46309829/132279062-7c3ced49-17b3-4fa7-9263-e0a212ebbdfd.png">

Steps to Reproduce:

1. Update to Version 1.60
2. Open VScode

Note: This issue doesnt happen if you ope

[2021-09-07 03:38] misolori commented on #129281
It appears this is because the high contrast color for the test icons are black (which won't appear because the background is also black):

https://github.com/microsoft/vscode/blob/58d45a9b89527b55861c5f2b225c7ba0b4284a42/src/vs/workbench/contrib/testing/browser/theme.ts#L13-L29

cc @connor4312

[2021-09-07 03:40] iamthewallrus commented on #132353
Replicable. [https://i.imgur.com/f2s3mu1.png](url)

(yes I do use Linux)

[2021-09-07 03:44] #129281 closed

[2021-09-07 04:22] akbaryahya commented on #132506
It also happened in 1.61.0, we want to use git because we want to run bash,sh script : /

[2021-09-07 04:25] fan3cn commented on #40890
This also bothers me too much recently. I came from IntelJ and now switch to Visual Studio, can't image such a small and obvious bug can exist for 3 years remaining unfixed.

[2021-09-07 04:41] ArtemGovorov commented on #132183
@jrieken @sandy081

Right now visible output channels work great when some content is **appended**, however many extensions (including ours) do need to display some output that:
- has a fairly limited size,
- changes over time, but not dramatically (so needs to be **replaced** rather than **appended**).

Essentially, I'm talking about **various textual reports/summaries** type of output (that do c

[2021-09-07 04:41] gjsjohnmurray commented on #132506
/duplicate of #132150 and will be fixed in upcoming recovery release.

[2021-09-07 04:42] #132506 closed

[2021-09-07 04:42] ibra commented on #130446
(Currently if you press F2 on an unrecognized word, this is what happens)
![image](https://user-images.githubusercontent.com/61324615/132285463-266af225-3d90-4f0c-a663-0908e0b27211.png)

[2021-09-07 04:44] TryerGit opened #132509 "Provide functionality to delete temporary and cached files that do not affect core functionality"
Can some feature be provided that is able to restore VSCode's core functionality without breaking anything? In Windows OS, for instance, it is suggested to periodically delete the contents in %tmp% folder. In Google Chrome, there is a functionality to delete cache, cookies, and other browsing data. On my machine, the size of the  `C:\Users\AppData\Roaming\Code` folder is an unpleasant 8.5 GB. This

[2021-09-07 04:45] deepak1556 commented on #131957
Issue is different from originally thought to be https://github.com/microsoft/vscode/issues/131957#issuecomment-908936709

JS callback from nsfw https://github.com/Axosoft/nsfw/blob/e8a6e953b5ec4ed09b1e73cea944fcfc6149ea3e/src/NSFW.cpp#L272 can throw via https://github.com/nodejs/node-addon-api/blob/da2e754a021e418a3ca36f3c10ea134c9541959f/napi-inl.h#L2217-L2225 because the default JS error callba

[2021-09-07 04:46] deepak1556 commented on #131957
I can try upstreaming 2) in the next debt week but 1) should unblock us for https://github.com/microsoft/vscode/issues/132483

[2021-09-07 04:47] connor4312 commented on #132307
@jacksteamdev you're hitting this, see here for a solution: https://github.com/microsoft/vscode-js-debug/issues/1100#issuecomment-912989704

[2021-09-07 04:48] connor4312 commented on #130516
Thanks for your great work on this Miguel 🙂

[2021-09-07 04:57] Turtle011 opened #132510 "The drive or UNC share you selected does not exist or is not accessible. Please select another. Error report."
This is the error that keeps on happening. I've installed Visual Studio Code before but the file corrupted and and I deleted it, leaving the shortcut there. I couldn't delete the shortcut so I left it there for a few months. Then I decided to reinstall this. Then this happened:

**
![Screenshot 2021-09-07 165331](https://user-images.githubusercontent.com/73725872/132286379-a5f03b8f-78ae-4fb5-aaaf-

[2021-09-07 05:04] #132510 closed

[2021-09-07 05:04] Turtle011 commented on #132510
lol i found registry key to delete it

[2021-09-07 05:16] gjsjohnmurray commented on #132509
See #32461

[2021-09-07 05:21] gjsjohnmurray commented on #132449
Does the problem happen when you run the `Developer: Reload Window` command?

What about after the command to reload with all extensions disabled? Maybe one of your extensions is writing this bad setting when it activates.

[2021-09-07 05:25] TryerGit commented on #132509
Thanks John. On following that discussion thread, it did not appear to me what the resolution was. Some users(?) were suggesting that workspaceStorage should be placed locally in the user's actual project directory itself instead of under /AppData/Roaming

It was also not clear if the user can just delete all subfolders in this directory "workspaceStorage "

[2021-09-07 05:30] fulldecent commented on #132468
That's great, thank you. Now I can put bookmarks everywhere!

I'll leave it up to the Defaults Committee as to whether that is helpful for others.

[2021-09-07 05:32] gjsjohnmurray commented on #132509
It's still an open issue.

I think you can safely delete those subfolder if you don't mind losing state information that some of your extensions have persisted for workspaces you have worked in.

[2021-09-07 05:34] gjsjohnmurray commented on #132505
/assign @TylerLeonhardt

[2021-09-07 05:47] #131957 closed

[2021-09-07 05:48] bpasero commented on #131957
1 works 👍

[2021-09-07 05:59] TCheeLiang commented on #132373
I am facing the same issue. Dataviewer to view the dataframe in vscode, is forever loading and unable to display
It works fine for smaller data size.

VS Code Version: Version: 1.60.0

[2021-09-07 05:59] zorn-v commented on #132455
Run with `code --disable-gpu --disable-software-rasterizer` as workaround

[2021-09-07 06:01] jsuryahyd opened #132511 "TS Server fatal error: Debug Failure. False expression."
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.4.2

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Error Stack**
S

[2021-09-07 06:03] mjbvz commented on #132429
/needsMoreInfo

[2021-09-07 06:03] mjbvz commented on #132424
Please fill in the issue template

/needsMoreInfo

[2021-09-07 06:04] mjbvz commented on #132398
/needsMoreInfo

[2021-09-07 06:05] mjbvz commented on #132403
/extPython

[2021-09-07 06:05] #132403 closed

[2021-09-07 06:06] mjbvz commented on #132365
/extJava

[2021-09-07 06:06] mjbvz commented on #132350
This feature is powered by the TypeScript project. Please [file a feature request upstream](https://github.com/microsoft/TypeScript/issues/new?template=Feature_request.md)

[2021-09-07 06:06] #132350 closed

[2021-09-07 06:06] #132365 closed

[2021-09-07 06:06] mjbvz commented on #132347
/extC++

[2021-09-07 06:07] mjbvz commented on #132333
Please fill in the issue template

/needsMoreInfo

[2021-09-07 06:07] #132347 closed

[2021-09-07 06:08] mjbvz commented on #132362
This is because syntax server only supports basic syntax operations while inlay hints require type info

Closing as by-design

[2021-09-07 06:08] #132362 closed

[2021-09-07 06:09] #132313 closed

[2021-09-07 06:09] #132324 closed

[2021-09-07 06:09] #132376 closed

[2021-09-07 06:10] mjbvz commented on #132471
This feature is powered by the TypeScript project. Please [file a feature request upstream](https://github.com/microsoft/TypeScript/issues/new?template=Feature_request.md)

[2021-09-07 06:10] #132471 closed

[2021-09-07 06:10] mjbvz commented on #132472
This feature is powered by the TypeScript project. Please [file a feature request upstream](https://github.com/microsoft/TypeScript/issues/new?template=Feature_request.md)

[2021-09-07 06:10] #132472 closed

[2021-09-07 06:10] mjbvz commented on #132450
/extPython

[2021-09-07 06:11] #132450 closed

[2021-09-07 06:11] yanke1311 commented on #130361
I have the same problem at 1.60

[2021-09-07 06:11] #132502 closed

[2021-09-07 06:18] Latha2564 commented on #131877
![A11y_Visual Studio Code_Keyboard Shortcuts_No status message will appear on the Screen](https://user-images.githubusercontent.com/89508906/132293965-e59ddb87-635c-41cd-a2bd-d265f415e6f0.gif)

[2021-09-07 06:21] Latha2564 commented on #131906
![A11y_Visual Studio Code_Voiceover is not announcing the visible names for Files to Include and Exclude Fields](https://user-images.githubusercontent.com/89508906/132294313-331a6b97-f107-42e0-a7e3-876d8fddd617.GIF)

[2021-09-07 06:31] TryerGit commented on #132509
Great! Just deleted the subfolders and now the /Code/ folder is a more likeable 76 MB in size :-) Any thoughts on the other folders with "cache" in their names, John? Since the size is more manageable now, I am not overly concerned about them, but it would be good to know their utility as well. I am referring to folders "Cache", "CachedConfigurations", "CachedData", etc.

[2021-09-07 06:38] pmonajem commented on #122617
To be sure, the files I'm trying to open are not part of the workspace itself. In case the file you were trying to open was added to the workspace.

[2021-09-07 06:38] miko-github opened #132514 "New option: Folding does not open"
## New option: Folding does not open :wink: :lock: :file_folder:
#### How good it would be if we could lock the code blocks fold so they wouldn't open again?!

Hi [**vscode**](#) Developers :wave:,

i working with some JS/TS codes in single file with some of function

who i want to folding them, but, when i save the file, folds open and

file-view show very bussy and i confusing to find my block a

[2021-09-07 06:52] AlbertoMontalesi commented on #130111
I'm also getting the same issue occasionally and the only fix is to restart my Mac

[2021-09-07 06:53] jrieken commented on #130516
That's making error peek an absolute outlier - all peeks show extra information about the "thing" its arrow is pointing at. Like, references of the symbol being pointed at, failures of the test being in etc. The same is true for squiggles: its the whole diagnostic for the current squiggle (message, source, related etc). Showing any message under a squiggle is just confusing because the message is

[2021-09-07 06:53] KnisterPeter opened #132515 "Automatic language detection for commits with verbose git settings"
Issue Type: <b>Bug</b>

The automatic languge detection is quite nice, but fails if git commits are verbose (include the diff in the commit template) and vscode is the git editor.
The detected language in this cases is always the language which was changed mostly.

It would be nice to enforce the languge if vscode is the git editor.

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5

[2021-09-07 06:57] gjsjohnmurray commented on #132515
/duplicate of #132173

[2021-09-07 06:57] #132515 closed

[2021-09-07 07:06] johanrosenkilde opened #132516 "Inline-suggestion appearing at previous cursor location"
Does this issue occur when all extensions are disabled?: No (Needs InlineSuggestions from some extension)

- VS Code Version: 1.60.0
- OS Version: MacOS Catalina 10.15.7

Steps to Reproduce:

1. Use GitHub Copilot. The exact version shouldn't be important, but this was verified using 1.4.2586.
2. Open a blank Python document and enter the following text:

[code]

There are a single space after eac

[2021-09-07 07:14] trevorwang opened #132517 "git commit cannot be submitted after input a message"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

1. opened a project under git control
2. did some changes
3. tried to commit the changes
4. there would be a input box to let you input a message
5. input the message and try to commit by commnd+ enter

commit could not be submitted.

![Screen Shot 2021-09-07 at 3 27 22 PM](h

[2021-09-07 07:19] heartacker commented on #36700
@bpasero thanks for your update and there are some purpose about splitEditor.
1. we should add a shortcut for `toggleSplitEditorInGroup`, I  tend to use <kbd>ctrl+alt+\\</kbd>,like <kbd>ctrl+\\</kbd>
2. by default, editor is split in horizontal, and we need to use another command to toggle layout, that's not very comfortable. maybe we can use  `toggleSplitEditorInGroup` to convert for better exper

[2021-09-07 07:22] lorand-horvath commented on #132476
@hediet I have checked and double checked, but I can't find for the life of me a configuration file for either Vetur (for .vue files) or Liquid (for .liquid files), so where exactly should we add the `"colorizedBracketPairs"` option for these languages?

[2021-09-07 07:30] chipbite commented on #55484
Hey @zewa666, I cannot get any local images to be displayed currently. I tried absolute path, same directory... nothing seems to work except non-local images. Does this still work for you?

[2021-09-07 07:51] hediet commented on #132491
Closing as duplicate of https://github.com/microsoft/vscode/issues/132476.

[2021-09-07 07:51] #132491 closed

[2021-09-07 07:54] SferaDev opened #132519 "SSH Remote fails to connect"
Does this issue occur when all extensions are disabled?: Yes/No (Not applicable, ssh remote is an extension too)

Version: 1.61.0-insider (user setup)
Commit: bb9491d9f2c65510226dcc920a6efbf6501d5943
Date: 2021-09-07T05:17:08.586Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.22000

Steps to Reproduce:

1. Update to latest insiders build

[2021-09-07 07:54] Antonius-S opened #132520 "Panel is hiding when last terminal closes"
Issue Type: <b>Bug</b>

- Make visible the panel with Terminal/Problems/Output/Debug console tabs
- Activate Terminal tab and close the newly created terminal
- Panel hides

While this behavior on manual terminal closing is something I can cope with, the same happens when a task is run with the option to close terminal after execution is set. And this is much more inconvenient
Tested with absolute

[2021-09-07 07:55] gjsjohnmurray commented on #132517
First you need to stage your changes. Use the + buttton alongside hello.py

[2021-09-07 08:04] gjsjohnmurray commented on #132514
In VS Code, open the **folder** that contains the file. Then open the file from VS Code's Explorer. Fold the sections you don't want to see.

Now when you close VS Code and reopen the folder, the file should reopen with the same sections folded.

[2021-09-07 08:06] trevorwang commented on #132517
Thanks so much.  You saved me.

[2021-09-07 08:06] #132517 closed

[2021-09-07 08:07] tomaxsas commented on #132519
same here after upgrade

[2021-09-07 08:08] debojyotichatterjee9 opened #132521 "TS Server fatal error: Cannot read property 'flags' of undefined"
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.5.0-dev.20210906

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Er

[2021-09-07 08:14] LFsWang commented on #132519
same issue

[code]

[2021-09-07 08:21] liaoxuewei commented on #132204
Does this option to control background upgrade? However, I see that the option of my computer environment are true, but in fact, the vscode will not be background upgrade.
[code]

[2021-09-07 08:26] gitQqqHs opened #132522 "I use iosevka font.I use iosevka font. Iosevka has various font styles, such as thin, light, medium, exterior, extended, heavy and so on. However, some fonts cannot be set in vs code"
I use iosevka font. Iosevka has various font styles, such as thin, light, medium, exterior, extended, heavy and so on. However, some fonts cannot be set in vs code. For example, setting iosevka SS12 extended is invalid, the default font will be displayed, and setting iosevka SS12 thin can be displayed successfully.

I have tried many times. Only fonts that affect the font thickness will succeed. O

[2021-09-07 08:27] gjsjohnmurray commented on #132499
Try right-clicking on its tab and choosing the `Hide 'Output'` option.

[2021-09-07 08:32] ThiefMaster commented on #132519
Same thing here. Really annoying. Any workarounds besides installing the non-insiders version?

[2021-09-07 08:39] Un-index opened #132525 "Update Broken link in ThirdPartyNotices.txt"
server responds with a **404** for http://www.unicode.org/cldr/data/
the link is located in ThirdPartyNotices.txt

[2021-09-07 08:40] matthewsheerin opened #132526 "Git COMMIT_EDITMSG autodetected as yaml"
Issue Type: <b>Bug</b>

I was writing a (long-ish) multi-line git commit message, and towards the end the syntax highlighting changed unexpectedly to yaml, I have no idea what triggered it. Suspect related to the recent change to put language detection on by default.

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS version: Windows_NT x64 10.0.1

[2021-09-07 08:48] sharmaraman8285 opened #132527 "not showing word suggestion while writing in Java script"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-09-07 08:49] zewa666 commented on #55484
hmm can't really say as I'm no longer on Mac. On Windows it didn't work but what did is:

[code]

[2021-09-07 08:49] #132527 closed

[2021-09-07 08:51] liaoxuewei commented on #132204
And my vscode is 1.60.0 now.

[2021-09-07 08:53] gjsjohnmurray commented on #132526
/duplicate of #132173

[2021-09-07 08:54] #132526 closed

[2021-09-07 08:55] bpasero commented on #36700
@heartacker

1. that keybinding is very frequently used already in other places, the only "free" one I found that I can use is a key-chord of: `CtrlCmd+KeyCode.KEY_K, CtrlCmd+Shift+US_BACKSLASH`

2. that is the reason why this is a setting, assuming you only want to configure this once. once you flipped the layout, all other split editors will use it

3. that color is themeable either when you cha

[2021-09-07 08:56] alexdima commented on #131465
Thanks for following up on this.

To summarize: `Sougou Pinyin` behaves differently in VS Code Insiders than VS Code Stable and the root cause seems to be with `Sougou Pinyin` itself, which looks at the process image name (`Code.exe` vs `Code - Insiders.exe`).

[2021-09-07 08:56] #131465 closed

[2021-09-07 09:01] camiant commented on #132519
Same here. Waiting for a fix.

[2021-09-07 09:01] craigcosmo commented on #132449
`Developer: Reload Window` still dont fix.

`reload with all extensions disabled` also dont fix

[2021-09-07 09:06] gjsjohnmurray commented on #132449
Are you using Settings Sync?

[2021-09-07 09:09] AnishDe12020 commented on #131975
Update: Seems like the problem was with my hard drive. Everything works well now on a new hard drive as well as on my SSD. Thanks for all the help!!!

[2021-09-07 09:09] #131975 closed

[2021-09-07 09:21] #132249 closed

[2021-09-07 09:23] TarunavBA commented on #131710
Closed #131710

[2021-09-07 09:23] TarunavBA commented on #131710
/assign @eamodio

[2021-09-07 09:23] TarunavBA commented on #131710
/assign @TarunavBA

[2021-09-07 09:26] sharmaraman8285 opened #132528 "not showing word suggestion while writing in Java script"
Issue Type: <b>Performance Issue</b>

.

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz (8 x 1800)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>multiple_raster_

[2021-09-07 09:28] aleksandarbos commented on #128763
![image](https://user-images.githubusercontent.com/15141614/132320643-bfcce387-0d4b-4ed4-a7a1-fe462468f80c.png)

[code]

[code]
https://www.youtube.com/watch?v=_CL6n0FJZpk

[2021-09-07 09:30] Zhangyongtao123 commented on #131367
@alandema what's the name of this extension for showing types of variables in VSCode?

[2021-09-07 09:33] wind-chh commented on #132370
I have the same issue. "run tests" will run a subset of all tests, and it's much more slower then ever before.

[2021-09-07 09:33] Kcko commented on #64984
The only solution is to open a project, drink coffee and wait, life is too short to deal with nonsense :)

[2021-09-07 09:37] weinand commented on #131367
@Zhangyongtao123 a language's debugger extension is responsible for showing the variables of the language.
In this case, it seems to be Python.

[2021-09-07 09:37] craigcosmo commented on #132449
disable all the extension will work.

So I figure there is one extension that cause this, it's `subtle match brackets` https://marketplace.visualstudio.com/items?itemName=rafamel.subtle-brackets

you are right, it's badly written

[2021-09-07 09:39] NiharJani2002 opened #132529 "Getting An error"
Issue Type: <b>Bug</b>

The token '&&' is not a valid statement separator in this version
I am currently using April 1.6.0 version

Can anyone have solution have to solve this

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|

[2021-09-07 09:44] #132449 closed

[2021-09-07 09:44] IllusionMH commented on #128763
Should be already fixed in latest Insiders build
Version: 1.61.0-insider (user setup)
Commit: bb9491d9f2c65510226dcc920a6efbf6501d5943
Date: 2021-09-07T05:17:08.586Z

@jmanthony3 could you check Insiders build to see if it still preproduces for you?

[2021-09-07 09:47] glcraft commented on #132476
I have the same issue in Rust language :
![image](https://user-images.githubusercontent.com/6421451/132323792-cf1099bd-58a9-4330-8a41-081338fc76dc.png)

[2021-09-07 09:53] ThiefMaster commented on #132519
As a workaround I copied my installation directory from another computer where I hadn't installed the update yet. At least I can work that way...

[2021-09-07 09:53] gjsjohnmurray commented on #132529
/needsMoreInfo

What language are you coding in?

What does your code look like?

Please paste screenshot(s) too if possible.

[2021-09-07 09:54] gjsjohnmurray commented on #132528
Please us the `Start Extension Bisect` to investigate whether one of your extensions is causing the problem.

[2021-09-07 10:00] zgoda opened #132531 "Renaming file triggers error in tsconfig.json"
Issue Type: <b>Bug</b>

The project is in JS but has configured TS support with `tsconfig.json`. After renaming source file in explorer pane, following error appears twice in problems pane:

[code]

The issue appears also with all extensions disabled.

The error goes away after window reload.

Reproductible: always.

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-0

[2021-09-07 10:01] ackvf commented on #92490
@Krysl wow 🤯

[2021-09-07 10:07] zgoda commented on #132531
Moving file in explorer triggers the same issue.

[2021-09-07 10:10] ronaldhoek commented on #132301
Don't know what the 'check mark button' is and how it's shown/available, but basically the same can be applied here.

When there's nog enough space, then keep the option to set de action for the 'check-mark button' and add a popup-style secondary button to be able to use the other 'commit style' when needed.

But then the settings will need to be called something else then "Git: Post Commit Comman

[2021-09-07 10:11] storenth commented on #33110
Why this feature still not released? Sad.

[2021-09-07 10:16] ackvf commented on #92490
https://github.com/microsoft/vscode/pull/61021

[2021-09-07 10:16] chipbite commented on #55484
Thanks @zewa666, yeah, it is too bad it does not work so well. I can't even get that to work, oddly enough (also on win10).

[2021-09-07 10:26] h612 opened #132532 "VS Code doesn't install due to MOVEFILE Faile Code 183"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:1.60.0
- OS Version:Windows 10

Steps to Reproduce:

1.
![image](https://user-images.githubusercontent.com/23230497/132329627-d5b4dd9b-bd8b-4847-a1d2-6c7d303df79d.png)

2.

[2021-09-07 10:28] dippas commented on #128763
Fixed here

[2021-09-07 10:29] mymage commented on #33110
Maybe I don't understand. I'm using it since a year... Did you update your version?

[2021-09-07 10:31] NiharJani2002 commented on #132529
I am coding in c language
Error is like the given below:-
The && is not applicable in this version

On Tue, Sep 7, 2021, 15:24 VS Code Issue Triage Bot <
***@***.***> wrote:

[2021-09-07 10:31] WayneLambert commented on #132505
Additionally to this, I suspect it can actually get in the way of some issues.

I have always had the following snippet within my `.gitconfig` and `settings.json` files respectively which enables me to use VS Code to craft my git commit messages using the editor.

[code]

[code]

Following the update to VS Code 1.60, when I run `git commit` from the command line, the editor still opens up and now

[2021-09-07 10:33] aupsloptp commented on #128763
Yep, fixed here too

[2021-09-07 10:37] gjsjohnmurray commented on #132505
@WayneLambert see https://github.com/microsoft/vscode/issues/132173#issuecomment-912450835

[2021-09-07 10:38] bluetifulc opened #132533 "Powershell integrated terminal is always opened when I open folder with vscode."
Issue Type: <b>Bug</b>

1. my setting for integrated terminal
[code]
2. When I open folder, powershell is opened ignoring defaultProfile setting.
3. But if I open new terminal (crtl + shift + `), git bash is opened as setting.

This problem appeared after last update of vscode.
After some tries, I found out the folders that I open first time after update don't have problem.
But if i opened folders

[2021-09-07 10:40] Suven-p commented on #132432
I couldn't figure out a way to pull changes from microsoft/vscode without introducing additional pull requests to existing pull request.

[2021-09-07 10:43] Sven-27 opened #132535 "Terminal opens with powershell while git bash is my default"
Issue Type: <b>Bug</b>

My terminal keeps opening powershell. Even though git bash is my default terminal. I have tried several options like reinstall vscode and git. and i found solutions for settings.json. what i have tried. But when opening vscode or switching to another project it opens powershell.

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311

[2021-09-07 10:46] hediet commented on #132516
Please let me know soon if we should release this with our Recovery Release tomorrow!

[2021-09-07 10:46] gjsjohnmurray commented on #132432
@Suven-p to avoid this you should have created a branch, made your change on the branch, then submitted the branch as a PR.

[2021-09-07 10:50] gjsjohnmurray commented on #132533
/duplicate of #132150 and will be fixed in upcoming 1.60.1 recovery release

[2021-09-07 10:50] gjsjohnmurray commented on #132535
/duplicate of #132150 and will be fixed in upcoming 1.60.1 recovery release

[2021-09-07 10:50] #132533 closed

[2021-09-07 10:51] #132535 closed

[2021-09-07 10:56] hediet opened #132536 "Adopt bracket AST infrastructure for all bracket related features"

[2021-09-07 10:56] hediet opened #132537 "Adopt injected text infrastructure for other features"
Users of [`IModelDecorationOptions.beforeContentClassName`](https://github.com/microsoft/vscode/blob/b2c343d085a972f1038ef2b61525898309b020cb/src/vs/editor/common/model.ts#L157) or [`IModelDecorationOptions.afterContentClassName`](https://github.com/microsoft/vscode/blob/f411e1cffbdc3a2d18a4e998ec602521607ed674/src/vs/editor/common/model.ts#L161):
* [x] [`breakpointEditorContribution.ts#L103`](htt

[2021-09-07 10:57] WayneLambert commented on #132505
@gjsjohnmurray Perfect, thank you so much for this! 😄  I feel like I've got my editor back. 👍🏼

[2021-09-07 11:24] nicewaytodoit opened #132538 "Select Default Profile do not actually open gitbash. After relaunch, on startup, it just keeps open PowerShell"
Issue is the same as the closed https://github.com/microsoft/vscode/issues/123684

Only difference is that I started experiencing it after update to:

 Version: 1.60.0 (system setup)
Commit: e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff
Date: 2021-09-01T10:41:52.311Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19042

[2021-09-07 11:24] kaleidawave opened #132539 "Keybinding when clause has context for extension is enabled/installed"
Rust-analyzer's current technique for auto inserting comments is with the following custom keybinding:
[code]
(from https://github.com/rust-analyzer/rust-analyzer/issues/4980)

The problem is that if the `rust-analyzer` extension is not installed or is disabled, pressing enter in the editor (when all the *when* conditions are met) throws a error with `⚠ command 'rust-analyzer.onEnter' not found` *

[2021-09-07 11:26] alandema commented on #131367
Hello @Zhangyongtao123 . The extension I mentioned is the Jupyter extension to work with the Python extension.

[2021-09-07 11:31] albertosantini commented on #132538
/duplicate of #132150 and will be fixed in upcoming recovery release.

[2021-09-07 11:35] wleoncio commented on #132407
I don't know how most people use terminals, but what I usually do is have no more than 3 terminals open, which doesn't even fill 50% of the vertical space used by the terminal tabs view. Being able to move those tabs to a top-bottom horizontal position (instead of the current left-right alternatives) would save me quite a bit of precious horizontal space.

[2021-09-07 11:36] juan113d commented on #34385
I fixed it by downgrading to v1.58

[2021-09-07 11:37] andrecasal commented on #129841
The backslash is there. Please look at the image I attached on line 6: `amplify/\#current-cloud-backend`

The `amplify/#current-cloud-backend` folder is still showing up on Source Control.

[2021-09-07 11:42] siddagra commented on #127365
@JustinGrote  That does not work anymore

[2021-09-07 11:42] DrShushen opened #132540 "Git file status indicators in the tabs disappear"
Issue Type: <b>Bug</b>

The Git status indicator tabs ("M" for modified etc.) and the associated color highlighting of the tab disappear when switching between different editor tabs. Present in vscode-insiders since the version as of the last few days. The tab indicators and colors seem to occasionally come back after a while, but the only reliable way to bring this back is to go to the Git panel

[2021-09-07 12:01] gjsjohnmurray commented on #132538
/duplicate - thanks @albertosantini (FYI the special /-commands only trigger for team members and [Community Issue Trackers](https://github.com/microsoft/vscode/wiki/Community-Issue-Tracking))

[2021-09-07 12:01] bpasero commented on #132540
Yup, should be fine in today's build.

[2021-09-07 12:01] #132538 closed

[2021-09-07 12:03] Tyriar commented on #132483
I think https://github.com/microsoft/vscode/issues/40898 is a blocker for this.

[2021-09-07 12:03] bpasero commented on #132466
/duplicate https://github.com/microsoft/vscode/issues/131070

[2021-09-07 12:04] Tyriar commented on #132483
Your explode on large folders link is broken btw

[2021-09-07 12:04] #132466 closed

[2021-09-07 12:04] #132432 closed

[2021-09-07 12:07] bpasero commented on #132483
@Tyriar thanks, fixed the link. I am aware of #40898, but I am not sure why users cannot increase the handle count as suggested in docs as a workaround.

Btw, even with `chokidar` you can hit the same issue if our default rules don't capture large folders. So I would argue that users even with `chokidar` on Linux are used to getting this error notification.

[2021-09-07 12:11] Tyriar commented on #132483
Increasing the handle count would work, but it's an extra step as it's not the default in the OS and then it ends up using excessive resources. The real workaround should be `files.watcherExclude` imo, not modifying an OS-wide setting.

[2021-09-07 12:12] diminutivesloop commented on #125932
I also haven't noticed this anymore recently, so it may have been resolved by an update.

[2021-09-07 12:13] Tyriar commented on #131530
You can check the process explorer (Help > Open Process Explorer) to see which process is the problem. If it's labelled with "window" you can open devtools (Help > Toggle Developer Tools) to capture and upload a performance profile:

![image](https://user-images.githubusercontent.com/2193314/132342541-fca08afd-ab28-41bf-8916-a5e5d16e3349.png)

[2021-09-07 12:16] Tyriar commented on #132262
Here's the right link: https://github.com/microsoft/vscode/issues/89222

I believe this is happening due to conpty which is baked into Windows. You can test on [Windows Terminal](https://www.microsoft.com/en-us/p/windows-terminal/9n0dx20hk701), if you can repro there it's an issue for https://github.com/microsoft/terminal, if it's fixed it will likely come to VS Code in a Windows update.

[2021-09-07 12:17] Tyriar commented on #82489
I believe this is fixed upstream with a follow up PR but we didn't end up updating to it, pushing to September.

[2021-09-07 12:18] Tyriar commented on #82489
Relevant PRs: https://github.com/xtermjs/xterm.js/pull/3430, https://github.com/xtermjs/xterm.js/pull/3432, https://github.com/xtermjs/xterm.js/pull/3437

[2021-09-07 12:18] dibashthapa opened #132542 "Typescript died 5 times in each minutes"
Issue Type: <b>Bug</b>

Getting these errors while opening vs code

VS Code version: Code 1.59.1 (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-19T11:54:37.513Z)
OS version: Linux x64 5.10.56-1-MANJARO
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-10210U CPU @ 1.60GHz (8 x 1600)|
|GPU Status|2d_canvas: enabled<br>gpu_compositin

[2021-09-07 12:24] bpasero commented on #132483
Yeah, it is too bad that users cannot change this for VSCode alone. And it needs admin rights to make changes to that file, which is less than ideal.

On the other hand I never really liked how cumbersome it is to edit `files.watcherExclude`. It is easy to configure it wrong, so I wonder if there is an alternative where you could simply put the watcher in a "low resource" mode where only opened fi

[2021-09-07 12:24] jrieken opened #132543 "Cannot resolve file-resources in nested worker of ext host worker"
related https://github.com/microsoft/vscode/issues/131902

* run an extension in the web worker extension host
* spawn a worker
* fetch a resource like a WASM file
* :bug: fails because the `file` schema hasn't been massaged

[2021-09-07 12:26] Tyriar commented on #131111
The cause is all the panel actions are getting rebuilt when the terminal setting changes

![recording (80)](https://user-images.githubusercontent.com/2193314/132344027-e3026264-edc0-4cd6-9127-975581d6248a.gif)

@sbatten is this by design that changing an action item on one panel would rebuild all actions on all other panels?

[2021-09-07 12:29] DrShushen commented on #132540
Can confirm this is fixed in version:
[code]

[2021-09-07 12:29] #132540 closed

[2021-09-07 12:29] Tyriar commented on #132483
I think we have to fork to move ahead with this if it doesn't get merged, that plan sounds good.

[2021-09-07 12:30] Samega7Cattac commented on #131710
@josephgarnier indeed it works with that wrapper.

[2021-09-07 12:32] #131785 closed

[2021-09-07 12:35] Tyriar commented on #131446
I can't repro either, but looking at the code I'm guessing the issue is caused because we don't init the cursor settings in the terminal ctor:

https://github.com/microsoft/vscode/blob/c2955308e54a3d4cff62ac0956cb32f5048eb171/src/vs/workbench/contrib/terminal/browser/terminalInstance.ts#L573-L596

Perhaps a config update events is firing after that on some setups which causes the cursor settings t

[2021-09-07 12:37] hediet commented on #132162
It is difficult to not detect `_class_`, but `class` and `_(_`.
Basically, the bracket pair `class`/`endclass` works different from `{`...`}` in the following example:

[code]

In case of X/Y = `class`/`endclass`, no bracket pair should be detected, but in case of X/Y = `{`/`}`, it should.

Suggestions?

[2021-09-07 12:37] trevoryao commented on #125932
@diminutivesloop What is your version? I am having the issue still on version 1.60.0, which is the latest public release.

[2021-09-07 12:39] Tyriar commented on #131825
I don't actually see the open in external terminal entry at all 🤔

![image](https://user-images.githubusercontent.com/2193314/132345965-4989d8f8-ee3a-4756-a826-01e587554e95.png)

Adding to September to investigate

[2021-09-07 12:41] Tyriar commented on #128763
/duplicate https://github.com/microsoft/vscode/issues/132150

[2021-09-07 12:41] #128763 closed

[2021-09-07 12:42] gjsjohnmurray commented on #132539
One solution would be for the extension's `activate` to [set a custom context key](https://code.visualstudio.com/api/references/when-clause-contexts#add-a-custom-when-clause-context) for the keybinding to test, for example:
[code]

It should also set the CK to `false` in its `deactivate`.

[2021-09-07 12:43] gjsjohnmurray commented on #132542
Please use the `Start Extension Bisect` command to see if one of your extensions is causing this.

[2021-09-07 12:50] eder-ig opened #132544 "Terminal Standard Profile"
Issue Type: <b>Bug</b>

After August 2021 (version 1.60) is updated, it is no longer possible to set another terminal as the default VsCode.
Every time it is closed and opened again, it starts with Windows Power Shell as default.
Therefore, it is extremely unsatisfactory to have to reset the terminal every time the IDE reboots.

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1f

[2021-09-07 12:53] aalicea opened #132545 "Terminal loads up powershell instead of default"
Issue Type: <b>Bug</b>

I have git bash set as default and recently when I load up VSCode it opens powershell in the terminal. I keep resetting it, but every time I open it, it loads powershell instead of git bash.

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System I

[2021-09-07 12:57] Tyriar commented on #132482
This is likely a problem with the conpty backend we use. You can try to reproduce the problem in [Windows Terminal](https://www.microsoft.com/en-us/p/windows-terminal-preview/9n0dx20hk701) and if it happens there as well, report to [microsoft/terminal](https://github.com/microsoft/terminal).

/label terminal terminal-conpty windows

[2021-09-07 12:57] #132482 closed

[2021-09-07 12:57] test137E29B commented on #132545
Duplicate https://github.com/microsoft/vscode/issues/132150

[2021-09-07 12:57] test137E29B commented on #132544
Duplicate https://github.com/microsoft/vscode/issues/132150

[2021-09-07 13:00] Tyriar commented on #130613
To verify:

1. Open README.md
2. Open a terminal and move to the 2nd editor group
3. Unlock the 2nd editor group
4. Run `echo ./README.md` in terminal
5. Ctrl/cmd+click the link, it should reveal/focus README.md in the first group

[2021-09-07 13:01] #130613 closed

[2021-09-07 13:02] pieceofGit opened #132546 "VS code crashes when cm+click to go to definition"
Works in the insiders version but not in the latest VS code version.

[2021-09-07 13:09] aivanov1988 opened #132547 "Hide popup menu on try edit file name in folder tree instantly."
Issue Type: <b>Bug</b>

1. open any folder, containing files
2. click on any file
3. press F2 for rename file
4. click rigth mouse button on selected file name
5. popup menu will show and hide instantly

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:43:02.136Z)
OS version: Linux x64 5.11.0-27-generic snap
Restricted Mode: No

[2021-09-07 13:11] chrmarti commented on #34385
@juan113d There is a fix in 1.60 (https://github.com/microsoft/vscode/issues/130310) in this area. Could you check if that fixes your case?

[2021-09-07 13:16] IllusionMH commented on #132545
@test137E29B thanks!
/duplicate

Fixed in Insiders

[2021-09-07 13:16] alexdima commented on #132543
[Here](https://github.com/microsoft/vscode/blob/e9f77ae35291bcefe06f36f9fad9475b7eb02f76/src/vs/base/common/network.ts#L168-L190) is the relevant case we hit which transforms `file` to `vscode-file` in the extension host web worker.

[2021-09-07 13:17] #132545 closed

[2021-09-07 13:17] Naught0 commented on #132542
This is happening to me as well, and I resolved by moving my project to Typescript v4.3.5
`4.4.2` and the nightly build both encountered this problem, repeatedly crashing.

I attempted to report the issue via the popup, but it complained I wasn't on the latest version, so it wouldn't let me.

For context, I did a clean reinstall and removed all remnants of vscode (Intel MacOS 11.2.3) and removed a

[2021-09-07 13:21] alexdima commented on #130446
We have a built-in feature called Change All Occurrences (cmd+F2) which would go and change all textual occurrences of a word.

[2021-09-07 13:31] diminutivesloop commented on #125932
@trevoryao 1.60.0. It's certainly possible it's happened and I've just forgot.

[2021-09-07 13:32] ibra commented on #130446
ah, was not aware of that, still, it doesn't include the `change all local` thing because it doesn't go by scope, which imo is pretty important, and id also say that making something like that be a default when you press F2 would be way nicer relative to a `You cannot rename this element` tooltip.

[2021-09-07 13:32] gjsjohnmurray commented on #132544
/duplicate - thanks @test137E29B

[2021-09-07 13:32] lramos15 commented on #127747
I'm surprised we didn't come across this issue sooner then since it's been phased out slowly. What would be your suggested alternative? It almost sounds like we can't proceed with untyped open editor unless we introduce some type of group resolving intermediary for the typed case

[2021-09-07 13:32] #132544 closed

[2021-09-07 13:33] gjsjohnmurray commented on #132546
/needsMoreInfo

[2021-09-07 13:35] #132244 closed

[2021-09-07 13:37] KalyanMudundi commented on #131022
Hi @sandy081  I think the issue is with Downloaded extension: ms-toolsai.jupyter <-- When I tried another extension with pylance, the same extension failed, not sure why they combine both python and jupyter.

[2021-09-07 13:46] worksofliam commented on #17885
Came here to say this would be a nice to have.

[2021-09-07 13:49] shaal commented on #131382
Hi @bpasero & @akosyakov, sorry for the long delay.
I didn't have a chance to add information to this issue before.

The title is of this issue is not accurate, because the problem I encountered is specifically when these 3 conditions are met:
* Using Edge Chromium
* On an Android mobile device (I tested it on various Android mobile phones and on Amazon Fire tablet)
* Open any version of vscode-in

[2021-09-07 13:50] hadim commented on #132455
Any chance to use VSCode without disabling the GPU? Is it something that should be fixed on the VSCode side or Ubuntu side?

[2021-09-07 13:55] JustinGrote commented on #127365
Brilliant insight....

[2021-09-07 13:57] isshiki opened #132548 "Notebook with large outputs do not render properly"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.60 (user setup)
  - and Version: 1.61.0-insider (user setup) with command `Code - Insiders.exe --disable-extension`
- OS Version: Windows_NT x64 10.0.19043

Steps to Reproduce:

1. Load a .ipynb file with large outputs. An example file: https://github.com/isshiki/MLnotebooks/blob/master/v06_ohe-hyperparam-tuning.ipy

[2021-09-07 13:57] sandy081 opened #132549 "Inform users when some extensions from an extension pack cannot be installed since they are not web extensions"
If you install an extension pack in web which contains non web extensions, those extensions will silently fail to be installed. This is confusing and there should be indication that some extensions are not installed

[2021-09-07 13:58] lramos15 commented on #130302
It is built and bundled with vscode, but I'm not sure the process needed to access those file contents without being dependent on node.

[2021-09-07 13:59] albertosantini commented on #132538
@gjsjohnmurray I supposed it, but I like to use the same pratice or policy, just not to add more noise.

[2021-09-07 14:00] sandy081 opened #132550 "Web: Recommend extensions after they are web enabled"
VS Code skips recommending non web extensions in Web. But they are no recommended after they are converted to web extensions.

[2021-09-07 14:03] gaelwilson opened #132551 "Problems disappear on second and subsequent builds on Linux"
Issue Type: <b>Bug</b>

# Problems disappear on second and subsequent builds on Linux

This problem occurs on VS Code 1.60.

Create a folder containing the following files:

bld.sh:

[code]

CobProgram.cbl:

[code]

foo.cpy:

[code]

Configure the tasks.json containing:

[code]

Run the build task. Four problems should be listed.
Run the build task again. Now only three are listed.

All four probl

[2021-09-07 14:07] lramos15 opened #132552 "Explore splitting the telemetry settings into error telemetry + all other telemetry"
Some users are hesitant about enabling telemetry for various reasons but still want to have the option to enable error telemetry so that the team may produce a more stable product. This issue tracks the exploration of adding an additional telemetry setting `enableErrorTelemetry`.

[2021-09-07 14:07] meganrogge commented on #130657
I can't reproduce this. Could you `toggle escape sequence logging` and provide me with the logs?

[2021-09-07 14:10] dariusj18 commented on #122775
This doesn't seem to have been fixed.  The call stack still collapses when a new one is added @rzhao271 is right and the issue isn't resolved.  If you happened to have fixed some other issue as a result, happy accident, however the behavior described above still persists.

[2021-09-07 14:11] meganrogge commented on #131609
/duplicate of #132150

[2021-09-07 14:11] #131609 closed

[2021-09-07 14:11] anatolyburakov opened #132553 "Latest Insiders update broke RemoteSSH again"
Issue Type: <b>Bug</b>

VS Code version: Code - Insiders 1.61.0-insider (bb9491d9f2c65510226dcc920a6efbf6501d5943, 2021-09-07T05:17:08.586Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No
Fetching remote diagnostics for 'SSH' failed: Connecting with SSH timed out

Extensions: none<details>
<summary>A/B Experiments</summary>

[code]

</details>

Log message:

[code]

[2021-09-07 14:11] isidorn commented on #122775
Ok, let's reopen. I will follow steps from https://github.com/microsoft/vscode/issues/122775#issuecomment-832696897

[2021-09-07 14:12] johanrosenkilde commented on #132516
Thanks for your lightning fast fix, @hediet! 🍾 🥳  Releasing this quickly would be awesome - it's a quite distracting glitch!

[2021-09-07 14:16] meganrogge commented on #131294
related to https://github.com/microsoft/vscode/issues/125898?

[2021-09-07 14:16] #131680 closed

[2021-09-07 14:17] meganrogge commented on #131389
With your monitor and computer does it always look like this? if not, can you please describe how you got into this state?

[2021-09-07 14:18] anatolyburakov commented on #125277
Seems to no longer be an issue.

[2021-09-07 14:18] #125277 closed

[2021-09-07 14:19] meganrogge commented on #131330
Let me know if you can repro this issue in insider's with all of your extensions disabled. If so, please provide me with your terminal settings and let me know if there are any errors in the dev tools console.

[2021-09-07 14:20] lianjy357 commented on #123056
1.60 the same problem

[2021-09-07 14:25] eric-maxson opened #132554 "Will not open sql file"
Issue Type: <b>Bug</b>

I have VS Code as my default app for SQL files, and when I double click on a file that I need to review, Code opens, but it doesn't open the SQL file.  I tried manually opening the file with menu FIle --> Open File, but that didn't work either.  I even tried rebooting my laptop, but that didn't work.  Also, there are no Problems reported in the output window.  It just acts

[2021-09-07 14:25] Tyriar opened #132555 "Support right click to hide panel actions and allow hidden by default actions"
In order to support users who want buttons like clearing the terminal (https://github.com/microsoft/vscode/issues/130636) or renaming, etc. using a single button click it would be nice if we supported right click to hide panel actions just like in the status bar and activity bar as well as being able to declare internally that actions are hidden by default.

Note that we cannot add these actions b

[2021-09-07 14:26] #130636 closed

[2021-09-07 14:26] meganrogge commented on #130800
This is confusing me. Can you please reiterate it in a different way?

[2021-09-07 14:27] sandy081 commented on #130516
Agreed with @jrieken opinions. I feel it's not worth duplicating problems view into peek view for the value it brings in. It will cause inconsistencies between these two views and could possibly lead to port all features to the list. I understand about consistency between views, but it adds noise and looses simplicity.

[2021-09-07 14:30] bpasero commented on #131382
Ok then please file a bug against Edge on Android, they probably do something wrong.

[2021-09-07 14:32] CodeCrazy-ywt commented on #132529
Screenshot?

[2021-09-07 14:33] bpasero commented on #127747
It would probably need some kind of proxy for `activeGroup.openEditor` to target a different group if and only if one of the conditions apply. In other words, behave very similar to the `sideGroup` that I added.

[2021-09-07 14:40] #132398 closed

[2021-09-07 14:41] anton-marchenko opened #132556 "power shell appears as default terminal instead of users preferences"
Does this issue occur when all extensions are disabled?: couldn`t check

- VS Code Version: 1.6.0
- OS Version: Windows 10

Steps to Reproduce:

1. Install previous version  VS Code
2. set git bash console as default terminal
3. update vscode to 1.6.0

Actual result: power shell appears as default terminal
Expected result: git bash appears as default terminal according to users preferences

[2021-09-07 14:44] lramos15 commented on #131636
Closing due to lack of description and update. Please feel free to open a new issue

[2021-09-07 14:44] #131636 closed

[2021-09-07 14:45] DonJayamanne opened #132557 "Add ability to pre-load scripts for all ipynb files"
Today one could preloads scripts for an ipynb file if the controller is selected (or pre-selected when opening a notebook that was previously opened in VS Code).
However if someone opens a new ipynb notebook that was shared (i.e. opening an existing ipynb file or the first time in vscode), then VS Code will not associate any controller, as a result the pre-load scripts for kernel will not load.

T

[2021-09-07 14:46] lramos15 commented on #131683
Closing due to lack of an update. Please try VS code version 1.60 and let us know if you see this issue again. Thank you for creating this issue and we hope your problem is resolved, if not feel free to open another issue with an english description and we would be happy to investigate.

[2021-09-07 14:46] #131683 closed

[2021-09-07 14:47] gjsjohnmurray commented on #132556
/duplicate of #132150 and will be fixed in upcoming 1.60.1 recovery release

[2021-09-07 14:48] #132556 closed

[2021-09-07 14:50] #131756 closed

[2021-09-07 14:51] lramos15 commented on #131764
Closing due to lack of an update.

[2021-09-07 14:51] #131764 closed

[2021-09-07 14:54] eamodio commented on #131382
FYI, I tested github.dev on my Android device (Pixel 3 XL) in both Edge and Edge Canary and it loaded and worked for me.

[2021-09-07 14:54] lramos15 commented on #131816
`CMD/CTRL + SHIFT + P` -> Format Document

[2021-09-07 14:54] #131816 closed

[2021-09-07 14:55] #131848 closed

[2021-09-07 14:55] lramos15 commented on #131867
Closing due to lack of update

[2021-09-07 14:55] #131867 closed

[2021-09-07 14:56] dibashthapa commented on #132542
Thanks solved after hitting this command. I dont know but resolved , i saw these warnings since morning

[2021-09-07 14:59] alexmbits commented on #132553
I have the same problem as you, my logs:

[code]

[2021-09-07 15:02] Mukudjmask opened #132558 "PHP 8 Union Types"
PHP 8 Union Types - Subtypes true | false

## VScode - PHP intellisense + compiler | PHP Fatal error:  False can not be used as a standalone type
function trueOrNull(null|false $j): null|false {
    return $j === null ? false : null;
}

&&

## VsCode - PHP intellisense + compiler reads true (subtype) as a class not as a subtype |  Cannot use 'true' as class name as it is reserved (as below)

funct

[2021-09-07 15:02] #131965 closed

[2021-09-07 15:05] dariusj18 commented on #132299
To clarify, this is new bug for this version and did not exist in the prior release, I have downgraded for now.

[2021-09-07 15:07] lramos15 commented on #131999
Closing as duplicate of #117674 feel free to correct me if I'm wrong and we can revisit this issue.

[2021-09-07 15:07] #131999 closed

[2021-09-07 15:10] joelhock commented on #132354
This affects my company's usage specifically in the GitLens blame hover; the commit message contains a URL, but it is no longer clickable now because the hover has the committer's name as a link via markdown earlier in the hover.

[2021-09-07 15:11] lramos15 commented on #132038
Closing in favor of #131667 as that appears to be similar with more info. If this isn't that then feel free to come back to this issue.

[2021-09-07 15:11] #132038 closed

[2021-09-07 15:12] lramos15 commented on #132043
Closing due to lack of update

[2021-09-07 15:12] #132043 closed

[2021-09-07 15:17] lramos15 commented on #132067
Closing due to lack of update.

[2021-09-07 15:17] #132067 closed

[2021-09-07 15:19] lramos15 commented on #132092
Closing due to lack of update.

[2021-09-07 15:19] #132092 closed

[2021-09-07 15:24] sonicauto-david commented on #132390
When is the recovery release happening?

[2021-09-07 15:28] SHoogland commented on #131389
It always looks like this on that monitor, as soon as I connect the monitor and launch a codespace, the terminal renders like that, when I move the window between the 2 displays, it renders normally on the macbook, and it renders like the screenshot on the monitor.

[2021-09-07 15:29] meganrogge commented on #132105
Please see https://code.visualstudio.com/docs/supporting/troubleshoot-terminal-launch

[2021-09-07 15:29] jacksteamdev commented on #132307
@connor4312 I installed the nightly debugger, works perfectly! Thanks for the help, I'm knee deep debugging tests, you're a life saver!

[2021-09-07 15:30] meganrogge commented on #132105
/duplicate #123056

[2021-09-07 15:30] #132105 closed

[2021-09-07 15:33] lramos15 commented on #132188
Closing due to lack of update

[2021-09-07 15:33] #132188 closed

[2021-09-07 15:33] meganrogge commented on #131389
does turning `terminal.integrated.gpuAcceleration` to `off` fix the issue? looks like webGL sometimes doesn't work on Brave

[2021-09-07 15:33] joaomoreno commented on #132144
Can you share a screenshot of that dialog that asks for authentication?

[2021-09-07 15:33] joaomoreno commented on #132171
Can you try disabling Windows background updates? Set `update.enableWindowsBackgroundUpdates` to `false`.

[2021-09-07 15:37] khazzi opened #132559 "intellisense not working properly"
We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Bug</b>

i opened a new html document and clicked on html expecting intellisense to show me autocompletes showing html 5 but all it brought were truncatecharset

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x

[2021-09-07 15:42] shaal commented on #131382
Thank you @eamodio
I tested with Edge Canary on my onePlus 7T Android phone, and it works! No errors like in standard Edge Chromium.

Should I just assume Edge Chromium will catch up with Edge Chromium Canary and soon it's not going to be a problem?

[2021-09-07 15:44] lramos15 commented on #132254
This seems like a keybinding collision issue so closing for now, if you have no keybinding collisions and still an issue let me know

[2021-09-07 15:44] #132254 closed

[2021-09-07 15:44] Tyriar commented on #132537
@hediet can you clarify what other features will be looked at for this?

[2021-09-07 15:46] lramos15 commented on #132252
If your code doesn't run at all then it is most likely not a problem with VS Code as we don't execute your code in any special way. Is it just not offering completions?

[2021-09-07 15:46] lramos15 commented on #132260
If your code doesn't run at all then it is most likely not a problem with VS Code as we don't execute your code in any special way.

[2021-09-07 15:46] #132260 closed

[2021-09-07 15:46] mc-christian commented on #132553
I'm having the same problem

[2021-09-07 15:47] dok42 commented on #132522
Hi, try `Iosevka SS12 Expanded`.
It works for the default style.

[2021-09-07 15:48] Kvek opened #132560 "React snippets importing from the wrong file."
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: Version: 1.60.0
- OS Version: OS: Darwin x64 20.6.0

Steps to Reproduce:

1. Open  any `.tsx` file.
2. type in `useEffect | useRef | useState`
3. Click the autocomplete value.

<img width="1130" alt="Screenshot 2021-09-07 at 16 08 25" src="https://user-images.githubusercontent.com/8972543/132372338-eccd8e86-0426-4d9c-

[2021-09-07 15:48] lramos15 commented on #132270
Please open an issue against their extension https://github.com/primer/github-vscode-theme. It does say GitHub Dark is a legacy theme

[2021-09-07 15:48] #132270 closed

[2021-09-07 15:52] lramos15 commented on #132291
Closing due to lack of description

[2021-09-07 15:52] #132291 closed

[2021-09-07 15:53] lramos15 commented on #132295
Closing due to lack of description

[2021-09-07 15:53] #132295 closed

[2021-09-07 15:54] calebmeyer commented on #30562
I've bounced around a bunch of different editors/IDEs since starting my professional programming career. I started on notepad++. When an intern showed me Sublime Text, I switched to it, and learned vim from its vintage mode.

[2021-09-07 15:55] DanTup commented on #128198
@jrieken I just noticed that calling `getDiagnostics` now returns the URI fully in lowercase no matter what was recorded. This shouldn't be a problem but I'm not sure if it was an intended change or not (it did trip up some code I had that assumed the casing was the same as the error was recorded with).

[2021-09-07 15:56] alexdima commented on #131770
@ZijieZh The word definition can be defined in user settings. To launch in a clean environment, could you close all instances of vscode and launch `code --user-data-dir <specify-some-absolute-directory-path-here>`

[2021-09-07 16:06] dariusj18 commented on #132299
@viczam yes, just downloaded the prior version and reinstalled

[2021-09-07 16:08] briansmi commented on #132370
Looks like lots of folks are seeing this class of behavior with the new 1.6 update (or the updated ms-python extension)  Here's another bug report I that I saw in the vscode-python repo: https://github.com/microsoft/vscode-python/issues/17282

[2021-09-07 16:10] maziac commented on #107467
Another question:
I'm using different profiles for 'run' and 'debug'.

But I would like to suppress the possibility to choose 'debug' for the test suites and allow it only for test items.
In my case the test suites are test items that only collect other test suites or test cases.

Only for the "real" test cases I would like to allow the 'debug' option.

Is there any way to do that?

[2021-09-07 16:12] calebmeyer commented on #30562
TL;DR: Do what https://atom.io/packages/git-plus does for commits
![image](https://user-images.githubusercontent.com/3342777/132376214-bff5b312-a65f-45a4-831a-d2be7c4d40d0.png)

I've switched around among a bunch of different editors/IDEs since I started programming professionally.

I started on notepad++, and switched to Sublime Text when an intern told me about it. I learned vim through Sublime'

[2021-09-07 16:14] furkantektas commented on #127350
I have the same issue on the latest stable version. In my case, the workaround @chohner suggested does not work either.

[code]

[2021-09-07 16:18] joyceerhl commented on #132086
Apologies for the delay, here are the log files:

[gpu-startup-logs.zip](https://github.com/microsoft/vscode/files/7122976/gpu-startup-logs.zip)

Display resolution: 3240 x 2160 (recommended setting)
Scale: 200% (recommended setting)

[2021-09-07 16:21] jrieken commented on #132543
Pushed `5c1cce4` which fixes most cases. I didn't tackle [polyfiled nested workers](https://github.com/microsoft/vscode/blob/5c1cce4e9d08ca5cc81f0fb44d4c70a43c80a869/src/vs/workbench/services/extensions/worker/extensionHostWorker.ts#L135) because those only exist in safari, which is web only and therefore not a problem. The code is ugly and duplicates stuff but due to the nature of static nature o

[2021-09-07 16:23] firelizzard18 commented on #107467
@maziac You should be able to use tags #129456 to control which tests can be run by which profiles.

[2021-09-07 16:23] bersbersbers commented on #128309
Verified - thanks!

[2021-09-07 16:26] NickHeiner opened #132562 "Integrated Terminal Anchor"
Packages like [terminal-link](https://www.npmjs.com/package/terminal-link) can be used to create [HTML-like anchors](https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda) in terminal output.

For example:

![image](https://user-images.githubusercontent.com/829827/132378823-df079970-29c9-4c16-97b0-39e11335b78b.png)

(You can't see the cursor in the screenshot, but I'm hovering over `l

[2021-09-07 16:28] gregg-miskelly opened #132563 "Debug Console shows "0" icon before each line"
Issue Type: <b>Bug</b>

1. Debug a C# program in VS Code Insiders (see [here](https://github.com/OmniSharp/omnisharp-vscode/blob/master/debugger.md) for more information.
2. View the debug console window, and note all the '0' before each line:

Result:
<img width="429" alt="image" src="https://user-images.githubusercontent.com/13488/132367347-edf2b3ec-b02f-47cb-952d-5cb1a0285193.png">

VS Code ver

[2021-09-07 16:29] fbarbare opened #132564 "Terminal default profile not respected when restarting VS Code"
Issue Type: <b>Bug</b>

Given that I am on Windows
And that I selected Git Bash as my default terminal
When I open a terminal (it opens the right Git Bash terminal)
And I close VSCode
And I restart VSCode
Then VSCode opens a CMD terminal instead of Git Bash by default

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS version: Windows_NT x64 10.0.

[2021-09-07 16:31] gregg-miskelly commented on #132563
Here is an example output event that the coreclr debug adapter is sending:

[code]

[2021-09-07 16:34] htjain commented on #132553
Same here

[2021-09-07 16:41] BMWestrich commented on #132553
Having the same issue (Windows -> Linux Remote SSH).

Plain ssh on PS is working.

[2021-09-07 16:44] lramos15 commented on #132346
<img width="407" alt="Screen Shot 2021-09-07 at 12 42 53 PM" src="https://user-images.githubusercontent.com/4544166/132381317-f9c43b6b-ecd6-413b-84d9-44446069e2c8.png">
Sorry, there isn't 1st party support for what you want to do. Slack and Telegram are examples of apps that on Big Sur which also use a white background.

[2021-09-07 16:44] #132346 closed

[2021-09-07 16:44] sean-daley commented on #132416
For what it's worth, I'm hitting the exact same issue after updating to Version: 1.60.0 as well.

[2021-09-07 16:46] misolori commented on #129281
For verification, create an extension that uses the tree widget and assign one of the test colors to an icon like:

[code]

You can also use my [sample extension](https://github.com/misolori/vscode-extension-playground/blob/master/src/treeView.ts#L90).

[2021-09-07 16:49] mistermantas commented on #132346
That sucks that there's no API

[2021-09-07 16:49] firelizzard18 commented on #129456
@connor4312 This works as I would expect, thanks!

[2021-09-07 16:52] heath00 commented on #132519
Same problem here. Installed the release version for now.

[2021-09-07 16:52] theodore-wilson-amd opened #132565 "Remote-SSH generates spurious traffic before 2-factor authentication is completed"
Kindly consider how to have vsCode not generate spurious traffic to a host available only after 2 factor authentication completes.

Currently VsCode will attempt to reconnect to a server on a polling basis which can result in email correspondence with IT security teams.

If a user closes VsCode of course this is not an issue but it is common to leave VsCode up and then reauthenticate only after re

[2021-09-07 16:52] sanderiw commented on #60579
This worked for me as well!!! Thanks

[2021-09-07 16:56] lramos15 commented on #132356
Closing since @gjsjohnmurray provided the response I would.

[2021-09-07 16:56] #132356 closed

[2021-09-07 16:59] #132363 closed

[2021-09-07 17:02] whoismaruf opened #132566 "Modification of launch.json requires restarting VSCode to be applied."
Issue Type: <b>Bug</b>

Whenever I edit my launch.json file,  I am required to restart my VSCode everytime. Specially I tried to debug my FastAPI application. I checked reloading my application and restart debugging but these didn't work. I must needed to close my VSCode and open it again. Then it works fine with my specified configuration.

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d

[2021-09-07 17:06] sbatten commented on #132555
Sounds like this would require some thought on implementation, but the request appears to result in action bars being allowed to toggle item visibility.

some questions:

1) should this apply to all action bars or is this opt-in by the action bar owner
2) how do we deal with overflow items in the dropdown
3) how do we discover hidden by default items?

[2021-09-07 17:06] sbatten commented on #132555
cc @misolori @bpasero @isidorn

[2021-09-07 17:07] #132374 closed

[2021-09-07 17:09] sbatten commented on #131111
if a context that affects the actions in the visible panel changes, then yes the whole thing is rebuilt. could you specify what context changes? "changing an action item on one panel" << which panel in this case?

[2021-09-07 17:12] Krzysztof-Cieslak commented on #131940
There's no guarantee that result returned by the Copilot is in the list of the completions for given location

[2021-09-07 17:13] lramos15 commented on #132378
Following these steps and choosing VS code should do the trick
https://helpdeskgeek.com/how-to/how-to-change-the-default-program-to-open-a-file-with/

[2021-09-07 17:13] #132378 closed

[2021-09-07 17:16] ardunster opened #132567 "Place problems tab in editor window?"
I was super excited about the ability to put terminal tabs in editor windows and was all set to permanently configure my editor layout.... then realized that doing this meant problems was no longer one click way, and would open to cover a new, big section of my screen, instead of replacing the space my terminals are in.

Is it possible to get the problems tab placeable in an editor also? in my par

[2021-09-07 17:16] IllusionMH commented on #132564
/duplicate of #132150

[2021-09-07 17:16] #132564 closed

[2021-09-07 17:19] drew-cruise opened #132568 "VSCode uses incorrect language detection despite files.associations"
Issue Type: <b>Bug</b>

Immediately after I open a Bazel "BUILD" file, the file langauge is correct, however after a couple seconds, VSCode will change the language to something that is incorrect (sometimes R, sometimes Julia, sometimes Lua). This is despite having these lines in my configuration:

[code]

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:54:53.

[2021-09-07 17:20] CodeNameNinja commented on #130674
For me it was editing `editor.action.inlineSuggest.commit` in the key bindings

![image](https://user-images.githubusercontent.com/35192626/132385585-13dacbe1-50a7-4bfd-8017-c6d66d5814b3.png)

[2021-09-07 17:23] #132393 closed

[2021-09-07 17:25] bpasero opened #132569 "macOS: revisit usage of `-n` for `open` from CLI"
This is a follow up to https://github.com/microsoft/vscode/issues/102975. Wondering whether we could drop our usage of `-n` when running with `open` command and rather rely on the `open-file` event in Electron to get the data passed in:

https://github.com/electron/electron/blob/13-x-y/docs/api/app.md#event-open-file-macos

My understanding is that this event would fire when a second instance is l

[2021-09-07 17:30] dbaeumer opened #132570 "Can't create a language status item that is file path specific"
Trying to do so results in:

[code]

The selector I use looks like this:

[code]

[2021-09-07 17:30] vfonic opened #132571 ""workbench.editor.languageDetection" replaces language already set (through extension) in the middle of typing"
Issue Type: <b>Bug</b>

1. In VS Code 1.60.0 with default "workbench.editor.languageDetection" setting of `true`, install "Todo+" extension: `vscode-todo-plus`.
2. Add this setting to your settings: `"todo.symbols.box": "[ ]",`
3. Create a new `TODO` file
4. Note how the file language is set to `Todo`
5. Put in some text that might resemble Markdown:

[code]

This is the text that creates this bug

[2021-09-07 17:32] rcrooks opened #132572 "allow of list of characters to auto-close"
Would be nice if you could specify characters to auto-close, or surround a selection with:
e.g. `,<,{,[,",'

[2021-09-07 17:33] lramos15 commented on #132409
Please open an issue against https://github.com/xdebug/vscode-php-debug/issues since this appears to be an issue with the debug extension.

[2021-09-07 17:33] #132409 closed

[2021-09-07 17:33] deepak1556 commented on #131699
/gifPlease

[2021-09-07 17:34] bbangert commented on #132553
Yep, Windows -> Linux SSH is broken. It's times like these I really wish Insiders had a rollback function...

[2021-09-07 17:35] dbaeumer commented on #132570
Even creating two for the language ID TypeScript fails with

[code]

[2021-09-07 17:38] lramos15 commented on #132410
Closing due to lack of description.

[2021-09-07 17:38] #132410 closed

[2021-09-07 17:39] g-thome commented on #86332
[this](https://github.com/microsoft/vscode/blob/d31496c866683bdbccfc85bc11a3107d6c789b52/src/vs/editor/contrib/wordHighlighter/wordHighlighter.ts#L152) function call doesn't match "word" with "\_word\_" because the `wordSeparators` param doesn't include the underscore character by default. Since these separators are sourced from `EditorOption.wordSeparators`, we could have extra fields for languag

[2021-09-07 17:39] daviddossett commented on #129037
Some alternatives to the info icon. These would bias more towards the status itself and less towards any sort of indication of configuration (version, config, etc.)

<img width="867" alt="CleanShot 2021-09-07 at 10 36 56@2x" src="https://user-images.githubusercontent.com/25163139/132387455-1a59ecb9-a16e-416c-8299-7a1e57e2f2ec.png">

I don't see any icons that could easily be used for something the

[2021-09-07 17:39] vfonic commented on #132571
Even worse, if I have a file like this (that's not recognized as Markdown):

[code]

(please notice the spaces before `[ ]`)

And then I unindent `https://github.com/microsoft/vscode/issues/new`, the language at that moment switches from `Todo` to `Markdown`. This means that the language switches in the middle of typing. This should never happen.

After (this is suddenly recognized as Markdown and

[2021-09-07 17:52] daviddossett commented on #121131
@isidorn @digitarald is the issue low discoverability of the import functionality?

[2021-09-07 17:58] davfive commented on #26856
I would be nice to have but this has been open for 4 years, so it's unlikely so for anyone wanting it, here's a workaround:
1. Diff files (horizontal diff)
2. Split Down (horizontal diff on top)
3. Diff files again (shows in lower half)
4. Slide upper diff-separator bar to the right (to see left diff)
5. Slide lower diff-separator (to see the right diff)

[2021-09-07 18:00] Krysl commented on #92490
My hack is based on the core code of this patch.

There is already a pull request, but it has not been merged. What a pity

[2021-09-07 18:01] isidorn commented on #121131
@daviddossett exactly. Also I feel like it deserves a spot in the `Keyboard Shortcuts` UI and there is enough space.

[2021-09-07 18:02] krzysztofjeziorny commented on #125898
Happens to me ([again](https://github.com/microsoft/vscode/issues/123278)) with `fish`, where the integrated terminal sets itself to `zsh` on start.

`"terminal.integrated.defaultProfile.osx": "fish",`

Also, having set the depracated settings:

[code]

prompted to migrate them appears in settings:

[code]

Changing the path`zsh` to `fish` (as `fish` or `/usr/local/bin/fish`) doesn't help with the

[2021-09-07 18:22] lramos15 commented on #132036
This is correct

[2021-09-07 18:32] rahulpoptani opened #132574 "Python Terminal Issue"
We have written the needed data int
Issue Type: <b>Bug</b>

Hi
While running Python code the IDE should Ideally chose CMD snd run Python file as "Python filename.py"

But its opening another python terminal which does not able to load the conda environment and unable to load the dependencies.
It used to work fine sometime back but not sure whats changed.

The menu option is not straight forward as

[2021-09-07 18:39] kkocdko opened #132575 "Extension properties' `scope: machine` attr have behavior that's different with the docs"
- VS Code Version: `yarn web`, or [server-linux-x64-web](https://update.code.visualstudio.com/latest/server-linux-x64-web/stable)
- OS Version: Fedora 34

[Docs](https://code.visualstudio.com/api/references/contribution-points/#:~:text=scope) says:

But these code prohibited me to set properties in `User` setting scope:
https://github.com/microsoft/vscode/blob/892785264b4682d102b9cb81e01a549c218a7

[2021-09-07 18:52] isidorn commented on #132555
cc @sandy081

[2021-09-07 18:54] 3rg1s commented on #33110
Well I think the ticket should've been closed. Right?

[2021-09-07 19:03] weinand commented on #132566
What debugger are you using?

[2021-09-07 19:11] ardunster commented on #131450
This SCSS detects as CSS and doesn't recognize `@mixin`  or `@include`
https://github.com/angular/components/issues/7162#issuecomment-493953159

[2021-09-07 19:15] pewscorner opened #132576 "Wrong terminal (powershell) is reopened"
Issue Type: <b>Bug</b>

1. Modify VS Code settings to use Command Prompt as the default Windows terminal profile:
[code]
2. Open a folder, then open a terminal, and check that it is using Command Prompt.
3. Close VS Code (it is not enough to execute a reload).
4. Reopen VS Code, then reopen the previously open folder.

VS Code will now automatically reopen the terminal, but will use Powershell ins

[2021-09-07 19:23] alexdima commented on #132447
Let's first try to find out what command executes on your machine, with your settings and your keybindings when pressing `cmd+shift+E`. Could you please [try the following](https://github.com/microsoft/vscode/wiki/Keybinding-Issues#basic-troubleshooting):

* Run the command `Developer: Toggle Keyboard Shortcuts Troubleshooting`
* This will activate logging of dispatched keyboard shortcuts and will

[2021-09-07 19:25] alexdima commented on #132522
@gitQqqHs Could you please try with @dok42 's suggestion?

[2021-09-07 19:38] mjbvz commented on #132529
/extC++

[2021-09-07 19:38] #132529 closed

[2021-09-07 19:38] mjbvz commented on #132528
/needsMoreInfo

[2021-09-07 19:41] mjbvz commented on #132091
/needsMoreInfo

[2021-09-07 19:43] lramos15 commented on #132509
Like many applications VS Code employs caching and storage to restore state and provide a faster experience. You will not lose any data by deleting these files unless you have unsaved changes. Deleting cached data will lead to a slower initial experience as the files are cached again

[2021-09-07 19:43] #132509 closed

[2021-09-07 19:44] #132499 closed

[2021-09-07 19:44] Tyriar opened #132578 "Handle error code 267 on terminal launch on Windows"
This happens when the cwd is invalid, we could give a better error message https://docs.microsoft.com/en-us/windows/win32/debug/system-error-codes--0-499-

<img width="645" alt="Screen Shot 2021-09-07 at 12 43 39 PM" src="https://user-images.githubusercontent.com/2193314/132401907-9975d035-3e44-4c4b-a113-eee275baef0d.png">

[2021-09-07 19:44] #132495 closed

[2021-09-07 19:44] lramos15 commented on #132495
You must trust the workspace. Go to the gear in the bottom left and select manage workspace trust at the bottom

[2021-09-07 19:46] lramos15 commented on #132448
Sorry, I don't understand what you mean by security scan.

[2021-09-07 19:47] Tyriar commented on #131111
We refresh the terminal config registrations so the settings editor auto complete gets updated:

https://github.com/Microsoft/vscode/blob/44129daac8b9f17ffdf741206b7f603ea082ed16/src/vs/platform/terminal/common/terminalPlatformConfiguration.ts#L393-L401

Plus re-create the commands:

https://github.com/Microsoft/vscode/blob/08069da0075f86f8feafcaa249021080bcfc56a2/src/vs/workbench/contrib/terminal

[2021-09-07 19:47] Tyriar commented on #132576
I believe this is already fixed, can you see if you can reproduce in the [Insiders build](https://code.visualstudio.com/insiders)?

[2021-09-07 19:47] #132576 closed

[2021-09-07 19:51] Tyriar commented on #131090
We have no control over how auto complete is presented in the terminal, we just get a string of characters and cursor instructions to render to the screen. Not sure why this isn't working.

[2021-09-07 19:52] Tyriar commented on #131295
I did look into this before and it's kind of difficult because of how it's not a real textarea and we don't know what the actual prompt is. Maybe we could special case left/right to read the character if it resulted in a cursor move or something.

[2021-09-07 19:52] rzhao271 commented on #131074
Updated https://github.com/microsoft/vscode/wiki/How-to-Contribute#prerequisites

[2021-09-07 19:56] zobo commented on #130904
Any luck looking into this? I just want to check if there is something I did wrong before releasing.
Btw: Is there any way to enable DAP logging of node/typescript adapter so I can compare messages?

[2021-09-07 19:58] jakawell commented on #132119
We are experiencing a similar issues. We're running Mocha tests in Node with TypeScript. Breakpoints worked fine in 1.59, but once we upgraded to 1.60, the debugger does not stop at breakpoints.

If we set a breakpoint using the JS keyword `debugger`, it will stop at that line, but it does so in a separate read-only instance of the file.

[2021-09-07 20:01] rom7868 opened #132579 "Live server"
Issue Type: <b>Feature Request</b>

Здравствуйте!

live server не работает!
Open a folder or workspace... (File -> Open Folder)    Что делать?

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

[2021-09-07 20:03] connor4312 commented on #132119
@jakawell there's a good chance this will fix it for you: https://github.com/microsoft/vscode-js-debug/issues/1100#issuecomment-912989704

[2021-09-07 20:03] connor4312 commented on #132484
I think you should pass the test item, not the ID, to the command. I need to update the docs.

[2021-09-07 20:04] connor4312 commented on #132416
/duplicate https://github.com/microsoft/vscode-js-debug/issues/1100#issuecomment-912989704 Please see that comment for resolution

[2021-09-07 20:05] #132416 closed

[2021-09-07 20:05] jakawell commented on #132119
@connor4312 Aha, perfect. That solved our issue. Thanks!

[2021-09-07 20:07] hediet commented on #132537
Mainly the test explorer I think.

The scope of this issue is flexible.

[2021-09-07 20:07] connor4312 commented on #132415
The debug console inserts completions on tab by default, you can see the reasoning here: https://github.com/microsoft/vscode/issues/108439#issuecomment-871521843

This can be controlled via the `debug.console.acceptSuggestionOnEnter` setting.

[2021-09-07 20:07] #132415 closed

[2021-09-07 20:08] KalyanMudundi commented on #131022
I followed ZhouqyCH  answer on  https://github.com/microsoft/vscode/issues/131232 and installed it via command line and it worked. Thanks a ton ZhouqyCH

[2021-09-07 20:09] mymage commented on #33110
Right

[2021-09-07 20:10] hediet commented on #131940
You mean that a non-empty prefix of a copilot suggestion appears in the suggest widget?
Do you have an example where that could be problematic?

[2021-09-07 20:11] connor4312 commented on #132395
Tests may be required at other times aside from when the test explorer view is open. For example, when users open a file, or when they simply issue the "run all tests" even if no testing view or files are open. Also, if no tests controllers are registered, we don't show the testing view at the moment. We recommend that extensions use  `workspaceContains` activation event to activate if they suspec

[2021-09-07 20:12] hediet commented on #132162
How would you decide which matching logic to use?

[2021-09-07 20:13] connor4312 commented on #132288
Please provide more details, or a gif as requested, around your issue. This information is not enough for us to triage your problem.

[2021-09-07 20:13] connor4312 commented on #132044
/gifPlease

[2021-09-07 20:16] Tyriar commented on #132555
It probably makes sense for all action bars, I'm mainly interested in the terminal though so I can expose commands that I know some will want but I don't want to add it to avoid clutter.

What do you mean overflow items in the dropdown? I'd expect the hidden items to just not be checked like with the panels themselves

![image](https://user-images.githubusercontent.com/2193314/132405339-dc496020-1

[2021-09-07 20:16] connor4312 commented on #132186
This duplicates https://github.com/github/codespaces/issues/1718

[2021-09-07 20:16] Un-index commented on #132578
Is "A natie exception ocured during launch" the better error message?

[2021-09-07 20:17] #131916 closed

[2021-09-07 20:19] Tyriar commented on #132578
We'd want to detect the error code: 267 part and present something more friendly like the terminal's starting directory doesn't exist, we already have a similar message which catches other cases of this:

https://github.com/microsoft/vscode/blob/3a902162b48ef268f0da6a0280cbca9c322ef6c2/src/vs/platform/terminal/node/terminalProcess.ts#L193-L205

[2021-09-07 20:20] lramos15 commented on #127747
Is it weird to have other groups selected from within a group itself? I guess not if we already have something like that with `sideGroup`

[2021-09-07 20:22] Tyriar commented on #131294
/duplicate https://github.com/microsoft/vscode/issues/132150

[2021-09-07 20:22] #131294 closed

[2021-09-07 20:25] klarkc commented on #104319
I would to add here that vscode with XFCE on Arch Linux has the same problem, requiring to install gnome things would messy my system. There is not a way to fix this without installing gnome stuff?

[2021-09-07 20:26] heaths commented on #132394
Confirmed as a duplicate of #130996

[2021-09-07 20:26] #132394 closed

[2021-09-07 20:29] joyceerhl opened #132580 "Interactive window composite editor opens two editors, one with 'unexpected error' message, in Insiders"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.61-insider
- OS Version: Windows 10

Steps to Reproduce:

1. Open a Python file
2. Create a #%% codelens
3. Shift+enter to create interactive window and run code in it
4. 🐛 two editors open, one behind the Python file editor in the same viewgroup (this is unwanted), and the other to the right. The editor has this

[2021-09-07 20:29] sbatten commented on #132525
@mjbvz generated from https://github.com/microsoft/vscode/blob/e8760a5d6c0e09ab692e5b3e414eca018745490f/extensions/typescript-language-features/cgmanifest.json#L27-L40 I believe

[2021-09-07 20:31] joyceerhl commented on #132580
Also reported by https://github.com/microsoft/vscode-jupyter/issues/7429

[2021-09-07 20:31] mcdado commented on #130377
If it is helpful to anyone, I had the same exact problem. To solve it I recreated a new debug configuration via the menu and checked the difference with my `launch.json` file that I was carrying over since a few years. I then did two things, I suspect the second one was the one that actually made a difference:

1. Make sure the debugger `type` is `pwa-node`. Mine was still `node`.
2. Make sure `sk

[2021-09-07 20:32] ericjb20 opened #132581 "Right-Click Open in Integrated Terminal Not using default Terminal"
Issue Type: <b>Bug</b>

When using Windows 10 with git bash installed, Visual Studio code is not using the default profile for bash when right clicking on items in the left pane explorer and selecting to open file in integrated terminal.  Instead it continually opens with powershell.  Clicking on the + button for a new terminal does open bash though.

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8c

[2021-09-07 20:34] chrisdias commented on #132153
good catch, thanks.  fixed.

[2021-09-07 20:34] #132153 closed

[2021-09-07 20:36] chrisdias commented on #132352
Sorry, we don't license the VS Code Server for commercial use outside of the Visual Studio Code product itself (per the license).

[2021-09-07 20:36] #132352 closed

[2021-09-07 20:38] pewscorner commented on #132576
Yes, it seems to work in Insiders.

[2021-09-07 20:38] leandrowilliam opened #132582 "Status bar: draw rounded corner at the focus line"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.59.1
- OS Version: macOS Big Sur 11.5.2

Steps to Reproduce:

1. Put focus on the `status bar`

<img width="183" alt="CleanShot 2021-09-07 at 16 34 38@2x" src="https://user-images.githubusercontent.com/9604296/132407611-955dbe54-bb02-4aec-ab38-5d25c09ba90b.png">
Missing rounded corner at the focus line

[2021-09-07 20:39] misolori commented on #132555
Given that this already exists in the status bar, i'm 💯 in support of this. Would love out editor toolbars to also support this.

[2021-09-07 20:45] karrtikr opened #132583 "Regression: `vscode.window.createTerminal` API doesn't respect default terminal setting"
Does this issue occur when all extensions are disabled?: Yes

Version: 1.60.0 (user setup)
Commit: e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff
Date: 2021-09-01T10:41:52.311Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.22000

Steps to Reproduce:

1. Set default profile to command prompt
2. Use `vscode.window.createTerminal` to create a new

[2021-09-07 20:46] mjbvz commented on #132430
@roblourens  I bisected and believe this started with 7bc9757b84be47872031d3f183d1f8cce5c1215a. I confirmed that reverting that change (but keeping the dompurify change) fixes the freeze, although the settings page renders incorrectly

Un-assigning myself but let me know if you believe the changes in markdown renderer are causing issues

[2021-09-07 20:47] #132579 closed

[2021-09-07 20:53] utajum commented on #84151
Looks like the job was 99% done.

Let's hope it gets merged. 🤞

[2021-09-07 21:11] #132580 closed

[2021-09-07 21:32] wandyezj opened #132585 "github.dev allow extensions to load automatically via URL parameter"
It would be convenient if extensions could be automatically loaded via URL parameter.

This would allow:
- sending someone a github.dev url with the appropriate extensions to view files loaded.
- loading of extensions from other locations
- multiple configurations of VS Code online with different extensions

Possible Example:
`https://github.dev/wandyezj/package?extensions=extensionOne;extensionTw

[2021-09-07 21:38] mjbvz commented on #132531
Please share a minimal example project that demonstrates the issue

[2021-09-07 21:39] mirk-00 opened #132588 "Suggestions after commas"
Issue Type: <b>Bug</b>

After i type a comma and press enter to go to a new line, autocompletion prevents that and i find random variables inserted by autocompletion in my code.
Definitely frustrating, a lot of people already submitted this issue but i can't find a possible temporary solution.

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS ver

[2021-09-07 21:42] rebornix commented on #132397
@claudiaregio we didn't turn off language features in diff view and the right side is editable.

[2021-09-07 21:45] #132343 closed

[2021-09-07 21:45] mjbvz commented on #132299
Please share a minimal example project that demonstrates the issue

[2021-09-07 21:46] #132354 closed

[2021-09-07 21:46] #132525 closed

[2021-09-07 21:47] karrtikr commented on #131457
API works great. Only downside I see is that the scroll focus is not maintained when elements are deleted in the middle of the list, i.e the visible items change.

[2021-09-07 21:50] wandyezj opened #132589 "github.dev allow global TypeScript IntelliSense"
Some GitHub projects have multiple TypeScript files that refer to each other for example: https://github.com/wandyezj/package. It would be convenient if triple slash directives, imports, and global IntelliSense worked when all files are loaded.

[2021-09-07 21:51] weinand commented on #132463
/extPython

[2021-09-07 21:51] #132463 closed

[2021-09-07 21:54] weinand commented on #132451
Sorry, but there are no plans to support this.

[2021-09-07 21:54] #132451 closed

[2021-09-07 21:54] #132212 closed

[2021-09-07 21:56] mjbvz commented on #132275
I will make `role="document"` the default and let extensions override it if needed. Will check in a fix shortly but I will need help verifying it works as expected

[2021-09-07 22:00] weinand commented on #132439
/extCpp

If Logpoints are not supported by C++, they will bahve like breakpoints.

[2021-09-07 22:00] #132439 closed

[2021-09-07 22:00] #132468 closed

[2021-09-07 22:01] #132275 closed

[2021-09-07 22:04] duanehutchins commented on #132553
Same here. The SSH extension isn't recognizing the response for some reason, and it thinks the connection timed out. Same command in command prompt works as expected.

[2021-09-07 22:06] DonJayamanne commented on #132481
Moving this to Jupyter repo, as this applies to Jupyter notebooks.
We've had similar requests in the past for getting the center aligned.

[2021-09-07 22:07] #132581 closed

[2021-09-07 22:31] Un-index commented on #132578
Just the `_initialCwd`  part might not have been handled but I managed to fit the rest it

[2021-09-07 22:33] Un-index commented on #132588
This wasn't working for me first, but after I inserted a space after the comma and pressed enter, it started working for me without having to insert spaces, as you described.

[2021-09-07 22:34] mjbvz commented on #132589
Tracked upstream by https://github.com/microsoft/TypeScript/issues/45315

[2021-09-07 22:34] #132589 closed

[2021-09-07 22:42] Tyriar commented on #132583
/duplicate https://github.com/microsoft/vscode/issues/132150

[2021-09-07 22:42] #132583 closed

[2021-09-07 22:45] ilfoxo opened #132592 "Error debugging react app on fresh vscode install"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.60.0
- OS Version: Windows 10 64bits
- Nodejs 14.17.6

Steps to Reproduce:

1. Install VSCode
2. Create react app: npx create-react-app my-app
3. Start app. npm run start. It works ok
4. Start debugging

laucher.json
{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions o

[2021-09-07 22:48] ScroofWasToken opened #132593 "Code doesn't appear when opened in browser"
So I downloaded open in browser because I wanted to try out Html and CSS, so I wrote some code and opened the browser and nothing appeared I went into developer tools to check if something was wrong and it was empty even though I wrote code down? Whats happening?

[2021-09-07 22:51] memeplex opened #132594 "Weird square at bottom right of plot"
## Environment data

-   VS Code version: 1.59.1
-   Jupyter Extension version (available under the Extensions sidebar):v2021.8.1236758218
-   Python Extension version (available under the Extensions sidebar): v2021.9.1191016588
-   OS (Windows | Mac | Linux distro) and version: macOS 11.3.1
-   Python and/or Anaconda version: 3.9.5
-   Type of virtual environment used: venv
-   Jupyter server run

[2021-09-07 22:57] ilfoxo commented on #132592
Solved

"url": "http://localhost:3000",

I changed the port to 3000

[2021-09-07 22:57] #132592 closed

[2021-09-07 23:09] jramsay opened #132595 "[Live Share: Guest initiated debugging] You don't have an extension for debugging ....."
Does this issue occur when all extensions are disabled?: Yes/No

Version: 1.60.0 (user setup)
Commit: e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff
Date: 2021-09-01T10:41:52.311Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Live Share host starts a collaboration session
2. Live Share guest joins session
3. Live

[2021-09-07 23:32] mjbvz commented on #132190
@danyeh I added comments in the `package.nls.json` about how these strings are used. I believe the localizations also need to be updated

[2021-09-07 23:33] vaniusrb commented on #132192
First, thank you very much for the reply! Did you try to reproduce the problem and observe the useless file access with procmon? Here is the requested file. I disabled all extensions and recorded the profile with the problem occurring 3 or 4 times. Thanks!
[CPU-20210907T201732.zip](https://github.com/microsoft/vscode/files/7124791/CPU-20210907T201732.zip)

[2021-09-07 23:34] mjbvz commented on #132304
This feature is powered by the TypeScript project. Please [file a feature request upstream](https://github.com/microsoft/TypeScript/issues/new?template=Feature_request.md)

[2021-09-07 23:34] #132304 closed

[2021-09-07 23:35] #132189 closed

[2021-09-07 23:36] mjbvz commented on #132121
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2021-09-07 23:36] #132077 closed

[2021-09-07 23:37] #131953 closed

[2021-09-07 23:37] mjbvz commented on #131811
Closing as not actionable without more info

[2021-09-07 23:37] #131811 closed

[2021-09-07 23:41] mjbvz opened #132596 "Improve reliability of webview tests"
- [x] #131622
- [x] #131477

[2021-09-07 23:44] Tyriar commented on #132435
/extPython

[2021-09-07 23:44] Tyriar commented on #132435
/extPython

[2021-09-07 23:44] #132435 closed

[2021-09-08 00:33] akimikimikimikimikimikimika opened #132597 "Wolfram Language Jupyter makes licensing trouble"
Issue Type: <b>Bug</b>

I created a Notebook of the Wolfram Language kernel in JupyterLab and opened it in vscode. Then vscode could not execute the cells at all.
After opened it in vscode, I executed the command "wolframscript" and it showed "The Wolfram Engine could not be activated using your Wolfram ID." It said that the activation had been expired and would not use Wolfram Engine again.

In J

[2021-09-08 00:52] infinnie commented on #132190
https://github.com/microsoft/vscode-loc/blob/main/i18n/vscode-language-pack-zh-hans/translations/extensions/typescript-language-features.i18n.json

Incorrect translation is located here.

[2021-09-08 00:56] TLKG commented on #130377
I have exactly **only one** skipFiles
[code]

FYI, also have this outside of `configurations`, hope it's not the culprit.

[code]

[2021-09-08 01:13] heroboy commented on #132186
But I can't access this.

[2021-09-08 01:36] sam-gronblom-rj opened #132598 "Notify users to switch builds when running via rosetta"
Issue Type: <b>Bug</b>

Visual Studio shows a notification "Restart Visual Studio Code to apply the latest update." Previously when clicking "Update Now" VSCode would automatically restart. However currently it only exits and doesn't manage to restart itself. Manually starting VSCode after this (running `code .`) starts the current version of VSCode (not the updated version) which again shows the

[2021-09-08 01:49] Yu-Chieh-Henry-Yang opened #132599 "Option to open terminal in a new tab by default"
Currently command + J on a mac opens a terminal at the bottom by default.
It would be nice if there's an option to open the terminal in a new tab by default.

[2021-09-08 01:52] kondei commented on #125898
I have the similar problem.
I set bash as default, but VS Code integrated terminal always starts with zsh...

[2021-09-08 01:53] JacksonKearl commented on #132547
Smells like a duplicate of https://github.com/microsoft/vscode/issues/113175

cc @sbatten

[2021-09-08 01:53] #132547 closed

[2021-09-08 01:55] sean-mcmanus opened #132600 "vscode.workspace.onWillSaveTextDocument or LSP textDocument/willSaveWaitUntil don't wait at all"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.59.0
- OS Version: Windows

Steps to Reproduce:

1. Our extension is trying to get VS Code to wait a short period of time before a save occurs, but VS Code appears to not wait and tries to save almost immediately (fail to save popup appears immediately due to a process having a lock on the file that we haven't kille

[2021-09-08 01:58] JacksonKearl commented on #132401
Duplicate of https://github.com/microsoft/vscode/issues/112293.

I believe we would prompt about irrecoverable deletion in the cases where the file is not on git or moved to trash?

[2021-09-08 01:58] #132401 closed

[2021-09-08 02:04] connectdotz commented on #132484
got it, thanks

[2021-09-08 02:07] JacksonKearl commented on #132277
It looks like the binary for ripgrep (the utility we use for full text searching) is missing from your install. This could perhaps be from some sort of antivirus? You could try reinstalling the application to see if that helps.

cc @roblourens

[2021-09-08 02:10] connectdotz opened #132601 "TestExplorer crashed upon re-render"
Issue Type: <b>Bug</b>

after test explorer started, dispose the controller and re-create it, TestExplorerView crashed upon trying to create filterActionBar (in `renderBody()`)with the following error:
[code]

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:54:53.442Z)
OS version: Darwin x64 20.6.0
Restricted Mode: No

<details>
<summary>System Info</summary>

[2021-09-08 02:11] connectdotz commented on #132601
this is reproducible in both production and insider

[2021-09-08 02:13] jslq opened #132602 "TS Server fatal error: Cannot read property 'lastIndexOf' of undefined"
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.4.2

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Error Stack**
S

[2021-09-08 02:25] hckhanh opened #132603 "My Editor get red"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.60.0
- OS Version: Windows 10

Steps to Reproduce:

1. Open VSCode

I really don't know how to turn off/fix it

![image](https://user-images.githubusercontent.com/6380436/132436173-9c26fd75-9952-4ac0-bd6c-3793fb7489bc.png)

[2021-09-08 02:29] #128250 closed

[2021-09-08 02:29] #128107 closed

[2021-09-08 02:29] #128046 closed

[2021-09-08 02:29] #127933 closed

[2021-09-08 02:29] #127796 closed

[2021-09-08 02:29] #127753 closed

[2021-09-08 02:29] #127683 closed

[2021-09-08 02:29] #127657 closed

[2021-09-08 02:29] #127650 closed

[2021-09-08 02:29] #127644 closed

[2021-09-08 02:29] #127528 closed

[2021-09-08 02:29] #127346 closed

[2021-09-08 02:29] #127749 closed

[2021-09-08 02:29] #127297 closed

[2021-09-08 02:32] luclegen opened #132604 "Context menu in file."
Issue Type: <b>Bug</b>

I click right in code then the context menu show is wrong.

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:43:02.136Z)
OS version: Linux x64 5.11.0-27-generic
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3360M CPU @ 2.80GHz (4 x 3201)|
|GPU Status|2d_canvas: enabled<br

[2021-09-08 02:33] JacksonKearl commented on #131599
The bug seems to be that the `move to recycling bin` request yields a bad state where the file is shown as deleted, but an error is thrown. The user then is prompted to delete permanently, but by that time the file is no longer available. (Did it actually move to recycling?)

cc @heartacker or  @wsytlzdh, can you check if the file moves to the recycling bin when you attempt to delete it and it cla

[2021-09-08 02:35] zorn-v commented on #132455
[e5334fb3-8432-413d-a5f5aa8e-3a076d3d.dmp.gz](https://github.com/microsoft/vscode/files/7125321/e5334fb3-8432-413d-a5f5aa8e-3a076d3d.dmp.gz)

[2021-09-08 02:37] JacksonKearl commented on #131993
I believe we do already support this:
![image](https://user-images.githubusercontent.com/8586769/132437396-9e11a9f9-8cc1-4639-81dd-3d939675f4d2.png)
do you see something different?

[2021-09-08 02:37] gjsjohnmurray commented on #132604
/gifPlease

[2021-09-08 02:38] JacksonKearl commented on #131844
Does the `explorer.copyRelativePathSeparator` setting help here at all?

[2021-09-08 02:40] saamirt opened #132605 "Extensions are grayed out"
Issue Type: <b>Bug</b>

Not sure, extensions including Code Runner, Prettier, Arduino, C/C++, C#, Debugger for Java, etc. are just grayed out without any indication as to why.

VS Code version: Code 1.52.1 (ea3859d4ba2f3e577a159bc91e3074c5d85c0523, 2020-12-16T16:34:46.910Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(T

[2021-09-08 02:56] JacksonKearl commented on #87956
I will accept a PR which adds an `explorer.autoReveal.exclude` setting. This should work like the `files.exclude` and `search.exclude` settings, and be especially similar to the `search.exclude` setting, for instance by inheriting from `files.exclude` and excluding `"**/node_modules"` and `"**/bower_components"` by default. A good starting point would be to look around https://github.com/microsoft

[2021-09-08 02:58] mtrucc opened #132606 "Extension Api : How to change the hover message"
[code]

I expect to translate and replace the hover hint content.

![db181a89826cf1e261b3b912c8a04a8](https://user-images.githubusercontent.com/16724665/132439042-aa6c07eb-fe4f-4fe8-8831-62d033dd379f.png)

Webstrom

![N`(OFX0HM42SVN82$OIOS)4](https://user-images.githubusercontent.com/16724665/132439233-9b3c4525-b40f-47e0-8a0d-245370dab5fc.jpg)

[2021-09-08 03:23] kkocdko commented on #132603
Did you changed the `workbench.colorCustomizations`?

![image](https://user-images.githubusercontent.com/31189892/132441301-3d443761-a256-4c35-ad12-c7aa762ebbe4.png)

Or check the theme file? Try reinstall?

[2021-09-08 03:25] #132044 closed

[2021-09-08 03:26] mahesh969 commented on #132044
With new update now the issue is resolve.

[2021-09-08 03:27] NoevilMe commented on #132553
same problem

[2021-09-08 03:42] digitarald commented on #132167
To simplify, we could break down this work into _1. Don't restore the last-opened folder._ (reasonably uncontroversial) and _3. Offer to reset VS Code's user-data_ (will require some tweaking and experimentation) entry.

[2021-09-08 03:51] eliphatfs opened #132607 "Default Terminal Profile is Not Respected Again"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.60.0
- OS Version: Windows 10

Steps to Reproduce:

1. Switch default profile to cmd
2. Restart VSCode, or right click in a folder and select Open with VSCode (my project is in python, in case it matters)
3. Still a Powershell is opened
4. Starting from 1.60, Python Debugger runs in powershell which is incompatib

[2021-09-08 03:57] bpasero commented on #132554
What happens when you do `code --verbose <path to SQL file>`?

[2021-09-08 03:58] bpasero commented on #127747
Yeah it is weird.

[2021-09-08 03:58] tymsai opened #132608 "It is taking to much time to open"
## System Info

* Code: 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff)
* OS: win32(10.0.19043)
* CPUs: 11th Gen Intel(R) Core(TM) i5-1135G7 @ 2.40GHz(8 x 2419)
* Memory(System): 7.73 GB(3.13GB free)
* Memory(Process): 201.91 MB working set(170.31MB private, 1.20MB shared)
* VM(likelihood): 0%
* Initial Startup: true
* Has 0 other windows
* Screen Reader Active: false
* Empty Workspace: false

#

[2021-09-08 04:08] Myraa commented on #34385
My issue on windows has been fixed by down grading to VScode 47.0

[2021-09-08 04:08] Krebrov001 commented on #132519
How can I fix this error?

[2021-09-08 04:22] ccrsxx commented on #132607
Same, it happens right after I updated my VS code. It really annoyed me, even tho it only happens when you close VSCode while the terminal is opened.

[2021-09-08 04:26] chrisweeksnz opened #132609 "Electron 14+ required? Potential systemd 249 / nVidia issue"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.60.0
- OS Version: Fedora Kinoite 35

## Steps to Reproduce

1. install vscode from rpm using rpmostree
2. run vscode - the application starts to draw the window and then crashes.

more information, including system information and example runs follow...

## Suspected issue

There seems to be an incompatibility betw

[2021-09-08 04:27] jcntec opened #132610 "vue调试Bug"
vue 调试 断点行号错位，调试过程中ts代码打不上断点，断点会飘到template中，调试过程中断点与调试前设置的断点行号不一致vue+typescript
用正常的vue-cli4.5创建项目后直接就不能调试
devtool:'source-map'已设置

package.json
`{
  "name": "admin",
  "version": "0.1.0",
  "private": true,
  "scripts": {
    "serve": "vue-cli-service serve",
    "build": "vue-cli-service build",
    "lint": "vue-cli-service lint"
  },
  "dependencies": {
    "vue": "^3.0.0",
    "vue-class-compo

[2021-09-08 04:38] bpasero opened #132611 "macOS: application hangs when `--wait` is used with `--verbose`"
Steps to Reproduce:

1. have all code apps closed
2. from the command line run `code-insiders --verbose --wait <some existing file>`

=> 🐛  the app opens but gets into a very weird freeze state that is so bad that I cannot click on anything. Even devtools freeze.
=> once you terminate the launch in the terminal, the window unfreezes

I have no clue how to further debug this, maybe you have an idea

[2021-09-08 04:45] zWingz opened #132612 "Web: undo/redo does not work after a file has been closed"
Does this issue occur when all extensions are disabled?: don'y know

- VS Code Version: 1.55
- OS Version:

Steps to Reproduce:

1. open [playgroupd](https://github.com/microsoft/vscode-web-playground)
2. edit some file
3. close the file
4. reopen the same file
5. trigger undo

the file can't undo correctly
There are same problem on `FileSystemProvider` in vscode-web

[2021-09-08 05:09] vfonic commented on #132571
@gjsjohnmurray that might be it. I'll wait for the release next week and close this issue once I confirm it's been fixed.

[2021-09-08 05:13] bpasero commented on #132569
I ran a quick test by removing the `-n` from `cli.ts` and printing the events from `open-file` here:

https://github.com/microsoft/vscode/blob/9525d0e1ed50ad8e78f83d315885caecf74042c8/src/vs/code/electron-main/app.ts#L226-L226

And did not get any call, so maybe this is not working as I had thought.

[2021-09-08 05:18] NineSwordsMonster opened #132613 "TS Server fatal error: Cannot read property 'getSourceFiles' of undefined"
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.4.2

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Error Stack**
S

[2021-09-08 05:28] moonlitusun opened #132614 "Can't use GitLens extension when open a folder by command line"
Does this issue occur when all extensions are disabled?: Yes/No

No

- VS Code Version:

Latest（Version 1.60）

- OS Version:

MacOS Big Sur Version 11.4

Steps to Reproduce:

1.  Run `code /Volumes/extra-ssd/code`(Must be an absolute path).
2. Vscode works good but  GitLens's Current Line Blame is not work.

![image](https://user-images.githubusercontent.com/22940470/132451270-78e976b7-6c6e-4649-a

[2021-09-08 05:33] albertosantini commented on #132607
This is a duplicate of #132150 and will be fixed in upcoming recovery release

[2021-09-08 05:38] heartacker commented on #131599
@JacksonKearl
![bug_stable](https://user-images.githubusercontent.com/1876302/132452355-06e84649-2409-4154-900a-26cbc55ca76d.gif)

[2021-09-08 05:53] jrieken commented on #132600
Can you share a code sample that uses the `onWillSaveTextDocument` API? Also what does the log from the extension host says (F1 > Show Logs > Extension Host)?

[2021-09-08 05:55] jrieken commented on #132539
fyi @alexdima

[2021-09-08 06:02] infinnie commented on #132610
Translation:

## Cannot debug Vue code

When debugging Vue code, the line numbers of breakpoints are incorrect. Breakpoints are not added to the TypeScript part of code when debugging, but appear in the template instead. The breakpoints would also differ in position from where they are before debugging when debugging starts.

[2021-09-08 06:20] mduft opened #132615 "1.60.0: terminal defaultProfile not working on windows"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.60.0, tested also 1.61.0-insider
- OS Version: Windows 10 21H1 Build 19043.1165

The issue appeared with the 1.60.0 update - before that everything was working flawlessly.

Steps to Reproduce:

1. Configure Git Bash as default terminal
2. Restart VSCode
3. Use "Angular Schematics" extension, which triggers a command

[2021-09-08 06:20] liuwei1008 opened #132616 "terminal"
1.60.0 windows 10 terminal start error。 task open error

[2021-09-08 06:21] deepak1556 commented on #132569
@bpasero why cannot we handle this case via the singleinstance api ?

[code]

If possible I would like to not rely on platform specific event and keep it consistent for all platform via a single entry point, thoughts ?

[2021-09-08 06:23] gjsjohnmurray commented on #132150
If you have been affected by this issue it's likely you would have detected it before the 1.60 release if you had tried the Insiders build during endgame. In which case, maybe upvote #132369 as a way to get notified whenever an endgame begins.

[2021-09-08 06:25] Latha2564 commented on #131910
![A11y_Visual studioCode_Voice Over is announcing as  Search include and Exclude  patterns](https://user-images.githubusercontent.com/89508906/132457202-349f4073-fc94-44bd-8ef9-0a06de6b0a06.gif)

[2021-09-08 06:26] pablohs1986 commented on #132615
Same problem here. I had Git Bash as the default terminal. Since the update to v.1.60, it is impossible to configure a default terminal in Windows, Powersell always appears.

[2021-09-08 06:28] pablohs1986 commented on #132150
Same problem here after 1.60. Not Insider build. Could you solve it?

[2021-09-08 06:32] mvahanen commented on #100335
+1

[2021-09-08 06:34] AKclown commented on #5455
Is there an update? Recently, when writing a plug-in, you need to add a click event to gutterIcon.
![image](https://user-images.githubusercontent.com/33648653/132458195-4f7bd2d9-8460-479a-af66-b1a46692ff71.png)

How should I add a click event to gutterIcon, can it help me, thanks

[2021-09-08 06:38] eret9616 commented on #132447
[2021-09-08 14:37:47.000] [renderer3] [info] [KeybindingService]: / Received  keydown event - modifiers: [meta], code: MetaLeft, keyCode: 91, key: Meta
[2021-09-08 14:37:47.001] [renderer3] [info] [KeybindingService]: | Converted keydown event - modifiers: [meta], code: MetaLeft, keyCode: 57 ('Meta')
[2021-09-08 14:37:47.001] [renderer3] [info] [KeybindingService]: \ Keyboard event cannot be dispa

[2021-09-08 06:38] djnotes opened #132617 "VSCode is unresponsive and laggy on Linux"
Issue Type: <b>Bug</b>

VSCode has recently become very sluggish and lags a lot while working. From time to time, it becomes sluggish and very slow to perform.
I'm using it on Linux. Tried updating to the latest version, but issue persists.
Could you please check?

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:43:02.136Z)
OS version: Linux x64 5.13.13-200.fc

[2021-09-08 06:45] #132357 closed

[2021-09-08 06:46] ShadowInks commented on #132439
well thanks ,indeed  it's  a bug of C/C++ Extension v1.6.0 ,https://github.com/microsoft/vscode-cpptools/issues/8065

[2021-09-08 06:46] #132445 closed

[2021-09-08 06:48] alexdima commented on #132447
Thanks @eret9616 . This indicates that VS Code does not receive this keybinding. Most likely, the OS or some other software is consuming it and preventing it from reaching VS Code. There is nothing we can do on our side in this case.

[2021-09-08 06:48] #132447 closed

[2021-09-08 06:49] gjsjohnmurray commented on #132615
/duplicate of #132150 and will be fixed in upcoming 1.60.1 recovery release

[2021-09-08 06:50] #132615 closed

[2021-09-08 06:50] gjsjohnmurray commented on #132607
/duplicate - thanks @albertosantini

[2021-09-08 06:51] #132607 closed

[2021-09-08 06:53] gjsjohnmurray commented on #132605
Please start by updating to the current release, 1.60

[2021-09-08 06:56] gjsjohnmurray commented on #132614
/causedByExtension

[2021-09-08 06:56] #132614 closed

[2021-09-08 06:57] jrieken commented on #131980
Please file this against the C# extension. It should never take so long to compute IntelliSense.

Also check if this is caused by another extension: All extensions execute together on a single nodejs process, so in order to narrow down the possible problematic extension, please try the following:
* run `F1 > Help: Start Extension Bisect`
* (this will restart VS Code with half of your extensions di

[2021-09-08 06:58] gjsjohnmurray commented on #132617
Please review https://github.com/microsoft/vscode/wiki/Performance-Issues and provide additional information.

[2021-09-08 06:58] TylerLeonhardt commented on #132190
Now that the comment is added, it will go through the pipeline and should be fixed in the next 1 or 2 versions of the Language Pack.

[2021-09-08 06:59] the-one-with-raspberry commented on #130375
I am also getting this issue!!!
![image](https://user-images.githubusercontent.com/72183318/132461489-5114a20d-9c1c-4bfd-819b-5011b1214726.png)

[2021-09-08 06:59] deepak1556 commented on #132546
Also can you attach the crash logs following the steps at https://github.com/microsoft/vscode/wiki/Native-Crash-Issues#creating-and-symbolicating-local-crash-reports, thanks!

[2021-09-08 07:00] TarunavBA opened #132618 "Inline suggestions in autocomplete"
How to enable `Inline suggestions in autocomplete` in vscode?

[2021-09-08 07:00] the-one-with-raspberry commented on #130375
@newtykins Good thing that you opened the issue

[2021-09-08 07:01] TarunavBA commented on #132618
Also can anyone paste a screenshot of that setting?`\

[2021-09-08 07:01] markdall commented on #132150
No we can't solve it, it's a defect in the program, you'll need to either wait for a release that contains the fix or to downgrade to the previous version.

[2021-09-08 07:03] jrieken commented on #132490
Completion stays open because the label is still matching what's being typed. Lately we have added new API to make labels more structured (see https://code.visualstudio.com/updates/v1_58#_detailed-completion-item-labels) and that should prevent this.

fyi @Eskibear as Java extension contributor

[2021-09-08 07:03] #132490 closed

[2021-09-08 07:09] iamwwc opened #132619 "Move panel tab to same window and then move to panel again cause additional views showing"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version:

Commit: e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff
Date: 2021-09-01T10:54:53.442Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin x64 20.6.0
- OS Version: Osx Big sur

Steps to Reproduce:

Additional views show even though there are enough space. It doesn't call https://gith

[2021-09-08 07:13] jrieken commented on #132570
hmm.. this doesn't reproduce for me. do you have a full code snippet

[2021-09-08 07:16] siaccarino opened #132620 "Powershell is opened on startup although Command Promp is default"
Whenever I start vscode with a folder Windows Powershell is started regardless of the default terminal (Command Prompt in my case)
This bug is new and appears with 1.60

Expected behaviour:
Open the default terminal like before

Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.60.0
- OS Version: Windows 10.0.18363 Build 18363

Steps to Reproduce:

1. start vscode

[2021-09-08 07:16] TylerLeonhardt commented on #131457
@karrtikr curious what you see... Does it jump up to the top? A gif/video would be ideal.

[2021-09-08 07:20] Thaina commented on #131980
I don't mind it took so long, and even it faster then this I still wish it could still running in background and still open the suggestion box even the vscode windows was not focused

Actually maybe my original request is not really straigtforward, I wish I could switching vscode windows while the floating suggestion box (and the loading box of the suggestion box) are not closing, which I think th

[2021-09-08 07:21] ashidaharo commented on #131507
https://github.com/BurntSushi/ripgrep/issues/1983#issuecomment-914961371
...So, as an outsider, I don't know if this should be the behavior of ripgrep, but I don't think there are that many people who use VSCode who would want to match \W, \D, \s, etc. with the newline code \n, at least to me. I checked the behavior of the search in the editor (i.e. probably the behavior of the regular expression

[2021-09-08 07:23] psh5496 opened #132621 "Bug related to the default terminal setting"
Does this issue occur when all extensions are disabled?: No

- VS Code Version: 1.60.0 (user setup)
- OS Version: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. this is my _setting.json_ I set the default terminal to cmd.
![image](https://user-images.githubusercontent.com/67415543/132462960-e932aba5-1d41-4a8f-96ca-c12de8ea8092.png)

2. If I press the new terminal, it operates in cmd. But, If I

[2021-09-08 07:26] mduft commented on #132615
Should this be fixed in 1.61.0-insider? Because it does not...

[2021-09-08 07:27] newtykins commented on #130375
Oh hey I didn't really find a way to fix it because I had planned to clean install Windows some time soon so I decided to do it then and when I reinstalled Visual Studio Code worked. So maybe fully remove Visual Studio Code from your system and then reinstall it?

[2021-09-08 07:29] albertosantini commented on #132621
This is a duplicate of #132150 and will be fixed in upcoming recovery release

[2021-09-08 07:30] albertosantini commented on #132620
This is a duplicate of #132150 and will be fixed in upcoming recovery release

[2021-09-08 07:36] RasmusVedsted opened #132622 "VSC will only create an initial terminal of the PowerShell type"
Issue Type: <b>Bug</b>

I usually have a live terminal when I close VSC. In my experience, this ensures that VSC will create a new terminal upon reopening.

When I reopen VSC, it used to create my default terminal, but now it creates a PowerShell terminal despite my default terminal being Command Prompt. I first noticed this yesterday, and I don't remember making any update recently.

When I make

[2021-09-08 07:40] albertosantini commented on #132616
Please review https://github.com/microsoft/vscode/wiki/Terminal-Issues and provide additional information.

No idea if #132150 is related with your issue, because that issue involves a few symptoms with tasks.

[2021-09-08 07:41] clarkjoey commented on #132622
Also having the same experience after updating!

[2021-09-08 07:44] Sa1Sa commented on #38857
would be super helpful. can be done in PyCharm using 'scopes'... sadly still lacking in VScode

[2021-09-08 07:48] Eskibear commented on #132490
Thank for involving me.

@fvclaus
Completion item label will be included in LSP 3.17, and I think we have room to improve the experience based on that. Please reopen redhat-developer/vscode-java#2063  track the issue.

[2021-09-08 07:50] bavoceulemans commented on #132150
https://github.com/microsoft/vscode/issues/123684

How does any issue first reported on may 12 and claimed to be fixed the next day only to be reported to still exist on june 18 STILL appear in a release in september?

[2021-09-08 07:50] lorand-horvath commented on #132476
@hediet looks like @alexdima approves of this (thumbs up reaction).

[2021-09-08 07:55] vivekdusad opened #132624 "hjkjkn"
Issue Type: <b>Feature Request</b>

jkljmkm,.m,.m.,m.,m,mkljhhjkhjkhjkjkhjkhkjhkhhhkhkhjkhjkhhjkhkjhkhkjhkjhkjhkjhkklhlkjhkjlhuoouoiiouoioiuio...n,.mn,.,.dgfddfdgd

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

[2021-09-08 07:55] #132624 closed

[2021-09-08 07:56] weinand commented on #130377
@TLKG With VS Code 1.60 `node` is just an alias for `pwa-node`. The underlying VS Code debugger extension (`js-debug`) is the same.

`skipFiles` is just a property that tells `js-debug` to ignore certain files when stepping through the code or hitting exceptions. Whether `skipFiles` has one or more glob patterns shouldn't matter. More patterns are just adding more files to the set of ignored files

[2021-09-08 07:58] lebron112 commented on #132622
我也有同样的问题，之前是设置默认启动用gitbash，现在设置不了了

[2021-09-08 08:00] DrakeXiang opened #132625 "Automatic language detection always identify my dotenv file as ini file"
Does this issue occur when all extensions are disabled?: Yes/No

Version: 1.60.0 (Universal)
Commit: e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff
Date: 2021-09-01T10:54:53.442Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin x64 20.3.0

Steps to Reproduce:

1. Create a dotenv file and put something in it
2. open it with vscode

Example content:
[code]

[2021-09-08 08:04] bpasero commented on #132569
@deepak1556 yes sounds good, I wasn't sure whether when you use `open` with an existing app identifier that is running triggers the single instance flow too.

[2021-09-08 08:04] ashidaharo commented on #131507
Well... I've been thinking about this again while looking at #65281 and so on, and it's a problem that not only clear \n but also all negative matches like [^a] are hit, so it's not good to try to automatically decide whether to search in multiline mode on the VSCode side...
Isn't the proper behavior to add a function that allows the user to choose whether to operate in multiline mode, and to norm

[2021-09-08 08:06] hediet commented on #132476
Btw. this is a nice issue for external contribution! 😉

[2021-09-08 08:08] hediet commented on #132516
@johanrosenkilde can you verify that the issue is fixed in todays insider build?

[2021-09-08 08:08] #132618 closed

[2021-09-08 08:09] joaomoreno commented on #132532
Can you fully uninstall and reinstall VS Code?

[2021-09-08 08:10] joaomoreno commented on #132383
Another thing you can try: uninstall and reinstall VS Code.

[2021-09-08 08:10] #132383 closed

[2021-09-08 08:12] chrmarti commented on #132379
Tracked as https://github.com/microsoft/vscode-remote-release/issues/2994.

[2021-09-08 08:12] #132379 closed

[2021-09-08 08:14] yamachu opened #132627 "Settings view has invalid height panes"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.61.0-insider 34861b8c8aa76b517f203743ad5b5d72ef5fcd81
- OS Version: Darwin x64 20.6.0

Steps to Reproduce:

1. Open Settings view (command + ,)
2. Show TypeScript Section

![settings-pane-height-is-invalid](https://user-images.githubusercontent.com/1955233/132471850-a8d048d0-b411-461d-983d-1a05fbe70c8a.gif)

When st

[2021-09-08 08:27] hsenag commented on #132516
As he's out today, I've had a play with today's insiders build and can't reproduce it, whereas I can with the insiders build from 6th September. So looks good to me!

[2021-09-08 08:32] rohitghali commented on #40290
Any update on this? Really frustrating managing tabs in vscode.

[2021-09-08 08:38] yamachu commented on #132627
related? https://github.com/microsoft/vscode/issues/132430

CSS `top` position looks incorrect even for adjacent elements.

<img src="https://user-images.githubusercontent.com/1955233/132475436-00cce31f-e3c7-4b0a-a199-b81f21ca1c53.png"
  height="400" />
<img src="https://user-images.githubusercontent.com/1955233/132475497-b4770ba3-9321-4b9c-8816-f12e68135191.png" height="400" />

[2021-09-08 08:38] deepak1556 commented on #132569
Yup it will as open just ends up launching the app process, and there are certain files that are setup in the user data directory to identify an active instance associated with it https://github.com/electron/electron/blob/3b1c9dfc5400ceffb75a934cb6b8686fc5ba3fcd/chromium_src/chrome/browser/process_singleton_posix.cc#L5-L38 should clarify things :)

[2021-09-08 08:40] IllusionMH commented on #132622
/duplicate of #132150 - should be in recovery release

[2021-09-08 08:40] #132622 closed

[2021-09-08 08:43] AdrianG-OSS opened #132629 "Automatic Language Detection (1.60) overwrites vscode.languages.setTextDocumentLanguage()"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.60
- OS Version: Win 10

Hi

I am developing an extension that uses _untitled_ files as a means of displaying special temporary text data (that the user can chose to later save to the disk or just discard). I'm using vscode.languages.setTextDocumentLanguage() method to manually assign a language id to the file so

[2021-09-08 08:49] #132516 closed

[2021-09-08 08:50] infinnie commented on #132629
Duplicate of #132173

[2021-09-08 08:52] isidorn commented on #132275
Thanks a lot 👏  @mjbvz
@jooyoungseo can you please give this a try with VS Code insiders from tomorrow (Thursday) and let us know if it behaves as you would expect? We really appreciate your help

[2021-09-08 08:54] IllusionMH commented on #132627
Yes, looks like duplicate after https://github.com/microsoft/vscode/issues/132430#issuecomment-913425124

[2021-09-08 08:54] dkrnic-git commented on #124241
Had the same problem, but the thread closed before there was any answer.
By comparing the settings (the output of the command ":set") between how it is set up in the edited text, in which all characters except numerics and punctuations (including blanks)  are displayed inverted, and the text in the HELP window, where they are not inverted, I found out that the setting of "filetype" is different -

[2021-09-08 08:54] IllusionMH commented on #132621
/duplicate

[2021-09-08 08:55] #132621 closed

[2021-09-08 09:03] IllusionMH commented on #132620
/duplicate

[2021-09-08 09:04] #132620 closed

[2021-09-08 09:07] ewerybody commented on #128768
Thanks again for the option! I feel **super relieved** now that I don't have to stress myself to remember pressing <kbd>Tab</kbd> pcheeew 😅

[2021-09-08 09:11] DanTup commented on #40607
I've filed https://github.com/microsoft/language-server-protocol/issues/1344 for LSP.

[2021-09-08 09:13] einsiol opened #132630 "Commenting on review comment creates a new pending review."
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.60.0
- OS Version: macOS 11.5.2

Github extension:

I've noticed an issue where I commented(answered) on a review comment on my PR from Visual Studio code. My answer was added as expected under the comment I was answering too, but it also appears as a pending comment for a review at the bottom of the PR.

The rev

[2021-09-08 09:13] weinand commented on #132405
Make sure that you "build" or "compile" your code before debugging it.

[2021-09-08 09:13] #132405 closed

[2021-09-08 09:20] einsiol commented on #132630
Moved to the extensions repo https://github.com/microsoft/vscode-pull-request-github/issues/2990

[2021-09-08 09:20] #132630 closed

[2021-09-08 09:21] salos1982 opened #132631 "Powershell is used ignoring settings"
I've updated it to version 1.60 and by default powershell is used unless I defined to use git bash shell. Git bash shell still is defined in settings for internal and external terminal for windows

"terminal.external.windowsExec": "C:\\Program Files\\Git\\bin\\bash.exe",
"terminal.integrated.automationShell.windows": "C:\\Program Files\\Git\\bin\\bash.exe",

[2021-09-08 09:21] eliphatfs commented on #132607
The fourth point has greater impact than the one on startup, could you also check it please?

[2021-09-08 09:33] razvanbh commented on #132631
I'm also having the same issue after updating to 1.60, the terminal that is opened while starting the app is PowerShell. If I open a new terminal then the terminal that I set as my default is opened.

[2021-09-08 09:38] IngussNeilands commented on #132150
Is this ticket closed ?

[2021-09-08 09:40] aeschli commented on #125276
underlying issue is https://github.com/microsoft/vscode/issues/52777. Closing as dup

[2021-09-08 09:42] zgoda commented on #132531
Not exactly minimal: https://github.com/zgoda/wk-web

Really minimal is skeleton project created with `npm init wmr@latest myproject`.

[2021-09-08 09:43] hosseinse1919 opened #132632 "did not show help for node js modules"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.60
- OS Version:

Steps to Reproduce:

1.
2.

![image](https://user-images.githubusercontent.com/39802485/132486321-963af351-55ed-46f6-a206-82727734fc25.png)

did not show help for node js modules

both vscode and vscode insiders

[2021-09-08 09:44] skyred opened #132633 "Cannot override the default terminal in the remote container for non-root user since 1.60.0"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.60.0
- OS Version: Ubuntu

Some dev containers (e.g. [the official docker PHP image](https://hub.docker.com/_/php) based container) creates `www-data` user with `/sbin/nologin` shell set, see below

[code]

Before 1.60.0, when launching a terminal with `www-data` user in the remote container,  `/bin/bash` was alw

[2021-09-08 09:46] 18-loser opened #132634 "Search extension is broken, cannot find the extension!!"
- VS Code Version: 1.6.0
- OS Version: window11

Problem description:
On the afternoon of September 8, 2021, when I was downloading the plugin for work, I was informed by the search: I cannot connect to the extension mall now, please try again later.

[2021-09-08 09:47] 18-loser commented on #132634
My colleagues around me have encountered the same problem.

[2021-09-08 09:49] sandy081 commented on #119440
I felt using in-memory storage service is error-prone especially there is no any hint in the code about it and going forward we might wrongly develop features in cli assuming storage service is available.

Hence I had two versions of my service one with storage service and the other without and instantiating the right one in the given environment.

[2021-09-08 09:50] TomScavo opened #132636 "The extensions marketplace is crashed"
![POPO20210908-174410](https://user-images.githubusercontent.com/29599601/132487615-22354cab-1adb-4264-9168-b2768e765eb3.png)

link: https://marketplace.visualstudio.com/search?term=less&target=VSCode&category=All%20categories&sortBy=Relevance

[2021-09-08 09:51] isidorn commented on #130904
@zobo we just did not have a chance to look into this yet. @roblourens will probably look into it soon, if he is busy I can also help.

Yes, it is possible to enable DAP logging for js-debug.

Add `"trace": true` to your `launch.json` and start debugging. The location of the log file on your disk will be written to the Debug Console. That log file should have the communication.

[2021-09-08 09:53] deepak1556 commented on #132611
Process sample of the main process shows what is happening under the hood, the following is sample taken for a period 3 seconds with 1 millisecond of run time between samples

[code]

As you can see nearly 2.4s in the sample is spent on writing log messages from the runtime `content::LogConsoleMessage`, a minor recap here, any console messages from the renderer will be transferred to the browser p

[2021-09-08 09:55] paulkoeckdev commented on #132636
Seems to work for me

[2021-09-08 09:58] miqm commented on #93407
@alexr00 any update on this? is this going to be ever fixed?

[2021-09-08 09:59] testforstephen opened #132637 "Click the bulbs to Organize imports throws the error"
Steps to Reproduce:
1. Create an empty hello.ts file.
2. Use the shortcut "⌥⇪O" to trigger "Organize imports" source action.
3. This will "Organize imports" in the background. Meanwhile, it displays a bulb with "Organize imports" menu.
4. When you click on the menu "Organize imports" in the bulb, it throws errors `Running the contributed command: '_vscode_delegate_cmd_ktbbh13g' failed.`.

https://

[2021-09-08 10:00] bpasero commented on #132611
Nice 👍

[2021-09-08 10:06] InventManikandan opened #132638 "terminal path not showing"
terminal path not show in my visual code, but tried many time not show in our path so please the porivied the fix the terminal path

[2021-09-08 10:15] isidorn commented on #132595
@jramsay I see that live share is a special case since the guest can start any debug session even though a `launch.json` is not present.
Having a wildcard for the `languages` is maybe too general as it might have other implications.
I think we arleady treat live share specially because it has a `type` of `*`. I suggest to simply piggy back on that flag.

So if the debugger has a `*` as a `type` th

[2021-09-08 10:16] deepak1556 commented on #132339
/gifPlease

[2021-09-08 10:19] salos1982 commented on #132631
I have a more important issue. When I start npm script from NPM SCRIPTS VIEW it starts in PowerShell and cannot be executed.

[2021-09-08 10:19] phantom-oz opened #132639 "TS Server fatal error: Cannot read property 'flags' of undefined"
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.5.0-dev.20210907

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Er

[2021-09-08 10:41] albertosantini commented on #132631
This is a duplicate of #132150 and will be fixed in upcoming recovery release

[2021-09-08 10:43] albertosantini commented on #132150
@IngussNeilands Yes, it is, pull merged https://github.com/microsoft/vscode/pull/132172

[2021-09-08 10:46] owennewo commented on #132633
@skyred  - I'm seeing a terminal crash when upgrading to 1.60 on windows.  I've a locked down (no uac) windows machine.
The following workaround works for me
[code]
This may be a different (windows) issue but you could try to see if `terminal.integrated.inheritEnv":false` helps on linux.

[2021-09-08 10:52] kkocdko commented on #132636
Same problem, I can't search anything on marketplace website. Just open <https://marketplace.visualstudio.com/> and search something.

[2021-09-08 11:01] skyred commented on #132633
No. I just tested with all other options enabled above. The terminal still crashes for non-root user.

[2021-09-08 11:12] MarX156 opened #132640 "Object is of type 'unknown' error"
Issue Type: <b>Bug</b>

Hello,

Since the latest update (1.60) I have had issues with TS and VSC.

**Code example:**
[code]
- `err` is underlined as an error
this code is returning the error "Object is of type 'unknown' error", it wasn't happening before that update...

Thanks!

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:54:53.442Z)
OS version: Darwin x64

[2021-09-08 11:14] alexdima commented on #132476
:+1: for tweaking the fallback path in case `colorizedBracketPairs` is not defined, we could use `brackets` and always remove the problematic `<`,`>` pair . Sorry, I should have been more explicit than just a thumbs up.

[2021-09-08 11:21] IllusionMH commented on #132640
/question
This is expected behavior if you use built-in TS version which is now 4.4 (instead of workspace specific which might be different) and have `"strict": true`
https://devblogs.microsoft.com/typescript/announcing-typescript-4-4/#use-unknown-catch-variables

/cc @mjbvz

[2021-09-08 11:21] nepvec commented on #132519
I have the same problem too.

Version: 1.61.0-insider (user setup)
Commit: 34861b8c8aa76b517f203743ad5b5d72ef5fcd81
Date: 2021-09-08T05:17:18.073Z (6 hrs ago)
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19042

Trace:
[code]

[2021-09-08 11:21] #132640 closed

[2021-09-08 11:25] #131978 closed

[2021-09-08 11:25] #131901 closed

[2021-09-08 11:25] #131864 closed

[2021-09-08 11:25] #131861 closed

[2021-09-08 11:25] #131852 closed

[2021-09-08 11:25] #131849 closed

[2021-09-08 11:25] #131834 closed

[2021-09-08 11:25] #131833 closed

[2021-09-08 11:25] #131775 closed

[2021-09-08 11:25] #131763 closed

[2021-09-08 11:25] #131762 closed

[2021-09-08 11:25] hadim commented on #132455
[b039eaa1-540a-4554-8e58f799-fc055e93.zip](https://github.com/microsoft/vscode/files/7128471/b039eaa1-540a-4554-8e58f799-fc055e93.zip)

[2021-09-08 11:25] #131752 closed

[2021-09-08 11:25] #131725 closed

[2021-09-08 11:25] #131694 closed

[2021-09-08 11:25] #131686 closed

[2021-09-08 11:25] #131679 closed

[2021-09-08 11:26] #131668 closed

[2021-09-08 11:26] #131652 closed

[2021-09-08 11:26] #131631 closed

[2021-09-08 11:26] #131626 closed

[2021-09-08 11:26] #131615 closed

[2021-09-08 11:26] #131612 closed

[2021-09-08 11:26] #131610 closed

[2021-09-08 11:26] #131553 closed

[2021-09-08 11:26] #131521 closed

[2021-09-08 11:26] #131474 closed

[2021-09-08 11:26] #131443 closed

[2021-09-08 11:26] #131383 closed

[2021-09-08 11:26] #131318 closed

[2021-09-08 11:26] #131298 closed

[2021-09-08 11:26] #131225 closed

[2021-09-08 11:26] #131151 closed

[2021-09-08 11:26] #130876 closed

[2021-09-08 11:26] #130742 closed

[2021-09-08 11:26] #130079 closed

[2021-09-08 11:26] #129881 closed

[2021-09-08 11:28] SejoongDeJang commented on #131610
Hi @alexr00
Anything do I support you?

[2021-09-08 11:31] dbaeumer commented on #132570
Tried it again and here is the code I use to make it fail:

[code]

Using Insider

Version: 1.61.0-insider (user setup)
Commit: 34861b8c8aa76b517f203743ad5b5d72ef5fcd81
Date: 2021-09-08T05:17:18.073Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.22000

[2021-09-08 11:32] dbaeumer commented on #132570
OK. My fault. The proposed API changed :-(

[2021-09-08 11:32] #132570 closed

[2021-09-08 11:40] alexdima opened #132641 "Cannot paste in search field because webview steals the paste"
[code]
* I was selfhosting, I checkout a PR, then another one, then another one...
* I then moved away from the PR webview editor to another editor (I don't remember exactly what steps I took)
* I can no longer paste in e.g. the search viewlet
* The reason is because the `webview` handler for `Paste` takes over.
* Here is the log output after enabling the trace log level and the keyboard troublesh

[2021-09-08 11:43] ReallySuperOtter opened #132642 "Low performance in terminal for repeated identical formatting"
Issue Type: <b>Bug</b>

In an ssh session with grep coloring enabled (specifically against a CentOS 7 target), the performance for grep . filename is far lower than grep .\* filename

Both expressions will match every character, coloring every character. However, the second one will identify a single match per line, while the first one colors every single character as a separate match.

The VS Cod

[2021-09-08 11:48] danieldt232 commented on #132560
Happens to me as well. Downgraded to 1.59 for now (works fine there)

[2021-09-08 11:52] stiegi commented on #84151
It is incredible that only 6 lines of code were missing! Really hope they will merge this soon!

[2021-09-08 11:52] iFreilicht commented on #125671
Thanks! It seems like `"terminal.integrated.gpuAcceleration": "canvas"` fixes this sufficiently on one of my machines. I'll try it on the other once I have access to it.

[2021-09-08 11:57] ghartz-hz commented on #130375
I'm also seeing this problem fairly frequently since the last update of VSCode. On top of that, although a lot more minor of an issue, "Reopen" doesn't do anything.

[2021-09-08 11:59] Tyriar commented on #128544
While we aren't planning on introducing this feature there are alternatives:

- Extensions will soon be able to access an API that lets them split terminals or create them in the editor area https://github.com/microsoft/vscode/issues/45407
- We are looking into saving and restoring the buffer on restarts this iteration https://github.com/microsoft/vscode/issues/131634
- Tasks are quite powerful an

[2021-09-08 11:59] #128544 closed

[2021-09-08 12:14] weinand commented on #132595
I agree with Isidorn that a local fix to prevent the dialog is the preferred low-risk fix for this problem.

The check could be [in this line](https://github.com/microsoft/vscode/blob/08370d00b48266a911172d38173c4c8ef8c73e46/src/vs/workbench/contrib/debug/browser/debugAdapterManager.ts#L270)

And the code would basically check if a debugger is registered for the debug type `*` and then return it.

[2021-09-08 12:14] #132632 closed

[2021-09-08 12:16] davikor commented on #132625
I encounter similar behavior with COMMIT_EDITMSG files. For a short period of time they are highlighted as git commit messages, then the file type is automatically switched to ini. Maybe related?

[2021-09-08 12:16] Tyriar commented on #132425
Can you share your settings.json file?

[2021-09-08 12:18] mjbvz commented on #132531
Please share steps to reproduce that using the project

[2021-09-08 12:21] Tyriar commented on #132332
@sbatten I think you're tracking a similar issue related to the native popup

[2021-09-08 12:22] Tyriar commented on #132319
Sounds like it might be related to an extension.

Please provide a screenshot or [a gif](https://gifcap.dev/) illustrating the problem (attaching images won't work via email, you need to go to github.com). See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more general info on how to report actionable terminal issues.

/label "needs more info" terminal

[2021-09-08 12:25] h612 commented on #132532
I troed that but it didnt run. And gave this error again.

[2021-09-08 12:26] alvarocarrera commented on #103168
Same problem: Ubuntu 20.04.1 LTS and VSCode version: 1.60.0

[2021-09-08 12:27] gjsjohnmurray commented on #132607
That point may be related. @meganrogge please confirm.

[2021-09-08 12:28] gjsjohnmurray commented on #132615
@meganrogge please investigate

[2021-09-08 12:29] rainje commented on #132519
Latest insider update does not fix this.

[2021-09-08 12:32] gjsjohnmurray commented on #132631
/duplicate

[2021-09-08 12:32] #132631 closed

[2021-09-08 12:33] Tyriar commented on #103168
I believe this will be fixed in 1.61 with the fix for https://github.com/microsoft/vscode/issues/82489#issuecomment-914255300

[2021-09-08 12:34] zgoda commented on #132531
1. Open project directory in VSC.
2. Right click in explorer on one of JS files, select Rename.
3. Change name of file, hit enter; error in `tsconfig.json` appears.
4. Reload window; error in `tsconfig.json` goes away.

Subsequent rename operations do not trigger this behaviour.

[2021-09-08 12:37] coliff opened #132643 "VS Code Recommending Deprecated Extension (Debugger for Chrome)"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.10.0
- OS Version: Windows 10 (64bit)

Steps to Reproduce:

1. Open VS Code Extensions tab
2. See a deprecated extension.
![image](https://user-images.githubusercontent.com/1212885/132510334-e286e2d1-23a4-44f6-8ede-3301d7d4456e.png)

It'd be good if VS Code could filter out recommended extensions by keyword (eg 'dep

[2021-09-08 12:37] camiant commented on #132519
Yes, indeed... still waiting 👍

[2021-09-08 12:49] misolori commented on #129037
The only other icon I can think of is the lightbulb, which we do tend to use for "intellisense" and could point to language features. We use that on the website:

<img width="1188" alt="CleanShot 2021-09-08 at 05 49 00@2x" src="https://user-images.githubusercontent.com/35271042/132512119-fa96f8d8-fd35-41bc-afa8-02ea50965849.png">

[2021-09-08 12:51] 1111mp commented on #132634
+1

[2021-09-08 12:51] zulrang commented on #132603
If you're using the GitHub Themes, they made a change that made everything red.  A fix has been released, so just update the Github Theme extension.

[2021-09-08 12:53] gjsjohnmurray commented on #132625
/duplicate of #132173

[2021-09-08 12:53] zulrang commented on #132519
Same issue.  Went to insider build because of https://github.com/microsoft/vscode-remote-release/issues/5303.  Can't use either one now.

[2021-09-08 12:53] #132625 closed

[2021-09-08 12:57] gjsjohnmurray commented on #132629
/duplicate - thanks @infinnie

[2021-09-08 12:57] #132629 closed

[2021-09-08 13:00] jooyoungseo commented on #132275
Thank you very much for the prompt improvement! It works nicely with NVDA! I have tested in the following environment:

Version: 1.61.0-insider (system setup)
Commit: 34861b8c8aa76b517f203743ad5b5d72ef5fcd81
Date: 2021-09-08T05:17:18.073Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19043

[2021-09-08 13:00] piotrS-bright commented on #132633
Attempted to use in my settings.json file
[code]
but it still defaults to PowerShell on my Windows machine when attempting to debug.

So far only solution I found was to downgrade to 1.59.1.

[2021-09-08 13:05] krystianolech opened #132644 "Debugger points to wrong file after upgrade to 1.60.0"
Issue Type: <b>Bug</b>

Hi, I noticed that after upgrade to the newest version my debugger scripts start working incorrectly after upgrading to new version of vsocde.

The debugger script I use is responsible to open mocha tests written in typescript. It uses ts-node as transpiler so files are not compiled before running tests.
`    {
      "type": "node",
      "request": "launch",
      "name":

[2021-09-08 13:11] jedzej commented on #132602
I am experiencing the same problem

[2021-09-08 13:12] 12-shweta opened #132645 "The NVDA is not announcing the control type for the "Microsoft" and "Ratings" controls."
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:**#A11yMAS;#A11yTCS;#VisualStudioCode-Win32-Apr2021;#Visual Studio Code Client;#A11ySev2;#WCAG4.1.2;#Benchmark;#DesktopApp;#Win10;#NVDA;#JAWS;

### Environment Details:
Visual Studio Code
Azure Function
Operating System: Windows

[2021-09-08 13:14] lramos15 commented on #127747
So she would backtrack on our original idea or go forward with this? It sounds like it's still worth it to implement that work around for a setting that isn't used a ton

[2021-09-08 13:16] KevinLeeBuchan opened #132646 "launch.json configuration no longer works"
Issue Type: <b>Bug</b>

I've been using a launch.json configuration for over a year.  The purpose is simply to run my current script in an external window.  It has worked beautifully, but has started to fail.

Previously, the command executed would be "Start-Process", with the defined parameters.  Now, when I run it, the command that's executed has the current path stuck on the front, which fails,

[2021-09-08 13:20] lramos15 commented on #132593
Please open an issue against the extension as this isn't an extension the team owns. May I also suggest https://marketplace.visualstudio.com/items?itemName=ms-vscode.live-server which has the browser built into VS Code.

[2021-09-08 13:20] #132593 closed

[2021-09-08 13:21] AkutLuna opened #132647 "Imports not longer working if run in terminal"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.60.0
- OS Version: Windows 10

Steps to Reproduce:
I can run my code with 'Run Code'
![grafik](https://user-images.githubusercontent.com/51125745/132516640-28f31a5f-7343-4ab1-8198-d860ce76cbe2.png)
but 'Run Python file in Terminal' and 'Debug Python file in Terminal' generate an import error
![grafik](https://use

[2021-09-08 13:21] bpasero commented on #132582
cc @misolori @isidorn

[2021-09-08 13:22] #132603 closed

[2021-09-08 13:22] tvld commented on #132634
+1

[2021-09-08 13:25] #132643 closed

[2021-09-08 13:25] u84six opened #132648 "Can't report an issue via "Report Issue" interface"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version:
- OS Version:

Steps to Reproduce:

1. Select "Report Issue"
2. Fill out the form (selected Extension)
3. Select "Preview on GitHub" -- oddly, this is the only button available
4. Takes you to the GitHub

Nothing else happens. The only option is to use the "Report an Issue" interface on GitHub and nothing about the fo

[2021-09-08 13:27] patoi opened #132649 "Does not show jsdoc documentation from import - JavaScript ES module"
Issue Type: <b>Bug</b>

Given the next module (./utils/setup.mjs file):
[code]
And other js file, with import (./utils/setup.mjs):
[code]

**Actual:** When I pressed `CMD + space` over `goto` function, the documentation is "No suggestion."

<img width="539" alt="image" src="https://user-images.githubusercontent.com/1846548/132517364-1620b7c7-0376-41d4-a8d1-187862f585b3.png">

**Expected:** show Pl

[2021-09-08 13:28] isidorn commented on #132275
@jooyoungseo lovely, thanks for trying it out -> verified.

[2021-09-08 13:28] bpasero commented on #132612
We probably have some heuristic based on the file scheme?

[2021-09-08 13:31] bpasero opened #132650 "Split editor: support to update status bar per focused side"
Given our new side by side editor support, it would be great if the status bar scopes some of the information to the currently focused editor, mainly editor selection:

![image](https://user-images.githubusercontent.com/900690/132518788-3745e84d-ffee-4496-89f7-08840348d6e8.png)

[2021-09-08 13:31] coliff commented on #132643
thanks for the reply @IllusionMH - yes, sorry about that version number error. I'm on latest (1.60). I did search for if issue existed before posting but missed that one. I'll go over and give a read/thumbs up. thanks!

[2021-09-08 13:32] bpasero opened #132651 "Allow to split an editor into two without creating separate tabs"
Extracted from #36700

[2021-09-08 13:34] dcraig327 commented on #53262
Some brilliant comments in here. I haven't seen any extensions perform what's listed here, but I'm free to suggestions.

**Always collapsed**
Imagine going through a spreadsheet made into a table in html. Each cell contains an image. Image url's can vary from 10-500 characters. Here's an example of a 2x5 table.

![image](https://user-images.githubusercontent.com/37514553/132514562-02272551-c78f-41

[2021-09-08 13:36] sandy081 commented on #132634
@18-loser Can you please share following info to understand what is causing it.

Try the operation and capture following:

- Help -> Toggle Developer Tools -> Console
- View -> Open View… -> Log (Window)

Also a gif of the operation you are doing would be great.

@tvld It seems you are on Codium so, please file issues against Codium project

[2021-09-08 13:37] bpasero commented on #36700
Reading through the comments and linked issues, it looks like the original intent of just splitting 1 editor into 2 is not what got all the upvotes. Instead, it seems that some are asking for being able to open 2 different editors in the same group and others want to open as many editors as they want side by side in a group ("VIM Style Tabs").

I feel that being able to open any 2 editors side by

[2021-09-08 13:38] lramos15 commented on #132499
When I hide mine it doesn't reappear when I switch branches. Can you provide a gif please?

[2021-09-08 13:40] sandy081 commented on #131022
It would be great to share us following logs if you are reproducing it still, so that we can see what is wrong and fix it

`> F1 > Open View > Log (Shared)`

[2021-09-08 13:40] sandy081 commented on #132392
/duplicate

[2021-09-08 13:40] #132392 closed

[2021-09-08 13:41] sandy081 commented on #132605
Can you please update to latest release and let us know if you are still reproducing it.

[2021-09-08 13:43] sandy081 commented on #132353
Can you please share VS Code version details - Please copy and paste  the screenshot of Help -> About

[2021-09-08 13:44] trond-snekvik opened #132652 "Menu actions update crashes when converting to a workspace"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.60.0
- OS Version: Ubuntu 20.04.2 LTS
- Relevant settings:
  -  `"window.titleBarStyle": "custom"`

Steps to Reproduce:

1. Open a folder in VS Code
2. Press "Add a folder to the workspace", add any folder

The `Run` menu at in the title bar will flicker when adding a folder to the workspace, and while it's gone, `C

[2021-09-08 13:44] bpasero commented on #22068
With https://github.com/microsoft/vscode/issues/132651 it is possible to split an editor into 2:

![image](https://user-images.githubusercontent.com/900690/132520415-7fd12be6-0ab9-4089-a76f-09b4158efcdc.png)

While what is pushed now is limiting to opening the same editor side by side, https://github.com/microsoft/vscode/issues/36700 would allow this for any 2 editors.

There is nothing technical

[2021-09-08 13:45] sandy081 commented on #132388
Do you have auto update enabled for extensions? If so you are hitting a limitation when installing specific version from CLI - https://github.com/microsoft/vscode/issues/63903
You can always install a specific version from the gear icon > Install Specific Version in extensions UI

[2021-09-08 13:47] naivelogic commented on #132519
same this works for now, but such an annoying disruption

[2021-09-08 13:59] michaeljones commented on #69335
I'd like to ask for clarity on this as I'm seeing an issue with the extension I am working on. What exactly does "first folder changes" mean?

We have an operation that adds a new folder to VSCode and if we do that in an empty or non-empty saved workspace then the extension host seems to restart all the extensions. The folder does appear at the top of the workspace list. Is that this issue? Is the

[2021-09-08 14:02] elo1957 commented on #132519
Running script with connection command: "C:\Program Files\Git\usr\bin\ssh.exe" -T -D 1052 "pi@192.168.1.68" bash
[15:59:15.192] Terminal shell path: C:\WINDOWS\System32\cmd.exe
[15:59:32.203] Resolver error: Error: Connecting with SSH timed out
	at Function.Timeout (c:\Users\osc\.vscode-insiders\extensions\ms-vscode-remote.remote-ssh-0.65.7\out\extension.js:1:64785)
	at Timeout._onTimeout (c:\User

[2021-09-08 14:04] ThiefMaster commented on #132519
No offense, but why are "40 students" what's effectively a nightly build instead of a stable release?

(but I agree, this should be fixed ASAP, it's annoying to have the "update available" indicator there - I always feel tempted to click it)

[2021-09-08 14:07] weinand commented on #132646
/extPowershell

[2021-09-08 14:08] #132646 closed

[2021-09-08 14:09] TrueWill commented on #132304
You might want to update that link then...

[2021-09-08 14:13] msgraber opened #132653 "Terminal Default Set to git-bash no longer works"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:
- OS Version:

Steps to Reproduce:

1. Set default terminal to git-bash
2. Shutdown/restart VSCode
3. Default terminal is still PS

[2021-09-08 14:19] TylerLeonhardt commented on #132190
Closing this since there is no more action besides waiting.

[2021-09-08 14:19] #132190 closed

[2021-09-08 14:23] TylerLeonhardt commented on #132571
@vfonic can test this out in insiders? It might already be fixed.

https://code.visualstudio.com/insiders/

[2021-09-08 14:26] alexdima commented on #132641
@IllusionMH Thanks for trying to reproduce, although I could not find any clear steps. I am on latest Insiders from 9hrs ago.

[2021-09-08 14:33] alexdima commented on #132612
Yes, here are the schemas where we maintain undo-redo elements across text buffers being disposed and recreated: https://github.com/microsoft/vscode/blob/ad321f6ba01568a507d850e8aef1c23a3e297e6b/src/vs/editor/common/services/modelServiceImpl.ts#L133-L141

[2021-09-08 14:34] shoffmeister commented on #132401
Part of the annoyance is that edit mode gets cancelled. Once edit mode does not get canceled due to the refresh, the problem with the "sort of data loss scenario" ("Del" hits the explorer item, not the text) disappears for good.

Generally, IMHO, the vscode behaviour for "Del" on Explorer pane items is sane and feature-complete. Adding more confirmation dialogs on top what already exists there wou

[2021-09-08 14:41] bpasero commented on #132612
@alexdima I have similar code:

https://github.com/microsoft/vscode/blob/2d50df638c5f6239ac0d0bb2449630324e5544fc/src/vs/workbench/services/history/browser/history.ts#L581-L585

One thing I use is `this.pathService.defaultUriScheme` which is a way to get at the standard scheme for the workspace, which would then include our web playground and github.dev too. But I am not sure the impact of further

[2021-09-08 14:41] MichaKnoe commented on #132633
On windows we also see a similar problem since 1.60. If we set Git Bash as the default terminal VS code starts with powershell which is just wrong. Closing all the terminals and starting terminals again, opens Git Bash as a default.

So far the only solution that worked entirely again was to switch completely to WSL2
Downgrade to 1.59.1 does NOT work for me. Something is completely messed up.

[2021-09-08 14:42] solomatov opened #132654 "Slow spawn from ext host process when built from sources"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.60.1
- OS Version: Darwin x64 20.6.0

We noticed that vscode which is built locally, started to work much slower than previous version. Profiling shown that spawns take much more time than before (15ms vs 300-1500ms). One of the most notable places is getHead in the git extension.

Steps to Reproduce:

1. Checkou

[2021-09-08 14:43] zWingz commented on #132612
Thanks
But I think It should work on custom file-system

[2021-09-08 14:44] bpasero commented on #128479
Simple code to bring up Code:

[code]

The `executablePath` property allows us to use an existing Electron, as opposed to Playwright picking one.

[2021-09-08 14:46] vincesp commented on #132267
Unfortunately not:

[2021-09-08 14:51] sequencerr opened #132655 "Q: How to access "ignore snippets" api"
The fact that nobody is can't answer, says me that this is impossible or something
https://stackoverflow.com/questions/69099192/vscode-how-to-access-ignore-snippets-api

[2021-09-08 14:54] toxik opened #132656 "Wrong default terminal"
Issue Type: <b>Bug</b>

When I open VSCode (I usually use the cmdline extension – `code path/to/folder`) the terminal is bash instead of my default, zsh.
Subsequent calls to open terminal correctly open zsh.

A colleague of mine (on Windows) has the same problem – his default is Git Bash, however on startup Powershell pops up.

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff

[2021-09-08 14:55] alyssajotice commented on #126534
This is still an issue for Live Share.

[2021-09-08 14:59] foxs33 commented on #132634
VS Code version: latest version
Operating system version: window10
Problem Description:
On the evening of September 8, 2021, when downloading the work plug-in, the search prompt: I cannot connect to the extension mall now, please try again later. Even if I uninstall and reinstall, it can’t be resolved.

[2021-09-08 14:59] foxs33 commented on #132634
VS Code version: latest version
Operating system version: window10
Problem Description:
On the evening of September 8, 2021, when downloading the work plug-in, the search prompt: I cannot connect to the extension mall now, please try again later. Even if I uninstall and reinstall, it can’t be resolved

[2021-09-08 15:00] jrieken opened #132657 "Setting uninstalled extension..."
I noticed that I don't have `vscode-github-issue-notebooks` installed anymore and the log shows me that it got uninstalled this morning by settings sync. I am quite certain that I didn't do that and now it is time understand what happened

<img width="966" alt="Screen Shot 2021-09-08 at 16 59 02" src="https://user-images.githubusercontent.com/1794099/132534026-4886c64b-7393-42dc-b4ce-4d592ec515f7.

[2021-09-08 15:04] Huskers2020 commented on #131232
This issue is also on FreeBSD not certain if this is supported from your end. Also, 1.6 is not yet ported to FreeBSD so cannot validate.

[2021-09-08 15:06] dariemp opened #132658 "Accept current change during rebase only works once. Sometimes isn't even shown."
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: August 2021 (version 1.60)
- OS Version: MacOS Big Sur 11.5.2

Steps to Reproduce:

1. Start a rebase, ex.: `git rebase master`
2. Open a file with conflicts in VS Code
3. Sometimes the options starting with "Accept current change " won't appear on top of conflicting lines
4. When the options appear, it only works

[2021-09-08 15:07] Averek7 opened #132659 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `microsoft-authentication`
- Extension Version: `0.0.1`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.60.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-09-08 15:10] AntonGrekov commented on #55892
Also breadcrumbs are too long showing file path along with symbols. I also trying to switch back to vscode after a year of intellij experience and i got used to file path at top , and _only_ symbols at bottom.
No way i can do same in vscode :(

[2021-09-08 15:16] tomasbaran commented on #131543
It's still NOT working correctly. Adding my `flutter doctor -v`

<details>
  <summary>Logs</summary>
[✓] Flutter (Channel stable, 2.2.3, on macOS 11.5.2 20G95 darwin-arm, locale en-US)
    • Flutter version 2.2.3 at /Users/tomasbaran/code/flutter
    • Framework revision f4abaa0735 (10 weeks ago), 2021-07-01 12:46:11 -0700
    • Engine revision 241c87ad80
    • Dart version 2.13.4

[✓] Android too

[2021-09-08 15:21] bpasero commented on #132611
@deepak1556 we do listen to `stdout` and `stderr` here:

https://github.com/microsoft/vscode/blob/77905c850e170eab00cac5ca190c7b1fe5ad43ba/src/vs/code/node/cli.ts#L130-L139

Can you clarify what else is missing?

[2021-09-08 15:26] clarkexcore commented on #132653
I am also experiencing this same issue. Have yet to figure out solution.

[2021-09-08 15:26] bpasero commented on #132611
Oh wow, nevermind. Turns out I had the fix pushed already to https://github.com/microsoft/vscode/pull/131213.

[2021-09-08 15:26] connor4312 commented on #132644
/duplicates https://github.com/microsoft/vscode-js-debug/issues/1100

See my comment on there for a resolution

[2021-09-08 15:27] #132611 closed

[2021-09-08 15:28] connor4312 commented on #132610
/jsDebugLogs

[2021-09-08 15:29] alexdima commented on #132612
I've pushed that we restore the undo-redo elements for `IPathService.defaultUriScheme`. I would not expand this to all schemes, because there are many usages of custom schemes, and many usages of text buffers, and sometimes people change these text buffers by issuing editing commands. I don't know what would be the impact of keeping (almost in perpetuity) all the undo-redo history for all text buf

[2021-09-08 15:33] bpasero commented on #132612
Yeah very good point, for example every opened editor ends up having 2 text models, one for the visible text and one from git to do the quick diff decoration.

[2021-09-08 15:34] IllusionMH commented on #132656
/duplicate of #132150

[2021-09-08 15:34] IllusionMH commented on #132653
/duplicate of #132150

[2021-09-08 15:34] #132656 closed

[2021-09-08 15:35] #132653 closed

[2021-09-08 15:36] solomatov commented on #132654
Confirmed that the behavior is different in locally built vs MS version of VS Code.

If you have extension like this (derived from yo template), time on OSS vs time on MS version is different and consistent with what we have above:

[code]

[2021-09-08 15:46] zWingz commented on #132612
I agree the point.
Can provide support for `file-system` that define `isMaintainUndoRedo=true`?
If a `file-system` is writeable, it should also support the `redo/undo` even if the file has been closed

[2021-09-08 15:47] vincesp commented on #132267
I got an additional error message:

[2021-09-08 15:48] slodreamer opened #132661 "cannot connect marketplace"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: Version: 1.60.0 (Universal)
- OS Version: mac os big sur 11.4

Steps to Reproduce:

1. open Extensions
2. input someone plugin
3. get Error message: cannot connect marketplace

![image](https://user-images.githubusercontent.com/15122540/132542215-c2a68b30-0379-4f82-a112-60ffd5f4f61e.png)

![image](https://user-imag

[2021-09-08 15:51] bpasero commented on #132612
I think given the fix Alex just pushed it should work fine now, even for a custom file system provider that is used in web because that should end up being the default path scheme.

[2021-09-08 15:55] kai475 commented on #132661
got the same problem...

[2021-09-08 15:57] RUSshy opened #132662 "why u keep open the shittty powershell"
Issue Type: <b>Bug</b>

nobody likes this stupid shell, STOP SPAWNING IT FFS

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-10400F CPU @ 2.90GHz (12 x 2904)|
|GPU Status|2d_canvas: enabled<br>gpu_c

[2021-09-08 15:58] RUSshy commented on #132662
[code]

fix your shitty stuff

[2021-09-08 15:59] mjbvz opened #132663 "Remove support for old style markdown links in vscode.d.ts"
Prior to picking up TS 4.3, we used a custom style of markdown links in `vscode.d.ts`. These links only worked when viewing the `vscode.d.ts` file directly and were not supported in hovers/intellisense

We now use the `@link` JSDoc tag, which works properly in intellisense

I propose that we remove support for the old style markdown symbol links. This will impact extension developers who:

- Are u

[2021-09-08 16:00] jrieken commented on #132655
There is no API to ignore snippets, it's a user feature that is operated via the UI

[2021-09-08 16:00] #132655 closed

[2021-09-08 16:01] RUSshy commented on #132656
nobody uses this shitty shell so they force it on everybody

"bug" sure, trash tools deserve to go to the trashbin

[2021-09-08 16:02] rossi-jeff opened #132664 "nobody in the world wants powershell as default terminal"
I've been using vscode with WSL as my default terminal for years. A recent update made powershell the default and no matter how many times I change it , powershell is in my terminal every time I open the program. This is an uninstall the program and use something else level of offence.

seriously fuck you all

[2021-09-08 16:02] lramos15 opened #132665 "Support encoding diff + side-by-side as a single URI"
Many of our APIs return just a resource URI, it would be a lot easier to work with diff and side by side editors if we also supported encoding them as a single URI rather than having to have a type which doesn't overlap nicely such as `URI | {primary: URI, secondary: URI}`.

The proposal would be for Side-by-side to be encoded as
`vscode-file://sidebyside?primary={resource}&secondary={resource}`

[2021-09-08 16:05] IllusionMH commented on #132656
Any proofs? Code is open you can looks for that commit that intentionally does that...

No need to hijack other's issue especially if you are not helping to solve it.

[2021-09-08 16:06] MetabaronCZ commented on #132662
I can confirm this error. After today's update the terminal sets powershell by default. If I set Git Shell as default (as I had in previous versions) it is ignored and powershell is used all the time. I also tried to delete all settings related to terminal and it didnt help.

[2021-09-08 16:08] IllusionMH commented on #132662
/duplicate of #132150

It's a bug which is already fixed in Insiders build and supposed to be in upcoming Recovery September release.

[2021-09-08 16:08] IllusionMH commented on #132664
/duplicate of #132150

It's a bug which is already fixed in Insiders build and supposed to be in upcoming Recovery September release.

[2021-09-08 16:09] #132662 closed

[2021-09-08 16:09] #132664 closed

[2021-09-08 16:09] bpasero commented on #132665
The scheme cannot be `vscode-file` though, it needs to be a new one not already taken by a file system provider or protocol handler. `vscode-file` is for serving files into the renderer from the main process.

For persisting view state for diff editors, I already came up with a resource:

https://github.com/microsoft/vscode/blob/d0623487f546e2ef0bf33fc0fa06a51a2731b7ed/src/vs/workbench/browser/par

[2021-09-08 16:12] burkeholland opened #132800 "Support code folding when line numbers are turned off"
In virtually every other coding scenario in VS Code, line numbers are enabled by default. In Jupyter Notebooks, they are off by default. The side effect of this is that code folding doesn't work and the user isn't sure why.

It seems to me that if we are going to be consistent with the rest of the developer experience in VS Code, we should have line numbers on by default.

[2021-09-08 16:15] #132659 closed

[2021-09-08 16:17] SVVSD-Woods opened #132666 "VS Code Freezes/Hangs when switching file tabs or selecting an already open file"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version:
 1.60.0
- OS Version:
 Windows 10 Pro (Education) build 19042.1165 / 14GB memory

Steps to Reproduce:

1.  Open multiple files (I have 30+ open). Either switch between them using tabs, or by selecting files from the open editors menu.
2.  Code freezes after a several tab changes.  I have to wait up to five minutes bef

[2021-09-08 16:17] ChrisMiami opened #132667 "Toggle comments"
Issue Type: <b>Feature Request</b>

If I have 2 lines of code like this:

// doSomething(withThis);
doSomething(withThat);

and I highlight both and press Cmd-/, I'd expect Code to remove the comment on the first line (like it would do if it was the only line selected) and add the comment chars to the second line (like it would do if it was the only line selected).  To wit - the desired outcome:

[2021-09-08 16:17] pbrennand-francis opened #132668 "Javascript Debug Terminal Not Attaching"
Issue Type: <b>Bug</b>

1. Open a Javascript Debug Terminal.
2. Add breakpoints to a JS file, `index.js` say
3. Run `node index.js`

At this point the debugger does not attach and it simply runs the code as usual.

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:54:53.442Z)
OS version: Darwin x64 20.5.0
Restricted Mode: No

<details>
<summary>System Info</summ

[2021-09-08 16:17] TylerLeonhardt commented on #132568
duplicate of https://github.com/microsoft/vscode/issues/132571

[2021-09-08 16:17] #132568 closed

[2021-09-08 16:18] #132644 closed

[2021-09-08 16:19] #132307 closed

[2021-09-08 16:20] pbrennand-francis opened #132669 "Allow to configure the timeout for waiting to resolve shell environment"
Issue Type: <b>Bug</b>

Javascript Debug Terminal not attaching debugger

	1. Open a JavaScript Debug Terminal
	2. Create `index.js` and attach breakpoints to the contents
	3. Run `node index.js`

Actual: The code runs normally.
Expected: The debugger attaches and the breakpoints are triggered.

### Other Info:
My PATH:
```/Users/piers/.nvm/versions/node/v14.17.0/bin:/usr/local/Caskroom/google-clo

[2021-09-08 16:21] miui8824 opened #132670 "文件目录栏无法跟随用户设置的字体进行改变"
Issue Type: <b>Feature Request</b>

资源管理器 无法设置字体

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:54:53.442Z)
OS version: Darwin x64 20.6.0
Restricted Mode: No

[2021-09-08 16:21] karrtikr commented on #131457
It doesn't jump to the top, it just shifts a bit. I'll see if I can get the GIF.

[2021-09-08 16:22] #132670 closed

[2021-09-08 16:23] miui8824 opened #132671 "Explorer cannot set the font"
Issue Type: <b>Feature Request</b>

Explorer cannot display according to the font set by the user

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:54:53.442Z)
OS version: Darwin x64 20.6.0
Restricted Mode: No

[2021-09-08 16:29] vincesp commented on #132267
Continuing investigation: when running `tcs` in one of the subfolders of the VS Code workspace causing the problem, we get:

[code]

Root cause might be a bug in the `tcs` type resolution. Maybe the GUI plugin should use a different strategy in such a case, instead of aggressively trying to restart the buggy process?

[2021-09-08 16:31] TylerLeonhardt commented on #132648
We use GitHub for tracking issues so that's why Report Issue talks about GitHub.

The way that the issue filer works is that it opens this in your browser where ISSUETEXT is generated from your form input:

https://github.com/microsoft/vscode/issues/new?body=ISSUETEXT

Unfortunately, browsers have a limit as to how much text can be shoved into the address bar and so when we detect that the form co

[2021-09-08 16:31] #132648 closed

[2021-09-08 16:31] meganrogge commented on #29816
Here's what we're currently thinking. Let us know if you have feedback.
![description](https://user-images.githubusercontent.com/29464607/132548629-ddd03b33-cf05-4421-b88a-32412fd67cff.PNG)
![title](https://user-images.githubusercontent.com/29464607/132548634-0fd969a6-9193-4ca8-9fa9-6d971880a979.PNG)

[2021-09-08 16:33] waldyrious opened #132673 "Don't warn before closing empty files without undo history"
I sometimes open multiple editors by mistake, e.g. when typing `code <Ctrl+V>` in the command line, and my clipboard contains a multi-line block of text instead of the filename I expected. The newlines in the clipboard content lead the command to be executed and VS Code opens one editor for each word of the first line.

I would like to close these multiple editors without having to confirm, one by

[2021-09-08 16:33] gjsjohnmurray commented on #132668
/duplicate of #132669

[2021-09-08 16:33] ssigwart opened #132674 "Retain cursor position when clicking to bring editor to foreground"
When VSCode is in the background and I click on an editor to bring it to the foreground, I'd like the cursor to stay where it was before.  Typically, I'm typing something and need to switch back to another app to look something up.  Then I click whatever visible part of VS Code there is to bring it back to the foreground.  However, the cursor moves and I lose where I was at.

This is somewhat like

[2021-09-08 16:34] #132668 closed

[2021-09-08 16:35] sandy081 commented on #126477
It seems I am not using our watcher to watch the log files, instead I am polling myself because our file watcher is not working with spdlog changes. See following

https://github.com/microsoft/vscode/blob/90347144857be0a9977b6636e3680718512e67a2/src/vs/workbench/contrib/output/common/outputChannelModel.ts#L168-L181

I am using our watcher only to check if the log files are created or not. Once the

[2021-09-08 16:36] pbrennand-francis commented on #132668
Thanks - I was routed to a 404 page when I made this first one so I had assumed it wasn't posted.

[2021-09-08 16:42] joaomoreno commented on #132532
What if you install in a different location?

[2021-09-08 16:44] joaomoreno commented on #128479
Yeah, that the option I mentioned a couple months ago when we discussed this. I’m glad to know it just works, fantastic! Shouldn’t be too hard to get the existing Playwright driver to run our smoketests. Just some glue code, hopefully.

[2021-09-08 16:47] andschwa commented on #130367
For what it's worth, I ran into this trying to update `node-fetch` from 2.x to 3.x, since the newer version is ESM only. Looks to be the direction things are going, so extension developers are only more likely in the future to run into issues due to lack of ESM support.

[2021-09-08 16:48] Krebrov001 commented on #132519
# I solved this problem, *what worked for me*

### First I uninstalled all the extensions from my Windows client

[code]

### Second I uninstalled all the extensions from my Linux server

[code]

### Third I uninstalled Visual Studio Code from my PC, and reinstalled in again.

### Fourth I installed the Remote Development extensions again in my renewed Visual Studio Code

 * Remote Development
 *

[2021-09-08 16:55] daviddossett commented on #121131
Ok, makes sense. @digitarald have you created an issue for this one yet?

[2021-09-08 16:59] puppywang opened #132675 "Powershell launched even if default terminal is set to command prompt on windows."
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:  1.60.0
- OS Version: Win 10.0.19043

[code]

Steps to Reproduce:

1.  Set default terminal to `Command Prompt`, the settings.json have been updated with `"terminal.integrated.defaultProfile.windows": "Command Prompt",`.
2. Keep terminal open, and shutdown VSC, later launch VSC with the same project from taskbar, t

[2021-09-08 17:04] varelajp opened #132676 "Make comment shortcut (Ctrl+Shift+7) works for multiline comment."
At pressing comment shortcut (**Ctrl+Shift+7** on Linux) when selected a multiline commented block (/* */), editor should uncomment the whole block instead of add one-line comments (//) to it.
Just like on https://leetcode.com playground.

Love you guys :heart:

[2021-09-08 17:11] digitarald opened #132677 "Expose Keymap command in Keyboard Shortcuts toolbar"
Usertesting showed that keymap extensions are not easy to discover due to a mix of issues. Users have many different terms for them, don't know that they exist or don't look in the right places.

To improve organic discovery the idea here is similar to _Turn on Settings Sync_ button in _Settings_, showing a _Migrate your Keyboard Shortcuts from other Editors_ in the _Keyboard Shortcuts_ page.

To

[2021-09-08 17:12] digitarald commented on #121131
@daviddossett good call, created https://github.com/microsoft/vscode/issues/132677

[2021-09-08 17:13] gjsjohnmurray commented on #132675
/duplicate of #132150 and will be fixed in upcoming recovery release

[2021-09-08 17:14] #132675 closed

[2021-09-08 17:25] sean-mcmanus commented on #132600
@jrieken Yeah, we register it at https://github.com/microsoft/vscode-cpptools/blob/seanmcm/clangTidy/Extension/src/LanguageServer/clientCollection.ts#L65 and other code that is run is at https://github.com/microsoft/vscode-cpptools/blob/seanmcm/clangTidy/Extension/src/LanguageServer/client.ts#L2117 (basically, just mimicking the textDocument/willSaveWaitUntil message). Previously we just handled t

[2021-09-08 17:31] gjsjohnmurray commented on #69335
When your operation adds a folder to a workspace that already has at least one folder, does the new folder get added in first position, pushing the other folders down? If so, try changing how you call the API to add the folder. For instance, append it.

[2021-09-08 17:32] ps250551 opened #132678 "Extension issue - typescript language features"
- Issue Type: `Bug`
- Extension Name: `typescript-language-features`
- Extension Version: `1.0.0`
- OS Version: `Darwin x64 19.6.0`
- VS Code version: `1.60.0`

[code]

As you can see from the below status output, the extension is taking 99% CPU and sometimes hits 100%.

[code]

[2021-09-08 17:32] shiqi0319 commented on #132661
got the same problem...

[2021-09-08 17:35] souru98 opened #132679 "bug"
Issue Type: <b>Bug</b>

bugs

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8265U CPU @ 1.60GHz (8 x 1800)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>multiple_raster_threads: en

[2021-09-08 17:36] zulrang commented on #132519
Followed the above steps outlined by @Krebrov001 - didn't help.  Same problem.

[2021-09-08 17:37] IllusionMH commented on #132679
/needsMoreInfo

Please add problem description an steps to reproduce

[2021-09-08 17:43] connor4312 commented on #132669
This is the underlying issue

[2021-09-08 17:46] plwalsh commented on #132519
That method seems pretty ugly tbh. I've got many extensions installed across both my local host and many remote servers, with a handful of them either enabled or disabled depending on the workspace. Having to reinstall them all just to fix this issue would be a nightmare.

[2021-09-08 17:50] greazer commented on #131914
@DonJayamanne, is the general gist here that you need to try and save the notebook while a cell is actually running? It's not clear from the repro above. Also is it missing step 13? something like "Attempt to save the notebook with the change you made at step 11"

[2021-09-08 17:56] michaeljones commented on #69335
Thank you @gjsjohnmurray. Kind of you to take the time.

I have just found the docs on it and realise that it is documented: https://code.visualstudio.com/api/references/vscode-api#workspace.updateWorkspaceFolders - we'll change our approach accordingly. Though I guess it might still cause issues for the first folder added.

[2021-09-08 17:58] DanaFo commented on #62476
I have the same thing. I tried uninstalling code and reinstalling it but during install it gives me Setup has detected setup is running and I feel like I f'd myself.

[2021-09-08 18:00] gumiranda opened #132680 "terminal errado toda vez"
Issue Type: <b>Bug</b>

DEFINI COMO TERMINAL PADRÃO O BASH MAS TODA HORA ABRE ESSE POWERSHELL

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-10510U CPU @ 1.80GHz (8 x 2304)|
|GPU Status|2d_canvas:

[2021-09-08 18:01] q00u commented on #119868
@mrgiao that works for you 100% of the time?

`NPM SCRIPTS` previously sometimes appeared when I opened `package.json`, unless it was already open when I reopened the folder, or if I Reloaded the window.

Now, it doesn't appear to load at all anymore if I have any other VS Code windows open when I reopen this folder. Or maybe it's random?

* VS Code version 1.60.0

Definitely still not fixed.

![2

[2021-09-08 18:09] sequencerr commented on #132655
I'm sorry, It will be in future? Or is there a way for me to access it through the UI API or something?

[2021-09-08 18:11] DonJayamanne commented on #131914
No, when you run cells you get the error described above. FYI - I have auto-save turned on.

Weird, no idea about that.

[2021-09-08 18:19] mjbvz commented on #132678
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2021-09-08 18:20] TylerLeonhardt commented on #132505
@WayneLambert yes I think for you, you want to turn of the language detection feature which you can do with:

[code]

this will stop the auto-detection but still allow you to click on the language picker in the bottom right and hit "Auto Detect" when you want.

Since we have a setting to do this already, I'll close this issue.

[2021-09-08 18:20] #132505 closed

[2021-09-08 18:21] UrszulaCzerwinska commented on #132680
I have the same problem!

[2021-09-08 18:25] sbatten commented on #132619
dupe https://github.com/microsoft/vscode/issues/123722

[2021-09-08 18:25] #132619 closed

[2021-09-08 18:25] TylerLeonhardt commented on #132085
I think this makes sense!

[2021-09-08 18:26] TylerLeonhardt commented on #132431
@ArtemGovorov can you try vscode insiders and let me know if it repros there?

[2021-09-08 18:28] IllusionMH commented on #132680
/duplicate of #132150

It's a bug which is already fixed in Insiders build and supposed to be in upcoming Recovery September release.

[2021-09-08 18:29] #132680 closed

[2021-09-08 18:34] wdupree opened #132682 "Allow Extensions to be filtered by Synced/Not Synced"
Add a filter in the extensions section to allow for synced / not synced.

![image](https://user-images.githubusercontent.com/5973261/132565132-3f323017-962d-40f0-843b-faaeb95cacfb.png)

[2021-09-08 18:50] stewart-southwell commented on #132542
Experiencing the same issue as well.  It only started after update to 1.60.0.  Running  `Start Extension Bisect` fixes the issue temporarily but it came back.  I think it may be related to the other issue mentioned here #132678

[2021-09-08 19:00] #132627 closed

[2021-09-08 19:01] #132652 closed

[2021-09-08 19:04] leidegre opened #132683 "TypeScript statement completion with symbols does not always work"
Issue Type: <b>Bug</b>

This is wonky.  I put together a small repo here https://gist.github.com/leidegre/e51afd311eb4d9729c3ea2a5e6411d3b

For example, here VS code is not giving me statement completion. I'm expecting to see `FOO` in the suggestion box.

![image](https://user-images.githubusercontent.com/63085/132568231-823a85a9-ca1e-4a48-8187-a0ef31b53be9.png)

but, if I move the symbol and type

[2021-09-08 19:09] isidorn opened #132684 "Wrong accessibility service instantiated"
Caused by https://github.com/microsoft/vscode/pull/131947

1. Start vscode app, notice that the `browser/accessibilityService` gets instantiated and not the `electron-sandbox` one 🐛
2. Also the `browser/accessibilityService` should also send out telemetry, namely the event `accessibility` when accessibility is turned on. [Code pointer](https://github.com/microsoft/vscode/blob/main/src/vs/workbench

[2021-09-08 19:12] TylerLeonhardt commented on #132684
Not sure I understand... the electron-sandbox one extends the browser one.

[2021-09-08 19:15] IllusionMH commented on #132683
/needsMoreInfo

Is it reproducible with all extensions disabled?
You can try this with <kbd>F1</kbd> and `>Developer: Reload Window With Extensions Disabled`

Looks like in first case there are suggestions from IntelliCode extension visible first (stars before names) while in second case it's plain TS suggestions (no star before name)

![image](https://user-images.githubusercontent.com/1312662/132

[2021-09-08 19:20] isidorn commented on #131895
I was not able to reproduce this again.
Feel free to close if I am the only one that complained about this