[2021-08-18 10:43] isidorn commented on #91061
The further action planned here, and the upstream issue in Chrome is fixed, so we should soon pick it up and then screen readers should announce how many items are selected in our lists.
Thus closing

[2021-08-18 10:43] #91061 closed

[2021-08-18 10:44] #99101 closed

[2021-08-18 10:44] gjsjohnmurray commented on #131073
Does the Start Extension Bisect command help you discover if one of your extensions is causing this?

Also, see https://github.com/microsoft/vscode/wiki/Performance-Issues

[2021-08-18 10:45] isidorn commented on #99784
No further actions planned here. Though work on the extension side is appreciated of course.
Thus closing this for now.

[2021-08-18 10:45] #99784 closed

[2021-08-18 10:47] mogaozq commented on #129991
It was a react jsx file.

[2021-08-18 10:47] isidorn commented on #114718
Same as my initial comment https://github.com/microsoft/vscode/issues/114718#issuecomment-771767306
Based on this I am closing this as out of scope since we do not plan to work on this

[2021-08-18 10:47] #114718 closed

[2021-08-18 10:52] damien-urruty-sonarsource opened #131076 "Extensions: Be able to differentiate binary files that are opened as plaintext files from "real" plaintext files"
When users open binary files, they are prompted with this message : "The file is not displayed in the editor because it is either binary or uses an unsupported text encoding. _Do you want to open it anyway ?_". If the user chooses to open it anyway, the binary file is then opened as a `plaintext` file.

Plain text files is something we are interested in in our [extension](https://github.com/SonarS

[2021-08-18 10:52] agreeff commented on #131075
Well well, I did actually miss that one.. Thanks. That is quite literally how I had imagined this working...

If there's an option to make them open there by default, then my feature request is already covered. 🤦🏼‍♂️ I just found the `terminal.integrated.defaultLocation` setting, changed it from `view` to `editor`, but that doesn't seem to affect the behaviour. Should I perhaps close off my featur

[2021-08-18 10:55] vighnesh192 commented on #125349
Hello, I'm sorry I should've kept you updated but I've made those changes and I just have to test it by uninstalling git.

[2021-08-18 11:01] jayeshmann commented on #125349
@vighnesh192 I have tested with uninstalling git. Can I take this?

[2021-08-18 11:01] aeschli commented on #130387
You can achieve this with:
[code]

[2021-08-18 11:01] #130387 closed

[2021-08-18 11:05] hediet commented on #130292
I think this is already fixed in the latest VS Code insider build.

Can you verify that?

![recording](https://user-images.githubusercontent.com/2931520/129887643-ec11ac5f-661e-4de7-acc6-88bec55faf1c.gif)

[2021-08-18 11:06] leodevbro commented on #131062
It's pretty cool approach for optimization.

Well, yeah, if it is doable with not a huge pain, then
`querying only the pairs whose range intersects a given viewport range`
is very cool.

[2021-08-18 11:11] ustyantsevxx opened #131077 "Ability to "Go Back" and "Go Forward" by touchpad gestures"
It would be nice to be able to jump back and forward in code ("**Go back**" and "**Go Forward**" commands in command pallette) by pressing mouse side buttons or touchpad (e.g three fingers sideway swipe in MacOS does the thing in Finder and Chrome  by default).

Right now these actions do nothing in VSCode ((

[2021-08-18 11:11] aeschli commented on #121577
You have a different code sample. Let's focus on the snippet given in the description.

[2021-08-18 11:15] vighnesh192 commented on #125349
Omg I just did that too...ready to push. What do we do?😅😂

[2021-08-18 11:16] hediet commented on #130292
I can verify that this does not work in VS Code stable, but it does work in VS Code insiders, so it is fixed.

[2021-08-18 11:16] #130292 closed

[2021-08-18 11:20] IllusionMH commented on #130996
What is your OS and what font you are using?
Is it reproducible with all extensions disabled? You can try this with <kbd>F1</kbd> and `>Developer: Reload Window With Extensions Disabled`

Because result in your screenshots differs from what I see (and I assume **hediet** as well)
`</` **doesn't have** coloring, but as `<` is colored then whole ligature should be colored
`/>` **has** coloring, but

[2021-08-18 11:21] agreeff commented on #131075
Alrighty, so I can clearly see that some other awesome people were way ahead of me here, and what I was (secretly, until recently) hoping for is already in the works! Thank you so much..

I was using <kbd>ctrl</kbd>+<kbd>\`</kbd> to launch a terminal, so I decided to look at the active keyboard shortcuts, in which I found the following:

Just for clarification:

* `workbench.action.terminal.toggle

[2021-08-18 11:21] #131075 closed

[2021-08-18 11:26] jrieken commented on #129194
Something similar happens even without a dedicated worker, e.g have the snippet below and see the extension host terminate

[code]

This is because the onerror-handler is very strict simply triggers an exit, see https://github.com/microsoft/vscode/blob/d18e54f820f87df1fa9f9bdd658b7f824c756f8d/src/vs/workbench/services/extensions/browser/webWorkerExtensionHost.ts#L287-L290

I will push a change to

[2021-08-18 11:27] #130563 closed

[2021-08-18 11:27] #130528 closed

[2021-08-18 11:27] #130463 closed

[2021-08-18 11:27] #130375 closed

[2021-08-18 11:27] #130276 closed

[2021-08-18 11:27] #130267 closed

[2021-08-18 11:27] #126664 closed

[2021-08-18 11:27] #124264 closed

[2021-08-18 11:27] #118736 closed

[2021-08-18 11:29] #129194 closed

[2021-08-18 11:30] #130449 closed

[2021-08-18 11:36] bpasero commented on #131076
Hm yeah, fair. Let me investigate this...

[2021-08-18 11:41] byehack opened #131078 "Show bracket in ruler"
Any plans to also add the "show Brackets In Ruler" settings?

it's really usefull when brackets are so long. we can see first/end of bracket in ruller with specified color in lef/middle/right of ruler.

from https://github.com/microsoft/vscode/issues/131001#issuecomment-900632100

[2021-08-18 11:44] aeschli commented on #130453
Looks like the TypeScript server does not create a folding regions for
[code]
    .test( "admin.video.list..", async () => {
        console.log();
    } )
    .test( "admin.video.list...", async () => {
        console.log();
    } )
[code]

[2021-08-18 11:44] gjsjohnmurray commented on #131077
My mouse side buttons already do this.

Version: 1.59.0 (user setup)
Commit: 379476f0e13988d90fab105c5c19e7abc8b1dea8
Date: 2021-08-04T23:13:12.822Z
Electron: 13.1.7
Chrome: 91.0.4472.124
Node.js: 14.16.0
V8: 9.1.269.36-electron.0
OS: Windows_NT x64 10.0.19043

[2021-08-18 11:44] vystepanenko commented on #116673
Works for me too. Just do not forget reload VS Code after changing this setting

thnx man!

[2021-08-18 11:46] isidorn commented on #104645
Closing as dup of  #89231

[2021-08-18 11:46] #104645 closed

[2021-08-18 11:46] alexr00 opened #131079 "Data URIs for jpgs don't open"
A user filed an issue that images aren't displaying correctly in the GitHub Pull Requests and issues extension (https://github.com/microsoft/vscode-pull-request-github/issues/2914).

I started looking, and found that opening data URIs for jpgs in general isn't working in version 1.59. I did some digging and found https://github.com/microsoft/vscode/commit/b8869cd9891e6653e2b8ca01e679d20e705f452c#d

[2021-08-18 11:47] isidorn commented on #101185
@mjbvz friendly ping

[2021-08-18 11:48] ustyantsevxx commented on #131077
My bad. I didn't use mouse recently)
I meant touchpad gestures in this case.

[2021-08-18 11:49] aeschli commented on #130460
What language is that?

The first screenshot is before the update?

Looks like semantic highlighting was added/removed.

To inspect that, set a cursor in the middle of `get_object`, and invoke the command `Inspect Editor Tokens and Scopes`

[2021-08-18 11:50] nikhenri commented on #104838
What do you mean ?

From: ***@***.***>
Sent: August 18, 2021 3:58 AM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [microsoft/vscode] Git: Clone to an alternate directory name (#104838)

Is there any update on this feature? 😢

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/microsoft/vscode/issues/104838#issuecomment

[2021-08-18 11:51] isidorn commented on #120718
I can no longer reproduce this with latest macOS BigSur and latest VS Code Insiders.
If people still see this please let me know and I will reopen

[2021-08-18 11:51] #120718 closed

[2021-08-18 11:52] Artur- opened #131080 "Unable to zoom out on an image"
Extension version: v0.29.2
VSCode Version: 1.59.0
OS: GitHub editor / mac

Steps to Reproduce:

1. Open https://github.dev/Artur-/screenshot-public/pull/1
2. Click "image.png"
3. Click on the right side image, it zooms in
4. Hold ctrl down and the icon turns into a "zoom out" icon
5. Click

Expected outcome:
Zoom out

Actual outcome: You see a menu with "Cut", "Copy", "Paste"

[2021-08-18 11:52] alexr00 commented on #131080
@mjbvz maybe a safari issue?

[2021-08-18 11:52] #121846 closed

[2021-08-18 11:53] #125547 closed

[2021-08-18 11:58] jooyoungseo commented on #98918
@isidorn I have tested the insider version that is better than the one with "document" role applied to terminal input. I still think we need to keep this issue open because...:

1. The terminal output still needs "document" role (terminal input must not have that role though).
2. Auto-suggestion is not read properly in terminal input, such as [radian](https://github.com/randy3k/radian).

[2021-08-18 11:59] Artur- commented on #131080
In Chrome, ctrl-click only shows the menu
In Safari, ctrl-click zooms out and also shows the menu

[2021-08-18 11:59] isidorn commented on #130971
@bpasero
No need to set the `aria-label` on the `AnchorElement` since screen readers can handle those elements, based on their `title` / `href`.

I think they should be consistent, and that both button and link support `Space` and `Escape`.

[2021-08-18 12:00] aeschli commented on #130165
We currently don't support references to $id

Duplicate of https://github.com/microsoft/vscode-json-languageservice/issues/55

[2021-08-18 12:00] #130165 closed

[2021-08-18 12:00] byehack commented on #130297
this issue will remain closed?

[2021-08-18 12:01] isidorn commented on #98918
Thanks for trying this out. Let's reopen due to 1. @Tyriar can we add a `document` role for the output?
As for 2. @jooyoungseo can you please open a new issue? That one does not seem related to this one? Thanks!

[2021-08-18 12:05] alexr00 commented on #130284
Thanks for filing this issue! We get our html syntax highlighting grammar from https://github.com/textmate/html.tmbundle. I've moved the issue to that repository.

[2021-08-18 12:05] #130284 closed

[2021-08-18 12:06] alexr00 commented on #131080
Thanks for the additional details. In Edge, I get only the zoom out.

[2021-08-18 12:07] isidorn commented on #130565
@leonardder no, contentEditable has some other technical issues which we were not able to solve. More details [here](https://github.com/microsoft/vscode/issues/97154#issuecomment-783624395)

@DanteGagne thanks for providing Visual Studio info. Let's try to use the same sounds for overlapping decorations then.
It seems like there is not a good screen reader technique which we can use at the moment.

[2021-08-18 12:13] MeghanshBansal opened #131107 "Error loading preloads: Could not find renderer"
Issue Type: <b>Bug</b>

Encountered "Error loading preloads: Could not find renderer" as output while creating a model using tensorflow

Extension version: 2021.8.1236758218
VS Code version: Code 1.59.0 (379476f0e13988d90fab105c5c19e7abc8b1dea8, 2021-08-04T23:13:12.822Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPU

[2021-08-18 12:15] Krzysztof-Cieslak opened #131083 "[Inline Suggestions] Passing the autocomplete information to the `InlineCompletionItemProvider`"
One of the things that were mentioned when we discussed https://github.com/microsoft/vscode/issues/129495 was an idea of passing currently selected item from autocomplete widget to the `InlineCompletionItemProvider`.

This sounds nice but we'd be more interested in getting a whole list of the autocomplete suggestions (or potentially in the future, even more semantic information) rather than just a

[2021-08-18 12:25] zzeitt commented on #130967
Does this issue occur when all extensions are disabled?: Yes

    VS Code Version: 1.59.0
    Commit: 379476f
    Date: 2021-08-04T23:13:20.182Z
    Electron: 13.1.7
    Chrome: 91.0.4472.124
    Node.js: 14.16.0
    V8: 9.1.269.36-electron.0
    OS: Linux x64 5.4.0-70-generic

---

Environment information is shown above.

I saw your working case, seems like you've tested on Windows, but my proble

[2021-08-18 12:29] joachim-n opened #131084 "Search files by name is very slow even for cases that could be optimised"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.59.0
- OS Version: MacOs 10.15.7

Steps to Reproduce:

1. Do CMD-P to open the 'search files by name' dropdown
2. Paste in a path to a file in the current project, such as 'foo/bar/file.php'
3. It takes a VERY LONG TIME - 30 seconds +

Could this be optimised so that if a path is given, these are checked before t

[2021-08-18 12:30] vdnhi opened #131085 "Auto choose suggestion when press dot"
Issue Type: <b>Bug</b>

Just typing multiple dots (...) and it auto completes with the suggestions instead of filling dots only.

VS Code version: Code 1.59.0 (Universal) (379476f0e13988d90fab105c5c19e7abc8b1dea8, 2021-08-04T23:14:40.191Z)
OS version: Darwin x64 19.6.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60G

[2021-08-18 12:47] drmasato opened #131086 "python extension loadingが止まらない"
Issue Type: <b>Bug</b>

python extension loadingが止まらない
M1MACにVSCodeをインストールしてjupyter notebookを立ち上げるとpython extension loadingが止まらない。

VS Code version: Code 1.59.0 (Universal) (379476f0e13988d90fab105c5c19e7abc8b1dea8, 2021-08-04T23:14:40.191Z)
OS version: Darwin arm64 20.5.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Apple M1 (8 x 24)|
|GPU Status|2d_

[2021-08-18 12:47] drmasato opened #131087 "python extension loadingが止まらない"
Issue Type: <b>Bug</b>

python extension loadingが止まらない
M1MACにVSCodeをインストールしてjupyter notebookを立ち上げるとpython extension loadingが止まらない。

VS Code version: Code 1.59.0 (Universal) (379476f0e13988d90fab105c5c19e7abc8b1dea8, 2021-08-04T23:14:40.191Z)
OS version: Darwin arm64 20.5.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Apple M1 (8 x 24)|
|GPU Status|2d_

[2021-08-18 12:47] drmasato opened #131088 "python extension loadingが止まらない"
Issue Type: <b>Bug</b>

python extension loadingが止まらない
M1MACにVSCodeをインストールしてjupyter notebookを立ち上げるとpython extension loadingが止まらない。

VS Code version: Code 1.59.0 (Universal) (379476f0e13988d90fab105c5c19e7abc8b1dea8, 2021-08-04T23:14:40.191Z)
OS version: Darwin arm64 20.5.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Apple M1 (8 x 24)|
|GPU Status|2d_

[2021-08-18 12:48] #131086 closed

[2021-08-18 12:48] #131088 closed

[2021-08-18 12:48] gjsjohnmurray commented on #131087
/duplicate of #131086

[2021-08-18 12:48] #131087 closed

[2021-08-18 12:50] gjsjohnmurray commented on #131085
Probably #130096 which is fixed in upcoming recovery release.

[2021-08-18 12:52] vdnhi commented on #131085
Then this is a duplicated issue, thank you.

[2021-08-18 12:52] #131085 closed

[2021-08-18 13:00] hdpklm opened #131089 "Any news about serial port"
Hello VSCode

I use vscode for programing arduino
when will you solve this problem.

thank you.

[2021-08-18 13:03] bpasero commented on #130436
Language mode will not persist when document closes and reopens. So this seems to work as designed.

[2021-08-18 13:18] agreeff commented on #131075
That makes perfect sense. Possibly because most people would *instictively think* of <kbd>ctrl</kbd>+<kbd>\`</kbd> as a sort of "get me into a terminal", as opposed to "toggle the pane that contains a terminal"...? 🤔

That said, going by the explicit names of the keyboard shortcuts, there really isn't any space for confusion.. The shortcut I *needed* for my workflow is specifically the "Terminal:

[2021-08-18 13:18] hediet commented on #131083
I don't have good ideas here.

There might be a completion item cache (@jrieken knows more about it), but if we forward its content to inline completion item providers, I doubt we will ever be able to finalize the inline completion API.

[2021-08-18 13:24] hediet commented on #129708
`ModesContentHoverWidget._renderMessages` is called when the decoration changes.

This line is also not called everytime I click on "next":
https://github.com/microsoft/vscode/blob/401fffe5d6edc76f62344a817940c082b7604348/src/vs/base/browser/ui/hover/hoverWidget.ts#L67

I'm out of ideas how this can be fixed.

[2021-08-18 13:31] jooyoungseo opened #131090 "[Accessibility] NVDA and JAWS do not read focused auto-suggestion item properly in terminal input"
CC @isidorn

Does this issue occur when all extensions are disabled?: Yes

## System Info

Version: 1.60.0-insider (system setup)
Commit: 0214d59846f265d9e50f53b61e2267407d81cbfb
Date: 2021-08-18T05:14:14.284Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19043

Steps to Reproduce:

1. Install [R for Windows](https://cran.r-project.org/bi

[2021-08-18 13:31] misolori commented on #131057
We decided to keep the list to the top most used files at the time, as each file icon has to have a icns + ico file, which adds more mbs. We've previously closed requests for adding more because of this but will wait to see what @joaomoreno thinks.

[2021-08-18 13:34] bersbersbers opened #131091 "Diff chunks are not minimal"
[Monace Playground Repro](https://microsoft.github.io/monaco-editor/playground.html?source=v0.40.0-dev.20230704#XQAAAALKAgAAAAAAAABBqQkHQ5NjdMjwa-jY7SIQ9S7DNlzs5W-mwj0fe1ZCDRFc9ws9XQE0SJE1jc2VKxhaLFIw9vEWSxW3yscw2YmLaBJ5fGqgZNtIIGM6BnaWNlFk-HzucdJmwgffCJwWZ7P2mi3pjMKBhAZkCYzCwNyRuscN-jbeqHOmuKRscuPg32_4dMQJn6kkt0zCnND6-d5SdT_Dn5oV43PkAjaKYgK6QDgLw1eFA9w_Cc5pzPwKBt6KmxqhfUG3XcB4Wi4iZK7V0AGV0gxSk924

[2021-08-18 13:37] hediet opened #131092 "Cannot colorize parts of Ligatures"
Set
[code]
and create a foreground color decoration for `>` in `/>`.

Notice that it has no effect.

Create a color decoration for `/` in `/>`. Notice that is colors the entire ligature.

This problem can be reproduced by this fiddle:
https://jsfiddle.net/xL4ms6e8/

I think, as fix, characters that have different inline class names should be separated by a no-width-whitespace.

This issue is the u

[2021-08-18 13:40] misolori commented on #131057
One clarifying question: are you proposing to add that list of file types to show our default file icon or to show their custom file icon individually?

[2021-08-18 13:45] IllusionMH commented on #131092
Will these ZWS affect editor actions like <kbd>Backspace</kbd> and copy operations?

P.S. Typo in code - `` ` `` instead of `,`

[2021-08-18 13:45] aeschli commented on #130678
Well, we fist would need a command that toggles import folds.

[2021-08-18 13:48] IllusionMH commented on #131091
Looks like duplicate of #84981

[2021-08-18 13:49] isidorn commented on #131090
@jooyoungseo demonstrated this issue to me, the problem seem to be that in this case a custom suggest box appears in the terminal. And this suggest box does not get properly read. I am not sure if we can control this custom suggest box, or how we would fix this.

[2021-08-18 13:55] p-avital opened #131094 "Configurable peek window position"
Hi all,

As much as I love the peek feature, I'd really like its position to be configurable, as its only position currently obstructs reading of the following lines.

I'd personally be happy with being able to have it spawn above the peeked symbol instead of bellow, but with all the work being done in allowing panes to be moved around in vscode, I guess being able to define a set part of the wind

[2021-08-18 13:55] alexr00 commented on #123664
I have a fix ready in which during variable resolving in the extension host we go to the renderer to get the correct URI. However, there are several reasons why I'm not 100% happy with this change:
- Variable resolving can result in extra round trips to the renderer. (slower)
- Lots of sync code duplicated as async code. (also slower)

These two things are not great for everyone. @vimmerru it seem

[2021-08-18 13:55] johnPaslawski commented on #122718
Thank you so much.. that simple hint ends my 5h ordeal battle between me and terminal blurriness..

[2021-08-18 13:56] bersbersbers commented on #131091
@IllusionMH well, other diff chunk issues have been solved quite quickly in the past, see https://github.com/microsoft/vscode/issues/119051 or https://github.com/microsoft/vscode/issues/121436.

[2021-08-18 14:00] IllusionMH commented on #131091
/assign @alexdima (a person who resolved 2 previous)

OK, wasn't aware of that changes.

[2021-08-18 14:00] alexchandel commented on #41289
Please add `File -> New View Into File`, or `New View Into Workspace` if you can't support a single file.

[2021-08-18 14:01] hediet commented on #131092
No, it is only for rendering the view model.
All operations work directy on the model/view model.

[2021-08-18 14:02] Karl-EdwardFPJeanMehu commented on #49661
It would be really helpful to have this feature.

[2021-08-18 14:06] isidorn commented on #125686
Yeah I see the same.
Clicking with the external mouse works nicely though.
The problem seems to be that the bottom area is reserved for touch to drag out the dock.

Only fix would be that we render the whole workbench pushed some pixels to the top, which I think we were previously doing. However I really dislike this solution since we loose on screen real estate.

So I suggest to not do anything f

[2021-08-18 14:07] aeschli commented on #130301
Sorry, I think we should discuss whether the benefits really outweigh the costs. I agree with the downside listed above. That said, none of them has caused real problems so far. The migration is work, for us and for the users of our node modules. And we end up in a world where the old modules still are around, referenced and mentioned in code, documentation, samples, etc.
Unless there's organizati

[2021-08-18 14:07] fulldecent opened #131095 "Find/replace all: request keybinding for DISMISS action"
Issue Type: <b>Feature Request</b>

<img width="436" alt="Screen Shot 2021-08-18 at 10 06 39" src="https://user-images.githubusercontent.com/382183/129913190-3ca3dc98-b514-4f46-9137-6c29063ca015.png">

^^ I would like this to please be keyboard shortcutable

VS Code version: Code 1.59.0 (Universal) (379476f0e13988d90fab105c5c19e7abc8b1dea8, 2021-08-04T23:14:40.191Z)
OS version: Darwin arm64 20.6.0

[2021-08-18 14:12] misolori commented on #131031
@IanMatthewHuff we can't unstack those icons as we need a solution that works for single line outputs:

<img width="217" alt="CleanShot 2021-08-18 at 07 12 09@2x" src="https://user-images.githubusercontent.com/35271042/129913895-8048bcf6-7166-49ae-9cf8-5c33a576e992.png">

So I think the option to have the output toolbar visible would probably help your use case.

[2021-08-18 14:13] #124231 closed

[2021-08-18 14:14] TylerLeonhardt commented on #131019
/verified

[2021-08-18 14:15] Rokin05 commented on #34385
Thank you !, fix my arch problem too

[2021-08-18 14:20] aeschli commented on #130756
Did you try `Goto Symbol in Editor...` (Ctrl + Shift + O). It lets you directly navigate to a symbol.

[2021-08-18 14:22] vimmerru commented on #123664
I don't think it is frequent case, but when it happens result is quite confusing. So decision is up to you.

[2021-08-18 14:24] aeschli commented on #124043
Closing as I need sample that reproduces the problem, e.g. by adding a change set to https://github.com/aeschli/schemas

[2021-08-18 14:24] #124043 closed

[2021-08-18 14:25] btrautmann commented on #131017
I was able to confirm that this does _not_ happen with all extensions disabled. I'll file something with the intellij key bindings developer, thank you!

[2021-08-18 14:25] #131017 closed

[2021-08-18 14:25] isidorn commented on #125306
Nothing for this milestone. Moving out to backlog.
@TylerLeonhardt also assigning to you since you own the Quick Pick and maybe this could be interesting? Let me know what you think.

[2021-08-18 14:31] tybruffy commented on #131018
Not entirely sure I did that right, let me know if this isn't what you need
[vs-code-crash.zip](https://github.com/microsoft/vscode/files/7008013/vs-code-crash.zip)

[2021-08-18 14:37] lobosan commented on #130273
@aeschli thanks that worked perfectly :)

[2021-08-18 14:38] #131089 closed

[2021-08-18 14:39] jooyoungseo commented on #131090
@leonardder Do you think this issue has to do with NVDA? Can this be handled on NVDA's end?

[2021-08-18 14:39] aeschli commented on #102795
I just tested that automatic theme switching based on the OS scheme works in VS Code 1.59 on Ubuntu 21.04.

- set `"window.autoDetectColorScheme": true`
- switching the OS themes with change the VS Code theme according to `workbench.preferredDarkColorTheme` and `workbench.preferredLightColorTheme`

[2021-08-18 14:39] #102795 closed

[2021-08-18 14:41] jooyoungseo commented on #131090
@leonardder, it seems like this issue happens in CMD.exe as well.

[2021-08-18 14:44] isidorn commented on #131090
@jooyoungseo yeah, I think this is a custom element, and VS Code I think does not have control over how it is being rendered.
Maybe the best would be file an issue against radian https://github.com/randy3k/radian

[2021-08-18 14:53] aeschli commented on #130936
We currently don't have such a theme category, just name and type (dark, light...). And there already thousands of themes published. I think its too late for that.

[2021-08-18 14:54] u84six opened #131098 "VSCode window always opens between laptop monitor and extension monitor"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.59.0
- OS Version: Windows 10 1909

Description:
I have a laptop with extension monitor setup. The laptop is a Dell and is currently set to its native res of: 3840x2400. My extension monitor is a Dell set at its native res of: 1920x1200.

I'm also using 3 virtual desktops because I have certain apps that always need

[2021-08-18 14:55] aeschli commented on #130937
Can you add screenshots that show the problem (maybe before and after)

[2021-08-18 14:56] #130160 closed

[2021-08-18 14:57] alexr00 commented on #123664
Since the fix will result in additional slowness for all users, I will not make the fix.

[2021-08-18 14:57] #123664 closed

[2021-08-18 14:58] MerwaneHAMADI commented on #131056
Something I should mention.
When I run jest :
`node --inspect scripts/jest ` and attach the port 9229 to vs code, all the breakpoints work.

But they don't work when I serve opensearch dashboard  and visit it on chrome. I think the conversion JS to TS works but not TS to JS. Somehow vscode can't find the associated JS file of a TS file, and therefore can't put a breakpoint on the bundled JS file.

[2021-08-18 15:00] joyceerhl commented on #131040
I uninstalled all extensions and the problem persists

![image](https://user-images.githubusercontent.com/30305945/129922091-904d4e2c-9299-47b1-9d85-b680e9f8ffaf.png)

[2021-08-18 15:03] kentcdodds commented on #121577
My apologies. Here:

![image](https://user-images.githubusercontent.com/1500684/129922122-ba2cd7fe-3fcb-4cb6-a2c7-4fef9e523832.png)

Looks like it's exactly the same as my other screenshot.

What I find interesting is when I put my cursor on the closing `</script>` html tag or even the `</html>`, it incorrectly identifies language as "JavaScript"

![image](https://user-images.githubusercontent.com

[2021-08-18 15:16] aakarshsingh commented on #58252
+1

IntelliJ wins in terms of highlighting it.

![image](https://user-images.githubusercontent.com/6056091/129924469-5f49c491-f315-400f-b7a1-c365facf32ac.png)

[2021-08-18 15:18] aeschli commented on #131068
It's currently not possible to use file icons in labels.
File icons don't have an identifier but are selected based on a resource (name and content). So we would need a notation that specifies a resource in a label

Something like `This is is icon for TypeScript files: &(hello.ts)`.

For a theme like the minimal theme, you would only see a generic file icon here. So not sure that is extremely usef

[2021-08-18 15:19] intervalia opened #131100 "Auto Documentation"
I like how VSCode reports how large an external repo is.
I would like a related feature:
When VSCode reports the size of the repo, can it also provide a link to the documentation of that repo.

For example I have the line:
[code]

And VSCode shows this:
[code]

I would love to see this:
[code]

And, when I click on `(Documentation)` it would open a browser to  NPM repo page: https://www.npmjs.com/

[2021-08-18 15:21] isidorn commented on #129601
After discussion in the UX meeting I agree with @stevencl 100%
I think we should not change the hint.

[2021-08-18 15:21] connor4312 commented on #131056
/jsDebugLogs

The first thing I notice is that you don't have a `sourceMap: true` in your tsconfig, so sourcemaps won't get generated to allow us to point back to the original sources.

[2021-08-18 15:22] aeschli commented on #129989
Thanks for the reply.

[2021-08-18 15:22] #129989 closed

[2021-08-18 15:25] connor4312 commented on #130961
@mschief148 please run the [steps linked](https://github.com/microsoft/vscode/wiki/Performance-Issues#profiling-the-renderer-process) on VS Code itself, not your app.

[2021-08-18 15:25] a5hk commented on #130936
Is it possible to use the `displayName` used in `package.json` of the theme and group themes under that name?

[2021-08-18 15:28] meowWhat commented on #131068
My use case is to do a file jump in a `Quick Pick item` It's going to look like this
![image](https://user-images.githubusercontent.com/59830413/129926380-1f24b030-2a74-4162-ac40-e58049d9d499.png)
I hope the copy I show can be the same as `CTRL + P,` with file icon, so that it will be more beautiful
![image](https://user-images.githubusercontent.com/59830413/129926555-0796962b-4ddb-4fb0-afca-f5aa2

[2021-08-18 15:32] joyceerhl commented on #131040
It looks like that error message is being logged because the notebook types are cached in globalStorage:

https://github.com/microsoft/vscode/blob/dd98268658431335b853fd58e29a77366ae6fe9f/src/vs/workbench/contrib/notebook/browser/notebookServiceImpl.ts#L65-L70

If I delete AppData\Roaming\Code\User\globalStorage\state.vscdb (could probably just delete the memento/notebookEditors key), I can open n

[2021-08-18 15:36] iket0731 commented on #22739
I have created a new extension for this issue.
https://marketplace.visualstudio.com/items?itemName=iket0731.symbol-navigate-back

I decided to create a new one because the existing extension goto-symbol-stack is not maintained and not good enough for me (stops working when it reaches the max stack size, does not support "Go to Implementation", etc.).

I hope this helps in the meantime until it is

[2021-08-18 15:37] #131100 closed

[2021-08-18 15:37] jrieken commented on #130625
fixed with @mjbvz's IPC improvements

[2021-08-18 15:37] #130625 closed

[2021-08-18 15:38] bpasero commented on #131098
Probably the same as https://github.com/microsoft/vscode/issues/115768

[2021-08-18 15:38] aeschli commented on #130229
As for the theme, do you mean the `Dart+` or `Dark+`? The gif shows that you select the built-in `Dark+`.

The built-in `Dark+ does not define 'italics` for `keyword.control`.
Also, I can't reproduce the issue on my machine.

Did you customize the theming rules in the settings? (`editor.tokenColorCustomizations`)

[2021-08-18 15:42] Yugue opened #131102 "VS code JS find references only work for the current file"
Issue Type: <b>Bug</b>

I am using Go to References function on VS code on a JS file. It only finds references on the current file, where I would like to find all references across all the files in the project directly. I do not want to use search all, since I enjoy the little preview window that Go to References provides. With TS, Go to References finds for all files, but with JS, it seems to not

[2021-08-18 15:42] Echo343 commented on #35307
+1 for this

[2021-08-18 15:43] sebagl commented on #35307
+1 for this

[2021-08-18 15:45] IanMatthewHuff commented on #131031
@misolori Yeah, that makes sense, but then in the single line case, where does the missing renderer warning go? Since it looks stacked below the overflow icon?

[2021-08-18 15:47] rebornix commented on #131040
@joyceerhl thanks, I'm not sure how we end up with that state. I tried following steps but didn't reproduce (maybe that explains why most ppl don't have such issue)

* Install old VS Code 1.58
* Install Jupyter
* Open notebooks
* Upgrade VS Code to 1.59
* Notebooks still open

@rchiodo can you try to delete `memento/notebookEditors` and see if it fixes the problem, please don't delete the `state.v

[2021-08-18 15:47] sayedsadat98 commented on #127739
Same issue....I disabled copilot and the auto close bracket functionality is working....
I think copilot dev will soon fix this bug!

[2021-08-18 15:47] aeschli commented on #121577
It's strange that you get slightly different scopes. Your language mode is HTML and you have all extensions disabled?
Also, can you try with built-in Dark theme. Whether you get semantic highlighting depend on the theme. The theme can allow/disallow semantic highlighting.

The semicolon issue is a known problem with our embedded grammar.

[2021-08-18 15:48] bhack commented on #35307
Please upvote with the reaction on the ISSUE description. I don't think that using explicit `+1` comments will be evaluated to escalate the team priority and also this will trigger noisily notifications to all the subscribed users.

[2021-08-18 15:49] aeschli commented on #130936
That would be group by extension, then?

[2021-08-18 15:49] isc-bsaviano commented on #128151
/verified

[2021-08-18 15:51] a5hk commented on #130936
Yes exactly, I meant that from the start, Apparently I didn't communicate that well.

[2021-08-18 15:55] iket0731 commented on #27112
I have created a new extension for this issue.
https://marketplace.visualstudio.com/items?itemName=iket0731.symbol-navigate-back

I hope this helps.

[2021-08-18 15:58] IllusionMH commented on #131078
/assign hediet -alexdima

[2021-08-18 16:01] mhoumann opened #131103 "Window inactive/active border not rendered correctly on hires monitor"
Issue Type: <b>Bug</b>

Windows 10, 4K monitor with 150% scaling.
Top/left hand borders render with a white line below/to the right of the border.
Right hand border not rendered/visible

VS Code version: Code 1.59.0 (379476f0e13988d90fab105c5c19e7abc8b1dea8, 2021-08-04T23:13:12.822Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: Yes

<details>
<summary>System Info</summary>

|Item|Value|

[2021-08-18 16:01] tanhakabir opened #131104 "Separate error output from informational output"
When you have a stream of output, it's difficult to tell where the there's an error if any. In classic Jupyter notebooks the error has a red background and is separated into its own scrollable container like so:

![129931554-89fbbbfe-586b-4a8b-8564-17b5a00ada8e](https://user-images.githubusercontent.com/12758612/129932037-f822f18a-1fa9-4d4c-9f53-685641525b30.png)

[2021-08-18 16:05] byehack commented on #130516
+ support up/down key on peek view panel focused.

[2021-08-18 16:07] connor4312 commented on #130301
We have had some issues, e.g. we still need to recover vscode-dts since no one can publish it right now. But yes the migration is a suggestion, not a mandate. We should publish new packages under `@vscode` when relevant, but use best judgement to consider if and how you want to move packages over. Also, as mentioned, the migration can be very gentle since the old packages can exist and even be "du

[2021-08-18 16:09] aeschli commented on #59826
We allow a custom TreeView to define a resourceUri for the TreeItem. It that's set the item will get the icon that matches that the given resource.

We should add a similar API for QuickPickItem

[2021-08-18 16:09] aeschli commented on #131068
that's #59826. Ok if I close this as a duplicate?

[2021-08-18 16:11] leonardder commented on #131090
How does VS Code read the selection when arrowing through something interactive in Bash? I can't come up with a suggestion that quick.
I assume the selected item is highlighted, which triggers a redraw of several suggestions that causes VS Code to think that there's new content in the console.

[2021-08-18 16:16] alexdima commented on #128895
@tompinataro I cannot see the attached gif at https://github.com/microsoft/vscode/issues/128895 . I don't believe email attachment are supported by GitHub.

[2021-08-18 16:18] mschief148 commented on #130961
My bad sorry. Here it is
[CPU-20210818T111620.zip](https://github.com/microsoft/vscode/files/7008652/CPU-20210818T111620.zip)

[2021-08-18 16:20] #128480 closed

[2021-08-18 16:21] connor4312 commented on #130961
Ok, thanks! The profile is pretty sparse, but I think I've seen this sometimes hitting BPs in the VS Code repo too. @deepak1556 is there any Electron-level profile information we can take to see if something's happening there?

[2021-08-18 16:23] kusyka911 commented on #29816
I think this would be a nice solution.

[2021-08-18 16:26] isidorn commented on #130424
DONE 🎉

[2021-08-18 16:26] #130424 closed

[2021-08-18 16:26] connor4312 opened #131105 "Markdown-specific search for GitHub.dev"
I've been using GitHub.dev more now that there's a handy shortcut for it. Something I really miss is being able to ctrl+f in readmes for specific content I'm looking for. Today that opens the generic find window that operates on the whole window/editor. I know we don't have control over the native find behavior in browser, but for github.dev could we have a custom "find" implementation in the mark

[2021-08-18 16:30] rbfreytag opened #131106 "Latex not rendered in jupyter markdown"
Latex equations are no longer rendered in Jupyter notebook markdown cells.
This is what a markdown cell looks like now.
![image](https://user-images.githubusercontent.com/47978046/129865079-1e9896be-9c11-4d95-90aa-d4c45d62e761.png)
Compared to in jupyter notebook:
![image](https://user-images.githubusercontent.com/47978046/129865473-83e60108-5c6a-43cc-92c6-dd6dca623565.png)

This feature was worki

[2021-08-18 16:31] misolori commented on #131031
@IanMatthewHuff that's a good point, it's probably more rare for this to happen since it would likely happen on cells with charts, but we could extend the cell to make room for the warning icon. Also, the output `...` overflow icon allows for that menu to grow/scale over time as well.

[2021-08-18 16:31] rchiodo commented on #131106
It might be that you need to 'render' the cell? CTRL+Enter should cause the markdown to render.

[2021-08-18 16:33] misolori commented on #130813
Our default light theme has always had the same activity bar colors. If you want to change these you can edit your user settings via:

[2021-08-18 16:36] #130813 closed

[2021-08-18 16:38] TLKG commented on #130377
Connor,
Forget about the browser issue, it's a totally diff one.
The exit is on a Node.js program running as backend API:
My machine is always power off at the end of the day.
First start in the morning, if F5 starts this API without any breakpoint enabled, as soon as a request comes in will cause "Process exited with code 3221225477"
But if F5 with one breakpoint enabled anywhere in the execution

[2021-08-18 16:40] hdpklm commented on #131089
ok thank you.

[2021-08-18 16:41] misolori commented on #130516
@byehack can you elaborate? up/down keys already work on the peek view panel

[2021-08-18 16:41] fis-cz commented on #47573
Auto save should work only if another file was not modified previously. Otherwise it should be optional to show dialog and let user decide.

[2021-08-18 16:48] u84six commented on #131098
Yes, I did leave out that last piece of info about scale. Monitor 1 (the laptop) is scaled to 250%, otherwise I can't see a thing because everything is too small. So I can't really scale it down.

[2021-08-18 16:53] u84six commented on #115768
I've updated #131098  with details of the scale settings on monitor 1 (250%)

[2021-08-18 16:58] deepak1556 commented on #130961
This seems to be a side effect of the occlusion tracker, duplicate of https://github.com/microsoft/vscode/issues/123257. Can you try launching the app with `--disable-features=CalculateNativeWinOcclusion` and see if the issue happens.

Also what does your setup look like (ex:) are you running in a multi-monitor configuration, can you provide a screen recording showing the issue repro steps. Thanks

[2021-08-18 17:04] usernamehw opened #131109 "Should default themes specify link hover color?"
On the web (and not only) links usually react to hover (underline or color change). Right now in vscode in some places there is underline, like in markdown preview, in other places there is no style change, like in Settings UI or an editor hover.

There is already a color for that `textLink.activeForeground`. I think it would be better if default themes specified it.

[2021-08-18 17:06] DonJayamanne commented on #130499
Summary of discussion:
**Problem:**
* Assume we have two extensions, renderer Extension R & and regular Extension A.
* When a notebook is opened and output is renderers, renderer extension will get loaded and output displayed.
* Renderer extension could send messages to extension host, however its possible the extension Extension A has not yet been activated, hence the message is never handled.

*

[2021-08-18 17:17] alexdima commented on #129149
Let's first try to find out what command executes on your machine, with your settings and your keybindings when pressing `ctrl+/`. Could you please [try the following](https://github.com/microsoft/vscode/wiki/Keybinding-Issues#basic-troubleshooting):

* Run the command `Developer: Toggle Keyboard Shortcuts Troubleshooting`
* This will activate logging of dispatched keyboard shortcuts and will open

[2021-08-18 17:18] vtjnash opened #131110 "Was bug #118267 filed upstream with Apple?"
(opening a new issue for this question since the old issue is locked)

Did https://github.com/microsoft/vscode/issues/118267#issuecomment-797016213 get filed with Apple in Feedback Assistant <https://developer.apple.com/bug-reporting/>? I will keep the work-around for this when I make a libuv release with that feature, but also would be helpful to file an upstream issue and know the FB# for it.

[2021-08-18 17:22] rebornix commented on #130586
This is a duplicate of https://github.com/microsoft/vscode/issues/131040 and we are going to have a fix it soon in recovery build. thanks for the info.

[2021-08-18 17:22] #130586 closed

[2021-08-18 17:23] joao-aguirre opened #131111 "activating terminal profile keeps closing combo boxes"
Issue Type: <b>Bug</b>

I know it is a little weird, but when I define a terminal profile using:

[code]
and later on use this profile as default by:

[code]

Then, whenever I open a combo box (lithe the bombo box at the Output window, allowing me to choose which output to check, the combo box gets closed even if I am still navigating it.

VS Code version: Code 1.59.0 (379476f0e13988d90fab105c5c19

[2021-08-18 17:23] alexdima commented on #129122
Yes, this is by design. The scrollbar slider is artificially increased to allow to be gripped with the mouse. This is pretty standard behavior of scrollbars... all the scrollbars I have seen, native or otherwise have a min height (vertical ones) / min width (horizontal ones)... I agree this becomes confusing for very large files, but the only alternative I can think of is to remove this minimum si

[2021-08-18 17:23] #129122 closed

[2021-08-18 17:29] byehack commented on #130516
https://user-images.githubusercontent.com/26390254/129944666-77ec3d5e-d625-483c-aa05-5083d065b374.mp4

stable v1.59.0

[2021-08-18 17:32] aMadReason opened #131112 "Context Menu 'Open in Integrated terminal' not honouring default profile of git bash and instead opens in powershell"
Issue Type: <b>Bug</b>

windows 10 run vscode insiders build
Set default terminal profile to Git Bash
Use Explorer and right click on a folder and select 'Open in Integrated Terminal'

I would expect the default profile to run but it always opens in powershell even though using the + button in terminal opens git bash.

VS Code version: Code - Insiders 1.60.0-insider (0214d59846f265d9e50f53b61e2267

[2021-08-18 17:37] 2u6z3r0 commented on #33725
I was facing same issue for js code.
Setting **"editor.acceptSuggestionOnCommitCharacter": false** resolved my issue.

[2021-08-18 17:40] mjbvz commented on #131102
Have you tried creating a jsconfig?

[2021-08-18 17:43] gregvanl opened #131113 "Markdown settings create two Settings editor tree entries"
- VS Code Version: 1.59.0
- OS Version: Windows 10

If you filter the Settings editor on "markdown", you can see that there are two "Markdown" entries in the Settings editor tree entries.

![image](https://user-images.githubusercontent.com/12818376/129946242-95e88e71-9df4-4822-b01b-4ddf90adbe43.png)

For some reason, the Markdown > Math: Enabled setting creates a new tree node.

[2021-08-18 17:43] mjbvz commented on #101185
I'm not sure how to fix this

[2021-08-18 17:44] alexdima commented on #128689
@Alexzanderk The setting you want is `editor.autoClosingDelete`
![image](https://user-images.githubusercontent.com/5047891/129946419-ca45fa2b-305c-416e-90df-5b2f8a97b4c8.png)

[2021-08-18 17:44] #128689 closed

[2021-08-18 17:44] mjbvz commented on #131079
Can you use a custom file system provider instead?

[2021-08-18 17:45] mjbvz commented on #130453
Duplicate of https://github.com/microsoft/TypeScript/issues/25782

[2021-08-18 17:45] #130453 closed

[2021-08-18 17:45] mjbvz commented on #129991
Please share example code that demonstrates the issue

[2021-08-18 17:45] mjbvz commented on #129991
Also does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2021-08-18 17:45] MANZILMEHTA commented on #129884
This worked for me as well..Thank You..

[2021-08-18 17:46] #131072 closed

[2021-08-18 17:48] mjbvz commented on #131021
Ok, let me know if you see this using the 4.4.1-RC or the latest TS version (0817)

[2021-08-18 17:48] #131021 closed

[2021-08-18 17:58] Yugue commented on #131102
Yes, did not help.

[2021-08-18 17:58] AiverReaver commented on #131113
Yeah for some reason there are two markdown entry

[2021-08-18 18:00] misolori commented on #130516
@byehack the proposal here would be to bring the panel to the warning/error peek views so you will be able to navigate via up/down

[2021-08-18 18:01] igorskyflyer commented on #131068
Yes, exactly the use-case for which I need this feature, as well. 👍

[2021-08-18 18:01] MindlessMachine commented on #130948
thank you @kateus65, it seemss a great turnaround,
let's see what the vscode/jupyter developers has to say about this and we hope they come with a solution or a update fix for this issue.

[2021-08-18 18:02] TylerLeonhardt commented on #129601
Yeah it seems like the consensus was to leave it as is which I think is nice. Closing this. Great discussion everyone!

[2021-08-18 18:02] #129601 closed

[2021-08-18 18:07] TylerLeonhardt commented on #131054
Granted I come from a LTR world but I've always seen checkboxes on the left side.

At best, I think we could offer a configuration for having the checkboxes on the right side... but I'd only do that work if it's heavily requested because I personally don't think it provides a ton of value. I'll give this feature-request and we'll see how others feel about it.

[2021-08-18 18:10] TylerLeonhardt commented on #130845
Thanks @zhouxinghong. This is a reasonable feature request. #85374 is related.

[2021-08-18 18:12] Spongman opened #131114 "hover links in terminal disappear when new output appears"
Issue Type: <b>Bug</b>

this is using windows client with linux remote-wsl guest in terminal window. use-case is clicking filenames in a program's console log output:

- run program in terminal window
- program outputs log line containing filename
- hover over filename in terminal window
- underline appears indicating clickable link
- wait
- program outputs another log line
- hovered link disappea

[2021-08-18 18:15] rzhao271 commented on #130471
@ImAbhishekTomar I see three crash dumps. For two of them, it looks like something to do with the GPU. If you run `code --disable-gpu`, is the problem mitigated?

Meanwhile for the other crash dump, it seems to be from a read access error in `content::WebContentsImpl::GetRenderViewHost` while it's updating the zoom level. Here is a symbolicated trace for that crash dump [11e31-symbolicated.log](ht

[2021-08-18 18:15] phedlund113 opened #131115 "Unable to close file updated while VSCode had it open."
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.59.0
- OS Version:Windows 10 Pro  10.0.19042 build 19042 x64

Steps to Reproduce:

1.Open File A
2.Open File B
3. Update File B outside of VS Code
4. Close File B
5. File B will close then re-open with the old version even if you select cancel changes.

[2021-08-18 18:16] RJ1911 commented on #130903
![ezgif-3-abacac1a682d](https://user-images.githubusercontent.com/80115748/129950804-2d95919f-40d6-4bc5-97ed-276d913cb48c.gif)

[2021-08-18 18:27] TheDiveO commented on #85154
@realvictorprm cannot reproduce on recent VSC on Win8.1 with remote connect to Linux; underscores are rendered correctly. May depend on the fonts used?

[2021-08-18 18:29] deepak1556 commented on #130471
Sorry for the delayed response, @rzhao271 thanks for symbolicating the trace. Yes the crash is due to hang in establishing channel with the gpu process. You should be able to workaround with `--disable-gpu` flag but can you also provide the output of `code --verbose --enable-gpu-debugging`

For the second crash, please delete the file `%APPDATA%\Code\Preferences` for removing the corrupted zoom le

[2021-08-18 18:31] valentjn commented on #130995
Here are some screenshots, taken on a different computer with regular VS Code, not Insiders. In the first one, the bug occurs; in the second one, it doesn't due to a different `window.zoomLevel`. I'm not able to always trigger it, it also seems to depend on the window size and the previous settings. If you can't reproduce it right away, try a different `window.zoomLevel` and/or resize the window.

[2021-08-18 18:38] jp-stewart opened #131116 "Lost the ability to open files"
Issue Type: <b>Bug</b>

I can no longer double click on any files on my machine which used to open in VS code. Even dragging files on top of VS code no longer opens any files.

I am blocked being able to open anything.

VS Code version: Code 1.59.0 (379476f0e13988d90fab105c5c19e7abc8b1dea8, 2021-08-04T23:13:12.822Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>Syst

[2021-08-18 18:39] ganindu7 commented on #30797
Come on vs-code you can do this!! (Or have you done this already and I can't find the toggle ):

[2021-08-18 18:47] ganindu7 commented on #33752
Still relevant in case the developers are wondering!! @SneakyFish5 any update? Can we add this separately in crass the top vs-code brass doesn't find this game changing?

[2021-08-18 18:55] TitanArmy commented on #130990
1. File > Preferences > Keyboard Shortcuts. (Code > Preferences > Keyboard Shortcuts on macOS)

2. code > preferences > keywords> type "scm view"

[2021-08-18 18:58] mjbvz opened #131117 "Explore migrating kernel preloads to use JavaScript modules"
Let's explore using JS modules for notebook kernel preload scripts. This would better align with the notebook renderers API

[2021-08-18 18:59] mjbvz commented on #131117
Jupyter is currently using these preload script to load JS globals for the notebook environment, such as requirejs. We'd need to figure out how to handle those cases

[2021-08-18 19:01] rebornix commented on #129932
We now wait for the serializer to be registered on notebook file open but don't wait for other extensions to finish activation on `onNotebook`.

[2021-08-18 19:01] #129932 closed

[2021-08-18 19:03] Tyriar commented on #130520
/extPython

[2021-08-18 19:04] #130520 closed

[2021-08-18 19:07] rebornix commented on #130499
The solution 3 is always needed since currently extensions always need to create a messaging object https://github.com/microsoft/vscode/blob/main/src/vs/vscode.d.ts#L12356 to communicate with the renderers loaded in the notebook webview, since the extension code and the renderers are loaded in different processes, there is no guarantee which piece of code finish evaluation and execution first. In

[2021-08-18 19:12] tanhakabir opened #131118 "Make collapsed area by markdown header of notebook runnable"
When you collapse a part of the notebook under a heading there's no way to run the cells within the collapsed portion. If you organize your code and cells by markdown headers it's helpful to be able to run just the collapsed portion rather than having to expand and manually click run on each cell in the section.

[2021-08-18 19:14] byehack commented on #130516
yes. and because of you are aligning all of peek views, i just would notice that the up/down keys supports well.

[2021-08-18 19:15] tanhakabir opened #131119 "Clickable area for horizontal scrollbar in output is super small"
It's difficult to precisely click on the horizontal scrollbar for outputs.

[2021-08-18 19:23] AiverReaver commented on #129118
I think I can do that. Can I work on this issue?

[2021-08-18 19:37] MartenBE commented on #106380
Temporary workaround: selecting GitHub instead of Microsoft works.

[2021-08-18 19:38] misolori commented on #130516
@byehack when the panel is not visible you will need to navigate to the up/down icons in the peek view or use the keyboard shortcut (F8):

<img width="838" alt="CleanShot 2021-08-18 at 12 37 33@2x" src="https://user-images.githubusercontent.com/35271042/129961320-e75ac541-e1d0-4489-be59-74bb7573dd6b.png">

[2021-08-18 19:41] stamblerre opened #131121 "Windows filepaths are lowercased in language server requests"
This reproduces with VS Code 1.59 on a Windows machine (Windows_NT x64 10.0.19042).

When I make a directory with an uppercase path element (something like `C:\work\Go`), VS Code will send `c:\work\go` in `didOpen` and other language server requests. ​The Go language server has handling for the lowercase drive letter, but it expects other elements of the path to match their case on disk.

When  I

[2021-08-18 19:42] HughxDev opened #131122 "[vscode.typescript-language-features] Comment/Uncomment does not work with spaced JSX comments"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version:
  - 1.59.0
  - 1.60.0-insider (Universal)
- OS Version: macOS Big Sur 11.4 (20F71)

Steps to Reproduce:

1. Comment out a run of JSX code with spaces between the curly brackets, e.g. `{ /* { data } */ }`.
2. Try to uncomment it using VS Code shortcut <kbd>Cmd</kbd> + <kbd>/</kbd>

Expected result: Uncommented code, `{

[2021-08-18 19:45] rebornix commented on #130948
this is a duplicate of https://github.com/microsoft/vscode/issues/131040 and we have a fix for it coming soon.

[2021-08-18 19:45] #130948 closed

[2021-08-18 19:48] BlaineEXE commented on #42149
+1

[2021-08-18 19:52] DonJayamanne opened #131123 "Expose notebooks.onDidChangeCellOutputs in Stable API"
Today in Jupyter extension we have optimized the updates to the output by not awaiting on the promises.
E.g. assume we get a stream of numbers, 1 to 100.
We use the API notebooks.onDidChangeCellOutputs to detect whether the user has cleared the output or not.

This works well & updating outputs is much faster now in Jupyter Notebooks.
However if i want the same perf benefits in another notebook, I

[2021-08-18 19:53] metasong opened #131124 "vscode.commands.registerCommand('Type', handler), handler can not be triggered by 'Tab' key"
the latest version of vscode. vscode.commands.registerCommand('Type', handler). the handler can not be  triggered by 'Tab' key

[2021-08-18 19:54] meganrogge commented on #130851
What I'm saying is that it's redundant to say `Integrated` for terminals that will be created in the editor area since there's no way to create an external terminal in the editor area.

[2021-08-18 19:55] meganrogge commented on #130851
Perhaps we should remove `New` from all of these commands since creating means something new?

[2021-08-18 20:11] NathanielRN commented on #130250
Just a small suggestion now that we hit the votes 🙂 Instead of "number of lines", I think it would be great if it said "number of items".

For example:

[code]

would become

[code]

Especially since you can already see the # of lines in the sidebar:

![image](https://user-images.githubusercontent.com/23139455/129965453-ad343749-f881-4b92-b28b-237b6c987f5b.png)

[2021-08-18 20:13] jureid commented on #121778
I think it would be a much better experience to hide/show steps based on if there's a CMakeLists.txt rather than showing all steps and updating the descriptions. The fewer steps in a walkthrough, the better. It's not just that we'd add a step if CMakeLists.txt is present, there are a few steps we'd hide.

[2021-08-18 20:23] togonow commented on #130111
Having the same issue here. only fix is to restart the whole computer!!

[2021-08-18 20:28] MuhammadAlBarham commented on #130793
The `IE terminal.integrated.profiles.`  is stated below

Windows:

[code]

[2021-08-18 20:31] jackos opened #131125 "No close field in vscode.d.ts interface TaskPresntationOptions"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.59.0
- OS Version: Linux JD 5.13.10-arch1-1

Although there is an option to close terminal after task completes running in tasks.json, the option doesn't exist in vscode.d.ts interface TaskPresntationOptions

Steps to Reproduce:

1. Create VS Code extension
2. Create a task in extension
3. Try to set presentation

[2021-08-18 20:34] sean-mcmanus opened #131126 "Add some application-machine scope (machine scope that falls back to application scope)"
Our extension has a bunch of settings that we want to be set-able at the application scope (user settings) and have that setting also be used when the user connects to a remote machine (like window/resource scope behave) because that's the common scenario (i.e. 95%) and we don't want to require all users to have to change the setting for every remote case when the user setting is sufficient (and r

[2021-08-18 20:46] misolori commented on #128592
## Opening a notebook

The flow for opening a notebook for the first time is similar to the flow above, except a bit simpler since it bypases the need to create a new notebook file. You'll see the same "Select a kernel" quick pick since we don't know what kernel the user has and then prompt them to install one from the marketplace. This kernel should get persisted to the workspace so the user does

[2021-08-18 20:47] mjbvz commented on #131122
This seems to work for me. Please share example code with extract steps to reproduce

[2021-08-18 20:57] misolori opened #131128 "Allow quick pick items to always be visible and sticky"
Based on internal discussions, would like to have an option in the Quick Pick item API to allow certain items to be grouped together and separated by a border. Additionally, when there are long entries in the list, it would be great to have this group always visible like below (see items at the bottom of the quick pick):

<img width="648" alt="CleanShot 2021-08-18 at 13 53 40@2x" src="https://user

[2021-08-18 20:57] yuehuang010 commented on #129762
@isidorn, here is the view in VS.  The source code of cpp has is intereved between disassembly.
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/19828377/129970233-74b8f314-2fec-427d-bb7a-cab053d48d6b.png)

The disassemble response contains "Source" information such as filepath, start/end line and column.  The viewer needs to render the file content.  It is like a simpler "pee

[2021-08-18 21:01] meganrogge commented on #130793
any errors in the dev tools console?

[2021-08-18 21:09] MuhammadAlBarham commented on #130793
Yes, there are 8 errors.

[2021-08-18 21:11] mrx23dot opened #131129 "[FR] Clicking bracket should select all content"
Issue Type: <b>Feature Request</b>

In Eclipse this is very useful:

On line:
   asd= (1,2,34,5)
double clicking between ( and 1 selects everything between brackets.

Same goes for:  [ { " ' ( """ /*
everything that has a pair

VS Code version: Code 1.52.1 (ea3859d4ba2f3e577a159bc91e3074c5d85c0523, 2020-12-16T16:34:46.910Z)
OS version: Windows_NT x64 6.1.7601

[2021-08-18 21:14] lucasmiguelin opened #131130 "Ferramentas"
Issue Type: <b>Feature Request</b>

Na barra de menus, que é a linha de menus, como Arquivo e Editar, escolha Ferramentas > Opções. No meu visual studio code nao aparece a opção de ferramenta.

VS Code version: Code 1.59.0 (379476f0e13988d90fab105c5c19e7abc8b1dea8, 2021-08-04T23:13:12.822Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

[2021-08-18 21:25] rebornix commented on #131040
Fixed via https://github.com/microsoft/vscode/pull/131108

[2021-08-18 21:25] #131040 closed

[2021-08-18 21:32] rebornix commented on #130725
@jeanp413 thanks for your help, do you have a stable reproduce of this issue?

[2021-08-18 21:32] HughxDev commented on #131122
@mjbvz Sorry, I guess I missed a step. Looks like this kind of comment is only activated for nested JSX tags. Here is a video reproduction:

https://user-images.githubusercontent.com/229232/129975052-73b80519-b23a-4183-a03a-5eb65cb4e966.mp4

And here is example code:

https://gist.github.com/HughxDev/c03ee71f39a31c044895193a8bf348c2

[2021-08-18 21:40] byehack commented on #130516
i am in v1.50.0 and default keyboard shortcut is `Alt+F8`/`Shift+Alt+F8`:
![image](https://user-images.githubusercontent.com/26390254/129975726-93e4a755-364f-484e-97f0-acbc6cee577f.png)

and Up/Down keys doesn't do anything. isn't it better to set it to arrow keys or should i manually change the default key binding?

[2021-08-18 21:48] #130725 closed

[2021-08-18 21:52] kentcdodds commented on #121577
Ah, yeah, looks like one of my extensions is causing the scope difference!

![image](https://user-images.githubusercontent.com/1500684/129976931-c4ca8e25-fefc-489f-a833-c09592c59ff4.png)

![image](https://user-images.githubusercontent.com/1500684/129976935-337bd9ec-f71d-4045-946b-b636130f72ed.png)

I guess I'll have to figure out which extension is causing this and uninstall it/open an issue on it

[2021-08-18 22:03] jeanp413 commented on #130725
@rebornix sure:
1. open a notebook editor
2. resize panel as much as possible without maximizing it
3. toggle panel with <kbd>ctrl</kbd> + <kbd>J</kbd>

[2021-08-18 22:05] TylerLeonhardt commented on #131128
It's interesting, I expected the opposite from the sticky items. There would only be one or two of them so they really are just "extra actions I always want to see" while the non-sticky bit is the "true list I'm filtering through"

[2021-08-18 22:26] misolori commented on #131128
I can see that. How would you navigate to those actions via keyboard though if the list is long? You'd have to go through each item in the list or go through the tab stops, which feels like a bit of a hack for something the quick pick already supports. I just imagined it would be faster to type a few characters + enter.

[2021-08-18 22:33] misolori commented on #130153
@JacksonKearl do you know if this will make it in for this month? The Python team is also interested in this cc @lydiayschung @luabud

[2021-08-18 22:38] sean-mcmanus opened #131133 ".txt files get incorrectly associated with "random" languages on open"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: Version: 1.60.0-insider (user setup)
Commit: 0214d59846f265d9e50f53b61e2267407d81cbfb
Date: 2021-08-18T05:14:14.284Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19043

Steps to Reproduce:

1. Open some text document with a bunch of English/etc. language tex

[2021-08-18 22:57] dfdumaresq opened #131135 "javascript debugger"
Issue Type: <b>Bug</b>

asdf

VS Code version: Code 1.59.0 (Universal) (379476f0e13988d90fab105c5c19e7abc8b1dea8, 2021-08-04T23:14:40.191Z)
OS version: Darwin x64 20.6.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz (16 x 2300)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>metal: disabled_off<br

[2021-08-18 22:57] #131135 closed

[2021-08-18 23:01] TylerLeonhardt commented on #130903
I can't repro this... I have a suspicion that it is caused by an extension.
![image](https://user-images.githubusercontent.com/2644648/129982876-bec7c1fa-6c08-40f4-8563-cc663767c180.png)

Can you try extension bisect and see if there's a particular extension that's causing this?
![image](https://user-images.githubusercontent.com/2644648/129982979-835b899d-1ea5-410f-92f1-11fc577b3b2b.png)

[2021-08-18 23:04] #130111 closed

[2021-08-18 23:04] roblourens commented on #130789
Realized that this is not what I thought it was. What @rebornix said this morning made me realize that this should happen much more often than it does. Debugged more and realized that the extension does have special handling for this case, which is working. But sometimes the message gets split where the newline comes in a second update.

[code]

When that happens, the extension sends an appendOutp

[2021-08-18 23:10] mjbvz commented on #131102
Please share example code that demonstrates the issue

[2021-08-18 23:10] mjbvz commented on #131002
Please share example code (as text)

/needsMoreInfo

[2021-08-18 23:12] asw101 opened #131136 "Terminal in Editor Area duplicates/hides content when switching between multiple terminals"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.60.0-insider
- OS Version: macOS Big Sur (11.4)

I am a heavy user of the [Terminals in Editor Area](https://code.visualstudio.com/updates/v1_58#_terminals-in-the-editor-area).

I often find the terminal duplicates/hides content when switching between multiple terminals. When switching from one terminal, to anoth

[2021-08-18 23:15] mjbvz commented on #131034
@machineghost It looks like there's something wrong with your install/machine where the server never even starts (`SIGPIPE`)

What specific linux flavor and VS Code install version are you using?

[2021-08-18 23:25] sean-mcmanus commented on #131133
I also repro .txt files getting associated incorrectly with Batch.

[2021-08-18 23:34] xisui-MSFT commented on #130436
@bpasero But it's persisted when VS Code closes and reopens, and then persisted forever? This doesn't seem to make sense...

[2021-08-18 23:37] sean-mcmanus commented on #131133
Another case got it associated with Ruby -- seems like it might be random or something.

We have a whole bunch of txt test files that have test output.

[2021-08-18 23:38] meganrogge commented on #130793
Please provide them

[2021-08-18 23:43] meganrogge commented on #130646
![chrome](https://user-images.githubusercontent.com/29464607/129985880-ab52381c-7f01-459d-b790-4c603abf0201.PNG)
not seeing this, let me know if you have additional info that will help me to repro it

[2021-08-18 23:45] meganrogge commented on #130646
yep seeing this when it's in the min width on any browser when switching between tabs

[2021-08-18 23:48] meganrogge commented on #130995
Thanks for all of the info

[2021-08-18 23:52] MerwaneHAMADI commented on #131056
Please watch this screencast (sorry for the waiting time)
https://www.youtube.com/watch?v=1eKEEL1OStQ
In the screencast I do the following:
- show launch.json
- add sourcemap in tsconf
- run jest and shows that it's working great.
- serve opensearch dashboard using :

`node --inspect --nolazy scripts/opensearch_dashboards --dev  `
- show that I can't reach the breakpoint.

The logs have been sent

[2021-08-19 00:04] wesley-cheek commented on #130512
I am still seeing this in Insiders

[2021-08-19 00:05] brown339 commented on #130751
Same here.
Windows 10.

[2021-08-19 00:23] connor4312 opened #131138 "Allow `showOpenDialog` to open local files"
In the demo in https://github.com/microsoft/vscode-internalbacklog/issues/2178#issuecomment-901514989, I had to manually create a file in the web workspace since I couldn't figure out a way to get `vscode.window.showOpenDialog` to open a file on the user's machine. Rob suggested that adding a `file:///` URI as the `defaultUri` might work, but it doesn't.

Is opening a local file in this way alread

[2021-08-19 00:29] amandaclouser opened #131139 "VSCode+Omnisharp not detecting errors, command+click to def not working"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-08-19 00:30] #131139 closed

[2021-08-19 00:35] coby-wang opened #131140 "JavaCodingPack couldn't find vscode installed by scoop"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:  1.58.2
- OS Version:  10.0.19043 N/A Build 19043

Steps to Reproduce:

1. use scoop command to install vscode `sudo scoop install vscode -g`;
2. download JavaCodingPack-0.3.15.exe to install java extensions，the configure Component cann't find vscode
![微信截图_20210818222554](https://user-images.githubusercontent.com/

[2021-08-19 00:42] Tcll commented on #125641
that's a shame, it looks like this won't be added then... u.u

I guess my request makes things too easy for the user, and the devs don't like that...
No the devs prefer users hassle themselves with npm just for creating custom syntax themes...

I'm sorry you guys prefer your users go through pain
I personally don't like pain, and I know many others don't as well

so to anyone who wants to select a

[2021-08-19 00:45] roblourens commented on #130788
I think it was fixed with #130789

[2021-08-19 00:45] #130788 closed

[2021-08-19 00:47] ClaudeZhao opened #131141 "Custom task status is 'error' and there is no"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.57 and higher
- OS Version: Win10

Steps to Reproduce:

Follow the vs code sample: [task-provider-sample](https://github.com/microsoft/vscode-extension-samples/tree/main/task-provider-sample) to create a custom task. Then run the task, you can see the task / terminal status is 'task has error', but actually the t

[2021-08-19 01:00] mjbvz commented on #130938
If the server still seems to be crashing, you can also try collecting the TS Server log:

1. Set `"typescript.tsserver.log": "verbose",`
1. Restart VS Code and reproduce the problem
1. In VS Code, run the `TypeScript: Open TS Server log` command
1. This should open a large log file called `tsserver.log`

Look through that log file for errors or stack traces. If you can share the log, I can also ta

[2021-08-19 01:08] michaelyi1983 commented on #130414
I meet this problem with v1.59.0 too. I download Insiders build for v1.60.0, it works.

The error logs for v1.59.0 as below.

C:\Program Files\Microsoft VS Code>code --verbose --log debug --disable-gpu

C:\Program Files\Microsoft VS Code>
[main 2021-08-18T10:13:46.616Z] Starting VS Code
[main 2021-08-18T10:13:46.617Z] from: c:\Program Files\Microsoft VS Code\resources\app
[main 2021-08-18T10:13:46

[2021-08-19 01:12] roblourens commented on #130790
@rebornix This one I don't really understand. Seems like if you create an empty output, then append items to it, the items won't be rendered because of https://github.com/microsoft/vscode/blob/a00ac538b31ceb2cda329100239339d4e5ecbd2e/src/vs/workbench/contrib/notebook/browser/view/renderers/cellOutput.ts#L141

[2021-08-19 01:16] mjbvz opened #131142 "typescript.tsserver.useSeparateSyntaxServer -> typescript.tsserver.useSyntaxServer"
Tracks renaming the `typescript.tsserver.useSeparateSyntaxServer` setting to a new `typescript.tsserver.useSyntaxServer` setting. Unlike the existing boolean property, `typescript.tsserver.useSyntaxServer` will have three states:

- `always` — Only use a syntax server
- `never` — Use a single server that handles both syntax and semantic requests (replaces `false`)
- `auto` — Use a dedicated syntax

[2021-08-19 01:20] m1n1me opened #131143 "Korean Input Delay Problem"
Issue Type: <b>Bug</b>

Delay in typing Korean or not properly inputted properly

VS Code version: Code 1.59.0 (379476f0e13988d90fab105c5c19e7abc8b1dea8, 2021-08-04T23:11:51.081Z)
OS version: Darwin arm64 20.5.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Apple M1 (8 x 24)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>metal: disabled

[2021-08-19 01:29] ssigwart opened #131144 "[html] Add preference to allow HTML attribute default value to use single quotes or an empty value"
- Allow HTML attribute completion preference for single quotes or no default value.
  - E.g. `class="|"` vs `class='|'` vs `class=|`
- Implemented in #129284 and microsoft/vscode-html-languageservice#112.

[2021-08-19 01:30] roblourens commented on #130789
This morning I mentioned another issue with getting outputs with an undefined `data`. I can't repro that today.

[2021-08-19 01:36] mjbvz commented on #131142
/cc @DanielRosenwasser @amcasey

[2021-08-19 01:36] #131142 closed

[2021-08-19 01:54] mjbvz opened #131145 "Potential leak of notebook outputs"
Debugging notebook memory usage, I noticed that this code is rendering markdown but not dealing with the resulting disposables:

https://github.com/microsoft/vscode/blob/955a1aca9a2e4473eec4f4bdc70506a3a7c43ca7/src/vs/workbench/contrib/notebook/browser/view/output/transforms/textHelper.ts#L40

This seems to cause a notebook output data buffer to be retained even after the notebook is closed

[2021-08-19 02:05] mjbvz commented on #131145
One more potential case (although I don't see it causing leaks):

https://github.com/microsoft/vscode/blob/b88a5c3286ecd3bf0cfec222b6d18fcc23464ce1/src/vs/workbench/contrib/notebook/browser/view/renderers/cellOutput.ts#L808

[2021-08-19 02:05] meowWhat commented on #131068
ok , thanks for your reply.

[2021-08-19 02:36] jianweihao commented on #130536
I have another problem that vscode will use more and more memory until 10+GB.

[2021-08-19 02:45] erhhung opened #131148 "--diff --new-window broken since 1.59.0"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.59.0
- OS Version: macOS 10.15.7

Steps to Reproduce:

1. Run `code --diff --new-window --wait file1.ts file2.ts`.
2. New window appears, but no tab with diff contents shown; only tab visible is "Welcome".
3. Removing `--new-window` opens a new tab with diff contents in one of several existing windows, as expected.

[2021-08-19 03:06] #130789 closed

[2021-08-19 03:06] AArnott opened #131149 "github.dev PR reviews don't allow commenting in renamed files"
Looking at https://github.dev/microsoft/CsWin32/pull/355

I cannot seem to leave comments in files that were renamed as part of the PR. Even on lines that changed.

[2021-08-19 03:38] deepak1556 commented on #131110
Hi @vtjnash , nope it was not. I will file one this week and update here.

[2021-08-19 04:10] digitarald commented on #131057
Thanks for the background. Might be not worth the effort though, or only for specific filetypes that we are actively investing in, like ipynb. I don't have any sense if this helps users. I'd leave it to the type owners to speak up then and open issues for specific types.

[2021-08-19 04:10] #131057 closed

[2021-08-19 04:15] roblourens commented on #130536
Can you check for errors in the devtools console? (Help > Toggle developer tools)

[2021-08-19 04:22] roblourens commented on #130664
Seems similar to `terminal.integrated.confirmOnExit`

[2021-08-19 04:30] digitarald opened #131150 "Test: Welcome page with Telemetry footer always greets new users"
Refs: #130641

- [ ] anyOS
- [ ] anyOS

Complexity: 2

---

We moved the telemetry notice from a sticky notification to a footer on the initial Welcome walkthrough that is opened on first launch.

- Ensure that the Welcome page with the footer is always visible on first launch
- Launch VS Code with a fresh `--user-data-dir` to trigger the new-user flow
- Try different ways to open a fresh VS Code:

[2021-08-19 04:43] nvthuong1996 commented on #46718
I would to be able to exclude folder from symbol search

[2021-08-19 04:55] bpasero commented on #131138
I am quite sure @alexr00 or Joao added support for this, because in vscode.dev/github.dev you can open local files.

[2021-08-19 04:56] #131098 closed

[2021-08-19 04:57] bpasero commented on #130851
I always understood "Integrated" as an indicator that the terminal will be created within VSCode (no matter where, panel or editor). An "external" terminal for me is always a terminal that opens outside VSCode.

In other words:
* "integrated terminal" = xterm
* "external terminal" = native OS terminal outside VSCode

Did I get that wrong?

[2021-08-19 04:59] bpasero commented on #130436
@xisui-MSFT let me try to explain: when a file is opened as an editor (and appears in the editor area as a "tab"), we try to persist any view state and configuration you apply to it, considering that this file is now in a "working state". As such, language mode persists. But when you close the file and open it again, we open it "fresh" without the state that was previously applied.

[2021-08-19 04:59] bpasero commented on #131115
/gifPlease

[2021-08-19 05:03] roblourens commented on #127886
This would be a feature request for the js debug adapter (https://github.com/microsoft/vscode-js-debug). Actually I think the old debug adapter had this feature for dynamically adding files to skipFiles. Currently you have to configure this with skipFiles in your launch.json

[2021-08-19 05:03] #127886 closed

[2021-08-19 05:05] RevealedFrom opened #131151 "Could not read source map for file issue keeps popping up"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.59.0
- OS Version: Windows 10 21H1 Build 19043.1165

Steps to Reproduce:

1. I am unable to reproduce the problem on demand. The problem comes and goes. Today it is back with a vengeance. Hundreds of `Could not read source map for file` messages concerning Node modules are produced each time I run a Node project.

[2021-08-19 05:13] ft70251 opened #131152 "快捷键问题"
缩小视图的快捷键没有反应

[2021-08-19 05:39] gjsjohnmurray commented on #131133
Maybe caused by https://github.com/microsoft/vscode/commit/85936d39d31996beec5064856919be9e100bd963

/assign @TylerLeonhardt

[2021-08-19 05:50] bpasero commented on #130971
I verified that both NVDA and macOS read the content of the editor.

Seeing how standard links behave in browsers, I did not add the `Space`/`Escape` treatment because they also do not behave like that.

[2021-08-19 05:50] JDTAY commented on #116673
Any time @vystepanenko.

@oliversalzburg I'd give downloading VSCode or removing all your settings from settings.json and seeing if the issue persists. There may be some configuration changes there you may need to adjust.

[2021-08-19 05:52] #124709 closed

[2021-08-19 06:06] CodeCrazy-ywt commented on #131152
The hotkey for shrinking the view doesn't work

[2021-08-19 06:26] linqunhe opened #131154 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `typescript-language-features`
- Extension Version: `1.0.0`
- OS Version: `Darwin arm64 20.6.0`
- VS Code version: `1.59.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-08-19 06:27] jianweihao commented on #130536
This is what print in devtools console.
![1](https://user-images.githubusercontent.com/23733835/130018627-ceb7c5c0-d111-45f3-9ee7-c2d7b40a790e.png)

[2021-08-19 06:56] bpasero opened #131156 "Terminal commands need to account for locked editor groups"
This is a follow up from the locked editor group support I just pushed: contradicting to the demo I did with you, I realised that terminal commands are not passing in an explicit editor group when new terminals open and as such, people will face issues like the following:

![recording](https://user-images.githubusercontent.com/900690/130022298-bad2045b-60b2-4962-8e48-1eabbc98473a.gif)

When you ca

[2021-08-19 07:15] #126726 closed

[2021-08-19 07:16] isidorn commented on #126726
Adding bug, so we get this verified. Steps:
1. Use ipad.
2. Make sure the touch behaves as expected in the editor and some views
3. Long touch triggers context menu

[2021-08-19 07:16] isidorn commented on #130664
Assigning to August since I think you already added it.

[2021-08-19 07:17] #131076 closed

[2021-08-19 07:18] bpasero commented on #131076
**Verification:**
* open a binary file in vscode (e.g. a zip file)
* from the editor select "Do you want to open it anyway"
* pick the "Text Editor" (in case you get asked and e.g. have HEX editor installed)
* the language indicator in the status bar should read "Binary"

[2021-08-19 07:32] bpasero commented on #125028
**Verification:**
* have a notebook extension installed (such as GH issues)
* close all instances of VSCode
* from the command line run `code-insiders <path to file that does not exist.<notebook file extension>`
* verify the notebook opens with the associated file path
* verify saving the notebook uses the file path without asking

[2021-08-19 07:36] #131130 closed

[2021-08-19 07:36] #131140 closed

[2021-08-19 07:36] sytlq999 commented on #129483
I have some more details about this same  problem  in my post  below .Can you analyze it further
https://github.com/microsoft/vscode/issues/130887

[2021-08-19 07:48] isidorn commented on #128108
This should be handled by the run in external terminal logic. Thus assigning to @weinand

[2021-08-19 08:05] bpasero commented on #131148
Maybe a regression related to getting started and how it appears.

[2021-08-19 08:05] bpasero commented on #131116
/gifPlease

[2021-08-19 08:15] sandy081 commented on #130516
Is it all or only those associated to the opened file?

[2021-08-19 08:17] alexr00 commented on #131079
I could probably use a custom file system provider but this seems like something that is intended to work. It would also be a bunch of duplicate code since I'll just be coping your whole image preview editor again. The webpacked extension.js file for this is already large and it would be great to not add duplicate code to it.

[2021-08-19 08:18] sandy081 commented on #130998
Can you please post a screenshot?

[2021-08-19 08:20] cihanisma commented on #519
Please upvote if you find this feature useful too:
https://github.com/microsoft/vscode/issues/127087#issue-929290179

[2021-08-19 08:20] aeschli commented on #131109
Can you add screenshots of the places that you miss the undeline?
`textLink.activeForeground` is intended for text in a rich editor like the settings or welcome editor.
Editor hover would need a new color.

[2021-08-19 08:20] weinand commented on #128108
No, this request asks for automatic naming of "debug consoles".
Doing this for integrated and external terminals is more difficult because they are controlled by individual debug extensions and not by VS Code core.

[2021-08-19 08:21] cihanisma commented on #10759
Please **upvote** if you find this feature useful too:
https://github.com/microsoft/vscode/issues/127087#issue-929290179

[2021-08-19 08:21] cihanisma commented on #13680
Please **upvote** if you find this feature useful too:
https://github.com/microsoft/vscode/issues/127087#issue-929290179

[2021-08-19 08:21] aeschli commented on #129118
@jrieken FYI

[2021-08-19 08:22] cihanisma commented on #4490
Please **upvote** if you find this feature useful too:
https://github.com/microsoft/vscode/issues/127087#issue-929290179

[2021-08-19 08:22] cihanisma commented on #41309
Please **upvote** if you find this feature useful too:
https://github.com/microsoft/vscode/issues/127087#issue-929290179

[2021-08-19 08:22] cihanisma commented on #43188
Please **upvote** if you find this feature useful too:
https://github.com/microsoft/vscode/issues/127087#issue-929290179

[2021-08-19 08:23] cihanisma commented on #5770
Please **upvote** if you find this feature useful too:
https://github.com/microsoft/vscode/issues/127087#issue-929290179

[2021-08-19 08:27] aeschli commented on #131068
duplicate of #59826.

[2021-08-19 08:27] #131068 closed

[2021-08-19 08:28] cihanisma commented on #127087
As I said above, since a simplified interface was not designed, I also found my own solution to mention under other topics. I hope you will attempt a simplified interface work to get feature requests noticed. In fact, this screen can be provided within the vscode itself.

[2021-08-19 08:28] kdubuc commented on #43188
Please, don't use the issue comments to spam. It is very disrespectful.

[2021-08-19 08:33] jianboy commented on #130229
I got a setting:
[code]

But, "|" is not a keywords.

[2021-08-19 08:40] pd93 commented on #127087
@cihanisma, you can view [issues sorted by +1 reaction on the issues page in github](https://github.com/microsoft/vscode/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc). I'm 100% sure that the VSCode team know this and regularly check what the most upvoted issues are. This is one of the ways most projects of this size prioritise work.

You do not need to post a link to this issue in othe

[2021-08-19 08:40] usernamehw commented on #131109
Example of editor hover (now):

![unknown2](https://user-images.githubusercontent.com/9638156/130037028-01d81145-c4d8-4979-b626-b2cb0c48c1d6.gif)

Example of when the color is defined:
[code]

![known2](https://user-images.githubusercontent.com/9638156/130037342-37c06c9a-95f8-4807-bc98-be454f333ac2.gif)

[2021-08-19 08:43] sytlq999 commented on #129483
Remote connection to Linux. After entering the password, there are two prompts on the right

coude not fetch remote environment
failed to connect to the remote extension host server (error: websocket close with status code 1006)

And the terminal  stuck and cannot input
The remote directory could not be loaded
I had tried countless times in many ways
Reinstall vocode，delete ~/.vscode - server/ dir

[2021-08-19 08:44] #129273 closed

[2021-08-19 08:47] thany opened #131158 "Intellisense inserts useless `import` on globals"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.59
- OS Version: Windows 10 21H1

Steps to Reproduce:

1. Open any typescript or javascript project.
2. Install [globalthis](https://www.npmjs.com/package/globalthis) into it.
3. Type in an object (or also a type, in typescript) that is available globally, like `Array`, `DocumentFragment`, `window`, `Math`, etc. Lit

[2021-08-19 08:47] aeschli commented on #130229
That explains what you see. The YAML grammar gives the `|` the `keyword.control` scope, which is typically used for keywords like `if`, `switch`.
You can file an issue against the YAML grammar (https://github.com/textmate/yaml.tmbundle) and argue that the '|' should not be classified as a keyword.

[2021-08-19 08:47] #130229 closed

[2021-08-19 08:48] metazool commented on #131040
I saw the advice to `delete AppData\Roaming\Code\User\globalStorage\state.vscdb` (search for %appdata% in Windows 10) before the suggestion to just remove the `memento/notebookEditors` key from it (it's a sqlite db?). This did resolve the issue but only after [re-granting workspace trust](https://stackoverflow.com/questions/68417842/vscode-workspace-trust-how-do-i-know-if-workspace-trust-is-affect

[2021-08-19 08:48] thany commented on #131158
Bad bot. That's totally different.

[2021-08-19 08:49] #130982 closed

[2021-08-19 08:50] aeschli commented on #131109
Ok if we make this issue about the hover only? That makes it easier to manage the issue.

[2021-08-19 08:50] isidorn commented on #123873
Seems like there are no action items to be done on the VS Code UI side. Thus closing this.
I think the best follow up would be creating separate issues. I am not sure if you have exact pain points regarding this that we could improve @hediet

[2021-08-19 08:50] #123873 closed

[2021-08-19 08:51] yannickowow commented on #113742
👍

[2021-08-19 08:52] isidorn commented on #113742
Great, adding verified label.

[2021-08-19 08:55] hediet commented on #130982
@jrieken can you verify that tomorrows Insider build does not have this problem anymore?

[2021-08-19 08:55] weinand opened #131159 "support independent 'extensions-dir' for extension debugging"
I'm trying to decouple the extensions directory used for extension debugging from the extensions directory of the "outer" VS Code instance. The goal is to allow the existing `--extensions-dir` command line flag in a launch config like this:
[code]

This does not work out of the box (see #126737).

[2021-08-19 09:00] alexdima commented on #128807
@Alex12 Could you please [try the following](https://github.com/microsoft/vscode/wiki/Keybinding-Issues#basic-troubleshooting) to see what VS Code receives from the OS?

* Run the command `Developer: Toggle Keyboard Shortcuts Troubleshooting`
* This will activate logging of dispatched keyboard shortcuts and will open an output panel with the corresponding log file.
* When the keys stop working as

[2021-08-19 09:00] RPainter8West opened #131160 "Search input - recent search history"
I typically search for the same things over and over.  In VS the search input has a dropdown with my recent search terms so I can just click one.  In VS-Code I have to re-type my search term each time.  For a complex regex search this doesn't work.  I have to keep a text file open with my regex search terms.

Please add a recent search term history feature.

[2021-08-19 09:04] alexr00 commented on #131138
There was some discussion somewhere about whether we should allow extensions to open local files on web which I now cannot find. If I remember correctly, the outcome of the discussion was that we wouldn't allow it for now because:
- we didn't have compelling reason to allow it.
- it was probably almost never what the extension wanted to do an more likely would result from a programming error.

Now

[2021-08-19 09:06] hediet commented on #123873
I will do that! My pain points with "always debugging" VS Code are currently the frequent crashing/freezing of Code OSS and no support for hot reload, so I was not really inspired to think more about this.

[2021-08-19 09:07] alexdima commented on #123985
I'm sorry about my slow response. As it is today, the `editor.scrollbar.scrollByPage` setting only applies to code editors and does not apply to all scrollbars in vscode. This setting (even when it was hidden) was only applying to the code editor. I think perhaps we could create global scrollbar settings i.e. `scrollbar.scrollByPage` at one point.

[2021-08-19 09:10] alexr00 commented on #131141
I'm not able to reproduce this issue. Which of the tasks from the sample shows this? Are you making sure to fire your close emitter with `0` to indicate the "task process" has exited without an error?

https://github.com/microsoft/vscode-extension-samples/blob/0839a5dd8e7c3df07428352b0a701fbd323676e0/task-provider-sample/src/customTaskProvider.ts#L129-L130

[2021-08-19 09:10] #131141 closed

[2021-08-19 09:13] alexr00 commented on #131125
@jackos can you please describe why having the presentation options `close` is important to have as extension API? We do not like to add API just for the sake of having it, so I want to understand that it will be useful for multiple extension authors before adding it.

[2021-08-19 09:13] alexdima commented on #128133
Thank you for clarifying. Currently Alt+Z is only toggling viewport wrapping on or off for the current file and does this without writing to user settings. We added this command to the core of VS Code in order to cover some use-cases where people want to turn on viewport wrapping "on-the-fly", and only for a single file.

I think in your case an extension could be written with a command which uses

[2021-08-19 09:13] #128133 closed

[2021-08-19 09:16] damien-urruty-sonarsource commented on #131076
Thanks for the reactivity!

[2021-08-19 09:17] alexr00 commented on #130826
@tomasmoberg what language is this occurring with?

[2021-08-19 09:19] bgrieder commented on #37549
VsCode 1.59 - Ubuntu 21.04 - TypeMatrix BÉPO keyboard
The fix `"keyboard.dispatch": "keycode"` has stopped working.
My copy and paste keys are now unusable (cut key still work though)
Any change in keyboard keycode handling in 1.59 ?

[2021-08-19 09:20] ptrxyz commented on #129988
Seems to be a problem with the Chrome engine. Anyway, adjusting Freetype's hinting settings fixes the issue. I guess this can be closed then as it's probably related to the font rendering system.

[2021-08-19 09:20] #129988 closed

[2021-08-19 09:28] SayefReyadh commented on #58987
For a typescript project faced similar issue from in my end for the following settings,
[code]
I have changed the settings to `promt` which seems to solve this issue for now.
[code]

My VS Code Version
[code]

[2021-08-19 09:28] alkorang commented on #130967
@meganrogge

I saw many issues opened because underscore in terminal is not displayed correctly on **Linux**. You had closed all issues except https://github.com/microsoft/vscode/issues/123077, saying they are duplicated. Now, you closed that issue, too, saying that you cannot reproduce it anymore.

Many reported that out-of-the-box vscode terminal cannot display underscores correctly **(1) on Lin

[2021-08-19 09:29] #128725 closed

[2021-08-19 09:31] roadupcc opened #131162 "TS Server fatal error: Cannot read property 'lastIndexOf' of undefined"
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.4.1-rc

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Error Stack*

[2021-08-19 09:49] BEEDELLROKEJULIANLOCKHART commented on #34442
The integrated terminal should merely be [Windows Terminal](http://github.com/microsoft/terminal) hosted as a toolbox window.

[2021-08-19 09:50] #129842 closed

[2021-08-19 09:56] dbaeumer commented on #131121
This is not specific to language servers. This is what is provided by the VS Code API. Ben, Joh can you explain why this is the case.

I got hit by this in the ESLint server as well since some ESLint plugins expected a correct casing. I use the realPath API in node to get the real casing from disk.

[2021-08-19 09:57] #113390 closed

[2021-08-19 09:58] dbaeumer commented on #130861
You can't when running out of source.

[2021-08-19 09:58] #110616 closed

[2021-08-19 09:58] #110597 closed

[2021-08-19 10:08] gjsjohnmurray commented on #131160
History is already there but you need to know to use <kbd>UpArrow</kbd> and <kbd>DownArrow</kbd> to access it.

PR #129324 is addressing discoverability.

[2021-08-19 10:14] RPainter8West commented on #131160
Thanks @gjsjohnmurray . I didn't realize the arrows worked, and that PR would be an improvment.

But still, it would be nice to have this as a drop-down so I can select a specific one rather than paging through them one at a time for who knows how long, only to find that the one I was looking for wasn't actually in my history.  A drop-down would allow me to see if my value was in the history, and

[2021-08-19 10:32] isidorn commented on #108321
This works fine now, thus closing

[2021-08-19 10:32] #108321 closed

[2021-08-19 10:33] isidorn commented on #108087
Closing as outdated

[2021-08-19 10:33] #108087 closed

[2021-08-19 10:34] #88975 closed

[2021-08-19 10:36] a-stewart commented on #130353
Hi,

I have noticed the same issue:

As far as I can see, is caused by the fact the webview is a child or the main element, not of the viewpane element.
When the view pane position is updated `layoutWebviewOverElement()` in `dynamicWebviewEditorOverlay.ts` to move the webview to the same position as the view pane.

However, the view pane is now animated, and the `layoutWebviewOverElement` is calle

[2021-08-19 10:38] Tharkis commented on #41309
Still not a backlog candidate after 2 years?

[2021-08-19 10:38] dippas commented on #128763
For me  when (re)launching VSCode with terminal opened the powerShell shows, but if terminal is closed and then manually opened (<kbd>ctrl</kbd> + <kbd>ç</kbd> then my default profile (git bash) is shown

[2021-08-19 10:39] complyue commented on #115136
I've been annoyed by this behavior for quite a long time, routinely apply the trick https://github.com/microsoft/vscode/issues/46403#issuecomment-462935343 every restarts of the IDE.

Now I think maybe we can have a setting to request a fixed number of rows of tabs, then extraneous tabs go into a "..." drop down, as well as extraneous action-icons go into another "..." drop down. It should never "

[2021-08-19 10:41] SNDST00M opened #131163 "Add `SymbolKind.Keyword`"
I'm generating a TOC using `vscode-textmate`. Indenting is computed based on block scopes. I'm incrementing the indent for control flow blocks in my parser.

I would like a `SymbolKind.Keyword`, e.g. so I can provide a keyword header for variables in a `for`.

As there is no `SymbolKind.Keyword`, TOC variable entries inside a control structure are listed inside the TOC variable immediately precedi

[2021-08-19 10:42] a-stewart commented on #131005
I think this is the same issue as https://github.com/microsoft/vscode/issues/130353

I left a comment there with what I think it the issue causing this.

[2021-08-19 10:43] dbrgn commented on #128583
As another workaround, if you already know which plugin to install (i.e. after searching for it at https://open-vsx.org/), you can install the plugin via command line. For example, to install [rust-analyzer](https://open-vsx.org/extension/matklad/rust-analyzer):

    $ code --install-extension matklad.rust-analyzer

[2021-08-19 11:01] kamleshwebtech opened #131164 "attached devices are not displaying in vscode editor. developing flutter application and trying to compile. Not working."
attached devices are not displaying in vscode editor. developing flutter application and trying to compile. Not working.

[2021-08-19 11:19] afaul commented on #130651
I have also tested to set the environment variable `NODE_EXTRA_CA_CERT` on the SSH Host. The variable didn't change the behavior of VS Code.

[2021-08-19 11:25] #130358 closed

[2021-08-19 11:28] DivonilLiquid commented on #130417
Hey admin, i have recently started with open source contributions , can you assign this task to me so that i can learn the process.

[2021-08-19 11:28] DivonilLiquid commented on #130004
Hey admin, i have recently started with open source contributions , can you assign this task to me so that i can learn the process.

[2021-08-19 11:30] DivonilLiquid commented on #114315
Hey admin, i have recently started with open source contributions , can you assign this task to me so that i can learn the process.

[2021-08-19 11:34] v-mholloway commented on #119222
Fix implemented - Note: it will take a few days to make it into the build
Resource ID:	0;"Xliff file"\0;"Xliff Resources"\0;"src/vs/workbench/services/dialogs/browser/abstractFileDialogService.dontSave"
Relative File Path:	vscode-loc-drop/loc/en/src/en/vscode-workbench/vs_workbench_services_dialogs.xlf.lcg
Project:	VSCode
Subtenant:	VSCode

[2021-08-19 11:37] Tyriar opened #131165 "Add ways to scope access to proposed API"
We have a problem currently that if a first party wants to use one of our "forever proposed APIs" like `window.onDidWriteTerminalData`, they need to be added to our enable proposed API list which could lead them to accidentally use other proposed API which is likely to change.

This proposal is about adding a new API type which is stable but not accessible to anyone but close friends because of va

[2021-08-19 11:39] Tyriar opened #131166 "Make terminal panel exit confirmation align with new "terminate" wording for terminal editors"
![image](https://user-images.githubusercontent.com/2193314/130062384-a81ada4e-219d-470f-ab53-83df89238715.png)
![image](https://user-images.githubusercontent.com/2193314/130062394-43d6bd41-815f-420a-a7fe-e6f63a22d17e.png)

[2021-08-19 11:43] playgithub commented on #130813
Thanks it woks.
As a note, settings as below is more consistent to the theme in colors
[code]

[2021-08-19 11:45] yashraj-n opened #131167 "Heavy RAM Usage"
Issue Type: <b>Performance Issue</b>

Lately, My Visual Studio Code (Insiders) is consuming 2GB of ram and 70% CPU usage causing me to close my vs code
![pic1](https://cosi.is-inside.me/TUxFzTaK.png)
![pic2](https://cosi.is-inside.me/QjSd3guE.png)

VS Code version: Code - Insiders 1.60.0-insider (c08913337cb8b95493be8e99d62e0b3241563f6b, 2021-08-19T05:15:46.693Z)
OS version: Windows_NT x64 10.0.19

[2021-08-19 11:46] v-mholloway commented on #116548
bug opened [117239](https://dev.azure.com/GlobalCollaborationService/Global%20Collaboration%20Service%20Project/_workitems/edit/117239)

[2021-08-19 11:47] TheFulmini opened #131168 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `microsoft-authentication`
- Extension Version: `0.0.1`
- OS Version: `Darwin x64 20.4.0`
- VS Code version: `1.59.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-08-19 11:51] Tyriar commented on #34442
@BEEDELLROKEJULIANLOCKHART this has been suggested before but it's not possible as it wouldn't work in many of the places where VS Code runs: Linux, macOS, Codespaces (Browser, Android, iPad, etc.). Besides it would be quite the undertaking to do that adaption just for Windows and we would actually regress in a lot of areas. That's without considering the potential downsides of hosting such a tool

[2021-08-19 12:02] nijo-sokowatch opened #131169 "TS Server fatal error: Cannot read property 'forEach' of undefined"
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.3.5

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Error Stack**
S

[2021-08-19 12:04] nijo-sokowatch commented on #131169
seems like a duplicate

[2021-08-19 12:04] #131169 closed

[2021-08-19 12:04] Tyriar commented on #130967
So this actually appears to be a separate issue than https://github.com/microsoft/vscode/issues/123077, you will notice that in your font the underscore is abnormally low which causes it to get cut off since it's below the cell. This image shows the dimensions of what the cells would be, since the underscore appears below the cell, for the last row it ends up below the terminal.

![image](https://

[2021-08-19 12:07] Tyriar commented on #130967
If anyone seeing this issue could let me know which font they're using that would be helpful (`terminal.integrated.fontFamily`, which falls back to `editor.fontFamily`).

[2021-08-19 12:10] flyingangel opened #131170 "Context menu position and selection bug"
Issue Type: <b>Bug</b>

Sometime when we right click to open the context menu, VSCode automatically click the top most item  (Go to definition).

One reason of this problem is that the horizontal position of the context menu is too close to the mouse position. So when we release the right button of the mouse, it accidently clicks the items.

The problem often occurs when the menu touch the bottom

[2021-08-19 12:12] #131166 closed

[2021-08-19 12:15] flyingangel commented on #131170
Video demo

https://user-images.githubusercontent.com/885921/130066657-e891d5fb-faa7-49b3-b914-4d2a188718a6.mp4

[2021-08-19 12:16] IllusionMH commented on #131170
/duplicate of #113175

[2021-08-19 12:17] #131170 closed

[2021-08-19 12:24] itswaytoamit opened #131171 "TS Server fatal error: Debug Failure. False expression: Script kind should match provided ScriptKind:3 and sourceFile.scriptKind: 1, !entry: false"
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.4.1-rc

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Error Stack*

[2021-08-19 12:34] alexr00 opened #131172 "`scmProvider` context key is not visible from everywhere"
Not sure what's going on here. I want to use the value of the `scmProvider` context in `view/item/context` menu items (https://github.com/microsoft/vscode-pull-request-github/pull/2920), but that context key doesn't exist on those items. It does exist in other menus such as `scm/title` and `remoteHub/pullRequest`.

Interestingly, the `scm.providerCount` does exist on `view/item/context` menu items

[2021-08-19 12:35] zzeitt commented on #130967
[code]
This is my config in vscode.

[2021-08-19 12:42] alexr00 commented on #129080
Looks like this isn't going to make it for August.

[2021-08-19 12:48] albannurkollari commented on #130096
I'm still having this issue of spread operator not respected rather abrupted by VSCode's auto-select of first suggestion on each dot type.

[code]

[2021-08-19 12:48] #131164 closed

[2021-08-19 13:00] IllusionMH commented on #130096
1.60 will be released in early September.

In your case you are more interested in July 2021 Recovery release that is tracked in #130212

[2021-08-19 13:04] albannurkollari commented on #130096
No indication of any release date for that milestone or am I missing something?
Would really appreciate to have this feature asap released, really dont wanna opt-in to nightly build.

[2021-08-19 13:05] alexpanter opened #131173 "Vscode terminal faulty behavior when printing empty string at end of application"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:
- OS Version:

Steps to Reproduce:

1. I run this program:
[code]

2. But if I change the last line in the code to `Console.WriteLine("");`, ie. print empty string, I get this output instead:
[code]

3. In other words, something with that last line makes the program exit prematurely or somehow forgetting to output

[2021-08-19 13:11] phedlund113 commented on #131115
Here is a recording of the issue. I edited the file and didn't save it, then re-generated the file.

Background. I am developing a program generator in python. (gen_gui.pyw). It creates gui_test.pyw. I then edit gui_test.pyw to get rid of errors so i can change gen_gui.pyw to generate code without the previous error.
Peter Hedlund
________________________________
From: Benjamin Pasero ***@***.***>

[2021-08-19 13:14] tomasmoberg commented on #130826
Hi @alexr00,

it occurs in CSS.

Thanks!

[2021-08-19 13:14] Tyriar commented on #130646
Happens in Edge too, but not running out of sources

[2021-08-19 13:17] sharpninja opened #131174 "Tasks in workspace file not being detected"
Issue Type: <b>Bug</b>

Here is my workspace file.  There doesn't appear to be any errors and the tasks work in a yasks.json file.

[code]

VS Code version: Code 1.59.0 (379476f0e13988d90fab105c5c19e7abc8b1dea8, 2021-08-04T23:13:12.822Z)
OS version: Windows_NT x64 10.0.21390
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 7 2700X Eight-Core Pro

[2021-08-19 13:18] Tyriar commented on #130646
This is a codespaces css scoping issue

[2021-08-19 13:18] Tyriar commented on #130646
Moving to that repo

[2021-08-19 13:18] #130646 closed

[2021-08-19 13:19] IllusionMH commented on #130096
No date there.

As mentioned in https://github.com/microsoft/vscode/issues/130096#issuecomment-892561316 in the meantime you can:
1. disable word suggestions that are shown and accepted with  `"editor.suggest.showWords": false`
2. prevent `.` from accepting any suggestions with `"editor.acceptSuggestionOnCommitCharacter": false`

[2021-08-19 13:23] jrieken commented on #131165
I think this is how much of our proposed API is actually being used. I am not a fan of adding a third mechanism of restricted API or so. It will complicate things IMO.

[2021-08-19 13:28] Edo022 opened #131175 "Intense window flickering"
Issue Type: <b>Bug</b>

Any Visual Studio Code window goes completely gray for 1 frame and instantly goes back to normal every 2-3 seconds.
Rebooting, reinstalling visual studio code or disabling all the extension doesn't fix the problem.

VS Code version: Code 1.59.0 (379476f0e13988d90fab105c5c19e7abc8b1dea8, 2021-08-04T23:13:20.182Z)
OS version: Linux x64 5.13.10-200.fc34.x86_64 snap
Restricted

[2021-08-19 13:28] #129193 closed

[2021-08-19 13:28] borekb commented on #34442
I think the opposite – that Windows Terminal should be just wrapped VSCode's terminal 😄.

[2021-08-19 13:30] #125739 closed

[2021-08-19 13:34] lszomoru commented on #130632
This is a feature request that is being tracked by #106914. Closing as duplicate.

[2021-08-19 13:34] #130632 closed

[2021-08-19 13:35] sagebind commented on #34442
The issue in question here is making it possible to run the vscode terminal in a standalone window. What's that got to do with Windows Terminal? I doubt Windows Terminal wants to ship all of vscode just for a terminal, and conversely vscode doesn't need Windows Terminal because the integrated terminal is way more integrated into the vscode experience.

They should just stay separate things and peo

[2021-08-19 13:36] Spanfile opened #131176 "Bracket pair colorization mistakenly colors angle brackets in syntax"
Issue Type: <b>Bug</b>

Bracket pair colorization mistakenly pairs two unrelated bitshift operators together. It also colors things like comparisons, return values and "thick" arrows.

![image](https://user-images.githubusercontent.com/5912012/130077325-2edf47d0-e01f-41e4-b579-9d3e8106d45c.png)
![image](https://user-images.githubusercontent.com/5912012/130077652-4226f59f-16ce-4435-8cf7-67498c83cf1

[2021-08-19 13:37] alexr00 commented on #130826
@tomasmoberg are you sure it shouldn't be scss?

[2021-08-19 13:39] gjsjohnmurray commented on #131172
Looks like it's one of the context keys that only exists for SCMRepositoryMenus

https://github.com/microsoft/vscode/blob/6fea665f6809444e3d664aef59f8fd6afc4fe8b1/src/vs/workbench/contrib/scm/browser/menus.ts#L176-L180

I think these are intended for controlling visibility of contributions to SCM view menus.

[2021-08-19 13:41] SamStalschus opened #131177 "Brakpoints are being disabled on their own in Nodejs VSCODE 1.59.0"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.59.0
- OS Version: Windows 10

Steps to Reproduce:

1.First set up the launch.json file with the following configuration:
`        {
            "type": "node",
            "request": "launch",
            "name": "Launch Program",
            "program": "${workspaceFolder}/server.js",
            "skipFiles": [

[2021-08-19 13:46] IllusionMH commented on #131176
/assign @hediet

[2021-08-19 13:46] #131168 closed

[2021-08-19 13:47] sdegutis opened #131178 "Add setting to scroll only halfway past last line."
Currently there's a setting to scroll past the last line:

[code]

But I'd like the editor to only scroll halfway down. In other words, the top half of the editor has text, and the bottom half is empty. So that it'd scroll halfway between what true/false for this setting allow.

This would allow me to focus on new content at the end of a file at the bottom of the file by centering it vertically on

[2021-08-19 13:48] sdegutis commented on #56174
Apparently I just created a dup of this, which I'm now closing. But I thought I'd add my comments/rationale from that into this:

---

Currently there's a setting to scroll past the last line:

[code]

But I'd like the editor to only scroll halfway down. In other words, the top half of the editor has text, and the bottom half is empty. So that it'd scroll halfway between what true/false for this s

[2021-08-19 13:48] #131178 closed

[2021-08-19 13:51] bpasero commented on #131115
I am not seeing a recording, you need to attach it directly here, not via email.

[2021-08-19 13:52] sdegutis commented on #56174
That wouldn't be able to get the automatic "halfway" (proposed) or "all the way" (current) features. I'm not sure there's a lot of benefit to specifying a number of lines.

I propose just turning it into an enum: None, Half, Full. Or we could keep using Boolean, since it already has 3 values: True, False, and FileNotFound.

[2021-08-19 13:53] SamStalschus commented on #131177
This is another subject, that subject has been solved

[2021-08-19 13:53] isidorn commented on #92377
Opened upstream issue https://github.com/microsoft/vsmarketplace/issues/150

[2021-08-19 13:55] BEEDELLROKEJULIANLOCKHART commented on #34442
http://github.com/microsoft/vscode/issues/34442#issuecomment-901921248, I have never observed compettition within one legal entity to be benficial for products that must be paid for. http://web.telegram.org/z/ and http://web.telegram.org/k/ are rather good examples of this because much has been wasted by designing two almost-identical websites, and thus 2 code-bases.

[2021-08-19 13:57] isidorn commented on #121251
Upstream issue https://github.com/microsoft/vsmarketplace/issues/23

[2021-08-19 13:59] BEEDELLROKEJULIANLOCKHART commented on #34442
https://github.com/microsoft/vscode/issues/34442#issuecomment-901850776, indeed, naively I did not consider whether [Windows Terminal](http://github.com/microsoft/terminal) is supported by [Microsoft](http://github.com/microsoft) for operating-systems other than Windows, irrespective of its obviously-denotive name.

If theoretical utilisation of [Windows Terminal](http://github.com/microsoft/termi

[2021-08-19 13:59] isidorn commented on #114092
We now render the last updated info in the extensions details view
No more changes are planned here, thus closing

![Screenshot 2021-08-19 at 15 59 11](https://user-images.githubusercontent.com/1926584/130081877-c8847eba-7d5a-4f82-9e43-76fbcbe3aabc.png)

[2021-08-19 13:59] #114092 closed

[2021-08-19 14:05] isidorn commented on #92996
No action items here, recommendation is to contact Marketplace support for this.

[2021-08-19 14:06] hgouveia commented on #34442
Years ago i was supporting this ticket and asking for this feature, but since [Windows Terminal ](https://github.com/microsoft/terminal) was released, i am not longer feel the need to this feature, since is a fantastic substitute and does all i want, i would vote to close this , and instead use this time to improve more [Windows Terminal ](https://github.com/microsoft/terminal) making it faster an

[2021-08-19 14:06] #92996 closed

[2021-08-19 14:06] isidorn commented on #94748
Dup of https://github.com/microsoft/vscode/issues/14800

[2021-08-19 14:06] #94748 closed

[2021-08-19 14:06] alexr00 commented on #131172
Interesting. Well, that makes sense I suppose. @eamodio is there a way I can tell if the scm provider is remote hub, irrespective of these keys?

[2021-08-19 14:08] isidorn commented on #121222
@connor4312 also assigning to me, since from September I will work on the marketplace from our side as the PM. Let me know if you would like me to bring this issue up to the marketplace team.

[2021-08-19 14:08] tigerinus commented on #34442
I also vote to close this. Windows Terminal is good enough and it works with VSCode fine.

I'd vote for the `Quake Mode` but that feels like a different feature request to be filed.

[2021-08-19 14:09] hediet commented on #131176
That is because the [rust language defined `<` ... `>` as bracket pair](https://github.com/rust-lang/vscode-rust/blob/master/language-configuration.json#L10).

@alexdima do you have ideas how to fix this?

1. Have a global language override for bracket pair colorization
2. Ask the rust extension to remove `<`...`>`
3. Remove `<` ... `>` when doing bracket pair colorization for every language (as t

[2021-08-19 14:09] Tyriar commented on #130851
@bpasero that's right.

Maybe we should just remove integrated at this point since the external terminal command is clearly labelled with external and all the other terminal commands don't mention integrated 🤔

[2021-08-19 14:11] Tyriar commented on #130851
![image](https://user-images.githubusercontent.com/2193314/130083727-e62ed3dc-22d4-46a5-b210-80d8210e00c8.png)

[2021-08-19 14:11] isidorn commented on #94744
There are no plans for any change here on the VS Code side. I see that there are already issues open on the VSMarketplace side. I suggest to continue the discussion there https://github.com/microsoft/vsmarketplace/issues/14 or to open new issues.

Since no changes are planned on the VS Code side I am closing this

[2021-08-19 14:11] #94744 closed

[2021-08-19 14:12] bpasero commented on #130851
Yes, I like 👍

[2021-08-19 14:12] tomasmoberg commented on #130826
Yes!

--
Tomas Moberg

Email: ***@***.***

Sent with ProtonMail Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐

On Thursday, August 19th, 2021 at 15:37, Alex Ross ***@***.***> wrote:

[2021-08-19 14:12] phedlund113 commented on #131115
Peter Hedlund has shared a OneDrive file with you. To view it, click the link below.
<https://1drv.ms/u/s!Ao8NkBWoWW31qhBl2xSZURgAiagx>
[https://r1.res.office365.com/owa/prem/images/dc-gif_20.png]<https://1drv.ms/u/s!Ao8NkBWoWW31qhBl2xSZURgAiagx>
5urpaijs.gif<https://1drv.ms/u/s!Ao8NkBWoWW31qhBl2xSZURgAiagx>

________________________________
From: Benjamin Pasero ***@***.***>
Sent: Thursday, Augus

[2021-08-19 14:12] bpasero commented on #130851
PS: If you where to keep "new" (i.e. "create new...") you would probably get more users, the ones typing "new" and the ones typing "create". I somehow always type "new"

[2021-08-19 14:13] Tyriar commented on #123077
FYI I'm putting together a better fix in https://github.com/microsoft/vscode/issues/130967 that will fix the underscore even on the canvas renderer.

[2021-08-19 14:13] #130851 closed

[2021-08-19 14:13] bpasero commented on #131115
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2021-08-19 14:15] isidorn commented on #94743
Created upstream issue https://github.com/microsoft/vsmarketplace/issues/151

[2021-08-19 14:20] alanlivio commented on #44755
It is a very interesting feature. $HOME or ${env.UserProfile} will help a lot.

[2021-08-19 14:22] lrnv commented on #34442
I agree, but please follow @Tyriar precision and do NOT close #10121 as duplicate of this in the future... #10121 needs to stay open, even if we cannot talk in it anymore.

[2021-08-19 14:22] isidorn commented on #94612
Upstream issue https://github.com/microsoft/vsmarketplace/issues/152

[2021-08-19 14:23] Tyriar commented on #34442
There are plenty of people that still want this so I'm not closing it, but I think things have changed a little since WT came out as the need for a solid conpty-backed terminal on Windows is now covered. Here's what I feel this issue now encapsulates:

- Being able to have a lightweight VS Code window with a fullscreen terminal in it, lightweight meaning minimal memory. This is more than https://g

[2021-08-19 14:23] IllusionMH commented on #131176
Is it possible to add language specific overrides for brackets pairs in config?
[code]

Or other way to specify subset of pairs provided by language. Or expend it if implementation supports expanding list of pairs and don't rely on language implementation.

[2021-08-19 14:23] alexr00 commented on #131174
I'm not able to reproduce this issue. Did you make sure to open the _workspace_ (with the command File: Open Workspace then choosing the .code-workspace file) not the folder?

[2021-08-19 14:23] #131174 closed

[2021-08-19 14:24] isidorn commented on #129762
@yuehuang010 ok great, so you would handle the rendering in your table by having special elements that are actually representing the source lines, that way it would be inter-mingled. You will not have colorisation here easily.

Context menu -> open file -> use the editor service to open the `URI` as I suggested in the comment above.

[2021-08-19 14:25] Tyriar commented on #130851
Will change 👍

[2021-08-19 14:30] #24519 closed

[2021-08-19 14:30] darkguy2008 commented on #34442
I disagree with the decision of closing this issue and also thinking that Windows Terminal is a drop-in replacement for this feature. Windows Terminal may be good and all, but it is NOT what we're looking for (at least the ones interested in seeing this issue come to light):

As for @Tyriar 's points, the first three do encapsulate what we want but the last one IMO is just fancyness (and personall

[2021-08-19 14:30] isidorn commented on #117051
No plans to use a modal dialog, thus closing this.
However I do agree we should improve how we recommend extensions, but we can tackle that as part of other issues.

[2021-08-19 14:30] #117051 closed

[2021-08-19 14:30] alixsep commented on #129886
@aeschli and you got 27 dislikes and 2 likes for your comment.

[2021-08-19 14:32] yuehuang010 commented on #129762
@isidorn, Is using NativeTextFileService nad TextModel the way to go?  Or are there another way to open the file?

[2021-08-19 14:35] isidorn commented on #100495
Opened upstream issue https://github.com/microsoft/vsmarketplace/issues/153

[2021-08-19 14:38] isidorn commented on #94745
Thank you very much for your feedback, we have an internal issue tracking this and I will forward the feedback there.
However since we already have that issue I will go ahead and close this one

[2021-08-19 14:38] #94745 closed

[2021-08-19 14:41] Tyriar commented on #34442
@darkguy2008 the slowness is a combination of resources, other priorities (I have almost 500 issues assigned atm 😅) and other things that it's blocked on. For example #10121 poses architectural problems since VS Code's terminal integrates with so many internal services, the naive approach would be to initialize all these services but that would mean a lot of extra memory and cpu which doesn't real

[2021-08-19 14:41] isidorn commented on #129762
@yuehuang010 you should just use the `editorService`. Here's an example here https://github.com/microsoft/vscode/blob/main/src/vs/workbench/contrib/debug/common/debugSource.ts#L76

I hope that helps!

[2021-08-19 14:44] alexdima commented on #128652
The `ExtensionsActivator` works with a set of "resolved extensions". This set is only initialized on workbench start-up and is not updated when extensions are enabled/installed or disabled/uninstalled.

[2021-08-19 14:46] akosyakov opened #131182 "[api] memento onDidChange api"
I would like to know when some values are changed by other windows. But currently I could not find onDidChange even on `env.globalState`. Is there another way to be notified?

[2021-08-19 14:47] tigerinus commented on #34442
A VSCode with only integrated terminal sounds more bloated than Windows Terminal or any terminal on other platforms (rxvt, konsole, Mac term, etc.) even it is more lightweight than a VSCode with all extensions enabled.

Behind the scene VSCode is built using electron.js, with a Chromeium based rendering process and a number of nodejs based backend processes. Even the `code main` can consume at lea

[2021-08-19 14:47] RJ1911 commented on #130903
Its fixed now . Thanks for your time .

[2021-08-19 14:47] #130903 closed

[2021-08-19 14:48] jrieken commented on #131167
It looks like the issue is caused by one of your installed extensions. All extensions execute together on a single nodejs process, so in order to narrow down the possible problematic extension, please try the following:
* run `F1 > Help: Start Extension Bisect`
* (this will restart VS Code with half of your extensions disabled)
* try to do the steps which reproduce the problem
* if the problem rep

[2021-08-19 14:53] Trebor-Huang opened #131184 "Indicate focused panel"
I'm using the builtin dark theme. From my personal experiences, it is difficult to tell which panel is currently focused on. So it is easy to accidentally type into files when trying to execute commands in a terminal, or vice versa. I'd like to have a setting to enables some sort of indication, e.g. highlighting the bounds or using a slightly different shade as background,  of the current focus.

[2021-08-19 14:57] darkguy2008 commented on #34442
Well, another point for me: https://github.com/microsoft/terminal/issues/3843 it seems that even in the same Windows platform, Windows Terminal isn't compatible. It's too bad that to download it requires the Microsoft Store (so this excludes a lot of users that don't want or don't have the store - unlike VSCode) and also it's uncompatible with Windows LTSC, which is the enterprise version that som

[2021-08-19 15:00] Tyriar commented on #34442
@tigerinus right, I would expect the eventual memory usage of a terminal window to be similar to the process explorer window which is sitting at 82mb in your screenshot, plus the memory xterm.js takes for its buffer. What we would not want it something closer to a normal window like the 163mb one in your screenshot.

Clearly WT is capable of being faster since it's closer to the metal, but beyond

[2021-08-19 15:00] sagebind commented on #34442
I'm not sure what gives you that impression. Windows Terminal will probably forever be lighter and more efficient than VSCode's terminal, because the former is written in C++ without any extra layers on top, while VSCode depends on Electron.

Software doesn't work like that. It's easy to add a menu that says "Detach terminal", but it is hard to make clicking that menu item _actually do what you as

[2021-08-19 15:01] urbenis opened #131186 "Conexión internet se corta con VSCode + wsl2"
Hemos escrito los datos
Issue Type: <b>Bug</b>

Al usar VS Code con WSL2 (Distro: Ubuntu), e intentando actualizar mediante internet cualquier extensión o bien mediante curl, la conexión de red internet se corta y hay que rehabilitarla manualmente otra vez, siendo imposible llevar a cabo cualquier solicitud que requiera conexión de red Internet.

VS Code version: Code 1.59.0 (379476f0e13988d90fab1

[2021-08-19 15:04] darkguy2008 commented on #34442
Well, I still think this issue should not be closed and the feature request is pretty valid and has some good points (i.e. cross-platform, IDE integration) plus other features that WT can't serve because it basically falls out of scope and it excludes a lot of users that VS is actually taking.

Again, I'm not concerned about RAM usage... If an user can run VSCode, it's more than safe to assume tha

[2021-08-19 15:05] #130664 closed

[2021-08-19 15:05] #131113 closed

[2021-08-19 15:06] isidorn opened #131187 "Marketplace search needs to be improved"
Creating a super issue for marketplace search, such that we have all the feedback in one place.

- [x] #42890
- [x] #73182
- [ ] #106418
- [x] #102193
- [ ] #29779
- [x] #51207
- [x] #69810
- [ ] #127784

[2021-08-19 15:08] jdandrea commented on #104838
That's an excellent way to do it. It guides the user toward a reasonable default that they can then override. +1

[2021-08-19 15:09] #130967 closed

[2021-08-19 15:09] #130406 closed

[2021-08-19 15:12] isidorn commented on #131187
Upstream issue https://github.com/microsoft/vsmarketplace/issues/154

[2021-08-19 15:13] meganrogge commented on #131061
any errors in the dev tools console? what are your terminal settings?

[2021-08-19 15:14] meganrogge commented on #131136
Thanks, a gif would be very helpful because I can't reproduce the issue

[2021-08-19 15:15] isidorn commented on #51207
Upstream issue https://github.com/microsoft/vsmarketplace/issues/154

[2021-08-19 15:15] isidorn commented on #69810
Upstream issue https://github.com/microsoft/vsmarketplace/issues/154

[2021-08-19 15:16] isidorn commented on #102193
Upstream issue https://github.com/microsoft/vsmarketplace/issues/154

[2021-08-19 15:17] isidorn commented on #106418
Upstream issue https://github.com/microsoft/vsmarketplace/issues/154

[2021-08-19 15:17] isidorn commented on #73182
Upstream issue https://github.com/microsoft/vsmarketplace/issues/154

[2021-08-19 15:17] isidorn commented on #42890
Upstream issue https://github.com/microsoft/vsmarketplace/issues/154

[2021-08-19 15:28] tigerinus opened #131188 "[Ctrl]+[`] to launch external terminal and attach a terminal session to it."
Integrated terminal is great.

However there are VSCoders favor to use their own external terminal, e.g. Windows Terminal, iTerm2, etc.

It'd be nice to be able to configure VSCode to launch external terminal when hitting **[Ctrl] + [`]**, and attach a terminal session to it.

My understanding is VSCode Server hosts the sessions, independent of the running state of VSCode client. Thus I feel this

[2021-08-19 15:28] isidorn commented on #114012
Sorry for the slow response, this somehow slipped through my fingers.
Potential solution would be to introduce a super simple workbench contribution to use the [`IHostService.onDidChangeFocus`](https://github.com/microsoft/vscode/blob/main/src/vs/workbench/services/host/browser/host.ts#L28) and than react and focus the editor.
It would also be interesting to see if this event is fired at all in th

[2021-08-19 15:31] isidorn commented on #114012
Actually I can not reproduce this with latest insiders and latest iPad OS. Thus closing.
Please let me know if you still see this and we can reopen

[2021-08-19 15:31] #114012 closed

[2021-08-19 15:31] g-bel opened #131189 "Open Editors Group tabs enhancement"
I could not find other request like this, so it goes.

When I'm working on something, it is not unusual that I'm asked to look at something else, but I don't want to mess with what I have open and I want to be able to close all the new stuff once that question goes away, so I would like to have the possibility to Show/Hide tab groups... instead of having several columns of tabs, having the possibi

[2021-08-19 15:32] alexr00 commented on #124582
Looks like almost all of the time is spent here

https://github.com/microsoft/vscode/blob/ee1655a82ebdfd38bf8792088a6602c69f7bbd94/src/vs/platform/remote/common/remoteAgentConnection.ts#L363-L363

@alexdima I am not familiar with this function, but I suspect that there's nothing that can be done to speed it up since it all looks essential.

[2021-08-19 15:36] isidorn commented on #131090
I am not sure how this custom rendered suggest boxes work in the terminal. Maybe @Tyriar knows, and if not I can give it a try and investigate how this works.

[2021-08-19 15:36] connor4312 commented on #131138
Sounds good. Let's dive into this more next iteration; Kai would like to get the referenced experience going by the end of this year :)

[2021-08-19 15:37] meganrogge commented on #131111
please include a gif of this happening with screencast mode enabled

[2021-08-19 15:37] connor4312 commented on #131177
/jsDebugLogs

[2021-08-19 15:37] meganrogge commented on #131111
also what does that script you are passing in as an argument do?

[2021-08-19 15:39] newbRaymond opened #131190 "Inconsistent terminal renaming when using the editor area"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.59.0
- OS Version: Arch Linux

Steps to Reproduce:

1. Open two or more terminals in the panel.
2. Move one or more terminals into the editor area.
![image](https://user-images.githubusercontent.com/14317628/130093389-0e3051a3-a57a-4ada-ba73-7580c8e06dbc.png)
3. Attempt to rename either an unfocused editor area term

[2021-08-19 15:39] Tyriar commented on #130190
When cls is run, it's up to the backend (in this case conpty which is what Windows Terminal uses) to send instructions to the terminal to clear it. It happens to send the instruction to only clear the viewport, not the whole buffer. We're behaving as expected here, this is actually an extension problem and could be worked around in the code runner terminal.

[2021-08-19 15:39] #130190 closed

[2021-08-19 15:39] tigerinus commented on #34442
@Tyriar - I've opened a different feature request at https://github.com/microsoft/vscode/issues/131188 regarding launching external terminal and attach a VSCode terminal session to it.

Thanks for all the hard work!

[2021-08-19 15:51] Tyriar commented on #131188
Only VS Code can talk to the "server" component right now which if you're interested is the pty host process here:

![image](https://user-images.githubusercontent.com/2193314/130100019-8575700c-819e-4133-b63d-4d67e20f70eb.png)

AFAICT the only benefit you would get from this is the ability to easily open the active folder in your terminal which can already be accomplished by the `Open New External

[2021-08-19 15:51] #131188 closed

[2021-08-19 15:53] Tyriar commented on #129979
/duplicate https://github.com/microsoft/vscode/issues/130915

[2021-08-19 15:53] #129979 closed

[2021-08-19 15:55] Tyriar commented on #130915
The terminal profile on macOS calls `path_helper` by default which shuffles the path around, not sure what we can do about this.

Terminals on macOS run using login shells, Linux the login shell is run on login. There's a detailed explanation at https://code.visualstudio.com/docs/editor/integrated-terminal#_why-are-there-duplicate-paths-in-the-terminals-path-environment-variable-andor-why-are-they

[2021-08-19 15:56] eamodio commented on #131172
Not that I know of -- but why are you interested in the SCM provider? If these actions are on a resource, you could check the resource uri -- so look for the `vscode-vfs` scheme, and if you only want GitHub ones, check that the authority contains/starts with `github`.

[2021-08-19 16:01] connor4312 commented on #121222
Yep, please see https://github.com/microsoft/vscode/issues/123581 as well for the complete list of notebook-related marketplace asks 🙂

[2021-08-19 16:04] tigerinus commented on #131188
@Tyriar - Thanks for pointing this approach out.

I've configured settings.json as given in the description:

[code]

But when I click `Open in Windows Terminal` on a folder (Remote SSH), it still opens the integrated terminal instead of launch WT.

Is there anything I missed?

[2021-08-19 16:08] JVimes opened #131191 "Only show restricted mode banner once user acts outside of restricted mode"
I think the restricted mode banner shows up so often that users will tune it out or disable it.

Can you wait to show the banner until the user tries to do something outside of restricted mode?

[2021-08-19 16:10] bpasero opened #131192 "Test: keep editors open instead of closing when editor fails to load"
Refs: https://github.com/microsoft/vscode/issues/110062

- [x] anyOS @tanhakabir
- [x] anyOS @lszomoru

Complexity: 2

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23131192%0A%0A&assignees=bpasero)

---

When an editor is opened and fails to restore after a restart, we used to close that editor until we found an editor that can load. With this change, editors remain

[2021-08-19 16:16] bpasero opened #131193 "Test: custom confirmation dialog when closing dirty terminal editor"
Refs: https://github.com/microsoft/vscode/issues/128880

- [ ] anyOS
- [ ] anyOS

Complexity: 2

---

Terminals that appear in the editor area and have running child processes (e.g. run `node`) appear dirty.

**Steps:**
* build up opened editors and terminals as editors and have a mix of dirty and non dirty files and terminals
* verify that closing a dirty terminal shows a confirmation dialog that

[2021-08-19 16:26] rebornix commented on #123581
@connor4312 while playing around with triggering auto-search in the extension viewlet (search for renderers/keymaps), it occurred to me that we may want to consider showing extension pack even when searching for renderers/keymaps/kernels. The very first time when users open an ipynb file, there would be multiple places triggering the search (run a cell will trigger kernel search, a rich output wil

[2021-08-19 16:33] hediet opened #131194 "Decouple Bracket Pair Colorization From Bracket Pair Config"
Not all bracket pairs should be colorized as #131003 indicates.

Language contributions should be able to provide a different list of bracket pairs to match and to colorize.

It does not make sense to colorize `<` ... `>` for html and jsx, as the color just adds noise.
However, it could be useful to declare them as bracket pair, so they are matched when clicking on them.

Keywords: IConfigurationS

[2021-08-19 16:34] hediet commented on #130996
Closing, as being fixed by either #131194 (workaround) or #131092.

[2021-08-19 16:34] #130996 closed

[2021-08-19 16:35] hediet commented on #131092
After discussing this with @alexdima, we probably cannot fix this in a performant way in the editor, as we would need to insert a lot of zero-width-whitespaces.

Maybe this is a chrome bug.

I leave this issue open to track this bug.

[2021-08-19 16:37] elinar27 opened #131195 "Slow deletion of files from the tree"
Slow deletion of files from the tree

os  Ubuntu

[2021-08-19 16:38] hediet commented on #131003
This would be fixed by #130996.

[2021-08-19 16:38] #131003 closed

[2021-08-19 16:39] jrieken commented on #131182
fyi @bpasero

[2021-08-19 16:41] misolori commented on #131184
We you open the panel, we do have our focus indicator that highlights the area:

![image](https://user-images.githubusercontent.com/35271042/130107895-2a3cc635-f7b1-4f94-a1d0-3ccb136563fa.png)

And when you are focused on an item in there, the item will be highlighted:

<img width="1024" alt="CleanShot 2021-08-19 at 09 35 03@2x" src="https://user-images.githubusercontent.com/35271042/130107953-eb1

[2021-08-19 16:42] #131133 closed

[2021-08-19 16:43] ebkgne commented on #50140
@jeff-hykin I have installed that add-on to use instead of "c_cpp:Enhanced Colorization" , and the latency in comments colorization is hugely reduced in my case

Somebody said that our problem here ( https://github.com/microsoft/vscode/issues/64681 ) is caused by TM but then I think it might be something else  ?

[2021-08-19 16:46] maziac commented on #130353
Hi, many thanks for your solution/workaround.
So, is it correct that this seems to be a bug inside vscode?

The layoutWebViewOverElement, where do I have to put it?
In the vscode.WebviewViewProvider a vscode.webViewView is passed, but as far as I can see it lacks this method.

[2021-08-19 16:49] TylerLeonhardt commented on #131133
I've removed the support of guessing what's in `.txt` files and left those as plaintext. If the file is extension-less, then we'll try and guess.

[2021-08-19 16:50] Tyriar commented on #131188
@tigerinus that's something only an extension could handle since the connection details need to be handled, so you'd want to try https://marketplace.visualstudio.com/items?itemName=Tyriar.windows-terminal which should work for wsl/ssh/containers

[2021-08-19 16:52] oliversalzburg commented on #116673
I'd rather not have my settings removed and synced to all other workstations. I also installed updates in the meanwhile and have verified the issue to exist in a completely separate installation of Code (Insiders). I don't think downloading it again will change much about that.

If this is a defect that is caused by a specific state or setting, then I'd rather know about it than try to reset my sy

[2021-08-19 16:54] apsoftwaredev commented on #130893
Thank you.
I installed the update, but unfortunately, it is still doing it.  I did a full memory diagnostic and it did not find any issues with memory, and there is plenty of it available.

Version: 1.60.0-insider (user setup)
Commit: c08913337cb8b95493be8e99d62e0b3241563f6b
Date: 2021-08-19T05:15:46.693Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows

[2021-08-19 16:54] a-stewart commented on #130353
Hi,

As far as I can see it is a bug in vscode itself, nothing to do with your extension.

The code above is a change that would need to be made to vscode itself. I don't think there is a fix you can do from the extension, other than having the webview as the first element in the view container.

[2021-08-19 16:55] bpasero opened #131196 "Test: locked editor groups"
Refs: https://github.com/microsoft/vscode/issues/124709

- [x] anyOS @aeschli
- [x] anyOS @sbatten

Complexity: 5

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23131196%0A%0A&assignees=bpasero)

---

**Motivation**
Ever since terminals can appear as editors, users have asked for a more stable editor layout where you can have terminals to the side remaining visible ev

[2021-08-19 16:56] apsoftwaredev commented on #130893
![image](https://user-images.githubusercontent.com/1483796/130111163-7631a024-2f8c-4e88-a1cd-4a4a8358960e.png)

[2021-08-19 16:58] Trebor-Huang commented on #131184
I'm having problems seeing the indicator on consoles and text editors. I'm away from keyboard now, so I'll provide a screenshot tomorrow. Searching in the settings doesn't turn up anything useful.

[2021-08-19 17:03] tigerinus commented on #131188
Yes. I tried the extension. It still launches integrated terminal when I click on Open In Windows Terminal.

[2021-08-19 17:06] DivonilLiquid commented on #130538
Hey admin, i have just started my open source contribution journey. Can you assign this task to me? so that i can start working on it.

[2021-08-19 17:08] connor4312 commented on #130538
Feel free to submit a PR

[2021-08-19 17:10] misolori commented on #131184
In the console when you are focused you'll see the cursor indicator:

<img width="468" alt="CleanShot 2021-08-19 at 10 09 17@2x" src="https://user-images.githubusercontent.com/35271042/130112992-040e4e4f-4f45-4b37-bc2c-6e67b8142db8.png">

and when focus moves out:

<img width="392" alt="CleanShot 2021-08-19 at 10 09 43@2x" src="https://user-images.githubusercontent.com/35271042/130113014-94002a15-

[2021-08-19 17:23] joao-aguirre commented on #131111
Here it follows:

![cmder-terminal](https://user-images.githubusercontent.com/11059665/130115006-d087e2bb-1cbb-4b8b-a0c4-2231894b11d4.gif)

[2021-08-19 17:24] gjsjohnmurray commented on #131195
Maybe #121644

[2021-08-19 17:26] joao-aguirre commented on #131111
I haven't checked, I use `cmder` as my terminal tool and I have found these instructions on VSCode documentation [here](https://code.visualstudio.com/docs/editor/integrated-terminal#_can-i-use-cmders-shell-with-the-terminal-on-windows).

Here follows the file: [init.txt](https://github.com/microsoft/vscode/files/7016568/init.txt)

[2021-08-19 17:27] Igorgro commented on #10759
🎉  https://github.com/microsoft/vscode/issues/130410

[2021-08-19 17:45] maziac commented on #130353
Oh, I see. Thanks for explanation.

[2021-08-19 17:48] JacksonKearl commented on #130004
@DivonilLiquid I actually already completed this, so I will be closing it out. In the future, you should look for issues with the "good-first-issue" label.

[2021-08-19 17:48] #130004 closed

[2021-08-19 17:48] dfoverdx opened #131197 "React tsx syntax completely broke in some cases"
Issue Type: <b>Bug</b>

I'm not actually sure why it breaks in some cases, but not in others.  I have an abstract base class with an abstract render() method, and a class that inherits it, which implements the base class.  Maybe that's the reason?

Either way, the first use of the tsx syntax throws all kinds of errors.  It doesn't seem to recognize any attribute I set within the whole file, nor do

[2021-08-19 17:51] IllusionMH commented on #131197
/needsMoreInfo

Please provide code that leads to errors.

Also make sure that you are using `.tsx` files (`.ts` don't support JSX) and don't use `<T>value` assertions.

[2021-08-19 17:52] #131032 closed

[2021-08-19 17:53] JacksonKearl commented on #131195
Does the fix in #121644 help?

[2021-08-19 17:58] dfoverdx commented on #131197
@IllusionMH Yes, I'm using a tsx file.  This file worked fine until I upgraded to last night's build.  Also, tsc runs fine.

At the moment, as I'm at work, I don't have time to simplify the code that's failing, and I can't use the original code as it's my company's IP.

[2021-08-19 18:12] TylerLeonhardt commented on #131128
Yeah I think that makes sense. Right now we have a concept of separators in Core... I think supporting separators in the API is a prereq of this work because ideally we can use separators to determine where the sticky starts (aka the last separator would denote stickiness).

[2021-08-19 18:35] JacksonKearl commented on #131148
I can not reproduce, can you share your `workbench.startupEditor` setting?

Also, there have been some recent changes here so it would be helpful if you could check if this is working as expected in Insiders.

[2021-08-19 18:37] meganrogge commented on #131111
strange. @Tyriar, thoughts?

[2021-08-19 18:44] abbasiusa98 commented on #130670
Thankyou so much it worked for me 👍

[2021-08-19 18:47] engWafula opened #131198 "Github"
Issue Type: <b>Bug</b>

I  Cannot  access my  github  account

VS Code version: Code 1.59.0 (379476f0e13988d90fab105c5c19e7abc8b1dea8, 2021-08-04T23:13:20.182Z)
OS version: Linux x64 5.11.0-25-generic
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3337U CPU @ 1.80GHz (4 x 1400)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: ena

[2021-08-19 18:51] JacksonKearl commented on #131095
Mac: Cmd+Backspace; Win/Lin: Del

[2021-08-19 19:02] JacksonKearl commented on #130557
You can just add any entry here:
https://github.com/microsoft/vscode/blob/0214d59846f265d9e50f53b61e2267407d81cbfb/src/vs/workbench/contrib/welcome/gettingStarted/common/gettingStartedContent.ts#L284

You'll want to have a themed SVG to go with it, and example is here: https://github.com/microsoft/vscode/blob/920303b974e9ac5b9f7d30d5bc354db5a849c793/src/vs/workbench/contrib/welcome/gettingStarted/

[2021-08-19 19:04] connor4312 commented on #123581
I'm not that familiar with how extension packs work / how they operate in search. For special cases before we've manually promoted certain extensions for certain searches, I think doing the same for Jupyter would be the reasonable approach here. @sandy081 / @chrisdias  might have more info.

[2021-08-19 19:06] corneliusroemer commented on #129979
The explanation for the behaviour described in this issue is already in the documentation: https://code.visualstudio.com/docs/editor/integrated-terminal#_why-are-there-duplicate-paths-in-the-terminals-path-environment-variable-andor-why-are-they-reversed

The workaround I came up with is one of the possible two ones described:

Thanks @Tyriar for pointing this out. Bit confusing that this is marke

[2021-08-19 19:07] gebob19 opened #131200 "Show notebook cell status when cell is collapsed - Example: Show Cell Completed Run Symbol"
In the previous notebook UIs there was a symbol which appeared after the notebook cell finished running. In the most recent version this was removed and now when you run cells which don't have any output (e.g last line in cell: `x = fcn(y)`) you don't know if it completed or is still running unless you expand the cell output and see the green checkmark.

_Feature Request:_ If we could add a symbol

[2021-08-19 19:08] SNDST00M commented on #131163
I'm sure I could open a pull for this
Its way too small and meta to get traction in the `feature-request` workflow

[2021-08-19 19:21] Lorac opened #131201 "User local settings are opened instead of the remote ssh settings."
Does this issue occur when all extensions are disabled?: Yes/No
Yes

- VS Code Version: 1.60.0-insider (c08913337)
- OS Version: Windows: Windows Insider Programme (Windows 11 (10.0.22000.160))

Steps to Reproduce:

1. Open Settings
2. Choose Remote
3. Open JSON version of the remote settings by clicking on the icon to switch between json/ui
4. It opens the user's local version of the settings, no

[2021-08-19 19:21] roblourens commented on #131160
https://github.com/microsoft/vscode/issues/23099

[2021-08-19 19:21] #131160 closed

[2021-08-19 19:21] #114797 closed

[2021-08-19 19:26] hhanesand commented on #128054
duplicate of https://github.com/microsoft/vscode/issues/98594

[2021-08-19 19:26] roblourens commented on #130536
It doesn't look like you finished the extension bisect. Please try with `--disable-extensions` first at least. I suspect an extension because this would happen if something is constantly editing a setting.

[2021-08-19 19:26] #128054 closed

[2021-08-19 19:29] roblourens commented on #131084
I think we used to check exact relative path matches, I can't quite remember why we removed it. Does @TylerLeonhardt own this now?

For slow search in general, you could check tips in https://github.com/microsoft/vscode/wiki/Search-Issues

[2021-08-19 19:31] roblourens commented on #131050
Yes, the editor will normalize line endings based on what is detected/configured.

[2021-08-19 19:31] #131050 closed

[2021-08-19 19:32] roblourens commented on #131052
If you have the correct duration, you could send a "fake" end time, I don't see a problem with that.

[2021-08-19 19:32] #131052 closed

[2021-08-19 19:35] Tyriar commented on #129979
The other issue had more activity is all 🙂

[2021-08-19 19:38] tlambert03 commented on #129979
But now they're both closed :/
Fwiw, I just set up a brand new OS today, installed conda and vscode, and saw this issue.

[2021-08-19 19:38] connor4312 commented on #131056
It looks like you need to customize your sourceMapPathOverrides, like setting `"/entry:core/*": "${workspaceFolder}/*`. You can always look at the file path of the 'virtual' file when you hit a `debugger` statement to see what the reported path is and how to fix it.

[2021-08-19 19:38] #131056 closed

[2021-08-19 19:44] dniku commented on #128583
I'll make this issue easier to find:

If you are using VSCode on Arch / Manjaro and search in the Extensions Marketplace fails with "We cannot connect to the Extensions Marketplace at this time, please try again later.", press `Ctrl+Shift+I`, open the "Console" tab and make sure that the following errors are there:

[code]

If so, you are affected by this problem. You will need to install `code-ma

[2021-08-19 19:46] machineghost commented on #131034
My VS Code details are in the original post (Version: 1.59.0), and I'm running Linux Mint 20.2.

[2021-08-19 19:47] connor4312 commented on #130377
This seems like a bug in Node.js where something is crashing. I suggest seeing if it repro's in the latest 16.x version and, if so, open an issue on them.

[2021-08-19 20:01] hforeste opened #131202 "Cannot open folder from command line when VS Code update is pending"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.58.2
- OS Version: Windows_NT x64 10.0.19043

Steps to Reproduce:

1. Wait until VS Code has an update
2. In Windows Terminal, type `code` in a directory

Output:
[code]

Issue https://github.com/microsoft/vscode/issues/129072 is somewhat similar but after the update is done I can successfully open a folder from com

[2021-08-19 20:05] rafa11rodrigues commented on #105558
I use ZoomText and Fusion, from AI Squared and Freedom Scientific, as screen magnifier. The behavior is exactly the same as described. I thought it was a specific problem of these softwares, but now I see it's related to VS Code.
Cursor tracking works perfectly when editor.accessibility is off, but it causes VS Code to be unaccessible to screen readers like JAWS or NVDA. Yes, I'm parcially visual

[2021-08-19 20:08] kurmachu opened #131203 "Configurable scroll padding"
I'd like to be able to configure an amount of characters (or lines) of padding for both horizontal and vertical scrolling (using the text cursor).
Currently, vscode has 0 lines of vertical padding, and ~2 characters of padding for horizontal scrolling. I'd like to be able to configure this in settings, to show more or less while scrolling.

Currently:
![image](https://user-images.githubusercontent

[2021-08-19 20:12] JacksonKearl commented on #131189
Curious if the `File => Duplicate Workspace` menu entry would help you here? With this you could use separate windows to group open editor sets.

[2021-08-19 20:16] alexweininger opened #131205 "Add a way to inform users why a command is disabled"
While declaring our extensions support for virtual workspaces as "limited", we have disabled some commands via the "enablement" property. The issue is that users may not know why the commands and buttons have been disabled (because of virtual workspaces). It would be great to have a way to inform them.

Ideas:
* Tooltip that says "<command title> (disabled in virtual workspaces)"
* Notification wh

[2021-08-19 20:18] sbland opened #131206 "Allow cell output on side of cell instead of below"
It would be great to be able to anchor the outputs of each cell to the right of the input cell instead of just below.

[2021-08-19 20:19] greazer commented on #131206
Support for mapping code cells to output that appears to the right of the cell requires work in VS Code core.

[2021-08-19 20:45] misolori commented on #114315
@DivonilLiquid please take a look at the issues labeled `good first issue` ([query](https://github.com/microsoft/vscode/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22))

[2021-08-19 20:49] trdyer opened #131244 "Support displaying annotations in the editor"
Currently comments that have been added to files/lines are viewable in the editor. It would be great if lint or codeql annotations were also available to be viewed in the same way.

[2021-08-19 21:13] fulldecent commented on #131095
@JacksonKearl but the tooltip is not confirm that:

The one shows
<img width="607" alt="Screen Shot 2021-08-19 at 17 12 30" src="https://user-images.githubusercontent.com/382183/130144963-d72b8571-8df3-413e-a3d1-b0a8299da108.png">

But the other doesn't
<img width="586" alt="Screen Shot 2021-08-19 at 17 12 33" src="https://user-images.githubusercontent.com/382183/130144979-26a151c6-18c4-46b4-bcaa-

[2021-08-19 21:15] LittleEntity opened #131207 "JSON Schema string pattern "^\\p{L}$" does not work as expected"
Issue Type: <b>Bug</b>

The example json should validate against the given schema below. It fails with the message:
[code]
example json:
[code]
schema:
[code]

This validator validates the json example against the json schema:
https://www.jsonschemavalidator.net/

VS Code validates the following as correct instead (which should be wrong):
[code]

From the specification:

VS Code version: Code - In

[2021-08-19 21:18] sean-mcmanus opened #131208 "VS Code Insiders doesn't load an extension's modified package.json on disk after Reload if another version of the extension was previously installed"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version:Version: 1.60.0-insider (user setup)
Commit: c08913337cb8b95493be8e99d62e0b3241563f6b
Date: 2021-08-19T05:15:46.693Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19043

Steps to Reproduce:

1. Use VS Code Insiders (it also repros with VS Code 1.59.0 if we use

[2021-08-19 21:20] Tyriar commented on #129979
There isn't really a fix for it that I can see, so this is more of a won't fix/as designed issue. Unless someone comes up with ideas that would fix it without breaking other things

[2021-08-19 21:26] rebornix opened #131209 "Test: Notebook Keymap"
Refs: https://github.com/microsoft/vscode/issues/106679

- [ ] anyOS
- [ ] anyOS

Complexity: 2
Authors: @joyceerhl @rebornix

---

We moved the keybindings shipped with Jupyter extension to a separate extension Jupyter Keymap, which users can disable if they want to use the builtin keybindings or another keymap extension for notebook.

The Jupyter Keymap extension is slightly different from a reg

[2021-08-19 21:30] #131145 closed

[2021-08-19 21:32] rebornix commented on #123581
I think it's a good workaround to include Jupyter (maybe as the first one) for searching Kernel, Notebook Keymap or Renderer.

[2021-08-19 21:32] rebornix commented on #106679
We will continue our work once we get https://github.com/microsoft/vscode/issues/123581#issuecomment-900672840.

[2021-08-19 21:32] #106679 closed

[2021-08-19 21:33] Trass3r opened #131210 "Disassembly view: syntax highlighting"
Syntax highlighting would immensely help when stepping through the code.

Ideally existing wonderful LSP extensions like [ASM Code Lens](https://marketplace.visualstudio.com/items?itemName=maziac.asm-code-lens) could be reused to get proper assembly syntax highlighting as well as other features.

In general I'm curious why this view wasn't done as a special read-only editor.

[2021-08-19 21:43] gjsjohnmurray commented on #131198
/needsMoreInfo - you apparently managed to access your GitHub account when opening this issue.

[2021-08-19 21:49] jeanp413 commented on #130110
Created a PR #131211 fixing this

[2021-08-19 21:50] jeanp413 commented on #131136
Duplicate of #130110.
Created a PR #131211 fixing it

[2021-08-19 21:52] Tyriar commented on #130192
I think it used to be like that and regressed at some point

If we can do it, it would be good.

[2021-08-19 21:56] Trass3r commented on #129762
Could we open the disassembly view in a new tab group to the right until this more involved solution is done? It's annoying having to drag it manually every time just to see both source code and assembly.

Also another thought, when the source code is not available for whatever reason VS automatically shows the disassembly.

[2021-08-19 21:58] dragonDScript opened #131212 "Add 'publish to gitlab' and 'clone from gitlab' buttons"
Many of us work with gitlab in a daily basis. Integrating it with vscode would improve our lifes.

So, I suggest:
- [ ] A login with gitlab feature.
- [ ] A publish to gitlab [private/public] repository option.
- [ ] A clone from gitlab repository option.

[2021-08-19 22:02] rebornix commented on #130499
Summary of how one renderer extension would need to do to support communication between the renderer code in webview and extension code running in the extension host code.

For example, a renderer extension contributes a renderer `renderer_a` for mimetype `application/vnd-sample`. The renderer extension code are activated separately in two contexts

1. Users open a notebook, which contain an outpu

[2021-08-19 22:02] #130499 closed

[2021-08-19 22:09] joeflack4 commented on #100335
+1  I'm surprised it took so many years to add this to browsers. This is such a helpful feature. Really need this. Right now I'm using sublime text as my way to have another 'group'. And that's just ghetto.

[2021-08-19 22:14] IllusionMH commented on #131207
Just for your info as you are linking latest specification

See https://code.visualstudio.com/Docs/languages/json#_json-schemas-and-settings

So not only Unicode RegExps won't work.

Also Draft 7 recommends schema authors to limit patterns to simple cases https://datatracker.ietf.org/doc/html/draft-handrews-json-schema-validation-01#section-4.3

But anyway updated schema support would be great.

[2021-08-19 22:17] IllusionMH commented on #131212
Have you tried extension from GitLab team?
https://marketplace.visualstudio.com/items?itemName=GitLab.gitlab-workflow

[2021-08-19 22:20] dragonDScript commented on #131212
No, however I'd prefer a first party workaround. I only need these features, not viewing prs etc.

Also, this extension does not provide the above features.

[2021-08-19 22:42] rebornix commented on #125127
Thanks for the suggestion.

[2021-08-19 22:42] #125127 closed

[2021-08-19 22:47] #130212 closed

[2021-08-19 23:10] TheGreen0ne opened #131235 "unwanted scroll with HTML <details>"
Issue Type: <b>Bug</b>

## steps to reproduce

1. start a new Jupyter interactive window
2. run this python code
[code]
3. scroll up to the `<details>` element and expand the spoiler

## actual behaviour

the window scrolls down to the bottom

## expected behaviour

no scrolling

## versions

Started 'Python 3.9.4 64-bit ('B': venv)' kernel
Python 3.9.4 (tags/v3.9.4:1f2e308, Apr  6 2021, 13:40:21)

[2021-08-19 23:16] maochoa31415 opened #131214 "Incorrect cocumentation"
Issue Type: <b>Bug</b>

The documentation

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:30:16.440Z)
OS version: Linux x64 5.4.0-26-generic
Restricted Mode: No

[2021-08-19 23:25] #126938 closed

[2021-08-19 23:25] #130543 closed

[2021-08-19 23:35] corneliusroemer commented on #129979
To be honest, it's good that there is an explanation of the behavior in docs, but I don't understand the reasoning. I don't have the mangled path in my other terminals. In hyper I don't have any problem with conda paths. So why only in vs code?

The explanation given is that adding the `-l` flag makes the terminal behave more like Mac's default. But I don't see this at all. It's only vs codes term

[2021-08-19 23:38] corneliusroemer commented on #130915
But why do I only see this path problem in vs code and not say hyper terminal? Does hyper decide not to use a login shell?

This is what I find confusing as a user. A problem pops up with only vs code but not other terminals.

[2021-08-19 23:47] eduardo305 opened #131216 "Typescript/Extension crashing"
Issue Type: <b>Bug</b>

My Typescript extension crashes every 5 min or so. Consequently, all other extensions crash too and have to restart my VSCode

VS Code version: Code 1.59.0 (379476f0e13988d90fab105c5c19e7abc8b1dea8, 2021-08-04T23:14:40.191Z)
OS version: Darwin x64 19.6.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-9980HK C

[2021-08-19 23:59] roblourens commented on #130866
Does that file exist? Maybe it has bad permissions?

[2021-08-20 00:00] mjbvz commented on #131216
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2021-08-20 00:02] mjbvz commented on #131158
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

/needsMoreInfo

[2021-08-20 00:05] roblourens commented on #130843
What exactly is the problem?

[2021-08-20 00:06] mjbvz commented on #131079
We removed support for rendering Data URI resources when we switched to use custom editors for the image preview. They didn't fit into to the custom model since they don't have a file extension, and we didn't really have a good use case for them at the time

[2021-08-20 00:09] Kevin-Atef opened #131217 "Stepping into a built in function in C++ doesn't work on linux"
Does this issue occur when all extensions are disabled?: No

- VS Code Version: 1.59.0
- OS Version: Ubuntu 20.04

Steps to Reproduce:

1.Debug any C++ code using gdb
2.Step into a built in function (like cout)

Stepping into a built in function doesn't do anything it just steps over the next line. But it works fine on windows so maybe vscode can't access usr/include files ?

[2021-08-20 00:09] amcasey commented on #131142
LGTM

[2021-08-20 00:12] roblourens commented on #130708
I don't think anything is missing here. The setting container has information about the setting itself. When you focus the selectbox, it will read the value of the selectbox as expected.

[2021-08-20 00:12] #130708 closed

[2021-08-20 00:13] roblourens commented on #130655
Closing as dupe of the above

[2021-08-20 00:13] #130655 closed

[2021-08-20 00:14] jackos commented on #131125
Hi @alexr00

[I added details of why it's important in pull request 131127](https://github.com/microsoft/vscode/pull/131127)

[2021-08-20 00:17] roblourens commented on #130479
Thanks for doing that debugging. I would like to make the symlink issue more apparent but don't have time for it right now. That issue is mentioned in the wiki page I linked above. But really we should just be able to pop up a notification to the user.

[2021-08-20 00:27] roblourens opened #131218 "Wrong window focused when switching to vscode"
On macOS, in Insiders the past couple days

- Have several vscode windows open
- cmd+tab to some other app
- cmd+tab back to vscode
- A different vscode window other than the last one I used switches to the front and takes focus

[2021-08-20 00:29] mjbvz commented on #131217
/extC++

[2021-08-20 00:30] #130791 closed

[2021-08-20 00:30] #131217 closed

[2021-08-20 00:36] steveja42 opened #131220 "Format Document doesn't work when .ts file has {tab}{tab}/*{tab} in it"
Issue Type: <b>Bug</b>

With the below code in a file named bug.ts, pressing Shift+Alt+F does not format the document. If I delete one of the three tabs, then it does format the document.

		function foo() {}
}
	/*

*/

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>Syst

[2021-08-20 00:38] wethreetrees commented on #91613
What **did not work** for me:

1. Disable Docker extension

Id: ms-azuretools.vscode-docker
Description: Makes it easy to create, manage, and debug containerized applications.
Version: 1.16.0
Publisher: Microsoft
VS Marketplace Link: https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-docker

2. Disable Remote Container extension

Id: ms-vscode-remote.remote-containers
Descrip

[2021-08-20 00:42] jianweihao commented on #130536
Just like this, and I had to restart the code.

![2](https://user-images.githubusercontent.com/23733835/130161438-1056c009-6b07-4d07-a0be-4829d1d29985.png)
![3](https://user-images.githubusercontent.com/23733835/130161437-6cac1bdd-689e-4efd-b362-24459daa4708.png)
![4](https://user-images.githubusercontent.com/23733835/130161433-4e954fed-14ac-4039-8530-aa429d0e19d1.png)

[2021-08-20 00:42] mjbvz commented on #131220
Can you please revise the code example as markdown formatting messed up the original. I tried adding a fenced code block but it still looks weird

[2021-08-20 00:42] mjbvz commented on #131220
Also does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2021-08-20 00:44] ClaudeZhao commented on #131141
You are totally right! The sample I used a little old and I didn't pass number to fire(). Now it works.
Thanks a lot! I think this ticket could be close.

[2021-08-20 00:45] roblourens commented on #130536
Please file a separate issue for that, and you can figure out which process that is by checking the process explorer in vscode (Help > Open Process Explorer)

[2021-08-20 00:45] steveja42 commented on #131220
![hex](https://user-images.githubusercontent.com/8182683/130161621-54460c5f-b907-43c3-800b-73f13e33bc05.PNG)

[2021-08-20 00:47] mjbvz commented on #130951
To verify:

1. Using a notebook renderer (such as https://github.com/microsoft/vscode-extension-samples/tree/main/notebook-renderer-sample)
2. Check the `ctx` passed to `activate` to confirm `ctx.workbench.isTrusted` is correct
3. Now starting with an untrusted workspace, confirm that trusting the workspace re-renders the output and that `ctx.workbench.isTrusted` becomes true

[2021-08-20 00:47] roblourens commented on #130634
Doing a replace opens documents for all the replacements, but we should be trying to restore them since they weren't opened in editors right?

[2021-08-20 00:49] mjbvz commented on #131220
That code doesn't appear to be valid

[2021-08-20 00:51] roblourens commented on #130742
Can you share the full log from behind that dialog?

[2021-08-20 00:53] steveja42 commented on #131220
Behaves the same on insiders build with extensions disabled.
It happened on a large file with valid code- I pared it down to this to isolate the problem.

[2021-08-20 00:53] cj-l commented on #128277
Also facing this issue, I can start new terminals but they cannot be split

[2021-08-20 00:54] zishan9168 opened #131221 "my live server isn't work in my vs.code please fix that problem"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2021-08-20 00:55] #130951 closed

[2021-08-20 00:56] mjbvz commented on #131220
Please share a valid, self contained  code sample that demonstrates the problems

[2021-08-20 00:58] steveja42 commented on #131220
[code]

[2021-08-20 00:59] mjbvz commented on #131122
Thanks

Commenting and then uncommenting with cmd+/ worlds fine in my testing. The reason it seems to be failing here is the spaces between `{` and the `/*`

Depends on https://github.com/microsoft/vscode/issues/64659

[2021-08-20 01:00] jianweihao commented on #130536
I will create a separate issue for that later. Thx

[2021-08-20 01:01] pbldmngz commented on #130375
Got the exact same issue opening an executable created with pyinstaller that used easyocr. I had a bug that made the program create infinite processes and collapse memory but never work. It works just fine in the editor though. After collapting my sistem this error may appear.

[2021-08-20 01:02] steveja42 opened #131222 "Format Document doesn't work when .ts file has {tab}{tab}/*{tab} in it"
Issue Type: <b>Bug</b>

With the below code in a file named bug.ts, pressing Shift+Alt+F does not format the document. If I delete one of the three tabs, then it does format the document.

[code]

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Ite

[2021-08-20 01:06] jianweihao opened #131223 "vscode will use more and more memory"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.59.0
- OS Version: win10 18363

Steps to Reproduce:

1. start vscode
2. coding, compile and debug
3. open Task Manager, vscode use more and more memory

![2](https://user-images.githubusercontent.com/23733835/130163041-17f39dff-abc8-4b15-b039-f8025b14ab3e.png)
![3](https://user-images.githubusercontent.com/23733835/

[2021-08-20 01:07] roblourens commented on #130699
I guess I'm not sure how we set a z-index on the custom context menu, is that possible?

[2021-08-20 01:10] jianweihao commented on #130536
I have created a new issue. [vscode will use more and more memory #131223](https://github.com/microsoft/vscode/issues/131223)

[2021-08-20 01:12] jianweihao commented on #131223
This is the process explorer in vscode.

![5](https://user-images.githubusercontent.com/23733835/130163447-75a0c95c-a599-4b99-976e-4b96fb5ca539.png)

[2021-08-20 01:17] #131221 closed

[2021-08-20 01:18] mjbvz commented on #131222
Actually the first range is correct but the second and third ranges are duplicated, which seems to cause VS Code to drop them

Should likely be fixed on the TS side so moving back upstream :)

[2021-08-20 01:21] #131005 closed

[2021-08-20 01:21] mjbvz commented on #130667
Closing as we need more information from the original poster to investigate

[2021-08-20 01:21] #130667 closed

[2021-08-20 01:22] mjbvz commented on #130573
Closing as we need more information from the original poster to investigate

[2021-08-20 01:22] #130573 closed

[2021-08-20 01:22] david-waterworth opened #131233 "Git - Highlighting of files in .gitignore and .git/info/exclude should be consistent"
If you exclude files/folders user `.gitignore` vscode highlights that they're excluded (I think it's vscode and not an extension?).

If you exclude files using `.git/info/exclude` they're not highlighted in the same manner.

It would be nice if it were consistent. I use `.git/info/exclude` for `per user` files, particularly when I'm contributing to shared projects, in particular for `vscode` speci

[2021-08-20 01:22] mjbvz commented on #130151
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/)?

[2021-08-20 01:22] jianweihao commented on #130536
I have run the extension bisect. I tried using --disable-extensions to start the code, but to no avail.

[2021-08-20 01:30] HughxDev commented on #131122
@mjbvz

Yes, that’s the basis for this issue. Note the title says “spaced JSX comments”. I want to be able to Cmd + / regardless of whether or not there are spaces between the curly brackets, because my linter is set up to automatically add spaces between all JSX curly brackets.

[2021-08-20 01:33] FMS1989 commented on #130934
I am using the debugger in VS code. I have Powershell launch current file selected. What specific info do you need and where can I find it?

[2021-08-20 01:36] AlanLuCN opened #131224 "加载Web视图时出错"
Issue Type: <b>Bug</b>

Error: Could not register service workers: InvalidStateError: Failed to register a ServiceWorker: The document is in an invalid state..

VS Code version: Code 1.59.1 (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-19T11:56:46.957Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|11th Gen In

[2021-08-20 01:39] xisui-MSFT commented on #130947
Pulled the latest main, and saw a different error:

[code]

Saw same error using VS 2017 and 2019.

Looks like this one is because npm-gyp isn't handling systems with cygwin installed though... Any of you encountered similar issues before? And should I also open a bug in npm-gyp?

[2021-08-20 01:40] magelmal132 opened #131225 "Terminal is Blank"
Issue Type: <b>Bug</b>

The terminal is blank and wont let me type in it, i made a new user to see if the problem was the same but the it was fine on the other user, need help

VS Code version: Code 1.59.1 (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-19T11:56:46.957Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|

[2021-08-20 01:40] Gcgetget opened #131226 "The disk space the Service Worker folder in the Code folder on drive C keeps increasing"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.59.1
- OS Version: Windows 10 专业版 19042.985

Steps to Reproduce:

1. start vscode
2. Open the plug-in webview page.
3. The service worker folder is added to the Code folder.
![image](https://user-images.githubusercontent.com/31995767/130165486-76243df4-39f7-44b8-ab90-0953f18613d2.png)
4. The memory occupied by th

[2021-08-20 01:42] unobatbayar opened #131227 "Only one editor tab is shown at a time when there are many"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version:  1.59.1 (Universal)
- OS Version: macOS Catalina

Steps to Reproduce:

1. Open VSCode
2. Open multiple files
![Screenshot 2021-08-20 at 10 40 34](https://user-images.githubusercontent.com/38866249/130165969-918c5591-e768-43a4-b0a7-a74121d6f82b.png)

Wanted behaviour:
![Screenshot 2021-08-20 at 10 45 13](https://user-i

[2021-08-20 01:42] unobatbayar commented on #131227
Is this an update? How can I revert this? Please help, it's difficult to look around files.

[2021-08-20 01:51] pingshunhuangalex opened #131228 "VS Code 1.60.0-insider no long respect tokenColorCustomizations for brackets"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.60.0-insider
- OS Version: MacOS Catalina

Just restart VS Code Insider to get the update, and it comes back with a bunch of colourful brackets with a weird choice of colours... (I config my bracket to only use specific color based on its type)
![Screen Shot 2021-08-20 at 11 43 22 am](https://user-images.githubus

[2021-08-20 01:54] tuan-lm97 commented on #130334
Right now, I can do this by directly go to my vscode folder location at my machine and go to `resources\app\extension\theme-seti\icons` and modify directly the `vs-seti-icon-theme.json`. Add some icon in the  **extension** folder, then add some field in `foldericonDefinitions` and add `folder` or `folderExpanded` in the json file.
I see that Material Icon theme doing something similar. Can we plac

[2021-08-20 02:07] pingshunhuangalex commented on #131228
Actually lots of the syntax highlighting are different after the update. It tries to apply my `tokenColorCustomizations` override but fails here and there all over the place... Hopefully, it's not an intended change. Every time something happens to theme and syntax highlighting, it just completely destroyed my day and workflow

[2021-08-20 02:08] #131136 closed

[2021-08-20 02:13] gjsjohnmurray commented on #131228
See #129231 for incoming feature. Looks like it is enabled by default.

[2021-08-20 02:16] gjsjohnmurray commented on #131227
Please use the Start Extension Bisect command to investigate whether the problem is being caused by one of your extensions.

[2021-08-20 02:18] pingshunhuangalex commented on #131228
Thanks so much @gjsjohnmurray `"editor.bracketPairColorization.enabled": false,` saved the day.

By any chance you also know the answer to my second question? (sorry for being lazy here instead of opening a separate ticket)

[2021-08-20 02:23] gjsjohnmurray commented on #131228
See #130262

[2021-08-20 02:31] unobatbayar commented on #131227
Thank you, can you confirm this doesn't happen in your VSCode?

[2021-08-20 02:33] meganrogge commented on #131225
It looks like your report is missing some important information, See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more info on how to report actionable terminal issues.
/label "needs more info" integrated-terminal

[2021-08-20 02:35] mekdes45 opened #131229 "liveshare"

[2021-08-20 02:35] #131229 closed

[2021-08-20 02:42] #130618 closed

[2021-08-20 02:46] 19PosBGH32 opened #131230 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `microsoft-authentication`
- Extension Version: `0.0.1`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.59.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-08-20 02:49] meganrogge commented on #130818
does this happen also in the editor find widget or only the terminal one?

[2021-08-20 02:52] Fi-past commented on #130818
It only happens in the terminal, other parts such as the editor are fine

[2021-08-20 02:55] yashraj-n commented on #131167
Ok thanks, it was live share extension which was causing issues

[2021-08-20 02:57] pingshunhuangalex commented on #131228
Oh no, not sure why the team decides to do this. Well, thanks @gjsjohnmurray again for the link.

[2021-08-20 02:57] #131228 closed

[2021-08-20 03:00] jp-stewart commented on #131116
![VS_code_example](https://user-images.githubusercontent.com/12010417/130172348-8f98dbd8-325e-4577-a545-adbacaeb3b32.gif)

Ok, here is a video I captured. Note that the website suggested crashed edge. I had to use powerpoint and then find an mp4 to gif converter.

[2021-08-20 03:03] Chris-70 commented on #13960
Brief supported a virtual space 35 years ago, Visual Studio has supported it as long as I can remember. I don't know any modern code editor that doesn't, or perhaps I just don't consider using any editor that doesn't. In Linux no other editor I've found comes close to VS Code in all the other features, so I'll be frustrated and curse Microsoft every time I try to use it and it isn't there.

This s

[2021-08-20 03:08] meganrogge commented on #130762
try setting terminal.integrated.localEcho to -1

[2021-08-20 03:11] polinasok commented on #128484
I tried this and can see that change in the behavior. I looks like it also impacts attach request failures as well. I am grateful for a quick turnaround and your responsiveness. However, I am concerned that this change will negatively impact your users. Because there was an automated pop-up for launch and attach errors, we chose to set showUser to false for all launch/attach errors to avoid double

[2021-08-20 03:21] MerwaneHAMADI commented on #131056
Thanks.
It worked with this setting :

it worked with :
[code]
For anyone having the issue in the future :
The idea is to map the TS file in google chrome to your TS file in vscode.

[2021-08-20 03:25] deepak1556 commented on #130947
Sorry for the delayed response, for https://github.com/microsoft/vscode/issues/130947#issue-972157949 trying deleting the cache folder `C:\\Users\\xisui\\AppData\\Local\\node-gyp\\Cache\\13.1.8`, very likely incomplete downloads of the headers.

For the cygwin error, it is best if you followed up with `node-gyp`. See if you hit the same error building any native module https://github.com/mapbox/no

[2021-08-20 03:38] gusbemacbe commented on #2809
Any news about the backlog about this feature?

[2021-08-20 03:45] #131167 closed

[2021-08-20 04:06] JDTAY commented on #116673
You can copy the settings.json locally, delete them, and try to replicate the issue again, and depending the result modify your settings.json incrementally or bring them all back. You don't need to use Settings Sync or the native Sync in VSCode for what I'm recommending.

[2021-08-20 04:06] tsongas commented on #129216
That worked, thanks! Seems like maximized should be the default.

[2021-08-20 04:15] JDTAY commented on #116673
But I understand your hesitation all the same, I'm only expanding on what I did to get around it. :)

[2021-08-20 04:25] unobatbayar commented on #131227
By removing everything including preferences and caches, this has been solved. Thank you for your time, sorry for inconvenience.

[2021-08-20 04:25] #131227 closed

[2021-08-20 04:28] erhhung commented on #131148
My `workbench.startupEditor` setting is `welcomePage`—I assume that's the default since I've never changed it.
I also tried the Insiders build from today, but it bahaves the same as 1.59.0 stable.

On my MBP, with 1.58.2, the new window appears in about a second, followed by the diff tab almost immediately afterwards.
With 1.59.0+, the window also appears in about a second, but then nothing happen

[2021-08-20 04:46] xinrongl opened #131232 "Python and Pylance extension installation failed."
## Environment data

-   VS Code version: 1.59.1
-   Extension version (available under the Extensions sidebar): Python & Pylance
-   OS and version:

    VERSION="18.04.4 LTS (Bionic Beaver)"
    ID=ubuntu
    ID_LIKE=debian
    PRETTY_NAME="Ubuntu 18.04.4 LTS"
    VERSION_ID="18.04"
    HOME_URL="https://www.ubuntu.com/"
    SUPPORT_URL="https://help.ubuntu.com/"
    BUG_REPORT_URL="https://bugs

[2021-08-20 04:48] keidarcy commented on #127739
disable copilot works for me

[2021-08-20 05:12] zaverden commented on #124968
got this issue today in WSL2

solution from this comment helped: https://github.com/microsoft/vscode/issues/124968#issuecomment-870528245

everything worked yesterday, got broken after this morning update
[code]

[2021-08-20 05:15] bpasero commented on #131218
/gifPlease

[2021-08-20 05:22] bpasero commented on #131148
@erhhung I cannot reproduce. Some questions:
* does it reproduce when you remove the `--wait`
* does it reproduce when you have no instance of VSCode running and remove the `--new-window` argument

Can you share a gif?

[2021-08-20 05:23] bpasero commented on #131116
@jp-stewart did you possibly start VSCode as different user and/or admin? I recall an issue where when you run VSCode as admin, drag and drop no longer works.

Is this only about drag and drop?

[2021-08-20 05:27] Trebor-Huang commented on #131184
I see. Is it possible to add the blue border as in the Problems panel? It makes the focus indication more uniform.

[2021-08-20 05:28] jp-stewart commented on #131116
In the video provided, I also showed how double-clicking the file will
activate the vs code window, but has the same effect and does not open it.
Not captured, but using file open menu has the same effect.

It’s possible vscode is running as admin. But I don’t recall at this point.
But I would not expect that to be the case.

This this is my work machine, I can’t check again until work on Monday.

[2021-08-20 05:34] bpasero commented on #131116
Ok, I suspect an issue with permissions / user rights, please check then on Monday.

An alternative experiment is to open a command line and try to bring a file into the instance by running `code <path to file>`. You can also add `--verbose` to get logging information and possible errors.

[2021-08-20 05:43] wenkangmq commented on #126294
If it's not this small people would not have noticed it. Just make it larger before adding customization feature for this.

[2021-08-20 06:01] Gatharikih opened #131234 "Git authentication"
Issue Type: <b>Feature Request</b>

Git deprecated the use of username and password to authenticate any git-related transaction and replaced with the use of tokens. As a developer who uses VS Code on a daily basis I was requesting for such a feature that would enable connections to git with tokens.

VS Code version: Code 1.59.0 (379476f0e13988d90fab105c5c19e7abc8b1dea8, 2021-08-04T23:13:12.822Z)
O

[2021-08-20 06:15] armujahid commented on #128583
@dniku Better solution for Manjaro is mentioned at https://forum.manjaro.org/t/unable-to-download-extensions-in-code/74397/5?u=armujahid

[2021-08-20 06:31] Profesor08 commented on #87321
[code]

[2021-08-20 06:34] bpasero commented on #131084
@roblourens that code still exists but is limited to when you paste the full absolute path into quick open:

https://github.com/microsoft/vscode/blob/ca28dc10d78296d10befc1df3c298a1771c5d98d/src/vs/workbench/contrib/search/browser/anythingQuickAccess.ts#L657-L657

To my knowledge we never tried to take the relative path and resolve it to one of the workspace folders, but this sounds like a reasona

[2021-08-20 06:39] Son0fAnton opened #131236 "Cannot revert deleted directory"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.58.2
- OS Version: Kali Linux 2021.2

[2021-08-20 06:40] polinasok commented on #128484
Oh, and another thought, what is the advantage of having both the modal and the bottom pop-up?
![image](https://user-images.githubusercontent.com/51177946/130191004-89c2bfb4-fc95-4617-8de5-a6a9ffe2e955.png)
The user must close both of them manually. Perhaps it makes more sense for `showUser` to replace the small bottom error with the visible modal dialog?

[2021-08-20 06:41] Defnewbe commented on #131230
Hi, I am also having issues loading the extensions. "We cannot connect to the Extensions Marketplace ......"

[2021-08-20 06:49] Defnewbe opened #131237 "I was trying to add extensions. "No access to Extensions Marketplace" When will this be available again?"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2021-08-20 06:50] sheikalthaf commented on #10759
Finally it is available in store

![image](https://user-images.githubusercontent.com/22526247/130192349-b39af0e4-c255-4725-9b7a-17c8e8c2ee92.png)

[2021-08-20 06:53] Defnewbe commented on #131237
No, I am not aware of having anything disabled.

[2021-08-20 06:54] bpasero commented on #130634
@sandy081 I find it a bit surprising that we have no bound in the replace service for the edits that are applied. I would strongly suggest to split the work up into chunks of maybe 50-100 models each and then apply them one by one and only continue with the next chunk when the one chunk is finished.

Since we nicely show progress I do not think that is a big issue. In addition we could actually of

[2021-08-20 06:59] greazer commented on #130833
Couple ideas that could help, but may be difficult to pull off and aren't foolproof...

- Require that the user double click to set a breakpoint
- Require that the user hold the mouse button down for a second or so to set the bp. Much like modern iphones and ipads support "pushing harder on an on-screen button" to make something different happen. Of course, you could indicated how long the hold ne

[2021-08-20 07:08] sumneko opened #131238 "Strange behavior of completion in string"
Does this issue occur when all extensions are disabled?: No

版本: 1.60.0-insider (system setup)
提交: 1c445fe4c7c540d323a206f2f7cb8df9aa99d60e
日期: 2021-08-10T23:49:45.206Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT ia32 10.0.22000

I am the developer of a extension, I want to complete the file name of the `require`, just like typescript:

![ts](ht

[2021-08-20 07:10] DonJayamanne opened #131239 "Support links in stack traces (of Notebook Cell Outputs) that end up being links to a position in a file"
Assume .NET extension adds an error object as an output, the stack traces contain paths to lines.
None of them can be clicked.

In Jupyter extension we have ability to change these stack traces into links for Interactive window.
I have a personal extension that turns these stack traces into links for Jupyter Notebooks.
I also have another extension that turns these stack traces into links for yet

[2021-08-20 07:14] revanmj commented on #10759
Only on Win11 and this won't use MS Store as an updater, still relaying on the one built into the app.

[2021-08-20 07:19] kay-stack opened #131240 "Debugger AutoLaunching"
Issue Type: <b>Bug</b>

Expected result:

Debugger should only launch on command.
-------------------------------------------------------------------------
Actual result:

Debugger automatically launches with no interaction while editing any source files.

Disabling all extensions causes pop-up prompting to install plugin to debug plain-text from Marketplace with no way of dismissing it. When canc

[2021-08-20 07:22] jrieken commented on #131047
Are there any errors on the console?

[2021-08-20 07:24] DonJayamanne opened #131241 "Toggle cell toolbar menu item doesn't do anything when position is defined in settings"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:	Version: 1.60.0-insider
Commit: c08913337cb8b95493be8e99d62e0b3241563f6b
Date: 2021-08-19T05:17:33.223Z (1 day ago)

- OS Version: Mac

Steps to Reproduce:

1. I have a setting for toolbar position defined as follows:
[code]
2. Click `Customize Notebook` icon & click the `Toggle Cell Toolbar Position` item
3. Nothi

[2021-08-20 07:35] AkshayRoyal opened #131242 "Installing extension on remote host takes forever"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.58 and 1.59
- OS Version: RHEL 8.4

Steps to Reproduce:

1. ssh to some remote web server (in my case it is my academic institution's High power computing server)
2. once the vs code is initialized for the server, go to extensions and try installing any extension on the remote host. On clicking install on <host>, it

[2021-08-20 07:36] jrieken commented on #131083
It would mean that we send a lot of combined data from all the extensions hosts to each extension host. Also, this is UI data and not really semantic information

[2021-08-20 07:40] iostrym commented on #115784
thanks. just to be sure, now we must also wait that stable version of vscode will get the correction. right ?

[2021-08-20 07:40] isidorn commented on #129762
Always opening the disassembly view On the Side might make sense. Let's see what @yuehuang010 and @xisui-MSFT think

As for the second one (when source not available to automatically show), that sounds like a feature request. I suggest you file a new issue and then we can see to potentially add it in the future. I would not do this for starters, but only once we polish the current view much more.

[2021-08-20 07:48] #60236 closed

[2021-08-20 07:48] DonJayamanne opened #131243 "Copying running cells causes run state information to be copied"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: Version: 1.60.0-insider
Commit: c08913337cb8b95493be8e99d62e0b3241563f6b
Date: 2021-08-19T05:17:33.223Z (1 day ago)

- OS Version: Mac

Steps to Reproduce:

1. Run a cell in a notebook
2. While its running, duplicate the cell
2. Note how the run information is copied over to the new cell (the pasted cell too has a

[2021-08-20 07:52] bpasero commented on #129313
//cc @TylerLeonhardt

[2021-08-20 07:55] isidorn commented on #128484
@polinasok thanks for trying it out. All good feedback. Let's reopen so we try to address this.

1. I see. We could only have this logic for `launch` requests, however that sounds not consistent. What do you propose? If the `showUser` is not defined the error will still be shown as before. So I do not understand how this can catch adapter implementors off guard. Can you clarify pease?
2. When the

[2021-08-20 07:58] alexr00 commented on #131125
@jackos sounds like you have a real use case for it. Thanks for the details!

[2021-08-20 07:59] sandy081 commented on #131244
Can you please explain what these are?

[2021-08-20 08:00] sandy081 commented on #131242
Can you please provide following logs while you reproduce the issue?

- View -> Open View… -> Log (Shared)
- View -> Open View… -> Log (Window)
- - View -> Open View… -> Log (Remote)

[2021-08-20 08:00] gjsjohnmurray commented on #131240
Seems to be acting like you pressed the F5 key. Maybe check your keybindings, e.g.

![image](https://user-images.githubusercontent.com/6726799/130199869-7a86edb8-ea50-4f99-8443-5d4c6852cacf.png)

What triggers the start of debugging? Saving the document? Maybe you have enabled autosave. Any custom tasks?

[2021-08-20 08:02] gjsjohnmurray commented on #131234
/needsMoreInfo

[2021-08-20 08:05] JacksonKearl commented on #131095
Fair

[2021-08-20 08:06] #131095 closed

[2021-08-20 08:09] sandy081 commented on #130634
ReplaceService using BulkEditService to perform bulk edits. Is not the BulkEditService shall do it in chunks instead of its callers?

[2021-08-20 08:11] cbrnr opened #131245 "Show recent projects in Explorer when no folder is open"
Currently, the Explorer shows two suggestions when no folder is open ("Open Folder" and "Clone Repository"). I think it would be helpful if it also listed some recent projects, which would make it unnecessary to go into the nested menu File -> Open Recent.

[2021-08-20 08:12] Raydir opened #131246 "Syntax-Highlighting differs since Insider 1.60"
Hey there

I just mentionend that the latest Insider build did mess with the colorization of my syntax-highlithing

Stable 1.59.1
![grafik](https://user-images.githubusercontent.com/17499573/130202016-5aa6494e-206c-4393-b697-e032064cb688.png)

Insider 1.60
![grafik](https://user-images.githubusercontent.com/17499573/130201858-e28f20be-7a29-47ec-8808-f44b719b96a9.png)

Extension for reproduction:
h

[2021-08-20 08:13] sandy081 commented on #131232
It seems from the logs, you have network connection issues - Please check if you are able to do following?

Please follow these steps

- Help -> Toggle Developer Tools -> Network
- Then check for any network failed requests while browsing and installing the extensions if found all requests fails then its probably a proxy or DNS issue at your end.
- To confirm its a network issue check if you can a

[2021-08-20 08:15] jrieken commented on #131238
That's the `editor.quickSuggestions` setting. By default suggestion don't trigger as you type when typing in strings

[2021-08-20 08:15] Raydir commented on #131246
Also differs on Monokai:
![grafik](https://user-images.githubusercontent.com/17499573/130202657-42e17caa-a6db-4993-a2e6-284808944d5b.png)

[2021-08-20 08:16] #131238 closed

[2021-08-20 08:18] isidorn commented on #105558
@rafa11rodrigues I suggest to use the workaround for now In the meantime, set `editor.accessibilityPageSize: 2` in your vscode settings.

I just emailed AI Squared and Freedom Scientific, however let's also check with @ggordon-vispero if he knows how do magnifiers follow native cursors and if VS Code could tell the magnifier to follow our cursor and not the native one.

[2021-08-20 08:18] IllusionMH commented on #131246
This is built-in brackets pairs colorization #129231

Also see #131176

[2021-08-20 08:19] sandy081 commented on #123581
Extension packs are normal extension artifacts like others in the Marketplace, they are no different or special when it comes to search. It seems you need to define some common keyword for all these extensions so that they can appear in search together.

[2021-08-20 08:22] alexdima commented on #129239
Let's first try to find out what command executes on your machine, with your settings and your keybindings when pressing `Enter`. Could you please [try the following](https://github.com/microsoft/vscode/wiki/Keybinding-Issues#basic-troubleshooting):

* Run the command `Developer: Toggle Keyboard Shortcuts Troubleshooting`
* This will activate logging of dispatched keyboard shortcuts and will open

[2021-08-20 08:29] kay-stack commented on #131240
Typically just clicking anywhere within VSCode triggers the debug, I have rolled back my version to Version: 1.58.2 (system setup) and the problem seems to be resolved.

Debug keybindings are set to default and the debug started automatically with no input from keyboard (mouse click) but there have also been instances when debug started while typing.

![image](https://user-images.githubusercontent

[2021-08-20 08:31] sandy081 commented on #130651
I do not think so.

[2021-08-20 08:37] alexr00 commented on #131079
GHPRI has been happily using data URIs the whole time :)

[2021-08-20 08:42] choephix opened #131247 "TS Server fatal error: Debug Failure. False expression."
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.4.1-rc

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Error Stack*

[2021-08-20 08:42] sandy081 commented on #131126
Related - https://github.com/microsoft/vscode/issues/93322

[2021-08-20 08:43] baris-inandi opened #131248 "Codespaces Product icons not working"
I don't know if this is a github.dev thing or if it's about vscode, but the product icon themes do not load on the newly released GitHub codespaces.

I tried multiple product icon themes and none of them work properly in workspaces.

![Screenshot from 2021-08-20 11-42-36](https://user-images.githubusercontent.com/68742481/130206411-3f00d6a6-4062-4d55-8b73-762f16669381.png)