[2020-09-30 18:23] rebornix commented on #107580
we can probably check `IEditorService` to check if the editor is notebook editor and then check if the active element is in the notebook editor's list view

https://github.com/microsoft/vscode/blob/master/src/vs/workbench/contrib/notebook/browser/notebookBrowser.ts#L706-L710

for example

[code]

[2020-09-30 18:24] sbatten opened #107838 "Reconfiguring realtime view duration unnecessarily clears the graph"
Testing #107623

Unlike the polling interval change, changing how much history is shown does not invalidate the data, so we could redraw the graph.

[2020-09-30 18:24] #107623 closed

[2020-09-30 18:24] #107790 closed

[2020-09-30 18:24] #107796 closed

[2020-09-30 18:24] #107799 closed

[2020-09-30 18:24] #107787 closed

[2020-09-30 18:24] #107792 closed

[2020-09-30 18:24] #107788 closed

[2020-09-30 18:24] #107789 closed

[2020-09-30 18:24] #107798 closed

[2020-09-30 18:24] #107794 closed

[2020-09-30 18:25] isidorn commented on #107695
@alexdima good idea, but that does not seem to be the case looking at the code.
I always first set the content of the widget, and only then call the [`layoutContentWidget`](https://github.com/microsoft/vscode/blob/5ab1d926b623f10de864fff823a58cef1af7ec55/src/vs/workbench/contrib/debug/browser/debugHover.ts#L272)
However the widget word wraps, and in this particualr case it looks like the css break

[2020-09-30 18:25] connor4312 commented on #107837
cc @misolori -- maybe an icon similar to the split view, but with arrows facing outwards or inwards?

This is the current icon for reference:

![](https://memes.peet.io/img/20-09-fefbb8a4-2371-4b27-a5ff-22dafdf6d74c.png)

[2020-09-30 18:43] connor4312 commented on #107829
Hm, am I doing something differently than you? https://memes.peet.io/img/20-09-b89036d8-7ce7-4969-a571-cfaf124e0bb5.mp4

[2020-09-30 18:47] anacsousa1 commented on #107024
Hi @joaomoreno , I am having the same trouble that @sadig2 described.
What do you mean by "disabling git terminal via git.terminalAuthentication setting"? How may I do that?

[2020-09-30 18:49] alexdima commented on #107636
@giahuytn I have ensured that the folder is deleted on disk. I cannot reproduce, I get the same behaviour as shown in the above gif.

[2020-09-30 18:52] #107580 closed

[2020-09-30 18:53] isidorn commented on #107580
Went with @rebornix solution
fyi @bpasero if you have a good idea on a common way to get an HTML element of any editor (including custom editors). Could not find it, since `getDomNode()` is only exposed by some eidtor types.

[2020-09-30 18:54] #107624 closed

[2020-09-30 18:54] isidorn commented on #107802
Great, thanks!

[2020-09-30 18:54] connor4312 commented on #107835
I used to have a little arrow/twistie, but that was awkward and I couldn't figure out a good place to put it. I'll think about it some more, open to suggestions as well

[2020-09-30 18:54] #107836 closed

[2020-09-30 18:54] #107833 closed

[2020-09-30 19:02] TheMisir commented on #107825
Thanks, I haven't noticed 😅

[2020-09-30 19:09] rontav commented on #43806
We would love this feature in our company. @bpasero would you mind giving @mehanix some feedback so that the PR would be merged? I'm sure you have a lot on your plate but we'd really appreciate if you'd have a look.

[2020-09-30 19:18] roblourens opened #107839 "Debug: Open Link requires access to weird stuff"
Using "Debug: Open Link" asks for access to System Events, any idea why?

![image](https://user-images.githubusercontent.com/323878/94729740-fb95e280-0316-11eb-830f-701b9c1db61a.png)

[2020-09-30 19:22] roblourens opened #107840 "Open launch.json after writing new config to it from "Debug: Open Link""
From https://github.com/microsoft/vscode/issues/104585

I think it would be helpful if it opened the launch.json after I choose to write the new config to it.

[2020-09-30 19:26] kford commented on #4490
@felipemullen Thank you for that thoughtful suggestion (and I appreciate where you're coming from).  I wasn't aware of the power of multi-cursors and it applies nicely to my use case.  I repeatedly have to edit audio metadata files and manually pad tracks with a leading 0 for tracks 1-9.  To do this, using your approach, I am able to enter a regular expression in FIND, like `(^TT.*Track )([1-9]{1}

[2020-09-30 19:26] connor4312 commented on #107839
Open Link is just a thin wrapper around vscode.debug.startDebugging. Have you debugged Chrome recently/before on that install? Maybe just launching Chrome requires that info?

[2020-09-30 19:43] chrmarti commented on #107813
@farhanpurdi That appears to be fixed, could you retry?

[2020-09-30 19:43] kjeremy opened #107841 "Go to Definition goes to first usage and not definition"
Issue Type: <b>Bug</b>

If there is one definition and one usage of that definition then clicking on "Go to Definition" on the definition will go to the usage. If there are multiple usages then "Go to Definition" will instead bring up the references.

I can reproduce this in both typescript and rust.

For instance in the code below where `<|>` is the cursor where `F12` is hit:

[code]

In the foll

[2020-09-30 19:45] sgalizia commented on #107475
Ah missed that sorry! I did search for a similar issue but guess I didn't search with Prettier. Glad to see it is resolved.

[2020-09-30 19:45] chrmarti commented on #107813
Continue tracking in #107793.

[2020-09-30 19:45] #107813 closed

[2020-09-30 19:47] #106389 closed

[2020-09-30 19:51] chrmarti commented on #107793
This works for me (connecting from Switzerland).

@KushalSM Could you retry? This might take some time to reach all regions.

[2020-09-30 19:53] sbatten opened #107842 "onDidDispose is fired when view is moved"
Testing #105764

If this is expected, then it should be mentioned in the `.d.ts` as the documentation implies that the only case is hiding the view.

[2020-09-30 20:00] sbatten opened #107843 "retainContextWhenHidden not working as expected"
Testing #105764

Either I am using it wrong or it is not working but I expect if this value is true, the webview just exists and is not recreated when the view is collapsed.

[2020-09-30 20:06] connor4312 commented on #107840
I thought about this, but didn't do it at the time since we don't save instead of debugging, we save while debugging, so I didn't want the user to lose context if they decide to save it for next time.

[2020-09-30 20:11] the-packet-fang opened #107844 "intellisense ca't suggest sub methods"
- VSCode Version: 1.48.2
- OS Version: linux manjaro

I'm working with a python SDK that have many sub-methods, so when I'm typing `my_obj = client.org...` I'm getting all the possible methods, but when I go to the second method `my_obj = client.organizations.org...` I can't see any suggestions.

Does this issue occur when all extensions are disabled?: Yes

[2020-09-30 20:29] mjbvz commented on #107842
This is a bug. Specifically it happens when moving a view to a top level container and back or when moving a view between containers

[2020-09-30 20:32] sbatten commented on #107829
![recording (2)](https://user-images.githubusercontent.com/6561887/94736650-6cda9300-0321-11eb-8601-30d824964ef2.gif)

[2020-09-30 20:33] mjbvz commented on #107843
Try adding a `console.log` in the script run inside the webview. With `retainContextWhenHidden` disabled, you should see logging when the webview is first shown and when it is expanded

With `retainContextWhenHidden` true, you should only see logging when the view is recreated (and not on expand). This would happen: on first load, when the webview is disposed, the webview is hidden using the conte

[2020-09-30 20:34] mjbvz commented on #107843
Note that #107842 causes the webview to be disposed more often than it should be, but the main thing to confirm is that simply collapsing and expanding the webview should not destroy the webview when `retainContextWhenHidden` is set

[2020-09-30 20:35] mjbvz commented on #107844
/extPython

[2020-09-30 20:35] #107844 closed

[2020-09-30 20:37] mjbvz commented on #107827
I believe the webview is mistakenly being recreated in this case: #107842

The `onDidChangeVisibility` you are seeing with `visible === false` is coming from the old view which is being disposed of see #105879 for that

[2020-09-30 20:39] #107827 closed

[2020-09-30 20:46] chrmarti commented on #107793
Checked with the repo team. This was fixed almost 5 hours ago. Anyone still seeing this, please let us know.

[2020-09-30 20:46] partap commented on #72630
It's not the same as paste (`cmd+v`)...
`ctrl+k`, `ctrl+y` uses a different buffer than the clipboard.

Although, I suppose that's not a dealbreaker... As a workaround I could map `ctrl+k to shift+cmd+right_arrow, cut`, and then map `ctrl+y` to paste, just to help my poor muscle memory.

But it seems that vscode is actively overriding the system's `ctrl+y` behavior somehow, and it would be nice to

[2020-09-30 20:48] sbatten commented on #107843
As discussed: turns out I was setting the value in the wrong place because I misread the documentation and the sample does not include an example.

Potential improvement: Include this option in the sample with the value set to false. include a comment explaining that this is the default, not necessary but included for clarifying how and why to change it to true.

[2020-09-30 20:49] usernamehw commented on #107843
Can we have a separate option to never dispose webview view? (false by default).

[2020-09-30 20:53] #107626 closed

[2020-09-30 20:56] misolori commented on #107837
What about using the collapse/expand icons? The metaphor can still apply here as this toggles between 1 chart vs many:

![image](https://user-images.githubusercontent.com/35271042/94738765-be385180-0324-11eb-944d-5494835f9a01.png)

![image](https://user-images.githubusercontent.com/35271042/94738779-c2646f00-0324-11eb-9d8e-6e210bc181e6.png)

[2020-09-30 20:58] DustyPane commented on #107724
After upgrading to Windows 10 2004 I'm seeing the same behavior w/version 10.0.19041 (the same one that works on another laptop), so it does not appear to depend on the Windows version

[2020-09-30 21:08] connor4312 commented on #107829
Ah, thanks, I actually fixed that in https://github.com/microsoft/vscode-js-profile-visualizer/commit/181d5317ce4443c8521efffd5c93571ed1d5aee9#diff-ed37fc08d14745b61a4bfafdeaec836e -- I thought before it was just causing some extra DOM stuff, but it looks like it also caused this bug.

[2020-09-30 21:08] #107829 closed

[2020-09-30 21:15] rquispeq commented on #107738
Hi, I'm on windows 10, the gutter that you mentioned it doesn't work for both files. These filenames are the same file by the way.

![image](https://user-images.githubusercontent.com/23042251/94740273-fb5a0f00-0337-11eb-9923-ccfd88bea05a.png)

![image](https://user-images.githubusercontent.com/23042251/94740298-06ad3a80-0338-11eb-9764-bb0bcd759d21.png)

The variable $test is the new line that I ad

[2020-09-30 21:16] connor4312 commented on #107837
Sounds good to me

[2020-09-30 21:17] #107837 closed

[2020-09-30 21:37] mjbvz commented on #107843
Closing this since from our discussion it does sound like the setting is behaving as expected.

Regarding documenting this in the sample: On second thought, I don't think we should include this option. We strongly encourage extensions to use VS Code's default webview behavior, which performs better and is suitable for most cases. An advanced extension user can use this setting if they need to, but

[2020-09-30 21:37] #107843 closed

[2020-09-30 21:38] roblourens commented on #107663
I agree with that. Will listen for more feedback.

[2020-09-30 21:38] #107663 closed

[2020-09-30 21:39] 2percentsilk opened #107846 "Enable hiding of Home Indicator in Codespaces"
Based on a [recently filed issue](https://github.com/MicrosoftDocs/vscodespaces/issues/813) on Codespaces.

It'd be great to provide the option of hiding the "Go Home/back to GitHub" indicator at the top of the activity bar. This would be in line with the current behavior for other icons in the activity bar.
![HomeIndicator](https://user-images.githubusercontent.com/3174849/94742322-5e44a980-032a-

[2020-09-30 21:41] roblourens commented on #107839
Oh, that's probably it. Haven't launched Chrome recently.

[2020-09-30 21:41] #107839 closed

[2020-09-30 21:49] mjbvz opened #107847 "[Firefox] Select all doesn't work in input boxs"
**Repro**
1. Open https://vscode-web-test-playground.azurewebsites.net/?enter=true in firefox
1. Open the find widget
1. Try using the standard select all keyboard shortcut (cmd+a on Mac) in the find widget

**Bug**
Select all doesn't work

It works in the editor and in both Safari and Chrome

[2020-09-30 21:49] A5hot opened #107848 "Horizontal Scrolling With Wheel Broken"
Issue Type: <b>Bug</b>

Scrolling with the secondary wheel on mx master 3, which is used for horizontal scrolling, will work for a moment, causing the page to scroll horizontally by an inch, then no longer work. Works intermittently but usually does not work.

VS Code version: Code 1.49.2 (e5e9e69aed6e1984f7499b7af85b3d05f9a6883a, 2020-09-24T16:29:41.983Z)
OS version: Windows_NT x64 10.0.19041

<d

[2020-09-30 22:01] roblourens opened #107849 "Hover isn't vertically centered"
Stable
![image](https://user-images.githubusercontent.com/323878/94744130-55090c00-032d-11eb-9756-33e8eb71c568.png)

Insiders
![image](https://user-images.githubusercontent.com/323878/94744178-5e927400-032d-11eb-927a-71bb655f9215.png)

[2020-09-30 22:01] roblourens commented on #107849
https://github.com/microsoft/vscode/issues/101496 ?

[2020-09-30 22:03] LoneWolfHT commented on #100940
This fixed it for me. Same OS and DE

[2020-09-30 22:03] syprieur opened #107850 "Infinitely respawning tab"
Issue Type: <b>Bug</b>

1. Have VS Code as the default diff editor for Git.

2. From `Microsoft Visual Studio Enterprise 2019` Version 16.7.5, logged into DevOps, open a commit file diff through Team Explorer.

3. This opens the diff in VS Code, with a file path like: `C:\Users\<user>\AppData\Local\Temp\TFSTemp\vctmp20604_175639.RequestContext.29419ac2.cs`.

4. Close this new tab.
  **At this poin

[2020-09-30 22:07] #107665 closed

[2020-09-30 22:07] #107747 closed

[2020-09-30 22:13] rebornix commented on #107809
Really good catch @alexr00 !

If you press Undo/Redo when focusing on the cell container, you will see the lock button is updated properly. However if you Undo/Redo inside the cell editor, it stops once the cell is locked. What happens under the hood:

* Focus in cell editor
* Run the command more than 2 times (flip cell.metadata.editable) and make sure after the last run, the cell is unlocked.
*

[2020-09-30 22:15] rebornix commented on #107810
We didn't wrap outputs inside Undo/Redo yet since we are going to change how execution works.

[2020-09-30 22:16] rdbrown opened #107851 "Command L stopped working. Adds garabage text instead of selecting line."
Issue Type: <b>Bug</b>

Hit command L on MacOs. Doesn't select one line.

VS Code version: Code 1.49.2 (e5e9e69aed6e1984f7499b7af85b3d05f9a6883a, 2020-09-24T16:23:52.277Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz (4 x 2700)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: ena

[2020-09-30 22:24] rebornix commented on #107622
@alexr00 to insert a cell you can

[code]

[2020-09-30 22:30] dshemetov opened #107852 "VSCode loses connection with WSL:Ubuntu terminal after a period of time, requires restart"
- VSCode Version: 1.49.2
- OS Version: Windows 10.0.18363

Steps to Reproduce:

1. Open VSCode with the WSL Extension into Ubuntu, develop with Python, using the debugging functionality for a some time
2. Observe the terminal becoming completely unresponsive, with the debugging functionality freezing, and losing the ability to save files.

Restarting the whole application resets "the timer", so to

[2020-09-30 22:30] usernamehw commented on #107851
/causedByExtension https://marketplace.visualstudio.com/items?itemName=jobe451.lorem-whatever

[2020-09-30 22:31] #107851 closed

[2020-09-30 22:32] roblourens commented on #105431
It seems like there were no changes here right? Getting it out of the verification query

[2020-09-30 22:45] #107466 closed

[2020-09-30 22:49] sandy081 opened #107854 "Theme is not updated in web when opened in two tabs on same browser"
- Open test playground in two tabs on same browser
- Change theme on one tab
🐛  Theme is not changed on other

[2020-09-30 22:52] connectdotz commented on #107467
hi, I work with @orta in [vscode-jest](https://marketplace.visualstudio.com/items?itemName=Orta.vscode-jest). This is an interesting thread, have a few questions:

- First, the high-level question: I am wondering what is the main feature from the end-users' perspective? Is it a new build-in sidebar view listing all tests that can be run/debug via standard UI? For test extensions, does it boil down

[2020-09-30 23:06] #107290 closed

[2020-09-30 23:16] rebornix commented on #107847
No idea why `document.execCommand('selectAll')` doesn't work on Firefox.

[2020-09-30 23:17] #107847 closed

[2020-09-30 23:18] rebornix commented on #107814
/extPython

[2020-09-30 23:19] #107814 closed

[2020-09-30 23:22] rebornix commented on #107455
I published a new version of Vim which fixes some of the editing problem mentioned above. @yarko are you still seeing editing issues with Vim extension disabled?

for the extension disablement issue, cc @sandy081

[2020-09-30 23:40] #107763 closed

[2020-09-30 23:40] felixbinder opened #107855 "Auto detect color scheme sets one theme for all open windows despite different preferred schemes set in workspaces"
- VSCode Version: 1.49.2
- OS Version: macOS 10.15.7 (19H2)

Steps to Reproduce:

1. Open two different workspaces
2. Edit the corresponding workspace settings to with different themes for `workbench.preferredDarkColorTheme` and `workbench.preferredLightColorTheme`
3. Enable `window.autoDetectColorScheme`
4. Switch to/from dark mode

Expected behavior: each window switches to the theme specified i

[2020-09-30 23:41] rebornix commented on #107763
We should focus the markdown cell which contains the folded cell.

[2020-09-30 23:43] rebornix commented on #106232
@VincentDondain thanks, I updated the title.

[2020-09-30 23:47] rebornix commented on #107537
/extPython

[2020-09-30 23:47] #107472 closed

[2020-09-30 23:47] #107537 closed

[2020-09-30 23:52] rebornix commented on #107480
@bpasero I'm not using Stable. I no longer see this issue today, suspicion is something is wrong with my macOS Catalina but I don't have a proof. I'll say it's not a blocker as I'm probably the only one who is seeing this issue constantly everyday before today.

[2020-09-30 23:56] #106304 closed

[2020-09-30 23:58] rebornix commented on #107192
Currently we don't allow plain text html in markdown rendering.

[2020-10-01 00:01] machineska commented on #107773
After 8 hour broken repo now Confirm fixed in Indonesia.

[2020-10-01 00:02] #99398 closed

[2020-10-01 00:02] rebornix commented on #107086
/extPython

[2020-10-01 00:02] rebornix commented on #107075
/extPython

[2020-10-01 00:03] #107086 closed

[2020-10-01 00:03] #107075 closed

[2020-10-01 00:03] rebornix commented on #107200
Please file this issue against the Vim extension, thanks!

[2020-10-01 00:03] #107200 closed

[2020-10-01 00:04] rebornix commented on #106665
/extPython

[2020-10-01 00:04] #106665 closed

[2020-10-01 00:04] vidorteg commented on #105370
Hi @mjbvz

Spent a little more time on this and did a finding I think is worth sharing. Please take this with a grain of salt as my knowledge on how vscode webviews and devtools interact is minimal.

I used "protocol monitor"(details below) in the devtools to compare the reply from the backend when inspecting the iframe in vscode webview and in the browser.
I suspect the backend(vscode webview) is

[2020-10-01 00:04] rebornix commented on #106839
/extPython

[2020-10-01 00:05] #106839 closed

[2020-10-01 00:06] roblourens commented on #107582
What should it read, the markdown source as text?

[2020-10-01 00:15] webczat commented on #107582
currently unsure, not much experience with notebooks in any form. Not sure what identifies the cell for a sighted person? is that only the ordering and type of cell?

[2020-10-01 00:35] JacksonKearl commented on #107855
Related: https://github.com/microsoft/vscode/issues/105715

[2020-10-01 00:37] roblourens commented on #107582
Yes, that's it. There's no label or anything useful like that. Checking other notebook systems, Jupyter doesn't read anything when the cell is selected. When focus goes into a cell editor, it starts reading the full document content (starting from the top instead of the selected cell). Google Colab reads the names/keyboard shortcuts of all commands in the cell toolbar when a cell is selected, foll

[2020-10-01 00:49] fidelbrea commented on #106500
Downgrade. This is a solution. I fixed downgrading up to 1.48.2.
I hope you find this useful to fix your own situations.

[2020-10-01 00:51] rgpkms commented on #107818
I do not use NVDA, JAWS is my primary screen reader. Though I tried a bit with NVDA and I was unable to reproduce the same issue. Also I can not reproduce the same issue with chrome text area while using JAWS.

[2020-10-01 01:01] JacksonKearl commented on #85970
Not sure how to tell if the swap was made.

One issue is that the descriptions still says hot swap isn't supported.

[2020-10-01 01:06] fasilpv opened #107856 "Support for AWS lambda and Google cloud function"
Hi there.

I would like to code in the VS Code and publish directly to AWS lambda and google cloud function.

[2020-10-01 01:09] cpoptic commented on #14710
This is the funniest comment on GitHub and that it has 8 thumbs down votes cracks me up even more.

[2020-10-01 01:16] #107856 closed

[2020-10-01 01:18] sbatten commented on #106083
reverted 2ac15236ea0940c34a3367ea4d63de09596ffc32, will fix with a separate implementation of update title like panelPart has

[2020-10-01 01:19] sbatten commented on #107688
reverted the change that causes this with this commit 228973889bc0e352f7cd11cc14755893f8d81864, will fix the separate issue next milestone with a different fix.

[2020-10-01 01:19] #107688 closed

[2020-10-01 01:20] sbatten commented on #107824
@eamodio  can you try this tomorrow, I pushed a related fix but I couldn't explain this behavior with it yet

[2020-10-01 01:33] JacksonKearl opened #107858 "terminal renderer description says webgl needs a reload"
https://github.com/microsoft/vscode/issues/85970

![image](https://user-images.githubusercontent.com/8586769/94756109-72e56980-034b-11eb-90ff-f7788be8627d.png)

[2020-10-01 01:34] JacksonKearl commented on #85970
Verified by timing `tree` against vscode... canvas is 7.5-8s webgl is 5.5-6. Opened https://github.com/microsoft/vscode/issues/107858 to track description mismatch

[2020-10-01 01:47] Kaiyan-Zhang commented on #107712
OK, I will paste it here next time when the issue happen. Thank you!

[2020-10-01 01:47] zluther89 opened #107859 "Debugger will not step into function calls for new files"
- VSCode Version: 1.49.2
- OS Version: Darwin x64 19.6.0

Steps to Reproduce:

Unsure of how to reproduce.

Does this issue occur when all extensions are disabled?: Yes

After setting a breakpoint on a function, the breakpoint will hit and stop, but then when I hit step into, it's like I hit continue. It executes the rest of the file, and exits the debugger. No output from the debugging console, a

[2020-10-01 02:04] mjbvz commented on #97962
Closing this issue since there's not much more to do from the VS Code side.

All of our examples and documentation should now be using `asWebviewUri`. Additionally using an old style URI in a webview will generate a warning

[2020-10-01 02:04] #97962 closed

[2020-10-01 02:15] KyleRAnderson opened #107860 "Debug Console Shows wrong source for logpoint messages"
Issue Type: <b>Bug</b>

After debugging with the "Run Current File" configuration, the output from logpoints within that debug session showed up under the label of "Debug Unit Tests" (from the Python extension). This fixed itself when I switched to and from the debug sources.

1. Run Unit tests (in my case, I was using the Python extension) in Debug mode.
1. Run another launch configuration that h

[2020-10-01 02:41] portnoy commented on #107330
Manually installed, current version 1.49.1-1600299189, priority optional

sorry for the delay, will send you the dumps now

[2020-10-01 02:42] msftwindowslinux opened #107861 ".exe and .dll get recognized as text with git check-attr, cause CRLF/LF issues"
- VSCode Version: 1.49.2
- OS Version: Win10 host using WSL2 docker dev container

Steps to Reproduce:

1. followed the Code - OSS Development Container docker setup instructions, first thing to happen on fresh container checkout

Does this issue occur when all extensions are disabled?: Yes

[2020-10-01 03:01] msftwindowslinux opened #107863 "Optionally open empty splits instead of copying split window"
Pretty much the title. 99% of the time I make a split I want to open another file (possibly drag and dropped from elsewhere), and it's much clearer to have a blank editor than a duplicate wall of text.

It looks like the copy functionality is pretty hardcoded in the depths of splitEditor so I have a PR that optionally skips it. Would be great if someone could point me how to go about adding to the

[2020-10-01 03:05] deepak1556 commented on #107392
yup that repo contained the debug versions, I will try to symbolicate them tomorrow. Side tracked on another issue today.

[2020-10-01 03:26] zluther89 commented on #107859
I am finding even weirder behavior as I continue to test. Here are two dummy functions that are the same exact function with different names. One can be debugged, but the other can't.

[Screen Recording 2020-09-30 at 11.24.27 PM.zip](https://github.com/microsoft/vscode/files/5309312/Screen.Recording.2020-09-30.at.11.24.27.PM.zip)

[2020-10-01 04:22] shivam-tripathi commented on #107508
@alexr00 It works as expected in VS Code Insiders.

[2020-10-01 04:28] s-k-singh opened #107865 "Auto close external console"
Issue Type: <b>Bug</b>

I have run my c program in external terminal but my console window closes automatically when programme is executed. Even auto close terminal option in setting is unchecked in my vs code. So how can I prevent my external console form auto close..?

VS Code version: Code 1.49.2 (e5e9e69aed6e1984f7499b7af85b3d05f9a6883a, 2020-09-24T16:29:41.983Z)
OS version: Windows_NT x64 10.

[2020-10-01 04:38] shakir-timur commented on #106661
Actually last time problem was present, I forgot that I changed the command name as workaround suggests.

[2020-10-01 04:52] kirafadhil commented on #107793
this fixed on this morning

[2020-10-01 05:02] bendeg commented on #107793
Restored (debian buster). Thanks !

[2020-10-01 05:08] Marr11317 commented on #55605
long lines actually get in real code from time to time. For example, in one of my files, I have a huge dictionnary created with regexp from static values. In order to save space, I write this dict as an ultra-long one-liner.

It looks like it hasn't been mentionned here that this slowliness (is this a word?) happens only when word wrapping is off.

[2020-10-01 05:09] bpasero commented on #99492
@IntelOrca how about using `code` and not the exe directly, any difference?

[2020-10-01 05:12] bpasero commented on #107647
@rebornix yeah that label does not look too god, @jrieken unless you have objections I would change it to something like this:

https://github.com/microsoft/vscode/blob/db674322687bbfc592402e1bebdcf91f39b30c1a/src/vs/workbench/services/editor/browser/editorService.ts#L982-L982

[2020-10-01 05:13] bpasero commented on #107580
@isidorn what HTML element are you wanting to access specifically, the container of an editor?

[2020-10-01 05:18] bpasero commented on #107815
@alexdima

Did you find out what line triggers this when the move operation runs?

[2020-10-01 05:18] bpasero commented on #107480
Ok sounds good, closing thereby.

[2020-10-01 05:20] sseelam2 commented on #107697
@isidorn Hi Isidor, I am interested!

[2020-10-01 05:22] mingoal opened #107866 "Remote SSH doesn't work"
- VSCode Version: 1.49.0
- OS Version: SSH server: centos 8, VScode run on windows 10 x64
- Remote SSH Plugin version: 0.55.0

Steps to Reproduce:

**Remote Server**
1. Start firewall
2. Open SSH port 12345 only

**On Windows 10**
 `ssh -oPort=12345 myusername@192.168.50.1` is able to login remote server
1. config remote server information
2. open remote server use VS code

vscode keeps on pop to

[2020-10-01 05:44] echountasis opened #107867 "Tab button goes to search instead of adding space"
Hi guys, I am in an editor of a .cs file and I have the in file search open, not the solution search.

I am writing my code and I press Tab to move the line to the right but instead the cursor moves to the in file search box.

Tha be haviour was not there before - it is like the search box has a tab index.

It would be really helpful if you could revert the behaviour as it was
![tabIssue](https://

[2020-10-01 05:51] #107866 closed

[2020-10-01 06:04] journey-of-code opened #107868 "Zen mode stuck"
- VSCode Version: 1.49.2 (user setup)
- OS Version: Windows_NT x64 10.0.17763

Steps to Reproduce:

1. Enter Zen mode
2. Restart computer
3. Open VSCode
4. Got this:
![image](https://user-images.githubusercontent.com/1939047/94773349-ddce8900-03bb-11eb-8e66-6ccaefa0a9db.png)
(The tab area is not maximized in the surrounding container)

Does this issue occur when all extensions are disabled?: Yes

[2020-10-01 06:07] journey-of-code commented on #107868
Not related to any of the issues the bot suggested.

[2020-10-01 06:07] #106847 closed

[2020-10-01 06:15] bpasero commented on #107690
Interesting, the issue is that we do not know about the extension development location here:

https://github.com/microsoft/vscode/blob/adb9b2c299dce1e5d0d31aa69a364852158eea0d/src/vs/code/electron-main/protocol.ts#L28-L32

Because the location is only present when the second window opens. We will have to find a way to dynamically update the allowed locations based on opened windows.

//cc @deepak1

[2020-10-01 06:19] mrillusi0n opened #107869 "Relative Line Numbers: an option to have 0 as the current line number."
A setting that allows for displaying 0 as the current line number when relative numbering is on.

[2020-10-01 06:22] laike9m opened #107870 "VS Code created a new file after installing extension from command line"
Steps to Reproduce:

1. `code --install-extension --force laike9m.cyberbrain`
2. And then VS Code would pop up new file named after the extension

![image](https://user-images.githubusercontent.com/2592205/94774930-acca6600-0373-11eb-946b-627b56ddbb55.png)

I'm not sure if that's the expected behavior, or I'm doing something wrong.

[2020-10-01 06:27] bpasero commented on #107722
@deepak1556 I might need your help here, it looks like XHR requests from the renderer will trigger this error and I wonder if we are missing a configuration property on the scheme here:

https://github.com/microsoft/vscode/blob/a3873d9570f9dd200310cb1fe13af7573821b1b6/src/main.js#L128-L128

The place where the error is triggered from is:

https://github.com/microsoft/vscode/blob/66db1a705700afb764

[2020-10-01 06:30] bpasero commented on #107726
We maybe missing some code for the `vscode-file` protocol in https://github.com/microsoft/vscode/blob/81ec8ec12f4424c69f54bece2c6e971d6a615f5b/src/bootstrap.js#L47-L47, not sure.

[2020-10-01 06:30] bpasero commented on #107730
@JacksonKearl I cannot really reproduce this issue, can you try again? Does it make a difference when you use native menu vs custom menu?

[2020-10-01 06:49] saharso commented on #107686
Hi everyone,
I reported the bug.
It was resolved for me yesterday, when I upgraded to the latest version.

Thank you for your efforts,
Sahar Soffer

On Wed, Sep 30, 2020, 19:17 SteVen Batten <notifications@github.com> wrote:

[2020-10-01 06:50] bpasero commented on #107870
Try with `code --install-extension laike9m.cyberbrain`

[2020-10-01 06:52] bpasero commented on #99492
@IntelOrca also, a new insiders build is out with my additional logging, so please try with this:

`await runTests({ extensionDevelopmentPath, extensionTestsPath, launchArgs: ['--verbose'], version: 'insiders' });`

and let me know the output.

[2020-10-01 06:57] giahuytn commented on #107636
@alexdima,
It seems that this only happens on window.
On step 3: the command Developer: Show Running Extensions shows ESLint, and ESLint Log panel appears
On step 4: ESLint log disappears and ESLint is not shown on Running Extension. It is not activated correctly.

![vscode_issue_2](https://user-images.githubusercontent.com/8381070/94777410-a973c080-03ed-11eb-973c-992bf53bd42e.gif)

[2020-10-01 07:01] jrieken commented on #107815
I think we have seen it somewhere around here: https://github.com/microsoft/vscode/blob/fd4d8ddc1994c16583b12e12b38ba48283c2102e/src/vs/workbench/services/textfile/common/textFileEditorModelManager.ts#L259

@alexdima one idea that I had is if we could pass along the undo-redo-group all to move operation so that the code above picks it up.

[2020-10-01 07:02] bpasero commented on #107846
That is possible today, I am not sure what version of VSCode you are running with:

![image](https://user-images.githubusercontent.com/900690/94778091-d790da80-03c4-11eb-9996-0c1f476cee8e.png)

[2020-10-01 07:02] #107846 closed

[2020-10-01 07:03] jrieken commented on #107841
This can be configured via `editor.gotoLocation.alternativeDefinitionCommand`

[2020-10-01 07:04] #107841 closed

[2020-10-01 07:04] bpasero commented on #107815
Well, if the model was dirty I need to restore the contents after the move operation, so unless there is a way for me to do that without causing an undo-step, I am not sure what I can do to not loose unsaved data?

[2020-10-01 07:10] wixaw opened #110119 "Remote display X11 not working after update"
- VSCode Version: 1.49.2
- Local OS Version: centos 7
- Remote OS Version: centos 7
- Remote Extension/Connection Type: SSH

Steps to Reproduce:

1. 'ssh root@machine -X' or 'ssh user@machine -X'
2. 'code --user-data-dir /root/.vscode/' or 'code'
3. 'code --user-data-dir /root/.vscode/ --disable-gpu  --disable-extensions'

Does this issue occur when you try this locally?: No
Does this issue occur

[2020-10-01 07:14] dbaeumer commented on #107750
@dfee what does that error look like. Is it a ESLint error or a TS error (the source is denoted in `[]` in the error)

[2020-10-01 07:16] dbaeumer commented on #107785
What do you mean by:

I simply cloned the repository into a GitHub code space and ran npm compile. This doesn't happen locally.

[2020-10-01 07:17] bpasero opened #107871 "Moving a file between working set and staging should preserve selection"
I find it looks bad if every time I move a file between the groups, the blue focus ring appears over the entire list instead of keeping focus on the item I had selected:

![recording](https://user-images.githubusercontent.com/900690/94779267-f2fce500-03c6-11eb-8fc1-c74bffec993b.gif)

[2020-10-01 07:19] dbaeumer commented on #107759
This needs some rewording. You could always enable / disable ESLint using the setting `eslint.enable`. If set to false the extension will not start a server. This is for workspaces where ESLint shouldn't run at all.

Currently no good idea about the wording :-(

[2020-10-01 07:23] bpasero commented on #107850
I cannot reproduce when I try locally to compare 2 files, close the editor, delete one or both files and then reopen closed editor. It opens whatever editor was there before.

Since I am not sure what VS does, can you try to reproduce just with VSCode and maybe attach a screenshot of how the diff view looks like in the error case?

[2020-10-01 07:23] dbaeumer commented on #107760
Actually no. The first one is to tell the extension to not try to validate any files (so ESLint is totally disabled). The ESLint server is not started. The other concept is the security concept for which we need to start the server and then find out which library to load. I need to think about the wording.

There is another reason why I can't merge them. When trusted workspaces arrive I still need

[2020-10-01 07:23] laike9m commented on #107870
Thanks for reply. My understanding is that `--force` force reinstall, and shouldn't change other behavior?

[2020-10-01 07:24] bpasero commented on #107870
@sandy081 do we support a `--force` to install extensions?

[2020-10-01 07:27] jrieken commented on #107815
Yep - that's the challenge

[2020-10-01 07:34] janw commented on #103744
Started seeing this here as well on macOS. For me it seems to be related to the scroll back buffer of the integratedTerminal; scrolling back as well as running commands with large amounts of output cause the window to freeze. Disabling extensions did not solve the issue.

<details><summary>Version: 1.49.2</summary>
<pre>
Version: 1.49.2
Commit: e5e9e69aed6e1984f7499b7af85b3d05f9a6883a
Date: 2020-0

[2020-10-01 07:45] bpasero opened #107872 "Web: opening notebook diff yields error"
Steps to Reproduce:

1. web selfhost
2. make changes to our GH notebook
3. diff it

[code]

[2020-10-01 07:58] vkottler opened #107873 "Add commands "workbench.action.focus(.*)Group" that do not wrap"
Issue Type: <b>Bug</b>

1. Launch VSCode
2. Ctrl+N to open new editor
3. Execute command "View: Split Editor Right"
    1. We should now be focused on the right split, we came from the left.
4. Execute command "vew: Focus Right Editor Group"
    1. We are now focused back on the left split.

This is a bug. Right needs to be right, not left. Vice versa.

This makes it impossible to build any sane s

[2020-10-01 07:58] egamma commented on #107740
The rename is done from the explorer and this triggers a refactoring.

[2020-10-01 08:00] #107622 closed

[2020-10-01 08:05] #107643 closed

[2020-10-01 08:06] sumagnadas commented on #919
i recently changed from Atom to VS Code. I didn't like this dirty file indicator even when there were no changes so can anyone please see into this. This is a great feature and as @runfaj says,

So i would be glad if this feature comes to VS Code.

[2020-10-01 08:07] vkottler commented on #107873
For context, [here's](https://github.com/vkottler/dotfiles/blob/master/vim/vscode.vimrc#L23-L25) what I'm trying to get working.

The function [`winnr()`](https://neovim.io/doc/user/eval.html#winnr()) is correctly giving me a unique window identifier, so if this command wouldn't wrap I could get feature-parity with my primary editing environment.

If this were to come down to a preference thing an

[2020-10-01 08:11] romkell opened #107874 "multiple workspace folders with multiple settings.json: opening terminal uses "wrong" or single ${workspaceFolder}"
- VSCode Version:
- OS Version:

Version: 1.49.2
Commit: e5e9e69aed6e1984f7499b7af85b3d05f9a6883a
Date: 2020-09-24T16:26:09.944Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Linux x64 5.4.0-48-generic snap

Steps to Reproduce:

General structure:
in folder home/user/lib_b/.vscode/settings.json
{
	"terminal.integrated.env.linux" : {
		"LIB_A_BASE" :   "/home/

[2020-10-01 08:17] #107861 closed

[2020-10-01 08:28] vkottler commented on #107873
Here's a demonstration of why this is a bug, at least to me:

[
![vscode_focus_bug](https://user-images.githubusercontent.com/15205052/94785872-1acb5900-0385-11eb-9b7d-f080d97d5504.gif)
](url)

I'm relying on the assumption that "focus <direction>" only changes the focus in that direction, which is does not. It would be useful if it did so that you can query the editor to see where you ended up an

[2020-10-01 08:32] IntelOrca commented on #99492
Here is latest logging:
[code]

I don't think runnning code-insiders.cmd makes any difference. It is just a wrapper around running the same exe with same arguments.

[2020-10-01 08:33] joaomoreno commented on #107674
It's possible that there is something we can do, yeah.

[2020-10-01 08:34] vkottler commented on #107873
Just re-tested with extensions disabled to make sure it's not related to specifically what I'm doing.

[2020-10-01 08:37] thany commented on #107577
@isidorn

I'm sorry I can't say with confidence. Normally I use VScode on my primary screen where this doesn't happen.

[2020-10-01 08:45] aeschli commented on #107668
Closing as this will be up to the browsers to define how they connect the OS scheme to the browser modes.

[2020-10-01 08:45] #107668 closed

[2020-10-01 08:45] bpasero commented on #107480
Reopening for the original issue Deepak reported.

[2020-10-01 08:54] jrieken commented on #106215
This works better not not really good.

[2020-10-01 08:55] isidorn commented on #107580
@bpasero yeah, container should be fine.

[2020-10-01 08:56] jrieken commented on #106215
@rebornix I am now using `revealLineInCenterIfOutsideViewportAsync` which seems very promising and it does fix the original bug but when having a simpler case it doesn't work. Do this

1. have a large code cell (see below)
1. make sure the error isn't visible
1. select the error in the errors pane
1. :bug: the line isn't scrolled into view

[code]

[2020-10-01 08:58] Neutrino-Sunset commented on #107377
So I just need to wait for the fix to come through. Great, many thanks.

[2020-10-01 09:00] isidorn commented on #107377
@Neutrino-Sunset it is already released in vscode insiders if you want to try it out you can.

[2020-10-01 09:02] isidorn commented on #107740
Closing as dup of https://github.com/microsoft/vscode/issues/9390
This is a fair feature request which users want and that we can plan for.

[2020-10-01 09:02] eddyb commented on #95021
IIUC, #38137 was fixed in version 1.49 but I can still reproduce my testcase above with:
[code]

So I'm pretty sure this is a different bug than #38137.

[2020-10-01 09:02] jrieken opened #107876 "Screen cheese after copy&paste of a cell"
* open `.vscode/notebooks/inbox.github-issues`
* run the last cell (`$inbox -label:emmet`)
* select the whole cell
* execute copy&paste
* scroll up and down a bit
* 🧀 things fall apart. It seems that the output is initially duplicated, then gets lost

<img width="919" alt="Screenshot 2020-10-01 at 11 00 35" src="https://user-images.githubusercontent.com/1794099/94789760-a371e580-03d5-11eb-89ed-f9d

[2020-10-01 09:06] isidorn commented on #107860
This sounds like an issue in VS Code. However I can not reproduce it.
@KyleRAnderson is it possible to put some reopsitory on GitHub which I can clone and easily reproduce this?
Also can you reproduce with vscode insiders https://code.visualstudio.com/insiders/

[2020-10-01 09:09] atmaniak commented on #107793
Back to normal !

[2020-10-01 09:09] #107793 closed

[2020-10-01 09:09] ZhenyaKh opened #107877 "Remote SSH connecting to Aarch64: Cannot reconnect. Please, reload the window."
- Vscode Version: 1.49.2 (user setup)
- Commit: e5e9e69aed6e1984f7499b7af85b3d05f9a6883a
- Date: 2020-09-24T16:29:41.983Z
- Electron: 9.2.1
- Chrome: 83.0.4103.122
- Node.js: 12.14.1
- V8: 8.3.110.13-electron.0
- OS: Windows_NT x64 10.0.17763
- "Remote SSH" extention: v.0.55.0
- "Remote - SSH: Editing Configuration Files" extension: v.0.55.0
- No other vscode extensions installed (when the problem

[2020-10-01 09:10] bpasero commented on #99492
Thanks a lot, I can reproduce finally. It only happens when the last window that was opened is empty. I think a regression from https://github.com/microsoft/vscode/commit/7b681aa2fb49229e8a51443f782270937a175588

[2020-10-01 09:13] isidorn commented on #107697
@sseelam2 ok, great. So the things to note is that the debug hover has 2 modes.
* First one is when a simple value is shown, for example when the user hovers over a string
* Second one when an object is shown, for example when the user hovers over `console` in javascript. This mode contains a tree which can be expanded

It seems like we would have to introduce a common `HTMLElement` that will be u

[2020-10-01 09:15] bpasero commented on #99492
**Steps:**
* run out of sources and leave have 1 empty window (File > Close Folder)
* exit
* run `scripts/code.sh --extensionDevelopmentPath /Users/bpasero/Desktop/test-ts`
* :bug: no window opens

[2020-10-01 09:15] isidorn commented on #107868
`F1 > toggle centered layout`
should fix the issue for you

Following your steps I can not get into the "broken" state you ended up in

[2020-10-01 09:15] #107868 closed

[2020-10-01 09:19] bpasero commented on #107580
@isidorn logically it should be a property on [`IEditorPane`](https://github.com/microsoft/vscode/blob/b26d4316f1385c4b2727ef98c0a7db0664a9337f/src/vs/workbench/common/editor.ts#L73-L73) imho, but the challenge is that this interface lives in `common` and cannot reference `HTMLElement`.

[2020-10-01 09:20] KushalSM commented on #107793
@chrmarti

Hey its all fine now. Thx.
Cheers!!!

[2020-10-01 09:20] chrmarti commented on #107766
We don't control most of the output which comes from CLIs. Not calling it .log would also create the need for a slightly improved log grammar.

[2020-10-01 09:21] isidorn commented on #107818
@rgpkms if you can not reproduce the issue with NVDA then it might be a JAWS limitation and maybe we should mention it here https://github.com/microsoft/vscode/issues/95225
Also fyi @ggordon-vispero

If you can not reproduce the issue with Chrome and JAWS then it might be fixed in later Chrome versions, which means we would pick up the fix with Electron updates.

[2020-10-01 09:22] isidorn commented on #107580
@bpasero yeah I was expecting it there. But I see the issue, thanks.

[2020-10-01 09:22] bendeg commented on #107773
Restored (Belgium, this morning, debian buster). Thanks !

[2020-10-01 09:23] robenkleene commented on #107471
@Nafana Thanks for the additional info!

Please go ahead if you're ready to work on a PR now.

[2020-10-01 09:24] journey-of-code commented on #107868
Thank you @isidorn - that fixed it for me. Feel stupid now. On the other hand there was no way for me to find out what to do as I didn't toggle it in the first place. I don't even have a shortcut defined for that. So I guess it was caused by a small bug. But I agree that this should be closed as it only happened once and cannot be reproduced.

[2020-10-01 09:33] nitzanorchestra commented on #69665
still having this problem, I'm on linux arch.

[2020-10-01 09:41] #99492 closed

[2020-10-01 09:43] bpasero commented on #99492
There was a weird extra check for `extensionDevelopmentPath` from the command line to decide wether to restore empty windows or those with untitled workspaces. I removed that check and hope this does not have negative impact. The consequence is that if you had untitled workspaces from a previous session, all these will also restore.

[2020-10-01 09:44] isidorn commented on #107868
No need to feel stupid. There was an issue. The centered mode is a subset of zen mode which should be automatically toggled out of if zen mode is no longer active.
Let me know if you see it again and if you find repro steps. Thanks

[2020-10-01 09:44] sandy081 commented on #107870
Yes, for forcing to install latest version or older version.

[2020-10-01 09:45] isidorn commented on #104673
@deepak1556 we should move this to October?

[2020-10-01 09:46] MarioPeters commented on #97166
same problem with german keyboard layout

[2020-10-01 09:46] isidorn commented on #93056
@deepak1556 we should move this to October?

[2020-10-01 09:52] bpasero commented on #107870
Then I think you should own this and check why your CLI is not being called.

[2020-10-01 09:57] IntelOrca commented on #99492
Thanks @bpasero, I will give it a spin tomorrow. 🙂

[2020-10-01 10:01] isidorn commented on #71315
@connor4312 I can not reproduce and I just now tried both on macOS and windows. Whenever I delete a folder all seems good, the focus is still in the explorer and the correct file / folder is focused.
Closing this. Feel free to create a new issue if you have an exact scenario where this does not work.
Thanks

[2020-10-01 10:05] IllusionMH commented on #107867
Looks like you've pressed <kbd>Ctrl</kbd>+<kbd>M</kbd> which changes <kbd>Tab</kbd>behavior to enable navigation across interface. See details here https://code.visualstudio.com/docs/editor/accessibility#_tab-trapping

Use <kbd>Ctrl</kbd>+<kbd>M</kbd> to exit this mode or remove shortcut.

[2020-10-01 10:06] alexdima commented on #107815
@jrieken Even if we pass the undo-redo group, that isn't helpful, that just reduces the number of times undo needs to be executed (it is just a grouping thing)... The problem will remain that while undoing, the RedoOperation will move to the redo stack and while running there will be a new stack element pushed onto the undoredo and will delete the future. So effectively, an undo on `RedoOperation`

[2020-10-01 10:09] alexdima commented on #107815
So the root thing here is that we need to have an implementation of `RenameOperation` which is independent of the undo-redo service... since it is not expected that undoing will call `pushElement` again.

[2020-10-01 10:13] alexdima commented on #107848
Let's track in #96986

[2020-10-01 10:13] #107848 closed

[2020-10-01 10:22] bpasero commented on #107647
@rebornix we are down to just this case now:

https://github.com/microsoft/vscode/blob/6558e439b340e248061a7143573593aab1ed6bea/src/vs/workbench/contrib/notebook/browser/notebook.contribution.ts#L129-L129

Not sure this still applies, but such a label is never good imho, so I would not present it to the user.

[2020-10-01 10:28] bpasero commented on #104629
I really need this :).

[2020-10-01 10:30] #107520 closed

[2020-10-01 10:31] isidorn commented on #107520
Thanks for precise repro steps.
You can try out vscode insiders from Friday and let us know if the issue is also fixed on your side. Though I checked and seems to be good now.

[2020-10-01 11:05] dbaeumer commented on #107759
Here is what I did to fix this:

- removed the command since this can now be achieved using the extensions viewlet
- kept the setting but deprecated it.

[2020-10-01 11:05] #107759 closed

[2020-10-01 11:06] dbaeumer commented on #107759
To verify: ensure that the `ESLint: Enable ESLint` and `ESLint: Disabled ESLint` commands are gone from the command palette.

[2020-10-01 11:06] alexdima commented on #107872
@rebornix I think you need to add the notebook worker to the build script [here](https://github.com/microsoft/vscode-distro/blob/43ce30bea7256f54f345b743dfb4101b2b8b0d3d/build/gulpfile.vscode.web.js#L69)

[2020-10-01 11:07] alexdima commented on #107826
`cmd+k cmd+d` does this.

[2020-10-01 11:07] #107826 closed

[2020-10-01 11:12] alexdima commented on #107695
@isidorn How about this code path -- https://github.com/microsoft/vscode/blob/5ab1d926b623f10de864fff823a58cef1af7ec55/src/vs/workbench/contrib/debug/browser/debugHover.ts#L142 .. Shouldn't `layoutContentWidget` be called if there is a chance that the tree has expanded its height?

[2020-10-01 11:18] sandy081 commented on #104626
Can you please try with latest insiders and let me know if you still see the issue?

[2020-10-01 11:19] sandy081 commented on #105622
Can you please try with latest insiders and let me know if you still see the issue?

[2020-10-01 11:19] dbaeumer commented on #107707
Here a minimal case to reproduce. Took me a little.

[code]

[2020-10-01 11:19] aeschli commented on #106234
This got fixed in the latest stable

[2020-10-01 11:19] #106234 closed

[2020-10-01 11:20] dbaeumer commented on #107760
Marking as dup of #107759. Fix is to remove the commands.

[2020-10-01 11:20] #107760 closed

[2020-10-01 11:22] isidorn commented on #107695
@alexdima You are correct.
I have pushed a change to tackle that code path. However I do not expect this to fix @sandy081 case since in his case the debug hover is not a tree, but a simple value (which is a different code path).
Though might fix it... @sandy081 let me know if you no longer see this

[2020-10-01 11:24] #107340 closed

[2020-10-01 11:24] #107322 closed

[2020-10-01 11:24] #107299 closed

[2020-10-01 11:24] #107298 closed

[2020-10-01 11:24] #107289 closed

[2020-10-01 11:24] #107249 closed

[2020-10-01 11:24] #107244 closed

[2020-10-01 11:24] #107241 closed

[2020-10-01 11:24] #107119 closed

[2020-10-01 11:25] #107114 closed

[2020-10-01 11:25] #107101 closed

[2020-10-01 11:25] #106960 closed

[2020-10-01 11:25] aeschli commented on #98082
The correct solution is to have a Jinja language and a TextMate grammar for it.
This is something that has to come from a extension.

There are already several extensions for Jinja in the marketplace. Please give them a try and file issues against theme if you find issues or lacking features.

[2020-10-01 11:25] #98082 closed

[2020-10-01 11:26] isidorn commented on #96293
@connor4312 thanks. I am sure this was working when I closed this 23 days ago.
Something broke in the meantime as I can reproduce this. Investigating...

[2020-10-01 11:27] alexdima commented on #107741
VSCode `1.48.x` shipped with nodejs version `v12.8.1`.
VSCode `1.49.x` shipped with nodejs version `v12.14.1`.

I believe there is some piece of code (unclear to me which one) which does something with streams in a way that is OK for nodejs `v12.8.1` and not OK for nodejs `v12.14.1`.

Here is the nodejs changelog vor v12 -- https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V12.md

[2020-10-01 11:28] aeschli commented on #98008
This is the issue tracker for VS Code, not VS.

I tried your sample in VS Code and it works. Please file the issue against VS

[2020-10-01 11:28] #98008 closed

[2020-10-01 11:35] alexdima commented on #107812
@Subhash-subh1 I'm sorry, I don't understand what you mean. What do you click on?

[2020-10-01 11:40] vexx32 commented on #107114
Sorry, what more information was needed? I'd really like this fixed, this is super annoying to deal with 😅

[2020-10-01 11:40] CarterSnich opened #107878 "PHP autoformat make lines after the '<?php' code indented by one tab"
If you please, I would like VS Code when I auto format it will indent every line after the '<?php' code. Like on the picture below:
![Annotation 2020-10-01 193656](https://user-images.githubusercontent.com/52433531/94804703-d8a22600-041d-11eb-9443-27665d8e5df6.png)

[2020-10-01 11:45] #96293 closed

[2020-10-01 11:45] isidorn commented on #96293
@connor4312 good catch. The issue was that the type of the Javascript debug terminal dynamic config was pwa-terminal which did not macth the provider type. Which I needed to select the right element. Anyways pushed a fix for this and it should now be good. Thanks

[2020-10-01 11:52] webczat commented on #107582
Well, I did have an idea, I mean, sometimes vscode would read just the type of editor like markdown, I don't remember how it reads that exactly, probably something like "markdown editor", and it seems more appropriate than something like reading it top to bottom when I focus a closed markdown cell.
As for jupyter, it is not really accessible in general, unless it changed.

[2020-10-01 11:54] isidorn commented on #107696
Did not find a nice way to cap the width. No change for now, might tackle it in the future.

[2020-10-01 11:56] alexdima commented on #107539
@Ceebox @7ranceaddic7 Are you certain you have installed the correct font? I see they call out explicitly that they offer two variants, one with ligatures, and one without ligatures and they are both called the same:

https://github.com/microsoft/cascadia-code#installation
<img width="704" alt="Screen Shot 2020-10-01 at 13 55 23" src="https://user-images.githubusercontent.com/5047891/94806146-cf00

[2020-10-01 12:01] echountasis commented on #107867
So true - sorry guys I did not notice that this is a feature. All good now :)

[2020-10-01 12:01] #107867 closed

[2020-10-01 12:04] isidorn commented on #102193
Here's some more bad examples which we should fix as soon as possible. Since this directly influences the download count of our PR extensions.

fyi @alexr00

![Screenshot 2020-10-01 at 13 59 51](https://user-images.githubusercontent.com/1926584/94806820-e7bdaf80-03ee-11eb-8691-84ed53c08b75.png)

![Screenshot 2020-10-01 at 14 01 12](https://user-images.githubusercontent.com/1926584/94806824-e856460

[2020-10-01 12:07] isidorn commented on #102193
ping @fiveisprime @kieferrm

[2020-10-01 12:14] sandy081 commented on #106116
Verified by code review

[2020-10-01 12:15] KyleRAnderson commented on #107860
Hi @isidorn.

I have made a repository in which I can reproduce the bug consistently: https://github.com/KyleRAnderson/VSCode-bug-reproducible.

There are instructions in the repository's README with what you can do to get it to happen again.

Unfortunately I do not have time right now to reproduce it on VSCode insiders, though hopefully the steps above are enough.

Thanks!

[2020-10-01 12:17] sandy081 commented on #107695
Is this in today's insiders?

[2020-10-01 12:18] JerryDotseth opened #107880 "Intellisense"
Issue Type: <b>Bug</b>

My intellisense feature stopped working - I turn on VS Code and Intellisense does not work. I disabled all extensions and it still doesnt work.

Is there a way to turn intellisense off and on?

VS Code version: Code 1.49.2 (e5e9e69aed6e1984f7499b7af85b3d05f9a6883a, 2020-09-24T16:29:41.983Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|It

[2020-10-01 12:18] sandy081 commented on #107712
Thanks, will close this issue for now and reopen it then.

[2020-10-01 12:18] #107712 closed

[2020-10-01 12:19] jihu opened #107881 "Make it possible to expand empty selection into current word when Ctrl+C or Ctrl+X"
I often have the need to copy a single word into the clipboard, often a variable name. A quick double click on the word, followed by Ctrl+C, does the trick. Except when the double click doesn't take. Then the default behavior is to copy the entire line instead. That feature can be disabled, but that still doesn't solve the problem because I just end up with the old clipboard content still in the c

[2020-10-01 12:19] rupran commented on #107689
I think I found the right location for a fix and tested it locally already, would you mind if I sent a pull request?

[2020-10-01 12:20] sandy081 commented on #107455
Sorry there are bits and pieces here are there, can you please consolidate the issue about what is not working with extension disablement?

[2020-10-01 12:21] jrieken commented on #107880
/needsMoreInfo

Please update this issue after reading https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-good-bug-reports-and-feature-requests. Thanks.

[2020-10-01 12:22] jrieken commented on #107707
[code]

Well, that's it. My expectation is that whole interface is being implemented

[2020-10-01 12:24] isidorn commented on #107695
@sandy081 no, will be tomorrow. I just pushed 1 hour ago :)

[2020-10-01 12:25] sandy081 commented on #107870
I do handle `force` argument but the extension to install shall be provided after `--install-extension` argument, otherwise there will not values/extensions to install. Hence it does not go to CLI

`code --install-extension laike9m.cyberbrain --force` is the right format.

[2020-10-01 12:25] #107870 closed

[2020-10-01 12:27] Alex-0293 commented on #107591
I'm talking about Powershell extension. It doesn't have group action.
![изображение](https://user-images.githubusercontent.com/5895448/94808937-6875af00-03e1-11eb-8ece-3ce69634fc3f.png)

[2020-10-01 12:28] jrieken commented on #105254
/duplicate of https://github.com/microsoft/vscode/issues/64521

[2020-10-01 12:29] #105254 closed

[2020-10-01 12:30] aslamdoctor commented on #106234
Yes, thank you 👍

[2020-10-01 12:30] jrieken commented on #102901
/duplicate of https://github.com/microsoft/vscode/issues/3295

[2020-10-01 12:31] JerryDotseth commented on #107880
What more info do you want?

I turn on VSCode and it doesn’t work.

From: Johannes Rieken <notifications@github.com>
Sent: Thursday, October 1, 2020 7:22 AM
To: microsoft/vscode <vscode@noreply.github.com>
Cc: Jerry Dotseth <JerryDotseth@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [microsoft/vscode] Intellisense (#107880)

/needsMoreInfo

Please update this issue after reading ht

[2020-10-01 12:31] jrieken commented on #96333
/duplicate of https://github.com/microsoft/vscode/issues/3295

[2020-10-01 12:32] #96333 closed

[2020-10-01 12:34] dbaeumer commented on #107762
I added a command `ESLint: Manage Library Execution`

[2020-10-01 12:34] #107762 closed

[2020-10-01 12:34] #107880 closed

[2020-10-01 12:34] bpasero opened #107882 "File > Save As shows simple file dialog for settings.json but native one for other files"
Steps to Reproduce:

1. open global settings as `settings.json`
2. trigger File > Save As
3. 🐛 as custom file dialog appears

I would have expected the native one. Is this maybe because of the custom scheme we are using?

//cc @alexr00

[2020-10-01 12:36] dbaeumer commented on #107758
Fixed.

@kieferrm I also update the insider release here https://github.com/microsoft/vscode-eslint/releases/tag/2.1.9-insider.2 in case you want to verify.

[2020-10-01 12:36] #107758 closed

[2020-10-01 12:36] bpasero opened #107883 ""Save As" does not take preferred resource into account"
Steps to Reproduce:

1. be on macOS or Windows
2. open a file
3. rename it to different case but same path
4. hit File > Save As

=> 🐛 you see the previous path suggested, not the new one

[2020-10-01 12:38] joaquin-alc opened #107884 "Duplicate files in node.js debug node"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-10-01 12:39] #107884 closed

[2020-10-01 12:39] #107883 closed

[2020-10-01 12:40] joaomoreno commented on #107024
Open VS Code settings, search for `git.terminalAuthentication` and you'll find a checkbox to disable that feature.

[2020-10-01 12:40] #107024 closed

[2020-10-01 12:42] JerryDotseth commented on #107880
Why closed?

From: Johannes Rieken <notifications@github.com>
Sent: Thursday, October 1, 2020 7:35 AM
To: microsoft/vscode <vscode@noreply.github.com>
Cc: Jerry Dotseth <JerryDotseth@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [microsoft/vscode] Intellisense (#107880)

Closed #107880<https://github.com/microsoft/vscode/issues/107880>.

—
You are receiving this because you authore

[2020-10-01 12:44] jrieken commented on #107880
I have just tried it - IntelliSense works over here. Since you have unwillingness in clarifying this issue it closed as invalid

[2020-10-01 12:45] JerryDotseth commented on #107880
I willing to clarify anything you want.

What info are you looking for?

From: Johannes Rieken <notifications@github.com>
Sent: Thursday, October 1, 2020 7:44 AM
To: microsoft/vscode <vscode@noreply.github.com>
Cc: Jerry Dotseth <JerryDotseth@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [microsoft/vscode] Intellisense (#107880)

I have just tried it - IntelliSense works over here.

[2020-10-01 12:49] sandy081 commented on #107882
Yes, this is because of the custom scheme we are using for settings and user data. Why not show simple file dialog always when in local window?

[2020-10-01 12:51] alexdima commented on #107881
I acknowledge the feature request, but here is what I do:

A good keybinding to get used to is `cmd+d`. It will select the current word and then you can copy the current word using `cmd+d` and `cmd+c`. This is very convenient since on the qwerty keyboard layout, `d`, `c`, and `x` are placed very close to each other.

`cmd+d` is much more powerful than that, it can be used to select the next instan

[2020-10-01 12:52] sandy081 commented on #107591
Probably power shell extension can provide the same support as ES Lint?  It can contribute a quick fix action that says `Fix all Line has trailing whitespaces problems` ?

[2020-10-01 12:55] #107849 closed

[2020-10-01 12:56] alexdima commented on #107749
@rmgreenstreet What font / settings do you have?

[2020-10-01 13:02] bpasero commented on #107882
@sandy081 are you suggesting that we no longer show a native dialog to save files? I find that not to be a good idea given we try to be a native application as much as we can.

[2020-10-01 13:06] muthuweb commented on #83423
I too have the problem, Emmet response is very slow, for example if I type div.header and quick tab press it's not works, instead either I need to wait few seconds or use SHIFT + SPACEBAR key to achieve that .. it's annoying.

Please, guys share if you find any solution for this, thanks

[2020-10-01 13:19] jihu commented on #107881
I use Ctrl+D for deleting the current line (a feature I use heavily), and all other Ctrl+<Some letter near 'C'> shortcuts are also already in use.

Also, having to use two separate shortcuts every time I want to copy a word kind of defeats the propose :)

[2020-10-01 13:35] jrieken opened #107886 "Uri search tree and casing"
https://github.com/microsoft/vscode/blob/bba19cf7b9deb928bd11e48b8746ede79b713c6b/src/vs/base/common/map.ts#L153-L153

[2020-10-01 13:41] yarko commented on #107455
final comment:  on a current code-insiders on my laptop (also Ubuntu), I am not seeing this.  Installing code (not "-insiders"), I am not seeing this.   For now, I will assume it's either some interaction between particular versions of extensions, or (more likely - since I am not able to uninstall _any_ markdown related extension)  that something is corrupted in the copy of code-insiders (or setti

[2020-10-01 13:42] joaomoreno commented on #107738
And it only happens on such files? All other files are OK?

[2020-10-01 13:46] #107585 closed

[2020-10-01 13:46] yarko commented on #107455
@rebornix - it does not appear changed (see above comment);
re: disablement / uninstall issue: apparently operator error:  I did not expand the message for disable/uninstall - I just did and saw the dependency in the message, and was thus able to uninstall a particular dependency.  Busy today, but will come back to "chase this dog" in days ahead...

[2020-10-01 13:52] onlyforto opened #107888 "I wish the software would add a feature to batch modify the file encoding format."
I want to change the code written in gb2312 encoding format to utf-8, but because there are so many files, it's time consuming to change the encoding format one by one. So I hope this software can add a function to change the encoding format in batch, so that it can solve the problem of converting the code format in batch.

[2020-10-01 13:52] alexr00 commented on #107882
Agree with @bpasero, we should be showing the native dialog here unless the setting to use the simple file dialog is set.

[2020-10-01 13:56] joaomoreno commented on #107009
The user says:

You show that the SCM viewlet already knows about the changes but you

So yeah. It's a separate issue.

[2020-10-01 13:56] alexr00 commented on #107508
@shivam-tripathi thank you for testing it on insiders. This suggests one of two things:
- There was a bug and it is now fixed for the next release
- You have some setting or extension that is breaking this just for you on stable

Since I cannot repro the issue on stable, it is most likely the second one.

[2020-10-01 13:56] #107508 closed

[2020-10-01 13:58] joaomoreno commented on #106436
Again `ignore = dirty` is only mean for the parent repo to ignore the fact that the submodule has dirty changes. I don't think it's a good idea to expand that into ignoring changes per repository.

[2020-10-01 13:59] joaomoreno commented on #107443
Right. That doesn't mean it's not notarized. It just means that it can't be opened.

Can you try launching it from a command line/

[2020-10-01 13:59] Yimiprod commented on #75439
![image](https://user-images.githubusercontent.com/2227867/94818750-c06ede80-03fe-11eb-9a7d-634293cebceb.png)
what we have:
`cmd` doesn't show the path to the file when **require()** is inside a block
`cmd+click` doesn't follow the path when **require()** is inside a block

what is expected:
`cmd` should show the path to the file when **require()** is inside a block
`cmd+click` should follow the p

[2020-10-01 14:01] alexdima commented on #97238
`vscode-textmate` uses [oniguruma](https://github.com/kkos/oniguruma) as the regex library, so it might have some missed optimization opportunity compared to regex101 for the regex:
[code]

Regarding https://github.com/microsoft/vscode/issues/97238#issuecomment-631545925 , that looks to be mentioning a search in file, where we use the built-in JavaScript regex, so these two issues are AFAICT unrel

[2020-10-01 14:03] Ceebox commented on #107539
Yes, I am using that exact version.

[2020-10-01 14:06] joaomoreno commented on #107816
This is not a bug. I bet a lot of different people would like a lot of different buttons in the left panel.

True. Code will also update simply by quitting it, by the way.

This is an issue in Electron on macOS. It's actually super smooth on other platforms:

![recording (6)](https://user-images.githubusercontent.com/22350/94819783-f2cd0b80-03ff-11eb-92e1-e2d3810272fd.gif)

Finally, feel free to a

[2020-10-01 14:06] #107816 closed

[2020-10-01 14:09] alexdima commented on #107539
@Ceebox I have just tried on a fresh Windows VM as well, and I cannot reproduce:
* I downloaded https://github.com/microsoft/cascadia-code/releases/download/v2009.22/CascadiaCode-2009.22.zip
* I installed the font at `ttf\CascadioCode.ttf`
* I restarted VS Code:
* I configured vscode:
[code]
Ligatures work fine for me:

![image](https://user-images.githubusercontent.com/5047891/94820105-5a835680-0

[2020-10-01 14:09] joaomoreno commented on #107659
Oh wow. Closing as a dupe of https://github.com/microsoft/vscode/issues/17142

[2020-10-01 14:09] #107659 closed

[2020-10-01 14:12] orta commented on #65559
@bpasero  - the WebAssembly globals do [live in the dom.d.ts](https://github.com/microsoft/TypeScript/blob/35111231f7ee48ce0ca08e4c1076d94b7125865b/lib/lib.dom.d.ts#L19006-L19013) based on their [spec pages](https://github.com/microsoft/TypeScript-DOM-lib-generator/blob/master/inputfiles/idl/WebAssembly%20JavaScript%20Interface.widl) but for them to be available here they would need to be C&P'd in

[2020-10-01 14:13] alexdima commented on #107601
@dharrington The setting `"editor.renderLineHighlight": "all"` works fine for me for any remote file that I try. What is much more likely, is that you are opening a file from a folder or a workspace where you have a `.vscode` settings folder and where perhaps there is also configured `editor.renderLineHighlight`, but with a different value:

[2020-10-01 14:13] #107686 closed

[2020-10-01 14:16] joaomoreno commented on #107871
This is hard since these are not files, but changes. `Staged Geometry.ts` is a different element than `Unstaged Geometry.ts`. List selection preservation works via identity matching and those two elements have different ids, since they are indeed different:

![image](https://user-images.githubusercontent.com/22350/94820996-5e63a880-0401-11eb-905f-89e299eeb2bc.png)

You're actually the first to ask

[2020-10-01 14:18] chrmarti commented on #107821
Could you post the text including the merge conflict?

[2020-10-01 14:20] sandy081 commented on #107882
Sorry, I meant to show native file dialog always in local window.

[2020-10-01 14:22] #107882 closed

[2020-10-01 14:23] alexdima commented on #106698
That makes sense. The two methods where a delay/await could be added are:
- [`_startInsideIframe`](https://github.com/microsoft/vscode/blob/da13bb75621520267be23109b0341bf5d909585f/src/vs/workbench/services/extensions/browser/webWorkerExtensionHost.ts#L95)
- [`_startOutsideIframe `](https://github.com/microsoft/vscode/blob/da13bb75621520267be23109b0341bf5d909585f/src/vs/workbench/services/extensio

[2020-10-01 14:27] sandy081 opened #107889 "Workspace recommendation is not shown after dismissing file based recommendations"
- Start with fresh user data and extensions dir
- Open VS Code repo
- Workspace recommendation is shown
- Create a python file - Python recommendation is shown
- Create a Go file - Go recommendation is shown
- Make sure above files are pinned and do not select any action in prompts
- Reload window
- (Python/Go) recommendation is shown
- Switch to another file (Python/Go) - Another (Python/Go) reco

[2020-10-01 14:28] 7ranceaddic7 commented on #107539
Yes, @alexdima, I have the latest version of Cascadia.

![image](https://user-images.githubusercontent.com/4062616/94821245-3bf86d80-03b6-11eb-9801-443394caa9cc.png)

This **IS NOT** and issue about **ALL** ligatures.  You keep using the same SINGLE ligature (=>) to prove nothing I haven't already helped proven ... that particular single ligature works.

![image](https://user-images.githubusercont

[2020-10-01 14:30] #107889 closed

[2020-10-01 14:37] wasserman commented on #107443
You mean for Insiders?  I know the ticket is for the regular one but Insiders is the only one that I never fixed in this way and may be representing the same problem.
Launch from command line how?

Just as a reminder, the "Visual Studio Code" 1.49 release only installed after successfully installing 1.43.  But 1.49 directly (just as Insiders currently does) presented this dialog without the option

[2020-10-01 14:40] jrieken opened #107890 "Debug dropdown cropped"
* create a codespace from an extension you are developing
* open in safari
* open debug viewlet
* 🧀  the top border is cropped

<img width="442" alt="Screenshot 2020-10-01 at 16 38 53" src="https://user-images.githubusercontent.com/1794099/94823894-ab954980-0404-11eb-8364-1d798734af7f.png">

[2020-10-01 14:41] dharrington commented on #107601
That's exactly right. I didn't realize folder settings were a thing, or that I had some. Thanks

[2020-10-01 14:41] #107601 closed

[2020-10-01 14:44] gauravmak commented on #97332
I published a new version but [the issue](https://marketplace.visualstudio.com/items?itemName=freshbitsweb.laravel-traveller) is still the same :(

[2020-10-01 14:45] bernardogeneroso opened #107891 "TypeScript BUG"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-10-01 14:46] #107891 closed

[2020-10-01 14:59] ultraGentle commented on #76642
Since some time has passed, just wanted to add a note that I'm currently experiencing this bug.

(Details: VSC: 1.50.0, insiders.  Untitled, unsaved file.  No line numbers.  Not all links blink.)

[2020-10-01 15:00] dbaeumer commented on #107653
Added

[2020-10-01 15:00] #107653 closed

[2020-10-01 15:02] onionhammer opened #109679 "Clicking link in text block navigates to link AND opens it for edit"
# Behavior
- Clicking on a link to another local file opens the file in a separate tab (perhaps this should be a setting?)
- Going back to the notebook tab, that cell is now in edit-mode and links are no longer clickable until back in rendered mode
![image](https://user-images.githubusercontent.com/969938/94826640-280c3600-03cd-11eb-977d-c0734e670f71.png)

# Desired behavior
- Clicking on a link t

[2020-10-01 15:05] alexdima commented on #107539
It seems to me that you do not like the glyph that Cascadia Code has chosen to render for the `==` ligature. Please take a very close look at the following:

You can observe that `==` changes in rendering when the setting is on or off:

![Kapture 2020-10-01 at 17 03 41](https://user-images.githubusercontent.com/5047891/94826900-198f4000-0408-11eb-87d3-5fdb120948e2.gif)

Do you have another softwar

[2020-10-01 15:06] Ceebox commented on #107539
This is bizarre. Looks like I will take this over to the Cascadia Code repo, which is weird because the font joins the == in atom. Thanks for the help.

[2020-10-01 15:08] dbaeumer commented on #107586
Done. See https://microsoft.github.io/language-server-protocol/specifications/specification-3-16/#textDocument_codeAction

[2020-10-01 15:10] fiveisprime commented on #102193
The Marketplace team has search improvements on their backlog, but it requires some major rework of the existing search implementation. It's being tracked on their backlog.

[2020-10-01 15:20] Maldaris commented on #106436
Even just a flag for the submodule to not have its changes hidden would meet the need here.

I guess I'm misinterpreting what you mean by ignoring changes per repository; it seems like case 2 in the SO link above covers, but I think what you're mentioning is in the context specifically of the nested submodule reporting changes itself?

[code]
I guess I'm looking at the "parent" in this context bei

[2020-10-01 15:21] ChadBailey commented on #93150
Just want to add a +1. I came here with the explicit intent of creating a feature request just like this. Glad I'm not the only one who desires it.

I will say that finding this was very challenging, I nearly filed a bug report of my own simply because it's difficult to express in words what it was I was after. Searching bugs specifically for "git ruler" is what found it. I suspect there would be

[2020-10-01 15:21] shridpant opened #107892 "Remote Window support for development through an SSH connection"
### Developing applications for Remote Machines through VS Code

The Remote-WSL feature is really helpful for building Linux native applications on Windows itself! I have been a long-time fan of this feature- it saves me a lot of time.

My recommendation would be to **enable** the Remote Window **to support** building applications through an **SSH connection**. The user would **simply connect to a

[2020-10-01 15:33] ppazos commented on #107821
Need to generate another conflict, that one was manually fixed and merged.

[2020-10-01 15:34] connor4312 commented on #106359
I was not able to verify this -- the `.NET Interactive -- Create Blank Notebook` command resulted in an infinitely loading notebook on the latest insiders

!{](https://memes.peet.io/img/20-10-5c635353-3c51-4ee9-86fd-bd312b988ee9.png)

[2020-10-01 15:36] isidorn commented on #107860
@KyleRAnderson thanks a lot for great steps. I have pushed a fix and VS Code insiders should have the fix tomorrow. So if you have time would be great if you doulbe check. Though I verified the fix fixes the issue here.

[2020-10-01 15:37] 2percentsilk commented on #107846
Weird! Sorry for the noise - it's working for me now!

[2020-10-01 15:47] misolori opened #107893 "Watermark missing on Windows"
![image](https://user-images.githubusercontent.com/35271042/94832232-808a0600-03c2-11eb-8204-e25d282b865b.png)

When looking at the console log, it appears the URL for the file is not rendering correctly (missing the /):

`file:///C:/UsersmisolorippDataLocalProgramsMicrosoft%20VS%20Code%20Insidersresourcesppoutvsworkbench%0Browserparts%C3%ADitormedialetterpress-dark.svg`

Maybe related to this cha

[2020-10-01 15:49] anthowm commented on #107785
I just generate a new react app yesterday all was working fine, today I get the update and all npm scripts I run open the debugger(it happen to other projects as well) . I got autoattach in preferences but this behaviour didnt happen to me before.

[2020-10-01 15:52] connor4312 commented on #107785
Please share the version of VS Code you're running and the value of the `debug.javascript.autoAttachFilter` setting.

[2020-10-01 16:00] anthowm commented on #107785
v 1.49.2
![Screenshot 2020-10-01 at 17 58 08](https://user-images.githubusercontent.com/5764698/94833743-c6b98680-040f-11eb-9113-7b6752ee2f90.png)
Downgrade to v1.48.2 works as expected I noticed that there is a select for autoAttachFilter should I change smart to another value ?

[2020-10-01 16:02] evestorm opened #107895 "VSCode terminal process command failed to launch"
- VSCode Version: 1.49.2
- OS Version: 10.15.7
- node Version: 12.18.4
- npm Version: 6.14.6
- tsc Version: 4.0.3

### Steps to Reproduce:

Terminal ➡️ Run task ➡️ 「tsc: watch - tsconfig.json」

### Tree:

[code]

### tsconfig.json

[code]

Hope someone can help me 😢

[2020-10-01 16:03] Ycmelon commented on #107641
Translation:
The font is blurred
After opening the editor for a while, the font will become blurry

[2020-10-01 16:07] rsokl commented on #106434
Version 1.49.1 fixed this for me. And then 1.49.2 promptly broke it again!

![image](https://user-images.githubusercontent.com/29104956/94834690-b5a45180-03de-11eb-8e5b-853b06b55a50.png)

[2020-10-01 16:17] rsokl opened #107896 "net::ERR_CERT_AUTHORITY_INVALID when searching for extensions"
I hit https://github.com/microsoft/vscode/issues/106434 in 1.49.0 as did others. Upgrading to 1.49.1 fixed it. Today, VSCode updated to 1.49.2, which produced the exact same error as before

(**Note**: the `net::ERR_CERT_AUTHORITY_INVALID` only occurs when I check VSCode for updates. It does not occur when I simply check the extension marketplace. This is exactly the same behavior that manifested

[2020-10-01 16:19] amormicoder opened #107897 "Unbound breakpoint"
- VSCode Version: 1.49.2
- OS Version: Windows 10

Steps to Reproduce:

1. Set a breakpoint at line in code.
2. Launch chrome to start a debuggind session.

As soon as the browser opens, the breakpoints show as "unbound breakpoint".

I've tried to uninstall and install vs code and the chrome extension, but still getting same behaviour.

Also i tried to install nightly extensions and set debug.java

[2020-10-01 16:19] turara commented on #105603
This seems correct behavior when doubleClickToSwitchToEditor setting is on.

<img width="408" alt="スクリーンショット 2020-10-01 23 38 44" src="https://user-images.githubusercontent.com/10044588/94823859-4ca0f600-043f-11eb-9335-80dbdfd5d177.png">

1. Double clicking a word will move focus to source markdown file.
2. Copy command copies a whole line in an editor when nothing is selected. (Is this correct be

[2020-10-01 16:26] roblourens commented on #107791
I don't hear this @dbaeumer. But I do see some other weird tabbing behavior that I will have to look into.

[2020-10-01 16:26] shamarin commented on #107896
Didn't found it, mine copy is working well, proxy also working well.

[2020-10-01 16:26] syprieur commented on #107850
The issue seems to stem from re-opening a VS Code diff on 2 now **non-existing** files.

Visual Studio just creates 2 temporary files, asks the default git editor (in this case VS Code) to do a diff on them, and deletes these 2 files as soon as the diff is finished (i.e. editor closed in VS Code).

The issue can be reproduced by following similar steps, without any involvement from Visual Studio:

[2020-10-01 16:28] KUGA2 opened #107898 "Source control window loads endlessly"
- VSCode Version: 1.49.2
- OS Version: Windows_NT x64 10.0.18363

When i do changes in terminal, sometimes (once a week) the auto update of the source control windows gets broken. It loads endlessly. Refresh button does not help.

![grafik](https://user-images.githubusercontent.com/10581931/94836688-8eb44280-0413-11eb-91bc-b16778c4285b.png)
![grafik](https://user-images.githubusercontent.com/10581

[2020-10-01 16:29] ahernsean opened #107899 "Terminal leaves rendering "cruft""
Issue Type: <b>Bug</b>

My terminal constantly leaves rendering "cruft" on the lowest line of the terminal. The rendering artefacts disappear if I resize the terminal, requiring a full refresh.

I expect it has to do with fonts. I'm using "Menlo for powerline". A screenshot will best show this problem.

![image](https://user-images.githubusercontent.com/1649300/94837010-b25e9500-03e1-11eb-99c4-ba3

[2020-10-01 16:31] deepak1556 commented on #107896
I see there is a `net::ERR_CERT_AUTHORITY_INVALID` notification, this would be a case of missing CA cert from your system certificate store.

Can you attach the log following these steps

* Clear any http(s)_proxy settings
* launch vscode with `code.cmd --log-net-log=<some-absolute-path>/netlog.json`
* Add the proxy settings
* Search for extensions
* Quit the application

Attach the generated `net

[2020-10-01 16:35] KUGA2 commented on #93150
@ChadBailey What did you search for first. Adding this "keywords" might help others find this :)

[2020-10-01 16:44] BiaRib opened #107900 "Jogos"

[2020-10-01 16:46] zwhitchcox opened #107901 "Stop auto collapsing the activity bar"
Please, please please have a way to turn off auto-collapsing the activity bar. On every other computer, it works fine, but when I'm on my mac, it auto collapses whenever I go to the editor. I don't know if there's some setting I've set, but I've looked everywhere, but this is killing me inside. Every time I switch to the editor, the activity bar collapses automatically, and it only happens on mac.

[2020-10-01 16:48] effleurager opened #107902 "Regex search in file results in ReDoS"
Regarding https://github.com/microsoft/vscode/issues/97238#issuecomment-631545925 , that looks to be mentioning a search in file, where we use the built-in JavaScript regex, so these two issues are AFAICT unrelated.

_Originally posted by @alexdima in https://github.com/microsoft/vscode/issues/97238#issuecomment-702157124_

[2020-10-01 16:49] effleurager commented on #107902
A regex search of a file with the following causes a hang:
[code]
regex:
[code]

[2020-10-01 16:50] #107801 closed

[2020-10-01 16:50] zwhitchcox commented on #107901
I've tried deleting my settings, but it still disappears the activity bar

[2020-10-01 16:50] deepak1556 commented on #107330
Can you send the dumps for latest stable `1.49.2`. Thanks!

[2020-10-01 16:52] zwhitchcox commented on #107901
I also deleted every plugin and keyboard shortcut

[2020-10-01 16:53] effleurager commented on #107902
Affects the latest stable release and insider release.
<hr/>
Version: 1.49.2
Commit: e5e9e69aed6e1984f7499b7af85b3d05f9a6883a
Date: 2020-09-24T16:23:52.277Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.6.0
<hr/>
Version: 1.50.0-insider
Commit: 228973889bc0e352f7cd11cc14755893f8d81864
Date: 2020-10-01T05:28:37.293Z
Electron: 9.2.1
Chrome: 83.0.4

[2020-10-01 16:53] roblourens opened #107903 "Dispose scoped contextKeyService for treeview menu?"
Continuing https://github.com/microsoft/vscode/pull/107887, @alexr00 @joaomoreno

Why can't the contextKeyService be disposed here, @joaomoreno, it causes some issue with submenus? It would make sense if we need the contextKeyService to still be alive to execute the actions or to evaluate the menu for a submenu, but the actual menu that uses the contextKeyService in that code is being disposed, so

[2020-10-01 16:56] #106215 closed

[2020-10-01 16:56] rebornix commented on #106215
Verifier: please test https://github.com/microsoft/vscode/issues/106215#issuecomment-701992800 .

[2020-10-01 16:58] jrieken opened #107904 "Build task automatic debugging"
* create a codespace for https://github.com/jrieken/vscode-regex-notebook
* run the "Run Extension" launch config
* 😕 you get a notification about port forwarding as soon as the build task runs
* :bug: the build task never finishes because its waiting for a debugger to connect

<img width="1381" alt="Screenshot 2020-10-01 at 18 51 41" src="https://user-images.githubusercontent.com/1794099/94839886

[2020-10-01 16:58] zwhitchcox commented on #107901
I tried using app cleaner to delete every file related to vs code and reinstall, and it still does this

[2020-10-01 17:00] jrieken opened #107905 "Wording: "Show Tunnels View""
* follow steps of https://github.com/microsoft/vscode/issues/107904
* I think the working "Show Tunnels View" is confusing, esp since the actual view then talks about ports

[2020-10-01 17:03] rsokl commented on #107896
To clarify, the `net::ERR_CERT_AUTHORITY_INVALID` actually only occurs when I click "check for updates". This also happened in `1.49.0`. It doesn't occur when I try to reach the marketplace.

Will include the logs

[2020-10-01 17:05] aaronsteers opened #107906 "Changes to terminal selection break plugins and WSL/OS mapping"
Issue Type: <b>Bug</b>

I am using windows (native) and often also use WSL as my terminal. However, when toggling between terminal defaults (WSL or Cmd/PS), this also appears to break other plugins which are configured on one or the other platform, or which leverage syntax specific to a certain platform.

Is this expected? I think there's a need to be able to specify which terminal my plugins and

[2020-10-01 17:06] odebroqueville opened #107907 "Extensions fail to load even after waiting for half an hour"
[Screenshot](https://i.imgur.com/d10iD9E.png)

- VSCode Version: 1.49.2
- OS Version: macOS Catalina 10.15.7

Steps to Reproduce:

1. Open VS Code
2. Visit the Extensions tab

Does this issue occur when all extensions are disabled?: Yes/No

[2020-10-01 17:08] Brayden-Paley commented on #103816
Hi, I'd like to take a look at solving this issue, I am a part of GraceHopper OSD

[2020-10-01 17:08] jgugu commented on #80674
I'm going to take a shot at this for Grace Hopper's Open Source Day!

[2020-10-01 17:08] connor4312 commented on #107904
/duplicate https://github.com/microsoft/vscode/issues/107785

[2020-10-01 17:08] ConceptaNjolima commented on #86332
OSD-Working on this

[2020-10-01 17:08] #107904 closed

[2020-10-01 17:13] tvgirl90 commented on #107208
Hi, I'm part of Grace Hopper OSD and I will try to tackle this one!

[2020-10-01 17:16] SerenaPaley commented on #96409
Hi, I would like to try solving this problem. I am from Grace Hopper OSD

[2020-10-01 17:17] DonJayamanne opened #107908 "Clearing output should clear cell execution count"
When clearing a notebook cell, the execution count should be cleared.
This requirement was covered here https://github.com/microsoft/vscode/issues/103713
However now that the issue has been closed, I fear that requirement might not be tracked.

**Requirements for Python (Juyter) Notebooks**:
* When cell is not running & clear output
    * Clear output
	* Clear execution order
	* Clear the executio

[2020-10-01 17:17] incakoala commented on #106886
Hi there! I'm a part of Open Source Day and would love to contribute to this issue!

[2020-10-01 17:17] rsokl commented on #107896
@deepak1556 attached is the zipped netlog
[netlog.zip](https://github.com/microsoft/vscode/files/5313758/netlog.zip)

[2020-10-01 17:18] xinyeah commented on #91742
I'm going to take a shot at this for Grace Hopper's Open Source Day!

[2020-10-01 17:19] rebornix opened #107909 "Settings UI dropdown list is not dismissed when setting editor is closed"
Issue Type: <b>Bug</b>

* Open Settings Editor
* Open a drop down
* CMD+W to close the editor
* The drop down will not go away

![settings-dropdown](https://user-images.githubusercontent.com/876920/94841940-8f2aea00-03cf-11eb-8e3f-adfb5da9bac9.gif)

VS Code version: Code - Insiders 1.50.0-insider (228973889bc0e352f7cd11cc14755893f8d81864, 2020-10-01T05:28:37.293Z)
OS version: Darwin x64 19.5.0

<d

[2020-10-01 17:20] alisonnoyes commented on #106707
Going to try this issue for Grace Hopper OSD.

[2020-10-01 17:20] #107901 closed

[2020-10-01 17:20] rebornix commented on #107909
Assigning to Sept first as it's a regression.

[2020-10-01 17:21] sunwei-ms commented on #99072
I'm going to take a shot at this for Grace Hopper's Open Source Day!

[2020-10-01 17:21] jgugu commented on #80674
@isidorn Could you provide a code pointer to an existing function / maybe a code example of getting the folderUri? (referencing this comment https://github.com/microsoft/vscode/issues/80674#issuecomment-540845624) Thanks!

[2020-10-01 17:22] Rachel-Hu commented on #107284
Hi! I'm a part of Grace Hopper Open Source Day and would love to give it a try!

[2020-10-01 17:23] isidorn commented on #103816
Hi there,

This is part of the find widget commands.
I would start in this Code Area https://github.com/microsoft/vscode/blob/b8e87aae6dca78fe0f8dbffd9d6a34921d9913f4/src/vs/editor/contrib/find/findWidget.ts#L21

And would search for the command that binds Cmd+enter. Basically it needs to be active in more cases
@Brayden-Paley if you do not find the specific location let me know and I can try to f

[2020-10-01 17:23] bpasero commented on #65559
Ok thanks, if someone is willing to add these types into types/node (https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/node) then we can pull them in. Important: it has to be added to the `12.x` branch, as VSCode is not yet on node.js 14.

[2020-10-01 17:24] bpasero commented on #107882
Yes, native dialog always unless the file is remote or the user has the setting configured to use simple dialogs.

[2020-10-01 17:25] bpasero commented on #107465
If an editor is dirty there is no additional indication, the pin icon only appears for saved editors.

[2020-10-01 17:26] #107871 closed

[2020-10-01 17:26] bpasero commented on #107871
Yeah not a big deal as I typically have the focus color disabled anyway.

[2020-10-01 17:26] connor4312 commented on #107897
/jsDebugLogs

[2020-10-01 17:28] deepak1556 commented on #107896
thanks for the log, the site used for viewing net log is currently down https://netlog-viewer.appspot.com/#import , will get back once its working.

[2020-10-01 17:29] deepak1556 commented on #107896
Does running with `--ignore-certificate-errors` help ?

[2020-10-01 17:30] connor4312 commented on #107785
Ok, thanks. This will be fixed in the upcoming release (and is on [insiders](https://builds.code.visualstudio.com/builds/insider)). You're probably hitting https://github.com/microsoft/vscode/issues/106991

[2020-10-01 17:31] rzhao271 commented on #105025
I initialized a git repo with branch name "whatever".
It seems that 'Publish to GitHub' creates the repo, but it doesn't pick up the branch name?
I tried cloning the created repo and it seems to be completely empty.

![workspace-made-but-empty](https://user-images.githubusercontent.com/7199958/94840703-aff24000-03cd-11eb-8bf2-3d43f299993b.PNG)

[2020-10-01 17:31] roblourens commented on #107909
Bad but not a regression

[2020-10-01 17:33] isidorn commented on #80674
@jgugu Daniel already provided quite a nice code pointer in his comment above
https://github.com/microsoft/vscode/issues/80674#issuecomment-540672806
I think that is a good starting point

[2020-10-01 17:33] ChadBailey commented on #93150
That's a valid suggestion, however, I think the problem mostly existed in my head lol. I didn't actually try a whole lot of search terms, but went through lots of combinations in my head before deciding on searching open issues for "git ruler" since i figured those were the two most unique terms to this problem.

That said, I looked up my initial search (on Bing) which was `vscode git commit reaso

[2020-10-01 17:33] gizmotronic commented on #106473
Any chance of publishing as a snap, as well?

[2020-10-01 17:35] bpasero commented on #107893
Good catch.

[2020-10-01 17:35] #107893 closed

[2020-10-01 17:39] roblourens commented on #107831
We have discussed this, but we don't really think that the settings editor is the right place for this kind of info. Maybe we would have a more comprehensive "What's new" experience in vscode but not a one-off for the settings editor. If it helps, the release notes are only updated once a month, so you can just read them for each stable release at the end of the month to stay up to date :)

[2020-10-01 17:39] #107831 closed

[2020-10-01 17:39] aeschli commented on #107892
Have you seen the Remote SSH extension? https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-ssh

[2020-10-01 17:44] aeschli commented on #106707
Cool. You find the Quiet Light theme here: https://github.com/microsoft/vscode/blob/master/extensions/theme-quietlight/themes/quietlight-color-theme.json
I recommend to try out the changes in the settings first. See https://code.visualstudio.com/docs/getstarted/themes#_customizing-a-color-theme

[2020-10-01 17:46] rsokl commented on #107896
Doing so changes the message to `No extensions found` and `server returned 403`

![image](https://user-images.githubusercontent.com/29104956/94844587-77159380-03ec-11eb-84fd-2c9468bc3d92.png)

[2020-10-01 17:48] GWBasic opened #107912 "Breakpoints don't show in the editor, debugger opens new windows"
I'm having two very closely related issues. I suspect they are the same bug.

When I set a breakpoint, it doesn't show up in the editor. It does show up in the breakpoints pane.

When I hit the breakpoint, Visual Studio opens the same file in a new tab. This new tab shows the breakpoints and is read-only.

I certainly hope this isn't expected behavior! (It's very confusing, and goes against what e

[2020-10-01 17:49] theanurin commented on #45177
+1

[2020-10-01 17:51] roblourens commented on #107909
Need to remove the dev flag in selectBoxCustom.ts and replace it with a hidden setting

[2020-10-01 17:51] deepak1556 commented on #107896
Do you get a successful connection when you run `curl -v https://vadimcn.gallerycdn.vsassets.io/extensions/vadimcn/vscode-lldb/1.5.3/1591510551951/Microsoft.VisualStudio.Code.Manifest` ?

[2020-10-01 17:51] #107717 closed

[2020-10-01 18:00] rsokl commented on #107896
Yes

[2020-10-01 18:04] isidorn commented on #107901
We do not do this in vscode core.
I am 100% sure one of your extensions is doing this. Please disable them one by one to figure out which one

[2020-10-01 18:05] xinyeah commented on #88792
I'm going to take a shot at this for Grace Hopper's Open Source Day!

[2020-10-01 18:06] #107855 closed

[2020-10-01 18:07] aeschli commented on #107441
Ah, then it's an issue with the Beautify extension. Please file the issue there.

[2020-10-01 18:07] #107441 closed

[2020-10-01 18:11] isidorn commented on #80674
Best would be to use the WorskapceContextService for getting the Uri of the folders
Code pointer
https://github.com/microsoft/vscode/blob/b8e87aae6dca78fe0f8dbffd9d6a34921d9913f4/src/vs/platform/workspace/common/workspace.ts#L16

We get services via dependency injection - the @ notation
Example https://github.com/microsoft/vscode/blob/b8e87aae6dca78fe0f8dbffd9d6a34921d9913f4/src/vs/workbench/contr

[2020-10-01 18:16] isidorn commented on #103816
Maybe somewhere around here https://github.com/microsoft/vscode/blob/b8e87aae6dca78fe0f8dbffd9d6a34921d9913f4/src/vs/editor/contrib/find/findController.ts#L872

[2020-10-01 18:17] alexdima commented on #107902
I tried the input at https://regex101.com/ and it appears the regex suffers from catastrophic backtracking:

![image](https://user-images.githubusercontent.com/5047891/94847430-ddb5a400-0422-11eb-9457-dc1c17a80ccf.png)

More info: http://www.regular-expressions.info/catastrophic.html

There are many such regular expressions and from what I could tell, `v8` or other JS engines don't care to hear ab

[2020-10-01 18:17] #107902 closed

[2020-10-01 18:19] isidorn commented on #88792
This issue is quite demanding as it requires a big rewrite of the extension view.
However we also accept minor improvements

Though here's a code pointer
https://github.com/microsoft/vscode/blob/b8e87aae6dca78fe0f8dbffd9d6a34921d9913f4/src/vs/workbench/contrib/extensions/browser/extensionEditor.ts#L166

[2020-10-01 18:20] plinionaves commented on #107897
Same problem here

[2020-10-01 18:22] saiprasadbarke opened #107914 "Better variable viewer and plotviewer for jupyter notebooks"
hello,

I would like to see a better variable viewer and plot viewer for Jupyter notebooks in vscode. The current data viewer does not support complex data types and only displays the values as [object].

Also, the plots generated are unscalable.

[2020-10-01 18:23] connor4312 commented on #107897
@plinionaves please collect a trace log using the instructions above so I can help you out

[2020-10-01 18:25] KPTousey commented on #107441
Thanks Martin; issue was forwarded to the beautify team.
-Kevin Tousey

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=link>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Thu, Oct 1

[2020-10-01 18:25] Kasheftin opened #107915 "editor.action.moveLinesDownAction erroneously offsets the block to the right"
- VSCode Version: 1.49.1
- OS Version: Ubuntu 20.04

Steps to Reproduce:

1. Select some lines;
2. Press ctrl+shift+down to swap selected lines with the next one (assuming you have ctrl+shift+down binded to editor.action.moveLinesDownAction);
3. The code shift to the right with every keypress while it's expected to move vertically only;

Does this issue occur when all extensions are disabled?: Yes

[2020-10-01 18:25] plinionaves commented on #107897
@connor4312 I'm working on a private project, does this trace capture any sensitive information?

[2020-10-01 18:31] plinionaves commented on #107897
Hi @connor4312, I sent my log file in the email mentioned above, thanks in advance

[2020-10-01 18:32] DonJayamanne opened #107916 "Possible delays in execution of cells due to delays in updates to cell output & metadata"
**Based on the current implementation this is how our Python (Jupyter) notebooks work**
Assume we are execute all 10 cells, each with a print statement
* Start executing first cell
	* Update metadata with status to indicate it has started
	* Next update execution order
	* Next update the output
	* Next update the cell run status as successful
* Next proceed to the next cell & execute that cell
* K

[2020-10-01 18:38] rzhao271 commented on #107458
Setting this issue to verified because arrowup/arrowdown works, at least.

However, in search, ctrl+arrowdown refocuses on search results, and then following that by ctrl+arrowup/arrowdown scrolls the results up or down. The attached gif also shows it inconsistently going back to the search toolbar.
If this isn't the intended behaviour of ctrl+arrowup/arrowdown in search, we should open a new bug

[2020-10-01 18:40] tvgirl90 commented on #107461
Hi, I'm part of Grace Hopper OSD day and I'll try to tackle this!

[2020-10-01 18:40] eamodio commented on #107752
@sana-ajani can you still reproduce this on today's insiders? I think @sbatten made some changes to the views and I think it fixed this.

[2020-10-01 18:47] connor4312 commented on #107897
It doesn't look like your application is loading your "OrderStatusService.ts" anywhere. Where do you expect it to be coming from?

[2020-10-01 18:48] roblourens commented on #106934
Any way to verify this besides code review?

[2020-10-01 18:49] misolori commented on #107168
Taking this off the milestone so it doesn't come up in verification

[2020-10-01 18:49] plinionaves commented on #107897
Really, I tried to debug directly through chrome too but I couldn't find it
It is inside a directory in my Vue project, running with the Webpack, I will try to restart the server

[2020-10-01 18:52] brettfo opened #107917 "Notebook cell language is undefined after switching language to Markdown"
- VSCode Version: 1.50.0-insider
- OS Version: Win10

Steps to Reproduce:

1. Create a file named `test.dib` with the following contents:
[code]
2. Install the [.NET Interactive Extension](https://marketplace.visualstudio.com/items?itemName=ms-dotnettools.dotnet-interactive-vscode) for VS Code.
3. Open the `test.dib` file created in step 1.
4. Change the only cell's language to `Markdown`.

Result

[2020-10-01 19:00] eamodio commented on #107824
@sbatten I can't reproduce this case anymore on today's insiders, but now the title of the tab won't get updated if the tab isn't visible. In this case, when the tab becomes inactive, I reset the tab title back to just `File History` and when active it is `File History • filename`, but now it just sticks at `File History • filename` even though it is getting reset.

[2020-10-01 19:04] sbatten commented on #107824
Yep I reverted the fix for that and will check in the correct fix next iteration.

[2020-10-01 19:11] 7ranceaddic7 commented on #107539
@alexdima

Thank you for demonstrating that, it's not something readily noticeable and I completely missed that.

I have to agree that is the problem and it is on Cascadia, not VSCode.

You are absolutely correct about this.  I appreciate your indulgence and patience.

I agree @Ceebox that is bizarre, there's nothing gained but confusion.  Why bother forming a ligature that doesn't actually changi

[2020-10-01 19:13] connor4312 commented on #107897
Thanks for the info. Based on that, this is probably not a problem in the scope of VS Code; you may have more luck with StackOverflow and similar.

[2020-10-01 19:16] connor4312 commented on #106668
I was able to reproduce this in the recent insiders using a single terminal: https://memes.peet.io/img/20-10-3d8a2c7c-818b-4921-9c84-d78cf33d217e.mp4

[2020-10-01 19:17] ctokun opened #107918 "Notebook cell output prepending/appending '&#39;'"
Issue Type: <b>Bug</b>

1. Create new ipynb file
2. `x = 'hello'`
3. `x`
2. Cell output is `&#39;hello&#39;`
4. `print(x)`
5. Cell output is `hello`

<img width="1209" alt="Screen Shot 2020-10-01 at 1 16 19 PM" src="https://user-images.githubusercontent.com/47460327/94853240-56e3d580-03e8-11eb-825a-6ce626942a4c.png">

VS Code version: Code - Insiders 1.50.0-insider (228973889bc0e352f7cd11cc1475589

[2020-10-01 19:18] #103051 closed

[2020-10-01 19:20] connor4312 commented on #104195
\closedWith 12c36762037937a25decc05d8113390408983630

[2020-10-01 19:21] misolori opened #107919 "Setting to follow to running cells in a notebook"
When running all cells in a notebook that has large cells, sometimes it's hard to follow along where the current cell is especially when the execution happens fast. I would love for an option that "follows" the actively running cell as it moves through the notebook. Right now I have to manually scroll or use the keyboard to follow.

![ezgif com-gif-maker (6)](https://user-images.githubusercontent.

[2020-10-01 19:23] alisonnoyes commented on #106707
It seems like the Quiet Light theme just didn't have any definition for what color the insertions/deletions/etc should be so by adding those the issue will be fixed.  Is there some sort of guideline for what these colors should be?

[2020-10-01 19:27] alexdima commented on #107539
I will close this issue here for now, we can reopen if we figure out the rendering in VS Code is bad.

[2020-10-01 19:27] #107539 closed

[2020-10-01 19:33] gregvanl commented on #107496
I see this as well for both Stable and Insiders

[2020-10-01 19:36] #107751 closed

[2020-10-01 19:36] eamodio commented on #107751
Good call -- thanks for filing this!

[2020-10-01 19:37] KyleRAnderson commented on #107860
Awesome, I'm really glad to hear that it's been fixed so quickly, I only found it yesterday. I'll try it out on VSCode insiders tomorrow,
I should have time for that. Thank you @isidorn!

[2020-10-01 19:48] rsokl commented on #107907
This is the same problem as #107896

[2020-10-01 19:51] rsokl commented on #107896
By the way it looks like #107907 reports the same issue.

I think that my original title, ` 1.49.2 broke proxy authentication again` might be appropriate for this issue, since the `net::ERR_CERT_AUTHORITY_INVALID` was being raised due to the broken proxy authentication that was fixed by `1.49.1`.

[2020-10-01 19:52] eamodio commented on #107394
Looks much better now -- thanks!

[2020-10-01 19:55] dimritium commented on #107376
@rmunn I guess I found a way to reproduce the issue.

First I create a react project using ```npx create-react-app demo```

Then inside ```src``` folder all ```.js``` files have space 2 and if I set indent to spaces:4 it auto resets to 2 after restarting VS code

This only happens to files created by npx, If I add my custom files, they stay at 4 indent spaces.

And I do not see .editorconfig file.

[2020-10-01 19:56] aeisenberg commented on #106934
I have a problematic codespace that I originally found this issue in. If the fix above is already available in codespaces, then I can verify that I no longer have the problem.

[2020-10-01 19:57] connor4312 commented on #107109
I'm not sure exactly what to look for here. @sbatten are you able to verify this?

[2020-10-01 20:01] eamodio opened #107921 "Debug hovers slow to dismiss"
Did we somewhat recently change the speed at which debug hovers are hidden? (And possibly shown?)

Here you can see the difference in time from the debug hovers and normal editor hovers

![debug-hovers](https://user-images.githubusercontent.com/641685/94857316-4f7bf680-03ff-11eb-9fa9-635507c59615.gif)

[2020-10-01 20:02] eamodio commented on #107921
I honestly feel that the normal hovers go away too quickly, and debug ones are too slow 😄

[2020-10-01 20:04] DmitriWolf commented on #91179
Seems like this happens every few months.

The process number is 6512
[code]

[code]

I don't know why this is happening. I'm going to look around for another editor. I've been searching for the answer for an hour.

[2020-10-01 20:13] clandrew commented on #105603
@turara I have that setting turned on but still repro the problem (selecting text in Preview then clicking Edit->Copy causes only a blank line to be copied)

[2020-10-01 20:17] aeschli commented on #106707
Just can make a proposal and @misolori (our UX guy) can review.

[2020-10-01 20:21] angelod1as opened #107922 "Typescript died"
Issue Type: <b>Bug</b>

Cloned [this repo](https://github.com/rocketseat-content/react-nextjs-typescript-structure) and opened vscode on the root folder.

VS Code version: Code 1.49.2 (e5e9e69aed6e1984f7499b7af85b3d05f9a6883a, 2020-09-24T16:23:52.277Z)
OS version: Darwin x64 19.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4278U CPU @ 2.60GHz (4 x

[2020-10-01 20:25] ctokun commented on #107918
This is an issue with the python extension update. Fixed by rolling back update

[2020-10-01 20:25] #107918 closed

[2020-10-01 20:33] larryosborn opened #107923 "No authentication provider 'microsoft' is currently registered."
- VSCode Version: 1.50.0-insider
- OS Version: MacOS 10.15

Steps to Reproduce:

1. The error happens randomly during normal code editing. Extensions host quits unexpectedly. I have two identical macs and only one has this issue.

Does this issue occur when all extensions are disabled?: Yes

The developer console has the following output:

[code]

[code]

[code]

[code]

[2020-10-01 20:35] pwsq commented on #101738
Hi I want to give it a try

[2020-10-01 20:37] rzhao271 commented on #107759
Looks like they're still there.
Maybe the fix hasn't been released in the latest insiders yet?

![eslint-commands](https://user-images.githubusercontent.com/7199958/94860647-35381d80-03eb-11eb-8dcd-e2b3bec6bf16.PNG)

[2020-10-01 20:40] yay opened #107925 ""Go to definition" should not open a file in a new tab if it's already open in an existing tab"
Issue Type: <b>Feature</b>

IMO, "Go to definition" should not open a file in a new tab if it's already open in an existing tab.

For example, if I have a split view where a C++ header file is opened on the LHS and the corresponding source file on the RHS, when I go to definition, I'd like VS Code to jump to the definiton in the tab on the RHS, not create a new tab for the same file on the LHS.

V

[2020-10-01 20:44] seanbecker15 commented on #107189
### Useful Links
- https://github.com/microsoft/vscode/compare/master...trentapple:patch-2?diff=unified
- https://github.com/microsoft/vscode/blob/master/src/vs/editor/contrib/find/replacePattern.ts#L224
- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/replace#Specifying_a_string_as_a_parameter
- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide

[2020-10-01 20:44] rquispeq commented on #107738
Other files are ok, I have this problem on files with the uppercarse/lowercase cases.

I open the entire project on another texteditor and when I search the same file, it shows me just one match, the filename in lowercase.

[2020-10-01 20:54] GinnyPotter commented on #73635
I will take a stab.

[2020-10-01 20:56] xh3b4sd commented on #34088
I created https://github.com/alefragnani/vscode-project-manager/issues/428 and was directed to here. It looks like there are quite a couple of supporting arguments to improve the current state of searching. Though what I am not sure about is why the behaviour in search is different when searching for different things.

[2020-10-01 21:00] vchealy commented on #107735
I still have this issue, after the latest update has finally applied for VS Code.

[2020-10-01 21:14] mjbvz commented on #106963
Looks like there is still some inconsistency with `list.focusForeground`.

Using those settings, here is `list.activeSelectionForeground`:

![Screen Shot 2020-10-01 at 2 12 54 PM](https://user-images.githubusercontent.com/12821956/94864078-4df70200-03f0-11eb-98d7-d7c1cc90f7e1.png)

And here's `list.focusForeground`:

![Screen Shot 2020-10-01 at 2 12 58 PM](https://user-images.githubusercontent.com

[2020-10-01 21:23] roblourens commented on #106934
Thanks!

[2020-10-01 21:30] roblourens commented on #107878
Maybe a formatter setting supports this? We don't control the actual formatting though.

[2020-10-01 21:30] #107878 closed

[2020-10-01 21:32] luucamay commented on #91742
Hello @joaomoreno, I want to try solving this problem. I am from Grace Hopper OSD

[2020-10-01 21:35] danieltkach opened #107927 "console.log (JS) does not output to debug console, debug does not work either"
- VSCode Version: 1.49.2
- OS Version: Windows 10 Pro

Steps to Reproduce:

1. Do a console.log("any string");
2. run the program

Does this issue occur when all extensions are disabled?: Yes

console.log does not output, and debugger does not work, breakpoints are completely ignored.
It all works find in the insiders version.

[2020-10-01 21:37] rzhao271 commented on #107109
Removing verified label because not sure whether I verified the issue properly.
Before resetting the view locations, and after resetting the view locations, the size of the storage database stayed the same in both cases.

[2020-10-01 21:37] nodorious commented on #104195
hi connor -

i'm experiencing this issue now (skipfiles not respecting node_internals exception).

i just tried enabling skipfiles for the first time, and noticed the problem.

if you have a potential fix available i'd like to try it (caveats understood).

thank you...

[2020-10-01 21:38] connor4312 commented on #104195
/jsDebugLogs

[2020-10-01 21:39] Brayden-Paley commented on #103816
Hi @isidorn
I was looking to see if the function at this line may be able to link to the cmd + enter functionality by creating a condition where the input is in focus but the replace value is undefined.

https://github.com/microsoft/vscode/blob/b8e87aae6dca78fe0f8dbffd9d6a34921d9913f4/src/vs/editor/contrib/find/findWidget.ts#L785

But at this time I'm still unable to find where the cmd + enter fun

[2020-10-01 21:42] shrikjoshi opened #107928 "AFter executing unit test debug console shows nothing"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-10-01 21:43] mjbvz commented on #107335
@eamodio Can you please add some steps to verify this? I tried:

[code]

But that doesn't seem to be recognized?

[2020-10-01 21:43] #107928 closed

[2020-10-01 21:44] luucamay commented on #91742
Hi @joaomoreno, the solution proposed by @ChrisPapp is not valid or why that one is not considered?

[2020-10-01 21:47] diminutivesloop commented on #98063
This would also be helpful for users of gulp-sass as it can sporadically fail to build when running in watch mode and the recommended solution is to enable atomic saves.
https://github.com/dlmanning/gulp-sass/wiki/Common-Issues-and-Their-Fixes#partials-sporadically-not-found

[2020-10-01 21:52] shrikjoshi opened #107930 "After executing jest Unit Tests, debug console shows no output"
Issue Type: <b>Bug</b>

After executing jestUnit Tests for react, debug console shows no output

VS Code version: Code 1.49.2 (e5e9e69aed6e1984f7499b7af85b3d05f9a6883a, 2020-09-24T16:29:41.983Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8700K CPU @ 3.70GHz (12 x 3696)|
|GPU Status|2d_canvas: enabled<br>flash_3

[2020-10-01 21:54] jabbera commented on #105283
Apologies for the boneheaded question, but the documentation doesn't quite seem to be there for this feature yet. I would expect this code to replace the text in the selected cell. Instead it creates a new cell above the selected cell. How can I replace the text in a cell:

[code]

[2020-10-01 22:00] luucamay commented on #107753
Hello, I will try to solve this one

[2020-10-01 22:06] luucamay commented on #107753
We should be able to create an empty git commit with out stashing local changes?

[2020-10-01 22:07] tlu1717 commented on #104845
Hello, can I try working on this PR? I am from GHC OSD. If so, how can I start? I'm new to this.

[2020-10-01 22:08] fricaldone opened #107931 "TS Server fatal error: Debug Failure."
We have written the needed data into your clipboard because it was too large to send
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.0.2

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this se

[2020-10-01 22:10] connor4312 commented on #107753
Yep, that's right. Creating an empty commit should not trigger the "no staged changes" dialog at all, since the user already said they want to create a commit with nothing in it.

[2020-10-01 22:14] incakoala commented on #106886
@bpasero I was looking at @ tomerstav and looks like we haven't decided on whether or not we should display the extension names in the descriptions. If we DO want to display them it should be an easy fix (adding extensions in the description). Please me know how you want to go about this! thanks

<img width="730" alt="Screen Shot 2020-10-01 at 3 10 15 PM" src="https://user-images.githubusercontent

[2020-10-01 22:21] tomerstav commented on #106886
It's a trivial fix if we add the description. Would be more complicated to allow search without description. That's why I thought it was best to have that extra action in there.

[2020-10-01 22:25] mjbvz commented on #107931
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-10-01 22:27] mjbvz commented on #107922
Doesn't happen for me on the repo

Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-10-01 22:28] RicaBenhossi opened #107932 "Snippets doesn't pass to next parameter"
`Issue` Type: <b>Bug</b>

In java for exemple, when I do fori it gives me the structure bellow, with parameters selected to I change.

`for (int i = 0; i < alunos.length; i++) {

        }`

But I want to change the initial value of 'i' and that's the problem:
If I press TAB, it indents the whole structure.
if I press enter, it breaks the line and took off var type.
If I press space it inserts a s

[2020-10-01 22:29] nodorious commented on #104195
i just tried the insiders build and i can confirm that for the it resolves the problem that i am also having with v1.49.2 (skipfiles ignores exception for node_internals when entered per the documentation). thank you...

[2020-10-01 22:42] mjbvz opened #107933 "Improve NVDA for setting search input"
Testing #107797

Steps to Reproduce:

1. On windows with NVDA enabled
1. Open the settings editor and search for `file`
1. Click off of the search input
1. Then focus the search input again

**Bug**
This reads:

[code]

A few areas where things could be improved:

1. The `editor  has auto complete  multi line  file` part does not seem helpful
1. In my opinion it would be better if it read the numb

[2020-10-01 22:53] FaresKi opened #107934 "JavaScript files not recognised on MacOS"
- VSCode Version: 1.49.2
- OS Version: Darwin x64 19.6.0

Steps to Reproduce:

1. Create folder
2. Create js files.

Result :
<img width="1792" alt="image" src="https://user-images.githubusercontent.com/46092308/94870928-17010a80-0449-11eb-8dd3-101ae9e8ae99.png">
Extensions :
<img width="1074" alt="image" src="https://user-images.githubusercontent.com/46092308/94871090-7a8b3800-0449-11eb-9fb7-9ad5

[2020-10-01 22:59] connor4312 commented on #104195
Ok, thanks for confirming. I haven't heard back from the original poster, so I will mark this as verified for this release.

[2020-10-01 23:02] aeisenberg commented on #106934
All right. I've confirmed that this is now working for me in codespaces.

[2020-10-01 23:16] mjbvz opened #107935 "Frozen after saving 3000+ files at the same time"
Issue Type: <b>Bug</b>

1. In the VS Code codebase
1. Do a workspace search for `/*---------------------------------------------------------------------------------------------`
1. Replace it with: `/*--------------------------------------------------------------------------------------------*`
1. Make sure auto save is disabled
1. Accept the replacement.
1. Now run, `save all`

**Bug**
The editor

[2020-10-01 23:23] olajohn-ajiboye commented on #107736
Hi , I'd love to work on this as my first OSS contribution please😗

[2020-10-01 23:23] mjbvz commented on #107935
Having trouble collecting a perf profile for this since it freezes the window. However this warning is being continuous printed to the console:

[code]

[2020-10-01 23:25] rmunn commented on #107376
In your VS Code settings, is the setting "Editor: Detect Indentation" turned on? If so, then when you open a file that uses different indentation than your configured indent size (such as the .js files created by npx, because 2-space indent seems to be a *de facto* standard in Javascript), VS Code will say "Okay, indent size is configured to be 4 but this file obviously has 2-space indents, so I'l

[2020-10-01 23:25] deepak1556 commented on #107896
Looking at the logs,

So the proxy is fetched from a PAC file at `http://llproxy.llan.ll.mit.edu/proxy.pac` and set to

[code]

Now looking at a sample request related to extensions `https://marketplace.visualstudio.com/_apis/public/gallery/extensionquery`

[code]

So all the requests are pretty much cancelled with the same error which is not surprising.

From the certificate verifier stack,

[cod

[2020-10-01 23:27] kylrth opened #107936 "filename_test.go appears before filename.go in the explorer"
Issue Type: <b>Bug</b>

For items in [lexicographic order](https://en.wikipedia.org/wiki/Lexicographic_order), an item that prefixes another item should be ranked before that longer item.

In VS Code, `alpha_test.go` gets displayed before `alpha.go`:

![Screenshot from 2020-10-01 17-25-46](https://user-images.githubusercontent.com/5044802/94872965-3d07ba00-040b-11eb-9728-70dee6bae81d.png)

Since w

[2020-10-01 23:31] mjbvz commented on #107935
The `trimTrailingWhitespace` setting was slowing down saving, however I still see a large slowdown after disabling that setting.

It seems we try to show a `saving 'file.ts'` notification for every single file being saved. Not sure if this is the cause of the performance issue but it does seem to cause the notifications to get into a very odd state:

<img width="689" alt="Screen Shot 2020-10-01 at

[2020-10-01 23:44] mjbvz commented on #107935
I don't see this performance issue when working with 1000 files instead of 3000 (and only with the full 3000 files do I start seeing the file save notifications)

[2020-10-01 23:57] juihanamshet commented on #106091
Hi, I want to work on this issue as part of Grace Hopper OSD. Can you help me identify a starting point?

[2020-10-02 00:00] turara commented on #105603
@clandrew Hmm. On my macOS, clicking Edit menu dose **not** steal focus 🤔

I think if you have that setting turned **off**, at least the following problem is solved.

[2020-10-02 00:07] udaykapur commented on #107773
Guess this can be closed as well, issue has now been fixed. Thanks

[2020-10-02 00:08] angelod1as commented on #107922
This happened at least three times before I posted the issue. Now it suddenly isn't happening anymore. I don't know why, I changed *nothing* from before, just closed and opened VSCode (as I did the other times)

[2020-10-02 00:16] thdoan opened #107940 ""editor.formatOnSaveMode": "modifications" not working as expected"
- VSCode Version: 1.49.2 (user setup)
- OS Version: Windows 10 64-bit (build 10.0.19041)

Steps to Reproduce:

1. Ensure settings.json has this:

[code]

2. Open the attached JS file in the zip: [test.zip](https://github.com/microsoft/vscode/files/5315337/test.zip)
3. Change line 3 to: `function component(){`

Since I modified line 3, I was expecting it to format line 3 to `function component() {`

[2020-10-02 00:20] roblourens commented on #107243
I can't repro this in stable, and I don't see the notification when I trigger port forwarding another way, what am I missing?

[2020-10-02 01:26] roblourens commented on #103073
Dumb question, how do I get it to use the svg icons instead of what is apparently just text here?

![image](https://user-images.githubusercontent.com/323878/94878878-8a882500-0413-11eb-8c05-06819c64b2f7.png)

[2020-10-02 02:17] hems opened #107942 "finally fixed my terminal font issues"
After months and months having the issue with my font being cropped on the bottom of the terminal i managed to solve the issue by importing the font into https://www.glyphrstudio.com/online/ then export it as OTF.

This comment is related to https://github.com/microsoft/vscode/issues/35901 and the reason why i'm creating this separate "issue" is because that issue is `locked` and it seems there ar

[2020-10-02 02:29] #103790 closed

[2020-10-02 02:29] #103754 closed

[2020-10-02 02:29] #103733 closed

[2020-10-02 02:29] #103644 closed

[2020-10-02 02:34] LionOfJewdah opened #107943 ""Save as shell script" suggests *.bashrc instead of *.sh"
Issue Type: <b>Bug</b>

When I go to save a new file as a shell script using File > Save As, not having marked the syntax as shell script yet in the editor; it suggests I name it (filename).bashrc, instead of (filename).sh

VS Code version: Code 1.49.2 (e5e9e69aed6e1984f7499b7af85b3d05f9a6883a, 2020-09-24T16:23:52.277Z)
OS version: Darwin x64 19.6.0

<details>
<summary>System Info</summary>

|Item

[2020-10-02 02:47] Lemmingh commented on #95291
What a pity.
If there is a way to restart an npm script task by **just one click**, my life will be much easier when developing websites.

[2020-10-02 02:50] mossypig opened #107944 "Exclude files not respecting .gitignore negations"
- VSCode Version: 1.49.2
- OS Version: Centos 8 / Mac OS X

Steps to Reproduce:

1. Add a git ignore pattern for a folder. This will remove it from search and quick open (cmd + p)
[code]
2. Add a negation to allow some files to come through
[code]

I noticed this on OSX and again on Linux. It seems that adding a folder to .gitignore adds it to the list of excluded files (search and quick open) but

[2020-10-02 02:58] ChuckJonas commented on #59546
for the love of god the debug inspect window is maddeningly small.  Please reopen some of these issues so people can at least discuss it

[2020-10-02 03:01] ChuckJonas commented on #56525
We desperately need this for the debugger inspect... the window is so small it's honestly maddening...

[2020-10-02 03:27] mechatroner commented on #68647
I wanted to open a new ticket, but found the existing one! I also have a strong need for dynamic grammar generation.
As a developer of Rainbow CSV I need this API to implement the following features:
* Support comments in CSV files (depending on user selection of a comment prefix Rainbow CSV would be able to generate an appropriate TextMate grammar)
* Support all possible single-character and mult

[2020-10-02 03:40] nodorious commented on #104195
ok, i did find a problem. using the insiders edition does resolve the problem above, as reported, when debugging remotely.

but i am now having a problem using the insiders edition when debugging the same code locally. i am syncing settings between my ms code versions, and i am using the same launch.json file in both cases.

i have two local debugging scenarios... with "runtimeExecutable": "nodemo

[2020-10-02 03:42] gjsjohnmurray commented on #107936
Related to #27286 from @bpasero and PR #97272 from @leilapearson

[2020-10-02 03:46] mechatroner commented on #53885
I wonder if this issue should be merged with #68647 ?

[2020-10-02 03:54] gjsjohnmurray commented on #107925
Does the `workbench.editor.revealIfOpen` setting affect this?

[2020-10-02 04:14] justinsteven opened #107945 "Crash reporting opt-out is not honoured"
- VSCode Version: 1.49.2
- OS Version: Debian Linux

When `enable-crash-reporter` is set to `false` in Runtime Arguments as per <https://code.visualstudio.com/docs/getstarted/telemetry#_disable-crash-reporting>, and/or when `--disable-crash-reporter` is set on the command-line, crash reports are still sent to Microsoft.

Steps to Reproduce:

1. Replace the `wget` binary with a canary that tells yo

[2020-10-02 04:17] dimritium commented on #107376
I turned off my "Detect Indentation" setting, then I changed the file to use Spaces 4 but still whenever I reopen the file I see indent being spaces 2 for the files created using npx.

How do I change the settings so that the npx created files also have indent as Spaces 4? I want my global setting to override.
Is it good to have such a setting?

I again created a project by turning off "Detect ind

[2020-10-02 04:23] Nafana commented on #107471
@mjbvz I may be wrong about this, however it seems to me the problem is with how `LinkProvider` validates a definition link. In the image below notice how the last line is considered valid, and would have a tooltip and underline in the editor.

![old-regex](https://user-images.githubusercontent.com/25810344/94887569-8962f200-042b-11eb-8304-077c810a9b6b.png)

The regex produces a valid match since

[2020-10-02 04:42] connor4312 commented on #104195
@nodorious can you create a new issue for that?

[2020-10-02 04:44] msftwindowslinux commented on #36700
Perhaps it would help to have some color on whether this is a limitation of electron, or if there are other architectural challenges to making this happen. For instance, I noticed in the discussion on [custom editors / webviews ](https://github.com/microsoft/vscode/issues/77131) there was mention of

Is that a possible solution, or am I completely barking up the wrong tree? Would be nice to get a

[2020-10-02 04:44] brlcad commented on #5394
Here's another ping on this requesting a separation of tab size from indentation width.  This will make it possible to use VSCode on projects that have coding standards requiring different tab size and indent width settings.  Examples of codes being excluded include most FreeBSD (and style(1)) conforming codes, most of the GNU ecosystem, X11, and other stalwarts like the sources to Emacs and Vim t

[2020-10-02 04:48] brlcad commented on #42740
Another ping in support of this feature.  For anyone curious, the rationale was recently discussed for the Atom editor as it similarly lacks this concept from Visual Studio, Emacs, Vim: https://github.com/atom/atom/issues/21371

[2020-10-02 04:49] eamodio commented on #107335
You can verify using my theme https://marketplace.visualstudio.com/items?itemName=eamodio.amethyst-theme. The dialog text will not be red as shown above.

[2020-10-02 05:11] esimov opened #107947 "Search not working for certain phrases"
- VSCode Version: 1.49.2
- OS Version:Ubuntu 16.04

Steps to Reproduce:

1. There is a separate ticket mentioning the search issue https://github.com/microsoft/vscode/issues/85356, but in my case the search is working only on certain phrases like `for` as example, but if i'm trying to search in a Go codebase to `LittleEndian` in a compounded `binary.LittleEndian` phrase it does not find it, but it

[2020-10-02 05:15] #107409 closed

[2020-10-02 05:19] tamuratak commented on #106783
Related to #30847. And, the comment, https://github.com/microsoft/vscode/issues/30847#issuecomment-420399383, is helpful.

You can find similar issues searching with the words `fish` and `PATH`.

[2020-10-02 05:19] TirthPatel06 opened #107948 "Emmet Abreviation Is Not Working"
Issue Type: <b>Bug</b>

In The My VS Code Emmet Abriviation Is Not Working I Reinstalled VS code 4 to 5 times But Still Emmet Is Not Working And Live Server And Code Runner Is Also Not Working.

VS Code version: Code 1.49.2 (e5e9e69aed6e1984f7499b7af85b3d05f9a6883a, 2020-09-24T16:29:41.983Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CP

[2020-10-02 05:21] tamuratak commented on #56525
Related to #14165.

[2020-10-02 05:35] eamodio commented on #106264
Thank you to everyone who participated in this call!

### Video
[![](https://img.youtube.com/vi/qkClv7gsq5w/hqdefault.jpg)](https://youtu.be/qkClv7gsq5w)

### Participants
- Gustavo Cassel ([Google Drive](https://marketplace.visualstudio.com/items?itemName=GustavoASC.google-drive-vscode))
- Jose Leon ([TMS WEB Core](https://marketplace.visualstudio.com/items?itemName=tmssoftware.tmswebcore))
- Pra

[2020-10-02 06:16] lllopo commented on #106801
Let's hope they'll fix it in the meanwhile :-)

[2020-10-02 06:34] bpasero commented on #107850
I can reproduce and will push a fix, this was a bad endless loop.

[2020-10-02 06:34] rmunn commented on #107376
You could create an [.editorconfig file](https://editorconfig.org/) in the root of your project that says "Use 4-space tabs for .js files" (or for any extension) if you want. I don't know if npx has a setting to have it make 4-space-indented files when it creates a project, but that's a bit off topic here anyway. But if you have the "EditorConfig for VS Code" plugin installed, then you can use .ed

[2020-10-02 06:35] #107850 closed

[2020-10-02 06:38] bpasero commented on #107935
I would think that leak warning can maybe be explained due to the fact that we simple instantiate so many notifications.

The notification spam seems to originate from here:

https://github.com/microsoft/vscode/blob/3f0e5b4ab059cb6c05ecac091b652cfc50b9292f/src/vs/workbench/services/textfile/common/textFileSaveParticipant.ts#L36-L41

[2020-10-02 06:39] apexskier opened #107949 "vscode-json-languageserver crashes on start: Cannot find module '../out/jsonServerMain'"
- VSCode Version: n/a
- OS Version: macOS 10.15.6 (19G2021)

Steps to Reproduce:

1. `npx vscode-json-languageserver` (or run it locally, this is just the quickest repro)
2. See the following:
[code]

This doesn't happen on the previous release (`npx vscode-json-languageserver@1.2.3`)

[2020-10-02 06:48] jrieken commented on #107925
@yay please try the mentioned setting, it should be honoured

[2020-10-02 06:53] jrieken commented on #105283
Yeah, replaceCell is about inserting and deleting cells. The text content of a cell is a normal text document, so the `vscode.workspace.applyEdit(someEdits)` will help you.

[2020-10-02 06:56] jrieken commented on #107932
Yeah, `tab` is the right key to go through snippet placeholders. Can you share the snippet here?

[2020-10-02 07:00] jrieken commented on #107916
@DonJayamanne Please share you samples and how you measure these things. I do not believe that it takes 2.5 seconds to apply an edit and come back.

[2020-10-02 07:04] Sambhrama754 commented on #107916
Pls don't send me emails.

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Johannes Rieken <notifications@github.com>
Sent: Friday, October 2, 2020 12:33:34 PM
To: microsoft/vscode <vscode@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [microsoft/vscode] Possible delays in execution of cells due to delays in updates to cell out

[2020-10-02 07:19] isidorn commented on #107458
fyi @JacksonKearl and @roblourens for search

[2020-10-02 07:22] isidorn commented on #59546
That is fixed in latest vscode insiders, you can try it out.

[2020-10-02 07:23] jrieken commented on #107940
What formatter extension are you using? Default or something like prettier?

[2020-10-02 07:23] TD-er opened #107950 "Extension host terminated unexpectedly (memory allocation failure)"
- VSCode Version: 1.49.2
- OS Version: Windows 10 x64  10.0.19041

Steps to Reproduce:

No clear steps to reproduce. I do use PlatformIO constantly, which every now and then (quite often) just no longer responds and sometimes VScode is showing a notification telling me the extension host has stopped.

![image](https://user-images.githubusercontent.com/3751318/94446280-b5bb0c00-01a8-11eb-8896-5942d

[2020-10-02 07:25] dbaeumer commented on #107759
This will come with a new version of the ESLint extension. Since this version will require VS Code 1.50.0 I need to wait to have a stable release before I can publish a new version of ESLint.

[2020-10-02 07:27] isidorn commented on #107936
Yeah let's close as dup and we can continue the discussion in the PR

[2020-10-02 07:27] sandy081 commented on #107109
To verify:

- Open VS Code using fresh user data dir and open VS Code repo
- Move time line view to sidebar, Move outline views to panel.
- Run `Developer: Log Storage Database Contents`
- Check following keys in global storage
  - `workbench.activity.pinnedViewlets2` - Generated container (id containing UUID) exists
  - `workbench.activity.pinnedPanels` - Generated container (id containing UUID)

[2020-10-02 07:28] #107936 closed

[2020-10-02 07:28] isidorn commented on #103921
You put me on the backlog candidates 🙀
I will just save the bot some trouble and close it right away :)

[2020-10-02 07:28] #103921 closed

[2020-10-02 07:29] isidorn commented on #107860
Great, thanks!

[2020-10-02 07:30] sandy081 commented on #107907
- Did you see any error messages?
- Can you please check following and let us know if there are any errors
    - Help -> Toggle Developer Tools -> Console
    - Help -> Toggle Developer Tools -> Network - Check for extensions gallery requests
    - View -> Command Pallette... -> Toggle Shared Process -> Console
    - View -> Open View… -> Log (Shared)
    - View -> Open View… -> Log (Window)

[2020-10-02 07:31] justinsteven opened #107951 "(Assumed) Fix for CVE-2020-16881 can be bypassed"
- VSCode Version: 1.49.2
- OS Version: Can be reproduced on Debian Linux and Windows

[https://portal.msrc.microsoft.com/en-US/security-guidance/advisory/CVE-2020-16881](https://portal.msrc.microsoft.com/en-US/security-guidance/advisory/CVE-2020-16881). says that "A remote code execution vulnerability exists in Visual Studio Code when a user is tricked into opening a malicious 'package.json' file.

[2020-10-02 07:33] dbaeumer commented on #107707
I spent some additional time on this yesterday and here is a suggestion: rename the method from `with` to `refresh` or `reRun`. The `with` is very technical and from our other discussion the with is called when the user refreshes the view. The position is the tracked position form the editor. You could even be smart and allow undefined if the position didn't change (which BTW was the case in my ex

[2020-10-02 07:34] isidorn commented on #107927
If it is fine in insiders version than there is nothing for us to do since it is fixed.
However first assigning to @connor4312 as he might have some ideas.

@danieltkach also we would need exact reproducavle steps

[2020-10-02 07:40] joaomoreno commented on #103073
Oh, right, disable `git.decorations.enabled`.

[2020-10-02 07:41] pinguin999 commented on #106922
It's looks like jschardet is not the problem.

I can track it down to this lines:
`const decoded = decoder.write(VSBuffer.concat(bufferedChunks).buffer);`

[code]

Buffer size is: Buffer(380293716)

It uses the iconvLiteDecoder from the node module "iconv-lite-umd"

Does it help?

[2020-10-02 07:45] joaomoreno commented on #107413
Sorry but I will close this since our current position is that we won't add endless icons to the product. @misolori

[2020-10-02 07:45] #107413 closed

[2020-10-02 07:45] MgTheProgrammer opened #107953 "Can't run specific java file when there is error in different file in the same project"

[2020-10-02 07:52] bpasero commented on #106922
@pinguin999 ok, that really in the end is `iconv-lite`, but we can move the issue to `iconv-lite-umd`-

[2020-10-02 07:52] nikitavoloboev opened #107954 "Add ability to go back one level in breadcrumb"
If I am in code where the breadcrumb shows this:

<img width="485" alt="image" src="https://user-images.githubusercontent.com/6391776/94900109-b8617e00-0494-11eb-87a6-707d0ec64a79.png">

I'd like to have a keybinding that when pressed will go back 1 level so I will be here:

<img width="462" alt="image" src="https://user-images.githubusercontent.com/6391776/94900259-fb235600-0494-11eb-9651-adeed29

[2020-10-02 07:52] joaomoreno commented on #105025
@rzhao271 Was there an error? How did you initialized the git repo with that branch name?

This seems to work just fine for me:

[code]

Then create one commit. Then publish to Github.

![image](https://user-images.githubusercontent.com/22350/94900175-d16a2f00-0494-11eb-8ae4-f9cd2c05afc6.png)

[2020-10-02 07:53] isidorn commented on #106091
@juihanamshet sure. I have provided a code pointer in my comment above and that is a good starting point.

[2020-10-02 07:54] bpasero commented on #107943
Sounds familiar.

[2020-10-02 07:55] jrieken commented on #107953
/needsMoreInfo

Please update this issue after reading https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-good-bug-reports-and-feature-requests. Thanks.

[2020-10-02 07:56] #106963 closed

[2020-10-02 07:56] sandy081 commented on #106963
Fixed it.

[2020-10-02 07:56] jrieken commented on #107954
Only a sequence of shortcuts is available: `Cmd+Shift+;` ⏭️ `ArrowLeft` ⏭️ `Space`

[2020-10-02 07:58] bpasero commented on #107945
I have not fully understood the issue yet but will check today if this is something we should fix for September.

[2020-10-02 07:58] isidorn commented on #107735
Do you mean the Debug Console or the Output view?

[2020-10-02 07:59] nikitavoloboev commented on #107954
`Cmd+Shift+` on mac will increase font size. What is the command name?

[2020-10-02 07:59] bpasero commented on #107935
One idea maybe is to keep 1 notification for each file that is saved by simply updating an existing notification that is already showing. That would mean when "Cancel" is clicked, all those save operations would cancel.

[2020-10-02 08:02] joaomoreno commented on #107443
Yes, this works for us, and for pretty much every single user out there.

Yes, let's try Insiders. Download it, extract it and then from a Terminal run:

[code]

Any error coming out of that?

[2020-10-02 08:02] nikitavoloboev opened #107955 "Add ability to start typing in breadcrumb overview to go between entries"
If I focus on breadcrumb with `cmd+shift+;`. I can then arrow key the element I want to jump too. I'd like to start typing the name I want to jump to and it will match (typical behavior on macOS inputs). So from here:

<img width="160" alt="image" src="https://user-images.githubusercontent.com/6391776/94901018-45f19d80-0496-11eb-9078-137dd92c98a8.png">

If I type in letter `d`, `default` will be i

[2020-10-02 08:03] unknowndeal commented on #38999
As was mentioned before, this issue happens due different permissions for VSCode and explorer.
**FIX:
1. Do not uninstall VSCode from computer(_if don't want to destroy your cfg_)
2. Download [ZIP version](https://code.visualstudio.com/docs/?dv=winzip) of VSCode(_portable version_)
3. Unzip it to your USER folder(_C:\Users\$userName_)**

Now you can create shortcut of Code.exe and move wherever yo

[2020-10-02 08:03] bpasero commented on #107945
Talked with Deepak and we will tackle this in October, thanks a lot for finding this 👍

[2020-10-02 08:09] bpasero commented on #107078
Can you please follow the steps in https://github.com/Microsoft/vscode/wiki/Native-Crash-Issues to get at more details around the crash and attach the result here? Thanks!

[2020-10-02 08:14] alexr00 commented on #107905
Fixed 10 days ago, duplicate of https://github.com/microsoft/vscode-remote-release/issues/3710

[2020-10-02 08:14] #107905 closed

[2020-10-02 08:15] jrieken commented on #107954
Not `Cmd+Shift+` but `Cmd+Shift+;`

[2020-10-02 08:19] Vinayak-WEB-DEV opened #107956 "Error while installing the c/c++ extension in vscode"
**I have just installed mingw and now I want a IntelliSense of c/c++ provided by microsoft on vscode**

First it starts installing some things and after sometime I am getting this error

`Error - 1:04:42 PM] Connection to server got closed. Server will not be restarted.`

_Is there any solution for this thing_

[2020-10-02 08:29] kongdd commented on #3220
Any solution for Python inline result?

[2020-10-02 08:30] lcswillems opened #107957 "Refactor > Move to a file"
I have a TypeScript codebase. Often, I define a function `f` in a specific file `X` but later I want this function to move to an already existing file `Y`.

What I do is: locate all calls to `f`. Move `f` to `Y`, replace all calls to `f` when it was in `X` by calls to `f` in `Y`. This is time-consuming and I would think it can be automated with a refactor.

[2020-10-02 08:31] bpasero commented on #96293
Unclear to me how to verify this, I suggest that @connor4312 verifies this today.

[2020-10-02 08:35] nikitavoloboev commented on #107954
Yeah just realized it. Thanks. 😻

[2020-10-02 08:42] bpasero commented on #71315
Two things I find a bit unexpected:
* it does not work unless you focus another item than the selected one (e.g. just clicking and then deleting a file moves focus to tree)
* it does not seem to work for folders, at least sometimes (maybe related to compressed folders?)

[2020-10-02 08:49] aeschli commented on #102795
We still don't get an an event from Electron

[2020-10-02 08:56] alexr00 commented on #107899
Duplicate of https://github.com/microsoft/vscode/issues/106981

[2020-10-02 08:56] #107899 closed

[2020-10-02 08:57] IntelOrca commented on #99492
@bpasero, I can confirm today's insiders now fixes the issue

[2020-10-02 08:59] alexr00 commented on #107895
Does the same command work if you run it in the integrated terminal (`tsc -p '/Users/macbook/demo/tsconfig.json' --watch`) ?

[2020-10-02 09:03] bersbersbers commented on #96293
I have to say that #100451 is not fixed in today's insider:

[code]

[2020-10-02 09:04] alexr00 commented on #107243
The notification is new this iteration, so no repro in stable. To verify:

- run command Remote-Containers: Try a sample...
- Choose the node sample
- Make sure debug auto attach is on (command Debug: Toggle Auto Attach -> choose Smart)
- In the integrated terminal run `node server.js`
- Verify that you don't see the port forwarded notification.

[2020-10-02 09:07] jrieken commented on #107955
<img width="683" alt="Screenshot 2020-10-02 at 11 07 07" src="https://user-images.githubusercontent.com/1794099/94906815-6b36d980-049f-11eb-8df4-8e27ebc25be9.png">

You can do that - it's a normal list/tree so it should work as everywhere else in the editor,

[2020-10-02 09:10] joaomoreno commented on #106436
Does it help if you show the Source Control Repositories view (right click the `Source Control` view title and make that view visible) and just select the repository you're interested in?

[2020-10-02 09:11] joaomoreno commented on #107898
Can you reproduce the issue while having `Git: Show Git Output` open? Can you share the contents of that output?

[2020-10-02 09:11] nikitavoloboev commented on #107955
If I start typing characters inside this view:

<img width="169" alt="image" src="https://user-images.githubusercontent.com/6391776/94907089-eac4a880-049f-11eb-9ba7-84fc47178f7a.png">

Nothing happens. The keybindings get interpreted by vscode itself.

[2020-10-02 09:12] alexr00 commented on #106672
Looks like this was accidentally closed.

[2020-10-02 09:15] alexr00 commented on #106668
@connor4312 I repro'd the issue on stable, then tried in insiders and verified that it was fixed.

Given that this is intended to be a quick fix, and that there's an intended thorough fix (#106672), I'm going to close this and call it verified, since it does solve the issue for me.

[2020-10-02 09:15] #106668 closed

[2020-10-02 09:16] isidorn commented on #96293
@bersbersbers  In your previous comment you mentioned that you do not know what dynamic launch configurations are.
I suggest to wait for @connor4312 to verify this.

Thanks

[2020-10-02 09:20] joaomoreno commented on #107738
Yeah it's a pretty bad idea to have such files. Many tools will break with them.

[2020-10-02 09:25] isidorn commented on #107912
Can you share a minimal repository which we can clone and reproduce this problem?
Can you reproduce this issue with vscode insdiers https://code.visualstudio.com/insiders/

[2020-10-02 09:27] vrescobar opened #107959 "Scrolls over the bottom"
- VSCode Version: **1.49.2 user setup**
- OS Version: **Windows 10, newest update**

Steps to Reproduce:

1. Using vscode and ...
1.1 maximizing the windows. OR
1.2 Using the terminal OR
1.3 Any time autoscroll wants to move to the bottom of the page
2. Then vscode scrolls beyond the bottom displaying part of the grey canvas (bellow the bottom, no useful interface).

It seems the HTML render from

[2020-10-02 09:27] timoogo commented on #107511
It would be better that in visual studio, it changes (because, the rest of the app follow the langage rule

[2020-10-02 09:34] evestorm commented on #107895
Yes, the command works in terminal.

[2020-10-02 09:38] bersbersbers commented on #96293
Correct - I dropped that as a hint for someone to maybe point out the difference between "launch configurations" and "dynamic launch configurations" ;) and also, between this bug and the bug I reported. Since the one I reported is exactly identical to this one except that it also applies to "_non_-dynamic launch configurations" (concluding from the fact that it's still reproducible).

Furthermore,

[2020-10-02 09:39] saithebuilder opened #107960 "external terminal closes instantly"
- VSCode Version:1.49.2
- OS Version:Ubuntu 20.04.1 LTS

External Terminal closes instantly in ubuntu but works properly in windows.

Steps to Reproduce:

1.create a new python file, create a launch.json file.
2.change "console": "integratedTerminal" to "console": "externalTerminal"
3.the terminal runs and closes instantly, with no way to check the output except by adding a  input = ()
in the pyth

[2020-10-02 09:44] AlexKovalenkoBY commented on #34385
Code.exe --proxy-server=http://IP_PROXY:8080  --ignore-certificate-errors

[2020-10-02 09:44] #107953 closed

[2020-10-02 09:47] jrieken commented on #107955
🤷 works for me. Any settings on your side that disable this? Do you have something for `workbench.list.keyboardNavigation`

[2020-10-02 09:57] jrieken commented on #107956
/needsMoreInfo

Please update this issue after reading https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-good-bug-reports-and-feature-requests. Thanks.

[2020-10-02 10:03] nrayburn-tech commented on #105025
I think if you commit and publish without any files, you get the empty repo without a branch.

[2020-10-02 10:07] isidorn commented on #107960
Make sure to have 	`"debug.console.closeOnEnd": false` in your settings.
If you still see the issue then file against Python they might be doing something special from their extension

[2020-10-02 10:07] #107960 closed

[2020-10-02 10:11] vennekilde commented on #95056
A "workable" solution is to move all your subproject folders into folder under the root project

So if you have a project looking like this
[code]
Then you can change it to this (remember to update `.vscode/settings.json` & `project.code-workspace` if used)
[code]

Now when opening a file in one of the subprojects, it will not close the subproject folder on you

[2020-10-02 10:21] RicaBenhossi commented on #107932
This is it

"fori": {
		"prefix": "fori",
		"body": [
			"for (${1:int} ${2:i} = ${3:0}; ${2:i} < ${4:max}; ${2:i}++) {",
			"\t$0",
			"}"
		],
		"description": "Indexed for loop"
	}

It's is a snippet from RedHat Java Language. I've tried to copy it to user snippets and got the same result.

[2020-10-02 10:23] shakir-timur commented on #106661
I've made a virualbox image with a snapshot of bug, if needed. It's ~2,5 Gb compressed.

https://drive.google.com/file/d/1Y0wFdgPwGqH_-WfbVAkRKzYg2uCSTS5o/

[2020-10-02 10:23] nikitavoloboev commented on #107955
Okay it's https://github.com/VSCodeVim/Vim that makes this not work. Without it, the search does work.

Do you know what the name of the context for when users are inside this breadcrumb view? I can try write a `when` clause thing perhaps to make it work even with the Vim extension.

[2020-10-02 10:25] jrieken commented on #79841
This works when using the correct type: `vscode.MarkdownString`. The type above (its name) doesn't exist, the structure (ignoring the name) is verbatim/code blocks

[2020-10-02 10:25] #79841 closed

[2020-10-02 10:25] nikitavoloboev commented on #107955
Asked it on VSCodeVim Slack channel, hopefully there is a solution to this.

<img width="897" alt="image" src="https://user-images.githubusercontent.com/6391776/94913865-4d22a680-04aa-11eb-98c2-3215d2ad8f55.png">

[2020-10-02 10:26] odebroqueville commented on #107907
Yesterday, VSC wouldn't even connect to a GitHub server either, but today things are back to normal. The extensions are displaying properly again. If the issue re-occurs, I'll check the above for errors.
Right now I only see the following:
- in Log (Window): [2020-10-02 12:14:53.967] [renderer1] [error] No application in the Launch Services database matches the input criteria.: Error: No applicati

[2020-10-02 10:32] jrieken commented on #107932
![Oct-02-2020 12-31-03](https://user-images.githubusercontent.com/1794099/94914393-3df02880-04ab-11eb-8f75-409b5ede9f76.gif)

Working for me. Any custom keybinding configured? Esp for the `jumpToNextSnippetPlaceholder` command?

[2020-10-02 10:38] isidorn commented on #107921
We did not change this recently. We show the hover with a 300 ms delay, and hide it with a 600 ms delay.
Code pointer https://github.com/microsoft/vscode/blob/0ecb64a2c8945dd1193967019f0734af539ca9c3/src/vs/workbench/contrib/debug/browser/debugEditorContribution.ts#L42

I think we should just behave the same as our custom hovers. And we should just find the right number.
The editor hover is by def

[2020-10-02 10:44] nikitavoloboev commented on #107955
Also if I am inside one of the breadcrumbs, is it possible to go back to focus on the top breadcrumbs?

So from here:

<img width="175" alt="image" src="https://user-images.githubusercontent.com/6391776/94915303-efdc2480-04ac-11eb-87f0-ecb0f7ce157d.png">

Go back to focus in here:

<img width="176" alt="image" src="https://user-images.githubusercontent.com/6391776/94915327-fcf91380-04ac-11eb-9045-

[2020-10-02 10:48] believer-ufa commented on #41289
+1 sometimes you need it

[2020-10-02 10:49] bpasero commented on #104016
I think we no longer execute `ifconfig` iirc.

[2020-10-02 10:51] sandy081 commented on #107907
Closing this as it can't be repro.

Please reopen it if you see this again with required info

[2020-10-02 10:51] #107907 closed

[2020-10-02 10:55] RandomFractals commented on #4772
much needed with the number of deprecated extensions in vscode marketplace growing and getting in the way of search and filtering.

We need 20 upvotes for this issue to get added to the backlog and be revisited by the vscode team.

[2020-10-02 11:00] jabbera commented on #105283
Many thanks!

[2020-10-02 11:04] lakshits11 opened #107962 "Tweak in Monokai Theme has made the code too greenish and eye paining"
- VSCode Version: 1.49.2
- OS Version: Windows 10

Steps to Reproduce:

1. I just wrote a code in python with Editor theme set to Monokai and this was the result !

![vscode_python](https://user-images.githubusercontent.com/54276661/94916804-f8445780-04cc-11eb-81d5-899fb0be9924.PNG)

**Its too much green! Previous settings were good!**

Does this issue occur when all extensions are disabled?: Yes

[2020-10-02 11:07] nikitavoloboev opened #107963 "Hovering over breadcrumbs should jump in the editor similar to arrow keys"
If you are in breadcrumb view and then try use arrow keys to jump between things, the editor will switch focus to show the code of that element.

<img width="145" alt="image" src="https://user-images.githubusercontent.com/6391776/94916959-ea340e00-04af-11eb-8341-6e67b54cc703.png">

It would be great if you could also just hover over the element with a mouse in breadcrumb and the editor will switch

[2020-10-02 11:12] ryanclarke commented on #106737
If the dropdown list will now display the enumDescriptions, should the description footer on the list show the value to be set? Should the collapsed dropdown control show the selected value or its enumDescription?

[2020-10-02 11:16] bpasero commented on #71315
As discussed, moving to October.

[2020-10-02 11:21] bpasero commented on #107751
Verified with timeline view:

![image](https://user-images.githubusercontent.com/900690/94918122-341df380-04b2-11eb-9a54-121082373d64.png)

[2020-10-02 11:25] #107420 closed

[2020-10-02 11:25] #107384 closed

[2020-10-02 11:25] #107323 closed

[2020-10-02 11:25] #106454 closed

[2020-10-02 11:26] bpasero commented on #107109
@sandy081 I cannot find `workbench.activity.pinnedPanels` after running the command, can you check your stepsß

[2020-10-02 11:36] infromthecold opened #107964 "Loss of settings on second window"
- VSCode Version: Version: 1.49.2 (system setup)
- OS Version: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. On Windows  Ctrl+K, then release the keys and press O (the letter O, not Zero).
2. This will open the active file tab in a new window/instance.
3. Press tab and enter some text with more tabs, the tabs will become spaces
4. When you return to the original window (instance) and reload t

[2020-10-02 11:36] isidorn commented on #71315
Yeah, we can taclke in October the corenr case. Thanks for finding it Ben.

[2020-10-02 11:50] bpasero opened #107965 "Web smoke test: Language Features verifies settings"
This smoke test only fails for me in Firefox and Safari from a build ([docs](https://github.com/Microsoft/vscode/blob/master/test/smoke/README.md#run)):

[code]

[2020-10-02 11:57] CarterSnich commented on #107878
How to do it?

[2020-10-02 11:59] dimritium commented on #107376
Okay I will use editorconfig then, so this issue is not related to VS code? Shall I close this?

[2020-10-02 12:04] ADAMADIOUF opened #107966 "adamadiouf"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-10-02 12:06] #107966 closed

[2020-10-02 12:07] bpasero commented on #107964
Yes, because the new window is not inside that workspace. You need to configure globally.

[2020-10-02 12:07] DeepakDk04 opened #107967 "after updating Python 3.8 , Can't regoconize Python Interpreter(python.exe path doesn't work)"
Issue Type: <b>Performance Issue</b>

after updating the python version, VS code doesn't regaconize the python.exe files. It always shows that select Python Interpreter, But after I'm choosing manually , It does not resolve

steps to reproduce:
1) Update Python locally On windows
2) Open python file in VS code
3)It prompts select interpreter ,
4)Choose python path
5)It prompts python does't instal

[2020-10-02 12:08] #107964 closed

[2020-10-02 12:14] alexr00 commented on #107895
Can you share your tasks.json and your settings.json?

[2020-10-02 12:17] alexr00 commented on #107921
For custom hovers, we show with a 1500ms delay for mac, and 500 delay for all other systems. We dismiss without any delay.

[2020-10-02 12:21] huypn12 opened #107968 "[Linux] VSCode does not follow system regulated font rendering settings"
OS: OpenSUSE Tumbleweed, updated 02 Okt, 2020
VSCode: 1.49.2

Suddenly with the last update of VSCode, I noticed that VSCode does not follow my system font rendering settings. Specifically speaking, somehow VSCode decides to disable font hinting (hint none) rather than using the system-wide regulated slight hinting. I capture the image from Konsole and VSCode to compare; if one zoom in, one can se

[2020-10-02 12:23] evestorm commented on #107895
[code]

[code]

[2020-10-02 12:25] jrieken commented on #90094
Pushing a change that allows you untoggle details when on an item without details - but not the other way around

![Oct-02-2020 14-23-55](https://user-images.githubusercontent.com/1794099/94922688-f6719880-04ba-11eb-9f0e-1139c1913e11.gif)

[2020-10-02 12:32] saithebuilder commented on #107960
the issue is still there. just tried it with a much older version of the python extension. looks like its an issue with the extension.

[2020-10-02 12:36] isidorn commented on #107921
@alexdima does the editor hover use the same dealy for showing as for hiding? The 300ms by default?

[2020-10-02 12:46] jrieken commented on #91785
Looks like this is actually fixed

<img width="540" alt="Screenshot 2020-10-02 at 14 39 08" src="https://user-images.githubusercontent.com/1794099/94924012-0c805880-04bd-11eb-9b41-3aa041a921f1.png">

[2020-10-02 12:47] KyleRAnderson commented on #107860
I tried this out on VSCode insiders again, I can confirm that it is functioning as expected now.

[2020-10-02 12:49] yay commented on #107925
Yep, that did the trick! Thanks guys!

[2020-10-02 12:49] #107925 closed

[2020-10-02 12:49] alexr00 commented on #107895
Looks like this is the culprit: `"terminal.integrated.inheritEnv": false,`. If you set it to `true` then your issue will be resolved.

The same command works in the regular integrated terminal because that is an interactive and login shell. Tasks is not interactive, and not login which means that your bashrc and profile are not loaded.

[2020-10-02 12:49] #107895 closed

[2020-10-02 12:58] isidorn commented on #107860
Great, thanks for letting us know. Adding verified label.

[2020-10-02 12:59] nodorious opened #107969 "Command is truncated when launching debugging in the integratedTerminal on Insiders"
Version: 1.50.0-insider (system setup)
Commit: 228973889bc0e352f7cd11cc14755893f8d81864
Date: 2020-10-01T05:33:55.357Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19041

i am having a problem using the insiders edition when debugging node locally. this problem does not occur in the released version 1.49.2. i am syncing settings between m

[2020-10-02 13:05] nilshendriks opened #107970 "again 'Extension host terminated unexpectedly.'"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

you can close this all you want but it's still an issue. happens all the time.

VS Code version: Code 1.49.2 (e5e9e69aed6e1984f7499b7af85b3d05f9a6883a, 2020-09-24T16:23:52.277Z)
OS version: Darwin x64 19.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|C

[2020-10-02 13:07] ProfMars opened #107971 "VS code very slow executing PowerShell scripts"
Issue Type: <b>Performance Issue</b>

I have the issue that VSCode gets very slow. This is especially noticable in the Terminal pane where the output is displayed. Whilst running a script in normale powershell window or Windows Terminal it flies across the screen. In VSCode it does not.
I disabled alle extensions (except the PowerShell extension), but the same issue occours.
This renders VSCode us

[2020-10-02 13:14] jrieken commented on #107970
/needsMoreInfo

Please update this issue after reading https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-good-bug-reports-and-feature-requests. Thanks.

[2020-10-02 13:17] rsokl commented on #107896
Yep! I do see output from my browser.

I ran using `1.49.1` having specified a distinct user-data directory, and the extension search worked as-expected. Attaching the netlog..
[netlog_2.zip](https://github.com/microsoft/vscode/files/5318173/netlog_2.zip)

[2020-10-02 13:19] frizzyCat opened #107972 "Associated icons not showing correctly in Finder"
- VSCode Version: 1.48.2
- OS Version: MacOS 10.15.6

Steps to Reproduce:
1. Set VSCode as default for opening a file (.cpp for example) on MacOS.

Does this issue occur when all extensions are disabled?: Yes

When choosing VSCode as default for opening certain files, the associated icon is blank with the VSCode icon on it, even though they are supposed to have different icons as seen here (https:

[2020-10-02 13:32] dhrunia opened #107973 "Integrated terminal not working"
- VSCode Version:1.49.2
- OS Version:Pop!_OS 20.04

Steps to Reproduce:

1. Launch VS code
2. Open a workspace
3. Open the integrated terminal either with mouse or using keyboard shortcut (ctrl+`)

Expected behaviour:

Should open shell (/bin/bash) in the integrated terminal

Current behaviour:

Terminal window is empty (screenshot below) and doesnt take any input
![image](https://user-images.gith

[2020-10-02 13:33] aeschli commented on #107949
I pushed vscode-json-languageserver@1.3.1 with the fix

[2020-10-02 13:36] myfix16 commented on #107967
The same issue. It can't recognize python interpreter even if I designated the path.
![image](https://user-images.githubusercontent.com/61649477/94929110-3b1b2500-04f7-11eb-8b4b-2025640dbbe0.png)

[2020-10-02 13:37] kumueric opened #107974 "Clone a BRANCH (other than master) from GitHub"
In VSC, if we open the Command Palette (Ctrl+Shift+P), we can easily clone the master branch of a remote repo.  What if we have a particular feature branch?  How can we specify it?

As a workaround, we can either use a terminal window (or the VSC integrated terminal) to cd over to the directory, and manually type:  git clone -b <named_branch> https://github.com/org/repo.git.  Then, we can Open Fol

[2020-10-02 13:38] aeschli commented on #107943
I can't reproduce with 1.49.2 and no extensions installed.
Do you have any shell related extensions installed?

[2020-10-02 13:59] wasserman commented on #107443
➜  ~ ~/Downloads/Visual\ Studio\ Code\ -\ Insiders.app/Contents/MacOS/Electron --verbose
`zsh: permission denied: /Users/brian.wasserman/Downloads/Visual Studio Code - Insiders.app/Contents/MacOS/Electron`

➜  ~ ls -l ~/Downloads/Visual\ Studio\ Code\ -\ Insiders.app/Contents/MacOS/Electron
`-rw-rw-r--@ 1 myaccount  staff  221616 Oct  2 01:49 /Users/myaccount/Downloads/Visual Studio Code - Insider

[2020-10-02 14:06] justarandomgeek commented on #107520
Thank you, this does indeed seem to be fixed now on today's update!

[2020-10-02 14:18] isidorn commented on #107520
Great, thanks for letting us know.

[2020-10-02 14:26] victorhora commented on #107508
I faced the same issue on both Vscode main and Vscode insiders. The problem seems to be an incompatibility/clash with the HCL AppScan CodeSweep extension. Disabling it seems to resolve the issue. Hopefully this help others until someone have the time to investigate the issue further :)

[2020-10-02 14:39] aaronadamsCA opened #108000 "Debug buttons broken in monorepo packages"
When I use this extension to trigger debugging a script in a monorepo package, I get an error message in the debug console, "Process exited with code 1". The debugger does not start. Scripts in the main package debug fine (though oddly it works differently than when I directly trigger the JS debugger).

I'd like to see those debug buttons work; and I'd prefer they invoked [the new JS debugger](htt

[2020-10-02 14:40] alexr00 commented on #107850
@bpasero I see as quick flicker when I try to reopen the closed tab after deleting the files. The flick was too fast to capture in a gif. Otherwise, works great.

[2020-10-02 14:41] bpasero commented on #107850
@alexr00 yeah, we still try to open the diff editor and the tab will appear first very quick but then we close the editor because the actual contents does not exist. We only know that after we have tried to resolve the file from disk.

[2020-10-02 14:47] isidorn opened #107975 "Activity bar context menu actions not aligned"
I think the three actions Hide Home Button, Hide Menu, Hide Accounts should follow the pattern of the top actions.
They shuold just be Home Button, Menu and Accounts and have a checkmark next to them.

That way it will be consistent and cleaner.

![Screenshot 2020-10-02 at 16 35 35](https://user-images.githubusercontent.com/1926584/94936676-db108880-04ce-11eb-91cd-5336875a8054.png)

[2020-10-02 14:57] alexdima commented on #107921
@isidorn It is controlled by the option `editor.hover.delay`, which is 300 ms by default.

[2020-10-02 15:04] andreasulmer opened #107976 "[json] schema fileMatch fails after a second workspace folder is added"
Issue Type: <b>Bug</b>

In settings.json.schemas, fileMatch works as expected with a single folder in the workspace, and I get the expected schema validation error in problems view.
Once a second folder is added, fileMatch does not match any files anymore, no schema validation problems are shown.

### Short repro
1. set up a project with a single workspace folder, and a schema-invalid json file. I

[2020-10-02 15:12] thdoan commented on #107940
I don't have any formatters installed -- using default.

On Fri, Oct 2, 2020, 12:23 AM Johannes Rieken <notifications@github.com>
wrote:

[2020-10-02 15:14] #107951 closed

[2020-10-02 15:16] jeff-hykin commented on #50140
@dannymcgee semantic highlighting wouldn't replace Textmate. The tree sitter replaces textmate, and semantic highlighting would stay as-is.

[2020-10-02 15:16] sana-ajani commented on #107752
Yeah, I still see this in the latest Insiders `(commit: 0ecb64a...)`.

[2020-10-02 15:17] connor4312 commented on #107927
/jsDebugLogs

[2020-10-02 15:17] connor4312 commented on #107927
But yes if Insiders works fine (thank you for trying) then it's probably alright. The next release will ship next week.

[2020-10-02 15:19] connor4312 commented on #107930
How are you executing the unit tests. If you're using a launch.json, can you share it?

[2020-10-02 15:19] connor4312 commented on #107912
/jsDebugLogs

[2020-10-02 15:24] alexdima commented on #107950
Thank you for the detailed report. From looking at the logs, I can confirm that the extension host crashes with an Out-Of-Memory error. I believe nodejs processes are normally limited to 4GB of memory, and the extension host crashes when it reaches that, even when using 64 bit VS Code. There are some flags to increase the memory limit, but I suggest that you please report to `platform.io`, since i

[2020-10-02 15:24] #107950 closed

[2020-10-02 15:28] connor4312 commented on #107969
Thanks! Cc @weinand / @alexr00. Looks like command to the terminal is getting truncated.

@nodorious which shell are you using in VS Code? Standard cmd.exe, powershell, something else?

[2020-10-02 15:31] bpj101 opened #107978 "Copying File On Click"
- VSCode Version: 1.49.2
- OS Version: 10.13.6

Steps to Reproduce:

1. Focus on an opened file, make a change, but do not save.
2. Change focus to a second opened file.

The content of the second file is copied to the first file that was not saved.

Does this issue occur when all extensions are disabled?: Yes/No

[2020-10-02 15:32] jrieken commented on #107940
Please try the follow: manually select the modified text in the editor and then execute "format selection"

[2020-10-02 15:38] nodorious commented on #107969
interesting...

the above was with powershell (apparently the default config, i don't think i selected it intentionally).

i just changed code to use cmd and the problem above does not occur :)

when i launch the debugger without nodemon i do not see anything at all in the code terminal window, but the process does start and i can debug it.

when i start the debugger with nodemon i do see the star

[2020-10-02 15:42] connor4312 commented on #107969
You don't have `"console": "integratedTerminal",` in your 'without nodemon' scenario, and by default we only capture console logs, so if you manually write to `process.stdout` or `process.stderr` that isn't captured, unless you do one of two things:

- Run in a real terminal, like you are with nodemon
- Set `outputCapture: "std"` to capture stdio instead of using the console api over the debug pro

[2020-10-02 15:42] jrieken commented on #107916
related to https://github.com/microsoft/vscode/issues/107424

[2020-10-02 15:49] thdoan commented on #107940
This worked -- the selection was formatted correctly.

If I remove `"editor.formatOnSaveMode": "modifications"` and save, the code is also formatted correctly.

For your reference, here is my full settings.json:

[code]

Is it possible one of the settings is the culprit?

[2020-10-02 15:52] isidorn commented on #107921
So I will also just respect that setting. Both the show and the hide will respect that delay.
I think that makes most sense, especialy since the debug hover is in the editor.

[2020-10-02 15:54] jrieken commented on #107940
That's funny. Format modified does exactly that - it takes the modified (line) range and formats that, using the same mechanics as format selection

[2020-10-02 15:55] thdoan commented on #107940
That's why I'm baffled. Can you see if you can replicate using my settings above and the test file?

[2020-10-02 15:56] rzhao271 commented on #105025
I followed the steps in the original post, so I did not run `git init` or `git checkout -b whatever` directly in a terminal. I also published with the readme.md file selected.
Same result (empty repo after publish) after updating to today's insiders.

[2020-10-02 15:57] DonJayamanne commented on #107916
Its not 2.5 to apply a single edit.
Its around 4 edits per cell.
When we run a cell we have the following edits:
* Update cell status to running
* Update execution order when we get that back
* Update output when we get that back
* Finally update cell status (error/success) based on execution result/output

Multiply this 70times for 70 cells, then the time is exacerbated.
I can shave around 1s by

[2020-10-02 16:00] DmitriWolf commented on #107536
![Screen Shot 2020-10-02 at 10 57 56 AM](https://user-images.githubusercontent.com/1697656/94943991-2c545400-049e-11eb-8915-d1810052b5b3.png)
Makes my computer slow and laggy. Even typing. Not okay. Been going on for a week now. Searching for solutions, but can't find any. This does seem like a bug in the code.  Seems like this happens every few months.

[2020-10-02 16:01] zwhitchcox commented on #107901
Oh. My. God. Thank you so much that was driving me fucking ballistic.

[2020-10-02 16:08] dhrunia commented on #107973
Enabling Terminal>Integrated>Inherit Env fixed the issue

[2020-10-02 16:20] rzhao271 commented on #106359
Adding `author-verification-requested` because I got the same result as @connor4312 and I'm not sure whether that means something regressed.

[2020-10-02 16:21] bland328 opened #107979 "Remove extra whitespace from labels for unsaved tabs"
# Feature suggestion
When VS Code generates a faux "filename" to appear in the tab of a new, unsaved file, I suggest that it would save screen space and eliminate some visual noise if all repeating whitespace characters were collapsed to single spaces.

# Example
A new tab is opened and a chunk of logged text with this first line is pasted in:
`error      13:47:38.285446-0500      cfprefsd      re

[2020-10-02 16:26] connor4312 commented on #96293
Works well now, thanks!

[2020-10-02 16:26] rebornix opened #107980 "August Recovery Endgame 3"
- [x] Create a milestone `<Month> <Year> Recovery`
- [x] Bump the version number
- [x] Assign candidate issues to the recovery milestone **team**
- [x] Review the `candidate` issues, and if they pass the review assign them to the recovery milestone **team**
- [x] All `candidate` fixes are peer reviewed and pushed to `master` and then cherry-picked into the release branch **team**
- [x] Initiate `i

[2020-10-02 16:31] fld91 opened #107981 "screen behaves unusual colour.. after pc opens from sleep or suspend"
![Screenshot from 2020-10-02 22-03-58](https://user-images.githubusercontent.com/52079442/94947443-47a17c80-04fb-11eb-99c8-1d08363b58eb.png)
Issue Type: <b>Bug</b>

whenever  i reopen my vscode after pc is slept or suspend some type of unusual visual blur problem happens.different types of squares and rectangles of colours are shown.this also happens in chrome

VS Code version: Code 1.49.2 (e5e9e6

[2020-10-02 16:34] rzhao271 commented on #106359
\closedWith c53524a198ca46dd327d2559bcafa9296d6230e6

[2020-10-02 16:45] usernamehw commented on #107981
/duplicate #69665

[2020-10-02 16:46] #107981 closed

[2020-10-02 17:01] connor4312 commented on #106698
I think we'd actually want something inside the worker, since attachment both to the worker and renderer is async -- we attach to the renderer, ask for its targets list (and to be notified of new targets), then whenever we see the webworker we attach to it. At that point there is still some initialization to do, since we create a new debug session for it and wait for VS Code to set that up and sen

[2020-10-02 17:02] roblourens commented on #107243
I don't see it, but do I expect to see it in this case?

![image](https://user-images.githubusercontent.com/323878/94949809-66b9f300-0496-11eb-858c-f8c37347ed1e.png)

[2020-10-02 17:15] XsongyangX opened #107983 "Canvas renderer of the integrated terminal is blurrier than other renderers"
The `canvas` renderer of the integrated terminal is not as clean sharp as the other renderers like `dom`. I've only found this problem on the integrated terminal.

- VSCode Version: 1.49.2 (user setup)
- OS Version: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Choose the renderer of the integrated terminal to be `canvas`
2. Open the integrated terminal, preferably Git Bash

Does this issue o

[2020-10-02 17:24] rzhao271 commented on #107109
It was `workbench.panel.pinnedPanels`

[2020-10-02 17:26] roblourens commented on #107458
Once you are in the list, then normal list keybindings take effect like ctrl+up/down to scroll. That is by design but yes, it combines a little awkwardly with the ctrl+down to focus search results. It can be customized if you want something different.

[2020-10-02 17:27] rzhao271 commented on #106321
\closedWith 403a6895f401c397933ec5c4f7d89432a33509b6

[2020-10-02 17:30] roblourens commented on #107947
Can you share the repo so I can test?

[2020-10-02 17:36] fld91 commented on #69665
having this issue on chrome,terminal and vscode....os -ubuntu 20.04

[2020-10-02 17:37] carlocardella commented on #106321
I no longer have a repro to confirm the specific problem has gone, anyway I am on the latest insiders and everything is working fine

[2020-10-02 17:39] fabianzelaya opened #107984 "Architecture x86_64"
[Issue](url) Type: <b>Bug</b>

Hi everyone,
It's already been so long whit this issue in my visual studio and I don't know how to fix it. Can you guys please help me whit this kind of problem, please?

I'll appreciate it.

Thank you so much!

[2020-10-02 17:41] leilapearson commented on #107936
Also closely related to issue #99955 and PR #104528. These are both closed but they do explain why the code now behaves this way. The code no longer strips off the .go extension before comparing the names.

[2020-10-02 17:42] roblourens commented on #107944
Yes, ripgrep diverges from git slightly here unfortunately. https://github.com/BurntSushi/ripgrep/issues/778

Changing `cpp` to `cpp/*` would work around it for you though

[2020-10-02 17:42] #107944 closed

[2020-10-02 17:50] roblourens commented on #83899
A code review of the change looks pretty straightforward but @joaomoreno do you know how to get this window to show up?

[2020-10-02 17:52] connor4312 opened #107985 "Theme variables for notebook renderers"
## Problem

In sharing renderers with Azure Notebooks, one issue that comes up is around color tokens. VS Code includes [over 400 color](https://github.com/connor4312/vscode-webview-tools/blob/master/src/pkg/colors.ts) tokens, which are made available in the renderer as, for example `var(--vscode-chart-red)`.

Azure Notebooks does the same, with a more limited set of color tokens

<details>

[code

[2020-10-02 17:57] brettfo commented on #106359
/verified

[2020-10-02 18:10] connor4312 commented on #105037
This can now be accomplished with metadata

[2020-10-02 18:10] #105037 closed

[2020-10-02 18:17] mtho2014 opened #107986 "Cant edit code"
When I open a file to edit the code I created, I cannot type any text in the code. A this bar replaces my curser and the only way for it to get out of that mode so I can make changes to my code is by quickly pushing a lot of keys on my keyboard. Same thing happens when I create a new file and copy and past a code from somewhere else. I included a screenshot that has a circle around the bar I was t

[2020-10-02 18:22] GaryBoone opened #107987 "Can't open same directory in two windows"
Issue Type: <b>Bug</b>

I have a window open to a remote SSH directory X. I want to open another window with the same directory on a Mac.

Repro steps:
1. Make a new window with shft-cmd-N
[A new window opens with no files open.]

2. Click the SSH icon at the bottom left and connect to my remote machine.
[A new window opens with the SSH: <machine> at the bottom and no files open.]

3. Hit cmd-o to

[2020-10-02 18:23] mtho2014 commented on #107986
Also, When I run the code, it wont let me input any data and says I can't edit in a read only editor. How do I get out of this read only editor mode?

<img width="1092" alt="Screen Shot 2020-10-02 at 11 21 20 AM" src="https://user-images.githubusercontent.com/71346322/94956732-860a4d80-04a1-11eb-8e63-b7dd89aaa150.png">

[2020-10-02 18:39] silesky opened #107988 "Indicate default values in settings.json"
#### Doc / Feature Request
My `settings.json` is the primary way I interact with settings, and I often want to change a value that I'm experimenting with back to a default -- but I don't remember which value that is.

![image](https://user-images.githubusercontent.com/5115498/94958368-071f1000-04b5-11eb-9698-f9202d68ca12.png)

In the Settings UI, there is a reset settings button -- but there is no

[2020-10-02 18:47] ssw99 commented on #107986
Do you use vim extension?

[2020-10-02 18:48] mtho2014 commented on #107986
yes, it's installed

[2020-10-02 18:51] mtho2014 commented on #107986
I've also tried opening a new file and just writing a new code and it still isn't letting me type anything and showing that thick bar for the curser
<img width="357" alt="Screen Shot 2020-10-02 at 11 51 32 AM" src="https://user-images.githubusercontent.com/71346322/94959190-a0462a80-04a5-11eb-8d1c-651a232e7044.png">

[2020-10-02 19:01] usernamehw commented on #107983
If you use `window.zoomLevel` then this issue is a duplicate of #85154. Upstream issue https://github.com/xtermjs/xterm.js/issues/2662

[2020-10-02 19:07] chrmarti commented on #83899
Steps to get to that window:
[code]

[2020-10-02 19:13] dfee commented on #107750
@dbaeumer Well, I'm not getting any errors in my `*.test.ts` files because i have:
[code]
in my `tsconfig.json`.

If I were able to specify (and i'm using a monorepo – which consistently uses `tsonfig.eslint.json`), then i'd see the appropriate `ts` errors.

[2020-10-02 19:17] andrewbranch commented on #105114
I started getting this after updating to the macOS Big Sur beta. Let me know if you want me to run any profiling or anything.

[2020-10-02 19:17] KamasamaK opened #107989 "Add when clause context for embedded language ID"
I would like a new [when clause context](https://code.visualstudio.com/docs/getstarted/keybindings#_when-clause-contexts) for the language ID at the cursor position within the document. Right now, we have `editorLangId` which only uses the language ID of the editor itself, but documents can have other languages embedded in them defined in the [`contributes.grammars`](https://code.visualstudio.com/

[2020-10-02 19:20] deepak1556 commented on #107330
Symbolicated dump,

[code]

[2020-10-02 19:25] RicaBenhossi commented on #107932
This is it

"fori": {
		"prefix": "fori",
		"body": [
			"for (${1:int} ${2:i} = ${3:0}; ${2:i} < ${4:max}; ${2:i}++) {",
			"\t$0",
			"}"
		],
		"description": "Indexed for loop"
	}

It's is a snippet from RedHat Java Language. I've tried to copy it to user snippets and got the same result. The odd is that if I type something (like int which is the default) and hit `tab`, it goes to next paramet

[2020-10-02 19:27] erythana opened #107990 "Terminal process "bin/bash" failed to launch"
Issue Type: <b>Bug</b>

Hello,
i have troubles when debugging an extension. Whenever i debug the extension i get the error
"The terminal process "/bin/bash '-c', 'npm run watch'" failed to launch (exit code: 127)."
When i run "npm run watch" on my project directory i get "
[21:22:25] Starting compilation in watch mode...
[21:22:27] Found 0 errors. Watching for file changes.
"
I think this started

[2020-10-02 19:29] Safnaj opened #107991 "Start iOS Simulator Not Shows in VS Code Devices"
When running flutter application on Mac VS Code, it was prompt asking Start iOS Simulator or Create Android Simulator. Once we select iOS Simulator it will simply open XCode Simulator. After New Update the device option shows only Create Android Emulator

- VSCode Version: 1.49.2
- OS Version: Mac OS 10.15.4
- Flutter Version: 1.22.0
-Dart Version: 2.10.0

Steps to Reproduce:

1. Go to 'Devices in

[2020-10-02 19:30] mjbvz commented on #107934
What is the issue?

[2020-10-02 19:31] DonJayamanne opened #107992 "Unable to load Tensorboard in Notebook"
- Version: 1.50.0-insider
- OS: Darwin x64 19.6.0

**Steps to Reproduce:**

1. Run a Python notebook (using the new VS Code Notebook API) with the following cells:
    * Cell 1
`%load_ext tensorboard`
    * Cell 2
[code]

    * Cell 3
`%tensorboard --logdir logs/fit`

2. At this point the last cell should have some empty output
This is because the output attempts to display an iframe relative to t

[2020-10-02 19:31] erythana commented on #107990
Just updated Code to 1.49.2, still the same issue _- sorry for not doing that before_

[2020-10-02 19:31] dixonqmg commented on #107078
Unfortunately no, because it doesn’t crash, it just hangs there. Gui thread works – I can click into windows, and it draws them, but nothing on the interface is active. Any other way I can investigate it?

From: Benjamin Pasero
Sent: Friday, October 2, 2020 4:09 AM
To: microsoft/vscode
Cc: dixonqmg; Manual
Subject: Re: [microsoft/vscode] Open Folder and open file cause application tofreeze indefin

[2020-10-02 19:32] connor4312 opened #107993 "Kernel discovery for renderers in notebooks"
## Problem

We want to share renderers in azure notebooks, and even within VS Code we can have different notebook implementations. Mimetype matching is a simple and effective way for a renderer to declare and be invoked with data it can understand, but in advanced the scenarios the renderer will want to communicate back to the kernel.

At the moment, renderers just 'assume' that the kernel they're

[2020-10-02 19:32] FaresKi commented on #107934
Well the issue is that autocompletion and IntelliSense do not work, despite installing the extensions. I only got the syntax colors by changing themes. But if you check on your left, even the files don’t have the JS icons.

Le 2 oct. 2020 à 21:30, Matt Bierner <notifications@github.com<mailto:notifications@github.com>> a écrit :

What is the issue?

—
You are receiving this because you authored th

[2020-10-02 19:34] alxbradley opened #107994 "Notify users of auto-import or make it more obvious (ES6)"
Issue Type: <b>Feature Request</b>

I accidentally imported a package after typing a function name that exists in a package that isn't part of our build. The webpack build started failing but I didn't notice right away.

The import was added to the very top of the file above our license comment which made it difficult to see. I spent 30+ minutes trying to find what could possibly cause the issue.

[2020-10-02 19:37] RicaBenhossi commented on #107932
You found it... I had a /n very old custom keybinding on `tab` key. That was the conflict...

Thank you @jrieken for helping. And sorry about the silly question 😶

[2020-10-02 19:39] webczat opened #107995 "Quick suggestion cannot be disabled for some editors"
Hello,
I have vscode insiders, quick suggestions disabled, also autosuggest on trigger characters is disabled.
However, some editors seem to ignore this. I saw this a few times, not sure where, although last time was when editing docker-compose.yml when having docker extension.
When I was typing, suggestions popped up without my permission.
I am not sure where it happens besides this extension, bu

[2020-10-02 19:39] DonJayamanne commented on #107993
When VS Code Python, we need the kernel hooked up with the renderer even before there is anyoutput.
Today we achieve this by loading the same renderer script as part of the Kernel preload scripts.

Hence for Python extension, the handshake with the renderer happens even when any output is renderer (happens in `resolveKernel` method of the `NotebookKernelProvider`.

Doesn't seem like your current m

[2020-10-02 19:47] JacksonKearl commented on #83899
On running those commands I got a few errors in console, and when I opened code there was no prompt:
[code]

[2020-10-02 19:49] DonJayamanne commented on #107993
What is the `kernel preload` here? Is this a script file that is loaded by the kernel preload.
More specifically is this done in the `NotebookKernel.preloads[]` in VS Code extension?

If this is the case, then this means, renderers will only ever work if there is a real kernel.
However there's also the situation where users can embed ipywidgets (HTML, JS & JSON) into the output of the notebook. TH

[2020-10-02 19:56] eamodio commented on #105025
I'm seeing a lot going wrong here and will open a few new issues. But if I go down the "happy path" of not having a git repo at all, it now publishes to my local default branch, rather than the default branch I have setup on GitHub. I would expect it to use the GitHub defaults as I'm publishing there.

[2020-10-02 19:59] ConProgramming commented on #101203
Anyone working on this? Want to use for https://foambubble.github.io/foam/graph-visualisation

[2020-10-02 20:00] rebornix commented on #107993
From my understanding of how ipywidget works, whether a kernel can work seamlessly with ipywidget renderers can't be determined statically. You can get a partially working ipywidget rendering without a kernel, or a kernel/server which does not support ipywidget (meaning users didn't install `widgetsnbextension` nb extension). Only when the `widgetsnbextension` is installed, the widget rendered in

[2020-10-02 20:03] #107980 closed

[2020-10-02 20:14] digeff opened #107996 "Allow contributions to the search viewlet context menu"
**Feature:** Set breakpoints on all results of a text search

**Sample scenario:** I want to set a breakpoint on all the places that **sourceMap.url** is accessed. I can use the Text Search feature to find all those places. There are a lot of places where that code is used, so it's annoying to have to go through each one to set a breakpoint.
It'd be great if after searching for **sourceMap.url** I

[2020-10-02 20:18] chrmarti commented on #83899
@JacksonKearl Check you WSL distro's system time. That can get out of sync (when the machine sleeps?). I think restarting the WSL distro fixes it (`wsl -t <distro>` I think).

[2020-10-02 20:20] mjbvz commented on #107994
Auto imports are added when you accept a suggestion. Here's an example of what we show for them:

<img width="1163" alt="Screen Shot 2020-10-02 at 1 02 23 PM" src="https://user-images.githubusercontent.com/12821956/94965014-90cbdf00-04af-11eb-9b5e-587c8e2c4a11.png">

They should always start with `Auto import`. The added import will also show in source control if you are using that

Any suggestion

[2020-10-02 20:21] #107991 closed

[2020-10-02 20:22] erythana commented on #107990
After running "code --log trace" it doesn't happen anymore?!

[2020-10-02 20:32] BruneXX commented on #107419
I've a similar issue with latest version of vs code at this point v1.49.2
I'm using Debian 9 (stretch) I've 16Gb of RAM and it's making swap, it's crazy!

[2020-10-02 20:32] ArmandPhilippot opened #107997 "Extensions issue: update / reinstallation"
Hello,

As of today, I have encountered a problem with the extensions of VS Code.

I published my own theme on the marketplace a few months ago (`armandphilippot.coldark`). So far, I had no problems updating it. Today I am doing a new update. Everything is going smoothly. I wait. Unable to update theme in VS Code. The option "_Install another version_" remains grayed out.

I switch to Windows, ope

[2020-10-02 20:37] pgfearo commented on #85707
The XSLT/XPath VSCode extension has built in tag-renaming (without a mirror cursor), code formatting, syntax- highlighting, outline etc.

[2020-10-02 20:40] rebornix commented on #107919
A mode for "auto reveal cell in execution"

[2020-10-02 20:42] AngryCochinoPup opened #107998 "New windows inherit/merge environment from existing windows"
Issue Type: <b>Bug</b>

1. Open two tabs in a terminal emulator
2. In tab 1: export TEST_VAR=1
3. In tab 2: export TEST_VAR=2
4. In tab 1: code --new-window .
5. In tab 2: code --new-window .
6. In Code window 2 terminal: echo $TEST_VAR
TEST_VAR has the value 1, not 2. This is *wrong*.
Using --sync off helps some, as tab 2 will get its own value for TEST_VAR, but it will still inherit any values i

[2020-10-02 20:44] hellige commented on #107044
Sure, attached!
![Screenshot 2020-10-02 at 3 39 50 PM](https://user-images.githubusercontent.com/14448/94968088-e6ab8180-04c5-11eb-94de-1e2bbefa9160.png)
![Screenshot 2020-10-02 at 3 38 58 PM](https://user-images.githubusercontent.com/14448/94968091-e6ab8180-04c5-11eb-9e1f-0259a7b45a51.png)

The black title-bar is the vscode "custom" style, looks fine. The grey title-bar is the vscode "native" sty

[2020-10-02 20:45] deepak1556 commented on #107419
@BruneXX does it continue to happen when you run with `--disable-extensions` ? Can you paste the output of process explorer following https://github.com/microsoft/vscode/issues/107419#issuecomment-700246912

[2020-10-02 20:45] connor4312 commented on #107993
More specifically is this done in the NotebookKernel.preloads[] in VS Code extension?

Yes

I didn't call that out explicitly, in the issue -- but that is why I put `kernel?: TKernel` as an optional property. If the kernel isn't available, we will still render it, and assume that the renderer falls back gracefully or displays a nice error message.

If I understand you correctly, you're advocating

[2020-10-02 20:46] hellige commented on #107044
Aha, I now see that this is a Chromium/ChromeOS bug: https://bugs.chromium.org/p/chromium/issues/detail?id=918314

Not sure if that means it should be closed here or what, I'll leave that to you! Sorry for the bad report!

[2020-10-02 20:47] BruneXX commented on #107419
Hi @deepak1556 I haven't tried with that option, I'll try and I'll let you know, thanks!

[2020-10-02 20:48] connor4312 commented on #107990
Where do you have npm installed? Is it being pulled from `nvm` or set in your .bashrc file?

[2020-10-02 20:48] deepak1556 commented on #107330
Can you check if the crash happens with any of our following exploration builds

* [Snap](https://az764295.vo.msecnd.net/exploration/53c0ab95bb770a8f3f869e81bb9da200708e6700/code-exploration-1600880002.snap)
* [Deb](https://az764295.vo.msecnd.net/exploration/53c0ab95bb770a8f3f869e81bb9da200708e6700/code-exploration_1.50.0-1600879342_amd64.deb)
* [Unsigned Archive](https://az764295.vo.msecnd.net/ex

[2020-10-02 20:52] BillRaymond commented on #105025
I am on vacation this week, so will test when I return

[2020-10-02 20:58] JacksonKearl commented on #83899
![image](https://user-images.githubusercontent.com/8586769/94969259-3e8ebc00-04b7-11eb-8fdf-e882184cdcdd.png)
Looks okay in spacing, but I'm getting 2. Expected?

[2020-10-02 20:59] #83899 closed

[2020-10-02 21:01] mjbvz commented on #96910
@rightaway Sorry I missed this issue. Can you share a code example of the problem an describe the expected behavior?

[2020-10-02 21:03] erythana commented on #107990
I just fixed it in that second. I've set it in the .bashrc file. Now i additionally added it to my X environment variables, described here: https://userbase.kde.org/Session_Environment_Variables, and it works (after a restart of X/Computer).
I really should get into Rubberduck-Debugging. I basically followed my own trail (even though i tried it for hours before).

Thank you for your help, though!

[2020-10-02 21:03] #107990 closed

[2020-10-02 21:03] mjbvz commented on #88151
Closing this as it has not gotten enough upvotes on our backlog (not sure why the bot did not kick in to do this automatically)

[2020-10-02 21:03] #88151 closed

[2020-10-02 21:06] cynecx opened #107999 "Memory leak"
Version: 1.50.0-insider
Commit: 0ecb64a2c8945dd1193967019f0734af539ca9c3
Date: 2020-10-02T13:37:26.948Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Linux x64 5.8.13-arch1-1

Steps to Reproduce:

1. Prepare a large text file (Citylots.json is ~190MB):
[code]

2. Open `evenlarger.json` in vscode.
3. Scroll around.
4. Close the file.
5. Observe the memory usag

[2020-10-02 21:11] alxbradley commented on #107994
A few ideas:
1. A confirmation banner that gets focus. It could use the same UI element as the command palette. "Are you sure you want to add `foobar` package" (Yes/No)?
2. Place auto imports below the first comment if a comment exists at the top of the file.

[2020-10-02 21:14] connor4312 commented on #107996
This is a good idea for an extension I think.

[2020-10-02 21:15] connor4312 commented on #107990
no worries, I figured that may have been what was happening :)

[2020-10-02 21:17] #108000 closed

[2020-10-02 21:19] ryanclarke commented on #106737
I'll start working on this issue. Thanks for your help.

[2020-10-02 21:23] eamodio opened #108001 "Publish to GitHub fails (or doesn't go what would be expected) if there is already a git repo"
Refs: #105025

### Publish with no repo and 1 file
#### Scenario 1
- Choose Publish to GitHub
- Pick private/public (I chose private)
- Choose the 1 file
- ✔️ Repo gets published and new file gets added in the first commit

#### Scenario 2
- Choose Publish to GitHub
- Pick private/public (I chose private)
- Don't choose the 1 file
- ❌ Repo gets published but the first commit is a `.gitignore` file

[2020-10-02 21:28] rzhao271 commented on #107948
Hi, can you give some steps to reproduce the issue?