[2022-02-22 19:11] alexdima commented on #142309
@ShafinKhadem The feature #59961 (select all occurences of find match in search scope) only works when the find widget is made visible.

[2022-02-22 19:15] Joolee opened #176282 "Auto-attach remote session"
I'm developing code for an external device that is not under my control. To run my code, I run a local (provided) nodejs application which packs the code, sends it to the remote device and runs it in a sandbox. stdout and stderr are forwarded to the local console.
I'm able to start a debugger session by including: `require('inspector').open(9223, address, false);` in the app startup code and I can

[2022-02-22 19:20] joeSaad commented on #143623
update: I just updated my OSX to Big Sur `11.6.1 ` and still getting the same error.
I downgraded my VSCode to `1.61.2` and still getting the same error `Extension host terminated unexpectedly`

I can't get VSCode to work at all now.. Please advise.

[2022-02-22 19:22] roblourens commented on #143602
I could easily use that type of button, but I'm worried that it wouldn't be more obvious as a button since it doesn't have a background color except on hover, and in this view we already use `...` when text overflows

[2022-02-22 19:27] roblourens commented on #143356
I guess you have `search.quickOpen.includeSymbols` enabled?

[2022-02-22 19:30] #143453 closed

[2022-02-22 19:30] meganrogge commented on #98918
Okay we will revert that change

[2022-02-22 19:33] incastea opened #143642 "VS Code prevents showing of hidden taskbar on Windows 7 when VS Code window is maximized"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.65.0-insider (user setup)
Commit: eeeab304b9ac777b4a8dddf55f66ffebd9e4e7f2
Date: 2022-02-22T14:29:15.294Z
Electron: 16.0.9
Chromium: 96.0.4664.174
Node.js: 16.9.1
V8: 9.6.180.23-electron.0
OS: Windows_NT x64 6.1.7601

Steps to Reproduce:

1. Enable Auto-hide the taskbar option in Taskbar and Start Menu Properties in

[2022-02-22 19:34] roblourens commented on #143578
This could be caused by some intermittent network issue, or something happening on your remote. Could be some extension locking up the EH process, or another process unrelated to vscode using all the resources. Check process activity on the remote when this happens, and please test which features are working or not in vscode.

It might also help to grab logs from Jupyter in the output channel. The

[2022-02-22 19:35] meganrogge commented on #143346
Thanks for the issue. At this time, there's not enough demand for this sort of thing. You can run the `Terminal: set fixed dimensions command` and that will persist across reloads/restarts.

[2022-02-22 19:35] #143346 closed

[2022-02-22 19:36] meganrogge commented on #143275
Can you share your settings.json file and also do a trace log while creating a terminal? https://github.com/microsoft/vscode/wiki/Terminal-Issues#enabling-trace-logging
/"needs-more-info"

[2022-02-22 19:39] roblourens commented on #143391
Status bar (bottom) or title bar (top)?

The status bar is orange when the window has an active debug session

[2022-02-22 19:44] brettcannon commented on #134375
To be clear, we have an experiment to adopt the language status API for Python, but the experiment is ongoing.

[2022-02-22 19:46] brettcannon commented on #126932
/cc @kimadeline

[2022-02-22 19:53] Colengms commented on #141696
@sandy081 This is with the C/C++ Extension.  We also include the name of the platform in the VSIX name, so in this case I was expecting `cpptools-win64.vsix` and received `cpptools-win-arm64.vsix`.  However, I did not see the name of the downloaded VSIX itself, only the uncompressed contents in the extensions directory (including its `.vsixmanifest`), as it was downloaded and installed (upgraded t

[2022-02-22 19:55] roblourens commented on #143570
In the past https://github.com/microsoft/vscode/issues/106860 I had decided to keep it, but maybe we can try changing it in March

[2022-02-22 20:11] deeprobin commented on #43809
Pinging some maintainers: @lszomoru @eamodio

[2022-02-22 20:13] deeprobin commented on #43809
@wdhongtw

I've added a few comments to your PR. But I must say that I am not an experienced extension developer. I deal more with the underground of Node: V8, ...

[2022-02-22 20:20] deitry opened #143643 "Command`git.openFile` doesn't work properly with Replace Preview"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.61.2
- OS Version: Windows 10 20H2

Steps to Reproduce:

1. Open global search and start to replace any string
2. Click on found string, Replace Preview window should be opened
3. Call `git.openFile` command. New editor will be opened. This editor opens an actual file, but acts a bit weird, e.g. it cannot be reveale

[2022-02-22 20:21] #143421 closed

[2022-02-22 20:23] alexdima commented on #143308
Not sure what's special on my VM, but by adding some logging I believe there might be a problem with the fs provider which returns only `node.exe` as a child of `C:\`:

[code]

<img width="648" alt="image" src="https://user-images.githubusercontent.com/5047891/155209433-8a218ae7-f46d-4cbb-a4e0-e237c8b9c391.png">

[2022-02-22 20:30] #141680 closed

[2022-02-22 20:31] meganrogge commented on #143638
This actually works for me even when I revert the fix 🤔 . Reverting

[2022-02-22 20:33] alexdima commented on #142901
@ogmios-voice I've done a CPU profile while keeping <kbd>Enter</kbd> pressed but I could not spot anything problematic. A typical handling of a keypress takes <2ms and rendering also takes 5-6ms which looks normal:

<img width="495" alt="image" src="https://user-images.githubusercontent.com/5047891/155214310-a3f67ccd-3217-45d3-b3e2-4146cf2ec35c.png">

Could you please try to [create a CPU profile]

[2022-02-22 20:34] alexdima opened #143644 "Use `strict` in `TestInstantiationService`"
Follow up from https://github.com/microsoft/vscode/issues/142913#issuecomment-1046670230

[2022-02-22 20:37] cdaringe commented on #142830
**Very**. We are in a monorepo

No

[2022-02-22 20:39] chrisdias commented on #140507
dupe of #126147

[2022-02-22 20:39] #140507 closed

[2022-02-22 20:39] chrisdias commented on #143483
dupe of #126147

[2022-02-22 20:39] #143483 closed

[2022-02-22 20:41] nickchomey commented on #142830
Yes. It's an entire WordPress website with many plugins

[2022-02-22 20:41] #143132 closed

[2022-02-22 20:43] connor4312 commented on #142830
It sounds like both your cases are expected, and that you want to follow the message's instructions to configure your outFiles: https://code.visualstudio.com/docs/nodejs/nodejs-debugging#_source-map-discovery

[2022-02-22 20:44] Robert-Springer commented on #143623
I'm having the same issue as you Joe

[2022-02-22 20:50] cdaringe commented on #142830
We used to explicitly use the legacy debugger, as it was plenty performant in our large repository. VSCode forced upgraded us to use the new debugger, which is more-or-less unusable due to this issue, and forced our users to use `chrome` debugger. VSCode debugger is certainly less preferred--users don't need the editor 😄 . Our project uses `ts-node` for the scripts relevant for debugging, so `outF

[2022-02-22 20:54] ShafinKhadem commented on #142309
@alexdima unfortunately the issue still persists even when find widget is visible. Find scope never respects selection column, only line. It seems like it was designed to be that way:
https://github.com/microsoft/vscode/blob/fcd551f9d10b264c9c96eb48600634ebb402f418/src/vs/editor/contrib/find/findModel.ts#L183-L184

[2022-02-22 20:57] aeschli commented on #142050
I suspect it's a search related issue timing issue and not related to the remote indicator change.

[2022-02-22 21:00] monil-patel commented on #143463
can confirm no longer seeing the undefined

[2022-02-22 21:00] monil-patel commented on #143463
/verified

[2022-02-22 21:02] babakfp commented on #143570
Hi
I agree with https://github.com/microsoft/vscode/issues/106860#issuecomment-696148943. a PHP variable (<dollar_symbol><var_name>) is a whole 1 thing. You don't really need to be able to only select the name. I will say that **the best thing to do is to make the whole variable be selectable by default for the new users and for the current users show a popup/alert box and explain to them what is

[2022-02-22 21:08] TylerLeonhardt commented on #143583
Can you follow these steps so that we can get more information on what's going on?

* Open the Command Palette
* Run the `Developer: Set Log Level...` command
* Choose `Trace`
* _Wait for the issue to happen..._
* Open the Output pane (ctrl+shift+u I think on Windows)
* drop in this issue he contents of the following:
  * `GitHub Authentication` Output channel
  * `Log (Settings Sync)` Output chan

[2022-02-22 21:10] mjbvz commented on #143452
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled) (besides the built-in JS/TS one)?

[2022-02-22 21:12] mjbvz commented on #143372
Looks like woff2 is widely supported now too: https://caniuse.com/woff2

These are about half the size of the ttf files too

[2022-02-22 21:23] tigerinus commented on #143645
Did you install the gistpad extension?

[2022-02-22 21:26] ddnomad commented on #30522
This would be such a nice feature to have. It is somewhat hard to determine what "pane" is currently active when cursor is set to `underline`, even if it is blinking. I do prefer this style of the cursor but not having any instant understanding of where I am after doing one of the `navigate*` shortcuts is kind of confusing.

[2022-02-22 21:32] roblourens commented on #143469
This is annoying. Tried a bunch of things, https://github.com/microsoft/vscode/commit/8ac38cb0cc093c40145099ac9ac44ad40f401cea is also involved, and that change is basically at odds with this issue.

I wonder whether we should extend the cell `focusMode` to include representing Output focus. Then we can only force focus out of the webview when the newly focused cell has Container/Editor focus.

Fo

[2022-02-22 21:33] weinand commented on #143640
/needsMoreInfo

[2022-02-22 21:34] JacksonKearl commented on #143254
\extC++

[2022-02-22 21:34] #143254 closed

[2022-02-22 21:34] elahehrashedi commented on #143322
Thank you for your response, it turns out to be the extension issue.

[2022-02-22 21:34] #143322 closed

[2022-02-22 21:34] weinand commented on #143640
What debugger are you using?

[2022-02-22 21:35] alexdima commented on #143156
@dshuman52 VS Code has options for almost anything in order to accommodate everyone. From your description, I think you might find it better if you disable some more things via options:
* `"editor.quickSuggestions": { "other": false, "comments": false, "strings": false }`
* `"editor.autoSurround": "never"`
* `"editor.autoClosingQuotes": "never"`
* `"editor.autoClosingBrackets": "never"`
You can al

[2022-02-22 21:35] JacksonKearl commented on #143010
Many languages require extensions. This is by design, we want to keep the core VS Code as slim as possible.

[2022-02-22 21:35] #143010 closed

[2022-02-22 21:39] alexdima commented on #143623
The extension host terminates with the `SIGTERM` signal. This indicates that there is something on your machine that is sending this signal to the extension host process. Also, from your screenshot, it looks like the extension host process is not the only one that is being terminated, it looks like our shared process is also killed with `SIGTERM` on your machine. I'm not sure what could be causing

[2022-02-22 21:41] JacksonKearl commented on #142900
Please run `Toggle Keyboard Shortcuts Troubleshooting` when this happens next and include the output here

[2022-02-22 21:41] #143372 closed

[2022-02-22 21:42] connor4312 commented on #142830
For `ts-node`, the `outFiles` can be specified to point to your source files. Alternatively, you can set `outFiles` to an empty array `[]` and `resolveSourceMapLocations: null` to say "don't scan for any sourcemaps, but also don't restrict where sourcemaps can be resolved".

[2022-02-22 21:43] joeSaad commented on #143623
@alexdima thanks for your response. so what new information you might need?
any suggestions on how to go around this?

[2022-02-22 21:44] alexdima commented on #142900
Duplicate of https://github.com/microsoft/vscode/issues/133513

[2022-02-22 21:44] #142900 closed

[2022-02-22 21:44] bpasero commented on #143623
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2022-02-22 21:49] mjbvz commented on #142457
This is by-design. We only allow a one or two css properties for security and presentation reasons

Marking as a feature request to gauge interest in broadening the subset of css that is supported

[2022-02-22 21:50] misolori opened #143646 "Zooms breaks layout menu position"
Steps to Reproduce:

1. increase window zoom
2. open layer menu
3. :bug: position of menu is way out of place

![CleanShot 2022-02-22 at 13 49 33@2x](https://user-images.githubusercontent.com/35271042/155225403-a7a75c75-3085-4b6a-ad1e-bceef330e665.png)

Version: 1.65.0-insider (Universal)
Commit: eeeab304b9ac777b4a8dddf55f66ffebd9e4e7f2
Date: 2022-02-22T14:28:59.645Z
Electron: 16.0.9
Chromium: 96.

[2022-02-22 21:55] #141871 closed

[2022-02-22 21:56] weinand commented on #143602
I'm fine with this kind of button as long as the background color is always shown.
<img width="417" alt="CleanShot 2022-02-22 at 09 53 37@2x" src="https://user-images.githubusercontent.com/35271042/155190659-a9d6f6b0-0638-4565-9264-3b8544acfa33.png">
Without the background color it just looks like the ellipsis we use in text overflows.

[2022-02-22 21:57] joeSaad commented on #143623
@alexdima when you said `SIGTERM` i searched it up.. and i found it terminates programs.. and i already had put a crontab last week on my machine to terminate node instances `pkill -f node`
this was the culprit..
Thank you very much @alexdima @bpasero

[2022-02-22 21:59] mjbvz opened #143647 "Test MarkdownString.baseUri api proposal"
Refs #142051

- [x] Mac @bpasero
- [x] Linux @lramos15
- [x] Windows @rzhao271

Complexity: 4

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23143647%0A%0A&assignees=mjbvz)

---

This tracks testing of the proposed `baseUri` property on `MarkdownString`. This property allows specifying a uri to use for resolving relative links (both clickable links and images) that ap

[2022-02-22 22:01] Colengms commented on #142890
When this repro's, I see the following in `Log (Remote Server)`:

[code]

`Log (Window)` is similar:

[code]

`Log (Shared)` was not logged to for this repro.

[2022-02-22 22:03] aeschli commented on #143561
With structure, do you mean the outline?
![image](https://user-images.githubusercontent.com/6461412/155226988-02e89b0e-6f70-431f-82d8-98555bffec62.png)

We have an outline for JSON.
For CSV this would have to come from an extension.

Extracting the structure could again come from an extension.

[2022-02-22 22:04] amcasey opened #143648 "Confusing reference counts in TypeScript code lens"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version:
Version: 1.65.0-insider (user setup)
Commit: eeeab304b9ac777b4a8dddf55f66ffebd9e4e7f2
Date: 2022-02-22T14:29:15.294Z
Electron: 16.0.9
Chromium: 96.0.4664.174
Node.js: 16.9.1
V8: 9.6.180.23-electron.0
OS: Windows_NT x64 10.0.22000

Steps to Reproduce:

1. Create a TypeScript file
[code]
2. Enable CodeLens

![image](htt

[2022-02-22 22:08] alexdima commented on #143442
Our default keybindings are optimized for the US keyboard layout. In this particular case, `Fold` is bound by default to `Ctrl+Shift+[`.
* on the US keyboard layout, `[` is produced by the `[BracketLeft]` key, so the keybinding is `Ctrl+Shift+[BracketLeft]`.
* on the Swedish keyboard layout, `Ctrl+Shift+[` cannot be mapped to a key combination because `[` can only be produced via `AltGr+[Digit8]`

[2022-02-22 22:08] #143442 closed

[2022-02-22 22:09] MarByteBeep commented on #142830
My repo is very small, only a dozen files, none of them exceeding 1000 lines of code. It does use quite a bunch of npm modules, but obviously I never set a BP in that code.

[2022-02-22 22:10] #143623 closed

[2022-02-22 22:11] amcasey commented on #143648
Incidentally, I noticed that I couldn't trigger this with `const x = y => y.toString()` which makes me think something's getting a false positive (i.e. for is-a-function) from the call expression.

[2022-02-22 22:17] connor4312 commented on #142830
Hm, okay, thanks. Seems like something is up with your machine separate from the expected behavior that cdaringe/nickchomey are running into.

Quick check -- do you have any 3rd party antivirus running? Often seen them mess with things and cause spooky slowdowns.

[2022-02-22 22:18] HVisMyLife commented on #143447
https://github.com/MicrosoftDocs/live-share/issues/224#issuecomment-383324321

[2022-02-22 22:21] MarByteBeep commented on #142830
No AV here. I do have multiple versions of Visual Studio though. Would a dxdiag or other report be useful for you?

[2022-02-22 22:22] connor4312 commented on #142514
@JDaance to confirm -- are all these tests creating messages/output that are getting displayed in the test output peek?

[2022-02-22 22:23] daviddossett commented on #143533
Looks like this is present on the original dark HC theme as well. @misolori confirming this isn't intentional given the different behaviors of the top and bottom activity bar items on click? I can look into fixing it if not.

<img width="82" alt="CleanShot 2022-02-22 at 14 20 31@2x" src="https://user-images.githubusercontent.com/25163139/155229322-f1ef1e37-55ae-46ef-a4a1-5d0429538b3b.png">

[2022-02-22 22:37] misolori opened #143650 "Titlebar text color is transparent when switching to HC light theme"
Testing #143425

<img width="923" alt="image" src="https://user-images.githubusercontent.com/35271042/155226947-3352d4a1-a817-4f9d-8103-8b8808ed299d.png">

1. start with default theme
2. change to HC light theme
3. :bug: title bar text is not visible

It appears that if I reload or make any changes in my settings.json the theme gets updated so I'm wondering if this has to do with our themeing serv

[2022-02-22 22:38] misolori commented on #143533
I'm not sure why the top and bottom are different but agree that they should all be the same. Given this repros in the dark HC theme it's not a new bug

[2022-02-22 22:39] daviddossett commented on #143650
Hmm. I did notice this and pushed a fix the other day. Wonder why you're still seeing this now. Will look into it.

<img width="653" alt="CleanShot 2022-02-22 at 14 38 44@2x" src="https://user-
images.githubusercontent.com/25163139/155231483-60a243d0-134d-44a8-9e0b-2a9e98bbca5f.png">

[2022-02-22 22:41] daviddossett commented on #143650
[code]

Does this match what you're seeing if you generate the theme?

[2022-02-22 22:45] misolori commented on #143650
Yea those are the same colors, they also appear after a reload which makes me wonder if this isn't related to your theme specifically (but also can't repro on others). Also noticed that the terminal does the same thing:

<img width="546" alt="CleanShot 2022-02-22 at 14 42 24@2x" src="https://user-images.githubusercontent.com/35271042/155231937-ced119e4-ce32-4ae9-a32e-4d57196a9d53.png">

[2022-02-22 22:46] #142514 closed

[2022-02-22 22:53] HRTK92 commented on #143487
The status bar is working. Thank you

[2022-02-22 22:57] yheuhtozr commented on #136892
Seems the same issue here. I upgraded to Win 11 yesterday and caught by this today.

[2022-02-22 22:58] misolori commented on #143650
Oh you know what, I was using the old vsix extension and not the built-in one and see this fixed. Sorry for the noise!

[2022-02-22 22:58] #143650 closed

[2022-02-22 22:59] eddiemoore opened #143651 "Typescript Language Service keeps crashing"
Issue Type: <b>Bug</b>

No real steps to reproduce.

VS Code version: Code 1.64.2 (Universal) (f80445acd5a3dadef24aa209168452a3d97cc326, 2022-02-09T22:00:58.347Z)
OS version: Darwin x64 19.6.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz (12 x 2200)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br

[2022-02-22 23:04] IllusionMH commented on #143651
/needsMoreInfo

Is it reproducible with all extensions disabled?
You can try this with <kbd>F1</kbd> and `>Developer: Reload Window With Extensions Disabled`

If yes, please follow steps described in https://github.com/microsoft/vscode/issues/143140#issuecomment-1040904820 and this will help to provide info required to resolve problem.
**Please pay attention at the end of the comment about paths e

[2022-02-22 23:05] daviddossett commented on #143650
Not a problem! I suspected it was something like that 🙏

[2022-02-22 23:23] #138666 closed

[2022-02-22 23:26] #143646 closed

[2022-02-22 23:33] cateyes99 commented on #143307
I found if giving enough time the list of available terminals will eventually turn up. I think it's related to the fact that it's company's laptop, and the company set up some **windows profile folders** to **remote** locations. So on VPN, this issue won't occur for **_1.64.2_**, as it can access those remote folders immediately. Off VPN, it occurs from time to time.

I think there is another issu

[2022-02-22 23:34] #141281 closed

[2022-02-22 23:55] #143469 closed

[2022-02-22 23:58] Tyriar commented on #141956
To verify:

1. Make a directory with a unique name in the folder
2. Run `echo 'directory'` with the dir name
3. Ctrl+click `directory` in the terminal, it should focus the folder in the explorer
4. Create a file somewhere in the folder with the same name
5. Ctrl+click `directory` in the terminal, it should open the search quick pick

[2022-02-22 23:58] roblourens commented on #142050
Well, I don't think we've seen a related failure since 9e0d009 at least... will optimistically close this.

[2022-02-22 23:58] #142050 closed

[2022-02-23 00:00] roblourens commented on #143645
@sandy081  I'm talking about normal extensions in the remote EH

[2022-02-23 00:05] kevcube opened #143653 "`code` shell command defaults to (removed) python2 on macOS 12.3"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version:
[code]

Steps to Reproduce:

1. `code filename`
2. see below
[code]

macOS 12.3 has removed python2, and the default behavior of the `code` script seems to call python2.

`cat $(which code)`
[code]

[2022-02-23 00:08] kevcube commented on #143653
I am able to fix temporarily by just editing the script to change `python` to `python3`

[2022-02-23 00:19] mjbvz commented on #143291
Thanks @bpasero!

I pushed a fix for the image preview. In my testing, watching images outside of the workspace root now works as expected

[2022-02-23 00:29] nickchomey commented on #142830
Thanks very much, this solved my problem. Apologies for the trouble!

[2022-02-23 00:29] mjbvz commented on #143455
Yes please testing using the insider version linked to above. Otherwise I have to, which is not scalable

[2022-02-23 00:30] mjbvz commented on #143488
@vnown Test using the insiders version linked to as well: 1.65

[2022-02-23 00:31] rzhao271 commented on #142168
That section still hasn't been translated.
Tested on the latest Insiders with today's update.

[2022-02-23 00:32] mjbvz commented on #142916
We don't need a new theme key specifically for this. Instead it should use one of the existing ones, likely the ones for buttons

[2022-02-23 00:33] mjbvz commented on #142982
Please share a minimal extension sample that demonstrates  what you think the issue is

[2022-02-23 00:36] mjbvz commented on #143228
@johnlahut Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

If so, can you share a small project that demonstrates the issue?

[2022-02-23 00:42] renkun-ken commented on #143291
Thanks for the fix!

[2022-02-23 00:44] Tyriar commented on #143291
Thanks, will make a change this version

[2022-02-23 01:07] mjbvz commented on #138195
I just tested this again and now see this warning when clicking on a link to a file that does not exist:

![Screen Shot 2022-02-22 at 5 06 42 PM](https://user-images.githubusercontent.com/12821956/155245991-bae95348-8d2a-4ec2-8f91-58a2a4183a90.png)

I think this is the expected experience. If you still see some case not working well, please share steps to reproduce and I will investigate further

[2022-02-23 01:07] #138195 closed

[2022-02-23 01:09] yq574485585 opened #143654 "Cannot Select Python Interpreter"
Issue Type: <b>Bug</b>

1. Every time enter vscode, "Python is not installed" is remainded at the right bottom but actually Python is well-installed.
2. Cannot select any python interpreter. When click the"Select Python Interpreter" button, no env will be found. It doesn't work even I added a path to my anaconda env's interpreter.

VS Code version: Code 1.64.2 (f80445acd5a3dadef24aa209168452a3d97c

[2022-02-23 01:12] chguw commented on #143603
Yes, but a little difference, the word candidate window just bound back to its original position after every keyboard strike. You can see the demo here:
https://youtu.be/O_-yI5Z9i1M

[2022-02-23 01:20] TylerLeonhardt commented on #142157
hmm ok. I wonder why it's working without buttons but not with buttons... I'll investigate as soon as I get the time.

[2022-02-23 01:26] Tyriar commented on #140929
@TylerLeonhardt fyi best to mark as verified in this case as the endgame champ ends up having to review all these

[2022-02-23 01:27] Tyriar commented on #142379
@connor4312 FYI marked verification needed, might be wrong if you have a test plan item for it?

[2022-02-23 01:30] airjuly opened #143655 "How to insert annotation on my source code without numbering the code line in vscode plugin?"
I'm developing a "C code verification" plugin on vscode and I would like to achieve the below requirements:

First, Once I insert a text into the content box, it automaticaly adds some annotations under the "void ssort" method. just as shown in the image.
Second, I would like the IDE not to number(or hide) the annotation line.(Is it possible to realise it on vscode?) Or is there any example that I

[2022-02-23 01:31] TylerLeonhardt commented on #143233
/duplicate https://github.com/microsoft/vscode/issues/139151

[2022-02-23 01:31] #143233 closed

[2022-02-23 01:32] han6054 commented on #143600
I ran code.sh under version 14.18.1

[2022-02-23 01:37] rzhao271 commented on #123056
I noticed that no one has directly responded to https://github.com/microsoft/vscode/issues/123056#issuecomment-947781133.

The screenshot below is from https://github.com/microsoft/vscode/issues/130400#issuecomment-912211475. I highlighted one of the lines in yellow.
![Screenshot showing highlighted line with fold marker](https://user-images.githubusercontent.com/7199958/155247074-da262eec-2c9f-4d

[2022-02-23 01:39] TylerLeonhardt commented on #142941
Yeah this was done intentionally because we had issues about the fact that the event wasn't being triggered when the value was programmatically updated which made the API seem broken. I think we should keep the behavior as it is today so that it doesn't feel broken in that regard (at the end of the day, we have issues opened on either side of the coin)... but I would like to come up with some work

[2022-02-23 01:40] TylerLeonhardt commented on #135934
I added some new logging... you can give it a go in VS Code Insiders and maybe we'll get something useful in the logs.

[2022-02-23 01:43] TylerLeonhardt commented on #143447
Thats a good reference @HVisMyLife. This is also somewhat covered in our Settings Sync docs:
https://code.visualstudio.com/docs/editor/settings-sync#_troubleshooting-keychain-issues

I'm going to close this because it is almost certainly related to the installation of gnome-keyring.

[2022-02-23 01:43] #143447 closed

[2022-02-23 01:44] TylerLeonhardt commented on #141771
is the work area as you describe, just the editor or even things like the side bar, the panel, the tab bar, etc?

[2022-02-23 01:45] jkeech commented on #134522
Thanks for looping me in! This is coming from the `extract-ref` GitHub API call that the workbench is making to validate access. It looks like the API is returning a 409 which is unexpected by the embedder. I'm not totally sure why the API is returning 409 in this scenario, so I'll need to investigate that more.

To test, I created an empty (private) repo called `jkeech/empty` and then tried to op

[2022-02-23 02:23] sacredaioros commented on #143356
Oh, yes..
That works for me.
Thank you.

[2022-02-23 02:29] ITCMD commented on #143436
Issue was that there were no quotes around `%1`. Poor documentation on other sites, nothing wrong with vs code.

Correct command for reg `Computer\HKEY_CLASSES_ROOT\batfile\shell\edit\command` default dword is `"C:\Users\ldell\AppData\Local\Programs\Microsoft VS Code\Code.exe" -a "%1"`

Realized that when I opened something with spaces in the name. Previously spaces were in the path to the file wh

[2022-02-23 02:29] #143436 closed

[2022-02-23 02:50] yfwz100 commented on #120433
This has been fixed now. (I'm using VSCode 1.64.2)

[2022-02-23 03:12] brmassa opened #143657 "Stop OUTPUT panel from popping up"
Similar to #33262. Extensions dev decide to focus a certain output and the bottom panel simply shows up.

Examples:
* C# extensions gives "Installing C# dependencies..." EVERY time I open vscode.
* Gitlab extension also pop a message when the remote is not pointing to a Gitlab repository.

But it's not the extension fault. We need a user toggle to disable this behavior altogether.

[EDIT]
Hiding t

[2022-02-23 03:15] ozten commented on #120433
+1, fixed for me as well. @yfwz100 thanks the update.

[2022-02-23 03:15] aGensinger commented on #143535
@vscode-triage-bot @bpasero @gjsjohnmurray @chrmarti
[2022-02-23 10:47:59.405] [renderer1] [info] IExtensionHostStarter.start() took 1243 ms.
[2022-02-23 10:47:59.819] [renderer1] [error] [Extension Host] (node:10132) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.
(Use

[2022-02-23 03:29] vnown commented on #143488
@mjbvz The same problem exists in version 1.65

[2022-02-23 03:51] ogmios-voice commented on #142901
Could you please retry while keeping e.g. `a` pressed? (This was my original test, and I also think `Enter` would trigger some other behaviour.) If it is still not visible, I'll create a CPU profile.

[2022-02-23 03:59] amilz commented on #143391
Thanks @roblourens. It's both. See screenshot:
![image](https://user-images.githubusercontent.com/85324096/155259575-5c967d8b-73fa-4b7f-b1c5-39b5caf30563.png)

[2022-02-23 04:18] #143523 closed

[2022-02-23 04:29] liborty commented on #141349
How exactly is it fixed?
I still can not get the terminal to the left side like I used to have it,
it insists on opening in the side panel on the right.
I thought I did manage somehow but then it just went back.

[2022-02-23 04:36] Yarakashi-Kikohshi commented on #143455
# Requested report

I downloaded the insider version and tested the reproducibility of the problem.
(When I actually worked on it, there wasn't much of a troublesome. I'm sorry to whine.)

I just downloaded it and haven't installed any extensions. Therefore, it is the same as when all extensions are disabled.

I tested it like the first post. It didn't seem to be a problem in demo 1, but I felt th

[2022-02-23 04:44] amansk0307 commented on #143633
I did try those...
And it worked....
But it's not working on Jupyter extension...

[2022-02-23 04:56] liborty opened #143658 "Terminal will not open in the main panel"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.64.2
- OS Version: Linux

Steps to Reproduce:

1. ctrl ^ ~
2. terminal opens in new 'side panel' instead of the main panel
3. terminal can not be dragged or otherwise moved to the main panel on the left
4. nor are there any terminal settings to enable this, what used to be common functionality

[2022-02-23 05:06] AggelosPa commented on #141771
@TylerLeonhardt Same areas as shown in this gif! So that would include all that you mentioned!

[2022-02-23 05:20] ArturoDent commented on #143658
You could try the `View: Reset View Locations` setting.

You are not able to drag the little icon at the top left of the Side Panel representing the terminal?  It works for me.

[2022-02-23 05:42] liborty commented on #143658
No but after hours of research, I managed to discover amongst the commands lists "move views from side panel to panel" which seems to have restored some kind of normality, so you can close this issue if you like, thanks.

I still consider this extremely user unfriendly though, as there does not seem to be any way of doing it easily and directly.

[2022-02-23 06:08] judoaseeta opened #143659 "툴팁 잘 못 만드셨어요."
[](url)최하단 상태창에 툴팁 경계선에 살짝 걸치면 무한으로 호버링 됩니다.

[2022-02-23 06:12] codecoll opened #143660 "Quick Open (Ctrl+P) should not show the current file at the top"
Ctrl+P is useful to quckly open files, but it's not useful to show the current file at the top, since you are in that file already, so when you want to open an other recent file, like the previous recent file or one of the more recent files below it then you have to press an extra down arrow key in the list to get there.

Quick open should not show the current file on the top of the list, it shoul

[2022-02-23 06:15] #143487 closed

[2022-02-23 06:17] bpasero commented on #134522
In that case I would have expected to see the explorer empty, i.e. similar to what happens when you open a folder in VSCode that has no files.

[2022-02-23 06:34] mkafrin opened #143661 "Autocomplete for Typescript fails in certain situations when using namespaces for generic types"
Issue Type: <b>Bug</b>

If I create a type inside of namespaces/modules, when I try to use those types as a generic type, intellisense will show the first namespace `Foo` (seen below), but once I select `Foo`, will not suggest the nested namespace, and if I manually type the nested namespace (`Foo.Bar`), it will not suggest the type inside the nested namespace (`Baz`).

Reproduction:
[code]

VS Co

[2022-02-23 06:37] Sharkum opened #143662 "Unable to install pylance"
Issue Type: <b>Performance Issue</b>

TLDR :- Just unable to install pylance.

1) I have a fresh installation of vscode and have no extensions.
2) I install the python extension from the marketplace.
3) The extensions in the extension pack of python( jupyter extensions and pylance) all show that they are installing.
4) They get stuck at installing and never finish installing.
5) If i close the win

[2022-02-23 06:52] BladeMF commented on #135934
On my way. My current thoughts are:
* It is most definitively related to more than one instance of VS Code
* Currently the message about decryption is _not_ in the logs

[2022-02-23 06:55] bpasero commented on #142786
I tried to reproduce in my Windows 11 ARM VM and was not successful. Tried a few window reloads on a small TypeScript project with an editor open that has a compile error.

[2022-02-23 06:56] knaos commented on #142830
@connor4312 I confirm that running Code with flag `--disable-gpu` is not fixing the issue. It was just some coincidence.
Anyways with VSCode 1.64.2 on Windows 10, the debugger takes ages to start. And this happened to all our team mates after they upgraded to the newer version.

[2022-02-23 07:01] raffi23 opened #143663 "Allow separate windows to have separate zoom settings"
I use multiple monitors each has different DPIs and it is really annoying that I can't have different levels of zoom on each window I have opened, so at the moment smaller screens have smaller font sizes automatically.

I have seen multiple issues open on this regard, some was disregarded and some was rejected even though it had more than 20 upvotes like [#72011](https://github.com/Microsoft/vscod

[2022-02-23 07:04] pitust commented on #140308
Can i say i hate this feature? I really do, it covers up the prompt and doesn't add anything of value (i can select things myself, thank you very much)

[2022-02-23 07:19] liborty commented on #143658
P.S. I have tried dragging just about everything at the top of the Side Panel with no luck, before I created this issue. Maybe I just missed that particular little icon or maybe it does not work unless the main panel is already opened, I do not know.

[2022-02-23 07:20] gjsjohnmurray commented on #143657
Why do you think this is not the extensions' fault? They are deciding to specify that this should happen.

[2022-02-23 07:21] akirataguchi115 commented on #143442
@alexdima Thanks for the answer! Is this a situation with just Linux or what am I missing here? :thinking: :

Windows version of vscode properly maps f.ex. opening a terminal to `ctrl + shift + ö` on my swedish Finnish keyboard layout. Fold is also bound to some combination doable in Finnish layout.

[2022-02-23 07:41] madprops opened #143664 "Multiple cursors can lead to accidental edits"
- VS Code Version: 1.64.2
- OS Version: Linux

If you have multiple cursors selected, but you're not actually aware of that, and then go editing some line, you end up editing multiple lines in the wrong places which leads to catastrophe!

I'm thinking there should be a way to be really sure that you're multi-cursor editing. Some sort of visual warning (with the cursor count perhaps) that appears u

[2022-02-23 07:45] deepak1556 commented on #142786
@bpasero I am also on Windows 11 ARM vm and couldn't repro it so far, but the trick to repro it is to have some memory intensive tasks running in the background (building electron does the trick for me). I am now able to repro the issue.

[2022-02-23 07:45] buinguyenhoangtho commented on #143583
@TylerLeonhardt
Hi sorry for un-clear log
This is the log that i have when i follow all your step
`Github Authenication`
[code]

`Log (Settings Sync)`
[code]
**Log(window)**
[code]

[2022-02-23 07:47] chrmarti commented on #142705
The DNS lookups fail. Can you access https://marketplace.visualstudio.com using Chrome or Chromium?

[2022-02-23 07:49] alexdima commented on #143442
This way of mapping exists on Linux and macOS, where we dispatch by default on `keydown.code` and not `keydown.keyCode`. On Windows, we dispatch on `keydown.keyCode`. The concept of a `keyCode` exists natively at the OS level on Windows. On Linux and macOS, keydown events have a `keyCode` property, but it is all "fabricated" by each browser to compensate for the lack of OS support.

On Windows, we

[2022-02-23 07:56] aeschli commented on #143580
@bpasero FYI
I think the request makes sense for setups like in dev containers where the server is always opened on the same folder.

[2022-02-23 07:56] hoihu commented on #96104
I also encountered this problem. Seems to be an issue, still.

[2022-02-23 07:57] wngtk opened #143665 "Cursor blinking remained a little dot"
Issue Type: <b>Bug</b>

I typed some text in VScode. Waiting that cursor blinking. Then the cursor remained a little dot at top of it.

https://user-images.githubusercontent.com/100271394/155282626-30c55655-513d-462f-aa7a-1f1b85478149.mp4

VS Code version: Code 1.64.2 (f80445acd5a3dadef24aa209168452a3d97cc326, 2022-02-09T22:02:28.252Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<de

[2022-02-23 07:57] akirataguchi115 commented on #143442
@alexdima Thanks for the answer, again! It's good to know that there are issues OSwise that are not strictly trivial.

Just to be clear: Can't I just make a pull request to create a file like this but for Linux instead of Windows: https://github.com/microsoft/vscode/blob/main/src/vs/workbench/services/keybinding/browser/keyboardLayouts/sv.win.ts ?

[2022-02-23 08:02] MarekLew opened #143666 "workbench.activityBar.visible for multi windows"
Issue Type: <b>Bug</b>

When I change in one workspace

settings.js:
  workbench.activityBar.visible: false

then it't change Activity bar visibility in another windows and change their settings

In version 1.61.0 this work correct, this setting from one workspace not interfere in another workspace.

VS Code version: Code 1.64.0 (5554b12acf27056905806867f251c859323ff7e9, 2022-02-03T04:22:20.678Z)

[2022-02-23 08:08] MarekLew commented on #143666
I excepted efect like this #133111

[2022-02-23 08:11] bpasero commented on #143663
The zoom level can be set as a workspace setting.

[2022-02-23 08:12] alexdima commented on #143442
Good search skills! :). In regular VS Code (desktop version) we've written a C++ node module -- https://github.com/microsoft/node-native-keymap -- which we use to listen to OS keyboard layout changes and to read the entire current keyboard layout. You can see this in action in VS Code when you switch keyboard layouts and the default keybindings update. You can see even more info from this module b

[2022-02-23 08:18] alexdima commented on #143664
When having multiple cursors, this is shown in the following areas:
* status bar:

* overview ruler:

* in the editor itself:

[2022-02-23 08:18] #143664 closed

[2022-02-23 08:19] jrieken opened #143667 "Layout picker isn't accessible"
Testing #143581

* use screen reader mode
* run F1 > Customize Layout
* the checked state of Side Bar Position and Panel Alignment aren't read out

<img width="1105" alt="Screen Shot 2022-02-23 at 09 16 55" src="https://user-images.githubusercontent.com/1794099/155282766-27bf411a-75b7-43f3-a3a0-22aa62ce32e1.png">

[2022-02-23 08:20] svarlitskiy commented on #139340
I would think this would be resolved by now.
How about just respecting word wrap settings.
[code]
1. Render x characters, defined by wordWrapColumn
2. Put an ellipsis at the end of the line to show that it is a long line
3A. Scroll those lines on y scroll
3B. After page render, return and rerender the long lines with the full text
3C. Rerender the long lines with full text after user clicks on the

[2022-02-23 08:24] raffi23 commented on #143663
In my opinion it should not be based on workspace settings it should be window based.

[2022-02-23 08:25] aeschli commented on #143504
Is this in the integrated terminal of a WSL window, or from an external Ubuntu terminal?

The steps above work for me for both. The `~` is correctly resolved. This is done by the shell.
If it's with the external terminal,
can you run `VSCODE_WSL_DEBUG_INFO=true code ~/.ssh/known_hosts`? You should then see that `wslCode.sh` is called and it should happen with the resolved input path.

[2022-02-23 08:25] chrmarti commented on #143535
@aGensinger This appears to be from an older version. Could you retry with the latest VS Code Insiders version?

[2022-02-23 08:26] jrieken opened #143668 "Layout control should invoke customize layout"
Testing #143581

* select the layout controller
* it opens context menu
* select "Customize Layout"
* it opens a similar, but more powerful menu

I don't believe that the three "Show" actions are used that frequently to justify a special in-between step. Jumping right into the customize layout control would be much faster

<img width="1122" alt="Screen Shot 2022-02-23 at 09 22 55" src="https://use

[2022-02-23 08:28] jrieken opened #143669 "Layout picker doesn't show keybinding"
Testing #143581

* F1 > Customize Layout
* Some of the entries have keybindinding with the same effect, like `cmd+b` to show/hide the side bar, `cmd+j` for the panel, or `cmd+k z` for zen mode
* The corresponding commands should show those keybinding so that I can learn how to achieve my goal faster

[2022-02-23 08:28] gjsjohnmurray commented on #40290
@ZioCain this is already an option: `"workbench.editor.tabCloseButton": "left"`

[2022-02-23 08:31] polinasok commented on #138091
The mock above shows a pop-up. Will it disappear on its own after a while or will the user always have to close it manually?

[2022-02-23 08:31] isidorn commented on #142983
@meganrogge thanks a lot for fixing :clap

[2022-02-23 08:34] isidorn commented on #143533
Yeah it is an old bug. There is probably just some difference in css class name between top and bottom
fyi @sandy081 for activity bar

[2022-02-23 08:34] isidorn commented on #143536
Great, then let's add the bug label so I verify this. And add it to this milestone and close 😊

[2022-02-23 08:34] #143536 closed

[2022-02-23 08:35] aeschli commented on #143567
I can reproduce on Version: 1.65.0-insider (user setup)
Commit: 32456dc9e7d3194a94dd3ee0322ccf47e461d09c
Date: 2022-02-23T05:16:22.798Z

I would also expect that the file opens as CSS if that's specified in the user settings.

[2022-02-23 08:36] jrieken opened #143670 "Layout picker looks like a wrongly positioned dialog"
Testing #143581

* F1 > Customize Layout

The picker sits at the quick pick position (I assume it's the same/similar code) but it looks like a dialog. It has title with string background and close command. That make it feel like it can be rearranged to a better location (which it cannot). Maybe its better to move the confirm/close button to the bottom

<img width="798" alt="Screen Shot 2022-02-23

[2022-02-23 08:37] nyeakky commented on #143200
I reviewed my code again, and I found I did this

<link rel="stylesheet" href="styles.css" type="txt/css">

Thats where i found the error

Now i changed "txt" to "text", and it have started working properly. Thank you @aeschli for your contribution

[2022-02-23 08:41] linkrope commented on #142705
Yes: with Chrome as well as with Firefox.
[code]

[2022-02-23 08:41] Russ-K commented on #142901
I see this as well.
I disabled all extensions and restarted vscode but the same behaviour remains.
It's not just adding characters either, deleting text 1 character at a time causes the same issue.

VSCode info
Item | Value
-- | --
Version| 1.64.2 (user setup)
Commit| f80445acd5a3dadef24aa209168452a3d97cc326
Date| 2022-02-09T22:02:28.252Z
Electron| 13.5.2
Chromium| 91.0.4472.164
Node.js| 14.16.0
V

[2022-02-23 08:41] jrieken opened #143671 "Suggest to slightly dim the layout control button"
Testing #143581

See attached screen shot. The layout control button is "stronger" than those for find, scm, etc and I believe it isn't the important to justify that

<img width="109" alt="Screen Shot 2022-02-23 at 09 39 48" src="https://user-images.githubusercontent.com/1794099/155285530-f9f0943c-150e-4ff6-8766-099553014491.png">

[2022-02-23 08:42] PeterMinin commented on #91231
Another problem with changing the settings automatically is that if multiple VS Code windows are open, each of them tries to apply the same change to settings.json at the same time. As a result, what I'm observing is that, at theme change, all windows but one show "Failed to save 'settings.json': The content of the file is newer" and open a tab for settings.json with a "modified" status.

`"${pref

[2022-02-23 08:44] jrieken opened #143672 "Selecting a part in the layout picker should highlight it"
Testing #143581

I believe this was already mentioned in https://github.com/microsoft/vscode/issues/137633 and see great value in that. Eg the icons for status bar and panel are very similar. It would be great help to highlight said parts when their knob is selected.

/cc @misolori

[2022-02-23 08:44] #143200 closed

[2022-02-23 08:45] gianmarcoodorizzi commented on #111454
@jrieken: any plans to implement this any time soon? Thank you

[2022-02-23 08:47] jrieken commented on #141065
To verify

* in TS rename a symbol with preview
* make sure the refactor preview window shows prominent accept/discard buttons

[2022-02-23 08:47] JiahongJin1 commented on #139911
This is doesnot repro, so close it.

[2022-02-23 08:47] #139911 closed

[2022-02-23 08:47] CsCherrYY opened #143673 "Update All Extensions doesn't update extensions with pre-release versions in VS Code insiders"
Does this issue occur when all extensions are disabled?: No

VS Code Version: 1.65.0-insider (user setup)
Commit: eeeab304b9ac777b4a8dddf55f66ffebd9e4e7f2
Date: 2022-02-22T14:29:15.294Z
Electron: 16.0.9
Chromium: 96.0.4664.174
Node.js: 16.9.1
V8: 9.6.180.23-electron.0
OS: Windows_NT x64 10.0.22000
Steps to Reproduce:

1. set `extensions.autoUpdate` to `None`
2. Install an extension with pre-releas

[2022-02-23 08:49] #143417 closed

[2022-02-23 08:50] jrieken opened #143674 "workbench.experimental.layoutControl.type options have no doc"
Testing #143581

* configure the `workbench.experimental.layoutControl.type` setting
* the individual options have no doc making it trail and error to understand what it means

[2022-02-23 08:52] weinand commented on #143600
@han6054 please type "which node" in VS Code's integrated terminal.
Does it show the correct path to the node executable?

[2022-02-23 09:04] bpasero commented on #143567
The editor mime type and thus language is determined here:

https://github.com/microsoft/vscode/blob/d2b75508eebb93d95b185e542cdca28e6853c4fb/src/vs/editor/common/services/languagesAssociations.ts#L109

If someone wants to investigate, open for help.

[2022-02-23 09:05] #143635 closed

[2022-02-23 09:07] hediet commented on #143635
Good catch, thanks!

[2022-02-23 09:17] aeschli commented on #143395
I think we need to solve this in our build scripts. In https://github.com/microsoft/vscode/blob/b0cbac3f939329d4074b709058aae05a553089dd/build/lib/dependencies.ts#L60 we compute the tree of dependencies. There we could remove the `keytar` dependencies (along with all it's subdependencies) as we know they are not needed at runtime).

I want to look at implementing this, unless there are better idea

[2022-02-23 09:19] SGGSGGSGG opened #143675 "Couldn't start client Java Language Server"

[2022-02-23 09:20] sandy081 opened #143676 "Unit test failure - memoized property should not be writable"
https://dev.azure.com/monacotools/Monaco/_build/results?buildId=157236&view=logs&j=672276a2-8d3a-5fab-615d-090c51352f92&t=821d316a-2fa3-581f-c34c-57a961b8e328

[code]

[2022-02-23 09:23] brmassa commented on #143657
4 reasons:

1* the same reason browsers do not allow js create pop ups anymore or Android/iOS let you manage notifications... devs abuse.
2* I did HIDE the output tab in the panel. Therefore, I'm expecting VSCode ignore any pop up event. The same if I hide any other element of the UI, like the status bar.
3* if I am working in the terminal tab, it switches to the output tab! Holy!
4* extensions be

[2022-02-23 09:29] BladeMF commented on #135934
@TylerLeonhardt, all set. Now we wait.

[2022-02-23 09:31] ridlwan17 commented on #143577
When i click Toggle Developer Tools, nothing happened. I Can't open it in latest version and 1.54.

[2022-02-23 09:37] wlof202 opened #143677 "附加调试多个远程linux的node.js项目,永远都是第一次调的项目"
Issue Type: <b>Bug</b>

1.远程linux开启多个node.js项目
2.本地win10上vscode 开启某个远程node.js项目
3.附加调试本node项目
 {
            "name": "Attach to Process",
            "type": "node",
            "request": "attach",
            "processId": "${command:PickProcess}"
        },
4.关闭vscode
5.开启另一个远程node.js项目,
6.附加调试本node项目,结果仍然是第2,3步的项目

Remote - SSH
v0.74.0

VS Code version: Code 1.64.2 (f80445acd5a3dadef24aa2091684

[2022-02-23 09:38] lszomoru commented on #143643
@deitry, I see that you are running a relatively old version of VS Code. Could you please confirm that you are able to reproduce the problem in the latest version of VS Code, as well as the latest version of VS Code Insiders? Thank you very much!

[2022-02-23 09:40] sandy081 opened #143678 "Integration tests timed out"
https://dev.azure.com/monacotools/Monaco/_build/results?buildId=157254&view=logs&j=3792f238-f35e-5f82-0dbc-272432d9a0fb&t=ff86458e-371d-5daa-d7a2-208b9a858585

https://dev.azure.com/monacotools/Monaco/_build/results?buildId=157270&view=logs&j=963754b8-394e-5caf-de5d-2790b068caec&t=8df5a49b-98a5-577e-6c23-929b1dbd5f98

[2022-02-23 09:41] sandy081 commented on #143678
Not sure who owns the integration tests infrastructure. Hence assigned it to you @bpasero @Tyriar - Please reassign it to right owner. Thanks.

[2022-02-23 09:41] FreHu opened #143679 "Greedy/non-greedy extension detection for when file has multiple extensions (like something.input.xml)"
When you have a `test.xml` file and execute rename (F2 from file explorer), vscode will preselect only `test` because the user probably doesn't want to change the extension most of the time.

My problem is I use "double file extensions" to add additional semantics to the filename while preserving the xml highlighting, so I will have for example pairs of `something.input.xml` and `something.output.

[2022-02-23 09:44] wlof202 opened #143680 "Attach 调试多个 node.js 进程,结果都是第一次调试的进程"
Issue Type: <b>Bug</b>

{
            "name": "Attach to account",
            "type": "node",
            "request": "attach",
            "processId": "${command:PickProcess}"
        },
1.Attach 调试某个 node.js 进程
2.Attach 调试另一个 node.js 进程,结果还是第1步的进程

VS Code version: Code 1.64.2 (f80445acd5a3dadef24aa209168452a3d97cc326, 2022-02-09T22:02:28.252Z)
OS version: Windows_NT x64 10.0.19043
Restricted M

[2022-02-23 09:44] DanielHabenicht opened #143681 "Improve UX of "Compare Files View""
The current view when comparing two files (with the same name) is rather awkward to work with as ther *is no clue on which file is which*.
![image](https://user-images.githubusercontent.com/13590797/155294288-289e63a2-67ec-4666-bf1a-d83ff92c665a.png)

It would be great to add the file path for both files like this:
![image](https://user-images.githubusercontent.com/13590797/155294645-f368ca79-a3bf

[2022-02-23 09:46] wlof202 commented on #143677
1. attch debug one node.js progress
2. attch debug other node.js progress, just can debug step 1's progress

[2022-02-23 09:46] alexdima commented on #143308
@alexr00 This only reproduces when using the test resolver or when running in the web, so it does not reproduce with `"files.simpleDialog.enable": true`. It seems to be related to the scheme being `vscode-remote:` and not `file:` and to different behaviors with trailing slashes. In the `file:` case we see a `readdir` for `C:\` while in the `vscode-remote:` case we see a `readdir` for `C:` which is

[2022-02-23 09:47] wlof202 commented on #143680
1.attch debug one node.js progress
2.attch debug other node.js progress, just can  only debug step 1's progress

[2022-02-23 09:51] wlof202 opened #143682 "attach debug node.js wrong"
Issue Type: <b>Bug</b>

1.attch debug one node.js progress
2.attch debug other node.js progress, the target was last progress

debug config:
{
            "name": "Attach to node",
            "type": "node",
            "request": "attach",
            "processId": "${command:PickProcess}"
}

VS Code version: Code 1.64.2 (f80445acd5a3dadef24aa209168452a3d97cc326, 2022-02-09T22:02:28.252Z)
OS vers

[2022-02-23 09:53] #143677 closed

[2022-02-23 09:53] #143680 closed

[2022-02-23 10:03] deitry commented on #143643
1.64.2 and 1.65.0-insiders show same behaviour.

[2022-02-23 10:07] yan-alex opened #143683 "Add Mouse Clicks to Configurable 'Keyboard' Shortcuts"
OS Version: Windows 10
It would be nice to have mouse clicks (left & right) as configurable keybindings under the keyboard shortcuts settings. I really like Ctrl + LeftClick for go-to-definition and would like to be able to map Ctrl + RightClick to the go-back command (which is default mapped to Alt + LeftArrow).

Having configurable mouse bindings may also cover some of the other issues/requests

[2022-02-23 10:08] joaomoreno commented on #143395
`prebuild-install` is a production dependency. It needs to be, since npm doesn't have the notion of _installation-time_ dependencies. Unfortunately, it brings many other things: https://www.npmjs.com/package/prebuild-install?activeTab=dependencies

I'm not sure you'll find success here since dependencies might be shared with another one of our dependencies, due to deduplication.

Given that keytar

[2022-02-23 10:10] ShaikRehan123 opened #143684 "Terminal customization"
Add support for customization for terminal like the code editor like changing font family,cursor type , line height and more

[2022-02-23 10:11] FreHu opened #143685 "Goto definition for markdown links"
I can ctrl+click markdown links to open the document, but I don't see a possibility of achieving this through keyboard navigation. Instinctively I would expect goto definition to work in this situation.

[2022-02-23 10:12] #143356 closed

[2022-02-23 10:14] joaomoreno commented on #143676
I can't explain why this test took more than 2s when no code change has happened and when it's been green and fast forever. The only reason I can find is that the build agent VM froze or was busy doing something else right around that time.

[2022-02-23 10:14] #143676 closed

[2022-02-23 10:16] IllusionMH commented on #143683
/duplicate of #3130

[2022-02-23 10:16] #143683 closed

[2022-02-23 10:24] weinand opened #143686 "Markers introduce editors with `query` and `fragment` URIs"
Testing #143608

- open a TypeScript file and create a syntax error
- activate problems view
- drag and drop problem from problem view into editor area

Observe: a second editor is opened for the file

- drag and drop problem again from problem view into editor area

Observe: no additional editor is opened for the file

![CleanShot 2022-02-23 at 11 29 28](https://user-images.githubusercontent.com/

[2022-02-23 10:25] isidorn opened #143687 "Enabling shell integration requires terminal restart"
Testing #143430

Have a terminal, enable `terminal.integrated.shellIntegration.enabled`
In order for this setting to be picked up a new terminal session needs to be started.
It would be a nicer user experience if the current session (if not busy) would auto restart and apply the setting. Or at least offer to restart.

If none of that is possible at least the setting description should mention this

[2022-02-23 10:27] asoran commented on #86690
Still not working on version January 2022 (version 1.64)

[2022-02-23 10:30] wlof202 commented on #143682
when i attach the other progress, show some error logs:
Starting inspector on 127.0.0.1:9229 failed: address already in use

[2022-02-23 10:30] mhqo opened #143688 "Jupter notebook add cell above / add cell below"
When using the "a" command in jupternotebooks, a cell is often not added above the current cell but on top of the notebook in the very first line. However, "b" (for adding a cell below) usually works as intended.

[2022-02-23 10:30] mhqo opened #143803 "Jupter notebook add cell above / add cell below"
When using the "a" command in jupternotebooks, a cell is often not added above the current cell but on top of the notebook in the very first line. However, "b" (for adding a cell below) usually works as intended.

[2022-02-23 10:31] hediet opened #143689 "Cannot navigate to next item after triggering and exiting hover"
Testing #143547

![recording](https://user-images.githubusercontent.com/2931520/155302182-f0365259-f439-456b-90d1-163e8eccdb30.gif)

[2022-02-23 10:33] stevencl opened #143690 "Relative dimension of TOC is not preserved when window is resized"
Testing #143138

Maximize the VS Code window
Resize the TOC so that it is approximately a quarter of available screen real estate
Unmaximize the VS Code window
Reduce the width of the VS Code window until the TOC disappears
Increase the width of the VS Code window until it is the same width as before the previous step
Expected: TOC should be the same width (quarter of available screen real estate)

[2022-02-23 10:33] isidorn opened #143691 "Debug console default suggest widget item icon looks broken"
1. [Smoketest-express repo](https://github.com/microsoft/vscode-smoketest-express)
2. Start debugging, put breakpoint in `index.js:6`
3. `localhost:3000` -> hit breakpoints
4. Debug console -> trigger suggest widget

A lot of icons look broken.
Is this js-debug not providing a proper item type?
Still if this is the default icon it looks like a rendering glitch.

fyi @connor4312 @jrieken

![Screens

[2022-02-23 10:37] stevencl opened #143692 "Not enough spacing between first item in TOC and User/Workspace tabs"
Testing #143138

The top item looks like it should have more spacing:
![image](https://user-images.githubusercontent.com/1704059/155302871-28656577-4396-4580-8f49-39e328268a39.png)

In comparison, this is how it looks in stable:
![image](https://user-images.githubusercontent.com/1704059/155302967-45cb1198-f83a-4ba8-8669-369c709de589.png)

[2022-02-23 10:40] isidorn opened #143693 "Terminal run recent command should use suggest widget and history"
Testing #143430

1. Have the terminal with some commands
2. F1 > Run recent command
3. Quick pick gets opened

I think this is not a nice flow. Since most likely the terminal is at the bottom and the quick pick gets open at the top of the screen, breaking the user visual flow.

Instead the terminal should use the suggest widget like the Debug Console does and show previous history entries in line.

[2022-02-23 10:42] weinand opened #143694 "drag-and-drop multiples items of same resource opens multiple editors"
Testing #143608

- drag-and-drop multiples items of same resource opens multiple editors

![CleanShot 2022-02-23 at 11 38 52](https://user-images.githubusercontent.com/1898161/155303424-27d5be70-75c4-4c4f-bd7d-08e99406fcd1.gif)

I'm not sure whether this is a bug or a feature because the resulting editors show different scroll positions for the different items.

[2022-02-23 10:43] isidorn opened #143695 "Terminal: recent command list should de-duplicate"
Testing #143430
1. Do `ls` twice
2. F1 > run recent commands
3. Notice two entries 🐛

![Screenshot 2022-02-23 at 11 42 22](https://user-images.githubusercontent.com/1926584/155303898-81077016-0367-429c-b7f9-e0b44876c4fe.png)

[2022-02-23 10:45] isidorn opened #143696 "Terminal: run recent command - why does it matter how long ago the command was run"
Testing #143430

The commands are already sorted by timestamp. I do not understand what is the benefit of rendering the exact time when the command was run. We do not do this in other places (like recent folders, recent commands in debug console, recent search terms in search etc).

imho it only brings noise to the quick pick items. Sorting by time is enough.

![Screenshot 2022-02-23 at 11 43 42](

[2022-02-23 10:45] stevencl opened #143697 "TOC split view line adds to visual clutter on settings editor"
Testing #143138

I think the vertical line separating the TOC from the settings editor is visual clutter and is not necessary. I think it would be good if the line was removed. The cursor would still change as the user hovers over the area separating the TOC from the editor to indicate that the panel can be resized.

Right now with the line permanently visible it is distracting and also makes it l

[2022-02-23 10:47] joaomoreno opened #143698 "Extension tree hover keybinding fails to bring focus back to tree"
Testing #143547

Tested in Linux

1. Trigger the keyboard shortcut to open the popup
2. Press any key

🐛 Focus is gone from the tree, so I can't navigate to another tree item

[2022-02-23 10:53] isidorn opened #143699 "Terminal: go to recent directory should be better aligned with our open recent flow"
Testing #143430

F1 > terminal go to recent directory
Opens a quick pick of recent folders worked on in the terminal.
I think this experience should be better aligned with our Open Recent flow.

For example:
Ctrl + R, should at the bottom have a new group Terminal with all the terminal entries
Triggering Ctrl + R, when in the terminal would open this list, but just focus the first terminal entry
T

[2022-02-23 10:53] stevencl opened #143700 "Settings search box seems too wide"
Testing #143138

It looks like the settings search box is now taking the full width of the search editor rather than being centred. This makes it seem too wide. For example, the number of settings found and the control for clearing the search area are way off to the right:

![image](https://user-images.githubusercontent.com/1704059/155305295-8ae98398-eb74-449a-aba3-ab3dc7d55ade.png)

Could the sea

[2022-02-23 10:56] isidorn opened #143701 "Terminal: clear command history is a no-op"
Testing #143430
Linux

1. Run some commands in your terminal
2. F1 > Terminal Clear Command History
3. F1 > Terminal run recent commands
4. All the commands are still there, nothing got cleared 🐛

![Screenshot 2022-02-23 at 11 56 00](https://user-images.githubusercontent.com/1926584/155306002-2aa15950-3bab-4e05-b98b-e22c35df167c.png)

[2022-02-23 10:59] weinand commented on #143682
After "attaching" the VS Code debugger to a node.js process, the node.js process is not automatically terminated when ending the debug session. The VS Code debugger just disconnects from node.js and lets it running.

If you then start another node.js process in debug mode, it will complain because the debug port is still open in the first node.js process.

In order to terminate the node.js process

[2022-02-23 11:01] isidorn opened #143702 "Terminal: sometimes first command is not recorded in history"
Testing #143430

1. Clear command history, reload vscode
2. Before any command is run. F1 > run recent command. This is a noop since nothing got run yet
3. Open terminal, execute `ls`
4. F1 > run recent command. This is still a noop 🐛

I would expect my `ls` command to be shown.

[2022-02-23 11:01] joaomoreno opened #143703 "Terminal: Dropdown popup doesn't always work"
Testing #143433

1. Enable `terminal.integrated.shellIntegration.enabled`
2. Run any command in the terminal
3. Click the decoration, popup menu comes up
4. Resize the terminal
5. Click the decoration again

🐛 Popup menu doesn't come up

[2022-02-23 11:04] isidorn opened #143704 "Terminal: command should be added to recent list on execution not on completion"
Testing #143430

1. Open terminal run `yarn watch` - this will never finish
2. Open another terminal, F1 > run recent command
3. `yarn watch` is not in the list since it never actually finished

[2022-02-23 11:04] joaomoreno opened #143705 "Terminal command decorations: Phrasing is odd"
Testing #143433

<img width="177" alt="image" src="https://user-images.githubusercontent.com/22350/155307046-fddb7262-0597-42ae-85c7-e483c9ac9103.png">

How about _Command executed **just** now and failed_?

[2022-02-23 11:06] isidorn opened #143706 "Terminal: run recent command should open the terminal not be a no-op on startup"
Testing #143430

1. Terminal, run some commands
2. Open new VS Code window in another folder for the first time (terminal is hidden)
3. F1 > Terminal run recent command -> noop 🐛

I understand that the terminal is not yet initialised. But I would expect that this command opens the terminal, waits for it to initialise and then present me the list of previously run commands.

[2022-02-23 11:07] gjsjohnmurray commented on #143681
In your first screenshot you already see the folder name in the breadcrumb of the left file, correct? If you click into the right file does the breadcrumb display on that side instead, telling you the path?

Are you asking for both breadcrumbs to display simultaneously? If so, I think you will lose a hint about which side has focus.

[2022-02-23 11:07] joaomoreno opened #143707 "Terminal command decorations: Same command repeated gets no decoration"
Testing #143433

1. Enable `terminal.integrated.shellIntegration.enabled`
1. Type a command, hit Enter
2. Type the same command, hit Enter

🐛 Every repeated execution after the first gets no decoration

<img width="251" alt="image" src="https://user-images.githubusercontent.com/22350/155307728-8f0f12ea-f48d-41a0-b82d-2452a14f5fb3.png">

[2022-02-23 11:09] gjsjohnmurray commented on #143684
have you investigated existing settings?

![image](https://user-images.githubusercontent.com/6726799/155308123-d3563cf1-0c4d-4442-a7fc-cf1ccf080c48.png)

[2022-02-23 11:13] joaomoreno opened #143708 "Terminal command decorations: Decorations don't update on settings change"
Testing #143433

1. Enable `terminal.integrated.shellIntegration.enabled`
2. Change `terminal.integrated.shellIntegration.commandIconDefault` to `calendar`

🐛 The decoration in the terminal doesn't change instantly, only after pressing `Enter` in the terminal

🐛 And even then, I was able to get in situations in which some decorations didn't even change at all, like this screenshot:

<img width="36

[2022-02-23 11:15] karrtikr opened #143709 "Creating a new stash using icon does not close diff editors"
Testing #143619

![image](https://user-images.githubusercontent.com/13199757/155308771-e1a8c3aa-f198-4b69-8176-bec37d0bf0cb.png)

However if I invoke it via the command as mentioned, it works fine.

[2022-02-23 11:19] deepak1556 commented on #142786
Created a minimal repro https://gist.github.com/deepak1556/59f981cd8a55cda92beadd6bf97330a9, that shows a ping/pong via nodejs sockets between renderer process and child process forked from the main process. After a couple of reloads, the server/renderer will get into a state were the async tasks gets queued up and does not process until another explicit task is executed to flush out the queue.

A

[2022-02-23 11:25] #143161 closed

[2022-02-23 11:25] #143157 closed

[2022-02-23 11:25] #143154 closed

[2022-02-23 11:25] #143134 closed

[2022-02-23 11:25] #143110 closed

[2022-02-23 11:25] #143008 closed

[2022-02-23 11:25] #142592 closed

[2022-02-23 11:25] #141694 closed

[2022-02-23 11:26] hediet opened #143710 "Missing `folderNamesExpanded`"
Testing #143636

Missing `folderNamesExpanded`

![image](https://user-images.githubusercontent.com/2931520/155310545-cacc6169-865c-4cda-b940-3921a4f5c528.png)

[2022-02-23 11:33] bpasero commented on #143308
Just to clarify, when the file service gets a path `C:` it calls `path.normalize` which will return `C:.` (not the trailing `.`). This seems to translate into `fs.readdir(.)`, i.e. current working directory.

[2022-02-23 11:33] apear1 opened #143711 "In VSC no </> to allow "Retrieve and Open Source"."
In VSC when connected to any Salesforce org. there is no </> next to the metadata item for reports and dashboards to allow "Retrieve and Open Source" of the item - for other items there are as per the attached screenshot.
![HoverScreenshots_NoBrackets](https://user-images.githubusercontent.com/100283778/155311361-dd0448f7-a739-453f-9553-e89933a427f2.png)
.

[2022-02-23 11:35] bpasero commented on #143193
How would that work exactly UX wise? Would editors literally close? What if I only have diff editors open from SCM and click on the explorer?

//cc @misolori

[2022-02-23 11:35] DanielHabenicht commented on #143681
Hi @gjsjohnmurray

Yes

no, the breadcrumb is only displayed for the left file. It does not change on focus.

Yes, as there is no hint getting lost it should be straightforward to implement.

I am also happy to provide a PR, but I never contributed to VSCode before. Maybe I can look into it next weekend.

[2022-02-23 11:37] dieulot opened #143712 "MacOS Monterey: Can’t switch between windows with localized keyboard shortcuts"
Issue Type: <b>Bug</b>

With MacOS Monterey set up with a French keyboard layout on installation, cmd + < doesn’t work.

https://mjtsai.com/blog/2021/06/17/macos-12-localized-keyboard-shortcuts/
(The link to the WWDC video is apparently all the docs about the change that Apple provides. The Twitter thread has some more details but they’re probably irrelevant, the only notable thing is that MacOS n

[2022-02-23 11:40] IllusionMH commented on #143711
/causedByExtension

Looks like these views are contributed by an extension (I think Salesforce) and therefore requests/questions should be addressed in corresponding extensions repo/issue tracker.

[2022-02-23 11:40] #143711 closed

[2022-02-23 11:44] gjsjohnmurray opened #143713 "Shell integration: suggestion for message tweak"
![image](https://user-images.githubusercontent.com/6726799/155313018-e386c332-3043-410c-a43d-1a7b1dc883e4.png)

Maybe align the shell integration activation message appearance with how session contents restore gets reported.

Also, perhaps drop the exclamation mark.

[2022-02-23 11:45] bpasero commented on #143678
CI machine seems unhealthy for those runs, but not sure why.

Some things from the logs:

@mjbvz

[code]

@Tyriar

[code]

@jrieken we should probably not start profiling on an extension test run?

[code]

The remote one shows suspicious `ENOSPC` errors so I wonder if something changed with the hardware we are running on and sometimes we get allocated a slow CI machine?

Typically these tests seem

[2022-02-23 11:48] justanotheranonymoususer commented on #140960
This doesn't look like a good and secure implementation to me.
Consider the following code:
[code]
As far as I understand, nothing will be highlighted after the change. But paste the code to an editor before the change and you'll see why it's bad.

I think it should only skip the highlighting if the word contains only characters from a single language.

Also, there must be a way to disable this wo

[2022-02-23 11:53] bpasero opened #143715 "Setting should indicate the exceptions"
Testing #143428

![image](https://user-images.githubusercontent.com/900690/155314394-ef2ef744-248e-47f8-abc7-26fb807fa80b.png)

[2022-02-23 11:54] bpasero opened #143716 "When pasting a something followed by a trailing new line (this would make the feature annoying)"
Testing #143428

I still get a warning when I paste the following into `bash` on `macOS` which is multi-line but with a trailing new line:

[code]

![image](https://user-images.githubusercontent.com/900690/155314618-acf417ef-a6fd-48c6-843f-2e3e898a3f5b.png)

[2022-02-23 11:56] apear1 commented on #143711
Thanks for the pointer but can you provide the link to channel this issue in the right direction? Thanks.

[2022-02-23 11:58] alexr00 commented on #143368
Thank you for the detailed issue! I have moved it to the upstream repo that we get our yaml syntax highlighting grammar from: https://github.com/textmate/yaml.tmbundle/issues/39

[2022-02-23 11:58] #143368 closed

[2022-02-23 11:58] hediet commented on #143636
Nice work on the feature!
It is cool that the theme.json file supports hot reload!

[2022-02-23 12:00] gjsjohnmurray commented on #143713
/assign @Tyriar
/assign @meganrogge

[2022-02-23 12:00] alexr00 commented on #143698
This is a known issue. We will need to make a change to the hover service to support this.

[2022-02-23 12:01] alexr00 commented on #143689
Duplicate of https://github.com/microsoft/vscode/issues/143698

[2022-02-23 12:01] #143689 closed

[2022-02-23 12:01] ShaikRehan123 commented on #143684
@gjsjohnmurray I am really Sorry

[2022-02-23 12:01] #143684 closed

[2022-02-23 12:02] gjsjohnmurray commented on #143709
@karrtikr I think this command icon is contributed by GitLens

[2022-02-23 12:03] alexr00 commented on #143518
I can't reproduce in VS Code insiders. Maybe @hediet has already fixed this?

[2022-02-23 12:06] bpasero opened #143717 "Clarify how base URI is handled as folder"
Testing #143647

[code]

This seems to be determined by whether the `baseUri` has a trailing slash or not but I was first expecting you to figure this out just by the path and maybe `fs.stat`. I would clarify the requirement for a trailing slash if the base URI is a folder.

[2022-02-23 12:07] hediet commented on #143518
I'm very sure this is due to a rust extension that assigns `[` and `]` different language kinds, thus confusing the bracket colorization.
You can use the inspect token feature to verify that.

[2022-02-23 12:07] gjsjohnmurray commented on #143681
@DanielHabenicht you are correct. I had misremembered. However if you hover over the tab does the tip help you as a workaround?

[2022-02-23 12:08] alexr00 commented on #143597
Apparently this is a feature: https://github.com/MagicStack/MagicPython/issues/114#issuecomment-349115524

You can use uppercase `R` to highlight as a raw string.

[2022-02-23 12:08] #143597 closed

[2022-02-23 12:09] karrtikr commented on #143709
That is actually true, it's still confusing as the rest of the icons work fine.

[2022-02-23 12:12] bpasero opened #143718 "Should there be a fast access to active tab group?"
We have `activeTab` on `tabGroup` but no way of getting fast at the active tab group other than looping over all it seems.

[2022-02-23 12:13] alexr00 commented on #143518
I can't reproduce in 1.64.2 either. Token scopes all look good in both. @EFanZh maybe you have an extension installed that is causing this. You can use the [extension bisect feature](https://code.visualstudio.com/blogs/2021/02/16/extension-bisect) to determine which one if it isn't obvious.

[2022-02-23 12:13] #143518 closed

[2022-02-23 12:13] gjsjohnmurray commented on #143709
I suggest you report it on GitLens. When the new command arrives in 1.65 maybe they will adopt it.

[2022-02-23 12:13] bpasero commented on #143718
Maybe `window.activeTabGroup`?

[2022-02-23 12:13] gjsjohnmurray commented on #143709
/causedByExtension

[2022-02-23 12:13] mitsukuri commented on #46718
This issue is 3 years, 10 months, 3 weeks, 6 days old today.

[2022-02-23 12:14] #143709 closed

[2022-02-23 12:17] bpasero commented on #139786
verified via https://github.com/microsoft/vscode/commit/6dee30baa85e99e245f6b7c940c7ad13f3a3199a

[2022-02-23 12:30] justanotheranonymoususer commented on #143553
Adding a test case suggestion from #140960:
[code]
Should highlight.

[2022-02-23 12:30] jimsnab commented on #142969
@alexdima thanks for the workaround suggestion. I've been using it and it greatly helps the test runner usage. But it degrades in other places. For example the below mode has been annoying me inside structs, that are usually at the top of the file. Overall though it is much more usable.

I think the best thing would be to nudge the 'above' mode properly above the whole line.

[2022-02-23 12:32] alisnsm opened #143719 "o"

[2022-02-23 12:33] DanielHabenicht commented on #143681
Yes, but with long projects paths. I am searching for a needle in this path:
![image](https://user-images.githubusercontent.com/13590797/155319470-80093e5a-269e-4475-a941-6de63de9e4ae.png)

My current workaround is to just add a word flag to the top....

Are bugs closed automatically as well? I think #135896 is actually a bug. Because the breadcrumb does not fit the file that is shown beneath. So

[2022-02-23 12:49] tourajvaziri commented on #143132
Thanks for fixing. Verfied it is working in the latest vscode insider build!

[2022-02-23 12:57] hediet commented on #140960
Thanks for your input!

This is correct.

To be secure, we recommand configuring `"editor.unicodeHighlight.nonBasicASCII": true`. We don't guarantee security with the other settings, just heuristic protection against common unicode spoofing attacks.

Also, if you use non-basic ascii characters for identifiers, you are making yourself much more vulnerable for such attack.

Might be worth to conside

[2022-02-23 12:59] hediet opened #143720 "Stricter Contextual Unicode Highlighting: Consider Same Script"
This doesn't look like a good and secure implementation to me.
Consider the following code:
[code]
As far as I understand, nothing will be highlighted after the change. But paste the code to an editor before the change and you'll see why it's bad.

I think it should only skip the highlighting if the word contains only characters from a single language.

Also, there must be a way to disable this wo

[2022-02-23 13:00] sandy081 opened #143721 "Reloading the window is not opening the opened folder"
Testing #143456

- Open https://insiders.vscode.dev/
- Open a folder
- Reload window

🐛 Folder is not opened

[2022-02-23 13:02] sandy081 opened #143723 "Opening the folder from recent is not restoring the editors"
Testing #143456

- Open https://insiders.vscode.dev/
- Open a local folder
- Open some files
- Reload window
- Open the same folder from Recent menu
🐛 Editors are not restored

[2022-02-23 13:03] justanotheranonymoususer commented on #143720
Is that the default? I'd prefer VSCode to be secure by default.

The code might be authored by somebody else.

Sounds good.

[2022-02-23 13:05] BMBurstein opened #143724 "Wrong setting description"
Issue Type: <b>Bug</b>

The description for editor.guides.highlightActiveBracketPair is copied from editor.guides.bracketPairs

VS Code version: Code 1.64.2 (f80445acd5a3dadef24aa209168452a3d97cc326, 2022-02-09T22:02:28.252Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No
Remote OS version: Linux x64 5.4.0-100-generic

<details><summary>Extensions (15)</summary>

Extension|Author (trunc

[2022-02-23 13:05] millerdev commented on #142941
@bpasero thanks for looking into this issue. I think you are correct that `trySelectFirst()` is the culprit. I came to the same conclusion.

@TylerLeonhardt I'll give that a try, although there is a cascade of events that fire when the value is updated programmatically (see https://github.com/microsoft/vscode/issues/122939#issuecomment-839172774 and https://github.com/microsoft/vscode/issues/13597

[2022-02-23 13:16] dbaeumer commented on #142647
Works as advertised :-)

[2022-02-23 13:18] hediet commented on #143720
This is the default for untrusted workspaces. You should only open a workspace as trusted when you can rule out malicious intent.

Then you should reject that PR.
In your example, `λ` and `ג` might actually be confusable.

[2022-02-23 13:26] djey47 commented on #143275
Here are my settings : https://gist.github.com/djey47/6fe6a50cd390adbd9e79e242c1879b7f

Issue with trace logging is I'm not getting anything in AppData\Roaming\Code\logs directory : to be sure I've deleted all logs before starting vscode. (`code --log trace`).

[2022-02-23 13:28] jrieken commented on #143678
🤷 Profiling doesn't really come at a cost and I don't really want to litter my code with "if running tests"-check. IMO we should be concerned that the extension host apparently is frozen during test runs

[2022-02-23 13:30] jrieken commented on #143691
Which icon do you mean? The wrench is for property, the half-shredded paper is for snippets. Maybe the question is why do snippet suggestions appear in the debug console?

[2022-02-23 13:42] weinand opened #143725 "Debug hover could trigger a lazy variable refresh"
Testing #143572

- hover over a lazy variable to trigger a fetch of the value

Observe: hover shows real value but Variables view or inline values do not

![CleanShot 2022-02-23 at 14 40 17](https://user-images.githubusercontent.com/1898161/155330768-420a9b96-e485-4d8c-9435-75740213b0f4.gif)

This behavior is different from the Variables view where fetching a "lazy" value triggers an inline values

[2022-02-23 13:45] orinwalker commented on #115730
Yes this would be very helpful!

[2022-02-23 13:50] raminrch opened #143726 "timeout during open a file in mounted folder"
hi,
i mount a cifs share folder but when i want to open a file in tha that directory, the vscode doesn't respond and below error displayed :
INFO:CONSOLE(1)] "TypeError: setTimeout(...).unref is

[2022-02-23 13:54] isidorn opened #143727 "Audio cues: fast line changes are not debounced"
Testing #143550

1. Turn on audio cues for errors on line or breakpoints
2. Have 5 lines one after the other with an error
3. Quickly navigate over them using the up key
4. You will quickly hear the errors sound 5 times. The sound is not debounced

I would expect to only hear the sound once if there is an error on the last line I stop.

[2022-02-23 13:55] #143556 closed

[2022-02-23 13:58] alexr00 commented on #143308
@alexdima and I looked together and tested on 4 Windows computers. 3/4 had the behavior that he sees (`readdir('c:')` is the same as `readdir('.')` and 1/4 had the behavior I see. Unclear why there is different behavior, but at least now I have a repro I can test with.

[2022-02-23 13:59] isidorn opened #143728 "Help: audio cues wording polish"
Testing #143550

Here's how it looks right now

![Screenshot 2022-02-23 at 14 55 59](https://user-images.githubusercontent.com/1926584/155333407-9c943bb2-1677-416a-b622-984caeb66902.png)

Here's what I propose:

* Error on Line
* Warning on Line (Disabled)
* Folded Area on Line
* Breakpoint on Line
* Inline Suggestion on Line
* Debugger Stopped **o**n Breakpoint
* No Inlay Hints on **L**ine

This

[2022-02-23 13:59] #143727 closed

[2022-02-23 13:59] #143719 closed

[2022-02-23 14:00] zohimchandani commented on #143104
![Recording 2022-02-23 at 13 58 54](https://user-images.githubusercontent.com/60148725/155333910-8c32727c-b526-4281-b894-d8b05cc9e8a9.gif)

The same issue happens when deleting a large number of files at once. As you can see in the gif, the wheel at the bottom rotates for a long time and then VS code crashes and asks for a reload.

[2022-02-23 14:02] isidorn commented on #135908
I tried it out and works as expected -> adding verified label.

Users try this out by setting `"audioCues.debuggerStoppedOnBreakpoint": "on"` in your settings.
Feedback is very much welcome. Thank you!

[2022-02-23 14:04] zohimchandani commented on #143104
![Recording 2022-02-23 at 14 04 08](https://user-images.githubusercontent.com/60148725/155334767-7a3fed1c-53ad-4c19-8fe6-9f839e1e0ddd.gif)

As you can see, VS code crashes, asks to login again but fails to delete all the files

[2022-02-23 14:05] enkhjile opened #143729 "VSCode intergated terminal showing SetuptoolsDeprecationWarning"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.64.2
- OS Version: 12.0.1

After upgrading python version to 3.9.10 VSCode terminal keep showing following warnings. I'm not using python installed with pyenv as default python (not homebrew version).

Steps to Reproduce:

1. Update python3.9.10 with homebrew
2. Lauch vs code

[2022-02-23 14:07] isidorn commented on #143727
The new debounce interval is better, I just tried it out of source -> verified

[2022-02-23 14:07] BladeMF commented on #135934
I wonder whether the problem occurs when the token expires and needs to be renewed or extended?

[2022-02-23 14:09] isidorn commented on #143691
Thanks for clarifying so we have two things here as you say:
1) Snippets should not appear in debug console
2) Snippet half-shredded paper icon looks like broken rendering to me. I think we need a better icon (though it might be just me) @misolori @daviddossett what do you think?

[2022-02-23 14:14] weinand opened #143730 "Second level lazy variables fail in WATCH view, debug hover, and REPL"
Testing #143572

- use version 1.49.5 of Mock Debug since I've added second level lazy variables
- add variable `$o` as a WATCH expression
- set a breakpoint in line 28 of `sampleWorkspace/readme.md`
- start debugging and hit breakpoint
- for `$o.flazyInteger` press "lazy" button in Variables view, Watches view, and debug hover, and REPL

Observe: the value is only fetched in the Variables view, b

[2022-02-23 14:16] sandy081 commented on #143694
Interesting, I think it is working as expected because each of them are pointing to different locations. I do not know who is DnD expert, hence CCing @bpasero for opinions.

[2022-02-23 14:16] isidorn opened #143731 "Sound wrongly played on editor focus when previous location contained an audio cue"
Testing #143550

Turn on audio cues, for example for breakpoints or errors.

Have two editors side by side. Left editor has a line with a breakpoint, right one has no audio cues.
Focus on the left editor cursor navigate to the line with a breakpoint. Sound is played, great
Focus right editor. No sound -> great
Click on left editor on some line that does not have a breakpoint. Breakpoint sound is w

[2022-02-23 14:17] alexdima commented on #143712
Switching between windows (which on a US kb layout is at `` cmd + ` ``) is a keybinding handled by the OS. I am not sure if even Electron/Chromium can do anything to influence it in any way.

@dieulot Have you found that other applications behave differently than VS Code? How about Edge or Chrome?

[2022-02-23 14:17] isidorn commented on #143728
I would not update the setting description. The current one is fine.
Assigning to this milestone, so we have track of all the bugs we fixed :)

[2022-02-23 14:19] sandy081 commented on #143686
I suspect this is because the marker resource has location information in the URI. Probably workbench editor is treating URIs with and without location as different resource.

Since Drop is handled by the editor assigning to @bpasero

[2022-02-23 14:21] alexdima commented on #142901
@ogmios-voice @Russ-K Can you please attach CPU profiles? I am happy to take a look and see if there's something we can improve.

[2022-02-23 14:23] hediet commented on #143728
btw. I could use the multicursor feature here to paste all your suggestions at once into the source code, that felt great ;)

[2022-02-23 14:23] alexdima commented on #143665
Duplicate of https://github.com/microsoft/vscode/issues/142291

[2022-02-23 14:23] #143665 closed

[2022-02-23 14:24] he852100 opened #143732 "假死内存占用过高"
所需的数据太大，无法直接发送。我们已经将其写入剪贴板，请粘贴。

Issue Type: <b>Bug</b>

调整分辨率后，假死，不断增大，目前14gb,98%

VS Code version: Code 1.64.2 (f80445acd5a3dadef24aa209168452a3d97cc326, 2022-02-09T22:02:28.252Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 5 2600 Six-Core Processor             (12 x 3394)|
|GPU Status|2d_canvas: enab

[2022-02-23 14:24] isidorn commented on #143728
Haha fancy!!
Yeah that's the biggest benefit of the multi cursor feature - you feel great after successfully using it :D

[2022-02-23 14:25] #143724 closed

[2022-02-23 14:27] alexdima commented on #143633
cc @rebornix . Not sure what would be best here, to eventually add a new setting specific for notebooks, to simply respect the editor setting, or to introduce a global setting that would affect all scrollbars...

[2022-02-23 14:28] alexdima commented on #143603
@chguw Please try out the [latest Insiders build](https://code.visualstudio.com/insiders/) and check if the problem still reproduces.

[2022-02-23 14:33] lramos15 commented on #143193
We did the opposite in the hex editor and showed the hex viewlet whenever a hex editor was active and people didn't seem to like that too much. I think this might be similarly annoying but should be somewhat feasible with the tabs API. You would lose some scroll state and what not

[2022-02-23 14:37] isidorn opened #143734 "Trigger inline suggestion command does not do anything"
Testing #143550

1. Go to a line where Copilot suggests you something. Sound is played -> great!
2. Now F1 > trigger inline suggestion command
3. No effect 🐛

I would expect the inline suggestion hover to show up and that focus is passed into it.

[2022-02-23 14:39] isidorn commented on #143550
Great job, works nicely!

[2022-02-23 14:40] weinand commented on #143572
@roblourens great stuff!

I've verified (by changing Mock Debug) that an empty value placeholder prevents an inline value from showing.

[2022-02-23 14:42] Tyriar commented on #140308
@pitust it's off by default, don't turn it on if you don't like it

[2022-02-23 14:44] alexdima opened #143735 "Editor selection has low contrast with background in Light High Contrast Theme"
Testing #143425

<img width="347" alt="image" src="https://user-images.githubusercontent.com/5047891/155342186-9c22f871-a6ca-4295-a0ad-676f9be48bdc.png">

[2022-02-23 14:46] isidorn opened #143736 "Refactor preview: not all checkboxes should be tabstops"
Focus on the refactor preview view.
Press tab (wanting to focus on the apply / discard)
Instead focus is moved on all the checkboxes. You have to press tab a lot 🐛

I suggest to use the same strategy as the breakpoints view.
Tab does not move focus to the checkboxes.
And make sure that your role of your tree items is checkbox (`TreeAccessibilityProvider` has this built in to choose roles)

[2022-02-23 14:46] isidorn commented on #141065
Works great -> verified
I filled a follow up issue https://github.com/microsoft/vscode/issues/143736

[2022-02-23 14:47] Tyriar commented on #140308
@pitust shell integration is off by default, but if you have that turned on the decorations will appear. It shouldn't be covering up the prompt, that would be a bug. It's been under heavy development the last 2 weeks and has been in a not so great state because of that.

You can turn off the decorations currently by setting this:

[code]

This will likely change though as that's not that easy to f

[2022-02-23 14:50] Tyriar opened #143737 "Provide an easy way to disable command decorations"
Currently you can disable them via:

[code]

But this is not particularly easy and the decorations still end up rendering. We should have a switch that disables them outright, including adding them to xterm.

[2022-02-23 14:51] amansk0307 commented on #143633
I would like to have a dedicated option for notebooks, and a global feature that affects all scrollbars including notebooks....
Maybe I'm just greedy 😅

[2022-02-23 14:52] Tyriar opened #143738 "Tweak command decoration setting names"
Currently we have these settings:

[code]

These should be:

[code]

[2022-02-23 14:52] alexdima opened #143739 "Whitespace color seems too strong in Light High Contrast"
Testing #143425

<img width="512" alt="image" src="https://user-images.githubusercontent.com/5047891/155343587-d2bc9d93-abcd-4ff6-8a47-a278b61f5988.png">

<img width="525" alt="image" src="https://user-images.githubusercontent.com/5047891/155343726-ee86772a-df9f-46c1-9d0c-106bc2826c06.png">

[2022-02-23 14:53] isidorn opened #143740 "Inlay hints that support double click gestures should use cursor: pointer"
Follow steps from https://github.com/microsoft/vscode/issues/141576#issuecomment-1047059437
The inlay hints can be clicked upon. But this is very hard to discover.
I suggest to at least render the mouse as a point on hover over those inlay hints.

Also why is it double click and not single click? Double click makes it even harder to discover.

Also only the right inlay decoration renders the under

[2022-02-23 14:53] Tyriar commented on #143205
We want the following:

- terminalCommandDecoration.defaultBackground (grey)
- terminalCommandDecoration.successBackground (blue)
- terminalCommandDecoration.errorBackground (red)

[2022-02-23 14:53] isidorn commented on #141576
Works nicely -> verified. Filled follow up issue https://github.com/microsoft/vscode/issues/143740

[2022-02-23 14:54] Tyriar opened #143741 "Changing command decoration icon settings should update all existing decorations on save"
1. Run some commands in the terminal
2. Change `terminal*commandIcon` settings, the decorations should update immediately

[2022-02-23 14:55] Tyriar commented on #140308
Created https://github.com/microsoft/vscode/issues/143737 to follow this up

[2022-02-23 14:55] alexdima opened #143742 "Low contrast in breakpoints line numbers in Light High Contrast"
Testing #143425

<img width="323" alt="image" src="https://user-images.githubusercontent.com/5047891/155344438-2b6a716f-95cb-4605-a64a-8fb2452b213f.png">

[2022-02-23 14:56] #143731 closed

[2022-02-23 14:56] jrieken commented on #143740
The underline is something different than the dbl-click gesture... It's complicated but parts of an inlay hint can be links and the whole inlay hint can have a double click command. That should also answer why it is double click, not single click. Tho, I still like the pointer suggestion

[2022-02-23 14:57] alexdima opened #143743 "Low contrast in Remote Explorer icons in Light High Contrast"
Testing #143425

<img width="316" alt="image" src="https://user-images.githubusercontent.com/5047891/155344665-bddd0641-f9ba-4b03-8af5-5e2805d4dc18.png">

[2022-02-23 14:57] Tyriar commented on #143713
@JacksonKearl FYI multiple `/assign` commands may not be working as expected? Is `/assign @a,@b` or something the right syntax?

[2022-02-23 14:58] hediet commented on #143731
Nice catch!

The issue was that clicking into an unfocused editor would first focus the editor and only then update the position.
In my implementation of debounced observables, the observable would be defined immediately and only debounce following updates.

Thus, when focusing an editor and all observables are recreated, the audio cue was played immediately and then after the debounce it would po

[2022-02-23 14:58] Tyriar commented on #143713
The session restore one is really loud to make it very clear about the separation in the buffer. I'll drop the exclamation mark.

[2022-02-23 14:59] daevski commented on #143092
I would like to add this as evidence for something being a little off about the algorithm... I will also upvote. Thank you.

![notepad++vs-vscode-compare](https://user-images.githubusercontent.com/26718996/155344737-a26075e1-ef5d-4a1c-a5b3-b87f23c9cbf5.png)

[2022-02-23 14:59] #143713 closed

[2022-02-23 15:00] hediet commented on #143734
What do you mean with "No effect"?

You can do that with Ctrl+K, Ctrl+I.

[2022-02-23 15:03] daevski commented on #84981
Yeah, this is ridiculous; notepad++ compare on the left, vscode compare on the right.

![notepad++vs-vscode-compare](https://user-images.githubusercontent.com/26718996/155344737-a26075e1-ef5d-4a1c-a5b3-b87f23c9cbf5.png)

[2022-02-23 15:05] huyhoang8398 commented on #143577
INFO IExtensionHostStarter.start() took 361 ms.
log.ts:313   ERR [Extension Host] (node:23642) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.
(Use `code --trace-deprecation ...` to show where the warning was created)
console.ts:137 [Extension Host] (node:23642) [DEP000

[2022-02-23 15:08] Tyriar commented on #143716
This is the feature working as designed, the setting could be a number but I think that needlessly over complicates things when you're probably someone who should disable the feature outright if you do this a lot. Alternatively get used to hitting enter after pasting.

[2022-02-23 15:08] #143716 closed

[2022-02-23 15:09] #143308 closed

[2022-02-23 15:10] lramos15 opened #143744 "History based language detection doesn't appear to use files in workspace"
Testing #143576

1. Open the VS Code workspace
2. Don't open any files
3. Create an untitled file
4. Paste
[code]
5. :bug: Even though this is a typescript snippet within a workspace with plenty of typescript files the model doesn't pick it up
6. Open a TS file
7. Repaste that snippet, and notice the model then picks it up.

This leads me to believe that the workspace files either aren't used or a

[2022-02-23 15:11] Tyriar commented on #143699
Going to a recent directory in the terminal by typing `cd ...` is very different to opening a new window, this doesn't really work from a code layer perspective either as we'd need the terminal to contribute paths into it. Ultimately though, we cannot intercept ctrl+r in the terminal as it's a critical keybinding for reverse search in nearly every shell. This command (and command history) is mostl

[2022-02-23 15:11] #143699 closed

[2022-02-23 15:13] Forlini91 opened #143745 "Preserve type of (effectively) constant variables in the outer scope inside callbacks"
We often have a situation like this:
The result of a function is stored in a variable and we use that variable in a callback
![image](https://user-images.githubusercontent.com/12827228/155343933-9beac559-2c13-40d0-a0a1-b7c7d4a4acf3.png)

As you can see, the variable x is "effectively" constant (not const, but it is never reassigned. I use var because my project must support ECMA Script 5) and a qu

[2022-02-23 15:18] karrtikr commented on #143709
Created https://github.com/gitkraken/vscode-gitlens/issues/1830

[2022-02-23 15:18] alexdima opened #143746 "Diff Editors are not closed when running `Git: Close All Diff Editors`"
Testing #143619

* open some git diff editors
* focus a regular editor
* run `Git: Close All Diff Editors`
* 🐛  the diff editors do not close

https://user-images.githubusercontent.com/5047891/155348884-5cb01dae-4b03-4e42-8a07-63991918cca5.mp4

[2022-02-23 15:19] isidorn commented on #143731
Thanks for fixing 👏
Adding to February milestone so I verify this tomorrow.

[2022-02-23 15:20] Tyriar commented on #143678
The xterm warning is harmless in this case and I don't particularly want to remove it because it could be useful in diagnosing an issue where the terminal failed to be created.

[2022-02-23 15:21] isidorn commented on #143734
I mean nothing happened when "trigger inline suggestion" command is triggered. What is that supposed to do exactly if not trigger the hover?

Feel free to use this issue as a placeholder for "tab does not move focus inside hover"

[2022-02-23 15:22] alexdima opened #143747 "Diff Editors are not closed after operation"
Testing #143619

* open some diff editors
* stash changes
* 🐛 the diff editors remain open

https://user-images.githubusercontent.com/5047891/155349534-7a830ea7-04b7-4598-82ae-1d3f7c29310c.mp4

[2022-02-23 15:23] lramos15 commented on #143746
Proposed API changed, forgot to update the git extensions consumptions of this API

[2022-02-23 15:23] lramos15 commented on #143747
Same fix of #143746 will fix this

[2022-02-23 15:23] #143747 closed

[2022-02-23 15:24] alexdima commented on #143619
It looks like this needs to be retested with a new Insiders because there was proposed API breakage -- https://github.com/microsoft/vscode/issues/143746#issuecomment-1048897416

[2022-02-23 15:29] gjsjohnmurray commented on #134453
Placeholder text now uses a word for the modifier, so I think this issue can be closed.

[2022-02-23 15:32] bpasero commented on #143716
Reading the test description I had expected that a string that I paste that has a trailing new line will not bring up the dialog.

[2022-02-23 15:33] #143721 closed

[2022-02-23 15:34] bpasero commented on #143723
We decided to not restore folders for now.

//cc @egamma

[2022-02-23 15:34] Tyriar commented on #143678
https://dev.azure.com/monacotools/Monaco/_build/results?buildId=157254&view=logs&j=3792f238-f35e-5f82-0dbc-272432d9a0fb&t=ff86458e-371d-5daa-d7a2-208b9a858585 , the timeout seems to be getting hit. Not sure what the normal runtimes are but a lot of tests relating to webviews (markdown, notebooks) take nearly 20 seconds.

---

For https://dev.azure.com/monacotools/Monaco/_build/results?buildId=1572

[2022-02-23 15:35] bpasero commented on #143493
VS Code supports a wide range of file encodings. You can see the full list when you click on the lower right status bar where the encoding is shown and then choose to either reopen the file with a specific encoding or save the file with a specific encoding:

![image](https://user-images.githubusercontent.com/900690/33760971-db202986-dc07-11e7-8ca0-f8d8938cef7f.png)

There are two options how to co

[2022-02-23 15:35] Tyriar commented on #143716
Oh I'll fix that up, it's just a special case for pasting a single line followed by a new line as that's essentially a single line.

[2022-02-23 15:37] Tyriar commented on #143741
/duplicate https://github.com/microsoft/vscode/issues/143708

[2022-02-23 15:40] bpasero commented on #143686
We cannot introduce URIs like that for opening editors. Please do not add `query` or `fragment`. For example, here we remove fragment before passing to editor service, so maybe we miss a place:

https://github.com/microsoft/vscode/blob/f08ebcee85b83b886a27331dfa7f458e2ae251f2/src/vs/editor/browser/services/openerService.ts#L67

[2022-02-23 15:42] lszomoru commented on #143193
This request has come up from two separate users as feedback on the feature to automatically close diff editors:
- https://github.com/microsoft/vscode/issues/18651#issuecomment-1035253754
- https://github.com/microsoft/vscode/issues/18651#issuecomment-1035263492

[2022-02-23 15:42] meganrogge commented on #143397
We think this could be a problem with the pty service - going to look at the shared process logs when it happens next

[2022-02-23 15:42] bpasero commented on #143726
/gifPlease

[2022-02-23 15:42] Tyriar commented on #143701
This is by design as clearing history only clears the previous session commands. We don't discard the current session as they're all in the active terminal marked by decorations. It does however clear the active terminal's current session history from the previous session history (which hides by default as they would duplicate the content).

[2022-02-23 15:43] bpasero commented on #143193
@lszomoru those comments do not really go into detail of how this would work.

[2022-02-23 15:44] lszomoru commented on #143746
Thank you @lramos15!

[2022-02-23 15:45] bpasero commented on #143104
Sorry, where is the crash in above videos? I see a disconnection error but no crash?

[2022-02-23 15:47] Tyriar commented on #143705
We use this helper for this: https://github.com/microsoft/vscode/blob/adb8450420fee8b22d04c2f808dd4e2caad62b0f/src/vs/base/common/date.ts#L15

It gives us "now", "x seconds ago", "y minutes ago", etc., special casing "now" would mean either bringing the 30 second magic number into terminal land or making the change globally which is a much bigger change I'm not comfortable doing. Since we use it t

[2022-02-23 15:47] #143705 closed

[2022-02-23 15:48] isidorn commented on #143701
I find this very counterintuitive... As no other clear command in VS Code behaves that way.

[2022-02-23 15:49] meganrogge opened #143749 "Insider's vscode.dev opens to a random PR"
Testing #143461

I signed in to github and this is what I saw. I have never seen this PR before and have no idea where it's coming from.

Is this expected?

![Screen Shot 2022-02-23 at 9 48 02 AM](https://user-images.githubusercontent.com/29464607/155354791-58d43503-21ec-462e-976f-110e4e5d7e20.png)

[2022-02-23 15:49] meganrogge commented on #143749
Other info:
![Screen Shot 2022-02-23 at 9 49 46 AM](https://user-images.githubusercontent.com/29464607/155355142-3c54b4ef-c68b-4ca6-873f-17b5ae4325ad.png)

[2022-02-23 15:51] gjsjohnmurray commented on #142748
Is this a duplicate of #130587?

[2022-02-23 15:52] Tyriar commented on #143701
I cleared recently opened and the active windows still show up, this is essentially the same thing the terminal history is doing:

![image](https://user-images.githubusercontent.com/2193314/155355587-caf2c149-fdcd-45f3-a95a-5b84fd5c44f8.png)

[2022-02-23 15:52] meganrogge commented on #143749
cc @alexr00

[2022-02-23 15:52] gjsjohnmurray commented on #133067
Seems related to #130280

[2022-02-23 15:53] meganrogge commented on #143749
I exited review mode (having never entered it myself in the first place) and am still in this random repo
![Screen Shot 2022-02-23 at 9 52 46 AM](https://user-images.githubusercontent.com/29464607/155355700-b3a78597-6a32-421f-8305-6044e21d36b8.png)

[2022-02-23 15:54] Tyriar commented on #143706
👍 we can create one it if it doesn't exist. FYI we try not to use the `terminal` label anymore, it's mostly a legacy catch all and will eventually be phased out like `editor`.

[2022-02-23 15:55] gjsjohnmurray commented on #133067
Also to #129417

[2022-02-23 15:57] Tyriar commented on #143706
I tried this and there were focus related problems, I think the right fix here is to move the run recent code out of TerminalInstance and create a terminal after the item is selected if an active terminal doesn't exist.

[2022-02-23 15:58] alexr00 commented on #143749
What URL did you enter to get there? Was it the one in https://user-images.githubusercontent.com/29464607/155354791-58d43503-21ec-462e-976f-110e4e5d7e20.png?

[2022-02-23 15:59] Tyriar commented on #143703
Can repro

![Recording 2022-02-23 at 07 58 48](https://user-images.githubusercontent.com/2193314/155356979-d0aed333-112d-4e2d-8445-32c45a368b8e.gif)

[2022-02-23 15:59] joaomoreno commented on #143707
Bash, straight out of a fresh Ubuntu 18.04 installation.

[2022-02-23 16:00] meganrogge opened #143750 "SCM commit message should say main instead of master"
Testing #143461

![Screen Shot 2022-02-23 at 10 01 08 AM](https://user-images.githubusercontent.com/29464607/155357475-e44c4428-27ac-4788-b35a-eb8f0d8ad0f4.png)

[2022-02-23 16:03] pitust commented on #143737
<img width="1096" alt="Screen Shot 2022-02-23 at 5 03 05 PM" src="https://user-images.githubusercontent.com/41321673/155357901-aa998891-5562-4733-8bfe-7518d2b4eb5c.png">

It is enabled even though shell integration is off... But thanks for the fix, now i can go back to using the integrated terminal!

[2022-02-23 16:04] isidorn commented on #143706
Was not aware of the terminal label, thanks for letting me know!

[2022-02-23 16:05] #143461 closed

[2022-02-23 16:05] Tyriar commented on #143695
This was by design, the thinking being to make it work like like `history`, up arrow or ctrl+r in most terminal shells where only adjacent duplicates are merged:

![image](https://user-images.githubusercontent.com/2193314/155357925-40af8f7b-1dfc-4721-8acd-f243cca5e2eb.png)

I guess deduplicating all of them makes more sense in this use case as well as the eventual autocomplete though.

[2022-02-23 16:07] #143695 closed

[2022-02-23 16:08] meganrogge commented on #143749
Oh - mystery solved. This randomness is coming from edge's search results
![Screen Shot 2022-02-23 at 10 07 48 AM](https://user-images.githubusercontent.com/29464607/155358771-15aec8e5-4045-4736-b24e-b38ff360225d.png)

[2022-02-23 16:08] #143749 closed

[2022-02-23 16:08] Tyriar commented on #143737
@pitust they're rectangles so you're probably on a pretty old build (1 week+?), updating will probably fix it for you.

[2022-02-23 16:10] #143547 closed

[2022-02-23 16:11] bpasero commented on #81832
I tried above steps with the GitHub issue notebook extension instead and when I come to step 5. and save an untitled editor as "other.github-issues", that editor actually closes.

[2022-02-23 16:12] aadarshp31 commented on #142080
Is there any update on this feature request?

[2022-02-23 16:12] weinand opened #143751 "Setting a lazy variable reveals the intermediary variable"
Testing #143572

Setting a lazy variable reveals the intermediary variable:

![CleanShot 2022-02-23 at 17 12 11](https://user-images.githubusercontent.com/1898161/155359698-51b02745-310a-4188-98f0-545490bd8c4e.gif)

[2022-02-23 16:18] weinand opened #143752 "Sometimes the lazy value placeholder shows up"
Testing #143572

Sometimes the lazy value placeholder shows up and I cannot get rid of it:

![CleanShot 2022-02-23 at 17 15 09](https://user-images.githubusercontent.com/1898161/155360270-689439cd-6d4b-499d-a355-139caef117f7.gif)

Even stopping and restarting the debug session doesn't help. I have to restart VS Code.

[2022-02-23 16:20] bamurtaugh commented on #143587
Should this be "Check out the electron-**17**.x.y branch"?

[2022-02-23 16:23] meganrogge opened #143753 "Duplicate editor opens in active group instead of staying where it was originally"
Repro steps:

- open file A and click somewhere in it
- open file B in the same group
- move file B to a side group
- click in file B
- navigate back in history
- 🐛  file A opens in the side group
- I expected it to focus the original in the other group

Testing #142503
![Recording 2022-02-23 at 10 20 38](https://user-images.githubusercontent.com/29464607/155361292-0ebb6654-6c6f-4fdc-a44f-883d554f

[2022-02-23 16:28] sam2khatri commented on #48659
This worked perfectly for me. Thanks a lot! This really was the simplest solution

[2022-02-23 16:30] ghost opened #143754 "Enabling extensions in untrusted workspace"
As of now, to enable extension in  untrusted workspace, one needs to add extension id to the `extensions.supportUntrustedWorkspaces` user setting.

I wonder if this setting can be decomposed, so instead of listing every extension with their `supported` attribute, I just write extension ids into separate settings, like `extensions.supportedUntrustedWorkspaces`, `extensions.notsupportedUntrustedWork

[2022-02-23 16:30] mqnc opened #143755 "Display the contents of std::valarray in the debugger"
Being able to inspect the content of std::vector and std::array in the debugger is really valuable and I miss that feature for std::valarray. There I can only see a memory address. I'd appreciate if this was added.
Thanks in advance!

[2022-02-23 16:35] jkeech commented on #134522
@joyceerhl does GitHub Repositories (RemoteHub) support the virtual filesystem for an empty git repo? How should the metadata/uri be structured for an empty repo?

[2022-02-23 16:38] antoinersw opened #143756 "small intermittent freezes"
Issue Type: <b>Performance Issue</b>

Hello I receive smal intermitent freezes which causes problem to the overall Vs code experience.

VS Code version: Code 1.64.2 (f80445acd5a3dadef24aa209168452a3d97cc326, 2022-02-09T22:02:28.252Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.6

[2022-02-23 16:41] sbatten commented on #143670
this is 100% using the quick pick api so we aren't trying to be different here. adding @TylerLeonhardt since this is more feedback about the quick pick options.

[2022-02-23 16:41] Tyriar commented on #143707
This is happening because bash's `history` on Linux seems to behave differently and merge entries unlike on macOS.

bash v5.1.4 on wsl:

![image](https://user-images.githubusercontent.com/2193314/155364685-e3eb530f-25f3-4285-92fd-58906ccd31d9.png)

bash v5.1.8 on macOS:

<img width="386" alt="Screen Shot 2022-02-23 at 8 40 14 am" src="https://user-images.githubusercontent.com/2193314/155365081-8e1

[2022-02-23 16:43] sbatten commented on #143671
this is highly theme dependent. the icon does not belong to the activity bar, but rather the titlebar so its theme color comes from the title bar.

[2022-02-23 16:43] rzhao271 commented on #143612
I'm wondering which language IDs are supported for that API?
I tried using `bash` and `sh` but didn't see any highlighting happen. I'm on Windows.

[2022-02-23 16:49] jrieken commented on #143671
Maybe that's the problem and that a title bar button foreground color needs to be defined. It would default to a slighly dimmed version of the titlebar foreground

[2022-02-23 16:49] rzhao271 opened #143757 "If the line is too long, it doesn't get highlighted"
Testing #143612

This might be as-designed but I'll file this issue just in case.

1. Create an output channel and append a long line.
[code]
2. :bug: Test the extension and notice the line isn't highlighted.

[2022-02-23 16:51] aeschli opened #143758 "No icon in extension view in remote window"
- create `.devcontainer/devcontainer`
[code]
- open the remote window
- in the extensions view, enter `vscode-css-formatter`, look at the extensions view
- missing image. Note the location

![image](https://user-images.githubusercontent.com/6461412/155363921-2cef5df5-3dce-406f-943a-84f1b64d8e16.png)

[2022-02-23 16:53] amunger opened #143759 "audio cue echo when error and warning exists on a line"
Issue Type: <b>Bug</b>

while testing #143550

1. Turn on audio cues for warnings and errors
2. write a line with both and error and a warning

result:
navigating to that line produces an inconsistent sound, and sounds like two sounds are being played which don't always line up

VS Code version: Code - Insiders 1.65.0-insider (32456dc9e7d3194a94dd3ee0322ccf47e461d09c, 2022-02-23T05:16:22.798Z)
OS

[2022-02-23 16:56] joyceerhl commented on #143750
@meganrogge Which branch are you on? That message should reflect what the branch/tag picker in the bottom left says, e.g. for the microsoft/vscode repo:

![image](https://user-images.githubusercontent.com/30305945/155367661-7c7b41cb-12d8-4dde-81a8-f986a2ee3174.png)

If the branch you are on is `main` but the validation message refers to `master`, can you share a link to the vscode.dev repo and bra

[2022-02-23 16:59] roblourens opened #143760 "Move "Collapse output" to output "..." button"
From https://github.com/microsoft/vscode/issues/142455

This has come up multiple times - people looking for the "Collapse output" action in the "..." button that shows up next to the output container. Makes sense, so we should do that.

[2022-02-23 17:00] TylerLeonhardt commented on #143670
@jrieken would you feel differently if the input box (filter) was shown?

<img width="939" alt="image" src="https://user-images.githubusercontent.com/2644648/155368607-5cc3e0da-1560-40ef-8a0a-4f714201e32d.png">

(I'm not saying we should show the input box here, I'm just curious if the input box influences how you perceive the UI)

[2022-02-23 17:02] Tyriar opened #143761 "Support shell integration on WSL in a local window"
A profile to get it kind of working, the positioning of the commands and exit codes are broken for me though:

[code]

[2022-02-23 17:08] #143708 closed

[2022-02-23 17:09] Tyriar opened #143762 "Add safeguard to prevent multiple commands being registered on the same line"
I've seen this happen a few times where multiple decorations get put on the same line:

![image](https://user-images.githubusercontent.com/2193314/155369300-f002395c-a983-4396-9e60-a429a12a3c0f.png)

This isn't meant to happen but can in edge cases or shells we don't properly support yet. We should put a check in place to prevent this from happening, I think the right thing here would be to preven

[2022-02-23 17:14] weinand commented on #143755
/setCpp

[2022-02-23 17:16] miguelsolorio opened #143763 "Walkthrough svgs appear off in build"
It seems something odd is appearing in our builds, specifically for our "video" svgs that has a link. The SVG doesn't contain anything crazy:

[code]

Which throws the following error in the console:

[code]

The strangest thing is in OSS everything looks fine but in the builds, the image is small and not centered.

## OSS
<img width="1089" alt="CleanShot 2022-02-23 at 09 01 27@2x" src="https://us

[2022-02-23 17:16] rzhao271 opened #143764 "Glitched rendering with some output"
Testing #143612

Using the following code:

[code]
I get the output console highlighting and scrollbar to glitch:

![Screencap](https://user-images.githubusercontent.com/7199958/155369555-befee99e-f7db-4a35-b261-7eeb57869d68.gif)

[2022-02-23 17:16] #143612 closed

[2022-02-23 17:17] meganrogge commented on #143397
@deepak1556 @rzhao271

@Tyriar and I think this could be a regression in Electron

We don't touch `unref` and this is happening on electron run as a node process (the pty host).

![Screen Shot 2022-02-23 at 11 05 14 AM](https://user-images.githubusercontent.com/29464607/155371413-86cba037-79e4-45fb-86b0-2e04b42837f2.png)

![Screen Shot 2022-02-23 at 11 06 55 AM](https://user-images.githubuserconte

[2022-02-23 17:19] JacksonKearl commented on #143763
Is this new? cc @mjbvz any recent changes to CSP?

[2022-02-23 17:20] roblourens opened #143765 "Light HC theme missing watermark and keybindings hints"
Testing #143425

- Close all editors
- The logo watermark and keyboard shortcuts are missing, this is what it looks like in HC dark:
<img width="493" alt="image" src="https://user-images.githubusercontent.com/323878/155372323-1f913537-3498-4e21-884e-326bffed21c5.png">

[2022-02-23 17:20] deepak1556 commented on #143587
Yup it should be `electron-17.x.y`, fixed the template. Thanks!

[2022-02-23 17:22] #143707 closed

[2022-02-23 17:24] rayfoss commented on #141908
Safari released support 15 days before this statement... [caniuse.com/mdn-api_filesystemhandle](https://caniuse.com/mdn-api_filesystemhandle)

I'm not seeing FileSystemHandle API support in vscode PWA at all... should I file a ticket here similar to:
https://github.com/Felx-B/vscode-web/issues/7

[2022-02-23 17:25] Tyriar opened #143766 "Ensure duplicate commands with different exit codes show correct command decorations"
This is a follow up from https://github.com/microsoft/vscode/issues/143707 which worked around the majority case of an issue.

See the workaround: https://github.com/microsoft/vscode/commit/78a9a54d3817441aa4fb90d8ec82df7a734efa2e

The proper fix will involve sending both the exit code and the history ID over to VS Code which will then do what's happening now but also have the correct exit code to

[2022-02-23 17:25] Tyriar commented on #143707
I worked around the issue so it should be fixed, it will still fail when the exit code changes which should be a very rare occurrence. That's a more invasive change which we'll handle next month as the shell scripts are quite fragile.

[2022-02-23 17:27] tanhakabir opened #143768 "No highlight around ascii charactered string"
Testing #143553

I'm not seeing any highlights around the suggested character's string (https://github.com/microsoft/vscode/issues/143553#issuecomment-1048734093):
<img width="538" alt="image" src="https://user-images.githubusercontent.com/12758612/155373415-d790b8f3-7bdc-401f-905f-8f330fa86bd5.png">

[2022-02-23 17:27] misolori commented on #143763
I see this in Stable as well, so we likely never caught it

[2022-02-23 17:28] bpasero commented on #141908
I am not sure what Safari supports is the same as what we need: https://webkit.org/blog/12257/the-file-system-access-api-with-origin-private-file-system/

[2022-02-23 17:29] IllusionMH opened #143769 "Shell integration for Git Bash"
There are various issues regarding integration for various shells, but for Windows it's limited to standalone `pwsh`, and there are open issue for WSL.

So request here is to support Git Bash as well as it's go to terminal if you install Git for Windows.

Are there plans to support it in near future?

/cc @Tyriar

[2022-02-23 17:30] jrieken commented on #142844
Looks like view-lines is growing as I type

<img width="1187" alt="Screen Shot 2022-02-23 at 18 28 05" src="https://user-images.githubusercontent.com/1794099/155373861-3c4b39f3-bc8a-4264-8e57-156a7339e0ec.png">

---

Debugging into this editor instance shows that word wrap (`118`) is still `on`

<img width="734" alt="Screen Shot 2022-02-23 at 18 29 36" src="https://user-images.githubusercontent.co

[2022-02-23 17:30] Tyriar commented on #143637
@aeschli probably not an issue but fyi:

![image](https://user-images.githubusercontent.com/2193314/155374011-c083eebc-56bc-4993-a7e8-5a4b708e4be6.png)

[2022-02-23 17:30] #143637 closed

[2022-02-23 17:30] firelizzard18 commented on #126932
@connor4312 IMO what would be most valuable would be to show the test play button in the gutter by the related code. That way, if I write a test for a function, I can edit the function and run the test without changing context. If autorun is enabled, then I can configure it to run related tests automatically, so I can edit the function, save, and then see the test results immediately (after the te

[2022-02-23 17:34] JacksonKearl commented on #143744
Yeah, had to remove workspace inspection late last night because we don't have a diagnostic service in web. https://github.com/microsoft/vscode/commit/fc6bcb7429f09950ebc0b3602dfc9271cd9321b6 will try to find a good workaround.

[2022-02-23 17:34] connor4312 commented on #142830
@knaos does setting your `outFiles` to a more specific path resolve the issue for you? https://code.visualstudio.com/docs/nodejs/nodejs-debugging#_source-map-discovery

[2022-02-23 17:35] bpasero commented on #143753
I tried a minimal repro with text files, moving one to the other group and navigating and cannot reproduce:

![Recording 2022-02-23 at 18 34 43](https://user-images.githubusercontent.com/900690/155374914-c7445453-68d2-4a60-af1e-cca45fd39e9b.gif)

Is there a repro from scratch?

[2022-02-23 17:35] rchiodo opened #143770 "Searching after canceling the index download only searches open files"
Testing #143575

Maybe I'm misunderstanding what the github api would return but I think there's an issue here.

Repro steps:
1. On desktop use github remote to connect to https://github.com/plotly/plotly.js/
2. Open search panel
3. Type in `module.exports`
4. Hit return
5. Cancel the download of the full index

Actual result:
Search results will be empty

Expected result:
I think it should find a

[2022-02-23 17:36] jrieken commented on #143670
Yeah, I guess it would make it look more familiar and better align with "normal" quick pick. I believe it's the `X` icon that's giving me dialog thoughts. The button combined with the double title bar style might be too much for me

[2022-02-23 17:36] Tyriar commented on #143769
I'm hesitant committing to this as weird things often happen with how git bash interacts with conpty. Could be a good community contribution though.

I tried setting up a profile based on the existing bash script:

[code]

It does look like the sequences get through correctly, the same problems as on wsl (https://github.com/microsoft/vscode/issues/143761) with decorations are happening though:

![

[2022-02-23 17:37] rchiodo commented on #143575
@JacksonKearl is there a way to clear the flag that indicates whether or not to download?

I did this and didn't get what I expected:

1. Opened a repository with more than 50MB of files
2. Went to search
3. Download started
4. Download gave a warning at 50
5. Change maxIndexSize to 1
6. How do I get the warning again?

[2022-02-23 17:37] misolori commented on #143693
I like the idea of using a suggest widget to show the commands in the terminal 👍

[2022-02-23 17:42] misolori opened #143771 "Settings TOC needs more padding"
Can we add some additional padding to the top of the TOC, to match the container on the right?

![CleanShot 2022-02-23 at 09 41 13@2x](https://user-images.githubusercontent.com/35271042/155376087-3c3fbd46-7cde-442f-97c1-5638967ae845.png)

[2022-02-23 17:43] roblourens opened #143772 "Folded code icon in editor is wrong"
- Fold some code
- The `...` button at the end of the line is not correct

<img width="288" alt="image" src="https://user-images.githubusercontent.com/323878/155376293-f9e2b8ae-a967-4288-b11e-1b57686b3196.png">

[2022-02-23 17:43] connor4312 opened #143773 "Powershell 7 should automatically be detected by terminal profiles"
1. Have your SSD fail and install a clean Windows 11
2. Install Powershell 7.2 via its `.msi`
3. Expect that it's available in the list of terminal profiles, but it's not 🐛

[2022-02-23 17:43] roblourens commented on #143772
Maybe the encoding got mangled during the build?

<img width="265" alt="image" src="https://user-images.githubusercontent.com/323878/155376390-c80161b2-4340-4eb1-881c-0eb4130cad1b.png">

[2022-02-23 17:45] misolori commented on #143697
I think we need the line to indicate that the user can resize it but we can experiment with only showing the line when the user has their cursor in the TOC?

[2022-02-23 17:45] misolori opened #143775 "Settings TOC misaligned"
Looks like the left side of the TOC no longer lines up with the header:

![CleanShot 2022-02-23 at 09 44 22@2x](https://user-images.githubusercontent.com/35271042/155376639-db48b176-0b00-4f1c-8a29-e1a55457a65e.png)

[2022-02-23 17:45] connor4312 commented on #143773
Huh, maybe this works? I restarted Insiders for updates and got Powershell 7. 🤷

[2022-02-23 17:45] #143773 closed

[2022-02-23 17:46] Tyriar commented on #143773
fyi @TylerLeonhardt

[2022-02-23 17:47] TylerLeonhardt commented on #143773
Maybe an environment variable issue? Did you install PowerShell before opening vscode?

[2022-02-23 17:49] IanMatthewHuff commented on #143636
Awesome this seems really helpful. Handled everything that I tossed at it, though @aeschli  I did have two quick questions. I initially expected that I might be able to specify multiple folders like `FolderA\FolderB\filename` this doesn't work, but looking at the test plan I believe that this is expected to only be a single folder, so I didn't file an issue here. For kicks I also tried with ~ as a

[2022-02-23 17:50] roblourens opened #143776 "Light HC: Editor gutter icons are low contrast"
Testing #143425

- Install the hex editor extension
- See an invisible icon in the editor gutter:

<img width="197" alt="image" src="https://user-images.githubusercontent.com/323878/155377324-2a0e2e1d-e50a-41ea-af99-da37d8bb340e.png">

- Here's what it looks like in the normal Light+ theme:
<img width="166" alt="image" src="https://user-images.githubusercontent.com/323878/155377487-73796af7-ff78-4

[2022-02-23 17:50] TylerLeonhardt commented on #143670
Settings Sync dialog is another that doesn't use the input:
<img width="926" alt="image" src="https://user-images.githubusercontent.com/2644648/155377545-2692d465-84f4-4f6a-b498-8dd39eeb7c22.png">

[2022-02-23 17:51] Tyriar commented on #143693
Yep, this is definitely the plan when we do autocomplete which is where shell integration is headed, it'll probably consume a full iteration to get right. We're focusing on shell integration fundamentals right now and using these commands as another way to test it. It's tracked on the roadmap only currently https://github.com/microsoft/vscode/wiki/Roadmap#terminal, closing off as I'll create a det

[2022-02-23 17:51] #143693 closed

[2022-02-23 17:51] misolori commented on #143691
These icons haven't changed from the originals 😄

![image](https://user-images.githubusercontent.com/35271042/155377644-e592834c-675d-445e-8052-9a21a70f24f4.png)

[2022-02-23 17:52] tanhakabir opened #143777 "Lag in rendering walkthroughs"
Version: 1.65.0-insider (Universal)
Commit: 32456dc9e7d3194a94dd3ee0322ccf47e461d09c
Date: 2022-02-23T05:27:54.628Z
Electron: 16.0.9
Chromium: 96.0.4664.174
Node.js: 16.9.1
V8: 9.6.180.23-electron.0
OS: Darwin x64 21.3.0

On new windows I was used to having no walkthroughs and my recents on the right. I believe because some walkthroughs updated or something happened I get the walkthroughs again bu

[2022-02-23 17:52] joyceerhl commented on #134522
The problem is that empty git repos have no `defaultBranchRef`, and RemoteHub currently doesn't handle this case internally. It would be great to support initializing repo contents from inside RemoteHub. We could:
- Ask the user if they want us to create a default branch for them
- Auto-create a default branch (probably don't want to do this)
- Let users start creating files and directories locall

[2022-02-23 17:54] Tyriar commented on #143696
It could be used as an indicator as to whether opening historical output would be useful:

![image](https://user-images.githubusercontent.com/2193314/155378020-75c6e501-872b-4a5a-9ed3-6b94258466df.png)

I don't mind too much though, thoughts @meganrogge @misolori?

[2022-02-23 17:58] #143687 closed

[2022-02-23 18:00] Tyriar commented on #143687
I mentioned how it's applied on terminal creation in the setting. Auto restarting is too destructive imo, we do have a mechanism to automatically restart _some_ shells safely but if we did that only it would be inconsistent. The safest approach is to just mention it in the config.

[2022-02-23 18:00] meganrogge commented on #143397
can confirm this is not terminal specific - also happens in the output channel
![Recording 2022-02-23 at 11 59 56](https://user-images.githubusercontent.com/29464607/155379191-5c4dd682-3d30-4674-8b05-2512c68320ce.gif)

[2022-02-23 18:01] tanhakabir commented on #141585
I'm not seeing the proper line being selected from references:
![Recording 2022-02-23 at 10 01 25](https://user-images.githubusercontent.com/12758612/155379327-7bb5fe27-2d8d-4729-9430-de4211cded97.gif)

[2022-02-23 18:02] rzhao271 commented on #143756
I'm wondering when these freezes occur?
Is it possible to attach a profile or a screencap (e.g. using https://gifcap.dev)?

[2022-02-23 18:02] mkafrin commented on #143661
Got a response from the Typescript team. Seems to be a limitation of parsing due to the fact that <> tokens can indicate multiple things in the language.

Source: https://github.com/microsoft/TypeScript/issues/48011

[2022-02-23 18:02] #143661 closed

[2022-02-23 18:03] meganrogge commented on #143397
Something I saw popup right before this stopped working was:

![Screen Shot 2022-02-23 at 11 59 19 AM](https://user-images.githubusercontent.com/29464607/155379639-6c56dcfb-865b-4ca9-8d0b-c98fe348e6b2.png)

[2022-02-23 18:03] misolori commented on #143193
I think because our editors work so independently of any views that this might complicate the UX. It's not like in MS Teams where each "view" has a full master-detail page associated with it.

I think one way to alleviate this is to provide a setting that would close certain editors when those views are not focused (i.e. diff views) but i wouldn't expect it to re-open on its own.

[2022-02-23 18:06] rzhao271 commented on #143771
Good idea. Assigning to March, though, because when I added padding earlier, the end of the list got cut off, and I couldn't find a quick workaround.

[2022-02-23 18:06] joyceerhl opened #143778 "terminal decorations are misaligned when in side panel"
Testing #143433

1. Drag terminal into side panel
2. :bug: decorations render on top of output text, nothing happens when you click on the decorations

[2022-02-23 18:08] tanhakabir commented on #143666
Do you have settings sync turned on?

[2022-02-23 18:08] HongYurui commented on #142395
Things just go opposite as I failed to delete any file without getting prompted, even after modifying "confirm delete". There's no "Do not ask again" on the prompting window, either.

[2022-02-23 18:09] lramos15 commented on #143755
/extCpp

[2022-02-23 18:09] #143755 closed

[2022-02-23 18:10] meganrogge commented on #143397
@rzhao271 has pointed out that's probably unrelated. I was using dev tools to debug, which is probably why that wouldn't work

[2022-02-23 18:12] rzhao271 opened #143779 "Documentation for languageId can be more descriptive"
Testing #143612

The current docstring for the languageId parameter is:
`@param languageId — The identifier of the language associated with the channel.`

It should also include the fact that it allows output that matches that language to have syntax highlighting.

[2022-02-23 18:13] rchiodo opened #143780 "Remote hub indexing cannot be turned on after it is canceled"
Testing #143575

1. Remote hub to something that is larger than 50 MB (I used https://github.com/plotly/plotly.js)
2. Go to search
3. Search for 'module.exports'
4. Cancel download when it happens
5. Run command 'Configure indexing of Repositories'
6. Turn off 'Disallowed:' for the repository
7. Try search again

Expected to download a second time.

[2022-02-23 18:13] joyceerhl opened #143781 "Terminal command error decoration hover does not show exit code"
Testing #143433

1. Run a command
2. Interrupt the command
3. Command gets error decoration
4. :bug: hover over decoration, exit code is not displayed

I also see no exit code reported for e.g. when running `yarn compile` with an obvious compile error.

[2022-02-23 18:14] JacksonKearl commented on #143770
When I tried this I correctly saw GitHub API provided search results... are you on the pre-release version of Remote Repositories? You can check by verifying these settings are available:
<img width="1402" alt="image" src="https://user-images.githubusercontent.com/8586769/155381536-9cd983c7-8832-452b-b9d0-b0211628ebcd.png">

[2022-02-23 18:16] JacksonKearl commented on #142395
@HongYurui please open a new issue if you are experiencing problems.

[2022-02-23 18:16] rebornix opened #143782 "Layout quick pick loses focus after pressing enter"
Testing #143581

* Customize Layout
* Use keyboard to navigate
* Press enter on a layout option
* It takes effect immediately but the quick pick loses focus, though it's still visible

[2022-02-23 18:17] connor4312 commented on #143752
Yes, easy repro in js-debug:

1. Have a getter with a setter. Double click to set the variable and just click out
2. Enter anything in the repl (to trigger a variable refresh)
3. The variable now includes its placeholder and `(...)`. It should remain expanded.

[2022-02-23 18:17] joyceerhl opened #143783 "Terminal command decorations stop working when zoom level is increased"
Testing #143433

1. Run a few commands with shell integration enabled
2. Decorations work (display popup on click, etc)
3. Ctrl + to zoom
4. :bug: decorations stop working (they do nothing when clicked) and also no longer render next to the command they were associated with, e.g. the default decoration in the screenshot below which renders at the bottom of the terminal area:
![image](https://user-

[2022-02-23 18:18] sbatten commented on #143782
@rebornix can you share what it loses focus to... we work to keep focus but some things try to steal it

[2022-02-23 18:18] JacksonKearl commented on #143575
The `Configure indexing of Repositories` command should give you a picker with those options. Alternatively the `Delte all repository indexes" command will clean you slate too.

[2022-02-23 18:18] rebornix commented on #143782
@sbatten open either the settings editor or a notebook editor, you would see that both of them steal the focus when changing layouts.

[2022-02-23 18:19] rebornix commented on #143782
This could be an issue with the editors though

[2022-02-23 18:20] JacksonKearl commented on #143780
![Recording 2022-02-23 at 10 19 29](https://user-images.githubusercontent.com/8586769/155382486-27743aa0-a253-419e-b895-bfd3024beabc.gif)
I see this when I try, it sounds like you may be on an old version? Or a deeper bug. If you include a screengrab I could better diagnose

[2022-02-23 18:20] joyceerhl opened #143784 "Terminal command success decorations still render after running `clear`"
Testing #143433

1. `cd ..`
2. `clear`
3. :bug: success terminal command decorations are still rendered

![image](https://user-images.githubusercontent.com/30305945/155382546-108f46a2-7066-4583-a470-590e7f71d093.png)

[2022-02-23 18:20] rebornix opened #143785 "Customize layout picker is sluggish"
Testing #143581

![Recording 2022-02-23 at 10 18 18](https://user-images.githubusercontent.com/876920/155382416-537b25e2-8e13-4c61-aac5-21ccdfd15eab.gif)

It seems that we would change the layout first and then update the checkmark, which makes it sluggish, especially when we are clicking fast to experiment. Maybe we can

* Update the checkmark first
* Trigger layout update
* If users click on ano

[2022-02-23 18:21] daviddossett commented on #143533
I can take care of this—added to next milestone.

[2022-02-23 18:21] JDaance commented on #142514
Indeed that was it, it works great, thanks a lot!

[2022-02-23 18:22] connor4312 opened #143786 "Double clicking on a lazy variable name to edit edits the preview instead of the value"
Testing #143572

1. Have a lazy variable with a `value` preview. In js-debug the preview is just the stringified function
2. Double click on the _name_ of the variable to try to edit it
3. Get in this state where the getter is still collapsed and the value is being edited

![image](https://user-images.githubusercontent.com/2230985/155382878-732ddee1-87a0-41bc-9475-edf72a990c5f.png)

Instead the va

[2022-02-23 18:22] rebornix opened #143787 "Inconsistent layout icon size"
Testing #143581

<img width="145" alt="image" src="https://user-images.githubusercontent.com/876920/155382912-39d1d82b-3481-4968-a90b-a76e2f656dbd.png">

The last icon is larger than the first three. It feels larger than any toolbar icon we have in the workbench.

[2022-02-23 18:23] misolori commented on #143696
I agree that the time doesn't really matter and was also surprised to see the "output" icon always visible, which also adds noise. Why isn't that visible on hover instead like our other quick pick actions?

[2022-02-23 18:23] JacksonKearl commented on #134522
I'd expect just a quick pick with a "choose default branch name" prompt and `main` prefilled when I open to an empty repo.

[2022-02-23 18:24] #143735 closed

[2022-02-23 18:24] daviddossett commented on #143735
Whoops, looks like a regression. Thanks for the catch.

[2022-02-23 18:24] rchiodo commented on #143780
What would you like a screen grab of?

[2022-02-23 18:25] rebornix opened #143788 "Layout buttons on title bar are not keyboard accessible"
Testing #143581

It seems I can't tab into the layout actions. If I click one of the button, then I can tab into that button but not others.

[2022-02-23 18:26] rchiodo commented on #143575
Neither of those seem to work. It never downloads again unless I explicitly click the 'Enable indexing' link.

[2022-02-23 18:27] rebornix opened #143789 "Customize layout quick pick doesn't update when layout state changes"
Testing #143581

![Recording 2022-02-23 at 10 26 34](https://user-images.githubusercontent.com/876920/155383650-836ac38d-1c35-4b0f-b17a-ab41f6a0ef99.gif)

The visibility state doesn't change when updating through any way.

[2022-02-23 18:28] rchiodo commented on #143770
Here's the search results after opening a single file:

![image](https://user-images.githubusercontent.com/19672699/155383547-f7471877-22a5-4a4d-8af0-7265b4769fbd.png)

[2022-02-23 18:28] sbatten commented on #143789
visibility state is reflected on hover

[2022-02-23 18:28] #143789 closed

[2022-02-23 18:28] rchiodo commented on #143770
Output tab of github remote repositories shows this:

[code]

[2022-02-23 18:34] rebornix commented on #143789
@sbatten this is confusing to me. We show checkmarks based on if a position is picked but we never show the visibility if we don't hover/focus on the option. Why don't we use the same UX (checkmark) here?

[2022-02-23 18:34] #143739 closed

[2022-02-23 18:34] hediet commented on #143734
Fixed by 07447e81.

[2022-02-23 18:34] daviddossett commented on #143739
Updated to use `#CCCCCC`

[2022-02-23 18:35] mosesoak commented on #40239
A great example is Vue's typescript setup, which can either make use of two language plugins (inefficient) or replace the built-in typescript engine with their main extension, something that they term "Takeover Mode". To use this mode you  disable `@builtin typescript` > `TypeScript and JavaScript Language Features` extension.

https://vuejs.org/guide/typescript/overview.html#takeover-mode

What w

[2022-02-23 18:35] sbatten commented on #143789
this is not the final form of the quick pick. eventually we will support checkboxes and radio buttons and we will move to that. for now we want to differentiate between checkboxes and radio buttons without actually having them. so we aren't using the same icon for both.

[2022-02-23 18:35] hediet commented on #143553
Exactly.

[2022-02-23 18:36] rebornix commented on #143788
![Recording 2022-02-23 at 10 30 54](https://user-images.githubusercontent.com/876920/155384901-cdc51287-64b2-467a-b500-0ac9ff89794c.gif)

This is what I was seeing. It's confusing that

* We can only tab into the first button
* The layout buttons are the very last one in the tab order, I expect it to be the first.

[2022-02-23 18:36] tjx666 commented on #141725
@alexdima

I find that the words would left-right shake when I inputing Chinese if line prefix with space.

https://user-images.githubusercontent.com/41773861/155385073-3f810b70-a303-45e2-94f2-a75161c7087b.mov

[2022-02-23 18:37] hediet commented on #143768
This is by design (but the design is not really fixed).

The weird looking characters (λ and ℕ) indicate already visually that something funny is going on. Contextual highlighting only highlights characters when it would not be obvious that something unexpected is going on.

[2022-02-23 18:37] #143768 closed

[2022-02-23 18:38] sbatten commented on #143788
I'm not sure if they should be first, cc @isidorn

they are accessible via keyboard but this is not the most convenient way for a keyboard user to access these functions, so I feel they should be "out of the way"

[2022-02-23 18:39] rebornix commented on #143581
The new layout buttons and quick pick help with discoverability and I enjoy using them. Good work!

[2022-02-23 18:40] connor4312 opened #143790 "`readOnly` lazy attributes are not respected"
Testing #143572

1. Create a variable with only a getter, so that it contains `readOnly` in its `presentationHint.attributes`
2. Notice double clicking still allows setting it

[2022-02-23 18:41] joyceerhl opened #143791 "Confusing 'Show Command Actions...' text in command decoration hover"
Testing #143433

The 'Show Command Actions...' text that appears on hovering a terminal command decoration seems to suggest a context menu of some sort. Should I be able to click on this somehow?

[2022-02-23 18:42] daviddossett commented on #143742
It looks like this the opacity of the background and foreground of the badge are hardcoded here. @isidorn any suggestions on an override for HC modes?

Similar issue on the dark HC theme:

<img width="306" alt="CleanShot 2022-02-23 at 10 41 45@2x" src="https://user-images.githubusercontent.com/25163139/155385955-351f85b3-55aa-404a-b611-eb8de0063ea8.png">

https://github.com/microsoft/vscode/blob/e

[2022-02-23 18:43] rebornix opened #143792 "Markup cells invisibile when reopening files"
Issue Type: <b>Bug</b>

* Open my endgame notebook
* Scroll to bottom
* Close the editor
* Open through quick pick again

<img width="2032" alt="image" src="https://user-images.githubusercontent.com/876920/155386223-30825838-fbdf-4e87-a9f2-1536c9317f91.png">

VS Code version: Code - Insiders 1.65.0-insider (Universal) (32456dc9e7d3194a94dd3ee0322ccf47e461d09c, 2022-02-23T05:27:54.628Z)
OS version:

[2022-02-23 18:44] JacksonKearl commented on #143770
Hm... it would seem the request to the github api isn't giving us anything. If you set this empty, what happens?
<img width="542" alt="image" src="https://user-images.githubusercontent.com/8586769/155386276-9aed0f48-03f2-4aed-b84c-c89895645cb7.png">

[2022-02-23 18:44] TilerDaniels99 opened #143793 "Menu Bar"
Issue Type: <b>Feature Request</b>

There is no menu bar on MacOS cause when I go to View < Apperace, there is no option that says "Show Menu Bar"

VS Code version: Code 1.64.2 (Universal) (f80445acd5a3dadef24aa209168452a3d97cc326, 2022-02-09T22:00:58.347Z)
OS version: Darwin x64 20.5.0
Restricted Mode: No

[2022-02-23 18:46] arousta opened #143794 "Bind remember tabs to a branch, by switching branches the tabs automatically update"
It happens all the time. When I work on different tickets and each one is related to something in my project. For each branch I want to have a specific set of files to be open.

It would be very handy if vscode can save the open tabs for a branch and recover those when I switch my branches.

[2022-02-23 18:47] RafaelRojasCov opened #143795 "Suggestion & Documentation on Hover not Working"
Issue Type: <b>Bug</b>

I don't know the steps to reproduce, but I'm using a Macbook Pro M1 and I'm having issues with code completion, code suggestions, and also hover over any function to show description or documentation, the thing is that they not showing anything.

VS Code version: Code 1.64.2 (Universal) (f80445acd5a3dadef24aa209168452a3d97cc326, 2022-02-09T22:00:58.347Z)
OS version: Darwin

[2022-02-23 18:47] bpasero commented on #143660
You can bind `Ctrl+P` to `workbench.action.quickOpenPreviousEditor` to select the second entry by default in the file/editor picker.

[2022-02-23 18:49] atec-spine commented on #143269
I am also seeing a similar issue. However, I'm not experiencing a browser freeze. When I launch and debug a .NET 6 blazorwasm project in VS Code, the browser opens an "about:blank" window (I can close this window), but nothing happens when I try to click the Stop/Disconnect button in VS Code (the debugger seems to be frozen). Here's how I reproduce the issue:

1. Create a new blazorwasm project (I

[2022-02-23 18:49] rchiodo opened #143796 "Highlights not showing up at all"
Testing #143553

I believe this text should highlight?

[code]

But it doesn't? It works in stable but not in insiders.

[2022-02-23 18:49] sbatten opened #143797 "Navigation location added when splitting an editor"
Testing #142503

This is minor annoyance that I discovered when testing. When I use the split editor group action to get a side by side editor, since the current editor is duplicated, I end up with a new navigation location for the same file in the same location, just in a different group. It seems redundant. And I end up closing the editor immediately, but navigating back will reopen that editor

[2022-02-23 18:50] IanMatthewHuff commented on #141756
Verified. Insiders with extensions disabled. In a razor project both cshtml and razor files map to razor language and highlighting.
<img width="2374" alt="image" src="https://user-images.githubusercontent.com/812783/155387211-79d37445-6834-4162-8c0a-677fd59b4692.png">

[2022-02-23 18:50] joyceerhl opened #143798 "Terminal command default decoration always renders one line too high after running `ls`"
Testing #143433

Other commands don't have this issue--seems to only be `ls` so far.

![image](https://user-images.githubusercontent.com/30305945/155387185-46ceb2cd-a0d7-4d0f-a1f4-f3510e9d0305.png)

[2022-02-23 18:51] #142503 closed

[2022-02-23 18:53] rchiodo commented on #143553
Non highlights work but highlights are not showing up at all for me.

[2022-02-23 18:54] codecoll commented on #143660
Thanks, but I meant the built in default. Putting the current file to the top selected by default is pretty useless, isn't it?

[2022-02-23 18:54] gjsjohnmurray commented on #143794
I have used the [Restore Git Branch Tabs](https://marketplace.visualstudio.com/items?itemName=gkotas.restore-git-branch-tabs) extension for this.

[2022-02-23 18:54] rchiodo commented on #143770
Same results.

[2022-02-23 18:55] JacksonKearl opened #143799 "Give lazy expand link a tooltip"
Testing #143572

Hovering the lazy expander `(...)` does not have a tooltip describing what the click will actually do

[2022-02-23 18:56] JacksonKearl commented on #143786
In mock-debug this is surfaced as `lazy var` appearing on click and staying there after focus leaves

[2022-02-23 18:57] bpasero commented on #143694
/duplicate https://github.com/microsoft/vscode/issues/143686

[2022-02-23 18:58] #143694 closed

[2022-02-23 18:58] jackmusick commented on #143269
@atec-spine Can you confirm that it relates to this issue? I found on my system that Windows Update kept installing .NET 3 and 5, despite not having a version installed on my computer to update. After removing those version with the dotnet-core-uninstall tool -- only have 6.0.2 remaining -- my issue went away. That is, until Windows Update pushed those versions, again.

https://github.com/dotnet/c

[2022-02-23 19:00] daviddossett commented on #143743
Looks like another situation where we are applying opacity rules instead of actual colors.

https://github.com/microsoft/vscode/blob/e102191a6ffdc4bfc572c538913f292314092e48/src/vs/base/browser/ui/actionbar/actionbar.css#L54-L58

Same issue on dark HC theme:
<img width="300" alt="CleanShot 2022-02-23 at 10 56 46@2x" src="https://user-images.githubusercontent.com/25163139/155388308-90b227b2-69cf-46

[2022-02-23 19:00] aromeronavia commented on #42253
2022. Feature not done yet 😢

[2022-02-23 19:02] roblourens opened #143800 "Resolving thread failed"
Testing #143545

- Check out this PR and click resolve on this thread: https://github.com/roblourens/testrepo/pull/5#discussion_r813191803
- I got this error popup:

`Resolving conversation failed: Error: GraphQL error: Variable $input of type ResolveReviewThreadInput! was provided invalid value for threadId (Expected value to not be null)`

Log:
[ghpr.log](https://github.com/microsoft/vscode/file

[2022-02-23 19:03] DonJayamanne opened #143801 "Support verbatim math environment in markdown"
Does this issue occur when all extensions are disabled?: Yes/No

- Version: 1.65.0-insider (user setup)
- Commit: 32456dc9e7d3194a94dd3ee0322ccf47e461d09c
- Date: 2022-02-23T05:16:22.798Z
- OS: WSL

Steps to Reproduce:

1. Open the ipynb file provided in this issue (JSON provided)
2. Notice how errors are displayed in the output `ParseError: KaTeX parse error: No such environment: verbatim at posi

[2022-02-23 19:03] gjsjohnmurray commented on #143660
@codecoll it allows a user to dismiss the picker by simply pressing Enter instead of reaching for Esc. Changing the default behaviour will break this.

[2022-02-23 19:03] #143546 closed

[2022-02-23 19:05] roblourens opened #143804 "Count additional comments, not total comments"
Testing #143545

This is totally just personal preference, but when I see this

<img width="429" alt="image" src="https://user-images.githubusercontent.com/323878/155389503-90e1b5db-eb41-4bc1-ae9d-c9da9d54edc4.png">

I interpret it as 3 comments in total, since it shows the first comment, and I expect the second row is like "2 more comments". But actually there are only 2 comments in total in this

[2022-02-23 19:05] #143553 closed

[2022-02-23 19:05] DonJayamanne commented on #142989
@rebornix assigning to you as this was assigned to me when this was transferred.

[2022-02-23 19:06] joyceerhl commented on #139864
Verified that in Insiders:
- I can now customize the quote style for the `javascriptreact` language
- Configuring a preference for 'single' will autocomplete attributes with single quotes even if there are double quotes elsewhere in the file
- Configuring a preference for 'double' will autocomplete attributes with double quotes even if there are single quotes elsewhere in the file
- Configuring a

[2022-02-23 19:06] #143686 closed

[2022-02-23 19:06] DonJayamanne commented on #140063
@rebornix assigning to you as this was assigned to me when this was transferred.

[2022-02-23 19:06] DonJayamanne commented on #140452
@rebornix assigning to you as this was assigned to me when this was transferred.

[2022-02-23 19:06] bpasero commented on #143686
With this fix I believe the feature needs to be tested again from scratch because editors now use the proper URI but still should apply the selection.

[2022-02-23 19:06] DonJayamanne commented on #140062
@rebornix assigning to you as this was assigned to me when this was transferred.

[2022-02-23 19:07] rzhao271 commented on #143700
I increased the max width for the entire Settings editor so that it can take up more horizontal space for users on higher resolutions. I can see whether I can get the search container back to max 1200px wide though.

[2022-02-23 19:07] gardner-bp commented on #126710
The issue persists in 1.64.2
Again the first 2 files I opened worked, so I thought it might be fixed, but it wasn't.
This time, I encountered a worse problem where it failed on the first 3 attempts in the third tab group I created (by dragging a tab from the left pane of a 2 file vertical split into a new zone in the lower left.
Interestingly the first time I tried a horizontal split on an already

[2022-02-23 19:07] codecoll commented on #143660
ESC is the general dismiss key, why should Enter be used here for this? Selecting the previous file by default is much more useful.

[2022-02-23 19:08] roblourens opened #143805 "Comment author/timestamp label baselines not aligned"
Testing #143545

<img width="429" alt="image" src="https://user-images.githubusercontent.com/323878/155389844-048ef6ac-40c6-4648-b06f-7be3a7f83a74.png">

The `roblourens` does not line up with the `33 minutes ago`, it looks a little off

[2022-02-23 19:09] joyceerhl commented on #84453
Still seems to repro in latest Insiders which uses Electron 16:

![image](https://user-images.githubusercontent.com/30305945/155390200-a4142b16-fa73-4dd9-a101-6dc1345912aa.png)

[2022-02-23 19:09] bpasero commented on #143660
If you care about selecting a previous entry quickly via quick pick, there is an alternative that I am using since day 1: it allows to operate quick pick without the input field and just by keybindings and in that mode the second item will be selected by default. It works a bit like Alt-Tab for switching applications and can be accessed when you press `Ctrl+Tab`:
![Recording 2022-02-23 at 20 09 46

[2022-02-23 19:10] connor4312 commented on #142379
I can make a sample but it would be better for the original author to verify, as neither js-debug nor mock-debug currently make use of this event.

[2022-02-23 19:10] #143750 closed

[2022-02-23 19:12] Hilden202 commented on #143640
I'm using "Debugger for Unity". I got an issue in Unity aswell (can't see "Editor Attaching" checkbox) thats rthe prime thing I was trying to fix.

[2022-02-23 19:15] roblourens opened #143806 "Comment widget disappears after adding comment"
Testing #143545

- Open a PR
- Add a comment
- I see the comment submitted, then after a short delay, the comment widget in the editor disappears

Is this by design? If so, then the issue is that it doesn't disappear immediately, but after a delay. It is long enough for me to try to add a second reply to the thread, then the widget disappears while I am typing.

![Recording 2022-02-23 at 11 14 49]

[2022-02-23 19:15] rzhao271 commented on #143700
I can get the search box centered with a max width of 1200px.
Centering the search box on top of the settings tree container or to the right of the tabs is more difficult, considering how the table of contents is resizeable now, and how there could be more tabs if the user opens, for example, a multi-root workspace in a remote container.
Thoughts on how the following looks?

![Screenshot showing t

[2022-02-23 19:18] misolori commented on #143700
Maybe you can use media queries to target larger screens? I don't think we want to cap certain elements, it was more of the entire content area being too wide.

[2022-02-23 19:20] rzhao271 commented on #84453
Looks like I forgot to add steps.
1. On Windows, set the system theme to dark mode
2. Set VS Code to use the native titlebar
3. The titlebar should be black rather than white (it should be the same colour as the titlebar you get when opening a command prompt from the start menu)

[2022-02-23 19:20] JacksonKearl commented on #143770
what platform are you on?

[2022-02-23 19:21] rchiodo commented on #143770
Windows 10, using desktop

[2022-02-23 19:24] roblourens commented on #143545
Looks great!

[2022-02-23 19:24] IanMatthewHuff commented on #86397
Verification looked good with both TS and CS files.

[2022-02-23 19:25] roblourens commented on #143391
You could have color overrides in settings for that workspace, or an extension that is doing this. Check `.vscode/settings.json` or your extensions

[2022-02-23 19:28] meganrogge commented on #143397
seeing the same issue in stable - looks related to reconnection. Which is weird because I did not reload the window
![Screen Shot 2022-02-23 at 1 28 05 PM](https://user-images.githubusercontent.com/29464607/155393485-74d56471-89c6-4f75-8b39-25ffdc4c32b4.png)

[2022-02-23 19:29] brettcannon commented on #143587
@deepak1556 I was able to install via `.deb` under WSL and launch w/o issue. Unfortunately building from a checkout is failing due to `native-keymap` not building when running `yarn`. Is the `.deb` test good enough or do you need me to find someone to do a proper Linux build test?

[2022-02-23 19:29] JacksonKearl commented on #143730
Noticed that in REPL, I can click the `(...)` of the object's `flazyInteger` and nothing changes, but upon collaping and re-expanding the object I do see the resolved value.

[2022-02-23 19:29] roblourens commented on #135908
I also like `audioCues.onDebugBreak`, although it's not a big deal if you don't want to change the setting at this point.

A similar phrase is used in these settings

<img width="427" alt="image" src="https://user-images.githubusercontent.com/323878/155393658-1d8bf4fd-f3d7-4b20-b9c1-fa1118b39d25.png">

[2022-02-23 19:30] JacksonKearl opened #143807 "Auto-expand object on resolve"
Testing #143572

When I click the `(...)` to resolve a lazy object I'd be nice if it would expand automatically.

[2022-02-23 19:30] #143572 closed

[2022-02-23 19:30] sbatten opened #143808 "Unclear when language detection will kick in"
Testing #143576

Repro
1. Open vscode repo in insiders vscode.dev
2. New untitled file
3. Paste
[code]
4. Press enter a few times (language not detected)
5. Type any alphanumeric character (language detected as TS)

I am not sure why adding the next character triggers the knowledge that this is TS. Especially since I can type the class out manually and it goes from Java > C# > TS without needing e

[2022-02-23 19:30] roblourens commented on #138091
Yeah, they timeout after 20s or so

[2022-02-23 19:31] sbatten commented on #143576
Will test this more tomorrow with the changes from today.

[2022-02-23 19:32] brettcannon commented on #126932
Would you expect a specific test to run, or just the test file that was found and believed to be associated with the code? While the latter would at least be possible in Python (based on file name matching), for instance, there's no way we would be able to associate code to a specific test.

[2022-02-23 19:33] kimadeline opened #143809 "Text not found in rendered Markdown after filter update"
Testing #143437

Steps:
- Have a Markdown cell in edit mode, for example
[code]
- Open the Find widget, make sure "Markdown Source" is unticked and "Rendered Markdown" is ticked:
![image](https://user-images.githubusercontent.com/51720070/155394144-f55d10d9-dd73-4bd2-ad84-f0d95ba5a79e.png)
- Search for "Test something", observe that no results were found (as expected)
- Stop editing the cell, obse

[2022-02-23 19:34] Chetan11-dev commented on #143620
Thank you very much :)

[2022-02-23 19:35] kimadeline commented on #143437
- [x] Test mimetypes: gif, png
- [x] Find in Outputs work: tested both markdown source and rendered markdown (I also hit https://github.com/microsoft/vscode/issues/141375)
- [x] Error output are colorized properly
- [x] Large output won't block the UI

[2022-02-23 19:37] sbatten commented on #143793
macos uses a global application menu and is always visible. there is no setting to change this.

[2022-02-23 19:37] #143793 closed

[2022-02-23 19:39] #143775 closed

[2022-02-23 19:40] roblourens commented on #143691
So then that is the issue? Did it ever work that way before?

[2022-02-23 19:41] atec-spine commented on #143269
@jackmusick

Just tested this by uninstalling other versions of .NET with the dotnet-core-uninstall tool (only having 6.0.2 remaining). After removing those versions and running the project in VS Code, the debugger still freezes.

[2022-02-23 19:42] #143138 closed

[2022-02-23 19:43] roblourens commented on #143807
I thought this was happening, but it only works sometimes...

[2022-02-23 19:43] darkbasic commented on #80042
If someone is interested I'm now maintaining the ppc64le port of the Electron and Slack Gentoo ebuilds: https://github.com/PF4Public/gentoo-overlay/pull/134

[2022-02-23 19:45] meganrogge commented on #143783
Good catch - the context menus don't work for decorations rendered prior to the zoom.

As for the other part - on mac for me, the decorations are rendered properly thereafter and the menus work.
![Recording 2022-02-23 at 13 44 13](https://user-images.githubusercontent.com/29464607/155396033-f9f29234-0cfa-461e-9cce-a195f089ad20.gif)

[2022-02-23 19:46] roblourens commented on #143804
After playing with it for awhile, showing the total also seems fine 🤷‍♂️

[2022-02-23 19:47] #143804 closed

[2022-02-23 19:47] meganrogge commented on #143783
related #143703

[2022-02-23 19:48] #141585 closed

[2022-02-23 19:48] jrieken commented on #141585
@tanhakabir You are not dragging a reference but a file

[2022-02-23 19:49] meganrogge commented on #143784
only reproes sometimes - regression related to the `eraseInDisplay` change that was reverted in `xterm`

[2022-02-23 19:49] #141388 closed

[2022-02-23 19:50] sbatten commented on #141388
cc @misolori

[2022-02-23 19:50] meganrogge commented on #143784
https://github.com/xtermjs/xterm.js/pull/3649/commits/a4fee6d4b5c8dd4f740cdf0b5e221377020c1f34

[2022-02-23 19:50] jrieken commented on #143670
Tho, settings sync uses a different button, not the `X`

[2022-02-23 19:53] meganrogge commented on #143791
Miguel had this feedback too ![Screen Shot 2022-02-23 at 1 53 05 PM](https://user-images.githubusercontent.com/29464607/155397343-23835b3f-c7a7-4c50-a96c-4a1af8c7fd0e.png)

@Tyriar I thought you had resolved this?

[2022-02-23 19:54] daviddossett commented on #143765
Dug into this a bit. It looks like there are two issues here:

First, we render different versions of the letterpress SVG depending on the theme type.
https://github.com/microsoft/vscode/blob/48010db276accb3e68d9be9bdc3d2c4220a69c43/src/vs/workbench/browser/parts/editor/editorGroupView.ts#L1805

Second, our theme types are limited to `dark`, `light`, and `hc`.
https://github.com/microsoft/vscode/b

[2022-02-23 19:54] jrieken commented on #143691
I believe there is no, at least not a new issues, unless snippet where muted before. I agree that there is value in snippets for the debug console but maybe not the default JS snippets like class, for-each, etc...

@isidorn Can it be that you have been using `"editor.suggest.showSnippets": false` for the longest time and that it's the first time you see snippets in suggest now?

[2022-02-23 19:54] meganrogge commented on #143798
Was `ls` the exact command you ran? I cannot repro this on mac/pwsh

[2022-02-23 19:55] meganrogge commented on #143778
same for dragging and dropping into the editor area

[2022-02-23 19:59] meganrogge commented on #143696
iTerm tells you when the commands were run, so it's consistent with that.

I like knowing when it was run, but agree that it's not necessary.

[2022-02-23 20:01] MaxRink opened #143810 "VSCode not inheriting environment variables"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.64.2
- OS Version: Linux 5.17

Steps to Reproduce:

1. Set env variables (like SSH-AGENT or PATH)
2. Launch VSCODE
3. Do things that would require those env vars (pulling form giut with ssh, using the k8s extension with krew plugins)

[2022-02-23 20:03] sbatten opened #143811 "Test: Titlebar scaling"
Testing #143656

- [x] macOS @lramos15
- [x] windows @joyceerhl

Complexity: 2

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23143811%0A%0A&assignees=sbatten)

---

The custom title bar is present on all platforms, but is the default on macOS, Windows, and Web. In cases where no menu bar is present in the custom title bar, we do not zoom in/out with the rest of the U

[2022-02-23 20:03] daviddossett commented on #143765
In the meantime I think can get by with using token vars e.g. `fill:var(--vscode-foreground);` in place of the hardcoded `fill:white;` in `letterpress-hc.svg`.

[2022-02-23 20:05] tanhakabir commented on #141585
Oh whoops you're right! Working as expected

[2022-02-23 20:05] jackmusick commented on #143269
@atec-spine Could you confirm the remaining version of .NET Core with both the [dotnet-core-uninstall tool](https://docs.microsoft.com/en-us/dotnet/core/additional-tools/uninstall-tool?tabs=windows) (`dotnet-core-uninstall list`) and `dotnet list`?

Sorry to press, but this issue has been bugging me for a long time and this is the only thing I've seen fix this like clockwork for me. I can run Wind

[2022-02-23 20:06] #143205 closed

[2022-02-23 20:06] Tyriar commented on #143205
To verify ensure these theme keys work as expected:

[code]

[2022-02-23 20:08] taraamin opened #143812 "workbench dissapeared"
why did my workbench just dissapear? and my files are unavailable?

[2022-02-23 20:09] joyceerhl commented on #143798
Yes, `ls` on Windows/pwsh

[2022-02-23 20:10] joyceerhl commented on #143798
Oh, this only happens if I run `clear` first. Probably a duplicate of https://github.com/microsoft/vscode/issues/143784

[2022-02-23 20:12] #143674 closed

[2022-02-23 20:14] #143737 closed

[2022-02-23 20:14] #143738 closed

[2022-02-23 20:17] meganrogge commented on #143530
Hi, I'm not familiar with what you're trying to do. Could you pls include a gif?

[2022-02-23 20:19] tanhakabir commented on #142445
Verified by verifying Hourly Beep extension rendered its README

[2022-02-23 20:20] TylerLeonhardt commented on #143667
@sbatten are you saying it works with NVDA but not VoiceOver?

cc @isidorn

[2022-02-23 20:22] amunger commented on #143550
very minor bug when multiple queues fire at once, but sounds good other than that

[2022-02-23 20:22] #143550 closed

[2022-02-23 20:25] arousta commented on #143794
Thanks @gjsjohnmurray for introducing this. What I was looking for 👍 😃

[2022-02-23 20:26] #143530 closed

[2022-02-23 20:26] monajalal opened #143814 "Error loading webview: Error: Could not register service workers: TypeError: Failed to register a ServiceWorker for scope"

[2022-02-23 20:26] rzhao271 commented on #143692
Closing in favour of https://github.com/microsoft/vscode/issues/143771

[2022-02-23 20:26] #143692 closed

[2022-02-23 20:27] joyceerhl commented on #84453
1. System theme is dark mode
![image](https://user-images.githubusercontent.com/30305945/155402254-3b04f740-d5e0-4d20-8154-e94f1beccf78.png)
2. VS Code is configured to use native titlebar with the `"window.titleBarStyle": "native"` setting
3. Title bar is still white

After also changing my app mode to dark mode, the title bar _is_ black. Is that expected @rzhao271?

![image](https://user-images.

[2022-02-23 20:28] sbatten commented on #143782
@TylerLeonhardt I am calling focus on the quick input, but it has no effect even if I delay it by 1000ms

https://github.com/microsoft/vscode/blob/00b3baf903bcbf09f9f410e1e6ba2d1318b45adc/src/vs/workbench/browser/actions/layoutActions.ts#L1263

[2022-02-23 20:30] rzhao271 commented on #143697
I would probably be more distracted if the sash only showed up conditionally. I would prefer it be permanently visible, but I do agree with the point that it now looks like the line underlining the scope tabs can be dragged down.

[2022-02-23 20:32] sbatten commented on #143667
@TylerLeonhardt that's right

[2022-02-23 20:36] IanMatthewHuff commented on #142032
Looks good. I see the Url, Local File, and Workspace Search categories as expected. Open last * link also worked as expected.

[2022-02-23 20:37] lramos15 opened #143813 "Markdown baseURI doesn't seem right when baseUri is a https link and not a file"
Testing #143647

Using the markdown string below it drops the `1_64`.
[code]

Using the markdown string below it drops everything but `https://github.com`.
[code]

[2022-02-23 20:37] #143647 closed

[2022-02-23 20:40] RenanNeumann commented on #143569
Well this is somewhat embarrassing, but the real problem was that I didn't notice the docker extension showing up next to the terminal, I only noticed it while I was recording the screen, and thinking about it, maybe I didn't notice it before because there was text in the terminal and its sudden pop distracted me from the docker "tab" next to it, if I could take anything out of it I would suggest

[2022-02-23 20:42] joyceerhl opened #143815 "Terminal search links do not work when shell integration is enabled"
Testing #143433

The verification steps in https://github.com/microsoft/vscode/issues/141956#issuecomment-1048324196 do not work when `"terminal.integrated.shellIntegration.enabled": true`. Specifically, ctrl+clicking on command links does nothing.

[2022-02-23 20:45] Tyriar commented on #143798
This is an issue with Windows only, very easy to reproduce with multi-line prompt:
![Recording 2022-02-23 at 12 44 45](https://user-images.githubusercontent.com/2193314/155405150-450f5131-e491-4a65-9c47-e5b5b38d5afa.gif)

It happens because conpty doesn't guarantee the cursor will be in the right position when outputting the command start sequence, so we need some extra smarts to try catch this ca

[2022-02-23 20:47] nolancasimir opened #143816 "Symbols not loading"
Issue Type: <b>Bug</b>

The past week or two, I cannot get any symbols to load. The strip that shows the current path->file->symbol currently is missing the symbol. Control click to peek is not functioning, and the outline for files are empty even for huge files with lots of functions.

Steps to reproduce
1. Open a folder
2. Open a .c file that contains functions
3. Open the explorer window, and n

[2022-02-23 20:51] joyceerhl commented on #141956
Verification step 3 fails for me @Tyriar--if I `mkdir foobarbazqux` and `echo foobarbazqux` it goes straight to file search

![image](https://user-images.githubusercontent.com/30305945/155406232-6b35e6e4-3f4a-4acf-a788-c0a5628f7fb2.png)

[2022-02-23 20:54] jrieken commented on #143070
This doesn't reproduce with a simple TypeScript sample... Tho, there should no difference. @Spongman can you maybe attach a screen recording of what you are seeing? Are all problems errors or are some warnings?

https://user-images.githubusercontent.com/1794099/155406385-f0d0fd75-ea69-4197-9f9a-a1ea5ead68e2.mov

[2022-02-23 20:55] piersh-aetheros commented on #143070
@jrieken did you try with the steps I included above?

[2022-02-23 21:04] jrieken commented on #143070
Well, I told you that I have tried with a simple sample. I also know that marker navigation is independent of the language for which they are reported and I do know that the severity makes a difference. So, please answer these questions

[2022-02-23 21:06] piersh-aetheros commented on #143070
please let me know if you can reproduce with the exact series of steps i indicated above. _that_ is the bug i have reported here.

[2022-02-23 21:08] lramos15 commented on #143129
Hmmm cannot reproduce this anymore.

[2022-02-23 21:08] #143129 closed

[2022-02-23 21:09] piersh-aetheros commented on #143070
no more information is needed, unless you are not able to reproduce using the steps i indicated above.

[2022-02-23 21:13] jrieken commented on #143816
/extCpp

[2022-02-23 21:13] #143816 closed

[2022-02-23 21:16] piersh-aetheros commented on #143070
![Recording 2022-02-23 at 13 15 01](https://user-images.githubusercontent.com/66884198/155409760-34dbf072-9c8b-4530-80c5-c870f2ed0361.gif)

[2022-02-23 21:19] stevencl commented on #143697
I don't think that this is a control that needs to be permanently visible. It's not the main thing that we want users to focus on. We want them to focus on the settings, not the splitter control. The splitter control should be more subtle. For example, the border of the side bar is indicated by the change in background between it and the editor area. We don't need a line to indicate that the side

[2022-02-23 21:25] mjbvz commented on #143745
This already works if you use `const`. I suggest looking into using this and then compiling down to ES5 instead

Marking this as by-design for uses of `var`

[2022-02-23 21:25] #143745 closed

[2022-02-23 21:27] mjbvz commented on #143685
Try the `Open link` command. Most markdown links are not really definitions so we don't put them in the definitions UI

[2022-02-23 21:27] #143685 closed

[2022-02-23 21:30] jrieken commented on #143070
This is helpful and the navigation does indeed seems random. I wonder for what locations (line, column) those errors have been reported for. Can you open the problems view (F1 > Toggle Problems) and take a screen shot showing the 5 errors across those files. Thanks.

[2022-02-23 21:34] Spongman commented on #143070
![image](https://user-images.githubusercontent.com/1088194/155412231-765ebd85-6e9f-411c-ae17-820cd3294d86.png)

to be honest i was _really_ hoping that providing the archive & repo steps would be sufficient for you (MS) to be able to repro this yourselves.

[2022-02-23 21:37] lramos15 opened #143817 "Allow for disabling certain languages from auto language detection"
To help language detection be more tuned towards languages I use it would be great if I could choose a subset of languages from the possible language set to be used for auto detection.

For example I don't program in Coffeescript or Perl but they often get autodetected for other code snippets.

[2022-02-23 21:38] monajalal opened #143818 "updating vscode on CentOS 7 using the rpm file doesn't work"
[code]

I get the following error:
[code]

Also, after the entered command, I cannot open the VSCode anymore from the Applications --> Programming

![image](https://user-images.githubusercontent.com/1892917/155413244-83973604-30f6-43d2-8022-a6ee0b5045d6.jpeg)

[2022-02-23 21:39] meganrogge commented on #141956
@joyceerhl is `foobarbazqux` a folder in your workspace?

[2022-02-23 21:39] daviddossett commented on #143765
Fixed missing keybinding hints and updated the HC letterpress color to use a fixed hex value since it doesn't look like we can dynamically update the SVG's theme vars when the theme is changed.

<img width="521" alt="CleanShot 2022-02-23 at 13 37 58@2x" src="https://user-images.githubusercontent.com/25163139/155412877-f27105e5-5e98-45b3-8eb7-e74d29585750.png">

[2022-02-23 21:40] meganrogge commented on #141956
![Recording 2022-02-23 at 15 40 21](https://user-images.githubusercontent.com/29464607/155413222-16f9109d-0408-4e17-a5d7-1de0aaa052ee.gif)

[2022-02-23 21:40] TylerLeonhardt commented on #143576
Here's a list of good samples to test too.
https://github.com/microsoft/vscode/issues/131450

[2022-02-23 21:41] sbatten commented on #143569
@RenanNeumann thanks for taking the time to provide feedback. the reason we don't focus moved panels is because there can be multiple and the user could be moving many through a variety of interactions and we want to minimize the UI churn/interruptions.

[2022-02-23 21:41] #143569 closed

[2022-02-23 21:42] jrieken commented on #143070
I do understand and you have reported a good issue! Tho sometimes it's complicated... I work on the mac, so running WSL is a bit extra effort, getting the cpp extension (which?) is some extra effort. Trying things in TS or writing a fake extension that adds exactly those diagnostics is very, very easy and quick for me. On top, I know that all our UI is language agnostic. All of this makes me ask t

[2022-02-23 21:42] meganrogge commented on #141956
also, with a file named `build` and a folder named `build`, the `build` folder is focused in the explorer
![Recording 2022-02-23 at 15 42 12](https://user-images.githubusercontent.com/29464607/155413533-49a41b0a-aebf-4513-8c87-a67ef8351bdf.gif)

[2022-02-23 21:43] jrieken commented on #143070
This is a regression from https://github.com/microsoft/vscode/pull/135736

[2022-02-23 21:44] gjsjohnmurray commented on #143812
/needsMoreInfo

[2022-02-23 21:45] monajalal commented on #143814
@mjbvz and @rebornix  I looked at similar issues but can't figure what's the solution. Could you please point me to the solution?

[2022-02-23 21:45] #143070 closed

[2022-02-23 21:46] piersh-aetheros commented on #143070
interesting. i was also able to reproduce while connected to a linux VM over remote-ssh. the c++ extension i used was `cpptools`, as indicated in the repro steps.

[2022-02-23 21:48] daviddossett commented on #143776
I installed the extension and opened a file with it but don't see that icon rendered. Anything obvious I'm missing?

[2022-02-23 21:49] lramos15 opened #143819 "macOS Layout menu has a larger gap between menu and icon when zoomed"
Testing #143811

1. When not zoomed clicking the layout button in the menu bar leads to no gap between the menu and the icon
2. 🐛 When zoomed the pop up doesn't originate from the icon

[2022-02-23 21:49] jrieken commented on #143070
To verify

* have `a.ts` with `console.logg('dddd');console.logg('dddd');console.logg('dddd')`
* have `b.ts` with `b;console.logg();console.logg()`
* repeatedly hit `F8` and make all errors are travered in sane order  (starting at current cursor and than in order of position)

[2022-02-23 21:50] Tyriar commented on #143791
/duplicate https://github.com/microsoft/vscode/issues/143703

[2022-02-23 21:50] #143791 closed

[2022-02-23 21:50] mjbvz opened #143820 "Add note that layout control does not currently support MacOS"
Testing #143581

I don't think the `workbench.experimental.layoutControl.enabled` setting currently works on MacOS since custom title bars are not supported. We should note this in the setting

Also in the setting description, `custom title bar` should link to the `window.titleBarStyle` setting just to make it clear what this is talking about

[2022-02-23 21:51] meganrogge commented on #143815
working for me on macOS

[2022-02-23 21:54] neeleshb opened #143821 "Label for "Goto Previous Problem" is incorrect"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.63.2

.Steps to Reproduce:

1. Make an error while coding, and open the "View Problem" box.
2. Observe that the up-arrow has the label "Goto next problem". Ideally it should be "Goto previous problem".
![goto_prev_problem_issue](https://user-images.githubusercontent.com/2174646/155414671-a6a7c23d-5061-467f-96a4-1

[2022-02-23 21:54] joyceerhl commented on #141956
Yeah the path is `vscode/foobarbazqux` where I have the `vscode` folder open
![image](https://user-images.githubusercontent.com/30305945/155415187-93ff9b56-4f24-48b0-a78d-a242117dd04c.png)

[2022-02-23 21:55] meganrogge commented on #141956
can you pls enable debug logging and provide me with the link opener log?

[2022-02-23 21:55] saikumar-k99 opened #143822 "UI flickers cant see text, blocker to use the tool"
Issue Type: <b>Bug</b>

after opening a workspace, the file structure and any commands that i type in the integrated terminal are not visible

VS Code version: Code 1.64.2 (Universal) (f80445acd5a3dadef24aa209168452a3d97cc326, 2022-02-09T22:00:58.347Z)
OS version: Darwin arm64 21.1.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Apple M1 Pro (10 x 24)|

[2022-02-23 21:55] spaquet commented on #141880
After reading duper #134635 pathing the following way seem to a better idea so we maintain compatibility between Ones

[code]

This script offers the option to check for python3 if python3 is not there then we look for python and eventually we return an error if python is not installed at all.

Much better than the hard crash we have at the moment.

[2022-02-23 21:56] meganrogge commented on #141956
it should start with `Opening link`

[2022-02-23 21:57] Tyriar commented on #143784
I bet I caused this in https://github.com/xtermjs/xterm.js/pull/3654, need `i--` after a splice...

[2022-02-23 21:57] misolori commented on #143697
It's a good point, we actually don't show any border for the side bar/side panel/panel so I'd be up to seeing if the cursor change is enough to let users know.

[2022-02-23 21:58] spaquet commented on #134635
We can edit the code file and replace by:
[code]
That actually should be the code used by VSCode as it checks for either python3 or python and returns an error message when none is installed on the machine.

[2022-02-23 21:58] oscarrutt commented on #133513
I started #142900 which was closed and referred here as a duplicate.

On #142900 @alexdima asked me, "Please run `Toggle Keyboard Shortcuts Troubleshooting` when this happens next and include the output here" so I am responding here now.

While the following troubleshooting output was generated, I pressed, in this order, Command-H, Command-M, and Option-Command-H.

[2022-02-23 14:45:11.128] [rende

[2022-02-23 21:58] MarekLew commented on #143666
Yes. Create two workspace and change theirs setting multiple times. Tested on Two computers. On One computer , before update to 1.64.0 on version 1.61.x work ok. After update, when setting change in one workspace change in another.

[2022-02-23 22:08] joyceerhl commented on #141956
I did `code-insiders --log 'debug'` and this is what I see in 'Log (Window)' output:

[code]

[2022-02-23 22:08] sbatten commented on #141407
was looking into this and the current behavior ignores the panel I assume to keep things simple since it could be moved all over the place. bringing in the panel and the side panel essentially makes us reimplement quite a bit of the layout code on the rapid render side.

I think removing the side bar from the mix will help ease the jarring nature of the current experience when the panel is in a no

[2022-02-23 22:09] sbatten commented on #143666
this will be fixed in the next release and is already fixed in insiders.

[2022-02-23 22:09] #143666 closed

[2022-02-23 22:10] #143798 closed

[2022-02-23 22:11] sbatten commented on #143811
@lramos15 @joyceerhl please wait til tomorrow to start testing on this one since the fix is not yet in insiders

[2022-02-23 22:11] sbatten commented on #143819
fix not yet in

[2022-02-23 22:11] #143819 closed

[2022-02-23 22:12] sbatten commented on #143820
@mjbvz the custom title bar is the default experience in macos (when using a built product)

[2022-02-23 22:16] rzhao271 commented on #143697
I tried setting the sash border colour to transparent. It makes the sash seem more like a hidden feature.
Considering how there's https://github.com/microsoft/vscode/issues/143690, I'd rather figure that out first before making the sash less visible.

[2022-02-23 22:19] spaquet commented on #141834
@bp88
Here is my proposed solution:
[code]

This tests for python3 and python and if none is installed displays an error message.

[2022-02-23 22:22] #143820 closed

[2022-02-23 22:22] sbatten commented on #143820
updated with markdown reference to title bar style setting

[2022-02-23 22:24] daviddossett commented on #142952
Works great! 👍

[2022-02-23 22:26] mjbvz opened #143868 "Hovering over `mark as not viewed control` also shows the tree item hover"
Testing microsoft/vscode-pull-request-github#3332

1. Mark a file as viewed
2. Hover over the big filled in checkmark in the tree view for the file

**Bug**
I see both the button hover and the hover for the entire tree item show up

![Screen Shot 2022-02-23 at 2 25 44 PM](https://user-images.githubusercontent.com/12821956/155419708-0041d92a-5a20-4ef1-b2b3-1d0d897894cb.png)

This is confusing as it

[2022-02-23 22:29] rzhao271 commented on #141152
Got it. Considering I was in a trusted workspace, I had to adjust `editor.unicodeHighlight.nonBasicASCII`.

[2022-02-23 22:29] Tyriar commented on #143784
Upstream fix merged, updating now...

[2022-02-23 22:31] WardsParadox commented on #134635
If you use the changes mentioned by @aimileus (https://github.com/microsoft/vscode/commit/fc8a61280bf880d384278bc98d907a1e04bd6cfd) it works perfectly, no python needed at all.

[2022-02-23 22:32] dsoudakov commented on #142336
This happened to me. I almost bought new router and changed the ISP. MSFT... ug. Still need to figure out which extension it is.

[2022-02-23 22:35] #143787 closed

[2022-02-23 22:36] misolori commented on #143787
Made the icon smaller, will keep gauging feedback if the icons needs to be updated

<img width="177" alt="CleanShot 2022-02-23 at 14 27 05@2x" src="https://user-images.githubusercontent.com/35271042/155419822-9191f597-f607-4e24-89da-a60ccf6f38ea.png">

[2022-02-23 22:36] #143700 closed

[2022-02-23 22:39] atec-spine commented on #143269
@jackmusick the remaining version is 6.0.200

No worries, I was hoping that would fix it for me but it did not.

[2022-02-23 22:39] dewetblomerus commented on #141349
I don't believe it is a setting. I would like it to be so I can default open the terminal in the same place across all environments. And you would be forgiven for spending your efforts looking in the settings because so many other things about the UI can be changed in settings.

Right-click toward the top of the terminal next to the tabs `PROBLEMS`, `OUTPUT`, etc, then you can choose `Move Panel R

[2022-02-23 22:41] daviddossett commented on #143776
I'm also guessing this is related to the harcoded values in #143743

[2022-02-23 22:41] misolori commented on #143737
@meganrogge are there any verification steps?

[2022-02-23 22:41] JacksonKearl commented on #143817
I actually just removed this in favor of keeping track of what files you open and which are in the workspace. Though the changes there won't impact the existing model, if that picks a language it gets used no matter what. The results are better if some languages are removed from consideration entirely rather than just weighted against, so I might add that back.

@TylerLeonhardt and I discussed hav

[2022-02-23 22:43] mjbvz commented on #143820
@sbatten Any idea why I can't get these new controls to show on MacOS

![Screen Shot 2022-02-23 at 2 43 08 PM](https://user-images.githubusercontent.com/12821956/155421780-47d6cf7f-a514-47e4-8479-43e1af61eefb.png)

They worked fine on windows for me but don't show on MacOS

[2022-02-23 22:48] misolori opened #143824 "Settings UI rendering bug"
Resizing the window causes a rendering bug, seems to happen when you are on a setting that shows code syntax text

https://user-images.githubusercontent.com/35271042/155422088-9476ee52-85d6-4c8a-a397-5db9d4a8eddb.mp4

[2022-02-23 22:50] mjbvz commented on #143820
Oh it's the `window: native full screen` option. This disables the custom title bar:

https://github.com/microsoft/vscode/blob/ef70f99af7c90bb37f6dbb797c36de76a51ba73b/src/vs/platform/window/common/window.ts#L150

I would never have found this without looking through the code though

[2022-02-23 22:51] Tyriar commented on #143762
Resizing bash seems to be an easy way to reproduce as bash rewrites the prompt including the sequences on resize:

![image](https://user-images.githubusercontent.com/2193314/155422780-ee9d3a92-7f7a-42ef-8aa8-ca12ba73faa7.png)

[2022-02-23 22:51] amis92 commented on #143269
I'm hitting the same issue.

.NET SDK v6.0.102 (and 3.1.416 installed, not used)
VSCode Info:
[code]

extensions:
- `ms-dotnettools.blazorwasm-companion` v1.1.0
- `ms-dotnettools.csharp` v1.24.0

Launching the debug session opens a browser on a blank page (both chrome and edge) and stays that way - not hanged, just idle; I can close it. However, VSCode doesn't react to Stop Debug or Restart Debug

[2022-02-23 22:53] antimora opened #143825 "Editor panel is missing completely"
Issue Type: <b>Bug</b>

Not sure how this happened but I do not see a way to bring back my editor. I am reopening my workspace in a remote mode and my editor window is missing. In any other  workspaces (remote or otherwise), the editor is present.

VS Code version: Code 1.64.2 (f80445acd5a3dadef24aa209168452a3d97cc326, 2022-02-09T22:00:56.651Z)
OS version: Darwin arm64 21.3.0
Restricted Mode: No
R

[2022-02-23 22:53] Tyriar commented on #143703
Actually this appears to be fixed in main now, repro was easy in insiders and can no longer make it happen in oss.

[2022-02-23 22:53] #143703 closed

[2022-02-23 22:54] connor4312 commented on #138091
Seems to work. I wonder if the notifications should automatically be dismissed if they're still open when the session ends. It could be annoying if there was an error in a session that generated a lot of messages the user would need to manually close..

[2022-02-23 22:55] mjbvz opened #143826 "Configure layout button will sometimes not reopen easily"
Testing #143581

1. On MacOS
2. Click on the 'configure layout button' to see what it does
3. Click again to close it
4. Then click a third time to open it again

**Bug**
I sometimes get into a state where blocking the button does nothing. I'm not entirely sure how I get out of this state, but moving the cursor around seems to fix it sometimes

[2022-02-23 22:55] amis92 commented on #143269
Also, two debug adapter logs from me (the inspection website linked didn't work for me, and 7 zip says "unexpected end of data" when I try to open it...?)
[vscode-debugadapter-117c9795.json.gz](https://github.com/microsoft/vscode/files/8128344/vscode-debugadapter-117c9795.json.gz)
[vscode-debugadapter-823e74b4.json.gz](https://github.com/microsoft/vscode/files/8128345/vscode-debugadapter-823e74b4.

[2022-02-23 22:58] rzhao271 commented on #143824
Duplicate of https://github.com/microsoft/vscode/issues/139805

[2022-02-23 22:58] #143824 closed

[2022-02-23 22:58] misolori commented on #143765
@daviddossett don't forget the same file on distro for the branded icon versions if you haven't already gotten to it

[2022-02-23 22:58] rzhao271 commented on #139805
The issue also occurs when one resizes the window.

[2022-02-23 22:59] sana-ajani opened #143827 "Expect the comments to collapse as view gets smaller"
Testing #143545

The text in the other GHPR views collapses as the pane gets smaller with the "...", expected something similar for the comments as well

![Recording 2022-02-23 at 18 01 13](https://user-images.githubusercontent.com/9721254/155424018-9468d8e0-0ebe-4011-a048-d6faae4f1767.gif)

[2022-02-23 23:00] #143782 closed

[2022-02-23 23:00] mjbvz opened #143828 "Customize layout quick pick visibility buttons slightly shift on toggle"
Testing #143581

1. Open the customize layout view
2. Toggle the side bar

**Bug**
On toggle, the visibility button appears to shift up/down:

![Recording 2022-02-23 at 14 58 04](https://user-images.githubusercontent.com/12821956/155423912-e5b7635c-87db-428b-bf3b-3a741fd208cf.gif)

[2022-02-23 23:02] #141008 closed

[2022-02-23 23:02] Tyriar commented on #141008
The "current session" section is now in last accessed order just like the new "previous session" section

[2022-02-23 23:03] connor4312 commented on #141440
There's now three modes, controllable by `hexEditor.inspectorType`

- `sidebar` shows the inspector in the sidebar, as it was previously
- `hover` shows the inspector only when hovering on a byte
- `aside` (default) show the inspector on the right side when there's approximate space for it, otherwise shows a hover in narrow editors

[2022-02-23 23:03] #141440 closed

[2022-02-23 23:04] mjbvz opened #143829 "Customize layout visibility buttons should say what the buttons do instead of the current view state"
Testing #143581

1. Open the 'customize layout' control
2. Hover over one of the visibility buttons for something like the side bar

**Bug**
If the side bar is visible, the hover will say `Side bar (visible)`. Instead I think the title should tell the user that clicking the button will hide the side bar

[2022-02-23 23:05] meganrogge commented on #143737
It's still unreleased, but use `terminal.integrated.commandDecorationsEnabled:false` to disable them.

[2022-02-23 23:07] weinand commented on #138091
If the debug sessions end quickly because of the "important" issues shown as notifications, then dismissing them immediately is not that helpful. But dismissing them when starting a new session might be a better approach.

[2022-02-23 23:09] mjbvz opened #143830 "Allow resetting layout in customize layout"
Testing #143581

While experimenting with the 'customize layout' control, I switched my panel alignment but then wasn't sure what to reset it back to

Can we add a indicator that tells users what the default alignment is?

[2022-02-23 23:10] meganrogge commented on #143778
related #143137

[2022-02-23 23:11] mjbvz commented on #143581
Main issues I ran into was getting the layout control to show up in the first place due to having nativeFullScreen disabled #143820 and clicking on the configure layout button sometimes doing nothing #143826

Also opened a few issues for the layout control itself

[2022-02-23 23:11] #143581 closed

[2022-02-23 23:12] antimora commented on #143825
The workaround for this was to delete state folders under `$HOME/Library/Application Support/Code/User/workspaceStorage/`

[2022-02-23 23:12] roblourens commented on #143799
Any suggestions for what it should be? The placeholder value could go here.

cc @weinand @connor4312

[2022-02-23 23:15] IanMatthewHuff commented on #141587
I don't see the screen recording any more, but with the new changes this hit target feels pretty reasonable. And side by side I can very much see the point issue and that the target use to be much smaller.

[2022-02-23 23:15] sana-ajani opened #143831 "Comments in view don't persist in bottom panel"
Testing #143545

Experiencing a weird issue where I see comments in the side panel, but when I drag the comments view into the bottom panel the comments disappear and I no longer see them when I drag the view back to the side panel. Tried this with multiple repos! Here's an example: https://github.com/sana-ajani/taskrunner-code/pull/33

![Recording 2022-02-23 at 18 15 00](https://user-images.githu

[2022-02-23 23:16] daviddossett commented on #143787
Looking good 👍

[2022-02-23 23:16] mjbvz commented on #143801
Simple repo:

1. Create a md cell with the content:

[code]

see https://github.com/KaTeX/KaTeX/issues/1745

[2022-02-23 23:18] mjbvz commented on #143801
Actually may be https://github.com/KaTeX/KaTeX/issues/977

[2022-02-23 23:21] daviddossett commented on #143765
Closing as fixed. Will create a separate issue for the theme type discussion.

[2022-02-23 23:21] #143765 closed

[2022-02-23 23:25] connor4312 commented on #143799
Something like `Evaluate ${name}`?

[2022-02-23 23:26] connor4312 commented on #138091
That makes sense. They should only dismiss when a debug configuration of the same name as created them is started.

[2022-02-23 23:26] #142952 closed

[2022-02-23 23:38] kimadeline commented on #142647
Works for me! 🥳

[2022-02-23 23:40] weinand commented on #143799
@connor4312 you said somewhere that "evaluate" is not the correct term. What does Chrome devtools do?

[2022-02-23 23:42] weinand commented on #143790
Most likely this is not a specific problem of "lazy" variables...

[2022-02-23 23:42] karthiknadig commented on #143574
Tested out links, images, animated SVGs, and code blocks. Works great!

[2022-02-23 23:48] connor4312 opened #143832 "Terminal cwd seems to be behind a command"
At least, that's what it seems like. Testing https://github.com/microsoft/vscode/issues/141502 with Powershell 7

1. Follow the setup for `a` and `b`.
2. Open vscode in folder `a`
3. In the terminal, `cd ../b`
4. In the terminal, _type out_ `echo foo.txt` without hitting enter and ctrl+click `foo.txt`. `a/foo.txt` opens 🐛
5. Hit enter, or run any other command. Even hitting enter on an empty promp

[2022-02-23 23:52] connor4312 commented on #143790
Looks like that's correct. I fixed this a short while ago in https://github.com/microsoft/vscode/commit/989bb81 but it seems like it regressed.

[2022-02-23 23:54] roblourens opened #143833 "Losing a history entry for "go to definition" in same file"
- Open any ts file
- Find a reference to a variable that is declared in the same file (with let/const, not a function parameter)
- "go to definition"
- "go back"
- The cursor doesn't go back to where the "go to def" happened from, it goes to the previous location, and I have lost my spot
![Recording 2022-02-23 at 15 53 17](https://user-images.githubusercontent.com/323878/155430667-fab59049-d657-4e

[2022-02-23 23:56] sbatten commented on #143826
I've actually seen this with all of our dropdowns, it's unclear to me what triggers this state but it doesn't seem to be specific to this one.

[2022-02-23 23:57] connor4312 commented on #143799
Chrome devtools is "Invoke Property Getter". Which is good but also somewhat language specific. Maybe Rob's suggestion of using the `value` is a good idea, js-debug could pass back a label like that. It would also look nice in UIs who haven't yet adopted the lazy flag.

[2022-02-23 23:58] rchiodo commented on #130882
@connor4312 can you provide some verification steps? Thanks.

[2022-02-24 00:00] sbatten commented on #143829
@misolori do we have pre-existing guidelines for this?