[2017-05-10 07:10] #26356 closed

[2017-05-10 07:11] Connorelsea commented on #26351
Amazing turnaround on this. Thank you for your hard work!

[2017-05-10 07:12] sebfie commented on #11371
In fact, I need the other way :

<img width="618" alt="capture d ecran 2017-05-10 a 09 11 26" src="https://cloud.githubusercontent.com/assets/862129/25887046/b754062e-3560-11e7-859b-29a5fb0c512b.png">

Should find file : `Mage/Tax/Model/Sales/Total/Quote/Tax.php`

[2017-05-10 07:13] michelkaporin commented on #24411
@StephenBloomquist I was defining the behaviour with respect to the debug protocol that says the following for the StackFrame sent:
[code]
Hence, if there is a source set I would always expect the line and column number > 0. I can do the change to appear the exception widget at column number 1, when column is 0 but this means that we have to have the same behaviour for the line number as well (as

[2017-05-10 07:16] CzBuCHi commented on #26355
i see that now ... thanks.

PS: what i mean is to be able change that settings simply by dragging bottom edge up/down

[2017-05-10 07:17] mjbvz opened #26359 "Investigate Adding Timeouts on TSServer Requests"
Part of #24698

I believe that our communication channel with the TSServer can sometimes become jammed by a request that  receives no response. This shows up as a series of cancelled requests in the traces.

It is unclear why this is happening but one potential solution that I want to explore independently of TypeScript is to adding timeouts to some of our requests. If a response is not received w

[2017-05-10 07:22] mjbvz commented on #24538
Updated for stable and insiders

[2017-05-10 07:24] mjbvz commented on #26015
Duplicate of #23078

[2017-05-10 07:24] #26015 closed

[2017-05-10 07:29] egamma commented on #26356
@leegee Your version of VS Code (1.3.1) is 1 year old. Support for color customization got added in the most recent version 1.12, you should also look into updating to the latest version of VS Code.

[2017-05-10 07:30] egamma commented on #26212
Without additional information we cannot act on this issue and I have to close it, please reopen the issue with additional information.

[2017-05-10 07:30] PolarPayne commented on #26151
On Ubuntu 16.04, running 1.12.1, having the same problem. I get this on all files, but only on certain zoom levels.

Font family: `'Droid Sans Mono', 'Courier New', monospace, 'Droid Sans Fallback'`

[2017-05-10 07:30] #26212 closed

[2017-05-10 07:32] egamma commented on #26269
@King66 thanks for tracking down the duplication.
Closing as a duplicate of @23978

[2017-05-10 07:32] #26269 closed

[2017-05-10 07:33] egamma commented on #26316
@Jason19910 please try to uninstall and install vscode.

[2017-05-10 07:34] yinxin630 commented on #26182
It works. Thank you

[2017-05-10 07:35] egamma commented on #26334
@kattak2k thanks for the issue, but please file the issue against the Ruby extension, this is isn't a VS Code core issue.

[2017-05-10 07:35] #26334 closed

[2017-05-10 07:36] romanresh commented on #21835
Hi @isidorn.

If `startDebug` doesn't support JSON with configuration, it makes sense to update documentation, because the JSON parameter is mentioned here: https://code.visualstudio.com/docs/extensionAPI/vscode-api-commands

[2017-05-10 07:38] felixfbecker commented on #11371
Why are you not simply omitting the underscores while typing? I don't understand why you want to type more characters just so VS Code ignores them

[2017-05-10 07:41] michelkaporin commented on #25107
@danyeh I am fine to add new language, however there was no final acceptance decision made on these criterias as far as I am aware.

@chrisdias can you let me know please once we agreed on the criterias mentioned in the url above, so that I can add new language to VS Code?

[2017-05-10 07:42] jrieken commented on #26184
This isn't about the setting @bdinesh. Foremost extensions can express their intent when showing a text document (preview or not). Unsure how the setting plays into that, but I have a feeling that the editor service should use it and simply overrule the API choice. Correct @bpasero or are there editors that must open as preview despite have that setting which blocks putting this into the service?

[2017-05-10 07:42] Srekel commented on #13612
I have the issue too, on an ASUS Zenbook laptop. Unmaximizing (and re-maximizing) seems to fix the issue temporarily.

- VSCode Version: Code 1.12.1 (f6868fce3eeb16663840eb82123369dec6077a9b, 2017-05-04T21:26:50.689Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|EditorConfig|EditorConfig|0.9.3|
|CppSnippets|hars|0.0.9|
|tabsanity|jedmao|0.0.9|
|

[2017-05-10 07:43] sebfie commented on #11371
You can see my previous messages, because it's a php class respecting a naming convention, so, I search a php class, I copy/paste its name in quick search and find it. It works on atom for example.

[2017-05-10 07:43] egamma commented on #26335
The issue is that the cpp extension is not activated when the command is called. This is a bug in the cpp extension. The cpp debug extension must declare the corresponding activation events in the package.json as is done here in the node-debug adapter: https://github.com/Microsoft/vscode-node-debug/blob/c31d0935a28df4b4b0c85b41a9da6ad7b30e2b5b/package.json#L74

[2017-05-10 07:43] #26335 closed

[2017-05-10 07:45] egamma commented on #26338
// fyi @aeschli

[2017-05-10 07:45] felixfbecker commented on #11371
But you are copy+pasting it into the file search. If you copy+pasted it into symbol search it would work.

[2017-05-10 07:45] joaomoreno commented on #26227
What would a fix in VS Code look like?

[2017-05-10 07:47] 123swk123 commented on #26178
its 'false' for the respective workspace key terminal.integrated.isworkspaceshellallowed

its set to false even when I clicked Allow when it prompted.

I changed it to true and restarted app it worked.

[2017-05-10 07:48] joaomoreno commented on #26100
The commit message gets populated with the last commit message, when Undoing the last commit.

[2017-05-10 07:48] sebfie commented on #11371
You mean if I search using `#Mage_Tax_Model_Sales_Total_Quote_Tax` ?

[2017-05-10 07:50] egamma commented on #26341
Cannot reproduce given the above steps. please provide more detailed steps as described in [Submitting-Bugs-and-Suggestions](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions).

[2017-05-10 07:50] joaomoreno commented on #26287
#18651

There's no way currently.

[2017-05-10 07:50] #26287 closed

[2017-05-10 07:50] #26346 closed

[2017-05-10 07:51] egamma commented on #26342
@AZLisme Please file the issue against the python extension, this is not an issue with VS Code core.

[2017-05-10 07:51] #26342 closed

[2017-05-10 07:52] felixfbecker commented on #11371
Works for me.

![image](https://cloud.githubusercontent.com/assets/10532611/25888401/4e6dbfdc-3566-11e7-890f-986cba3b2854.png)

Have you installed the PHP IntelliSense extension?

[2017-05-10 07:53] EasonWang01 commented on #26015
@mjbvz  So how to fix it?

[2017-05-10 07:54] egamma commented on #26343
@kumarharsh thanks for jumping in, this feature is in VS Code since a while.

[2017-05-10 07:54] #26343 closed

[2017-05-10 07:55] jrieken commented on #26096
Well, not necessarily agreeing because the two spaces have been typed (or smartly inserted). I think the problem is more towards the score-algorithm we run. That makes no a difference if a space matches with a space or if two other letters match. Let we think about trimming whitespace (or ignoring) when running the scoring-logic. That will then land in insiders soon'ish (end of this week, early ne

[2017-05-10 07:55] joaomoreno commented on #21655
@kriscarle @victoriafrench Open the Developer Tools and run:

[code]

What comes out?

[2017-05-10 07:56] egamma commented on #26345
@MalikRumi this is an issue with the python extension and not VS Code Core, please file the issue against the python extension.

[2017-05-10 07:56] #26345 closed

[2017-05-10 07:57] bpasero commented on #25811
@foo-baar there is a difference on macOS between quitting the app and closing the window:
* quit app: restore the window and folder you opened
* close window: the application is actually still running, just without any window, when you reopen we open up an empty window because we assume the previous window was of no more interest since you closed it

Does that make sense?

[2017-05-10 07:58] egamma commented on #26347
Can you please check whether this is a duplicate of https://github.com/Microsoft/vscode/issues/25938

[2017-05-10 07:58] isidorn commented on #25389
@roblourens There will be a slight flicker after which it looks like nothing happened. Yes, this might be confusing but I suggest we wait for bugs from users.

[2017-05-10 07:58] jrieken commented on #10547
Well, the edit and save event already exist globally and will also fire for virtual documents. It more that some needs to store the underlying string. So, it'll be more something like

[code]

[2017-05-10 07:59] egamma commented on #26352
// @joaomoreno

[2017-05-10 08:00] bpasero commented on #25915
I suggest to look at the `[registerWorkbenchAction](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/common/actionRegistry.ts#L34)` method and add an overload that allows to declare a command as being a developer command (or any kind of category). E.g. instead of having `category?: string` we could have an overload that accepts `{ label: string, kind: enum }`

[2017-05-10 08:01] bpasero commented on #26215
@connieelee maybe you have a global command defined on macOS that does that? We from VS Code cannot change your desktop with a keybinding so it can only be some other program taking this keybinding. Can you check?

[2017-05-10 08:01] isidorn commented on #21835
@romanresh startDebug supports JSON with configuration, just in that corner case it will not call the `startSession` command but take an alternate route to start a session.
For now we are treting this as a bug which we will look into if somebody actually hits it

[2017-05-10 08:01] joaomoreno commented on #26053
Found an issue which could be related

@Graaphic @PunchyRascal Are your workspaces in some network share?

[2017-05-10 08:02] bpasero commented on #26352
There also is a bug: https://github.com/Microsoft/vscode/issues/26184#issuecomment-300402213

[2017-05-10 08:02] #10129 closed

[2017-05-10 08:02] egamma commented on #26353
@JohannBlake restoring the size and location is the expected and implemented behaviour, can you describe what doesn't work for you.

[2017-05-10 08:03] sebfie commented on #11371
You are right, I forgot to install it, thx a lot !

[2017-05-10 08:03] jrieken commented on #26285
Yeah, you have bound `space` to accept a suggestion so that's what it now does.

[2017-05-10 08:03] joaomoreno commented on #25822
Did you get the 1.12 update already?

[2017-05-10 08:04] #26285 closed

[2017-05-10 08:04] bpasero commented on #24227
@King66 can you explain where your remaining issue still is please? So it is unrelated to the first window restoring you say?

[2017-05-10 08:05] bpasero commented on #26353
Related: https://github.com/Microsoft/vscode/issues/24227

@JohannBlake can you please explain in detail what you are doing and how the window does not restore? Best, share a video recording.

[2017-05-10 08:05] #26352 closed

[2017-05-10 08:06] JohannBlake commented on #26353
Actually it does work if you click on the menu item "Visual Studio Code close". But if you right click on the app's icon when the app is running (on Mac's app bar at the bottom of the screen) and then click on Quit, it will not save the size or location. This appears to be inconsistent.

[2017-05-10 08:06] jrieken commented on #11877
Idea is to use a new type that subsumes `MarkedString` but also allows for other things like `HtmlString` (think of javadoc). Ideas are early, we don't ugly and something that lasts for a little longer. It should also remove the ambiguity the marked string has today (when to escape and when not)

[2017-05-10 08:07] bpasero commented on #26353
@JohannBlake I cannot reproduce, what are you doing differently?

![panel-red](https://cloud.githubusercontent.com/assets/900690/25888975/8148d750-3568-11e7-8a67-2d6fd2fcf82a.gif)

[2017-05-10 08:08] fenchu opened #26360 "vsc git diff does not handle filestat modes"
- VSCode Version:
1.12.1
- OS Version:
win7(with cygwin), and linux ubuntu
Steps to Reproduce:
If I change filestat modes on files aka "chmod ugo-x dsfmocklist.py" vsc indicated diff, but it does not say
anywhere that this is the case. Discard changes do nothing either

Enclosed is a screenshot the M flag is set, but I cant see any changes, not any description execution bit having changed.

![vsc-

[2017-05-10 08:08] DasJott commented on #26189
After a while working it suddenly worked again!
But then I reloaded the window (for an addon update) and it broke again.
Maybe that helps. I did not do anything special...

[2017-05-10 08:09] PunchyRascal commented on #26053
Yes, network drive mapped in windows - a samba share residing on a linux machine.

[2017-05-10 08:11] JohannBlake commented on #26353
Ok, I think I've managed to see where it's not working. Move and resize the window. But don't quit the app. Just close it by tapping on the red close button in the upper left part of the window. Then open the app again by tapping on the app icon at the bottom of the screen. The app window reverts to the location and size where you last saved it.

[2017-05-10 08:11] NiklasBr opened #26361 "'About Visual Studio Code' window can't be closed with ⌘W"
- VSCode Version: Code 1.12.1 (f6868fce3eeb16663840eb82123369dec6077a9b, 2017-05-04T21:18:32.269Z)
- OS Version: Darwin x64 16.5.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-dash|deerawan|1.5.0|
|php-intellisense|felixfbecker|1.2.1|
|VS-code-drupal|marcostazi|0.0.12|;

---
This is a super-tiny issue, barely worth reporting… :)

Steps to Reproduce:

1. With the MacOS version of

[2017-05-10 08:15] svipben opened #26362 "DeprecationWarning in Developer Tools"
- VSCode Version: 1.12
- OS Version: Linux Ubuntu 16.04

Steps to Reproduce:

1. Open VS Code
2. Open `Toggle Developer Tools`
3. You will see this: ```extensionHost.ts:285 [Extension Host] (node:4333) DeprecationWarning: os.tmpDir() is deprecated. Use os.tmpdir() instead.```

[2017-05-10 08:17] bpasero commented on #26184
@jrieken @joaomoreno today we have two settings that play a role to decide if an editor should open as preview or not:
* `workbench.editor.enablePreview` (default: `true`)
* `workbench.editor.enablePreviewFromQuickOpen` (default: `true`)

If these settings are configured by default, in most cases we open files in preview (e.g. click in explorer, open from quick open).

However, there are still som

[2017-05-10 08:18] hungys commented on #24112
@appleboy

I'm on macOS **10.12.4**, FYI

[2017-05-10 08:19] bpasero commented on #26353
@JohannBlake thanks I see it!

[2017-05-10 08:20] bpasero commented on #24227
@mattbanks @obedm503 @King66 @kballard @GoodGuyNick are you guys actually do what is described in https://github.com/Microsoft/vscode/issues/26353#issuecomment-300408442 ? I can reproduce that 👍

[2017-05-10 08:21] alexandrudima opened #26363 "Code Insiders on Ubuntu always has an available update"
1. Download code insiders from `code.visualstudio.com`
2. Check for updates
3. There is an update available
4. Download and install code insiders again
5. There is still an update available

I've noticed this because of the popup.

![image](https://cloud.githubusercontent.com/assets/5047891/25889582/80c2bdc6-356a-11e7-95e7-49543c2f86b2.png)

[2017-05-10 08:21] YuBenhao opened #26364 "code in <script type="text/template"> miss highlight function"
- VSCode Version:1.12.1 (1.12.1)
- OS Version:10.12.4 (16E195)

Steps to Reproduce:

1.In a XXX.html file, insert a <script type="text/template">some html code</script> code snippet
2.you would see it!

[2017-05-10 08:26] zhang699 commented on #26015
I have same issue please this ASAP!!

[2017-05-10 08:29] joaomoreno opened #26365 "Viewlet progress bar is broken"
![kapture 2017-05-10 at 10 25 48](https://cloud.githubusercontent.com/assets/22350/25889842/8eca320e-356b-11e7-87bc-4678c7ff07f5.gif)

[2017-05-10 08:31] King66 commented on #24227
@bpasero
because the "maximized" setting I used in the past will open a small window(1010x761) at the first time opening vscode, so I use "inherit" setting now...
"inherit" works fine almost always(Win10 1.12.1)

[2017-05-10 08:32] amit-srivastava-007 opened #26366 "High CPU usage from Visual Studio Code v1.12.1"
- VSCode Version: Code 1.12.1 (f6868fce3eeb16663840eb82123369dec6077a9b, 2017-05-04T21:26:50.689Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.1.0|
|Handlebars|andrejunges|0.2.0|
|vscode-eslint|dbaeumer|1.2.8|
|gitlens|eamodio|3.4.9|
|EditorConfig|EditorConfig|0.9.3|
|vscode-npm-script|eg2|0.1.9|
|vsc-ember-cli|felixrie

[2017-05-10 08:33] egamma commented on #26364
duplicate #25920, fix will be in the next recovery build.

[2017-05-10 08:33] #26364 closed

[2017-05-10 08:33] lucavallin opened #26367 "Feature/plugin request - Stub generation and refactoring"
Hello,
VSCode is awesome and I'd love to replace PHPStorm with it, but there are two features that I really miss:

- Automatically generate get/set/constructor/interface methods
- Refactoring (like I change the name of a class and bam, it changes everywhere)

Are there any plans for this? Thank you!

[2017-05-10 08:33] jrieken commented on #24420
Yes, we close all duplicates of this issue to have one central place for a mature and insightful discussion. I don't think having one place for a discussion is a bad thing.

@Thaina You (as everyone else) is invited to join this discussion. We constantly look at feedback and make our decisions based on that. Indeed that's the reason we made this change in the first place. So far around 5 people ha

[2017-05-10 08:35] jrieken opened #26368 "MakesTextEdit context key must not be a precondition but keybinding condition"
Related to the discussion in #24420 have this a command precondition makes it hard to re-configure the keybinding. It should move into the keybindings-when which makes this easier to customise.

[2017-05-10 08:37] #26368 closed

[2017-05-10 08:39] GoodGuyNick commented on #24227
@bpasero

yes but if I then maximize window and reopen it will revert to the default size and position.

no. I make clean install of vscode then open it, the window will be in the default size and position(not maximized and centered). Then I maximize window and reopen vscode expecting window to remember last state but it will again opens in default size and position

[2017-05-10 08:39] egamma commented on #26366
@amit-srivastava-007 can you describe the project and setup when this happens:
- what language are you editing
- when does it happen, always?
- what is the size of your workspace?

[2017-05-10 08:40] joaomoreno commented on #26363
@alexandrudima Installed version A from `apt-get`. It happens that since Insider is frozen, that specific version isn't _released_ by our update server. The latest released version is B. So the update mechanism inside Code keeps saying that there is an update available (a rollback to B), no matter what @alexandrudima does via `apt-get`.

@Tyriar Should we disable the update check for rpm and deb i

[2017-05-10 08:42] alexandrudima commented on #26318
I could reproduce on Linux.
It is happening because Toggle Zen Mode is in the menus. i.e. the Toggle Zen Mode action is triggered via electron's menus keybinding listeners and via `ipc`, not via the keybindings service.

![image](https://cloud.githubusercontent.com/assets/5047891/25890263/260c132a-356d-11e7-8e4c-cebeb0dc2019.png)

![image](https://cloud.githubusercontent.com/assets/5047891/2589029

[2017-05-10 08:42] Thaina commented on #24420
@jrieken If you decide that this issue would be a place to track but you don't open it then everyone who got this problem will come and cannot find open issue about their problem so they would create new duplicate issue again and again

And it was the evidence that you really shove it under the rug by keep mentioning the closed issue while closing the newer reported issue. I got emotional not beca

[2017-05-10 08:42] Zzhiren opened #26369 "emmet is wrong"
- VSCode Version: Code 1.12.1 (f6868fce3eeb16663840eb82123369dec6077a9b, 2017-05-04T21:26:50.689Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-theme-onedark|akamud|1.3.2|
|vscode-eslint|dbaeumer|1.2.8|
|tslint|eg2|0.14.0|
|Theme-Dark-Dracula|gerane|0.0.2|
|Theme-Dracula|gerane|0.0.2|
|theme-material-theme|jprestidge|1.0.1|
|vetur|octref|

[2017-05-10 08:44] alexandrudima commented on #26318
@bpasero I am not sure what the fix should be. We would need to know if a menu action got triggered by the menus via electron's keybindings listener and re-evaluate the `when` condition.

i.e. in other words, showing a keybinding next to a menu action means adding a keybinding in our system without the `when` condition

[2017-05-10 08:47] jrieken opened #26370 "Show file (and position) of workspace symbols"
Since workspace symbol search has a high chance of returning many items with duplicate names we should show the file and position where they are defined. Also, this information should be searchable.

TypeScript has [ghetto fix](https://github.com/Microsoft/vscode/commit/c94789c509a8d85400d3d94bc70c8456af1b0a09 ) this which is bad because
* it breaks with the paradigm that extensions provide data a

[2017-05-10 08:48] alexandrudima commented on #26362
@svipben This is most likely coming in from an extension.

I just did a search in our code base and we're using `os.tmpdir()`, not `os.tmpDir()`.

Do you see the deprecation warning when running with `code --disable-extensions` ?

[2017-05-10 08:48] jrieken commented on #26370
fyi @ramya-rao-a - I remember similar discussion have happened for go, indeed I thought that I have a duplicate of this one...

[2017-05-10 08:50] svipben commented on #26362
@alexandrudima No, everything is very good. How I can know which extensions is related with that?

[2017-05-10 08:50] martinjco commented on #396
Microservices and serverless platforms, combined with the long-standing "repos are cheap" mantra, are why this is a must have. It's not unusual to have ~30 [small] repositories open and be working on files from multiple projects concurrently; expecting people to switch between that many windows, or offloading the file view arrangement to the desktop environment window manager is not going to work.

[2017-05-10 08:50] isidorn commented on #25996
@huangtengfei could not reproduce. I nicely installed your extension and the electron window is opening in the same window. No matter what I do no output is added in any of the windows.

Though even if I got to reproduce this issue I believe it is an electron bug, so I would recommend you got over to the electron repository and file an issue there https://github.com/electron/electron

Apart from t

[2017-05-10 08:50] joaomoreno commented on #26053
This is #25175

[2017-05-10 08:52] egamma commented on #26369
Cannot reproduce given the above steps. please provide more detailed steps as described in [Submitting-Bugs-and-Suggestions](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions).

[2017-05-10 08:54] alexandrudima commented on #26362
Unfortunately only a "binary search" could do it. i.e. disable half of the extensions, etc.

There is also the option to search for `tmpDir` on disk in the extensions installation location `$HOME/.vscode/extensions/`

[2017-05-10 08:54] jrieken commented on #24420
Reopening to collect feedback on the workaround below:

To re-store the old enter behaviour add this to your `keybindings.json`

[code]

@Thaina @songtm @seancheung @neilsustc Can you verify that above keybindings-customization does restore the previous enter-behaviour?

[2017-05-10 08:54] egamma commented on #26265
@varunjayaraman can you check whether this is a duplicate of #22114

[2017-05-10 08:54] alexandrudima commented on #26362
Closing for now, since there is nothing to do on our side.

[2017-05-10 08:54] #26362 closed

[2017-05-10 08:55] svipben commented on #26362
@alexandrudima Sorry, next time I will know how to check if it's related with extensions.

[2017-05-10 08:56] sebfie commented on #11371
mmm in fact magento project seems too big, it does not show any results

[2017-05-10 08:57] Thaina commented on #24420
I try it for 1 minute with and seem like that keybinding work

[2017-05-10 08:58] wuzixiao commented on #24653
Hi @rishii7, @joaomoreno  , I am new to this project and want to help.

Can I ask how do you debug your code for extentions?  As when you run out of source, you can not connect to the extension marketplace.

Thanks

[2017-05-10 08:59] sebfie commented on #11371
Finally, I just want to be able to use search file and ignore underscore, It does not seems to be a so hard feature to have. It can be a params in config : `search_file_ignore_char`

[2017-05-10 08:59] marvinhagemeister opened #26371 "Wrong intellisense overlay position in split-view"
The intellisense suggestion overlay is not positioned at the cursor inside the right editor pane. This only happens in split view.

<img width="816" alt="screen shot 2017-05-10 at 10 56 12" src="https://cloud.githubusercontent.com/assets/1062408/25890987/c07c3d8e-356f-11e7-94a8-db2bcb057279.png">

- VSCode Version: 1.13.0-insider c615b43be67170e166779c9020a249442c4f36fc
- OS Version: MacOS Sierra

[2017-05-10 09:03] #25175 closed

[2017-05-10 09:04] Thaina commented on #24420
Aside from this problem I actually want to report it for so long that suggestion box stole my tab key

I use tab as another kind of space but then vscode from v1 stole it from me

But I just accept that people like it and make keybinding for myself. I was not look in that way before

Until you say that people who use enter to newline felt that enter key was stolen from them

If you think that we s

[2017-05-10 09:06] rishii7 commented on #24653
@wuzixiao  Even I am new to this project. I had the same problem but looking at the existing issues, I found [this](https://github.com/Microsoft/vscode/issues/2647) and I hope this will help you.

[2017-05-10 09:12] felixfbecker commented on #11371
Imo it screws the semantics. You want to search for a symbol, but you want to search by it from file search. And you want VS Code to transform your query in a way that matches the naming conventions of a very specific language convention. PSR-0 (underscores) is legacy. If VS Code supports searching by PSR-0 convention, they should support searching by PSR-4 convention (backslashes) too. If they su

[2017-05-10 09:14] sebfie commented on #11371
That's why I suggest an option to ignore some char, users can use or not.

Thx anyway but I can not use your editor for magento/zend projects.

[2017-05-10 09:16] leegee opened #26372 "workbench.colorCustomizations.input.foreground/background have no effect?"
- VSCode Version: Code 1.12.1 (f6868fce3eeb16663840eb82123369dec6077a9b, 2017-05-04T21:26:50.689Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|Theme-NaturalContrast-With-HC|74th|1.0.0|
|vscode-eslint|dbaeumer|1.2.8|
|dark-plus-plus-theme|DryWolf|0.0.9|
|vscode-babel-coloring|dzannotti|0.0.4|
|EditorConfig|EditorConfig|0.9.3|
|Theme-Blueprint|gera

[2017-05-10 09:17] Gama11 opened #26373 "Awkward line breaks in new completion view"
(Insider's build c615b43b)

The new completion view frequently produces awkward line breaks with the Haxe extension. Here's an example:

![](http://i.imgur.com/8c5Q4Eq.png)

It tends to break after `?`, which looks strange, because the `?` belongs to the parameter (`?` indicates an optional parameter in Haxe). Breaking after `(` / `,` would be more natural. I don't think there's a way to control t

[2017-05-10 09:20] alexandrudima commented on #26151
I'm sorry I could still not reproduce. I also tried rendering whitespace, since those might impact things too (and I've noticed whitespace being rendered in one of the screenshots).

When I go `zoomLevel`: 5, around column 900 I can notice the coordinates obtained through multiplication being a few px off from the actual rendered text:
![image](https://cloud.githubusercontent.com/assets/5047891/25

[2017-05-10 09:21] #24277 closed

[2017-05-10 09:22] weinand commented on #26348
I agree, we should not try to re-attach in case of errors.
On the other hand: you could omit the "restart" attribute (or set it to false) to prevent the re-attach from happening.

[2017-05-10 09:23] isidorn commented on #24277
@dotnetengineers thanks for aweseme repro steps!

The issue here seems to be that we are getting bad scope ranges from the node2 debug adapter
fyi @roblourens
This seems to happen because we are hovering over a typescript file and the scope ranges have line numbers with respect to the javascript file.

To work around this issue I made our scope search strategy a bit more flexibile: if none of the

[2017-05-10 09:26] alexandrudima commented on #26151
Hmm, actually I could reproduce some weirdness in a VS Code session immediately after changing the zoom level. i.e.: change the zoom level, the positions are off. It all went away after restarting VS Code. I think there might be some sort of race between when the font is measured and the zoom level is applied. @PolarPayne @W4RH4WK Does this issue resolve itself after closing VS Code and starting i

[2017-05-10 09:35] huangtengfei commented on #25996
I tried several times on my colleague's computer, this bug reproduced every time.

you can see the process from this gif > [test-vscode.gif](https://github.com/huangtengfei/vscode-electron-demo/blob/master/images/test-vscode.gif)

And I do not think this is electron's bug because it is vscode that cannot get current window after electron dialog be closed...

[2017-05-10 09:35] felixfbecker commented on #11371
@sebfie Please open an issue at the LS repo. If you have magento or zend as a Composer dependency the index will be cached after the first time.

[2017-05-10 09:36] Gruntfuggly opened #26374 "Unhelpful error message when starting debugger"
- VSCode Version: 1.12.1
- OS Version: Windows 7

I've installed the WinDbg Debugger extension from [here](https://marketplace.visualstudio.com/items?itemName=reznikdi.windbg-debug).

I've used the suggested configuration, but when I try to start the debugger I get the error
**Cannot read property 'toLowerCase' of undefined**

I've also recieved this error when attaching to a remote debugger (gdb)

[2017-05-10 09:44] neilsustc opened #26375 "Duplicate text when resizing integrated terminal"
- VSCode Version: Code - Insiders 1.13.0-insider (c615b43be67170e166779c9020a249442c4f36fc, 2017-05-09T06:13:02.691Z)
- OS Version: Windows_NT ia32 10.0.16188

---

Steps to Reproduce:

1. Open integrated terminal
2. Resize it
3. See text duplicating

![terminal-iloveimg-compressed](https://cloud.githubusercontent.com/assets/7588612/25892793/2342577c-35a8-11e7-9060-b5694ef2b99e.gif)

[2017-05-10 09:47] PaoloFalomo commented on #10171
Duplicate as what? This is still not working

[2017-05-10 09:50] isidorn commented on #19677
@Deilan sorry for the slow response this somehow slipped through my radar.
I acknowledge that "Configuration 'renderer' is missing in 'launch.json'' is coming from the vscode side. However I was not able to reproduce this with the latest insiders

Can you please try to reproduce this one more time with the insiders and if you can than could you please share a reproducable repository on GitHub for

[2017-05-10 09:51] twpol opened #26376 "Preview Git SCM cannot stage/unstage lines in network workspace"
- VSCode Version: Code 1.12.1 (f6868fce3eeb16663840eb82123369dec6077a9b, 2017-05-04T21:26:50.689Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|Bookmarks|alefragnani|0.14.1|
|copy-relative-path|alexdima|0.0.1|
|Handlebars|andrejunges|0.2.0|
|npm-intellisense|christian-kohler|1.3.0|
|path-intellisense|christian-kohler|1.2.0|
|vscode-markdownlint|Da

[2017-05-10 09:53] bpasero commented on #26157
Pushed to release/1.12

[2017-05-10 09:54] leegee commented on #26372
An hour later, with no changes, it has started working. I guess it is NTFS at my new, restrictive workspace. Sorry to trouble you.

[2017-05-10 09:54] #26372 closed

[2017-05-10 09:55] tinganho commented on #22306
@weinand I don't see any new configurations that you are using that might make my case work.

[2017-05-10 09:55] will-stone opened #26377 "Ability to theme ruler colour"
- VSCode Version: 1.12.1
- OS Version: OSX 10.11.6

Add option in `workbench.colorCustomizations` to theme the ruler colour.

[2017-05-10 09:56] #26365 closed

[2017-05-10 09:56] DavidBabel opened #26378 "add workbench.action.nextWindow and workbench.action.previousWindow"
Since the new 1.12 MacOs option `window.nativeTabs` is really great, it will be very helpfull to have functions to easily switch to previous and next window from keyboard like :
- `workbench.action.previousWindow`
- `workbench.action.nextWindow`

Thanks to consider.

[2017-05-10 09:57] martinlippert commented on #26096
Can you explain the exact logic of how proposals are sorted? I am confused how filterText, sortText, and the "magic" that you described above is playing together. Maybe if I understand the exact meaning of those and their combined behavior, I can dive deeper. That would be awesome.

(also a pointer to the code would be great, then I would parse the logic from the code myself...) :-)

[2017-05-10 09:58] DasJott commented on #26189
It must have been the Budgie DE I installed temporarily recently. A systemwide shortcut was installed for ctrl+tab for starting xfdashboard.
I removed that shortcut from system settings -> keyboard -> shortcuts -> custom shortcuts

Now it works again.

[2017-05-10 09:58] #26189 closed

[2017-05-10 10:01] LegoChicken commented on #5081
Can this issue be reopened? Or shall I open a new one?

[2017-05-10 10:05] #20927 closed

[2017-05-10 10:06] isidorn commented on #20927
With the new chrome update now the dropdown natievly always auto selects the first occurrence of a duplicate name (checked os x and win(. So even in a native selector it is never possible to select the second duplicate.
To align with that now we also always pick the first occurence of a duplicate - not the last one. This in combination with the new select box behavior will lead to an overall bette

[2017-05-10 10:16] VandalPaulius opened #26379 "Inactive editor group tab color fade"
- VSCode Version: 1.12
- OS Version: Windows 10

Currently there is no setting for adjusting inactive editor tab as after 1.12 version update it fades and it's almost impossible to read in comparison with active editor group tabs.
It would be better if active editor would have an outline/border to highlight it's activity status. In that case inactive editors could be left untouched by fading to sh

[2017-05-10 10:16] dbaeumer commented on #5081
@BillDenton if you create a new file using the Windows file explorer directly in a folder that is open in VS Code does the file show up in VS Code's explorer pane?

[2017-05-10 10:18] aStonedPenguin opened #26380 "Request: Add regex support to snippets"
Being able to do this would be fantastic and drastically increase snippets usefulness above and beyond the example provided

One use case for example is below, I'd love to be able to auto complete anyvar:AcceptInput() while currently there's no way that I've seen to do so.

[code]

[2017-05-10 10:23] dbaeumer commented on #26282
I would like to disable the doc as well. I can not remember when I last expanded or looked at the doc in code complete widget. During normal coding time the doc simply doesn't add any value for me. Until now this was an additional line in the widget so it didn't bother me much. But now this is very distracting for me. So please give us an option to turn this off and add a keyboard short cut to sho

[2017-05-10 10:27] weinand commented on #22306
@tinganho does it help if you add a `"protocol": "legacy"` to your launch config?
What version of node are you running inside the container?
does it help if you pass `--debug-brk=0.0.0.0:5858` to mocha?

[2017-05-10 10:30] HawkenKing commented on #22388
hi @bpasero you wondered what type of warnings I was getting while using Unity.

By default Unity will add a few lines to the top new .cs files, these are in basically every file. The "using" includes are not always used, so appear with green squiggle underlines.

However every time you start up VSCode, it warns you about these.
![screen shot 2017-05-10 at 7 27 08 pm](https://cloud.githubuserconte

[2017-05-10 10:31] joaomoreno commented on #25175
I could easily reproduce in a VMWare VM by calling `fs.watch()`, giving it a shared path from the host. Electron just crashes. Created electron/electron#9416

[2017-05-10 10:32] joaomoreno commented on #25982
Likely #25175

[2017-05-10 10:32] #25982 closed

[2017-05-10 10:32] joaomoreno commented on #25787
Likely #25175

[2017-05-10 10:32] #25787 closed

[2017-05-10 10:36] aeschli commented on #21967
There is no built-in css formatter...

[2017-05-10 10:42] bpasero commented on #22388
@HawkenKing I see, you could also report this to their extension asking for a more pleasant experience (e.g. allow to never show the warning again).

[2017-05-10 10:43] alexandrudima commented on #26151
My repro steps:
* settings:
[code]
* close VSCode
* start VSCode
* comment out `window.zoomLevel` and save
* Observe cursor position being off for the remaining of the window session (i.e. until vs code is restarted)

The root cause appears to be:
* we call `webFrame.setZoomLevel(0)` when we detect the settings change.
* we then call `browser.setZoomLevel(webFrame.getZoomLevel())` which evaluates

[2017-05-10 10:46] egamma commented on #26374
This is not an issue of Visual Studio Code core, it is an issue of C/C++ extension, please report the issue against this extension.

[2017-05-10 10:48] egamma commented on #26378
// fyi @bpasero

[2017-05-10 10:49] aeschli commented on #3353
I don't think there's a strategy that pleases both the C-style and the Python style language camps.
With the proposed PR In C style land:
[code]
would fold to
[code]

I think we need an entry in the language configuration. Also, see https://github.com/Microsoft/vscode/issues/25365#issuecomment-297705715

[2017-05-10 10:51] jrieken commented on #26168
Thanks. I can reproduce, seems like the transport-layer is properly subscribed but the actual implementation fails to listen. Will investigate...

[2017-05-10 10:53] egamma commented on #26380
// @jrieken fyi

[2017-05-10 10:55] efikarl commented on #26327
Sorry, I'm not good at English.
Inline Editors just displays definition in a small windows in current file without jump to destination file. I think vs code dose an unless step to jump to the destination file. Or, vs code just jump to the destination without display the code in a small windows.

[2017-05-10 10:57] jrieken commented on #26168
Yeah, unsure what I did there... Seems like it only registers as listener if the first call to provide returns something. That where the bug is

[2017-05-10 10:57] jrieken commented on #26380
dupe of #6920

[2017-05-10 10:59] jrieken commented on #26380
Oh, actually not a duplicate. @aStonedPenguin You want to always get that snippet above when the prefix matches `<somethingOrNothing>:AcceptInput`, right? So, `foo:AcceptInput` should become `AcceptInput()`?

[2017-05-10 11:02] jsnick commented on #25658
+1
I could not find any extensions, too.

[2017-05-10 11:03] foo-baar commented on #25811
@bpasero From my perspective the behaviour should be consistent irrespective to method user chose to close vscode. But if thats what majority on team decided than should be it.

Thanks once again for following up.

[2017-05-10 11:03] jrieken commented on #26184
No, that isn't correct. We have added that option when adding the option for showing a text document. The *only* that happened is that both are now aligned wrt the default, which is 'pinned'. The diff-command used to be different here and because it is less official got aligned with the `show`-function. To get to old behaviour you need to pass `{preview: true}` when calling the diff-command.

[2017-05-10 11:05] BillDenton commented on #5081
Yes, it does appear. I opened the VS Code explorer pane, right clicked on a file, selected Reveal in explorer, copied the file in Window explorer. Immediately the file appeared in VS Code explorer.

[2017-05-10 11:19] BillDenton commented on #5081
I have multiple folders (for different branches off the same project). I switch between them using File, Open Folder. However, so I can use the same configuration for all folders, I have created a .vscode directory in each root folder. In there the tasks.json, c_cpp_properties.json, launch.json and settings.json are symbolic links back to a common configuration stored elsewhere. Could this be mess

[2017-05-10 11:27] SchneMa commented on #24420
That works for me thx !

[2017-05-10 11:33] motebotic opened #26381 "User settings wiped"
- VSCode Version: Code 1.12.1 (f6868fce3eeb16663840eb82123369dec6077a9b, 2017-05-04T21:40:39.245Z)
- OS Version: Linux x64 4.4.0-77-generic
- Extensions: the listing exceeds the lower minimum of browsers' URL characters limit
---

I cant reproduce the bug so this is probably unhelpful, but here's how it happened:

1. Pressed ctrl + to zoom & got a message VS needs to restart to apply settings.
2.

[2017-05-10 11:42] borekb opened #26382 "[json] Incorrect JSON schema validation after local schema change"
- VSCode Version: 1.12
- OS Version: Win10

I'm having the same issue as Changes to JSON schema are not reflected #13897. Since that issue is from October last year, I'm opening a fresh one.

My JSON:

![image](https://cloud.githubusercontent.com/assets/101152/25896813/f65cbbde-3585-11e7-93b7-de79529cafe6.png)

My local schema:

![image](https://cloud.githubusercontent.com/assets/101152/25896870/2

[2017-05-10 11:44] jack-chung opened #26383 "Intellisense became very slow since the update"
- VSCode Version: Code 1.12.1 (f6868fce3eeb16663840eb82123369dec6077a9b, 2017-05-04T21:18:32.269Z)
- OS Version: Darwin x64 15.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-todo|MattiasPernhult|0.8.0|
|dakara-foldplus|dakara|1.1.0|
|vscode-great-icons|emmanuelbeziat|2.1.2|
|Go|lukehoban|0.6.61|;

---

Steps to Reproduce:

1. This is the VScode April 2017 update, working in th

[2017-05-10 11:44] borekb commented on #26382
After changing my schema a couple of times:

![image](https://cloud.githubusercontent.com/assets/101152/25897024/b510bb2a-3586-11e7-9952-363d609f87f3.png)

![image](https://cloud.githubusercontent.com/assets/101152/25897056/cace73da-3586-11e7-929f-6c3e98f455b7.png)

[2017-05-10 11:46] jack-chung commented on #26383
The pop-up hint for function parameters is still as fast as usual. The issue only applies to the hint for symbol names after typing the dot.

[2017-05-10 11:47] borekb commented on #26382
A workaround is to temporarily change the link to schema in the `$schema` element to something invalid and then back.

[2017-05-10 11:54] AlbertYeusiawan commented on #26194
yinhuey19, could you show me how to know previous CLI version?
i got the same problem as you and now i'm super confused to have my project works again

[2017-05-10 12:18] DavidBabel opened #26384 "CMD + down (Mac Users) don't lost explorer focus"
Hi !

The default behaviour of vscode is to loose the focus of the explorer when we it "CMD+Down" shortcut.
It will be awesome to add another command to allow to open file preview to side, without loosing focus from explorer (sublime text like).

Thanks !

[2017-05-10 12:25] motebotic commented on #26381
I have made a new settings file and tried to reproduce this but can't even get the "need to restart to apply settings" when I am zooming. I tried hitting all the keys that my fat fingers may have slipped to and nothing. The file I was trying to zoom on is a file I keep a bunch of text symbols in to use when boiler-plating shit if that changes anything.

Anyway I am sure there are better things to

[2017-05-10 12:26] Avol-V opened #26385 "VSCore repeatedly ask for ssh key password every 3 min"
- VSCode Version: 1.12.1
- OS Version: Ubuntu 16.04.2 Linux 4.4.0-75-generic x86_64 LXDE

VSCore repeatedly ask for ssh key password every 3 min., even without any activity from my side. I can just open repository cloned using ssh and it will ask for the password every 3 minutes.

[2017-05-10 12:30] PolarPayne commented on #26151
This is happening both with my 1920x1080 and 2560x1440 displays (that's how I noticed this also, since I'm moving the window between the screens and then I need to zoom in/out), also I'm using i3.
If I restart vscode, and scroll a bit and move the cursor it seems to fix it (but only after scrolling?).

Before restart:
![2017-05-10-151100_361x104_scrot](https://cloud.githubusercontent.com/assets/71

[2017-05-10 12:54] stelcheck commented on #26348
True, but in my case I use something similar to nodemon - so i would really like to be able to auto-reattach if possible.

[2017-05-10 12:57] weinand commented on #26348
I see - I just wanted to be sure that you are deliberately using the "restart" attribute.

[2017-05-10 12:58] shanalikhan commented on #25735
This feature looks great!

I am planning to add this feature in v3.0 on Code Settings Sync.
Extension will create multiple Gist in Github for your office and home code settings if you want seperate one, and upon download you will be asked to select that setting and Boom ! Code is "hot swapped" to your second dev environments

@ https://github.com/shanalikhan/code-settings-sync/issues/308
Please sh

[2017-05-10 13:01] alexandrudima commented on #26151
Upstream issue: #9418

[2017-05-10 13:03] alexandrudima commented on #26151
@PolarPayne VS Code supports two types of "zoom":
* one is conceptual similar to the browser zoom. i.e. View > Zoom In / Zoom Out. This makes it that everything gets zoomed in (including icons, etc.). This is the kind of zoom that triggers this issue
* the other `editor.mouseWheelZoom` is simply changing the editor `fontSize`. This is what most other desktop text editors refer to as zooming. This

[2017-05-10 13:04] #26157 closed

[2017-05-10 13:04] bpasero commented on #26157
@isidorn can you please verify once stable builds are through?

[2017-05-10 13:07] aeschli commented on #26377
@will-stone Do you mean the overview ruler in the editor? What exactly do you want to theme there?

[2017-05-10 13:09] mfrost66 commented on #26337
@mjbvz  Added ```"typescript.tsserver.log": "verbose"``` to workspace settings and relaunched vscode.  Once the ```configure excludes``` showed, I attempted to open log, got "could not open TS Server log file" message.  Suggestions on troubleshooting the troubleshooter?

<img width="799" alt="capture" src="https://cloud.githubusercontent.com/assets/3818866/25900065/ca48fe14-3557-11e7-8610-928e942c

[2017-05-10 13:10] will-stone commented on #26377
I mean this:

![image](https://cloud.githubusercontent.com/assets/654103/25900135/4d2d1a72-358a-11e7-8607-82be1f0c0bf6.png)

I'd like to be able to change its colour.

[2017-05-10 13:14] aeschli commented on #26332
You mean the the highlight on the 'd'? It not clear from the screenshot what this is. Can be the selection highlight, a word highlight or the findMatch highlight.
https://code.visualstudio.com/docs/getstarted/theme-color-reference#_editor-colors summarized these colors and shows how themes (or users) can change it.

[2017-05-10 13:14] #26332 closed

[2017-05-10 13:18] mandolyte commented on #4490
Just adding my support for recording macros; this with playback would eliminate my need to keep Notepad++.

[2017-05-10 13:18] aeschli commented on #26310
The built-in SCSS grammar gives `@font-face` the scope
`keyword.control.at-rule.fontface.scss`

Your scope has a `-` too much there.

[2017-05-10 13:18] #26310 closed

[2017-05-10 13:24] bpasero commented on #26378
@DavidBabel you can do this from macOS itself:

![image](https://cloud.githubusercontent.com/assets/900690/25900749/c72a204a-3594-11e7-9040-87b3bb93aefe.png)

[2017-05-10 13:24] #26378 closed

[2017-05-10 13:26] isidorn commented on #26157
@bpasero yes, sure

[2017-05-10 13:27] bpasero commented on #26379
We fixed the low contrast via https://github.com/Microsoft/vscode/issues/26132

[2017-05-10 13:27] #26379 closed

[2017-05-10 13:28] bpasero commented on #25811
@foo-baar I am not saying we as a team decide how it should be, we are just trying to follow macOS standard UX guidelines and I think in this case we found that it was more typical on macOS to not reopen a window when the user explicitly closed it (as opposed to quitting).

[2017-05-10 13:29] michelkaporin opened #26386 "Spectron: Main window focus is lost when starting from the fresh '--user-data-dir'"
Ref: #25291

VS Code main window focus is being lost by an opening of 'Getting Started' page upon starting from the fresh user data directory. This causes some tests to fail due to the page opening that happens during the activity of WebDriver actions.

[2017-05-10 13:29] bpasero commented on #26157
@isidorn mac builds are already done: https://az764295.vo.msecnd.net/stable/19222cdc84ce72202478ba1cec5cb557b71163de/VSCode-darwin-stable-unsigned.zip

[2017-05-10 13:31] bpasero commented on #26386
@michelkaporin @joaomoreno wouldn't it be better to try this from an environment variable we set (e.g. `SPECTRON_TEST`)? It looks like this command line argument is user facing (e.g. code --help) and has no real purpose other than from the spectron test?

[2017-05-10 13:33] isidorn commented on #26157
@bpasero thanks. Verified that it works fine -> adding verified tag

[2017-05-10 13:33] may215 opened #26387 "[MAC] Code Helper process using more than 3GB memory and 99% cpu"
- VSCode Version: 1.12.1
- OS Version: OSX 10.11.16

Steps to Reproduce:

1. Start VS code, open my project in golang/python.
2. Using VS code for couple of minutes.
3. Idle for one hour.

![screen shot 2017-05-10 at 4 27 17 pm](https://cloud.githubusercontent.com/assets/1849258/25900982/f5a8e2ea-359d-11e7-93fe-10ad92a2c839.png)

Anything I can do about it?

[2017-05-10 13:33] bpasero commented on #26384
You can set

[code]

[2017-05-10 13:33] #26384 closed

[2017-05-10 13:34] bpasero commented on #26381
I think @jrieken saw this too, at least the dialog (unsure if settings got lost)?

[2017-05-10 13:39] egamma commented on #26327
No problem and we are making progress.

Here is what VS Code currently provides:
 `Go to Definition` - F12  jumps to the destination without showing an inline editor
'Peek Definition` - ALT+F12 shows an inline editor
'Open Definition to the Side - opens the definition in a new editor on the side.

Are these options not sufficient for you? Are you suggesting another command to navigate to a definti

[2017-05-10 13:41] egamma commented on #26383
This looks like an issue with the vscode-go extension, can you please file your issue against this extension.

[2017-05-10 13:41] #26383 closed

[2017-05-10 13:44] #26151 closed

[2017-05-10 13:44] stevencl commented on #2513
@jamiedawsonyoung - would love to hear your thoughts on this.

[2017-05-10 13:45] egamma commented on #26387
A similar issue is discussed here #20893, can you please add your insights to this issue and I'm closing this one as a duplicate.

[2017-05-10 13:45] #26387 closed

[2017-05-10 13:47] Graaphic commented on #26053
No.. #25175 is a completely separate issue & does NOT provide a solution for me.

[2017-05-10 13:48] nocke opened #26388 "Cursor gets wrong offset through zoom-in/out"
- VSCode Version: Code 1.12.1 (f6868fce3eeb16663840eb82123369dec6077a9b, 2017-05-04T21:40:39.245Z)
- OS Version: Linux x64 4.4.0-38-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|beautify|HookyQR|1.0.2|
|vscode-eslint|dbaeumer|1.2.8|
|vscode-instant-markdown|dbankier|1.1.0|
|vscode-scss|mrmlnc|0.6.2|
|debugger-for-chrome|msjsdiag|3.1.1|
|java|redhat|0.2.0|
|sass-indented|robinben

[2017-05-10 13:48] stelcheck commented on #26348
Yep, the use is deliberate.

[2017-05-10 13:49] eamodio commented on #10547
That makes sense, but maybe it is worth something like:

[code]

That would happen *before* any global events, so that the provider could get the first crack at making any edits. While you can kind of do this with the global event, there is no guaranteed order -- and it seems like it would be nice to give the provider the first say in the edits (so that the global events could reflect them).

And

[2017-05-10 13:52] bpasero commented on #26318
As far as I know there is no way for us to know if a menu item was triggered via mouse of keybinding. There is an event object on the menu item (https://github.com/electron/electron/blob/master/docs/api/menu-item.md#new-menuitemoptions) but this one only seems to be triggered when clicked via mouse and not when triggered via keybinding.

[2017-05-10 13:52] stereokai opened #26389 "ext install <extension name> doesn't install extension"
- VSCode Version: v1.12.1
- OS Version: Win 10 Pro

Steps to Reproduce:

1. Go to [VS Code extension marketplace](https://marketplace.visualstudio.com/vscode)
2. Click on any extension to view it's homepage
3. At the top of the page you will see this example, which appears on *every extension's page*:
![image](https://cloud.githubusercontent.com/assets/2685357/25901135/734e34fc-359e-11e7-8a0b-a4ee

[2017-05-10 13:55] seanmcbreen commented on #26354
We probably should consider a general solution here - as we removed my extensions from the suggest input data a long way back now...  And we have done a few others I think - or at least will in the future.

[2017-05-10 13:56] aeschli commented on #26377
@will-stone Got it. Added a new color `'editorRuler.foreground'`

[2017-05-10 13:56] #26377 closed

[2017-05-10 14:00] asottile commented on #26227
I'm not entirely sure without analyzing the problem more.  My guess is VS Code needs to pass along the `LANG` environment variable it was started with to subprocesses.

[2017-05-10 14:03] eamodio commented on #26184
Before these changes extensions could do the following (at least as I've observed them):

`commands.executeCommand('vscode.open' ...)` - would always open the document in preview (not pinned) and steal focus
`commands.executeCommand('vscode.diff' ...)` - would always open the diff in preview (not pinned) and steal focus
`window.showTextDocument(...)` - would always open the document not in preview

[2017-05-10 14:09] #26353 closed

[2017-05-10 14:10] bpasero commented on #26353
**Verify:**
* macOS only, move a window around
* close the window (do not quit the app)
* quit
* restart and the dimension and location is restored

[2017-05-10 14:13] michelkaporin commented on #26386
@bpasero I did not add it to the user-facing `code --help` not to expose it to the users. We can use an environment variable for this, but then I would expect it to do more impact, rather then only disabling 'Getting Started' page to be opened. If I see that we need to change more things in VS Code for smoke testing purpose, rather than this feature only, I would be happy to make it an environment

[2017-05-10 14:14] #26386 closed

[2017-05-10 14:14] connieelee commented on #26215
@bpasero Ah, you are absolutely right. It seems that this desktop switch is a default shortcut with the OS. I wonder if there's a better default VS shortcut that could have been chosen? It's not really a big issue, I ended up just changing all my tab switch shortcuts to `cmd + ` num and called it a day.

[2017-05-10 14:14] #26215 closed

[2017-05-10 14:17] JayyWalker opened #26390 "unrecognized option `--install-extension'"
I cannot install any extensions via the command line. I constantly get:

[code]
Attempting to install an extension keeps failing for me even via the marketplace within the app. Every install attempt just stalls.

- VSCode Version: 1.21.1
- OS Version: OSX 10.10.3

Steps to Reproduce:

1. Open command line
2. Run command `code --install-extension <extension-name>`

[2017-05-10 14:18] jrieken commented on #26381
Correct, I and @alexandrudima have seen this when zooming in to take a closer look at the cursor. I do have the native window style configure to be native (`"window.titleBarStyle": "native"`) but I don't think that hand an impact. I was also afraid about having lost my changed because until restart the default theme was used.

![screen shot 2017-05-09 at 11 17 01](https://cloud.githubusercontent.c

[2017-05-10 14:20] connieelee commented on #26215
(I'd also just like to add something I feel many people would agree with: `cmd` + num is much more intuitive than `ctrl` + num for tab switching, specially for people who've been using applications like chrome or sublime for a long time. When I first switched to VS and my screen split on me it really caught me off guard, ha!)

[2017-05-10 14:20] jrieken commented on #10547
Not sure I have understood. The edits have already happened at this point and it's just about persisting them now. Are you suggesting to have special pre-save hook API for further modifications?

[2017-05-10 14:23] nvpushkarskiy commented on #13182
+1 for idea of common snippets for all/chosen languages

[2017-05-10 14:26] danisalTE opened #26391 "Incorrect information on JSON method"
- VSCode Version: 1.12.1
- OS Version: Windows 10

Steps to Reproduce:
1. In a JS file, type JSON.parse()
2. In a JS file, type JSON.stringify

The information that is displayed is the one in the pictures.

![json parse](https://cloud.githubusercontent.com/assets/22588741/25903531/98139b56-3594-11e7-9d3a-3f8117244960.png)

![json stringify](https://cloud.githubusercontent.com/assets/22588741/25903

[2017-05-10 14:28] hh54188 opened #26392 "Install bootstrap framework package through bower in terminal failed"
- VSCode Version:  1.12.1
- OS Version: Windows_NT 6.1.7601 x64

Steps to Reproduce:

1. bower install bootstrap --save

Error information:

[code]

[2017-05-10 14:32] bpasero commented on #26386
@michelkaporin ok if users are not seeing it then I think we are fine 👍

[2017-05-10 14:32] alexandrudima commented on #25658
I have pushed a change where `'` and `"` do not auto-close if inserted after a word character (as defined via `editor.wordSeparators`), in the cases that `'` and `"` are defined to be auto closing pairs by the language configuration.

[2017-05-10 14:35] alexandrudima commented on #26381
I saw it on @jrieken 's machine. All he did was to do `ctrl+=` (i.e. zoom in) many times to zoom in multiple times.

[2017-05-10 14:38] catlan opened #26393 "Multiple cursors + Word wrap"
The current behaviour in VSCode with `"editor.wordWrap": "on" ` is like this:
![Image](https://cloud.githubusercontent.com/assets/5332158/19222557/a85d2168-8e31-11e6-985a-e328a6c3b11c.gif)

But I would prefer an option for this
![Image](https://cloud.githubusercontent.com/assets/5332158/20053063/ffbafc3a-a4bd-11e6-9f92-80733ca6c606.gif)

Note I used the gif from [here](https://github.com/SublimeTe

[2017-05-10 14:43] bpasero commented on #24227
@King66 let me try to rephrase what you see working and what not:
* works: you see the initial window restore the way you left it
* works: you see a second window you open after the first open maximized
* you see the second window size to default size when you double click the title to restore and you expect it to size to some other dimension in that case

Is that what you see is going wrong? I am

[2017-05-10 14:43] StephenBloomquist commented on #24411
@michelkaporin
Yeah it makes sense why you chose to do what you did. I wouldn't necessarily say that it would be wrong to assume a default behavior for both lines and columns with the exception widget, though. IMO if a debugger leaves line numbers undefined, defaulting the UI to line 1 would be expected behavior as the situation is either a scenario where lines are irrelevant for the debugger, or

[2017-05-10 14:45] eamodio commented on #10547
Kind of -- basically just a way to make sure the provider can get at something like the global `onWillSaveTextDocument: Event<TextDocumentWillSaveEvent>` without using the global event to guarantee order. Though I may just be over complicating it ;)

[2017-05-10 14:49] grigoryvp commented on #13182
Will be very useful for both multi-language stacks like PHP and VueJS, and for commenting different code with comment-related language snippets

[2017-05-10 14:58] #26371 closed

[2017-05-10 15:00] kukoss opened #26394 "Select and rememeber language mode"
Once I set language mode for the file (in my case VS Code does not understand one file is ASP), VS Code should remember this selection next time I open the project. Since editor cannot do it automatically, each time I open a project with ASP files I have to manually set language mode over and over again.

[2017-05-10 15:01] pr-yemibedu commented on #396
Hello,
 How do you manage your 30 repos now @martellaj ? That sounds horrible to be working live with that many files open. I tend to have a lot of libraries I work on but was I get a significant need to work on backporting a useful feature to be shared, I on purpose close all my other edit windows. I create tests update configuration files and project options to make I work, then I go back to my

[2017-05-10 15:03] JasonKleban opened #26395 "VSCode Typescript imported identifier tooltips do not show helpful type information"
VSCode 1.12.1 with Typescript 2.3.2

See the two files in the screenshot are even from the same src project, where _helper.ts_ imports _rules.ts_.  Here I might be attempting to confirm that I did the write syntax (instead of `import * as blah from 'rules.ts` or some other tricky nuance that can come up (though not necessarily in this exact example).  Instead of showing what type the imported name

[2017-05-10 15:04] bpasero commented on #26394
This is #207, it only occurs when you have no folder opened.

[2017-05-10 15:04] #26394 closed

[2017-05-10 15:08] GoodGuyNick commented on #24227
@bpasero Xubuntu 16.04.2

[2017-05-10 15:13] JasonKleban opened #26396 "Structurally typed identifiers' tooltips should show the type definition, not just `enum MyEnum` or `interface MyInterface`"
Especially for structurally-typed enums and interfaces, it would be helpful if tooltips showed (at least the initial text of) the type definition - similar to how it shows function signatures for function identifiers:

![fd78dc73-59f6-4794-ae3d-1f4dd1075e5f](https://cloud.githubusercontent.com/assets/17498172/25905699/b5c7fe0e-3570-11e7-8125-b714fd3298d1.gif)

Seeing that the identifier is an inte

[2017-05-10 15:16] GiuseppePiscopo opened #26397 "Request: non-sticky diff editor window"
I noticed VS Code User Voice portal has been deprecated and redirects here, so:

### Scenario:

* setup VS Code so to show differences in files side by side
* make some changes to a versioned project
* go to Source Control pane
* start clicking on several changed files

### Actual behavior:

Any clicked files opens a new diff editor window, which stay open. After clicking through some changed file

[2017-05-10 15:21] #26102 closed

[2017-05-10 15:21] alexandrudima commented on #26279
I can reproduce when using a negative zoom level:
[code]

[2017-05-10 15:21] dmitrykm commented on #22564
Useful feature. Here is my use case. I have to work with custom memory dumps consisting of only string content. The strings are UTF-16 C#/.net strings. Those memory dumps need to be saved on disk and loaded later for processing. Encoding and byte layout in such files must exactly match those of in-memory string content (to avoid inefficient processing), so files without BOM are preferred.

[2017-05-10 15:22] Andrew1431 opened #26398 "High DPI: Laggy Unresponsive Scrolling on OSX"
- VSCode Version: 1.12.1
- OS Version: macOS Sierra Version 10.12

Steps to Reproduce:

1. Open a file
2. Scroll (I'm using magic touch pad, but same happens with regular touch pad on mac)

When I first found out about vs code, this issue was there. A patch was released that fixed the laggy scrolling issues. Seems to have come back now. It's so bad I can't even scan through a 200 line class and fi

[2017-05-10 15:31] KNightING opened #26399 "terminal text is offset"
- VSCode Version: Code 1.12.1 (f6868fce3eeb16663840eb82123369dec6077a9b, 2017-05-04T21:26:50.689Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.1.0|
|vscode-javascript-snippet-pack|akamud|0.1.5|
|angulardoc-vscode|AngularDoc|2.1.0|
|path-intellisense|christian-kohler|1.4.1|
|bracket-pair-colorizer|CoenraadS|0.10.3|
|Scss

[2017-05-10 15:31] sonicjolt opened #26400 "Clicking a folder in the folder explorer opens/closes the folder"
- VSCode Version: 1.12.1
- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. Click on any folder in a project stucture you have open. When you click on a folder it will toggle it's state from open to closed, or closed to open. Just by selecting it.

Expected

When I click on a folder, it should not open or close the folder just by selecting it.

[2017-05-10 15:33] josh-sachs commented on #10121
Want to chime in "me-to."

Specifically editor tabs.   It is unfortunate that the issue author has the priorities so ass-backwards, but I can't believe nobody at Microsoft has seen this ticket at some point over the past year, recognized the immense value in being able to drag an editor tab from one window to another (your Visual Studio crowd has been doing this for decades) and made this happen b

[2017-05-10 15:36] #26279 closed

[2017-05-10 15:38] egamma commented on #26392
@hh54188 the error message above is not from VS Code. Does `bower install bootstrap --save` work when you run it in the same folder outside of the VS Code terminal?

[2017-05-10 15:41] egamma commented on #26391
@danisalTE The information shon in VS Code is superset of what is shown in MDN, the hovers in VS Code also show you type information using the TypeScript syntax. This is as designed.

[2017-05-10 15:41] #26391 closed

[2017-05-10 15:44] egamma commented on #26390
@JayyWalker did you follow the setup step to install Code on the command line, pls see https://code.visualstudio.com/docs/setup/mac#_command-line

[2017-05-10 15:46] kdvolder commented on #26096
My point was if they were typed, it was before making the CA request to the server. So what I mean is, the server new about the spaces and has exactly answered a list of items with exactly intended sorting order, for exactly the current contents in the editor. So there should be no uncertainty on how the server intended the items to be sorted. So... applying these heuristics in such a case seems l

[2017-05-10 15:47] acls commented on #3353
I'm in the C-style camp and if the rest of my campers don't like it, then wrap the one line change in a config setting. The vscode source is in the C-style camp and it has a meager 6 instances where there is an empty line before the closing bracket.

I think language specific folding is needed for some things, but the default handling of trailing whitespace isn't one of them.

Since vscode is simi

[2017-05-10 15:47] egamma commented on #26389
@stereokai this is as designed. Is the complaint that you want to perform the same operation without the mouse?

You can also install extensions from the command line using --install-extension, which doesn't require any mouse interaction.

[2017-05-10 15:48] egamma commented on #26400
@sonicjolt this is as designed and we have no plans to change the current behaviour.

[2017-05-10 15:48] #26400 closed

[2017-05-10 15:51] neilsustc commented on #24420
It works for me too. 👍

But, IMHO, the behavior in old version makes more sense in UX. Introducing newline if there won't be textual change is a good **feature**, but not a commonly seen **default behavior**.
So I'd like to vote for a `neverSuggestFullSuggestion` setting and default to `false`.

[2017-05-10 15:53] jrieken commented on #26096
I understand where you are coming from but the problem is that most language service return results based on a different positon, like the `console.lo` case which returns more than `log`. Unsure if would then still be able to filter out other member suggestions...

Only when no suggestion has selected a word yet (left of the cursor), a sample would be `console.<cursor>` with `log`, et al. Then we

[2017-05-10 15:55] bpasero commented on #24227
I see, not reproducible on my Ubuntu 15 at least.

[2017-05-10 15:57] fillippeyton commented on #26399
How funny. I was just going to put in a issue for this exact thing! I'll add my machine info too.

[2017-05-10 15:57] VitorLuizC commented on #852
+1

[2017-05-10 15:59] foo-baar commented on #25811
@bpasero Understand, makes sense too.

[2017-05-10 15:59] acls commented on #25365
This is fixed by PR #26258

[2017-05-10 15:59] kdvolder commented on #26096
What would happen if we made our completions lazy resolved (in which case, I guess you do not have the edit ranges, until its time to apply the completions). How would things work in this case?

I'm asking because I'm wondering if this could be a possible workaround for us to have to `sortText` count again.

[2017-05-10 15:59] alexandrudima commented on #26398
@Andrew1431

* Can you reproduce when running with `code --disable-extensions` ?
* Is this a regression from 1.11 ? (We have updated our Electron version)
* Does this happen with any file (even `.txt` files ?)
* Do you by any chance use VS Code on a monitor with a large resolution ?

[2017-05-10 16:00] zanza00 commented on #24961
If you use the **insider** version on a **mac** with **nvm** try to quit the terminal  _and_ vs code.

After that reopen both and my case it was fixed, both from the command line and starting as normal application

the insider version is `1.13.0` and the commit is `c615b43be67170e166779c9020a249442c4f36fc`

it's worth a shot.

[2017-05-10 16:01] sandy081 commented on #26381
Duplicates #25427

[2017-05-10 16:01] #26381 closed

[2017-05-10 16:01] jaredmahan commented on #1915
This is still not working for me. My project still compiles correctly but it cannot find any of my custom d.ts files

[2017-05-10 16:02] ajitid commented on #852
Why VS Code doesn't gets fun update like fixes update on April which focused on removing bugs and give this power mode top-most priority?

[2017-05-10 16:04] alexandrudima commented on #26388
I just pushed a fix for this 2hrs ago :). Duplicate of #26151

[2017-05-10 16:04] #26388 closed

[2017-05-10 16:04] sandy081 commented on #26381
@motebotic Very sad to know that settings are wiped out. I already have an issue #25427 opened for this and collecting data about this. Pain point is that, it was not reproducible and I am try to figure out what could cause this. Thanks for reporting it.

[2017-05-10 16:06] Timothy-Liu commented on #26347
Yes, same issue.

[2017-05-10 16:12] dodalovic commented on #5230
👍

[2017-05-10 16:15] kdvolder commented on #26096
To be honest that's a bit of surprise to me. I thought it was up to the server to return a precise list and not rely on smarts in the client to do the job. So our server(s) returns precise results based on the current document state. I see how supporting 'sloppy' servers kind of makes this not so straightforward to resolve.

Would you be able to use the presence of an explicit `sortText` as a stro

[2017-05-10 16:16] alexandrudima commented on #26115
@bgoscinski

We aren't doing anything that should influence the painted text when moving the mouse over the line numbers. Some things you could try:

* try to disable our use of `translate3d` via a "hidden" option `"editor.disableTranslate3d": true` in your settings. Does that make a difference?
* reset the zoom level to 0 via `"window.zoomLevel": 0`.
* try launching `code --disable-gpu`
* does th

[2017-05-10 16:19] alexandrudima commented on #26195
@IDDemon Extensions can contribute keybindings that can overwrite built in keybindings in certain contexts.

Can you reproduce the issue when running `code --disable-extensions` ?

Which commands are bound to the desired key combination?

![keyboard-conflicts](https://cloud.githubusercontent.com/assets/5047891/25484174/38f5b004-2b59-11e7-994b-dfa96ef043ce.gif)

[2017-05-10 16:19] fillippeyton commented on #26399
I'm having the same issue. This is happening to me with WSL + Webpack watch. Here's my info:

VSCode Version:  1.12.1 (f6868fc)
Node: 7.4.0
OS Version: Windows 10 Enterprise 64-bit (Version: 1607; OS Build: 14393.1066) (Using WSL for Bash)
Extensions:

Ext | Author | Version |
---------|-----------|------------------
Auto Close Tag | Jun Han |  0.3.12
C# | Microsoft | 1.9.0
Docker | Microsoft | 0.

[2017-05-10 16:21] c4milo commented on #22558
I'm seeing this as well. @alexandrudima, after saving go and cat the file involved, you will see it has no new line.

[2017-05-10 16:24] acls commented on #3353
Don't get me wrong, I think language aware folding is needed and should be able to collapse this:
[code]
to this:
[code]
or even this:
[code]

But the default indention based should collapse it to:
[code]

The reason being is that Python and other indention based languages are just that, indention based. And it's obviously a problem in those languages to be collapsing the whitespace.

[2017-05-10 16:25] alexandrudima commented on #22558
@c4milo

Does this issue occur in any file or only on `.go` files?

Can you reproduce when running `code --disable-extensions` ?

[2017-05-10 16:28] c4milo commented on #22558
I was testing with a Vagrantfile and it was happening. I think `files.insertFinalNewline` is just not doing its thing because it happens even having `files.trimTrailingWhitespace` in `false`

[2017-05-10 16:29] c4milo commented on #22558
@alexandrudima I just tested with `--disable-extensions` and it seems to work well.

[2017-05-10 16:31] alexandrudima commented on #26012
@jrieken I'm not 100% sure what you mean.

The code for handling typing is at `typeWithInterceptors` -- https://github.com/Microsoft/vscode/blob/master/src/vs/editor/common/controller/cursorTypeOperations.ts#L547

The cursor goes into that if the `source` of the `type` command is `keyboard`.

Would you want in the `onWillType` to cancel the editor's processing of `type` ?

[2017-05-10 16:33] alexandrudima commented on #25531
Sorry, there is nothing I can help with here. This looks like an issue with Windows.

[2017-05-10 16:34] fusillicode commented on #26279
@alexandrudima I confirm that the problem is related to the `"window.zoomLevel": -1`.

With the default `"window.zoomLevel": 0` everything works fine.

But why was the issue closed? 🤔

[2017-05-10 16:40] kukoss commented on #26394
Hi,

I am sorry, I was supposed to click "Create file association for '.aspx'" file when assiging language mode. Please, close this

[2017-05-10 16:49] acls commented on #3422
I think #3353 should be removed from the list since the behavior requested there should be the default indention-based folding. And a new issue could be added to handle folding C-style functions from open to close brackets.

[2017-05-10 17:08] motebotic commented on #26381
@bpasero I think I had "window.titleBarStyle": "native" as I was getting some strange flickering that was driving me nuts some time back & read about that as a cure. Since I don't have my old setting though I cant say for certain. I had turned telemetry.enableCrashReporter off.. sorry that's on now ;) although it didn't crash so it wouldn't have helped.

[2017-05-10 17:19] mattbanks commented on #24227
@bpasero still can't reproduce the behavior you posted in this gif...

![image](https://cloud.githubusercontent.com/assets/900690/25904470/9a9417f6-359f-11e7-9087-7f7de36d2604.gif)

With no external monitor and using all steps you posted above in https://github.com/Microsoft/vscode/issues/24227#issuecomment-300385069, it still opens in the default size and default position for me. I have 2 MacBook

[2017-05-10 17:20] Tyriar commented on #26399
Duplicate https://github.com/Microsoft/vscode/issues/19665

[2017-05-10 17:20] #26399 closed

[2017-05-10 17:23] King66 commented on #24227
@bpasero you're right...
For me, the initial window restore the way I left it.
And I think "inherit" setting works fine for me.
https://drive.google.com/file/d/0B9sSiOdezYhvaDFpeDZPTVJjaWM/view

[2017-05-10 17:33] egamma commented on #26347
closing as a duplicate of #25938

[2017-05-10 17:33] #26347 closed

[2017-05-10 17:38] #24714 closed

[2017-05-10 17:39] alexandrudima commented on #6389
Closing after a number of days without a response.

[2017-05-10 17:39] #6389 closed

[2017-05-10 17:41] #17030 closed

[2017-05-10 17:44] alexandrudima commented on #10223
I have just tested on Windows 10, using a keyboard that has Media buttons. I did not program the Media buttons. When I press the one labeled Mute while playing a video and having focus in VS Code, the Windows native UI for media controls pops up in the top left corner and indeed the computer is muted.

We don't do anything on our side to either prevent or disable media keys. Since there is no code

[2017-05-10 17:44] #10223 closed

[2017-05-10 17:44] alexandrudima commented on #23515
Closing after a number of days without a response.

[2017-05-10 17:44] #23515 closed

[2017-05-10 17:44] alexandrudima commented on #23528
Closing after a number of days without a response.

[2017-05-10 17:44] #23528 closed

[2017-05-10 17:45] alexandrudima commented on #23816
Closing after a number of days without a response.

[2017-05-10 17:45] #23816 closed

[2017-05-10 17:50] cp1001 commented on #533
on mac,add setting to setton.json:
"php.validate.executablePath": "/usr/local/php5-7.1.4-20170506-100436/bin/php"

[2017-05-10 17:52] egamma commented on #26236
Without additional information we cannot act on this issue, please reopen this issue when you have additional insights.

[2017-05-10 17:52] #26236 closed

[2017-05-10 17:52] egamma commented on #26265
Without additional information we cannot act on this issue, please reopen this issue when you have additional insights.

[2017-05-10 17:55] egamma commented on #26354
@seanmcbreen  we have discussed this, the general solution is to filter out those suggestion that are no longer in the list of recommendations in the product.json.

[2017-05-10 18:03] felixheck opened #26401 "Integrated Terminal: Move Cursor by Clicking"
I'm using macOS for developing all the stuff.
In its `Terminal.app` it is possible to move the cursor in the current line by holding the `Option` key and left-click at the desired position. I recorded this behaviour:

![](http://dev.whotheheck.de/s/terminal.gif)

It's described by [MacKungFu](http://www.mackungfu.org/3-lesser-known-terminal-tricks):

Because @Tyriar confirmed that there is no such

[2017-05-10 18:12] alexandrudima commented on #22558
@c4milo Have you found any steps / pattern for when this doesn't work ?

This works consistently as expected for me:
* when running with `code --disable-extensions`.
* when editing files in a fresh folder (i.e. no workspace settings), only `files.insertFinalNewline`

Looping in @bpasero , he knows all that is involved in the file save path.

[2017-05-10 18:19] cleidigh commented on #25965
I updated the electron project to have a standalone select box eliminating event issues
I'm still wondering if the first select box was selected
the options are identical so you can't tell the difference
I Tab to the slack box, then press Enter that selects (makes visible the second select box with the box-shadow styling
I'm setting up a Windows ten VM to test also

there's got to be some way, I h

[2017-05-10 18:20] c4milo commented on #22558
@alexandrudima, yes, I basically go and edit the file in vscode and double check it with `vim` and `hexdump`. I never see the newline that vscode was supposed to append at the bottom. To work around it, I'm inserting two newlines in vscode to really get the result I want.

[2017-05-10 18:34] simeonoff commented on #24961
@zanza00 Didn't work for me. I still get the error.

[2017-05-10 18:35] dvf commented on #871
You probably want to allow arguments, for example when using the `type` command:

[code]

[2017-05-10 18:46] alexandrudima commented on #22181
I believe this shared the same root cause as #26151 and the fix for #26151 should also fix this issue.

[2017-05-10 18:46] #22181 closed

[2017-05-10 18:50] alexandrudima opened #26402 "Missing release tags in our repo"
Missing tags in our repo for 1.12.0 and 1.12.1. I would like to know what commits we shipped between the two versions that might impact https://github.com/Microsoft/vscode/issues/12166#issuecomment-299318024

[2017-05-10 18:51] alexandrudima commented on #26402
I take it back, the tags are there

[2017-05-10 18:51] #26402 closed

[2017-05-10 18:52] alexandrudima commented on #12166
@brentarias This makes no sense to me. There was no code change between 1.12.0 and 1.12.1 except for fixing a packaging issue.

[2017-05-10 18:52] pluddy commented on #23965
Same problem here, 1.12.1 on macOS 10.12.4,
"protocol": "legacy" solved it.

[2017-05-10 18:57] alexandrudima commented on #25220
I think I misunderstood the problem and it is possibly a terminal only issue and not a keybindings issue.

[2017-05-10 18:59] #25079 closed

[2017-05-10 19:01] alexandrudima commented on #23687
@cyrus86 @ianrenauld If you find any reproducible steps please create separate issues, the root causes might be very different, especially across different operating systems.

@dfblackburn Given there's been no update for a month, I will close this issue for now. Please reopen if there are any reproducible steps, although this issue could be in VMWare Fusion

[2017-05-10 19:01] #23687 closed

[2017-05-10 19:04] alexandrudima commented on #25626
@anasayubi  This is an indication that those key presses do not reach VS Code and are consumed by the OS.

This is what I used to get `ctrl+alt+[arrows]` working on my Ubuntu installation -- https://askubuntu.com/questions/82007/how-do-i-disable-ctrlaltleft-right

Perhaps there is something similar going on on your machine.

In any case, there is no possible code change we can do in VS Code in thi

[2017-05-10 19:04] #25626 closed

[2017-05-10 19:05] donnrenk commented on #23965
Same issue here after the latest VS code update; same solution ("protocol": "legacy" to the node launch configuration object).

[2017-05-10 19:06] kdvolder commented on #26096
While I have no idea about exactly how the detailed sorting mechanics in vscode play out.... Yep. Looks like that works as a workaround for us. It seems that by depriving vscode the info about the `editText` in the unresolved completion items, we are falling back to sorting based on `sortText` for this example.

I feel a little uncomfortable about this to be honest. It works now for this case, it

[2017-05-10 19:09] alexandrudima commented on #25600
I can reproduce the problem with a directory. e.g.

[code]

When I ctrl+click on the directory I see a flicker (appears that a tab is quickly added and removed) and there is no message. The gif doesn't really capture it, it happens on every click:
![25600](https://cloud.githubusercontent.com/assets/5047891/25916428/daf814bc-35c4-11e7-80af-2a227230edf5.gif)

[2017-05-10 19:10] alexandrudima commented on #22875
Closing after a number of days with no reply. There is no action we can take if we cannot reproduce.

[2017-05-10 19:10] #22875 closed

[2017-05-10 19:10] alexandrudima commented on #22224
Closing after a number of days without a response.

[2017-05-10 19:10] #22224 closed

[2017-05-10 19:17] alexandrudima commented on #23908
I believe this issue shares the same root cause as #6478

Basically, we do not cancel mouse dragging operations when a non-modifier keypress occurs.

[2017-05-10 19:17] #23908 closed

[2017-05-10 19:18] pieandcakes commented on #26374
@egamma How am I able to tell what is causing the toLowerCase error?

[2017-05-10 19:21] stereokai commented on #26389
@egamma

Exactly. And thanks for taking me seriously. IMO, it's a weird choice forcing users to reach to the mouse in a keyboard-centric environment (I mean, in principle, why bother with all the work around the custom keymappings etc.? You could argue there are edge cases, but I don't think this is one)

I don't think this is a good solution, because this is a context switch. In the same sense th

[2017-05-10 19:26] alexandrudima opened #26403 "Funny suggest widget layout"
I was just typing near the bottom of the file

![funny-intellisense](https://cloud.githubusercontent.com/assets/5047891/25917063/3062f17c-35c7-11e7-9800-73937c432b94.gif)

Let me know if there's something I can help with w.r.t. editor content widget API...

[2017-05-10 19:26] pertrai1 opened #26404 "I can't type anything when cmd+n new file"
- VSCode Version: Code - Insiders 1.13.0-insider (c615b43be67170e166779c9020a249442c4f36fc, 2017-05-09T06:05:27.476Z)
- OS Version: Darwin x64 16.5.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|compulim-vscode-closetag|Compulim|1.1.0|
|EditorConfig|EditorConfig|0.9.3|
|beautify|HookyQR|1.0.2|
|html-css-class-completion|Zignd|1.2.0|
|Bookmarks|alefragnani|0.14.1|
|vscode-color|anseki|0

[2017-05-10 19:27] aStonedPenguin commented on #26380
Yes, that is what I was hoping to accomplish.

[2017-05-10 19:30] weinand commented on #26374
@isidorn here is another instance of the toLowerCase error.

[2017-05-10 19:32] Andrew1431 commented on #26398
Thank you @alexandrudima,

1) Happens with `.txt` files. (Seems the whole file explorer is laggy too, the whole editor is cludgey)
2) What do you mean a regression from 1.11? (It seems to me it was, but it could have been earlier when it started happening.)
3) Yes sir, I am running it on a 4k monitor. With multiple vs code windows open (2, each with large projects). Never had this issue though bef

[2017-05-10 19:35] GoodGuyNick commented on #24227
@bpasero don't use outdated linux distributions for testing

[2017-05-10 19:36] #6478 closed

[2017-05-10 19:36] Andrew1431 commented on #26398
5. No, --disable-extensions makes no difference!

[2017-05-10 19:36] jimkay001 opened #26405 "Files stored in SQL 2014 FileTable appear as folders in VSCode Explorer pane"
- VSCode Version: Code 1.12.1 (f6868fce3eeb16663840eb82123369dec6077a9b, 2017-05-04T21:26:50.689Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions: none
---

Steps to Reproduce:

1. Create a FileTable using SQL 2012 or later.  (Script included below to create DB with FileTable)
2. Browse to the folder made available by the new FileTable.
3. Add some text files to this folder.
4. Right-Click

[2017-05-10 19:41] alexandrudima commented on #7228
Duplicate of #6478.

[2017-05-10 19:41] #7228 closed

[2017-05-10 19:42] alexandrudima commented on #24477
Closing after a number of days without a response.

[2017-05-10 19:42] #24477 closed

[2017-05-10 19:42] alexandrudima commented on #9858
Duplicate of #6478.

[2017-05-10 19:42] #9858 closed

[2017-05-10 19:44] alexandrudima commented on #24629
Indeed, it would be good to allow for configuring what ctrl+click should do. I suggest we continue tracking in #3130

[2017-05-10 19:44] #24629 closed

[2017-05-10 19:45] tbfleming commented on #8843
@rebornix I just updated and checked again. I tried searching for "selection" in Keyboard Shortcuts, but it's not there. I use Windows, which doesn't have a cmd key.

[2017-05-10 19:45] pertrai1 commented on #26404
Note that this does not happen in version 1.12.1 (1.12.1)

[2017-05-10 19:49] marvinhagemeister commented on #26371
@ramya-rao-a Woa, that was quick! Thanks for having a look at it 👍

[2017-05-10 19:51] #26351 closed

[2017-05-10 19:52] highfestiva commented on #22875
Take that as a 'no.' Someone please make a fast code editor without bloat, but with the bare minimum of features.

[2017-05-10 19:52] mjbvz opened #26406 "Incorrect JSX onEnter When Replacing Text"
Follow up on #26358

- VSCode Version: 1.13 insiders

Steps to Reproduce:

With Code:

[code]

Select `abcdef` and press enter

**Expected**

[code]

**Actual**

[code]

[2017-05-10 19:58] mckennapsean commented on #25742
I dig all the new themes in 1.12, as it gives each a more unique feeling! Excellent work. :)

Though, one thing perplexes me: why is the `activityBarBadge.background` a muted gray in the regular Monokai theme?

Personally, I love and use Monokai because it is very colorful, and I have honestly grown attached to that little colorful badge. Fortunately, you can [customize colors on top of a theme](h

[2017-05-10 19:59] rebornix commented on #8843
@tbfleming can you try search `toggleSearchScope` in Keybinding?

[2017-05-10 19:59] #8843 closed

[2017-05-10 20:00] gulshan commented on #2513
What are those extra button in the screenshot [here](https://github.com/iolevel/peachpie/wiki/Getting-Started#e-aspnet-website)? How to get those buttons? Can debug buttons be placed there?

[2017-05-10 20:00] borekb opened #26407 "Non-standard use of `$schema` inside JSONs"
When I'm editing JSON files, VSCode suggests to add the `$schema` key:

![image](https://cloud.githubusercontent.com/assets/101152/25917874/cddf7dc4-35c9-11e7-9333-4152bc379e44.png)

It is also mentioned [in the documentation](https://github.com/Microsoft/vscode-docs/blame/fc67325512852881253186ab3f8745b2a842d423/docs/languages/json.md#L63) in the "Mapping in the JSON" section.

However, according

[2017-05-10 20:03] flagello commented on #12377
Should anyone here be interested in a similar direction, I'm maintaining [a fork called Essence](https://github.com/flagello/Essence) that sports a frameless window with an enhanced Zen Mode. The affordance problem for dragging is solved by using `Shift + Cmd` and `mousemove` to trigger a whole-window drag-area (with `keyup` and `mouseup` to restore).

<img src="https://github.com/flagello/Essence

[2017-05-10 20:06] lukeaus opened #26408 "Can't create new HTML snippet from 'User Snippets' menu"
- VSCode Version: 1.12.1
- OS Version: macOS Sierra 10.12.4

Steps to Reproduce:

1. Menu: Code --> Preferences --> User snippets
2. 'HTML' not in list

![visual studio code 2017-05-11 05-57-14](https://cloud.githubusercontent.com/assets/5635204/25918647/8c0dfa1a-360f-11e7-807c-ea9285a5669f.jpg)

It appears that this is happening because there is no "snippets" configuration listed in extensions/ht

[2017-05-10 20:08] alexandrudima commented on #26398
Thank you @Andrew1431 , I think this might be a known electron issue. @bpasero will know more.

[2017-05-10 20:09] tbfleming commented on #8843
Found it. Alt+L. These made it hard to find:

* The name toggleSearchScope has no resemblance to the button's hover text ("Find in selection")
* The button's hover text doesn't show the shortcut like the other buttons do

[2017-05-10 20:10] alexandrudima commented on #26279
@fusillicode Because I pushed a fix to master :).

[2017-05-10 20:11] weinand commented on #26398
@Andrew1431 does it make a difference if you set the setting "editor.disableTranslate3d" to true?

[2017-05-10 20:14] Andrew1431 commented on #26398
![image](https://cloud.githubusercontent.com/assets/9736372/25919152/c38bb17c-359b-11e7-9279-e7c2ee8e99c1.png)

[2017-05-10 20:16] weinand commented on #26398
Yes, this is an unofficial setting. You'll have to restart VS Code for changes to take effect.

[2017-05-10 20:20] sorahn commented on #21655
@joaomoreno I seem to be having this path issue as well.

macOS: 10.12.4 (16E195)
fish: version 2.5.0

from fish:
[code]
from bash:
[code]

Here is the output from running that command in the developer tools.
![command output](http://i.imgur.com/kIOpdVC.png)

And here is what happens when I start VSCode or reload the window.
![vscode](http://i.imgur.com/wzygdXr.png)

[2017-05-10 20:26] rebornix opened #26409 "Command shortcut in hover text for Find in Selection"
Ref #8843

Put command shortcut in hover text for Find in Selection and rename the command for better discoverbility.

[2017-05-10 20:27] rebornix commented on #8843
@tbfleming you are right, I'll fix these you issues you mentioned. Thanks!

[2017-05-10 20:28] fusillicode commented on #26279
Oh gosh...

![I'm ashamed](https://img.memesuper.com/5310a49db5aa300c2b9fd6cdd5e30380_-i-am-so-ashamed-meme-ashamed_512-332.jpeg)

Thank you a lot and sorry for my mistake and for the bother! 😅

[2017-05-10 20:31] tbfleming commented on #8843
Thanks for adding the shortcut!

[2017-05-10 20:31] TitaneBoy opened #26411 "Cannot connect to runtime process, timeout after 10000ms - (reason: Cannot connect to the target: Parse Error)."
- VSCode Version: 1.12.1
- OS Version: Windows 7 Pro 64 bits
- NodeJs Version: 6.10.0

Since the last update of vscode (1.12.1), when debugging my typescript/nodejs application (with nodemon), I got the error:

**Cannot connect to runtime process, timeout after 10000ms - (reason: Cannot connect to the target: Parse Error).**

The same code/project works very well (without any changes) in the previ

[2017-05-10 20:32] egamma commented on #26405
@jimkay001 can you please add a screenshot how this folder is shown in the Explorer?

[2017-05-10 20:38] weinand commented on #26411
@TitaneBoy does it make a difference if you set the "protocol" attribute to "legacy" instead of "inspector"?

[2017-05-10 20:39] asottile commented on #26227
OK I decided to look into this, here's my conclusions:

I changed the pre-commit hook to print the environment it receives:

[code]

[code]

The problem is the `LC_ALL` variable:

[code]

The `LC_ALL` environment variable should look like `LANG`, notably `en_US.UTF-8`.

I've submitted a PR here: https://github.com/Microsoft/vscode/pull/26412

[2017-05-10 20:44] TitaneBoy commented on #26411
@weinand It looks that everything works well, like before...No error message from vscode of the top and I can break on breakpoints.

Does it mean that "legacy" value must be used for Nodejs version below 8.0 ?

[2017-05-10 20:45] weinand commented on #26411
@TitaneBoy ohh, I think I know what the problem is: you are setting "protocol" to "inspector" but you are using the "--debug" flag at the same time. Are sure sure that this has worked before?

When setting "protocol" to "inspector" you have to use "--inspect=5858", when setting "protocol" to "legacy" you have to use "--debug=5858" .

[2017-05-10 20:45] victoriafrench commented on #21655
tried to help format it a bit and removed my login name for security purposes.

[code]

[code]

[2017-05-10 20:49] weinand commented on #26411
You can use either "legacy" or "inspector" protocol for node version > 6.3 and < 8.0, but you have to make sure that you are using the matching "--debug" or "--inspect" argument.

BTW, this redundancy in the launch config will be fixed in the Max release: you'll no longer have to specify a port at all, just the protocol will do the right.

[2017-05-10 20:50] #26411 closed

[2017-05-10 20:51] #24047 closed

[2017-05-10 20:53] alexandrudima commented on #26404
Duplicate of #26279

Workaround until the next insiders build: use `window.zoomLevel > 0`

[2017-05-10 20:53] #26404 closed

[2017-05-10 20:53] #26406 closed

[2017-05-10 20:53] TitaneBoy commented on #26411
@weinand Wow...Ok.. With your latest suggested changes, It looks to work well too (with "protocol" set to "inspector")

For your last question, yes I'm sure that this has worked before (with inspector protocol).

Thank you for your answer and quick support...:-)

It's great to know that we will no longer have to manage port. Does it means that the runtimeArgs in the launch.json will not be usefull

[2017-05-10 20:57] dariusrosendahl commented on #396
@pr-yemibedu what @martinjco is saying is that he doesn't have the files open but he would have  quick acces to the repo's if we had a multi-root structure. Imagine, just CMD+P to any file you need ;)

The problem with the current situation is that we HAVE to have the files open or at least switch between the 30 different windows because VScode doesn't support it.

I actually switched back to Atom

[2017-05-10 20:58] TitaneBoy commented on #26411
I guess that in my case (with nodemon), it will not...But of course, runtimeArgs will always be usefull...it depends of what we need to send and what executable we want to run...

Thanks again...:-)

[2017-05-10 21:08] alexandrudima commented on #26228
The undo/redo buffer is discarded in certain cases when the file is not dirty (i.e. saved) and it is reloaded from disk (most likely due to a file change event). @bpasero knows more.

[2017-05-10 21:14] pdfowler commented on #26242
It reproduced consistently the rest of the reported day and into the next morning when I finally rebooted. No repro's since - and I never got a screenshot (stupid me).

I'll keep an eye open for it and lyk

[2017-05-10 21:14] webarchymeta opened #26414 "Editor cursor positioning mess-up after zooming out on linux"
- VSCode Version: 1.12.1
- OS Version: ubuntu 16.04

Steps to Reproduce:

1. Click View/Zoom Out once (from 100% zooming level).
2. Double click a word in a document or type in a character.

The selected region is not the word one tried to select. Or the character is not at the position of the cursor.

[2017-05-10 21:15] alexandrudima commented on #25703
@rafaelsantini

I have just tried with POR - PTB2:
![image](https://cloud.githubusercontent.com/assets/5047891/25921592/4e932036-35d6-11e7-91d5-194ec2e200e9.png)

and both `ctrl+s` and `ctrl+c` work fine for me.

---

If you experience the problem again, please try doing the following so we can try to analyze what we receive on our side from Electron. Please hover over the input box and take a scr

[2017-05-10 21:16] #25332 closed

[2017-05-10 21:16] Andrew1431 commented on #26398
Ah, with the setting there, it still made no difference!

[2017-05-10 21:18] rv-rsouza commented on #26228
I'm used to do some experimental changes in VS, Sublime Text or Notepad++. Then I save, test, undo this changes, save, test again and there is no problem.

This flow does not work in VS Code because of this issue.

[2017-05-10 21:27] alexandrudima commented on #25660
Currently the `*` is inserted if the line matches the following regex:

[code]

i.e. https://github.com/Microsoft/vscode/blob/master/extensions/typescript/src/typescriptMain.ts#L276

In other words, everything is tweaked towards the following style of js-doc / ts-doc:
[code]

[2017-05-10 21:29] alexandrudima commented on #25660
fyi @mjbvz This could be supported by TS via a configuration option. Depending on the configuration option, the TS extension could register different onEnter rules, geared towards a certain style of doc comments.

[2017-05-10 21:32] weinand commented on #26411
If you are staying with the "legacy" protocol, then you should be able to drop the "port" and "runtimeArgs" attributes in tomorrows Insider release. For the "inspector" protocol we need some more time...

[2017-05-10 21:33] weinand commented on #26398
Does it make a difference if you set the "window.zoomLevel" to 0?

[2017-05-10 21:40] mjbvz opened #26415 "JSDoc Not Rendering Tag Code Blocks properly"
For the code:

[code]

Hover currently displays:

![screen shot 2017-05-10 at 2 38 42 pm](https://cloud.githubusercontent.com/assets/12821956/25922555/816fbcbe-358e-11e7-8cf6-440cb6b5e8c2.png)

In this case the code block in `@example` is not correctly shown

[2017-05-10 21:45] chrmarti opened #26416 "Proposal at unexpected vertical position"
- VSCode Version: Code - Insiders 1.13.0-insider (c615b43be67170e166779c9020a249442c4f36fc, 2017-05-09T06:05:27.476Z)
- OS Version: Darwin x64 15.6.0
- Extensions: Many

Steps:
- Trigger content assist close to the lower end of the editor's viewport, such that the popup opens above.
- Filter to only a few elements.
- Unexpected the smaller popup keeps its top position and moves up its bottom end,

[2017-05-10 21:45] Andrew1431 commented on #26398
No sir, tried all zoom sizes. Tried different themes, no themes, no plugins, no anything :P

[2017-05-10 21:48] danqing commented on #17066
It'll be so good if this can be used..

and +1 for the icns file if that can be shared!

[2017-05-10 22:05] mhegazy commented on #26340
@mjbvz can you please port this to the TS repo?

[2017-05-10 22:11] johnfrades commented on #21778
is there any solution on this?

[2017-05-10 22:32] borekb commented on #26407
I take back the last line. Adding the `$schema` key to JSON quite obviously changes the JSON which might impact the consuming app at runtime so JSON Schema specification cannot generally recommend that.

[2017-05-10 22:33] kevinjreece commented on #24389
Please add this. I'd like to be able to browse my changes in VSCode, but without shortcuts to move up and down through the changes, it is too slow so I have to use `git diff` instead, which is less pretty, but allows me to look through my changes faster.

[2017-05-10 22:34] mjbvz commented on #26415
Moved upstream to https://github.com/Microsoft/TypeScript/issues/15749

[2017-05-10 22:34] #26415 closed

[2017-05-10 22:46] mjbvz commented on #26340
Opened https://github.com/Microsoft/TypeScript/issues/15750 to track reducing the number of type suggestions in js files

Closing as upstream

[2017-05-10 22:46] #26340 closed

[2017-05-10 22:48] mjbvz commented on #26395
This is tracked upstream by https://github.com/Microsoft/TypeScript/issues/5515, and https://github.com/Microsoft/TypeScript/issues/11099

[2017-05-10 22:48] #26395 closed

[2017-05-10 22:53] NinoFloris commented on #21655
@joaomoreno Please pretty please I'm asking you, after yet another email of people that actually found the cause of their problems and then would actually write a reply (which is just a small percentage of people that have these issues)

Please at least implement /etc/paths.d fallback behaviour for osx. When PATH enumeration does not work it breaks almost every conceivable case of vscode language

[2017-05-10 22:54] mjbvz commented on #26415
This issue requires fixes on the TS and on the VSCode side. To test the VSCode fix, try using:

[code]

And confirm the code block is properly rendered

[2017-05-10 22:55] #26348 closed

[2017-05-10 23:05] MehdiRaash commented on #23239
Is there a solution for this Error message?

[2017-05-10 23:09] vilya opened #26417 "Find in selection requires at least two lines to be selected"
- VSCode Version: 1.12.1
- OS Version: macOS Sierra 10.12.4

Steps to Reproduce:

1. Select a single line of text, e.g. by triple clicking on the line.
2. Alt + Cmd + F to bring up the Find and Replace widget
4. Enter a search term in the Find field -> All occurrences in the document are highlighted
5. Click the "Find in selection" button to toggle it on -> no effect
6. Click "Find in selection" a

[2017-05-10 23:11] arackaf commented on #26340
Fair enough - are you sure this couldn't be solved more easily in VS Code though?  Ie, just expose all the sources of these suggestions and let users blacklist as many or as few as desired?

[2017-05-10 23:15] crysyn commented on #25174
Similar bug in the opposite manner.

Was going to delete a line of code by selecting it from the margin, Did a double click or so and selected it and put a breakpoint down. Tried to get rid of the breakpoint and an unrendered lightbulb kept giving me its context menu instead of removing the displayed breakpoint.

VSCode Version:
    Version 1.13.0-insider (1.13.0-insider)
    c615b43be67170e166779

[2017-05-10 23:17] fillippeyton commented on #19665
I'm having the same issue. This is happening to me with WSL + Webpack watch. Here's my info:

VSCode Version:  1.12.1 (f6868fc)
Node: 7.4.0
OS Version: Windows 10 Enterprise 64-bit (Version: 1607; OS Build: 14393.1066) (Using WSL for Bash)
Extensions:

Ext | Author | Version |
---------|-----------|------------------
Auto Close Tag | Jun Han |  0.3.12
C# | Microsoft | 1.9.0
Docker | Microsoft | 0.

[2017-05-10 23:27] mjbvz opened #26418 "Add Separate Settings For References Code Lens in JavaScript and TypeScript"
**Bug**
The `typescript.referencesCodeLens.enabled` setting currently enables the setting for both js and ts

**fix**
Split this into `typescript.referencesCodeLens.enabled` and `javascript.referencesCodeLens.enabled`. Investigate enabling the code lens in TypeScript by default

[2017-05-10 23:37] MehdiRaash commented on #26053
ah VScode is putting me down...

[2017-05-10 23:41] mjbvz commented on #24372
This should now be fixed. For the code:

[code]

For hover we now display:

![screen shot 2017-05-10 at 4 31 45 pm](https://cloud.githubusercontent.com/assets/12821956/25925600/601f07bc-359e-11e7-8ebb-33b73705505e.png)

and for completion items we display:

![screen shot 2017-05-10 at 4 39 33 pm](https://cloud.githubusercontent.com/assets/12821956/25925718/44569dd2-359f-11e7-9ca6-262a9a180152.png)

[2017-05-11 00:24] ramya-rao-a commented on #26416
Nice catch.

[2017-05-11 00:25] ramya-rao-a commented on #26371
:) Thanks for reporting @marvinhagemeister.
The fix should be out in tonight's insiders.

[2017-05-11 00:39] maxime4000 opened #26419 "Editor.mouseWheelZoom + intellisense box = weird stuff"
- VSCode Version: 1.12.1
- OS Version: Windows 10

Sorry to let you only this gif to reproduce it but I don't thinks it's a big bug and really need to be details

Steps to Reproduce:

1. ctrl + space (To show up intellisense)
2. ctrl + wheel (To see intellisense doing weird resize text)

![mousewheelzoom](https://cloud.githubusercontent.com/assets/4070713/25926956/9bc4b3f8-35c0-11e7-9933-b3ef0d362

[2017-05-11 00:45] zediah opened #26420 "Javascript User snippet outputting incorrectly"
- VSCode Version: 1.21.1
- OS Version: macOS Sierra, 10.12.4

Steps to Reproduce:

1. Have a javascript user snippet
2. Try use this snippet, output is a bit strange. See attached image of original snippet and output

This is a recent thing, I've been using this snippet for a while now.

![screen shot 2017-05-11 at 10 32 01 am](https://cloud.githubusercontent.com/assets/2045469/25927096/b5e50bea-3

[2017-05-11 00:47] kriscarle commented on #21655
I've encountered the issue again after a few relaunches of VS Code, and I think I've tracked down why version 1.12.1 started causing this for some of us. At the top of the development console is an error `renderer did not receive lazyEnv in time` which was introduced in 1.12.1 by https://github.com/Microsoft/vscode/commit/f3ffc2ed9b0318f236201aa2c0447eec242f4738

This adds a 2000 ms timeout when r

[2017-05-11 00:57] #26420 closed

[2017-05-11 00:58] zediah commented on #26420
Didn't search good enough, this is a duplicate of #25938

[2017-05-11 01:49] cvetanatanasov opened #26421 "Terminal not rendering cyrillic"
- VSCode Version: Code 1.12.1 (f6868fce3eeb16663840eb82123369dec6077a9b, 2017-05-04T21:40:39.245Z)
- OS Version: Linux x64 3.16.0-4-amd64
- Extensions: none
--- ls
Programirane     VirtualBox VMs  log.txt  ??????????            ??????????????????????  ????????????????
PycharmProjects  anaconda3       ma       ??????????????????    ????????????            ??????????????
SIIlog2.txt      bin

[2017-05-11 01:53] ratishphilip opened #26422 "Custom Emmet snippet for Javascript"
VSCode Version: 1.12.1
OS Version: Windows 10 Insider Build 16188.1000

Steps to Reproduce:

1. Create a **snippets.json** file with the following content
[code]
2. Save this file to a local directory, say **D:\DevSettings**
3. Now in the VSCode User settings add the following key-value
[code]
4. Reload VS Code and open a javascript file.
5. Type **fnrr** and press TAB.

Expected Result: **fnrr**

[2017-05-11 02:18] victoriafrench commented on #21655
Seeing the same `renderer did not receive lazyEnv in time` warning. I don't have a lot of zsh plugins but I do initialize docker which takes a second or two.

[2017-05-11 02:23] phocks commented on #19868
I still think this is a bug. If it detects and adds a block comment with cmd+/ then it should detect and remove the same block comment with cmd+/

Amy I wrong? Should I look at the source code and try to figure out a fix myself?

[2017-05-11 02:23] phocks commented on #25944
I still think this is a bug. If it detects and adds a block comment with cmd+/ then it should detect and remove the same block comment with cmd+/

Amy I wrong? Should I look at the source code and try to figure out a fix myself?

[2017-05-11 02:25] mjbvz opened #26423 "Hang / Slowdown Using Word Based Suggestions in Large Document"
- VSCode Version: 1.13 Insiders - c615b43be67170e166779c9020a249442c4f36fc

Steps to Reproduce:

1. Set:
[code]

2. Open this file in VS Code as plain text: [alice.txt](https://github.com/Microsoft/vscode/files/991699/alice.txt)

3. Go to the end of line 15 (the one with all the random characters on it) and type the keys `f` + `s` over and over again rapidly

**Bug**
Major slowdown and sometimes t

[2017-05-11 02:27] mjbvz commented on #26423
Also in 1.12.1 :(

[2017-05-11 02:29] Almenon commented on #24372
thanks @mjbvz !

[2017-05-11 02:52] rulelee opened #26424 "关于VSCode提示内容有误的问题"
- VSCode Version: Code 1.12.1 (f6868fce3eeb16663840eb82123369dec6077a9b, 2017-05-04T21:26:50.689Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vue-snippets|hollowtree|0.1.1|
|vetur|octref|0.6.8|
|java|redhat|0.3.0|;

---

Steps to Reproduce:

1.
![_6o 4l2 i 0 h dv 3](https://cloud.githubusercontent.com/assets/11474005/25930207/86afb658-3637-11e

[2017-05-11 02:53] josephspurrier commented on #15341
I'm working in Go and each of my subfolders are git repositories.

[2017-05-11 02:59] kdmu commented on #25915
While most of "Developer" commands are `WorkbenchAction` and registered through [registerWorkbenchAction](https://github.com/Microsoft/vscode/blob/228ac262b861c4606f89e546098dceccc2a183fa/src/vs/workbench/electron-browser/window.ts), I found some of them do not, there's `EditorAction` like  "Developer: Inspect <Key Mappings|TM Scopes>" registered through other mechanism or ["Developer: Webview Too

[2017-05-11 03:14] cwtuan commented on #11963
![image](https://cloud.githubusercontent.com/assets/3455798/25930799/ee1166f4-363a-11e7-9cb2-9bb84a38f8ae.png)

Same problem at mac air

[2017-05-11 03:15] cleidigh commented on #25965
@bpasero
my fault, I had managed to somehow comment out the mouse click. and unless you used Enter
the native select box was activated. I updated the app and also added alt-DownArrow activation

I got a Windows ten virtual machine on another computer made sure it was fully updated
and tested  - It looks good !

I can try out a Linux VM unless it's quick for you , is Debian what you usually use?
if

[2017-05-11 03:49] AeonDigital commented on #20668
- VSCode Version: 1.21.1
- OS Version: MS Win 10

The nullable types on parameters and return types still show errors.

![nullable errors](https://cloud.githubusercontent.com/assets/5123165/25931601/9981682a-35e3-11e7-9962-b0b34363ac0a.png)

[2017-05-11 04:00] stelcheck commented on #26348
I just installed the release you have made which includes the fix - now, with the same configuration, restart just flat out doesn't work.

[2017-05-11 04:03] victoriafrench commented on #24961
referencing #21655. We are getting somewhere over there. Seems to be with a timeout on the shell.

[2017-05-11 04:14] cateyes99 opened #26425 "The `Open Changes` button not displayed as disabled for files without any changes"
VSCode Version: 1.12.1
OS Version: OS X EI Capitan 10.11.3

Steps to Reproduce:

1. Open some project from GitHub.
2. Open a file A.cs which has no fresh changes at all.
3. Stay on the editor of A.cs, and notice the button of `Open Changes` on the top right corner above the editor doesn't display as disbled! Clicking it has no effect of course, but it should display as disable in this case just li

[2017-05-11 04:18] ungod commented on #9827
+1

[2017-05-11 04:36] haani104 commented on #25822
Version 1.13.0-insider (1.13.0-insider)

This is what I am running currently

[2017-05-11 04:47] cleidigh commented on #25742
@Tyriar
understandable, as you can see from comments there are so many choices and opinions!
cool thing is it's almost all configurable now. my challenge is to get the select boxes,
they are tricky little buggers - almost have it !

[2017-05-11 04:48] maciej-luminal opened #26427 "Timeout (always) exceeded when running tests on Travis"
- VSCode Version: 1.12.1
- OS Version: Travis Mac OS

I wanted to setup tests on Travis CI for a language server I've been working on. My Travis script downloads the language server executable and then I try the following:

[code]

It works fine when I run it locally on my computer (`npm test` or from VSC) but fails on Travis. The error is:
[code]
It doesn't matter what timeout I set, it is always

[2017-05-11 04:57] bpasero commented on #22558
I can also not reproduce, sorry. @c4milo can you share your full settings file? Do you have workspace settings configured?

[2017-05-11 04:58] bpasero commented on #25600
We cannot open a directory as editor, though we could probably show a message in that case.

[2017-05-11 05:00] bpasero commented on #21778
You can disable DND in the explorer via `"explorer.enableDragAndDrop": false`, but a confirmation dialog has not been added yet. I can look into that.

[2017-05-11 05:03] bpasero commented on #24635
https://github.com/Microsoft/vscode/issues/1414

[2017-05-11 05:03] #24635 closed

[2017-05-11 05:04] bpasero commented on #25915
Yeah tricky. Sorry I am not having enough time to look into this further at the moment.

[2017-05-11 05:07] bpasero commented on #26381
@sandy081 it looks to me that what happened to @jrieken is that briefly all settings got lost and thus the dialog got triggered (this would also explain why @jrieken saw the default theme being used). So this seems to be the cause, but still does not explain why settings go empty randomly...

[2017-05-11 05:08] bpasero commented on #1414
PR welcome.

[2017-05-11 05:09] bpasero commented on #26228
@rv-rsouza is this reproducible every time you try? Does it reproduce when you run with all extensions disabled? Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces.

[2017-05-11 05:11] bpasero commented on #26398
I have also seen this. @Andrew1431 can you try to reproduce with our 1.11 release just to see if this is really Electron update related? You can get it from here: https://az764295.vo.msecnd.net/stable/6eaebe3b9c70406d67c97779468c324a7a95db0e/VSCode-darwin-stable-unsigned.zip

[2017-05-11 05:16] bpasero commented on #25965
@cleidigh I fear we cannot use the trick of expanding the dropdown in-place, this would push all other elements down. Thanks for trying :)

[2017-05-11 05:19] bpasero commented on #24227
@mattbanks I am trying to decode what your gif is showing:
* you open vscode and move it up to the top left and make it larger
* you start vscode again and it seems to go to the same previous location
* then I briefly see a new window opening in default size, is that you are opening a new window? and if so, what are your `window.newWindowDimensions` settings and how do you open that second window?

[2017-05-11 05:29] Spongman opened #26429 "regression: caret is rendered in wrong position when editor zoomed"
this is a regression. this did not happen in 11.1

- VSCode Version: 12.1
- OS Version: XUbuntu 16.04.2 LTS (lxde)

Steps to Reproduce:
 - full-screen VS code
 - View->Reset Zoom
 - create a new file
 - type 100 characters on a single line (not enough to make it wrap)
 - move the caret to end of line
 - View->Zoom Out
 - type some more characters

NOTE: the caret is no longer rendered at the end o

[2017-05-11 05:36] Spongman commented on #26429
![image](https://cloud.githubusercontent.com/assets/1088194/25934177/258f0cd6-35d1-11e7-824b-2dfabb31e3cc.png)

[2017-05-11 06:06] ivanstefanov commented on #25707
Thank you for the suggestion @Structed Finally I managed to uninstall it after I close all my tabs, open fresh Visual Studio Code and uninstall it from the Extensions tab. Think this should be Visual Studio Code bug and it should kill all instances of the given plugin on deletion process

[2017-05-11 06:06] #25707 closed

[2017-05-11 06:09] nmaxcom opened #26430 "Cursor goes to end of line on saving"
- VSCode Version: 1.12.1 (1.12.1)
- OS Version: El Capitan 10.11.6

Steps to Reproduce:

1. Edit any file with content
1. Hit the save command or wait for autosave delay if it's the case
1. Cursor jumps to EOL. In cases of low autosave delay (when using file watchers for example), it'll close intellisense and/or ruin your coding experience

Autosave example:

![2017-05-11 08_08_28](https://cloud.g

[2017-05-11 06:17] CherryDT commented on #17609
Is there any ETA when this fix (which is already closed in winpty) will make it into VSCode?

[2017-05-11 06:37] egamma commented on #26430
@nmaxcom this could be an extension, can you reproduce this when you have all extensions disabled.

See [Submitting-Bugs-and-Suggestions](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions) for how to do this.

[2017-05-11 06:39] a14907 opened #26431 "Everytime when i update vscode ,it should Updating C# dependencies..."
`Updating C# dependencies...
Platform: win32, x86_64

Downloading package 'OmniSharp (.NET 4.6 / x64)' (20702 KB) .................... Done!
Downloading package '.NET Core Debugger (Windows / x64)' (39488 KB) .`

Everytime when i update vscode, and when i view the c# code ,it will do the thing  just show above, it is really a disgusting(sorry for use this words) experience.

[2017-05-11 06:39] egamma commented on #26427
@maciej-luminal please questions on stack overflow pls see [Submitting-Bugs-and-Suggestions](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions).

[2017-05-11 06:39] #26427 closed

[2017-05-11 06:42] motebotic commented on #26381
@bpasero @sandy081 what could cause vsc to think that a setting had changed in both mine & @jrieken case. I had one window open, split in two- with two JS files on the left side & one on the right side. I was working in file on right & had an invalid JS file holding some glyph's on the left in a hidden tab. I clicked the valid JS file on the left side, hit ctrl tab to change to the icon file & sta

[2017-05-11 06:42] weinand commented on #26348
You'll need build 5057c95e6b5a43ddecee0d6f663764b7c80f6c95 which is only available for 30 minutes. Are you sure you tried that build?

[2017-05-11 06:44] egamma commented on #26424
The translation says the delay is in seconds but it is in miliseconds

[2017-05-11 06:45] egamma commented on #26431
@a14907 this happens in the C# extension please file the issue against this extension.

[2017-05-11 06:45] #26431 closed

[2017-05-11 06:47] alexandrudima commented on #26429
Duplicate of #26151

Workarounds until the fix is released:
* change the zoom level, then **close and start again** VS Code
* or use the setting `"editor.disableMonospaceOptimizations": true`

[2017-05-11 06:47] #26429 closed

[2017-05-11 06:48] stelcheck commented on #26348
No, what I did instead is manually install the extension in my current copy of Code, as follow:

[code]

[2017-05-11 06:48] garvitjoshi opened #26432 "When i open two Projects at the same time then git in not working in second Project."

[2017-05-11 06:49] egamma commented on #26305
Cannot act on this issue without additional information, closing, please reopen when you have additional insights.

[2017-05-11 06:49] #26305 closed

[2017-05-11 06:49] alexandrudima commented on #26414
Duplicate of #26151

Workarounds until the fix is released:
* change the zoom level, then **close and start again** VS Code
* or use the setting `"editor.disableMonospaceOptimizations": true`

[2017-05-11 06:49] #26414 closed

[2017-05-11 06:50] eamodio commented on #26187
@bpasero So I've tried out `fs.realpath` in node v7.10 (which supposedly uses `uv_fs_realpath) under the covers, but it doesn't return the proper-casing for me -- it just seems to return what every casing I enter. :(

[2017-05-11 06:50] egamma commented on #26369
Cannot act on this issue without additional information. Closing the issue, please reopen when you add more information.

[2017-05-11 06:50] #26369 closed

[2017-05-11 06:52] qian6 opened #26433 "[C++ on windows]Unable to start debugging. Could not load file or assembly 'Newtonsoft.Json, Version=6.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one of its dependencies."
- VSCode Version:1.12.1
-  OS Version: Window10 X64
-  Cpptools: [\\cpvsbuild\Drops\MDDDebugger\CppTools\20170510.3\Extension\cpptools.vsix](\\cpvsbuild\Drops\MDDDebugger\CppTools\20170510.3\Extension\cpptools.vsix)
- GDB: [C:\cygwin64\bin\gdb.exe](C:\cygwin64\bin\gdb.exe)

Steps to Reproduce:

1. Open tests folder in attachments directly.
[tests.zip](https://github.com/Microsoft/vscode/files/9920

[2017-05-11 06:53] egamma commented on #26432
@garvitjoshi please provide more detailed steps. What do you mean by 'open two projects at the same time'. What do you mean by 'git not working'.

[2017-05-11 06:54] egamma commented on #26433
@qian6 Please file this issue against the C++ extension.

[2017-05-11 06:54] #26433 closed

[2017-05-11 06:55] qian6 commented on #26433
Got it! Thanks!

[2017-05-11 06:57] darrenkenny opened #26434 "Hard hang while editing regular expression"
- VSCode Version: 1.13.0-insider 2017-05-09...
- OS Version: Windows 8.1

Steps to Reproduce:

1. Edit a file with text in it
2. Open find, enable regular expressions, and enter: ^(.*)+

The editor will now hard-hang, there is no timeout failure, I had to reload when got the prompt to do so.

While I know that the above expression is nonsense - it just happened to be something I entered after dele

[2017-05-11 06:58] weinand commented on #26348
But you are no longer seeing the looping?

[2017-05-11 06:59] weinand commented on #26348
Anyways, please try the latest Insiders build.

[2017-05-11 07:01] weinand commented on #26348
Latest of node-debug requires some changes in VS Code core which are only available in the Insiders.

[2017-05-11 07:02] jrieken commented on #26096
In the absence of an text edit we fallback to use the current word which is computed using a language specific regex.

[2017-05-11 07:04] alexandrudima commented on #24128
Unfortunately I could not reproduce. @chrmarti Could you reproduce (since you've added the bug label?)

@luchillo17

Can you reproduce when closing VS Code and running from a separate terminal via `code --disable-extensions`?

What keyboard layout are you using? (It shows in the top right corner on the mac) The relevant settings look like this:
![image](https://cloud.githubusercontent.com/assets/5

[2017-05-11 07:04] stelcheck commented on #26348
Understood. I'll try to give that a shot soon. Otherwise, I assume the milestone deadline matches the next release date for which this fix will be present?

[2017-05-11 07:05] jrieken commented on #26380
I'd recommend you to write an extension for that because it seems like a bit of a special case and with extension API you call the powers you need. You can participate in IntelliSense and provider snippets that way. This is a sample: https://github.com/Microsoft/vscode-extension-samples/blob/master/completions-sample/src/extension.ts

[2017-05-11 07:11] jrieken commented on #26423
Thanks, awesome find. It's stuck somewhere filtering and scoring

[2017-05-11 07:13] jrieken commented on #26423
Happens with this

[code]

[2017-05-11 07:20] kraftwer1 opened #26435 "Code seems to only refresh imported d.ts on tab switch / file open"
- VSCode Version: 1.12.1
- OS Version: OSX El Capitan 10.11.6

I'm working on a file **MyFile.ts** that imports a definition **Library.d.ts** which is written by an external TypeScript compiler (**tsc -w**).
When I change something in **Library.ts**, then **tsc -w** will overwrite its **Library.d.ts**, but VS Code does not "update" its editor view of **MyFile.ts** automatically (in order to show e

[2017-05-11 07:21] alexandrudima commented on #23685
`193` (`0xC1`) and `194` (`0xC2`) [are documented as reserved](https://msdn.microsoft.com/en-us/library/windows/desktop/dd375731(v=vs.85).aspx)

![image](https://cloud.githubusercontent.com/assets/5047891/25937080/a8a074f8-362a-11e7-9982-c92237209fe3.png)

But it looks like there is [high consensus](https://encrypted.google.com/search?hl=en&q=virtual%20key%200xC1%20brazilian) that these two values

[2017-05-11 07:22] garvitjoshi commented on #26432
![screenshot from 2017-05-11 12-33-29_li 5]
(https://cloud.githubusercontent.com/assets/15026629/25936959/765974dc-3647-11e7-975b-db4b18222f10.jpg)
Hello **@egamma** here I attach an image in which my two different projects are open in vscode. but one of them not showing my git branch(that is my second Project that means before that I already open different project and that is my first project ).

[2017-05-11 07:23] Emeryao commented on #26290
![image](https://cloud.githubusercontent.com/assets/3591899/25937292/b6cd5a4a-365d-11e7-83b6-74beac06a8f2.png)
* VSCode Version: Code - Insiders 1.13.0-insider (5057c95e6b5a43ddecee0d6f663764b7c80f6c95, 2017-05-11T06:11:50.856Z)

It works but I think there is a little flaw shown in the picture above that the `@deprecated` tag and the function description laid in one single line without a space sep

[2017-05-11 07:25] DhirajAdPushup commented on #25033
@electrotype I was also trying to use `integratedTerminal` option and got this.
![screenshot 160](https://cloud.githubusercontent.com/assets/10044846/25937184/45e02bb0-3648-11e7-9e6a-dc8a8d29a936.jpg)

I guess when bash changes directory (**check second highlighted box** ) all the slashes are missing (**check first highlighted box** ). Issue definitely is because of missing slashes.

[2017-05-11 07:29] aeschli commented on #11877
Note that any change also needs to go into the language server protocol and it would be nice if we keep the APIs as similar as possible (not a must, but it's a better story). FYI @dbaeumer

The feedback we got from the snippet work was that we should not change the shape of property types (e.g. from `string` to `string | MarkedString[]`) as this breaks old language client implementations. For the

[2017-05-11 07:32] amit-srivastava-007 commented on #26366
Hi,

I am using this for Ember application development and size of repo is just 3mb.
This happen just after updating to v1.12.1

I am not sure if this is due to any extension installed or because this update. I tried to kill the process (code.exe) which is using high cpu but the process comes up again after few seconds and vsCode instance does not close. There are multiple code.exe processes runni

[2017-05-11 07:34] isidorn commented on #2513
@gulshan your link is not good, however some adapter support more debug actions and when using those adapters more actions appear. For instance the chakra debugger supports step back debugging, and when debugging chakra an additional step back action will be added

[2017-05-11 07:36] ungod opened #26436 "Can i pass arguments to command in contributes block?"
Hi.
I would like to reusing command with some arguments.
I found key binding can do this with "args" property:

[code]

so i try to write my package.json/contributes/menus in a similar way and it didnt work:
[code]
I would like to pass "text" to command handler function
Are there any feature to archive similar result?

[2017-05-11 07:37] meuter commented on #24783
I had the same issue. Adding `"keyboard.dispatch":"keyCode"` fixed it. Thanks @brotulix

[2017-05-11 07:42] n1ber opened #26437 "Installer tries to close all applications and fails. Until Spotify.exe is closed."
- VSCode Version: Code 1.12.1 (f6868fce3eeb16663840eb82123369dec6077a9b, 2017-05-04T21:26:50.689Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.6.4|
|Go|lukehoban|0.6.61|
|cpptools|ms-vscode|0.11.0|
|csharp|ms-vscode|1.9.0|
|PowerShell|ms-vscode|1.0.0|
|erlang|pgourlain|0.1.0|
|RustyCode|saviorisdead|0.19.1|;

---

Steps to

[2017-05-11 07:43] egamma commented on #26366
@amit-srivastava-007 thanks for the additional information. Can you pls try to reproduce this when you have all the extensions disabled. How to do this is described here  [Submitting-Bugs-and-Suggestions](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions).

[2017-05-11 07:44] egamma commented on #26436
Please use Stack Overflow for asking questions as described in [Submitting-Bugs-and-Suggestions](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions).

[2017-05-11 07:44] #26436 closed

[2017-05-11 07:56] joaomoreno commented on #26386
@michelkaporin @bpasero I think a `SPECTRON_TEST` is a bad idea. Code should never know it is running in a test environment.

For each special behaviour you want Code to have in a test run, you should have an option to toggle it, independently of whether it runs in a test environment or not. We are not Volkswagen here.

[2017-05-11 08:01] lemures-t commented on #585
any new update *_*

[2017-05-11 08:02] isidorn commented on #26374
Fixed via be127659e4
Please use vscode insiders, the toLowerCase error should be fixed

[2017-05-11 08:02] #26374 closed

[2017-05-11 08:03] PhongAthena commented on #12578
I hope this feature will appear soon

[2017-05-11 08:03] joaomoreno commented on #26227
Thanks for taking the time to look into this. 🍻

[2017-05-11 08:03] #26227 closed

[2017-05-11 08:09] joaomoreno commented on #26053
@Graaphic Can you reproduce with [this build](https://az764295.vo.msecnd.net/insider/5057c95e6b5a43ddecee0d6f663764b7c80f6c95/VSCode-win32-1.13.0-insider.zip)?

[2017-05-11 08:09] michelkaporin commented on #26386
You are right @joaomoreno, the main purpose of the smoke tests is to run tests over the built/signed version of VS Code that is the same as the end-user will be using. We should not make a special environment in VS Code  just for the smoke tests.

[2017-05-11 08:10] burakcan commented on #21655
`renderer did not receive lazyEnv in time` + 1
zsh + omzsh plugins + tmux + tmux plugins + nvm etc. taking around 5-8 seconds to load on my machine.

[2017-05-11 08:13] bpasero commented on #26187
@eamodio node.js is NOT using uv_fs_realpath, they reverted back because there are lots of caveats with it (e.g. mapped network drives on windows are resolved to their actual path). The method still exists in libuv though.

[2017-05-11 08:13] weinand commented on #25033
Currently VS Code launch configurations do not support WSL. The code is not aware of WSL and just assumes Windows which results in paths with backslashes.

[2017-05-11 08:16] joaomoreno commented on #26376
Is the network share mounted on a drive?

[2017-05-11 08:16] aeschli commented on #19992
Turning off the JSON validator is currently not possible.

[2017-05-11 08:17] joaomoreno commented on #26385
This is due to the auto fetch behaviour. Two solutions:

- Disable auto fetching with `git.autofetch = false` in the settings
- Load your key into your SSH agent: http://sshkeychain.sourceforge.net/mirrors/SSH-with-Keys-HOWTO/SSH-with-Keys-HOWTO-6.html

[2017-05-11 08:17] #26385 closed

[2017-05-11 08:20] joaomoreno opened #26438 "Path issues with "did not receive lazyEnv in time""
From #21655

@kriscarle @victoriafrench @burakcan All seem to have this issue. Please resume the discussion over here.

@kriscarle

@victoriafrench

@burakcan

[2017-05-11 08:23] EbXpJ6bp opened #26439 "[loc][query] what is "ellapsed""
Hi, I have a question, when translating. Can you help me, please?

Is "ellapsed"(in [here](https://github.com/Microsoft/vscode/blob/8425399f03ff5b3968659791c0692adf11353edd/src/vs/workbench/electron-browser/shell.ts#L283)) a typographical error of "elapsed"  or is it correct?

Localize point
https://github.com/Microsoft/vscode/blob/8425399f03ff5b3968659791c0692adf11353edd/src/vs/workbench/electron

[2017-05-11 08:23] joaomoreno commented on #21655
Excellent. Many thanks for the `renderer did not receive lazyEnv in time` finding, guys.

@kriscarle @victoriafrench @burakcan You three should stop commenting on this issue and move over to #26438. Your issue isn't the same as @NinoFloris.

---

@NinoFloris last I heard from you was:

I was waiting for us to resume our findings. Let me look into that `paths.d` solution.

[2017-05-11 08:24] gianmarcotoso commented on #25919
@yingbo For me native tabs play a different roles than editor tabs: I use native tabs to have multiple projects opened, while editor tabs (actually, I keep open files on the sidebar) for the single project's files. This way I don't need to have multiple VSCode windows open!

[2017-05-11 08:26] joaomoreno commented on #26397
#26184

[2017-05-11 08:26] #26397 closed

[2017-05-11 08:28] joaomoreno commented on #25822
Can you reproduce with `--disable-extensions`?

[2017-05-11 08:29] joaomoreno commented on #26425
Can't fix without #21131, closing for now.

[2017-05-11 08:29] worried-k opened #26440 "Search in Files stuck, no results found after long time, not observed always"
- VSCode Version: Code 1.12.1 (f6868fce3eeb16663840eb82123369dec6077a9b, 2017-05-04T21:18:32.269Z)
- OS Version: Darwin x64 16.5.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|beautify|HookyQR|1.0.2|
|html-css-class-completion|Zignd|1.2.0|
|jshint|dbaeumer|0.10.15|
|vscode-instant-markdown|dbankier|1.1.0|
|vue-snippets|hollowtree|0.1.1|
|debugger-for-chrome|msjsdiag|3.1.1|
|vuehelper|o

[2017-05-11 08:29] IDDemon commented on #26195
@alexandrudima Yep. It was the Live HTML Previewer extension. I've never tought that anyone (extension developer) wants  to use the OS default shortcuts for own purposes. It's so nonsense to me. Sorry, my bad. :)

Thank you!

[2017-05-11 08:30] joaomoreno commented on #26419
Since the widget eventually recovers, I say we can live with this.

[2017-05-11 08:30] #26419 closed

[2017-05-11 08:30] joaomoreno commented on #26432
Can you try out our [insider release](https://code.visualstudio.com/insiders)?

[2017-05-11 08:31] wuzixiao commented on #24653
Thanks @rishii7 . It is really helpful.

[2017-05-11 08:34] CoenraadS commented on #22177
I am also having trouble running tests. I tried `7.10.0` & `6.5.0` but both give the same error

[code]

Is there something else needed?

[2017-05-11 08:35] joaomoreno commented on #26437
Could be... but very unlikely. Does this *always* reproduce? Was it a one time thing?

[2017-05-11 08:36] burakcan commented on #26438
Thank you @joaomoreno.

I tried to increase lazyEnv timeout. But I couldn't reproduce the bug with the production build and couldn't find how to build a standalone executable in the contribution guide. (Or maybe i built it but couldn't find the artifacts :) )

Can you please direct me to build a standalone executable?

[2017-05-11 08:40] isidorn commented on #26417
This is by design so users do not accidently end up in "find in selection" state. The selection actually has to span multiple lines

We can consider a PR if more users ask for this.
Code pointer https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/find/browser/findWidget.ts#L151

[2017-05-11 08:46] davistan commented on #25919
In File menu, should have New Tab and New Window (like in Chrome). There will be New File menu which is just adding a tab in editor.

For Window menu, it should have "Merge All Windows". If you're using SourceTree you know what I meant.

And to make it more usable, adding a + icon beside the native tabs will be natural for UX. Refer to Safari browser.

This is my 2 cents. Hope this helps.

[2017-05-11 08:52] garvitjoshi commented on #26432
I want to say that sometimes it's working sometimes not. I think it's a small bug. and sure I'll check it in insider release. and one more thing when I install insider release I want to install all extension which was installed on my previous vscode and that is ridiculous for me. so, I think you can do one more thing that is login or signup in vscode and when a user install extension so he/she can

[2017-05-11 08:53] dbaeumer commented on #25531
@alexandrudima is there an item to implement a watch dog. I think this is still something we should do.

[2017-05-11 08:56] pelikhan opened #26441 "VS Code dialog keeps poping over and over again."
- VSCode Version: Code 1.12.1 (f6868fce3eeb16663840eb82123369dec6077a9b, 2017-05-04T21:26:50.689Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-caniuse|akamud|0.5.3|
|vscode-svgviewer|cssho|1.4.0|
|githistory|donjayamanne|0.2.0|
|tslint|eg2|0.14.0|
|vscode-icons|robertohuertasm|7.7.0|
|partial-diff|ryu1kn|0.2.0|
|gitblame|waderyan|1.8.1|;

[2017-05-11 08:56] dbaeumer commented on #5081
@BillDenton yes, this is the problem. Under Windows the file change event is triggerd on the traget and therefore VS Code doesn't know about it. See https://github.com/Microsoft/vscode/issues/25547

[2017-05-11 08:59] aeschli commented on #21967
@jrieken Can you reply to the question above? Any recommendations on how extensions can prevent conflicts?

[2017-05-11 09:00] egamma opened #26442 "Add 'Command Palette...' action to the Editor Context Menu"
To help discoverability of the command palette we should experiment with adding a 'Command Palette' action to the editor's context menu. Same as it is done in the standalone editor

![image](https://cloud.githubusercontent.com/assets/172399/25941226/fac21ada-3638-11e7-8c96-a71e87c646ec.png)

[2017-05-11 09:00] BillDenton commented on #25547
Any progress?

[2017-05-11 09:00] aeschli commented on #25920
@egamma Can you verify?

[2017-05-11 09:02] JayyWalker commented on #26390
@egamma Yes, I have just did it again just to make sure but the issue still persists.

[2017-05-11 09:02] DavidBabel commented on #26384
My problem is different, there is no way for now to open a file with keyboard, and keep cursor in file Explorer. Which is a big productivity problem for me :(

[2017-05-11 09:02] vilya commented on #26417
Thanks for the response @isidorn. The behaviour feels very strange - buggy, in fact - compared to all other editors I've used. To illustrate, using '[' and ']' to show the start/end of the selection and '.' to indicate a character, this selection has the unexpected behaviour:
[code]
but this selection works as expected:
[code]
The only difference between the two is one additional character selecte

[2017-05-11 09:02] aeschli commented on #25938
@jrieken Can you verify the fix?

[2017-05-11 09:02] BillDenton commented on #5081
I also tried a creating a symbolic link to the common folder, rather than each file individually. I could avoid this problem by have common tasks.json, launch.json and c_cpp_properties.json that can overridden  a folder basis.

[2017-05-11 09:04] orta opened #26443 "Blog post for 1.12 has incorrect sample code"
The post for 1.12 under extension authoring: https://code.visualstudio.com/updates/v1_12#_extension-authoring

Has

[code]

but the API [is withProgress](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L3932)

[code]

[2017-05-11 09:07] DavidBabel commented on #26378
Already tried, this does not work

[2017-05-11 09:07] kdmu commented on #25915
If we can afford the cost of string matching, a possible solution could be filtering entries based on label and alias. If I am not wrong, although label is translated in the destination language, alias is kept in english.

[2017-05-11 09:07] joaomoreno commented on #26438
`gulp vscode-darwin` will create a `VSCode-darwin` folder next to `vscode`. It will only reproduce if you open the application via Finder, not via Terminal.

[2017-05-11 09:08] joaomoreno commented on #26432
Copy `~/.vscode/extensions` to `~/.vscode-insider/extensions`.

[2017-05-11 09:13] garvitjoshi commented on #26432
Thanks, buddy you save my lots of time. _for ~/.vscode/extensions to ~/.vscode-insider/extensions._

[2017-05-11 09:14] zanza00 commented on #24961
@simeonoff today the issue reappeared, sorry for the false hope :(

[2017-05-11 09:15] jrieken commented on #25938
verified in insiders

[2017-05-11 09:18] jrieken commented on #26438
@joaomoreno this happens because [`getShellEnvironment`](https://github.com/Microsoft/vscode/blob/joh/snippets/src/vs/code/electron-main/shellEnv.ts#L81) doesn't resolve in time (ever?)

[2017-05-11 09:23] DavidBabel commented on #26378
The only way is to unbind ctrl+tab in keybindings.json :
[code]

And reboot vscode.

[2017-05-11 09:24] #23685 closed

[2017-05-11 09:26] dbaeumer opened #26444 "Step over while debugging extension feels slow"
- VSCode Version: 1.13 insider
- OS Version: Windows

Here is what I see stepping in code in the extension. Actually every step over takes ~ 1 second.

![cast](https://cloud.githubusercontent.com/assets/1931590/25942243/a176a622-363c-11e7-946a-50e3948e7fab.gif)

[2017-05-11 09:28] rprichard commented on #17609
I could release the next winpty version if that helps.

[2017-05-11 09:28] isidorn commented on #8851
Now we are respecting the `endColumn` and `endLine` number on the VSCode side.
If an adapter provides an `endLine` and `endColumn` for a stack trace we will decorate it with a stronger color such that it is clear for the user the exact range a stack frame has. Note that I have hacked the node debugger to return `endColumn` and `endLine` to produce this gif.

If a breakpoint has an `endColumn` and

[2017-05-11 09:28] jrieken commented on #24435
Timeout apparently wasn't the way to go

[2017-05-11 09:29] #8851 closed

[2017-05-11 09:32] alexandrudima opened #26445 "Implement a watch-dog mechanism which can kill runaway extension host processes"
In certain circumstances, e.g. extension that does `while (true)` loop, the extension host process will not terminate unless killed via task manager.

Implement a watch-dog mechanism that can kill runaway extension host processes.

NB: This was not an issue on Windows until we made the process be forked with the `detached`  option to allow 5s for the extensions to gracefully shut down.

[2017-05-11 09:32] weinand commented on #25605
@dbaeumer we plan to improve stepping performance in this milestone.

[2017-05-11 09:33] alexandrudima commented on #25531
I've just created #26445

[2017-05-11 09:33] aeschli commented on #26407
Hm, interesting. I don't know if anything changed in that area but I was under the impression that $schema can also be used by non-schemas. But I realize from reading the latest documentation that it was invented for schemas definitions.

Thinking about it I think it's fine to keep the support in VSCode though. Its use is optional, we don't force it on anyone. In the end, its up to the schema of t

[2017-05-11 09:33] #26407 closed

[2017-05-11 09:34] benyaminl commented on #6474
Any to do list for this? Is there anyone consider make js work on top of OS rather than on chromium hehehe...

[2017-05-11 09:35] isidorn commented on #26444
@dbaeumer I can not repro this using a simple extension. Can you please share your extension and the steps on how to debug it. Also fyi https://github.com/Microsoft/vscode/issues/25605

![step](https://cloud.githubusercontent.com/assets/1926584/25942729/da6e67de-363d-11e7-87b8-410135a2daef.gif)

[2017-05-11 09:35] alexandrudima commented on #24347
We've had reports of the Live HTML Previewer extension overwriting cmd+q - https://github.com/Microsoft/vscode/issues/26195#issuecomment-300720089

So that might have been the root cause here.

Closing after a number of days without a response.

[2017-05-11 09:35] #24347 closed

[2017-05-11 09:36] alexandrudima commented on #26195
@IDDemon Happy to help. Perhaps you can create an issue on the HTML Previewer extension to let them know to avoid using `cmd+q` on OSX.

[2017-05-11 09:36] #26195 closed

[2017-05-11 09:40] alexandrudima commented on #26434
@darrenkenny The regex `^(.*)+` doesn't hang for me
![26434](https://cloud.githubusercontent.com/assets/5047891/25942970/9afa03aa-363e-11e7-81e7-fb8896e50f7f.gif)

Perhaps there is something special about the file that is being searched that might trigger a catastrophic backtracking of sorts ?

[2017-05-11 09:41] jrieken commented on #26275
When compute snippets that show within IntelliSense we use the current word which is defined by your language and most likely just `php` (missing `<?`). That makes the snippet not be selected - it doesn't match for us. This is a bug, we should match on "overlap".

To workaround this you can use tab-completions or the 'Insert Snippet' command

[2017-05-11 09:42] MehdiRaash commented on #26053
yes, nothing has changed.

[2017-05-11 09:42] aeschli commented on #26408
That's strange, I see HTML in there
![image](https://cloud.githubusercontent.com/assets/6461412/25942759/ef15fe40-363d-11e7-91b0-c1821709d3e9.png)

The list is populated from the list of available languages, not based on whether the language made any snippet contributions.

I suspect that your HTML language extension got disabled. Can you open the dev tools (`Help > Toggle Developer Tools`) and fi

[2017-05-11 09:43] gulshan commented on #2513
The image in the link looks like-

![](https://raw.githubusercontent.com/wiki/iolevel/peachpie/img/webserver-files.png)

[2017-05-11 09:44] alexandrudima commented on #26442
Consider removing Go To Implementation #25913 to avoid context menu fatigue

[2017-05-11 09:45] alexandrudima commented on #25913
I brought it up in the ux channel. @mjbvz or @jrieken should remove it, I didn't add it

[2017-05-11 09:46] CherryDT commented on #25033
@DhirajAdPushup your problem is #24072

[2017-05-11 09:47] slodki commented on #26073
Now I cannot reproduce. It's working even with legacy git disabled.
I will try to retest on fresh system install again.

[2017-05-11 09:50] jrieken commented on #25913
I didn't add it ;-) Yeah, I think we should remove it. Today it's hard for me to use because jump to one implementation immediately, not showing them all in place like reference search: #23925

[2017-05-11 09:50] CherryDT commented on #17609
Cool, I hope it will aid in getting this released in VSCode soon.
By the way, is "needs more info" still applicable here?

[2017-05-11 09:51] Relequestual commented on #23016
Hey there. Thought I'd touch base with this one. I've taken a little more of a back seat recently, and will be for a while, but I''d still like to see if we can get a few companies commit to JSON Schema, and hopefully provide some level of resources in terms of peoples time.

I notice MS are a member or sponsor of the Open API Initiative (although the website is a bit of a joke right now). That ac

[2017-05-11 09:52] richarddewit commented on #21676
I've just spent over an hour configuring my settings including ~10 custom Vim shortcuts. Then a popup showed up saying VSCode had to restart because of some functionality (update perhaps? can't remember exactly, no idea what version I had before it)

Then BAM, all my settings are gone...
I was really considering switching from Atom to VSCode.

[2017-05-11 09:53] dbaeumer opened #26446 "Lint problems don't show up in editor."
_From @chenxsan on May 9, 2017 7:31_

I'm running VSCode insider 1.13.0 on macOS 10.12.4.

![vscode-eslint](https://cloud.githubusercontent.com/assets/1091472/25839964/799fe4d6-34cc-11e7-898a-66da54669b03.gif)

As you can see in the gif, when we have `Unexpected token (4, 1)`, there's no red mark inside the editor as other ranges.

_Copied from original issue: Microsoft/vscode-eslint#236_

[2017-05-11 09:53] dbaeumer commented on #26446
This is a problem of the editor partly understandable.

Since line 4 has no character but eslint reports an error on [4,1] there is no character to underline. Moving to VS Code to discuss whether we can do something in the editor about it.

[2017-05-11 09:53] borekb commented on #26407
I was thinking the same, maybe it's fine inside VSCode but I think that the docs should be updated to warn about the possible consequences. For example, you might pick a schema on [JSON Schema Store](http://schemastore.org/json/), use the in-JSON `$schema` method and end up with validation errors.

I'll try to prepare a docs PR.

[2017-05-11 09:53] joedborg opened #26447 "Could not install typings files for JavaScript language features. Please ensure that NPM is installed and is in your PATH"
- VSCode Version: Version 1.12.1 (1.12.1)
- OS Version: MacOS 10.12.4

Steps to Reproduce:

1. Open a TS project in VSC
2. Open any JS file

NPM is installed on my system.  There is no complaint if launched from terminal, only from the app package.  There is no config option to set a path to NPM (would be quick fix).

[2017-05-11 09:55] dbaeumer opened #26448 "ESlint extension stopped working and will not install"
_From @MrSkinny on May 8, 2017 19:48_

VSCode: 1.12.1

I noticed ESLint wasn't running in my project and went to the extensions tab. ESLint was no longer installed.  I searched for it on the marketplace but when I hit "Install", the button changes state for a second and immediately flicks back to "Install".  I am able to run/install other extensions.

Anyone else having this issue?

_Copied from o

[2017-05-11 09:55] dbaeumer commented on #26448
_From @MrSkinny on May 8, 2017 20:22_

I've fixed the issue -- despite ESLint not appearing in my extensions list or linting the code in my editor pane, when I went to `~/.vscode/extensions` the folder for the extension still existed.  I deleted it and then tried installing from the marketplace, and this time it worked.

Other steps taken prior to fixing:-
* Hard reboot
* Updated to Node 6.10.3
*

[2017-05-11 09:55] dbaeumer commented on #26448
Will move to VS Code to see if there is something extension install in VS Code can do to help here.

[2017-05-11 09:55] Pym commented on #25934
I'm having the issue as well on my MacBook Pro (Retina, 13-inch, Late 2012).

<img width="336" alt="screen shot 2017-05-11 at 11 53 53" src="https://cloud.githubusercontent.com/assets/89233/25943552/8c68016e-3640-11e7-8739-5745b0518b4e.png">

I just tried to set `"editor.disableTranslate3d": true`, it seems to do the trick.

[2017-05-11 09:56] flexiondotorg commented on #5458
@Tyriar Microsoft Visual Studio Code is published as a snap in the store as `vscode` using classic confinement in the beta channel. We'd love for your team to take ownership of this snap and publish new versions directly to the store :-)

The rationale for using classic confinement is that vscode is a code editor and users may reasonably expect to be able to edit files anywhere on the system. Use

[2017-05-11 10:01] shivendra-it commented on #26245
I'm also facing the same problem since I updated this. It has been 3 days. Any solutions?? Or can anybody tell where the JSON config of this?

[2017-05-11 10:03] darrenkenny commented on #26434
[sweetpmac-running-tracks.txt](https://github.com/Microsoft/vscode/files/992593/sweetpmac-running-tracks.txt)

I attached a file that is triggering it for me, but it looks like I was slightly wrong with the RE, it is actually (minus the quotes):

    "^(.*)+ "

i.e. the same, but with a space at the end - as soon as I press space after the +, it hangs.

[2017-05-11 10:04] hipanda commented on #8950
Having this issue on VS Code 1.12.1 @ Windows 10
I've made an addon with langueage support and it doesn't properly start. All I get is ther error.

[2017-05-11 10:05] alexandrudima commented on #26446
Interestingly, the decoration gets rendered with width 0. Perhaps I can expand them when rendering.

[2017-05-11 10:07] martinlippert commented on #26096
@jrieken many many thanks for all the details, much much appreciated. I think this is indeed an interesting discussion. The question how you divide the control over the content-assist proposals between the editor (client) and the language server is indeed complex and difficult.

We try to be very very smart about which proposals to deliver to the client and in which sequence they should be present

[2017-05-11 10:09] martinlippert commented on #26096
@jrieken can you point me to a few language servers that return those non-sorted proposals, like the console.log/error/debug case? Would love to take a look myself to understand this in more detail. Many many thanks!!!

[2017-05-11 10:09] bpasero commented on #26439
@EbXpJ6bp ellapsed can stand like that, it is literally the data we send over. that entire message will probably go away by the end of the milestone, I am not even sure why I put it up with nls.localize, let me remove it.

[2017-05-11 10:09] #26439 closed

[2017-05-11 10:16] kdmu commented on #25870
It seems [link regex](https://github.com/Microsoft/vscode/blob/740f6620234326925592c40d2ec858bd457f9f6c/extensions/markdown/src/documentLinkProvider.ts#L13) is not capturing closing parenthesis as part of url. I'll work on this.

[2017-05-11 10:18] alexandrudima commented on #26434
@darrenkenny

Thank you for the clarifications. Unfortunately, I still cannot reproduce. I've tried running out of master and with the latest insiders build from 11.05

![26434-again](https://cloud.githubusercontent.com/assets/5047891/25944481/c9321974-3643-11e7-82be-686522a39daf.gif)

When investigating such things, I sometimes use https://regex101.com/ which is quite good in finding out if a reg

[2017-05-11 10:20] alexandrudima commented on #14568
Fixed via the fix for #26446 i.e. cdac53445d378bb5f116dbaef9026b103caef7f7

[2017-05-11 10:20] #14568 closed

[2017-05-11 10:20] #26442 closed

[2017-05-11 10:21] bpasero commented on #25913
I pushed the "Command Palette..." entry to the editor context menu and leave it up to you guys if you want to remove "Go to implementation".

![image](https://cloud.githubusercontent.com/assets/900690/25944643/56801ace-3644-11e7-909a-0e05aa28e6bb.png)

[2017-05-11 10:32] dbaeumer commented on #26446
@alexandrudima thanks a lot!!

[2017-05-11 10:34] romanresh commented on #21835
@isidorn My original issue #24762 was duplicated on this one. The `protocol` option is ignored if debugging is started via the `vscode.startDebug` command:
[code]

Should I reopen my issue?

[2017-05-11 10:37] HerrVoennchen commented on #25987
sry for the delay. stayed sick at home. I tried to get the parameter in my VM since its reproducable there. I wrote a bash script to get that info.

%U results in 'file:///media/sebastian/VBOXADDITIONS_5.1.22_115126/64Bit/Readme.txt'

I had to use another file since my VM is empty.

still curious why on vscode my home path gets in front of the uri prefix.

[2017-05-11 10:42] burakcan commented on #26438
thank you @joaomoreno

I tried it now and removing / increasing the timeout of the `process.lazyEnv`fixes the problem.

[2017-05-11 10:43] burakcan commented on #26447
https://github.com/Microsoft/vscode/issues/26438

[2017-05-11 10:50] Chesn opened #26450 "Indent error with terminal"
- VSCode Version: Code 1.12.1 (f6868fce3eeb16663840eb82123369dec6077a9b, 2017-05-04T21:26:50.689Z)
- OS Version: Windows_NT ia32 10.0.15063

---

I've got this problem that always some spaces in front of every line. When I change the terminal from powershell to cmd and git-bash, there's still this problem.

![image](https://cloud.githubusercontent.com/assets/20589824/25945700/7d9d8958-367a-11e7-94

[2017-05-11 10:54] darrenkenny commented on #26434
OK, so trying again, I again missed something, after you press space, press it again, and then it will hang, so attempt to enter:

    "^(.*)+  "

(two spaces)

I've just verified that I get this on both Linux and Windows running the same build as you now (after updating).

Thanks for your patience.

[2017-05-11 11:18] alexandrudima commented on #26434
Thanks for getting back to me. It is indeed a case of catastrophic backtracking

https://regex101.com/r/TPwgHp/1

![image](https://cloud.githubusercontent.com/assets/5047891/25946410/474efffa-364b-11e7-9cf1-9fcc5577ea98.png)

http://www.regular-expressions.info/catastrophic.html

Unfortunately, there is nothing we can do at this time on our side. When evaluating a regexp for the find widget, we re

[2017-05-11 11:18] #26434 closed

[2017-05-11 11:18] JoshStrobl commented on #25935
Any ideas @Tyriar?

[2017-05-11 11:28] borekb commented on #26407
Docs PR: https://github.com/Microsoft/vscode-docs/pull/996

[2017-05-11 11:36] Andrew1431 commented on #26398
Thanks @bpasero that version works for me. I'll just use this until this issue is resolved :)

[2017-05-11 11:48] weinand commented on #26348
A fix scheduled for a milestone typically becomes available in the next Insiders (next day) and in the next stable (beginning of the following month).

[2017-05-11 11:56] egamma commented on #26442
@mattbierner Go To Implementation should be added to the `Go` menu in the menubar

![image](https://cloud.githubusercontent.com/assets/172399/25947864/88fa32ca-3651-11e7-97a3-183a15604154.png)

[2017-05-11 11:59] annirocorinna opened #26451 "Research project on OSS motivation - would appreciate help for my master thesis"
**Dear OSS developer,**

I am a student at the Technical University Munich and I am currently collecting data for my master thesis to understand the motivations of OSS developer. I am interested in finding out what encourages you to give others feedback, to ask questions to the community, or even to produce high-quality software. I'd be really happy if you share your experiences with me and partic

[2017-05-11 12:01] alexandrudima commented on #23192
Duplicate of #22008

[2017-05-11 12:01] #23192 closed

[2017-05-11 12:02] bolddp commented on #25030
I have a similar behavior, and a uninstall / install didn't help. When I right-click on a running VS Code instance in the task bar and select "Visual Studio Code", the expected behavior is to get a new instance alongside the existing one. This does not currently work. Before the reinstall, I could not click any folder in the project history either (above "Visual Studio Code") but that works again

[2017-05-11 12:04] bpasero commented on #26398
Unfortunately it looks like the electron update made performance worse (especially around scrolling) on high-DPI monitors.

[2017-05-11 12:09] Li-Mark opened #26452 "When I paste some words from Bing directory, the VSCode will crash."
- VSCode Version: Code 1.12.1 (f6868fce3eeb16663840eb82123369dec6077a9b, 2017-05-04T21:26:50.689Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|beautify|HookyQR|1.0.2|;

---

Steps to Reproduce:

1. Open Bing directory, (UWP, version 2.7.1.0)
2. Search a word.
3. Copy the word and paste the word in VSCode
4. Both of the bing directory and vscode

[2017-05-11 12:10] mattbanks commented on #24227
@bpasero Sorry for the confusion - I pasted your gif from above to show the behavior that I'm still not seeing.

Here's what I'm still seeing: http://mattbanks.me/assets/img/random/code-window-issue.gif

- open vscode and move it anywhere and resize it
- close vscode
- reopen vscode and window is in default size and position in center of the screen

expected behavior: window retains last used sett

[2017-05-11 12:18] darrenkenny commented on #26434
While I do understand what you're saying, that this is something that exists upstream - it doesn't seem to cause Chrome on that web-page to hang - which suggests that it should be possible to at least avoid that part of the problem?

Is there no way to do the evaluation of the RE in a way that would not hang the main UI thread? Which is really where the issue seems to be here?

[2017-05-11 12:34] makruiten opened #26453 "Font size issue, seems to default to 72 dpi instead of 96 dpi"
- VSCode Version: 1.12.1
- OS Version: Fedora 26

Fonts in Visual Studio Code render much smaller than in any other application. In the attached screenshot, Visual Studio Code font size is set to 14 (default setting) and Gedit is set to size 11 (system default). Font hinting seems different too. I'm pretty sure Visual Studio Code uses a screen dpi setting of 72 (web standard) instead of 96 (deskto

[2017-05-11 12:35] frozar opened #26454 "Auto indentation doesn't preserve space"
- VSCode Version: 1.12.1
- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. Copy a struct definition ("Ctrl+C")
2. Paste it inside a function
3. Ask VSCode to indent the structure definition inside the function : Ctrl+K Ctrl+F

As illustrated in the animation, after the indentation, the white spaces between the type and the name of a field is not preserve, and so the alignement of the field names

[2017-05-11 12:37] JulienFerraro commented on #4490
@geddski when you say that your extension doesn't have recording _**yet**_, does this mean that it'll get recording in a (near ?) future ?

[2017-05-11 12:47] levicot commented on #23965
Same problem here after the latest VS code update (1.12.1) on xubuntu; same solution ("protocol": "legacy" to the node launch configuration object).

[2017-05-11 12:50] isidorn commented on #2513
@gulshan those buttons are from ancient times of Monaco on azure websites. That product is an ancestor to VSCode, you can google around to search for more data.

[2017-05-11 12:52] isidorn commented on #24762
The issue is that startSession is not called when an object is passed to startDebug action.
More details https://github.com/Microsoft/vscode/issues/21835

[2017-05-11 12:54] jrieken commented on #23978
That is ugly... The problem is that we run go-to-definition when ctrl/cmd hovering..

[2017-05-11 13:02] rv-rsouza commented on #26228
@bpasero This problem does not occur when running with extensions disabled. I'll have to try enabling one at a time and see what is the culprit.

[2017-05-11 13:06] InfiniSuite commented on #26054
The crashes generally occur when I'm away from my machine. However, after reviewing the crash and diag files it appears that other apps have caused this issue as well. Which points to some common system related process or common app. So, I'm going to close this thread for the moment. If I can track it back to vscode I'll reopen.  Thanks!

[2017-05-11 13:06] #26054 closed

[2017-05-11 13:08] jrieken commented on #26443
ops, nice find

[2017-05-11 13:23] SuperV1234 opened #26455 "Case-preserving find and replace"
It is often useful to perform a find&replace preserving the case of the matched occurrences. Example:

[code]

Let's say I want to rename "foo" to "bar". I currently have to perform 3 different find&replaces:

* "FOO" -> "BAR"

* "Foo" -> "Bar"

* "foo" -> "bar"

Ideally, I would like to perform a single case-preserving find&replace that performs all the transformations written above.

Example:

*

[2017-05-11 13:24] dfblackburn commented on #23687
I have also seen this issue on macOS a while ago, so I don't think it is limited to VMWare Fusion (though they could have separate causes, as you mentioned).
I will let you know if I get some more information.
I have not seen it again since my original post.

[2017-05-11 13:26] aeschli commented on #26407
Perfect, thanks a lot!

[2017-05-11 13:30] egamma commented on #26452
@Li-Mark can you please explain what you mean by 'Open Bing directory', how can we reproduce it?
Can you reproduce the crash in other ways that do not require the Bing directory?

[2017-05-11 13:33] bpasero commented on #26228
@rv-rsouza awesome

[2017-05-11 13:35] bpasero commented on #24227
@mattbanks can we for this exercise not define the `window.newWindowDimensions` setting at all, it should not have an impact on what you are seeing. This setting is only used for any window that opens after the initial window is opened and it seems what you are seeing is that the initial window is not retaining its position?

Can you try to reproduce this from our current insiders build, I pushed

[2017-05-11 13:40] SuperV1234 commented on #26455
Just noticed this is a duplicate of #9798, sorry!

[2017-05-11 13:40] #26455 closed

[2017-05-11 13:41] mattbanks commented on #24227
@bpasero Correct - the issue I'm seeing is that the initial window is only opening in the default positon and not retaining any previously used position or size settings.

Downloading the Insiders build now - will report back shortly!

[2017-05-11 13:45] mattbanks commented on #24227
@bpasero confirmed the Insiders build works as expected! 👍  😄

I tested it with multiple monitors or just on my laptop with no external display connected, resized the window a few times and closed and re-opened the app. The initial window position was properly retained.

[2017-05-11 13:48] aeschli commented on #25877
This happens when there are connectivity issues. I tested that the example works: I can't reproduce the error.

[2017-05-11 13:48] #25877 closed

[2017-05-11 13:52] user3323 commented on #26214
@egamma
so, what about rule for simple links color change?

[2017-05-11 13:53] dannystaple opened #26456 "Multiline copy paste from terminal is awful"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:58:12.954Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vagrant|bbenoist|0.4.0|
|file-templates|brpaz|1.1.0|
|githistory|donjayamanne|0.2.0|
|python|donjayamanne|0.6.0|
|gitlens|eamodio|2.12.2|
|tortoise-svn|fantasytyx|0.1.1|
|ansible|haaaad|0.2.5|
|PowerShell|

[2017-05-11 13:53] sandy081 opened #26457 "Suggest widget is not placed close to the cursor"
While coding today, I see that suggest widget is placed strangely

![image](https://cloud.githubusercontent.com/assets/10746682/25952798/efcbb7d4-3661-11e7-8b1b-b21141679b79.png)

[2017-05-11 13:54] BillDenton opened #26458 "Global search losses track of current match after editing a file"
- VSCode Version: Code 1.12.1 (f6868fce3eeb16663840eb82123369dec6077a9b, 2017-05-04T21:26:50.689Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|language-x86-64-assembly|13xforever|2.2.9|
|rainbow-brackets|2gua|0.0.6|
|read-only-indicator|alefragnani|0.6.0|
|alignment|annsk|0.3.0|
|Doxygen|bbenoist|1.0.0|
|vscode-astyle|chiehyu|0.6.2|
|python|donja

[2017-05-11 13:59] bgelens commented on #1614
Although not being ment as such as a primary use case (I think), VS Code will be used in Windows/Linux System administration more and more as it starts to replace tools like ISE.

In my case I'm editing scripts in one code instance which is not elevated and want to elevate another one to work with Desired state configuration which requires elevation... This is a hassle right now and off course it'

[2017-05-11 14:00] cvharris commented on #3238
This doesn't seem to be working still. Here's my launch.json:
[code]

When I run `nodemon --inspect index.js` the debugger attaches but on restart of the server it detaches and I have to start the VSCode debugger all over again.

[2017-05-11 14:03] mintyPT opened #26459 "Cannot install Prettier - ESLint"
- VSCode Version: 1.12.1
- OS Version: macOS Sierra 10.12.4 (16E195)

Steps to Reproduce:

1. Search for the extension "Prettier - ESLint"
2. Click install

Instead of installing, it does nothing. The buttons goes from install to installing and then to install again. Is it possible to see a log of errors?

Extension: https://marketplace.visualstudio.com/items?itemName=RobinMalfait.prettier-eslint-

[2017-05-11 14:05] weinand commented on #3238
@cvharris you are missing a `"restart": "true"` attribute.

[2017-05-11 14:06] aeschli commented on #25582
I didn't find a way to only mix-blend the text content or to exclude the color ticks. I also figured that even if we could exclude decorators from it, it's not clear that this is the expected behavior for all before/after decorators that can also contain text.
I suggest we leave things as they are and live with the strangeness.

[2017-05-11 14:06] #25582 closed

[2017-05-11 14:09] aeschli commented on #17949
We added text colors in https://github.com/Microsoft/vscode/issues/26298 and once the web view adopts these each theme can tune the link colors.

[2017-05-11 14:16] egamma commented on #26459
@mintyPT I cannot reproduce this, it takes a while to install it is a 20MB extension and takes a while to download. Are you on a slow internet connection?

[2017-05-11 14:19] jaibeales opened #26460 "Go To Implementation for React Components in JSX files no longer working"
- VSCode Version: 1.12.1
- OS Version: Windows 10

For JSX files 'Go To Implementation' no longer works from a React component in markup.  'Occasionally Go To Type' works. This has happened for everyone in my team, seemingly after a recent update.

Steps to Reproduce:

1. Double click on the name of a React component (eg 'Button' for &lt;Button >).
2. Use F12 or context menu for Go To Implementati

[2017-05-11 14:19] egamma commented on #26454
@frozar This is an issue with the C/C++ formatter contributed some extension. Please file the issue against the corresponding extension.

[2017-05-11 14:19] #26454 closed

[2017-05-11 14:21] richardkazuomiller commented on #23833
Strange. I've had issues particularly with using `[` and `]` keys to switch tabs on some machines and not others. Today I rebooted my computer (I probably updated VSCode in the process) and started having problems in 1.12.1 that I didn't have before. `shift+cmd+]` and `shift+cmd+[` don't work but `shift+cmd+@` and `shift+cmd+[` do what the expected shortcuts are supposed to, respectively just as t

[2017-05-11 14:23] egamma opened #26461 "'Go to Implementation' is missing from the `Go` menu"
Go To Implementation should be added to the `Go` menu in the menubar

![image](https://cloud.githubusercontent.com/assets/172399/25947864/88fa32ca-3651-11e7-97a3-183a15604154.png)

[2017-05-11 14:23] lian860911 commented on #26440
I think it's better you re-post your issue using English, and add some screenshots.
I hope I can translate ...
<hr>
### Title: Search in Files stuck, no results found after long time, not observed always.

Steps to Reproduce:

1.Open vscode
2.Open a project folder
3.Search from "Search in Files"
4.Observed randomly, there are results but progress bar keep showing..

It's strange you said there is

[2017-05-11 14:25] alexandrudima commented on #26434
We could create a thread using a native C++ node module. In the separate thread we could create a new JavaScript VM. Then we could send over to that thread all the buffer and evaluate the regex in that thread. And then we'd do this on each keypress in the find input to keep feature parity with the current implementation. If the thread is unresponsive we'd know we've run into this case.

Alternativ

[2017-05-11 14:26] richardkazuomiller commented on #23833
To clarify, if I type `@`, `[`, or `]` in an *editor*, they work. It's just keyboard shortcuts that are wonky.

[2017-05-11 14:27] Zeph33 commented on #26450
Same problem with [MSys2](http://www.msys2.org/)

- VSCode Version: Code 1.12.1 (f6868fce3eeb16663840eb82123369dec6077a9b, 2017-05-04T21:26:50.689Z)
- OS Version: Windows_NT ia32 10.0.15063

[2017-05-11 14:27] egamma commented on #26440
@lian860911 thanks for the translation!

Cannot reproduce the issue given the above steps, please provide more detailed steps and describe your setup so that we can reproduce the issue.

[2017-05-11 14:28] eurolife opened #26462 "Running foundation CLI in the integrated terminal"
I am getting a strange behavior when running 'foundation watch' and then 'foundation build' using the integrated terminal and foundation-cli. After running 'foundation watch' and then hitting Ctrl + C to quit the watch task, I then try to run 'foundation build' but instead of running that task, it keeps asking me 'Terminate batch job (y/n)?' The only way I can get it to work is if I quit VS code a

[2017-05-11 14:28] egamma commented on #26327
@efikarl closing the issue for new, please reopen the issue with additional information.

[2017-05-11 14:28] #26327 closed

[2017-05-11 14:29] jhonrocha commented on #4891
This problem is still not solved? It is the biggest miss of Code right now ... Please, take it seriously for a moment. I never lost an afternoon replacing bad chars due a miss while saving a file on Sublime ...

[2017-05-11 14:29] egamma commented on #26341
We cannot act on this issue, please reopen the issue and provide more information.

[2017-05-11 14:29] #26341 closed

[2017-05-11 14:30] egamma commented on #26392
Cannot act on this issue given the current information. Closing the issue, please reopen when you provide additional information.

[2017-05-11 14:30] #26392 closed

[2017-05-11 14:31] mintyPT commented on #26459
Nop, it's a fast connection.

Is there a way for me to check what vscode is doing on the background?

[2017-05-11 14:31] alexandrudima commented on #23833
@richardkazuomiller

Let's check you have something similar to the OP:
* What physical keyboard are you working on? Is it an ANSI, ISO or JIS keyboard? I can try finding some resources online to help you identify it if you don't know what I'm talking about.
* Are you using the laptop keyboard or a keyboard attached to the laptop. If you're using an external keyboard, are the built-in keyboard and

[2017-05-11 14:33] hahalixiaojing opened #26463 "java lombok?"
- VSCode Version: Code 1.12.1 (f6868fce3eeb16663840eb82123369dec6077a9b, 2017-05-04T21:26:50.689Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|javadebugger|donjayamanne|0.1.0|
|java-debug|DSnake|0.0.2|
|net-core-project-manager|ksubedi|0.3.6|
|csharp|ms-vscode|1.9.0|
|PowerShell|ms-vscode|1.0.0|
|java|redhat|0.3.0|
|vscode-icons|robertohuertasm|7

[2017-05-11 14:38] richardkazuomiller commented on #23833
I'm using a JIS keyboard on a Mac Mini, specifically [this keyboard](https://www.logicool.co.jp/ja-jp/product/multi-device-keyboard-k380). As far as I know it's configured correctly, haven't had any other problems with it until today. `Inspect Key mappings` says:
[code]

[2017-05-11 14:41] landonepps commented on #23833
Does it work if you use the mac's default kotoeri IME instead of the google one?

[2017-05-11 14:42] richardkazuomiller commented on #23833
Same result for all input methods (Google Alphanumeric, Google Hiragana, Kotoeri Romaji, Kotoeri Hiragana).

[2017-05-11 14:42] mikemaggire opened #26464 "Running the contributed command:'markdown.showPreviewToSide' failed."
- VSCode Version: Code 1.12.1 (f6868fce3eeb16663840eb82123369dec6077a9b, 2017-05-04T21:26:50.689Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions: none
---

**Running the contributed command:'markdown.showPreviewToSide' failed.**

Steps to Reproduce:

1. Install visual studio code to a fresh new W10 pro PC
2. reboot
3. open vscode
4. open a .md file
5. ask for the preview with `Ctrl+Shift+V

[2017-05-11 14:44] richardkazuomiller commented on #23833
I also added US in OSX preferences and tried that for good measure, same result of those keys being switched.

[2017-05-11 14:44] bpasero commented on #24227
@mattbanks great to hear that, but I am still a bit puzzled. My fix (for https://github.com/Microsoft/vscode/issues/26353) was fixing an issue where the position and size of the window was not restored if you close the window (click the x in the title) and then quit the app and then restart. I assume you are pressing Cmd+Q to quit, is that true?

[2017-05-11 14:47] #24435 closed

[2017-05-11 14:47] mattbanks commented on #24227
@bpasero Yup, I Cmd+Q to quit the app. I typically Cmd-W all open windows before quitting, if that makes a difference in debugging it.

[2017-05-11 14:47] joaomoreno commented on #26438
Increased the timeout to 10 seconds in e5e1098fbf

[2017-05-11 14:47] #26438 closed

[2017-05-11 14:47] lian860911 commented on #26424
I didn't do any commits on Github but I hope I can help.

Impact files: vscode/i18n/chs/src/vs/workbench/parts/files/browser/files.contribution.i18n.json

"autoSaveDelay": "控制延迟(以毫秒为单位)，在该延迟后将自动保存更新后的文件。仅在 \"files.autoSave'\" 设置为“{0}”时适用。",

[2017-05-11 14:47] joaomoreno commented on #24435
Increased the timeout to 10s.

[2017-05-11 14:48] richardkazuomiller commented on #23833
[keymappings.txt](https://github.com/Microsoft/vscode/files/993384/keymappings.txt)

Sorry, didn't attach the file

[2017-05-11 14:50] richardkazuomiller commented on #23833
My current workaround is doing this:

[code]

[2017-05-11 14:56] MehdiRaash commented on #23976
I just installed git, problem solved!

[2017-05-11 14:58] Wosi opened #26465 "Go to definition doesn't work when a language server returns a text range that includes the current cursor position"
In the latest version of VSCode I see a strange behaviour occasionally when attempting to go to the definition of the identifier at the current cursor position.

Based on the language server protocol a go-to-definition-request can be replied with a location or a range. If the current cursor position is inside the returned range then VSCode displays an error message saying "No definition found for

[2017-05-11 14:59] besquared commented on #11096
I started experiencing this as well after installing the recent "Angular Language Service" extension. Removed it for now and things seem to be back to normal.

[2017-05-11 14:59] egamma commented on #26463
This is a feature request for the vscode-java extension, please file the feature request against this repository and describe how you would like to see it supported by the extension.

[2017-05-11 14:59] #26463 closed

[2017-05-11 14:59] bad-ed opened #26466 "Types info for 'Karma (Jasmine)' available only if 'karma.conf.js' is opened"
I have a JavaScript project without explicit *jsconfig.json* file. Type info for `describe`, `it`, etc.. becomes available only if I open *karma.conf.js* and then call 'Javascript: Reload Project' command. Closing *karma.conf.js* and repeated call of 'Reload Project' renders types unavailable. I've noticed that type info for native Node types (e.g. Buffer) are also loaded only after opening *karma

[2017-05-11 15:02] ypresto commented on #16157
I tried insider version:

![image](https://cloud.githubusercontent.com/assets/400558/25956236/24c1a9c8-36a6-11e7-8af5-2bb0dd2afd90.png)

Wow! It is working like a charm..!! Thank you for fix!

[2017-05-11 15:04] michelkaporin commented on #26026
Please verify @dbaeumer 👼

[2017-05-11 15:07] jamiedawsonyoung commented on #2513
@stevencl When I looked at the [debug section](https://code.visualstudio.com/docs/editor/debugging) on the website I can see what looks like a 'grip / grabber' to the left of the controls. It would suggest that this panel has been floating in the past? Was there a reason it's now fixed?

It doesn't look (from my fairly light experience of VSC) that we have many floating windows that users can move

[2017-05-11 15:10] isidorn commented on #2513
Hey @jamiedawsonyoung to debug something have the following file and press `F5`
The screenshot in this issue is outdated, currently we allow the debug toolbar to be dragged around but only horizontally. We are thinking if we should also allow vertical dragging with some sugar on top - like the toolbar beinging docked to top and it takes extra effort to dock it out.

[code]

[2017-05-11 15:12] egamma commented on #26462
Can you please provide the steps for how to reproduce your setup, what do we have to install?
Can you illustrate the issue with an animated gif.

[2017-05-11 15:22] smlombardi opened #26467 "Theming: allow list.focusForeground"
- VSCode Version: Code - Insiders 1.13.0-insider (5057c95e6b5a43ddecee0d6f663764b7c80f6c95, 2017-05-11T06:05:28.620Z)
- OS Version: Darwin x64 16.5.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|ng-template|Angular|0.1.3|
|code-settings-sync|Shan|2.7.0|
|sort-lines|Tyriar|1.2.0|
|Bookmarks|alefragnani|0.14.1|
|project-manager|alefragnani|0.16.0|
|path-intellisense|christian-kohler|1.4.

[2017-05-11 15:24] jrieken commented on #26465
Nice find.

[2017-05-11 15:27] rgilling commented on #3144
I hit this issue today. I had a config almost identical to Paul Stovell above. But it didn't work even with protocol: inspector.

I found this article: https://saravanaj.github.io/2017/02/05/debugging-mocha-tests-written-in-typescript-with-visual-studio-code/ which indicated to run it against the js files instead of through ts-node. So my task becomes:

`{
      "name": "Debug mocha",
      "type"

[2017-05-11 15:28] Li-Mark commented on #26452
@egamma I translated some words with Microsoft Bing Dictionary (UWP, Chinese to English) . When I copied the result to vscode, the dictionary and vscode crashed. I got some error events from the windows event viewer.
---------------------------------------
The program Code.exe version 1.12.1.0 stopped interacting with Windows and was closed. To see if more information about the problem is availabl

[2017-05-11 15:29] eurolife commented on #26462
You need to have nodejs installed and then install foundation cli by following the steps here: https://github.com/zurb/foundation-cli

Here is a video (hope it works, have not done this before).
![vscode](https://cloud.githubusercontent.com/assets/8472119/25957766/f609ef9e-3666-11e7-8b64-a29cf1dce1fc.gif)

[2017-05-11 15:30] egamma opened #26468 "Error when closing the settings editor"
This happened to me on insiders.
I had the settings editor open and then I closed all editors.

![image](https://cloud.githubusercontent.com/assets/172399/25957760/557000ce-366f-11e7-8ab2-a6f8812e0d0e.png)

[2017-05-11 15:30] zhengxiaoyao0716 opened #26469 "Terminal crash after some appication commands"
`Appication commands` means some commands from user application, not shell command.
For example:
- `make` and `mingw32-make` from MinGW
- `ipython` from Python's Ipython
- `dotnet` command for .net Framework cli kit
- `godoc` command for Golang doc.
- `caddy` from GoLang Caddy Server

- VSCode Version: 1.12.1
- OS Version: Win10 Education

While a strange problem is, each the first times after the

[2017-05-11 15:40] Li-Mark commented on #26452
@egamma I translated some words with Microsoft Bing Dictionary (UWP, Chinese to English) . When I copied the result to vscode, the dictionary and vscode crashed. But two hours later, the issue cannot be reproduced. I'm sorry to have troubled you.

I got some error events from the windows event viewer after the vscode crashed.
***
Event 2484, Apps:  5/11/2017 8:02:41 PM

Package MSNChina.Win10_2.7.

[2017-05-11 15:40] weinand commented on #3144
@rgilling I'm not sure that mocha understands a glob pattern argument:
[code]
I just specify the folder with the tests (generated JavaScript):
[code]

[2017-05-11 15:43] prokher commented on #15684
+1, waiting for this feature since the day one...

[2017-05-11 15:52] DollarAkshay commented on #3422
@acls What about python ?

[2017-05-11 15:54] rwatts3 opened #26470 "Where to place generated theme.json file"
Greetings,

Where would I place the generated theme.json file and how do I instruct vscode to use my custom theme .

[2017-05-11 15:58] EthanRutherford opened #26471 "SCM diffs no longer open in preview mode"
- VSCode Version: Code 1.12.1 (f6868fce3eeb16663840eb82123369dec6077a9b, 2017-05-04T21:26:50.689Z)
- OS Version: Windows_NT ia32 10.0.10586
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-eslint|dbaeumer|1.2.8|
|contextualduplicate|lafe|0.2.0|
|csharp|ms-vscode|1.9.0|
|seti-icons|qinjia|0.1.3|;

---

Steps to Reproduce:

1. Make changes to a source controlled file (i.e. git)
2. Ope

[2017-05-11 16:02] sandy081 commented on #26468
Nothing has changed in Settings from last couple of weeks. Will investigate.

[2017-05-11 16:04] pcasalinho commented on #26464
From my experience, network files (or symlinked files to network) do not work!

[2017-05-11 16:05] gargantuan opened #26472 "Imports using path aliases throwing error for"
- VSCode Version: 1.12.1 (1.12.1)
- OS Version: macOs 10.12.4

Steps to Reproduce:

1. Setup path alias in tsconfig
2. Import a file using path alias in a `.tsx` file
3. Get a `[ts] cannot find module...' error`

Works fine in a .ts file. Error is not present at compile time.

.tsconfig
[code]

someFile.tsx
[code]

someFile.ts
[code]

[2017-05-11 16:06] rgilling commented on #3144
@weinand - glob works okay with mocha, I'm trying to add some consistency between the angular 2 code and Node, which is why I'm migrating server code to Typescript. So now my units tests are in the same directories as the regular code, which is a similar layout to angular-cli projects.

[2017-05-11 16:10] costarec opened #26473 "Ctrl Shift S should be save all (default), not save as"
- VSCode Version: Code 1.12.1 (f6868fce3eeb16663840eb82123369dec6077a9b, 2017-05-04T21:26:50.689Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|csharp|ms-vscode|0.3.7|
|debugger-for-chrome|msjsdiag|0.4.8|
|debugger-for-edge|msjsdiag|0.4.1|;

---

Steps to Reproduce:

1. change text in editor (arbitrary file/files)
2. Ctrl+Shift+S (should NOT ope

[2017-05-11 16:12] mikemaggire commented on #26464
Effectively it was that. Moving the .md file to the drive of my PC works.
Thank you
regards

[2017-05-11 16:12] #26464 closed

[2017-05-11 16:26] acls commented on #3422
@DollarAkshay That issue is specifically for Python. The default should be changed to cater to indentation-based languages like Python. So Python shouldn't need language-aware folding, except for maybe multiline docstrings or other things not based on indentation.

[2017-05-11 16:28] jchannon opened #26474 "Missing wordHighlightForeground"
- VSCode Version: 1.12.1
- OS Version: OSX 10.11.6

Steps to Reproduce:

1. In my case, open a *.cs (csharp) file
2. Place cursor on word that is repeated
3. I think tmTheme sets a value for this, in my case I'm not sure its implemented, hard to tell what keys to change if possible. Open settings and set `wordHighlightBackground` to white for example.  My default font colour is white so now it doe

[2017-05-11 16:39] DollarAkshay commented on #3422
@acls No it does, because the default indentation based folding does not work as expected. It collapses the whitespaces underneath too.

[2017-05-11 16:39] acls commented on #3422
@DollarAkshay I already made a PR for that issue that fixes the folding issues for Python.

[2017-05-11 16:41] geddski commented on #4490
@JulienFerraro I'm not planning on adding recording but would happily merge a PR with it!

[2017-05-11 16:48] c4milo commented on #22558
I was under the wrong assumption regarding POSIX's new lines. This works as expected. Thank you!

[2017-05-11 16:49] acls commented on #3422
@DollarAkshay That PR, #26258, should become the default. And anything specific to C-style languages(not indention-based) should be part of this issue.

[2017-05-11 16:52] nuno1895 commented on #396
Agree with the Comment by @dariusrosendahl. I am a newbie coder and I have to reference older project to write new ones. Hopefully, that will change soon but in sublime I can easily have three to four project folders and compare have them open in the same session
<img width="250" alt="screen shot 2017-05-11 at 12 48 57 pm" src="https://cloud.githubusercontent.com/assets/21970203/25961528/9b070cbc-

[2017-05-11 17:04] luchillo17 commented on #24128
@alexandrudima did `code --disable-extensions` and it worked, so i guess the isue has to do with one of the wide range of extensions i have enabled?

[2017-05-11 17:09] ramya-rao-a commented on #26422
- Firstly, javascript is not one of the languages directly supported by the emmet library. To bring emmet expansion features in a javascript file (and other non supported languages by emmet), we introduced the feature where you can map any language to one of the supported languages. For example:
[code]
The above would then enable all html snippets and abbreviations to be used in a javascript file.

[2017-05-11 17:09] #26422 closed

[2017-05-11 17:11] acls commented on #14346
This would be fixed by PR #26258

[2017-05-11 17:20] alexandrudima commented on #23833
@richardkazuomiller Thank you for getting back to us.

I think this might be an issue within our C++ code that reads the keyboard layout from the OSX - https://github.com/Microsoft/node-native-keymap

The C++ module works by reading the current keyboard layout, and then proceeds to use OSX APIs to convert all scan code + modifier combinations to produced characters. In this case (by looking at the

[2017-05-11 17:25] ratishphilip commented on #26422
@ramya-rao-a Thanks a lot for the detailed explanation. That clarifies a lot.

[2017-05-11 17:28] parwat08 opened #26475 "Hide the path of the current directory in terminal"
- VSCode Version: 1.12.1
- OS Version: Ubuntu 16.04.2 LTS

Steps to Reproduce:

1.
2.
![screenshot from 2017-05-11 23 05 41](https://cloud.githubusercontent.com/assets/19905275/25962886/1d4e21b4-369f-11e7-9c2f-02a813764279.png)

instead of pk@pk and full pwd path it would be great to just put `$ bash:` as done in mac.
If the pwd is nested deep inside then, the path will be taking more space of the

[2017-05-11 17:28] ratishphilip commented on #26422
@ramya-rao-a
I tried using the VSCode's user snippet feature. I added the following snippet to javascript.json file

[code]

But now when I type **fnerr** the snippet appears at the bottom of the Intellisense list like this
![emmet](https://cloud.githubusercontent.com/assets/7021835/25962950/7b012f56-3634-11e7-908f-1fa2053a4a2c.png)

This makes it very cumbersome having to type the snippet shortcu

[2017-05-11 17:28] pr-yemibedu commented on #396
Hello,
 I agree with the points made as you can see my previous posts favor this feature. There was an exact statement I was commenting about by martinjco :

What nuno1895 shows is how I use Atom today when I need to work on multiple folders but a simple main focus project. I do in fact use both as well as VS2015, gedit, vim, notepad, and notepad++ for active development. There are strengths in ea

[2017-05-11 17:29] gregvanl commented on #26443
Fix with https://github.com/Microsoft/vscode-docs/commit/e6373790bb7db4c9b35e61ca44df67b1f6c9c6f9

[2017-05-11 17:29] #26443 closed

[2017-05-11 17:29] alexandrudima commented on #24128
@luchillo17

I believe an extension is defining a keybinding for that key combination.

Finding keybindings contributed by extensions is not straight-forward, but it is also not very difficult. There are two ways to find them:
* either by opening Preferences > Keyboard Shortcuts and looking for the Source column.
* or by opening the `keybindings.json` file -- where they always appear at the bottom

[2017-05-11 17:31] ratishphilip commented on #26422
Oh I found it out
"editor.snippetSuggestions": "top",

fixes it.

[2017-05-11 17:31] JohannesRudolph commented on #17653
Just want to chime in here, I'd greatly appreciate if this gets fixed. It would also align VSCode with the behavior of Visual Studio (if that's of any interest to the team).

[2017-05-11 17:35] kballard commented on #24227
I just tested the insiders build and I'm seeing really weird behavior. For context, I've removed the `window.newWindowDimensions` setting entirely. Here's what I'm seeing:

1. I launch the app and open a new window, it starts out small and centered.
2. I move and resize it.
3. I close it.
4. I open a new window. **Small and centered again.**
5. I move and resize it.
6. I close it.
7. I quit.
8. I

[2017-05-11 17:37] nawartamawi opened #26476 "settings cant be changed"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T14:00:34.044Z)
- OS Version: Darwin x64 16.5.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-eslint|dbaeumer|1.2.8|
|githistory|donjayamanne|0.2.0|
|file-icons|file-icons|1.0.3|
|debugger-for-chrome|msjsdiag|3.1.1|
|indent-rainbow|oderwat|0.6.1|
|Ruby|rebornix|0.12.1|;

---

Steps to Reproduce:

1

[2017-05-11 17:38] ramya-rao-a commented on #26422
@ratishphilip great, Happy Coding!

[2017-05-11 17:40] alexandrudima commented on #17653
The problem here is that there are two strong opinions:
* some folks really hate it when find in selection is seeded from the editor selection (i.e. Visual Studio behavior)
* some folks really hate it when find in selection is not seeded from the editor selection (i.e. the current behavior)

The funny story here is that we had the Visual Studio behavior for about 1 year before we flipped the switc

[2017-05-11 17:41] GoodGuyNick commented on #24227
@bpasero I've tested on a latest LTS releases of Ubuntu MATE, KDE neon, Linux Mint Cinnamon and there are no issues. But on a Linux Mint Xfce was the same problem. I've not tested other DE or WM so for now problem only occurs when using vscode with Xfce.

[2017-05-11 17:48] BenConAu opened #26477 "Catastrophic failure opening certain folders"
- VSCode Version: 1.13.0-insider
- OS Version: Windows 10 RS2

Steps to Reproduce:

1. Run GVFS
2. Open a folder in my repo somewhere

Sometimes I get a "catastrophic error" dialog with the name of the folder appearing.

[2017-05-11 17:49] bgoscinski commented on #26115
@alexandrudima
I played a bit with settings and found out that setting `"window.zoomLevel": 0` **and restarting the editor** stops this from happening. Setting `"editor.disableTranslate3d": true` or launching with `--disable-gpu` didn't change anything. Thanks for pointing me at right direction to found out a workaround :+1:

Can I somehow reduce the size of sidebar, status bar and tabs without to

[2017-05-11 17:53] jamiedawsonyoung commented on #2513
Thanks @isidorn Got it working :-)

[2017-05-11 17:57] Graaphic commented on #26053
I've resolved my issue - the only reason I downloaded VSCode was for an HTML, CSS & JavaScript course on EDX.org, so I didn't know anything about Git. Apparently you've got to have a git repository in order to run it at all? I'm still pretty confused on it.

Either way, after downloading a few Git programs (GitCMD, GitHub, Git Shell), restructuring my working files, and uploading them all to a rep

[2017-05-11 17:58] JohannesRudolph commented on #17653
Sounds like a perfect plan that would make everyone happy :-)

[2017-05-11 18:03] mduey commented on #396
One point that may not have been emphasized enough is the ability to quickly "flip" between folder sets (projects).  It's called "Quick Switch Project" in Sublime.  When you click that menu item, you get a pop-up with a list of all your projects, when you select one of the projects, the editor displays the folder(s) and all your open files as you last left them.
For example, if I was working in Pr

[2017-05-11 18:07] srealm opened #26478 "IDE crashing on response redirects"
- VSCode Version: 1.12.1
- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. Edit controller function
2. Type return redirect()->back();
3. As I am editing an existing controller and adding a response it crashes while typing the response redirect.

[2017-05-11 18:15] jkotalik commented on #25934
Experiencing the same flickering issue on my Surface Book. Most times that I scroll, it causes the screen to flicker and reload. Just did the same thing with editor.disableTranslate3d, and it seemed to work. Just adding this to show it is not a pure mac issue.

[2017-05-11 18:23] mjbvz commented on #25740
Ok, here's an updated schema proposal:

[code]

[2017-05-11 18:24] Tyriar commented on #26450
Duplicate https://github.com/Microsoft/vscode/issues/19665

[2017-05-11 18:24] #26450 closed

[2017-05-11 18:26] SkyRiderMike opened #26479 "Failed for adding C++ headers' path using Bash on windows 10"
- VSCode Version:  1.12
- OS Version:  windows 10 Latest Update

Steps to Reproduce:

1.  set bash Ubuntu on win10 asthe default command window for visual code
2.  add include path for c++ headers on WSL, such as : "C:/Users/user_name/AppData/Local/lxss/rootfs/usr/include/c++/5 " in c_cpp_properties.jason

And this won't work...visual code still can't find these c++ header for linux sub-system.

[2017-05-11 18:28] todddcls opened #26480 "Add setting to turn off the debugger peek UI"
Steps to Reproduce:

1. Run VSC debugger (I'm using it for nodejs)
2. Hit an unhandled exception that stops the debugger in some deep call stack.

Result:
Gigantic red call stack that is getting in the way of seeing the offending code.  It doesn't really hide the code, but it's a real nuisance.  I need to see the code not the callstack for a second time (I can already see the callstack on the left

[2017-05-11 18:31] luchillo17 commented on #24128
Oh i found it, take a look:
![image](https://cloud.githubusercontent.com/assets/9698639/25965574/02a74094-364e-11e7-9ff2-abaf5d431db1.png)

I've never used this command in that plugin, so i could just unbind by deleting the line?

[2017-05-11 18:31] #26409 closed

[2017-05-11 18:33] rebornix commented on #8843
@tbfleming from tomorrow's insider, you should be the shortcut in the hover text and the command will be called `toggleFindInSelection`

[2017-05-11 18:45] sean-mcmanus commented on #26479
This is a cpptools issue: https://github.com/Microsoft/vscode-cpptools/issues

[2017-05-11 18:51] jimkay001 commented on #26405
Here is what it looks like when the files are on a FileTable:

![vscode_explorer_with_filetable](https://cloud.githubusercontent.com/assets/1075545/25966436/fa2401fe-3658-11e7-8c61-0d90cc31a47e.png)

For comparison, here is the normal behavior if the files are in a standard directory:

![vscode_explorer_with_regular_direcotry](https://cloud.githubusercontent.com/assets/1075545/25966524/4554359a-36

[2017-05-11 18:55] dinhani opened #26481 "Add a file picker that reveals file in explorer"
- VSCode Version: 1.12.1
- OS Version: Windows 10

I would like to have a feature similar to "Go to File..." that instead of opening the file in the editor, it selects and expands the folder in the project tree view.

This would be useful in workspaces when you have to constantly changes folders and they are not close of each other.

![goto](https://cloud.githubusercontent.com/assets/1139781/25966

[2017-05-11 18:56] awebdeveloper commented on #26227
@joaomoreno hopefully this will land in next version of vscode

[2017-05-11 19:00] delmarwichnieski opened #26482 "Keyboard layout Portuguese (Brazil) win10 pro Toggle Line Comment (ctrl + unknown) and Split Editor (ctrl+oem_102)"
I have problem with Toggle Line Comment when trying to switch from Ctrl +; To Ctrl + / getting ctrl + unknown.
And with Split Editor when trying to switch from Ctrl + ] to Ctrl + \ getting ctrl+oem_102

Windows 10 Pro
Versão 1703
Build SO 15063.296
x64

Visual Studio Code
Version 1.12.1
Date 2017-05-04T21:26:50:689Z
Shell 1.6.6
renderer 56.0.2924.87
Node 7.4.0

Keyboard Pt-Br
ABNT2

https://jsfidd

[2017-05-11 19:10] Tyriar commented on #26456
I agree, this is actually a stretch goal for the May iteration. It's the next thing I want to work on for the terminal 😃

Duplicate https://github.com/Microsoft/vscode/issues/9958

[2017-05-11 19:10] #26456 closed

[2017-05-11 19:13] Tyriar commented on #26453
@makruiten how does it compare to the fonts in Chrome of the same `font-size`? We're built on Electron/Chromium so we rely on them to deal with font sizes.