[2016-12-21 12:38] cybercatalyst opened #17669 "Middleclick in Ubuntu Unity Launcher does not open a new window"
- VSCode Version: 1.8.1
- OS Version: Ubuntu 16.10

Steps to Reproduce:

1. Middle-click on the Unity Launcher Icon.
2. The load mouse indicator appears and disappears again. Then nothing happens.

This is breaking Ubuntus default behaviour of opening a new instance of the application upon a middle click. A left click brings the running app instance to the front or launches a new one (works) and a

[2016-12-21 12:51] adelphes opened #17670 "Set editor readonly for files that are readonly on disk"
A small gripe, but one which gets me every time.
I use vscode with some auto-generated source files which are marked on disk as read-only. Because the auto-generated files appear similar to the normal source files in my project, I start to edit them and only discover when I try to save that I'm in the wrong file.

As well as #17621, it would be really useful to have a configurable editor option th

[2016-12-21 12:54] jrieken commented on #16988
*editor* - insert text, set selection, set options, add decoration
_commands_ - register command, menu contributions, invoke another command
_languages_ - hover, errors, suggest
_window_ - terminal, status bar, quick pick

[2016-12-21 12:55] x3rAx commented on #4885
In case someone else stumbles over this:

The command `workbench.files.action.focusWorkingFiles` has been removed. You could use `workbench.files.action.focusOpenEditorsView` instead.

These are my bindings:
[code]

Many thanks @SetTrend for pointing me to the right direction!

[2016-12-21 13:03] altern8tif opened #17671 "Git Clone: Default clone into /tmp folder"
Feature suggestion:  To default git clone into the `/tmp` folder, or to at least allow settings for a default folder...

I typically use this to dig deeper into Github repos on Atom/VS Code, rather than browsing through their web interface.  So setting up `git clone` like this saves a lot of time and automatically purges my repos when I restart my comp.

This replicates the feature set for the [gi

[2016-12-21 13:14] jrieken commented on #15455
@shanalikhan It would be awesome to get more data about your case. If it's OK with you I'll create you a special built that runs a profiler very early on startup. With that I should be able to understand where the time is spend

[2016-12-21 13:38] JimiC opened #17672 "Change extension order for Diff language id"
Currently the order is:
- `.patch`
- `.diff`
- `.rej`

This creates a visual issue when using different images for `diff` and `patch`.

Currently we on [vscode-icons](https://github.com/robertohuertasm/vscode-icons) do so and although the associated files get the correct image, in the `Language Mode` selection it shows the `patch` image and not the `diff` image.

Changing the order to:
- `.diff`
-

[2016-12-21 13:39] MeteorKepler opened #17673 "Large file support and hex binary file display"
- VSCode Version:1.8.1
- OS Version: macOS Sierra 10.12.2

I'm using vs code as my first choice when editing code and multiple types of files. But there are two issues annoying me:
* Large file support.
It can't open large data file like json or logging files that are important in my projects. It's not too large, just 50MB-200MB.
* Hex display of binary file.
When I need to handle raw binary file

[2016-12-21 13:42] shanalikhan commented on #15455
sure, no problem go ahead. what information will it send ?

[2016-12-21 13:42] Zawgar opened #17674 "Crash on Tab"
Me sucedió varias veces que cuando quiero indentar una linea de código, el VSC se congela y deja de responder. Esto me sucede desde esta versión (1.8.1)

- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.0.18|
|githistory|donjayama

[2016-12-21 13:50] luca76 opened #17675 "[Fedora 25] Release notes window doesn't cover entire page"
- VSCode Version: 1.7, 1.8
- OS Version: Fedora 25

Steps to Reproduce:

1. Check for new version
2. See the release notes page

The release notes doesn't cover entire window, but only a quarter. See the picture.

![schermata del 2016-12-21 14-50-25](https://cloud.githubusercontent.com/assets/5095918/21391650/d8a641e4-c78c-11e6-82e0-946edf4636ac.png)

[2016-12-21 13:51] jrieken commented on #15455
Awesome. The build I just creating will run the v8 profiler on startup - apart from timings and JS function names it will contain *fully resolved file names* of the VS Code installation directory, like `/Users/jrieken/Application/VS Code.app/Resources/file.js`. If you don't wanna share that data here you could just send me a mail or run a large find/replace operation on the (text) file.

[2016-12-21 13:51] luca76 commented on #17675
Note: this bug happened in 1.7, too.

[2016-12-21 13:51] bpasero opened #17676 "Replace: Cannot read property 'getValue' of null"
Steps to Reproduce:

1. do a find replace and open a preview
2. pin it
3. open another preview

=>

[code]

[2016-12-21 13:52] isidorn commented on #16608
From @joaomoreno There should be warning or error decorations for unknown configurations.

[2016-12-21 13:52] isidorn commented on #16615
Fixed except warning for unkown configuartions, that I moved to #16608

[2016-12-21 13:56] isidorn commented on #16608
@aeschli how can I have custom validaiton for my launch.json?
Is this possible?

[2016-12-21 13:56] jrappen commented on #6529
@goessner: Your repo is top trending repo nr. 6 on Github at the moment. Maybe you could link to this issue so people can vote for it with a :+1: by reacting to the issue description.

[2016-12-21 13:58] wardw commented on #7876
Yes, useful to note that ctrl+p/ctrl+n work nicely when navigating the auto-complete popup. I agree with @elemongw that certainly on a mac, ctrl+p/ctrl+n are common aliases for up/down everywhere. I've always taken this as being originally of emacs heritage, so this behaviour is common on linux, too.

[2016-12-21 14:01] jrieken commented on #17400
Your extension can control that - either by setting the [`CompletionItem.range`](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L2429) and/or [`CompletionItem.filterText`](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L2411)

[2016-12-21 14:03] aleksey-bykov opened #17677 "codefix key-chord doesn't work when the caret is at the end of the"
- VSCode Version: 1.9.x insider's preview
- OS Version: Windows 10

Steps to Reproduce:

1. create a situation for a codefix
2. observe a piece of code with a wiggly line and a codefix icon
3. place the caret at the very end of the wiggly line
4. hit `Ctrl + .` (current combination for engaging codefixes)
5. observe nothing happens

expected: a popup with codefix choices should be displayed

[2016-12-21 14:09] kvoth3 commented on #17321
Nope, only occurs with terminal open. Also, when the terminal is open and you resize, the flickering causes the terminal window to scroll down and down depending on how much to resize the window. It also makes the terminal unresponsive after a while.

[2016-12-21 14:11] egamma commented on #17674
@Zawgar I cannot reproduce the freeze given the steps you provide above.

Questions:
- can you always reproduce this?
- can you reproduce this behaviour when all extensions are disabled (you can disable an extension in the extension viewlet)
- what kind of file did you edit (.js, html?)?
- Can you attach the file?
- what was selected when pressed tab to indent
- can you add an animated gif that sh

[2016-12-21 14:18] egamma commented on #17677
@aleksey-bykov

I cannot reproduce given the steps above, see the attached recording.

Can you pls attach a recording as well?
Does the popup appear when you are not at the end of the warning?

![quickfix](https://cloud.githubusercontent.com/assets/172399/21392489/69629f2c-c790-11e6-9f6e-407001155db2.gif)

[2016-12-21 14:19] farfromrefug opened #17678 "[FR] use the Terminal as a console output"
I would really love to see the possibility to use a terminal as console output.
The reason is that we would benefit from all amazing features from xterm.js

Obviously one is colour output.

There are actually 2 ways to do that:
- give the possibility to run a command inside the Terminal while listening for stdout, stderr, close. Also this would allow stdin! Which would be amazing from for extensio

[2016-12-21 14:21] egamma commented on #17673
@MeteorKepler  thanks for your enhancement requests, pls follow our guidelines https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-great-issues-and-suggestions when submitting feature requests and file one issue per request.

pls try this extension https://marketplace.visualstudio.com/items?itemName=slevesque.vscode-hexdump

[2016-12-21 14:22] #13386 closed

[2016-12-21 14:23] #17673 closed

[2016-12-21 14:26] egamma commented on #17678
@farfromrefug the general desire is understood, but can you be more precise when you want to use the terminal as console output: when running tasks? when debugging a program?

[2016-12-21 14:27] behzad888 opened #17679 "Html Formatter not working when use style attribute"
- VSCode Version: 1.8.1
- OS Version: win8.1

Html formatter is not working when attribute style is applied to an element.

[2016-12-21 14:31] egamma commented on #17672
The issue refers to this https://github.com/Microsoft/vscode/blob/master/extensions/diff/package.json#L11

[2016-12-21 14:31] drKnoxy commented on #14945
They already have a PR in for the fix ... https://github.com/textmate/coffee-script.tmbundle/pull/11

[2016-12-21 14:31] JimiC commented on #17672
Submitted #17680

[2016-12-21 14:32] egamma commented on #17679
duplicates #17637

[2016-12-21 14:32] #17679 closed

[2016-12-21 14:33] egamma commented on #17671
fyi @joaomoreno

[2016-12-21 14:36] egamma commented on #17668
fyi @weinand

[2016-12-21 14:38] egamma commented on #17667
Yes this refers to the most commonly used or changed settings.

[2016-12-21 14:38] #17667 closed

[2016-12-21 14:39] technomaz opened #17681 "Hot Exit forgets language mode for unsaved files"
- VSCode Version: 1.8.1
- OS Version: Windows 10

Steps to Reproduce:

1. File > New File
2. Select Language Mode > Change to HTML (or whatever)
3. Make any edits to file
4. Quit VSCode
5. Open VSCode

The Untitled-1 file reopens, but the Language Mode is reset to Plain Text.  VSCode should remember the Language Mode that was set.

[2016-12-21 14:39] MarkSMT commented on #2686
Guys guys guys, sometimes putting stuff in one window just isn't enough, please provide a way of doing so :/

[2016-12-21 14:40] MeteorKepler commented on #17673
Thank you very much!

————————————————————
Tsinghua University, Beijing, China
Electronic Engineering Department
Bo Zihao
tel：13051875837
E-mail：bzh13@mails.tsinghua.edu.cn<http://mails.tsinghua.edu.cn>

在 2016年12月21日，22:24，Erich Gamma <notifications@github.com<mailto:notifications@github.com>> 写道：

Closed #17673<https://github.com/Microsoft/vscode/issues/17673>.

—
You are receiving this because

[2016-12-21 14:40] egamma commented on #17666
yes search is used as a verb in this context.

[2016-12-21 14:40] #17666 closed

[2016-12-21 14:40] dfroze opened #17682 "Display file while moving with arrows in the explorer"
- VSCode Version: 1.8.1
- OS Version: Linux

There is a feature from sublime, when selecting a file in the sidebar (click only once) and then by using the arrows to navigate to the next file displayed in the sidebar, the content of the file changes the next instant. In vscode you need to press enter after focusing on the file.
This is really helpful when wanting to check small thing in many files.

[2016-12-21 14:42] jrieken commented on #15455
there we go [win32 archive](https://az764295.vo.msecnd.net/insider/4fde921d4a8f79e0742bf8c93bfcb52cec576be3/VSCode-win32-1.9.0-insider.zip) and [win32 setup](https://az764295.vo.msecnd.net/insider/4fde921d4a8f79e0742bf8c93bfcb52cec576be3/VSCodeSetup-1.9.0-insider.exe). The former can run after unzipping the latter is the installer. As long as you are profiling, don't react to the update affordance

[2016-12-21 14:44] db001 opened #17683 "Freezing on update / install"
- VSCode Version: 1.6.1
- OS Version: Win 10 pro

Steps to Reproduce:

1.  New Install from download
2.  Click "Update Now" on pop up in program

When I click the update now pop up it takes me to the 'Preparing to Install' dialog box and freezes.  No dialog appears in the box and hovering over it only shows the windows loading cursor.  Only way to close the box is through task manager.  The same h

[2016-12-21 14:45] #17676 closed

[2016-12-21 14:47] egamma commented on #17665
This is correct.

Zen Mode - recommend to not translate Zen Mode (which also stands for 'distraction free mode'

Hot Exit - recommend to not translate

[2016-12-21 14:47] #17665 closed

[2016-12-21 14:47] aleksey-bykov commented on #17677
here, it's typescript import codefix

![codefix-key-chord-not-working](https://cloud.githubusercontent.com/assets/937933/21393440/6a1cbd9a-c762-11e6-9255-31ba6383a698.gif)

[2016-12-21 14:49] aleksey-bykov commented on #17677
here is a better screen cast
![codefix-key-chord-not-working](https://cloud.githubusercontent.com/assets/937933/21393516/c81298d4-c762-11e6-9625-e744bd983c3e.gif)

[2016-12-21 14:49] egamma commented on #17681
Duplicates #16803

[2016-12-21 14:49] #17681 closed

[2016-12-21 14:49] dfroze opened #17685 "Multiple File Manager"
- VSCode Version: 1.8.1
- OS Version: Linux

Currently in vscode you can't select more then one file at a time. For example if you want to move multiple files in another folder you have to do it one by one or use the OS file manager. It would be great to have this as well in vscode.

[2016-12-21 14:50] aleksey-bykov commented on #17677
i can't really show how it's not working in the video, because, well, when i try nothing is going on

[2016-12-21 14:50] kobalicek opened #17686 "Configurable behavior of page-up (cursorPageUp) and page-down (cursorPageDown)"
I haven't found a way how to change the behavior of page-up and page-down to the following:

  * when I hit page-up / page-down, the cursor won't visually move the line, but the content scrolls up or down.
  * this basically means, that hitting page-up and then page-down brings me to the same "view" as it was before (unless I hit start / end of document)

Currently when I press page-up / page-down

[2016-12-21 14:55] egamma commented on #17677
@aleksey-bykov thanks this helps.

Actually I can still not reproduce since I do not get a quick fix at all. I suspect this feature is contributed by an extension. Can you attach the list of extensions you have installed? To get list execute `Help>Report Issues` and copy the table into this issue.

[2016-12-21 14:57] egamma commented on #17685
Duplicates #1023

[2016-12-21 14:57] #17685 closed

[2016-12-21 14:59] egamma commented on #17663
yes the placeholders will be replaced with numbers, pls see the attached screenshot:

![image](https://cloud.githubusercontent.com/assets/172399/21393845/76cb26ec-c796-11e6-9abf-00c6820864fc.png)

[2016-12-21 14:59] #17663 closed

[2016-12-21 15:00] web2style commented on #17474
I have the same issue. In my case I want to toggle line comment, default shortcut for this is `cmd+/`, but instead I get my editor splitted.

My keyboard layout is ANSI (United States and others). Tried changing to ISO (European), but nothing changed.

This happened after upgrading to 1.8.

[2016-12-21 15:00] jrieken commented on #17424
@roblourens Sorry, I am not really able to reproduce because of the go installation pain. However, I am able to understand what's going wrong. Seems like we accessing an invalid range of the document without validating the range first. Two things are next: (1) validate the ranges the formatter gave us, (2) understand why the formatter gives a range the exceeds the document. For (2) I looking at yo

[2016-12-21 15:00] aleksey-bykov commented on #17677
it's the latest typescript (2.2.0-dev.20161221 as of writing this)

which you can get by running:
[code]

with
[code]

in the `.vscode/settings.json`

per https://github.com/Microsoft/vscode/issues/17633

[2016-12-21 15:05] egamma commented on #17661
@vfloyd6 thank you for clarifying. Still more questions:

In what file types are you observing this slowness. In C++ only or in all languages?

While having the same folder open, Can you try to selectively disable an extension (in the extension viewlet (see below)  and narrow down who is the culprit for the slowness

![image](https://cloud.githubusercontent.com/assets/172399/21394044/40eeedb4-c797

[2016-12-21 15:07] egamma commented on #17659
duplicates #17637

[2016-12-21 15:07] #17659 closed

[2016-12-21 15:07] egamma commented on #17551
Duplicate  #17637

[2016-12-21 15:07] #17551 closed

[2016-12-21 15:08] bpasero commented on #17664
@ivancuric can you be more specific what a "proxy icon" is?

[2016-12-21 15:09] egamma commented on #17655
FYI @joaomoreno

[2016-12-21 15:10] egamma commented on #17654
FYI @aeschli

[2016-12-21 15:10] #17672 closed

[2016-12-21 15:13] gregatcssi commented on #17612
Thanks Jrieken.

I didn't configure Code to be case sensitive, unless that was defined by default.
I built the application using the angular-cli with below versions
Angular-CLI : 1.0.0-beta.18
node: 7.0.0
os: win32 x64

tsconfig.json is
[code]

[2016-12-21 15:13] egamma commented on #17649
@sandy081 suggest to add screenshots to illustrate the context

[2016-12-21 15:14] derekmt12 commented on #2686
It would be nice if it worked like Visual Studio where you could drag a tab to another monitor. It wouldn't have to support having two separate VS Code instances running for the same folder. Just being able to move the tabs outside of the current VS Code window would be the most useful.

[2016-12-21 15:14] bpasero commented on #17652
Let's move into https://github.com/Microsoft/vscode/issues/5454

[2016-12-21 15:14] #17652 closed

[2016-12-21 15:15] egamma commented on #17647
@Chengyanzhao not clear what you mean, can you please add a screenshot where you would like to have a `comments` section?

[2016-12-21 15:18] sandy081 commented on #17648
This happens when
- Open settings editor
- On a setting edit icon, hover on it
- If it is just a copy to settings file on the right, this message is shown

See the screenshot below

![screen shot 2016-12-21 at 16 16 11](https://cloud.githubusercontent.com/assets/10746682/21394423/e0a8579a-c798-11e6-9505-87f17584359b.png)

[2016-12-21 15:18] #17648 closed

[2016-12-21 15:20] ronangaillard opened #17687 "⌘+P does not toggle"Go to file" any more on OSX"
- VSCode Version: 1.8.1
- OS Version: OSX 10.12.1

Steps to Reproduce:

1. Press ⌘+P
2. Test input does not show up

But triggering it using _Go->Go to file..._ works.

[2016-12-21 15:22] egamma commented on #17641
Some options:
- use the integrated terminal `View>Integrated Termnial`

- use the 'Open Command Prompt' command that is available when you select a folder in the explorer?  Pls see below:
![image](https://cloud.githubusercontent.com/assets/172399/21394526/3c8452b2-c799-11e6-9f4f-2083c7437954.png)

[2016-12-21 15:22] sandy081 commented on #17649
This happens as follows

- Open User or Workspace Settings in VS Code
- In Default settings on the left side, Hover on an edit icon for a setting which is of enum type
- On clicking on this icon, a dropdown appears and user can select a value that is copied to settings on the right.

See following screenshots for more info

![image](https://cloud.githubusercontent.com/assets/10746682/21394510/2d7b

[2016-12-21 15:22] #17649 closed

[2016-12-21 15:23] #15804 closed

[2016-12-21 15:26] weinand commented on #15804
This will be available in tomorrows Insiders build.
For more info pls see https://github.com/Microsoft/vscode/issues/17381

[2016-12-21 15:27] egamma commented on #17640
When you select a single file then VS Code opens the single file. When you select a folder in the explorer then VS Code opens the folder. Therefore rather than opening a single file you should open its parent folder in VS Code.

Assigning the issue to @chrmarti he is looking into improving the getting started experience and mentioned this issue in a recent discussion.

[2016-12-21 15:28] #17207 closed

[2016-12-21 15:30] matusszabo commented on #15804
Ooo, lovely, thanks :)

[2016-12-21 15:30] egamma commented on #17636
@kooboo-chenhai can you please describe the steps you did before this message appeared? Can you provide an animated gif please?

[2016-12-21 15:31] #17424 closed

[2016-12-21 15:32] egamma commented on #17634
FYI @bpasero @Tyriar

[2016-12-21 15:35] egamma commented on #17632
Rather than implementing the beautifer as a command that replaces the entire editor contents you should implement a Code formatter as defined by the VS Code API. Please see the [formatter best practices blog](https://code.visualstudio.com/blogs/2016/11/15/formatters-best-practices) from @jrieken

[2016-12-21 15:35] #17632 closed

[2016-12-21 15:36] weinand commented on #17381
Support for `restart` will be available in tomorrow's Insiders build.

I'm using this feature myself in [vscode-node-debug](https://github.com/Microsoft/vscode-node-debug/blob/master/.vscode/launch.json#L29) to launch the debug adapter with nodemon.

Please note: since nodemon runs as a demon process and is not under control of VS Code, pressing the terminate button does not kill it. So you will h

[2016-12-21 15:38] #17381 closed

[2016-12-21 15:39] shanalikhan commented on #15455
ok today i also get first time experience the editor is getting hanging but menus are working.
editor not responding dialog is appearing again nag again from hwn using the LONG json file

will you be able to check this behaviour also form the above build ?

[2016-12-21 15:45] #17437 closed

[2016-12-21 15:46] jrieken commented on #15455
let tackle one thing after the other

[2016-12-21 15:47] egamma commented on #17631
This is a css-schema term. Resolving as by design.

[2016-12-21 15:47] #17631 closed

[2016-12-21 15:48] ivancuric commented on #17664
https://developer.apple.com/library/content/documentation/UserExperience/Conceptual/OSXHIGuidelines/Art/document_window_parts_2x.png

[2016-12-21 15:55] bpasero commented on #17664
Thanks. I think we need proper API from upstream electron to get this right. Meanwhile to get back to the native title bar, you can configure `"window.titleBarStyle": "native"`

[2016-12-21 15:55] jrieken commented on #17612
Not really able to reproduce with a small sample... Are you using a special version of TypeScript, e.g. not the one ship by default? Iff so a small indication will show in the status bar.

Passing this one to @mjbvz and @bpasero because TypeScript shouldn't return such references and the workbench should resolve the *real path* before showing the same file as two different files

[2016-12-21 15:57] bpasero commented on #17612
There is no API to get the "real path" of a path in node.js. They tried to add it, but failed miserably. TypeScript should try harder to return the path as it is on disk to avoid these issues.

[2016-12-21 16:02] farfromrefug commented on #17678
@egamma The idea came from my vscode extension. It's an extension to build Titanium Mobile projects (kind of like PhoneGap projects).

From the get i wanted to have a more interactive/beautiful console. I wanted a colorized console so that i could quickly and easily read the output.
So at first i used the "output colorizer" extension. It worked quite well but was really slow with long outputs, and

[2016-12-21 16:03] egamma commented on #17687
I fail to reproduce this on OS X.

What key binding do you see in the `Go` menu assigned to `Go to File...` command?

[2016-12-21 16:14] dfroze commented on #1023
Don't forget "open selected files" :D

[2016-12-21 16:19] emattiazzi commented on #17687
Can't reproduce this error as well.
Open your `keybindings.json` (Open with `⌘+Shift+P -> Open Keyboard Shortcuts` and check if you have the following line:
`{ "key": "cmd+p",                 "command": "workbench.action.quickOpen" }`

[2016-12-21 16:21] cdodge89 opened #17688 "Using the define keybinding button breaks in conjnction with \ character"
- VSCode Version: 1.8.1
- OS Version: OSX El Capitan

Steps to Reproduce:

1. On Mac open Code>Preferences>Keyboard Shortcuts
2. Click the Blue "Define Keybinding" Button in the bottom right hand corner
3. Define a keybinding that ends with the \ character such as ctrl+alt+cmd+\
4. Notice that the \ character is not properly escaped, and instead escapes the last " character in the object that is a

[2016-12-21 16:29] jrieken commented on #17285
@capaj I am not able to reproduce, neither with the repo mentioned above nor with an extension that throws on activate.

[2016-12-21 16:31] seanwcom commented on #101
My apologies for commenting on a closed issue, but this seems to be the best place to ask.

Hot exit seems to be working great on any unsaved files, but should saved files also be restoring? Perhaps I'm missing a setting somewhere, but I've looked through and didn't see a way to set that. My expectation is that dirty or not, the full session would restore. Right now if I have 2 dirty files, 1 unti

[2016-12-21 16:31] raphabi commented on #17574
Hi, same problem here,
I've tried on the same machine (and same user settings file) : it works on 1.7.1 but not on 1.8.1
(win 7 x64)
Thank you

[2016-12-21 16:35] anothergituser opened #17689 "Git file history temp file is lost after switching"
- VSCode Version:  1.8.1
- OS Version: Fedora 22

Steps to Reproduce:

In file explorer, right click and Git: view file history then select a commit and View file contents. This will open a temp file with that revision, but if you switch to another file it is lost and an error is shown prompting to create the file because it does not exist.

I was hoping it would keep the file in the Opened editor

[2016-12-21 16:35] egamma commented on #17223
Closing the issue for now.

@pranaydutta89 pls reopen the issue when you can reproduce the problem with concrete steps.

[2016-12-21 16:35] #17223 closed

[2016-12-21 16:36] egamma commented on #17308
Closing the issue for now.

@gcamana pls reopen the issue when you can provide an animated gif to illustrate the problem.

[2016-12-21 16:36] #17308 closed

[2016-12-21 16:38] shyang7526 commented on #17689
@jslee1301 @shyang7526 @jhsmedia2

[2016-12-21 16:42] egamma commented on #17447
@sivaecekrr can you verify that you have the latest version of the vscode-icons extension installed. Older versions of this extensions relied on patching the VS Code application files. This has resulted in crashes. The latest version of vscode-icons is no longer doing this.

The other thing to try out is to start VS Code without any extensions by starting it up with the command line option `--disa

[2016-12-21 16:47] jiggak commented on #17639
After being more conscience of this issue while working with my code base I noticed sometimes files with 3-space indent do infact have correct indent settings, despite what I described in the issue description.

Here is a source file that consistently opens with incorrect indent settings for testing.

https://gist.github.com/jiggak/ebe980e4cd209381f2b8c0f8f922344c

[2016-12-21 16:49] gregatcssi commented on #17612
I updated TSC a little while ago, so the bottom right is showing Typescript 2.0.3 along with cmd  and package.json.  Not sure if this is going to help, but i'm going to update the angular-cli version to beta 24 to see if there are any updates there which might help this.  it's also using 2.0.3.
If you would like I can send you a zip of the project.  it's still very much in beta, so be kind :-) als

[2016-12-21 16:50] bpasero commented on #101
@seanwcom we do this as long as you have a folder opened, but not in "empty" workspaces (see #207)

[2016-12-21 16:59] egamma commented on #17627
@tomdavidson

Is your question about the VS Code source code and how we enforce consistent formatting in our code base?

In the VS Code code base we are using the typescript-formatter in a git commit hook. We use tslint as well, but we do not use tslint for formatting but only for style checking:
https://github.com/Microsoft/vscode/blob/master/tsfmt.json
https://github.com/Microsoft/vscode/blob/ma

[2016-12-21 17:01] yosualb commented on #17514
the double `ESC` helps me a lot, thanks.

[2016-12-21 17:02] egamma commented on #17689
The command 'Git: view file history' is provided by an extension. I suspect https://marketplace.visualstudio.com/items?itemName=donjayamanne.githistory, Please file the issue against this extension.

[2016-12-21 17:02] #17689 closed

[2016-12-21 17:03] isidorn commented on #17348
Please install this extension https://marketplace.visualstudio.com/items?itemName=isidor.power-zen-mode

And use it to configure behavior of zen mode

[2016-12-21 17:03] #17348 closed

[2016-12-21 17:04] mjesuele commented on #9872
Any word on this? Zentabs is one of the only things I miss from Atom. (Love VS Code!)

Where would be some relevant parts of the project to take a look at?

[2016-12-21 17:06] egamma commented on #17678
@farfromrefug VS Code has an integrated terminal and the terminal provides API to launch a process that runs in the terminal (extensions are already using this support).

We are planning to run VS Code tasks inside the terminal and for that we are investigating into enriching the terminal API further.

[2016-12-21 17:31] jiayihu commented on #7033
Is there any setting to automatically open the warnings/errors on save if there are any of them?

[2016-12-21 17:32] ronangaillard commented on #17687
I do have `{ "key": "cmd+p", "command": "workbench.action.quickOpen" }` in `keybindings.json` .

I can reproduce bug after reinstalling VSCode, and even after reinstalling Mac OS X and VS Code. Always the same issue.

By the way `⌘+Shift+P` shorcut does not work also.

[2016-12-21 17:33] benjaminmillhouse opened #17690 "Make Javascript intellisense detect inheritance"
- VSCode Version: Code 1.8.0 (38746938a4ab94f2f57d9e1309c51fd6fb37553d, 2016-12-13T17:38:28.425Z)
- OS Version: Darwin x64 16.3.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|JSDocTagComplete|HookyQR|0.0.2|
|html-css-class-completion|Zignd|1.0.3|
|theme-atom-one-dark|andischerer|0.0.1|
|vscode-eslint|dbaeumer|1.1.0|
|docthis|joelday|0.3.5|
|Angular1|johnpapa|0.1.16|
|Angular2|johnpapa|

[2016-12-21 17:43] capaj commented on #17285
I know. I will lock the dependency so it is possible to replicate.

[2016-12-21 17:53] benguenter opened #17691 "Have a setting for the extensions folder location"
- VSCode Version: 1.8.1
- OS Version: Win 10

Is there any way to permanently change where Extensions are installed and run for vscode?

[2016-12-21 17:53] lygstate opened #17692 "Reveal in Explorer need appear in Editor (Tab) & in Editor context menu, not only in tree view"
- VSCode Version: 1.8.1
- OS Version: Win 10

Steps to Reproduce:

1.  Feature request.

[2016-12-21 17:57] marciokrul opened #17693 "Format code with error when press (ALT+SHIFT+F)"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.0.18|
|Angular1|johnpapa|0.1.16|
|ionic1-snippets|justinjames|1.0.1|
|bootstrap-3-snippets|wcwhitehead|0.0.9|

---

Steps to Reproduce:

1. When type HTML Tags and pressing ALT +

[2016-12-21 18:04] AshleyScirra opened #17694 "[Windows] Shift+click in task bar does not open new window"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

On Windows 10 64-bit.

1. Open VS Code
2. Hold shift and click VS Code in the task bar

Expected result: new VS Code window opens (as per usual Windows shortcut)
Observed result: nothing happens

This is annoying if you have a folder open in one

[2016-12-21 18:09] Krzysztof-Cieslak opened #17695 "Feature Request: Preview changes of CodeAction before applying them"
VS provides preview panel for its CodeActions showing diff of the file. Here's the sample:

![](https://cloud.githubusercontent.com/assets/873919/21400336/a97b90d4-c7c0-11e6-9002-39cb972d1bf3.gif)

I wonder if we could get something like that in Code :)

[2016-12-21 18:39] JWess commented on #17430
I have just encountered a different bad behavior. This time, I have a "never-before-saved" file open at the same time. I have no idea if that is why, but that's the only thing I see that is different.

![autosavefailure](https://cloud.githubusercontent.com/assets/8697891/21401577/e61e1036-c782-11e6-9e91-35e0ec4e0354.gif)

[2016-12-21 18:45] mbeckenbach opened #17696 "Scope to folder"
- VSCode Version: 1.8.1
- OS Version: Win10

It would be cool if you could right click on a folder and move the file list scope to that. In that case everything else will be hidden. Very usefull in angular2 or ionic projects. So you would only see files, that you are using at the moment.

![image](https://cloud.githubusercontent.com/assets/6654388/21401804/f01d9f42-c7b5-11e6-8f08-2cf0c57baaa2.png)

[2016-12-21 18:52] Tyriar commented on #1023
Mostly just waiting for someone to pick it up, it's high on my personal want list so I might pick it up once I'm freed up.

[2016-12-21 18:55] olinbg commented on #6579
@tinaun - that worked for me.  Fixed both running bash in the "terminal" mode and the tasks format.  Thanks!

[2016-12-21 19:08] Tyriar commented on #17634
@archshift I'm curious what settings differ across your Mac and Linux configs? Another potential solution is to have `.linux`/`.osx`/`.windows` settings available for all settings instead of just a select few?

/cc @sandy081 @joaomoreno

[2016-12-21 19:09] Tyriar commented on #17669
Duplicate https://github.com/Microsoft/vscode/issues/48

[2016-12-21 19:09] #17669 closed

[2016-12-21 19:14] mizzao commented on #1896
According to this post (https://blogs.technet.microsoft.com/askcore/2016/08/16/display-scaling-changes-for-the-windows-10-anniversary-update/) Win 10 anniversary makes it easier for programs to rescale themselves in response to DPI changes (e.g. docking a Surface with a monitor, etc.)

The following image from that post captures the reason for most blurriness in my day-to-day:

![](https://msdnsha

[2016-12-21 19:17] shanalikhan commented on #17608
Please add https://github.com/Microsoft/vscode/issues/14444 and https://github.com/Microsoft/vscode/issues/12178 also. My [code settings sync](https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync) is waiting for these features to give full results 😄

Thanks

[2016-12-21 19:26] Tyriar commented on #48
@bpasero yes forcing the call to use `code -n` fixes this issue, for Linux specifically you can workaround this by changing the `Exec` line in `/usr/share/applications/code.desktop` to:

[code]

Personally I think this is how the CLI should work by default, unless `-r` was used or it was the same folder (#2686). If not, we could make the Windows shortcut use `-n` too like the workaround above.

[2016-12-21 19:27] kobalicek commented on #585
Not just that, customizing some keywords based on project would also be amazing, there is a lot of C++ code that relies on macros or uses some specifics, and ability to highlight that "easily" would be nice.

[2016-12-21 20:12] wprater opened #17697 "Adaptive abbreviation search for quick open commands"
Would be nice to adapt the the abbreviations I choose for tasks in Quick Open.  Similar to how [LaunchBar](https://www.obdev.at/products/launchbar/features.html) works.

e.g. This way I can type launch quick open and type `pu` and enter without getting a Docker Pull command, which I rarely use.

[2016-12-21 20:21] cybercatalyst commented on #17669
@Tyriar Are you familiar with the Unity desktop and sure this is a duplicate? The other issue is about calling vscode from the command line, this one is about invoking from the Unity launcher (the default desktop launcher in Ubuntu). From reading in the post, there should just be a link to define that "code -n" is being called upon a middle click, which is not the case yet.

I was able to solve it

[2016-12-21 20:22] JimNewkirk commented on #1808
Very helpful, kaiwood - thanks.

[2016-12-21 20:27] cybercatalyst commented on #17669
Fixed it here: https://github.com/Microsoft/vscode/pull/17699

[2016-12-21 20:34] warrenbuckley opened #17700 "Extension Devs: Extending an existing Icon Theme"
- VSCode Version: 1.8.1
- OS Version: Windows 10 Pro

I am building a super simple extension that associates a JSON Schema for my file `package.manifest` from SchemaStore.org and then with the `languages`  contributionPoint are able to ensure that the `json` language is applied to it & thus the Schema is immediately available.

Continuing this I thought it would be neat to have a custom icon for m

[2016-12-21 20:39] cybercatalyst commented on #17644
@iamaaron Can you be more specific? I tried it here, but cannot reproduce the bug here. The launcher icon just appears fine. Are you using a default Ubuntu with Unity?

[2016-12-21 20:49] archshift commented on #17634
@Tyriar it's not so much about OSs and more about computers.

Let's say I have a laptop and a desktop (both Windows, for instance), and the two computers have different screen sizes/resolutions. I might want to set `editor.fontSize` to 12 on my desktop and 10 on my laptop.

This also applies to extensions. If I'm using the Rust extension, which has options like `rust.racerPath` and `rust.cargoPath

[2016-12-21 21:10] forki commented on #17695
:kiss:

[2016-12-21 21:24] ElChupacabra26 commented on #13016
I'm late to the party, but nice job! Thanks guys 💃

[2016-12-21 21:29] hun1ahpu opened #17701 "Integrated terminal context menu should trigger via contextmenu event not mousedown"
- VSCode Version: 1.8.0
- OS Version: Windows 10

Steps to Reproduce:

1. Open Integrated terminal
2. Click and hold right mouse button

Expected: nothing happens yet and the context menu shows up on when the user releases the button
Actual: context menu shows up

[2016-12-21 21:48] bargeruns commented on #17335
This issue seems to be resolved in the Insiders build v1.9.0, so I may just switch to Insiders full-time for now.

[2016-12-21 22:09] renzors opened #17702 "Keep Language mode when reload window after update plugin"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|xml|DotJoshJohnson|1.6.1|
|vscode-coffeescript-preview|drewbarrett|0.1.3|
|vscode-great-icons|emmanuelbeziat|1.1.30|
|csharp|ms-vscode|1.6.0|
|PowerShell|ms-vscode|0.8.0|
|view-in-browser|qinjia|0.0.3|
|c

[2016-12-21 22:24] alefragnani commented on #17691
Hi @benguenter ,

Unfortunately there is no `User Config` for that.

But as a workaround you could use `--extensions-dir` command line parameter while opening **Code**, updating your `Shortcuts/Icons` or creating a `batch file` to use, instead of `code.exe` while using terminal.

Hope this helps

[2016-12-21 22:26] bgse commented on #17644
@iamaaron Was this a full fresh install, and how did you install the .deb exactly?

I couldn't reproduce on 16.04 with vscode 1.8.1 when uninstalling and reinstalling the .deb using Ubuntu Software.

[2016-12-21 22:28] hoovercj commented on #17700
Somewhat related: https://github.com/Microsoft/vscode/issues/7669

[2016-12-21 22:55] mlewand opened #17703 "Allow getting path of a non-textual file"
- VSCode Version: 1.8.1
- OS Version: Win10

Unless I'm missing something it's impossible to get file object (or simply file path as string) in extension if you have a non-textual file open.

The use case here is that you open let's say an image file, or docx file in vscode, and you want to provide a hotkey for opening this file in your default app associated with given extension. This is a case t

[2016-12-21 22:58] JerkerPihl opened #17704 "Paths to included files gets messed up in MVC"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|aessoft-class-autocomplete|AESSoft|0.1.0|
|githistory|donjayamanne|0.1.4|
|jquerysnippets|donjayamanne|0.0.1|
|vscode-html-css|ecmel|0.0.30|
|csharp|ms-vscode|1.6.0|
|mono-debug|ms-vscode|0.12.0|
|debugge

[2016-12-21 22:59] iamaaron commented on #17644
@cybercatalyst I am using vanilla Ubuntu with Unity.

@bgse This a rather fresh OS install with minimal customization. I installed the .deb file through the Software Center once downloaded from the website.

Yeah, my install was a fresh install of 1.8.1.

I found other **Issues** where are users were experiencing the same problem, none of their solutions worked and it was denoted by the contributo

[2016-12-21 23:00] mlewand commented on #17703
I fear that the proper solution would only be implemented with #2582, but I hope I'm just missing something in your API. :)

[2016-12-21 23:04] TeaDrivenDev opened #17705 "Updating Code loses unsaved documents"
- VSCode Version: 1.8.0 -> 1.8.1
- OS Version: Windows 7

Steps to Reproduce:

1. Have one never-saved document tab in 1.8.0 (that has been there through several exit/restart cycles)
2. Update to 1.8.1 via the update notification bar
3. Code restarts with the change log in a single tab; the previously existing unsaved tab is gone.

[2016-12-21 23:04] andrefarzat opened #17706 "Syntax error in scss/sass map"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:42:49.304Z)
- OS Version: Darwin x64 16.3.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|gitignore|codezombiech|0.5.0|
|python|donjayamanne|0.5.5|
|tslint|eg2|0.7.1|
|theme-material-theme|jprestidge|1.0.1|
|vscode-scss|mrmlnc|0.6.0|
|vscode-icons|robertohuertasm|4.2.0|

---

Steps to Reproduce:

1. Cr

[2016-12-21 23:04] hchris28 commented on #12637
1.8.1 checking in, scrolling is still not working well.

[2016-12-21 23:05] Tyriar commented on #17669
Yeah I suggested something similar in https://github.com/Microsoft/vscode/issues/48#issuecomment-268616502, let's go forward with this and then try get a similar fix for Windows or for the CLI generally pending the discussion in #48 :+1:

[2016-12-21 23:07] lilling commented on #17447
I have this problem to when I ran npm install on the integrated terminal.

I have this extensions:

![image](https://cloud.githubusercontent.com/assets/11631465/21409455/fffc5322-c7e2-11e6-8bc5-108379f51569.png)

[2016-12-21 23:10] eamodio commented on #17629
@dbaeumer I can't share this project, but I will try to setup a sample (might be delayed a bit as I'm away for vacation).

[2016-12-21 23:11] Tyriar commented on #48
@joaomoreno is it possible to change the Windows shortcut to use `-n` so that shift+click and middle click work on the taskbar?

[2016-12-21 23:14] jupdike commented on #12831
I agree with @matthewrk. I am new to / really excited by VS Code and running into any issue like this where you feel like your fingers are chopped off is very jarring (hit expected combo and code disappears instead of changing tabs...).

If it could be possible to allow all existing users to keep the ("incorrect") folding Cmd+Shift+[ ] but all new users get Cmd+Shift+[ ] = changing tabs, that woul

[2016-12-21 23:18] bgse commented on #17644
@iamaaron Can you check if the application launcher is there?

[code]

You should see modification date as above, which corresponds to install time.

[2016-12-21 23:20] Tyriar commented on #14202
Fixed in https://github.com/Microsoft/vscode/pull/17496 thanks to @hun1ahpu!

[2016-12-21 23:20] #14202 closed

[2016-12-21 23:23] Tyriar commented on #14613
https://github.com/Tyriar/pty.js/issues/10 is on the iteration plan for January which should hopefully improve the situation, it's one of the lower priority tasks though so it may not make it in.

[2016-12-21 23:29] Tyriar commented on #17644
Any additional information would be helpful, the .desktop file should be installed to `/usr/share/applications` as @bgse mentioned ([done here](https://github.com/Microsoft/vscode/blob/651c27dc87bf92567b3236dabbbbad95d4db0360/build/gulpfile.vscode.linux.js#L58)).

I suspect the software center is to blame as I've had issues with it not installing correctly. Did you get a permissions prompt when in

[2016-12-22 00:01] rhires opened #17707 "Save As...dialog should also include a choice to save as administrator/root"
This is a feature request :-)

VSCode Version 1.8.1
Commit ee428b0eead68bf0fb99ab5fdc4439be227b6281
Date 2016-12-19T14:41:20.664Z
Shell 1.4.6
Renderer 53.0.2785.143
Node 6.5.0
- OS Version: Ubuntu 14.04

When saving a file, I get a "Failed to save 'default': A system error occured (EACCES: permission denied, open '/etc/nginx/sites-available/default')" because I'm saving the file as a regular user,

[2016-12-22 00:02] siegebell commented on #17678
This would be resolved if vscode had an API to launch a Node process in the terminal like how Language Servers are launched (i.e. using vscode's Node binaries).

[2016-12-22 00:12] bmewburn commented on #15818
My story is a lot like @mattacosta. I looked into using Jison to generate a php7 parser by modifying the official PHP zend_language_parser.y grammar file only to be met with many shift-reduce conflicts. I ironed out all those and then started experimenting with using error tokens to recover from parse errors but found this approach very limited.

I ditched the generated parser and wrote a recursiv

[2016-12-22 00:19] danielnieto opened #17708 ""A server with the specified hostname could not be found." Random error message"
- VSCode Version: Version 1.8.1 (1.8.1)
- OS Version: OSx El Capitan, 10.11.6

Steps to Reproduce: Unknown.

While using VScode an error message saying ""A server with the specified hostname could not be found." randomly appears, it can get dismissed when clicking on "Close", might reappear later.

![screen shot 2016-12-21 at 1 08 31 pm](https://cloud.githubusercontent.com/assets/2120107/21410881/

[2016-12-22 00:48] horserma opened #17709 "How to get all parameter info when filling in a function param list in Python"
- VSCode Version:1.8.1
- OS Version:MAC OS

Hi guys, I am using vscode for writing python code. I found when I tried to fill in a function with parameters, the hint will be shown one by one instead of all. For example, if the function has 3 parameters, the hint will show the first one first and after I fill in it and write a comma, the second will be triggered. I just want to show them all to get

[2016-12-22 01:13] rebornix opened #17711 "Find all reference in TypeScript/JavaScript project is extremely slow"
- VSCode Version: 1.9.0-Insiders
- OS Version: macOS

No matter I open a simple JavaScript file with one file or our Code project, Find all reference is slow, it takes like seconds to minutes to become a working status. See below gif:

![reference](https://cloud.githubusercontent.com/assets/876920/21411866/94c05ff0-c7a0-11e6-8fd3-507820c32a28.gif)

However, `Go to definition` works always from the

[2016-12-22 01:20] rebornix commented on #17346
@gujiman excellent finding actually, it's a bug in the reference widget. I like your reproduce steps.

[2016-12-22 01:50] kooboo-chenhai commented on #17636
@egamma  Software to use an hour later will be that.
 Uh,maybe i opened the translation software namded "youdao" (http://cidian.youdao.com/index.html)  at that time

[2016-12-22 01:57] EFanZh opened #17713 "Can not open files with spaces in their file names using command line on Linux"
- VSCode Version: 1.8.1
- OS Version: Arch Linux - Latest Version (2016-12-22)

Steps to Reproduce:

1. Type `code 'a b.txt'` in your terminal.
2. Enter.
3. File “a” and “b.txt” are opened.

I think this is related to c2935f2.

Also, this was once fixed in b6095e9.

[2016-12-22 02:04] Goc-yan opened #17714 "自动排版"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|

---

Steps to Reproduce:

1.行内写style和onclick会自动排版后，该行以下内容会顶格，不会有缩进

[2016-12-22 02:26] Insane-neal opened #17715 "The DEBUG shows no color and tip , but Function is normal"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:41:20.664Z)
- OS Version: Linux x64 4.4.0-57-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|docthis|joelday|0.3.5|
|cpptools|ms-vscode|0.9.3|
|java|redhat|0.0.7|
|cmake|twxs|0.0.15|
|cmake-tools|vector-of-bool|0.8.6|
|debug|webfreak|0.15.0|

---

Steps to Reproduce:

1.
2.

[2016-12-22 05:30] sivaecekrr commented on #17447
@egamma No luck even after disabling extension. I have latest extensions installed. When i run without elevated rights ctrl + ` open integrated terminal with empty window and it was loading...
Is admin rights is necessary to run VS Code ?
Thanks.

[2016-12-22 05:52] EFanZh opened #17716 "Allow comparing files that are not saved"
- VSCode Version: 1.8.1
- OS Version: Windows 7

Steps to Reproduce:

1. Create a new file without saving it.
2. Execute “File: Compare Active File With...” command.
3. The editor shows “Open a file first to compare it with another file.”.

[2016-12-22 05:58] bpasero commented on #17430
@JWess very hard to see whats going on in that gif. Btw I do not think any dirty state would make a difference, the way auto save works here is by relying on an event the editor emits whenever focus is lost.

I wonder if maybe an extension could have an impact on the saving. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code -

[2016-12-22 06:33] MandarSant opened #17717 ""New folder" option using quick picker"
Feature request for New folder option in file menu  it will save time insted of creating new folder at desired location ,it can be created directly from the editor and desired location link can be given from command pallet with filename.extension

[2016-12-22 06:42] louisnguyen1012 opened #17718 "Search issue on VSCode ver 1.8.1"
- VSCode Version: 1.8.1
- OS Version: Windows 7 Enterprise SP1

Steps to Reproduce:

1. Open search tab
2. Enter text and search
3. searching process cannot finish, and miss matched items.

![image](https://cloud.githubusercontent.com/assets/3841162/21417343/58731dc4-c84c-11e6-87f0-13c2093dffcf.png)

[2016-12-22 07:10] #12831 closed

[2016-12-22 07:13] bpasero commented on #12831
I pushed a change to improve keybindings on macOS:
* <kbd>cmd+shift+[</kbd> = Next Tab (works across multiple groups)
* <kbd>cmd+shift+]</kbd> = Previous Tab (works across multiple groups)
* <kbd>cmd+alt+[</kbd> = Fold All
* <kbd>cmd+alt+]</kbd> = Unfold All

[2016-12-22 07:15] bpasero commented on #48
@Tyriar no, requires an Electron update and is already being taken care of in this PR: https://github.com/Microsoft/vscode/pull/15407

[2016-12-22 07:17] bpasero commented on #17694
https://github.com/Microsoft/vscode/issues/13905

[2016-12-22 07:17] #17694 closed

[2016-12-22 07:17] szmtcjm commented on #4308
I'm also having a problem with this warning. In addition to this, there are also some warnings 'Couldn't find message for key node.xxx.xxx'

[2016-12-22 07:17] bpasero commented on #17702
https://github.com/Microsoft/vscode/issues/16803

[2016-12-22 07:17] #17702 closed

[2016-12-22 07:20] bpasero commented on #17705
@TeaDrivenDev that should really not happen and I just tried exactly this scenario and cannot reproduce:

![view-picker](https://cloud.githubusercontent.com/assets/900690/21418164/7c30a83a-c81f-11e6-9cf5-3c4e703a03aa.gif)

How is your behaviour different?

[2016-12-22 07:21] bpasero commented on #17718
@louisnguyen1012 are you able to share the workspace with us?

[2016-12-22 07:30] bpasero commented on #17330
@pharmmd-rich quick open will not search outside the currently opened folder however it may include files that are opened as tabs which are from outside the folder. Could that happen for you here?

[2016-12-22 07:46] tomdavidson commented on #17627
@egamma  thanks for the info and I apologize my question was ambiguous.
The question is about my code written with VS Code rather than VS Code's code.
VS Code can format on save for line change - I am referencing the ("built-in" formatter)[https://code.visualstudio.com/Docs/languages/typescript#_format-code] for TypeScript rather than a community extension such as Beautify (that does not work with

[2016-12-22 08:26] flyingxiaoxiao opened #17719 "Class View like VS is very useful"
No feature support.

[2016-12-22 08:27] amitmittal commented on #17097
I am also facing the exact same issue on a vm with single core cpu and 2 gb ram. Works pretty cool on my local dual core pc.
Fresh install of VS, No extensions installed.

![capture](https://cloud.githubusercontent.com/assets/5319694/21419564/4687e19a-c7dd-11e6-8bb2-619b1c0b8d65.PNG)

[2016-12-22 08:32] formulahendry commented on #17444
Moreover, with below info, it is hard for developer to distinguish whether user is just typing a `>` after `<div` or user is copying and pasting a `<div>`
[code]

[2016-12-22 08:39] vicerwang commented on #4308
I'm also having the same problem with this warning, i tried vscode 1. 8, 1.7, 1.6 and 1.5, every version debug failed.

[2016-12-22 08:43] eyal1990 opened #17720 "Add possibility for keyboard bindings for git actions"
- VSCode Version: 1.9.0-insiders
- OS Version: Win 10

Steps to Reproduce:
There are no keyboard binding option for git actions such as "push", "pull", "sync" and the others.
1. I opened "keybindings.json" and couldn't find any keybinding relating to git.

[2016-12-22 08:52] bpasero commented on #14622
Worth noting that Sublime seems to just show the keybinding as label next to the menu label if chords are being used:

![image](https://cloud.githubusercontent.com/assets/900690/21420170/5283c622-c82c-11e6-86e2-8dea7327ace1.png)

[2016-12-22 08:54] Aditya-Sh commented on #17335
I have same issue as well. VsCode version 1.8.1.
My user settings are as below
`{
    "files.autoSave": "off",
    "workbench.statusBar.visible": true,
    "workbench.activityBar.visible": true,
    "window.zoomLevel": 0
}`

I don't have any settings in jsonconfig.js

[2016-12-22 09:00] #17720 closed

[2016-12-22 09:00] eyal1990 commented on #17720
found it

[2016-12-22 09:24] bpasero opened #17721 "Extension installation: Error: "value" required in setHeader("X-Market-User-Id", value)"
- VSCode Version: todays insider build
- OS Version: macOS

Steps to Reproduce:

1. try to install an extension
2. => Error: "value" required in setHeader("X-Market-User-Id", value)

I am also seeing quite some warnings in the dev console:

![image](https://cloud.githubusercontent.com/assets/900690/21420970/cae5e18c-c830-11e6-8559-54af971c2f4f.png)

[2016-12-22 09:27] #17721 closed

[2016-12-22 09:28] ywmail commented on #17693
some problem here, and when open some html file, an error appears:
`shell.ts:541`
[code]

[2016-12-22 09:31] intellix commented on #17156
I'm also getting this. Not sure if it's exactly the same but towards the end of the day I'll have between 1-5 extra "Code Helper" processes, each taking around 100% CPU each.
I start to notice when my projects take AGES to build, so I look at Activity Monitor and see a load of processes hanging.
Was working last night and then upon opening my laptop this morning I notice there's another process st

[2016-12-22 09:31] ywmail commented on #17693
refer to #17637

[2016-12-22 09:32] bpasero commented on #14625
Also applies to when installing a keymap extension (/cc @chrmarti). happy to review a PR on this one, I think what is needed is to:
* update the menu when a change to `keybindings.json` is detected (for example by using [`ConfigWatcher`](https://github.com/Microsoft/vscode/blob/master/src/vs/base/node/config.ts#L41))
* update the menu when a keymap extension gets installed (ideally this could be t

[2016-12-22 09:33] jrieken commented on #17285
Yeah, did that but it still doesn't repo.

[2016-12-22 09:35] warrenbuckley commented on #17700
@hoovercj does this mean this will not be supported or considered for future?

[2016-12-22 09:37] bpasero commented on #17156
@intellix To find out more about this issue, we need to get at the process that is causing the high load. VS Code creates multiple processes, each with different tasks. Depending on your OS you can get at the full command line of the process and paste it here. On Mac, the **Activity Monitor** allows to find the `PID` of the process and from a terminal `ps aux | grep <pid>` reveals its arguments.

[2016-12-22 09:37] ywmail commented on #17714
duplicates #17637

[2016-12-22 09:44] ywmail commented on #17504
any workaround or downgrade to 1.7?

[2016-12-22 09:56] doronbrikman opened #17722 "Feature Request: add "when" clause contexts to Git"
Feature request for adding a when clause contexts to Git.

It will enable the possibility to create simpler and shorter keyboard shortcuts when you are on the Git panel, like push or publish, instead of finding unique combination to every action like this.

[2016-12-22 10:01] farfromrefug commented on #17678
@egamma Yes there is an api for the terminal. But we can't do much with it, we miss big features:
- clear the terminal
- run command and "listen" for it like you would do with exec/spawn
- listen for stdin
- enable / disable addon (like linkify)
- add your own addon to xterm.js
- disable stdin (to create a console)

[2016-12-22 10:02] sergej-s commented on #17718
Hello! Search also doesn't work with network drives and network folders.

[2016-12-22 10:16] adarshjohny commented on #17057
Thanks @bpasero after I had disabled all the extensions there is no prblems.
Thanks for the advice.

[2016-12-22 10:16] #17057 closed

[2016-12-22 10:32] dewdad opened #17723 "Feature Request: Support for Jsonnet"
There is a wonderful language by the name of [Jsonnet ](http://jsonnet.org) from Google. It is language for modeling JSON data with features like inheritance, variables, mixins. It is by far the best solution for templating that I have found for JSON as well.

[2016-12-22 10:36] mrmlnc commented on #17723
Sounds like a good idea for Extension.

[2016-12-22 10:42] vfloyd6 commented on #17661
Hello,

I'm sorry but I can't reproduce the issue anymore ... I've tried to make the tests you asked but contrary to what I had yesterday, my .db file doesn't grow that much (max 40MB so that it could go u to 270MB yesterday) and the ctrl click is now reactive in all file types ...

[2016-12-22 10:45] jrieken commented on #17721
The warning message are unrelated, the details about them is explained here: https://github.com/Microsoft/vscode/issues/16508#issuecomment-268467591

The missing http header is a regression from using telemetry info which apparently lacks a machine id in the main process (fyi @joaomoreno). I have pushed a fix for the latter issue

[2016-12-22 10:46] tamizhvendan commented on #17695
+1

[2016-12-22 10:49] Mlocik97 commented on #17456
UP

[2016-12-22 11:14] rdewolff commented on #7683
Same issue here with last vscode version.

Trying with ```node2``` and get the following Unhandled error in debug adapter message :

[code]

What's this?

[2016-12-22 11:15] Sephizor opened #17724 "Hot exit on new file does not save language mode"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:41:20.664Z)
- OS Version: Linux x64 4.9.0-040900-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|EditorConfig|EditorConfig|0.3.4|
|vscode-eslint|dbaeumer|1.2.2|
|githistory|donjayamanne|0.1.4|
|javadebugger|donjayamanne|0.0.2|
|task-master|ianhoney|0.1.38|
|Angular1|johnpapa|0.1.16|
|csharp|ms-vs

[2016-12-22 11:22] lypanov opened #17725 "Won't work in W10 tablet mode split screen"
- VSCode Version: 1.8.1
- OS Version: Windows 10 Anniversary Update

Steps to Reproduce:

1. Switch laptop to tablet mode.
2. Split screen Visual Studio Code together with for example powershell.

Expected result:
  vscode should be visible together with powershell in split screen.

Actual result:
  vscode maximizes thereby hiding the powershell window.

[2016-12-22 11:23] mrmlnc commented on #17724
Please use serach before create a new issues.

Duplicate of #17115, #17681, #17319, #17402, #17520, #17702 & e.t.c.

[2016-12-22 11:32] plievone commented on #13953
Well, I just use a watching build task with `"problemMatcher": "$tsc-watch"` (see https://code.visualstudio.com/Docs/editor/tasks#_processing-task-output-with-problem-matchers) and all errors and warnings are properly shown in the Problems view. It is quite a nice workflow because changes in open files are noticed immediately due to language server, but save triggers incremental compilation (with

[2016-12-22 11:33] BillDenton commented on #17621
Thanks. I think this issue can be closed as requested functionality is requested in the extension ( [https://github.com/alefragnani/vscode-read-only-indicator/issues/4](url) and [https://github.com/alefragnani/vscode-read-only-indicator/issues/3](url)) and #17670.

[2016-12-22 11:42] odulkanberoglu commented on #2384
Same issue behind corporate proxy. Tried out with both 1.8.1 and 1.9.0-insider.

[2016-12-22 11:46] sqnkov opened #17726 "[scss] Selector autocomplete adds additional colon upon completion."
- VSCode Version: 1.8.1 (November Recovery)
- OS Version: Windows 10 Home

Plugins:
SASS lang
SCSS Intellisense

Steps to Reproduce:

1. Add ```&:``` and start typing your special selector.
2. Press Enter to select.

![ardsvl5alm](https://cloud.githubusercontent.com/assets/9406520/21424653/ea745f94-c84c-11e6-953d-59f34d27f9e4.gif)

I don't know if this is considered an issue(be it thus personal pr

[2016-12-22 11:46] Sephizor commented on #17724
I literally searched for "hot exit language mode" and it returned 0 results. Sorry :-1:

[2016-12-22 12:19] tinganho opened #17728 "VSCode URI scheme"
It would be awesome if VSCode can support URI scheme:

[code]

So if you click on any link on your computer it can open a file on VSCode and position the cursor on the correct line and column.

I used this on sublime https://github.com/asuth/subl-handler before together with SASS debug info before sourcemaps was supported to jump back to Sublime Text for debugging CSS.

There is still some good us

[2016-12-22 12:23] vfloyd6 commented on #17661
Ok and now it's slow again ... I can't find what is messing the things up. But I tried to look a bit deeper and I can see that the process Microsoft.VSCode.CPP.Extension.exe is loading a bit the CPU when I ctrl-click a symbol. It takes about 13% of the CPU which indicates that it is well this process who work. I've watched the file handles opened by this process when I ctrl-click a symbol and it l

[2016-12-22 13:04] stormherz commented on #17341
Was wondering the same thing - is it possible to disable this behaviour?

[2016-12-22 13:08] egamma commented on #17724
Thanks @mrmlnc

duplicates #17115 (and is already fixed)

[2016-12-22 13:08] #17724 closed

[2016-12-22 13:10] egamma commented on #17714
Thanks @ywmail

[2016-12-22 13:10] #17714 closed

[2016-12-22 13:14] egamma commented on #17687
@ronangaillard ⌘+P is one of the most popular short cuts of VS Code and I haven't seen reports from other OS X users having issues with it. Could it be that there is an issue with the ⌘+P key? Does this short cut work in other applications?

One option is to define another keybinding in `keybindings.json`

[2016-12-22 13:18] egamma commented on #16963
The Go extension isn't shy to spawn new processes, e.g., on hover, which can result in increase memory consumption.

@thewhitetulip can you confirm that you only saw this problem when developing Go code?

Assigning to @ramya-rao-a for further investigation in the Go extension.

[2016-12-22 13:24] egamma commented on #17447
@sivaecekrr

No, we do not recommend to run VS Code with admin rights.

[2016-12-22 13:25] jrieken opened #17729 "Save on focus out doesn't work for new files"
* use `"files.autoSave": "onFocusChange",`
* create a new file in the explorer
* make changes, notice it is dirty
* move focus out (editor or vscode)
* 🐛 the file stays dirty

[2016-12-22 13:28] sivaecekrr commented on #17447
But when i run with elevated access integrated terminal is working.
Is there any path where error logs getting generated ??

[2016-12-22 13:30] egamma commented on #17627
@tomdavidson got it. You are asking that the VS Code TypeScript formatter settings support to honor or refer to the formatting settings from a tsfmt.json or tslint.json file.

[2016-12-22 13:31] matthewrk commented on #12831
@bpasero thanks for your work! I really hope that's cmd+shift+] for next tab though, rather than [ as you quoted...

[2016-12-22 13:34] egamma commented on #17636
@kooboo-chenhai are you saying this is now working for you and the issue can be closed?

[2016-12-22 13:40] egamma commented on #17661
@vfloyd6 thanks for following up. I'm trying to narrow this down to a particular extension that is causing the slow down. We the VS Code team always work with many extensions that provide rich language support and that run in separate processes (.js, .css, .json, .html) and we do not experience this slow down.

When the slow down happened the last time, did you exclusively work with C++?

Notice t

[2016-12-22 13:44] chrmarti commented on #17718
@sergej-s Did it work in previous versions of VSCode?

[2016-12-22 13:46] egamma commented on #17709
@horserma thanks for your issue report, python support is provided by an extension. Please file the issue report against the repository of the extension https://github.com/DonJayamanne/pythonVSCode/issues.

[2016-12-22 13:46] #17709 closed

[2016-12-22 13:48] JosephWoodward opened #17730 "Question regarding interoperability with an external C# service"
I'm currently building an extension to support .NET Core development (via Roslyn) in VS Code that needs to talk to a .NET Core service I've created and I have a few questions around the best approach given VS Code's extension capabilities.

First of all, what kind of model does VS Code provide to support such a task. I see VS Code has a concept of a language server. In my scenario would I create a

[2016-12-22 13:48] egamma commented on #17695
FYI @jrieken

[2016-12-22 13:48] shanalikhan opened #17731 "Code Works very slow with large JSON files"
- VSCode Version: 1.8.1
- OS Version: Windows 7

Code now gets hang when handling large files, works really slow tab change , selecting any text from the file, adding anything !
It was fine fine before but after the update the large files doenst work as expected.
Sample file is the JSON file with the lines about 242846 lines.

Tried with 1.9 insiders, same problem!

[2016-12-22 13:50] egamma commented on #17691
@benguenter what is your use case for changing the default location of extensions?

[2016-12-22 13:51] vfloyd6 commented on #17661
I was working with 3 plugins enabled : C/C++, Language cupport for Java by redhat and Python.

The problem is that sometimes the ctrl click is very reactive and sometimes not. Even if I don't change the configuration, the plugins enabled etc etc ...

Yes that's what I thought. I have maybe an idea why the slow down doesn't happen when I have only C/C++ installed. C/C++ bases his search on the incl

[2016-12-22 14:00] chrmarti commented on #17718
@louisnguyen1012 Could you check the console in the DevTools (Help > Toggle Developer Tools) for any messages?

[2016-12-22 14:16] #16603 closed

[2016-12-22 14:16] paulovlobato opened #17732 "FullScreen and mouse hover on debian jessie 8.6"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:41:20.664Z)
- OS Version: Linux x64 3.16.0-4-amd64 (Debian Jessie 8.6)
- Extensions:

|Extension|Author|Version|
|---|---|---|
|format-indent|Kasik96|1.3.0|

---

Bug on Debian Jessie 8.6 while on fullscreen and mouse hover.
On fullscreen, when hovering the mouse in any option such as the language selector on the

[2016-12-22 14:23] jrieken commented on #17695
Tricky - in our API a code action is just any command and not necessarily a text edit, like fetch `d.ts` file etc. We should extend the API to return something more specific, like a WorkspaceEdit with a label. That would allow us to show a preview then

[2016-12-22 14:24] richvanrooyen commented on #17090
Ok...

Here is the detail from the output window...

It just keeps on pushing that out...

Version 1.8.1

[image: Inline image 1]

[Info  - 9:22:21 AM] Using tsserver from location: c:\Program Files
(x86)\Microsoft VS
Code\resources\app\extensions\typescript\node_modules\typescript\lib\tsserver.js
[Trace - 9:22:22 AM] Sending request: configure (0). Response expected:
yes. Current queue length: 0

[2016-12-22 14:38] bartmao opened #17733 "Cannot set break point from the sidebar"
- VSCode Version: 1.8.1
- OS Version: Ubuntu 16.04.1 LTS

Steps to Reproduce:

1. Upgrade my VSCode to 1.8.1 or uninstall the order one and reinstall the newest. Both tried.
2. The code window sidebar become narrower and cannot set break point anymore. See the snapshot attached below.
![untitled](https://cloud.githubusercontent.com/assets/4489728/21428776/ba536e50-c896-11e6-96a0-ff4cd29a3278.png)

[2016-12-22 14:40] isidorn commented on #16929
@bgashler1 can you please increase the size of our debug stop icon to be the same size of our disconnect icon?

it just needs a bit of height
Here is the location of the current icons https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/browser/media/stop.svg#L12

[2016-12-22 14:55] devrelm commented on #15097
For what it's worth, I'm not having this trouble anymore since 1.8.

[2016-12-22 15:09] DustinCampbell commented on #17730
@JosephWoodward: You could certainly implement the language server protocol to provide language support for C# if that's your goal. For OmniSharp, take a look at the C# extension at https://github.com/OmniSharp/omnisharp-vscode. OmniSharp does not yet implement the language server protocol, so the C# extension must communicate with it via OmniSharp's protocol.

On a different note, we're always ha

[2016-12-22 15:10] fadeevab opened #17734 "[make] Could you add *.mk file extension to be highlighted as a Makefile into default VS Code distribution?"
- VSCode Version: 1.8.1
- OS Version: Ubuntu 14

The request is to make *.mk file extension to be highlighted as a Makefile by default. Now only "Makefile" filename is highlighted.

Information about *.mk extension: https://www.file-extensions.org/mk-file-extension

Of course I use settings to add *.mk to be treated as Makefile, but I think it worth to make it by default.

Thank you a lot!

[2016-12-22 15:21] #16804 closed

[2016-12-22 15:28] pharmmd-rich commented on #17330
@bpasero yes, sorry, I meant to follow up on this earlier, but it's quite busy for us right now.  It is the recently opened files, is there any way to turn this off?

[2016-12-22 15:35] calebmer opened #17735 "Word wrap only in Markdown files"
When I write my code, I want word wrapping to be disabled. When I write Markdown, I’d like to configure word wrapping at 80 characters. Is there a way to create different editor configurations for different file types?

[2016-12-22 15:46] sqnkov opened #17736 "Don't Show TSC Version Warning When Editing JS Files"
- VSCode Version: 1.8.1 (November Recovery)
- OS Version: Windows 10 Home

Steps to Reproduce:

1. Write javascript (not TS, just vanilla JS) for a random period of time.
2. Save your work occasionally.
3. Watch the error info with amusement.

I have been coding for like a full workday now and I just got an error stating the following:

![vscd](https://cloud.githubusercontent.com/assets/9406520/21

[2016-12-22 15:54] drKnoxy opened #17737 "Opening command palette doesn't work when go to file palette is open"
- VSCode Version: 1.9.0-insiders
- OS Version: mac 10.12.1

Steps to Reproduce:

1. open vscode
2. open go to file palette with `cmd+p`
3. type `cmd+shift+p` to open the command palette
4. *expect* opens command pallete
5. *err* opens the last file in the go-to file palette

[2016-12-22 16:02] ollymg opened #17738 "Vertically split code editor and integrated terminal"
Feature request for the ability to split the code editor and the integrated terminal vertically so that they are side-by-side.

[2016-12-22 16:05] eric-brunel commented on #17574
I switched from 1.2.1 to 1.8.1 and marketplace extensions lookup did not work anymore with following error in console log:
Failed to load resource: net::ERR_TUNNEL_CONNECTION_FAILED
When checking ajax request, proxy data are not provided.

[2016-12-22 16:13] #16632 closed

[2016-12-22 16:17] isidorn opened #17739 "Handle errors from debug adapter when fetching sources"

[2016-12-22 16:17] isidorn commented on #17073
Created https://github.com/Microsoft/vscode/issues/17739 for me, Ben said he will look into output -> unassigning myself

[2016-12-22 16:22] SamVerschueren opened #17740 "Code Helper is spiking to 100% CPU usage"
- VSCode Version: 1.8.1
- OS Version: macOS Sierra

<img width="690" alt="screen shot 2016-12-22 at 17 20 01" src="https://cloud.githubusercontent.com/assets/1913805/21432280/09d1e8de-c86b-11e6-9bb6-6b98a92ca7c9.png">

This happened a couple of times today. I always kill them and restart VS Code. After a while they are coming back.

Couldn't find an issue yet but noticed on twitter that some peopl

[2016-12-22 16:27] ronangaillard commented on #17687
@egamma you're right that it is weird that no one else has this issue.

Affecting the shortcut to `⌘+M` works.

What is also weird is that the shortcut `⌘+P` worked before update, and that the P key and command key are working well.

[2016-12-22 16:33] charlespierce commented on #14464
I'm interested in tackling this feature request. From a quick look, it appears to be relatively straightforward, but I'm curious if there are any potential pitfalls that immediately jump out to be aware of?

[2016-12-22 16:36] joejank commented on #2806
Great to hear this work is in scope - for those of us using larger monitors - controlling the use of screen space is key

[2016-12-22 16:37] benguenter commented on #17691
Excellent, thankyou @alefragnani that helps.

@egamma The reason I am looking for this is because at my workplace there is an applocker policy restricting programs/scripts from running in the appdata directory for security reasons. I was able to get around it by creating a symlink to a separate folder that was allowed but the config is a better solution.

[2016-12-22 16:40] calam1 opened #17741 "vim stops working"
- VSCode Version:1.8.1
- OS Version:osx 10.12.2

Steps to Reproduce:

1. I have installed different versions of the vim plugin vim and amvim
2. I use the command line to open vim , i,e, code .
3. After interacting with a file, and typically moving around the file using the h, j, k, and l keys the editor no longer allows me to edit.  I can still move around using the arrow keys, but I can no longer

[2016-12-22 16:49] DavidA2014 commented on #5953
Is printing support still on the backlog?  It is tedious to have to switch temporarily to another editor just to print.

[2016-12-22 17:42] roblourens commented on #17740
Can you show the output of this command: `ps -eo pcpu,user,pid,command | grep Code` so I can see which helper processes are using excess CPU?

[2016-12-22 17:54] una commented on #14012
its really not that big -- 132 files, 578 KB, and takes over 10 seconds on average

[2016-12-22 18:01] roblourens commented on #7683
@rdewolff Can you open a new issue for that? That's a new issue and I'd like to look into it when I have time.

[2016-12-22 18:06] plievone commented on #17191
It is common to have some import related problems at the top of the file during development, and now F8 always jumps to the top of the file when fixing problems down below. I guess this regression is a major one for many, I personally suffer this all the time as I find I'm memorizing how many times F8 needs to be pressed to arrive at the location at hand.

[2016-12-22 18:07] roblourens commented on #7683
Also it would be very helpful if you run with `"diagnosticLogging": true`, then include the full log file from the path printed at the top of the console.

[2016-12-22 18:11] roblourens commented on #14012
Yeah, I would expect that to be searched nearly instantaneously in Code at this point too. Can you check whether other folders are faster, or whether there's something about this particular folder?

[2016-12-22 18:27] gmaggess opened #17742 "Performance issue trying to handle JSON files >500kb"
- VSCode Version: 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281)
- OS Version: MacOS Sierra

Steps to Reproduce:
1. Open JSON file of reasonable size >500k
2. Scroll file up and down or try to fold code.

[2016-12-22 18:32] SamVerschueren commented on #17740
I will let you know more tomorrow when it happens again.

[2016-12-22 19:39] cherealnice opened #17743 "alt+click on directory should recursively collapse directories"
- VSCode Version: 1.8.0
- OS Version: OSX 10.12.2

Steps to Reproduce:

1. Open several directories within a project
2. alt+click on parent does not collapse them all

I know this is a minor issue, but it is very difficult to navigate larger projects with all directories displaying as open.

[2016-12-22 19:41] queston02 commented on #17056
Any Updates?

[2016-12-22 19:49] ntravis opened #17744 "Save new file without extension fails"
- VSCode Version: 1.8.1
- OS Version: Windows 10 Version 1607 OS Build 14393.576) (as up-to-date as is reasonable)

Steps to Reproduce:
1. create a new file
2. go to save dialog
3. change the `Save as type:` to `All Files (*.*)` and ensure that the name has no extension following it
4. click save
Results in "the file name is not valid" error.

Desired behavior is that you will be allowed to save t

[2016-12-22 20:03] Swift-R commented on #1477
Taking a while... :(

[2016-12-22 20:20] mrmlnc opened #17745 "[jade] Adaptation of autoClosingPairs and surroundingPairs for Jade extension"
- VSCode Version: 1.8.1 + 1.9.0
- OS Version: Windows 10

### Steps to Reproduce:

1. Write `.test(a=`
2. Press <kbd>'</kbd> or <kbd>"</kbd>

### Expected behaviour

Quotes will be closed.

### Actual behaviour

Quotes not closed.

![2016-12-22_23-19-56](https://cloud.githubusercontent.com/assets/7034281/21439109/30c76568-c89d-11e6-9388-6a5a588c3db6.gif)

[2016-12-22 20:23] izacsc opened #17746 "Auto Complete doesn't suggest snippets with TM_SELECTED_TEXT when selecting text."
- VSCode Version: 1.8.1
- OS Version: Windows 7

Steps to Reproduce:

1.  Add this snippet:
    "SurroundTest": {
        "prefix": "SurroundTest",
        "body": [
            "SurroundTest( ${TM_SELECTED_TEXT})"
        ],
        "description": "."
    }

2. Try to surround a word with ctrl+space:
![image](https://cloud.githubusercontent.com/assets/423449/21439148/8aab0b90-c873-11e6-9f1e-bd6c1

[2016-12-22 20:33] pandhersaab27 opened #17747 "Scrolling issues with precision touchpad."
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|csharp|ms-vscode|1.6.0|

---

Steps to Reproduce:

1. Open file from a VS project.
2. Scrolling of file is very jittery.

Steps to resolve:
1. Resize window by any means full screen using maximize button

[2016-12-22 20:35] stormwarning commented on #17740
Having the same issue. Here's the `ps` output:
[code]

[2016-12-22 20:42] shanalikhan commented on #17740
Yes facing such problem in Windows also.
Even for large JSON or any files having lines about 242846
Editor becomes very very slow and function performs after some seconds.
Opened issue  https://github.com/Microsoft/vscode/issues/17731

[2016-12-22 20:51] pcgeek86 commented on #15840
In the latest version of VSCode, version 1.8.1, the following changes were added:

* On Mac OS X, the `CMD + NUMPAD 0` keyboard shortcut is bound to `View: Reset Zoom`
* On Windows, the `CTRL + NUMPAD 0` keyboard shortcut is bound to `View: Reset Zoom`

Neither of these are usable though, because:

* The Macbook Pro does not have a numeric keypad
* Most Windows laptops don't offer numeric keypads

[2016-12-22 21:04] ReganRyanNZ opened #17748 "Add Git Autocomplete to terminal"
Pressing tab to autocomplete works for terminal commands like `cd` etc, but not for git commands (or git branches). This would be a great addition to VS code.

[2016-12-22 21:32] stealthybox commented on #17748
Hi,

This is an issue with how you've configured your shell -- not VSCode.
(my tab-completion works in VSCode)

It sounds like you're on a UNIX system -- git normally comes with a bash-completion file,
You need to tell your system to source it for it to work.

Please close this issue -- Thanks!

[2016-12-22 21:38] fazouane-marouane commented on #17574
Hi,

This is a duplicate of #17397
It's seems that it's due to electron update. Electron brought some good features regarding proxy-friendliness. So vscode should now act like any chrome instance and use the default proxy configuration on your computer. However, extensions installs still use the old node netfworking stack which requires defining "http_proxy".
I tried to debug this locally. I follo

[2016-12-22 22:20] Jonatino opened #17749 "Save Dialogues Show Up Before Editor Switch"
- VSCode Version: 1.9.0-insiders
- OS Version: Windows 10 Pro x64

Steps to Reproduce:

1.  Replace your doHandleDirty function inside of editorPart.ts with the following

[code]
2. Build code and get unsaved change prompt
3. You will notice the save changes prompt is opened before it switches editors

Gif of issue: https://dl.dropboxusercontent.com/u/91292881/ShareX/2016/12/2016-12-22_17-20-14.gi

[2016-12-22 22:34] chrmarti commented on #17740
@stormwarning In your case Sass Lint's server is using a lot of CPU cycles. Could you uninstall this extension and see if that solves the issue?

[2016-12-22 22:35] roblourens commented on #17740
@stormwarning In your case it looks like a process belonging to the sass-lint extension is busy. You may want to file an issue on them. Probably not the case for everyone.

When there are multiple equally busy processes, I'm worried that they are our search worker processes, since we now run search in multiple processes.

[2016-12-22 22:45] stormwarning commented on #17740
Thanks for the help—disabling sass-lint does seem to have solved my particular issue. I'll file an issue with the extension. 👍

[2016-12-22 23:13] smuuf commented on #16204
***Please.***

[2016-12-22 23:18] roblourens opened #17750 "Diff editor "revert selected lines""
There's probably already a feature request for this but I can't find it.

I want to be able to select a change in the diff editor and revert it, same as how I can stage it. In SourceTree this is called "discard selected lines" although "revert" seems better, unless it's "discard selected changes".

I'm working on a PR for this.

[2016-12-22 23:31] LiuJoyceC commented on #68
Is there any way using that extension (or any other extension available) to view the diff between two branches? When there's a long commit history with a lot of different contributors and various branches, it's very tedious to go find out which commit corresponds to a given branch, and then scroll through the commit history to find that commit. Even when commit messages shown, it's difficult to ke

[2016-12-22 23:49] sprinkle131313 commented on #17612
If you are still having trouble reproducing I think I have something reproducible. Just to be sure it seems this is only a Windows issue.

1. Create the folder and file so that you have "root/folder/file.txt".
2. Open the "root" folder as the work space.
3. Open "file.txt" in the vscode editor using Ctrl+P, and typing file. Make sure it is not just temorarily opened, edit the file and save.
4. Clo

[2016-12-23 00:15] yajiex commented on #17660
1. Will there be 'edt four', 'edt five' and etc in the future?
2. If there were a prefix 'edt think`, what's the expected order for `edt three` and `edt think`?

[2016-12-23 00:18] intellix commented on #17156
ok so it seems to be caused by this: https://github.com/angular/vscode-ng-language-service

[code]

[2016-12-23 00:42] iryston opened #17753 "Broken keyboard shortcut "shift+cmd+e" on OS X El Capitan"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:42:49.304Z)
- OS Version: Darwin x64 15.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|beautify|HookyQR|0.6.2|
|minify|HookyQR|0.3.0|
|vscode-eslint|dbaeumer|1.2.2|
|theme-gruvbox-dark-medium|jdinhlife|0.0.6|
|vscode-icons|robertohuertasm|4.2.0|
|change-case|wmaurer|1.0.0|
|JavaScriptSnippets|xabiko

[2016-12-23 00:50] vadimcn opened #17754 "Intra-document links in extension Readme are broken."
- VSCode Version: 1.8.1
- OS Version: OSX

Steps to Reproduce:
1. Find an extension that uses intra-document links in its Readme (e.g. 'vscode-lldb').
2. Click on one such link.

Instead of taking you to the link destination, VSCode displays HTML source of "webview.html".

-----

Related: https://github.com/Microsoft/vscode-vsce/issues/118

[2016-12-23 01:24] omani commented on #122
I had the same issue. solved it with the option "--disable-gpu" when launching `code`.

[2016-12-23 01:28] Guedez opened #17756 "lines like " float depth = -0.00fg1f;" are not generating obvious syntax errors"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:41:20.664Z)
- OS Version: Linux x64 4.8.10-040810-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|unity-tools|Tobiah|0.1.9|
|unity-debug|Unity|1.1.0|
|unity-snippets|YclepticStudios|0.1.2|
|vscode-astyle|chiehyu|0.4.0|
|cs-syntax-visualizer|itn3000|0.0.2|
|csharpextensions|jchannon|1.1.0|
|docomm

[2016-12-23 02:14] chriskrycho commented on #3684
@alexandrudima, please see discussion the of defaults on macOS [here](https://developer.apple.com/library/content/documentation/Cocoa/Conceptual/EventOverview/TextDefaultsBindings/TextDefaultsBindings.html#//apple_ref/doc/uid/20000468-CJBDEADF), especially the section titled **The kill buffer**, which discusses the behavior of commands like `deleteToEndOfLine` or `deleteToBeginningOfLine`.

The be

[2016-12-23 02:46] caibirdme commented on #17291
met with the same problem.
* click check-for-update
* after downloading finished, click the restart
* vscode closed and nothing happened
* reopen the vscode by my own and the version is still 1.7.x

-----
I have no choice but to download a new version from ur website.but things even get worse.
when I click the check-for-update in 1.8, it reported an error: `could not create temporary directory: ac

[2016-12-23 02:46] wikinee opened #17757 "cannot find command workbench.action.tasks.runTask/taskName"
- VSCode Version:
    1.8
- OS Version:
    Ubuntu 16.04 LTS

Steps to Reproduce:

I check https://github.com/Microsoft/vscode/issues/981 from @danielschmitz says:
    { "key": "ctrl+shift+alt+o",          "command": "workbench.action.tasks.runTask/taskName" }
but not worked

[2016-12-23 02:47] yajiex opened #17758 "How to debug vscode with specific language configuration?"
I'm trying debugging a localized version of vscode built by myself. When I click `Launch VS Code` or use `scripts\code --remote-debugging-port=9222`, a instance of built vscode will be launched. However, its locale is `en` and even if I run `configure language` and change the `locale` to other values, it's still `en` after restarted.

Could someone point me to the right way? Thanks!

[2016-12-23 02:51] yajiex opened #17759 "How to inspect Command Palette?"
I want to use developer tools to inspect command palette view, however when I inspect the element in command palette and try expanding the elements in developer tool, the command palette would dismiss (obviously it's due to losing focus) causing the element html become cleared.

So what's right way to do that? Thanks!

[2016-12-23 03:07] QuietWind commented on #5400
@alexandrudima
thx your skill, thank you very much。

[2016-12-23 03:56] ugoa opened #17761 "[Feature Request] The command palette doesn't support Ctrl-n/Ctrl-p key binding for navigation."
- VSCode Version: 1.8.1
- OS Version: macOS Sierra

I love the Emacs keybindings on macOS, and the Ctrl-n/p for going up/down works almost everywhere on Mac, however the VSCode command palette doesn't support it, so everytime I have to use that tiny up/down keys to choose, which is quite inconvenient.
Please add this tiny feature and I will love VSCode much more! :1st_place_medal:
Cheers!

[2016-12-23 04:41] thewhitetulip commented on #16963
@egamma Well, I use Code only for Go programming :-) So I can't say for sure. But I will confirm by writing a python project using VScode too

[2016-12-23 05:41] kooboo-chenhai commented on #17636
no, i means the copy function always not work well when vscode has run some hours

[2016-12-23 05:59] mikemakepen commented on #17459
I add some items into translation file, there warnings are gone.

[2016-12-23 07:01] JDPT93 opened #17762 "PHP 7.X.X SUPPORT"

[2016-12-23 07:12] mohseenrm opened #17763 "Integration Tests of an extension test are failing"
- VSCode Version: vscode@1.0.3
- OS Version: 10.12.3 and Ubuntu 12.04.5 LTS

Steps to Reproduce:

1. npm install && npm run vscode:prepublish

npm@3.10.9
node@v6.9.2
nvm@0.32.0

Repo: https://github.com/mohseenrm/lit-it
Travis: https://travis-ci.org/mohseenrm/lit-it/jobs/186272789

Issue:
Tests run locally and pass. Same error on local machine though (mentioned MAC OS).
`npm ERR! Failed at the lit

[2016-12-23 07:43] xhonker commented on #17575
测试了下，只有在window 上有这个问题。苹果是没有的。 插件什么的都装一样的 window就是不行。

[2016-12-23 09:23] kumarharsh opened #17764 "Typing a closing curly brace in my code indents it"
- VSCode Version: 1.9.0-insider
- OS Version: Windows 10

Steps to Reproduce:

1. Open any JSX file
2. Type:
[code]
then, put cursor just after `'vs'`, and type another curly brace (`}`). Instant indentation which is not expected.

![bug](https://cloud.githubusercontent.com/assets/760112/21450747/8e962148-c91f-11e6-870d-6752d358e17c.gif)

[2016-12-23 09:48] isidorn opened #17765 "Hover for method signatures too aggressive"
1. debugViews.ts: 316, start typing the following line

[code]

Notice how the hover help appears for push and never goes away. I understand that I am still in the arguments of the push method but for me as a user this is very irritiating - especially since I know how to use the push method of an array.
Not sure how to best improve this - but I would be happy if I could at least disable this hover

[2016-12-23 09:52] egamma commented on #17764
Since this can be reproduced with the setting `"editor.formatOnType": false`, this looks like an issue on the VS Code side.

I suspect that our indent rules do not fully handle the `jsx` syntax with curly brackets inside a tag yet:
https://github.com/Microsoft/vscode/blob/master/extensions/typescript/src/typescriptMain.ts#L175

@alexandrudima knows all about the indent rules

[2016-12-23 10:00] egamma commented on #17762
@JDPT93 thanks for the feature requests pls follow our [issue reporting guide lines](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-great-issues-and-suggestions) and report one feature request per issue.

Duplicates #1046

[2016-12-23 10:07] egamma commented on #17759
Hi @yajiex such questions are best asked on stack overflow using the `vscode` tag.

Please see our issue [reporting guidelines](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#before-submitting-an-issue)

[2016-12-23 10:07] #17759 closed

[2016-12-23 10:07] robbertstevens opened #17766 "Editor scrolls to the top of the page when switching files"
- VSCode Version: 1.8.1
- OS Version: Windows 10

Steps to Reproduce:

1. Open editor
2. Open multiple files
3. Scroll down
4. Switch file
5. Switch back to first file

[2016-12-23 10:09] felixfbecker commented on #15818
The problem with PHP's on parser is that it is only able to parse code of the version it is running.

My language server has no problem with these

I have not met any performance issues with reparsing the document on every change.

Speaking of syntax errors, the next major issue would be error tolerance. If a parser choked at the first syntax error it saw as you typed, you would lose any symbols f

[2016-12-23 10:09] yajiex commented on #17759
@egamma, got it, thanks!

[2016-12-23 10:09] egamma commented on #17758
Hi @yajiex such questions are best asked on stack overflow using the `vscode` tag.

Please see our issue [reporting guidelines](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#before-submitting-an-issue)

[2016-12-23 10:09] #17758 closed

[2016-12-23 10:13] egamma commented on #17756
@Guedez what is the language are you using when writing the snippet `float depth = -0.00fg1f;`

[2016-12-23 10:16] JDPT93 commented on #17762
PHP7.X.X Support? @egamma

[2016-12-23 10:17] egamma commented on #17748
@stealthybox thanks for chiming, closing.

[2016-12-23 10:17] #17748 closed

[2016-12-23 10:23] egamma commented on #17744
NotePad handles this case by automatically adding a `.txt` suffix.

[2016-12-23 10:26] egamma commented on #17741
Please file the issue against the VIM extension that shows the problem. Our recommended VIM extension to use is https://marketplace.visualstudio.com/items?itemName=vscodevim.vim.

[2016-12-23 10:26] #17741 closed

[2016-12-23 10:29] egamma commented on #17738
duplicates #14909

[2016-12-23 10:29] #17738 closed

[2016-12-23 10:33] egamma commented on #17735
duplicates #1587

[2016-12-23 10:33] #17735 closed

[2016-12-23 10:36] MaxfieldWalker opened #17767 "WorkspaceConfiguration.update doesn't works inside deactivate method"
I'm developing an extension for vscode.

I want to save configuration value when vscode closed.
I tried to call `WorkspaceConfiguration.update` inside `deactivate()` of `extension.ts`, but the value seems not to be updated.

Is this a bug, or in the specifications?
Is there any other way to handle vscode closed event?

[code]

- VSCode Version: 1.8
- OS Version: Windows 10 Anniversarry Update

[2016-12-23 10:39] #16744 closed

[2016-12-23 10:39] buzzzzer opened #17768 "code --install-extension someext.vsix gives an exception, If the extension is already installed."
- VSCode Version: Code 1.8.1 (bac373f977096223c816e4342be3cd685e1c94d1, 2016-12-21T13:27:08.976Z)
- OS Version: Windows_NT ia32 10.0.14393
---
[code]
gives an exception, If the extension with same package version is already installed.

Steps to Reproduce:

1. code --install-extension anyext.vsix
2. code --install-extension anyext.vsix
[code]

[2016-12-23 10:40] isidorn commented on #16744
It should work fine now with the exception when a process is stopped.
Due to a timing issue in that case I just clear the selection and do not select the focused process

[2016-12-23 10:47] phamquocthang opened #17769 "Feature Request: Save language set on hot exit"
Currently when closing unsaved tabs with hot exit, the programming language applied for those tabs will be gone and code will display with no color. Please add the feature to keep language set on hot exit

[2016-12-23 10:52] mrmlnc commented on #17769
Please use search before submitting a new issue.

Duplicate of #17115, #17724, #17681, #17319, #17402, #17520, #17702 & e.t.c.

[2016-12-23 11:07] Julien-Mialon commented on #17740
Hello @roblourens

Having the same kind of issue with a csharp file (around 450 lines, ~20Ko). Also running on mac os x, last version of vscode.
Here is the result of the command ```ps -eo pcpu,user,pid,command | grep Code```
[code]

[2016-12-23 11:07] eamodio commented on #17629
@dbaeumer I've been able to repo this using the following:

`tasks.json`
[code]

`output.ps1`
[code]

Each time I run that task -- the output clears, but doesn't scroll at all. I am running powershell 6.0 alpha 13

Please let me know if I can provide any more details.

[2016-12-23 11:19] isidorn commented on #16744
Ignore my previous comment - that should also work now via 91f4651

[2016-12-23 11:20] calebmer commented on #1587
Also nice for word wrapping in markdown or HTML files, but not code. A great improvement for developers who write a lot.

[2016-12-23 11:24] emilekberg opened #17770 "Import intellisense bug for some packages"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|tslint|eg2|0.7.1|
|csharp|ms-vscode|1.6.1|
|debugger-for-chrome|msjsdiag|2.4.1|
|vscode-format|ryannaddy|0.0.6|
|shader|slevesque|0.2.2|
|shader-toy|stevensona|0.1.8|

---

Steps to Reproduce:

1. Install

[2016-12-23 11:50] jrieken commented on #15455
@shanalikhan re https://github.com/Microsoft/vscode/issues/15455#issuecomment-268538876 did that work for you, did you get some measurements?

[2016-12-23 11:55] mattacosta commented on #15818
@felixfbecker There's nothing wrong with those projects, it's just that we may have different design goals and/or requirements to meet.

Also, it's not that generated parsers can't collect errors, it's that from a user's perspective, some of those errors might show up in inappropriate locations or have confusing messages when shown within an IDE. With custom parsers, it's easier to apply custom lo

[2016-12-23 12:25] danjoa commented on #3352
👍 definitely, would help so much

[2016-12-23 13:26] Thaina opened #17771 "Are there a way to make unclickable label in completion list?"
I wish I could make some extension for intellisense in C#. It is a monodevelop's feature that let completion list sort the members by type hierarchy. And it also has label of each type that would not react to clicking

![image](https://cloud.githubusercontent.com/assets/1042507/21454744/79d9c0f6-c94d-11e6-8fe5-8ee6739fc7ff.png)

So how I could add a completion item that being just a label and woul

[2016-12-23 13:40] sideeffffect commented on #17655
IntelliJ IDEA already has something like this, even better, because it has syntax highlighting. They call it [Change Markers](https://www.jetbrains.com/help/idea/2016.3/change-markers.html):

![](https://www.jetbrains.com/help/img/idea/2016.3/changeMarkerToolbar.png)

![](https://www.jetbrains.com/help/img/idea/2016.3/highlight_change.png)

[2016-12-23 13:47] #16761 closed

[2016-12-23 13:47] #16809 closed

[2016-12-23 13:48] lmmfranco opened #17772 "Copy/Cut and Paste are broken"
- VSCode Version: 1.8.1
- OS Version: Windows 10 / Ubuntu 14

Steps to Reproduce:

1. Type some lines of text:
[code]
2. Select `bbbbb` and copy/cut it
3. Delete all lines with `shift+del` _(arrow up, shift+del x3)_
4. Paste what you got on clipboard

Found result:
[code]

Expected result:
[code]

This is so frustrating while coding.

[2016-12-23 13:52] isidorn commented on #16809
I have changed the behavior that we only automatically focus stack frames if no other stack frame is focused (stopped).

Joh had a point that it would be otherwise impossible to debug a multi clustered program which might stop as many times at arbiatary times and then you would always loose focus.
Also bein overly smart and automatically changing focus can screw with the user's expectation of what

[2016-12-23 13:52] cori opened #17773 "VS Code allows external file changes to overwrite current file state"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 6.3.9600
- Extensions:

|Extension|Author|Version|
|---|---|---|
|xml|DotJoshJohnson|1.6.1|
|csharp|ms-vscode|1.6.1|
|qub-msbuild|qub|0.5.0|

---

As noted by several people at http://stackoverflow.com/a/30083688/8151 I've had numerous experiences where file changes trigg

[2016-12-23 13:56] jrieken opened #17774 "Workbench screen cheese"
Not yet sure how it happens, but today I ended up a couple of times with a workbench that looks as shown below. The last time it happened after expanding `OPEN EDITORS` but it doesn't repo just like that...

![screen shot 2016-12-23 at 14 54 52](https://cloud.githubusercontent.com/assets/1794099/21455362/f67a6da0-c91f-11e6-97a7-c52b94b74f93.png)

[2016-12-23 14:01] lmmfranco commented on #17772
Just realized `shift+delete` is tagged as "Cut". I feel dumb now.
Gonna remap my keys.

[2016-12-23 14:11] DavidBabel opened #17775 "Make the space for tabs configurable (min, max, normal)"
When i am using vscode with file icons activated on my 13' Macbook, i quickly get a problem with the number of tabs actually visibles.

<img width="1381" alt="capture d ecran 2016-12-23 14 16 08" src="https://cloud.githubusercontent.com/assets/5599375/21454811/bf9ae4f8-c91b-11e6-8f30-0e2d9bd52e54.png">

Especially for long file names in my project :

<img width="1084" alt="capture d ecran 2016-12-

[2016-12-23 14:11] SamVerschueren commented on #17740
It looked like it started happening after running `npm install` in the built-in terminal. Not sure though, could've happened because of something else.

[code]

[2016-12-23 14:15] isidorn commented on #17401
@Spown thanks for the suggestion, however went with the other approach of restarting refocusing the process on finish if the process was focussed before. This makes sense in general imho

Glad you like multi process debugging. Feedback welcome and writing concise issues is also appreciated :)

[2016-12-23 14:21] isidorn opened #17776 "openFolderButton code duplication"
There are 3 duplicates of creation of a `openFolderButton`
Can we move this code to some helper method so we do not have the same code duplicated 3 times?

![screen shot 2016-12-23 at 15 20 12](https://cloud.githubusercontent.com/assets/1926584/21455780/5db54bc2-c923-11e6-9205-65876c56ee40.png)

[2016-12-23 14:27] isidorn commented on #17776
Though we might not need this for debug soon since we might support no folder debugging

[2016-12-23 14:32] #16762 closed

[2016-12-23 14:38] Avol-V opened #17777 "Directory tree indent guides in File Explorer"
It's hard to navigate through project with complex directory structure.

Much better to look at something like this:

[code]

Instead of this:

[code]

[2016-12-23 14:50] egamma commented on #17772
@lmmfranco just to confirm, then it is OK to close this issue?

[2016-12-23 14:54] #16933 closed

[2016-12-23 14:58] Youngyang888 opened #17778 "提交失败"
- VSCode Version: Code 1.8.1 **[Unsupported]** (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:42:49.304Z)
- OS Version: Darwin x64 16.3.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|mithril-emmet|FallenMax|0.5.1|
|html-snippets|abusaidm|0.0.18|
|vscode-html-css|ecmel|0.0.30|
|vscode-JS-CSS-HTML-formatter|lonefy|0.2.2|
|code-beautifier|michelemelluso|1.6.2|
|debugger-for-chro

[2016-12-23 14:58] lmmfranco commented on #17772
Oh yeah, sorry.

[2016-12-23 14:58] #17772 closed

[2016-12-23 15:02] isidorn commented on #17299
The content of the output is coming from the python debug extension, can you please file this issue here https://github.com/DonJayamanne/pythonVSCode

Sorry for the slow reponse, this issue somehow fall through the cracks

[2016-12-23 15:02] #17299 closed

[2016-12-23 15:07] BillDenton commented on #17773
I also had this issue so reported #14298 (Show a warning when Files modified externally on disk). This is important with silent updating it is very easy to lose changes. I will often edit files in VS Code and also a diff tools (I use WinMerge) so that I can compare my changes with the previous version in SCM (ClearCase). It is essential that I don't lose changes in this process. I would like to be

[2016-12-23 15:09] egamma commented on #17770
@emilekberg in general please include snippets and screenshots that illustrate the problem and provide precise steps with snippets,  screenshots that illustrates a problem (see our [issue reporting guidelines](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions)).

Please confirm that this is the issue you intend to report:

- npm install pixi.js
- create a file test.js
- crea

[2016-12-23 15:14] egamma commented on #17778
@Youngyang888 you are reporting an issue for an unsupported version of VS Code, that is a version of VS Code that has an extension installed that patches VS Code.  We cannot provide support for patched versions.

Please reopen the issue when you can reproduce it with all extensions disabled.

[2016-12-23 15:14] #17778 closed

[2016-12-23 15:15] egamma commented on #17769
@mrmlnc thanks! Closing.

[2016-12-23 15:15] #17769 closed

[2016-12-23 15:21] vijayaraghavanramanan opened #17779 "Files don't open on double click"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 6.2.9200
- Extensions:

|Extension|Author|Version|
|---|---|---|

---

Steps to Reproduce:

1. Double click a php/css/js file
2. Observe that the program opens with "untitled.text"

Although the program opens via right click - both folders and individual files and also us

[2016-12-23 15:27] egamma commented on #17736
@sqnkov you have a globally installed version of typescript that doesn't match the typescript version that we bundle with VS Code. VS Code ships with the last official version of VS Code therefore `npm install typescript` would have been sufficient.

Having said this, the error message is confusing when you are editing a `.js` file where you typically do not use `tsc` and do not have TypeScript on

[2016-12-23 15:29] isidorn commented on #16692
What I recommend is to try to use a similar approach as the bash debugger, shown nicely in the gif here https://marketplace.visualstudio.com/items?itemName=rogalmic.bash-debug
This has also been the feedback from the user study @stevencl did, that the users are unware that the **program** is the imporant part in the `launch.json`. It would be great if we could experiment with using quick open for

[2016-12-23 15:40] bighomeyg commented on #16796
Same for me on OSX 10.12 with VS Code 1.8.1

[2016-12-23 15:42] jrieken commented on #17767
The API still calls in to the configuration service. Unsure tho if that is still alive

[2016-12-23 15:42] emilekberg commented on #17770
Sorry, i provided a video now, it includes full editor and you can see the structure there.
The tsconfig.json is standard, so is package.json with saved pixi.js and @types/pixi.js

https://www.youtube.com/watch?v=oSgdPsbaEO0

Steps to reproduce is:

1. npm init
2. npm install pixi.js @types/pixi.js
3. tsc --init
4. create file1.ts in a folder, (./src/file1.ts) containing a class:
[code]
5. create

[2016-12-23 15:43] jrieken opened #17780 "Insert snippet via keybinding"
We should allow inserting concrete snippets via a keybinding. For that we should utilise the newly added support for arguments and keybindings

[2016-12-23 15:47] egamma commented on #17779
This is the expected behaviour, we intentionally do not register VS Code as the default open handler. You as a user can configure this using `Open With>Choose Another App`.

![image](https://cloud.githubusercontent.com/assets/172399/21457390/4653d55a-c92f-11e6-902d-cf2ab89fdcbf.png)

@joaomoreno pls correct me if needed.

[2016-12-23 15:48] egamma commented on #17770
@emilekberg thanks for the additional info.

[2016-12-23 15:51] jrieken commented on #17746
This happens because IntelliSense always filters suggestion against the word at cursor. Because `word` and `SurroundTest` have nothing in common (no matches) it is filtered.... Not yet sure what to do about this, it's kind of as designed

[2016-12-23 15:55] #16109 closed

[2016-12-23 15:55] egamma commented on #17636
@kooboo-chenhai thanks for your reply.

@peng what does the error message in the screenshot say, can you pls help to translate.

[2016-12-23 15:58] egamma commented on #17547
Closing for now since no additional information was provided.

@lemontree2000 pls reopen the issue when you have added more information.

[2016-12-23 15:58] #17547 closed

[2016-12-23 16:01] egamma commented on #17687
Assigning to @bpasero he might have other ideas what is going on.

[2016-12-23 16:06] #17693 closed

[2016-12-23 16:07] egamma commented on #17697
// fyi @bpasero

[2016-12-23 16:12] egamma commented on #17730
Thanks @DustinCampbell for chiming in. I think this covers the question and I'm closing the issue.

[2016-12-23 16:12] #17730 closed

[2016-12-23 16:14] isidorn commented on #285
Ok let's do this, moving to January for exploration.
Was thinking a bit about this, imho we have two options:

### 1. Have a shared "launch.json" in a user folder which is used for all no-folder workspaces

* same experience as setting up regular debugging, all improvment which we do for `launch.json` will also benefit no folder debugging
* lets user customize to fine grained details for each no f

[2016-12-23 16:16] egamma commented on #17731
@shanalikhan can you attach the JSON file that causes the problem.

[2016-12-23 16:17] vijayaraghavanramanan commented on #17779
This was not the case some versions back ... don't remember which.

![vs code](https://cloud.githubusercontent.com/assets/13736892/21457993/3d19d24e-c959-11e6-9acb-a66f3b610875.png)

This is what I see. Why can I assign any editor to open it that way but not VS Code?

[2016-12-23 16:17] isidorn commented on #17733
Open your settings and remove
`"editor.glyphMargin": false`

[2016-12-23 16:17] #17733 closed

[2016-12-23 16:18] egamma commented on #17715
@Insane-neal can you please add a screenshot that illustrates the problem?

[2016-12-23 16:24] egamma commented on #17708
@danielnieto this is not a message from VS Code and it must come from an extension. Suggest that you selectively disable the extensions you have installed to find the extension and then report the issue against this extension.

You can disable and extension from the Extensions Viewlet:
![image](https://cloud.githubusercontent.com/assets/172399/21458156/888f5a34-c934-11e6-84ad-347dc1bef6a3.png)

[2016-12-23 16:24] #17708 closed

[2016-12-23 16:28] egamma commented on #17704
This issue was moved to OmniSharp/omnisharp-vscode#1083

[2016-12-23 16:28] #17704 closed

[2016-12-23 16:29] izacsc commented on #17746
Yeah... I figured it out. But I suppose the correct behavior would be suggesting the templates which use the TM_SELECTED_TEXT when seletcing text and the same for the other variables... ( word and line). Maybe a different comand for inputing these kind of snippets?

[2016-12-23 16:34] roblourens commented on #17740
@Julien-Mialon Yours is just the main vscode renderer process. Is there something in particular you did to trigger it?

@SamVerschueren Yours looks like a language server from the extension Google.ng-template, can you file an issue on them?

[2016-12-23 16:41] egamma commented on #17766
@robbertstevens I cannot reproduce this issue given the above steps, , see the animated gif below, can you please add an animated gif that illustrates the problem.

![scroll](https://cloud.githubusercontent.com/assets/172399/21458479/f8360372-c936-11e6-9fb5-f4ddcf169dc6.gif)

[2016-12-23 16:56] BrandonRice opened #17781 "User Defined Snippets not working"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.0.18|
|vscode-color|anseki|0.2.2|
|asp|ilich8086|0.0.1|
|htmltagwrap|bradgashler|0.0.3|
|vscode-html-css|ecmel|0.0.30|
|vscode-npm-script|eg2|0.1.4|
|vs-code-xml-format|fabianlaue

[2016-12-23 17:01] Julien-Mialon commented on #17740
@roblourens Just opening a file (a file in particular, I tried 4 or 5 times and every time vscode get stucked)

[2016-12-23 17:05] cjun714 commented on #10281
I think vscode(or its dependant lib) has issue on handling code path, when using git from msys2 or cygwin.
For example:
1. When project path is  Z:\proj,  and
2. git.exe in D:\tool\msys64\bin,
vscode will apear error of "ENOENT: no such file or directory, lstat 'D:\z'"

mklink /j "D:\z" z:  can resolve this, and then any other projects in z:\  or sub directory in z:\ like z:\projects\proj1 will al

[2016-12-23 17:40] mohsen1 opened #17782 "Add a close button to conditional breakpoint UI"
- VSCode Version: 1.8.1
- OS Version: macOS

Steps to Reproduce:

<img width="979" alt="screen shot 2016-12-23 at 9 38 47 am" src="https://cloud.githubusercontent.com/assets/543633/21459509/a28fd1f2-c8f3-11e6-9de8-0d9223427af8.png">

After opening add conditional breakpoint dialog, the only way to close it is to focus in the text input and hit escape key.

It would be nice if there  was a little x

[2016-12-23 17:50] michaeljcalkins commented on #12473
![screen shot 2016-12-23 at 9 48 07 am](https://cloud.githubusercontent.com/assets/8272012/21459654/16ea6ec6-c8f5-11e6-9d4d-67632a921b35.png)

This fixed the issue for me.  I just had the wrong color profile on my monitors I guess.

[2016-12-23 17:57] aluanhaddad commented on #17480
@egamma based on the discussion in Microsoft/TypeScript#10895 it seems like this was only intended to apply to inferred JavaScript projects.

[2016-12-23 18:50] emilekberg commented on #17770
Short update, it does not seem to happen when running js. i thought it might due to the automatic type acquisition, but it works as intended, for me at least.

[2016-12-23 18:52] akcorp2003 commented on #17574
@fazouane-marouane How do I get to product.json file in the UI?

[2016-12-23 18:53] cori commented on #14298
As a clarification, _simply_ showing a warning (and **then** overwriting the file?) doesn't really capture the spirit of the problem here, so the resolution needs to do more then just show a warning - it also needs to keep control over what subsequently occurs in the hands of the user, not the application, by virtue of a prompt or something.

[2016-12-23 19:39] shanalikhan commented on #17731
File contains SAP client data so i dont think it would be feasible to share the file.

[2016-12-23 19:44] FabianLauer commented on #12473
@michaeljcalkins Works for me too, awesome, thanks!

[2016-12-23 19:55] roblourens commented on #17740
Just this file? Can you share the file?

[2016-12-23 19:56] roblourens commented on #17740
Also you can try launching with `code --disable-extensions` and checking whether it still happens?

[2016-12-23 20:00] atombender commented on #15411
@jrieken I encountered another problem which I'm not sure whether is a regression or something specific to snippet handling, or what. With `vscode-go` I'm not seeing the fallback to simple string matching if I type `func` before what I'm autocompleting. For example, this works:

[code]

Whereas this doesn't:

[code]

Is this snippet functionality (`func` is a snippet) interfering with autocompleti

[2016-12-23 20:08] wellrootedmedia opened #17783 "Could not read project.json, please try again."
- VSCode Version: 1.8.1 (1.8.1)
- OS Version: 10.12.2

Steps to Reproduce (on mac):

1. cmd + p
2. &gt; nuget: add new package
3. type "mongo" and select "mongocsharpdriver"
4. select the version
5. error displays "Could not read project.json, please try again."

I do have a "project.json" file in the project too.

screenshots:
project.json - https://imgur.com/a/QC5P9
video of error - https://yout

[2016-12-23 20:08] hanpari opened #17784 "Keyword exception is not highlighted for F# files"
- VSCode Version:
1.8.1
- OS Version:
Win10
Steps to Reproduce:

1. open *.fs or *.fsx
2. write
    exception MyError of string

[see here](https://docs.microsoft.com/cs-cz/dotnet/articles/fsharp/language-reference/exception-handling/exception-types)

Type exception should be highlighted as in reference page

[2016-12-23 20:16] atombender opened #17785 "With multiple cursors, autocompletion suggests what you're already typing"
- VSCode Version: 1.8.1

Steps to Reproduce:

* Create document (EDIT @egamma `Plain Text`) with this content:

[code]

* Use Cmd-D to mark both instances of `hey`
* Press `f`
* First autocompletion will be `f`, not `foobar`. This is because it matches itself.
* Press `o`. Autocompletion dropdown disappears. This is due to #4911.
* Press `o`. First autocompletion will `foo`, not `foobar`.
* And so

[2016-12-23 20:19] wellrootedmedia commented on #17783
I found this solution, http://stackoverflow.com/questions/40558718/how-to-access-nuget-repository-from-net-core-using-visual-studio-code/40558979#answer-40558979 but doesn't seem complete...

[2016-12-23 22:23] pmhoudry commented on #13665
I got the same frequent error on a samba share via virtualbox host only network.

[2016-12-23 22:40] Uristocles commented on #1515
Notepad++ handles this perfectly.Usually I'm not a fan of copy-cats but this is no time to be original with something that is already proven to work perfectly haha.
Just copy the way n++ does it.  :-)

      From: dvlsg <notifications@github.com>
 To: Microsoft/vscode <vscode@noreply.github.com>
Cc: Uristocles <alexnguyen@yahoo.com>; Comment <comment@noreply.github.com>
 Sent: Thursday, December 8

[2016-12-23 22:45] restes commented on #9972
@AnimaMundi I'm trying to follow an Angular 2 course on Udemy. It wasn't until I found your solution, I couldn't concentrate on the course because Intellisense wasn't working like the video shows.

Good stuff!
Thanks

[2016-12-23 23:11] danielnieto commented on #17708
thank you, I will try that

[2016-12-23 23:22] fazouane-marouane commented on #17574
@akcorp2003 Actually this was to be able to debug the process of installing extensions and to be able to understand the rootcause of the problem. It's unfortunately not a fix 😞

[2016-12-23 23:40] joh commented on #17608
Suspect I was mentioned here by mistake (I have no affiliation with this project).

[2016-12-24 01:05] Tsmith18256 commented on #1896
As a followup to my comment before about it working if the scaled monitor is the primary, I am noticing an issue that either wasn't happening or I wasn't noticing before. I have a file that is displaying very sharp, but when I scroll down 1 notch it goes blurry. It's alternating between blurry and clear every time I move one notch on the scroll wheel.

It seems to be doing this at any font size.

[2016-12-24 02:45] bartmao commented on #17733
is the default setting, right? I didn't change overwrite it and checked it's true currently. However the break point still cannot be inserted.

[2016-12-24 02:59] azu opened #17787 "Markdown Incorrect Colorization of Fenced Code Blocks"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:42:49.304Z)
- OS Version: Darwin x64 15.6.0

Put some text before fenced Code Blocks and break syntax highlight of code block.

**OK**:

    # Arbitrary Piece of code

[code]

![test md - vscode-textlint-example 2016-12-24 11-54-29](https://cloud.githubusercontent.com/assets/19714/21464907/c4bdbbb8-c9cf-11e6-9d58

[2016-12-24 03:25] AnimaMundi commented on #9972
@restes You should not need to do this anymore, I was able to remove this configuration from my workspace settings a couple of releases ago and I now get full support for TypeScript 2.x from VS Code without any extra configuration. Nonetheless I'm glad to have helped.

[2016-12-24 03:40] bartmao commented on #17733
I changed to 1.7.2 still having this issue. While changed back to my last version 1.4, everything goes back to normal:)

[2016-12-24 03:51] etoah commented on #367
+1

[2016-12-24 04:13] LiPengfei19820619 commented on #17608
Would you please add "provide setting file text encoding API to extensions" to the plan?
Thanks.

[2016-12-24 05:15] buu700 commented on #16073
Not sure if it's the same root cause or an entirely different issue, but I've been running into exactly these symptoms again (with no extensions enabled) since the 1.8.1 update.

[2016-12-24 06:37] anacondaqq commented on #15727
I saw Electron & VSCode source code, and i think my request will be very hard to implement...
This is so bad... 😿

[2016-12-24 07:17] suryanu opened #17788 "EveryThing Is Good Except Live Preview"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14986
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-livescript-preview|eheitherd|1.0.1|
|mithril-emmet|FallenMax|0.5.1|
|live-html-previewer|hdg|0.0.1|
|vscode-angular2-emmet|jakethashi|1.0.9|
|Angular2|johnpapa|1.0.2|
|html5-boilerplate|sidthesloth

[2016-12-24 07:30] srw962 opened #17789 "Ctrl+F2 have some wrong"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 6.1.7601
---
when edit large than 1000 lines, Ctrl+F2 can't select all words in the editor.
for example: a file that have more than 1000 lines and the first word of each line is same, when Ctrl + F2 , only 999 words of the first 999 lines was selected.
When the same opera

[2016-12-24 07:47] BarryWheeler opened #17790 "Telemetry questions"
Hi!

I have a few questions related with telemetry, embedded into VSCode:

1. We know that VSCode have telemetry, but when disabled, is it stays completely silent or sends "opt-out" signal to servers? Atom works like this, until telemetry package is completely removed (as they says, not tested by myself).

2. May be it will be a good idea to ask user about "opt-in" for telemetry, instead of "opt-o

[2016-12-24 08:24] pageborn commented on #17564
+1 , i also hope so, it would be useful, pasting files from local.

[2016-12-24 08:55] RookieDay commented on #15885
@alexandrudima
hi alexandrudima,
I still have this issue now, if you can try to reproduce this issue as above comment i added ?

Thank you.

[2016-12-24 09:06] gyansoft786 commented on #9211
specially in entity framework core, lots of commands requires **nuget package manger console**,
e.g.  install entityframework, update-database, migrations etc.
Most of tutorials on ASP.NET Core uses NPM, specially for database (entity framework).
A windows user can easily download VS Community version and use NPM Manager.
But what about mac and linux user.
Yes i know there are alternate ways (_usi

[2016-12-24 09:11] #17789 closed

[2016-12-24 09:14] RookieDay opened #17791 "[Feature Request]: if we can support paste file or folder which copied from Desktop"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.0.18|
|vscode-html-css|ecmel|0.0.30|
|format-php|Kasik96|1.1.2|
|vscode-JS-CSS-HTML-formatter|lonefy|0.2.2|
|debugger-for-chrome|msjsdiag|2.4.1|

---

Steps to Reproduce:
1. open vs

[2016-12-24 09:43] Phmager commented on #11645
+1 we need better async debugging support

[2016-12-24 10:10] shanalikhan commented on #15455
@jrieken do i have to update it, its showing me to update it, to get your work ?

[2016-12-24 10:10] Tyriar commented on #17707
Duplicate https://github.com/Microsoft/vscode/issues/1614

[2016-12-24 10:10] #17707 closed

[2016-12-24 10:29] fegg opened #17792 "Theme Dark+ (default dark) syntax highlight error"
- VSCode Version: 1.8.1
- OS Version: MacOS 10.12.2

hi, this error screenshot: [Show Image](http://p1.bpimg.com/567571/7d689c3a434f5c73.jpg)

[2016-12-24 10:38] lroellin opened #17793 "Opening from CLI (code <file>) opens last session without new file on fresh start"
- VSCode Version: 1.8.1
- OS Version: macOS 10.12.2

Steps to Reproduce:

1. Make sure, Visual Studio Code is stopped completely (Quit)
2. Type `code <file>`
3. Observe that
  * Your last session is opened
  * `file`is not part of that session
4. Type `code <file>`again (don't quit Visual Studio ode)
5. Your file is now opened

What should happen:
1. Regardless if quit or not
2. Type `code <file>

[2016-12-24 10:58] Llorx opened #17794 "TypeScript realtime lint for all files"
- VSCode Version:
1.8.1
- OS Version:
Windows 7

Simply, when I make breaking changes to my files, VScode do not detects at all the erros on other files until I open those files. I would like for VScode to check for problems on all files (including closed ones, if possible) when I make changes.

For example, if I have a module called `mod` and other files import something from the `mod`, if I rena

[2016-12-24 11:00] egamma commented on #17608
@joh fixed... sorry, but we always welcome contributions 😄

[2016-12-24 11:02] egamma commented on #17608
@LiPengfei19820619 thanks for your comment, but remember that commenting on the iteration plan is not the best way to make a feature request. Please see our [guidelines](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions)

[2016-12-24 11:31] ToxiCore opened #17795 "[Feature Request]: Filters"
Please add the feature to add **filters for directories** inside the editor.

It may be done by creating some _meta file_ (thats also not listed in the file-tree) which contains the information what type of files to show and what not:
For **example** I want to exclude files from showing up by the suffix. When I am writing TypeScript code for example only ".ts" files and not ".js" files should be s

[2016-12-24 11:35] mrmlnc commented on #17795
Hello, @ToxiCore,

Have you tried to use `settings.json` for workspace?

[code]

For example,

![image](https://cloud.githubusercontent.com/assets/7034281/21466772/33fbf42a-c9e6-11e6-9cdf-7e8d29d590d2.png)

[2016-12-24 11:41] zakdances opened #17796 "Intellisense suggestions are awful. Unintuitive ordering, poor completions, and tons of irrelevant snippets."
- VSCode Version:
1.8.1

- OS Version:
MacOS Sierra

Steps to Reproduce:

I've been frustrated with VSCode's suggestions for a while now, but I've been assuming it was my own ignorance of the feature. After reading [the docs](https://code.visualstudio.com/docs/editor/intellisense), however, I still don't understand why my suggestions are so awful.

For example, in my TypeScript files I have MANY i

[2016-12-24 12:00] Tyriar commented on #17678
@farfromrefug good suggestions, could you split this issue out into individual API requests?

The listen ones are already captured here https://github.com/Microsoft/vscode/issues/13337, and we currently don't use any xterm.js addons, nor are they particularly polished upstream.

[2016-12-24 12:40] wikinee opened #17797 "tasks.json config g++ occur error: no input files in vscode"
- VSCode Version: 1.7.1
- OS Version: Mac OS 10.10.5

Steps to Reproduce:

1. I config my tasks.json file, cpplint is via pip install cpplint by myself

[code]
2. I have a problem is about taskName "g++", when I enter

[code]
and press `cmd+p` , type `task g++` , it will return a error:

clang: error: no input files

But, cpplint (you need $ pip install cpplint by youself) also have no parameter,

[2016-12-24 13:48] zeyangl opened #17798 "Wrong path when opening integrated terminal"
- VSCode Version: 1.8.1
- OS Version: macOS 10.12.2

Steps to Reproduce:

1. Click open integrated termianl
2. I get this error:
The terminal process command `/opt/local/bin/bash` failed to launch (exit code: 1)

VSCode appears to find the wrong bash. I do not have a bash in /opt/local/bin/bash

[2016-12-24 13:57] hun1ahpu opened #17799 "Allow to preview theme on mouse hover"
It would be nice to be able to preview Color Theme on hover before choosing. The name of the theme doesn't always speak for itself and the user have to go through the menus again to try another theme or go back to previous one.
UPDATE: As mentioned by @dfroze it is possible with the keyboard though i still think it will be much easier with the mouse.

[2016-12-24 14:14] dfroze commented on #17799
Hello @hun1ahpu, there is already something like this, you just need to use up/down arrows.
After you press Color Theme, it already focus the current theme, just use the arrows and it will auto update the theme

[2016-12-24 14:35] aspirisen commented on #17750
I think it is connected with [this feature request](https://github.com/Microsoft/vscode/issues/17655)

[2016-12-24 14:50] sitnikovme opened #17800 "Drag and drop text from another app"
- VSCode Version: Version 1.8.1 (1.8.1)
- OS Version: os x 10.11.6 (15G1108)

Steps to Reproduce:

1. Drag and drop text from some app (e.g. Google Chrome browser) to some file in VSCode

Expected:
Dragged text will be inserted into file opened in VSCode

Actual:
Nothing happens

[2016-12-24 14:59] cgravill opened #17801 "Building via "gulp watch-client" errors"
- VSCode Version: dev (commit 6c35760450e02db0a2f7565f0f6fa0178dd10297)
- OS Version: Windows 10

Steps to Reproduce:

[code]

The commit just before on master doesn't show an issue: 4056cfc2640c85bc204fa9e0d8d1f85fb0dcaa96

[2016-12-24 15:00] OliverJAsh opened #17802 "Convert width of space indentation"
I frequently receive content indented using 2 spaces and need to change it to 4. The steps for converting to one space indentation width to another are as so:

1. Detect indentation from contents
2. Convert space indentations to tabs
3. Change tab indentation width to desired, e.g. 4 ("indent using tabs" command)
4. Convert tab indentations to spaces

Could we possibly make this a one command proc

[2016-12-24 15:33] hun1ahpu commented on #17799
Huh nice! It's not very discoverable though. Mouse hover would be much easier i believe.
Renaming issue to 'Theme preview on mouse hover'.
Thanks @dfroze !

[2016-12-24 15:51] zeyangl commented on #17798
A follow up on this issue. It appears that vscode launched from non-terminal also does not have the correct environment variable.

[2016-12-24 15:55] egamma commented on #17800
There is no support for Drag&Drop.
Duplicates #1046.

[2016-12-24 15:55] #17800 closed

[2016-12-24 15:56] felixfbecker commented on #9003
Any update on this?

[2016-12-24 15:59] egamma commented on #17795
This is already supported as explained by @mrmlnc above.

[2016-12-24 15:59] #17795 closed

[2016-12-24 16:02] egamma commented on #17794
Duplicates #973

[2016-12-24 16:02] #17794 closed

[2016-12-24 16:11] egamma commented on #17784
This issue was moved to ionide/ionide-atom-fsharp#255

[2016-12-24 16:11] #17784 closed

[2016-12-24 16:11] egamma commented on #17784
We are using the grammar from https://github.com/ionide/ionide-atom-fsharp. Moving the issue to this repository.

CC @aeschli

[2016-12-24 16:15] egamma commented on #17788
Duplicates #12080

[2016-12-24 16:15] #17788 closed

[2016-12-24 16:20] egamma commented on #17792
@fegg thanks for the issue, the screenshot shows a code snippet, please also include the code snippet in the issue report so that we do not have to type it in to reproduce the issue. Please see also our [issue reporting guidelines](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-great-issues-and-suggestions).

[2016-12-24 16:22] Llorx commented on #17794
Don't get how this is a duplicate of an integrated compiler

[2016-12-24 16:23] egamma commented on #17791
Duplicates #17564

[2016-12-24 16:23] #17791 closed

[2016-12-24 16:35] egamma commented on #17783
The issue is related to the C# extension, moving the issue to this repository.

[2016-12-24 16:35] egamma commented on #17783
This issue was moved to OmniSharp/omnisharp-vscode#1087

[2016-12-24 16:35] #17783 closed

[2016-12-24 17:04] DustinCampbell commented on #17783
The command "nuget: add nuget package" doesn't come from the C# extension. What extensions do you have installed? It's likely that the error is coming from this extension: https://marketplace.visualstudio.com/items?itemName=ksubedi.net-core-project-manager.

[2016-12-24 19:43] etiktin commented on #11696
@wenhailong you might want to try:
https://marketplace.visualstudio.com/items?itemName=ryu1kn.text-marker

It's not an exact match for style-token, but it might suit your needs.

[2016-12-24 19:45] Kutsan commented on #3112
What is the current status?

[2016-12-24 19:57] nossal commented on #2951
In Atom (another Electron based editor) I "fixed" with the following in the keymap.cson
[code]

[2016-12-24 20:30] tamirgz opened #17803 "Python console prints"
When running python program that prints to the console and also uses table printing module, the output is cut out and does not display the whole line.

- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.5.5|
|beautify|HookyQR|0.6.2|

[2016-12-24 21:12] egamma commented on #17803
@tamirgz this looks like an issue with the python extension, please file it against the corresponding repository https://github.com/DonJayamanne/pythonVSCode/issues

[2016-12-24 21:12] #17803 closed

[2016-12-24 22:49] shashi-netra opened #17804 "Error: Debug adapter process has terminated unexpectedly"
- VSCode Version:V 1.8.1
- OS Version: macOS Sierra 10.12.2

Steps to Reproduce:

1. Trying to build any file gives me the above error. It was working fine earlier.
2. I have the following extensions installed: MagicPython,Python, Python for VSCode and SublimeText Keymap.

[2016-12-24 23:25] adstep opened #17805 "Launch Extension Multiple Times"
- VSCode Version: 1.8.1
- OS Version: Win 10 x64

I am developing an extension that shares information between multiple users. What's the best way to launch my extension multiple times to simulate multiple users?

[2016-12-24 23:32] matthewringer commented on #670
FWIW the "HTML Snippets" [plug-in](https://marketplace.visualstudio.com/items?itemName=abusaidm.html-snippets) allong side PHP Intellisense is working well for me.

[2016-12-25 00:59] barrymay commented on #6127
+1 on this - would be really helpful!

[2016-12-25 03:11] jamesqo commented on #10281
I was also experiencing this issue! `lstat C:\home: No such file or directory` would constantly pop up in the top of the editor window, and would reappear whenever I closed it. (I, as well, use Git for Windows/msysgit.) I ended up following @at15's advice and disabled git within vscode.

[2016-12-25 04:25] xgt001 commented on #12473
@michaeljcalkins thanks a lot for the workaround!

[2016-12-25 05:05] abc100m opened #17807 "Crash in extension reading configuration values on startup"
- VSCode Version: 1.8 or 1.8.1
- OS Version: windows 7 sp1 64bit

Steps to Reproduce:

1.  upgrade vscode to 1.8 or 1.8.1, all extension won't work
2.  uninstall vscode and reinstall vscode 1.7.1, all extension works

[2016-12-25 05:10] abc100m commented on #17807
I have another PC which works well after upgrade vscode to 1.8.1

Here is the error log generated by vscode 1.8.1
any help will be appreciated

[code]

[2016-12-25 05:41] akcorp2003 commented on #17574
@fazouane-marouane Aww... it looks like then, that it's a good place to start the fix!

[2016-12-25 06:46] 4781121 opened #17808 "markdown preview 无 scroll bar"
- VSCode Version: 1.8.1
- OS Version: win10

Steps to Reproduce:
1. settings.json 设置 "window.zoomLevel": -1 // 非0
2. preview 无 scroll bar

[2016-12-25 07:15] thewhitetulip commented on #16963
@egamma I am sorry for the delay, yes, writing Go code marks VSCode as using high energy, tested thrice writing JS and writing Go, JS has no issues, Go has issues.

Also, thought you might want to know:

Code Helper eats 11% CPU for every single edit of any file (Go or not)
Code itself takes 1.4% CPU and 43MB when it is in background (it is updating to the new version, and has 1 open JS file)

92+

[2016-12-25 07:27] coooooooooorey commented on #6615
https://github.com/bbenoist/vscode-qml

[2016-12-25 08:56] BarryWheeler opened #17809 "Disable first start browser opening"
Hi!
Why VSCode needs to open web browser at its first start? It is very annoying when it doing this :(
May be it is a good idea to remove such behaviour?

[2016-12-25 09:43] Jackie-Yang opened #17810 "Hot Exit Can't undo change"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:42:49.304Z)
- OS Version: Darwin x64 16.1.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|cpptools|ms-vscode|0.9.3|

---

Steps to Reproduce:

When I refuse the files, I can't refuse the change before exit

[2016-12-25 09:47] ph-dev-2016 opened #17811 "Code editor becomes unresponsive after updating some extension. Reload works after trying to close window. Then dialog becomes visible."
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.0.18|
|django-html|bibhasdn|1.2.0|
|githistory|donjayamanne|0.1.4|
|jquerysnippets|donjayamanne|0.0.1|
|python|donjayamanne|0.5.5|
|xml|DotJoshJohnson|1.6.1|
|EditorConfig|EditorCon

[2016-12-25 09:57] chrmarti commented on #16073
@buu700 Could you run the command in https://github.com/Microsoft/vscode/issues/17740#issuecomment-268851539 when the problem occurs and paste the result there?

[2016-12-25 10:37] NotepadPlusUser opened #17812 "node.dll is out of date"
- VSCode Version: 1.8.1
- OS Version: OS1607 V10.0.14393.576

Secunia informs me that "C:\Program Files (x86)\Microsoft VS Code\node.dll" is insecure, and gives it a threat rating of 3/5.  The Secunia message says, `The version detected of Node.js 6.x was 6.5.0.0 while the latest version including one or more security fixes is 6.9.0.'

I already had the 64-bit node.msi version 7.3.0.0 installed in

[2016-12-25 10:40] Tyriar commented on #17701
Any reason you believe this to be the wrong behavior? This is how the editor and explorer work, in addition to chromium's default context menu.

[2016-12-25 10:46] NotepadPlusUser commented on #17812
CORRECTION:  I have just run a full scan with Secunia, and Secunia now gives me 100% score — that is, it is no longer reporting the problem.

Nevertheless, I would still like to know what an out-of date node.dll file is doing within the VSCode installation directories, and how I can update it?

[2016-12-25 12:35] Tyriar commented on #17810
What do you mean by refuse the files? Is this about not being able to undo after a restore occurs (#15135)?

[2016-12-25 12:54] amsterdamharu opened #17813 "https://code.visualstudio.com/ completely blocked in china now"
- VSCode Version: any
- OS Version: any

Steps to Reproduce:

1. Try to download vs code in China

it is still impossible to download vs code in china. Is it possible to host the binaries on a site that is not blocked?

[2016-12-25 13:00] hun1ahpu commented on #17701
For both editor and explorer I see context menu on mouse up. Not sure what i'm missing. Some settings probably?

[2016-12-25 13:55] izikorgad commented on #1023
+1

[2016-12-25 13:55] Tyriar opened #17814 "Editor viewport should scroll when multiple cursors are going off screen"
- VSCode Version: Code - Insiders 1.9.0-insider (04f541160e0d41be95df9a964b1b570aec549157, 2016-12-20T07:18:37.536Z)
- OS Version: Linux x64 4.8.0-28-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|EditorConfig|EditorConfig|0.3.4|
|lorem-ipsum|Tyriar|1.0.0|
|sort-lines|Tyriar|1.1.0|
|theme-glacier|Tyriar|0.0.10|
|vscode-svgviewer|cssho|1.3.0|
|vscode-eslint|dbaeumer|1.2.2|
|python

[2016-12-25 15:18] egamma commented on #17807
@abc100m

what does this exactly mean? VS Code doesn't start? Can you narrow down which extension doesn't work. You can disable an extension in the extension viewlet (see below)
![image](https://cloud.githubusercontent.com/assets/172399/21471769/9c6a5038-cabd-11e6-8708-5ed14be40996.png)

- Do you have the same extensions installed on both your PCs

- Can you compare the settings on both PCs. Are t

[2016-12-25 15:21] egamma commented on #17805
@adstep our suggested way to ask question about VS Code is to use stack overflow with the tag `vscode`. Please see our [issue guidelines](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#before-submitting-an-issue).

[2016-12-25 15:21] #17805 closed

[2016-12-25 15:25] egamma commented on #17804
@shashi-netra

Can you explain what you mean by `build any file`. The error message comes from a debugger, so do you see the message when debugging?

What files are you working on when this happens? From the list of extensions you have installed it looks like you are using VS Code for Python development?

[2016-12-25 15:29] egamma commented on #17797
@wikinee thanks for you detailed description. The issue is really a question on how to configure tasks for g++. Our suggested way for asking such questions is to use stackoverflow with the tag `vscode`. Asking a question on Stackoverflow reaches the broad VS Code user community. Please, see our [guidelines](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#before-submitting-

[2016-12-25 15:29] #17797 closed

[2016-12-25 15:42] egamma commented on #17793
@lroellin I'm unable to reproduce the behaviour you describe in steps 1-3. Please the attached recording. The recording starts by shutting down VS Code completely. Also notice that when you open a single file the VS Code will open in single file mode, which is indicated by the purple status bar.

Please provide more detailed steps to reproduce this issue.

![open](https://cloud.githubusercontent.c

[2016-12-25 15:42] shashi-netra commented on #17804
I get the error when I try to run any python script even a simple one as shown in this screencast. I see the error message in a message box at the top.
http://g.recordit.co/O0VSOnZzJl.gif

[2016-12-25 15:49] Tyriar commented on #17701
Maybe that's only on Windows then as I was testing on Linux.

[2016-12-25 15:50] egamma commented on #17804
@shashi-netra thanks for the recording it helps to clarify the issue. Python debugging is contributed by the Python extension and I'm moving the issue to corresponding issues repository.

[2016-12-25 15:52] egamma commented on #17804
This issue was moved to DonJayamanne/pythonVSCode#603

[2016-12-25 15:52] #17804 closed

[2016-12-25 15:56] egamma commented on #17561
Assigning for @Tyriar, may be he can reproduce the issue.

FYI @alexandrudima

[2016-12-25 15:57] egamma commented on #17641
@khaled-hossain-code does the answer above cover your feature request?

[2016-12-25 15:58] egamma commented on #17647
@Chengyanzhao any update?

[2016-12-25 15:58] lroellin commented on #17793
Hi @egamma

Thanks for your time in testing this issue! It seems that I can't reproduce it for now myself. I don't know what went wrong, maybe something with my setup. I'll keep an eye on it though and will check if it happens again.

I'll close this issue for now.

[2016-12-25 15:58] #17793 closed

[2016-12-25 16:09] buu700 commented on #16073
[code]

A bit more information:

* Closing vscode doesn't kill any Code Helper processes, so if I don't manually kill them myself, then after a few hours of quitting and reopening vscode I'll end up in situations where a large set of Code Helpers each running at ~100% CPU (often well above) stick around and keep my fans blaring. The command output above is with two of them running, and attached is

[2016-12-25 16:13] egamma commented on #17661
@vfloyd6

It is still not possible to act on this issue given the information we currently have. Therefore some more question:

Did you observe a slow down when you 'ctrl+click'/go to definition in all of these 3 languages?

The python and Java extension are only activated when you work on python or java files respectively, that is you have them opened in the editor. When the slow down happens do

[2016-12-25 16:13] egamma commented on #17674
@Zawgar any update?

[2016-12-25 16:14] egamma commented on #17715
@Insane-neal any update?

[2016-12-25 16:15] egamma commented on #17756
@Guedez any update?

[2016-12-25 16:21] egamma commented on #17794
@Llorx

Issue #973 is about *transpiling/building* and not about an integrated compiler. Currently the typescript language service checks only the files that are opened and not all files in the project, This is a known limitation and issue #973 is about removing this restriction.

[2016-12-25 16:31] egamma commented on #17762
@JDPT93

Can you elaborate what you mean by support? VS Code supports linting with PHP7, this has been discussed in  #15447. There are several extension that provide additional PHP support and you should try one of them https://marketplace.visualstudio.com/search?term=php&target=VSCode&sortBy=Relevance.

[2016-12-25 16:32] mahmoudmy opened #17815 "Keyboard shortcuts for "Copy line down/up" doesn't work in ubuntu 16.04"
- VSCode Version: Code 1.8.0 (38746938a4ab94f2f57d9e1309c51fd6fb37553d, 2016-12-13T18:03:00.506Z)
- OS Version: Linux x64 4.4.0-57-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|code-beautifier|michelemelluso|1.6.2|

---

Steps to Reproduce:
1. When I use (Ctrl + Shift + Alt + ↑ / ↓)  for "Copy line down/up" nothing happens in ubuntu 16.04!

[2016-12-25 16:34] Llorx commented on #17794
Oh, nice.

And what about the check problems I also noted? Should I open a different
issue for that?

El 25 dic. 2016 17:21, "Erich Gamma" <notifications@github.com> escribió:

[2016-12-25 16:39] egamma opened #17816 "Update the issue guidelines with the new support for disabling extensions"
Please update https://github.com/Microsoft/vscode/blob/master/CONTRIBUTING.md with the new support for updating extensions. Currently we only describe the `--disable-extensions` command line option.

![image](https://cloud.githubusercontent.com/assets/172399/21472074/f7dabe20-cac8-11e6-941d-e8b337400138.png)

I suggest to add a screenshot/animated gif

![image](https://cloud.githubusercontent.com/

[2016-12-25 16:50] egamma commented on #16963
@thewhitetulip thanks for following up, I move the issue to the Go Issue repository for further investigation.

[2016-12-25 16:51] egamma commented on #16963
This issue was moved to Microsoft/vscode-go#698

[2016-12-25 17:05] egamma commented on #17480
@aluanhaddad @mjbvz here is some history

Setting `allowSyntheticDefaultImports: true` was only intended to be the default for JavaScript projects to simplify the setup. When we simplified the project setup so that you get better defaults without a jsconfig/tsconfig.json we lost this distinction and we now always enable it now by default. I can see that this can be confusing/inconsistent when you

[2016-12-25 17:14] aluanhaddad commented on #17480
@egamma Thank you very much for clarifying and for providing the historical context around the current behavior.

[2016-12-25 17:41] lalvarezguillen opened #17817 "Cython extension issue, under Ubuntu only."
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:41:20.664Z)
- OS Version: Linux x64 4.4.0-57-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.5.5|
|Go|lukehoban|0.6.51|
|cpptools|ms-vscode|0.9.3|
|cython|tcwalther|0.1.0|

---

Steps to Reproduce:
1. Open Visual Studio Code
2. Make sure the extension tcwalther.cython is ins

[2016-12-25 18:39] sant123 opened #17818 "Refresh button in search"
- VSCode Version: 1.8.1
- OS Version: Windows 10

The refresh button in search should be always enabled instead of an empty entry.

Steps to Reproduce:

1. Select the `Search Tab`
2. Write something
3. The refresh button is disabled

![image](https://cloud.githubusercontent.com/assets/7959437/21472428/23faef9c-caa7-11e6-8ad2-49e9d9adb0f4.png)

It only gets enabled when you hit enter, after that yo

[2016-12-25 18:59] justaname94 commented on #12493
+1

[2016-12-25 19:40] ChmHsm opened #17819 "VS code suddenly stopped generating .js after .ts changes. 2 hours have gone, still can't figure out why."
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 6.2.9200
- Extensions:

|Extension|Author|Version|
|---|---|---|
|debugger-for-chrome|msjsdiag|2.4.1|

---

Steps to Reproduce:

1. Cloned angular 2 quickstart
_____
2. settings.json:
{
    "typescript.tsdk": "./node_modules/typescript/lib"
}
____
3.  tasks.json:
// A tas

[2016-12-25 19:53] KevinColemanInc commented on #7426
I also have this issue upgrading v1.8.0 of VS code.  I am running macOS 10.12.2 (16C67) and the `xattr ...` did not fix the issue 👎

Any alternative suggestions?

[2016-12-25 20:14] egamma commented on #17531
@rohmanhm

Then please give this extension a try:
https://marketplace.visualstudio.com/items?itemName=peterjuras.fontsize-shortcuts

[2016-12-25 20:35] egamma commented on #17819
@ChmHsm the built-in TypeScript does not transpile typescript files to javascript files. This is done by the angular setup and how it defines a `tasks.json` and a `tsconfig,json`. I suspect that the `tsc watch` task started by the `task.json` file stopped running. You should be able to restart the task and all should be fine.

There is nothing we can do for this on the VS Code side. If you can rep

[2016-12-25 20:35] #17819 closed

[2016-12-25 20:37] egamma commented on #17817
@lalvarezguillen this looks like an issue of the cython extension, please file the extension against this extension.

[2016-12-25 20:37] #17817 closed

[2016-12-25 21:37] egamma opened #17820 "Update the f# grammar"
The latest version of the f# grammar is now maintained in https://github.com/ionide/ionide-fsgrammar  and we should update the one we bundle to it.

For background pls see https://github.com/ionide/ionide-atom-fsharp/issues/255#issuecomment-269098830

It turns out that the F# extension bundles this grammar, so we should discuss whether we want to continue bundle a grammer and other language suppor

[2016-12-25 21:40] kumarharsh opened #17821 "[snippets] Support for regular expressions with Snippet Variables"
It'd be nice if regular expression support is added to the new snippet syntax (great work btw!! 👍). With variables such as "TM_FILENAME", the *extension* of the file is also added when the snippet is expanded, and when using snippets in code (eg. React), it's rarely the case that I'd need the extension of the file, thus I feel the need to have functionality to remove it from the replaced string.

[2016-12-25 22:01] kumarharsh commented on #16441
+1
One use-case I have come across goes like this:
I'd like to query what is the latest version of my plug-in from the marketplace, and bump my versions using semantic-release. To do something similar today, I have to *also* publish my plug-in to npm, and query from there, which doesn't feel right.

[2016-12-25 22:46] italomaia opened #17822 "[Feature Request] Add grouped by folder view to git"
- VSCode Version: 1.8.1
- OS Version: Ubuntu 16.10

It would be nice to have a grouped by folder visualization mode for the git pane. It is quite useful when you're verifying what you're gonna pack in a commit.

[2016-12-26 00:16] aniljava commented on #13402
I like to add following for consideration:

- Similar to eclipse, click on hover box makes it sticky.
- Currently mouse out of box closes the  hover box. If the hover box is sticky close only after mouse is clicked outside the box or after mouse out for certain time. That way if some one was selecting or scrolling do not have to restart the scrolling and selecting process again if mouse accidental

[2016-12-26 02:13] soundtina commented on #5844
I have updated to the latest version. Thanks a lot

[2016-12-26 02:13] yeluoqiuzhi opened #17823 "Will vscode support vue.js component file?"
This is vue component file spec:

<https://vue-loader.vuejs.org/en/start/spec.html>

[2016-12-26 02:27] tomdavidson commented on #17627
Thank you for adding the feature request label. I was actually hoping it was already available. Does VS Code use tsfmt to format my code or does it have its own formatter?

[2016-12-26 03:41] sean-clayton commented on #17823
This sounds like a good use-case for an extension 😸

In fact, @seanwash already made one here: https://marketplace.visualstudio.com/items?itemName=seanwash.vue

[2016-12-26 04:04] khaled-hossain-code commented on #17641
not actually, I know that I can open command prompt but now a days npm gives error while trying to install npm package inside vscode or command prompt but It does not happen with git bash. So I wanted a quick way to access git bash command Prompt from vs code may be just a shortcut key.

[2016-12-26 04:14] khaled-hossain-code commented on #17640
@egamma I know that but I wanted to use VS code to peek files. It would be a nice feature to have and makes more scene rather than showing a open folder button inside vs code. Neither atom will be a easy to use option for peeking at files. But I love VS code more. :)

[2016-12-26 04:39] yeluoqiuzhi commented on #17823
@sean-clayton  It is just highlighting! I need auto complete and type checked for typescript.

[2016-12-26 06:38] fegg commented on #17792
ok.

[code]

error code:

[code]

I think this bug is analysis between `/` and `/` not space, error analysis it is RegExp, so highlight not   good.

English is not very good, hope you can understand...

[2016-12-26 06:57] Aarilight commented on #17706
+1. When this is implemented it may be a good idea to add map support for `@each` as well:

[code]

[2016-12-26 07:29] BeniaminoBaggins opened #17824 "[css] boxModel rule not respecting box-sizing property"
- VSCode Version: 1.8.1
- OS Version: MacOS Sierra 10.12.1

Steps to Reproduce:

1. Enter `"scss.lint.boxModel": "warning"` into `settings.json`.
2. Enter code below into a .scss file
[code]
3. Notice the warning which should not be there because the box-sizing property should satisfy scss.lint.boxModel rule:

<img width="273" alt="screen shot 2016-12-26 at 8 28 59 pm" src="https://cloud.githubuse

[2016-12-26 07:39] infinnie opened #17825 "Please do NOT autocomplete the TypeScript module name when ".." is typed."
- VSCode Version: 1.8.1
- OS Version: Windows 10.0.10586

Steps to Reproduce:

1. Create a project that references at least one module with name(s) containing the character “.”, like `zone.js`, in package.json.
2. Run `npm install`.
3. Create a TypeScript file.
4. Type `import {} from ".."` in the created file.
5. While I was trying to reference a module from the parent folder of the one the creat

[2016-12-26 07:41] mrmlnc commented on #17706
@egamma, it seems to me, this is duplicate of #1758 🐼

[2016-12-26 07:44] rohmanhm commented on #17531
Thanks, it's work perfectly

[2016-12-26 07:44] #17531 closed

[2016-12-26 07:49] Julien-Mialon commented on #17740
@roblourens it does not happen with `--disable-extensions` just updated the C# extensions to new version 1.6.2 and now it works.

I can share the file if still needed.

Thanks

[2016-12-26 08:36] Aarilight commented on #1758
@aeschli @egamma Do you accept pull requests for this? And if so what do I need to do? I have the multi-arg `@each` working, trying to get the map assignment done atm but that's harder cause it seems to parse w/ cssParser, and it'd probably be silly to have map parsing in that

[2016-12-26 09:19] alexey-kozlenkov commented on #12637
Happened with me again today.
Last VSCode update was several days ago, but everything was fine right before the update till now.

[2016-12-26 09:35] egamma commented on #17792
@fegg thanks for providing the additional information.

I'm still not able to reproduce it.

![image](https://cloud.githubusercontent.com/assets/172399/21479660/6d5b83ae-cb56-11e6-9847-affd34ccb00c.png)

You mention:

This is not a grammar we ship with VS Code and I assume you have an extension installed.

Can you reproduce when you switch the language to `JavaScript` in the bottom right corner?

[2016-12-26 09:36] egamma commented on #17822
// CC @joaomoreno

[2016-12-26 09:39] egamma commented on #17823
@yeluoqiuzhi I agree with @sean-clayton that this is best done in an extension.

An extension can do this.

As a workaround you can set the language mode in the bottom right corner to `html` then you some Intellisense.

[2016-12-26 09:39] #17823 closed

[2016-12-26 09:45] egamma commented on #17641
@khaled-hossain-code thanks for following up

Can you please add a screenshot that illustrates the problem. I'm regularly running `npm install` inside the integrated terminal and do not have this problem. If there is an issue then we should address it.

[2016-12-26 10:01] stefanaerts opened #17826 "#17605 should not be closed!"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. Open multiple vscode projects
2. There is no list with the open windows in the 'window' menu.It says only 'bring all to front'.
![image](https://cloud.githubusercontent.com/assets/3684599/21480115/64d19f62-cb5a-11e6-8b23-e74aa747c8c7.png)

The answer from egamma is not correct,there is no list with open windows in the doc menu,it shows only

[2016-12-26 10:12] mrmlnc commented on #17826
Instead of creating a duplicate Issue, you should write comments on existing Issues.

Duplicate of #17605

[2016-12-26 10:16] stefanaerts commented on #17605
so how can i rollback? I like to a list with open projects and switch with 1 or 2 clicks

[2016-12-26 10:20] gulshan commented on #15081
Related- #5770

[2016-12-26 10:40] khaled-hossain-code commented on #17641
@egamma sorry my bad, there was one but it is solved now. yes you can close this request.

[2016-12-26 10:40] #17641 closed

[2016-12-26 12:09] hun1ahpu commented on #17701
Do you think it would be possible to use 'contextmenu' instead of 'mousedown'?

[2016-12-26 12:33] jamees commented on #396
+1

[2016-12-26 12:48] octoploid opened #17827 "Build-in Terminal and tooltips don't use subpixel rendering"
- VSCode Version: 1.8.1
- OS Version: Linux

The build-in Terminal and the code tooltips are rendered with only grayscale anti-aliasing.
The code itself and the rest of the GUI is rendered with subpixel anti-aliasing.

So please also enable subpixel rendering for the tooltips and the terminal.

Thanks.

[2016-12-26 13:59] hun1ahpu commented on #17046
Same for the scroll bar.

[2016-12-26 14:19] phcloc opened #17828 "Please add options for sorting and choosing which file type to view in the Explorer panel"
- VSCode Version: 1.8.1
- OS Version: Windows 10

I'm working on an big project. I view my current folder by the Explorer panel in the left. My current folder have a lot of file of many type. And I only want to show files of a specific type. Please add some option for viewing and sorting file!

[2016-12-26 14:36] Jackie-Yang commented on #17810
@Tyriar Yes~

[2016-12-26 14:36] Jackie-Yang commented on #17810
@Tyriar Sorry, I mean "recover".

[2016-12-26 14:39] dtgriscom opened #17829 "If rename file, a zero-length file is created at old name"
- VSCode Version: 1.8.1 (1.8.1)
- OS Version: OS X 10.10.5

Steps to Reproduce:

1. Click on file in Explorer pane to select the file
2. Press return to go into rename mode
3. Type in a new name
4. Press RETURN to save new name

Results:
1. File will be properly renamed
2. After a few moments, a new empty file will be created at the old file location.

Comments:
- Problem DOES occur if move file i

[2016-12-26 14:50] egamma commented on #17826
@stefanaerts thanks for the additional feedback, as suggested by @mrmlnc let continue the discussion in #17605

[2016-12-26 14:50] #17826 closed

[2016-12-26 14:57] DanZeuss commented on #7025
Hi @bpasero, I'm still getting this error, however, I'm running it on a network share.

[2016-12-26 15:06] egamma commented on #17605
@stefanaerts

There are two options:

If you do not like the history list provide by the menu in the dock, there are several other options:

- `File>Open Recent` which is bound to ^R, see the attached recording. This is the recommended way.
![open-recent](https://cloud.githubusercontent.com/assets/172399/21483566/a3f250ea-cb84-11e6-87e3-54d20c5c5741.gif)

- `Switch Windows` which can be bound to a

[2016-12-26 15:13] egamma commented on #17766
@robbertstevens can you pls provide more information for how to reproduce this issue?

[2016-12-26 15:14] stefanaerts commented on #17605
before i had the list in dock also,but also a list with open projects in window next to help on top of the screen

[2016-12-26 15:14] roblourens commented on #17740
Thanks @Julien-Mialon, if an extension update fixed it, then it's probably something they know about. For future reference you can find their issues here - https://github.com/OmniSharp/omnisharp-vscode.

@SamVerschueren's issue also seems to be from an extension, so I'm going to close this issue.

[2016-12-26 15:14] #17740 closed

[2016-12-26 15:18] egamma commented on #17756
Moving to omnisharp-vscode for further investigation.

[2016-12-26 15:19] egamma commented on #17756
This issue was moved to OmniSharp/omnisharp-vscode#1094

[2016-12-26 15:19] #17756 closed

[2016-12-26 15:20] egamma commented on #17715
@Insane-neal please reopen the issue with additional information as requested above.

[2016-12-26 15:20] #17715 closed

[2016-12-26 15:21] egamma commented on #17674
@Zawgar closing the issue for now, please reopen the issue once you have added more information as requested above.

[2016-12-26 15:21] #17674 closed

[2016-12-26 15:22] egamma commented on #17647
@Chengyanzhao please reopen the issue once you have added more information as requested above.

[2016-12-26 15:22] #17647 closed

[2016-12-26 15:55] salmanm opened #17830 "Unable to override quit shortcut on Mac"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:42:49.304Z)
- OS Version: Darwin x64 16.1.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|beautify|HookyQR|0.6.2|
|html-snippets|abusaidm|0.0.18|
|vscode-eslint|dbaeumer|1.2.2|
|vscode-JS-CSS-HTML-formatter|lonefy|0.2.2|
|JavaScriptSnippets|xabikos|1.2.0|

---

Steps to Reproduce:

1. configured `keybi

[2016-12-26 16:01] salmanm commented on #17830
I actually made it `cmd+q cmd+x` so it effectively reduced chances of accidental quit.

[2016-12-26 16:01] #17830 closed

[2016-12-26 16:56] Luchillo opened #17831 "[Bug] lodash types weird intellisense output"
- VSCode Version: 1.8.1
- OS Version: OSX Sierra

This is the output of VSCode with the `@types/lodash` package:

![image](https://cloud.githubusercontent.com/assets/9698639/21484318/855756b0-cb5e-11e6-8b78-bb8e38d91ea0.png)

I expected to see at least `map` intellisense, and most likely `flatMap` and a few others.

tsconfig file:

[code]

Steps to Reproduce:

1. Install with `npm i -D lodash @typ

[2016-12-26 17:15] foxbunny commented on #13901
I'm currently using VS Code 1.8.1 on Win10 64-bit. I cannot reproduce this issue.

[2016-12-26 17:53] mlewand commented on #17682
If you implement this feature make sure it's an opt-in. I can see how someone can like this feature, but for me as keyboard-only user this feature is very distracting.

[2016-12-26 18:33] geirsagberg commented on #17279
Could you please re-open this issue?

Unfortunately, my PR only affected the high-contrast swap that occurred when changing Windows theme while VSCode is open, not the initial theme that is set when VSCode starts, or opens a new folder.

I have added a new PR #17832 that completes the fix.

[2016-12-26 19:17] exdeniz commented on #11879
And another example: disable quickSuggestions for specific file types.

[2016-12-26 21:16] SamVerschueren commented on #17740
@roblourens Thanks for the information! It was resolved by disabling that extension.

[2016-12-26 21:20] andreujuanc opened #17833 "Prevent build while debugging"
- VSCode Version: 1.8.1
- OS Version: Windows 10.0.14393

Steps to Reproduce:

1. Debug session (F5). In my case I have tried NodeJs and cordova.
2. Press F6

It woudn't hurt anyone to prevent build while there is a debugging session going on.

Maybe this is posible already via settings?

Thanks

[2016-12-26 21:53] johndugan opened #17834 "Create Scope For `activeGuide` In Custom Themes"
- VSCode Version: 1.8.1
- OS Version: Windows 10

I read through the [VSCode theme scopes](https://code.visualstudio.com/Docs/customization/themes#_creating-a-custom-theme). I'd like a way to target the active guide, ie:

[code]
Additionally, a setting to choose `line`, `dotted`, or `dashed` for the guide style would be welcomed... perhaps a string could be passed to the `"editor.renderIndentGuide

[2016-12-26 22:08] johndugan opened #17835 "HTML Script Tag Scope Bug"
- VSCode Version: 1.8.1
- OS Version: Windows 10

The initial `<` bracket in the opening `<script>` tag _does not_ have the proper scope attached to it, neither does the `>` bracket in the closing `</script>` tag.

Also, it would be nice to have _specific_ scopes to target javascript attributes in html tags, ie: `onclick`, as well as the `style` attribute in html tags. Because those attributes are

[2016-12-26 22:43] jguerin commented on #3520
This continues to happen to me. I'm on MacOS 10.12.2, running as non-admin. I was stuck on VS Code 1.7.2 until I manually updated it to 1.8.1.

[2016-12-26 23:13] josiahbgrace commented on #17328
Hi,
Sorry to re-open this issue (retitled for clarity). I am not able to update vscode to 1.8.1, I'm in an endless
1. Open vscode (1.8.0)
2. vscode prompts for update via toolbar on the top
3. I select "Update Now"
4. vscode doesn't restart, when I manually restart, or launch from cli, it is at 1.8.0, and prompts me for update (or I manually trigger with "Check for Updates"

Last time it seemed to

[2016-12-26 23:14] coryhouse commented on #7426
Same as @anisylen. I'm seeing this from Slack as well, so seems related to electron apps.

[2016-12-26 23:25] Tyriar commented on #17810
Closing as a duplicate of #15135 then, please provide some steps to reproduce the bug if I'm misunderstanding

[2016-12-26 23:25] #17810 closed

[2016-12-27 00:05] Spown opened #17836 "Suggestion ranking should honour order"
- VSCode Version: 1.8.1
- OS Version: win10x64

Case:
[code]
when I type "path." I get
![](https://dl.dropboxusercontent.com/u/105338698/ShareX/2016-12/Code_2016-12-27_00-46-52.png)
next I want to select "parse" method so I hit "p" and get
![](https://dl.dropboxusercontent.com/u/105338698/ShareX/2016-12/Code_2016-12-27_00-47-50.png)

Notice that the list is scrolled to the bottom, the Intellisense

[2016-12-27 01:23] FutureProg opened #17837 "Keeps Selecting Text when Navigating Document with Keys"
Edit: Nevermind the issue was an error on my end

[2016-12-27 01:24] jadupl2 opened #17838 "Agent admitted failure to sign using the key."
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:41:20.664Z)
- OS Version: Linux x64 3.10.0-514.2.2.el7.x86_64
- Extensions:

|Extension|Author|Version|
|---|---|---|
|format-php|Kasik96|1.1.2|
|material-icon-theme|PKief|1.1.5|
|python|donjayamanne|0.5.5|
|php-debug|felixfbecker|1.10.0|
|Theme-1337|ms-vscode|0.1.2|

---

Steps to Reproduce:

1.define git remote

[2016-12-27 02:15] ThirevenLi opened #17839 "ctrl+` alway does not work!"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.10586
- Extensions:

|Extension|Author|Version|
|---|---|---|
|rainbow-brackets|2gua|0.0.6|
|project-manager|alefragnani|0.12.2|
|alignment|annsk|0.3.0|
|indent4to2|Compulim|0.1.2|
|python|donjayamanne|0.5.5|
|theme-dracula|dracula-theme|1.2.5|
|gitlens|eamodio|1.3.1

[2016-12-27 02:32] #17837 closed

[2016-12-27 02:33] #17839 closed

[2016-12-27 02:51] yasmise opened #17840 "[c++] syntax highlighting stops at middle of a file on ruby.h"
- VSCode Version: 1.8.1
- OS Version: Windows 10 Home 14393.576

Steps to Reproduce:

1. Open `include\ruby\ruby.h` of ruby 2.4.0 source code. Link to the archive is [Here](https://cache.ruby-lang.org/pub/ruby/2.4/ruby-2.4.0.tar.gz).
2. Scroll to line 1810.
3. Highlighting stops at line 1810. Please see this screenshot.
![screenshot](https://cloud.githubusercontent.com/assets/22886576/21488970/f95

[2016-12-27 04:58] jaichaturvedi88 commented on #4325
I got same issue. Can you please check. Below is the screenshot of startup performance measurement.
I did as instructed above. I restarted my system then captured the logs

![image](https://cloud.githubusercontent.com/assets/14929140/21490937/f5f6e71c-cc1e-11e6-977d-490fe89fb0f3.png)

[2016-12-27 05:28] #16000 closed

[2016-12-27 06:18] chrisdias commented on #6615
per @coooooooooorey this would be an extension, closing.

[2016-12-27 06:18] #6615 closed

[2016-12-27 06:26] sid8128 commented on #16796
This annoying pop-up can easily be turned off. Just add the following line to workspace setting file:
"python.linting.lintOnSave": false

[2016-12-27 06:29] xarthx opened #17842 "support vbscript"
- VSCode Version:
- OS Version:windows
hello
i hope vscode support **# vbscript** , and debugger

[2016-12-27 08:53] IgorNovozhilov opened #17844 ""yield" is not highlighting"
- VSCode Version:
![image](https://cloud.githubusercontent.com/assets/3082812/21495729/6b2d1c6c-cc2a-11e6-945a-471e6122b1d0.png)

- OS Version: Linux Mint 18

Steps to Reproduce:

![image](https://cloud.githubusercontent.com/assets/3082812/21495747/834a6872-cc2a-11e6-8eb9-0952c99c4b31.png)

1. write code:
[code]
2. key word not highlighted in all cases

[2016-12-27 09:01] iamzhout opened #17845 "multiple yamls within one file with '---' splitter will cause syntax warning"
- VSCode Version: 1.8.1
- OS Version: Windows 7

Steps to Reproduce:

1.  open [this mysql-deployment file](https://github.com/kubernetes/kubernetes/blob/master/examples/mysql-wordpress-pd/mysql-deployment.yaml)  in vscode
2.  it will show syntax warning like below picture.

Is this kind of file can be treated as normal yaml files seperately, and will not prompt error message?

![mysql-deployment-

[2016-12-27 09:02] jrieken commented on #17703
Yes - binary files have no representation in the API atm. Closing as dupe of #2582

[2016-12-27 09:02] #17703 closed

[2016-12-27 09:05] jrieken commented on #15455
Please install the build as it will provide more detail about where exactly the time is spent.

[2016-12-27 09:09] jrieken commented on #17781
<img width="1209" alt="screen shot 2016-12-27 at 10 07 53" src="https://cloud.githubusercontent.com/assets/1794099/21496126/6a5f5330-cc1c-11e6-98f7-a0845915e441.png">

I cannot reproduce with the snippets and steps. Please clarify and update this issue? Any chance you have configured the `editor.snippetSuggestions`?

[2016-12-27 09:13] jrieken commented on #17821
Yes - closing this as duplicate of #6920.

[2016-12-27 09:13] #17821 closed

[2016-12-27 09:15] jrieken commented on #17836
this is TypeScript/JavaScript always suggesting *all* symbols found in the project

[2016-12-27 09:18] IskanderNovena commented on #14145
Hi, just checked in version 1.8.1 and the issue doesn't seem to be happening anymore.
It might have been an issue with the PowerShell-extension, which has been updated a couple of times as well, but I'm not sure.
Anyways, issue closed.

[2016-12-27 09:18] #14145 closed

[2016-12-27 09:18] dbaeumer commented on #17845
@iamzhout I can't reproduce this using a plain VS Code version 1.8.x.  Do you have any additional extension installed ? Does this reproduce if you start VS Code from a terminal with `--disable-extensions`

[2016-12-27 09:19] jrieken commented on #17807
@abc100m Can you check if your settings files are valid or not? That the `settings.json` in `<workspace>/.vscode` and `<app data>/User/`

[2016-12-27 09:19] dbaeumer commented on #17844
Looks like a TS/JS grammar problem.

[2016-12-27 09:30] iamzhout commented on #17845
@dbaeumer Yes, it is just ok with --disable-extensions.
I have checked all my installed extensions one by one, and it turns out that [extension: vscode-yaml-validation](https://marketplace.visualstudio.com/items?itemName=djabraham.vscode-yaml-validation) caused this problem, so I will just remove this extension to resolve this problem.

Thanks!
Tao

[2016-12-27 09:30] #17845 closed

[2016-12-27 09:36] dbaeumer commented on #17757
This is not implemented yet and requires: https://github.com/Microsoft/vscode/pull/10676.

[2016-12-27 09:36] #17757 closed

[2016-12-27 09:41] Vips120 opened #17846 "Visual code window crashed"
My visual code was working fine last night but now when i am trying to open visual code.
I am getting a windows stating that "windows is crashed try reopen "
I also tried installing in other drive but its not working.
Please find attachment below.
![err](https://cloud.githubusercontent.com/assets/15245230/21496722/902f08ba-cc46-11e6-86cf-cb52e9097e3b.png)

[2016-12-27 09:42] egamma commented on #17605
@stefanaerts this list is already shown in the `Windows` menu, isn't it?

![image](https://cloud.githubusercontent.com/assets/172399/21496737/edf6acf8-cc20-11e6-9e37-edbe0cba948e.png)

Another quick way to switch among the open windows is command+`

[2016-12-27 09:54] alexkrechik commented on #17285
Reproduced this error with my app on several PC's - https://github.com/alexkrechik/VSCucumberAutoComplete.
After following steps from https://github.com/alexkrechik/VSCucumberAutoComplete#how-to-install - language server just doesn't work.

After gclient folder opening and running it in debug mode - u will get error like in description:

[code]

[2016-12-27 10:01] fadeevab opened #17847 "Feature Request: Mark settings as overridden when they are"
- VSCode Version: 1.8.1
- OS Version: Ubuntu 14

I'm new to VS Code, and what situation I have. One day I redefined the setting **extensions.autoUpdate** by **true** value (**extensions.autoUpdate = true**). I forgot about after some time. Soon I looked for the current state of extensions.autoUpdate setting. So, what I've done - I went to Workspace Settings and what I see:
![autoupdate1](https://c

[2016-12-27 10:06] voltrevo opened #17848 "TS syntax highlighting broken for (1 / 1) * (1 / (1 + 1))"
- VSCode Version: 1.7.2
- OS Version: macOS Sierra 10.12

### Steps to Reproduce:
1. Open a new .ts file, all default settings
2. Type `console.log((1 / 1) * (1 / (1 + 1)));`

### Expected output:
Syntax highlighting should resemble the output when replacing `(1 + 1)` with `2`:
<img width="246" alt="screen shot 2016-12-27 at 9 03 09 pm" src="https://cloud.githubusercontent.com/assets/9291586/21497

[2016-12-27 10:25] Ben07 opened #17849 "[html] format not work correctly in html file when which has style property in tag"
- VSCode Version:1.8.0
- OS Version:win 10

Steps to Reproduce:

1. In html file,when a tag has style property.It's will influence format

for example
when I press shift+alt+f to format code
[code]
will become
[code]

[2016-12-27 10:55] dbaeumer commented on #17629
Works under Windows. Need to find out what is different to PowerShell under Mac.

![cast](https://cloud.githubusercontent.com/assets/1931590/21498259/40e6dc94-cc2b-11e6-84b7-b1237e88c73b.gif)

@eamodio can you try one thing. Set isShellCommand to false and let me know if this makes a difference.

[2016-12-27 11:00] jrieken commented on #12732
will happen in https://github.com/Microsoft/vscode/pull/13863

[2016-12-27 11:09] isidorn commented on #17733
@bartmao please check also your user and workspace settings. Probably you have a workspace setting which is overwriting your user setting.

Yes, true is the default.

[2016-12-27 11:27] dbaeumer commented on #17846
It crashes whenever you open VS Code? When you open it from a command line via code on an empty folder `code .` does it crash as well?

[2016-12-27 11:28] slowmove commented on #14653
It would be nice to be able to adjust the touch bar controls thru the extensions api.

[2016-12-27 11:37] aeschli opened #17850 "[css] add coloring of @apply support"
_From @philippelesaux on December 16, 2016 18:9_

It looks like themes are not respecting the new @apply rules, at least in regards to color-coding.

Using 1.8.0 stable

![screen shot 2016-12-16 at 9 58 51 am](https://cloud.githubusercontent.com/assets/13442851/21273215/81c83eae-c390-11e6-8587-db99f0308e1f.png)

edit: This is the default dark theme, but I see the issue in Dracula, Light+, Monokai,

[2016-12-27 11:37] aeschli commented on #17850
Syntax coloring is not provided by vscode-css-languageservice but by a text mate grammar.

[2016-12-27 11:39] fadeevab commented on #17847
I fixed the description: I meant the **left pain** to see current overwritten option state. Because now I should find the current option value "manually" at the right pain at some of User Settings (as I understand, options could be overwritten by Workspace Settings as well).

[2016-12-27 12:08] buzzzzer opened #17851 "vscode.workspace.findFiles() case insensitive on Windows ?"
- VSCode Version: 1.8.1
- OS Version: Windows 10

vscode.workspace.findFiles should be case insensitive on windows ?
Writing in the extension:
[code]
how can I find `Sample.ini`, `SAMPLE.ini` or `SamPLe.iNi` ?
In fact in windows environment it is the same file...

[2016-12-27 12:14] isidorn commented on #17833
Please file this issue against the cordova extension here https://github.com/Microsoft/vscode-cordova

As the cordova extension is contributing that keybinding, they should add a when not in debug mode clause to their keybinding, example

[code]

[2016-12-27 12:14] #17833 closed

[2016-12-27 12:22] isidorn commented on #17802
You should also be able to do this via
1. Indent using spaces - choose 4
2. Format document

While designing this feature it was difficult to find a balance between making it easy to use and supporting all the scenarios people expect from indentation.

[2016-12-27 13:18] mrdrogdrog opened #17852 "code.sh parses argument incorrectly"
- VSCode Version: 1.8.1 - ee428b0eead68bf0fb99ab5fdc4439be227b6281
- OS Version: Arch Linux up to date

Steps to Reproduce:

1. Install Visual Studio Code via AUR
2. open terminal
3. input 'code a\ b\ c.txt' or 'code "a b c.txt"'
4. vscode opens and creates the tabs "a" "b" and "c.txt"

[2016-12-27 13:19] mrdrogdrog commented on #17852
See Pull Request https://github.com/Microsoft/vscode/pull/17853

[2016-12-27 13:22] alanbuchanan opened #17854 "Allow to configure the entries of the editor toolbar"
- VSCode Version: 1.9.0-insider
- OS Version: OSX El Capitan 10.11.4

Steps to Reproduce:

1. Open a file when the editor is open

<img width="842" alt="screenshot 2016-12-27 at 13 16 08" src="https://cloud.githubusercontent.com/assets/10364894/21500496/4f25ce12-cc37-11e6-8fb1-5661571306c5.png">

I personally never use these buttons and they take up valuable room for tabs.

[2016-12-27 13:29] lukaschal commented on #17120
Fixed as suggested.

File: src\vs\editor\contrib\format\common\formatActions.nls.resx
ID: ".resx", 0; "formatDocument.label"
SRC: Format Document
TGT: 格式化代码

[2016-12-27 13:29] #17120 closed

[2016-12-27 13:45] philippelesaux commented on #17850
Thank you @aeschli for moving this to the appropriate project!

[2016-12-27 14:03] andreujuanc commented on #17833
Done, thanks.

https://github.com/Microsoft/vscode-cordova/issues/222

[2016-12-27 14:10] tianxingyang opened #17855 "failed to format Python with yapf"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.5.5|
|cpptools|ms-vscode|0.9.3|
|vscode-icons|robertohuertasm|4.3.0|

---

In fact, I'm new to python and visual studio code. But I really cannot figure it out why I could use shift

[2016-12-27 14:13] isidorn commented on #17782
You do not have to focus the input, hitting escape anywhere will just close it

[2016-12-27 14:16] isidorn commented on #17471
Will reopen once more details are provided

[2016-12-27 14:16] #17471 closed

[2016-12-27 14:37] kupoback opened #17856 "Php variables turns into HTML tags"
- VSCode Version: 1.8.1
- OS Version: osX 10.12
- Extensions installed:
    - None, base VSC install

Steps to Reproduce:

1. Open up a .php file
2. Within a php file (in my case a functions file for Wordpress) when I go to create a variable, eg: `$sm_content`, it turns it into `<1sm_content></1sm_content>` upon hitting tab. Hitting space before hitting tab does not cause this, only when the curso

[2016-12-27 14:54] leaxoy commented on #17854
looks a good idea , I didn't use it too

[2016-12-27 15:06] isidorn commented on #14784
Agree that this is a nice feature to have.

As for managing breakpoints I propose the following:
* Run to cursor, F9 and 'add conditional breakpoint' via command pallete now respect the column position of the curosr
* Clicking on the glyph margin is unchanged. If there are multiple breakpoints on a line, clicking on the glyph **removes them all**
* We do not add anything to the context menu of the

[2016-12-27 15:43] #17785 closed

[2016-12-27 15:45] bartmao commented on #17733
@isidorn, thanks for your patience and you're right, I just checked my workspace settings before and forgot to check my user settings, it shows a lot of overwritten setting after the upgrading. I don't know where do they come from, but the `"editor.glyphMargin": false` is included. Things going well after changing it:)

[2016-12-27 15:47] smallp commented on #17856
This feature is for HTML. However, sometimes people may write HTML in PHP file, so this feature should not be removed.

[2016-12-27 15:49] kupoback commented on #17856
I do write HTML in php, however it's a bit of an annoyance that it see anything with a $ and declares it automatically an HTML element. Is there not a way to get this to know current HTML(5) tags and use it on those?

I doubt there is an `<sm_content>` tag, unless I'm mistaken.

[2016-12-27 15:52] smallp commented on #17813
I'm in China, and I can download VSCode. So just try again, or use 迅雷 or something else.

[2016-12-27 16:07] jrieken commented on #4911
The problem is `this.lineContentAfter !== context.lineContentAfter`, us comparing the line content after the cursor and bailing out if it has changed. With multiple cursors on the same line that happens all the time...

[2016-12-27 16:15] smallp commented on #17856
Nope. It will treat any words as a tap. So maybe VSCode could check if it begins with '$' first and then decide whether turn to a tap or not.

[2016-12-27 16:17] kupoback commented on #17856
Interesting, as my other variables `$value` and `$field` didn't trigger those events.

Also, on a side note, in Atom, this feature doesn't happen in .php with HTML elements in it. I know the two are built within the same framework. Just curious if I missed a setting.

[2016-12-27 16:23] rogierschouten opened #17857 "Hot-close changes line breaks from CRLF to LF"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.10586
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-nsp|adambaldwin|1.0.1|
|vscode-markdownlint|DavidAnson|0.6.0|
|tslint|eg2|0.7.1|
|sass-lint|glen-84|0.0.3|
|vscode-guid|heaths|1.0.0|
|typescript-javascript-grammar|ms-vscode|0.0.13|
|debugger-for-

[2016-12-27 16:30] #15456 closed

[2016-12-27 16:32] hickerm commented on #17056
I look to be having the same issue, been trying to get the git integration going in VSCode for a couple weeks now.

1. Running VSCode 1.8.1
2. Running git version 2.11.0.windows.1
3. I am able to run git commands from the VSCode command prompt, but it gives me a red "error" box "there was an error running a git operation". It also gives me a blue "info" box with some git commits (the hash and comm

[2016-12-27 16:32] rebornix commented on #17855
@tianxingyang can you check this issue with the python extension you are using? Maybe it's an known issue there so let's start with https://github.com/DonJayamanne/pythonVSCode

[2016-12-27 16:43] hun1ahpu commented on #17660
For these commands what was the reason for not using 'edt 1/2/3' ?

[2016-12-27 16:45] #17407 closed

[2016-12-27 16:46] lorthirk commented on #17660
@hun1ahpu I guess they're just listed in alphabetical order

[2016-12-27 16:57] alanbuchanan opened #17858 "Please add the option to remove the blobs on the right hand side scrollbar"
VSCode Version: 1.9.0-insider
OS Version: OSX El Capitan 10.11.4

Steps to Reproduce:

1. Open a file when the editor is open
2. Click on some text that also appears in another part of the file

In the below example, I have clicked on a `<ul>` tag.

![image](https://cloud.githubusercontent.com/assets/10364894/21504250/1baeeb90-cc55-11e6-93c0-c3c2e266ad0a.png)

There are two other parts of the file

[2016-12-27 17:02] RookieDay opened #17859 "vsc no respond when save large json file which pasted from another vsc window"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.0.18|
|vscode-html-css|ecmel|0.0.30|
|format-php|Kasik96|1.1.2|
|vscode-JS-CSS-HTML-formatter|lonefy|0.2.2|
|debugger-for-chrome|msjsdiag|2.4.1|

---

Steps to Reproduce:
I always h

[2016-12-27 18:02] wiggin77 commented on #2871
I need this as well. I am writing an extension that enhances other language extensions and need to look up things like what autoclosing pairs are defined.

[2016-12-27 18:12] stefanaerts commented on #17605
Hi,since my last update it's not showing the list in the menu any more

Op 27 dec. 2016 10:43 a.m. schreef "Erich Gamma" <notifications@github.com>:

[2016-12-27 18:20] BrandonRice commented on #17781
I found the issue this morning.  I guess I didn't pay attention to the type
of language that VSCode was recognizing the page.  I had placed my snippets
in the HTML language but the page was being recognized as ASP.  I have
copied my code to the ASP language as well and the snippets work fine.
Thank you for looking into this and I apologize for the false alarm.

Thank you,

Brandon Rice
Web/Db Appl

[2016-12-27 18:44] pzuraq commented on #14945
@drKnoxy seems to be dead in the water, and there isn't a fix for #15008. Are we sure that the maintainers of that package are active?

[2016-12-27 19:00] zecide opened #17860 "Failed to save 'file': A system error occured (EACCES: permission denied, open 'file path')"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:42:49.304Z)
- OS Version: macOS Sierra x64 10.12.2
- Extensions:

|Extension|Author|Version|
|---|---|---|
|xml|DotJoshJohnson|1.6.1|
|beautify|HookyQR|0.6.2|
|format-indent|Kasik96|1.3.0|
|terminal-tabs|Tyriar|0.0.6|
|vscode-terminal-here|Tyriar|0.0.5|
|html-css-class-completion|Zignd|1.0.3|
|html-snippets|abusa

[2016-12-27 19:06] DanZeuss opened #17861 "Failed to save 'myfile.html': The content on disk is newer. Click on Compare to compare your version with the one on disk."
- VSCode Version: 1.8.1
- OS Version: Microsoft Windows [Version 10.0.14393]

Steps to Reproduce:
1. Open a **Network Shared** folder (I'm using a Virtual Machine where the project has its folder shared)
2. Select a file and try to edit it;
3. Press CTRL+S twice quickly.

There is no Steps to Reproduce, however, it's the most common procedure to get this error.

[2016-12-27 19:16] dbwest commented on #12714
Is this supported yet?

[2016-12-27 19:19] freebroccolo commented on #13057
This seems to be broken again as of 1.8.1.

Now the preview just highlights almost everything in blue (see below) so it seems it's not even using the same language as the origin but something else unexpected. It doesn't look like an issue with the grammar incorrectly parsing either. I may be doing something wrong in the extension though.

Can someone confirm this is still working as expected? @jri

[2016-12-27 20:08] iamandrewluca commented on #9500
Hello folks!
I have a eRuby file `*myFile.html.erb` and it seems that emmet does not work.
I also tried to add this to settings but no chance.

[code]

How can I fix this?
Thanks in advance!

[2016-12-27 21:07] JonathanCramer opened #17862 "can't duplicate"
- VSCode Version: 1.7.1 (1.7.1)
- OS Version: macOS Sierra 10.12.2

well i can't duplicate so it's not for me, i'll be back in case you add this function...

[2016-12-27 21:19] mrmlnc commented on #17862
What you don't can duplicate? What are you talking about?

[2016-12-27 21:42] Tyriar commented on #17857
Duplicate #17162, fixed in Insiders

[2016-12-27 21:42] #17857 closed

[2016-12-27 22:50] MaelstromCdn commented on #10114
This would be awesome! I'd also settle for the ability to set the location of the settings file so I could sync with something like OneDrive or Dropbox.

[2016-12-27 22:53] duydao commented on #10074
@alexandrudima The problematic line is https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/find/common/findController.ts#L541. This line takes the latest cursor as start position when searching for matches.

Shouldn't it ignore _empty_ selections and use the end of the last _non-empty_ selection as last position when searching for matchings?

btw: when having multiple selections,

[2016-12-27 23:28] npx commented on #10074
_(Just a clarification)_

In the case of:
[code]
hitting CMD+D should select the full word the cursor is currently over, not just the same match.

[2016-12-27 23:51] axefrog commented on #16475
@alexandrudima Thanks a lot for the feedback and sorry for the slow reply. I'll take it on board and come back if I have anything further to add.

[2016-12-27 23:52] alefragnani commented on #17621
@BillDenton the _location_ enhancement has just been released.

[2016-12-27 23:55] robertohuertasm opened #17864 "Filename associations are not working as expected"
- VSCode Version: version 1.8.1
- OS Version: Windows 10

Steps to Reproduce:

1. Create an icon theme.
2. Create a filename that has no extension. e.g. license
3. Create a file called `license` and it will work as expected
4. Create a file called `license.ts` and instead of the expected `ts` icon, you will see the `license` icon.

It seems that filename associations are created by taking the exte

[2016-12-28 00:00] robertohuertasm commented on #17864
Another effect is that filenames starting with a dot, like '.gitignore' are being treated as file extensions. This usually works but I have detected what seems to be another bug.

In the docs it says:

For what I've seen this is not the case and `language match` takes precedence in front a `file extension match`:

![image](https://cloud.githubusercontent.com/assets/696981/21510840/ec15a498-cc98-11

[2016-12-28 00:30] duydao commented on #10074
@npx actually, it's even easier to create a plugin that replaces the cmd/ctrl+d command. In fact, I've just created one that works as I would've expected. If you're interested, you can find it here:

https://github.com/duydao/vscode-expand-selections

[2016-12-28 00:33] robertohuertasm commented on #2647
Just to make it simple:

1. Find `product.json` file
2. Add the following lines to it:

[code]

[2016-12-28 01:18] robertohuertasm commented on #17864
I've submitted a PR for this #17865

[2016-12-28 01:49] winpzs commented on #17770
me too

[2016-12-28 01:52] htory327 opened #17866 "Rust Tools Missing"
- VSCode Version: 1.8.1
- OS Version: OS X El Capitan 10.11.5

Steps to Reproduce:

1. Rust tool is missing, (Racer not found)x2
2. All the tools are already installed
`cargo install racer && cargo install rustfmt && cargo install rustsym
[uacfw@uacfw ~/Desktop/Rust/projects/guessing_game]$ cargo install racer && cargo install rustfmt && cargo install rustsym
    Updating registry `https://github.

[2016-12-28 04:11] KingGeneral commented on #612
help, not working when key is doubled, even when using  '-' or '^' in keybindings.json
`{ "key": "ctrl+left","command": "-cursorWordStartLeft"}`

want to remove this
[code]

[2016-12-28 04:41] kabirbaidhya commented on #541
I think both full-word navigation and subWord (or camelHumps style) navigation are very useful features. Currently I'm also using this plugin https://marketplace.visualstudio.com/items?itemName=ow.vscode-subword-navigation to enable the sub word navigation.

I'm using these key mapping:
**[Shift+] Ctrl + Left/Right** for full word selection/navigation (default)
**[Shift+] Alt + Left/Right** for su

[2016-12-28 04:51] Gilgamesh22 opened #17867 "Add line number text property"
Currently there is no way to change the line number text in vscode. the reason I am asking for this is because I would like to create a relative line number extension. This is helpful for vim users, who would like to know the number of lines from current selected.

[2016-12-28 05:19] kevinbarabash commented on #2394
I sometimes run into this issue.  Restarting seems to fix this for a while.  I'm not sure what triggers it.  I'm running VSCode 1.8.1 and version 1.2.1 of the ESLint plugin.

[2016-12-28 06:26] rebornix opened #17868 "improve indentation rules"
# Indentation

## Intro
[Indent Style](https://en.wikipedia.org/wiki/Indent_style) is a convention to convey the structure of source code to human readers in programming languages. It's not a requirement in most programming languages but usually language authors adopt a style for their sample code and encourage users to use that. In some particular programming languages, Python for example, indent

[2016-12-28 08:07] PooLP commented on #17335
Hi,

I have the same problem (Warn - "The TypeScript language service died unexpectedly 5 times in the last 5 Minutes. Please consider to open a bug report.") with 1.9.0-insider on simple .JS file

[code]

[2016-12-28 08:59] aisakeniudun opened #17869 "'format document' produces a very ugly document, say html document."
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.10586
- Extensions:

|Extension|Author|Version|
|---|---|---|
|speech|bierner|0.0.1|
|scala|daltonjorge|0.0.4|
|vscode-markdownlint|DavidAnson|0.6.0|
|vscode-instant-markdown|dbankier|0.2.1|
|glslx-vscode|evanw|0.0.8|
|Theme-HotDogStand|gerane|0.0.2|
|theme-microsoft

[2016-12-28 09:02] DollarAkshay commented on #3422
Any update ? Python code folding is really annoying me

[2016-12-28 09:19] schmuli commented on #17867
From the `settings.json` UI (formatted):

[code]

Can you please check if that solves your issue?

[2016-12-28 09:32] #4911 closed

[2016-12-28 09:39] carlevans719 opened #17870 "Multi cursor deselects when typing brackets in multiple positions on same line"
- VSCode Version:
[code]
- OS Version:
`Ubuntu 16.04  Kernel: 4.4.0-47-generic`

Steps to Reproduce:

1. Open a file - I have reproduced with `.less`, `.js` and `.html`
2. Select somewhere
3. Hold `alt` and select somewhere else further along the same line
4. Open and close a pair of brackets
5. Notice that the second pair (and all other subsequent pairs) of brackets did not close and the cursor i

[2016-12-28 09:56] jrieken commented on #14124
This is a problem with the DiffNavigation actions because they are local to *one* diff editor and therefore not actionable globally. The same is true for things like 'Find References'.

As it was already mentioned, either there is only one occurrence of the `textCompareEditorVisible` context key and that is stored in the global context or the navigate commands work without that, first trying to fi

[2016-12-28 09:59] isidorn commented on #12714
No, but PRs are welcome.
Code pointer -> https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/configurationResolver/node/configurationResolverService.ts#L19

[2016-12-28 10:30] Gucin opened #17871 "Split editor does not work"
- VSCode Version: Code - Insiders 1.9.0-insider (58ab5ecdd9e54643e3ae9ae188021844329c0854, 2016-12-28T07:05:13.856Z)
- OS Version: Darwin x64 16.3.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-instant-markdown|dbankier|0.2.1|
|php-intellisense|felixfbecker|0.0.12|
|Angular1|johnpapa|0.1.16|
|vscode-apielements|vncz|0.6.0|

---

Steps to Reproduce:

1. Update to latest insider v

[2016-12-28 10:49] #13148 closed

[2016-12-28 10:55] aleonidis commented on #396
Indeed that would be a handy feature.

[2016-12-28 11:38] buzzzzer commented on #17588
+1
No  intellisense for Javascript
Test sample:
create test.js on clear workspace, then type:
[code]
Move cursor to extends **Foo**. F12 and nothing....

[2016-12-28 11:45] #17346 closed

[2016-12-28 12:01] XuJiandong opened #17872 "Decoration disappeared after switching editor"
- VSCode Version: 1.8.1
- OS Version: Window 7

Steps to Reproduce:
1. use the following code to mark some word,e.g.:
[code]
2. Switch to another editor tab, then switch back, all decorations disappeared

[2016-12-28 12:06] buzzzzer commented on #17221
Аnd what to do with javascript intellisense ?
On older version it work but on 1.8.1 not.
On some projects V8 build in application and i don`t  use node ecosystem
On 1.6.1 works on file.js:
[code]
but now intellisense does not works :(

[2016-12-28 12:21] rdewolff commented on #5866
Any plugin doing that?

[2016-12-28 12:24] ivosabev commented on #3520
Same issue on macOS Sierra 10.12.2

I get this error every 2 seconds in `system.log`

[code]

[2016-12-28 12:31] buzzzzer commented on #17608
@egamma @LiPengfei19820619`s comment its not FR, its heart-cry )))
When the source code in different encodings different from utf*, development on vs turns into hell,but we still love it.

p.s. sorry for flood

[2016-12-28 12:36] stormherz commented on #3788
Same here. Is there a chance this will be implemented?

[2016-12-28 13:07] ricklamers opened #17873 "Make colorDecorators optional through settings"
- VSCode Version: 1.8.1
- OS Version: Windows 10 x64

I don't know whether this is the place to submit this, please do correct me if this is not the place.

My suggestion: allow a user to disable the color decorators that appear in the editor (e.g. in .css files with #fff color codes).

I think they're added in this file: https://github.com/Microsoft/vscode/blob/a29692641df855658855f46f71432d5e1b3

[2016-12-28 13:32] abc100m commented on #17807
@jrieken  @egamma  Sorry for late reply, I will describe more detail

Now I have vscode 1.7.1 installed, and all the extension are working.
I will upgrade to vscode 1.8.1 for test why it don't work.

![image](https://cloud.githubusercontent.com/assets/4769764/21522939/b743b7c6-cd44-11e6-8f26-cb8027544585.png)

[2016-12-28 13:39] abc100m commented on #17807
I have make all the extensions disabled after install vscode 1.8.1

![image](https://cloud.githubusercontent.com/assets/4769764/21523092/ea83f9d8-cd45-11e6-9e1d-82d44f54c234.png)

[2016-12-28 13:45] abc100m commented on #17807
Now I enable Python extension and reload, then make a new empty directory and open it use vscode.
Now vscode works like I haven't install the Python extension, and please note there isn't any log or errors

![image](https://cloud.githubusercontent.com/assets/4769764/21523161/8f704424-cd46-11e6-9915-53fd2db1347b.png)