[2016-07-01 20:52] #6106 closed

[2016-07-01 21:20] richardstanton opened #8646 "Debugging fails if Stopped event occurs before command Response."
There appears to be an issue with the VS Code Debug Protocol. When a step or continue command is issued it is possible to get a stopped event before the command response. This occurs occasionally in the C# and C++ debugger extension. When this occurs you can no longer debug with VS Code. It no longer appears in break mode, but you cannot get out without stopping debugging.

[2016-07-01 21:33] Tyriar commented on #8547
@bpasero any idea what could have changed with this? Did someone touch any watching logic recently? I'd rather fix this in vscode than change my dotfiles to duplicate the files.

[2016-07-01 21:42] TotzkePaul opened #8647 "The window has crashed"
- VSCode Version: 1.3.0-insiders
- OS Version: Windows 10 Enterprise

Steps to Reproduce:

1. Install VS Code
2. Open Folder with 12 Mb html file.
3. "The window has crashed"

There isn't a noticeable increase in memory or CPU usage. Running as Admin or opening it as a single file makes no difference.

This seems similar to "Crashing/failing to open on new install #8400" except that it seems that

[2016-07-01 21:43] Tyriar commented on #8531
This should be fixed for June if possible, I always use quotes here and it feels very broken. This bug could also potentially have other implications for code completion providers. Please comment @aeschli

[2016-07-01 21:47] Tyriar opened #8648 "Problems view should be refreshed when files are moved"
- VSCode Version: Code - Insiders 1.3.0-insider (a2b9738a942237b59cb920940b93a0206f1b61d0, 2016-07-01T19:24:33.352Z)
- OS Version: Linux x64 4.4.0-28-generic, Ubuntu 16.04

Steps to Reproduce:

1. Get a file with errors in the problems view
2. Move the file to another folder via drag and drop in explorer
3. Open problems
4. Click one of the problems

![image](https://cloud.githubusercontent.com/as

[2016-07-01 22:04] Tyriar opened #8649 "Go back in menu is missing shortcut key in Korean"
- VSCode Version: Code - Insiders 1.3.0-insider (a2b9738a942237b59cb920940b93a0206f1b61d0, 2016-07-01T19:24:33.352Z)
- OS Version: Linux x64 4.4.0-28-generic, Ubuntu 16.04

It should say `뒤로 (B)`

![image](https://cloud.githubusercontent.com/assets/2193314/16535517/dab65cbc-3f9c-11e6-8c90-7c478bdee112.png)

[2016-07-01 22:07] Tyriar opened #8650 "Actions and menu items on the UI are not localized"
- VSCode Version: Code - Insiders 1.3.0-insider (a2b9738a942237b59cb920940b93a0206f1b61d0, 2016-07-01T19:24:33.352Z)
- OS Version: Linux x64 4.4.0-28-generic, Ubuntu 16.04

Actions that are surfaced through the UI should be localized. Many seem to have been overlooked.

Here's an example (`--locale=ko`):

English x2 in command palette:
![image](https://cloud.githubusercontent.com/assets/2193314/16

[2016-07-01 22:13] Tyriar opened #8651 "Output panel channel dropdown in Chinese has incorrect line height for CJK characters"
- VSCode Version: Code - Insiders 1.3.0-insider (a2b9738a942237b59cb920940b93a0206f1b61d0, 2016-07-01T19:24:33.352Z)
- OS Version: Linux x64 4.4.0-28-generic, Ubuntu 16.04

It should be centered:

![image](https://cloud.githubusercontent.com/assets/2193314/16535688/3f0f323c-3f9e-11e6-9a2c-cbb0f5ea5edc.png)

[2016-07-01 22:18] Tyriar opened #8652 "Translations in command palette should only show up when they differ"
- VSCode Version: Code - Insiders 1.3.0-insider (a2b9738a942237b59cb920940b93a0206f1b61d0, 2016-07-01T19:24:33.352Z)
- OS Version: Linux x64 4.4.0-28-generic, Ubuntu 16.04

`EditorConfig: Generate` from the extension does not feature a translation and takes half the space of the commands doubling up with the fake translations.

![image](https://cloud.githubusercontent.com/assets/2193314/16535631/c

[2016-07-01 22:21] Tyriar opened #8653 "Several CJK strings on the UI are very difficult to read on standard definition monitors due to font weight and size"
- VSCode Version: Code - Insiders 1.3.0-insider (a2b9738a942237b59cb920940b93a0206f1b61d0, 2016-07-01T19:24:33.352Z)
- OS Version: Linux x64 4.4.0-28-generic, Ubuntu 16.04

`--locale=zh-CN` bold in debug panel headings:

![image](https://cloud.githubusercontent.com/assets/2193314/16535731/9eb01c4c-3f9e-11e6-8202-f78fea6e3a6b.png)
![image](https://cloud.githubusercontent.com/assets/2193314/16535735

[2016-07-01 22:24] Tyriar commented on #8649
This is what it looks like when accessing via <kbd>alt</kbd>, notice the misplaced underline.

![image](https://cloud.githubusercontent.com/assets/2193314/16535855/d9dd5c16-3f9f-11e6-91ce-b19cd1fa8430.png)

[2016-07-01 22:24] chrmarti opened #8654 "Markdown preview shows flickering batches in smoke test's readme.md while updating"
- VSCode Version: Code - Insiders 1.3.0-insider (a2b9738a942237b59cb920940b93a0206f1b61d0, 2016-07-01T19:26:22.011Z)
- OS Version: Darwin x64 15.5.0

Steps to Reproduce:

1. Open smoke test's readme.md and its preview side-by-side
2. Type in readme.md
3. -> The batches at the top of the preview disappear after each change and the reappear

[2016-07-01 23:07] chrmarti opened #8655 "Git: status bar lacks indication that it will push"
- VSCode Version: Code - Insiders 1.3.0-insider (a2b9738a942237b59cb920940b93a0206f1b61d0, 2016-07-01T19:26:22.011Z)
- OS Version: Darwin x64 15.5.0

Steps to Reproduce:

1. Create commit, ready to be pushed
2. Click on Git part of status bar
3. -> Commit is pushed, which is unexpected

[2016-07-01 23:31] chrmarti opened #8656 "Alt text on tabs' close button"
- VSCode Version: Code - Insiders 1.3.0-insider (a2b9738a942237b59cb920940b93a0206f1b61d0, 2016-07-01T19:26:22.011Z)
- OS Version: Darwin x64 15.5.0

Steps to Reproduce:

1. Enable OS X Voice Over
2. 'Tab' to editor tabs
3. -> You can't distinguish between the tab and it's close button

[2016-07-01 23:50] dilijev commented on #5865
This has been bothering me as well. I've been thinking I'd like to try hacking on something and this doesn't seem so bad. I would have time over the weekend of the 9th. Mind if I pick this up then if it hasn't already been done @alexandrudima @bpasero?

[2016-07-02 00:03] chrmarti commented on #8655
Not a regression (also in 1.2.1).

[2016-07-02 00:03] bgashler1 commented on #8564
Nice work @bpasero. Unfortunately, I can't think of a simple way around the inheritance problem.  But it really didn't bother me because I can't drag a tab to the "Open Editors" anyway.  Some of the more complex solutions I suggested earlier, such as CSS custom properties, and the CSS 4 pollyfill library would certainly enable us to avoid using the mix-blend mode.

[2016-07-02 00:07] kieferrm opened #8657 "Save All in editor group not readable by screenreader"
- VSCode Version: insiders 7/1
- OS Version: Windows

Screenreader can not read Save All button on an editor group in the explorer's Open Editors section.

[2016-07-02 00:11] kieferrm opened #8658 "Tree element actions not readable by screen reader (open editors, git, search)"
VSCode Version: insiders 7/1
OS Version: Windows

Screenreader can not read Close Editor button in front of an editor in the explorer's Open Editor section.

[2016-07-02 00:12] kieferrm opened #8659 "Close Editor button on tab not readable by screenreader"
VSCode Version: insiders 7/1
OS Version: Windows

Close Editor button on editor tab not readable for screenreader.

[2016-07-02 00:19] kieferrm opened #8660 "Screenreader issues in global search/replace"
VSCode Version: insiders 7/1
OS Version: Windows
1. Open Search Pane
2. Search for a string with matches in your workspace
3. Tab to the first search result
4. Tab to the Replace or Remove button on the right end of  a search match

-> screenreader remains silent when those buttons have focus

[2016-07-02 00:25] kieferrm opened #8661 "Cannot access extensions search result using the keyboard"
- VSCode Version: insiders 7/1
- OS Version: Windows

Steps to Reproduce:

1. Open Extensions
2. Press Tab key
-> Extensions search results get focus, but I can not get to the individual extensions using the arrow keys or the tab key.

[2016-07-02 02:16] rozzzly commented on #8641
From my experience, this is highly dependant on one's mouse setup. Most mice I have seen have the default setup has those mouse buttons mapped to the keys: `alt+left`, `alt+right` for `back`, and `forward` respectively.

I have a [Logitech G7000s](http://gaming.logitech.com/en-us/product/g700s-rechargeable-wireless-gaming-mouse) which has 8 buttons addition button. Logitech ships it with software

[2016-07-02 02:47] natdm commented on #1884
If the status bar distracts you from developing, maybe you have other issues?

I'm cool with the color. Blue in 'normal' conditions, orange-red in debug mode. Works for me.

[2016-07-02 02:55] wcharczuk commented on #1884
I'll take passive aggressive responses for 100, Alex.

[2016-07-02 03:07] jcloutz opened #8662 "Auto closing brackets not functioning for c# in 1.3.0-insider"
- VSCode Version:1.3.0-insider
- OS Version: OSX 10.11.5

Steps to Reproduce:

1. Create new c# file (.cs)
2. Type the following `void Foo() {` and the bracket fails to auto close.

I have test both the c#, and legacy c# extensions and both fail to close the brackets in the in insiders edition. Both plugins work properly in 1.2.1.

The auto closing bracket also works properly in 1.3.0-insider for

[2016-07-02 03:20] natdm commented on #1884
Not passive aggressive.

Out of all the things to complain about in an IDE, the status bar at the bottom? Not bugs, lack of features to assist in more efficient development, language support, better debugging or GIT integration, lack of community, etc... (not saying VSC has these issues) but.. the color of the status bar at the bottom?

[2016-07-02 03:39] scloudyy commented on #7997
I find this issue is not belong to VSC, it is a bug of amVim. if uninstall amVim, this issue will disappear. @Yukaii  @Elderry  @alexandrudima
I have submit an new issue to amVim https://github.com/aioutecism/amVim-for-VSCode/issues/109

Maybe next time besides "VSCode Version" and "OS Version" we should also let others know what packages we have installled. @alexandrudima

[2016-07-02 03:45] shubhamsizzles commented on #1884
@natdm Well, guess what, UI does matter in an IDE/editor. If it were only for the features you mentioned not, we'd all be using vim/emacs

[2016-07-02 03:55] mani47 commented on #8567
idea was being able to run open file tests just like all other IDEs, this way I have to constantly edit launch.json when working on tests.

[2016-07-02 04:37] kaanoo2904 commented on #8662
Same here: Ubuntu 16.04 , VS 1.3.0-insider , C# extension 1.2.1

[2016-07-02 04:38] zjaml commented on #3701
Hi,@welnald

First, I switched to VSCode recently and just love it, great work guys!

I'm having pretty similar problems with the latest vscode, the breakpoint just won't match for me.
I built a sample repo here to help you reproduce the issue.
Would be much appreciated if you can point me where I did wrong. It would be awesome to be able to setup the workflow this way.

https://github.com/zjaml/v

[2016-07-02 05:14] gerane opened #8663 "Issues with reliability and usability of built in Extension command line commands, and Question about metrics and guidance."
I have been working on a PowerShell Module for working with VSCode Extensions and Metrics. This project got started by looking for a better way to get metrics on Publishers and Extensions. I have a large number of published extension, roughly 300 or so which are mostly themes, and found it was almost impossible to really get any sort of idea on numbers.

My module can be found here [VSCodeExtensio

[2016-07-02 05:16] gerane opened #8664 "code --uninstall-extension only uninstalls latest version"
If you have 5-6 versions installed, it requires running the command 5-6 times to actually remove the extension.

- VSCode Version: 1.3.0-insiders
- OS Version:Windows 10

Steps to Reproduce:

1. Have multiple version of an extension installed
2. Run code --uninstall-extension extensionname

[2016-07-02 05:25] sarbbottam commented on #3884
eagerly waiting for this ... 🐱

[2016-07-02 06:03] bpasero commented on #8531
I can reproduce on Mac.

[2016-07-02 06:05] bpasero commented on #8595
@Serjster if you are on stable (blue icon) you get updates once per month, on insider (green icon) you get updates once per day. Maybe you are on the green VS Code icon.

[2016-07-02 06:06] bpasero commented on #8287
Ah ok, sorry about that...

[2016-07-02 06:08] bpasero commented on #8547
No nothing changed as far as I know, but feel free to investigate and PR me if you found something.

[2016-07-02 06:11] bpasero commented on #8653
If this can be fixed by tweaking our CSS with some rules for CJK, we are good. Otherwise the bigger story is to support setting font from a setting. Moving to Brad first to see if we can fix this with some CJK CSS rules in the same way we do it here https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/electron-browser/media/shell.css#L20

[2016-07-02 06:12] bpasero commented on #8564
@bgashler1 well you can drag it over to any opened editor and there you would get the large area filled in blue. I will see if I can tweak the color at least a little bit in light theme.

[2016-07-02 06:14] bpasero commented on #8266
@kieferrm thanks. please also update the tests, otherwise our builds are failing (https://travis-ci.org/Microsoft/vscode/builds/141740263)

[2016-07-02 06:16] bpasero commented on #8608
@Luncher can you be more specific?

[2016-07-02 06:18] bpasero commented on #8611
The build should not fail because windows-mutext is an optional dependency. @Luncher do you have NPM 3 running?

[2016-07-02 06:18] bpasero commented on #8614
I am very sorry to hear you are having issues with VS Code. I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-07-02 06:19] bpasero commented on #8628
Yes, we currently do not support this scenario, sorry.

[2016-07-02 06:20] bpasero commented on #8629
That is weird indeed. Since the working files list is removed in our upcoming 1.3 release I wonder if you could give our insider build a try?

We are releasing preview releases of the next stable VS Code version for everyone to try and give feedback. These preview releases are not 100% tested and might be unstable but contain our latest features and bugfixes. You can give our preview releases a tr

[2016-07-02 06:20] bpasero commented on #8632
Fixed for 1.3 release.

[2016-07-02 06:20] #8632 closed

[2016-07-02 06:21] bpasero commented on #8634
@ahmetalpbalkan did you open this file before? we keep and restore the view state of the file as it was so maybe you had been scrolling to the end before? or do you change monitor resolutions often maybe?

[2016-07-02 06:22] bpasero commented on #8635
I do not think we (or JS) supports this syntax.

[2016-07-02 06:23] bpasero commented on #8640
I am very sorry to hear you are having issues with VS Code. Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market

[2016-07-02 06:23] #8640 closed

[2016-07-02 06:23] bpasero commented on #8641
Note that currently we only support these buttons on Windows. There they are bound to navigating in the history.

[2016-07-02 06:24] bpasero commented on #8643
@mfrost66 we do not store any view state when you open an empty instance, only when you open a folder. I am marking this as duplicate, there are issues filed for this already.

[2016-07-02 06:25] bpasero commented on #8647
@TotzkePaul can you attach the file please?

[2016-07-02 06:27] bpasero commented on #8650
I think we just have not yet made a NLS input.

[2016-07-02 06:28] bpasero commented on #8654
Not a regression I think. We just reload the contents each time.

[2016-07-02 06:30] bpasero commented on #8660
I think this is a general problem with actions inside trees.

@kieferrm do you see this bug in all trees with actions? if so, we should only have one issue for it.

[2016-07-02 06:30] bpasero commented on #8661
I filed a similar bug that the list widget needs to be on par with tree widget in terms of these accessibility features.

[2016-07-02 06:31] bpasero commented on #8662
I am very sorry to hear you are having issues with VS Code. Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market

[2016-07-02 06:31] thewhitetulip commented on #8395
Found out the issue. While writing strings intellisense isn't case insensitive

[2016-07-02 06:39] zabel-xyz opened #8666 "API: allow case insensitive find files via vscode.workspace.findFiles()"
**Steps to Reproduce:**
a file with name "Unit.pas"

[code]

**Problem:**
file *Unit.pas" will not be found, because the case doesn't match.
(Windows is a case-insensitive files system)

_VSCode Version: 1.2.1 / OS Version: Windows 10_

[2016-07-02 07:01] felixfbecker commented on #7611
It's 2016, just make a 64 bit version :D

[2016-07-02 07:02] felixfbecker commented on #1614
I think I found something that should help with this: https://www.npmjs.com/package/electron-sudo
It allows to run a process with privileged rights, cross-platform, by opening a platform-dependend prompt.
You could save all unsaved files in the temporary folder, then use electron-sudo to restart Code as admin, and re-open and save the unsaved files (I assume this is how Notepad++ does it).

[2016-07-02 07:20] zabel-xyz opened #8667 "vscode.workspace.openTextDocument should open in the active editor"
If we have two editors open side by side,
the method  _vscode.workspace.openTextDocument ()_ always open file in the left editor instead of the active editor.

It would also be nice to choose (optionnaly) to open in a new editor (like ctrl + click)

_VSCode Version: 1.2.1 / OS Version: Windows 10_

[2016-07-02 07:29] Ashutosh-Tripathy commented on #8614
I opened VS code with `code --disable-extensions` (I don't have any extension installed) and getting same issue.
I am using Python 3.4. Here is my tasks.json file content :-

`{
    "version": "0.1.0",
    "command": "c:\\Python34\\python.exe",
    "args": [
        "test2.py"
    ],
    "problemMatcher": {
        "fileLocation": [
            "relative",
            "${workspaceRoot}"
        ],

[2016-07-02 07:44] OmriBromberg opened #8668 "terminal.external.windowsExec Cannot be changed to powershell"
- VSCode Version: 1.2.1
- OS Version: windows 10

Steps to Reproduce:

1. change in settings terminal.external.windowsExec from default "cmd" to "powershell"
2. debug a node.js app with "externalConsole": true in the launch.json
result : it opens up the default cmd instead of powershell
although the integrated terminal works fine when I try to launch powershell.

EDIT: when I try to open a new com

[2016-07-02 07:57] bpasero commented on #8614
Not sure where this is, starting with tasks.

[2016-07-02 07:59] TheColorRed opened #8669 "[API]: Access variable from vscode.previewHtml"
I am creating an extension, and I have a command setup in my `package.json` file, and when I run it I would like to set a variable that I can access from the following command:

[code]

So, take this command for example:

[code]

And this html:

[code]

When the command gets run, is there a way for me to set the value in the `ts` file so that my html file can access `myTestValue`?

[2016-07-02 08:18] bpasero opened #8670 "DND color of tabs in light theme is not very visible"

[2016-07-02 08:18] bpasero opened #8671 "Scrollbar does not go over active tab"
Due to my z-index hack that I probably should revisit.

[2016-07-02 09:09] bpasero opened #8672 "mix-blend-mode causes all kinds of issues"
Issues:
* lost cursor in the editor (https://github.com/Microsoft/vscode/issues/9029)
* lost LCD subpixel anti alias
* focus outline coloring turns gray
* DND feedback in light theme is gray when it should be blue

<img width="328" alt="screen shot 2016-07-03 at 11 19 09" src="https://cloud.githubusercontent.com/assets/900690/16544694/fcf38998-410f-11e6-90ac-8799935e1e50.png">

[2016-07-02 09:30] alexandrudima commented on #5865
PR welcome :+1:

[2016-07-02 09:50] weinand commented on #8646
@richardstanton this issue has been discussed in #7325:

An adapter should only send an event after sending back the response for the command that triggered the event.

The original problem that made us enforcing the correct order is #5966.

/cc @isidorn

[2016-07-02 10:17] Ciantic opened #8673 "Exact matches in symbols fuzzy search are not on top"
I was a bit amazed by this, this is a screenshot from a file wide symbols listing (which should be quick to generate):

![image](https://cloud.githubusercontent.com/assets/64731/16539812/ca2360d8-4056-11e6-8195-6025136180b4.png)

Why does it suggest me a "LoggedIn" as default, rather than "Login" which is exact match? I think fuzzy search sorting should be predictably ordered. Exact matches should

[2016-07-02 10:28] MJLHThomassen commented on #4039
+1

[2016-07-02 10:40] Tyriar commented on #8653
How about something like this?

[code]

[2016-07-02 10:44] jaime-olivares commented on #8198
Is it possible to configure VSCode for using the integrated terminal when selecting the option 'Open in terminal' in the folder explorer?

[2016-07-02 11:03] dbaeumer commented on #8650
That is true. I did an input on Friday and it takes a week to get them localized. In general our statement is that Insider and Milestones builds partly show English strings because of the time delay of localization.

Moving to @sandy081 to ensure that the strings are proper localized. If so please close.

[2016-07-02 11:08] Tyriar commented on #8644
Duplicate of https://github.com/Microsoft/vscode/issues/6602

[2016-07-02 11:08] #8644 closed

[2016-07-02 12:01] ishisaka opened #8674 "I don't use Japanese IME on integrated terminal"
- VSCode Version: 1.3.0-insiders
- OS Version: Windows 10 th2

Steps to Reproduce:

1. Ctrl + `, Open integrated terminal. Set cursor on integrated terminal.
2. Alt + `, turn on IME.
3. I can't | ALT + ` should turn on IME | But it doesn't, I don't use Japanese IME on integrated terminal.

[2016-07-02 12:06] gerane commented on #7611
I think apps would have fewer issues if they just made a single 64 bit app
and ditched the 32 bit. I'd be interested to know just how many are
actually still using 32 bit OSes.

[2016-07-02 12:47] bpasero commented on #8266
To unblock our CI, I pushed https://github.com/Microsoft/vscode/commit/4e72dcc35954ae36a277983922926f3f5a971d0c

[2016-07-02 13:20] bpasero commented on #7139
`Help > Report Issues` is your friend.

[2016-07-02 13:20] #7139 closed

[2016-07-02 13:42] bpasero commented on #8501
There is actually an extension that just puts the full path of the file to the status bar: https://marketplace.visualstudio.com/items?itemName=RoscoP.ActiveFileInStatusBar

![image](https://cloud.githubusercontent.com/assets/900690/16540620/84237bbc-406b-11e6-8f46-a96388eb67f2.png)

[2016-07-02 13:46] Luncher commented on #8611
@bpasero

[luncher@localhost vscode]$ npm -v
3.8.9

[luncher@localhost vscode]$ uname -a
Linux localhost.localdomain 4.1.13-100.fc21.x86_64 #1 SMP Tue Nov 10 13:13:20 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

[2016-07-02 13:50] Luncher commented on #8608
@bpasero

Thank you for your reply!
I have an application using the electron. I want to vscode integrated in, how do I do it? I want vscode as an editor of my application. You can give me some advice?

[2016-07-02 14:05] piptravels commented on #8556
I have a fresh Fedora 24 XFCE spin and I'm getting what I believe to be the same error:
Failed to synchronize cache for repo 'atrpms', disabling.
Last metadata expiration check: 0:16:01 ago on Sat Jul  2 09:41:09 2016.
Dependencies resolved.
Error: The operation would result in removing the booted kernel: kernel-core-4.5.7-300.fc24.x86_64.

I read this https://bugzilla.redhat.com/show_bug.cgi?id=1

[2016-07-02 14:06] z-ax opened #8675 "Electron Helper in processes is very confusing for Electron projects"
Hi. I'm very confused with processes in Activity Monitor while working on Electron projects.
The "Electron Helper" are usually processes of unbuilt projects, and while debugging performance or related stuff, too confused with this because have both processes of VSCode and currently launched app (launched with prebuilt Electron).

After build, all processes are usually renamed to something like "My

[2016-07-02 14:08] alexdrel opened #8676 "Local Typescript to be used by default (minor issue)"
- VSCode Version: 1.2.1
- OS Version: OSX 10.11

Although "typescript.tsdk" works fine it would be logical to make workspace local typescript to be used instead of VS code own copy.

Steps to Reproduce:
1. Remove all  typescript.tsdk overrides.
2. Open a workspace with typescript@next installed locally.
3. TS files has no TS version is present in the status line.
4. Add `"typescript.tsdk": "./node

[2016-07-02 14:13] ykulinichenko commented on #8675
There is no such problem on Windows:
![pasted_image_at_2016_07_02_05_10_pm](https://cloud.githubusercontent.com/assets/7082591/16540766/50ff9c7c-4078-11e6-98e9-0ff6de94b9ff.png)

[2016-07-02 14:48] yisibl commented on #8589
Sass is a very good choice, especially in strict compliance with the CSS syntax.
We may need to pay attention to avoid excessive nesting of the selector.
Then you can also introduce Autoprefixer to automatically generate the prefix, now there are too many do not need the prefix.

[2016-07-02 15:08] bpasero commented on #8608
I suggest you start here: https://github.com/Microsoft/monaco-editor

[2016-07-02 15:08] #8608 closed

[2016-07-02 15:28] siirila commented on #8629
Thanks for the prompt reply. I'll try out the current build on a different computer and see if I am getting the same results, and then once I get back on my other system I will try out the preview release and respond with my results.

[2016-07-02 15:29] york-xtrem opened #8678 "Sass Maps warning"
- VSCode Version: 1.2.1
- OS Version: 10.9.5

Steps to Reproduce:

1. Write in file .scss

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

[2016-07-02 15:32] ivomachado opened #8679 "Emmet Wrap with Abreviation removes vertical bar character."
- VSCode Version: 1.3.0-insider
- OS Version: Ubuntu 16.04
When I was developing a AngularJS 1.x application, the vertical bars used to represent a filter was missing after a wrap with abreviation.
Steps to Reproduce:

1. Open a HTML file and type something with a | character.
2. Select the code piece wich contains the character
3. Call the command Wrap With Abreviation

[2016-07-02 15:33] #8678 closed

[2016-07-02 15:35] york-xtrem commented on #8678
Duplicate: [https://github.com/Microsoft/vscode/issues/1758#issue-124678516](url)

[2016-07-02 15:47] mrmlnc commented on #8679
I can reproduce on Windows with VS Code 1.3.0 (a2b9738a942237b59cb920940b93a0206f1b61d0).

[2016-07-02 16:05] weinand commented on #8198
@jaime-olivares this is not yet possible, but a feature request for this exists.

[2016-07-02 17:01] ahmetalpbalkan commented on #8634
I do both. It's easy to repro actually even without changing the resolution or anything as apparently vscode restores the view state. In this case, restoring a not-very-useful view state sounds a bit weird to me is all.

[2016-07-02 17:22] bpasero commented on #8634
@ahmetalpbalkan so you say this issue happens when you have the editor in one state, change to another monitor and open the file again?

[2016-07-02 17:58] kieferrm commented on #8266
@bpasero thanks for fixing this.

[2016-07-02 18:32] tudorific commented on #2131
I started noticing this issue happening about 3 weeks ago with my system. I get similar black squares as you other people reported but only in Chrome and VS Code, no other applications seems to have the issue. I only have 1 instance of VS Code open with a Node.JS project and my RAM usage is only at 25-40% while the black squares are happening. Any ideas what else to try? Restarting VS Code or my l

[2016-07-02 18:55] egucciar opened #8680 "Search is slow"
Suddenly, search (and file name search) is behaving far more slowly than it used to. VSCode search was instant, now, it is just faster for me to go to to the sidebar which i dont want to do.

[2016-07-02 18:57] Moke-RS opened #8681 ""Alt Gr" (Alt ground) not working inside terminal"
- VSCode Version: 1.2.1
- OS Version: Windows 10 Home

Steps to Reproduce:

1. Open the terminal inside VS Code
2. Try to write a letter that is only accessible using the "Alt Gr" keyboard button.

In my case, the "/" is under the "Q" in my notebook keyboard. When I tried to write "/" inside the terminal using the "Alt Gr", it was not possible. Out of the terminal I could write it without problem.

[2016-07-02 19:02] SeinopSys commented on #2075
Yes, please!

[2016-07-02 21:02] ahmetalpbalkan commented on #8634
@bpasero I guess it was the state I left it at (scrolled all the way to the bottom). So maybe not a big deal, I'll close. Thanks.

[2016-07-02 21:02] #8634 closed

[2016-07-02 22:41] jaime-olivares commented on #8198
@weinand do you know the FR number, so I can pile on?

[2016-07-02 22:45] weinand commented on #8198
@Tyriar do you know the issue number for the feature request raised by @jaime-olivares?

[2016-07-02 22:52] ishu3101 opened #8682 "Ability to change the number of items stored in the recently used list"
Add a setting that would allow you to change the number of items stored in the `File -> Open Recent` recently used list in Visual Studio Code. By default it stores 10 folders and 10 files that you have recently used as seen in the source code [here](https://github.com/Microsoft/vscode/blob/f58289fdaf309c3ee2c45c41bf2486bfe5af25af/src/vs/code/electron-main/menus.ts#L47).

[2016-07-02 23:06] Tyriar commented on #8674
Duplicate of https://github.com/Microsoft/vscode/issues/7045

[2016-07-02 23:06] #8674 closed

[2016-07-02 23:06] Tyriar commented on #7045
This is one of the things issues I want to focus on for v1.4

[2016-07-02 23:17] Tyriar commented on #8501
@bpasero that's good enough for me :+1:

[2016-07-02 23:19] indiejames commented on #7027
This would be very useful for my extension as well. I need to be able to get the brackets/parens containing the position while ignoring any brackets/parens inside strings or comments.

[2016-07-03 00:46] Tekbr opened #8683 "Allow VSCode save files that need administrator permission."
- VSCode Version: 1.3.0-insider
- OS Version: Windows 10

-- Sorry for the English, I used Google Translator --

Allow VSCode save files that need administrator permission, similiar as with Notepad ++.
Currently VSCode show this message when trying to save the file.

![capturar5](https://cloud.githubusercontent.com/assets/19866231/16543131/e9ee25a6-409c-11e6-931f-9a59e7f1dd36.jpg)

This is the Not

[2016-07-03 00:56] emzero opened #8684 "[jsx] Provide HTML tag matching"
HTML tag matching highlights all the tags of the same type in JSX instead of the corresponding one.
Considering that code folding works fine, it seems that it's indeed properly recognizing the matching tag.

HTML syntax
![image](https://cloud.githubusercontent.com/assets/412489/16543186/68d865dc-409f-11e6-808c-9731fe2e6c08.png)

JavaScript/TypeScript React syntax
![image](https://cloud.githubuserc

[2016-07-03 01:15] Tyriar commented on #8198
@jaime-olivares #8132 is for just the context menu on the explorer.

@weinand I think there's an issue somewhere for enabling *either* the integrated or external but I can't find it. Plus I'm generally against it, preferring to expose both commands to users can use either fi they want.

[2016-07-03 01:35] Tekbr opened #8685 "[html] Don't mark quoted strings as links"
- VSCode Version: 1.3.0-insider
- OS Version: Windows 10

-- Sorry for the English, I used Google Translator --

Problems with `src = "' '" and href = "' '"`

Can not find file.

Example: `<ng-include src = "'./view/template/header.html'"></ng-include>`

When using single quotes within double quotes.

Do not allow it to be considered link when something comes after the extension.

Example: `<scrip

[2016-07-03 01:59] indiejames opened #8686 "Add additional context to debug adapter `evaluateRequest` calls."
`DebugProtocol.EvaluateArguments` includes the `context` which can be `hover`, `watch`, or `repl`, but it would be helpful to (optionally) include additional context. In particular, for Clojure, the namespace in which the code is being evaluated is pertinent. A brute force way of passing on useful context would be to pass the text of the document in which the code is being executed if it is execut

[2016-07-03 03:40] saibing commented on #6024
It's ok, thank your great work

[2016-07-03 05:43] Tyriar commented on #8681
Duplicate of https://github.com/Microsoft/vscode/issues/7061

[2016-07-03 05:43] #8681 closed

[2016-07-03 05:44] Tyriar commented on #8633
Already fixed in v1.3.0.

[2016-07-03 05:44] #8633 closed

[2016-07-03 07:03] bpasero commented on #8673
@Ciantic is that file open source and can be attached here for me to repro?

[2016-07-03 07:03] bpasero commented on #8675
We could rename the process I guess.

[2016-07-03 07:05] bpasero commented on #8680
https://github.com/Microsoft/vscode/issues/55

[2016-07-03 07:05] #8680 closed

[2016-07-03 07:54] nulled666 commented on #1833
I would like to have some UI APIs that could help me create popup panels for css value tuning.

[2016-07-03 08:06] niieani commented on #7253
Fantastic job guys. Honestly, you're developing faster than a lightning! Thanks a lot for making the best IDE out there.

[2016-07-03 09:48] darkred opened #8687 "VSCode not to associate itself with any file type unless the user chooses so during installation"
- VSCode Version: 1.2.1
- OS Version: win10 x64

Steps to Reproduce:

1. Install VSCode
2. Open `Control Panel > Control Panel Home > Default Programs > Assosiate a file type or protocol with a specific program`:
you'll notice that a hundred file types (in fact 101 !) are now associated with VSCode ([screenshot 1](https://i.imgur.com/ntouoyZ.jpg)).
There was no such option to opt in during the ins

[2016-07-03 09:55] alexandrudima commented on #8112
Multiline find will ship with the June release

[2016-07-03 09:55] #8112 closed

[2016-07-03 10:00] gbaumgart commented on #670
same here, we need auto-completion for CSS/JS in HTML. Otherwise, switching to Monaco is no real option :-)

[2016-07-03 10:06] mmdriley opened #8688 "Stop using sha256(MAC address) for telemetry machine ID"
Today, getMachineId [returns](https://github.com/Microsoft/vscode/blob/b498c11bdfe92b1acec6b7957493f1f679088c2a/src/vs/platform/telemetry/node/machineId.ts#L12) the sha256 hash of the machine's (primary?) MAC address.

There are a few things wrong with this from a privacy perspective.
1. The MAC address is personally identifiable information. It allows Microsoft to identify a specific user's machi

[2016-07-03 12:08] JetLua commented on #2192
How to set the indent guide color?

[2016-07-03 12:09] JetLua commented on #2192
@alexandrudima How to set the indent guide color?

[2016-07-03 14:13] vcsjones opened #8689 "Allow projects to suggest extensions"
It would nice if a project had a way to advertise what extensions are required or helpful within the context of a project. Perhaps a new file in the `.vscode` directory that allowed listing extensions and versions. For example:

[code]

This will help people that are just getting started on a project understand what dependencies are required to use the project.

When opening the project, VS Code m

[2016-07-03 15:04] glen-84 opened #8690 "Ctrl+Shift+2 marks the editor as dirty even if no changes are made"
- VSCode Version: 1.2.1
- OS Version: Win10 Home

Steps to Reproduce:

1. Select some lines that are already sorted alphabetically
2. Press Ctrl+Shift+2

The editor is marked as dirty, but nothing has changed.

[2016-07-03 15:46] bpasero opened #8691 "Cannot read property 'filter' of null"
Saw this in my console running out of sources:

[code]

[2016-07-03 16:21] AlexZeitler commented on #3451
@rcarmo Thanks for the tip but it doesn't work (the tips above don't work neither). XRDP to Ubuntu Mate on Ubuntu Server running in AWS.

[2016-07-03 16:26] AlexZeitler commented on #3451
I just located the directory using `dpkg -L visual-studio-code` which pointed me to `/usr/share/code`.
After copying the modified version of `libxcb.so.1` into that directory, I was able to start Code (but only works if I start it from `/usr/share/code` not by just typing `code` everywhere.

[2016-07-03 16:31] garysoed commented on #282
I can repro this reliably by clicking on the "Synchronize Changes" button. Here's an example log output:

[code]

So a workaround to this would be to set `git.autofetch` to `false`.

[2016-07-03 17:18] mfrost66 commented on #8643
The second instance is to a folder - it restored correctly as the 1st
instance, just fails if opened as the 2nd instance.

On Sat, Jul 2, 2016 at 1:25 AM, Benjamin Pasero <notifications@github.com>
wrote:

[2016-07-03 17:27] Tyriar commented on #282
May be to do with installation process? /cc @joaomoreno

[2016-07-03 17:40] Tyriar opened #8692 "Remove ELECTRON_RUN_AS_NODE env var from terminalProcess"
`ATOM_SHELL_INTERNAL_RUN_AS_NODE` is being removed soon in favor of `ELECTRON_RUN_AS_NODE` https://github.com/Microsoft/vscode-textmate/issues/16

[2016-07-03 17:41] Tyriar commented on #8687
I think there's already a checkbox on the installer for this. It's checked by default though, it should probably be opt-in.

[2016-07-03 17:43] bitcrazed opened #8693 "Debug Target drop-down too narrow"
- VSCode Version: 1.2.1
- OS Version: Windows 10 14380

Steps to Reproduce:

1. Open .NET Core project
2. Hit View | Debug

Cannot see the full target name in the debug target drop-down:

![image](https://cloud.githubusercontent.com/assets/961950/16546788/dafffb32-410a-11e6-872b-c25e76b6d713.png)

Debug target field should be widened so the full debug target name can be displayed.

[2016-07-03 17:45] Tyriar commented on #8683
Duplicate https://github.com/Microsoft/vscode/issues/1614

[2016-07-03 17:45] #8683 closed

[2016-07-03 17:46] bpasero commented on #8643
True, valid request then.

[2016-07-03 18:00] egamma commented on #8163
@miguelchico

To be honest, we did something very 'pragmatic'/hackish to enable this in the past. pls file a feature request against the TypeScript project https://github.com/Microsoft/TypeScript/issues/new

[2016-07-03 19:02] garysoed commented on #282
Maybe. I didn't do anything special about installing. Just downloaded the file, and opened the binary (I'm using Mac OS X El Capital).

[2016-07-03 20:14] aleksey-bykov opened #8695 "list of todo"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2016-07-03 20:14] aleksey-bykov opened #8696 "list of todo"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2016-07-03 20:14] aleksey-bykov opened #8697 "list of todo's"
the Visual Studio and tools like Resharper allow to define a set of special words in comments treated as tags for certain type of messages: `TODO` an item from a to-do list, `BUG` an item considered a bug, etc

would be great to have is VS Code too

[2016-07-03 20:14] #8696 closed

[2016-07-03 20:15] #8695 closed

[2016-07-03 20:19] 0x4E69676874466F78 commented on #7759
+1
You can also make autocompletion as in dreamweaver:
https://youtu.be/fO9TR5aYt0E?t=93

[2016-07-03 20:23] 0x4E69676874466F78 commented on #4329
https://youtu.be/fO9TR5aYt0E?t=93

[2016-07-03 20:57] siirila commented on #8629
Testing on a second computer with the same 1.2.1 version of VSCode and the same project didn't produce the slowdown, and trying out 1.3 on the initial system didn't have performance issues either.

[2016-07-03 20:57] #8629 closed

[2016-07-03 20:58] darkred commented on #8687
No, there's no such checkbox. Please check [screenshot 2](https://i.imgur.com/pZHEvn5.png) from my 1st post, and the attached video capture of the install procedure: [Video_2016-07-03_235157.zip](https://github.com/Microsoft/vscode/files/345298/Video_2016-07-03_235157.zip)

Also, the two checkboxes in the installer (esp. the 1st one) to `Add "Open with Code" action to Windows Explorer file/directo

[2016-07-03 21:21] indiejames opened #8698 "Allow extensions to send output to the debug console."
I am building an extension/debugger combination for Clojure that uses the debug console to display the output from a continuously running REPL. I need to be able to evaluate code selected in an editor outside of the normal `Debug: evaluate` path (primarily so the extension can identify the namespace in which to execute the code). I have this working, but I would like to display the the result in t

[2016-07-03 21:32] dvlsg commented on #2192
Access to the indent styling in general through the standard settings would be great. I love the indents, but they're pretty distracting compared to other indent lines I'm used to. Access to change the opacity, specifically, would be awesome.

[2016-07-03 21:36] Tyriar opened #8699 "Terminal should not get first focus if visible on launch"

[2016-07-03 22:40] bldesign opened #8700 "In the integrated terminal CTRL + V prints ^V and do not paste."
In the integrated terminal CTRL + V prints ^V and do not paste.

- VSCode Version: 1.2.1
- OS Version: Windows 10
- Node 5.10.0

Steps to Reproduce:

1. Press CTRL + V in the integrated terminal
2. It prints ^V and do not paste

[2016-07-04 00:19] tanaka-takayoshi opened #8701 "Lost short cut key for "integrated terminal""
- VSCode Version: Code - Insiders 1.3.0-insider (a2b9738a942237b59cb920940b93a0206f1b61d0, 2016-07-01T19:24:33.352Z)
- OS Version: Linux x64 3.10.0-327.18.2.el7.x86_64

Steps to Reproduce:

1. Ctrl + ` short cut key for integrated terminal is lost in latest 1.3.0-insider

[2016-07-04 01:55] Tyriar commented on #8701
I can't reproduce, is there anything in your `keybindings.json` file?

[2016-07-04 01:57] Tyriar commented on #8697
There are some extensions that scan for TODO/BUG etc.

- https://marketplace.visualstudio.com/items?itemName=MattiasPernhult.vscode-todo
- https://marketplace.visualstudio.com/items?itemName=minhthai.vscode-todo-parser

[2016-07-04 01:57] #8697 closed

[2016-07-04 02:15] aliry commented on #8217
yes, on version 1.3.0-insider

Its interesting that it actually asks user to confirm the deletion of the folder and all content inside it while it keeps the dirty files content as unsaved. Even after clicking on save icon the unsaved label does not go away.
![1](https://cloud.githubusercontent.com/assets/6610388/16549300/474d34d2-4163-11e6-95e1-175a6f91abd7.png)

I still think when user confirms t

[2016-07-04 03:07] ezwiebel commented on #8566
Hello @dbaeumer , sorry for the late reply, I was off for the weekend.
The project to reproduce was already usable at the time of my last post, [here](https://github.com/ezwiebel/VSCode_issue)
Not to hard to build though.

Anyway, here is the trace you were asking for:
[code]

[2016-07-04 03:39] tonys5396 commented on #6414
+1

[2016-07-04 03:45] demyte opened #8702 "HTML CSS Class Completion: Fetching info message causes lock up."
- VSCode Version:1.3.0-insider (a2b9738a942237b59cb920940b93a0206f1b61d0)
- OS Version: Windows 10 (14376)

Steps to Reproduce:

1. Open CSS file
2. When the Info message comes up for HTML CSS Class Completion.. please wait..
3. Window becomes unresponsive and the Reopen or keep waiting dialog appears
4. Pressing re-open does not kill the processes and restart VSCode
5. I have to kill all the task

[2016-07-04 04:25] mibanez commented on #396
+1

[2016-07-04 04:58] Tyriar commented on #8700
Duplicate of https://github.com/Microsoft/vscode/issues/6451, see there for advice

[2016-07-04 04:58] #8700 closed

[2016-07-04 05:03] bpasero commented on #8702
I am very sorry to hear you are having issues with VS Code. I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-07-04 05:05] bpasero commented on #8685
@Tekbr is this about detecting links or what happens when you click a link?

[2016-07-04 05:18] yisibl commented on #8544
I think if the tabs support animation it does not need this placeholder.

[2016-07-04 05:43] bpasero opened #8704 "Deleting folder containing dirty files closes dirty editors"

[2016-07-04 05:44] bpasero commented on #8217
I filed https://github.com/Microsoft/vscode/issues/8704 for the bug about the dirty files closing. This is a regression.

[2016-07-04 05:49] aluanhaddad opened #8705 "tsconfig changes to baseUrl, paths, etc require restart."
- VSCode Version: 1.3.0-insider, 1.2.1
- OS: Windows 10 Professional x64

Steps to Reproduce:

1. Install a nightly build of typescript supporting `baseUrl` and `paths`, anything since march should do.
2. Set `"typescript.tsdk": "C:/Users/user/AppData/Roaming/npm/node_modules/typescript/lib"`
3. Changes to paths and baseUrl are not reflected without reloading VSCode.

This is very frustrating as I

[2016-07-04 05:55] Ritzlgrmft opened #8706 "It would be great if F5 would open the debug console automatically"
- VSCode Version:1.2.1
- OS Version: Windows 8.1

I am using vscode with the "Cordova Tools" extension for building an Ionic2 app. Currently my build/debug workflow is the following, when I need to debug it on the device (which I need since I am testing some hardware functionalities which cannot be simulated):

- run `ionic serve --nobrowser` in the background
- press F6 for the cordova build: thi

[2016-07-04 05:59] bpasero opened #8707 "Linux: Keybinding for "Replace in Files" conflicts"
On Linux we seem to bind Ctrl+Shift+H to toggle output (https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/output/browser/output.contribution.ts#L47)

[2016-07-04 06:21] bpasero opened #8708 "Cursor over line numbers is oversized (Chrome 51)"
Seems like the same issue as https://github.com/Microsoft/monaco-editor/issues/5

![editors](https://cloud.githubusercontent.com/assets/900690/16552321/5f9cd436-41c0-11e6-831a-a668276e0054.gif)

[2016-07-04 06:43] hcoona opened #8709 "[ini] Language Colorize working incorrectly for INI files"
- VSCode Version: v1.2.1
- OS Version: Windows 10

Steps to Reproduce:
1. Change file type to INI
2. type "A=b;xxxx" in file content

Expected: "b;xxxx" colored as white
Actual: "b" in white but ";xxxx" in green

";xxxx" should only be regard as comments when there is no other contents in the line before ";"

[2016-07-04 06:54] bpasero commented on #8147
https://github.com/Microsoft/vscode/issues/2809

[2016-07-04 06:54] #8147 closed

[2016-07-04 06:54] bpasero commented on #2809
@DonJayamanne is starting to look into this from https://github.com/Microsoft/vscode/pull/8555

[2016-07-04 07:05] demyte commented on #8702
Hi @bpasero

You are correct, sorry I didn't notice that myself.

Thanks for the quick response.

[2016-07-04 07:05] #8702 closed

[2016-07-04 07:07] bpasero opened #8710 "Search results can differ between disk match and editor match"
@sandy081 not really something that you caused, but I thought I would file this because you seem to want to look into reducing debt in search land for disk match vs. editor buffer match.

Consider you have 1 match in a file and you edit the file to remove the match. The search results nicely update live and show that you no longer have results. However, once you close the file in the editor, its a

[2016-07-04 07:08] bpasero commented on #8105
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-07-04 07:08] #8105 closed

[2016-07-04 07:08] bpasero commented on #8240
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-07-04 07:08] #8240 closed

[2016-07-04 07:11] isidorn commented on #8693
This is a designed as the debug target drop down changes size corresponding to the viewlet

This was initiated by this user request #3027
Closing as designed

![launchdropdown](https://cloud.githubusercontent.com/assets/1926584/16553196/321706b0-41c7-11e6-8f9c-efdc395ac3a6.gif)

[2016-07-04 07:11] #8693 closed

[2016-07-04 07:14] isidorn commented on #8567
Currently we do not support this and it is a valid feature request -> reopening

[2016-07-04 07:17] isidorn commented on #8639
Dup of #3528

[2016-07-04 07:17] #8639 closed

[2016-07-04 07:26] egamma commented on #8531
Works on windows, but can repro on the Mac.

Requesting intellisense again after 'd' correctly shows the extensions.

[2016-07-04 07:32] rustanacexd commented on #4438
same issue. using mac os x 10.11.5

[2016-07-04 07:35] jrieken commented on #8654
Yes - the web view reloads the contents when it receives a document change event. Not really sure how to fix this on that level. It would require to diff the contents, check what to do in the scripts/no scripts changed case etc.

An easier fix for this specific problem might be to make this change in MD - by running a server that provides updates as you type

[2016-07-04 07:41] sandy081 commented on #8710
@bpasero Yes, I am aware of this and I think there are few other such corner cases causing due to not proper sync between search models.

[2016-07-04 07:42] bpasero commented on #8656
https://github.com/Microsoft/vscode/issues/8659

[2016-07-04 07:42] #8656 closed

[2016-07-04 07:56] sandy081 commented on #8650
All strings are properly localized, once we have nls build we can see locale specific strings.

[2016-07-04 07:56] #8650 closed

[2016-07-04 07:58] alexandrudima commented on #8708
@bgashler1 For the standalone editor, I removed this style. As you added these CSS rules, maybe you know what's going on?

[2016-07-04 08:20] ithinkihaveacat opened #8711 "No completion for "export default exports" modules"
- VSCode Version: 1.2.1
- OS Version: OS X 10.11.5

Steps to Reproduce:

1. `git clone https://gist.github.com/ithinkihaveacat/ed5fc36db488b6e5ecb209fb2d31aa68`
2. `typings install`
3. open main.ts in VSCode
4. Note that there are no completions for `$.`. (`$.greet` should be a completion.)

[2016-07-04 08:22] sandy081 commented on #8707
As discussed, we stick to Ctrl+Shift+H keybinding for replace and change it for Output console in Linux.

[2016-07-04 08:41] isidorn commented on #8707
@sandy081 ok tried it out and currently replace takes priority - which is good. So we decided to move this to july? Which is a good decision imho

[2016-07-04 08:45] alexandrudima opened #8712 "Bail out of tokenization if too many states are pushed and not popped"
fyi @egamma

Follow up of #7391

The tokenizer should stop coloring a file if the rule stack is too deep.

[2016-07-04 08:47] mbilling commented on #8045
One can even just make a single space
 :)
[code]

Thanks for the workaround!

[2016-07-04 08:48] hzmnet opened #8713 "Support to navigate up to out of workspace files from links inside the editor"
- VSCode Version:
- OS Version:

Steps to Reproduce:
文件路径提示错误<link rel="import" href="../../../../../../../../../../test.html">文件显示路径永远给限制在工作区 #HappyCoding 来自 @code
1. href Ctrl 打开的路径错误
2.

[2016-07-04 08:53] jrieken commented on #6320
Sorry, need to revert again due to #8531. There is still something wrong with the `json` language which doesn't allow me to make this change

[2016-07-04 09:03] jrieken commented on #8667
The ['showTextDocument`](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L3175) allows you to set the `column` in which to open. The column of the [active](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L3136) is exposed via [TextEditor#viewColumn](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L904)

[2016-07-04 09:03] #8667 closed

[2016-07-04 09:05] bpasero commented on #8266
Looks ok in dark theme, but in light theme it still has lots of blue:

![image](https://cloud.githubusercontent.com/assets/900690/16555879/3c1f5bac-41d7-11e6-87da-96d829f3e52b.png)

[2016-07-04 09:06] jrieken commented on #8666
It just delegates to the [search service](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/node/mainThreadWorkspace.ts#L40)

[2016-07-04 09:13] jrieken commented on #8531
@aeschli The problem is that the `filterText` is set to `"e` which doesn't match the word after more typing , like `"ed`.

[2016-07-04 09:18] weinand commented on #8077
@isidorn here are the details:

If breakpoints are changed and ...
- source is **not dirty** then a `setBreakpoints` request with the attribute `sourceModified` set to false is issued immediately.
- source is **dirty**, all breakpoint modifications are tracked but no `setBreakpoints` requests are issued until the next save of the source. In the meantime breakpoints are shown as unverified. After t

[2016-07-04 09:22] egamma commented on #3886
For now we have made an extension available that is based on the atom-js grammar, please give it a try.

Extension: https://marketplace.visualstudio.com/items?itemName=ms-vscode.js-atom-grammar

[2016-07-04 09:28] dbaeumer commented on #8566
@ezwiebel thanks. Looks like the tsserver 'dies' already on the first quickInfo request.

[2016-07-04 09:32] bpasero commented on #8666
After investigation: searches from extensions never fill in `filePattern` but rather `includePattern` and since our glob is case sensitive, this is a valid request.

Refs: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/node/mainThreadWorkspace.ts#L50

[2016-07-04 09:35] isidorn commented on #8077
@weinand sounds good, assigning to me so I look into it on the vscode side

[2016-07-04 09:40] jrieken commented on #8038
@Tyriar Pls verify

[2016-07-04 09:45] jrieken opened #8714 "marker list doesn't reuse editor"
- open settings (left and right editor)
- notice a warning showing in the marker list
- select the warning to open the file (which actually is the left editor)
- another editor open (in the right slot)

[2016-07-04 09:51] dbaeumer commented on #8566
@ezwiebel cloned and was able to reproduce. The problem is the jsonfig.json setup. It currently doesn't support patterns which in your setup doesn't exclude the node_modules folder and as a result putting two much preasure on the tsserver. You can either move the jsconfig.json to the frontend folder (there is no JS in the backend) or change the jsonfig.json to:

[code]

I will still move the issue

[2016-07-04 09:52] dbaeumer commented on #8566
This issue was moved to Microsoft/TypeScript#9504

[2016-07-04 09:52] #8566 closed

[2016-07-04 09:55] dbaeumer commented on #8676
Makes sense to me.

[2016-07-04 09:58] dbaeumer commented on #8614
@Ashutosh-Tripathy can you share your test2.py file ?

[2016-07-04 10:04] dbaeumer commented on #8616
We are using the tsconfig schema from here: http://json.schemastore.org/tsconfig which is backed by https://github.com/SchemaStore/schemastore/blob/master/src/schemas/json/tsconfig.json.

Moving to TS team which seem to contribute to the tsconfig.json.

[2016-07-04 10:04] dbaeumer commented on #8616
This issue was moved to Microsoft/TypeScript#9505

[2016-07-04 10:04] #8616 closed

[2016-07-04 10:05] joaomoreno opened #8715 "Introduce a context for opened editors and use for "Close Editor""
We have one action to close the active editor that closes the window if the last editor is closed. We could just introduce a new keybinding context for when editors are visible or not and reuse the existing "Close Editor" and "Close Window" actions.

Original:

<kbd>⌘W</kbd> closes documents. When no documents are open, it would then close the window. It doesn't do that any more.

[2016-07-04 10:06] dbaeumer commented on #8649
@johnliu2016 can you please have a look. The keys in ( ) are down in the translation.

[2016-07-04 10:10] dbaeumer commented on #8431
@serkanyersen no need for separate issue for the linters. It is a know issue. However a globally or in the project root installed linter should work. It tested it and it worked for me. Is there any project I can clone to see what is going on ?

[2016-07-04 10:10] isidorn commented on #7911
Verified by user - thanks!

[2016-07-04 10:13] weinand commented on #646
I can no longer open *.asar file within VS Code (which is correct), but I'm still able to open an *.asar from the command line. It shows up as an empty project folder and trying to create a file there run into errors:

![2016-07-04_12-10-24](https://cloud.githubusercontent.com/assets/1898161/16557522/a09b1fe0-41e0-11e6-9da6-9166867a0c72.png)

[2016-07-04 10:18] dbaeumer opened #8716 "Failed tsserver request should show some message in the UI"
- VSCode Version: 1.3.0
- OS Version: all

If a tsserver request fails we currently show an empty result. We need to investigate to make the failure more prominent.

[2016-07-04 10:25] pierredewilde opened #8717 "No ANSI output from 'tsc --pretty' task"
- VSCode Version: 1.2.1
- OS Version: Mac OS X El Capitan 10.11.5

Steps to Reproduce:
1.  tasks.json

[code]
1. test.ts

[code]
1. ctrl+p task tsc

[code]

Running 'tsc --pretty' manually from integrated terminal displays ANSI codes correctly.

[2016-07-04 10:30] sebreh commented on #3886
Nice! Mostly works except that arguments to global functions doesn't seem to be properly identified and highlighted. They all end up the same color. See screenshot to compare to instance method:

<img width="462" alt="screen shot 2016-07-04 at 12 29 46" src="https://cloud.githubusercontent.com/assets/328169/16557967/060bcb5c-41e3-11e6-8687-40324b4f8768.png">

In the screenshot, I would expect the

[2016-07-04 10:42] sandy081 opened #8718 "Show Explorer count and File editors in sync with save/do not save action"
- Create new files and edit them
- Use close all
- You get dialog per dirty editor for save confirmation
- Select do not save in first dialog

Observe that Explorer count and dirty editor on the background still does not reflect the state. They are updated only after all dialogs are confirmed. It would be nice if they can be in sync.

[2016-07-04 10:44] isidorn commented on #7609
Using the snippet user provided I can still crash VScode after 1 minute, not sure if that is expected (there is a timeout of 1ms, so it is really adding a bunch of decorations). Though I do not get an error in the console, just after running the extension whole vscode crashes.

Reopening so @alexandrudima can decide if this is expected or not

[2016-07-04 10:46] joaomoreno commented on #4413
I'll do it!

[2016-07-04 10:49] joaomoreno commented on #8621
Agreed!!!

[2016-07-04 10:50] joaomoreno commented on #8622
![image](https://cloud.githubusercontent.com/assets/22350/16558416/db1d07be-41e5-11e6-834c-a6a7d3346a2c.png)

Looks OK in my screen... it's hard to pick another blue since that is the one we use everywhere. We can maybe experiment with the background colour of the button itself.

[2016-07-04 10:53] #4413 closed

[2016-07-04 10:57] sandy081 opened #8719 "Closing a file without saving is not cleaning markers"
Steps to reproduce:

- Auto save is disabled
-  Open a typescript file
-  Make a change to cause an error in that file
- Close the file **without** saving

Expected: Markers should be cleared
Actual: Markers remain

![jul-04-2016 12-55-32](https://cloud.githubusercontent.com/assets/10746682/16558553/c042124e-41e6-11e6-9ee5-ba47adf029bc.gif)

[2016-07-04 10:57] jrieken commented on #8316
@egamma I don't see `Encode/Decode` actions anymore. Is that the intent?

[2016-07-04 11:02] weinand commented on #7906
I'm still seeing the issue with these steps:
- launch vscode-node-debug as a server
- set a breakpoint in `nextRequest`
- add the `debugServer: 4711` to your launch config
- start a node debug session
- press the step' button (breakpoint is hit in node-debug)
- press 'stop' button:
![2016-07-04_13-02-10](https://cloud.githubusercontent.com/assets/1898161/16558687/8742404e-41e7-11e6-8535-38b5d446bc

[2016-07-04 11:02] mrmlnc commented on #8316
@jrieken, yes, https://github.com/Microsoft/vscode/issues/8603.

[2016-07-04 11:03] niwsa commented on #7817
I am facing scrolling issues in ubuntu 14.04,VSCode version 1.2.1.On scrolling up the text in the console goes far left sometimes and invisible at other times.

[2016-07-04 11:08] aeschli commented on #6320
Thanks @jrieken !

[2016-07-04 11:09] kayahr opened #8720 "Syntax highlighting gets confused if return type ends with a number"
- VSCode Version: 1.2.1
- OS Version: Debian GNU/Linux 8.5

Steps to Reproduce:

1. Open new TypeScript file.
2. Copy/Paste the following code:

[code]

The method in the class `Vector2D` is properly colored but in the class `Vector2` the syntax highlighting gets confused. Looks like this has something to do with the class name ending with a number.

Here is a screenshot showing a wrong color of t

[2016-07-04 11:11] jmls opened #8721 "can vscode run in a browser window ?"
I was wanting to put vscode into a docker container, but would obviously need to be able to run vscode in a browser window - is this possible ?

[2016-07-04 11:30] Tyriar commented on #7817
@niwsa those should be fixed in the upcoming v1.3.0, This issue is about scrolling not working at all using the trackpad.

[2016-07-04 11:31] bpasero commented on #8715
Kim-Possible 👎 . The command that runs does close the window: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/electron-browser/actions.ts#L53

So it must be something else, did you rebind Cmd+W maybe?

[2016-07-04 11:32] bpasero commented on #8718
I do not think we can do this because the dialog is blocking the UI thread and I doubt anything would update in the background (at least on Mac).

[2016-07-04 11:33] bpasero commented on #8622
@joaomoreno actually I am referring to the feedback when an item is selected in blue. Then you end up with blue on blue.

[2016-07-04 11:44] bpasero commented on #646
@weinand thanks, can you open a separate issue on this? I think the original issue should be verified.

[2016-07-04 11:44] #646 closed

[2016-07-04 11:51] stevencl commented on #8501
That seems like a fine solution. In fact, I was convinced that we had designed that in our original mockups but it turns out we didn't. We should consider just doing this I think.

[2016-07-04 11:53] bpasero commented on #8501
I like to keep this up for an extension, if we did this out of the box, many people might find it annoying and ask for a way to disable.

[2016-07-04 11:57] jrieken commented on #8316
Thanks

[2016-07-04 11:59] isidorn commented on #7906
Will investigate - not critical, assigning to july

[2016-07-04 12:04] jrieken commented on #7115
![screen shot 2016-07-04 at 14 03 31](https://cloud.githubusercontent.com/assets/1794099/16559868/20e8eaa6-41f0-11e6-8de3-b0e07c6d744b.png)

Still seeing this with

[code]

[2016-07-04 12:06] codingonHP opened #8722 "VS Code intellisense does not suggest members of js object."
- VSCode Version:1.3.0 - insider
- OS Version: windows 7 enterprise

Steps to Reproduce:

1. Create a simple object like var person = { name = "foo" , age = 24 };
2. write person. (type dot). Nothing happens. Press ctrl + space, it shows no suggestion.

I just want to know is this the desired behavior ? I have tried the same thing in brackets and it works perfectly fine.
![vscode-code-suggestion-n

[2016-07-04 12:08] alexandrudima commented on #7596
Verified by looking at the diff

[2016-07-04 12:09] weinand commented on #646
@bpasero I'll create a new issue.
BTW, the *.asar opened from the command line cannot be deleted as long as VS Code is open, so I did verify the original issue.

[2016-07-04 12:11] joaomoreno commented on #8605
@JostCrow Is there any way you have a backup of the `.vscode-insiders/extensions` folder from when you had this issue? We will find the answer to this problem by looking at the folder structure at the time you had the issue.

[2016-07-04 12:13] bpasero commented on #646
@weinand good point, though I think that is not a very typical scenario and also not what the users are complaining about.

[2016-07-04 12:14] joaomoreno commented on #8559
Oops... experiment leftovers... 👍

[2016-07-04 12:16] joaomoreno commented on #8510
Awesome suggestion.

[2016-07-04 12:16] weinand opened #8723 "VS Code allows to open *.asar file from the command line"
- VSCode Version: 1.3.0
- OS Version: Windows 10

Open an *.asar file with VS Code from the command line.
It shows up as an empty project folder and trying to create a file there runs into errors:
![2016-07-04_12-10-24](https://cloud.githubusercontent.com/assets/1898161/16560188/1476fff4-41f2-11e6-9ff5-503d39fd7909.png)

Trying to delete the *.asar from outside of VS Code results in this:
![2016-0

[2016-07-04 12:17] joaomoreno commented on #8251
Argh I hate these build issues...

[2016-07-04 12:18] alexandrudima commented on #6795
I see no sergeant icon at all anymore, so I guess that verifies it

[2016-07-04 12:21] bpasero commented on #6795
@alexandrudima it is still there, just changed icon (now indicating a stack).

[2016-07-04 12:21] bpasero commented on #6795
But yeah, I see how Steven points are obsolete now. Marking as verified.

[2016-07-04 12:25] joaomoreno commented on #8110
Uhhhhhh... the row is never supposed to be `null`... This is a symptom of a deeper problem.

@JostCrow Did #8605 also occur at the same time as this one? It would somehow explain it.

[2016-07-04 12:26] stevencl commented on #8544
As @Tyriar suggests, previewing where the tab will be placed seems like a good approach. Edge does it too, seems like  a reasonably common pattern. Visual Studio does something similar, although not as smooth - the tab jumps into place as you drag with the mouse down.

I would recommend we do what the browsers do.

[2016-07-04 12:29] joaomoreno commented on #8261
I don't think we have control over this.

@modigrv any ideas here?

[2016-07-04 12:29] JostCrow commented on #8110
@joaomoreno Yes they occured at the same time.

[2016-07-04 12:30] stevencl commented on #8501
If this turns out to be a problem for only a few people then I'm fine with an extension. But if this turns out to be a problem for a large number of people then we really should reconsider and figure out how to solve this out of the box.

[2016-07-04 12:30] #8501 closed

[2016-07-04 12:30] JostCrow commented on #8605
I did not make a backup of the folder. But I can recover the manually deleted items. But all the uninstalled are gone.

[2016-07-04 12:31] joaomoreno commented on #8298
Let's leave it this way until we can hot activate / deactivate.

[2016-07-04 12:31] #8298 closed

[2016-07-04 12:31] joaomoreno commented on #8605
Yeah I'm curious to see what the `extensions` folder had at the time you had this issue.

[2016-07-04 12:32] stevencl commented on #8538
How about 'Go' instead? Or 'Navigate'? I don't like 'Go to' and now that Greg has pointed it out, 'Goto' isn't great either.

[2016-07-04 12:32] bpasero commented on #8501
Btw I still think we should maybe look into a custom hover if the native hover is so hard to be used. But we can leave this closed until we get more feedback from users once June is out 👍

[2016-07-04 12:33] bpasero commented on #8538
Works for me 👍

[2016-07-04 12:33] joaomoreno commented on #8060
Ok, but what do we do in July?

[2016-07-04 12:34] joaomoreno commented on #7961
What can we do in July then?

[2016-07-04 12:34] joaomoreno commented on #8110
That explains the `null` then, thanks!

[2016-07-04 12:35] stevencl commented on #8499
If we showed the path to the file in the status bar would this resolve this issue?

Is there enough horizontal and vertical space in the tab to be able to show the path to the file?

[2016-07-04 12:36] jrieken commented on #8559
@joaomoreno You should run the instantiation service in [`strict`](https://github.com/Microsoft/vscode/blob/master/src/vs/platform/instantiation/common/instantiationService.ts#L24)-mode to see this early

[2016-07-04 12:40] joaomoreno commented on #3385
@bpasero, please verify.

[2016-07-04 12:41] joaomoreno commented on #8123
Damn build errors. When are we going to fix this crap?

[2016-07-04 12:43] joaomoreno commented on #8559
So... when in development it is not strict by default, correct?

[2016-07-04 12:44] weinand commented on #7343
Since @jtsom has confirmed that the fix works for him, I've added the Verified tag.

[2016-07-04 12:46] bpasero commented on #3385
Have been using it for a while and works nicely 👍

[2016-07-04 12:47] joaomoreno commented on #8715
Yeah, you're right, of course. 👍

We should fix the keybindings, then. Currently it is:

[code]

Which implicitly closes the window when no editors are open.

Should we come up with a new `editorIsOpen` context, or similar? Thus we could do the following and I would still be able to overwrite cmd+w:

[code]

[2016-07-04 12:50] joaomoreno commented on #8687
My belief is that Code doesn't associate itself automatically, but simply registers as a possible editor for such files.

[2016-07-04 12:55] bpasero commented on #8715
That is a cool idea, however would break every user that has workbench.action.closeActiveEditor associated to a different keybinding and who is still expecting the window to close when the last editor closes...

[2016-07-04 12:56] joaomoreno commented on #8675
Apparently it's [possible](https://github.com/electron/electron/blob/78193a0608b5fa55161e95b7b3845b6bd85af377/docs/tutorial/application-distribution.md#macos).

[2016-07-04 12:57] joaomoreno commented on #8675
joaomoreno/gulp-atom-electron#36

[2016-07-04 12:58] joaomoreno commented on #8715
Yup... We can always release note it, I don't think there are many users in that camp.

[2016-07-04 12:59] joaomoreno commented on #8590
@dryganets Can you create a screencast, movie, gif of your interaction?

[2016-07-04 13:01] JostCrow commented on #8605
[extensions.zip](https://github.com/Microsoft/vscode/files/346313/extensions.zip)

[2016-07-04 13:02] dbaeumer opened #8724 "[json] schema changes are not reflected hot if schema is referenced relative"
- VSCode Version: 1.3.1
- OS Version: Windows 10

Steps to Reproduce:

[code]

[code]

Now change the schema enum from green to blue. Observe no error is shown. This works if the schema is reference absolute without refresh

[2016-07-04 13:04] dbaeumer commented on #7976
Verified: looks good to me.

[2016-07-04 13:09] johnliu2016 commented on #8649
HK assignment issue, "B" is missing in KOR translation.

[menus.nls.resx.lcl](https://monacotools.visualstudio.com/Monaco/_git/MonacoLocalization#path=%2FLocalize%2Fkor%2Fvscode%2Fsrc%2Fvs%2Fcode%2Felectron-main%2Fmenus.nls.resx.lcl&version=GBmaster&_a=contents)

      <Item ItemId=";miBack" ItemType="0;.resx" PsrId="211" Leaf="true">
        <Str Cat="Text">
          <Val><![CDATA[&amp;&amp;Back

[2016-07-04 13:10] jrieken commented on #8559
No. When the flag is set to `true` it will throw when a dependency cannot be fulfilled. The only reason this isn't the default are tons of tests that use incomplete containers

[2016-07-04 13:15] joaomoreno commented on #8605
Argh, didn't help much, unfortunately. I'll close the issue and wait for more, in case other people run into it.

Also notice that you seem to have the `vscode-icons` extension installed which potentially damages Code's runtime behaviour.

[2016-07-04 13:15] #8605 closed

[2016-07-04 13:15] jrieken opened #8725 "TS errors leak on git undo"
* open a TS files
* create an error
* close the file, as expected errors still show
* git undo the changes
* 🐛 errors still show tho they shouldn't

[2016-07-04 13:16] joaomoreno commented on #8559
Got it.

[2016-07-04 13:18] JostCrow commented on #8605
Yes I had. But I have removed it since.

[2016-07-04 13:19] joaomoreno commented on #8595
Insider builds get daily updates. Stable builds get at least monthly updates. That will never change.

What can change is how we present updates to you. That can be much improved and there were already some discussions among the team about how to do that. A good example is the Spotify app.

[2016-07-04 13:21] joaomoreno commented on #8395
![image](https://cloud.githubusercontent.com/assets/22350/16561709/ead67130-41fa-11e6-9f90-42a1e4305362.png)

[2016-07-04 13:39] joaomoreno commented on #8663
I feel your pain with the **wrappers** and I'm way out of my league as with trying to understand **cmd**, **call** and all their complicated ramifications... One idea you could do would be to mimic what [code.cmd](https://github.com/Microsoft/vscode/blob/master/resources/win32/bin/code.cmd) itself does: it launches `Code.exe resources\app\out\cli.js ARGS` with the `ATOM_SHELL_INTERNAL_RUN_AS_NODE`

[2016-07-04 13:41] joaomoreno commented on #8661
Yes, closing as duplicate of #8621

[2016-07-04 13:41] #8661 closed

[2016-07-04 13:43] joaomoreno commented on #8655
There are two actions in the status bar:

![image](https://cloud.githubusercontent.com/assets/22350/16562554/d91787a6-41fd-11e6-8c0b-c854d571a788.png)

The first one will only list and let you check out branches. The second one is the **sync** action which will **pull** and **push**.

I am very reluctant in adding a confirmation dialog when clicking the sync action. If there are no better suggesti

[2016-07-04 13:44] joaomoreno commented on #7998
@rcarmo Did you try this?

[2016-07-04 13:46] joaomoreno commented on #8122
Given that you seem to have problems across the whole Squirrel spectrum, I suggest to look into the [Squirrel/Squirrel.Mac](https://github.com/Squirrel/Squirrel.Mac) project itself.

[2016-07-04 13:46] #8122 closed

[2016-07-04 13:46] bpasero opened #8726 "Regression: lost ability to drop a folder into Code to open it"
Now we try to open the folder as editor which fails. We should detect that a folder is dropped and give the right feedback.

[2016-07-04 13:47] modigrv commented on #8261
Marketplace currently expects only one icon type. There is no way to specify any other icon.
I will convey this up with Marketplace PM to see what can be done here.

[2016-07-04 13:48] joaomoreno commented on #8103
#8687

[2016-07-04 13:48] #8103 closed

[2016-07-04 13:49] joaomoreno commented on #8103
My belief is that Code doesn't associate itself automatically, but simply registers as a possible editor for such files. You can always change this editor. Not sure why Windows picks Code by default after installation, but will look into it in #8687

[2016-07-04 13:49] joaomoreno commented on #507
No updates here yet. But it will come.

[2016-07-04 13:52] joaomoreno commented on #7717
I don't fully understand how you'd expect to navigate to the next change in the editor view. It would only work if you edit a file which is currently modified? What would happen if the next change is a line deletion?

[2016-07-04 13:52] bpasero opened #8727 "Debug: opened "launch.json" after clicking "Configure" should be pinned"
Noticed the file opens non-pinned. But since it is being created it should open pinned.

[2016-07-04 13:52] bpasero commented on #8727
Same for workspace settings actually. Maybe assign to me once you did it for debug. I can also check how it behaves for tasks.

[2016-07-04 14:01] joaomoreno commented on #8169
All viewlets except Search behave this way. There is always more margin on the left hand side. `12px` more to be precise, due to the viewlet title:

![image](https://cloud.githubusercontent.com/assets/22350/16563087/6ad607e2-4200-11e6-8141-06943ce35440.png)

Take the git viewlet:

![image](https://cloud.githubusercontent.com/assets/22350/16563037/2b4d3528-4200-11e6-85f6-d13123374565.png)

Notice h

[2016-07-04 14:02] thewhitetulip commented on #8395
@joaomoreno
Put a single quote around what_do_you_mean!

'what_do_you_mean'
then type WH and it won't suggest you the above statement.

[2016-07-04 14:06] joaomoreno commented on #8275
Very tricky as a white theme would look really out of place in a dark workbench...

Are there any really bad examples?

[2016-07-04 14:08] joaomoreno commented on #7963
@bpasero could the file watching lock files or directories?

[2016-07-04 14:09] alexandrudima commented on #8501
How does this extension target my specific two points above:

I understand point 1 is non-trivial as we now use the native hover.
How about point 2? Isn't that a low hanging fix?

[2016-07-04 14:09] bpasero commented on #8169
@joaomoreno this issue was about the fact that the git input field has more margin to the left than to the right. Would we not just center the input fields we have across viewlets?

Only looking at:

![image](https://cloud.githubusercontent.com/assets/900690/16563335/b5c234dc-4201-11e6-9505-eb5becbd97c1.png)

[2016-07-04 14:10] joaomoreno commented on #8291
@bpasero Can we debug this in your Win7 VM? I don't have one currently.

[2016-07-04 14:10] joaomoreno commented on #8308
@bpasero Any way to remove it?

[2016-07-04 14:11] bpasero commented on #7963
@joaomoreno no, not that I am aware of. I think only the node.js file watcher locks directories if you watch them, but we only watch files with it. Is this for files within a workspace or outside a workspace (we use different watchers in that case).

[2016-07-04 14:11] alexandrudima commented on #6795
@bpasero - This is what I mean:

(I tried to reproduce the original issue which was without tabs enabled from the screenshot)

![image](https://cloud.githubusercontent.com/assets/5047891/16563363/e1ce9016-4201-11e6-95f7-67d4310ea51e.png)

[2016-07-04 14:11] joaomoreno commented on #2718
Actually we already have this:

![image](https://cloud.githubusercontent.com/assets/22350/16563371/f5d76c04-4201-11e6-93d7-0fc44e123393.png)

[2016-07-04 14:11] bpasero commented on #8501
@alexandrudima sorry, those are good points, I will open a separate issue on the hover thing.

[2016-07-04 14:12] joaomoreno commented on #8409
Bad build...

![image](https://cloud.githubusercontent.com/assets/22350/16563390/162e01ca-4202-11e6-9d8e-468645f70f7d.png)

[2016-07-04 14:12] #8409 closed

[2016-07-04 14:12] joaomoreno commented on #8411
I know 😢

[2016-07-04 14:12] bpasero opened #8728 "Tabs: hover improvements"
- the hover should appear over the full area of the tab

/cc @alexandrudima

[2016-07-04 14:13] joaomoreno commented on #8414
This was on purpose. They are meant to be _bigger_ in the preview.

[2016-07-04 14:13] #8414 closed

[2016-07-04 14:14] isidorn commented on #8291
@joaomoreno I have a win7 VM I can investigate. Also notice that this was filed when markdown.css was not being packaged - not sure if related at all

[2016-07-04 14:15] bpasero commented on #8291
I cannot reproduce anymore.

[2016-07-04 14:15] #8291 closed

[2016-07-04 14:17] #8413 closed

[2016-07-04 14:17] bpasero commented on #8308
@joaomoreno yes you can override it here: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/common/editor.ts#L127

[2016-07-04 14:17] bpasero commented on #6795
@alexandrudima yup you are right

[2016-07-04 14:19] #8416 closed

[2016-07-04 14:21] nebojsa-lalic-devtech opened #8729 "Default language mode when new file opened"
- VSCode Version: 1.2.1
- OS Version: Windows 10 64x

Steps to Reproduce:
1. When create new file, before save file with '.js' extension and the manual language selection, need to have option to default language e.g. JavaScript, not plaintext as default

@isidorn

[2016-07-04 14:22] joaomoreno commented on #8422
Interesting.

[2016-07-04 14:23] dreadris opened #8730 "[powershell] Line comment block not recognized in PowerShell when in attribute definition scope"
- VSCode Version: 1.2.1
- OS Version: Windows 10

Steps to Reproduce:
1. Create a powershell script file (ie. test.ps1)
2. Open the script in vs code
3. Paste the following:
   `param(
   [ValidateScript(
       { if (Test-Path $_) { $True } else { Throw "Path:`"$_`" does not exist" } }
   )]
   [string]$rootPath = "./"
   )`
4. Insert the # sign after ValidateScript( - the text style won't be cha

[2016-07-04 14:23] joaomoreno commented on #8417
The amount of issues I got simply because a CSS file was missing from the build is incredible.

[2016-07-04 14:23] #8417 closed

[2016-07-04 14:24] joaomoreno commented on #8424
No indicator? I'd just get another issue saying *why is this empty*?

[2016-07-04 14:24] #8424 closed

[2016-07-04 14:24] isidorn commented on #8729
We would need to introduce a workbench configuration such that there is a default language mode for new files opened. Such that it is being picked up before a user manuly chooses a mode or sets the file extension.

[2016-07-04 14:25] #8400 closed

[2016-07-04 14:27] sandy081 commented on #8648
This issue was moved to Microsoft/vscode-eslint#96

[2016-07-04 14:27] #8648 closed

[2016-07-04 14:29] weinand opened #8731 "Inconsistent behaviour of 'Run to Cursor'"
- VSCode Version: 1.3.0

Steps to Reproduce:

- use this snippet:

[code]
- set a breakpoint in line with 'hello 3'
- start debugging (hit breakpoint in line with 'hello 3')
- set caret in line with 'hello 2' and execute 'Run to Cursor'

Observe: line with 'hello 2' is hit and no breakpoint icon is shown for that line

- set caret in line with 'hello 1' and execute 'Run to Cursor'

Observe: line w

[2016-07-04 14:30] weinand commented on #7366
while verifying this I found https://github.com/Microsoft/vscode/issues/8731

[2016-07-04 14:32] vogler commented on #7717
Yes.

Same as in the "Changes View", i.e. jump to that position.

[2016-07-04 14:32] joaomoreno commented on #8469
Fetch should *rarely* be problematic. Only in scenarios that some other application other than `git` itself accesses the `.git` folder, like Dropbox.

It can definitely prompt the user for input, in case of authentication. That can, and is most of the time, fixed by some external tool.

Locking happens due to `git status`, which accesses the index and is also called by Code. Not `git fetch`.

We l

[2016-07-04 14:32] #8469 closed

[2016-07-04 14:33] weinand commented on #6298
@edumunoz @faxue-msft could you please verify that this works now in the insiders? Thanks.

[2016-07-04 14:34] joaomoreno commented on #8279
Lies. There is [getRelativeTop](https://github.com/Microsoft/vscode/blob/master/src/vs/base/parts/tree/browser/tree.ts#L132).

[2016-07-04 14:35] sandy081 commented on #8714
@bpasero any idea why the workbench is opening Default settings resource in a different editor?

Another observation
- Default settings file is named as settings.json instead of Default settings

[2016-07-04 14:37] joaomoreno commented on #8490
Stable behaves this way. This has been like this forever.

Closing as designed until a better suggestion is provided.

[2016-07-04 14:37] #8490 closed

[2016-07-04 14:38] alexandrudima opened #8732 "IMHO Display Language is too thin to get its own page under Customization"
https://code.visualstudio.com/docs/customization/locales

Maybe it could be put under setup? (as it sounds like something I'd do once and never touch again)

[2016-07-04 14:39] joaomoreno commented on #8484
Microsoft/monaco-editor#49

[2016-07-04 14:39] #8484 closed

[2016-07-04 14:41] bpasero commented on #8729
I would think this could also be done nicely from an extension.

[2016-07-04 14:41] formulahendry commented on #877
@PhenomanSolutions This [Extension](https://marketplace.visualstudio.com/items?itemName=formulahendry.auto-close-tag) would meet with your requirement. It will automatically add closing tag when you type in the closing bracket of the opening tag.

![GIF](https://raw.githubusercontent.com/formulahendry/vscode-auto-close-tag/master/images/usage.gif)

[2016-07-04 14:42] joaomoreno commented on #8483
Microsoft/monaco-editor#50...

[2016-07-04 14:42] #8483 closed

[2016-07-04 14:42] bpasero commented on #8714
@sandy081 I guess this happens because the right editor has focus? we always open a new editor if it does not contain in the group.

[2016-07-04 14:44] formulahendry commented on #772
@osjn  This [Extension](https://marketplace.visualstudio.com/items?itemName=formulahendry.auto-close-tag) would nearly meet with your requirement. It will automatically add closing tag when you type in the closing bracket of the opening tag.

![GIF](https://raw.githubusercontent.com/formulahendry/vscode-auto-close-tag/master/images/usage.gif)

[2016-07-04 14:46] alexandrudima commented on #8501
@bpasero thank you :+1:

[2016-07-04 14:48] formulahendry commented on #502
@Gacnt This [Extension](https://marketplace.visualstudio.com/items?itemName=formulahendry.auto-close-tag) would nearly meet with your requirement. It will automatically add closing tag when you type in the closing bracket of the opening tag. No pressing enter is needed, just same as VS IDE does.

![GIF](https://raw.githubusercontent.com/formulahendry/vscode-auto-close-tag/master/images/usage.gif)

[2016-07-04 14:51] bitcrazed commented on #8693
@sisdorn - thanks for this info: However, to be fair, #3027 was referring to the fact that the play button got hidden - it was not asking to make the width of the debug target drop-down dependent on the width of the left-hand column.

I do not think that I should have to sacrifice a significant amount of my available screen real-estate to the left hand column just to be able to read the name of th

[2016-07-04 14:54] isidorn commented on #8693
@bitcrazed fair enough, reopening

[2016-07-04 14:54] Tekbr commented on #8685
@bpasero,  if I understand correctly, the situation mentioned can not consider link when I press Ctrl and move the mouse over the line.

Now, about the rest, it is when I click on the link.

Example:

1- Take this situation: `<ng-include src = "'./view/template/header.html'"> </ng-include>`
2- Now click "Ctrl + Click left mouse button."
3- The VSCode not find the file.

On the suggestion to open p

[2016-07-04 14:58] bpasero commented on #8685
Ok from the description I think we cannot open double quoted links from the editor. But I would also not assume to see a link in that case since that seems like a weird link to have.

[2016-07-04 15:04] #8652 closed

[2016-07-04 15:04] #8659 closed

[2016-07-04 15:04] #8704 closed

[2016-07-04 15:04] #8243 closed

[2016-07-04 15:04] #8398 closed

[2016-07-04 15:04] #8500 closed

[2016-07-04 15:08] #8671 closed

[2016-07-04 15:08] #8670 closed

[2016-07-04 15:16] joaomoreno commented on #8434
It worked _almost_ fine: #6375.

We can maybe wrap the JSON object, as suggested by @weinand.

@wallverb Does something like this work?

[code]

[2016-07-04 15:18] joaomoreno commented on #7717
👍

[2016-07-04 15:19] joaomoreno commented on #7717
By the way, this would possibly make a good contribution, if you are interested in creating a PR.

[2016-07-04 15:22] Tekbr opened #8733 "Split Editor asks if I want to save the file"
- VSCode Version: 1.3.0-insider
- OS Version: Windows 10

Can be with "workbench.editor.showTabs": true or false

Steps to Reproduce:

1. Open a file for example in html.
2. Activate the Split Editor.
3. Modify the left file or direct.
4. Close the Split Editor.

The VSCode asks if I want to save.

- VSCode Version: 1.2.1
- OS Version: Windows 10

Steps to Reproduce:

1. Open a file for example in

[2016-07-04 15:23] joaomoreno commented on #8406
This comes from the Marketplace. cc @modigrv

[2016-07-04 15:25] joaomoreno commented on #8415
It there any suggestion of what should happen instead?

If the whole ratings widget becomes unbreakable, you'd easily miss ratings for long titles.

If we decide to cut down on the extension's name, the ratings would be all you see.

[2016-07-04 15:27] joaomoreno commented on #8541
Very likely won't happen as it would annoy most users.

We can have it under a setting though, as it appears there are more people with that opinion. cc @chrmarti

[2016-07-04 15:31] #8337 closed

[2016-07-04 15:31] #7496 closed

[2016-07-04 15:31] #8728 closed

[2016-07-04 15:33] joaomoreno commented on #8539
Well... this has been there since day 1.

@alexandrudima @jrieken @aeschli Does anyone know how JavaScript solves this, since it's solved there?

[2016-07-04 15:35] joaomoreno commented on #8149
Well... although I agree with @bpasero, I will simply close this since I removed it because I got another issue that was the exact opposite of this, and Machete don't jump back and forward. Only forward.

[2016-07-04 15:35] #8149 closed

[2016-07-04 15:39] joaomoreno commented on #8584
@modigrv Can you give me the exact algorithm for mapping a rating number to the stars, used in the Marketplace? [This is what we're doing](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/extensions/electron-browser/extensionsWidgets.ts#L108).

[2016-07-04 15:40] xenoken commented on #8635
Odd, because Visual Studio supports Regular Expressions Look Behind.

[2016-07-04 15:40] joaomoreno commented on #8571
@aeschli What to do here? cc @jrieken

[2016-07-04 15:42] joaomoreno commented on #4690
@solthoth That is surely dues to the security restrictions.

Closing this issue.

[2016-07-04 15:42] #4690 closed

[2016-07-04 15:44] joaomoreno commented on #8169
You can't just look at one thing at a time. There are left and right paddings along the whole viewlet's content. If we were to increase the right padding, we'd be lying about the alignment with the actions above and we'd have to move them as well, in _every_ viewlet.

[2016-07-04 15:44] joaomoreno commented on #8599
#8169

[2016-07-04 15:44] #8599 closed

[2016-07-04 15:48] bpasero commented on #8169
Well today the input box is neither aligned in the center nor is it aligned to anything in the title area :)

[2016-07-04 15:48] alexandrudima commented on #7609
I have a fix in a09ee36

[2016-07-04 15:48] joaomoreno commented on #8596
I don't understand. What would a theme extension show? Or the Spotify status bar extension? Or an extension that contributes many languages?

[2016-07-04 15:50] joaomoreno commented on #8395
Wow!

[2016-07-04 15:51] joaomoreno commented on #8395
@jrieken Is this filter label vs sort label vs visible label?

[2016-07-04 15:51] alexandrudima commented on #8635
The find widget is simply using JavaScript's regular expressions as specified in ECMAScript 5 (the runtime of VS Code), and it unfortunately does not support look behinds.

[2016-07-04 15:51] #8635 closed

[2016-07-04 15:52] alexandrudima commented on #8728
:heart: TY!

[2016-07-04 15:53] alexandrudima commented on #650
Didn't happen in 6 months => closing

[2016-07-04 15:53] #650 closed

[2016-07-04 15:54] alexandrudima commented on #660
This works for me now.

[2016-07-04 15:54] #660 closed

[2016-07-04 15:55] #8308 closed

[2016-07-04 15:57] joaomoreno commented on #8169
Of course it is.

![image](https://cloud.githubusercontent.com/assets/22350/16565882/ac8801a8-4210-11e6-9ed5-5004472f5b4d.png)

[2016-07-04 15:57] bpasero commented on #8728
@alexandrudima I looked into the custom hover and was not convinced yet. however, maybe we could combine a custom hover for the path with an area to get the editor actions back? I am suffering a lot from the fact that those are hidden. Will comment on https://github.com/Microsoft/vscode/issues/7666

[2016-07-04 15:58] alexandrudima commented on #643
@jrieken Maybe a new `onDidChangeVisibleTextEditors` ?

[2016-07-04 15:58] bpasero commented on #7666
We also have an issue that the path on a tab is only accessible from the native hover (which sometimes appears late). So I wonder if maybe we could combine both issues into one and show the path of the file along with the editor actions somewhere when you hover over the tab. Or, if we decide to introduce an editor toolbar, maybe it could be in there?

I think for this issue we should just sit toge

[2016-07-04 15:58] alexandrudima commented on #661
Not reported in more than 6 months => closing

[2016-07-04 15:58] #661 closed

[2016-07-04 16:00] joaomoreno commented on #8169
You might think that, for instance, the Explorer title area is aligned to the center:

![image](https://cloud.githubusercontent.com/assets/22350/16565919/ec62aa58-4210-11e6-87e8-47c6218427b9.png)

But it's not, since the title has additional left padding:

![image](https://cloud.githubusercontent.com/assets/22350/16565927/f91fd892-4210-11e6-8b72-ba83f97b89db.png)

Which forces its content to have

[2016-07-04 16:01] alexandrudima commented on #896
Duplicate of #356

[2016-07-04 16:01] #896 closed

[2016-07-04 16:01] bpasero commented on #8169
That overflow icon does not really need all the margin/padding to the right I guess.

[2016-07-04 16:02] joaomoreno commented on #8169
I personally think it looks good as it is. Center alignment is not important. Left and right alignment of all items is, though. But the only way to fix this and have _center_ alignment would be to add margin to the right to **everything**, including the title actions.

The icon needs the padding because it's a click area. Make it smaller and it will be less _clickable_ than all the other actions.

[2016-07-04 16:02] alexandrudima commented on #171
Even though #871 came up later, let's track this feature request in #871 (has more upvotes)

[2016-07-04 16:02] #171 closed

[2016-07-04 16:06] alexandrudima opened #8735 "Please add Do not show again button to php error message"
![image](https://cloud.githubusercontent.com/assets/5047891/16566068/f358767a-4211-11e6-8966-d5e0d1110a60.png)

[2016-07-04 16:06] jrieken commented on #8395
I don't think so but there is also too little information to know. As always it all depends on the language that is used.

[2016-07-04 16:08] jrieken commented on #8571
Add a setting - there is people that don't like snippets, there is people that want snippets more than anything.

[2016-07-04 16:09] jrieken commented on #8571
Also see #2343

[2016-07-04 16:14] joaomoreno commented on #8395
I get it on plain text:

![image](https://cloud.githubusercontent.com/assets/22350/16566244/1a42e288-4213-11e6-99e9-04a41f527f61.png)

[2016-07-04 16:19] bpasero commented on #8733
This was an explicit UX decision because we think a user might be confused why closing an editor does not ask for confirmation. It might not be so obvious that the dirty editor is opened in more than one group because it could be well hidden in one group among many other tabs.

@stevencl @bgashler1 fyi

[2016-07-04 16:19] #8733 closed

[2016-07-04 16:22] davidanthoff opened #8736 "Question: are new downloads in the extension folder deleted at extension update/removal?"
My [extension](https://github.com/JuliaEditorSupport/julia-vscode) downloads additional code into the extension folder at first run. So in addition to the files that are packaged in the extension itself (i.e. published to the gallery), there will be more files in the folder of the extension once it has run once.

I'm trying to figure out how those files will be treated when the extension is update

[2016-07-04 16:25] eyalsk commented on #8596
@joaomoreno I wrote this specifically for languages, I'm not sure whether this can be extended farther for other types of extensions and whether it makes sense but I really think that when someone installs an extension that support some language the versions of the language that the extension supports needs to be transparent to the user.

Authors that write language extensions don't necessarily wr

[2016-07-04 16:26] jrieken opened #8737 "We started to expose token types in the API"
With https://github.com/Microsoft/vscode/commit/a8eadbd8d42034bf926d657d33e971892b1b5660 we now apparently settled on exposing token types as `string[]`. I am unsure if this is well thought through and why we didn't continue to use the old way of doing it

[2016-07-04 16:26] jrieken commented on #8737
@aeschli Pls comment

[2016-07-04 16:31] jrieken commented on #8395
Ever since textual completions use the [`strict prefix matcher`](https://github.com/Microsoft/vscode/blob/master/src/vs/editor/common/modes/supports/suggestSupport.ts#L44) to not be too spamy. Maybe it's time to revisit that.

[2016-07-04 16:31] raghur opened #8738 "[javascript] No intellisense for javascript objects created with new?"
- VSCode Version:1.2.1
- OS Version:Windows 8.1 x64

Steps to Reproduce:

1. I have a nodejs library generated with AutoRest which also generates `d.ts` files.
2. It's `package.json` has `"typings": "path to d.ts file"` generated by autorest.
3. In a project where I have the npm package above referenced, there is intellisense only for the main class constructor. Once an instance is created, intell

[2016-07-04 16:33] jrieken commented on #8596
I wonder if it's that simple. Often extension don't really contain the language implementation but just make sure some version of a tool is installed - like `go` and it's tool chain

[2016-07-04 16:37] Krzysztof-Cieslak commented on #585
Any progress with it? :)

[2016-07-04 16:49] eyalsk commented on #8596
@jrieken Yeah, you're right, it's something that needs to be checked but nonetheless, say you installed language X and you tested it with version Y, it can be helpful to note the version even if it's just a hardcoded value in the API.

If there was a way to force authors to write the supported versions in the extension page then there wasn't much need for an API for this so maybe another idea is t

[2016-07-04 17:52] kumarharsh commented on #7963
It is for files within a workspace. It also happens with both files and directories. within the workspace. It happens with directories when I've created a new directory in a commit, and am rebasing the branch containing that directory.

[2016-07-04 17:58] rcarmo commented on #7998
Not yet, kind of tied up with FY16 still. Will give it a go next weekend and see if it works on my box and a fresh install (never underestimate the power of upgrades where it regards breaking things).

[2016-07-04 18:14] Tekbr commented on #8733
Sorry, but if I close the editor completely, he asks me if I want to save the changes.

VSCode keeps opened and modified files are in the "Working Files - stable" or "Open Editors - insiders" in Explorer. I liked to show seperate, even though the same file.

If closing a group of tabs I agree with this behavior, but closing this single file, seems strange this new behavior.

![capturar1](https://c

[2016-07-04 18:28] Ciantic commented on #8673
@bpasero tried again, still happens. It's open source, here is the file https://github.com/Ciantic/AspNetApiMonolithSample/blob/master/src/Api/Controllers/OpenIdController.cs

[2016-07-04 18:35] Ashutosh-Tripathy commented on #8614
Its failing even for small errors (try any code that throws error in python), so don't think that is because of code. **test2.py** content (also available in screenshot attached in first comment)
`class Child():
    def __init__():
        print("Child")

child1 = Child()`
I am using Ctrl + Shift + B to run code (new to VS code, just trying to make sure I am not doing anything silly)

[2016-07-04 18:49] bitcrazed commented on #8693
@isidorn Many thanks. Obviously not a Pri0, but it'd be a nice fix next time someone revisits that area of code 😉

[2016-07-04 19:01] #8723 closed

[2016-07-04 19:04] bpasero commented on #8733
No, we cannot. See attached picture:

![image](https://cloud.githubusercontent.com/assets/900690/16568472/d7b7fb70-422a-11e6-9c5a-e125f0700b2f.png)

Closing "Untitled-1" we have to ask you to save the file even if it is opened in the left hand group. The user does not know that the file is opened in the left hand group because there are many files open. The user might wonder why he was not asked t

[2016-07-04 19:05] bpasero commented on #8673
Thanks!

[2016-07-04 19:50] zabel-xyz commented on #8667
It's work well, thank you.

[2016-07-04 20:06] CViniciusSDias opened #8739 "[php] Bad syntax highlight with single line <?php ?> statements"
- VSCode Version: 1.2.1
- OS Version: Windows 7

Commands within one single line do not appear to have the correct highlight.

Example:
<?php if (true) { ?>
    <?php foreach (array() as $array) { ?>
    <?php } ?>
<?php } ?>

[2016-07-04 20:15] Tyriar opened #8740 "Shrinking and growing the terminal horizontally breaks scrolling in the resized area"
Upstream issue: https://github.com/sourcelair/xterm.js/issues/159

[2016-07-04 20:30] HamedFathi opened #8741 "How can I references too many projects (folders) in Visual Studio Code?"
- VSCode Version: 1.2.1
- OS Version: Windows,Mac

When I used Visual Studio, I had two files format solution (.sln) and project (.csproj).

I want to know in Visual Code

How can I have solution (Root folder) and many projects (sub folders) with dependencies to itself ?

How can I set folders dependencies ? (I want to reference folders together)

please guide me or introduce a source that How can

[2016-07-04 20:32] nevir commented on #55
Would it be reasonable to layer in different kinds of results at different times (with some sort of indicator that a search is still progressing)?  Even fuzzy matching file names has a fair bit of delay for medium sized projects (with, say, `node_modules/` _excluded_)

[2016-07-04 21:41] weinand opened #8742 "command variable"
- VSCode Version: 1.3.0

Steps to Reproduce:

In a launch config pass this argument array to a node program that prints the arguments:
[code]
Observe: the argument value is only the value of the PickProcess command. The "--pid=" is missing.

This bug breaks command variable substitution in a severe way.

[2016-07-04 22:08] weinand commented on #8742
this is a duplicate of https://github.com/Microsoft/vscode/issues/8378

[2016-07-04 22:08] #8742 closed

[2016-07-04 23:33] weinand commented on #8378
This should be fixed for the stable build.

[2016-07-04 23:43] garysoed commented on #282
Moving Visual Studio Code out of and back into `Applications` didn't help.

[2016-07-05 01:01] ywmail opened #8743 "cannot delte some folder/files in work place after VS code opened."
- VSCode Version:1.2.1
- OS Version:Windows 7 Professional 64bit
- Git Version:2.9.0.windows.1

Steps to Reproduce:

1. open my work space, i see the process info like this:
![1](https://cloud.githubusercontent.com/assets/15505291/16571312/692507b8-428c-11e6-830f-55c1f8b000f5.png)
as you can see, no process opens the folder.

2. Click the Git Icon on the left navigator, and open a changed file to

[2016-07-05 01:14] yeluoqiuzhi commented on #7253
thanks. good job

[2016-07-05 01:46] tanaka-takayoshi commented on #8701
Thanks, I find ``Ctrl+` `` is working at the latest insider. However, shortcut key description is not shown. Is it the intended change?

![selection_029](https://cloud.githubusercontent.com/assets/846156/16571871/71021e88-429d-11e6-9ce6-b791acf4c856.png)

[2016-07-05 03:43] Tyriar opened #8744 "Saving huge files flashes the dirty circle indicator in open editors rapidly until it is saved to disk"
- VSCode Version: Code - Insiders 1.3.0-insider (0c5f6e8867fb117b6fa41cc647dc650bb9856dc4, 2016-07-04T09:39:57.773Z)
- OS Version: Linux x64 4.4.0-28-generic, Ubuntu 16.04

Steps to Reproduce:

1. Turn on open editors if not already
2. Open a huge file (mine was 18000 lines)
3. Dirty
4. Save, observe the circle indicator flashing rapidly, presumably until it is actually saved to disk. I saw this o

[2016-07-05 04:03] TheAustinSeven opened #8745 "Git operations in VSCode prevent git operations in other applications."
- VSCode Version: 1.3.0-insider
- OS Version: Windows 10

I have been running into some issues with the the auto-fetch and other polling git operations. My general workflow is that I:
*Edit files as necessary
*Switch to the command line and do whatever git magic I need to do
*go back to using VSCode

However, since VSCode performs git actions at least every 10 seconds which means that if I am perf

[2016-07-05 04:04] modigrv commented on #8406
The default image is also different from one shown on marketplace website. I am creating a bug to fix and give correct default image.

[2016-07-05 04:52] bpasero commented on #8744
I am very sorry to hear you are having issues with VS Code. I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-07-05 05:17] pkuma-msft commented on #8584
@joaomoreno In marketplace we round off to the nearest multiple of 0.5. Here are some examples,
3.74 will round off to 3.5
3.80 => 4.0
2.60 => 2.5
4.24 => 4.0
4.26 => 4.5
4.25 => 4.5

[2016-07-05 05:48] Tyriar commented on #8744
This issue was moved to editorconfig/editorconfig-vscode#58

[2016-07-05 05:48] #8744 closed

[2016-07-05 05:54] DonJayamanne commented on #6269
I'm closing this issue as this was an issue with the Python extension itself and the issue has now been resolved [#102](https://github.com/DonJayamanne/pythonVSCode/issues/102).
If the issue still persists, please re-open the [issue in Python repo](https://github.com/DonJayamanne/pythonVSCode/issues/102)

[2016-07-05 05:54] #6269 closed

[2016-07-05 06:28] slowmove opened #8747 "Better JavaScript completion thru JSDOC"
It would be very interesting to make the intellisense, completion and documentation popup (for a method for instace) better thru the ability of VSCode to better understand standard jsdoc like ```@description``` and such to give some text description to how to use a function, not only ```@param``` and parameter typing.

[2016-07-05 06:35] DonJayamanne commented on #2035
I believe the documentation on the following pages will help:
- [A Common Protocol for Languages](https://code.visualstudio.com/blogs/2016/06/27/common-language-protocol)
- [Language Server Protocol](https://github.com/Microsoft/language-server-protocol)

[2016-07-05 06:38] tht13 commented on #2035
Thanks @DonJayamanne
I still think it would be nice to have a generated documentation in the same way the API does, but I am fine for this to be closed as well :smile:

[2016-07-05 07:00] alexandrudima commented on #1110
This is intentionally capped at 1000 to prevent slowness / lagging.

[2016-07-05 07:05] joaomoreno commented on #282
What does this running this in the Terminal return?

[code]

[2016-07-05 07:08] f111fei opened #8748 "Bug when dragging folder or extension file into vscode"
- VSCode Version: 1.3.0-insider
- OS Version: windows7

Steps to Reproduce:

1.  Drag a `folder` from outside into vscode.
2.  `folder` would not open as an new workspace.

3. Drag a `vsix` file from outside into vscode.
4. vscode would open the file instead of install the extension

[2016-07-05 07:10] joaomoreno commented on #8395
Do you happen to know who the person to talk to is?

[2016-07-05 07:12] bpasero commented on #8373
Steps in https://github.com/Microsoft/vscode/pull/8746

[2016-07-05 07:13] joaomoreno commented on #7963
Do you see this on any other machine?

What git version do you have installed?

[2016-07-05 07:14] alexandrudima commented on #4828
Since all issues on our side are fixed (no more crashes for these test cases), I would prefer to close this issue. The JavaScript grammar is still broken, but that is being tracked in Microsoft/TypeScript-TmLanguage#174

[2016-07-05 07:14] #4828 closed

[2016-07-05 07:15] jrieken commented on #8395
Maybe 🙈

[2016-07-05 07:19] bpasero commented on #8743
@ywmail is this using typescript?

[2016-07-05 07:20] bpasero commented on #8748
This is https://github.com/Microsoft/vscode/issues/8726

[2016-07-05 07:20] #8748 closed

[2016-07-05 07:20] SneWs commented on #4842
I have to second this. It's super annoying that all of a sudden you've managed to move a folder into another folder. Had you been able to Undo it would not have been such a PITA, but there is no such option currently.

I mainly have this issue when working in a Linux box where the trackpad is a bit finicky and all of a sudden it registers a touch while dragging and voila, you have moved something

[2016-07-05 07:29] #8673 closed

[2016-07-05 07:31] alexandrudima commented on #6250
This got implemented by @csvn in #7925 and will come out with the June stable release

[2016-07-05 07:31] #6250 closed

[2016-07-05 07:32] ywmail commented on #8743
@bpasero Yes, this is a typescript project, forked from angular2-webpack-starter, here is the `settings.json`
`// Place your settings in this file to overwrite default and user settings.
{
    "files.exclude": {
        "**/.git": true,
        "**/.DS_Store": true,
        "build/": true,
        "dist/": true,
        "bin/": true,
        "karma/": true,
        "r/": true,
        "reports/":

[2016-07-05 07:32] alexandrudima commented on #7536
Trying for July...

[2016-07-05 07:33] alexandrudima commented on #1792
@jrieken Something to consider for the menu items story?

[2016-07-05 07:33] joaomoreno commented on #4842
Undo would be awesome, but likely hard to achieve.

We can add a setting to disable dnd, what do you think @bpasero?

[2016-07-05 07:35] joaomoreno commented on #8395
Just I just drop the strict?

[2016-07-05 07:35] alexandrudima commented on #1799
@othebe We have made lots of improvements over the past months that might incidentally help your use-case. Would you care to give it another try and report if things are still painfully slow...

You can grab the latest from the insiders channel - https://code.visualstudio.com/insiders

[2016-07-05 07:36] jrieken commented on #8395
Yeah - and since that's the last usage of another than default filter I would drop the whole concept of support specific filters

[2016-07-05 07:37] f111fei commented on #8726
extension file like `.vsix` need also give the right feedback.

[2016-07-05 07:38] jrieken commented on #1792
Yeah, but I don't really know we would dedupe them?

[2016-07-05 07:48] jrieken opened #8749 "we have the unused outlineMarkers"
We have `editor/contrib/outlineMarker` which I don't think we use or expose. @alexandrudima do you know more. Is this something want to keep/support?

[2016-07-05 07:51] #8378 closed

[2016-07-05 07:51] lllopo opened #8750 "Auto-hide sidebar"
- VSCode Version: 1.3.0-insider
- OS Version: Win 10

Currently, when you open a side panel and then click back in the editor area, the side panel remains open.
It would be rather handy to add a button (pin or something) which changes this behavior for each panel, allowing to either keep the current way of working or making the side panel auto-collapse when you click outside.

[2016-07-05 07:53] alexandrudima commented on #2043
@simonvizzini I am happy to report that due to some changes I did a couple of months ago, the initial reported bluriness with ProggyClean is gone (leading tabs widths are now defined explicitly)! :)

@mitsukuri I can reproduce the bluriness with Envy Code R at font size 13, but when I go to font size 14 I see it rendered a lot better. I believe the font rendering pipelines of Chromium and Visual S

[2016-07-05 07:53] #2043 closed

[2016-07-05 07:54] bpasero commented on #4842
@joaomoreno I will introduce a delay of 500 ms before you can actually drop within the tree. That should fix these issues of accidental drop.

[2016-07-05 08:06] joaomoreno commented on #4842
I think that will fix accidental dragging... not so sure about accidental dropping. 😕

[2016-07-05 08:22] ywmail commented on #8743
The file structure is like this:
[code]
Pls note that I have a `server` in the root folder which contains another node_modules foler.

[2016-07-05 08:25] alexandrudima commented on #7609
@jrieken Pushed fix to `release/1.3.0`. The fix is to clear all data associated with a decoration type in the editor. Please verify that those members are always accessed in a safe way. The contract is that the decoration type will always be unique and once removed, it will never come back.

[2016-07-05 08:30] #7609 closed

[2016-07-05 08:37] joaomoreno commented on #8580
@bpasero Just assigning to get an owner on this, but fwd if necessary.

[2016-07-05 08:39] joaomoreno commented on #8611
Maybe duplicate of #7874.

I can read `npm WARN`. @Luncher this should only be a warning, it's not a problem. Does the command return non zero?

[2016-07-05 08:41] joaomoreno commented on #8717
cc @isidorn @bpasero

[2016-07-05 08:43] joaomoreno commented on #8713
Can you maybe find someone to translate the issue to English? I'm having a hard time understanding the problem.

@bpasero This might be that the user has an href link with `../../../..` and tries to double click and gets an error message.

[2016-07-05 08:51] darkred commented on #8687
No, that's not the case.
Installer doesn't just add Code as an extra entry in windows explorer's `rightclick|Open with` menu for these file extensions:
![2016-07-04_183804](https://cloud.githubusercontent.com/assets/723651/16578936/ebfd06e0-42a5-11e6-99c5-9b4bc54a1b1a.png)

I created various empty files with random extensions from my [screenshot 1](https://i.imgur.com/ntouoyZ.jpg))
and **all are a

[2016-07-05 08:51] joaomoreno commented on #8721
Very hard to achieve nowadays. There are many references to node modules by now.

[2016-07-05 08:51] #8721 closed

[2016-07-05 08:53] Luncher commented on #8611
build successful, but can not run `./scripts/code.sh` @joaomoreno

[2016-07-05 08:54] jmls commented on #8721
Wait - what has node_modules got to do with this ? I was wanting to show the UI in a browser, not run the application in a browser ;) The application would be running in the docker container on the server, with all the access to node_modules that it needs.

[2016-07-05 08:54] joaomoreno commented on #8722
Duplicate of #3465

[2016-07-05 08:54] #8722 closed

[2016-07-05 08:57] Emeryao commented on #8713
@joaomoreno you are almost right man.
@hzmnet his problem is getting error if the href targetting out of the workspace folder.

PS: @hzmnet 个人认为：提issue还是用英文吧兄弟 而且你这个description也太草率了吧

[2016-07-05 08:58] Luncher opened #8751 "Configured debug type 'chrome' is not supported."
- VSCode Version: 1.4.0
- OS Version: fedora21

Steps to Reproduce:

1.  clone vscode repository & `./scripts/npm.sh install --arch=x64`
2.  ./scripts/code.sh --remote-debugging-port=9222 &  `DEBUG from Attach to VSCode`

![screenshot from 2016-07-05 16 57 56](https://cloud.githubusercontent.com/assets/5138977/16579313/c328cce0-4264-11e6-843f-3a040ddde908.png)

[2016-07-05 09:04] joaomoreno commented on #8736
In Windows, the entire `extensions` folder is wiped out. Not sure about OS X or Linux. A good fallback would be to scope the downloaded files into a folder named with the Code version.

[2016-07-05 09:04] #8736 closed

[2016-07-05 09:07] sandy081 commented on #7132
This is no longer the case. Hence closing this.

[2016-07-05 09:07] #7132 closed

[2016-07-05 09:08] sandy081 commented on #8710
Closing this as this will be fixed with #8515

[2016-07-05 09:08] #8710 closed

[2016-07-05 09:08] joaomoreno commented on #8741
@jrieken Can you provide some guidance here?

[2016-07-05 09:09] Emeryao commented on #8651
![image](https://cloud.githubusercontent.com/assets/3591899/16579530/ade33a8c-42d2-11e6-8ef8-ea40e7667efa.png)
BTW: @Tyriar do you think the English is vertically centered?
* VSCode Version: Code - Insiders 1.3.0-insider (Commit 0c5f6e8867fb117b6fa41cc647dc650bb9856dc4 Date 2016-07-04T09:47:29.290Z)
* OS Version: Windows10 10586.420

[2016-07-05 09:09] joaomoreno commented on #8747
@dbaeumer Is there already a feature request for this?

[2016-07-05 09:10] bpasero commented on #4842
@joaomoreno hm, my understanding is that people are frustrated when suddenly they DND a folder in the explorer from one location to another. I do not think people want to disable being able to drop from outside the explorer into the explorer (e.g. from desktop to import the file).

Also, if the problem is about dropping to the wrong location, disabling DND is not an option. For that we need the co

[2016-07-05 09:10] joaomoreno commented on #8750
cc @bpasero @stevencl @bgashler1

[2016-07-05 09:10] sandy081 commented on #1927
Marking this as a feature request for problems view to show multi line descriptions

[2016-07-05 09:11] jrieken commented on #8737
Some ideas

* We change `notIn: string[]` to `notIn: ('string' | 'comment')[]` to be more *strict* and to not allow stuff like `string.php`
* We acknowledge that we only use this for preventing auto close in `string` and `comment` tokens and just hardcode that in the editor

[2016-07-05 09:13] joaomoreno commented on #8721
Most of the workbench code has dependencies not only on the DOM but also on native functionality, only available in node, which would make it impossible to run in a browser. Take [`shell.ts`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/electron-browser/shell.ts#L27) as an example.

[2016-07-05 09:13] alexandrudima commented on #2272
@rebornix I followed https://manual.macromates.com/en/appendix while implementing it.

I think I got wrong the semantics of `decreaseIndentPattern` (it should probably decrease the current line too).

The implementation is at https://github.com/Microsoft/vscode/blob/master/src/vs/editor/common/modes/supports/onEnter.ts#L128

To support decreasing the current line indent, the `EnterAction` must be

[2016-07-05 09:14] bpasero commented on #8717
Looks like we fail to strip some ANSI codes?

[2016-07-05 09:14] sandy081 commented on #7401
@bpasero What is the impact after your change?

[2016-07-05 09:14] joaomoreno commented on #8687
Yes, but did you have **any other** application that was able to open those files before you installed Code?

[2016-07-05 09:15] bpasero commented on #8580
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-07-05 09:15] #8580 closed

[2016-07-05 09:15] joaomoreno commented on #8611
OK. So what error do you get when running that?

[2016-07-05 09:15] bpasero commented on #7401
Sorry, not using this anymore from within Code. Got so used to my terminal outside :-/

[2016-07-05 09:16] isidorn commented on #8717
Dup of #571?

[2016-07-05 09:17] alexandrudima commented on #2402
:+1: on implementing this in the core. Sounds like something the [ViewModel](https://github.com/Microsoft/vscode/blob/master/src/vs/editor/common/viewModel/viewModel.ts) should do -- it has the ability to transform view <-> model positions and randomly insert/remove text, etc.

[2016-07-05 09:17] weinand commented on #8751
@Luncher you have to install the chrome debug extension:  https://marketplace.visualstudio.com/items?itemName=msjsdiag.debugger-for-chrome if you want to reuse that launch config.

[2016-07-05 09:17] #8751 closed

[2016-07-05 09:18] alexandrudima commented on #2521
:+1: IMHO #7181 addresses this.

[2016-07-05 09:18] #2521 closed

[2016-07-05 09:20] bpasero commented on #8717
Well as long as we do not support ANSI colors we need to ensure they are all removed from the output. In the screen shot it looks like they are still in.

[2016-07-05 09:22] alexandrudima commented on #8749
We can delete it

[2016-07-05 09:24] #4842 closed

[2016-07-05 09:24] bpasero commented on #4842
Given all the user frustration, I pushed a change to introduce `explorer.enableDragAndDrop` until we have figured out a better solution (https://github.com/Microsoft/vscode/issues/6486 and https://github.com/Microsoft/vscode/issues/1414)

[2016-07-05 09:25] bpasero commented on #6486
Fyi for July (or insiders) https://github.com/Microsoft/vscode/issues/4842 is pushed and allows to disable DND in the explorer.

[2016-07-05 09:25] bpasero commented on #1414
Fyi for July (or insiders) https://github.com/Microsoft/vscode/issues/4842 is pushed and allows to disable DND in the explorer.

[2016-07-05 09:26] darkred commented on #8687
The `.js` files open with `Microsoft Windows Based Script Host` by default.
Also, `sh` files

[2016-07-05 09:27] jrieken commented on #7609
Change looks good, works in `scripts/code.sh`

[2016-07-05 09:29] jrieken commented on #8741
This issue was moved to OmniSharp/omnisharp-vscode#527

[2016-07-05 09:29] #8741 closed

[2016-07-05 09:30] #8583 closed

[2016-07-05 09:30] alexandrudima commented on #8749
Deleted in a485c3a65a7954a83f6ad652931c634f93a5a5af

[2016-07-05 09:30] #8749 closed

[2016-07-05 09:31] vivainio opened #8752 "Breakpoints disabled when debugging extensions"
- VSCode Version: 1.2.1
- OS Version: Windows 7

Steps to Reproduce:

1. git clone https://github.com/vivainio/robotframework-vscode.git
2. open the project in vscode
3. set some breakpoints in extension.ts
4. press f5 and open some file with .robot extension
5. observe that breakpoints are disabled with the tooltip: "Breakpoint ignored because generated code not found (source map problem?)."

[2016-07-05 09:31] egamma opened #8753 "June Issue Review"
We have accumulated a lot of issues in our inboxes it is time to review them. Therefore please go through your issues and check:
- can the issue be closed (obsolete, dupe)
- did you ask for more information, but the author of the issue didn't come back for a month
- should the bug be labelled as `important`, that is, we do not want to ship a `stable` build with the issue.
- is the issue properly l

[2016-07-05 09:34] jrieken commented on #5038
Closing since we managed to workaround this using an opacity trick

[2016-07-05 09:34] #5038 closed

[2016-07-05 09:35] jrieken commented on #8440
Closing this as a dupe of #4795 which is also about improving/redoing word selection.

[2016-07-05 09:37] jrieken commented on #4795
@rozzzly, @TobiaszCudnik  Since I am not as familiar with the optimal solution can you guys help out with 'how it should work?'. I guess, selector word, line?, bracket/paran-block? ...

[2016-07-05 09:37] darkred commented on #8687
_(sorry, closed the issue by mistake)_

The `.js` files would open with `Microsoft Windows Based Script Host` (a windows component, it's by default).
After installing Code they become assosiated with Code.

On the other hand, `sh` files would open with `Git for Windows`.
After installing Code they are still associated with Git.

[2016-07-05 09:38] weinand opened #8754 "Consolidate variable substitution between debug and tasks"
Currently we have (at least) two places where we substitute variables in jsons. One for regular variables (which are used in launch.json and tasks.json) and another one for command variables (only available in launch.json).

We should consolidate this:
- There should be only a single implementation for variable substitution (and it should not make a difference whether the variable comes from a com

[2016-07-05 09:41] #8395 closed

[2016-07-05 09:45] DmytroYeremieiev commented on #4795
I like the way it's implemented in https://atom.io/packages/expand-region or at Jetbrains products like Webstorm

[2016-07-05 09:56] joaomoreno commented on #8745
Let's do something: I'll disable automatic git operations while Code is not in the foreground.

[2016-07-05 09:57] joaomoreno commented on #8687
Got it, thanks for the info! I will attempt to reproduce on a brand new Windows box, see what we can do.

[2016-07-05 10:00] mrmlnc commented on #8611
@Luncher I think I know what's going on. Same problem on Windows with Node.js version 6. Both users have a Node.js version 6.

Please try the following instructions:

  1. Install Node.js version **5.11.1** or **5.12.0**
  2. Remove `node_modules` directory in the directory VS Code
  3. Run `./scripts/npm.sh install --arch=x64` and wait
  4. Run `/scripts/code.sh`

On windows:

<details>
  <summar

[2016-07-05 10:08] joaomoreno commented on #8611
No, that's not it.

@Luncher please don't add `--arch=x64` to `npm install` and try again.

[2016-07-05 10:08] #8611 closed

[2016-07-05 10:10] ayoubdev opened #8755 "Autoformat multiple exports"
- VSCode Version: 1.3.0-insider (2016-07-04)
- OS Version: Windows 10

Hello everyone,

I wonder if it's possible to change indentation behavior for javascript multiple exports (like multiple imports one). Indeed, autoformat feature currently outputs following:
[code]

Desired output:
[code]

[2016-07-05 10:17] sandy081 commented on #8293
We decided to not to have this action in input boxes.

[2016-07-05 10:17] #8293 closed

[2016-07-05 10:19] sandy081 commented on #8753
Done reviewing my issues. Most of the issues I have, I could process it as per points mentioned in tracking.

[2016-07-05 10:30] isidorn commented on #8706
Yes, it is a configuration on the vscode side. To get the behavior you would like you can add to your launch.json configuration: `'internalConsoleOptions': 'openOnSessionStart'`
More details can be found here: https://github.com/Microsoft/vscode/issues/6159

[2016-07-05 10:30] #8706 closed

[2016-07-05 10:39] isidorn commented on #7540
I suggest we bring this up in tomorrow's ux sync.

[2016-07-05 10:43] gdimauro commented on #7831
Hi, I tried with vscode insiders downloaded this morning, but I obtain the following error message:
Unable to parse content from '/schemas/all-schema.json': [object, Object]. (1,1)

[2016-07-05 10:48] jrieken opened #8756 "Menu items aren't sorted properly"
If you have menu items with and without a `group` we have problems sorting them properly and they show mixed. That's because we first sort them by group and the `compare` logic is flawed.

![screen shot 2016-07-05 at 12 50 00](https://cloud.githubusercontent.com/assets/1794099/16582396/043c6cec-42af-11e6-9c0a-7be1683e2e42.png)

[2016-07-05 10:50] gdimauro opened #8757 "schema include $ref not working (even with insiders version 1.3.0)"
- VSCode Version:
1.3.0 insiders
- OS Version:
windows 10

Steps to Reproduce:

Hi, I tried with vscode insiders downloaded this morning, but I obtain the following error message:
Unable to parse content from '/schemas/all-schema.json': [object, Object]. (1,1)

I tried to open schema file with Altova XmlSpy and it was fine.

![vscodeschemabug](https://cloud.githubusercontent.com/assets/4541491/165

[2016-07-05 10:52] jrieken commented on #8756
The flaw is that we compare the groups only when both items have one and else compare the titles, it should be that an item without a group is sorted after an item with a group.

[2016-07-05 11:50] #8756 closed

[2016-07-05 11:54] #2792 closed

[2016-07-05 12:01] weinand commented on #8752
@vivainio thanks for making your project available.
The launch config is missing the source map attributes `sourceMaps` and `outDir`. With this launch config setting and hitting breakpoints works for me:

[code]

It is recommended to use the VS Code yeoman generator `generator-code` for scaffolding an extension project (see https://code.visualstudio.com/docs/extensions/example-hello-world )

[2016-07-05 12:01] #8752 closed

[2016-07-05 12:02] alexandrudima commented on #8756
:+1: looked at the commit

[2016-07-05 12:06] alexandrudima commented on #2811
To clarify - it is possible to maintain synchronized text from these events. See https://github.com/Microsoft/vscode/blob/master/src/vs/editor/common/model/mirrorModel2.ts#L39 for an example

Your desire is for us to send the range also in an offset-len format besides the start-end pos format?

[2016-07-05 12:08] alexandrudima commented on #2812
This is for accessibility purposes. In our environment the only way to go to the next focusable element is via Tab and for that reason we should not trap focus -- otherwise folks who cannot use a mouse will not be able to escape the find widget.

[2016-07-05 12:10] alexandrudima commented on #2815
I like the suggestions. To summarize:

* VSCode should try to identify the extension causing the extension host to crash
* VSCode should cope better when the extension host crashes and possibly attempt to restart it automatically.

[2016-07-05 12:11] alexandrudima commented on #2818
This has been fixed with the fix for #4797

[2016-07-05 12:11] #2818 closed

[2016-07-05 12:12] alexandrudima commented on #2827
Closing since no more info received.

[2016-07-05 12:12] #2827 closed

[2016-07-05 12:13] Sequoia commented on #7831
Does it work from relative local file addresses? I was serving schemas from a local server during development...

[2016-07-05 12:13] vivainio commented on #8752
@weinand thanks for looking into this. I generated the project with yeoman generator, but it was an earlier version of the generator.

[2016-07-05 12:25] alexandrudima opened #8758 "Something is severely different with intellisense and snippets"
I believe snippets were not offered before when the line had content on it.

I expect `getTabFocusMode` to be selected when intellisense pops up.

![image](https://cloud.githubusercontent.com/assets/5047891/16584386/21b4f8b8-42bc-11e6-9c25-573174be06e4.png)

[2016-07-05 12:27] alexandrudima commented on #8758
`1.2.1` shows the same **bad** behaviour

[2016-07-05 12:29] dbaeumer commented on #8725
Duplicate #8719

[2016-07-05 12:29] #8725 closed

[2016-07-05 12:30] alexandrudima commented on #8758
`1.1.1` also looks **bad**

[2016-07-05 12:34] alexandrudima commented on #8758
Works ok? in `0.10.6`

![image](https://cloud.githubusercontent.com/assets/5047891/16584690/949d90be-42bd-11e6-8bfe-6a58eba7a975.png)

[2016-07-05 12:48] #8707 closed

[2016-07-05 12:49] dbaeumer commented on #8719
I looked into fixing this and the only reasonable fix for this is to remove the markers on close. The tsserver has some limitation which I can't work around it. They are:

- you can't request errors for closed resources. Such a request is simply ignored.
- if a last resource of a project closes the whole project closes which doesn't allow any request to the files in the project anymore.

[2016-07-05 12:51] #8719 closed

[2016-07-05 12:56] joaomoreno opened #8759 "Update animated gif in repo entry page"
We need to update the animated gif in the entry page of the GitHub repo: https://github.com/Microsoft/vscode/blob/master/README.md

[2016-07-05 12:57] isidorn commented on #8727
Both [debug](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/node/debugConfigurationManager.ts#L355) and [tasks] (https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/tasks/electron-browser/task.contribution.ts#L258) use the same API. So not sure if the editor service `openEditor` api should automatically pin if somebody calls the openEditor that is a

[2016-07-05 12:58] isidorn commented on #8727
If I understood your original reasoning you want the file pinned if it is being created, or if already opened and user clicks configure?

[2016-07-05 13:00] #2868 closed

[2016-07-05 13:10] #8584 closed

[2016-07-05 13:10] joaomoreno commented on #8584
@pkuma-msft Thanks for the directions. Does 284309d0383624f1c9393bad8e84d38652d690a8 make sense?

[2016-07-05 13:12] joaomoreno commented on #8655
Actually, #2397

[2016-07-05 13:13] joaomoreno commented on #2397
Let's add a setting for this.

[2016-07-05 13:13] dbaeumer commented on #8747
If so then in the TS land. I will move the issue since the feature request needs to be implemented there.

[2016-07-05 13:13] ashwinimohan commented on #101
What is the current status of this feature? When we can see this feature in action?

[2016-07-05 13:13] dbaeumer commented on #8747
This issue was moved to Microsoft/TypeScript#9518

[2016-07-05 13:13] #8747 closed

[2016-07-05 13:14] joaomoreno commented on #2750
Closing due to inactivity.

[2016-07-05 13:14] #2750 closed

[2016-07-05 13:14] alexandrudima commented on #2933
Closed with 1d8a0023f4273eaeb1aed631fac97192b26b3c55

[2016-07-05 13:14] #2933 closed

[2016-07-05 13:15] dbaeumer commented on #8738
This issue was moved to Microsoft/TypeScript#9519

[2016-07-05 13:15] #8738 closed

[2016-07-05 13:15] dbaeumer commented on #8738
Moving to TS team.

[2016-07-05 13:15] joaomoreno commented on #4359
Closing due to inactivity.

[2016-07-05 13:15] #4359 closed

[2016-07-05 13:16] joaomoreno commented on #4384
Closing due to inactivity.

[2016-07-05 13:16] #4384 closed

[2016-07-05 13:16] joaomoreno commented on #5285
Closing due to inactivity.

[2016-07-05 13:16] #5285 closed

[2016-07-05 13:16] joaomoreno commented on #5389
Closing due to inactivity.

[2016-07-05 13:16] #5389 closed

[2016-07-05 13:16] bpasero commented on #8727
@isidorn I thought the file should get pinned if we actually create it. I thought we would create it in these cases.

[2016-07-05 13:16] joaomoreno commented on #5434
Closing due to inactivity.

[2016-07-05 13:16] #5434 closed

[2016-07-05 13:17] dbaeumer commented on #8711
This issue was moved to Microsoft/TypeScript#9520

[2016-07-05 13:17] #8711 closed

[2016-07-05 13:17] dbaeumer commented on #8711
Moving to TS team.

[2016-07-05 13:18] joaomoreno commented on #6162
@jundialwan Can you try the latest [insider release](https://code.visualstudio.com/insiders) and see whether you still see this issue?

[2016-07-05 13:19] joaomoreno commented on #6202
Closing due to inactivity.

[2016-07-05 13:19] #6202 closed

[2016-07-05 13:20] joaomoreno commented on #7439
Closing due to inactivity.

[2016-07-05 13:20] #7439 closed

[2016-07-05 13:21] joaomoreno commented on #7529
Yeah, this sounds like a problem in your network.

[2016-07-05 13:21] #7529 closed

[2016-07-05 13:23] dbaeumer commented on #8705
VS uses a different engine underneath. To my knowledge they implement their own language service whereas VS Code relies on the tsserver (also maintained by the TS team). So I will move the issue since the tsserver is the right place to react to these changes.

[2016-07-05 13:23] dbaeumer commented on #8705
This issue was moved to Microsoft/TypeScript#9522

[2016-07-05 13:23] #8705 closed

[2016-07-05 13:23] isidorn commented on #8727
@bpasero if the file is already created, clicking on the configure action just opens the file. File only gets created if it is nonexistent and I can pin it in that case - let me do that for tasks and debug

[2016-07-05 13:24] dbaeumer commented on #8705
@aluanhaddad thanks for the nice P.S.

[2016-07-05 13:25] bgse commented on #8750
For the git-panel, it could be useful to have something like "auto-hide if there is nothing to show", or even better yet "go back to last side-panel if there is nothing to show".

I'm often finding myself switching from explorer-panel to git-panel, after my commit I am being left with an empty git panel, and have to click the explorer panel again to get back into my workflow.

This would be a lot

[2016-07-05 13:26] joaomoreno commented on #3645
Closing as a detailed error message is useful for us to know what's happening. Without a logger this can't be solved.

[2016-07-05 13:26] #3645 closed

[2016-07-05 13:27] dbaeumer commented on #8743
This is a problem of the tsserver can gets addressed with the next TS update. For details pls see https://github.com/Microsoft/TypeScript/issues/7762

[2016-07-05 13:27] #8743 closed

[2016-07-05 13:29] #637 closed

[2016-07-05 13:29] joaomoreno commented on #5384
There is now progress when installing extensions.

[2016-07-05 13:29] #5384 closed

[2016-07-05 13:30] joaomoreno commented on #3977
Duplicate of #507

[2016-07-05 13:30] #3977 closed

[2016-07-05 13:31] bpasero commented on #8727
@isidorn yes that would be great and follows our pattern of what should get pinned by default. I can then look into pinning the settings file when it is being created.

[2016-07-05 13:31] joaomoreno commented on #2824
This will likely not happen in the near future.

[2016-07-05 13:31] bpasero commented on #8750
https://github.com/Microsoft/vscode/issues/3742

[2016-07-05 13:31] #8750 closed

[2016-07-05 13:34] joaomoreno commented on #3412
@modigrv Do we have any progress on this item?

Specifically, when extensions are published to the marketplace, they indicate [a specific VS Code version range they are compatible with](https://github.com/Microsoft/vscode-parinfer/blob/master/package.json#L9). Is there any way vsce can send this information to the marketplace such that VS Code can then query on this (or at least get it through ver

[2016-07-05 13:35] stkb commented on #2933
👍

[2016-07-05 13:35] isidorn commented on #8727
@bpasero did it for launch and tasks, forwarding to you so you can investigate settings

[2016-07-05 13:37] joaomoreno commented on #4337
And it's now supported in the product!

![image](https://cloud.githubusercontent.com/assets/22350/16586462/5d0be2a0-42c6-11e6-8591-b558aa9bc0dd.png)

[2016-07-05 13:37] #4337 closed

[2016-07-05 13:38] joaomoreno commented on #4548
Seems to be working now!

[2016-07-05 13:38] #4548 closed

[2016-07-05 13:39] joaomoreno commented on #4772
@modigrv Is there any concept of deprecation?

[2016-07-05 13:40] joaomoreno commented on #4801
@modigrv Is there any such concept? Maybe accessible through version properties, which vsce would properly map from our `package.json`?

[2016-07-05 13:47] lllopo commented on #8750
Well, I'm refrencing more to the Visual Studio panels 'auto-hide' : you click on it  - it shows, you click outside - it goes ... simple as that. Hovering/timeouts etc. are not really necessary, but anyway - #3742 is similar, I must admit.
Btw., the GIT sidepannel must be totally hidden (no icon on the bar at all) when git is disabled in settings, I think.

[2016-07-05 13:48] TotzkePaul commented on #8647
I was able to reproduce with non-useful data.

https://github.com/TotzkePaul/SpacesVsTabs/blob/master/Test.html#L1

[2016-07-05 13:48] TotzkePaul commented on #8647
also not fixed with the latest VS Code

[2016-07-05 13:49] #8727 closed

[2016-07-05 13:50] bpasero commented on #8727
Decided to always open all settings files pinned (also "Default Settings"). Why? Because this does not destroy any preview editor the user might have so you can nicely escape settings by closing 2 editors and restore the previous view state.

[2016-07-05 13:50] joaomoreno commented on #6721
This will likely not happen in the near future.

[2016-07-05 13:50] #6721 closed

[2016-07-05 13:51] bpasero commented on #8726
I pushed a fix for it, @f111fei maybe you check it out when we push July insider builds (sometime after we released stable this week).

[2016-07-05 13:51] #8726 closed

[2016-07-05 13:52] joaomoreno commented on #7830
It would be interesting to tackle this considering #6403 and #6614.

[2016-07-05 13:56] TotzkePaul commented on #8647
It seems to be because there is a large amount of data in a value attribute. Removing that tag but leaving that data behind in a div doesn't cause an issue.

[2016-07-05 13:59] egamma opened #8760 "July Iteration Plan"
This plan captures what we **work on during July** and will **ship early August**.

**Notice** there will be a delay in 1.4 with regard to the translations and 1.4 will not be fully translated. We are planning for 1.5 to be fully translated release again.

June was a feature rich [release](https://code.visualstudio.com/Updates) and July is a heavy vacation month for the team. We have therefore dec

[2016-07-05 14:01] dbaeumer commented on #7401
Actually addressing this might cause some work inside multi line problem matchers. Multi line matchers are made for a use case like

Errors in file A.ts
   1,1: An error on line one
   2,1: An error on line two

I will keep this as a feature request but I think we would benefit more from a project wide TS builder than addressing this use case in the problem matcher.

[2016-07-05 14:02] Tyriar commented on #8651
@Emeryao that's off too, this is what I see on Ubuntu
![image](https://cloud.githubusercontent.com/assets/2193314/16587236/73536e4a-427e-11e6-86d9-676cf36f369e.png)

[2016-07-05 14:02] joaomoreno commented on #7813
Closing as Marketplace owns the issue.

[2016-07-05 14:02] #7813 closed

[2016-07-05 14:04] joaomoreno commented on #8663
Closing this since it is a discussion issue. We can keep talking here.

[2016-07-05 14:04] #8663 closed

[2016-07-05 14:07] #92 closed

[2016-07-05 14:07] #8373 closed

[2016-07-05 14:09] joaomoreno commented on #281
Closing due to inactivity. Suggest to update git and retry. Let us know if it still happens.

[2016-07-05 14:09] #281 closed

[2016-07-05 14:12] joaomoreno commented on #901
Let's:

1. Disable auto status when application is not in foreground and,
2. Provide setting (or checkbox in viewlet) to disable auto status altogether.

[2016-07-05 14:13] bpasero commented on #8713
I do not think we allow to escape the workspace like that, at least when I try. Other relative links with "../" work for me though.

@Emeryao is the resulting path pointing outside of the workspace maybe?

[2016-07-05 14:13] niieani commented on #8434
@joaomoreno I have iTerm2 integration and this and this one works for me too!

[2016-07-05 14:13] joaomoreno commented on #7963
Closing as duplicate of #901

[2016-07-05 14:13] #7963 closed

[2016-07-05 14:14] tomduncalf opened #8761 "Generic type in interface breaks TSX syntax highlighting"
- VSCode Version: 1.3.0-insider a1293f5056e79c3f0e2cd3e24909f41ff4eef472 (does not affect 1.2.1)
- OS Version: OS X 10.11.3

Steps to Reproduce:

1. Create an interface which has a property of a type which uses a generic in its signature
2. Subsequent code is incorrectly highlighted, presumably due to angle brackets being interpreted as JSX

Example code:

[code]

Actual result:

![image](https://

[2016-07-05 14:15] joaomoreno commented on #376
Absolutely, looks very similar to #281.

I suggest to try the latest version and to install git `>= 2.0.0`.

[2016-07-05 14:15] #376 closed

[2016-07-05 14:15] jrieken commented on #8756
To **verify**

* have an extension that adds three items to the editor context menu where two have a group and one has not. Use titles `a`, `b`, and `c` where the menu item without group is called `b`
* Make sure that the item with a group are rendered together and that the item without shows below

[2016-07-05 14:16] #572 closed

[2016-07-05 14:16] joaomoreno commented on #568
LGTM

[2016-07-05 14:16] #568 closed

[2016-07-05 14:17] joaomoreno commented on #631
Closing due to inactivity. Please report whether you still see this issue.

[2016-07-05 14:17] #631 closed

[2016-07-05 14:19] csholmq commented on #8441
Works on macOS.

[2016-07-05 14:21] joaomoreno commented on #8434
Alright guys, we'll go with this then. Props to @weinand for coming up with the idea!

[2016-07-05 14:21] dbaeumer commented on #7157
@vba sorry for not responding earlier but this slipped through the cracks. The problem is the case sensitive FS under Mac. Please see  #5161 for the problem behind it and a workaround.

[2016-07-05 14:26] joaomoreno commented on #666
@bpasero I could still repro this:

![image](https://cloud.githubusercontent.com/assets/22350/16587920/1f837090-42cd-11e6-8f1f-b388fb591fdc.png)

[2016-07-05 14:43] chrmarti commented on #8654
What surprises me is how slow the images are added back, these are cached I assume?

[2016-07-05 14:51] jrieken commented on #4557
It's like this:

* you can associate an `id` to a `function` (think of `function` as `run` in an action)
* you can associate a `keybinding` to an `id`
* you can associate a `menu item` to an `id`

Since the menu item story is just adding another UI gesture to invoke a command it's not making it easier or harder it's just a second way to invoke a command.

Today, there is a little debt as that we d

[2016-07-05 14:52] jrieken commented on #8654
I actually don't know... I can image they aren't cos they are meant to represent some live state about the repo...?

[2016-07-05 14:53] weinand commented on #8756
starting to verify...

[2016-07-05 14:58] bpasero commented on #6564
Please reopen if you still see this.

[2016-07-05 14:58] #6564 closed

[2016-07-05 14:59] OlsonDev commented on #2812
I'm sorry, but that makes no sense. Every other IDE I've used traps focus in the find widget/panel.

I just tested with what I have installed:

- Sublime Text - `Esc` key escapes the find panels. `Tab` toggles between "Find What:" and "Replace With:"
- Visual Studio 2015 - `Esc` key escapes the find and replace panel. `Tab` toggles between all the fields.
- Atom - `Esc` key escapes both the `Find

[2016-07-05 15:10] joaomoreno commented on #1945
Closing as not supported.

[2016-07-05 15:10] #1945 closed

[2016-07-05 15:10] #2547 closed

[2016-07-05 15:12] joaomoreno commented on #2617
Closing as _as designed_.

[2016-07-05 15:12] #2617 closed

[2016-07-05 15:13] joaomoreno commented on #2642
Fixed since.

[2016-07-05 15:13] #2642 closed

[2016-07-05 15:14] joaomoreno commented on #2961
Fixed since.

[2016-07-05 15:14] #2961 closed

[2016-07-05 15:20] SaschaNaz commented on #2617
??? VSCode is designed to turn my hard drives without any need?

[2016-07-05 15:22] bpasero commented on #666
@joaomoreno show me

[2016-07-05 15:23] joaomoreno commented on #3423
Do you still have this issue?

[2016-07-05 15:24] joaomoreno commented on #3520
@steelheaddigital Sorry for the long silence. Is this still a problem nowadays with the latest versions?

[2016-07-05 15:25] #3672 closed

[2016-07-05 15:25] joaomoreno commented on #3672
Closing due to inactivity.

[2016-07-05 15:26] joaomoreno commented on #4062
Closing due to inactivity.

[2016-07-05 15:26] #4062 closed

[2016-07-05 15:26] joaomoreno commented on #4518
Fixed!

[2016-07-05 15:26] #4518 closed

[2016-07-05 15:30] joaomoreno commented on #5522
Fixed since.

[2016-07-05 15:30] #5522 closed

[2016-07-05 15:31] bpasero opened #8762 "Debug: hover could get some polish in this case"
You seem to inline the function body as title?

![image](https://cloud.githubusercontent.com/assets/900690/16590083/55113608-42d6-11e6-9482-0ea85476ab25.png)

[2016-07-05 15:33] chrmarti commented on #8655
"Synchronize" isn't clear on what it will do. I initially assumed it would just fetch (or pull) and was surprised it pushed.

Is there telemetry on how often these actions are used? I'd guess that pull (and pull with rebase) are used more often than push or sync.

[2016-07-05 15:34] isidorn commented on #8762
I inline the value of the variable as the title (same as chrome) - i need to cut it to one line, this does not make much sense

[2016-07-05 15:36] joaomoreno commented on #5943
Actually it is also used by the InputBox down in base: for when the user types an invalid regex for example. It is hidden away an identical interface `ContextViewProvider` since services don't exist down there.

[2016-07-05 15:36] #5943 closed

[2016-07-05 15:38] chrmarti commented on #8541
Not favoring a confirmation dialog, just surprised my change was pushed.

[2016-07-05 15:41] bill-mybiz commented on #7830
@joaomoreno I've looked at that a little bit. I am unsure what is meant by the "default git message" in #6403. I'll have to look at that. But if it means the git template, then what I've done so far should work for that. I don't know about #6614 though, that is a little out of my current scope (I think). If it involves getting commit information though, again, it should work.

Speaking of which, I

[2016-07-05 15:43] chrmarti commented on #8654
Makes sense, that might be the reason then. Typing in the markdown source effectively refreshes these.

[2016-07-05 15:45] joaomoreno commented on #6148
Fixed since.

[2016-07-05 15:45] #6148 closed

[2016-07-05 15:46] SK83RJOSH opened #8763 "Git Fetch / Rebase"
- VSCode Version: N/A
- OS Version: N/A

Steps to Reproduce:

1. Select Git tab
2. Open pulldown
3. Notice the lack of Fetch / Rebase

Alternatively being able to configure Pull to execute `git pull --rebase ` would be quite nice and reduce the need for fetch and rebase.

This is also a feature request but I'm not aware if there's a template, so excuse the format 👍

[2016-07-05 15:46] #8762 closed

[2016-07-05 15:47] #8646 closed

[2016-07-05 15:50] bill-mybiz commented on #7830
@joaomoreno After looking at the [git commit documentation](https://git-scm.com/docs/git-commit), it looks like that issue would require adding an option to the commit operation from the client and then interpreting it on the server.

I don't _think_ it necessarily is related to this issue, as this is more getting prior information. That issue is about passing a different argument to the commit op

[2016-07-05 15:50] #6771 closed

[2016-07-05 15:50] isidorn commented on #8314
I think this is the chrome bug on your machine - the grabbing cursor looks good on my machine

![grab](https://cloud.githubusercontent.com/assets/1926584/16590723/f7031c9a-42d8-11e6-8240-f9ba6705c9ec.gif)

[2016-07-05 15:50] #8314 closed

[2016-07-05 15:52] joaomoreno commented on #2617
If you run the [bare Electron](https://github.com/electron/electron/releases/download/v0.37.6/electron-v0.37.6-win32-ia32.zip), do you get the same problem?

[2016-07-05 15:53] joaomoreno commented on #8655
Since they are actions, we do have telemetry for it. Hey @seanmcbreen can we get some rough numbers here?

[2016-07-05 15:53] weinand commented on #8642
@vadimcn the protocol has already a BreakpointEvent for this. Please see: https://github.com/Microsoft/vscode-debugadapter-node/blob/master/protocol/src/debugProtocol.ts#L135

@isidorn are you already tracking this event?

[2016-07-05 15:58] weinand commented on #7745
@virtyaluk any update on my last question?

[2016-07-05 16:00] garysoed commented on #282
Just:
`Electron`

[2016-07-05 16:01] #8250 closed

[2016-07-05 16:02] #7016 closed

[2016-07-05 16:03] isidorn commented on #8642
@weinand yes [here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/electron-browser/debugService.ts#L304)

[2016-07-05 16:05] siegebell commented on #2402
@alexandrudima @aeschli this could also be resolved by #3422 if it gives extensions a flexible API to control code folding.

The API would need to allow specifying:
* a range of text to be folded;
* different rendering options for each range;
* how to render "fold" (e.g. "-", an SVG, or none);
* how to render "unfold" (e.g. "+", an SVG, or none);
* how to render the hidden text (e.g. "..." or none

[2016-07-05 16:08] #666 closed

[2016-07-05 16:08] #850 closed

[2016-07-05 16:09] bpasero commented on #666
Should be ok now as long as "C:\" is passed in with trailing backslash.

[2016-07-05 16:09] joaomoreno commented on #1359
Not supported unfortunately.

[2016-07-05 16:09] #1359 closed

[2016-07-05 16:09] bpasero commented on #8314
I think I fixed this for the editor part by changing the cursor on mouse down (I was not doing that before). So if you change it on mouse down, then indeed a chrome bug maybe.

[2016-07-05 16:10] joaomoreno commented on #1425
Closing, this should be resolved by now.

[2016-07-05 16:10] #1425 closed

[2016-07-05 16:13] joaomoreno commented on #1499
Likely a problem with the Command Prompt, won't do nothing here.

[2016-07-05 16:13] #1499 closed

[2016-07-05 16:27] Ciantic commented on #8673
@bpasero I'm now using this: [a1293f5056e79c3f0e2cd3e24909f41ff4eef472](https://github.com/Microsoft/vscode/commit/a1293f5056e79c3f0e2cd3e24909f41ff4eef472), which should include your patch if I'm not mistaken. But it still functions incorrectly:

![image](https://cloud.githubusercontent.com/assets/64731/16591830/72bda4b0-42e6-11e6-8385-aa255accf311.png)

[2016-07-05 16:34] Tyriar commented on #8668
@weinand isn't this to do with debug? Does the debug stuff rely on parts/execution?

[2016-07-05 16:37] Tyriar commented on #8753
Are we going to go through the 300-odd unassigned issues as part of this? https://github.com/Microsoft/vscode/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee

[2016-07-05 16:40] OlsonDev commented on #4566
I agree, this behavior is counter-intuitive. I realized I run into [my issue](https://github.com/Microsoft/vscode/issues/2812) (of the find widget not trapping focus) a lot because I'm accustomed to hitting `Ctrl+H` instead of `Ctrl+F` (because many apps have separate "Find" and "Find & Replace" dialogs). When I `Ctrl+H`, I notice the focus is on Replace, intuitively hit `Tab` to go back to `Find`

[2016-07-05 16:44] chrmarti commented on #8441
Can't reproduce anymore... (Tried Windows 8.1 and 10.)

[2016-07-05 16:50] isareds commented on #7556
To solve this problem simply open the normal bash on ubuntu on Windows then type in order:
1) `sudo vim ~/.bashrc` to open the default "setting" of the ubuntu bash.
2)  press `i`.
3) at the end of the file add this line `alias codolor='LS_COLORS="ow=01;36;40" && export LS_COLORS'`
4) close the bash and re-open it in Visual Studio Code and then type `codolor`.

I solved in this way the problem. Add

[2016-07-05 16:55] Tyriar commented on #3459
Closing as there have been no reports since.

[2016-07-05 16:57] Tyriar commented on #4155
Added the icon to the rpm didn't seem to fix it, not going to invest more time into this.

[2016-07-05 16:57] #4155 closed

[2016-07-05 17:00] Tyriar commented on #5063
Doesn't seem to hang anymore.

[2016-07-05 17:00] #5063 closed

[2016-07-05 17:01] Tyriar commented on #5380
Closing due to inactivity.

[2016-07-05 17:01] #5380 closed

[2016-07-05 17:04] Tyriar commented on #5390
Closing due to inactivity. The crashes on VMs are likely due to Chromium renderer issues.

[2016-07-05 17:04] #5390 closed

[2016-07-05 17:07] Tyriar commented on #2690
Doing this is a non-blocking way when a folder is opened is probably the way to go.

[2016-07-05 17:09] Tyriar commented on #5462
Done! Verified in #8198

[2016-07-05 17:09] #5462 closed

[2016-07-05 17:12] OlsonDev commented on #4566
More examples:

Focuses Find input on `Ctrl+H`:
- Beyond Compare
- WinMerge
- Notepad++
- Wordpad
- Fiddler ScriptEditor
- SQL Server Management Studio 2016 (Replace widget in query editor)

Focuses Replace input on `Ctrl+H`:
- SQL Server Management Studio 2016 (Replace in Files dialog pops up with no query editor open)

[2016-07-05 17:13] aeschli commented on #8737
@jrieken `notIn: ('string' | 'comment')[]` makes sense to me.

[2016-07-05 17:13] Tyriar commented on #5874
This is just a matter of grabbing COMSPEC here https://github.com/Microsoft/vscode/blob/f412e4f444ab848a1bafe047a91a8bf3ac266c7c/src/vs/workbench/parts/execution/electron-browser/terminal.ts#L25

[2016-07-05 17:18] bill-mybiz commented on #7830
I have the input box loading the template correctly now. I haven't thoroughly tested it just yet, but from the limited testing, it seems to be working. I also have the previous commit message being populated correctly. I "just" have to hook this up to the reset action (I think) and that _should_ take care of both this issue and issue #6190.

[2016-07-05 17:27] richardstanton commented on #8646
Please help me understand this a bit better. When reading the original bug #5966, it appears the fix was to prevent issuing multiple step/continue commands until a stopped event was received. That should not influence this. After a command is issued, shouldn’t it wait until the response is received before processing events? In similar situations this can be handled by putting events in a queue unt

[2016-07-05 17:28] csvn opened #8764 "Typescript definition files sometimes not picked correctly"
- VSCode Version: 1.2.1 (and 1.3.0-insider)
- OS Version: Windows 8.1 Pro

![typescript-library-errors](https://cloud.githubusercontent.com/assets/8770194/16593212/9cf4bf22-42e4-11e6-9acd-1b185cc2980c.gif)

Seemingly at random when I open a typescript file, `d.ts` files will not work correctly. `Reload typescript project`, `Reload window` or navigating to `tsconfig.json` and back may remove red sq

[2016-07-05 17:31] Tyriar commented on #6406
Closing due to inactivity plus it seems to work on my machine, please leave a comment if you're still experiencing the issue and/or have more information.

[2016-07-05 17:31] #6406 closed

[2016-07-05 17:33] Tyriar commented on #6487
Closing in favor of #8132

[2016-07-05 17:33] #6487 closed

[2016-07-05 17:34] Tyriar commented on #6594
No longer happens

[2016-07-05 17:34] #6594 closed

[2016-07-05 17:35] Tyriar commented on #6602
This needs to be tackled upstream first at https://github.com/sourcelair/xterm.js/issues/77

[2016-07-05 17:37] Tyriar commented on #6621
Closing due to inactivity and lack of reports, please leave a comment if you're still experiencing the issue and/or have more information.

[2016-07-05 17:37] #6621 closed

[2016-07-05 17:39] Tyriar commented on #6735
Closing as a lot of changes have been made to clear logic in v1.2.

[2016-07-05 17:39] #6735 closed

[2016-07-05 17:44] Tyriar commented on #6945
Basically we defer to whatever xterm does here, there are a few issues in the repo related to this. Closing as designed.

[2016-07-05 17:44] #6945 closed

[2016-07-05 17:52] Tyriar commented on #7153
Closing as duplicate of https://github.com/Microsoft/vscode/issues/6560

[2016-07-05 17:52] #7153 closed

[2016-07-05 17:53] Tyriar commented on #7156
Closing as designed

[2016-07-05 17:53] #7156 closed

[2016-07-05 17:54] Tyriar commented on #7192
Duplicate of https://github.com/Microsoft/vscode/issues/8336

[2016-07-05 17:54] #7192 closed

[2016-07-05 17:56] bpasero commented on #8673
@Ciantic no it is not in insider yet.

[2016-07-05 17:57] Tyriar commented on #7240
Upstream issue: https://github.com/sourcelair/xterm.js/issues/118

[2016-07-05 17:57] bpasero commented on #8753
Imho every issue should have an owner. So +1

[2016-07-05 17:58] wnsrl56 opened #8765 "Python input problem"
- VSCode Version: 1.2.1
- OS Version: window 10 64bit

Steps to Reproduce:

when i used python extension.
1. using input function  . there is no response in program
2. this is my code

[code]

[2016-07-05 17:58] Tyriar commented on #7541
Looking at July to pull in change from upstream and look into whether `font-variant-ligatures: none;` is better than the `font-feature-settings: "liga" 0;` being used upstream (see https://github.com/sourcelair/xterm.js/commit/4c6b99345875171c476a8e4d2f880e7372094060#commitcomment-17998829)

[2016-07-05 17:59] Tyriar commented on #7268
Closing in favor of #7541.

[2016-07-05 17:59] #7268 closed

[2016-07-05 18:00] Tyriar commented on #8753
@bpasero same, it's difficult to find an owner for some of the random feature requests is the only problem. We should change the inbox tracking query to include unassigned issues if this is desirable.

[2016-07-05 18:01] Tyriar commented on #8441
Closing then, maybe you hit some other issue disguised as this?

[2016-07-05 18:01] #8441 closed

[2016-07-05 18:02] bpasero commented on #8753
I think this got easier with being able to assign multiple owners. So, if in doubt, just pick a couple. And yes, inbox tracking is just looking at issues without owner 👍

[2016-07-05 18:03] dryganets commented on #8590
part one create files from command line:
http://www.screencast.com/t/ayE0ZpxiODT

part two: reverting changes from VSO
http://www.screencast.com/t/S83qE9rbHO

[2016-07-05 18:07] DustinCampbell commented on #8662
@bpasero: Note that this works fine in VS Code 1.2.1 and is being reported as broken in VS Code 1.3.0 Insiders. That _seems_ to point at this being a VS Code issue.

[2016-07-05 18:17] stef-levesque opened #8766 "resourceScheme not available for editor/context"
- VSCode Version: 1.3.0-insider
- OS Version: Win7

@jrieken I'm trying to add specific editor/context menus to my TextDocumentContentProvider using my scheme 'hexdump', but this never show up when I right-click on the editor.

[code]

![image](https://cloud.githubusercontent.com/assets/7251102/16594774/e7166ad6-42b9-11e6-89b3-7d6010bb96a6.png)

Any idea what's happening ? You can take a look at t

[2016-07-05 18:17] mlabrecque commented on #3423
I am now using a Vagrant environment instead of the system mentioned above, so I have not tested this since I have logged the ticket. Sorry!

Let me know if I can provide you with any additional details to diagnose this issue, or it can be closed if you are confident that it is no longer relevant :)

[2016-07-05 18:24] bgashler1 commented on #1133
#3742
Request to be able to have a docked viewlet that can autohide and autoshow without pushing editors.

[2016-07-05 18:26] Tyriar commented on #7269
Upstream issue https://github.com/sourcelair/xterm.js/issues/152

[2016-07-05 18:33] Tyriar commented on #7301
If anyone has insight on how locale works on Mac it would be appreciated, PRs welcome.

[2016-07-05 18:35] cmegown opened #8767 "html.format.endWithNewline not working"
- VSCode Version: 1.2.1
- OS Version: Windows 8.1 Pro

Steps to Reproduce:

1. Open user settings `File > Preferences > User Settings`
2. Add `"html.format.endWithNewline": true`

I assume this should make sure that there is a new line at the end of every file (or only `.html` files?) on create or save.

[2016-07-05 18:35] Tyriar commented on #7321
Doing this will likely be based on xterm.js' linkify addon which is currently not production ready. So this is blocked on https://github.com/sourcelair/xterm.js/issues/27

[2016-07-05 18:36] #7324 closed

[2016-07-05 18:37] Tyriar commented on #7344
Closing as designed.

[2016-07-05 18:48] Tyriar commented on #7480
I believe this is already fixed (works on Linux), can you see if you can reproduce in the [Insiders build](https://code.visualstudio.com/insiders)?

[2016-07-05 18:48] #7480 closed

[2016-07-05 18:49] Tyriar commented on #7412
Closing in favor of https://github.com/Microsoft/vscode-docs/issues/369

[2016-07-05 18:49] #7412 closed

[2016-07-05 18:50] Tyriar commented on #7451
This should work now, closing as duplicate of https://github.com/Microsoft/vscode/issues/8141

[2016-07-05 18:50] #7451 closed

[2016-07-05 18:53] Tyriar commented on #7525
Things in this area changed a lot in v1.3, closing this as resolved. Please reopen/comment if you can reproduce in the Insiders build.

[2016-07-05 18:53] #7525 closed

[2016-07-05 18:54] Tyriar commented on #7624
Related https://github.com/Microsoft/vscode/issues/7345

[2016-07-05 18:56] Tyriar commented on #7642
Closing due to inactivity, please leave a comment if you're still experiencing the issue and/or have more information.

I suspect you're setting your environment variable in `.bash_profile` which means you need to launch the shell as a login shell. This can be done  in v1.3.0 using:

[code]

[2016-07-05 18:56] #7642 closed

[2016-07-05 18:58] Tyriar commented on #7740
@NCC1701M you still having issues with this?

[2016-07-05 18:59] Tyriar commented on #7899
Duplicate of https://github.com/Microsoft/vscode/issues/7061

[2016-07-05 18:59] #7899 closed

[2016-07-05 19:04] Stanzilla commented on #637
@joaomoreno did we end up getting an "update all" button?

[2016-07-05 19:05] aeschli commented on #7115
Works for me with XML
![image](https://cloud.githubusercontent.com/assets/6461412/16596427/32f1c984-42f4-11e6-8fd3-905fb8c31556.png)

Maybe you tried HTML?
![image](https://cloud.githubusercontent.com/assets/6461412/16596447/42f24016-42f4-11e6-888b-d0af70283877.png)

[2016-07-05 19:06] #7115 closed

[2016-07-05 19:14] glen-84 commented on #1884
If #459 was implemented, this would be easy to change.

[2016-07-05 19:15] bgashler1 commented on #1133
#7339
Output/Terminal as horizontal or vertical.

[2016-07-05 19:16] aeschli commented on #7831
Can you file a new issue so I can look at this?

[2016-07-05 19:16] bgashler1 commented on #2806
#7339

[2016-07-05 19:17] bgashler1 commented on #7339
#2806 duplicate

[2016-07-05 19:17] #7339 closed

[2016-07-05 19:21] mattacosta commented on #2811
That's right. It just makes some tasks a bit easier.

[2016-07-05 19:28] bgashler1 commented on #8653
@Tyriar that's a cool way of making it bigger with CSS custom properties.  @bpasero if you don't want to go that route, here is some regular CSS that would be equivalent.

[code]

Or a SASS approach

[code]

[2016-07-05 19:29] weinand commented on #8668
@Tyriar no, the debug console is an implementation detail of debug adapters. It does not rely on anything VS Code related.

[2016-07-05 19:32] bgashler1 commented on #7314
Related #2806

[2016-07-05 19:47] Tyriar commented on #8668
So this issue is related to 3 then, as it's talking about the `externalConsole` setting here? https://github.com/Microsoft/vscode/blob/c5429332d4ac326a94a6c5e87fffefcb14d10e84/src/vs/workbench/parts/debug/common/debug.ts#L214

[2016-07-05 19:49] bgashler1 commented on #8672
I don't think this can be solved simply.

We probably need to do one of the following:
- Use rgba colors
- Use a nasty and hacky z-index trick on duplicate versions of the tabs that act as the click/keyboard focus targets.  They would have transparent backgrounds and would be `opacity: 0` when not in focus or active.  This would basically just be trick to get a colored overlay.
- Use JavaScript in

[2016-07-05 19:50] Tyriar commented on #637
@Stanzilla see https://github.com/Microsoft/vscode/issues/8124, it's marked for July (v1.4)

[2016-07-05 19:53] NCC1701M commented on #7740
@Tyriar No I don't have the problem at the moment. I'd like to say it could be a OS problem but I had the issue on different machines with different OSs (Win 10 and Win 7) and only when I run it via CTRL+SHIFT+C from VSCode. But it is working at the moment. So I thing you can close this issue.

[2016-07-05 19:54] nathantschultz opened #8768 "IntelliSense doesn't work with multiple cursors"
- VSCode Version: 1.2.1
- OS Version: Mac OS 10.11.5 (15F34)

Steps to Reproduce:
1. Use CMD+D to create multiple cursors
2. Start typing a object.property and the auto complete will replace all the text between your two cursors, instead of adding the autocompletion in both places.

[2016-07-05 19:55] Tyriar commented on #8051
Duplicate of #7407. Not planning on supporting this, note that you can call `runas.exe` to run a command as an admin like so:

[code]

I find it a bit concerning that ember would ask for admin privileges at all though.

[2016-07-05 19:55] #8051 closed

[2016-07-05 19:57] Tyriar commented on #8117
This is an upstream issue.

[2016-07-05 19:58] Tyriar commented on #8128
@jrieken is there an issue for the context menu customization story?

[2016-07-05 19:59] Tyriar commented on #8219
Upstream issue: https://github.com/sourcelair/xterm.js/issues/149

[2016-07-05 19:59] jtsom commented on #8051
I believe it has to do with the way ember-cli / angular-cli do their builds- creating lots of symlinks on Windows not as an admin user is horribly slow.

[2016-07-05 20:00] bgashler1 commented on #8544
+1 for the browser behavior and dynamic rearranging if possible.

[2016-07-05 20:01] Tyriar commented on #8310
Closing in favor of #8219, there typically be a gap as the terminal is aligned to the bottom, it would look wonky if it was aligned to the top too and resizing would look even worse imo. Verifying all lines/characters are the same height in #8219 will make the row/col calculation fit as good as possible.

[2016-07-05 20:01] #8310 closed

[2016-07-05 20:01] bgashler1 commented on #8538
I don't mind "Go to", but I'm fine with "Go"

[2016-07-05 20:02] weinand opened #8769 "Eliminate all schema based attributes from IEnvConfig"
`IEnvConfig` still has attributes that are debug type specific and are defined as a contributed schema. It makes no sense to have them in an interface and to use them.

Here are the bogus attributes:
[code]

[2016-07-05 20:04] nathantschultz commented on #8768
Sorry, duplicate of https://github.com/Microsoft/vscode/issues/5578

[2016-07-05 20:04] #8768 closed

[2016-07-05 20:08] jrieken commented on #8737
alternatively two explicit fields like `notInStrings: boolean` and `notInComments: boolean`

[2016-07-05 20:16] faxue-msft commented on #6298
I verified in C++ debugger extension that that this bug is fixed today's insider build.
Thanks!

[2016-07-05 20:17] weinand commented on #6298
@faxue-msft thanks a lot for verifying.

[2016-07-05 20:21] Stanzilla commented on #637
^Thank you

[2016-07-05 20:24] Tyriar commented on #8342
Duplicate of https://github.com/Microsoft/vscode/issues/6731

[2016-07-05 20:24] #8342 closed

[2016-07-05 20:26] Tyriar commented on #8333
This may be improved with the IME support work in https://github.com/sourcelair/xterm.js/issues/124

[2016-07-05 20:27] CodeCorrupt opened #8771 "Cannot fullscreen when opening with `code .` from terminal"
- VSCode Version: 1.2.1 (1.2.1)
- OS Version: OSX 10.11.5 (15F34)

Steps to Reproduce:

1. Navigate to the desired folder of your project.
2. execute `code .`
3. Press the green "fullscreen" button, OR `cmd+ctrl+F`
4. Application does not resize.

[2016-07-05 20:28] Tyriar commented on #8343
This should work if a native scroll bar is added to the integrated terminal. It was mentioned in https://github.com/sourcelair/xterm.js/issues/150 to use [clusterize](https://clusterize.js.org/) to implement native scrolling, that may have its own set of issues. Closing in favor of https://github.com/Microsoft/vscode/issues/6602

[2016-07-05 20:29] #8343 closed

[2016-07-05 20:30] Tyriar commented on #8445
Related: https://github.com/Microsoft/vscode/issues/7923

[2016-07-05 20:30] Stanzilla commented on #3746
Same issue for lua

[2016-07-05 20:30] Tyriar commented on #8445
The answer to this may be to just add another setting an not rely on the editor one. If #7923 gets implemented this will probably have to be done.

[2016-07-05 20:31] Tyriar commented on #8455
It's working again, closing off for now as I can't repro anymore.

[2016-07-05 20:31] #8455 closed

[2016-07-05 20:32] gdimauro commented on #7831
Hi, you can find it here:

[https://github.com/Microsoft/vscode/issues/8757](url)

I can send you also the complete solution if you prefer or need.

Thanks in advance,
Giuseppe

[2016-07-05 20:32] jrieken commented on #8766
Sorry, for now we don't support the context keys `resourceScheme` and `resourceLangId` in the editor context menu but only for the title area and in the explorer. That's was the downside of a workaround we have to make to mitigate an oversight that was to risky to fix properly...

What you could do is to use the `editorLangId` context key which is (only) available in the editor. For instance you c

[2016-07-05 20:32] jrieken commented on #8766
@bpasero fyi

[2016-07-05 20:34] Tyriar commented on #8701
Does the keybinding show up in the command palette?

![image](https://cloud.githubusercontent.com/assets/2193314/16598967/25428d80-42b5-11e6-978b-a9886d386e7b.png)

[2016-07-05 20:36] stef-levesque commented on #8766
Ah I see... The language proposal seems like a good solution, I'll see what I can do.

Thanks for the quick response !

[2016-07-05 20:37] gregvanl opened #8772 "Feature request: Classify User and Workspace settings"
Copied from https://github.com/Microsoft/vscode-docs/issues/455

 "window.restoreFullscreen": true  works great in User Settings, but doesn't have any affect in Workspace Settings.

Repro steps:
1.Make sure  "window.restoreFullscreen": true  is set in Workspace Settings and not in User Settings.
2.Run "Reload Window" to make sure the new setting is active.
3.Go full screen.
4.Close and reopen the

[2016-07-05 20:37] bpasero commented on #8672
Yeah, there is also the issue that once you set mix-blend-mode, all children seem to inherit this (similar to opacity) and you cannot unset this in a child. This is also the reason why I cannot have my nice blue drop feedback in light theme when dragging over tabs.

If we do something about it, it should not be a hack. Maybe we go back to rgba() in tabs land?

[2016-07-05 20:38] jrieken commented on #8662
@aeschli, @alexandrudima did something change here? The [omnisharp config](https://github.com/OmniSharp/omnisharp-vscode/blob/master/csharp.configuration.json) didn't change

[2016-07-05 20:39] bldesign commented on #6451
Maybe ntegrated terminal can present same feature as native Windows terminal, on Windows.

In the property options there are edition options with the ability to active <kbd>ctrl</kbd> shortcuts. It's just what we are talking about. It kills the process only if there is no selection. Cool no? *VS Code* can do it.

Sorry my preview is in french, but yours certainly looks the same.
![terminalproperti

[2016-07-05 20:39] bpasero commented on #8653
I am very afraid of making such a change without sufficient feedback and testing from our CJK users. We never got this complaint from those users, so I would wait for sufficient number of people to complain.

As a reference, where I felt confident of doing a change: https://github.com/Microsoft/vscode/issues/5260

[2016-07-05 20:40] davidanthoff commented on #8117
I assume you mean upstream in the terminal emulator, not in julia, right?

[2016-07-05 20:41] gregvanl commented on #8759
This looks like the code.visualstudio.com home page image which @bgashler1 is in the process of updating.

[2016-07-05 20:53] Piscean opened #8773 "Window size and placement only remembered on first copy of vscode"
- VSCode Version: 1.2.1
- OS Version: Windows version 1511 (10586.492)

Steps to Reproduce:

1. Set vscode to be the default app to open .txt files.
2. From a cmdline, open a .txt file.  (ie, type "c:\temp\test.txt" and press Return)
--> vscode will launch and open test.txt.
3.  Set the window size and position you want, then exit vscode
4.  Repeat step 2.
--> notice vscode came up honoring the si

[2016-07-05 20:55] gregvanl opened #8774 "complex command executeCodeLensProvider comment is incorrect"
vscode.executeCodeLensProvider - Execute completion item provider.

Should be "Execute CodeLens provider"

This was reported with PR https://github.com/Microsoft/vscode-docs/pull/451.  The product source needs to be updated for this auto-generated topic.

[2016-07-05 20:55] Tyriar commented on #8117
Yes, upstream as in xtermjs, pty.js or winpty.

[2016-07-05 20:59] Piscean commented on #8773
Dupe of 8643?

[2016-07-05 20:59] #8773 closed

[2016-07-05 21:02] Tyriar commented on #8653
If English was that blurry and unreadable on the UI it would be a bug and an accessibility issue. Given context a user may know what it says naturally, but the text itself *should be readable* for the sake of low-vision users as a minimum. Also note that I can read Korean and basic Japanese and it's difficult/impossible to make out these characters. I cc'd @rebornix to get his thoughts on it too s

[2016-07-05 21:06] Tyriar commented on #7740
Thanks for the update :smiley:

[2016-07-05 21:06] #7740 closed

[2016-07-05 21:22] chkpnt commented on #534
I can confirm that the installer is still not writing the relevant keys at HKLM.

[2016-07-05 21:34] oliverwm opened #8775 "Auto-detected URLs in Markdown include trailing period"
- VSCode Version: 1.2.1
- OS Version: Windows 10

Steps to Reproduce:

1. Create a markdown document
2. Write a sentence that ends with a URL, followed by a period. E.g: _Some text, then http://www.bing.com._
3. Ctrl-click on the auto-detected URL. The period is included, and thus the URL doesn't work.

![image](https://cloud.githubusercontent.com/assets/17788581/16600752/8f04393c-42bd-11e6-8401-8

[2016-07-05 21:36] lediur commented on #8761
I can reproduce this too. Other Intellisense features (e.g. type inference, info on hover) works, so it seems like just a syntax highlighting bug.

Version: 1.3.0-insider a1293f5
OS: Windows 10 Pro Insider 14379

Here's a gif:

![syntax-highlighting-typescript-generics](https://cloud.githubusercontent.com/assets/1077648/16600793/cf0ce416-42bd-11e6-8d9f-1efdf62ef3bb.gif)

[2016-07-05 21:45] davidanthoff commented on #8736
@joaomoreno Could you leave this issue open until it is fully resolved? I.e. until there is also a response for macOS and Linux?

Also, just to confirm: when I *update* an extension, the previous version of that extension will be removed by deleting the whole folder for that extension, including any new files the extension might have written into that folder, correct? It was not clear to me from y

[2016-07-05 21:47] davidanthoff commented on #8736
Oh, and just naming the download folder by including the version of the extension would work, but if these folders don't get removed I would leave lots of stranded files on user's system, which seems less than ideal.

[2016-07-05 21:56] #6938 closed

[2016-07-05 22:12] lwsrbrts opened #8776 "Expected "array" green squiggles when passing array JSON ARM"
- VSCode Version: 1.2.1
- OS Version: Windows 10 Build 14372

Steps to Reproduce:

1. Define a parameter of type array in the appropriate parameters section of the template.
2. In a section that requires an array, pass only the parameter instead of starting and ending with square brackets.

This specifically relates to an issue I see when using the dnsServers setting to define the DNS servers to u

[2016-07-05 22:24] richardstanton commented on #8646
@weinand Hi, I had a question this morning, but forgot to include the @. Sorry.

[2016-07-05 22:41] unional opened #8777 "Highlight error for function named 'delete'"
- VSCode Version: 1.2.1

Steps to Reproduce:
Just write a function named "delete":

![image](https://cloud.githubusercontent.com/assets/3254987/16602164/d0bc8c4a-42c6-11e6-8433-2984eb3c7a75.png)

Another highlight issue for TS. :)

Error: Identifier Expected

[2016-07-05 22:50] gregvanl opened #8778 "mouseWheelZoom doesn't resize deleted source when rendering diff inline"
- VSCode Version:1.3.0-insiders
- OS Version:Windows 10

Steps to Reproduce:

1. Set diffEditor.renderSideBySide": false, "editor.mouseWheelZoom": true
2. Look at a edit diff with a deleted or changed line.

The deleted or original line (in red) does not resize.  Strict additions resize fine.

![diffmousewheelzoom](https://cloud.githubusercontent.com/assets/12818376/16602337/24b9a822-42c8-11e6-859

[2016-07-05 22:59] jeanm commented on #2823
This would be really great to have. I'm finding it quite hard to work with C++/Rust templates because my  programming font has `>>` and `>>>` ligatures. As a result I cannot see where my cursor is when moving it through the angle brackets. I would almost consider this a bug rather than a feature request.

A slightly different approach to the parent's suggestion would be to disable ligature renderi

[2016-07-05 23:34] chrmarti commented on #7027
👍 This would allow for features that need language specific knowledge, but can do without a full AST with bindings.

[2016-07-06 01:04] bgashler1 opened #8779 "Local commands for editors need to be visible with Tabs enabled"
We need to better show local commands for commonly used things like "View next change" "View previous change" and for "Preview markdown."

These used to be quite easy to access with tabs disabled.  Although we can't include local commands with global commands, as it could be confusing, we need to find a spot to put these that will be easy to use in one click and highly discoverable.  Right-clickin

[2016-07-06 01:06] bgashler1 opened #8780 "UX meeting agenda July 5, 2016"
**Agenda:**

TYPOGRAPHY / TEXT
- Goto menu title should be "Go to" #8538
- CJK strings on the UI are very difficult to read on standard definition monitors due to font weight and size #8653

TABS
- Tab dragging should show where the tab will be inserted, not which tab it will be "replacing" #8544
- Problems with theming tabs (solution: using CSS variables?) #8151
- Showing local commands #8779

@M

[2016-07-06 03:26] litaotju opened #8781 "Use CLS can not clear the prompt screen."
- VSCode Version: 1.2.1 commit:fe7f4....2761
- OS Version: Windows 8.1 x64

Use CLS in the terminal shell inside vscode can not clear the prompt screen.

Steps to Reproduce:

1. Ctrl + `
2. CLS

[2016-07-06 03:29] litaotju opened #8782 "Terminal cannot display zh_CN properly."
VSCode Version: 1.2.1 commit:fe7f4....2761
OS Version: Windows 8.1 x64

The terminal inside vsocde can not display zh_CN（中文） properly in windows.

Steps to Reproduce:

1. Ctrl + `

[2016-07-06 03:33] hzmnet commented on #8713
Beloware the Paths of my html files

Polymer
     |-  component Dir.
     |             |- some.html
App
    |-  My Component Dir.
    |                 |-    test.html

I need to import  some Polymer component from component Dir.

But VSC. could always open the link like   "/app/component Dir./some.html" or not "/Polymer/component Dir./some.html"

even there enough quantity of "../../../../../../

[2016-07-06 03:45] coreh commented on #8538
At least for OS X, “Go” would make the most sense. Finder has that.

![](https://cloudup.com/cVQ61_WMz-Y+)

[2016-07-06 03:53] irejwanul commented on #4267
I had the same issue. But in my case this was problem with SVG Viewer extension. So, I've remove it, then also removed C# extension also.
After that, re-installed C# extension, then VS Code downloaded and installed .NET Core Debugger again.
And now, all are good,  even though, I've re-installed SVG Viewer extension.
[Note: Check Developer Console from 'Help' menu for your particular problem]

[2016-07-06 04:36] g0ne150 opened #8783 "ctrl+n/p doesn't work which works in sublime line"
- VSCode Version: all versions
- OS Version: OS X

Steps to Reproduce:

1. [shift+]cmd+p
2. ctrl+n/p doesn't work which works in sublime

[2016-07-06 04:47] bpasero commented on #8766
Related: https://github.com/Microsoft/vscode/issues/8579

[2016-07-06 04:48] #8538 closed

[2016-07-06 04:49] bpasero commented on #8653
I wonder if in the end it would not be better to invest in a solution where the user can configure these things, either via settings or by being able to write CSS that gets injected.

[2016-07-06 04:51] bpasero commented on #8772
We should really work on differentiating between user and workspace settings. Imho this does not make sense as a workspace setting.

[2016-07-06 04:53] #3832 closed

[2016-07-06 04:59] bpasero commented on #7939
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-07-06 04:59] #7939 closed

[2016-07-06 05:00] bpasero commented on #7323
@calam1 if you configure files.watcherExclude to exclude all from watching (**) does it make a difference?

[2016-07-06 05:24] #8715 closed

[2016-07-06 05:25] bpasero commented on #8715
Please verify that Cmd+W still closes the window when no editor is open and there is a new keybinding context for when an editor is open.

[2016-07-06 05:26] bpasero commented on #1764
Given https://github.com/Microsoft/vscode/issues/8715 is fixed for July, you can prevent the window from closing by setting the following in the keybindings configuration:

`{ "key": "cmd+w", "command": "-workbench.action.closeWindow", "when": "!editorIsOpen" }`

[2016-07-06 05:26] #1764 closed

[2016-07-06 06:44] T1KK3S opened #8785 "Autoformat stops working"
- VSCode Version: 1.2.1
- OS Version: Windows 10

Steps to Reproduce:

I am not yet quite sure how to reproduce this issue but every now and again - when working for several hours - some of my JS and JSX files no longer format correctly or at all when I hit the shortcut alt+shift+F.

[2016-07-06 07:00] tanaka-takayoshi commented on #8701
Yes, keybinding showed up the command palette. And the latest version today (Commit 798b41ab1cf3636a27042020a54ddfb4cfb8d23c) has fixed the issue commented on  https://github.com/Microsoft/vscode/issues/8701#issuecomment-230371828

[2016-07-06 07:14] isidorn commented on #8780
* Panels should toggle focus between editor and panel just like other views #7540

[2016-07-06 07:29] dontcryme commented on #160
same issue...version 1.2.1

![image](https://cloud.githubusercontent.com/assets/18712822/16610532/bf280a10-4396-11e6-989c-a6f9fdb57855.png)

[2016-07-06 07:49] #8769 closed

[2016-07-06 07:50] isidorn commented on #8769
Elimintaed all except the following which we use internally for extension host debugging:
[code]

[2016-07-06 07:52] isidorn commented on #8314
Yes, i am doing it on [mouse down](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/browser/debugActionsWidget.ts#L96)

[2016-07-06 08:07] f111fei commented on #8726
@bpasero  Extension install failed. I push a PR for this. See https://github.com/Microsoft/vscode/pull/8786

[2016-07-06 08:09] dilijev opened #8787 "Suggestion: Add ability to Find/Replace in selection"
- VSCode Version: Code - Insiders 1.3.0-insider (a1293f5056e79c3f0e2cd3e24909f41ff4eef472, 2016-07-05T13:09:46.271Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1. Select some text
2. Use Ctrl+F or Ctrl+H
3. Observe that there is no way to find matches and replace all occurrences within the selection.

Side note: would also be nice if there was some way to indicate to "Change Al

[2016-07-06 08:11] weinand commented on #8769
@isidorn for now, please create an explicit interface for them. e.g. IExtHostConfig. And add a comment that this has to match the extensionHost scheme.

I will look into this to figure out why they are really needed.

[2016-07-06 08:12] rebornix opened #8788 "Weird tabs auto scrolling behaviour?"
- VSCode Version: 1.3.0 Insider
- OS Version: OSX

Steps to Reproduce:

1. I have opened multiple tabs in one single group editor
2. Scroll to the last tab in this group
3. Move the cursor into the editor part
4. The tab headers will scroll to left most automatically, which makes it difficult to right click the tab header to open context menu.

![tab-header](https://cloud.githubusercontent.com/ass

[2016-07-06 08:16] bpasero commented on #8726
@f111fei thanks for reporting, looks like another issue. I have assigned @joaomoreno and @isidorn to look into that.

[2016-07-06 08:18] isidorn commented on #8769
@weinand makes sense, I introduced IExtHostConfig

[2016-07-06 08:19] f111fei commented on #8726
Another problem. I am not sure why you add the code `DOM.EventHelper.stop(e);` when `dragover` and `drop`.

https://github.com/Microsoft/vscode/blob/5da820a3b5f0e510abca2aab8645b0d4c8f7726f/src/vs/workbench/electron-browser/window.ts#L91
https://github.com/Microsoft/vscode/blob/5da820a3b5f0e510abca2aab8645b0d4c8f7726f/src/vs/workbench/electron-browser/window.ts#L132

[2016-07-06 08:21] jeffijoe opened #8789 "Go To Symbol does not display types"
- VSCode Version: 1.2.1
- OS Version: Windows 10

Steps to Reproduce:

1. Create a `type`
2. Go To Symbol - the type does not appear

![image](https://cloud.githubusercontent.com/assets/2505474/16611714/51f80eb4-4363-11e6-897a-73b8d1d08bf1.png)

[2016-07-06 08:22] bpasero commented on #8726
@f111fei by default if you drop a link into an electron window it will try to navigate to that URL. so this is needed to prevent a link from opening.

[2016-07-06 08:29] f111fei commented on #8726
Yeah. I am writing an extension for vscode. I use `vscode.previewHtml` to show my html document in `webview`. In my html, I add some listeners like `dragover` and `drop`, but these listeners will also prevented.

[2016-07-06 08:32] bpasero commented on #8726
@f111fei that surprises me because the drag listeners on the editor area and tabs are also working even with that code. Also, this is not a new change, you can see how this was prevented before already: https://github.com/Microsoft/vscode/blob/1.2.1/src/vs/workbench/electron-browser/window.ts#L67

[2016-07-06 08:36] f111fei commented on #8726
Maybe this is a bug existed for a long time. I will push an issue for this.

[2016-07-06 08:38] fantacytyx commented on #8653
I am a Chinese user.
I found some parts of the Code use font sizes smaller than 12px
To better readability, font size need 12 px or more

[2016-07-06 08:41] tfsjohan opened #8790 "[razor] Property indexer mess up code highlighting"
- VSCode Version:
  1.2.1
- OS Version:
  OSX El Capitan

When using indexers to access properties, the syntax highlighting stops working for the rest of the document. I use @inject IViewLocalizer Localizer and then in the code @Localizer["SomeKey"]. This causes the styling to be wrong. It seems to work better with @Localizer.SomeMethod("SomeKey")

Have a look at the attributes on the form tag bel

[2016-07-06 08:42] jeffijoe opened #8791 "Errors/warnings only shown for open files"
- VSCode Version: 1.2.1
- OS Version: Windows 10

Steps to Reproduce:

1. Create a typescript project with a tsconfig
2. Open a file with no errors, see there are no errors in the project
    ![image](https://cloud.githubusercontent.com/assets/2505474/16612218/1bdf8c82-4366-11e6-9aad-2caa23a9f5af.png)
3. Open a file with errors, and the errors start popping up
    ![image](https://cloud.githubuser

[2016-07-06 08:46] bpasero commented on #8726
@f111fei please try if you can fix it by removing the drag over handler maybe? What is interesting is that a HTML preview in Code actually runs in a different process (more isolated even than an iframe), so I wonder how DND behaves in this case anyways.

[2016-07-06 08:57] bpasero commented on #5904
With the update to Electron 1.2.6, `fs.realPath` now returns the right casing so this issue should not happen anymore.

[2016-07-06 08:57] bpasero commented on #6152
With the update to Electron 1.2.6, `fs.realPath` now returns the right casing so this issue should not happen anymore.

[2016-07-06 08:57] bpasero commented on #1162
With the update to Electron 1.2.6, `fs.realPath` now returns the right casing so this issue should not happen anymore.

[2016-07-06 08:58] f111fei commented on #8726
As I know, If `renderer process` prevent default handler like `keydown`,   some shortcut operations like `copy`, `cut` will not be executed in `webview`.  I think DND is just that.

[2016-07-06 09:02] joaomoreno commented on #7830
@bill-mybiz Great job.

In 34b7e140005213814d9cc6e9bde100d97754d96a, I've made it easier for you to debug the git world. Just flip the [`USE_REMOTE_PROCESS_SERVICE`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/git/electron-browser/electronGitService.ts#L194) static to `false` and you'll be able to use the Developer Tools for debugging. Just don't commit that boolean chan

[2016-07-06 09:04] bpasero opened #8792 "Update OSS for Electron update"
As outlined in https://www.1eswiki.com/wiki/Publishing_Third-Party_Open_Source_Code_-_Copyleft_Licensing_Obligations

Contacts: @jeffmcaffer and Source Code Compliance Team (in outlook to expand to the mail).

**Projects**:
* electron: 1.2.6
* brightray: https://github.com/electron/brightray/tree/0e8ffb4d653f9e85722bc98df7ddde9a0e6d0650
* libchromiumcontent: https://github.com/electron/libchromium

[2016-07-06 09:05] bpasero commented on #8792
Assigning a couple more people in case I am @ vacation and forget about this.

[2016-07-06 09:06] joaomoreno commented on #8590
First off, awesome videos, they really help.

Second, wow, very bad bug, thanks for catching it!

[2016-07-06 09:07] joaomoreno commented on #3423
No problem. I'll close it then. Thanks for the reply.

[2016-07-06 09:07] #3423 closed

[2016-07-06 09:11] #7906 closed

[2016-07-06 09:12] bpasero commented on #5745
Should be ok now with Electron 1.2.6.

[2016-07-06 09:13] isidorn commented on #6152
Hoooooray for `fs.realPath`

[2016-07-06 09:16] joaomoreno commented on #8736
I just realised I gave you a wrong answer: I had built-in extensions in mind, not regular extensions installed via the marketplace. I also had in mind Code's update, not the extension itself... Apologies, got it completely wrong.

Here's the behaviour you can count on:

- An extension is always installed to a folder scoped with its version name, eg: `ext-1.0.0`.
- Thus, an update will always hit a

[2016-07-06 09:22] isidorn commented on #4780
Verified and this still happens with the latest electron - but maybe not so prominently, I am not getting it 100% of the time.

[2016-07-06 09:28] csholmq commented on #2823
@jeanm Most elegant, if possible.

[2016-07-06 09:34] bpasero opened #8793 "Path must be a string. Received null"
Note that with the Electron update some `fs` and `path` methods do stricter checks. I think before you could pass in null to `path.extname` without an error. Now I get this:

[code]

[2016-07-06 09:37] isidorn commented on #8182
I have looked into this and it is possible to support this.
E.g passing 'text/x-c' as a mime type will show the source with the languge mode c set.

Assigning to @weinand to add `mimeType` to the protocl and once added I can look into supporting this on the vscode side

[2016-07-06 09:40] joaomoreno commented on #1902
We should just have a logger... then we'd have somewhere where to send this.

[2016-07-06 09:41] joaomoreno commented on #1984
@rmaclean This should be fixed by now, since Code supports requesting for credentials. Let me know otherwise.

[2016-07-06 09:41] #1984 closed

[2016-07-06 09:42] joaomoreno commented on #2048
The setting `"git.autofetch": false` will disable this.

[2016-07-06 09:42] #2048 closed

[2016-07-06 09:42] joaomoreno commented on #2323
Closing as won't fix.

[2016-07-06 09:42] #2323 closed

[2016-07-06 09:44] bpasero commented on #8779
Duplicate of https://github.com/Microsoft/vscode/issues/8779 ?

[2016-07-06 09:44] bpasero commented on #8672
There are more issues with mix-blend: we lost LCS subpixel anti aliasing in the tabs control which will cause it to look blurry for some users.

Marking as important because I would not want to ship July without a fix for this (going back to opacity?).

[2016-07-06 09:45] alexandrudima commented on #8737
:+1: to hard-code that string, comments and regexes do not get this feature and there is no way to enable it inside of those (i.e. hard-code `notIn` to be `['string', 'comment', 'regex']` and remove it from the API

[2016-07-06 09:45] joaomoreno commented on #2595
Closing as a duplicate of #901.

Fix will come to:

1. Disable auto status when application is not in foreground and,
2. Provide setting (or checkbox in viewlet) to disable auto status altogether.

[2016-07-06 09:45] #2595 closed

[2016-07-06 09:48] joaomoreno commented on #3560
This has been mitigated since. I'll reopen if reports that it continues open come.

[2016-07-06 09:48] #3560 closed

[2016-07-06 09:48] #3914 closed

[2016-07-06 09:48] ahuelamo commented on #101
+1 I've been using Sublime Text for a while and I really miss this feature in Code.

[2016-07-06 09:50] joaomoreno commented on #4095
Fixed since #637

[2016-07-06 09:50] #4095 closed

[2016-07-06 09:53] joaomoreno commented on #4229
Closing as designed, due to brackets.

[2016-07-06 09:53] #4229 closed

[2016-07-06 09:53] #4282 closed

[2016-07-06 09:54] joaomoreno commented on #4282
Closing due to inactivity and lack of user reports.

[2016-07-06 09:55] joaomoreno commented on #4480
@bipin-nag Is this still a problem today?

[2016-07-06 09:56] joaomoreno commented on #4535
Closing as won't fix. Inno Setup should handle this correctly.

[2016-07-06 09:56] #4535 closed

[2016-07-06 09:58] joaomoreno commented on #4805
@vsccarl Do you still see this hanging?

[2016-07-06 10:00] isidorn commented on #8370
Thanks for the code pointer. However each debug adapter extension provides these variables, so I can not just add a list of these in the configuration editing extension. The right solution for me feels like each debug adapter extension would provide these completion proposal.

VSCode could also dynamically provide this list of proposols after collecting them from the adapter extensions however in

[2016-07-06 10:00] joaomoreno commented on #4878
We could provide two different commands here and use the keybindings as a way for the user to customise the behaviour.

[2016-07-06 10:01] alexandrudima commented on #8662
I can reproduce at a8eadbd8d42034bf926d657d33e971892b1b5660 and not at db21446a84f7afb9f496462941e4e93591db330d (parent of a8eadbd8d42034bf926d657d33e971892b1b5660) so IMHO the bad change was introduced with a8eadbd8d42034bf926d657d33e971892b1b5660

[2016-07-06 10:05] joaomoreno commented on #5729
Closing as won't fix. `git.autofetch` is ignored if git is disabled.

[2016-07-06 10:05] alexandrudima commented on #8662
IMHO the bad change is:

![image](https://cloud.githubusercontent.com/assets/5047891/16614507/f1a4214c-4371-11e6-9642-31da2761db28.png)

[2016-07-06 10:06] jrieken commented on #8737
The change also caused #8662

[2016-07-06 10:09] jrieken commented on #4878
Yeah - tho we need to think what is means wrt text edits completion providers describe. Technically they can already do this (just select the corresponding range)...

[2016-07-06 10:11] f111fei opened #8794 "Make it possible to use drag and drop in a webview"
- VSCode Version: 1.3.0-insider
- OS Version: windows7

Steps to Reproduce:
1.  Download My extension:  https://github.com/f111fei/test-files/raw/master/webview-test-0.0.1.vsix
2.  Run command `Hello Webview` to open my webview.

Problem:
1.  Drag Button into TextArea. Dragfeedback overlay will prevent  my dragging action.
2.  Typing some text in the textarea. Use `Ctrl+A` to select all, Nothing h

[2016-07-06 10:12] joaomoreno commented on #6347
@liuww111 Is this still an issue for you? I'll reopen if so.

[2016-07-06 10:12] #6347 closed

[2016-07-06 10:13] f111fei commented on #8726
@bpasero  This is the issue https://github.com/Microsoft/vscode/issues/8794 about this

[2016-07-06 10:13] #8731 closed

[2016-07-06 10:18] joaomoreno commented on #6418
Multiple carets are not the problem.

What we should maybe do is look at the character _before_ the quote and prevent auto closing the bracket if it's alphanumeric. Seems to be what Sublime does.

So the following wouldn't get an automatic close character:

[code]

[2016-07-06 10:18] #6604 closed

[2016-07-06 10:19] joaomoreno commented on #6768
Closing as designed. There are now help messages that guide the user towards knowing what ID to use.

[2016-07-06 10:19] #6768 closed

[2016-07-06 10:20] joaomoreno commented on #7108
@Tyriar still an issue?

[2016-07-06 10:21] joaomoreno commented on #7386
This can be solved by using the new modal dialog from Electron, once we update.

[2016-07-06 10:22] joaomoreno commented on #7393
@fcharlie We recently changed the UI concerning this. It is already available in our insiders release: https://code.visualstudio.com/insiders

Can you check whether you still have this issue there?

[2016-07-06 10:24] joaomoreno commented on #7527
This should be fixed in the later insiders: https://code.visualstudio.com/insiders

@semihalf-kardach-stanislaw Let us know if otherwise.