[2016-09-17 05:58] #6789 closed

[2016-09-17 06:22] shanalikhan commented on #12142
Actually my extension code setting sync uses simple extension own json file and write in that file and get all the information syncsettings.json

I just to know is there a possible way that i remove my own json file and instead write in vscode settings json file or any other code local storage and retrive that information to manage my extension rather then using my own json file

[2016-09-17 06:27] shanalikhan opened #12178 "[themes] change the file icon or theme in API"
**Themes** :
1. Where does code store current applied theme ?
2. Where does code store all installed themes ?
3. How to get them via API in extension ?

**File Icons** :
1. Where does code store current applied file icon ?
2. Where does code store all installed file icons ?
3. How to get them via API in extension ?

_P.S : I need it for my Code Settings Sync extension_

[2016-09-17 06:32] bpasero commented on #11846
https://github.com/Microsoft/vscode/issues/1379

[2016-09-17 06:32] bpasero commented on #12028
https://github.com/Microsoft/vscode/issues/7470

[2016-09-17 06:32] #12028 closed

[2016-09-17 07:10] ekanna opened #12179 "Command + Tab Navigation Not working in Full Screen Mode"
- VSCode Version: Version 1.5.2 (1.5.2)
- OS Version: OS X 10.10 (14A389)

Steps to Reproduce:

1. Open VS Code
2. Toggle Full Screen
3. Press Cmd + Tab to navigate to other apps

It won't go to other apps. It will be in VS code only.

Thanks

[2016-09-17 07:21] ArtemGovorov commented on #12111
We have hit the exact same issue. Works ok on OSX.
The workaround we use for now in our extension is replacing backslashes with slashes:
[code]
What's interesting is that the resource URIs didn't seem to change, so perhaps it's moving the newer electron/v8 had broken it and URIs with encoded slashes don't work anymore.

[2016-09-17 07:48] elkebirmed commented on #12155
This's good @Tyriar but what about coloring the variable when assigned to a CSS property, even from an imported Less file *(as a new feature)*

[code]

[2016-09-17 07:51] elkebirmed commented on #12155
The feature i'm looking is like Atom package: **Pigments**

[2016-09-17 07:54] ekanna commented on #12179
After i restart my machine, it is working fine!

[2016-09-17 07:54] #12179 closed

[2016-09-17 07:59] Tyriar commented on #11334
Fixing this related upstream issue may fix this https://github.com/sourcelair/xterm.js/issues/273

[2016-09-17 08:15] bpasero commented on #12142
If you are providing configuration settings, you would benefit from https://github.com/Microsoft/vscode/issues/1396

If your JSON file is agnostic to the VS Code configuration story, then you can only use node.js APIs.

[2016-09-17 08:15] #12142 closed

[2016-09-17 08:16] Tyriar commented on #12155
I tacked on pre-processor variables to the feature request here https://github.com/Microsoft/vscode/issues/6823, cross-file variable resolution is captured in https://github.com/Microsoft/vscode/issues/6820

[2016-09-17 08:17] Tyriar commented on #10762
Duplicate https://github.com/Microsoft/vscode/issues/6820

[2016-09-17 08:17] #12155 closed

[2016-09-17 08:23] rajinder-yadav opened #12181 "Code formatting for embedded Angular 2 template does not work."
- VSCode Version: 1.5.2
- OS Version: Linux

Steps to Reproduce:

1.  Inside a angular 2 component, create non aligned template
2. press crtl+shift I, notice the template code doesn't get formatted like new structure html.
2a. selected the template code to be formated, press ctrl+shift I, no formatting is performed.

![format](https://cloud.githubusercontent.com/assets/439226/18607028/6caa56f4-7c8

[2016-09-17 08:46] bpasero commented on #11846
Not the same actually...

[2016-09-17 08:53] bpasero commented on #10890
@spraguey just a quick question: we recently did a major update of our Electron framework and there is a potential that this issue got fixed by the update. If you could just try your steps on our Insider build to see if it reproduces?

You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-17 08:57] nobil007 opened #12182 "Intellisense: wrong suggetions for node"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:09:51.625Z)
- OS Version: Linux ia32 4.4.0-36-generic

Steps to Reproduce:

1.In my code I used __dirname. [Only 2 '_' as prefix]
2.When I type '_' next time, it will show suggestion. But the suggested string is ___dirname.[3 '_' as prefix]

[2016-09-17 09:21] shanalikhan opened #12183 "getaddrinfo ENOENT in offline Mode"
- VSCode Version: 1.5.2
- OS Version: Win 10

Steps to Reproduce:

1. Start the editor in offline mode , no internet connected
2. and error pop up.

showing information message : `getaddrinfo ENOENT marketplace.visualstudio.com:443`
[code]

[2016-09-17 09:48] thomas-anil opened #12184 "Visual Studion code does not keep the old search results in the search pane or provide a drop down list of previous search phrases."
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 6.1.7601

Steps to Reproduce:

1. Search for any symbol using the search option in VS code IDE.
2. Search results will be shown in the search results pane.
3. Search for another symbol.
4. Search results for the second search will replace the search results of the first s

[2016-09-17 10:10] elkebirmed opened #12185 "Enable regular expression case changing"
- VSCode Version: 1.4.0
- OS Version: Ubuntu 16.04

Steps to Reproduce:
1. `Ctrl+H`
2. Find camelCase strings `([a-z])([A-Z])`
3. Change it to lowercase `$1-\L$1\E`

expected `fooBar` to be `foo-bar`

[2016-09-17 10:16] fronteed opened #12186 "No autocomplete for native JavaScript props and methods"
- VSCode Version: 1.5.1
- OS Version: OS X El Capitan

Autocomplete for native methods and properties in JavaScript doesn't work inside IIFE (Immediately-Invoked Function Expression).

Steps to Reproduce:

1) Type `document.get` at the top of JS file - you will get 'getElementById` autocomplete suggestion.

![2016-09-17-0dyeh](https://cloud.githubusercontent.com/assets/1612675/18607761/e32f6238-7c

[2016-09-17 10:16] andr2 commented on #243
Almost a year has passed. I think this feature improves usabilty not less than icons. Maybe you guys consider including the feature on the next iteration?

[2016-09-17 10:24] Rooomaaa commented on #12041
Finally the solution is to install Terminus TTF version.
    "editor.fontFamily": "'Terminus (TTF)'",
    "editor.fontSize": 14

[2016-09-17 10:25] #12041 closed

[2016-09-17 10:33] mredbishop commented on #12078
"configurations": [
        {
            // Name of configuration; appears in the launch configuration drop down menu.
            "name": "Debug Server",
            // Type of configuration. Possible values: "node", "mono".
            "type": "node",
            // Workspace relative or absolute path to the program.
            "program": "${workspaceRoot}/app.ts",
            // Automatically

[2016-09-17 11:31] Tyriar opened #12187 "Allow keybindings to override chord keys when there is a when condition"
- VSCode Version: Code - Insiders 1.6.0-insider (0619ede1e469ed23fbb214eaa0377625a402ca87, 2016-09-16T08:03:24.238Z)
- OS Version: Linux x64 4.4.0-31-generic, Ubuntu 16.04

Based on my testing at least on Linux, I cannot bind ctrl+k as a keybinding due to the chord keybindings. This blocks #6603 in allowing a ⌘K keybinding to clear the terminal (`"when": "terminalFocus"`). I think it's reasonable

[2016-09-17 11:32] Tyriar commented on #12187
@alexandrudima I can implement this if you find the proposal reasonable. `KeybindingResolver.resolve` looks like the place to do it.

[2016-09-17 11:34] Tyriar commented on #6603
Added the API in upstream and implemented the command. The ⌘K keybinding on mac is still blocked by https://github.com/Microsoft/vscode/issues/12187

[2016-09-17 12:03] egamma commented on #670
@TechnikEmpire please do not read too much into a comment I made in December 2015, while we were recovering from the big November VS Code release. Apologies if this comment came over as sarcastic.

There is some good progress with regard to Intellisense for PHP. If you want to contribute, then I suggest to look into contributing to the `php-language-server` project that @felixfbecker is working on

[2016-09-17 12:09] dbaeumer commented on #12141
Here is what happened: the tsserver crashed and all open requests very rejected with service died. However the service gets restarted automatically unless it crashes very frequently. In this case we show an message to the user: @bvancea have you seen such a message. When you get into that state again can you let use know the command lines of the running Code.exe processes.

[2016-09-17 12:11] mamboer commented on #11624
As the screenshot above, it returns `/Users/lv/dev/.../node_modules/.bin/pug`

[2016-09-17 12:12] dbaeumer commented on #11205
@gangachris  Yes, it got resolved however you have to get the latest eslint extension (1.0.5). If you still see it there please ping back.

[2016-09-17 12:13] egamma commented on #711
@kumarharsh I doubt that you see the same problem that was reported here and that was fixed some time ago. Therefore, please file a new issue with the error you are seeing.

Can you still reproduce the issue when you run without extensions `--disable-extensions`.  Do you see anything in the developer tools console `Help>Toggle Developer Tools`.

[2016-09-17 12:17] Emeryao commented on #12072
I got a TEMPORARY solution  for this issue:
change the css class of `.monaco-editor .margin-view-overlays .line-numbers` in file `workbench.main.css`
with the style below:
[code]
the key of this TEMPORARY solution is the `height` and `width` attribute of the svg tag.

[2016-09-17 12:18] dbaeumer commented on #11745
@johnnyreilly the reason why we show it is that compiling in a terminal using tsc might produce a different set of errors then  when opening the same project in VS Code. We got quite some bugs where people had a different global compiler version. That is why we added the check and allow you to not see it again :-)

[2016-09-17 12:29] dbaeumer commented on #12073
@psulek yes, for now you can even add your own problem matcher to the tasks.json file. See here on how to do this: https://code.visualstudio.com/docs/editor/tasks#_defining-a-problem-matcher

Dups #4363

[2016-09-17 12:29] #12073 closed

[2016-09-17 12:52] MadHed opened #12188 "workspace/symbol search stops working after 3 characters entered"
- VSCode Version: 1.5.2
- OS Version: Windows 10

Steps to Reproduce:
1. Bring up quick open (ctrl+p)
2. Begin global symbol search by pressing \#
3. Enter two characters, a list of symbols appears
4. Enter a third character -> list is not updated, progress bar runs forever
5. Afterwards, workspace symbol search is broken until vscode is restarted.

Additional info:
I could verify that after the b

[2016-09-17 12:54] isaacDaly opened #12189 "Executing tasks inside Bash on Ubuntu on Windows 10"
- VSCode Version: 1.5.2
- OS Version: Windows 10 build 14926

I've set the Integrated Terminal so that it runs Bash on Ubuntu on Windows, which works fine. However, is there a way to run a task in Bash? For example, running a Python file so that it is the equivalent of `python3 <filename>.py` in Bash, as opposed to running in Windows CMD?

[2016-09-17 13:09] GermanRican opened #12190 "Is VSCode compatible with macOS Sierra?"
- VSCode Version: 1.5
- OS Version: macOS Sierra (10.12)

Steps to Reproduce:

1. Download latest VSCode-darwin-stable.zip
2. Unzip the file to create the Visual Studio Code.app
3. Double-click the Visual Studio Code.app icon to open
4. App does not open. App bounces on the dock once or twice, but app does not open.

Alternatively
3a. Will drag Visual Studio Code.app to the Applications folder
4a.

[2016-09-17 13:25] GermanRican commented on #12190
Looks like the "Insiders" edition works. Whatever the issue was, it'll be fixed in an upcoming release.
Thanks! 👍

[2016-09-17 13:25] #12190 closed

[2016-09-17 13:31] gangachris commented on #11205
After going through https://github.com/Microsoft/vscode-eslint/commit/4f554e7593fc066ea12e11fe416ef72bdb59c547 , had to change my  key binding from `eslint.fixAllProblems` to `eslint.executeAutofix`.

[2016-09-17 13:44] johnnyreilly commented on #11745
Thanks for the explanation @dbaeumer - makes sense!

[2016-09-17 13:44] steveluc commented on #3518
Would love to see this happen.  Great for communicating about code.

[2016-09-17 14:01] Pandahisham commented on #8108
+1

[2016-09-17 14:02] andrewv99 commented on #9191
No, definitely nothing at all was done as root. I installed (unpacked the tarball) in a directory under my home directory, and am running as myself. Are there any environment variables (or other settings) that might make it behave this way ? Could you possibly attach a sample storage.json here which I could try ... are there any (many?) other files that are supposed to be defaulted ?

[2016-09-17 14:05] felixfbecker commented on #670
@egamma But is there any way the PHP language server can "delegate" to VS Code's HTML language server? Seems like https://github.com/Microsoft/vscode/issues/1751 would cover this

[2016-09-17 14:23] LiPengfei19820619 opened #12191 "Allow to hide the activity view bar"
- VSCode Version:1.5.2
- OS Version:Windows 10 1607 64Bit

Steps to Reproduce:

1. Open the visual studio code

I hope I can control whether to show or hide the view bar area, because I like to use the whole screen to edit.

Thank you.

[2016-09-17 15:03] rozzzly commented on #12186
Offtopic.. but what theme is that lol looks nice.

[2016-09-17 15:36] alefragnani commented on #12111
Hi @ArtemGovorov , that was my first attempt, with no success 😢 . Good to know that at least it fixes for OS X (and probably Linux). Thanks 👍

`Uri.ts` had some changes last month, but since I don't have a _debugabble source of VS Code` available, I can't check where is the problem.

I hope it to be fixed soon, or at least new tips for adapting to any new API.

[2016-09-17 15:38] shanalikhan opened #12192 "cannot open untitled:URI , got URI but expected URI error in ubuntu and mac only"
Console LOG shows : \Users\mklement\Library\Application Support\Code\User\summary.txt

as loop is using to replace the slashes

**its working fine in windows but doesnt work in ubuntu and mac, this is the example of OSX 10.11.6**

But when i try to parse URI using API i get the following error

Following is the code
[code]
In the referenced issues same behavior found even after generating new exte

[2016-09-17 16:12] rajinder-yadav opened #12193 "Replace selected doesn't put focus in the find edit field"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:22:54.636Z)
- OS Version: Linux x64 4.4.0-36-generic

Steps to Reproduce:

1. Selected a section of code.
2. Pressed ctrl+h to replace text

Notice the focus is put into "replace" edit window not "find" where it should be.

[2016-09-17 16:34] bpasero commented on #12072
@Emeryao great insights, can you add this to the still open issue where we track it now? https://github.com/Microsoft/vscode/issues/8708

[2016-09-17 17:13] jjacode opened #12195 "Bad error when using less mixins with passed-in rulesets"
- VSCode Version: 1.5.2
- OS Version: Windows 10

Steps to Reproduce:
1. Try to follow example from less page: http://lesscss.org/features/#detached-rulesets-feature
2. Notice error highlighting:

![image](https://cloud.githubusercontent.com/assets/15765196/18609756/4875a35e-7cc7-11e6-9086-43b946835eda.png)
![image](https://cloud.githubusercontent.com/assets/15765196/18609769/91ecd6ba-7cc7-11e6-89

[2016-09-17 17:23] Emeryao commented on #8708
I got a TEMPORARY solution  for this issue:
change the css class of `.monaco-editor .margin-view-overlays .line-numbers` in file `workbench.main.css`
with the style below:
[code]
the key of this TEMPORARY solution is the `height` and `width` attribute of the svg tag.

[2016-09-17 17:25] #12188 closed

[2016-09-17 17:27] MadHed commented on #12188
Sorry, this seems to be a bug with a certain extension I am using.
Closed as I couldn't reproduce with other projects.

[2016-09-17 17:39] rajabiy commented on #205
+1

[2016-09-17 17:48] tripsus opened #12196 "Integrated terminal freezes when ever a program goes to infinite loop."
Version 1.5.2
Commit 66f37fd2a99eb9d628dd374d81d78835b410c39b
- OS Version: Ubunutn 15.10

Steps to Reproduce:

1. Write a C program which outputs to integrated terminal in infinite loop.
2. Run that program in integrated terminal, terminal freezes.

[2016-09-17 19:16] spraguey commented on #10890
Well, it's good news and bad. The tab no longer crashes and forces a reload. However, the file actually closes. It really should just leave the file open. Displaying an error saying it cannot save or cannot be found is fine, but the file should not go away!  So, the crash is fixed, but the underlying problem remains. If you leave files open to work on later, they will all get closed on you.

![scr

[2016-09-17 20:02] michaeljota commented on #10766
I think you should close this issue then. :).

[2016-09-17 21:11] heartsekai opened #12197 "tmLanguage stopped working since 1.3.1"
- VSCode Version: 1.5.2
- OS Version: Windows 10

Steps to Reproduce:
1. install vs 1.2.1 tmLanguage work
2. install vs 1.3.1 tmLanguage doesn't work

You have a wms file to check it.
[brainwarecolumbus.zip](https://github.com/Microsoft/vscode/files/478376/brainwarecolumbus.zip)

[2016-09-17 21:16] alsong opened #12198 "Quotes and html?"
- VSCode Version: Code 1.5.1 (07d663dc1bd848161edf4cd4ce30cce410d3d877, 2016-09-08T21:33:49.307Z)
- OS Version: Windows_NT ia32 10.0.10240

Steps to Reproduce:

1.
2.

## Original Title

while typing scripts on the lastest vs code. there is a difficulty i face when i press eneter on an attribute that requires me to input text in between quotes and the cursor appears outside the quotes. Its stressi

[2016-09-17 21:51] codec-abc opened #12199 "Integrated terminal is slow/laggy"
- VSCode Version: 1.5.2
- OS Version: Windows 10

Steps to Reproduce:

1. Open the integrated terminal
2. Type in the console

It works as expected but every character typed in the terminal appear after 0.5~1s. I have the same setup at work but the console is responsive. So there is probably something in my home setup that don't play nicely with the integrated terminal. Note, that if I open a comm

[2016-09-17 21:55] Tyriar commented on #9191
@andrewv99 everything is meant to be created on the first run. You could check you permissions on `~/.config` and `~/.config/Code`?

[code]

[2016-09-17 22:05] andrewv99 commented on #9191
Nothing is created (as per the strace output), and the permissions are ok:

`$ ls -laR ~/.config/Code
/home/andrewv/.config/Code:
total 12
drwx------  3 andrewv nogroup 4096 Sep 17 09:14 .
drwx------ 34 andrewv nogroup 4096 Sep 17 08:32 ..
drwxr-xr-x  2 andrewv nogroup 4096 Sep 18 08:01 User

/home/andrewv/.config/Code/User:
total 8
drwxr-xr-x 2 andrewv nogroup 4096 Sep 18 08:01 .
drwx------ 3 and

[2016-09-17 22:06] pmcoz commented on #11837
Gotta wonder why it's phoning home if it's been configured not to report anything nor update anything.

[2016-09-17 22:36] pankleks opened #12200 "Erratic debug value hover preview"
- VSCode Version: 1.5.2
- OS Version: Win 10

When breakpoint hit (either node or chrome) - you can hover mouse over the variable (in code editor) and it shows popup with current value.
Very often it stops working - I could not find specific case, same code, same place sometimes works sometimes not.

[2016-09-17 22:41] cpamp21 opened #12201 "User Snippets multiple same name variables maintain multiple cursor positions on completion"
- VSCode Version: 1.5.2
- OS Version: Win10

Steps to Reproduce:

1. Create user snippet with multiple variables of same name
2. Use the snippet
3. Press enter to complete while editing the variable that has multiple locations
4. VSCode maintains multiple cursor positions at all of the locations of the variable

After completing a user snippet there should only be one cursor position

[2016-09-17 23:01] nbapat43 opened #12202 "Failed at the oniguruma@6.1.0 install script 'node-gyp rebuild'."
*Not sure if the title is correct
"name": "code-oss-dev",
- VSCode Version: 1.6.0
- OS Version: windows 10

Steps to Reproduce:
Trying to set up vscode for debugging to help with contributing.  [Followed instructions on VSCode how to Contribute](https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run-from-source).
[Here is my enviroment variables](http://imgur.com/65bfhOT)

1. aft

[2016-09-17 23:32] cdaringe opened #12203 "variables pane went dim seemingly randomly during debug session, persisted until vscode reopend"
- VSCode Version: 1.5.2
- OS Version: osx 10.11.x

Steps to Reproduce:

i am unable to reproduce, however i can say the following:

- i was debugging some python code
- i stepped between multiple files
- i inspected content from the variables pane

<img width="759" alt="screen shot 2016-09-17 at 3 28 33 pm" src="https://cloud.githubusercontent.com/assets/1003261/18611381/f6ddbf2a-7ceb-11e6-8ce6-af

[2016-09-18 00:17] isaacDaly commented on #9502
+1

[2016-09-18 00:51] rozzzly commented on #12165
I don't experience slowdown/freeze. I get a different behavior.

  1. Open any file
  2. Type some text like, `bug test text`
  3. I insert a multibyte character like 😵
  4. Place cursor just after the emoji/Unicode then hit backspace.
  5. Emoji disappears, in its place is a weird question mark on top of a diamond symbol, one of the ascii broken character symbols you've seen before in older versi

[2016-09-18 01:15] rozzzly commented on #12150
I've been working on a vscode extension and have actually resorted to using the chrome developer console in the instance of vscode I'm debugging to view console output/inspect some object/read stacktraces because the vscode side of is a bit rough around the edges (every log messages gets a jumble of css Infront of it.)

Would also be cool for js objects if vscode could display some of the content

[2016-09-18 01:22] hyingreborn commented on #11857
Sometimes I need to write CSS and JS in HTML, but no intellisense, coding efficiency is very low

[2016-09-18 01:23] rozzzly commented on #12154
Some link to the github/project homepage would be awesome too.

[2016-09-18 01:28] ArtemGovorov commented on #12111
That's not what I meant. I mean the original issue doesn't affect OS X at all.

And the workaround that I suggested (`gutterIconPath: pathIcon.split('\\').join('/'),`) fixed it for us for all platforms, including Windows. Perhaps your case is different from ours if it doesn't work for you.

Also, as I said, the URI generation in our case didn't change, so I doubt it is the `Uri` issue. You may che

[2016-09-18 01:39] yzpTsubasa opened #12204 "Shortcut "Ctrl + D" of Multi-select in new document can't work normally"
- VSCode Version: 1.6.0 - insider
- OS Version: Windows 7

Steps to Reproduce:
1. create a new Document: A.example(Not saved locally)
2. Type "Hello World"
3. Select first "l" (3rd letter)
4. Use shortcut "Ctrl + D" to select second "l" (4th letter)
5. Use shortcut "Ctrl + D" to select third "l" (10th letter).
   But doesn't work, This make select target "ll"(Double l) but not "l"

[2016-09-18 01:44] cw19931024 commented on #11280
额，我说的拷贝是指新增加文件进项目的时候能随手像ide一样能支持复制进去，这样其实更友好。

[2016-09-18 01:50] lseyesl commented on #11998
@bpasero  sorry, i think it appear with autoformat or (jshint || eslint) check , and i don't know how to get more info for it. because it not report some info

[2016-09-18 01:57] shibang opened #12205 "Add support for closing opened folder"
For example, add a right click menu on opened project folder which offers a "Close Project" menu item.
I don't want to switch to specific folder to right click and open in the file explorer

[2016-09-18 02:10] lseyesl commented on #11998
![default](https://cloud.githubusercontent.com/assets/3131207/18612276/0d9dde60-7d88-11e6-826d-bdfbd346007f.png)
just this

[2016-09-18 02:32] joeferraro commented on #12027
Is is possible to programmatically show the error panel?

[2016-09-18 02:38] cw19931024 opened #12206 "搜索希望得到优化"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. 有很多时候明明搜索到了，但是确无法替换，或者无法搜索到对应的字段。

2. 搜索框希望能拖动。因为很多时候其他消息推送都在右上角。遮住了很不方便。
<img width="1005" alt="1111" src="https://cloud.githubusercontent.com/assets/15888370/18612421/e74fafdc-7d8b-11e6-9cc1-69e167b7140d.png">

[2016-09-18 02:40] Tekbr commented on #12080
@bpasero I think it's like the 'live preview' of the Adobe Brackets, but only works with Chrome.
The function is very interesting, can move directly into the html, css and more in real time.

I wish that this function was in VSCode, regardless of browser or at least the most used, is Microsoft Edge, Mozilla Firefox, Safari, Google Chrome, Opera. And if possible in Internet Explorer.

[2016-09-18 02:41] cw19931024 commented on #12206
刚才尝试了下，过了几分钟才出来搜索的字符。

[2016-09-18 02:52] shibang commented on #12206
你这样直接用中文人家不一定看懂啊

[2016-09-18 02:58] vBlueFlag commented on #4369
When this bug will fix?

[2016-09-18 03:24] zhaohaixin commented on #12206
哈哈！

[2016-09-18 03:30] SiriusGuo opened #12207 "Could VSCode use "region" just like visual studio or in next version?"
- VSCode Version: 1.5.2
- OS Version: Windows 10 x64

In visual studio we can use region like that:
[code]

It can be used in jetbrains idea also:
![image](https://cloud.githubusercontent.com/assets/6395714/18612688/0cb30d8a-7d93-11e6-889d-171eac09a539.png)
-------------------------------------------
![image](https://cloud.githubusercontent.com/assets/6395714/18612702/591bbf0a-7d93-11e6-91c8-7e45b

[2016-09-18 03:58] songxuangh commented on #12206
哈哈，你得翻译成英文在来发表，我就是这么做的

[2016-09-18 04:53] uxitten commented on #12154
@rozzzly +1

[2016-09-18 04:59] ZCShou commented on #12206
@cw19931024   再者 你所说的搜不到估计是因为你是在选中内容中查找的，看你的图片 明显 是这样！（右边第二个图标被选中）。

至于 搜索框 移动 这个提议貌似不错的！

ps：VSCode项目组里有国人的！名字忘了

[2016-09-18 05:06] ZCShou commented on #12175
This issue exists for a long time.

[2016-09-18 05:12] johnliu2016 commented on #12085
@lukaschal Can you reroute this to linguistic?

[2016-09-18 05:15] johnliu2016 commented on #12171
@lukaschal Please send above 2 strings to linguistic review

[/Localize/kor/vscode/src/vs/editor/contrib/indentation/common/indentation.nls.resx.lcl](
https://monacotools.visualstudio.com/Monaco/_git/MonacoLocalization?path=%2FLocalize%2Fkor%2Fvscode%2Fsrc%2Fvs%2Feditor%2Fcontrib%2Findentation%2Fcommon%2Findentation.nls.resx.lcl&version=GBmaster&_a=contents)

[2016-09-18 05:33] songxuangh commented on #12080
I hope to join the "real time preview" function, that is, I have written a HTML page, you can preview in the browser.
English is not good, this is the translation, I hope you can understand， join this function.
@bpasero

[2016-09-18 06:31] bpasero commented on #10890
@spraguey I think this is still very good news because a crash is the worst case that can happen.

I find it interesting that the tab would close... so you say you say:
* you have a file open
* you disconnect the drive
* the file tab closes in VS Code and this error message shows up?

[2016-09-18 06:45] bpasero commented on #12202
@nbapat43 first of all please make sure you have at least npm >= 3.10.8 as outlined in the setup guidelines (`npm install -g npm@3.10.8`)

Do you have Visual Studio installed?

[2016-09-18 06:47] bpasero commented on #6718
Actually fixed for September 👍

[2016-09-18 06:47] #6718 closed

[2016-09-18 06:53] bpasero commented on #9358
Please reopen if you can still reproduce with insiders release.

[2016-09-18 06:53] #9358 closed

[2016-09-18 06:54] bpasero commented on #10761
@albertsmus could you try if this is solved with our latest insider update, we pushed quite some changes:

You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-18 06:55] bpasero commented on #6830
@pcherkasova could you give our insider build a try to see if the situation improved? we did quite some changes in there including a major update of the fs library:

You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-18 06:59] bpasero commented on #359
I am closing this because I believe this is fixed, otherwise please report back. If you can reproduce I would appreciate if you could try to reproduce with our insiders build:
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-18 06:59] #359 closed

[2016-09-18 07:00] bpasero commented on #1305
I am closing this because I believe this is fixed, otherwise please report back. If you can reproduce I would appreciate if you could try to reproduce with our insiders build:
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-18 07:00] #1305 closed

[2016-09-18 07:04] bpasero commented on #3044
I am closing this because I believe this is fixed, otherwise please report back. If you can reproduce I would appreciate if you could try to reproduce with our insiders build:
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-18 07:04] #3044 closed

[2016-09-18 07:06] bpasero commented on #5217
I am closing this because I believe this is fixed, otherwise please report back. If you can reproduce I would appreciate if you could try to reproduce with our insiders build:
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-18 07:06] bpasero commented on #5415
I am closing this because I believe this is fixed, otherwise please report back. If you can reproduce I would appreciate if you could try to reproduce with our insiders build:
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-18 07:06] #5415 closed

[2016-09-18 07:07] bpasero commented on #5515
@kyamamoto03 does it still reproduce? can you try our insider builds?
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-18 07:12] bpasero commented on #5516
@bording also note that our insiders release got a major Chrome/Electron update. Maybe you give it a try:
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-18 07:13] bpasero commented on #5533
I am closing this because I believe this is fixed, otherwise please report back. If you can reproduce I would appreciate if you could try to reproduce with our insiders build:
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-18 07:13] #5533 closed

[2016-09-18 07:14] bpasero commented on #5876
@rojepp I wonder if our recent Electron update changed something?
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-18 07:16] bpasero commented on #11277
Closing, this seems to be standard behaviour for Chrome and likely a security thing they would not change.

[2016-09-18 07:16] #11277 closed

[2016-09-18 07:18] bpasero commented on #5908
Moving to @Tyriar based on the last comments that this could be a problem with the update from a package. Could it be the update leaves the old running instance around including the extension host and thus the new instance fails to create it?

[2016-09-18 07:19] bpasero commented on #6141
Bug clean up: please report back if this still reproduces.

[2016-09-18 07:19] #6141 closed

[2016-09-18 07:19] bpasero commented on #6196
@ivanz @Chococat could you try our latest insider release to see if this issue still reproduces?
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-18 07:20] bpasero commented on #6203
@soichih @kalinkrustev  could you try our latest insider release to see if this issue still reproduces?
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-18 07:20] bpasero commented on #6385
Closing, basic Windows behaviour, unrelated to Electron or VS Code.

[2016-09-18 07:20] #6385 closed

[2016-09-18 07:20] bpasero commented on #6417
Closing until we have more steps to reproduce.

[2016-09-18 07:21] bpasero commented on #6552
Closing by assuming this is fixed with our Electron update. Our insider release contains the update already. You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-18 07:21] #6552 closed

[2016-09-18 07:22] bpasero commented on #6629
![image](https://cloud.githubusercontent.com/assets/900690/18613771/79160bb0-7d81-11e6-918b-451e458218c9.png)

@ricklang seems better now?

[2016-09-18 07:23] bpasero commented on #6854
@roadyyy @friimaind could you give our insider release a try to see if this issue is fixed?
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-18 07:24] bpasero commented on #7078
@felixfbecker @herbfickes could you give our insider release a try to see if this issue is fixed?
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-18 07:24] bpasero commented on #7566
Please reopen with steps how to reproduce.

[2016-09-18 07:24] #7566 closed

[2016-09-18 07:24] bpasero commented on #7948
Works a lot better for me with Parallels 11, please update.

[2016-09-18 07:24] #7948 closed

[2016-09-18 07:24] jcity commented on #10473
@aeschli I'm on the latest version (1.5.2) and I'm still getting this error upon saving a typescript file.

Happy to provide more info if you can let me know where to find something thats useful for you.

[2016-09-18 07:25] bpasero commented on #8901
@DasJott  could you give our insider release a try to see if this issue is fixed?
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-18 07:25] bpasero commented on #8968
@aflat  could you give our insider release a try to see if this issue is fixed?
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-18 07:25] bpasero commented on #9302
@Tetheta  could you give our insider release a try to see if this issue is fixed?
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-18 07:26] bpasero commented on #9447
Thanks for linking the issues here 👍

[2016-09-18 07:26] bpasero commented on #9881
Closing, we really do not control the native file dialogs.

[2016-09-18 07:26] #9881 closed

[2016-09-18 07:27] bpasero commented on #10041
@wallverb  could you give our insider release a try to see if this issue is fixed?
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-18 07:27] bpasero commented on #10057
@imanabu  could you give our insider release a try to see if this issue is fixed?
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-18 07:27] bpasero commented on #10091
@battermann @vocoded could you give our insider release a try to see if this issue is fixed?
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-18 07:28] bpasero commented on #10213
Assuming this is a distro issue or Electron issue and we recently updated Electron.

[2016-09-18 07:28] #10213 closed

[2016-09-18 07:28] bpasero commented on #10525
@jjacode  could you give our insider release a try to see if this issue is fixed?
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-18 07:40] Ajeey commented on #9881
So basically you are saying a user cannot use Visual Studio if he is on Ubuntu and trying to load remote server's content.

That sucks! :(

[2016-09-18 07:58] albertsmus commented on #10761
No it's not working again. I have to tell you also that as in the previous version now also ig i try to close the file that it seems that there is no code inside i get a warniong if i want to save the file or not. (i attach the screenshot)
![screen 2016-09-18 10-55-00](https://cloud.githubusercontent.com/assets/4593565/18614029/bc915e50-7d8e-11e6-9c9a-6f475423e416.png)

[2016-09-18 08:18] egamma commented on #670
@felixfbecker now that we have extracted the HTML language server, the first scenario we want to investigate is how to integrate it with CSS language server so that we can provide Intellisense in CSS sections. This corresponds to the first scenario you mention in #1751.

This work didn't make it for September and it is now planned for October.

[2016-09-18 08:25] cw19931024 opened #12208 "ng插件焦点异常bug"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. angular插件焦点bug
<img width="630" alt="212" src="https://cloud.githubusercontent.com/assets/15888370/18614159/1b3d39ce-7dbc-11e6-8fbd-a56434f7fe62.png">
<img width="757" alt="323" src="https://cloud.githubusercontent.com/assets/15888370/18614161/20a624c0-7dbc-11e6-853e-e10875f6f60d.png">
大概是这样的，我在图片1中添加个ng-class,结果焦点却跑到后面去了。

[2016-09-18 08:32] cw19931024 commented on #12206
。。我英文太渣。

[2016-09-18 08:44] dewdad commented on #4369
I'm assuming since this issue is closed. Commenting here is futile?

[2016-09-18 08:45] mrmlnc commented on #12207
Duplicate of #12146. Please, add your description to already exists issue.

[2016-09-18 08:47] sysrpl commented on #1884
Help -> Toggle Developer Tools -> Console

[2016-09-18 08:49] DasJott commented on #8901
Will do tomorrow, thanks!

[2016-09-18 08:51] CoolGoose commented on #10759
As a related question
What stops VS Code to be a UWP app in order to have it usable on the phone / xbox etc
Is it the sandboxing limitations of UWP ?

[2016-09-18 08:58] jankalfus commented on #12058
I have also noticed that when using F12 (Go to Definition), VS Code can be confused with certain files (probably those that weren't existing in the restored state, but were created later).

The issue is the following (BTW this relates to TypeScript .tsx and .ts files, I haven't tested any others):
When using F12 with a symbol, VS Code opens a new editor tab with an identical file opened and sets t

[2016-09-18 09:13] tingwu55 opened #12209 "could not load tslint"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 6.1.7601

Steps to Reproduce:

1.
2.

[2016-09-18 09:16] mrmlnc commented on #12209
See https://github.com/Microsoft/vscode-tslint/issues/88

[2016-09-18 09:21] mrmlnc commented on #11329
Hello, @egamma,

I want to clarify one question: Why do we have the `syntax !== thisLanguage` condition in [editorAccessor.ts#L176](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/emmet/node/editorAccessor.ts#L176)?

Refers to languages (packages):

  * Elixir
  * Riot

[2016-09-18 09:31] anseki opened #12210 "View state is not restored when part of the editor is folded"
- VSCode Version: 1.5.2
- OS Version: Windows

When VS Code is started, the scroll position is set to a position that a cursor was put at last time.
And also, when that editor tab is activated again, the scroll position is set to a position of cursor.

I think that the first behavior is useful, but the second makes me confuse sometimes.
For example, when I'm editing a line, I want to see another l

[2016-09-18 09:42] flyher opened #12211 "program stuck with css classes cached"
- VSCode Version: 1.5.2 ,1.4
- OS Version: Win7 x64

Steps to Reproduce:

1. open a project include more .css or .less files
2. click in the bottom of vscode gui   ⚡  'css classes cached(click the cache again)'
![untitled](https://cloud.githubusercontent.com/assets/5570324/18614876/ea3b911e-7dc9-11e6-9fa7-cef10ad8f3a4.png)

3. the state show the message 'Looking for CSS classes on the workspace...

[2016-09-18 09:45] Dollyn opened #12212 "Add more extension-point to support more rich editor (types)."
Text editor is not enough for all. It will be much better if plugins could add more 'rich' editors, just like the extension editor.

[2016-09-18 10:13] idealsu opened #12213 "add keyboard shortcuts to collapse and open sub indent lines, move collapesed lines"
new feature request:
1, add keyboard shortcuts to collapse and expand sub indent lines and move collapesed line
2, add keyboard shortcuts to select a block area, e.g, alt+shift+↑↓←→ in visual studio.net

[2016-09-18 10:28] AnWeber opened #12214 "createStatusbarItem can not run "editor. ..." commands"
- VSCode Version: 1.5.2
- OS Version: win10

I created a extension, which registers a new Statusbar Item with call to [createStatusbarItem](https://code.visualstudio.com/docs/extensionAPI/vscode-api). Setting property command to e.g 'editor.action.commentLine'. After click the message "Command 'Toggle Line Comment' can not be run from here."
![error](https://cloud.githubusercontent.com/assets/1343

[2016-09-18 11:13] sqrtroot commented on #12027
It would be nice if we had some kind of interface between programming and errors. To do thinks like check for errors, show the panel, add/remove errors etc.

[2016-09-18 11:27] Huachao commented on #8256
@jrieken @bpasero any updates on this, depending on electron?

[2016-09-18 11:33] Huachao opened #12215 "Allow right click context menu in webviews"
- VSCode Version: 1.5.2
- OS Version: Windows 10 Anniversary update

Steps to Reproduce:
1. As title. And I think we need these features to make the `preview.html` function more useful in extension.

[2016-09-18 11:46] dreed47 opened #12216 "command S doesn't save the first time"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:05:12.065Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:

1. change any file
2. hit CMD - S to save

The indicator on the tab still shows a dot.  Need to hit CMD - S a second time to have it save

[2016-09-18 12:29] bpasero commented on #9881
@Ajeey I say this issue should be reported against Ubuntu 👍

[2016-09-18 12:30] bpasero commented on #8256
@Huachao you can try to repro from our insiders release where we since updated Electron:
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-18 12:31] bpasero commented on #12216
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-09-18 12:55] abourget opened #12217 "Support git-appraise, with a GUI and the appraise format."
- VSCode Version: latest
- OS Version: Linux

I can't find a good editor with `git-appraise` support.. and I don't want to start using Eclipse. It's an awesome format and could very well define the future of Code reviews.

https://github.com/google/git-appraise

and the json-schema:

https://github.com/google/git-appraise/tree/master/schema

VS Code would be a great fit for a UI supporting this.

[2016-09-18 13:22] Huachao commented on #8256
@bpasero it seems the latest version didn't solve the issue at least for me

[2016-09-18 13:45] zwlxt opened #12218 "Translation fix for Chinese"
- VSCode Version: 1.5.2
- OS Version: Windows 10 1607

Steps to Reproduce:

1. Ctrl-Shift-X to open extension manager
2. Click any of the extensions in the list

![image](https://cloud.githubusercontent.com/assets/19585961/18616037/6f343962-7de7-11e6-9c65-67a697afc4f2.png)

In this case "扩展名" should be "扩展". "扩展" means extension, plugin, etc. while "扩展名" means suffix of filenames e.g. ".txt", ".ex

[2016-09-18 14:12] guy-kdm opened #12219 "Introduce cursor history navigation"
Hi guys, love the product!
Would be great to have a command to put the cursor back where the previous edit was made. This is similar to VS history navigation only, I think, better. :)

[2016-09-18 14:17] dreed47 commented on #12216
yep,  its an extension,  here is the link to an issue in the extension project
https://github.com/Lonefy/vscode-JS-CSS-HTML-formatter/issues/20
 thx for your help

[2016-09-18 14:17] #12216 closed

[2016-09-18 14:18] felixfbecker commented on #7078
@bpasero Sorry, I don't have a Ubuntu VM on my PC atm, storage got low 😄

[2016-09-18 14:20] guy-kdm opened #12220 "Introduce incremental expression selection"
Hi guys,
This really has a ton of use cases. It allows you to select the expression the cursor is on and with each extra press expand the selection to the containing expression. Say the cursor is on a variable named 'foo' in statement 'bar' in block 'foobar' - it will first select 'foo' then 'bar', then 'foobar', ext... This might be complicated to implement but incredibly useful. :)

[2016-09-18 14:45] wallverb commented on #10041
@bpasero Still the same issue with insiders @ 0619ede1e469ed23fbb214eaa0377625a402ca87 - although Atom also does not handle this case (only Sublime does) - so must be Electron issue

[2016-09-18 15:18] peterblazejewicz opened #12221 "`Illegal argument: range` when using `Format Code` with HTML content"
I've just started to get this error with current insider release. Pretty sure that was not a problem in previous versions.
- VSCode Version: Version 1.6.0-insider (1.6.0-insider) (2016-09-16T06:03:08.867Z)
- OS Version: OS X 10.11.6
- extensions disabled by startup option

Steps to Reproduce:
1.  open any properly formatted HTML file (the file should have .html extension)
2.  CMD+SHIFT+P (trigger

[2016-09-18 15:31] Odol opened #12222 "The fonts not look properly"
- VSCode Version: 1.5.2
- OS Version: Ubuntu 16.04.1 LTS

Steps to Reproduce:

1. install javascript snippet pack and restart vscode

I not think it is for this reason.
Not sure as happened this but fonts look terrible :(
It may have been for one instalation of linux package I not sure..

##notes: settings.json dont have customizations:

"editor.fontFamily": "'Droid Sans Mono', 'Courier New', mono

[2016-09-18 15:36] tonka3000 opened #12223 "Possibility to display line endings in text area"
- VSCode Version: 1.5
- OS Version: Win 7 x64

At the moment there is only the little statusbar menu which display/change the line ending if the actual file. But sometimes it would be great to see the line endings directly in every line (see atom f.e.) especially when there are mixed line endings (not good, but this happens from time to time).

Greetings
Tonka

[2016-09-18 15:40] ricklang commented on #6629
Yes, it is better under standard Windows color theme.

If the Windows color theme is Hight Contrast Black, and the VSCode color
theme is High Contrast, still can't see the menu. But I can the shortcut
keys. VSCode Version: 1.5.2.

Also is it possible to adjust the background color (white) for the dropdown
menu based on color theme. There was a time (can't remember the version
number) that the back

[2016-09-18 16:07] GroFinJarryd opened #12224 "Mixing open files into each other on Save"
- VSCode Version:1.5.2
- OS Version:Windows 10 x64 1607

Steps to Reproduce:

1. Opened up Mapped SharePoint drive linking to masterpage assets (HTML Display templates and HTML page layouts.
2. Have HTML page layout open and HTML Display template file open.
3. When saving HTML page layout, contents from the second file (HTML Display Template) get inserted into the HTML Page layout file

[2016-09-18 16:35] remy-barros commented on #941
And what if we need to do some more complex stuff on deactivation? Something that takes some time like sync files in ftp server? Is there a way to delay vscode closing proccess?

[2016-09-18 16:35] lednhatkhanh opened #12225 "Change color based on daytime"
It would be great!
I can use the light variant in the morning and noon, then the dark variant theme in the evening!

[2016-09-18 16:42] entr0cks opened #12226 "Link highlighting makes it hard to see underscores"
A link's underline is masking underscore symbols.
Requesting a setting to change link decoration (or to have a link's underline removed while hovering over it).

Having links highlighted in some other way would offer a better overview of link's that have one or more underscores in them.
- VSCode Version: 1.5.2
- OS Version: Windows 10 Pro 1607

Happened in a JavaScript file: request.get('http://lo

[2016-09-18 17:07] rmchndrng opened #12227 "Workspace setting to open files as read-only/non-editable via editor."
- VSCode Version:1.5.2
- OS Version:Windows 10

Feature request: Option to allow certain files to be open in the editor only as Read-only.
A workspace settings similar to "files.exclude".

[code]

With the above settings, a user will not be able to make any changes to the files specified via the editor.

A sample scenario is mentioned in the stack overflow question
[http://stackoverflow.com/questi

[2016-09-18 17:40] bpasero commented on #10041
Got it. I suggest to let Electron know with an issue and link it here.

[2016-09-18 17:45] bpasero commented on #9878
https://github.com/Microsoft/vscode/issues/6629

[2016-09-18 17:45] #9878 closed

[2016-09-18 17:53] bpasero commented on #6629
Ok, it improved a lot (compared to before where you could not see menu entries), but still lacks some features from the windows HC theme.

[2016-09-18 18:06] mattyork opened #12228 "VSCode not picking up global/ambient types in node_modules/@types when editing typescript"
- VSCode Version: 1.5.2
- OS Version: OS X

Steps to Reproduce:

**package.json:**
[code]

**tsconfig.json:**
[code]

**test.ts:**
[code]

**.vscode/settings.json:**
[code]

![gif](http://g.recordit.co/5ZCckiKVJX.gif)

Expected: vscode understands global/ambient types from `node_modules/@types` just like tsc does
Actual: vscode does not understand global/ambient types from `node_modules/@types`

[2016-09-18 18:11] egamma commented on #11329
@mrmlnc this was purely defensive programming. The check can be removed, can we have unit tests for elixir and riot that specify the desired outcome?

[2016-09-18 18:14] friimaind commented on #6854
@bpasero I tried the release code-insiders_1.6.0-1474012735_amd64.deb but the problem is still there :(

- mounted an ftp host via Nautilus
- edit a file test.php with vscode
- save => "Non è stato possibile salvare 'test.php': A system error occured (ESPIPE: invalid seek, write)"

My system is: Dell XPS 9350 with Ubuntu 16.04 LTS with kernel 4.4.0-36-generic

[2016-09-18 18:24] kumarharsh opened #12229 "Error: Path must be a string. Received null due to some plugin"
- VSCode Version: 1.6.0-insider (58d7ff)
- OS Version: Windows 10

Steps to Reproduce:

1. Open a git project with eslint enabled and then open the change view for a file
2. The error `Error: Path must be a string. Received null` will be shown.

More discussion at https://github.com/Microsoft/vscode/issues/711

Restarting vscode with `--disable-extensions` fixes this issue. I think this might be c

[2016-09-18 18:24] NonsenseInc commented on #2902
why not integrate a eval operator like `${some javascript}`. Let me give an example:

input `99 bottles of beer on the wall, 99 bottles of beer. Take one down and pass it around, 98 bottles of beer on the wall.`
search `(\d+)`
replace with `${$1 - 1}`
result `98 bottles of beer on the wall, 98 bottles of beer. Take one down and pass it around, 97 bottles of beer on the wall.`
search `(\w+)`
replac

[2016-09-18 18:24] kumarharsh commented on #711
Yes, restarting vscode with your recommendations does indeed fix this error. It might be due to the eslint server... I've opened the new issue here: https://github.com/Microsoft/vscode/issues/12229

[2016-09-18 18:26] asdncg commented on #11393
when?

[2016-09-18 18:27] Tetheta commented on #9302
Hey @bpasero, sorry for not updating this. I haven't gotten this error in a month I think, looks like it was either fixed or I changed something on my end. Sorry for note closing the issue, I totally forgot about it. Thanks for the help!

[2016-09-18 18:27] #9302 closed

[2016-09-18 18:32] pcherkasova commented on #6830
Benjamin,

Thank you for working on this. I downloaded new version with link you provided. Unfortunately, the bug is still here.

This is video recording for the test: https://www.dropbox.com/s/d2pj7whbua3a2l9/vscode%20bug%206830.mov?dl=0

This is my vscode version:

[cid:dd1e7110-7709-4c7b-a5ff-689d1e0f0a33]

[https://cf.dropboxstatic.com/static/images/icons128/page_white_film.png]<https://www.dr

[2016-09-18 18:37] rmchndrng commented on #4873
Would really like this or something similar to it.
eg. https://github.com/Microsoft/vscode/issues/12227

[2016-09-18 18:46] gp187 opened #12230 "Files copied via file explorer don't show up in editor"
- VSCode Version: 1.5.2
- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. open code in any project with lots of files
2. go to file explorer
3. copy something via explorer
4. look in code editor: new files do not show up. Even after 10-15min they don't

Only re-opening editor will update files

[2016-09-18 19:26] bastienJS opened #12231 "html tag rename works only on the opening tag but not the closing tag"
- VSCode Version: 1.6 insider
- OS Version: win 10 x64

Steps to Reproduce:

[code]

[2016-09-18 19:27] KimTheFirst opened #12232 "Sporadic "contents on disk are newer" issues when saving to network share"
- VSCode Version: 1.5.2
- OS Version: Windows 10

Steps to Reproduce:

1. Work a lot on various files stored on a network share.
2. Eventually this will happen.

Some days it won't happen at all, some days it will happen five times in a row. There appears to be a correlation with network speed / network reliability (lower speed = more errors) but I have also had it happen on very fast connections.

[2016-09-18 20:23] winuxue commented on #11787
![issue](https://cloud.githubusercontent.com/assets/15930014/18618810/bb02f376-7db3-11e6-862f-43e85b6f216a.PNG)

Not for me.
Testing from Ubuntu.

[2016-09-18 21:10] karai17 commented on #2806
This is definitely a big deal for me. I moved from a vertical 1080p screen to a horizontal 1440p screen and I am very much missing the vertical space I had when using vscode. Being able to reposition the output panel to take up some of that unused horizontal space would make working on a standard 16:9 screen a lot more comfortable.

With my current screen, I would be able to comfortably have 2 tex

[2016-09-18 21:25] Dzienny commented on #7727
I encountered this problem today. I think I found the culprit. The vscode uses pty.js to open the terminal. https://github.com/Microsoft/vscode/blob/a6c845baf7fed4a186e3b744c5c14c0be53494fe/src/vs/workbench/parts/terminal/electron-browser/terminalProcess.js (line: 30)

And on the pty.js project I found the following open issue: https://github.com/chjj/pty.js/issues/173

[2016-09-18 21:42] Tyriar commented on #7727
@Dzienny yes it could be either pty.js or the dated winpty version it uses.

[2016-09-18 22:06] luisfarzati commented on #818
Funny thing is the [Vim plugin](https://github.com/Quramy/tsuquyomi) [seems to do this](https://github.com/Quramy/tsuquyomi/raw/master/screen.gif) 😄

[2016-09-18 22:13] MaximoTrinidad opened #12233 "VS Code won't open in xrdp session."
- VSCode Version: 1.5.2 Linux deb version
- OS Version: Windows 10 Pro Insider Preview
- Remote Connection to: Ubuntu 16.04.1 LTS Desktop
- Linux xrdp: Xfce-session

Steps to Reproduce:

1.  On Windos 10, open Remote Desktop application
2.  Connect to Linux machine using IP Address provided.
3.  At the Xfec session, click on "Applications | Development | Visual Studio Code"

Results:
Nothing opens

[2016-09-18 23:04] nbapat43 commented on #12202
I do have Visual Studio 2015 installed

My version was not 3.10.8 but I upgraded it to 3.10.8. After upgrading I did rerun the npm install in the scripts folder and cmd spammed me with the message "Maximum setlocal recursion level reached." I have seen this message before when in past attempts to set up debugging.

[2016-09-19 00:00] ZCShou commented on #12221
Now must be selected to format. Before do not need

[2016-09-19 00:18] buzhizhe opened #12234 "功能建议：文档修改状态的保存"
- VSCode Version:1.52
- OS Version:win8.1

Steps to Reproduce:

 我需要一个简单而常用的功能，就是文档修改状态的保存。
平常随便记录些东西，在关闭时候不要提示我是否保存，如果我不保存，下次打开后仍然可看见编辑的内容，并且可以保存或不保存。 这样的目的是：只要我输入了内容，不管我是否保存都不会丢失（即使断电也不会丢失）。
sublime text是这种方式，这也是我一直用sublime的原因之一。

[2016-09-19 00:35] EmmanuelBeziat opened #12235 "Allow an "open with…" in files view"
One useful feature from SublimeText that need to get inside VScode: the ability to define an option to open a type of file with a specific soft.

For example, if I try on a png file, it will allow me to open it in Photoshop.

![](https://files.not.live/Capture_decran_2016-09-19_a_02.31.05.jpg)

This is set through global configuration files like this :

[code]

There is definitely something to get

[2016-09-19 00:36] MaxLap commented on #7309
I'm annoyd by this exact problem when doing a search in the node_modules is a pain in the ass, or needs to use another application for the search.

The way I thought of it, a nice subfeature that has overlap is that if one of the "included files" part is equal or inside an excluded folder, then it should remain "included". This is simply logical, as otherwise specifying the included part in those

[2016-09-19 01:05] songxuangh commented on #12206
English is not good, you can use the translation ah.
英文不好，你可以用翻译啊。

[2016-09-19 01:25] wang37921 opened #12236 "tsc output messy code"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:
Win10, chinese, event change vscode local.json to locale to en, also got this problem
1. use default tsc configuration
2. CTRL+SHIFT+B
will got:
'tsc' �����ڲ����ⲿ���Ҳ���ǿ����еĳ���
���������ļ���

[2016-09-19 02:22] geocine commented on #9236
what do you mean by restoring your system?

[2016-09-19 04:22] Tyriar commented on #12233
Duplicate https://github.com/Microsoft/vscode/issues/3451

[2016-09-19 04:22] #12233 closed

[2016-09-19 04:25] Tyriar commented on #12196
Duplicate https://github.com/Microsoft/vscode/issues/11805

[2016-09-19 04:25] #12196 closed

[2016-09-19 04:34] bpasero commented on #12202
What helps me in those cases typically is to really start fresh via "`git clean -xfd`" and then "`scripts\npm.bat install`"

[2016-09-19 04:34] bpasero commented on #6854
Thanks for giving this a try 👍

[2016-09-19 04:50] zhangbolong opened #12237 "Process hang if preferred local display language doesn't support by OS"
- VSCode Version: Current 1.5.2
- OS Version: Windows 10

Don't know if this is a bug.
Background: Microsoft banned installing extra language packs on Windows 10 Chinese version.

Steps to Reproduce:
1. Change the local display language in locale.json to "en_US"
2. Since there's no language pack supported in the system, processes hang after start
3. Find locale.json and change local display langua

[2016-09-19 04:53] bpasero commented on #11883
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-09-19 04:53] #11883 closed

[2016-09-19 04:53] bpasero commented on #11924
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-09-19 04:53] #11924 closed

[2016-09-19 04:53] bpasero commented on #11893
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-09-19 04:53] #11893 closed

[2016-09-19 04:53] bpasero commented on #11757
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-09-19 04:53] #11757 closed

[2016-09-19 04:53] bpasero commented on #12016
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-09-19 04:54] bpasero commented on #12042
@michaeljota
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-09-19 04:56] bpasero commented on #12087
@mghhgm can you share more details about 1. and create a separate issue for 2. please

[2016-09-19 04:57] fronteed opened #12238 "Install a specific version of the package"
- VSCode Version: 1.5.2
- OS Version: OS X El Capitan

If I switch on the packages autoupdate option and some package will get broken, how do I revert it's update to the previous version. In other words, how do I install a specific version of the package from the marketplace?

This should help us if some package got broken or changed its behavior.
Autoupdate shouldn't work for the "selected versio

[2016-09-19 04:58] bpasero commented on #12157
@joaomoreno fyi

[2016-09-19 04:59] bpasero commented on #12160
@eamodio does the dev tools show any contents? can you share the extension you debugged?

[2016-09-19 05:00] bpasero commented on #12161
I think we do have an upper limit for diffing.

[2016-09-19 05:01] basarat commented on #11580
Was annoyed by TM as well and one of the key reasons for alm. Some docs on how that was done : https://basarat.gitbooks.io/alm/content/contributing/syntax.html :rose:

[2016-09-19 05:02] bpasero commented on #12170
https://github.com/Microsoft/vscode/issues/11762

[2016-09-19 05:02] #12170 closed

[2016-09-19 05:02] bpasero commented on #12172
Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market place, click on the **Support** link to find out more.

<im

[2016-09-19 05:02] #12172 closed

[2016-09-19 05:02] bpasero commented on #12173
Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market place, click on the **Support** link to find out more.

<im

[2016-09-19 05:02] #12173 closed

[2016-09-19 05:03] basarat commented on #7239
You probably have a `.js` file. That syntax (property initializers) is not in JS standard yet (but on track). Ofcourse it is supported by TS : https://github.com/basarat/typescript-book/blob/master/docs/classes.md#property-initializer :rose:

[2016-09-19 05:07] bpasero commented on #12197
@heartsekai are you talking about an extension?

[2016-09-19 05:08] bpasero commented on #12198
@alsong can you please provide a shorter title and write the issue in the description field?

[2016-09-19 05:10] bpasero commented on #12205
@shibang try File > Close Folder

[2016-09-19 05:10] #12205 closed

[2016-09-19 05:10] bpasero commented on #12206
@cw19931024 please report the issue in english

[2016-09-19 05:11] bpasero commented on #12207
I believe this is about C# and so it should be reported to the C# team.

[2016-09-19 05:11] #12207 closed

[2016-09-19 05:11] bpasero commented on #12208
@cw19931024 can you please provide the issue in english?

[2016-09-19 05:11] bpasero commented on #12209
Please file tslint issues against tslint repository.

[2016-09-19 05:11] #12209 closed

[2016-09-19 05:11] bpasero commented on #12211
Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market place, click on the **Support** link to find out more.

<im

[2016-09-19 05:11] #12211 closed

[2016-09-19 05:13] bpasero commented on #12212
@jrieken @Tyriar fyi

[2016-09-19 05:16] bpasero commented on #12224
@GroFinJarryd I have no clue what the issue is, please add more details and possibly screenshots/video

[2016-09-19 05:16] bpasero commented on #12225
@aeschli fyi

[2016-09-19 05:17] markschad commented on #12199
I can confirm this behavior in version 1.5.2

There is a small chance that the terminal will operate smoothly, but I have no idea what causes this.

[2016-09-19 05:17] bpasero commented on #12230
@gp187 you mean the new files do not show up in the files explorer in vscode?

[2016-09-19 05:19] bpasero commented on #12232
Could you try to reproduce with our insider release? We recently had a major update of our file system library:
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-19 05:19] bpasero commented on #12234
@buzhizhe please report the issue in english

[2016-09-19 05:20] bpasero commented on #12236
Encoding issue with tasks?

[2016-09-19 05:20] bpasero commented on #12237
I would be surprised if those steps can cause a hang, but @dbaeumer moving to you for comment first.

[2016-09-19 05:21] songxuangh commented on #12206
@cw19931024
look, the project leader has asked you to report the issue in english.
看，项目负责人要求你用英语报告这个问题。

[2016-09-19 05:21] wagerfield opened #12239 "Replacing " with ' causes two ' to be added at the end of a word in JavaScript files"
- VSCode Version: 1.5.2
- OS Version: 10.11.6

Steps to Reproduce:
1. Create a JavaScript file and write `var foo = 'foo'`
2. Select one of the single quote marks and then hit `CMD+D` to have VS Code select the other one
3. With both single quote marks selected hit `DELETE` to remove them
4. Hit the single _or_ double quote mark key to add the quote marks back in
5. Observe that two quote marks ar

[2016-09-19 05:22] bpasero commented on #12229
Maybe this is https://github.com/jshint/jshint/issues/2922 ?

[2016-09-19 05:28] bigopon opened #12240 "[Feature Request] Support ES6 class property type annotation by comment"
Currently you can do this
[code]

👍 Very cool as sometime intellisense needs help, but we can't do this
[code]

Would be great if supported.

Thanks

[2016-09-19 05:33] #12208 closed

[2016-09-19 05:35] #12206 closed

[2016-09-19 05:43] wang37921 commented on #12236
yes

[2016-09-19 05:50] txiaocao commented on #11746
Thanks! use "**javascriptreact**" is right...
I try "react","jsx","Javascript React","babel","javascript(babel)" is wrong...
if display is  real field,It's good

[2016-09-19 05:53] deanmongel commented on #12234
He want the feature of remembering last session and auto saving untitled files, just like 'hot exit' of sublime.

[2016-09-19 05:58] heartsekai commented on #12197
Hello Benjamin

Yes, well a language Packet.

_____________________________
From: Benjamin Pasero <notifications@github.com<mailto:notifications@github.com>>
Sent: Monday, September 19, 2016 07:08
Subject: Re: [Microsoft/vscode] tmLanguage stopped working since 1.3.1 (#12197)
To: Microsoft/vscode <vscode@noreply.github.com<mailto:vscode@noreply.github.com>>
Cc: heartsekai <lustenberger.joan@outloo

[2016-09-19 06:02] tingwu55 commented on #12209
I'm sorry, and I won't make the same mistake next time.Thanks!

[2016-09-19 06:02] BirdLeeSCUT opened #12241 "Vscode crashes every time after it mistakenly analyses grammar."
- VSCode Version: 1.5.2
- OS Version: Windows 10 x64

Steps to Reproduce:
1. When I write js or jsx code, vsCode will mistakenly analyses grammar some time, then it underlines the "mistaken" code which is no mistake in fact. And after not long, vsCode would crash.
2. This kind of  case happens so many times recently. Especially when I`m writing js, jsx & json code. I use eslint in my project, dose

[2016-09-19 06:02] bpasero commented on #12234
Ok that is https://github.com/Microsoft/vscode/issues/101

[2016-09-19 06:02] #12234 closed

[2016-09-19 06:03] bpasero commented on #12241
Assuming this is an issue with the TS/JS grammar moving to @waderyan . fyi @alexandrudima though

[2016-09-19 06:09] BirdLeeSCUT commented on #12241
@bpasero Thanks. It seems like it. When this issue occur, my cup utilization increase obviously, sometime approximately 100%

[2016-09-19 06:15] buzhizhe commented on #12234
yes,exactly is  #101,thanks.

[2016-09-19 06:18] nbapat43 commented on #12202
I ran both commands as you suggested. But it still returned "Maximum setlocal recursion level reached."

[2016-09-19 06:32] LiPengfei19820619 commented on #12191
@bpasero        Thank you for your attention.

[2016-09-19 06:32] MyErpSoft opened #12242 "Collapse the xml node 折叠xml节点显示错误"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:

1.Open the xml file by vsCode;
打开附件的xml文件；
[ValidatorContainer.zip](https://github.com/Microsoft/vscode/files/479315/ValidatorContainer.zip)

2.  Collapse the ‘Validators’ node. show this image,It's error.(It's right in vs2015 or vs2008).

[2016-09-19 06:47] buehler opened #12244 "showInputBox does not pass preset value"
- VSCode Version: 1.5.2
- OS Version: OSX 10.11.6

Steps to Reproduce:

1. use `vscode.window.showInputBox`
2. pass a string to the `value` options field
3. Hit enter

Please have a look at the following code:

[code]

The value in the `value` field of the options hash is not passed, when the user just hits "enter". So if the user is fine with my prediction, an empty string is passed to the promis

[2016-09-19 06:48] buehler commented on #11935
Hey @jrieken

Do you still need more information? I'd be happy to provide you with any information that I can.

Cheers

[2016-09-19 06:49] keyiis opened #12245 "Show errors and warnings in the files explorer"
Has any plugin can hint/mark error file in resource manage?looks like below
![-1](https://cloud.githubusercontent.com/assets/7766085/18624201/3ea0420a-7e78-11e6-85f3-6d51eb9a5e7c.jpg)

[2016-09-19 06:50] hikidd commented on #11861
After I unchecked this, it is ok now!!! hahaha! Thanks!
![unnamed_20160919_024713_772](https://cloud.githubusercontent.com/assets/17465708/18624186/20a63e80-7e78-11e6-9728-2f560d70a9a4.png)

![unnamed_20160919_024951_481](https://cloud.githubusercontent.com/assets/17465708/18624219/5e6d0c80-7e78-11e6-83cc-f069a203932e.png)

[2016-09-19 07:00] deepu105 commented on #4865
👍 the minimap feature is dearly missed

[2016-09-19 07:22] bpasero commented on #12241
To find out more about this issue, we need to get at the process that is causing the high load. VS Code creates multiple processes, each with different tasks. Depending on your OS you can get at the full command line of the process and paste it here. On Mac, the **Activity Monitor** allows to find the `PID` of the process and from a terminal `ps aux | grep <pid>` reveals its arguments. On Windows

[2016-09-19 07:22] bpasero commented on #12202
@joaomoreno does that error ring a bell? seems to originate from batch setlocal command?

[2016-09-19 07:28] bpasero commented on #12215
https://github.com/Microsoft/vscode/issues/8794

[2016-09-19 07:29] isidorn commented on #12203
@cdaringe might it be that you double clicked on some variable in order to change its value (gif attached)? And that for some reason the variables pane was left in a blurred state?

Unfortunetly we would need reproducable steps to investigate into this further.

![variablesblur](https://cloud.githubusercontent.com/assets/1926584/18624953/859d4b62-7e4b-11e6-811b-7ed72df45143.gif)

[2016-09-19 07:30] bpasero commented on #12210
@anseki that should not happen, we always try to restore the view position of the editor, so you cursor can be in some location but we restore the scroll position to where you left from. can you share more details and explain if this is not the case for you? see my video how it works for me:

![untitled](https://cloud.githubusercontent.com/assets/900690/18624979/c4507744-7e4b-11e6-97dc-d025ccb5433

[2016-09-19 07:33] tonymk commented on #818
https://marketplace.visualstudio.com/items?itemName=steoates.autoimport

[2016-09-19 07:40] egamma opened #12246 "'Enter' on a quick fix is not working"
_From @sandy081 on September 7, 2016 14:22_

Steps to reproduce:

- Click on a quick fix (yellow bulb)
- You see a message for eg: `Fix this "Missing Semicolon" tslint failure?`
- Press 'Enter'

Quick fix is not applied.

_Copied from original issue: Microsoft/vscode-tslint#82_

[2016-09-19 07:40] egamma commented on #12246
Actually you can also not navigate in the menu of quick fixes using the cursor keys.
![image](https://cloud.githubusercontent.com/assets/172399/18625177/02d4602e-7e4d-11e6-953f-104d145140a1.png)

Moving to VS Code for investigation.

[2016-09-19 07:41] jrieken commented on #11384
@Tyriar We still have the doc comments about changes in 1.6 in vscode.d.ts

[2016-09-19 07:45] jrieken commented on #11852
@DonJayamanne The text content provider is just there to feed *virtual* resources into the system. That's useful for a many scenarios - like opening generated source from a dll, generating a preview from markdown etc. Virtual documents are treated like 'normal' documents whenever possible. Now, a second thing is the `previewHtml` command which allows to render content (instead of rendering text).

[2016-09-19 07:47] jrieken commented on #10925
@Tyriar What is the definition of close? kill/dispose or not visible anymore?

[2016-09-19 07:48] ajaykrishnareddy opened #12247 "ERROR:terminal terminated with exit code 1"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 6.1.7600

Steps to Reproduce:

1.WHEN I USED TO OPEN THE CMD IN VS CODE IT SHOW ERROR THAT TERMINAL IS TERMINATED WITH EXIT CODE
2.

[2016-09-19 07:50] isidorn commented on #11944
This is how the suggest widget accept on enter behaves also in the editor.
We should be consistent. Thus assigning this to @jrieken to consider if it should be changed everywhere.

[2016-09-19 07:50] bpasero opened #12248 "Windows: Show file types for "save" dialog boxes"
We should show the known file types when opening the "Save As" file dialog on Windows.

[2016-09-19 07:50] bpasero commented on #11846
Splitting into https://github.com/Microsoft/vscode/issues/12248 and this one

[2016-09-19 07:51] jrieken commented on #8992
@Jakobud please open a new issue for this and note that comments on closed issues are likely to be missed

[2016-09-19 07:51] jrieken commented on #12114
dupe of #6941

[2016-09-19 07:51] #12114 closed

[2016-09-19 07:56] jrieken commented on #11944
Disagree - the editor and the repl are different beasts and accepting inserting a new line whenever you auto complete doesn't make sense in the editor. I am pretty sure @isidorn is aligned on that. Either change the default for the repl or tell users to do so - the change should be trivial, just preprint `^` to key. That tells the service to trigger listeners but still handle the event as it would

[2016-09-19 07:56] bpasero commented on #241
@JustinPealing the root cause of this issue is that we call setUserTasks from the electron API and this seems to disable the recent category. Fix is possible by using the new setJumpList API. Still, folders will not show up, but files.

[2016-09-19 07:57] bpasero commented on #241
Verification: right click on the task icon on Windows and see recent files showing up. Recent files are added e.g. by right click on a file and open with Code or  by using the "File > Open File" dialog.

[2016-09-19 07:58] bpasero commented on #12248
Verification: when you save an untitled file or "Save As" an existing file you see a dropdown with known file types.

[2016-09-19 07:58] bpasero commented on #3414
Verification: we show image dimensions and file size (latter for all binary files) in the right corner of the status bar.

[2016-09-19 08:02] isidorn commented on #11672
@roblourens closing this until we get reproducable steps or until you get a broken state on your machine again so we can jump in and investigate

[2016-09-19 08:02] #11672 closed

[2016-09-19 08:03] sandy081 commented on #12184
Search history is implemented in this - #5508. You can try this by downloading our [insiders build](https://vscode-builds.azurewebsites.net/insider)
With this feature you can always navigate between previous and current results. IMO, showing search results of current and previous search would in the same view might be confusing.

@thomas-anil Let me know if this suffice your requirement?

[2016-09-19 08:03] isidorn commented on #11900
This can be configured, an output after a task launch is configured via https://code.visualstudio.com/docs/editor/tasks#_output-window-behavior

Some details about configuring debug console showing https://github.com/Microsoft/vscode/issues/4045

[2016-09-19 08:03] #11900 closed

[2016-09-19 08:03] CyrilCharlier opened #12249 "PHP7.1.0-RC1 not supported ?"
- VSCode Version: 1.6.0-insider
- OS Version: Win10

Steps to Reproduce:
Install PHP 7.1.0-RC1 and you will get this error :

The language server needs at least PHP 7 installed and in your PATH. Version found: 7.1.0-RC1

![2016-09-19_10h02_57](https://cloud.githubusercontent.com/assets/11455745/18625652/43fdd1d6-7e50-11e6-966c-05da22141596.png)

[2016-09-19 08:04] jrieken commented on #12164
We use the editor-background [element](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/html/browser/htmlPreviewPart.ts#L80) and retrieve its [styles](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/html/browser/webview.ts#L137). Whatever is used there is what we use in the web view and I believe that's reasonable.

@anthonydresser What is the bug here?

[2016-09-19 08:07] sandy081 commented on #12027
There is no command to show the error panel but there is one to toggle `workbench.actions.view.problems`

You can use the default key-binding <kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>m</kbd> to toggle the panel. Panel is just a read only view to show errors/warnings. IMO the correct way is to remove errors/warnings is to fix it or configure (if supported) the source of them.

[2016-09-19 08:14] bpasero opened #12250 "Windows: source maps no longer working in selfhost insiders?"
I am no longer able to open a TS file in the insiders build from selfhost. This could either be a build problem or the electron update...

[2016-09-19 08:15] jrieken commented on #12214
@bpasero Is there a reasons why [this](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/browser/parts/statusbar/statusbarPart.ts#L239) is so complex and not just a call to the keybindings/commands service?

[2016-09-19 08:17] isidorn commented on #3351
@ArtemGovorov yes, please do.

[2016-09-19 08:20] joaomoreno commented on #11837
As mentioned above, it's not phoning home, nor pinging the main spaceship and neither is it calling the motherland. It is looking for extension updates. This is **not** a privacy issue, so it is not included in the **privacy issues** list.

[2016-09-19 08:21] jrieken commented on #12214
@AnWeber With respect to the comment line action the behaviour makes sense to me as the command needs editor focus (as most other actions). The question if it behave like the editor is focused and if this used to work before?

[2016-09-19 08:22] joaomoreno commented on #11280
Sorry, I can't understand this.

[2016-09-19 08:22] #11280 closed

[2016-09-19 08:22] jrieken commented on #11824
ok - it seems like TypeScript is giving you completions in string literals. Unsure if this is a bug or not - @dbaeumer or @waderyan will know. For the auto-acceptability we have issue #7326 and I'll close this issue as duplicate

[2016-09-19 08:22] #11824 closed

[2016-09-19 08:23] dbaeumer commented on #12236
Dups #3550

[2016-09-19 08:23] #12236 closed

[2016-09-19 08:23] isidorn commented on #12200
Debug hover currently has a lot of limitations since it is language agnostic and it has no understanding of the language AST. There are quite some issues open regarding the debug hvoer, please search the issues in this repo if it they do not cover your specific case please file a new bug with exact reproducable steps so we can investigate furhter - thanks!

[2016-09-19 08:23] #12200 closed

[2016-09-19 08:24] dbaeumer commented on #11824
@waderyan can you look into this please.

[2016-09-19 08:25] isidorn commented on #12158
Dup of https://github.com/Microsoft/vscode/issues/491

[2016-09-19 08:25] #12158 closed

[2016-09-19 08:25] jrieken commented on #11919
You could just expose the tenable property? Like

[code]

[2016-09-19 08:25] dbaeumer commented on #12229
@kumarharsh is there anything in the ESLint output pane?

[2016-09-19 08:28] dbaeumer commented on #12237
@zhangbolong th --locale switch doesn't rely on any language pack installed. It simply relies on language bundles shipped with VS Code. How does VS Code hand. Can you open the Developer Tools (Help -> Toogle Developer Tools) to see if there are any errors in the console.

[2016-09-19 08:31] bvancea commented on #12141
@waderyan Thanks for the tips, I will update the log settings and get back to you.

@dbaeumer Some additional information:
- I have not seen any visual notification regarding any tsserver crashes, save for the logging one in the dev tools.
- I am not adding any additional parameters to the Code.exe process.

[2016-09-19 08:32] wUFr commented on #9406
tried 1.4 and still keeps freezing, froze while editing settings.json - this is not related to any extensions, its just broken editor...

*again and again and again* - its freezes after its trying to save file on server, it takes about 2-3 seconds

[2016-09-19 08:32] isidorn commented on #12067
@weinand you have fixed this by reverting the other commit, thus closing this.

[2016-09-19 08:32] #12067 closed

[2016-09-19 08:33] jrieken commented on #12101
@hoovercj There is an extension doing something very similar: https://marketplace.visualstudio.com/items?itemName=jrieken.references-plusplus

[2016-09-19 08:33] isidorn commented on #10215
@weinand I think github accidently closed this issue by you pushing a revert of the fix -> reopening

[2016-09-19 08:33] bpasero commented on #9354
Verify you can bypass trash by using the context menu "Delete" action while holding Shift (Windows, Linux) or Alt (Mac).

[2016-09-19 08:36] joaomoreno commented on #12069
@dgileadi Is that a belief or are you sure?

[2016-09-19 08:36] isidorn commented on #12019
@roblourens makes sense, assigning first to @weinand to consider since this requires changes to the protocol

[2016-09-19 08:36] jrieken commented on #12162
That's how it works for me. A single click (or selection with arrow keys) preview the references in the peek window and a double click (or enter) jump to the reference. @octref Is there more that would allow me to reproduce? Any special single/double click configurations you are running with?

[2016-09-19 08:37] joaomoreno commented on #12135
When a branch has an upstream configured, it will just pushed to that. Otherwise, Code will ask you to which remote do you want to push.

I assume you want to push to a different remote, even when the branch has an upstream configured.

[2016-09-19 08:38] BirdLeeSCUT commented on #12241
![image](https://cloud.githubusercontent.com/assets/10753131/18626364/36200bc4-7e87-11e6-9283-067de5c25030.png)
I find a process that occupies the 20%+ of CPU all the time. What should I do next ?

[2016-09-19 08:38] mbeckenbach commented on #12146
The full visual studio uses comments to mark code blocks as collapsable in all languages. Depending on the language, the syntax is slightly different as the comment syntax is different.

Hard to explain, but web essentials has a nice screenshot of regions in the javascript area: http://vswebessentials.com/features/javascript

Regions should exist for all languages. The comment syntax is different

[2016-09-19 08:39] TurkeyMan commented on #586
How is this not maximum priority? O_0

[2016-09-19 08:39] jrieken commented on #12212
dupe of #12176

[2016-09-19 08:39] #12212 closed

[2016-09-19 08:39] joaomoreno commented on #12157
Closing as designed.

[2016-09-19 08:39] #12157 closed

[2016-09-19 08:40] joaomoreno commented on #12159
Merging into #8655

[2016-09-19 08:40] #12159 closed

[2016-09-19 08:41] bpasero commented on #12214
@jrieken no I think this code is old enough that it might have even been written before we had all actions (workbench, editor) go into the command service. I am fine changing this to a simpler call if possible 👍

[2016-09-19 08:41] bpasero commented on #12241
@BirdLeeSCUT thanks I think this is good enough, it is the renderer process for the window.

[2016-09-19 08:43] jrieken commented on #11935
Can you check for this setting `"editor.quickSuggestions": true`? By default we keep asking for completions while the user types (24x7 intellisense) - if that is turned off we still use trigger characters (unless turned off `"editor.suggestOnTriggerCharacters": true|false`)

[2016-09-19 08:43] joaomoreno commented on #12183
This is [fixed](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/extensions/electron-browser/extensionsWorkbenchService.ts#L525) in `master`.

[2016-09-19 08:43] #12183 closed

[2016-09-19 08:45] jrieken commented on #12214
@alexandrudima How should be tackle the enablement challenge (comment line invoked from outside the editor)? I see that the keybinding options ask for text focus (correctly) and `action.enabled` returns false. Unsure if the last refactoring gave me another knob to control this

[2016-09-19 08:50] joaomoreno commented on #12182
Can totally reproduce. Very strange. @jrieken any idea?

![image](https://cloud.githubusercontent.com/assets/22350/18626692/d67de9fa-7e56-11e6-8be9-b6fba3d465a4.png)

[2016-09-19 08:51] vchegwidden commented on #12135
@joaomoreno  yes that is correct

[2016-09-19 08:52] joaomoreno commented on #12238
We don't support this. It's been our decision to keep users always up-to-date. In case of breakage, we suggest pressuring the extension developer towards a fix, possibly collaborating on it together.

[2016-09-19 08:52] #12238 closed

[2016-09-19 08:53] joaomoreno commented on #12202
@nbapat43 Don't `cd scripts`. Just run `.\scripts\npm.bat install` from the root of the repository.

[2016-09-19 08:54] peterblazejewicz commented on #12221
Thanks! Interesting, this seems to apply to .html. Why this is not happening with .js or .ts? I can just format JS/TS without selection.

[2016-09-19 08:55] jrieken commented on #12192
You should not use backslashes for the URI because that isn't seen a path separator but it will all be part of the authority. Also, note that there is `Uri.file` and `Uri.with` which help you a lot to construct a valid uri

[2016-09-19 08:55] #12192 closed

[2016-09-19 08:57] FLWrd opened #12251 "C/C++ plugin crashes various operations in TypeScript (and Javascript) code"
- VSCode Version: 1.5.2
- OS Version: 10.11.6

Steps to Reproduce:

1. Open typscript project
2. type cmd-T and start typing the name of a symbol

This resulted in a crash in Microsoft.VSCode.CPP.Extension.darwin here:

Removing the plugin restored normal functioning.

[2016-09-19 08:57] weinand opened #12252 "Test External Terminal support for runInTerminal request"
Test for #11581:

- [x] Windows - @stevencl
- [x] OS X - @chrmarti
- [x] Linux - @octref

Complexity 2

In this release the implementation of the 'run in external terminal' feature (`"console": "externalTerminal"`) of node-debug has been moved to VS Code (and is now available for all debug adapters.)
A benevolent side effect of this move is that it is now possible to configure the terminal program

[2016-09-19 08:58] jrieken commented on #12182
@joaomoreno Unsure what your screen shot shows. But you mean this?
![screen shot 2016-09-19 at 10 58 08](https://cloud.githubusercontent.com/assets/1794099/18626881/f871aff0-7e57-11e6-8ee3-b78bde5cfb93.png)

[2016-09-19 08:59] jrieken commented on #12182
Iff so its from TypeScript/JavaScript as it's not a word based suggestion but a symbol suggestion from them

[2016-09-19 09:00] joaomoreno commented on #12242
In VSCode, formatting works based on indentation. The file has a _broken_ indentation, given its contents. Collapsing works if you run the `Format Code` command.

[2016-09-19 09:00] #12242 closed

[2016-09-19 09:04] #11980 closed

[2016-09-19 09:04] Huachao commented on #8794
@bpasero, can we also have the function to use mouse right click in webview, and I also want native support ctrl+F to find

[2016-09-19 09:05] joaomoreno commented on #12249
Please file this in the appropriate extension repository.

https://github.com/felixfbecker/vscode-php-intellisense

[2016-09-19 09:05] #12249 closed

[2016-09-19 09:06] joaomoreno commented on #12251
Please file this in the appropriate extension repository.

https://github.com/Microsoft/vscode-cpptools

[2016-09-19 09:06] #12251 closed

[2016-09-19 09:07] joaomoreno commented on #12182
Yeah. Moving to @waderyan then.

[2016-09-19 09:07] weinand opened #12253 "Test launch option that allows run node project by npm script"
Test for #2726:

- [x] any OS - @dbaeumer

Complexity 2

A frequent feature request was to support running 'npm' scripts directly from a launch configuration.
This has now become possible by the following small tweaks of existing launch configuration concepts:
- Any program available on the PATH (e.g. 'npm', 'mocha', 'gulp', etc.) can now be used for the `runtimeExecutable` attribute and arguments

[2016-09-19 09:09] isidorn commented on #12127
Dup of #11833

[2016-09-19 09:09] #12127 closed

[2016-09-19 09:09] weinand opened #12254 "Test globbing support for the `outFiles` attribute in the launch config"
Test for #6915:

- [x] Windows - @roblourens
- [x] OS X - @ramya-rao-a
- [x] Linux - @Tyriar

Complexity 3

When debugging transpiled code (e.g. TypeScript) and the build process generates the JavaScript code into a specific directory, it is necessary to help the node debugger finding this generated code. In previous version of VS Code this was done by specifying the root directory of the generate

[2016-09-19 09:12] yanivefraim opened #12255 "Debug: breakpoint doesn't work with `babel-register` and source maps"
- VSCode Version:
1.5.2
- OS Version:
OS X El Capitan 10.11.6

Steps to Reproduce:
Use [this](https://github.com/yanivefraim/vscode-node-debug) example repo in order to reproduce the issue (clone + npm install + from vscode choose `launch`/`launch mocha` + F5)

When debugging node (index.js/mocha tests) using `babel-register` + source maps, breakpoint does not function (explicit `debugger` stateme

[2016-09-19 09:14] ferarias commented on #11618
I think I'm unable to build from sources. Are there any instructions or troubleshooting page?

[2016-09-19 09:15] jrieken commented on #12244
dupe of #11503

[2016-09-19 09:15] #12244 closed

[2016-09-19 09:17] nobil007 commented on #12182
Ya, My issue is same as @jrieken reported.
![vscode](https://cloud.githubusercontent.com/assets/20113351/18627285/cf585a86-7e77-11e6-8be8-fa190c1a03a2.PNG)

[2016-09-19 09:25] weinand opened #12256 "Debug: investigate how to present inline values in source when stepping through code"
Investigate how VS Code could present inline values in source when stepping through code

/cc @isidorn @roblourens

[2016-09-19 09:26] #241 closed

[2016-09-19 09:26] #3414 closed

[2016-09-19 09:26] #7470 closed

[2016-09-19 09:26] #8819 closed

[2016-09-19 09:26] #12248 closed

[2016-09-19 09:26] ArtemGovorov opened #12257 "When output channel is cleared and new content is written, it is always scrolled to the last line"
- VSCode Version: 1.6
- OS Version: all

Steps to Reproduce:

Here is the real-world scenario we're having issues with in wallaby. A user is editing the code, we are creating the output where the relevant bit of information (last edited test) is the first displayed in the output. However, because the output is always scrolled to the bottom, the feature is not very usable.

![vsc](https://cloud.git

[2016-09-19 09:26] bpasero commented on #7470
Verify: you can save files that are not dirty and their mtime/atime changes on disk. E.g. install an external node watcher and verify it fires.

[2016-09-19 09:26] ArtemGovorov commented on #3351
@isidorn Done: https://github.com/Microsoft/vscode/issues/12257

[2016-09-19 09:28] CyrilCharlier commented on #12249
OK thanks

[2016-09-19 09:29] bpasero commented on #8794
@Huachao yes, but please follow our issue guidelines and create separate issues for separate isuses.

[2016-09-19 09:29] nobil007 commented on #12182
The issue in vs code is fine. But the tool [GitHub] which you provided to report the issue have the same issue. One underscore is eliminated from all places in my comment. I had put a underscore in between the single quotes in " [Only 2 '' as prefix] ". But is not showing in the view. But it shows in the editing view.

[2016-09-19 09:30] joaomoreno commented on #12250
Works for me in the latest insiders.

[2016-09-19 09:30] bpasero commented on #12149
Suspect this is an issue with intellisense in JS.

[2016-09-19 09:30] wmaurer opened #12258 "rxjs `switch()` method breaks syntax highlighting"
- VSCode Version: 1.5.2
- OS Version: Windows

Steps to Reproduce:

1 Paste the following code into a new file `foo.ts`

[code]

2 Notice syntax highlighting for the code after the `switch()` method call no longer works:

![image](https://cloud.githubusercontent.com/assets/2899448/18627539/c5386724-7e5b-11e6-95ad-63dc3f88e22f.png)

3 Uncomment the `switch()` method call and notice all is fine with

[2016-09-19 09:31] Huachao commented on #8794
@bpasero I already include this request in my original issue, however you closed it...

[2016-09-19 09:31] isidorn commented on #4428
Yes, we always show the glyph margin for breakpoints setting.
@bpasero @alexandrudima Should we then hide this option from the `settings.json` so it is not bubbled up to the user?

[2016-09-19 09:31] bpasero commented on #1426
Verify: (Mac only) you can open a folder from the command line into VS Code that uses not the letter casing as it is on disk and you still get file events properly.

[2016-09-19 09:32] bpasero commented on #1847
This issue was fixed meanwhile in node.js and we updated to a newer Electron version.

[2016-09-19 09:32] #1847 closed

[2016-09-19 09:33] bpasero commented on #5200
This should be fine now because our Electron update now includes a version of `fs.realPath` that reports the casing at it is on disk.

[2016-09-19 09:33] #5200 closed

[2016-09-19 09:33] #5601 closed

[2016-09-19 09:33] anseki commented on #12210
I found this issue occurs when a part of the code is folded.
When one or more parts of the code is folded, the scroll position of that code is changed to cursor position when the view is activated.
After I did "Unfold All" command, the issue didn't occur.

[2016-09-19 09:34] bpasero commented on #5904
Duplicate of https://github.com/Microsoft/vscode/issues/1426

[2016-09-19 09:34] jrieken commented on #1396
Does it mean it's asymmetric? So when I have 'foo: true' in `launch.json` and `launch.foo: false` in `settings.json`. From my understanding the latter value (`false`) will be the effective value but it seems now that writing will change the other value. Is that correct/desired?

[2016-09-19 09:34] PunchyRascal commented on #7470
Well that's basically what my setup is (I use https://github.com/guard/guard) and it does not detect any change and so does not run any tests. Just now I tried to save file without any changes and there is no change to any of the dates either on remote or local drive.

[2016-09-19 09:34] bpasero commented on #6152
This landed.

[2016-09-19 09:34] bpasero commented on #6414
Fixed with the electron update.

[2016-09-19 09:34] #6414 closed

[2016-09-19 09:35] bpasero commented on #8016
@Tyriar if so, the context menu hang is fixed by our electron update.

[2016-09-19 09:35] bpasero commented on #8241
I think our Electron update fixed this.

[2016-09-19 09:35] #8241 closed

[2016-09-19 09:35] bpasero commented on #9673
Fixed with the electron update.

[2016-09-19 09:35] #9673 closed

[2016-09-19 09:36] KimTheFirst commented on #12232
OK, I’ll give it a go and see what happens.

From: Benjamin Pasero [mailto:notifications@github.com]
Sent: 19 September 2016 06:20
To: Microsoft/vscode <vscode@noreply.github.com>
Cc: KimTheFirst <this_is_a_unique_username@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [Microsoft/vscode] Sporadic "contents on disk are newer" issues when saving to network share (#12232)

Could you tr

[2016-09-19 09:40] mredbishop commented on #12078
@weinand This is now fixed by the looks. Just ran the latest insiders update and tested it.

Thanks :)

Ed

[2016-09-19 09:41] bpasero commented on #6912
Seems to work ok now with the electron update.

[2016-09-19 09:42] bennyscetbun commented on #6912
Sorry i ve missed your message.
Seems to work fine now :) my bad

[2016-09-19 09:47] bpasero commented on #8794
@Huachao trying to teach you how to write good isses :)

[2016-09-19 09:47] bpasero commented on #4428
Yeah, if it cannot be changed it should also not be in the schema for settings from the editor 👍

[2016-09-19 09:49] bpasero commented on #12250
@joaomoreno did you try on Windows?

[2016-09-19 09:49] bpasero commented on #12250
Ah yeah, now it works for me too. Weird...

[2016-09-19 09:49] #12250 closed

[2016-09-19 09:50] bpasero commented on #7470
@PunchyRascal you can verify this tomorrow from our insider build when it lands.

You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-19 09:51] bpasero commented on #6912
Thanks

[2016-09-19 09:51] ZCShou opened #12260 "Not enough storage is available to process this command."
- VSCode Version: 1.60
- OS Version: Win 10

Steps to Reproduce:

1.
2.
![2016-09-19_175043](https://cloud.githubusercontent.com/assets/8591065/18628198/9edd38d0-7e91-11e6-9f03-1ad8f71b714c.png)

[2016-09-19 09:52] bpasero commented on #12210
I can reproduce that when a region is folded, the view state is not preserved and I end up scrolled to the top. @alexandrudima @aeschli fyi.

[2016-09-19 09:53] bpasero commented on #12210
![untitled](https://cloud.githubusercontent.com/assets/900690/18628267/b0463b80-7e5f-11e6-8d47-3a0ebfb994e1.gif)

[2016-09-19 09:54] jrieken commented on #11976
The problem is that we call [`changeOne`](https://github.com/Microsoft/vscode/blob/master/src/vs/platform/markers/common/markers.ts#L19) per uri+owner combination which leads to many events. Processing those events (problems view) takes a long time. We should not fire so many events...

[CPU-20160919T115033.cpuprofile.zip](https://github.com/Microsoft/vscode/files/479685/CPU-20160919T115033.cpupro

[2016-09-19 10:01] bpasero commented on #1396
@jrieken today it seems random who is winning in such a case. in my testing the `'launch.foo': false` in `settings.json` is actually winning over the `'foo: true'` in `launch.json`.

I think when merging settings in our config model we should first take all settings from `settings.json` and then overwrite the ones found in any other JSON file.

[2016-09-19 10:03] Huachao commented on #8794
@bpasero , sorry for the inconvenience, I thought the title and the description is easy to read, while in fact it's poor. Anyway, is this feature request in your recent schedule?

[2016-09-19 10:12] bpasero commented on #8794
@Huachao currently not, but if someone is willing to help, we accept pull requests.

[2016-09-19 10:14] Huachao commented on #8794
@bpasero thanks 😃

[2016-09-19 10:35] weinand commented on #12078
@mredbishop the problem was probably the value of ${outDir}. Recently we changed the handling of outDir to search for all source maps eagerly and not only on demand. Due to this [bug](https://github.com/Microsoft/vscode/issues/12138) in our code we would stumble over the first broken or missing sourcemap while searching in ${outDir}. As long as you confine ${outDir} to only the folder where the ge

[2016-09-19 10:35] #12078 closed

[2016-09-19 10:35] weinand commented on #12078
duplicate of #12138

[2016-09-19 10:40] AnWeber commented on #12214
@jrieken According to an user of my extension [statusbar-commands](https://github.com/AnWeber/vscode-statusbar-command/issues/4) the issue happens since 1.5.1.

By using the command palette the focus is not lost either. Is it possible to use the same methods.

[2016-09-19 10:41] LiPengfei19820619 opened #12261 "Is there a plan to develop 64bit version on Windows?"
- VSCode Version: 1.5.2
- OS Version: Windows 10 1607 64bit

Steps to Reproduce:

I hope there is a 64 bit version of VSCode on Windows.

Thank you .

[2016-09-19 10:42] mredbishop commented on #12078
@weinand Unfortunately it would be a big change to our structure to move to a sub folder as our code is split between 3 main modules that are in directories off the root. We wouldn't do this if we were making a new app but this structure is legacy.

The globbing would ultimately solve the issue for us and really speed up our start time when debugging. When is that likely to make it to Insiders?

T

[2016-09-19 10:50] joaomoreno commented on #11618
What errors do you see?

[2016-09-19 10:51] jonburger opened #12262 "Ability to listen for command events in the extensions API: `onCommand(...)`"
When creating an extension the author can activate it by listening for a specific command event, however this is the only time when an extension can seemingly respond to a command.

It would be very useful to have an `onCommand(...)` type listener option.

My use case was creating an status bar extension that could watch for build tasks `workbench.action.tasks.build`, and then also listen for `wor

[2016-09-19 10:53] weinand commented on #12078
@mredbishop you can already use the globbing in Insiders. Just use the new `outDirs` attribute and specify an array, e.g. if your generated code lives in "out", "bin", and "dist" use this:
[code]

[2016-09-19 10:53] nblx2k4 commented on #2267
I miss this feature as well especially that I use it a lot!!

[2016-09-19 11:22] dgileadi commented on #12069
I can't be sure.

[2016-09-19 11:34] lukaschal commented on #12171
@chongkong Please is it possible to add some ENU/KOR screenshots or some suggestion what exactly is wrong with current translation ?

[2016-09-19 11:36] chongkong commented on #12171
current Korean translation for `indentationToSpaces` is:

This is mistranslation that translated `indentation` as `identification` (as you can see, there's `ID` in Korean string 😄)

[2016-09-19 11:42] formulahendry opened #12263 "[contributes.menus] how to show menu only in editor not Output window"
I have an [extension ](https://marketplace.visualstudio.com/items?itemName=formulahendry.code-runner) which contributes a menu in context menu of editor. However, the menu also shows in the Output window. How could I make it only show in editor. BTW, the menu shows in Output window but not in Debug Console or Integrated Terminal. Is it bug or by design?

[2016-09-19 11:43] ferarias commented on #11618
[code]

[2016-09-19 11:45] salda commented on #4865
I miss it heavily too.

[2016-09-19 11:46] johnliu2016 commented on #12218
mistranslated string in [extensionsInput.nls.resx.lcl](https://monacotools.visualstudio.com/Monaco/_git/MonacoLocalization#path=%2FLocalize%2Fchs%2Fvscode%2Fsrc%2Fvs%2Fworkbench%2Fparts%2Fextensions%2Felectron-browser%2FextensionsInput.nls.resx.lcl&version=GBmaster&_a=contents)

[2016-09-19 11:46] bvancea commented on #12141
@waderyan Here is the output after updating the "typescript.tsserver.trace" to "verbose".
[code]

Where can I set `TSS_LOG=-level verbose` ? Is it an environment variable?

[2016-09-19 11:49] lukaschal commented on #12085
@bpasero  In this case is "Quick Open" localized on all languages except DEU and ESN.  So should be this left untranslated on all languages or it should be depended on exact specific language rules ?

DEU:

SRC: Navigate Next in Quick Open
TGT: Zum nächsten Element in Quick Open navigieren

ESN:

SRC: Navigate Next in Quick Open
TGT: Navegar a siguiente en Quick Open

FRA:

SRC: Navigate Next in Q

[2016-09-19 11:54] johnliu2016 commented on #12085
@janbaltus any points from languages?

[2016-09-19 11:55] lukaschal commented on #11978
@liddiard We have prepared correct translations for all languages. Should we change both instances of source "open editors" ? If now, which should be changed ? Rid: "openEditors" or Rid: "treeAriaLabel" ?

[2016-09-19 11:55] jrieken commented on #11976
We have found a couple of issues

* [ ] event storm by emitting in the loop
* [ ] the problems view sorting and filtering *all* elements

[2016-09-19 12:17] roblourens opened #12264 "Terminal - Can't skip shell commands that are bound to some F keys"
OSX. Add to settings -

[code]

When I press F5, which should start debugging, it inserts `5~` into the shell. But if I bind that command to F3, then it works. Is it possible to make this work?

[2016-09-19 12:18] trubit commented on #670
Thanks! CSS support inside HTML work is planned to October, what about JS aka <script> support?

[2016-09-19 12:21] kazemihabib commented on #11770
:+1:

[2016-09-19 12:21] bpasero commented on #12085
@lukaschal @johnliu2016 fyi in our docs we also refer to it by the name "Quick Open" so I suggest to keep it untranslated across all languages (e.g. see http://code.visualstudio.com/docs/editor/codebasics)

[2016-09-19 12:34] aflat commented on #8968
It better.
1. Dragging app from retina screen to external monitor, works
2. Editing a comment section in a file doesn't change colors anymore.
3. Opening the editor on the external monitor shows the correct colors

Only issue left is when I have the editor on the external monitor, and I switch files from the explorer view on the left. The newly selected file still has the wrong colors. Moving it t

[2016-09-19 12:38] StefH opened #12265 "Window freeze when receiving lots of output (renderer)"
- VSCode Version: 1.5.2
- OS Version: Windows 2008R2

Steps to Reproduce:

1. Open an Java Maven project with a lot of tests
2. Do a `maven clean install` as task command

You get an error message like:
![2016-09-19_14h30_47](https://cloud.githubusercontent.com/assets/249938/18632130/233db5e4-7e76-11e6-84a6-cb4130e5d58c.png)

When you wait until Maven is finished running all the tests, the VS Code

[2016-09-19 12:40] fibric commented on #12042
I have the same issue. When running `npm i` VScode freezes and npm fails because of file/folder lock caused by VScode.

npm complains about insuficient permissions because it can't rename/move files&folders at the finishing stage.
[code]

VSCode locked a lot of files.
![VScode locked a lot of files](https://cloud.githubusercontent.com/assets/623932/18632207/8c52f01c-7e76-11e6-9033-7171456590e9.png

[2016-09-19 12:41] essuraj opened #12266 "Ability to pin folders, files by workspace to the explorer top"
It would be nice to have the ability to pin folders, files by work space
small sample attached below
![Sample custom toolbar](https://cloud.githubusercontent.com/assets/1737617/18632279/430198aa-7e94-11e6-8f35-3352c9fb429b.jpg)

projects tend to become long and switching can be eased.
config can be maintained with a simple json array withing settings.json inside .vscode folder

[2016-09-19 12:48] bpasero commented on #12042
@fibric can you hover over the processes in process explorer to find out their command line arguments? this would help finding out which process is hogging CPU

[2016-09-19 12:48] chaunax commented on #11781
FYI, I was able to hack this ability in by modifying the resources\app\extensions\javascript\package.json file. Look for the mimetypes array, and add in text/babel. I used it to add in "text/msx;harmony=true" for mithril [msx](https://github.com/insin/msx) syntax (FYI to @insin).

[2016-09-19 12:54] joaomoreno commented on #11618
Can you `git pull`, `git clean -xfd node_modules` and try again?

[2016-09-19 13:06] isidorn commented on #12066
This is a great feature request, however after discussing with @weinand we would need an AST understanding of the language in order to support this feature. Since the source map talks about the location in the file and there is no other correlation between the minified name and the original one.

We should investigate in the future what it would take for us to have a better understanding of the AS

[2016-09-19 13:07] lukaschal commented on #12218
Waiting for linguistic input.

File: src\vs\workbench\parts\extensions\electron-browser\extensionsInput.nls.resx
ID: ".resx", 0; "extensionsInputName"
SRC: Extension: {0}
TGT: 扩展名: {0}

[2016-09-19 13:08] MaximoTrinidad commented on #12233
Sorry! I copy/paste the information on #3451.
Thanks,
Max

[2016-09-19 13:09] MaximoTrinidad commented on #3451
- VSCode Version: 1.5.2 Linux deb version
- OS Version: Windows 10 Pro Insider Preview
- Remote Connection to: Ubuntu 16.04.1 LTS Desktop
- Linux xrdp: Xfce-session

Steps to Reproduce:

1.  On Windos 10, open Remote Desktop application
2.  Connect to Linux machine using IP Address provided.
3.  At the Xfec session, click on "Applications | Development | Visual Studio Code"

Results:
Nothing opens

[2016-09-19 13:10] cmosespl commented on #9832
Hello. I'm working a lot with books and dictionaries in text format (html, xml, sql, others). I do parsing, conversion and editing. VS Code works stable and smooth with files around 10MB, great job MS! How ever from time to time I have to work also with dictionaries with size of 100+MB and cannot do my job in VS Code. It would be awesome to have possibility to do work using one app instead of swit

[2016-09-19 13:12] isidorn commented on #11829
Yes this was removed since it was a big hack on our side (it was not a registered keybinding).
Please use ctrl + J to toggle the output panel, or set any other keybinding for `workbench.action.togglePanel` in your `keybindings.json`

[2016-09-19 13:12] #11829 closed

[2016-09-19 13:17] bpasero commented on #1396
Pushed a change to ensure that any value in `tasks.json` or `launch.json` overwrites anything in `settings.json` under the same key.

[2016-09-19 13:23] jrieken commented on #11976
@sandy081 I have pushed changes to send all events at once and to make reading of marker a little faster. that improves the situation a tiny bit. as discussed the culprit is the problems view. pls continue from here

[2016-09-19 13:24] bpasero commented on #1162
This landed. To verify: start VS Code from the command line 2 times after each other, once from a directory that has the real casing as it is on disk and once with different casing. In both cases you should get the view state restored from the first launch, even though the paths are different.

[2016-09-19 13:34] jrieken commented on #239
@bpasero Is the save participant API fit for async operations? I have the following API in mind but it requires that I can participant to save in an async way

[code]

So the idea is that the event allows you to push text edits that will be applied to the document before saving. When multiple *will-save*-listeners exist edits will be applied in sequences like

[code]

[2016-09-19 13:38] isidorn commented on #12108
@bpasero this is coming from [removeAnsiEscapeCodes](https://github.com/Microsoft/vscode/blob/master/src/vs/base/common/strings.ts#L543)
It seems like the xA is the ansi escape code for new line.

[2016-09-19 13:43] bpasero commented on #12108
@isidorn got it. I think we cannot change this because it could mean that the output for other programs suddenly end up on a single line.

[2016-09-19 13:50] bpasero commented on #239
@jrieken the save participant today is sync (see https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/files/common/editors/textFileEditorModel.ts#L433) but I should be able to make it async I think.

The tricky part is that on shutdown a user might decide to "Save All" from the confirm dialog and shutdown phase is a timing sensitive area (e.g. when you are also restarting the OS)

[2016-09-19 13:53] isidorn commented on #12108
Thus closing this as designed

[2016-09-19 13:53] #12108 closed

[2016-09-19 14:09] Tyriar commented on #12264
@roblourens weird, I actually do this and it works fine for me.

[2016-09-19 14:10] chrmarti commented on #11963
The extension host using a lot of CPU was previously reported as #10439. We'll keep tracking that there. I'm closing this one as a duplicate of #11874 since that appears to have fixed all the reported cases of the search process running high on CPU.

[2016-09-19 14:10] #11963 closed

[2016-09-19 14:12] isidorn commented on #11854
@ghisguth please report this issue to the c# extension here https://github.com/OmniSharp/omnisharp-vscode

The C# extension would need to return an object with a reference > 0 when the user evaluates an expression like this. Then vscode will display that the object can be expanded and on expansion ask for children from the debug adapter for the given reference.

[2016-09-19 14:12] #11854 closed

[2016-09-19 14:14] Anjmao opened #12267 "Double-click does not select $"
- VSCode Version: 1.5.2
- OS Version: Win 10

Steps to Reproduce:

1.  Create var $name = 'VsCode'; and double click on $name. You will see that only name is hovered, but sign $ is not
2.  ctrl+c ctrl+v will copy only name without $ sign

$ is valid char for names so I think it should be copied also.

[2016-09-19 14:15] chrmarti commented on #10439
The extension host using a lot of CPU was again reported by @pitAlex in [#11963](https://github.com/Microsoft/vscode/issues/11963#issuecomment-247688025).

[2016-09-19 14:15] roblourens commented on #12264
I just launched with `--disable-extensions` and a user-data-dir so my settings/keybindings aren't applied.

Then created one keybinding like
[code]

Same result

[2016-09-19 14:15] Tyriar commented on #10925
@jrieken kill/dispose,  I'd prefer to name this `onDidDisoseTerminal` to be consistent.

[2016-09-19 14:17] Tyriar commented on #11919
If that's preferable 👍

[2016-09-19 14:17] nkostadinov commented on #396
This is a show stopper for me too. I see some devs are wondering why you have multiple git repos at once. This happens with almost any language that uses third part modules. Just look at php - composer, js - bower, node - npm, golang etc. It is very common to start a project which uses some of your modules and you want to edit and commit the changes in the scope of the project.

[2016-09-19 14:20] jrieken commented on #11919
Yeah - I think that more JavaScript'ish

[2016-09-19 14:21] #12130 closed

[2016-09-19 14:22] jrieken commented on #10925
👎 We already have this and it is also about disposing

[code]

[2016-09-19 14:25] Bill-Stewart commented on #12227
Duplicate of #4873 ?

[2016-09-19 14:27] jrieken opened #12268 "textModel.getMode is not a function"
* run the integration tests and notice the error below showing on the console

[code]

[2016-09-19 14:28] #11503 closed

[2016-09-19 14:29] #4428 closed

[2016-09-19 14:34] Tyriar commented on #10925
So just improve the jsdoc that it's about disposing, not hiding?

[2016-09-19 14:35] Tyriar commented on #10925
Also `onDidCloseTextDocument` is a little different isn't it? Dispose on that could indicate deleting the file.

[2016-09-19 14:36] #12056 closed

[2016-09-19 14:38] Tyriar commented on #12247
That typically means that your shell path is wrong. Do you set `terminal.integrated.shell.windows` to something? If not what do you have the `%COMSPEC%` environment variable to on your system?

[2016-09-19 14:40] buehler commented on #11935
Well I just checked, `quickSuggestions` is on (`true`) and `suggestOnTriggerCharacters` is true as well.

The behaviour is still the same. On normal typing, only the normal suggestions of vscode are visible. Only if I explicitly call the suggestions with the keycombo, my suggestions show up.

[2016-09-19 14:45] prusello commented on #11886
I'm having the same issue under Windows 7 64 bit with v1.5.2 and previously with v1.3.1. Same process to replicate as everyone else. I had Windows Task Manager generate a process dump, but it's 350 MB so not so easy to share. Let me know if there's a better way to get information on this. When looking at the processes tab in Task Manager, one of the Code.exe *32 processes was using 250 MB of memor

[2016-09-19 14:49] TurkeyMan opened #12270 "ctrl-shift-f in output window does not populate the search box with text"
- VSCode Version: 1.5.2
- OS Version: Arch

Steps to Reproduce:

1. Highlight text in output window
2. ctrl-shift-f (find in files)

Notice that the highlighted text has not populated the find box like it does in editor windows.

[2016-09-19 14:52] isidorn commented on #11978
I have added comments to clarify where 'open' is meant to be the adjective.
@lukaschal you can see in the attached commit on which exact instance is 'open' an adjective.
https://github.com/Microsoft/vscode/commit/fc89088ff7ee7f4588fb7aee977b08653b476511

[2016-09-19 14:57] #12121 closed

[2016-09-19 15:05] herbfickes commented on #7078
@bpasero, the preview version worked great on both my 32 and 64 bit Ubuntu images.  I'm going to try it on our Windows dev image as well, though we haven't seen that problem on it.

Thank you and btw, VSCode is fantastic.  We've even gotten our 'anything-but-MS' developers here to use it.

[2016-09-19 15:06] octref commented on #12162
@jrieken
When the references are in the same file as the place where you open "Find All References".

For example, try it on `FileStat` in this line https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/files/common/explorerViewModel.ts#L21. Click the references under `explorerViewModel` (not the first few, the ones in the latter part).

[2016-09-19 15:18] ghisguth commented on #11854
Thank you. Reported here: https://github.com/OmniSharp/omnisharp-vscode/issues/763

[2016-09-19 15:21] eamodio opened #12272 "[feature request] Add support for SymbolKind.AnonymousMethod (or SymbolKind.UnnamedMethod, SymbolKind.Lambda?)"
- VSCode Version: `Version 1.6.0-insider (1.6.0-insider)` de7267dc4e521aa7ef4187fd6b9c98570beea540
- OS Version: `OS X El Capitan Version 10.11.6 (15G1004)`

I think it would be great if there was a `SymbolKind` for anonymous (i.e. unnamed) methods/functions etc. This would allow for extension (especially CodeLensProviders) to differentiate between the different method types. For example, in my ex

[2016-09-19 15:25] eamodio commented on #12160
@bpasero I'm working on [GitLens](https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens). The dev tools is starting to show content, but it needs to be closed quite quickly to exhibit the issue.

[2016-09-19 15:32] andreshg112 opened #12273 "Not indenting label and option tags in HTML5"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:22:54.636Z)
- OS Version: Linux x64 4.4.0-36-generic

Steps to Reproduce:
1. Ctrl + Shift + I is not indenting labels or select options in HTML.

[2016-09-19 16:01] suryanu opened #12274 "Preview does not render colors correctly"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:
Developers really want live preview on browser like dream waver beta 3
1. It not render colors correctly.
2. Need buttons for web developers with shortcuts for live preview.
![screenshot 51](https://cloud.githubusercontent.com/assets/188990

[2016-09-19 16:01] isidorn commented on #12123
FYI @weinand

[2016-09-19 16:02] isidorn commented on #12120
fyi @weinand

[2016-09-19 16:03] suryanu commented on #12274
Adobe brackets has very good live preview

[2016-09-19 16:05] weinand commented on #12078
@mredbishop attribute name change ahead!:
in the next Insider build the name of the attribute "outDirs" will become "outFiles" to better reflect what those glob patterns specify. This name will be the final name appearing in the September release.

[2016-09-19 16:09] aeschli commented on #12096
It's what the Seti theme does. See https://github.com/jesseweed/seti-ui/blob/6c6e63900105d326bd1b7475b8c04af57986ece2/styles/icons/mapping.less

Please file your suggestion there, VSCode will then pick it up from there.

[2016-09-19 16:09] #12096 closed

[2016-09-19 16:11] aeschli commented on #10455
File icon sets can also use png.

[2016-09-19 16:17] aeschli commented on #10473
This issue is not related to saving a typescript file. Please file a separate issue.

[2016-09-19 16:18] aeschli commented on #11787
Can you try the insiders build? (https://code.visualstudio.com/insiders)?

[2016-09-19 16:18] jrieken commented on #3220
We are exploring this in September and will likely make this happen in October - stay tuned

[2016-09-19 16:28] nfantone commented on #10455
@aeschli Right. My question was more about font-faces. I know `.png` files can be used, I was asking about whether you could use something like [FontAwesome](http://fortawesome.github.io/Font-Awesome/) or [Devicons](http://vorillaz.github.io/devicons/) on a custom theme.

[2016-09-19 16:28] scottpschaffer commented on #2882
I just wanted to note that I am running version 1.5.2 and I have only the C# extension loaded. Just now, I went to the Extension and pressed Update. It went searching for the update (I assume) and then the Update button changed to an "Enable" button. Clicking the Enable button presents me a message that says I need to restart Code for the enabling to occur. I mention this only because it shows tha

[2016-09-19 16:29] LiPengfei19820619 opened #12275 "Ability to auto detect encoding when opening a file which is not encoded in UTF-8"
- VSCode Version: 1.5.2
- OS Version: Windows 10 1607 64bit

Steps to Reproduce:

1. Open a file which is not encoded in UTF-8(etc, contains Chinese characters, encoded in GBK)
2. the Chinese characters are not displayed correctly.
3. Reopen with encoding, and choose Chinese(GBK), the Chinese characters are displayed correctly.

I hope VSCode can auto detect the file encoding when opening, and ope

[2016-09-19 16:31] gerane commented on #9715
@Tyriar this would move back to using f8 for run selection similar to how it runs now, but in the open terminal correct?

[2016-09-19 16:33] gerane commented on #9075
Any updates on this?

[2016-09-19 16:33] anthonydresser commented on #12164
I was referring to specifically text-color (the "color" css attribute). The background-color works great. It appends the exact color that the color theme is currently using. However, the text-color seems to be just vscode-dark (rgb(204,204,204) or vscode-light (rgb(108,108,108)) where as I would expect it to be the exact color of the Plain Text color in the editor.

[2016-09-19 16:38] gerane commented on #7095
@Tyriar sysnative is only present on 64 bit Windows. So you would have to determine what platform you are running on. Sysnative won't exist on 32bit Windows.

I think the comment should help those who are going to change it. Would it be beneficial to include a link to information about it? I know it is a confusing topic, and I even regularly see people offering advice on stack overflow or other fo

[2016-09-19 16:47] nitinbansal1989 commented on #10792
The issue has been resolved. It might be due to some extension. I uninstalled all formatting extension and then tried it.
Thanks for your help.

[2016-09-19 16:47] #10792 closed

[2016-09-19 16:52] Bill-Stewart opened #12276 "Request: vim-like scroll - like scrollLineUp/scrollLineDown, except keep cursor in view"
- VSCode Version: 1.5.2
- OS Version: Windows 7

I like `scrollLineUp` and `scrollLineDown` but I would like to keep the cursor in the current view as shown in this animation.

![vim_scroll](https://cloud.githubusercontent.com/assets/22036935/18642828/73e65cec-7e5f-11e6-850d-85897389ca88.gif)

In other words, the way `ctrl+e` and `ctrl+y` behave in vim.

[2016-09-19 16:59] EmmanuelBeziat commented on #12235
I couldn't find anything. But IMO, this should be native, not an extension, as it's related to vscode's ability, not "external system" like would be a language (even though some languages are native).

[2016-09-19 17:01] eamodio commented on #12160
@bpasero I'm not sure what I can show -- you need to close the dev tools before they really finished rendering for it to crash. I can record of a gif of it and post it here later today.

[2016-09-19 17:05] sandy081 commented on #11976
Thanks @jrieken for the changes. I will do the improvement is problems view as discussed.

[2016-09-19 17:07] alefragnani commented on #12111
Ops, I _read_ you tip but didn't _see_ your tip 😞 .

I replaced `\\` by `/` in the code below, and id didn't work:

[code]

BUT, updating the code _as you suggested_, really worked!!! The difference? Your tip replaced the backslashes _from the entire path_, and not only _the added piece_. So, I have to add this line, right after that:

[code]

Something related to _path separator_  has changed int

[2016-09-19 17:11] Tyriar commented on #7095
I'd prefer not to include a link to it, help is always available from our website if needed. After a few months to think about this, while it's tempting to hard code either sysnative on 64bit systems or system32 on 32-bit systems, that would break the `%COMSPEC%` feature which has been explicitly requested in the past. I think the comment is a good compromise and I haven't seen too many issues com

[2016-09-19 17:11] #7095 closed

[2016-09-19 17:16] bpasero commented on #12160
@eamodio yes please 👍

[2016-09-19 17:22] buzzzzer commented on #7048
It is better to add onOpenFile setEnconding to api extentions...

[2016-09-19 17:37] mohsen1 commented on #12168
Screenshot:
![screen shot 2016-09-19 at 10 36 50 am](https://cloud.githubusercontent.com/assets/543633/18642301/04521dee-7e55-11e6-947a-7b957fc42f41.png)

Image:
![pin_bottom 3x](https://cloud.githubusercontent.com/assets/543633/18642309/09549f42-7e55-11e6-852d-c0c127c0b55b.png)

[2016-09-19 17:41] bpasero commented on #1396
@weinand @isidorn @dbaeumer I pushed a change so that you can actually replace the entire contents when you use the `tasks` or `launch` key. This is only possible in those cases 👍

[2016-09-19 17:47] bpasero commented on #12268
Wth, still happens...

[2016-09-19 17:48] bpasero commented on #12168
@mohsen1 looks like this for me:

![image](https://cloud.githubusercontent.com/assets/900690/18642701/ffc483d2-7ea1-11e6-90c7-2a7928923f35.png)

[2016-09-19 17:50] divieirasilva commented on #12146
I think, @mbeckenbach are talking about the #region, current present on c# syntax of Visual Studio. Currently, on C#, #region name_ragion is used to tell where code will start folding and #endregion tells where code will stop folding.
I'm really missing this feature on VS Code as well, all my code have regions for better code reading and on VSCode I can't fold my regions.

[2016-09-19 17:55] Tyriar commented on #9715
<kbd>F8</kbd> looks like it's bound to `editor.action.marker.next`?

[2016-09-19 17:57] Tyriar commented on #12264
`"when": "editorTextFocus"` would stop it from working in the terminal

[2016-09-19 17:58] Tyriar commented on #12199
Duplicate #10328

[2016-09-19 17:58] #12199 closed

[2016-09-19 17:59] Tyriar commented on #9244
Duplicate #10328

[2016-09-19 17:59] #9244 closed

[2016-09-19 17:59] Bill-Stewart commented on #12276
Sorry, this is duplicate of #2091.

[2016-09-19 17:59] #12276 closed

[2016-09-19 18:02] Tyriar commented on #12189
An extension can now do this trivially by calling `Terminal.sendText`, this could be implemented to send to the default shell or a one defined by the extension (in v1.6). If you're interested in Python I recommend filing this against the Python extension's repo https://github.com/DonJayamanne/pythonVSCode

[2016-09-19 18:02] #12189 closed

[2016-09-19 18:02] Tyriar commented on #12175
Duplicates #7727, thanks @ZCShou

[2016-09-19 18:02] #12175 closed

[2016-09-19 18:05] Tyriar commented on #5908
If anyone reproduces this again can you check which processes are still running after you exit VS Code?

[code]

[2016-09-19 18:05] hipstersmoothie commented on #5508
this work well but i feel its kinda hidden behind the alt+. is there any way to have it just be up/down on the search fields?

[2016-09-19 18:06] mohsen1 commented on #12168
I see. It depends on your theme. Mine is Monokai. I had a few theme extensions. Even after removing them I'm still seeing this issue.

[2016-09-19 18:09] Tyriar commented on #11919
FYI @weinand for the debug stuff we discussed https://github.com/Microsoft/vscode/issues/9957

[2016-09-19 18:10] aeschli commented on #12231
duplicate of #11153

[2016-09-19 18:10] #12231 closed

[2016-09-19 18:15] Tyriar commented on #5908
OK never mind, I just reproduced this:

[code]

These are my repro steps:

1. Open vscode insiders
2. Update vscode insiders to latest
3. Open a new folder

I fixed the issue by simply exiting and reopening vscode. This is as designed, you *must* exit VS Code after updating or you will get a mish-mash of the current and old version which is not designed to work. A possible improvement that could b

[2016-09-19 18:19] #11384 closed

[2016-09-19 18:20] rob3c commented on #7426
The same thing is happening to me with El Capitan 10.11.6. The problem is that the update process asks to elevate to do the update:

Here are the relevant folder permissions on my machine:
[code]
Here's listing of the `com.microsoft.VSCodeinsiders.ShipIt` directory:
[code]
Because the updater asked to elevate, the log files are owned by the root user. While the `ShipItState.plist` and `update.62fO

[2016-09-19 18:20] Tyriar commented on #11384
Done, I just removed it and didn't elaborate on it not showing the terminal as that's consistent with `createOutputChannel`.

[2016-09-19 18:20] #4983 closed

[2016-09-19 18:21] #10925 closed

[2016-09-19 18:21] mredbishop commented on #12078
@weinand Thanks very much that's really great! We'll switch over once the name changes.

[2016-09-19 18:22] Tyriar commented on #10925
Changed close to dispose in the jsdoc, reopen if there's anything else you think should change.

[2016-09-19 18:22] bgashler1 opened #12277 "UX meeting agenda 14 September, 2016"
- Refactoring extensibility feedback
- Consolidated horizontal panel
- Feedback on concepts for social ad campaign

@Microsoft/vscode team please let me know anything else that should be discussed or if you need an invite for this Wednesday.

[2016-09-19 18:23] poenn opened #12278 "Backslash incorrectly escapes single quote in MSSQL language"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:
1. Create a new .sql file
2. Add a line similar to SELECT \* from MyTable WHERE Value = 'C:\path\to\file\' AND 1 = 1
3. The trailing backslash is incorrectly escapes the ending single quote, resulting in the rest of the line being displayed

[2016-09-19 18:26] poenn commented on #12278
Screen capture of correct behaviour in Visual Studio 2015
![vs2015screencap](https://cloud.githubusercontent.com/assets/13856906/18643869/f1902550-7e74-11e6-8b98-fe36b8bd5412.PNG)

[2016-09-19 18:26] rob3c commented on #7426
Also, the `ShipItState.plist` file does point to the user install:
[code]

[2016-09-19 18:26] bgashler1 commented on #12277
@pjmeyer fyi if there's time I would like to show some of our concepts to Zurich.  No need to attend, but you're more than welcome if you want to.

[2016-09-19 18:28] codec-abc commented on #9244
I made some profiling of VSCode. I did the following:

* Wait for a few seconds
* Hold down a key
* Wait for a few seconds

Here are the result in the profiler :

![profiling1](https://cloud.githubusercontent.com/assets/1208646/18643860/30fd1c70-7ea7-11e6-9721-a713ba664106.png)

![profiling2](https://cloud.githubusercontent.com/assets/1208646/18643861/32b40538-7ea7-11e6-9a38-a9af1225b9ef.png)

I d

[2016-09-19 18:31] codec-abc commented on #10328
I made some profiling of VSCode. I did the following:

* Wait for a few seconds
* Hold down a key
* Wait for a few seconds

Here are the result in the profiler :

![profiling1](https://cloud.githubusercontent.com/assets/1208646/18643860/30fd1c70-7ea7-11e6-9721-a713ba664106.png)

![profiling2](https://cloud.githubusercontent.com/assets/1208646/18643861/32b40538-7ea7-11e6-9a38-a9af1225b9ef.png)

We

[2016-09-19 18:34] bgashler1 commented on #12277
@egamma in our last meeting @isidorn passed on feedback that you didn't like toggles for each panel in the status bar (and Chris concurs with you on that).  If you would like to share any additional feedback on the horizontal panel in this meeting, feel free to join or pass it on again.  Otherwise, we're suggesting to go with something like the following to validate with customers in the next iter

[2016-09-19 18:35] bpasero commented on #12168
@mohsen1 oh yeah indeed an issue with the theme 👍

[2016-09-19 18:40] mjbvz commented on #7003
@jamesqo Thanks for the clarification. In that case, it looks like neither `csharp` or `cs` is being properly highlighted. I'll look at adding a simple rule to the markdown grammar to match C# code blocks.

[2016-09-19 18:40] bpasero commented on #12277
Re https://github.com/Microsoft/vscode/issues/12277#issuecomment-248081245:
I am not 100% convinced with the design of what we see in the screenshot but like the direction of starting with that first. Overall my feeling is we need to tweak the design of side-by-side panels and also need to decide if/how to show activity notifications.

[2016-09-19 18:43] rob3c commented on #7426
Found it - the `/Applications/Visual Studio Code - Insiders.app` file was originally installed by another user in the same group. The group doesn't have write access, which caused the elevation. I think for my case, `chmod g+w` on the app file should do the trick.

[2016-09-19 18:57] anthonydresser opened #12280 "window.showTextDocument Performance Problems"
- VSCode Version: 1.5.2
- OS Version: OSX 10.11.6

Steps to Reproduce:
1. Show a text document
2. With that document still in focus, attempt to call showTextDocument with the document object.

window.showTextDocument seems to have performance problems (1-1.5 second promise resolve) when calling it with a document that is already in focus.

Calling showTextDocument on a document that is open but no

[2016-09-19 18:58] battermann commented on #10091
Hi @bpasero ,

sorry I cannot confirm that it is fixed for me.

I recorded the behavior:

![code](https://cloud.githubusercontent.com/assets/3968185/18644982/b102a1c0-7eab-11e6-8ad2-676ccaf94d51.gif)

[2016-09-19 19:00] spraguey commented on #10890
@bpasero Yes, that is correct. The problem that creates is that all the files I had open for a project will close and I have to go find and re-open them all every time I move from wired to wireless, or work to home.

[2016-09-19 19:03] scharf commented on #396
Is there at least support for recognizing `.vscode/settings.json` in nested directories. When working on a single project, there may be subtrees with different sets of settings and which come form different (git) repositories. e.g.

[code]

I would expect that vscode would take (and maybe merge) the settings of the closest parent directory like a lot of config files (`.eslint`, `.gitignore`, `.edi

[2016-09-19 19:05] gerane opened #12281 "Extensions are becoming dissociated with themselves"
- VSCode Version:  1.6.0-Insiders and 1.5.2 Stable
- OS Version: Windows 10

I have been seeing some sort of issue for a while, but finally had time to take a better look into it. I have been seeing that some extensions I know are out of date, but they aren't registering as out of date when I check in Code. It shows the Extension is installed, but when I do a search for it, it does not think the e

[2016-09-19 19:08] AnthonyMichaelc opened #12282 "html document unchanged running on mamp server and in app database"
- VSCode Version: 1.5.2
- OS Version: El Capitan 10.11.6

Was using a local host mamp server to do development and using the in app database for a login page. After making changes to the login page, saving and refreshing the browser there are no changes made on the screen However, putting the same changes in any other editor seems to show the changes made while still running on mamp. This was all

[2016-09-19 19:09] cdaringe commented on #12203
@isidorn good call. could have been. i am skeptical however, because it persisted across runs.
...and boom, there it is!

steps to reproduce:

- enter variable pane whilst debugging
- double click var for live editing (as shown above)
- immediately click "play" such that execution ends

on next run, all variables will be dimmed. :bug:

editing and exiting the edit context will restore the colors.

[2016-09-19 19:13] #12282 closed

[2016-09-19 19:25] Jakobud commented on #8992
Sure thing. Thanks,

[2016-09-19 19:31] Jakobud opened #12283 "Feature Request: Open new file buffer via API"
- VSCode Version: 1.5.2
- OS Version: OSX 10.10.5, Win 7 x64

Is it possible to open a new file buffer via the API? Essentially, when you use your mouse (or keyboard shortcuts) and goto File menu > New File, it creates a new Untitled file buffer in the workspace. When you Save the file, it opens a Save File dialog where you choose where to save it along with the filename. Is it possible to create

[2016-09-19 19:38] pmkary commented on #11852
@DonJayamanne the virtual doc idea is pretty cool!!

[2016-09-19 19:42] roblourens commented on #12264
Ugh there are a couple problems...

First, I was using `workbench.action.debug.run` when I wanted `workbench.action.debug.start`. Second I didn't notice the `when` above, apologies, that just came from the 'add keybinding' snippet.
But also, a change to the `commandsToSkipShell` setting doesn't take effect until I collapse and show the terminal. Can that be fixed?

[2016-09-19 19:46] apasternack opened #12284 "Error when trying to open HTML file"
- VSCode Version:
- OS Version: El Capitan 10.11.6 (15G1004)

Steps to Reproduce:

1.  cloned this project from github: https://github.com/training4developers/intro-to-react
2. open the directory "intro-to-react" in VSCode
3. open "src" folder
4. open "www" folder
5. open "index.html" file, Error appears at the top "Unable to open 'index.html': An unknown error occurred. Please consult the log for

[2016-09-19 20:00] tlycken opened #12285 "Feature request: Sort NuGet package versions in descending order"
- VSCode Version: 1.5.2
- OS Version: Windows and Ubuntu, at least :)

Steps to Reproduce:

1. While editing `project.json` for a .NET project, start adding a dependency to an existing NuGet package
2. When about to enter a version number, hit ctrl+space to bring up a list of versions

It would be much more helpful if that list of versions was sorted in *descending* order, so that it's easy to fin

[2016-09-19 20:07] rob3c commented on #7426
Nope, that didn't work either. Full reinstall of Code and Code Insiders with my user account didn't seem to work, either.

Btw in order to kill the update service for VSCode Insiders from continually failing in the background, I had to do this for the original sudo update attempts:
[code]
and this without for the later user-scoped attempts after full reinstalls of Code that did not involve elevati

[2016-09-19 20:28] munteana commented on #10943
I'd rather have the Color highlight functionality implemented to VSCode. The color highlight extension is poor documented. Besides that I would want to have a color preview to the scss/less color variables, in my projects I prefer to define colors variables instead of writing the hex or rgb code all the time. In other words the color preview is useless to me because it shows the preview in my _var

[2016-09-19 20:31] codec-abc commented on #10328
I found it. This is indeed xterm fault. I can have good performance using xterm by modifying the xterm.js packaged with vscode (`C:\Program Files (x86)\Microsoft VS Code\resources\app\node_modules\xterm\src\xterm.js`) with doing either of the following:

Hacking line 2795 from to
[code]
to
[code]

Hacking line 1486 to 1488 from
[code]
to
[code]

Anyway the solution is to (from what I could underst

[2016-09-19 20:37] shanalikhan commented on #12178
ok thanks, i hope its in backlog to allow extensions to change the Icons or themes

[2016-09-19 20:46] weinand commented on #12078
@mredbishop btw, you can express the three folders case more simple:
[code]

[2016-09-19 20:52] mjbvz commented on #10790
The exact problem seems to be nested parens, as in a link destination like this `https://example.com/?key=a(b(c))`

According to the [commonmark spec](http://spec.commonmark.org/0.25/#links), this destination link is invalid (or at least will not be parsed properly):

[Here's the line in markdown-it that handles nesting ](https://github.com/markdown-it/markdown-it/blob/master/lib/helpers/parse_lin

[2016-09-19 20:56] DaveyD opened #12286 "Error when Updating/Installing Extension: Response doesn't appear to be JSON"
- VSCode Version: 1.5.2
- OS Version: Windows 10 Pro 64bit

1. When I open VScode, it shows me that I have 3 outdated extensions.
2. I go into the extensions panel and click on "Update" button.
3. I get the error: Response doesn't appear to be JSON
![screenshot_402](https://cloud.githubusercontent.com/assets/12707785/18648746/00a1d2c2-7e8a-11e6-9680-ffd52f9eb814.png)

What does this mean? How can

[2016-09-19 21:01] mjbvz commented on #7099
Looks like this is fixed, at least for the example provided:

<img width="853" alt="screen shot 2016-09-19 at 1 57 33 pm" src="https://cloud.githubusercontent.com/assets/12821956/18648799/1548325c-7e71-11e6-965c-0781b213e423.png">

Could you please try a more recent build and let me know if you can still repo the problem? Thanks.

[2016-09-19 21:18] disaac commented on #10790
Interesting regarding the [commonmark spec](http://spec.commonmark.org/0.25/#links) I agree and can certainly use the workaround. In light of the specification being targeted I would say this issue could be closed or changed to a feature request for GFM support.

It should be noted that Git Hub Flavored Markdown properly handles the nested parentheses. The [BBEdit Github Flavored Markdown parser](

[2016-09-19 21:19] cbreeden commented on #7099
Works like a charm in version 1.4.0.  Thank you :)

[2016-09-19 21:19] #7099 closed

[2016-09-19 21:32] #11919 closed

[2016-09-19 21:37] Tyriar commented on #11919
I ended up expanding to `processId` for clarity:

[code]

FYI @daviwil

[2016-09-19 21:42] Bill-Stewart commented on #2091
I like that we now have `editorScroll` function for scrolling up and down with `revealCursor` parameter set to `true`. However I would like to disable the behavior of how the cursor jumps to the first non-whitespace character of the next line when scrolling down or previous line when scrolling up. I will open a separate issue for my idea.

[2016-09-19 21:49] Bill-Stewart opened #12287 "Option to change default behavior of cursorHome and cursorEnd"
Currently (1) `cursorHome` command moves to the first non-whitespace character on the current line, and (2) `cursorEnd` moves to the last non-whitespace character on the current line.

I would like if there was an option that would disable behavior (1) and always move cursor to column 1 (i.e., the actual beginning of the line). This same option could change behavior (2) and always move cursor to e

[2016-09-19 22:04] bgashler1 opened #12288 "Mac flipped cursor on standard dpi monitors is blurry"
- VSCode Version: Insiders
- OS Version: macOS El Capitan

Steps to Reproduce:

1. Use a standard dpi monitor (not Retina display)
2. Hover over a line number
3. Note that the cursor is blurry.

This is because our version of this cursor isn't precisely pixel-aligned to alias gracefully, see the multiple lines of banding below.

Will update this with a revised asset soon.

![screen shot 2016-09-19

[2016-09-19 22:08] Tyriar commented on #10328
Thanks a lot for this @codec-abc! I actually wrote that queue/refresh logic in order to allow xterm.js to not lock up when the terminal receives an enormous amount of output. I don't totally understand just yet why this is only happening on Windows but this is a fantastic start! I was assuming the problem lied within pty.js. I've opened https://github.com/sourcelair/xterm.js/issues/280 to look at

[2016-09-19 22:09] bgashler1 commented on #8708
@Emeryao thanks for discovering the width and height issue.  Pushing a commit that fixes this at the root of the problem.

[2016-09-19 22:14] Tyriar commented on #12264
@roblourens the config change should happen immediately, are you sure it doesn't work? Works fine for me.

[2016-09-19 22:27] #8708 closed

[2016-09-19 22:29] bgashler1 commented on #12029
@joaomoreno closing this issue for now.  Feel free to open if you need anything else.

[2016-09-19 22:33] rebornix commented on #11280
@joaomoreno I understand every characters he wrote but not quite 100% sure I get he is saying, seems what he wants is

1. Copy file in File Explorer
2. Launch VS Code, navigate to File Explorer Viewlet
3. Run `Ctrl-V` to paste, then the file can be pasted in the folder.

It's somewhat similar to drag files from System's File Explorer to our File Explorer Viewlet.

[2016-09-19 23:09] NinoFloris commented on #5305
How is everything doing here?

[2016-09-19 23:09] mjbvz opened #12289 "HTML in Markdown Prefixed by Spaces is not Colorized"
- VSCode Version: 1.6
- OS Version: OSX

##### Steps to Reproduce:
Create markdown file with the following content in VSCode:

[code]

Note the spaces before the `<p>` tag

##### Expected
The inline html should be colorized in the editor

<img width="333" alt="screen shot 2016-09-19 at 4 08 13 pm" src="https://cloud.githubusercontent.com/assets/12821956/18651913/4dfb534c-7e83-11e6-910c-0f97f1d9036

[2016-09-19 23:15] SamB commented on #60
Um, wouldn't this get less dupes if it was left open until such time as MS realizes that they can maintain their brand in a less confusing and contradictory manner?

[2016-09-19 23:24] daviwil commented on #11919
Awesome, thanks man!

[2016-09-19 23:55] #12288 closed

[2016-09-20 00:41] dilijev opened #12292 "Artifacts in UI after Code is open for a little while"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 10.0.14915

Steps to Reproduce:

1. Sorry, no specific steps to repro

After having VS Code open for a while, editing multiple tabs, etc., sometimes the UI will become corrupted as in the following screenshot, and every action taken (moving the cursor, switching tabs, typ

[2016-09-20 00:55] johnfn opened #12293 "Block cursor doesn't match parenthesis correctly."
- VSCode Version: 1.5.2
- OS Version: 10.10.5

A picture says a thousand words:

![screen shot 2016-09-19 at 5 53 57 pm](https://cloud.githubusercontent.com/assets/167745/18653922/38291c8e-7e92-11e6-86ff-cbf94912b977.png)

[2016-09-20 01:05] mjbvz commented on #11906
This does not seem to be inline code specific but also applies to other inline elements, such as bold and italic:

Example md:

[code]

<img width="228" alt="screen shot 2016-09-19 at 5 57 40 pm" src="https://cloud.githubusercontent.com/assets/12821956/18654100/5cd39b44-7e93-11e6-9b64-4cb98fd4d87c.png">

[2016-09-20 01:13] greay opened #12294 "When switching between 2 files, position continually shifts down"
- VSCode Version: 1.5.2
- OS Version: OS X 10.11.6

Steps to Reproduce:
1. have at least 2 files open (C#) in a project
2. switch to the other file, and then back
3. each time you do this, the file position will shift down one or more lines when the # references appear

[2016-09-20 01:46] dburles commented on #11742
Since this fix for some reason snippets only work once

[2016-09-20 01:50] nbapat43 commented on #12202
@joaomoreno [after running your suggestion this was my cmd's response.](https://cloud.githubusercontent.com/assets/15665980/18654938/b1be77f4-7e99-11e6-84c6-db99f0f459f0.PNG)

[2016-09-20 02:10] eamodio commented on #12160
@bpasero not the best capture, but here:

Offscreen I had clicked the restart button in the main instance to cause the extension host to reset.

[2016-09-20 02:22] ArtemGovorov commented on #586
We are using the `vscode.languages.registerDocumentLinkProvider` for this. Like this:
[code]
where the `wallaby-output` is our output channel language name, but for now unfortunately we have to apply it for all output channels (using `"text/x-code-output"` `mimetype`):
[code]
Once [this feature request](https://github.com/Microsoft/vscode/issues/11005) is implemented, and specifying a language for

[2016-09-20 02:26] ArtemGovorov commented on #11005
BTW, apart from being able to colorize an output channel, [here's another scenario](https://github.com/Microsoft/vscode/issues/586#issuecomment-248184108) that the feature implementation enables - implementing and registering any custom link providers for an output channel (we're using it for test links on the screenshot above).

[2016-09-20 02:35] ToujouAya opened #12296 "Navigation/Goto Anywhere"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 6.3.9600

Actually I think it's  not issues. I just want to know.
Does vscode have any feature to navigate/go to function like keyboard shortcut CTRL + R in Sublime.
I am web developer ,  I already tried by using keyboard shortcut CTRL + SHIFT + O, CTRL + T, but it's not

[2016-09-20 02:50] songhuadan88 opened #12297 "Automatically open containing folder when opening a file"
- VSCode Version: 1.5.2
- OS Version: Win 10

If I open a file by simply double click it, then the folder containing it will not be considered my workspace. Consequently, the configure file of some extensions for this folder does not work.

For example, I use spell check extension and add some ignore words to it. If I do not open folder, then the ignore words list does not work.

Do I have any met

[2016-09-20 03:15] karl20888 opened #12298 "Bad TypeScript colorisation"
- VSCode Version: 1.5.2
- OS Version: Win10

![image](https://cloud.githubusercontent.com/assets/6939070/18656400/5e3df87c-7f23-11e6-8cd9-7927c5a6598f.png)

[2016-09-20 03:57] chrmarti commented on #12258
Duplicate of Microsoft/TypeScript-TmLanguage#244 (A larger change with many fixes is being prepared. It's not clear yet which release it will make.)

[2016-09-20 03:57] #12258 closed

[2016-09-20 04:08] chrmarti commented on #12260
Could me a red herring: http://stackoverflow.com/questions/8857210/not-enough-storage-is-available-to-process-this-command-after-using-the-start

[2016-09-20 04:10] sukhanna commented on #7583
I face similar issue on windows 7. I tried "console" : "integratedTerminal" and it works fine.

[2016-09-20 04:10] chrmarti commented on #12261
Tracked as #507

[2016-09-20 04:10] #12261 closed

[2016-09-20 04:20] chrmarti commented on #12263
The package.json seems to correctly target only the editor:

[code]

[2016-09-20 04:24] bpasero commented on #10091
@battermann thanks for giving this a try, seems to be an issue with VirtualBox.

[2016-09-20 04:27] bpasero commented on #10890
@spraguey can you run `code-insiders --verbose` and open the developer console (Help > Toggle Developer Tools) and when the network drive goes away look and attach the output you see? The interesting part is the output for the file watcher which I suspect throws a lot of file delete notifications. This in turn causes us to close files:

![image](https://cloud.githubusercontent.com/assets/900690/18

[2016-09-20 04:28] bpasero commented on #12202
@nbapat43 looks like your issue is solved, the output looks good to me 👍

[2016-09-20 04:29] bpasero commented on #12160
Known issue: https://github.com/Microsoft/vscode/issues/4430

[2016-09-20 04:29] #12160 closed

[2016-09-20 04:43] chrmarti commented on #12265
Couldn't reproduce with a long-running task with lots of output on both OSX and Windows 10. It looks like the large amount of output did slow things down though. The fact that the task runs for a long time shouldn't cause any of this.

@StefH Could you paste your tasks.json for comparison? Thanks.

[2016-09-20 04:44] jeffery9 opened #12299 "find symbol is slower than sublime text"
- VSCode Version: 1.5.2
- OS Version: win10

Steps to Reproduce:

1.  install python extension
2.  open the same file in the same project in vscode and sublime text,
3.  ctl+shift+o in vscode, and  ctl+r in sublime text,  vscode list all the symbol is slower than sublime text almost in 10 times.  and vscode can not list symbol in tree structure like sublime text doing.

vscode has debug tools is b

[2016-09-20 04:47] jeffery9 opened #12300 "command output automatic refresh should refresh the main screen, this is a bug"
- VSCode Version:  1.5.2
- OS Version: win10

Steps to Reproduce:

1. use vscode to run any python server application, like Odoo
2. open file in main screen, and show the command output. move the mouse cursor to any lines, like line 100,  when the command output refresh, the main screen should be refresh too, and the mouse cursor should been move to line 1.

[2016-09-20 04:47] chrmarti commented on #12266
Am I understanding correctly: You would like to have 'shortcuts' to a configurable set of folders and files within the workspace? Clicking on one of those would open a folder in the tree and a file in the editor?

[2016-09-20 04:54] chrmarti commented on #12270
Tracked as #10015

[2016-09-20 04:54] #12270 closed

[2016-09-20 04:57] Tyriar commented on #12260
I've seen this before, we also do set the title as `""`.

[2016-09-20 05:02] chrmarti commented on #12273
Could you provide an example and tell me what command you have bound to that key combination?

[2016-09-20 05:11] shenji105 opened #12301 "Feature Request:Add MS Account support"
Just wanna synchronization settings

[2016-09-20 05:13] chrmarti commented on #12275
Tracked as #5388

[2016-09-20 05:13] #12275 closed

[2016-09-20 05:14] leaxoy opened #12302 "Reference code color is missing."
- VSCode Version: Code - Insiders 1.6.0-insider (de7267dc4e521aa7ef4187fd6b9c98570beea540, 2016-09-19T08:28:01.071Z)
- OS Version: Darwin x64 16.0.0

**Reference code color is missing.**
nodejs
<img width="1303" alt="qq20160920-2 2x" src="https://cloud.githubusercontent.com/assets/22350/18662437/ad584308-7f1a-11e6-8b72-4eba45505a31.png">

golang
<img width="1303" alt="qq20160920-0 2x" src="https:/

[2016-09-20 05:21] leaxoy commented on #12302
Those picture maybe a little break.  So you can find it from origin.
[nodejs](http://o8z0dg641.bkt.clouddn.com/QQ20160920-2@2x.png)
[golang](http://o8z0dg641.bkt.clouddn.com/QQ20160920-0@2x.png)
[python](http://o8z0dg641.bkt.clouddn.com/QQ20160920-3@2x.png)

[2016-09-20 05:33] StefH commented on #12265
**tasks.json**
[code]

[2016-09-20 05:37] joaomoreno commented on #11280
cc @bpasero

[2016-09-20 05:56] mbeckenbach commented on #12146
yes, that's what i'm talking about. i'm really missing that feature in other languages like for example ts

[2016-09-20 05:59] nbapat43 commented on #12202
K thank you very much for your help

[2016-09-20 06:07] bpasero commented on #11280
https://github.com/Microsoft/vscode/issues/164

[2016-09-20 06:07] #12202 closed

[2016-09-20 06:13] bpasero commented on #239
Upon more thinking about this, I think we should not apply edits directly on the model but let the extensions return edit operations they want to apply. Imagine this:
* user has auto save enabled
* user types and suddenly auto save kicks in which triggers a long running save participant operation
* user continues to type
* the long running save participant operation returns edits for a model that

[2016-09-20 06:50] kumarharsh commented on #12229
@dbaeumer nothing, although the `Eslint` text in the bottom-right corner of the status bar turns `darkred` whenever this error happens.
![2016-09-20](https://cloud.githubusercontent.com/assets/760112/18660161/a230b17e-7f2c-11e6-849c-c1a73aec843b.png)

[2016-09-20 06:52] kumarharsh commented on #12229
@bpasero no idea, but jshint is a different linter. I don't have jshint in my project, and I don't think eslint or any of its plugins depend on it...

[2016-09-20 06:53] ZCShou commented on #12260
Only appear when i run vscode as administrator!

[2016-09-20 06:56] wmaurer commented on #12258
@chrmarti I see, I didn't realise that it's a TS grammar issue. Thanks, I look forward to seeing the fix in VSCode sometime in the future.

[2016-09-20 07:00] ZCShou commented on #12247
@Tyriar  for Chinese folder name
![1](https://cloud.githubusercontent.com/assets/8591065/18660402/ccb409bc-7f42-11e6-8a25-4837258f84cf.gif)

[2016-09-20 07:01] sandy081 commented on #5508
@hipstersmoothie You can customize the key board short cuts overriding the commands and keys mentioned in [comment](https://github.com/Microsoft/vscode/issues/5508#issuecomment-246646872)

[2016-09-20 07:04] microshine opened #12303 "Wrong color schema for TSX files"
- VSCode Version: 1.5.2
- OS Version: Windows 10 x64

Steps to Reproduce:

1. Here is good formated TSX code
![image](https://cloud.githubusercontent.com/assets/7333669/18660422/f6f1c612-7f18-11e6-9968-e2b6774f36c0.png)
If I add space char into `</List>`, then I've got wrong color format
2.
![image](https://cloud.githubusercontent.com/assets/7333669/18660472/4a43e30e-7f19-11e6-84d5-7493400a8d1f.pn

[2016-09-20 07:05] kumarharsh commented on #12241
I've also noticed eslint being triggered for JSON files (like this package.json), and showing random errors (like in the screenshot above, it has underlined name, seemingly for no reason (unless it's thinking this is a JS file).
This is the error it gives when it underlines `"name"` in the package.json file.
[code]

Also, this happens only intermittently, and the eslint server doesn't turn on some

[2016-09-20 07:09] jhasse opened #12304 "Diff view for images"
Currently it's possible to view images inside VSCode. It would be great if it was also possible to see differences similar to how GitHub does it: https://help.github.com/articles/rendering-and-diffing-images/#2-up

[2016-09-20 07:21] roblourens commented on #12264
Oh I see the problem, this throws when I set commandsToSkipShell to be an empty array, so the change isn't applied. `"TypeError: Reduce of empty array with no initial value"`

[code]

[2016-09-20 07:23] roblourens commented on #12264
Actually, if I start vscode with that setting as an empty array, then the terminal pane is blank.

[2016-09-20 07:26] #9764 closed

[2016-09-20 07:29] jrieken commented on #239
Yes - that why I have proposed the API as `pushEdits`. In the extension API you cannot modify a document unless you have an editor or a way to pass on `TextEdits`.

[2016-09-20 07:31] jrieken commented on #10925
lgtm

[2016-09-20 07:33] jrieken commented on #12162
Nope

![sep-20-2016 09-33-32](https://cloud.githubusercontent.com/assets/1794099/18661307/54d131cc-7f15-11e6-9075-2b4d2fd0cefb.gif)

[2016-09-20 07:36] jrieken commented on #12164
Thanks - understood. I'll see if I can find a different element to probe for colors

[2016-09-20 07:37] alexandrudima commented on #12241
@bpasero That is not the renderer process (notice the indent level being equal to CodeHelper.exe). I believe it is the extension host that somehow comes under incredible stress, most likely from the mentioned eslint

[2016-09-20 07:37] alexandrudima commented on #12241
fyi @dbaeumer

[2016-09-20 07:39] jrieken commented on #12268
No, I don't see [that](https://github.com/Microsoft/vscode/issues/12268#issuecomment-248011339). Did you interact with the shell window during test running by any chance?

[2016-09-20 07:39] alexandrudima commented on #12267
Please configure `editor.wordSeparators` to your liking.

[2016-09-20 07:39] #12267 closed

[2016-09-20 07:43] jrieken commented on #12277
Also re https://github.com/Microsoft/vscode/issues/12277#issuecomment-248081245

For me it feels like we are introducing a new/alternative design for tabs and tab-notifications but I don't understand why that is necessary.

[2016-09-20 07:46] jrieken commented on #12280
Could be due to [this](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/node/mainThreadEditors.ts#L206)

[2016-09-20 07:51] alexandrudima commented on #12187
I think it is doable, all the relevant logic is in `KeybindingResolver`. There are two maps involved, `_map` and `_chords`. When registering a chord `ctrl+k ctrl+d`, the `_map` gets an entry for `ctrl+k` that lets the logic know that it is a chord, plus `_chords[ctrl+k]` gets an entry for `ctrl+d`.

So far, the code assumes that if a keybinding is the beginning of a chord it cannot be a "direct" k

[2016-09-20 07:53] joaomoreno commented on #12029
I wanna adopt it.

[2016-09-20 07:54] jrieken commented on #12263
@formulahendry You can use the `where` clause to limit the showings of the context menu. Our markdown extension for instances [does](https://github.com/Microsoft/vscode/blob/master/extensions/markdown/package.json#L82) that. However, we lack context keys to signal that we are in the output channel or debug repl. Maybe a good starting point for you would be to check for a selection like so `"when":

[2016-09-20 07:54] ishuvalov opened #12306 "IntelliSense does not work for object property functions"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:05:12.065Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:

1. Consider the following code:
[code]

2. The Goto Definition, Peek Definition and other IntelliSense features are not working for ```this.secondFunc()``` call.

[2016-09-20 07:56] joaomoreno commented on #12281
This is odd. Can you paste the `package.json` files in disk for one of those extensions. Let's say `donjayamanne.githistory-0.0.8`. You'll find it in `%USERPROFILE%\.vscode-insiders\extensions\donjayamanne.githistory-0.0.8\package.json`.

[2016-09-20 07:57] alexandrudima commented on #12111
I believe the new electron version drags in a new node version where something changed with casing drive letters. We are seeing issues regarding this change everywhere.

fyi @jrieken @bpasero @joaomoreno -- I'm not sure where we ended up with a systematic workaround the drive letter casing change?

This used to work fine before the new electron version:

[code]

On the main side I do:
[code]

[2016-09-20 07:58] formulahendry commented on #12263
`editorHasSelection` is when there are selections of some text, right? However, I want the menu always to be shown in editor, but not Output window.

[2016-09-20 07:59] alexandrudima commented on #12201
@cpamp21 Can you please include here the actual snippet you're using?

[2016-09-20 08:00] isidorn commented on #12263
We have the key `inDebugRepl`, however we currently do not have `inOutput` - though we could add it if needed.

[2016-09-20 08:01] alexandrudima commented on #12109
Those highlights are not coming from the find widget (they would show in the overview ruler).

@Turash Can you please provide exact reproducible steps, we would love to get to the bottom of this issue.

[2016-09-20 08:01] joaomoreno commented on #12285
Please file this in the appropriate extension repository. https://github.com/OmniSharp/omnisharp-vscode/issues

[2016-09-20 08:01] #12285 closed

[2016-09-20 08:02] #12268 closed

[2016-09-20 08:04] #12203 closed

[2016-09-20 08:04] joaomoreno commented on #12296
<kbd>Ctrl Shift O</kbd> lets you go to any type in a file. <kbd>Ctrl T</kbd> lets you go to any type anywhere. This is provided that you are using a language extension that supports these features. TypeScript and C# are good examples.

[2016-09-20 08:04] #12296 closed

[2016-09-20 08:05] jrieken commented on #11935
So, putting a breakpoint [here](https://github.com/buehler/typescript-hero/blob/master/src/provider/ResolveCompletionItemProvider.ts#L26) and I see it being hit on type as well as on ctrl+space. Unsure what comes then but if the provider is being hit, its result (iff available) will be merged

[2016-09-20 08:07] joaomoreno commented on #12298
@waderyan Looks like a TypeScript colorisation problem.

[2016-09-20 08:07] jrieken commented on #5745
Yeah - the size is now totally wrong...

[2016-09-20 08:08] joaomoreno commented on #12298
@karl20888 Please provide the code snippet that caused the problem.

[2016-09-20 08:09] joaomoreno commented on #12299
Please file this in the appropriate extension repository. https://github.com/DonJayamanne/pythonVSCode/issues

[2016-09-20 08:09] #12299 closed

[2016-09-20 08:10] joaomoreno commented on #12300
Can you provide a screenshot with more details? I don't understand what you mean by the "command output".

[2016-09-20 08:11] joaomoreno commented on #12301
https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync

[2016-09-20 08:11] #12301 closed

[2016-09-20 08:11] #12014 closed

[2016-09-20 08:11] buehler commented on #11935
Alright, let me check again if the line https://github.com/buehler/typescript-hero/blob/master/src/provider/ResolveCompletionItemProvider.ts#L38 is causing those troubles. Maybe because I drop out of completion if less than 2 characters are typed, this is deactivating my suggestions.

I'll come back to you with more info, thanks for the help!

[2016-09-20 08:12] bpasero commented on #12268
@jrieken cannot reproduce anymore 👍

[2016-09-20 08:15] bpasero commented on #239
@jrieken tricky part is how to give multiple extensions a consistent view of the model? because if we ask the extensions for edits in a sequence, a previous extension could change the model in a way that the current extension produces wrong edits.

It would be nice if we could clone a model once we start asking extensions for edits, apply the edits on the clone to be able to give extensions a cons

[2016-09-20 08:15] buehler commented on #11935
Hooray!

Alright, my bad 😉
Since I deactivated the "minimum characters", it does work like a charm!

I really appreciate the help!

Cheers

[2016-09-20 08:15] #11935 closed

[2016-09-20 08:17] bpasero commented on #12241
@BirdLeeSCUT are you able to reproduce this consistently with one file that you could share maybe?

[2016-09-20 08:17] joaomoreno commented on #12306
@ishuvalov This is going to be **very** hard to get from the language service, because `this` isn't really bound to anything by semantically analysing the code. It's only due to the implicit knowledge of how `Backbone.View.extend` works.

You could try [using TypeScript](https://github.com/tastejs/todomvc/blob/gh-pages/examples/typescript-backbone/js/app.ts), you'd get those language features all

[2016-09-20 08:19] #12264 closed

[2016-09-20 08:21] joaomoreno commented on #12241
@dbaeumer The first screenshot in here shows Microsoft/vscode-eslint#138

[2016-09-20 08:21] bpasero commented on #12277
@jrieken the motivation for such a change is to make panels more discoverable. Today they are very hidden and you need to know keybindings or go via menu. Viewlets on the other hand have the activity bar to the left and notifications there. We think about something similar for panels and having this inside a panel seems like the lowest UX impact to begin with.

[2016-09-20 08:26] ToujouAya commented on #12296
@joaomoreno
So there is no way to navigate to function like sublime. I have tried it with PHP or Javascript but it's not work.

[2016-09-20 08:27] jrieken commented on #12263
Assigning @isidorn for the `inOutput` context key. @formulahendry Until then you can use trick which is to check for the editor language id like so `"when": "editorLangId != Log"`but note that we will allow to set the language for an output channel in the future, breaking that trick

[2016-09-20 08:27] #11833 closed

[2016-09-20 08:28] bpasero commented on #12111
@alexandrudima @jrieken Joao pushed https://github.com/Microsoft/vscode/commit/dcc36a8f02acd503dcd03f89583b31f9e170dfbb so that `paths.relative` ignores the casing of paths in the same way `isEqualOrParent` does. Bottom line is that the drive letter on Windows can now be either upper case or lower case depending on if the process was started (or forked) with an upper case cwd or lowercase.

[2016-09-20 08:29] bpasero commented on #12284
@apasternack I cannot reproduce.

I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-09-20 08:31] bpasero commented on #12292
@dilijev are you running inside a VM? does it reproduce with insiders build?

You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-20 08:31] bpasero commented on #12297
@songhuadan88 no currently not.

[2016-09-20 08:35] leaxoy opened #12307 "Borken color in typescirpt decorator, use token ":""
- VSCode Version: Code - Insiders 1.6.0-insider (0a0bfedbc64ba8fd0c3e6f42befb200a0b36ffb0, 2016-09-20T06:05:07.843Z)
- OS Version: Darwin x64 16.0.0

Bad colorize in typescript.
1. use decorator. and use `:` in decorator values.
2. then color render will be broken
![](http://o8z0dg641.bkt.clouddn.com/QQ20160920-4@2x.png)

[2016-09-20 08:38] ishuvalov commented on #12306
@joaomoreno Thank you for your comment! Let's omit Backbone
[code]

Still not working. I understand the difficulties of ```this``` context, but the feature could work just finding all symbolic definitions in the workspace (or even just a current file) and allowing user to choose from. This how Sublime Text 3 works.
Unfortunately the TypeScript is not an option for my project.

[2016-09-20 08:40] jrieken commented on #12111
@bpasero Unsure how https://github.com/Microsoft/vscode/issues/12111#issuecomment-248237521 relates to this.

@alexandrudima Since we sit in the extension host we should maybe adopt the actual nodejs `path` module instead of our homegrown. Also I wonder about this

If `gutterIconPath` isn't an actual uri but a file path (as returned by `context.asAbsolutePath`) I am not so sure that's the right th

[2016-09-20 08:41] jez9999 commented on #10739
@bpasero @hashhar As this has now been implemented by you when will it get checked into the main codebase?

[2016-09-20 08:43] weinand commented on #12078
@mredbishop the current Insiders now supports the `outFiles` attribute.

[2016-09-20 08:45] KimTheFirst commented on #12232
The same issue just occurred with the insider release as well. Slow connection appears to contribute to the error.

[2016-09-20 08:47] jrieken commented on #239
I think you don't. When the first listener make edits, the second listeners will see the n+1 state of the document and so on. I don't see us merging text edits from different listeners as they are likely to overlap and conflict and many ways.

[2016-09-20 08:49] weinand commented on #8668
This will be supported in the September release (and is already in the current Insiders).

[2016-09-20 08:49] #8668 closed

[2016-09-20 08:52] KJanos1396 opened #12308 "LUA function colorizing error"
- VSCode Version:1.5.2
- OS Version:Win 10 Pro

Steps to Reproduce:
1. Simple load LUA file
2. LUA function is no colorizing
   ![image](https://cloud.githubusercontent.com/assets/18537191/18663793/4917e79e-7f20-11e6-8537-37eb053925ed.png)

[2016-09-20 08:52] jrieken commented on #12277
I understand that but I wonder why we don't start experimenting with obvious which in our current ui model is the activity bar. Have a column of buttons at the bottom that change the bottom panels. That seems the most natural in terms of avoiding to introduce new principles and patterns.

[2016-09-20 08:53] weinand commented on #4986
@isidorn the debug protocol provides support for this.

[2016-09-20 08:54] mysticatea commented on #239
I'm sorry, I had worked for other things while had been waiting for some response to my previous comment.

I had sneaked a bit; I understood this is harder than the first look.

- EventEmitter works in synchronous, but most use cases of `onWillSaveTextDocument` event are asynchronous. This is a mismatch.
- If a sync event executes multiple async jobs, the most lightweight job will complete edits a

[2016-09-20 09:04] isidorn commented on #4986
@weinand good to know. Still not very excited about this feature since it feels very IDE-ish for me

[2016-09-20 09:05] weinand commented on #7158
duplicate of #915

[2016-09-20 09:05] #7158 closed

[2016-09-20 09:07] weinand commented on #12255
duplicate of #5728

[2016-09-20 09:07] #12255 closed

[2016-09-20 09:09] jrieken commented on #12246
@sandy081 @egamma Do you have more steps for this? I have a dummy code action provider and with that I can't reproduce

![sep-20-2016 11-07-52](https://cloud.githubusercontent.com/assets/1794099/18664365/9fd544da-7f22-11e6-9e0a-722a90bcd099.gif)

[2016-09-20 09:11] weinand commented on #11522
duplicate of #2405

[2016-09-20 09:15] cw19931024 commented on #11280
Sorry, my English sucks. But I really want to code can be getting better and better

[2016-09-20 09:18] newbrain commented on #11522
Hi,
are you sure it's a duplicate?
The postDebug task should not run once the debugger is started, but rather when it's ended (i.e. when the "Stop" red sqare icon is clicked).
The idea behind the proposal, that I originally sent to the native gdb extension, is to have a clean up task that can, e.g., stop debug servers.

[2016-09-20 09:19] leaxoy commented on #4865
+Infinity

[2016-09-20 09:20] weinand commented on #11522
@newbrain you are right.

[2016-09-20 09:23] jrieken commented on #239
Exactly - that's what I am trying to say all the time ;-) Also, I do like `waitUntil` name.

[2016-09-20 09:30] kumarharsh commented on #12229
Here is a small repo using which I'm able to reproduce this bug:

https://github.com/kumarharsh/vscode-eslint-bugs

* Do npm install
* soft reset the HEAD to one commit back, then open the repo in vscode, go to

Relevant info:
VSCode version: 1.6.0-Insider (0a0bfe)
OS: Windows 10
Date: 16-09-20T06:11:03.267Z

[2016-09-20 09:33] nevadascout commented on #11917
If you're looking for a pure javascript implementation of a php language server, my project **https://github.com/HvyIndustries/crane** is progressing nicely.

I'm currently adding go to definition functionality and optimising/improving stability

[2016-09-20 09:35] #12120 closed

[2016-09-20 09:35] #12123 closed

[2016-09-20 09:36] koral00 commented on #11745
How is this check done? I don't have Visual Studio neither tsc as global package. I have typescript in the version 1.8.10 in my project. I don't have tsc in my package.json file.

[2016-09-20 09:37] dbaeumer commented on #10735
Some more comments: closing the extension host hard closes the tsserver. This is why you see Error: Service died. So the whole CPU eating has IMO nothing to do with the `typescriptServiceClient`. It is only a consequence of killing these progresses.

As long as the tsserver has no high CPU usage or we can profile the extension host it is unclear if this is really TS related.

[2016-09-20 09:39] #12118 closed

[2016-09-20 09:43] PunchyRascal opened #12309 "Remote drive: Execute permission removed from file on save when saving"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:
1. have a file on a remote drive that has execute permission on underlying linux system

[code]
1. edit the file in vs code, save
2. file now lacks execute permission for user:

[code]

[2016-09-20 09:43] dbaeumer commented on #10439
Reading through this I am pretty sure that this is not caused by the TS support shipping with VS Code. The actual TS language smartness runs in its own process. If TS would make the extension host causing high CPU then the tsserver must run on high CPU as well. At the end all the TS extension code running in the extension host does is converting data structures. Assuming it would receive huge amou

[2016-09-20 09:47] lukaschal commented on #11978
@isidorn So it means we should change both instances "treeArialLabel" and "openEditors", right ?

[2016-09-20 09:51] ferarias commented on #11618
No way, I'm desperate!
I guess something is definitely wrong with my git

`C:\repos\GitHub\vscode>scripts\npm install`

[2016-09-20 09:52] larswolter commented on #11886
I encountered the same problem with 1.5.2 on Win7 x64, none of the processes consume CPU, I got it to unfreeze reproducable when killing the eslint process (the last one in the screenshot).
The ESLint Plugin has Version 1.0.6

![vsc_processes](https://cloud.githubusercontent.com/assets/13793513/18665553/1ac0082e-7f28-11e6-87b9-831ded28ce17.png)

[2016-09-20 09:53] ferarias commented on #11618
Just in case it helps, I'm attaching npm-debug.log

[npm-debug.txt](https://github.com/Microsoft/vscode/files/482176/npm-debug.txt)

[2016-09-20 09:55] isidorn commented on #11944
@jrieken Thanks for the tip, but what exact key do you mean? I tried preprinting it to the [currentWord](https://github.com/Microsoft/vscode/blob/master/src/vs/editor/common/modes.ts#L339) but that did not work.

[2016-09-20 09:58] isidorn commented on #11978
@lukaschal it means you need to change all the changes included in the changes set which can be seen if you click on the link in my previous comment. Namely:
* fileActions.ts: focusOpenEditors
* files.contribution.ts: openEditorsVisible, dynamicHeight
* openEditorsView.ts: openEditosrSection, openEditors, treeAriaLabel

[2016-09-20 10:02] wojtekmaj opened #12310 "JavaScript code coloring break when using ES6 destructuring of Objects spread on multiple lines"
- VSCode Version: 1.5.2
- OS Version: Windows 10 14393.187

Steps to Reproduce:

![image](https://cloud.githubusercontent.com/assets/5426427/18665918/b6374726-7f29-11e6-9389-cc61b5594e73.png)

[2016-09-20 10:08] jeffery9 commented on #12300
command output should be 'task output.
have record the screen.

![image](https://cloud.githubusercontent.com/assets/1404460/18666224/42fee3d4-7f5d-11e6-8f44-27dce20f0155.png)

[2016-09-20 10:12] lukaschal commented on #12218
Fixed as suggested.

File: src\vs\workbench\parts\extensions\electron-browser\extensionsInput.nls.resx
ID: ".resx", 0; "extensionsInputName"
SRC: Extension: {0}
TGT: 扩展: {0}

[2016-09-20 10:12] #12218 closed

[2016-09-20 10:12] jeffery9 commented on #12300
can not upload gif file.

[2016-09-20 10:12] bpasero opened #12311 "Tree: dragging an item no longer shows drag feedback of the item that is dragged"
- VSCode Version: insider
- OS Version: Mac OS

Steps to Reproduce:

1. open git viewlet
2. drag an item of the tree when you have outgoing changes

=> the thing you drag is just a box with background color, but no label inside

@joaomoreno looks like a regression from the electron update?

[2016-09-20 10:13] bpasero commented on #12111
@jrieken it relates to @alexandrudima question:

[2016-09-20 10:14] bpasero commented on #10739
@jez9999 @hashhar I am not seeing a PR yet?

[2016-09-20 10:15] bpasero commented on #12232
@KimTheFirst ok thanks for trying.

[2016-09-20 10:16] bpasero commented on #12277
While I get the idea of reusing UX if possible, I get major pimples seeing the bar filled with icons at the bottom that relate to panels 😦

[2016-09-20 10:23] dfcowell opened #12312 "Menu actions affect wrong window/project if menu in second window is clicked while menu active in first window."
- VSCode Version: 1.5.2
- OS Version: Windows 10 Pro Insider Preview (Fast Ring) Build 14926

Steps to Reproduce:
1. Open VSCode (let's call this Window 1)
2. Open an additional window (Window 2) via File > New Window such that the menu bars of both windows are visible.
3. Click "File" in Window 1.
4. While that menu is open, click "File" in Window 2 and select "Open." Open anything.

Expected beh

[2016-09-20 10:30] fibric commented on #12042
@bpasero sorry, it took me a while; I have no Windows machine at home.
![1](https://cloud.githubusercontent.com/assets/623932/18666718/a619038a-7f2d-11e6-8948-3201cff25cc5.png)
![2](https://cloud.githubusercontent.com/assets/623932/18666719/a61be76c-7f2d-11e6-8fb7-9d3d7b09d8e0.png)
![3](https://cloud.githubusercontent.com/assets/623932/18666720/a61c45fe-7f2d-11e6-9b1c-7c5f77caecd0.png)
![4](https:

[2016-09-20 10:31] isidorn commented on #10215
This works for me in latest, in the screenshot you can see that I modified the debug adapter to return null for variable values and they are all nicely displayed.
@vadimcn let me know if you can still reproduce this with latest

![screen shot 2016-09-20 at 12 29 30](https://cloud.githubusercontent.com/assets/1926584/18666800/fed4ea3e-7f2d-11e6-9f1e-876f73b7bdad.png)

[2016-09-20 10:31] #10215 closed

[2016-09-20 10:31] jrieken commented on #12277
hehe - the icons don't have to show when the panel isn't showing. In that case an indication - like a drag handle to pull up the panel - should be enough.

[2016-09-20 10:34] jrieken commented on #12111
Unsure if that should be handled by relative at all. From my pain with `join` I have learnt the drive letter is part of the *path root* and I don't think nodejs touches those. Having said that we should try to use the natives whenever possible

[2016-09-20 10:36] jrieken commented on #11944
Sorry, prepend to the command id, like we do it [here](https://github.com/Microsoft/vscode/blob/master/extensions/typescript/package.json#L198) in TypeScript which means. Bind `.` to run the command *and* insert dot-character.

[2016-09-20 10:44] bpasero opened #12313 "Should we drop the minimal icon theme?"
I think the minimal icon theme does not look very good compared to our seti theme. I think our original motivation to have it was because we wanted to ship with a least one icon theme. But now that we ship with seti out of the box, imho we should drop the minimal icon theme.

Thoughts?

One reasoning is that we now start to introduce icons everywhere and imho the minimal theme does not add much va

[2016-09-20 10:47] jrieken commented on #11360
Yes you are. We will not bend the reference search UI in funny ways but we are exploring to allow custom peek rendered peek widgets this milestone and are likely to have something *real* in October (see #3220). Feel free to add ideas/requirements etc to #3220.

We do that and you cannot stop it. Periodically we check if a document is still being shown and dispose it iff not. Your provider should *

[2016-09-20 10:47] #11360 closed

[2016-09-20 10:48] bpasero commented on #12277
Yeah, though I think for that to work well, the panel would have to fit the full width of the workbench so that you can make the connection from the activity bar to the panel.

[2016-09-20 10:55] jrieken commented on #12111
@bpasero This is not about lower-case but about the fact that you should not compare `C:` with `c:` because that's not part of the path. The *reference* does [this](https://github.com/nodejs/node/blob/master/lib/path.js#L571) which I believe is starting after the first `\` in a path like `c:\foo\bar`

[2016-09-20 11:00] isidorn commented on #11944
Thanks @jrieken this works however as you said this makes the suggestion be accepted and the listeners triggered - which in my world means a new line is added on enter(editor reacted on the listener). I would need two of my actions to be exectued, suggestion accepted and repl input accepted and only in the special case that the input matches the whole selection. Not sure if this is possible.

For

[2016-09-20 11:30] sp00x opened #12314 "String inspector incorrectly escapes \ escape codes (both \r and \\r becomes \r)"
The string inspector in the debugger incorrectly displays \ escape codes - both \\r and \\\\r becomes \\r

This happens both in hovering variables, copying values from the variables view, and in the debug console.

- VSCode Version: 1.5
- OS Version: Windows 10

Steps to Reproduce:

1. Start a node project, set a breakpoint anywhere
2. Once it hits, in the "debug console" type: "foo\\r\\nbar\\\\r\

[2016-09-20 11:54] jrieken commented on #11944
I wasn't trying to say what the repl should do. Surely this isn't a default for the *normal* text editor, for the repl maybe and iff not it the configuration users have to do

[2016-09-20 11:55] jrieken commented on #12277
Yeah - I assumed that to begin with.

[2016-09-20 12:01] ebugusey commented on #7344
But `terminal.external.windowsExec` does support this kind of variables, so why `terminal.integrated.shell.windows` isn't? They are windows specific variables, so why shouldn't they support env variables in windows format?

[2016-09-20 12:07] Pouja commented on #12287
@alexandrudima is this a feature of a bug. If it is a bug then [getColumnAtBeginningOfLine](https://github.com/Microsoft/vscode/blob/8e562d6df405a9e136e3d26930515fdcfbd6bb13/src/vs/editor/common/controller/cursorMoveHelper.ts#L196) can be changed, otherwise an extra parameter should be added (I think) through the whole rabbit hole starting in [cursor.ts](https://github.com/Microsoft/vscode/blob/3f

[2016-09-20 12:07] yanivefraim opened #12315 "Debug: is there a way to terminate preLaunchTask process (when debug stops)?"
Steps to Reproduce:

I am debugging my server (node) code and I added a "start cdn server" preLaunchTask. This task is starting an express server which serves my static files (I want to be able to open my browser and enter server code in debug mode).

While it works fine, I want to be able to kill this cdn server process when debug stops. I was expecting the prelaunch task to be a child process of

[2016-09-20 12:16] songhuadan88 commented on #12297
@bpasero many thanks!

[2016-09-20 12:41] bochen2014 opened #12316 "sorry. wrong place, please delete"
wrong place

[2016-09-20 12:55] zlumyo opened #12317 "i18n: incorrect strings at feedback panel"
Russian translations of strings _"character left"_/_"characters left"_ use _'left'_ as direction (e.g. turn left). It would be great to fix it using _"символ остался"_/_"символов осталось"_ respectively.

[2016-09-20 13:02] isidorn commented on #1396
@bpasero I just tried this and seems to work great! It would be lovely if we could format the launch.json / tasks.json / settings.json after editing it. Here is a small gif where I am adding a new configuration using the API after the hello world command

![formatme](https://cloud.githubusercontent.com/assets/1926584/18671131/360e3770-7f43-11e6-97d1-988985cc345a.gif)

[2016-09-20 13:04] dg2k opened #12318 "Feature Request: Zoom control UI"
- VSCode Version: 1.5.2
- OS Version: 10.0.14393

Would be great to have a zoom control UI as for Visual Studio:
- On status bar with editable ComboBox of zoom percentages (note bottom-left (on LTR) corner of VS2015 as an example).
- ~~Ctrl + Mouse-wheel providing smooth zoom in/out control (btw this is supported by many apps at OS level).~~ [ **this feature exists already** - thanks @chrmarti ]

[2016-09-20 13:08] cpamp21 commented on #12201
Javascript.json:
[code]

[2016-09-20 13:09] isidorn commented on #9061
Thanks to @bpasero and @jrieken now it is possible to modify the `launch.json` through extension host code. More details about this can be found #1396
Here's a small snippet where I am adding a new launch configuration through extension host code

[code]

[2016-09-20 13:10] isidorn commented on #10861
As part of #9061 it is now possibly to modify the launch.json at any time through extension host code. Please try that out and let me know if something is missing for your scenarios - thanks!

[2016-09-20 13:13] isidorn commented on #9061
Also note if you want to try this out in your extension right now you need the latest vscode.d.ts:
* open your extensions `package.json` file
* change the `engine.vscode` property to `*`
* run `npm run postinstall` (assuming you have the `vscode` module as dev-dependency)
* undo the engine-version change from step 2

[2016-09-20 13:15] i-frost opened #12319 "Feature request ? Focus follows mouse."
I have this set on my OS and I can save files when I mouse off the vscode window.

But I wonder why inside vscode the focus does not follow the mouse ie if I have the integrated terminal open I have to click inside that pane before typing, then click back on the editor window etc.

Not such a big deal but I guess I am so used to working this way and it seems like it could be a easy fix to add a se

[2016-09-20 13:17] roblourens opened #12320 "Git: Open File doesn't work when the diff editor is opened for a staged file (because readonly?)"
Make a change in a file. Go to the Git pane, click the file to open the diff editor. Open the command palette and run "Git: Open File". This works.

Stage the file and open the diff editor. Try to run "Git: Open File" again. Nothing happens.

Maybe the difference is that in the second case, the file is readonly?

[2016-09-20 13:18] gerane commented on #12281
@joaomoreno I already had this one up in an editor. It is for the Great Icons package. I can get the others later if needed. About to head into a meeting.

[code]

[2016-09-20 13:18] ydcoming opened #12321 "Sub menus by extensions in explorer context menus,item menus"
![jmhsx0hmk4ogh 5i 5u1wyr](https://cloud.githubusercontent.com/assets/3353702/18671439/a8c538bc-7f76-11e6-8e40-6f7d377f2bd0.png)
1.I want to have explorer context menus like this 。how to do？I don't know how to configure the json file

[2016-09-20 13:20] bpasero commented on #1396
@isidorn is that changing an existing launch.json or creating a brand new one?

[2016-09-20 13:24] isidorn commented on #1396
@bpasero that is changing an existing `launch.json`. When I create a brand new `launch.json` it is nicely formated.

[2016-09-20 13:24] bpasero commented on #1396
@isidorn actually I can reproduce and this seems to happen when you pass in a complex object to @aeschli method `applyEdits` https://github.com/Microsoft/vscode/blob/master/src/vs/base/common/jsonFormatter.ts#L34

The formatting seems to be ok'ish preserved if you just change simple key-value pairs, but not for such larger objects.

As a workaround you could just get the configuration and set it f

[2016-09-20 13:26] isidorn commented on #1396
@bpasero thanks for the workaround!

[2016-09-20 13:26] remojansen commented on #4274
I just discovered this module, it has quite interesting style of DI :smile: . I've been working for over a year on [InversifyJS](https://github.com/inversify/InversifyJS), uf you are interested in IoC containers in TS you will find it interesting :wink:

[2016-09-20 13:30] isidorn commented on #9061
Here's a snippet where I am creating a full new launch.json:
[code]

[2016-09-20 13:34] DustinCampbell commented on #10861
@isidorn, if I understand the work correctly, this means that extensions now have an easier way to modify the launch.json file. This will definitely simplify some of the code we already have in the C# extension to generate that file. However, this particular issue was about being able to provide launch configurations programmatically (i.e. without modifying the file).

In our scenario, we already

[2016-09-20 13:36] jay-bricksoft opened #12322 "Request: Project Templates"
It would be a huge improvement if vscode had the ability of templating projects.

As there are already a lot of Variables available, it should not be that hard to create projects out of templates.

---

example structure of a template:

/
- project.json
- readme.md
- content
  |- files of project to be populated

---

project templates could then be packed as zip or tar packages and also get clone

[2016-09-20 13:52] weinand commented on #9061
@isidorn part of this feature request is to eliminate the node-specific code for generating the initial launch configuration from VS Code by moving it to the node-debug extension.
Please try to do this!

[2016-09-20 13:58] bpasero opened #12323 "jsonFormatter:applyEdit() could format values nicely"
See comment from @isidorn in https://github.com/Microsoft/vscode/issues/1396#issuecomment-248294777 where we see that filling in a complex object to a settings file does not format it but puts it on a single line.

I have seen this before already when storing a more complex object to settings (e.g. file associations).

[2016-09-20 13:59] #12316 closed

[2016-09-20 13:59] andreshg112 commented on #12273
For example, this is my code:
![before indenting](https://cloud.githubusercontent.com/assets/15859884/18673007/e091dc44-7f0f-11e6-88c7-9e5cf30b1e22.png)

After indenting by Ctrl + Shift + I or Rigth Click/Format:
![after indenting](https://cloud.githubusercontent.com/assets/15859884/18673016/e565d1e4-7f0f-11e6-96a3-2d28e0e78ed6.png)

It can be seen that opening "label" tag takes its position, but

[2016-09-20 14:00] ZdurovAndrei opened #12324 "problems with the "live" replacement (search) in files"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 6.3.9600

Steps to Reproduce:
1. Open the Search tab.
2. click the "sensitive"
3. To enter a word for search and replace
4. click the "Replace"
5. turn off the "sensitive"
6. No results found (but they exist). If you enter the word again, the search results there.

[2016-09-20 14:01] chrmarti commented on #12109
@alexandrudima Wouldn't you expect the find widget to show the number of results instead of "No results"?

[2016-09-20 14:06] isidorn commented on #10861
@DustinCampbell thanks for claryfing -> reopening this

[2016-09-20 14:10] Bill-Stewart commented on #12287
@Pouja - would you benefit from such an option as well?

[2016-09-20 14:13] heckctor opened #12325 "Emmet support for PHP"
- VSCode Version: 1.5.2
- OS Version: Ubuntu 16.04

Steps to Reproduce:

I will like to emmet works in php! ;)

[2016-09-20 14:13] Bill-Stewart commented on #12293
Actually the behavior is consistent with the other cursor types (change `cursorStyle` to `line` to see). This request is to change bracket highlighting only if using `block` style cursor.

[2016-09-20 14:15] isidorn commented on #10861
@DustinCampbell are you aware that it is possible to do this and does that help with your scenario? This way you are passing a custom launch configuration to be used instead of modifying the underlying `launch.json`

[code]

[2016-09-20 14:19] chrmarti commented on #12307
Will need to check if fixed by Microsoft/TypeScript-TmLanguage#257. @aeschli can I assign these to you? That larger fix seems to take some time before it will be available in a release.

[2016-09-20 14:23] Pouja commented on #12287
@Bill-Stewart Yeah I also want to be able to go to the first column instead of the first nonwhitespace column

[2016-09-20 14:33] ivanz commented on #6196
@bpasero Not as far as I can tell. You can easily test this without multiple monitors on Windows by simply changing the size of text etc. As far as I can tell the work is still in progress on the Chromium side [here](https://bugs.chromium.org/p/chromium/issues/detail?id=426656) and is currently available in their dev and canary builds only.

![image](https://cloud.githubusercontent.com/assets/7974

[2016-09-20 14:37] SailorMax opened #12326 "Home - Go to Beginning of Line (real)"
- VSCode Version: 1.5.2
- OS Version: Win10

Steps to Reproduce:

1. put cursor in line, which starting with tabs or spaces
2. press "Home"-key

Exp.: cursor in start of the line, as wrote in help ( https://code.visualstudio.com/docs/customization/keybindings ) - "Go to Beginning of Line"

Act.: cursor before first non space character.

Can you add setting for "Home" key to really "Go to Beginning

[2016-09-20 14:39] Bill-Stewart commented on #12326
See #12287 - would such an option work for you as well?

[2016-09-20 14:41] b1as commented on #6992
+1

[2016-09-20 14:43] SailorMax commented on #12326
Yes :)

[2016-09-20 14:45] DustinCampbell commented on #10861
I'm aware of that, but as I understand it, there are limitations:

1. I don't think I can hook the existing F5 keyboard shortcut in an extension. That's really an assumption though and I'd be delighted to be wrong. :smile:
2. It doesn't provide the user with a way to pick a different configuration from the debug panel.

[2016-09-20 14:47] Bill-Stewart commented on #12326
I wrote an extension you can use in the meantime:

[https://marketplace.visualstudio.com/items?itemName=BillStewart.extended-cursormove](https://marketplace.visualstudio.com/items?itemName=BillStewart.extended-cursormove)

[2016-09-20 14:49] SailorMax commented on #12326
I found it already :) Thank you!
But hope on built-in solution ;)

[2016-09-20 14:50] egamma commented on #12246
I can reproduce it in the following vscode-tslint setup:

Install vscode-tslint

`tslint.json`
[code]

Create a .ts file with has several trailing white spaces:
![code-action](https://cloud.githubusercontent.com/assets/172399/18675304/39eb5d46-7f52-11e6-8d37-031ffd642633.gif)

Neither the `Enter` key nor the cursor keys work in the pop-up.

[2016-09-20 14:50] Bill-Stewart commented on #12326
Agree, built-in option would be good.

[2016-09-20 14:51] durilka commented on #6417
I have the same issue almost daily. Looks like it happens only if I start the vscode from the terminal (iTerm2 in my case) with "code ."

[2016-09-20 14:51] isidorn commented on #10861
1. Your extension can get activated on event 'onDebug:type' where type is 'node', 'cpp'. This happens once the user hits F5
2. `vscode.commands.executeCommand('vscode.startDebug', 'myConfigName')` should pick a configuration from the debug panel and start debugging that configuration

[2016-09-20 14:53] bpasero commented on #6417
@durilka does it reproduce with our insider build too?
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-20 14:54] bpasero commented on #6196
Ok but good to know they plan for it because that means we will eventually also benefit.

[2016-09-20 14:55] BirdLeeSCUT commented on #12241
@bpasero  I will try to catch a way to reproduce thisissue when it happen again, since this issue happen indeterminately

[2016-09-20 14:56] chrmarti commented on #12308
Cannot reproduce:

![screen shot 2016-09-20 at 7 51 23 am](https://cloud.githubusercontent.com/assets/9205389/18675591/b2f925e2-7f07-11e6-8a7f-30af956d9552.png)

Could you paste the source you have as text so I can try with that?