[2020-05-24 14:25] xxEray opened #98470 "Can't Clear the Screen (command "cls")"
Issue Type: <b>Bug</b>

-  How to repeat: (In built-in terminals) input `for /? `(or other commands that can output a lot), then type in the `cls`, and then try to scroll it up, will find no clear screen.

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:35.169Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|-

[2020-05-24 14:38] markedwards commented on #98168
Also, I notice that Code Helper (Renderer) continues to run at 90-100% even after quitting VSCode.

[2020-05-24 14:44] Khady commented on #48674
Is there any progress or recommended solution for this issue? When writing a task provider and working with a mono repository it is really necessary to have the proper exclusion patterns. Or in projects where the compilation artifacts are somewhere in the workspace.

[2020-05-24 15:11] CCurl commented on #3130
Please, please, please, just provide a way to be able to use <ctrl><click> to be able to select the whole word, like Visual Studio does. I don't care how you do it, just do it. If you have ever used it, then you know how easy it makes a programmer's life. Programmers like me love it so much because when adding a new function, we often start with a template and then change the details for our purpo

[2020-05-24 15:20] CCurl commented on #3130
FWIW, my post, it got rid of some text because of the tess-than and greater-than signs, so here goes again ...

Please, please, please, just provide a way to be able to use [ctrl][click] to be able to select the whole word, like Visual Studio does. I don't care how you do it, but please please please, just do it. If you have ever used it, then you know how easy it makes a programmer's life. Progra

[2020-05-24 15:36] tgeng commented on #97643
Another point that I forgot to mention: It would be more useful if nextInFiles and prevInFiles could respect the current cursor position. Maybe adding new commands like "nextIssueInCurrentFileAfterCursor" and "prevIssueInCurrentFileBeforeCursor".

[2020-05-24 15:51] kekexunxun commented on #57548
@makeway4pK  @sandy081 This feature for vscode has been questioned for almost 2years. Many issues have been closed because it‘s like another, but when you open the linked issue, you'll find out the same, closed.
If we can enable/disable extensions from config file, we may have problem when we open two folders in one vscode IDE. We have to decide which folder has higher privilege.
I suggest that if

[2020-05-24 16:26] pgfearo commented on #94316
I would have been very interested in this API for the XML/XSLT editor extension I’m developing. However, I’m concerned about  synced regions being ‘opt in’ and also requiring other user intervention (when the command is invoked), so for the time being at least, the extension will provide its own synced XML tag renaming. People writing XML/XSLT in other editors are used to synced tag renaming just

[2020-05-24 16:40] voltum commented on #65388
I'm having the same issue with the Sculpt Ergonomic Mouse, disabling the "Accelerated Vertical Scrolling" option helps, but it makes VS Code not as usable as with this option enabled.

[2020-05-24 17:27] fnicastri commented on #97900
Commit: 2591ede95a52400d5d22989b16706f9b8b4831da as prevous screenshot

[2020-05-24 17:45] abhijeetviswa opened #98471 "Autoescaping characters in launch.json args"
Issue Type: **Bug**

- VSCode Version: code-1.45.1-1
- OS Version: Manjaro Linux
- Shell: zsh

Steps to Reproduce:
1. Create a new workspace
2. Create a launch.json with `type` as `python`.
3. In the `args` add an element like `'$test'` or `'\\$test'`.
4. The argument passed to will be `'\$test\'` or `'\\$test'` respectively.

It seems the problem is that special characters are escaped. I've scour

[2020-05-24 17:52] makeway4pK commented on #57548
The MODE setting is a good way of explaining the feature we're requesting.

It'd be better if they(devs) take care of this before the new Settings Sync feature is pushed to stable.
I think designing this while keeping the Settings Sync mechanism in mind would be easier than trying to integrate it later, right? Or maybe the other way around, @sandy081?

[2020-05-24 17:59] SimonSiefke opened #98472 "VSCode installs wrong version of extension"
## Info
- VSCode Version: 1.46.0-insider
- OS Version: Ubuntu 20.04

## Steps to Reproduce:

[simplescreenrecorder-2020-05-24_19.41.22.zip](https://github.com/microsoft/vscode/files/4674090/simplescreenrecorder-2020-05-24_19.41.22.zip)

Here is a screencast where I install version 0.1.3 of auto-rename-tag in vscode and in vscode-insiders. But the version 0.1.3 that I install with VSCode insiders i

[2020-05-24 18:12] Paulomart opened #98473 "window.showTextDocument: Option for CustomTextEditorProvider"
Given the following setup in an extension:

1. Custom TreeDataProvider and TreeView to display remote files
2. CustomTextEditorProvider for a specific file type (works for files from disk)
3. Custom TextDocumentContentProvider to load these remote files

I want to do the following:

When clicking an item in the TreeView I want to open that file in the CustomTextEditorProvider using the content fro

[2020-05-24 18:30] devanshj commented on #98098
Hey @chrmarti, this proposal fixes a bug in git extension that has 112 upvotes and is 3 years old, not to mention it's a small change which is no-brainer & is pretty straight-forward. So I guess the reward to investment ratio is high enough that it would be great if you can prioritize it a little thanks :)

[2020-05-24 18:55] Markus-included opened #98474 "*.codeproj file for organization"
- A Codeproj file should be similar like a solution in Visual Studio

- It should be easily generateable

-  Similar to code-workspace files

- Simple structured like XML, YAML or JSON

[2020-05-24 18:59] tifDev opened #98475 "Focus on Terminal View on mouse hover"
I'm not sure if vscode already allows this or if it is already possible to focus on terminal view on mouse hover? And it would be nice to, **when you have multiple splitted terminals, you just change focus by hovering over them with the mouse.**

[Tilix](https://github.com/gnunn1/tilix) terminal has this feature.

Here are the settings for keybindings:

[code]

Can i add something like a "mouse-ho

[2020-05-24 19:49] wazybr opened #98476 "Windows Timeline entries not clickable/available (grayed out)"
- VSCode Version: 1.45.1 (user setup)
- OS Version: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Open any file with VSCode from Windows Explorer's "open with" menu.
2. Close VSCode.
3. Press Win+Tab to open Windows Timeline.
4. See that the Timeline entry for the file you just opened is grayed out and not clickable.

Does this issue occur when all extensions are disabled?: Yes

Screenshot:
!

[2020-05-24 20:06] jrial commented on #3130
Just double-click the word. That's muscle memory that'll serve you in far more situations, since it's more or less a cross-platform standardised way of selecting whole words. Apparently the Visual Studio team has chosen a somewhat weird convention and you now picked up an unconventional habit as a result. The answer is not to change everything to resemble the outlier; the answer is to embrace the

[2020-05-24 20:23] rsemenoff opened #98477 "Wont start - javascript error"
- VSCode Version:1.45.0
- OS Version:Version	10.0.18363 Build 18363

Steps to Reproduce:

1.Start vscode

Does this issue occur when all extensions are disabled?: Yes/No
Cannot test
The following error message appears in a popup window, and from command line :

C:\Users\Rwsin>code
Error: Cannot find module 'minimist'
Require stack:
- C:\Users\Rwsin\AppData\Local\Programs\Microsoft VS Code\resource

[2020-05-24 20:52] jojoforce opened #98478 "Explorer disappears when I click on other action on the left panel"
Explorer disappears when I click on other action on the left panel (i.e. Source Control, Extensions) or when you try to click "Explorer" itself.
![image](https://user-images.githubusercontent.com/24530217/82764728-0081dd00-9ddf-11ea-9459-b82dd454f9af.png)

[2020-05-24 21:07] ListsOfArrays commented on #35266
Path names with emojis in them also result in issues. I have a preview edition of PowerShell installed that supports that, but VS Code both inserts a junk character and results in the terminal being off by two characters when typing & displaying inputs:
![image](https://user-images.githubusercontent.com/10949346/82764968-e943ef00-9de0-11ea-99a4-7132f159adca.png)
vs the vanilla PowerShell terminal:

[2020-05-24 21:15] lannyheidbreder-mc commented on #27799
@kevinslin There are two issues here: Whether the Services menu appears on right-click, and whether VS Code properly assigns the Services context for selected text.

In the Find/Replace sheet, those text fields do properly set the context, and if you go to the `Code > Services` menu item in the menu bar, any text services you have there will be available and work fine. But this is not true of the

[2020-05-24 21:25] stuarteberg opened #98479 "Allow to modify hardcoded quick open keybinding shortcuts"
Issue Type: <b>Bug</b>

When I step through the the VSCode Quick Open menu, I want it not to automatically switch between editors until I've selected the file I'm interested in (and hit enter). But with a recent (April?) change to VSCode, it automatically shows me each file as I step through the menu.  Furthermore, it doesn't show the currently selected file.  Instead, it shows each file as it bec

[2020-05-24 21:43] wolf99 commented on #98093
See #92393

[2020-05-24 21:45] wolf99 commented on #92393
Hi @sandy081, as #89066 has been closed with a resolution that does not facilitate  this aspect (nor does it seem to rule it out), can this issue be considered again?

[2020-05-24 21:45] gjsjohnmurray commented on #98478
/needsMoreInfo such as version and platform.

[2020-05-24 22:01] #98214 closed

[2020-05-24 22:14] moshfeu commented on #21583
Is this implemented yet? Because I think I saw a notification in vscode about an extension been updated and button which opens the extension's changelog

[2020-05-24 22:35] pMertDogan opened #98480 "Select word at caret support (ctrl +w ) like Android Studio"
Hi, i use Android Studio for Flutter / Dart development and its great . I use it because its has awesome shortouts like ctrl + w ( Select word at caret ) . I like VS Code too but its not have this feature.

Alt+Shift+Arrow is terrible for selection. Is it possible add Android Studio 's  Select word at caret feature to VS Code?

Its would be really helpfull !

Thanks.

[2020-05-24 22:41] tabaddor commented on #95743
I'd like to work on this issue. Is there any other information I should know?

[2020-05-24 22:58] oneprogrammer commented on #6328
@georgebatalinski  I agree with most of what you are saying.  However, I will say I find visual code useful for angular more than visual studio,  It specifically went out of it's way to be more developer friendly for front end spas.  I been using VS products since the 90s so I am probably older than you ;)  I date back to vb days even Qbasic.  I personally am tired of the me me me thing, give me i

[2020-05-25 00:02] yannlairdc commented on #98160
@bpasero That would be another good step in the right direction for sure, but it wouldn't solve all the problem. If you have 6 or 7 pinned tab with their full name displayed, their's a high chance that it will occupy most of the screen and left out the non pinned tabs.

By the way, I just realised something by looking at both VS and Code and I realised that the tab in Code are much bigger than in

[2020-05-25 00:13] byyxx128 commented on #3884
Exactly. A new application should follow the regulations since it was first built, but VS Code didn't... Furthermore, this issue will be harder and harder to fix as more Components are being added...

Actually, applications of JetBrains also had similar problem before, but they solved at the beginning of 2020 (version 2020.1), although they used couple of years as well. Hopefully, I will see this

[2020-05-25 00:35] Lee182 opened #98481 "Javascript Debug preview for package.json will on use the root directory??"
Javascript Debug preview for package.json will on use the root directory. It should be what file is active.

- VSCode Version: 1.45.1
5763d909d5f12fe19f215cbfdd29a91c0fa9208a
x64
- OS Version: Windows 10

Steps to Reproduce:
https://giphy.com/embed/THrfY15EbFtiwdz9IT

1. Goto nested package.json
2. Click debug
Bug. See the list for debugging root/package.json and not root/nested/package.json

Does

[2020-05-25 00:56] IllusionMH commented on #98480
You can remap it in Keyboard Shortcuts view with ease.

Ctrl+W was used for a long time and also consisten with browsers, so I don't think it would be changed for all.

[2020-05-25 01:07] IllusionMH commented on #98452
/needsMoreInfo

Please provide actual details what is wrong and what improvements you would expect.

[2020-05-25 01:22] Kirajav commented on #98420
so... any suggestions?

[2020-05-25 01:26] #98418 closed

[2020-05-25 01:38] IllusionMH commented on #98438
Cursor position (horizontal line) can be hidden with `"editor.hideCursorInOverviewRuler": true`.
Is it what you were looking for?

Just in case vertical bar is from `"editor.selectionHighlight": true` - highlights text similar to selection across editor and shows them in overview ruler. If turned off - no vertical bars in ruler, but also no selections in editor.

[2020-05-25 01:50] nosynose opened #98482 ""Copy Line Down" behaves strangely"
Steps:
1. Open a file
2. Use Shift-Alt-DownArrow to copy a line down.
3. Edit the copied line. type something, delete something or highlight something.

Issue:
Frequently, a duplicate cursor will appear in an adjacently line and any editing you make to the currently line is duplicated in that line. Closing and reopening the file sometimes works and sometimes doesn't. Closing and re-opening Code fi

[2020-05-25 01:51] xgfone commented on #97294
@bpasero Yes, you're right! After I had modified my configuration file `wsl.code-workspace` from `"remoteAuthority": "wsl+Ubuntu-18.04"` to `"remoteAuthority": "wsl+ubuntu-18.04"`, it works again.

But I did nothing about `wsl.code-workspace` before upgrading the vscode from `1.44.0` to `1.45.0`. After upgrading it, however, it didn't work. From `1.44.0` to `1.45.0`, what happened about WSL worksp

[2020-05-25 01:52] ThadHouse commented on #96643
This bug actually completely broke our extension. Is the milestone to fix this still May 2020? This is very blocking, especially since otherwise there is no way to wait for a task to be done and then do something with the result of that task.

[2020-05-25 02:02] ThadHouse opened #98483 "Add waitForExit API to TaskExecution"
Currently there is no trivial way to wait for a TaskExecution to be completed. Before 1.44, there was a way to do this using `onDidEndTaskProcess`, however as of 1.44 this is broken, and a still open bug report (https://github.com/microsoft/vscode/issues/96643). Instead of needing to do workarounds with callbacks and condition variables to wait for a task to complete, a much simpler solution would

[2020-05-25 02:18] CMarshall92 commented on #98482
If you are still holding alt this adds a second cursor to the text editor I wonder if that's the issue where its sometimes adding a second cursor.

[2020-05-25 02:18] CMarshall92 commented on #98482
Just to confirm you weren't actively holding any key when you were selecting or type were you?

[2020-05-25 02:19] CMarshall92 commented on #98477
Have you attempted to clear the appdata folder for vs code?

[2020-05-25 02:24] #93280 closed

[2020-05-25 02:44] praetorxyn commented on #3884
Right there with you with the lack of girlfriend at least.

The odd thing is, I don't think this would be that hard to fix. I took a look at the latest code, and in src/main.js:316 is the function getArgvConfigPath. On line 322 is this:
[code]
Then, in product.json:5 we have:
[code]
This explains why it with Code OSS you'd get ~/.vscode-oss/argv.json; I'm not sure where it gets modified into ~/.vs

[2020-05-25 03:07] newyeo commented on #97492
Thanks for your prompt reply and sorry for tracking it late. I was newly used vscode. It is the issue of the c++ extension after I disable the c++ extension it can work. It seems many people encounter this issue when I serched in stack overflow and google and also don't know it's related to c++ extension. And I find similar issue in cpptool repository but still unsolved because lack of information

[2020-05-25 03:18] huye opened #98484 "Cannot enter ~ symbol in simple dialog"
Issue Type: <b>Bug</b>

After the simple dialog is enabled, you cannot enter the ~ symbol in the path, otherwise it will be automatically replaced with the path of the home directory

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:22.494Z)
OS version: Linux x64 5.3.0-3-amd64

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen

[2020-05-25 03:20] #98484 closed

[2020-05-25 03:23] kekexunxun commented on #57548
The new Setting Sync feature is very similar to an extension "Settings Sync"(shan.code-settings-sync). I use it to synchronize my vscode setting, extensions, ...etc. But it didn't solve the problem. For example, I opened 2 vscode window, one for JavaScript, another for PHP, there comes the problem, some extensions will affect two languages, such as code intellisense. So, I wanted that the MODE set

[2020-05-25 03:27] ck97756 opened #98485 "Don't recommend extension base on apps installed on user's computer"
![圖片](https://user-images.githubusercontent.com/4375298/82775466-62435500-9e7a-11ea-9887-d403d980db09.png)

How do vscode know what App is on my computer?
Does microsoft collect these info?
If it does, can I disable this feature?

[2020-05-25 03:28] connectdotz commented on #47559
@Relequestual can you share which api does this?

[2020-05-25 03:38] jikanter opened #98486 "typescript service dies"
Issue Type: <b>Bug</b>

open js file. typescript service dies multiple times (>5).

JS File content:

const listener = Deno.listen({port:8081})
console.log("listening on 0.0.0.0:8080")
for await (const conn of listener) {
  Deno.copy(conn, conn)
}

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:33:47.663Z)
OS version: Darwin x64 19.4.0

<details>
<summary>Sys

[2020-05-25 03:41] leimao commented on #98306
This happens in Linux VS Code as well. We could not preview images in MarkDown in VS Code.

[2020-05-25 04:20] rsemenoff commented on #98477
No, why would I do that?

[2020-05-25 04:46] anmolvisions opened #98487 "Terminal Not Opening"
Issue Type: <b>Bug</b>

Hi,

I am facing issue with terminal related.
Terminal not open properly when I tried.

Thanks!!

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:35.169Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 5 2500U with Radeon Vega Mobile Gfx   (8 x 1996)|
|GPU Statu

[2020-05-25 04:53] ashutosh796 opened #98488 "code already running .but not print program"
my program not print in output or terminal

[2020-05-25 04:54] ashutosh796 commented on #98488
give me solution

[2020-05-25 04:56] bpasero commented on #98160
@yannlairdc you might want to check out `"workbench.editor.tabSizing": "shrink"` setting which will ensure tabs start to shrink to a minimum of 80px when space is limited.

To be clear: I would only suggest a solution that makes pinned tabs shrink too so that you can have many pinned tabs side by side without starting to scroll. E.g. one idea is to make every pinned tab shrink as if `"workbench.ed

[2020-05-25 05:01] yannlairdc commented on #98160
@bpasero If we can get the pinned tab on a separated row, this problem almost solves itself.

[2020-05-25 05:02] bpasero opened #98489 "Keybindings: weird search result"
Steps to Reproduce:

1. open keybindings editor
2. search for `alternativeAcceptSelectedQuickOpenItem`

=> 🐛 you see a lot of results?

![image](https://user-images.githubusercontent.com/900690/82779903-b982fe80-9e55-11ea-8ef9-ccc081542e78.png)

[2020-05-25 05:06] bpasero commented on #98479
This is a consequence of quick pick having a few hardcoded keybindings such as:

https://github.com/microsoft/vscode/blob/a1ed386162d6a5741ed440c6b8998ca5728a89f8/src/vs/base/parts/quickinput/browser/quickInput.ts#L705

We would need to somehow extract this into commands so that a user can unbind them.

There is currently no workaround.

[2020-05-25 05:06] bpasero commented on #98160
I am trying to find a design alternative that does not require a second row of tabs which I personally find visually very heavy.

[2020-05-25 05:08] stuarteberg commented on #98479
Ah, so if I use different key bindings instead of the settings shown above, it might not conflict with the hard-coded binding?

[2020-05-25 05:10] bpasero commented on #98479
@stuarteberg yeah the issue is with the arrow-key specifically. Arrow-right in quick open will literally open the file in the background.

[2020-05-25 05:14] stuarteberg commented on #98479
@bpasero OK, I can just use up/down instead of left/right.  A slight muscle-memory adjustment, but NBD.  Thanks for looking into this.

[2020-05-25 05:19] yannlairdc commented on #98160
I understand that not everyone would like a second row, but that's what I'm looking for (and that's the title of this enhancement request ^^).

I'm not asking for it to be the default behavior or to replace current implementation, I would just like the ability to configure it this way for me and other likeminded people (lot of them requested that specific behavior to be implemented on the original

[2020-05-25 05:19] MicahZoltu commented on #3884
The hard part isn't changing the path.  The hard part is figuring out what the migration path for existing users is, and coding that up in a way that is robust and we'll tested in all scenarios.

[2020-05-25 05:23] jahan01 opened #98490 "Not able to override env variables using terminal.integrated.env.osx"
- VSCode Version: 1.45.1
- OS Version: Mac 10.15.4

Steps to Reproduce:

1. Set a env variable in your shell script ( `.zshenv` or `.bash_profile` depending on your default shell):
[code]

2. Set your workspace `settings.json` as
[code]

3. Launch a terminal and you will see the shell startup scripts overrides the values set by the vscode.
[code]

Does this issue occur when all extensions are disa

[2020-05-25 05:29] ReddyKilowatt opened #98491 "Terminal window opens but no prompt is shown on Windows 10"
Issue Type: <b>Bug</b>

I'm running VScode in a docker container on Windows 10.
When I click view terminal, the window for the terminal opens but no prompt is shown.

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:35.169Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8650

[2020-05-25 05:29] bpasero commented on #98479
Yeah that would work 👍

[2020-05-25 05:36] JB-Scott opened #98492 "Intellisense ignoring the typeRoots settings in tsconfig.json"
Issue Type: <b>Bug</b>

We need to place some custom typescript module definition files (___.d.ts) in a local project folder (./typings) for some node modules that do not have typings, and do not have @types typings either. We are using the following tsconfig.json:

{
  "compilerOptions": {
    ...
    "module": "ESNext",
    "moduleResolution": "node",
    "typeRoots": ["node_modules/@types", "./

[2020-05-25 05:52] one-source opened #98493 "搜索功能还能优化吗？"
Issue Type: <b>Feature Request</b>

我搜索一个关键词，在不同的文件中都有匹配项，各文件里面的匹配数量，或多或少，我希望按匹配数量的多少排序，例如匹配数量多的文件优先出现在前面，应该怎么做呢？

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:35.169Z)
OS version: Windows_NT x64 10.0.18363

[2020-05-25 05:59] gyzerok commented on #79275
Hello @bpasero!

I am in desperate need of this feature, so I was thinking maybe it is a good opportunity for me to contribute. However currently I have zero knowledge about vscode codebase, so I decided it'd be good to verify it with you before diving in.

Would you be open to this being an outside contribution? Do you think adding this feature is doable for the first time contributor? Would it b

[2020-05-25 06:09] bpasero opened #98495 "Codicon: font-size property can easily get overwritten"
I am shuffling around code and noticed that codicons can easily inherit a bad `font-size` because their rule is not very specific. To reproduce:

* `git co ben/98495`
* run out of sources

=> 🐛

![image](https://user-images.githubusercontent.com/900690/82783659-32d31f00-9e5f-11ea-84a4-1cb39ec42d6e.png)

It looks like this small change is enough to put this rule above codicons:

![image](https://us

[2020-05-25 06:31] mbranicky commented on #26339
+1

[2020-05-25 06:33] RA80533 opened #98496 "Endless loop in the Extensions view on macOS"
Issue Type: <b>Bug</b>

Clicking on the Extensions icon normally opens the Extensions side menu which displays the currently enabled extensions, etc., and displays recommended extensions. If the Extensions view is opened after VS Code is reloaded either via the command pallete or through the button prompt in various areas of the application (for example, when an extension is uninstalled), the Exte

[2020-05-25 06:34] sketchbuch commented on #57548
This would be great to have. I currently switch between JS/React projects and Flutter and there are a load of extensions that I need for each project type. Be great if they could be activated deactivated by workspace - with the ability to associate a workspace woth one or more project types (JS/PHP/Flutter etc)

[2020-05-25 06:39] bpasero commented on #79275
Thanks for the offer, but not having fully understood yet how to approach this from the VSCode side makes this a bit harder for me to ask for help. I think there are a few steps towards the solution that maybe can be decoupled and worked on individually. I think we need a way to consume `iconv-lite` in UMD form to make it work both in browser and desktop similar to what we did with https://github.

[2020-05-25 06:46] bpasero opened #98497 "Snippets: drop dependency to IClipboardService#readTextSync"
Snippets seems to be the only client of `IClipboardService#readTextSync`. I see no way supporting this method once we move to Electron sandbox. And given this method never worked in web, I think the async `readText` should be adopted for consistency anyways.

[2020-05-25 06:47] hacknlove opened #98498 "brackets inside file paths in the terminal breakes the follow link feature"
Issue Type: <b>Bug</b>

Open the terminal, run whatever command that shows a valid path to an existing file, that has brackets anywhere in the path like /foo/bar/[buz]

Try to follow the link with ctrl+click

The file should be opened, visual code tries to open just until the first bracket /foo/bar/ and it errors Unable to open 'bar': File is a directory.

VS Code version: Code 1.45.1 (5763d909d5f

[2020-05-25 06:56] dineshpammi opened #98499 "Issue with live server"
Issue Type: <b>Bug</b>

After installing Live server. I'm not getting live server option in the Ide

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:35.169Z)
OS version: Windows_NT x64 6.3.9600

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4210U CPU @ 1.70GHz (4 x 2394)|
|GPU Status|2d_canvas: enabled<br>flash_

[2020-05-25 06:58] RA80533 commented on #98490
@jahan01, do you happen to have one of the `terminal.integrated.shell.*` options set in your settings.json file? For example, on macOS, a common configuration might be something similar to the following:
[code]

Opening an integrated terminal in VS Code sources your .bash_profile if Bash is set as your shell just as Bash would normally (in fact, I believe VS Code sources your .bash_profile anyway

[2020-05-25 07:13] gjsjohnmurray commented on #98420
Perhaps a duplicate of #92323

[2020-05-25 07:14] gjsjohnmurray commented on #98488
/needsMoreInfo

[2020-05-25 07:31] EugeneDae commented on #96643
@ThadHouse There is a dirty workaround via `vscode.tasks.onDidEndTask`, see here:
https://stackoverflow.com/a/61703141/412240

[2020-05-25 07:44] jackyPang10086 opened #98501 "terminal can't input anything!!!"
Issue Type: <b>Bug</b>

when i open the vs code,i found terminal can't input anything!!!

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:22.494Z)
OS version: Linux x64 4.15.0-30deepin-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6200U CPU @ 2.30GHz (4 x 2600)|
|GPU Status|2d_canvas: enabled<br>flash_3

[2020-05-25 08:09] makeway4pK commented on #57548
@kekexunxun

I don't know about the config file but its good that it won't conflict with this.

This issue was marked  'under discussion' so let's have some.

@sketchbuch , any ideas? Something that might be unique to your workflow, how do you imagine this feature?

[2020-05-25 08:10] alexravenna commented on #94862
1. No, the environment variables in my case are just URLs pointing to my company's proxy server, they contain no authentication information.
2. I renamed the variables in system settings (I'm working under Windows, as you can see in my screenshot above), so they shouldn't be set when VS Code starts...and I still have the problem ☹️ .

[2020-05-25 08:23] sketchbuch commented on #57548
I would like to be able to associate extensions with different "technologies"/"modes" or whtever you want to call them. And then just associate a workspace with one or more technologies. Extensions can be enabled/disabled already on a workspace basis so all we need is some kind of configuration for deciding what to enable/disable. And to reduce security isssues I would maybe just enable/disable ex

[2020-05-25 08:25] JohanWinther opened #98502 "Add visual indication for integrated terminal bell"
Implement some or all settings for making the (integrated) terminal bell:
- focus the terminal
- highlight the terminal
- highlight the corresponding VS Code instance in the taskbar

### Background and motivation
Some terminal emulators (e.g. mintty) support setting the terminal bell to give a visual indication either by flashing and/or highlighting the application window. This is a really handy f

[2020-05-25 08:26] alexr00 commented on #98221
Can you please provide a copy-paste-able example I can test with?

[2020-05-25 08:30] ravikantoyo opened #98503 "lags too much after enabling auto save"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-05-25 08:30] #98503 closed

[2020-05-25 08:33] christopherwolf1 opened #98504 "Potential Bug: Wrong file extension for Python file on macOS Catalina 10.15.4"
Issue Type: <b>Bug</b>

1. Open up Visual Studio Code (and/or Insiders)
2. Create any new file
3. Attempt to save file as a "Python" file in the dropdown
(Animated GIF Below)

![Potential Bug](https://user-images.githubusercontent.com/15132959/82794618-9e00ff00-9e27-11ea-8660-ebade8b3bcae.gif)

I am pretty sure this is a bug; however I just checked on the Windows 10 version of VSC and while it doe

[2020-05-25 08:51] xyzgy opened #98505 "config.resolve.alias in configurewebpack compilation error"
Issue Type: <b>Bug</b>

config.resolve.alias in configurewebpack ,  '@assets' or  '@store' compilation error except for '@components'

![image](https://user-images.githubusercontent.com/21964169/82796332-f0820000-9ea7-11ea-986c-7d220e60540f.png)

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:35.169Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summa

[2020-05-25 09:16] IllusionMH commented on #98505
/needsMoreInfo

What is your path configuration in`tsconfig.json`/`jsconfig.json`?

VS Code (TS) have no info about your custom aliases. You need to properly configure them in `tsconfig.json`/`jsconfig.json`.
https://code.visualstudio.com/docs/languages/jsconfig#_using-webpack-aliases

[2020-05-25 09:21] jahan01 commented on #98490
No, by default its empty, so it uses my system default shell ZSH. I was trying with `/bin/bash` to see if it work, but no luck.

already set and tried with both values

No, I wanted to override the variable only for this specific project, I dont want to change system wide settings. Hence I am thinking to pass `--rcfile <my_file>` in `terminal.integrated.shellArgs.osx` so that this project alone ha

[2020-05-25 09:22] jjssoftware opened #98506 "ctrl+shift+u is unusable as a shortcut key binding"
- VSCode Version: 1.45.1
- OS Version: Linux Mint 18.3

Steps to Reproduce:

1. Start VS code
2. Open Keyboard shortcuts
3. Attempt to assign ctrl+shift+u to any existing command
4. Verify that the keys pressed are recognised as ctrl+shift+unknown
5. Verify that attempting to save the key press sequence fails and that that the shortcut key binding is unusable

Does this issue occur when all extens

[2020-05-25 09:24] thomcc commented on #3130
I don't have this muscle memory, but think the power to change things like this is pretty important. It's hard for me to believe there's many people who've been programming for a while who haven't picked up one or two non-standard habits -- mine in particular is how sublime-style alt+drag for rectangular select. After over a year of using vscode, I've broken the muscle memory but still miss the fu

[2020-05-25 09:39] Kirajav commented on #98420
Yes, yes, yes!, omg thankyou so much! it helps me a lot. I did the steps as the post says:

but not `\HKEY_CLASSES_ROOT\.svg\OpenWithProgids` folder and any values in it.
Seems like a program i installed in my pc called "ConceptDraw" caused the issue. So, you have freed me from long suffering (almost 2 years, lol).

Thankyou again!.

[2020-05-25 09:39] #98420 closed

[2020-05-25 09:48] jamsoft commented on #91895
I'm seeing similar graphical issues in VirtualBox on Fedora 31. Turning off 3D Acceleration does seem to have fixed it there as well.

[2020-05-25 09:55] kekexunxun commented on #57548
@makeway4pK

 I mean the feature Setting Sync may have a config file to store something useful. Yep! It won't conflict with this.

@sketchbuch
The extension "Settings Sync"(shan.code-settings-sync) I mentioned will auto install missing extensions. It stores your settings(extensions, etc.) in you Github gist, once you changed your develop environment, install this extensions first and then it input

[2020-05-25 10:02] sketchbuch commented on #57548
Hi @makeway4pK , But my need isn't about syncing extensions, it is about having a consistent set of extensions for different technologies. I have about 40 workspaces at the moment about 10 for Flutter the rest JS/React. If I install a new extension for flutter development I need to disable it manually in each JS workspace when I next open it. What I want is a way to automate this, not just install

[2020-05-25 10:10] #98368 closed

[2020-05-25 10:11] #97447 closed

[2020-05-25 10:11] naffydharni006 commented on #98368
I have now deleted VS Code because it was creating some issues with my PC

[2020-05-25 10:11] alexdima commented on #93305
Duplicate of #97447

[2020-05-25 10:11] #93305 closed

[2020-05-25 10:12] alexdima commented on #97449
Fixed with the refactorings done for #97447

[2020-05-25 10:12] #97449 closed

[2020-05-25 10:13] alexdima commented on #97451
It looks like the range is `undefined` in `goToCommands.ts`

[2020-05-25 10:15] alexdima commented on #97461
Duplicate of #97447

[2020-05-25 10:15] #97461 closed

[2020-05-25 10:18] kekexunxun commented on #57548
@sketchbuch
Sorry for my explaining mistaken.
My need is the same as yours.
But what I said up there is about Extensions Set and Setting Sync.
Extensions Set is the most important, then how to synchronize and auto setup between different Sets is something we can have more discussion about.

[2020-05-25 10:26] ewerybody commented on #98368
And because of this the issues are gone now, right? 😑

Ok. pardon me. I know you were trying to help.

[2020-05-25 10:46] piegamesde commented on #3884
My go to way for backwards compatibility is to check the old location first and use that if some files exist there. It can make the code a bit messy when some files that were at one single location are spread over three folders now, but apart from that I don't see any real downsides.

[2020-05-25 11:00] xatian opened #98507 "change the code-language of tag-content in html files"
If I open an html-file in VS-code I get nice syntax-highlighting since the content is treated as HTML. But depending on tags the language used inside the tag to highlight the code is changed.

[code]

Is it possible to register a custom tag tied to a language?

What I actually want is `<script type="text/typescript">` that changes the language inside to Typescript. If that is not possible I would

[2020-05-25 11:02] Woutercode commented on #96249
The extension Autoend is the solution I was looking for

From: Alex Ross <notifications@github.com>
Sent: Monday, 27 April 2020 15:32
To: microsoft/vscode <vscode@noreply.github.com>
Cc: Wouter Lombard <wouter@haloda.com>; Author <author@noreply.github.com>
Subject: Re: [microsoft/vscode] pre-config template Program.cs code file. (#96249)

This is caused by the C# extension

—
You are receiving th

[2020-05-25 11:11] Saintel commented on #95670
Alternatively, can you add trusted locations option?

[2020-05-25 11:13] jnittin opened #98508 "Unable to install IBM Blockchain Platform thru VSODE"
- VSCode Version: 1.45.1
- OS Version: Windows 10

Hello There.. I'm facing a new issue here is that initially i've installed the VSCODE and afterwards executed IBM Blockchain PLatform thru extension marketplace... Unfortunately it is keep on Installing mode and its a never ending finish process... Later i stopped the installation job and closed the VSCODE app . Now when i started again for the IB

[2020-05-25 11:22] #98061 closed

[2020-05-25 11:22] #98044 closed

[2020-05-25 11:22] #98018 closed

[2020-05-25 11:22] #98011 closed

[2020-05-25 11:22] #97997 closed

[2020-05-25 11:23] #97779 closed

[2020-05-25 11:23] #97738 closed

[2020-05-25 11:23] #97572 closed

[2020-05-25 11:23] #97340 closed

[2020-05-25 11:23] #34915 closed

[2020-05-25 11:33] GoldenCrystal commented on #3130
🤨

Ctrl+Click is a gesture that is about selecting *words* instead of characters, not *a single word*. You can't ever do that much with a *much slower* double click.

It would already help having a nicer way to select single words, but that's only a part of the story. (Which I fear can *not* be adressed by only allowing to remap shortcuts, as gestures are more complex)

This is ± how Visual Studio

[2020-05-25 11:42] ppkwiatkowski opened #98509 "extension API: select source control provider on the list"
It would be useful to have more control over built-in source control providers list, because sometimes it is unclear, which repository will end up being selected :)

Source control providers list seems to remember last selected repository on the reload, unless the list is actually opened during the vscode initialization - in which case, for some reason there are two repositories selected (last sel

[2020-05-25 11:42] zao commented on #3130
@GoldenCrystal VS Code implements the common paradigm of terminals and text areas, where a single-click drag is by glyph, double-click drag is by word, and as a bonus, triple-click drag is by line.

When in Rome, enjoy the local traditions and please note that non-Code VS is the weird one.

[2020-05-25 11:46] Kur-Ich opened #98510 "add-ons Go"
I'm getting daily notifications that I'm missing some add-ons for Go. It would be nice if you could select in Settings which add-ons you want to use and which ones not, I really don't want to use formatting type add-ons for example which auto format the code in a certain way preferred by the language. Also an explanation would be nice of what the add-on exactly does so that it would be easy to sel

[2020-05-25 11:51] tfohlmeister commented on #57548
One workaround I found is to provide different `extension-dir`s as launch agurments. For example

`code -n --extensions-dir ~/.vscode/extensions-platformio`

will use and install extensions to `~/.vscode/extensions-platformio` (instead of the default `~/.vscode/extensions`) and is therefore independent from another environment. The command also forces opening a new VSC window.

You can quite easil

[2020-05-25 11:54] wonkoRT opened #98511 "Add possibility to copy text selected with ctrl-A from a debug hover"
It seems like there are two different selections possible in the debug-hover:
- ctrl+A selects everything with a dark blue.
- When selecting some text in the hover with the mouse (i.e. press the left mouse button while near/over a char, move mouse, release left mouse button) the selected text is shown in a lighter and brighter blue.

- The two selections can coexist.
- Ctrl-C always copies the tex

[2020-05-25 11:57] blindjustis opened #98512 "Feature Suggggestion"

[2020-05-25 11:58] #98512 closed

[2020-05-25 11:58] blindjustis commented on #98512
Keyboartd went metal - cant add description - I think you cant backspace in the title in firefox

[2020-05-25 12:01] sandy081 opened #98513 "Do not install built in extensions while syncing"
Built in extensions are not installed by user and hence they shall not be installed while syncing

[2020-05-25 12:02] #98513 closed

[2020-05-25 12:15] xavier-ottolini opened #98514 "Impossible to view the matching files with Ctrl + P"
When I press on Ctrl + P and enter the name of some JS or TS file, the files are not found. Only the last opened files are available. This is a recent problem, that appeared on the 1.45.1 version of Visual Studio code.

[2020-05-25 12:15] gozzoo opened #98515 "Settings view - add section 'Changed'"
The default way to change some setting is with the settings editor. It is very nice, but finding my own changes is a little bit cumbersome. Of course I can always go to json view, but I think it would be very convenient if on the left side, where all groups of settings are listed, below (or above) 'Commonly used' to add 'Changed' section.

[2020-05-25 12:18] DougBR commented on #69308
I am having the same issue after installing Python extension on remote server.

[2020-05-25 12:26] IllusionMH commented on #98515
Just FYI at this moment you can either use:
"Show modified settings" in three dots menu
![image](https://user-images.githubusercontent.com/1312662/82812460-b90d5680-9e9b-11ea-82f5-c4ec34b97ac6.png)
or `@modified` filter in search bar (type `@` (similar to extensions search) to see possible filters)

[2020-05-25 12:29] blindjustis commented on #69958
Hi - Just to add a vote for being able to configure extensions for a workspace.
Possibly even downloading them there rather than globally.

Kind of like npm for visual studio code.

The current recommendations feature is kinda useful for teams, but if you work on lots of different environments/languages it doesn't really fullfill the requirement.

[2020-05-25 12:35] alexr00 commented on #96643
@ashgti and @ThadHouse I have pushed a fix that solves the task executions not being equal. If you can, please install the [insiders](https://code.visualstudio.com/insiders/) build tomorrow and verify that the issue you were seeing is resolved. If you still see a problem with the next insiders build, please let me know as soon as possible so I can have time to fix it before the next release.

[2020-05-25 12:39] gozzoo commented on #98515
Thanks @IllusionMH, I didn't know that one.

But still, it's a little bit strange that 'Commonly used' is on the left panel, and 'modified settings' is accessable through the `...` menu. Furthermore when selecting both we get some wierd intersection between them that makes no sense.

[2020-05-25 12:46] jkelol111 commented on #96041
This bug is still present on the `code` snap package (version: 5763d909, revision: 33) running on Ubuntu Desktop 20.04. I'm using `ibus-unikey` as my Vietnamese IME, Vietnamese characters aren't being inserted.

[2020-05-25 12:48] mxrachel commented on #98485
/needsMoreInfo

[2020-05-25 13:08] IllusionMH commented on #98515
Commonly used - is [predefined list](https://github.com/microsoft/vscode/blob/master/src/vs/workbench/contrib/preferences/browser/settingsLayout.ts#L20) of Settings to display that users most likely would want to check/change, and not something personal for each user.

On the other hand - `@modified` is filter of all existing settings settings, and can be applied to list you are looking at.

So wh

[2020-05-25 13:11] #95705 closed

[2020-05-25 13:19] praetorxyn commented on #3884
That's a non-issue, and a frequent excuse for "won't fix" on XDG compliance in older programs. There are multiple solutions:
1. First check if the older directory exists, and if it does, use that; this way, people that don't care can simply go about their day, but people who do care can move the directory to .local/share and have it still work without cluttering their $HOME.
2. Just leave the code

[2020-05-25 13:26] kelzenberg opened #98516 "Add option to auto-update import paths inside custom expressions"
The automatic updating of import paths in JavaScript and TypeScript, when renaming or moving files, currently ignores paths that are inside custom expressions like `jest.mock`, e.g. `jest.mock('src/module-path')`.

It would be nice to have an option to manually include these custom expressions per project. Then VSCode would be asked to also search for paths inside these expressions and auto-update

[2020-05-25 13:34] diablodale opened #98517 "`git.path` fails in workspace settings"
Issue Type: <b>Bug</b>

1. Have working VSCode and working git functionality in VSCode
2. menu file/preferences/settings
3. In json or UI, go to workspace settings
4. attempt to set `"git.path"`

## Result

The UI and json do not recognize `git.path` at the workspace settings.
Entering a `git.path` in the workspace settings, reload the window, can see it has no effect and is ignored.
This setting

[2020-05-25 13:38] AoDev commented on #37570
2 years ago I asked [this question on Stackoverflow](https://stackoverflow.com/questions/48366014/how-to-get-the-base-directory-in-visual-studio-code-snippet/48366340#48366340) about getting the base directory.

Having the current directory name (and not the full path) seems to be in demand. Sure people are giving their upvote for the transform but what we really want is a simple, relatively short

[2020-05-25 13:38] dropsonic commented on #63703
Bump

[2020-05-25 13:52] praetorxyn commented on #3884
Eh, not really. The "tradition" became a thing because there was no XDG specification on Unix/Linux, and somebody just came up with the idea of dumping things under ~, and everyone started copying that behavior. Some of the oldest ones, like CUPS and SSH, are still like that to this day with "won't fix" on the Issues people have created asking for XDG compliance because the developers simply don't

[2020-05-25 13:52] fitzlm opened #98518 "use ctrl + click jump to definition as deep as pycharm can do"
Vscode can't jump to definition as deep as pycharm can do.

For example:
[code]

when i use 'command + click' on "render", it can jump to the render function, but when
i click the method "render_to_string()" inside render function, it can not jump to definition any more, the following is the code snippet:

[code]

But when i use pycharm, it can jump to the definition of "render_to_string()" functi

[2020-05-25 14:00] #95507 closed

[2020-05-25 14:13] jaybabani commented on #12266
May be tabs if not pins? Root folders as tabs at top

[2020-05-25 14:16] tristan957 commented on #3884
Note I added XDG compliance to vscode-restclient. The pattern that I used for the problem could probably work quite well for VSCode, which has already been mentioned in this thread. The hardest part is just determining what should go in cache and what should go in config.

[2020-05-25 14:16] Haibao425 opened #98519 "${workspaceFolder} does not work well in .env file, but "${workspaceFolder}." works"
MacOS: 10.15.4

All VS Code versions.

**Add below strings in .env:**
_PYTHONPATH = ${PYTHONPATH}:${workspaceFolder}
PYTHONPATH = ${PYTHONPATH}:${workspaceFolder}./module2_

**and then Python sys.path shows that the path of module2 is correct, like below**
_0:'/Users/xxx/Projects/Python'
1:'/Users/xxx/Projects/Python/module2'_

----------------------------------------------------------------------

[2020-05-25 14:22] ravayak opened #98520 "TS Server fatal error: Debug Failure. False expression."
**TypeScript Version:** 3.8.3
**TS Server Error Stack**
[code]
[system informations.txt](https://github.com/microsoft/vscode/files/4677623/system.informations.txt)

[2020-05-25 14:27] usernamehw commented on #98508
/duplicate of #98435

[2020-05-25 14:27] #98508 closed

[2020-05-25 14:43] djdongjin opened #98523 "Location of buttons in a git diff"
Currently, when you press a git diff icon around the line numbers, the git diff bar will pop up, with all buttons (stage, revert, close) located at the right end of the bar, which I think is quite inefficient, because you have to click in the left end to show such a git diff bar and move to the right end to select the action you want. If you want to see multiple git diffs, you have to move left an

[2020-05-25 14:49] maguim25 opened #98524 "The terminal process terminated with exit code: 2"
Issue Type: <b>Bug</b>

i try to execute the terminal and its closed and de msg is only that

The terminal process terminated with exit code: 2

i try to see about the error and dont show nothing in toggle Developer tools

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:35.169Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

[2020-05-25 14:57] michaelpumo opened #98525 "Extension does not install, caught in an endless loop"
Issue Type: <b>Bug</b>

Trying to install Version Lens extension (https://marketplace.visualstudio.com/items?itemName=pflannery.vscode-versionlens). I previously had this installed but noticed it had (for some reason) disappeared. I tried installing this again and got this endless loop.

I quit VS Code, deleted the extension from the `.vscode/extensions` folder from my system and tried again with

[2020-05-25 14:59] still-dreaming-1 commented on #37570
I don't mind trying to put together a PR, but I tend to have a hard time getting started in a new code base (new for me). Is someone able to point me both to the code that makes the [${workspaceFolder} and ${relativeFileDirname} variables available](https://code.visualstudio.com/docs/editor/variables-reference) in other parts of VS Code, and the code that makes [certain variables](https://code.vis

[2020-05-25 15:01] furai commented on #98425
Experiencing the same issue.
[code]
Version: 1.46.0-insider
Commit: 2591ede95a52400d5d22989b16706f9b8b4831da
Date: 2020-05-22T21:12:53.428Z
Electron: 8.3.0
Chrome: 80.0.3987.165
Node.js: 12.13.0
V8: 8.0.426.27-electron.0
OS: Linux x64 5.6.14-050614-generic

[2020-05-25 15:01] pMertDogan commented on #98480
I dont want VS Code remap ctrl +w .I just want Android Stuido ctrl+w feature .

[2020-05-25 15:04] Twiggeh opened #98526 "Zen Mode Git-Compare breaks single editor"
Issue Type: <b>Bug</b>

1. open 3 editors side by side
2. enter zen
3. open Source control and compare any file.
4. exit zen
5. close 2 editors, so that only one remains open
6. [Result](https://cdn.discordapp.com/attachments/694508622519992350/714490150360580137/unknown.png)

I can't get it unstuck. Restart of code & system didn't help. Whenever it's in more than 1 editor mode it works like expec

[2020-05-25 15:15] Twiggeh commented on #98526
Apparently it gets stuck in a mode called "Centered Layout" and you can toggle that from the command palette.

[2020-05-25 15:20] RohitKamineni opened #98527 "Cursor"
the cursor is repeatedly going back to being "block" even after changing cursor type to "thin" in the settings

[2020-05-25 15:22] RohitKamineni opened #98528 ".html"
the .html file extension is not being recognised by vs code for editing html.

[2020-05-25 15:23] kidsil opened #98529 "Renaming multiple files and automatically Updating Imports doesn't work properly"
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:50:03.709Z)
OS version: Linux x64 4.4.0-142-generic

Steps to Reproduce:

1. Open a project that uses file imports (mine was ReactJS)
2. Rename a file that gets imported by other files with F2
3. When the "Update imports for 'NEW_FILE_NAME'?" pops up, click "Yes"
4. Without saving the opened files, rename another

[2020-05-25 15:25] sandy081 opened #98530 "Handle Upgrade Required (426) Client Error"
Handle the Upgrade Required (426) client error from server by disabling the sync and prompting the user to upgrade VS Code to enable sync again.

[2020-05-25 15:28] Qusic commented on #37570
Did a quick search and it is likely to be here: https://github.com/microsoft/vscode/blob/master/src/vs/workbench/services/configurationResolver/common/variableResolver.ts#L222-L290

[2020-05-25 15:39] tabaddor commented on #97032
I'd like to take on this issue. Is there any other information I should know?

[2020-05-25 15:42] IllusionMH commented on #98480
Please describe how is it different from `Alt+Shift+Arrow` in VS Code when cursor is in the middle of the word?

[2020-05-25 15:43] sandy081 commented on #98530
<img width="482" alt="image" src="https://user-images.githubusercontent.com/10746682/82826952-540f2c00-9eae-11ea-837e-4064e029ff50.png">

[2020-05-25 15:43] #98530 closed

[2020-05-25 15:46] sandy081 commented on #21583
Not yet, but I will be starting to explore based on the feedback that is provided here. So ideas are very much welcome.

[2020-05-25 15:48] IllusionMH commented on #98489
Same for `altqweasdzcx`, `ctrlqweasdzcx`, and `shiftqweasdzxc`
On Windows it's clearly highlighting modifier key if it's in the beginning of the search.

[2020-05-25 15:53] tabaddor commented on #97328
I'd like to work on this issue, is it still open?

[2020-05-25 16:55] polt13 opened #98531 "C Language Mode doesn't work properly with WSL"
I'm writing C code on VSCode using the C Language mode, through WSL. With C++ language mode select on my files the highlighting works properly, even on WSL. It looks like this:
![image](https://user-images.githubusercontent.com/59566389/82839191-3b673c00-9ed7-11ea-84a1-2564efbcab3b.png)
However, if I select C language mode, highlighting doesn't work and looks like this:
![image](https://user-image

[2020-05-25 17:06] melancthon opened #98532 "Auto merge option for save conflict resolution"
In the Visual Code settings, there is a "save conflict resolution" setting with two options: "askUser" and "overwriteFileOnDisk".  Could we add a third option for "attemptMerge"?  This "attemptMerge" option would attempt to auto merge when changes are in different parts of the file, and only bring up the diffing editor when the merge is unsuccessful.

[2020-05-25 17:15] adelgar opened #98533 "I cannot type áéíóú in integrated terminal"
Issue Type: **Bug**

When I type accented vowels (áéíóú) in the integrated terminal (only in terminal) the vowels appears without accent (aeiou).

If I use the "locale" command I get:

My terminal works properly and only have this issue with the integrated terminal.

VS Code Version: 1.45.1 ([5763d90](https://github.com/microsoft/vscode/commit/5763d909d5f12fe19f215cbfdd29a91c0fa9208a), 2020-05-14T

[2020-05-25 17:15] praetorxyn commented on #3884
I'd say it's determining what should go in cache and what should go in data, but yes. Config seems pretty straightforward; if it's a test file storing configuration, put it in config; otherwise it doesn't belong there.

[2020-05-25 17:17] sandy081 commented on #97328
Yes it is.

[2020-05-25 17:17] #98249 closed

[2020-05-25 17:19] AlexAegis commented on #3884
Don't forget out XDG_DATA_HOME.

As a rule of thumb, everything that the user can freely delete goes to XDG_CACHE_HOME / %TEMP%. Stuff that is not set by the program, (or at max defaults it), like settings go to XDG_CONFIG_HOME / %LOCALAPPDATA% so the user can persist it (copy over, git, whatever), everything else: XDG_DATA_HOME. Sadly on windows there isn't a straight equivalent but you can just

[2020-05-25 17:20] roblourens commented on #98227
Can you see whether any of these tips help?

https://github.com/microsoft/vscode/wiki/Search-Issues#slow-search-rg-running-for-a-long-time-or-consuming-lots-of-cpumemory

[2020-05-25 17:25] roblourens commented on #98356
Thanks for the issue, but I'm not interested in changing the default right now. The earlier discussions were linked in your first issue, and changing it will just disturb people who are used to the way it works now.

[2020-05-25 17:25] #98356 closed

[2020-05-25 17:30] roblourens commented on #96727
Cool! You can read about settings sync here: https://code.visualstudio.com/docs/editor/settings-sync and see some more steps for this issue here: https://github.com/microsoft/vscode/issues/95532

[2020-05-25 17:40] #98489 closed

[2020-05-25 17:43] sandy081 commented on #98088
Can you please elaborate your use case and what is the support you are expecting from VS Code?

[2020-05-25 17:44] praetorxyn commented on #3884
I thought %APPDATA% was the equivalent of XDG_CONFIG_HOME and %LOCALAPPDATA% was the equivalent to XDG_DATA_HOME?

Appdata/roaming seems appropriate for configuration (roaming profiles), and Appdata/local seems appropriate for data (stuff that a user may or may not want to transfer to new machines).

[2020-05-25 18:04] sandy081 commented on #97616
Yes, you can define the `scope` of the configuration to `machine` in `package.json`. Please refer to the docs here - https://code.visualstudio.com/api/references/contribution-points#Configuration-property-schema

I am sorry that I am bit cryptic before, assuming that you are aware of hierarchies. In VS Code user can define settings at following targets in Local and Remote workspace

- User
- Remot

[2020-05-25 18:18] sungvadan opened #98534 "IntelliSense doesn't work on mac"
Issue Type: <b>Bug</b>

IntelliSense doesn't work on mac

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:33:47.663Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8259U CPU @ 2.30GHz (8 x 2300)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_st

[2020-05-25 18:26] sandy081 commented on #98185
@RMacfarlane Thanks for the analysis.

I refactored sync code on the renderer few days ago and here is the code that turns on sync with first time sync dialog:

https://github.com/microsoft/vscode/blob/7e407b547294849e9a22b16e5aea28a56f88524c/src/vs/workbench/services/userDataSync/browser/userDataSyncWorkbenchService.ts#L211-L225

I see `first time sync dialog` waits now until the token is updated

[2020-05-25 18:32] AlexAegis commented on #3884
Corrected!

[2020-05-25 19:11] mxrachel commented on #98534
What do you mean by "doesn't work"? What Language are you using? Can you post a screenshot or gif and also an example of code so that it can be reproduced?

[2020-05-25 19:12] eamodio commented on #97638
I'm seeing VERY long opening times on my Windows 10 (2004 - slow ring, 19041.264) desktop machine (12-core 3.8GHz AMD proc) with the latest insiders too.

[2020-05-25 19:13] eamodio commented on #98400
See #97638

[2020-05-25 19:18] mxrachel commented on #98528
What do you mean by not recognised? What version of are you using? What Operating System? What happens when you try to open the File with <kbd>Ctrl</kbd>+<kbd>O</kbd> or <kbd>Cmd</kbd>+<kbd>O</kbd>?

[2020-05-25 19:25] mxrachel commented on #98531
Does this happen with all extensions disabled? Otherwise this is an issue for the  [C/C++ Tools repo](https://github.com/Microsoft/vscode-cpptools).

[2020-05-25 19:28] rebornix commented on #98364
Thanks for the ping. I checked the release history and found that we didn't have a build which passed the web smoke test ever. The error `timeout 'quick-input-widget'` doesn't seem to be notebook logic related, I guess it's due to how the notebook document is being opened (but never finishes successfully).

Tried to debug this issue but didn't get web smoke test running locally, things I tried

*

[2020-05-25 19:29] polt13 commented on #98531
It seems to be happening regardless of extensions.

[2020-05-25 19:32] ntextreme3 commented on #98088
It would be nice if extensions that were installed manually that do not exist on the store did not show a warning from extension recommendations. This way, a company can have internal extensions and employees can use the recommendations feature without seeing a warning every time.

Also, I think it's fine to require these internal ones to somehow be explicitly labeled to suppress that warning.

[2020-05-25 19:32] rebornix commented on #98364
It seems @roblourens pushed some fixes https://github.com/microsoft/vscode/commit/b877c4d411d0e2e08d6fccb75faf8471838426be

[2020-05-25 19:46] mxrachel commented on #98531
Could you post a short bit of code or create a repo that can be used to repro this?

[2020-05-25 20:00] Toppole69 commented on #98489
[code]

[2020-05-25 20:01] Bram-Zijp opened #98535 "VSCode breaks when you try to delete a node_module which is used by a process on Windows 10"
Title says it all

[2020-05-25 20:03] MrTravisB commented on #98337
I updated earlier today and this broke for me as well. Then after about 30min it just started working again. I didn't restart or change any settings. 🤷

[2020-05-25 20:25] thiagodiniz opened #98536 "Can't open any file due unexpected toke"
Issue Type: <b>Bug</b>

I am trying to open any file in my project folder but, vscode says the can't open file with unexpected token: in JSON position 100003.

I have scanned my project for any json with this error and couldn't find also i uninstalled all extesions, still it didn't work

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:33:47.663Z)
OS version: D

[2020-05-25 20:36] mtbun opened #98537 "i cant see suggestions"
hello, suggestions looking (----). i cant see commands
for example(css):
 when i write mar(-------
                              --------
                              --------
                              --------
                              --------
                              --------
                              --------
                              --------

[2020-05-25 20:42] polt13 commented on #98531
@mxrachel  Even this little snippet of code doesn't properly work for me on C Lang mode, it doesn't highlight any of the typedefs on WSL (on non WSL all is fine).

`#ifndef`` GRAPH_H
#define GRAPH_H
#define MAXVERTEX 20

typedef enum {FALSE, TRUE} Boolean;

typedef int Vertex;

typedef struct edge {
   Vertex endpoint;
   struct edge *nextedge;
} Edge;

typedef struct graph {
   int n;     /* numb

[2020-05-25 20:44] rsemenoff commented on #98477
After clearing appdata and reinstalling, it works. But to reinstall I had to kill 3 zombie processes of vscode, which may have been the original problem. It seems to be back to normal minus all the extensions.

[2020-05-25 21:05] theycallmevirgo opened #98538 "Python oddity"
- VSCode Version:1.45.1
- OS Version: Windows_NT x64 10.0.17763

Steps to Reproduce:

1. Install anaconda
2. Create venv
3. Activate venv
4. Install vscode

![Screenshot (1)_LI](https://user-images.githubusercontent.com/57016940/82840648-5919ae80-9ea1-11ea-9d62-2efdfaa104dc.jpg)

Additionally, I don't know if it's the same issue but the internal terminal will not allow me to activate the venv.

Do

[2020-05-25 21:23] sweettyler commented on #98354
actually none of downloaded versions work since then!

Very surprise nobody has taken a look yet!

[2020-05-25 21:25] ToniCipriani commented on #29816
Enabled this and my pulldown is just /bin/bash instead of bash:
![image](https://user-images.githubusercontent.com/2412685/82843896-b36c3c80-9eac-11ea-92bf-783c57bb92f4.png)

[2020-05-25 21:38] sweettyler commented on #98354
"code-insider-1590013558.tar.gz" could show me it was built in April, however, after a few tries.
"code-insider-1590182860.tar.gz" could show me a blank window.
"code-insider-1589883424.tar.gz" is the last one that works.

[2020-05-25 21:42] ashtuchkin commented on #79275
iconv-lite fully supports webpack (especially the 0.6 version I'm working on right now), so UMD package similar to semver-umd should work great. Before I release 0.6, please use master branch for now if you want to check it out.

As for the streams - iconv-lite internally uses a simplified stream interface for all codecs that is also compatible with Node's [StringDecoder class](https://nodejs.org/

[2020-05-25 21:58] dimitry-ishenko opened #98539 "Copy/paste file in Explorer panel stopped working"
Issue Type: <b>Bug</b>

Steps to reproduce:

1. Select a file in the Explorer panel.
2. Press Ctrl+C and then Ctrl+V to make a copy of it.
3. Witness an obscure message pop up at the bottom right corner:

`The file to paste has been deleted or moved since you ...`

Expected behavior:

Copy of the file is created. IIRC this used to work in 1.45.

Actual behavior:

![Screenshot from 2020-05-25 17-57

[2020-05-25 21:59] #98401 closed

[2020-05-25 22:08] gjsjohnmurray commented on #98539
/duplicate of #98425

[2020-05-25 22:09] #98539 closed

[2020-05-25 22:30] kieferrm commented on #98538
\extPython

[2020-05-25 22:30] #98538 closed

[2020-05-25 22:32] kieferrm commented on #98536
/needsMoreInfo

[2020-05-25 22:32] kieferrm commented on #98535
/needsMoreInfo

[2020-05-25 22:33] kieferrm commented on #98534
/needsMoreInfo

[2020-05-25 22:39] kieferrm commented on #98528
/needsMoreInfo

[2020-05-25 22:45] kieferrm commented on #98519
\extPython

[2020-05-25 22:45] kieferrm commented on #98518
\extPython

[2020-05-25 22:45] #98519 closed

[2020-05-25 22:46] #98518 closed

[2020-05-25 22:49] kieferrm commented on #98517
`git.path` is a user setting to avoid potentially running unauthorized code.

[2020-05-25 22:52] kieferrm commented on #98531
@polt13, do I understand correctly: While the C/C++ extension is disabled  both locally and in WSL, the syntax highlighting you see locally differs from the one in WSL for the same file?

[2020-05-25 22:52] kieferrm commented on #98531
/needsMoreInfo

[2020-05-25 22:55] polt13 commented on #98531
That is correct @kieferrm

[2020-05-25 22:56] #98515 closed

[2020-05-25 23:00] kieferrm commented on #98510
\extGo

[2020-05-25 23:00] #98510 closed

[2020-05-25 23:05] faustotnc opened #98540 "TS Server fatal error: Cannot read property 'get' of undefined"
Issue Type: <b>Bug</b>

**TypeScript Version:** 3.8.3
**Steps to reproduce crash**
1.
2.
3.
**TS Server Error Stack**
[code]

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:33:47.663Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz (16 x 2300)|
|GPU Status|2d_canva

[2020-05-25 23:13] kieferrm commented on #98504
The following file extensions are registered as python: `".py", ".rpy", ".pyw", ".cpy", ".gyp", ".gypi", ".pyi", ".ipy"`. I don't know how the Save As dialog picks what extension to show by default.

[2020-05-25 23:14] #98499 closed

[2020-05-25 23:20] kieferrm commented on #98482
/needsMoreInfo

[2020-05-25 23:23] kieferrm commented on #98480
/needsMoreInfo

[2020-05-25 23:27] kieferrm commented on #98477
@rsemenoff it seems your installation was corrupted. Did the problem occur right after you restarted VS Code to apply an update?

[2020-05-25 23:28] kieferrm commented on #98477
/needsMoreInfo

[2020-05-25 23:30] kieferrm commented on #98474
Can you please provide more details for your proposal?

[2020-05-25 23:30] kieferrm commented on #98474
/needsMoreInfo

[2020-05-25 23:34] kieferrm commented on #98468
\extJava

[2020-05-25 23:35] #98468 closed

[2020-05-25 23:35] kieferrm commented on #98465
\extC

[2020-05-25 23:36] #98465 closed

[2020-05-25 23:36] kieferrm commented on #98464
/needsMoreInfo

[2020-05-25 23:37] kieferrm commented on #98461
\extPython

[2020-05-25 23:37] #98461 closed

[2020-05-25 23:38] kieferrm commented on #98458
\extC++

[2020-05-25 23:38] #98458 closed

[2020-05-25 23:39] kieferrm commented on #98457
I'm guessing that the issue of not finding `stdio` happened after you installed the C extension.

[2020-05-25 23:39] kieferrm commented on #98457
\extC

[2020-05-25 23:40] #98457 closed

[2020-05-25 23:44] kieferrm commented on #98454
VS Code inherits the environment of the process it is started by.

[2020-05-25 23:45] kieferrm commented on #98450
\extPython

[2020-05-25 23:45] #98454 closed

[2020-05-25 23:45] #98450 closed

[2020-05-25 23:46] kieferrm commented on #98449
@nbkgit what language do you want to debug?

[2020-05-25 23:46] kieferrm commented on #98449
/needsMoreInfo

[2020-05-25 23:48] kieferrm commented on #98445
/needsMoreInfo

[2020-05-25 23:51] kieferrm commented on #98440
/needsMoreInfo

[2020-05-25 23:52] kieferrm commented on #98438
See comment above.

[2020-05-25 23:53] #98438 closed

[2020-05-25 23:56] nbkgit commented on #98449
for now i try to debug python with installed python 3.82 64 bit and i installed all the in vs code recommended  extensions, or if need be some other.

the python is a simple mysql.connector program that get a table and print its elements.

As i wrote in my issue i click on the button and then should be a small ribbon with some icons to get step by step debug and so on, this appears only for a spli

[2020-05-26 00:03] kieferrm commented on #98423
@dzakydaffa24 we don't support old versions of VS Code. Please uninstall your old version and install the latest version. Try to run with auto-update enabled, so that you always stay on the latest version.

[2020-05-26 00:03] #98423 closed

[2020-05-26 00:10] thisVioletHydra commented on #29091
![image](https://user-images.githubusercontent.com/11839238/82848951-6add6f00-9efe-11ea-962e-adaed0d6130a.png)
pls add this!

[2020-05-26 00:14] gyzerok commented on #79275
Awesome, thank you!

Looks like I have all the puzzle pieces. Will take a deeper look during the weekend. An opportunity to contribute to VSCode (which I have been happily using for 4 years) is very exciting :)

[2020-05-26 00:15] kieferrm commented on #98384
/needsMoreInfo

[2020-05-26 00:19] kieferrm commented on #98377
You can highlight/filter in the explorer today. However, this is not true for folder inside collapsed folders.

[2020-05-26 00:29] lucianotres commented on #10952
I'm just wondering why this is still open. Should have a built in option or let the extensions do the show.
By the way, that's the amazing of the vscode. For who that like to auto hide the panes too, see this extension: [Auto Hide](https://marketplace.visualstudio.com/items?itemName=sirmspencer.vscode-autohide)

[2020-05-26 00:29] kieferrm commented on #98361
/needsMoreInfo

[2020-05-26 00:30] kieferrm commented on #98359
/needsMoreInfo

[2020-05-26 00:37] #97871 closed

[2020-05-26 00:38] #97894 closed

[2020-05-26 00:38] #98003 closed

[2020-05-26 00:39] #98084 closed

[2020-05-26 00:39] #98068 closed

[2020-05-26 00:41] kieferrm commented on #98094
Without the details that tell us which steps were taken we can't be helpful.

[2020-05-26 00:41] #98094 closed

[2020-05-26 00:41] #98107 closed

[2020-05-26 00:42] kieferrm commented on #98117
\extPython

[2020-05-26 00:43] #98124 closed

[2020-05-26 00:43] #98117 closed

[2020-05-26 00:44] kieferrm commented on #98144
Please reopen when you have more insights. Thanks a ton!

[2020-05-26 00:44] #98144 closed

[2020-05-26 00:45] #97956 closed

[2020-05-26 00:46] #98165 closed

[2020-05-26 00:47] fiveisprime commented on #98375
Following up with the marketplace team. I'll update when I hear back.

[2020-05-26 00:47] kieferrm commented on #98167
@aeschli related to semantic highlighting?

[2020-05-26 00:51] kieferrm commented on #98217
\extJava

[2020-05-26 00:51] #98217 closed

[2020-05-26 00:51] #98239 closed

[2020-05-26 00:53] #98291 closed

[2020-05-26 00:55] kieferrm commented on #98531
Thank you. Since this is related to the C/C++ extension, it should be addressed there.

[2020-05-26 00:55] kieferrm commented on #98531
\extC

[2020-05-26 00:55] #98531 closed

[2020-05-26 00:56] kieferrm commented on #98449
\extPython

[2020-05-26 00:56] #98449 closed

[2020-05-26 01:07] lebtron commented on #10952
I just tried it. It does exactly what I want! Thank you!

[2020-05-26 01:10] datazen opened #98541 "SCM hover action overlaps with code folding chevron"
Issue Type: <b>Feature Request</b>

The code folding caret and the view control next to it are too close together.  trying to click to fold code results in the other debug (not sure what its called) popup to happen.  move the line to the other side of the numbers to give more space.

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:35.169Z)
OS version: Windo

[2020-05-26 01:11] mtbun commented on #98537
I forgot to write. this problem in os x

[2020-05-26 01:24] rebornix opened #98542 "Webview resource: support baseUrl and relative path"
In webview, extensions are now converting file based URIs to `vscode-webview-resource` URI. It works for absolute paths but doesn't work for relative path. For example, say we have a webview which has base Url set as

[code]

and then use relative path for images

[code]

Currently it's not resolved properly. If there is `baseUrl` set for the web view, we may want to convert it to

[code]

[2020-05-26 01:29] jaywick opened #98543 "Idea: `isLastWindow` when-clause for keybindings"
As per my [question on Superuser](https://superuser.com/questions/1552747/vscode-keyboard-binding-to-only-close-window-but-close-app-if-last-window) I would like to be able to use `CMD + Q` on MacOS X to

1. Close only the current window, and
2. Quit the app as well if it's the last

This doesn't appear possible based on the supported [when clause contexts](https://code.visualstudio.com/docs/getst

[2020-05-26 01:31] GODEYESCAO opened #98544 "提示无法出现，卡炸"
所需的数据太大，无法直接发送。我们已经将其写入剪贴板，请粘贴。

[2020-05-26 01:32] HubKing opened #98545 "Main drop-down menu flickers on Linux, dark OS theme."
- VSCode Version: 1.45.1
- OS Version: Ubuntu 20.4, Window theme = "Dark"
Steps to Reproduce:

1. Click "File" on the main menu
2. Move the mouse pointer to the right/left fast. Or keep clicking the "File" so that the drop-down menu keeps disappearing/reappearing.

The drop-down menu flickers too much. It seems the whole drop-down menu becomes white briefly, and then redrawn. Not a serious problem

[2020-05-26 01:33] diablodale commented on #98517
@kieferrm , I don't understand your comment. Did you mistype or missing a word? As a guess, did you intend to write "git.path is *not* a user setting..."?

If that was your intention, then a restriction like that doesn't protect anyone with any actual beneficial effect. That's like putting a red velvet rope around something. Or security through obscurity. Its meaningless and only hinders normal us

[2020-05-26 01:34] jzdayz commented on #98468
Thanks i will report it to exjava

[2020-05-26 01:34] Plummtw opened #98546 "Visual Studio Download location"
Hi :

This is not a issue about the visual studio code itself, it's about the link in the website, because I don't know where to report so I just report here.

I live in Taiwan, and in my place I can download Visual Studio Code previously, but now I cannot.

I suggest we can specify the download location of Visual Studio Code in web site https://code.visualstudio.com/. Because the download locatio

[2020-05-26 01:56] freedomhero commented on #98375
@fiveisprime Thank you, and here's my extension: https://marketplace.visualstudio.com/items?itemName=bsv-scrypt.sCrypt&ssr=false#overview

[2020-05-26 02:22] HiddenBehindTheKeyBoard opened #98547 "Problems to delete file or folder in Visual Studio Code"
if you delete file or folder with visual studio code, seconds later the file or folder is restored.

[2020-05-26 02:23] #93501 closed

[2020-05-26 02:44] RohitKamineni commented on #98528
I created a new file "index.html" but the editor does not recognize the file as a HTML doc and the snippets don't work. Saving it as .htm instead seems to solve the issue. I'm guessing maybe one of the extensions I downloaded is interfering with the natural process. Will update once I can try and find out whats wrong

[2020-05-26 03:30] rsemenoff commented on #98477
Ive been using vscode for 6 months but it stopped working after the most recent windows update . Thanks to cmarshall92 for the tip on reinstalling.  I might also mention that i have been editing files within wsl although that seems to have been working.  I also recently installed windirstat and have run a virus scan after using it once.

[2020-05-26 03:34] rsemenoff commented on #98477
Vscode itself never seems to update for me, maybe because im offline most of the time. This time I think the vscode update actually took place along with the windows update.

[2020-05-26 04:06] fitzlm commented on #98518
ok, thanks!

[2020-05-26 04:31] nosynose commented on #98482
Sorry for late reply.

Regarding the question "If you are still holding alt this adds a second
cursor to the text editor I wonder if that's the issue where its sometimes
adding a second cursor."

Yes, the problem is exactly that the feature you mentioned was triggered.
But it could not be an human error unless I have 2 left hands: my mouse is
left-handed and Shift-Alt-Up/Down uses left-Alt.

On Mo

[2020-05-26 05:14] FaisalAslam097 commented on #60697
Had the same issue, Here is the solution.
1) go the directory where VS code is installed    i.e  User/ Program/VS Code
2) run the uninstall.exe
3) install vscode again

[2020-05-26 05:28] bpasero commented on #79275
@ashtuchkin does that mean I can pass in "something" that matches that interface and it will work? I would need this to be exposed from the TypeScript types of `iconv-lite` to work properly. I think today the type is still a node.js one:

https://github.com/ashtuchkin/iconv-lite/blob/de9c10bc9c424f49f451f34a9b09408f40b0aba7/lib/index.d.ts#L15-L17

[2020-05-26 05:30] bpasero commented on #98391
We did not change this setting at all. I think you have issues with the settings file maybe, can you check the contents of the file has this entry and then check the settings editor?

[2020-05-26 05:41] bpasero commented on #98504
This seems like standard Electron behaviour, I can reproduce in a Fiddle and Electron seems to pick a random entry where I would expect it should pick the first:

[code]

[2020-05-26 05:42] ashtuchkin commented on #79275
I can add these methods to typescript definition, currently they are not there. I was treating them as non-public for the time being (as they are not usually useful for Node.js). I did get requests to make them public before, so it probably makes sense to just do it.

The link you gave is for decodeStream/encodeStream - these are for Node.js streams, you're right. These are not what I was talking

[2020-05-26 05:42] j-a-lewis opened #98548 "Work With nVidia So VS Code Can Be Used To Setup CUDA For Machine Learning Instead of Having To Use Visual Studio Community"
I recently got a new computer with a powerful nVidia GPU to pursue online instruction in machine learning.  As part of Microsoft's instructions to set up CUDA 9.x, required for CNTK v2.7, I downloaded and installed an nVidia CUDA package that required Visual Studio Community 2019 to be installed for CUDA setup.  I'm an ignorant 74-yearold retiree hobbyist but I was wondering why Microsoft, VS Code

[2020-05-26 05:43] bpasero commented on #98476
I have no knowledge about this feature or how it works.

@deepak1556 any clues?

I do not expect anything actionable from our side, but let's leave this issue open for a week to see if someone has ideas.

[2020-05-26 05:45] ashtuchkin commented on #79275
As an example, I'm wrapping these Encoder/Decoder stream objects with Node.js Transformer class to create Node.js-compatible transformer streams here https://github.com/ashtuchkin/iconv-lite/blob/master/lib/streams.js#L27  (this.conv is the Encoder)

[2020-05-26 05:46] #98469 closed

[2020-05-26 05:53] bpasero commented on #98364
@rebornix I recommend to use the OSS repo and then `yarn gulp mixin-server` because `distro` can always be out of sync and is probably broken right now. I can run the tests (`yarn smoketest --web`) just fine from OSS with that approach and still see failures:

[code]

[2020-05-26 05:55] bpasero commented on #98364
What?

https://monacotools.visualstudio.com/DefaultCollection/Monaco/_build/results?buildId=75320&view=logs&j=a5e52b91-c83f-5429-4a68-c246fc63a4f7&t=1fbbf8a8-a0a4-519f-def5-b5fd8ca21811

[2020-05-26 06:01] YMRkai opened #98549 "Why not release vscode-uri@2.1.2 on NPM，we will use it better！"
Why not release vscode-uri@2.1.2 on NPM，we will use it better！
we need download it on NPM , release it on NPM , please , thanks!

[2020-05-26 06:05] joaomoreno commented on #43951
You're absolutely right, sorry about that.

[2020-05-26 06:06] ashtuchkin commented on #79275
Added methods to .d.ts in the latest master commit.

[2020-05-26 06:22] dacapoday opened #98550 ".ini file coloring bug"
.ini file character coloring is not correct when use single ' and " at value field.
![Snipaste_2020-05-26_14-18-14](https://user-images.githubusercontent.com/9378047/82866707-05b86680-9f5c-11ea-878f-fa89d509e911.png)
key_c and key_e color is different with key_a.

[2020-05-26 06:23] toybits opened #98551 "PowerShell integrated Console errors"
- VSCode Version: 1.45.1
- OS Version: 2012 R2 (6.3.9600)

Steps to Reproduce:
This is not happening on Win10 machines.

Is happening in an RDP Console.
When I type in the Integrated console, I get strange characters. I get the character I type and a bunch of others.

For example, if I type c (i.e. for clear-host) I get

c[38;5;238mls

I can keep typing, say cls and I get cls[38;5;238mcls, however

[2020-05-26 06:24] albertly opened #98552 "rtl language support in terminal window"
Hebrew text in terminal window not in right-to-left order.
in code window everything is ok.

![image](https://user-images.githubusercontent.com/3274890/82866446-9cbbf900-9f31-11ea-8a72-621fe9e49fd4.png)

Steps to Reproduce:

![image](https://user-images.githubusercontent.com/3274890/82866873-6cc12580-9f32-11ea-81b8-971b7b4d3714.png)

output with console.log.

[2020-05-26 06:25] bpasero opened #98553 "Authentication service: move into workbench.common.main.ts?"
It looks to me like the same service is registered for web and desktop and thus should move into `workbench.common.main.ts`

[2020-05-26 06:34] chrmarti commented on #94862
@alexravenna Could you open a new issue? For the new issue: Does Chrome/Chromium work on your machine? What type of proxy is it (I see `ERR_NO_SUPPORTED_PROXIES` mentioned with socks.)

@keelung-yang Did the original problem come back or is the error you mention in your last comment new?

[2020-05-26 06:39] fiveisprime commented on #98375
Please try your deployment again. It should be corrected now.

[2020-05-26 06:42] mazhan465 opened #98554 "can't debug go program from windows to linux"
Issue Type: <b>Bug</b>

when I in windows and  use remote-ssh connect to my centos7  debug for my go program:
go: GOPATH entry is relative; must be absolute path: "C".
For more details see: 'go help gopath'
exit status 2
Process exiting with code: 1
err happend and this was in my debug console.

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48.860Z)
OS ve

[2020-05-26 06:48] awebdeveloper opened #98555 "Setting to exclude files from IntelliSense but not get and VS Code"
I would like to exclude mocks files to be excluded from IntelliSense. While working on a React-TypeScrypt Project I notice that VS Code suggest me functions and tags from other files too in codebase which many not have been imported, which is great. On selecting that not only does it add the function, it imports it too, which is again awesome.

But it needs a small change.  The way mocks work (at

[2020-05-26 06:48] #98395 closed

[2020-05-26 06:49] jrieken commented on #98497
Not possible

[2020-05-26 06:56] jrieken commented on #98352
We are pretty clear about this and it needs some thinking what it means if we change this now: https://github.com/microsoft/vscode/blob/68f2488cbcd9244d9b2942d40df78642f108a67b/src/vs/vscode.d.ts#L9747-L9749

Can't you handle this inside your extension?

[2020-05-26 07:00] jrieken commented on #98155
@babakks was first

The sources are in a separate extension here: https://github.com/microsoft/vscode-references-view/blob/846367409ec890e3415c919db772c3fbfe01f41e/src/extension.ts#L356

[2020-05-26 07:02] jrieken commented on #98430
That's what "Go To References" is for, "Find All References always shows a stable (todo) list"

[2020-05-26 07:02] #98430 closed

[2020-05-26 07:03] jrieken commented on #98397
This is a duplicate. Unfortunately, I don't recall the exact issue number nor its title :flushed: Anyways, searching for issues with the same labels will likely help you :point_right:
https://github.com/microsoft/vscode/issues?utf8=✓&q=is%3Aopen+label%3Asuggest+label%3Aux

[2020-05-26 07:03] #98397 closed

[2020-05-26 07:06] jrieken commented on #85930
For remote extension hosts, all uris go through some special handling so that an extension can talk about a (local) file-uri and so that the UI knows that it's a file-uri on the other machine. So, now the question is if UR**L** objects should also go through that mechanism (which requires them to be uris) or not

[2020-05-26 07:11] jrieken commented on #98321
Yeah, that a problem with the tree eating up left/right. You can workaround like this

* use `ctrl+space+;` to only focus the breadcrumbs without showing the breadcrumbs picker
* use `ctrl+left` or `ctrl+right` to move inside breadcrumbs while the picker is showing

[2020-05-26 07:13] aeschli commented on #98104
Cool, glad it works again. Thanks for reporting back!

[2020-05-26 07:13] #98104 closed

[2020-05-26 07:14] jrieken commented on #98392
This is controlled via the `editor.suggestSelection` setting. By default, it remembers the last selected suggestion so that you don't always have to arrow up/down. What you want is the `first` options of that setting

[2020-05-26 07:14] #98392 closed

[2020-05-26 07:16] jrieken commented on #98381
/duplicate of https://github.com/microsoft/vscode/issues/88104

[2020-05-26 07:16] #98381 closed

[2020-05-26 07:22] jrieken commented on #77131
@codex-zaydek You are on the wrong issue, this is about custom _binary_ editors, please create a new one.

[2020-05-26 07:23] jrieken commented on #98309
@bpasero, @isidorn Not sure if the working-copy service still needs support for this or if the explorer didn't adopt this yet

[2020-05-26 07:29] AgrMohit commented on #98230
Update:
The crash only occurs when using opening the project in WSL.
Opening the project in windows works normally.

The crash only occurs in javascript projects.
C, C++ projects don't seem affected by this

[2020-05-26 07:35] bpasero commented on #98497
Then I suggest to remove this feature, we will not be able to support sync access to clipboard in the future.

[2020-05-26 07:37] JacksonKearl commented on #97915
Thanks for this and the PR! I unfortunately wasn't able to get around to it in the May iteration but I've scheduled it for June.

[2020-05-26 07:37] bpasero commented on #98321
/duplicate https://github.com/microsoft/vscode/issues/53950

[2020-05-26 07:38] #98321 closed

[2020-05-26 07:38] dbaeumer commented on #98311
Since this works in general it doesn't look like a problem with the NLS infrastructure.

@Tyriar can you please check that you provide both strings for the command.

[2020-05-26 07:43] bpasero opened #98556 "Clipboard: sync access is deprecated"
When we enable `sandbox` for the renderer, clipboard access can only be async.

There is usages of sync clipboard access here:

https://github.com/microsoft/vscode/blob/66ef23d401b24444d1465aa4bd6db369c1632de2/src/vs/editor/contrib/find/findController.ts#L362

https://github.com/microsoft/vscode/blob/66ef23d401b24444d1465aa4bd6db369c1632de2/src/vs/editor/contrib/find/findController.ts#L373

(I thi

[2020-05-26 07:44] jrieken commented on #98497
How does the editor paste? It's not async, right? The challenge is that inserting snippets is sync and therefore I cannot await async clipboard reading, for e.g tab completions. The whole backstory is here: https://github.com/microsoft/vscode/issues/76847

[2020-05-26 07:45] wayou opened #98557 "Is it possible to list members of a class which is returned by a function in the symbol palette?"
Sample code:

[code]

<kbd>Command</kbd> + <kbd>Shift</kbd> + <kbd>O</kbd> open the `Go to Symbol in Editor...` and there's only the `default` showing:

![image](https://user-images.githubusercontent.com/3783096/82873756-8d57a280-9f67-11ea-9695-5a01b7ab295f.png)

Is it possible to list the member of the inner class returned by the function?

[2020-05-26 07:46] alexr00 commented on #98431
This is intentional and was a feature request. The idea was to provide a quick way to go to user home.

[2020-05-26 07:46] #98431 closed

[2020-05-26 07:47] bpasero opened #98558 "Allow to pin tabs"
Tabs can be pinned. See https://github.com/microsoft/vscode/issues/98019 for features and https://github.com/microsoft/vscode/issues/98161, https://github.com/microsoft/vscode/issues/98160 for follow up work.

![pin-tabs](https://user-images.githubusercontent.com/900690/82874137-cd9e2d00-9f35-11ea-9826-d808cad3c4fb.gif)

[2020-05-26 07:48] sstone1 commented on #98435
@kieferrm @sandy081 this is most likely a duplicate of #98366 - the marketplace entries for our extension seem to be corrupted such that it repeatedly downloads an older version than the one we've published.

[2020-05-26 07:48] #98558 closed

[2020-05-26 07:49] #12622 closed

[2020-05-26 07:51] Morriz commented on #97434
I am seeing the same error now with recent vscode:

Version: 1.45.1
Commit: 5763d909d5f12fe19f215cbfdd29a91c0fa9208a
Date: 2020-05-14T08:33:47.663Z (1 wk ago)
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.4.0

[2020-05-26 07:52] bpasero commented on #98497
@jrieken the editor has focus on a hidden text area and thus copy/paste work natively. What I am referring to is the use the related sync `IClipboardService` methods. If you can read the clipboard using another trick that does not involve this Electron API, then it is fine as well.

The `clipboard` module is not accessible in sandboxed renderers and as such need a IPC call to the `electron-main` p

[2020-05-26 07:52] alexr00 commented on #98394
Thanks for reporting this issue! This is an issue with the shell script grammar we use from https://github.com/atom/language-shellscript. However, they aren't maintaining the textmate grammar anymore. I'll leave this issue open so that if we ever switch to a different grammar I can address it.

[2020-05-26 07:53] DanTup commented on #85930
I see - it does sound like there's more to it than I thought.

I've managed to work around it for now (passing things on the querystring - which isn't affected as much by the encoding - instead of the fragment, and having the receiving app move them over) as I needed a fix for the next release.

[2020-05-26 07:54] chrmarti commented on #98433
@wizcas What do you have in the Remote-WSL log? (`F1` > `Remote-WSL: Show Log` or click on the link in the progress notification in the lower right during startup.) Does the log hang on a particular step during startup?

(@aeschli Tried to reproduce with a local proxy with no success.)

[2020-05-26 07:55] saveriomiroddi opened #98559 "Keyboard locks after a certain sequence"
- VSCode Version: 1.45.1-1589445302 and 1.46.0-1590182489 (insiders)
- OS Version: Ubuntu MATE 20.04

Steps to Reproduce:

1. Save [this](https://raw.githubusercontent.com/saveriomiroddi/personal_notes/f6af9dce9cebe479c9f17d80a5c758746cb68dd7/debian_packaging_ppas.md) file locally (it happens also with other files; this is a file I've been able to reproduce it consistently with)
2. Launch VSC
3. O

[2020-05-26 07:55] bpasero opened #98560 "Integration test failure: notebook workflow notebook cell actions"
https://monacotools.visualstudio.com/DefaultCollection/Monaco/_build/results?buildId=76289&view=logs&j=a5e52b91-c83f-5429-4a68-c246fc63a4f7&t=8e2e103d-8d5d-54da-dc73-3c44bf1dc402&l=242

[code]

[2020-05-26 08:04] hrvoj3e opened #98561 "Offer a setting to not close tabs when their files do not exist"
My scenario
 - there is a sshfs mount where I edit some code
 - save a workspace with split windows with N open files
 - close Code
 - after a while (days, multiple restarts after) want to work again on saved workspace
   - sshfs not mounted - files are not available
 - open workspace with Code
   - for a moment (< 1 sec) there are all tabs visible
     - but then all tabs disappear
     - split w

[2020-05-26 08:05] bpasero commented on #98309
@jrieken I was not aware there is support for an array of resources, e.g. when I look at `$onWillRunFileOperation` and `$onDidRunFileOperation` I can only pass in a single resource. But it would probably be easy enough to support an array here given the ext host side supports an array for the event.

This needs:
* support on the working copy file service to do operations on multiple resources
* ad

[2020-05-26 08:10] aeschli commented on #98280
Looks like a rendering issue. Not sure who owns the suggest widget now. @jrieken ?

[2020-05-26 08:11] wizcas commented on #98433
@chrmarti Thanks for the reply. I didn't have this problem until a few weeks ago. Not sure if some kind of updates caused this.

I don't see any progress notification during the startup. The startup is super slow *before* the window shows up rather than after.

Below is the output of the `Remote-WSL: Show Log` *after* the window showed up. Looks OK without any time-consuming operations. I'm not su

[2020-05-26 08:14] aeschli commented on #95895
@dufferzafar Each language defines the region pattern it supports. The request to add also region markers for JSONC is https://github.com/microsoft/vscode/issues/95287

[2020-05-26 08:16] wizcas commented on #98433
To identify if it's a `Remote-WSL` issue, I tried to first open VS Code in PowerShell, then connect to `Remote-WSL` manually and see the performance. Turns out everything works nice and smooth. I assume it's something wrong before the `Remote-WSL` plugin getting into place.

[2020-05-26 08:17] pMertDogan commented on #98480
I recorded video about my issue

Left VS Code ( shift+ alt + arrow )   , Right Android Studio ( ctrl + w )
Video link:
https://1drv.ms/u/s!An33J1c1rPZhhaVoFyJ4uGOoqj1HNQ?e=ugqOPj

[2020-05-26 08:20] Nakali94 opened #98562 "One installation of vs code server on remote machine"
Hi,

just a quick question, is it possible to install vs code server on remote machine just once for all users? Alternatively can I somehow change the destination of installation so its not located inside users home folder? Sadly we have no space in /home folder at all.

Thank you,
John

[2020-05-26 08:29] aeschli commented on #96083
There's the `Show Online Setttings` command that shows all settings related to network accesses that come out of VSCode or the VSCode built-in extensions. The new JSON schema loading setting is in there too. It also prevents loading remote schemas that were configured by extensions.

Still, you need to be aware that there are many more things that extensions can do. The rule is: Only install exten

[2020-05-26 08:34] jrieken commented on #98280
Cannot reproduce, please tweak your steps

[2020-05-26 08:35] egamma commented on #98554
\extGo

[2020-05-26 08:36] #98554 closed

[2020-05-26 08:38] chrmarti commented on #98433
@wizcas If part of the application ignored the `Http: Proxy` setting, would it be able to connect to the internet directly or is that blocked by some firewall?

@aeschli Could this be some startup code specific to the WSL CLI? (Since the delay is before the window opens.)

[2020-05-26 08:38] egamma commented on #98548
Does this blog help https://ericzhng.github.io/eric-blogs/2018/10/11/vs-code-cuda/?

[2020-05-26 08:40] aeschli commented on #98507
The syntax highlighting comes from the HTML textmate grammar. The new types need to be added there.

[2020-05-26 08:47] thefoxie opened #98563 "Window stays grayed out after opening a link"
Version: 1.45.1
Commit: 5763d909d5f12fe19f215cbfdd29a91c0fa9208a
Date: 2020-05-17T22:31:53.325Z
Electron: 7.1.14
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 5.6.14-arch1-1

Steps to Reproduce:

1. Open link which opens modal window (or whatever it is)
2. Sometimes the background stays grayed out even after the action is taken

Opening `Help -> About`  makes it go

[2020-05-26 08:48] isidorn commented on #97993
@misolori thanks for fixing it!

[2020-05-26 08:49] isidorn commented on #98241
Seems like git decorations get broken for repositories with accets / whitespaces.
Forwarding to @joaomoreno @jrieken

[2020-05-26 08:51] isidorn commented on #98212
Thanks for trying it out with insiders.
Code pointer for potential fix https://github.com/microsoft/vscode/blob/66ef23d401b24444d1465aa4bd6db369c1632de2/src/vs/workbench/contrib/files/browser/views/explorerViewer.ts#L629

[2020-05-26 08:51] alexr00 commented on #96537
This happens for both tasks, snippets, and launch. @aeschli, I think there might be some problem with file watching in WSL2.

[2020-05-26 08:52] funnycom opened #98564 "non-English documents are required."
I haven't seen the VS Code related documents translated into any other languages in docs.com.  There are so many VS Code users in the world. Don't you have any plans to translate to non-English languages?

[2020-05-26 08:52] isidorn commented on #98066
Ok it is the TS Server
![Screenshot 2020-05-26 at 10 52 09](https://user-images.githubusercontent.com/1926584/82880612-f7a81d00-9f3e-11ea-9c2b-c94f08d61e13.png)

Here is the TS Log

[Info  - 07:31:19.334] Starting TS Server
[Info  - 07:31:19.334] Using tsserver from: /Applications/Visual Studio Code - Insiders.app/Contents/Resources/app/extensions/node_modules/typescript/lib
[Info  - 07:31:19.336]

[2020-05-26 08:53] joaomoreno commented on #95964
@connor4312 Please let's have the bot not do this for ourselves.

[2020-05-26 08:54] j-a-lewis commented on #98548
Thanks for the suggestion.  I'm saving it for future reference!  Allowing for my ignorance, that seems to be along the lines of what I want, to make use of C++ in VS Code to set up a CUDA environment.  I'm probably asking too much, though, in that I'd be even happier if nVidia and Microsoft would work together along the VS Coding community to make it an out-of-the-box alternative for running a CUD

[2020-05-26 08:55] isidorn commented on #98066
Might it be TS semantic highlighthing that causes 100% cput?
fyi @aeschli

[2020-05-26 08:55] joaomoreno commented on #97633
Tree/list users own the DOM inside the rows. So it's up to you to implement that if needed.

[2020-05-26 08:57] isidorn commented on #95894
@Neurrone yeah, we only show the command when it is applicable - when an anchor was set.

[2020-05-26 08:57] aeschli commented on #98383
Can you explain what you want to do with that PID?

Typically client and remote extension hosts runs on a different platform and the PID of the client has no meaning in the remote environment. The exception is WSL1, but you wouldn't want to write an extension that only works in WSL1.

[2020-05-26 08:57] joaomoreno commented on #97056
Can you really reproduce this with any project?

What does `Git: Show Git Output` show?

[2020-05-26 08:59] joaomoreno commented on #97133
Can you comment out the conda setup from `bashrc`?

Or maybe the `ds4drv` line from `bash_profile`?

Does any of these changes fix it?

[2020-05-26 09:00] #87102 closed

[2020-05-26 09:01] yanisdb commented on #42253
I've found a solution so easy that it really makes wonder why it's not option in VSCode directly.
In this file https://github.com/microsoft/vscode/blob/master/src/vs/workbench/browser/parts/editor/editor.ts there is at line 19, this constant: export const EDITOR_TITLE_HEIGHT = 35.
Setting it to 0 is exactly what i wanted.
![image](https://user-images.githubusercontent.com/17860659/82881130-916fca0

[2020-05-26 09:01] joaomoreno commented on #98098
@devanshj Please have patience and don't ping us. As you can see there are 5k issues and 200 PRs open, on top of all the monthly releases. There's a lot to work on. We'll get to it in time.

[2020-05-26 09:03] aeschli commented on #98167
@gothdawid You can run the `Inspect Editor Tokens And Scope` command to see where the color comes from.
It is related to semantic highlighting, as with semantic highlighting, `where`, `update`, ... are now classified as object properties, while TextMate grammars had a special thing called `object literal key` that could be colored in a different way.
We have https://github.com/aeschli/typescript-v

[2020-05-26 09:03] #98167 closed

[2020-05-26 09:04] aeschli commented on #98537
Looks like #98280

[2020-05-26 09:06] joaomoreno commented on #98232
Can you show me the full output of `Git: Show Git Output`?

[2020-05-26 09:08] ck97756 commented on #98485
Story:
I have firefox installed on my computer.
And I found out that vscode recommend extension "Debugger for Firefox" for me.
Since I didn't open any file relate to firefox development.
I'm concern about my privacy about what app I've installed, even what's on my computer

[2020-05-26 09:08] joaomoreno commented on #98190
You need to escape the question mark, since that's a URI.

https://stackoverflow.com/questions/9357032/question-mark-in-the-middle-of-a-url-variable

[2020-05-26 09:08] #98190 closed

[2020-05-26 09:08] joaomoreno commented on #98130
/duplicate #47841

As a workaround, please disable Windows background updates by setting `update.enableWindowsBackgroundUpdates` to `false`.

[2020-05-26 09:08] #98130 closed

[2020-05-26 09:08] artdevelopertj opened #98565 "The terminal process terminated with exit code: 4294967295"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-05-26 09:09] weinand commented on #98471
I cannot reproduce the problem:
<img width="982" alt="2020-05-26_11-05-03" src="https://user-images.githubusercontent.com/1898161/82882143-f972e000-9f40-11ea-81ef-cd79ca9e7bcf.png">

In addition, please be aware that the '$world' is substituted by the shell that is used to launch python (that's the reason why $world doesn't show up in the output because the shell has substituted it to the empty st

[2020-05-26 09:09] #98565 closed

[2020-05-26 09:09] joaomoreno commented on #98285
What do you mean?

[2020-05-26 09:10] artdevelopertj commented on #98565
Issue Type: <b>Performance Issue</b>

i tried available solutions to no avail. please help. It occurs everytime i try to open up integrated terminal in VS Code

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:35.169Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8400 CPU @

[2020-05-26 09:10] alieonsido commented on #98465
Oops, I should have double checked the position of this post.
Sorry for that.
I will re-post again on the true repo.

[2020-05-26 09:10] artdevelopertj opened #98567 "The terminal process terminated with exit code: 4294967295"
We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Performance Issue</b>

i tried available solutions to no avail. please help. It occurs everytime i try to open up integrated terminal in VS Code

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:35.169Z)
OS version: Windows_NT x64 10.0.19041

<

[2020-05-26 09:10] joaomoreno commented on #98292
Have you tried clicking on that little inline git diff marker+viewer and then checking out the actions in the header of the view which shows up?

[2020-05-26 09:10] #98292 closed

[2020-05-26 09:11] wizcas commented on #98433
@chrmarti 😱 **Oh my! According to your suggestion I think I just found the possible cause!**

It looks like it's the proxy settings **from Windows environment variables**, namely `HTTP_PROXY` & `HTTPS_PROXY`, caused this. I remember I set them a few weeks ago for downloading Electron packages.

---

Here are some experiments I just made. Hopefully you can reproduce the issue locally. (I restarted

[2020-05-26 09:13] blackjyn opened #98568 "Native Android Development support in VSCode: Lint/Code Assist,Debug etc."
I'm NOT a big fan of Android Studio despite with Project Marble makes Android Studio runs faster.
I can code Flutter with IntelliJ IDEA but in my experience using VSCode is faster and consume less resources.

Would you please Microsoft create an "Android Development Extension" to support native Android development via VSCode?

I've already done some hacks using several VSCode extensions (Java,grad

[2020-05-26 09:13] joaomoreno commented on #98186
Yeah some systems don't really like the User Install, which give the best experience for background updates. If the System Install works for you, I'd stick with it. 👍

[2020-05-26 09:13] #98186 closed

[2020-05-26 09:18] blackjyn commented on #98568
hey bot, Its not duplicate .
Its totally different thing

[2020-05-26 09:18] keelung-yang commented on #94862
@chrmarti It works now. Here are details:

- Version: 1.45.1 (system setup)
Commit: 5763d909d5f12fe19f215cbfdd29a91c0fa9208a
Date: 2020-05-14T08:27:35.169Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.17763

[2020-05-26 09:19] sketchbuch commented on #98485
Maybe check if you have an extensions.json file in the .vscode folder, extension recommendations can come from that file.

https://code.visualstudio.com/docs/editor/extension-gallery#_workspace-recommended-extensions

[2020-05-26 09:23] ssbarnea opened #98569 "Tun on Preference Sync does nothing"
We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Bug</b>

Clicking "Turn on Preferences Sync"

VS Code version: Code - Insiders 1.46.0-insider (da98a19a5d6724367bd99c8ec3b8f55054be37d1, 2020-05-20T23:28:34.587Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i

[2020-05-26 09:24] jrieken commented on #98537
/duplicate

[2020-05-26 09:24] #98537 closed

[2020-05-26 09:27] ck97756 commented on #98485
No, both {home}/.vscode and {workspace}/.vscode don't have extension.json.
![圖片](https://user-images.githubusercontent.com/4375298/82884237-0eb63180-9f76-11ea-9a09-aa54491e2ad0.png)
And it says "because you have Mozilla Firefox installed"

[2020-05-26 09:28] sketchbuch commented on #98485
Also if you hover over the extension that is recommended the tooltip will tell you why it was recommended

[2020-05-26 09:29] sketchbuch commented on #98485
Maybe they do check your apps :/

[2020-05-26 09:30] jrieken commented on #98280
@mtbun please update steps here

[2020-05-26 09:31] sketchbuch commented on #98485
In the settings it says that "some recommendations are fetched from a microsoft online service"... maybe if you have windows and install apps via the app store this information is queried by VSCode

[2020-05-26 09:31] isidorn opened #98570 "CallStack: set inline context key on hover not on context menu"
Spinoff from https://github.com/microsoft/vscode/issues/97633

I need to fix that the context key is set per hovered item, not per context menu in the call stack view

[2020-05-26 09:31] isidorn commented on #97633
@joaomoreno yeah I should do it on my elements, thanks. We can do it with a small timeout, and only once hovered element changes. So I think it will not be a performace problem in the end. I can measure.

@connor4312 bottom line, I need to fix that the context key is set per hovered item, not per context menu. I have created this issue to track this https://github.com/microsoft/vscode/issues/98570

[2020-05-26 09:32] abhijeetviswa commented on #98471
Oh. I'm sorry. I probably wasn't clear enough. $hello is passed perfectly. What I want to pass is the string $hello to python itself (without the shell substituting it). I can't escape the $ using single quotes nor can I add a backslash. Here are some pics.

![image](https://user-images.githubusercontent.com/2743113/82884697-b37a4400-9f61-11ea-8125-aff9483a9a47.png)
![image](https://user-images.gi

[2020-05-26 09:32] isidorn commented on #98398
As this is configuration resovling assigning also to @alexr00 and unassigning myself.

[2020-05-26 09:32] HarveyHub opened #98571 "core dumped if a breakpoint was set"
- VSCode Version:1.45.1
- OS Version: Ubuntu 16.04  linux core:4.15.0

Steps to Reproduce:

1. press F5  to debug the executable
2. it will core dump if you set a break point on cpp fille

![Image_20200526173012](https://user-images.githubusercontent.com/7811407/82884709-ad429280-9f76-11ea-9498-afaa15f0a7f3.jpg)

Does this issue occur when all extensions are disabled?: Yes/No

[2020-05-26 09:33] isidorn commented on #98526
Please use this setting if you want to disable this behavior 	"zenMode.centerLayout": false,

[2020-05-26 09:33] #98526 closed

[2020-05-26 09:33] ck97756 commented on #98485
Firefox is install by the installer downloaded from Mozilla.
I don't think Mozilla will provide microsoft such info

[2020-05-26 09:33] alexr00 commented on #92868
@Tyriar I added `setTimeout` hack so that my `onLineData` listener isn't disposed until later, giving "enough" time after when `exit` is fired for the rest of the line data to come through.

[2020-05-26 09:35] isidorn commented on #98393
This is a theme issue, not an accessibility issue, thus removing tag and myself.
I am not sure where we apply the High Contrast theme automaticallt. @aeschli might know more and provide a code pointer.

[2020-05-26 09:37] 7af03dec0b commented on #95521
I had the same problem, but something seems to have changed on the Windows side... I used a local script for automatic proxy settings, it worked for a long time, but a few weeks ago I installed an update for Windows and then I had to switch the proxy settings to "Automatically detect settings" and from then on everything works properly, including VS code

[2020-05-26 09:38] mtbun commented on #98280
i solved my problem. i made the suggestion font bigger.

[2020-05-26 09:38] ssbarnea opened #98572 "code -r does not change focus"
At least on MacOS, opening a file or folder using window reuse option from a terminal does not change focus to vscode app.

When not using `code -r` the newly created window is focused and you can start typing right away but this does not happen when using reuse option. So far I seen myself forced to user the mouse/table to click on vscode in order to be able to edit the file, very inconvenient.

[2020-05-26 09:41] jrieken commented on #98280
how small was it? did you configure that beforehand or was the default bogous?

[2020-05-26 09:41] isidorn commented on #98421
You basically working sets, thus duplicate of https://github.com/microsoft/vscode/issues/9498

[2020-05-26 09:41] #98421 closed

[2020-05-26 09:47] aeschli commented on #97294
@bpasero Thanks for tracking that down. If only @isidorn had copy/pasted my suggestion from https://github.com/microsoft/vscode/issues/94191#issuecomment-608285021 :-)

[2020-05-26 09:47] mtbun commented on #98280
i've no idea. it happened suddenly

[2020-05-26 09:48] ck97756 commented on #98485
They do parse your folder
I found the code

extensionTipsService.ts

`
	private async getValidExecutableBasedExtensionTips(executableTips:
IStringDictionary<IExeBasedExtensionTip>): Promise<IExecutableBasedExtensionTip[]> {

		const result: IExecutableBasedExtensionTip[] = [];
		const checkedExecutables: Map<string, boolean> = new Map<string, boolean>();
		for (const exeName of Object.keys(executa

[2020-05-26 09:53] aeschli commented on #96537
To debug the file watcher, run `Set Log Level...`, `Trace`, reopen the remote window and observe the `Output`, `Log (Remote Server)` log. Look for `[File Watcher]` messages.
Check that there are no error messages and that the exclusion patterns look right.

[2020-05-26 09:55] aeschli commented on #98066
@isidorn Try `"editor.semanticHighlighting.enabled": false` to test that hypothesis.

[2020-05-26 09:56] JacksonKearl opened #98573 "Dynamically trusted domains don't include github remote domains"
#97532

[2020-05-26 09:58] #98573 closed

[2020-05-26 10:01] jrieken commented on #98280
what was the value before, what is it now? what is your font size?

[2020-05-26 10:03] isidorn commented on #98511
Copy all selection is simply not implemented in the debug hvoer.
Nad yeah we show the native selection and the tree selection.
We have a similar issue in the debug console.
For now leaving this open as a feature request and assigning to backlog. Thanks

[2020-05-26 10:03] alexr00 commented on #98398
@Xunnamius I can't get the same behavior to happen.
1. Make symlink: `sudo ln -s /home/alex/repos /repos`
2. Open the /repos/simpleTest in VS Code
3. Have this simple launch.json that should repro your behavior:
[code]
4. Have a /repos/simpleTest/test.js:
[code]
5. Run launch.
Output:
[code]

If you use my simple repro do you still see the issue?

[2020-05-26 10:03] isidorn commented on #98066
@aeschli I am trying it now. We will see tomorrow, since this for some reasons happens once per day.

[2020-05-26 10:04] mtbun commented on #98280
before value: 2
i changed it, current value: 14
my font size:14

[2020-05-26 10:06] iv10 opened #98574 "VSCode and Ruby/Rails Debugging"
I've set-up VSCode 1.45.1 with Ruby support and installed the following VSCode plugins:

 - Bust a Gem 0.1.8
 - Rails 0.16.4
 - Ruby 0.27.0
 - VSCode Ruby 0.27.0
 - vscode-ruby-ctags 1.4.1

I've also installed the *ruby-debug-ide* and *debase* Gems. My Ruby version is 2.5.7.

After adding the debug configuration like this:

    {
        "version": "0.2.0",
        "configurations": [

[2020-05-26 10:06] isidorn commented on #98302
Yeah, Open In Finder does not support selecting multiple files in the native finder for now.
Though this is a fair feature request, thus assigning to backlog and we might look into it in the future.

[2020-05-26 10:07] alexr00 commented on #96537
I just tested and confirmed that it repros an hour ago. Now, I don't see the issue happening. @YbJerry is this problem consistent?

[2020-05-26 10:08] Laser42 opened #98575 "JsDoc in HTML files syntax highlight"
- VSCode Version: 1.45.1
- OS Version: Windows 10 Pro x64

JsDoc comments highlights incorrectly when editing html files.

Steps to Reproduce:

1. Create a HTML file
2. Add <script></script> section as follows:
[code]
3. Note that JsDoc syntax inside class has a highlight, while there is no syntax highlight for function's JsDoc:
![image](https://user-images.githubusercontent.com/40018028/82888375-

[2020-05-26 10:14] bpasero commented on #97294
@aeschli oh yeah true :)

[2020-05-26 10:15] YbJerry commented on #96537
Yes, it is consistent and I find a funny thing. I deleted my "tasks.json" file. But when I pressed Ctrl+Shift+B, VSCode will still run build tasks unless I restart VSCode. So I guess VSCode will save a copy of the files in the folder of ".vscode"?

[2020-05-26 10:17] #97294 closed

[2020-05-26 10:21] mojoaxel commented on #98421
@isidorn While #9498 might be similar i8t focuses only on open files in the editor. I propose to also exclude folders/project from search and source-control.

So this issue proposes a "working-set" for complete folders and not only opened files.

[2020-05-26 10:26] isidorn commented on #98425
I can reproduce this on Ubuntu 18. On macOS all works fine.
The error is coming from the `workingCopyFileService` thus forwarding to @bpasero to also inveistigate
fyi @deepak1556 since we upgraded to latest Electron and this is probably the root cause
Code pointer where we throw
https://github.com/microsoft/vscode/blob/66ef23d401b24444d1465aa4bd6db369c1632de2/src/vs/workbench/contrib/files/browser

[2020-05-26 10:27] isidorn commented on #98421
Should be covered by this idea https://github.com/microsoft/vscode/pull/87666

[2020-05-26 10:29] isidorn commented on #97294
Oh my! Sorry for that. I should have just copied.

[2020-05-26 10:31] mtbun commented on #98280
i found out the problem as in the photo

photo: https://www.photobox.co.uk/my/photo?album_id=5866718323&photo_id=503017261915

[2020-05-26 10:31] sandy081 commented on #98389
To verify

- On Machine 1, Download insiders with commit da3bf754c3c0eabda1dc80ed9d627679ee560697
- Enable sync. Make sure you have some settings
- On Machine 2, Download insiders with commit da98a19a5d6724367bd99c8ec3b8f55054be37d1
- Enable sync. Do some settings changes.
- Go back to Machine 1 and check that syncing corrupts settings
- Upgrade insiders Machine 1 fixes this.

[2020-05-26 10:36] isidorn commented on #98373
You can create it with a keyboard `F1 > new file`, you can also assign a custom keybinding to it

[2020-05-26 10:36] #98373 closed

[2020-05-26 10:43] GreenAirplane commented on #98160
I 100% agree with @yannlairdc. I have exactly the same use case. In most cases, I have 3-5 pinned tabs and a bunch of tabs on the 2nd row in VS. The ability to have full names for the pinned tabs is crucial as well because e.g. if I'm working on some backend feature then all or most of my files will be *.cs.

One more thing, with the ability to pin tabs, it would be nice to have the option to "Clo

[2020-05-26 10:43] isidorn commented on #98256
@joanmarie yes this seems to be due to the fact that we are using a `textArea`. So the gist is
Orca updates caret position in the `textArea` and the Editor does not reflect that.

Idealy we would listen on cursor change events in the `textArea` somewhere [here](https://github.com/microsoft/vscode/blob/66ef23d401b24444d1465aa4bd6db369c1632de2/src/vs/editor/browser/controller/textAreaInput.ts#L312)

[2020-05-26 10:50] isidorn commented on #98376
Status line information is already captured by the role `status`. Thus your screen reader should read when you tell it to read status bar inforamtion. Though note there is an issue on the nvda side
https://github.com/nvaccess/nvda/issues/11064

Can you elaborate what you mean by the "Footer Tag"

[2020-05-26 10:51] PDostalek opened #98576 "[loc][Query][VSCODE] Localizability of strings in vs_workbench"
Hi,
please help localization team to answer question from translator.

In case translator is not sure about context/meaning/localizability of string we raise a question to Core team.

Id | File Name Live Page Extended | String Resource ID | Full Source String | Extended Description | Answer Needed By
-- | -- | -- | -- | -- | --
49,746 | vscode-workbench\vs_workbench_contrib_debug.xlf | 0;   "src/v

[2020-05-26 10:51] isidorn commented on #98380
What you want is a working sets view, duplicate of already opened issues which you can find if you search for issue tagged with file-exporer and feature-request.

[2020-05-26 10:51] #98380 closed

[2020-05-26 10:52] fnicastri commented on #97900
@bpasero
Sorry but I have not enough time these days.
If you can point me to some quick test I can do them but right now I can't spend much time in
building code and understand how to make a new extension to test the animations...

Let me know

[2020-05-26 10:55] Saifullahiub opened #98577 "Not recognizing " it() " function of JS"
Issue Type: <b>Bug</b>

I am following an online course. Instructor is using " it() " function while programiing with JavaScript, but my Code is not recognizing it() function.
Instead it is auto corrected to instanceof(). please guide me...

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>Sy

[2020-05-26 10:56] isidorn commented on #98272
This is a fair feature request, however those context keys are designed for internal use and we would not change anything there at the moment.
However leaving this request open as we might tackle it in the future.

[2020-05-26 10:59] isidorn commented on #97817
@Neurrone nope you do not have to run vscode out of source, you could just run regular vs code insiders or vscode stable.
If pressing F5 when debugging the extension does not work then I am not sure what is the cause. I would guess that the extension can not be build for some reason. I would try opening it in the terminal and trying to build it via `yarn`  or some other script which might be speci

[2020-05-26 11:02] Saifullahiub commented on #98577
![Screenshot (14)](https://user-images.githubusercontent.com/57482083/82893029-e3c5e080-9f69-11ea-9b29-ce5b996569cb.png)

instructor's screenshot ^

[2020-05-26 11:03] Saifullahiub commented on #98577
Screenshot of my code ^
![Screenshot (13)](https://user-images.githubusercontent.com/57482083/82893403-5d5dce80-9f6a-11ea-8f6f-2c665a84a5b0.png)

[2020-05-26 11:04] egamma commented on #98577
The `it()` function comes from the jest framework and I suspect you are not import the `jest` module.

I see now error in VS Code.

[2020-05-26 11:04] #98577 closed

[2020-05-26 11:09] alexr00 commented on #96537
@YbJerry can you try using the latest version of VS Code (1.45.1)?

[2020-05-26 11:09] moshfeu commented on #98272
Thanks for the reply.
Maybe not to **change** but to **add**?

[2020-05-26 11:11] egamma commented on #98548
\extC++

Since this is a C++ specific request, please continue the discussion in the C++ extension

[2020-05-26 11:11] #98548 closed

[2020-05-26 11:13] j-a-lewis commented on #98548
Will do.  Thanks for the suggestion.

[2020-05-26 11:13] YbJerry commented on #96537
@alexr00 I'm using the latest version of VS Code. The issue still exists.
![图片](https://user-images.githubusercontent.com/34412324/82894179-c05c5f00-9f84-11ea-936d-7f4804f4ba6e.png)
Translation:
版本 —— Version
提交 —— Commit
日期 —— Date
1周前 —— A week ago

[2020-05-26 11:15] JacksonKearl commented on #97534
Repo at: https://github.com/microsoft/vscode-github-triage-extension, with download links in the `releases` section.

Repo is currently private to msft, but may become public in the future.

[2020-05-26 11:15] #97534 closed

[2020-05-26 11:15] Saifullahiub commented on #98577
@egamma
i have imported jest modules, see my Screenshot
![jest](https://user-images.githubusercontent.com/57482083/82894481-1375e800-9f6c-11ea-9993-2b518636004a.png)

[2020-05-26 11:21] joaomoreno commented on #98439
@bpasero I have a feeling we've seen this before?

[2020-05-26 11:23] #98115 closed

[2020-05-26 11:23] #98091 closed

[2020-05-26 11:23] #98040 closed

[2020-05-26 11:23] #98030 closed

[2020-05-26 11:23] #98001 closed

[2020-05-26 11:23] #97957 closed

[2020-05-26 11:23] #97944 closed

[2020-05-26 11:23] #97933 closed

[2020-05-26 11:23] #97860 closed

[2020-05-26 11:23] #97850 closed

[2020-05-26 11:23] #97827 closed

[2020-05-26 11:23] #97750 closed

[2020-05-26 11:23] #97126 closed

[2020-05-26 11:23] bpasero commented on #98160
Which https://github.com/microsoft/vscode/issues/98161 would try to cover too.

That should already work today, pinned tabs should stay open for mass closing commands.

[2020-05-26 11:24] #98574 closed

[2020-05-26 11:25] egamma commented on #98574
Please report the issue against the ruby extension

[2020-05-26 11:25] egamma commented on #98571
Please report the issue against the C++ extension.

[2020-05-26 11:25] #98571 closed

[2020-05-26 11:26] #98568 closed

[2020-05-26 11:31] Jaimeloeuf opened #98578 "Bind a Keybinding to another Keybinding"
*I tried to google this but nothing came out of it and looking at the extension's API this does not seem possible yet.

tl;dr Something like xmodmap or similiar to map a key to another key BUT only within vs code.

Feature description in point form
- Is it possible to have an API or shortcut to allow us to bind a keybinding to another keybinding?
- Right now, when you make a key binding, either th

[2020-05-26 11:32] bpasero commented on #98439
@joaomoreno yes I remember something was not right with our argv lib (minimist?) with regards to handling numbers?

[2020-05-26 11:33] bpasero commented on #97900
@fnicastri well actually given you see high CPU spikes also from the status bar animation where we actually pushed a fix to throttle the animation I am not having a lot of hopes that we can resolve the progress bar CPU spin with the same approach. I am not having a lot of ideas left how to resolve this in VSCode itself....

[2020-05-26 11:33] egamma commented on #98576
Please clarify the questions from the translators in the code you own.

[2020-05-26 11:35] egamma commented on #98563
This is the intended behaviour when you open an external link. You can configure the trusted domains from this dialog.

[2020-05-26 11:35] #98563 closed

[2020-05-26 11:40] bpasero commented on #98425
Very possibly a Electron 8 regression from our use of the clipboard storing a custom type:

https://github.com/microsoft/vscode/blob/1ba6a15920c23d44a38f79e2225312c4417d9b56/src/vs/workbench/services/clipboard/electron-browser/clipboardService.ts#L46

[2020-05-26 11:43] bpasero commented on #98425
Hm, interestingly I do not see this fail from my `ben/electron-sandbox` branch where I moved `clipboard` access to `electron-main` process. It would be lucky, but maybe only `clipboard` in `electron-renderer` broke?

[2020-05-26 11:45] weinand commented on #98471
Thanks for the additional info. Now I see the problem.
The bug is that an arg `$hello` is passed to the shell command line without escaping the `$`.
VS Code should pass it as `\$hello` or `'$hello'` to avoid substitution in the shell.
So a user should never have to escape because the intermediate shell is an implementation detail (and you never know what you get).

[2020-05-26 11:45] SrBrahma opened #98579 "VS Code is capturing git credential request"
- VSCode Version: 1.45.1
- OS Version: Ubuntu 20.04

Steps to Reproduce:

1. Spawn a child_process that executes a git command that asks the credentials to be inputted by the user

[code]

2. A VS Code will show a Input Box window to the user enter the credentials.

This is my problem. I don't want VS Code to "steal" this credential input from my program. I want that my code enters it via stdin.

[2020-05-26 11:48] bpasero commented on #98576
Swapping with @sbatten for `src/vs/workbench/browser/actions/layoutActions.moveFocusedView.title`

[2020-05-26 11:50] jrieken commented on #98549
Yeah, why not...

[2020-05-26 11:51] jrieken commented on #98280
@ThePotato10 can you check your suggest font size setting

[2020-05-26 11:51] #93724 closed

[2020-05-26 11:53] isidorn commented on #98377
This could be done by an extension, thus closing as extension candidate.
The extension could contribute a command which uses quick pick and then call revealInExplorer command
As for filter in the explorer for searching inside collapsed there is already a feature request for this.

[2020-05-26 11:54] #98377 closed

[2020-05-26 11:58] abhijeetviswa commented on #98471
I believe it might be best to pass it raw without escaping anything. Let the users escape it manually in the args list.

[2020-05-26 12:09] joaomoreno opened #98580 "Can't have dropdown action in composite title toolbar"
@lszomoru Uncovered a regression in the composite title toolbar, wrt actions and action items.

This commit attempts to put a `joao` action in the `RepositoryPane` title toolbar: https://github.com/microsoft/vscode/commit/e3b154ff372ea6e3c070da52a7f7e41dc039580a

Upon reload, you'll hit this line 3 times:

https://github.com/microsoft/vscode/blob/77b5058284a50445674ee3b237ad64793b38965e/src/vs/bas

[2020-05-26 12:09] brunolm opened #98581 "Bug: High CPU usage and slow to start first time"
Issue Type: <b>Bug</b>

When I start insiders for the first time there's a task using 20% forever. If I stop it the extensions tab loads forever, but all extensions work normally.

It also seems that there's a long delay to start insiders now, takes a few seconds.

VS Code version: Code - Insiders 1.46.0-insider (8687508aa689b1f16d5f6ff317eb25bcf4544586, 2020-05-26T05:47:43.684Z)
OS version: Windo

[2020-05-26 12:10] Kingwl commented on #97032
Sorry....But I think I have already resolved the issue.

[2020-05-26 12:12] brunolm commented on #98496
Potentially related: https://github.com/microsoft/vscode/issues/98581

[2020-05-26 12:14] weinand commented on #98471
The user doesn't know whether a shell is used at all. So how should she know what escaping is needed.

[2020-05-26 12:15] #98471 closed

[2020-05-26 12:18] weinand commented on #95964
BTW, the bot's wording sounds wrong: ...fixed in **to** the latest...

[2020-05-26 12:20] joaomoreno commented on #98546
We won't advertise the CDN URLs, but you can easily get the non-China URL by replacing the domain with `az764295.vo.msecnd.net`

[2020-05-26 12:20] #98546 closed

[2020-05-26 12:22] joaomoreno commented on #98326
Does it reflect, once you focus VS Code?

[2020-05-26 12:23] joaomoreno commented on #98344
/duplicate #47841

As a workaround, please disable Windows background updates by setting `update.enableWindowsBackgroundUpdates` to `false`.

[2020-05-26 12:23] #98344 closed

[2020-05-26 12:24] joaomoreno commented on #98175
@stackprogram Can you elaborate on what `editor.smoothScrolling` changes for you?
Can you please provide a [screen recording](https://gifcap.dev/)?

[2020-05-26 12:25] joaomoreno commented on #98412
The command is `Git: Stage Changes`

[2020-05-26 12:25] #98412 closed

[2020-05-26 12:26] joaomoreno commented on #98415
Can you try disabling Windows background updates? Set `update.enableWindowsBackgroundUpdates` to `false`.

[2020-05-26 12:26] #98415 closed

[2020-05-26 12:26] joaomoreno commented on #98416
Maybe one is inside the other? Please search for SCM/Git settings to disable automatic discovery.

[2020-05-26 12:27] #98416 closed

[2020-05-26 12:27] #98417 closed

[2020-05-26 12:28] Oakcitycoder opened #98582 "Settings error on visual studio"
Issue Type: <b>Bug</b>

when I go into settings and attempt to edit the font and tab size, an error notification pops up  "unable to write into user settings". I think it's the json code.

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:33:47.663Z)
OS version: Darwin x64 19.4.0

<details>
<img width="1280" alt="Screenshot 2020-05-26 08 23 05" src="https://user

[2020-05-26 12:29] bpasero commented on #98244
The reason for this is:

https://github.com/microsoft/vscode/blob/07a56fd95d26499351af05077043361b1cbe5830/src/vs/workbench/services/untitled/common/untitledTextEditorModel.ts#L364

We take the first line literally and not do any further processing. We could in theory only pick the words from the first line and leave out all symbols.

[2020-05-26 12:30] joaomoreno commented on #98509
We're trying to get away from the SCM Providers list and the notion of a single selected repository, so this would lock us in even more. Closing it as out of scope.

[2020-05-26 12:30] #98509 closed

[2020-05-26 12:30] jrieken commented on #97476
related, duplicate of https://github.com/microsoft/vscode-extension-samples/issues/266

[2020-05-26 12:35] Neurrone commented on #97817
Thanks @isidorn. I'll give this another go and will let you know if it still doesn't work.

[2020-05-26 12:37] mojoaxel commented on #98421
Yes! Thank you for pointing me to this!

[2020-05-26 12:38] joaomoreno commented on #98523
@jrieken Should we do this for every peek?

I have a feeling I've seen this in the past.

[2020-05-26 12:40] joaomoreno commented on #98354
Can you still reproduce this? Works for me.

[2020-05-26 12:41] joaomoreno commented on #98427
Can you completely reinstall VS Code?

[2020-05-26 12:44] joaomoreno commented on #98517
As @kieferrm mentioned, this is both a security implementation as well as designed, since it's not trivial to have the git extension work with multiple git installations at once. Closing this as won't fix.

Though I'd be interested in your **specific** scenario that drove you to this feature request.

[2020-05-26 12:44] #98517 closed

[2020-05-26 12:45] joaomoreno commented on #98579
Disable `git.terminalAuthentication`.

[2020-05-26 12:45] #98579 closed

[2020-05-26 12:46] jrieken commented on #98523
this hasn't come up for other peeks, but I remember that it did occur for inline diff... I also still think that moving the left is bogous and unseen in our UI.

[2020-05-26 12:47] bpasero commented on #98198
@JeffSeltzer I wonder if this is a Windows issue and we pass on the right path but Windows cannot switch to it because it is a network path. To proof that, can you debug VSCode at this point:
* Help > Developer Tools
* Sources Tab
* add a breakpoint into `fileDialogService.ts#pickFileToSave`
* check the `options` for its `defaultUri` to see if that is the proper path of the file (or its parent)

!

[2020-05-26 12:50] jonyeezs commented on #10952
For keyboard shortcut users, here's my workaround.

Goal: to close all panels/sidebars and focus back on the editor on keystroke.

If you have a panel (terminal, console, linter, etc) or a sidebar (git, file explorer, etc) open or in focus, pressing the keybinding will focus your cursor back to the active editor tab and close all panels and sidebar.

Steps:
1. Install [geddski's macros extension](

[2020-05-26 12:53] marcoms opened #98583 "Command palette should support different (monospace) fonts"
Similar to https://github.com/microsoft/vscode/issues/55169, although for different reasons. Namely, this:

![Screen Recording 2020-05-26 at 1 45 59 pm](https://user-images.githubusercontent.com/4211302/82902531-7c9f3080-9f57-11ea-9ce1-8ff1a2e33922.gif)

Feels a lot better/more solid than this:

![Screen Recording 2020-05-26 at 1 46 33 pm](https://user-images.githubusercontent.com/4211302/82902669

[2020-05-26 13:00] SrBrahma commented on #98579
Many thanks for the quick and accurate answer! :)

[2020-05-26 13:00] chopswil15 commented on #98432
VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:35.169Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-9400F CPU @ 2.90GHz (6 x 2904)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_stage3d_baseline: enabled<br>gpu_compositing: enable

[2020-05-26 13:04] bpasero commented on #98532
This is an interesting idea, but would we leverage Git for merging or write our own merger?

[2020-05-26 13:17] alexr00 commented on #98576
49,810:
The first placeholder is a type of VS Code task that is contributed by an extension. For example, `npm` from the built in npm extension or `gulp` from the built in gulp extension.
The second placeholder is the task from the user's `tasks.json` file. For example, an `npm` type task could be
[code]

If, when we ask the npm extension to provide a task for the above json task, the npm extensio

[2020-05-26 13:17] slavikf1 commented on #6302
I am relatively new to the development myself and I like how VS code fits my learning needs. But my habit of scrolling with MMB is 20 years old now. I really would like this "new feature" to be there.

[2020-05-26 13:23] usernamehw commented on #98582
Put a comma `,` at the end of the 5th line.

[2020-05-26 13:23] usernamehw commented on #98582
/question

[2020-05-26 13:24] #98582 closed

[2020-05-26 13:28] PDostalek opened #98584 "[loc][Query][VSCODE] Localizability of strings in vscode-editor"
Hi,
please help localization team to answer question from translator.

In case translator is not sure about context/meaning/localizability of string we raise a question to Core team.

Id | File Name Live Page Extended | String Resource ID | Full Source String | Extended Description | Answer Needed By
-- | -- | -- | -- | -- | --
49,748 | vscode-editor\vs_editor.xlf | 0;   "src/vs/editor/browser/wid

[2020-05-26 13:30] Oakcitycoder commented on #98582
Thanks

[2020-05-26 13:34] PDostalek opened #98585 "[loc][Query][VSCODE] Localizability of strings invscode-extensions\ms-vscode.js-debug-nightly"
Hi,
please help localization team to answer question from translator.

In case translator is not sure about context/meaning/localizability of string we raise a question to Core team.

Id | File Name Live Page Extended | String Resource ID | Full Source String | Extended Description | Answer Needed By
-- | -- | -- | -- | -- | --
49,765 | vscode-extensions\ms-vscode.js-debug-nightly.xlf | 0;   "brow

[2020-05-26 13:39] kuhlaid commented on #30191
I'm not sure which recent code version increased the scrollbar width of the terminal pane but thank you. It is much easier to attach my cursor to the scrollbar now.

[2020-05-26 13:51] hyangah opened #98586 "[themes] update seti-ui icons"
[`seti-ui`](https://github.com/jesseweed/seti-ui/commits/master) accepted a couple of update PRs recently. Can you please sync extensions/theme-seti/icons?

Meanwhile, I noticed that `go.mod` file was falsely classified as `xml` type file.
https://github.com/jesseweed/seti-ui/pull/568#issuecomment-633533831
I am not sure if that's a real issue in the latest vscode release candidate,
or just a non-

[2020-05-26 13:52] Tyriar commented on #98576
@PDostalek added a comment to the terminalConfiguration ones in the code: https://github.com/microsoft/vscode/commit/72550d1808c33c45173af77781f815e535bd4687

[2020-05-26 13:53] robertrossmann commented on #98496
I have noticed that VS Code sends different queries to the `https://marketplace.visualstudio.com/_apis/public/gallery/extensionquery` service. ⚠️

This is the query that VS Code sends when I first open the Extensions view immediately after a fresh VS Code start:

[code]

And this is the query that is sent after VS Code is reloaded and Extensions view is opened. Note that this request stalls indefi

[2020-05-26 13:57] isidorn commented on #98576
I have pushed a commit which adds comments for all 4 of my localization strings, thus unassigning myself.

[2020-05-26 13:58] joaomoreno opened #98587 "Complete win32-arm64 implementation"
A solid win32-arm64 build will start rolling out to insiders pretty soon. A few things are still left undone:

- [ ] Setup @joaomoreno: Can't fix without major upgrade to Inno Setup 6, which is risky
- [ ] Tests @joaomoreno: Can't fix without ARM64 build machine
- [ ] CodeHelper.exe @bpasero
- [x] rg.exe @roblourens

Currently they should still work since Windows 10 ARM ships with an emulation lay

[2020-05-26 14:00] theigor opened #98588 ""Problems" popup has ambiguous x icons"
This is somewhere between a feature request, a suggestion and a UX bug. I searched open issues and didn't find a dupe, but please close this if it exists somewhere.

The "Problems" popup icon and the close icon are too similar. Especially for Mac users, I _always_ click on the icon on the left to try to close it. I am not sure if this can be changed by a theme/skin.

![image](https://user-images.g

[2020-05-26 14:02] isidorn commented on #97567
@roblourens do we plan to look into this in May? I think we should push it out to June?

[2020-05-26 14:04] #97731 closed

[2020-05-26 14:05] YakoYakoYokuYoku commented on #98586
Also something worth mentioning is that WebP images lack the image icon whereas WebM videos does indeed have the video icon. Adding lines:
[code]
and
[code]
indeed solves the issue.

[2020-05-26 14:05] jrieken commented on #97731
To verify:

* run `npm i @angular/cli`
* don't ignore node_modules or rename node_modules folder so that you have 5000+ changes
* press refresh in the SCM view
* things should not freeze 🧊

[2020-05-26 14:08] Tyriar commented on #80818
/duplicate https://github.com/microsoft/vscode/issues/59040

[2020-05-26 14:08] #80818 closed

[2020-05-26 14:10] Tyriar commented on #98552
/duplicate https://github.com/xtermjs/xterm.js/issues/701

[2020-05-26 14:10] #98552 closed

[2020-05-26 14:11] Tyriar commented on #29816
@ToniCipriani that's expected, it's whatever the shell sends to the terminal as the title. https://github.com/microsoft/vscode/issues/22325 isn't meant to fix this issue generally.

[2020-05-26 14:12] Tyriar commented on #98470
/duplicate https://github.com/microsoft/vscode/issues/75141

[2020-05-26 14:12] #98470 closed

[2020-05-26 14:12] egamma commented on #98585
@connor4312 please clarify the questions above in the code.

[2020-05-26 14:13] jrieken commented on #98549
done

[2020-05-26 14:13] #98549 closed

[2020-05-26 14:13] Tyriar commented on #98030
This is acting as designed imo, if you change the workspace folder you will break everything in the window anyway as it's like deleting it.

[2020-05-26 14:14] Tyriar commented on #98567
Do you have anti-virus software that could be blocking the terminal? If so try following the instructions in https://code.visualstudio.com/docs/editor/integrated-terminal#_how-do-i-fix-the-errors-connectnamedpipe-failed-windows-error-232-or-terminal-exited-with-code-x-on-windows

/label "needs more info" integrated-terminal

[2020-05-26 14:16] Tyriar commented on #98551
This looks like an issue with our old terminal backend "winpty", going forward we are focusing our efforts on the new backend "conpty" which is build by the Console team at Microsoft and should fix many issues with the terminal under Windows. You can read more about getting ConPTY [here](https://github.com/Microsoft/vscode/issues/57803#issuecomment-449495423).

/duplicate https://github.com/Micros

[2020-05-26 14:16] #98551 closed

[2020-05-26 14:18] egamma commented on #98581
@brunolm please follow this guide to help us narrow down your performance problem https://github.com/microsoft/vscode/wiki/Performance-Issues.

[2020-05-26 14:23] mac4kent commented on #98397
Allright I have low vision and I use UI enlarge of ACCESSIBILITY.
When too small text hurt my eyes on focus.

[2020-05-26 14:24] bpasero commented on #98584
@isidorn for selectbox aria label

[2020-05-26 14:24] puneethrj opened #98589 "File open under a single tab"
Issue Type: <b>Feature Request</b>

Expected behaviour:
When I click a file from th explorer it should open up in a new tab and should show in the list of open editors, This was the behaviour until recently when I closed all open editors in the open editor panel.

Cause and effect
 After I closed all open editor using the open editor panel option when I click on multiple files it shows up under a

[2020-05-26 14:28] jrieken commented on #98397
I understand that and what I said is that there is already an issue that discusses custom/better sizing of the suggest widget

[2020-05-26 14:31] sandy081 commented on #98366
## Analysis

The valid version available for installing this extension is `1.0.0` and it seems Marketplace also has a non validated version `1.0.4` of this extension.

VS Code is not excluding non validated extensions while querying market place for latest versions but excluding while installing. Hence an update to `1.0.4` is seen always but while trying to install, it installs `1.0.0` version and

[2020-05-26 14:32] gregvanl commented on #98564
Hi @funnycom, no plans in the near future but we are tracking at https://github.com/microsoft/vscode-docs/issues/3260

[2020-05-26 14:32] #98564 closed

[2020-05-26 14:32] mac4kent commented on #98397
goooooooooooood Thank you for explain me

[2020-05-26 14:33] sandy081 commented on #98525
/duplicate

#98366

[2020-05-26 14:34] #98525 closed

[2020-05-26 14:35] #98311 closed

[2020-05-26 14:39] diablodale commented on #98517
Unclear why this issue is closed if we are having a discussion. I request it be reopened until we complete our investigation...or open a new issue.

[2020-05-26 14:39] freedomhero commented on #98375
It works!!! Thank you very much.

[2020-05-26 14:39] #98375 closed

[2020-05-26 14:41] sliiser commented on #98402
Running into the same issue. 100% reproducible with any folder with all extensions disabled.

Calling `code .` in the folder opens vscode, but there is no folder open. The outliner prompts to "Open Folder". Clicking it and choosing a folder does nothing. No change.

- VSCode version:
  1.45.1
  5763d909d5f12fe19f215cbfdd29a91c0fa9208a
  x64
- OS version: macOS Mojave 10.14.2 (18C54)

Errors from d

[2020-05-26 14:41] 9at8 opened #98590 "Process Explorer doesn't work on WSL (screen size is bogus)"
Issue Type: <b>Bug</b>

1. Open a WSL window
2. Help > Open Process Explorer

![image](https://user-images.githubusercontent.com/8235156/82913925-e2ca8a00-9f3c-11ea-96fc-84eac1d207a9.png)

It looks similar to #75932.

A possible fix might be:
- https://github.com/microsoft/vscode/issues/75932#issuecomment-595848213
- [implementation](https://github.com/OmniSharp/omnisharp-vscode/pull/3634)

cc: @R

[2020-05-26 14:43] sandy081 commented on #98435
/duplicate

[2020-05-26 14:43] joaomoreno commented on #98517
We can keep having the discussion. Again, I'm **very** interested in your specific scenario that drove you to this feature request, can you elaborate on that?

[2020-05-26 14:43] #98435 closed

[2020-05-26 14:45] connor4312 commented on #98585
The items in quotes (canary, stable, custom) are not translatable -- also, "dev" should be wrapped in quotes, I will fix that. EDGE_PATH is not translatable.

Yes, I will correct that

Yes

[2020-05-26 14:45] #98585 closed

[2020-05-26 14:45] joaomoreno commented on #98523
@djdongjin Yeah I'm not too keen on moving these around, especially to the left of the labels, since it would misalign them. I suggest to just use the keyboard to run those actions instead of using the mouse for that.

[2020-05-26 14:45] #98523 closed

[2020-05-26 14:46] Tyriar commented on #98530
@sandy081 can you also include the hash in the message like this? "(1.46.0, abcdef1)"

[2020-05-26 14:47] pflannery commented on #98366
@sandy081 Do u have any idea why versionlens is failing validation ?

Seeing as [microsoft/vscode-vsce](https://github.com/microsoft/vscode-vsce) is happy to publish to the marketplace I have no clue what is wrong.

Im guessing the validation logic on marketplace has been updated recently which hasn't been applied to [microsoft/vscode-vsce](https://github.com/microsoft/vscode-vsce) yet.

[2020-05-26 14:47] sandy081 commented on #98496
@RA80533 Can you please provide us following logs to see what activity is happening
 - View -> Open View… -> Log (Shared)
 - View -> Open View… -> Log (Window)

[2020-05-26 14:48] Tyriar commented on #98533
/duplicate https://github.com/xtermjs/xterm.js/issues/2479, https://github.com/xtermjs/xterm.js/issues/2151

[2020-05-26 14:48] #98533 closed

[2020-05-26 14:48] brunolm commented on #98581
I killed the evil task and it's not happening anymore even if I close all instances of VSCode and open again. If I do reproduce it again I'll collect that info.

For now I'll close as a duplicate of https://github.com/microsoft/vscode/issues/98496 I strongly believe it's the exact same issue. I'll also post any new info in that thread.

If the problem persist afterwards I'll open a new ticket.

[2020-05-26 14:48] #98581 closed

[2020-05-26 14:48] Tyriar commented on #98524
Do you have anti-virus software that could be blocking the terminal? If so try following the instructions in https://code.visualstudio.com/docs/editor/integrated-terminal#_how-do-i-fix-the-errors-connectnamedpipe-failed-windows-error-232-or-terminal-exited-with-code-x-on-windows

/label "needs more info" integrated-terminal

[2020-05-26 14:49] sandy081 commented on #98366
I am sorry that I do not know about how validation is being done.

CCing @fiveisprime @joaomoreno

[2020-05-26 14:49] Tyriar commented on #97328
@sbatten has been working on a workaround for the same thing for the lightbulb button and the custom dropdown.

[2020-05-26 14:49] #98402 closed

[2020-05-26 14:49] bpasero commented on #98402
https://github.com/microsoft/vscode/issues/2259

[2020-05-26 14:50] Jakeeyturner commented on #98366
Over at https://github.com/IBM-Blockchain/blockchain-vscode-extension, we published a new version of our extension earlier and all seems to be working now. @pflannery

[2020-05-26 14:50] bpasero commented on #98589
Follow our docs to resolve this: https://code.visualstudio.com/docs/getstarted/userinterface#_preview-mode

[2020-05-26 14:50] #98589 closed

[2020-05-26 14:51] #98366 closed

[2020-05-26 14:55] ChuckkNorris commented on #98160
Not intending to "beat the drums", but I definitely believe that having pinned tabs on a separate row will be more beneficial than "shrunk" tabs on the same row as the rest of the tabs.

From a functional perspective, we want to be able to:

- Read the whole file name (showing an icon doesn't help when all the file types we're working with are the same)
- Quickly determine which tabs are pinned an

[2020-05-26 14:58] sweettyler commented on #98354
"code-insider-1590472730.tar.gz", which was built today, gives me a blank window.
back to normal after reinstalling "code-insider-1589883424.tar.gz".

BTW, is there any big change for the insider version?

[2020-05-26 14:58] aaronadamsCA opened #98591 "👁 Explorer UI toggle to hide hidden files"
**I'd like to see a simple 👁 button in Explorer to hide hidden files (dotfiles),** to cut visual clutter and improve focus on non-hidden files.

- **I know this could be built as an extension,** but it makes sense to include this as part of Code to encourage developer focus. The only reason to prepend a file/directory name with `.` is to hide it; the Explorer should offer a built-in way to respect

[2020-05-26 15:03] ShadowSmog commented on #95350
Zhshdjsjdjdjdkdkd

[2020-05-26 15:03] pflannery commented on #98366
@Jakeeyturner sounds good.

I see there have been changes since your first failure which makes me wonder if any of those changes got around the validation issue on marketplace or its actually fixed on their side.

I want to push another update but I've already accumulated over [18+ million installs](https://github.com/vscode-contrib/vscode-versionlens/issues/211#issuecomment-633671988) thanks to t

[2020-05-26 15:03] ShadowSmog commented on #98511
Gdhehensnen

[2020-05-26 15:05] ShadowSmog opened #98592 "Please read our Rules of Conduct: https://opensource.microsoft.com/codeofconduct/ --> <!-- Please search existing issues to avoid creating duplicates. -->"

[2020-05-26 15:05] Tyriar commented on #98502
Upstream: https://github.com/xtermjs/xterm.js/issues/1161

[2020-05-26 15:05] mburszley commented on #77718
@codeputer `${workspaceFolder}` resolves to the current open folder, unintuitively.  See #98424

[2020-05-26 15:09] Tyriar commented on #97521
The proper fix for this to draw the highlight under the text probably needs https://github.com/xtermjs/xterm.js/issues/1852 to happen. We could do a workaround to make the color partially transparent if it's detected as opaque.

[2020-05-26 15:12] jojoforce commented on #98478
Version: 1.45.1 (user setup)
Commit: 5763d909d5f12fe19f215cbfdd29a91c0fa9208a
Date: 2020-05-14T08:27:35.169Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

[2020-05-26 15:14] sweettyler commented on #98354
I just tried with a fresh installation.  after deleting "~/.config/Code\ -\ Insiders/" and "~/.vscode-insiders", and the latest "code-insider-1590472730.tar.gz" doesn't work for me: it does pop a window with title "Welcome - Visual Studio Code - Inside (on xxxxx)" but the rest of the window are blank.

[2020-05-26 15:16] bpasero commented on #97900
@fnicastri something easy to try out would be this:
* install Electron Fiddle https://electronjs.org/fiddle
* pick a recent Electron version (I picked `8.2.3`)
* for `HTML` enter the code in [1]
* run
* monitor your CPU consumption

[1] HTML

[code]

[2020-05-26 15:18] sandy081 commented on #98366
@pflannery I would recommend to publish a new version so that users will not see this endless loop.

TBH we count installs than downloads.

[2020-05-26 15:19] bpasero commented on #98425
Just verified that I can also not reproduce running from `master` with Electron 8 reverted.

[2020-05-26 15:19] Jakeeyturner commented on #98366
We initially released v1.0.29 on Thursday which was when we first saw the update loop problem.

Tried again with v1.0.30, which had a small change, on Friday quite quickly after everything was reported to be working fine here - https://status.dev.azure.com/_event/189079011
I suspect we did it too soon and that there was a backlog or something.

Then tried v1.0.31 (same as v1.0.30, minus a change t

[2020-05-26 15:19] hensz opened #98593 "Open file links from console or compile output"
- VSCode Version:1.45.1
- OS Version: Windows 10.0.18363

Hi!

When I either do a compilation in the integrated terminal or with a build task and I click on a file "link" for an error or a warning, the file is opened differently than when I open it from the Explorer pane.

Files opened from the Explorer pane are displayed with a relative file path (relative to the workspace root I assume). However

[2020-05-26 15:19] dsifford commented on #97521
Cool, thanks for the update @Tyriar

Just went ahead and merged @AnilSonix's workaround in dracula theme for the time being. I was finally able to repro on my end :+1:

[2020-05-26 15:22] jhomme commented on #95225
I just happened to be looking through default JAWS settings. There is a checkbox in JAWS Quick Settings that turns the speaking of live regions on and off. It is off by default. I have begun to put together a configuration and script set for JAWS for VS Code. I'm going to turn the live region checkbox on and see how far this takes me and report back. I'm hoping that a lot of nice speaking will sim

[2020-05-26 15:23] hensz commented on #98593
btw, thanks vscodebot for suggesting this possible duplicate. I'm not sure however if this is indeed a duplicate or a different issue. Especially here I'm working with VSCode on Windows, but using Remote Development on a Linux machine. So for the Windows VSCode the two file name variants might not be that easy to interpret as "equal" - but perhaps they can be interpreted as "equal" by the Remove D

[2020-05-26 15:25] sandy081 commented on #98530
I see how hash helps us but do not see how it helps user.

[2020-05-26 15:27] hensz commented on #98593
btw, I just realized that also "C++: Switch Header/Source" has this issue, it opens the file with absolute path, i.e. outside of the VSCode workspace.

[2020-05-26 15:29] misolori commented on #98586
@YakoYakoYokuYoku can you please file a separate issue? Thanks.

[2020-05-26 15:32] samoclay opened #98594 "rg process taking up all my CPU"
- VSCode Version: 1.45.1
- OS Version: MacOS Catalina 10.15.4

Steps to Reproduce:

1. Install VScode
2. Install Node

Wasn't sure where to put this

Something is taking up all my CPU through a process called rg
![Screenshot 2020-05-26 at 16 19 26](https://user-images.githubusercontent.com/3073519/82918853-305eeb00-9f6d-11ea-99e0-321011ee74c9.png)

I ran a sample of the process [here](https://gist

[2020-05-26 15:36] sandy081 commented on #98569
@ssbarnea Can you please more information on what's happening - Any errors or notifications? What do you see in Sync logs? A recording would be helpful actually
Can you also please update your insiders and try again?

[2020-05-26 15:39] sandy081 commented on #98278
I observed this with other action icons too.

[2020-05-26 15:40] allymparker commented on #98590
Seeing this too, trying to attach to a dotnet process in WSL 2 in both insiders and stable:

![image](https://user-images.githubusercontent.com/2056009/82920726-8d5ba080-9f6f-11ea-8b87-079b9874f211.png)

Version: 1.46.0-insider (user setup)
Commit: 8687508aa689b1f16d5f6ff317eb25bcf4544586
Date: 2020-05-26T05:47:43.684Z (9 hrs ago)
Electron: 8.3.0
Chrome: 80.0.3987.165
Node.js: 12.13.0
V8: 8.0.426.

[2020-05-26 15:41] texastoland commented on #93960
@sandy081 Is there a separate ticket addressing #97443? Should I open a new ticket about changing labels?

[2020-05-26 15:45] deepak1556 commented on #98358
Can you start with code with `--log-net-log=netlog.json` and perform network actions, attach the log here. Thanks!

Also attach the HAR file following

* Open devtools from the editor
* Try to install an extension from the marketplace/any other network actions with devtools open
* From the Network panel in devtools, use the Export HAR.. option and attach the .har file here.

[2020-05-26 15:48] Tyriar commented on #98530
@sandy081 because you might get an issue with a screenshot that may not give you enough information to action. Plus the notification is lying as "the current version (1.46.0-insider) is not compatible" is not true as that's the version of the following version too.

[2020-05-26 15:52] gencer commented on #98383
@aeschli , I am using Logitech Craft Keyboard and it has an extension in the gallery. Logitech Options is a program that controls keyboard actions. It works like this:

1. VSCode starts
2. Extension connects to `127.0.0.1:10134` (Options)
3. After successful connect, Extension reports VSCode PID and exeName. This means Options will send required keystrokes or actions to the exact same visual studi

[2020-05-26 15:52] YakoYakoYokuYoku opened #98596 "WebP and TIFF images icons missing"
The icon that WebP and TIFF images display is the default one instead of the image icon. Adding lines to `extensions/theme-seti/icons/vs-seti-icon-theme.json`:

[code]

and

[code]

does indeed solves the issue.

[2020-05-26 15:52] YakoYakoYokuYoku commented on #98586
NP sir #98596.

[2020-05-26 15:53] Tyriar commented on #98498
This sort of thing is difficult to support, we need to have a careful trade off of how many times we hit the disk and how complex the regex that is run on a line each time to cover the majority of cases.

[2020-05-26 15:56] Xunnamius commented on #98398
@alexr00 I will test this out tonight and get back to you

[2020-05-26 16:00] hyangah commented on #98586
@misolori thanks! While testing your PR, can you also please check the icon for `go.mod` file? There shouldn't be no icon assigned to it. Otherwise, that's a regression and I am happy to file an issue.

[2020-05-26 16:02] bobber205 commented on #98345
Working as intended after latest Insiders build.

Version: 1.46.0-insider
Commit: 8687508aa689b1f16d5f6ff317eb25bcf4544586
Date: 2020-05-26T07:10:48.616Z
Electron: 8.3.0
Chrome: 80.0.3987.165
Node.js: 12.13.0
V8: 8.0.426.27-electron.0
OS: Darwin x64 19.4.0

[2020-05-26 16:02] #98345 closed

[2020-05-26 16:07] isidorn commented on #98584
@bpasero thanks. Tackled that

[2020-05-26 16:08] Kingwl commented on #97032
And it's has merged. ping @mjbvz .

[2020-05-26 16:12] sbatten commented on #98576
added comment in commit above for view movement command

[2020-05-26 16:12] connor4312 commented on #98481
Thanks for the issue!

[2020-05-26 16:13] #98481 closed

[2020-05-26 16:13] prashantvc commented on #23251
Hey Everyone!

I am Prashant, PM on the VS Marketplace team. The team serving extensions to VS Code, we are in the process of prioritising the VS Marketplace backlog, I would love to get fresh perspective on this issue

 We can set up a quick call, you can pick the meeting time that works for you here: https://aka.ms/vsm-call

You can contact me at prchol@microsoft.com if you prefer emails.

[2020-05-26 16:13] bpasero opened #98597 "Electron 8: seeing output running out of sources related to CoreText"
[code]

[2020-05-26 16:26] fiveisprime commented on #98366
I'm thinking this has something to do with #98375, which was mitigated last night. I'll reach out to the marketplace team.

[2020-05-26 16:26] BananaWanted commented on #98471
Hey @weinand I'm facing the same issue. In my case it's the `[` and `]` characters. This is quite common for people using `next.js`. Can I expect VSCode to automatically escape these characters as well as the `'"`s anytime soon?

[2020-05-26 16:27] sweettyler commented on #98354
Now I think it's some changes in the code caused my problem. Please let me know what kind of information you need to know. The following is from "code-insider-1589883424.tar.gz" (the latest insider version works for me):

VS Code version: Code - Insiders 1.46.0-insider (da3bf754c3c0eabda1dc80ed9d627679ee560697, 2020-05-19T10:04:43.228Z)
OS version: Linux x64 3.10.0-693.17.1.el7.x86_64

<details>
<

[2020-05-26 16:37] blackjyn commented on #98568
Sadly, currently there's no such extension like that in the marketplace.

I'm asking Microsoft to create such extension is because previously MS has already made official extension for several tech, then why not for Android?

Thank you @egamma for labelling this as "extension candidate". LOT of developers especially those with lower hardware specs are going to be happy if there's such alternative

[2020-05-26 16:45] NTaylorMullen commented on #98352
We could but that would entail manually calling our other language server's rename endpoint and emulate the behavior of trying multiple rename providers.

You're right though, given the comment it does seem quite intentional. Why does it work this way though? It seems odd that you wouldn't support multiple rename providers. How it's designed currently is there can only ever be one true rename prov

[2020-05-26 16:51] roblourens commented on #95361
I don't think that's required, we can wrap the renderer scripts in an IIFE that provides the right function under that name

I think it's better to reimplement this stuff since otherwise you'll pull in all of `vs/base/common`

[2020-05-26 16:52] gjsjohnmurray commented on #98478
Does it happen if you reload with all extensions disabled? There's a command on the Command Palette for doing this.

[2020-05-26 16:56] jrieken commented on #98352
Yeah, this is mostly historical I guess. BUT having actually looked at the [implementation](https://github.com/microsoft/vscode/blob/724c307bf35646ac549a8533a255c51b63fea5c7/src/vs/editor/contrib/rename/rename.ts#L87) this should and does work. E.g this sample is happy

[code]

The second provider is called first, then the upper one (which is doing the actual rename).

<img width="791" alt="image"

[2020-05-26 16:57] #98337 closed

[2020-05-26 16:57] jojoforce commented on #98478
I disabled all extensions via the command palette (Extensions: Disable All Installed Extensions) and reloaded VS Code, and yes it still happens.

[2020-05-26 16:58] misolori commented on #98586
@hyangah we don't have any references to `.mod` files in our seti-ui directory and nearly all of our code is pulled directly from the seti repo, so i'm unsure where this is coming from. Please file a separate issue and @aeschli can look into it.

[2020-05-26 16:58] NTaylorMullen commented on #98352
@jrieken it's specifically the "prepare" operation which breaks the multiple provider scenario 😢

[2020-05-26 17:00] connor4312 opened #98598 "Allow customizing hover details for debug sessions"
@IllusionMH suggested here https://github.com/microsoft/vscode-js-debug/issues/479#issuecomment-633661692 that session hovers can be customized. Right now it's always simply "Session"

![](https://user-images.githubusercontent.com/1312662/82831638-a279f600-9ec1-11ea-9f13-fd551c75528c.png)

[2020-05-26 17:07] roblourens commented on #98364
I have no clue why it's failing on the very first step which is just running a command in quick access. Disabling it for now.

[2020-05-26 17:08] roblourens commented on #98364
And I am not reproing the focus error you got, everything passes locally for me.

[2020-05-26 17:08] gjsjohnmurray commented on #98478
@sbatten any ideas?

[2020-05-26 17:09] bwateratmsft commented on #95209
For Docker extension, we'd need to be able to sync on a per-key basis. There are some areas where sync would be nice to have (nothing imperative, right now), but there are some where we cannot sync (e.g. machine-specific information that we want to cache forever because it's expensive to compute but never changes).

[2020-05-26 17:13] gamepad-coder commented on #54470
This is actually my biggest inconvenience with VS Code so far.

Using Windows 10 + 150% DPI scaling + 1080p.

If I zoom in twice (with 3 editors total, the rightmost 2 reduced to their smallest width)
then the two "resized" editors take up more than half the workspace:

<img width="960" alt="2020-05-26 12_10_57-2__Test html -  jekyll gc gh io  (Workspace) - Visual Studio Code" src="https://user-im

[2020-05-26 17:16] #98453 closed

[2020-05-26 17:18] sbatten commented on #98478
@jojoforce please right click the activity bar and show the contents of this menu
![image](https://user-images.githubusercontent.com/6561887/82930406-2e2f6900-9f3a-11ea-8836-e8dcbcbce037.png)

[2020-05-26 17:18] hbergren commented on #98327
Still broken for me on `1.45.1`.

[2020-05-26 17:19] sandy081 commented on #93324
`Create Issue` link that creates issue with body `Testing #issue` is added to the TPI header while assigning

![image](https://user-images.githubusercontent.com/10746682/82930456-bbe47600-9f85-11ea-8ccd-90c623b8bf71.png)

[2020-05-26 17:19] egamma commented on #98592
Closing - please open a new issue with more details.

[2020-05-26 17:19] #98592 closed

[2020-05-26 17:20] jojoforce commented on #98478
![image](https://user-images.githubusercontent.com/24530217/82930594-a22a3b00-9f53-11ea-8326-8f08f4571e64.png)

[2020-05-26 17:22] JacksonKearl commented on #93324
Thanks!

[2020-05-26 17:22] #93324 closed

[2020-05-26 17:25] sbatten commented on #98478
@jojoforce this menu does not have a check next to Explorer indicating that the view container is not pinned. That means it will only be shown when focused either on startup or through keyboard shortcuts. In that menu, select explorer to recheck it and it should stay visible when you select other icons in the activity bar.

[2020-05-26 17:26] #98478 closed

[2020-05-26 17:28] egamma commented on #98528
What is shown in the bottom left of the status line. Does the editor recognise the file as a HTML file, as shown below?

![image](https://user-images.githubusercontent.com/172399/82931074-a1f76300-9f86-11ea-9eb3-a75263187e03.png)

If this is the case then I suspect you are using an extension that contributes has an issue in the way it contributes the snippet.

[2020-05-26 17:30] jojoforce commented on #98478
Thank you! It's strange though as the behavior seems to just have recently changed, when I go to View-->Explorer that would "pin" the view container by default - but then when I click, the Explorer on the Activity bar, it disappears. But it resolved my issue.

[2020-05-26 17:32] RMacfarlane opened #98599 "Turn off preferences sync doesn't seem to be working"
Issue Type: <b>Bug</b>

1. Be signed into preferences sync
2. Use "Preferences Sync is On" menu option from the accounts menu
3. Select "Preferences Sync: Turn Off" from the quick pick and confirm with the "Turn Off" button

Opening the accounts menu again, I still see "Preferences Sync is On", and the last part of the sync log is
[code]

VS Code version: Code - Insiders 1.46.0-insider (8687508aa6

[2020-05-26 17:36] Mysteriou-school opened #98600 "20"
We have written the needed data into your clipb
Issue Type: <b>Performance Issue</b>

ALLO PLOO

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:35.169Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Athlon(tm) Dual Core Processor 5000B (2 x 2592)|
|GPU Status|2d_canvas: enabled<br>flash_3d:

[2020-05-26 17:38] jonahkagan commented on #94930
I would love this change as well. In particular, every time I cmd+click a file path in the maximized panel it resets to the un-maximized state, which is super annoying.

[2020-05-26 17:40] misolori commented on #98588
Please see https://github.com/microsoft/vscode/issues/92791 where you should be able to overwrite the default icons. I'm not sure whether the problems panel has these in yet but subscribe to that issue to get updates. cc @aeschli

[2020-05-26 17:40] #98588 closed

[2020-05-26 17:49] connor4312 commented on #95361
To do this we need to intercept the script. We might be able to do that for our own URIs but in development the files can load from http://localhost. It also would not make them available to anything outside the file, like hot-module-loaded code or code-split paths.

[2020-05-26 17:51] misolori commented on #98275
The Find widget is used in multiple places other than the editor (Search, Terminal, and Output). And not every area has the find in selection option for various reasons. So this would cause inconsistencies in the find widget and not be a good experience. Secondly, the find in selection operates is a mode that toggles how search works (wether over the entire document or your selection). So it's not

[2020-05-26 17:51] #98275 closed

[2020-05-26 17:58] sbatten commented on #98580
I don't understand the issue. I've patched with that commit and see that the action is in the titlebar.

![image](https://user-images.githubusercontent.com/6561887/82934026-b5331000-9f3f-11ea-8a84-a723ab28acc1.png)

What is the issue?

[2020-05-26 17:59] sbatten commented on #98580
Oh, is it that this will not show up in the merged view container?

[2020-05-26 18:02] sbatten commented on #98478
@jojoforce we did not change any behavior. it should be pinned by default. my hunch is that some action you took unpinned it and now you need to repin following the steps above. If many others start reporting this, then perhaps there is a bug causing unpinning, but so far, I have not seen other reports.

[2020-05-26 18:04] b1zzu opened #98601 "Timeline doesn't show file saves changes"
- VSCode Version: 1.45.0
- OS Version: Fedora 32

Steps to Reproduce:

1. Open a git workspace
2. Create a new file (without committing it)
3. Write some content in the file and save it
4. Edit the file (delete some of the content or add other content) and save it again
5. Open the Timeline view and instead of seeing the file history you will just see `Uncommitted Changes`
6. Open the *More Action

[2020-05-26 18:08] roblourens commented on #98100
Is this solved by supporting `command:` type links that will invoke a command when clicked? Or do you need to intercept the user's click on an arbitrary link like `http://microsoft.com`?

[2020-05-26 18:19] isidorn commented on #98591
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog and we might add this in the future. Thanks

[2020-05-26 18:20] isidorn commented on #98598
I think this makes session. However what would you have it say?
Just duplicating the name does not make sense.
Maybe "Order Portal Debug Session"?

[2020-05-26 18:24] misolori opened #98602 "Constant escape characters don't pass contrast ratio in light theme"
Code sample below:

[code]

Light theme:

![image](https://user-images.githubusercontent.com/35271042/82936393-60919400-9f43-11ea-8a93-86b5a776c9b4.png)

FYI @gregvanl

[2020-05-26 18:25] niyazpk commented on #63068
I am not on insider build, so cannot check the above commit. Still happening for me with the latest update though:
[code]

[2020-05-26 18:25] #98602 closed

[2020-05-26 18:26] misolori commented on #98602
Slightly tweaked color to pass the contrast ratio:

![image](https://user-images.githubusercontent.com/35271042/82936629-ba925980-9f43-11ea-8bd0-aa1b5e8af5b6.png)

[2020-05-26 18:27] roblourens commented on #98100
And changing the URLs to that type of link is a vscode-specific solution, is that a problem?

[2020-05-26 18:29] #98586 closed

[2020-05-26 18:31] hediet opened #98603 "Custom editors cannot be opened when a single-folder workspace has Been Extended To A Multi-Folder Workspace"
- VSCode Version: 1.45.1 / Insiders 2020-05-26T15:51:05.752Z
- OS Version: Windows 10 / Mac

Steps to Reproduce:

1. [Check out Cat Customs Sample](https://github.com/microsoft/vscode-extension-samples/tree/master/custom-editor-sample)
2. Install the extension
3. Copy the `exampleFiles` folder to `exampleFiles2`
4. Open a new VS Code Instance with `exampleFiles` as root folder
5. (Custom Editor wo

[2020-05-26 18:33] IllusionMH commented on #98598
Duplicating name doesn't looks great for short titles but it can contain Page title (page url) in case of several tabs with same title and will be cropped really fast.
It's impossible to distinguish between cropped `Order Portal (localhost:8080/orde...`  and `Order Portal (localhost:8080/orde...`, but hover will show full title with full URL.

![image](https://user-images.githubusercontent.com/131

[2020-05-26 18:38] misolori commented on #98586
Verification steps: ensure that the following updates are reflected in the file explorer for file icons:

- `.go` use the new logo
- `.rmd` files point to the R icon
- `.tsx` files point to the TypeScript icon

![image](https://user-images.githubusercontent.com/35271042/82937527-275a2380-9f45-11ea-8b65-bebbdac1bb4c.png)

[2020-05-26 18:52] lszomoru commented on #98580
@sbatten, the issue is that if you look at the DOM you will see that `MyAction` is rendered as a button instead of being rendered as a Dropdown. The expectation is that the the DOM of the two toolbar buttons is the same. Please ping me on Slack if you have any questions or concerns. Thanks!

[2020-05-26 18:54] roblourens commented on #98594
This is used by search, so either you triggered a text search or file search in vscode, or an extension did, and it's taking an extremely long time to complete. Do any tips in here help? https://github.com/microsoft/vscode/wiki/Search-Issues#slow-search-rg-running-for-a-long-time-or-consuming-lots-of-cpumemory

[2020-05-26 18:59] #98408 closed

[2020-05-26 19:11] roblourens commented on #98101
TIL about the `URL.createObjectURL` API. Should this also work for `data:` URLs?

[2020-05-26 19:17] radimbarta opened #98604 "PSScriptAnalyzer not working on Visual Studio Code"
Issue Type: <b>Bug</b>

Steps to reproduce:

Open Visual Studio Code
Press F1 and select PowerShell: Select PSScriptAnalyzer rules
... and nothing happend

log: <SelectPSSARulesFeature>: Unable to instantiate; language client undefined.

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:35.169Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System

[2020-05-26 19:24] RA80533 commented on #98496
@sandy081

Version: 1.46.0-insider
Commit: b26e0bcf39c1b8faaf770265391b5a387d1d9172
Date: 2020-05-26T17:07:53.549Z
Electron: 8.3.0
Chrome: 80.0.3987.165
Node.js: 12.13.0
V8: 8.0.426.27-electron.0
OS: Darwin x64 18.7.0

<details>
<summary>Log (Shared)</summary>

[code]
</details>

<details>
<summary>Log (Window)</summary>

[code]
</details>

[2020-05-26 19:38] machineghost opened #98605 "Please Re-Open 24715 (CommonJS is Required to use index.js Files)"
All relevant details are already in the (closed) ticket: https://github.com/Microsoft/vscode/issues/24715https://github.com/Microsoft/vscode/issues/24715

The core problem is that ticket considered "switch to CommonJS" to be an acceptable solution ... but it shouldn't be.  VS Code should be capable of following definitions involving `index.js` in (modern) ES Module using environments also.

[2020-05-26 19:55] DonJayamanne commented on #98100
Yes that would work.

No, that would work.

Today we handle all link click handlers and if the link starts with `http://command`, then we execute the command (provided its a link we generated - by looking at a white list).

[2020-05-26 19:58] DonJayamanne commented on #98282
Yes, this works perfectly well for us.
This would allow extension authors to execute arbitrary cells, and allow users to cancel execution using the built cancel buttons (next to the cell).

[2020-05-26 19:59] eamodio commented on #98054
👍 to adding a new button to the terminal toolbar. Or even a debug button or something to turn a regular terminal into a debug one (if that is possible).

[2020-05-26 20:01] RA80533 commented on #98490
I understand your use case now. Yeah, it doesn't quite make sense for your setting not to be taken into effect.

I would take a look at [this comment](https://github.com/microsoft/vscode/issues/70663#issuecomment-475888344) and try to make sure VS Code is allowed to modify your terminal. You can make sure it's allowed by running **Terminal: Allow Workspace Shell Configuration** in the Command Pale

[2020-05-26 20:06] mjbvz commented on #98605
Did you try using the jsconfig configuration in the linked issue?

[2020-05-26 20:06] #98600 closed

[2020-05-26 20:06] mjbvz commented on #98604
/extPowerShell

[2020-05-26 20:08] dustinroepsch commented on #97732
Update:
I setup my dev environment for vscode yesterday and started poking around. This is my first contribution so I mostly spent yesterday reading the code.

I found where the commit message box is created, here:
https://github.com/microsoft/vscode/blob/d2cf860d05066a48e728c1a09709b9e79c6243c2/src/vs/workbench/contrib/scm/browser/repositoryPane.ts#L640

My understanding is that I need to hook up

[2020-05-26 20:08] machineghost commented on #98605
You mean `"module": "commonjs"`?  Yes, that does fix things.  But it's conflating two separate things: whether I'm using CommonJS (ie. `require`) or ES Modules (`import`) should have no bearing on whether I can goto a definition for "foo" which is actually kept in the filesystem as `foo/index.js`.

I just don't see the logic between wanting to follow imports *using ES Module syntax* ... and having

[2020-05-26 20:08] DonJayamanne commented on #98101
I suppose so. at the end of the day someone could render a link with a download attribute `<a download href="data:.....">`

[2020-05-26 20:09] RA80533 commented on #98496
Steps to reproduce upon launching the application:
- Open the Extensions view
- Uninstall an extension
- Run **Developer: Reload Window**

[2020-05-26 20:10] benatkin commented on #96083
I wasn't aware of Show Online Settings. Glad to know about it!

I realized I was wrong about the "neat hack" on npm - it wouldn't be much of a hack with `yarn create` or `npx create-` because npm scripts can run arbitrary code on install. It would only be a clever hack for something like [degit](https://github.com/Rich-Harris/degit), [which is the way of doing things in svelte land](https://github

[2020-05-26 20:12] mjbvz commented on #98520
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) when using TypeScript 3.9+?

[2020-05-26 20:13] #98516 closed

[2020-05-26 20:14] mjbvz commented on #98486
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

Also, are you using the Deno TypeScript plugin?

[2020-05-26 20:14] lukepighetti opened #98606 "[FR] Small screens: Debug toolbar docking location outside of side bar"
Option1: floating, top line, right justified
Pros: always visible
Cons: covers tabs
<img width="740" alt="Screen Shot 2020-05-26 at 4 05 15 PM" src="https://user-images.githubusercontent.com/666539/82945312-b168b300-9f6a-11ea-9c71-683cefb4055b.png">

Option 2: floating, top line, left justified
Pros: always visible
Cons: covers tabs and files icon

<img width="732" alt="Screen Shot 2020-05-26 at 4

[2020-05-26 20:15] mjbvz commented on #98459
Duplicate of https://github.com/microsoft/TypeScript/issues/37984

Should already be fixed in VS Code insiders with TS 3.9+

[2020-05-26 20:15] #98459 closed

[2020-05-26 20:16] ashgti commented on #96643
Works for me! Thanks!

[2020-05-26 20:17] mjbvz commented on #98360
The `editor.action.sourceAction` command is used for this. Try:

[code]

[2020-05-26 20:17] #98360 closed

[2020-05-26 20:18] mjbvz commented on #98335
Are users seeing this on the most recent VS Code insiders?

[2020-05-26 20:18] weinand commented on #98471
@BananaWanted please provide an example for how you use next.js from the command line.

[2020-05-26 20:19] mjbvz commented on #98314
Have you disabled the builtin markdown extension? In the extensions view, search `@builtin markdown` to check this

[2020-05-26 20:20] rchiodo commented on #98335
According to the user's comments, yes. See the linked issue: (https://github.com/microsoft/vscode-python/issues/11865)

We cannot repro in house though.

[2020-05-26 20:22] rchiodo commented on #98335
Specifically this comment where the user responded after I asked them to install the latest insiders:
https://github.com/microsoft/vscode-python/issues/11865#issuecomment-631672764

[2020-05-26 20:30] ggoodman commented on #98168
I am also seeing `Code Helper (Renderer)` continuing to consume CPU even after quitting out of `vscode`. It appears to be pinning 1 core at 100% (maybe stuck in a sync loop and not responding to graceful exit signal?).

[2020-05-26 20:37] LunkwillAndFook commented on #67431
Please make postDebugTasks work with multiple as well (this makes sense if preLaunchTasks will support it).

[2020-05-26 20:39] NTaylorMullen commented on #98352
For instance:
![JDeObrFf0m](https://user-images.githubusercontent.com/2008729/82948195-32697f80-9f56-11ea-97ab-69a9210409f7.gif)

Code:
[code]

[2020-05-26 20:51] machineghost commented on #98605
Thank you!  This way of fixing makes much more sense, and let's me correctly specify which moodule system I'm using!

[2020-05-26 21:00] thefoxie commented on #98563
@egamma I think you misinterpreted what I thought was the issue. I meant that when I click the open button and the modal window itself disappears, the background stays the same (grayed out/dimmed) until I open About modal. Then it works as intended even when I open link and click the actual open button.

[2020-05-26 21:01] #98322 closed

[2020-05-26 21:01] misolori commented on #98322
👍  This looks much better, thanks for the PR!

## Before
![image](https://user-images.githubusercontent.com/35271042/82948230-457c4f80-9f56-11ea-9ad5-45ec049f9495.png)

## After
![image](https://user-images.githubusercontent.com/35271042/82948240-48774000-9f56-11ea-9fc0-fcede49cf780.png)

[2020-05-26 21:18] tristan957 opened #98608 "On macOS, when delete file dialog is open and cancel button has focus, hitting enter still deletes the file"
- VSCode Version: 1.45.1
- OS Version: 10.15

Steps to Reproduce:

1. Create new file
2. Delete said file
3. Notice blue highlight around Cancel button
4. Hit enter
5. Notice file was still deleted

Does this issue occur when all extensions are disabled?: Yes

[2020-05-26 21:19] tristan957 commented on #98608
I have not confirmed if this happens on my Linux or Windows machines.

[2020-05-26 21:23] roblourens commented on #98100
Ok, in markdown cells it will work in tomorrow's build. I'll have to think about it for output.

[2020-05-26 21:27] tonysparks opened #98609 "Split Pane breadcrumbs focuses wrong window"
- VSCode Version:
[code]
- OS Version:
Windows 10: Windows_NT x64 10.0.18363
Steps to Reproduce:

Prerequisites:
* Have two files opened - ex. A.c, B.c; these files should have type definitions that allow breadcrumb navigation between files.

1. Open file `A.c`
2. Split Pane window (I did horizontal) - now you should have `A.c` in `left` and `A.c` in `right` panes
3. Click to gain focus in `right`

[2020-05-26 21:43] Hyoretsu opened #98611 "Terminal does not use correct casing"
If you open VSCode's terminal, a part of the project's folder gets turned to lowercase. If I go to that folder in Explorer and open PowerShell window through right-click, the folder casing is correct. In some cases, like running a React server, that messes with it and throws a warning about two paths that differ only in casing.
Visual Studio Code version: 1.45.1
![image](https://user-images.github

[2020-05-26 21:53] mjbvz commented on #98604
/extPowershell

[2020-05-26 21:53] #98604 closed

[2020-05-26 21:55] sbatten commented on #96115
There are 2 separate problems here.
1) The NPM Scripts view is collapsed by default and the containers were using this to determine that it should be collapsed when added. This is fixed by the above commit.
2) The sizing of a view is far removed from the moving of a view so its not trivial to make the sizing right mainly because if we try to manually size the view that's added we must manually siz

[2020-05-26 21:57] mjbvz commented on #98432
Those errors are from eslint, not VS Code itself

To have VS Code use single quotes for imports, try setting: `javascript.preferences.quoteStyle` or `typescript.preferences.quoteStyle`

[2020-05-26 21:57] #98432 closed

[2020-05-26 21:59] #98555 closed

[2020-05-26 22:00] mjbvz commented on #98555
Try configuring a [jsconfig.json](https://code.visualstudio.com/Docs/languages/javascript#_javascript-projects-jsconfigjson) or tsconfig that includes the files from your project but excludes the mock. This should prevent them from showing up in auto imports

[2020-05-26 22:01] mjbvz commented on #98306
@zjhiphop Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-05-26 22:02] mjbvz commented on #98213
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-05-26 22:02] mjbvz commented on #98213
Also, what is the specific subprocess that has the large virtual memory usage? Is it `14318` in this case (the `window` process?)

[2020-05-26 22:04] mjbvz commented on #98463
Duplicate of https://github.com/microsoft/TypeScript/issues/36862

Should already be fixed in VS Code insiders by TS 3.9+

[2020-05-26 22:04] #98463 closed

[2020-05-26 22:07] mjbvz commented on #98473
Try using the `vscode.openWith` command:

[code]

`showTextDocument` returns a `TextEditor` so it always uses VS Code's standard text editor

[2020-05-26 22:24] warling opened #98612 "Mac Option+Shift+Arrow Doesn't Select"
Beginning with the past two nightly releases, Option+Shift+Right/Left Arrow no longer selects text as it does in all other Mac text editors. It would normally jump to the beginning/end of the current or next word/symbol while also selecting it.

Option+Left/Right Arrow jumps words as expected; adding +Shift should also select the text.

[2020-05-26 22:28] #97237 closed

[2020-05-26 22:29] sbatten commented on #97237
Leveraging the option @bpasero  provided, I added the same option on menu widgets that the menu bar can set. We can't just have this flag on all menus since that would reintroduce the bug I fixed with the commit that created this issue. Instead limiting it to the menu bar sufficiently blocks this from impacting any extension contributed actions.

[2020-05-26 22:30] davidanthoff commented on #85682
Thanks for clarifying!

Yes, the notebook stuff is fantastic, I've had a notebook branch for the Julia extension for a couple of weeks now and it is probably the feature I'm most excited about in a long time.

[2020-05-26 22:39] mjbvz opened #98613 "Add missing imports quick fix should come after all import actions"
Issue Type: <b>Bug</b>

**Repo**

1. `git clone https://github.com/mjbvz/vscode-98613.git`
1. Open `index.ts` and trigger a quick fix on `abc`

**Bug**

<img width="535" alt="Screen Shot 2020-05-26 at 3 38 59 PM" src="https://user-images.githubusercontent.com/12821956/82957060-05719880-9f67-11ea-85fd-0834eb2d402a.png">
VS Code version: Code - Insiders 1.46.0-insider (b26e0bcf39c1b8faaf770265391b5a

[2020-05-26 22:44] ClementTsang commented on #98545
I seem to be getting a similar issue, so you aren't alone.  At first I thought it was compositor acting up but disabling/playing around with settings/restarting it didn't solve anything, which led to searching for this issue and arriving here.

[code]

[2020-05-26 22:45] connor4312 commented on #95361
Initial implementation:

 - branch: https://github.com/microsoft/vscode/compare/connor4312/webview-state-api
 - I have a branch of the stater with .d.ts and some usage of the new APIs: https://github.com/microsoft/vscode-notebook-renderer-starter/compare/enhanced-api

    In particular, I found `onload` in my script stopped working at some point (and the internet suggests this shouldn't have ever

[2020-05-26 22:47] misolori opened #98614 "Improve first run experience"
This issue to explore how we might improve the (default) first run experience from the file explorer (and other areas).

## Current Experience

### Desktop
Today, when you install VS Code for the first time and open a file you are greeted with a series of views in the explorer:

1. Open Editors
2. Folders
3. Outline
4. Timeline
5. NPM Scripts

![image](https://user-images.githubusercontent.com/352

[2020-05-26 22:47] #98285 closed

[2020-05-26 22:52] wapenshaw opened #98615 "Issues with window.***border settings in the theme."
Version: 1.45.1 (system setup)
Commit: 5763d909d5f12fe19f215cbfdd29a91c0fa9208a
Date: 2020-05-14T08:27:35.169Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

If you have these settings defined in your theme,

[code]
There is an issue with sidebar panels. They don't persist their locations across restart. I have noticed it when it star

[2020-05-26 23:02] roblourens commented on #98101
To do this for blob ULIs, I have to download the contents of the URL in the context of the webview, and pipe it back to vscode to write to a file.

Data URLs are easier, I can just open it in a browser. Maybe an experience in vscode would be nicer though.

Where are these urls coming from in your case, some 3rd party renderer code or your extension code?

[2020-05-26 23:04] misolori commented on #98250
I don't know of any changes here, but i did notice that `panelInput.border` no longer works. Maybe @sbatten knows since he made some changes to the panel in https://github.com/Microsoft/vscode/commit/8e67cd2dc673536fbfaeb922066f7c237baa2cdf?

[2020-05-26 23:04] Friss opened #98616 "Javascript Debugger randomly pauses on Out of Memory errors"
VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:33:47.663Z)
OS version: Darwin x64 18.7.0 (Mac OSX 10.14.6)

Issue Type: <b>Bug</b>

Steps to Reproduce:

1. Run a basic node script that runs out of memory via the debug tool
2. The debugger will pause once it hits the limit without any indication of this limit being hit. The debugger pauses even if the "Pause o

[2020-05-26 23:05] karolz-ms opened #98617 "Changes to a task definition are not effective when the task is selected from "recently used" list"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. Install Docker Desktop (Windows, Mac) or Docker engine (Linux).
2. Install Docker extension by Microsoft (ms-azuretools.vscode-docker)
3. Clone https://github.com/kzadora/guestbook-express/tree/dockerized (note: 'dockerized' branch)
4. Do `Run Task` command and run `docker-build` task. Open Docker view (whale icon) and verify you have the `g

[2020-05-26 23:14] bsutton opened #98618 "Bulb menu should open immediately after clicking on the info icon in the problems view"
When working through large no.s of lints in the 'problems' pane I use the quick fix bulb to rapidly fix many trivial errors.

This process is slowed down by how the 'quick fix bulb' appears and then disappears.
The process I used to apply these fixes is:
Open the 'problems pane'.
click on the line
wait for the bulb to appear
click the bulb
select the action.

The problem is that the bulb will appe

[2020-05-26 23:22] rebornix commented on #98202
We do support ansi colors with Error output, which is supported by https://github.com/microsoft/vscode/blob/master/src/vs/workbench/contrib/notebook/browser/view/output/transforms/errorTransform.ts#L54 . We can use the same transformer for `text/plain` mime type.

[2020-05-26 23:37] jzombie commented on #98326
It never updates until I close VS Code and reopen it.

[2020-05-27 00:21] AlbertoBonfiglio commented on #98425
HI, I have the same issue with
Version: 1.46.0-insider
Commit: 8687508aa689b1f16d5f6ff317eb25bcf4544586
Date: 2020-05-26T05:44:44.454Z
Electron: 8.3.0
Chrome: 80.0.3987.165
Node.js: 12.13.0
V8: 8.0.426.27-electron.0
OS: Linux x64 5.4.0-31-generic

however it works with
Version: 1.45.1
Commit: 5763d909d5f12fe19f215cbfdd29a91c0fa9208a
Date: 2020-05-14T08:27:22.494Z
Electron: 7.2.4
Chrome: 78.0.3904.

[2020-05-27 00:39] roblourens commented on #98364
@bpasero is there any way to write logs during a smoke test that will show up in the CI log?

[2020-05-27 00:41] DonJayamanne commented on #98101
3rd party

That's exactly what we have in our python extension when using the webview. I thought this would be generic enough as others could end up with similar scenarios, at the end of the day it's from a  3rd party package.

[2020-05-27 00:43] ArturoDent commented on #98019
I noticed that the pinned tabs (without file icons enabled) do show the first letter of the file name - but it is always capitalized.  I think it would help to distinguish pinned tabs if the first letter of the filename follows the case of the actual file.

[2020-05-27 00:46] YMRkai commented on #98549
thanks very much!

[2020-05-27 01:00] ArmDubhe opened #98619 "Feature Request: Different Icons or colors for public, private or protected methods in the Outline view while using PHP"
On the outline view, will it be possible to have different icons or colors  for public, private or protected methods while using PHP.
![image](https://user-images.githubusercontent.com/49300788/82964596-7dea5080-9f8b-11ea-9579-3503fd7b1976.png)

[2020-05-27 01:03] kghose commented on #98314
Hi @mjbvz thanks for responding. The problem has resolved itself. For a while despite me uninstalling all extensions, reinstalling etc. no preview, builtin or otherwise, would work. Then, just as suddenly as the problem started, it disappeared. I did not reboot the mac or anything. I did delete all VS code state at some point, but the problem persisted after that. I can not think of why this would

[2020-05-27 01:03] #98314 closed

[2020-05-27 01:11] FizzBuzz791 opened #98620 "Excessive Sync Requests"
Issue Type: <b>Bug</b>

Not sure, I left VS Code running overnight and when I came back to my computer this morning it shows a notification that sync was disabled due to excessive requests.

VS Code version: Code - Insiders 1.46.0-insider (8687508aa689b1f16d5f6ff317eb25bcf4544586, 2020-05-26T05:47:43.684Z)
OS version: Windows_NT x64 10.0.19631

<details>
<summary>System Info</summary>

|Item|Value

[2020-05-27 01:18] roblourens commented on #98101
Yeah, I think it makes sense for us to handle this as well.

[2020-05-27 01:19] roblourens commented on #98101
Do you have an example of a notebook that has this button? Is this from ipywidgets?

[2020-05-27 01:27] Tyriar commented on #98054
Hmm, it's already fairly busy up there with the dropdown and 5 buttons. Looking ahead a little bit, how would this interact with a future shell selector/tabs that I'm hoping to have similar to Windows Terminal:

![image](https://user-images.githubusercontent.com/2193314/82965820-1a0d5b00-9f7e-11ea-8ee0-5904a3e09f26.png)

Would debug terminal be a shell entry in the dropdown, using your default she

[2020-05-27 01:28] roblourens commented on #98587
There is no windows ARM azure pipelines agent, right? Do you know anything about cross-compiling for ARM on windows, or do we have a build machine that we can set up?

[2020-05-27 01:39] roblourens opened #98621 "Activate embedded languages for indent rules"
From https://github.com/microsoft/vscode/pull/98181#issuecomment-633875186

[2020-05-27 01:40] gletthereblight commented on #98612
Also happend in Win10, Alt+Shift+Right/Left/Up/Down is no longer works.

[2020-05-27 01:46] ChrisPapp commented on #97521
Can I work on this?

[2020-05-27 01:50] roblourens commented on #98514
Can you share some more details and check whether the tips in https://github.com/microsoft/vscode/wiki/Search-Issues#missing-search-results help?

[2020-05-27 01:54] roblourens commented on #98413
Thanks for the report, but you should know that this API is not on the fast track to stabilization. I don't know when I will have time to pick it up again. Out of curiosity, can you tell me about what you want to use it for?

[2020-05-27 02:02] bestpika commented on #98620
Same problem here.

[2020-05-27 02:12] kewbish opened #98622 "Blue bar briefly shows through taskbar"
- VSCode Version: 1.45
- OS Version: Windows 10 1909

Steps to Reproduce:
1. Open VSCode. In this specific case, I was opening a recent folder.
 This thin blue bar shows up over the taskbar (which is not transparent) briefly.
![image](https://user-images.githubusercontent.com/45278276/82969378-5cd23180-9f84-11ea-908c-b5e410b9cc71.png)
After minimizing and maximizing the window and maximizing other

[2020-05-27 02:14] bestpika commented on #98620
#98599

[2020-05-27 02:16] calebeby opened #98623 "Error while starting Sync: failed because of Unauthorized (401)."
VSCode sync was working fine, until all of a sudden one time it popped up and said something about the sync being too large, and that it had automatically disabled sync :frowning:

When I tried to re-enable sync, I found that there was no way that I could

- VSCode Version: 1.46.0-insider
- OS Version: Fedora 31

Steps to Reproduce:

1. Sign out of VSCode
2. Click turn on preferences sync, sign in

[2020-05-27 02:17] calebeby commented on #98623
TL;DR where does vscode store account information? If I know where that is, clearing that out may fix my issue (just a hunch)

[2020-05-27 02:19] roblourens commented on #98357
I see this, but you could call it a bug that Emmet shows up at all in a part of the PHP file that isn't an HTML region.

[2020-05-27 02:23] petermetz commented on #57590
Having similar issues in a setup where I'm using webpack with TS loader to generate server side bundles of node apps with inline source maps.

[2020-05-27 02:24] #93593 closed

[2020-05-27 02:24] #93463 closed

[2020-05-27 02:31] calebeby commented on #98623
I noticed that it works when I sign into microsoft with my github account:

- In the sign in options in VSCode _don't_ click "github", click microsoft
- In the microsoft login page put in your github email
- Then it tries to sign in with github, click "email me a code"
- Then put in the code, and it will sign in with github

That process works for me for some reason