[2021-06-02 14:08] #125198 closed

[2021-06-02 14:08] joaomoreno opened #125285 "iPad: Sash double tap doesn't reset size"
Double tap the Terminal sash: it doesn't reset to preferred size.

Also, double tap the corner between Terminal and Explorer sash: it should reset both views.

[2021-06-02 14:08] lszomoru commented on #124618
Tagging @gregvanl to make sure that this is added to the docs.

[2021-06-02 14:10] #125285 closed

[2021-06-02 14:10] #120937 closed

[2021-06-02 14:10] #125105 closed

[2021-06-02 14:11] bpasero commented on #125238
This can be configured in keybindings:

[code]

[2021-06-02 14:11] #125238 closed

[2021-06-02 14:12] joaomoreno commented on #121192
I can't repro this, I do see action style when clicking them.

[2021-06-02 14:12] #121192 closed

[2021-06-02 14:15] isidorn commented on #121192
@joaomoreno can you double check when touching them?

[2021-06-02 14:15] joaomoreno commented on #125272
Example to repro:

[code]

[2021-06-02 14:16] isidorn commented on #120956
fyi @joaomoreno just in case you are in an iPad bug destroying mode...

[2021-06-02 14:18] weinand opened #125286 "iPad: VS Code main menu does not properly highlight menu items"
- tap "hamburger" menu to open main menu
- tap "View" submenuitem

Observe:
- the item doesn't highlight
- in the submenu the first item is selected but tapping on another item does not change the selected item

[2021-06-02 14:19] isidorn commented on #125286
Agree. Dup of https://github.com/microsoft/vscode/issues/121201
We should fix that one, assigning to June

[2021-06-02 14:19] #125286 closed

[2021-06-02 14:20] isidorn commented on #121201
@sbatten can you provide some pointers for this one. I would like to understand it better and potentially fix in June.

[2021-06-02 14:20] heartacker opened #125287 "VSCode caused the system to crash WHEA UNCORRECTABLE ERROR"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version:1.56.2
- OS Version:windows 10 21H1

Steps to Reproduce:

1. 1.56.2
2. OPEN VSCODE
3. SYSTEM CRASH

[2021-06-02 14:23] isidorn commented on #125259
I agree that we do not automatically save `launch.json` before debug starts. The reason for this is that we simply first need to have a launch configuration before debugging starts and thus we save.
I will leave this open for now and we might fix it in the future.
Strangely you are the first user to find this limitation.

[2021-06-02 14:23] Ayush-Chugh-2006 opened #125288 "Can not Open file in Vs code (Stuck on main page)"
Does this issue occur when all extensions are disabled?: Yes/No - YES

- VS Code Version: 1.56
- OS Version: Ubuntu 20.10

I was using vs code stable version but then I shifted to insiders which is working fine.
after few days I reopened my stable version but it was having bug that it's not opening any files

This is a screenshot of the problem
![Vs code issue](https://user-images.githubuserconten

[2021-06-02 14:27] alexdima commented on #124448
@wenfangdu The reason the `when` context is not rendered is because the Cursor Redo action does not have a keybinding by default.

[2021-06-02 14:28] bpasero commented on #125026
Actions are still enabled when I click into the empty space though:

![recording](https://user-images.githubusercontent.com/900690/120498563-991e4600-c3bf-11eb-85d5-992c5b39260c.gif)

[2021-06-02 14:31] alexdima opened #125289 "Inline propsal hover: needs UX love"
From @isidorn:

The current UX hover looks decent but I think we can improve it.
These are actually three buttons. Could we actually render them as buttons. Could we get some better separation between them. Could this look more like a hovering toolbar? Maybe a topic for a UX meeting.

![image](https://user-images.githubusercontent.com/5047891/120498742-c23ed680-c3bf-11eb-9c97-6c2302050a3a.png)

[2021-06-02 14:35] alexdima commented on #125289
@misolori We would love your ideas on this.

[2021-06-02 14:35] #125272 closed

[2021-06-02 14:35] joaomoreno commented on #125272
cc @bpasero for the fix and maybe even verification

[2021-06-02 14:37] ejose19 commented on #125007
Sure, let me know once that option is available to test and I'll check it out.

[2021-06-02 14:37] lramos15 commented on #111187
/cc @bpasero For more weird `--wait` cases. This is because internally a replace is just an open -> close which triggers the wait

[2021-06-02 14:40] bpasero opened #125290 "Hex editor does not show fully after reload with untitled"
1. open a new untitled text editor and type some text
2. reopen with hex editor
3. reload window

=> 🐛 the hex editor only appears when opening another editor and going back

![recording (1)](https://user-images.githubusercontent.com/900690/120500508-3168fa80-c3c1-11eb-9f52-c9beed4f9edc.gif)

[2021-06-02 14:40] weinand opened #125291 "iPad: no context menu when pressing right button of real mouse"
- connect a "Magic Mouse" with the iPad
- do a "right click" with the mouse

Observe: no context menu appears

- connect a keyboard with the iPad
- simulate a "right click" by pressing the "control" key on the keyboard and a "left click" with the mouse

Observe: a context menu appears

[2021-06-02 14:40] hediet commented on #125271
Sorry, I could not find the duplicate either. But #94747 might be related.

[2021-06-02 14:40] matthew-inamdar commented on #6328
This would be a very useful feature. I'd love for this to be added 👍

[2021-06-02 14:43] isidorn commented on #125291
@weinand This actually works for me... Might there be an issue with the right lick of your mouse? Does it work in the browser for example?

@joaomoreno @rebornix I think this also works just fine for you?

[2021-06-02 14:45] kieferrm commented on #125036
Ha, good catch. I was wondering about this and tested this explicitly and was impressed how well it worked. But I tricked myself with having `"editor.cursorSurroundingLines": 5` in my settings since it was introduced.

[2021-06-02 14:47] bpasero opened #125293 "Custom editor reopened from untitled does not properly wire in dirty state?"
Steps to Reproduce:

1. open an untitled text editor and type some content
2. reopen with hex editor

=> the editor indicates dirty, but e.g. the explorer does not

From my testing it seems like in this case the working copy that is created does not emit a `onDidChangeDirty` event?

![recording (2)](https://user-images.githubusercontent.com/900690/120501850-3b3f2d80-c3c2-11eb-8f30-ce778d762da0.gif

[2021-06-02 14:48] alexr00 commented on #123493
I probably had logging on for 6+ months and didn't know until this feature told me.

[2021-06-02 14:51] hediet opened #125294 "Inline proposals needs accessibility love"
Feedback from @isidorn:

Here are some suggestion on how to improve the accessibility of the inline propsals:

1. Once you are on an inline proposal pressing Ctrl + K, Ctrl + I, triggers the hover and moves focus into it -> very cool. However it would be nice if the `left` and `right` keybindings would move focus inside the hover on the actions. So that keyboard users can easily trigger the hover

[2021-06-02 14:51] kieferrm commented on #125001
Overall, this works as announced. Good work. I struggle a bit with the suggest widget appearing above or below depending on whether or not there is a multiline completion. Combining this with the precise prefix match and imprecise typing, I sometimes get it on top and sometime below looking for the same completion because I typed one character more or less.

[2021-06-02 14:51] #125001 closed

[2021-06-02 14:53] lramos15 commented on #125156
I have made glob matching in this case case-insensitive. I don't know if that should be the case, but it is what I have gone with. I understand where #10633 but on Linux and Mac filesystems are case sensitive I believe. While we would alter behavior based on operating system that would be even more confusing (that's what python's glob module does). According to this blog, https://jpearson.blog/202

[2021-06-02 14:53] 0xdeadc0d3 opened #125295 "Opening folder tree by double click"
Feature for opening folder tree by double click just like workbench.list.openMode but for folders

[2021-06-02 14:53] #125156 closed

[2021-06-02 14:54] sbatten commented on #125182
This would definitely be a nice to have. If we can tell out-of-proc if a window is restricted, we might be able to improve our new window logic.

[2021-06-02 14:56] hediet opened #125296 "Inline suggestion hover: when there are no next and previous suggestion buttons are not disabled"
Feedback from @isidorn:

When there is only one suggestion, next and previous inline completion actions don't make sense. When the user clicks on them, nothing happens.

[2021-06-02 14:57] #125137 closed

[2021-06-02 14:58] MarByteBeep commented on #125259
Thanks! Well the weird thing is that it actually was saved upon hitting F5, however the debug session still uses the earlier version. It's indeed very strange that no-one noticed this before, unless of course it used to work fine and got broken recently. Thanks for your reply!

[2021-06-02 15:00] Tyriar commented on #125090
I reverted the fix here, IHoverDelegate is used implicitly elsewhere. I'm not sure why this is needed also, can you do a PR for this? I'd prefer not to have another mandatory property if it can be avoided to keep things simple.

[2021-06-02 15:00] technicalpickles opened #125297 "Cannot push newly created branch without pushing it from the command line"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.56.2, VS Code Insiders 1.57.0-insider

- OS Version: macOS 11.2.3

Steps to Reproduce:

1. Open a directory that is version controlled with git
2. Use `git checkout -b <branch>` in the terminal to start a new branch
3.  Make some changes, use Source Control pane to commit them
4. Try to use Source Control pane to pu

[2021-06-02 15:00] Tyriar commented on #125090
https://github.com/microsoft/vscode/commit/60a36219813374a06ea2c08160e9963e60c1b62c

[2021-06-02 15:01] hediet opened #125298 "Inline Completions Are Interrupted By The Suggest Widget"
Feedback from @isidorn:

If the inline completion is being shown, and the user is typing something that is being matched nicely with the inline completion the suggest widget should not auto pop out and ruin the party.
Same for the other way around (which already works): if the user has the suggest widget and is typing some good match I would not expect the inline completion to show automatically.

[2021-06-02 15:01] weinand commented on #125291
Maybe we should start an "iPad FAQ" somewhere...

[2021-06-02 15:01] isidorn commented on #125259
Yeah, I think it was never working... I do agree it is a bit strange and can be confusing. We should fix.

[2021-06-02 15:03] joaomoreno commented on #120956
Pushed a fix for all list/tree/tables. 🚀

[2021-06-02 15:05] #125090 closed

[2021-06-02 15:06] #125091 closed

[2021-06-02 15:06] tg90nor commented on #125136
I started seeing this issue after upgrading to MacOS big sur. Even when vscode is not running, the $VSCODE_ env variables are set when I open a new terminal from the dock

[2021-06-02 15:07] jbfm commented on #120582
This has bitten me so many times it's absurd

[2021-06-02 15:07] isidorn commented on #120956
Awesome 👏
We are actually now covered for most of the workbench.
Let's assign to June so I go through all the workbench and just make a list of places where it still does not work.

[2021-06-02 15:10] connor4312 commented on #125269
This can be passed when `requiresMessaging` is set, since (as far as I know) it's not useful internally.

[2021-06-02 15:10] connor4312 commented on #125147
Not urgent, just nice to have

[2021-06-02 15:13] connor4312 commented on #125222
You're setting the state of `this.item` to passed. Did you mean to apply these state changes to the children?

https://github.com/jdneo/vscode-extension-samples/commit/d7c109fa8760f87441c3a7334a22a26c64a22ef1#diff-6d3df1a8a42967b8f381f8442eaa1fb472f2c9db87368bcce3fdc8eec02e1619R332

[2021-06-02 15:14] #125085 closed

[2021-06-02 15:16] tg90nor commented on #125136
I think I figured out the cause of this for me at least. I have zsh set up to auto load tmux. so when a integrated terminal in vscode is launched it creates a tmux session and the env from that somehow leaks into other tmux sessions. I just disabled tmux auto loading and the problem disappeared.

[2021-06-02 15:16] #125267 closed

[2021-06-02 15:17] hediet commented on #125267
Thanks! Will add more documentation over time.

[2021-06-02 15:21] hediet commented on #125289
We also need to explore how these actions work together with the quick fix actions.
Also, it looks really ugly if there are long action names or long shortcuts.

[2021-06-02 15:24] danchaseCTS opened #125301 "Paste doesn't seem to take the latest copy"
I'm having issues in vscode where if I try to copy/paste some code, it does not seem to take the latest copy all the time.

My actions: I use Ctrl-F to find the function I want to copy from, highlight the block with the mouse, and press-ctrl-c. I then use Ctrl-F to find the function I want to paste into, and hit Ctrl-V.

Expected result would be that it pasts what I copied onto the clipboard, but

[2021-06-02 15:24] tg90nor commented on #125136
Do you by any chance use tmux inside the integrated terminal in vscode @nolanbconaway ?

[2021-06-02 15:24] Endyl commented on #124968
The integrated terminal runs fine in non insider build and previous insiders builds as well, and was broken by an insiders update. I think if something was wrong in my environment, it would break the integrated terminal in any version.

[2021-06-02 15:26] alexdima commented on #124146
To make sure I understood it: you have two actions, `action1` and `action2` and `action1` sometimes calls `action2` in its implementation. So you would like that looking up the keybindings for `action2` would contain the keybindings for `action1`.

I don't think I've seen quite such a use-case before and we don't model this in any way in the `CommandService`...

[2021-06-02 15:29] alexdima commented on #124229
Let's first try to find out what command executes on your machine, with your settings and your keybindings when pressing `AltGr+8`. Could you please [try the following](https://github.com/microsoft/vscode/wiki/Keybinding-Issues#basic-troubleshooting):

* Run the command `Developer: Toggle Keyboard Shortcuts Troubleshooting`
* This will activate logging of dispatched keyboard shortcuts and will ope

[2021-06-02 15:31] aeschli commented on #125090
@Tyriar Sorry for the breakage, `yarn watch` didn't catch the implicit use in terminal.
I discussed the option prior with @alexr00. Sorry, didn't know you also had a stake in it.

I made the placement optional.

[2021-06-02 15:31] IllusionMH opened #125302 "Support current Insert mode in Suggestions Inline Preview"
Related to #125001

If user has `"editor.suggest.insertMode": "insert"` and holds <kbd>Shift</kbd> button it would be great to see actual result of completion (`1..toExponential()`), instead of both parts (`1..toExponentialPrecision()`) as shown on the screenshot below.
![image](https://user-images.githubusercontent.com/1312662/120506962-13a29200-c3cf-11eb-8ae7-27f85fa437e9.png)

It's probably tri

[2021-06-02 15:32] alexdima commented on #123885
VS Code is built with Electron, which is built with Chromium. The font rendering in the editor is delegated to Chromium, so the font lookup is unfortunately not directly under control. If you are able to reproduce this problem in a Chromium-based browser such as Edge or Chrome, then please report the issue directly against Chromium at https://bugs.chromium.org/p/chromium/issues/list

[2021-06-02 15:35] isidorn commented on #125295
So you want the openMode to be applied only to folders?
I guess that is a fair feature request

[2021-06-02 15:36] eamodio commented on #125124
@bpasero With today's insiders (which should have this fix), I'm still seeing the same behavior.

[2021-06-02 15:36] stefanloerwald opened #125303 "monaco-aria-container may create unwanted vertical height."
I have an application, where everything goes in a `div` with `height: 100vh`. The [monaco-editor](https://github.com/Microsoft/monaco-editor) adds a div for aria purposes to the bottom of that page. The content of that div make it 1px high and wide. While the div is placed offscreen to the left, the `top` property is not set, which leads to the placement underneath the sibling `div`.

Please consi

[2021-06-02 15:44] hediet commented on #125302
Oh, I did not even know about Shift+Enter (I didn't enable this status bar).
Nice finding!

[2021-06-02 15:46] alexdima commented on #124231
To avoid sharing the same event loop or whatever, I suggest to adopt `windowOpenNoOpener`. But that one does not return true/false if the window opened.

I left in this particular place `windowOpenNoOpenerWithSuccess` to maintain the existing behavior. I think this returned boolean was added as part of the Safari/iPad work.

[2021-06-02 15:46] aeschli commented on #94534
I can still reproduce the problem on
Version: 1.57.0-insider
Commit: 217f1a2f60a197807de78af362ecb832100fda96
Date: 2021-06-02T05:13:37.201Z
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Linux x64 5.8.0-53-generic

[2021-06-02 15:47] Tyriar commented on #125090
@aeschli does this belongs more in `IHoverDelegateOptions` as it's defining the positioning of the hover like `HoverPosition`?

[2021-06-02 15:47] eamodio commented on #125051
I believe @TylerLeonhardt owns the quickpick now

[2021-06-02 15:47] DmitrySokolov commented on #123885
I can reproduce the issue both in Chrome and in Firefox. Moreover, I've already submitted the issue to MS Feedback https://aka.ms/AAct319 some time ago, but there is still no reaction (please vote).

[2021-06-02 15:48] alexdima commented on #124224
Let's track in https://github.com/microsoft/vscode/issues/41024 . The root cause is a well known Chromium issue -- https://bugs.chromium.org/p/chromium/issues/detail?id=887519

[2021-06-02 15:48] #124224 closed

[2021-06-02 15:56] digitarald opened #125305 "Investigate making current status (selected box in workspace trust) more clear"
Steps to Reproduce:

1. I trusted a folder before. When re-opening the folder, I wasn't aware if I trusted it or not and Monokai Pro's highlighting also didn't help.
2. I clicked to see which extensions would be disabled/limited.
3. The empty results looked broken and I refreshed a few times until I realized the folder is trusted.

![image](https://user-images.githubusercontent.com/8599/120511807-

[2021-06-02 15:56] alexdima commented on #110528
Troubleshooting paste involves one more step than just `F1 > Developer: Toggle Keyboard Shortcuts Troubleshooting`. This has to do with the fact that `editor.action.clipboardPasteAction` is actually an action with implementations that are plugged in.

So the easiest way to troubleshoot:
1. `F1 > Developer: Set Log Level... > Trace`
2. `F1 > Developer: Toggle Keyboard Shortcuts Troubleshooting`
3.

[2021-06-02 15:56] jrieken commented on #124723
ping to check the console for the `potential CYCLE detected` message and its trace

[2021-06-02 15:59] alexdima commented on #123927
I'm maintaining the hover but would appreciate a PR / some simpler repro steps maybe with a trivial extension that just registers a hover provider with the same markdown content.

[2021-06-02 16:00] gregg-miskelly commented on #125144
@isidorn The way Visual Studio handles this situation is that if the UI gets multiple stopping events, the subsequent stopping events are queued. Hitting F5 just dequeues the next stopping event, so we will switch focus to that process. I don't see any reason why this approach wouldn't work for VS Code as well. This wouldn't require any DAP changes.

[2021-06-02 16:15] nolanbconaway commented on #125136
I do not!

[2021-06-02 16:26] DanTup commented on #73656
I updated the Dart extension in the last release to try and solve this - it no longer does a full workspace search but only checks the top few folders:

[2021-06-02 11:29:35.816] [exthost] [info] ExtensionService#_doActivateExtension Dart-Code.dart-code {"startup":true,"extensionId":{"value":"Dart-Code.dart-code","_lower":"dart-code.dart-code"},"activationEvent":"workspaceContainsTimeout:*/pubspec

[2021-06-02 16:29] connor4312 commented on #125224
Can you share your code or a vsix for this so I can see what's happening?

[2021-06-02 16:35] TylerLeonhardt commented on #125156
https://apple.stackexchange.com/a/22304

Just an FYI.

[2021-06-02 16:35] weinand opened #125306 "iPad: improve browsing experience when no real keyboard is available"
When no "real" keyboard is attached to the iPad (and therefore keyboard shortcuts aren't available), it is a pain to activate some frequently used actions like the "Command palette". Delving into the (tiny) "View" submenu in the "Hamburger" menubar and then finding and hitting the "Command Palette" action is hit-and-miss operation...

It would great if the menubar could use an iPad (or in general:

[2021-06-02 16:37] DhilipKumar0807 opened #125307 "Python: Attach to process Id is loading"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-06-02 16:39] bpasero commented on #125124
Ok, I don't see it 🤷

[2021-06-02 16:40] #125307 closed

[2021-06-02 16:41] TylerLeonhardt commented on #125051
I agree with this statement. However, I don't like the idea of a cancel button cluttering quick picks that don't have a title bar when hitting `Esc` is available.

[2021-06-02 16:42] AnthonyWeston commented on #108439
Related: https://github.com/microsoft/vscode/issues/45156

I know this issue doesn't have quite as much discussion as some others, but I would assume most users use the debug console and are very aware of this bug, and I think most would agree that fix for this would be a great benefit for the user. @isidorn Is there a process for prioritizing issues with high impact potential but lower community

[2021-06-02 16:43] DonJayamanne opened #125308 "Ability for extension to Expand/Collapse intput & output of Notebook cells"
Today we collapse and expand cell input & output using the metadata `inputCollapsed` and `outputCollapsed` properties.

I've updated our code base to use the VSC code commands to expand/collapse cell output. We inspect the value of the property `outputCollapsed` and accordingly fire the command `notebook.cell.expandCellOutput` or `notebook.cell.collapseCellOutput`
I.e we're not using the metadata

[2021-06-02 16:43] TylerLeonhardt commented on #125051
That said... it looks like we may need to do something for this because of https://github.com/microsoft/vscode/issues/125284#event-4831907037

[2021-06-02 16:43] DhilipKumar0807 opened #125309 "Python: Attach to process Id is loading"
Issue Type: <b>Bug</b>

i have wsl configured and attach to process id not showing process id the call is in-progress and get time-out. But for type "node" it is working not working for type "python"

VS Code version: Code 1.56.2 (054a9295330880ed74ceaedda236253b4f39a335, 2021-05-12T17:13:13.157Z)
OS version: Windows_NT x64 10.0.19041
Remote OS version: Linux x64 5.4.72-microsoft-standard-WSL2

<d

[2021-06-02 16:44] TylerLeonhardt commented on #125284
If a quickpick has a title bar, I like the idea of adding an X affordance to it...however, I can't visualize a good looking X affordance when the title bar is not visible.

[2021-06-02 16:46] coder2000 commented on #66611
I have started experiencing this in the last few days and reloading is the only thing that works.

[2021-06-02 16:47] andreamah commented on #125016
I also tested it pretty basically in the github-issues-notebook extension, so I agree with the comment above that it would be helpful if potential users are to try it.

[2021-06-02 16:47] #125016 closed

[2021-06-02 16:49] connor4312 commented on #125082
Fixed but forgot to tag in commit

[2021-06-02 16:49] #125082 closed

[2021-06-02 16:55] weinand opened #125310 "iPad: context menu appears when releasing a long tap"
- in a text editor do a "very long" tap

Observe: the context menu shows up when the tap is released

This is a bad UI because there is no feedback that the tap was "long enough" to open the context menu.
This results in taps that are just too long which slow down interaction.

The context menu should show as soon as the tap was long enough.

[2021-06-02 16:58] misolori commented on #125284
I noticed that there are specific quick picks that will disable the esc/tapping outside to dismiss the quick pick. The opening remote quick pick does this but others like the command palette work just as fine.

As an alternative we could add an `x` to the right side of the input box like:

![image](https://user-images.githubusercontent.com/35271042/120520776-0d89c280-c389-11eb-95ec-214d41fa2980.pn

[2021-06-02 17:00] TylerLeonhardt commented on #125074
I think a good first step of this issue is to get rid of VS Code prompting to call into the extension. We're in complete control of this flow so I don't see why we need to notify here.

[2021-06-02 17:01] kontheocharis commented on #70532
Has anyone found a workaround for this? It is one of the few things preventing me from switching to vscode.

[2021-06-02 17:05] TylerLeonhardt commented on #125284
kinda makes me feel like it will clear the text in the quick pick, not close it entirely.

I'm concerned about having a Cancel button and including it in the buttons that authors can contribute like so:

https://github.com/microsoft/vscode/issues/125051

[2021-06-02 17:05] ChezCoder commented on #125310
im pretty sure the reason for this is to support selecting text. if you were selecting some text and suddenly the context menu showed up, i think it can be very annoying

[2021-06-02 17:07] weinand opened #125311 "iPad: don't show debug commands in command palette"
Since debugging is not supported on iPad (and the Run menu is empty), debug commands should not be offered in the command palette either.

[2021-06-02 17:10] Glitchy-Tozier commented on #124229
What helped me was to go to Settings → Application → Keyboard  → "Keyboard: Dispatch" and select "keyCode".

Now I'm wondering why that mode isn't the default.

[2021-06-02 17:13] luabud commented on #125230
Thank you for filing this!

[2021-06-02 17:16] lramos15 commented on #122433
@rzhao271 When the notification pops up and you click keep current or the x button you shouldn't see a setting change in your `settings.json`, but the next time you open that file you also shouldn't see the notification.

[2021-06-02 17:16] wclr commented on #125243
Hah, right, it works after exiting and re-launch.

I actually when I noticed a bug a few days ago decided to wait for the update, because definitely, it could not pass unnoticed. But today it seemed to me that vscode has updated, and the bug was still there I decided to create the issue. But after exiting and launching again it started the updated version.

I just have the side activity bar hidden

[2021-06-02 17:16] #125243 closed

[2021-06-02 17:16] isidorn commented on #125310
@weinand great suggestion.
As for text selection it already does not work that well with touch, only with mouse it is good.
Also we only have text selection in the editor.
So in general it would be great if we could show the context menu as soon as the top is long enough.

fyi @rebornix for editor and @joaomoreno for list

[2021-06-02 17:17] int19h commented on #125230
See https://github.com/microsoft/vscode/issues/101140 for the previous discussion on this.

[2021-06-02 17:20] Sjukha opened #125312 "No visible Code"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-06-02 17:20] connor4312 opened #125313 "Missing padding between getting started images and labels"
Testing #125014

![](https://memes.peet.io/img/21-06-621d0a41-a87c-4e82-bf4b-12668de34cc6.png)

[2021-06-02 17:20] isidorn commented on #125306
Great idea. A good start would be for a 3-finger swipe to just open the quick pick.
I can look into if it is possible to detect the 3 finger gesture from the browser.

Another idea is to simply put a quick pick action in the activity bar (but I think there is a separate issue for this).

fyi @TylerLeonhardt for quick pick

[2021-06-02 17:20] roblourens commented on #118584
- Open an untrusted workspace
- Open a python notebook
- You should be able to see the notebook cells, but you should not be able to execute a cell
- If you try to execute a cell, you should get the prompt to trust the workspace
- Open a python notebook that has outputs saved
- You should not be able to see rich html outputs, but it should fall back to simple outputs (markdown, plain text, etc) if

[2021-06-02 17:21] weinand commented on #121202
see related issue https://github.com/microsoft/vscode/issues/125306

[2021-06-02 17:21] #125312 closed

[2021-06-02 17:22] misolori commented on #125305
We could add a check to the top left to indicate that state a bit better:

![image](https://user-images.githubusercontent.com/35271042/120524439-eaacdd80-c38b-11eb-8be8-73283e5a3e9a.png)

Which could theme better:

![image](https://user-images.githubusercontent.com/35271042/120524460-f00a2800-c38b-11eb-9e1e-82b8897b234e.png)

Also in the past we did explore turning the button into a status and dis

[2021-06-02 17:24] weinand commented on #125306
Yes, having a gesture to open the "command palette" is a first step.

But having a touch-based replacement for the tiny menubar with all the tiny submenus is another big issue...
This UI is just not "touch"-ready.

[2021-06-02 17:24] connor4312 opened #125314 "Notebook getting started experience is noisy"
Testing #125014

Opening a notebook, I'm presented with this screen:

![](https://memes.peet.io/img/21-06-b26bf26e-927f-4011-94ee-f3d1c8046983.png)

There's a lot going on here. I need to parse through the image and realize that the 'context' is that thing on the bottom left side that's selected which is asking me to choose a layout for the notebook. It's also not very obvious that the images on t

[2021-06-02 17:25] samrat-gavale commented on #114003
@TylerLeonhardt , I know this issue was only recently assigned to you, but would like to draw your attention to it, since it is related to [#124643](https://github.com/microsoft/vscode/issues/124643) which you seem to be working on. As stated above, let me know if there is anything I can do to get this implemented earlier.

[2021-06-02 17:26] andreamah commented on #119722
Not sure if this is intentional, but clicking `More` after checking off all of the items causes the item to stay on the main page. Only clicking `Mark Done` removes it. According to the comment above, seems like checking all of the items should remove the item?

[![Image from Gyazo](https://i.gyazo.com/2771742639929eb63ed8faa1148ad7c4.gif)](https://gyazo.com/2771742639929eb63ed8faa1148ad7c4)

[2021-06-02 17:26] roblourens commented on #125245
The labels actually refer to the image above. We will tweak this cc @JacksonKearl

[2021-06-02 17:26] #125245 closed

[2021-06-02 17:27] Kenobi-the-2nd commented on #124907
Yes, I use input variables frequently in both my tasks and debug launch configurations.

Drawing from my example above, I created a simple task to open 'Select Language Mode' in the quick open, then passed in 'SQL' as the argument:

`        {
            "label": "Change Language Mode",
            "command": "${command:workbench.action.editor.changeLanguageMode}",
            "args": ["SQL"]

[2021-06-02 17:28] misolori commented on #125284
I think there's a way to have all of these live together, I can mockup some combinations and then discuss them in our ux channel. Slack does something similar:

<img width="541" alt="CleanShot 2021-06-02 at 10 26 32@2x" src="https://user-images.githubusercontent.com/35271042/120525573-1bd9dd80-c38d-11eb-907f-03c23296b5c1.png">

[2021-06-02 17:28] kieferrm opened #125315 "Don't ask for opening the workspace file when restoring a window"
Testing #124837

I opened `microsoft/vscode-jupyter` as a Remote Repository. Every time the window is restored I get the notification. It's OK to show it when I open the folder, but when restoring we know the user's decision.

![image](https://user-images.githubusercontent.com/4674940/120525389-f1882000-c38c-11eb-8874-d8d1e4bc24d7.png)

[2021-06-02 17:29] #124837 closed

[2021-06-02 17:30] roblourens commented on #125211
Still reproes for me with the steps in the comment. I can set a breakpoint somewhere, let me know.

[2021-06-02 17:30] misolori commented on #119722
Yes, that was the original design so maybe this was missed @JacksonKearl?

[2021-06-02 17:34] connor4312 opened #125316 "All notebook profiles (even default) add `notebook.undoRedoPerCell: true`"
Testing #125014

1. Start at the default profile
2. Switch to another one
3. Back to default
4. notebook.undoRedoPerCell: true is left in the settings

Since it seems like all profiles 'want' this to be true, should it be on by default?

[2021-06-02 17:34] kieferrm commented on #124838
Works as expected.  It seems to me that the splash screen now is rendering noticeably faster (at least on my Windows machine) which makes the effect more pronounced. Nice work!

[2021-06-02 17:35] #124838 closed

[2021-06-02 17:36] connor4312 commented on #125314
I think something to reduce the noise could also be using a greyboxed stylized image rather than real editor-esque images, e.g.

![](https://lh3.googleusercontent.com/proxy/ZGifYgiXRSD9LmrU4kD-U8LNyX9rQsDf25GrECI6b_Le2Ln6pWQKPy7osI-2HcMKVo-daR3iyvyB0CKg32aqadm4BDxUBAdzgLHexjdC9kCZdVVzvdPstbiahj20Sg2CFPPePSqBkbdxYtbkKPvted26TvFo)

[2021-06-02 17:38] TylerLeonhardt commented on #125306
I wonder if the "omnibar in the title bar of vscode" is the way to go here. It's something @misolori mocked up that might be good for this

[2021-06-02 17:39] roblourens opened #125317 "Untitled notebook opened from CLI won't go away"
Testing #124837 or maybe #124844

- In terminal, run `code-insiders openedFromCLI.github-issues`
- An empty notebook opens
- Close it
- Reload the window
- It comes back, and I can never get rid of it

![Jun-02-2021 10-37-15](https://user-images.githubusercontent.com/323878/120526882-935c3c80-c38e-11eb-924e-1ade866cb983.gif)

[2021-06-02 17:40] TylerLeonhardt commented on #114003
@samrat-gavale from reading this, it sounds like the downside is that you have to log in twice, but then you'll be logged in "forever" after that. Is that the only downside?

[2021-06-02 17:42] roblourens opened #125318 "Workspace trust dialog when reloading with untitled notebooks"
https://github.com/microsoft/vscode/issues/124844

- Run `code-insiders fromcli.github-issues`
- Reload the window
- Get a trust prompt

Strangely, doesn't happen with untitled notebooks that I get from the "New github issues notebook" command

![image](https://user-images.githubusercontent.com/323878/120527355-18dfec80-c38f-11eb-86e4-ce001ecda4db.png)

FYI see https://github.com/microsoft/vscode/

[2021-06-02 17:43] TylerLeonhardt commented on #125051
Let's dupe this to #125284

[2021-06-02 17:43] #125051 closed

[2021-06-02 17:50] mjbvz commented on #125269
1. How about moving the `id` into `CellInfo`? `renderCell(element, cellInfo)`
1. `OutputItem` is ok with me but feels a little weird for markup cells (I guess for those you can think of them as being their own output)

    If we make this change though, we should also rename `renderCell` to `renderOutputItem`

1. `data` sounds good. It's closer to the `fetch` api

[2021-06-02 17:51] brianjmurrell commented on #122659
Can we get this issue reopened please?  It's still happening in the latest release and it's not at all clear how https://github.com/Microsoft/vscode/wiki/Native-Crash-Issues is supposed to work in the scenario of non-responding VS Code (rather than _crashing_ outright).

[2021-06-02 17:52] digitarald commented on #119722
It makes sense to hide completed items as _Mark Done_ does the same.

<hr>

Tangential, one exploration would be to make the completed items more todo-list-like (like MS Todo "Completed items", as just making them disappear does not address the original intent of this specific issue – to make the end of a walkthrough more interesting.

<img src=https://user-images.githubusercontent.com/8599/120528

[2021-06-02 17:53] mjbvz commented on #125257
Yes needs better documentation

[2021-06-02 17:55] weinand commented on #125309
/extPython

[2021-06-02 17:55] #125309 closed

[2021-06-02 17:55] connor4312 commented on #123360
@Tyriar can you verify this?

[2021-06-02 18:04] Tyriar commented on #120352
@fflaten should be fixed with https://github.com/microsoft/vscode/issues/123803

[2021-06-02 18:05] roblourens commented on #125316
FYI @rebornix, if you add a setting to a profile, you have to add it to all profiles. I need to make TS help us here

[2021-06-02 18:07] lramos15 commented on #122302
@sbatten For consistency should this all go in the split button in the workspace trust view.

[2021-06-02 18:08] connor4312 commented on #122044
@rebornix this might be a good one for you since I know you have an ipad

[2021-06-02 18:09] roblourens commented on #125235
Just when it goes across editors, interesting

[2021-06-02 18:10] roblourens commented on #125173
That makes perfect sense...

[2021-06-02 18:11] roblourens commented on #125232
https://github.com/microsoft/vscode/issues/125173

[2021-06-02 18:11] #125232 closed

[2021-06-02 18:12] roblourens commented on #125227
Good catch

[2021-06-02 18:13] roblourens commented on #125226
You should see this `...` menu

[2021-06-02 18:15] roblourens commented on #125223
Should we move "hidden" to the "visibility" setting? cc @rebornix @misolori

[2021-06-02 18:17] roblourens commented on #125166
Yikes. I wonder if you could look at this @rzhao271?

[2021-06-02 18:18] roblourens commented on #125129
Why leave it for just this one setting though? It's confusing. If you want to leave it, update the description to explain the keys

[2021-06-02 18:18] roblourens commented on #125165
https://github.com/microsoft/vscode/issues/125129

[2021-06-02 18:18] #125165 closed

[2021-06-02 18:20] digitarald opened #125319 "Workspace Trust Editor loads slowly and changes state during loading"
Reloading workspace editor on a trusted project, 50% slower:

https://user-images.githubusercontent.com/8599/120531936-04522300-c394-11eb-8aa8-db6296202629.mp4

Main issues in the recording, apart from the slow loading:

1. Loads in restricted mode for a long time, then suddenly toggled to trusted
2. Main trust/restricted panels take long to load and cause significant layout shift; even though the

[2021-06-02 18:21] ArmsOfSorrow opened #125320 "Linking to file with line number from markdown only works for .md files"
Issue Type: <b>Bug</b>

I have a markdown document that contains links to other files, which can be other markdown documents, or code (`.h/.cpp` files).

If the link points to an .md file, I can use e.g. `#L23` to link to line 23 and if I click on the link the code editor opens at that line.
If the link points to any other file (`.h/.cpp` in my case) clicking the link opens the file, but not on th

[2021-06-02 18:22] ArmsOfSorrow commented on #125320
[mdtest.zip](https://github.com/microsoft/vscode/files/6586644/mdtest.zip)
Here's the files I used to reproduce the issue.

[2021-06-02 18:23] andreamah commented on #125035
I am trying to verify this feature right now, but it isn't persisting upon reload on my side (running off of latest commit on main).

Steps:
1. Debug extension
2. Add filter to debug console
3. Stop debugging
4. Use command palette to reload
5. Debug console's filter is empty again.

Is my flow correct?

[2021-06-02 18:26] misolori commented on #125223
Ah i do think the name here is confusing, this is essentially what controls HOW the toolbar appears, so maybe another name would be better? `notebook.cellToolbarInteraction`? I also don't know whether we shouldn't broadcast this settings and just go with a default and remove the setting, so far we haven't seen any complaints since the default was changed.

[2021-06-02 18:26] alexbi29 commented on #124723
Freeze just happened again, but log is different this time. May not be related:
`
[2021-06-02 14:17:59.643] [renderer1] [warning] {}
[2021-06-02 14:18:50.556] [renderer1] [info] [remote-connection][ExtensionHost][f166f…][reconnect] starting reconnecting loop. You can get more information with the trace log level.
[2021-06-02 14:18:50.556] [renderer1] [info] [remote-connection][ExtensionHost][f166f

[2021-06-02 18:30] hediet commented on #124024
Closing. This issue is tracked in the other repo.

[2021-06-02 18:33] roblourens commented on #125190
It sounds like maybe you want to configure `files.exclude` for that file just in one workspace folder by setting it in `.vscode/settings.json` for that workspace

[2021-06-02 18:39] roblourens commented on #124970
For your tests, since you own the kernel, you know when execution was done (although then it's testing only your code, not vscode, which may or may not be what you want).

Didn't realize that Gather worked that way.

That is interesting

[2021-06-02 18:42] mjbvz commented on #121441
I'm going to close this since I'm not sure it is an issue

If we can come up with a good fix,  we should be able to patch this after shipping  since we have an official api for receiving messages

[2021-06-02 18:42] #121441 closed

[2021-06-02 18:45] #123476 closed

[2021-06-02 18:48] isidorn commented on #122044
Also maybe @weinand for verification :)

[2021-06-02 18:50] isidorn commented on #125306
@weinand for the menus I already created this issue https://github.com/microsoft/vscode/issues/121202
I am not sure how far we can go with making the menu larger. To be honest trying it out on the large iPad pro, the menus where not that bad. I was not convinced we need a brand new experience. Though it might be needed.

@TylerLeonhardt omnibar would obviously be best. But a good first step is to

[2021-06-02 18:52] isidorn commented on #125035
@andreamah thanks for trying to verify this. However this fix is not yet released. Sorry for not specifying. Though we have this `unreleased` label that should help with that.
So I will close this issue, and it would be great if you can try it out again tomorrow. Thank you!

[2021-06-02 18:52] #125035 closed

[2021-06-02 18:53] digitarald opened #125322 "@workspaceUnsupported search shows up too eagerly for fresh installations"
STR:
- Opening fresh VS Code instance
- Open Extensions in sidebar

STR 2: Same happens when opening a project folder; even though I didn't install any extensions yet.

`@workspaceUnsupported` shows up as default, without much context.

![image](https://user-images.githubusercontent.com/8599/120535499-e686bd00-c397-11eb-91b8-75a3ef907d57.png)

Given that users who freshly open VS Code want to set

[2021-06-02 18:54] isidorn commented on #125284
@misolori great sketches. I would prefer the text, as it aligns better with other iOS apps. Though "Close" might be better than "Cancel"...
@TylerLeonhardt is it ok if I assign this to June so we discuss this in one of the UX meetings and try to figure this out.

[2021-06-02 18:55] TylerLeonhardt commented on #125284
Sounds good!

[2021-06-02 18:56] mjbvz commented on #125101
Fixed by DefinitelyTyped/DefinitelyTyped#53538

[2021-06-02 18:56] #125101 closed

[2021-06-02 18:58] xisui-MSFT commented on #124163
@isidorn @yannickowow  Thanks for the suggestions!

How to do this?

[2021-06-02 19:00] pedro-w opened #125323 "LSP - VSCode doesn't treat MarkupKind.PlainText as plain text"
Issue Type: <b>Bug</b>

I'm writing an extension using LSP. In response to a hover request I am returning a MarkupContent with a `kind` of `'plaintext'`. VSCode is not displaying what it interprets as HTML tags, i.e. words between angle brackets. For example the response
[code]
is displayed as "main :: " instead of "main :: \<string\>".

In the spec it says that "clients might sanitize the return

[2021-06-02 19:01] isidorn commented on #124163
Use this context key
https://github.com/microsoft/vscode/blob/main/src/vs/editor/common/editorContextKeys.ts#L51

[2021-06-02 19:02] pedro-w commented on #125323
Example screen shot:
![Screenshot 2021-06-02 at 20 01 47](https://user-images.githubusercontent.com/22172519/120537647-6f741780-c3dd-11eb-83a0-30bd2b7b2b7a.png)

[2021-06-02 19:03] isidorn commented on #124231
Yes the returned boolean was added as a way for us to know if the window opened successfully. Since Safari sometimes blocks new windows / tabs.

[2021-06-02 19:10] roblourens commented on #125314
We also discussed putting the notebook profile task into its own section, which would really help with the problem of understanding what you are supposed to look at when it pops up. I think we should do that

[2021-06-02 19:18] hediet commented on #125034
Should the inline completion settings live in the suggest namespace? (e.g. the setting that controls if inline completions are enabled)

[2021-06-02 19:19] #125039 closed

[2021-06-02 19:19] #125067 closed

[2021-06-02 19:22] alexbi29 commented on #124723
It's happening again. Uninstalled all plugins (went to remote server and deleted .vscode-server/caches).
Don't see any logs in Log (Window) anymore. If "unresponsive window" pops up then i see this in "Log (Main)":
[2021-06-02 15:16:42.577] [main] [error] CodeWindow: detected unresponsive

Freezes are still 15-20 seconds, unfreeze for 2-3 sec and then another freeze for 2-3.

One thing that stands

[2021-06-02 19:24] roblourens commented on #125223
I think the jupyter team might not like it, since they don't want to have to click twice to get the run above/below actions

[2021-06-02 19:25] TylerLeonhardt opened #125324 "InlineCompletionItem doesn't honor wrapped text"
Testing #124979

![image](https://user-images.githubusercontent.com/2644648/120540458-93176d80-c39d-11eb-97d9-2656858ca791.png)

vs when I accept the completion:

![image](https://user-images.githubusercontent.com/2644648/120540504-a1658980-c39d-11eb-9601-6ee406d3a330.png)

[2021-06-02 19:28] TylerLeonhardt opened #125325 "Ability to configure the acceptance for completions to be something other than tab"
Testing #124979

In other apps I use, Right Arrow is the way you accept Inline Completions: Outlook, shells like PowerShell, zsh, fish, etc. Ideally the way you accept inline completions should be configurable.

[2021-06-02 19:29] lramos15 commented on #125322
Not to jump on this issue, but it also remains there when you do trust the workspace and can be jarring why you don't see any extensions.

[2021-06-02 19:30] youngmg1995 opened #125326 "InputBox busy property not working"
Setting the "busy" property to true for an InputBox should display a progress bar under the input box. This doesn't appear to be working though, and no progress bar is displayed.

To reproduce, create an extension command with the following:

[code]

[2021-06-02 19:32] karthiknadig opened #125327 "While debugging cannot continue a process that is not in focus"
Issue Type: <b>Bug</b>

Python extension developer here 👋. This seems to be a UI issue with VS Code.

Clicking on continue on a process that is not in focus (does not work). Note, the continue is not on the process that is currently in focus. Hitting continue on the process that is currently in focus works fine.
![image](https://user-images.githubusercontent.com/3840081/120373344-19b04a00-c2cd-11e

[2021-06-02 19:33] meganrogge commented on #122317
@JacksonKearl despite the fact that I see you modified this milestone to be in June 9 days ago, looks like Github didn't accept that FYI

[2021-06-02 19:38] meganrogge commented on #125038
fixed 1a8bd7b260f71577e693ad0ff238544517bcb694

[2021-06-02 19:38] #125038 closed

[2021-06-02 19:39] TylerLeonhardt opened #125328 "showInlineCompletions and TabCompletions don't work well together"
Testing #124979

Apply these settings:
[code]

with this code:

[code]

Here's what I see. There's no way to accept an inline completion:
![no-way-to-accept](https://user-images.githubusercontent.com/2644648/120542072-83008d80-c39f-11eb-834c-326da6b5cbe2.gif)

[2021-06-02 19:40] samrat-gavale commented on #114003
@TylerLeonhardt , yes, the major downside I am concerned about is logging in multiple times. But there are some nuances to it:

1. Two is a low number for extensions requiring user sign in. Typically there will at least 3-4 extensions which would require user sign in.
2. Being signed in forever after initial sign in is not necessarily true. I have seen many times that the token refresh on subseque

[2021-06-02 19:41] lszomoru opened #125329 "Untitled notebooks - remove dirty indicator"
Testing #124844

**Repro steps:**
* Turn off "Auto Save"
* Create a new untitled notebook
* Save the untitled notebook
* Add some contents -> dirty indicator appears
* Undo the contents -> dirty indicator is removed
* Add some contents again
* Remove the contents manually without using undo

**Expected:**
Dirty indicator should be removed

**Actual:**
Dirty indicator remains

[2021-06-02 19:43] #125046 closed

[2021-06-02 19:56] lszomoru opened #125330 "Untitled notebook - opening non-existing notebook from CLI"
Testing #124844

* Close all VSCode instances
* Navigate to an empty folder `Foo`
* Run `code-insiders foo.github-issues`
  * foo.github-issues notebook is opened but it is not marked as dirty (not the expected behavior based on the TPI)
* Hit Ctrl+S
  * The save file dialog will appear (not the expected behavior based on the TPI)

[2021-06-02 20:00] lszomoru opened #125331 "Untitled notebook - warning to save a file that was closed"
Testing #124844

* From the terminal run `code-insiders foo.github-issues`
* Close the file
  * There is still a `1` badge on the explorer icon in the Activity Bar
* Go to File -> Open and pick a folder to open
  * You will be prompted to save the changes to the file that was already closed

[2021-06-02 20:01] #124844 closed

[2021-06-02 20:02] rohmishra commented on #109176
Could be Kwin. I don't get system bars with vscodd

[2021-06-02 20:02] TylerLeonhardt opened #125332 "Command property doesn't seem to be working in Inline Completions"
Testing #124979

Here's my code. The command code does not get executed:

[code]

Also curious about where the title and tooltips are displayed.

[2021-06-02 20:03] rohmishra commented on #109176
@skewty would be nice if vscode followed system convention with custom styling.

[2021-06-02 20:08] digitarald commented on #125322
Right, that one was harder to reproduce when I tried it; but it definitely shows up in many surprising occasions when I am not in a trusted/restricted.

[2021-06-02 20:10] TylerLeonhardt commented on #124979
I would have expected the InlineCompletionItemsProvider to have more functions on it... like one to handle:
* when a CompletionItem is accepted
* when the user asks for a different CompletionItem
* when the user cancels out of the InlineCompletionItems experience

But maybe it's too early?

[2021-06-02 20:10] #124979 closed

[2021-06-02 20:13] sbatten commented on #125319
I think to smooth this out without much change, for now, we just will wait to render until workspace is fully initialized (this is how the workbench indicators operate)

[2021-06-02 20:14] sbatten commented on #122302
that button doesn't give you a lot of space to render as much :/

[2021-06-02 20:16] #124995 closed

[2021-06-02 20:20] mystiquewolf commented on #109176
I know it's KWin. The difference is that Kwin draws decorations. Actually i've heard Gnome is the only one that doesn't draw decorations and leaves that to the clients. I have no idea why VS Code doesn't disable the decorations from KDE when it implements client-side decorations as its "custom" titlebar.

[2021-06-02 20:23] rzhao271 commented on #69349
/verified

[2021-06-02 20:25] sbatten commented on #125305
When the view was specific to workspace trust, we showed them regardless of the current state. Now, since the view covers virtual workspace extensions and the label is to cover extensions that are not supported only.

The checkbox is a nice idea, but the theme color is based on button colors which in @digitarald's theme are notably low contrast.

[2021-06-02 20:32] mayafrog opened #125333 "Select multiple tabs via shift key"
Hi,

I am reopening this as the previous feature requests did not receive enough attention to be put into the backlog.

I think the addition of the feature of being able to select multiple tabs, and then moving them as a group to another editor or right clicking for a context menu to close / move to another editor will significantly help myself, and many other's workflow. Basically all modern brow

[2021-06-02 20:32] kieferrm opened #125334 "Notebook contributions should only be visible when the active editor is a notebook"
![image](https://user-images.githubusercontent.com/4674940/120548239-f8bc2780-c3a6-11eb-95fb-aba9fbc3d4fd.png)

[2021-06-02 20:34] digitarald commented on #125319
As the UI layout itself is mostly predictable in a rough shape, maybe using css grid could allow building a skeleton loading indicator; so the page doesn't stay blank for multiple seconds.

[2021-06-02 20:34] sbatten commented on #122651
codespaces will use the isTrusted flag, which makes this issue obsolete.

[2021-06-02 20:34] #122651 closed

[2021-06-02 20:36] sbatten commented on #125319
until the workspace trust state is resolved, nothing except the list of entries at the bottom is truly correct. while I agree we can do more polish on this, I don't think its worth doing this week.

[2021-06-02 20:38] kieferrm opened #125335 "Cell toolbar cutting of capital letters in rendered Markdown"
![image](https://user-images.githubusercontent.com/4674940/120548883-be06bf00-c3a7-11eb-9510-5d352a71c419.png)

[2021-06-02 20:39] connor4312 commented on #121216
ping @gregvanl for verification

[2021-06-02 20:40] meganrogge commented on #124849
This code was responsible for setting the active instance (incorrectly) on middle click. To avoid this, I now will check if e.editorOptions.pinned and return before the active instance gets changed. https://github.com/microsoft/vscode/blob/c4da8f4ab15c7a6cace7d1ba508737c5da08a3f8/src/vs/workbench/contrib/terminal/browser/terminalTabsList.ts#L155-L167

With the above in place, now this is the code

[2021-06-02 20:44] #125319 closed

[2021-06-02 20:46] meganrogge commented on #124849
confirmed that returning early in onViewPointer fixes this problem

[2021-06-02 20:46] kieferrm opened #125336 "Cell toolbar action enablement causes flicker"
It's hard to see in the recording but you see it at least once. When going back and forth between a rendered markdown cell and a code cell using the arrow keys the update of run actions happens after the cell toolbar is fully rendered on the target cell. This causes a distracting flicker effect.

![HyywYlTfxS](https://user-images.githubusercontent.com/4674940/120549549-99f7ad80-c3a8-11eb-9355-fd68

[2021-06-02 20:47] kieferrm opened #125337 "Dealing with extension dependencies in Restricted Model"
I got the following notification. This only looks at the enablement state of the upstream dependency but does not consider that this is happening because of restricted mode. I.e. the proposal of enabling is wrong.

![image](https://user-images.githubusercontent.com/4674940/120385637-8717a700-c2dc-11eb-8947-d7b2ca5cc089.png)

[2021-06-02 20:50] #124849 closed

[2021-06-02 20:50] rzhao271 commented on #125166
I'm unable to repro this on both Windows and Mac. It takes me a double-click to manually change the first row of that setting into edit mode, after it shows up.
Do we have any OS-specific code for the settings editor @roblourens?
If not, I wonder if this might be an Electron issue.

[2021-06-02 20:51] connor4312 commented on #125166
I did not repro on Windows either, only in Linux

[2021-06-02 20:53] kieferrm opened #125338 "Jupyter-like focus indicator should be sticky"
The focus indicator should not be removed if the focus moves insider the cell editor or into an output. The way it is right now, I'm still prone to getting lost particularly when switching back and forth between editors.

![ReckEYiOnL](https://user-images.githubusercontent.com/4674940/120550310-8c8ef300-c3a9-11eb-83a1-fdaa497fb334.gif)

[2021-06-02 20:54] #122945 closed

[2021-06-02 20:54] connor4312 commented on #118743
[Nightly](https://github.com/microsoft/vscode-js-debug#nightly-extension) will be needed until the next Insiders, yes

[2021-06-02 20:55] #125247 closed

[2021-06-02 20:58] kieferrm opened #125339 "Jupyter-like focus indicator missing when selecting notebook layout"
![k1HRihwnFe](https://user-images.githubusercontent.com/4674940/120551000-69187800-c3aa-11eb-8aec-660e39295959.gif)

[2021-06-02 21:03] #65310 closed

[2021-06-02 21:04] rebornix commented on #125217
duplicate of https://github.com/microsoft/vscode/issues/116341

[2021-06-02 21:04] #125217 closed

[2021-06-02 21:06] rebornix commented on #125299
@misolori I wonder if we should remove our css styles for tables.

[2021-06-02 21:09] rzhao271 commented on #118584
I've verified almost all of the points above except for the last one.
I'm not familiar with how rich html output works, and how one writes a notebook to produce that output, though, so I'm unable to tell when the output switches from a rich html one to a simple one.

[2021-06-02 21:13] #125199 closed

[2021-06-02 21:18] furai commented on #124968
I think @Tyriar might have based his answer on my log that was totally unrelated to your issue which I've stated in one of the edits.

[2021-06-02 21:24] connor4312 commented on #125240
This is possible with the `Test: Peek Output` command (bound to `ctrl+; m` by default) or by clicking on the test in the explorer. We could add an additional context menu item on the test decoration, and/or code lenses when those eventually come in.

[2021-06-02 21:26] RandomFractals commented on #118584
@rzhao271 you can try it with a restbook ... https://github.com/tanhakabir/rest-book/issues/90#issuecomment-828863431

[2021-06-02 21:31] RandomFractals commented on #118584
@roblourens why should not I see previously generated rich html output in a loaded notebook? I think you are taking this 'untrusted' workspaces a bit too far.

If I had a renderer that generated a chart as a cell output and saved it. Are you saying I should not be able to see it with your notion of an untrusted workspace? I most certainly disagree with you and your teams decisions on this.

[2021-06-02 21:37] misolori commented on #125299
We could, we'd just need to remove this:

https://github.com/microsoft/vscode/blob/26cd18321bd7ad322177b1af74e42a93b3c72424/src/vs/workbench/contrib/notebook/browser/view/renderers/backLayerWebView.ts#L758-L760

![image](https://user-images.githubusercontent.com/35271042/120555550-1477fb80-c3b0-11eb-9f6a-f8ee07e764e7.png)

but we'd also need to check how this affects table with long tables

[2021-06-02 21:39] rzhao271 commented on #122596
The print dialog still seems to show up on Windows when using Edge:

![recording (28)](https://user-images.githubusercontent.com/7199958/120555617-2d80ac80-c3b0-11eb-9bb1-78390297f5b2.gif)

[2021-06-02 21:45] roblourens commented on #118584
Custom renderers should still work in an untrusted workspace. HTML outputs don't. Even though they are "sandboxed" in an iframe, the iframe has special privileges such that we believe it isn't safe to run explicitly untrusted scripts in it.

[2021-06-02 21:49] rchiodo commented on #118584
I believe Google collab and jupyter run something that scrapes out javascript from any html outputs by default. Might we be able to do something similar?

[2021-06-02 21:49] roblourens commented on #125336
Those execute actions should not show on markdown cells at all. I assume they did when they were coming from jupyter though

[2021-06-02 21:50] rzhao271 commented on #122741
It seems the icons are now too low:

<img src="https://user-images.githubusercontent.com/7199958/120556718-be0bbc80-c3b1-11eb-81cc-8f4cb027fec4.PNG" alt="screenshot showing the icons for the getting started titles are now too low" width=600px>

[2021-06-02 21:51] viralmodi commented on #125199
I did post this on StackOverflow - https://stackoverflow.com/questions/67796819/is-it-possible-to-use-vscode-to-create-a-webbased-ide. However, I wanted to get an answer from MSFT VSCode engineers :)

@weinand. Thanks for your input. I had done such google searches before posting here. Had also found this https://github.com/cdr/code-server and a few other articles. What I am looking for is to unde

[2021-06-02 21:51] connor4312 commented on #122966
I think I verified this correctly. Can't test end-to-end with EXP integration, though

[2021-06-02 21:51] roblourens commented on #125166
I can on mac, if I have multiple rows on the setting. Or maybe I had to interact with the setting in that editor previously. I can't remember whether there is some code on the list setting widget that tries to restore focus after a change. I just called you out because I thought you might have seen that recently @rzhao271

[2021-06-02 21:54] roblourens commented on #118584
I don't see why we would show a possibly broken output. And I don't really trust any html parsing code I write for security purposes. There might be a fallback output mimetype.

[2021-06-02 21:55] roblourens commented on #125172
https://github.com/microsoft/vscode/issues/125173

[2021-06-02 21:55] #125172 closed

[2021-06-02 21:56] roblourens commented on #125169
Works for me

[2021-06-02 21:56] roblourens commented on #125168
What theme? I don't see it

[2021-06-02 21:57] connor4312 commented on #125169
Video:

![](https://memes.peet.io/img/21-06-14231734-44d8-41fb-aa94-80963b4993e8.gif)

[2021-06-02 21:58] roblourens commented on #125167
My personal view is that it's fine

[2021-06-02 22:01] rzhao271 commented on #125166
Ok, reproduced the issue on Mac but not Windows with your hint there:
1. Double-click the first item in the cell toolbar location setting to get it into edit mode.
2. Instead of pressing the OK or Cancel button, close the setting editor.
3. Open the setting editor again, and slowly type `celltoolbar`.
4. :bug: The setting shows up with the first item in edit mode, and that seems to steal focus awa

[2021-06-02 22:02] memeplex commented on #125299
This surely looks nicer. A CSS rule for right alignment would be much appreciated also, even if still heuristic it would be right with greater probability in a DS context and it's what jupyter notebooks have been doing forever.

[2021-06-02 22:02] connor4312 commented on #125168
This one: https://marketplace.visualstudio.com/items?itemName=connor4312.codesong. It does seem to be a rendering glitch, only happens on Linux and without the globalToolbar turned on. It seems like the black-ish background on this element is peeking out

![](https://memes.peet.io/img/21-06-16262151-a6f6-4c06-95ef-c1de7856e274.png)

[2021-06-02 22:03] roblourens commented on #125114
Yeah, it's sometimes useful to copy names and descriptions

[2021-06-02 22:03] #125114 closed

[2021-06-02 22:04] connor4312 commented on #125168
Er, maybe. Not sure. Seems to appear/disappear randomly. Probably some electron bug.

[2021-06-02 22:13] meganrogge commented on #124626
@connor4312 What should I see if this is working correctly? Sorry, not too familiar with the test explorer 😅

[2021-06-02 22:17] IllusionMH commented on #125322
This is duplicate of #125047 which is already in May 2021 milestone

[2021-06-02 22:20] AlansCodeLog commented on #122676
@Tyriar Thanks, but I just tried it and it doesn't work ☹️. Also what is that setting about? I read it's description but what does it mean by server? ssh? or is it talking about something related to the remote wsl extension?

[2021-06-02 22:21] misolori commented on #125299
For right-aligned we should also check the various table types:

<img width="302" alt="CleanShot 2021-06-02 at 15 17 01@2x" src="https://user-images.githubusercontent.com/35271042/120559278-a0d8ed00-c3b5-11eb-8ec0-0085cfcf3201.png">

<img width="806" alt="CleanShot 2021-06-02 at 15 20 04@2x" src="https://user-images.githubusercontent.com/35271042/120559557-19d84480-c3b6-11eb-820f-3c9fa9acc4e3.png"

[2021-06-02 22:21] IllusionMH commented on #125333
/duplicate of #119327

Upvote that issue and if there are some usecases that are not mentioned in that issue - leave a comment there.

[2021-06-02 22:22] #125333 closed

[2021-06-02 22:24] wenfangdu commented on #124448
@alexdima Indeed, I just checked out the commands which don't have default keybindings, and they all have an empty `When` clause, I guess that's normal then?

![image](https://user-images.githubusercontent.com/28700378/120559776-387d2080-c434-11eb-80f2-edc552d35c7c.png)

[2021-06-02 22:25] Tyriar commented on #122676
@AlansCodeLog if input/output latency is high (default is 30ms I think), it will attempt to echo what you type locally. This applies to connecting via `ssh` in the terminal or using a remote extension

[2021-06-02 22:25] roblourens commented on #125169
Oh, I think it's just the spot where the folding button would go, the DOM is weird there I remember fighting this in the past

[2021-06-02 22:26] rzhao271 commented on #125166
In `AbstractListSettingWidget`, there are some areas where `this.model.setEditKey(EditKey)` gets called. I think a solution to this approach would be to call `this.model.setEditKey('none')` whenever the user focuses back onto the main search bar, or if the settings editor tab is closed.

Otherwise, on all OSes, when the user focuses back onto the search bar, and tries to search a new setting, the

[2021-06-02 22:27] mjbvz commented on #125169
Thanks @connor4312.

Yes we previously had this for https://github.com/microsoft/vscode/issues/117489

I think it's fine to not support dragging and dropping on the folding indicator itself, but in this case it looks like the folding indicator is hidden so we should allow dragging

[2021-06-02 22:28] #125257 closed

[2021-06-02 22:34] nickdepinet commented on #124855
I also recently noticed this change... It makes it much harder for me to read anything italic in the terminal (comments seem to be italicized by default for me as well) using cascadia code (although I like the font otherwise). Is my only option for accessibility to not use this font at all?

[2021-06-02 22:41] misolori commented on #125167
This is an effect of the compact mode and I think will be a problem. Let us not forget https://github.com/microsoft/vscode/issues/114730

[2021-06-02 22:43] eamodio commented on #125124
With the 2nd insiders release that came out today, I'm not longer seeing it. Not sure why I was before.

[2021-06-02 22:51] #122741 closed

[2021-06-02 22:52] misolori commented on #125335
Duplicate of #125167

[2021-06-02 22:52] #125335 closed

[2021-06-02 22:53] leodevbro opened #125341 "Get editor line height (px) and character space-width (px) by VSCode API"
Hi, I wrote VSCode extension, took me 6 months to build. It's a visual helper, it highlights nested code blocks. You can change block colors, depth, turn on/off focus, curly/square/round brackets, tags, python indentation and more.....

**Supports:** Python, PHP, JavaScript, JSX, TypeScript, TSX, C, C#, C++, Java, HTML, CSS and more...

It has already more than **1000** installs.
https://i.ibb.co/

[2021-06-02 22:54] andreamah commented on #124607
May Iteration tasks finished, see June Iteration for continuation #124608

[2021-06-02 22:54] #124607 closed

[2021-06-02 22:54] roblourens opened #125342 "Locked out of dev container after distrusting it"
- Open dev container in trusted workspace
- Open trust management window
- "Don't Trust" the container, because I wanted to test something in an untrusted window
- The window reloads, says "Opening Remote" forever and never connects

Is something else supposed to happen? Should I get the trust dialog again instead? I can work around it by opening the trust manager in another window and adding the

[2021-06-02 22:55] mjbvz commented on #122596
Seems to work for me on windows. @rzhao271  Can you make sure you on the insiders version of codespaces (or test on vscode.dev)

[2021-06-02 22:56] andreamah opened #125343 "VS Code Live Server - Backlog"
This tracks the upcoming work on the Live Server, which is described in #124607.  These tasks have not yet been planned for an iteration.

May iteration issue: #124607
June iteration issue: #124608

Bug Fixes:
- [ ] Flow of back/fwd when adding/deleting files should be revised.
- [ ] Always reuses right-side group but not left. #125153
- [ ] 💪 Changes to non-text documents (ie: image edits using L

[2021-06-02 22:56] eamodio opened #125344 "Notebook getting started when resizing with a vertical scroll bar doesn't keep the selected item in focus"
Testing #125014

If you select "Colab", and then shrink the view so that the image stacks on top of the getting started button, the scroll position of the top container is reset, and you might not be able to see that colab is selected.

[2021-06-02 22:57] leodevbro commented on #125341
I maybe looks like a duplication of this issue:

https://github.com/microsoft/vscode/issues/118994

But, I believe it needs a separate issue.

[2021-06-02 22:57] eamodio commented on #125249
Yeah, having it stacked like this -- makes it quite hard to understand what you are doing -- because the context of the top part if below it.

![image](https://user-images.githubusercontent.com/641685/120562433-6468b980-c3d4-11eb-9535-8d6a76b0c292.png)

Maybe that section should always have some text saying that you should select a layout?

[2021-06-02 23:00] FMalerba opened #125345 "Renaming Python virtualenv path error"
Issue Type: <b>Bug</b>

So I had my python venvs saved in the folder `c:\Python Virtualenvs\` and I had set python.venvPath to point to that folder; in particular my workspace was using as interpreter a venv sitting in `c:\Python Virtualenvs\master_thesis_venv\`. Everything worked fine, I open a new terminal and it automatically activated the venv, I could call modules with commands like `jupyter

[2021-06-02 23:00] connor4312 commented on #124626
- The split view allows you to view/browse test messages for any retained run. (Runs without messages will be shown with a green ✔️ icon and no children)
- It's an extension of the previous message peek; it should show when any test fails.
- You should be able to click on messages to navigate to them and peek.
- There are context menu actions on the runs and test messages, which should work as the

[2021-06-02 23:01] rebornix commented on #125316
Fixed through https://github.com/microsoft/vscode/commit/60dd761211bb3f744eb5f591e5643f2fddb55bf6

[2021-06-02 23:01] #125316 closed

[2021-06-02 23:02] eamodio opened #125346 "Notebook getting started selection boxes are hard understand"
Testing #125014

As mentioned in other issues, I think it is a bit hard to understand what you are actually supposed to do in this UI (especially when its stacked -- which is probably likely in this split scenario. But beyond that, The units don't looks selectable, and I feel like the labeling is off too

![image](https://user-images.githubusercontent.com/641685/120562659-d3461280-c3d4-11eb-982f-c

[2021-06-02 23:03] #122596 closed

[2021-06-02 23:03] rchiodo commented on #118584
Wouldn't custom renderers be the same thing? The data is json that drives the custom renderer. It could potentially be a security risk too?

[2021-06-02 23:05] eamodio opened #125347 "Notebook getting started images don't seem to match the experience"
Testing #125014

Jupyter

![image](https://user-images.githubusercontent.com/641685/120562934-6f701980-c3d5-11eb-9577-313dabf06f1e.png)

Colab

![image](https://user-images.githubusercontent.com/641685/120562883-52d3e180-c3d5-11eb-9fb9-3aa23cdec678.png)

[2021-06-02 23:05] rebornix commented on #125268
@falcon-Z do you have auto format on save turned on?

[2021-06-02 23:05] mjbvz commented on #125269
I'll go ahead and prep a PR that makes the code changes but will hold off on merging anything until you take a look @jrieken

[2021-06-02 23:06] ZanderBrown commented on #109176
Wayland compositors shouldn't draw any borders/decorations, however it is true some (such as KWin) allow clients to **opt-in** to having decorations (which KDE apps do of course)

So either KWin is doing something funky or electron is (incorrectly) deciding to ask KWin to draw - either way the problem lies outside vscode

[2021-06-02 23:07] rebornix commented on #125248
this is caused by API update of VS Code and extensions update is not picked up yet. Reloading the windows should fix the problem.

[2021-06-02 23:07] #125248 closed

[2021-06-02 23:07] eamodio opened #125348 "Notebook getting started profiles"
Testing #125014

Instead of setting a whole set of settings individually, why not introduce a new setting that is a profile, that could evolve more easily. Users can still override specific behavior with individual settings, but the profile will becomes the base. IMO, it would declutter the all the changes made here and allow more flexibility going forward.

[2021-06-02 23:07] TylerLeonhardt commented on #120112
I notice the option is still there for a split second then goes away, but it's not bad so marking as verified.

[2021-06-02 23:08] #125014 closed

[2021-06-02 23:10] TylerLeonhardt opened #125349 "Getting Started: add a new step when git is not installed"
This could include platform specific instructions. Curious to know which platforms we're talking about here... Windows for sure but what else? Does Raspbian ship git?

[2021-06-02 23:10] eamodio opened #125350 "Don't allow the Git extension to work in an untrusted workspace"

[2021-06-02 23:11] rchiodo commented on #118584
I think the only truly safe output would be text/plain. Although I still think you could remove script tags pretty easy. Everything else is potentially running code on the output.

[2021-06-02 23:12] rebornix commented on #125231
Fixed via 9bd7cbd1403eadbcd12eb9b6d0a1610996454423

[2021-06-02 23:12] #125231 closed

[2021-06-02 23:13] roblourens commented on #125347
You can ignore the actual images, they are changing

[2021-06-02 23:13] #125347 closed

[2021-06-02 23:14] #122481 closed

[2021-06-02 23:14] roblourens commented on #125348
This is one possibility for evolving https://github.com/microsoft/vscode/issues/122481

[2021-06-02 23:15] rebornix commented on #125223
The output action is always visible, no matter if the cell has focus or not, or if it has hover. It's weird that the cell toolbar, run button and output button have different interaction behavior.

[2021-06-02 23:19] rebornix commented on #125218
I skipped this test for now, it would be flaky since we are also experimenting getting started dialog, so any test that relies on commands to open notebook editors can fail sometimes.

[2021-06-02 23:21] sbatten commented on #125052
fixed by https://github.com/microsoft/vscode/commit/195477a0e9671d42d68ef140f4f3ebc71543de96

[2021-06-02 23:21] #125052 closed

[2021-06-02 23:24] mjbvz commented on #125210
/needsMoreInfo

[2021-06-02 23:26] rzhao271 commented on #118584
I switched the workspace to untrusted, and then opened up a notebook that renders an HTML output. The HTML output seemed to still be there, but the only option when it came to switching renderers was plain text:

![html-output](https://user-images.githubusercontent.com/7199958/120563930-98d17b00-c3be-11eb-9890-a508de8e9fe0.png)

[2021-06-02 23:27] roblourens commented on #123494
I think this is good now... did you test this scenario with the encoded slash @mjbvz?

[2021-06-02 23:27] rebornix commented on #125299
since we are here talking about alignment and styles, I wonder if this is an opportunity for renderers.

[2021-06-02 23:28] rebornix commented on #125188
We need the help of God of z-index.

[2021-06-02 23:29] rebornix commented on #125186
@mjbvz I'm not seeing this currently on Windows, do you have screen recording for what you were seeing?

[2021-06-02 23:30] RandomFractals commented on #118584
close, but I think you should still show built-in html render and render it. not sure I like the stripping out of js idea either. do it if you must.

Those cell outputs run in iframe in a notebook webview. what attack vectors are you trying to prevent there?

Sounds like premature optimization to me at this point until we have some more rich output renders to play with and finalize this.

[2021-06-02 23:30] mjbvz commented on #125202
This seems like an important regression. No idea what changed in custom editor land

[2021-06-02 23:31] rebornix commented on #125176
Thanks for the suggestion!

[2021-06-02 23:31] #125176 closed

[2021-06-02 23:33] rebornix commented on #125175
Inherit this latency from editor folding icon, we can probably update both.

[2021-06-02 23:37] rebornix commented on #125175
nvm, I think it makes good sense.

[2021-06-02 23:37] #125175 closed

[2021-06-02 23:41] #125342 closed

[2021-06-02 23:43] rebornix commented on #125129
Note that this setting was there for quite a while, way before we started working on notebook profile. We didn't add such style of new customizations we recently introduced. Why leave it? we are not going to break jupyter users without giving them a fallback.

[2021-06-02 23:43] roblourens commented on #125339
Do you want to see an "inactive" (gray color) focus indicator or do you want to see the blue indicator all the time even when the editor is not focused? Do you want to see it when the editor is focused? Trying to figure out how the behavior compares to the border indicator. I can't decide what I want.

[2021-06-02 23:44] sbatten commented on #125342
Essentially, the extension was trying to make a request to trust the workspace but since the resolver wasn't done, the handler had not been registered yet.

For now, I've split that out from the workbench contribution into a separate one. Since the trust request service is separate now from the management service, we could probably just move this dialog logic into the service itself.

[2021-06-02 23:44] #125336 closed

[2021-06-02 23:46] alefragnani commented on #123115
Just out of curiosity, what was the main reason to create the new `vscode-vfs` scheme, instead of using `vscode-remote` with a different authority, like happened with Codespaces?

A lot of recommendations you see in the guide above also applied to remotes, and I guess (based on my extensions at least) if your extension works on remotes ( `extensionKind` as `ui`), it may work out of the box with Vi

[2021-06-02 23:53] mjbvz commented on #125300
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) ?

Also what color theme are you using?

[2021-06-02 23:55] mjbvz commented on #125186
Dragging within a window seems to work ok in the current insiders build

Dragging between windows still doesn't work for me though

[2021-06-02 23:57] sbatten opened #125353 "Test: Workspace Trust Documentation"
- [x] anyOS @JacksonKearl
- [ ] anyOS @rzhao271

Complexity: 3

---

Please review the workspace trust documentation at https://aka.ms/vscode-workspace-trust

As part of this: review the initial dialog and workspace trust editor wording which points to the docs.
- Open a new folder that is not trusted to see the dialog
- Gear Icon > Manage workspace trust to see the editor

[2021-06-03 00:01] #125004 closed

[2021-06-03 00:02] #125334 closed

[2021-06-03 00:13] roblourens opened #125354 "registerWalkthrough API comments"
This is a little confusing as a public API. Adding a step inside getingStartedContent was easy, but there is some preprocessing that the service does internally when registering a walkthrough.

- Seems like I have to pass the steps in twice, in the `IGettingStartedWalkthroughDescriptor#content` and the second argument
- 'when' should be optional on the step
- Could document how `completionEvents`

[2021-06-03 00:17] #125338 closed

[2021-06-03 00:18] misolori commented on #125299
While I think renders can provide a richer experience (sorting, filtering, etc) I think we should have a solid experience out of the box.

[2021-06-03 00:19] rebornix commented on #124918
We added the `ipynb` to the file extension for `json` so we can get right colorization when they are opened in text editor, but then it's seen as JSON when saved.

[2021-06-03 00:24] roblourens commented on #125354
I also get this when reloading the window `gettingStarted.ts:775 Could not restore to category notebookProfileWalkthrough as it was not found` (my contrib registers too slow?)

and this

[code]

[2021-06-03 00:36] jdneo commented on #125240
Sorry I was not aware of the command `Test: Peek Output`.

Agree that an additional context menu item for peeking the output would be very helpful!

[2021-06-03 00:36] JacksonKearl commented on #125353
Made a couple small tweaks to the md, but overall looks good.

[2021-06-03 00:38] #125339 closed

[2021-06-03 00:40] rebornix commented on #125339
this is tracked in https://github.com/microsoft/vscode/issues/125338

Right now we didn't show the inactive focus indicator at all when the editor is blurred, which should be fixed.

Verifier, please test with following settings

[code]

click on a cell, focus outside of the notebook editor, and make sure you see the red cell border.

[2021-06-03 01:10] #125173 closed

[2021-06-03 01:13] eRuaro opened #125355 "File not uploading output to output.txt file immediately"
Issue Type: <b>Bug</b>

Steps to reproduce:
1. Have g++ compiler installed (I have it installed on both WSL2 and windows)
2. Have a 2 column layout with the source file, and txt file. Wherein the txt files are split horizontally in their column.
![Screenshot (246)](https://user-images.githubusercontent.com/69240261/120575362-83f2f700-c453-11eb-88aa-dbb58d00ea02.png)
3. Have a C++ file with the fol

[2021-06-03 01:23] mjbvz commented on #125251
Please share a minimal example extension that demonstrates the issue

Also make sure to test using codespaces insiders

[2021-06-03 01:28] #125069 closed

[2021-06-03 01:30] JacksonKearl commented on #125250
Wasn't able to repro but pushed something that should fix.

[2021-06-03 01:30] #125250 closed

[2021-06-03 01:34] meganrogge commented on #123471
Let me know if you're still having issues on the latest insiders

[2021-06-03 01:34] #123471 closed

[2021-06-03 01:47] aacitelli opened #125356 "Feature Request: Find & Replace Between Line Numbers"
I often use the find and replace tool (accessible via Ctrl-F, then hitting the dropdown arrow) to rename a given variable. However, using this tool replaces *every* instance of whatever you search for. This often isn't ideal - for instance, if you are copy pasting a code block and need to rename a certain variable in each of the code blocks, but only in that specific code block, you can't use find

[2021-06-03 01:50] jdneo commented on #125222
Sorry for the mistake I made. Yes I should set the state to `child1` and `child2`.

Please check the new commit: https://github.com/jdneo/vscode-extension-samples/commit/569e8157a7f70a7491fa35f88d4695fa758b5f33

In this commit, test states are set correctly to `child1` and `child2`. Meanwhile, they have the same `uri` and `range` as their parent, then the issue can be reproduced.

https://user-ima

[2021-06-03 02:12] heroboy opened #125357 "No IntelliSense/AutoComplete when insert snippet `<div></div>` in tsx/jsx."
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.56.2
- OS Version: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. create a user key binding:
[code]
When press `alt+w`, it will insert `<div></div>` and select both `div`.

2. create a tsx file, and input `let x = ` , press `alt+w`

3. Try to input `span`, there no any autocomplete list showing.

But if you manu

[2021-06-03 02:16] meganrogge commented on #125177
To verify, see https://github.com/microsoft/vscode/pull/125352#issue-660462095 and try other combinations

[2021-06-03 02:16] jdneo commented on #123927
@alexdima You can use this sample project: https://github.com/jdneo/vscode-extension-samples/tree/cs/vscode-issue-123927/test-provider-sample.

1. `npm i`
2. running the sample extension in **VS Code Insider.**
3. Open `test.md`
4. Click the green button for the line `2 + 2 = 5`.
5. After run finished, hover on it.

See below video:

https://user-images.githubusercontent.com/6193897/120576075-c49f

[2021-06-03 02:20] jdneo commented on #125224
Ok will share code and reproduce steps a few days later. (maybe early next week, I am OOF for the following days this week)

[2021-06-03 02:29] jdneo opened #125358 "hover on the test item shows it's failed when the item has no test result"
Does this issue occur when all extensions are disabled?: Yes/No

Version: 1.57.0-insider (user setup)
Commit: c324c61ad572be43a8696780e1aba3c1a2c46eee
Date: 2021-06-02T17:38:06.137Z
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.19043

![image](https://user-images.githubusercontent.com/6193897/120577131-77bc6900-c456-11eb-847c-c209c2c3bbd0

[2021-06-03 02:34] gusbemacbe commented on #125190
No, I want to exclude the folders from the search.

I have Django and gusbemacbe.co.nz folders added to the workspace, but I need to exclude Django, even if it continues being added to the workspace.

[2021-06-03 02:35] mjbvz commented on #125202
This seems to have been caused by 0449a18b7bb1d8b3cf7138df63e03126ba47c21d /cc @joaomoreno

The current `layout` calls causes the webviews to end up with `0` height in this case. Looking to see what that proper fix would be

[2021-06-03 02:50] dsgon commented on #125212
Hi @gjsjohnmurray @weinand , I add the information requested.

Visual Studio Code
[code]

Extensions:
Pylance by Microsoft: v2021.6.0
Python by Microsoft: v2021.5.842923320
Jupyther by Microsoft: v2021.6.832593372

All versions all the latest.

[2021-06-03 02:54] nrayburn-tech commented on #65663
This is simple enough for the current save participants.

This is probably more complex than checking for conflicts and I am not sure that this is needed in the case of editorconfig.

With the current save participants that VS Code has, there probably aren't any changes that need to be made in VS Code.  Extensions can update and notify the user of a conflict through notifications, status bar, logs

[2021-06-03 03:22] claudiaregio commented on #124918
Oh dang hmm
I guess my assumption is that if it's rendering as a JSON, the customer expectation would be to show colorization for JSON, but if it renders as notebook the customer expectation would be it would save as notebook. Sounds like these two things are mutually exclusive?

[2021-06-03 03:26] yinhunfeixue opened #125359 "Is there an official architecture document？"
Hello, if I want to do secondary development, is there any architecture diagram, development document and other information? If so, where can I see it?

Thank you very much.

[2021-06-03 03:32] intellild commented on #125122
Seems I hit github's bug
I synced the main branch to my fork and it shows that I pushed a commit referenced this issue
Please ignore it

[2021-06-03 03:55] JoaquindeCastro opened #125391 "GitHub auth `getSessions` throws when adding a folder to an empty workspace"
- Extension version: 1.56.2
- VSCode Version: 0.26.0
- OS: Windows

Steps to Reproduce:

1. Install extension
2. Log in to Github
3.  Add existing Github repository via "Add Folder"
4.  Type `// TODO @`

Notes:
- Hovering over @username in `// TODO @username` also does not show a Github style hover card.
- Typing `@` outside or inside of a comment without `TODO` yield different autocompletion sugg

[2021-06-03 05:00] chandresh opened #125425 "Using VSCode insiders: Jupyter Notebook Markdown Cell does not support \newcommand in Katex."
## Environment data

-   VS Code version: 1.57.0-insider
-   Jupyter Extension version (available under the Extensions sidebar): v2021.6.898847129
-   Python Extension version (available under the Extensions sidebar): v2021.6.864643163-dev
-   OS (Windows | Mac | Linux distro) and version: MacOS Big Sur 11.4
-   Python and/or Anaconda version: 3.8.5
-   Type of virtual environment used (N/A | venv

[2021-06-03 05:00] Jamesernator opened #125361 "Unable to paste more than small snippets"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.56.2 (Current Stable)
- OS Version: ChromeOS 91, VSCode running inside Crostini

Steps to Reproduce:

1. Copy more than small snippet of text
2. Cannot paste into other files

This may or may not be related to a [similar issue raised today](https://github.com/microsoft/vscode/issues/125301), but basically if I try t

[2021-06-03 05:07] bpasero commented on #124838
Oh nice 👍

[2021-06-03 05:09] bpasero commented on #125288
/gifPlease

[2021-06-03 05:10] #125329 closed

[2021-06-03 05:10] bpasero commented on #125329
This matches the behaviour for untitled text files, we only remove dirty indicator for undo operations but never for something the user types.

[2021-06-03 05:11] bpasero commented on #125331
/duplicate https://github.com/microsoft/vscode/issues/125028

[2021-06-03 05:11] bpasero commented on #125330
/duplicate https://github.com/microsoft/vscode/issues/125028

[2021-06-03 05:11] bpasero commented on #125317
/duplicate https://github.com/microsoft/vscode/issues/125028

[2021-06-03 05:12] #125331 closed

[2021-06-03 05:12] #125330 closed

[2021-06-03 05:12] #125317 closed

[2021-06-03 05:24] bpasero commented on #125315
Unfortunately we currently do not know whether the window was restored or opened newly. One thing we could do is show this notification only once and then never again?

//cc @isidorn who earlier expressed that this notification should not be so spammy

[2021-06-03 05:30] lszomoru commented on #125337
@sandy081, was looking into this though I am not sure that there is an easy fix right now.

[2021-06-03 05:36] zengibm opened #125362 "TS Server fatal error: Debug Failure. False expression."
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-06-03 05:37] #125362 closed

[2021-06-03 05:55] egamma commented on #123935
@alaadahmed  thanks for the additional information. From the workspace stats it looks like your developing in both TypeScript and Erlang in this workspace? In the comment https://github.com/microsoft/vscode/issues/123935#issuecomment-851567384 above I see a lot of ruby activity. When does the slow down happen? What files are you then working on.

Please file a separate issue with reproducible step

[2021-06-03 05:58] Ayush-Chugh-2006 commented on #125288
![recording](https://user-images.githubusercontent.com/69336518/120594569-c3731080-c45e-11eb-8477-a68df73bf74a.gif)

[2021-06-03 05:59] Ayush-Chugh-2006 commented on #125288
You can check that i have updated in git hub

On Thu, Jun 3, 2021 at 10:40 AM VS Code Issue Triage Bot <
***@***.***> wrote:

[2021-06-03 05:59] bpasero commented on #125288
Yeah looks weird, I assume you ruled out that double click also doesn't work?

Is there anything in the console as error message.
* run `code --verbose` from the command line and attach the output
* in Code select **Help | Toggle Developer Tools** and select the **Console**
* attach any output you see in the **Console** you can find

Thanks!

[2021-06-03 06:30] aryansinghai opened #125363 "Code isn't running."
![SharedScreenshot](https://user-images.githubusercontent.com/77916145/120597884-3b433a00-c463-11eb-8af8-27b828c4de11.jpg)
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Performance Issue</b>

I installed vs code and mingw so that i could code in C and c++. I also installed the required extensions. However when i run my code it ke

[2021-06-03 06:43] Rah1x commented on #56279
sooo? when will this happen?

[2021-06-03 06:49] alexanderniebuhr commented on #123856
/verified

[2021-06-03 06:59] Aaaaash opened #125364 "Changing any Settings will trigger the problems view refresh"
Issue Type: Performance Issue

Does this issue occur when all extensions are disabled?: No

- VS Code Version: 1.56.2
- OS Version: Darwin x64 20.3.0

Steps to Reproduce:

1. Run `Run Dev` task in vscode repo.
2. Write some TypeScript/JavaScript wrong code.
![image](https://user-images.githubusercontent.com/17701805/120583871-92480f80-c461-11eb-8223-f31c8b712061.png)
(https://github.com/microsoft/

[2021-06-03 07:00] #125124 closed

[2021-06-03 07:00] bpasero opened #125366 "Align pathservice `defaultUriScheme` implementation between web and desktop"
We have 2 implementations of path service for web and desktop but they seem to be sharing almost the same `defaultUriScheme` method. I would suggest to align both and lift the method into `AbstractPathService`. The only subtle difference seems to be looking at workspace folders or configuration but I think `getVirtualWorkspaceScheme` is doing so too.

**Web**
https://github.com/microsoft/vscode/bl

[2021-06-03 07:10] jrieken commented on #125308
/duplicate of https://github.com/microsoft/vscode/issues/125274

[2021-06-03 07:11] #125308 closed

[2021-06-03 07:17] aeschli commented on #125090
The  `IHoverDelegateOptions` is an input for the hover delegate. (Used when the hover delegate is asked to show the hover `hoverDelegate.showHover`)

What could be done that each hover delegate does the positioning itself in `hoverDelegate.showHover`. But that would duplicate the positioning code `(hoverOptions.target)x = mouseX + 10;` at many places. Right now `hoverDelegate.showHover` is just a

[2021-06-03 07:22] jrieken commented on #125211
@roblourens do you have any special auto-save setting?

[2021-06-03 07:31] krsinghshubham opened #125367 "Code Helper (renderer) consuming 300-400% cpu"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

Just opening a rails-ember folder trigger the cpu throttling taking the whole system down. The mac activity monitor shows its code helper(renderer) and the vscode process show its watcherServices.
I am very bad to execute the commands from github issue pages as none is promis

[2021-06-03 07:31] lg93lggt opened #125368 "Pylance Error"
Issue Type: <b>Bug</b>

[Info  - 下午3:20:21] Pylance language server 2021.6.0 (pyright 209c8040) starting
[Info  - 下午3:20:21] Server root directory: /home/veily3/.vscode/extensions/ms-python.vscode-pylance-2021.6.0/dist
[Error - 下午3:20:21] Exception received when installing recursive file system watcher: TypeError [ERR_FEATURE_UNAVAILABLE_ON_PLATFORM]: The feature watch recursively is unavailable o

[2021-06-03 07:33] jrieken opened #125369 "Move notebook integration tests off commands"
The notebook integration tests rely on `executeCommand` a lot and that isn't good. We should modernize them and use API that came into existence, e.g instead of `executeCommand('vscode.openWith', resource, 'notebookCoreTest');` the `vscode.window.showNotebookDocument` API should be used.

* use `openNotebookDocument` to create notebook document
* use `showNotebookDocument` to open an editor
* neve

[2021-06-03 07:34] herbievine opened #125370 "Definitions for keyworks"
This feature would be focusing on easing the learning curb of programming by adding definitions to keywords, similar to how you get definitions on variables. As an example, say you're programming in TypeScript, you can hover over the `interface` keyword and get info on how to use it, when or when not to use it, when to use `type` instead, and a link to the documentation. I don't think this should

[2021-06-03 07:37] isidorn commented on #125315
Here's the other issue for reference https://github.com/microsoft/vscode/issues/121805

[2021-06-03 07:38] bn3t commented on #121336
I still have on the insider build (updated June 3rd).

[2021-06-03 07:38] oliversalzburg commented on #120810
I can't reproduce the behavior in Stable on the machine I'm currently working on, but I have already noticed the change in behavior on the workstation I've originally seen the issue on. So I'm inclined to call this /verified

[2021-06-03 07:39] isidorn commented on #125327
Thanks for steps. Looks like an issue on the VS Code side. Unassigning @weinand and I can investigate next week.

[2021-06-03 07:41] jrieken commented on #124723
Oh, that good news. If it reproduces consistently, than please try to profile the renderer process. E.g start profiling, do whatever causes the freeze, stop profiling

---

Hit F1 > Toggle Developer Tools. In the overflow menu select 'More Tools > JavaScript Profiler'. In there select start, let it profile for 30 to 60 seconds, stop it, save it to a file and attach the file here. Thanks.

https://

[2021-06-03 07:45] Tekh-ops commented on #124673
Ummm it may be a system problem with the terminal, but it is a little bit tricky to figure it out, let's wait for some mac update for the terminal. It is basically the terminal fault. I may wait some time , or maybe close the issue.

[2021-06-03 07:46] eamodio commented on #108439
I would love to see this resolved as well -- it is an almost daily aggravation for me.

[2021-06-03 07:48] aeschli commented on #125225
Do you you mean you can not use the WSL-Remote extension from an OS build?
That's correct, WSL-Remote extension and it's component (e.g. the VSCode server) are not open source. See here: https://code.visualstudio.com/docs/remote/faq#_why-arent-the-remote-development-extensions-or-their-components-open-source

Please reopen if I misunderstood.

[2021-06-03 07:48] #125225 closed

[2021-06-03 07:49] weinand commented on #125363
/extCpp

[2021-06-03 07:49] #125363 closed

[2021-06-03 07:54] dbaeumer commented on #125323
Dups https://github.com/microsoft/vscode-languageserver-node/issues/768

[2021-06-03 07:54] #125323 closed

[2021-06-03 07:58] Xinyu-Wu-0000 opened #125371 "notebook can not be opened"
Issue Type: <b>Bug</b>

Notebook can not be opened after upgrading to the latest insiders version.

VS Code version: Code - Insiders 1.57.0-insider (20df87725d3ce4a501187f0240c2f159aa0ad2a5, 2021-06-03T06:01:30.344Z)
OS version: Linux x64 5.11.0-18-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz (12 x 2600)|
|GPU Status|2d_ca

[2021-06-03 07:58] Xinyu-Wu-0000 opened #125372 "notebook can not be opened"
Issue Type: <b>Bug</b>

Notebook can not be opened after upgrading to the latest insiders version.

VS Code version: Code - Insiders 1.57.0-insider (20df87725d3ce4a501187f0240c2f159aa0ad2a5, 2021-06-03T06:01:30.344Z)
OS version: Linux x64 5.11.0-18-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz (12 x 2600)|
|GPU Status|2d_ca

[2021-06-03 07:58] Xinyu-Wu-0000 opened #125373 "notebook can not be opened"
Issue Type: <b>Bug</b>

Notebook can not be opened after upgrading to the latest insiders version.

VS Code version: Code - Insiders 1.57.0-insider (20df87725d3ce4a501187f0240c2f159aa0ad2a5, 2021-06-03T06:01:30.344Z)
OS version: Linux x64 5.11.0-18-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz (12 x 2600)|
|GPU Status|2d_ca

[2021-06-03 07:58] Xinyu-Wu-0000 opened #125374 "notebook can not be opened"
Issue Type: <b>Bug</b>

Notebook can not be opened after upgrading to the latest insiders version.

VS Code version: Code - Insiders 1.57.0-insider (20df87725d3ce4a501187f0240c2f159aa0ad2a5, 2021-06-03T06:01:30.344Z)
OS version: Linux x64 5.11.0-18-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz (12 x 2600)|
|GPU Status|2d_ca

[2021-06-03 07:58] Xinyu-Wu-0000 opened #125375 "notebook can not be opened"
Issue Type: <b>Bug</b>

Notebook can not be opened after upgrading to the latest insiders version.

VS Code version: Code - Insiders 1.57.0-insider (20df87725d3ce4a501187f0240c2f159aa0ad2a5, 2021-06-03T06:01:30.344Z)
OS version: Linux x64 5.11.0-18-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz (12 x 2600)|
|GPU Status|2d_ca

[2021-06-03 08:23] RMeli commented on #125300
@mjbvz I'm using the GitHub Dark color theme.

I don't have VSCode Insiders installed, I will give it a try later today.

If that helps, the UI for Jupyter Notebooks changed to the new UI after I installed [Thinking in Data](https://marketplace.visualstudio.com/items?itemName=dynamicwebpaige.thinking-in-data), which I now realize recommends to use the Insider version.

[2021-06-03 08:32] sandy081 commented on #124338
/duplicate

https://github.com/microsoft/vscode/issues/122448

[2021-06-03 08:32] #124338 closed

[2021-06-03 08:41] joaomoreno commented on #125310
I think we implement behavior as similar to native as possible.

- iOS: Popups are expected to appear while the finger is still on the screen
- Windows: Popups are expected to appear only after the finger is released. But after that short delay of continuous pressing, there's an affordance around the finger indicating that a context menu will indeed appear. [Check out this demo](https://www.youtub

[2021-06-03 08:47] alexr00 commented on #124907
Thanks for the further elaboration. This is what `command` `inputs` are meant to solve. The reason it doesn't work for `workbench.action.editor.changeLanguageMode` is because that command doesn't actually accept any arguments. A working example with `workbench.action.quickOpen`:

Task:
[code]

Input:
[code]

To get a command input variable with `args` working, you need to look at exactly what argu

[2021-06-03 08:53] Trass3r commented on #124163
Why would it be specific to C++? This also applies to other native code like Rust or D. And for C# one could display IL maybe or the jit generated code.

[2021-06-03 08:54] alexr00 commented on #125243
@wclr thanks for confirming!

[2021-06-03 08:58] joaomoreno commented on #125202
I get the following error with these steps, unfortunately:
![image](https://user-images.githubusercontent.com/22350/120617723-3eacd600-c40f-11eb-831e-2fe9ae102da2.png)

[2021-06-03 09:05] joaomoreno commented on #125202
I hit the same exception when following @Tyriar's hex editor alternative steps.

[2021-06-03 09:07] isidorn commented on #125310
Great points.
However I think there will be a new windows update soon which is taking some design approaches from OSX, so they might change how the touch behaves.
IMHO the iOS approach is more elegant.

[2021-06-03 09:08] isidorn commented on #124163
Because the C++ extension should enable the button for C++. And the Rust extension should enable it for Rust....
@xisui-MSFT so make sure you are contributing everything C++ specific from the extension side.

[2021-06-03 09:15] IllusionMH commented on #125372
/duplicate of #125371

No need to spam issues

[2021-06-03 09:15] IllusionMH commented on #125373
/duplicate of #125371

[2021-06-03 09:15] IllusionMH commented on #125374
/duplicate of #125371

[2021-06-03 09:15] IllusionMH commented on #125375
/duplicate of #125371

[2021-06-03 09:15] #125372 closed

[2021-06-03 09:16] #125373 closed

[2021-06-03 09:16] #125374 closed

[2021-06-03 09:17] #125375 closed

[2021-06-03 09:21] YunHsiao commented on #123959
Bumping this. Same issue on windows.

[2021-06-03 09:23] weinand commented on #125356
Did you try to use the "find in selection" feature?
Just select the lines of text where the replace should take place and then press the "lines" icon on the Find widget:

![2021-06-03_11-23-02](https://user-images.githubusercontent.com/1898161/120621356-17c9c080-c45e-11eb-95c9-a1aa233257a4.png)

[2021-06-03 09:27] isidorn commented on #116989
Just for reference, here's the example HTTPS URI that gets created when I DnD an `app.js` from the smoke test express codespace:

`https://isidorn-microsoft-vscode-smoketest-express-m4hq.github.dev/assets/35436398758ECA9A1BFEB672CCDC768E9785/40955/vscode-remote-resource?path=%2Fworkspaces%2Fvscode-smoketest-express%2Fapp.js&tkn=SOME_TOKEN`
If I use this URI just from the browser I can not access t

[2021-06-03 09:27] #125081 closed

[2021-06-03 09:27] alexr00 commented on #125081
Found the right place to improve this.

[2021-06-03 09:27] jrieken commented on #93265
Please be aware of the following BREAKING change: the `onDidChangeNotebookAssociation` has been renamed to `onDidChangeSelectedNotebooks`

[2021-06-03 09:30] isidorn commented on #118161
I think no action is planned here. There is a good path to "Show Local".
Thus closing as designed

[2021-06-03 09:30] #118161 closed

[2021-06-03 09:31] #124051 closed

[2021-06-03 09:31] bpasero commented on #116989
This may require a service worker to be running to implement the `fetch`, not sure it would work directly from the browser address bar.

//cc @legomushroom

[2021-06-03 09:35] bpasero commented on #125290
I bet this is the same as https://github.com/microsoft/vscode/issues/125202

[2021-06-03 09:35] bpasero commented on #125202
Maybe https://github.com/microsoft/vscode/issues/125290 is the same and has easy steps to reproduce.

[2021-06-03 09:39] AmyCox commented on #120004
If I extend the terminal window up (make the vertical length of the terminal window longer) it seems to revert the spacing back to normal

[2021-06-03 09:39] joaomoreno commented on #125202
Thanks @bpasero, the lack of milestone was hiding that issue from me!

[2021-06-03 09:41] bpasero commented on #125202
@joaomoreno btw the `editorControl` is storing the dimensions and applies them here already:

https://github.com/microsoft/vscode/blob/f2b1f78ad45d5b19fe220e4533356efb31f4dcc1/src/vs/workbench/browser/parts/editor/editorControl.ts#L133-L133

[2021-06-03 09:42] joaomoreno commented on #125290
Hmmm I can't repro. It first loads empty, but comes up after 1 second.

![recording (7)](https://user-images.githubusercontent.com/22350/120624190-4a9b9680-c415-11eb-8d02-c98eed6672c9.gif)

Maybe something got fixed meanwhile? cc @mjbvz @lramos15

[2021-06-03 09:43] anatolyburakov opened #125376 "Icons settings keep resetting"
Issue Type: <b>Bug</b>

I have the following icons extension installed:

vscode-icons-team.vscode-icons

However, since fairly recently, the icons keep reverting back to default ones on each VSCode restart.

VS Code version: Code - Insiders 1.57.0-insider (1e446dfadf588ec28b3fdba7ac083bfa1d45df3c, 2021-06-01T05:13:48.346Z)
OS version: Windows_NT x64 10.0.18363
Remote OS version: Linux x64 5.4.0-56

[2021-06-03 09:44] bpasero commented on #125290
I can still repro but I had to disable workspace trust which seems to block loading.

[2021-06-03 09:47] MGlolenstine opened #125377 "Preview opening on rename"
Does this issue occur when all extensions are disabled?: No
I think it's not related to an extension though, as it happens with `editor.action.rename`.

- VS Code Version: 1.56.2
- OS Version: `Linux x64 5.11.15_1`

Steps to Reproduce:

1. Open a file in a language you have support for (Happened with rust-analyzer).
2. Select an element and press F2 to rename the element.
3. The popup says `Press

[2021-06-03 09:49] Ayush-Chugh-2006 commented on #125288
These are some errors in console
1) ![Screenshot from 2021-06-03 15-17-00](https://user-images.githubusercontent.com/69336518/120625040-ec0b0280-c47e-11eb-8fb4-058b97ea3f9c.png)

2)
![err1 vscode](https://user-images.githubusercontent.com/69336518/120625110-ffb66900-c47e-11eb-9fd6-404008119065.png)

[2021-06-03 09:50] mghalayini commented on #125260
@Tyriar I suppose I can work on this. From what I understand, all I have to do is check if the prefix of the search query matches the root folder directory. If it does, we erase that first part and resume the code as usual, right?

[2021-06-03 09:52] Ayush-Chugh-2006 commented on #125288
No, it doesn't. I have updated issue comment with some error images please
check them

On Thu, Jun 3, 2021 at 11:30 AM Benjamin Pasero ***@***.***>
wrote:

[2021-06-03 09:57] bpasero commented on #125288
Looks like an editor override issue, @lramos15

[2021-06-03 10:10] jrieken opened #125378 "Update `notebookCellType` context key"
We have renamed the `NotebookCellKind.Markup`. This allows to have different markup cells, like markdown, html, latex, rtf etc. However, we didn't adopt that change for the corresponding context key...

[2021-06-03 10:11] jrieken commented on #125378
adding for May since this is semi-API'ish

[2021-06-03 10:15] FStefanni commented on #123077
Hi,

I confirm the same issue on Linux (Debian Bullseye):
[code]

Setting the font to 13 or 15 is a valid workaround for me, even if 13 is too small and 15 too large for my tastes...

On my Windows installation, it works fine instead...

Regards

[2021-06-03 10:29] Tyriar commented on #125260
@mghalayini pretty much yep, make sure it's a folder (link contains /, or \ on windows) and a test would be good too which should be fairly easy to write in the existing test file.

[2021-06-03 10:30] Tyriar commented on #123959
/duplicate https://github.com/microsoft/vscode/issues/123188

[2021-06-03 10:30] #123959 closed

[2021-06-03 10:40] manvigautam09 opened #125379 "TS Server fatal error: Cannot read property 'path' of undefined"
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 3.6.2

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Error Stack**
S

[2021-06-03 10:49] Xinyu-Wu-0000 opened #125380 "May spam issues accidentally"
Issue Type: <b>Bug</b>

May spam issues accidentally by click the `Create on GitHub` botton multi times.

VS Code version: Code - Insiders 1.57.0-insider (c324c61ad572be43a8696780e1aba3c1a2c46eee, 2021-06-02T17:38:06.906Z)
OS version: Linux x64 5.11.0-18-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz (12 x 2600)|
|GPU Status

[2021-06-03 10:52] Xinyu-Wu-0000 commented on #125372
Please see #125380

[2021-06-03 11:13] mage1k99 opened #125381 "[Extension Host] extension activation failed TypeError"
Does this issue occur when all extensions are disabled?: No
Reason for issue : Recent update for jupyter extension (v2021.6.902307158)

- VS Code Version: 1.57.0-insider
- OS Version: Windows 10 (10.0.199042)
[code]
Steps to Reproduce:

1. Installed the recent insiders update.
2. Python extension is not working anymore causing extension host to fail
3. When Inspecting console, found that its due t

[2021-06-03 11:13] #125379 closed

[2021-06-03 11:37] MMAPlayz opened #125382 "search button in explorer tab"
Can you please add a search button that allows you to search up files because it is waste of time to go through all the files to see one file that we need. So please   add the search button in the explorer tab

[2021-06-03 11:41] #124722 closed

[2021-06-03 11:41] #124717 closed

[2021-06-03 11:41] #124682 closed

[2021-06-03 11:41] #124675 closed

[2021-06-03 11:41] #124671 closed

[2021-06-03 11:41] #124669 closed

[2021-06-03 11:41] #124657 closed

[2021-06-03 11:41] #124242 closed

[2021-06-03 11:42] #32320 closed

[2021-06-03 11:42] Tyriar commented on #124673
Let us know if you get more info

[2021-06-03 11:42] #124673 closed

[2021-06-03 11:44] Ayush-Chugh-2006 commented on #125288
How can i solve it

[2021-06-03 11:46] Tyriar commented on #123471
This looks like an issue with our old terminal backend "winpty", going forward we are focusing our efforts on the new backend "conpty" which is build by the Console team at Microsoft and should fix many issues with the terminal under Windows. You can read more about getting ConPTY [here](https://github.com/Microsoft/vscode/issues/57803#issuecomment-449495423).

/duplicate https://github.com/Micros

[2021-06-03 11:47] IllusionMH commented on #125382
/duplicate of #70646 + #66971

In the meantime `> Go To File` (<kbd>Ctrl</kbd>+<kbd>P</kbd>) actions provides fuzzy search for files or if it's resolved file (somewhere in expanded folders) - just start typing when explorer is in focus - this will activate filter

[2021-06-03 11:47] #125382 closed

[2021-06-03 11:56] iron-coder12 opened #125383 "Terminal Error"
Does this issue occur when all extensions are disabled?: Yes

Version: 1.56.2 (user setup)
Commit: 054a9295330880ed74ceaedda236253b4f39a335
Date: 2021-05-12T17:13:13.157Z
Electron: 12.0.4
Chrome: 89.0.4389.114
Node.js: 14.16.0
V8: 8.9.255.24-electron.0
OS: Windows_NT x64 10.0.19042

I get this error every time I close the terminal

![image](https://user-images.githubusercontent.com/79589166/120640

[2021-06-03 12:06] zhangenming opened #125384 "The states of the two sides are out of sync"
as the figure shows
when we open two editor,
I select right editor a variable, `aaaaa`
but left editor  does not highlight it ,
thanks
![image](https://user-images.githubusercontent.com/21235555/120641974-e2959080-c4a6-11eb-955e-62ea816f9438.png)

[2021-06-03 12:13] zhangenming opened #125385 "Make the editor width narrower"
as shown in the figure, thanks
![image](https://user-images.githubusercontent.com/21235555/120642863-01485700-c4a8-11eb-836b-3c953e2081b2.png)

[2021-06-03 12:16] XeonG commented on #50140
Any year now Vscode....

[2021-06-03 12:17] augnustin opened #125386 "Add "Duplicate" option to Explorer context menu"
Yes, this is a duplication of #36113 and #14449 as both conversations are closed (why?).

I miss the "duplicate" feature all the time.

@bpasero suggests it should be an extension but I don't agree. Here's why:

1. I would have never though of looking for an extension for this feature, as extensions are here to add fancy features while this definitely **feels core**. I only found it by searching f

[2021-06-03 12:25] Tyriar commented on #125345
/extPython

[2021-06-03 12:26] #125345 closed

[2021-06-03 12:32] Tyriar opened #125387 "Add profile for cmder"
Setting up a cmder profile is mentioned in https://code.visualstudio.com/docs/editor/integrated-terminal#_can-i-use-cmders-shell-with-the-terminal-on-windows, this should be auto detected. Note that this is a little different to other profiles in that we need to validate not just that the `path` exists, but also `C:\\cmder\\vendor\\bin\\vscode_init.cmd`

[2021-06-03 12:38] ginomempin opened #125388 "Debugging with externalTerminal + sudo results in "env: illegal option -- a""
Issue Type: <b>Bug</b>

I am using the [sudo](https://code.visualstudio.com/docs/python/debugging#_sudo) debug configuration option to run a Python script on `externalTerminal` with sudo privileges.

**launch.json**
[code]
The external terminal launches but it fails because VS Code inserts a `env -a` command when running the script.

**Terminal Output**
[code]

The error is clear: `env` does not h

[2021-06-03 12:43] Tyriar opened #125389 "Remote terminals don't respect strictEnv"
extension code like:
[code]

settings json like:
[code]

On my local machine (mac), creating the created terminal has neither `HOME` nor `oogy` modified, however when I do the same on remote-ssh/linux I get that they've both been applied:

![image](https://user-images.githubusercontent.com/8586769/96325578-c4455800-0fdd-11eb-9865-54cabf0f8d41.png)

[2021-06-03 13:06] kekexunxun commented on #57548
@makeway4pK

I tried to use a new extension to manage other extensions.

1. After `onStartupFinished`, read user workspace config `extension-setting` (or some other name) which has a list of extensions.

[code]
2. Ask user to decide whether to continue or not, if user's choice is no, then skip below steps
3. Use `Vscode Extension Api - vscode.extensions.all` get all extensions (or workspace extens

[2021-06-03 13:12] IllusionMH commented on #125386
Both are marked as extension candidate because there might be different needs for duplication - right to this folder, to some specified path, with or without rename etc. so there isn't single solution.

With extension users who need specific functionality can install extension and use it and those who don't  - won't have another unused entry to context menu (which is already big).

[2021-06-03 13:14] piyushsingariya commented on #113175
Guys, we need a fix for this. This is killing me. I am on Kubuntu 20.04

[2021-06-03 13:16] sandy081 commented on #125125
It is still not getting focused when created from dropdown action in the terminal.

[2021-06-03 13:17] AkshayRathod07 commented on #120004
thanks a lot . its working try this :- 1 - Use split screen in the terminal window i.e. 2 terminals visible.

[2021-06-03 13:21] alexr00 commented on #125391
@TylerLeonhardt I think this is an issue with auth somewhere. Detailed steps:

1. Open an empty vscode window and have GHPRI installed.
2. Sign in for GHPRI if you haven't already.
  2a. At this point, GHPRI has called `getSessions` **successfully:** https://github.com/microsoft/vscode-pull-request-github/blob/239e6c36de35c6938a15a2e82c204ac4f77a3050/src/github/credentials.ts#L72-L73
3. Command ->

[2021-06-03 13:26] lramos15 commented on #125288
This happens when you sync insiders into stable and we have changed a setting. We make no guarantee of the sync compatibility between the two versions. You will need to remove the `workbench.editorAssociations` setting from your settings.json

[2021-06-03 13:26] #125288 closed

[2021-06-03 13:47] Thabang199x opened #125392 "annoying"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

keeps on indenting code

VS Code version: Code 1.55.2 (3c4e3df9e89829dce27b7b5c24508306b151f30d, 2021-04-13T09:35:57.887Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7500U CPU @ 2.70GHz (4

[2021-06-03 13:59] kieferrm opened #125393 "Markdown layout issues in notebooks"
When using the default layout:

- depending on the font size / header type the folding indicator shows up with different offsets from the centerline/baseline of the font
- there should be sufficient spacing between the folding indicator and the first letter of the header so that the first letter of the header is align with the left border of a code cell

![image](https://user-images.githubusercont

[2021-06-03 14:01] lramos15 commented on #125202
@joaomoreno That exception you see I receive in the official build of insiders, but not when running out of sources. It implies that the resource URI is undefined which shouldn't be possible. If you have any ideas or would like to help me discover what is causing this let me know

[2021-06-03 14:01] MohamedLamineAllal opened #125394 "Options autocompletion with Intellisense for string literal and union types"
[code]
As listed by the typescript issue here https://github.com/microsoft/TypeScript/issues/29729

Having trhe feature where intelisense  handle the provided options and show them (string literal)! Will be of big efficiency and user experience! Less mistakes! Higher speed! And profiting from intellisense and autocompletion...

The new typescript feature for type preservation can be helpful for an

[2021-06-03 14:08] Tyriar commented on #125125
@sandy081 I can't repro, can you show a gif and check for console errors?

[2021-06-03 14:09] sandy081 opened #125395 "Opening a new window shows a prompt that GitHub extension cannot be activated"
Steps to Reproduce:

1. Open a new window. Following prompt is shown

![image](https://user-images.githubusercontent.com/10746682/120658806-0d232180-c486-11eb-88cd-48c53b0344ed.png)

[2021-06-03 14:12] v1d3rm3 commented on #124750
I'm having no issues anymore with insiders.

[2021-06-03 14:12] #124750 closed

[2021-06-03 14:13] sandy081 commented on #125395
This is because Git extension is disabled because of workspace trust and GitHub extension is enabled (as it supported). Actual fix is to disable GitHub extension which will be taken care here - https://github.com/microsoft/vscode/issues/122448.

Did a pragmatic fix here:

- Fixed the prompt in this case by providing appropriate message and no actions are shown.
- In order to provide better experie

[2021-06-03 14:14] #125395 closed

[2021-06-03 14:14] Tyriar commented on #124103
Sorry I don't think we will do this because of the additional visual noise is will cause, and I don't believe the amount of usage this will see is worth the cost of another setting.

[2021-06-03 14:15] #124103 closed

[2021-06-03 14:19] ManiKBSM opened #125396 "Unable to launch Terminal"
Issue Type: <b>Bug</b>

Unable to launch terminal
Select 'New Terminal' option from terminal menu and it fails with error code 1920

"The terminal process failed to launch: A native exception occurred during launch (Cannot create process, error code: 1920)"

VS Code version: Code 1.56.2 (054a9295330880ed74ceaedda236253b4f39a335, 2021-05-12T17:13:13.157Z)
OS version: Windows_NT x64 10.0.18363

<det

[2021-06-03 14:20] meganrogge commented on #125383
Can you turn on trace logging and provide me with the logs? /needs-more-info

[2021-06-03 14:27] sandy081 commented on #123307
Added `z-author-verified` based on above comment

[2021-06-03 14:27] Ashvith commented on #43154
I am not sure if anyone know about this, but can we make the look similar to Edge in Linux?

![Screenshot from 2021-06-03 19-52-40](https://user-images.githubusercontent.com/9512421/120660841-5f276f80-c4a5-11eb-807a-3597fb415f5d.png)

The link bar, and the other buttons are next to the minimise, maximise and close button.

[2021-06-03 14:28] Tyriar opened #125397 "Dragging a terminal group tab to the empty area should always move it to the bottom"
Repro:

1. Create 2 terminals
2. Run `git log` in one of them so you can tell them apart
3. Drag the top terminal to the empty area, **it's not moved to the bottom**

[2021-06-03 14:33] meganrogge commented on #122593
![recording - 2021-06-03T073221 119](https://user-images.githubusercontent.com/29464607/120662254-d5908700-c43d-11eb-8484-f3ff445c7f9a.gif)
@mjbvz Am I doing something wrong here? I'm on TS 4.4 and when I sort the imports (with an unused one, KeyMod), it's gone after sorting

[2021-06-03 14:33] alexr00 opened #125398 "Sort imports in typescript can leave a lot of blank lines"
Testing https://github.com/microsoft/vscode/issues/122593

It looks like if there are imports that span multiple lines you can end up with empty lines after running the sort imports action.

1. Open your clone of microsoft/vscode
2. Open the file abstractTaskService.ts
3. Command -> Source Action...
4. Choose "Sort Imports"

[2021-06-03 14:34] meganrogge commented on #122593
Oh just noticed I'm using organize imports, not sort

[2021-06-03 14:36] lramos15 opened #125399 "Ability to trust all Remotehub repos"
Currently a user can trust a parent folder making it unlikely that they see the workspace trust prompt very often. However, when using RemoteHub there is no concept of a parent folder and therefore the user receives the workspace trust dialog every time they open a new repo with no way for them to reduce the number of occurrences.

TL;DR Some version of Trust Parent for remotehub repos. Maybe trus

[2021-06-03 14:41] iron-coder12 commented on #125383
How do I turn on trace logging?

[2021-06-03 14:43] meganrogge commented on #125383
Cmd Shift P -> Developer Set Log level -> Trace -> Open dev tools and copy what's there when you delete a terminal

[2021-06-03 14:46] iron-coder12 commented on #125383
I just hit ctrl + shift + and choose developer set log level then trace and nothing happens

[2021-06-03 14:48] zhouxinghong commented on #124420
@aeschli Please see the latest demo.

[2021-06-03 14:51] joaomoreno commented on #125290
Oh yeah I can totally repro.

[2021-06-03 14:52] joaomoreno commented on #125290
This seems different from #125202 since nothing renders, even if you resize the workbench. Let me know if you find something that points otherwise.

[2021-06-03 14:53] #125386 closed

[2021-06-03 14:58] meganrogge commented on #125383
Then you have to open developer tools and view the console, where there will be output

[2021-06-03 14:58] iron-coder12 commented on #125383
ok lemme give it a shot

[2021-06-03 14:59] JoydeepBanerjee-webcrawler90 commented on #124671
Hey thanks for the prompt reply.
The issue was resolved by my self.
Thanks a ton again.

On Thu, 3 Jun, 2021, 5:11 pm VS Code Issue Triage Bot, <
***@***.***> wrote:

[2021-06-03 14:59] iron-coder12 commented on #125383
![image](https://user-images.githubusercontent.com/79589166/120666722-7026af80-c4aa-11eb-9d4a-62e1f61e1f3d.png)
I just did that and got this stuff

[2021-06-03 15:00] Tyriar commented on #122680
Margin is still not correct when using `centered`:

<img width="669" alt="Screen Shot 2021-06-03 at 7 58 56 AM" src="https://user-images.githubusercontent.com/2193314/120666565-8cdacd00-c441-11eb-9753-01041bc34206.png">

Additionally when just using img the image gets stretched to 100% of the container which isn't expected:

<img width="735" alt="Screen Shot 2021-06-03 at 7 59 37 AM" src="https://

[2021-06-03 15:01] sandy081 commented on #125322
/duplicate

[2021-06-03 15:01] Tyriar opened #125400 "Getting Started: Cannot scroll to bottom of content"
This is the lowest I can scroll to:

<img width="1117" alt="Screen Shot 2021-06-03 at 7 59 57 AM" src="https://user-images.githubusercontent.com/2193314/120666817-bf84c580-c441-11eb-9493-cc37cc9c9505.png">

When I increase the size of the webview I can see more, but it should still have a little bit of a margin:

<img width="701" alt="Screen Shot 2021-06-03 at 8 00 44 AM" src="https://user-images.

[2021-06-03 15:01] howardjones commented on #123077
I'm also seeing this with Ubuntu 18 and current VSC - got as far as reporting a bug in another package that was "generating bad IDs" before I realised that VS Code was doing this... :-/

[code]

[2021-06-03 15:02] #125322 closed

[2021-06-03 15:02] sandy081 commented on #125047
@sbatten May I know the reasoning behind showing this as default view in untrusted workspaces. Is not it too opinionated? I would expect an action somewhere to guide user to go that view.

[2021-06-03 15:04] sandy081 commented on #125047
I see this still occurs on latest insiders

![Kapture 2021-06-03 at 17 03 45](https://user-images.githubusercontent.com/10746682/120667409-c1747600-c48d-11eb-90ff-7dc3027a82df.gif)

[2021-06-03 15:05] claell opened #125401 "Overall run or execute keyboard shortcut"
When using extensions like the Python extension, there is a button to execute open files. However, at least in case of the Python extension there is no default keyboard shortcut for this often used action.

I created an issue about this for the extension (https://github.com/microsoft/vscode-python/issues/16340) and a reason for them to not provide a default shortcut is to avoid interference with s

[2021-06-03 15:08] meganrogge commented on #125383
I need a log that says #dispose. Search for that please and if you can't find it, delete a terminal.

[2021-06-03 15:09] mystiquewolf opened #125402 "Smooth scrolling doesn't work with Wayland"
Issue Type: <b>Bug</b>

Smooth Scrolling doesn't work when VS Code is started with the ```--enable-features=UseOzonePlatform --ozone-platform=wayland``` options.

VS Code version: Code 1.56.2 (054a9295330880ed74ceaedda236253b4f39a335, 2021-05-12T16:45:26.313Z)
OS version: Linux x64 5.11.0-17-lowlatency

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-825

[2021-06-03 15:11] IanMatthewHuff opened #125403 "In the 6/3 build of VSCode - Insiders Notebook Show Cell Status Bar setting defaulting to 'hidden'"
Does this issue occur when all extensions are disabled?: No (Jupyter extension required)

- VS Code Version:
![image](https://user-images.githubusercontent.com/812783/120667741-a16b9500-c442-11eb-9509-306407ff5948.png)

- OS Version: MacOS 11.3.1

Steps to Reproduce:

1. Open a notebook with the jupyter extension
2. Execute a cell

Expected: See Cell Status Toolbar (green check / execution time)
A

[2021-06-03 15:19] #125030 closed

[2021-06-03 15:22] meganrogge commented on #125396
It looks like your report is missing some important information, See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more info on how to report actionable terminal issues.
/label "needs more info" integrated-terminal

[2021-06-03 15:22] ipa1981 commented on #32320
Paste problem still exists. So I'd suggest to reopen this to keep importance ranking
For me personally this is still number 1 drawback n VSCode.

[2021-06-03 15:23] bholland opened #125404 "Pylance return type specification breaks docstring syntax highlighting"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.56.2
- OS Version: Windows 10

Steps to Reproduce:

1. fully stub out a function header
2. generate a docstring
3. The syntax highlighting for the docstring looks like code

This is probably a well known issue but I had a very hard time searching for a solution. By and large, pylance works really well but there i

[2021-06-03 15:24] rebornix commented on #125404
/extPython

[2021-06-03 15:24] mjbvz commented on #125202
For the hex editor, I had trouble reproducing this until I set `"hexeditor.dataInspector.autoReveal": false`. The data inspector (usually) seems to trigger a relayout for me

My reliable repo:

1. Set `"hexeditor.dataInspector.autoReveal": false,`
2. set `"workbench.editorAssociations": {  "*.ts": "hexEditor.hexedit" }`
3. Change a TS file and open the diff

[2021-06-03 15:24] #125404 closed

[2021-06-03 15:29] rebornix commented on #125384
Selection states are not synced between editors.

[2021-06-03 15:29] #125384 closed

[2021-06-03 15:30] rebornix commented on #125381
@mage1k99 does it work after another window reload?

[2021-06-03 15:32] #124839 closed

[2021-06-03 15:32] rebornix commented on #125368
/extPython

[2021-06-03 15:33] #125368 closed

[2021-06-03 15:34] rebornix commented on #125359
https://github.com/microsoft/vscode/wiki/Source-Code-Organization

[2021-06-03 15:34] #125359 closed

[2021-06-03 15:36] rebornix commented on #125367
@krsinghshubham can you follow the wiki https://github.com/microsoft/vscode/wiki/Performance-Issues to help provide more info about what's going on? We would like to know more info about that particular process

[2021-06-03 15:36] AliRain opened #125405 "Can't close file without overwriting"
Issue Type: <b>Bug</b>

1. Open a file with some git history
2. Make changes to the file without saving
3. Change to another git branch
4. Close this file
5. It'll ask if you want to save, click discard changes
6. The file appears again in the same state as if you didn't close the file.

The only way to get out of this state is to save changes, overwrite, then go to git and undo changes.

VS Code

[2021-06-03 15:38] mage1k99 commented on #125381
no it does not, even after reload.

It only works on older versions of jupyter extension

[2021-06-03 15:40] mage1k99 commented on #125381
Recent update for jupyter extension (v2021.6.902307158) causes the issue.

[2021-06-03 15:40] sbatten commented on #125399
We are working to have the `getCanonicalUri` option on filesystemproviders which will turn remotehub uris into their github https uris. At that point you will be able to trust `/microsoft`

[2021-06-03 15:46] krsinghshubham commented on #125367
code --status is not working for me , why it can't be simply exported in logs while registering a bug from vsc extension.
Although i already mentioned its coming from watcherService, which is troubling when the project folder is too big.
If anyone want to know more , please mail me at shubhamk604@gmail.com, will share a meeting link to show live demo.

[2021-06-03 15:46] aeschli commented on #118196
Following the steps from the description, I still see the old parameters after the restart.
- index.js: `console.log(JSON.stringify(process.argv));`
- launch config
[code]
- set breakpoint in index.js, hit the breakpoint, change the `args`, restart (Ctrl+Shift+F5), finish the program, the first args are printed.

[2021-06-03 15:47] egamma opened #125406 "Initial size of the table in the trust editor is incorrect"
- Open a New Window
- Open the Trust Editor

Notice that the Path column is clipped. Also when you have many entries in the table the table cannot be scrolled.

![image](https://user-images.githubusercontent.com/172399/120673683-af95d180-c493-11eb-8701-56585d136c0b.png)

[2021-06-03 15:49] scott-parkhill opened #125407 "Have a collapse region button at the #endregion tag and not only at the top"
This feature is pretty straightforward. I would love it if you could collapse a region at the end of a region, please. It is VERY common that I am scrolling through code trying to find what I'm looking for and want to collapse regions as I scroll through. The problem is, when you've already scrolled through, that means you're at the bottom of a region, and then have to scroll all the way back to t

[2021-06-03 15:51] mjbvz commented on #125398
Duplicate of https://github.com/microsoft/TypeScript/issues/22914 I believe

[2021-06-03 15:51] #125398 closed

[2021-06-03 15:52] mjbvz commented on #125394
Closing this as upstream

[2021-06-03 15:52] #125394 closed

[2021-06-03 15:53] mjbvz commented on #125370
This feature is powered by the TypeScript project. Please [file a feature request upstream](https://github.com/microsoft/TypeScript/issues/new?template=Feature_request.md)

[2021-06-03 15:53] #125370 closed

[2021-06-03 16:00] meganrogge commented on #123403
@connor4312 how can I verify this?

[2021-06-03 16:00] lszomoru commented on #125318
Based on the screenshot, the workspace seems to be trusted so I was wondering:
1. Have you changed the setting so that the empty window is trusted by default?
2. Do you already have a trusted workspace opened in the VSCode instance?
3. Are you creating the new file in a location that is already trusted?

[2021-06-03 16:01] bpasero commented on #125355
Seems to be file watching in remote related.

[2021-06-03 16:03] bpasero commented on #125405
How?

[code]

[2021-06-03 16:05] joaomoreno commented on #125202
Thanks @mjbvz, I can repro with those steps! I will look into this tomorrow if you don't figure it out today. 👌

[2021-06-03 16:05] egamma opened #125408 "restricted trust status bar item should use rich hover"
The restricted trust status bar item should use a similar rich hover as is used in the remote indicator

This is the current hover
![image](https://user-images.githubusercontent.com/172399/120676000-e240c980-c495-11eb-9506-87e5f1dd038b.png)

This is the remote indicator hover for remote repositories
![image](https://user-images.githubusercontent.com/172399/120676383-3f3c7f80-c496-11eb-82cd-5a80ea6

[2021-06-03 16:11] tanhakabir opened #125409 "Bring back onDidCloseNotebookDocument"
Some notebooks like the [Kusto Notebooks](https://github.com/notebookPowerTools/vscode-kusto) depends on `onDidCloseNotebookDocument` to clean up any connections and dispose of anything important for the Notebook opened.

This isn't possible now and the closest workaround is to use `onDidSaveNotebookDocument` and maybe in the extension `deactivate` function to do any leftover clean up which isn't

[2021-06-03 16:22] DonJayamanne commented on #125409
I think the Kusto notebooks extension hasn't been updated to use the latest API.

[2021-06-03 16:22] Congstarrr opened #125410 "Snippets won't expand instantaneously"
I have been just switching to VSCode and noticed that, contrarily to Vim, snippets in VSCode don't expand instantaneously, i.e. without having to press tab but right away when you have fully typed out the trigger word.

More specifically, it would be nice to have the following options:

1. Snippet will be triggered automatically, when condition matches, i.e. you don't have to press a tab for the s

[2021-06-03 16:24] tanhakabir commented on #125409
@DonJayamanne I was working on that now

[2021-06-03 16:26] Cellule commented on #124905
While I'm not on insider. I did update node-pty to use 0.11.0-beta7 (which seemed to be the fix)
and I still regularly get this error (many times a day)

[2021-06-03 16:26] mage1k99 commented on #125381
Hey recently updated to newer version. which ends with commit [ad2a5](20df87725d3ce4a501187f0240c2f159aa0ad2a5).

[code]

[2021-06-03 16:32] Kenobi-the-2nd commented on #124907
Yes, this makes sense. This helped me understand why some scenarios where I needed to enter text have not worked. Many of the cases have involved commands from other extensions. I see now that the inability to pass text as an argument was a limitation of the extension's command and not an issue with VS Code.

I did some experimenting with the `workbench.action.quickOpen` command in both tasks and

[2021-06-03 16:33] jrieken commented on #125409
It's not gone, it has been moved to the `workspace` namespace: `vscode.workspace.onDidCloseNotebookDocument`

[2021-06-03 16:33] #125409 closed

[2021-06-03 16:35] connor4312 commented on #123403
I suggest starting with a hello world extension, and listen for `vscode.debug.onDidStartDebugSession`. Then use `Debug: Open Link` to `https://code.visualstudio.com/`. It should emit a "root" session without a parent, and then a session for the page with the parent set. Open a new tab. This should cause additional sessions to be created, and verify they have appropriate parents set.

[2021-06-03 16:36] AliRain commented on #125405
@bpasero here's a loom video showing the issue: https://www.loom.com/share/627abd4d8eaf49179fb8ea4742ac4d93

The reason it takes so long switching branches is that we have a Husky hook to download yarn dependencies when checking out another branch.

[2021-06-03 16:37] jrieken commented on #125377
These things can't be clicked, it's just a status message.

[2021-06-03 16:37] JacksonKearl commented on #119415
Fixed a bit ago.

[2021-06-03 16:38] JacksonKearl commented on #125246
The issue here is that the images themselves have excess content, correct? Or is the rendering introducing more padding?

[2021-06-03 16:42] Ayush-Chugh-2006 commented on #125288
This Worked Thanks

And is there any way to stop syncing between insiders and stable release

[2021-06-03 16:42] Kenobi-the-2nd commented on #124907
Also, is this the correct page for VS Code command documentation: https://code.visualstudio.com/api/references/commands? I checked there but could not find the `workbench.action.editor.changeLanguageMode` command.

[2021-06-03 16:45] connor4312 commented on #118196
It looks like ctrl+shift+f5 sends the restart to the child session which does not cause the launch.json to be re-evaluated

[2021-06-03 16:50] brianjmurrell opened #125411 "Latest update frequently "not responding; force quit" (reopening of #122659)"
Does this issue occur when all extensions are disabled?: I don't know. Since it doesn't happen right away, I cannot afford to sit and wait while I cannot use VS Code due to having no extensions installed.

This is a re-reporting of #122659 since my requests there are being ignored.

This is still happening.  I have to force-quit Code many times a day.  https://github.com/Microsoft/vscode/wiki/Nati

[2021-06-03 16:51] CaninoDev opened #125412 "Remote SSH w/ Yubikey OTP"
Using the Yubikey with remote ssh is awkward at the moment. As it is currently, one has to click on the `details` link once ot twice to open up the ssh view window, focus it, then press the Yubikey as evidenced with the attached image.
<img width="793" alt="Screen Shot 2021-06-03 at 12 48 34 PM" src="https://user-images.githubusercontent.com/16412897/120682170-23bb7f80-c46a-11eb-8e10-7688e134cf58.

[2021-06-03 16:52] brianjmurrell commented on #125411
It is, but that issue is closed and not getting any more attention including a request to reopen it.

[2021-06-03 16:54] weinand commented on #123403
@connor4312 please make sure that this new API gets mentioned in the release notes in the "Extension authoring" section.

[2021-06-03 16:58] nosjojo opened #125413 "Git - Source Control tab and Merge conflict detection"
My project's auto-generated code uses this structure for comment blocks (I think Labview/CVI generates it):
[code]

This comment block is detected as a merge conflict flag by the Source Control tab - but the actual merge conflict resolution tool doesn't see it as a conflict.

Actual recreation of the issue just seems to require a file with that comment block be involved in a merge conflict. It loo

[2021-06-03 17:00] JacksonKearl opened #125414 "Getting Started: Make openWalkthrough Case insensitive"
Actually I think this should be case insensitive just like `workbench.action.openIssueReporter`

_Originally posted by @Tyriar in https://github.com/microsoft/vscode/issues/119725#issuecomment-851004235_

[2021-06-03 17:01] JacksonKearl commented on #119725
Going to close this out for verification this milestone, opened #125414 to track case insensitivity

[2021-06-03 17:01] #119725 closed

[2021-06-03 17:02] JacksonKearl commented on #106717
Enabled by default starting today! Please do not hesitate to open new issues for feedback!

[2021-06-03 17:02] #106717 closed

[2021-06-03 17:05] sandy081 commented on #123514
@eamodio

Do you see any errors in shared process / window dev tools & logs when this happen (clicking on Show Conflicts) ?

@Tyriar can you please check following when this happened (ie., when the buttons are not shown)

- Check in your gear menu if settings sync is enabled?
- Check in your gear menu if there is an entry to show settings conflicts?
- Check if there are any errors in dev tools & l

[2021-06-03 17:14] sandy081 commented on #125125
Here you go

![Kapture 2021-06-03 at 19 12 10](https://user-images.githubusercontent.com/10746682/120685072-bf1b1780-c49f-11eb-9e85-ccb4be942bbf.gif)

I do not see any console errors

Here is the code snippet to register terminal profile provider

[code]

[2021-06-03 17:15] connor4312 commented on #8794
That doesn't work for me:

![](https://memes.peet.io/img/21-06-1ea30c55-248e-494a-a90f-d3bce906dfa8.gif)

[2021-06-03 17:17] sandy081 commented on #125337
/duplicate

Duplicate of https://github.com/microsoft/vscode/issues/122448

For current milestone I fixed the prompt - https://github.com/microsoft/vscode/issues/125395. The actual fix will be done via #122448

[2021-06-03 17:18] #125337 closed

[2021-06-03 17:19] #8794 closed

[2021-06-03 17:20] bigjools opened #125415 "Can't cursor-past a new fold"
## Environment data

-   VS Code version: 1.56.2
-   Extension version (available under the Extensions sidebar):  2021.5.842923320
-   OS and version: Ubuntu 20.04
-   Python version (& distribution if applicable, e.g. Anaconda): 3.8.5
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): n/a
-   Relevant/affected Python packages and their versions: n/a
-   Relevant/affecte

[2021-06-03 17:21] roblourens opened #125416 "Can't set statusbar item ID"
Testing #124843

[code]

I get this log

[code]

Same as if I don't pass the options. Am I missing something?

[2021-06-03 17:22] roblourens commented on #124843
Looks good, but why allow changing the name? Seems like this is something that would be static

[2021-06-03 17:24] xisui-MSFT commented on #124163
I'm trying to do this in the same way as breakpoint https://github.com/microsoft/vscode/blob/94c9ea46838a9a619aeafb7e8afd1170c967bb55/src/vs/workbench/contrib/debug/common/debugSchemas.ts#L110-L128

[2021-06-03 17:26] jwyglendowski-precisionlender commented on #123317
@connor4312 Interesting note. I am working on a script for my day to day work in node with just a single thread which does work with the terminal unlike when the scenario of this issue where jest runs multiple instances of node. Maybe VS Code is having an issue tracking the instances. Anyway I thought it worth providing that piece of information in case it can help.

[2021-06-03 17:29] lszomoru commented on #125395
@sandy081, in case that we detect that the dependency is not loaded due to workspace trust, could we be more specific in the message - _Cannot activate the X extension because it depends on the Y extensions which is not supported in Restricted Mode._ Could we also add an action called `Manage Workspace Trust` which would open the workspace trust editor?

[2021-06-03 17:30] rebornix opened #125417 "Download latest compatible extensions prior to VS Code update"
Issue Type: <b>Feature Request</b>

Extensions using latest API (or new APIs in coming Stable releases), they are now suffering from some "down time" as the upgrade of VS Code and extensions don't happen at the same time. Though we can't improve every indivual scenario, but we can improve this case:

1. Extensions publish a new version targetting new VS Code version
2. VS Code upgrades, window rel

[2021-06-03 17:31] #125125 closed

[2021-06-03 17:31] connor4312 commented on #121883
@digitarald are there verification steps for this?

[2021-06-03 17:32] rzhao271 commented on #125353
Should "See our docs to learn / more." be on its own line in the dialog? The way it currently is with the newline makes it easy to miss.

[2021-06-03 17:36] roblourens commented on #124605
Have also seen

[code]

after reloading the window

[2021-06-03 17:37] Tyriar commented on #124905
@Cellule it will only work if you move to insiders as other code changes needed to happen

[2021-06-03 17:40] roblourens commented on #125318
1. I only have `"security.workspace.trust.enabled": true`
2. This workspace is trusted
3. It's an untitled file so I guess the location shouldn't matter. It just has a name

[2021-06-03 17:40] DarioBosco commented on #122193
@misolori The request has reached 20 upvotes. The request can now be moved to the backlog.
Thanks!

[2021-06-03 17:41] lramos15 commented on #123636
I'm pretty sure I'm still seeing this

[2021-06-03 17:42] TylerLeonhardt commented on #125326
@youngmg1995 the "busy" indication should really only happen _after_ you show an input because the assumption is that when you show an input, it should have all the initial data you want to show...

If you really want to trigger a busy indication at the start of a quick pick, you should set it _after_ the `show()`:

[code]

Because `busy` is usually set after a quick pick is visible.

I believe `s

[2021-06-03 17:42] #125326 closed

[2021-06-03 17:42] rebornix opened #125418 "Extension activation failure notification is not helpful in restricted mode"
Without customizing settings, after opening an empty window, I get this

![image](https://user-images.githubusercontent.com/876920/120688629-1e553980-c458-11eb-983c-d21e4d819d1a.png)

The `git` extension is probably disabled because of trust, but the notification asks me to enable and reload, after clicking on the button, I get another notification.

![image](https://user-images.githubusercontent.

[2021-06-03 17:44] sandy081 opened #125419 "Trace statements are not shown in the logs"
- Open Window log
- Enable log level to trace
- Execute some commands

🐛 Trace statements are not shown

Stable:

![Kapture 2021-06-03 at 19 40 54](https://user-images.githubusercontent.com/10746682/120688944-dc51e500-c4a3-11eb-9788-c2a795b7c220.gif)

Insiders:

![Kapture 2021-06-03 at 19 42 19](https://user-images.githubusercontent.com/10746682/120688976-e542b680-c4a3-11eb-9cba-0137dac0efd4.gif)

[2021-06-03 17:44] Tyriar opened #125420 "Terminal drop feedback should not show when dragging into itself"
Repro:

1. Open a terminal
2. Drag tab into the actual terminal, feedback should not show

![image](https://user-images.githubusercontent.com/2193314/120689146-a6d3da00-c458-11eb-8739-61c01e53e368.png)

[2021-06-03 17:46] bpasero commented on #124843
It is a display property and all the other display properties can be changed as well. We had a API discussion about it.

[2021-06-03 17:47] digitarald commented on #121883
Sorry that they are so complex and time-intensive. I can

1. Open a fresh VS Code Insiders instance
2. Check `telemetry.log`, ensure that you are in the treatment group `telemetry/tasClientReadTreatmentComplete {"properties":{"treatmentName":"CESSurvey","treatmentValue":"true"`
3. Open a Java file and save it.
4. Keep VS Code open for _1 hour_ to trigger the new-user survey popup and click to open

[2021-06-03 17:47] Tyriar opened #125421 "Terminal tab drag over another tab will focus that group even if the mouse leaves shortly after"
Repro:

1. Open 2 terminals
2. Start dragging one
3. Drag it into the actual terminal and pass over the other tab briefly, it will get focused even though the mouse didn't stay there for long enough

![recording (4)](https://user-images.githubusercontent.com/2193314/120689521-0e8a2500-c459-11eb-8d32-bca0e836c18e.gif)

[2021-06-03 17:47] bpasero commented on #125416
That does not seem like the right use of the API:

![image](https://user-images.githubusercontent.com/900690/120689609-96e1e780-c4a4-11eb-916d-db3e30676d3b.png)

[2021-06-03 17:48] rzhao271 commented on #125419
I guess an issue is that there are no info statements coming in, so nothing is being flushed.
I'll switch it to flush on trace for now.

[2021-06-03 17:48] roblourens commented on #125246
I think the first part is addressed by changing the images, but I still see a scrollbar when it feels like there is room. This is a split in a window the size of my laptop screen.

![image](https://user-images.githubusercontent.com/323878/120689705-3d080000-c459-11eb-8bd4-2697fb0970f8.png)

[2021-06-03 17:49] brettfo commented on #125403
Hiding the status bar by default is particularly detrimental to polyglot notebooks (e.g., .NET Interactive) because the language picker isn't shown so the user has no way to change the cell language from C# to F#, etc.  The discoverability of this is very low.

[2021-06-03 17:49] #123636 closed

[2021-06-03 17:50] roblourens commented on #125403
This wasn't intentional

[2021-06-03 17:50] lszomoru commented on #125418
/duplicate

Duplicate of #122448

[2021-06-03 17:50] Tyriar commented on #125397
Had a chat with @meganrogge and we're going to only rearrange the terminal group when dragging to the empty area. Unsplit will only be possible via the command and context menu.

[2021-06-03 17:50] #125418 closed

[2021-06-03 17:51] roblourens commented on #125416
Didn't notice that I had an old proposed dts

[2021-06-03 17:51] #125416 closed

[2021-06-03 17:51] lramos15 opened #125422 "Setting service should return default value when json scheme is invalid"
To protect against invalid values the setting service should provide some sort of sanitization. Reading back a broken user setting can cause unexpected behavior. This is particularly evident in the rare cases where we update a setting in insiders and it syncs to stable causing unrecoverable exceptions.

My proposal is to sanitize user input to ensure that the expected type is what is in the user's

[2021-06-03 17:52] connor4312 commented on #121883
Ok, see you in an hour! 🙂

[2021-06-03 17:52] isidorn commented on #124163
@xisui-MSFT if you already have something which is work in progress feel free to create a work in progress PR and I can comment more on the PR once I take a quick look at the code.

[2021-06-03 17:52] roblourens commented on #125211
Just `"files.autoSave": "afterDelay"` and nothing weird as far as I'm aware

[2021-06-03 17:54] roblourens commented on #125190
You can configure `files.exclude` with `*` (maybe `**/*`) in that folder to exclude it. Not an elegant solution. You can also type few characters from the folder name that you want to include in the search in quick open to filter to that folder.

[2021-06-03 17:54] #125190 closed

[2021-06-03 17:54] #119722 closed

[2021-06-03 17:54] TylerLeonhardt commented on #125391
@alexr00 yep and it looks like this part:

doesn't have to be empty. Basically adding _any_ additional folder to the workspace throws this error.

[2021-06-03 17:55] applemonkey496 commented on #123926
Any update on this?
Ping @Tyriar

[2021-06-03 17:56] bpasero commented on #125422
cc @sandy081, if possible the `IConfigurationService` should return the next valid value (up to the default), if the configured setting does not match the JSON schema.

In this particular case, Logan changed a setting from an array to a object and a lot of users got issues when syncing the same setting between stable and insiders.

[2021-06-03 17:56] Mirzero commented on #20224
Like many others, I would find this feature immensely useful.

[2021-06-03 17:57] youngmg1995 commented on #125326
@TylerLeonhardt, even in that order I still do not get the expected result (a progress bar showing on the input box). And indeed this is the order in which I handled it, as it is given in the [quickinput-sample](https://github.com/microsoft/vscode-extension-samples/tree/main/quickinput-sample), which also does not work as expected.

[2021-06-03 17:57] bpasero commented on #125405
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2021-06-03 18:00] espenfjo commented on #125381
I'm getting the same.

[code]

[2021-06-03 18:00] MGlolenstine commented on #125377
You can click `ENTER` or `SHIFT+ENTER`.

[2021-06-03 18:02] roblourens commented on #125346
We got rid of the empty space which helps. I also like the label suggestions.

[2021-06-03 18:05] charbelnicolas opened #125423 "Disabling Smooth Scrolling doesn't work for the Extensions Information viewport"
Does this issue occur when all extensions are disabled?: Yes
- VS Code Version: 1.56.2
- OS Version: Arch Linux

Steps to Reproduce:

1. Open VS Code
2. Open the Extensions panel (Ctrl + Shift + X)
3. Click on any extension available
4. Go to the extension "Details" or "Changelog" tab and scroll
5. Smooth scrolling is still present even though it has been disabled in settings.

Expected behavior:

[2021-06-03 18:06] kieferrm opened #125424 "Losing menu contributions for notebooks"
I don't have a reproducible case. But I do lose the "Select Notebook Layout" et al actions from the editor toobar from time to time.

![image](https://user-images.githubusercontent.com/4674940/120689652-2e214d80-c459-11eb-96e6-1d8efea2e79d.png)

[2021-06-03 18:07] kieferrm commented on #125424
User error.

[2021-06-03 18:07] #125424 closed

[2021-06-03 18:09] Tyriar commented on #125142
Upstream: https://github.com/xtermjs/xterm.js/issues/3358

[2021-06-03 18:10] sandy081 commented on #125395
Done

[2021-06-03 18:12] sibitu commented on #20224
Tell my what I can use and I will try. Lets do it together.

czw., 3 cze 2021, 19:56 użytkownik Mirzero ***@***.***>
napisał:

[2021-06-03 18:13] TylerLeonhardt commented on #125326
@youngmg1995 can you send a gif or video? It's working for me in the latest insider build:

![proof](https://user-images.githubusercontent.com/2644648/120691687-9c670f80-c45b-11eb-8fc5-1b4a2ab74a0b.gif)

I just added another quick input sample with this:

[code]

[2021-06-03 18:13] lramos15 commented on #123000
Might not be doing it right, but mine looks exactly like your gif so reopening

[2021-06-03 18:15] Cellule commented on #124905
Got it, didn't realize there were other relevant changes. I've setup myself on insider build now so I will use it for a few days to confirm it's all fixed on my end.
Thanks!

[2021-06-03 18:23] sandy081 commented on #125422
Yeah, I got to know about this stable-insiders sync issue that break backward compatibility. Regarding validating the value by schema, how deep and broad you want to go as the JSON schema can go deeper (objects) and broader (multiple types, enums etc). It would be nice if we can reuse JSON language server instead of rewriting. Also how much cost it gonna add and impact performance. Is not it easy

[2021-06-03 18:24] connor4312 opened #125426 "Github extension activation spam on first run"
1. Run `code-insiders` with a clean user-data-dir and extensions-dir
2. Be greeted with notification spam about the Github extension

![](https://memes.peet.io/img/21-06-0debd335-7b56-4e5f-b055-ebd8dd61ed3e.png)

[2021-06-03 18:26] #125226 closed

[2021-06-03 18:28] roblourens commented on #118584
@connor4312 this regressed in https://github.com/microsoft/vscode/commit/d6d9200832af59b997adb9b3c6f0ba173786daf7#diff-54b1e3297f88bd6925ca5fe088edaf93b8aa1832936da6350d69fec68375504eL54 where we pick mimetype 0, even if it's not trusted. I don't quite follow, can you take a look?

[2021-06-03 18:32] connor4312 commented on #125426
Duplicates https://github.com/microsoft/vscode/issues/125395

[2021-06-03 18:32] #125426 closed

[2021-06-03 18:33] TylerLeonhardt commented on #125326
It also could be your theme if you use something custom. Give insiders a try... or wait a week since stable will be released within a week.

[2021-06-03 18:35] lramos15 commented on #125422
I don't think you would have to go very broad, but don't we already do JSON schema validation when we show the warnings and errors in the settings.json? The consumer could of course do the validation but it might be good to have a catch all inside the configuration service to at least ensure we are returning the default value they specify in the read if no value is there. I don't think many think

[2021-06-03 18:38] meganrogge opened #125427 "Perf improvement"
Consider doing something like this:
https://github.com/microsoft/vscode/blob/0f8c499d1014b9079f01a63c097cc2354400e9ed/src/vs/workbench/contrib/terminal/browser/terminalProfileResolverService.ts#L51-L55

instead of:
https://github.com/microsoft/vscode/blob/8f3a47cc88c2745feed8c1506e93c8dae2082e62/src/vs/workbench/contrib/terminal/browser/terminalService.ts#L370-L376

[2021-06-03 18:39] rzhao271 commented on #125419
\closedWith 062401745a22d0bda7f4b9a560838f238438df1b

[2021-06-03 18:39] #125419 closed

[2021-06-03 18:39] lramos15 commented on #122537
@isidorn Just pinging you again for the verification 🙂

[2021-06-03 18:40] #118584 closed

[2021-06-03 18:41] aacitelli commented on #125356
Yep, this fits my use case perfectly. My apologies for not doing my due diligence - thank you!

[2021-06-03 18:41] #125356 closed

[2021-06-03 18:44] rzhao271 opened #125429 "Workspace trust dialog learn more link can be on its own line"
Repasting from https://github.com/microsoft/vscode/issues/125353#issuecomment-854052401:

Should "See our docs to learn / more." be on its own line in the dialog? The way it currently is with the newline makes it easy to miss.

[2021-06-03 18:45] #125353 closed

[2021-06-03 18:48] TylerLeonhardt opened #125430 "Adding a folder to an Empty workspace seems to try to re-activate every extension"
Does this issue occur when all extensions are disabled?: N/A

Version: 1.57.0-insider
Commit: 20df87725d3ce4a501187f0240c2f159aa0ad2a5
Date: 2021-06-03T06:00:36.788Z
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Darwin x64 20.5.0

Steps to Reproduce:

1. Open an _empty_ workspace
2. Add a folder to the workspace via: `Workspace: Add folder to workspace...`
3

[2021-06-03 18:48] alexbi29 commented on #124723
@jrieken here it is
[CPU-20210603T144656.cpuprofile.zip](https://github.com/microsoft/vscode/files/6593688/CPU-20210603T144656.cpuprofile.zip)

[2021-06-03 18:50] JacksonKearl commented on #125246
![image](https://user-images.githubusercontent.com/8586769/120696775-cde2d980-c461-11eb-874a-2a0b47a833b0.png)

[2021-06-03 18:50] #125246 closed

[2021-06-03 18:51] Tyriar commented on #123000
It's working for me?

![recording (5)](https://user-images.githubusercontent.com/2193314/120696985-0682b300-c462-11eb-86b6-89720524994d.gif)

See the double clicked work remains selected regardless of whether the mouse is above or below.

[2021-06-03 18:51] #123000 closed

[2021-06-03 18:51] JacksonKearl commented on #119844
\closedWith b2cc8487aed1a2df99d6b3252670269a93736a56

[2021-06-03 18:51] #119844 closed

[2021-06-03 18:52] JacksonKearl commented on #119844
![image](https://user-images.githubusercontent.com/8586769/120697074-1dc1a080-c462-11eb-819d-b307813041ab.png)
Images now are anchored to top-right of steps as before

[2021-06-03 18:53] JacksonKearl commented on #125246
Well thats weird.

[2021-06-03 19:00] rzhao271 commented on #65310
@mjbvz I'm still unable to copy-paste with the context menu.
I wonder if focus is being lost to the point where `activeEditor` isn't even set?

[2021-06-03 19:00] Tyriar commented on #123926
I can't repro in Insiders, mac should work the same as Linux. This might have been fixed by something else?

![recording (6)](https://user-images.githubusercontent.com/2193314/120698008-4dbd7380-c463-11eb-874b-31b0082f8225.gif)

[2021-06-03 19:07] alexdima commented on #110528
To clarify, we need a bit more information to track down where the problem is. If you are able to reproduce, then please try:
1. `F1 > Developer: Set Log Level... > Trace`
2. `F1 > Developer: Toggle Keyboard Shortcuts Troubleshooting`
3. press `cmd+v`
4. show us the log.

[2021-06-03 19:09] espenfjo commented on #125381
Some logs from the `Python` output.

[code]

[2021-06-03 19:20] andreamah commented on #124531
I'm still getting a bit of jittering upon reload; not sure if it's expected?

[![Image from Gyazo](https://i.gyazo.com/ad9697efa2d6631d6bf3a18e364b4933.gif)](https://gyazo.com/ad9697efa2d6631d6bf3a18e364b4933)

[2021-06-03 19:29] hediet opened #125431 "Improve Context Key Handling In Inline Completion Controller"
See https://github.com/microsoft/vscode/commit/09a3fa687a975e6f4801e5a39e9fd2a1063d4e21#diff-01311238f028e228332e7f72b30a27ea1d1ec61ee9399f3b0598220de001ccc2R107.

[2021-06-03 19:29] kieferrm opened #125432 "Notebook cell focus issues"
When I select the editor of one cell, there should be no other cell that shows the focus border. But there are. Lengthly gif but you see multiple focussed editors/cells

![cudX1FeZI5](https://user-images.githubusercontent.com/4674940/120701068-4ac48200-c467-11eb-9432-ae34bc973f2b.gif)

[2021-06-03 19:31] ivanburak opened #125433 "This is deprecated, the new recommended way to configure ..."
Please repair an issue in Code settings.json

**"terminal.integrated.shell.windows": "C:\\WINDOWS\\System32\\cmd.exe",**

{
	"resource": "/C:/Users/VE/AppData/Roaming/Code/User/settings.json",
	"owner": "_generated_diagnostic_collection_name_#2",
	"code": "2",
	"severity": 4,
	"message": "This is deprecated, the new recommended way to configure your default shell is by creating a terminal profile

[2021-06-03 19:32] hediet commented on #124979
In general, extension should just provide data. VS Code UI state should not be directly exposed to the extension host.

You can use the command for it.

We don't really want to expose that. For now there is window.getInlineCompletionsController. But we will iterate on that.

It was not requested yet.

[2021-06-03 19:35] kieferrm commented on #125167
For me personally, the overlay of the cell toolbar with the content of markdown cells makes the left cell toolbar position unusable.

[2021-06-03 19:37] andreamah commented on #124612
I noticed that the whitespace is not rendering upon selection if I select `selection` on the "Render Whitespace" option.
![image](https://user-images.githubusercontent.com/31675041/120701803-8d3e8c80-c470-11eb-8647-f0b63a743ced.png)

![image](https://user-images.githubusercontent.com/31675041/120701914-b19a6900-c470-11eb-98bf-937cc34f351c.png)

It seems to just not be working on the high contrast

[2021-06-03 19:38] #119097 closed

[2021-06-03 19:38] lszomoru commented on #125430
@TylerLeonhardt, I am unable to reproduce the issue in Insiders and OSS.
Could you record a GIF as I have the feeling I am missing something. Thanks!

[2021-06-03 19:40] JacksonKearl commented on #119097
Implemented remaining items from API review. Will consider supporting separate config files as needed by implementors

[2021-06-03 19:43] joyceerhl commented on #125417
The scenario I usually run into looks like this:

1. Jupyter extension and VS Code Insiders publish update to new API overnight
2. User already has VS Code open
3. Jupyter extension update automatically downloads
4. VS Code update is available. In my experience sometimes this gets automatically downloaded, and sometimes I have to use the Help menu to check for pending updates, at which time the do

[2021-06-03 19:44] SetTrend opened #125434 "Odd terminal scrolling behaviour"
### Issue Description

I am experiencing a problem with the terminal scrolling behaviour when switching from side panel view to full panel view:

![Strange scrolling behaviour](https://user-images.githubusercontent.com/9283914/117493211-f8309c80-af72-11eb-8db7-365aae3850e9.gif)

/ref: [vscode-powershell#3344](/PowerShell/vscode-powershell/issues/3344)
/ref: [PSReadLine#2450](/PowerShell/PSReadLine

[2021-06-03 19:45] espenfjo commented on #125381
Seems like the python extension is currently broken. Maybe because of ac05ae7b6f069ed696d435ec3146219d28478420 thats not taken into account yet.

[2021-06-03 19:49] espenfjo commented on #125381
Seems to already be fixed in the python extension in https://github.com/microsoft/vscode-python/commit/cd8f4d3b5c8b842dba373470734dd7d02a393680

[2021-06-03 19:49] connor4312 opened #125435 "Bad workspace trust layout"
1. Reload the window (seems to only happen the first time I open trust)
1. Have a split view
2. Manage Workspace Trust
3. The folders are truncated with the "Actions" area being giant. I can't resize the "Path" column, nor is there a tooltip for me to see what the paths are, so I'm stuck

![](https://memes.peet.io/img/21-06-1aeb9f04-cfe0-466a-b85d-f7b09fb91046.png)

+ I think we should always have

[2021-06-03 19:52] DonJayamanne opened #125436 "Provide ability to disable Notebook start page when running tests"
Currently this steals editor focus and our tests fail as a result of this (window.activeNotebookEditor is undefined after we open notebooks).
The tests are complex and we can't just rely on a return value of `openNotebookDocument or the like`, these are end to end tests in Jupyter extension.

Is there a way way to disable this start page?

@rebornix /cc

![image0](https://user-images.githubusercon

[2021-06-03 19:56] andreamah commented on #124049
Is this supposed to be resolved? Clicking on the "Lean back and learn" video for me doesn't do anything on current insiders.
I'm clicking on the image here:
![image](https://user-images.githubusercontent.com/31675041/120704103-66ce2080-c473-11eb-8c39-3fdcc7247d28.png)

[2021-06-03 20:08] JacksonKearl commented on #124049
Good catch, not sure why exactly the prior didn't work.

[2021-06-03 20:09] chrmarti commented on #125395
Cloning a Repository Container now fails in a new empty window (and untrusted workspaces in general): https://github.com/microsoft/vscode-remote-release/issues/5134. Is there a way to make the repository picker available when the workspace is not trusted yet?

[2021-06-03 20:12] mjbvz commented on #93265
BREAKING change for the new renderer api: https://github.com/microsoft/vscode/pull/125351

Renames a few types and functions, and also switch around some argument orders

Working to update the published types and example extensions now

[2021-06-03 20:12] lramos15 commented on #125205
@mjbvz Do you mind linking the codepointer you had for this again? I lost it from when it was posted awhile ago. If not I'll just go hunting for more samples :)

[2021-06-03 20:16] jeanp413 opened #125437 "Drop indicator not shown when dragging a view over panel title"
- VS Code Version: stable and from sources

![panel_drop_indicator](https://user-images.githubusercontent.com/25115070/120706332-8fa7e300-c47e-11eb-9c9d-19db815c83f6.gif)

It used to look like this:
![pane_drop_indicator_fix](https://user-images.githubusercontent.com/25115070/120706381-a2bab300-c47e-11eb-8753-bcc6d0a703b9.gif)

[2021-06-03 20:19] alexdima commented on #124755
@bpasero This appears to be intentional due to the implementation of quick open, which is doing something very special [here](https://github.com/microsoft/vscode/blob/b80011a819c022ebd41f5965abd09b46a55108cc/src/vs/workbench/contrib/quickaccess/browser/commandsQuickAccess.ts#L114). I think the commands want to be evaluated in the context of the current active editor, and the current active editor

[2021-06-03 20:22] TylerLeonhardt commented on #124755
Thanks for the context @alexdima!

[2021-06-03 20:22] #124755 closed

[2021-06-03 20:23] TylerLeonhardt commented on #125430
I am adding a workspace that is trusted to an Empty Workspace… maybe that’s the key?

[2021-06-03 20:25] Tyriar commented on #125422
Some concerns/thoughts:

- Modifying what setting value is synced was mentioned in standup, this happening upon only when reading out seems like a much safer approach.
- I like that the whole file is synced now, I wouldn't want it to be synced as a validated version and then stable might sync back and remove that setting. It would be complex internally and also for the user to understand.
- Someti

[2021-06-03 20:27] rebornix commented on #125417
should this already be addressed by https://github.com/microsoft/vscode/issues/121749?

[2021-06-03 20:29] rebornix commented on #125371
@Xinyu-Wu-0000 can you check if you pending updates for Jupyter extension or VS Code?

[2021-06-03 20:29] lramos15 commented on #125422
@Tyriar I apologize if I misspoke during standup. The intention is to do validation on read and not modify what is synced or what is contained in the user file.

This is true and would pose a challenge. I would assume there would be an option to read a raw unvalidated setting if you wish. I found aggressively converting everyone's setting on startup / on write to the settings.json to be much more

[2021-06-03 20:31] rebornix commented on #125381
Fixed in extensions.

[2021-06-03 20:31] #125381 closed

[2021-06-03 20:38] nrayburn-tech opened #125439 "testing issue reporter debounce"
Issue Type: <b>Bug</b>

asdf

VS Code version: Code - Insiders 1.57.0-insider (Universal) (20df87725d3ce4a501187f0240c2f159aa0ad2a5, 2021-06-03T06:00:36.788Z)
OS version: Darwin x64 20.5.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz (8 x 2800)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>metal: disabled_off<br>

[2021-06-03 20:38] #125439 closed

[2021-06-03 20:42] eamodio commented on #125298
I feel like the inline completion should in some way mix with the suggest widget rather than be an either or. Like if there is an inline completion, the suggest widget can show, but it doesn't auto-select anything, so you'd have to arrow down to the first time (to break out of the inline one). Or something like that.

[2021-06-03 20:42] meganrogge opened #125440 "Workspace trust doesn't work for terminal profiles"
Steps to Reproduce:

1. In a trusted workspace, add a profile to your workspace settings
2. 🐛 it does not show up in the profile dropdown, Select Default Profile, etc bc `configurationService.getValue` isn't returning workspace settings

Workaround:
pass in whether or not the workspace is trusted to `detectProfiles`
use `inspect` instead of `getValue` in `terminalProfiles` to consolidate workspace

[2021-06-03 20:44] nrayburn-tech opened #125441 "issue reporter debounce"
Issue Type: <b>Bug</b>

issue reporter debounce

VS Code version: Code - Insiders 1.57.0-insider (Universal) (20df87725d3ce4a501187f0240c2f159aa0ad2a5, 2021-06-03T06:00:36.788Z)
OS version: Darwin x64 20.5.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz (8 x 2800)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>meta

[2021-06-03 20:44] Tyriar opened #125443 "Consider moving profile detection to renderer"
@meganrogge found an [issue ](https://github.com/microsoft/vscode/issues/125440)when verifying https://github.com/microsoft/vscode/issues/121470 where the root cause seems to be that `IConfigurationService` as run on the shared process (common/configurationService.ts) does not depend on workspace trust, which means the workspace profiles aren't being detected properly.

We're going to workaround t

[2021-06-03 20:44] #124434 closed

[2021-06-03 20:44] #125441 closed

[2021-06-03 20:45] #125332 closed

[2021-06-03 20:45] meganrogge commented on #121470
Complication reported here https://github.com/microsoft/vscode/issues/125440

[2021-06-03 20:45] JacksonKearl commented on #124531
Good catch, thanks.

[2021-06-03 20:48] hediet commented on #125332
Nice catch! And what a nasty bug.

I only tested commands without args and they worked.
However, if you use arguments, they get disposed in the extension host when the cache is cleared.
Unfortunately, the cache was cleared immediately after the command is invoked. This was enough to make the commands not work.

[2021-06-03 20:49] hediet commented on #125328
Thanks for reporting this! Yes, this scenario is currently not supported.

[2021-06-03 20:50] roblourens opened #125444 "Can't open notebook diff twice"
- Open notebook diff from SCM viewlet
- Close it
- Open it again
- Get this error

[code]

[2021-06-03 20:50] hediet commented on #125325
You can define your own shortcut!

[code]

[2021-06-03 20:50] #125325 closed

[2021-06-03 20:51] #125378 closed

[2021-06-03 20:51] DonJayamanne commented on #125417
Whoa, I was always under the impression this was already happening, sounds like VS Code looks for updates after it has been updated and loaded.

Yes please, this sounds like a very good feature.

[2021-06-03 20:54] mjbvz commented on #125425
One issue per issue please. Let's track `\newcommand` here since it more info about it has been posted

Please split the css issue to a separate issue

[2021-06-03 21:00] hediet commented on #125294
I'm moving this to next milestone.

Accessibility is important to me, but the actions are already focusable if "Tab Moves Focus" and "Screen Reader Optimized" are enabled.
I have to admit though, that tabbing through all the actions every time is inconvenient.

However, all those actions already have their own shortcut (which can be triggered even if the hover is not shown). So once you tab throug

[2021-06-03 21:01] #124843 closed

[2021-06-03 21:03] #125313 closed

[2021-06-03 21:07] jantari opened #125447 "Winget - suppress autolaunch of vscode after installation completes"
Hi, I'm tagging @lszomoru because I can see you've previously worked on the winget publishing pipeline. Thanks for that!

TLDR: Please change the winget manifests so that VSCode does not autolaunch after being installed

Currently, all of the winget manifests for vscode rely on wingets "generic" or "default" handling of inno installers for installation, and the default arguments passed to the inst

[2021-06-03 21:10] #125444 closed

[2021-06-03 21:15] connor4312 commented on #121883
The treatment service does not seem to like me, for some reason. Unmarking as verified for someone else to give it a shot. Note that you need to repeatedly open VS Code windows with new user-data-dir's until you get into the treatment.

[2021-06-03 21:20] stamblerre opened #125448 "Semantic token modifiers do not appear to affect colors"
The Go language server uses the semantic tokens feature and applies modifiers to certain semantic tokens, such as strings. The goal is to achieve special colorization for formatting directives and special characters, e.g.:

![Screen Shot 2021-06-01 at 5 25 48 PM](https://user-images.githubusercontent.com/5856771/120392398-6eb88400-c2fe-11eb-8dc3-a50f35a791bf.png)

However, these modifiers do not s

[2021-06-03 21:22] mjbvz commented on #125205
Yes this used to work but I think [this change](https://github.com/microsoft/vscode/commit/f3bb41a804b941fcddd079c67417146ee88c7461) deleted the code

The key part was where it was `updateEditorAssociationsSchema` and the original schema definition using `anyOf`. The same general approach should work with an object literal instead of the array, but you'll have to update the schema structure

[2021-06-03 21:27] #124405 closed

[2021-06-03 21:34] rebornix commented on #122710
It's a mix of two features:

* click on insert toolbar will not steal focus
* changes to no focused editor will not trigger relayout if possible (in this case, the left side editor only gets a model change, so no folding/collapse change

[2021-06-03 21:40] rebornix commented on #117937
We don't have `editable` metadata anymore.

[2021-06-03 21:40] #117937 closed

[2021-06-03 21:43] banderlog commented on #110528
Here you go

[code]

[2021-06-03 21:45] joyceerhl opened #125449 "Global CSS is not applied between notebook markdown cells"
Split out from https://github.com/microsoft/vscode/issues/125425, originally reported by @chandresh

## With VSCode

I usually add the common CSS and latex/katex newcommands on the the first markdown cell:

![Screenshot 2021-06-03 at 10 10 24 AM](https://user-images.githubusercontent.com/57285/120589170-11cfe180-c456-11eb-9669-0b3fe4e26183.png)

Then in any markdown cell, I am able to use those:

[2021-06-03 21:47] joyceerhl commented on #125417
@rebornix thanks for the pointer to https://github.com/microsoft/vscode/issues/121749, Jupyter extension should adopt this.

[2021-06-03 21:54] JacksonKearl commented on #122680
![image](https://user-images.githubusercontent.com/8586769/120716904-8b2dfb00-c47b-11eb-81ba-ce9b8e2b1995.png)

[2021-06-03 21:55] rebornix commented on #120577
I'm not seeing the weird color anymore, for changing the background, let's discuss in June.

![image](https://user-images.githubusercontent.com/876920/120716969-a4cf4280-c47b-11eb-9374-e519c46bded3.png)

[2021-06-03 22:00] #122680 closed

[2021-06-03 22:02] #125433 closed

[2021-06-03 22:11] #123522 closed

[2021-06-03 22:12] sbatten commented on #125406
fixed via https://github.com/microsoft/vscode/commit/df59dc8470a442cb781101ed74a94f2274ca14b2

[2021-06-03 22:12] #125406 closed

[2021-06-03 22:12] sbatten commented on #125435
https://github.com/microsoft/vscode/issues/125406

[2021-06-03 22:12] #125435 closed

[2021-06-03 22:16] sbatten commented on #125429
Hmm, for the dialog? I don't think we want to overload with more lines of text. A button was the alternative but it means the user cannot open the docs without closing the dialog.

[2021-06-03 22:20] hogpilot opened #125451 "Debugging node app pauses unexpectedly when a Worker is created"
Issue Type: <b>Bug</b>

After updating my VS Code, my debugging experience became unpredictable and would pause unexpectedly.  I've traced down the root cause in my code to an instantiation of a node `Worker` (from the `worker_threads` module).

I have created a simple reproducible scenario with instructions [here](https://github.com/hogpilot/vscode-debug-test).

The problem manifests when a worke

[2021-06-03 22:24] kieferrm commented on #125393
Ok, this one was weird because eventually I realized that I saw it in some windows and not in others. Turns out that I had `"notebook.experimental.useMarkdownRenderer": false` in my settings which caused this effected when a window with a notebook editor was restored. Once we get rid of old markdown rendering code, this issue is fixed.

[2021-06-03 22:31] connor4312 commented on #117936
Notebooks don't work in liveshare for me, not sure how to verify the bug that Jackson saw: I got a notification that the "participant is not editing a shared document" when in a notebook

[2021-06-03 22:31] kieferrm opened #125452 "Notebook layout action names"
Right now, as a user I'm not quite sure what the difference between the two actions is. To make it more clear I propose the following renames:

`Select Notebook Layout` -> `Select between Notebook Layouts`

`Configure Notebook Layout Settings` -> `Customize Notebook Layout`

[2021-06-03 22:33] rzhao271 commented on #110450
@tamuratak I'm unable to reproduce your issue on the latest Insiders on Windows. Is it still showing up for you?

[2021-06-03 22:36] rzhao271 commented on #123563
@jrieken is it expected for the notebook tab to just close upon running the command to restart the extension host?

[2021-06-03 22:36] alyssajotice commented on #117936
Hey @connor4312, Live Share support for notebooks is currently not working because it's not caught up to the new VS Code APIs.  I'm working on a fix and it should be done soon.

[2021-06-03 22:36] connor4312 commented on #120284
There is still a bug here: with autosave off, the file is not marked as dirty until it is focused the first time

![](https://memes.peet.io/img/21-06-20ed646c-f20e-4da2-8e33-7bf972a45827.gif)

[2021-06-03 22:41] sbatten commented on #125047
This happens only when you reload a window with the extensions viewlet open. There is a short duration that needs to be awaited before the trust state is correct. Since the viewlet code is all sync, I cannot reliably get the right state.

We added this to make it easier for users to discover that they are in restricted mode. As they may not be aware of restricted mode but they may look in the exte

[2021-06-03 22:42] sbatten commented on #125047
@sandy081 let me know if you want to bring this back into the milestone

[2021-06-03 22:43] JacksonKearl opened #125453 "Trusting LiveShare session causes '/' to be trusted"
1. Start LiveShare of msft/vscode in one window
2. In different window, join the session
3. See request for trust, Manage Trust, then click the Trust button
4. See that `/` has been trusted

I note that when I open the workspace folder config file, I see:
[code]

[2021-06-03 22:44] JacksonKearl commented on #125453
![image](https://user-images.githubusercontent.com/8586769/120721380-920c3c00-c482-11eb-9acd-b172f133180b.png)

[2021-06-03 22:48] kieferrm opened #125454 "Proposal for Default Notebook Layout"
I have been tinkering around with a notebook layout that
- is easy to use
- makes it hard to lose the location in my notebook
- puts emphasize on keyboard shortcuts
- looks reasonably sleek
- addresses discoverability issues

What I came up with is below. I propose we use that as our default layout. It does not show that we can move the toolbar into the default editor toolbar location, but it make

[2021-06-03 22:54] ryenus opened #125455 "[Go to File] Cannot find renamed file in current project"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.56.2
- OS Version: macOS 11.4

I have a repository opened in vscode, in which the **README** file was renamed from **README.VER** in certain recent commits. After pulling the latest commits, I could no longer reach to the renamed README file via <kbd>Cmd + P</kbd>, even though the file is clearly there as shown i

[2021-06-03 22:58] vichargrave opened #125684 "Cannot debug code or open the InternalTerminal with Python Extension on Kali Linux."
<p>Issue Type: <b>Bug</b></p>
<ol>
<li>Run code.</li>
<li>Select Terminal &gt; New Terminal from the top menu.  Terminal window opens at the bottom of the screen but is unrepsonsive.</li>
<li>Load a Python program.</li>
<li>Select Run &gt; Run Without Debugging from the top menu.  Same outcome as step 2.</li>
<li>Run code --disable-extensions.</li>
<li>Repeat step 2, same outcome.</li>
</ol>
<p>VS

[2021-06-03 22:58] #125027 closed

[2021-06-03 23:04] #125452 closed

[2021-06-03 23:20] misolori commented on #124612
It looks like the `selection` has been broken for a while now sine I can repro in stable. The fix here is to make this appear better for `boundary` and `all`. I'll create a separate issue for the selection state.

[2021-06-03 23:20] #124612 closed

[2021-06-03 23:27] LeoKac commented on #125341
Would love to see this feature in action!

[2021-06-03 23:28] tamuratak commented on #110450
Yes, I still see the issue.

Version: 1.57.0-insider
Commit: a62df5d6c53e844bfdc50694f943c3f34b6ff50e
Date: 2021-06-03T17:36:36.265Z
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Darwin x64 18.7.0

[2021-06-03 23:29] mjbvz commented on #125449
We intentionally block this today to prevent css from one outputted from leaking unexpectedly into other outputs

Marking as feature request to gauge how common this use case is

[2021-06-03 23:30] mjbvz commented on #125269
Checkin to code with #125351. Types and samples should be updated now too

[2021-06-03 23:30] #125269 closed

[2021-06-03 23:31] miguelsolorio opened #125456 "Rendering whitespace on selection in HC does not appear"
<img width="492" alt="CleanShot 2021-06-03 at 16 28 00@2x" src="https://user-images.githubusercontent.com/35271042/120724439-ac491880-c488-11eb-8e63-41d8ece9aff1.png">

Compared to default dark:

<img width="374" alt="CleanShot 2021-06-03 at 16 28 12@2x" src="https://user-images.githubusercontent.com/35271042/120724463-b703ad80-c488-11eb-924e-0c6a4879c294.png">

Yet it does show up when you set wh

[2021-06-03 23:32] mjbvz commented on #120276
Update the sample extension to use this too

@connor4312 or @tanhakabir It looks like you've been publishing the generator. Could you please take a quick look  at the changes and publish if everything looks good?

[2021-06-03 23:32] #120276 closed

[2021-06-03 23:32] mjbvz commented on #125255
Fixed by DefinitelyTyped/DefinitelyTyped#53589

[2021-06-03 23:39] tamuratak commented on #110450
I also see the issue on Windows.

I have added the following step to reproducing steps.

Version: 1.57.0-insider (user setup)
Commit: a62df5d6c53e844bfdc50694f943c3f34b6ff50e
Date: 2021-06-03T17:38:02.890Z
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.19042

[2021-06-03 23:42] JacksonKearl commented on #116976
Now that we've changed the header, this doesn't really make sense. Going to just close this out.
![image](https://user-images.githubusercontent.com/8586769/120725346-989eb180-c48a-11eb-902e-d2e4d73cf998.png)

[2021-06-03 23:42] #116976 closed

[2021-06-03 23:42] mjbvz opened #125457 "test"
Issue Type: <b>Bug</b>

test

VS Code version: Code - OSS Dev 1.57.0 (Commit unknown, Date unknown)
OS version: Darwin x64 20.5.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-9980HK CPU @ 2.40GHz (16 x 2400)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>metal: disabled_off<br>multiple_raster_threads: enabled_on<br>oop_rasterization:

[2021-06-03 23:43] misolori opened #125458 "Notebook insert toolbar location not respected when global toolbar is enabled"
<img width="751" alt="CleanShot 2021-06-03 at 16 41 53@2x" src="https://user-images.githubusercontent.com/35271042/120725389-b23ff900-c48a-11eb-8d7b-6d986de9b469.png">

Enable the global toolbar and set `"notebook.insertToolbarLocation": "betweenCells"`, you'll notice that the "+ Code" actions are still in the toolbar even though the setting has it set to between cells

[2021-06-03 23:56] #125234 closed

[2021-06-04 00:03] #125458 closed

[2021-06-04 00:05] #125158 closed

[2021-06-04 00:11] mjbvz commented on #121705
I am also seeing this on MacOS

Steps:
1. On MacOS
2. With `"terminal.integrated.splitCwd": "inherited"` (the default)
1. Open a new terminal
2. `cd node_modules`
3. Split (either using button or shortcut)
4. 🐛 New terminal is still in the root of the project

Here are the logs

<img width="1759" alt="Screen Shot 2021-06-03 at 5 11 08 PM" src="https://user-images.githubusercontent.com/12821956/120

[2021-06-04 00:20] JacksonKearl opened #125459 ""notebook.cellBorderColor" colors output backgrounds?"
![image](https://user-images.githubusercontent.com/8586769/120727651-ef5aba00-c48f-11eb-8788-d23e21b68118.png)

[2021-06-04 00:20] mjbvz opened #125460 "Split terminal lacks scrollbar"
Issue Type: <b>Bug</b>

**Repro**
1. On MacOS
1. Open terminal
1. EDIT: Move tabs to left
1. Run a comment with lots output so it scrolls
1. Split the terminal
1. Make the split terminal scroll too with lots of output

**Bug**
For me, the original terminal (the one on the left) now no longer has a scrollbar

<img width="1228" alt="Screen Shot 2021-06-03 at 5 17 05 PM" src="https://user-images.gith

[2021-06-04 00:22] JacksonKearl commented on #125459
I guess `"notebook.outputContainerBackgroundColor"` defaults to the border color? Changing that resolves the issue so I'm not sure if this is expected.

[2021-06-04 00:23] JacksonKearl opened #125461 ""notebook.focusedRowBorder" does not work"
Set to black, still blue.

![image](https://user-images.githubusercontent.com/8586769/120727826-6001d680-c490-11eb-8b95-97e2a4ecdc19.png)

[2021-06-04 00:25] JacksonKearl commented on #125461
Oh, maybe it's "focusedEditorBorder"? Again feel free to close if this is expected

[2021-06-04 00:25] JacksonKearl commented on #125461
More questions: `notebook.focusedRowBorder` also seems to not apply to anything

[2021-06-04 00:28] JacksonKearl commented on #125461
`"notebook.focusedRowBorder": "#00000000",` based on the description, I'd expect this to remove the top/bottom bars I see for the currently selected cell. In fact, it doesn't seem to do anything.

[2021-06-04 00:32] JacksonKearl opened #125462 "Allow theming notebook output borders"
I'd like to have the output borders be black to match the rest of my theme.

![image](https://user-images.githubusercontent.com/8586769/120728375-9db32f00-c491-11eb-94fc-9aabdc0ec0ea.png)

[2021-06-04 00:38] JacksonKearl commented on #65310
Works fine for me.

[2021-06-04 00:49] sbatten commented on #122520
I'm not sure why I got lucky before with the timing, but the preventDefault just doesn't work for this now. You can bypass the dialog, but at least its not just clicking. Can try something better next week.

[2021-06-04 00:50] mjbvz commented on #65310
Also seems to work for me on Windows: a62df5d6c53e844bfdc50694f943c3f34b6ff50e

The fix I checked in yesterday was Windows and Linux specific. I believe it always worked on MacOS

[2021-06-04 00:52] alefragnani commented on #125311
Hi @weinand ,

I’m wondering what do you mean about _debugging is not supported on iPad_, because I’m able to debug console apps using Go, JS, C#, and would love to be able to keep using my iPad on those 😕 .

Or is it relative to debugging VS Code extensions (which I reported in #118383), or other projects that requires port forward (reported in #85254 -> https://github.com/MicrosoftDocs/vscodespa

[2021-06-04 01:18] roblourens commented on #118584
Thanks @connor4312.

@rchiodo it's the difference between html that comes from workspace content and html that comes from extensions.

@RandomFractals an example is that html outputs can have links that trigger vscode commands

[2021-06-04 01:23] roblourens commented on #125129
I mean the keys that correspond to notebook types

[2021-06-04 01:33] zhangenming commented on #125384
Why don't they, thanks

[2021-06-04 01:37] #125403 closed

[2021-06-04 01:38] digitarald opened #125463 "Command Palette skips results due to one missing letters"
As far as I understand Command Palette, the ability to skip letters is what makes it quick and customizable. When I search for opening logs I just type "oplog".

Somehow though, this case of "pyton issue" does not find "Python: Report Issue":

![pyto-what](https://user-images.githubusercontent.com/8599/120732803-c3910180-c49a-11eb-9bb7-22169309b608.gif)

[2021-06-04 01:40] zhaoyin88 commented on #125225
I use the open source vscode，the WSL-Remote is not open source,now I put the WSL-Remote to the builded vscode ,the fuction of WSL-Remote can't work

[2021-06-04 01:46] alefragnani commented on #125284
I’m not sure everyone is aware but, even without an ESC key on Apple Keyboards, you can use the _undocumented_ system-wide `Cmd .` (Command-period) keyboard shortcut.

BTW, the VS Code QuickPick works perfectly with it 😬

[2021-06-04 01:46] roblourens commented on #125436
We are disabling this for the release so we don't have to worry about it for now.

In the future we can keep the setting or add a CLI flag that you can pass

[2021-06-04 01:47] heartacker opened #125464 "can't delete multi-selected files 1.57.0"
Does this issue occur when all extensions are disabled?: Yes

版本: 1.57.0-insider (system setup)
提交: a62df5d6c53e844bfdc50694f943c3f34b6ff50e
日期: 2021-06-03T17:38:02.890Z
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.14393

Steps to Reproduce:

1. selection multi file
2. delete them
3. just delete the frist selected file and report an erro

[2021-06-04 01:48] heartacker commented on #125464
BTW, stable version is working well

[2021-06-04 01:48] roblourens commented on #125188
I don't see this...

![image](https://user-images.githubusercontent.com/323878/120733567-554d3e80-c49c-11eb-8f6a-23dc541011d4.png)

[2021-06-04 01:49] RandomFractals commented on #118584
ok. I did likes and dislikes on this feature implementation, ideas, and proposed approaches with my thumbs up and down.

Please view them as agree or disagree. Thanks!

[2021-06-04 01:55] joyceerhl commented on #125188
Definitely still seeing this on Windows and Insiders a62df5d6c53e844bfdc50694f943c3f34b6ff50e. Interestingly I can't repro this on macOS. @roblourens what's your setup?

![image](https://user-images.githubusercontent.com/30305945/120733765-9c3b3400-c49c-11eb-81d3-63246b0b4abe.png)

Output renderer is the built-in one:
![image](https://user-images.githubusercontent.com/30305945/120734077-208db700-c

[2021-06-04 02:00] Xinyu-Wu-0000 commented on #125371
@rebornix I have the latest Jupyter extension, and I find the error messages below:

[code]

[2021-06-04 02:08] tommai78101 commented on #32320
@ipa1981 Forget it, make a new issue. There aren't any activities being made from someone tagged as "Member" in this issue.

[2021-06-04 02:15] sbatten commented on #125430
I could reproduce this with a trusted folder being added to a restricted mode empty workspace. However, I could only do so in Insiders but not in OSS. Did anything change in the last 24h?

[2021-06-04 02:17] joyceerhl commented on #125436
Just to confirm @roblourens did you mean the notebook start page is being disabled for the upcoming release?

[2021-06-04 02:26] anka-213 commented on #108439
This is extremely frustrating and forces me to press escape before pressing enter each time and makes the debug console almost unusable. Does anyone actually want the current behaviour?

[2021-06-04 02:35] sbatten commented on #125318
@roblourens I was trying to repro this.

My conditions:
1. I have the vscode repo opened which is trusted
2. from integrated terminal, I run `code-insiders fromcli.github-issues`
3. no prompt because the file is "created" in the vscode repo (the path of the open editor has a full path)
4. reload
5. still no prompt

Where the file is "created" is important. If I do this where the path to the new no

[2021-06-04 02:35] linsui opened #125466 "Git Auto Respository Detection open unrelated repos"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 4.56.2
- OS Version: Windows 10

Steps to Reproduce:

1. Set Auto Respository Detection as openEditors
2. Open a directory with many git repos

Sometimes it keeps opening lots of unrelated git repos though I don't open a file in those repos.

[2021-06-04 02:49] zhiyun1 commented on #124246
In fact, the problem has not been solved. I tested with this version (Version: 1.57.0-insider) and the images still haven't been updated.

I also tested the  minimal project example above, and it repeats the problem.

Tset result:

![20210604103251](https://user-images.githubusercontent.com/81798000/120737646-0b5a6c00-c521-11eb-8300-c05543ce7a7d.png)

Expected result:

![20210604104806](https://us

[2021-06-04 03:02] rayshoo opened #125467 "Ubuntu us-colemak keyboard layout not working CapsLock(Backspace) in code"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.56.2
- OS Version: 18.04.1-Ubuntu SMP Fri Apr 16 15:10:02 UTC 2021

Steps to Reproduce:

1. install Ubuntu 18.04 LTS Gnome Desktop X11
2. Set Keyboard Layout colemak US
3. install visual code with snap
4. other process works CapsLock(Backspace), but code doesn`t

[2021-06-04 03:13] iron-coder12 commented on #125383
hmm ok lemme see

[2021-06-04 03:24] xrkk commented on #124176
Now I open the folder with WSL-Windows, and it works!

[2021-06-04 03:58] Kurt-von-Laven commented on #118886
Our team has also encountered this issue frequently on both Linux and Windows. We do use GitLens and haven't tested with all extensions disabled.

[2021-06-04 03:59] applemonkey496 commented on #123926
I am able to reproduce the error. Here is a gif:
![Error](https://user-images.githubusercontent.com/55333787/120743642-4079a680-c4ae-11eb-9479-a835f1a511af.gif)

I've blacked out my username but the blacked out part is just `/home/username`.

[2021-06-04 04:04] Kurt-von-Laven commented on #113593
Indeed! I greatly prefer the current/incoming nomenclature VSCode uses, and it would be great to use that consistently.

[2021-06-04 04:14] Kurt-von-Laven commented on #31153
@jmbockhorst would you be willing to open a PR with the impressive features you demoed? If more features are desired, they could go in a separate PR, or someone else could build atop of your hard work.

[2021-06-04 04:19] Lycolia commented on #121722
It's amazing!
I confirm it solved following environment!

バージョン: 1.56.2 (user setup)
コミット: 054a9295330880ed74ceaedda236253b4f39a335
日付: 2021-05-12T17:13:13.157Z (3 週間前)
Electron: 12.0.4
Chrome: 89.0.4389.114
Node.js: 14.16.0
V8: 8.9.255.24-electron.0
OS: Windows_NT x64 10.0.19042

[2021-06-04 04:22] eamodio commented on #124024
@hediet why is this proposal not still open? Normally for proposals, we keep them open until the api is finalized and shipped. So that users/extension authors can track the proposal more easily.

[2021-06-04 04:49] gregvanl opened #125468 "Typo in github-enterprise.uri description"
- VS Code Version: 1.57.0
- OS Version: Windows

Setting description is "URI of your GitHub Enterprise Instanace".
"Instanace" should be "Instance".

[2021-06-04 05:20] ReclaimerNo opened #125469 ""Always On Top" mode"
Can you please add an "always on top" mode to the editor.  I want the editor to remain on screen as I switch between the editor and another full screen window.

[2021-06-04 05:37] Mr-Smarty commented on #124645
This issue is still marked with needs-more-info. If I read correctly, issues with this label are closed after a week with inactivity. Is there any more information I can give to help solve this issue?

[2021-06-04 05:41] bpasero commented on #125411
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2021-06-04 05:42] bpasero commented on #125430
See https://github.com/microsoft/vscode/issues/69335

[2021-06-04 06:01] bpasero commented on #65310
@mjbvz fyi we have a standard context menu that we show in all input fields:

![image](https://user-images.githubusercontent.com/900690/120753133-0094dc80-c50b-11eb-862b-b370f12c8447.png)

I am not sure if you can detect whether the thing under the mouse is editable (= input field) or not and then show either this context menu or one with only things that work in readonly contexts (e.g. not "Cut")