[2020-05-06 20:16] ravipal opened #97092 "Not all views are displayed - missing vertical scroll."
- VSCode Version: 1.44.2 (Also in 1.45.0-insider)
- OS Version: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Install Docker extension
2. Increase the zoom level by (Ctrl +)
3. Open the Docker Explorer view
4. Views at the bottom are hidden

Please check the attached screenshot, only the first 4 views are displayed, the remaining 3 views are hidden and no scroll bar to display all the views
!

[2020-05-06 20:25] misolori commented on #96952
I'm personally not a fan of this given that the status bar was never intended to align with the activity bar and that the sidebar can also be placed on the right side. This would also introduce inconsistencies with regular status bar items that use only a single icon. Will close this as `as-designed`.

[2020-05-06 20:25] #96952 closed

[2020-05-06 20:31] misolori commented on #96806
I think you're right, I can't repro this again and I must've ignore it at some point. Sorry for the false alarm.

[2020-05-06 20:31] #96806 closed

[2020-05-06 20:36] blachawk commented on #69168
Any takers from the vscode team willing to take this task on and make it rain?

[2020-05-06 20:48] KittyYeungQ opened #97093 "Outdated QDK extension automatically installed on VS code and cannot automatically update"
Transferring issue submitted here:
https://github.com/microsoft/qsharp-compiler/issues/427

- VSCode Version: macOS 10.13.6
- OS Version: Visual Studio Code 1.25.0

Unable to update the QDK on macOS. Tried uninstalling and reinstalling but not resolved.

**To Reproduce**

1. - Install an earlier version of the QDK.  0.2.118063001 was installed (yes, from June 2018).
2. - Try to install a newer ver

[2020-05-06 20:56] jxe142 commented on #94971
Agreed @makluv the whole viewport seems way darker than the rest of my applications. I had a feeling it was with the new iris plus graphics.

[2020-05-06 20:57] deathly809 opened #97094 "Different spacing in front of text for search and replace fields"
There seems to be some extra spacing before the text in the search field that is not present in the replace field.

- VSCode Version: 1.45.0-insiders
- OS Version: Windows 10

Steps to Reproduce:

1. Open Search replace for document

Does this issue occur when all extensions are disabled?: Yes/No
Yes

![image](https://user-images.githubusercontent.com/1381210/81227438-48ac9d00-8fa1-11ea-8e94-a40ca

[2020-05-06 20:58] chq-matteo opened #97095 "Support DocumentSymbolProvider in CustomTextEditor"
I think it would be a great idea if CustomTextEditor supported DocumentSymbolProvider  since CustomTextEditor use TextDocument as a model.

For example, I am writing an extension with the new CustomTextEditor APIs for special xml files that can be rendered in a special way. I have written a DocumentSymbolProvider for xml files with this schema and I expected the Outline view to be populated by the

[2020-05-06 21:00] pedrowindisch commented on #97083
Quando isso aconteceu comigo, precisei reinstalar os pacotes redistributíveis do Visual C++. Esse problema, porém, aconteceu comigo no Visual Studio, e não no Visual Code. Não sei se a solução servirá pra você. Qualquer coisa, [segue o link para o site da última versão suportada.](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads)

Por questões de internacion

[2020-05-06 21:00] kdrag0n commented on #96952
In most areas of the rest of the UI, bars that intersect have matching widths/heights. For example, the tab and search bars have matching heights so they look consistent. When the explorer is open and breadcrumbs are enabled, they still match. In the Settings view, the search and scope bars have the same width. Why should this be an exception to all of the other bars?

It's especially distracting

[2020-05-06 21:01] chq-matteo commented on #97095
This is a screenshot of Google Colab for reference
![image](https://user-images.githubusercontent.com/6654800/81227898-715a8400-8fed-11ea-9774-c5c9ad4b7850.png)

[2020-05-06 21:02] eamodio commented on #93604
While I can't really offer any concrete "teeth" outside of tracking issues and championing them -- which I am definitely doing. At the same time, I believe I can confidently say that the call has definitely had an impact on planning.

For example, the following are all in-progress in one stage or another (some in spec/planning, others in implementation)
- Dashboard stats — #94744
- Pre-release ext

[2020-05-06 21:05] nsgundy opened #97096 "Workspace config - folder specific files association not working"
- VSCode Version: 1.44.2
- OS Version: Ubuntu 19.10

Steps to Reproduce:
1. Open a `.code-workspace` that has `files.associations` configured using the `workspaceFolder` variable like so:
[code]
2. Open a `.c` file located in the `${workspaceFolder:Other}` location and observe that the language mode is displaying `C`, instead of the expected `C++`.

Does this issue occur when all extensions are di

[2020-05-06 21:08] misolori commented on #96952
Unlike the other areas, the status bar doesn't have a fixed-width for the items below. The other areas you mentioned all have a consistent height. That's the difference. Additionally, when the sidebar is on the right side, then this would not look good.

This is only in the case when you are not connected to remote, otherwise it breaks (which is why I think this wouldn't work here). You can always

[2020-05-06 21:11] Tyriar commented on #95570
@zersiax sorry, you're too quick 😃 I'll post a better summary of the problem soon, followed by a proposal.

[2020-05-06 21:12] mloutris opened #97097 "'reversed' not reversed when parsing ordered lists in HTML5."
Visual Studio Code Version: 1.44.2 (system setup)
Electron:  7.1.11
Chrome:  78.0.3904.130
Node.js:   12.8.1
V8:           7.8.279.23-electron.0
OS:           Windows_NT x64 10.0.18362
Parsing HTML5 pages with ordered lists, the list numbers are **not** reversed, and appear in ascending order from top to bottom. When I display the file index.html in a Chrome browser, the numbers are reversed, decr

[2020-05-06 21:33] adamgajzlerowicz commented on #81537
Hi, another contender here :smile:

Seems that when `keybindingResolver` tries to match the event to possible contexts, none of them are. The file has `// TODO@chords` comments all over it too. Maybe it targets this specific issue? :thinking:

The quick fix would be this: https://github.com/microsoft/vscode/pull/97098 but I am not sure if this is the right way of doing it. Perhaps `KeybindingsRegi

[2020-05-06 21:44] giosmasj opened #97099 "Nothing Loading"
Issue Type: <b>Bug</b>

No matter what I cannot get files to load in VS Code. Received error about typescript crashing 5 times

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:07:18.473Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz (12 x 2600)|
|GPU Status|2d_can

[2020-05-06 21:46] felipecassiors commented on #83678
@weinand why not support something like what you suggested, `commandline`, but in VS Code itself?

It could be also `commandLineArgs`, `argsString`, `argsLine`. And there is no need for ditching the old `args` array. We could either pass `argsString` after the `args` when runnning the program, or maybe respecting their order written in the JSON.

[2020-05-06 21:49] roblourens commented on #94095
Added a keybinding for insert code cell above/below (and added some other keybindings from your list)

[2020-05-06 21:49] #94095 closed

[2020-05-06 21:52] felipecassiors commented on #83678
For example, `"_args": "-o abc \"file name\""` should be treated as `"args": ["-o", "abc", "file name"]`.

Or maybe, better yet if there is how, pass the entire string, not converted to an array, to the program to execute and leave the expansion for the shell. (But I suppose there is no shell in this case).

[2020-05-06 21:53] evangrayk opened #97100 "Updating comments force focuses editor"
- VSCode Version: 1.44.2
- OS Version: macOS

Steps to Reproduce:

1. Have an extension providing in-editor comments via the comments API
2. Open an editor containing comments
3. Focus the terminal at the bottom
4. Run a command which causes the comments to be updated. For our comment provider, we automatically detect comments associated with your source control commit. So, for example,  use the c

[2020-05-06 21:54] danilofuchs commented on #40233
@sandy081 taking a look into the recently announced [Github Codespaces](https://github.com/features/codespaces), I now see how your approach really makes sense when dealing with repository-bound configurations.

If I work locally on a Github repository, such as VSCode's, with the proposed solution, my synced `settings.json` would look like this:

[code]

When I spin up a Codespace to work remotely

[2020-05-06 22:25] pavel-zhigulin opened #97102 "Kill terminal instance action freezes VSCode"
- VSCode Version:
Version: 1.44.2 (system setup)
Commit: ff915844119ce9485abfe8aa9076ec76b5300ddd
Date: 2020-04-16T16:36:23.138Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

- OS Version:
Name: Window 10 Pro
Version: 1909
Build: 18363.778

- Poweshell version
Name: ConsoleHost
Version: 5.1.18362.752
InstanceId: e261b089-1528-46e9-a

[2020-05-06 22:26] eamodio commented on #96927
The call will be held on May 7th (tomorrow) at 9 am Pacific Time.

[2020-05-06 22:41] philliphoff commented on #81007
@alexr00 Any update on when this might go from "proposed" API to "official" API?  We have a new extension that makes use of `CustomExecution` and customers have also asked for support of variable expansion in the task definition ([vscode-dapr#94](https://github.com/microsoft/vscode-dapr/issues/94)).

[2020-05-06 22:44] justin13888 opened #97103 "Incorrect Typescript Textmate Scopes multiline type declarations"
- VSCode Version: 144.2
- OS Version: Windows 10 1909

Steps to Reproduce:

1. Paste the following code in a typescript file
[code]

Does this issue occur when all extensions are disabled?: Yes/No
Technically, yes. But the default themes use the same colours for the differing scopes. On most other colour themes, the different scopes use different colours.

You would see how the following code has

[2020-05-06 22:53] roblourens commented on #94408
I looked into this for a bit and I don't think it supports what I need currently, but I might be wrong.

Basically when you open the settings UI editor, you are opening a `vscode-settings:` URI. If we want "reopen with > text editor" we need to open a different resource. I am expecting to be able to either override the entry that says "Text Editor/Built-in", or to intercept the open that happens a

[2020-05-06 22:56] smith-xyz opened #97105 "Terminal background with unwarranted highlighting"
- VSCode Version: 1.44.2
- OS Version: WIN 10

Steps to Reproduce:

Not sure on its reproducibility, seems environmental but I can't seem to find settings to dictate the background.
1. Recently opened VS code, opened the terminal
2. typed npm test 'file' and the lines were now highlighting blue.

No new extensions/themes/local settings to powershell or cmd have been added between the time when the

[2020-05-06 22:57] connor4312 commented on #95939
Thanks, fixed in https://github.com/microsoft/vscode-js-debug-browsers/commit/9a305b6d7dbdacd62f75cc06d50a0837a31a5690. Will be in the next js-debug nightly (if you manually install it) and built-in to the first 1.46 insiders release.

[2020-05-06 22:57] #95939 closed

[2020-05-06 23:05] weinand commented on #83678
@felipecassiors the properties of the debug configurations in launch.json are not owned (or defined) by VS Code. They are owned by the debugger extension and are contributed by a JSON schema. If VS Code would introduce "commandLineArgs" all debugger extensions would have to adopt them.

My proposed solution works transparently and would not require adoption by debugger extensions.

In addition, th

[2020-05-06 23:36] wsmd opened #97106 "importModuleSpecifierEnding does not apply for module specifier completions (manual imports)"
- VSCode Version: 1.44.2
- OS Version: macOS 10.14.6

A while back, the `importModuleSpecifierEnding` preference was added to preferred path ending for auto imports (see #90405).

[code]

While this seems to work with auto imports (i.e. referencing an export of another file and letting the editor perform the auto import), it does not work with path completions when typing the import statement manu

[2020-05-06 23:37] MineFriend commented on #96896
non avete capito....

[2020-05-06 23:38] MineFriend commented on #96896
ma che c'entra il bot? ma chi ha mai nominato il bot???!!! io boh non ho parole
....

[2020-05-06 23:39] mich2k commented on #96896
Greve, comunque translascion me la segno

[2020-05-06 23:40] MineFriend commented on #96896
ma segnati quello che te pare professore

[2020-05-06 23:41] MineFriend commented on #96896
io mi segno greve

[2020-05-06 23:41] thiagomota456 opened #97107 "Search is only searching open files [2020]"
Whe i search with `ctrl + shift + f` the vs code only find between open files

`$ code -v`
`1.44.2`
`ff915844119ce9485abfe8aa9076ec76b5300ddd
x64`

`$ lsb_release -a`
`No LSB modules are available.`
`Distributor ID: Ubuntu`
`Description:    Ubuntu 20.04 LTS`
`Release:        20.04`
`Codename:       focal`

[2020-05-06 23:48] #96896 closed

[2020-05-06 23:51] rebornix opened #97108 "Find Widget has lower z-index than cell border"
- VSCode Version: Insiders
- OS Version: macOS

<img width="754" alt="image" src="https://user-images.githubusercontent.com/876920/81239450-c54b7580-8fb9-11ea-8986-998d126cd025.png">

[2020-05-06 23:51] thiagomota456 commented on #97107
It isn't my problem : https://stackoverflow.com/questions/60730541/vscode-only-search-open-files-in-a-workspace-2020

[2020-05-07 00:01] mprather opened #97109 "Timeline does not work with directories that are setup as junctions"
- VSCode Version: 1.44.2
- OS Version: Win 10.0.18363

Steps to Reproduce:

1. Setup a folder as a junction (mklink /j shortname longpath) of an existing folder
2. git clone a repo into the new folder
3. open a file from repo in vscode
4. View time line.

Result:
Timeline reports "no timeline information was provided"

Additional notes:
* If the git clone is created in a standard (non-junction) fo

[2020-05-07 00:08] gregg-miskelly opened #97110 "Debugger: error text from configurationDone is not shown to the user"
**Issue Type:** Bug

## Issue
If a debug adapter fails configurationDone, then debugging stops. But VS Code will no longer show the user the error message that the debug adapter sent.

This issue was previously reported and fixed (see https://github.com/microsoft/vscode/issues/87745) but it has regressed in the most recent version of VS Code (insiders and standard).

Insiders version that I checke

[2020-05-07 00:09] carl-menezes-aql commented on #40233
If it makes sense with Codespaces, then I would argue that is a problem Codespaces needs to gets right. In this example, Codespaces is effectively a stand-in for your machine.

So Codespaces might allow you to attach your local settings file (or even better just sync it directly from VSCode behind the scenes) and that's that. Your codespace would look the same as VSCode and everyone's happy.

In a

[2020-05-07 00:20] rebornix commented on #96676
already fixed.

[2020-05-07 00:20] #96676 closed

[2020-05-07 00:21] svzax commented on #96998
I have found this problem, and this has not only happened to me. The
problem is in Windows 10 scaling.

If the scaling is at 100% then smooth scrolling will work perfectly. Beyond
that, smooth scrolling does not work at all.

I have tested, scaling at 125%, 150%, and 170% on the FHD monitor, and
smooth scrolling does not work.

On Wed, May 6, 2020 at 10:50 PM Alexandru Dima <notifications@github.c

[2020-05-07 00:22] scullabyte commented on #4338
Any update on this? I was able to use `"console": "terminal",` on the debugger, however, it stopped working about a month or so ago. (`integratedTerminal` gets type-checked by VSCode telling me it isn't an option, btw). If anyone knows of any ways to quickly search debug output with the current setup I would love to hear it. I was copy/pasting console output into Sublime Text, until I found this:

[2020-05-07 00:33] rebornix commented on #96554
I think this is probably because of a wrong layout (height calculation) of markdown cells, which has some new fixes in master today. Closing it for now and reopen if we see similar issues again.

[2020-05-07 00:33] #96554 closed

[2020-05-07 00:35] rebornix commented on #96447
Right now `Ctrl+Enter` on a markdown cell will switch the cell to preview mode, does this behavior meet your expectation?

[2020-05-07 00:47] rhclayto commented on #41309
In other closed threads developers have said they are reluctant or unwilling even to include hooks for plug-in developers to make a toolbar plug-in. So rather than just being a low priority, it appears these developers actively oppose even making it possible to have a completely optional toolbar, even as a plug-in.

[2020-05-07 00:56] bnason-nf commented on #14836
@davmaz: I don't know any more than you do. It doesn't seem like there's been any progress that I can see.

However, today I updated the extension again, when you select each matching result, it should jump to that location and select the match, which should make it pretty easy to see.

[2020-05-07 00:57] andrewbranch commented on #97106
This should be transferred to the TypeScript repo when someone gets to it.

[2020-05-07 01:16] mjyeaney commented on #96804
Any input / updates here?

[2020-05-07 01:18] DamienGong opened #97111 "sizeof gives wrong size on a struct contain bitfields"
Issue Type: <b>Bug</b>

Ubuntu 20.4
c++ env

for example,

#include <netinet/ip.h>

sizeof(ip) should be 20, but vs code suggests 24
it is because it can't handle c++ bitfields correctly

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:50:03.709Z)
OS version: Linux x64 5.4.0-29-generic

[2020-05-07 01:19] erasermeng commented on #96659
so I think the launch script should be reserved？ @joaomoreno  @connor4312
![image](https://user-images.githubusercontent.com/8306959/81243982-c9bc7080-9043-11ea-9707-1188cf6d3236.png)

[2020-05-07 01:26] #96600 closed

[2020-05-07 01:26] JacksonKearl commented on #96600
\label api

[2020-05-07 01:28] Dragonfly-coding opened #97112 "Emmet not enabled/working on Visual Studio Code"
Hello, I am new to coding and I just downloaded VSC. I believe Emmet should be equipped and enabled already with a visual studio code download, but I am watching video on how to use VSC and none of the Emmet shortcuts the coders on the videos are using are working for me.

Whenever I try to type "!" or "html" or "<div" nothing appears on my screen as an option for autocomplete. (Note: exclude the

[2020-05-07 01:28] JacksonKearl commented on #96600
\label api

[2020-05-07 01:29] usama8800 opened #97113 "Extension activation event not working when command run through status bar icon"
- VSCode Version: 1.44.2
- OS Version: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Clone https://github.com/usama8800/VSCode-Command-Bug
2. Open in vscode and run with F5
3. Open a folder with a git repo in it
4. Open Command Palette and run `> Git: Checkout to....`
5. Notice `Extension enabled` in the main vscode window (not extension host)
6. Restart extension
7. Click the branch name on

[2020-05-07 01:33] JacksonKearl commented on #96600
\label api

[2020-05-07 01:36] JacksonKearl commented on #96600
fourth time's the charm...
\label api

[2020-05-07 01:47] roblourens commented on #96554
Yeah I haven't seen it again.

[2020-05-07 01:47] JacksonKearl commented on #96600
\label -api

[2020-05-07 01:49] JacksonKearl commented on #96600
now, when a label or assignee is prefixed with `-`, it will be removed. To escape this, simply use quotes as before: (replace `slash` with a slash)

[code]

[2020-05-07 01:55] ishen7 opened #97114 "Tab page multi-selection"
Issue Type: <b>Feature Request</b>

Currently VS Code does not support tab page multi-selection, hoping to increase the tab page multi-selection function, just like the Chrome browser.

VS Code version: Code - Insiders 1.45.0-insider (d4b8ec9da3bf1061a948fbb1b0d9d3db750cc79f, 2020-05-05T07:13:27.726Z)
OS version: Darwin x64 19.4.0

[2020-05-07 01:57] danogburn commented on #84745
I'm having this same issue with a centos 7 in a virtual box vm.  Opening right-click context menus will eventually crash the whole VM.

![image](https://user-images.githubusercontent.com/32211755/81246013-7d8e1380-8fe4-11ea-86c2-fcb0dbf99f1d.png)

[2020-05-07 02:24] #92191 closed

[2020-05-07 02:52] Fire- commented on #3932
Do we have an idea of the work breakdown required to actually implement this functionality?

[2020-05-07 03:46] misolori commented on #96608
This really comes down to two styles, the "pill" vs the "badge":

![image](https://user-images.githubusercontent.com/35271042/81252251-55011c00-8fda-11ea-936f-2f90de6582cd.png)

We could also explore doing a combo where we say all number counts use the "pill" and all others use the "badge" but I wonder if that would create inconsistencies. Created https://github.com/microsoft/vscode/pull/97104 whe

[2020-05-07 03:49] red0orange commented on #94651
I have this issue too, now have solutions?

[2020-05-07 04:41] SherozSahripov opened #97115 "suggestions"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-05-07 04:41] #97115 closed

[2020-05-07 04:51] alefragnani commented on #75426
I wouldn't say that keeping the breakpoint, bookmark, or any other decoration/data in the original line is correct either, because the command is `Copy Line Up/Down`, so users could expect that it should _copy_ the breakpoint/bookmark/etc to the next/previous line, duplicating it.

I'm not sure if copying/cutting the entire line _shouldn't_ bring its breakpoint/bookmarks (sometimes I hoped it shou

[2020-05-07 04:53] babul7154 commented on #95154
when we will get this new jupyter notebook?

[2020-05-07 05:07] RunningShrimp opened #97116 "TS Server fatal error: Cannot read property 'getSourceFiles' of undefined"
**TypeScript Version:** 3.8.3
**Steps to reproduce crash**
1.
2.
3.
**TS Server Error Stack**
[code]

[2020-05-07 05:28] bpasero commented on #96447
Did this change after I tested?

[2020-05-07 05:33] bpasero commented on #12622
Pinned tabs can be moved in and out to pin or unpin. The drop feedback will indicate what happens (e.g. if you drop on a pinned tab, the tab will be pinned and vice versa).

The only way to close a pinned tab is by explicitly closing it (e.g. via `Cmd+W` when active). Actions such as "Close All" or "Close Others" will not close pinned tabs. There are only a few exceptions, e.g. we have a "Close Al

[2020-05-07 05:47] sungle3737 opened #97117 "Folder explorer Fold level control like editor"
![fold example](https://user-images.githubusercontent.com/27716524/81258623-0e123580-9071-11ea-8b49-166a202202a6.gif)

## In Editor - feature exist
I can fold code by `ctrl` + `shift` + `] or [`

and  `shift` + `click`, `alt` + `click`

Especially `shift` + `click` is really great that change all shown fold level like upper gif

## In Folder Explorer - My request
- `alt` + `click` - working but fo

[2020-05-07 06:07] pikadun opened #97118 "Access `document` API from vscode extension"
There is a similar question here: https://github.com/Microsoft/vscode/issues/3011

I want to use document's api in extension to create html, and it can only be achieved by introducing packages like `jsdom`. This is unnecessary.

[2020-05-07 06:15] bpasero commented on #80858
@alexdima fyi I introduced a new cli flag `--crash-reporter-directory` that you can add even when running out of sources. It will enable the crash reporter for the extension host (via https://github.com/microsoft/vscode/commit/1648decaef77b762f455b81c9dfb1eff7c38c71f) and setup everything to store crashes locally.

I think this is actually better than asking the user for the AppCenter crash ID and

[2020-05-07 06:17] juxeii opened #97119 "The terminal shell path does not exist"
- VSCode Version: 1.44.2
- OS Version: RELH7

Steps to Reproduce:

1. Install https://marketplace.visualstudio.com/items?itemName=matepek.vscode-catch2-test-adapter
2. Install https://marketplace.visualstudio.com/items?itemName=hbenl.vscode-test-explorer
3. Add
[code]
to `tasks.json`.
4. Run this taks manually once.
5. Reload vscode

A warning shows up on the terminal output(the actual command is

[2020-05-07 06:26] Goutampatidar commented on #96705
Yes

On Wed, 6 May 2020, 1:44 pm Sandeep Somavarapu, <notifications@github.com>
wrote:

[2020-05-07 06:26] mjbvz commented on #97111
/extC++

[2020-05-07 06:27] #97111 closed

[2020-05-07 06:34] bpasero opened #97120 "Search: replaces first search result with a replace term"
[code]

[2020-05-07 06:36] Goutampatidar commented on #96705
On Thu, 7 May 2020, 11:55 am PATIDAR _G, <goutampatidar7415@gmail.com>
wrote:

[2020-05-07 06:46] bpasero commented on #88386
This seems to be more of a debugging problem than actually being able to use worker threads. E.g. I created an extension that uses this and it seems to work fine unless I debug.

[2020-05-07 07:05] kisamoto commented on #95563
Having a similar experience.

## Setup

[code]

## Expected Behaviour

* Copying text from "outside" VS Code (e.g. a web browser) "into" a file open in VS Code, pastes as normal with no delay.

## What actually happens

* VS Code freezes for around 50 seconds (on my system) and eventually recovers but without pasting

## Steps to reproduce

1. Copy some text from _outside_ VS Code
2. Paste into VS

[2020-05-07 07:15] sandy081 commented on #96705
Just FYI I do not see a screenshot yet

[2020-05-07 07:26] DonJayamanne commented on #88386
FYI - It worked for me while debugging.

[2020-05-07 07:35] Johnnywang92 opened #97121 "Character error"
I can't  type "^M" _<ctrl + v + m>_  in VScode.  I tried to typed in VIM but when I open the script with VScode, it shows a line break.

[2020-05-07 07:37] bpasero commented on #88386
What I mean to say is: it works for me even in Electron 7. But not when debugging.

[2020-05-07 07:38] surban opened #97122 "[error] [File Watcher (chokidar)] terminated unexpectedly and is restarted again..."
Issue Type: <b>Bug</b>

Using VS Code with the WSL extension to connect to a Ubuntu 20.04 distribution.

Log (Remote Server) displays the following message approximately every 2-3 minutes.
`[error] [File Watcher (chokidar)] terminated unexpectedly and is restarted again...`

Additionally the `.../out/bootstrap-fork --type=watchService` process in WSL is running constantly at 100% CPU load.

The se

[2020-05-07 07:39] hechenglo03 commented on #97122
me too

[2020-05-07 07:49] Delapouite commented on #91683
Looks likes a duplicate of https://github.com/microsoft/vscode/issues/37034 which should be addressed by the PR https://github.com/microsoft/vscode/pull/95713

[2020-05-07 07:50] bpasero opened #97123 "Electron: initialise crash reporter before app.on("ready")"
Steps to Reproduce (get latest from `master`):

1. add a `process.crash()` somewhere into workbench code that executes after a timeout
2. run `scripts/code.sh --crash-reporter-directory <path to empty folder>`
3. wait for the crash
4. check the output of the crash folder

=> no `dmp` file exists (but other files that seem to indicate the crash directory is picked up)

This works fine when triggeri

[2020-05-07 07:52] AndySampsonBusinesswiseSolutions opened #97124 "Add Folder View In Source Control Page"
Within the Source Control page, allow changes to be grouped by folder.
This will allow for easier searching/committing of changes when working in large projects and changes to a large number of files have been made

In the attached screenshot, I have changes in 160 files but, although they are ordered by folder, I might not want to commit a set of changes in a specific folder and this takes a lot

[2020-05-07 07:53] QuillVoy commented on #14836
Works like a charm.

[2020-05-07 07:53] bpasero commented on #97123
I actually see the same for forked process.

[2020-05-07 07:55] isidorn commented on #96782
Correct, seems like you are having some corner case setup with `files.include`.
I will not have time to debug this right now, thus assigning to backlog.
If you would like to investigate more, here's a code pointer where you can put a breakpoint
F1 > developer tools > sources
https://github.com/microsoft/vscode/blob/3a04fccaf89d9dafc70e64ab23504e15203360f4/src/vs/workbench/contrib/files/browser/vie

[2020-05-07 08:00] bpasero commented on #80858
I can a quick test and here is the result triggering a `process.crash()` within the extension host
* Windows: works!
* macOS: no crash dump
* Linux: no crash dump

[2020-05-07 08:01] bpasero commented on #97123
Here is the result of my OS testing:
* Windows
  * `main`: success
  * `renderer`: success
  * `child-process`: success
* macOS
  * `main`: success
  * `renderer`: fail
  * `child-process`: fail
* Linux
  * `main`: success
  * `renderer`: success
  * `child-process`: fail

[2020-05-07 08:03] isidorn commented on #95862
@roblourens ok, but why does the settings tree need to set them on elements inside each row?
If you prefer we can have a call where you can give me more details about how accessibility is working in the settings UI and we can toss ideas around on how to potentially fix this. Let me know what you think.

[2020-05-07 08:08] weinand commented on #95836
I like the pinning icons und could imagine to use the "pin" in the dynamic debug config sub-quickpick. We have no need for the "pinned" icon because we are not tracking whether an debug config was pinned (because it can be pinned many times for customisation).

@alexr00 would you start using the "pin" icon in task land as well?

[2020-05-07 08:16] nirmalsahoo opened #97125 "Problems: filter action should have aria-expanded set"
Environment Details:
VSCode Version : 1.44.2
OS Version : Win10
Additional Details:
Screenreader: NVDA[2019.3.1], JAWS[2020.70]
GitHubTags: #A11yMAS; #A11yTCS; #Win32; #DesktopApp; #A11y_VSCode; #MAS1.3.1; #MAS4.2.1

**Repro Steps:**
1)Open Visual studio code editor
2)Press ctrl+shift+M
3)Validate it's possible to navigate between items in the problems view
4)Navigate to the Problem tab and then n

[2020-05-07 08:18] weinand commented on #97013
@isidorn we have to be careful when changing the timeout of a disconnect, because it affects your "restart" logic both for normal debugging and EH debugging (where old sessions and new sessions might overlap and you keep things around in some maps).

Maybe another option could be to swallow the timeout silently?

[2020-05-07 08:18] kapilraghuwanshi opened #97126 "Should we have voice over option when extensions get installed/downloaded?"
We can have **voice over** checkbox option when extensions get installed in our VS code. So, the user can hear that aloud that -

It should be a checkbox option on _Extension settings (... on top right)_ where user can opt in or not, by default could be untick.

[2020-05-07 08:21] peredin commented on #15909
This would be a nice feature, I'd like it myself for sharing a base vscode configuration across my own computers.

[2020-05-07 08:27] alexdima commented on #80858
Thank you, this will be very helpful! ❤️

[2020-05-07 08:29] alexdima commented on #96998
Thank you for the extra information. Duplicate of #35711

[2020-05-07 08:29] #96998 closed

[2020-05-07 08:35] joaomoreno opened #97127 "Timeline: use more horizontal space"
Could we perhaps stretch out the content on the rows where no time label is present, and only crop them if the user hovers over? Feels like there's a lot of wasted space here.

Also, what if we could connect the icons?

![image](https://user-images.githubusercontent.com/22350/81272874-61bf5780-904e-11ea-882d-1f6ce608afa3.png)

[2020-05-07 08:37] joaomoreno commented on #96659
@erasermeng You're right, I've added the `Main Process` target back.

[2020-05-07 08:44] usernamehw commented on #23633
I was wondering if this is possible at all and didn't find anything.

This code works for me though:
[code]

[2020-05-07 08:45] nirmalsahoo opened #97128 "AutoScroll toggle loses focus"
**Environment Details:**
VSCode Version : 1.44.2
OS Version : Win10
**Additional Details:**
GitHubTags: #A11yMAS; #A11yTCS; #Win32; #DesktopApp; #A11y_VSCode; #MAS2.4.3; #MAS2.4.7; #A11ySev2;#CAITestPass_May2020;#Benchmark;#Visual Studio Code;
**Repro Steps:**
1)Open Visual studio code editor
2)Press ctrl+shift+M.
3)Validate it's possible to navigate between items in the problems view
4)Navigate t

[2020-05-07 08:48] #95856 closed

[2020-05-07 08:52] isidorn commented on #95836
Agree. We would use the pin icon only.
Thanks @misolori for pointing out those.

[2020-05-07 08:55] tweakimp opened #97129 "Add return type hint to function hover"
Right now, the hover over function calls does only show type hints for its arguments and the docstring, but not its return type hint.
![image](https://user-images.githubusercontent.com/20489521/81274802-18243c00-9051-11ea-8b88-f91d925a19bf.png)
It would be very helpful if the returning type would also be shown in the hover if there is a return type hint.

[2020-05-07 08:55] asurance opened #97130 "Wrong value should be replaced with default value when getting configuration"
I noticed that wrong value can be prompted as error by configuring `pattern`,`minimum` or something like this. However, I still get the wrong value  by `workspace.getConfiguration` and setting the wrong value will trigger `workspace.onDidChangeConfiguration`.Since the extension developer has restricted the value in the configuration, these wrong values should not be got by the extension developer,

[2020-05-07 09:01] KhogaEslam opened #97131 "can't install or open any extension"
Issue Type: <b>Bug</b>

Can't install any extension, removed the app completely and re installed it but still didn't work!

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:07:18.473Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz (12 x 2200)|
|GPU Status|2d_canvas:

[2020-05-07 09:05] alexr00 commented on #95836
For tasks, it isn't just about pinning, you can actually modify properties of the task when you click the gear. Since tasks have a recently used section, pinning isn't why I'd expect people to add tasks to tasks.json. Instead, they'd add them because they want to change some task properties. I don't find the pin icon to fit this as well as the gear.

For tasks, we have the gear entry point in Run

[2020-05-07 09:08] alexr00 commented on #95836
@isidorn, it should show on every task in the Run Task quick pick.

[2020-05-07 09:09] kjeremy commented on #97063
@matklad

[2020-05-07 09:12] bpasero opened #97132 "Build: integration test leading into renderer crash"
The CI build on Windows hit the renderer crash during integration test run:

https://monacotools.visualstudio.com/DefaultCollection/Monaco/_build/results?buildId=74277&view=logs&j=935a53e5-ce00-51d1-185d-b2f737723cea&t=a140d952-71c8-5ed6-fe55-f2b4c01d1569&l=477

This was luckily with the work included to create crash reports and the published artefacts are here: https://monacotools.visualstudio.co

[2020-05-07 09:13] creage commented on #66468
May I bump it please?

[2020-05-07 09:13] davguez opened #97133 "extension are not working when using the --force-user-env option"
On ubuntu 20.04, using the snap version of vscode, when starting from terminal with just "code", everything is fine, but when using the generated icon, the extension tab is refreshing infinitely.

actually the command line registered for the icon is

`env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/code_code.desktop /snap/bin/code --force-user-env --no-sandbox --unity-launch %F`

an

[2020-05-07 09:26] alexr00 commented on #81007
There is no plan to finalize it at the moment. It requires a fair amount more work since it only works for simple variables (not `input`, `command`, and `defaultBuildTask`). I think it would be confusing for user if they try to use a non-supported variable since it wouldn't be clear why some variables work in some parts of a task and don't work in other parts.

[2020-05-07 09:28] usernamehw commented on #97124
[code]

![81268422-d343d980-903f-11ea-953e-552a41bdb840](https://user-images.githubusercontent.com/9638156/81278313-2d539780-905e-11ea-8014-2f3770d34e1d.png)

[2020-05-07 09:30] AndySampsonBusinesswiseSolutions commented on #97124
omg, you are awesome!! :D

many thanks for pointing this out.

I will close this issue.

[2020-05-07 09:30] #97124 closed

[2020-05-07 09:32] dbaeumer commented on #96555
It is not about running tests. That I have under control now :-). It is to verify things under Linux. You remember the extension I gave you for testing. To make sure it is working in pure Linux I install Linux into WSL as well.

[2020-05-07 09:34] dbaeumer commented on #96555
I would be happy to have a switch `--forcePlatfrom` or something. The I would add a alias to my bashrc.

[2020-05-07 09:35] dbaeumer commented on #15178
@jrieken please ping me if you have something. I would like to use it in the LSP client libs to only sync documents that are visible in the editor.

[2020-05-07 09:36] dbaeumer commented on #15178
Happy to give feedback on the API as well.

[2020-05-07 09:39] alexr00 opened #97134 "Can't configure recent tasks"
1. Run a task
2. Open the run task picker again
3. See the task in the recent section
4. Use configure task gear

[2020-05-07 09:39] fabioimpe opened #97135 "Typescript absolute import not working on new/renamed files until refreshing project or restart"
- VSCode Version: 1.44.2
- OS Version: Windows 10

Having this project structure:

[code]

Steps to Reproduce:

1. Set "compilerOptions.baseUrl" property in tsconfig.json to your "src" folder
2. Set vscode "typescript.preferences.importModuleSpecifier" setting to "non-relative" (or auto)
3. Create a new file (or rename an existing one) under the src folder (or any subfolder)
4. On that file try to

[2020-05-07 09:42] aeschli commented on #96982
Thanks, now I understand.
That's a duplicate of #26338

[2020-05-07 09:42] #96982 closed

[2020-05-07 09:55] aeschli commented on #96555
There's already an env variable that you can set to avoid the warning:
`DONT_PROMPT_WSL_INSTALL=1 code-insiders` should do the trick.

I'll add a message to the script to tell you that.

[2020-05-07 09:55] #96555 closed

[2020-05-07 09:56] Acmion commented on #12622
Awesome work @bpasero ! Exited to see this in VS Code!

It's important to get this first version out there, after which enhancements (for example, the separate row) can be implemented.

[2020-05-07 10:01] axtschmied opened #97136 "Source file map elements with array values in launch.json"
In the debug configuration file (`launch.json`) a source file map can be given to map debug source folders to the original folder of source files. This is very useful, but currently folders can only be mapped one-to-one, meaning that for every debug source folder only one folder can be given.

However in case of out-of-source build, often the content of multiple folders gets copied into a common s

[2020-05-07 10:05] aeschli commented on #96055
Not sure what's the right approach.
The remotes also have trash folders that can be used
Or use the local trash folder.

[2020-05-07 10:09] aeschli commented on #95895
Folding regions come from the TS server. Maybe a change in TypeScript?

[2020-05-07 10:09] IllusionMH commented on #97102
Looks like duplicate of #2377 and/or #76548

/assign @Tyriar

[2020-05-07 10:12] DerekSMorin opened #97137 ""editor.mouseWheelZoom": true - should be on by default"
https://stackoverflow.com/questions/30192884/is-it-possible-to-configure-control-scroll-wheel-to-increase-decrease-zoom-in

This has 218 upvotes at stack overflow.

![image](https://user-images.githubusercontent.com/7568856/81282556-5148b600-9029-11ea-8af7-9bc34b9f6271.png)

[2020-05-07 10:19] 7sDream opened #97138 "Huge delay when format a JSON file"
Issue Type: <b>Bug</b>

1. Download test json file: [generated.json.zip](https://github.com/microsoft/vscode/files/4592320/generated.json.zip)
2. Unzip `generated.json` and open it in VSCode
3. Use built-in `Format Document` command to format this file

Screenshot:

When using built-in format command, I need to wait so long(about 5~6 seconds):

![](https://rikka.7sdre.am/files/53d03d5d-cb8d-47c9-a

[2020-05-07 10:23] kengdiea opened #97140 "更改windows用户名后无法更新vscode"
Issue Type: <b>Bug</b>

即使我卸载都无法安装，下载新的安装包也无法安装，因为官网的安装包无法指定安装目录，也没查到vscode安装配置文件在哪，就不能更改安装位置，就会一直报错，目前只能重装系统或改回原用户名才能解决，但是我不想这么做，不然我也不会更改用户名，重装系统也不考虑

VS Code version: Code 1.43.1 (fe22a9645b44368865c0ba92e2fb881ff1afce94, 2020-03-18T07:01:20.184Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GH

[2020-05-07 10:28] nirmalsahoo commented on #52016
Same issue is observed in below vs code version.
Version: 1.44.2 (user setup)
Commit: ff915844119ce9485abfe8aa9076ec76b5300ddd
Date: 2020-04-16T16:36:23.138Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

[2020-05-07 10:30] kengdiea opened #97141 "Vscode cannot be updated after changing the Windows username"
Issue Type: <b>Bug</b>

Even when unload all can't install, I download the new installation package cannot install, official installation package is not installed the specified location, also didn't find where vscode installation configuration file, can't change the installation location, would have been an error, currently only reshipment system or to change back to the original user name to solv

[2020-05-07 10:34] bersbersbers commented on #97013
A short update from me: setting the timeout to 10s fixed the issue for me. Setting it to 2s still seemed to be insufficient sometimes. This whole thing fits into the larger scheme of me using an ordinary laptop (Dell E6440) and SSH remoting over VPN, where other timing-based issues are frequently arising. For example, https://github.com/microsoft/vscode-python/issues/9393; or, very similarly, swit

[2020-05-07 10:36] IllusionMH commented on #97129
You need to request this feature from extension that provides support for this language.

For example TS Language Server returns function signature that has return type.
![image](https://user-images.githubusercontent.com/1312662/81284921-6e9c7500-9067-11ea-8fb7-b1b25791108a.png)

[2020-05-07 10:40] aeschli commented on #96083
I added new setting `json.schemaDownload.enable` that you can set to false if you do not want JSON to try to load schemas from http/https

The setting is part of the offline settings (see https://github.com/microsoft/vscode/issues/54354)

To verify:
- start VSCode fresh, no editors opened
- set `json.schemaDownload.enable` to false
- open `package.json`
- verify that there's a warning triangle on

[2020-05-07 10:42] thedomi opened #97142 "TS Server fatal error: Debug Failure. False expression."
**TypeScript Version:** 3.8.3
**Steps to reproduce crash**
1. Happends every time I open VSCode.

**TS Server Error Stack**
[code]

[2020-05-07 10:44] briped commented on #97031
Today VS Code worked without any issue. I haven't made any changes since opening this ticket.
Checked if the error in the Event Log was still there. It is still there, so it doesn't seem to have any relevance.

[2020-05-07 10:44] #97031 closed

[2020-05-07 10:47] sKopheK opened #97143 "JS: bind() removes function annotations"
- VSCode Version: 1.44.2 (ff915)
- OS Version: Win_NT x64 10.0.18362

Steps to Reproduce:

[code]
[Playground Link](https://www.typescriptlang.org/v2/en/play?useJavaScript=true#code/GYVwdgxgLglg9mABFATjADugNgUwBRgCUiA3gFCKWIo5QgpJIBUiAzANxkC+ZZECAZyiIARnHAATRAF5kaTLgB0ImGAl4oACxgDCnMmMl5CQA)

In the above mentioned playground everything works as it should, but in VS Code there's no intellisense hi

[2020-05-07 10:49] aeschli commented on #95867
With
[code]
Because the type is callable and has properties, it is a guess what the main purpose of the type is.  We currently have the rule that we only call something a function if it has no properties as well,
But when it is used as a function, it will be colored as a function.

[2020-05-07 10:53] aeschli commented on #95809
Closing as not supported.

[2020-05-07 10:53] #95809 closed

[2020-05-07 10:55] raptor235 commented on #519
+1

[2020-05-07 10:57] aeschli commented on #95496
I agree we should have done that, but it's too late now. A migration of the existing configuration file is painful and IMO not worth it.
But yes, we should remember to use the jsonc extension for all new files.

[2020-05-07 10:57] #95496 closed

[2020-05-07 10:57] matklad commented on #97063
Types

**Identifier(extenrs)** | **Description** | **Sample**
--- | --- | ---
attribute | syntax for attributes and annotations | `#[test] fn smoke() {}`, `@Test void method() {}`
builtinType(type) | non user-defined types | `i32`, `long long int`
typeAlias(type) | name of type aliases and typedefs | `type Unit = (); typedef int int_alias`
union(type) | name of C-style untagged unions| `union U {

[2020-05-07 11:22] bpasero commented on #96055
/duplicate https://github.com/microsoft/vscode-remote-release/issues/1770

[2020-05-07 11:22] #96055 closed

[2020-05-07 11:23] #96657 closed

[2020-05-07 11:23] #96635 closed

[2020-05-07 11:23] #96575 closed

[2020-05-07 11:23] #96548 closed

[2020-05-07 11:23] #96547 closed

[2020-05-07 11:23] #96477 closed

[2020-05-07 11:23] #96426 closed

[2020-05-07 11:23] #96422 closed

[2020-05-07 11:23] #96395 closed

[2020-05-07 11:23] #96360 closed

[2020-05-07 11:23] #96324 closed

[2020-05-07 11:23] #96304 closed

[2020-05-07 11:23] #92832 closed

[2020-05-07 11:23] #92500 closed

[2020-05-07 11:23] #92349 closed

[2020-05-07 11:23] gaplo917 commented on #95867
@aeschli  Thanks for your detail reply.

One more question, is this a expected behavior?
<img width="599" alt="Screenshot 2020-05-07 at 7 15 53 PM" src="https://user-images.githubusercontent.com/5468398/81288440-3ad94380-9097-11ea-924c-5e88452f4a13.png">

Considering the [description of Functions in MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions)

To solve the con

[2020-05-07 11:23] #90658 closed

[2020-05-07 11:23] #96032 closed

[2020-05-07 11:23] #87281 closed

[2020-05-07 11:23] #87075 closed

[2020-05-07 11:32] bramus commented on #96463
Erm, this got auto closed. How do I reopen this @alexr00? And can this be prevented somehow?

[2020-05-07 11:44] aeschli commented on #95416
duplicate of #95936

[2020-05-07 11:44] #95416 closed

[2020-05-07 11:48] aeschli commented on #95260
That's very hard to do in the settings JSON editor which is schema driven, unless we use a settings specific code assist.
Maybe the settings UI search has more capabilities?

[2020-05-07 11:49] #95260 closed

[2020-05-07 11:52] Tyriar commented on #96463
@bramus can you try `"terminal.integrated.inheritEnv": false`?

[2020-05-07 11:52] gowerc commented on #87183
Just to add this issue affects more than python.  My ticket was closed as a duplicate of this one (#96973) but shows that the issue also occours using send text to terminal  even on bash commands

[2020-05-07 11:58] aeschli commented on #95867
It's really a guess what is more important. It being a callables or it having properties. You'd be surprised how many objects are also callable.
So what we do is we do not call it a function for the use cases where we can't tell how it is used.
At the places where it is used as a function, it's colored like a function, as your last screenshot shows.

[2020-05-07 12:01] #89785 closed

[2020-05-07 12:04] Tyriar commented on #87183
@gowerc I think there might be another older duplicate of this as well, but it's a generic bug related to a maximum amount of text you can use with the sendText API and pasting.

[2020-05-07 12:04] Tyriar commented on #97102
/duplicate https://github.com/microsoft/vscode/issues/76548

[2020-05-07 12:04] #97102 closed

[2020-05-07 12:04] rafegoldberg commented on #97003
(lol ^nope... not a bug. just me, being confused about a new feature where hidden files are temporarily revealed in the sidebar if they're focused in the editor #fail)

[2020-05-07 12:05] xmedeko commented on #9498
One more extension is [Tab Groups](https://marketplace.visualstudio.com/items?itemName=usama8800.tab-groups) - similar to Restore Editors, but supports multiple, named, tab groups.

[2020-05-07 12:05] IllusionMH commented on #97143
By default TS (powers JS functionality) doesn't enable `strictBindCallApply` [compiler option](https://www.typescriptlang.org/docs/handbook/compiler-options.html).

You need to create `jsconfig.json` with at least
[code]

See https://code.visualstudio.com/Docs/languages/javascript#_javascript-projects-jsconfigjson for details.

[2020-05-07 12:06] aeschli commented on #95867
I moved the issue over to https://github.com/aeschli/typescript-vscode-sh-plugin/issues/14.

[2020-05-07 12:06] #95867 closed

[2020-05-07 12:08] sandy081 commented on #91683
/duplicate

[2020-05-07 12:08] #91683 closed

[2020-05-07 12:09] tweakimp commented on #97129
I created an issue in the vscode-python extension, thank you.

[2020-05-07 12:09] #97129 closed

[2020-05-07 12:17] pcampina commented on #73818
thank you so much

[2020-05-07 12:20] sandy081 commented on #97120
I have not changed anything here recently so unassigning myself.

[2020-05-07 12:24] bpasero opened #97144 ""Find References" no longer shows the view"
This is probably a layout regression (cc @sandy081 @sbatten). Steps:
* find references
* right click hide the find references view
* do again

=> 🐛 the view does not open for may nor shows

[2020-05-07 12:25] Tyriar commented on #95570
Ok so here's the problem:

Links in the terminal have never been accessible, this is a feature where hovering your mouse over web links or local links that we've detected (eg. `./README.md`, `foo/bar.md`, `/foo/bar`, etc.) allow you to ctrl/cmd+click them to open the link either in the editor or a browser.

In 1.45 this system has overgone a major overhaul and now features:

- Link detection logic

[2020-05-07 12:26] #72576 closed

[2020-05-07 12:34] andrecasal commented on #96982
Ok, thanks! 👍

[2020-05-07 12:36] alexr00 opened #97145 "fb196011ee5c00724e0ac8cc999864a6042f44cf causes tasks to hang VS Code"
Bisect shows that the hang starts with fb196011ee5c00724e0ac8cc999864a6042f44cf

Repro:
Execute the Run Task command.

[2020-05-07 12:40] joaquimbarreto opened #97146 "Ability to change the colour of the folders' icon in Explorer."
Dear Madam/Sir,

It would be nice to be able to change the colour of the icons next to the folders in the Explorer. For example, In Angular, the icons of the folders of my services files, with a different colour from my components files folder icon.

Thanks in advance,

Joaquim Barreto

[2020-05-07 12:44] SimiCode opened #97147 "Git operations are too slow in Python"
Issue Type: <b>Bug</b>

Git ops are too slow when using Python. To my surprise, yesterday I was editing a JavaScript Project and Git was working at normal speed.

I have tested this with all extesnions disabled and it still happens.
What Could be wrong with Git in Python?

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 1

[2020-05-07 12:45] codebambu opened #97148 "Selection should include character under block cursor"
**Feature**
When there are active selections and the cursor type is a block cursor, the column that the cursor is shown to occupy is supposed to be considered part of the selection.

**Steps to reproduce**
1. With a block cursor enabled, type "foo bar" in a new document
2. Using the mouse, try to select the entire word "foo"
3. Copy and paste it into some scratch space

**Expected Results**
Pastin

[2020-05-07 12:47] zersiax commented on #95570
Ok ...so this is actually a difficult one :)

Some ideas:

- My thinking is that , when a link gets detected like that, some CSS is triggered to indicate this is a link visually. That tells me there's a hook that triggers that CSS to apear, which we can use. My thought is that for folder links, file links etc in the terminal, we can either wrap the text in a <a></a> tag, or give it role="button" o

[2020-05-07 12:48] SimiCode commented on #97147
I recorded a Video but Github Wont let me attach it here

[2020-05-07 12:49] kubukoz commented on #97074
Yeah, I meant the parser of the syntax highlighter :) sorry.

There's another case with `<` but this time when talking about generics in Typescript:

[code]

Removing whitespace here also changes colors of the highlight.

[2020-05-07 12:50] gowerc commented on #87183
Thanks @Tyriar  for clarifying.  Does this mean there is unlikely to be a solution then ?

[2020-05-07 12:51] kubukoz commented on #97074
I added some screenshots to better describe the issue.

[2020-05-07 12:53] gjsjohnmurray commented on #73122
Please can this issue get some love soon?

[2020-05-07 12:53] Tyriar commented on #95570
I was writing this up before I knew @zersiax posted, I'll read that now and follow up on it.

Now on the solution:

For keyboard accessibility I had the idea of there being a generic command to navigate the terminal buffer based on the link type, say `workbench.action.terminal.previousLink` and `workbench.action.terminal.nextLink`. When these commands are used _without_ arguments, it would just na

[2020-05-07 12:57] Tharkis commented on #41309
Just adding to the pile...

This issue is the number one reason I don't use VS Code for anything. In fact, I check in about once a month or so to see if they have come to their senses and added a button bar. But alas, it sounds as if even allowing addon developers to integrate a bar is out of scope.

I'll just continue using Notepad++ and other editors which provide this basic functionality. Howev

[2020-05-07 12:57] gjsjohnmurray commented on #97146
/duplicate of #62104

[2020-05-07 12:58] #97146 closed

[2020-05-07 13:02] sandy081 commented on #97144
Is it running out of sources?

[2020-05-07 13:03] Tyriar commented on #95570
Ok it looks like my proposal mostly maps to @zersiax's second point.

I'm not sure browse mode will end up working as the terminal buffer is a virtual list and also because detecting links is an asynchronous action that could end up going to the extension host and having additional validation, meaning it could take a second in a pretty bad case for all we know.

I think I might have been misunders

[2020-05-07 13:05] #12090 closed

[2020-05-07 13:08] Tyriar commented on #87183
I'm sure there is a solution, it's just not something I'm focusing on at the moment. If anyone wants to investigate this, I suspect the problem lies inside the node-pty component which manages the connection between VS Code and the process inside the terminal, either in [how it's created](https://github.com/microsoft/node-pty/blob/bcdc826f365dd014403992d41b286e815798459a/src/unix/pty.cc#L134) and/

[2020-05-07 13:09] aeschli commented on #94054
Remove the menuBar/file entry.

[2020-05-07 13:09] #94054 closed

[2020-05-07 13:11] IllusionMH commented on #97074
Example with `useState` is duplicate of #72930 and if you follow chain comments you'll see https://github.com/microsoft/TypeScript-TmLanguage/issues/475#issuecomment-309905772

I think same is applicable for strange JSX tag.

Needs #77140 with multiline support

/assign @mjbvz

[2020-05-07 13:11] roblourens commented on #95260
Tracking that idea in https://github.com/microsoft/vscode/issues/45363

[2020-05-07 13:12] bramus commented on #96463
That one still yields `root`

[2020-05-07 13:12] andrecasal commented on #26338
I'd like to slightly expand this feature request to include IntelliSense for JS coming from external references **[in event attributes](https://www.w3schools.com/tags/ref_eventattributes.asp)**.

For easy reference:
| DESTINATION | SOURCE | SUPPORTED |
|---|---|---|
| Script tag | Script tag | YES |
| Script tag | External JS file | NO |
| Event attributes | Script tag | YES |
| Event attributes |

[2020-05-07 13:17] roblourens commented on #95862
Because that's what gets focused. The settings tree is an oddball list in that the list rows don't get focused, the elements inside do and you navigate it like a form, not a typical list.

[2020-05-07 13:18] aeschli commented on #93769
I can't reproduce. I always the get the error color.

[2020-05-07 13:18] zersiax commented on #95570
Ok, given we can't really do anything on a per-line basis very easily at present, I think an idea to walk through the link, like proposed above by both me and @Tyriar is the best thin we can do here.
When moving to a new link, we would need to have that link announced, perhaps followed by what activating it  would do exactly in a short bit of extra text. This could be toggleable, like hitting ctrl

[2020-05-07 13:21] sandy081 commented on #97144
Looks like only on OSS and caused due to my refactorings.

[2020-05-07 13:21] #97144 closed

[2020-05-07 13:21] sandy081 commented on #97144
To verify:

Make sure Find References opens References Viewlet + View with results.

[2020-05-07 13:22] gjsjohnmurray commented on #97112
What language mode did you set for your file?

![image](https://user-images.githubusercontent.com/6726799/81294257-87585b00-9066-11ea-831e-1663a26552e1.png)

[2020-05-07 13:25] usernamehw commented on #93769
|  Default       | With overview colors set          |
| ------------- |-------------|
| ![Screenshot (211)](https://user-images.githubusercontent.com/9638156/81299692-46b90b80-907f-11ea-93a5-b1d69f90336c.png)   | ![Screenshot (210)](https://user-images.githubusercontent.com/9638156/81299712-4d478300-907f-11ea-9f6b-816663c6aa5c.png)  |

[2020-05-07 13:28] AlencarGabriel commented on #41858
Hello, I have an extension that provides a hover documentation with a link to the file. And many users request that the link go at the documentation in question.

As the link uses Markdown notation, simply calling the file via URI "file://" recognizing the lines and columns with ":", would already meet this need.

Example:

![image](https://user-images.githubusercontent.com/10109480/81299982-75b68

[2020-05-07 13:28] Tyriar commented on #95570
I hadn't thought to use ctrl+space, I was thinking maybe tab instead? For this we need to keep in mind that eventually multiple actions will be possible, based on early discussions in the UX chat the hover will probably end up having the default action like "Follow link (ctrl + click)" and then in the hover's "status bar", a button like "Change default action".

Discoverability is always an issue

[2020-05-07 13:31] tebeco commented on #66837
(ping back)

[2020-05-07 13:32] isidorn commented on #95862
Yeah I have always found that strange. And I think quite some screen reader users find that strange as well.
These two issues seem to caputre that well
https://github.com/microsoft/vscode/issues/92488
https://github.com/microsoft/vscode/issues/92485

If we have plans to fix that in the future maybe then is the right time to look into this issue as well.
IMHO settings navigation should work like an

[2020-05-07 13:33] andrecasal opened #97149 "[HTML] CSS IntelliSense within HTML files"
I'd like to request CSS IntelliSense within HTML files.

For easy reference:
| DESTINATION | SOURCE | SUPPORTED | COMMENTS |
|---|---|---|---|
| ID attributes | Style tag | NO | |
| ID attributes | External CSS files | NO | |
| Class attributes | Other class attributes | NO | Not sure if useful |
| Class attributes | Style tag | NO | [Check this extension](https://marketplace.visualstudio.com/item

[2020-05-07 13:34] Tyriar opened #97150 ""synced undefined""
First time checking:

![image](https://user-images.githubusercontent.com/2193314/81300639-c49ff700-902c-11ea-8f53-e0bc3ba9596b.png)

[2020-05-07 13:34] Tyriar commented on #97150
Log:

[code]

[2020-05-07 13:34] Dragonfly-coding commented on #97112
Hi John!

I'm not quite sure how to do that or that you needed to set this, but I'm
looking to use VSC for html and CSS currently and JavaScript in a few weeks.

Very beginner over here and I so appreciate your help!

Amanda

On Thu, May 7, 2020, 9:22 AM John Murray <notifications@github.com> wrote:

[2020-05-07 13:37] andrecasal commented on #97149
Neither of those issues are duplicates.

[2020-05-07 13:39] GregHilston opened #97151 "`gpu-process` goes to 100 when typing fast or highlighting text (no extensions installed, fresh reinstall)"
I've been noticing that VSCode has been running incredibly sluggish while no other application on my machine has been. I've checked the CPU and memory consumption of the computer and performed a restart.

I disabled all extensions and even uninstalled and reinstalled VS Code. `gpu-process` skyrockets to 100 when typing quickly and highlighting text with the cursor and draging the highlight around.

[2020-05-07 13:39] gjsjohnmurray commented on #97112
@Dragonfly-coding in the open file in VS Code where you're typing HTML and disappointed not to see the HTML-related suggestions appear, what does the indicated portion of your status line report? If it's not saying "HTML", click on it and choose HTML from the list of options.

If the above advice doesn't help, maybe paste screenshots into your reply comment here on GH. Usually a screenshot copied

[2020-05-07 13:41] GregHilston commented on #97151
I've discovered from [this Stackoverflow link](https://stackoverflow.com/a/30007549/1983957) how to disable the `gpu-process` by launching with:

`$ code --disable-gpu`

and can confirm that the lag is gone. Any ideas as to why using the `gpu-process` would cause issues? I'm not running any gpu application, rendering, gaming, etc. Strictly text editing.

[2020-05-07 13:41] aeschli commented on #93571
Reproduced with
[code]

The appearance of a `this` makes typescript thing this is a class.

![image](https://user-images.githubusercontent.com/6461412/81301366-41f15900-9079-11ea-95fb-47ae31998cd7.png)

[2020-05-07 13:43] aeschli commented on #93571
I created https://github.com/aeschli/typescript-vscode-sh-plugin/issues/15.

[2020-05-07 13:43] #93571 closed

[2020-05-07 13:44] IllusionMH commented on #97114
Just in case - in meantime you can select several tabs in Open Editors section.

[2020-05-07 13:44] Tyriar commented on #96463
Ok, maybe removing this will fix it then:

https://github.com/microsoft/vscode/blob/151c443411dc2908c2356a2eaf79f5d2747ac44f/src/vs/workbench/contrib/terminal/node/terminalEnvironment.ts#L64

If not I'm not sure if we can fix it. I'll queue a build with that for you to test out.

[2020-05-07 13:46] libTorrentUser commented on #41309
I just wanted to add my +1 to this feature request.

It is funny how something so useful seems to be rejected by the dev team while something completely useless like that "OPEN EDITORS" thing keeps cluttering our screen. That thing was not needed not even during the VC++ 6 days, a dark time in the coding era when we did not have tabs showing which files are open.

And before some crazy dev gets my

[2020-05-07 13:55] andrecasal opened #97153 "Remove the debug.enableAllHovers settings"
- VSCode Version: Insiders 1.45.0
- OS Version: macOS 10.15.4

Steps to Reproduce:

1. Open your default settings
2. Notice the `debug.enableAllHovers` setting still exists but it is not used

The debug.enableAllHovers setting was [added as a workaround](https://github.com/microsoft/vscode-docs/issues/3242) for the LiveShare extension which [no longer uses it](https://github.com/MicrosoftDocs/live

[2020-05-07 13:57] aeschli commented on #93427
We need separate issues in order to track the issues

Custom data has no support for element hierarchies. We currently have no plans to add that, we want to keep it simple. It will be up to users to know what elements can be inside what other elements.

I think there's currently no to disable the built-in html tags.

Custom data currently can only be defined in workspace settings, not in user sett

[2020-05-07 14:02] aeschli commented on #93019
The sizing issue has been tackled by https://github.com/microsoft/vscode/issues/95936.

We have no plans to revert the changes. With the semantic token information to be shows as well, it was necessary to make things more compact (and more consistent)

[2020-05-07 14:02] #93019 closed

[2020-05-07 14:02] andrecasal commented on #12223
It has been almost 4 years since this feature request. I would never imagine this would be such a hard feature to implement. Are there any updates or a timeline for this?

[2020-05-07 14:06] gjsjohnmurray commented on #97151
/needsMoreInfo please see https://github.com/microsoft/vscode/wiki/Performance-Issues

[2020-05-07 14:07] DerekSMorin commented on #97137
I'm not sure on the downvote, the original screen cap showed a snarky comment, so that might have been it.  But 218 upvotes on this question, seems to me like false is an odd default.  Ctrl + scrollwheel works in browsers, visual studio, even microsoft teams.  Seems odd to have it off by default.

[2020-05-07 14:18] bpasero commented on #97144
No, I am seeing this in my exploration build too.

[2020-05-07 14:21] isidorn opened #97154 "Use contentEditable for our hidden accessibility textArea"
Investigate into using `contenteditable` instead of a plain `textArea` for our hidden accessibility field.
It migh have performance implications, but it would allow us to have richer accessibility content on each line. Including line number, breakpoints etc..

[2020-05-07 14:21] sketchbuch commented on #41309
Just right click on the open editors view and uncheck it if you don't want to see it

[2020-05-07 14:22] isidorn commented on #90842
Created this item for the contenteditable exploration which I plan to do this milestone https://github.com/microsoft/vscode/issues/97154

[2020-05-07 14:24] alexr00 opened #97155 "Don't show task error when task providers provide shell tasks"
https://github.com/microsoft/vscode-cpptools/issues/5388

I added a warning about task providers that don't provide the task type they say they will in April. It looks like the C++ extension is hitting this.

[2020-05-07 14:24] GregHilston commented on #97151
Hey @gjsjohnmurray here is output from `code --status`

OS: macOS Catalina 10.15.4
Processor: 2.2 Ghz 6-Core Intel Core i7
Memory: 16 GB 2400 MHz DDR4
Graphics: Radeon Pro 555X 4 GB
Graphics: Intel UHD Graphics 630 1536 MB

**Scenario 1**

- no extensions enabled
- no workspace active
- idle

[code]

The important thing here is that `gpu-process` is at 0.

**Scenario 2**

- no extensions enabled
-

[2020-05-07 14:26] #95433 closed

[2020-05-07 14:27] alexr00 commented on #97155
This isn't really a bug, so much as the system implicitly allowed a behavior that now it does not.

[2020-05-07 14:30] isidorn opened #97156 "Test: Navigation keys move focus in the status bar"
Refs: https://github.com/microsoft/vscode/issues/95433

- [x] any os @bpasero
- [x] any os @chrmarti

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%2397156%0A%0A)

---

1. Use `F6` and `Shift + F6` to navigate the workbench
2. Once focus is on the status bar (first F6 after editor focus) make sure you can use Left / RIght navigation to focus each status

[2020-05-07 14:32] roblourens commented on #95862
Yeah I know it's come up but if we're going to redesign it to assist screenreader users, there are other issues to resolve like the extremely long flat virtualized list.

[2020-05-07 14:32] roblourens commented on #95862
I'm gonna close this as the general issue is covered other places like you pointed out.

[2020-05-07 14:32] #95862 closed

[2020-05-07 14:33] astrelsky commented on #42740
Here is an example of why this needs to be implemented. This is beyond frustrating.
![default_tab_size_results](https://user-images.githubusercontent.com/46897303/70853564-5be98f80-1e7d-11ea-9b16-e874edaa3804.PNG)

[2020-05-07 14:38] isidorn commented on #97125
@nirmalsahoo good issue. Agree with this.
@sandy081 can you just set `aria-expanded: false` on the "More Filters..."  button that way users will be aware that they can expand it to get the menu.

[2020-05-07 14:40] IllusionMH commented on #97136
/extension c++

Debugger for C++ and its config/behavior are provided by extension

[2020-05-07 14:42] isidorn commented on #97128
I can repro this issue. The problem is that the Output lock action once triggered loses focus - probably due to the toggling.
@sandy081 is there some way that we preserve focus on the output lock action once it is toggled?

[2020-05-07 14:43] IllusionMH commented on #97136
/extC++

Debugger for C++ and its config/behavior are provided by extension and this feature request should be filed there if doesn't exist.

[2020-05-07 14:44] #97136 closed

[2020-05-07 14:45] joaomoreno opened #97157 "Problems panel: bad tree state"
Related https://github.com/microsoft/vscode/issues/95641

![recording](https://user-images.githubusercontent.com/22350/81308911-a238c880-9082-11ea-90a1-c0c10b47b277.gif)

[2020-05-07 14:48] evgarthub commented on #96986
@bpasero indeed, I noticed that when it stops working I need to find another window/program with horizontal scroll do scrolling there and then VSCode scrolling start working again.

[2020-05-07 14:50] minig0d commented on #41309
What do you know... that's the exact same line word for word that you could say if someone complained that they didn't like the toolbar?  How versatile!

[2020-05-07 14:54] #97120 closed

[2020-05-07 14:54] sandy081 commented on #97144
Is your exploration build in sync with insiders?

[2020-05-07 14:58] bpasero commented on #97144
Well it is ahead. So makes sense that you can only reproduce in OSS.

[2020-05-07 15:00] keitherskine commented on #36700
In SQL Server Management Studio and Textpad, I often like to split a single tab into two views, one on top of the other, so I can see two sections of a file in the same tab.  It's very convenient for keeping the important parts of the code right in front of my eyes.  And just to be clear, when I click to a different tab, the whole of the previous tab (with both views) hides behind the new tab.  I

[2020-05-07 15:01] #97153 closed

[2020-05-07 15:01] isidorn commented on #97153
@andrecasal awesome, thanks for pushing this. I just removed it.

[2020-05-07 15:04] darksparks999 commented on #95629
I did a fresh install of VSCode 1.44.2.  Worked fine.  Then I added the C/C++ extension.  After a few minutes, I started receiving the "cannot read property other of null" errors when attempting to open or create files.  Opened settings.json, found that editor.quickSuggestions was set to NULL.  Removed it and all is working properly.

Clearly the editor.quickSuggestions entry was added and set to

[2020-05-07 15:05] sandy081 commented on #97150
Its totally weird that you get that label as I do not think I am not generating this. It looks a mix of old and new syntax which should not co-exist 7726671d823bd18c4f6db60bdeb429429c3f0421

Wondering how you got into this state

[2020-05-07 15:08] sketchbuch commented on #41309
No it isn't. Not having a toolbar was core design goal. Adding it now would suck up resources, development time and require mutiple teams to collaboate to add this "feature". Then once it is there lazy extension devs will write just for the toolbar and not provide a way to use their extensions wthout a toolbar. Most probably won't even hook the click events up to an a real command, they will just

[2020-05-07 15:08] rebornix commented on #96840
@mjbvz we don't know the answer yet as it's unknown yet what *Undo/Redo* means after you execute a cell and receive outputs since you can't "Undo" the execution (which has side effects in the kernel).

Previously we were thinking of using `NotebookContentProvider.onDidChangeNotebook` to trigger dirty state change, with which extensions can decide if outputs changes should trigger save events or no

[2020-05-07 15:09] Rowan-Mulder commented on #5402
Regarding this topic, I've posted a feature suggestion on Visual Studio's Developer Community.
[Multiline selection snapping on each individual line](https://developercommunity.visualstudio.com/idea/1021773/suggested-feature-multiline-selection-snapping-on-1.html)
If I missed an important detail, feel free to let me know.

[2020-05-07 15:10] sandy081 commented on #97125
Does the value of `aria-expanded` to be fixed to `false` or change according to the menu?

[2020-05-07 15:13] Dragonfly-coding commented on #97112
Hello! You're brilliant.  It was set to Plain text. I've changed it to HTML
and I'm on my way.  Thank you thank you!

On Thu, May 7, 2020, 9:40 AM John Murray <notifications@github.com> wrote:

[2020-05-07 15:17] clssn opened #97158 "remoteUser in devcontainer.json doesn't work in corporate environment"
Issue Type: <b>Bug</b>

Reason: users are not listed in /etc/passwd because they are taken from a corporate domain controller via sssd.
Potential solution: use `id -u username` and `id -g username` to determine the user's uid/gid.

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:50:03.709Z)
OS version: Linux x64 4.15.10-041510-generic
Fetching remote diagnosti

[2020-05-07 15:17] bpasero commented on #96986
Sounds like https://github.com/microsoft/vscode/issues/84136 however on Windows. Moving to you Deepak.

[2020-05-07 15:19] sandy081 commented on #97128
@isidorn I think I am not changing the focus after clicking on this action. Could be the action item is not retaining the focus. BTW this is a toggle action registered using menu actions, that could be the reason?

[2020-05-07 15:20] sandy081 commented on #97131
Please follow these steps

- Help -> Toggle Developer Tools -> Network
- Then check for any network failed requests while browsing and installing the extensions if found all requests fails then its probably a proxy or DNS issue at your end.
- To confirm its a DNS issue check if you can access this page https://ms-python.gallerycdn.vsassets.io/extensions/ms-python/python/2019.8.29288/1565127378610/

[2020-05-07 15:20] rebornix commented on #96840
@mjbvz I thought about it again and read how CustomBinaryEditor handles undo/redo, I think we can follow the same pattern and mix it with textural change managed by the renderer:

When users make changes to the content in a cell, add/delete cells, we manage the undo/redo stack in the core.

After an execution, if the extension just return outputs, we can wrap the change in an undo/redo point. Exte

[2020-05-07 15:22] sandy081 commented on #97130
Its not possible as VS Code configuration does not know about such semantics.

[2020-05-07 15:22] #97130 closed

[2020-05-07 15:26] yume-chan commented on #97140
Translation:

[2020-05-07 15:35] gregg-miskelly commented on #97110
CC @isidorn

[2020-05-07 15:38] ryanpholt opened #97159 "Assigning keybinding to workspace level task does not work"
- VSCode Version: 1.44.2
- OS Version: Debian 10

Steps to Reproduce:

1. Add a task to the workspace settings such as:
        "tasks": [
        {
            "label": "foo",
            "type": "shell",
            "command": "echo foo",
        }
        ]
2. Try adding a keybinding for that task:
    {
        "key": "alt+shift+a",
        "command": "workbench.action.tasks.runTask",

[2020-05-07 15:40] sBrecht commented on #41309
If MS Studies deem that the toolbar is useless cruft, then why is the design still a basic paradigm for applications?  Do you have a toolbar / ribbon turned on in your browser? Word? Excel? Explorer? Visual Studio? Photoshop?  Heck pinned applications in Windows are a form of toolbar.  If you personally never use these in any of the above situations do you feel users that do are using software inc

[2020-05-07 15:45] isidorn commented on #97125
You can change according to menu.
But in practice that will not happen -> since you can not have focus on tha action and have the menu open.

[2020-05-07 15:46] isidorn commented on #97128
It is not because ot the action item I think, but because the whole icon / action get swapped based on state.

[2020-05-07 15:47] bjarkihall opened #97161 "Allow tasks to run commands regardless of their output"
- VSCode Version: 1.44.2
- OS Version: Win10

Steps to Reproduce:
1. Define a task with command variable.
2. An error is thrown if the command doesn't resolve to a string.

Does this issue occur when all extensions are disabled?: Yes/No
Yes

---

I'm trying to execute extension commands via tasks.json but an error is thrown since the commands return booleans once resolved, instead of strings.

[My

[2020-05-07 15:57] minig0d commented on #41309
HAHAHAHA... I just found out the REALLLL reason sketchbuch doesn't want a toolbar...    He's busy using the statusbar as a toolbar (and for whatever reason feels that it's more acceptable to "hack" the status bar for an unintended purpose than to have a legitimate status bar...

![image](https://user-images.githubusercontent.com/54046315/81316550-56216000-9051-11ea-8fa1-80d6858f876a.png)

c'mon ma

[2020-05-07 16:01] gjsjohnmurray commented on #97112
@Dragonfly-coding I'm glad to have helped. Please close the issue.

[2020-05-07 16:01] sketchbuch commented on #41309
No, it's just ignoring what I said. I never said toolbars are usless, I said toolbar hell is useless... which is what I worry about this will become. The ribbon has buttons but they are researched with UX behind them, there will be no research done improving the UX for users who want buttons. Will just go back to having hundreds of buttons and toolbars below toolbars. it will become a bloated mess

[2020-05-07 16:04] sketchbuch commented on #41309
Yes, those are my extensions, but they add buttons to where there is already a button system in place. It's not a hack, these extensions don't do anything that the API doesn't expose to a developer. Look if the add the button api and it is fully workd out and tested I don't mind. I just don't want them to fuck up the editor doing it

[2020-05-07 16:07] sketchbuch commented on #41309
Yes the buttons could be hooked up to a command but it is also possible in the package.json to stop a command being called via the palette. This is the kind of thing I don't want to happen, that devs start making things only work with buttons - for whatever reason.

[2020-05-07 16:07] georgewfraser opened #97162 "storage.type.struct is not an appropriate textmate fallback for struct"
VSCode uses the textmate scope `storage.type.struct` as the default mapping for the semantic token type `struct`: https://code.visualstudio.com/api/language-extensions/semantic-highlight-guide.

However, `storage.type.*` scopes are intended for storage modifier *keywords*, not type names: https://macromates.com/manual/en/language_grammars

This has the unfortunate consequence that struct type name

[2020-05-07 16:09] ThomasLai1991 opened #97163 "JS suggestion Intellisense not working"
**Version of VS Code**
![image](https://user-images.githubusercontent.com/22364905/81374828-c05e0180-9132-11ea-83a8-5504e4e50542.png)

**Your operating system**
windows 7 ultimate SP1

**List of extensions that you have installed**
![image](https://user-images.githubusercontent.com/22364905/81375016-1df24e00-9133-11ea-84b2-b1ecb1900653.png)

**I've tried disabled all extension then restart VScode,

[2020-05-07 16:14] morozovsk commented on #41309
@sketchbuch:

We are not your slaves to ask your permission when we can use the buttons, and when not. Get out of the ticket.

[2020-05-07 16:20] sketchbuch commented on #41309
Screw you

[2020-05-07 16:24] sBrecht commented on #41309
Thanks for the reply.  I agree toolbar hell can be a problem (I'm looking at you Office) but I also place that in the category of "decision of the user" when the toolbar is editable. (if the toolbar isn't editable then that's a whole other issue)  When I have the option to customize the toolbar in applications they don't come "out of the box" with every item enabled by default, they come with a sa

[2020-05-07 16:25] andrecasal commented on #97153
You're very welcome, thanks 👍

[2020-05-07 16:31] robertrossmann opened #97164 "Erratic behaviour when trying to switch tabs using shift+vertical scroll on Apple trackpad"
[code]

When I try to use the new "tab switch using scroll" functionality with an Apple trackpad, the tab bar starts to behave erratically, sometimes switching tabs, sometimes not, and 99.9% of the time it switches to a completely random tab instead of the next or previous one.

Further observations lead me to believe that the vertical scroll events are triggering *both* tab switch and tab bar scr

[2020-05-07 16:40] philliphoff commented on #81007
Fair point, though that means that we'll likely have to implement variable resolution ourselves in order to satisfy our users in the meantime, and that could cause *more* confusion, as we'll not (have the time or resources to) implement all variables as well as allow for the possibility that our implementation diverges from VS Code's (for their in-built task properties).

Personally, using a commo

[2020-05-07 16:42] morozovsk commented on #41309
@sketchbuch

But actually you should, because this is my open issue :)
PS: now you are banned. thanks for the constructive dialogue :)

[2020-05-07 16:42] robertrossmann opened #97165 "When in centered layout, show inline diff view also in centered layout"
[code]

When in centered layout, opening a diff view in inline mode (as opposed to side-by-side mode) should not force the diff view into full editor width as it does for side-by-side diff views.

This is a follow-up from #94696 where we discussed this might be a bug. 🤔

Steps to Reproduce:

1. Toggle centered layout
1. Open a diff view in inline mode
1. Observe diff view now occupies full editor

[2020-05-07 16:42] minig0d commented on #41309
Just because you CAN add a button there doesn't mean VSC allows you to because they want you to turn it into a toolbar... I actually recall seeing some comment from a developer who explicitly stated that was not he case. (I know shocking they may actually reply...)

[2020-05-07 16:43] #97112 closed

[2020-05-07 16:45] sBrecht commented on #41309
That was a useless act just when a proper discussion was being had.  You don't get to just turn off people you disagree with.  Lesson #1 in how to not convince people your point of view is valid.

[2020-05-07 16:46] #96116 closed

[2020-05-07 16:46] Ethan-Arrowood commented on #95939
I'll try out nightly later today and see if I can get it to work 😄

[2020-05-07 16:47] sbatten commented on #96116
To Verify:
1. Drag outline from explorer into Activity Bar
2. Open outline viewlet and right click the header.

Ensure "Hide" is not shown and that you cannot toggle it via the checkbox option

[2020-05-07 16:50] KhogaEslam commented on #97131
@sandy081  Thank you very much!
It was the DNS!

[2020-05-07 16:50] #97131 closed

[2020-05-07 16:51] pulgupta opened #97166 "Shift+option+f (Format Document) not working on India keyboard layout"
Issue Type: <b>Bug</b>

Shift + option + f (Format Document) is not formatting the code if the keyboard is selected as ABC - India on mac.
Ideally it should format the file. It is working perfectly if I am switching over to US keyboard.

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:07:18.473Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</s

[2020-05-07 16:52] jwang-net commented on #5280
Cosign on adding double shift

[2020-05-07 16:55] pawadski commented on #5402
@Rowan-Mulder see https://github.com/microsoft/vscode/issues/5402#issuecomment-210905314 for virtual whitespace behavior

[2020-05-07 16:57] etc0de commented on #97063
While I think it makes sense to add in things like `typeAlias` and `union` since I think a subset of system level languages is for sure going to use this, these still sound specific enough that I'm wondering if a theme author may not give a different shade to all of these, or having trouble figuring out what shade to give: imagine somebody who just did some Python scripting and wants to make a new

[2020-05-07 17:01] morozovsk commented on #41309
He repeated the same thing in every message: "I do not want to", "I am against", "I do not like this." He did absolutely nothing for a constructive dialogue.

Before that, I thought he is just a troll. After these words, it became clear that she does not want to make vscode better or worse. She just wants to limit other people and it doesn’t matter whether they want that or not.
Well, what I did t

[2020-05-07 17:04] minig0d commented on #41309
Sorry sBrecht, I completely agree with morozovsk.  He hadn't added a single constructive critique.  Honestly, based on the way he was talking (as if he had some kind of authority in the matter) thats why I looked at his profile... I thought he may be an under cover Microsoft employee... but nope... he was just a troll...

The only benefit he brought to the conversation was getting the post count u

[2020-05-07 17:07] misolori opened #97167 "Add option to hide account icon in activity bar"
For those that are uninterested in signing into an account or don't want to see the icon in the activity bar, we should provide a way to hide this via the right-click menu like the rest of the other options. I'd also expect it to show up in the general right-click menu:

<img width="50%" src="https://user-images.githubusercontent.com/35271042/81323233-e9569780-9049-11ea-82a7-38863a34d66a.png">

[2020-05-07 17:08] minig0d commented on #41309
lol look... the troll is STILL trolling... thumbs downing my post... keep it up troll... I love how you just proved my point!!!

[2020-05-07 17:11] leonardder commented on #97154
cc @bramd @zersiax

Note that line number support will probably conflict with the ability of the screen reader to provide line numbers itself. NVDA is able to do this. In Visual Studio, this is also an issue.

[2020-05-07 17:13] morozovsk commented on #41309
Yes, before sketchbuch we were on second page, [now we are on first one](https://github.com/microsoft/vscode/issues?q=is%3Aissue+is%3Aopen+sort%3Acomments-desc).
So thanks @sketchbuch for your help :)

yes. you also can ban him and and forget about his existence :)

[2020-05-07 17:19] misolori opened #97168 "Explore a richer ui for the account picker and settings sync"
Similar to Chrome and Edge, we should explore using a richer ui to make the information and actions much clearer. This could follow the similar visual patten as notifications.

## Chrome
<img width="50%" src="https://user-images.githubusercontent.com/35271042/81324578-068c6580-904c-11ea-9a4d-ec231752c0fb.png">

## Edge
<img width="50%" src="https://user-images.githubusercontent.com/35271042/813245

[2020-05-07 17:20] rebornix commented on #96489
Pushed a change which will reveal the cell into view when the selection in the quick pick changes. The missing part is we are lack of some sort of decoration to show in the notebook editor to indicate which cell is the one you select in the quick pick.

[2020-05-07 17:21] misolori commented on #95804
We discussed this today in our weekly Settings Sync meeting and agreed on the following:

- The account icon is primarily used for accounts and sync is there as an entry point, so it would be odd to use the sync profile avatar as a replacement
- We should allow users to hide account icon via right-click #97167
- We should explore using a richer ui for the account picker (similar to the notificatio

[2020-05-07 17:21] #95804 closed

[2020-05-07 17:37] zersiax commented on #97154
While that is true, I would say line numbers can be toggled, so I don't necessarily see that as an obstacle for this. If this allows for breakpoint, error and line number indication, I'd say go for at least giving it a test run. The performance implications are one to keep an eye on, though.

[2020-05-07 17:40] morozovsk commented on #41309
@krytenjrobot, @sketchbuch

Rather you will be banned because registering new accounts for spam.
If I see you here again with a new account, I will write a complaint to github and your main account will be banned.

Old man but acting like a teenager.

[2020-05-07 17:42] kryptus36 commented on #41309
"Screw you" is not a proper discussion. The guy was clearly trolling, when it was pointed out his arguments were flawed he moved the goal posts. He's just wasting everyone's time.

[2020-05-07 17:43] #96608 closed

[2020-05-07 17:44] rebornix commented on #86769
I didn't see any issue with it anymore. Closing it for now. Thanks!

[2020-05-07 17:44] #86769 closed

[2020-05-07 17:49] juanmbraga opened #97169 "Enlarge/change icons for a more touch-friendly interface"
Hey there,
I was hoping to bring attention to the fact that the icons for the left panels are rather small, and I also believe them to be "tough" or not as intuitive as it could be.

Since the day I got a touch screen laptop, I could never go back. It allows me to be more productive without having to buy a mouse to carry around, or memorize loads of commands.
Yes, I am aware that Ctrl + '+' is cap

[2020-05-07 17:55] #91418 closed

[2020-05-07 17:55] sbatten commented on #91418
I think this is addressed after all the changes done

[2020-05-07 17:56] sbatten commented on #91419
also done

[2020-05-07 17:56] #91419 closed

[2020-05-07 18:05] deepak1556 commented on #97151
Thanks for the details, is it possible for you to confirm from which VSCode version this issue started appearing ?

GPU process does many other things apart from hw acceleration, so it will always exist. But the flag `disable-gpu` or setting the runtime argument `"disable-hardware-acceleration": true` will disable hw acceleration which seems to be the source of issue for your particular graphics c

[2020-05-07 18:11] #95086 closed

[2020-05-07 18:11] #95091 closed

[2020-05-07 18:30] u84six commented on #96103
I'm having the same problem with the Option key. I'm trying to create an edit window/terminal toggle, so tried to set up the focus when using alt+` and when I'm in either the terminal or the edit window, it just type the '`' as if it doesn't even recognize the Option key. I'm using the default macbook pro keyboard

[2020-05-07 18:49] lovettchris opened #97170 "markdown preview is confused and missing the ``` end block"
Try and preview the attached markdown file, notice the tripple back-tick end block on `Code and activity coverage options` is ignored, and the rest of the file is formatted as code.r clipboard because it was too large to send.

[coverage.zip](https://github.com/microsoft/vscode/files/4595088/coverage.zip)

[2020-05-07 18:52] lovettchris opened #97171 "Can't file a bug report with text containing ```"
- VSCode Version: 1.44.2
- OS Version: 10.0.19041

Steps to Reproduce:

1. Try and submit this bug report:
![image](https://user-images.githubusercontent.com/18707114/81333119-f29b3080-9058-11ea-83a9-be6b3d2c1269.png)

2. you get this confusing error:
![image](https://user-images.githubusercontent.com/18707114/81333139-faf36b80-9058-11ea-8450-5116f398ba15.png)

Does this issue occur when all exten

[2020-05-07 18:54] joaomoreno commented on #97157
Merging into https://github.com/microsoft/vscode/issues/95641

[2020-05-07 18:54] #97157 closed

[2020-05-07 18:55] joaomoreno commented on #95641
Similar issue:

![recording](https://user-images.githubusercontent.com/22350/81308911-a238c880-9082-11ea-90a1-c0c10b47b277.gif)

[2020-05-07 18:56] joaomoreno commented on #95641
Great issue!

[2020-05-07 19:00] mluparu commented on #95745
**Tl;dr: You can use the C++ Toolset from Visual Studio Build Tools along with Visual Studio Code** to compile, build, and verify any C++ codebases as long as you also have a valid Visual Studio license (either Community, Pro or Enterprise) that you are actively using to develop these C++ codebases.

More details:

- Visual Studio license is a named license, which means that if you have acquired s

[2020-05-07 19:02] RMacfarlane commented on #97171
Hey @lovettchris, sorry for the confusing error message! Would love any feedback on how to make this message clearer.

When we go to create a new issue, since VSCode doesn't have any authentication details about your GitHub account, we open the issues/new page instead of directly creating an issue. When we open this page, the title and body of the issue are prefilled from a query string in the url

[2020-05-07 19:07] lucasavila00 opened #97172 "Wrong window closing after Codespace timesout and you "ok" the message"
- VSCode Version:
Visual Studio Code 1.44.2
- OS Version:
ProductName:    Mac OS X
ProductVersion: 10.15.4
BuildVersion:   19E266

Steps to Reproduce:

1. Have one window open on a local project
2. Have another window open with a Codespace
3. Let the Codespace be suspended due to inactivity
4. A pop up will take focus saying it was turned off etc
5. Click "OK" on that pop up from Codespace window

[2020-05-07 19:08] phptek opened #97173 "Outline Panel With No Contents on Startup"
- VSCode Version: 1.45.0
- OS Version: Ubuntu 18.04

Steps to Reproduce:

1. [OK] Open a single .py file with at least one class and some attributes
2. [OK] Observe the "Outline" panel shows some expected symbols
3. [OK] Close VSCode
4. [OK] Re-open VSCode
5. [OK] Observe original .py file is has automatically been opened
6. [FAIL] Observe the "Outline" panel contains no symbols and shows the mess

[2020-05-07 19:09] marvin1up commented on #83678
I'm definitely +1 on @weinand suggestion to inject (e.g.) _args for string array - it is creative and provides a good approach for different uses including inputs.  Some people would even just prefer, for the `args` case, to use `_args` to simplify cutting and pasting arg strings into a configuration`.  Personally, I would keep the space delimited parsing completely basic (no handling of any quoti

[2020-05-07 19:15] u84six opened #97174 "Collapse Folders in Explorer command not working correctly in Multi-root Workspaces"
- VSCode Version: 1.44.2
- OS Version: macOS Catalina

Steps to Reproduce:

1. Load Multi-root Workspace with two or more root folders
2. Open the root folders, then open some subfolders in each
3. Use the command "File: Collapse Folders in Explorer"

You'll notice that if collapses all subfolders but not the roots folders.

Work-around: issue the same command again.

Does this issue occur when al

[2020-05-07 19:15] Stanzilla opened #97175 "Add a "Reload all windows" command"
Currently when you are updating an extension that requires a window reload, you have to go through all your open windows and reload them. A "reload all windows" command in the command palette would help with this.

[2020-05-07 19:16] lovettchris commented on #97171
then the entire form is a lie :-) If you can't sort out the authentication problem then you'd be better off sending me to github much sooner instead of making me fill out this form only to find it was a useless exercise...

[2020-05-07 19:18] Tyriar commented on #97118
This is not only a technical issue but it's by design that access to document is restricted. The core of VS Code controls all UI outside of inside webviews intentionally.

[2020-05-07 19:18] #97118 closed

[2020-05-07 19:20] #95641 closed

[2020-05-07 19:21] Tyriar commented on #97175
alt+f, x, enter and relaunch the app?

[2020-05-07 19:22] Tyriar commented on #97105
This looks like an issue with our old terminal backend "winpty", going forward we are focusing our efforts on the new backend "conpty" which is build by the Console team at Microsoft and should fix many issues with the terminal under Windows. You can read more about getting ConPTY [here](https://github.com/Microsoft/vscode/issues/57803#issuecomment-449495423).

/duplicate https://github.com/Micros

[2020-05-07 19:22] #97105 closed

[2020-05-07 19:22] Stanzilla commented on #97175
Hrm well, that works but assumes the user has the option to relaunch all open windows checked.

[2020-05-07 19:24] Tyriar commented on #97097
Is this a problem with VS Code's UI or something It's not clear, a screenshot would help.

[2020-05-07 19:25] RMacfarlane commented on #97171
No need to be rude, if you clicked "OK" on the dialog in the screenshot above, you could paste the information into the issue. The form still serves a purpose of collecting other diagnostic information to send to GitHub, which we would have the same length limitation issues regardless of when we open github

[2020-05-07 19:26] dwelle commented on #46718
@bpasero

Instructions unclear. I don't have any `Quick Access` in latest insiders.

[2020-05-07 19:26] Tyriar commented on #97093
QDK isn't bundled with VS Code, also you're on an ancient version, maybe that's causing your issue?

[2020-05-07 19:26] #97093 closed

[2020-05-07 19:30] #97075 closed

[2020-05-07 19:31] mjbvz opened #97176 "More bottom padding for 'open in editor'"
Issue Type: <b>Bug</b>

In the search view, the `open in editor` link has a fairly small amount of bottom padding:

![Screen Shot 2020-05-07 at 12 29 18 PM](https://user-images.githubusercontent.com/12821956/81336618-815e7c00-905e-11ea-8dd3-87525561ab87.png)

This can make it visually blend into the search results

VS Code version: Code - Insiders 1.45.0-insider (d69a79b73808559a91206d73d7717ff5f7

[2020-05-07 19:31] RMacfarlane commented on #97171
There's another feature request open to have a command that just copies this diagnostic info to the clipboard, so with that you could avoid the issue reporter altogether. Will find that issue reference in a bit

[2020-05-07 19:32] AlencarGabriel commented on #95472
Hello, I noticed that this correction came out in the last release.

However, I identified that extensions that were moved and lost the icon, still without the icon in the Activity Bar.

![vscode](https://user-images.githubusercontent.com/10109480/81336748-43724f80-9080-11ea-8094-4c438650e697.png)

[2020-05-07 19:32] Tyriar commented on #97076
That's just how it was designed, to help you understand better, you can hit ctrl+p and type `?` to view all the capabilities of this component.

<img width="604" alt="Screen Shot 2020-05-07 at 12 31 48 PM" src="https://user-images.githubusercontent.com/2193314/81336743-b9fe5580-905e-11ea-8642-5a2aaf1030de.png">

[2020-05-07 19:32] #97076 closed

[2020-05-07 19:33] #97079 closed

[2020-05-07 19:34] Tyriar commented on #97058
I think the problem is with the "quick layout" feature or whatever it was called that caches colors from the previously used theme.

[2020-05-07 19:37] Colengms opened #97177 "Add new semantic token scopes to Dark+ and Light+ themes?"
Hi @alexr00 .  You had helped us out in the context of [this issue](https://github.com/microsoft/vscode/issues/80783 ), with new entries in the Dark+ and Light+ themes for the TextMate scopes we had added for our semantic colorization implementation in the C/C++ Extension.  VS Code has since added a new Semantic Tokens API.  We're in the process of removing our custom implementation in favor of us

[2020-05-07 19:39] #97049 closed

[2020-05-07 19:40] bmasterc opened #97178 "Python Extension: SyntaxError Error Message Popup on Actual Error Location"
On an import of a python file with bad syntax, on run and error message is diplayed on the import statement, showing the file name and line number.

A user has to go to this line manually since there is no link to the location of the error. There could be a link to the error file/line or just have the popup moved to the location inside the offending file.

from FILE import XXXX

Exception has occu

[2020-05-07 19:42] KittyYeungQ commented on #97093
@tpetchel Could it be your VS Code was old?

[2020-05-07 19:42] opotonil opened #97179 "Using styled-components breaks highlighting"
First I thought the trouble was the `styled-components` [extension](https://github.com/styled-components/vscode-styled-components/issues/218) but after disable it the trouble continue, so now I am not sure about where is the trouble.

- VSCode Version: 1.44.2
- OS Version: Linux x64 5.6.8-arch1-1

Steps to Reproduce:

![screen-1](https://user-images.githubusercontent.com/63747287/81337220-fbb4ed80

[2020-05-07 19:42] #97176 closed

[2020-05-07 19:42] misolori commented on #97176
Added some bottom padding:

![image](https://user-images.githubusercontent.com/35271042/81337588-1ca42100-9060-11ea-9a1c-6316b12caf1b.png)

[2020-05-07 19:44] usernamehw commented on #97058
Maybe that's different features. I've notices white flashes while switching workspaces, but this is not it.
It's applied to all moments when active color theme `"workbench.colorTheme"` is not activated and replaced with default one `"Default Dark+"`.
When the active color is light - defaulting to dark theme is a bit unpleasant.

[2020-05-07 19:48] charanjeet8587 commented on #96692
Hi Isidorn,
VS code via this link is working perfectly fine. Thanks for response.
Have a lovely weekend ahead. Be safe.

[2020-05-07 19:48] lovettchris commented on #97171
Sorry didn't mean to sound rude - see the smiley face...   But anyway, just giving you my user impression having gone down this UX rabbit hole.  Do with it as you like :-)

[2020-05-07 20:04] mjbvz commented on #97170
The markdown is incorrect.

[code]

Most markdown specs require the the number of opening backticks for fenced code blocks match the number of closing backticks

[2020-05-07 20:04] #97170 closed

[2020-05-07 20:06] mjbvz commented on #97163
Please fill out the issue template. For example, what VS Code version and OS are you on?

/needsMoreInfo

[2020-05-07 20:06] mjbvz commented on #97099
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-05-07 20:08] lovettchris commented on #97170
I see thanks, but it renders correctly on Github via Jekyll.

[2020-05-07 20:08] beltaurus commented on #14836
None of the suggested work-arounds seem practical for me...

### Scenario
I am currently working on a regression test infrastructure, where there are hundreds of files called `CompileJob.pm`  (all with slightly different content. When I search for a token, I really only want the ONE that I'm looking at (which is typically the one opened by the debugger for me...).

Granted, I can hover over the ta

[2020-05-07 20:09] mjbvz commented on #97170
There are lots of different markdown specs. We target common mark: https://commonmark.org

[2020-05-07 20:10] mjbvz opened #97180 "Search editor does not persist the 'exclude configured files' setting"
Issue Type: <b>Bug</b>

**repro**
1. Do a normal search
1. Make sure excluded configured files is enabled
1. Now open the results in a search editor

**Bug**
The search editor does not have 'exclude configured files' enabled, which makes searches very slow in projects with `node_modules`:

![Screen Shot 2020-05-07 at 12 31 15 PM](https://user-images.githubusercontent.com/12821956/81340096-1dd74d00

[2020-05-07 20:11] matangover commented on #95641
Thanks for such a fast fix 🚀

[2020-05-07 20:13] mjbvz commented on #97179
Please always share the text of the code along with screenshots

/needsMoreInfo

[2020-05-07 20:13] mjbvz commented on #97178
/extPython

[2020-05-07 20:13] #97178 closed

[2020-05-07 20:15] TomasHubelbauer opened #97181 "Activating extension failed: Proposed API is only available when running out of dev or with the following command line switch: --enable-proposed-api"
- VSCode Version: 1.45.0
- OS Version: Windows 10

Steps to Reproduce:

1. Do the following:

Hi! I am using VS Code 1.45.0 and attempting to develop an extension which uses the proposed APIs. I have correctly placed `vscode.proposed.d.ts` into my extension's `src` and I've also added `enableProposedApi: true` to its `package.json`. However, when I run the extension using F5 for debugging, the ext

[2020-05-07 20:16] lovettchris commented on #97170
Fair enough and I see the same rendering here: https://spec.commonmark.org/dingus/
Interesting that commonmark lists GitHub as a commonmark adopter then... must still be some ambiguity in the spec.

I notice the spec says " code fence is a sequence of at least three consecutive backtick character", but the key thing that Github seems is "The closing code fence must be at least as long as the openi

[2020-05-07 20:17] mjbvz commented on #97135
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-05-07 20:17] TomasHubelbauer commented on #93134
I am doing that in #97181 and still I am receiving this error.

[2020-05-07 20:19] mjbvz commented on #97142
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-05-07 20:20] mjbvz commented on #97142
Also, duplicate of microsoft/TypeScript#38076

[2020-05-07 20:20] #97142 closed

[2020-05-07 20:26] lovettchris commented on #97170
By the way thanks for the quick turnaround on this, that's impressive.

[2020-05-07 20:28] TomasHubelbauer opened #97182 "An argument is not getting passed to the VS Code extension host VS Code process"
- VSCode Version: 1.45.0
- OS Version: Windows 10

Steps to Reproduce:

1. Generate a new VS Code extension
2. Go to `.vscode/launch.json` and add `--inspect` to the list of arguments to pass
3. Execute `npm test` to run the extension tests
4. Observe `--inspect` lacking in the command output

This makes sense, because the `test` script invokes `/node_modules/vscode/bin/test` and completely bypass

[2020-05-07 20:30] TomasHubelbauer commented on #97182
FWIW I am currently using this as a workaround:

https://github.com/TomasHubelbauer/code-extension-screencast/blob/master/src/test/extension.test.ts#L75

This is specifically what I am looking to replace by a more native mechanism, but I think the broader problem of passing command line arguments to the VS Code extension host is more useful to discuss as if there was one such it would solve my spe

[2020-05-07 20:38] giosmasj commented on #97099
Thanks for the reply. I deleted VS Code and reinstalled and is working again

Sent from my iPhone

[2020-05-07 20:40] sbatten commented on #95472
@AlencarGabriel  this issue only addressed moving the entire container as a whole. If you move views individually, the icons are still lost. This is being addressed with the next release.

[2020-05-07 20:41] drew-gross commented on #90235
I would also like this feature! Mostly because when a Code Lens appears or disappears while I am typing, the whole page shifts and the code I was looking at moves out from under my eyes. I have disable Code Lens entirely because of this, even though the actions it provides are quite useful (specifically in the Bazel extension)

[2020-05-07 20:47] deepak1556 commented on #97083
@scooweb which version of windows are you on ?

Also please try the installation instructions for VC++ packages specified by @pedrowindisch , thanks!

VSCode or rather electron links with UCRT statically, so this issue is rather from the inno_updater package itself.

[2020-05-07 21:17] johncalvinyoung commented on #90461
As a user who usually has multiple repos in workspace scope who badly wants to move the SCM view around, I'm alright treating the various change views as one view.

[2020-05-07 21:32] karaluton opened #97183 "Experimental decorators warning still showing when set to true in jsconfig.json"
- VSCode Version: 1.44.2
- OS Version: 10.14.6

Steps to Reproduce:

1. In `jsconfig.json` set `experimentalDecorators` option to true.
2. In a JS file use a decorator.
3. At first, the warning goes away but after having VS Code open for a while it will show again. Quitting and reopening VS Code fixes it but it will eventually show up.

Does this issue occur when all extensions are disabled?: Yes

[2020-05-07 21:37] mloutris commented on #97097
I tried copying the source file as well as pasting it, but GitHub messed up both.
1. The first screen shot is of the extremely basic markup text.
2. The second shows the text displayed in Chrome with the list items in reverse order, largest value at the top, decreasing toward the bottom.  This is how the feature is explained to work.
3. The last screen shot shows the same markup displayed using VS

[2020-05-07 21:39] #97180 closed

[2020-05-07 21:39] JacksonKearl commented on #97180
Thanks!

[2020-05-07 21:42] JacksonKearl opened #97184 "Standardize searchEditor.reusePriorSearchConfiguration setting"

[2020-05-07 21:44] #97184 closed

[2020-05-07 21:45] JacksonKearl commented on #97184
Nevermind, already tracking in #89353

[2020-05-07 21:47] VitamintK commented on #91314
:(((((((((((((((((((((((((

[2020-05-07 21:51] #97108 closed

[2020-05-07 21:51] #96685 closed

[2020-05-07 21:52] warpdesign opened #97186 "Error: file is a directory when ctrl+click on a path in terminal"
- VSCode Version: 1.45.0
- OS Version: Windows 10.0.18363.778

Steps to Reproduce:

1. Open the integrated terminal with cmd.exe as shell
2. Ctrl+click on the command prompt

Does this issue occur when all extensions are disabled?: Yes

![terminal_click](https://user-images.githubusercontent.com/199648/81348097-bcdc6300-90bd-11ea-89ab-75a3561ed85a.gif)

[2020-05-07 21:59] deepak1556 commented on #87498
Sorry missed this, thanks @d3x0r for opening the electron issue, will continue the discussion there.

[2020-05-07 22:02] EmbeddedBacon commented on #97047
I manually downloaded the new release, 1.45, since the automated update doesn't work for me due to this https://github.com/microsoft/vscode/issues/94849, which I believe was to be fixed in this release.  Anyhow, after installing the new version and attaching to the remote Linux machine it fails while trying to download the server.  The log is attached.  Could this be a proxy issue?

[vsode-1.45.0-

[2020-05-07 22:09] nanixne opened #97188 "terminal font size issue"
- VSCode Version: 1.45.0 (regression)
- OS Version: Windows 10

Steps to Reproduce:

1. open terminal font messed.
2. but if do not use default fontsize 14 either 13 or 15, it works
    "terminal.integrated.fontSize": 15,
3. "Consolas" always works, but I use "Liberation Mono"
4. uses msys2 bash as terminal

Does this issue occur when all extensions are disabled?: Yes/No

[2020-05-07 22:29] connorshea commented on #83698
Looks like this is coming in Firefox 78 :) https://bugzilla.mozilla.org/show_bug.cgi?id=1361876#c16

[2020-05-07 22:29] SteelPhase opened #97189 "Detect workspace files when telemetry is disabled"
- VSCode Version: 1.45.0 and 1.46.0-insider(d487078dc7fc1c276657cadb61b4f63833a8df55)
- OS Version: 10.14.6

Steps to Reproduce:

1. Disable telemetry... `"telemetry.enableTelemetry": false`
2. Open a folder with a workspace file

Result: Nothing happens
Expected: My fancy little popup telling me that I should have opened the workspace...

Does this issue occur when all extensions are disabled?: Y

[2020-05-07 22:30] EmbeddedBacon commented on #97047
So, I changed the proxy server to the old one which shouldn't work anymore according to IT at which time the server was able to be installed on the main Linux machine I used.  I tried with the other two, but even after I had changed the proxy setting it was still trying to use the old one.  Eventually after a few restarts it picked up the old proxy setting.  What is strange, the third Linux machin

[2020-05-07 22:35] felipecassiors commented on #83678
By the way, the parsing string back into into an array, dealing with quoting, should be the easiest part. See [shell-quote](https://www.npmjs.com/package/shell-quote)'s `parse`:

![image](https://user-images.githubusercontent.com/29582865/81351051-c522a700-9099-11ea-94ab-82ddcb827a08.png)

[2020-05-07 22:45] ElmouradiAmine commented on #164
2020 this problem still persist!

[2020-05-07 22:55] becting commented on #95062
I am having the same issue. Code runs without issue from terminal which is able to request the appropriate permissions. VSCode however does not request permissions as expected.

The output is
`OpenCV: not authorized to capture video (status 0), requesting...`

[2020-05-07 22:55] JacksonKearl commented on #95582
`search.action.openNewEditor` and `search.action.openNewEditorToSide` can now be called with args like:
[code]

[2020-05-07 22:59] eamodio opened #97190 "Provide some richer (optional) UI for custom tree views"
Refs: #96927

It would be great to have some richer optional UI components that could be enabled within a custom view, e.g.

- Search/Filter box
- General input box
- "Details" pane -- kind of like a footer to show details about the selected item(s)
- Richer hovers https://github.com/microsoft/vscode/issues/84032

@idoprz Can you please add some more details here too?

[2020-05-07 23:00] #95582 closed

[2020-05-07 23:02] eamodio commented on #96927
Thank you to everyone who participated in this call!

### Video
[![](https://img.youtube.com/vi/A811ihQgQRQ/maxresdefault.jpg)](https://youtu.be/A811ihQgQRQ)

### Highlights
- Request for feedback on the Custom Editor API, as we are very close to finalization — https://github.com/microsoft/vscode/issues/77131
- Walkthrough and request for feedback on the Timeline API — https://github.com/microsoft

[2020-05-07 23:04] becting commented on #95062
However, when I start VS Code from terminal, it works.

[2020-05-07 23:08] #89353 closed

[2020-05-07 23:08] ElielRamirez opened #97191 "error on save"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-05-07 23:09] #97191 closed

[2020-05-07 23:11] JacksonKearl commented on #89353
Took the setting out of `experimental`, now you'll be able to find it in the UI settings editor. Also related #95582, which allows you to pass args in the keybinding configuration:
[code]

Explicitly passed args override prior config.

[2020-05-07 23:19] Tyriar commented on #97150
@sandy081 oh because I use the en-gb language pack, you should definitely change the nls id of the string if you change the number of variables it uses.

[2020-05-07 23:34] EduardoBautista opened #97192 "Setting has an invalid type, expected "array". Fix in JSON"
- VSCode Version: 1.45.0
- OS Version: macOS Catalina 10.15.4

![image](https://user-images.githubusercontent.com/1585126/81354430-2d20bf80-9091-11ea-8c00-0500a66ad20d.png)

My `settings.json` file:
[code]

The setting does work, it just shows that warning.

Steps to Reproduce:

1. Settings > "rulers" in search
2. Click on "Edit in settings.json" under "Editor: Rulers"
3. Add any number inside of

[2020-05-07 23:48] alefragnani commented on #97190
Hi @eamodio ,

I’m glad to see the **Search/Filter box** being requested again. Our #54323 and #50062 issues were closed in the past, in favor of the _explorer like search/filter_. But, IMHO a **Search/Filter box** is way better 😁 .

I would add one more request (based on the Timeline experience). Expose the “title detail/description”, just like the Timeline view does today, displaying the  “curre

[2020-05-07 23:49] deepak1556 commented on #95062
Thanks for confirming @becting , thats the only workaround available for now.

As I have outlined earlier

[code]

So to workaround,

* kill all your running instances of VSCode including any helper process, verify with Activity Monitor
* make sure macOS Terminal.app has media permissions
* start VSCode from Terminal.app `code` or `code-insiders`
* Scripts run from the VSCode terminal that require

[2020-05-07 23:53] eamodio commented on #97190
@alefragnani can you open a separate issue for that one - I definitely echo wanting it

[2020-05-07 23:57] JacksonKearl commented on #92298
With #95582 you should now be able to do something like:
[code]

[2020-05-07 23:58] JacksonKearl commented on #95582
Note that while `"query": "${selectedText}",` works, the `${selectedText}` variable throws if there's no selected text. By default search editors use selected text, so you can just leave this out to use selected text if it exists and nothing otherwise.

[2020-05-08 00:00] alefragnani opened #97193 "Expose “Title detail/description” in Treeview API"
Refs: #97190

Based on the Timeline experience, it would be great if the Treeview API could expose the **title detail/description** which you see today, in the Timeline view. It displays the _current/active filename_.

Just like the Timeline view, this property should be writeable in runtime, instead of pre-defined in `package.json`.

Thank you

[2020-05-08 00:02] alefragnani commented on #97190
@eamodio sure, opened #97193 .

Thank you

[2020-05-08 00:03] rebornix commented on #97169
@misolori can correct if I was wrong but I think this can be improved by supporting https://github.com/microsoft/vscode/issues/519 ( *Allow to change the font size and font of the workbench* ). We are already using icon font thanks to the work @misolori has done, we can use font size to control the icons in the UI in a similar way.

[2020-05-08 00:05] JacksonKearl commented on #93369
Going to close this out as it hasn't gotten much traction with other team members (I think if I were to make this change, we'd quickly have people asking for it to be the old way...)

[2020-05-08 00:05] #93369 closed

[2020-05-08 00:06] jonigl commented on #85332
Same here but in MacOS v10.15.3 (19D76) I decided to what @dako98 suggested and it worked :) it's not the best solution but better than nothing

[2020-05-08 00:12] deepak1556 commented on #97123
On windows and macOS where the underlying crash handler called `Crashpad` starts monitoring crashes in child processes (this includes render process, gpu process, child node process that are attached to the parent) from the moment its initialized in the main process. So any process that is created before the crash reporter is initialized in the main process will not be monitored. Currently we do t

[2020-05-08 00:12] gazzar commented on #5402
@Rowan-Mulder I think it's ironic that you're trying to get a feature implemented in Visual Studio that VSCode already implements, whereas this feature request is about trying to get a feature implemented in VSCode that Visual Studio implements. However, I don't see the two features as related.

[2020-05-08 00:28] ttwd80 opened #97194 "Bad documentation page"
- VSCode Version: N/A
- OS Version: N/A

Steps to Reproduce:

1. visit https://code.visualstudio.com/docs/setup/mac
2. Search for "Open the Command Palette"
3. It will say `F1`. It should say <kbd>Shift</kbd>+<kbd>⌘</kbd>+<kbd>P</kbd>.

Does this issue occur when all extensions are disabled?: Yes/No

[2020-05-08 00:29] RMacfarlane commented on #97171
I hadn't eaten lunch when I responded earlier, so maybe I took offense too easily out of hunger 😄 Anyway, thank you for the feedback!

Here's the issue about having a command to file an issue: https://github.com/microsoft/vscode/issues/91108

I'm going to close this as a duplicate of https://github.com/microsoft/vscode/issues/95165, since that tracks using authentication to directly create the iss

[2020-05-08 00:29] #97171 closed

[2020-05-08 00:41] aaron-oxford commented on #11688
4 years and no response... Is there an extension that can add this feature?

[2020-05-08 00:44] SteelPhase commented on #97189
I've attempted to track this down in the debugger, but I have a sneaking suspicion that this will require debugging with the telemetry code included. I can't reproduce outside of the released and insiders builds.

[2020-05-08 01:05] ryandowling opened #97195 "up-vote release note features"
Allow up-voting of features in (and via) the release notes.

For instance: I tried switching tabs using mouse wheel for first time tonight after seeing the feature in the release notes.  It was so smooth and natural it's like I found a muscle memory I never realized I had all along. I wanted to up-vote the feature right in the release notes for whomever it was that implemented it.

[2020-05-08 01:16] deepak1556 commented on #95689
Sorry I forgot to update here, the electron backport landed in `7.2.4` and went out with the stable release `1.45` today.

[2020-05-08 01:16] #95689 closed

[2020-05-08 01:20] Colengms opened #97196 "Disposing a DocumentSemanticTokensProvider does not clear tokens from the file"
Version: 1.45.0 (user setup)
Commit: d69a79b73808559a91206d73d7717ff5f798f23c
Date: 2020-05-07T16:18:48.860Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Implement a provider derived from DocumentSemanticTokensProvider
2. Register it with registerDocumentSemanticTokensProvider()
3. Handle a token request, ret

[2020-05-08 01:21] hhimanshu commented on #37350
Oh man! such a big miss from VSCode. I wonder how developers survive without this feature. I am going to resort to Webstorm for this

[2020-05-08 01:22] infinnie opened #97197 "`npm run install` is executed instead of `npm install` from npm: install in recently used tasks"
- VSCode Version: 1.44.2
- OS Version: Windows 7

Steps to Reproduce:

1. Execute the npm: install task from Terminal / Run Task… / Show All Tasks… and the `npm install` command is correctly executed.
2. Click the Terminal / Run Task… menu again. The `npm: install` task appears in recently used tasks.
3. Click the `npm: install` and what is executed is `npm run install` instead of the expected `np

[2020-05-08 01:34] matthewkwong2 opened #97199 "[v1.45] Cannot authenticate proxies"
While using vscode version 1.45, I cannot submit the username and password of the proxy. The following popup prompted as expected, but both the OK button and the Enter key cannot submit the login info.
![image](https://user-images.githubusercontent.com/32725014/81360520-a1e60f00-910e-11ea-9058-79bdb2ab6d05.png)

[2020-05-08 02:20] jhomme commented on #43262
Hi,

Let me lay out my case for letting the screen reader user control their own destiny with folding. I think I qualify, because of having used a screen reader since about 1987. Here goes.

When writing code, the screen reader user should know which lines are folded by context. For example, in Python, the user would read words such as if, else, while, class, function, etc., and the lines would en

[2020-05-08 02:20] dekan387 opened #97201 "code not outputting"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

hello i have inclosed the code beneth and am wondering why it wont run ive looked over it many times and it just dose nothing i put in my information i code it to ask and the nothin i believe it to be a bug
#include <iostream>
using std::cout;
using std::cin;

double power(do

[2020-05-08 02:40] bzarco opened #97202 "${config:<name>} variables fail to resolve in multi-root workspace launch configurations."
Issue Type: <b>Bug</b>

When I try to use `${confg:<name>}` variables in multi-root workspace launch configurations, they fail to resolve with error:

[code]

This is not right, as there is no way to scope config variables with workspace folder names.

Minimal example, launching the configuration `Launch Program` will fail to resolve the config variable:

Hierarchy:

[code]

test.code-workspace:

[2020-05-08 03:24] user474 opened #97204 "Hard to see which buttons are toggled in find/replace dialog boxes"
OS: Windows 10
![image](https://user-images.githubusercontent.com/55680783/81366472-19776680-912e-11ea-99cc-efcf1f0e92c1.png)

As you can see in the image above it is really hard to see which buttons are toggled and which are not especially when you have the monitor's contrast and brightness turned down all the way which is what I have when working at night.

The blue highlighting has very little

[2020-05-08 03:31] Rwantare commented on #94651
I had to nuke my Ubuntu install for other reasons, but after setting up a fresh Kubuntu 20.04 LTS, I have no issues. I wonder if the problems stemmed from switching between gnome and kde on 18.04.

[2020-05-08 03:48] LeuisKen commented on #96109
I prefer to show latency outputs on status bar, like this product.
![image](https://user-images.githubusercontent.com/7701575/81367681-7ec45b00-9120-11ea-8dd4-1bc323e9b172.png)
“网络延迟 高” means "High network latency".
This feature will be really helpful when I'm using Visual Studio Codespace and VS Code Remote. It can remind me of the current network quality, and warns me to try to improve the netwo

[2020-05-08 03:50] flasco opened #97206 "[v1.45] the color of constant is inconsistency in default dark+"
- VSCode Version: 1.45.0
- OS Version: macOS 10.14.4

Steps to Reproduce:

1. the color of constant is inconsistency  in default dark+

![image](https://user-images.githubusercontent.com/20221600/81368233-d3b4a100-9121-11ea-96a1-42dfd9c3bda1.png)
![image](https://user-images.githubusercontent.com/20221600/81368240-d6af9180-9121-11ea-9f55-52264be07db9.png)

Does this issue occur when all extensions

[2020-05-08 03:53] flasco commented on #97206
![image](https://user-images.githubusercontent.com/20221600/81368460-63f2e600-9122-11ea-9b90-d4a17cb8b7e6.png)

extensions was closed.

[2020-05-08 04:27] marco-cc opened #97208 "VSCode Proxy issue in April release if behind coporate proxy"
Issue Type: <b>Bug</b>

If user behind authenicated/coporate proxy,
when startup VSCode, proxy credentials input popup box will show .
But in April release, version 1.45, popup box submit form is not working, therefore the VSCode cannot connect to internet.
I need to reinstall March release (version=1.44.x) to fix it temporarily

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300d

[2020-05-08 04:30] intruder04 opened #97209 "Smooth scrolling does not work. Windows 10. 4k screen"
I enabled smooth scrolling in settings but it is still choppy.
Using Windows 10, 4k screen.

[2020-05-08 04:54] sonnos opened #97210 "My VsCode very Slow"
## System Info

* Code: 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c)
* OS: win32(10.0.18363)
* CPUs: Intel(R) Core(TM) i3-3110M CPU @ 2.40GHz(4 x 2395)
* Memory(System): 9.90 GB(6.51GB free)
* Memory(Process): 199.93 MB working set(180.58MB private, 1.43MB shared)
* VM(likelyhood): 0%
* Initial Startup: true
* Has 0 other windows
* Screen Reader Active: false
* Empty Workspace: true

## Perfo

[2020-05-08 05:15] dsyx opened #97211 "shortcut key effect changes according to the position of the focus"
My environment:
Version: 1.44.2 (user setup)
Commit: ff915844119ce9485abfe8aa9076ec76b5300ddd
Date: 2020-04-16T16: 36: 23.138Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

I usually use wsl or remote ssh in Code integrated terminal. I have encountered such a problem: when I want to change the `htop` view display format, I used the

[2020-05-08 05:27] shamarin commented on #97199
Confirm! The same issue for me, i can't submit it.

[2020-05-08 05:28] basavyr opened #97212 "The new scrolling feature feels very strange while using a trackpad (macOS)"
- VSCode Version: **1.45.0**
- OS Version: **macOS Catalina (10.15.3)**

___

The new scrolling feature feels extremely unresponsive to me while trying it on a trackpad (MacBook Pro's trackpad).
If I try to scroll through my opened windows (with two-fingers up/down drag), the speed is very high: even if I move my fingers very very slowly, it completely scrolls through all my files two or three tim

[2020-05-08 05:29] bpasero commented on #46718
I should have posted here, the feature was pulled out, currently `search.exclude` is NOT being used for workspace symbol search.

[2020-05-08 05:43] bpasero commented on #97172
@lucasavila00 can you demonstrate this flow with a screen capture or images, not quite clear to me yet.

[2020-05-08 05:44] bpasero commented on #97212
/duplicate https://github.com/microsoft/vscode/issues/96409

[2020-05-08 05:44] bpasero commented on #97164
/duplicate https://github.com/microsoft/vscode/issues/96409

[2020-05-08 05:45] #97212 closed

[2020-05-08 05:45] #97164 closed

[2020-05-08 05:47] frankier opened #97213 "Saving can truncate files when disk is full"
- VSCode Version: 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd)
- OS Version: Debian GNU/Linux bullseye

Steps to Reproduce:

1. Fill up disk while working on a file (Docker for example can assist)
2. Try to save file in vscode
3. For whatever reason gnome-shell crashes at this point
4. File is now truncated

Probably the thing to do is not truncate the file. Saving should be atomic and either

[2020-05-08 05:47] bpasero commented on #12622
Insiders is now updated with these changes: https://code.visualstudio.com/insiders/

To pin a tab you can either:
* right click > Pin
* or configure a keybinding to the command `workbench.action.pinEditor` and `workbench.action.unpinEditor` (`CtrlCmd+K CtrlCmd+Enter` by default)

![image](https://user-images.githubusercontent.com/900690/81374644-064da200-9100-11ea-8cbf-b8cea609eaaf.png)

[2020-05-08 05:51] pjx206 opened #97214 "Color self-adoption 'Render Whitespace' is needed"
I'm using the theme `One Dark Pro` and I've set `Editor: Render Whitespace`.
But I found that the dots rendered are not very easy to identify because their color is nearly the same as the background's. I have to stare at the whitespace for a while to see them.
![image](https://user-images.githubusercontent.com/31790712/81374858-ce138700-9132-11ea-9bca-2e2f06358e4c.png)

[2020-05-08 05:52] SirLants commented on #12622
I work in a full MS stack but for my client-side work I really prefer working in something lighter like VS Code. It made me sad how much pinned tabs was a deal breaker. From fellow software engineers to software engineers, thank you!

[2020-05-08 05:53] ahmedElsehrawy commented on #95427
if you didn't fix that problem yet i had that problem today and i searched and got nothing but i discovered that you can add an extension manually by searching the name of extension in vs code and then click install without open the extension details and vs code will show you alert to Download manually click it and it will open the browser and download it manually
![2020-05-08](https://user-images

[2020-05-08 06:01] tomchenkang opened #97215 "The task provider for "C/C++" tasks unexpectedly provided a task of type "shell"."
Issue Type: <b>Bug</b>

when i debug my c code, there's a window show imformation like title.it occur after i update vs code in 2020/5/8.

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48.860Z)
OS version: Windows_NT x64 6.3.9600

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3210M CPU @ 2.50GHz (4 x 2494)|
|G

[2020-05-08 06:10] leonardder opened #97216 "Keyboard navigation between developer tools and vs code window"
When the chromium developer tools inside visual studio code are open, it is not possible to navigate between the tools and the window of VS Code. I"m not sure how this is done visually, but it might help to add them to the F6 sequence or provide another sequence to switch between the two. I think this  could be really helpful for keyboard dependent users to inspect the DOM tree for accessibility f

[2020-05-08 06:14] Salil03 opened #97217 "Wait for process in integrated terminal to end"
While developing extensions, we can send commands to integrated terminal using the `terminal.sendtext("your command")` But this does not  tell me when that command has finished executing. Typescript continues to execute other commands before integrated terminal finishes executing `your  command.` Also there is no way to extract the stderr/stdout.

It would be a nice feature to return the following

[2020-05-08 06:16] bpasero commented on #97123
Awesome, thanks for clarifying. I do not think we can change this for the normal case because the crash reporter can be disabled via setting and we do not read settings so early. But I pushed a change to start the crash reporter right in the beginning when `--crash-reporter-directory` is provided, please check:

https://github.com/microsoft/vscode/blob/004282afb048d2d6a92e380ea6dbf9d7afd809bd/src/

[2020-05-08 06:16] marco-cc commented on #97199
Same issue for me.
I rollback to install version 1.44 temporarily
https://code.visualstudio.com/updates/v1_44

[2020-05-08 06:19] bpasero commented on #80858
Update: thanks to @deepak1556 for the hint in https://github.com/microsoft/vscode/issues/97123#issuecomment-625559702, there is also crash dumps on macOS now for extension host process. The crash reporter will be started very early if the `--crash-reporter-directory` option is provided.

I have updated https://github.com/microsoft/vscode/wiki/Native-Crash-Issues to ensure every user goes with this

[2020-05-08 06:19] usernamehw commented on #97206
Do you have `editor.semanticHighlighting.enabled` enabled in settings?

[2020-05-08 06:21] #10144 closed

[2020-05-08 06:25] gjsjohnmurray commented on #97209
/needsMoreInfo What VS Code version?

[2020-05-08 06:26] gjsjohnmurray commented on #97208
/duplicate of #97199

[2020-05-08 06:27] #97208 closed

[2020-05-08 06:32] usernamehw commented on #97214
You can already do that. From `settings.json`

[code]
Also possible for a specific theme
[code]

[2020-05-08 06:33] usernamehw commented on #97214
/question

[2020-05-08 06:33] #97214 closed

[2020-05-08 06:35] deepj commented on #93299
I would appreciate more, if rthe ename functionality would use `git mv` behind in a project with git repository. It's logical because git can trace these changes than including showing changes in these renamed file. It doesn't have to be enabled by default, but give me an option to enable it.

[2020-05-08 06:37] gjsjohnmurray commented on #97211
/duplicate

See https://github.com/microsoft/vscode/issues/94268#issuecomment-607835394 for a pointer to how to stop `F5` in Terminal from being treated as a VS Code command.

[2020-05-08 06:38] #97211 closed

[2020-05-08 06:42] gjsjohnmurray commented on #97214
Also consider raising the issue with theme provider at https://github.com/Binaryify/OneDark-Pro

[2020-05-08 06:58] ThomasLai1991 commented on #97163
Thank you very much for your response, I have updated the information
according to the guidelines, thanks.

On Fri, 8 May 2020 at 04:06, Matt Bierner <notifications@github.com> wrote:

[2020-05-08 07:00] sean9keenan commented on #42253
So this isn't a real fix - but using this snippet that I just wrote:
[code]

[2020-05-08 07:01] gjsjohnmurray opened #97218 "Pinned Release Notes tab is blank (looks weird)"
Issue Type: <b>Bug</b>

1. Open Release Notes from Help menu
2. Pin it
3. Because Release Notes doesn't show an icon on its normal tab, the pinned one is empty.

VS Code version: Code - Insiders 1.46.0-insider (d487078dc7fc1c276657cadb61b4f63833a8df55, 2020-05-07T16:19:54.327Z)
OS version: Windows_NT x64 10.0.18363

![image](https://user-images.githubusercontent.com/6726799/81379861-c38cc980-9101-

[2020-05-08 07:04] imdeep2905 opened #97219 "Terminal not accepting input with ctrl + v."
- VSCode Version: 1.45.0
- OS Version: Windows 10 Pro

Steps to Reproduce:

1. Compile and run any Code in terminal which accepts input via stdin.
2. Paste your input in terminal it will sometimes show "^V" in terminal but not the actual inputs.
![issue](https://user-images.githubusercontent.com/55349690/81380262-36a93680-9128-11ea-9ee3-186a8967f251.PNG)

EDIT : It occurred after the latest update

[2020-05-08 07:05] deadcoder0904 opened #97220 "Aria Autocomplete not working with JSX (React)"
Issue Type: <b>Bug</b>

Can't get autocomplete suggestions for aria attributes while using JSX (React). Just write open any React project & try typing `aria-` & see there is no autocomplete.

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48.860Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|

[2020-05-08 07:07] ThomasLai1991 commented on #97163
Thank you sir, I've update more info.

I now highly suspect this error has something to do with the setting.json as shown in the screenshot of "Toggle Developer  Tools"
But I still don't know what is the proper value for that setting of  'javascript':'babel-node'
Would you please see to it? thanks

[2020-05-08 07:08] longnt0707 opened #97221 "Setting for unicodeVersion of terminal show warning message "invalid type""
Version: 1.45.0 (user setup)
Commit: d69a79b73808559a91206d73d7717ff5f798f23c
Date: 2020-05-07T16:18:48.860Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Open setting by Ctrl+,
2. Search Unicode

Does this issue occur when all extensions are disabled?: Yes
<img width="817" alt="vscode_145" src="https://user-i

[2020-05-08 07:10] hholst80 commented on #95627
A fix here seems almost trivial yet the duplicate bug has been open for roughly four years? What is the underlying problem?

[2020-05-08 07:12] quyleanh commented on #97199
Confirm.
And one more thing, I cannot setup proxy in settings.json file to bypass popup. Is there anyone?
My setup is: `http://username:password@proxy.server:port`

[2020-05-08 07:13] usernamehw opened #97222 "ERR Bad progress location: timeline"
Issue Type: <b>Bug</b>

1. Open a file with timeline history
1. Hide timeline through a checkbox in explorer view
1. Open another file

[code]

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48.860Z)
OS version: Windows_NT x64 10.0.18363

[2020-05-08 07:13] Kingwl commented on #97032
I don't know why but seems x has been resolved as a class in treeNav command

[2020-05-08 07:14] usernamehw commented on #97222
/assign eamodio

[2020-05-08 07:16] LeeviHalme commented on #95346
Can you please remove it? Or at least make it toggleable. I thought this was a bug because it was so ugly lol

[2020-05-08 07:16] keelung-yang commented on #94862
@chrmarti On 1.45 I always got:
[code]
I'm not setting proxy in settings.json but in system environment variables. I also changed _Proxy Strict SSL_ to disabled, but still not works.

[2020-05-08 07:17] gjsjohnmurray commented on #97221
/confirm

My settings.json contained `"terminal.integrated.unicodeVersion": "",`

I haven't knowingly ever set this.

Interestingly when I do the following
![image](https://user-images.githubusercontent.com/6726799/81381139-10719f80-9104-11ea-96a4-c89f81afdd6a.png)

my clipboard contains `"terminal.integrated.unicodeVersion": "11"`

[2020-05-08 07:21] usernamehw commented on #96045
Possible duplicate of #97222

[2020-05-08 07:23] deepak1556 commented on #97123
Change looks good 👍

We have to deprecate this and only allow disabling crash reporter via `argv.json` , because with E9 crash reporter can only be initialized from the main process. If we allow users to configure via `argv.json`, we can restart the app and launch with `--disable-crash-reporter` flag and respect that.

[2020-05-08 07:30] trevyn commented on #32856
Ok, this is starting to drive me batty. I use [rust-analyzer](https://marketplace.visualstudio.com/items?itemName=matklad.rust-analyzer), which uses inline decorations to show inferred types, and I tend to use narrow, word-wrapped editors. This combination, plus the bug in this issue, don't combine well.

(The dark grey types in the screenshots are inferred and displayed with inline decorations, i

[2020-05-08 07:39] aeschli commented on #97149
Thanks for the nice table. #47331 is the issue we use for this.
It's all intervened:  Make CSS/HTML work across files and among each other.

[2020-05-08 07:39] #97149 closed

[2020-05-08 07:41] GabrielTouron commented on #23690
I am using EN and FR keyboards on Ubuntu 18.04. I made a custom alias for the command : `setxkbmap fr`  that I use when I'm switching keyboard. It works for me.
Thank you @alexdima

[2020-05-08 07:47] isidorn commented on #93369
That's fair. Thank's for considering this.

[2020-05-08 07:51] isidorn commented on #95689
Awesome, thanks!

[2020-05-08 07:53] gjsjohnmurray commented on #97221
Correction. My settings.json contained no entry for `terminal.integrated.unicodeVersion'. The "" value got added when I clicked the "Edit in settings.json" link shown in the screenshot above.

So this is probably a duplicate of #97034

[2020-05-08 07:55] isidorn commented on #97165
@rebornix how to check if diff is in inline view?
@robertrossmann would you like to submit a PR to fix this?
Code pointer https://github.com/microsoft/vscode/blob/193483676699fcbde88f7a7748b189cb2bda7efe/src/vs/workbench/browser/layout.ts#L1209

[2020-05-08 07:56] isidorn commented on #96692
Glad to hear, thus closing this.

[2020-05-08 07:56] #96692 closed

[2020-05-08 07:56] isidorn commented on #97051
Since the other issue was assigned to @weinand forwarding this issue to him as he has better background

[2020-05-08 08:03] alexr00 commented on #97053
You might try asking on stack overflow as this sounds like a more general question of "how can I change the environment of a running process from another process". That sounds like a security problem though.

If you are only interested in changing the environment for the terminal and tasks, and not for all of VS Code, you could have workspace specific settings for `terminal.integrated.env.linux`.

[2020-05-08 08:04] isidorn commented on #97216
@leonardder good point. Though this should be handled by chrome, there should be a keyboard shortcut to close the dev tools.
Unfortunetly we can not integrate F6 to take into account dev tools
@deepak1556 @bpasero do you know of a keybaord shortcut to quit chrome dev tools on Windows? I tried and could not find one.

[2020-05-08 08:04] kannan-balasubramanian opened #97223 "React JSX Comment syntax highlight"
Issue Type: <b>Bug</b>

In the React JSX code, when I comment a component tag, the highlight is working correctly. The moment I save the file, the highlight is not working properly.

Please check the screenshot at [https://imgur.com/a/NySvGqQ](https://imgur.com/a/NySvGqQ)

------------------------------------------------------------------------------------------------------------

VS Code version:

[2020-05-08 08:06] isidorn commented on #97050
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog and we might add this in the future. Thanks

[2020-05-08 08:07] bpasero commented on #97123
Sounds good, let me rephrase this issue.

[2020-05-08 08:10] tamtranjy opened #97224 "Git SCM hit Github"
Issue Type: <b>Performance Issue</b>

Hi,
Recently, our organization IP address has been blocked by Github due to abuse protection mechanism. I have checked firewall log as well as user laptop and seen that he is using Code with SCM enable. Although it is a local bare repo in his working directory, many connections have been sent to Github.
This leads to the situation that Github blocked access fr

[2020-05-08 08:11] alexr00 commented on #97119
This is happening because the default task type is `process`. The command `${command:test-explorer.reload}` isn't returning a path to shell, so the variable isn't replaced. Which means that when the task runs it's trying to execute `${command:test-explorer.reload}` as a path. This of course fails.

A simple way to make this a little better
[code]

[2020-05-08 08:11] #97119 closed

[2020-05-08 08:16] alexr00 commented on #81007
Less confusion is clearly better. I will see what folks at our API discussion think.

[2020-05-08 08:17] bpasero commented on #97216
@isidorn see https://github.com/microsoft/vscode/blob/ff118340b561fea6184172ffaf3bbf859b21055b/src/vs/workbench/electron-browser/actions/developerActions.ts#L13-L29

[2020-05-08 08:22] bpasero commented on #97218
This actually looks like a bug to me, because release notes should have the product icon. Looking into devtools I see it being referenced:

![image](https://user-images.githubusercontent.com/900690/81386633-a530c900-9115-11ea-999e-46cebd435744.png)

However, this file does not exist on disk likely because it gets inlined, as you can see in the welcome tab where the icon appears properly:

![image]

[2020-05-08 08:23] bpasero commented on #97218
I should add that I indeed moved this icon to a new place (we had many copies of it). So it could be a regression from that work.

[2020-05-08 08:24] bpasero opened #97225 "Document how to symbolify crash dumps"
Ideally add this into our existing wiki: https://github.com/microsoft/vscode/wiki/Native-Crash-Issues

[2020-05-08 08:30] bpasero opened #97226 "Electron 8 exploration build crash"
This started only with todays build: https://az764295.vo.msecnd.net/exploration/7faa10cfc640a15751049cdc6e894c5d146ff7dd/VSCode-darwin-exploration.zip

Start it and be greeted with:

[code]

[2020-05-08 08:30] bpasero commented on #97226
Exception seems to indicate an issue with code signing? Could this be related to the recent entitlements change?

//cc @joaomoreno

[2020-05-08 08:38] robertrossmann commented on #97164
@bpasero I am not certain that this is a duplicate of #96409 as that issue mentions the *horizontal* scrolling sensitivity (presumably where you tilt the scroll wheel to the sides to scroll horizontally), whereas my problem is with the new vertical scrolling functionality to switch tabs. Unless, of course, the root cause is the same, but I do not know that. 😇 Just want to be sure. Thanks!

[2020-05-08 08:39] karlhorky commented on #89353
Nice! This will appear for users in the stable May 2020 update?

[2020-05-08 08:40] Bharatwasi commented on #96181
Thanks, everyone!!

[2020-05-08 08:41] Bharatwasi commented on #95400
Thanks!!

[2020-05-08 08:43] marco-cc commented on #97199
In my case,
I tried
1. set proxy credential in settings.json
2. set proxy command line in VSCode shortcut
Those methods still can't work.
So I still keep input my credential in first launching VSCode.

[2020-05-08 08:43] sd1084741 opened #97227 "vscode-ripgrep caused a issue"
Issue Type: <b>Bug</b>

When vscode-ripgrep uses ssh to connect to centos7 server remotely, it takes up very large memory, and the symptom is like a memory leak

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48.860Z)
OS version: Windows_NT x64 10.0.18363
Remote OS version: Linux x64 3.10.0-862.el7.x86_64

<details>
<summary>System Info</summary>

|Item|Va

[2020-05-08 08:47] bpasero commented on #97164
@robertrossmann if your issue is about the new feature to switch tabs while scrolling, then yes it is the same issue. To clarify, the issue is about reducing the sensitivity of switching tabs during a scroll with Apple touchpads.

[2020-05-08 08:49] hoangemini commented on #164
Maybe they don't like to do it

[2020-05-08 08:49] hoangemini commented on #164
Maybe they don't like to do it

[2020-05-08 08:53] quyleanh commented on #97199
It's annoyed. Hope there are some work around for this.

[2020-05-08 08:56] sandy081 opened #97228 "Extension editor is not opening when an extension is clicked in extensions viewlet"
- Go to extensions viewlet
- Click on any extension
🐛 Extension editor is not opened

[2020-05-08 09:00] Rowan-Mulder commented on #5402
I've searched for quite a while looking for a way to make a multiline selection and expand the selection in the width where the selection snapping currently is handled by snapping to a line of main focus where the selection is just a block. I'm looking for an easy way to make a multiline selection and expand the selection in the width by snapping to the end of a word on each line individually. Thi

[2020-05-08 09:01] jehon commented on #95183
Thinking about this, one acceptable solution for me would be to automatically start a "screen" session when starting the terminal, and to reconnect to it when restarting the vs-code...

[2020-05-08 09:02] AlexAegis opened #97229 "Can't put back elements to the bottom toolbar after moving everything out"
1.45.0

After moving every tool from the bottom toolbar to the left, there is no way to put them back.

![image](https://user-images.githubusercontent.com/16900547/81390256-6bfb5780-911b-11ea-8cbf-814a9c038e3c.png)

(Also I found it weird that when I split the bottom toolbar I don't actually split the toolbar, but a tool/tab inside it. So when I'm switching tools on the left side, I'd expect the s

[2020-05-08 09:04] cybarspace opened #97230 "Git Sync configuration to automatically stage and commit before sync"
Is there any way to configure the "Synchronization" icon on the statusbar to stage and commit (with a commit message template) before it syncs ?
.
I don't want to have to write my own extension for this, but it'd be nice if I could just edit the settings (GUI or JSON) to achieve this effect.
.
![image](https://user-images.githubusercontent.com/50134239/81388624-5b0e0e80-913a-11ea-8695-4426a982506f

[2020-05-08 09:08] Haibao425 commented on #95409
It works with the commands

[2020-05-08 09:14] sandy081 commented on #97125
@isidorn Does this attribute has to be set on all drop down triggering actions?

https://github.com/microsoft/vscode/blob/ff118340b561fea6184172ffaf3bbf859b21055b/src/vs/base/browser/ui/dropdown/dropdown.ts#L305-L305

[2020-05-08 09:14] Wikiwix opened #97231 "Show "no newline at the end of the file" when `"editor.renderFinalNewline": false`"
When rendering the final newline is disabled (`"editor.renderFinalNewline": false`) it have missing final newlines rendered (at the end of the file) – similar to what vim or git displays.

Below a screeenshot of how GitLab renders this:
![image](https://user-images.githubusercontent.com/5161388/81391217-fee8c180-911c-11ea-91de-49e64db3be73.png)

[2020-05-08 09:19] thany commented on #76594
Stutter? It's not stuttering for me. It's smooth as butter, but also lagging behind.

[2020-05-08 09:20] sandy081 commented on #97128
Yes that's because I am using toggle-able action

https://github.com/microsoft/vscode/blob/ff118340b561fea6184172ffaf3bbf859b21055b/src/vs/workbench/contrib/output/browser/output.contribution.ts#L150-L174

Shall we have to fix at action layer or locally?

[2020-05-08 09:21] isidorn commented on #97216
@bpasero that toggles developer tools from vscode. But can not do it while the focus is in the chrome dev tools, or am I missing something?

[2020-05-08 09:22] #97228 closed

[2020-05-08 09:23] isidorn commented on #43262
@jhomme thanks for the feedback. We plan to enables this in the future.
One step towards this would be https://github.com/microsoft/vscode/issues/97154
So we would be able to announce "details" for a line of code. And one of those details would be folding state.

[2020-05-08 09:23] bpasero commented on #97216
Hm I think `CtrlCmd+Shift+I` always works?

[2020-05-08 09:25] isidorn commented on #95961
Fixed via pr #97057
@jvesouza please try it with VS Code insiders from Monday and let us know if it behaves good for you
@joanmarie thanks again for the investigation!

[2020-05-08 09:25] #95961 closed

[2020-05-08 09:25] robertrossmann commented on #97164
@bpasero 💯 . Thanks for clarifying - confirmed duplicate.

[2020-05-08 09:27] isidorn commented on #97216
@bpasero just tried that and it does not work both on macOS and Win.

[2020-05-08 09:28] isidorn commented on #97128
@sandy081 ideally we would fix at the action layer, if the action had focused and is toggled -> the new action should have focus as well.

[2020-05-08 09:29] sandy081 commented on #97082
Can you please provide the sync logs from here while reproducing this issue?

`View -> Open View… -> Log (Preferences Sync)`

[2020-05-08 09:29] isidorn commented on #97125
@sandy081 yes, that would be great.
Ideally we would set the aria-expanded value according to the menu, since maybe some action in the future will allow to have the menu open and focus somewhere else.

[2020-05-08 09:31] sandy081 commented on #97150
Not aware of this.

@dbaeumer Is it true?

[2020-05-08 09:31] 5argon opened #97232 "JS convert to template string incorrect when original contains quote character"
Issue Type: <b>Bug</b>

If I have a cursor at the `hello` of the first line below and use lightbulb suggestion "Convert To Template String" it would change to the one like `helloWithQuote2`.

[code]

![image](https://user-images.githubusercontent.com/5653276/81392748-543ac800-9149-11ea-9cbc-3692ebd367f4.png)
Output :
[code]

Meaning that the conversion result is wrong because it adds an escaped ba

[2020-05-08 09:32] opotonil commented on #97179
Excuse me @mjbvz, here is the text of the code:

[code]

[2020-05-08 09:33] bpasero commented on #97216
F12 it is.

[2020-05-08 09:34] sandy081 commented on #97096
@bpasero Do you support variables in files associations?

[2020-05-08 09:36] sandy081 commented on #97128
let me know if there is something I have to do otherwise I can unassign myself?

[2020-05-08 09:36] leonardder commented on #97216
I'm neither able to escape from them with ctrl+shift+i nor f12 on Windows

[2020-05-08 09:43] #97125 closed

[2020-05-08 09:50] isidorn commented on #97125
@sandy081 thanks for fixing this! I just tried it out from source and it looks good, thus adding `verified` label.

[2020-05-08 09:52] RossBrunton commented on #96544
Why should this affect switching tabs via the scroll wheel? It's entirely reasonable for people to want the scroll direction for the tab bar to be different than the vertical scrolling. Why are we requiring that one setting control both?

[2020-05-08 09:52] isidorn commented on #97216
Yeah also does not work for me.

[2020-05-08 09:52] jonathan-meyer opened #97233 "Login dialog will not go away."
Version: 1.45.0
Commit: d69a79b73808559a91206d73d7717ff5f798f23c
Date: 2020-05-07T15:57:33.467Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 18.7.0

Steps to Reproduce:

1. Start VSCODE
2. Pull hair out!

![image](https://user-images.githubusercontent.com/20321382/81394113-6f78e980-90ef-11ea-858c-04c0a70654cb.png)

The dialog box will not go away!

[2020-05-08 09:53] isidorn commented on #97128
Let me unassign you. Thanks!

[2020-05-08 09:56] Alessandro-Cor opened #97234 "VSCode Crashes after closing terminal"
Issue Type: <b>Bug</b>

Once in a while, whenever i close the terminal with the trash icon, VSCode crashes.
I didn't find any way to reproduce this bug.

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18362

<details><summary>Extensions (10)</summary>

Extension|Author (truncated)|Version
---|---|---
vscode-tailwind

[2020-05-08 09:57] DerekSMorin commented on #14836
Magic variable could be dot.  Like in command prompt for current directory.
.

Or files to include could support full paths.
c:\temp\mycurrentlyawesomelysingleysearchablefile.txt

[2020-05-08 10:00] tap90 opened #97235 "UnsupportedClassVersionError"
I have OpenJDK 14 correctly configured. When I try tu run my project I receive the follow error:

java.lang.UnsupportedClassVersionError: <path of the class> (class file version 56.65535) was compiled with preview features that are unsupported. This version of the Java Runtime only recognizes preview features for class file version 58.65535

This class is a dependency and it is stored in a Nexus R

[2020-05-08 10:02] isidorn commented on #97126
@kapilraghuwanshi thanks for the suggestion. However this should not be an option, but by default we should announce when an extension gets installed.
I tried this out and currently we do not announce anything.
@sandy081 is it possible to do a simple `alert` when an extension gets installed. Something like
`Extensions NAME installed`
Same when extension gets uninstalled.

[2020-05-08 10:08] #97110 closed

[2020-05-08 10:08] isidorn commented on #97110
@gregg-miskelly I have no clue how I removed the `.error` call in the past couple of releases, but reintroduced it now so we should be good.
Try it out with VS Code insiders from Monday and let me know how it goes. Thanks!

[2020-05-08 10:11] caboom04 opened #97236 "Update variables in Variable Window"
I have a problem when I developing a Debug Server for C/C++.
When I set new value to a variable in Variable Window, the client send SetVariableRequest. The variable is changed and it has side effects on other varialbes (tags of a union, etc.), it seems that there is no API to notify VSCode to update the variables. The variables in Watch Window will evaluate again.
I think that, there should be a w

[2020-05-08 10:13] jvanheugten commented on #95062
Yes, it works when executing with `code` from Terminal.

[2020-05-08 10:18] carestad opened #97237 "[v1.45] Holding CTRL while clicking on a recently opened workspace does not open a new window anymore"
- VSCode Version: 1.45.0
- OS Version: Pop!_OS 20.04

Steps to Reproduce:

1. Click `File > Open Recent` (and make sure you have another recent workspace in the list)
2. Hold the `CTRL` key while selecting a recent entry in the list (this used to work up until v1.45)

Trying different combinations of modification keys like `SHIFT`+`CTRL` before selecting an entry does not work either.

This was a

[2020-05-08 10:19] sheaf opened #97238 "Hang due to recursive regex in TextMate highlighting"
VS Code: versions 1.44 and 1.45
OS: Windows 10 x64

-------------------------------------

In working on the [Haskell syntax highlighting extension](https://github.com/JustusAdam/language-haskell) I unfortunately had to resort to some rather complex regular expressions (I wish there was a better system for syntax highlighting but oh well).

[One in particular](https://github.com/JustusAdam/languag

[2020-05-08 10:23] leonardder commented on #95433
I really like this functionality. Would it be possible to focus an item by default though? In MS Office, the first entry gets focus by default and if you move focus through items, the focused entry is saved on the status bar so that when you move out/in with f6/shift+f6, the focused item remains the same.

[2020-05-08 10:25] isidorn commented on #95433
@leonardder preservig focus makes sense, can you please file a new issue for that?
Focusing an item by default for the first time does not make so much sense since the inital F6 should read the whole status bar content, not only the first item. However if we adress your other concern - that we preserve focus than I think we should be good.

[2020-05-08 10:27] nayanpal777 opened #97239 "unable to open file and setting"
Issue Type: <b>Bug</b>

unable to open file and setting error message such as
Unable to open 'angApp.js': Assertion Failed: argument is undefined or null.
Unable to open 'Settings': Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node..

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT

[2020-05-08 10:29] nirmalsahoo opened #97240 "A11y_VSCode_Problems Panel_AI4D:Name of the filter edit box is provided as "No problems have been detected in the workspace so far" which is incorrect."
**Environment Details:**
VSCode Version : 1.44.2
OS Version : Win10
Additional Details:
Screenreader: NVDA[2019.3.1], JAWS[2020.70]
GitHubTags: #A11yMAS; #A11yTCS; #Win32; #DesktopApp; #A11y_VSCode; #MAS1.3.1; #MAS4.2.1; #A11ySev2; #AI4D

**Repro Steps:**
1)Open Visual studio code editor
2)Press ctrl+shift+M
3)Validate it's possible to navigate between items in the problems view
4)Open Accessibili

[2020-05-08 10:30] mort3za commented on #92972
In kubuntu 20, installing `gnome-keyring` was enough for me.

`sudo apt install gnome-keyring`

[2020-05-08 10:30] leonardder commented on #95433
Mm, this is currently not the case in NVDA. You can only read the status bar with object navigation commands. May be this is something we should fix in NVDA, though. What does Orca do in this case? @joanmarie

[2020-05-08 10:34] olivierchatry commented on #96897
Just tested on insider 1.46, and it is working. Thanks a lot for the quick fix !

[2020-05-08 10:35] leonardder opened #97241 "Preserve focus in status bar"
In MS Office, the first entry gets focus by default and if you move focus through items, the focused entry is saved on the status bar so that when you move out/in with f6/shift+f6, the focused item remains the same.

It would be helpful if focus can be retained when the status bar loses focus and gains focus again. This way, you can quickly watch a single entry on the status bar, e.g. horiizontal/

[2020-05-08 10:41] andrecasal commented on #97149
Hey @aeschli thanks for the heads up. I'll copy the table to that issue for convenience.

[2020-05-08 10:44] andrecasal commented on #47331
For convenience:
| DESTINATION | SOURCE | SUPPORTED | COMMENTS |
|---|---|---|---|
| ID attributes | Style tag | NO | |
| ID attributes | External CSS files | NO | |
| Class attributes | Other class attributes | NO | Not sure if useful |
| Class attributes | Style tag | NO | Check extension below |
| Class attributes | External CSS files | NO | Check extension below |
| Style tag | ID attributes |

[2020-05-08 10:46] isidorn commented on #97241
All this makes sense and I can look into this
fyi @bpasero since you gave some similar feedback

[2020-05-08 10:51] robertrossmann commented on #97165
@isidorn I'm afraid this is too much for me at this moment. The `centerEditorLayout()` method is not fired when I switch from inline to side-by-side diff view and I could not figure out how to query the `SideBySideEditorInput` instance for the current display mode. Both of these events would need to be handled so that we can keep the centered layout when an inline diff is opened and we should swit

[2020-05-08 10:51] AlencarGabriel commented on #95472
@sbatten , but what was actually moved was the entire containers. Remembering that I moved them before the April release.

![image](https://user-images.githubusercontent.com/10109480/81399022-b6bba600-9100-11ea-8f69-ad539a5f0f2e.png)

[2020-05-08 10:54] caponetto opened #97242 "Custom editor does not open properly"
[code]
Steps to Reproduce:

1. Package and install the [custom-editor-sample](https://github.com/microsoft/vscode-extension-samples/tree/master/custom-editor-sample);
2. Run VSCode from terminal using `--args --enable-proposed-api`;
3. Open the file `example.pawDraw`;
4. Close VSCode and repeat step 2.

**Expected behavior**: `example.pawDraw` is loaded properly.
**Current behavior**:  `example.pa

[2020-05-08 10:54] testforstephen commented on #96654
it turns out the Java language server modified some files when it received `textDocument/didOpen` events for the sub files under the renamed folder.

Will close the issue, thanks for the support!

[2020-05-08 10:54] #96654 closed

[2020-05-08 11:00] N8th8n8el opened #97243 "Limitation of the number of model markers / errors"
- VSCode Version: Version: 1.44.1
Commit: a9f8623ec050e5f0b44cc8ce8204a1455884749f
- OS Version: MacOS 10.15.4 (19E287)

Background:

I am working on a webapp using the monaco editor (https://github.com/Microsoft/monaco-editor)
(to indicate errors I use the `monaco.editor.setModelMarkers` function).

I noticed that there seems to be a limitation of the number of markers that can be shown. Since mo

[2020-05-08 11:04] Gorgeous2017 opened #97244 "Run C/C++ Tasks tips "The task provider for "C/C++" tasks unexpectedly provided a task of type "shell".""
Issue Type: <b>Bug</b>

when I run tasks in VSCode, it give me a error tips.
![Screenshot_20-05-08_18-49-57](https://user-images.githubusercontent.com/33201519/81399537-bb627780-915d-11ea-9cb8-721fb312dc95.png)
![Screenshot_20-05-08_18-51-40](https://user-images.githubusercontent.com/33201519/81399545-bd2c3b00-915d-11ea-8a81-43ba1290f3d0.png)

this tasks is create in Feb. In that time, no error ti

[2020-05-08 11:08] #97053 closed

[2020-05-08 11:09] GregHilston commented on #97151
@deepak1556

Sure thing!

[code]

Makes perfect sense!

Understood, disabled as described above. Problem is still occurring. I'm enabling automatic graphic switching, just to let you know for future dialogues.

Not sure how to achieve this one. Google foo failing me here.

Will try this and report back

[2020-05-08 11:09] lucasavila00 commented on #97172
Window on the left is Codespace. On the right is local.

![Screen Shot 2020-05-08 at 07 57 09](https://user-images.githubusercontent.com/12750442/81399597-a0fab080-9101-11ea-8c15-261256b25213.png)

Make the local window full screenish.

![Screen Shot 2020-05-08 at 07 58 36](https://user-images.githubusercontent.com/12750442/81399676-ca1b4100-9101-11ea-958d-b4ca08f7e377.png)

After some time Codesp

[2020-05-08 11:14] GregHilston commented on #97151
@deepak1556 Confirmed that this issue does *not* occur with the `Code -Exploration` executable you linked above.

Just to be super clear, this is with the "automatic graphic switching" disabled (back to its original setting) and by launching exploration normally. IE I did *not* turn on `--disable-gpu`.

Obviously this fresh install has no extension, but I want to point out that we ran my non-explo

[2020-05-08 11:20] borisBelloc opened #97245 "manifest.json : Incorrect type. Expected "array" ; the error disapear if I change key name"
Issue Type: <b>Bug</b>

Hi, I have no idea why but in my manifest.json

I have a yellow error as **Incorrect type. Expected "array** when i use "icons" in my manifest.json

there is an error :

![image](https://user-images.githubusercontent.com/37147299/81400714-0c5a7780-912e-11ea-9153-20acf5999e63.png)

error message :
![image](https://user-images.githubusercontent.com/37147299/81400745-1aa89380-

[2020-05-08 11:22] #96740 closed

[2020-05-08 11:22] #96706 closed

[2020-05-08 11:22] #96585 closed

[2020-05-08 11:22] #96388 closed

[2020-05-08 11:22] #96169 closed

[2020-05-08 11:23] paulps2 opened #97246 "Bracket matching wrong for Wolfram Language"
The bracket matching is wrong for Wolfram Language. E.g.
[code]

The bracket in the last line is matched wrong. Instead of matching it with the bracket after Table, it matches with the bracket after f[2].

[2020-05-08 11:23] #87019 closed

[2020-05-08 11:23] #85171 closed

[2020-05-08 11:23] bpasero commented on #97216
Maybe open shortcuts panel in devtools to find out more:

![image](https://user-images.githubusercontent.com/900690/81401193-18930480-912f-11ea-9ac8-9a1f35c885e2.png)

[2020-05-08 11:24] bpasero commented on #97096
I have never seen this syntax `${workspaceFolder:Other}` and thought it was something you came up with. If not, then it explains why this does not work.

[2020-05-08 11:25] resetus commented on #95346
Default Dark Theme:

- x - variable is not used
- y - variable is used
- a - variable is used
- b - variable is not used

![image](https://user-images.githubusercontent.com/24482422/81401257-9ce98580-9137-11ea-93c4-aa498546e16b.png)

This color creates more problems than benefits

[2020-05-08 11:26] bpasero commented on #96544
From https://github.com/microsoft/vscode/issues/96405

[2020-05-08 11:26] noririco opened #97247 "VSCode user account feature"
Can you please explain why there is no simple way to connect with VSCode as a VSCode user ? why it is so complicated ?

If I want to sync my settings in my day job (which work with git but not github), and at my home (i work with github), I cant do so....

[2020-05-08 11:35] chybisov commented on #95346
I loved my yellow enums! Bring them back! 😢

[2020-05-08 11:36] IllusionMH commented on #97239
/needsMoreInfo

is old version.

Is it reproducible in latest version v1.45?
https://code.visualstudio.com/Download

[2020-05-08 11:39] opus131 commented on #95561
Would be great if this could be fixed. I'd like to move the terminal in the sidebar, but due to this issue I had to move it back to the panel.

[2020-05-08 11:40] amoschoomy opened #97248 "Jupyter Notebook Warnings should also be shown in VSCode"
For example, Setting With Copy Warning do not appear in VSCode but appears in the web interface of Jupyter Notebook itself. This would really help when we're executing a cell in VSCode

[2020-05-08 11:43] bpasero commented on #97172
@lucasavila00 can you specifically add the screenshot of the dialog you see, I need it to understand what code triggers the closing.

[2020-05-08 11:43] borisBelloc commented on #97245
the error come from this extension :
https://marketplace.visualstudio.com/items?itemName=johnpapa.Angular2

I will report the error to their repository.

[2020-05-08 11:43] #97245 closed

[2020-05-08 11:45] zhangwilling commented on #95191
but  i found source control war not at previous order.. 😂

[2020-05-08 11:51] lucasavila00 commented on #97172
Ok. I'm waiting for it to go inactive and I send it.

[2020-05-08 11:52] Tyriar commented on #97150
I believe the string gets flagged for translation as it changed, but you don't know how long that will take.

[2020-05-08 11:52] flasco commented on #97206
thanks! it solved my problem..  :)

[2020-05-08 11:52] #97206 closed

[2020-05-08 11:53] jvesouza commented on #95433
@leonardder  @isidorn  Pressing f6 orca reads only 'status bar', but not its content. To read the contents of the status bar I need to use the flat review mode or the arrows.

[2020-05-08 11:57] bpasero commented on #97218
@mjbvz so this is a regression from my push but I think the way the icon is used in here is not ideal because it prevents the image from being inlined:

https://github.com/microsoft/vscode/blob/161d93bb787df7c95f5a24f6ef83e28c93967bfa/src/vs/workbench/contrib/update/browser/releaseNotesEditor.ts#L91

A better solution would be to have it referenced from CSS like we do e.g. in the welcome page:

ht

[2020-05-08 12:01] usernamehw commented on #97247
The syncing feature is in the preview state (only available in Insiders release for now): https://code.visualstudio.com/updates/v1_45#_settings-sync

/duplicate of #2743

[2020-05-08 12:02] #97247 closed

[2020-05-08 12:03] matehc opened #97249 "Debugger not hitting breakpoint"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-05-08 12:04] Tyriar commented on #95627
It probably is, the solution will involve adding things to https://github.com/microsoft/vscode/blob/master/resources/linux/rpm/dependencies.json and then verifying it during PR with a product build.

[2020-05-08 12:04] #97249 closed

[2020-05-08 12:04] matehc commented on #97249
Issue Type: <b>Bug</b>

Each time I run the debugger and select a breakpoint, and run it , it doesn't hit the breakpoints

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48.860Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4300U CPU @ 1.90GHz (4 x 2494)|
|GPU Status|2d_c

[2020-05-08 12:04] sandy081 commented on #97096
Configuration does not support any variables. Hence moving this to you if you are willing to support variables.

[2020-05-08 12:06] matehc commented on #97249
Issue Type: <b>Bug</b>

Each time I run the debugger and select a breakpoint, and run it , it doesn't hit the breakpoints

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48.860Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4300U CPU @ 1.90GHz (4 x 2494)|
|GPU Status|2d_c

[2020-05-08 12:06] sandy081 commented on #97150
Ok AFIK they are good/fast at updating translations. So intending to not fix this as this will get fixed by translations team.

[2020-05-08 12:07] Tyriar commented on #95183
I have plans for this such that it should work on Windows, with any shell and not needing outside dependencies. Part of this was even on the iteration plan last month pointing at https://github.com/xtermjs/xterm.js/issues/2749

[2020-05-08 12:13] Tyriar commented on #97150
It's still going to be broken for days or weeks in Insiders, meaning anyone with a language pack will see this undefined bug. The fix is as simple as adding "2" to the id to revert it to the default en-us string.

[2020-05-08 12:19] bpasero commented on #97096
@nsgundy how did you encounter this syntax you are using? wondering what made you use it?

[2020-05-08 12:24] ElSamhaa commented on #76594
Same on Fedora 32. Tried purging vscode completely before installing the new 1.45 update, but no improvement.
What's interesting though is that scrolling is smooth on **release notes page**, but lags on any source file I tried, even on bare vscode before installing any plugins.

[2020-05-08 12:25] #97248 closed

[2020-05-08 12:25] #97246 closed

[2020-05-08 12:25] Tyriar commented on #97244
/extC++

cc @alexr00

[2020-05-08 12:26] #97244 closed

[2020-05-08 12:29] jhomme commented on #43262
Hi,
The techniques on this page may provide food for thought.

https://www.w3.org/WAI/WCAG21/Understanding/status-messages

[2020-05-08 12:30] Tyriar commented on #97235
/extJava

[2020-05-08 12:30] Tyriar commented on #97234
/duplicate https://github.com/microsoft/vscode/issues/76548

[2020-05-08 12:30] #97234 closed

[2020-05-08 12:30] #97235 closed

[2020-05-08 12:31] Tyriar commented on #97233
Does it reproduce if you close all windows and launch with `code --disable-extensions`?

[2020-05-08 12:33] Tyriar commented on #97223
Might be a problem with format on save?

[2020-05-08 12:35] Tyriar commented on #97221
@roblourens this setting's default value is "11", not null. This error might be correct I think?

[2020-05-08 12:36] Tyriar commented on #97219
@TylerLeonhardt can you help investigate this one? Forgot how to check if PSReadline is up and what version it is

[2020-05-08 12:37] Tyriar commented on #97217
To get exit code and know when the process ends:

https://github.com/microsoft/vscode/blob/1c4b3759ff8c4483e506834e51d7e9fa31ac80b6/src/vs/vscode.d.ts#L5300-L5313

stderr and stdout are by design not exposed as everything is just coming over a single text stream to the terminal.

[2020-05-08 12:38] Tyriar commented on #97215
/extC++

[2020-05-08 12:38] #97217 closed

[2020-05-08 12:38] #97215 closed

[2020-05-08 12:38] matehc opened #97250 "Cannot find node.js debug environment"
We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Bug</b>

I tried selecting the debug tool, however, when i click in the run debug, it doesn't show me a list of environment to choose for debugging. I my case, I need the node.js environment.

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48

[2020-05-08 12:41] bpasero commented on #97237
@carestad what OS is that you are using, a Linux variant? Do you see a custom title/menu or the native one. Can you attach a screenshot?

[2020-05-08 12:43] bpasero commented on #97237
I can reproduce when custom menu is enabled. Probably a regression where we no longer forward the event that I need to check on.

[2020-05-08 12:43] carestad commented on #97237
I am using Pop!Os. It is a Ubuntu variant, based of Ubuntu 20.04. They are a lot similar.

[2020-05-08 12:45] #97201 closed

[2020-05-08 12:45] Tyriar commented on #97233
/duplicate https://github.com/microsoft/vscode/issues/97199

[2020-05-08 12:45] #97233 closed

[2020-05-08 12:47] bpasero commented on #97237
@sbatten it is here:

https://github.com/microsoft/vscode/blob/54808814bac0d6ef1850e2c2bd15443c505ead25/src/vs/workbench/browser/parts/titlebar/menubarControl.ts#L225-L231

Open for suggestions how to fix this. In Electron we actually get the event through still.

[2020-05-08 12:49] Tyriar commented on #97188
Please provide a screenshot illustrating the problem. See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more info on how to report actionable terminal issues.

/needsMoreInfo

[2020-05-08 12:50] elch0101 opened #97251 "SSH client wont open"
Issue Type: <b>Bug</b>

Im trying to open a ssh client but every time i write the password the console clears and asks me again for my password, it doesnt tell me my password is wrong, it just clears and i cant connect

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48.860Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|

[2020-05-08 12:52] alexdima commented on #97137
This request is sensitive and makes sense. But we have a technical problem that forces that has forced us to ship with the setting off by default:

When we initially added this feature, the setting was on by default. But then we received numerous complaints that people were changing the font size of the editor by accident. It turns out that all of those complaints came from folks using a laptop wi

[2020-05-08 13:04] Tyriar commented on #97140
/duplicate https://github.com/microsoft/vscode/issues/97141

[2020-05-08 13:04] #97140 closed

[2020-05-08 13:05] Tyriar commented on #97097
Sounds like this is a problem with the live server extension then?

[2020-05-08 13:05] #97097 closed

[2020-05-08 13:06] SirIntruder commented on #96117
In case anyone needs a workaround until this gets fixed, "View: Reset View Locations" will put tabs back into the panel.

[2020-05-08 13:07] #97039 closed

[2020-05-08 13:08] Tyriar commented on #97037
Looks like a Chromium log?

[2020-05-08 13:09] isidorn commented on #95433
Strange that with VoiceOver this just works.
@joanmarie can we improve something on the VS Code side such that the actual content gets read, and not 'status bar'

[2020-05-08 13:12] LifeIsStrange opened #97252 "How to unblock progress on vscode most liked issue"
I was reading [the vscode 2020 roadmap](https://github.com/microsoft/vscode/wiki/Roadmap), in it you say you are working on

Support for detachable workbench parts is our most upvoted feature request which due to architectural issues is challenging to implement.

I have not read most comments of the thread https://github.com/Microsoft/vscode/issues/10121
But from what I understand the difficulty i

[2020-05-08 13:12] bpasero commented on #97237
There are at least 2 more actions expecting an `event` object that are maybe broken too:

https://github.com/microsoft/vscode/blob/54808814bac0d6ef1850e2c2bd15443c505ead25/src/vs/workbench/contrib/debug/browser/debugActions.ts#L84

and

https://github.com/microsoft/vscode/blob/54808814bac0d6ef1850e2c2bd15443c505ead25/src/vs/workbench/contrib/terminal/browser/terminalActions.ts#L191

//cc @isidorn

[2020-05-08 13:12] Tyriar commented on #97029
/duplicate 38137

[2020-05-08 13:12] #97029 closed

[2020-05-08 13:12] Tyriar commented on #87183
/duplicate #38137

[2020-05-08 13:12] #87183 closed

[2020-05-08 13:13] Tyriar commented on #38137
From https://github.com/microsoft/vscode/issues/87183

[2020-05-08 13:13] isidorn commented on #97250
First open a javascript file. then it should show

[2020-05-08 13:13] #97250 closed

[2020-05-08 13:14] Tyriar commented on #96855
FYI @sana-ajani

[2020-05-08 13:14] isidorn commented on #97042
This is from the extension I believe.

[2020-05-08 13:14] #97042 closed

[2020-05-08 13:14] bpasero commented on #97195
@crunchsound just to clarify, what would this do exactly?

[2020-05-08 13:15] isidorn commented on #97030
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog and we might add this in the future. Thanks

[2020-05-08 13:16] isidorn commented on #97165
@robertrossmann no worries, thanks for trying. Peng might give some good tips, and I might also look into this in the future.

[2020-05-08 13:17] sbatten commented on #95472
If you moved them before release, then this fix has no effect. You will need to run reset view location before trying again.

[2020-05-08 13:17] isidorn commented on #97237
@bpasero thanks for the ping. It is not major breakage in debug, so we can live with it and fix in may.

[2020-05-08 13:18] bpasero commented on #97213
/duplicate https://github.com/microsoft/vscode/issues/34915

[2020-05-08 13:18] Tyriar commented on #97252
We're working on it, you can see progress as part of the flexible layout work that's been happening. Also Electron has new APIs coming that allow direct window-to-window communication that should also help with this.

/duplicate

[2020-05-08 13:18] #97252 closed

[2020-05-08 13:19] #97213 closed

[2020-05-08 13:24] AndreasCag commented on #97206
I have same issue with variables in dark+ theme.

`"editor.semanticHighlighting.enabled": false` didn't help in my case, though I used it previously to fix dark theme and it helped.

Do I miss something?

[2020-05-08 13:24] Tyriar commented on #97237
Not that big of a deal in terminal either, you can ctrl+click the terminal + icon to split it, but the split button is right next to it.

[2020-05-08 13:25] andyliumathematics opened #97253 "vim python jupyter notebook"
Issue Type: <b>Feature Request</b>

I think vscode's supporting jupyter not better than pycharm pro        in jupyter  I cannot use vim  and i want to use it in next release.

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.17134

[2020-05-08 13:26] isidorn commented on #97216
@bpasero thanks

Ok so looked a bit more, and we only assign the keybdinig when running out of source.
@leonardder thus I suggest the following: File > preferences > keyboard shortucts
Find the command "Developer: Toggle Developer Tools" and invoke context menu -> change when clause
Delete the `when`  caluse to be empty.
Now you will be able to simply `Ctrl+Shift+I` to toggle it.

Thus closing thi

[2020-05-08 13:26] #97216 closed

[2020-05-08 13:28] falco467 commented on #97237
I can confirm the bug on windows 10 with 1.45.0

[2020-05-08 13:30] joaomoreno opened #97254 "Color picker has a scrollbar"
![image](https://user-images.githubusercontent.com/22350/81410352-da064580-9140-11ea-8761-ea4519a4e87f.png)

[2020-05-08 13:35] roblourens commented on #97192
Bug in my validation
![image](https://user-images.githubusercontent.com/323878/81410713-d0f88280-9106-11ea-955c-a96f041b1865.png)

[2020-05-08 13:38] alexdima commented on #97028
@jmaargh This topic is a bit complex. It is documented in great detail [here](https://github.com/microsoft/vscode/wiki/Keybinding-Issues).

Can you please answer the following:

* What is the exact contents of your `keybindings.json` ?
* Have you customized `keyboard.dispatch` in your `settings.json` ?
* Do you have other keyboard layouts installed on the machine?
* Do you sit physically at the ma

[2020-05-08 13:38] roblourens commented on #97192
This affects all numeric array settings

[2020-05-08 13:39] alexdima commented on #97035
Which commands are bound to the desired key combination?

e.g. You can search for `"ctrl+p"` with the quotes:
![keyboard-conflicts](https://cloud.githubusercontent.com/assets/5047891/25484174/38f5b004-2b59-11e7-994b-dfa96ef043ce.gif)

[2020-05-08 13:42] alexdima commented on #97209
This is very likely a duplicate of #35711 if the Display Scaling in Windows is configured at anything else than 100% or 200%

[2020-05-08 13:42] #97209 closed

[2020-05-08 13:46] chrmarti commented on #97199
Could you clear the http.proxy setting and then restart VS Code (File > Quit to make sure all windows are gone) and retry?

[2020-05-08 13:47] MaxwellHarper commented on #93679
Having the same problem:   cannot open any files in editor.  Maybe an extension corrupted something.  I have uninstalled and reinstalled multiple times and I keep getting the message below when I try to open - for example - an html file.

"Assertion Failed: argument is undefined or null."

[2020-05-08 13:49] usernamehw commented on #97206
It works only if it's true (default value):
[code]

[2020-05-08 13:55] lucasavila00 commented on #97172
Here are the screenshots.

I have two monitors, a and b.
I have Codespace on monitor A and local on monitor B running for a while.

Then the two screens change at the same time to become this:

A -
![a0](https://user-images.githubusercontent.com/12750442/81412306-0e1a4000-911a-11ea-9042-5b2ccd67517f.png)

B -
![b0](https://user-images.githubusercontent.com/12750442/81412476-4caffa80-911a-11ea-8048

[2020-05-08 13:56] AndreasCag commented on #97206
@usernamehw thank you!

[2020-05-08 13:56] shamarin commented on #97199
I have no proxy settings in json config, but I couldn't submit proxy credentials in popup window.

[2020-05-08 14:00] GitMensch opened #97256 "tasks->problemMatcher->severity with foreign languages"
Tasks and the defined problemMatchers work quite fine as long as the called tools report everything in English. As soon as you adjust their language all error messages and warnings are downgraded to "info", which looks like the current fallback (which is a bit strange as the default, according to the docs is "error").

checking tasks.json and adding a test for manually adjusting `severity` leads t

[2020-05-08 14:01] roblourens commented on #97251
Are you sure that you are logging in as the right user? Do you have an ssh config set up? If it's not using the "User" set in an ssh config it will use the user name of your local machine which sometimes leads to confusion.

[2020-05-08 14:02] roblourens commented on #97221
/duplicate of https://github.com/microsoft/vscode/issues/97192

[2020-05-08 14:03] #97221 closed

[2020-05-08 14:03] roblourens commented on #97227
This will happen when there is a search going on. Is it causing issues?

[2020-05-08 14:04] roblourens commented on #85969
Let me know whether you see this issue again

[2020-05-08 14:04] #85969 closed

[2020-05-08 14:05] TylerLeonhardt commented on #97219
PSReadLine appears to be loaded because there's syntax highlighting.

To confirm, @imdeep2905 can you run:

[code]

Can you also share if you changed any of the default key handlers or if you used a different PSReadLine edit mode?

[2020-05-08 14:10] bArraxas commented on #38999
Fixed !
- Uninstall the bul**hit "user" version
- Install the "system" version of VS Code.

[2020-05-08 14:10] leonardder commented on #95433
I guess you could add aria-labelledby to the status bar containing ids of all the direct children, but only if no child has focus. I find that a bit tricky. From an IAccessible2 perspective, I'd say the content of the status bar should be the accValue of the status bar object and not the accName.

[2020-05-08 14:14] kamenminkov opened #97257 "Enhancement: option for smartSelect to ignore subwords"
Consider the following TypeScript snippet:

[code]

Place multiple cursors like so (`|` denoting a cursor without a selection) and execute Expand Selection (`editor.action.smartSelect.grow`):
[code]
The result as of now is the following (`[` and `]` denoting selection) - Expand Select respects subwords in camelCase words:
[code]
At this point, if you execute Expand Selection again, the following t

[2020-05-08 14:14] isidorn commented on #95360
@jrieken I plan to join the next API meeting to discuss this.

[2020-05-08 14:15] nhrones opened #97258 "TS Server fatal error: Debug Failure."
**TypeScript Version:** 3.8.3
**Steps to reproduce crash**
1. copied new tsconfig.json 'content' to existing project

**TS Server Error Stack**
[code]

[2020-05-08 14:20] nneul commented on #94582
I can confirm on my box, the instant I did an "Open with -> Notepad", the run with powershell options came back. Didn't have to do anything to set a permanent association or anything, just that one manual open was enough.

[2020-05-08 14:21] nneul commented on #94582
And correspondingly, the moment I 'Open with Code' - the options go away.

[2020-05-08 14:22] Nderim1 opened #97259 "Make diff (right window) editable again."
When comparing changes, you used to be able to edit the file in place (right window) in prior versions. This is not possible anymore as it shows this message: `Cannot edit in read-only editor`.
Now every time I want to make changes before committing, I need to open the file, make the change and compare again.

Please allow the edit again.
VSCode v: 1.45.0 (used to work before this version).

[2020-05-08 14:25] #97259 closed

[2020-05-08 14:26] crunchsound commented on #97195
Generally-speaking: communicates positive feedback on a particular feature to the members that worked on it.

Kind of like upvoting a Reddit post or a StackOverflow question, but instead of a single author it would be the group that worked on it that would see the positive reaction.

[2020-05-08 14:26] Callendor commented on #84151
I would love to see this feature as well.

[2020-05-08 14:26] aeschli commented on #97177
@Colengms

When you switch to semantic tokens and you use custom token types/modifiers, you can also contribute a mapping to TextMate scopes through the `semanticTokenScopes` contribution point: https://code.visualstudio.com/api/language-extensions/semantic-highlight-guide#semantic-token-scope-map
That you can even do for language specific scopes. The idea for the mapping is that themes don't nece

[2020-05-08 14:28] nanixne commented on #97188
![Capture](https://user-images.githubusercontent.com/46426003/81414916-54b56d80-910d-11ea-8f5f-3538d5860dcd.PNG)

sorry for missing screenshot, I just know drag picture to here to upload.
this bug can reproduced even using powershell as terminal.

steps like:
1. please type `exit` in terminal to complete quit your terminal
2. change terminal font family to "terminal.integrated.fontFamily": "Libera

[2020-05-08 14:34] itsjamie opened #97260 "Quick-fix import adding `.js` extension to TypeScript import."
When using the quick-fix to automatically add import statements to a project that is a mix of Typescript and Javascript, the automatic import is adding `.js` extensions to the file import path, when the file that it is pointing at is written in TypeScript, and ends with a `.ts` extension.

- VSCode Version: 1.45.0
- OS Version: 10.15.4

Steps to Reproduce:

I haven't been able to successfully crea

[2020-05-08 14:40] Tyriar commented on #97188
Is it just this font that shows problems? Are you sure it's installed correctly? It looks like that is not actually Libration Mono as the `l` differs a lot from what I see [here](https://www.fontsquirrel.com/fonts/liberation-mono).

[2020-05-08 14:40] ahinkle opened #97261 "Unable to authenticate with GitHub"
- VSCode Version: 1.45.0
- OS Version: MacOS Catalina 10.15.4

Steps to Reproduce:

1. Update to 1.45.0 (from latest 1.44)
2. Open an existing project
3. Open GitHub issues pane in Explorer
4. Displays the following error:
[code]

I don't see a way to login to GitHub in the editor (including settings). How can I authenticate?

![Screen Shot 2020-05-08 at 9 30 01 AM](https://user-images.githubuserc

[2020-05-08 14:46] mscott5861 opened #97262 "terminal.integrated.commandsToSkipShell > Find Disabling Not Working in April 2020 Update"
- VSCode Version: April 2020
- OS Version: Windows 10

Steps to Reproduce:

1. In `settings.json`, set `"terminal.integrated.commandsToSkipShell": [
  "-workbench.action.terminal.focusFindWidget"
]`

I use this setting to avoid sending <Ctrl + F> to the integrated terminal, as it's used for autocomplete in Fish shell and is indispensable to my workflow. This setting in `settings.json` has worked f

[2020-05-08 14:46] haimat commented on #4873
So do I understand correctly that there is still not "read-only" switch for a file that is currently open in the VS Code editor?

[2020-05-08 14:47] RMacfarlane commented on #87001
@Srekel Have you been able to reproduce this problem in recent versions of VSCode?

[2020-05-08 14:52] gnaeus commented on #95346
Declaration and usage of the same variable have different colors. Looks a bit strange:

![image](https://user-images.githubusercontent.com/4706707/81417905-93224b00-9154-11ea-90a7-4d99f4bdd4f9.png)

[2020-05-08 14:52] #97241 closed

[2020-05-08 14:53] #86620 closed

[2020-05-08 14:53] isidorn commented on #97241
@leonardder thanks for great feedback. I have pushed the following changes:
1) focus on a status bar entry gets preserved when you re-focus the status bar
2) `esc` while in status bar clear the focus from the entry to the whole status bar

I am open to changing that the iital focus auto-focuses the first element, though did not make that change yet since it might break nice voice over behavior  fr

[2020-05-08 14:54] #97162 closed

[2020-05-08 14:56] aeschli commented on #95346
@gnaeus Did you disable semantic highlighting?

[2020-05-08 15:00] connor4312 commented on #96897
Awesome thanks for verifying!

[2020-05-08 15:00] snerks opened #97264 "Git - Make "Publish To GitHub" option available for Initialised Git Repo"
The `Publish To GitHub` option appears to be available only when a folder has not yet been initialised with Git.

It would be good if the `Publish to GitHub` option were available for a local Git Repository that has not yet been Published to GitHub. This feature is available in GitHub Desktop (on Windows).

[2020-05-08 15:01] garyshell opened #97265 "New Switch tabs using mouse wheel is too fast"
Issue Type: <b>Bug</b>

On a Mac using the Mac "Magic Mouse" the tab switching is too fast.  With three tabs open it switches instantly between the leftmost and righmost tabs.  It is impossible to move to the one in the middle.

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T15:57:33.467Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary>

[2020-05-08 15:02] bpasero commented on #97172
@lucasavila00 any idea why you see the dialog on your local workspace on monitor B? does that appear all of the sudden out of nowhere?

[2020-05-08 15:02] AjitDingankar opened #97267 "VS Code Server update shows "Permission denied" message from WSL"
- VSCode Version: 1.45.0
- OS Version: Windows 10

About:
[code]

Steps to Reproduce:

1. Open WSL.
1. Run `code newfile`
1. Note message in console to the effect of:
[code]
* VS Code still opens and works.
* Permissions are OK (777 with my user and group)

Does this issue occur when all extensions are disabled?: Yes/No
Can't check since there isn't an update immediately after the one that showed

[2020-05-08 15:05] chrmarti commented on #97199
@shamarin Could you check if this older 1.45-insiders build has the same problem:
- [Windows 64](https://az764295.vo.msecnd.net/insider/b83339a3a7bd8e3ec8a8b79deda9c37e0d91f094/VSCodeUserSetup-x64-1.45.0-insider.exe)
- [MacOS](https://az764295.vo.msecnd.net/insider/b83339a3a7bd8e3ec8a8b79deda9c37e0d91f094/VSCode-darwin-insider.zip)
- [.deb](https://az764295.vo.msecnd.net/insider/b83339a3a7bd8e3ec8

[2020-05-08 15:06] Srekel commented on #87001
@RMacfarlane No, sorry, afaik it's just happened the one time.

I'll close it now. :)

[2020-05-08 15:06] #87001 closed

[2020-05-08 15:08] jblanchet commented on #85969
Tried it this morning (I'm now on version 1.43.2).
My initial search now finds 55 matches, when I do the more specific search it finds 65 matches. So certainly better than it was when I posted this ticket, but still odd.
I assume it has something to do with the size of the file set that I'm searching? In the first search, it's looking through 540k files. When I narrow it down to a specific subfold

[2020-05-08 15:08] chenrui2014 opened #97268 "无法打开源代码管理"
Issue Type: <b>Bug</b>

项目是从github上拉下来的，但是用vscode打开后，在源代码管理菜单中显示当前打开的文件夹没有git存储库，打开的文件夹实际存在.git文件夹

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:10:24.511Z)
OS version: Linux x64 4.15.0-97-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6800K CPU @ 3.40GHz (12 x 3365)|
|GPU Status|2d_canvas: enabled<br>fl

[2020-05-08 15:13] resetus commented on #95346
@aeschli, why **console.log** changes color, when this option is enabled?

![image](https://user-images.githubusercontent.com/24482422/81419541-16dd3700-9157-11ea-83f9-93461217942b.png)

[2020-05-08 15:14] shamarin commented on #97199
Just checked - the same issue with this insider version.

[2020-05-08 15:17] gnaeus commented on #95346
@aeschli no I didn't disable semantic highlighting. My combination of flags:
[code]

[2020-05-08 15:17] amelvill-umich commented on #4873
@haimat  not that I know of, no

[2020-05-08 15:21] lucasavila00 commented on #97172
@bpasero  Yes, out of nowhere at the same time as Codespace does.
If I don't have anything to save it just closes the window, though. If I have unsaved changes it will ask me if I want to save them.

Somehow the "close" command is being sent to the wrong window that caused it, it seems.

[2020-05-08 15:30] imdeep2905 commented on #97219
`ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     2.0.0      PSReadline                          {Get-PSReadLineKeyHandler, Get-PSReadLineOption, Remove-PSReadLineKeyHandler, Set-PSReadLineKeyHandler...}`

Above is the output of command you told me to run.

I didn't do anything related t

[2020-05-08 15:33] chrmarti commented on #97199
@shamarin Do you have any of the `HTTP_PROXY`, `HTTPS_PROXY` or `NO_PROXY` environment variables set?

[2020-05-08 15:36] shamarin commented on #97199
No, settings as is (default values after first install)

[2020-05-08 15:37] mloutris commented on #97097
I don't really know the functionality provided by VS Code versus a browser. If VS Code is just using a standard browser, then I would think the issue resides in the browser.

[2020-05-08 15:40] gnaeus commented on #95346
Also here is the settings for all who loves __the old behavior__:

[code]

<table>
<tr><th>OLD</th><th>NEW</th></tr>
<tr>
<td><img width="300" src="https://user-images.githubusercontent.com/4706707/81421790-b819bc80-915a-11ea-9a2b-e004b3477316.png" /></td>
<td><img width="300" src="https://user-images.githubusercontent.com/4706707/81421594-5b1e0680-915a-11ea-859a-f51ce6da1348.png" /></td>
</tr>
</

[2020-05-08 15:41] beltaurus commented on #14836
@DerekSMorin : I like the suggestion

That does imply higher priority between `exclude` and `include` though; And that would be more intuitive if we reversed the fields

[code]

Where `*` is the meta-character for "any match", and `@` is the meta-character for "active file"...

It certainly is more effective in real estate compared to my initial suggestion, but it is less intuitive (you have to re

[2020-05-08 15:43] bpasero commented on #97172
@lucasavila00 so is there any action you do that triggers this "close", that was not clear to me from your screenshots yet.

[2020-05-08 15:45] Kingwl commented on #93299
I'd like to work on this..