[2016-10-28 22:42] roblourens opened #14682 "Empty box in package.json intellisense"
Probably related to #14679
- Type "micro" fast
- This bar shows up which is the same width as the intellisense popup, when it does show up

If I type slowly, I see useful suggestions.

![image](https://cloud.githubusercontent.com/assets/323878/19824491/e5c22772-9d24-11e6-8ac4-165e56dda29e.png)

[2016-10-28 22:53] aaronsnyder commented on #13613
Filtering out the vendor/ directory made CMD+P significantly more useful-- it now works exactly like I'd expect. Not sure if this is the ideal solution, but will leave that up to you and your team. I'm ok with it in this case.

[2016-10-28 22:58] chrmarti commented on #13613
`find` being so slow is unexpected. Using more exclusion filters is a good solution. Thanks.

[2016-10-28 23:03] octref commented on #14500
@jrieken

`vscode.workspace.getConfiguration('python')` returns empty object, even if Python has configuration contributions.

[2016-10-28 23:50] anudeep3998 commented on #11795
Huh, cool. Those options work. Didn't know they existed already! Making it automated would be great.

[2016-10-28 23:51] natenovielli opened #14683 "Build fails on a clean clone of repo with SyntaxError: Unexpected token"
- VSCode Version: Synced from Master
- OS Version:  Windows 10

Steps to Reproduce:

1. Sync from master
2. Install all build dependencies from https://github.com/Microsoft/vscode/wiki/How-to-Contribute
3. Run gulp

Gulp fails with

                        ...builtInExtensions.map(e => `!extensions/${e.name}/**`)
                        ^^^

[2016-10-29 00:29] roblourens opened #14684 "Stack trace doesn't show up (in a very specific case)"
First off, this reproes in 1.6.1 and 1.7-insiders
- Open a new vs code window, because this only reproes in the first debugging session
- Open the file explorer in the sidebar
- Hide the sidebar (if the debug panel was the open pane when hiding it, this doesn't repro)
- Start debugging
- Hit a breakpoint
- Open the debug panel
- There is no stack trace

If you step, the stack trace and everything

[2016-10-29 00:57] roblourens opened #14685 "launchservicesd CPU usage on MacOS Sierra"
I have been seeing this for at least few days but I just made the connection to vscode. Possibly since updating to 10.12.1. Would be great if someone else can try to repro.

I'll have several instances of Insiders open, not doing anything unusual, then notice that I'm using a ton of CPU of launchservicesd, Dock, and loginwindow.

Like this -
![image](https://cloud.githubusercontent.com/assets/3238

[2016-10-29 00:59] roblourens commented on #14685
And I don't notice any slowness, I only noticed because the macbook fan kept running loudly.

[2016-10-29 01:09] roblourens commented on #14685
It's an extension...

[2016-10-29 01:10] roblourens commented on #14685
It's the spotify extension...

[2016-10-29 01:10] #14685 closed

[2016-10-29 01:26] fenying commented on #14638
@bpasero Great. Anyway if it could be solved will be okay. ^_^

[2016-10-29 01:39] geddski commented on #1749
Awesome thx!

[2016-10-29 01:55] joshfttb commented on #14236
I wanted to bump this since It seems like it's a problem that's not going to be specific to my use.

[2016-10-29 02:07] Applicafroguy commented on #12068
same issue with angular 2

[2016-10-29 02:17] DavidBabel commented on #6144
+1

[2016-10-29 03:42] cchitsiang commented on #5770
No problem on using other git mergetool but really would like to see own merge UI happen really soon!!

[2016-10-29 04:24] canfoderiskii opened #14686 "Bash syntax defect"
- VSCode Version: 1.6.1
- OS Version: Ubuntu 16.04

The defect looks like this:
![vscode](https://cloud.githubusercontent.com/assets/10685920/19827131/15b4e106-9dd2-11e6-927a-72d5268f41f8.png)

The single quote inside the string for `cat` affects the syntax parsing.

[2016-10-29 04:47] gandhis1 commented on #14096
I mostly use it to correct improperly formatted SQL queries (keywords should be capitalized, and names lowercase).

[2016-10-29 05:05] mazhan465 opened #14687 "vscode output and console accented"
When I TRY build my .c file,the output window show '"C:/Program Files (x86)/Microsoft Visual C++ Build Tools/vcbuildtools.exe"' �����ڲ����ⲿ���Ҳ���ǿ����еĳ���
���������ļ���

[2016-10-29 05:24] Toybreak commented on #13473
@alexandrudima Hi,  this is my setting

used to work well, till this upgrade. Other fonts work well

[2016-10-29 05:59] rebornix commented on #11334
I don't run into the issue @jrieken had, but when I typed first character, like `n`, the composition view is missing but after I typed `i`, the composition view is shown.

[2016-10-29 06:25] zengbinsi opened #14688 "JavaScript use strict"
- VSCode Version:1.4.0
- OS Version: mac OSX 10.12

Steps to Reproduce:

1. 编写js代码，在文件头输入'use strict'。
2. 编写不够严谨的js代码，运行没有任何提示，这不是一个友好的现象。

[2016-10-29 06:35] seveves commented on #6328
Scenario 1, Option 1 ftw! +1 because of angular2 naming conventions

[2016-10-29 08:35] okansarica opened #14689 "html editor cant beautify some code"
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T16:21:53.542Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions: danwahlin.angular2-snippets-0.10.4, robertohuertasm.vscode-icons-2.0.5

Steps to Reproduce:

1.write to code below to an html file and beautify it by ctrl k + ctrl d
<div class="row">
        <div class="col-sm-3">
            <select class="form-

[2016-10-29 09:21] Masatoshi commented on #1501
I got same issue on Sierra.
I found some logs which showed errors were caused by Electron.
But 10.12.1 update seemed to fix it.

[2016-10-29 09:24] amshegar commented on #14019
It's not about text ...
[example.txt](https://github.com/Microsoft/vscode/files/559861/example.txt)

[2016-10-29 09:42] csyj501 commented on #14633
I want to say that when I change the HTML files in the vscode, preview will not change!

[2016-10-29 10:21] marad commented on #4308
I'm also having a problem with this warning. I've installed VSCode from AUR on Arch Linux and tried create simple hello-world plugin. Also even though it's reported as a warning, VSCode doesn't seem to load my plugin at all.

[2016-10-29 12:07] Tyriar opened #14690 "Hot Exit: Untitled files with no content should be restored"
It would probably feel better if Untitled files with no content were also restored upon launch/reload.

[2016-10-29 12:09] Tyriar commented on #11334
Are you pressing tab to trigger the completion @jrieken?

[2016-10-29 12:18] m0rb1us commented on #6579
For what it's worth, having same problem from within Python. I can run bash commands manually from the command line but that's all.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\ktw\AppData\Local\Programs\Python\Python35-32\lib\subprocess.py", line 693, in run
    with Popen(*popenargs, **kwargs) as process:
  File "C:\Users\ktw\AppData\Local\Programs\P

[2016-10-29 12:25] xareelee commented on #14033
+1 for this feature request. It's intuitive Mac-style.

[2016-10-29 13:02] mandel59 opened #14691 "Fail to launch integrated terminal in a folder its name contains a non-ASCII character"
- VSCode Version: 1.6.1 (commit 9e4e44c19e393803e2b05fe2323cf4ed7e36880e)
- OS Version: Windows 10 Pro

Steps to Reproduce:
1. Open a folder its name contains a non-ASCII (yet in Unicode) character.
2. Open integrated terminal.

Expected: The terminal appears.
Actual: The terminal process exits with exit-status 1:
![integratedterminal](https://cloud.githubusercontent.com/assets/1079715/19829664/a6

[2016-10-29 13:06] Tyriar commented on #14038
@bpasero I see the code for this is in tabsTitleControl. Not too familiar with this code though, any advice where/how I should make the tabs refresh their dirty states after startup?

[2016-10-29 14:15] doliver3 opened #14692 "Bad screen partial repaint issues making VSCode very unpleasant to use"
- VSCode Version: 1.6.1
- OS Version: Mac OS Sierra 10.12

Steps to Reproduce:

1. Open any file
2. Code areas appear in dark black while huge blocks where the text is not at appear in gray black so there is not in any way a uniform background color

![image](https://cloud.githubusercontent.com/assets/98346/19830188/653d6354-9dc0-11e6-9705-2075c5d02761.png)

![image](https://cloud.githubuserconten

[2016-10-29 14:17] pcgeek86 commented on #14238
I think it's a sound recommendation to improve the user experience. Good feedback.

[2016-10-29 14:22] mrmlnc commented on #14692
Please, use search before create new issue.

See official release notes: http://code.visualstudio.com/updates#_macos-sierra-support
See alredy created issues: #12473, #12474, #12523, #12571, #13175, #13192, #13959, #14233, #14540

[2016-10-29 14:59] pcgeek86 opened #14693 "VSCode is wiping out my search"
- VSCode Version: 1.6.1
- OS Version: Windows 10 Anniversary Update

Steps to Reproduce:
1. Start with an empty text file
2. Perform a regex search / replace (`CTRL + H`), for example `an$`
3. Paste in some text, where the _end_ of the text matches the search in step 1 (eg. `Trevor Sullivan`)
4. Hit `CTRL + H` to perform another search / replace
5. The regex search you performed is replaced with t

[2016-10-29 15:03] holysky5 opened #14694 "navigator in open panel"
just Loss of function

[2016-10-29 15:16] pcgeek86 opened #14695 "CTRL + ALT + ENTER not working to Replace All"
- VSCode Version: 1.6.1
- OS Version: Windows 10 Anniversary Update

Steps to Reproduce:
1. Perform a regex search/replace using `CTRL + H`
2. Press `CTRL + ALT + ENTER` to perform the replacement operation
3. The replacement operation does not occur

**NOTE**: When I use the mouse to hover over the **Replace All** button, it specifically mentions a `CTRL + ALT + ENTER` keyboard shortcut, hence th

[2016-10-29 16:39] andrewgale1 opened #14696 "half of code in html file has lost syntax coloring"
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T15:27:10.246Z)
- OS Version: Darwin x64 16.1.0
- Extensions: ms-vscode.csharp-1.4.1

most code is red in color, file is fine and there are no errors. have tried new files with code pasted in etc. and have not been able to remedy. ?

[2016-10-29 17:21] pcgeek86 commented on #205
While I love the Git integration with VSCode, it is a little short-sighted to integrate with only a single revision control system. From a usability standpoint, Mercurial is dramatically simpler to use than Git. It would be interesting if VSCode supported a generic interface for revision control, similar to how it exposes a Debug Adapter interface for external debuggers to implement.

[2016-10-29 17:32] pcgeek86 opened #14697 "Viewport for Extensions doesn't scale on high resolution displays"
- VSCode Version: 1.6.1
- OS Version: Windows 10 Anniversary Update
- Device: Dell XPS 9350 QHD IPS (3200 x 1800)

Steps to Reproduce:
1. Open VSCode
2. Change into the **Extensions** context
3. Perform an extension search, and select one
4. Use `CTRL + +` to increase the editor font size
5. Notice the poor scaling of the description area of the extension viewport (screenshot included below)

![im

[2016-10-29 18:23] unional opened #14698 "import completion should not triggered by dot"
- VSCode Version: 1.6.1
- OS Version: Windows Server 2012 R2

Steps to Reproduce:

[code]

expected: no completion. Users may want to do ".." for parent folder.
actual: completion triggered and list installed npm packages

![image](https://cloud.githubusercontent.com/assets/3254987/19831903/3911615e-9dca-11e6-8d32-c181e3e84a6e.png)

So what happen is if user wants to reference parent folder ("..")

[2016-10-29 18:38] siegebell opened #14699 "Feature request: lock ranges of the TextEditor"
Request: provide API support to lock arbitrary ranges in the editor; i.e. make them read-only so the user and extensions cannot change the text within the region. This feature is supported by emacs (see [inhibit-read-only](https://www.gnu.org/software/emacs/manual/html_node/elisp/Read-Only-Buffers.html) and [this](http://unix.stackexchange.com/questions/76531/emacs-make-portion-of-buffer-readonly)

[2016-10-29 19:01] yiminghuang opened #14700 "vs"
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T15:27:10.246Z)
- OS Version: Darwin x64 15.5.0
- Extensions: donjayamanne.githistory-0.1.0, ms-vscode.cpptools-0.9.2, robertohuertasm.vscode-icons-3.0.7

Steps to Reproduce:

1.
2.

[2016-10-29 19:27] kirill-gerasimenko opened #14701 "Terminal's sendText adds extra empty lines in CRLF mode on Windows"
Hi,
Here is the description of my findings. If it's not complete I can add what's needed.
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T16:21:53.542Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions: alefragnani.Bookmarks-0.9.2, christian-kohler.path-intellisense-1.1.0, donjayamanne.githistory-0.1.0, Ionide.Ionide-FAKE-1.1.0, Ionide.Ionide-fsharp-2.8.8, I

[2016-10-29 20:36] siegebell commented on #6966
I'm writing an extension for a language that provides an alternative to the ubiquitous use of emacs. Some potential users are demanding that their crazy many-chorded keybindings be supported before moving to vscode...

[2016-10-29 20:46] scgm11 opened #14702 "Better java, gradle support"
- VSCode Version:1.6.1
- OS Version: MacOS Sierra

We would like a more out of the box java support without relying on maven or eclipse.

1) open a java project (gradle if possible)  and be able to execute gradle tasks out of the box
2) be able to compile and run java apps
3) be able to local and most important remote debug java applications
4) keep on improving git support!

plugins existing now

[2016-10-29 21:12] Tyriar commented on #14064
I ended up splitting it out and then removing workspace.json completely since it was only being used to restore textfiles which are now checked in the model when launching :tada:

[2016-10-29 21:12] #14064 closed

[2016-10-29 22:07] Tyriar commented on #14131
@bpasero what makes you think it's not working? Whenever I try it out it works just fine, it also makes sense why it would:

1. Load all backup restore windows
2. Perform regular window launch logic, knowing that window(s) already exist so open file(s) in existing windows where necessary

I actually just removed the workspace files list from `workspace(s).json` in https://github.com/Microsoft/vsco

[2016-10-29 22:07] #14131 closed

[2016-10-29 22:07] #14700 closed

[2016-10-29 22:08] octref commented on #14700
Whatever your problem is, try reinstall your VSCode. `vscode-icons` modifies VSCode source code and can cause problems.

[2016-10-29 22:11] rajinder-yadav opened #14703 "Code formatting doesn't work on long lines with commas."
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T15:43:46.054Z)
- OS Version: Linux x64 4.4.0-45-generic
- Extensions: DavidAnson.vscode-markdownlint-0.5.0, EditorConfig.EditorConfig-0.3.4, ajhyndman.jslint-1.2.1, dbaeumer.jshint-0.10.15, dbaeumer.vscode-eslint-1.0.8, eg2.tslint-0.5.39, jakethashi.vscode-angular2-emmet-1.0.9, ms-vscode.cpptools-0.9.2, msjsdiag.deb

[2016-10-29 22:13] octref commented on #14702
1, 2, 3 can be done by extension. Try opening an issue for https://github.com/redhat-developer/vscode-java

If you have concrete points where we can improve git, feel free to open another issue.

[2016-10-29 22:13] #14702 closed

[2016-10-29 22:16] jbpotonnier commented on #4712
@alexandrudima
Here is a screenshot of the keyboard events page after pressing altGr + 5 :
![keys](https://cloud.githubusercontent.com/assets/368382/19833031/21d644c2-9e34-11e6-9926-7c0fb318b2b1.jpg)

Here is another one in vscode, after pressing altGr + 5
![shortcuts](https://cloud.githubusercontent.com/assets/368382/19833062/a4893694-9e35-11e6-8417-a6032bc3c379.jpg)

With altGr pressed, the keys

[2016-10-29 22:17] Tyriar commented on #14116
I'm thinking the best way to approach this and #14690 is to keep track of untitled files as part of the restore logic and only respect it if hotExit is enabled. I don't see another nice way of restoring the editors to their correct groups. Thoughts @bpasero?

[2016-10-29 22:32] Tyriar commented on #14149
It looks like this is related to a workspace, I believe this has since been fixed on the feature branch as it's changed quite a bit since this occurred and couldn't repro on LInux.

[2016-10-29 22:32] #14149 closed

[2016-10-29 22:36] Tyriar commented on #14063
@bpasero in the example temp-workspace was the original workspace, after being deleted it tried to open it as a file. I'm assuming this happened:

- Open `temp-workspace` in code
- Close code
- Delete `temp-workspace`
- Open `temp-workspace` in code
- Attempt to restore `temp-workspace` (throws an exception(
- Assume `temp-workspace` is a file as it wasn't a directory and try open i.

[2016-10-29 22:45] octref commented on #14684
Have seen this too. A bit annoying.

[2016-10-29 22:48] octref commented on #14683
What's your node version? If possible can you update node.

Seems your node doesn't support spread yet.

[2016-10-29 22:52] octref commented on #14680
cmd-click -> goes to extension page might also be a good addition.

[2016-10-29 23:21] geversoncarvalho commented on #14671
Yes, exactly... The explorer is not displaying some files and when I opened one of these files through the File > Open File, the 'invisible' file becomes visible in the explorer until I restart the Visual Code. I tried several approaches as reopen the folder through File > Open Folder or removing .vscode folders, but nothing solved the problem.

[2016-10-29 23:29] mdarefull opened #14704 "VSCode Main Window is blank"
http://stackoverflow.com/questions/40323190/vs-code-main-window-is-blank

I hope you don't mind the fact I've referenced the question at so, my goal is to keep it updated with possible feedback from the community.

[2016-10-29 23:54] Tyriar opened #14705 "Notify the user that backups exist but have not been restored if the folder to be restored no longer exists"
Moving this over from #14063

After https://github.com/Microsoft/vscode/commit/62ec04bb71d6185653aed6592e7c3245060e1ab4 the backups are not restored if the workspace directory doesn't exist anymore. The workspace is no longer tracked but the backups are kept around in the backup directory should they be needed later.

[2016-10-29 23:54] Tyriar commented on #14063
I disabled restore for now, the backups are kept around though. Moving the notification to https://github.com/Microsoft/vscode/issues/14705

[2016-10-29 23:54] #14063 closed

[2016-10-30 00:18] octref opened #14706 "Wrong underline for src link in script tag"
- VSCode Version: 1.7 Insider
- OS Version: OS X 10.11.6

Notice the missing closing double quotes.

![image](https://cloud.githubusercontent.com/assets/4033249/19833593/809ca084-9dfb-11e6-94a1-e801ee9702a5.png)

[2016-10-30 01:04] CodeGenTeam opened #14707 "KeyBinding warning"
1. 1.6.1
2. Windows 10

Conflict detected, command `workbench.action.terminal.openNativeConsole` cannot be triggered by ctrl+shift+c due to console.open

Conflict detected, command `workbench.action.terminal.copySelection` cannot be triggered by ctrl+shift+c due to console.open
![image](https://cloud.githubusercontent.com/assets/11016041/19833768/e6e5525c-9e67-11e6-91a0-bd93071bfb9a.png)

[2016-10-30 01:05] rajinder-yadav opened #14708 "Hitting backspace doesn't move cursor to previous indent column."
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T15:43:46.054Z)
- OS Version: Linux x64 4.4.0-45-generic
- Extensions: DavidAnson.vscode-markdownlint-0.5.0, EditorConfig.EditorConfig-0.3.4, ajhyndman.jslint-1.2.1, dbaeumer.jshint-0.10.15, dbaeumer.vscode-eslint-1.0.8, eg2.tslint-0.5.39, jakethashi.vscode-angular2-emmet-1.0.9, ms-vscode.cpptools-0.9.2, msjsdiag.deb

[2016-10-30 01:09] CodeGenTeam opened #14709 "express static folder and go to definition"
1. 1.6.1
2. Windows 10

I have in express:
app.use(express.static(__dirname + '/../public'));
In html file I cannot go to definition. But It's correct, when I run app.
![image](https://cloud.githubusercontent.com/assets/11016041/19833752/6334818a-9e67-11e6-9e4e-b72cf28e5900.png)
Where I can fix this problem?

[2016-10-30 03:11] ziofat commented on #9989
I think you don't need to think it as screen column, just make column selection smarter.
VSCode already treats the tab as 4-width length charcter (which can be set in preference), and CJK will be 2-width length in monospace font (it is not necessary to be available in preference because all monospace CJK font have same size.).
User can choose their font to suit the editor but not languages.

[2016-10-30 03:47] billsworld opened #14710 "Add an option to confirm before quitting"
- VSCode Version: 1.6
- OS Version: OSX Sierra

Many times on a Mac it is necessary to use `cmd+`` to navigate between projects. This can lead to a mishit on `cmd+q` very easily. It would be great to have a confirm quit feature. Something like this sublimetext extension https://github.com/xavi-/sublime-maybs-quit

Thanks!

[2016-10-30 03:51] roblourens opened #14711 "Debug widget doesn't show up until successful attach"
I don't know if this is covered somewhere else -

Start an attach config with the wrong port
Nothing shows up for 10 seconds until the attach times out, and the infobar error appears.

Previously in 1.6, the widget showed up immediately, so you had immediate UI feedback that something was happening, and could cancel it without waiting.

[2016-10-30 05:57] bpasero commented on #14651
We do not prevent you from adding keys to settings.json that are unknown so I would assume this works. Maybe just try it out quickly?

[2016-10-30 06:01] bpasero commented on #11795
@chrmarti if you follow the trace of the [`History.remove()`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/history/browser/history.ts#L409) method you can see that we do remove entries if we detect them deleted on the file system. Of course this does not protect us from dropped file events or deletions that happen between restarts of Code.

I would not want to do all t

[2016-10-30 06:03] bpasero commented on #14038
@Tyriar can you give me a code snippet for me to reproduce this (without introducing all of hot exit)? Maybe I can fix this independent from hot exit 👍

[2016-10-30 06:04] bpasero commented on #14131
Sounds good, I will play with it after debt week.

[2016-10-30 06:10] bpasero commented on #14116
The [editor tabs model](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/common/editor/editorStacksModel.ts#L620) relies on the `EditorInputFactory` to serialize and restore editor inputs properly between restarts. We should utilise this for hot exit probably. Today there is no factory for untitled inputs but we could make it conditional for when hot exit is enabled or not. Once yo

[2016-10-30 06:10] bpasero commented on #14038
Actually I think this applies to a lot more than just tabs. We have listeners for dirty files everywhere in the workbench (e.g. opened editors view too).

[2016-10-30 06:13] bpasero commented on #14640
To find out more about this issue, we need to get at the process that is causing the high load. VS Code creates multiple processes, each with different tasks. Depending on your OS you can get at the full command line of the process and paste it here. On Mac, the **Activity Monitor** allows to find the `PID` of the process and from a terminal `ps aux | grep <pid>` reveals its arguments.

![image](h

[2016-10-30 07:15] rageshm110 opened #14712 "Powershell Plugin - Inconsistent Debug Console Output"
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T16:21:53.542Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions: donjayamanne.python-0.5.0, ms-vscode.PowerShell-0.7.2

Steps to Reproduce:

1. Ctrl+Shift+D
2. Start Debugging

I am not able to see any output at debug console even with very basic cmdlets like get-service. PowerShell v5 is installed on machine. I

[2016-10-30 07:34] jitendravyas commented on #1689
@Spown Emmet is not working for me with `.nunjucks` files even with https://github.com/Bajdzis/vscode-twig-pack

[2016-10-30 07:46] rageshm110 commented on #14712
![error](https://cloud.githubusercontent.com/assets/6996136/19835134/fb2e9684-9ea2-11e6-8e51-30a354c7cf8c.PNG)

[2016-10-30 07:48] Spown commented on #1689
@jitendravyas ``vscode-twig-pack`` works with ``twig, html.twig`` files. I configure my nunj projects to use simply ``.html`` extensions in templates. If you want to use ``.nunjucks`` you have to configure it use the HTML syntax when the ``vscode-twig-pack`` is installed. I don't know how or whether it is possible.

[2016-10-30 07:54] JuHo1117 commented on #14651
I'm already doing that,and it works fine for me!!!

[2016-10-30 08:03] antlu commented on #4039
Could you make Django template tags (starting with **{{**, **{%**, **{#**) be formatted like **{{#** with html.format.indentHandlebars? Indentation, line breaks.

[2016-10-30 08:08] ADRIAGUSJO opened #14713 "gith"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2016-10-30 08:22] zhengbli commented on #14670
I have the same problem on a yoga 910 laptop. Add "--disable-gpu" seems to hep.

[2016-10-30 08:29] jitendravyas commented on #5445
+1 I also need this

[2016-10-30 08:33] mrmlnc commented on #14670
@zhengbli, please, try to use latest Insiders. As far as I know, this should be fixed.

[2016-10-30 09:11] mrmlnc commented on #1689
@jitendravyas, @Spown,

We have done everything possible to Emmet supported all available languages.

You can use `emmet.syntaxProfiles` option in settings of Editor. For example:

[code]

Documentation: http://code.visualstudio.com/updates/v1_5#_settings-to-enabledisable-emmet-for-languages

[2016-10-30 09:13] lexgo13 opened #14714 "Add go to declaration or function"
i want do this:
With right click on a variable, access to a contextual menu. Select go to *
- (variable declaration, function declaration, anything declaration in relation with a current word)

[2016-10-30 11:13] simonech commented on #14653
Apart from the core, I guess also extensions which provide new windows should be able to add their owns if it makes sense.

[2016-10-30 11:45] baadillahnabil commented on #14640
good news @bpasero , i found out what causing the high load, it because an extention called "HTML CSS Class Completion" , it loads every class in my css files inside my project and that is what cause this laggy.. i don't mean to "disfigure" the extention, i just telling the truth that that extention is causing this laggy, after i uninstall that extention, it works smooth now.. :)

just my opinion

[2016-10-30 11:54] mrmlnc commented on #14640
Well, I will help to author of this extension, because this extension creates a lot of problems.

[2016-10-30 12:06] bpasero commented on #14640
@baadillahnabil one of the steps of the checklist asks to run with extensions disabled, maybe you skipped it? This is one of the first suspicious things to try out.

Otherwise please report against the extension 👍

[2016-10-30 12:06] #14640 closed

[2016-10-30 13:03] smukkekim commented on #12493
+1

[2016-10-30 13:32] NiklasRosenstein opened #14716 "Lag when scrolling with Trackpad on Dell XPS 13"
- VSCode Version: 1.6.1
- OS Version: Windows 10 x64

On my Dell XPS 13, scrolling in Visual Studio Code using two fingers in any view (Editor, File Tree, Terminal, Extensions) has a lag to it. Especially when starting the drag, most of the time it won't start moving for half a second and then jump a large distance into the scroll direction.

Scrolling on the Touch display works without problems.

[2016-10-30 13:43] NiklasRosenstein commented on #14716
I just noticed that in the Terminal, I can not scroll properly with the Touch display. Also, trying to scroll with the *Scroll Bar* is really awkward because it immediately jumps to where I **point** the mouse (not even clicking into the Scroll Bar).

[2016-10-30 14:11] baadillahnabil commented on #14640
Thank you @mrmlnc  :D

@bpasero i tried that but i ran it in the terminal built in inside vscode, nothing happend, so i assume that doesn't work.. but i serach online and i found out that that command have to run in standalone terminal/cmd in order to open vscode without extentions...

[2016-10-30 14:35] arlair commented on #818
I'm confused this is closed. As mentioned, the issue referenced for closing this as a duplicate does not seem to mention automatically creating an import statement in its description.

I installed some of the third party auto import VS Code plugins. No seemed to handle the case I was attempting, auto import statement for a decorator, but WebStorm could.

It seems this should either be re-opened or

[2016-10-30 16:03] basickarl opened #14718 "Add option to prevent same file opening twice"
Sometimes I've forgotten that I have opened the same file twice in two or more panes in vscode. This has led me to edit the wrong file opened which in turn creates confusion as to why my code isn't working as intended.

I'm wondering, could an option be added to prevent the same file being opened more than once. If it is opened in a new pane, let the other opened version close (do you want to save

[2016-10-30 16:16] mdarefull commented on #14704
I have updated the question with more details at so. I hope this may help find a solution...

[2016-10-30 16:19] natenovielli commented on #14683
6.9.1 I'll try to update it and let you know how it goes.

[2016-10-30 16:28] CoenraadS commented on #14716
I also have this on my XPS 13, but it happens sporadically, and can't really reproduce it. Sometimes changing the window size makes it go away...

[2016-10-30 16:34] natenovielli commented on #14683
Updated to 7.0.0 and am getting the same error.

[2016-10-30 16:50] jorgeas80 commented on #13127
Hi @waderyan,

It's working with the insider version. Great work! And sorry for the delay.

[2016-10-30 16:51] bpasero commented on #14718
This issue has already been reported. Please use the search function next time before reporting an issue and/or this time if you are curious about the progress of the issue.

[2016-10-30 16:51] #14718 closed

[2016-10-30 16:56] octref commented on #14683
Both your versions should have object spread.

Are you running `gulp vscode-win32`?

Also, right before you run `gulp` on the CLI, can you run `node -v`? Maybe you don't have the correct `PATH` for node, and it's not using the latest version.

[2016-10-30 16:59] octref commented on #14713
Describe your problem or we can't do anything.

[2016-10-30 16:59] #14713 closed

[2016-10-30 17:02] octref commented on #14692
#12473

[2016-10-30 17:02] #14692 closed

[2016-10-30 17:09] octref commented on #14688
linting is provided by extensions like:
https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint

[2016-10-30 17:09] #14688 closed

[2016-10-30 17:39] akintundejr4 commented on #14703
What typescript version are you using?

[2016-10-30 20:11] agt313 commented on #2065
I had this error when I was trying to link to php program to the application.
While I was doing it I went and copy the path were the application resides... something happen and the VC turned off when I turned it back on (Before adding the application name to the path "php") I did not get the error message that php compiler could not be found but rather the "spawn EACCES" error.
I also noticed that

[2016-10-30 20:44] octref opened #14719 "Sections in Debug Viewlet not preserving height"
- VSCode Version: 1.7 Insider
- OS Version: OS X 10.11.6

![debug](https://cloud.githubusercontent.com/assets/4033249/19839850/e95f66be-9ea6-11e6-90c3-badd5a47605c.gif)

[2016-10-30 20:54] objectuser opened #14720 "Unable to Remove Binding for Workbench ZoomIn and ZoomOut"
- VSCode Version: 1.6.1
- OS Version: OSX 10.12.1

Per [these](https://code.visualstudio.com/docs/customization/keybindings#_removing-a-specific-key-binding-rule) instructions, I attempted to remove the zoom in and zoom out behavior of the workbench in order to let the OS use the binding.

Steps to Reproduce:
1. Unbind the keys:

[code]
1. Then use `cmd+=` and `cmd+-` and the workbench still zooms

[2016-10-30 21:04] rajinder-yadav commented on #14703
~:$ tsc -v
Version 2.0.3

[2016-10-30 21:25] weinand commented on #14712
This issue was moved to PowerShell/vscode-powershell#332

[2016-10-30 21:25] #14712 closed

[2016-10-30 21:39] weinand commented on #14687
@mazhan465 if you run your build script in a regular command prompt (instead in VS Code), what do you see there?

[2016-10-30 21:42] weinand commented on #14694
@holysky5 I don't understand what you mean. Please explain.

[2016-10-30 21:48] darkred opened #14721 "If you modify the "editor.lineHeight" setting, multiline tooltips will overlap"
- VSCode Version: 1,6,0
- OS Version: win10x64

Steps to Reproduce:
1.  Open a new file, set as language Javascript, and type this:

[code]
1. Here is how the tooltip lines are displayed (after clicking the balloon icon) while the  `editor.lineHeight` setting has its default value (0) :
   ![2016-10-30_233100](https://cloud.githubusercontent.com/assets/723651/19840180/781e55ac-9ef9-11e6-9d8d-e61a5

[2016-10-30 21:55] weinand commented on #14676
This issue was moved to OmniSharp/omnisharp-vscode#853

[2016-10-30 21:55] #14676 closed

[2016-10-30 22:04] gregvanl opened #14722 "Array preview shows item count as first item and drops last item"
- VSCode Version:1.7.0 insiders
- OS Version: Windows 10

var array1 = [ 1, 2, 3 ];
shows up on hover, Watch, and REPL as
Array[3] [3, 1, 2]

![arrayoutoforder](https://cloud.githubusercontent.com/assets/12818376/19840398/1ed5114e-9eb2-11e6-8f25-c736eb472076.png)

This appears just to be out of order but if you change to strings you can see what's happening.

var array1 = [ "hello", "world" ];
res

[2016-10-30 22:05] weinand commented on #14704
@mdarefull It is possible that this issue is caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces.

[2016-10-30 22:11] weinand commented on #14673
@harryio please provide VSCode Version, OS Version, and most importantly: steps for how to reproduce.

[2016-10-30 22:28] gregvanl opened #14723 "Command unFoldRecursively should be unfoldRecursively (lowercase f) for consistency"
- VSCode Version:1.6.1

Other "unfold" commands use lowercase 'f':
- editor.unfold
- editor.unfoldAll

editor.unFoldRecursively should be editor.unfoldRecursively for consistency.

[2016-10-30 22:50] polygotdev commented on #13616
I could help out here. I've have some initial thoughts outlined in this gist...
https://gist.github.com/polygotdev/8110b92e8b2d1ce20998c4bbc4e41c0b

I have done some initial validation with a change to the RPM spec file to include a **conditional**.
I've also validated package build and installation on the following platforms:
- CentOS-7-x86_64-DVD-1610-01
- rhel-server-7.2-x86_64-dvd
- Fedora-Wor

[2016-10-30 23:24] Tyriar commented on #13616
Thanks a lot for looking into this @polygotdev, I was thinking doing something like this would be necessary. A PR would be awesome :smiley:

[2016-10-30 23:28] Tyriar commented on #14707
This is strange, there should be no warning unless these have been overridden since they have mutually exclusive `when` clauses:

[code]

Can you confirm you don't have any keybindings that override them?

[2016-10-30 23:31] giuliohome opened #14724 "Illegal instruction electron_run_as_node=1"
- VSCode Version: latest 32-bit .deb
- OS Version: Ubuntu 12.04

Steps to Reproduce:
1.  Installing .deb
2.  Running code

Complete description of the issue is here:
http://askubuntu.com/questions/843518/visual-studio-code-on-ubntu-12-04-32bit

Despite the question is answered, the problem is still open

[2016-10-30 23:33] Tyriar commented on #14707
It looks like you have this extension installed https://marketplace.visualstudio.com/items?itemName=vilicvane.console which intentionally overrides the keybindings.

I created https://github.com/vilic/vscode-console/issues/1 to follow this up on that side.

[2016-10-30 23:33] #14707 closed

[2016-10-30 23:36] Tyriar commented on #14707
PR to fix copying within integrated terminal if you install this extension: https://github.com/vilic/vscode-console/pull/2

[2016-10-30 23:37] CodeGenTeam commented on #14707
Yes, I have this extension.  https://marketplace.visualstudio.com/items?itemName=vilicvane.console

[2016-10-30 23:46] DonJayamanne opened #14725 "Can we still display the Debug output window on the side"
- VSCode Version: 1.6
- OS Version: OS X

In the older versions (don't remember the version, but fairly old) of VS Code, the debug output panel would be displayed on the right hand side (right hand side of the editor).
Today this output panel is displayed at the bottom along with the other output panels (like tasks, terminals etc).

Is it still possible to display the `Debug` output window on the

[2016-10-30 23:56] CodeGenTeam commented on #14707
@Tyriar but I have left one problem:
Conflict detected, command `workbench.action.terminal.openNativeConsole` cannot be triggered by ctrl+shift+c due to console.open

[2016-10-31 01:02] octref opened #14726 "Wrong syntax highlighting for CSS keyframes"
- VSCode Version: 1.7 Insider

`from` is not tokenized correctly it seems.

![image](https://cloud.githubusercontent.com/assets/4033249/19841539/bd0a37b4-9eca-11e6-8d4a-5a317e719ca4.png)

![image](https://cloud.githubusercontent.com/assets/4033249/19841551/d6913cf0-9eca-11e6-907e-6852f49a6ae5.png)

[2016-10-31 01:23] natenovielli commented on #14683
That was it!  Another set of dev tools I had installed earlier installed an old build of node and put it in the env variables.  Thanks for the help!

[2016-10-31 01:23] #14683 closed

[2016-10-31 01:38] ramya-rao-a opened #14727 "Command palette should rank results with closer search terms higher"
_From @prashantv on October 18, 2016 19:56_

See image:
![image](https://cloud.githubusercontent.com/assets/140159/19494026/13f00a92-9532-11e6-8a1d-124d94b814b6.png)

I think a user is much more likely to want to run unit tests when they search for "Go Test" than "Generate unit tests". Is there any way to improve the search matching, or rename the option so running unit tests is preferred over gen

[2016-10-31 01:45] roblourens opened #14728 "Debugging - UI/protocol support for "blackbox script"/"Just my code""
Chrome devtools calls this "Blackboxed scripts" and VS/F12 use "Library code" and "Just my code".

This feature has been requested several times - examples,
- https://github.com/Microsoft/vscode/issues/3215
- https://github.com/Microsoft/vscode-chrome-debug-core/issues/7
- https://github.com/Microsoft/vscode-node-debug/issues/16.

It could be implemented entirely in the debug adapter, with a new o

[2016-10-31 01:53] roblourens commented on #14710
I've also wanted this - I really like the Chrome option that requires you to hold cmd+q, or double tap, to actually quit.

[2016-10-31 01:54] roblourens commented on #14710
And you can't just remap it, as it's handled by electron

[2016-10-31 02:25] roblourens opened #14729 "Allow multiline eval results in debug console"
I'd prefer to see a multiline result instead of escaped newlines
![image](https://cloud.githubusercontent.com/assets/323878/19842437/4df4f510-9ed6-11e6-947b-89ef5e51c9ba.png)

[2016-10-31 02:46] mdarefull commented on #14704
@weinand I tried it and the exact same problem continues.
The problem happens every time I open VS Code, it doesn't matter (so far) how I open it: From desktop link, opening a file, from context menu... the result is always that blank window.

Also, a comment on so suggested me a similar approach (removing .vscode folder).
This is a fresh install, I don't have any extensions nor I have changed any

[2016-10-31 02:48] Tyriar commented on #14707
@CodeGenTeam that extension intentionally replaces the native VS Code behavior (the `workbench.action.terminal.openNativeConsole` command). If you remove the extension you can still launch a terminal of your choosing with by setting `"terminal.external.windowsExec"` in your settings.json file.

Note that these warnings are perfectly fine to see if the keybinding override was intentional. If you ha

[2016-10-31 02:51] mdarefull commented on #14704
Of course, after the first installation. I have uninstalled, reinstalled, cleaned the registry, restart the PC... basically everything that has came to my mind... and the same issue persists.

*Sometimes (but very rare), it just opens normally, but still shows several unresponsiveness issues, like when I clicked the user preferences, it took way too long to show them.
Other times (rare too), after

[2016-10-31 03:02] csyj501 opened #14730 "Error: Make sure to edit the README.md file before you publish your extension."
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T16:21:53.542Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions: abusaidm.html-snippets-0.0.18, bajdzis.vscode-refresh-html-0.0.2, Compulim.vscode-express-0.0.5, dbaeumer.vscode-eslint-1.0.8, donjayamanne.jquerysnippets-0.0.1, tomoki1207.vscode-input-sequence-0.1.0, vladmrnv.expresssnippet-0.0.8

Error: Make sure

[2016-10-31 03:02] mdarefull commented on #14704
Also, just to be sure... does VS Code depends on any Windows service? I have the bad habits (sometimes out of necessity) to disable some of them that I'm not using at the moment and it has caused me problems before with applications that needed them but didn't complaint about them being disabled.

[2016-10-31 03:43] AkashGutha commented on #14730
You should edit the default README file provided with the extension generator.

Change it according to your extension's features and publish it.

[2016-10-31 03:57] jasonboninger commented on #14716
Been experiencing this on Surface Book for a while now, but thought I was crazy.  Oddly, it's been extremely annoying tonight which brought me to this thread.  Changing the window size made it go away from me.  No idea on the debug front, but happy to have a workaround.

[2016-10-31 04:07] octref commented on #14728
My use case is mostly black-boxing everything required from `node_modules`.

[2016-10-31 04:11] CodeGenTeam commented on #14707
Clear. But now I don't need this extension, bcz it's integrated

[2016-10-31 04:31] azizsaboor commented on #9388
Yes. I really dislike this "feature" of VS Code. I want to disable automatic previewing of any file just because I have single-clicked it. I would much rather double-click to open only. How do we achieve this?

[2016-10-31 04:39] GooseCoder opened #14731 "A new line appears after executing commands with parameters using the dash/minus symbol "-" with zsh"
- VSCode Version: 1.6.1  9e4e44c19e393803e2b05fe2323cf4ed7e36880e
- OS Version: Fedora 21

Steps to Reproduce:

1. Open to the integrated terminal, using zsh.
2. Execute the following command.

3. Repeat until the lines with the same command are formatted as follows:

al
4. Try to execute the same command or another one with a "-" used, like for example to add configuration parameters like:

versi

[2016-10-31 04:47] GooseCoder commented on #13702
I have the same error, in my case it happens after repeating the ls -al like 3 times, also I have zsh as my default shell with an extension named prezto, it seems that your shell it's not the default bash, maybe this is related to our common problem.

Regards.

[2016-10-31 05:11] Immortalin opened #14733 "Feature Request: Org mode"
Org mode is a structured document format for notetaking, authoring and documentation. It's key feature is the notes' collapsible tree structure à la workflowy

[2016-10-31 05:30] eyalsk commented on #14704
@mdarefull Just a thought but you can download the same version of Electron that VSCode uses and see whether it happens there too.

To know the Electron version go to VSCode >> Help >> About >> Shell.

[2016-10-31 05:33] keverw commented on #10428
Interesting I noticed on macOS using VSCode Version 1.6.1 (1.6.1) if I drag a file into my project or drag files from the root of my project to sub folders the sidebar doesn't update until I restart the app...

[2016-10-31 05:33] Tyriar opened #14734 "Korean translation for terminal.integated.shell.windows removes slashes from path names"
[code]

"C:WindowsSystem32보다" should be "C:\Windows\System32보다"
"C:Windowssysnative보다" should be "C:\Windows\sysnative보다"

[2016-10-31 05:49] Tyriar commented on #14734
Japanese is the same:

[code]

I'm pretty sure these locales need at least some separator in Windows paths if not `\`

[2016-10-31 06:06] chjtx commented on #11081
I hate TextMate, and how can I remove it?

[2016-10-31 06:19] bpasero commented on #14675
Might need an option, just changing this might cause people to file bugs to get the current behaviour back.

[2016-10-31 06:20] bpasero commented on #14710
As a workaround you could at least map `Cmd+Q` to something else or unbind it?

[2016-10-31 06:30] JasonDunbar commented on #6579
...and still no further on what the plan is here or whether or not it will ever get a planned release milestone. @dbaeumer any news?

[2016-10-31 07:06] AkashGutha commented on #14650
it was problem with package.json . i had the dependecies as devependencies instead of dependencies.

now it's fixed. it's not a problem with vscode

[2016-10-31 07:06] #14650 closed

[2016-10-31 07:10] isidorn commented on #14729
This is up to the debug adapter. Since each evaluten passes a context 'hover' or 'repl'. And vscode should not be in the position of massaging strings for all languages IMHO

fyi @weinand

[2016-10-31 07:11] isidorn commented on #14719
I think this is by design of the split view, though assigning to @joaomoreno to get his input

[2016-10-31 07:17] isidorn commented on #13505
Does not repro for me and I do no think it is important enough to continue investigating.
Even if you see that issue it is probably not in vscode's control since we do not specaily style that dialog. It comes as part of electron

[2016-10-31 07:17] AkashGutha opened #14735 "Feature request : supress warning and error messages"
I think it would be helpful if for some users if they don't want __info__ and __error__ messages popping up all the time.

I'm having this problem while working in a restricted environment at office.

![warning msg](https://cloud.githubusercontent.com/assets/10159531/19846781/27d79620-9f68-11e6-9d80-222bda40d56d.png)

Options like this would be helpful:

[code]

[2016-10-31 07:25] bpasero commented on #14470
Good solution: http://stackoverflow.com/questions/7110353/html5-dragleave-fired-when-hovering-a-child-element

[2016-10-31 07:31] hugotom opened #14736 "Error when I run an automation task using the terminal cmd.exe"
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T16:21:53.542Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions: abusaidm.html-snippets-0.0.18, akamud.vscode-caniuse-0.5.3, alefragnani.project-manager-0.12.0, alexdima.copy-relative-path-0.0.1, andreaskian.vscode-select-line-0.0.3, bogdan-sinitsa.theme-dark-monokai-0.3.0, christian-kohler.path-intellisense-1.

[2016-10-31 07:32] dove-young commented on #10439
@bpasero No. There was just a single markdown file, such as kind of Readme.md. A few hundred lines.

[2016-10-31 07:36] johnliu2016 commented on #14734
@Tyriar I quickly checked the translations for the 3 languages and I see correct path separator in loc strings, no difference from other Latin languages. Can you elaborate repro environment as I could remember path separator on Windows OS varies on fareast languages? I guess system locale (codepage) may impact. @dbaeumer, Can you share your opinion?

[2016-10-31 08:10] bpasero commented on #10439
@dove-young so you say you open just a single markdown file in Code and the CPU spins high? Can you attach this file?

[2016-10-31 08:12] vscodeerrors opened #14738 "Cannot read property 'parameters' of undefined"
Issue Id: <b>a98217aa-d553-ce26-e3a3-32aa1b16c7b2</b><br /><br />*Versions* <br />- 1.7.0-insider (10/28/2016 1:02:33 PM)<br />*Stack* <br />TypeError: Cannot read property 'parameters' of undefined<br />[/vs/editor/contrib/parameterHints/browser/parameterHintsWidget.ts#L300:34 (parameters)](https://github.com/microsoft/vscode/blob/0706b425537d8cfe2766eac00662ecf988c7ed7f/src/vs/editor/contrib/par

[2016-10-31 08:12] vscodeerrors opened #14739 "Cannot read property 'length' of undefined"
Issue Id: <b>136fb146-6e99-4122-44ff-b5d621890133</b><br /><br />*Versions* <br />- 1.7.0-insider (10/28/2016 1:02:33 PM)<br />*Stack* <br />TypeError: Cannot read property 'length' of undefined<br />[/vs/workbench/api/node/extHostDocuments.ts#L392:33 (length)](https://github.com/microsoft/vscode/blob/0706b425537d8cfe2766eac00662ecf988c7ed7f/src/vs/workbench/api/node/extHostDocuments.ts#L392:33 (l

[2016-10-31 08:13] vscodeerrors opened #14740 "Cannot set property 'totalFrames' of undefined"
Issue Id: <b>50befb3f-ca26-ae64-fb07-4aecd65497fa</b><br /><br />*Versions* <br />- 1.7.0-insider (10/28/2016 1:02:33 PM)<br />-  1d2d5e089a8261ebb6ad6dfb2e847e5aa1c16f9d<br />-  3c6f232d0546f32644e9fd3378ee967373655fc4<br />*Stack* <br />TypeError: Cannot set property 'totalFrames' of undefined<br />    at process.session.stackTrace.then.t.stoppedDetails.framesErrorMessage (<br />    at Object.g

[2016-10-31 08:13] vscodeerrors opened #14741 "Cannot read property 'getValue' of null"
Issue Id: <b>2717feb8-f9d0-cf88-893c-8be93549c996</b><br /><br />*Versions* <br />- 1.7.0-insider (10/28/2016 1:02:33 PM)<br />*Stack* <br />TypeError: Cannot read property 'getValue' of null<br />[/vs/workbench/parts/search/browser/replaceService.ts#L57:81 (getValue)](https://github.com/microsoft/vscode/blob/0706b425537d8cfe2766eac00662ecf988c7ed7f/src/vs/workbench/parts/search/browser/replaceSer

[2016-10-31 08:13] vscodeerrors opened #14742 "Cannot read property 'document' of undefined"
Issue Id: <b>9905f70b-971b-c936-7bba-5a11e977def9</b><br /><br />*Versions* <br />- 1.7.0-insider (10/28/2016 1:02:33 PM)<br />*Stack* <br />TypeError: Cannot read property 'document' of undefined<br />[/vs/workbench/api/node/extHostLanguageFeatures.ts#L425:56 (document)](https://github.com/microsoft/vscode/blob/0706b425537d8cfe2766eac00662ecf988c7ed7f/src/vs/workbench/api/node/extHostLanguageFeat

[2016-10-31 08:14] jrieken commented on #11334
No. I press `1` to select the suggestion. The suggestion show up as I type

[2016-10-31 08:14] vscodeerrors opened #14743 "Cannot read property 'id' of null"
Issue Id: <b>a9e23080-3fa4-371d-d350-3d640c680a09</b><br /><br />*Versions* <br />- 1.7.0-insider (10/28/2016 1:02:33 PM)<br />*Stack* <br />TypeError: Cannot read property 'id' of null<br />[/vs/workbench/parts/extensions/electron-browser/extensionsWorkbenchService.ts#L643:75 (id)](https://github.com/microsoft/vscode/blob/0706b425537d8cfe2766eac00662ecf988c7ed7f/src/vs/workbench/parts/extensions/

[2016-10-31 08:14] vscodeerrors opened #14744 "Cannot read property 'startLineNumber' of null"
Issue Id: <b>7e8232e6-3c54-3c03-4648-b73730620150</b><br /><br />*Versions* <br />- 1.7.0-insider (10/28/2016 1:02:33 PM)<br />*Stack* <br />TypeError: Cannot read property 'startLineNumber' of null<br />[/vs/editor/contrib/folding/browser/folding.ts#L319:17 (startLineNumber)](https://github.com/microsoft/vscode/blob/0706b425537d8cfe2766eac00662ecf988c7ed7f/src/vs/editor/contrib/folding/browser/fo

[2016-10-31 08:16] #14742 closed

[2016-10-31 08:30] joaomoreno commented on #14668
What's the expected behaviour here? One solution would be to render the hover on top of the suggest. The other, to be aware of multiple widgets and just lay them out in ways that they don't overlap.

[2016-10-31 08:31] dove-young commented on #10439
I don't know how to attach files in the comments. But you can fetch it from project https://github.com/spf13/spf13-vim .

It happens when open the project folder of spf13-vim, click the README.markdown and preview.

[2016-10-31 08:34] joaomoreno commented on #14672
What does your `http.proxy` setting look like?

[2016-10-31 08:36] joaomoreno commented on #5445
_Pull requests_ are a GitHub concept, not git. This would make a fine extension, would you like to try it?

[2016-10-31 08:36] #5445 closed

[2016-10-31 08:37] joaomoreno commented on #14697
#5745

[2016-10-31 08:37] #14697 closed

[2016-10-31 08:39] joaomoreno commented on #14719
Not necessarily by design, but by implementation. The previous time `Call Stack` was open it took up a bunch of space. So, when you expand it, it will try to return to that size, regardless of the other views. The rule is: _the view which the user just expanded will try to return to the size it has when it was about to be collapsed_.

[2016-10-31 08:39] #14719 closed

[2016-10-31 08:44] bpasero commented on #10439
@dove-young I just tried and CPU is totally normal for me.
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extensi

[2016-10-31 08:45] #14738 closed

[2016-10-31 08:46] alexandrudima commented on #10439
I've also tried the repository on Windows, and I also don't get high CPU usage.

[2016-10-31 08:50] kaiwood opened #14745 "Stop changing selection in explorer when autoReveal = false"
- VSCode Version: 1.6.1
- OS Version: macOS Sierra 10.12.1

Steps to Reproduce:

1. Start VSCode via "code --disable-extensions"
2. Set "explorer.autoReveal": false in settings.json

Not sure when this happened or if its specific to my installation (normally I use the default), but if I disable the auto reveal it still jumps to the files in the explorer.

![autoreveal](https://cloud.githubusercont

[2016-10-31 08:52] joaomoreno commented on #14721
How did you get that `Fix this semi problem, Fix all auto-fixable problems` thing? Which extension gives you that?

@jrieken Is this the lightbulb, which is implemented as a native menu?

[2016-10-31 08:52] xymopen commented on #12840
After upgrade to 1.6 the issus has been fixed. Thanks.

[2016-10-31 08:52] alexandrudima commented on #14720
@objectuser This works for me after closing and restarting VS Code. The reason is that these actions are displayed in the View menu and there we don't update the keybindings until we restart.

So any keybindings removals for actions we render in the top level menu don't really take effect until VS Code is restarted.

fyi @bpasero I was able to reproduce also on Windows (I thought Electron dispatch

[2016-10-31 08:53] joaomoreno commented on #12840
@CNMan Is it fixed for you in 1.6.0?

[2016-10-31 08:55] alexandrudima commented on #14670
It appears to be an upstream issue with Chromium (we recently updated to Electron 1.3.8 that comes with Chromium 52). Apparently Chromium 54 has fixed the issue already. Let's track in #13612

[2016-10-31 08:55] #14670 closed

[2016-10-31 08:55] aeschli commented on #12354
@chrmarti There are some bugs that want us to come up with a general solution for embedded content, but I think that we won't succeed in that. There are subtle differences in every case where we think it's better to have specific implementation of every host language for the best user experience.
In the case of vue, I'd recommend to have a look at the implementation of the HTML language extension

[2016-10-31 08:55] alexandrudima commented on #14716
It appears to be an upstream issue with Chromium (we recently updated to Electron 1.3.8 that comes with Chromium 52). Apparently Chromium 54 has fixed the issue already. Let's track in #13612

[2016-10-31 08:55] #14716 closed

[2016-10-31 08:55] bpasero commented on #14720
Yup, needs a restart. There is another feature request opened to update the menu live when changing keybindings.json.

[2016-10-31 08:55] #14720 closed

[2016-10-31 08:57] alexandrudima commented on #14693
Possibly related #10386

[2016-10-31 08:57] bpasero commented on #14745
@kaiwood this only controls revealing the file of the editor, we still show the file selected in the explorer because the explorer is synchronized with the editor at all times.

Let's rephrase this issue to express what you were expecting.

[2016-10-31 08:58] alexandrudima commented on #14720
Just a note: at least on Windows, this is a regression from recent versions of Electron. The restart was not required on Windows in the past.

[2016-10-31 09:01] isidorn commented on #14725
Dup of https://github.com/Microsoft/vscode/issues/2806

[2016-10-31 09:01] #14725 closed

[2016-10-31 09:02] calidion opened #14746 "fail to reformat"
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T15:27:10.246Z)
- OS Version: Darwin x64 16.0.0
- Extensions: robertohuertasm.vscode-icons-3.0.7

Steps to Reproduce:

1.  write a wrong syntax
2. format
3. then it will fail

this bug don't show easily, but it can show up very often.

[2016-10-31 09:04] kaiwood commented on #14745
@bpasero Oh my, I was quite sure that it meant exactly this (even thought I tried it out a couple of weeks ago). Feature request is fine, I guess it would be quite useful to lots of users 👍

[2016-10-31 09:11] bpasero commented on #14745
@kaiwood the setting prevents the scrolling position to change which I think is the more annoying thing for many users (not the fact that we change the selection).

But I agree, maybe people expect also the selection to stay. Interestingly no-one complained about it so far.

[2016-10-31 09:11] jrieken commented on #14668
Yeah, I would always keep the above, below layout when both widgets show

[2016-10-31 09:12] jrieken commented on #14721
Closing as obsolete because since 1.7.0 we use the native context menu for code actions

[2016-10-31 09:12] #14721 closed

[2016-10-31 09:15] weinand commented on #14651
@JuHo1117 so the only problem that remains is that there is no variable substitution for c_cpp_properties.json.
Since this is is not part of VS Code but a separate extension, please file an issue against the extension's repository.

[2016-10-31 09:18] weinand commented on #14740
@isidorn is this an issue with the VS Code or with node-debug?

[2016-10-31 09:22] #14730 closed

[2016-10-31 09:26] isidorn commented on #14740
@weinand with vscode.
totalFrames tries to be set before the thread has data about why it is stopped here
https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/common/debugModel.ts#L439

I believe it is a timing issue which did not surface during testing -> thus assigning it to November and not a candidate.

[2016-10-31 09:27] weinand commented on #14746
@calidion syntax in what language?
Please provide reproducible steps and an example of the 'wrong syntax' that fails to format.

[2016-10-31 09:29] bpasero commented on #14272
Better fix is to introduce a bulk API registerConfiguration**s**

[2016-10-31 09:33] dbaeumer commented on #14651
@gregvanl can you add ${workspaceRootFolderName} to the documentation here: https://code.visualstudio.com/docs/editor/tasks

[2016-10-31 09:36] bpasero commented on #14735
For 1.7 we added an option to hide this warning.

[2016-10-31 09:36] #14735 closed

[2016-10-31 09:38] dbaeumer commented on #14736
@hugotom the problem is that the output file  bootstrap.css is used by another process hence the less -> css compiler can't write the file. Do you have another tool open that consumes bootstrap.css. Some server ? There is little VS Code can do about this. Under windows you can use https://technet.microsoft.com/en-us/sysinternals/handle.aspx to find out who is holding a write lock on bootstrap.css

[2016-10-31 09:38] #14736 closed

[2016-10-31 09:38] weinand commented on #14633
@csyj501 VS Code doesn't provide html preview out of the box. Please file this issue against the extension you are using.

[2016-10-31 09:38] #14633 closed

[2016-10-31 09:39] CNMan commented on #12840
@joaomoreno i upgrade to 1.6.1. this issue has been fixed. thanks.

[2016-10-31 09:40] bpasero commented on #14500
Fixed via https://github.com/Microsoft/vscode/commit/1730383e85c56a0788a86cf5f9e0f7ab9af427b3

[2016-10-31 09:40] #14500 closed

[2016-10-31 09:40] AkashGutha commented on #14735
when will the 1.7 update be out?

[2016-10-31 09:41] DasJott opened #14748 "Ctrl+c,s kills folding for according function"
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T15:43:46.054Z)
- OS Version: Linux x64 4.4.0-45-generic
- Extensions: LaurentTreguier.vscode-simple-icons-0.2.0, MattiasPernhult.vscode-todo-0.8.0, PKief.material-icon-theme-1.1.3, PeterJausovec.vscode-docker-0.0.7, Zignd.html-css-class-completion-1.0.3, donjayamanne.githistory-0.1.0, emallin.phpunit-1.0.0, felixfbe

[2016-10-31 09:41] dbaeumer commented on #14734
I consumed translation on Friday morning. Could it be that this didn't make its way yet into MonacoLocalization repository. @Tyriar in which file are these strings. Then I can have a look.

[2016-10-31 09:41] pmkary commented on #13505
Ah yeah I also did say in my text that it's not ever worth investigating. But well I thought it might be good to tell...

[2016-10-31 09:42] weinand commented on #14601
@bimbo1989 your comment will be ignored because it is unrelated to the original request.

[2016-10-31 09:42] alexandrudima commented on #14708
@rajinder-yadav

I cannot reproduce. Here I've made a test.js file with the template content. The editor identifies it is indented with spaces @ 2.

Hitting backspace removes two spaces.

![backspace](https://cloud.githubusercontent.com/assets/5047891/19850004/795ef504-9f56-11e6-9930-5ed58c40d756.gif)

There might be an issue with:
* you might have turned this feature off via `editor.useTabStops`

[2016-10-31 09:42] jonomacd commented on #9502
This would be great not just for git but for extensions as well.  I use the vscode-go extension and it shells out to use the command line tools often.  I'd like it if it could shell out to bash as opposed to windows terminal.  It would also need access to environment variables from bash.  Basically, I want it to think it is in a bash environment even though it is in windows.

Thanks.

[2016-10-31 09:43] bpasero commented on #14735
This week. Meanwhile:
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-10-31 09:43] DasJott commented on #13957
Might be a duplicate of #14748 or the other way around

[2016-10-31 09:43] bpasero commented on #14704
@mdarefull Here is a **checklist** to find out more about the freeze/slow/crash
- [ ] it reproduces with extensions disabled (`code --disable-extensions` from the command line - NOT the integrated terminal of Code)
    - if it does not reproduce with extensions disabled, you can stop testing and report this!
- [ ] it was not happening in the previous stable release
- [ ] it reproduces in insiders

[2016-10-31 09:44] jrieken opened #14749 "Failure when try to publish an extension for 'Productivity'"
* have an extension that uses the `productivity` category
* you get the error below

[code]

[2016-10-31 09:45] alexandrudima commented on #14695
@pcgeek86 I cannot reproduce.

I have tried pressing ctrl+alt+enter with focus both in the replace field and inside the editor. All 6 matches are replaced for me.

![ctrl-alt-enter](https://cloud.githubusercontent.com/assets/5047891/19850119/0ce7f960-9f57-11e6-9d97-f12bf5750b8f.gif)

[2016-10-31 09:46] bpasero commented on #14671
@geversoncarvalho could be a permission problem. are these files files or folders that do not show up? do you see output printed to the developer console (Help > Toggle Developer Tools).

[2016-10-31 09:49] calidion commented on #14746
@weinand
it will show up occasionally, not 100%。
reloading will solve the problem.
language: javascript.
but the cause is definite: syntax errors.
everytime it fails the syntax checker will fail to parse and highlight.

[2016-10-31 09:51] alexandrudima commented on #4712
@jbpotonnier Given your first screenshot, it looks like this is a Chromium issue. i.e. Chromium gives a `keydown` and `keyup` event only for `keyCode: 18` (`Alt`).

In other words, we are not receiving `AltGr+5` because Chromium is not giving it to us.

You might have some software installed on your system that eats up these key combinations at the OS level or this might be an issue in Chromium. P

[2016-10-31 09:58] #14470 closed

[2016-10-31 10:02] bpasero commented on #8202
@alexandrudima fyi I had to tweak a little bit [codeEditorWidget](https://github.com/Microsoft/vscode/commit/7808d00d6ec9e206717ddf6b5661a36ba4e3dfaf#diff-2d7906c426c43683854e85e9c07b9881) so that I am able to restore only the `contributionsState`. Bottom line is that we often have code that opens an editor on a specific line/col and in those cases we never restored the view state of the editor th

[2016-10-31 10:03] weinand commented on #14746
@calidion we need a screenshot that shows in what way "the syntax checker will fail to parse and highlight".

[2016-10-31 10:05] bpasero commented on #12116
I renamed `extensionHomePath` to `extensions-dir` but still allow the old form as alias. I think the other two are not relevant for users because they are not showing up in `code --help` and are only used when developing extensions.

[2016-10-31 10:05] #12116 closed

[2016-10-31 10:06] #12840 closed

[2016-10-31 10:06] joaomoreno commented on #12840
Thanks!

[2016-10-31 10:07] joaomoreno commented on #14749
Productivity doesn't seem to exist as a category in https://marketplace.visualstudio.com/?VScode=1 . Category names are fixed by the Marketplace. 😕

[2016-10-31 10:08] alexandrudima commented on #14019
Indeed, this is caused by the word wrapping logic. The word wrapping logic does not layout text (we leave that to the browser), the code simply counts characters and it does not take into account combining characters or variable character width fonts.

For example, in this case it has determined that the maximum count of chars it should allow on a line is 99. This is the case for both Latin, Hebre

[2016-10-31 10:09] joaomoreno commented on #14724
What is your physical hardware? Is it a 32 bit system? Or an ARM system?

`Illegal instruction` comes from the Electron binary indicating that the instructions in the executable are wrong for this system.

[2016-10-31 10:11] mazhan465 commented on #14687
Sorry,I have been uninstall vcbuildtools and install GDB.So I can't remember theh output.

[2016-10-31 10:13] weinand commented on #14687
Without this information we cannot investigate.

[2016-10-31 10:13] #14687 closed

[2016-10-31 10:16] giuliohome commented on #14724
Thanks for your prompt reply. System is old 32 bit and cpu Amd Athlon ... I don't know where electron binary  and how to choose/setup the correct executable. Let me know if you want me to run any commands. Thanks again

[2016-10-31 10:17] dbaeumer commented on #6579
I retried it and trying to spawn bash.exe from the Linux subsystem still fails on node. So there is little VS Code can do to fix this. Would be interesting to know whether bash.exe from the Linux subsystem can be spawn in C# or Python to understand where this is a node or a bash.exe problem.

[2016-10-31 10:18] alexandrudima commented on #8202
@bpasero Couldn't this be fixed by using `restoreViewState()` + `setSelection()` rather than editing the view state itself (i.e. I'm thinking there must be some other code somewhere that strips `cursorState` and `viewState`?)

The change in my side is good, but it is unexpected that someone edits the view state object between `saveViewState()` / `restoreViewState()` calls.

[2016-10-31 10:18] cashlalala commented on #14529
Encounter the bug as well~

[2016-10-31 10:19] joaomoreno commented on #14384
Global Enable and Disable actions should leave the menu and only exist as global commands, since they actually refer to the whole set of installed extensions, and not just the visible ones, as it appears to be.

[2016-10-31 10:19] marcosdiez opened #14750 "Allow to open folder from any opened file in Code"
Let's say I am editing blah.html on visual studio code.
Later I realize I have to do some changes on blah.css, which is in the same folder as blah.html.

I want to open the explorer tab (not Windows Explorer) on Visual Studio Code, right click on blah.html and click on "Open Folder Here".

Doing this should make the folder where blah.html is stored available on Visual Studio Code, just as if I cli

[2016-10-31 10:22] joaomoreno opened #14751 "Can't enable extensions after disabling them, without reload"
When I disable all extensions, I can't seem to _undo_ that action and enable them all. I am forced to reload the window and do it then.

![image](https://cloud.githubusercontent.com/assets/22350/19850924/86f1ad7e-9f5b-11e6-9095-70681d5288bd.png)

Enablement/disablement should merely be a bit flip and the respective actions should be enabled/disabled based on the value of that bit, not whether exte

[2016-10-31 10:22] alexandrudima commented on #13473
We have updated Electron and with it came a newer version of Chromium. I do not know what Chromium changed w.r.t. font family names and their resolving, anything they would have changed would impact any website.

@Tyriar have you heard anything regarding this (on linux) ?

@Toybreak Can you please try if any of the browsers you have pick up the correct font when you go to http://jsbin.com/yaxehuno

[2016-10-31 10:23] joaomoreno commented on #14724
Can you run the `electron` executable from the vanilla Electron release? https://github.com/electron/electron/releases/download/v1.3.8/electron-v1.3.8-linux-ia32.zip

[2016-10-31 10:24] dbaeumer commented on #14677
F1 > Terminate Task. Adding a message to let the user know how to terminate it makes sense. At the end this can only be made user configurable since I had lots of people complaining about the old behavior since they had to dismiss the message box when they pressed Ctrl+Shift+B by accident.

I do have an item to make the behavior of pressing Ctrl+Shift+B for this case configurable.

[2016-10-31 10:25] alexandrudima commented on #14628
/vs/editor/browser/viewParts/viewZones/viewZones.ts#L202:36 (toString)

should say

/vs/editor/browser/viewParts/viewZones/viewZones.ts#L202:36 (removeZone) because the stack location is inside the function named `removeZone`

[2016-10-31 10:26] #14677 closed

[2016-10-31 10:27] #14384 closed

[2016-10-31 10:31] dbaeumer commented on #818
This is indeed not a dup of https://github.com/Microsoft/TypeScript/issues/188.

@waderyan we need to check with TS if they have a feature request for this. What people at the end of the day want is something like this:

- there is a type Orange in the system
- in a file A which doesn't import Orange yet the user types Org<code complete>
- the system should propose Orange. Accepting it should inse

[2016-10-31 10:33] dbaeumer commented on #14026
@chrmarti assigning to you since the VS Code part is mostly about search performance.

[2016-10-31 10:35] dedalebeda opened #14752 "Open editor window from terminal output"
Would be nice if appropriate editor can be opened based on output from integrated terminal. Possibly on specific position if line:column is specified

[2016-10-31 10:37] dbaeumer commented on #14598
Fixed except for the cases where the doc was referring to properties. Since these properties are API and I didn't want to break the API I left them with column.

[2016-10-31 10:39] calidion commented on #14746
@weinand

ok, i will take one when it happens again.

[2016-10-31 10:43] ivanz opened #14753 "Incorrect highlighting when { } are used inside YAML literal style"
- VSCode Version: 1.6.1
- OS Version: Windows 10

Having issues with the highlighting of some AWS CloudFormation YAML templates which have some jsons fragments in YAML literal. Seems the `{ }` may be tripping over the highlighting. Note how on the screenshot the highlighting stops working after the `Bla:` block.

![image](https://cloud.githubusercontent.com/assets/79742/19851554/83ff2db2-9f56-11e6

[2016-10-31 10:47] emanuelbuholzer commented on #14613
The same error as shown in #13809 also occurs when using the GHCi REPL (Haskell). It is not possible to use combinations with ALT-GR.

- VSCode Version: 1.6.1
- OS Version: Win 7.1 x64

[2016-10-31 10:51] alexandrudima commented on #2700
@chemitaxis Thank you for this report. AFAICT everything seems to be correct.

### Pressing `Ctrl + -`:

<p align="center">
<img src="https://cloud.githubusercontent.com/assets/5047891/19851453/3ea93b92-9f5e-11e6-9a97-1f50d733e9ad.png">
</p>

From the last screenshot (the w3c tester), for `Ctrl + -` on your keyboard, Chromium sends a keydown event with `ctrlKey = true, keyCode = 191 (0xBF)`.

<p a

[2016-10-31 10:53] alexandrudima commented on #13067
well... where should I put the textarea :)

[2016-10-31 10:59] Isotop7 opened #14754 ""Failed to execute git" with git version 2.10.2"
- VSCode Version: 1.6.1
- OS Version: Archlinux

Steps to Reproduce:

1. Update git to version **2.10.2**
2. Run vscode and try to use it

Git sidebar element loads forever, background git tasks produce a red error box above the code window with "Failed to execute git"

I am able to use git in zsh or other apps so git itself shouldnt be a problem.

Full log:

[code]

[2016-10-31 11:02] joaomoreno commented on #8813
This seems to be related to [this issue](https://blogs.msdn.microsoft.com/oldnewthing/20110125-00/?p=11673). Also [this](http://stackoverflow.com/questions/6521277/why-does-temp-resolve-to-a-non-deterministic-path-of-the-form-temp-digit).

I'll close it as it is a Windows 7 issue and it can be fixed by you changing that policy in your system.

[2016-10-31 11:02] #8813 closed

[2016-10-31 11:03] joaomoreno commented on #13067
Opacity doesn't work? Also, top right corner is much less likely to have content than top left corner.

[2016-10-31 11:05] alexandrudima commented on #13366
@rpassis Thank you for the screencast.

I'm sorry I'm honestly stumped by this and cannot find a reasonable explanation why this would be happening. It also doesn't help that I'm not a mac user. I know on the mac you can close all windows of an app and the app still runs in a window-less fashion. Is it that you entirely kill the app between the two tests (I only see the apple logo flashing, indica

[2016-10-31 11:07] jrieken commented on #14679
Problem is that we don't retriever completion when the very first request yields an incomplete result - so basically we ignore everything which was typed while the request is going. The fix is to check for incomplete during `onNewContext`

[2016-10-31 11:10] sandy081 commented on #13847
duplicates #14741

[2016-10-31 11:10] #13847 closed

[2016-10-31 11:15] sandy081 commented on #14741
@bpasero I would need some insight here.
Any idea why the model would be null when resolving the resource input using the following API

`resolveEditorModel(input: IResourceInput, refresh?: boolean): TPromise<ITextEditorModel>`

Am I missing something here?

[2016-10-31 11:16] jrieken commented on #14749
We should then not have it in our intellisense list I suggest

[2016-10-31 11:17] jrieken commented on #14682
This is a dupe of #14679. We would not redo the request

[2016-10-31 11:17] #14682 closed

[2016-10-31 11:17] #14679 closed

[2016-10-31 11:25] giuliohome commented on #14724
Unzipped, thank you for the link: how am I supposed to test it? Running only ./electron results in Illegal instruction

[2016-10-31 11:29] alexandrudima commented on #5751
Steps:

* complete snippet `iii`
* tab
* complete snippet `etc`
* editor is not in snippet mode at the end.

[2016-10-31 11:32] ylqhust commented on #14635
I edit a file and save edit then I to edit another file . after sometimes ,I come back to see the first file .I find the first file's content is not I saved. this problem have happend many times

[2016-10-31 11:33] joaomoreno commented on #14724
Can you then file an issue in Electron? They will help you find out what's wrong: https://github.com/electron/electron/issues

[2016-10-31 11:33] #14724 closed

[2016-10-31 11:33] joaomoreno commented on #13523
What's the language you are using in this example?

[2016-10-31 11:36] sandy081 commented on #13850
Looks like [Marker.message](https://github.com/microsoft/vscode/blob/master/src/vs/platform/markers/common/markers.ts#L54) is returning something which is not `string`.

@jrieken I am not sure how this is happening, may be it is coming from the extension writers passing an object instead of string for message? If so, we might need a guard in the API?

[2016-10-31 11:37] alexandrudima commented on #13497
Indeed, we have two parallel "zoom" stories:
* editor font zoom (only accessible when turning on the option `editor.mouseWheelZoom`):
  * it can only be triggered via `ctrl + mousewheel`
  * it has no UI indication that it is changed
  * it has no UI indication to reset or change it
  * it is not persisted
* workbench zoom
  * driven by the setting `window.zoomLevel`
  * has three actions, to incr

[2016-10-31 11:38] alexandrudima commented on #1472
@lw-schick Because there is no w3c API to pop up an on screen keyboard.

[2016-10-31 11:39] alexandrudima commented on #13793
Let's track in #356

[2016-10-31 11:39] #13793 closed

[2016-10-31 11:48] Isotop7 commented on #14754
![2016-10-31-124718_1366x768_scrot](https://cloud.githubusercontent.com/assets/8883656/19853218/486a1016-9f68-11e6-8c13-eb96343dd267.png)

[2016-10-31 11:49] alexandrudima commented on #13590
@joaomoreno there is code in there that does that -- https://github.com/Microsoft/vscode/blob/master/src/vs/platform/extensions/node/extensionValidator.ts#L204

In case of extensions that don't have a `main` field, the engine version is not checked. Because the extensions don't have code, therefore it doesn't matter what's the API version of `vscode`.

Perhaps we have some **other** piece of code

[2016-10-31 11:51] AkashGutha commented on #14735
what is the option that i need to set. any documentation anywhere?

[2016-10-31 11:54] bmdixon commented on #6387
@swinster I still have the same problem with v1.6.1 so don't think anything has changed since July.

[2016-10-31 11:56] giuliohome commented on #14724
I filed [issue 7808](https://github.com/electron/electron/issues/7808)

[2016-10-31 11:58] alexandrudima commented on #4802
@SamVerschueren

Indeed, given a selection at (x,y) there is no way in the API to **hint** insert text at (x,y), but also keep selection at (x,y).

i.e.:
* we have `TextEditorEdit.insert` which moves the resulting selection to after the inserted text.
* we have `TextEditorEdit.replace` which expands the resulting selection to contain the inserted text.

This is due to the different `forceMoveMarke

[2016-10-31 12:03] alexandrudima commented on #12487
@BrandonRice Can you please share with us your `keybindings.json` file. Out of the box this works for me, so I'm thinking you have perhaps defined some different keybindings around tab?

[2016-10-31 12:05] bpasero commented on #8202
@alexandrudima I can do that but does it have any bad UI flickering impact to first restore the original view state and then setting selection? will you first jump to the selection from the view state and then to the one from setSelection call?

[2016-10-31 12:06] bpasero commented on #14735
@AkashGutha when you see the warning there should be a button to never show again.

[2016-10-31 12:07] bpasero commented on #14741
@sandy081 see https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/editor/browser/editorService.ts#L206

Maybe the URI used a scheme we do not support?

[2016-10-31 12:08] bpasero commented on #13366
I never saw this and I do copy/paste ALL the time...

[2016-10-31 12:18] bpasero commented on #14750
![Uploading image.png…]()

[2016-10-31 12:20] #14272 closed

[2016-10-31 12:22] felixfbecker commented on #1472
@alexandrudima In Chrome the on-screen keyboard pops up correctly when you tap an input field, so why not in VS Code?

[2016-10-31 12:25] pcgeek86 commented on #14695
I narrowed it down to the Python extension. Sorry for the trouble.

Just a suggestion: It might be a good idea to have some kind of "export extensions" guidance, for easy debugging / inclusion in bug reports! Is there a way to do this?

[2016-10-31 12:25] #14695 closed

[2016-10-31 12:26] marcosdiez commented on #14750
Hi..

I guess I was not clear. Whenever one clicks on "Open Folder with Code", the whole folder should show on Microsoft Visual Studio Code, so one can easily edit the files in the same folder.

It has nothing to do with Windows Explorer.

[2016-10-31 12:33] bpasero commented on #14750
@marcosdiez I am confused, your first words are talking about windows explorer, so how can this have nothing to do with Windows Explorer?

Do you want to right click into the empty white space of an opened folder in the Windows Explorer to open Code here?

[2016-10-31 12:36] objectuser commented on #14720
Thanks very much!

Should this trigger an new issue in Microsoft/vscode-docs?

[2016-10-31 12:47] marcosdiez commented on #14750
Let's say I am editing blah.html on visual studio code.
Later I realize I have to do some changes on blah.css, which is in the same folder as blah.html.

I want to open the explorer tab (not Windows Explorer) on Visual Studio Code, right click on blah.html and click on "Open Folder Here".

Doing this should make the folder where blah.html is stored available on Visual Studio Code, just as if I cli

[2016-10-31 12:47] nickletgo commented on #14672
It is just like what is in the screenshot, however, I can't give you the exact proxy url due to company policy. And I used the same proxy for github and npm. They both work so I'm not sure why it doesn't for vs code.

[2016-10-31 13:11] Jonatino commented on #14675
@bpasero agreed.

[2016-10-31 13:13] egamma commented on #3886
@emzero you no longer need the extension, it is included in the typescript/javascript support that comes with the insiders version.

[2016-10-31 13:17] alexandrudima commented on #13470
This is something to consider when picking a new default font in #5742

Since Ubuntu 16.04 no longer carries "Droid Sans Mono", let's track in #5742

[2016-10-31 13:17] #13470 closed

[2016-10-31 13:17] pcgeek86 commented on #14695
I reported the issue here: https://github.com/DonJayamanne/pythonVSCode/issues

[2016-10-31 13:19] bpasero commented on #14750
Makes sense now 👍

[2016-10-31 13:20] jhanish commented on #6417
I set up Visual Studio Code to run from the command line.  Whenever I start it this way, it runs for about 15 seconds then bombs out, giving that same error above.  I can reproduce it consistently.
Thanks.  :-)

[2016-10-31 13:24] joaomoreno commented on #6387
I can't figure out what kind of voodoo the Windows PowerShell does on the Explorer context menu that makes that option appear only when the file is associated with Notepad and a few select others.

If you set the file to open with Sublime Text or Internet Explorer or any other app, the context menu option is gone. So, this is not a VS Code issue.

I will keep it open since it creates some friction

[2016-10-31 13:25] alexandrudima commented on #14695
@pcgeek86 Have you tried

![image](https://cloud.githubusercontent.com/assets/5047891/19855610/cde53682-9f75-11e6-82e2-a8662316dcbb.png)

It produces something like this for me:

- VSCode Version: Code - Insiders 1.7.0-insider (0706b425537d8cfe2766eac00662ecf988c7ed7f, 2016-10-28T13:10:55.168Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|copy-r

[2016-10-31 13:25] jrieken commented on #14669
Doesn't repo after fixing #13835. Closing as dupe

[2016-10-31 13:25] #14669 closed

[2016-10-31 13:27] joaomoreno commented on #14672
Make sure that if you have an HTTPS proxy you use that instead of the HTTP proxy. Confirm the `http.proxy` value with your network administrator.

More reading:

- http://stackoverflow.com/questions/15421050/node-request-getting-error-ssl23-get-server-hellounknown-protocol
- https://github.com/request/request/issues/478
- http://stackoverflow.com/questions/15166950/unable-to-establish-ssl-connecti

[2016-10-31 13:30] alexandrudima commented on #1472
@felixfbecker Because the editor is not a native input field like the find widget (1) (a textarea is used for input, but the touch gesture occurs on some different dom node). From the touch handler we call `textarea.focus()`, but that is not a sufficient hint for Chromium to decide to pop up the on-screen keyboard. Hence, there is an API lack that we can inform the browser that the tap was meant f

[2016-10-31 13:31] alexandrudima commented on #14272
Nice! Thank you!

[2016-10-31 13:31] #14666 closed

[2016-10-31 13:33] joaomoreno commented on #13590
It's not about whether extensions have that value of not. It's rather about the syntax of the value.

`node-semver`, and thus `npm`, supports the `>=1.0.0` syntax, which we do not. For some reason, `generator-code` use to generate extensions with the `>=1.0.0` syntax. This seems to have occurred due to some miscommunication between @bpasero and @alexandrudima.

We recently added the version check

[2016-10-31 13:34] alexandrudima commented on #8202
@bpasero There should be no jumping if the calls are in the same execution stack (same how `setModel()` and `restoreViewState()` are in the same execution stack).

[2016-10-31 13:41] bpasero commented on #6417
@jhanish did you create your own symlink or used VS Code to install to the shell?

[2016-10-31 13:42] bpasero commented on #14635
@ylqhust
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-10-31 13:46] aeschli commented on #14667
@ThePlenkov Can you paste the content of the settings.json where I can reproduce this. What are the tab and new line settings?

[2016-10-31 13:47] Krimik opened #14755 "Can't expand object in debugger variable list"
- VSCode Version: 1.6.1
- OS Version: Windows 7

Steps to Reproduce:

1. Stop at any breakpoint, debugging javascript
2. Cannot expand any objects in watch/global list but can watch each variable individually http://i.imgur.com/bLtgZoR.jpg Arrays can be expanded just fine

[2016-10-31 13:48] BrandonRice commented on #12487
@alexandrudima I actually haven't set up any user defined keybindings.  I have attached the code below:

`
// Place your key bindings in this file to overwrite the defaults
[
]
`

[2016-10-31 13:52] joaomoreno commented on #13366
@rpassis Can you show me your `.bashrc` or `.zshrc`? Also, does it work if you launch it from a clean shell?

[code]

[2016-10-31 13:54] aeschli commented on #13568
Oh, now I see. Sorry.

[2016-10-31 13:54] bpasero commented on #13460
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-10-31 13:54] #13460 closed

[2016-10-31 13:54] bpasero commented on #14222
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-10-31 13:54] aeschli commented on #13568
This issue was moved to atom/language-c#175

[2016-10-31 13:54] #13568 closed

[2016-10-31 13:54] bpasero commented on #14179
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-10-31 13:54] #14179 closed

[2016-10-31 13:58] sandy081 commented on #14741
@bpasero It is not complaining about the editor model being null. In fact, editorService is resolving to a non-null editor model. But [ITextEditorModel.textEditorModel] (https://github.com/microsoft/vscode/blob/master/src/vs/platform/editor/common/editor.ts#L46) is null.

Above is happening before model is getting disposed (aka model.willDispose).

After searching for who are all listening to mode

[2016-10-31 14:00] felixfbecker commented on #1472
Is it not possible to have an invisible `<textarea>` that you `click()` programmatically whenever the editor is focused?

[2016-10-31 14:01] darkred commented on #14721
[**@joaomoreno**](https://github.com/joaomoreno) commented on [Oct 31, 2016, 10:52 AM GMT+2](https://github.com/Microsoft/vscode/issues/14721#issuecomment-257241976 "2016-10-31T08:52:50Z - Replied by Github Reply Comments"):

vscode-eslint.

I'm glad it's fixed!

[2016-10-31 14:01] #8202 closed

[2016-10-31 14:01] alexandrudima commented on #12487
I think this might be a duplicate of #5751

I don't know why I cannot reproduce on my machine, but I can reproduce #5751, the issue being:
* if the editor is already in snippet mode
* and a snippet is inserted
* in the end, the editor leaves snippet mode entirely, instead of remaining in the second snippet

I'm thinking for you somehow after the first `td|` is expanded into `<td>|</td>`, the edito

[2016-10-31 14:02] bpasero commented on #8202
@alexandrudima ok this makes for a much simpler fix. I have reverted my changes to editor and the only thing I am doing now is to first call restoreViewState (if I have any) and then do things like `setSelection` and `revealPositionInCenter`. This all happens from one callstack without timeout so I assume we do not end up in flicker as you say.

[2016-10-31 14:03] alexandrudima commented on #1472
@felixfbecker I haven't tried that, that would make a great PR. Here is how to get the shared code we use also running in Firefox and in IE for testing purposes -- https://github.com/Microsoft/monaco-editor/blob/master/CONTRIBUTING.md

[2016-10-31 14:03] bpasero commented on #14741
Yes it will be null if the model gets disposed. After that the model cannot be used anymore 👍

[2016-10-31 14:04] alexandrudima commented on #8202
👍

[2016-10-31 14:05] #12782 closed

[2016-10-31 14:05] jrieken commented on #14635
Taking this back. @ylqhust As mentioned earlier, please try without extension.

I have added telemetry about saving participant times, most interesting is how long format on save takes (upper bound 750ms) and how long the on-will-save-event takes (upper bound 1500ms). Turns that the are extensions host that are more or less dead. Looking at the data for 'format on save' is happy (since we enforce

[2016-10-31 14:06] alexandrudima commented on #12782
We support the following mouse gestures for multi-cursor / column selection related functionality:

* Shift + Alt + Click
* Alt + Click
* Alt + Double click
* Alt + Triple click
* Alt + Click (on the line gutter)

[2016-10-31 14:07] jrieken commented on #14635
I will put another defence mechanism in place that recovers from a dead extension host

[2016-10-31 14:08] aeschli commented on #13942
Ok, then I'm renaming this issue to a feature request for a setting like `files.endWithNewline`.
That then would be only used on save.
But note that formatters, which can be contributed as extensions, have each their own set of settings. This is to make it easy to integrate existing formatters such as beautifyjs.

[2016-10-31 14:14] lucax88x opened #14756 "Possibility to retrieve only "visible" text / lines"
Add an API method to retrieve only the "visible" text of the document in the editor, something like editor.GetVisibleRange() would be sufficient.

[2016-10-31 14:20] #13590 closed

[2016-10-31 14:22] bpasero commented on #13942
-> https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig

[2016-10-31 14:22] #13942 closed

[2016-10-31 14:27] #14740 closed

[2016-10-31 14:27] bpasero opened #14757 "CompletionItem decorator"
_From @TheColorRed on October 25, 2016 15:46_

Is there a way to add a decorator to a CompletionItem?

I would like to add a color like the way CSS shows the color of the item. Is this possible? If so how can I do it?

_Copied from original issue: Microsoft/vscode-extension-vscode#40_

[2016-10-31 14:27] jrieken opened #14758 "Detect dead extension host"
Today when an extension does something ala `while(true);` it won't directly kill the main side (separate process ftw) but it will have bad impact on each and every call we make from the main side to extension host that we have not guarded against this (basically everywhere).

We should send a regular heartbeat from the extension host to the main side and inform the user when the extension host app

[2016-10-31 14:28] jrieken commented on #14758
the caused for #14635

[2016-10-31 14:29] gerhardcit commented on #14222
Yes @bpasero , I get it. Sorry, I have 5 projects open at any time, so each time this happens it just takes too much time and effort to then start debugging dev environments etc. So far its been fruitless, so now I am hoping the problem will go away at some point.
I do find it a little weird though that somehow finding a CPU processing running high cannot be pin pointed easier.
I have narrowed it

[2016-10-31 14:34] bpasero commented on #14222
@gerhardcit the reason we have to ask all these stupid questions is because most users are not able/willing to share their workspaces to us.

[2016-10-31 14:37] pcgeek86 commented on #14695
@alexandrudima Awesome, didn't know about that. I prefer the Command Palette version though. :)

[2016-10-31 14:46] waderyan commented on #13127
Great thank you.

[2016-10-31 14:46] #13127 closed

[2016-10-31 14:48] chrmarti opened #14759 "Go to Symbol should position text cursor on name of target"
- VSCode Version: Code - Insiders 1.7.0-insider (0706b425537d8cfe2766eac00662ecf988c7ed7f, 2016-10-28T13:00:19.188Z)
- OS Version: Darwin x64 15.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|EditorConfig|EditorConfig|0.3.3|
|vscode-docker|PeterJausovec|0.0.6|
|regex|chrmarti|0.0.6|
|vscode-eslint|dbaeumer|1.0.7|
|ghlink|dt|0.0.4|
|gitlens|eamodio|0.5.5|
|tslint|eg2|0.5.39|
|PowerShe

[2016-10-31 14:54] #14684 closed

[2016-10-31 14:57] chrmarti commented on #11795
Only files removed/moved that are open in an editor trigger `History.remove()`. What happens more often - it seems - is that the user renames a folder and the history entries for files in that folder become stale.

[2016-10-31 14:59] MichaelZalla opened #14760 "Moving extension editor to another group makes details lost"
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T15:27:10.246Z)
- OS Version: Darwin x64 15.6.0
- Extensions: DmitryDorofeev.empty-indent-0.1.2, MattiasPernhult.vscode-todo-0.8.0, SirTori.indenticator-0.2.1, Tyriar.lorem-ipsum, Tyriar.sort-lines-1.1.0, dbaeumer.jshint-0.10.15, dbaeumer.vscode-eslint-1.0.8, donjayamanne.python-0.4.2, eg2.tslint-0.5.39, gerane.Theme

[2016-10-31 15:02] #14741 closed

[2016-10-31 15:02] #14743 closed

[2016-10-31 15:02] bpasero commented on #11795
That is a regression that I introduced and should fix, thanks for finding out.

[2016-10-31 15:03] #14706 closed

[2016-10-31 15:03] bpasero opened #14761 "History: delete entries that are deleted or moved on disk"
A regression from some work in October, this used to work.

[2016-10-31 15:03] bpasero commented on #11795
Filed https://github.com/Microsoft/vscode/issues/14761

[2016-10-31 15:04] #14674 closed

[2016-10-31 15:12] supchi31 opened #14762 "Error and warnings gets overrided by dependencies projects"
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T15:43:46.054Z)
- OS Version: Linux x64 4.4.0-45-generic
- Extensions: christian-kohler.path-intellisense-1.1.0, ms-vscode.csharp-1.4.1, qinjia.seti-icons-0.1.2

Steps to Reproduce:

1.Create 2 projects, write basic code in each, reference project 1 in project 2
2.Make unecessary using in project 1
3. Type an error i

[2016-10-31 15:14] Tyriar commented on #14470
Great, this will make it feel a lot more responsive on Linux :tada:

[2016-10-31 15:15] octref commented on #13523
@joaomoreno TypeScript.

[2016-10-31 15:19] natenovielli commented on #14683
A tip if anyone runs into something similar, the "where" command in cmd was very helpful.  Type 'where node' in the command prompt, or 'where.exe node' in the powershell prompt and it will list all the directories where node is installed and registered with an env variable.  For me, I could see that my other dev tools were listed above the version of node that I installed.

[2016-10-31 15:22] Tyriar commented on #13702
This should be fixed in the [Insiders build](https://code.visualstudio.com/insiders) as it's a duplicate of https://github.com/Microsoft/vscode/issues/13554

[2016-10-31 15:28] bpasero commented on #12309
I filed https://github.com/nodejs/node/issues/9380

Actually it works also for `fs.writeFile` but you need to run with `r+` as mode. I am not sure why though...

[2016-10-31 15:29] weinand commented on #14752
@dedalebeda it is already possible to launch vscode from the command line (e.g. the integrated terminal) on a specific position. Am I missing something from your request?

![2016-10-31_16-28-25](https://cloud.githubusercontent.com/assets/1898161/19859892/1fc8cffc-9f87-11e6-8044-b73d81a74709.png)

[2016-10-31 15:30] AkashGutha commented on #14735
Yes it is working .

And it shows up only if I change the folder or if I reopen vscode . Is this the intended behavior ?

[2016-10-31 15:31] weinand commented on #14755
@Krimik you are using VS Code Insiders and not v1.6.1, correct?

[2016-10-31 15:33] bpasero commented on #14735
@AkashGutha it will warn you once per workspace but should then remember it for that workspace.

[2016-10-31 15:33] m3l7 commented on #13576
this is related to #13514 . Setting outDir the same as include results in this issue

[2016-10-31 15:33] #13576 closed

[2016-10-31 15:33] jrieken opened #14763 "Fat extension descriptions"
We have an [`ExtensionDescription`](https://github.com/Microsoft/vscode/blob/master/src/vs/platform/extensions/common/extensions.ts#L12) which is basically a subset of an extension's `package.json`. However, when [parsing](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/node/extensionPoints.ts#L87) and worst send setting up the extension host we use *everything* that's in the file

[2016-10-31 15:34] weinand commented on #14762
@supchi31 you are talking bout C# projects?

[2016-10-31 15:37] brianblakely commented on #1952
It would be great if we could tell Code to prioritize Emmet completion over Intellisense in scenarios such as these.

When writing CSS, I would never want `db[tab]` to produce `:double-button` instead of `display: block;`, but that's what happens right now.

[2016-10-31 15:39] apbendi commented on #13511
I replaced my `keybindings.json` with the exact text provided by @alexandrudima . After restarting VSCode, the new shortcut works perfectly and consistently. The find widget pops up every time. So it doesn't seem to be tied *just* to the key combo. cc  @Tyriar

[2016-10-31 15:40] supchi31 commented on #14762
Yes, indeed

I guess the problem comes from omnisharp, I might have posted the issue in the wrong place.
Sorry.

[2016-10-31 15:41] dedalebeda commented on #14752
Sorry for being unclear. Let me give an example: TypeScript compiler produces an error, but I have to locate the error line manually. I would like to click on the red text on the screenshot below to open exact line of code.
![image](https://cloud.githubusercontent.com/assets/7872442/19860383/c98b84f2-9f88-11e6-866c-e21da46917f1.png)

[2016-10-31 15:41] weinand commented on #14762
@supchi31 I'll move the issue.

[2016-10-31 15:42] geversoncarvalho commented on #14671
The Developer Tools didn't display any log, but after File > Close Folder and File > Open Recent > ..., the folders returned to the Explorer... I don't know exactly what was the problem's cause, but at least it working fine now. Thanks anyway.

[2016-10-31 15:42] weinand commented on #14762
This issue was moved to OmniSharp/omnisharp-vscode#855

[2016-10-31 15:42] #14762 closed

[2016-10-31 15:43] #14671 closed

[2016-10-31 15:44] chrmarti commented on #10972
@egucciar Is everyone seeing this using Windows 7? Is there a particular process using a lot of CPU time when this occurs? Also on the latest insider builds?

[2016-10-31 15:48] joaomoreno commented on #14754
#13297

Does it work if you launch Code as `LANG="en_US.UTF-8" code`, from a command line?

[2016-10-31 15:49] joaomoreno commented on #6162
@jundialwan Ping

[2016-10-31 15:50] joaomoreno commented on #6534
@tiansivive @davidmcl @angel-aam Is this still an issue on the latest version?

[2016-10-31 15:50] #8275 closed

[2016-10-31 15:51] AkashGutha commented on #14735
yes, it does that perfectly.  it only pops up if i have the folder closed from menu and open an new folder.

[2016-10-31 15:51] joaomoreno commented on #9524
@vsrc Is this still an issue?

[2016-10-31 15:51] #9626 closed

[2016-10-31 15:51] stefanofiorentino opened #14764 "VSCode not functioning behind proxy"
- VSCode Version: 1.6.1
- OS Version: OS X 10.11.4

Steps to Reproduce:

1. F1->ext install

The only way to have this functioning is
1. Open User Settings
2. Write in settings.json
[code]

Take care of use "http://".
` require('url').parse('172.16.1.1:8080') `highlighted the error in parsing host and hostname.

I found this thanks to @joaomoreno at this [link](https://github.com/microsoft/vscode/

[2016-10-31 15:51] #9645 closed

[2016-10-31 15:52] #9933 closed

[2016-10-31 15:52] #10264 closed

[2016-10-31 15:53] #10736 closed

[2016-10-31 15:53] joaomoreno commented on #10736
Closing as this doesn't seem to be a problem with Code itself but with the environment.

[2016-10-31 15:53] #11042 closed

[2016-10-31 15:53] #11054 closed

[2016-10-31 15:54] #11063 closed

[2016-10-31 15:54] #11160 closed

[2016-10-31 15:54] joaomoreno commented on #11425
Closing due to silence.

[2016-10-31 15:54] #11425 closed

[2016-10-31 15:54] joaomoreno commented on #11561
Ping @vraghu1983

[2016-10-31 15:54] #11561 closed

[2016-10-31 15:55] joaomoreno commented on #13072
Ping @svenefftinge

[2016-10-31 15:56] siegebell commented on #6966
I can almost write an extension to provide this behavior...

Say I want to map `ctrl+c ctrl+a ctrl+b` to `some.command`. I can add these keybindings:
[code]
Where command `chords.c.a` calls `vscode.commands.executeCommand("setContext","chord.c.a",true)`.

But I cannot think of a good way to exit the "chord.c.a" context when the next key is pressed. Something like `onDidExecuteCommand` (proposed in

[2016-10-31 16:08] bgashler1 commented on #14580
Updated as of Friday

[2016-10-31 16:08] #14580 closed

[2016-10-31 16:08] atombender commented on #13016
I also want this. This is pretty basic, core (by which I mean absolutely necessary; it's burned into my muscle memory now) functionality supported by Atom and Sublime.

To clarify (based on @Bill-Stewart's query). If you have this:

[code]

and select this:

[code]

and hit cmd-D two times, then you should have selected:

[code]

I.e., cmd-D should not consider lines, only matches.

[2016-10-31 16:08] jrieken commented on #14757
Yeah - use [`kind: Color`](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L2252) and make the label match a color, like `#22ee44` or `hsl(122, 221, 32)`

[2016-10-31 16:08] #14757 closed

[2016-10-31 16:11] bpasero commented on #14760
Error 1. I refer you to @joaomoreno why the webview does not load the details again.

Error 2. you are describing seems to be https://github.com/Microsoft/vscode/issues/13513

[2016-10-31 16:11] atombender opened #14765 "Cmd+D has no "select all occurrences" counterpart"
Cmd+D currently seems to require that you hit it as many times as there are occurrences, in order to match all occurrences of the selection. Atom has shift+cmd+D, which instantly (as far as anything in Atom is instant) selects all occurrences. This is extremely useful.

(It's unfortunate that VSCode has already used shift+cmd+D for "go to debugger pane". It's not a great idea to abuse shift like t

[2016-10-31 16:13] bpasero commented on #14760
Much easier to reproduce by just moving the group of where the extension editor is in to another group:

![editors](https://cloud.githubusercontent.com/assets/900690/19861555/487a0488-9f8d-11e6-9036-6811dcf2ff91.gif)

[2016-10-31 16:15] waderyan commented on #14236
Thanks @joshfttb. I, embarrassingly, ran into a similar issue this morning with a demo. Escalating to the language service team (TypeScript) to get some help.

[2016-10-31 16:15] waderyan commented on #14236
This issue was moved to Microsoft/TypeScript#11958

[2016-10-31 16:15] #14236 closed

[2016-10-31 16:15] bpasero commented on #14735
@AkashGutha that is true, it will probably pop up all the time from after you closed a folder. Is that what annoys you still?

[2016-10-31 16:16] bpasero commented on #14580
Very nice 👍

[2016-10-31 16:20] waderyan commented on #14134
@vvatikiotis thank you for the explanation. This is a unique feature request. The functionality for this depends on the JavaScript language service which is contained in the TypeScript repo. Migrating there.

[2016-10-31 16:27] waderyan commented on #13963
@axefrog thank you for your feedback. This is a good suggestion.

@dbaeumer just to confirm I understand correctly - this issue should stay in VS Code and not be migrated to TypeScript? In other words who owns the TS extension language configuration (vscode\extensions\typescript\language-configuration.json)?

[2016-10-31 16:28] atombender opened #14766 "Extra quotes inserted when typed during cmd-D selection"
- VSCode Version: 1.6.1
- OS Version: macOS 10.12.1

Steps to Reproduce:

1. Create a file with a _non-plaintext_ syntax, such as Python.
2. Populate the file with: `'a', 'b', 'c'`
3. Select a single quote and hit cmd-D 5 times (to select all).
4. Hit backspace to delete quote.
5. Type a single quote (or a double quote; same bug).
6. Result will be: `'a', 'b', 'c''` (note last extract quote)

Also

[2016-10-31 16:31] waderyan commented on #14546
@mosluce thank you for opening this. We have found this before. Duplicate of https://github.com/Microsoft/vscode/issues/14698

[2016-10-31 16:31] #14546 closed

[2016-10-31 16:34] supnate commented on #13625
Hi @Tyriar , thanks for your work on this! Just FYI I also tried [ptyw.js](https://github.com/iiegor/ptyw.js) but with no luck. Finally I had to fallback to use `cmd.exe` to get result of a command. Looking forward to a stable `pty.js`! 👏

[2016-10-31 16:36] waderyan commented on #14553
@vvatikiotis thank you for the explanation. I believe this is a language service issue. Migrating to TypeScript repo (TypeScript powers the JavaScript language service).

[2016-10-31 16:36] waderyan commented on #14553
This issue was moved to Microsoft/TypeScript#11960

[2016-10-31 16:36] #14553 closed

[2016-10-31 16:38] digeff opened #14767 "Question: How to silent install with "Open with Code" enabled?"
Hello,

I can install VSCode silently with: VSCode.exe /verysilent
How do I make it turn on the options for "Open with Code" in the context menu when I install that way?

Thanks!

[2016-10-31 16:39] waderyan commented on #14524
@dbaeumer thank you. To confirm - https://github.com/Microsoft/TypeScript/issues/11229 will solve this for OP?

[2016-10-31 16:58] chrmarti commented on #12274
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-10-31 16:58] #12274 closed

[2016-10-31 16:59] rebornix commented on #14764
@stefanofiorentino if you can download extensions with `http.proxy` set correctly, that's basically what's `http.proxy` used for.

If there is no problem to download ext with proxy, then I'd like to close this one.

[2016-10-31 17:00] chrmarti commented on #12324
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-10-31 17:00] #12324 closed

[2016-10-31 17:00] chrmarti commented on #12338
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-10-31 17:00] #12338 closed

[2016-10-31 17:01] chrmarti commented on #12348
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-10-31 17:01] #12348 closed

[2016-10-31 17:04] chrmarti commented on #12404
A number of days has past without answer on the questions (yourself) asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-10-31 17:04] #12404 closed

[2016-10-31 17:08] rebornix commented on #14759
I found it share the same experience with Go To Definition.

[2016-10-31 17:09] chrmarti commented on #12422
Doing this automatically might not always be expected, but we could ask the user when we detect this case on save.

[2016-10-31 17:16] chrmarti commented on #12423
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-10-31 17:16] #12423 closed

[2016-10-31 17:18] chrmarti commented on #12440
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-10-31 17:18] #12440 closed

[2016-10-31 17:23] kaiwood commented on #14766
For some additional context: Tried to reproduce this, it doesn't happen when language mode is set to plain text, but I can confirm that it happens at least in JavaScript, Ruby and C-Mode.

[2016-10-31 17:23] chrmarti commented on #12464
This issue was moved to Microsoft/vscode-cpptools#320

[2016-10-31 17:23] #12464 closed

[2016-10-31 17:24] chrmarti commented on #12470
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-10-31 17:24] #12470 closed

[2016-10-31 17:25] chrmarti commented on #12485
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-10-31 17:25] #12485 closed

[2016-10-31 17:26] roblourens commented on #14729
It seems like vscode is escaping the strings somewhere (the debug adapter also was, but when I force it to not do that...) I'll investigate some more.

[2016-10-31 17:26] atombender commented on #14766
Yes, it only works in languages that have automatic quote insertion.

[2016-10-31 17:26] chrmarti commented on #12505
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-10-31 17:26] #12505 closed

[2016-10-31 17:27] chrmarti commented on #12530
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-10-31 17:27] #12530 closed

[2016-10-31 17:27] chrmarti commented on #12611
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-10-31 17:27] #12611 closed

[2016-10-31 17:29] brennanMKE opened #14768 "Error when I open integrated terminal (on Mac)"
- VSCode Version: 1.6.1
- OS Version: MacOS El Capitan

Steps to Reproduce:

1. Open Integrated Terminal
2. See error displayed at the top

I have 2 MacBooks with VSCode installed. One works fine and the other has this error. I have ready other issues related to the integrated terminal not working related to folders with spaces or special characters but that is not the case here. There is no folde

[2016-10-31 17:29] brennanMKE commented on #14768
Possibly related: https://github.com/Microsoft/vscode/issues/14528

[2016-10-31 17:36] Krimik commented on #14755
This was 1.6.1, I checked "About", but now this issue fixed itself, I guess restart helped...
Could it have been that I am opening folders on Google Drive ?

[2016-10-31 17:44] chrmarti commented on #11795
@bpasero It might still make sense to check the history entries for existence on disk after startup. Should we cover that with this issue?

[2016-10-31 17:57] chrmarti commented on #13854
`childProcess.stdout` seems to be undefined, which it shouldn't with the arguments passed to `spawn`. Error telemetry is showing 1600 occurrences.

[2016-10-31 17:59] kaiwood commented on #14765
The feature is there, full name of the command is `Select All Occurrences of Find Match`, default shortcut is `cmd-shift-l`.

[2016-10-31 18:03] atombender commented on #14765
Ah. I couldn't find it because the command name is `editor.action.selectHighlights`, which doesn't mean anything to me (what is a "highlight"?). The cmd+D action is `editor.action.addSelectionToNextFindMatch`. I propose that the command is renamed to something like `selectAllFindMatches` or something like that, to make it clear what it does.

[2016-10-31 18:04] Tyriar opened #14769 "The terminal clear command should delete the entire buffer, not hide it"

[2016-10-31 18:09] atombender opened #14770 "Cmd+D selects too broadly in some grammars"
- VSCode Version: 1.6.1
- OS Version: 10.12.1

In some grammars such as JSON, cmd+D matches a lot more than in other grammars. In most grammars, cmd+D seems to use word-matching semantics. In most grammars, if your caret is here:

[code]

and you hit cmd+D, then `world` is selected. In JSON files, the entire `"hello world"` is selected. That's inconsistent and weird. I don't know what other gramma

[2016-10-31 18:12] rebornix commented on #14770
@atombender thanks for reporting this issue. About `cmd+d` behavior in json files, it's tracked in #10080 and actually our way of handling `cmd+d` is consistent, it's selecting a word under cursor while different languages take different wordSeparators. That's basically why you see this issue. Please take a look at that issue if you are interested.

[2016-10-31 18:12] #14770 closed

[2016-10-31 18:17] Tyriar commented on #14769
Maybe an option, will leave this for upstream to allow first.

[2016-10-31 18:17] #14769 closed

[2016-10-31 18:20] hveiras opened #14771 "Integrated terminal access through extension?"
Hi,

Is there any way to access the content shown in integrated terminal through an extension? I'm interested in formatting error messages o even explore the possibility of extending it so I can click on a stack trace and go to the line.

[2016-10-31 18:25] rebornix commented on #14771
Current Terminal API doesn't support this, you can take a look at https://github.com/Microsoft/vscode-extension-samples/blob/master/terminal-example/README.md to get an idea of what kind support we have right now.

[2016-10-31 18:26] rebornix commented on #14765
Thanks @kaiwood for the clarification :) Close it first as it's covered by existing commands right now.

[2016-10-31 18:26] #14765 closed

[2016-10-31 18:26] oste opened #14772 "Move tab with keyboard"
- VSCode Version: 1.6
- OS Version: OSX Sierra

It would be great if you could move tabs with the keyboard. Something like this Sublimetext plugin https://github.com/SublimeText/MoveTab

This makes it so pressing shift and command + arrow would move the tab left or right. You could also configure it so you can move a tab to the first position with one binding.

[2016-10-31 18:27] kaiwood commented on #14765
It's a little easier to discover it via the command palette (cmd-shift-p).

Technically speaking `editor.action.selectHighlights` does exactly what it says. If you simply position the cursor over a "word", all other occurrences of that word are highlighted. `cmd-shift-l` works right away and selects the highlights.

But you are right, it's a little confusing to have multiple wordings for the comma

[2016-10-31 18:31] rebornix commented on #14772
We've already have this support, see here https://github.com/Microsoft/vscode/issues/10291

[2016-10-31 18:31] #14772 closed

[2016-10-31 18:31] Tyriar commented on #14771
It's not currently possible to get at the output or transform it in any way, here are some relevant issues:

- https://github.com/Microsoft/vscode/issues/7321 clicking links in the terminal
- https://github.com/Microsoft/vscode/issues/11422 expose more info
- https://github.com/Microsoft/vscode/issues/13337 pipe all stdout/in through an extension

I'd love to bring link clicking to VS Code nativel

[2016-10-31 18:31] #14771 closed

[2016-10-31 18:33] Tyriar commented on #14734
This was on a recent build of Insiders (v1.7) and the strings are in settings.json.

[2016-10-31 18:35] Tyriar commented on #13473
Haven't seen anything like this personally, I'd guess it's related to the font string being incorrect or being installed incorrectly?

[2016-10-31 18:37] Tyriar commented on #14768
@brennanMKE are you in a directory with non-ascii character like in https://github.com/Microsoft/vscode/issues/7727?

[2016-10-31 18:37] Tyriar commented on #14752
Duplicate https://github.com/Microsoft/vscode/issues/7321

[2016-10-31 18:37] #14752 closed

[2016-10-31 18:38] shanalikhan commented on #14444
any update on this :)

[2016-10-31 18:39] Tyriar commented on #14731
I believe this is already fixed, can you see if you can reproduce in the [Insiders build](https://code.visualstudio.com/insiders)?

[2016-10-31 18:39] #14731 closed

[2016-10-31 18:39] atombender commented on #14765
But it's inconsistent: Its counterpart is `editor.action.addSelectionToNextFindMatch`, not `editor.action.selectNextHighlight` or whatever. It's not clear that they are related. I don't even know what "next find match" means here; if `selectHighlights` selects _all_ highlights, then cmd-D finds the _next_ highlight. But how does "find" fit into it?

[2016-10-31 18:41] Tyriar commented on #14038
@bpasero I assume this is related to assumptions made in the model initialization code that they will never be created as dirty.

[2016-10-31 18:41] Tyriar commented on #14691
I believe this is already fixed, can you see if you can reproduce in the [Insiders build](https://code.visualstudio.com/insiders)?

[2016-10-31 18:41] #14691 closed

[2016-10-31 18:50] kaiwood commented on #14765
Without the selection part, there is the (OS) standard combination of `cmd+f` for find and `cmd-g` for "Find Next" which works in every macOS application. In VSCode this command is called `editor.action.nextMatchFindAction`. If you think about it from that angle, what `cmd-d` does is the standard "Find next" plus the additional selection on it.

[2016-10-31 18:52] atombender commented on #14765
But "Find" doesn't automatically pick up the current highlighted word. "Find" requires the user to type something to find. So it's definitely inconsistent and weird.

[2016-10-31 18:53] dfberry opened #14773 "Open folder isn't returning a listing, just spins"
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T15:27:10.246Z)
- OS Version: Darwin x64 16.1.0
- Extensions:

Steps to Reproduce:

1. close existing folder
2. select pages icon on left side
3. choose open folder from expanding left-side menu
4. select into my main repositories directory (nested repos with .git folders inside)
5. select to parent above folder I wa

[2016-10-31 19:01] nickletgo commented on #14672
Thanks, I will check with my network admin, but can you please help me understand what the issue is by answering my several questions?

- Is the vs code extension (e.g. the C# extension) installed via npm?
- If it is npm, does vs code use a shipped version of npm instance or the one already installed in my OS? If it is the former case, can I directly configure proxy to that shipped version of npm

[2016-10-31 19:06] kaiwood commented on #14765
Yes it does, the input field that opens on `cmd+f` is always prefilled with the current selection – and if nothing is selected, it uses the highlighted word under the cursor. Try it :)

[2016-10-31 19:13] erickangMSFT opened #14774 "New insider build corrupts settings.json and all existing settings in User Settings are no longer accessible"
- VSCode Version: 17.0-insider
- OS Version: MAC 10.12.1

Steps to Reproduce:

1. Have settings in settings.json for User settings before updating VSCode to 17.0-insider
2. Upgrade to 17.0
3. All existing user settings in settings.json disappears and it is overrides by some properties from VSCode itself.

Some existing feature in Extensions are broken badly with this change.

[2016-10-31 19:17] soljohnston777 opened #14775 "Could you add a plus on your tabs bar to create a new file?"
Could you add a [+] icon next to the tabs to create  a new file?  It should be easy to do I would think, kind of like pressing ctrl+n.

[2016-10-31 19:22] mdarefull commented on #14704
Thanks everyone to the help provided. I will do everything in my hand to pass the checklist and check all the other advice provided. Also, I will install it on other PCs to see if the problem reproduces.

Sadly, this seems that will take a lot of effort, so I can't promise to be quick.
Let's hope we can find the cause of the problem and that you will be able to fix it so everyone can enjoy a bette

[2016-10-31 19:23] brennanMKE commented on #14768
I tried opening my home folder which is `/Users/username` without any special characters and it still fails. Is there any place I can look for additional error logging?

[2016-10-31 19:23] SMH110 opened #14776 "JavaScript highlighting issue"
- VSCode Version: Code - Insiders 1.7.0-insider (0706b425537d8cfe2766eac00662ecf988c7ed7f, 2016-10-28T13:10:55.168Z)
- OS Version: Windows_NT ia32 10.0.10240
- Extensions:

|Extension|Author|Version|
|---|---|---|
|ejs-language-support|QassimFarid|0.0.1|
|vscode-icons|robertohuertasm|3.0.7|
|code-spell-checker|streetsidesoftware|0.11.4|

---

See screenshot below. Text highlighting seems broken fo

[2016-10-31 19:26] atombender commented on #14765
Hm, I see. But you still have to open the find box, which cmd-D doesn't. It's not like cmd-G picks up current word to do its search, and it's not like you can add to the selection through cmd-F/cmd-G.

The name is also nonsensical purely semantically: It does "add the selection _to the next find match_". It _adds to the selection_, ie. it adds another selection, _from_ the next find match. It's re

[2016-10-31 19:31] atombender opened #14777 "editor.action.jumpToBracket does not match in plaintext scope"
- VSCode Version: 1.6.1

Steps to Reproduce:

Consider a plaintext file:

[code]

If you navigate to one of the parantheses, `editor.action.jumpToBracket` does not work. Brackets are completely ignored there.

Similarly, here's a YAML file with a string:

[code]

Same behaviour.

Is this because there's no grammar associated with the text block? If so, why? This works fine in Atom, where brackets

[2016-10-31 19:41] TheColorRed commented on #14775
There is a new file button:

![new-file](https://cloud.githubusercontent.com/assets/1571806/19868909/15111d80-9f78-11e6-85b6-5368b346ccf8.png)

[2016-10-31 19:58] sant123 commented on #3201
I was facing the same issue in my web app, what I did is the following:

[code]

[code]

Because I only need this feature in production. 😄

@weinand

[2016-10-31 20:02] JoeSherwood335 commented on #14629
thank you for the promp response

________________________________
From: Martin Aeschlimann <notifications@github.com>
Sent: Friday, October 28, 2016 6:23 AM
To: Microsoft/vscode
Cc: JoeSherwood335; Author
Subject: Re: [Microsoft/vscode] Cant add User Snippets to cshtml files (#14629)

Use File > Preferences > User Snippets, pick 'Razor' and define your snippets.

-
You are receiving this because

[2016-10-31 20:04] kaiwood commented on #14765
That wording makes sense, yes. +1 on this.

Good spot on `editor.action.changeAll`, I tried it and it looks like it really is a duplication. Strange. Maybe @alexandrudima can clarify this?

[2016-10-31 20:13] seanmcbreen commented on #14774
@bpasero and @jrieken I htink you are the right guys here.

@erickangMSFT can you provide additional detail e.g. the commit number in the About dialogue and a sample of before and after settings.  I cannot repro this.  This would break the core of VS Code and also many extension so sounds bad - but there also could be an issue in how you are reading and writing settings.

[2016-10-31 20:14] ArieHein opened #14778 "Register or Notify on Extension"
Not sure if this is available through the recommended extenstion.json but would like to have an option to set specific words, that upon opening VS or the Extension pane / choosing from menu will show me all the new extensions that contain my specified words that have been added since last opened or seen.

[2016-10-31 20:21] erickangMSFT commented on #14774
We found out the insider build now reads settings.json file from a different location from GA version. This makes sense to me. Before 17.0, GA version and Insider versions read the same settings.json from the same location. In this case, it will be a no issue from my perspective.

[2016-10-31 20:35] erickangMSFT commented on #14774
This turn out to be a by-design where Insider build reads settings.json for Insider build specifically instead of sharing the same settings.json file with GA version. Thanks for the detail information from @seanmcbreen. Sharing the information here to help others as well.

Insider ‘user’ settings are specific to the insider build.  ‘Stable’ as a result stores there settings in another location, yo

[2016-10-31 20:35] #14774 closed

[2016-10-31 20:42] dgiagio commented on #12637
I can confirm this happens to me as well, XPS 15 with precision touchpad. Please let me know if there's anything I can do to help track this down. Thanks.

[2016-10-31 20:44] rebornix commented on #14773
@dfberry sorry I don't quite understand your problem, do you mind providing a Gif or similar to describe this issue better?

[2016-10-31 20:49] rebornix commented on #14775
Thanks @TheColorRed for the help, it's a good way to create a new file.

Besides, you can still double click on the empty space of the tab bar and a new file will be created as well.

[2016-10-31 20:49] #14775 closed

[2016-10-31 21:01] Tyriar commented on #14768
No there is not as it's run in a different process and no error information is sent back other than the exit code right now.

This error occurs when the shell process exits immediately. Typically their is either non-ascii text (pre 1.7) or you have a bad shell setup (`terminal.integrated.shell.osx`, `terminal.integrated.shellArgs.osx`). Do you have those settings set?

[This is the line that is re

[2016-10-31 21:10] roblourens commented on #13967
This is coming from the runtime and reproes in Chrome DevTools. I filed https://bugs.chromium.org/p/chromium/issues/detail?id=660951

[2016-10-31 21:11] brennanMKE commented on #14768
I opened up workspace settings and found the shell was set to `/bin/false` which I did not set myself. This is a computer was set up by the company by IT. Maybe they set it that way.

My shell also was not configured since I use `.bash_profile` so I symlinked `.profile` and `.bashrc` to it so there VSCode integrated terminal is configured and has the `PATH` set up properly.

Maybe there is a way t

[2016-10-31 21:15] atombender opened #14779 "No workbench action to hide panel"
- VSCode Version: 1.6.1

There's no editor action to hide the panel. There is only `workbench.action.togglePanel`, and there's apparently no context so you can do `when: "panelVisible"` or whatever. So there's no way to bind a key to something that hides the panel.

[2016-10-31 21:17] aruneshchandra commented on #13705
any update on this ?

[2016-10-31 21:18] weinand commented on #13705
This is planned for the November release.

[2016-10-31 21:21] Tyriar commented on #12247
I believe this is already fixed, can you see if you can reproduce in the [Insiders build](https://code.visualstudio.com/insiders)?

[2016-10-31 21:21] #12247 closed

[2016-10-31 21:22] Tyriar commented on #14768
I've never seen anyone else have this sort of issue, I suppose they set `$SHELL` to `/bin/false` for some reason as that's what `"terminal.integrated.shell.osx"`'s default value is derived from on OSX. So you can override this inside VS Code by using "terminal.integrated.shell.osx": "/bin/bash" or by setting the SHELL env variable if you have access to do that.

There is an issue open for showing

[2016-10-31 21:22] #14768 closed

[2016-10-31 21:24] rebornix commented on #14779
That's `cmd+b` :)

[2016-10-31 21:26] atombender commented on #14779
_Panel_, not sidebar.

[code]

[2016-10-31 21:26] atombender commented on #14779
(Also, `cmd+b` also _toggles_, doesn't hide.)

[2016-10-31 21:35] DAD713 opened #14780 "CODE.EXE is a blocked application my LANDesk security"
After investigation of why code.exe is blocked on my system.  Come to find out the code.exe is a known adult web site autodialer

Please consider changing the name of the executable, maybe VSCODE.EXE

[2016-10-31 21:51] procterw commented on #178
+1

[2016-10-31 21:53] aruneshchandra commented on #13705
cool - when is the Nov release ? do we have a date ?

[2016-10-31 21:53] isidorn commented on #14729
Did a full text search inside debug folder, found some interesting candidates
Forgot what is the exact purpose of this https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/common/debugModel.ts#L25 but might be a starting point

[2016-10-31 21:55] isidorn commented on #13705
@aruneshchandra the plan with the dates will be posted soon on GitHub - to get notified on each iteration plan you can follow Erich on twitter https://twitter.com/erichgamma?lang=en

[2016-10-31 22:14] Isotop7 commented on #14754
Hi Joao,

yes it works :)

What is this kind of witchcraft? I didn't change anything on my localization?

Thank you :)

[2016-10-31 22:27] rajinder-yadav commented on #14708
Closing, I think it's VIM plugin, I tested without plugins and it's work file!

[2016-10-31 22:27] #14708 closed

[2016-10-31 22:33] the-ress commented on #13625
The winpty version used in [Tyriar/pty.js](https://github.com/Tyriar/pty.js) is a little newer than [peters/winpty](https://github.com/peters/winpty).

It's from jeremyramin/winpty@a988fe99934c59e5f518f6f90a60f52c72ee3f31

[2016-10-31 22:57] roblourens commented on #14729
Yeah that's it... I'm not sure how to handle this though - at first I wanted to skip `massageValue` for eval results in the console, but it seems like strings in an object preview like `["a\nb"]` should stay on one line. We could leave the logic up to the debug adapter like you say, but other debugger authors are assuming that their strings will be escaped for them. Is that too big of a breaking c

[2016-10-31 23:18] atombender commented on #14779
@rebornix Want to reopen?

[2016-10-31 23:27] #14722 closed

[2016-10-31 23:38] weinand commented on #14728
@roblourens makes sense, I'll look into this. Should be possible for November.

[2016-11-01 00:16] rebornix commented on #14779
Sorry for the misunderstanding. And yes they share the same problem, no way to directly hide or show. It's a valid request and I think ppl have similar request in #13776 . Let's see if there will be any new API while implement that feature.

[2016-11-01 00:18] rebornix commented on #13776
This is sometimes named as Zen mode.

@isidorn while implementing feature, will we expose any API for directly show/hide sidebar/panel? Currently we only have `toggle` stuff which doesn't indicate the status of them.

[2016-11-01 00:18] atombender commented on #14779
That seems like a different issue: Hide _all_ panels/sidebar. This is just about needing a command.

[2016-11-01 00:19] rebornix commented on #14779
IMO I think it's not a good idea that just exposing a way to hide everything instead of splitting them into several meaningful commands. But wait and see @isidorn 's input on this and then see if we want to open this issue for tracking.

[2016-11-01 00:20] Tyriar commented on #13625
@the-ress thanks for pointing that out, I wasn't aware :smiley:

[2016-11-01 00:20] roblourens commented on #14728
Cool. I can write something more comprehensive if needed. Another optional UI feature that I didn't mention is that VS and F12 collapse library code frames into one, so that you see

[code]

instead of

[code]

but you can double-click to expand

[2016-11-01 00:47] rpassis commented on #13366
Thanks Joao.

A clean shell didn’t solve the problem but it made me look into a couple of
different scenarios and what seems to be consistently happening is that
copy & paste is only broken when starting VS Code from inside a tmux
session.

Perhaps @imeredith and @pablolmiranda could confirm whether they use tmux
as well?

Thanks all,

Rogerio

On 1 November 2016 at 12:52:56 am, João Moreno (notif

[2016-11-01 00:56] rpassis commented on #13366
In addition to the above, I also noticed that two instances of VS Code are running in parallel when I start one via my tmux session and another via a separate clean shell session

[code]

You can also see that on the Mac Dock (see two VS Code icons on the right hand side of the image below).

<img width="1670" alt="screen shot 2016-11-01 at 11 54 57 am" src="https://cloud.githubusercontent.com/ass

[2016-11-01 01:02] Leon99 opened #14782 "Explorer doesn't refresh on doing Refresh"
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T16:21:53.542Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions: austin.code-gnu-global-0.2.1, chrisdias.vscode-opennewinstance-0.0.3, christian-kohler.path-intellisense-1.1.0, codezombiech.gitignore-0.2.0, Compulim.compulim-vscode-closetag-0.1.2, dbankier.vscode-instant-markdown-0.1.0, donjayamanne.listFiles-0

[2016-11-01 01:06] sudopluto commented on #2973
Is there any word on getting the apt repo signed?

[2016-11-01 01:16] atombender opened #14783 "No editor action to jump to next error in project"
- VSCode Version: 1.6.1

The editor action `editor.action.marker.next` ("Go to Next Error or Warning") only works for the current file. There seems to be no editor action for finding the next error in the project, even when the errors panel shows multiple files.

[2016-11-01 01:50] roblourens opened #14784 "Breakpoints on particular column"
There might be an issue for this already but I can't find one, so here's a general feature request for discussion.

It would be very useful to be able to set a breakpoint on a particular column of a line. It's useful for debugging promises -

[code]

or minified code -
[code]

especially since we don't have any way to pretty-print scripts while debugging them. As is, there's no way to break inside

[2016-11-01 02:25] czmecho commented on #12590
there have some problem too.
![screenshot from 2016-11-01 10-21-16](https://cloud.githubusercontent.com/assets/5077551/19877774/17649242-a01d-11e6-89a4-2c71b01de6c8.png)
the character is  hidden.
my environment is VSCode Version: 1.6.1
OS Version: Ubuntu 16.10
@chrmarti

[2016-11-01 03:05] Tyriar commented on #12590
Duplicate of https://github.com/Microsoft/vscode/issues/13554

[2016-11-01 03:05] #12590 closed

[2016-11-01 03:13] ChristianAlexander commented on #14266
As far as I can tell, this should be possible with [`workbench.action.git.sync`](https://github.com/Microsoft/vscode/blob/4482704deb34590b1599bfe20b6cdfe4268fe775/src/vs/workbench/parts/git/browser/gitActions.ts#L1148).

Perhaps [the keybindings page](https://code.visualstudio.com/docs/customization/keybindings) should be updated to tell users to check the "Here are other available commands" secti

[2016-11-01 03:20] GooseCoder commented on #14731
I've already tested this issue using the insiders version, and I can confirm that the issue has been fixed. I 'll be looking forward the new version. Thanks. :)

[2016-11-01 03:41] CodeGenTeam opened #14785 "How get environment variable in settings"
1. Latest
2. Windows 10

I want use environment varible, the same %COMSPEC%

This code isn't work:
`"terminal.integrated.shell.windows": "%~dp0git-for-windows\\bin\\bash.exe"`

I try create in .bat file environment variable and run VSCODE, but it's not work too.

[2016-11-01 03:48] #14785 closed

[2016-11-01 03:49] CodeGenTeam commented on #14785
I found solution. I was wrong. Environment variable is working.

[2016-11-01 03:59] CodeGenTeam opened #14786 "Running cmd.exe in minimize mode"
How pass to "terminal.external.windowsExec": "%COMSPEC%"
parameters or another way run cmd in minimize mode.
For example, I want:
start /min cmd.exe

How to supress “Terminate batch job (Y/N)” confirmation?

I found solution, create bat file, in body:
start /min %COMSPEC%

"terminal.external.windowsExec": "%PATH_TO_BAT%"

%PATH_TO_BAT% - set in bat, where we run VSCODE.

Is there another way?

[2016-11-01 04:08] CodeGenTeam opened #14787 "Internal terminal isn't correctly wrapped bash terminal"
I cannot overwrite in settings "terminal.integrated.shell.windows": "%COMSPEC%"
![image](https://cloud.githubusercontent.com/assets/11016041/19879272/cadc1a12-a012-11e6-8387-90099482c450.png)
For `"terminal.external.windowsExec": "%CURRENT_DIR%git-for-windows\\bin\\bash.exe"`
I can

This is not help #7286, but it's dublicate: #7344 (it's not resolve)

But It's work: `"terminal.integrated.shell.win

[2016-11-01 04:32] Tyriar commented on #14731
Good to hear :smile:

[2016-11-01 04:32] gregvanl commented on #14722
@weinand What is weird is that I don't see this issue on my MacBook for the same insiders build. Does that make sense to you.

[2016-11-01 05:48] japboy commented on #3907
I need proper cssnext support 👍

[2016-11-01 05:48] bpasero commented on #11795
@chrmarti I think this is covered with https://github.com/Microsoft/vscode/issues/12665

There are many things in local storage that would benefit from validation after startup. To me the only solution is to detect file events between restarts, anything else is a custom hack. You end up building 2 layers of validation (the one using file events and the other by checking each and every file for exi

[2016-11-01 05:57] bpasero commented on #14038
I think it already works fine for untitled files as you can see by starting code.sh with a file that does not exist (it will open right as dirty). And the related code seems to be https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/common/editor/untitledEditorModel.ts#L133

So what is missing is firing the event right after loading the model. I think the timeout is needed to actually

[2016-11-01 05:59] bpasero commented on #14774
Insiders build and stable build never read anything from the same location, they always had distinct folders for all the data (not just settings). There was no change in this area.

[2016-11-01 06:01] bpasero commented on #14222
@gerhardcit so you say it does only reproduce in Insider and not in Stable?

[2016-11-01 06:02] bpasero commented on #14782
Please see if you can find any logged output that could help us find the source of the issue:
* run `code --verbose` from the command line and attach the output
* in Code select **Help | Toggle Developer Tools** and select the **Console**
* attach any output you see in the **Console** you can find

Thanks!

[2016-11-01 06:19] AkashGutha opened #14789 "VSCode opened from Command prompt closes if cmd closed"
- VSCode Version: 1.6.1
- OS Version: windows 7

Steps to Reproduce:

1. open command prompt in a folder and use command 'code .'
2. after vscode launches close the cmd , it will also close the corresponding vscode window.

I would be great if this wasn't the case.

[2016-11-01 06:19] rosrad opened #14790 "Chinese characters visible"
- VSCode Version:1.6.1
- OS Version: win10

Steps to Reproduce:

1.  can not show Chinese characters

[2016-11-01 06:32] bpasero commented on #14789
@AkashGutha That should not be the case unless code points to the actual code.exe in the installation directory.

[2016-11-01 06:35] vscodeerrors opened #14791 "Uncaught Error: Not supported"
Issue Id: <b>fb5ef9ee-4470-07df-7ee3-8716b06c2425</b><br /><br />*Versions* <br />- 1.7.0-insider (10/28/2016 1:02:33 PM)<br />-  1d2d5e089a8261ebb6ad6dfb2e847e5aa1c16f9d<br />-  cb0a9f0aacdc23e1e543d3057569218d8f944186<br />*Stack* <br />Error: Not supported<br />[/vs/editor/common/viewModel/splitLinesCollection.ts#L110:9](https://github.com/microsoft/vscode/blob/0706b425537d8cfe2766eac00662ecf98

[2016-11-01 06:36] AkashGutha commented on #14789
my path is setup to point the VSCode installation folder.

D:\vscode

[2016-11-01 06:38] bpasero commented on #13104
I verified that this will be fixed in Chrome 53+.

[2016-11-01 06:39] bpasero commented on #14789
@AkashGutha make sure to not point to `code.exe` but `code.cmd` inside the `bin` folder:

![image](https://cloud.githubusercontent.com/assets/900690/19881480/5a13dd8a-a006-11e6-97a5-fc808de25d75.png)

[2016-11-01 06:44] AkashGutha commented on #14789
Yes! that worked. :)

[2016-11-01 06:44] #14789 closed

[2016-11-01 07:25] isidorn commented on #14729
I do not think that is a big breaking change.
@weinand thoughts?

[2016-11-01 07:27] isidorn commented on #14779
Dup of https://github.com/Microsoft/vscode/issues/14674

[2016-11-01 07:27] #14779 closed

[2016-11-01 07:45] octref opened #14793 "Format changes content in tsx"
- VSCode Version: 1.7
- OS Version: OS X 10.11.6

Before formatting

[code]

After Document Format with 2 spaces:

[code]

The space between `} and` is gone after formatting.

[2016-11-01 07:50] dantmnf opened #14794 "Word wrap doesn't wrap on window width for indented CJK text"
- VSCode Version: Code - Insiders 1.7.0-insider (0706b425537d8cfe2766eac00662ecf988c7ed7f, 2016-10-28T13:10:55.168Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|

---

Steps to Reproduce:

1. Input a long line of CJK text with leading spaces/tabs
2. Enable word wrap

![codewordwrap1](https://cloud.githubusercontent.com/assets/2252500/19882744/d53

[2016-11-01 07:51] joaomoreno commented on #14767
Maybe try

[code]

Reference: https://github.com/Microsoft/vscode/blob/master/build/win32/code.iss#L762

[2016-11-01 07:51] #14767 closed

[2016-11-01 07:51] #14764 closed

[2016-11-01 07:53] joaomoreno commented on #14672
The issue seems to be that you configured an HTTP proxy, but Code is accessing HTTPS resources. So there is a protocol error (`EPROTO`).

Extensions are not installed via npm, but via Code itself.

[2016-11-01 07:56] joaomoreno commented on #14778
This will likely not happen for VS Code. It's an interesting request for the [Marketplace](https://marketplace.visualstudio.com/?VScode=1) though. Especially, if they open up their API, you could actually implement this yourself.

[2016-11-01 07:56] #14778 closed

[2016-11-01 07:56] joaomoreno commented on #14754
You seem to have your system configured for German, notice the `Fehler` in your screenshot. 👍

The fix will come out with the soon-to-be-out October release.

[2016-11-01 07:59] joaomoreno commented on #13366
Good, we're getting somewhere. 👍

I still can't reproduce when using tmux, though. What's the output of `echo $TMPDIR` inside and outside of a tmux session?

[2016-11-01 08:00] jrieken commented on #14727
@bpasero For suggest I have implemented something similar to what @ramya-rao-a wants. It scores entries based on the search highlights, supports camel case and nearest match. We might want to consolidate, code is here: https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/suggest/common/completionModel.ts#L169

[2016-11-01 08:03] joaomoreno commented on #14266
Thanks @ChristianAlexander !

[2016-11-01 08:03] #14266 closed

[2016-11-01 08:07] #14135 closed

[2016-11-01 08:12] sandy081 opened #14795 "Not able to reload or quit VS Code"
- VSCode Version: Code - Insiders 1.7.0-insider (0706b425537d8cfe2766eac00662ecf988c7ed7f, 2016-10-28T13:00:19.188Z)
- OS Version: Darwin x64 16.0.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-docker|PeterJausovec|0.0.7|
|theme-atom-one-dark|andischerer|0.0.1|
|close-all|benjpas|1.0.2|
|vscode-eslint|dbaeumer|1.0.8|
|tslint|eg2|0.5.39|
|vsc-travis-ci-status|felixrieseberg|1.0.5

[2016-11-01 08:25] joaomoreno commented on #14760
@bpasero It works when moving the editor itself, instead of the whole group.

[2016-11-01 08:37] vladimir-trifonov opened #14796 "Terminal history is truncated after resizing the window when word wrap setting is being applied"
- VSCode Version: 1.6.1
- OS Version: macOS Sierra v. 10.12.1

Steps to Reproduce:

1. Add "editor.wrappingColumn": 0 in settings.json to apply word-wrap setting by default.
2. Resize the window - make it smaller, then maximize it again.

The terminal history is truncated:

![screenshot 2016-11-01 10 29 42](https://cloud.githubusercontent.com/assets/7524789/19883832/0f0ed646-a01f-11e6-8217-1247b72

[2016-11-01 08:50] isidorn commented on #14649
@alexandrudima after investigating it seems like the editor is sending a wrong scroll change event when vscode window resizes to a smaller size.

To reproduce
1. Open debug repl
2. Reduce the size of the whole vscode window
3. Notice that even if the debug input is empty the editor is emitting scroll change events with `scrollHeight = 28` [here](https://github.com/Microsoft/vscode/blob/master/src/

[2016-11-01 08:56] weinand commented on #14729
Since this is a breaking change we need to offer opt-in for clients.
Debug protocol changes:
- a document change for the debug protocol,
- a new capability `supportsEscapedNewlines`

The VS Code must only implement Rob's change from above if the debug adapter returns `true` for `supportsEscapedNewlines`.

[2016-11-01 09:00] #1104 closed

[2016-11-01 09:00] isidorn commented on #1104
We have introduced `${fileBasenameNoExtension}`
@gregvanl could you please document this in our docs for subsitituting variables?

[2016-11-01 09:01] isidorn commented on #13424
Assigning to @roblourens until this is implemented in the adapters. Once that is done assign back to me and I can pick it up in the UI

[2016-11-01 09:06] rpassis commented on #13366
Hi @joaomoreno

I just found this issue under the Electron repo which explains the behaviour some of us are experiencing.

https://github.com/electron/electron/issues/916

Since it's not VS Code related, I think it is safe to close it.

Thanks again

[2016-11-01 09:18] #14357 closed

[2016-11-01 09:30] #14352 closed

[2016-11-01 09:30] isidorn commented on #14352
fyi @joaomoreno

[2016-11-01 09:30] #14786 closed

[2016-11-01 09:31] weinand commented on #14729
@isidorn please make sure that the `supportsEscapedNewlines` controls *all* newline massaging.
We want to avoid that we have to introduce another capability for this in the future.

[2016-11-01 09:32] dbaeumer opened #14797 "Add workaround for TS issue: https://github.com/Microsoft/TypeScript/issues/11883"
We can workaround this on our end by actively setting the `allowNonTsExtensions` compiler options for `compilerOptionsForInferredProjects`.

[2016-11-01 09:36] magic007 opened #14798 "golang 有些关键词提示不全，例如struct，return等"
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T16:21:53.542Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions: felixfbecker.php-debug-1.9.7, lukehoban.Go-0.6.47

Steps to Reproduce:

1.struct，return 无提示
2.

[2016-11-01 09:37] hoovercj opened #14799 "Support KeyUp Bindings"
This is a feature request to support KeyUp bindings in addition to the current bindings.

Motivation:
Commands that have a show/hide or enable/disable pairing would benefit greatly if they could be toggled  with both a keydown and keyup. For example, "Show Hover" would be a great candidate. Executing "show hover" when the key is down and executing "close hover" on a keyup instead of needing to pre

[2016-11-01 09:38] bpasero commented on #11795
@chrmarti this recorded file events feature would also be interesting if we ever build a file index that is persisted on disk. To update the index, the missed file events should be played back right after startup.

[2016-11-01 09:43] kisstkondoros commented on #2210
FYI: https://marketplace.visualstudio.com/items?itemName=kisstkondoros.svgpreview

[2016-11-01 09:44] hoovercj opened #14800 "Extension Usage Telemetry"
This is a feature request for basic extension usage telemetry.

Many platforms show app/extension developers basic statistics such as installs per day, uninstalls per day, daily active users, etc.

If it is done in the core product and made available to developers through the marketplace management dashboard, the data will benefit ALL extension developers while ensuring proper information and prot

[2016-11-01 09:45] #14797 closed

[2016-11-01 09:47] aeschli commented on #14753
[code]

Seems to work with spaces after the colons

[2016-11-01 09:48] aeschli commented on #14753
This issue was moved to textmate/yaml.tmbundle#18

[2016-11-01 09:48] #14753 closed

[2016-11-01 09:50] shanalikhan opened #14801 "Need information about User folder files"
Hi,
Following is the User folder in OSX
![screenshot 2016-10-31 19 57 02](https://cloud.githubusercontent.com/assets/8774556/19885787/45c82002-a042-11e6-8c9f-56c103afc3c4.png)

I need some information about the files and when they get updated

1. What is .DS_Store file, when does this created and updated?
2. what is vsicones.settings.json file, when does this created and updated?
3. which is vsico

[2016-11-01 09:51] bpasero commented on #14727
@jrieken maybe you can move this code to `filters.ts` or scorer.ts so that it can be reused? I use scorer.ts today to rank based on fuzziness but we only use this for matching on file paths in quick open currently. I found the fuzziness too aggressive for the command palette.

[2016-11-01 09:52] bpasero commented on #14727
Related/duplicate: https://github.com/Microsoft/vscode/issues/1964

[2016-11-01 09:53] aeschli commented on #14749
@joaomoreno You added it through https://github.com/Microsoft/vscode/pull/7304.

Removing it...

[2016-11-01 09:54] #14749 closed

[2016-11-01 09:56] bpasero commented on #14795
Tried to reproduce but failed. The reload window command is very trivial, I wonder why it failed. If it happens again, please try to debug:

![untitled](https://cloud.githubusercontent.com/assets/900690/19885974/d51645de-a021-11e6-8fff-de5e19d48ff4.gif)

[2016-11-01 10:00] luckylucy1233 opened #14802 "comments on js cannot be used !"
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T16:21:53.542Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions: AESSoft.aessoft-class-autocomplete-0.1.0, IBM.output-colorizer-0.0.8

Steps to Reproduce:

1.<script></script>内的js代码不能多行注释，如下
`  `
![1](https://cloud.githubusercontent.com/assets/22283858/19886092/cbb46c74-a05c-11e6-9bb3-4f5e4e6d8069.png)

[2016-11-01 10:01] ayyash commented on #14255
Is this released yet? Code insiders? Does the change indicate that i will have to create my own shortcut?

[2016-11-01 10:03] bpasero commented on #14760
@joaomoreno check what the `htmlPreviewPart` does in this case: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/html/browser/htmlPreviewPart.ts#L92

Maybe there is room for some reuse in that component so that you do not have to rebuild everything? Ideally all webview code lives in one component with all the tricks and hacks included.

[2016-11-01 10:04] kisstkondoros opened #14803 "Support a way to set image size in MarkedString"
**User story**
As an extension developer,
I would like to be able to set image sizes in markdown,
So that I can provide nicer images in the hover widget.

**Tech. background:**
VSCode uses marked as markdown processor. Unfortunately this does not provides a way to set width and height for images out of the box...
There is a way to configure a special renderer for it e.g.:
[code]

This would allow

[2016-11-01 10:05] joaomoreno commented on #13366
Epic find. Thanks a lot!

[2016-11-01 10:05] #13366 closed

[2016-11-01 10:07] joaomoreno commented on #14749
Thanks @aeschli, I must've missed @seanmcbreen's comment.

[2016-11-01 10:10] aeschli commented on #14748
Sorry, can't reproduce on either Linux or Windows.
What do you mean by 'Folding is dead'? Can you attach a screenshot?
Ctrl+S is save and will trigger save participants like format on save. Are there any content changes happening?

[2016-11-01 10:13] aeschli commented on #14726
duplicate of #3481

[2016-11-01 10:13] #14726 closed

[2016-11-01 10:18] #14723 closed

[2016-11-01 10:18] #14744 closed

[2016-11-01 10:21] jrieken commented on #2210
Agreeing @kisstkondoros that this should be done via an extension. We have added API to add commands/action to editor titles and context menus

[2016-11-01 10:21] #2210 closed

[2016-11-01 10:22] aeschli commented on #14709
Sorry, we can only open the link is the css is at a location relative to the html file.

[2016-11-01 10:22] #14709 closed

[2016-11-01 10:25] aeschli commented on #14696
@andrewgale1 Can you add a source example and let us know which color theme you are using?

[2016-11-01 10:26] #14635 closed

[2016-11-01 10:35] #14760 closed

[2016-11-01 10:36] joaomoreno commented on #14760
@bpasero Thanks!

[2016-11-01 10:36] johnliu2016 commented on #14734
loc file location, e.g. KOR - [terminal.contribution.nls.resx.lcl](https://monacotools.visualstudio.com/Monaco/_git/MonacoLocalization#path=%2FLocalize%2Fkor%2Fvscode%2Fsrc%2Fvs%2Fworkbench%2Fparts%2Fterminal%2Felectron-browser%2Fterminal.contribution.nls.resx.lcl&version=GBmaster&_a=contents)

      <Item ItemId=";terminal.integrated.shell.windows" ItemType="0;.resx" PsrId="211" Leaf="true">

[2016-11-01 10:36] DasJott commented on #14748
It is perfectly reproducable here on Ubuntu 16.04.

I mean, that nothing - neither the function nor anything inside - is foldable anymore.

I know that ctrl+s is save. It's  reflex I do - even after just copying something. So wothout thinking I press ctrl+c,s and folding disappears from the method/function.

No content changes happening.

I made a Video. between selecting and moving the mouse agai

[2016-11-01 10:37] aeschli commented on #14689
'select' is on the list of tags that should not be formatted (as a change can impact the rendered html).
See setting "html.format.unformatted" for the list and remove select there if you know what you do.

[2016-11-01 10:37] #14689 closed

[2016-11-01 10:39] joaomoreno commented on #6096
Everything is super clean now! 🎆

[2016-11-01 10:39] #6096 closed

[2016-11-01 10:39] aeschli commented on #14686
This issue was moved to textmate/shellscript.tmbundle#33

[2016-11-01 10:39] #14686 closed

[2016-11-01 10:39] #7607 closed

[2016-11-01 10:47] jrieken commented on #14758
related, maybe dupe of #11638

[2016-11-01 10:47] aeschli commented on #14665
Our built-in HTML formatter (based on jsbeautify) doesn't know about Jinja2 directives.

That would be a good opportunity for an extension...

[2016-11-01 10:59] #14751 closed

[2016-11-01 12:08] AkashGutha commented on #14802
it's because that is not how js comments work.
for js comments see http://www.w3schools.com/js/js_comments.asp

single line
[code]

multiline comment
[code]

the one you are using are HTML comments they won't work in JaavScript

[2016-11-01 12:17] iamdevlinph commented on #2204
+1 For readability of elements

[2016-11-01 12:20] sanmahad opened #14805 "No autoscroll feature and select all in integrated console"
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T16:21:53.542Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions: dbaeumer.jshint-0.10.15, gerane.Theme-Dreamweaver-0.0.2

Steps to Reproduce:

1. In the integrated console, run few commands
2. Try to copy the lines more than you can see in the integrated console. It wont auto scroll.
2. Also there is no select al

[2016-11-01 12:55] steve-ross commented on #8499
Know this is closed (and working fine) however, is there a way to force setting to always on? Would be useful if i have the editor split so I can tell the following apart easily:

![screen shot 2016-11-01 at 8 54 53 am](https://cloud.githubusercontent.com/assets/297351/19890402/e60d49c0-a010-11e6-8ba3-03c74ebfaa50.png)

[2016-11-01 13:02] Alber70g commented on #1947
Any chance this will be implemented anytime?

[2016-11-01 13:17] weinand commented on #13424
I will create an issue for Rob in his repository.

[2016-11-01 13:24] malte-timmermann commented on #13597
Hi bowdenk7,

thanks for looking into this.

Too bad that VS Code wont support this, as this works fine in Netbeans, and changing code is not an option.

Given that ES6 is currently not used by most people developing web apps - really no chance to support it?

At least you wrote "at the moment" - so there is hope?

Best regards
Malte.

[2016-11-01 13:52] nickletgo commented on #14672
Got it. So does it mean I have to use a https proxy and configure "https.proxy" in order to in order to install extensions? Does Code have a http resource for extension installation?

[2016-11-01 13:59] joaomoreno commented on #14672
No, just `http.proxy` will do. Just make sure your proxy handles HTTPS.

[2016-11-01 14:03] bpasero commented on #8499
https://github.com/Microsoft/vscode/issues/13350

[2016-11-01 14:05] #14578 closed

[2016-11-01 14:11] vsrc commented on #9524
@joaomoreno unfortunately it is still an issue including with version ```1.6.1``` However insiders version works fine this all time 😕  🤔  really wierd. I switched fully to use insiders version.

[2016-11-01 14:17] aeschli commented on #14661
I'm able to reproduce.
model.getModeIdAtPosition returns 'css' for every line. Problem is that the scss to level scope name is 'source.css.scss' and is the top level scope on the stack.
@alexandrudima Just guessing here, but when trying to find an embedded scope, all matches need to be looked at and the longest matching would win, e.g source.css.scss is more specific than source.css

[2016-11-01 14:23] z-ax commented on #9594
Have same issue: offers me to Configure Excludes, notice says "/node_modules/", but I have excluded them and everything don't need, like `dist` dir etc.

Tried both with slashes and without, same result.

[2016-11-01 14:29] jammerware opened #14807 "Enhancement request: text formatting access in vscode.window.showInformationMessage"
I'd like the ability to format information messages that my extension shows possibly via markdown. For example, I'd like the following input to be rendered as markdown when the alert is presented to the user:

[code]

Just thought I'd see if this makes sense to anyone else. Thanks for your consideration and for your hard work on VS Code!

[2016-11-01 14:37] chrmarti commented on #11795
Duplicate of #12665

[2016-11-01 14:37] #11795 closed

[2016-11-01 14:53] #14711 closed

[2016-11-01 14:55] s130059660 opened #14808 "Negation of negative (double negatives) in settings"
- VSCode: Latest Insider 1.7:
- OS Version: Any

Hi,

Do you think this double negatives in VSCode settings:
`"typescript.disableAutomaticTypeAcquisition": false`

Should be re-worded to positive one like:
`typescript.AutomaticTypeAcquisition": true`
or
`typescript.EnableAutomaticTypeAcquisition": true`
or
`typescript.AcquireTypeAutomatically": true`

[2016-11-01 14:58] wUFr commented on #13997
btw these freezes were introduced after 1.2.1 version... that was last stable VSC version..

[2016-11-01 15:04] tony-garcia commented on #4795
Just wanted to add that it would be great for this to work with python code, where code blocks aren't delineated by brackets or parentheses, but tabs (currently, once it you expand the selection beyond the current block in a python file, all of the code is selected). I'll second that I'd like to see it work as in the Jetbrains products. In PyCharm it works great with both python and javascript fil

[2016-11-01 15:08] #13969 closed

[2016-11-01 15:09] dbaeumer commented on #14734
Actually this was a tooling issue. I fixed it in the MonacoLocalization repository.

[2016-11-01 15:09] #14734 closed

[2016-11-01 15:11] dbaeumer commented on #14759
We simply use the position we get from the tsserver. So need to check what they return (using tracing option)

[2016-11-01 15:12] dbaeumer commented on #14524
yes.

[2016-11-01 15:13] dbaeumer commented on #13963
We :-)

[2016-11-01 15:30] Andikki opened #14809 "Spaces are converted to tabs in html regardless of indentation settings"
- VSCode Version: 1.6.1
- OS Version: Windows 10

Steps to Reproduce:

1. Create a folder with one .html file with some indented html content and workspace settings.json (`F1` => `Preferences: Open Workspace Settings`). Define settings like this:
[code]
2. Open the .html file, press `F1` > `Convert Indentation to Spaces` (or do this from the status bar). See that the lines are indented with spaces

[2016-11-01 15:34] brennanMKE commented on #9087
For my issue with my Mac being configured with `/bin/false` for the shell and VSCode using it for the app settings there could be a better way to handle it. The default shell on the Mac is `/bin/bash` so if it is `/bin/false` and VSCode is launched the first time perhaps that setting could be rejected and revert to `/bin/bash` instead. This way the integrated shell will always work when that alter

[2016-11-01 15:36] roblourens commented on #14729
@weinand Good point, even though we don't render multiline strings very well in the variables pane, there might be another client that does, and we should try to treat all the strings from the debug adapter consistently.

[2016-11-01 15:37] DmytroYeremieiev commented on #4795
`    sco|pe.vm.renderSetting = {};`,  there  `|` is cursor and `[]` is highlighted selection:
So, the first execution of command `editor.action.smartSelect.grow` produces:
 `    [scope].vm.renderSetting = {};`
The second one:
 `    [scope.vm].renderSetting = {};`
The third one:
 `    [scope.vm.renderSetting] = {};`
Then fourth one:
 `    [scope.vm.renderSetting = {};]`
Then fifth one(selects the w

[2016-11-01 15:43] rebornix commented on #14798
Please file this issue to github.com/microsoft/vscode-go as it's go related.

[2016-11-01 15:43] #14798 closed

[2016-11-01 15:44] rebornix commented on #14790
Can you provide detailed steps and information, like which Chinese characters are not shown, Menu, Panel or document? It would be better if you can provide a screenshot.

[2016-11-01 15:51] bpasero opened #14810 "Flaky test: ExtHostDocumentSaveParticipant event delivery, overall timeout:"
Seen in https://travis-ci.org/Microsoft/vscode/jobs/172315446#L6894

[2016-11-01 15:53] csholmq commented on #981
@Ciantic Not sure if I'm missing the point here. But why the space? This works for me:

[code]

[2016-11-01 15:54] rebornix commented on #14783
assign to @alexandrudima first per git blame but I think we might already have this issue reported.

[2016-11-01 15:55] Tyriar commented on #9087
`/bin/false` is very specific to your organization, it wouldn't make sense to add a special case for all the possible weird cases. A friendly message indicating your shell and args should be enough to diagnose in the general case.

[2016-11-01 15:57] rebornix commented on #14794
It might be duplicate of https://github.com/Microsoft/vscode/issues/9989 .

[2016-11-01 15:58] felixfbecker commented on #981
@csholmq This issue is about defining different commands per task. You are defining `make.bat` for all tasks.

[2016-11-01 16:24] csholmq commented on #981
@felixfbecker Ah, so simple. That's what I missed :)

[2016-11-01 16:45] Tyriar commented on #14151
This should have been fixed by https://github.com/Microsoft/vscode/issues/14063

[2016-11-01 16:45] #14151 closed

[2016-11-01 16:46] ThePeach commented on #14535
@joaomoreno: yes it does

[2016-11-01 16:47] Tyriar commented on #14153
I think this was to do with not handling the case where hot exit is disabled correctly.

[2016-11-01 16:56] ConsoleHack000 opened #14812 "VSCode stuck at 'installing' phase while installing plugins."
- VSCode Version: 1.6.1
- OS Version: Ubuntu 16.10
I simply can't install extensions on VSCode. When I find the desired extension and click Install, the button turns slightly grayish, the text becomes "installing" and its stuck like that forever. It does not freeze or anything, it doesn't install the extension, but I am able to use VSCode fine.
Somehow it did install one extension and I don't thin

[2016-11-01 17:05] #14125 closed

[2016-11-01 17:06] rebornix commented on #14807
thanks for reporting this issue. It's dup of #6087. Let's track it there.

[2016-11-01 17:06] #14807 closed

[2016-11-01 17:07] brennanMKE commented on #9087
I do not believe it is an uncommon case. That `false` shell is used intentionally to prevent remote access to the shell for the purpose of making a computer more secure. This is done on Linux as well. Simply detecting that is the configured shell is set that way would be a good indication to revert to the default shell for a local, interactive shell.

Another common option is `nologin` which can a

[2016-11-01 17:08] isidorn opened #14813 "Test: watch expressions drag and drop"
- [x] any os @alexandrudima

Complexity: 1

As per user request #14125, we now support reordering of watch expresions via drag and drop. Make sure this works as expected - both during a debug session and outside of a debug session.

[2016-11-01 17:09] brennanMKE commented on #9087
You can read `/etc/shells` for a list of shells and perhaps use the first one as the default if the currently configured shell is set to block remote access.

[2016-11-01 17:11] kristianmandrup opened #14814 "Using mocha - describe and it are not defined"
How do I make the editor understand that `describe` and `it` are valid globals?
I have an `eslintrc`, a `jscrc` and a `tsconfig.json` file. Where to define such globals so that VSC picks them up? I guess it is a linter error?

Thanks!

[2016-11-01 17:14] be5invis opened #14815 "New project template"
Initialize a project using predefined contents provided by plugins.

[2016-11-01 17:14] xinyanmsft opened #14816 "Be able to run code after debugging completes."
This is a feature request.

I am doing an experiment using VSCode around remote debugging. I use SSH port forwarding to connect to remote debugger (as part of preLaunchTask). It works great. However there is currently no way for me to shutdown the SSH after debugging completes.

It will be great if there are something like 'postDebugTask' where I can run something to clean things up. This seems to

[2016-11-01 17:17] seanmcbreen commented on #14780
Hi,

Thanks for reporting this - we are not familiar with LANDesk.

Unfortunately changing our core executable name would be very disruptive for our existing installed base on multiple dimensions and there is no guarantee that any new name would not create additional issues.  This is the first such report we have had.  But I'm sure not the last.

As a result the best thing to do in this case it to

[2016-11-01 17:17] #14780 closed

[2016-11-01 17:18] rebornix commented on #14815
@be5invis thanks for reporting this issue. We already have #12322 and let's track it there.

[2016-11-01 17:18] #14815 closed

[2016-11-01 17:20] be5invis commented on #12322
And the template should be able to provide compilation options, especially for C/C++.

[2016-11-01 17:23] andrewgale1 commented on #14696
![screen shot 2016-11-01 at 10 19 57 am](https://cloud.githubusercontent.com/assets/21045477/19899388/31b1bf4e-a01d-11e6-83b5-71eb473d0b31.png)

theme is dark+

[2016-11-01 17:24] rebornix commented on #14801
Please ask 'how-to' questions about VS Code on [Stack Overflow](https://stackoverflow.com/questions/tagged/vscode) using
the tag `vscode`.

The VS Code development team together with the VS Code Community will answer question your question over there.
Here is how the development team tracks feedback on the different channels: [Feedback Channels](https://github.com/Microsoft/vscode/wiki/Feedback-Ch

[2016-11-01 17:24] #14801 closed

[2016-11-01 17:25] rebornix commented on #14802
Close as it's not a Code issue and @AkashGutha already helped with it. Thanks!

[2016-11-01 17:25] #14802 closed

[2016-11-01 17:26] rebornix commented on #14805
We are using xterm.js and this issue is on our list, please keep an eye on https://github.com/sourcelair/xterm.js/issues/207 about its status.

[2016-11-01 17:26] #14805 closed

[2016-11-01 17:37] rebornix commented on #14809
It's dup of #13563. We have already fixed this in master and you can see this in 1.7

[2016-11-01 17:37] #14809 closed

[2016-11-01 17:38] rebornix commented on #14816
Dup of #11522 . Thanks @xinyanmsft

[2016-11-01 17:38] #14816 closed

[2016-11-01 17:38] joaomoreno commented on #14535
Strange, sorry for asking that twice. Can you show me the contents of `.git/hooks/pre-commit`?

[2016-11-01 17:39] joaomoreno commented on #14812
Does it happen with everything you try to install? Even simple extensions such as themes?

[2016-11-01 17:43] rebornix commented on #14814
What you actually need is typings file for mocha https://gist.github.com/muratg/4163650

[2016-11-01 17:43] #14814 closed

[2016-11-01 17:48] kristianmandrup commented on #14814
But I'm not using TypeScript, just a plain ES6 Javascript project. I need it even then!?

[2016-11-01 17:48] rebornix commented on #14787
@CodeGenTeam sorry are you saying this issue is dup of #7344 ? If so I'd like to close this one and track it there.

[2016-11-01 17:59] rebornix commented on #14814
@kristianmandrup for now it is, Code needs it to do the type checking.

But we implemented automatic type acquisition https://github.com/Microsoft/vscode/issues/14296, which means you don't need to do so this anymore with 1.7.0 (Insiders right now or Stable after we release it).

For now my personal experience with Mocha on Code Insiders 1.7 is

1. Create node project
2. `npm install --save mocha`

[2016-11-01 18:00] bpasero commented on #13156
@bogomips do you still see tabs closing randomly using latest VS Code 1.6.x?

[2016-11-01 18:04] jammerware commented on #14807
Sorry about that! Thanks.

On Tue, Nov 1, 2016 at 1:06 PM Peng Lyu <notifications@github.com> wrote:

[2016-11-01 18:08] Tyriar opened #14817 "Provide shell fallbacks for common patterns used to disable shell"
See https://github.com/Microsoft/vscode/issues/9087#issuecomment-257626140

A fallback may make sense when shells like `/bin/false`, `/sbin/nologin`, `/usr/sbin/nologin`, etc. are detected. For the actual fallback probably reading `/etc/shells` and grabbing `/bin/bash` if it exists otherwise using the first (or /bin/sh`) in the list.

[2016-11-01 18:09] Tyriar commented on #9087
@brennanMKE good to know :smile: I created https://github.com/Microsoft/vscode/issues/14817 to follow it up independently of this issue.

[2016-11-01 18:12] Tyriar commented on #14796
Duplicate https://github.com/Microsoft/vscode/issues/8336

[2016-11-01 18:12] #14796 closed

[2016-11-01 18:15] Tyriar commented on #14038
@bpasero a timeout as in x seconds? Do you have a recommended number of ms to (hopefully) guarentee it won't be flaky?

[2016-11-01 18:16] gregvanl opened #14818 "SaveAll Linux keybinding Ctrl+Alt+S minimizes VS Code on Ubuntu"
- VSCode Version: 1.7.0 insiders
- OS Version: Linux Ubuntu 14.04

We added a keybinding for workbench.action.files.saveAll in the 1.7 release to Ctrl+Alt+S for Linux.

{ "key": "ctrl+alt+s",            "command": "workbench.action.files.saveAll" }

For Ubuntu, this is bound to OS command to minimizes the window and VS Code is minimized (not what the user is expecting).

Suggestion: bind Files: Sa

[2016-11-01 18:19] kristianmandrup commented on #14814
Sweet :) looking forward to 1.7!!!
For now I got around it by using my own chaining DSL around mocha.

npm: mocha-test-dsl :)

[2016-11-01 18:22] rebornix commented on #14818
This issue is similar to #13567 which targets windows platform. That issue was initially assigned to @chrmarti first so I did so as well.

[2016-11-01 18:24] bgashler1 commented on #13350
I don't have any data to back this up per-se, but I would think it would make sense to leave this on even after splitting.  I think even if it's split that it's not clear where each file is living.  Just my opinion though, not complaining :)

[2016-11-01 18:28] Tyriar commented on #14818
It actually seems to do nothing on Ubuntu 16.10, either at a OS level or saving all. What was the reason this keybinding was added anything? Is `ctrl+k s` used in any other editors?

[2016-11-01 18:29] andrewgale1 commented on #14696
Hi,
earlier I posted a screenshot and theme.. but I figured it out. super embarrassing, it was an extra set of quotation marks.
this was the first thing I suspected when this started happening, and I checked and CHECKED and checked and could not find anything amiss. but today I saw that extra “.
i apologize for wasting your time.
all is well, thank you

[2016-11-01 18:50] #9087 closed

[2016-11-01 18:50] Tyriar commented on #9087
A better message coming in v1.8:

![image](https://cloud.githubusercontent.com/assets/2193314/19902812/631af77e-a029-11e6-8d5d-95d811e9b9d3.png)

[2016-11-01 18:52] chrmarti commented on #14818
Should have checked more carefully. The reason for adding this was: Users with auto-save disabled will end up with multiple dirty editors after global Replace All, Rename across files, possibly others. Binding Save All seemed like a good idea.

[2016-11-01 18:55] jay-bricksoft commented on #12322
Yes, that is one of my intentions of a templating system for VSC.

[2016-11-01 19:00] Tyriar commented on #14818
There's a bit of background to this, many people actually wanted it to be bound to ctrl+shift+s at launch because I believe VS is like that. We decided to align with Sublime's keybinding in this respect.

Given what we now know about ctrl+alt+s, I'm not sure there's much value in hiding it being a chord keybinding that isn't used in other programs.

[2016-11-01 19:00] roblourens commented on #14729
I'm still thinking about the capability name though, since an adapter might specifically set this option to avoid escaping newlines.

[2016-11-01 19:01] chrmarti commented on #14818
Atom and ST don't bind it on Ubuntu 14.04 or Windows 10, only on OS X. They might not use multiple dirty editors in their regular workflow as much as we do.

[2016-11-01 19:02] Shiichi0w0 opened #14819 "BUG-2016/11/02"
- VSCode Version: Code 1.6.1 **[Unsupported]** (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T16:21:53.542Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions: abusaidm.html-snippets-0.0.18, AdamCaviness.theme-monokai-dark-soda-0.0.5, anseki.vscode-color-0.2.1, donjayamanne.python-0.5.0, felixfbecker.php-debug-1.9.7, formulahendry.auto-rename-tag-0.0.7, HookyQR.beautify-0.5.3, magicstac

[2016-11-01 19:09] atombender opened #14820 "File tree nesting in sidebar is misaligned (Seti theme)"
- VSCode Version: 1.6.1

Example, annotated:

<img width="297" alt="x1" src="https://cloud.githubusercontent.com/assets/50314/19903301/8c8c8d50-a044-11e6-96db-d1704648b061.png">

VSCode makes it look like the .go files are all inside `testdata`, but they are in `querying`. The alignment is completely misleading.

Fixed:

<img width="297" alt="x2 copy" src="https://cloud.githubusercontent.com/asset

[2016-11-01 19:12] denisov1985 commented on #4865
+1

[2016-11-01 19:27] harryio commented on #14673
@weinand updated the description!

[2016-11-01 19:35] mrmlnc commented on #14819
Community need More information to try to help you. Please, provide more detailed description and steps to reproduce your problem.

[2016-11-01 19:40] Tyriar commented on #14818
I'd say align with Atom and ST in this respect, a new non-standard keybinding wouldn't be discoverable and people can always fallback on a custom keybinding if they need to.

On a personal note I don't use auto save or save all, when I use TS refactoring I go through my quick open editors list and save the files after making sure. Not the most efficient method but I'm concerned I have either untit

[2016-11-01 19:48] atombender opened #14821 ""code --reuse-window" doesn't reuse window when used as $EDITOR"
- VSCode Version: 1.6.1
- OS Version: 10.12.1

Steps to Reproduce:

1. `export EDITOR="code -r -w"`
2. Run `git commit`
3. New window will open for `COMMIT_MSG` file. Existing window is not reused.

Same thing with other Unix tools that use `$EDITOR`, such as `crontab`.

[2016-11-01 19:48] stefanofiorentino commented on #14764
@joaomoreno it took me almost 2 hours to found the right info at the link you proposed the fix. Just think to help others find the solution faster. By the way, thanks.

[2016-11-01 19:49] atombender commented on #14821
Possibly a dupe of #7929. I didn't know `-w` could invalidate `-r`.

[2016-11-01 19:50] #14821 closed

[2016-11-01 19:59] rebornix commented on #14820
Dup of #11762 .

@atombender thanks for reporting these issues, you contributed quite a lot these days.

[2016-11-01 19:59] #14820 closed

[2016-11-01 20:28] brennanMKE commented on #9087
👍

[2016-11-01 20:35] hveiras commented on #14774
The exact same thing happened to me today. I was switching between Insiders and Stable and I lost configurations in settings.json

[2016-11-01 20:40] Bill-Stewart commented on #14808
FWIW I agree. I think "disable"s should be `false` and "enable"s should be `true`. This is less confusing.

[2016-11-01 20:49] CodeGenTeam commented on #14787
This problem have another issue. bash isn't work correctly in wrapped terminal.

[2016-11-01 21:00] roblourens commented on #14729
Would you be ok with `disableValueEscaping`? 'value' to encompass variables and eval results, but not all the other string labels and things that can be returned.

[2016-11-01 21:19] hsutter commented on #5745
### *** Workaround for the bug ***

I've found a workaround that's reasonable for me for now -- use `editor.fontSize` in your `settings.json` to avoid having to zoom your editor, and a custom CSS file to set the Markdown body text and code text scaling to avoid having to zoom your Markdown preview. Then you can force both to be the zoom level you want, without the clipping but.

Here's how in two

[2016-11-01 21:21] bpasero commented on #1723
https://github.com/Microsoft/vscode/issues/12625 for the issue to show the full path in the title bar. This might resolve many (but not all) concerns of this issue.

[2016-11-01 21:26] bpasero commented on #14774
@hveiras what? is this reproducible?

[2016-11-01 21:29] brendandixon opened #14822 "Switching tabs loses scroll position"
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T15:27:10.246Z)
- OS Version: Darwin x64 16.0.0
- Extensions: DotJoshJohnson.xml-1.6.0, Shan.code-settings-sync-2.3.5, donjayamanne.python-0.5.0, groksrc.haml-0.0.2, lukehoban.Go-0.6.47, ms-vscode.csharp-1.4.1, rebornix.Ruby-0.10.1

Steps to Reproduce:

1. Open several files (my tests were all C# / .cs files)
2. Clic

[2016-11-01 21:44] bmidget opened #14823 "Rubber band scrolling for MacOS"
Feature request.

Native Mac apps rubber band when reaching the end of scrolling. It's one of the best features of macOS UI. But VSC does not rubber band when scrolling to the end of a document.

VSC should do native rubber banding when scrolling to top and bottom of a document on macOS.

[2016-11-01 21:45] roblourens commented on #13424
I added the scope locations to node-debug2. Will be in the next Insiders

[2016-11-01 21:54] rkirov commented on #12655
One can reproduce something like Evens' original issue without 'path', by the following program:

[code]

[code]

TypeScript will do a full node resolution looking for 'fs.ts', 'fs.d.ts', etc, on each level of the current project path, resulting in many os stats. Then 'node.d.ts' has internal 'declare module' imports, which are also looked against the file system first, before the module declarati

[2016-11-01 22:03] joshualemli opened #14824 "Ctrl+Alt+ UpArrow/DownArrow Creates additional cursor"
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T16:21:53.542Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions: none

Steps to Reproduce:

1. Open file to edit
2. Ctrl+Alt+ (UpArrow or DownArrow)

[2016-11-01 22:09] rebornix commented on #10471
@alexandrudima from my experience in handling keybindings in Vim, the need for lifting it to API is because we only support limited context key type https://github.com/Microsoft/vscode/blob/c67ef57cda90b5f28499646f7cc94e8dcc5b0586/src/vs/platform/contextkey/common/contextkey.ts which makes `keybindings` contribution doesn't always meet our need.

For example, we have quite a few Vim commands imple

[2016-11-01 22:09] madcampos opened #14825 "Allow for "shellArgs" in Windows integrated terminal"
- VSCode Version: 1.6.1
- OS Version: Windows 10

Steps to Reproduce:

1. Try to change `terminal.integrated.shell.windows` to pass additional parameters like variable expansion flag.
2. terminal fails with exit code 1

There is no current way to pass additional parameters to the Windows shell, it would be useful for configuration scripts and flags passed to the terminal, os other options passed t

[2016-11-01 22:15] rebornix commented on #14824
hey @joshualemli after press ctrl+alt+up, try press keys /a-zA-Z0-9/ and you will see it's our multi cursor feature.

[2016-11-01 22:15] #14824 closed

[2016-11-01 22:18] rebornix commented on #14822
As I can't reproduce this issue, can you try run vscode without any extensions by `code --disable-extensions` and see if it's still there.

[2016-11-01 22:19] ramya-rao-a opened #14826 "Open the README for extension while/after installation"
Once the user finds an extension in the extension viewlet, clicks on install, it would be nice to have the Extension page (with the readme etc) open up while the extension installs.
At present, this comes up only if the extension list item is selected.
Clicking on the "Install" button should trigger the same action

[2016-11-01 22:23] rebornix commented on #14825
Assign to @octref first as I saw https://github.com/Microsoft/vscode/pull/11982

[2016-11-01 22:38] octref commented on #14825
What shell are you using?

CC @Tyriar

[2016-11-01 22:41] Tyriar commented on #14825
This is fixed for Windows and coming to stable soon in v1.7.

[2016-11-01 22:41] #14825 closed

[2016-11-01 22:46] Tyriar commented on #14787
So environment variables being evaluated in the setting is tracked in #7344. Git bash does have some known issues on Windows in addition to some other shells, general git bash input issues are tracked in #7345.

[2016-11-01 22:46] #14787 closed

[2016-11-01 23:07] use-strict commented on #14677
@dbaeumer , I may be missing the point, but how is the current behavior any different? From what I can see, there is still a message box that has to be dismissed, the only difference being that it no longer has a terminate button. The solution feels like a workaround and, to be honest, is a real pain. F1 -> Terminate is way to slow for a very common task. Ideally, there should be a keyboard shortc

[2016-11-01 23:23] use-strict opened #14827 "Tooltip text wrapping cuts words, has scroll bar"
- VSCode Version: 1.6.1 (and insiders as well)
- OS Version: linux/win

See old tooltip (1.4, top) vs new tooltip (1.6.1, bottom)

![Tooltips](http://i.imgur.com/TQwgfkt.png)

I have a few problems with this tooltip:
1. The wrapping seems to be break-word, making some symbols hard to read.
2. There is a horizontal scrollbar inside the tooltip (Could editor.fontSize affect this?)
3. The tooltip is

[2016-11-01 23:24] fusion809 commented on #10857
I have provided a code-oss Debian package (https://github.com/fusion809/code-oss/releases/tag/debian1.6.1) and built an AppImage from it.

[2016-11-01 23:30] probonopd commented on #10857
@fusion809 thanks for your effort but please be aware that only Microsoft can build an official AppImage with the official branding as far as I understand.

[2016-11-01 23:33] fusion809 commented on #10857
Official branding? What's meant by that. I built an OSS build of code-oss using, the build system that VSCode's official developers put in place.

[2016-11-01 23:37] nojvek opened #14828 "VSCode fails scripts\npm install on windows and node 7"
[code]

[2016-11-01 23:38] Tyriar commented on #14153
This may be different to the original issue but closing multiple windows at once now doesn't seem to clean up the workspaces correctly, the root cause is likely multiple renderer processes trying to save the same file https://github.com/Microsoft/vscode/issues/14056

[2016-11-01 23:42] nojvek commented on #14828
[code]

[2016-11-01 23:43] Tyriar commented on #14056
See https://github.com/Microsoft/vscode/issues/14153, this is causing unwanted restores at start as workspaces are not removed from workspaces.json due to multiple processes accessing the same file.

[2016-11-01 23:58] Tyriar commented on #10857
I don't think [this line](https://github.com/fusion809/code-oss/blob/559d106a875a4851a02616ecbb0a989c82fb110d/product_json.patch#L8) for example is allowed since the "Visual Studio" branding can only be used in official builds by Microsoft. That's the main reason for the whole "Code (OSS)" vs "VS Code" thing. Same story with the logo.

[2016-11-02 00:00] fusion809 commented on #10857
I just use the code-oss as a place to upload the Debian package, it's does not contain the sources used to build the Debian package.

[2016-11-02 00:05] Tyriar commented on #10857
"code-oss" is fine, it's branding it as Visual Studio and using the logo that could potentially be an issue.

[2016-11-02 00:08] Tyriar commented on #10857
Some more info on the topic from one of our PMs https://github.com/Microsoft/vscode/issues/60#issuecomment-161792005

[2016-11-02 00:11] Tyriar commented on #14153
Closing as the code has change quite a bit since then and the rest I believe is a duplicate of #14056. We'll be doing a little internal test at Redmond before I push which should verify this is fixed.

[2016-11-02 00:11] #14153 closed

[2016-11-02 00:17] scgm11 opened #14829 "saving files, sometimes are not being saved"
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T15:27:10.246Z)
- OS Version: Darwin x64 16.1.0
- Extensions: HookyQR.beautify-0.5.3, Zignd.html-css-class-completion-1.0.3, abusaidm.html-snippets-0.0.18, cazzar09.Gradle-1.0.1, ceps.theme-darcula-0.0.4, christian-kohler.path-intellisense-1.1.0, eg2.vscode-npm-script-0.0.21, hars.CppSnippets-0.0.5, humao.rest-client

[2016-11-02 00:31] ramya-rao-a commented on #14248
@joaomoreno Do you have a way to repro this?
I am trying to fix the issue of broken callstacks such as these, but not able to get the right repro .....

[2016-11-02 00:38] fusion809 commented on #10857
Well if that's the only problems with my code-oss Debian package I've rebuilt it without any of the MIT license-breakers. Then I build an AppImage and it's working fine. So @probonopd I suspect all is good now and you can provide my AppImage at Bintray.

[2016-11-02 00:39] geekflyer commented on #4039
Hi, for JavaScript (possibly also for other languages) the `Backspace` key behaves pretty disappointing. It doesn't seem to consider the proper indentation for the given code section, hence can mess up the code style. As a result one has to often manually select the section and format the code. WebStorm as a comparison maintains the proper indentation while doing delete / `Backspace` operation.

T

[2016-11-02 00:47] jez9999 commented on #12623
OK I have figured out how to recreate this bug.

So, VS Code is not meant to have this behaviour.  It is a bug.  What is meant to happen is that the "scroll" class gets added to the "tabs-container" DIV element during a drag/drop operation (so that the tabbar can scroll right/left when you're dragging a tab), but when the drag operation ends, the "scroll" class gets removed.  See tabsTitleControl.

[2016-11-02 00:51] geekflyer commented on #4039
In JavaScript, TypeScript (and propably other languages too) the delete / `Backspace` operation behaves pretty badly with regards to keeping a proper indentation. It doesn't seem to consider the context / scope of the block and hence messes up the whole indent. I'm often using backspace to delete preceding lines. In VS code I have to press backspace multiple "more often" to delete a line and after

[2016-11-02 02:01] jez9999 commented on #12623
@bpasero I see you actually added this "prevent bubbling" behaviour on purpose in commit 383dc0ce2665ec2f28d54a71b0f6e5f8adda8f84 - could you tell me why?  I don't see any good reason to do so, and it introduces this bug.

[2016-11-02 02:03] #14056 closed

[2016-11-02 02:11] octref commented on #14829
Dup of #14635, fixed in the upcoming release.

[2016-11-02 02:11] #14829 closed

[2016-11-02 02:11] smlombardi commented on #4039
@geekflyer this is true, also pasting is not very smart either.

[2016-11-02 03:16] gregvanl opened #14831 "OPEN EDITORS collapse triangle doesn't collapse file list"
- VSCode Version:1.6.1, 1.7.0 insiders
- OS Version: Windows 10

Steps to Reproduce:

1. Open several files in an editor group
2. OPEN EDITORS will show a collapse triangle for each editor group (LEFT, CENTER, RIGHT)
3. Click on the triangle

The editor group list is not collapsed.  All other triangles in the Explorer collapse the list.

[2016-11-02 03:18] gregvanl commented on #14831
Clicking on the editor group title doesn't do anything either. All other titles in the Explorer expand or collapse the children.

[2016-11-02 04:44] Tyriar commented on #14054
I no longer consider this a blocker for the initial merge as the current behavior is that the file is simply not restored currently (no message to create because the part service is not yet ready [here](https://github.com/Microsoft/vscode/blob/1437e44ce4658f07fe16cf270b4109eadf9a90d9/src/vs/workbench/browser/parts/editor/editorPart.ts#L439)).

@bpasero if I understood correctly I need to handle th

[2016-11-02 04:50] gregvanl opened #14832 "in-product release notes blank after editor group changes"
- VSCode Version: 1.6.1, 1.7.0 insiders
- OS Version: Windows 10, OS X

Steps to Reproduce:

1. Create a least two editor groups and put the in-product release notes in a right or lower editor group.
2. Close the left or top editor group.

The in-product release notes become blank. Clicking the editor or scrolling has no effect.  Double-clicking the tab heading refreshes the release notes.

It doe

[2016-11-02 05:10] bpasero commented on #12623
I have to check again but yes there were very good reasons to do it like that and I doubt we can just remove it.

[2016-11-02 05:11] bpasero commented on #14038
I think all it needs is a timeout of 0 so that the workbench parts have a chance to create and show the dirty indication.

[2016-11-02 05:13] bpasero commented on #14054
I would not assume that this error handling happens inside the renderer but instead on the main side where you decide which files to open and which untitled files to open you have to check if the file exists and if not do the right thing so that it ends up to be an untitled file that gets restored. Anything else is messy...

[2016-11-02 05:17] Immortalin opened #14833 "JavaScript Intellisense doesn't autocomplete Element.value property"
- VSCode Version: 1.6.1
- OS Version: Ubuntu 16.04.1 LTS

Steps to Reproduce:

1. Open a JavaScript file
2. Attempt to autocomplete an element e.g. through
[code]

[2016-11-02 05:22] Immortalin opened #14834 "Git view bar and side bar does not clear when folder is changed"
- VSCode Version: 1.6.1
- OS Version: Ubuntu 16.04.1 LTS

Steps to Reproduce:

1. Open a git enabled project, make some changes
2. Open another git enabled project on top of the current one, sidebar and view bar still displays git status and uncommitted changes of previous project.

[2016-11-02 05:23] Tyriar commented on #14054
Yeah it was looking messy, main side will be much better thanks.

[2016-11-02 05:33] #14834 closed

[2016-11-02 05:34] gerhardcit commented on #14222
I am trying the --verbose and will see if I can find something. But I rather you close this and when I have more info, I'll post it with that next time.
Thx for the efforts though, vscode is a fantastic editor.

[2016-11-02 05:35] Tyriar commented on #14038
It actually seems to be happening because `load` is only called when the editor is focused so I need to evaluate whether there is a backup or not outside of `load`.

[2016-11-02 05:38] bpasero commented on #14222
I can leave it open and you can take your time to post more info if you find it.

[2016-11-02 05:39] Tyriar commented on #14038
Hmm... The TextFileEditorModel is only constructed when the tab is focused.

[2016-11-02 05:40] bpasero opened #14835 "Untitled: no dirty indication when opening with multiple non existing files"
Steps to Reproduce:

1. run code from the command line with multiple files that do not exist

=> only the first one shows as dirty

![image](https://cloud.githubusercontent.com/assets/900690/19917864/45c63e42-a0c7-11e6-895a-e2a39bf62576.png)

[2016-11-02 05:40] bpasero commented on #14038
Wow, this is a bug:

![image](https://cloud.githubusercontent.com/assets/900690/19917857/2b18cdd0-a0c7-11e6-9f61-de1a281dd465.png)

https://github.com/Microsoft/vscode/issues/14835

[2016-11-02 05:48] Tyriar commented on #14038
The `UntitledEditorModel` constructor is also only called into when focusing the tab, not sure there is any way of getting a dirty untitled file currently though so it might be by design and can be covered as part of this issue.

[2016-11-02 06:17] bpasero commented on #13942
Actually, no this is a duplicate of https://github.com/Microsoft/vscode/issues/1666

[2016-11-02 06:18] AxCoder opened #14836 "Add a find"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2016-11-02 06:35] bpasero commented on #12625
https://github.com/Microsoft/vscode/issues/3119

[2016-11-02 06:35] #12625 closed

[2016-11-02 06:36] rosrad commented on #14790
the Chinese characters be in documents. you may see in the screenshot
![image](https://cloud.githubusercontent.com/assets/2343640/19918859/adfb46b4-a109-11e6-91dc-81ba3add7ef4.png)

[2016-11-02 06:38] ZodmanPerth commented on #5745
Me too!  Ouch, this makes it impossible to work on my commute.

Thanks @hsutter for the workaround, which will keep me working for now.

[2016-11-02 07:05] bpasero commented on #3119
Added a new setting `window.showFullPath`. If enabled the window title shows like this:

![image](https://cloud.githubusercontent.com/assets/900690/19919435/15dc503e-a0d3-11e6-849a-32f77c81f306.png)

[2016-11-02 07:05] #3119 closed

[2016-11-02 07:06] Robban1980 opened #14837 "Auto-format has started inserting tabs instead of spaces."
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T16:21:53.542Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions: dbaeumer.jshint-0.10.15, ms-vscode.csharp-1.4.1, ms-vscode.js-atom-grammar-0.1.10, ms-vscode.jscs-0.1.9, ms-vscode.PowerShell-0.7.2, msjsdiag.debugger-for-chrome-0.5.2

Steps to Reproduce:

1. push Alt+Shift+f for auto format, and tabs are inserte

[2016-11-02 07:38] #14754 closed

[2016-11-02 07:42] joaomoreno commented on #14764
I see what you are saying. But the settings file should've indicated something was wrong about the format. Didn't you get a warning, when using the value `172.16.1.1:8080`?

![image](https://cloud.githubusercontent.com/assets/22350/19920297/373c3e2e-a0d8-11e6-8129-41985ce21128.png)

[2016-11-02 07:43] Toybreak commented on #13473
hi @alexandrudima i've tried in chrome and chromium, both not working. i think i installed it correctly

[2016-11-02 07:44] joaomoreno commented on #14826
I don't agree. The install action is there specifically as a _fast track_ for installing an extension without taking away your currently open editors.

[2016-11-02 07:44] #14826 closed

[2016-11-02 07:45] joaomoreno commented on #14248
@ramya-rao-a These usually happen exclusively at the workbench shutdown phase. This is the only situation in which the git model is null, from within the git service. So, no exact repro steps.

[2016-11-02 07:46] joaomoreno commented on #14827
#14541

[2016-11-02 07:46] #14827 closed

[2016-11-02 07:48] Toybreak commented on #13473
![screenshot from 2016-11-02 15-26-42](https://cloud.githubusercontent.com/assets/18119297/19920415/7fd43908-a113-11e6-8c92-2122a0d0aa81.png)

[2016-11-02 07:48] joaomoreno commented on #14832
#14760

[2016-11-02 07:48] #14832 closed

[2016-11-02 07:49] joaomoreno commented on #14828
As per our [How to Contribute](https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run-from-source) guide, please use Node 6 with NPM >= 3.10.8.

[2016-11-02 07:49] #14828 closed

[2016-11-02 07:59] Toybreak commented on #13473
it works in firefox.

[2016-11-02 08:03] sandy081 commented on #14554
@bpasero Is it possible to do bulk edits without opening the files?

[2016-11-02 08:15] bpasero commented on #14554
@sandy081 yeah easy, if you configure auto save delay below 1s, I do not see the files opening. I think if you save after bulk edit quickly enough, the files will not open 👍

[2016-11-02 08:16] sandy081 commented on #14542
@riteshatsencha I am not able to reproduce it.
On 1.6.1, I am seeing the reload window prompt on uninstalling an extension. Can you please confirm? Thanks.

For heads-up, In up-coming stable version and latest insiders, following would be the behavior in all platforms
- Uninstall extension
- Prompts a dialog for confirmation
- Confirming will uninstall
- A reload button will appear
- Clicking on r