[2020-09-02 12:24] #104634 closed

[2020-09-02 12:29] isidorn commented on #105679
Repro steps:
make sure to have `editor.accessibilitySupport: "on"` in your settings.json

[2020-09-02 12:29] bpasero commented on #105853
Looking more into this it seems that on Linux we now detect accessibility mode a lot more aggressively than before. To reproduce:
* run `code --user-data-dir <fresh dir>` and compare that to
* `code-insiders --user-data-dir <fresh dir>

In insiders I see that accessibility mode has been enabled for me:

![image](https://user-images.githubusercontent.com/900690/91981108-a0c59700-ed28-11ea-8ff2-f391

[2020-09-02 12:30] alexr00 commented on #105256
Verified out of source. Works great!

[2020-09-02 12:32] bpasero commented on #105853
OH false alarm! I had this configured in my `argv.json`:

`force-renderer-accessibility: true`

Once I removed this the smoketest works fine.

[2020-09-02 12:33] bpasero commented on #105853
We currently do not support to change the location of that file, as such duplicate of https://github.com/microsoft/vscode/issues/84808

@rebornix let me know if this fix fixes it for you as well?

[2020-09-02 12:34] Timmmm opened #105937 "Allow comparing three way git changes with base commit"
Suppose you wrote some code in `master`

[code]

Now you modify it in your branch, perhaps you fix the indentation by converting it from spaces to tabs (the best way to indent code):

[code]

Meanwhile someone else changes `master` in some unobvious way:

[code]

If you try to rebase this, by default VSCode's conflict view will give you something like this:

![image](https://user-images.githubuser

[2020-09-02 12:36] #105679 closed

[2020-09-02 12:37] jrieken opened #105938 "notebookOutputRenderer contrib default value has no entrypoint"
* add contributions/notebookOutputRenderer
* accept the default suggestion
* :bug: the `entrypoint` is missing causing a warning and confusion

[2020-09-02 12:38] isidorn commented on #105913
Thanks Ben!

[2020-09-02 12:40] joaomoreno commented on #105073
The workaround actually looks like a great fix.

[2020-09-02 12:42] joaomoreno commented on #105743
Oh man this is soooo annoying.

[2020-09-02 12:42] AQRRastiq opened #105939 "Source Code detected as a Virus"
Hello,
Can you explain me why Chrome detects it as a virus ?
Thank You

[2020-09-02 12:42] #105129 closed

[2020-09-02 12:43] msanandrea commented on #102834
Thanks! This works!

[code]

[2020-09-02 12:48] joaomoreno commented on #105708
This is strange, since we won't ask to generate a gitignore file if the repository is already detected by VS Code. Did VS Code not detect your just-initialized repository?

[2020-09-02 12:51] Nadano commented on #104855
What about this solution?

https://github.com/microsoft/vscode/issues/103285

[2020-09-02 12:55] gjsjohnmurray commented on #105939
/needsMoreInfo

[2020-09-02 12:58] #104965 closed

[2020-09-02 13:02] Ryder05 opened #105940 "can't open vs code from wsl2 terminal"
Issue Type: <b>Bug</b>

when i run this command 'code .'
i get this msg ==>
To use Visual Studio Code with the Windows Subsystem for Linux, please install Visual Studio Code in Windows and uninstall the Linux version in WSL. You can then use the `code` command in a WSL terminal just as you would in a normal command prompt.
Do you want to continue anyway? [y/N] y
To no longer see this prompt, start

[2020-09-02 13:04] verma-anushka opened #105941 "vscode/content failed unexpectedly"
- VSCode Version: v10.15.1

Problems loading reference 'https://json.schemastore.org/package': Unable to load schema from 'https://json.schemastore.org/package': Request vscode/content failed unexpectedly without providing any details.

Does this issue occur when all extensions are disabled?: Yes

[2020-09-02 13:13] alexr00 opened #105942 "Github repository picker loses search results if I pause for a moment"
If I start searching for repos, they show up. But then if I pause or keep typing, they vanish. The playground repos shown are private.
![recording](https://user-images.githubusercontent.com/38270282/91987801-cce41680-ed2e-11ea-8dff-da4062c7585e.gif)

[2020-09-02 13:13] jindalAnuj opened #105943 "Commit message autofill for one file"
Add commit message automatically for single file modification.

eg if i update file readme.md then a message can be added automatically __Updated Readme__
or if we add file readme.md then a message can be added automatically __Added Readme.md__

This feature is available in github desktop already and comes out to be handy for small commits

[2020-09-02 13:16] #105811 closed

[2020-09-02 13:20] weinand commented on #102834
@msanandrea BTW, the "protocol" and "sourceMaps" properties are no longer necessary...

[2020-09-02 13:29] #104514 closed

[2020-09-02 13:31] joaomoreno commented on #105743
Added `client_id` to my local `.git/info/exclude` list.

[2020-09-02 13:36] joaomoreno commented on #105015
@xster Do you have a sample repository I can clone and reproduce?

[2020-09-02 13:39] gjsjohnmurray commented on #105941
/needsMoreInfo

Also, 10.15.1 is not a VS Code version number I recognize.

[2020-09-02 13:41] andycraig opened #105944 "activeTerminal undefined when there is a terminal"
Should `vscode.window.activeTerminal` ever be `undefined` when there is one or more terminals?

I contribute to an [R extension](https://github.com/Ikuyadeu/vscode-R/), and a user has reported an error message that the extension only raises in a codepath like this:

[code]

I'm trying to work out if this is an expected situation that we (the extension authors) need to be handling better, or if it

[2020-09-02 13:42] joaomoreno commented on #104640
This was definitely an unintended breakage. Looking into where the assumption actually breaks down...

[2020-09-02 13:44] lszomoru commented on #105854
The setting is of type string, with `format: "color-hex"` which provides a good error message while editing the setting in the JSON file. As far as I can tell there is no way to currently get the same experience in the settings UI. I do agree that it would be nice to have a better experience for editing color settings in the settings UI.

@roblourens, have we ever considered adding a `color` type/

[2020-09-02 13:52] joaomoreno commented on #104640
I believe the wrong assumption lies here: https://github.com/microsoft/vscode/blob/018e9a21f1c50e8b09ff72e523bb431da36dc309/src/vs/workbench/contrib/scm/browser/dirtydiffDecorator.ts#L1145-L1145

This breaks down with model references coming in from `TextDocumentContentProvider`, in `ref.object` is an instance of `ResourceEditorModel` which does not implement `IResolvedTextFileEditorModel`. @bpase

[2020-09-02 13:56] tvprasad opened #105945 "The window is no logner responding"
- VSCode Version:Version: 1.48.2 (user setup)
Commit: a0479759d6e9ea56afa657e454193f72aef85bd0
Date: 2020-08-25T10:13:11.295Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.17763
- OS Version: Windows 10 Ent

Steps to Reproduce:

1. Open command prompt in Elevated (Administrator) level
2. Navigate to source location
3. type code . to open VS

[2020-09-02 14:01] jrieken opened #105946 "Obscure error when mistyping renderer entrypoint"
* playing with new renderer
* make a mistake and mistyped the entry point name
* the error is quite obscure and well hidden, took me some time to figure what the problem was.

Would be great if we can validate the entry point or report it being wrong more clearly

[2020-09-02 14:12] isidorn commented on #105830
I have transitioned the variables to be commands so that they all use proper groups. To verify:
1. Start debugging, hit a breakpoint
2. Verify all actions in the Variables context menu work as expected

The documentation I will do as part of Friday doc update.

[2020-09-02 14:12] #105830 closed

[2020-09-02 14:13] kieferrm opened #105947 "Extension recommendations should not be shown after I uninstalled an extension"
1) I got an `exe` based recommendation
2) Install docker extension
3) Reload window -> no recommendation
4) Uninstall docker extension
5) Reload window -> recommendation comes back

After uninstalling, there should be no recommendation. I gave it a try, I didn't like it. I shouldn't we forced to manually select `Don't show again`.

[2020-09-02 14:20] NicolasPopy opened #105948 "Launch node"
Issue Type: <b>Bug</b>

launch.json :
{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "type": "node",
            "request": "launch",
            "name": "Launch Program",

[2020-09-02 14:23] AzuStar opened #105949 "Make language tokens and scopes part of command list"
_Nothing remotely similar has been found, when searching for similar feature requests._

Why?
----
Feature would enable developers and even users with macros to have better code control.

How does it work?
----
Normally, language analyzer identifies tokens and scopes from the typed text. From there the analyzer still understands and expects certain tokens in the future. For example, statement woul

[2020-09-02 14:29] lszomoru commented on #103238
@sandy081, I have disabled both auth extensions yet I am still seeing the `Turn on Settings Sync` in the Gear and Accounts menus as well as in the command palette. Based on the verification steps that does not seem to be expected. Running Insiders:

Version: 1.49.0-insider
Commit: 00754e4babebc9ee5aa881234bc16366c4f32aa9
Date: 2020-09-02T05:43:25.834Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js:

[2020-09-02 14:43] kieferrm opened #105950 "No GH auth after update/restart"
Issue Type: <b>Bug</b>

I restarted my insiders for update. Afterwards I had lost my GH signing:

![image](https://user-images.githubusercontent.com/4674940/91998159-bec2d580-ecef-11ea-9ee2-e90e53bdbc21.png)

I had the following entries in the GH Auth log. These errors keep coming until I reload the window. After window reload everything is back to normal.

[Error  - 14:34:47.25] Getting token fai

[2020-09-02 14:50] joaomoreno commented on #104640
Thanks to @bpasero for the help in fixing this!

[2020-09-02 14:50] #104640 closed

[2020-09-02 14:52] joaomoreno commented on #105942
This appears to simply be a bug in GH search API.

[2020-09-02 14:55] sixhj opened #105951 "outline move right ？"
file  explore  many ，   outline move right   ， see more method

[2020-09-02 14:58] joaomoreno commented on #105881
Force push is supported by enabling `git.allowForcePush`.

[2020-09-02 14:59] joaomoreno commented on #100368
I resumed using this today with E9 and it seems to work much better than before, actually.

[2020-09-02 15:00] joaomoreno commented on #105654
Does it repro with another repositories?

[2020-09-02 15:03] sixhj opened #105952 "Prompt plug-in"
Prompt plug-in, when you use the mouse inside, if the mouse operation can be replaced by shortcut keys, then Key Promoter X will pop up a prompt box to tell you what shortcut keys can be used for this mouse operation

[2020-09-02 15:03] joaomoreno commented on #104109
/duplicate #47841

As a workaround, please disable Windows background updates by setting `update.enableWindowsBackgroundUpdates` to `false`.

[2020-09-02 15:03] #104109 closed

[2020-09-02 15:04] joaomoreno commented on #105631
Can you show me the full output of `Git: Show Git Output`?

Doe sit repro on every repository on that machine?

[2020-09-02 15:04] Tyriar commented on #105944
If there is one terminal but it has never been visible, activeTerminal is meant to be undefined. Is this what you're hitting?

[2020-09-02 15:05] joaomoreno commented on #105382
Interesting. From https://git-scm.com/docs/git-submodule:

[2020-09-02 15:07] joaomoreno commented on #104253
Can you please provide a [screen recording](https://gifcap.dev/)?

[2020-09-02 15:08] lszomoru commented on #103949
@joaomoreno, I am able to reproduce this failure even after commenting out all the notebook tests.

[2020-09-02 15:08] joaomoreno commented on #104618
The only supported way to do this now is to toggle to the Tree View of the Source Control view and stage the folder.

[2020-09-02 15:08] #104618 closed

[2020-09-02 15:08] joaomoreno commented on #104287
This is now fixed.

[2020-09-02 15:08] #104287 closed

[2020-09-02 15:09] joaomoreno commented on #102325
@nhunh585 Can you still reproduce?

[2020-09-02 15:09] joaomoreno commented on #103295
ping @deepak1556

[2020-09-02 15:10] joaomoreno commented on #104502
What does  `Git: Show Git Output` show when you run the ✔ icon?

[2020-09-02 15:11] Tyriar commented on #10546
@mmis1000 it's limited by design as this should be part of the core product, there are also performance problems with the `window.onDidWriteTerminalData` event which is why it's stuck in proposed. While this sort of extension could be useful as a temporary solution, I worry about the potential long tail of users once we get terminals to work within the editor area. Another problem you could end up

[2020-09-02 15:11] joaomoreno commented on #104568
VSCE doesn't hardcode categories.

[2020-09-02 15:12] DonJayamanne commented on #105283
There is replaceCellMetadata

Thanks, however I'm not referring to cell metadata. I'm referring to the document level metadata.

[2020-09-02 15:16] misolori commented on #105800
So it looks like that may have been an issue with my formatter (Prettier). Disabled that and used the default one and got it working for JS files.

However, I'm not seeing this work reliably with JSON files. Some format commands don't work (`Format Selection` and `Format Modified Lines`) but `Format Document` does work 🤷‍♂️:

![Kapture 2020-09-02 at 08 13 16](https://user-images.githubusercontent.

[2020-09-02 15:16] DonJayamanne commented on #105933
I personally find this useful. In a non-jupyter scenario, one could use notebooks to create a q/a style document with list of answers that can be selected (questions in the markdown) and reach answer is an output.
I understand this isn't something in Jupiter, however I find it useful

[2020-09-02 15:16] gregvanl commented on #105905
Here's another piece of the puzzle:

One file has a breadcrumb that shows a relative path:

![image](https://user-images.githubusercontent.com/12818376/92002221-7823aa00-ecf4-11ea-9f83-e7561bf1e96a.png)

while the other is showing an absolute path:

![image](https://user-images.githubusercontent.com/12818376/92002352-a1dcd100-ecf4-11ea-9ffa-3fe8860ecbeb.png)

[2020-09-02 15:19] gregvanl commented on #105905
Hmm, now I have three entries:

![image](https://user-images.githubusercontent.com/12818376/92002686-f8e2a600-ecf4-11ea-9146-50d8275ee013.png)

[2020-09-02 15:19] mohd-akram commented on #54275
Any update on this? I have to do a double-take each time.

In addition to @andycastles's suggestion, worth trying out two lines on the left/right instead of overline/underline, since that's technically what we're looking for.

[2020-09-02 15:21] alexeyr opened #105953 "Line breaks in logpoints"
In a logpoint, I expected `\n` to insert a line break. At least in Python it doesn't. Based on #88158, it should be language-independent, but currently may not be.

[2020-09-02 15:21] jrieken commented on #105800
Yeah, the secret of "format modified" is that it does "format selection" where the selection isn't visible and consists of the modified ranges. Adding @aeschli who did the JSON formatter - it might be fit for arbitrary range formattings

[2020-09-02 15:25] jrieken commented on #105283
Sorry - misread that. Yeah, plan is to also something analog to update document metadata

[2020-09-02 15:27] misolori commented on #105800
Seeing similar things with the HTML formatter. This works fine in other JS/TS files though. Hopefully these bugs can get fixed and are not by design.

[2020-09-02 15:27] Tyriar commented on #105888
I don't mind changing the terminal setting to be pixel based as I'd prefer consistency, however I worry about breaking something people may be relying upon. It certainly does make more sense to be decimal based since we now have settings sync and decimal based is more portable across systems.

@alexdima have you considered changing `editor.lineHeight` and migrating users who have already set it? I

[2020-09-02 15:29] mmis1000 commented on #10546
@Tyriar As a cloud9 user (and still be a cloud9 user now).

It is kinda helpful to just use any screen area as a terminal and with session persistent backed by tmux.

I mostly just use cloud9 as a web terminal to control the VPS. (And this is the ONLY reason I still use it now. Becuase vscode really done poorly about the terminal. It is a giant pain to lost the terminal reopen it every time).

Clo

[2020-09-02 15:29] Tyriar commented on #105940
The message tells you the problem already; uninstall vscode inside wsl, and install it in windows.

[2020-09-02 15:29] #105940 closed

[2020-09-02 15:30] bpasero commented on #105905
@gregvanl at this point it would be best if you gave me steps to reproduce this locally. Can you record your steps from a `code --user-data-dir <empty dir>` session to ensure the state is fresh and see how to get there?

[2020-09-02 15:32] KB1RD commented on #78138
This seems to happen on Linux, too. The distinguishing part seems to be the presence of NVIDIA cards on all machines with this issue. I do have the proprietary drivers installed. One interesting point is that some crashes are worse than others: Sometimes, I can't do anything and I hear the music I'm listening to start buzzing (looping inside the buffer). Other times, my desktop is unresponsive, bu

[2020-09-02 15:36] Relax594 commented on #102325
I can. It happens every time on Mac.

[2020-09-02 15:37] Ryder05 commented on #105940
Do you think i am unable to read the message ? thank you for nothing !

[2020-09-02 15:39] #105733 closed

[2020-09-02 15:40] gjsjohnmurray commented on #105951
/duplicate of #49923

[2020-09-02 15:41] #105951 closed

[2020-09-02 15:41] Tyriar commented on #105940
What's the output of `which code`?

[2020-09-02 15:45] shaft49 commented on #105848
@alexdima I've tried the insiders version, but the same issue persists.

[2020-09-02 15:48] misolori commented on #105915
+1 that this recommendation should come after subsequent usage. We previously had the "You don't have git installed" toast that we deferred until you opened a git workspace to reduce the visual noise on first run. Is there a reason why only showing this when a user opens a project w/ a container is not sufficient?

[2020-09-02 15:50] appetite-j commented on #105888
It would be easy to support both units for a transition time. For example, if line height is less than 4 then it's probably decimal based, otherwise it's probably pixel based.

[2020-09-02 15:50] gabrielcbenedito commented on #105894
@fplk I'm glad you solve your issue. I solved mine with an workaround and will do some tests to see whether it makes sense to open an issue.

As a side note, Julia is awesome and I aim to use it on the near future, nice to see its community grow :smile:

[2020-09-02 15:53] Tyriar commented on #97941
This is the same issue yes.

As of 1.49.0 we have stabilized the link provider API which would allow Python to add better support to Python-specific link formats like this one. The problem we face is the output could be literally everything, so our list of detection continues to grow and get slower and slower. While we could provide better support for spaces in names (that's what this issue is abo

[2020-09-02 15:55] Khaya56 opened #105954 "XHR failed"
![Screenshot (99)](https://user-images.githubusercontent.com/36347158/92006921-9b2a7a00-ed45-11ea-919d-45deb37ec1a1.png)

Issue Type: <b>Performance Issue</b>

Every time I try to download an extension on the marketplace , I get XHR failed

[2020-09-02 15:55] connor4312 commented on #101108
3: this is expected since the application is still running, it just doesn't have any open windows. On Windows, where this behavior doesn't exist, the process exits immediately

4: I'm not seeing this -- am I doing something differently? https://memes.peet.io/img/b57d4559-809d-4458-ba2d-f62eb2971f5e.mp4 There is a slight delay if you stop the main config when the extension host config isn't attache

[2020-09-02 15:55] yukilzw commented on #105631
Every repository on this machine is bad.
Git of machine is working done.
![image](https://user-images.githubusercontent.com/21005519/92005648-4bb07200-ed76-11ea-9cee-436bc752857d.png)
The editor of this machine was normal before. Once the hard disk was damaged and VSCODE & Git was reinstalled from Disk D:/ to Disk F:/, which meant that it was not uninstalled normally before. Since then this proble

[2020-09-02 15:59] roblourens commented on #100368
I still get https://github.com/microsoft/vscode/issues/105019 from time to time, but it's my only current pain point.

[2020-09-02 16:09] roblourens commented on #105854
We have to implement these individually and that format isn't implemented yet

[2020-09-02 16:10] roblourens commented on #105854
It would be a feature request for the settings editor, probably easy, feel free to assign it to me

[2020-09-02 16:12] connor4312 commented on #103083
1. Have a launch config like

[code]

2. Debug chrome1. It should work
3. Debug chrome2. It should show a warning. If you 'debug anyway', it will fail to attach.

*also:* I realized that Chrome's lockfile on OSX is different. That will be fixed in the next Insiders, today this only works on Windows

[2020-09-02 16:12] gregvanl commented on #105905
This issue doesn't reproduce with a new user-data-dir. I'll play around to see if I can get a repro but it may take some time.
Is there anything you'd like to look at in my default AppData\Roaming files? Or something I could check in Local Storage or elsewhere?

[2020-09-02 16:13] misolori commented on #104893
@bigcats01 is this different than using `#%%` in a python file with the [Python extension](https://marketplace.visualstudio.com/items?itemName=ms-python.python) and seeing the side by side?

![image](https://user-images.githubusercontent.com/35271042/92008767-6b0ab900-ecfc-11ea-8b02-e71d6c35c590.png)

[2020-09-02 16:19] roblourens commented on #105858
Storing user passwords is just an area that I don't want to touch. Would rather people stick to standard ssh auth methods like using ssh keys: https://code.visualstudio.com/docs/remote/troubleshooting#_configuring-key-based-authentication

[2020-09-02 16:21] roblourens commented on #82739
I could see it either way too, just give us the details we'll work it out 😁

[2020-09-02 16:21] elahehrashedi commented on #105012
the process of choosing the names for prelaunch task is similar to those of build tasks. The best we can do is to set a different detail for them, to create a difference between the build tasks that the user generates and the prelaunch tasks that are generated during the debugging.

[2020-09-02 16:22] roblourens commented on #105898
Maybe it could get a tooltip. I'm not sure about color contrast, @misolori

[2020-09-02 16:23] bigcats01 commented on #104893
I dont think so, this is my mistake

[2020-09-02 16:24] alexdima commented on #105888
Consistency is a good goal but unless we discover some major blocking issue, IMHO consistency does not warrant the massive effort and headache of migrating everybody and changing the meaning of `editor.lineHeight` so late.

@Tyriar regarding the setting sync portability point, changing `editor.lineHeight` to be relative to `editor.fontSize` can only take one so far, since `editor.fontSize` is also

[2020-09-02 16:27] roblourens commented on #105900
The normal markdown preview styling looks more consistent:

![image](https://user-images.githubusercontent.com/323878/92010235-6ba44f00-ecfe-11ea-9718-46a3050519ba.png)

than the notebook:

![image](https://user-images.githubusercontent.com/323878/92010286-7b239800-ecfe-11ea-8fca-ac9d82801de9.png)

[2020-09-02 16:27] connor4312 commented on #100368
Please let me know if you try it again and run into more issues! The issue the Rob mentioned and the slippery #103707 are the only two outstanding issues I know of.

[2020-09-02 16:27] dominait commented on #105609
I disabled all the extensions and was running the latest version of VSCode on MAC OS Catalina. If I made a code error the keyboard would freeze. I could use the back arrow and that was it. I eventually reinstalled my system again as I was also getting permission errors in the terminal that were not related to VSCode.
Once the clean install was complete VSCode and all the extension I had were worki

[2020-09-02 16:28] dominait commented on #105609
I think this can be closed

[2020-09-02 16:28] #105609 closed

[2020-09-02 16:30] misolori commented on #105898
You're right in the selected state it doesn't pass the ratio. If we bump the opacity to `.7` it will pass:

<img width="350" src="https://user-images.githubusercontent.com/35271042/92010396-9db5b100-ecfe-11ea-8859-65a196e5c819.png">

![image](https://user-images.githubusercontent.com/35271042/92010601-d6ee2100-ecfe-11ea-93eb-853dfa14158b.png)

[2020-09-02 16:36] misolori commented on #104893
@bigcats01 does this solve your question then?

[2020-09-02 16:37] sana-ajani commented on #105923
Is this expected behavior? First time I click on the file in the scm view, it opens up the rich diff view. Second time I click on it, the json diff view is opened. If I click on the "Go back" arrow in any of the two diff views, a plain json editor view of the file is opened.

[2020-09-02 16:37] #105938 closed

[2020-09-02 16:40] sandy081 commented on #103238
Good catch !!!. You shall see the action, not showing the action might confuse users. Instead an error is thrown while turning on sync.

[2020-09-02 16:40] roblourens commented on #105742
Moved to https://github.com/atom/language-php/issues/401

[2020-09-02 16:40] #105742 closed

[2020-09-02 16:40] bigcats01 commented on #104893
No, we can use #%% in a .py and it uses the ipykernel cells, but it
doesn't support #%% md

also, saving this .py file isnt the same as the .ipynb

i hope this was more clear, sorry

On September 2, 2020 12:36:39 PM Miguel Solorio <notifications@github.com>
wrote:

[2020-09-02 16:44] roblourens commented on #105809
Most of the scenarios that we've seen from the python extension would be served with static titles. Some of them have dynamic titles and some of them it's easy to imagine how dynamic data would show up - maybe the title is just an icon but then you want to have a tooltip with details or a timestamp or something.

one example -

![image](https://user-images.githubusercontent.com/323878/92010538-c21

[2020-09-02 16:48] sandy081 opened #105955 "Turning on sync after enabling an auth extension is throwing an error"
- Turn off settings sync
- Disable both (Microsoft & Github) auth extensions
- Reload window
- Enable one of the auth extensions (I enabled Github Account extension)
- Turn on settings sync

🐛  Following error is seen

<img width="473" alt="image" src="https://user-images.githubusercontent.com/10746682/92012543-dbd9c180-ed4c-11ea-9b68-dd664ee2f974.png">

It works if I turn on second time

[2020-09-02 16:49] RMacfarlane commented on #105950
Upstream: https://github.com/atom/node-keytar/issues/147

[2020-09-02 16:51] sandy081 commented on #105955
@RMacfarlane This error is coming from Authentication service when I am calling `getSessions` on available declared authentication provider.

[2020-09-02 16:52] #103238 closed

[2020-09-02 16:52] sana-ajani commented on #105917
seeing the same thing, changes are gone from SCM view but the open file is not changed or reverted.

[2020-09-02 16:53] sandy081 commented on #103238
New steps to verify, before turning on settings sync

- disable any of the auth (Microsoft/Github) account extensions
- Make sure Turn on Settings Sync action is still available and you can turn on sync
- When both extensions are disabled, turning on settings sync action fails with an error.

Note: There is a known issue https://github.com/microsoft/vscode/issues/105955 if you turn on sync after e

[2020-09-02 16:59] sandy081 commented on #105932
This is not coming from built in settings sync feature. I suspect this is coming from Settings Sync extension.

[2020-09-02 16:59] #105932 closed

[2020-09-02 16:59] sandy081 commented on #105929
May I know what packages you mean? Can you please provide a screenshot?

[2020-09-02 17:00] sana-ajani opened #105956 "Diff view showing an older version of notebook file"
Testing #105770

Did a git pull and made sure my notebooks file is up-to-date, make a change in a cell and the left side of the diff view has an older version of my file and not the one I made the most recent change in.

![recording (7)](https://user-images.githubusercontent.com/9721254/92013489-dd3ec600-ed1b-11ea-90c4-c7802edf00d8.gif)

[2020-09-02 17:00] sandy081 commented on #105910
Can you please update to latest version as @gjsjohnmurray suggested and see if it is still can be reproduced.

[2020-09-02 17:04] sandy081 commented on #105441
Looks like there is a `ERR_CONNECTION_RESET` error, can you please open dev tools > network tab and confirm this for marketplace requests?

[2020-09-02 17:06] sandy081 commented on #105915
Reason being WSL extension recommendation when WSL is installed does not need any workspace opened.

[2020-09-02 17:07] sandy081 commented on #105954
Can you please let us know if there are any errors in

- Help -> Toggle Developer Tools -> Network
- Also share the logs from the following locations
    - Help -> Toggle Developer Tools -> Console
    - View -> Command Pallette... -> Toggle Shared Process -> Console
    - View -> Open View… -> Log (Shared)
    - View -> Open View… -> Log (Window)

[2020-09-02 17:09] rebornix commented on #105916
I didn't reproduce it, I'm wondering if it's because the metadata change indicator doesn't stand up

![image](https://user-images.githubusercontent.com/876920/92014571-4f0b1580-ed04-11ea-8888-b4030c65bb97.png)

[2020-09-02 17:09] Tyriar opened #105957 "Update node-pty"
We want https://github.com/microsoft/node-pty/pull/426 in particular

FYI @sbatten

[2020-09-02 17:13] Tyriar commented on #105888
👌 let's switch to px based in terminal and markdown

[2020-09-02 17:17] pmalav1 commented on #105910
I installed today itself

On Wed, Sep 2, 2020, 10:31 PM Sandeep Somavarapu <notifications@github.com>
wrote:

[2020-09-02 17:17] jpike88 commented on #101014
Big Sur is about to come out... @sandy081 thoughts?

[2020-09-02 17:18] sana-ajani opened #105958 ""Cannot read property 'textBuffer' of undefined" when changing cell content"
Testing #105770

Open a notebook file, change the repo in the query, open the diff view and seeing an error "Cannot read property 'textBuffer' of undefined" and cannot open diff view. Tried running the cell before opening the diff view and I still see same error.

![recording (8)](https://user-images.githubusercontent.com/9721254/92015217-7373eb80-ed1e-11ea-964a-f77de9af994a.gif)

[2020-09-02 17:27] sana-ajani opened #105959 "New cell doesn't show up in diff view"
Testing #105770

Open a notebook file and insert a cell in between two cells and save, and open diff view. The last cell does not show up in the right side of the diff view (even if I make a change in the last cell).

![recording (9)](https://user-images.githubusercontent.com/9721254/92016218-05c8bf00-ed20-11ea-9a68-c7857a49c259.gif)

[2020-09-02 17:28] connor4312 commented on #104169
This works for electron webviews, but not when `"webview.experimental.useIframes": true`

[2020-09-02 17:34] sana-ajani commented on #105737
minor comment on the "task.quickOpen.detail" setting, should we edit it to be:

"Controls whether to show the task detail for task**s** that have a detail in the Run Task **and Configure Task** quick pick"
![image](https://user-images.githubusercontent.com/9721254/92016796-d9fa0900-ed20-11ea-9478-fa7f1cd5df4f.png)

[2020-09-02 17:34] RMacfarlane commented on #105926
I think `authentication` sounds more correct, we also have `jsonValidation` which takes an array

[2020-09-02 17:34] #105926 closed

[2020-09-02 17:34] connor4312 commented on #104195
@queston02 did this end up fixing the problem for you?

[2020-09-02 17:35] isidorn commented on #105916
Yeah, the indicator did not stand out...

[2020-09-02 17:35] mjbvz commented on #105842
For now, I'm going to disable JS/TS language entirely in `pr:` schemed files (this is how it used to be as far as I can tell)

[2020-09-02 17:36] #105842 closed

[2020-09-02 17:36] DanTup commented on #104369
I tested this in vNext of the LSP client package and it seems to work as expected now. Thanks @mjbvz @dbaeumer!

[2020-09-02 17:36] #104369 closed

[2020-09-02 17:37] isidorn commented on #101108
I can no longer repro. Closing this and adding verified label.
Good work.

[2020-09-02 17:37] #101108 closed

[2020-09-02 17:38] champignoom opened #105960 "Shortcut conflict of Alt+R"
- VSCode Version: 1.48.0
- OS Version: Manjaro 20.1

Steps to Reproduce:

1. Open a text file, press Alt+R, expecting the "Run" menu to expand
2. Regex matching for text search is toggled, although not searching or replacing anything

Does this issue occur when all extensions are disabled?: Yes

[2020-09-02 17:39] fiveisprime commented on #104568
Thanks @joaomoreno, I wasn't sure so figured I'd cover it just in case. :)

I opened an issue with the marketplace team to get this onto the sprint plan.

[2020-09-02 17:39] connor4312 commented on #101108
Okay, thanks! Maybe you had an older version of js-debug that updated asynchronously 🤔

[2020-09-02 17:42] DerekZiemba commented on #2809
I would also appreciate support for this.

![image](https://user-images.githubusercontent.com/7283693/92017611-a7004700-ed19-11ea-8aa9-aab5c7b57711.png)

[2020-09-02 17:43] #105737 closed

[2020-09-02 17:43] #105917 closed

[2020-09-02 17:45] lszomoru commented on #105854
@roblourens, would you be opened for me to submit a pull request?
I would be happy to take a stab at this in my free time to learn more about our codebase.

[2020-09-02 17:46] queston02 commented on #104195
Nope. I just debugged my project and got the issue. I got the screen shot also but cannot attach it here. In screen shot you could see it going into domain.js file of node_internals. Below is my launch.config
[code]
Below is VS Code Insider details:-

Version: 1.49.0-insider
Commit: b6d4fec3714ff897f72c1dab8cc02b7421a8f131
Date: 2020-09-01T05:48:29.841Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.j

[2020-09-02 17:47] rebornix commented on #105919
I take that as a compliment ❤️

[2020-09-02 17:50] rebornix commented on #105919
At the beginning the UX is similar to what you described I think (see https://github.com/microsoft/vscode/issues/99877#issuecomment-678857384)

<img width="1384" alt="image" src="https://user-images.githubusercontent.com/876920/90993945-cf46b380-e56b-11ea-9322-7627f7624c0c.png">

We found that most of the time users don't care about metadata or outputs change and they attract too much attention in

[2020-09-02 17:52] connor4312 commented on #104195
Can you grab a fresh set of logs using the recent debug adapter?

[2020-09-02 17:54] martellaj commented on #105617
I switched back to Insiders to see if it was also broken there. It seems to be working as expected in Insiders (didn't disable any extensions).

[2020-09-02 17:55] mjbvz commented on #105832
Thanks.  Next iteration:

- I'll update the docs on `viewsWelcome` to make it clear they only apply to tree views.
- Add a notification if a webviewView is registered for a webview view

[2020-09-02 17:56] #105736 closed

[2020-09-02 18:01] safield opened #105961 "Have settings open with Default and User jsons side by side."
Currently when I open the editable settings, it just open my user settings json file, and not the default one. It would be nice if it opened both side by side.

[2020-09-02 18:10] ardacebi commented on #101014
@jpike88 I'm starting to think they're ignoring us.

[2020-09-02 18:12] TylerLeonhardt opened #105962 "Notebooks: notebookProvider config to support untitled files better"
In the PowerShell extension I had to create two viewTypes to handle the following scenario:

* For `*.Notebook.ps1` files, open with `priority: default`
* For `*.ps1` files, open with `priority: option`

The best way to do this now is with the following configuration:

[code]

which defines two viewType's with different `priority` and uses `exclude` in the second one to ignore those `*.Notebook.ps

[2020-09-02 18:12] TylerLeonhardt commented on #105962
This might be important for .NET Interactive notebooks too.

[2020-09-02 18:14] queston02 commented on #104195
Emailed you the trace file. Also what is the difference between ```type="node"``` and ```type="pwa-node"```? Are they the same debugger or different debugger?

[2020-09-02 18:16] eamodio opened #105963 "Status bar toggle should switch between On, Smart, Off"
Testing #105771

It would be nice if the status bar item to toggle auto-attach, would switch between On, Smart, Off
![image](https://user-images.githubusercontent.com/641685/92020791-b6d25800-ed26-11ea-9c75-097bfd1eda92.png)

[2020-09-02 18:19] rebornix commented on #105920
Good catch. It's really interesting as it's a diff editor for notebook cells and the git extension is not aware of that currently.

To improve this experience, the Git extension can detect if the document is a composite document in a notebook document, and then use the Notebook API to update the cell document accordingly. cc @joaomoreno and I'll send PR to polish this next iteration.

[2020-09-02 18:20] eamodio opened #105964 "Combine debug.node.autoAttach with debug.javascript.autoAttachFilter"
Testing #105771

It feels like these 2 settings could be combined into 1:

[code]

Instead of

[code]

[2020-09-02 18:21] eamodio opened #105965 "Typo in debug.javascript.autoAttachSmartPattern description"
Testing #105771

Missing a space between Node.js & entrypoint

[code]

[2020-09-02 18:26] reallydivs commented on #105945
No it does not occur when all extension are disabled, and you may need to check if running vscode from a admin prompt might be causing the issue as some files might be locked by windows and that is causing the app to crash.

[2020-09-02 18:37] connor4312 commented on #105964
Yep, definitely 🙂  https://github.com/microsoft/vscode-js-debug/issues/732#issuecomment-684979209

[2020-09-02 18:37] #105964 closed

[2020-09-02 18:40] #105965 closed

[2020-09-02 18:42] aurelien-git opened #105966 "cpu consumption because of WatchService"
Issue Type: <b>Bug</b>

very high cpu consumption without running extension

/usr/share/code/resources/app/out/bootstrap-fork --type=WatchService ...

up to 370% consumption !

VS Code version: Code 1.48.2 (a0479759d6e9ea56afa657e454193f72aef85bd0, 2020-08-25T10:56:10.074Z)
OS version: Linux x64 5.7.0-0.bpo.2-amd64

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Co

[2020-09-02 18:46] connor4312 commented on #105963
With https://github.com/microsoft/vscode-js-debug/issues/732#issuecomment-684979209 this will make more sense.

[2020-09-02 18:52] NoMoreDeps opened #105967 "Syntax color issue"
We have written the need
Issue Type: <b>Bug</b>

Following this sample of code :

![image](https://user-images.githubusercontent.com/3484915/92024086-ad97ba00-ed2b-11ea-99f3-a2f2b24a24aa.png)

The syntax color is correct, but if I format it differently, the last statement loses syntax coloration.

![image](https://user-images.githubusercontent.com/3484915/92024013-9789f980-ed2b-11ea-8313-e364461b1

[2020-09-02 18:55] roblourens commented on #105854
Sure! Here are our string validations:

https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/preferences/common/preferencesValidation.ts#L93

[2020-09-02 18:57] aurelien-git commented on #105966
back to normal consumption after a while without reason o_O

[2020-09-02 18:57] aurelien-git commented on #105966
back to normal consumption after a while without reason o_O

[2020-09-02 18:58] #105955 closed

[2020-09-02 19:00] rebornix opened #105968 "Open Editors View dirty change handler is slowing down typing"
- VSCode Version: 1.49-Insiders
- OS Version: macOS

* Turn off auto save
* Have Open Editors View open
* Open a text file, modify, save
* Open again, type, the typing is sometimes sluggish

<img width="1761" alt="image" src="https://user-images.githubusercontent.com/876920/92025985-263f4c00-ed15-11ea-886d-05be6ffd78d4.png">

[2020-09-02 19:01] Khaya56 commented on #105954
![Screenshot (100)](https://user-images.githubusercontent.com/36347158/92025175-717e4c80-ed5f-11ea-8ac8-2c10c29a8089.png)

[2020-09-02 19:02] aurelien-git commented on #105966
oh got it!
just reopen a simple hello_world.py file and the mess come back again
high consumption on vscode-ripgrep and languageServer.0.5.51/Microsoft.Python.LanguageServer

[2020-09-02 19:06] rebornix commented on #105968
From the screenshot above, most of the time (hundreds of ms) are spent in Open Editors View.

[2020-09-02 19:10] stevenguh opened #105969 "Remote Uri are extremely difficult to handle correctly as an extension dev"
Split from https://github.com/microsoft/vscode/issues/82739#issuecomment-683330593

Path manipulation as an extension developer seems to be extremely difficult to handle correctly especially accounting the vscode-remote's Uri (without local installation on remote). The issue mostly comes from the early separator normalization base on the host platform in the vscode's API.

I have been somewhat inv

[2020-09-02 19:11] pengshao82 commented on #40235
@sr229 I know, that is why I was referring vscode as flagship "editor" instead of IDE. VS on the other hand handles this just fine as I use it in my daily work. But for performance reason we are thinking of encouraging people to switch to VS code and this bug was pretty much a joy killer that took us by big surprise...

[2020-09-02 19:11] stevenguh commented on #82739
Opened #105969 🙂 Let me know any of the described issues is confusing.

[2020-09-02 19:12] #105773 closed

[2020-09-02 19:13] SneakyFish5 commented on #105881
Should this be implemented as a `git` setting or a new command?

[2020-09-02 19:19] deepak1556 commented on #105849
/duplicate https://github.com/microsoft/vscode/issues/3451

You can use the workaround mentioned in that issue https://github.com/microsoft/vscode/issues/3451#issuecomment-227197582

[2020-09-02 19:20] #105849 closed

[2020-09-02 19:21] #105921 closed

[2020-09-02 19:21] rebornix commented on #105921
Verifier: when updating the cell content, you can just add one single space to the end. You should be able to the whitespace diff in the diff eidtor

[2020-09-02 19:30] deepak1556 commented on #105728
Merging this to https://github.com/microsoft/vscode/issues/99419

[2020-09-02 19:30] #105728 closed

[2020-09-02 19:31] rebornix commented on #105922
I pushed a change to always show text diff editor as suggested. The UI is not finalized yet so we will make it accessible once it's more polished.

[2020-09-02 19:32] RMacfarlane commented on #105595
It looks like it's still a lower opacity than other buttons - instead of changing that on hover/focus, how about applying `background: var(--vscode-button-hoverBackground)`?

[2020-09-02 19:34] deepak1556 commented on #105729
I cannot confirm this issue on my machine running ubuntu 20.04, with `NVIDIA Quadro P620/PCIe/SSE2, OpenGL 4.5 core`. Can you install chromium snap and check `chrome://gpu` to see if hw acceleration is enabled ?

[2020-09-02 19:36] rebornix commented on #105923
It's arguable if the current behavior is good, my feeling is it will lead to confusion at this moment.

[2020-09-02 19:37] safield opened #105970 "Can not go to fullscreen mode while debugging"
Code Version: 1.48.2
OS: Linux Mint 20 Cinnamon (Ubuntu 20.04 base).

When I am not actively debugging, I can press F11, and vscode will enter or exit fullscreen mode.

While debugging (using Java debugger extension of Flutter extension), pressing F11 does not do anything.

[2020-09-02 19:37] #105731 closed

[2020-09-02 19:38] #105717 closed

[2020-09-02 19:38] saurav2608 opened #105971 "VScode not connecting to ipykernel"
- VSCode Version: 1.48.2
- OS Version: macOS Catalina 10.15.6

Steps to Reproduce:

1. create a new folder test. Run pipenv to install packages (jupyter, ipykernel)
2. Open folder in VSCode and create a new notebook using the interpreter 'test'.
3. Error message : Unable to start session for kernel Python 3.8.3 64-bit ('test': pipenv). Select another kernel to launch with.

*Note*: preexisting pip

[2020-09-02 19:39] ShenChen-Amazon commented on #105902
Hi @alexdima ,

Thanks for your help. I finally figure out the issue is caused by the wrong extensionDevelopmentPath. My folder structure is slightly different with the samples. Resolving the issue.

Thanks,
Shen

[2020-09-02 19:39] #105902 closed

[2020-09-02 19:40] connor4312 commented on #105595
Yea, good idea, I must have fixed this before I had my 🍵

[2020-09-02 19:43] #105595 closed

[2020-09-02 19:43] ivanlegranbizarro opened #105972 "When I use a snippet the suggestions / autocompletes do not work"
- VSCode Version: 1.48.42 (but it happens in all the older versions I have tried)
- OS Version: Any version of Windows, Linux or Mac I have tried

Steps to Reproduce:

1. log+tab for execute the snippet of console.log from Javascript
2. When I run the snippet, I don't get suggestions for created variables or functions

Does this issue occur when all extensions are disabled?: No

[2020-09-02 19:43] ViniciusFXavier opened #105973 "The clock on the search icon never disappear"
Version: 1.48.2
Commit: a0479759d6e9ea56afa657e454193f72aef85bd0
Date: 2020-08-25T10:13:11.295Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Ubuntu x64 18.04.5

Steps to Reproduce:

The clock on the search icon never disappears.
Even closing and reopening the VSCode
![image](https://user-images.githubusercontent.com/40774281/92028547-98765780-ed3a-11ea-9dde-e

[2020-09-02 19:48] #105973 closed

[2020-09-02 19:49] Tyriar commented on #104965
@misolori fyi this spinner look pretty awful on windows+standard dpi monitor, here's a zoom level 0:

![image](https://user-images.githubusercontent.com/2193314/92029628-addb8980-ed1a-11ea-87f2-20cdb01994a4.png)

![image](https://user-images.githubusercontent.com/2193314/92029640-b2a03d80-ed1a-11ea-812c-1453c17354c9.png)

[2020-09-02 19:55] jeffr-spire opened #105974 "Allow menu customization from settings"
Allowing customization (for example, change the order of items to have the most common at the top rather than in a submenu), of menus through settings would enable a simple and very useful customization without requiring a user to create an extension for the purpose.

Inspired by this [recent change](https://code.visualstudio.com/updates/v1_48#_git-overflow-menu-cleanup) --  previously, the most c

[2020-09-02 19:57] misolori commented on #104965
@Tyriar that's likely because the font-size is smaller (12px) than in the status bar (14px)

[2020-09-02 19:58] ivanlegranbizarro commented on #105972
I have solved the mystery myself, I explain it here in case the same thing happens to someone: When using the 'log' snippet to do a console.log (); variable or function suggestions stop appearing because the semi-colon that is automatically added means that you have finished the declaration and that you don't need suggestions. It is best to use the StandardJS extension, which allows you to use the

[2020-09-02 20:06] #105771 closed

[2020-09-02 20:31] safield opened #105975 "Open all select files in Explorer"
Currently the file explorer allows you to shift click to select multiple files.

It would be nice if I could then right click, and select an open "open select" to open all the currently selected files.

[2020-09-02 20:42] spiffyspider commented on #105971
I have exactly the same problem.  VS Code Version 1.48.2, macOS Catalina 10.15.6.  Cannot connect to kernels created by pipenv.

[2020-09-02 20:43] alexdima commented on #105848
@shaft49 When the extension host crashes, can you please click "Open Developer Tools" and paste here the output:

e.g.
[code]

[2020-09-02 20:45] ninja- commented on #105729
@deepak1556 are you on wayland?

[2020-09-02 20:46] sandy081 commented on #105954
Seems proxy issues

[2020-09-02 20:46] alexdima commented on #105862
Does this reproduce when disabling all extensions? Press `F1` and then choose `Developer: Reload Window with Extensions Disabled`

![Kapture 2020-07-20 at 15 28 23](https://user-images.githubusercontent.com/5047891/87943040-c3b02a80-ca9d-11ea-847d-5f850fae8f05.gif)

[2020-09-02 20:47] Hyoretsu commented on #51935
Would be nice for a simple rule to not be this long
 "[javascript]": {
  "editor.codeActionsOnSave": {
   "source.fixAll.eslint": true
  }
 },
 "[javascriptreact]": {
  "editor.codeActionsOnSave": {
   "source.fixAll.eslint": true
  }
 },
 "[typescript]": {
  "editor.codeActionsOnSave": {
   "source.fixAll.eslint": true
  }
 },
 "[typescriptreact]": {
  "editor.codeActionsOnSave": {
   "source.fix

[2020-09-02 20:47] sandy081 commented on #105915
Recommendation also includes Docker extension which is not related to workspace right?

[2020-09-02 20:48] alexdima commented on #104703
@vaideeswaranr What are you doing differently than me? I am pressing cmd+k, cmd+u and the code is uncommented. Do you perhaps have a different command defined in your `keybindings.json` file for this keybinding? Can you try to invoke the command via the command palette (`F1`)? Is this a keybinding problem or is the command not working for you?

[2020-09-02 20:50] sandy081 commented on #105910
But the version says  `1.18.1` can you please take a screenshot of the version and paste here?

[2020-09-02 20:50] alexdima commented on #104478
@dipta007 Have you tried `sysctl -w kern.maxfiles=20480`? (I found it online when searching for "EMFILE") - https://stackoverflow.com/q/8965606

[2020-09-02 20:52] #101467 closed

[2020-09-02 20:56] #105895 closed

[2020-09-02 20:58] kieferrm commented on #105863
I stumbled over the same issue. I'd prefer when a filter is active it is not applied to the commands I type and what they return.

[2020-09-02 20:58] #105936 closed

[2020-09-02 21:01] alexdima commented on #101659
@Leteesh Does a crash also occur with our [Insiders version](https://code.visualstudio.com/insiders/)? Our Insiders version upgrades us from Electron 7 to Electron 9 and that might improve stability on some systems.

[2020-09-02 21:03] sandy081 commented on #105063
Removed this schema and inlined it/

[2020-09-02 21:03] #105063 closed

[2020-09-02 21:06] alexdima commented on #105712
@mahaveer0496 Could you please also try in Chrome to open https://vscode-web-test-playground.azurewebsites.net/ and configure it with the same font family? Please let us know what Chrome version you tried and how it rendered.

[2020-09-02 21:06] connor4312 commented on #105948
Please share reproduction steps for your issue

/needsMoreInfo

[2020-09-02 21:06] weinand commented on #105945
@tvprasad It is possible that this issue is caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2020-09-02 21:08] kieferrm opened #105976 "Support filtering on input only"
Testing #105185

I find myself looking for the output of a command I issued in the debug console. I.e. I'd like to use the filter to only show commands that match the filter, however, the commands should keep their output.

[2020-09-02 21:09] connor4312 commented on #105863
It looks like the chrome devtools only applies the filter to their equivalent of "output" events. I think that's a good approach: always show any explicit input and results in the console.

[2020-09-02 21:11] weinand commented on #105949
@AzuStar the animated gifs are not readable:

<img width="553" alt="2020-09-02_23-10-13" src="https://user-images.githubusercontent.com/1898161/92037048-764bfc00-ed71-11ea-8263-e2f79484a443.png">

Please don't use private links in comments - Instead just drag and drop the gifs into the comment (in edit mode). Github will store them...

[2020-09-02 21:13] kieferrm opened #105977 "Debouncing seems too short"
Testing #105185

It seems to me that the debouncing is too short. When I arrow up and down through the history I see something like "conso" followed by "console" rather than just "console". I tried that several times and I think my typing speed is OK, i.e. there is no perceived time gap between any of the characters.

[2020-09-02 21:14] #105185 closed

[2020-09-02 21:14] alexdima commented on #105672
@arudp I'm not familiar with IBM Plex Mono or Iosevka. Could you please show the minimal relevant settings, and how you expect the font to render vs what it renders? I can then try to reproduce on my machine, but as it is right now, I don't quite understand what the screenshots are supposed to show.

[2020-09-02 21:17] juarezr commented on #5595
One question:

This will allow one to have specific settings when switching between local machine and a [Remote Container](https://code.visualstudio.com/docs/remote/containers)?

What happens when the same `.vscode/settings.json` is used used in `local mode` and mapped to a remote container by a `devcontainer.json` if both run on `linux`?

[2020-09-02 21:19] jhpratt commented on #105743
Providing a second confirmation of this behavior on Ubuntu 20.04.1.

[2020-09-02 21:19] alexdima commented on #103322
@danielmedvec The `chat` extension is known to cause crashes.

[2020-09-02 21:20] #105860 closed

[2020-09-02 21:21] #105952 closed

[2020-09-02 21:22] fcurts commented on #50140
2 years later, is there any consensus on how and when to offer a better alternative to TextMate grammars?

[2020-09-02 21:24] weinand commented on #105863
@connor4312 yes, I like the chrome devtools approach too.

[2020-09-02 21:24] deepak1556 commented on #105729
That would explain the difference, wayland is disabled for my gpu by default.

Then the root cause would be same as https://github.com/microsoft/vscode/issues/99419#issuecomment-642923230 , but I will keep this issue open to track the different affected components.

[2020-09-02 21:25] mjbvz commented on #104393
Unmarking as bug so this doesn't show up in our verification query

[2020-09-02 21:27] weinand commented on #105966
/extPython

[2020-09-02 21:29] #105925 closed

[2020-09-02 21:29] #105966 closed

[2020-09-02 21:36] deepak1556 commented on #103295
sorry missed this,

also just found snap has a builtin --strace flag so that we don't have to mess with user level, please use the following to obtain strace log

[code]

[2020-09-02 21:36] rebornix commented on #105958
Are you seeing this issue with all GitHub notebooks files you have locally? I'm not able to reproduce this issue.

[2020-09-02 21:38] connor4312 commented on #105604
This is what I need to do right now to get github issue notebooks to work: https://memes.peet.io/img/20-09-bd1e433b-5975-4a59-9dae-4bb9cc86a8b1.webm

Not sure how much is a result of the auth provider versus the notebook implementation itself, cc @jrieken

[2020-09-02 21:39] sana-ajani commented on #105958
Using this notebooks file: https://github.com/sana-ajani/notebooks/blob/master/foo.github-issues

[2020-09-02 21:42] rebornix commented on #105959
/duplicate of https://github.com/microsoft/vscode/issues/105778

[2020-09-02 21:44] misolori commented on #105915
Correct. My suggestion is to not show this since we already show a notification when a workspace has a container file.

[2020-09-02 21:47] arudp commented on #105672
@alexdima Sure, my bad for not explaining properly. Actually the screenshots have both those things. As you can see, in one screenshot the font settings are set to be IBM Plex Mono and the other ones to Iosevka

[code]

The part to see the difference is a little trickier, so I should've explained myself better, sorry. In both screenshots VSCode is split with editor (Upper half) and terminal (Lower

[2020-09-02 21:49] rebornix commented on #105956
Did you happen to have the diff editor opened once before you do `git pull`? if so, I think it's a duplicate of https://github.com/microsoft/vscode/issues/105917

[2020-09-02 21:49] thany opened #105978 "License in Help menu is different from LICENSE.txt"
**I know this has been discussed many times, but it's also been brushed off many times**

First off, I can't believe this is *still* the case, many years after #60 (in 2015) when this was discovered.

Clearly, people want VS Code to be truly opensource, and yet, years later, it is still re-licensed with a proprietary license.

The proprietary license starts with data collection. Sure, we can opt-o

[2020-09-02 21:51] rebornix commented on #105770
Since @isidorn already helped out, the testing for this feature is done.

[2020-09-02 21:51] #105770 closed

[2020-09-02 21:53] rebornix commented on #105971
/extPython

[2020-09-02 21:53] #105971 closed

[2020-09-02 21:55] roblourens commented on #105928
It works for me on mac and windows. The error makes it sound like the smoketest extension (just some extension under ./extensions) is missing. Can you just make sure you are all built fully?

[2020-09-02 21:57] roblourens commented on #105928
Or we don't really have to debug it, I think it's fine. They are working in CI.

[2020-09-02 21:58] Ahmed-Nematallah opened #105979 "Terminal selection does not appear after scrolling once"
Issue Type: <b>Bug</b>

When selecting text in a terminal (CMD, PowerShell and Git Bash tested), then scrolling so the selected text isn't in the screen, and then scrolling once to view the selected text, the selection does not appear, it only appears after scrolling again with the text still on screen.

For example, if I select x on the screen and then scroll so that x is not on the screen and sc

[2020-09-02 21:58] jakub-g opened #105980 "JavaScript/TypeScript: it should be possible for IntelliSense to provide import suggestions in the same way as Quick Open (Ctrl+P)"
# Issue description

When I press `Ctrl-P`, I can quickly find any file. It's blazing fast and finds matches in subdirectories etc.
For example I have a file called `timestamp.js` which is found instantly:
![image](https://user-images.githubusercontent.com/1437027/92040202-b3ff5380-ed76-11ea-99fb-c24d28341622.png)

When I want to import this file in my JS code, it won't be found unless I start typ

[2020-09-02 22:08] connor4312 commented on #104095
This works by default but not if `"webview.experimental.useIframes": true`. So this may break in the future if/when that becomes non-experimental

[2020-09-02 22:10] rebornix commented on #105958
I'm not able to reproduce with this file, let's see if you can still reproduce with tomorrow's Insiders.

[2020-09-02 22:10] alexdima commented on #105672
@arudp Thanks for the prompt reply. It is possible that the terminal renders things differently than the editor. xterm.js uses custom rendering, where they sample glyphs and create GPU textures / atlases and then render the terminal. This mostly works because of some monospace assumptions. The editor on the other hand delegates everything to Chromium.

But in any case, I've install iosevka on my m

[2020-09-02 22:16] jeroen889 opened #105981 "Hallo mensen"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-09-02 22:16] #105981 closed

[2020-09-02 22:17] DGKSK8LIFE commented on #103295
@deepak1556 it didn't output anything in terminal

[2020-09-02 22:18] septatrix commented on #105881
To make it consistent with force push a setting might be appropriate. However I would like to enable this option for a single commit/push only. For a commit it might also be possible to offer this as an alternative in the error message which opens when a commit fails.

[2020-09-02 22:19] septatrix commented on #105881
Personally I was hoping for both of these to be an alternative command in the menu of the version control tab so these can be used as a one-off and do not need to be enabled by default.

[2020-09-02 22:22] alexdima commented on #105045
VS Code is built with Electron, which is built with Chromium. I have created a test page at https://jsfiddle.net/4vs5wb72/ to check how Chrome renders this text, compared to Safari. I can confirm that Chrome is not rendering the text in the same way as Safari.

| Browser | Screenshot |
|---|---|
| Chrome | ![image](https://user-images.githubusercontent.com/5047891/92042746-1e19f780-ed7b-11ea-9d00-

[2020-09-02 22:28] arudp commented on #105672
@alexdima Right, but that's because you installed the default variant of Iosevka. If you look closely you'll notice that my editor Iosevka looks very much like the Iosevka you just installed, but even when the terminal uses the same setting to choose the font, you can see that the terminal font looks differently.

I guessed that at least one of those were leaving things to Chromium, but I don't se

[2020-09-02 22:33] BillRaymond commented on #105025
I do not know how helpful this is, but GitHub links to this page as their official updates on how they are defaulting to `main`:
[Renaming the default branch from master](https://github.com/github/renaming)

There is useful guidance on there, but it is not directed at developers who are creating tooling like VSC. Of course, GitHub is also enabling any default branch, which is why my concern with V

[2020-09-02 22:35] #105813 closed

[2020-09-02 22:35] #105816 closed

[2020-09-02 22:36] nrayburn-tech commented on #105025
The PR I submitted will use whatever branch name is configured.  Whether it is `master`, `main`, `something-else`.

[2020-09-02 22:39] deepak1556 commented on #103295
It won't output to the terminal, please check for the file `code_strace.log` in the current directory

[2020-09-02 22:40] connor4312 commented on #104454
This seems to be quite inconsistent when dealing with multiple editors, recording: https://memes.peet.io/img/20-09-905b2c11-2603-4e8f-906e-6b5107bf6023.mp4

[2020-09-02 22:44] maheshambiga commented on #43909
Close the window by clicking on the x button, it will show one single dialog to "Save All" or "Cancel All".

[2020-09-02 22:48] #105924 closed

[2020-09-02 22:49] rebornix commented on #105924
Verifier:

* Open a github issue notebook, modify it
* Open the diff view from SCM view
* Close it
* Open again, make sure you don't see any blinking after the views are rendereded.

[2020-09-02 22:50] BillRaymond commented on #105025
Thanks!

[2020-09-02 22:52] rebornix commented on #105906
It's a bug of iPadOS which is not fixed yet.

[2020-09-02 22:52] #105906 closed

[2020-09-02 22:53] colombod opened #105982 "Perform http calls and websocket from the client to a process after the extension host"
In .NET Interactive notebooks fronted and use code si allowed to consume js apis that are able to

- request static content from the .NET Interactive process
- read variables from different kernels
- use signalR client to perform commands and listen to events

As each notebook tab will have its own .NET Interactive host it will need to be able to tunnel requests from the notebook webview all the w

[2020-09-02 22:58] #105904 closed

[2020-09-02 22:58] rebornix commented on #105904
The bug mentioned in the issue description is a duplicate of https://github.com/microsoft/vscode/issues/105917 and fixed via 088f8fec17e71a2f69628be5821a3539d019f515

The notification text update is fixed via  4fb1c9a

[2020-09-02 22:59] rebornix commented on #105901
@gregvanl do you focus into the cell editor? It seems there is no selection/cursor in the editor and then it won't split.

[2020-09-02 23:00] datocrats-org opened #105983 "Slow markdown preview"
Issue Type: <b>Bug</b>

Markdown preview takes a minute to load and no status is given while waiting

VS Code version: Code 1.48.2 (a0479759d6e9ea56afa657e454193f72aef85bd0, 2020-08-25T10:13:11.295Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz (12 x 2208)|
|GPU Status|2d_canvas: enabled<br>fl

[2020-09-02 23:04] rebornix commented on #105073
I like the fix as well.

[2020-09-02 23:07] gregvanl commented on #105901
Yes, the cursor is within the editor and the blue outline indicates that the cell editor has focus.

[2020-09-02 23:11] #83353 closed

[2020-09-02 23:23] roblourens commented on #98580
I don't know how to merge those sample commits in with all the changes in the meantime. I'll mark it as verified because Steven said it worked recently

[2020-09-02 23:38] #105980 closed

[2020-09-02 23:38] mjbvz commented on #105983
You have  bunch of markdown related extensions installed. Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-09-02 23:56] roblourens commented on #105961
We actually used to have this mode. It is deprecated now but you can still get it back by setting `"workbench.settings.useSplitJSON": true`

[2020-09-02 23:56] #105961 closed

[2020-09-03 00:34] richywalls opened #105984 "The Window has crashed, can't recover"
- VSCode Version:
1.48.2
a0479759d6e9ea56afa657e454193f72aef85bd0
x64

- OS Version:
Ubuntu 20.04.1 LTS

Steps to Reproduce:

1. open code with `code --verbose --log trace --disable-extensions --disable-gpu --crash-reporter-directory=/tmp/crash`
2. message appears
![image](https://user-images.githubusercontent.com/2954965/92051840-14809780-ed5b-11ea-828c-08523e03892b.png)

Option 1:
Clic close
log

[2020-09-03 00:45] haebler opened #105985 "Settings sync: Disabled due to too many requests"
Issue Type: <b>Bug</b>

Disabled due to too many requests.

VS Code version: Code 1.48.2 (a0479759d6e9ea56afa657e454193f72aef85bd0, 2020-08-25T10:13:11.295Z)
OS version: Windows_NT x64 10.0.19042

<details><summary>Extensions (31)</summary>

Extension|Author (truncated)|Version
---|---|---
LinkCheckMD|bla|0.3.1
vscode-markdownlint|Dav|0.36.3
docs-article-templates|doc|0.2.9
docs-authoring-pack|doc

[2020-09-03 00:45] rubixcubez opened #105986 "Better informational message when trying to format large files, or allow formatting anyway."
When opening a large XML file (say 90MB) and attempting to format that document, the error message says "There is no formatter for xml-files installed." This is **very misleading** - I **do** have a formatter for XML files installed, it's just that VS Code doesn't allow it to work because the file is deemed "too large". I spent a very long time trying to figure this out, until I finally realised t

[2020-09-03 00:51] roblourens commented on #102078
I do get a ton of possible leak warning spam when I open a workspace with many folders that have git repos. I won't open an issue for it, because these are often false positives, unless you want one @joaomoreno

![image](https://user-images.githubusercontent.com/323878/92058999-e728ef00-ed44-11ea-9873-a5127b4996ec.png)

[2020-09-03 01:07] IllusionMH commented on #105972
Actually looks like duplicate of #89997

`"editor.suggest.snippetsPreventQuickSuggestions": false` should allow suggestions

[2020-09-03 01:09] dannymcgee commented on #50140
@fcurts "Semantic highlighting" has been available for a short while and it's basically the best syntax highlighting possible, especially when combined with the TM grammars.

It's only available for a few languages so far (It might still be in preview? Don't quote me on that), but bassically, it leverages a language service to determine the actual semantic type of any identifiers in your code and

[2020-09-03 01:27] Domain opened #105987 "Allow multiple patterms in workbench.editorAssociations"
I hope I can associate many file types with hex editor like this:

"workbench.editorAssociations": [
        {
            "viewType": "hexEditor.hexedit",
            "filenamePattern": ["*.exe", "*.msi", "*.bin", "*.zip"]
        }
    ],

[2020-09-03 01:35] Domain commented on #105987
Sorry, I can do that now:
"filenamePattern": {".exe,*.msi,*.bin,*.zip"}

[2020-09-03 01:35] #105987 closed

[2020-09-03 01:57] aminomancer commented on #93887
This setting is visually nice but can you add some way to extend the clickable area to the left of the text? Like if I want to move the caret to the left of the first character in a line, I have to aim at a really tiny number of pixels. This can be irritating and only gets worse at higher resolutions. It would be really nice to have some way to increase the actual content area's effective padding

[2020-09-03 02:21] LuanVSO commented on #96732
this would work like a charm for using msys2 to compile code without adding it to the windows path

[2020-09-03 02:31] tjx666 opened #105988 "[json] performance warning message can't be ignored"
- Version: 1.48.2
- Commit: a0479759d6e9ea56afa657e454193f72aef85bd0
- Date: 2020-08-25T10:09:08.021Z
- Electron: 7.3.2
- Chrome: 78.0.3904.130
- Node.js: 12.8.1
- V8: 7.8.279.23-electron.0
- OS: Darwin x64 19.6.0

Steps to Reproduce:

1. open a large JSON file larger than `json.maxItemsComputed' setting.

![Snipaste_2020-09-03_10-25-01](https://user-images.githubusercontent.com/41773861/92064696-

[2020-09-03 02:41] #105743 closed

[2020-09-03 03:12] deepak1556 commented on #80858
with https://github.com/microsoft/vscode/commit/ffc52d7989332eb37665b45854717b45b8ea30e6 crash dumps for extension host process are generated on linux too.

[2020-09-03 03:32] BrownCoatJustice opened #105989 "Java File-Saving"
-VSCode Version: 1.48.2 (USER SETUP)
   - OS Version: Windows [Version 10.0.19041.450]

When saving JAVA files it saves it in a class file like the pic shown below.
![image](https://user-images.githubusercontent.com/70653261/92068126-b0de8480-edc3-11ea-9060-d76e55d954ce.png)
![image](https://user-images.githubusercontent.com/70653261/92068164-c9e73580-edc3-11ea-9a56-afbefa2c3d37.png)
In the last i

[2020-09-03 03:34] shaft49 commented on #105848
<img width="549" alt="Screenshot 2020-09-03 at 9 32 36 AM" src="https://user-images.githubusercontent.com/20694116/92068401-9e1a7e80-edc8-11ea-9e4b-82c446a40a4f.png">
Here's the screenshot of the console log.

[2020-09-03 03:48] sixhj opened #105990 "login remote window10. why time out ?"
[11:42:08.532] Log Level: 2
[11:42:08.533] remote-ssh@0.51.0
[11:42:08.533] darwin x64
[11:42:08.535] SSH Resolver called for "ssh-remote+192.168.156.145", attempt 1
[11:42:08.535] SSH Resolver called for host: 192.168.156.145
[11:42:08.535] Setting up SSH remote "192.168.156.145"
[11:42:08.539] Acquiring local install lock: /var/folders/ry/xq9dj2p5267dh6zkp8htsb6r0000gn/T/vscode-remote-ssh-192.16

[2020-09-03 03:53] CGQAQ opened #105991 "Snippets question"
How to disable snippets only once by adding some code in place 1, and show snippets in the other time
or at least let my completion results show on top, I tried set sortText to a very small value, but didn't work
![image](https://user-images.githubusercontent.com/15936231/92069548-366e2e80-eddc-11ea-8fcc-d2165e1589f3.png)

![image](https://user-images.githubusercontent.com/15936231/92069346-adef8e

[2020-09-03 03:57] huye opened #105992 "Drag and drop code is often identified as copied code"
Issue Type: <b>Feature Request</b>

Drag and drop without holding down the Ctrl key is often identified as copying content.

VS Code version: Code 1.46.0 (a5d1cc28bb5da32ec67e86cc50f84c67cc690321, 2020-06-10T08:59:04.923Z)
OS version: Linux x64 5.3.0-3-amd64

[2020-09-03 04:06] TeachBoy1 opened #105993 "Troubleshoot Terminal launch failures (code: 259)"

[2020-09-03 04:06] TeachBoy1 commented on #105993
The terminal process "C:\Windows\system32\cmd.exe" terminated with exit code: 259.

[2020-09-03 04:14] dieu-it opened #105994 "Live Sass Compile"
I need hope
Command 'Live Sass: Compile Sass - Without Watch Mode' resulted in an error (command 'liveSass.command.oneTimeCompileSass' not found)
Extension host terminated unexpectedly

[2020-09-03 04:15] jasonbergh opened #105996 "VSCode Gray Out When HDR is enablled"
Issue Type: <b>Bug</b>

VSCode presents all gray and washed out when Display Settings -> Windows HD Color -> Use HDR is set to On. This makes the entire VSCode app look like it is unavailable and waiting on some background task when in reality HDR has washed out the colors of the app. This goes away the minute Use HDR is set to Off.

This is in Windows 10 Pro (2004), Monitor is a Samsung C49RG9x w

[2020-09-03 04:22] jrieken commented on #105969
Not quite sure what outcome is expected from this issue. Generally, my advice is not to use fspath (which we should consider to deprecate) and always use the uri. Is this a display issue?

[2020-09-03 04:23] #105073 closed

[2020-09-03 04:23] jrieken commented on #105073
sold

[2020-09-03 04:24] SneakyFish5 commented on #14710
PR has been opened at https://github.com/microsoft/vscode/pull/105995 🎉

[2020-09-03 04:26] #105972 closed

[2020-09-03 04:29] jrieken commented on #105991
Please do not explain an issue with screen shots only. Use precise and easy to follow steps and optionally use screen captures to illustrate an issue

[2020-09-03 04:31] vscodr opened #105997 "Cannot open a jupyter notebook "IPython cannot connect""
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.Open a folder with vscode. Hit cntrl shift p and issue a python: create new jupyter notebook command
2.a notebook opens and the 'connecting to IPython' dialog box commences and eventually times out....

Does this issue occur when all extensions are disabled?: It cannot be reproduced without the python extension...

Here are logs/config info..

[2020-09-03 04:39] CGQAQ commented on #105991
SO, I want to disable snippets when my `provideCompletionItems` have result, or at least let my result sit on top of completions, I tried set my CompletionItem.sortText to a very small value, but it didn't work

[2020-09-03 04:46] jrieken commented on #105991
I assume those are static snippets from your or another extension, right? This isn't possible as we don't allow a provider to suppress completions from another source.

Just like filtering, sortText is only applied when not having a prefix and once a prefix exists the match quality defines sort order.

[2020-09-03 04:48] CGQAQ commented on #105991
Oh, I see, thank you

[2020-09-03 04:48] #105991 closed

[2020-09-03 04:50] jrieken opened #105998 "Format selection doesn't fix indentation"
So it looks like that may have been an issue with my formatter (Prettier). Disabled that and used the default one and got it working for JS files.

However, I'm not seeing this work reliably with JSON files. Some format commands don't work (`Format Selection` and `Format Modified Lines`) but `Format Document` does work 🤷‍♂️:

![Kapture 2020-09-02 at 08 13 16](https://user-images.githubusercontent.

[2020-09-03 04:55] jrieken opened #105999 "Improve sortText and filterText doc for CompletionItem"
There is much confusion how they work because the doc doesn't mention that those values are only effective when no prefix based filtering/sorting happens. This should be improved

[2020-09-03 05:00] littlee opened #106000 "show file path suggest besides .js files when working in .js file"
Issue Type: <b>Feature Request</b>

when working on a webpack based project, one may want to import .css files or .png files, but vs code doesn't  show those file path suggest

VS Code version: Code 1.48.2 (a0479759d6e9ea56afa657e454193f72aef85bd0, 2020-08-25T10:09:08.021Z)
OS version: Darwin x64 19.6.0

[2020-09-03 05:05] gjsjohnmurray commented on #105993
Please post version info from Help/About

[2020-09-03 05:07] #105624 closed

[2020-09-03 05:09] saurav2608 commented on #105971
Just for information. I resolved the issue following the steps [here](https://github.com/microsoft/vscode-python/issues/13701#issuecomment-685097996).

[2020-09-03 05:28] jrieken commented on #105202
<img width="1394" alt="Screenshot 2020-09-03 at 07 28 13" src="https://user-images.githubusercontent.com/1794099/92074724-0ceedc00-edb7-11ea-9675-6883fd3e8866.png">

[2020-09-03 05:31] botekp opened #106002 "Mouse wheel first scroll is ignored in VSCode editor"
Indepenently on system settings, when scrolling code up and down using mouse scroll wheel after a longer pause in user input, the first scroll rib move is being ignored by VSCode and text does not scroll anywhere.

This seems to be be associated with some kind of timeout that may be designed to prevent accidental mousewheel scolling - as when mouse is scrolled again within a 5-10 seconds interval

[2020-09-03 05:36] eamodio opened #106003 "GitHub provider doesn't always show up in repository picker"
Refs #102394

I'm using the new `git.api.getRemoteSources` command in the GitHub Browser extension, but often (at least the first coupe of times) the GitHub provider doesn't show up.

[code]

/cc @egamma

[2020-09-03 05:37] josh-hemphill opened #106004 "TS Server fatal error: Debug Failure."
Issue Type: <b>Bug</b>

**TypeScript Version:** 3.9.7

**Steps to reproduce crash**
Unsure
Was working with Deno TS files at the time. Along with its Oak and Soxa frameworks.
I also seemed to be getting weird errors from the Deno runtime, so it might have something to do with the Deno extension's language server.
I'll update if and when I can narrow it down more.

**TS Server Error Stack**
Server:

[2020-09-03 05:44] rbuckton commented on #105202
I'm not clear as to why vscode is even updating this setting if the path is already set and resolves to the same location. On Windows this rewrites a path that uses `/` chars to use `\` chars, which could cause problems for a vscode instance open to the same path in WSL.

[2020-09-03 05:46] sandy081 commented on #105915
I see, Container file recommendation does not include Docker extension

[2020-09-03 05:52] sandy081 commented on #105985
This is expected and designed. Please restart and you can turn on Sync again .

Can you please provide us the Settings Sync log from Output view when this happened? If you restarted VS Code and lost the log when this issue occurred, you can find it in the logs folder on your disk (run the command `Open Logs Folder...`). This will show us the requests to diagnose.

[2020-09-03 05:56] syedyousafraza opened #106005 "step definition file generation"
Issue Type: <b>Feature Request</b>

Hi is there any way to generate step_defination file from .feature file in VScode with cypress_cucumber_preprocessor.

VS Code version: Code 1.48.2 (a0479759d6e9ea56afa657e454193f72aef85bd0, 2020-08-25T10:13:11.295Z)
OS version: Windows_NT x64 6.1.7601

[2020-09-03 06:09] matsberg opened #106006 "Terminal process terminated with exit code"
Issue Type: <b>Bug</b>

Sequence [ Blazor webassembly project -> Run -> Start debugging -> Press red square stop button ] results in error message "The terminal process "cmd.exe '/c', 'chcp 65001 >NUL & dotnet run'" terminated with exit code: 1."

VS Code version: Code 1.48.2 (a0479759d6e9ea56afa657e454193f72aef85bd0, 2020-08-25T10:13:11.295Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summ

[2020-09-03 06:12] alexdima commented on #106002
@botekp We react to all the `mousewheel` events coming in from Chromium / the OS. We have not implemented any such ignoring of mouse wheel events. What OS are you using?

VS Code is built with Electron, which is built with Chromium. Could you please try to open https://vscode-web-test-playground.azurewebsites.net/ in Chrome and see if you have this scroll problem there as well?

[2020-09-03 06:15] alexdima commented on #104525
ping @bpasero @deepak1556

[2020-09-03 06:17] alexdima commented on #105848
@shaft49
- Have you by any chance customized your `DYLD_LIBRARY_PATH`?
- Does the extension host crash when launching code from the command line?
- Our [Insiders version](https://code.visualstudio.com/insiders/) upgrades Electron from version 7 to 9, and that might bring more stability on some systems, could you please try that ?

This looks similar to #104525 and #103057 .

[2020-09-03 06:18] #105853 closed

[2020-09-03 06:21] botekp commented on #106002
Hello Alex,

Thanks for a quick response. I tested the above https://vscode-web-test-playground.azurewebsites.net/ in Chrome and it yields the same result.

My system is Mint 19.3 x64 Cinnamon.

I tested scrolling in a text viewer called KRViewer and it does not demonstrate this problem at all. So I assume this may be specific to VS Code.

Is there any other tests I can do?

Cheers

[2020-09-03 06:28] bpasero commented on #104525
I talked with @deepak1556 in our Monday call and we think that removing this variable here should be fine:

https://github.com/microsoft/vscode/blob/e557e8bcc3ca6b4569eee3f6b746f00b4572db56/src/vs/workbench/services/extensions/electron-browser/localProcessExtensionHost.ts#L160

This means that the variable will never reach extensions, but my understanding is that people only want it for task execu

[2020-09-03 06:34] bpasero commented on #80858
Cool!

[2020-09-03 06:35] bpasero commented on #105905
@gregvanl yeah you could run this from the command palette: "log storage contents" and try to find the list of files in the workspace storage. It would probably reveal the exact path of all the entries and show the diff.

[2020-09-03 06:36] weinand commented on #105989
/extJava

[2020-09-03 06:36] #105989 closed

[2020-09-03 06:37] weinand commented on #105992
/needsMoreInfo

[2020-09-03 06:38] weinand commented on #105992
Please be more specific: drag and drop of what, where, and how?

[2020-09-03 06:39] weinand commented on #106005
/question

[2020-09-03 06:40] bpasero commented on #105996
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2020-09-03 06:40] #106005 closed

[2020-09-03 06:57] Razzeee commented on #50140
F# also supports it.

But the language server spec for this is still preview and subject to change, as far as I followed it.

[2020-09-03 06:57] bpasero opened #106007 "Seeing custom and native hovers in custom tree views"
I was using web:

![recording](https://user-images.githubusercontent.com/900690/92081515-7aa10500-edc3-11ea-8034-ade7e8548556.gif)

I also feel the delay to make the custom hover appear could be a bit longer.

[2020-09-03 06:58] eelstork commented on #105045
Thanks @alexdima ; scanned issues related to Korean language, nothing. Opening upstream https://bugs.chromium.org/p/chromium/issues/detail?id=1124606

[2020-09-03 07:00] chrmarti commented on #105708
Just reproduced by:
- Open empty folder.
- Add some files (a .devcontainer config in my case).
- `git init, add, commit` in the terminal.
- Publish to GitHub via Command Palette.
- Seeing:
![image](https://user-images.githubusercontent.com/9205389/92081502-7379f700-edc3-11ea-9be4-f38b016f9d41.png)

Canceled and reran after checking the SCM viewlet looks initialized:
![image](https://user-images.gi

[2020-09-03 07:02] bpasero opened #106008 "Notebook diff editor model does not call super.dispose()"
This is dangerous as the parent type has some state associated when it gets disposed:

https://github.com/microsoft/vscode/blob/e557e8bcc3ca6b4569eee3f6b746f00b4572db56/src/vs/workbench/contrib/notebook/browser/notebookDiffEditorInput.ts#L46-L48

[2020-09-03 07:04] GordonSmith commented on #46585
@mjbvz When the webview is hosted in a "panel" how does call `show()` to bring it to the top (show it)?

With a terminal, I have a "show" method.

[2020-09-03 07:04] alexkrolick opened #106009 "Show editors stacked"
### What

A new way to open editors in a stacked column, as an alternative to tabs and split panes. The difference is that stacked editors would share a scrollbar and scroll as a single long page, rather than having fixed heights and independent scrolling for each one.

### Why?

For many types of code, you have several related files that support and reference each other. For example, HTML/CSS/JS

[2020-09-03 07:05] bpasero opened #106010 "Hover appears at a weird location"
I am looking at the custom hover in the references view extension in web:

![recording (1)](https://user-images.githubusercontent.com/900690/92082244-8fca6380-edc4-11ea-91d0-0bbbaa54027e.gif)

It seems to me that when I go in and out (between editor and view) the hover appears at bad locations, not close to the mouse.

PS: I also wonder if the hover should be below the mouse cursor not above, at l

[2020-09-03 07:12] rahulnjs opened #106011 "Java Suggestions appearing twice in the list"
- VSCode Version: 1.48.2
- OS Version: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Hit CTRL + Space for Java Suggestions

![image](https://user-images.githubusercontent.com/30400410/92082949-e2b31380-ede2-11ea-8747-bb479c3380b8.png)

Does this issue occur when all extensions are disabled?: Yes/No

[2020-09-03 07:13] abrasaxdeity opened #106012 "Editor service should not create untitled editors before overrides"
Add a command to the existing custom editor sample extension

`{
	"command": "catCustoms.catScratch.new",
	"title": "Create new Cat Scratch Document",
	"category": "Cat Scratch"
}`

register command in extension.ts

`vscode.commands.registerCommand('catCustoms.catScratch.new', () => {
	vscode.workspace.openTextDocument({ language: 'catScratch', content: '' }).then(doc => {
		vscode.commands.execut

[2020-09-03 07:21] oryon-dominik commented on #2809
Is there any estimation on this? Having environment variables available with settings-sync now integrated into _stable_ would be more useful then ever.

[2020-09-03 07:22] intermx-kumaravel opened #106013 "TS Server fatal error: Maximum call stack size exceeded"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-09-03 07:25] jrieken opened #106014 "Two clicks requires to dismiss dialog"
* safari, web playground
* get the auth message to show, e.g don't be logged in and author GH issue notebook
* dialog appears
* :bug: it needs two clicks to 'cancel'

[Screen Recording 2020-09-03 at 09.23.23.mov.zip](https://github.com/microsoft/vscode/files/5166880/Screen.Recording.2020-09-03.at.09.23.23.mov.zip)

[2020-09-03 07:25] aeschli commented on #105892
I personally think it's better to to stick with using TextMate only for the code snippets in hovers
- getting semantic tokens would require another roundtrip to the language server, making the hover slower
- our current semantic token API is based on documents, so we would have to create a virtual document
- semantic highlighting is based on project context (resolving types) which is not possible

[2020-09-03 07:25] #105892 closed

[2020-09-03 07:28] aeschli commented on #105914
I agree that showing it for every window does not make sense. (I was not aware of it)

[2020-09-03 07:34] #106011 closed

[2020-09-03 07:35] chrmarti commented on #105954
@Khaya56  Could you start VS Code with --log-net-log=netlog.json, retry searching for extensions and then post the created netlog.json here?

[2020-09-03 07:36] aeschli commented on #105676
Thanks that worked, thanks for the video.
The problem is that by deleting a closing bracket, the TypeScript parser can not properly parse the content and can no longer find the same blocks as before.
So the folding regions are not reported and we have to unfold them.

It's a difficult problem which, IMO, must be solved with error recovery in the TS parser.

[2020-09-03 07:36] stevenguh commented on #105969
Sorry for not articulating well with the expected outcome. Let me try again.

1. Display is definitely one of the pain points. If `fsPath` is deprecated, there should be another api so that an extension developer can display Uri correctly with the right separator without local extension installation (for both local file path and remote path).
2. `workspace.asRelativePath` returns inconsistent path

[2020-09-03 07:40] isidorn commented on #105922
Sounds good, thanks for doing that!

[2020-09-03 07:43] oholimoli commented on #20530
Please add this basic feature

[2020-09-03 07:43] isidorn commented on #105919
Maybe we could present this in one UX call in September? Seems like an interesting topic.

[2020-09-03 07:43] aeschli commented on #102795
Instead of using the media event, I'll switch to use the new electron API. I'll give this a try in September

[2020-09-03 07:44] joaomoreno commented on #105928
This was against an actual build, not against sources. Are we reaching outside of the `test/smoke` folder?

[2020-09-03 07:47] bpasero commented on #106012
I saw this recently and forgot to follow up: there is an easier repro for this and I think somewhere when custom text editors were added, we forgot to deal with untitled models properly. I think they are not getting freed up.

**Steps:**
* revert my change in https://github.com/microsoft/vscode/commit/7686b52a823e231dacda4e86d86932998cafab19
* run out of sources
* select File > New File
* you shou

[2020-09-03 07:48] jrieken commented on #105969
How/where do you display uris or paths? Should should mostly be taken care of by VS Code itself

[2020-09-03 07:48] aeschli commented on #105930
We support `tmTheme` files, but also have our own, JSON base, `*.color-theme.json` format. That format is recommended as it  allows to set workbench colors as well as semantic colors.

Sorry if I misunderstood your request.  Can you explain in more detail what you are doing?

[2020-09-03 07:49] aeschli commented on #105941
Maybe a connectivity issue? Do you get it all the time?

[2020-09-03 07:49] JRosanowski opened #106015 "Running a python script when Code is installed causes the script to open in Code."
I can't run python scripts from the command line specifying just the script name. Code is hijacking it and opening the file.
If I uninstall Code I can again run without an issue. Is there an option to disable this?

[2020-09-03 07:49] bpasero opened #106016 "Workbench hover: a lot of whitespace in this case"
I am using web and just saw this hover which appeared very large:

![image](https://user-images.githubusercontent.com/900690/92086690-cefbb300-edca-11ea-9fd1-63d71f45b0d3.png)

[2020-09-03 07:51] #104525 closed

[2020-09-03 07:53] alexdima commented on #80858
Thank you @bpasero @deepak1556 !

[2020-09-03 07:53] #80858 closed

[2020-09-03 07:54] alexdima commented on #106002
@botekp Could you please also try https://vscode-web-test-playground.azurewebsites.net/ in Firefox?

[2020-09-03 07:54] aeschli commented on #103949
I also have it reproducible on my machine, although I believe it's a timing issue. No configuration event is triggered here after the settings file is updated.

[2020-09-03 07:55] isidorn commented on #105975
Dup https://github.com/microsoft/vscode/issues/42573

[2020-09-03 07:55] #105975 closed

[2020-09-03 08:03] weinand commented on #106006
/extC#

[2020-09-03 08:03] #106006 closed

[2020-09-03 08:04] bpasero commented on #101619
Should try with recent bits.

[2020-09-03 08:05] bpasero commented on #101619
/duplicate https://github.com/microsoft/vscode/issues/103949

[2020-09-03 08:06] #101619 closed

[2020-09-03 08:06] verma-anushka commented on #105941
The error message appeared in all package.json files. There was no connectivity issue. I had to uninstall vscode and reinstall it again. That seemed to have fixed it.

[2020-09-03 08:07] weinand commented on #106015
/needsMoreInfo

[2020-09-03 08:07] weinand commented on #106015
Please provide detailed steps so that we can try to reproduce.

[2020-09-03 08:11] aeschli commented on #105994
You need to file this against the liveSass extension
(I assume it's https://github.com/ritwickdey/vscode-live-sass-compiler)

[2020-09-03 08:11] #105994 closed

[2020-09-03 08:11] #105943 closed

[2020-09-03 08:17] joaomoreno commented on #106003
On startup? Remember both the Git and GitHub extensions need to be activated for the command to fully work. This is a limitation which is very hard to get around, there isn't proper lifecycle here.

[2020-09-03 08:21] joaomoreno commented on #105937
#5770

[2020-09-03 08:21] #105937 closed

[2020-09-03 08:21] rightaway commented on #96409
I'm having the opposite problem when using the mouse scroll wheel. When I scroll, there's a delay before it switches. In other applications like browsers it switches immediately. And even if I use keyboard shortcuts in vscode to switch tabs they switch immediately, so something is different about the scroll behavior.

[2020-09-03 08:21] joaomoreno commented on #104592
#5970

[2020-09-03 08:21] #104592 closed

[2020-09-03 08:23] joaomoreno commented on #102325
@Relax594 Your issue is unrelated to the original author's issue. Please file a new issue and include all details of what doesn't work.

@nhunh585 Can you still reproduce?

[2020-09-03 08:24] nvuillam opened #106017 "Add .nf extension to Groovy file extensions"
- VSCode Version: Current
- OS Version: Win10 (but same on any)

Steps to Reproduce:

Open a nextflow file (https://www.nextflow.io/) : it is identified as plain text, not as Groovy file whereas it is written in Groovy
Solution: add **.nf** extension in Groovy language definition

Does this issue occur when all extensions are disabled?: Yes

[2020-09-03 08:24] bpasero commented on #105984
@richywalls is this a snap installation?

[2020-09-03 08:28] #105511 closed

[2020-09-03 08:29] alexdima opened #106019 "Command categories are repeated in many places"
Search for `"Developer"`, which is used to define the category for commands. There are 19 results of this category being repeated in different files.

IMHO it would make sense to consolidate these categories in a central place such that we don't duplicate this all the time, or have a typo, etc.

[2020-09-03 08:30] sandy081 commented on #105511
To verify

- Install `sandy081.999-test-pack` extension (packed with `sandy081.999-test-code` extension)
- Install `sandy081.999-test-dep` extension (depends `sandy081.999-test-code` extension)
- Try uninstalling the pack extension and make sure it shows about  `sandy081.999-test-dep` extension depending on `sandy081.999-test-code` extension

[2020-09-03 08:32] alexr00 commented on #105737
New string for setting: "Controls whether to show the task detail for tasks that have a detail in task quick picks, such as Run Task."

[2020-09-03 08:37] timo-cmd opened #106020 "Add File Icon for SNOBOL4 language"
Hey guys,

I'd like to share my idea for integrating a file icon for the **SNOBOL4 and SPITBOL** language.:
Here's a sample icon:

![snobol](https://user-images.githubusercontent.com/58859419/92091509-24d35980-edd1-11ea-9828-dcd2ceb34ca0.png)

Thanks a lot! I follow you guys and wish you success at your projetcs 👍

Friendly regards

Timo

[2020-09-03 08:37] AAraKKe commented on #89145
This was open on January, is there any plan to merge the PR for the upcoming versions? I have like aleph-0 untracked files I do not want to delete because I do not know if I am going to need some of them in the future and I do not want to commit because they are only interesting for me. Being able to collapse the tab is great but 99% of the space of the sidebar is untracked files and every time I

[2020-09-03 08:41] bpasero opened #106021 "Environment: BACKUPS is weird"
In an attempt to try to clean up `environment.ts` I noticed:

https://github.com/microsoft/vscode/blob/61e2ec4627f6c4f2b1113b1a7460e3938ca27cb8/src/vs/platform/environment/common/environment.ts#L20

I find this is at a weird location, especially because this file can be used in many contexts and many processes. This should move out imho, maybe on the level of workbench if only used there?

[2020-09-03 08:42] malachib opened #106022 "Input data "jumps" around EOL character"
- VSCode Version: 1.48.2
- OS Version: Windows 10 Pro 20H2 (And I believe Debian 10 also)

Steps to Reproduce:

1.  Open up a large C++ file ( > 1000 lines)
2.  Begin typing within a function definition

Does this issue occur when all extensions are disabled?: No

It seems that the EOL character lags behind what's being typed and shuffles its way forward.  I have taken an animated GIF of the issue

[2020-09-03 08:42] bpasero commented on #106021
Also, we do have `backupHome: URI` already in the `IEnvironmentService` interface.

[2020-09-03 08:46] joaomoreno commented on #105974
Push and pull are now front and center again.

There's another feature request open for user customization of menus.

[2020-09-03 08:46] #105974 closed

[2020-09-03 08:49] usernamehw opened #106023 "[Debug filter] Exclude line number from filtering"
#105185

Filter now takes source into account but also line numbers which is unexpected:

![demo](https://user-images.githubusercontent.com/9638156/92093054-88628480-eddb-11ea-9359-137e547d2713.gif)

Related to #105868

[2020-09-03 08:49] usernamehw commented on #106023
/assign isidorn

[2020-09-03 08:51] cleverActon0126 commented on #105676
So what should I do? Because today I was coding again, (!if{}) then everything expanded AGAIN. So annoying. Can you devs solve this as early as you could?

[2020-09-03 09:03] jrieken commented on #105800
I have created https://github.com/microsoft/vscode/issues/105998 to track selection formatting issues. Closing this as the @alexdima's confusion has been cleared

[2020-09-03 09:03] #105800 closed

[2020-09-03 09:06] arcanis commented on #105014
@mjbvz Can you share some context on 3841f78377fc02ab5ef514cbd0fa760ed4ac6f0d? I have a few questions:

- You mention that this commit intends to add intellisense support for all schemes - shouldn't that mean that `zip:` should be supported too, since it's a scheme like any other? Could this bug be more general than just zip?

- How is this particular commit expected to fix intellisense? In partic

[2020-09-03 09:08] JRosanowski commented on #106015
Ok, maybe my fault. It was due to this registry entry but I'm not sure how I ended up with it. Deleting it and reinstalling Code, I don't have a problem.

Windows Registry Editor Version 5.00

[HKEY_CLASSES_ROOT\VSCode.py]
@="Python Source File"
"AppUserModelID"="Microsoft.VisualStudioCode"

[HKEY_CLASSES_ROOT\VSCode.py\DefaultIcon]
@="C:\\Program Files\\Microsoft VS Code\\resources\\app\\resource

[2020-09-03 09:08] #106015 closed

[2020-09-03 09:09] shuntian opened #106024 "git分支显示"
1. Add multiple projects in a consistent workspace
2. The git branch information displayed at the bottom left does not match the preview project

[2020-09-03 09:10] ctf0 commented on #105930
sure, lets say u have 2 themes with different `colors` but with identical `tokenColors`.

according to the [docs](https://code.visualstudio.com/api/extension-guides/color-theme#create-a-new-color-theme) we can only use `tmTheme` file to extend from.

so i was asking if its possible to also allow `json` files to be included/extended as well.

[2020-09-03 09:13] #104454 closed

[2020-09-03 09:14] AidanVIII opened #106025 "Focusing Outline & hitting [ Enter ] on a symbol no longer focuses the editor"
- VSCode Version: 1.48.2 (user setup)
- OS Version: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Use the Outline's shortcut to focus it
2. Use arrows to focus a symbol/heading
3. Hit [ Enter ]

![Capture](https://user-images.githubusercontent.com/20214995/92095137-944b4800-edd5-11ea-89d3-a5d6d1c95b9b.PNG)

Snippet:
[code]

Errors in the Dev Tools Console:
No.

Expected:
Editor focuses the ed

[2020-09-03 09:28] #105708 closed

[2020-09-03 09:34] #106023 closed

[2020-09-03 09:35] isidorn commented on #105976
Ok, so you would like filter to not match the output name. Since I heard opinon from the other camp as well I will leave this open for now and potentially introduce a checkbox to control this in the future.

[2020-09-03 09:36] isidorn commented on #105863
Yeah, let's go with that approach.

[2020-09-03 09:49] goncalof87 commented on #105441
Hello, i think i solved the problem, i had a pendent update of windows, when i made it it worked, a bit weird but solved, apologize for taking your time and thanks for the help ;)

[2020-09-03 09:49] #105441 closed

[2020-09-03 09:51] aeschli commented on #104869
Verified that the message is a warning now

[2020-09-03 10:01] sandy081 commented on #105138
This is because web playground extension is resetting the problems when Output panel is opened. Output panel contains editor and window active editor is set to it.

[2020-09-03 10:01] #105138 closed

[2020-09-03 10:14] TD540 commented on #104962
Not working here also:
VS Code version: 1.48.2
OS version: macOS Catalina

[2020-09-03 10:15] hediet opened #106026 "Extension API: Allow to have hidden unsaved documents"
# Context

If you open a text document with

[code]

It is hidden - no editor will be spawned.
However, as soon as an edit is applied to it, a visible editor is spawned by VS Code:

[code]

# Request

It would be really useful if an extension could open a text document in a way that API edits don't open a visible editor!

[code]

# Reason

If that was possible, generic language embedding could be

[2020-09-03 10:19] Shivamd1 opened #106027 "Narrator is announcing the wrong listing for list items under cloud hosted codespaces tree item"
["Check out Accessibility Insights! ](https://accessibilityinsights.io/)- Identify accessibility bugs before check-in and make bug fixing faster and easier."
​
**GitHubTags**:#A11yMAS; #A11yTCS; #Win32; #DesktopApp; #A11y_VSCode;#WCAG1.3.1; #A11ySev2;#CAITestPass_May2020;#Benchmark;#Visual Studio Code;

**Environment Details:​**
Application Name: VS Codespace
Operating System: Win10​
Version: 1.47

[2020-09-03 10:22] shrmaky opened #106028 "The TypeScript language service died 5 times right after it got started. The service will not be restarted."
Everytime am running a new instance of VSCode getting this error.

CPUs | Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz (16 x 2300)
-- | --
GPU Status | 2d_canvas: enabledflash_3d: enabledflash_stage3d: enabledflash_stage3d_baseline: enabledgpu_compositing: enabledmetal: disabled_offmultiple_raster_threads: enabled_onoop_rasterization: disabled_offprotected_video_decode: unavailable_offrasterization: e

[2020-09-03 10:27] Oran commented on #103444
Same Issue, but file name weren't changed
It fixes itself if you clone the repo again from remote

[2020-09-03 10:27] huye commented on #105992
I select the text in the edit area, hold down and drag the mouse to another line, and then release the mouse. The correct action should be to move the text block, but occasionally the text in the old position does not disappear here. I guess there is a mistake in the judgment of the status of the Ctrl key. When something goes wrong, I need to press the Ctrl key and release it to restore normal.

[2020-09-03 10:30] shhlkien opened #106029 "Failed to build from source on Linux"
- VSCode Version: latest
- OS Version: PopOS 20.04 (Based on Ubuntu 20.04)

Steps to Reproduce:
Follow instruction [here](https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run)
1. `yarn` => ok
2. `./scripts/code.sh` => ok
<details>
<summary>Output</summary>

[code]

</details>

3. `yarn gulp vscode-linux-x64-min` or `yarn gulp vscode-linux-arm-min` => fail
<details>
<summary>Out

[2020-09-03 10:31] alexim36 opened #106030 "visual isnt working"
Issue Type: <b>Feature Request</b>

visual code is  not working  with the new windows 10 update due to a software error

VS Code version: Code 1.48.2 (a0479759d6e9ea56afa657e454193f72aef85bd0, 2020-08-25T10:13:11.295Z)
OS version: Windows_NT x64 10.0.19042

[2020-09-03 10:34] jrieken commented on #106025
This is the `onDidOpen`-event from the tree. Not sure what/if anything changed there

[2020-09-03 10:36] huye commented on #105992
In short: when I was not holding down the Ctrl key, but appeared the behavior of the Ctrl key.

[2020-09-03 10:40] jrieken commented on #106026
The common pattern for that is to use a virtual document (see `registerTextDocumentContentProvider`-api) which takes a "composed" document and breaks that into actual "language" documents. It has the advantage of being a pull model and not being an unsaved document - for which we show an editor so that users can save it.

[2020-09-03 10:40] #106026 closed

[2020-09-03 10:42] sandy081 commented on #91286
Currently requests are queued but not debounced. Will improve it.

[2020-09-03 10:42] Shivamd1 opened #106031 "Unnecessary heading markup is given to Self-hosted codespaces tree item."
["Check out Accessibility Insights! ](https://accessibilityinsights.io/)- Identify accessibility bugs before check-in and make bug fixing faster and easier."
​
**GitHubTags**:#A11yMAS; #A11yTCS; #Win32; #DesktopApp; #A11y_VSCode;#WCAG1.3.1; #A11ySev2;#CAITestPass_May2020;#Benchmark;#Visual Studio Code;

Environment Details:​
Application Name: VS Codespace
Operating System: Win10​
Version: 1.47.0-i

[2020-09-03 10:43] IllusionMH commented on #106030
/needsMoreInfo

What error does it show?

[2020-09-03 10:49] hediet commented on #106026
Thanks for the quick response!

`registerTextDocumentContentProvider` has the problem, however, that it requires its own scheme (which technically makes sense).
This means that the content cannot really interact with other documents from the workspace.

For readmes, it would be invaluable to check demos that refer to some library:
[code]
This would require that typescript can resolve "my-lib" from

[2020-09-03 11:05] sandy081 opened #106032 "No overflow action when notebook cell status bar items are wrapped"
Testing #105768

- Create multiple status bar items
- When wrapped there is no overflow action to see wrapped items

<img width="369" alt="image" src="https://user-images.githubusercontent.com/10746682/92107397-fdd35280-ede5-11ea-89c7-31c59358f771.png">

[2020-09-03 11:07] neerajrk2509 opened #106033 "Settings does not reflect."
Issue Type: <b>Bug</b>

I had changed the tabSize to 2 for one of my projects and again to 4 for my other project but it isnt reflecting in my project.
TabSize remains on 2 even though if I open the indentation action and shows 4 as configured tab size.

VS Code version: Code 1.48.2 (a0479759d6e9ea56afa657e454193f72aef85bd0, 2020-08-25T10:13:11.295Z)
OS version: Windows_NT x64 10.0.17763

<details

[2020-09-03 11:11] alexim36 commented on #106030
thats the thing it doesnt show it just says that this app cant run on your pc

[2020-09-03 11:13] andycraig commented on #105944
Hi @Tyriar, thank you for the quick response. That helps a lot. I'd say that's almost certainly what we're encountering. We'll update the extension to handle that situation.

Not a VS Code bug, so I'll close. Thanks again!

[2020-09-03 11:13] #105944 closed

[2020-09-03 11:19] IllusionMH commented on #106030
Are there any errors if you run in crom CMD with `--verbose` flag? like `code --verbose`

[2020-09-03 11:22] #105466 closed

[2020-09-03 11:22] #105442 closed

[2020-09-03 11:22] #105424 closed

[2020-09-03 11:22] #105396 closed

[2020-09-03 11:22] AhmadBilal3000 commented on #105829
At the time this happened, I was not using Setting Sync. (But now I have enabled it, to be on the safe side in case this happens again, plus I am keeping a local copy of user settings as well, as it took me almost 3 hours to reconfigure all the VSCode and plugin settings.)

Furthermore, when I reloaded the windows and before all the settings were auto reset, VS Code popped a notification that the

[2020-09-03 11:23] #101497 closed

[2020-09-03 11:27] #106007 closed

[2020-09-03 11:29] vinaykeenable opened #106034 "IntelliSense not Working in VS Code"
For any case, if i'm trying to use auto complete word or suggestion, It is not working. Could you help me on this?

[2020-09-03 11:42] alexdima commented on #105672
@arudp I see you have configured `"editor.fontLigatures": "'ss01, 'ss05', 'dlig'"`. Have you tried enabling ligatures via `"editor.fontLigatures": "'ss01, 'ss05', 'dlig', 'liga' on, 'calt' on"` or commenting out that setting? (that setting influences font rendering in the editor, but not in the integrated terminal).

[2020-09-03 11:48] arudp commented on #105672
@alexdima That was exactly it! Damn, I completely forgot about that setting, so silly!! Thank you very much!

[2020-09-03 11:56] hanhan9449 commented on #105575
After I reboot the computer, now It works fine. Sorry.

[2020-09-03 11:56] #105575 closed

[2020-09-03 11:59] Marcinbar opened #106035 "Hover dont working with ColorProvider"
Hover dosn't show when ColorProvider is in range.

- VSCode Version:1.48.2
- OS Version: Windows 10

Steps to Reproduce:
[code]

Does this issue occur when all extensions are disabled?: Yes

[2020-09-03 12:04] jsburckhardt commented on #105570
I'm having the same issue
OS Version: Ubuntu 20.04.1 LTS
I did a clean install of VSCODE and I'm having the same issue. Read different articles and they suggest can be an extension... but even when I start VSCODE without extension most keys don't work ... is driving me crazy :S

[2020-09-03 12:08] ppanhoto78 opened #106036 "Terminal: CTRL+L should clear scrollback just like the command "clear" in a shell does"
- VSCode Version:1.48.2
- OS Version:Ubuntu 20.04/OpenSuSE Tumbleweed

Steps to Reproduce:

1.run `ls /usr/bin`
2.press CTRL+L -- the screen will be blank
3. scroll up  -- We can still see the the output of last command.
4. run `clear ; ls /etc`
5. scroll up - We just see the output of what came after clear.

Does this issue occur when all extensions are disabled?: Yes/No
Yes

[2020-09-03 12:13] fxxjdedd opened #106037 "openWith did not work as expected"
- VSCode Version: v1.48.2
- OS Version: MacOS Catalina 10.15.5

Steps to Reproduce:

1. goto: https://github.com/microsoft/vscode/blob/9f1aa3c9feecd04a79d22fd6752ba14a83b48f1b/src/vs/code/browser/workbench/workbench.ts#L344
2. add:
[code]
3. get:
![image](https://user-images.githubusercontent.com/13739947/92113057-5542e400-ee21-11ea-949a-d7b8c7087823.png)

it looks like vscode doesn't find the 'vs

[2020-09-03 12:22] vinaykeenable commented on #106034
I have checked multiple on GitHub, but those are not valuable for me.

[2020-09-03 12:22] jrieken commented on #106026
Welcome to the challenge of embedded languages ;-)

Well, uri-path-math is always possible but you cannot expect the "to be embedded" language to know these kinds of things. And that's where the trouble starts. For instance, TypeScript will report errors and warnings for the extracted snippet and you won't have a way to prevent this. And there is also no way to teach TypeScript to find references

[2020-09-03 12:25] jrieken commented on #106034
Sorry, I cannot help you because your issue contains absolutely nothing that would allow me to understand or reproduce the problem you are having.

So, please update this issue after reading https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-good-bug-reports-and-feature-requests.

[2020-09-03 12:26] aeschli commented on #105930
So it's a request for the yeoman generator to also accept JSON?

[2020-09-03 12:28] itsAnuga commented on #105996
Nice monitor choice, I have the same :)

This has been a known bug since earlie 2019:
https://github.com/microsoft/vscode/issues/68069

I've had the issue since then.

[2020-09-03 12:37] ctf0 commented on #105930
mostly yes, or if possible is it possible to bypass the yeoman step and get the `vsce` command to do that on compiling time ?

[2020-09-03 12:39] #105672 closed

[2020-09-03 12:39] bw-space commented on #105929
![image](https://user-images.githubusercontent.com/43056530/92115781-967ec800-ee10-11ea-839f-71d71c2a4029.png)
This is the error

[2020-09-03 12:42] ManPython opened #106040 "Problem with comparation of files (breadcumbs, title, etc.)"
Version: 1.48.1
Commit: 3dd905126b34dcd4de81fa624eb3a8cbe7485f13
Date: 2020-08-19T17:12:13.244Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 6.1.7601
Steps to Reproduce:

I. Working with .py .html
1. Select 1 file to compare with long path
2. Select 2 file to compare with long path
3. Swith betwen files then no reaction for breadcumbs path
a) n

[2020-09-03 12:45] vinaykeenable commented on #106034
@jrieken
I'm sharing required detail such as Extensions details and screenshot of auto suggestion not working.

VS code version: 1.48.2

[Installed_Extensions.xlsx](https://github.com/microsoft/vscode/files/5168540/Installed_Extensions.xlsx)
![Proof_of_autosuggestion_not_working](https://user-images.githubusercontent.com/70699315/92116389-6552c780-ee11-11ea-984b-4f1e82456cf3.png)

Issue is not rel

[2020-09-03 12:49] DGKSK8LIFE commented on #103295
@deepak1556 the codestrace is 2,855,114 lines long and keeps growing. What do I do?

[2020-09-03 12:50] isidorn commented on #100368
Moving to September since this is on-going work and nothing more is planned for this milestone as far as I know.

[2020-09-03 12:59] joaomoreno commented on #104251
Got it, I was able to repro.

This is due to the watching mechanism in: https://github.com/microsoft/vscode/blob/1ab31376742390f215736283dfb763e3a13bced9/extensions/git/src/repository.ts#L514-L514

Unfortunately this is an issue with the Windows NTFS file system and is unlikely to change until we adopt a different file watching mechanism or our API supports arbitrary watching: #3025

Will have to

[2020-09-03 12:59] #104251 closed

[2020-09-03 12:59] joaomoreno commented on #103444
@mattrossman Can you confirm this?

[2020-09-03 13:03] #105977 closed

[2020-09-03 13:04] isidorn commented on #105977
Agree. I have increased the delay from 200ms to 400ms both for Debug Console and the Problems view.
fyi @sandy081

[2020-09-03 13:05] aeschli commented on #105930
`vsce` ist the command for publishing

[2020-09-03 13:07] Tyriar commented on #106010
The x position is defined by the custom tree view part.

@alexr00 do you think it should go below? All the terminal hovers are above and it makes the most sense especially if there are actions associated with the hover as they should be right near the cursor. If we decided to go below, this would mean where our custom hovers display becomes inconsistent. @bpasero is anything bothering you other th

[2020-09-03 13:08] sandy081 commented on #105929
Seems coming from C# extension. Please file issue against that extension.

[2020-09-03 13:08] #105929 closed

[2020-09-03 13:09] cipri-tom commented on #96675
I have seen in the default keyboard shortcuts that `c` should copy a cell (without cmd) and `v` should paste it, but this is not working. Is this supposed to work in the stable version?

[code]

[2020-09-03 13:09] aeschli commented on #105930
No sure if that's helpful, the color-theme.json also support to include another theme definition.
https://github.com/microsoft/vscode/blob/f1d7f7f6ce3d0a343bf03bea198aeedefa6cfaf2/extensions/theme-defaults/themes/dark_plus.json#L4-L4

So you can have one theme file just defining the token colors and other file (with different `colors`) include that one,

[2020-09-03 13:11] nrayburn-tech commented on #106029
Searching for the error, a few areas mention that it is an out of memory error. None of them are specifically for yarn, so it may not be accurate here though.
Could you check your memory while running the task?

[2020-09-03 13:13] bpasero commented on #106010
@Tyriar I think I am just used to seeing a hover below my mouse not above. I just checked, and macOS, Linux and Windows all seem to put the hover below the cursor not above.

I think putting it above is maybe more common only for editors but I am not sure we should go against OS standards in other places.

[2020-09-03 13:16] apereyra commented on #70413
+1 for this

[2020-09-03 13:18] aeschli opened #106041 "setting UI: support color settings"
#105811 added the `screencastMode.mouseIndicatorColor` setting representing a color

- open the JSON settings (JSON), add "screencastMode.mouseIndicatorColor": "#ff00ff"
- see that there's a color decorator and that there's validation if you change the value to an invalid color

Now open the same setting in the settings UI:
- enter an invalid value `#foo`. No error
- a color decorator would also b

[2020-09-03 13:20] hediet commented on #106026
Lets say we have a workspace, containing all the source files of a project:
[code]

Lets further say the readme has different code blocks:
[code]

What I had in mind was writing the content of codeblock 1 + codeblock 2 to `./.tmp-codeblocks/codeblock1.ts` and codeblock 3 to `./.tmp-codeblocks/codeblock3.ts`.
Because of how the module resolution works in js, everything would work as expected. Types

[2020-09-03 13:21] Tyriar commented on #105993
This means your shell exited with that code. Please follow this guide before creating an issue https://code.visualstudio.com/docs/supporting/troubleshoot-terminal-launch and be sure to include the information is asks for.

[2020-09-03 13:21] #105993 closed

[2020-09-03 13:22] bersbersbers commented on #105944
Hello there,
this is the user who reported https://github.com/Ikuyadeu/vscode-R/issues/385. I am currently able to reproduce the bug ("Error identifying terminal") while the terminal *is* visible, as you can see from this GIF:

![AV2Oqh4biT](https://user-images.githubusercontent.com/12128514/92119869-a5598080-edf8-11ea-8e75-7871c498b42d.gif)

In fact, I have used this terminal before and it has ru

[2020-09-03 13:22] weinand commented on #106040
/extPython

[2020-09-03 13:22] #106040 closed

[2020-09-03 13:25] joaomoreno opened #106042 "Can't open SCM change if file is already open"
1. Open a file
2. Make a change, save it
3. Go to SCM view and click the changed file row

🐛 File does not open

[2020-09-03 13:26] #106025 closed

[2020-09-03 13:28] isidorn commented on #106027
Accessibility issue for extensions should be filled in the repository of the extension. Once that is done the extension author should investigate and file an issue in VS Code using proper description of our components. Thanks!

Also Narrator we are not supporting.

[2020-09-03 13:28] #106027 closed

[2020-09-03 13:28] sandy081 commented on #105829
Thanks for providing info. Enabling settings sync will definitely be handy in these cases. But I do not understand how are your extensions are wiped out. I am suspecting a race condition while writing into settings would have caused it. Is it possible to repro it?

[2020-09-03 13:28] #106031 closed

[2020-09-03 13:29] zawys commented on #5770
My extension can now be found [on the Marketplace](https://marketplace.visualstudio.com/items?itemName=zawys.vscode-as-git-mergetool).

[2020-09-03 13:30] bramankp opened #106043 "Format On Save Not Working For Build Tasks"
Issue Type: <b>Bug</b>

Once changes are made to a file, a manual save will trigger the Format On Save behavior. However, if I instead run a Build Task (which saves the file before the task is run) the Format On Save behavior is no longer being run.

I noticed this after a recent update to 1.48 (although I can't confirm exactly when it changed).

VS Code version: Code 1.48.2 (a0479759d6e9ea56afa65

[2020-09-03 13:32] Tyriar commented on #100427
@jasonwilliams please don't ping people not involved in the issue

Quick thoughts on this: Some additional latency is expected as normally the terminal's pty runs in the renderer process whereas in remote it runs in the extension host.

This says to me you probably have extensions that are making the extension host busy, it's a single thread that all extensions run on, including terminal input/out

[2020-09-03 13:33] richywalls commented on #105984
@bpasero no, it's `.deb` downloaded about a year ago, updates were made with `apt`

[2020-09-03 13:34] jrieken commented on #106034
Please read again https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-good-bug-reports-and-feature-requests.

[2020-09-03 13:35] Tyriar commented on #105944
https://github.com/Ikuyadeu/vscode-R/blob/67ea4de10d4c4220af307894662a15d0454a7279/src/rTerminal.ts#L82-L95

@andycraig fwiw `window.terminals.length === 1` could happen at the same time `activeTerminal` is `undefined`, this should check `windows.terminals.length > 0`, no?

[2020-09-03 13:37] cmcleese opened #106044 "High CPU usage for WMI process - v1.48"
- VSCode Version: 1.48.2
- OS Version: Win10x64

Steps to Reproduce:

1. Disable all extensions
2. run `code --status` in terminal

Seems potentially related to [60145](60145)
I have `debug.javascript.usePreview` set to `true` which does not help as mentioned [here](https://github.com/microsoft/vscode/issues/60145#issuecomment-653791049)

Setting `debug.node.autoAttach` to `false` does remove this

[2020-09-03 13:39] Tyriar commented on #105051
/duplicate https://github.com/xtermjs/xterm.js/issues/2151

[2020-09-03 13:39] #105051 closed

[2020-09-03 13:41] isidorn commented on #104793
Moving to debt week.

[2020-09-03 13:42] Tyriar commented on #105350
This would not work for many reasons, VS Code uses [xterm.js](https://github.com/xtermjs/xterm.js) which is an open source terminal frontend for the web platform which also features hardware acceleration (`"terminal.integrated.rendererType": "experimentalWebgl"`). VS Code also uses Windows Terminal's backend for hosting the processes on Windows only.

[2020-09-03 13:42] #105350 closed

[2020-09-03 13:43] Tyriar commented on #105453
Please see https://code.visualstudio.com/docs/supporting/troubleshoot-terminal-launch to help diagnose.

[2020-09-03 13:43] #105453 closed

[2020-09-03 13:44] bpasero commented on #105984
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2020-09-03 13:45] bpasero commented on #105968
@isidorn making a file dirty is one of the conditions under which we consider a file as pinned (= no more preview). Other actions are double click on the title, or e.g. moving the tab to another place.

[2020-09-03 13:45] Tyriar commented on #105431
Yes compatibility mode breaks the terminal: https://code.visualstudio.com/docs/supporting/troubleshoot-terminal-launch#_the-terminal-exited-with-code-1-on-windows-10

[2020-09-03 13:46] bpasero commented on #106042
@rebornix could this be related to notebooks and your diff editor work? I see that this code is on the path possibly changing the way the command works?

![image](https://user-images.githubusercontent.com/900690/92123207-a7254300-edfc-11ea-96db-f7294ed93222.png)

[2020-09-03 13:46] joaomoreno commented on #106025
I cleaned up the `onDidOpen` event which now has much more information. @jrieken can you review and verify?

[2020-09-03 13:48] Tyriar commented on #105446
@deepak1556 do you know why an `exec` call would be blocking the thread?

[2020-09-03 13:48] richywalls commented on #105984
Tried insiders, works fine (it's what i'm using now), but I lost all configs and i don't thing is ideal to use insiders as primary. Anyway, i don't care about the state, so if tests are needed I'm happy to try them

[2020-09-03 13:48] joaomoreno commented on #106029
How much RAM do you have? What node version do you have?

[2020-09-03 13:49] joaomoreno commented on #106039
What does `git remote -vvv` return from the terminal?

[2020-09-03 13:49] isidorn commented on #105968
Yes, but that should happen only once, not on every type. So let's wait for @rebornix performance profile...

[2020-09-03 13:49] bpasero commented on #105984
@richywalls if you enable settings sync, you can use insiders with the data from stable easily. And it is quite stable to use daily.

[2020-09-03 13:50] joaomoreno commented on #106024
The status bar indicator shows the status of the repository of the currently opened file.

[2020-09-03 13:50] #106024 closed

[2020-09-03 13:51] isidorn commented on #105917
Works nice now, thanks for fixing.

[2020-09-03 13:52] bpasero commented on #105968
@isidorn I think @rebornix has a very aggressive auto-save interval below 1s, so maybe this is happening due to that.

For reference the code that pins is here:

https://github.com/microsoft/vscode/blob/4c3f4a5eb5e37f2e48e2965fef9580254acf98da/src/vs/workbench/browser/parts/editor/editorGroupView.ts#L651

[2020-09-03 13:52] aeschli commented on #105414
I still get the trailing comma error when opening the default settings.

[2020-09-03 13:52] isidorn commented on #105925
Works nice now, thanks for fixing

[2020-09-03 13:53] isidorn commented on #105923
Works nice now, thanks for fixing

[2020-09-03 13:54] joaomoreno commented on #105837
This still doesn't work in:

[code]

[2020-09-03 13:55] isidorn opened #106045 "Notebook dif: Open Text Diff Editor button has no effect"
1. Open the `my-work.github-issues` file
2. Make some changes to it, open it in the changes view
3. Click on the "Open Text Diff Editor" button in the editor title area. No effect 🐛

[2020-09-03 13:55] vikash-ag opened #106046 "Unable to sync the data to local machine."
After last update of VS code, when I'm creating new project and syncing the salesforce sandbox to local machine is throwing some error message consisiting this: "ERROR running force:source:retrieve:  Cannot read property 'record' of undefined".  This error needs to be resolved as soon as possible as I'm not able to sync any new projects.

[2020-09-03 13:55] joaomoreno commented on #105837
Nope, it works, I was forgetting the `--inpect` flag, I thought it wasn't necessary.

[2020-09-03 13:55] richywalls commented on #105984
@bpasero nice! just enabled it in insiders.
Any way to copy settings/extension from crashed code to running code-insiders?

[2020-09-03 13:55] isidorn commented on #105968
@bpasero good point.
@rebornix can you repro if you decrease your auto-save interval?

[2020-09-03 13:57] isidorn commented on #105924
Works great now. However in that commit you have commited a `console.log`. Maybe you want to remove that?

[2020-09-03 13:58] shhlkien commented on #106029
Ok, I have checked my memory. After decreasing it to 6000 I could build successfully

[2020-09-03 13:59] #106029 closed

[2020-09-03 13:59] bpasero commented on #105984
@richywalls yeah copy from https://code.visualstudio.com/docs/getstarted/settings#_settings-file-locations

[2020-09-03 14:01] weinand commented on #106046
What do you mean by "syncing the salesforce sandbox to local machine"?
Is this related to syncing user settings or is this a feature of the salesforce extension?

[2020-09-03 14:04] vikash-ag commented on #106046
It means when I create a new Sfdc project using SFDX command and authorize
it. That's fine. But on opening the package.xml file to sync the files to
the local system it throws the error. Its not happening with the old
existing projects but with the newly created projects.

*Vikash Agarwal*
*Email: vikashagarwal208.va@gmail.com <vikashagarwal208.va@gmail.com>*
*Contact:  +91-8910819645*

On Thu, 3

[2020-09-03 14:10] jrieken commented on #106026
Maybe. I see how you put the files into the project folder itself but it would still require a tsconfig-file that's not strict in what it includes. Also, would you create the readme-projections eagerly or what happens if I have only ever opened leftPad.ts and when you rename its symbols - those file aren't there yet, right?

Assuming we have all of this it would still not help you because tsserver

[2020-09-03 14:11] Tyriar commented on #90836
Verified via code review

[2020-09-03 14:12] alexr00 commented on #106043
This is currently intentional. More info and a feature request for configuration [here](https://github.com/microsoft/vscode/issues/104296)

[2020-09-03 14:12] #106043 closed

[2020-09-03 14:13] jrieken commented on #106025
The change doesn't make sense to me but it seems to work

[2020-09-03 14:14] jrieken commented on #106025
Ah, no it makes sense. We would make `preserveFocus === true` too often.

[2020-09-03 14:15] joaomoreno commented on #106025
The problem was the expression `!!e.editorOptions.preserveFocus || !e.editorOptions.pinned`

[2020-09-03 14:15] jrieken commented on #106025
verified in master

[2020-09-03 14:16] eamodio commented on #106003
Yeah on startup, though shouldn't the command cause the activation and wait until activated?

[2020-09-03 14:18] cmcleese commented on #106044
Ok thanks for clarifying. This works well.
Thanks

[2020-09-03 14:20] jasonwilliams commented on #100427
Its not extensions, Ive ran these tests with and without extensions (--disable-extensions) and the results are the same so from my end that can be ruled out.

[2020-09-03 14:22] bpasero commented on #106045
Related: https://github.com/microsoft/vscode/issues/106042

[2020-09-03 14:24] aeschli commented on #105503
Are there verification steps that don't require waiting 2 days?

[2020-09-03 14:25] weinand commented on #106046
please file this issue against the Salesforce extension

[2020-09-03 14:26] isidorn commented on #105558
Just investigated a bit more and actually nothing changed. It seems like the original issue was not fixed when `"editor.accessibilitySupport": "on"` in settings. If accessibilitySupport is disabled then all works perfectly both then and now.

I have verified that the issue is [here](https://github.com/microsoft/vscode/blob/c367d6148d67f7a42e0066b523fb810731fe488a/src/vs/editor/browser/controller/t

[2020-09-03 14:28] weinand commented on #106044
BTW, you don't have to explicitly set `debug.javascript.usePreview` to true, because that's the default anyway.
And the use of `wmi` will go away as soon as we remove the old node-debug.

[2020-09-03 14:28] #106044 closed

[2020-09-03 14:30] richywalls commented on #105984
@bpasero done, all is fine with insiders now (missing some extensions but will install them now)
I'll work with indisers for the moment, but what do I do with the original problem?

[2020-09-03 14:31] WillDawe commented on #23957
Not 100% sure if this is relevant; but I was able to move the "go to definition" behaviour to requiring a different keypress (such as `option` instead of `command`)) by: `VSCode Window` > `Selection` Menu > `Switch to Cmd+Click for Multi-cursor`.

It does seem as though this button is not 100% accurate with its description. It is a toggle button that switches between the state `Switch to Cmd+Click

[2020-09-03 14:32] #106034 closed

[2020-09-03 14:35] hediet commented on #106026
Yeah, that is a problem - the projections would be eagerly. But this is a problem with typescript too, afaik. If you have the typescript projects A and B in a workspace with B depending on A and rename a symbol in A without opening any file from B before, it used to be the case that references in B did not get renamed.

Oh I see :(
I only tested it with the untitled scheme and it worked, but that

[2020-09-03 14:38] AdjutantML commented on #23957
Thanks @WillDawe , you are a champion

[2020-09-03 14:43] isidorn commented on #99410
Adding verified based on code review

[2020-09-03 14:45] yukilzw commented on #105631
Is Git Output this？
![image](https://user-images.githubusercontent.com/21005519/92130018-d5277900-ee36-11ea-957d-e8cdec0185ce.png)

[2020-09-03 14:48] Tyriar commented on #100427
@jasonwilliams https://github.com/microsoft/vscode/issues/100427#issuecomment-677845208 is what I was talking about

[2020-09-03 14:48] alex19EP commented on #93056
i am not @deepak1556 but I can say for sure that the problem is not fixed in electron 9.

as for chromium version, I'd like to know that too. 🙂

[2020-09-03 14:51] misolori commented on #106020
Thanks for the suggestion! We actually use [seti-ui](https://github.com/jesseweed/seti-ui) for our file icons so you'll need to make a request on that repo as we don't own those.

[2020-09-03 14:52] bpasero commented on #105244
@aeschli I am not sure this is fixed, what are the steps? I configured my settings as outlined.

I see this:

![image](https://user-images.githubusercontent.com/900690/92131093-d4c2ba00-ee05-11ea-80ac-44262ad8c56a.png)

[2020-09-03 14:53] hodjaev opened #106047 "Download procedure when on remote ssh"
Hello,
I'd like vscode to inform me about the completion of the download folder procedure when I am on remote ssh.

[code]

![image](https://user-images.githubusercontent.com/69766846/92131126-40108a00-ee0e-11ea-8403-b43d78d9a36c.png)

[2020-09-03 14:53] devaslooper opened #106048 "Extension Host terminates unexpectedly on fresh install"
Version: 1.49.0-insider
Commit: 8c9b4015feb0297d99c8051c35e85d208ffe83e3
Date: 2020-09-03
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:
1. Install the latest VSCode version
2. Install Python extension
2. Open existing demo folder with .py file

Does this issue occur when all extensions are disabled?: Yes/No
Yes

[2020-09-03 14:54] alexdima commented on #105558
@isidorn I'm sorry, I don't really know. I can speculate that perhaps the textarea is positioned at the cursor location, but the text inside the textarea overflows the 1px by 1px textarea and the native cursor is somewhere else. And perhaps the magnifier follows the native cursor?

[2020-09-03 14:54] isidorn commented on #93056
Thanks. Then Electron 10 maybe :)

[2020-09-03 14:56] alexr00 commented on #106010
I think it is more important to be consistent with what people expect than with editor hovers here. Above or below doesn't bother me, but more uses will notice that the behavior is now different in the trees.

[2020-09-03 14:56] FaruNL commented on #105281
For what it's worth: [Some RAM usage](https://imgur.com/a/uKBy5S6)

Before I realized it, it was up to 6GB of RAM usage, in about 2 to 3 hours, again just for 4 tabs opened.

[2020-09-03 14:56] alexdima commented on #106022
AFAIK the end of line symbol that you see there is not part of VS Code, so it must be contributed by some extension. You an disable all extension by pressing `F1` and then choosing `Developer: Reload Window with Extensions Disabled`

![Kapture 2020-07-20 at 15 28 23](https://user-images.githubusercontent.com/5047891/87943040-c3b02a80-ca9d-11ea-847d-5f850fae8f05.gif)

[2020-09-03 14:56] #105996 closed

[2020-09-03 14:56] isidorn commented on #105558
@alexdima no worries. Good ideas. I will investigate further in debt week.

[2020-09-03 14:59] aeschli commented on #105063
verified that schema is gone

[2020-09-03 15:00] #106010 closed

[2020-09-03 15:00] Tyriar commented on #105206
To verify:

1. Set `export LANG=en_AU.utf8` in your `.bashrc`/`.zshrc`
2. Relaunch VS Code
3. Open a terminal and make sure `$LANG` is not overridden (using the default `"terminal.integrated.detectLocale": "auto"`)

[2020-09-03 15:00] alexr00 commented on #106010
For the position being off: I was using the mouse enter position, but its possible the mouse moves after that. Updated to account for the move.

[2020-09-03 15:02] andycraig commented on #105944
@Tyriar Thank you for having a look at the code. That section is inside a `windows.terminals.length > 0` condition. The `=== 1` is there to deal with an old VS Code ‘first terminal’ bug (maybe #53104?). Creating a terminal when there wasn’t already one would show it, but `activeTerminal` was always `undefined`. That code is specifically checking for that situation. If `activeTerminal` is `undefine

[2020-09-03 15:03] misolori commented on #105919
Yea we can definitely bring it up in the UX sync next week 👍

[2020-09-03 15:07] jasonwilliams commented on #100427
@Tyriar would a busy extension thread not affect output as well as input? It would seem odd for it to only affect input.

[2020-09-03 15:10] aeschli commented on #105102
To verify (on Windows or Mac):
- Have 'window.autoDetectColorScheme' enabled and set a "Preferred Dark Color Theme", a "Preferred Light Color Theme"
- switch the OS color scheme (for dark to light or vice versa). Verify that the theme in VSCode changes to one of the preferred themes
- use the theme picker and change to any other theme
- restart VSCode: Verify that no theme switch happens
- close V

[2020-09-03 15:13] Tyriar commented on #104791
We don't hide it due to potential noisiness/lifecycle issues, but we no longer mention "this file" which was the main problem as it gets stale fast.

[2020-09-03 15:13] Tyriar commented on #106036
See https://superuser.com/a/819605/205226, ctrl+L in whatever shell you're using does not appear to be telling the terminal to clear its scrollback.

[2020-09-03 15:14] #106036 closed

[2020-09-03 15:17] Tyriar commented on #100427
Input does this:

1. Keyboard event
2. Terminal frontend gets it and serializes to text
3. Sends to ext host
4. Ext host sends to terminal shell
5. Terminal shell processes it

Output:

5. Terminal shell sends to ext host
6. Ext host sends to frontend
7. Terminal parses and displays

This is a little confusing to answer as often input is tied to output, note that when you press `a`, it gets sent o

[2020-09-03 15:18] jrieken commented on #106026
Fingers crossed...🤞 File watching and embedding languages - two very hard problems but it should work.

[2020-09-03 15:19] SuperSandro2000 commented on #105067
This exact config also works for me on two Windows Desktops.

I tested this over on vscode-web-test-playground in Chromium and Firefox and both work fine with the example config I provided in the first post. I also retested both VSCode and VSCode Insider and the issue is still there.

If I can provide any other info let me know.

[2020-09-03 15:25] jrieken commented on #106026
btw - for TypeScript specifically there is the notion of external projects: https://github.com/Microsoft/TypeScript/wiki/Standalone-Server-%28tsserver%29#external-project. In theory it would enable to achieve what you want. However, I have explored that a tiny bit for notebooks (see https://github.com/microsoft/vscode/issues/101923) and wasn't very successful. Tho, I might revisit that

[2020-09-03 15:27] #105414 closed

[2020-09-03 15:27] AurevoirXavier commented on #92902
Same output of `--verbose`.

But I get this with `require('electron').shell.openExternal('https://google.com')`

[code]

[2020-09-03 15:31] RMacfarlane commented on #105503
Yes :)

1. Sign into settings sync with a Microsoft account
2. Turn off wifi
3. Reload window
The Microsoft auth provider will take a while to activate as it repeatedly tries to connect and backs off, maybe 30 sec. After that a "Microsoft is currently unavailable" item should appear in the accounts menu

4. Turn wifi back on
Provider should reconnect, and the account should show up in the accounts

[2020-09-03 15:33] ManPython commented on #106040
@weinand take attention that it's meet this same with .html
It's hard to discover what part of VSC is related with ext and what around "core" of VSC.

[2020-09-03 15:35] jdeyrson commented on #43626
Solution (Windows 10)

1. Install (only) Operator Mono Book
2. "editor.fontFamily": "Operator Mono"
3. Font Weight: normal = ("editor.fontWeight": "400")

<img width="733" alt="Code_H5eCEFJYEs" src="https://user-images.githubusercontent.com/59494903/92135996-1be28800-edd1-11ea-84bb-f8a9251072b8.png">

I also notice that:

1. Install Operator Mono Light
2. "editor.fontFamily": "Operator Mono Light"

[2020-09-03 15:38] fisheva opened #106049 "Hope to add some minimap APIs"
Hi, I'm a theme maker, I made [Eva Theme](https://marketplace.visualstudio.com/items?itemName=fisheva.eva-theme).

When I was customizing the APIs' colors of the minimap yesterday, I felt that several APIs were missing. I hope that subsequent versions of VSCode can add them.

Compare APIs of the workspace with APIs of the minimap, I found that
"minimap.selectionHighlight" currently mixes the funct

[2020-09-03 15:39] Tyriar commented on #105403
Do you have `"terminal.integrated.inheritEnv": false` set in your settings by chance?

[2020-09-03 15:42] JCKodel commented on #105403
Nop. And this is not an issue since last update. Don't know what went wrong.

[2020-09-03 15:42] #105403 closed

[2020-09-03 15:43] yzhang-gh commented on #104626
Thanks.

I just managed to resolve this issue (although have seen some strange things). Here is some information.

- I checked the PC on which I turned on Settings Sync first. Everything is fine. The 3 snippets files (`{latex,markdown,python}.json`) are in `%USERHOME%/AppData/Roaming/Code/User/snippets/`
- I checked my laptop and found there is no file in the above folder, but there were 2 (`{mark

[2020-09-03 15:43] aeschli commented on #105503
Thanks a lot, works!

[2020-09-03 16:00] DonJayamanne opened #106050 "Clearning output in a notebook should mark the notebook as being dirty"
Version: 1.49.0-insider
Commit: 00754e4babebc9ee5aa881234bc16366c4f32aa9
Date: 2020-09-02T05:43:25.834Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.6.0

Steps to Reproduce:

1. Python extension with content provider `transientOutputs: false,`
2. Open an existing notebook and clear the output.
3. At this point the document should be dirty.

Doe

[2020-09-03 16:13] jrieken commented on #105207
Too late for August, but adding for September.

Well, you can always define your own keybinding while we haven't tackled this

[2020-09-03 16:15] alexdima commented on #104937
@aeschli Thanks for verifying! I don't think we ever rendered selection highlights in the minimap (irrespective of this issue).

[2020-09-03 16:17] connor4312 commented on #105837
@joaomoreno running `node main.js`, the --inspect flag should only be required if `debug.javascript.autoAttachFilter` is set to `onlyWithFlag`. Is that the case for you?

[2020-09-03 16:24] connor4312 commented on #104454
It seems like reliably steps are:

1. Have notebook1 with problems open in the left hand side and nodebook2 open on the right
1. Put your focus in notebook2
1. Click on the problems view
1. notebook1 will open on the right hand side, but the line/code cell will not be highlighted 🐛

[2020-09-03 16:28] HaleTom commented on #105206
Cheers, I'll look into this shortly.

[2020-09-03 16:34] rebornix opened #106052 "Support all languages from VS Code in Notebook cells"
Support `*` in `NotebookDocument#languages`

[2020-09-03 16:34] rebornix commented on #106052
It's already done.

[2020-09-03 16:34] #106052 closed

[2020-09-03 16:35] rebornix opened #106053 "Details in Notebook kernel picker"
Currently we support label and description in notebook kernel picker, kernel providers may need a `detail` property to present more info.

[2020-09-03 16:36] #106053 closed

[2020-09-03 16:37] thijsputman commented on #100427
@Tyriar, that indeed appears to be the case.

I'll strike out that part of my comment to not further muddy this discussion &ndash; an investigation for some other time...

Regardless, I can reproduce the lag using a new and clean user profile (with only the "Remote - WSL" extension installed/enabled). The issue is not so much higher latency, but wildly varying latency (which makes the terminal app

[2020-09-03 16:38] rebornix opened #106054 "Notebook: support line numbers and actions to toggle it"
We may want to support users to customize their line numbers and allow them to toggle line numbers with shortcuts.

[2020-09-03 16:42] rebornix commented on #106050
I'm not able to reproduce this issue, do you have auto save turned on somehow?

[2020-09-03 16:44] rebornix commented on #105919
We will show a couple of options and pros/cons behind them.

[2020-09-03 16:48] rebornix commented on #106045
/duplicate of #106045

[2020-09-03 16:48] #106045 closed

[2020-09-03 16:53] connor4312 commented on #101631
@eamodio it's probably easier for you to verify this :)

[2020-09-03 16:53] petkahl commented on #105027
It updated at some point, so I can't answer. May have been intermittent or something fixed by windows update or similar.

Closing.

[2020-09-03 16:53] #105027 closed

[2020-09-03 16:54] rebornix commented on #106042
I reverted my previous change and will fix that issue next iteration. It's dangerous to modify the override without knowing its intention/source (like, if users want to open the same diff editor again by clicking scm entry once more, or they want to open it in text diff). It sounds like the same debt we had with editor view type. Will see how to improve this in an elegant way.

[2020-09-03 16:54] rebornix commented on #106042
Fixed via e2f63c9013a2b55db2d593d45b8c8aecdbe70f25

[2020-09-03 16:54] #106042 closed

[2020-09-03 16:57] rebornix commented on #105924
@isidorn yup thanks! got it removed.

[2020-09-03 16:58] Tyriar commented on #100427
@thijsputman I'm not sure I understand what this benchmark is saying, aren't all these events captured purely on the shell side? How does it take into account the data transfer across processes?

[2020-09-03 17:00] Tyriar commented on #105673
Does changing the rendererType used in settings help? Do you know where the ~ and branch symbols come from?

[2020-09-03 17:00] jawadcode opened #106055 "All golang types to be highlighted the same"
Custom types/structs are syntax highlighted in white whereas the primitive/built-in types are highlighted in the usual turquoise-ish green, I believe that it would make more sense for all types to be the same (turquoise-ish green) colour

P.S. I was thinking of posting this issue in bug reports but I am unsure if it is a bug or intentional
P.P.S I am using the default Dark + theme

[2020-09-03 17:02] abhijit-hota opened #106056 "Auto-Rename Tag exhibiting weird behaviour with Emmet"
- VSCode Version: `1.48.2 (system setup)`
- OS Version: `Windows_NT x64 10.0.19041`

Steps to Reproduce:

1.  Start writing `div` (or any other element that triggers Emmet suggestions) and press enter on the Emmet auto suggestion. You should now see a `<div></div>` (As expected).
2. Press <kbd>Ctrl </kbd>+ <kbd>Z</kbd>. (Undo it, basically.)
3. The auto-rename function is still active and behaves

[2020-09-03 17:02] connor4312 commented on #38137
Marking verified since it seems to work for me on Linux, OSX, and Windows, though I see there were reproduction issues historically...

[2020-09-03 17:03] Tyriar commented on #104941
Check out the troubleshooting guide https://code.visualstudio.com/docs/supporting/troubleshoot-terminal-launch, if you still have an issue after reading through that please link your settings.

[2020-09-03 17:04] #104941 closed

[2020-09-03 17:04] Tyriar commented on #38137
@connor4312 yeah I could never repro this. @DougPlumley it would be great if you could tell us if it's working now for you on Insiders.

[2020-09-03 17:04] rebornix commented on #105968
[Profile-20200903T095901.json.txt](https://github.com/microsoft/vscode/files/5170099/Profile-20200903T095901.json.txt) (change it to .json)

I checked that I have auto save turned off and internal set back 1s. The profiling might amplify the result but in the attached perf log, the typing dirty state handler took 73ms, which I think is not doing right. I remember in old days I filed a similar issu

[2020-09-03 17:08] rebornix commented on #96675
@cipri-tom no, we don't support native notebook yet in Stable.

[2020-09-03 17:09] #96675 closed

[2020-09-03 17:10] #106008 closed

[2020-09-03 17:10] rebornix commented on #105997
/extPython

[2020-09-03 17:11] thijsputman commented on #100427
@Tyriar, both are indeed captured on the shell side.

The second script/graph supresses the echoing of output (so when I press `a`, nothing appears in the terminal).

I'm out of my depth here, but I  guess this means that given this:

The second script/graph doesn't spend any time in the "Output" stage at all (as no output is generated at all when running the script)?

[2020-09-03 17:11] #105997 closed

[2020-09-03 17:12] Tyriar commented on #105465
So you have a terminal open, you go to an editor, make a change and save it and then the terminal freezes? Could you show a [gif](https://gifcap.dev/) of the issue?

[2020-09-03 17:14] rebornix commented on #106035
Thanks for the catch!

[2020-09-03 17:16] roblourens commented on #106041
https://github.com/microsoft/vscode/issues/105854

[2020-09-03 17:17] #105854 closed

[2020-09-03 17:18] Tyriar commented on #100427
@thijsputman I have a feeling you're measuring something outside of VS Code. Can you explain what VS Code (direct) means? Is that VS Code on a separate machine running just Linux? Is it the same Windows machine running wsl.exe as your shell instead of via Remote-WSL?

[2020-09-03 17:18] deepak1556 commented on #103295
Sorry for not being clear, we are only interested in the socket created for shared process which happens early in the startup, follow the steps below and attach the log here. Thanks!

* Run the command in https://github.com/microsoft/vscode/issues/103295#issuecomment-686042569
* Open the extension viewlet
* Search for extensions
* Quit the application

[2020-09-03 17:21] Tyriar commented on #105030
Looks like the link length is too long (11000000 characters in length 🤯), we need to cap out how much data to try create links for.

[2020-09-03 17:22] Tyriar commented on #105147
What tool are you using that outputs that?

[2020-09-03 17:25] AhmadBilal3000 commented on #105829
Not extensions only their settings which are normally saved in **User** ``settings.json``

I am unable to reproduce this issue. It just happened when I updated some settings in the ``settings.json`` and reloaded the window (**Developer: Reload Window** from the command pallet)

[2020-09-03 17:27] jrounds commented on #38137
Looks like insider works again for me (same test mentioned above).

Version: 1.49.0-insider
Commit: 8c9b4015feb0297d99c8051c35e85d208ffe83e3
Date: 2020-09-03T05:43:53.229Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 18.7.0

[2020-09-03 17:28] thijsputman commented on #100427
It all happens on my local Windows 10 machine; no other machines are involved.

In both cases, I start a new instance of VS Code from my Start Menu:

1. For "VS Code (WSL)" I click on `Open a Remote Window` in the bottom left corner and select `Remote-WSL: New Window`. I then execute the test in the Bash-terminal that opens when I press `Ctrl`+`` ` ``.

2. For "VS Code (direct)" I use [this extens

[2020-09-03 17:29] Outcue commented on #38765
You can drag an individual "view", such as the VARIABLES view into the panel area below the text editor. You can then drag additional views from the Run view on the left into the VARIABLES view you just dragged. You will then have two views in the VARIABLES panel.  As Isidor said, "It mostly works." It would be nice to have a pre-populated panel just for debugging.

[2020-09-03 17:29] DGKSK8LIFE commented on #103295
k will be back soon with output

[2020-09-03 17:33] mhyrka opened #106057 "Xdebug breakpoint highlighting breaking in custom namespace"
- VSCode Version: 1.48.2
- OS Version: macOS Catalina 10.15.4 (19E266)

Steps to Reproduce:

xdebug settings:
[code]

1. Create a new laravel project using version 5.7.13
2. Create a new controller `php artisan make:controller TestController`
3. Create a public function `index()` that returns 'hello world'
4. Create a route that points to this controller in ecompli4/routes/api.php like so:
`Route:

[2020-09-03 17:34] verslyfr opened #106058 "Binding Ctrl+X such that it does not delete a blank line if no selection is present"
Issue Type: <b>Bug</b>

I oftentimes switch between Visual Code and Emacs. Emacs uses a combination Ctrl-X Ctrl-S to save a file. Unfortunately, Ctrl-X on Visual Code uses Ctrl-X to delete a line if no selection is present. I tried to change the Ctrl-X behavior by using the When clause in the keybindings. I have set the When clause to "editorHasSelection && editorTextFocus", but this seems to have

[2020-09-03 17:35] DougPlumley commented on #38137
I can't reproduce it anymore even if I massively scale up to 10K+ characters, this is awesome!  Thank you!

[2020-09-03 17:36] roblourens commented on #105928
How are you running the smoketests? We do copy the extension out of the extensions dir into the smoketest extensions dir, the same way it works for `'vscode-test-resolver'`.

[2020-09-03 17:38] deepak1556 commented on #93056
The fix landed first in `86.0.4199.0`, which would be Electron 11. I will look into backporting to 10 and 9 for next iteration.

[2020-09-03 17:39] #104752 closed

[2020-09-03 17:40] Tyriar commented on #104993
ctrl+` can be used after you run to focus the terminal.

[2020-09-03 17:40] #104993 closed

[2020-09-03 17:45] Tyriar commented on #101136
@securedirective it's a feature that's sending keys to move the terminal cursor to the position of the mouse cursor. It needs support in whatever program is running in the terminal though which is why you might see the `^[[D` printed, we cannot detect this support though. The advice right now is to avoid alt clicking if it doesn't work in the program.

[2020-09-03 17:45] akrishh opened #106059 "Angular localserver keep reloading"
Issue Type: <b>Bug</b>

After the latest update, the Angular Server keep reloading, and an auto save happens though it was selected.

Below is the Visual Studio Code updated information:
Version: 1.48.2 (system setup)
Commit: a0479759d6e9ea56afa657e454193f72aef85bd0
Date: 2020-08-25T10:13:11.295Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.

[2020-09-03 17:48] Tyriar commented on #103827
When you install the deb package it will install the repository into your system. You can then use your system update mechanism to update the package. VS Code will not update automatically when using the deb package but it will tell you when updates are available.

It's possible you were seeing some temporal issues when our repository was not getting the latest versions.

[2020-09-03 17:48] #103827 closed

[2020-09-03 17:48] Tyriar commented on #104503
See https://code.visualstudio.com/docs/supporting/troubleshoot-terminal-launch to try diagnose the issue

[2020-09-03 17:48] #104503 closed

[2020-09-03 17:48] Tyriar commented on #104441
/duplicate https://github.com/Microsoft/vscode/issues/69665

[2020-09-03 17:48] #104441 closed

[2020-09-03 17:49] lszomoru commented on #106041
Validation has been added with #105854 but I do agree that it would be nice to have a color decorator in the settings UI as well, similar to the JSON file. I will reopen this issue to track adding the color decorator in the settings UI, and I already started looking at that so I will take ownership of the issue.

[2020-09-03 17:53] deepak1556 commented on #104525
Sorry missed this, thanks @bpasero @alexdima , yeah this should fix the issue.

[2020-09-03 17:53] ashep commented on #34627
+1, why this still isn't fixed? It's unbelievable that just a few people faced this disappointing issue...

[2020-09-03 17:54] rchl opened #106060 "[vscode-json-languageserver] API documentation is inaccurate"
The `json/schemaAssociations` documentation is not accurate in stating that the only supported parameter format is an object in `{ pattern: uri }` format. It also supports the structure defined by `SchemaConfiguration` interface from json languageservice.

- VSCode Version: -
- OS Version: -

Steps to Reproduce:

1. Open https://github.com/vscode-langservers/vscode-json-languageserver/blob/45a81a2

[2020-09-03 17:55] roblourens commented on #104508
How do I get these hovers in gitlens @eamodio? Is there a vsix to download?

[2020-09-03 17:56] ctf0 commented on #105930
thank you so much, thats exactly what i was looking for, where do you find those information ?

thanx again. 🏆

[2020-09-03 17:56] #105930 closed

[2020-09-03 17:58] roblourens commented on #105483
@mjcrouch could you confirm that this now works as expected in Insiders?

[2020-09-03 18:00] mjcrouch commented on #105483
@roblourens confirmed - no duplicates appearing on insiders

[2020-09-03 18:01] shaft49 commented on #105848
Yes, DYLD_LIBRARY_PATH was customized to mysql. After deleting that line from .zshrc file everything is working without showing the extension host terminated pop up.

[2020-09-03 18:02] eamodio commented on #101631
Yup, verified

[2020-09-03 18:05] roblourens commented on #105483
Thanks!

[2020-09-03 18:08] roblourens commented on #106041
Sure, we had https://github.com/microsoft/vscode/issues/50697 for that but I will close it as a dupe

[2020-09-03 18:08] #50697 closed

[2020-09-03 18:08] roblourens commented on #50697
Now https://github.com/microsoft/vscode/issues/106041

[2020-09-03 18:11] roblourens commented on #106032
Same as the real status bar. I don't know if there should be or not.

[2020-09-03 18:12] RMacfarlane commented on #105649
@eamodio Can you share what you set as the tooltip? I'm not sure how to get the auto-link to happen

[2020-09-03 18:13] connor4312 commented on #105480
I've not seen this for the last week, marking verified

[2020-09-03 18:13] eamodio commented on #105649
@RMacfarlane I can verify this
![image](https://user-images.githubusercontent.com/641685/92151803-b0f47980-edef-11ea-9e75-5822dd17012c.png)

[2020-09-03 18:17] eamodio commented on #104508
Put your sidebar on the right, and then you should be able (not) see it with any custom tree tooltip. So any GitLens view, just hover over an item on the right edge and it should display (wrap if needed) without overlapping the item you are hovering on. Also make sure to use a theme or set the workbench customization for a window border.

[2020-09-03 18:18] misolori opened #106063 "Preferred theme settings should be scoped to relative set"
<img width="400" src="https://user-images.githubusercontent.com/35271042/92151941-c4dfb180-edd6-11ea-8d8b-e64710236bdd.png">

I would expect that only dark themes appear in the list for `workbench.preferredDarkColorTheme` and vice versa for the other theme lists. Especially since we split out the list in the color theme picker:

<img width="400" src="https://user-images.githubusercontent.com/35271

[2020-09-03 18:20] eamodio commented on #105646
It now seems to be doubling line breaks:

![image](https://user-images.githubusercontent.com/641685/92152353-87881d80-edf0-11ea-80fb-8d5224ca75b3.png)

[2020-09-03 18:20] imhasib062 opened #106064 "Not install JAVA tools and language install suppot."
![Screenshot from 2020-09-04 00-12-06](https://user-images.githubusercontent.com/50325055/92152206-1bcfa000-ee44-11ea-9db6-c6c35a51b74f.png)
 I've tried for 3 days after a few for a long day but it shows up installing. I've kept it up for 4 hours or more times but there is no change in there. Suddenly shows up Corrupt ZIP as you can see in the screenshot. And also it keeps up for Python, PHP too.

[2020-09-03 18:22] alexdima commented on #105038
related: #26393

[2020-09-03 18:23] alexdima commented on #106058
This can be controlled via `"editor.emptySelectionClipboard"`. You can set it to `false`.

[2020-09-03 18:23] #106058 closed

[2020-09-03 18:26] alexdima commented on #105848
I will mark it as a duplicate of #104525

FYI @bpasero this is the same `DYLD_LIBRARY_PATH` issue from #104525 . In the fix for #104525 , I have removed the environment variable from the extension host spawning, but if you take a quick look at the screenshot above, you can see that the file watcher crashes as well.

[2020-09-03 18:26] #105848 closed

[2020-09-03 18:33] alexdima commented on #103422
fyi @sandy081 - theme specific settings.

[2020-09-03 18:35] alexdima commented on #104435
@AllanOricil This is as designed. All activation events call the exact same `activate()` function exported from the extension. Activation can be triggered by multiple events, but it only happens once. If it fails, it will not run again. More information is available at https://code.visualstudio.com/api

[2020-09-03 18:35] #104435 closed

[2020-09-03 18:46] AzuStar commented on #105949
Compressed Gif size so github can load itю

[2020-09-03 18:47] fabtjar opened #106065 "Command clicking on a function/var shouldn't open another tab if it's already open."
If I had 2 tabs splits on my screen (classA and classB) and command click a function/var in classA (that's would link to classB) it opens it again instead of just going to the already open tab on classB.
It works like that on PyCharm.

[2020-09-03 18:48] alexdima commented on #104436
So far, I have used `typeof navigator` to determine if the extension runs in nodejs or in a web worker.  We can keep in mind that at one point we might want to run extensions in nodejs workers.

[2020-09-03 18:50] alexdima commented on #104348
@gitDawn When the keyboard layout is Hebrew, if you open the Command Palette (F1) and search for `File: Save`, what keybinding is rendered next to it? If you press that keybinding, does the command execute?

[2020-09-03 18:59] misolori commented on #104640
Confirmed that this works now works using an [svn](https://marketplace.visualstudio.com/items?itemName=johnstoncode.svn-scm) project:

![image](https://user-images.githubusercontent.com/35271042/92155615-851bc880-eddc-11ea-82e5-e75465546a7f.png)

[2020-09-03 19:03] sbatten commented on #106014
That looks like 2 dialogs, not 2 clicks on the same dialog. Notice the shadow brightening after the first click. I think the auth service should not be sending multiple dialogs.

[2020-09-03 19:07] alexdima commented on #104389
@darthtrevino VS Code is built with Electron, which is built with Chromium. Can you please also try https://vscode-web-test-playground.azurewebsites.net/ in Chrome? Does the issue reproduce there? How about in Firefox?

[2020-09-03 19:13] darthtrevino commented on #104389
I tried this out that sandbox in Edge Chromium and the issue did reproduce there

[2020-09-03 19:17] alexdima commented on #104371
You can control this and disable snapping to tab stops with `"editor.useTabStops": false`

[2020-09-03 19:17] #104371 closed

[2020-09-03 19:27] gjsjohnmurray commented on #106065
@fabtjar Initially are classA and classB open in two separate editor groups?

[2020-09-03 19:32] DGKSK8LIFE commented on #103295
@deepak1556 this time it opened the extension menu and displayed available extensions fine. If I use any CLI argument (even if it's invalid), it'll show the extensions/search and things will work. Only if I execute, `code` will it instigate the problem described here in #103295.

[2020-09-03 19:33] mjbvz commented on #106059
Please provide steps to reproduce the issue

[2020-09-03 19:33] mjbvz commented on #106059
Also does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-09-03 19:33] gjsjohnmurray commented on #106065
If yes, try setting `"workbench.editor.revealIfOpen": true`

[2020-09-03 19:33] fabtjar commented on #106065
Yes. If the tabs are both in the same editor group it works how I expect. When they are in separate groups it's opening another tab up in the group I command clicked in.

[2020-09-03 19:34] mjbvz commented on #106028
What VS Code version is this for?

/needsMoreInfo

[2020-09-03 19:34] mjbvz commented on #106028
Also does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-09-03 19:34] mjbvz commented on #106004
This is likely caused by the deno extension. Please try filing the issue against them

[2020-09-03 19:34] #106004 closed

[2020-09-03 19:35] fabtjar commented on #106065
This works how I want it to. Vscode seems to have a setting for all my needs!

[2020-09-03 19:35] #106065 closed

[2020-09-03 19:37] alexdima commented on #104283
This is not possible. It is not possible to observe your own extension being disabled while your extension is executing. The reason for that is that uninstalling an activated extension will not uninstall it immediately, it will mark it for uninstalling and will uninstall it next time VS Code starts up.

[2020-09-03 19:38] #104283 closed

[2020-09-03 19:40] alexdima commented on #104336
@ramumanavalan Can you please open https://microsoft.github.io/monaco-editor and try backspace in that editor?

[2020-09-03 19:44] alexdima commented on #104435
This is a bug that needs to be fixed by the extension.

A misconfigured extension should never throw in its `activate` function. If code is written that is sensible, then please use a try-catch around the code that throws to make sure that you do not throw from your `activate` function. In the catch block you can present an informative error to the user. Throwing from the `activate` function indic

[2020-09-03 19:47] alexdima commented on #104389
We simply react to `mousewheel` events. This is very weird indeed. It looks like the Surface Dial sends the `mousewheel` events to the center of the screen or something like that and whatever editor is in the center will receive the scroll event.

[2020-09-03 19:56] AllanOricil commented on #104435
Ok I will change it. I threw the error to make the user aware that he did not do one of the steps in the config.

[2020-09-03 20:02] securedirective commented on #101136
@Tyriar could you clarify... Is this a feature in Linux that's doing it, and vscode is not able to see that it's happening? Or do you mean this is a feature in vscode to move the cursor, and vscode is not able to tell if the terminal shell supports it?

[2020-09-03 20:05] stevenr3 commented on #38137
It still doesn't work for me on Win7 - there is still some threshold above which can't be pasted into Terminal:
Short selection works:
![image](https://user-images.githubusercontent.com/5964598/92161687-0dee3f00-ee85-11ea-8cf2-0a0c7370a972.png)
Long selection doesn't work (nothing appears in Terminal window):
![image](https://user-images.githubusercontent.com/5964598/92161759-28c0b380-ee85-11ea-82

[2020-09-03 20:06] safield opened #106066 "Problem editor overlay should auto dismiss after problem is rectified."
VSCode: 1.48.2

Observed Behaviour:
When I rectify a problem in code, the overlay that was present at the line does not auto dismiss when the problem is resolved and the file is saved. I subsequently have to press esc key to dismiss the overlay.

Desired Behaviour:
Once the problem is resolved, and the file is saved, the overlay should immediately dismiss.

[2020-09-03 20:06] Tyriar commented on #101136
@securedirective it's a feature in vscode/xterm.js, you can see the PR here https://github.com/xtermjs/xterm.js/pull/896

[2020-09-03 20:10] Gizmodo opened #106067 "Switch Header/Source"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

PlatformIO workplace contains two projects ESP8266 and ESP32. There are two files Device.h and Device.cpp in both projects.
I open ESP32/Device.h, choose "Switch Header/Source" and get ESP8266/Device.cpp file, instead of ESP32/Device.cpp

VS Code version: Code - Insiders 1.49

[2020-09-03 20:11] ArupShit opened #106068 "permission denied"
We have written the needed data into your clipboard because it was too large to se
Issue Type: <b>Performance Issue</b>

collect2.exe: error: ld returned 1 exit status
PS C:\Users\Acer\Documents\C programming> cd "c:\Users\Acer\Documents\C programming"
PS C:\Users\Acer\Documents\C programming> cd "c:\Users\Acer\Documents\C programming\" ; if ($?) { gcc arup.c -o arup } ; if ($?) { .\arup }
c:/ming

[2020-09-03 20:16] stevenguh commented on #105969
VSpaceCode/VSpaceCode#83:
This get the abs/relative path of the active editor, copy it to the clipboard and display it on the stats bar.
![image](https://user-images.githubusercontent.com/3455662/92162284-c74a0780-ede6-11ea-8f73-508987dbc425.png)

VSCodeVim/Vim#5158:
This is emulating the `:e` file opening in Vim, where a user can enter a free from text and tabbing it would allow autocompletion an

[2020-09-03 20:20] DavidGoldman commented on #104640
When will this fix by released? v1.49?

[2020-09-03 20:23] deepak1556 commented on #103295
I am not following, in this comment https://github.com/microsoft/vscode/issues/103295#issuecomment-665724069 you had mentioned that when running with `--verbose` flag extension menu works fine otherwise just launching `code` or `code-insiders` from cli doesn't work.

Are you saying its working fine when you run `snap run --strace='-o code_strace.log -DD -qq' code-insiders` ?

[2020-09-03 20:27] DGKSK8LIFE commented on #103295
Here's what I'm saying. If I run vscode with this command verbatim: `code`, the app will launch, but the extension menu and search functionality won't work. If I run it with any other arg, ex: `code -asdfasdf`, the app will launch, and the extension menu and search functionality will work.

[2020-09-03 20:27] DGKSK8LIFE commented on #103295
I ascertained that it wasn't just about the --verbose flag

[2020-09-03 20:28] DGKSK8LIFE commented on #103295
It works fine when I run the snap command thing as well

[2020-09-03 20:40] nornagon commented on #102252
https://github.com/electron/electron/pull/25313 should fix this.

[2020-09-03 20:43] #106057 closed

[2020-09-03 20:44] Tyriar commented on #38137
@stevenr3 you're using VS Code stable, not [insiders](https://code.visualstudio.com/insiders/).

[2020-09-03 20:47] mjbvz commented on #106028
What about in insiders with extensions disabled?

[2020-09-03 20:49] mjbvz commented on #101496
Maybe try adding a `<br>` tag or two to insert fake whitespace at the end of the hover? There's not a native way to adjust padding in markdown

[2020-09-03 20:49] alexdima commented on #100717
@mjbvz Please see the question above about undo/redo and custom editors.

[2020-09-03 20:50] weinand commented on #106066
When I rectify a problem by editing or moving the cursor the problem hover immediately disappears:

![2020-09-03_22-48-40 (1)](https://user-images.githubusercontent.com/1898161/92165739-cee5cc80-ee37-11ea-8087-77678cf060f8.gif)

Are you seeing different behaviour?

[2020-09-03 20:52] weinand commented on #106067
/extCpp

[2020-09-03 20:52] alexdima commented on #104509
This is intentional and it is to save your battery life, or if you prefer, to save your CPU cycles. For custom animations, which actually run at 60FPS or more, we stop the blinking cursor after about 10 blinks or so. That is to not consume CPU when you are not doing anything (i.e. idle).

[2020-09-03 20:52] #106067 closed

[2020-09-03 20:52] #104509 closed

[2020-09-03 20:54] weinand commented on #106068
/extCpp

[2020-09-03 20:54] #106068 closed

[2020-09-03 20:56] alexdima commented on #104488
Duplicate of #41024 . We have done all we can and reported the bug upstream to Chromium.

[2020-09-03 20:56] #104488 closed

[2020-09-03 20:57] mjbvz commented on #105014
1. We treat all non `file:` schemed files as being in-memory. This prevents TS from trying to look up imported file (since it cannot read them from disk). After the change, the path we send to TS will look something like: `^scheme:/path/to/file.js`

1. 3841f78 was only part of the larger change. It specifically is part that strips off the `^`.

Try updating your code to see if you can use the new

[2020-09-03 20:58] deepak1556 commented on #103295
Thanks! Yes this what I was asking for, okay without strace log I can't confirm what the issue is wrt shared process creation. Open to suggestions.

[2020-09-03 20:59] alexdima commented on #103355
I'm afraid at this time folding only unfolds when the cursor moves to a folded location, not when someone calls editor reveal API on a folded location.

[2020-09-03 21:02] alexdima commented on #103199
alt+z was intended to be an "in-memory" word wrap toggle.

There are better ways to configure permanent wrapping, via the `"editor.wordWrap"` setting in user settings.

This is not part of the editor's view state because toggling a file via alt+z toggles its wrapping in all the editors where the file is open.

[2020-09-03 21:11] alexdima commented on #104577
@isidorn I think we can close this, since you now use context keys?

For posterity: the reason the keybinding registry doesn't allow for lazy registered keybindings is because it would be costly to always resolve again all the keybindings after each registration. I mean we could do it, but if there's no need for it, I'd rather not.

[2020-09-03 21:12] #103736 closed

[2020-09-03 21:14] alexdima commented on #103389
Have you seen https://github.com/microsoft/vscode/issues/30795#issuecomment-410998882

I suggest we track in #30795

[2020-09-03 21:14] #103389 closed

[2020-09-03 21:14] KapitanOczywisty commented on #80666
@rebornix @alexdima  Since this is pretty annoying bug when using [Error Lens](https://marketplace.visualstudio.com/items?itemName=usernamehw.errorlens) extension, I spend some time and found what exactly is wrong. Basically lines with `after` decorator are redrawn because `lineDecorations` has the same elements, but in different order. I'm pretty sure order is messed by [DragAndDropController._on

[2020-09-03 21:19] mjbvz commented on #106037
Can you explain what you are trying to do?  Why are you editing the VS Code source?

[2020-09-03 21:19] alexdima commented on #103339
Have you seen our troubleshooting wiki -- https://github.com/microsoft/vscode/wiki/Keybinding-Issues#troubleshoot-linux-keybindings

[2020-09-03 21:19] EchoApeiron opened #106070 "JavaScript Syntax Highlighting for New Logical Assignment Variables"
- VSCode Version: 1.48.2
- OS Version: Windows 10, Build 19041

Steps to Reproduce:

1. In a JavaScript code file try to assign a variable using one of the logical assignment variables:

`u ||= prompt('Enter something...', 0);`

Rather than this:

`u = u || prompt('Enter something...', 0);`

Reference to the following documentation:

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Ex

[2020-09-03 21:21] mjbvz commented on #105202
VS Code automatically detects `typescript` versions installed under `node_modules` and shows these in the version picker. If you select the version from `node_modules`, we persist that selection into your settings.

If the selected version already comes from a setting—such as this case—we should likely not write anything to your settings

[2020-09-03 21:22] alexdima commented on #103277
This is due to using `window.zoomLevel`. I recommend to use `editor.fontSize` for pixel perfect rendering. The `window.zoomLevel` is implemented outside of our control and even if we render rectangles at integer coordinates that perfectly touch each-other, the zooming might introduce rounding errors and create such artefacts.

Duplicate of #91686 and many others

[2020-09-03 21:22] #103277 closed

[2020-09-03 21:23] mjbvz commented on #106000
Duplicate of https://github.com/microsoft/TypeScript/issues/19018

[2020-09-03 21:23] #106000 closed

[2020-09-03 21:24] alexdima commented on #103184
This is due to using `window.zoomLevel`. I recommend to use `editor.fontSize` for pixel perfect rendering. The `window.zoomLevel` is implemented outside of our control and even if we render rectangles at integer coordinates that perfectly touch each-other, the zooming might introduce rounding errors and create such artefacts.

Duplicate of #91686 and many others

[2020-09-03 21:24] #103184 closed

[2020-09-03 21:24] mjbvz commented on #105967
Please share the text of the code along with screenshots

[2020-09-03 21:26] DGKSK8LIFE commented on #103295
@deepak1556 strace log was like 1800+ lines long. Idk if I could share it here. And I don't think there'd be any issue if I ran it with strace log (since extensions load and search works).

[2020-09-03 21:27] mjbvz commented on #105617
Thanks for checking. Your insiders build may also have a different set of extensions installed

Closing this for now since it does not happen in insiders. Let us know if you see this again in insiders, specifically with extensions disabled. If you see it only after enabling a specific extension, please file the issue against that extension

[2020-09-03 21:27] #105617 closed

[2020-09-03 21:27] alexdima commented on #103178
Does VS Code hang when disabling all extensions? Press `F1` and then choose `Developer: Reload Window with Extensions Disabled`

![Kapture 2020-07-20 at 15 28 23](https://user-images.githubusercontent.com/5047891/87943040-c3b02a80-ca9d-11ea-847d-5f850fae8f05.gif)

[2020-09-03 21:29] misolori commented on #104640
@DavidGoldman yes, this will be in out in the August release (1.49) which should drop next week.

[2020-09-03 21:32] alexdima commented on #103073
@joaomoreno I'm sorry, it is weird how your code missed all the adoptions we did.

Whenever putting a resource URI coming in from an extension in the dom, we now need to use [`asDomUri`](https://github.com/microsoft/vscode/blob/cbb179a52a37dd5fc8fbaa6ca15b79008d7a5103/src/vs/base/browser/dom.ts#L1230) if you use it like `<img src="...">` or [`asCSSUrl`](https://github.com/microsoft/vscode/blob/cbb

[2020-09-03 21:37] #105734 closed

[2020-09-03 21:37] stevenr3 commented on #38137
@Tyriar Thanks - I had no idea about insiders.
I just retested with today's insiders build and it works great.
I can now paste long text into terminal, and most importantly for me, cmake compile active file now works :+1:

Version: 1.49.0-insider (user setup)
Commit: e2f63c9013a2b55db2d593d45b8c8aecdbe70f25
Date: 2020-09-03T17:27:16.893Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8

[2020-09-03 21:44] connor4312 commented on #106048
To be clear -- does it happen if you omit step 2? (If you don't install the Python extension)

[2020-09-03 21:45] sbatten commented on #105734
The repro only works if the debug console is not in its original container. test by right clicking the title and notice `reset location`.

@isidorn @sandy081 it seems the viewsservice changes at some point made registering the panels happen too soon for the panel part to be ready. I don't really see a logical way to avoid this so instead of preventing registration, i prevent opening the composite

[2020-09-03 21:46] merceyz commented on #105014
@mjbvz Thanks for the details, made it really obvious what the fix was, this can be fixed on our side without any changes in VSCode https://github.com/yarnpkg/berry/pull/1799 :+1:

[2020-09-03 22:01] hegerdes commented on #105673
I tried all rendertypes. Nothing changed. The arrow like symbols and branch symbols are still not showing. Seems like the terminal renderer can't find the font. It is called [Poweline Symbols](https://github.com/powerline/fonts).

It is an additional font I installed in the usual font dir - as recommended.
Output form `fc-list | grep -i powerline
`:
`/usr/share/fonts/opentype/PowerlineSymbols.otf:

[2020-09-03 22:07] tlemo commented on #103184
Would it be possible to combine adjacent regions (with the same background color) instead of one region per line (as I suspect it's currently done)?

Thanks, but this is not a great alternative, since on high-DPI monitors one would need to scale all the UI elements, not just the text.

[2020-09-03 22:17] moizgh commented on #103744
I have started see this too.
![image](https://user-images.githubusercontent.com/25937675/92178949-b5ca2500-ee11-11ea-9d76-32a80918a829.png)

[2020-09-03 22:18] safield commented on #106066
Sorry, to clarify there is a different problem dialog that is inlined in the editor.

-create a problem on a line of code
-press F8 to jump to next problem.
-a different overlay dialog will show.
-rectify the problem
-the dialog remains.

This dialog should behave like the dialog you have depicted in your post.

[2020-09-03 22:19] moizgh opened #106071 "Crash with "window no longer responding" message"
Issue Type: <b>Bug</b>

duplicate of https://github.com/microsoft/vscode/issues/103744
submitting to capture logs.

VS Code version: Code 1.48.2 (a0479759d6e9ea56afa657e454193f72aef85bd0, 2020-08-25T10:13:11.295Z)
OS version: Windows_NT x64 10.0.19645

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) CPU E5-1660 v3 @ 3.00GHz (16 x 2993)|
|GPU Status|2d_canvas

[2020-09-03 22:25] deepak1556 commented on #104525
@mko can you confirm if this issue is fixed with latest insiders https://code.visualstudio.com/insiders/

[2020-09-03 22:30] alexdima commented on #103184
This is actually not easy, because we draw each line independently of others, so for example when you type on a line, we take great care to only touch the DOM elements for that line. This helps browsers (or Chromium in our case) invalidate only a small portion of the DOM and repaint only a small area. Our rendering is not what you would typically expect (i.e. we don't clear the pixel buffer every

[2020-09-03 22:32] deepak1556 commented on #103295
yeah its not useful if the menu is working but I would still like to see if there is anything obvious in the log, can you share the log to Deepak.Mohan@microsoft.com

[2020-09-03 22:38] nmorenor opened #106073 "File System provider and Typescript files"
- VSCode Version: 1.48.2
- OS Version: OSX

Steps to Reproduce:

1. Create an extension that provides a file system.
2. Open a typescript/javascript/typescriptreact file with this file system scheme uri
3. VSCode go unresponsive you have to kill it, can't do anything on the UI

Does this issue occur when all extensions are disabled?: Yes, even disabling the microsoft builtin typescript javascript

[2020-09-03 22:39] ArturoDent commented on #105913
On W10 hitting a breakpoint doesn't switch focus back to vscode.  It does the **first time** that breakpoint is hit, but never thereafter.  Chrome debugger, vscode insider, W10.0.20206 - dev channel/fast ring.

![breakpoint](https://user-images.githubusercontent.com/31813701/92180199-b6f45580-ee03-11ea-95d4-03fe37364491.gif)

Version: 1.49.0-insider (user setup)
Commit: e2f63c9013a2b55db2d593d45b8

[2020-09-03 22:46] NoMoreDeps commented on #105967
Hi, sorry for that  :-)

**The code on the screenshot :**

[code]

**And this is the full file :**

[code]

[2020-09-03 22:49] soulshined commented on #103389
I have not seen that, didn't google how to make it smaller because I just wanted to disable it altogether. Thanks for the share. Not a fan of disabling folding for a work around, but I see it's in the discussion.

[2020-09-03 22:55] DGKSK8LIFE commented on #103295
ok @deepak1556

[2020-09-03 23:02] connor4312 commented on #103373
@Gribesh can you let us know if this works on [Insiders](https://code.visualstudio.com/insiders/) with the setting `"debug.javascript.usePreviewAutoAttach": false`?

[2020-09-03 23:18] spirulin opened #106074 "Snap app force closes every time I press "Save as" or go to check "About" info on Manjaro KDE"
- VSCode Version: Cant see it the program crashes. Installed it on 04.09.2020 so what version is available on the snap store it's the one I installed.
- OS Version: Manjaro KDE 20.0.3 latest version with all up to date updates. It's fresh install, just installed it.

Steps to Reproduce:

1. File - Save As - Crash

Does this issue occur when all extensions are disabled?: Yes

[2020-09-03 23:20] #83672 closed

[2020-09-03 23:25] Tyriar commented on #105673
Did you set the font in the `terminal.integrated.fontFamily` setting?

[2020-09-03 23:29] dalmo3 opened #106075 "Access editorHasDefinitionProvider or similar context flags through the API"
I'm writing an extension that is dependent on the `vscode.executeDefinitionProvider` command. This is the relevant code:
[code]

In `package.json` I've added `when` clauses to make sure the difinition provider was loaded before the extension can be activated:
[code]

That is all well and fine for the end user.

The issue arises when doing unit tests that run the first code above without activating

[2020-09-03 23:31] arid-mangos commented on #27764
Reopen, please. There needs to be a difference between the icons of Interface and Class in java.
Angular does a great job of changing the icon depending on whether it is a module, component, service, etc. Though I suspect that is because of the naming conventions, ie. navigation.component.ts

[2020-09-03 23:37] RMacfarlane commented on #104931
The focus no longer goes to the top input, but now I see it jump to the beginning of the current input:
![commit_focus](https://user-images.githubusercontent.com/3672607/92183568-a8a63980-ee03-11ea-803a-b8fa7645a5c9.gif)

[2020-09-03 23:41] Tyriar commented on #105172
You're probably seeing https://github.com/microsoft/vscode/issues/105431

[2020-09-03 23:41] #105172 closed

[2020-09-03 23:46] Tyriar commented on #105431
This is what it looks like:

![image](https://user-images.githubusercontent.com/2193314/92183957-aa243180-ee04-11ea-82b4-afd21d3400e0.png)

Maybe there's something we can do to better detect this then not even bother to launch the process and show a useful notification.

I'm glad I now know what Windows 6.2.9200 means on Windows 10 (windows 8 compat):

![image](https://user-images.githubuserconten

[2020-09-03 23:47] Tyriar commented on #105687
/duplicate https://github.com/microsoft/vscode/issues/76548

[2020-09-03 23:47] #105687 closed

[2020-09-03 23:47] Tyriar commented on #105682
Please provide a screenshot or [a gif](https://gifcap.dev/) illustrating the problem (attaching images won't work via email, you need to go to github.com). See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more general info on how to report actionable terminal issues.

/label "needs more info" integrated-terminal

[2020-09-03 23:48] Tyriar commented on #105574
/duplicate https://github.com/microsoft/vscode/issues/45444

You can use this extension in the meantime https://marketplace.visualstudio.com/items?itemName=Tyriar.shell-launcher

[2020-09-03 23:48] #105574 closed

[2020-09-03 23:58] connor4312 commented on #105977
Verified the debounce is better.

But I think a nicer heuristic might just be to save a history item when either focus is lost, or the input contents are cleared.

[2020-09-03 23:59] Tyriar commented on #105979
I can't reproduce:

![recording (1)](https://user-images.githubusercontent.com/2193314/92184761-df318380-ee06-11ea-9836-bd2c49f108fa.gif)

[2020-09-04 00:00] Tyriar commented on #105389
Not yet confirmed

[2020-09-04 00:02] Tyriar commented on #105374
It seems like the console sessions is getting attached, any ideas @deepak1556?

I'm not familiar with Start-Process but this could be by design? Why not just run `$PROfile` instead?

[2020-09-04 00:06] deepak1556 commented on #105984
symbolicated trace

[code]

[2020-09-04 00:07] deepak1556 commented on #105984
the code path has changed a lot, so not sure what fixed it. Next week stable release `1.49` will contain this fix, closing for now.

[2020-09-04 00:07] #105984 closed

[2020-09-04 00:10] Ahmed-Nematallah commented on #105979
Maybe this is a windows-only issue?

I can also reproduce it with multiple lines selected

![Media1](https://user-images.githubusercontent.com/19266669/92185207-8b00c080-ee53-11ea-8bf4-6c1a096f78d3.gif)

[2020-09-04 00:11] adamreisnz opened #106076 "Incorrect syntax highlighting for javascript variables and constants in brackets across multiple lines"
Issue Type: <b>Bug</b>

Consider the following code and note how it's correctly highlighted here in Github:

[code]

The same code in VS Code:

![image](https://user-images.githubusercontent.com/490562/92185257-8665f780-eea7-11ea-863d-122b57fcf24f.png)

Variable incorrectly scoped as function:

![image](https://user-images.githubusercontent.com/490562/92185298-a72e4d00-eea7-11ea-96f9-8682de046107.

[2020-09-04 00:13] fxxjdedd commented on #106037
@mjbvz Thanks for the reply.

I'm using vscode to develop webide, and there is such a requirement: when vscode is started for the first time, a README file is opened by default. By checking the source code and issues[#99283](https://github.com/microsoft/vscode/issues/99283), I found the openWith interface, but the above problem occurred when using it.

[2020-09-04 00:31] ayush-j opened #106077 "VS Code puts non-breaking whitespace in copied syntax highlighted code"
Issue Type: <b>Bug</b>

When copying text from VS Code, normal space characters are converted to non-breaking whitespace (&#160;) in clipboard. Due to this, if I copy paste code from VS Code -> (some other app which supports html) -> back to VS Code, the code breaks because of different space characters.

Usecase is that I regularly copy/paste code from VS Code to OneNote and then back to OneNote.

[2020-09-04 00:32] hedgepigdaniel commented on #101762
great thanks :)

[2020-09-04 00:51] DonJayamanne commented on #106050
Can i be forgiven for making a rookie mistake.... 🤦

[2020-09-04 00:51] #106050 closed

[2020-09-04 00:52] IllusionMH commented on #106074
/duplicate of #100940

[2020-09-04 00:53] #106074 closed

[2020-09-04 00:55] HA3IK opened #106078 "Syntax highlighting bug, with quotes, in bash shell script"
- VSCode Version: 1.48.2
- OS Version: Win10 Pro (1909)

Steps to Reproduce:

0. The line looks fine and is working.
1. Open this file: [yii2-app-basic/vagrant/provision/once-as-root.sh](https://github.com/yiisoft/yii2-app-basic/blob/0b94c3142b5070b44fa389be74ff2191a783af10/vagrant/provision/once-as-root.sh) **_(GitHub highlighting also is failed)_**
2. And we see the following syntax highlighting

[2020-09-04 01:07] securedirective commented on #101136
@Tyriar, what an interesting feature, and I never even knew that was there. Thank you for the perspective.

I looked through that PR and searched the settings in VSCode; unfortunately, there doesn't seem to be any way to disable that cursor-moving feature.

[2020-09-04 01:14] LuanVSO commented on #105374
I you can use start to open any file with its default program. if I just run $profile it will just print out the path to the PowerShell profile settings.
here is the output from the help command:
[code]

[2020-09-04 01:46] mjbvz commented on #106073
Can you share the extension that causes this?

Also does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/)?

[2020-09-04 01:50] mjbvz commented on #105014
Glad you were able to fix this on your side! Closing this issue then

Please make sure to use VS Code insiders to test out the latest JS/TS changes and so you can detect if they cause any earlier on

[2020-09-04 01:50] #105014 closed

[2020-09-04 02:12] mirzaprangon opened #106080 "Find and Replace - REGEX named capture group support"
Hello,
There was a similar feature request - [#88793](https://github.com/microsoft/vscode/issues/88793).

Feature request is simple, to have named group capture in the find and replace for regex. Basically same as [Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/using-regular-expressions-in-visual-studio?view=vs-2019#capture-groups-and-replacement-patterns)

Hope this time it will

[2020-09-04 02:19] anish-94 opened #106081 "Wiki build tip has an inaccurate shortcut for MacOS"
- VSCode Version: N/A
- OS Version: MacOS

The build [section](https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build) in the wiki has a tip -

This needs to be updated to stay Ctrl+C and Ctrl + D on MacOS as well. Looking at the [Terminal User Guide](https://support.apple.com/guide/terminal/keyboard-shortcuts-trmlshtcts/mac), the CMD + D splits the window into two panes and CMD + C is t

[2020-09-04 02:52] brizer commented on #48659
So, It's there any way to solve this problem?

[2020-09-04 03:17] bln7 opened #106082 "Set tab size 2 space but didn't work on vue files"
- VSCode Version: 1.48.2
- OS Version: Windows 10

Steps to Reproduce:

1. Set the tab size to 2, and bottom bar space to 2.
2. fomat the vue code, still 4 space.

Does this issue occur when all extensions are disabled?: Yes

Detail:
![image](https://user-images.githubusercontent.com/4177284/92195248-0fc4fc00-ee9f-11ea-8a67-6ebb9bce73ce.png)
![image](https://user-images.githubusercontent.com/41772

[2020-09-04 03:22] bln7 commented on #106082
OK, I found it, I need to set the extensions
![image](https://user-images.githubusercontent.com/4177284/92196017-e0af8a00-eea0-11ea-8eee-e8a78142e777.png)

[2020-09-04 03:25] devaslooper commented on #106048
No, it doesn't show the crash popup when the python extension is not installed.

[2020-09-04 03:29] Murray-hua commented on #32257
I like your wallpaper, could you please give it to me？ thanks

[2020-09-04 03:56] mattrossman commented on #103444
I'm not sure what you want me to do, I'm not using a remote in my example so it's not clear when I should be pushing or cloning. @Oran seems to be having a different issue from me since they did not change filenames.

[2020-09-04 04:14] connor4312 commented on #106048
Okay, thanks. Please open an issue for the Python team.

\extPython

[2020-09-04 04:14] #106048 closed

[2020-09-04 04:21] GordonSmith opened #106083 "[WebviewView] Changing Title When `webviewView.visible === false`"
Testing #105764

When the WebviewView is not visible, changing the title is not reflected visually:
[code]

[2020-09-04 04:22] hyahm opened #106084 "keyboard shortcut"
- VSCode Version:   1.48.2
- OS Version:  window10 and fedora32

Steps to Reproduce:
can not set ctrl+alt + left  | right | up | down

[2020-09-04 04:25] eamodio commented on #106037
Do you have the built-in markdown extension enabled? Since that is what contributes that custom editor.

[2020-09-04 04:30] GordonSmith opened #106085 "[WebviewView] Ability to "show" via API"
Testing #105764

When hosting the WebviewView in a "Panel" we should be able to "show" it via API, in my example below:

1.  User clicks an item in a custom `TreeDataProvider`.
2.  I update the content and title of the WebviewView (title does not update see:  https://github.com/microsoft/vscode/issues/106083)
3.   I would like to force "show" the WebviewView panel.

![image](https://user-images.gi

[2020-09-04 04:32] sid148 opened #106086 "server is started at port 5500 but failed to open in browser preview"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2020-09-04 04:36] esDotDev opened #106087 "The project explorer is hard to parse visually"
Compared to Visual Studio, and IntelliJ I find the VSCode much harder to parse visually.
![image](https://user-images.githubusercontent.com/736973/92199806-5c73ed00-ee35-11ea-848b-ad297f5cb1fb.png)

To my eyes, the VSCode version is both the least compact, but also the least readable.

Would it be possible to tweak this to make it more readable? Specifically:
* Add more indentation to Folder level

[2020-09-04 04:40] esDotDev commented on #106087
Closing this as I realized there is a tree indent setting and an 'vs-minimal' skin that shows folder icons.

[2020-09-04 04:40] #106087 closed

[2020-09-04 04:50] #103022 closed

[2020-09-04 04:51] fxxjdedd commented on #106037
I believe it is enabled, because I have Markdown options in this way:

![image](https://user-images.githubusercontent.com/13739947/92199906-ff1a8300-eeaa-11ea-8b67-5c13b7f8b157.png)

![image](https://user-images.githubusercontent.com/13739947/92199879-eca04980-eeaa-11ea-9f1d-7666eeef0fb6.png)

I noticed that the placeholder is different, one is `Select editor to use for`, and the other is `Select

[2020-09-04 05:07] GordonSmith commented on #106085
Possible Workaround:
[code]
Seems to work

[2020-09-04 05:10] KairenWang commented on #76594
I would say it is a performance issue since VSC uses more and more graphic performance.
To save my 2015 mbp13, I either use a 1080p monitor, or use built-in retina display by changing the macOS display to 'scale'->'larger text', then in VSC zoom out to have an acceptable menu size, then in VSC settings change the font to an acceptable size as well (used 12 now changed to 10). With "disable-hardwar

[2020-09-04 05:37] idoprz opened #106088 "Add resource context key with full resource path as string"
Using resource context key with an 'in' operator ([see issue](https://github.com/microsoft/vscode/issues/97544)) is impossible as it can only compare intrinsic data types and 'resource' is a URI. It is important in cases you want to be more accurate then just filename, and you want to test the exact folder path.

I suggest to add context key that has toString with the full path of the URI or to ad

[2020-09-04 06:08] bpasero commented on #105848
@alexdima maybe your fix needs to be applied to all the places where we spawn child processes, e.g. everywhere we use `bootstrap-fork` at least.

[2020-09-04 06:17] bpasero commented on #105968
As far as I remember, the performance profile for context key is bogus, you can clearly see that there is a lot of time spend in `setTimeout`:

![image](https://user-images.githubusercontent.com/900690/92206016-1b0c2d80-ee87-11ea-8f0b-8bdb20efd90e.png)

@jrieken or @alexdima might know more about this

[2020-09-04 06:29] leodinas-hao opened #106089 "cannot add cursor by shortcut "Ctrl + Alt + UpArrow" or "Ctrl + Alt + DownArrow""
- VSCode Version: 1.48.2
- OS Version: Windows x64 10.0.19041

Steps to Reproduce:

1. open a editor
2. press the shortcut "Ctrl + Alt + UpArrow" or "Ctrl + Alt + DownArrow" to add

Does this issue occur when all extensions are disabled?: Yes

[2020-09-04 06:33] xster commented on #105015
Unfortunately the reproduction might not be super straightforward :S. I'm seeing it on https://github.com/flutter/flutter/wiki/Setting-up-the-Engine-development-environment. It takes a few steps to setup but the outcome is somewhat simple. It's just a git repository with other (non-submodule) git repositories nested. Changes to those nested repositories don't appear in those repository's files' gu

[2020-09-04 06:34] xster commented on #105092
Thanks. That option seems like exactly what I need. I probably have to play with it a bit more. At first try, I couldn't seem to get it to work describing the nested repository as relative paths in the workspace settings.

[2020-09-04 06:36] CGQAQ opened #106090 "vscode Completion API question"
when CompletionItem contains `.`, the character after the first dot will let the completions disappear, I already set `CompletionItem.filterText`, and I don't know what have I missed

![e](https://user-images.githubusercontent.com/15936231/92207287-94be0e80-eebb-11ea-9f8d-1ccfbcb54992.gif)
![image](https://user-images.githubusercontent.com/15936231/92207488-dd75c780-eebb-11ea-91ab-5ff5c1e0f4c9.png

[2020-09-04 06:43] alexdima commented on #105968
IIRC it is best to use JavaScript Profiling to get a closer picture to real world performance.

[2020-09-04 06:43] SaschaCowley opened #106091 "Exception information is not accessible"
- VSCode Version: 1.48.2 (system setup)
- OS Version: Microsoft Windows [Version 10.0.19041.450]

Steps to Reproduce:

1. Open a workspace that contains code with problems.
2. Run the code in debug mode.
3. When debugging stops and issues are found, try using F8 / Shift+F8 to navigate between them.
4. Navigation sometimes works, but often doesn't. It seems like, once navigation has stopped working

[2020-09-04 06:46] weinand commented on #106086
/needsMoreInfo

[2020-09-04 06:48] aeschli commented on #106055
Can you add a small code sample?

[2020-09-04 06:50] weinand commented on #106084
/needsMoreInfo

[2020-09-04 06:50] weinand commented on #106084
please provide reproducible steps