[2016-09-11 15:03] clement961 opened #11846 "File type for "save" and "open" dialog boxes"
Hi, I want to suggest a feature for a next VSCode version.

The current version of the software doesn't allow to filter the files by type, when we pick up a file to open it. We also can't select its extension when we save it (we are obliged to add the extension suffix to the filename).

So, I think it is a good idea to add this two functionalities to VSCode.

[2016-09-11 15:08] mouhong commented on #381
Also not work for me (OS X EI Capitan 10.11.5).

[2016-09-11 15:30] johnliu2016 commented on #11804
@joao-fnunes does this context menu have hotkey assigned? Can you provide a s/s of that?

[2016-09-11 15:38] third774 commented on #6734
Definitely +1 for this feature request! :+1:

[2016-09-11 15:43] Jakobud commented on #11841
Oh I think it's because the inserted text becomes a selection. Nevermind on this.

[2016-09-11 15:43] #11841 closed

[2016-09-11 15:59] ramya-rao-a commented on #11845
@alexandrudima Increasing font-size via `editor.fontSize` setting does not increase the font size of the text inside the suggestion/autocomplete box. Bug?

[2016-09-11 16:10] darkred opened #11847 "Ability to add links to diagnostics and render them as links in problems view"
For example, linting `var test = 1`
results in these warnings in the Problems panel:
![2016-09-11_185535](https://cloud.githubusercontent.com/assets/723651/18418560/614fcde8-7851-11e6-95e1-eb620d3ef8c2.jpg)
My suggestion:
the `no-unused-vars` and `semi` to be clickable and to link to
http://eslint.org/docs/rules/no-unused-vars and to
http://eslint.org/docs/rules/semi
respectively.

_(I've found th

[2016-09-11 16:11] ramya-rao-a commented on #11838
See [Changing language for current file](https://code.visualstudio.com/docs/languages/overview#_changing-the-language-for-the-selected-file)

Please ask 'how-to' questions about VS Code on [Stack Overflow](https://stackoverflow.com/questions/tagged/vscode) using the tag `vscode`.
The VS Code development team together with the VS Code Community will answer question your question over there.
Here is

[2016-09-11 16:13] XVincentX commented on #11838
@ramya-rao-a
Hmm...I am not talking the IDE itself, I'm talking from an extension context. I'm missing an API function to make that happen. Does that clarify?

[2016-09-11 16:18] glen-84 commented on #11831
Related: #11762

[2016-09-11 16:18] XVincentX commented on #11838
My point is that - it seems that `TextEditor` class is missing methods to set current language type, or eventually trigger the auto detect mechanism

[2016-09-11 16:19] ramya-rao-a commented on #11834
@frangiskos Do you have the extension **vscode-icons** installed?
Do you see any errors in your console after enabling the developer tools?

@djbu saw this error in the console: http://prnt.sc/cg4unv in your console. Do you see the same?

[2016-09-11 16:24] ramya-rao-a commented on #11832
@ViBE-HU Is this a regression? Was this working for you before and not in 1.5.1 anymore?

Pressing TAB after `<!DOC` gives me `<!DOC></!DOC>`
Pressing TAB after `!` gives me
[code]

[2016-09-11 16:28] ramya-rao-a commented on #11830
@nholthaus Don't forget to up vote the original issue
@glen-84 Thanks for finding the original issue

[2016-09-11 16:28] #11830 closed

[2016-09-11 16:34] glen-84 commented on #11746
Google Translate:

**Title:**

Can not identify jsx too react file format in which language jsx displayed incorrectly. javascript react is correct, you need to manually select

**Steps to Reproduce:**

1. Open a js file
2. The format appears as jsx, but ideally it should be displayed as javascript react
3. Configure files.associations to react, but it appears as plain text

---

The first step sho

[2016-09-11 16:41] ramya-rao-a commented on #11827
Closing as duplicate of #10450
@kattkieru Don't forget to up vote the original issue logged.

[2016-09-11 16:41] #11827 closed

[2016-09-11 16:43] ramya-rao-a commented on #11826
Closing as duplicate.
@kattkieru Don't forget to vote the original issue logged.
@alefragnani Thanks for finding that original issue.

[2016-09-11 16:43] #11826 closed

[2016-09-11 16:55] ramya-rao-a commented on #11824
@use-strict I used your code and couldn't get any suggestions on `.`.
I get suggestion for "webpackConfig" when typing "webpack" but not after the `.`

Can you share your user settings so that we can try to repro this?

[2016-09-11 16:57] DanTup opened #11848 "Expose an API to launch a url in browser"
VSCode uses `shell.openExternal` from `electron` to launch urls in the browser. There are some places I'd like to do the same but it seems doing it manually requires platform-specific code (or another third party package to hide that).

Is it possible vscode could provide a wrapper for eletron's `shell.openExternal`? Taking a dependency on Electron directly seems crazy (if it'd even work) because

[2016-09-11 16:59] ramya-rao-a commented on #11704
@geoffreyfloyd Meanwhile you can try setting `editor.quickSuggestions: false` to not get the suggestions unless you `ctrl+space`

[2016-09-11 17:05] DanTup commented on #2330
This looks really good in insiders (esp. with the code language fix!). But, would there be any possibility of allowing it to go up to 80 characters before wrapping? 80 chars seems to be a fairly common wrapping point so docs might be formatted to try and fit within that (the Dart source code is certainly full of this!)

![tooltips](https://cloud.githubusercontent.com/assets/1078012/18419024/21adda

[2016-09-11 17:19] vanloc0301 commented on #6072
I have same issues on Windows. It was horrid. I have much time to this issues.

[2016-09-11 17:22] ramya-rao-a commented on #11838
Sorry, I thought you were talking from a user's perspective rather than an extension author. Will look into it and get back to you

[2016-09-11 17:23] ionutvmi commented on #11848
At the moment we can use a node module like [node-open](https://www.npmjs.com/package/open), but it would be nice to have it by default in the vscode api as well.

[2016-09-11 17:23] factormystic commented on #11785
Oh, well there's the problem right there. You're trying to run `cmd` shell commands in a `powershell` shell. That's not going to work.

Your request in this issue is to be able to use powershell as an integrated terminal shell and that part is working fine. The part that isn't working fine is whatever program you're using to start node can only be run from a cmd shell. You didn't share that inform

[2016-09-11 17:51] pericazivkovic commented on #11822
OS linux 64, v.1.5.1 does not work also

[2016-09-11 17:57] DanTup commented on #11848
I saw that one .. and that it had 19 open issues on GH (some of which seem pretty basic)! That's what got me curious about what Code did and I looked in the code to find Electron already had it :)

[2016-09-11 17:59] joaomoreno commented on #11774
Duplicate of it.

A fix will be delivered very soon in 1.5.2. Until then, you can use the [Insiders release](http://code.visualstudio.com/insiders).

[2016-09-11 18:00] mrmlnc commented on #11848
(maybe) If you only need a browser, try https://github.com/sindresorhus/opn

[2016-09-11 18:01] joaomoreno commented on #11702
@seanmcbreen The latest insiders doesn't have the fix yet, since last build happened Friday morning (CET). I'm triggering new insider builds and releasing them, so people get it.

[2016-09-11 18:01] #11774 closed

[2016-09-11 18:03] weinand commented on #11785
Please suggest how to achieve the following with PowerShell:
- cd to a directory
- set some environment variables for the following command
- run 'node' (or any other program) with a set of arguments.

[2016-09-11 18:15] bwarring24 opened #11849 "Alt-H2 Preview and Syntax Highlighting Issues"
- VSCode Version: 1.5.1
- OS Version: Windows 10 Pro Insider Preview: Build 14915

Steps to Reproduce:

1. Create a new markdown file
2. Apply dash line under desired text

[code]

Preview renders the font size correctly, but does not display a solid line under the text. Also the dashes ( - ) do not get highlighted via the Markdown syntax highlighting.

[code]

The above works as it should.

[2016-09-11 18:39] ramya-rao-a commented on #11799
@AldoMX Emmet abbreviations should work for you in html files without setting any syntax profiles.
Closing this issue as resolved.
Love the xkcd comic :)

[2016-09-11 18:39] #11799 closed

[2016-09-11 18:40] DanTup commented on #11848
I'm trying to avoid external dependencies if I can help it; vscode extensions run on end users machines with access to a lot of stuff; I think it's irresponsible to pull in third party code from relatively-unknown devs without reviewing it. That package has two of its own dependencies and one of those has another! This is all literally so I can have a button to link the user to a download page! I'

[2016-09-11 18:42] ramya-rao-a commented on #11802
@Mlocik97 Thanks for the videos! That helps.

[2016-09-11 18:49] ramya-rao-a commented on #11807
Closing as duplicate of #10759
@OrbintSoft @WangZishi Don't forget to up vote the original issue logged.

[2016-09-11 18:49] #11807 closed

[2016-09-11 18:52] yairhaimo commented on #11848
wouldnt this do it?
`vscode.commands.executeCommand('vscode.open', vscode.Uri.parse('http://www.google.com'));`

[2016-09-11 18:55] ramya-rao-a commented on #11810
@jbecwar @Treri I was able to format javascript code in VS Code 1.5.1 and in OS X El Capitan 10.11.6 without any extensions.

Can you share an example of javascript code that you were unable to format?

[2016-09-11 18:59] DanTup commented on #11848
Oooooh, quick test and this seems to work!

However, the [docs](https://code.visualstudio.com/docs/extensionAPI/vscode-api-commands) say (emphasis mine):

If it opened inside the editor, that wouldn't be what I want. I'm not why it does what I want and not what it says, but maybe someone can confirm and/or update the docs with the real logic?

[2016-09-11 19:02] yairhaimo commented on #11848
from my testing, if its an external webpage it will open it in the default browser.
if its a file it will open it in the editor.
i would *love* to find a way to open an external webpage inside the editor itself :)

[2016-09-11 19:03] dbaeumer opened #11850 "Investigate better synchronization between diagnostic request and auot code complete"
- VSCode Version: 1.5
- OS Version: all

VS Code currently requests diagnostics after 100 ms after the last typing. This seems to be too eager and especially conflicts with auto code complete. If a diagnostic request is trigger on very larger files it can take up to 1 second which delays auto code complete for a second. We should better sync this (e.g make sure we sent the auto code complete reque

[2016-09-11 19:05] saada commented on #396
Important thing that works well in Atom is that plugins, such as eslint, should still work at a project level. So if Project A has its own eslint rules, Project B should not be affected by those rules and vice versa. Cannot wait to have such UX in Code. This is definitely one of, if not the biggest adoption hurdles right now.

[2016-09-11 19:05] ramya-rao-a commented on #11812
@tinganho Do you mean you would like to open the preview by default when you open an markdown file?

@kieferrm maybe we can have a setting for this?

[2016-09-11 19:06] ramya-rao-a commented on #11814
@sirajalam049 Did that work for you?

[2016-09-11 19:12] ramya-rao-a commented on #11818
@unalone

- Which extension did you install for the C# support?
- Did the installation complete successfully?

This issue should be logged against the extension first. It can be moved back here if the extension owners conclude that the issue is with VS Code.

@joaomoreno Anything we can do from our side before moving this issue to the extension?

[2016-09-11 19:17] egamma commented on #11689
It was trivial to repro, but I can no longer do it. Closing, I'll reopen, when I see the issue again.

[2016-09-11 19:17] #11689 closed

[2016-09-11 19:21] egamma commented on #11660
@joaomoreno is there a way to see the node version on OS X?

[2016-09-11 19:24] dbaeumer commented on #11847
Like the idea of having a link in the problems panel to point to documentation. @sandy081

[2016-09-11 19:32] vstirbu opened #11851 "Embedded language support in Markdown"
I'm developing an [extension](https://github.com/vstirbu/vscode-mermaid-preview) that enables preview of [mermaid diagrams](http://knsv.github.io/mermaid/) inside Visual Studio Code.

My workflow assumes that the mermaid diagrams are embedded as github fenced code blocks inside Markdown documents:

<pre>
# Markdown document

next is a mermaid sequence diagram...

[code]
</pre>

I would like to pro

[2016-09-11 19:33] dbaeumer commented on #11772
No. If there is a local version of the TS installed and used by tsdk setting then we don't perform any checks since we assume that the suer knows what he does (he was adding the setting). If we detect a local installed typescript and it is not used and differs from the version we ship we show a warning. However if the user pressed Don't check again we never check again on any workspace. This one s

[2016-09-11 19:37] dbaeumer commented on #11773
@waderyan pretty sure this is a tsserver issue. Since they load the whole project I don't know whether they 'normalize' links to avoid traversing the cycle endlessly.

[2016-09-11 19:39] dbaeumer commented on #11691
@kaleb can you check whether you still see this in 1.5. Since the environment wasn't passed correctly pwd was not correctly set in the process from which the tasks are spawned. Hence the value was incorrect.

[2016-09-11 19:48] ramya-rao-a commented on #11819
@bschauhan

Are you trying to create a new file (File -> New File)?
When you create a new file, a new tab is always opened.

Or are you trying to open an existing file which is not opened in any editor yet?

If you single click on a file in the explorer in VS Code, then it is opened in [Preview mode](https://code.visualstudio.com/docs/editor/tabs#_preview-mode) and re-uses existing tab. Tabs in pr

[2016-09-11 19:51] ramya-rao-a commented on #11821
@iOSwang Can you share a screenshot of the error you get?
Are you having issues with VS Code in general or with an extension?

[2016-09-11 19:51] use-strict commented on #11824
I'm not sure if we're on the same page: first you type `webpack` and get a suggestion dropdown with `webpackConfig`. Then you type the dot and it should select the suggestion, preventing you from typing `webpack.` and replacing it with `webpackConfig`.

[2016-09-11 19:53] ramya-rao-a commented on #11822
@markDem25 Are you having issues while setting key bindings to other commands as well or only with `workbench.action.terminal.focus` ?

[2016-09-11 19:53] pankleks commented on #11518
File links at system level works fine for me.
Thanks for the idea.

[2016-09-11 19:55] ramya-rao-a commented on #11824
Yes, I got the suggestion dropdown.

No, it did not select the suggestion when I typed the dot

Therefore, I am asking for your user settings to see if something there is causing this for you

[2016-09-11 20:24] ramya-rao-a commented on #11746
@glen-84 May be we should. A lot gets lost during translation too. And it does make the job of the inbox tracker easier when we need to sort through sound 30 to 40 new issues every day :)

[2016-09-11 20:29] ramya-rao-a commented on #11746
@txiaocao Without any file associations, when I open a jsx file, the language mode in the bottom right corner shows "Javascript React"

Are you working on a js file or a jsx file?

Is this a problem in the new update or did you have the same issue in 1.4.0 as well?

[2016-09-11 20:56] trubit commented on #1833
:+1:

[2016-09-11 21:14] use-strict commented on #11824
User settings:
[code]

Workspace settings:
[code]

I'm using tsc 2.0.2 in this project, if anything that would be the primary suspect.

[2016-09-11 21:17] use-strict commented on #11824
And the real-life project where I encountered the issue: https://github.com/use-strict/webpack-runner/blob/master/test/test.ts#L78

[2016-09-11 21:37] nholthaus commented on #5402
#11830 may provide a more clear description of the expected behavior.

[2016-09-11 21:42] #11529 closed

[2016-09-11 21:53] #5779 closed

[2016-09-11 21:54] IntelOrca commented on #5402
@nholthaus unfortunately I don't this can be implemented until they implement virtual space - that should probably a feature request of its own.

[2016-09-11 22:41] pmkary opened #11852 "Question: How does one make a custom tab view (something like preview markdown)"
I have a couple of extension ideas and apps that I want to port to vscode and I need this. By this I mean: For example I wanna make a dependency-graph view for the typescript like the one in Atom:

![68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f547970655374726f6e672f61746f6d2d747970657363726970742d6578616d706c65732f6d61737465722f73637265656e732f646570656e64656e6379566965772f

[2016-09-11 22:49] octref commented on #11852
Take a look at `previewHTML`: https://code.visualstudio.com/docs/extensionAPI/vscode-api-commands.

This is also what the built-in Markdown extension is using:
https://github.com/Microsoft/vscode/blob/master/extensions/markdown/src/extension.ts#L89

[2016-09-11 23:36] helzgate opened #11853 "Search: Replace, match previous case"
While doing a search and replace:  If I don't have match case selected, could the find and replace, replace the appropriate words based on their previous case?

example:  I have several references to "HomeComponent", "HomeService", "homeService", "homeModel", "homeRef", etc.

If I want to change the word "Home" to "Portal", why can't I just add the word "portal" in the replace input and it automat

[2016-09-12 00:06] jtlivio commented on #10715
VSCode won't start on LINUX if you are using a Linux **xrdp** session (Debian based), can someone reproduce this?

[2016-09-12 00:57] gertcuykens commented on #1747
Can there be a exception made for Makefile's :)
I always use
[code]

Even if the previous developer used tab's on the file I don't care I am using spaces :P so I make sure that I disable autodetection. But a `Makefile` is the only exception where things start breaking if I do that. Can Makefile's have a forced Tab no matter what the settings are?

[2016-09-12 01:31] Treri commented on #11810
@ramya-rao-a No, I still can't format code in 1.5.1

But I found that, the same file, if it is in a project, it can't be formated via `format code`, but if it is a single file, it is correctly formated. And sorry, I can't provider the whole project.

[2016-09-12 01:33] shaoshuai0102 commented on #11842
Same problem here. Find processes take nearly 100 percent of my CPU.

[2016-09-12 01:35] ghisguth opened #11854 "Enable c# object dump in debugger console from code"
- VSCode Version: 1.5
- OS Version: OSX 10.11.6

Steps to Reproduce:

1. Install c# extension
2. Create .net core application
3. Write complex object to console
  1. `Console.WriteLine(new Dictionary<string, string>{{"foo", "bar"}});`
  2. `Debug.WriteLine(new Dictionary<string, string>{{"foo", "bar"}});`
  3.  `Console.WriteLine(Newtonsoft.Json.JsonConvert.SerializeObject(new Dictionary<string, s

[2016-09-12 01:53] ramya-rao-a commented on #11810
@Treri Do you mean that if you open a folder containing the js file in VS Code, you cannot format it, but you can format it if it is opened in VS Code as single file?

Can you share your customized workspace and user settings?

[2016-09-12 02:02] aulang opened #11855 "终端可选ProwerShell"
- VSCode Version:1.5.1
- OS Version:Windows 7

Steps to Reproduce:

1. Ctrl + `
2. CMD

[2016-09-12 02:14] Treri commented on #11810
@ramya-rao-a I can reproduce. I will describe steps below

1. use Code open the javascript file in attachment, use `format code` to format code. It can't be formatted now.
2. copy the file's content, and then press `ctrl+n` to create a untitled file, then paste the content to it, change the language mode to javascript. **But do not save the file**, then use `format code` to format the file. It can

[2016-09-12 02:23] #11855 closed

[2016-09-12 02:42] Tyriar commented on #11655
@hashhar that's the extension API, I think you want to use the `ExtensionWorkbenchService` in the vscode code base https://github.com/Microsoft/vscode/blob/52bceb1207188ecfe8c5b1fbe841b60df512a08a/src/vs/workbench/parts/extensions/electron-browser/extensionsWorkbenchService.ts#L245

[2016-09-12 02:43] Tyriar commented on #11785
/cc @daviwil

[2016-09-12 02:46] Tyriar commented on #11825
To clarify, the mouse down event occurs in the editor then mouse up in the terminal which triggers terminal focus. May be an upstream issue.

[2016-09-12 02:52] Tyriar commented on #7727
@joseph-iussa double checked and setting to the 64-bit cmd doesn't fix this issue. Not sure what the problem was with opening the terminal with no open folder, doesn't reproduce on my machine.

[2016-09-12 02:52] yeluoqiuzhi commented on #7817
It's really annoying!!!

[2016-09-12 02:53] Tyriar commented on #11805
@NikosEfthias currently I think there's max 30 updates to the DOM per second, but all that text still needs to be processed. So the scroll bar added in 30 scroll events a second in addition to everything else which I'm guessing was enough to lock it up.

[2016-09-12 03:17] eventhelix opened #11856 "Bracket matching does not work as expected if the opening brace symbol is contained in the closing brace symbol (e.g. sequence endsequence)"
- VSCode Version: 1.5.1
- OS Version: Windows 10

Steps to Reproduce:
1. Add custom bracket definitions as shown

[code]
1.  Brace matching (Control+Shift+) for nested sequence blocks does not work as expected. For the following text:

[code]

A brace match command on the outer endsequence, mistakenly selects the sequence text in the inner endsequence.

[2016-09-12 03:18] hyingreborn opened #11857 "Provide the code hint for css(include inline css) & javascript in HTML files plz..."
- VSCode Version: 1.5.1
- OS Version: win10

Example：
----------------------------
[code]
----------------------------
`<div style="color: #fff; ...">inline css</div>`
----------------------------
[code]

[2016-09-12 04:13] Jakobud opened #11858 "Add optional timeout to MessageBox (Information, Error, Warning)"
Just simply an optional timeout in milliseconds that can be specified to make a messagebox dismiss itself after that amount of time.

Alternatively provide a way of dismissing message boxes manually so that one might do this with `setTimeout`.

[2016-09-12 04:53] rebornix opened #11859 "Block cursor width is not correct with CJK characters"
- VSCode Version: 1.5.0
- OS Version: OSX

Originally posted in https://github.com/VSCodeVim/Vim/issues/751 but later we found it's a Code issue.

Repro steps
1. Set `"editor.cursorStyle": "block"`
2. Move cursor to any CJK characters

![screen shot 2016-09-11 at 3 26 23 pm](https://cloud.githubusercontent.com/assets/4230968/18415874/29bdb506-7834-11e6-802e-6599a8c5f220.png)

[2016-09-12 05:18] bpasero commented on #11846
We are not showing file types in the dialog because this area is majorly broken in Electron on Windows and has enough bugs that our current way of not showing types is just better.

[2016-09-12 05:21] bpasero commented on #11620
Closing this until we have more steps or more users that see this.

[2016-09-12 05:21] #11620 closed

[2016-09-12 05:22] bpasero commented on #11665
@pokerchina is it still crashing for you?

[2016-09-12 05:23] bpasero commented on #11592
@dhruvajoshi8 sorry the screenshots are too blurry, I cannot see anything. Can you redo the ones for the console to see what kind of output there is?

[2016-09-12 05:38] marvinhagemeister commented on #11620
Yeah, that's best. I haven't been able to reproduce it anymore in the past days abs I'm using vscode daily for up to 10h.

[2016-09-12 05:58] DentCop opened #11860 "Installing extensions in Linux through authenticated proxy fails (Server returned 407)"
- VSCode Version: 1.5.1
- OS Version: Debian 8.5

Steps to Reproduce:

1. Have proxy which requires authentication (in my case simple auth)
2. Add proxy server to user settings:
    "http.proxy": "http://username:password@proxy1.domain.com:80",
3. Optionally also setup proxy in env:
    export http_proxy=http://username:password@proxy1.domain.com:80
4. Run vscode and display extensions - extension

[2016-09-12 06:05] Jakobud commented on #11693
Not really. I'm not sure I followed your original solution. You had this syntax:

`return new Promise(function.... , function).` Not sure I get it. Also I'm not sure what error callbacks you were referring. According to the API docs, the `showInputBox()` Thenable only returns a value that is either the value you picked or undefined if you didn't pick anything. There is no error callback there as f

[2016-09-12 06:07] ionutvmi commented on #11812
You can actually open the preview and drag the tab to the right side so you have a 2 panes.
When you edit the markdown source it will automatically update the preview.

![preview](https://cloud.githubusercontent.com/assets/3531898/18426189/45f251a2-78c8-11e6-937c-d21e45db6af4.png)

[2016-09-12 06:08] ipiz commented on #1046
I really love the drag and drop feature and ctrl+ drag and drop feature for duplicating text selection, this way you don't need to overwrite your clipboard.

[2016-09-12 06:16] Jakobud commented on #11693
Okay I set it up like this now:

[code]

If I enter a value I get the resolve working. But if I press ESC (causing value to be undefined) then I get an exception. It doesn't have an exception printed out in the debug console but a "Pause on Exception" happens in the debugging. I see a call stack etc. But I have no clue why its pausing. It stops on the `reject()` line.

[2016-09-12 06:18] clement961 commented on #11846
Ah ! I didn't know it. Indeed, it is problematic.

[2016-09-12 06:27] felixfbecker commented on #1747
Install the editorconfig extension

[2016-09-12 06:49] jrieken commented on #9764
Reopening as a 'fix' for #11742

[2016-09-12 06:52] #11742 closed

[2016-09-12 07:01] pokerchina commented on #11665
i update 1.5.1, now, it looks like ok.

[2016-09-12 07:04] frangiskos commented on #11834
Hi
Yes, I get the same errors.
I have uninstalled vscode-icons extension and disabled all others using the
following commands, but I still get the same error.
I thing the uninstall command is not running properly due to the mentioned
problem

code --uninstall-extension robertohuertasm.vscode-icons
code --disable-extensions

On 11 September 2016 at 19:20, Ramya Rao <notifications@github.com> wrote:

[2016-09-12 07:05] jrieken commented on #11788
Your completions are being filtered because `MyC` doesn't match `test2` nor `testable`. If you actually want to *complete* `MyC` with `test2` you can control that by using the `TextEdit` and `filterText` of the completion item - that defines what portion is being overridden and what text is used to filter.

[2016-09-12 07:05] #11788 closed

[2016-09-12 07:06] jrieken commented on #11820
There is `CompletionItem#sortText` which we will use instead of the label, however since completions can come from multiple sources sorting is lexical along those two properties

[2016-09-12 07:06] #11820 closed

[2016-09-12 07:07] bpasero commented on #11665
Given that it now seems to work for all people in this issue, closing. I am also not able to reproduce the crash with the given keybindings file.

[2016-09-12 07:07] PeterDraex commented on #2928
I experience "Can't open this git resource" quit often, on version 1.5.1.

[2016-09-12 07:07] jrieken commented on #11848
The recommendation is to use a node module or the aforementioned command

[2016-09-12 07:07] #11848 closed

[2016-09-12 07:08] joaomoreno commented on #11660
The following comment made me think you are talking about different things:

Electron is built on top of Node, the version of which can be found in the DevTools: `process.versions`.

But, at runtime, Code finds Node in the path and uses that to run tasks, builds, etc. Is that what you meant @nijikokun?

[2016-09-12 07:09] jrieken commented on #11838
@XVincentX This mostly depends on the filename and 'pasting it into the editor' will miss that information I guess.

[2016-09-12 07:10] jrieken commented on #11808
@fierval Please update with steps that allow to reproduce

[2016-09-12 07:13] joaomoreno commented on #11756
Related to #11646

[2016-09-12 07:13] #11777 closed

[2016-09-12 07:14] joaomoreno commented on #11783
Can you restart your machine and reinstall? This is due to an old issue. Sorry for that...

[2016-09-12 07:14] #11783 closed

[2016-09-12 07:15] joaomoreno commented on #11784
We want the update the be more transparent, not less.

[2016-09-12 07:15] #11784 closed

[2016-09-12 07:17] joaomoreno commented on #11796
This is done on my side. Here are a few examples:

- https://vscode-update.azurewebsites.net/1.5.0/win32/stable
- https://vscode-update.azurewebsites.net/1.2.0/darwin/stable
- https://vscode-update.azurewebsites.net/1.3.1/linux-deb-x64/stable

[2016-09-12 07:17] #11796 closed

[2016-09-12 07:18] joaomoreno commented on #11803
Good to know that you are OK now. But without details I'll have to close this.

[2016-09-12 07:18] #11803 closed

[2016-09-12 07:24] hikidd opened #11861 "Can't work in ubuntu16.04 - vagrant"
- VSCode Version: 1.5
- OS Version: ubuntu 16.04 - vagrant

Steps to Reproduce:
1.  Download and install an ubuntu box in vargrant
[Ubuntu Desktop 16.04 Xenial Xerus (64-bit)](https://vagrantcloud.com/boxcutter/boxes/ubuntu1604-desktop/versions/2.0.18)
2. Download vscode. [download] (https://code.visualstudio.com/Docs/?dv=linux64_deb)
3. Run it, but black screen as below.
![unnamed_20160901_105618

[2016-09-12 07:25] ioma8 opened #11862 "VS freezing every five minutes on CSS file"
- VSCode Version:  1.5.1
- OS Version: Windows 7

My VS Code freezes on my computer every five minutes when working with larger CSS file (~100kb). Only way to resolve this is to run Windows Task Manager, kill whole VSC and then start again. This bug unfortunately makes VSC for me unusable, as it highly frustrates me having to restart my editor every 5 minutes, lose last position, recent changes in

[2016-09-12 07:25] joaomoreno commented on #11780
It didn't happen on my machine. Do you still see this after restarting?

[2016-09-12 07:26] joaomoreno commented on #11735
cc @bpasero ring any bells?

[2016-09-12 07:28] joaomoreno commented on #11837
We will not prevent access, but omit the message instead.

[2016-09-12 07:31] buehler commented on #11788
@jrieken Many thanks... 😱  It's kinda obvious...

[2016-09-12 07:35] joaomoreno commented on #11818
Nope, move it.

[2016-09-12 07:37] #2928 closed

[2016-09-12 07:38] joaomoreno commented on #2928
@PeterDraex do you mind opening a new issue for it, with details?

[2016-09-12 07:42] nocksock commented on #11401
Yes it does.

![](http://riedemann.co/s/D0Dy17.png)

It also works when I just remove Lato from the font-family - which I checked is *not* installed locally.

![](http://riedemann.co/s/8UnCVP.png)

[2016-09-12 07:43] joaomoreno commented on #11836
It does support it.

![image](https://cloud.githubusercontent.com/assets/22350/18428266/43787190-78cd-11e6-869a-b86e811f4b7e.png)

It does **not** support suggesting `python` when you type `pythn` since that would cause way too many false positives in a regular workflow.

[2016-09-12 07:43] #11836 closed

[2016-09-12 07:44] vadimcn opened #11863 "VSCode Marketplace site does not support internal links in Readme markdown"
(This isn't a problem with VSCode itself, however I couldn't find a better place to file this)

When VSCode Marketplace site renders readme for a published extension, it ignores internal (aka intra-document) links.  For example, consider the document below; the table of contents links to sections work correctly in the internal VSCode viewer, however on the Marketplace site they all just open a new

[2016-09-12 07:45] Koarakuma commented on #11862
I concur with the issue! For me it is editing any file, even the user preferences file with no folder open. If I start writing something, it only takes like 10 seconds before the editor freezes completely. Menu bar is responsive but clicking on any options does nothing. Clicking on wait does not resolve the issue. Clicking on restart does nothing. Clicking on Close closes the App sucessfully.
Vers

[2016-09-12 07:46] #11727 closed

[2016-09-12 07:47] bpasero commented on #11727
Pushed a change to improve this situation for the following cases:
* goto definition will store the current cursor location as history entry so that when jumping back you end up in the same line number
* opening another editor will now also store the current cursor in the history so that going back puts you to the exact same line number too

[2016-09-12 07:49] bpasero commented on #11735
@joaomoreno does minimist tamper with our arguments and maybe rewrites them?

[2016-09-12 07:53] samspade commented on #11862
VSCode Version: 1.5.1
OS Version: Windows 7 Enterprise SP1

I came here to post the same thing.

I'm working on 266KB file on a windows network folder. \\path\to\folder\file.css, but the same thing happens when editing on my C: drive.

The editor halts, the menus are still accessible, but the majority (editor related, do not work). The Toggle Developer Tools is still available.

[2016-09-12 07:57] joaomoreno commented on #11735
No, I was rather asking whether we touched something there lately.

[2016-09-12 08:03] bpasero commented on #11735
@joaomoreno not to my knowledge and we also did not update electron. Though I would give @Tyriar a ping because I know this is an area where he was also working in (not sure if last milestone though).

[2016-09-12 08:05] bpasero opened #11864 "Quitting Code in fullscreen mode forgets previous windows state"
Steps to Reproduce:

1. move and size the window to some specific state
2. restart and verify this state is restored
3. put window into fullscreen and quit from fullscreen
4. restart
=> the window is put back to its default window state

Expected: restore the window to the size it was having from previous sessions

[2016-09-12 08:07] #11864 closed

[2016-09-12 08:19] xuguruogu opened #11865 "file tree view disorder"
- VSCode Version: Code 1.5.1 (07d663dc1bd848161edf4cd4ce30cce410d3d877, 2016-09-08T21:27:44.726Z)
- OS Version: Darwin x64 15.6.0

![image](https://cloud.githubusercontent.com/assets/6092236/18429108/56c36412-7904-11e6-8c46-7f1c2efac237.png)

[2016-09-12 08:21] netrounds-joakim opened #11866 "Synchronize dirty files across multiple windows"
- VSCode Version: 1.5.1
- OS Version: Windows 10

Steps to Reproduce:
1. Open a file
2. Create a new window
3. Drag the file to the second window (opens a second copy)

Is there any plans to have a "live sync" when a file is opened in two windows at the same time? Right now the second window only gets updated when one saves. It is very easy to accidentally start editing an out of date version of t

[2016-09-12 08:22] alexandrudima commented on #11553
@Streppel I can only imagine this is because we ship on an older version of Chromium (49).

You could use `"editor.mouseWheelScrollSensitivity": -1` to flip the direction

[2016-09-12 08:24] sandy081 commented on #5508
@Urik I have already started on this and planning to push it today.. Sorry for that.

[2016-09-12 08:24] cauldyclark15 commented on #11742
Hello, I am still having the issue same with #11782, cursor is not between quotes after autocomplete on HTML. I just updated to VS Code version 1.5.1, and using Windows 7. I am new here so if you need additional information from me, please advice.

[2016-09-12 08:25] alexandrudima commented on #11696
@wenhailong Can you please describe the feature you would want. Maybe everyone else does, but I don't know what style-token is?

[2016-09-12 08:25] weijarz commented on #11836
@joaomoreno What's your vscode version?
My version seems not work (v1.5.1 / Linux). The popup list will close when type 'n'.

![screenshot from 2016-09-12 16-18-38](https://cloud.githubusercontent.com/assets/8944061/18429195/cc86dd82-7904-11e6-8a0b-756571903163.png)
![screenshot from 2016-09-12 16-18-55](https://cloud.githubusercontent.com/assets/8944061/18429200/d1b5eb72-7904-11e6-83b3-b71a7a6b4c

[2016-09-12 08:25] sandy081 commented on #11847
@dbaeumer Does the problem diganostics have information about these external links?

[2016-09-12 08:27] alexandrudima commented on #11683
Technically both diffs are minimal w.r.t. the number of changed lines (from a LCS point of view), but not w.r.t. number of distinct diff regions. We could post-process the diff results to cover cases like this.

[2016-09-12 08:36] ro78 opened #11867 "WinSCP open files in VSCode but don't show VSCode window"
- VSCode Version: Code 1.5.1 (07d663dc1bd848161edf4cd4ce30cce410d3d877, 2016-09-08T21:33:49.307Z)
- OS Version: Windows_NT ia32 6.1.7601

Steps to Reproduce:

1. Define VSCode as default WinSCP editor
2. Open any file from WinSCP - file is opened and VSCode window is displayed
3. Keep VSCode open and open another file from WinSCP - file is opened but VSCode window is not displayed (stays in backgr

[2016-09-12 08:38] XVincentX commented on #11838
@jrieken
Is there any plan to provide an API call to trigger the auto detection?
In my use cases, giving I'm providing regexp in languages I support, it would really solve my problem here.

Thanks!

[2016-09-12 08:43] joaomoreno commented on #11836
That's because your are filtering against textual suggestions, which [only match by their prefix](https://github.com/Microsoft/vscode/blob/master/src/vs/editor/common/modes/supports/suggestSupport.ts#L23). cc @jrieken

[2016-09-12 08:43] mikegoatly opened #11868 "Invalid keyboard bindings file causes editor to not load"
- VSCode Version: 1.5.1
- OS Version: Windows 10 Pro build 14393.105

Steps to Reproduce:

1. Overwrite everything in your keyboard bindings file with this (i.e. without the array brackets):
{"key": "ctrl+shift+alt+F", "command": "stylefmt", "when": "editorTextFocus"}

2. Try to open VS code - the editor fails to load and you end up with a blank window.

Expected outcome: The editor should still l

[2016-09-12 08:43] #11684 closed

[2016-09-12 08:44] unalone commented on #11818
Ok,
The reason for this problem is, the Mono and the DotNet installer doesn’t finish well, so the C# plugin cannot find the mono and dotnet command to use.

To fix it, I have to add the location of dotnet and mono to the PATH env manually, also, I have to install the Beta version mono: 4.6.0.182.

[2016-09-12 08:46] bpasero commented on #11684
Happy to finally found steps how to reproduce. It is a race condition:
* open a file and make changes
* open the diff editor on this file
* from the git viewlet undo the changes
=> you end up jumping back to the file you started
=> sometimes the file turns out to be empty

What happens?
* when you undo from the git viewlet, the file on disk is reverted
* this emits a file change event
* we have a

[2016-09-12 08:52] weijarz commented on #11836
@joaomoreno I think an option should be added to allow partial matching.

[2016-09-12 08:52] emartinpi commented on #6602
Thanks @jcarter It worked for me as well, but I suppose this workaround may break some key bindings...
@Tyriar Will there be a fix for this issue?

[2016-09-12 08:57] jrieken commented on #11836
Yeah - we did that to have less suggestions in textual completions - mostly in comments etc. Once we have a better story for that we should align the filtering.

[2016-09-12 08:58] ShadowIce commented on #7001
I get the same error when I try to debug a C++ program on Windows using cppvsdbg, except that it's "Unexpected token C" and it's shortly after starting the program. I have a breakpoint set but it's not reached during that time. If I disable the breakpoint everything works.

[2016-09-12 08:58] jrieken commented on #11742
@cauldyclark15 You need to wait for 1.5.2 or built from source

[2016-09-12 09:01] cauldyclark15 commented on #11742
@jrieken Thank you for your response, I understand now.

[2016-09-12 09:08] pmcoz commented on #11837
Thank you. I think it is unfortunate that VSCode no longer provides privacy settings to allow opting out of internet accesses.

[2016-09-12 09:11] jpoon commented on #5280
@alexandrudima With the Vim extension, users can remap their vim keybindings. We're discovering that some key combinations don't get dispatched to the extension: https://github.com/VSCodeVim/Vim/issues/757. Particularly, `Ctrl` (ie. `Ctrl+a`). The only modifiers that seem to be dispatched are `Alt` and `Shift`.

[2016-09-12 09:11] egamma commented on #10145
@niieani thanks for the kind comment. I'll make sure that it is shared with the entire team.

[2016-09-12 09:11] egamma commented on #10145
1.5 has been shipped - closing

[2016-09-12 09:11] #10145 closed

[2016-09-12 09:12] mgerner commented on #11683
Yes, that was my idea as well - introduce a very small cost associated with each distinct diff region, as you call them. That will ensure that the optimization will select the "better" diffs.

[2016-09-12 09:14] mgerner commented on #11683
(By the way, I really wouldn't call this a feature request. It's clear that the current behaviour is incorrect, isn't it? Changing the top of a file shouldn't change how diffs for completely unrelated sections are calculated. It'd be better characterized as  a bug -- and an easy-to-fix bug, at that.)

[2016-09-12 09:18] ioma8 commented on #11862
My suspiction is that it might have something to do with redrawing the colored preview boxes near color statements in CSS files, as in my exp they tend to be bugging few moments before the app freezes. Eg my screenshot in this issue.

[2016-09-12 09:19] #11109 closed

[2016-09-12 09:25] joaomoreno commented on #11837
Opting out of internet access is not a privacy issue.

[2016-09-12 09:33] mgerner commented on #11683
Yet another example, that is even clearer: I added a new method to a Python file. This is as straight-forward as can be. What does the diff result look like?

![image](https://cloud.githubusercontent.com/assets/995315/18431227/fb0e328a-78d3-11e6-9a62-d735a87352db.png)

The method I added have been broken up into three different sections, and the diff believes that I added my new method in the midd

[2016-09-12 09:41] con-ssc opened #11869 "Too many selections with intellisense lead to crash"
- VSCode Version: Code 1.5.1 (07d663dc1bd848161edf4cd4ce30cce410d3d877, 2016-09-08T21:33:49.307Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1. Have 188 selections with intellisense selected
2. Try to type while vscode tries to suggest autocomplete

This scenario leads to a freeze and to a crash

[2016-09-12 09:59] garfieldbanks opened #11871 "Inconsistent Toggling"
Ctrl+F doesn't toggle. Ctrl+H doesn't toggle. Ctrl+Shift+H doesn't toggle.

Why does Ctrl+Shift+F toggle?

Ctrl+F and Ctrl+H will switch from one to the other.

The same is not true for Ctrl+Shift+F and Ctrl+Shift+H.

Can you give me an option in settings to fix this?

I want to disable all toggling between the text editor and the find box. Ctrl+Shift+F should never move me to the text editor.

Ct

[2016-09-12 10:10] francescoRubini commented on #206
+1

[2016-09-12 10:10] akshayat commented on #11752
Yes, even bigger size does not cause this.

[2016-09-12 10:13] jtribley opened #11872 "Ctrl + Click to Go To Definition"
Feature request; when holding CRTL and clicking on a method, variable etc. jumps to the method definition. Just like the feature in Productivity Power Tools 2015 for Visual Studio

[2016-09-12 10:16] jtlivio opened #11873 "Won't run in a xrdp session"
- VSCode Version: 1.5.1
- OS Version: Lubuntu 16 LTS

Steps to Reproduce:

1. Activate XRDP in Lubuntu
2. Remote from Windows 10 1670
3. Run VSCode

[2016-09-12 10:25] saifali96 commented on #11785
@weinand Powershell is very similar to `cmd` and `bash`. It's a shell scripting language as well as a interactive/REPL shell for Windows and now also for other platforms. Anyhow to:

- to cd to a dir you use `cd [localdrive]:\parentdir\localdir`, of course you can remove localdrive thing if you are in that drive you want to cd into and also if the dirname contains spaces you should use `" "`.

- t

[2016-09-12 10:25] bpasero commented on #11868
I can reproduce.

[2016-09-12 10:26] bpasero commented on #11752
Looks like an upstream issue with Chrome then. A future update might well fix this.

[2016-09-12 10:30] alexandrudima commented on #11683
I agree this is perceived as a bug, but technically it is a feature request :). The diffing algorithm is based at its core on solving multiple LCS (longest common substring) problems. The algorithm correctly finds a longest common substring sequence, it is just that in some cases there are multiple longest common substring sequences and some would feel "better" than "others".

What I mean by that

[2016-09-12 10:31] DonJayamanne commented on #11739
@ramya-rao-a , @z442a9 , @gjstockham
I believe this is an issue related to the VS Code Icons extension. I say this because this error message is displayed by that extension and not VS Code, nor the Git history extension, I suspect its the same with the Powershell extension.

[2016-09-12 10:33] joaomoreno commented on #2330
Parameter hints:

![image](https://cloud.githubusercontent.com/assets/22350/18432936/25177e36-78e5-11e6-99ff-7d7ed7e5305d.png)

[2016-09-12 10:42] YuJianrong opened #11874 "File search slow with many excluded files"
- VSCode Version: Code 1.5.1 (07d663dc1bd848161edf4cd4ce30cce410d3d877, 2016-09-08T21:27:44.726Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:

1.Open a large project with many files
2.Click CMD+P to open fie file pick-up window
3.Input the file name
4.No file listed, loading bar is animating
5.I had noticed 12 processed are created on background with process name "find"

[2016-09-12 10:52] joaomoreno opened #11875 "Consider wrapping hover in 80 chars"
From #2330

@DanTup says:

![img](https://cloud.githubusercontent.com/assets/1078012/18419024/21addaa6-784a-11e6-9d50-0ecf39855153.png)

[2016-09-12 10:54] alexandrudima commented on #5280
@jpoon the keybindings.json use key codes. `ctrl-a` is correctly dispatched to extensions. e.g. here I have an extension that registers `ctrl-t` and it works correctly -- https://github.com/alexandrudima/vscode-lcov/blob/master/package.json#L109.

This issue is regarding registering a keybinding in the form of `shift shift` where only modifier keys are pressed.

Registering `type` is a take all or

[2016-09-12 10:57] mniewrzal opened #11876 "VS Code tries to read 'range' field from TextEdit which is null"
- VSCode Version: Code 1.5.1 (07d663dc1bd848161edf4cd4ce30cce410d3d877, 2016-09-08T21:34:58.760Z)
- OS Version: Linux x64 4.7.2-201.fc24.x86_64

Steps to Reproduce:

After sending CompletionItem[] as a response for 'textDocument/completion' nothing is happening, no proposals. Developer tools console shows error.

Response for method: 'textDocument/completion':
[code]

Developer tools console shows

[2016-09-12 11:00] joaomoreno opened #11877 "Provide API to return formatted content from suggest and parameter hints"
Take the following snippet:

[code]

Here's how it looks in different widgets:

**Hover**

![foo](https://cloud.githubusercontent.com/assets/22350/18433520/58036fe6-78e8-11e6-95d0-b8e831dde2f9.png)

**Suggest**

![image](https://cloud.githubusercontent.com/assets/22350/18433537/6ef1a6f0-78e8-11e6-953b-f7259b9f88c5.png)

**Parameter hints**

![image](https://cloud.githubusercontent.com/assets/22350

[2016-09-12 11:00] joaomoreno commented on #11877
@jrieken Not sure whether we already have an issue for this.

[2016-09-12 11:00] alexandrudima commented on #11811
@furkankinyas Can you please provide a file that can help us reproduce the slowness you are experiencing. For example, here I am copy-pasting up to 10k lines and it works fine for me. Perhaps this is happening in a certain file type or in a certain file shape.

![10k](https://cloud.githubusercontent.com/assets/5047891/18433605/e28614c0-78e8-11e6-9e6d-104c5f040c2e.gif)

[2016-09-12 11:01] joaomoreno commented on #2330
@DanTup: #11875

Closing this as all widgets are somewhat more aligned. Created #11877 for further content alignment.

[2016-09-12 11:01] #2330 closed

[2016-09-12 11:06] alexandrudima commented on #5402
@nholthaus From #11830

Most programs with column mode (visual studio/notepad++/kdevelop/etc) have the following user experience:
1. hold the keyboard shortcut/toggle column mode.
2. click somewhere. This is the selection 'start' anchor.
3. drag somewhere. This is the selection 'end' anchor.

This is not how Visual Studio 2015 behaves for me:
* I click somewhere
* I press and hold shift + alt
* I

[2016-09-12 11:12] alexandrudima commented on #11802
The file gets opened if it exists.

If it doesn't exist, the workbench used to show an error with an action to create the file. It no longer shows anything (which makes us think that ctrl+clicking is broken).

Giving to @bpasero to confirm if this is an intentional change and what the story is now with following links to missing files.

[2016-09-12 11:13] mostergaard opened #11878 ".JS files no longer open as Javascript after latest update"
- VSCode Version: Code 1.5.1 (07d663dc1bd848161edf4cd4ce30cce410d3d877, 2016-09-08T21:33:49.307Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:

1. Open a .js file
2. In the bottom-right corner it appears as "Plain Text"
3. If I click on the "Plain Text" link and choose "Configure File Association for '.js'" a settings.json tab appears. I can click save, but it doesn't appear to ha

[2016-09-12 11:17] mostergaard commented on #11878
I solved it. I deleted the settings.json in %appdata%\Code\User with the current contents:

// Place your settings in this file to overwrite the default settings
{
        "files.associations": {"*.js": "JavaScript"}
}

[2016-09-12 11:20] alexandrudima commented on #6072
@awaemmanuel @vanloc0301 Please create new issues and describe in detail your project (it would be best if we could have access to it as well), otherwise please give us some hints / reproducible cases. A "me too" in this issue will not lead to a code change / improvement of VS Code.

[2016-09-12 11:24] alexandrudima commented on #11843
@jyavenard This is caused by the way zooming out is implemented in Chromium, it does pixel-level scaling.

See for example https://jsfiddle.net/vu8zxyoc/ and try zooming out.

My recommendation is to not use zooming, but to adjust the `fontSize` for example.

Why are you ending up zooming out?

[2016-09-12 11:26] alexandrudima commented on #11843
See also #9634

[2016-09-12 11:27] rothskeller opened #11879 "Allow to configure settings per file type"
- VSCode Version: 1.5.1
- OS Version: OS-X 10.11.6

Currently, the configuration switches that control indentation (editor.tabSize, editor.insertSpaces) can be configured globally or per-workspace.  But it's not unusual to work on different types of files within the same workspace that need different indentation styles.  For example, Go source files always use tabSize=8, insertSpaces=false (it's a

[2016-09-12 11:29] alexandrudima commented on #381
@mouhong Is there any difference for you in Chrome if you try it in a jsfiddle like https://jsfiddle.net/rhy7v1wp/

If not, then please create an issue against Chromium https://bugs.chromium.org/p/chromium/issues/list and link back to it here.

Thank you!

[2016-09-12 11:30] ststeiger opened #11880 "Bug in How-to-Contribute#build-and-run-from-source documentation"
I've now successfully built vscode on Ubuntu 14.04 ARMhf.
Note the documentation is wrong.
It states one needs NPM < 3.9.
This is wrong. I installed 3.8 (3.8.4), and it still failed.
Then i installed 3.7 and it still failed.
Then I installed 3.5 and it still failed.
Then I installed 3.1, and the build ran, but not vscode
==> error Cannot find module 'jsonc-parser'.
==> +subsequent errors
One needs

[2016-09-12 11:32] alexandrudima commented on #7739
@drinktee The gap is so wide to accommodate both folding indicators and git indicators:

![image](https://cloud.githubusercontent.com/assets/5047891/18434428/5ab758ec-78ed-11e6-9833-32aab350e4c9.png)

[2016-09-12 11:33] mostergaard commented on #11878
I seems that it should be "javascriptreact" and not "JavaScript React" in the settings.json. That was not clear to me. Maybe previous versions just ignored this and resolved to the default association, whereas the new version goes to "Plain text".

[2016-09-12 11:33] alexandrudima commented on #7394
A possible solution would be positioning the `<textarea>` always with the cursor. Assigning to September to investigate if this would be possible.

[2016-09-12 11:36] nholthaus commented on #5402
@alexandrudima yeah but visual studio also has an `alt` button column mode that does what I described, which is the only one I'd ever use. Visual studio code doesn't seem to have the equivalent, or if it does it doesn't work on linux.

[2016-09-12 11:38] alexandrudima commented on #11790
@djbu Is it possible that your `keybindings.json` file is corrupt?

The `keybindings.json` file is located next to the `settings.json` file in these folders (depending on your OS):
* Windows `%APPDATA%\Code\User\settings.json`
* Mac `$HOME/Library/Application Support/Code/User/settings.json`
* Linux `$HOME/.config/Code/User/settings.json`

For the Insiders version that would be `Code - Insiders` i

[2016-09-12 11:41] alexandrudima commented on #5402
Oh, ok, we only added the `shift+alt+` behaviour. IMHO we first need to make the mouse gestures configurable as `alt+` clicking is occupied by adding a new cursor (a feature VS does not have) and then we can allow customizations of the modifiers + clicking and add this other way of column selection

[2016-09-12 11:42] nholthaus commented on #5402
Cool. I'm not concerned at all if the shortcuts don't match, as long as the functionality could be accessible somehow.

[2016-09-12 11:43] alexandrudima commented on #11809
The reason is that each cursor produces some edits and those edits overlap. This can only work if the move lines actions are more aware of multicursor than looping over the cursors in:

[code]

PR welcome

[2016-09-12 11:44] nholthaus commented on #5402
@alexandrudima Also (on Kubuntu) `alt+click` moves the window, it doesn't add a cursor. Does that sound like I should file a bug report?

[2016-09-12 11:46] alexandrudima commented on #11781
Our system doesn't know the `text/babel` mimetype. Not sure if HTML should bake that knowledge in. fyi @aeschli when moving html out to an extension

[2016-09-12 11:47] alexandrudima commented on #5402
We have had the report multiple times. It boils down to supporting customization of mouse shortcuts (#3130)

[2016-09-12 11:48] alexandrudima commented on #11770
@HamzaAbdullahMoh @eyalsk Do you mean you'd want VSCode to be translated to Arabic or Hebrew or do you mean that you cannot work with source code files containing Arabic or Hebrew ?

[2016-09-12 11:49] alexandrudima commented on #4873
fyi @bpasero

[2016-09-12 11:52] mouhong commented on #381
@alexandrudima No difference. But `font-weight:300` works in other places. For example, if I inspect your github comment in Chrome, and set `font-weight:300` in the Styles tab, it works! The text gets thinner.

[2016-09-12 11:53] avjgit opened #11881 "Multiline select"
Please introduce multiline select (Ctrl + Shift + L).

[2016-09-12 11:58] bpasero commented on #9794
Fix pushed for September. Best to verify with an extension that uses the HTML preview command with the same resource but different label multiple times, because that is the scenario for @Huachao

[2016-09-12 11:58] #9794 closed

[2016-09-12 11:58] mouhong commented on #381
@alexandrudima FYI, it'll work if I manually edit `workbench.main.css` and insert css: `.monaco-editor { -webkit-font-smoothing: antialiased; }`

[2016-09-12 11:59] alexandrudima commented on #8914
Ok, so the action for us is to change the default keybinding for format code from `Shift+Option+F` to something else. Anyone has any ideas?

[2016-09-12 12:00] crazyquark commented on #3518
👍

[2016-09-12 12:02] DanTup commented on #11879
This is a similar issue to #2765 where the response was for the Go extension to explicitly set the indent settings. I have to do [the same for Dart](https://github.com/Dart-Code/Dart-Code/blob/master/src/dart_indent_fixer.ts) but I think it's a bit naff and would be a good feature for Code to support natively.

[2016-09-12 12:05] bpasero commented on #11802
Looks like opening links now goes through the opener service which seems to swallow errors: https://github.com/Microsoft/vscode/blob/master/src/vs/platform/opener/browser/openerService.ts#L48

[2016-09-12 12:08] bpasero commented on #11790
@alexandrudima see https://github.com/Microsoft/vscode/issues/11868#issue-176322681

[2016-09-12 12:10] alexandrudima commented on #381
@mouhong Perhaps we can expose `-webkit-font-smoothing: antialiased;` in the form of a setting, I don't believe that works well for all folks across all OSes and across all fonts.

[2016-09-12 12:13] Mlocik97 commented on #11802
I can not click even if there is.

[2016-09-12 12:17] alexandrudima commented on #11790
@bpasero Thank you, I have seen that already. Perhaps this is another case

[2016-09-12 12:18] mouhong commented on #381
@alexandrudima I found that, if I inspect your GitHub comment in Chrome, and manually set style `font-weight: 300`, the font will get thinner. Interesting.

[2016-09-12 12:33] IntelOrca commented on #5402
@alexandrudima do you intend to implement virtual space in the furture... e.g. hold alt and click somewhere where there aren't any characters yet still have a caret there? Typing then inserts the spaces up the caret automatically.

[2016-09-12 12:41] ViBE-HU commented on #11832
@ramya-rao-a I just started to use on Linux, so I'm not sure, but the same Windows version can do it.

[2016-09-12 12:43] djbu commented on #11790
i'll try disabling extensions later, fow now i need to solve at my work so
i'm using vs code insiders. I'll tell you it it's fixed with that.

2016-09-12 7:48 GMT-04:30 Alexandru Dima <notifications@github.com>:

--
Daniel Becerra
Freelancer
https://www.odesk.com/users/~012e796a1b446f7c59

[2016-09-12 12:47] joaomoreno commented on #11845
Actually I just pushed changes such that the intellisense text scales along with `editor.fontSize` now. Coincidence. Nevertheless:

Duplicate of #2465

[2016-09-12 12:47] #11845 closed

[2016-09-12 12:48] joaomoreno commented on #2465
The Intellisense font size now scales with the editor's. All we need now is a setting to overwrite this.

[2016-09-12 12:49] alexandrudima commented on #11659
Using a vim emulation extension does bring in some latency, because in that case the typed letter `j` has to make its way from the main process to the extension host process, where the vim extension will react to it (hopefully the input parsing is fast), and it will then proceed to send a cursor position change request to the main process, which will then react to it, move the cursor, and paint at

[2016-09-12 12:52] alexandrudima commented on #381
One thing to keep in mind is that I am on Chrome 53, while VSCode is on Chromium 49, so that might have an impact too.

[2016-09-12 12:56] alexandrudima commented on #5537
@rbanffy @vvekic What works for me is to set it to:

`"editor.fontFamily": "'IBM 3270'"`

The reason we don't auto-wrap the font family in quotes on our side is because you can actually specify a list in there (in case symbols are missing). e.g.:

`"editor.fontFamily": "'IBM 3270', Arial"`

![image](https://cloud.githubusercontent.com/assets/5047891/18436523/1afc151a-78f9-11e6-92e6-965fe9aa081c.pn

[2016-09-12 13:01] jromier commented on #10959
Hello,

Please, see the attached file for the extensions I use in VS Code.
For complete information, I'm working with typeScript in an angular2 project.
Other precision: issue comes aonly with HTML and CSS files.
Thanks again

![vscode-extensions](https://cloud.githubusercontent.com/assets/21243495/18436555/4c3299d8-78f9-11e6-89f2-da9cb8fab0db.png)

[2016-09-12 13:06] bpasero opened #11882 "Unable to jump to first element in quick open with Arrow-Down and filtered"
Steps to Reproduce:

1. open quick outline
2. narrow down a bit but still have multiple elements
3. arrow down until you are at the last element
4. arrow down one more

=> you should end up in the first element but you cannot navigate there unless removing the filter condition.

[2016-09-12 13:07] #11882 closed

[2016-09-12 13:10] wallverb commented on #11844
https://github.com/Microsoft/vscode/issues/7658

[2016-09-12 13:16] bpasero commented on #241
Yeah, maybe a better idea to just set our own custom jump list instead of relying on Windows to do it. Even if we update Electron this release, I would wait one release before using new API in case we have to revert.

[2016-09-12 13:23] Treri commented on #8914
#11810

[2016-09-12 13:24] jyavenard commented on #11843
I didn't realise chromium had anything to do with rendering text content in visual studio...

I have a laptop with high dpi, yet the default font is too big, and I find the settings of zooming out twice to be exactly what my aging eyes is able to read while maximising real estate :)

[2016-09-12 13:26] jyavenard commented on #11843
Oh I couldn't find how to adjust the size of all the other elements at once like zooming does.

[2016-09-12 13:33] #11297 closed

[2016-09-12 13:33] gmvs commented on #11650
Hi Ramya-rao-a , thanks for your help. I restarted the application and it started to work. Seems to be powershell needed to be restarted after I installed the extension. Thanks!

[2016-09-12 13:34] rvigia opened #11883 "El host de extensiones finalizó inesperadamente. Recargue la ventana para recuperarlo."
- VSCode Version: Code 1.5.1 (07d663dc1bd848161edf4cd4ce30cce410d3d877, 2016-09-08T21:34:58.760Z)
- OS Version: Linux x64 4.1.27-27-default

Steps to Reproduce:

1.
2.

[2016-09-12 13:34] alexandrudima commented on #11190
@hashhar Great question! On a first look, yes, it should be as easy as that.

However, not all extensions do everything 100% correctly, e.g.:
 * perhaps it registers a command and forgets to `.dispose()` the registration
 * perhaps it registers a language support and forgets to `.dispose()`
 * perhaps it registers a file watcher, a document change listener and forgets to `.dispose()`
 * etc.

I do

[2016-09-12 13:36] alexandrudima commented on #11843
@jyavenard I am also suffering from this lack of customization. Please upvote in #10605 . If there would be a global `fontSize` setting, I don't think we would need to depend on the pixel level zooming Chromium offers.

[2016-09-12 13:37] Urik commented on #5508
That's so great to hear Sandy, I've been lusting over that feature since I started working with VSCode!
I'd love to see these possible features, thanks.

[2016-09-12 13:39] joaomoreno commented on #11300
Fixed with 70d3150278a9b7bf413a7a39389988f1a196d9ec

[2016-09-12 13:39] #11300 closed

[2016-09-12 13:39] alexandrudima commented on #11810
@Treri do you have installed extensions that contribute formatting? On my machine, in an untitled file, the Format action is not available. It has to do with the file being in memory and the language service not being able to pick it up. So I'm thinking the format for untitled files is handled by a 3rd party extension you have installed.

[2016-09-12 13:42] alexandrudima commented on #11579
:+1: Maybe an empty line that turns to "Loading..." after 100ms if no reply is received and then turns to `"no documentation"` if an empty reply is received

[2016-09-12 13:44] alexandrudima commented on #11237
So now I'm in a pickle :) ... I don't have a preference either way and it looks like editors have done it before both ways.

[2016-09-12 13:46] jyavenard commented on #11843
what about a setting to set the column wrap width. So could set it to 2 pixels here so zooming shouldn't have an impact.

I don't see an option to upvote a bug on github.

[2016-09-12 13:47] jyavenard commented on #10605
:+1:

[2016-09-12 13:48] alexandrudima commented on #11843
![image](https://cloud.githubusercontent.com/assets/5047891/18438107/4759fcce-7900-11e6-8528-d4ce76913b51.png)

[2016-09-12 13:50] alexandrudima commented on #11670
@Noob7 From your screenshot it looks like you activated find in selection:

![image](https://cloud.githubusercontent.com/assets/5047891/18438183/8bebbb70-7900-11e6-9681-a5644f6731a0.png)

You can click that button to disable find in selection and start finding in the entire file.

[2016-09-12 13:53] bootstraponline commented on #11237
I think it's weird to only support literals in regex mode when the user does not want to define a regex. Maybe make it an option and keep the existing behavior as the default?

[2016-09-12 14:06] zzskyweb opened #11884 "增加设置class后光标位置自动位于最后方"
- VSCode Version: Code 1.5.1 (07d663dc1bd848161edf4cd4ce30cce410d3d877, 2016-09-08T21:33:49.307Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1.输入<xmp><div></div></xmp>
2.在div中增加class:<xmp><div class=""></xmp>
此时光标自动跳转到<xmp></div></xmp>后面，而不是位于class=“”引号中间

[2016-09-12 14:11] ramamurthynagaraj commented on #11112
@alexandrudima @ivancuric
As of now, cmd+c without any selection, copies the entire line. Sublime also does the same.
Are we suggesting to change this behavior as part of this issue? I really like the current functionality.
Or are we suggesting one more option/flag which user can enable to have the new functionality?

[2016-09-12 14:16] jansensan commented on #9751
May I ask what would be the status for this?

[2016-09-12 14:19] rothskeller commented on #11879
Well, there's two problems with that.  First, I raised that request with the Go extension author. @lukehoban , (see [here](https://github.com/Microsoft/vscode-go/issues/384)), and he indicated that he didn't think it was possible — or advisable — for an extension to override core customization settings in this way.  So if the vscode maintainers think that's the right answer, it would be nice if th

[2016-09-12 14:23] roblourens commented on #11714
I like that toggle setup too. You can always collapse the bottom pane with cmd+j so you don't even need to replace the toggleTerminal binding to hide it.

[2016-09-12 14:26] gpuido opened #11885 "Add File Explorer Setting to hide files .extensions ( not always necessary with icons )"
With a colorful explorer with icons, I'd like to hide the files .extensions for some files in explorer.

![vscode-react](https://cloud.githubusercontent.com/assets/11414503/18437519/aa148b66-78fd-11e6-955a-271ff4a69817.png)

Problem :
In Explorer the file type is shown twice : icon + .ext
Icons are great because they move the file type to the left of the file name.
I wish to simply be able to hide

[2016-09-12 14:27] awaemmanuel opened #11886 "Visual Code Freezes always now since last update"
- VSCode Version: 1.5.1
- OS Version:  Microsoft Windows 10 Enterprise (10.0.14393)

Steps to Reproduce:
1. Open VSCode from a folder with my README.md files
2. Open an .md file
3. Open .md Preview
4. Start typing text
5. App freezes

![image](https://cloud.githubusercontent.com/assets/3170798/18439348/eff9f3c6-78d2-11e6-9a7d-d5404dfe47fe.png)

[2016-09-12 14:29] jromier commented on #10959
OK thanks,
I've downloaded your last insiders release and I try to test it in a few hours.
I'll give you my feedback then.

[2016-09-12 14:32] thinkadd commented on #11884
For those who don't read Chinese, I'm trying to give some translation:
===========Translation of original post===========
Summary: Cursor jumps to line end after adding "class" in tag.

Steps:
1. Type in "<div></div>" (without quotation marks)
2. Add "class" in <div> tag --> <div class=""></div>, then the cursor jumps to the line end, after </div>, instead of staying between the quotation marks.
=

[2016-09-12 14:33] hashhar commented on #11190
@alexandrudima Thanks for the insight. I guess this is the difference between seasoned developers and freshly out of school. :stuck_out_tongue:

It means that there needs to be a policy to ensure all these things don't happen before this work can be done.

[2016-09-12 14:35] hashhar commented on #11237
I agree with what @bootstraponline is saying. Ensuring that the new behaviour doesn't differ much from current behaviour is important from a user's perspective. Not everybody reads release notes.

[2016-09-12 14:42] #11302 closed

[2016-09-12 14:50] japsancha commented on #10795
Hi

In the images file I send an example

![2016-09-12 1](https://cloud.githubusercontent.com/assets/435622/18440207/629d906a-78ef-11e6-85eb-b9bee6150a4a.png)
![2016-09-12](https://cloud.githubusercontent.com/assets/435622/18440209/636bec9e-78ef-11e6-8531-0277f2feb7b2.png)

[2016-09-12 14:52] tinganho commented on #11812
@ionutvmi never thought about that. But that was basically what I wanted.

[2016-09-12 14:52] #11812 closed

[2016-09-12 14:53] Mlocik97 commented on #11884
Duplicate of #11719, #11763 and #11742.

[2016-09-12 14:53] alexandrudima commented on #11112
@ramamurthynagaraj Yes, it would be behind an option

[2016-09-12 14:55] sbromberger opened #11887 "possible regression in 1.5.1 with self-signed certificates?"
- VSCode Version: 1.5.1 (1.5.1)
- OS Version: OS X 10.11.6

Steps to Reproduce:

1. Upgrade to 1.5.1 in an environment with self-signed certificates and a transparent SSL proxy
2. Observe error message `self signed certificate in certificate chain` on startup, and `Marketplace returned 'ECONNREFUSED'. Please check the 'http.proxy' setting` when trying to search for plugins.

No changes were made b

[2016-09-12 15:00] sbromberger commented on #11887
Closing out as this looks like a duplicate of #11777.

[2016-09-12 15:00] #11887 closed

[2016-09-12 15:11] aeschli commented on #2246
Yes, #502 is the same. I'll close #502 as dup.

[2016-09-12 15:11] aeschli commented on #502
duplicate of #2246

[2016-09-12 15:11] #502 closed

[2016-09-12 15:20] bpasero opened #11888 "Unable to open workspace settings if "workbench.settings.openDefaultSettings": false"
Steps to Reproduce:

1. do NOT have a workspace setting file
2. set `"workbench.settings.openDefaultSettings": false`
3. open workspace settings
=> boom, file not found

[2016-09-12 15:20] #11888 closed

[2016-09-12 15:22] aeschli commented on #11776
@MarkSky We are using the Seti Ui theme icons from https://github.com/jesseweed/seti-ui/.
Please make icon requests there.

vscode-icons has also updated to the new icon selection dialog an now work without modifying VSCode!

[2016-09-12 15:22] #11776 closed

[2016-09-12 15:26] fronteed opened #11889 "Allow to show multiple panels at the same time (split pane)"
- VSCode Version: 1.5.1
- OS Version: OS X El Capitan

![2016-09-12-ifk3n](https://cloud.githubusercontent.com/assets/1612675/18441274/17f0863c-7915-11e6-8742-4635fab63e57.png)

While there's a double pane for files, an errors/terminal board can't be divided into two panes right now. This would be very helpful, since terminal and errors are usually needed together - you type some code and see comp

[2016-09-12 15:27] bpasero commented on #11831
@neutraltone so you say the bug is with the single _main.scss inside vendor that is indented too much?

[2016-09-12 15:29] ferarias commented on #11618
For the record, I installed https://git-for-windows.github.io/ also to no avail...

[2016-09-12 15:34] joaomoreno opened #11890 "Bad cursor position after snippet insertion"
With the following snippet:

[code]

Cursor stays here:

![image](https://cloud.githubusercontent.com/assets/22350/18441918/0f9a9c76-790f-11e6-8ed4-0bca3bdac9db.png)

--

My settings are

[code]

[2016-09-12 15:36] joaomoreno commented on #11702
Verification: use [Charles](https://www.charlesproxy.com/documentation/using-charles/ssl-certificates/) to proxy SSL requests to/from `https://marketplace.visualstudio.com/. Set up Code to use Charles as a proxy and set `strictSSL` to `false`.

[2016-09-12 15:39] alexandrudima opened #11891 "While adopting the new const enum CharCode, I noticed this weird thing"
https://github.com/Microsoft/vscode/blob/master/src/vs/platform/search/common/replace.ts#L10

[code]

Notice how they have the same value.

I didn't want to touch those two lines in case something was forgotten there?

P.S. Please use `CharCode`, TypeScript will inline the values and will make it fast & readable.

[2016-09-12 15:54] bgashler1 commented on #11794
@bpasero to reproduce, make sure you already have opened a file that is located near the top of the explorer; then open another file located near the bottom of the Explorer.  Once you close the file you're on in near the bottom of the Explorer, then the previous one near the top is revealed (and hence the scroll behavior).  IMO, I'm not sure we want to have it auto scroll up to the previous file.

[2016-09-12 15:56] waderyan commented on #10715
Hey @jtlivio thanks for your comment, however this isn't a great place. Please see these [guidelines](https://github.com/Microsoft/vscode/blob/master/CONTRIBUTING.md) and open a new issue.

[2016-09-12 16:00] alexandrudima opened #11892 "Indent guides look funny"
https://github.com/Microsoft/vscode/blob/master/src/vs/editor/common/modes/abstractMode.ts#L188

![image](https://cloud.githubusercontent.com/assets/5047891/18442900/d34ee926-7912-11e6-8b76-58df66cc1720.png)

[2016-09-12 16:01] egamma commented on #11565
@gep13 the feature didn't make the cut for the September iteration, sorry.

[2016-09-12 16:13] idavidson12 opened #11893 "Javascript now reads as Plain Text"
Update to v. 1.5.1 leaves auto detect not detecting js files. Other files work fine.

[2016-09-12 16:17] polizz commented on #11878
Thanks, that also fixed it for me.

Prefer the old naming convention personally...

[2016-09-12 16:33] PeterJausovec commented on #11665
My ```keybindings.json``` file was empty (```[]```).

[2016-09-12 16:41] DanTup commented on #11879
Like I said, I completely agree. I think both users and extension authors should be able to set it (the current mechanism is absolutely a hack)!

[2016-09-12 16:42] sandy081 commented on #11891
Looks like a copy paste and over-sight issue. Thanks for pointing this out. Will fix it for September milestone as it is not critical.

[2016-09-12 16:59] ZetaHunter opened #11894 "Integrated Terminal createNew command throws an error on Insiders"
- VSCode Version: 1.6.0-insider [52bceb1](https://github.com/Microsoft/vscode/commit/52bceb1207188ecfe8c5b1fbe841b60df512a08a)
- OS Version: Windows 10 Pro

Steps to Reproduce:

1. Open the terminal (using Ctrl + ` or otherwise.)
2. Kill the terminal.
3. Attempt to open it again, notice that cmd does not start again.

### Notes:

This behavior was noticed originally while trying to re-run a python

[2016-09-12 17:00] ramya-rao-a commented on #11812
@ionutvmi You also have the command to open Preview to the side

![image](https://cloud.githubusercontent.com/assets/16890566/18444840/b66bf968-78cf-11e6-8ce4-40c4c6c665f0.png)

[2016-09-12 17:02] MSLaguana opened #11895 "Deactivating extensions do not always have enough time to clean up"
- VSCode Version: 1.5.1
- OS Version: Windows 10

Steps to Reproduce:
1. Check out https://github.com/MSLaguana/vscode_deactivate_process_issue
2. Run the extension in that project
3. In the command palette, run "Spawn child process"
4. Navigate to `localhost:8080` and verify that a webserver is running
5. In the command palette, run "Kill child process"
6. Navigate to `localhost:8080` and verify

[2016-09-12 17:04] ramya-rao-a commented on #11650
@gmvs No Problem

[2016-09-12 17:04] #11650 closed

[2016-09-12 17:13] DanTup opened #11896 "Debugger runtime shown against an extension seems confusing"
In the latest update there's a contributions tab that shows things that an extension contributes. For Dart Code it shows `node` as the debugger runtime:

![Debugger runtime](https://cloud.githubusercontent.com/assets/1078012/18445096/d948e98e-7913-11e6-80f5-738c42991283.png)

I guess this is because our debug adapter is written in TS (and is therefore invoked via `node`). The adapter then launches

[2016-09-12 17:13] Tyriar commented on #7874
Instructions to fix this were added to https://github.com/Microsoft/vscode/wiki/How-to-Contribute#installing-prerequisites by @bpasero, closing this off.

[2016-09-12 17:13] #7874 closed

[2016-09-12 17:14] ramya-rao-a commented on #11818
@unalone Closing the issue as resolved

[2016-09-12 17:14] #11818 closed

[2016-09-12 17:17] rebornix commented on #11832
@ramya-rao-a I've tested both 1.4.0 and 1.5.1 and they work.

@ViBE-HU can you help check the right bottom of your Code window and there is a status bar indicating the language for current file, is it saying `HTML`? Besides, can you help provide us the list of extensions you installed as I don't see this issue with a clean install. Thanks in advance!

[2016-09-12 17:18] jromier commented on #10959
I have the same behavior with the insider version of VS Code :-(

[2016-09-12 17:20] ramya-rao-a commented on #11834
In that case this would be the duplicate of #11790

Can you share your `keybindings.json` file as described in [11790#issuecomment](https://github.com/Microsoft/vscode/issues/11790#issuecomment-246321827)

[2016-09-12 17:25] waderyan commented on #11772
@dbaeumer thank you for clarifying. My opinion is that the check per workspace makes sense. The message should be "don't check for this workspace" or something to indicate that the check will only be ignored for the workspace.

[2016-09-12 17:32] Tyriar opened #11897 "Provide command to focus most recently used editor group"
In order to create custom keybindings to toggle focus between the editor and something such as the terminal panel, a command to focus the active/most recently used editor group needs to be added. I believe this is the best that can be accomplished currently:

Focuses the first group, meaning if the second or third editor groups were focused this would feel wrong:

[code]

Or this which focused the

[2016-09-12 17:32] Tyriar commented on #11714
Added it to my settings with a small tweak:

[code]

I created #11897 requesting to add a command that focuses the most recently used editor group so it feels better.

[2016-09-12 17:33] frolov-alexey commented on #10978
Yes, this was fixed in latest version (1.5.1). Thanks for hard work!

[2016-09-12 17:35] Tyriar commented on #6602
@emartinpi I was hoping someone from the community would be able to chip in on https://github.com/sourcelair/xterm.js/issues/151, I don't use oh-my-zsh personally and won't have time to look at it any time soon.

[2016-09-12 17:35] octref opened #11898 "Poor recognizability of folder structure with icons"
![image](https://cloud.githubusercontent.com/assets/4033249/18445380/2d25e4cc-78d2-11e6-83a3-a1bc61909a9b.png)

Quick questions:
- Where is `buildfile.js`?
- Where is `buildunit.json`?

I mistook `buildfile.js` as child of `test`, and `buildunit.json` child of workbench.
I believe I'm not the only one.

Atom and Sublime:

![image](https://cloud.githubusercontent.com/assets/4033249/18445504/bed2998

[2016-09-12 17:36] Tyriar commented on #11553
@alexandrudima should the terminal support that ideally as well or is it meant to be just for the editor, not panels/viewlets/etc?

[2016-09-12 17:39] ramya-rao-a commented on #11865
@xuguruogu Can you provide more details?

- Are you using the **vscode-icons** extension or the new File Icon Theme released in 1.5.1?
- Is your issue with the space between the arrow and the folder icon or the alignment?

[2016-09-12 17:44] Tyriar commented on #11735
I don't think I've touched this recently, this is where it's used: https://github.com/Microsoft/vscode/blob/cd2cccfbde37ef218c0e98e4931137edd8e5f336/src/main.js#L125

Maybe an Electron update changed [`app.setPath`](http://electron.atom.io/docs/api/app/#appsetpathname-path)? I think I only ever used it with `~/` not `./` which is expanded out by bash so I wouldn't even have known this was a regres

[2016-09-12 17:45] ramya-rao-a commented on #11893
@idavidson12 Can you share your file associations if any in your settings?

[2016-09-12 17:45] Tyriar commented on #11735
Relative works fine on Linux/bash, maybe it's a Windows-specific problem?

[2016-09-12 17:46] jrieken opened #11899 "UI tricks me into allowing large git repos"
- create a small project with many, many node_modules
- eventually use the UI to initialise a git repo
- see a message about a large git repo, vs code becoming slow etc
- be smart and create `.gitignore`-file that excludes `node_modules`
- go back to git viewlet, 🐛 message still shows (until reload?) which tricks me into making a bad config

[2016-09-12 17:46] octref commented on #11898
Seems we already have it in Minimal

![image](https://cloud.githubusercontent.com/assets/4033249/18446210/32731f4a-78d6-11e6-957e-0418c825ff10.png)

But this still should be fixed for Seti.

[2016-09-12 17:49] bpasero commented on #11794
Try `"explorer.autoReveal": true`

[2016-09-12 17:49] #11794 closed

[2016-09-12 17:50] bpasero commented on #11665
Please report back when this issue comes back 👍

[2016-09-12 17:51] bpasero commented on #10959
@jromier wow, bad. any chance you can attach a video how this looks like and is triggered?

[2016-09-12 17:52] ramya-rao-a commented on #11898
The issue of a folder and file which are siblings appearing as parent-child is tracked in #11762

[2016-09-12 17:53] bpasero commented on #11897
@Tyriar isn't that as easy as providing a global command that just puts focus into the active editor? E.g. IEditorService.getActiveEditor().focus()?

PR welcome if you wanna give it a try.

[2016-09-12 17:56] bpasero commented on #11735
@Tyriar last electron update was like 5 months ago.

[2016-09-12 17:58] #11898 closed

[2016-09-12 18:00] octref commented on #11898
@ramya-rao-a
I upvoted it.
Can this issue still be kept open for the adding indent-guide to file-explorer feature request?

![](https://cloud.githubusercontent.com/assets/4033249/18445839/50319176-78d4-11e6-928d-3519b2cfb6ea.png)

[2016-09-12 18:04] fractos commented on #3560
Just had this occur with latest update, same file (askpass.sh)

[2016-09-12 18:05] jacdavis opened #11900 "Linux Debugging (gdb) - Debug Console should reappear after prelaunch task output"
_From @aaiyer on September 10, 2016 9:46_

My launch.json has a preLaunchTask and the output of this task is shown, if it is successful, this output should be hidden and the Debug Console shown. Right now, the output is shown and you have to go and reopen the Debug Console

_Copied from original issue: Microsoft/vscode-cpptools#220_

[2016-09-12 18:06] Tyriar commented on #11894
/cc @DonJayamanne

[2016-09-12 18:12] mojaveazure opened #11901 "Markdown preview not working"
- VSCode Version: 1.5.1
- OS Version: Ubuntu 16.04 64-bit

Every time I try to use the preview for Markdown in Code on Ubuntu 16.04, I get `command 'markdown.showPreviewToSide' not found` or `command 'markdown.showPreview' not found`

Steps to Reproduce:
1. Open Markdown document
2. Press `ctrl+shift+v` or `ctrl+k, v` to preview formatted markdown

[2016-09-12 18:23] ramya-rao-a commented on #11898
@octref Sure, you can re-open it. Also update the title to reflect the request for indent-guide

[2016-09-12 18:26] octref commented on #11898
@ramya-rao-a
I'll just open a new issue.

[2016-09-12 18:30] jpoon commented on #5280
(this likely belongs in a separate issue, let me know if you want to move it)

What I mean is that registering  `type`, the `alt` and `shift` modifiers are dispatched. However, if you want to bind to the `ctrl` modifier, you need to make a separate entry in the `package.json` like you suggested above. Why does this need to be a separate action? It'd be great if `ctrl+key` also go through the `type

[2016-09-12 18:31] AlgorithmsAreCool commented on #11780
I restarted and I still see "URL:vscode" as the type description for any file extension that vscode was responsible for.

However, upon changing the default program to notepad and then back to vscode. The description changed back to "C# Source File".

This is a pretty harmless issue, and it has a very simple workaround. Should i just close it?

[2016-09-12 18:36] octref opened #11902 "Feature Request: Add Guide lines to indicate folder structure"
Currently, it's hard to figure out where the `code` folder is in the tree structure:

![image](https://cloud.githubusercontent.com/assets/4033249/18447562/0ba25cd6-78dc-11e6-92da-a6023798e117.png)

Would be great if such guide lines should be added (of course not red color):

![image](https://cloud.githubusercontent.com/assets/4033249/18447857/43afaf9c-78dd-11e6-87aa-7a14e8b87ea1.png)

[2016-09-12 18:39] Tyriar commented on #11735
Tested it out on Windows, I get an error and it doesn't launch unless it's an absolute path:

![image](https://cloud.githubusercontent.com/assets/2193314/18447874/50f063a4-78dd-11e6-853c-607964e2fc14.png)

Does not launch (error popup):

[code]

Launches:

[code]

[2016-09-12 18:40] jtlivio commented on #10715
@waderyan, I realize after post, Thanks.

[2016-09-12 18:43] Tyriar commented on #11897
@bpasero yes, I expect it to be pretty easy.

[2016-09-12 18:49] Tyriar commented on #11897
@bpasero got a better name than `workbench.action.focusActiveEditorGroup`?

[2016-09-12 18:50] bpasero commented on #11897
@Tyriar works for me 👍

[2016-09-12 18:51] bpasero commented on #11735
This might also be something that changes if we update to a newer Electron version.

[2016-09-12 18:51] nitinbansal1989 opened #11903 "VS Icons are not displaying"
- VSCode Version: 1.5.2
- OS Version:  Mac OS 10

Just got update for 1.5.2 vs code. After update vs-icons are not displaying.

[2016-09-12 18:55] neilpeterson commented on #11886
I am having the same issue.

OS:

[code]
Visual Studio Code Version - 1.5.2.

I've removed all extensions and reinstall VSCode.

[2016-09-12 19:01] Tyriar commented on #11894
Repro'd myself on Insiders using ctrl+shift+backtick, likely caused by #11700 /cc @octref

[2016-09-12 19:07] theideaofnorth2 commented on #4309
Thank you @alexandrudima for the reply. I had another software that was taking over ```cmd+alt+c``` so after disabling it I am now able to switch the case sensitivity setting.

However, I see that my choice is not persisted after I close and reopen VSC... Would it be possible to enable a setting for this? Also, in my opinion, case sensitivity should be enabled by default :)

[2016-09-12 19:19] psmoot commented on #1862
I'm having the same issue on Ubuntu 16 behind a firewall. Setting NODE_TLS_REJECT_UNAUTHORIZED worked but setting http.proxyStrictSSL did not.

I'm happy to try new builds if that will help resolving the issue, just let me know.

[2016-09-12 19:22] Arnavion opened #11905 "Up/down after selecting text moves text cursor corresponding to end of selection, not its current position"
- VSCode Version: 1.5.2
- OS Version: Windows Server 2012R2

Steps to Reproduce:
1. Type multiple lines of text:

[code]
2. Position text cursor at line 1 column 4, i.e. between `d` and `f`, then hold <kbd>Shift</kbd> and press <kbd>Left arrow</kbd> twice to select `s` and `a`. Now `asd` should be selected and text cursor should be at line 1 column 1.
3. Release <kbd>Shift</kbd> and press <kbd>Dow

[2016-09-12 19:28] gep13 commented on #11565
@gep13 the feature didn't make the cut for the September iteration, sorry.

Thanks for getting back to me!

How close did it get? 😄

Is this feature something that the Core VsCode Team will be looking to implement at "some" point though, or is it something that would be left for a community contribution?

[2016-09-12 19:39] Tyriar commented on #11894
Will be fixed when #11839 is merged.

[2016-09-12 19:43] Arnavion opened #11906 "Markdown: Code blocks lose colorization sometimes"
- VSCode Version: 1.5.2
- OS Version: Windows Server 2012R2

Steps to Reproduce:

1. Create a markdown file with the following contents:

[code]

1. Both `qwer` and `zxcv` should be colorized.

    ![1](https://cloud.githubusercontent.com/assets/1096010/18449965/1ecd4780-78e6-11e6-8b90-acc63d9f11b9.png)

1. Delete the empty line (line 2).

1. `qwer` remains colorized. `zxcv` loses color.

    ![2]

[2016-09-12 19:47] ramya-rao-a commented on #11903
@nitinbansal1989 Are you referring to the icons in the explorer from the **vscode-extension** extension?

[2016-09-12 19:49] octref opened #11907 "Feature Request: Drag item to terminal to paste path"
iTerm:

![drag-to-terminal](https://cloud.githubusercontent.com/assets/4033249/18450268/284e8656-78e7-11e6-8ebd-05f7d1efbe0b.gif)

Would be great if I can
- Drag File Explorer items to Integrated Terminal.
- Drag any file/folder into Integrated Terminal.

[2016-09-12 19:50] Tyriar commented on #11885
/cc @aeschli

[2016-09-12 19:54] jennylu89 commented on #73
yes, please!!!!

[2016-09-12 19:56] waderyan commented on #11791
This issue was moved to Microsoft/TypeScript#10872

[2016-09-12 19:56] #11791 closed

[2016-09-12 19:57] waderyan commented on #11773
This issue was moved to Microsoft/TypeScript#10873

[2016-09-12 19:57] #11773 closed

[2016-09-12 19:59] waderyan commented on #11730
@johnmullany I can't recreate on my own projects with ES6 code nor can I recreate with a simple project. Can you provide a small sample of code reproducing the error?

[2016-09-12 20:01] BobReid opened #11908 "ALT + Arrows does not work in integrated terminal"
Alt and arrow keys insert characters into the terminal buffer instead of navigating to the begging and ends of words in the integrated terminal

Environment:
OS: OS X El Capitan
Version: VSCode 1.5.2

Repro:
1. Open Integrated terminal
2. Type 'cd ~/'
3. Press Alt + Left Arrow

Expected:
Cursor should jump to begin of ~/ so ~ is highlighted

Actual
;5D is inserted into the buffer at cursors curren

[2016-09-12 20:05] sbromberger commented on #11702
Just wanted to say - bravo and many thanks for the quick fix!! 👍

[2016-09-12 20:09] gpuido commented on #11885
Thanks @Tyriar. Great to see this request on the radar. Probably not a feature for every devs out there.
I have been looking for this in vs for a long time but now in vscode and its ways to fine tune icons
it's just a no-brainer to me, especially considering the gain in readability.
...and the joy to get rid of redundancy !

[2016-09-12 20:15] waderyan commented on #11687
@con-ssc can you test your theory by running code from the command line with `--disable-extensions`

![image](https://cloud.githubusercontent.com/assets/2449568/18451237/f351354e-78ea-11e6-903a-fd3394a378c0.png)

[2016-09-12 20:18] cajuntechie opened #11909 "Auto-indent for Python spotty"
- VSCode Version: 1.5.2
- OS Version: Windows 8.1 and Ubuntu Linux 16.04

When writing certain Python code, auto-indent/de-indent fails to properly indent/de-indent lines as expected. For example, if I write:

[code]
The editor fails to automatically indent the "else" statement. it should be able to detect that I am entering an "else" statement and properly handle indentation and de-indentation. T

[2016-09-12 20:21] waderyan commented on #11647
@wallverb thank you.

@weinand can you give me some guidance on this issue? I am seeing the same thing as OP, but I believe I'm not configuring debugging for TypeScript correctly. This is possibly an area we could improve the docs.

1. I have created `test.ts`.
2. I copied and pasted OP's code.

[code]

3. I set a breakpoing per OP's screenshot.
4. I generated a new `launch.json` and compared it w

[2016-09-12 20:22] mrichman commented on #11702
Confirm fixed on Windows 10.

[2016-09-12 20:29] waderyan commented on #11627
@kumarharsh thank you for opening this issue.

@dbaeumer this bug is confirmed. I cannot reproduce this with other languages.

[2016-09-12 20:33] waderyan commented on #10882
@vimarshc apologize for the delay here. This issue fell through my issue tracker.

* Are you still seeing the issue in VSC 1.5?
* Can you share a short code sample that I can copy and paste?
* Do you have a different version of TSC then what came bundled (if you don't know the answer is no)?

[2016-09-12 20:37] chrmarti commented on #11842
The error appears to indicate the process ran out of memory. It looks like the find command doesn't always terminate or is spawned multiple times. Not sure if decoding might play a role here.

@baoziv587 could you run `time (find -L . -type f | wc -c)` in your project folder and paste the output here? That might allow us to assess if it is something with the find command itself.

@bpasero are ther

[2016-09-12 20:40] daviwil commented on #11785
@saifali96 It seems your error is related to using `&&` to chain together commands.  This isn't valid syntax in PowerShell, expressions/commands should be separated on the same line using the semicolon character `;`.  So in your example it'd be:

`cd "d:\BFW\Casey Bot"; cmd /C "set "NODE_ENV=development"; node --debug-brk=18993 --nolazy validated.js"; cd "d:\BFW\Casey Bot"; cmd /C "set "NODE_ENV=d

[2016-09-12 20:46] waderyan commented on #11766
@dbaeumer this is the issue we have discussed over mail. I have recreated the issue using TS 1.6.0-dev.20150825.

Code is as follows.

Person.ts

[code]

test.ts

[code]

When using TS 1.8 and above I can do Go To Definition by right clicking on `p` in `test.ts`.

[2016-09-12 20:46] chrmarti commented on #11182
We reverted to use the existing tree traversal in node.js (#11293). Closing bugs due to the use of 'dir' as duplicates of this one.

[2016-09-12 20:47] chrmarti commented on #11183
Tracking with #11182.

[2016-09-12 20:47] #11183 closed

[2016-09-12 20:48] chrmarti commented on #11179
Tracking with #11182.

[2016-09-12 20:48] #11179 closed

[2016-09-12 20:52] danvk commented on #10570
@alexandrudima I'd like to set all of those options (especially `editor.acceptSuggestionOnEnter: false`), but only when I'm inside a comment. For code, they're all quite useful. Is it possible to set them contextually?

[2016-09-12 20:53] frankorama opened #11910 "my project's config.json file empty"
- VSCode Version:1.5.2
- OS Version: OSX 10.11.6

Steps to Reproduce:

1. Open any project containing a config.json file
2. Click on config.json file to open it

Contents of config.json file is either empty, or VS Code displays the content of the previously viewed file

[2016-09-12 20:54] Bill-Stewart commented on #11881
It already has this - [http://code.visualstudio.com/docs/editor/editingevolved#_multiple-selections](http://code.visualstudio.com/docs/editor/editingevolved#_multiple-selections)

[2016-09-12 20:56] be5invis opened #11911 "Icon overlay support"
Give ability to assign multiple icons to some targets so that we can add overlay to existing icons.

Purposal:

[code]

[2016-09-12 21:01] weinand commented on #11647
This is just a corner case where the usual source map detection stumbles over a "sourceMappingURL"  pattern that happens to look like the one generated by a transpiler (TypeScript) in this case. It is not specific to TypeScript and I'm sure that this pattern will makes other debuggers (e.g. Chrome debug) to fail as well. Since this issue exists since the beginning of time (of the VS Code debugger)

[2016-09-12 21:03] waderyan commented on #11647
Thanks @weinand. Thanks @wallverb for bringing this to our attention, but we are going to count it as a "not going to resolve" corner case for now.

[2016-09-12 21:05] weinand commented on #11785
@daviwil thanks for the example. I will try to detect that PowerShell is used and then create the appropriate code from above.

[2016-09-12 21:07] be5invis commented on #459
This?
https://github.com/be5invis/vscode-custom-css

[2016-09-12 21:08] weinand commented on #11647
@waderyan In your launch config you will have to set "sourceMaps" to true and specify the "outDir" directory where the TypeScript compiler (or your build process in general) generates the JavaScript files.

[2016-09-12 21:15] glen-84 commented on #459
@be5invis It needs to be based on a supported API.

[2016-09-12 21:19] BrandonRice opened #11912 "Tab key indention not working properly on sections that contain "loop" tag"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1.Enter the following code into VSCode editor window

[code]
2. Now highlight everything but the final line containing "loop" and hit TAB or SHIFT+TAB and the lines will indent correctly.
3. Now highlight everything including the "loop" an

[2016-09-12 21:25] Ptival commented on #10643
This would be a great option to have.

I have a similar issue where pressing F8 grabs the focus, and to put it back, I have to then hit Tab.
Essentially I end up always pressing Tab after F8, so I'd rather an option do this automatically. :)

[2016-09-12 21:27] saifali96 commented on #11785
@daviwil that would work but still we are calling `cmd` from within `PS` which doesn't make sense and we can't change the command that's being called when start debugging, do you know how to change change the command that's called?
I'll fork the repo and add that in codebase to allow for `PS` explicitly for debugging and then fire up a PR.

[2016-09-12 21:43] daviwil commented on #11785
Thanks for clarifying!  I understand now, the debugger client is sending the wrong commands to the console when you have selected powershell.exe as your integrated terminal app.  @weinand, let me know if there's any way I can help.

[2016-09-12 21:45] wallverb commented on #11647
Guys - I really appreciate the work you do and VSCode is awesome tool - but bug is a bug regardless of how uncommon it is to occur :)  - for someone working with sourcecode generation/minification - this might not be the corner case. I understand that it might be of lowest priority and team might not find a time to fix it ever -  but I'm pretty surprised that it got closed.

FYI - it does not brea

[2016-09-12 21:47] weinand commented on #11647
@wallverb you are right, this is a bug and should not be closed without a fix.

[2016-09-12 21:58] chrmarti opened #11913 "Review handling of extraFiles with caches"
The fix for #11079 populates the cache with the 'extraFiles' when these might change between two invocations of quickOpen. Should investigate to instead include the extraFiles on top of the cache's results on each search.

The chance of this being a big problem is small because we spawn an update of the cache each time quickOpen opens.

Change (thanks @bpasero!): https://github.com/Microsoft/vscod

[2016-09-12 22:13] robertohuertasm commented on #11865
@xuguruogu this seems like you have the old vscode-icons functionality enabled along with the new File Icon functionality. Try this: F1 > `Icons Disable`. Let me know if it works.

[2016-09-12 22:13] frangiskos commented on #11834
Hi, keybindings.json looked ok.
I have uninstalled code again, deleted %APPDATA%\Code and then reinstalled code.
It works fine now.

[2016-09-12 22:13] #11834 closed

[2016-09-12 22:15] #11647 closed

[2016-09-12 22:38] gregvanl opened #11914 "Consider renaming "extension.update-all" to "workbench.extensions.action.updateAll""
"extensions.update-all" doesn't conform to the current extension action naming convention. We currently use a "workbench.extensions.action." prefix and camelCase rather than hyphen.
This makes it harder to find in the DefaultKeyboardShortcuts non-bound list and keybindings.json IntelliSense.

[2016-09-12 23:01] alexkrolick opened #11915 "Add root for intellisense to workspace settings"
It would be nice to be able to configure Intellisense to assume the workspace root is something other than the current directory, so that absolute (`/...`) or root-less (`...`) requires would load their Intellisense definitions:

Example:

**Require path**
[code]

**Actual path relative to project root**
[code]

[2016-09-12 23:02] rgmembreno commented on #11783
Thanks @joaomoreno that worked!  I also saw a bunch of Code processes were running after startup, so I had to kill them first and then the re-install worked fine!

[2016-09-12 23:32] yanchenw commented on #11250
@egamma @dbaeumer @isidorn

For aspnet core scenario, we'll probably move away from service hub for now and integrate with the new msbuild for custom steps during build/debug. Because dotnet core is moving to msbuild and we need to support round-trip between VS Code and VS, once they finish converting, we get the round trip for free.

For scaffolding in VS Code, we'll extend dotnet cli to do that.

[2016-09-12 23:32] #11250 closed

[2016-09-12 23:54] mrlami commented on #1105
+1 option to hide this would be super...

[2016-09-12 23:54] stempy opened #11916 "VS Code locks after selecting a file in search in files"
- VSCode Version: Code 1.5.1 (07d663dc1bd848161edf4cd4ce30cce410d3d877, 2016-09-08T21:33:49.307Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:

1. Bring up Search in files, search for specific text in file (inside git repository)
2. Click on a file or two, and it appears to freeze, and a short time later a window with "The window is no longer responding" appears.

[2016-09-12 23:55] mderriey commented on #11702
Thanks for fixing this so quickly and getting it out in a matter of days!

[2016-09-12 23:57] xuguruogu commented on #11865
@robertohuertasm Thx, it works.

[2016-09-13 00:03] xuguruogu commented on #11865
The right view comes back when disable icons.

![image](https://cloud.githubusercontent.com/assets/6092236/18457085/7be1ba80-7988-11e6-9ca6-8305a08583b8.png)

[2016-09-13 00:05] stempy commented on #11916
Actually, it looks like this extension was responsible.

https://marketplace.visualstudio.com/items?itemName=Zignd.html-css-class-completion

[2016-09-13 00:05] #11916 closed

[2016-09-13 00:53] kieferrm opened #11917 "September Iteration Plan"
## Endgame Schedule
- *September, 26th* Code freeze for the endgame
- *September, 30th* Endgame done

##### Verification
- [ ] Verification ([wiki](https://github.com/Microsoft/vscode/wiki/Issue-Tracking#verification)): since there are quite some old bugs to verify we verify by age, youngest first. The queries are:
    - [x] [Verification needed](https://github.com/Microsoft/vscode/issues?q=is%3Ai

[2016-09-13 01:04] konnorbeard commented on #11810
I had this same issue. Couldn't format a javascript file within my project with shortcuts or >format code (failed silently). Created a new file on my desktop, copied+pasted the contents of the old file, saved it as a JS file, and then could format it.

Same versions as @jbecwar.

[2016-09-13 01:23] #11894 closed

[2016-09-13 01:25] jyavenard opened #11918 "Visual Studio code shouldn't attempt to update git until it has focus"
- VSCode Version: 1.5.2
- OS Version: OS 10.11.6

This is something that has bugged me with XCode for years, and unfortunately, I'm experiencing the same issue with VS.

Typical use case:
- Have VS opened, could be on the git pane.
- In a terminal, performed git operations such as a rebase.

You can see that VS attempts to update the git view, even though it hasn't got the focus.

This leads to gi

[2016-09-13 01:26] Tyriar opened #11919 "Expose terminal process ID through API"
Part of https://github.com/Microsoft/vscode/issues/11422

[2016-09-13 01:27] Tyriar commented on #11422
Forked exposing PID to #11919 which I hope to get in for September.

[2016-09-13 01:34] helibin opened #11920 "files.associations"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. 1.5.2
2. osx 10.11.5

1、files.associations 匹配.bash_xxx为powershell模式无效，怎么能默认使用powershell模式而不是纯文本

[2016-09-13 01:37] thirdwaffle commented on #11780
Had the same issue with a bunch of file types:
* *.js
* *.json
* .gitattributes

I agree that it's pretty harmless and easy to workaround, but it would be nice to know what caused it.

[2016-09-13 01:37] Treri commented on #11810
@alexandrudima Yes, you are right. I uninstalled all my extensions, and fresh installed Code. Only saved javascript file will have `format code` option.

But the file still can't be formatted. Could you please download my attachment, and reproduce locally?

[2016-09-13 01:43] youngytj commented on #11819
It looks like I got the same problem.

See Images:

![vsc](https://cloud.githubusercontent.com/assets/4630470/18458742/3b474eaa-7996-11e6-87e0-5e7e28d92384.gif)
![qq 20160913094144](https://cloud.githubusercontent.com/assets/4630470/18458755/59fbbf66-7996-11e6-8218-6ae350530625.png)

[2016-09-13 01:50] Campanula commented on #11920
try this in your settings.json

[code]

[2016-09-13 02:09] sumit0190 commented on #11909
I think #2272 addresses the bigger problem that's causing indentation issues across all languages. Solving that should automatically take care of such issues. I could be wrong though.

[2016-09-13 02:24] jyavenard opened #11921 "C++ Syntax Highlighting not handling multi-lines macros properly"
- VSCode Version: 1.5.2
- OS Version: 10.11.6, Linux ubuntu 16.04

Have some C++ with macros defined on multiple lines:

like:

[code]

Note that class MediaDecoder; is showed as entirely blue.

The next line will be okay if you have another forward declaration.

But with more complex code it will look like so:
<img width="811" alt="screen shot 2016-09-13 at 12 22 40 pm" src="https://cloud.githubu

[2016-09-13 02:31] johnmullany commented on #11730
I found someone else having the same issue but they were using brackets so it turned out to be an electron problem. I used npm install --runtime=electron and it solved it for me. Any project where you use ES6 for your webpack.config was causing the issue for me.

[2016-09-13 02:32] djg commented on #11921
I think this is a dupe of issue #11335 which lead to atom/language-c#160 being created.
Removing the \ from INIT_CANONICAL fixes the highlighting.

[2016-09-13 02:35] sbscomp opened #11922 "Feature Request: File->Print"
- VSCode Version: 1.5.2
- OS Version: Windows 10

Steps to Reproduce:
Open the File Menu

Expected Result:
There is an option to print the currently open buffer.

Actual Result:
No option to print.

Why it's important:
Sometimes, you have a need to print some code out - either as a reference, or to aid in debugging, or for other reasons.

It's rather disappointing to not find a "print" option in t

[2016-09-13 02:36] jyavenard commented on #11921
I can reproduce the issue with those 7 lines of code above...

should the issue be lodged against vscode-cpptools ?

[2016-09-13 02:42] baoziv587 commented on #11842
@chrmarti

the output
-----------
 672575727
( find -L . -type f | wc -c; )  3.90s user 21.72s system 108% cpu 23.625 total

[2016-09-13 03:55] anime8992 opened #11923 "Can you add a new feature of formatting code, I can't format my codes,thx"
- VSCode Version: 1.5.2
- OS Version:

Steps to Reproduce:

1.
2.

[2016-09-13 04:06] ramya-rao-a commented on #11819
@youngytj
Are you using single click or double click while selecting the files?
If single click then it is not a problem, it is the Preview mode feature. Read my previous comment https://github.com/Microsoft/vscode/issues/11819#issuecomment-246200339

[2016-09-13 04:08] ramya-rao-a commented on #11865
Closing as resolved

[2016-09-13 04:08] #11865 closed

[2016-09-13 04:21] jzendo opened #11924 "Local history supported"
Add local history supported.

Thx.

[2016-09-13 04:23] garfieldbanks opened #11925 "Incorrect git comments"
When using vscode as an editor for git, using ctrl+/ inserts slash comments instead of hash comments.

[2016-09-13 04:30] yhaskell opened #11926 "Function calls with function arguments tab-complete incorrectly"
- VSCode Version: 1.5.2
- OS Version: OS X (El Capitan) 10.11.6

Steps to Reproduce:

1. Create a new file and save it as (anyname).ts
2. Enter the following code:
[code]
3. Press &lt;TAB>
4. Result would be
[code]
Which is incorrect, since Array.map accepts 2 arguments -- callbackfn and thisArg.

In fact, any funcall with functional argument tab-completes into a call with more arguments then it s

[2016-09-13 04:36] youngytj commented on #11819
@ramya-rao-a
Oh, I understand it now. Thank you for your comment.

[2016-09-13 04:38] garfieldbanks opened #11927 "Integrated terminal starts cutting off first letter"
- VSCode Version:152
- OS Version:10Ann

Steps to Reproduce:
1. Use integrated terminal
2. Use git command
3. Interrupt git command with ctrl+c
4. Try a git command
5. Read message _'it' is not recognized as an internal or external command, operable program or batch file._

[2016-09-13 04:44] mohsen1 opened #11928 "Possible to bring up multiple dialogs on same dirty file when closing"
- VSCode Version: 1.5.2
- OS Version: OS X

Steps to Reproduce:
1.  Open a few files
2. Make a file dirty
3. Open a few more files
4. Hit Cmd+W multiple time very quickly
5. When tabs close one by one and it reaches to the file that was dirty, it prompts you to save that file, choose the cancel option

VSCode will show you the save dialog again and again. Apparently it cached the close command to

[2016-09-13 04:51] bpasero commented on #11842
@chrmarti iconv is only used to decode non-utf8 to utf8 and when utf8 is set it falls back to use the node.js decoder. You think this is an encoding issue?

[2016-09-13 04:56] william54wp opened #11929 "How to deal with error "connect ECONNRESUDED" when I don't have a internet connection"
- VSCode Version: 1.5.1
- OS Version: win7x64

I got an error " connect ECONNREFUSED 127.0.0.1:443" when starting VSCode in a computer without internet connection
i konw it reports error for cann't conect to EXT servers
How can I stop VSCode report this error every time?
Thanks for Help

[2016-09-13 05:00] Tyriar commented on #10917
Reopening to add shellArgs

[2016-09-13 05:23] tsi commented on #101
+1 for:
* Restore unsaved changes to files (not auto-saving, just keep the changes in the editor) on re-launch.
* Restore changes to untitled tabs.
* Optional prompt on exit (I'd default to false).

Thanks!

[2016-09-13 05:54] Cram974 commented on #8689
I think that this is the same as if we had a thing like #347

[2016-09-13 05:54] joaomoreno commented on #11735
Thanks @Tyriar!

[2016-09-13 05:55] joaomoreno commented on #11702
Thanks for the confirmation guys.

[2016-09-13 05:59] joaomoreno commented on #11860
I'm guessing it worked in 1.4? #11702 Fix is already out in 1.5.2.

[2016-09-13 06:03] joaomoreno commented on #11860
Can you check using the `http.proxyAuthorization` setting? We could maybe split that setting into username and password, but for now you'll need to put in there whatever value your proxy would accept as the `Proxy-Authorization` header. [See more](https://httpstatuses.com/407).

[2016-09-13 06:04] joaomoreno commented on #11863
Duplicate of Microsoft/vscode-vsce#118

[2016-09-13 06:04] #11863 closed

[2016-09-13 06:06] joaomoreno commented on #1862
@psmoot #11702 Fix is out in 1.5.2.

@wgknowles Unfortunately we didn't dedicate time to look into the CA list yet.

Closing this as it seems a duplicate of #11702.

[2016-09-13 06:06] #1862 closed

[2016-09-13 06:09] #11780 closed

[2016-09-13 06:09] joaomoreno commented on #11780
Not really sure... but seems like a Windows problem.

[2016-09-13 06:18] pepemarino commented on #5908
I got this error on code 1.5.2 after installing extensions Ruby 0.5.6 and Ruby Language Colorization 0.0.6.  My OS is Ubuntu 16.04.

[2016-09-13 06:20] bpasero opened #11930 "Flaky test: onTitleChanged event is fired by the process on creation (Linux & OSX):"
Seeing this in one build:

[code]

Refs: https://travis-ci.org/Microsoft/vscode/jobs/159423971#L3903

[2016-09-13 06:23] DentCop commented on #11860
What do you enter into http.proxyAuthorization field? Is this a string? Do I need to find out what the response header from the proxy is?

[2016-09-13 06:28] dhruvajoshi8 commented on #11592
@bpasero Below is the source code for error in console log for the 'Open Folder Issue' -

![image](https://cloud.githubusercontent.com/assets/22031266/18463579/c986091a-79a8-11e6-9c84-4ed6cd303020.png)

 Below is the console log for the 'Open File Issue' -
![image](https://cloud.githubusercontent.com/assets/22031266/18463615/0a092c4c-79a9-11e6-8f43-2d9b7d380734.png)

Hopefully these are clear enou

[2016-09-13 06:32] dhruvajoshi8 commented on #11592
I have tried this tool with the same version and same OS version on a different machine. It works!

Could these be because of my Hardware configuration(since i do not have the best config in market)?
I have a Sony Vaio i3 3rd Gen, 2GB RAM.

But i think this config should be enough. Please feel free to share your views.

Thanks!

[2016-09-13 06:55] horodnicdragos opened #11931 "Cannot install extensions"
- VSCode Version: 1.5.2
- OS Version: Windows 10.0.10586 N/A Build 10586

Steps to Reproduce:

1. Fresh install of VS Code
2. Cannot install some extensions

Examples:
"JS Refactoring"
"jshint"

[2016-09-13 06:58] joaomoreno commented on #11860
That actually depends on your proxy. Can you ask your system administrator what authentication methods it supports?

[This user](https://github.com/Microsoft/vscode/issues/6480#issuecomment-240989815), for example, only needed to base64-encode his username and password. Some other cases require NTLM (which we don't support #10461 yet), and more.

[2016-09-13 07:02] horodnicdragos commented on #11931
From CLI I get the following:

C:\Users\dragossh>code --install-extension jshint
TypeError: Cannot read property 'firstPage' of undefined
    at C:\Program Files (x86)\Microsoft VS Code\resources\app\out\vs\code\node\cliProcessMai
n.js:7:22427
    at Object.v [as _notify] (C:\Program Files (x86)\Microsoft VS Code\resources\app\out\vs\
code\node\cli.js:4:29437)
    at Object.J.enter (C:\Program Fil

[2016-09-13 07:10] vlttnv opened #11932 "Intelisesnse loading bug"
- VSCode Version: Version 1.5.2
- OS Version: OSX 10.11.6 (15G31)

Steps to Reproduce:

1. Write in Python
2. Have the default Python extension installed
3. Grow old waiting for iltelisens to load suggestions

![screen shot 2016-09-13 at 10 09 29 am](https://cloud.githubusercontent.com/assets/867160/18464516/348b369a-799a-11e6-8535-dedba4a14705.png)

Sometimes it works and sometimes it doesn't. I

[2016-09-13 07:21] ferarias commented on #11618
i think I give up on VS Code w/GIT. Updated Windows 10, reinstalled VS Code and GIT several times. Nothing works for me. It's frustrating.

[2016-09-13 07:27] mostergaard commented on #11878
Yeah, so do I. That's the name you see in the UI. I found the new name only when editing the file in Code with IntelliSense.

[2016-09-13 07:35] Platzer opened #11933 "Markdown preview no longer shows images with whitespace in path"
- Visual Studio Code - Insiders
- Version 1.6.0-insider
- Commit 52bceb1207188ecfe8c5b1fbe841b60df512a08a
- Date 2016-09-12T06:10:26.275Z
- OS Version:

Steps to Reproduce:

1. Clone test repo https://github.com/Platzer/TestVscode-7898
2. Open Folder `TestVscode-7898` in VScode
3. Open `markdownfile.md` and preview

Issue is maybe related to #7898.

[2016-09-13 07:42] joaomoreno commented on #10994
cc @ramya-rao-a

[2016-09-13 07:42] #10994 closed

[2016-09-13 07:42] egamma commented on #11565
@gep13 it is currently a candidate for October.

[2016-09-13 07:45] egamma commented on #11250
@yanchenw this approach resonates with me. Thanks for the update.

[2016-09-13 07:45] #11891 closed

[2016-09-13 08:03] azynheira opened #11934 "Not consistent C++ code highlighting"
- VSCode Version:
Version 1.5.2
Commit 66f37fd2a99eb9d628dd374d81d78835b410c39b
Date 2016-09-12T13:22:54.636Z
Shell 0.37.6
Renderer 49.0.2623.75
Node 5.10.0
- OS Version:
 4.4.0-38-generic #57~14.04.1-Ubuntu SMP Tue Sep 6 17:20:43 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

Steps to Reproduce:

See the slightly different code highlighting for the 2 identical code blocks:
1.
![screenshot from 2016-09-

[2016-09-13 08:04] joaomoreno commented on #11618
@ferarias Where did you install git from? In which folder is it installed?

[2016-09-13 08:06] bpasero commented on #11930
@Tyriar I commented out the failing test for now. I also noticed many warnings in that file.

[2016-09-13 08:08] ferarias commented on #11618
https://git-scm.com/download/win
C:\Program Files\Git

[2016-09-13 08:08] buehler opened #11935 "Question: Is it possible to "merge" completion provider results"
Hey guys

I was wondering if the following scenario is possible:
When I register my custom `CodeCompletionProvider` (which now works like a charm, thanks to Johannes Rieken), the default provider from VSCode is kinda deactivated.

When I explicitly call the suggestions, it more or less works, but not on all scenarios.

I'd like to merge the results of my provider with the original providers of vsc

[2016-09-13 08:08] bpasero commented on #11592
Adding more people to this (@alexandrudima, @joaomoreno, @jrieken) to get more ideas.

@dhruvajoshi8 did you ever run Code as administrator maybe? I wonder if this could also be related to file permissions.

[2016-09-13 08:08] joaomoreno opened #11936 "Workspace extension recommendations"
We'd like to support workspace extension recommendations.

- [x] Figure out how a workspace can list extension names
  - [x] Create JSON schema for it
- [x] Implement an extension viewlet filter (eg `@recommended:workspace`)
- [x] Figure out how to notify a user that there are workspace extension recommendations

[2016-09-13 08:12] ferarias commented on #11618
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 10.0.14393
- GIT: git version 2.10.0.windows.1

[2016-09-13 08:18] joaomoreno opened #11937 "Extension installation dependencies"
We want to support extensions depending on other extensions and having that transitive closure installed when installing the first one. Eg. `vscode-go` could depend on `vscode-go-syntax`.

This requires `vsce` work:

- [x] Figure out a syntax for `package.json` to indicate extension dependencies: `extensionDependencies`
- [x] Map dependencies to version properties, _queriable_ from the Marketplace

[2016-09-13 08:26] Tyriar commented on #11930
Thanks, I'll look at this tomorrow. Not sure why it let me commit it with the warnings though.

[2016-09-13 08:27] pawel-misiewicz-rtbhouse commented on #11931
Same error here:

- VSCode Version: 1.5.2
- OS Version: openSUSE 42.1 Leap

`
~> code --install-extension java
TypeError: Cannot read property 'firstPage' of undefined
    at /usr/share/code/resources/app/out/vs/code/node/cliProcessMain.js:7:22427
    at Object.v [as _notify] (/usr/share/code/resources/app/out/vs/code/node/cli.js:4:29437)
    at Object.J.enter (/usr/share/code/resources/app/out/vs

[2016-09-13 08:27] joaomoreno commented on #11592
@dhruvajoshi8 If you open Windows's `Event Viewer` do you see any Code specific errors in there?

[2016-09-13 08:31] bpasero commented on #11592
@dhruvajoshi8 can you
* close Code
* open the file `C:\Users\<name>\AppData\Roaming\Code\User\settings.json` with another editor
* add `"telemetry.enableCrashReporter": false`
* save
* open a command line
* set ELECTRON_ENABLE_STACK_DUMPING=true
* run code from the command line `code --verbose`
* send us the output you see when it crashes

[2016-09-13 08:31] kai23 opened #11938 "Intellisense doesn't work on JavaScript file until I change language mode"
- VSCode Version: 1.5.2
- OS Version: 10.11.6

Steps to Reproduce:

1. Create folder `Hello`
2. In `Hello`, create file `app.js`
3. `code .` or open this folder in VSCode
4. In app.js, type : `console.` - No Intellisense
5. Change the language mode to "JavaScript React"
6. Type `console.` - Intellisense is present

Gif to show what happen :

![ezgif-340640585](https://cloud.githubusercontent.com/a

[2016-09-13 08:32] #11897 closed

[2016-09-13 08:32] tonimora74 opened #11939 "No open several integrate onsole"
- VSCode Version: Code - Insiders 1.6.0-insider (52bceb1207188ecfe8c5b1fbe841b60df512a08a, 2016-09-12T06:10:26.275Z)
- OS Version: Windows_NT ia32 6.1.7601

Steps to Reproduce:

1. open VSC
2. open integrate console
3. click in the icon "+"

and no open more integrate console

[2016-09-13 08:36] XVincentX opened #11940 "Show CHANGELOG.md if present in an extension"
Do you think would it be a good idea to display CHANGELOG.md in the extension marketplace, if this file is present in the extension package?

--

- [x] Display changes from an installed extension
- [x] Display changes from a Marketplace extension
 - [x] Create a new Changelog asset type: Microsoft/vscode-vsce#126

[2016-09-13 08:37] joaomoreno commented on #11618
Can you try starting code with `code --verbose` and see whether you get any output there?

[2016-09-13 08:37] aeschli commented on #11877
API wise, I'd suggest the following non breaking changes: Whats new are the `| MarkedString[]` additions.
[code]

The following additions are optional, but IMO nice for consistency. For the hover constructor I'd suggest to break the behaviour and release-note that, or and add a new one like shown below.

[code]

For DecorationOptions, we can leave it as is or I suggest to do the following change w

[2016-09-13 08:45] JamieKenyonFoundry opened #11941 "Right click, Copy Full Path on file open in editor"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. Open a file in the editor
2. Right click on the tab.
3. No option for Copy Full Path (like in regular Visual Studio).

[2016-09-13 08:46] #11941 closed

[2016-09-13 08:47] ZeroCrunch opened #11942 "Enable extensions to contribute actions to the editor tab context menu"
- VSCode Version: 1.5.2
- OS Version: 14393.105

Steps to Reproduce:
1. Open a file in the editor
2. Right click on the tab.
3. No option for Copy Full Path (like in regular Visual Studio).

[2016-09-13 08:50] ferarias commented on #11618
[code]

[2016-09-13 08:51] neutraltone commented on #11831
@bpasero yep, and also the `*.scss` files within the `js` and `components` directory as well. if you look at the following screenshot:

![image](https://cloud.githubusercontent.com/assets/1080928/18467307/62ca5bf6-7997-11e6-8de2-b1121f6671be.png)

One would assume that the `scripts.min.js` and `scripts.js.maps` files are in the vendor directory. Same goes for the `index.html` and other files, at f

[2016-09-13 08:57] mrmlnc commented on #11592
My 2 cents.

Recently, while working on a project for the terminals (Windows) we caught the bug with Electron and NW.js, which kills the process of rendering  (even with [Electron API Demos app](https://github.com/electron/electron-api-demos)). This was due to problems with Hardware configuration.

Try any application built on the Electron to exclude a problem with Electron. For example, Atom.

[2016-09-13 08:57] #11802 closed

[2016-09-13 08:58] alexisgahon commented on #5605
@MartinHaeusler is right. You should focus and working on this feature as in Eclipse. It would definitely one of your killing feature to stand against Atom / Sublime.

[2016-09-13 09:00] bpasero commented on #11831
@neutraltone can you use developer tools (from help menu) and inspect the element that is pushed so far to see what CSS rule is pushing it?

[2016-09-13 09:01] bpasero commented on #11592
@mrmlnc well but he can still use VS Code as long as no file is opened...

[2016-09-13 09:01] martinpeck opened #11943 "Make Updating Extensions Easier"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:05:12.065Z)
- OS Version: Darwin x64 15.6.0

At present, whenever I get an update to an extension I have to click "update" for each one, and then "enable" for each. Each time I enable an extension I'm prompted to restart VS Code.

In general, I just want to update and re-enable all of the extensions that have upd

[2016-09-13 09:04] joaomoreno commented on #11618
Leaving that running, if you open a git folder, you see no output in that window?

[2016-09-13 09:13] alexandrudima commented on #11810
@waderyan @dbaeumer  are TS/JS experts that can explain / understand how formatting works / doesn't work in JS

[2016-09-13 09:16] alexandrudima commented on #4309
@theideaofnorth2 Let's track that in #11574

[2016-09-13 09:18] roblourens opened #11944 "Have to press enter twice after typing out full completion"
If I have a variable, say `set`, and type `set` in the debug console, then the completions popup is visible with `set` and any other completions. Then the user has to press enter twice - once to close the completions popup, and again to eval `set`.

![image](https://cloud.githubusercontent.com/assets/323878/18468282/8a05fa5c-79a3-11e6-8654-89b8aad2555a.png)

I think that if the user has typed the

[2016-09-13 09:32] neutraltone commented on #11831
@bpasero It appears to be `padding-left: 22px;` on `.explorer-item.file-icon` in `wordbench.main.css:4`. Turning this rule off aligns the icons perfectly.

![image](https://cloud.githubusercontent.com/assets/1080928/18468641/b77cdcbe-799c-11e6-8389-c3a2cad474eb.png)

[2016-09-13 09:41] alexandrudima commented on #5280
@jpoon This has a very simple reason. It is driven by our platform (web browser). Pressing a key combination can end up generating the following DOM events:
* `keydown`
* `keypress`
* `input`
* `compositionstart`
* `compositionupdate`
* `compositionend`
* `keyup`
* maybe more, every couple of years, a few new ones pop up, or new properties are added to them.

It all depends on the keyboard layout

[2016-09-13 09:43] bpasero commented on #11831
@neutraltone and for the same icon below that looks nicely aligned? I would assume the padding is always there for all icons...

[2016-09-13 09:45] alexandrudima commented on #11553
@Tyriar we could generalize and add a `mouse.wheelScrollSensitivity`. I can honor it in the editor because I use the custom scrollbars where scroll events are interpreted (it is not the browser scrolling).

[2016-09-13 09:48] neutraltone commented on #11831
@bpasero The icons which appear nicely aligned are actually children of the parent directory. In the case of `main.scss` from the original screenshot, that is actually the child of the `scss` directory. So the alignment is still broken causing it to look like a child of the `vendor` directory. Is that the one you meant?

[2016-09-13 09:49] whitecolor commented on #11398
It is there more info needed? Did you check this. I just wonder if everybody experience the same poor highlighting or I have some strange specifics in may code/settings?

[2016-09-13 09:59] ptraceur opened #11945 "Tab click automatically changes tree view"
- VSCode Version: 1.5.2
- OS Version: OS X

Hi, this is a function present in vscode since the top tabs are available, but for me it is an issue because I don't want it to act like that. I'm sure that there exists some developers who think the same, I'm not asking to remove this, but is there a way to enable and disable this option? If not, would be great to have one.

Thanks,
have a nice day.

[2016-09-13 10:01] bpasero commented on #11831
@neutraltone I mean this one (cannot explain):

![image](https://cloud.githubusercontent.com/assets/900690/18469784/bd6cd4c8-79a9-11e6-9328-539dfcfd7426.png)

[2016-09-13 10:06] neutraltone commented on #11831
Ahh yes, `main.scss` actually resides in the `scss` directory as per this screenshot:

![image](https://cloud.githubusercontent.com/assets/1080928/18469894/d9a9c3d8-79a1-11e6-9fe0-dfdbd35bdb31.png)

It actually has the same rules as above and again is the `padding-left: 22px` which is causing the issue. See screenshots:

![image](https://cloud.githubusercontent.com/assets/1080928/18469918/f7f1ece4

[2016-09-13 10:08] tomaash opened #11946 "Using ' or " in JSX crashes code formatting"
- VSCode Version: 1.5.2
- OS Version: OS X 10.11.6

Steps to Reproduce:

1. Create a JSX or TSX file
2. Try to format code, it will work
3. Add `<h1>Let's go</h1>` to JSX block
4. Try to format code
5. Nothing will happen, and from now on, code formatting does not work anywhere until restart of vscode

[2016-09-13 10:17] bpasero commented on #11831
@neutraltone are you using the vscode-icons extension? Maybe that one conflicts with our built in icons support.

[2016-09-13 10:19] bpasero commented on #11114
@chrmarti ping

[2016-09-13 10:21] neutraltone commented on #11831
@bpasero Ahh this might be causing the issue. I did have it installed but removed it around the same time as the current update.

I've just checked my `~/.vscode/extensions` directory and it's appearing there. Could it have placed any files elsewhere which could be causing a conflict?

[2016-09-13 10:23] bpasero commented on #11584
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-09-13 10:23] #11584 closed

[2016-09-13 10:25] #11740 closed

[2016-09-13 10:28] bpasero commented on #11819
Configurable, please update your settings.

[2016-09-13 10:28] #11819 closed

[2016-09-13 10:29] aeschli commented on #11668
Do you have lots of color decorators? I just made a fix to limit the number of decorators. You can test it from tomorrow in the latest https://code.visualstudio.com/insiders buil

[2016-09-13 10:29] aeschli commented on #11862
I set the color decorator limit to 500 (no limit before, that was clearly a bug).
If you see this bug, can you check out task manager and see which process is running wild?
I'd need the command line parameters of that process (add the 'command line' column in the task manager).

[2016-09-13 10:30] bpasero commented on #11822
This is now: `workbench.action.focusPanel`

[2016-09-13 10:30] #11822 closed

[2016-09-13 10:31] #11852 closed

[2016-09-13 10:32] bpasero commented on #11854
@isidorn not sure if this should be reported to C# extension repository.

[2016-09-13 10:36] bpasero commented on #11872
@jtribley depends on the extension, so I suggest you report it to the C# extension.

[2016-09-13 10:36] #11872 closed

[2016-09-13 10:36] roblourens opened #11947 "Allow debug adapter to list dynamic scripts in the file explorer"
It would be interesting if a debug adapter could send a list of files that can't be resolved to source files on disk - either because they are not associated with a file on disk (eval scripts) or can't be, because of sourcemap or other config issues, etc. This would allow the user to browse and set breakpoints in these scripts, which current you can only do if you use a `debugger` statement or man

[2016-09-13 10:38] #11881 closed

[2016-09-13 10:38] bpasero commented on #11883
@rvigia can you share more details in english please?

[2016-09-13 10:39] #11884 closed

[2016-09-13 10:41] bpasero commented on #11909
This should be reported to the Python repository first.

[2016-09-13 10:41] #11909 closed

[2016-09-13 10:41] bpasero commented on #11912
Emmet?

[2016-09-13 10:43] bpasero commented on #11921
Yes it should.

[2016-09-13 10:43] #11921 closed

[2016-09-13 10:43] bpasero commented on #11923
This depends on the language you are using and should be reported to the extension repository of that language.

[2016-09-13 10:43] #11923 closed

[2016-09-13 10:44] bpasero commented on #11924
@jzendo can you be more specific?

[2016-09-13 10:45] bpasero commented on #11932
Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market place, click on the **Support** link to find out more.

<im

[2016-09-13 10:45] #11932 closed

[2016-09-13 10:47] bpasero commented on #11934
Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market place, click on the **Support** link to find out more.

<im

[2016-09-13 10:47] #11934 closed

[2016-09-13 10:57] fiznool commented on #55
I'm seeing the same problem, and as others have reported, this drastically slows down development time, and so I'm regrettably switching back to ST3 until this is fixed. This is a real shame because I'm really liking the other features of vscode - particularly the node debugger.

Is there any way to see where the fuzzy matcher is taking the most time? In ST there is a console you can open which ou

[2016-09-13 10:59] sandy081 commented on #5508
Implemented following support:

Search input in Search view
Find input in Find widget

- <kbd>alt</kbd>+<kbd>up</kbd> : Shows the previous term in history
- <kbd>alt</kbd>+<kbd>down</kbd> : Shows the next term in history

Customize key board short cuts
- `search.history.showPrevious` : <kbd>alt</kbd>+<kbd>up</kbd>
- `search.history.showNext` : <kbd>alt</kbd>+<kbd>down</kbd>
- `find.history.showPre

[2016-09-13 10:59] #5508 closed

[2016-09-13 11:04] pmkary commented on #11852
@octref thanks a lot. Just a question @octref @bpasero why javascript and css are not supported in the `<webview>`? There is a force CSS of VSCode that I can't override and also dynamic sizes won't work ( `vm / vh`... ). Why is that so? I can make an iframe inside  of the web view but then communication with out world is a problem...

[2016-09-13 11:05] aeschli commented on #11806
The language id for c# is `csharp`.
We have currently no list of all used language ids. We are also only in control of the ones we have a built-in extension.

@raztd Which icon theme?

[2016-09-13 11:10] #6915 closed

[2016-09-13 11:12] jrieken commented on #11935
The default is merging and it's actually hard to disable that. I'd interested in learning more about your provider and how it overrides?

[2016-09-13 11:13] mrmlnc commented on #11806
@aeschli, we have a similar problem with Emmet in `emmet.syntaxProfiles`.  Please, see https://github.com/Microsoft/vscode/issues/11329#issuecomment-245029574. I think you need to discuss this problem with @egamma, because end users do not know the Language id's and how to get them.

[2016-09-13 11:13] azynheira commented on #11934
You are correct, it is Microsoft C/C++ extension from Microsoft. I will open an issue there.

Thanks,
Pedro

[2016-09-13 11:15] ydcoming opened #11948 "TS compiler to compile only changed files"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. TS compiler to compile only changed files
2. for eg 100 files  only one changed

[2016-09-13 11:15] stefanpatatu commented on #3443
I can confirm the bug still exists as of v1.4.0. The bug mostly manifests after I save a file (work on file, CTRL+S, webpack rebuilds, check browser, see everything is broken, realize I have a typo or something, ALT+TAB, then CTRL+Z no longer works). It also manifests randomly sometimes, but especially after CTRL+S-ing.

[2016-09-13 11:18] stefanpatatu commented on #10563
I can confirm some version of this bug still exists as of v1.4.0. The bug mostly manifests after I save a file (work on file, CTRL+S, webpack rebuilds (dev-server usually, node v6.5.0), check browser, see everything is broken, realize I have a typo or something, ALT+TAB, then CTRL+Z no longer works). It also manifests randomly (not after file save) sometimes, but especially after CTRL+S-ing.

[2016-09-13 11:26] Ciantic opened #11949 "TypeScript file indexer is not exposed to extension developers"
In order to implement auto-import by symbol name in TypeScript one needs to have a file indexer available, or some way to get the filenames and paths of the given symbol.

There is a great extension for TypeScript by @buehler called [TypeScript Hero](https://github.com/buehler/typescript-hero/) but it needs to re-implement file indexer just to get auto-import working reliably, obviously this is ha

[2016-09-13 11:28] buehler commented on #11935
Of course :-) I'd be happy to help.
Have a look at it here: https://github.com/buehler/typescript-hero/blob/feature/code-completion-provider/src/provider/ResolveCompletionItemProvider.ts

Registering it here: https://github.com/buehler/typescript-hero/blob/feature/code-completion-provider/src/extensions/ResolveExtension.ts#L97

And if I use this provider I don't see any other providers results in

[2016-09-13 11:45] benmosher opened #11950 "Support text editing keybindings customization for quick open input"
- VSCode Version: 1.5.2
- OS Version: maxOS 10.11.6

Steps to Reproduce:
1. define a key binding, such as

[code]
1. open command palette
2. type some text
3. attempt to use defined key binding on text entered into command palette

Looking at the docs, I can't find a `when` clause that would cause keybindings to apply there. I mostly want `ctrl+n`\+ `ctrl+p` for up/down + `ctrl+w` for delete-word.

[2016-09-13 12:05] bpasero commented on #3443
@stefanpatatu what about Code 1.5 where we landed a fix?

[2016-09-13 12:06] bpasero commented on #11852
@jrieken can chime in for webview specific questions

[2016-09-13 12:07] bpasero commented on #11831
@neutraltone can you uninstall and reinstall VS Code to see if you had vscode-icons leftover?

[2016-09-13 12:10] bpasero commented on #11945
`"explorer.autoReveal": false`

[2016-09-13 12:10] #11945 closed

[2016-09-13 12:12] pmkary commented on #11852
@bpasero thanks a lot!

[2016-09-13 12:17] ptraceur commented on #11945
Thanks @bpasero, its good now. I went trough the Default Settings file, but since I'm not and english native speaker I didn't understand it was that flag.

Thanks again.

[2016-09-13 12:25] lukaseder opened #11951 "Bad syntax highlighting when using template strings in TypeScript"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:

The following code

[code]

... breaks syntax highlighting for TypeScript:

![image](https://cloud.githubusercontent.com/assets/734593/18473540/d704742c-79bd-11e6-86ac-a978791e2576.png)

The problem appears as soon as the function call to

[2016-09-13 12:33] gep13 commented on #11565
Perfect! Let us know if you want an extension to try out the new extensibility points in VsCode. Would be happy to help out.

[2016-09-13 12:57] ddotlic opened #11952 "Small but annoying regression - credentials dialog opens every few minutes on OS X"
- VSCode Version: 1.6.0-insider 2016-09-13T11:07:19
- OS Version: OSX 10.11.6

Steps to Reproduce:

1. Open Visual Studio Code - Insiders
2. Suffer through incessant bugging 😢  of the dialog below (every few minutes)

<img width="416" alt="credential-helper" src="https://cloud.githubusercontent.com/assets/1737586/18474423/33b2b9c8-79c2-11e6-9111-b7885530e17c.png">

[2016-09-13 13:02] bpasero commented on #11928
Good catch 👍

[2016-09-13 13:05] neutraltone commented on #11831
@bpasero I have removed the app from the applications folder and downloaded a fresh copy. I also removed my `~/.vscode` folder but the problem still persists. Could some common files as live elsewhere?

[2016-09-13 13:06] #11925 closed

[2016-09-13 13:07] bpasero commented on #11920
Please comment in english and reopen when the suggestion by Campanula does not work.

[2016-09-13 13:07] #11920 closed

[2016-09-13 13:07] bpasero commented on #11910
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-09-13 13:08] joaomoreno commented on #11750
Closing due to lack of details. @SFLAQiu please check @mousetraps's suggestion.

[2016-09-13 13:08] #11750 closed

[2016-09-13 13:09] joaomoreno commented on #11797
#10718 #3520

[2016-09-13 13:09] #11797 closed

[2016-09-13 13:10] bpasero commented on #11886
Assuming this is related to markdown and webviews assigning to @jrieken and @kieferrm.

[2016-09-13 13:12] bpasero opened #11953 "'KeyboardEvent.keyIdentifier' is deprecated and will be removed in M54"
Running with Chrome 52 I see this in the console. 'KeyboardEvent.keyIdentifier' is deprecated and will be removed in M54, around September 2016. See https://www.chromestatus.com/features/5316065118650368 for more details.

Seems to be used in `nativeKeymap.ts`

[2016-09-13 13:13] bpasero commented on #11878
You should not need to associate any *.js to JavaScript as this is the default. Remove that association and you should be good. Closing.

Also I cannot reproduce with this setting:
[code]

[2016-09-13 13:13] #11878 closed

[2016-09-13 13:14] bpasero commented on #11873
@jtlivio what happens if you try to run?

[2016-09-13 13:14] mrmlnc commented on #11912
@BrandonRice,

What language is used in your example? EJS?

[2016-09-13 13:15] bpasero commented on #11867
Looks like https://github.com/Microsoft/vscode/issues/929

[2016-09-13 13:15] #11867 closed

[2016-09-13 13:16] joaomoreno commented on #11880
For Linux, 5.10 is recommended, as mentioned in the docs. It's also what we use in [our builds](https://github.com/Microsoft/vscode/blob/master/.travis.yml).

[2016-09-13 13:16] #11880 closed

[2016-09-13 13:16] xucaen opened #11954 "intellisense in comments"
- VSCode Version: 1.5.2
- OS Version: windows 7 professional sp1

Steps to Reproduce:

1.  create a .js or .php file
2.  type in a comment

Intellisense should be disabled while typing in a comment.

[2016-09-13 13:16] bpasero commented on #11866
@netrounds-joakim if I have the same file open in 2 windows I do not see the files show the same content until I save. Are you saying you expect to see both files turn dirty while you type or after you save?

[2016-09-13 13:16] syj2010syj opened #11955 "Match whole word dosn't work in Chinese"
https://github.com/Microsoft/vscode/blob/master/CONTRIBUTING.md- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1.Ctrl+F
2.Match whole word(Alt+W dosn't work?)
3.Search

![qq 20160913205638](https://cloud.githubusercontent.com/assets/5213431/18475003/5a3fca56-79f7-11e6-9cb6-d41f2f57d9fc.

[2016-09-13 13:17] bpasero commented on #11814
Assuming this is the right fix, closing.

[2016-09-13 13:17] #11814 closed

[2016-09-13 13:17] joaomoreno commented on #11896
Yeah, I see the problem. Let's remove the `Runtime` column then.

[2016-09-13 13:18] bpasero commented on #11746
I am closing this due to insufficient information of the issue.

[2016-09-13 13:18] #11746 closed

[2016-09-13 13:18] bpasero commented on #11831
@neutraltone is that workspace possible to share with me? So that I can try to reproduce?

[2016-09-13 13:19] Huachao commented on #9794
thanks @bpasero, I tested it in insider build, and the issue is fixed.

[2016-09-13 13:19] neutraltone commented on #11831
@bpasero Actually, I was wrong, things do appear to have changed as the folder icons have now disappeared. Only thing is the alignment still doesn't seem to quite right. `main.scss` still looks like it is part for the un-expanded vendor folder:

![image](https://cloud.githubusercontent.com/assets/1080928/18474981/939d95a2-79bc-11e6-891f-10fe9c14c024.png)

This is why I was getting confused. The pr

[2016-09-13 13:19] joaomoreno commented on #11918
For some time now, Code doesn't update the git view [if it's not in focus](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/git/browser/gitServices.ts#L621).

Are you sure you still see this in 1.5.2? My Code stays put, until I focus it.

[2016-09-13 13:20] bpasero commented on #11831
@neutraltone yes, closing as duplicate of https://github.com/Microsoft/vscode/issues/11762

Please do NOT install vscode-icons extension in the future, thanks.

[2016-09-13 13:20] #11831 closed

[2016-09-13 13:21] #11929 closed

[2016-09-13 13:23] syj2010syj opened #11956 "Modify shortcuts of multiple-line edit"
Current is "Alt + Shift + left mouse button"
Expect "Alt + left mouse button"

[2016-09-13 13:23] joaomoreno commented on #11931
@horodnicdragos If you are behind a proxy, make sure you [configure it](https://code.visualstudio.com/docs/setup/setup-overview#_proxy-server-support).

[2016-09-13 13:24] joaomoreno commented on #11940
It's a cool idea.

[2016-09-13 13:26] joaomoreno commented on #11943
This is already fixed and released.

![image](https://cloud.githubusercontent.com/assets/22350/18475328/512a331a-79c6-11e6-828e-b4c7ee0ff23f.png)

![image](https://cloud.githubusercontent.com/assets/22350/18475330/552c9e30-79c6-11e6-9af0-9ea01997ec4f.png)

There's even a setting that lets Code update them automatically:

![Uploading image.png…]()

[2016-09-13 13:26] #11943 closed

[2016-09-13 13:26] mrmlnc commented on #11940
(If possible) And releases section on GitHub? 🐱

[2016-09-13 13:28] XVincentX commented on #11940
Also - it does not really matter - I'm filling both but probably not everybody is on github.

[2016-09-13 13:31] Ghost---Shadow opened #11957 "Formatting code no longer works"
- VSCode Version: Code 1.5.1 (07d663dc1bd848161edf4cd4ce30cce410d3d877, 2016-09-08T21:33:49.307Z)
- OS Version: Windows_NT ia32 6.1.7601

Formatting code no longer works

[2016-09-13 13:32] mrmlnc commented on #11957
Please, provide more details. For example, what language are you using?

[2016-09-13 13:32] joaomoreno commented on #11861
Something is wrong with your VM or VM host.

Works for me when running vagrant through Parallels.

![image](https://cloud.githubusercontent.com/assets/22350/18475597/4f7a2fce-79c7-11e6-8d78-e36c1dbe061c.png)

[2016-09-13 13:32] #11861 closed

[2016-09-13 13:33] Ghost---Shadow commented on #11957
C#

[2016-09-13 13:33] xucaen opened #11958 "Format nested arrays"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 6.1.7601

In php (and I would assume javascript as well), I am defining an array which has a nested array.

Steps to Reproduce:

1.  Enter this code:

$temp = array(
'label1' => 'this is a test'
,'label2' => array(
'inner1' => 'test1'
,'inner2' => 'test2'
,'inner3' => 'te

[2016-09-13 13:35] xucaen opened #11959 "Formatting code inserts carriage returns"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 6.1.7601

Steps to Reproduce:

1. Press Shift+Alt+F several times
2. Marvel at all the new blank lines that have been entered.

[2016-09-13 13:39] alexandrudima commented on #11869
@con-ssc I cannot reproduce when trying 110 selections for example and doing ctrl-space and accepting a suggestion.

What language are you trying in and perhaps it has something to do with the actual completions? i.e. Can you help me out with a reproducible example.

![selections](https://cloud.githubusercontent.com/assets/5047891/18475813/2bf09182-79c8-11e6-9532-ec895c095b19.gif)

[2016-09-13 13:41] NeilAllen commented on #11938
Same here...

[2016-09-13 13:44] netrounds-joakim commented on #11866
@bpasero Hello, I don't know what you mean by "turn dirty".

To be clear I will communicate in pictures :)

I open a file `myfile.txt` and type something in it.
![2016-09-13 15_25_49- myfile txt - visual studio code](https://cloud.githubusercontent.com/assets/5442827/18475377/7b659b56-79c6-11e6-8ad7-3f2383d50e2b.png)

I split the editor **in the same window** and the same file is opened in a secon

[2016-09-13 13:46] mostergaard commented on #11878
I think my problem was different casing of "javascript" - I had previously written "JavaScript", which had seemed to work with previous versions. So this might have been a breaking change with this new version.

[2016-09-13 13:47] eyalsk commented on #11770
@alexandrudima Well, I'll speak for myself, I refer to the capability that allows people to write from right-to-left as opposed to left-to-right.

Translation isn't needed, I don't use the Hebrew translation at all in any program that I use so personally it's less useful for me but maybe some people would want that too.

[2016-09-13 13:49] ionutvmi commented on #11959
Can you please provide more details and maybe some sample code.
I'm not able to reproduce this in a javascript file for example.

[2016-09-13 13:53] BrandonRice commented on #11912
Here is a video preview.  For example purposes the code is standard html5. Issue seems to be the way "loop" is being handled.

![2016-09-13_08-51-24](https://cloud.githubusercontent.com/assets/6462859/18476376/6a5de188-798f-11e6-98d6-e7ab9d732213.gif)

[2016-09-13 13:59] polizz commented on #11878
In my case, I associate JSX files to Javascript React, otherwise interpolated strings are not color coded deeply enough for my tastes.

[2016-09-13 14:00] ramya-rao-a commented on #11946
Duplicate of #11698

[2016-09-13 14:02] mrmlnc commented on #11912
I think it's not Emmet.

<details>
<summary>I cannot reproduce this behavior.</summary>
![2016-09-13_16-59-47](https://cloud.githubusercontent.com/assets/7034281/18476648/8d04cea6-79d3-11e6-93d1-e0e2f7e3d465.gif)
</details>

You can provide your VS Code settings and extension list?

[2016-09-13 14:04] chrmarti commented on #11114
I added onOpen to the handlers and added logic that makes sure that is called exactly once and alternates with onClose. I'll review that to make sure it's not unnecessarily complex.

[2016-09-13 14:05] BrandonRice commented on #11912
@mrmlnc - is there a preferred way for me to show you the data you request?

[2016-09-13 14:05] tonimora74 commented on #11939
ok resolve. You can close this ticket.

thanks

[2016-09-13 14:06] aeschli commented on #11806
I created https://github.com/Microsoft/vscode-docs/issues/572 for a table of language Ids.

Closing as the original issue is likely the wrong language id for csharp.

[2016-09-13 14:07] af4jm commented on #2582
The simple fact that VSCode aborts opening a file because it doesn't recognize its format is a VSCode bug. This thread isn't requesting a feature missing from VSCode, it's describing a bug in VSCode. Only work-around I've found is to keep Notepad in my Send To menu, and the whole idea of VSCode is to offer a better alternative to Notepad, something it's thus far falling short of.

[2016-09-13 14:09] mrmlnc commented on #11912
@BrandonRice, I think you can give them here, just using:

[code]

[2016-09-13 14:09] spraguey commented on #10890
@bpasero Sorry, Benjamin, but I have to bail out of this for now. I tried the steps above, and I end up with
"The app provided is not a valid Electron app, please read the docs on how to write one:
https://github.com/electron/electron/tree/v0.37.6/docs

Error: Cannot find module '/Users/msprague/Applications/vscodedev/vscode'"

I'm in the middle of a major project right now, and have devoted a lot

[2016-09-13 14:12] robertohuertasm commented on #11806
@aeschli, this is not an issue with csharp id. My example may be misleading. Let's say I don't associate my .js file with C# but with php. I will continue to see the JS icon. Is this the expected behavior? Or should I see the default icon? I understood that the later would be the default but it's not working like that.

[2016-09-13 14:16] jrieken commented on #11852
There should be full support for JavaScript and CSS - that's the reason we put things into a web view. Tho you cannot access the extension API because you run in a separate process. For styling we define a few variables (color, background, font) and by default set that but it's overridable.

[2016-09-13 14:16] aeschli commented on #11762
@bpasero To find out if there are folder icons defined, use
`this.container.getElementsByClassName('explorer-item folder-icon');` should do the trick

[2016-09-13 14:20] jrieken commented on #11886
Can you guys check which process is running high? Please check top/htop/process_explorer and include the *full* command line string that was used the launch the bad processes. Thanks

[2016-09-13 14:21] jrieken commented on #11926
@bpasero Please do not assign JS or TS issues to me

[2016-09-13 14:22] roblourens opened #11960 "Make a pass over all places where we show paths and use white-space: pre"
![sep-13-2016 16-18-32](https://cloud.githubusercontent.com/assets/323878/18477413/e5ead458-79cd-11e6-9979-0dac2203d965.gif)
This is a totally dumb case but I encountered it while testing something in Node with spaces in paths and it feels worth fixing to me.

If you edit leading or trailing whitespace in the file explorer, the change isn't saved. If you add some outside of vscode, it won't be dis

[2016-09-13 14:23] jrieken commented on #11824
@use-strict What does your keybindings read like (both sides)? Note that usually `.` is bound to accept a selection if auto-acceptable. TypeScript suggestions are, textual aren't. Also what in what language do you see this?

[2016-09-13 14:23] wallverb opened #11961 "Adjust cursor position on new line or don't emit empty spaces"
- VSCode Version: Code - Insiders 1.6.0-insider (67a46126c83aac8c715d4c318fcfd18a183658bf, 2016-09-13T11:09:28.863Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:

TypeScript code
[code]

1. Put cursor on line `2:0`
2. Hit enter

Initial:
![image](https://cloud.githubusercontent.com/assets/1723815/18477365/717dd642-799b-11e6-847b-0c1ca9a39288.png)

User presses Enter:

![image](https://clou

[2016-09-13 14:24] BrandonRice commented on #11912
keybindings are set to default.  I haven't set any user defined keybindings.

User defined settings are below:

// Place your settings in this file to overwrite default and user settings.
[code]

Default Settings are below:

[code]

There are no user defined workspace settings.

Default Workspace Settings are below:

[code]

Extensions below:

![image](https://cloud.githubusercontent.com/assets/64

[2016-09-13 14:24] vavans opened #11962 "getPathLabel(): Cannot read property '1' of null"
- VSCode Version: 1.5.2
- OS Version: windows 8

Steps to Reproduce:

1. Install a fresh vs code from https://code.visualstudio.com/Docs/?dv=win, with no extension installed
2. Follow the extension tutorial until the first F5: https://code.visualstudio.com/docs/extensions/example-hello-world
3. The new vscode instance is launching with the extension but we get an error :

`/C:/Program Files (x86)/

[2016-09-13 14:31] miparnisari commented on #8135
I can reproduce this as well using VS Code 1.5.2 on Windows 10. After 15 seconds I get the "The window is no longer responding" popup.

[2016-09-13 14:31] pitAlex opened #11963 "Code Helper high CPU usage on MacBook Pro 15"
- VSCode Version: 1.5.2
- OS Version:  OSX El Capitan 10.11.6

I've notice there are several closed posts related to this issue, but it started to act up again. Before 1.5.2 I was using 1.3 since 1.4 had a problem with syntax highlighting and from time to time I used to get high cpu from "electron helper" even tough I have git disabled and only 3 extensions : "Project Manager", "Run on Save" and "

[2016-09-13 14:33] chrmarti commented on #11874
@YuJianrong Could you run `time (find -L . -type f | wc -l); echo $?` in your project folder and paste the output here?

[2016-09-13 14:37] weakish commented on #11841
@Jakobud
Can you please explain more?
A selection of inserted text is added? Or the original selection is replaced?

On my machine, after inserted (multiline, i.e. with `\n`) text,
`textEditor.selections.length` does not change.
So the original selection is replaced? But ... (see below)

How to go to a position inside `HELLO WORLD`?
I tried create a `new Selection` of current line (`textEditor.sel

[2016-09-13 14:37] jtlivio commented on #11873
Hi @bpasero . If you hit "code ." nothing happens, if you try to open directly from the Icon, a status bar message is fired "starting visuual studio...." for a few seconds, VSCode don't open and the status disappear.

![vsc](https://cloud.githubusercontent.com/assets/2190606/18478111/fec75880-79c7-11e6-87b4-b37aad7b31a5.png)

[2016-09-13 14:38] chrmarti commented on #55
@fiznool That's unexpected at this point, could you open a bug report with the output from `time (find -L . -type f | wc -l); echo $?` when run in your project folder?

[2016-09-13 14:39] xucaen commented on #11959
I am very sorry. It turns out the issue is being caused by an extension by Martin Kase. So, I guess VSCode doesn't format php code by default then? Is there a way to just have it follow the same rules as Javascript for .php extensions?

[2016-09-13 14:43] mrmlnc commented on #11912
@BrandonRice, This occurs due to `HTML Snippets` extension.

@bpasero, it's not Emmet. It seems to me, it's related to cursor position bug.

[2016-09-13 14:43] samspade commented on #11862
Hi Aeschli,

I downloaded insiders and everything is working fine for me. I haven't had any hangs at all.

[2016-09-13 14:46] BrandonRice commented on #11912
@mrmlnc - So at this point, should I post the issue to the developer of the extension?

[2016-09-13 14:48] chrmarti commented on #11842
Not encoding related then. That string is simply too long.

@baoziv587 Could you also run `time (find -L . -type f | wc -l); echo $?`? That will tell us how many files your project folder has and what exit code the find command has. This is to better understand why the output of find is so large.

[2016-09-13 14:50] mrmlnc commented on #11912
@BrandonRice, Unfortunately, this related to the editor. You can temporarily remove this extension or disable `"editor.tabCompletion": true`.

[2016-09-13 14:53] dbaeumer commented on #10563
@stefanpatatu can you please open a new issue with steps to reproduce it. Best would be a git repository we could clone from. The better the steps are the most likely it is that we can reproduce and fix.

[2016-09-13 14:53] dbaeumer commented on #11915
That is available in TS 2.0

[2016-09-13 14:54] BrandonRice commented on #11912
@mrmlnc - For now, I'll just disable the `"editor.tabCompletion": true`.  Thanks for looking into this issue.

[2016-09-13 14:54] frankorama commented on #11910
When I closed and re-openned  VSCode, the issue went away (should have tried that first, sorry)

[2016-09-13 14:55] #11910 closed

[2016-09-13 14:58] jefffriesen commented on #5456
I don't know if this is a question or feature request. To get the node version when we use nvm I use in the terminal:
[code]
The output I can paste in `runtimeExecutable` property of launch.json. I want to do something like this in launch.json:
[code]
So it picks up which version of node I'm using. But that doesn't work when trying to debug.

Can I make this work? Also, wouldn't that be a sane def

[2016-09-13 15:02] baoziv587 commented on #11842
@chrmarti ,my project total 2,164 files.

# the output
----
 3285397
( find -L . -type f | wc -l; )  2.43s user 19.93s system 103% cpu 21.554 total
0

[2016-09-13 15:04] fiznool commented on #55
@chrmarti this initially takes a very long time, but this is because I have (amongst other things) a `node_modules` folder with tens of thousands of files. Am I right in thinking that the Quick Find should not search in folders which are excluded from the `settings.json` configuration?

[2016-09-13 15:04] dbaeumer commented on #11876
This issue was moved to Microsoft/vscode-languageserver-node#95

[2016-09-13 15:04] #11876 closed

[2016-09-13 15:06] dbaeumer commented on #11810
@waderyan can you please investigate

[2016-09-13 15:09] joaomoreno commented on #11937
@seanmcbreen @waderyan

As discussed with @egamma, we're going with an approach in which 100% of this work in on our side. An extension can list other extensions it wants to be installed in the user's machine, when installing itself. As a consequence, this _connection_ won't surface in the Marketplace, only at extension installation time, within VS Code itself.

Any other approach would require co

[2016-09-13 15:09] dbaeumer commented on #11627
@alexandrudima this is a multi cursor behavior. Please move back if you think otherwise.

[2016-09-13 15:11] dbaeumer commented on #11772
Discussed with @egamma and we decided to not do something for 1.5.x. For 1.6 we will get settings API and can do much better anyways.

[2016-09-13 15:12] martinpeck commented on #11943
Fantastic. I hadn't spotted the menu for extensions.
Thanks for the quick response.

[2016-09-13 15:12] dbaeumer commented on #11847
@sandy081 no we would need to add it.

[2016-09-13 15:16] ramya-rao-a commented on #11957
Formatting for C# is supported via extensions. What extensions do you have installed?
Also is this a regression? Was this working for you before and stopped with the latest update?
Do you see the `Format Code` option in the context menu when you right click in your code?

[2016-09-13 15:17] 06needhamt commented on #2582
@af4jm Do you know where this check is in the source so i can take a look?

[2016-09-13 15:20] ramya-rao-a commented on #11954
Duplicate of #11704

@xucaen Please go through the discussions in #11704 and other issues mentioned there to get to know the latest on this issue

[2016-09-13 15:20] #11954 closed

[2016-09-13 15:21] SonnySwolf opened #11964 "无法打开终端"
- VSCode Version: 1.4.0
- OS Version: win10

Steps to Reproduce:
无法打开终端，输出Ctrl ~，  提示 ”通过退出代码 1 终止的终端进程“
1. 输出   Ctrl + ~
2. 出现错误信息    ”通过退出代码 1 终止的终端进程“

[2016-09-13 15:25] waderyan commented on #11810
@dbaeumer yes will do.

[2016-09-13 15:29] baoziv587 commented on #11842
@chrmarti  Perhaps because of these floders. If  skip these folders ,there are alright

@shaoshuai0102 you also install node_modules with cnpm?

![image](https://cloud.githubusercontent.com/assets/7347513/18479482/c86a50f4-7a07-11e6-9285-26c302571ca7.png)

[2016-09-13 15:29] bpasero commented on #9794
Awesome 👍

[2016-09-13 15:30] bpasero commented on #11866
Ok got it thanks 👍

[2016-09-13 15:30] ramya-rao-a commented on #11746
@txiaocao Also if you want to associate a file for react you should use "javascriptreact" not "react"
[code]

[2016-09-13 15:30] waderyan commented on #11730
@johnmullany thank you for your response.

@bpasero before I close this can you advise on this issue. OP problem was common between VS Code and Brackets, but not Atom. OP solved his issue by npm install --runtime=electron. Do you know why he would need to do that? I haven't seen this issue before, but if it happens for others I want to be able to give them guidance.

[2016-09-13 15:33] chrmarti commented on #11037
We backed out the use of 'dir' to quickly get at the list of files. So we're back to the old performance and behavior.

[2016-09-13 15:35] bpasero commented on #11926
@jrieken this should be documented in the inbox tracking page if there is a rule. I asked @dbaeumer and he told me that @waderyan should get them, so I updated the wiki.

[2016-09-13 15:35] Ghost---Shadow commented on #11957
I just updated to 1.5.2 it got fixed again.

The only C# related extension I have installed is
C# for Visual Studio Code (powered by OmniSharp)

Anyways, thanks for the quick response.

[2016-09-13 15:36] bpasero commented on #11873
@jtlivio can you run from the command line "`code --verbose`" to see if there is any output printed?

[2016-09-13 15:37] bpasero commented on #11910
Ok let me know when this happens again, but we need some reproducible steps...

[2016-09-13 15:38] bpasero commented on #11730
The runtime option is only needed if you compile native NPM modules to run from within Code that executes in Electron. I do not think this would be needed for any development in VS Code, but cannot say for sure...

[2016-09-13 15:39] bpasero commented on #10890
@spraguey thanks for your time, I am sure someone else can chime in.

[2016-09-13 15:41] waderyan commented on #11938
@kai23 thank you for opening this issue. I have observed similar behavior and think it could be related to [Microsofty/TypeScript #10735 ](https://github.com/Microsoft/TypeScript/issues/10735).

I cannot reproduce right now

![intellisense_simple](https://cloud.githubusercontent.com/assets/2449568/18480430/8155ba34-798d-11e6-9202-54bc93900b0d.gif)

Can you help me track this down?

Add this to you

[2016-09-13 15:41] bpasero commented on #11114
@chrmarti but isn't onOpen called from the widget when the handler is opened? If we need a new event for when a handler is instantiated we should introduce a new thing imho.

[2016-09-13 15:42] jtlivio commented on #11873
@bpasero sorry for image, I don't have Copy/Paste between host and guest yet.

![vscerr](https://cloud.githubusercontent.com/assets/2190606/18480570/0ef82e2e-79d1-11e6-9096-bf5725536610.png)

[2016-09-13 15:43] bpasero commented on #11762
@aeschli let me know when you pushed the new CSS class for me to pick up.

[2016-09-13 15:47] bpasero commented on #11873
Hm, the Xlib output is suspicious, are you sure everything is installed to open that window?

[2016-09-13 15:48] jinhw1989 opened #11965 "Run python in terminal with path having spaces"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:

1. create a folder with spaces in its name, and create a simple python file
2. ctrl+shift+p to run the file in VSCode, it will pop up an error which related to the path of the folder. which should have quotes on that path.

[code]

[2016-09-13 15:48] waderyan commented on #11926
@yhaskell thanks for opening this. Good find! I believe this is a TypeScript Service issue so moving to them.

[2016-09-13 15:48] waderyan commented on #11926
It looks like we are folding the paramaters of the call back up to the map method.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/map

![image](https://cloud.githubusercontent.com/assets/2449568/18480811/e7ac7cea-798e-11e6-8ad8-d9262f3002ca.png)

[2016-09-13 15:49] waderyan commented on #11926
This issue was moved to Microsoft/TypeScript#10896

[2016-09-13 15:49] #11926 closed

[2016-09-13 15:49] ramya-rao-a commented on #11950
The up/down in command pallete is tracked in #7876

[2016-09-13 15:52] 1RedOne commented on #4865
Beta bits plz!  It's my favorite feature of and the only thing keeping me tethered to Sublime Text.

[2016-09-13 15:52] ferpaz commented on #205
+1

[2016-09-13 15:53] waderyan commented on #11946
@tomaash thank you for opening this issue.

Copied to https://github.com/Microsoft/TypeScript/issues/10817#issuecomment-246728771

[2016-09-13 15:53] #11946 closed

[2016-09-13 16:06] benmosher commented on #11950
#7876 does fix some of the specific issue I mentioned, but wouldn't it be simpler to have edit-related keybindings behave the same way in the command palette as the editor panes?

I believe this is true for Sublime. Seems like a more general fix for all future "this works in Sublime/OSX/etc." keybinding issues. I have no idea how substantial of a code/product change that would be, though.

That is

[2016-09-13 16:06] jtlivio commented on #11873
I was able to resolve from issue #3451 (vscode)

[2016-09-13 16:06] #4719 closed

[2016-09-13 16:07] Jakobud commented on #11841
I didn't investigate this too much farther. It appeared that when you insert text into a TextDocument that the inserted text becomes selected. I didn't look at `textEditor.selections`. To go to a position inside your selected text I'm not sure.

[2016-09-13 16:18] sandy081 commented on #11853
This is a good feature to have but I think this would change the existing behavior while replacing `matchCase` is disabled. Its true that when you do not select `matchCase` you do not care case while searching, but it won't be expected if you do not replace the word with what is provided. I would rather wait to see if we get more feedback for this request before we implement. Also, we have to cons

[2016-09-13 16:20] sandy081 commented on #11013
Closing this since there is no feedback on this issue. Please reopen it with required information

[2016-09-13 16:20] #11013 closed

[2016-09-13 16:23] helzgate commented on #11853
@sandy081 Yeah, i realize this request is a bit of a long-shot, lol.  Oh well, thx anyway!

[2016-09-13 16:25] soljohnston777 opened #11966 "A few suggestions to make this the best code editor ever!"
A few suggestions that will make this the best code editor out there.  I mainly use it for PHP.

I would love to have a line go vertically from opening and closing elements like in notepad++.
Example. <div></div>  { }

It would be nice if you made CTRL-D to duplicate lines like in notepad++.   Then your Code editor would be all I hope for.

Also one last thing,  When you have a lot of tabs open ma

[2016-09-13 16:27] charlesmilette commented on #4865
Soon™

[2016-09-13 16:28] soljohnston777 commented on #11966
Also, if you could keep the code colors the same even if it is inside an echo "(code)"; or print "(code)"; quotation.

[2016-09-13 16:28] weinand commented on #5456
@jefffriesen variable substitution for ${...} in launch.json attributes does not use a shell. So the shell syntax `'which node'` does not work at all. VS Code sees it as a variable with name `'which node'`.

But I do not see a reason why you want to use `"runtimeExecutable": "${'which node'}"` at all.

`which node` just returns the node that is available through your PATH. If you do not specify "r

[2016-09-13 16:29] alexandrudima opened #11967 "Cannot move lines when find widget is open"
Windows, `alt+up` and `alt+down` no longer move lines if find widget is open

[2016-09-13 16:34] use-strict commented on #11824
My keybindings are:
[code]

The link in my previous comment shows the exact line where I get this behavior.

I'm not sure what you mean by this. Even if it weren't a string literal, accepting a suggestion by typing dot would be problematic (unless maybe there is a single suggestion). Still it would be a weird behavior.

[2016-09-13 16:47] vavans commented on #11962
I manage to hack the workbench.main.js to continue working on my addon while waiting for a fix.
For those who encounter the same issue, here is how to hack this:

- open ...\Microsoft VS Code (Insiders)\resources\app\out\vs\workbench\workbench.main.js
- replace
[code]
by
[code]
- save and restart all instances of vscode

[2016-09-13 16:48] aeschli commented on #11806
Ah , now I see, you change the editor association to C#.

@bpasero What's the expected behaviour here?

[2016-09-13 16:55] nitinbansal1989 commented on #11903
yes

[2016-09-13 16:58] aeschli commented on #11862
The change I made today will be in tomorrows insider build. If all works with the current, even better.

[2016-09-13 17:00] vavans commented on #11962
It has to do with the layout of the Host instance of vscode (where the plugin in development is tested).
With the hack, i managed to launch the host.
I closed all the documents and side editors, then i closed all vscode instances, **removed the hack from workbench**, then relaunch a Host instance with my plugin in: tada! no error.
So i think the default Host layout (opened folder, and open documen

[2016-09-13 17:03] aeschli commented on #10795
The screenshot shows an unsaved, untitled file.
Where did you save it? Is it in the workspace folder?

[2016-09-13 17:04] aeschli commented on #10795
Assigning to @bpasero. It's the workbench who reopens the file with the save state (which contains the folding regions)

[2016-09-13 17:07] ramya-rao-a commented on #11903
@nitinbansal1989 If icons from the ** vscode-icons** are not appearing, please log an issue in the repo for that extension.

You can also try the new File Icon Themes feature that has been released in the latest VS Code version.
![image](https://cloud.githubusercontent.com/assets/16890566/18483641/caff2f06-7999-11e6-9277-48e6be726828.png)

[2016-09-13 17:12] bpasero commented on #11950
Keybindings are currently not hooked up to the quick open widget.

[2016-09-13 17:13] bpasero commented on #11873
Ok, lets close as duplicate then.

[2016-09-13 17:13] #11873 closed

[2016-09-13 17:15] bpasero commented on #11806
@robertohuertasm can you explain in words that I understand what you did and what you expect? preferably in a way that I can apply those steps to my test environment.

[2016-09-13 17:15] aeschli commented on #11762
Think more about it I the css stylesheet rule does not help us.
- To find out if that css rule is defined, you need to iterate though all stylesheets and find it, or assign it to a DOM element and probe.
- you would have to have some kind of event listener that knows when a theme has changed

It's basically adds a coupling from the explorer to the theme service that we didn't had so far.
If we go

[2016-09-13 17:16] bpasero commented on #10795
PR welcome 👍

[2016-09-13 17:17] bpasero commented on #11903
Please do NOT install the vscode-icons extension, we strongly advise against it. You can use our official icon themes that got available starting with 1.5.

[2016-09-13 17:17] #11903 closed

[2016-09-13 17:18] waderyan opened #11968 "Debug tasks"
**Feature Request**

As described in this[ SO question](http://stackoverflow.com/questions/38871062/visual-studio-code-tasks-debugging), start a task in debug mode and allow the debugger to connect to a running task.

Specific scenario this would help with - Task to run unit tests then debug an errant unit test.

[2016-09-13 17:19] bpasero commented on #11762
@aeschli yes you are right, needs more thinking. maybe you should just use a dummy folder icon that is transparent if a theme does not define one so that we get the same nice padding as all other icons?

[2016-09-13 17:22] #11939 closed

[2016-09-13 17:22] dave5 commented on #2582
Look in: vscode/src/vs/base/browser/ui/resourceviewer/resourceViewer.ts

[2016-09-13 17:23] waderyan commented on #11968
ping @chrisdias

[2016-09-13 17:23] Tyriar commented on #11907
`gnome-terminal` adds single quotes around files dragged in.

[2016-09-13 17:25] roblourens opened #11969 "Terminal - Cannot read property 'className' of undefined"
I've seen this a couple times now, and when it shows up, I can't open the terminal until I restart Code. I can't get devtools to load sourcemaps, though. It looks like the undefined element is `this.wrapperElement` in `setVisible`.

[code]

[2016-09-13 17:25] Tyriar commented on #4719
Thanks @sandy081, I've been waiting for this :smile:

[2016-09-13 17:27] mbifulco commented on #11968
This would be helpful as a task, or as a configuration in `launch.json` - In my case, I've got a node app which I've configured to run a [jest](https://github.com/facebook/jest) test suite with `npm test` or `npm t`.

[2016-09-13 17:28] Luchillo commented on #4039
Is there a `Selection Beautify` or some alike option?

[2016-09-13 17:29] pmkary commented on #11852
@jrieken oh thanks a lot! I think I'm finding my way around. Thanks a lot.

[2016-09-13 17:29] roblourens commented on #11969
Actually, I see it every time I open code-insiders now

[2016-09-13 17:32] waderyan commented on #11968
@mbifulco here is an idea. Could you do this with [Attach to Process](https://code.visualstudio.com/updates/June_2016#_nodejs-debugging)?

[2016-09-13 17:33] waderyan commented on #11968
For reference here is the configuration for debugging tasks - although this is for mocha not jest. Should be similar to setup.

https://raw.githubusercontent.com/Microsoft/vscode-samples/master/node-express-javascript/.vscode/launch.json

@mbifulco can you try that route as well? This feature might be something supported already.

[2016-09-13 17:37] robertohuertasm commented on #11806
1. I was testing the LanguageId associations so I associated certain icon "JS" to the JavaScript language.
2. This worked as expected and I got the "JS" icon.
3. Now I change the language of the file (which was previously associated to JavaScript) and I associate it to C#.
4. I'm expecting to see the "default blank icon" or the C# icon (in case the author has defined one) but I still see the "JS"

[2016-09-13 17:37] octref opened #11970 "Reorder Tab should show indicator as to where the tab goes"
- VSCode Version: 1.5.2
- OS Version: OS X 10.11.6

![reorder-tab](https://cloud.githubusercontent.com/assets/4033249/18484601/fd6cd002-799d-11e6-9ec5-8530171d0c5e.gif)

Atom:

![reorder-tab-atom](https://cloud.githubusercontent.com/assets/4033249/18484602/fd80e84e-799d-11e6-8061-80d41d5e7bfb.gif)

[2016-09-13 17:38] jrieken commented on #11824
In the *default* keybinding configuration you will find this

[code]

which means insert selected suggestion *and* insert `.` when `.` is pressed, the file is TypeScript and when the suggestion is auto-acceptable. This is useful for instance when completing and triggering member completion at once (type `cons`, press `.` such that it completes to `console.` and triggers suggest against, hit `tab`

[2016-09-13 17:40] Tyriar opened #11971 "Integrated terminal panel can become unresponsive briefly when closing the last instance"
- VSCode Version: Code - Insiders 1.6.0-insider (67a46126c83aac8c715d4c318fcfd18a183658bf, 2016-09-13T10:57:05.343Z)
- OS Version: Linux x64 4.4.0-36-generic, Ubuntu 16.04

Regressed in #11824

Steps to Reproduce:

1. Open 1-2 terminals
2. Close them, notice the panel hangs around for a few seconds and cannot be interacted with

[2016-09-13 17:44] Tyriar opened #11972 "Kill terminal command should focus new active terminal if one exists"
- VSCode Version: Code - Insiders 1.6.0-insider (67a46126c83aac8c715d4c318fcfd18a183658bf, 2016-09-13T10:57:05.343Z)
- OS Version: Linux x64 4.4.0-36-generic, Ubuntu 16.04

Regressed in #11824
Steps to Reproduce:

1. Create 2 terminals
2. Close one, the first opened terminal should be focused

[2016-09-13 17:45] mbifulco commented on #11968
@waderyan I'll see if I can figure out the configuration for this.  It does seem a little strange that I'd have to do that rather than tell VSCode to attach to `npm test` - it feels strange to be digging into the guts of the test framework.

[2016-09-13 17:47] waderyan commented on #11968
Can you try  [Attach to Process](https://code.visualstudio.com/updates/June_2016#_nodejs-debugging)? That is how I would do it.

[2016-09-13 17:48] dunedin commented on #206
+1

[2016-09-13 17:49] robertohuertasm commented on #11806
5. I've just check it out and even the C# icon would exists (implying that we have a LanguageId association between C# lang and a C# icon) if I change the language association of a "JS" file to C#, it will continue showing the "JS" icon.

6. By my last test, it seems that it's working as expected if I change the `file association` in the settings and reload the window. It's not working if I change

[2016-09-13 17:50] eamodio commented on #11762
While I completely agree that the indenting can be confusing (and should be addressed), please don't add folder icons -- I love that Seti doesn't have them. Makes it much easier to scan for "important" things.

[2016-09-13 17:51] mbifulco commented on #11968
I don't quite understand - how do I pick a process to attach to? npm isn't running consistently in the background for the picker to find, right?

[2016-09-13 17:53] #11972 closed

[2016-09-13 17:57] Tyriar commented on #11714
@roblourens @ivarref `workbench.action.focusActiveEditorGroup` is a thing now (#11904), so you can use this to reliably focus the most recently used file/editor:

[code]

[2016-09-13 17:59] bpasero commented on #11806
@robertohuertasm so the issue is basically that you expect the icons to update when you change the language of the file from the status bar?

[2016-09-13 17:59] sushruth commented on #3518
Is there anything that is blocking this, or is it not a desired feature ?

[2016-09-13 18:00] coe-jeubanks opened #11973 "Keyboard shortcut editor.action.selectHighlights selects only first 999 matches"
- VSCode Version: 1.5.2
- OS Version: Windows 10

Steps to Reproduce:
1. Create a file with more than 999 examples of a text string (e.g. 2,000 lines containing "This is a line").
2. Highlight a word or phrase, and to highlight all matches, press ctrl+shift+l (or whatever editor.action.selectHighlights has been mapped to).

Only the first 999 matches will be selected. This is a problem when workin

[2016-09-13 18:00] robertohuertasm commented on #11806
@bpasero yes, that's it.

[2016-09-13 18:04] bpasero commented on #11806
Not implemented atm.

[2016-09-13 18:05] XVincentX commented on #11940
@joaomoreno I was wondering whether you would be willing to accept an user contribution here. It does not seem a big task to do and it would help me getting started into vscode codebase. What do you think?

[2016-09-13 18:07] bpasero opened #11974 "Use new configuration write API for: file associations, auto save"
* [x] file association
* [x] auto save

[2016-09-13 18:10] yahiko00 opened #11975 "[Proposal] Keyboard shortcut to duplicate a line"
This would be quite convenient if we could duplicate a line with a single shortcut, since it is quite a  common practice when coding to reuse a previous line. This quite simple proposal may help to bring some productivity.

## Overview of the workflow

When the cursor is on a line, the current line, we could imagine to be able to duplicate the current line by pressing a shortcut. In _Notepad++_ it

[2016-09-13 18:15] YuJianrong commented on #11874
1587724

real	0m20.528s
user	0m1.375s
sys	0m16.036s
0

Some information may be helpful:
I'm working on a project which many node modules are installed, and ```**/node_modules``` files are excluded so the installed node modules should not be picked or searched.
The file pick up feature works pretty fast before I upgrade to the new version.

[2016-09-13 18:19] alexkrolick commented on #11915
Adding `"baseUrl": "app/assets/javascripts/"` to jsconfig.json seems to work on the Insiders build at least.

[2016-09-13 18:33] jrieken commented on #11935
Yeah, that's because of the [long](https://github.com/buehler/typescript-hero/blob/feature/code-completion-provider/src/extensions/ResolveExtension.ts#L97) list of auto trigger characters. When a auto trigger character is seen we only ask those providers - usually that is just a few special characters like `.`. If there a special reason you use the whole alphabet? As long as the `quickSuggest` set

[2016-09-13 18:44] DustinCampbell opened #11976 "DiagnosticCollection does not scale well and blocks UI thread"
- VSCode Version: 1.5.2
- OS Version: Tested Windows 10 and macOS 10.11

Repro steps:
1. Clone https://github.com/DustinCampbell/diagnostic-perf-test
2. Open the diagnostic-perf-test project in VS Code
3. F5 to compile and launch the extension under the debugger
4. In the debuggee process, select `View->Problems` to display the Problems pane.
5. In the debuggee process, select `View->Command Palet

[2016-09-13 18:46] joaomoreno commented on #206
I will lock this conversation. Please upvote by adding a 👍  **reaction** to the first post.

[2016-09-13 18:54] joaomoreno commented on #11940
@XVincentX Let's do it. It will need a bit of work on my side since this feature should also work for extensions that haven't been installed; and for that to happen we need changes in `vsce` and possibly the Marketplace.

But for now, if you want to get started, I suggest you focus on extensions that are already installed. I suggest we add a new section right there next to `Details` and `Contribut

[2016-09-13 19:05] XVincentX commented on #11940
That's so cool! I'll start looking here and see if I can come up with something!

[2016-09-13 19:15] kai23 commented on #11938
Here is the full log. I did the exact same thing as shown in the gif : http://pastebin.com/pr32P8j8

[2016-09-13 19:17] kai23 commented on #11938
maybe that's the part which you may like ?
[code]

[2016-09-13 19:43] Bill-Stewart commented on #11942
Default keybinding for this is `ctrl+k p` (`workbench.action.files.copyPathOfActiveFile`). You can also install the [ActiveFileInStatusBar](https://github.com/RoscoP/ActiveFileInStatusBar) extension.

[2016-09-13 19:55] gregvanl opened #11977 "Display language identifier in Language Mode drop down"
Many user settings need to know a language's language id. Examples include files.associations, emmet.syntaxProfiles, emmet.excludeLanguages. Some settings display the language id list in suggestions (ex. files.associations) but not others (ex. emmet.syntaxProfiles).
vscode-docs issue https://github.com/Microsoft/vscode-docs/issues/572 recommends documenting the most commonly used language ids but

[2016-09-13 20:08] liddiard opened #11978 "Mistranslation of "Open Editors" in all locales"
- VSCode Version: 1.5.2
- OS Version: Mac OS X 10.11.6

Steps to Reproduce:

1. Open Code in a project directory with a non-English locale like Spanish: `code . --locale=es`

In the file explorer sidebar, the translation string for "open editors" refers to the verb "open," i.e. the action of opening editors, rather than the adjective referring to the state, i.e. "these are the currently open edito

[2016-09-13 20:18] Bill-Stewart commented on #11289
Have you tried the PowerShell extension:?

[2016-09-13 20:21] andreyorst opened #11979 "Support dark theme in Gnome"
- VSCode Version: 1.5
- OS Version: Linux

I do use light theme on my linux distribution, but in VScode i prefer standard dark theme for editor, so i desired to try to change a gtk theme for single window as i do often with several applications modifying their launchers and .desktop files, and had no success. As i figured out VScode doesn't use gtk for window decorations, so i tried xprop to chang

[2016-09-13 20:22] camhux commented on #11975
A pair of bindings exists for duplicating the cursor line, or a selection of lines, upward or downward:
[code]
This shortcut can be customized in your `keybindings.json`.

[2016-09-13 20:24] #11975 closed

[2016-09-13 20:35] Bill-Stewart commented on #11973
Just wondering if `editor.action.changeAll` (default `ctrl+f2`) has the same behavior?

[2016-09-13 20:37] Tyriar commented on #11908
I think this will be fixed when we uplevel xterm.js via https://github.com/sourcelair/xterm.js/commit/8324b43cc25a60d0f6088bfd5d5c20170f9ece77

[2016-09-13 20:42] Tyriar commented on #11969
@roblourens thanks for the quick report. This was caused by the refactor yesterday (#11839). Fix will be in tomorrow's insiders.

[2016-09-13 20:44] Tyriar commented on #11927
Can you provide a screenshot of the issue?

[2016-09-13 20:45] Bill-Stewart commented on #11961
It seems like option `editor.trimAutoWhitespace` should do this automatically (unless I misunderstand what this option does). As a workaround you can use command `editor.action.trimTrailingWhitespace` (default `ctrl+k ctrl+x`) to do it manually. You could also try the option `files.trimTrailingWhitespace` that is supposed to automatically remove trailing whitespace when writing a file.

[2016-09-13 20:50] wallverb commented on #11961
Thanks @Bill-Stewart

I do have `"editor.trimAutoWhitespace": true` and it does not affect it

`files.trimTrailingWhitespace` and `editor.action.trimTrailingWhitespace` do help - but still - it seems like an issue that should be addressed

[2016-09-13 20:55] sean-mcmanus opened #11980 "Fix string 'rejected promise not handled with 1 second'"
- VSCode Version: 1.5.2
- OS Version: Windows/All?

Steps to Reproduce:

1. Not sure, repros when debugging our C++ Extension for the 1st time.

Bug: Text appears in the Debug Console: 'rejected promise not handled with 1 second'

Fix: Change "with" to "within".

[2016-09-13 20:56] Bill-Stewart opened #11981 "Request: option for find/nextMatchFindAction to search forward only, previousMatchFindAction to search backward only"
- VSCode Version: 1.6.0

Steps to Reproduce:
1. Position cursor near bottom of a file.
2. Press <kbd>ctrl</kbd>+<kbd>f</kbd> and search for something that is before the cursor.
3. Cursor jumps "backwards" and finds term before original cursor position - this is counterintuitive (so "next" means "before"?).

This request is to have an option to have `actions.find` and `editor.action.nextMatchFindAc

[2016-09-13 20:58] use-strict commented on #11824
Correct

While trying to reproduce this again with a minimal project, I noticed that it does not reproduce with ts 2.0.0 and no workspace settings. It only reproduces with 2.0.2, installed in the project folder with `npm install` and `"typescript.tsdk": "./node_modules/typescript/lib"`

Judging from your gif, I realize I've also mislead you without realizing. This gif will hopefully clarify that:

[2016-09-13 20:59] Bill-Stewart commented on #11961
Agree, it seems `editor.trimAutoWhitespace` should address this, unless (as I said) I don't understand what it does.

[2016-09-13 21:01] egamma commented on #11912
@mrmlnc thanks for the great analysis. Assigning to @jrieken he owns the snippets/tabCompletion feature.

[2016-09-13 21:10] slav opened #11983 "Open recent fsproj file results in window hanging"
- VSCode Version: 1.5.2
- OS Version: Windows 10 Anniversary edition

Steps to Reproduce:

1. Create F# project in visual studio 2015
1.5...
2. Open source folder in visual studio code
3. Open fsproj file
4. Restart VS code
5. On restart when fsproj is loaded into editor the VS window hangs. File, Edit, View, Go, Help menu still works. Cursor changes to hand above the hanging window, but I'm able

[2016-09-13 21:21] gregvanl opened #11984 "Extension Contributions Languages section should show language id"
Currently under Languages only the Name (first alias) and File Extensions are shown.  We should include the language id since this is useful for users.  For example there are several user settings (ex. files.associations) that require the language id.
This is especially important for language ids that aren't just lowercasing of the language name, for example "C#" -> "csharp". It also makes clear t

[2016-09-13 21:24] Bill-Stewart commented on #11961
See #8145 (https://github.com/Microsoft/vscode/issues/8145) - "The `editor.trimAutoWhitespace` trims automatic whitespace inserted by the editor when you press `Enter` or `Tab`."

[2016-09-13 21:27] jyavenard commented on #11918
Yes I'm certain...
If VS Code is showing up by the side of the terminal window, in its git view (while the focus is on the terminal window) you can see the list of staged files being refreshed while the rebate is in progress.

Version and platform used are in the original message.

[2016-09-13 21:27] wallverb commented on #11961
Wow, so it should work then but it doesn't. Thanks for finding that

[2016-09-13 21:32] Bill-Stewart commented on #11961
I just tested your use case on the Windows platform and can't reproduce it.

[2016-09-13 21:33] chrmarti commented on #11181
Updating title to reflect that this is also a problem with the other platforms.

[2016-09-13 21:34] chrmarti commented on #11874
Thanks @YuJianrong.

One of my changes switched to using 'find' and the exclusion filters are then applied only on the output of that.

A possible fix would be to use `-prune`, like: `time (find . \( -path '*/third_party' -o -path '*/chrome' \) -prune -o -type f | wc -l)` (works on OSX, would need to test under Linux)

The bug that multiple find processes can run concurrently is tracked by #11181.

[2016-09-13 21:36] chrmarti commented on #11842
Thanks @baoziv587. I will use this report to track the string size problem and #11874 the underlying problem that we retrieve the entire file list before applying the exclusion filters.

[2016-09-13 21:37] wallverb commented on #11961
Please try with `editor.formatOnType: true` - seems like the issue is related to that

[2016-09-13 21:37] coe-jeubanks commented on #11973
Yes, editor.action.changeAll exhibits the same behavior. I realized after posting this issue that it's likely an arbitrary cutoff for performance purposes. To be my go-to text editor, however, VS Code really needs to add the ability to edit large files. I hope that's on the horizon.

[2016-09-13 21:39] cwgabel opened #11985 "How to delete this issue?"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2016-09-13 21:41] Bill-Stewart commented on #11973
Or at least make it user configurable...

[2016-09-13 21:42] joao-fnunes commented on #11804
Regarding the assignment of a hotkey, this is the Windows Explorer menu, I don't believe there's any hotkey assigned to it (are you talking about VS Code menus and hotkeys?). Also, would you kindly elaborate on s/s?

[2016-09-13 21:42] Bill-Stewart commented on #11961
Enabled `editor.formatOnType` in my settings. Still can't repro.

[2016-09-13 21:46] Tyriar commented on #10917
Reopening to add path/shellargs usage example to https://github.com/Microsoft/vscode-extension-samples

[2016-09-13 21:46] chrmarti commented on #55
@fiznool A change I included was to use 'find' to retrieve all files and then apply the exclusion filter on top. 'find' seemed to be fast enough to make up for the additional load, that's not always the case as we now discover. I'm tracking this as #11874.

[2016-09-13 21:47] coe-jeubanks commented on #11973
I should note that the regular Replace function (ctrl+H) replaces as many matches as it can find in the file. In the Find dialog box, it shows "1 of 999+", and the ToolTip says "Only the first 999 results have been highlighted, but all Find operations work on the entire text". Seems to me this philosophy should be extended to editor.action.selectHighlights and editor.action.changeAll operations.

[2016-09-13 21:47] dragonwolf83 commented on #101
I guess I'm in the minority on this one. Restore on crash is one thing, and is crucial feature I use in PowerShell ISE, but when I explicitly close an app, I want it to close all documents. As long as it is an option to turn off, I'm good.

[2016-09-13 21:49] #11985 closed

[2016-09-13 21:53] wallverb commented on #11961
Thanks - maybe OSX issue - would appreciate if someone could test on OSX - both insiders and stable are having this issue with `editor.formatOnType: true`

[2016-09-13 21:58] Tyriar commented on #11874
This is the relevant part of the man page for `find` that ships with Ubuntu 16.04:

[code]

Version info:

[code]

[2016-09-13 22:05] #11969 closed

[2016-09-13 22:06] Tyriar commented on #11971
Having difficulty reproducing this, maybe it was a one off problem?

[2016-09-13 22:09] pocesar commented on #11668
my .scss file imports bootstrap partial .scss files, maybe it's a "hidden" cascade? the bootstrap sass files are massive

[2016-09-13 22:11] ChrisLynchHPE commented on #1939
I'd also like to see VSCode add the ability to create a tag from the Command Palate. Sure, I can drop to Git cli or Git Bash, but if you provide a lot of other Git commands from the Command Palate, it would be helpful to see Create Tag to a Commit be added.

[2016-09-13 22:18] Tyriar opened #11986 "The terminal hollow cursor shows when alt+tabbing twice despite focus still being on the terminal"
- VSCode Version: Code - Insiders 1.6.0-insider (67a46126c83aac8c715d4c318fcfd18a183658bf, 2016-09-13T10:57:05.343Z)
- OS Version: Linux x64 4.4.0-36-generic, Ubuntu

Steps to Reproduce:

1. Open and focus terminal
2. alt+tab
3. alt+tab, notice the hollow cursor
4. Type 'a', notice that the terminal was focused and accepts input

[2016-09-13 22:20] Tyriar commented on #11986
Can no longer reproduce, maybe I was imagining things.

[2016-09-13 22:20] #11986 closed

[2016-09-13 22:48] alefragnani commented on #11966
Hi @soljohnston777 ,

I will try to help you with some of your suggestions:

* You can have **Line Indent Guides**, but for that you should configure with: `editor.renderIndentGuides: true`. For now, it is based in _indentation_, not _semantics_
* It already exists a **duplicate line** command, but with different name. You could try `Copy Line Down` and `Copy Line Up`. Both with different keybindi

[2016-09-13 22:49] jefffriesen commented on #5456
@weinand I see what you're saying. When I first tried the debugger using nvm to set the node version, I got an error about node not being found (I didn't copy the error). I took what I got from `which node` in the terminal and added it to `runtimeExecutable` inside `launch.json`, which worked. That's why I tried to use the terminal command `which node` in `runtimeExecutable`. Now after your messag

[2016-09-13 22:50] fusion809 opened #11988 "Please tag v1.5.2"
Hi,

Yet again I must request that a minor bug fix release is tagged, v1.5.2.

Thanks for your time,
Brenton

[2016-09-13 23:00] bgashler1 opened #11989 "UX meeting agenda 14 September, 2016"
- Refactoring extensibility feedback

If we have the right people in attendance, we should also discuss the following issues.
- Close button for horizontal panel #9638
- Debugging sidebar remains open #1931

[2016-09-13 23:01] bgashler1 commented on #11989
@Microsoft/vscode team please let me know anything else that should be discussed.  Meeting is at 8:00am Redmond time (5:00pm Zurich).

[2016-09-13 23:02] weinand commented on #5456
@jefffriesen in previous releases VS Code had a bug that would prevent the PATH environment variable from being correctly propagated to the place where we called "node". In this case node was not found and a workaround was to set `runtimeExecutable` to the absolute path of node. Since this problem has been fixed, setting `runtimeExecutable` is no longer necessary.

[2016-09-13 23:03] arroyocode commented on #11762
+1 for Minimal theme folder icon included in Seti theme. Is it silly to combine the folders into the Seti theme as a wholly new theme (i.e.: Maximum) to appease devs on either side of the fence?

[2016-09-13 23:03] mjbvz commented on #1615
I'm unable to repo this problem anymore.

![screen shot 2016-09-13 at 4 01 43 pm](https://cloud.githubusercontent.com/assets/12821956/18494523/68b47054-79cb-11e6-8af2-4b234e2e172f.png)

I also tried opening only the markdown file without a project, and this also worked.

I believe 0a386aea9cd22a246cf3b6a23a378cd7ae9c2d3a may have fixed this by adding a `<base>` tag to the markdown preview html.

[2016-09-13 23:05] egucciar commented on #10972
Hi all,

I'm sorry to get back to you so late. I was using insiders version which seemed to work better. But now it's crashing again pretty frequently, and not just with search.

1. It is a webpack / nodejs project thats 348 MB in size including node_modules. Not including the node modules, its 1,162 files and 121 folder.

2. I do not have admin rights to my machine, I usually run VSCode with elev

[2016-09-13 23:06] jefffriesen commented on #5456
Ok, good to know.

I don't know why I got that error. It was the first time running the debugger. It's *possible* that I hadn't set nvm yet in the terminal, so no Node version was found. But that's usually the first thing I do when opening a terminal. Either way, I'm good. Thanks

[2016-09-13 23:10] chrmarti commented on #10972
Not sure if this is related, but we had to revert our optimization of using 'dir' for the stable release. The insiders builds were using that for a while, maybe that had improved things for you.

[2016-09-13 23:15] Tyriar opened #11990 "Terminal refactor broke Terminal API in Insiders"
The change to ID was the main cause of this.