[2016-05-06 16:20] getglad opened #6172 "Intellisense problems when project on network drive"
- VSCode Version: 1.0.0
- OS Version: Win 7

When using a file on a Windows network drive, a lot of the Intellisense features are not working. Where I am at least feeling the most pain points is in using import/export ES6 statements, such that I am not able to see the components of my imported class. Peek/Find All References/Go to Definition, etc will not work.

On a desktop, this is fine. I remem

[2016-05-06 16:28] srlim opened #6173 "Running docker in the background gives "Attribute 'program' does not exist ('path')" when clicking launcher"
- VSCode Version: 1.0.0
- OS Version: 10.11.4

Steps to Reproduce:
1. Run docker in the background (doesn't need to use the project I use VSCode)
2. Click the launcher button
   Error: Attribute 'program' does not exist ('path')

This error doesn't happen when I am not running docker in the background

Please fix this problem. It's blocking me from developing effectively.

[2016-05-06 16:31] alexandrudima commented on #6064
Sorry about that, there was an issue with the context menu service not calling `onHide` that was leading to editors to believe they were focused after a context menu was shown. The `Enter` was going to the wrong editor.

[2016-05-06 16:31] #6064 closed

[2016-05-06 16:42] chrisdias commented on #5841
What are the badges that we would show in the activity bar? if we showed a play/pause badge it may feel like you can click on it to take an action. If it is multi color (e.g. orange when debugging) then i feel like it becomes a christmas tree very quickly.

[2016-05-06 16:44] 0x3333 commented on #313
Come on people. Subscribe. Stop spamming. Will not help comment on this.

[2016-05-06 16:51] CHENGWEI001 opened #6174 "vscode python program output is not expected"
- VSCode Version:1.00
- OS Version:Windowns7 64bt

Steps to Reproduce:

1. in below file , executing test.py in
[testpy.zip](https://github.com/Microsoft/vscode/files/252680/testpy.zip)
2. assuming there is a line change between "hello"s, for example , if I run in command window, or other python IDE, I would see output like this :
![expected_output](https://cloud.githubusercontent.com/assets/13721

[2016-05-06 17:05] FrancisFaure commented on #4891
please,
have you planned an VSCode update for allow add "files.encoding": "windows1252" in extension language package.json file?
or a way for open files by extension of filenames encoded 1252 and not utf8 (we need to open *.PRG files in 1252)
Thanks

[2016-05-06 17:24] vsccarl commented on #6141
Heres a gif. I can reproduce on 1080p and 1440p resolutions.

![snapresize](https://cloud.githubusercontent.com/assets/12900364/15080823/b8e86dae-1374-11e6-84c5-8d7006d3d970.gif)

[2016-05-06 17:25] bpasero commented on #5841
Maybe @isidorn could attach screen shots if he has ideas how to present it. Also, I would maybe only show an indication when the execution is currently stopped in a breakpoint because otherwise we indicate debugging state in the status bar.

[2016-05-06 17:27] bpasero commented on #6141
If in doubt, blame it on some Windows 10 version you are using ;)

[2016-05-06 17:29] bpasero commented on #6168
#508

[2016-05-06 17:29] #6168 closed

[2016-05-06 17:31] vsccarl commented on #6145
It closes even when clicking the same spot. Here's an example:
![peekexample](https://cloud.githubusercontent.com/assets/12900364/15081029/9802c0ca-1375-11e6-8dea-f77566087b2c.gif)

When it re-opens at the end, I press Alt+F12 a few times but it does not close.

[2016-05-06 17:47] jrieken commented on #6145
if you focus the outer editor, it does

[2016-05-06 17:48] bgashler1 commented on #5841
![image](https://cloud.githubusercontent.com/assets/11839736/15081453/f6d98910-1377-11e6-891f-7aca018a687f.png)
Is this what you were thinking @isidorn ?

[2016-05-06 17:58] mschuckmann commented on #4815
To add insult to injury on this one when I set the tab style to tabs it keeps reverting back to spaces every time I switch to another file and then back to the Makefile.

[2016-05-06 18:08] vsccarl commented on #6145
That makes sense then.

[2016-05-06 18:08] #6145 closed

[2016-05-06 18:08] chrisdias commented on #5841
@bgashler1 I want to click on that pause button!

[2016-05-06 18:16] maroonedsia commented on #6068
Hi @bpasero,

Thanks for your reply, sorry for the confusion.

You're right, VS Code ask for saving the files, but they're not auto-saved. As a comparison, Sublime saves open files to a temp directory, so, if it crashes or restarts, I never lose anything.

Thanks again,
Sia

[2016-05-06 18:24] bgashler1 commented on #5841
![image](https://cloud.githubusercontent.com/assets/11839736/15082509/ed4f00a0-137c-11e6-8095-ec3afca56be1.png)

Since we already have all the Debug buttons persist on top (no matter what viewlet we're in), are we certain this is a problem with users?

1. Are they often running their apps while working in the Explorer and wanting to be notified of hitting breakpoints?
2. If so, is the "Pause" butt

[2016-05-06 18:37] alexandrudima commented on #6151
@be5invis I'm not sure if I'm just used to it, but to me it is not obvious what is ugly about it :). Is it the color or the fact that it exists?

It is also not really a border, it is a 1px width line drawn inside a canvas element and I'm thinking Chromium is not doing such a good job in scaling canvas elements when the OS zoom level is different than 100%.

[2016-05-06 18:40] alexandrudima commented on #3210
We didn't document it because we didn't want it to spread.

@jrieken maybe completions coming from the extension host should go through https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/snippet/common/snippet.ts#L226 such that we don't end up documenting and making API of our internal format.

[2016-05-06 18:44] alexandrudima opened #6175 "Improve endgame to include creating a Release under GitHub"
https://github.com/Microsoft/vscode/releases

From https://github.com/Microsoft/vscode/issues/6038#issuecomment-217373382

I had checked the releases page here (where the version numbers seem different) but didn't think to check the main website.

[2016-05-06 18:45] alexandrudima commented on #6038
Good point, I have created #6175 to look into improving our process.

[2016-05-06 18:47] alexandrudima commented on #6072
@doronguttman Can you please share the file that reproduces the problem? Is it freezing when opening a specific TypeScript file, or when opening a specific folder? Any other information that could help us reproduce the problem? [i.e. we're all editing TypeScript files all the time - VSCode is written in TypeScript]

[2016-05-06 18:49] bgashler1 commented on #5841
@chrisdias: just an experiment.  Is this less clickable to you?
![image](https://cloud.githubusercontent.com/assets/11839736/15083154/8a31175c-1380-11e6-8596-4cf4a56877d2.png)

[2016-05-06 19:01] chrisdias commented on #5841
No, its not :).  One thing to consider, we have a problem where the debug toolbar only shows up when the debug viewlet is visible/active.  i find this problematic if i switch to the explorer while at a break point, where did the toolbar go and why?  we've always discussed having the activity bar buttons be commands, perhaps now is the time to consider.

[2016-05-06 19:14] alexandrudima commented on #6074
@leedonhyun I cannot reproduce. Is it possible you have installed extensions that interfere with or that overwrite the HTML formatting?

![6074](https://cloud.githubusercontent.com/assets/5047891/15083758/593f7c2a-13cf-11e6-8167-88880b8c7246.gif)

[2016-05-06 19:16] Phisherman commented on #4962
Is there an option to enable emmet in JS files? The jsconfig.json doesn't seem to have an option. It's annoying to change every time the language mode to `JavaScript React` to be able to use Emmet.

[2016-05-06 19:17] alexandrudima commented on #6077
@erfannoury That is indeed a default shortcut we ship with. Can you please try the following:
* Open `File > Preferences > Keyboard Shortcuts`
* In the `keybindings.json` add the following rules:
[code]

[2016-05-06 19:24] aeschli commented on #4927
@oodboo Is that in JavaScript? If yes, please file a separate issue for it. This bug is about improving the HTML support.

[2016-05-06 19:24] alexandrudima commented on #6046
@miparnisari I am not sure I understand what you mean that the cursor is lost. I have tried quite a number of times doing Windows + Left, Up, Right, etc. and I did not notice anything weird about it. Maybe can you please make a screenshot or even better, a screen recording gif, showing the problem to help me understand better what's wrong?

[2016-05-06 19:25] erfannoury commented on #6077
@alexandrudima Thank you very much. This solved the problem.
So according to this solution, Keyboard Shortcuts changed in this version.
I'm closing the issue.

[2016-05-06 19:27] alexandrudima commented on #6053
The code that tries to protect against non-advancing regexes needs to be revisited.

[2016-05-06 19:28] aeschli commented on #6084
This issue was moved to Microsoft/TypeScript-TmLanguage#160

[2016-05-06 19:28] #6084 closed

[2016-05-06 19:29] oodboo commented on #4927
I have just found #2000 which basically says the same thing ... so I do not know should I copy text there ...

[2016-05-06 19:30] be5invis commented on #6151
@alexandrudima Chromium does scale canvases, but this scaling is not like scaling other elements, it will cause the contents blur.
Many programmers around me, including me, prefer that removing this border will make the UI look better.

[2016-05-06 19:33] aeschli commented on #6103
duplicate of #5398

[2016-05-06 19:33] #6103 closed

[2016-05-06 19:34] aeschli commented on #6104
This issue was moved to Microsoft/TypeScript-TmLanguage#161

[2016-05-06 19:34] #6104 closed

[2016-05-06 19:45] aeschli commented on #6122
This is used in the context of our extension APIs. Extensions can add a new theme to VSCode. They 'contribute' a new theme to VSCode. To do so the extension needs a special entry in their package.json file under key 'contribute/themes'
The translated label is the description of that key.
There are many other similar contribution points.
nls.localize('vscode.extension.contributes.languages', 'Contr

[2016-05-06 19:45] #6122 closed

[2016-05-06 19:50] aeschli commented on #4927
@oodboo #2000 looks like the right bug. Yes, add your example and suggestions there.

[2016-05-06 20:34] doronguttman commented on #1440
+1

[2016-05-06 20:42] vsccarl opened #6176 "Go to/Peek Definition and Find all References in CSS"
- VSCode Version: 1.1.0-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Open a css file
2. Right click to show context menu

Shows grayed out Go to Definition, Peek Definition and Find all References:

![contextmenucss](https://cloud.githubusercontent.com/assets/12900364/15085620/3201b1ee-1390-11e6-8af7-2a7c0829d675.PNG)

Other file types that do not support them, they are not included in

[2016-05-06 20:44] shurcooL commented on #254
@alexandrudima Does that mean window zoom level no longer needs to be restricted to 100% and higher (i.e., you can't zoom below 100% with Cmd+-)?

[2016-05-06 21:26] emmby opened #6177 ""Go to file…" does not work on remote filesystems like fuse+sshfs"
- VSCode Version: 1.0.0
- OS Version: OS X 10.11.4

Steps to Reproduce:

1. Use OSXFuse + sshfs to mount a remote directory
2. open the directory in Code
3. type cmd-P and type a file name

The command window will indicate it's working for a few seconds, but nothing will happen.

[2016-05-06 22:02] vsccarl commented on #6140
@bpasero yes, all others are being read fully.

[2016-05-06 22:08] skolmer opened #6178 "Required extensions in workspace settings"
I would like to have a required extensions section in settings.json of my workspace. These extensions should be automatically installed when a project is opened the first time or a warning message should be shown that required extensions are missing.
At the moment I need to instruct my team to install specific extensions to work on a shared project. It would be nice to automate this process.

[2016-05-06 22:23] cchamberlain commented on #3600
@aioutecism - I installed it.  This is definitely much better than the other VIM extensions, great job!

Would still like the core product team to get involved so we can get things like `/` using regex instead of the built-in search tool as well as the rest of the common VIM features that are expected out of a text editor.

[2016-05-06 22:46] v-pavanp opened #6179 "No cloring for fields type in typescript interface."
This issue might be related to: https://github.com/Microsoft/TypeScript-TmLanguage/issues/44
There is no coloring for interface field types when user select Light (Visual Studio) there in VSCode.
When I am changing the theme then types are highlighted properly so it is just a matter with Light (Visual studio) theme.

![interfacecoloringissue](https://cloud.githubusercontent.com/assets/17735796/150

[2016-05-06 22:47] v-pavanp commented on #6179
https://github.com/Microsoft/TypeScript-TmLanguage/issues/162

[2016-05-06 22:47] #6179 closed

[2016-05-06 23:37] vsccarl opened #6180 "Rename Symbol not translated"
- VSCode Version: 1.1.0-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Change language to non-english
2. Right click > observe Rename Symbol is not translated
3. F1 palette 'Rename Symbol' is also not translated

Looks like a regression as it is translated in 1.1.0 insiders.

[2016-05-07 00:54] mikeal opened #6181 "Crashes on Open"
- VSCode Version:
Latest from website as of today, I can't get it open to check the actual version.
- OS Version:
OS X El Capitan 10.11.4 (15E65)

Steps to Reproduce:

1. Open VSCode.
2. Crash

I found this message in the console. It's an Electron message so I figure this is the issue.

5/6/16 5:53:57.739 PM Electron[90811]: Error loading /Users/mikeal/Library/Application Support/SIMBL/Plugins/meg

[2016-05-07 01:11] Tyriar commented on #329
@bpasero nothing for all variants on my machine. Failing to create the directory might be the reason it's not working currently though.

[2016-05-07 01:16] Tyriar commented on #3884
@sarbbottam still planned for May release.

[2016-05-07 02:11] v-pavanp opened #6182 "VScode unable to recognize whether JShint extension is installed or not."
- VSCode Version:1.1.0-alpha
- OS Version: Windows10

Steps to Reproduce:
 1. Launch app and try to install JShint extension.
 2. Verify user should get success message.
 3. Click on reload and verify from the installed extensions list.

Actual: I observed JShint extension is showing up in extension install and installed list.
Expected:
1. if there is no update for the extension then it should not

[2016-05-07 02:13] v-pavanp commented on #6182
https://github.com/Microsoft/vscode-jshint/issues/33
https://github.com/Microsoft/vscode-jshint/issues/32
https://github.com/Microsoft/vscode-jshint/issues/31

[2016-05-07 02:13] #6182 closed

[2016-05-07 02:22] greybax opened #6183 "Autocomplete is helpful while entering path of files"
- VSCode Version: 1.0.0
- OS Version: Windows 10

Steps to Reproduce:
1. Start to enter path of files. f.e `"import {Data} from "../../"`
2. Couldn't recognize which files/folders contains in this path.

Expected:
Would be helpful to show in dropdown all files/folders which contains in current matched directory

[2016-05-07 03:53] infeng commented on #5422
i have same problem
node: 6.0.0
os: windows10 14332
vscode: 1.0

[2016-05-07 04:42] chy9002 opened #6184 "Same shortcut key for save and not save."
- VSCode Version: 1.0.0
- OS Version: Windows 10 10586.218

Steps to Reproduce:
1. Create new file
2. Type anything
3. Close visual studio code or file. Below alert will display:
   ![vsc](https://cloud.githubusercontent.com/assets/7344772/15090192/1fee2f80-1450-11e6-8f0d-e38529fc8924.png)

Either save or not save, the shortcut key are same. I don't think it's a good idea.

[2016-05-07 07:04] alexandrudima commented on #254
I think Cmd+- does not go below 100%, but `window.zoomLevel: -1` worked for me when doing it from user settings.

[2016-05-07 07:27] weinand commented on #5422
VSCode 1.0 does not yet support node v6.

[2016-05-07 07:36] shurcooL commented on #254
I believe that was implemented because of the blurring issue (see [comment](https://github.com/Microsoft/vscode/pull/434#issuecomment-158865596) by @bpasero):

Now that it's fixed, can't that restriction be lifted?

In other words, isn't forcing user to use `window.zoomLevel` instead of just Cmd+- to go below 100% no longer neccessary?

[2016-05-07 07:47] jokeyrhyme opened #6185 "failed crash dump on exit in Linux when `wget` not installed"
- VSCode Version:

- OS Version `cat /proc/version`:

Steps to Reproduce:

1. launch `code` via terminal

2. close VSCode via new GUI window that appears

3. observe (not always, but maybe first time per day?)

[2016-05-07 07:48] jokeyrhyme commented on #6185
Yep, found it upstream:

- https://github.com/electron/electron/blob/v0.37.8/atom/common/crash_reporter/linux/crash_dump_handler.cc#L347

I'll file a ticket over there.

[2016-05-07 07:50] #6185 closed

[2016-05-07 08:24] bpasero commented on #6068
@maroonedsia but that is a different thing. can you clarify how you are loosing data when you are asked to restart? are you not being asked to save?

[2016-05-07 08:25] bpasero commented on #5841
Yes I was thinking the same when we brought up the concern that the icon looks like you could click it.

[2016-05-07 08:30] bpasero commented on #6181
@mikeal can you try to run it from the console, like `./VSCode.app/Contents/MacOS/Electron`

[2016-05-07 09:20] bpasero commented on #254
I am easy to change this so that you can also zoom out.

[2016-05-07 10:07] nitinbansal1989 opened #6186 "Not able to find special characters like \n, \r, \t"
- VSCode Version: 1.0.0
- OS Version: Mac OS 10.11.4

Steps to Reproduce:

1. Enter some text in editor with tabs and new lines.
2. Open the find box and check the regular expression button.
3. Type "\n" in the search field.

[2016-05-07 10:47] vishalpandeyy commented on #880
Why is this issue closed? I am having the same issue

[2016-05-07 11:26] MichaelHuyPhan opened #6187 "Unable to search for ^.*(regex).*$ in full text search until file is opened"
- VSCode Version: 1.0.0
- OS Version: Win 10 Pro

Steps to Reproduce:
1. close all file are opened in vsc editor
2. close vscode than open it again
3. search for `^.*(regex).*$`
4. no results
5. open an editor that contains `regex`
6. run search again

=> now you find results

[2016-05-07 13:48] swinster opened #6188 "I am unable to press "Shift+Alt+A" to toggle a block comment"
- VSCode Version:1.0.0.
- OS Version:Win 10 Pro build 14322

Steps to Reproduce:
1. Highlight a block of text
2. Press `Shift+Alt+A`. Nothing happens. (however, via the `Ctrl+P` menu and select togel clock comment, as is OK)
3. In the Keybinding,json Shot cuts file, I see:

[code]

And nothing is overridden in my user settings.

[2016-05-07 15:21] ChazyTheBest opened #6189 "emmet.triggerExpansionOnTab php variables to html tags"
- VSCode Version: 1.1.0-insider
- OS Version: Manjaro 15.12 x64

Steps to Reproduce:

1. Create a variable in php called `$variable`.
2. Then press tab and it'll be replaced by `<1variable></1variable>`.

I don't know if it's a bug but it's not what I was expecting.

[2016-05-07 16:36] agmcleod commented on #754
Was this fix put out in a release? Noticing this issue mainly on my mac screen, where as on an external monitor it's less of an issue. I tried switching between a couple default dark themes even, and the dark cursor is present.

[2016-05-07 16:43] AliMD opened #6190 "[feature request]: keep git message on undo last commit"
I usually forgot to select special file for commit and undo last commit, select target files, commit again but i must write commit message again
Could you please add feature for restore message on undo last commit
Thank you in advance

[2016-05-07 17:10] JonathanMEdwards commented on #754
It's out in the insider's release.

On Sat, May 7, 2016 at 12:37 PM, Aaron McLeod <notifications@github.com>
wrote:

[2016-05-07 18:08] izcream opened #6191 "please add enable emmet expand abbreviations in customlanguage"
- VSCode Version: 1.0.0
- OS Version: Windows

I love this editor. it's awesome, very fast response, open, edit.
but it's not support emmet expand abbreviations in custom syntax eg .blade, .vue

 i try to add "files.associations": {"*.blade.php": "html"}, emmet work but my extension blade syntax hilighting not working. if it's can work together i think my heart is got by vscode :+1:

if next relea

[2016-05-07 19:49] ctaggart commented on #5679
@Tyriar In the [April Iteration Plan](https://github.com/Microsoft/vscode/issues/4888) I noticed:

 Test #5062

I was hoping that this would allow me to launch VSCode as root. I downloaded the insiders build and tried launching it, but it doesn't launch and I don't get any output:

[code]

I noticed that a `User` subdirectory is created:
[code]

Should it be possible to launch VSCode as root?

[2016-05-07 20:52] rolandog commented on #6118
I'm using Lubuntu 16.04.

VS Code first asked me to have ssh-askpass installed (can't remember what the prompt exactly said, but I'm having a very similar issue... even if my user settings declare that autofech is disabled)

The current issues I have are:
* I'm having a really long wait time for each commit
* I have to type in my passphrase for pulling
* I have to type in my passphrase, again, for

[2016-05-07 21:39] soichih commented on #2706
@1767083130 Thanks

[2016-05-07 22:25] Eduardogbg commented on #2613
Had this problem again. On multiple projects using ${workspaceRoot} to indicate the path to "program" would give me the "program path uses differently cased character than file on disk" warning, while handtyping the whole absolute path would not.

[2016-05-08 00:25] d0f commented on #2202
tks

[2016-05-08 00:37] guardrex opened #6192 "Improve OutputChannel API (discovery, appending, etc)"
- VSCode Version: 1.1.0-insider
- OS Version: Win10

I understand how to create and use a new `OutputChannel` ...

[code]

... but since my extension is working with tasks, it would be better if I could get a ref to the existing `Tasks` output channel and write my messages there.

I don't see a method for this. Is there any way to get such a reference to an existing output channel?

[2016-05-08 02:38] animanoir opened #6193 "Question: Is there a way to hide the .vscode folder?"
- VSCode Version: 1.0
- OS Version: Windows 10

Steps to Reproduce:

1. Create a new project.
2. Wait until the folder appears.

So yeah, it is only that. I find it a bit annoying. But I know it might be useful.

[2016-05-08 04:01] bjz commented on #1884
@bgashler1 I understand your desire to default to aligning with the VS branding, but the color is extremely distracting for some people. It would be great if you could at least have a user style sheet that would allow us to dim it down, or just set it to always be black. This is about the only thing that is preventing me from committing to your fantastic editor.

[2016-05-08 04:35] buzinas commented on #313
Tired of copying code from VSCode to VS or SSMS only to make some regex multiline replaces.

Do you have any estimate time on this @Tyriar @alexandrudima?

[2016-05-08 05:41] giangm9 opened #6194 "Bug: Font error when i change font size to 14"
- VSCode Version: 1.0.0
- OS Version: Ubuntu 16.04

Steps to Reproduce:
1. Install Droid Sans Mono font
2. Open workspace preference
3. put these setting in the file
   "editor.fontFamily": "Droid Sans Mono",
   "editor.fontSize": 14
4. this happen

![image](https://cloud.githubusercontent.com/assets/10234339/15096217/f4bb9ea4-1519-11e6-823e-c2472ff7696c.png)

VSCode works fine with other font siz

[2016-05-08 06:19] leedonhyun commented on #6074
![animation](https://cloud.githubusercontent.com/assets/8449892/15096362/7d08312c-152f-11e6-880e-2936a474a98c.gif)

My vscode installed extensions are in the list of captured images below.

<img width="245" alt="capture" src="https://cloud.githubusercontent.com/assets/8449892/15096365/92a30e9e-152f-11e6-904b-1f26f9690525.PNG">

[2016-05-08 07:09] smarts opened #6195 "Folding in XML files doesn't work properly"
I'm not sure if it's relevant, but apparently this happens in Atom too atom/atom#3442

- VSCode Version: 1.0.0 (Commit fa6d0f0)
- OS Version: Windows 8 Pro

Steps to Reproduce:

 - create a new file
 - select XML language mode
 - use this text:
[code]
 - try to fold the `<bar>` element on line 2

user settings (minus `git.path`, because I _hope_ that doesn't affect code folding):
[code]

[2016-05-08 09:36] PandaFang commented on #6073
Same bug with java and c#

[2016-05-08 11:36] mattflix commented on #4070
This is happening to me as well on Mac OS X.

When the error message starts appearing, clicking "Continue" on the message allows debugging to proceed normally (apparently the preLaunchTask, in my case a build step, actually worked fine).

In cases where the "errors detected" message appears on launch, there ARE errors listed at the bottom left of the VS Code window, but they don't appear to have b

[2016-05-08 12:14] ivanz opened #6196 "VSCode is not per monitor DPI aware"
- VSCode Version: 1.0.0
- OS Version: Windows 10

Steps to Reproduce:
1. Connect second monitor and adjust DPI such as the second monitor has different DPI than the main one
2. Drag Vscode window to the second monitor - UI becomes all blurry.

Possibly related to #1896 and also this upstream Chromium issue: https://bugs.chromium.org/p/chromium/issues/detail?id=426656

[2016-05-08 12:41] groone commented on #3451
Hack worked vscode works via xrdp:
* make a backup first
* sudo sed -i 's/BIG-REQUESTS/_IG-REQUESTS/' /usr/lib/x86_64-linux-gnu/libxcb.so.1

[2016-05-08 12:57] Fania commented on #1490
Yes please!

[2016-05-08 13:40] hashhar commented on #1490
I would like to start implementing this myself. Reading through the code myself and setting up the environment. Will ask if any help needed.

[2016-05-08 13:43] mirao opened #6197 "Keyboard shortcut for copy of line doesn't work on Linux"
- VSCode Version: 1.0.0
- OS Version: Ubuntu 16.04 LTS

Steps to Reproduce:
1. Click into a text line
2. Press `Ctrl + Shift + Alt + UpArrow` or `Ctrl + Shift + Alt + DownArrow`

Expected result:
- line is duplicated up/down

Actual result:
- nothing happens

Workaround:
- run the command from the command palette

[2016-05-08 13:48] BeenStone commented on #5050
I met it yet, how to stop it ?

[2016-05-08 14:00] vaishnav4226 opened #6198 "Error Run 'Debug: Download .NETCore Debugger' in the Command Palette or open a .NET project directory to download the .NETCore Debugger"
- VSCode Version: 1.0.0
- OS Version: 10.11.4

Steps to Reproduce:

1. Using dotnet new to create a simple HelloWorld.cs program.
2. dotnet restore and dotnet run to check if the program can run without an errors (optional)
3. Put a breakpoint and hit cmd + f5.

After following the steps above, I get the error:
Error Run 'Debug: Download .NETCore Debugger' in the Command Palette or open a .NET pro

[2016-05-08 14:34] joeaudette commented on #3451
@groone Thanks! will give that a try soon

[2016-05-08 14:51] sleemer opened #6199 "Output for IntelliSense"
- VSCode Version: 1.1.0-insider (1.1.0-insider)
- OS Version: OS X 10.11.4

Steps to Reproduce:
1. If there is an error within IntelliSense internals than there is no way to make anything of this issue.
2. It would be great if IntelliSense uses Output to writes logs.

[2016-05-08 15:25] GuardRex commented on #6198
@vaishnav4226 That's an ancient version of `dotnet cli`. Get the SDK installer (2nd column) from the cli repo at https://github.com/dotnet/cli/tree/rel/1.0.0. It might not solve your prob with debugging, but it certainly is a suspect.

[2016-05-08 15:49] bpasero commented on #6157
Please file with more information next time.

[2016-05-08 15:49] #6157 closed

[2016-05-08 15:50] #6062 closed

[2016-05-08 15:52] bpasero commented on #6165
I think this got fixed in our next release.
We are releasing preview releases of the next stable VS Code version for everyone to try and give feedback. These preview releases are not 100% tested and might be unstable but contain our latest features and bugfixes. You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-05-08 15:52] #6165 closed

[2016-05-08 15:53] bpasero commented on #6174
I am very sorry to hear you are having issues with VS Code. Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market

[2016-05-08 15:53] #6174 closed

[2016-05-08 15:53] ncrawlins opened #6200 "Ignoring tsconfig.json in Angular 2 CLI generated apps"
- VSCode Version: 1.0.0
- OS Version: Windows 10

Maybe it's a problem with the project setup, but VSCode doesn't honor the experimentalDecorators flag and other tsconfig settings for any file you open AFTER the first file in an Angular CLI generated project.  You can close all files and wait a second and then open the files in a different order and the ones reporting errors will switch.

Steps to

[2016-05-08 15:57] bpasero commented on #6193
http://stackoverflow.com/questions/30140112/how-do-i-hide-certain-files-from-the-sidebar-in-visual-studio-code/30142299#30142299

[2016-05-08 15:57] #6193 closed

[2016-05-08 15:58] bpasero commented on #6198
I am very sorry to hear you are having issues with VS Code. Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market

[2016-05-08 15:58] #6198 closed

[2016-05-08 15:59] bpasero commented on #6166
Somehow you managed to open this file and as such it will show up in the search results. Just open it and press Ctrl+K W to close it for good.

[2016-05-08 15:59] #6166 closed

[2016-05-08 16:00] bpasero commented on #6177
@emmby something in the developer console?

[2016-05-08 16:01] bpasero commented on #6025
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-05-08 16:01] #6025 closed

[2016-05-08 16:01] bpasero commented on #5717
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-05-08 16:01] #5717 closed

[2016-05-08 16:01] bpasero commented on #5937
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-05-08 16:01] #5937 closed

[2016-05-08 16:01] bpasero commented on #5973
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-05-08 16:01] #5973 closed

[2016-05-08 16:02] bpasero commented on #6030
@dinesh-dev does any other interaction work in that case, just not scrolling?

[2016-05-08 16:06] bpasero commented on #6187
I can reproduce.

[2016-05-08 16:09] bpasero commented on #6101
@Janne252 does it reproduce in our latest insider build?
We are releasing preview releases of the next stable VS Code version for everyone to try and give feedback. These preview releases are not 100% tested and might be unstable but contain our latest features and bugfixes. You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-05-08 16:21] Janne252 commented on #6101
@bpasero Unfortunately it still is:
![Ghost file](http://i.imgur.com/w42of9u.png)

[2016-05-08 16:30] dinesh-dev commented on #6030
Just scrolling using touch-pad. Other interactions work fine. @bpasero

[2016-05-08 16:33] idoros commented on #5717
Sorry for missing the message. The text is in English.
On May 8, 2016 19:02, "Benjamin Pasero" <notifications@github.com> wrote:

[2016-05-08 16:38] bpasero commented on #5717
@idoros I meant which programming language.

[2016-05-08 16:39] bpasero commented on #6101
@Janne252 can you somehow attach the full file URI here that you use in the hover?

[2016-05-08 16:47] Janne252 commented on #6101
@bpasero
I captured this with a breakpoint + "Copy Value" via Debug->Variables
[code]
The full file URI is in this case `file:e:\coh2_mods\ccm_v2\scar\ccm_healthMonitor.scar#L134`

[2016-05-08 16:51] Janne252 opened #6201 "DecorationRenderOptions / createTextEditorDecorationType doesn't support fontWeight?"
`vscode.DecorationRenderOptions` / `vscode.window.createTextEditorDecorationType` doesn't support `fontWeight`. Only way to achieve bolded text (as far as I know) is to escape a supported CSS value:

[code]

[2016-05-08 19:44] mrmeek opened #6202 "git integration - Permission Denied (publickey)"
- VSCode Version: 1.0.0
- OS Version: Win 7

Steps to Reproduce:
1. Clone a repository
2. Attempt any git action against the remote from Code (fetch, pull, push)

Works fine from windows cli, git gui, etc

Full detail here
http://stackoverflow.com/questions/37103047

Is this buggy behavior?

[2016-05-08 20:23] miparnisari commented on #6046
Here you go:

![bug](https://cloud.githubusercontent.com/assets/5374887/15100198/9d4dd1e6-1541-11e6-8e00-9ee3d309b595.gif)

[2016-05-08 21:41] weinand commented on #6097
@jrieken why is the `this.telemetryService.isOptedIn` check not done inside the `this.telemetryAdapter.log`?
Moving the responsibility of this check to the client looks error prone to me:

[code]
What is the use case where a `telemetryAdapter.log()` would not be guarded by a `telemetryService.isOptedIn`?

[2016-05-09 01:35] soichih opened #6203 "Application window is stuck on top of other apps on Ubuntu 16 + VirtualBox(3D Accelerated)"
- VSCode Version: 1.0.0
- OS Version: Ubuntu16 (Running on VirtualBox 5.0.20 + 3D acceleration)

On Ubuntu16, vscode window will be stuck on top of all other windows - even above it's own menu, dialog, etc.. When I minimize the app, the main window will be left open but I can not interact with it.

I've also noticed that the vscode app window's refresh rate is super slow; when I move the window ar

[2016-05-09 04:06] ashutoshraina opened #6204 "Different color scheme for references modal"
- VSCode Version: Version 1.0.0 (1.0.0)
- OS Version: Mac OSX EL Capitan

When clicking on references the modal has a different theme from the one which  I selected in VS code.

Steps to Reproduce:
1. Change the theme to something other than the default.
2. Click on References and the modal has a different color scheme.

[2016-05-09 04:14] mattflix commented on #5962
@isidorn  The preLaunchTask probably doesn't make sense to be a watching task.  But, to the point that @NinoFloris made, if the preLaunchTask exits with non-zero, then probably launch should not proceed (at least without warning prompt).  But, if it exits with zero, then just go.

Yes, if the preLaunchTask is a watching task (I suppose there could be a use case for that), then just have an launch.

[2016-05-09 05:22] bpasero commented on #6203
Maybe this is fixed in our latest insider build?

We are releasing preview releases of the next stable VS Code version for everyone to try and give feedback. These preview releases are not 100% tested and might be unstable but contain our latest features and bugfixes. You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-05-09 05:23] bpasero commented on #6204
@ashutoshraina can you attach a screen shot?

[2016-05-09 06:30] ashutoshraina commented on #6204
![vscode modal - color scheme issue](https://cloud.githubusercontent.com/assets/1003532/15105218/77c14466-15dd-11e6-8905-914c289d2bfc.png)

The two color schemes are different. If there is a setting which allows the user to set the scheme for the modal as well, the that should be ok as well.

[2016-05-09 06:38] viko16 opened #6206 "[less] syntax highlight failed when value starts with decimal point"
- VSCode Version: 1.0.0
- OS Version: Windows 7 x64

Steps to Reproduce:

1. Language mode: Less
2. Code:
[code]

Screenshot:
![image](https://cloud.githubusercontent.com/assets/5064777/15105304/34552a10-15f3-11e6-8cdb-55a2014600d7.png)

[2016-05-09 06:44] owtotwo commented on #5411
thanks a lot!

[2016-05-09 07:10] alexandrudima commented on #6197
@mirao You can also rebind them in `File > Preferences > Keyboard Shortcuts`. E.g.:

[code]

[2016-05-09 07:14] alexandrudima commented on #6188
@swinster It might be that you have installed some other Windows software that "steals" `Shift+Alt+A`. What appears in the input box when you go through the Define Keybinding widget:

![shift-alt-a](https://cloud.githubusercontent.com/assets/5047891/15105984/5ba9618a-15c6-11e6-9132-de3472569af6.gif)

[2016-05-09 07:16] alexandrudima commented on #6186
`\t` can be searched for when enabling the regular expression. Let's track the multiline find in #313

[2016-05-09 07:16] #6186 closed

[2016-05-09 07:51] weinand commented on #6107
@arve0 does it make a difference if you open the Terminal application first and then try to launch the debugging session?

[2016-05-09 07:52] aeschli commented on #6156
This issue was moved to Microsoft/TypeScript-TmLanguage#163

[2016-05-09 07:52] #6156 closed

[2016-05-09 07:52] arve0 commented on #6107
No, it's the same with Terminal open or closed.

[2016-05-09 07:56] weinand commented on #6107
@arve0 if the Terminal application is not running, does VS Code make the Terminal application start when launching a debug session?

[2016-05-09 08:02] arve0 commented on #6107
Not at the PC now, I'll have to check that later today.

[2016-05-09 08:17] jrieken commented on #6192
You cannot do that today.

Can provide a little more details about that use-case? I'd like to understand the requirements such that we can discuss this request.

[2016-05-09 09:26] mkyjakova commented on #6121
Hi, I've modified the bug (deleted the .dll files) Can you please have a look at the one that remains?  Thanks!

[2016-05-09 09:51] dbaeumer commented on #6200
The problem is the generated tsconfig.json file. It contains a files section and list only two files main and typings.d.ts. Therefore the files under source aren't considered part of the project defined by the tsconfig.json file.

Removing the files section makes it work as expected. Opened https://github.com/angular/angular-cli/issues/684.

I will also move this to the TS team since they should a

[2016-05-09 09:53] jchannon opened #6207 "C# intellisense doesn't show return type"
- VSCode Version: 1.0.0
- OS Version: OSX El Capitan

Steps to Reproduce:

1. Using intellisense in C# the output shows the methods available but it does not show the return type of that method.  I think this has been in Omnisharp from day 1 so would be nice to get this in.
2. More info here :  https://twitter.com/jchannon/status/728502404346462208

[2016-05-09 09:56] dbaeumer commented on #6200
This issue was moved to Microsoft/TypeScript#8523

[2016-05-09 09:56] #6200 closed

[2016-05-09 10:01] dbaeumer commented on #5962
I could add information about whether a specific task run has generated problems. Then we would have the needed information. @isidorn as an alternative you could check how many errors existed before and after to see if the task added some.

[2016-05-09 10:03] dbaeumer commented on #6184
@bpasero I move that back to you. The strings need to have comments about the acceleration keys to use. There is little I can do from a localization point of view. Or am I missing something?

[2016-05-09 10:05] isidorn commented on #5962
@dbaeumer both approaches make sense to me. Also as @mattflix and @NinoFloris pointed out I could look into the exitCode of the [ITaskSummary](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/tasks/common/taskSystem.ts#L188) - should I get that reliably from the tasks framework?

If you decide to add the information then ping me once you push that and I can adopt on my side.

[2016-05-09 10:05] dbaeumer commented on #6172
I will move this to the TS team which provide the tsserver.

[2016-05-09 10:05] jrieken commented on #6204
I believe that's a UX decision.

[2016-05-09 10:05] dbaeumer commented on #6172
This issue was moved to Microsoft/TypeScript#8524

[2016-05-09 10:05] #6172 closed

[2016-05-09 10:07] dbaeumer commented on #5962
@isidorn can you start with the before after idea. Need to see what came in as new issues the last two weeks I was away.

[2016-05-09 10:08] isidorn commented on #6173
@srlim can you please share a small repository for which this can be reproduced. Can you share your `launch.json`. I suspect you are debugging node since that error happens in our node adapter, thus following to @weinand

[2016-05-09 10:12] dbaeumer commented on #5050
To stop it either provide the setting using File > Preferences > Workspace Settings or disable it using the setting "php.validate.enable": false

[2016-05-09 10:16] dbaeumer commented on #880
You need to tell eslint to support ES6. Use the eslint es6 env setting to do so. See http://eslint.org/docs/user-guide/configuring#specifying-environments

[2016-05-09 10:17] jrieken commented on #6121
still wrong repo @mkyjakova ?

[2016-05-09 10:17] #6121 closed

[2016-05-09 10:17] dbaeumer commented on #6120
@egamma can you please answer. I know you wrote something up on how to support this.

[2016-05-09 10:18] jrieken commented on #6207
This issue was moved to OmniSharp/omnisharp-vscode#287

[2016-05-09 10:18] #6207 closed

[2016-05-09 10:19] isidorn commented on #5841
@bgashler1 yes I had something in mind like the first picture you attached.
@chrisdias I understand the concern that you might want to click on that pause button, but once the user clicks once and figures it is only a state he will no longer try to click it imho. It looks like the other badges which are also not clickable.

I am fine with pushing this to the backlog and introducing it once we deci

[2016-05-09 10:21] dbaeumer commented on #6139
@gregvanl can not reproduce an code-alpha which contains a new version of the tsserver (in comparison of 1.0).

[2016-05-09 10:21] dbaeumer commented on #6139
@gregvanl can you give it another test with latest.

[2016-05-09 10:24] dbaeumer commented on #6128
@pocesar can you please add the following setting to the workspace settings:
[code]

Open the Output Window (Ctrl+Shift+U) and switch to the TypeScript channel. Can you provide us with the output of the window. Helps us understand why the tsserver stops responding.

[2016-05-09 10:25] #6176 closed

[2016-05-09 10:25] dbaeumer commented on #6114
@vsccarl can you please provide the workspace showing this behavior. An easy explanation is that there might not be any problem matchers configured.

[2016-05-09 10:35] Chococat commented on #6196
Also happens on VSCode Version: 1.1.0-insider; OS: Windows 10 14332

[2016-05-09 10:36] dbaeumer commented on #6110
Checked and the task runner merges a process.env with the provided env. Since this only seem to happend when started from the GUI I doubt that this is caused by the task runner.

[2016-05-09 10:41] dbaeumer commented on #6083
@donaldpipowitch @rozzzly thanks a lot for all the suggestions. I will move the issue to the TS team since VSCode leverage the tsserver to provide TS/JS smartness.

[2016-05-09 10:41] dbaeumer commented on #6083
This issue was moved to Microsoft/TypeScript#8525

[2016-05-09 10:41] #6083 closed

[2016-05-09 10:44] dbaeumer commented on #6021
This issue was moved to Microsoft/TypeScript#8526

[2016-05-09 10:44] #6021 closed

[2016-05-09 10:46] weinand commented on #6173
@srlim please add your `launch.json` and a screenshot of the error message `Error: Attribute 'program' does not exist ('path')` here.

[2016-05-09 10:52] dbaeumer commented on #6079
@joaomoreno move the files to a new location. Since translations a scoped per file/folder location the files need to go through a translation cycle to get the menu translation back.

[2016-05-09 10:56] #5649 closed

[2016-05-09 10:59] dbaeumer commented on #6067
@mathewmeconry are you able to share your project. Looking at you folder layout it should work.

Please be aware that VSCode has no support for filesGlob in tsconfig.json. However in your setup VS Code considers all ts files below the directory containing the tsconfig.json file as part of the project.

[2016-05-09 11:00] weinand commented on #6100
@isidorn for now I'm returning the error as a dummy stack with one element:

![2016-05-09 12-59-23](https://cloud.githubusercontent.com/assets/1898161/15111222/ee01cd1e-15e5-11e6-9fd7-1b67717da633.png)

Please let me know if I can remove this workaround.

[2016-05-09 11:02] aeschli commented on #6206
This issue was moved to textmate/less.tmbundle#5

[2016-05-09 11:02] #6206 closed

[2016-05-09 11:03] dbaeumer commented on #6061
@dopare I am not fully understanding why you can't have a build2 task having the additional argument.

@isidorn we could extend the task runner API so that you can pass additional arguments which a user specifies in launch.json. Not sure so if you want to do down that road.

[2016-05-09 11:04] dbaeumer commented on #6061
@isidorn please open a request if you want me to add the additional API.

[2016-05-09 11:04] aeschli commented on #6195
What you see is what's expected. The currently implemented folding strategy is based purely on the indentation of lines. A folding region starts when a line has a smaller indent than one or more following lines, and ends when there is a line with the same or smaller indent.

To be more smart and to, for example, understand tags, we will have to go one step further and introduce language agnostic f

[2016-05-09 11:04] #6195 closed

[2016-05-09 11:05] isidorn commented on #5962
Just tried the before / after and that approach breaks our extension development story. Since the marker service gets continously updated when developing TS, so the error would be present event before the preLaunchTask is run. Thus I could not use the heuristic since errors while developing TS extensions would be undetected by debug. Thus it would be cool if the task framwork gave me more data.

I

[2016-05-09 11:06] dbaeumer commented on #6051
@aeschli assigning to you since this is a grammar thing. However I think we should close this one since css inside JS is to my knowledge not valid.

[2016-05-09 11:07] isidorn commented on #6061
@dbaeumer I do not want to go down that road. I was just not fully sure if we support the scenario @dopare is requsting using a build2 task. Since you say we do I am closing this, since this request cant be done by adding an additional task in the `tasks.json` and referencing that task in `preLaunchTask`

[2016-05-09 11:07] #6061 closed

[2016-05-09 11:09] dopare commented on #6061
I have simple task which is automatically generated by coreclr debugegr
[code]

this says that dotnet-build2 is not a shell command

[2016-05-09 11:10] dbaeumer commented on #5193
@vsccarl can you please open a new issue with steps how to reproduce this with CSS and JS. The original report talk about JS and HTML and I am not able to reproduce.

[2016-05-09 11:10] #5193 closed

[2016-05-09 11:15] pocesar commented on #6128
@bpasero it's a private repo, sorry

@dbaeumer here it is:

[code]

[2016-05-09 11:19] bpasero commented on #6184
@dbaeumer but I do that: https://github.com/Microsoft/vscode/blob/ben/stacks/src/vs/workbench/parts/files/electron-browser/textFileServices.ts#L186

[2016-05-09 11:28] johnliu2016 commented on #6150
@lukaschal please sent suggested translation to review

[findController.nls.resx.lcl](https://monacotools.visualstudio.com/DefaultCollection/Monaco/_git/MonacoLocalization?path=%2FLocalize%2Fchs%2Fvscode%2Fsrc%2Fvs%2Feditor%2Fcontrib%2Ffind%2Fcommon%2FfindController.nls.resx.lcl&version=GBmaster&_a=contents)

      <Item ItemId=";changeAll.label" ItemType="0;.resx" PsrId="211" Leaf="true">

[2016-05-09 11:40] skolmer opened #6208 "Read from OutputChannel in a vscode extension"
I want to read logging information from the Tasks OutputChannel and show a status bar information based on this data. I can only find a way to append text to a OutputChannel but no api to register to an output changed event. Is this scenario currently supported? Is there another way to get output from a running vscode task within an extension?

[2016-05-09 11:49] crystalgreen commented on #3783
+1
I had a similar issue (non existing compiler option) and I didn't get why my configured target=es6 got not accepted. Interestingly, it worked when compiling over command line but it failed when compiling over tsserver. See also the [related](https://github.com/Microsoft/TypeScript/blob/master/src/server/editorServices.ts#L1239) TS compiler code. Maybe one could get that error from tsserver back

[2016-05-09 11:58] dbaeumer commented on #6184
Assigning to @johnliu2016 then

@bpasero thanks for clarification. For the future: translation bugs can be directly assigned to @johnliu2016.

[2016-05-09 11:59] jrieken commented on #6097
Yes and when using the actual service it's good, but in the debug error telemetry case the service isn't used but just the shared node lib - which doesn't know about configuration

[2016-05-09 12:00] dbaeumer commented on #6128
Looks like the tsserver fails to process the requests. The file opened can't be mapped to any project. @pocesar can you think of anything special about the file in which this happens. Could you share your tsconfig.json file?

[2016-05-09 12:01] weinand commented on #6097
@isidorn is there a way to use the telemetry service instead of the the shared node lib?

[2016-05-09 12:02] isidorn commented on #6061
@dopare not sure why you get that error maybe @dbaeumer or @gregg-miskelly can comment

[2016-05-09 12:04] dbaeumer commented on #6061
The problem is that the taskName is automatically added to the command line as an argument. You can do the following:

[code]

[2016-05-09 12:06] dopare commented on #6061
@dbaeumer your solution is not working, it treat `"build"` as path, still same exception

[2016-05-09 12:09] dbaeumer commented on #6061
Can you add 	"echoCommand": true globally and provide me with the output of triggering build and build2

[2016-05-09 12:10] dopare commented on #6061
@dbaeumer  sorry, updated my comment
Its worked

[2016-05-09 12:10] alexandrudima commented on #6011
Dup of #5479 and fixed. This version of the insiders build did not have the fix yet.

[2016-05-09 12:10] #6011 closed

[2016-05-09 12:11] dbaeumer commented on #6001
Moving to TS.

[2016-05-09 12:11] dbaeumer commented on #6001
This issue was moved to Microsoft/TypeScript#8527

[2016-05-09 12:11] #6001 closed

[2016-05-09 12:15] dbaeumer commented on #6015
This issue was moved to Microsoft/TypeScript#8528

[2016-05-09 12:15] #6015 closed

[2016-05-09 12:18] isidorn commented on #6097
@weinand no, we were both discussing this with Sofian far back. Here's the pr https://github.com/Microsoft/vscode/pull/3054 and I forwarded you a mail thread where we were discussing this with Sofian

[2016-05-09 12:18] dbaeumer commented on #5980
@wangyibu can you provide the content of the tsconfig.json file?

[2016-05-09 12:22] dbaeumer commented on #4731
The input to the translation team contains extension as well. You can always check if the string got translated by checking the content in the i18n folder. Looks like this one didn't.

@jrieken moving back. Feel free to close and assume that the string will come back in the next translation round if correctly externalized.

[2016-05-09 12:23] dbaeumer commented on #5988
As said in the OneNote I only tested it under Windows :-). And the vscode-distro translations are Windows only. Need to check if this makes it fail.

[2016-05-09 12:24] skolmer opened #6209 "isWatching task as preLaunchTask in launch.json"
It would be nice to have a watcher task as preLaunchTask in launch.json. At the moment this is not possible because the launch task will not start before the preLaunchTask ends.
A long running preLaunchTask should have a regex similar to problemWatcher to wait for a specific text in the output window before executing the launch task.
In my scenario I'm running webpack dev server as a watcher task.

[2016-05-09 12:24] dbaeumer commented on #5987
They are however the content is generated on the first time use. If you switch later we don't replace the content. No further action planned.

[2016-05-09 12:24] #5987 closed

[2016-05-09 12:30] dbaeumer commented on #5976
@taoqf can you share your project. Otherwise it is very hard to understand what might cause this.

[2016-05-09 12:30] #6169 closed

[2016-05-09 12:31] dbaeumer commented on #5968
This issue was moved to Microsoft/TypeScript#8530

[2016-05-09 12:31] #5968 closed

[2016-05-09 12:34] dbaeumer commented on #5878
I rely on the tsc watcher here.

@Brakkar which version of tsc are you using (run tsc --version). And do you expierence the same behavior when starting tsc directly in a terminal for this project.

[2016-05-09 12:35] alexandrudima commented on #6081
No need to port this change from `release/1.1` to `master` because cb0977bb8d4a592a73654815bf0267f5a139d75f fixed it on master already. I just didn't realize it was a recent regression introduced by the new Electron version update.

[2016-05-09 12:35] #6081 closed

[2016-05-09 12:37] alexandrudima commented on #6081
Steps to verify:
* have a file.ts:
[code]

* hover over comeon
* right click on comeon
* click somewhere else (not on an action)
* hover no longer shows

[2016-05-09 12:38] dbaeumer commented on #5954
@warpdesign do you exclude the node_modules folder in the tsconfig.json?

If we want to have such a setting then it needs to go into the tsconfig.json. The symbols shown in the list come from the tsserver and IMO showing the lib.d.ts is correct since these symbols are globally available.

[2016-05-09 12:42] alexandrudima commented on #5649
@bpasero We could get it to reproduce only on the insiders build (not from dev, not from built without minification, really, only in the insiders build).

Steps to verify:
* install path intellisense extension
* reload a lot of times
* no exceptions should show, as the activation of extensions is now blocked on the main side confirming it received the extension descriptions.
* because the extensio

[2016-05-09 12:46] egamma commented on #6120
@simonguo @hiyangguo voila the link to the [JavaScript doc](https://code.visualstudio.com/docs/languages/javascript#_disable-syntax-validation-when-using-non-es6-constructs)

[2016-05-09 12:46] #6120 closed

[2016-05-09 12:46] egamma commented on #6120
Closing this issue since adding support for Object Rest Spread is already tracked in the TypeScript repository.

[2016-05-09 12:47] dbaeumer commented on #4162
@joaomoreno don't know either. When I tested it for node I change the system locale. I think you need to do the same for electron.

[2016-05-09 12:49] dbaeumer commented on #5769
@aeschli IMO we need to rethink this strategy here. Currently the workbench removes the markers for closed documents which causes issues. However if the service for some reason recomputes them they are added back.

This is something we need to tackle in May to get a better consistent story here.

[2016-05-09 12:51] dbaeumer commented on #5871
This issue was moved to Microsoft/vscode-eslint#75

[2016-05-09 12:51] #5871 closed

[2016-05-09 12:52] egamma commented on #6189
Emmet is enabled by default in PHP files. You can disable emmet abbreviation expansion on TAB using the following setting:
[code]

[2016-05-09 12:52] #6189 closed

[2016-05-09 12:52] dbaeumer commented on #5844
@aeschli do we still have that feature ?

[2016-05-09 12:53] dbaeumer commented on #5573
Great to hear.

[2016-05-09 12:55] srlim commented on #6173
This issue is not very consistent. One day it works but another day it doesn't. I'll try to get a screenshot when I see it again. So I think the repo itself doesn't have a problem but maybe there are some conflicts with Docker running in the background?

[2016-05-09 12:55] dbaeumer commented on #5792
This issue was moved to Microsoft/vscppsamples#41

[2016-05-09 12:58] weinand commented on #6173
@srlim it would help if you could share the launch config that produces the `Error: Attribute 'program' does not exist ('path')` error.

[2016-05-09 12:59] dbaeumer commented on #5777
IMO even in German, French we should not all caps these. In English they are:

![capture](https://cloud.githubusercontent.com/assets/1931590/15113772/95697056-15f6-11e6-9b7e-0f5ea3ee6055.png)

[2016-05-09 13:02] aeschli commented on #6054
The differences that you are seeing in JS and HTML are because we have different tokenizers than http://tmtheme-editor.herokuapp.com.
The scopes that tokenenizers should emit are only loosely specified, so there's no easy right or wrong. But if you have a specific request, please make a request with:
- code example showing a specific token
- the scope you are expecting for that token

[2016-05-09 13:02] #6054 closed

[2016-05-09 13:05] srlim commented on #6173
This is the launcher.json:
`{
			"name": "test",
			"type": "node",
			"request": "launch",
			"program": "${workspaceRoot}/node_modules/mocha/bin/mocha",
			"stopOnEntry": false,
			"args": ["test/ui-tests/*-tests.js"],
			"cwd": "${workspaceRoot}",
			"preLaunchTask": null,
			"runtimeExecutable": null,
			"runtimeArgs": [
				"--nolazy"
			],
			"env": {
			},
			"externalConsole": false,
			"s

[2016-05-09 13:05] aeschli commented on #6036
This issue was moved to Microsoft/TypeScript-TmLanguage#164

[2016-05-09 13:05] #6036 closed

[2016-05-09 13:07] aeschli commented on #6034
duplicate of https://github.com/Microsoft/TypeScript-TmLanguage/issues/121

[2016-05-09 13:07] #6034 closed

[2016-05-09 13:08] aeschli commented on #6014
@jaume-solis See Ben's comment.

[2016-05-09 13:10] bpasero commented on #5649
@alexandrudima thanks, I was able to reproduce from insiders on windows too.

[2016-05-09 13:21] aeschli commented on #6051
Th coloring of the provided sample looks all fine to me. Closing.
@vsccarl Scott, if I overlooked something, please reopen with more detailed information.

[2016-05-09 13:21] #6051 closed

[2016-05-09 13:23] #6100 closed

[2016-05-09 13:27] aeschli commented on #5844
The JavaScript quick fixes were lost when we updated to Salsa.

[2016-05-09 13:29] isidorn commented on #6209
@skolmer it is possible to have a watcher task as a `preLaunchTask` in `launch.json`. Just checkout the VScode typescript extension template - it has a watching preLaunchTask.
What is your watch task, can you create a small reproducable sample for which we can try to reproduce this.

@dbaeumer I guess it might happen that I am not getting an 'inactive' event from the tasks framework for @skolmer u

[2016-05-09 13:34] dbaeumer opened #6210 "Tree twisty not alligned under Linux"
- VSCode Version: 1.1.0
- OS Version: Linux

See screen shot:

![capture](https://cloud.githubusercontent.com/assets/1931590/15114724/94e707c4-15fb-11e6-9e80-750e4218b69a.png)

[2016-05-09 13:35] dbaeumer commented on #6210
@isidorn not sure if you or @joaomoreno

[2016-05-09 13:37] Hacklone commented on #1023
:+1:

[2016-05-09 13:38] sandy081 opened #6211 "Closing an unsaved file window is not showing the confirmation"
- VSCode Version: 1.1
- OS Version: Windows 8

**Steps to Reproduce:**

1. Open VS Code for any project
2. Create a new file
3. Write some text and close the window (Use either Ctrl + w or 'x' button)

**Expected**
- A confirmation dialog asking to save or cancel

**Actual**
- Window closes and file remains under working directory as is

[screencast.zip](https://github.com/Microsoft/vscode/files/2

[2016-05-09 13:40] isidorn commented on #6210
That is me, dup of #195
It should only happen on the last added watch expression

[2016-05-09 13:41] pom421 commented on #1012
I aggre! For some very special use cases, passing in overtype mode can be very useful (for example to create a padded table in ascii mode).
And in OS X there is no physical key to toggle insert/overtype so this future feature will be necessary to be accessed by a command or in the status bar (like Word).

[2016-05-09 13:41] isidorn commented on #6211
@sandy081 please also try with VSCode 1.0 so we see if it is a regression

[2016-05-09 13:42] dbaeumer commented on #6210
I am also seeing this in the VARIABLES pane

![capture](https://cloud.githubusercontent.com/assets/1931590/15114933/a63c7df0-15fc-11e6-8e56-95db5450362a.png)

[2016-05-09 13:42] skolmer commented on #6209
@isidorn [This](https://github.com/skolmer/react-hot-boilerplate-vscode) is the project boilerplate I'm working on. It has a watching task that runs webpack-dev-server. If you set `development` task as a prelauchTask in launch.json and hit <kbd>F5</kbd> you can reproduce the described behavior.

[2016-05-09 13:43] isidorn commented on #6210
@dbaeumer Then it is a different issue. In the explorer are the twisties aligned?

[2016-05-09 13:50] isidorn commented on #6209
@dbaeumer I double checked and I am not getting the Inactive event from the tasks framework in this case. Forwarding to you

[2016-05-09 13:53] aeschli commented on #6211
Closing, all fine.
The confirmation dialog only needs to appear with closing VS code, not just the editor.

[2016-05-09 13:53] #6211 closed

[2016-05-09 13:56] stevencl commented on #5841
Incidentally, @chrisdias, I don't see the debug toolbar disappear when switching to the explorer viewlet while in debug mode. As @bgashler1 mentions above, the debug toolbar might be enough feedback to communicate the state of the debugger as long as it doesn't disappear when switching to another viewlet when in debug mode?

[2016-05-09 13:59] isidorn commented on #5841
The debug toolbar does not dissapear

[2016-05-09 14:04] isidorn commented on #6210
It seems to be 1px lower than it should on linux. I also see it for the explorer - though it is less visible

[2016-05-09 14:04] Brakkar commented on #5878
@dbaeumer

tsc --v
Version 1.8.10

On the terminal I ran "tsc" from within project directory, the compiler did its job. But editing and saving files subsequently from vscode didn't trigger an rebuild.

[2016-05-09 14:08] isidorn commented on #6210
@bpasero why don't we add a win / mac / linux css class top level, similar to what we do with `vs-dark`. That way I could style this twistie differently for linux (move it on 1px up)

[2016-05-09 14:20] johnliu2016 commented on #5931
Dup of #6184

[2016-05-09 14:20] #5931 closed

[2016-05-09 14:26] johnliu2016 commented on #6184
@lukaschal Duplicate shortcut keys in [textFileServices.nls.resx.lcl](https://monacotools.visualstudio.com/DefaultCollection/Monaco/_git/MonacoLocalization#path=%2FLocalize%2Fchs%2Fvscode%2Fsrc%2Fvs%2Fworkbench%2Fparts%2Ffiles%2Felectron-browser%2FtextFileServices.nls.resx.lcl&version=GBmaster&_a=contents)

   <Item ItemId=";dontSave" ItemType="0;.resx" PsrId="211" Leaf="true">
        <Str Cat="T

[2016-05-09 14:27] isidorn opened #6212 "Cannot read property 'sendPendingData' of undefined"
- VSCode Version: alpha
- OS Version: el capitan

Steps to Reproduce:

1. run vscode out of source, open a generated ts extension
2. debug that extension -> new window is opened, in that window open a new workspace, notice an exception

![screen shot 2016-05-09 at 16 25 08](https://cloud.githubusercontent.com/assets/1926584/15116189/9e847b70-1602-11e6-8886-65d22351f93c.png)

[2016-05-09 14:43] lukaschal commented on #6184
Shortcut moved to "N" according to source.

File: src\vs\workbench\parts\files\electron-browser\textFileServices.nls.resx
ID: src\vs\workbench\parts\files\electron-browser\textFileServices.nls.resx
SRC: Do&amp;&amp;n't Save
TGT: 不保存(&amp;&amp;N)

[2016-05-09 14:46] arliang opened #6213 "Extension install should stay when focus lost for bad internet connections"
- VSCode Version: 1.1.0-insider (1.1.0-insider)
- OS Version: It may happen on all OS, not clear

Steps to Reproduce:

1. press **cmd(ctrl) - shift - p**
2. enter *install ext rainbow*
3. blur from Quick Command Action then it disappears and stops searching.

[2016-05-09 14:48] bpasero commented on #6187
Looks like in https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/search/node/textSearch.ts#L116 we are getting the new line characters (CR, LF, Bell (?)) and this causes the pattern to not execute because it is not going multiline.

[2016-05-09 14:50] johnliu2016 commented on #5777
@lukaschal  Key combination, keyname elements are in, e.g. deu
[keyCodes.nls.resx.lcl](https://monacotools.visualstudio.com/DefaultCollection/Monaco/_git/MonacoLocalization#path=%2FLocalize%2Fdeu%2Fvscode%2Fsrc%2Fvs%2Fbase%2Fcommon%2FkeyCodes.nls.resx.lcl&version=GBmaster&_a=contents)

Please review all of the languages, note the keys are in pair (short and long),
such as "ctrlKey" and "ctrlKey.lo

[2016-05-09 14:55] bpasero commented on #6101
@Janne252 hm, would you be able to provide a sample extension that I could run to reproduce this? I believe it has something to do with how the URI is created and flowing through the system. Thanks!

[2016-05-09 14:57] lukaschal commented on #6150
Waiting for linguistic input.

[2016-05-09 14:59] GuardRex commented on #6192
I'm the author of https://marketplace.visualstudio.com/items?itemName=GuardRex.status-bar-tasks

It would make sense for the output generated from the tasks fired off by the extension to appear in the existing Tasks output pane. As it stands, I had to create my own pane, which I called 'Status Bar Tasks.' Users now have two panes for basically the same ouput: If they execute a task using the comma

[2016-05-09 15:11] ClementVidal commented on #1690
:+1:

[2016-05-09 15:34] arve0 commented on #6107
No.

I've created a screen cast: https://youtu.be/xpZOi9hqT4M

Should also mention that I have a case *sensitive* file system. (You may notice that I'm using typescript 1.9.0-dev, ref #5161.)

[2016-05-09 15:37] mathewmeconry commented on #6067
@dbaeumer I shared already a part of the project tree at the issue description. Is this enough or do you need more? Unfortunately the code is not opensource.

The strange thing is, that it worked with VSCode before version 1 with this configuration. Do I need to change something with the update to version 1?
I didn't found anything in the release description

[2016-05-09 15:38] chrisdias commented on #5841
I'm sorry, I was wrong about the toolbar disappearing when you switch viewlets. The thing that I was thinking about was that you have to bring up the debug viewlet to be able to press the "Play" button. When I move away from the debug viewlet, there is no button to press, and I like to press the button rather than hit F5 for some reason. I apologize for the confusion.

Going back to the original q

[2016-05-09 15:45] The-New-Guy commented on #534
I'd be all for a command being added to configure this for the current user. Though I have to wonder why you don't just provide an option for installing the context menu to all users and then sticking the registry settings in the HKLM hive. Running a system as a non-admin should be what we are all doing these days right?

I converted the registry keys posted by @joaomoreno above into a PowerShell

[2016-05-09 16:07] weinand opened #6214 "Call Stack view doesn't show the "stopped reason" if stackTraceRequest returns error"
In the latest an error returned from stackTraceRequest is shown nicely, but the stopped reason isn't:

![2016-05-09 17-58-56](https://cloud.githubusercontent.com/assets/1898161/15119329/b02ba03e-1610-11e6-86d9-d52fd48e4978.png)

If the debug adapter returns the error as a fake stack frame instead, the reason is shown correctly:

![2016-05-09 18-04-04](https://cloud.githubusercontent.com/assets/189

[2016-05-09 16:19] weinand commented on #6107
@arve0 mentioning the case sensitive file system might have helped to find the problem: the node-debug extension references an AppleScript helper through a path with the wrong character case.

Could you please change the name of the Apple Script helper from `TerminalHelper.scpt` to `terminalHelper.scpt`. You can find the helper inside the VS Code application bundle:

`/Applications/Visual\ Studio\

[2016-05-09 16:22] arve0 commented on #6107
Sweet! That worked 🎉 Thanks.

[2016-05-09 16:24] #6107 closed

[2016-05-09 16:30] Janne252 commented on #6101
@bpasero [https://github.com/Janne252/vscode-uri-test](https://github.com/Janne252/vscode-uri-test)

[2016-05-09 16:37] weinand commented on #6100
@isidorn error shows up nicely but stopped reason is missing; see https://github.com/Microsoft/vscode/issues/6214

[2016-05-09 16:44] stevenbrix commented on #6117
I've noticed this as well. Not sure how it tries to detect what version of GIT I have installed, but I did not install Git to the default location (I chose c:\dev\git) so I don't know if that has something to do with it or not

[2016-05-09 17:21] sergio-garcia commented on #4338
The Ctrl+A also selects all text on the editor windows instead of the debug console.

[2016-05-09 17:26] MrSkinny opened #6215 "Intellisense no longer working? How to re-enable?"
- VSCode Version: 1.0.0
- OS Version: 10.11.4

I'm not sure exactly when this was disabled, but I used to get the Intellisense inline suggests without any special configuration.  i.e. I'm in a single javascript file, I declare a function that has an unused locally scoped variable, and Intellisense underlines it.

This no longer happens and I'm not seeing an obvious way to reenable this?  If I used

[2016-05-09 17:29] gregvanl commented on #6139
Still repros on latest code-alpha on Windows 10.

[2016-05-09 17:30] rkeithhill commented on #4935
@isidorn I've confirmed the fix.  Thanks!

[2016-05-09 17:37] bpasero commented on #6101
Thanks!!

[2016-05-09 18:12] pocesar commented on #6128
@dbaeumer here it is

[code]

## reference.d.ts

[code]

## admin-reference.d.ts

[code]

[2016-05-09 18:54] vsccarl opened #6216 "Errors and warnings not updated after changing language mode"
- VSCode Version: 1.1.0-alpha
- OS Version: Windows 10

Related: #5193

Steps to Reproduce:

1. Open a JavaScript file, mine by default had no errors.
2. On the bottom toolbar click JavaScript to change language mode
3. Select CSS
4. Observe that the error count has changed
5. Change language mode back to JavaScript

Errors are not removed until the file is removed from working files or restarting

[2016-05-09 19:23] vsccarl commented on #4722
@Tyriar Looks like some other changes fixed the modal issue. But now if you click more than once, the dialog will only show one at a time, but will continue to pop up how ever many times you click clean regardless of choosing clean or cancel.

[2016-05-09 19:28] v-pavanp commented on #5889
Thanks for the updates, I verified and getting debug console window all the time with my setting. But I observed that application behavior got changed for task window. I used to get task window all the time whenever I performed CTRL+SHIFT+B (build command) but now task window is not displaying all the time. With the latest alpha build I observed that user needs to explicitly open task window to se

[2016-05-09 19:34] joebehymer opened #6217 "Support relative paths in output and repl"
- VSCode Version: 1.0
- OS Version: OSX Yosemite

Steps to Reproduce:
1. Setup project with task runner that outputs tsc output to Output window with TSC 1.6.  Notice it uses full path names and you can click on a path to go to the file.
2. Upgrade project to TSC 1.8.  It now uses relative file paths and you can't click on them anymore.

with TypeScript 1.6 (working):http://imgur.com/sIQLu8I
with

[2016-05-09 19:38] isidorn commented on #5889
@dbaeumer can comment on the task window. As far as I know that is also dependent on the setting in your tasks.json

[2016-05-09 19:40] isidorn commented on #6217
I think this is just how our path detection works, and the new paths are not detected. @bpasero ?

[2016-05-09 19:45] isidorn commented on #6213
@arliang can you please provide a screenshot, or even better a gif?

For me it works fine

<img width="610" alt="screen shot 2016-05-09 at 21 44 43" src="https://cloud.githubusercontent.com/assets/1926584/15125843/48a49dfc-162f-11e6-8686-31d1f773f94c.png">

[2016-05-09 20:13] v-pavanp commented on #5889
OOPS! I forgot setting in tasks.json "showOutput": "always". Now It is working flawlessly. Thanks again.

[2016-05-09 20:32] aeschli opened #6218 "Git output doesn't contain sanity checking errors anymore"
- VSCode Version: 1.1, latest from HEAD
- OS Version: Linux Elementary OS

I want to commit, error dialag says there has been an issue, please check output, but no message in output.
![image](https://cloud.githubusercontent.com/assets/6461412/15127197/d86b4584-1635-11e6-8389-b0fef7d3b392.png)

[2016-05-09 20:41] #4485 closed

[2016-05-09 20:41] #5996 closed

[2016-05-09 20:43] aeschli commented on #5994
The currently implemented folding strategy is based purely on the indentation of lines. A folding region starts when a line has a smaller indent than one or more following lines, and ends when there is a line with the same or smaller indent.

To be more smart and to, for example, understand go multiline strings, we will have to go one step further and introduce language agnostic folding regions. W

[2016-05-09 20:43] #5994 closed

[2016-05-09 20:46] bgashler1 commented on #6204
@ashutoshraina, are you referring to the dark-blue background color and the light blue outline colors of the modal?

[2016-05-09 20:56] soichih commented on #6203
I just updated my original post. This issue only occurs if I enable 3D acceleration on the VirtualBox. It has to do with the latest version of Chrome (50?)

[2016-05-09 21:09] vsccarl commented on #6114
I was working with the [smoke test repo](https://github.com/Microsoft/vscode-smoketest-express) but I'm not able to repro on the latest build. I'll reopen if any other builds repro.

[2016-05-09 21:09] #6114 closed

[2016-05-09 21:31] xtianus79 commented on #4673
I don't why was this closed? nobody else has this issue?

[2016-05-09 21:38] MrVallentin opened #6219 "Very large editor wrapping column incorrectly wraps"
- VSCode Version: 1.1.0
- OS Version: Windows 10

I just updated to 1.1.0, and as soon as VSCode reopened the folder I was using prior to prompting the update the editor was broken. Broken in the way that each line only shows a single character.

![](http://i.imgur.com/6l8V3FB.png)

*I was looking at some code from an old University exam.*

Pressing <kbd>Alt</kbd> + <kbd>Z</kbd> (View -> Toggle Wo

[2016-05-09 21:43] MrTravisB commented on #224
I was originally against not having tabs. I even put off switching to VSC for a while since it didn't have tabs. Now that I've spent a couple weeks using VSC, I don't even want tabs. At this point I think they'd get in my way.

I hope when this is built it will be optional so those of us who want it can continue in the current environment.

[2016-05-09 22:03] vulture commented on #3505
FYI: the Electron crash service process that lies underneath uses a system global unique pipe name ("\\\\.\\pipe\\$1 Crash Service"  ==> "VSCode Crash Service") and if this pipe is already open (e.g. from a second copy of VSCode running) then it will print this error. So, it is probably a bug/design flaw in Electron rather than VSCode itself.

I have no idea whether the original VSCode process's c

[2016-05-09 22:10] vsccarl opened #6220 "Shift click multi-selection not as expected in Git viewlet"
- VSCode Version: 1.1.0-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Make some changes on a few files (more than 5)
2. Change to the Git viewlet
3. Click on a file under changes in the middle (file 3)
4. Hold shift
5. Click on file 5 (should have files 3-5 selected)
4. Keep holding shift, click on file 2.

In file explorer clicking files above or below while holding shift only selects t

[2016-05-09 22:16] bgashler1 commented on #76
Related to #459

[2016-05-09 22:20] bgashler1 commented on #6007
Related #459

[2016-05-09 22:21] bgashler1 commented on #1833
Related #459

[2016-05-09 22:23] bgashler1 commented on #459
@chrisdias any thoughts here?

[2016-05-09 22:32] enjoylife commented on #4485
Thanks for bug fix.. :clap:

[2016-05-09 22:33] enjoylife commented on #5996
Thanks for the bug fix.. :clap:

[2016-05-09 22:47] rauschma commented on #224
As someone who really likes vertical tabs (they scale much better and work better on widescreen displays), I’m wondering: Why do you need both tabs and “open editors”. If the latter is basically “working files” with tab behavior then that’s all I’d need/want.

[2016-05-09 22:53] Mirodil commented on #6029
the same issue with NodeJS v6.1.0 and VSCode 1.1.0

[2016-05-09 22:57] jackvial commented on #6219
Check your editor.wrappingColumn setting in user settings. Looks like it's set to 1 character. 300 is the default.

[2016-05-09 23:01] MarkPieszak opened #6221 "Proposal: Ability to move Debugging bar - or auto-shift for long file location paths"
Is it possible to have the `debugging bar`? It's difficult to see the file currently being viewed in when you're stepping through a debug process.

It'd be nice for it to either (self-shift) for long *location paths* or be able to move it someplace yourself. When debugging through large Node applications you can't see exactly what file you're working on, or where it is located. You have to constan

[2016-05-09 23:02] marcusrugger commented on #224
I want to add my vote to making sure the tabs are optional.  I really dislike editor tabs and much prefer panel on the left side of the window.  I understand adding them for the people who want them, but please, don't force them on us.  Not having them is one of the things I *like* about this editor.

[2016-05-09 23:04] weinand commented on #6029
@Mirodil are you debugging node v6 with VS Code 1.1 in 'attach' mode? If yes, please launch node with `--debug-brk` instead of `--debug`. Does it make a difference?

[2016-05-09 23:08] Mirodil commented on #6029
yes, it works with `--debug-brk` flag

[2016-05-09 23:11] weinand commented on #6029
@Mirodil thanks for trying. Here is the explanation:

VS Code injects code into node.js to work around slowness issues with large data structures. For reasons we do not yet understand this injected code fixes the issue in node v6 that requesting the call stack results in an "Internal error: illegal access" error.
VS Code injects the code with an 'evaluate' request.
The injected code uses a 'requir

[2016-05-09 23:13] Mirodil commented on #6029
thank you, I got it

[2016-05-09 23:15] Spown commented on #4798
I recon this ``smartStep`` option works only with TypeScript? Can we (pure js users) has this option also? For stepping only into project files and jumping over things like node_modules/**? Particularly #3215

[2016-05-09 23:18] OlsonDev commented on #224
My two cents: I don't ever want close buttons; to me, they're a waste of real estate that sometimes cause me frustration (accidentally click). It's much more difficult to accidentally middle-click than to accidentally click 1px too far to the left.

I also think dirty indicators are a waste of real estate. In Sublime Text, I configure "dirty" to just change the tab's font color. In the past, I've

[2016-05-09 23:18] buu700 opened #6222 "Symbols and IntelliSense don't work at all"
- VSCode Version: 1.1.0
- OS Version: OS X 10.11.4

Steps to Reproduce:

1. Open any TypeScript file
2. Open symbols, find all references, go to definition, etc.

Expected Result:

It should work.

Actual Result:

No symbols, no references, etc.

---

Not sure what I might be doing wrong. I've tried uninstalling/reinstalling VS Code and deleting ~/Library/Application Support/Code, and nothing seem

[2016-05-09 23:21] vsccarl opened #6223 "High contrast theme adjusts spacing on call stack file names"
- VSCode Version: 1.1.0-alpha
- OS Version: Windows 10

Steps to Reproduce:
1. Change theme to High Contrast
2. Debug
3. Hover over call stack items

![highcontrastcallstack](https://cloud.githubusercontent.com/assets/12900364/15131117/165ac2c2-1602-11e6-9089-0fb4b04bf161.gif)

[2016-05-09 23:42] MrVallentin commented on #6219
@jackvial wait so this update deleted my settings as well? Now when I go to File -> Preferences -> User Settings, it shows the "Default Settings" and not the one's I've set.

But even so it still says `"editor.wrappingColumn": 300` (obviously since it's the default settings). So something else must be wrong!

[2016-05-09 23:46] MrVallentin commented on #6219
By looking in the "Default Settings", I see that now you're supposed to do `"editor.wrappingColumn": -1` do disable wrapping.

[2016-05-10 01:15] Alexisvt commented on #6074
Hi! Im having the same error, every time that I format the code with the shorcut or the option menu it's repeating the last tag!
This is the version that I have:

![image](https://cloud.githubusercontent.com/assets/7120647/15132746/04a9b8a4-161a-11e6-9117-1480024758c5.png)

And this is the error:

![error](https://cloud.githubusercontent.com/assets/7120647/15132801/544f83ac-161a-11e6-81c7-85b909c7

[2016-05-10 01:17] Alexisvt commented on #6074
I didn't have this error before, this came out on this new version!

[2016-05-10 01:25] v-pavanp opened #6224 "Mouse hover on search result is not displaying truncated string."
- VSCode Version:1.1.10-alpha
- OS Version: Windows10

Steps to Reproduce:
1. Follow smoke test steps mentioned at **https://github.com/Microsoft/vscode/wiki/Smoke-Test** for search.
2. Verify search result.
3. Mouse hover on search result which is truncated and ends with ellipsis symbol.

Actual: Not getting full text when hover over on truncated string.
![image](https://cloud.githubusercontent.c

[2016-05-10 01:35] jbicks commented on #130
This is still an issue - yet it has been closed.  So has the duplicate #133.  Is this being addressed somewhere else, or can this be re-opened?

[2016-05-10 01:43] MeenaFawzy opened #6225 "PHP files open in 1 column"
- VSCode Version: 1.1.0
- OS Version: Windows 10

Steps to Reproduce:

1. Update VSCode from v1 to v1.1.0
2. Open any PHP file
3. PHP file oepn as a single column in the editor, sceenshot below
https://cloud.githubusercontent.com/assets/89722/15133201/2e04ef38-1661-11e6-8cdb-d8e332e4e7cb.png

[2016-05-10 02:34] vaishnav4226 commented on #6198
@GuardRex Thanks for the reply. I tried installing the latest SDK from the link you posted. After installing it, I still see the same version. Do I need to uninstall it first and reinstall it? Thanks

[2016-05-10 02:41] nguymin4 commented on #6110
- VSCode Version: 1.1.0
- OS Version: Ubuntu

I just updated vscode to 1.1.0 today and have similar problem with vscode-eslint. Starting vscode from terminal works fine but starting from GUI (clicking on vscode icon) doesn't because vscode does not pick up `PATH` variable. Everything work ok if I use vscode 1.0.0

[2016-05-10 02:41] #5976 closed

[2016-05-10 02:51] GuardRex commented on #6198
@vaishnav4226 Ah ... you may have run into this problem ... https://github.com/dotnet/cli/issues/2948

Do what I did: Uninstall any `dotnet cli`'s you see in `Programs & Features`, clean out any lingering registry keys (I think they're at: `HKLM > Software > Microsoft > dotnet`), clean up any lingering SDK's (should be found at `c:\Program Files\dotnet\sdk`. Probably a good idea to nuke the packag

[2016-05-10 03:30] heroboy opened #6226 "Some incorrect syntax highlight in typescript union type."
- VSCode Version:1.1.0
- OS Version:window 8.1

![11111](https://cloud.githubusercontent.com/assets/54468/15134870/7a0fc9ca-16a2-11e6-989e-71f625f5b8e3.png)

[2016-05-10 03:38] hongjianzhu commented on #224
The left side of the border is too wide

[2016-05-10 03:40] wangyibu commented on #5980
not set config
tsconfig.json is empty

[2016-05-10 03:43] arliang commented on #6213
Oh, I'm sorry that I forgot providing the screenshot.
For some WE-CAN'T-SAY-REASONS :smirk: , it's hard to connect to the Internet under the protect of GFW :disappointed: .
![cl8n2mgt 9lrtkr3 fdw j](https://cloud.githubusercontent.com/assets/1703022/15134935/3d2d28ee-16a3-11e6-933c-ddb464a03886.png)

So, this feature is not required outside the GFW :sad:

[2016-05-10 04:56] bpasero commented on #4673
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-05-10 04:57] jpaaso commented on #224
I was missing tabs too but noticed that the vertical Working Files list is actually better. I usually have many files open and many of them are called _index.js_ so it's important to see the file path. This works better with the vertical file list.

I set my ctrl+tab to switch between the Working Files so it's quick to browse the list up and down:
[code]

[2016-05-10 04:59] jumpinjackie opened #6227 "TypeScript: Rename refactoring stops at destructured objects"
- VSCode Version: 1.1.0-insider
- OS Version: Windows 8.1 x64

Steps to Reproduce:
1. [Destructure](https://basarat.gitbooks.io/typescript/content/docs/destructuring.html) an object of some known TS class or interface
2. Rename a member in the class or interface that is referenced in the destructuring statement

Expect: The destructured member name to be updated to matched the renamed symbol
Get:

[2016-05-10 05:00] bpasero commented on #6217
Yes, for output and repl we only detect absolute paths as links:

https://github.com/Microsoft/vscode/blob/ben/stacks/src/vs/workbench/parts/output/common/outputWorker.ts#L73
https://github.com/Microsoft/vscode/blob/ben/stacks/src/vs/workbench/parts/debug/browser/replViewer.ts#L97

Maybe we should revisit this though. The reason we pick absolute paths is to have less false positives but maybe when

[2016-05-10 05:13] anyong commented on #224
@be5invis @MrTravisB @rauschma @marcusrugger @jpaaso

Folks I understand that it's a long thread so you probably didn't read it all, but please read the posts around [here](https://github.com/Microsoft/vscode/issues/224#issuecomment-213015687). Tabs will be optional, the devs are already very, very aware of the points you are bringing up.

Would-be posters: please look through the thread to see if

[2016-05-10 05:25] be5invis commented on #224
@anyong However the “Open editor” separates the existing working file list into two half if you open two columns. I love the idea that there is only one “working files” for all columns.
Please make this optional either.

[2016-05-10 05:30] anyong commented on #224
@be5invis The only difference is that there is a visual separator. You can still drag the files around and open them in any editor you like.

[2016-05-10 05:31] be5invis commented on #224
@anyong Can I turn it off? And if I turn off the "separator", and ctrl-tab in one editor column, can I switch to a open file in the other column?

[2016-05-10 05:33] kalinkrustev commented on #6203
Seems related to this too: https://www.virtualbox.org/ticket/15375

[2016-05-10 05:36] anyong commented on #224
@be5invis from the comment I linked to above:

So yes, you can still set the key binding to keep the current Ctrl+Tab behavior if you want.

[2016-05-10 05:38] be5invis commented on #224
@anyong That's good.
But still, can I hide the indicator and make the list looks like a unity?

[2016-05-10 05:42] bpasero commented on #6101
@Janne252 there is some weird URI escaping happening, but I am able to fix this issue by changing the customHoverProvider.ts to create the file URI as follows:

[code]

[2016-05-10 05:42] #6101 closed

[2016-05-10 05:57] isidorn commented on #6213
What is GFW? Do you have an internet connection while you are trying the ext install command?
The ext install command will fetch the list of extensions from a server, thus you must have an internet connection while doing this

[2016-05-10 06:01] Franziskus1988 opened #6228 "Syntax highlighting error in typescript after double dot"
- VSCode Version: 1.1.0, 1.0.0
- OS Version: Windows 10 x64

Steps to Reproduce:
1. Set color theme to Dark+
2. Type something like: `var testvar = isTrue ? "hello" : "goodbye"`

![error](https://cloud.githubusercontent.com/assets/5774027/15136685/065ffc84-1684-11e6-9a99-66f631dca411.PNG)

[2016-05-10 06:01] isidorn commented on #6225
What is your editor.wrappingColumn, might you be facing this issue https://github.com/Microsoft/vscode/issues/6219
Does changing your editor.wrappingColumn to -1 solve the issue?
Do you only see this for PHP files or for any file?

[2016-05-10 06:04] isidorn commented on #6221
Thanks for the suggestions however this is a dupe of #4580

[2016-05-10 06:04] #6221 closed

[2016-05-10 06:06] isidorn commented on #6220
This is as desgined. The git viewlet is the only viewlet that support multiple selection.
The issue here is that our explorer does not support multi select yet.

[2016-05-10 06:06] #6220 closed

[2016-05-10 06:25] jrieken commented on #6208
dup of #6192

[2016-05-10 06:25] #6208 closed

[2016-05-10 06:27] #4731 closed

[2016-05-10 06:30] jrieken commented on #6216
maybe @aeschli

[2016-05-10 06:43] iEverX opened #6229 "language specific config"
is there a way to set different "editor.tabSize" for different language? like 4 spaces for python and 2 spaces for javascript

[2016-05-10 06:46] osenvosem opened #6230 "Task running indicator does not appear after first terminate"
- VSCode Version: Version 1.0.0 (1.0.0)
- OS Version: OSX 10.11.4 (15E65)

Steps to Reproduce:
1. Run task.
2. Terminate running task.
3. Run the task again.

![j5xdyswffl](https://cloud.githubusercontent.com/assets/6762673/15137663/e13d5a40-1693-11e6-890f-be7571dd89e4.gif)

[2016-05-10 06:47] anyong commented on #224
That would be a question for @stevencl

[2016-05-10 06:49] kresogalic8 opened #6231 "Terminal in editor?"
Is there any chance to have terminal built in editor?

[2016-05-10 06:55] egamma commented on #4888
Closing - stable is updated

[2016-05-10 06:55] #4888 closed

[2016-05-10 06:57] woei66 commented on #69
I had the same issue and added below lines to fix the problem
{
    "http.proxyStrictSSL": false,
    "http.proxy": "http://company-proxy.com:8080",
    "https.proxy":"https://company-proxy.com:8080"
}

[2016-05-10 07:08] krasi0 commented on #1690
+1

[2016-05-10 07:23] NicoleZA commented on #224
Yay! I hope we get tabs soon!

[2016-05-10 07:23] bpasero commented on #6078
@nchammas I am not able to reproduce, maybe it got fixed by our 1.1 update?

[2016-05-10 07:24] bpasero commented on #6078
My steps are:
* 2 monitors on Mac OS X
* terminal on monitor 2
* open code from terminal on monitor 2
* code opens on monitor 1 (where I left it before)
* focus is in editor

Do you have special settings? do you see a blinking cursor at least?

[2016-05-10 07:32] JarnoNijboer commented on #6231
Dupe of #143? They are currently working on it in this pullrequest #5985, and it's also in the May Iteration Plan #6105

[2016-05-10 07:39] kresogalic8 commented on #6231
Yep, didn't see that. Thanks for that @JarnoNijboer

[2016-05-10 07:39] #6231 closed

[2016-05-10 07:43] imsedim commented on #780
Happened to me when VS code tried to update to version 1.1 from version 1.0

[2016-05-10 07:46] kresogalic8 opened #6232 "Multiple projects in Editor?"
Is there any chance to have multiple projects in editor?

Mostly i want to copy/paste some modules that i wrote and every time i need to open project then copy that code and then again open back that current project that i am working and paste code.

That is really annoying for me.

[2016-05-10 07:47] isidorn commented on #6229
No, we have no such config yet.

[2016-05-10 07:58] JabX commented on #5131
The new 1.1 release brought some more details in the error:
`messageService.ts:128 - write EPROTO 0:error:140770FC:SSL routines:SSL23_GET_SERVER_HELLO:unknown protocol:y:\jenkins\workspace\electron-win-ia32\vendor\node\deps\openssl\openssl\ssl\s23_clnt.c:794`

If any of that helps.

[2016-05-10 08:31] dbaeumer opened #6233 "Support marker matches with startLine, startColumn and endColumn"

[2016-05-10 08:32] #6233 closed

[2016-05-10 08:35] jhasse opened #6234 "Ctrl+U doesn't scroll back to previous cursor position with more than 2 cursors"
- VSCode Version: 1.0.0
- OS Version: Fedora Linux 4.2.3-300.fc23.x86_64

Steps to Reproduce:
1. Open a big file.
2. Select a word, let's say `foo`, using Ctrl+D.
3. Press Ctrl+D again to select another occurrence of `foo`. Let's say the view scrolls to line 100 now.
4. Press Ctrl+D to select a third occurrence of `foo`. Let's say the view scrolls to line 200.
5. Press Ctrl+U.

What happens: The v

[2016-05-10 08:36] aeschli commented on #130
You are right, there's more to do.

[2016-05-10 08:46] dbaeumer commented on #6215
@MrSkinny we move to a unified JavaScript / TypeScript language service to better support JS. However this requires some more configuration which is documented here: https://code.visualstudio.com/docs/languages/javascript

We are also working on bringing back the prompting to download typings files.

Regarding the underlines unused: yes the new language service warns about unused locales. This can

[2016-05-10 08:46] #6215 closed

[2016-05-10 08:46] #6212 closed

[2016-05-10 08:53] Ikuyadeu commented on #6180
cff665d rename from `rename2` to `rename`.
But  /in18n/ file is still rename2.
 (ex. `vscode/i18n/rus/src/vs/editor/contrib/rename/browser/rename2.i18n.json`)

[2016-05-10 08:54] manoelcampos opened #6235 "Support native text control context menu"
- VSCode Version: 1.1.0
- OS Version: Mac OSX 10.11.4

Steps to Reproduce:
1. Open Visual Studio Code
2. Open any file
3. Right click in any word to show the popup menu
4. The native Mac OSX popup menu is replaced by a particular Visual Studio Code menu

However, the operating system native popup usually provides useful things such as spell check. Visual Studio Code popup menu options would be add

[2016-05-10 08:56] jmglezgz commented on #5647
I cannot find a solution. which is the correct issue?

Thanks,

[2016-05-10 09:00] dbaeumer commented on #6216
@aeschli the stale markers are CSS markers. However there is not easy fix here since we can't in general remove markers on mode change (for example spelling problems stay valid). I will keep the issue for now and will consider this when working on an improved marker story.

[2016-05-10 09:01] dbaeumer commented on #5647
There is no solution right now. It is a bug we need to address.

[2016-05-10 09:03] vinod-a-ext commented on #224
Great News ..we are Getting Tabs..But we don't want to loose 'Working Files' Folder .Keep it along with tabs
Isn't?

[2016-05-10 09:04] jrieken commented on #6180
you are testing this too early

[2016-05-10 09:04] #6180 closed

[2016-05-10 09:08] aeschli commented on #2529
Closing as we have no plans to go in that direction. Maybe an extension can pick that idea up.

[2016-05-10 09:08] #2529 closed

[2016-05-10 09:08] krabolov commented on #5071
Sorry for long silence, I was on vacation. Looks like in our project only definition files was included. According to documentation of typescript

So I just added to `files` attributes list our entry point `app.module.ts` and everything works.

VSCode works according to documentation for tsconfig, not a bug. Thank you for your help.

[2016-05-10 09:08] #5071 closed

[2016-05-10 09:09] aeschli commented on #130
This is related to #2000 and #2793

[2016-05-10 09:10] manoelcampos opened #6236 "Use native Mac OSX spell check"
- VSCode Version: 1.1.0
- OS Version: Mac OSX 10.11.4

Steps to Reproduce:
1. Open Visual Studio Code
2. Open any file that has some spell errors inside its content
3. The app will not highlight spell errors and grammar suggestions
4. It should be highlighted spell errors in red and grammar suggestions in green, that is a native feature of Mac OSX apps

The images below shows the differences betwe

[2016-05-10 09:12] dbaeumer commented on #6222
@buu700 would you be able to share you project? Do you have a tsconfig.json file to configure the TS language server for your project. See also: https://code.visualstudio.com/docs/languages/typescript

[2016-05-10 09:24] brandez commented on #69
I've read all the comments and none of them work for me. idk why. There's the solution wich was closest to work (but didn't):
[code]
If i leave this part: `"http.proxy": "http://proxyname",` away, there's a blue bar but after some time it disappears and the error pops up.

[2016-05-10 09:30] BairDev opened #6237 "Don't accept suggestion on `.`"
- VSCode Version: 1.1.0
- OS Version: Ubuntu 14.4, 64 bit

Steps to Reproduce:

1. Start a TypeScript file
2. Use methods on any kind of object, in my case lodash, which is imported and available globally as `_`
3. type *_* (or however you object is named), than *.* and if there are any suggestion for completion, the suggestion is accepted.

I'm not sure, whether this is a bug or intended behaviou

[2016-05-10 09:31] Burnett01 commented on #224
Awesome! Tab Groups

[2016-05-10 09:32] arliang commented on #6213
Well, GFW is an invisible wall between Internet and China LAN. It makes connections -- from the Mainland to Outland -- slow or fail. That's why there is a [cnpm](https://github.com/cnpm/cnpm) -- a mirror for npm which organized by Taobao.
I should not have talked about this.

At last, it may be better if the **Quick Command Action** keeps there when losing focus for those people whose internet con

[2016-05-10 09:38] isidorn commented on #6213
Thanks for more info, assigning to Joao

[2016-05-10 09:41] isidorn commented on #6235
FYI @bpasero

[2016-05-10 09:44] bpasero commented on #6232
Currently not, but we have other feature requests asking for this.

[2016-05-10 09:44] #6232 closed

[2016-05-10 09:46] arliang commented on #6213
Many thanks for the response :smile:

[2016-05-10 09:52] weinand commented on #6029
Node-inspector has the same issue: https://github.com/node-inspector/node-inspector/issues/864

Since code injection fixes the issue for the `--debug-brk` case, we only have to find a way to inject code when node has been started with `--debug`.

[2016-05-10 10:06] aeschli commented on #5986
I changed the PHP grammar to use the latest textmate grammar from https://github.com/atom/language-php.
Now when you use a theme like Monokai, you will get the coloring you want.
The VS Code default themes do, by design, only colorize declarations, not references.

[2016-05-10 10:07] #5986 closed

[2016-05-10 10:07] stevencl commented on #224
@be5invis You're right, we intend to show multiple editor groups in the open editors list once you split the editor. But you don't need to do this in order to be able to work with multiple files. You would split the editor to view more than once file at once. If you just keep one editor visible at any time you can still have multiple files open. For example, in this screenshot
![image](https://clo

[2016-05-10 10:26] LeviDettwyler commented on #906
Incredibly disappointed that this wasn't included in the initial release. Mac users are used to essentially all of their applications working this way. I just lost a lot of work because I incorrectly assumed that Microsoft was making this app Mac-friendly. This is not beta software, this is production software. Users are going to lose data because this is a **standard feature** for Mac document /

[2016-05-10 10:32] aeschli commented on #6228
This issue was moved to Microsoft/TypeScript-TmLanguage#165

[2016-05-10 10:32] #6228 closed

[2016-05-10 10:33] aeschli commented on #6226
This issue was moved to Microsoft/TypeScript-TmLanguage#166

[2016-05-10 10:33] #6226 closed

[2016-05-10 10:33] katopz commented on #101
ref https://github.com/Microsoft/vscode/issues/906

[2016-05-10 10:36] dbaeumer commented on #5980
Moving to TS since it looks like the tsserver doesn't honor the move of files correctly.

[2016-05-10 10:37] dbaeumer commented on #5980
This issue was moved to Microsoft/TypeScript#8543

[2016-05-10 10:37] #5980 closed

[2016-05-10 10:41] vinod-a-ext commented on #224
Go To Definition(F12) option need to be enhanced (Even the  Definition one is in another page with in the project))like sublime text?i'm facing this issue from long since i install VS code ?Any help on this?

[2016-05-10 10:44] stevencl commented on #224
@vinod-a-ext - please open a new issue describing the problem you are facing with Go To Definition.

[2016-05-10 10:48] weeblr-dev commented on #906
@bpasero I just read issue #101 linked above by @katopz, and I think I understand why you would not favor this change. This maybe a misunderstanding.

No, we don't expect changes changes to be written to files. We expect changes, ie the current editor content, to be saved. Nobody said it was to be saved in the actual file being edited. On top of possibly failing, as you hint at, this might not be

[2016-05-10 10:49] vinod-a-ext opened #6238 "Go To Definition(F12) option need to be enhanced (Even the Definition one is in another page with in the project))like sublime text?i'm facing this issue from long since i install VS code ?Any help on this?"
- VSCode Version:Latest 1.1.0
- OS Version:windows

Steps to Reproduce:

1. In your controller inject a service/factory for a http call
2. press F12 (go to definition ) to visit the factory which results negative?

[2016-05-10 10:52] vinod-a-ext commented on #224
@stevencl
Go to Definition Problem in VS Code
https://github.com/Microsoft/vscode/issues/6238

[2016-05-10 11:02] dbaeumer commented on #6128
@pocesar thanks for the additional information. I will move this to the TS team since they own the tsserver which power VSCode's TS smartness. I am not sure if planner.ts in this setup is considered part of the project defined by the tsconfig.json.

[2016-05-10 11:02] Sampo123 opened #6239 "Intellisense and code validator in JavaScript broken"
- VSCode Version:
Version 1.0.0
Commit fa6d0f03813dfb9df4589c30121e9fcffa8a8ec8
Date 2016-04-13T14:21:33.326Z
Shell 0.35.6
Renderer 45.0.2454.85
Node 4.1.1
- OS Version:
Debian Jessie

Steps to Reproduce:
Reproduction might be an issue as it seems to be severely broken in my project. I have added the jsconfig.json into root of my project and it looks like this:

{
    "compilerOptions": {

[2016-05-10 11:02] dbaeumer commented on #6128
This issue was moved to Microsoft/TypeScript#8544

[2016-05-10 11:02] #6128 closed

[2016-05-10 11:06] be5invis commented on #224
@stevencl My opinion is that you can hide the labels in the “open editor”, and simply draw a line to represent different panels. Once a panel is closed, then two lists can be merged naturally.

[2016-05-10 11:08] ashutoshraina commented on #6204
Yes, that is the issue. I was hoping for the modal to pick up the same scheme. The change in background colour is jarring.

[2016-05-10 11:09] martinring opened #6240 "Wrong rpm version"
- VSCode Version: 1.1.0
- OS Version: Fedora 23

Steps to Reproduce:

1. Download current rpm from https://go.microsoft.com/fwlink/?LinkID=760867
2. Try to install (console or gui doesn't matter)

It will not install if vscode 1.0.0 ist already installed because the rpm for 1.10 is also versioned as 1.0.0.

Workaround before fixed: uninstall vscode 1.0.0 beforehand or use `rpm --force --install`

[2016-05-10 11:12] stevencl commented on #224
Thanks for the suggestion, we'll definitely explore different visual treatments for this.

Date: Tue, 10 May 2016 04:06:34 -0700
From: notifications@github.com
To: vscode@noreply.github.com
CC: steven_clarke@hotmail.com; mention@noreply.github.com
Subject: Re: [Microsoft/vscode] Proper tabs for open files (#224)

@stevencl My opinion is that you can hide the labels in the “open editor”, and simply

[2016-05-10 11:12] martinring opened #6241 "Indicate VSCode Version on download page."
Currently there is no way to find out, which version is offered for download on the website. It would be great if the download page would indicate that in some way (or at lease the downloaded file would have the version in its name). Especially since versions seem out of sync quite regularly for a short period after release, which is annoying because the only way of finding out is to download and

[2016-05-10 11:38] MarkPieszak commented on #6221
Ahhh I didn't find that one! Apologies.
Hopefully it's on the radar :)

[2016-05-10 11:38] rippo opened #6242 "XML and format code (ALT + SHIFT + F)"
- VSCode Version: 1.1  (and 1.0)
- OS Version: Windows 10

Steps to Reproduce:

1.  Open any XML document
2.  Hit ALT + SHIFT + F nothing happens
3. Right click and the context menu does not offer you "format code"

![2016-05-10_12-36-31](https://cloud.githubusercontent.com/assets/772549/15145193/14b80c36-16ac-11e6-9c79-7ea7398cb44a.png)

[2016-05-10 11:42] rippo commented on #6242
Actually this has been discussed. https://github.com/Microsoft/vscode/issues/71  so will close

[2016-05-10 11:42] #6242 closed

[2016-05-10 11:52] ndkcha opened #6243 "[html] Cannot get close tag suggestions for HTML after updating to 1.1.0"
- VSCode Version: 1.1.0
- OS Version: OS X 10.11.4

Steps to Reproduce:

1. While editing html code

Before updating visual studio code, whenever I start typing closing tag. I used to get suggestions that result into proper indentation as well. But after updating it, I'm not able to do it.

I'm attaching screen shot

<img width="1280" alt="screen shot 2016-05-10 at 5 20 00 pm" src="https://cloud.g

[2016-05-10 11:55] Spown opened #6244 "debug: refresh values on doubleclick in the inspection panel and/or increasere responce tollerance of the debugger"
- VSCode Version: 1.1.0
- OS Version: WIN10 x64
- Node.js 4.4.4

I have a rather complex web-app, heavily reliable on express, mongoose, Q, etc... , thus making input->output chains extremely long from the compiler point of view. so more often than not debugger just gives up on me:
![](https://dl.dropboxusercontent.com/u/105338698/ShareX/2016-05/Code_2016-05-10_13-28-41.png)

And its not like thes

[2016-05-10 11:58] bpasero commented on #906
@weeblr-dev I have removed my comments on https://github.com/Microsoft/vscode/issues/101 because they do not reflect our latest thinkings. Sorry for the confusion. It is a perfectly valid feature request.

I would still close this one as duplicate of https://github.com/Microsoft/vscode/issues/101 though if you are ok with it?

[2016-05-10 11:59] bpasero commented on #101
I have deleted my initial comments on this feature request because it was my personal opinion and not the VS Code opinion. We think this is a perfectly valid feature request.

[2016-05-10 12:03] paranoid-android commented on #224
I'm curious, what program did you use to generate the mock ups, like [this one](https://cloud.githubusercontent.com/assets/1704059/15142642/e58d77e2-169d-11e6-8a6b-f9a86ad9f9a5.png)

[2016-05-10 12:06] MarkPieszak opened #6245 "Proposal: Ability to avoid certain modules/files/folders during debugging process - "smart code stepping""
- VSCode Version: _1.1.0_
- OS Version: OS X

Could it be possible to blacklist certain modules (let's say given libraries within `node_modules` from showing up during the Step Over / In / Out debugging process?

For example, let's say Library -Z- is a common one through out your Node application, but it's very low-level, it would be incredible to have some sort of Flag to say "Skip during debuggi

[2016-05-10 12:36] isidorn commented on #6244
Making the node debug timeout configurable makes sense to me. @weinand opinions?

[2016-05-10 12:38] isidorn commented on #6238
Please provide a short code snippet for which this behavior can be reproduced. Or even better create a repository on gitHub which we can clone and see this behavior

[2016-05-10 12:38] stevencl commented on #224
We used PowerPoint for these mockups. Our intent was to focus on the interaction flow, not the visual design so the tools in PowerPoint work fine for that level of detail. Doing things in PowerPoint also allows us to easily string together a sequence of screens to get a better feel for the flow.

Date: Tue, 10 May 2016 05:03:55 -0700
From: notifications@github.com
To: vscode@noreply.github.com
CC:

[2016-05-10 12:40] #1000 closed

[2016-05-10 12:43] jrieken commented on #6239
@Sampo123 Is this a type `node-modules` since it should be `node_modules`?

[2016-05-10 12:45] jrieken commented on #6237
A few languages define a rule like so: `"editorTextFocus && suggestWidgetVisible && editorLangId == 'typescript' && suggestionSupportsAcceptOnKey"` which means certain character accept completions *and* insert the character. It's by design but I understand that it's not desirable for everyone

[2016-05-10 12:49] alexandrudima commented on #6219
I've added optimization code that makes sure in certain places we use integers. I use a JS trick for that where `x | 0` is truncated to a int32. The problem is that `10000000000000000000 | 0 = -1981284352` and then it gets clamped to the minimum of `1`. One billion (`1000000000`) should be more than sufficient for your use-case, as that means if you have a 1GB line in a file it will be rendered on

[2016-05-10 12:53] Maximus5 commented on #5941
For unknown reason, Code reuses parent console to dump debug information,
which has no sense for general users.

To avoid that behavior, Code installer adds `bin` with `code.cmd` to `%PATH%`
instead of folder with `code.exe`.

So, when you run `code`, the `code.cmd` is executed actually, which blocks
automatic attach of code into ConEmu tab, because this cmd executes

[code]

The reason? I have ab

[2016-05-10 12:53] codyrigney92 commented on #6165
Awesome thanks!

[2016-05-10 12:57] Janne252 commented on #6101
@bpasero Thanks for figuring it out. Certainly does make sense to use a service to construct the URI rather than prepend the protocol.

[2016-05-10 13:01] stereokai commented on #2686
@bpasero  How about this? Is this a feature that a contributor can solve or only core team members?

[2016-05-10 13:07] lucidtech commented on #224
Just came here after seeing April release notes.  Thread open for a long time - but I am +1 for the original design - i.e. no tabs.  Initially it bothered me - but then I grew to appreciate and understand the philosophy behind it... Now when I think of Atom and the tab spam... I shiver.  All that aside - I love the engagement and thoughtful comments and feedback from the developers.

[2016-05-10 13:09] mattwilson1024 commented on #224
Looking forward to trying this out. One thing I'd love to see is combining of multiple related files into a single tab (similar to [this VS plugin](https://visualstudiogallery.msdn.microsoft.com/EBF6137E-AA2D-4DC9-860A-F04168F11CD7))

This would be really useful for keeping organised in Angular 2 development, where you commonly have related files:
- widget.component.ts
- widget.component.html
- wi

[2016-05-10 13:11] #5965 closed

[2016-05-10 13:11] #5981 closed

[2016-05-10 13:12] dbaeumer commented on #6067
@mathewmeconry as said from looking at the description of the issue I think things should work. However it looks like the don't. What exactly do you mean by

Since you can't share out project could you please do the following:

- open workspace preferences
- add the following setting
[code]
- open the output window and switch to the typescript channel
- do what causes the problem to appear
- attac

[2016-05-10 13:17] #3789 closed

[2016-05-10 13:18] dbaeumer commented on #6209
@skolmer I see your point. AS a workaround couldn't you define a problemMatcher with a regexp not matching anything. In the problem matcher you then set the watching property to define regular expression that signals when the watching tasks begins and when it ends. An example of such a property for the tsc watching compilation mode is:
[code]

[2016-05-10 13:18] isidorn commented on #3789
We now allow to call `vscode.commands.executeCommand('vscode.startDebug', 'MyConfigurationName');`

[2016-05-10 13:19] dbaeumer commented on #6209
We should support defining watch begin / end pattern without a problem pattern as well.

[2016-05-10 13:19] isidorn commented on #4615
We have tackled this issue as part of #3789
I will leave this one open for being able to take a json config directly - which we do not support at the moment.

[2016-05-10 13:21] dbaeumer commented on #5878
@Brakkar just to be sure. When you edit and save files in VS Code is the built triggered in the terminal running tsc?

To make sure things do not infer please don't start the task inside VS Code.

[2016-05-10 13:23] qwesda commented on #5851
could the mouse commands be customised in the `keybindings.json`? Like:
[code]

[2016-05-10 13:23] bpasero commented on #2686
This is not an area where we would easily accept PRs, sorry. It needs more thinking than just allowing to open the same folder in multiple windows. People might expect this to be a very light weight operation because the folder is already open in one window. In fact, the 2 windows share nothing and so you end up with multiple language services. I find this OK but not everyone in the team currently

[2016-05-10 13:24] bpasero commented on #6101
@jrieken maybe you could answer the question in https://github.com/Microsoft/vscode/issues/6101#issuecomment-218148979

[2016-05-10 13:27] jrieken opened #6246 "Test telemetry"
- [x] @seanmcbreen

Once again telemetry has undergone some refactorings, esp to fix #1000. The appending of events now happens inside the shared process such that DNS issues don't block the main thread anymore. We should **validate** that

* we still send the common properties, like `isNewSession`, `timestamp` etc etc
* we still send the common properties using the same data types, like `timesinc

[2016-05-10 13:27] aeschli opened #6247 "[typescript] Hover has not border anymore"
- VSCode Version: 1.1 2016-05-09T02:15:45.497Z
- OS Version: Linux Elementary OS

Dark+ theme

- open a TypeScript file, hover over an identifier: Hover lacks a border or a background color.

![image](https://cloud.githubusercontent.com/assets/6461412/15147925/5ab7c318-16c3-11e6-9913-7166dcb35f5b.png)

[2016-05-10 13:28] jrieken commented on #6246
@seanmcbreen fyi master of telemetry data

[2016-05-10 13:29] dbaeumer commented on #6139
Still not for me :-(. Do you have additional steps info ?

![bug](https://cloud.githubusercontent.com/assets/1931590/15148090/fac2af76-16c3-11e6-96d1-e38d83250024.gif)

[2016-05-10 13:31] buu700 commented on #6222
Thanks Dirk. It seems like I'm able to consistently reproduce this with any arbitrary TypeScript file even outside the context of any project, and I confirmed with someone else working on the same project that he couldn't reproduce this issue while working on the project.

That said, an almost up-to-date version of the project is at https://github.com/cyph/cyph/tree/master/shared/js, and the curre

[2016-05-10 13:38] isidorn opened #6248 "vscode.startDebug api command"
- [x] any os - **@weinand**

We have exposed `vscode.startDebug` command as an extension API. Verify:
* you can start debugging from an extension by invoking this command
* you can pass in the name of your configuration in `launch.json` as an argument.
* you can pass the full json object of your configuration as an argument
  * if your json contains a `"noDebug": true` start without debugging is s

[2016-05-10 13:41] weeblr-dev commented on #906
@bpasero Yes, sure. I thought about that when I realized #101 was created some times before this one.

[2016-05-10 13:43] RyanEwen commented on #5908
I am seeing this after updating to 1.1

[2016-05-10 13:50] weinand commented on #6245
@MarkPieszak VS Code 1.1 supports something like this already: see section "Smart code stepping" in https://code.visualstudio.com/updates#_nodejs-debugging
Currently this only works for a very specific use case, but it should be possible to extend this to your scenario as well.

[2016-05-10 13:57] lukaschal commented on #5777
Capitalization of strings "Ctrl", "Alt", "Shift" is fixed on all languages.

[2016-05-10 14:01] jrieken commented on #6101
@Janne252 `Uri.file` always assumes to argument is a file path - that means url-specific characters like `#` and `?` will be encoded. To add query parameters and a fragment you should use `Uri.parse`

[2016-05-10 14:05] bpasero commented on #906
Ok good.

[2016-05-10 14:05] #906 closed

[2016-05-10 14:07] buu700 commented on #6222
Also, as per that document, last night I tried configuring a task runner as well. This allowed me to successfully build the project and see the output in VS Code, but had no impact on my problem.

[2016-05-10 14:10] MarkPieszak commented on #6245
Thanks @weinand I'm looking at it right now, you guys are one step ahead of me, glad it's at least in the works! :+1: I'll close this out since it's already on your guys radar.

[2016-05-10 14:13] jrieken commented on #5689
Closing since info is still missing.

[2016-05-10 14:13] #5689 closed

[2016-05-10 14:13] jrieken commented on #6131
@Zalatos ping

[2016-05-10 14:15] jhasse commented on #6217
Wouldn't it be possible to use the `problemMatcher` also for the clickable links?

[2016-05-10 14:19] weinand commented on #6245
@MarkPieszak let's keep this feature request open until your scenario is actually supported...

[2016-05-10 14:21] MarkPieszak commented on #6245
Sounds good to me, I can keep testing it as features get released as well.

[2016-05-10 14:22] stevehipwell commented on #6029
+1

[2016-05-10 14:23] weinand commented on #6245
@MarkPieszak great! I'll let you know.

[2016-05-10 14:24] weinand commented on #6029
I found a way to inject code into a node.js started with `--debug`. This fixes the initial problem.
The fix will be available in VS Code - alpha.

[2016-05-10 14:26] hickford commented on #3949
I have a similar problem "Error starting OmniSharp"

[2016-05-10 14:28] #6029 closed

[2016-05-10 14:30] skolmer commented on #6209
@dbaeumer Thanks! I wasn't aware of the watching config. [This](https://github.com/skolmer/react-hot-boilerplate-vscode/commit/a066924233cc16e844db0feb25482313605adbad) did exactly what I wanted to achieve.
[code]
It is showing `The problem pattern is invalid. It must have at least a file, message and line or location match group.` in the output but is working as expected.

[2016-05-10 14:33] Zalatos commented on #6131
Ah sorry about that.

finally got round to it today.

Thanks for the info on the information buzzer on the bottom left.

I had assumed the extension was already installed since i couldnt find any progress bar and such.

Left it open to run the installation and it installed successfully. it seems I finished making my edits and opened a new window with a new file or gave up and went to normal VS bef

[2016-05-10 14:36] #6224 closed

[2016-05-10 14:41] bpasero commented on #6217
Yes, I think bringing in support for using problem matcher patterns is a good idea.

[2016-05-10 14:44] jrieken commented on #6131
Should continue, but @joaomoreno knows for sure

[2016-05-10 14:44] #6131 closed

[2016-05-10 14:47] Peter-LaComb opened #6249 "Latest update (1.1.0) breaks entire UI."
- VSCode Version: 1.1.0
- OS Version: Windows 8.1

Steps to Reproduce:

1. Alllowed latest version to install
2. Launch VS Code
3. Notice that the entire UI is unusable/black/grey. Only the about box works.

This appears to be a video acceleration issue - moving the window sometimes redraws the UI correctly.

![image](https://cloud.githubusercontent.com/assets/1329239/15150767/8cc36d2a-169c-11e6-9

[2016-05-10 14:48] mathewmeconry commented on #6067
@dbaeumer As you see in the folder tree we've a folder called "src" where all the source files are located. The compiled .js files are located after compiling in "dist" folder.

Project root
├── dist
├── src
│   ├── .ts source files

So the problem is now the following:
When I open the project root in VSCode I'm not able to use function like "Find all References" and code completion.
![notworking]

[2016-05-10 14:50] vinod-a-ext commented on #6238
1.factory.js file
`(function() {
'use strict';

    app.factory('Service', function() {
        return{
            Callmefromcontroller : function() {
           return '1';
                }
        }
});
});
`
2.controller.js

`
 Controller of the App

app.controller('Aboutus2Ctrl', function ($scope,Service) {
Service.Callmefromcontroller();

  });`

[2016-05-10 14:52] vinod-a-ext commented on #6238
when i press F12 on Callmefromcontroller in controller.js I need to go to Callmefromcontroller defintion method which is in factory.js file?Any help on this

[2016-05-10 14:54] weinand commented on #4798
@Spown feature request https://github.com/Microsoft/vscode/issues/6245 covers your suggestion.

[2016-05-10 14:55] joebehymer commented on #6217
I appreciate the general fix to this is to support relative paths, and additional support for problem matchers would be awesome (I did try it!).

I hope that the fact that this is not a general language problem but a TypeScript problem should influence it's priority.  Heck, you guys are using TS 1.8 in vscode itself, do you not miss these?  Or maybe you never have any errors :)

[2016-05-10 14:56] aguevara716 commented on #92
I just attempted to upgrade my Visual Studio Code to v1.10, but I kept getting this error. I was originally unzipping the archive using Stuffit Expander 16.0.5 from the Mac App Store when this happened. I don't know what possessed me to try it, but I unzipped the archive using the built-in Archive Utility and guess what? It worked fine after that.

[2016-05-10 15:02] lukaschal commented on #6150
New translation implemented.

File: src\vs\editor\contrib\find\common\findController.nls.resx
ID: ".resx", 0; "changeAll.label"
SRC: Change All Occurrences
TGT: 更改所有匹配项

[2016-05-10 15:02] #6150 closed

[2016-05-10 15:04] jrieken commented on #6238
@vinod-a-ext I formatted the snippet to your previous comment, hope it's still correct.

[2016-05-10 15:06] jrieken commented on #6238
and to clarify, you want `go to definition` understand the service injection tricks such that the editor knows that the `Service` argument has been injected and find where it was defined?

[2016-05-10 15:07] #5919 closed

[2016-05-10 15:08] aeschli commented on #5592
Closing then. Feel free to reopen if you see this again.

[2016-05-10 15:08] #5592 closed

[2016-05-10 15:14] dmahurdle opened #6250 "Snippet tabstop order is meaningless."
- VSCode Version: 0.10.11
- OS Version: OSX 10.10.5

The [snippet documentation](https://code.visualstudio.com/Docs/customization/userdefinedsnippets) implies that $1, $2 will create ordered tabstops, but the tabstops are eventually just ordered based upon which occurred first in the template line.

For example, I'd love a snippet like this for typescript:
[code]

to default the starting tabstop p

[2016-05-10 15:14] vinod-a-ext commented on #224
Agreed with @lucidtech  we used to 'working Files' Folder .I think tabs can combine along with this great option?

[2016-05-10 15:16] vinod-a-ext commented on #6238
Spot on @jrieken i need same thing which done perfectly in sublime text editor

[2016-05-10 15:28] rakkarage opened #6251 "multiple references, same line"
![2016-05-10 1](https://cloud.githubusercontent.com/assets/962340/15151508/62bc19ac-169f-11e6-80c5-b4e704da5161.png)

when multiple references on same line...
idk looks kinda cluttered and does not line up...
i appreciate that it even works at all and remember when it did not.
but if if showed only the number when multiple they would at least line up
but that would look bad and be hard to click
no

[2016-05-10 15:32] bpasero commented on #6249
@Peter-LaComb is this on a VM?

[2016-05-10 15:34] bpasero commented on #6249
Also can you try running `code.exe --disable-gpu` from a command prompt from the installation folder of code to see if it makes any difference?

[2016-05-10 15:41] jrieken commented on #6238
ok. moving to the TypeScript team which provides the brain the behind JavaScript and TypeScript smartness in VS Code. I know they have been starting some work on support for angular et al

[2016-05-10 15:41] jrieken commented on #6238
This issue was moved to Microsoft/TypeScript#8547

[2016-05-10 15:41] #6238 closed

[2016-05-10 15:54] evmar opened #6252 "OutputChannel.hide doesn't hide the window(?)"
- VSCode Version: 1.0.0
- OS Version: Ubuntu Linux

If you put this code in an extension:

[code]

Then you see the "ls" output and the "exit" message, but the call to `hide()` doesn't seem to hide the window.

[2016-05-10 15:56] weinand commented on #5966
@isidorn since you've removed the workaround for the issue with stopped events overtaking request results, it should now be possible to disable the step action UI until a previous action has finished, right?

[2016-05-10 16:00] Peter-LaComb commented on #6249
1) Not on a VM.
2) code.exe --disable-gpu works perfectly. WIsh I had seen that in the docs.

[2016-05-10 16:01] nchammas commented on #6078
Hmm... I can't reproduce this anymore, even before upgrading. I *am* using a different machine this time though, so perhaps my issue is limited to the machine I was using before.

I'll reopen if I can figure out more specifically when this problem occurs.

[2016-05-10 16:01] #6078 closed

[2016-05-10 16:05] isidorn commented on #5966
@weinand theoretically yes. If we go into 'continue' mode as soon as we send a step event the step actions will be nicely disabled. However this will also cause the variables tree to clear and that will have tree flickering as a result between step commands. So I have to experiment more with this to see what is the best solution. Clearing the tree with a timeout sounds like a potential solution.

[2016-05-10 16:06] #4615 closed

[2016-05-10 16:07] JVimes commented on #5624
Today I found a use case for the current sash behavior: I want to make one editor bigger, but have the other two even with each other. I resize the first editor, then double-click the remaining sash.

This won't work with >3 editors if we implement that in the future. Trying to think of a UI design for the general case.

[2016-05-10 16:09] isidorn commented on #4615
Ok, we now allow both
`vscode.commands.executeCommand('vscode.startDebug', 'MyConfigurationName')` and something like
[code]

Notice that if the passed argument is a string we will try to find the launch configuration in launch.json, if the passed argument is an object we will try to use it as a launch configuration.

Try it out on the alpha channel and let me know what you think - thank!

[2016-05-10 16:10] isidorn commented on #3789
We still support this, but we also support passing in the json object, please check my comment in #4615

[2016-05-10 16:18] bpasero commented on #6249
@egamma @gregvanl we should add this to our FAQ when people run into UI issues like this one, do you agree?

[2016-05-10 16:45] jbrook10 opened #6253 "Missing button images"
- VSCode Version: 1.1.0
- OS Version:  Windows 7

Steps to Reproduce:

1. Open up VSCode
2. Look around and see missing icons on buttons (they work when you click them)
3. Example has missing debugger icons / debug settings / tab close icons
4. This is the first version I have ever installed.

![vscode](https://cloud.githubusercontent.com/assets/19290608/15154687/7d61d580-16a4-11e6-86f0-fdef84c698

[2016-05-10 16:50] johncruise commented on #206
+1

[2016-05-10 16:56] bgashler1 commented on #6223
@vsccarl awh yes.  Thanks for reporting this.  Will get on it.

[2016-05-10 17:09] AshleyGrant commented on #224
I agree with @coreh that the location of the close tab button should match platform conventions. It would be a rather frustrating context switch to have the location of the close button change when I move from Visual Studio to Visual Studio Code.

[2016-05-10 17:14] orospakr commented on #224
My two cents: One reason why I *love* Code over Atom, Sublime, or any of the other, ahem, hipster editors is that it doesn't try to shoe-horn in the web browser "tab" concept.  The traditional IDEs such as Visual Studio, IDEA, and Eclipse all do this too.  Code, on the other hand, has a "frames and buffers" approach, akin to what you'd find in Emacs (and Vim, too, I believe).

Inevitably, in any t

[2016-05-10 17:25] rob3c commented on #2091
alexandrudima I can understand this may not be a high priority item and hasn't been addressed yet, even though it's quite frustrating for some of us on a daily basis. However, would you mind explaining why you removed the bug label in light of my previous comment?

[2016-05-10 17:30] bpasero commented on #6253
@jbrook10 does the entry around "missing icons" on http://code.visualstudio.com/Docs/supporting/faq#_windows-faq help?

[2016-05-10 17:32] gregvanl commented on #6139
![missingintellisense](https://cloud.githubusercontent.com/assets/12818376/15156143/7f7d70f4-169a-11e6-8e43-c665c3670759.gif)
Here's a repro on another machine Windows 7.

[2016-05-10 17:33] jeffyoung commented on #426
Perhaps hidden in #3579 was the request for an extension to have this functionality as a part of the **command** structure (and not particular to an input box).  In that issue, it is described that an extension author may want to have command 'options' show up as they type a command name.  For instance, given commands today that are hard-coded as:

team create bug
team create task
team create work

[2016-05-10 17:35] gregvanl commented on #6139
The .gif above was done with 1.1 stable but it also repros with latest code-alpha

[2016-05-10 17:36] Fiontan commented on #224
Tabs are a must for me and another suggestion for e.g. angular 2.0 grouped tabs for related files is a great idea too. If the feature is configurable then those whose preference differs will be happy too. When can we try!!!???

[2016-05-10 17:39] marcusrugger commented on #224
@orospakr, you can turn off the tabs in Sublime through a menu option.  Just FYI.

[2016-05-10 17:45] jbrook10 commented on #6253
@bpasero The FAQ solved the issue for me.  Thanks!

[2016-05-10 17:46] realitylord commented on #5696
@alexandrudima I see that the issue on Chromium side was fixed.
Is there any chance to move this issue from Backlog to some milestone in near future? :)
Thanks.

[2016-05-10 17:55] elad commented on #101
@bpasero I'm glad to hear that and I'm sure others are, too. I can testify that as far as Sublime replacements go, Atom doesn't look too good because it feels very slow and laggy, and I would love to have the option to switch to VS Code. That said, losing data is something that in 2016 should be off the table. I want my tabs restored when I reopen the browser and I want my unsaved/untitled buffers

[2016-05-10 17:55] FremyCompany opened #6254 "Typescript syntax hightlighting incorrect on ternary expressions"
```var newVariable = condition ? expression1.value : expression2.value;```

- **The second expression is rendered as a Typescript type.**
- Intellisense still works, though.
- VSCode Version: 1.1.0

[2016-05-10 17:59] bbenoist commented on #5941
@Maximus5 Thanks for the answer!

 Why this workaround was chosen instead of implementing sort of  --dump_debug_to_console  switch
 for those cases when it's really required?

I think @kevinsawicki could help answering your questions as it looks like he introduced the wrapper with https://github.com/atom/atom/pull/4560

Solution worked for CMD but not for PowerShell (ConEmu alias doesn't seems to

[2016-05-10 18:00] patsissons commented on #6178
This is a fantastic idea. Ensuring a consistent workspace across developers would help with code (style, linting, UX) consistency.

[2016-05-10 18:01] bbenoist commented on #5941
@Tyriar As I have a workaround, feel free to close this issue if you do not intend to implement a more convenient fix.

[2016-05-10 18:18] #6253 closed

[2016-05-10 18:23] Spown commented on #6245
just to keep things connected:  #3215

[2016-05-10 18:23] natewallace opened #6255 "VSCode 1.1.0 doesn't recognize Git installed on OS X"
- VSCode Version: 1.1.0
- OS Version: OS X Yosemite (10.10)

Steps to Reproduce:

1. Have Git version 2.6.2 installed.
2. Open VSCode
3. Display the Git view in VSCode and notice that it says 'It looks like git is not installed on your system.'

The Git integration was working for quite a while until I upgraded VSCode to version 1.1.0.

[2016-05-10 18:34] Maximus5 commented on #5941
@bbenoist You have no garbage, because it's hidden by code window due to `-new_console` switch.
Try to run just `code` and see the awful result.

[2016-05-10 18:38] vsccarl opened #6256 "Javascript does weird formats on save"
- VSCode Version: 1.1.0-alpha
- OS Version: Windows 10

Steps to Reproduce:

For my repro I was working on developing an extension generated by Yo.
1. Open extension.js
2. Delete an ending semi-colon somewhere
3. Save

It removes the extra line spacing between the brackets of the deactivate function at the bottom. It also adjusts the function bracket spacing of the function inside disposable.

![s

[2016-05-10 18:47] Sampo123 commented on #6239
Hey, it might be typo but I do not recall it having much of an effect as I just added some excludes randomly when nothing seemed to work.

Though even if it is the source of my problems, I do not think that the behavior should be like this. As in kind of a silent death without any tool tips or help messages telling me where the problem is?

[2016-05-10 18:57] bbenoist commented on #5941
@Maximus5 You're right 😭

![image](https://cloud.githubusercontent.com/assets/2091902/15158766/a0ada7b0-16f1-11e6-89ed-a87c7472a7c6.png)

[2016-05-10 19:10] eyalsk commented on #224
@orospakr

There's a ton of feedback about why people want tabs aside of familiarity, not to mention that if it's familiar and people are comfortable with it then it doesn't make sense to get creative and innovate something where there's already something that works.

They tried to innovate with the "working files" and one group liked it, the other disliked it and here we are today asking for tabs

[2016-05-10 19:15] vsccarl opened #6257 "Intellisense suggests variable.variable.variable.etc for Javascript"
- VSCode Version: 1.1.0-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Open a JavaScript file
2. Type, for example, "console."
3. type con

Intellisense will suggest variable.variable.variable indefinitely for all intellisense suggestions.

[2016-05-10 19:37] muellerkyle commented on #224
I know that I am a little late to the game here, but in regards to this section:

I would like to request that "Adding a bookmark" be included in the above list.
I find it extremely frustrating to add a bookmark to a large file and then inadvertently click on another file, closing the working file.

It's very unlikely that I have added a bookmark to a file that I intend to close immediately.

[2016-05-10 19:40] gujiman commented on #446
Is there any difference between Monaco Editor and Winjs (http://try.buildwinjs.com/)? They both seem similar. Will Monaco be better than Winjs?

[2016-05-10 19:47] jasonmit commented on #5422
I'm experiencing this in node 4.4.3, I'll report back with more details shortly.

[2016-05-10 19:49] jhaberstro opened #6258 "C++ code folding does properly handle macros that are not fully indented."
- VSCode Version: Version 1.0.0 fa6d0f03813dfb9df4589c30121e9fcffa8a8ec8
- OS Version: OS X 10.11.4

Steps to Reproduce:

1. Create a C++ file
2. Insert the following code and notice how code folding works correctly:
[code]
3. Add some if-endif macros that are not indented the same as the body of the if statement and notice that only code up to the #if is folded, e.g.:
[code]

[2016-05-10 19:51] dfaivre commented on #818
@egamma - just for clarity, if the linked issue gets implemented, VS Code will automatically get it as well?  This is feature is one the main reasons I still use WebStorm over VS Code.

[2016-05-10 19:51] Xiltch opened #6259 "Change All Occurrences on folded/collapsed sections"
- VSCode Version: 1.0.0
- OS Version: Windows 7 Enterprise Service Pack 1
Steps to Reproduce:

VB file type

1. Have some of the target items that would be changed in a section folded/collapsed and not visible
2. Select the keyword and trigger 'Change all Occurrences'
3. Make your change
4. Keyword in the folded section is not changed but instead the new keyword is on the topmost line of the folde

[2016-05-10 19:56] #4101 closed

[2016-05-10 19:58] nikeee commented on #446
@gujiman The WinJS site seems to use a version of monaco, since it uses classes like `monaco-editor vs-dark`. The WinJS library itself does not seem to contain any code editor controls.

[2016-05-10 19:59] waderyan commented on #6241
Good suggestion. Added to vscode-website backlog.

[2016-05-10 20:01] rhurkes commented on #5422
For anyone seeing issues in places besides node 6.0, verify that nvm (or similar) isn't confusing things. I had to use launch.json's runtimeExecutable setting to get node 4.4.3 working with nvm while node 6 was installed as an OS package.

[2016-05-10 20:01] dougbu opened #6260 "Add horizontal scroll bar for build messages and in debugger windows"
- VSCode Version: 1.1.0
- OS Version: Windows 8.1
 - C# extension used in some screen shots below: [`v1.0.5-rc2`](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.0.5-rc2)

##### Steps to Reproduce:
1. Show Errors and Warnings in a project with a few of each.

or

2. Stop at a breakpoint in a project using long-named classes or with a deeply-nested property hierarchy.

##### Notes
Hig

[2016-05-10 20:07] jasonmit commented on #5422
@rhurkes I am attaching to the process in this case, so I don't specify a `runtimeExecutable`.  Also, some breakpoints hit and can be inspected whiled others hit and cannot be inspected.  Unfortunately, nothing in the developer console to provides any insight into what may be happening.

[2016-05-10 20:29] vsccarl opened #6261 "F5 to start debugging not working with Extension debugging"
- VSCode Version: 1.1.0-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Use yo code to generate a Code extension (Javascript)
2. Open the extension folder
3. Navigate in Explorer to extension.js and open it (you can make changes, but it is not necessary)
4. Press F5

Nothing happens. It works before opening extension.js but after the key just doesn't work to start debugging.

[2016-05-10 20:33] vsccarl opened #6262 "[Latest alpha] Having to save twice"
- VSCode Version: 1.1.0-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Open a js or json file
2. Modify something (or just retype something to dirty the file)
3. Save

After saving, the file is still dirty. It looks to be doing some formatting after saving which is dirtying the file again.

This behavior looks to be introduced in today's alpha only.

[2016-05-10 20:40] dougbu opened #6263 "Support IntelliSense suggestions in debug console"
- VSCode Version: 1.1.0
- OS Version: Windows 8.1
- C# Extension:  [`v1.0.5-rc2`](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.0.5-rc2)

##### Steps to Reproduce:
1. Open a .NET Core application
2. Configure debugging
3. Set a breakpoint somewhere in the project
4. Start debugging (F5 etc.)
5. Type in debug console entry field

Expected: Prompts for properties of local variables a

[2016-05-10 20:42] GuiAlmeida opened #6264 "Code indenting alone to save file."
- VSCode Version: 1.1
- OS Version: Windows 10

Steps to Reproduce:

1. Open CSS
2. Modify
3. Save

After saving , indents alone, seems to be doing some formatting after is dirtying the file again.

[2016-05-10 20:52] isidorn commented on #6260
Build errors layout we are changing thus forwarding this to @sandy081
Debug horizontal scroll bar is not on the current plan, for inspecting such nested variables you can evaluate them in the repl which should give more space. Though I agree we should think about adding a horizontal scroll bar

[2016-05-10 21:00] JulioC opened #6265 "HTML syntax highlight breaks with === and < on ng2 attributes"
- VSCode Version: 1.1.0

![attributes](https://cloud.githubusercontent.com/assets/387794/15162352/c769ff48-16d8-11e6-9211-82b338d2b034.png)

[code]

I could offer a PR if anyone familiar with the vscode structure give me hints on where I should look for the issue.

[2016-05-10 21:23] hoovercj commented on #1708
I know I'm a bit late, but I finally got around to checking if this was working. I haven't made any code changes to my extension and I'm running 1.1.0 and set the engine to ^1.0.0 package.json and when I go through the steps I listed above it doesn't make the change and I get the following exception in the extension host console:

[code]
Does this bug need reopened or am I doing something wrong?

[2016-05-10 23:02] waderyan opened #6266 "Terminal command for uninstalling extension is mispelled"
- VSCode Version: Alpha, 3505aa37bdddf307a47a4e1db2425e9fe328cc21
- OS Version: OS X

Steps to Reproduce:

1. Open Terminal
2. code-alpha --help

Uninstall extensions is mispelled :)

![image](https://cloud.githubusercontent.com/assets/2449568/15165152/7d8bba7a-16c8-11e6-9ea8-8e6cda8403c2.png)

[2016-05-10 23:05] gregvanl opened #6267 "VS Code crashes when previewing large image on Markdown page"
- VSCode Version:1.1.0-stable
- OS Version:Windows 7

Steps to Reproduce:
1. create a Markdown page and add the following link:
[code]
2. Open Preview, View Source, Open Preview again

Usually crashes VS Code on the second preview.  You might need to try several times.

[2016-05-10 23:15] jacdavis opened #6268 "capitilization is not consistent for file paths on windows in setbreakpoints message"
- VSCode Version:1.1
- OS Version: windows 10

Steps to Reproduce:
1) start a debug session
2) add a bp
3) Breakpoint message will likely contain uppercase drive letter
4) Delete bp
5) Breakpoint message will now contain lowercase drive letter

NOTE: I am working around this in our debug adapter. This causes an issue because we have collections of source files that contain bps in the c++ and c# de

[2016-05-10 23:30] garthk commented on #508
Every morning, I unlock my computer to find VS Code has crashed overnight.

* Mac OS X 10.11.4 (15E65)
* VS Code 1.1.0-insider

![vscode-crashes-every-night](https://cloud.githubusercontent.com/assets/15906/15165628/b5f8316c-175a-11e6-9d85-7587d012ab98.png)

I've usually left files open. I do run with extensions. Are there any settings I can use to help gather more diagnostic information?

[2016-05-10 23:49] vbguyny commented on #446
The intellisense/autocomplete in Winjs appears to be very slow.  I suggest looking at http://vbguyny.github.io/Ace.Tern/demo.html which uses the ACE editor plus the Tern libraries to create a very powerful and fast editor.

[2016-05-11 00:55] sun1991 opened #6269 "Python print unicode generate error in output window"
- VSCode Version:1.1
- OS Version:Win7 64bit, Python 2.7.8

Steps to Reproduce:
**Source**:
[code]

**Output:**
上海
Traceback (most recent call last):
  File "d:\Temp\tmp2.py", line 7, in <module>
    print(unicode_name) # This line generate error
UnicodeEncodeError: 'ascii' codec can't encode characters in position 0-1: ordinal not in range(128)

[2016-05-11 00:55] v-pavanp opened #6270 "Not getting any message in the output console when getting issue with git operation."
- VSCode Version: 1.1.0-alpha
- OS Version: Windows10
Steps to Reproduce:
1. launch app and open any folder which contains smoke test project.
2. Click on "Initialize Git repository" to map.
3. Click on more icon (...) and perform operation "Undo latest commit".
4. Verify error message should be displayed with below text.
Note:  This is expected as folder is not mapped with any GIT repo.
"There wa

[2016-05-11 01:03] malekpour commented on #446
@gujiman WinJS is irrelevant, it is a collection of UI controls which does not contain a source code editor.
If you are looking for good examples of Monaco in browser you can check http://www.typescriptlang.org/play/index.html or Visual Studio Live if you have an Azure Subscription.

@egamma Is there any possibility to access Visual Studio Live source code? I know https://github.com/projectkudu/ku

[2016-05-11 01:11] v-pavanp opened #6271 "Add tooltips to git viewlet items"
- VSCode Version: 1.1.0-alpha
- OS Version: Windows10

Steps to Reproduce:
1. Launch app and open any folder which has long file name
2. Click on Git icon from action container list.
3. Click on "initialize Git.." to map the folder with git repo.
4. Verify file content under Git Viewlet.
5. Hove over on any file which is truncated due to long name.
Actual: User is not able to see full file name wi

[2016-05-11 01:23] tonn2y opened #6272 "Suggests bug"
- VSCode Version:1.1.0
- OS Version:Window 10 OSX 10.11

Steps to Reproduce:

1. I define properties use 2 underline,like '__events',when i use this property,the Suggests always give me 3 underline property ,like '___events'.
![2](https://cloud.githubusercontent.com/assets/2756249/15167252/f0a8c2dc-1759-11e6-87a3-4df0ea8e004b.png)

[2016-05-11 02:51] ikarosu opened #6273 "syntax highlight of async function & arrow function"
- VSCode Version:1.1.0
- OS Version:Windows 10

Steps to Reproduce:

0. creat new a javascript file
1. type`const foo = async () => {}`
2. we can see keyword "async" is not highlight

[2016-05-11 02:52] alefragnani commented on #4393
Hi @alexandrudima ,

It appears that the issue _returned_ in the version 1.1.0.

Looking at the same source files from your commit, I noted that some of them has changed, but I don't know if this changes could affect the clipboard operations.

Thanks for your help

[2016-05-11 03:12] techeverri opened #6274 "Autocomplete text overlapping"
- VSCode Version: 1.1.0
- OS Version: Windows 10

Steps to Reproduce:

1. Open **User Settings** file `settings.json`
2. Suppose you are going to add a new setting
3. Press `ctrl` + `space` and scroll to `editor.lineHeight`

![text-overlapping-vscode](https://cloud.githubusercontent.com/assets/3720424/15168974/1e9acb76-16fc-11e6-96bf-48f2ad3ff187.gif)

[2016-05-11 03:40] spywhere commented on #6229
I think this issue is also what I covered in #3533.

[2016-05-11 05:05] bpasero commented on #6262
![untitled](https://cloud.githubusercontent.com/assets/900690/15170515/c041de84-1746-11e6-928e-0ebfdd9d3320.gif)

Not reproducible for me, this needs more steps or info.

[2016-05-11 05:06] bpasero commented on #6143
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-05-11 05:06] #6143 closed

[2016-05-11 06:13] isidorn commented on #6229
Agree, closing as duplicate

[2016-05-11 06:13] #6229 closed

[2016-05-11 06:36] ccknot commented on #1884
+1

[2016-05-11 06:48] MrVallentin commented on #6219
Why not clamp `-1` and thereby fully disabling wrap? If the user already specified such a huge number, then it would probably equally be as good (but obviously in this case better) just disabling it no matter what, instead of having a single character per line.

[2016-05-11 06:53] gep13 commented on #5671
@Tyriar I started to do this work with a couple projects, but decided that the overhead wasn't worth it.  Instead, all documentation for my projects now live in the same repo as the source code, and I use https://readthedocs.org/ to display them.  That way, documentation PR's are exactly the same as code PR's.

Will be interesting to see what you put together though.

[2016-05-11 07:08] SamVerschueren commented on #5305
Is this actually really a duplicate of that issue? That issue is about adding new event types like `onPreSaveTextDocument`. This is more about adding extra information to the event being dispatched.

As you said before, it's quite difficult to change that without breaking the API. Currently only the `TextDocument` is being dispatched. It would be possible to attach an event type to the `TextDocume

[2016-05-11 07:15] #5777 closed

[2016-05-11 07:22] isidorn commented on #6267
Add important to raise attention

[2016-05-11 07:27] isidorn commented on #6218
Dup of #5838

[2016-05-11 07:27] #6218 closed

[2016-05-11 07:27] isidorn commented on #6270
Dup of #5838

[2016-05-11 07:27] #6270 closed

[2016-05-11 07:28] isidorn commented on #5838
People see it all the time, adding important to raise awerness

[2016-05-11 07:31] jrieken commented on #5305
Sorry, I was wrong here... yeah, it's on*Will* and on*Did*... Will be hard to make it work in a nice way...

[2016-05-11 07:33] jrieken commented on #6239
I know - tho TypeScript can be confused when some folders are mistyped. Also ,it then might include all JS files in the node_module folder which might be too much for it.

[2016-05-11 07:35] dbaeumer commented on #6139
@gregvanl what does the code assist show when you press ctrl+space

And I would like to ask you to enable TS trace. Add the following workspace setting
[code]
open the output window and switch to the TypeScript channel and attach the provided log.

[2016-05-11 07:35] jrieken commented on #6256
@vsccarl there is no format on save by default. what extensions has you installed?

[2016-05-11 07:35] jrieken commented on #6257
as designed

[2016-05-11 07:35] #6257 closed

[2016-05-11 07:36] jrieken commented on #6272
That is as designed

[2016-05-11 07:36] #6272 closed

[2016-05-11 07:37] bpasero commented on #6267
Likely an out of memory crash because the image is very large and loaded into the renderer process. As it stands currently we cannot prevent the out of memory from happening given the hardcoded memory limit in V8.

[2016-05-11 07:46] dbaeumer commented on #6067
@mathewmeconry thanks for the additional info. However I have no idea right now what causes this behavior since your tsconfig.json is correctly located in root.

Could you please enable the tracing I suggested in https://github.com/Microsoft/vscode/issues/6067#issuecomment-218152606 and attach the trace. This would help me to understand why the TS language server doesn't provide results.

[2016-05-11 07:46] isidorn commented on #6274
I can repro this but only on win machine and only one element in suggest box gets broken for me. And only after scrolling a lot.
@egamma opinion if this is important to tackle before Joao returns. My impression is no, since does not always happen and user can get out of this state by reopening suggest

[2016-05-11 07:49] dbaeumer commented on #6222
@buu700 how is your OS X file system configured. Do you have it set to be case sensitive. We are aware of a problem with TS and case sensitive file systems under Mac that the TS team is working on fixing. This would explain why other team members on the project don't see the issue.

[2016-05-11 07:50] isidorn commented on #6269
@bpasero do you think this is the issue with our output decoding or the editor?

[2016-05-11 07:51] hasyee opened #6275 "Debug console trims whitespaces since 1.1.0"
- VSCode Version: 1.1.0
- OS Version: Win 10

Steps to Reproduce:

1. log something with whitespaces

- `console.log("     hello");`
- `console.log("\t\thello");`
- `console.log(JSON.stringify({a: 1, b: {c: "hello"}}, null, " "));`
- `console.log(JSON.stringify({a: 1, b: {c: "hello"}}, null, "\t"));`

The debug console trims every whitespace.
![trim](https://cloud.githubusercontent.com/assets/7387

[2016-05-11 07:51] Sampo123 commented on #6239
Ok, I changed the exclude path to right path and now it seems to be kind of working. So this is kind of resolved but it might be good idea to try to add some kind of error / help message in these kind of cases.

Also it seems bit curious that I did not find anything from the net with the error message so now there is this "bug report" that might help someone in the future with same kind of typo as

[2016-05-11 07:52] dbaeumer commented on #6209
@skolmer Great to see you got it working. I will keep this issue open to address the comment https://github.com/Microsoft/vscode/issues/6209#issuecomment-218154446

[2016-05-11 07:53] buu700 commented on #6222
Ahh, got it, thanks! Yep, I do have it set to case-sensitive. Any idea what the general ETA or priority of that fix is?

[2016-05-11 08:10] hasyee commented on #6275
If I change the css property of the line's `span` tag:
`white-space: pre` or `pre-wrap`, then it works expected.

[2016-05-11 08:14] Spown commented on #1046
@senjacob https://visualstudio.uservoice.com/forums/293070-visual-studio-code/suggestions/7763958-drag-n-drop-selections

[2016-05-11 08:17] anrichter commented on #534
Hi,

for me both variants are ok.
When install VSCode for all users on the machine as an administrator, the HKLM should be written.
When install VSCode in user scope for the logged in user without admin-rights, the HKCU should be written.

I think, that's a good way.

Greetings,
Andreas

[2016-05-11 08:26] kaflan opened #6276 "Beta releases"
Beta releases are ? Or Studio code will be steadily updated each month?

[2016-05-11 08:28] jrieken commented on #6239
Totally, agree. We have something in the works that TypeScript reports to us when too many files are encountered - such that it start crawling... It didn't make it for 1.8.x but will come with the release. This is where we track the underlying issue: https://github.com/Microsoft/TypeScript/issues/7444

[2016-05-11 08:28] #6239 closed

[2016-05-11 08:36] GoTo-Romania opened #6277 "Add option to convert all tabs to spaces (not only indentation)"
- VSCode Version: 1.0.0
- OS Version: Windows 7

Steps to Reproduce:

1. Create new file.
2. Insert text like:

aaa`<TAB>`bbbb
aaaaaa`<TAB>`bbbb
aaaaaaaa`<TAB>`bbbb

3. Go to File/Preferences/User Settings and add this line "editor.tabSize": 10
4. Check all Bs from step 2 are aligned on the left side. Check As and Bs are separated by one tab and not by spaces.
5. Implement option "Convert Tabs to

[2016-05-11 08:41] bpasero commented on #6269
This sounds like an error in his python program???

[2016-05-11 08:44] isidorn commented on #6269
@sun1991  Do you get the same error if you run your python program outside of vscode?

[2016-05-11 08:50] aeschli commented on #6264
@GuiAlmeida My guess is that you have an extension installed that does something on save. The out-of-the-box VSCode doesn't do anything on save.
Can you reproduce the issue when starting vscode without extensions by using the `--disable-extensions` command line argument?

[2016-05-11 08:51] aeschli commented on #6254
This issue was moved to Microsoft/TypeScript-TmLanguage#167

[2016-05-11 08:51] #6254 closed

[2016-05-11 09:05] aeschli commented on #6259
@Xiltch Do you have a small code example where I can see this? I just tried some random examples where I renamed some variables that where folded away and didn't see any strange effects.

[2016-05-11 09:07] aeschli commented on #6258
The currently implemented folding strategy is based purely on the indentation of lines. A folding region starts when a line has a smaller indent than one or more following lines, and ends when there is a line with the same or smaller indent.

To be more smart and to, for example, understand C++ blocks, we will have to go one step further and introduce language agnostic folding regions. We have iss

[2016-05-11 09:07] #6258 closed

[2016-05-11 09:08] aeschli commented on #4787
We have issue #3422 for adding semantic folding.

[2016-05-11 09:08] #4787 closed

[2016-05-11 09:09] aeschli commented on #6134
@venkatmca008 Can you clarify what you mean by 'scold'?

Closing for now, feel free to reopen once clarified.

[2016-05-11 09:09] #6134 closed

[2016-05-11 09:09] aeschli commented on #6273
This issue was moved to Microsoft/TypeScript-TmLanguage#168

[2016-05-11 09:09] #6273 closed

[2016-05-11 09:15] diryboy commented on #365
It seems to me that Notepad++ take the similar approach with @brunnopleffken proposed. I think it's more organized and discoverable than random places. I've seen people didn't know how to "activate" some extension for VS.

[2016-05-11 09:19] spywhere commented on #6178
I think this issue is kind of a dup of #5559.

[2016-05-11 09:25] masoud-moghini opened #6278 "intellisence for node js modules"
- VSCode Version:the latest
- OS Version:ubunto 16.04

assume that I want to harness 'fs' module features.naturally I have a code like:
`var fs=require('fs');`
then when I want to read a file or define a stream to a file for writing I expect when I type `fs` a variety of different options would be displayed.but it seems modules are unknown for VSCode and ,if  so,this is an extremely significant fa

[2016-05-11 09:34] isidorn commented on #6277
We already have a convert indentation to spaces, and convert intdentation to tabs actions. You can find them by clicking on the lower right corner tab size, or spaces

Check it out

[2016-05-11 10:18] skolmer commented on #6178
Thanks for digging this up.  #5559 describes it pretty good. Please close this issue.

[2016-05-11 10:27] urbanator84 opened #6279 "VS Code for PowerShell v2"
- VSCode Version: 1.1
- OS Version: Windows Server 2008 R2

Hi,

Is there a support for PowerShell v2 in VSC? What is my concern to use it to develop scripts for SharePoint 2010.
If not - will it be implemented at some point?

Thanks for answer.

[2016-05-11 11:10] wembernard opened #6280 "Cannot read property 'stopTime' of undefined"
- VSCode Version: 1.1.0
- OS Version: Mac OS 10.11.4

Steps to Reproduce:

1. `cmd` + `shift` + `P`
2. `> Developer: Startup Performance`
3. `Enter`

=> `[error] Cannot read property 'stopTime' of undefined`

Restarting vscode fixed the problem. I know have a proper message:

`[info] Command 'Developer: Startup Performance' is not enabled in the current context.`

Not sure if it's a one-time bug a

[2016-05-11 11:37] DickvdBrink commented on #6276
They do have the insiders build:
https://code.visualstudio.com/Download#insiders

That is the place where you get the new stuff early. The new stuff can be found in the `iteration-plans`: https://github.com/Microsoft/vscode/issues?utf8=%E2%9C%93&q=label%3Aiteration-plan+

[2016-05-11 11:45] HookyQR opened #6281 "Edits fail to validate ranges correctly before applying"
- VSCode Version: 1.1
- OS Version: OSX

Affected `beautify` for VS Code. HookyQR/VSCodeBeautify#14
Steps to Reproduce:

Create extension and, with a file open with content:

[code]
Previously (v1.0 and lower) this would replace the file content with "new" as the edit call would validate the range by reducing the infinite end to the end of the file. From version 1.1 (including insider) the infinit

[2016-05-11 11:47] GoTo-Romania commented on #6277
"This conversion should work for all tabs in a document, not only for identation."

[2016-05-11 11:47] magnasteyr opened #6282 "High cpu load when opening typescript projects"
- VSCode Version: 1.1.0
- OS Version: Windows 7

Steps to Reproduce:

1. Open a folder with vscode containing a typescript project
2. Start Windows Task Manager and look for code.exe processes

The process  _code.exe_  with the parameter _"...\resources\app\extensions\typescript\out\utils\electronForkStart"_ consumes constantly between 8 and 11 percent of cpu.
The memory of the code.exe process is

[2016-05-11 12:05] crystalgreen opened #6283 "[ts] Missing syntax highlighting for async arrow functions"
- VSCode Version: 1.1.0
- OS Version:Win10

Steps to Reproduce:

1. Create .ts file
2. paste `let f = async (x) => {};`

The result should be a blue `async` and a cyan colored `x`.
When writing `let f2 = async function(x) {};` the async is colored blue.

![async-highlighting](https://cloud.githubusercontent.com/assets/16759855/15180324/217905b2-1781-11e6-9ce0-1121372e2930.png)

[2016-05-11 12:31] mat-mcloughlin opened #6284 "Packaging resources in an extension."
Hey I was hoping to include an executable as part of my VsCode extension but can't see any documentation as to if this is possible.

Is it? and if so do you have some guidance?

Thanks in advance

[2016-05-11 12:43] aeschli commented on #6265
dupilcate of #5919

[2016-05-11 12:43] #6265 closed

[2016-05-11 13:15] KingLebron opened #6285 "Wrong output in Debug output of C/C++"
- VSCode Version: 1.1.0
- OS Version:   OS X Version 10.11.4

Steps to Reproduce:

1. Write the following code
[code]
2. output should be:

however the output is

The '9' is lacked.

[2016-05-11 13:22] mavsic opened #6286 "Editor should be focused immediately after switching working files"
- VSCode Version: 1.1.0
- OS Version: Windows 10 Pro

Steps to Reproduce:

1. Open several working files
2. Switch current working file by clicking on it in Working Files pane
3. Now the focus is in Explorer view, although user (me) expects it to be in editor instead

One of the consequences of this issue is that it is inconvenient to copy and paste text between working files. User can't press Ctr

[2016-05-11 13:29] mavsic commented on #6286
Oh, I've just found a similar issue: #5105.

[2016-05-11 13:31] mathewmeconry commented on #6067
@dbaeumer I enabled it but as you can see I can't select the typescript channel in the output console. Am I at the right place?

This is my settings.json in the .vscode folder in the root of the project (path: /)

[code]

[2016-05-11 13:32] isidorn commented on #6286
We are revisiting working files in the future, also you found a similar issue so closing this one

[2016-05-11 13:32] #6286 closed

[2016-05-11 13:34] isidorn commented on #6285
Sounds like an issue for the c++ extension, I have moved it to their repository https://github.com/Microsoft/vscppsamples/issues/43

[2016-05-11 13:34] #6285 closed

[2016-05-11 13:35] isidorn commented on #6279
@daviwil can you please answer :)

[2016-05-11 13:49] jrieken commented on #6284
It should just work, unless you have [`.vscodeignore`](https://github.com/Microsoft/vscode-docs/blob/master/docs/tools/vscecli.md#vscodeignore) rules configured

[2016-05-11 13:54] jrieken commented on #6251
Hard. what is printed there depends on the extension, it's not always a number but can be any string, see [version lens](https://marketplace.visualstudio.com/items?itemName=pflannery.vscode-versionlens) or [code metrics](https://marketplace.visualstudio.com/items?itemName=kisstkondoros.vscode-codemetrics).

[2016-05-11 13:54] jrieken commented on #6251
@bgashler1 @stevencl ideas?

[2016-05-11 13:55] dartzki opened #6287 ".d.ts files not recognized during compilation if camel-cased"
- VSCode Version: 1.1.0
- OS Version: Arch

Steps to Reproduce:
- create a custom .d.ts file to merge an ambient typing interface definiton, e.g.:

[code]
- use added method in other file

[code]

vs-code will show an error

however, tsc compiles the code correctly without warnings.

[2016-05-11 13:55] jrieken commented on #6146
fixed by ce3fb81

[2016-05-11 14:27] kumarharsh opened #6288 "[git] File is shown under `Changes` even when all changes have been staged"
- VSCode Version: 1.1.0-inside
- OS Version: Windows 10

Steps to Reproduce:

1. Open a file which has changes
2. Select some lines, and click on `Stage Selected Lines` in the ellipsis menu on top-right.
3. When you've staged all the lines, the file is still there in the **Changes** section.

What Should Happen:
File should be immediately removed from the changes section when all it's changes have

[2016-05-11 14:30] ruabmbua commented on #1440
+1 would be extremely helpful

[2016-05-11 14:49] egamma commented on #6249
Agreed filed https://github.com/Microsoft/vscode-docs/issues/300

[2016-05-11 14:50] egamma commented on #818
this is correct, the completion list shown in VS Code are computed by the TypeScript server that also supports JavaScript.

[2016-05-11 14:53] egamma commented on #446
Please see the May plan we will make progress on this topic https://github.com/Microsoft/vscode/issues/6105

[2016-05-11 15:04] sibeliusseraphini commented on #3998
is there some workarounds for now?

I'm using a macbook air with the latest version of vscode

[2016-05-11 15:04] daviwil commented on #6279
Hi @urbanator84, we currently don't have plans to support PowerShell v2 in the PowerShell extension for VS Code.  If we receive enough requests for this we may consider it.  I'd recommend filing a request for it over at our GitHub page:

https://github.com/PowerShell/vscode-powershell

[2016-05-11 15:06] bpasero commented on #3998
@sibeliusseraphini there is a way to exclude large folders from watching in settings. It has a downside though that file events are no longer detected in those folders (e.g. the explorer might not update properly for that folder).

[2016-05-11 15:07] joselee commented on #446
Great news! Thank you egamma!

[2016-05-11 15:08] sibeliusseraphini commented on #3998
is there a simple way of marking a folder as an excluded one? like in Webstom?

it should also be possible to invalidate the cache/file watching or restart it as well

[2016-05-11 15:09] #6279 closed

[2016-05-11 15:10] spywhere opened #6289 "Install only supported extensions"
## Proposal

**Givens:**
- An extension called "Acme" has released 3 versions, each version has developed on the following VSCode version (just for the example)...
  - Acme v1.0.0 on VSCode v0.10.3
  - Acme v1.7.0 on VSCode v0.10.10
  - Acme v2.0.0 on VSCode v1.1.0
- User is using VSCode v1.0.0

**Events:**
User wants to install Acme extension. User open the command palette and search for Acme ext

[2016-05-11 15:11] spywhere commented on #6289
Further more, I'm going to file another issue on VSCE repository to suggest the supports for this idea.

[2016-05-11 15:19] bpasero commented on #3998
Currently not. See http://code.visualstudio.com/updates/vMarch#_workbench and find `Exclude files from watching`

[2016-05-11 15:45] JulioC commented on #6265
I believe it's related, but not duplicated of https://github.com/Microsoft/vscode/issues/5919

The issue here is about [attribute values](https://www.w3.org/TR/html-markup/syntax.html#syntax-attribute-value).

[2016-05-11 15:53] isidorn commented on #6288
Do you still see this after 10seconds?
There is a small delay we use for refreshing the git viewlet

[2016-05-11 15:59] gregvanl commented on #6139
Here's the log from the output window TypeScript channel:
Sending request: open (45). Response expected: no. Current queue length: 0
Sending request: geterr (46). Response expected: no. Current queue length: 0
Event received: semanticDiag (0).
Sending request: projectInfo (47). Response expected: yes. Current queue length: 0
Response received: projectInfo (47). Request took 0 ms. Success: true
Sen

[2016-05-11 16:00] gregvanl commented on #6139
Code Assist (ctrl+space) just shows:
[code]

[2016-05-11 16:34] v-pavanp commented on #6278
@masoud-moghini : I hope you already installed node module and added reference in your project like below:
![image](https://cloud.githubusercontent.com/assets/17735796/15188558/38b1302c-175b-11e6-9f31-1e5a6ee3cdde.png)

[2016-05-11 17:02] qetee opened #6290 "enable emmet in vuejs file ".vue""
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2016-05-11 17:07] Tyriar commented on #5671
@gep13 that's what we just transitioned to, however we decided that we'd prefer to keep the doc PRs/commits away from the product changes.

This is only an issue because GitHub wiki's cannot be forked unfortunately :frowning:

[2016-05-11 17:29] jhonnymontoya opened #6291 "Can't see any icons"
- VSCode Version: 1.1.0
- OS Version: Windows 7 Professional  Service Pack 1 64-bit Operating System

Just Can't see the icons of "Split Editor", "Switch to changes view", "Close" and "Tweet Feedback" but if I hover the mouse to where it suppose to be, mouse changes to pointer and some help descriptions show up.

I'm using the theme Dark (Visual Studio) but i just tested with all the themes.

![ca

[2016-05-11 17:36] jhonnymontoya commented on #6291
Just solved with the FAQ http://code.visualstudio.com/Docs/supporting/faq#_windows-faq

[2016-05-11 18:27] gep13 commented on #5671
however we decided that we'd prefer to keep the doc PRs/commits away from the product changes.

I can understand the need for that, we just like to keep everything in one place though :)

[2016-05-11 18:30] jerryf196 commented on #2394
Has this been fixed? I am not sure how to fix this.

[2016-05-11 18:30] jerryf196 commented on #2394
I am using version 1.1.0

[2016-05-11 18:37] gregvanl opened #6292 "incorrect command line help shown for uninstall-extension"
- VSCode Version:1.1.0-alpha
- OS Version:Windows 10

Steps to Reproduce:

1. Run code-alpha --help

Shown as "list-extensions", should be "uninstall-extension"

[code]

See https://github.com/Microsoft/vscode/commit/b455db9f356a9e395aefa44d9b3f5597c67b7aa0#diff-e255a28340d4f20061d11494e99bd60b

[2016-05-11 18:41] vsccarl commented on #6256
Looks like it is a result of the [JS-CSS-HTML formatter extension](https://marketplace.visualstudio.com/items?itemName=lonefy.vscode-JS-CSS-HTML-formatter). It does not repro with extensions removed.

[2016-05-11 18:41] #6256 closed

[2016-05-11 18:42] vsccarl commented on #6262
Looks like it is a result of the [JS-CSS-HTML formatter extension](https://marketplace.visualstudio.com/items?itemName=lonefy.vscode-JS-CSS-HTML-formatter). It does not repro with extensions removed.

[2016-05-11 18:42] #6262 closed

[2016-05-11 19:09] andy-dev opened #6293 "disable sound error on key shortcut"
- VSCode Version:1.1.0
- OS Version: 10.11.4

Steps to Reproduce:

1. create new shortcut(make it the same as a previous editor)
  {
        "key": "ctrl+cmd+down",
        "command": "editor.action.moveLinesDownAction",
        "when": "editorTextFocus"
    },
2. IT works but makes sound

I only sounds on down not on up.

Thanks in advance,

A

[2016-05-11 19:12] duncanhunter commented on #780
Also happened to me when VS code tried to update to version 1.1 from version 1.0

[2016-05-11 19:25] MeenaFawzy commented on #6225
i found out that i already had "editor.wrappingColumn": 1000 in my settings, after removing it the problem solved.

[2016-05-11 19:25] #6225 closed

[2016-05-11 19:32] Tyriar commented on #4442
Verify by creating the symlink/file we previously recommended creating at `/usr/local/bin/code`, install the rpm and make sure `/usr/local/bin/code` no longer exists.

[2016-05-11 19:39] Tyriar commented on #365
I would prefer if the menu entries were isolated in an Extensions menu as in #6000. The reasons being:

- It makes it very clear which menu items belong to which extensions.
- Prevents possible duplicate menu items from multiple extensions by forcing nesting.
- Allowing menu items in the regular menu has the potential for abuse.

[2016-05-11 19:44] Johnaka commented on #780
switched to Atom by github perfect my life is PERFECT now

[2016-05-11 19:48] aeschli commented on #6265
I tested that your example works with the fix for #5919.

[2016-05-11 19:49] aeschli commented on #6265
![image](https://cloud.githubusercontent.com/assets/6461412/15194247/47239ad4-17c2-11e6-83ae-79b35dece7bf.png)

[2016-05-11 19:50] JulioC commented on #6265
That's nice, thanks!

[2016-05-11 19:59] imsedim commented on #780
Well I switched **from** Atom and have nowhere to go now.

[2016-05-11 20:18] Johnaka commented on #780
when it comes to golang atom turns out to be better than vscode, vscode best for  typescript

[2016-05-11 20:20] kumarharsh commented on #6288
For me, switching tabs refreshes the list.

[2016-05-11 20:20] kumarharsh commented on #6288
There is also the subtle *bug* which I encountered today, which triggered me to write this issue: I had not setup the `autocrlf` config for my repo, so even after staging all marked hunk diffs, vscode was not refreshing the `CHanges` section because there would have been `^M` characters in the diff making the file unclean. This is not marked in the diff view, which caused some head-scratching.

[2016-05-11 20:45] nojvek commented on #446
I've been meaning to get a prototype of vscode as editor in chrome devtools workspaces in my free time. Would be great to have documentation.

[2016-05-11 20:48] CestLou commented on #224
looked over as many comments as I could, searching for keywords and didn't find this mentioned.

as far as tabs go, firstly, _thank you!_ their absence is one of the only things I dislike about VS Code.

I would love to see navigation between tabs be customizable; for example, I love the way iTerm switches between tabs by pressing `cmd + left`, and would very much so like to do this in my editor a

[2016-05-11 21:00] isidorn commented on #6292
Duplicate of #6266

[2016-05-11 21:01] #6291 closed

[2016-05-11 21:01] #6292 closed

[2016-05-11 21:10] adrianth opened #6294 "Multi-line strings are not handled properly for brace matching and code folding"
- VSCode Version: 1.1.0
- OS Version: Win 8.1

Problem: Multi-line strings are not handled properly for brace matching and code folding.

Steps to Reproduce:

1) Open a JavaScript file and  put the following content in it:
[code]
2) Place the cursor near the opening or closing brace to activate the brace matching.
3) Click the "minus sign" icon to fold the object declaration. Lines two and three o

[2016-05-11 21:38] archer884 opened #6295 "Auto closing single quote is wearing out my delete key"
- VSCode Version: 1.1.0
- OS Version: Windows 7

Steps to Reproduce:
1. Open a rust source file and type `'`
2. Watch the editor add a second `'` even though there is almost zero chance you want one

I really want to turn this off, but I don't want to lose auto brackets. Please tell me there's some way to kill this, or that you'll put one in. :)

[2016-05-11 21:52] marking opened #6296 "Please provide a code.ps1 alongside code.cmd and code in bin directory"
- VSCode Version:
Version 1.1.0
Commit c212f0908f3d29933317bbc3233568fbca7944b1
Date 2016-05-09T12:53:58.929Z
Shell 0.37.6
Renderer 49.0.2623.75
Node 5.10.0

- OS Version: Windows 10 Professional

not so much a bug as a feature request. I'd like to see a code.ps1 along with the code.cmd and code scripts.  Here's a skeleton to get started (blatantly copied from code.cmd and translated):

[code]

[2016-05-11 22:09] vsccarl opened #6297 "Debug Configuration drop down blank before creating launch.json"
- VSCode Version: 1.1.0-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Open a folder with no launch.json config file
2. Switch to the debug viewlet

The drop down used to say "No Configuration" where now it says nothing until you create launch.json.

![noconfignotshowing](https://cloud.githubusercontent.com/assets/12900364/15198132/6002cb2a-178a-11e6-933f-0aed7b6f301b.PNG)

Is this an int

[2016-05-11 22:15] marking commented on #6296
updated powershell example to better handle env changes as well as added some verbose output

[2016-05-11 22:16] skolmer commented on #5559
@jrieken for my usecase #6178 it would be crucial to have this as a core feature of vscode

[2016-05-11 22:29] slayer commented on #3702
+1, hate ms thin fonts

[2016-05-11 22:30] faxue-msft opened #6298 "Load more stack frames shown on all threads"
- VSCode Version: 1.1
- OS Version: Windows 10, Ubuntu 14.04

Steps to Reproduce:

1. Create a multithread application and start debugging
2. Enter break mode, For thread 1: debugger return 20 stack frames and total count of 100. For thread 2: debugger return 3 stack frames and total count of 3.
3. Verify the "Load More Stack Frames" frame is shown for thread1, Verify there is only 3 frames for th

[2016-05-11 22:33] faxue-msft commented on #6298
![1](https://cloud.githubusercontent.com/assets/5318374/15198680/b135f280-178d-11e6-8e33-dca7c1499ccd.png)
![2](https://cloud.githubusercontent.com/assets/5318374/15198681/b1386416-178d-11e6-9fbe-25959c3d7b91.png)

[2016-05-11 22:34] asadighi commented on #224
Tabs are a must for me... Switching back to Sublime until you have tabs. P.S. I am very disappointed at your attitude; You seems to have no sense of UX yet claiming this has been done to improve UX. What are your personas? Where are your  user interviews? Prove it.

[2016-05-11 22:35] faxue-msft opened #6299 "The select stack frame lost focus after "Load more stack frames""
- VSCode Version: 1.1
- OS Version: Windows10, Ubuntu 14.04

Steps to Reproduce:

1. Select a stack frame and click "Load more stack frames"
2. The original selected frame will lose it's focus/highlight, it's hard to figure out which frame is currently selected

[2016-05-11 22:44] skolmer commented on #6209
@dbaeumer I couldn't find any documentation about the watching config. Would be nice to have this feature in the docs https://code.visualstudio.com/Docs/editor/tasks#_defining-a-problem-matcher

[2016-05-11 22:55] kaflan commented on #6276
@DickvdBrink  senk you  I google and search saite not found senk

[2016-05-11 23:04] ashelley opened #6300 "Symbols not loaded for current project according to tsconfig.json lookup logic (only for first tsconfig.json found in project)"
- VSCode Version: 1.10
- OS Version: Windows 10

Symptom:

VSCode only loads symbols for the first tsconfig.json it finds in the directory tree.  If you try to look up a symbol using Ctrl+T you will only see symbols from the first tsconfig.json in the project.

Expected results:

When hitting Ctrl+T it should look at the current active file and find the next tsconfig.json up the directory tree and

[2016-05-11 23:11] ashelley commented on #6300
Another example of a discrepancy between the symbol lookup and other features of vscode is that peek definition still works (even if the symbol lookup does not)

![image](https://cloud.githubusercontent.com/assets/3195045/15199440/f62bf164-1792-11e6-8f53-a40d209837f3.png)

[2016-05-11 23:43] vaishnav4226 commented on #6198
@GuardRex Thanks for the reply. You guys are the best. Would appreciate instructions to do the exact same steps on Mac OSX. Trying to find a good way to remove and reinstall dotnet for a while now. Haven't found anything useful yet 😢

[2016-05-11 23:54] GuardRex commented on #6198
@vaishnav4226 Sure thing. Ah! I'm all Windows here. There are plenty of Mac :cat:'s around tho, so I'm sure someone will jump in. Otherwise, ask for help on JabbR, and there might be a Mac pro there. https://jabbr.net/#/rooms/AspNetCore

[2016-05-11 23:55] indiejames commented on #224
@asadighi did you even a read the comments before posting? The team has done extensive interviews and are conducting more to get tabs right. They are incredibly responsive to the community and are producing a great editor (for free). Good luck waiting for the next release of Sublime.

[2016-05-12 00:04] asadighi commented on #224
Your previous comments are telling of your bias. My objection is on the attitude they have had from the get go. User interviews should happen BEFORE people start bashing the product for such flaw. Interesting enough you can see hesitance to invest to fix this flaw in name of better UX. This issue has been open since Nov and for good part of that time most of the responses are in line of we know be

[2016-05-12 00:06] v-pavanp opened #6301 "Clicking on error message from debug console is not setting up pointer at line number all the time."
- VSCode Version: 1.1.0-alpha
- OS Version: Windows10

Steps to Reproduce:
1. Launch app and open folder for Basic Node js express project.
2. Start debugging and verify debug console.
3. Click on any error message showing up in the debug console to get exact line number.
4. Navigate to different error message and verify it should set the pointer correctly.

**Actual:** When navigating to differen

[2016-05-12 00:15] harold-b opened #6302 "Middle mouse button scrolling"
- VSCode Version: 1.10

I searched the issues but did not find any such post, so apologies if there is an existing thread that I missed.

I'd like to know if there is any middle mouse click scrolling, planned? That is, clicking the scroll wheel to toggle drag scrolling. It's a useful feature to have when navigating very long files.

And if it isn't, is there any API that would allow this to be ena

[2016-05-12 00:47] mpnally opened #6303 "[yaml] multiline strings improperly highlighted"
- VSCode Version: 1.1.0
- OS Version: OSX 10.10.5

Steps to Reproduce:
Paste this string
[code]

[2016-05-12 01:00] caslan opened #6304 "Debug: continue action is broken when target app has multiple threads"
We are seeing this issue with CppTools extension and CSharp extension with VS Code 1.1.0 (stable). It doesn't repro in VS Code 1.0.0.

One repro involving CSharp extension is:
 Install VS Code 1.1.0
 Install .NET CLI tools and CSharp extension per instructions here: https://github.com/gregg-miskelly/omnisharp-vscode/blob/daily-build-docs/debugger.md
 Extract the attached project, do a "dotnet rest

[2016-05-12 01:38] 121468615 opened #6305 "save file shortcuts repeat"
- VSCode Version:1.1.0
- OS Version:Windows 10 64Bit

Steps to Reproduce:

1. hot key is same  'S' ,look this image

![qq 20160512093417](https://cloud.githubusercontent.com/assets/6504537/15201576/1bf69380-1825-11e6-86b4-a494e8b41ee4.png)

2.

[2016-05-12 02:04] chrisxvin commented on #4845
Well, I found again this problem on version 1.1.0-insider, build date 2016-5-9.
This time, C# file type associated with VSCode is set to "Visual Studio Code - Insiders", icons are all the same, :-(   Can't tell it is a C# code file.
Screenshot is here:
![image](https://cloud.githubusercontent.com/assets/628293/15201834/956cd36c-1827-11e6-851a-6f28d11c6e4d.png)

[2016-05-12 03:08] eyalsk commented on #224
@asadighi It's all in your head and your nonsense shows in your comments, stop it.

[2016-05-12 03:13] scloudyy opened #6306 "embedded <script> JavaScript code can not trigger VSC's JavaScript language support"
- VSCode Version: 1.1.0
- OS Version: windows7

Steps to Reproduce:
1. In .html file, \<script type="text/javascript"\>and I want to write js code in  \<script\>\<script/\> ,but there is no Intellisense or syntax highlighting, is there any way to enable js code support in \<script\>?

[2016-05-12 04:30] #6178 closed

[2016-05-12 05:44] Tyriar commented on #224
@muellerkyle :+1: you should create an issue against the bookmark extension you use.

[2016-05-12 05:47] MrSkinny commented on #6215
I'm either doing something wrong or there are a lot of missing intellisense markers that used to come up. From that link you provided, it doesn't appear any setup is *necessary*, only recommended.  I tried adding the sample `jsconfig.json` that just sets an ES6 target and excludes `node_modules`, but I'm not getting things like `$` being undefined even if there's no jquery project / global var dec

[2016-05-12 05:47] Tyriar opened #6307 "code.cmd should wait for output before terminating"
Currently `code.cmd` does not wait for output before terminating like `code.sh`. Atom has the same issue in https://github.com/atom/atom/issues/4178

See https://github.com/Microsoft/vscode/issues/5941#issuecomment-218148072

[2016-05-12 05:52] MrSkinny commented on #6215
For example:

<img width="415" alt="screen shot 2016-05-11 at 10 51 16 pm" src="https://cloud.githubusercontent.com/assets/3757471/15205316/f5882114-17ca-11e6-95f1-f05ae6f1a935.png">

[2016-05-12 05:55] Tyriar commented on #5941
Thanks @Maximus5 for looking into this, I created https://github.com/Microsoft/vscode/issues/6307 to fix `code.cmd` to wait.

As for why you need `code.cmd` and not just `code.exe`, this is because `code.exe` bypasses [`cli.ts`](https://github.com/Microsoft/vscode/blob/master/src/vs/code/node/cli.ts#L20) which handles the "output only args" like `--help` before electron is launched and its output

[2016-05-12 05:56] #5941 closed

[2016-05-12 06:02] Tyriar commented on #6240
@martinring where are you seeing that 1.1.0 is versioned as 1.0.0? The `Version` property in the spec file should be set correctly:

![image](https://cloud.githubusercontent.com/assets/2193314/15205447/2f66939c-17cc-11e6-9a74-9019e73079f3.png)

[2016-05-12 06:06] Tyriar commented on #4722
@vsccarl sounds fixed to me, it's typically not worth adding the state to avoid clicking multiple times like that imo.

[2016-05-12 06:06] #4722 closed

[2016-05-12 06:08] isidorn commented on #6304
The continue request from vscode always sends the [threadID](https://github.com/Microsoft/vscode/blob/ben/stacks/src/vs/workbench/parts/debug/common/debugProtocol.d.ts#L305) of the thread that should be continued.
Previously in vscode there was an issue that VSCode would react as if the continue continued all the threads. This has been fixed and due to this you are probably seeing this behavior. M

[2016-05-12 06:16] Tyriar commented on #2091
@rob3c it's not a bug as it's working as intended currently, making this configurable would be adding functionality rather than fixing it.

This is probably the sort of thing we'd accept a PR for because of the priority of it, @alexandrudima do you want to add the help wanted label?

[2016-05-12 06:22] FeaRCODE commented on #211
@jeysak Please tell me how you did that: https://github.com/Microsoft/vscode/issues/211#issuecomment-210210437

[2016-05-12 06:24] Tyriar commented on #1023
Hi all, prefer :+1: reactions on the original issue comment as that helps us with prioritization.

[2016-05-12 06:28] snpai commented on #211
@FeaRCODE Please refer to my comment above

[2016-05-12 06:28] Tyriar commented on #1690
@ashes999 I'm one of the said Microsoft employees :smiley:

I think if GitHub reactions were around at launch then we wouldn't have needed user voice. Currently both lists are used to find what features are highly desired by the community.

[2016-05-12 06:34] martinring commented on #6240
This is what I get, when I use the above link. I just got the feeling, the error might be on my side. Maybe there is some broken old install.. I check it right now

![screenshot from 2016-05-12 08-30-47](https://cloud.githubusercontent.com/assets/763861/15205993/0c0101f8-181c-11e6-95b3-61d4c1530153.png)

[2016-05-12 06:37] Tyriar commented on #211
@FeaRCODE RE your comment on https://github.com/Microsoft/vscode/pull/3200#issuecomment-218669706 (which won't be read by many people as its closed).

I'm not that big on differentiating folders and files personally, as the expand/collapse arrows accomplish that currently. I want it on a file type basis so that it's easier to tell what file type files are, plus it will make the editor more attract

[2016-05-12 06:41] FeaRCODE commented on #211
@Tyriar I guess you're right. For some reason my mind can process the icons faster. I prefer them regardless :)

[2016-05-12 06:43] Tyriar commented on #6240
@martinring there are definitely some weird differences in the screenshots. I have experienced issues before when updating the rpm, restarting fedora always seemed to fix the issue. I assumed it was the GUI updater's fault as cli install always worked.

The revision which is an epoch timestamp for mine is Mon, 09 May 2016 12:47:01 GMT, yours is Wed, 13 Apr 2016 14:17:11 GMT so it's definitely the

[2016-05-12 06:43] #6240 closed

[2016-05-12 06:44] oodboo opened #6308 "Option to copy path with "/" forward slahes?"
- VSCode Version: Any
- OS Version: Any

Feature suggestion:
Can we add into the config option where you can choose how path slashes will look like after copying.

Currently:
After Right click on file > Copy Path > Paste :

result will look like "c:\foo\bar\again.html"

It would be nice if we could choose option in config e.g:
workbench.action.copyPath.forwardSlash = true/false;
or
editor.copyPath

[2016-05-12 06:50] martinring commented on #6240
Hmm... restarting after removing every old version of vscode changed the issue but didn't necessarily improve on it. Still not able to install via GUI.

![screenshot from 2016-05-12 08-48-13](https://cloud.githubusercontent.com/assets/763861/15206287/50333966-181e-11e6-823f-4415bee0972b.png)

Ok, but this is clearly not an issue with the vscode rpm package, but something is messed up on my system.

[2016-05-12 06:51] Tyriar commented on #6308
I don't think we'd want customization on this level as Windows paths use `\`, and Unix-like use `/`. While Windows can use `/` in some programs, the correct way is `\`. Perhaps an extension could do this though?

[2016-05-12 06:51] #6308 closed

[2016-05-12 06:52] Tyriar commented on #6240
@martinring no worries, as I mentioned I've experienced issues around updating rpms too so ping me if you find anything else.

[2016-05-12 06:52] v-pavanp opened #6309 "Unable to get exception detail under debug-view container with mouse hover."
- VSCode Version: 1.1.0-alpha
- OS Version: Windows10

I tried to debug extension and got exception, when I tried to get exception details I observed that exception string is not showing up completely on mouse hove (under debug-view container).

![image](https://cloud.githubusercontent.com/assets/17735796/15206243/7e0a3732-17d2-11e6-91f7-750d3af363ba.png)

Expected:
![image](https://cloud.githubus

[2016-05-12 06:54] Tyriar commented on #6302
@harold-b This is an OS-level Windows feature, it should work on Windows now. Also middle click has special behavior on Linux by acting as a secondary clipboard so it definitely wouldn't work there.

[2016-05-12 06:57] Tyriar commented on #6276
Insider's builds which are every week or so are currently available. The nightly builds used by the dev team are also on the way https://github.com/Microsoft/vscode/issues/5453

[2016-05-12 06:57] #6276 closed

[2016-05-12 06:59] Tyriar commented on #6294
Folding is currently indent-based, the issue tracking folding knowing about languages is https://github.com/Microsoft/vscode/issues/3422, please :+1: the issue to indicate you want it.

[2016-05-12 06:59] #6294 closed

[2016-05-12 07:00] Tyriar commented on #6293
@andy-dev this on Windows?

[2016-05-12 07:01] martinring commented on #6240
@Tyriar aha... found the issue. The problem was apparently a `code.desktop` file lying around in my `~/.local/applications` folder. I put it there before there was the rpm package. It pointed nowhere but somehow gnome software seems to check that location. After removing the file and restarting gnome, it now displays the same info as on your screenshot. Maybe this info helps others with the same i

[2016-05-12 07:02] harold-b commented on #6302
Which version is it available on? I can't seem to trigger it on 1.10 public or insiders.

[2016-05-12 07:04] skol-pro commented on #211
I know this is only "half-related" but is there a way to alter the file viewer using the vsCode API ?
What I'd like to do is add the folder behavior to .ts files, so that we can expand it from the viewer and see .js version. Any one any idea ? :)

[2016-05-12 07:05] Tyriar commented on #6249
@bpasero should `--disable-gpu` be added to `code --help`. FYI I can't seem to find it in `google-chrome --help` or https://github.com/electron/electron/blob/master/docs/api/chrome-command-line-switches.md

[2016-05-12 07:08] Tyriar commented on #6302
@harold-b do you have the same issues in Chrome and/or Atom? I wouldn't expect us to need to do anything on our side for it to work.

[2016-05-12 07:11] harold-b commented on #6302
I'm on Chrome right now and it's always worked. I've never used atom (other than electron via VSCode), but I'll grab it and verify.

[2016-05-12 07:13] Tyriar opened #6310 "Linux update available notification points at stable update on alpha build"

[2016-05-12 07:16] #6266 closed

[2016-05-12 07:16] harold-b commented on #6302
I tried Atom. It didn't work either. I checked the settings page to check if there was an option I needed checked, and the scroll worked there. So I decided to check a markdown file in preview mode on VS Code, it works there too. But not in text documents.

[2016-05-12 07:16] isidorn commented on #6309
As designed, this is native chrome behavior that the hover is clipped.

[2016-05-12 07:16] #6309 closed

[2016-05-12 07:19] isidorn commented on #6299
Setting to may to investigate

[2016-05-12 07:20] jrieken commented on #5559
makes sense. it's something we like and don't hear to first time.

[2016-05-12 07:20] oodboo commented on #6308
Default option can be "false", for those who like default it will stay default:

editor.copyPathForwardSlash = false;

And this is only for the Explorer > "Copy Path", there is frequent usage of "/" everywhere in coding, angular especially and it is annoying that after copy path we have to go trough manual replacement process.

[2016-05-12 07:21] isidorn commented on #6296
Please file this issue in the https://github.com/PowerShell/vscode-powershell
As this is happening in the powershell extension

[2016-05-12 07:21] #6296 closed

[2016-05-12 07:26] isidorn commented on #6301
No action planned to fix this. Will look into if more users complain.

[2016-05-12 07:30] oodboo commented on #6308
Actually just saw the last bit, maybe you are right, maybe Extension is better option so Copy Forward Path can be added.
Ok... I have to check how to create an extension ...

[2016-05-12 07:32] Tyriar commented on #6302
@harold-b k, I'll relabel and assign, thanks for bearing with me :smiley:

[2016-05-12 07:36] mt-webdev opened #6311 "C# Code Highlighting & IntelliSense not working"
- VSCode Version: 1.1.0
- OS Version: Win7 SP1

Steps to Reproduce: Create/Open *.cs file/'s in VS Code

VS Code not highlighting C# anymore and IntelliSense for C# also not working anymore at all.

FIXED: Reinstalled C# Extension for VS Code 2-3 times and works again...

[2016-05-12 07:36] harold-b commented on #6302
Not at all, my pleasure to help. Thanks for your attention :+1:

[2016-05-12 07:44] dbaeumer commented on #6300
Due to a limitation of the tsserver workspace symbols are currently scoped to the project the focused text editor is part of.

I will move this issue to TS since it requires work on the tsserver side.

[2016-05-12 07:45] dbaeumer commented on #6300
This issue was moved to Microsoft/TypeScript#8571

[2016-05-12 07:45] #6300 closed

[2016-05-12 07:52] dbaeumer commented on #6215
@MrSkinny now I see. This is a know issue with the new JS language server and is tracked in this TS issue: https://github.com/Microsoft/TypeScript/issues/6802.

[2016-05-12 07:52] bpasero commented on #6249
@Tyriar I think its a hacky workaround for an issue we do not understand, nor do we know the consequences in terms of performance.

[2016-05-12 07:53] bpasero commented on #6305
thanks, this was reported already.

[2016-05-12 07:53] #6305 closed

[2016-05-12 07:53] mathewmeconry commented on #6067
@dbaeumer After updateing vscode to the latest version in the mosquito Fedora repo, it does work.
Here the dnf entry of vscode.
[code]

The bug seems to be fixed now with version 1.1.0 of VSCode.

Thanks for your support :)

[2016-05-12 07:53] #6067 closed

[2016-05-12 07:56] dbaeumer commented on #6278
Besides using /// references you can define a JS project using a jsconfig.json file and add typings into the project. A doc describing how to do this is available here: https://code.visualstudio.com/docs/languages/javascript

[2016-05-12 07:56] #6278 closed

[2016-05-12 07:56] Tyriar commented on #6310
Fixed

[2016-05-12 07:56] #6310 closed

[2016-05-12 08:21] Tyriar commented on #6236
Related: https://github.com/Microsoft/vscode-spell-check/issues/29#issuecomment-218685569

[2016-05-12 08:30] wenjianzhang opened #6312 "dotnet exited with error code 2147516546"
- VSCode Version:1.1.0
- OS Version: win 7

desc:
Error: Failed to load the dll from [C:\Program Files\dotnet\hostfxr.dll], HRESULT: 0x80070057

dotnet exited with error code 2147516546

[2016-05-12 08:33] dbaeumer commented on #6067
@mathewmeconry great to hear that 1.1.0 resolved the issue. You didn't see any trace since that feature got added for 1.1.0 :-).

[2016-05-12 08:36] Tyriar commented on #4109
In the past contributors have created github issues describing the issue with the text/language/key and we forwarded it to the i18n team.

[2016-05-12 08:43] Tyriar commented on #5946
Duplicate of https://github.com/Microsoft/vscode/issues/509

[2016-05-12 08:43] #5946 closed

[2016-05-12 08:43] #4540 closed

[2016-05-12 08:44] dbaeumer commented on #6139
@gregvanl do you by any change have a tsdk setting which points to a different tsserver. The problem is an exception in the tsserver in your case which I don't get.

[2016-05-12 08:47] dbaeumer commented on #6287
@dartzki which version of tsc do you have installed (e.g. tsc --version)

[2016-05-12 08:49] marzubov commented on #211
Hello.

I know that 6 months ago icons weren't in vscode planning list. And I know that initially you wanted to keep workbench very simple.
As you can see here, many people like icons which help them to process files faster.

In [update 1.1](https://code.visualstudio.com/updates/) you introduced [Visual design](https://github.com/Microsoft/vscode/issues/224#issuecomment-213015687) proposal which m

[2016-05-12 08:53] dbaeumer opened #6313 "Ctrl + Open Recent could open the folder in a new Window"
- VSCode Version: 1.1.0
- OS Version: any

I constantly see myself doing the following two actions:

- new window
- then select a recently opened folder.

Would either be cool to have a special menu entry for this, make open recent configurable to create a new window or to support Ctrl + Open Recent which does both (my preferred solution)

[2016-05-12 08:53] sun1991 commented on #6269
@isidorn Tried the same code in IDLE, no error happen. The way IDLE treated it is:

`print(utf8_name)` -> output utf-8 bytes interpreted by local non-unicode setting, althrough not useful (not human readable)
`print(unicode_name)` -> output correct characters, because it is unicode after all...

I think the way IDLE handle makes more sense. After all, for python 2.7, `utf8_name` is just byte array

[2016-05-12 08:56] dbaeumer commented on #6282
@magnasteyr: to better understand what the process is doing could you add the following setting to the workspace settings:
[code]

Then open the output window and switch to the TypeScript channel. Do you see any 'problematic' activity there on a machine that shows the behavior? If so can you provide the log here.

[2016-05-12 08:59] dbaeumer commented on #6222
The TS issue is: https://github.com/Microsoft/TypeScript/issues/8139. It will be fixed in TS 2.0. The corresponding vscode issue is https://github.com/Microsoft/vscode/issues/5161 which also contains steps how to already make use of the fix in the tsserver.

Closing as dup of https://github.com/Microsoft/vscode/issues/5161

[2016-05-12 08:59] #6222 closed