[2020-04-14 12:16] frustratedsoul-cloud opened #95216 "C++ code is not running"
what the fuck u dumb ass microsoft this vscode has wasted my time and yyyyyyy dont u set up everything  i am just a beginer and how come i know how to edit the launch.json and setting.json  u fuckers
i will never use your dumbass software "vscode"
fuck developers not user friendly at all
and fuck u i lost total intrest in learning c++
thanks to u all developers

[2020-04-14 12:17] borekb commented on #84271
That's a nice suggestion, I like it. (On macOS, it's Fn+Shift+Backspace as Fn+Backspace mean "delete".)

[2020-04-14 12:23] bpasero commented on #84271
Sounds good, can someone suggest this as new feature request.

[2020-04-14 12:29] IllusionMH commented on #95204
You should be able to drag sections between Action bar and Panel (near to Terminal, Output etc.) but I doubt that there is third pane to make it separate at this moment.

[2020-04-14 12:31] jrieken commented on #95204
This is a duplicate. Unfortunately, I don't recall the exact issue number nor its title :flushed: Anyways, searching for issues with the same labels will likely help you :point_right:
https://github.com/microsoft/vscode/issues?utf8=✓&q=is%3Aopen+label%3Aoutline

[2020-04-14 12:31] #95204 closed

[2020-04-14 12:34] Mikhail22 commented on #94839
Shows up correctly in Chrome, and everywhere besides VSCode.

Similar issue is with the SimSun font, but spaces and tabs are 2x wider than should be.

<img src="https://user-images.githubusercontent.com/12515548/79224986-b6631e80-7e64-11ea-842e-8efafec36fe9.png" width=59%>

[2020-04-14 12:36] keyurpatel8118 opened #95218 "Extension Host Disabled on start up of VS Code"
Issue Type: <b>Bug</b>

Whenever, I start VS Code the extension host gets disabled. Therefore no extensions are working.
In the Developer Tools the error coming is **"Error: ENOENT: no such file or directory"**

Currently I'm using March 2020 (version 1.44) of VS Code.

Please look over it.

VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-07T23:31:18.860Z)
OS versio

[2020-04-14 12:40] chadlavi-casebook commented on #95127
@isidorn great, I'll update insiders tomorrow and let you know. Thanks!

[2020-04-14 12:44] venoel opened #95220 "Quick file search does not found file"
Issue Type: <b>Bug</b>

Press Ctrl+p
Enter file name
File is searching but will not be found.

File is in the project and last week there was no such problem.

VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-08T11:22:13.689Z)
OS version: Linux x64 4.15.0-70-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-9400 CPU

[2020-04-14 12:45] Tyriar commented on #93599
Will cut/copy and paste work as part of this work too? I always do that instead of dragging.

[2020-04-14 12:48] karrtikr commented on #95123
That should do the job, thank you!

[2020-04-14 12:48] #95123 closed

[2020-04-14 12:49] iliazeus commented on #94746
@eamodio

To make unit testing easier, it would be nice to have certain classes and enums from the extension API to be available without VSCode itself.

Like, for example, `Range`s and `Location`s are nice to use internally, not only when interfacing with VSCode, but we can't unit test that code in a generic nodejs environment.

This has already been done for `Uri`s with the [`vscode-uri`](https:/

[2020-04-14 12:49] alexr00 commented on #95140
I'm not able to reproduce the problem:
![image](https://user-images.githubusercontent.com/38270282/79226698-19ea4d80-7e5f-11ea-9630-b10c12aa9e4e.png)
Do you still see the issue if you disable all extensions?

[2020-04-14 12:51] #94734 closed

[2020-04-14 12:52] #94726 closed

[2020-04-14 12:52] #95220 closed

[2020-04-14 12:53] venoel commented on #95220
It was strange folder inside workspace. I removed it and problem is gone.

[2020-04-14 12:53] egamma opened #95221 "Task quick pick: use the 'alwaysShow' option for 'menu items' in quick pick"
Show All Tasks should be treated as a menu item that is not filtered away:

![image](https://user-images.githubusercontent.com/172399/79226979-8c5b2d80-7e5f-11ea-947d-e58b9ab8ac34.png)

Same for 'go back'
![image](https://user-images.githubusercontent.com/172399/79227099-b1e83700-7e5f-11ea-809a-23ac97df3544.png)

[2020-04-14 12:54] #94891 closed

[2020-04-14 12:55] Tyriar commented on #91357
For rendererType = canvas (the default) this is the font that's given to the canvas context to draw:

https://github.com/xtermjs/xterm.js/blob/f0c518a13471bbc4890905a076b292d2d0a9f63c/src/browser/renderer/BaseRenderLayer.ts#L390

Where `this._optionsService.options.fontFamily` is whatever is configured in vscode's `terminal.integrated.fontFamily` (uses `editor.fontFamily` if it's not set).

[2020-04-14 12:57] arnotes commented on #70413
yes please :)

[2020-04-14 12:57] wmertens commented on #31153
Some possible features, borrowed from https://github.com/git-up/GitUp:

- single commands that use rebasing behind the scenes to:
  - move commits up/down
  - squash into parent
  - fixup (same as squash but allows editing the combined commit messages
  - rewrite commit (roll back working tree to commit, drop into amend interface for commit, afterwards apply all later commits)
- undo/redo: any act

[2020-04-14 12:57] alx-xlx commented on #95218
**IntelliSense** has stopped working too, can someone confirm if it is due to Extension Host Disabed thingy

[2020-04-14 12:58] #13902 closed

[2020-04-14 12:58] thw0rted commented on #84271
I filed #92358 but it got closed as a duplicate.

[2020-04-14 12:58] bpasero commented on #13902
Will be in tomorrows insider build to try out.

[2020-04-14 13:01] bpasero commented on #84271
Ok I renamed and reopened that issue.

[2020-04-14 13:07] benjaminbauer commented on #70764
I think this gains relevance due to iPadOS getting more desktop-ish. Also imho it would be a sufficient first step to have a „vscode client“ native for iPadOS that can connect to a vscode instance running on a remote, like already available through a plug-in https://code.visualstudio.com/docs/remote/remote-overview. This is similar to projects like code-server, but would have the advantage of work

[2020-04-14 13:14] NxP4Code commented on #94417
I see the following extra environment variable added when I run Set Command from VS Code terminal, there are other few minor changes but those are expected like added vs code server path in path variable.

I am not sure why VS Code has extra environment variables set, and how does it affect the current issue.

![image](https://user-images.githubusercontent.com/56322272/79228358-e55a9f80-7e26-11ea-

[2020-04-14 13:14] Tyriar commented on #95164
Thanks, works great

[2020-04-14 13:15] vainamov commented on #89533
In response to https://github.com/microsoft/vscode/commit/d78f3419cca25c2c15b126365b0e836b9ef4b76b. I think e.g. the Go To Symbol (ctrl+shift+o) quick pick for example should keep the symbol icons colored like it does in the outline view. It makes distinguishing between symbols way harder when everything is the same color.

[2020-04-14 13:15] mttkay commented on #94928
I'm having the same problem as @Feder1co5oave . I even uninstalled GitLens but the problem persists. Search is totally broken now.

[2020-04-14 13:16] mttkay commented on #94928
That said, how do I manually remove the GitLens search provider?

[2020-04-14 13:20] WarleyBruno opened #95223 "Configurando o Vs code para programar em C++"
Esse tutorial criado por Juniortrojilio ajuda a quem está com dificuyldade de compilar em C++ no Vs code **https://medium.com/@juniortrojilio/preparando-o-vs-code-para-compilar-c-c-no-windows-988f4a91a557**

[2020-04-14 13:20] miniwolf commented on #27950
This feature is great. Thank you soo much :)

[2020-04-14 13:21] HanabishiRecca commented on #94769
Wait a minute. This does not work at all.
![изображение](https://user-images.githubusercontent.com/13597663/79229319-41034800-7e7c-11ea-92a0-e41b910f02ed.png)

@joaomoreno, please, check this behavior by yourself. Are your sure this VS Code functionality was not entirely broken all this time?

[2020-04-14 13:21] alexr00 commented on #94506
Simple file dialog is done.

[2020-04-14 13:27] Maijin commented on #95008
If anyone encounter this issue - it's linked to one of the file in  `/System/Volumes/Data/Users/XXX/Library/Application Support/Code` - I rm -Rf it and now it works again. I have a local backup in case there is a specific file you'd want to look at to see @deepak1556 to investigate the bug.

[2020-04-14 13:27] joaomoreno commented on #94569
No, I don't think it is. This is the lack of overflowing behavior in splitviews combined with the browser automatically revealing the focused element. I've tried to fix this in many ways and I have failed repeatedly (eg periodically set `scrollTop` to zero). I'd close it as a duplicate of https://github.com/microsoft/vscode/issues/64188.

[2020-04-14 13:29] Tyriar commented on #95183
Related: https://github.com/microsoft/vscode/issues/20013

[2020-04-14 13:30] roblourens commented on #94928
This is fixed in Insiders but not stable yet.

[2020-04-14 13:32] Tyriar commented on #78539
The code is here:

https://github.com/microsoft/node-pty/blob/19449d2c319442bec3992cd280e9c88a185b6cb9/src/unix/pty.cc#L403-L429

I believe when @roblourens looked into the issue he found that it also occurs in tmux.

[2020-04-14 13:33] roblourens commented on #94417
Some are from SSH, some are set by the VS Code terminal, but nothing really stands out to me. I guess I am surprised that some of the basic ones are missing from Windows. Sorry, I'm not really sure what's going on.

[2020-04-14 13:37] isidorn opened #95225 "Investigate into JAWS support"
Look into how VS Code works with JAWS and identify the current limitations.

@GS-Avaluka feedback is very welcome

[2020-04-14 13:38] HanabishiRecca commented on #94769
Also via cmd
![изображение](https://user-images.githubusercontent.com/13597663/79231123-051db200-7e7f-11ea-810f-26a23599322e.png)

[2020-04-14 13:39] Tyriar commented on #95150
This will probably get fixed by https://github.com/microsoft/vscode/issues/45444, we can probably also validate the shells exist of the ones you configure there.

/duplicate

[2020-04-14 13:39] #95150 closed

[2020-04-14 13:39] misolori commented on #89533
@vainamov thanks for bringing that up. This makes it really challenging to scope icon colors in the quick pick because of the various uses where some quick picks use it and others don't. I'll revert that commit and will need to revisit the strategy for this.

[2020-04-14 13:40] joaomoreno commented on #94769
You're launching git from a shell. VS Code doesn't launch git from a shell, so it doesn't need quotes.

[2020-04-14 13:40] Tyriar commented on #95149
This is a limitation on Windows due to the way it works. If you're on Windows 1903 you will likely be able to reproduce it in Windows Terminal which is the backend the terminal uses.

[2020-04-14 13:40] #95149 closed

[2020-04-14 13:42] joaomoreno commented on #95046
https://github.com/microsoft/vscode/issues/41232

[2020-04-14 13:42] #95046 closed

[2020-04-14 13:42] joaomoreno commented on #95064
In the screenshot you're executing git from bash.

[2020-04-14 13:43] iamkevalkaria opened #95226 "Extension host terminated unexpectedly."
I did everything. I deleted all data of Visual Studio code, deleted extensions manually, on reinstalling it works at the very first instance but after turning off my PC and switching back, again same error occurs also my extension fails everytime

[2020-04-14 13:43] #94215 closed

[2020-04-14 13:44] austinjhunt commented on #63068
I've been bitten as well:

Version: 1.44.0
Commit: 2aae1f26c72891c399f860409176fe435a154b13
Date: 2020-04-08T08:23:56.137Z (6 days ago)
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.4.0

macOS Catalina v 10.15.4

Something interesting to note in my case is that it started happening immediately after adding a secondary monitor.

[2020-04-14 13:44] joanmarie commented on #94847
For the record, I thought role application at or near the top-most container also made sense given that (as I understand it) most of VSCode should be handled in focus / forms mode. And I think brainstorming on ideas with all stakeholders is a good thing. So please do *not* mind your words.

If @isidorn goes with our ideas, it's his fault. *grins*

[2020-04-14 13:44] joaomoreno commented on #94711
You could generate a unique ID for that commit and create a URI which the [FSProvider](https://github.com/microsoft/vscode/blob/7456cf89275eafed422e82a9be72896df56033bf/extensions/git/src/fileSystemProvider.ts#L36-L36) would provide contents for.

[2020-04-14 13:44] Tyriar commented on #95113
Escape exits the navigation mode:

[code]

When navigation mode is not active, escape is eaten by the terminal as it's sent to the shell (eg. it's needed in vim).

[2020-04-14 13:45] aeschli commented on #94215
It is `fontId`. The schema was wrong. I verified if works with two different fonts

[2020-04-14 13:45] joaomoreno commented on #95068
@bpasero A workbench command?

[2020-04-14 13:46] #78435 closed

[2020-04-14 13:46] #59130 closed

[2020-04-14 13:47] tinyvan commented on #95216
Visual Studio Code is created for production.It has a bit difficulty to learn to use.You can try some other devtools,such as Dev-C++ or CodeBlocks.

[2020-04-14 13:50] Tyriar commented on #91290
@alexr00 this could be useful for GH:

![image](https://user-images.githubusercontent.com/2193314/79232270-26998200-7e1c-11ea-9145-d9c15e8604d5.png)

[2020-04-14 13:50] webczat commented on #95113
the problem was just that if I move the orca caret just a bit but still inside of terminal output the esc stops working. I am not on the input at this time

[2020-04-14 13:51] alexr00 commented on #94978
Do you have any extensions enabled?

[2020-04-14 13:51] tinyvan commented on #95226
You can open a issue in the repository of extension.

[2020-04-14 13:52] Tyriar opened #95227 "New paste PSReadLine keybinding doesn't work in PowerShell Integrated Console"
Repro:

1. Install PS extension
2. Open the "PowerShell Integrated Console"
3. Paste in this:

[code]

It should look like this:

![image](https://user-images.githubusercontent.com/2193314/79232482-67919680-7e1c-11ea-8ea9-3954ccbeeaa7.png)

/cc @TylerLeonhardt

[2020-04-14 13:53] Tyriar commented on #95107
What's your proposal to improve it? The Python extension owns what the name is set to so I think this should probably get reported to them?

[2020-04-14 13:55] ryenus commented on #95033
FYI, issue opened for AWS Toolkit: https://github.com/aws/aws-toolkit-vscode/issues/1027

[2020-04-14 13:57] thw0rted commented on #92358
Thanks @bpasero .  Just to double check, is "quick pick" the panel you get with CTRL+P?  Ideally this behavior would work everywhere, but that's the one that's most important to me personally.

[2020-04-14 13:57] dannew commented on #63068
I also use both the internal screen and an external monitor.

[2020-04-14 13:58] #95221 closed

[2020-04-14 14:01] HanabishiRecca commented on #94769
Hmm, yeah, I've made the output logging inside VS Code itself. It's ok there.

![изображение](https://user-images.githubusercontent.com/13597663/79233218-f4227000-7e81-11ea-9715-81419d334f2a.png)

@joaomoreno, sorry for bothering.

[2020-04-14 14:01] roblourens commented on #94705
So a ton of places that open editors set either `revealIfVisible` or `revealIfOpened`. Even added somewhat recently: https://github.com/microsoft/vscode/issues/71672

@isidorn do you happen to know why it was necessary to add that when the editor service respects the setting? Was the goal to override the setting?

If I changed this for search I think I'd want to change it everywhere. I don't use t

[2020-04-14 14:01] TylerLeonhardt commented on #95227
As discussed, this is because we name the created terminal.

If we didn't name it, paste works... But that's not ideal for the PowerShell extension.

[2020-04-14 14:01] isidorn commented on #93438
I have pushed a change that we now use role `code` for the HTML element that containes the editor.
Please try it out and see if this helps so we know if we should keep this change.

Please note that my approach is not perfect: I add this role on each editor instance, and for example an editor instance can also be markdown readonly for which the role might not be so fitting.
Though I think this is

[2020-04-14 14:03] keelung-yang commented on #94862
No. proxy settings are setted by our IT team. Anyway, it should not crash.

[2020-04-14 14:03] kdlslyv commented on #95056
Yeah, happens here as well even with all extension disabled.

Basically I have a structure with a project root directory, beneath a `client/` and a `server/` directory.
Now whenever I open an file under `client/` or `server/` it shows up in the project root folder too, plus the folder structure of where that file is.

When using `Ctrl+P` to navigate quickly, the explorer drawer annoyingly jumps ar

[2020-04-14 14:04] Tyriar commented on #95227
Just needs a core change to turn on the shell detection even if `name` is present. No changes on your end.

[2020-04-14 14:04] joaomoreno commented on #94929
I must say it's a little bit strange, though I understand why it occurs.

This is indeed a new behavioral change, introduced in https://github.com/microsoft/vscode/commit/1d76800a9e4013ab8320042a73eda26fe4d28a10. @alexdima any thoughts? Maybe we option it?

[2020-04-14 14:05] sandy081 commented on #40233
Thanks for the feedback.

To be clear, the proposal is to inline folder specific settings in user settings file just like language specific settings.

Again, `user-folder-settings.json` file inside or outside the workspace folder option is discussed and it seems to be a simple solution but not effective due to the reasons below. Hence it was excluded.

- If contained inside workspace folder, user

[2020-04-14 14:06] aeschli commented on #94149
Thanks for the project and the steps. I tried again, but was not able, but I'm not familiar with Dart/Flutter.
Can your reproduces without extensions?

If it does not reproduce without extensions, please file against the Dart / Flutter extension.

[2020-04-14 14:06] #94149 closed

[2020-04-14 14:06] isidorn commented on #94705
@roblourens I do not remember clearly to be honest. I probably pass that argument so that editor service would not open editors if they are already open.
What could happen before:
Group 1 has editor A, B and C is Visible
Group 2 has focus and has D visible.
I click on breakpoint to open editor A. I do not want it to be reopend in Group 2, but that Group 1 gets focus and it becomse visible.

[2020-04-14 14:06] aeschli commented on #94116
fixed with 41e9b9567079b1ba0aeca8e809c4ab0eda3e7e2d

[2020-04-14 14:06] #94116 closed

[2020-04-14 14:07] isidorn commented on #94929
IMHO this is not so unexpected and breaking and I would leave the current behavior and potentialy introduce an option in the future.

[2020-04-14 14:09] AndrewDavis commented on #12622
Can't say I agree. They're getting paid, we're not. They have time for this, we don't. If it's so trivial, then why aren't you doing it? Don't tell people it's easy to implement it, just do it then.

One can be respectful and still ask, "Y u no do dis?" at the same time.

[2020-04-14 14:10] sandy081 commented on #94705
This is the same reason @isidorn  mentioned that it was added to Problems view and Search view then and want to continue it for problems view.

[2020-04-14 14:11] stakx commented on #94978
Not for the above repro. (Well, except for the two built-in PHP extensions, I suppose; I made sure to disable all regular extensions visible in the extensions tab.)

[2020-04-14 14:13] jrieken commented on #95195
@Nileshdcool Can you ckeck if it's this: https://github.com/microsoft/vscode/issues/94858

[2020-04-14 14:13] #95218 closed

[2020-04-14 14:14] jrieken commented on #95226
Please check if you are seeing this: https://github.com/microsoft/vscode/issues/94858

[2020-04-14 14:15] iliazeus commented on #94711
@joaomoreno, wouldn't a [TextDocumentContentProvider](https://code.visualstudio.com/api/references/vscode-api#TextDocumentContentProvider) be a better fit here? It is easier to implement.

[2020-04-14 14:17] isidorn commented on #94188
Unassigning myself. @chrmarti let me know if you need me to investigate something or if I can help in any way here.

[2020-04-14 14:17] jrieken opened #95228 "Debug disconnect doesn't to anything"
* this launch-config https://github.com/microsoft/vscode-github-issue-notebooks/blob/4934b2e156ac15d50d79ddaed69dbe92491a6ca2/.vscode/launch.json#L22
* attach
* disconnect
* :bug: nothing happens

[2020-04-14 14:18] sbatten commented on #94761
I am not sure the new command is necessary. With no folder opened, the view has a different command that is already present.

[code]

[2020-04-14 14:21] sbatten commented on #95139
@ArturoDent is correct. The command is about the panel, not the terminal. It is working as intended.

[2020-04-14 14:21] johnpapa commented on #40233
Thanks for explaining the details.  I don’t see it as solving all problems, but i do see your points.

I would think that ignoring the file is local.settings.json) is a user choice. The big win with that structure is it is extremely familiar to ode users and adds minimal cognitive load. Local settings override workspace settings override user settings override default settings. I’m also not unders

[2020-04-14 14:22] jrieken commented on #93230
@isidorn I am assuming that you also see this when self-hosting and that no more input from me is needed, right? It's hard to distill steps here but I'd say that locals or block variables are always collapsed except for one or two.

[2020-04-14 14:22] sbatten commented on #94569
/duplicate #64188

[2020-04-14 14:23] #94569 closed

[2020-04-14 14:27] sbatten commented on #94569
@joaomoreno I do wonder why it doesn't repro in the previous stable (something @mjbvz tested I believe)

[2020-04-14 14:29] Tyriar commented on #95227
Problem line:

https://github.com/microsoft/vscode/blob/4a55d1179060689f72e8849f4120067afa37cf55/src/vs/workbench/contrib/terminal/browser/terminalInstance.ts#L1317-L1318

[2020-04-14 14:30] mathroc commented on #12622
everyone can see what’s going on next:

* https://github.com/microsoft/vscode/issues/95215
* https://github.com/microsoft/vscode/issues/95168

some are getting paid to work on this, so they’re probably doing what they’re being told to do. or at least what is of higher priority at the time to meet their goals

He said it probably would take half a weekend, and that people should stop complaining an

[2020-04-14 14:31] weinand commented on #90793
Original [feature request](https://github.com/microsoft/vscode-debugadapter-node/issues/39)
[Pull request](https://github.com/Microsoft/vscode-debugadapter-node/pull/44) for adding the feature to DAP.

[2020-04-14 14:33] jacobweber commented on #94929
My arguments for fixing it (or at least making it optional) would be:

- It's inconsistent; you don't expect steps 2 and 6 to behave differently, but they do.
- It's different from how other tree views work, like the Finder or Eclipse.
- It's disorienting when the view keeps moving around.

[2020-04-14 14:34] rydzek commented on #94953
You can try by making a call to undefined function in Hello World command. Normally it should print a typical JS runtime error like:
UngaughtReferenceError: Call to undefined method XYZ.

[2020-04-14 14:38] alexr00 commented on #94978
I can't repro those scopes at all. I think the scope `keyword.operator.logical.php` is not unreasonable, so I will not ask the grammar owners to change it. @stakx your settings change is a reasonable way for you to change the color for yourself.

[2020-04-14 14:38] #94978 closed

[2020-04-14 14:43] Rahul81041 opened #95229 "if_name_ == ""_main":"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-04-14 14:43] #95229 closed

[2020-04-14 14:44] isidorn commented on #94761
@sbatten where are those commands registered? I could not find them when I did my change.

[2020-04-14 14:45] AndrewDavis commented on #12622
That's a foolish assumption to make. Hence the complaints. When things aren't the way they should be, a lot of people are going to complain. That's how it works.

Okay, then we're giving feedback in the hopes that the people telling them what to do will see it?

[2020-04-14 14:47] sbatten commented on #94688
One thing of which I believe we are convinced is that view containers are *ephemeral* and lack *self-identity*. This is demonstrated by them having a meaningless identifier with no ties to their creator view. The next step in tackling this is understanding how we give these views identity. i.e. How do we pick icons and a name for them? As the plan item suggests, this will be dynamic. And lastly, w

[2020-04-14 14:48] isidorn commented on #95228
Works for me.
Here are my steps: I have
`"debug.node.useV3": true`
I run `scripts/code.sh`

From vscode insiders I run the Attach To Extension Host config
I click disconnect -> it disconnects

@connor4312 can you aslo try it out
@jrieken let me know if you do something differently

![diconnect](https://user-images.githubusercontent.com/1926584/79238462-b288c980-7e6f-11ea-944a-69c4b12d0126.gif)

[2020-04-14 14:50] jrieken commented on #95228
I have a video that's too large for my 4g connection... Please try with the my launch config

[2020-04-14 14:53] sbatten commented on #94761
https://github.com/microsoft/vscode/blob/4aba29719297ef9745357be50e4315ede58bbec9/src/vs/workbench/browser/parts/views/views.ts#L613-L632

[2020-04-14 14:53] soredake commented on #12622
**PLEASE, FOR THE GOD SAKE, STOP SPAMMING.**

[2020-04-14 14:55] isidorn commented on #93230
@jrieken when I self host I personally hit two issues:
* When stepping in and when most of the scopes get changed the expansion expectedly gets lost
* When I manually collapse all scopes next step the first scope reopens

Though I am not sure if we can do anything about these two cases.
I will keep my eyes open for this one in the next week, and if you see some other pattern than what I described

[2020-04-14 14:57] Trid-collab opened #95230 "Intellisense in Python working eratically"
We have written the needed data into your clipboard because it was
Issue Type: <b>Bug</b>

The Intellisense in Python seems to be working eratcially, not showing up proper suggestions . Sometimes it works only when we press Crtl+Space
Sometimes it works perfectly automatically

Also it seems not work properly with Notebook Option. The suggestions which I get on normal python file is not availbale

[2020-04-14 14:58] isidorn commented on #94761
Aha, so my change simply forces the emptyView.focus to not have a special command, but to use the same one. I think that makes sense, since it is the same view for the user at the end.

[2020-04-14 14:59] lvegerano commented on #32320
Tuesday April 14, 2020 @ 9:58 am VSCode version 1.44.0

THIS IS STILL AN ISSUE

[2020-04-14 14:59] mritalian commented on #46403
And it's like the simplest option to add, seriously what gives?  customizeUI is a bit of a hack.

[2020-04-14 15:03] sbatten commented on #94761
To Verify:
1. Open an empty window.
2. Attempt to set a keybinding with the keybinding editor for `workbench.explorer.fileView.focus`
3. Verify the keybinding works to focus the no folder opened view.
4. Open a workspace.
5. Verify the same keybinding works to focus the files explorer.

[2020-04-14 15:08] joaomoreno opened #95231 "Node Debug: Strange settings UI behavior"
Couple issues:

- Node debug appears as `Node debug` and `Node Debug` in the settings UI
- Settings counts are off by one on each of those sections

![9e31d969-2f40-4b39-9082-824b6a8c6fcb](https://user-images.githubusercontent.com/22350/79240780-80c53200-7e72-11ea-9c9a-fc5af3bf3a1c.gif)

[2020-04-14 15:09] isidorn commented on #95228
I appologize, I missed that you are doing it from that repo, I thought it was from VS Code. Thus deleting my previous comment to make the discussion more concise.

I notice that VS Code is preoprly sending the disconnect to the vscode extension and it seems like the Node debugger starts the new session automatically by calling the `startDebugging` api
@connor4312 can you please investigate what is

[2020-04-14 15:10] Thomas1664 opened #95232 "Grouping breakpoints"
#64186

Sometimes I want to debug a specific feature of my project but I don' want to hit every breakpoint. So it would be nice if I don't need to disable every breakpoint which I don't need. Rather it would be helpful to enable or disable groups of breakpoints for a feature.
In my opinion, this feature is now easier to implement because of the development concerning breakpoints since December 201

[2020-04-14 15:10] bpasero commented on #92358
Yes. It would probably work in pickers that allow to remove entries (not all do).

[2020-04-14 15:11] Jayaramstarr opened #95233 "extension host terminated unexpectedly"
Issue Type: <b>Bug</b>

I am getting this error
At first I was not able to use emmet which I think is a default extension in 1.44.0 then uninstalled and re-installed vs code . After which I started getting this error. The settings and extensions information was still saved when i uninstalled and re-installed.

VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-07T23:31

[2020-04-14 15:12] jrieken opened #95234 "Outline and notebooks"
Currently, breadcrumbs and outline don't show anything when having a notebook open. We should come up with a way how this should work and then implement this.

[2020-04-14 15:14] joaomoreno commented on #94607
@connor4312 This did nothing:

![image](https://user-images.githubusercontent.com/22350/79241345-3e502500-7e73-11ea-8d26-7aa10ca264a9.png)

I've also enabled `debug.chrome.useV3`, is this the right setting to use?

[2020-04-14 15:17] connor4312 commented on #95155
It sounds like they are 🙂

You can configure the default options via `debug.javascript.terminalOptions`, for example:

[code]

Let us know if that does what you're after.

[2020-04-14 15:19] kshpytsya commented on #95190
Happens here as well:

Version: 1.44.0
Commit: 2aae1f26c72891c399f860409176fe435a154b13
Date: 2020-04-08T11:22:13.689Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 5.5.0-pf2

[2020-04-14 15:25] joaomoreno commented on #94794
Can you reproduce if you disable Windows background updates? Set `update.enableWindowsBackgroundUpdates` to `false`.

[2020-04-14 15:26] #60704 closed

[2020-04-14 15:28] BalaramaRajuRudraraju opened #95235 "Extension host terminated unexpectedly. I am on version 1.44.0 now but the problem start on V1.43.2 itself. I have tried uninstalling all the extensions, uninstalling and reinstalling the VS."
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2020-04-14 15:29] danieljclubb commented on #52855
happened to me today (April 14th 2020) on Windows 10. After a shutdown VS Code was completely gone.

[2020-04-14 15:30] joaomoreno commented on #94849
Are you behind a proxy?

[2020-04-14 15:30] alexdima opened #95237 "Show notification when extensionHostProcess.js is missing on disk"
This is a low risk reaction to https://github.com/microsoft/vscode/issues/94858

We already have the infrastructure to show a message if we detect certain files in the VS Code installation have been altered. The idea is to add a check where we also validate `extensionHostProcess.js` and where we also detect the case where the file is missing (quarantined).

![image](https://user-images.githubuserc

[2020-04-14 15:30] efremsternbach commented on #94794
I'll look at this tonight. Last time I updated it took me over an hour to clean the wreckage. I can't afford to try this during the work day.

[2020-04-14 15:30] joaomoreno commented on #94862
It does not crash, it reports an error.

Is this something new? For how long have updates worked for you before this error appeared?

[2020-04-14 15:32] joaomoreno commented on #94818
I can't reproduce in the latest insider version. You forgot to add important details to your issue. Please respect the issue template.

[2020-04-14 15:33] pavkum commented on #95139
@sbatten @ArturoDent  When the terminal is moved to side bar we need a way to maximize it like it was possible when it was present in the panel.  I mentioned `view: toggle maximized panel`  to say we may need equivalent command to maximize terminal when it is present in sidebar.

Moving items from panel to sidebar strips of the maximizing capabilities but where as moving items from sidebar to pane

[2020-04-14 15:37] hegedis-andor commented on #91843
![image](https://user-images.githubusercontent.com/22738075/79243862-773dc900-7e76-11ea-953c-d51e8f61d17d.png)

I still wish this feature to be added. It would really make finding files easier, especially when there are a lot in the same folder. It could also follow the logical / user flow.

[2020-04-14 15:37] zogga007 opened #95238 "Extension supplied JSON schema doesn't work"
I have an extension (private, not published) that builds on top of the native `json-language-features` and contributes a JSON schema ([validation.zip](https://github.com/microsoft/vscode/files/4476263/validation.zip)):
![image](https://user-images.githubusercontent.com/4518852/79244308-0b0f9500-7e77-11ea-9576-93360102419d.png)

It worked fine up until 1.43.2, but with 1.44.0 I get the following er

[2020-04-14 15:41] davide-rota commented on #70764
@benjaminbauer This is partially possible today using VS Online with either a cloud or self-hosted environment. [VS Online CLI Reference](https://docs.microsoft.com/en-us/visualstudio/online/reference/vsonline-cli)
Problem is that Safari is not fully supported right now, but support may be coming -> https://github.com/MicrosoftDocs/vsonline/issues/362#issuecomment-609518846

[2020-04-14 15:42] hegedis-andor opened #95239 "Manually change the order of the folders and files that are listed in VSCode File Explorer"
Yes, this issue is a duplicate of this: https://github.com/microsoft/vscode/issues/91843
which was closed. I still wish this feature to be added. It would really make finding files easier, especially when there are a lot in the same folder. It could also follow the logical / user flow.

As a user i would like to sort my folder and files order in the explorer manually within it's parent folder, so

[2020-04-14 15:44] ronniehicks commented on #91988
After a little more digging I discovered the issue, and I believe it's been impacting my OmniSharp experience as well. I use Git Project Manager to quickly switch between projects and since I work across Mac and Windows I put both OS locations in the list. The second one, `/src` is for windows and apparently VSCode does not like that path for relative pathing. When I switch it to `C:/src` for the

[2020-04-14 15:47] amelio-vazquez-reina commented on #95159
Thanks @bpasero . Yes, I played with all three, but they seem to customize the look of **all** active **tabs** in **all** editorGroups. What I proposing here is a way to customize the appearance of the editorGroup in focus.

[2020-04-14 15:51] TylerLeonhardt commented on #58619
Awesome - let me give this a test.

Why was this closed? The change will need to be in this repo so that the maximum amount of people are affected (aka those that don't install the PowerShell extension but edit a PowerShell script).

[2020-04-14 15:54] thernstig commented on #92269
Apologize if this does not belong here, if so you can mark it as off-topic and I could potentially create a new issue.

It sounds as if this issue partially implements functionality of https://marketplace.visualstudio.com/items?itemName=formulahendry.code-runner. If this is true and that this issue implements run one file, then it would be cool to extend it to be able to run with the selected text

[2020-04-14 15:58] joaomoreno commented on #94892
https://github.com/microsoft/vscode/issues/95068

[2020-04-14 15:58] #94892 closed

[2020-04-14 15:58] #94736 closed

[2020-04-14 15:59] jaybee82 opened #95241 "URI malformed"
- VSCode Version: 1.45.0-insider
- OS Version: Windows_NT x64 10.0.17134

Steps to Reproduce:

1. click (Menu) Help / 'check for updates'
2. click (Sidebar) Settings / 'Check for updates'

Does this issue occur when all extensions are disabled?: Yes

URI malformed notification appears while hit 'check for updates' in reported locations
Error message in console:

URIError: URI malformed
	at decodeU

[2020-04-14 15:59] joaomoreno commented on #94582
It is because I cannot reproduce.

Please explain what you observe in your machine? What changed exactly in the menu?

[2020-04-14 16:00] amelio-vazquez-reina commented on #95157
Thanks @sandy081 here they are:

[code]

[2020-04-14 16:02] alexdima commented on #58619
@TylerLeonhardt I closed the issue because I considered the initial issue is resolved. So now "autoClosingPairs in language-configuration.json **does** allow multiple entries that use quotes".

Was this issue meant to be about PowerShell specifically? I thought that was given just as an example. Do you want that we add `@'` and `'@` as auto-closing pairs to the built-in PowerShell language configu

[2020-04-14 16:03] TylerLeonhardt commented on #58619
Thanks @alexdima, makes sense! Yes we should add those to the built-in PowerShell language configuration. I was about to send a PR your way 😄

[2020-04-14 16:03] #94742 closed

[2020-04-14 16:04] jwlodek commented on #95133
This is great thanks. Is there a way to rebind this behavior to a different shortcut? The F3 key is kind of out of the way. If not, then F3 will work.

[2020-04-14 16:05] jaybee82 opened #95242 "terminal tab disappears on lost focus"
- VSCode Version: 1.45.0-insider
- OS Version: Windows_NT x64 10.0.17134

Steps to Reproduce:

1. Add new terminal [(menu) Terminal / New Terminal ]
2. New Terminal tab is created / got focused
3. select other tab (e.g. PROBLEMS or DEBUG CONSOLE)
4. Terminal tab disappears

Does this issue occur when all extensions are disabled?: Yes

[2020-04-14 16:06] reynosojoaquin opened #95243 "TS Server fatal error: Cannot read property 'replace' of undefined"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-04-14 16:07] #95243 closed

[2020-04-14 16:08] akbyrd commented on #94832
It works correctly with the debug console

[2020-04-14 16:09] TylerLeonhardt opened #95244 "Add Autoclosing pairs for PowerShell herestrings"
I'll have a PR out for this in a sec. Wanted to get an issue tracking it.

[code]

These `@''@` and `@""@` should autoclose.

NOTE: PowerShell syntax says that the here string open (`@'`) should be the _last characters on a line_ so we should include a newline in the close.

[2020-04-14 16:10] somadeaki commented on #5280
Please implement this feature! It's been 4 years. Shift-shift doesn't sounds like that big of a deal, but it is incredibly convenient.

[2020-04-14 16:10] bpasero commented on #94705
I would only set it if you really want the experience to be in this way and not allow the user to change it, otherwise do not set it. E.g. I know we set it for some editor features like goto definition to allow for a certain experience, but that is always explicit intent by the author of that feature area.

[2020-04-14 16:12] TylerLeonhardt commented on #58619
@alexdima PR sent: https://github.com/microsoft/vscode/pull/95245

[2020-04-14 16:15] jmbockhorst opened #95246 "Terminal "Follow Link" should open file where there is only 1 result"
With the latest insiders this now works great with `Cmd + Click`, but not when clicking the "Follow Link" popup. It still opens the quick open file search. @Tyriar

[2020-04-14 16:16] #94725 closed

[2020-04-14 16:17] connor4312 commented on #94607
@joaomoreno try using `pwa-chrome` instead as the launch type. It looks like there's an unpublished changed (cc @roblourens) that enables useV3 for Chrome in remote (https://github.com/microsoft/vscode-chrome-debug/commit/8e9209da414aa90cfe9f2945e48d8d335295a230 -- we had that in there before js-debug learned to launch browsers in the UI).

[2020-04-14 16:18] JoaoBueno opened #95247 "[0414/130320.699:ERROR:icu_util.cc(165)] Invalid file descriptor to ICU data received."
- VSCode Version: 1.44.0 (user version)
- OS Version: Windows 10.0.18363

Steps to Reproduce:

1. when I type: code .
2.[0414/130320.699:ERROR:icu_util.cc(165)] Invalid file descriptor to ICU data received.

Does this issue occur when all extensions are disabled?: Yes/No

[2020-04-14 16:20] Disane87 commented on #70764
Or using directly [Code-Server](https://github.com/cdr/code-server) plain or in a Docker env.

[2020-04-14 16:21] benlesh opened #95249 "Code sometimes duplicated during scroll and live sharing"
Happened during a live YouTube feed with @developit and @davideast:

https://www.youtube.com/watch?v=qEaNZuIVwP8&feature=youtu.be

[2020-04-14 16:22] DuncanWalter opened #95250 "Add prompting commands for managing selected tsdk"
👋 It would be fantastic if my team could point workspaces to a specific version of typescript bundled with our internal extension. This behavior matches other extensions which use global installs or binaries like Flow Language Support when **not** configured to run flow binaries found in the workspace.

This issue is related to but more limited in scope than [#65546](https://github.com/microsoft/v

[2020-04-14 16:24] eagleoflqj commented on #95176
Without /usr/bin/python linking to python3, I got this error:
[code]
vscode-sqlite3 needs python2 or 3 to run extract.py. gyp can find my python3.8.2, but doesn't use it.

[2020-04-14 16:26] roblourens commented on #94928
Verification steps:

- Run the fsprovider sample from our extension samples repo
- Run the commands to create a MemFS workspce folder
- Add another workspace folder, some normal folder on your disk
- Do a search
- It should return results from the local folder and ignore the MemFS folder

[2020-04-14 16:26] gjsjohnmurray commented on #95235
If you are using Quick Heal antivirus see #94858

[2020-04-14 16:27] davide-rota commented on #70764
Yep, tried that and it's really good but a VS Online self-hosted env has some advantages:
- Authentication natively backed by Azure AD (MFA, pwdless, ...)
- no need to open ports from your server on the internet, no ssh or vpn tunnels to manage and setup. Also no certs, dns and public domain to maintain.
- both are free but VS Online is officially maintained by MS so all extensions are downloaded

[2020-04-14 16:28] gjsjohnmurray commented on #95233
If you are using Quick Heal antivirus see #94858

[2020-04-14 16:32] gjsjohnmurray commented on #95212
See also #94726

[2020-04-14 16:32] gjsjohnmurray commented on #95197
If you are using Quick Heal antivirus see #94858

[2020-04-14 16:33] gjsjohnmurray commented on #95197
/duplicate of #95195

[2020-04-14 16:33] leilapearson commented on #27759
@bpasero I'm hoping you can advise and save me some time if this doesn't make sense or is unlikely to be accepted as a pull request.

I'm considering creating a pull request that would add a new setting - `explorer.sortCaseSensitive` with a default value of `false`.

I considered adding one or more options to the existing `explorer.sortOrder` setting, but case sensitivity seems to be orthogonal to

[2020-04-14 16:34] #95197 closed

[2020-04-14 16:35] Tyriar commented on #95246
Good find 😃

[2020-04-14 16:35] #95246 closed

[2020-04-14 16:43] gjsjohnmurray commented on #95215
The 'candidate issues' link filters for the empty 'March 2020 Recovery' milestone, but weirdly all the candidates are on 'March 2020 Recovery 2'

[2020-04-14 16:46] hbenl commented on #94872
I stumbled across this issue as well with the Test Explorer extension.
Here's how to reproduce with the tree-view-sample:
* Remove [this line](https://github.com/microsoft/vscode-extension-samples/blob/663836611c7ee03f21433d7a347e2909e213c6cc/tree-view-sample/package.json#L163) in `package.json` (it doesn't happen when you set `"group": "navigation"`)
* Change [this line](https://github.com/micros

[2020-04-14 16:52] sgsellmann-miovision opened #95251 "Pressing Ctrl+Tab then pressing the Up and Down arrow keys no longer selects the list item"
Issue Type: <b>Bug</b>

Observed Behaviour:
Pressing Ctrl+Tab then pressing the "Up" and "Down" arrow keys no longer changes the selected element in the list. Instead, its scrolls the list, which is not useful.

Expected Behaviour:
Pressing Ctrl+Tab then pressing the "Up" and "Down" arrow keys should scroll thru the items in the list. This is the previous behaviour which appears to have regressed

[2020-04-14 16:54] Tyriar commented on #95215
@gjsjohnmurray thanks, fixed the link

[2020-04-14 16:54] thernstig commented on #46696
I've read through this issue, but am still not sure if it solves the issue I created that was marked as a duplicate, see https://github.com/microsoft/vscode/issues/93561.

As I understand it, VS Code launches a login shell at startup in order to get e.g. development tools on `PATH` in this code https://github.com/microsoft/vscode/blob/5b7aa98201cf9442ce0252052268a8f3d9502fda/src/vs/code/node/shell

[2020-04-14 17:01] connor4312 commented on #95228
Thanks for the issue, surprised this didn't come up before. With `restart: true` js-debug wanted to try to reattach to the target even when it was killed, and depending on a race sometimes succeeded.

[2020-04-14 17:02] Tyriar opened #95252 "Prompt users when opening vscode://file/... URIs"
In order to eliminate security concerns on Windows, VS Code will not ask the user for permission before opening a URI of the form `vscode://file/<path>`.

Credits go to Abdel Adim 'smaury' Oisfi of https://www.shielder.it.

[2020-04-14 17:02] #95252 closed

[2020-04-14 17:08] KevinBuchs opened #95253 "Allow user-configurable indent in Explorer to indicate nesting in directories"
I would like to be able to control the amount of indent in Explorer to indicate directory nesting. The indent is too small for me and makes it hard to distinguish the indent.

![Screenshot from 2020-04-14 12-06-08](https://user-images.githubusercontent.com/53194155/79253188-65ddc800-7e48-11ea-8b9e-c020021d761f.png)

I cannot quickly determine what is nested in the above example. Ideally, I would b

[2020-04-14 17:12] akbyrd commented on #94705
To add some user context here, I expected `workbench.editor.revealIfOpen` to be a global override that is respected almost everywhere. Definitely anything that feels like an intentional "open an editor here" operation should respect the option, imo. This would include clicking things in the explorer, clicking breakpoints, call stack, quick open, search results, and problems. I don't have as strong

[2020-04-14 17:14] remre07 opened #95255 "Open Image Problem"
ı am wanting to add photo in my web page. i can see that my photo in vscode but when i added web page, this image not see webpage. i am trying a other compiler,its work. but vscode does not work my image.

[2020-04-14 17:15] NxP4Code commented on #94417
I dont think any major windows variables are missing, I just attached difference. Sorry my bad, I should have been clear about it.

This is remaining screenshot of the terminal variables. Sorry, couldn't include in one screenshot.

![image](https://user-images.githubusercontent.com/56322272/79253849-7c385380-7e49-11ea-8fe4-20d3cf5bbf50.png)

I started command prompt on my local and then ssh into t

[2020-04-14 17:19] wolf99 commented on #95064
True dat. No doubt no doubt no doubt 😄 .

You have hit the nail squarely on the head there @joaomoreno.
I had thought I had both Windows Git and Bash Git pointing to the same `.gitconfig`.
But that was not the case - nor could it be as the paths contained within would need to be different (e.g. `/mnt/c/...` vs `C:\...`).

With this I have solved this with a simple `git config --global core.exclude

[2020-04-14 17:19] #95064 closed

[2020-04-14 17:20] wdscxsj commented on #94761
That's better indeed. Thanks for your investigation!

[2020-04-14 17:20] Jayaramstarr opened #95256 "extension host terminated unexpectedly"
Issue Type: <b>Bug</b>

I am getting this error
At first I was not able to use emmet which I think is a default extension in 1.44.0 then uninstalled and re-installed vs code . After which I started getting this error. The settings and extensions information was still saved when i uninstalled and re-installed.

VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-07T23:31

[2020-04-14 17:28] DanTup commented on #95252
I guess this is a typo, and should say "now"?

[2020-04-14 17:30] akbyrd commented on #94818
Does not repro in 1.45.0 insiders.

[2020-04-14 17:30] #94818 closed

[2020-04-14 17:30] karrtikr commented on #95123
@chrmarti I've another question.

![image](https://user-images.githubusercontent.com/13199757/79130470-dce96280-7d5b-11ea-99f7-49141ff0daa9.png)

This look like a combination of an input box and a quickpick. Do you guys have a way where you can enter something into a input box as well select something in the dropdown quickpick list?

[2020-04-14 17:32] Tyriar commented on #46696
@thernstig this API will _not_ change VS Code's window process environment, only terminal and task processes created after it's set. Changing VS Code's window is off the table as too many things could go wrong, but regardless it's not `process.env` on the window you need to change, the Python extension which could be caching the `PYTHONPATH` for all your know.

With the changes, a direnv extension

[2020-04-14 17:39] yanggehua commented on #95052
I was following your instructions.  The last step seemed to work. So I use the command `Install from VSIX ...` and browse locally the downloaded file `ms-python.python-2020.3.71113.vsix`. The extension was then installed corrected (asking for a reload).

There was no network problem. When I clicked on "Install" button inside the extension panel and when it failed, the only output I got was:
[code]

[2020-04-14 17:40] orokanasaru commented on #95155
@weinand,

For further context:

I was getting an exception when running `rush update`. I tried debugging with break on exceptions, but the exception was thrown without breaking on it. I managed to search source on github to track it down to a pnpm error. I manually set the breakpoint in the source that I assumed was throwing the exception, and it still skipped over it. `console.log` debugging end

[2020-04-14 17:48] connor4312 commented on #95155
Ah, yea, that makes sense. For exception breakpoints and any breakpoints manually set, I think we should not smart step when we initially hit them. However, for general event breakpoints we probably still should--for instance, I might want to break on a click event handler and then smart step into my React-based callback.

cc @roblourens as well for thoughts

[2020-04-14 17:49] #95155 closed

[2020-04-14 17:50] gjsjohnmurray commented on #95256
If you are using Quick Heal antivirus see #94858

[2020-04-14 17:55] IllusionMH commented on #95253
/question

It's already there - `workbench.tree.indent` 😄

[2020-04-14 17:57] #95253 closed

[2020-04-14 17:59] IllusionMH commented on #95241
Cannot reproduce this one.

[code]

[2020-04-14 18:04] srinivasrk opened #95257 "Error updating vscode - Windows 10"
- VSCode Version: 1.43.2
- OS Version: Windows 10

Steps to Reproduce:
On windows vscode promots update now and when trying to update it craps out with an error.
I've reinstalled vscode completely and still face this.

![image](https://user-images.githubusercontent.com/11569731/79258224-cffe6900-7e58-11ea-9e2d-50660a588e0c.png)

Does this issue occur when all extensions are disabled?: Yes/No

[2020-04-14 18:18] krishnalrsc opened #95258 "The terminal process terminated with exit code: 4294901760"
The terminal process terminated with exit code: 4294901760

[2020-04-14 18:19] nbros commented on #95060
As indicated in https://github.com/microsoft/vscode/issues/92693#issuecomment-609821863, I tried removing the "window.zoomLevel" setting and it fixed the blurriness in the terminal.
Maybe try and see if it fixes your problem too?

[2020-04-14 18:22] abhijeetmanhas opened #95259 "VSCode terminal remains hidden while it downloads extensions"
- VSCode Version:1.43.1
- OS Version: Linux Ubuntu 18.0.4 LTS x86_64

Steps to Reproduce:

1. Open VSCode window in half size of screen
2. Reinstall any extension
3. Use terminal
4. You can't see your commands you run on terminal while extension is being installed

Does this issue occur when

all extensions are disabled?: Yes, when we click on install extension again this issue appears

[2020-04-14 18:22] 0xicl33n commented on #95257
- VSCode Version: 1.44
- OS Version: Windows 10 Pro

I just had this problem. I had to close malwarebytes and rerun a downloaded installer, then it worked.

![image](https://user-images.githubusercontent.com/2192160/79259682-f369e980-7e41-11ea-9605-77d888f13b26.png)

It seems malwarebytes "locks" `%appdata%` and makes the application look like its not installed anymore

![image](https://user-image

[2020-04-14 18:23] alexreg commented on #40233
@sandy081

I don't think it should be a concern of VS Code of what users might accidentally commit in their repo... they could accidentally commit so many things, after all! Like I was saying, this is no big deal to add to a global or local ignore (it doesn't have to go in the `.gitignore` file).

How would customising a subdir of a project even work? I mean, would the VS Code settings change as s

[2020-04-14 18:27] anouarhassine commented on #94374
Is there any update about this issue?

[2020-04-14 18:33] orokanasaru opened #95260 "Autocomplete in settings.json should match nested object keys"
I was searching for a way to disable SmartStep in user settings.
I typed `SmartStep` and only got suggestions for things like "java`s`cript.for`ma`t.inse`rtS`paceA...".
The correct solution was to add:

[code]

Autocomplete in the settings editor should be able to find nested settings like this to help expose options to users and reduce the need to create superfluous issues and stack overflow post

[2020-04-14 18:42] terryaney opened #95261 "TypeScript build task fails when path to tsconfig.json file has spaces"
Issue Type: <b>Bug</b>

I couldn't comment on existing issues, but I'm still having the same problems as mentioned in these issues:

https://github.com/microsoft/vscode/issues/38408

https://github.com/microsoft/vscode/issues/36588

My output:

[code]
Feel free to remove this issue and reopen other(s) if that is proper channel.

Version: 1.44.0 (system setup)
Commit: 2aae1f26c72891c399f860409176fe

[2020-04-14 18:50] tiagobento commented on #77131
Hi @mjbvz! Thanks for the updates. I think the API is looking really good. As you might know, I'm one of the maintainers of [Kogito Tooling](https://github.com/kiegroup/kogito-tooling) and we ship a custom editor for DMN and BPMN files as _binary_ editors.

We've recently moved to the proposed API, since we expect it to become stable soon. On VS Code 1.44.0, we're using the temporary `vscode.windo

[2020-04-14 18:56] havra opened #95262 "Per file Open in editor"
Issue Type: <b>Feature Request</b>

Open in editor should have an option per file.

Repro steps
Search for content on all open files;
The content you need is on a file in the middle of the list;
Click in Open in Editor;

Verified Results
A long text file will be generated with information from several files that are irrelevant to my search;
I need to do another search on the result file to reach t

[2020-04-14 19:12] mjbvz commented on #77131
@tiagobento Thanks for testing!

The current custom editor API from [`vscode.proposed.d.ts`](https://github.com/microsoft/vscode/blob/master/src/vs/vscode.proposed.d.ts) only works in that latest VS Code insiders builds (VS Code 1.45). Please make sure you are testing using that pairing

If you are still having issues using the new API in VS Code insiders, can you please share a branch of your ext

[2020-04-14 19:19] fgarcia commented on #17634
I am a bit overwhelmed by the huge power of Settings Sync. After a quick overview I am impressed but also a bit sad thinking that a more basic solution might not be implemented.

I tend to sync all my configuration and dotfiles across 4 computers: 1 Linux, 1 Mac and 2 windows. Windows is the main problem because I cannot symlink config files into my unique repository, so something as basic as load

[2020-04-14 19:21] lvegerano opened #95263 "NPM scripts not loading"
Issue Type: <b>Bug</b>

<img width="365" alt="Screen Shot 2020-04-14 at 2 14 31 PM" src="https://user-images.githubusercontent.com/2464593/79264992-0b9a3280-7e5b-11ea-83f5-708d50acc0c5.png">

Right now scripts dontt load at all. I had nvm, then switch to volta, then back to nvm and now this does not work. I tried to debug but I'm not sure what is the entry point for the npm support extension. This

[2020-04-14 19:27] #95255 closed

[2020-04-14 19:27] mikedld commented on #92290
@alexdima, I had `coenraads.bracket-pair-colorizer-2` disabled for some time now and it does still reproduce. Below are two GIFs with it enabled and disabled for comparison (I still have GitLens enabled, otherwise it doesn't happen). As the cursor is at column 0 inside the inactive block, the lightbulb isn't even shown (not sure why though) which makes me wonder if it's even related to it...

Enab

[2020-04-14 19:28] #94043 closed

[2020-04-14 19:29] jedwards1211 commented on #75627
@bpasero @jrieken @joaomoreno @mjbvz @isidorn @alexdima @sandy081 @Tyriar @aeschli @roblourens
What will it take for this to get fixed?  Is there something we can do?  Would it be worth my time to try to make a PR either to run VSCodeVim in a separate host, or enable "type" command extensions to run in the main process (the only solution I think will guarantee acceptable performance in the long ru

[2020-04-14 19:30] EmbeddedBacon commented on #94849
@joaomoreno, yes, for this particular machine I am behind a company firewall/proxy.

[2020-04-14 19:34] lvegerano commented on #95263
Looks like there was a duplicate rogue folder in the workspace

[2020-04-14 19:34] #95263 closed

[2020-04-14 19:37] alexandcote opened #95264 "TS Server fatal error: Cannot read property 'path' of undefined"
Issue Type: <b>Bug</b>

**TypeScript Version:** 3.7.5
**Steps to reproduce crash**
1. Open a project with a `tsconfig` at the root of the project
2. Create a new file in this project
3. Paste this code in the file
[code]
4. Don't save the file.

VSCode will automatically detect the file as a typescript file but because the file is not saved, the server will crash.

**TS Server Error Stack**
[code]

[2020-04-14 19:43] chrmarti commented on #95133
You can edit the keybindings under `File` > `Preferences` > `Keyboard Shortcuts`.

[2020-04-14 19:48] WizliJamesAxe commented on #44231
Этот баг работает даже у Русских в 2020. =)

[2020-04-14 19:50] eamodio commented on #94106
@jrieken @sandy081 is there anyway to provide intellisense here?

[2020-04-14 19:58] mjbvz commented on #95264
Do you see this using TypeScript 3.8+?

[2020-04-14 20:03] rhy-ama opened #95265 "Regression after 1.44.1-1586789296 in place upgrade - Cell execution (Ctrl-Enter) launches broken Python Interactive Window"
- VSCode Version: 1.44.1-1586789296_amd64.deb upgraded via apt
- OS Version: Ubuntu 18.04.1 5.3.0-42-generic
- Vanilla install python 3.7.6 64-bit as per VS docs, ms-python.python VS extension 2020.3.71659 /

Steps to Reproduce:

1. Upgade working 1.44 Code install via ```apt-get --only-upgrade install code```
[code]
2. Open empty Python file,  create a cell, launch cell via Ctrl-Enter, Python Int

[2020-04-14 20:04] alexandcote commented on #95264
@mjbvz, no I don't 😃. With both the VSCode versions or the workspace version.

I tried with Typescript 3.8.3 for the workspace version.

[2020-04-14 20:06] mjbvz commented on #95264
Thanks for testing.

Based on the steps to reproduce, this seems like a duplicate of https://github.com/microsoft/vscode/issues/85547 which was fixed in TS 3.8. Unfortunately we can't workaround this on the VS Code side, you need to use the newer TS version

Let me know if you see this using TS 3.8+

[2020-04-14 20:06] #95264 closed

[2020-04-14 20:07] chrmarti commented on #95123
You seem to use `createQuickPick()`. With that you can add a listener `quickPick.onAccept()` and in there read `quickPick.value`. Could you give that a try?

[2020-04-14 20:08] rhy-ama commented on #95265
PS: Finally got the window launched after repeatedly opening/closing Python interactive window and pointing to different cells in a py file

[2020-04-14 20:08] dominiksalvet commented on #35711
I confirm that **it affects Linux as well**. Ubuntu 18.04 on ASUS ZenBook UX430UA here, Visual Studio Code installed from the official deb package. More information:

[code]

I am using Large Text, which is equal to 1.25 font scaling. Once I turn it off, the mouse scroll animation works properly. The touchpad scroll animation works properly in both cases.

Should I be of any help, feel free to let

[2020-04-14 20:13] deepak1556 commented on #95062
Have your restarted code after giving your macOS terminal access to camera ? Otherwise code wouldn't pick up the privilege for the terminals it opens.

@Tyriar how do we spawn terminals on macOS ?

I tried the following steps and it seems to work , https://streamable.com/zsa8ro

Yes you can't do that at the moment, because code doesn't carry the entitlement that requests access to camera. I am loo

[2020-04-14 20:13] cmdrkeene opened #95267 "Cmd+J on MacOS to hide/show terminal shows broken outline"
Issue Type: <b>Bug</b>

Cmd+J on MacOS to hide/show terminal/bottom-tray shows broken outline unlike Toggle Terminal shortcut Ctrl+`

Changing text size up or down corrects outline of terminal

VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-08T08:23:56.137Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(

[2020-04-14 20:16] LucaGabi commented on #41860
Please also read this:

https://github.com/microsoft/vscode/issues/95182

[2020-04-14 20:17] thernstig commented on #46696
@Tyriar Thank you for the information. As such, is the issue that was closed still valid, or is that something that is never going to happen/be possible?

[2020-04-14 20:24] jvanheugten commented on #95062
Yes, I've restarted vscode a couple of times. I'll try uninstalling and reinstalling it from scratch tomorrow.

[2020-04-14 20:39] Tyriar opened #95268 "Define keybinding button should match blue button style used elsewhere"
We don't use round corners anywhere else:
![image](https://user-images.githubusercontent.com/2193314/79271858-5913a100-7e55-11ea-82bc-b664058b2796.png)

Can we match this?
![image](https://user-images.githubusercontent.com/2193314/79271871-60d34580-7e55-11ea-857e-05601e3689d4.png)

[2020-04-14 20:56] smridge commented on #68647
Is there some sort of regex to determine if filename or directory path includes a certain match?

Context: I'm writing a Rails syntax ruby language injection extension and running into similar issues. For example, certain methods are only available for `controllers`  or `views` but not `models`.

[2020-04-14 20:58] tiagobento commented on #77131
@mjbvz Thx for the reply!

We haven't tested the API that's on `master` yet. But the API that's on `1.44.0` has an issue with undo/redo and dirty state on VS Code 1.44.0.

It looks like VS Code is not calling the `applyEdits` and `undoEdits` methods and also that it's not detecting a dirty state after we fire  `CustomDocumentEditEvent`.. do you know if that's expected?

[2020-04-14 21:00] mjbvz commented on #95250
Can you explain the use cases for this over using the workspace version of TypeScript or having everyone on your team set `typescript.tsdk` as a user setting (i.e. globally)?

[2020-04-14 21:01] vfrazao-ns1 commented on #94794
I've been seeing this same issue as well. It seems to be the same usual files where somehow the permissions get corrupted to the point where I can't remove the files even with admin privileges.

Right now the problem files appear to be:
[code]

and

[code]

Same as @efremsternbach

This happened the last time that I exited VS Code and the automatic updater tried to install the newest version so I

[2020-04-14 21:03] mjbvz commented on #77131
@tiagobento Since no extensions are can ship with proposed APIs, only the version from master with the latest insiders build is supported. Please update your code to use that

[2020-04-14 21:10] vfrazao-ns1 commented on #94794
Seems like this may be related (the same?) as: `https://github.com/microsoft/vscode/issues/47841`  and `https://github.com/microsoft/vscode/issues/90721`

[2020-04-14 21:10] mjbvz commented on #94673
Please share the process details. Which specific subprocess has the high cpu usage?

Also, be sure to test with extensions disabled. `--stat` shows that you had at least the java and eslint extensions enabled

[2020-04-14 21:10] tapz commented on #94673
Now it's almost 8GB. Really hungry app...

[2020-04-14 21:11] efremsternbach commented on #94794
I just tried unchecking the setting for background updates (go to Settings and filter for 'update') and I kicked off an update to 1.44.1
This time everything worked without problems  I don't know if this represents a fix for the problem in the 1.44.1 installer or if unchecking that setting did the job. If you've had the same problem I'd be glad to hear your results

[2020-04-14 21:12] tapz commented on #94673
@mjbvz I installed the latest macOS update and restarted the computer again and now the JS/TS extension works. But still it seems to eat memory like a beast.

[2020-04-14 21:12] mjbvz commented on #94673
Please share the requested information

[2020-04-14 21:13] mssngr commented on #94833
So, I have found a way to reproduce. Open a file. Make changes to that file. Do not save those changes. Press "Cmd+Q" to close the application. Reopen the application. VS Code will crash and give the following report:

[code]

[2020-04-14 21:14] mjbvz commented on #95199
How would you expect this to work in terms of API? Just let webviews to use `codicon-ellipsis` class names, for example?

[2020-04-14 21:15] mike-grayhat opened #95269 "Caching issue related to extension folder path that affects Extension Host initialization"
- VSCode Version: 1.44.1
- OS Version: Windows 10
- Does disabling all extensions (excluding remote ext) help: No

Seems like I have a weird caching issue related to extension path that affects Extension Host initialization - it doesn't start correctly if I run a fixed extension (that had been broken at some point), but it works flawlessly if i just copy the whole extension folder and run it from

[2020-04-14 21:20] mjbvz commented on #95187
Do your projects have jsconfig or tsconfig files? Can you share these?

`BigInt` was only added in es2018 I believe so you'll need to update your `jsconifg`/`tsconfig` to tell VS Code that you are targeting a modern JS runtime and can use it

[2020-04-14 21:22] bryceitoc9 opened #95270 "Support for $ref tags/JSON schema in extension's package.json"
I work on a [VS Code Extension](https://github.com/aws/aws-toolkit-vscode), and I'm following up on https://github.com/microsoft/vscode/issues/95033 . It looks like this issue was caused by the fact that we were using a [`$ref` field](https://github.com/aws/aws-toolkit-vscode/blob/v1.8.0/package.json#L247) within the package.json manifest. This appears to be an invalid use of package.json, given t

[2020-04-14 21:22] mjbvz commented on #94837
ok, I'll leave them for now then

[2020-04-14 21:22] #94837 closed

[2020-04-14 21:24] mjbvz commented on #94346
@sandy081 We control the rendering of the webview so you could add extension pack info inside of it: https://github.com/microsoft/vscode/blob/9f1aa3c9feecd04a79d22fd6752ba14a83b48f1b/src/vs/workbench/contrib/update/browser/releaseNotesEditor.ts#L320

I believe that would be the most simple fix

[2020-04-14 21:28] #95244 closed

[2020-04-14 21:30] gudvinr commented on #92357
To be honest, vendor lock-in on Microsoft (using built-in extension rather than opt-in installation) is really not looking good.

From all extensions (except telemetry which is not extension) Settings Sync is the first one which is tightly coupled with Microsoft online services and you can't just "not install" it.

This issue is the one that should be available when Setting Sync will go out in the

[2020-04-14 21:32] alexdima commented on #75627
@jedwards1211 Can you please profile the extension host the next time you notice typing is unresponsive for you? This can be easily done by opening `F1 > Developer: Show Running Extensions` and then clicking the Start Profile action. Once the profile is stopped, the UI should show next to each activated extension how much time it consumed. This should help to clarify who is the culprit for the hig

[2020-04-14 21:34] #95237 closed

[2020-04-14 21:35] mjbvz commented on #95122
Thanks for testing. I'ml looking for the crash stack. When a crash happens, you should see a notification that says, `report issue`. That will automatically fill in an issue that looks like: https://github.com/microsoft/TypeScript/issues/37939

If this doesn't work, then try running the `Developer: Toggle Developer Tools` command in the command palette. Then share the developer console output whic

[2020-04-14 21:36] ngarg-panw commented on #3553
I see that support for multi-file select is there in explorer view. In my extension i want to get the paths of all selected files. Right now, even if I select 5 files, i only get path for 1. I am not finding any relevant API. Do we have the API available for the same?

[2020-04-14 21:51] mjbvz commented on #95041
Duplicate of #82670

[2020-04-14 21:51] #95041 closed

[2020-04-14 21:52] mjbvz commented on #88779
If you are not @BustaFett, Please follow [these instructions](https://github.com/Microsoft/vscode/wiki/Performance-Issues) to collect performance information and open a new issue. Be sure to include the output of `code --status`

[2020-04-14 21:53] #93589 closed

[2020-04-14 21:54] mjbvz commented on #93589
Renamed to `useAliasesForRenames`

For verification:

- Make sure the new setting works (`useAliasesForRenames`)
- Make sure the old setting still works if you don't use the new setting
- Make sure the old setting is marked as deprecated

[2020-04-14 21:56] pdf commented on #75627
@alexdima fixing extensions one at a time, forever, is not a reasonable answer to this problem.

[2020-04-14 22:01] sitefinitysteve commented on #88779
Ok, it's just frustrating that this issue is open multiple times and goes nowhere on any thread, feel like we're just multiplying issues.  But if that's the process, no worries.

[2020-04-14 22:03] mjbvz commented on #88779
Thanks. It makes it much easier to track. High cpu usage is super generic problem so the root cause of the problem you see very likely is completely different from the op's

[2020-04-14 22:04] mjbvz commented on #90220
@Spenhouet Yes. I'd really like an extension author to look at this and tell me what exactly VS Code is doing wrong here. There's are many cases where it's the extension themselves misbehaving so I'd really like to know what the issue is from the extension's point of view before diving into this

[2020-04-14 22:05] mjbvz commented on #94414
Thanks for testing.

Yes, VS Code does not include builtin support for Vue so please file this against the Vetur extension

[2020-04-14 22:05] #94414 closed

[2020-04-14 22:06] jedwards1211 commented on #75627
@alexdima Come on, man, we want a change to the architecture that allows VSCodeVim to be as responsive as the rest of the UI **even if another extension is pegging the CPU**.  Mouse clicks don't get slowed down when this is happening, nor does builtin keyboard input, so we just won't accept any excuses for why VSCodeVim shouldn't be able to be as responsive as builtin keyboard input.

[2020-04-14 22:21] danrneal opened #95271 "Error when updating from ppa on Ubuntu"
- VSCode Version: 1.44
- OS Version: Ubuntu 18.04

Steps to Reproduce:

1. `sudo apt update`

[code]

[2020-04-14 22:26] OmarTawfik opened #95272 "vscode.extensions.all misses local extensions"
- VSCode Version: latest master
- OS Version: MacOS

The API `vscode.extensions.all` returns a list of available extensions. With the new remoting workflow, when connected to the remote host, this API would return different results based on whether the extension is running:
* locally (`extensionKind: ui`) -> returns all extensions (local + remote)
* remotely (`extensionKind: workspace`) -> returns

[2020-04-14 22:29] rafwaf opened #95273 "Add refactoring tools to editing in .ipynb file mode"
Simple request: to add the wonderful refactoring tools that are available in the .py mode to the .ipynb mode.

Obviously implementing it will not be simple. But I think that's probably all the detail necessary for this feature request.

[2020-04-14 22:32] dukio commented on #56644
THANK YOU! Badlion Client was the issue for me too...

I was having this issue since months (~40s startup) with no idea what was causing it.... uninstalled badlion client, restarted, and now code is now super fast to open!

[2020-04-14 22:37] mjbvz commented on #92574
Duplicate of #94805 I believe.

Please test the next VS Code insiders build and let me know if you still see this issue

[2020-04-14 22:37] #92574 closed

[2020-04-14 22:42] mjbvz commented on #94037
There are two cases to handle:

- Opening a fresh custom editor at a specific line number
- Telling an existing custom editor to reopen at a specific line number

We could implement the first using the second, e.g. have a method we call to update the line number after creating the initial editor

Related API proposal:  #86146

[2020-04-14 22:47] bhanratt opened #95274 "Copy and paste from VScode to Excel replaces spaces with non-breaking spaces in .sh files"
- VSCode Version: 1.44.1
- OS Version: Windows_NT x64 10.0.18362

Steps to Reproduce:

1. Create a new file in vscode with the .sh file extension or open an existing one.
2. Insert any words with a space character in that file. (for example I put the line `foo bar`).
3. Copy that line into excel. Then copy and paste the space character from excel into a unicode converter (e.g. https://www.branah.c

[2020-04-14 22:48] ArturoDent commented on #95253
See, e.g., https://stackoverflow.com/questions/55310734/how-to-add-more-indentation-in-the-explorer-file-tree-structure/55315106?r=SearchResults&s=5|43.8354#55315106

[2020-04-14 22:54] dinhngtu commented on #93973
I was debugging around explorerView.ts:663:
![image](https://user-images.githubusercontent.com/1257909/79281432-fd780080-7eb2-11ea-80db-45d997738f32.png)
`item.resource` points to the parent directory of the file that's being revealed; at this point, `item.isDisposed` is true and therefore `onSelectResource` is called with an increased `retry`; at `retry === 2` the loop breaks off and no file is r

[2020-04-14 22:56] tracker1 commented on #92666
@Tyriar I think it may be another application is capturing global ctrl+shift+c ... no idea which one though.

[2020-04-14 22:57] DamianRivas commented on #95271
I'm having the same issue too. I can't run `apt update` because of this.

[2020-04-14 22:57] #93871 closed

[2020-04-14 22:57] DuncanWalter commented on #95250
Sure!  TLDR is we use a lightly patched version of TypeScript internally, and have enough engineers that it's worth our time to smooth over any of the devex problems/confusion caused by versioning it.

Our frontend engineers use an internal package manager which has different file resolution than node. We maintain a patch for Typescript that resolves dependencies for this package manager and has a

[2020-04-14 22:58] mjbvz commented on #93871
The bug also repros in our built-in image preview for more easy verification

[2020-04-14 22:58] alexdima commented on #75627
We can look into having another extension host just for vim.

But please try to think also about the following statements:
* "Staging in git has poor performance due to being single-threaded with other extensions"
* "Editing in a custom image editor has poor performance due to being single-threaded with other extensions"
* "Semantic highlighting has poor performance due to being single-threaded wi

[2020-04-14 22:59] tomocrafter commented on #56644
@Ma15fo43 @dukio THANK YOU!!!!!!!
OMFG, It actually worked for me. All I did thing is just uninstall badlion client and then restart the pc.
now code is extremely fast...

[2020-04-14 23:08] mjbvz commented on #95250
Thanks for the explanation.

Can your extension write the user's `typescript.tsdk` setting to point to the the TS version it ships?

[2020-04-14 23:08] MaddyDev opened #95275 "Searching a folder with markdown and notebook files"
Version: 1.44.1 (user setup)
Commit: a9f8623ec050e5f0b44cc8ce8204a1455884749f
Date: 2020-04-11T01:48:12.622Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

When using Juputer books or a folder with exclusively markdown and notebook files, Find in folder search isn't friendly.

Steps to Reproduce:

1. Open a folder which has notebook

[2020-04-14 23:09] akbyrd opened #95276 "`editor.wordSeparators` not respected in search input"
Issue Type: <b>Bug</b>

Typing "foo:bar" into search and then using `cursorWordStartLeft` and `cursorWordEndRight` does not stop at the semicolon, despite it being in the list of word separators.

This also applies to
* Quick Open
* Find widget
* File names in the Explorer
* Quick filtering in lists
* Problems filter

Though it does work in
* Extensions search
* Integrated Terminal

VS Code versio

[2020-04-14 23:09] misolori commented on #95199
Either that way or having a way to using some type of syntax like our icon label, `$(icon name)`.

[2020-04-14 23:10] xisui-MSFT commented on #94844
@isidorn After looking at the code, I found that the suggestions wouldn't pop up if the "configurations" field doesn't exist in single root mode as well. So I'm planning to add some code to insert launch configure lines when they don't exist. Since I didn't find anywhere in this code base inserting some texts at a certain position into a file, do you have an example (I think settings is already do

[2020-04-14 23:18] salt-mountain commented on #71937
Having this issue now as well. Is there no resolution?

[2020-04-14 23:18] darthwalsh commented on #2809
@sandy081 just be clear, this issue, #2809, is about referencing system _environment_ variables like `"%APPDATA%"` or `"${env:APPDATA}"` from settings.json, right? That might be useful for some extensions, but is just helpful in general.

@cheshirekow if you want to use vscode settings.json's [builtin variables](https://code.visualstudio.com/docs/getstarted/settings) in task.json/launch.json, you

[2020-04-14 23:18] asvetliakov commented on #75627
I think the main problem is the treating vim extensions as "ordinary extensions", however for VIM users these are core editor part, not extension, not even different than built-in keyboard typing. Consider if one day built-in vscode keyboard input would become unresponsive - what would you do? Fix it ASAP, probably even outside of ordinary release schedule.

VIM users are not second class passenge

[2020-04-14 23:22] pdf commented on #75627
Whilst the sentiment is sensible, of the posited scenarios, only the image editor is analogous to text input, and still less important IMO. As I said, it's desirable for non-interactive extensions to behave, but it's truly a bandaid requiring continual effort to rely on users profiling/patching every poorly performing extension as it's released/updated.

Maybe a separate extension host for type ex

[2020-04-14 23:24] jedwards1211 commented on #75627
@alexdima

I'll see if I can profile what's causing problems, but we see fixing poorly performing extensions as a bandaid.  Your examples really demonstrate the need for each extension to run in a separate extension host process.  I mean even the TypeScript extension blocks Vim for about a second when bringing up the suggestions for `aws-sdk` (I had to disable automatic suggestions).  Is there eve

[2020-04-14 23:25] DuncanWalter commented on #95250
A lot of us are switching between repos that use traditional node and internal apps frequently. We can't use the internal version of TS in traditional node contexts because neither flavor of TS should allow resolution of the other variety, and we can't easily pass configuration to tsserver when we don't have tsconfigs on disk in JS repos.

Less important, but the user setting also introduces anoth

[2020-04-14 23:28] keelung-yang commented on #94862
I don't think you need such info, since I've posted here 2 versions of vscode, and @davidptwong have posted souce lines exactly.

BTW, you can setup proxy to recure it by yourself. It's very easy to recur.

[2020-04-14 23:28] RLWade opened #95277 "Emmet styles link not working with tab"
Issue Type: <b>Bug</b>

Hello. I am a new user. today inserting a css/styles.css link stopped generating when using tab.

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    <link
    </style>
</head>
<body>

</body>
</html>

VS Code version: Code 1.44.1 (a9f8623ec0

[2020-04-14 23:30] jedwards1211 commented on #75627
To be clear, I'm asking what I can do to **help solve this problem permanently**.  As @pdf has mentioned, debugging poorly performing extensions is not a permanent solution because new performance issues with extensions can pop up at any time.

[2020-04-14 23:33] jedwards1211 commented on #75627
And clearly I need to repeat that
### Other IDEs don't have problems with slow Vi input

[2020-04-14 23:40] SinaKarimi7 commented on #95271
same #77029

[2020-04-14 23:42] SinaKarimi7 commented on #95271
I have this too. same #77029

[2020-04-14 23:45] dinofx commented on #47386
Once the TS language server has provided problems, perhaps the matched problems could be temporarily suppressed, but not deduped (lost)?

[2020-04-14 23:47] rjmxtechnology commented on #93072
This just happened to me today, ridiculous. I did nothing to prompt it either. This needs to be fixed

[2020-04-15 00:00] jdelforno commented on #95167
Downloaded the insider build, issue still present.

This worked,

[2020-04-15 00:01] deepak1556 commented on #95167
Thanks for confirming, I merging this to #88491

[2020-04-15 00:01] #95167 closed

[2020-04-15 00:03] mjbvz commented on #95250
I'm not inclined to add features that are specific to one company's setup (especially if such features could cause headaches if misused). That's why I suggest you look into writing an extension write the `tsdk` setting. That more or less is what `setTsdkPath` would do anyways

[2020-04-15 00:04] mjbvz commented on #94730
Closing as invalid

[2020-04-15 00:04] #94730 closed

[2020-04-15 00:09] NPTP commented on #52855
Happened to me just now, also Apr 14 2020 - closed VS Code, auto-updater began, something in the auto-updater failed. Then Code was inaccessible. After restart, it was completely gone. Poof.

[2020-04-15 00:12] Silic0nS0ldier commented on #85592
Difficult to tell with Slack as there is a lot more negative space in the UI compared to VS Code, but I can confirm (with the help of the scrollbar in the left menu) is affected by this issue.

For the benefit of newcomers, the comment @ryan-harris is referring to is https://github.com/microsoft/vscode/issues/85592#issuecomment-577362693

[2020-04-15 00:15] kika commented on #75627
@alexdima It's worth mentioning that @DanTup puts every effort into optimizing his extension to workaround this bug. And users of the dartcode extension come here only when all the efforts were deemed futile. Me and other vim users submitted him profiles many times over and he did everything possible and then some (short of rewriting vscode) to help us.

[2020-04-15 00:15] jpezzillo opened #95278 "Jupyter Enhancement"
I'm a big fan of the data viewer capability when using jupyter notebooks in vscode. It would be awesome if you could refresh the dataframe you're looking at with another button next to filter rows. Current state, you have to close the dataframe, and open it back up in data viewer to refresh.

![image](https://user-images.githubusercontent.com/33739716/79285843-b545e780-7e8c-11ea-84d3-58baae823b16.

[2020-04-15 00:27] bruno-silva5 commented on #95271
Same issue here, can't run `apt-get update`

[2020-04-15 00:27] yannlairdc commented on #12622
The lack of communication and the feeling of being ignored for 4 years is what is generating the frustration here. This issue is the 6th most commented issue on that repo, it's supposed to be easy to do, laying around for 4 years, and we have no idea if it's even considered in the short/mid term roadmap.

I would be happy just with a "We would like to do it in the next 6 months, no promises" from

[2020-04-15 00:29] DanielRosenwasser commented on #94751
We were looking at this recently and we might have the information on hand to do this at least from things like completion. Whether we could do this for suggestion diagnostics might be another issue.

[2020-04-15 00:29] effinrich commented on #95277
I'm also having this issue today in addition to format on save no longer working.  In fact, no formatting is working as of today.  No changes on my end.

[2020-04-15 00:38] alefragnani opened #95279 "Breakpoint displacement when source changes while debugging"
- VSCode Version: MacOS Mojave 10.14.6
- OS Version: 1.44.1

Steps to Reproduce:

1. Have some source (TS) with indents, if-else, empty lines
2. Start debugging
3. While debugging, change the source before an empty line, adding reference to a new module (in this case `isRemotePath` function) , which will add a new_line in the top of the source file
4. Save the changes
5. Toggle a breakpoint (using

[2020-04-15 00:49] tan9 commented on #95271
This kind of issues happens quietly often, a simple search comes out following results:

#86858 Dec 13, 2019
#77029 Jul 10, 2019
#74826 Jun 4, 2019
#70584 Mar 16, 2019
#66339 Jan 10, 2019
#66238 Jan 9, 2019
#42313 Jan 29, 2018
#41117 Jan 4, 2018
#41094 Jan 3, 2018
#25883 May 4, 2017

Maybe there is something wrong on the release process, I never met the same problem on all of my 20+ other apt repo

[2020-04-15 00:50] amelio-vazquez-reina opened #95280 "Toggle enable/disable breakpoints"
Currently the only commands that I know of to enable / disable breakpoints are:

[code]

the above:

* Requires remembering two keybindings.
* Consumes two keybindings.
  * Note that Users (my case) may want to only consume one so that they can use the other keybinding (chord in my case) for something else.

Is there a commandID for toggling enable/disable breakpoints? If not, I'd like this to be

[2020-04-15 00:54] RecodeExistence opened #95281 "File has unexpected size"
- VSCode Version: 1.44.1
- OS Version: Ubuntu 19.10

Issue:
When running sudo apt update (used a fresh install to ensure minimal errors), receiving the following response from terminal :
`Failed to fetch http://packages.microsoft.com/repos/vscode/dists/stable/main/binary-amd64/Packages.bz2  File has unexpected size (171612 != 171467). Mirror sync in progress? [IP: 137.135.134.16 80]
   Hashes of e

[2020-04-15 00:57] RecodeExistence commented on #95271
I have the same issue right now.  Used insider to test against, same problem.
Possible server sync related?

I put a post about it up.. will delete as duplicate.

Please advise.  Things like unexpected filesizes compared to what's expected makes me antsy.

[2020-04-15 00:58] #95281 closed

[2020-04-15 00:58] RecodeExistence commented on #95281
Closed as duplicate.

[2020-04-15 01:01] spottedmahn commented on #92574
Technically #94805 is a duplicate 😉 but glad it's fixed, thanks!

[2020-04-15 01:11] davidptwong commented on #94862
@joaomoreno
I tested with 1.43.2 same problem
I did not test all versions in between but 1.41.1 (https://code.visualstudio.com/updates/v1_41) worked

[2020-04-15 01:12] akaroml commented on #92269
@testforstephen this is very interesting. I think Java debugger already supports debugging single files. Could you join the discussion here?

[2020-04-15 01:14] tan9 commented on #95271
A workaround mentioned in https://github.com/microsoft/vscode/issues/45868#issue-305578099 is to download `.deb` from the [official site](https://code.visualstudio.com/download) and install manually.

[2020-04-15 01:15] srinivasrk commented on #95257
Ouch! My laptop is connected to my work domain and I don't think I can
disable the Malwarebytes or any other antivirus software. Any workarounds?

On Tue, Apr 14, 2020, 2:23 PM 0xicl33n <notifications@github.com> wrote:

[2020-04-15 01:15] JustinWebDev commented on #94582
The two Windows out-of-the box cmds for PS1 files are gone:   'edit in ISE' and 'run with PS'
On one machines these cmds are never on the context menu.  On another machine sometimes they appear.

[2020-04-15 01:27] ryparker commented on #93679
Same issue here. This issue must not be resolved.

[2020-04-15 01:37] thomastmc commented on #12622
While there are some unsavory comments here, it seems that the majority range from pleasant to simply annoyed.

Telling others to just do it themselves negates the whole purpose of feature requests. Which leads to yannlaidrc's point above. What is the point of having a feature request option at all if highly requested features like this are going to be completely ignored? It certainly doesn't give

[2020-04-15 01:38] cjshowalter opened #95282 "Opening Markdown from right click does not use extentions"
- VSCode Version: 1.44.1
- OS Version: Ubuntu 18.04

Steps to Reproduce:

1. Open a markdown document
2. Right-click the tab, and select 'Open Preview'
You'll see it opens the generic preview, with the dark background. If you have something like 'Markdown preview enhanced' installed, and use the 'ctrl-shft-v' shortcut, it works and opens with the extension (The background will be white, etc). I do

[2020-04-15 01:40] RecodeExistence commented on #95271
Initially tried this.

However... error no longer exists for me. Can anyone else confirm?  I'm hoping it was just a glitch in the matrix.

[2020-04-15 01:46] jvesouza opened #95283 "The number of errors announced by the screen reader is not always compatible with the number of errors displayed."
Issue Type: <b>Bug</b>

1. Launch orca, I don't know if it happens with other screen reader.
2. Create in vscode a java script file.
3. Place in the file the following lines:
lvar x
lvar y
4. Press ctrl+shift+m and use up and down to explore the list displayed.

Three lines are displayed, with the first line containing the number of errors, in our case 2.
5. Fix the error of the first line by remo

[2020-04-15 01:54] #94713 closed

[2020-04-15 02:06] danrneal commented on #95271
All fixed for me too!

[2020-04-15 02:06] #95271 closed

[2020-04-15 02:18] LittleYe233 opened #95284 "Markdown goes wrong when interprets some CJK characters"
I have found that some formats (like bold, italic, deleting line) can't be shown well when these special characters are between certain CJK characters.

I have tested in some situations and the testing results are as below.

| Code | Preview in Code | Result | Notes |
| :-: | :-: | :-: | :-: |
| `~~aaa~~` | ~~aaa~~ | OK | All letters |
| `~~（~~` | ~~（~~ | OK | Chinese bracket |
| `aa~~（~~` | aa~~（

[2020-04-15 02:20] #94965 closed

[2020-04-15 02:23] #90619 closed

[2020-04-15 02:26] taoqf commented on #94754
Then forget it, I don't think I could create repo-steps easily for now, I've changed to 'fs' now, and it works fine, and faster, thanks @jrieken @bpasero .

[2020-04-15 02:26] #94754 closed

[2020-04-15 02:43] tapvanvn opened #95285 "Minimap supports display //Mark: in normal size like xcode"
Minimap supports display //Mark: in normal size like xcode will be very useful.

[2020-04-15 02:45] 395053994 commented on #95168
I would like to ask which iteration can specifically improve the efficiency of java coding. Many functions of Red Hat's Java language service cannot keep up with the development steps of Eclipse.
Why doesn't Microsoft develop or maintain the Java language service engine extension by itself? I look forward to Microsoft's own development of a Java language service engine extension based on Eclipse J

[2020-04-15 02:47] owenshaupt opened #95286 "Updates WILL NOT WORK"
Issue Type: <b>Performance Issue</b>

This happened for the previous update, too. When trying to install the update (clicking on the popup notification in bottom right of from the gear icon menu) by restarting Code, nothing happens after the app terminates itself. It doesn't reopen, and when I open it manually it prompts me again to install the update. Last time I had to manually download, uninsta

[2020-04-15 02:53] roblourens commented on #95128
I see the bug. FYI @connor4312 the npm launch config does not seem to work with js-debug, breakpoints never bind.

[2020-04-15 02:57] roblourens commented on #94885
Do you have a folder in your workspace that comes from a filesystem provider extension? Does it work in a window with a single local folder open? If so, this is probably https://github.com/microsoft/vscode/issues/94928. If you don't know what I'm talking about then it's probably something else 😁

[2020-04-15 03:13] #94258 closed

[2020-04-15 03:13] #94091 closed

[2020-04-15 03:19] war525 commented on #95168
Is it difficult to solve half a year's worth of proposals?

Word navigation in QuickOpen
https://github.com/microsoft/vscode/issues/84755

[2020-04-15 03:28] ColorFuzzy opened #95287 "[jsonc] add the folding markers"
**add the folding markers for `jsonc` configuration files** which will make it super easy to manage the vsocde configurations with outline view.

[2020-04-15 03:30] jdneo opened #95288 "Call hierarchy shows wrong result at first"
Version: 1.44.1 (system setup)
Commit: a9f8623ec050e5f0b44cc8ce8204a1455884749f
Date: 2020-04-11T01:48:12.622Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363
Steps to Reproduce:

1. Click show call hierarchy

From the gif you can see at first, the results are actually outgoing calls, but VS Code shows them as incoming calls.
![demo](h

[2020-04-15 03:35] jerryzhoujw opened #95289 "Add a filter in debug panel"
From [dart issue #1980](https://github.com/Dart-Code/Dart-Code/issues/1980)

I have similar issue when I debug video player on android device.

I think this is a reasonably request which help filter logs which develop cares in case when develop can't do more config on logs from some libs.

[2020-04-15 03:37] ashishgehlot opened #95290 "Navigation keys not working"
Issue Type: <b>Bug</b>

Hi, Recently I am facing navigation issue between opened files.
Steps :
1. Open multiple files in workbox
2. Press (Ctrl + Tab )
3. Recent file list displays
4. Use navigation Up or Down key to select file

Step 4 is not working but it used to work in previous versions.

VS Code version: Code 1.44.1 (a9f8623ec050e5f0b44cc8ce8204a1455884749f, 2020-04-11T01:48:12.622Z)
OS ver

[2020-04-15 03:58] chapmanjacobd commented on #93772
This is not only a Linux issue but a Windows one as well

https://superuser.com/a/1209478/76968

[2020-04-15 04:01] jedwards1211 commented on #75627
@alexdima

Okay, is the core team going to commit to working on this?  Or accept a PR for it if I'm able to learn the codebase enough to make one?

[2020-04-15 04:06] JHaller27 commented on #95190
@chrmarti Sorry, I was having issues updating (probably a WSL thing, not a VSCode thing). After updating my specs are:

Version: 1.44.1 (user setup)
Commit: a9f8623ec050e5f0b44cc8ce8204a1455884749f
Date: 2020-04-11T01:48:12.622Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

[2020-04-15 04:07] yzpTsubasa opened #95291 "Restart running npm/npx task in Terminal Panel"
Issue Type: <b>Feature Request</b>

I have some scripts in my package.json.
And I can run these scripts by click "run" (a arrow icon) from "NPM SCRIPTS" list,
but if I wanna restart a running task, I have to switch to "NPM SCRIPTS",  then click "run" again.
Then VS Code will prompt "The task 'npm: ... ...  is already active."，finally I can restart it by click "Restart Task" button.
If there is a s

[2020-04-15 04:25] janmadera opened #95292 "Year increase on file copy"
If I copy and paste a file in format "2020-01-01 test.md" in the navigation tree, the newly pasted file get the name "2021-01-01 test.md" which does not make sense.

[2020-04-15 04:40] amnag090 opened #95293 "Extension host terminated unexpectedly."
We have written the needed data into your clipboard because it was too large to send. Please paste.

CPUs | Intel(R) Core(TM) i5-8265U CPU @ 1.60GHz (8 x 1800)
-- | --
GPU Status | 2d_canvas: enabledflash_3d: enabledflash_stage3d: enabledflash_stage3d_baseline: enabledgpu_compositing: enabledmultiple_raster_threads: enabled_onoop_rasterization: disabled_offprotected_video_decode: enabledrasterizat

[2020-04-15 04:45] ashish336b opened #95294 "We should to able to close all working tree in WorkSpace with command"

[2020-04-15 04:47] Slooz commented on #41351
I wanted to say point out that dragging and dropping in multi-root workspaces is confusing. To drag and drop you have to drag a folder onto another folder. The UI makes it seem like this action will move the folder into another folder, rather than just changing the order of the folders.

This behavior made me think that dragging and dropping wasn't supported, which is how I found this issue.

[2020-04-15 05:11] joaomoreno commented on #95064
![no doubt](https://media.giphy.com/media/XAdbHJywVjF5K/giphy.gif)

[2020-04-15 05:15] joaomoreno commented on #94862
@davidptwong Can I ask you to test 1.41.1 right now? https://az764295.vo.msecnd.net/stable/26076a4de974ead31f97692a0d32f90d735645c0/VSCode-win32-x64-1.41.1.zip

Let me know how it goes, thanks.

[2020-04-15 05:19] GalacticLion7 commented on #70764
You missed my point. I just said that there is very little intervention from the team in this issue, which has been going on for a year. (And I think that's a bad sign.)

Also, as much as I'm wanting a native VS Code on iPadOS (see my previous comments). You are just giving these suggestions that have been thoroughly discussed here already. We're just going in circles. So all we need is an update.

[2020-04-15 05:20] joaomoreno commented on #95176
If Python3 works for you, keep on using it. We won't change the developer docs unless absolutely necessary or obviously advantageous.

[2020-04-15 05:20] #95176 closed

[2020-04-15 05:21] joaomoreno commented on #94794
I'll close this as duplicate of #47841 with a recommendation to disable background updates.

[2020-04-15 05:21] #94794 closed

[2020-04-15 05:22] joaomoreno commented on #94849
Can you repro on 1.42? https://az764295.vo.msecnd.net/stable/c47d83b293181d9be64f27ff093689e8e7aed054/VSCode-win32-x64-1.42.1.zip

[2020-04-15 05:32] johndave8116 commented on #95180
yes i have updated now

#95180 ..please check above

[2020-04-15 05:34] deepak1556 commented on #94833
Unfortunately I am still unable to repro,

@mssngr does this happen with any file or is there a specific type of file that triggers it ? Also do you see this under some specific scenario, like performing those above steps after an update or it always for a given VS Code instance ?

[2020-04-15 05:38] vaibhav842 opened #95295 "uninstall report"
How to uninstall vs code its extensions and erase all data and reinstall it again

[2020-04-15 05:40] jedwards1211 commented on #75627
@alexdima

Well guess what, Eclipse is the IDE I have been most satisfied with, including with the Vrapper extension, it is lightyears more responsive than VSCodeVim.  In the past five years or so I haven't noticed any issues with UI lag in Eclipse.

I guarantee you the VSCodeVim experience will suck forever unless it's eventually moved into its own process or into the main process (the idea of ev

[2020-04-15 05:40] joaomoreno commented on #94607
With `pwa-chrome` I get this:

![image](https://user-images.githubusercontent.com/22350/79302278-28cb1180-7eec-11ea-9f40-afe30f0c4627.png)

I get it independently of any setting value related to `v3`. I also get it independently of having `"browserLaunchLocation": "workspace"`, which still appears as a warning, even after changing the type to `pwa-chrome`.

[2020-04-15 05:44] joaomoreno commented on #94959
`Open All Changes (with difftool)` isn't a command provided by VS Code.

[2020-04-15 05:44] #94959 closed

[2020-04-15 05:44] jaybee82 commented on #95241
![image](https://user-images.githubusercontent.com/34724117/79302503-ddfdc980-7eec-11ea-996b-7b8415a64f92.png)

[2020-04-15 05:45] joaomoreno commented on #94851
Interesting. Can you figure out what is the difference between the repositories in which this works and the ones in which it doesn't?

Can you run `Git: Show Git Output` and see if you find any meaningful output? Namely with letter casing.

Are you editing files in a network location? Or in a path containing a symlink?

[2020-04-15 05:46] joaomoreno commented on #94791
/duplicate #47841

As a workaround, please disable Windows background updates by setting `update.enableWindowsBackgroundUpdates` to `false`.

[2020-04-15 05:46] #94791 closed

[2020-04-15 05:47] joaomoreno commented on #94781
Can you reproduce if you restart your machine?

[2020-04-15 05:49] joaomoreno commented on #94749
@LambertWM It would be great to see a screenshot. If you can't upload it to github, please upload it to another image service and link it here. Thanks.

When does the issue occur exactly?

[2020-04-15 05:51] #92461 closed

[2020-04-15 05:59] jehon commented on #95183
Yes indeed, if 20013 is implemented, this could be solved too...

This one is a bit more simple, in a way that I would like only the content to be kept (ex: to see the result of a long run), and not the connection itself...

[2020-04-15 06:03] SaparaBoy opened #95296 "extensionHostProcess.js"
- VSCode Version: 1.44.1
- OS Version: windows 10

bug: My Quick Heal total security is delete or repaired the extensionHostProcess.js ( detected: JS.Nemucod.AF ) during installation.

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2020-04-15 06:11] mrJapu commented on #94858
Same problem with vscode 1.44.1 update

[2020-04-15 06:15] deepak1556 commented on #95008
Thanks for the info! Its most likely the file was locked by a zombie instance of VS Code given the `EACCES ` error. Next time when this happens do a `lsof | grep <vscode-version>-main.sock` and see which process is using it.

There is no actionable item for now, but will keep the bug open for updates.

[2020-04-15 06:26] softlion commented on #95252
What is the security concern ? Opening a file using vscode can lead to code execution ?

[2020-04-15 06:27] egamma opened #95297 "Oscillating minmap width after pasting text"
I happened to me several times that after pasting some text the minimap width got into this oscillating state (it is an mp4 movie).

[screencast 2020-04-15 08-24-32.txt](https://github.com/microsoft/vscode/files/4479429/screencast.2020-04-15.08-24-32.txt)

Resizing the window gets out of this state.

My minimap setting is: `"editor.minimap.size": "fit",`

[2020-04-15 06:30] deepak1556 commented on #95067
@olofwalker a new exploration build has been released, can you update and see if the issue still happens ?

[2020-04-15 06:32] butuzov opened #95298 "disabling snippets suggestion per extension."
I would like to have settings section,  so I can disable snippets integration provided by the extension.

For example, I used to mine snippets starts with leading `_`, but official `go` has own snippets it would like to propose.

![image](https://user-images.githubusercontent.com/651824/79304828-d9401200-7efa-11ea-8f99-f8d7449d2b2f.png)

Here are two snippets (`_pkgm` from my custom snippets, and

[2020-04-15 06:39] jrieken commented on #77131
@tiagobento Can you point us to your branch so that we can understand how the API is working for you

[2020-04-15 06:39] muuvmuuv commented on #56855
Would even take it further and say that this should also be modifiable by user settings. So for example I use the ayu-light theme and I don't like the orange highlighting, in my settings I would then override theme variables and tokens that are defined by the author:

[code]

This would allow modifying themes differently, since VS Code now has a dark and night theme switch.

[2020-04-15 06:40] bvschaik commented on #78539
I'm investigating. I think it's caused by the following: if you do `command | less`, at some point `command` is done and `less` takes over. At that point the code for getting the current command gets confused. You can verify this by doing `tail -f <large file> | less`: as long as `tail` is active, VSCode properly displays "tail". Hit Ctrl+C to kill `tail`, leaving only `less` active: garbled comma

[2020-04-15 06:45] isidorn commented on #94844
@xisui-MSFT If you have an instance of an `editor` you could `editor.getModel().applyEdits` for example.

[2020-04-15 06:47] mike-grayhat commented on #95269
Seems like I found the reason why extension host didn't start properly in my case - it happens if I add a breakpoint in the activation function. EHost still fails to start properly even if I disable (not remove) the breakpoint, which I did and forgot about it.

[2020-04-15 06:48] olofwalker commented on #95067
@deepak1556 Download from the same link above?

[2020-04-15 06:49] deepak1556 commented on #94932
@ifaizmohd can you re-trigger the crash with latest stable, in that case you attach the crash reports from the following location `C:\Users\...\AppData\Local\Temp\VSCode Crashes\reports`

[2020-04-15 06:50] deepak1556 commented on #95067
Yup, you should be able to update even though the other features don't seem to work.

[2020-04-15 06:50] muuvmuuv opened #95299 "Settings.json highlight/mark properties that are the default"
While settings change of VS Code itself and extensions, I would find it pretty helpful to see if a setting I have made is the default, so I can delete it if I want to and because I care about keeping my `settings.json` (prefer JSON5 over GUI ^^) clean. So a little icon next to the line that says "This is the default value".

[2020-04-15 06:52] olofwalker commented on #95067
@deepak1556 Downloaded, installed, same issue.

[2020-04-15 06:54] deepak1556 commented on #95067
Can you attach the output from `code --status`

[2020-04-15 06:55] deepak1556 commented on #94821
Thanks @gjsjohnmurray and thanks @danielvieira43  for confirming, I merging this to the above issue.

[2020-04-15 06:55] #94821 closed

[2020-04-15 06:58] olofwalker commented on #95067
@deepak1556
[code]

[2020-04-15 06:59] olofwalker commented on #95067
@deepak1556 It seems to be the same date on both the old version and the new version. Let me uninstall and install it

[2020-04-15 07:00] olofwalker commented on #95067
@deepak1556 Scratch that, getting a 404 from the link now...

[2020-04-15 07:03] floriancastelain opened #95300 "Selected file in file list is shown on the timeline label"
- VSCode Version: 1.44.1
- OS Version: Windows_NT x64 10.0.18362

The selected file name in the file list is weirdly displayed on the timeline label. Seems to happen with all files.

![image](https://user-images.githubusercontent.com/10050024/79307848-db54a180-7ef7-11ea-8e7a-23e46d646c26.png)

Steps to Reproduce:
X

Does this issue occur when all extensions are disabled?: **Yes**

[2020-04-15 07:03] deepak1556 commented on #95067
Sorry about that, I have updated the links, please try now.

[2020-04-15 07:04] jrieken commented on #94872
[`export function registerCommand(command: string, callback: (...args: any[]) => any, thisArg?: any): Disposable;`](https://github.com/microsoft/vscode/blob/8cad3f29a18742d776dbef0f1cb1a95ed026fb02/src/vs/vscode.d.ts#L7059) - I read a clear `...args: any[]` which is well defined and it means, it can be anything. Obviously we don't call this with random stuff but via the `executeCommand`-API any ex

[2020-04-15 07:04] deepak1556 commented on #94768
Sorry @mikkym , I was unable to track down the crash report on our system. If the crash happens, can you attach the reports from the following location `C:\Users\...\AppData\Local\Temp\VSCode Crashes\reports`

[2020-04-15 07:06] Abbyyan commented on #92712
Thanks a lot. Which version of the api should i install please?

[2020-04-15 07:07] bkilinc commented on #95187
there is no jsconfig and tsconfig. But I noticed this error is gone if I require Knex.
I just created a blank project with try.js containing this.
let a = BigInt(1);
vscode shows error.
just install knex with" npm install knex" and the error is gone.
removing knex shows error again.
But I could not find where BigInt typedef comes from. I made a text search on node_modules with knex installed.

[2020-04-15 07:07] chrmarti commented on #95201
/causedByExtension

This is caused by the Python extension. Please file a new issue for it: https://github.com/microsoft/vscode-python/issues/new/choose

Specifically this line of code seems to trigger the long search: https://github.com/microsoft/vscode-python/blob/bd8d32bccbf9b459981db18c837ee68414335cf4/src/client/datascience/interactive-ipynb/nativeEditorProvider.ts#L91

[2020-04-15 07:07] #95201 closed

[2020-04-15 07:08] isidorn commented on #27759
@leilapearson thanks for the offer.
Ideally we would just align explorer sorting with platform sorting without any option. @bpasero already provided a code pointer where he is doing the comparing.

If that is not possible only then we can look into adding more settings.

An alternative is to look to open this up to extensions and then extensions could control this and satisfy the 20 different sort

[2020-04-15 07:09] Ma15fo43 commented on #56644
No problem! We're now sure that the Badlion Client is slowing down all the Electron apps installed on the PC. Maybe talking with the Badlion Staff Team will help resolving this issue?

[2020-04-15 07:10] jrieken commented on #95195
This is a duplicate. Unfortunately, I don't recall the exact issue number nor its title :flushed: Anyways, searching for issues with the same labels will likely help you :point_right:
https://github.com/microsoft/vscode/issues?utf8=✓&q=is%3Aopen+label%3Aneeds more info

[2020-04-15 07:10] #95195 closed

[2020-04-15 07:11] jrieken commented on #95180
Please retry without extensions enabled. Select 'Extensions View > ... > Disable all Installed Extensions' and try again. Thanks.

<img width="577" alt="screen shot 2018-05-09 at 08 45 10" src="https://user-images.githubusercontent.com/1794099/39799711-82d97e00-5365-11e8-8bd8-6b6fc3500370.png">

[2020-04-15 07:11] olofwalker commented on #95067
@deepak1556 It seems to show extensions now, but they do not load from the config, I copied my `Code` settings to `Code - Exploration` in `.config` but while I see extensions, nothing gets installed. Its like I have settings in the wrong directory or something.

[2020-04-15 07:13] jrieken commented on #95199
Yeah, I think using the classnames is the simplest.

[2020-04-15 07:13] jrieken commented on #95145
/extC++

[2020-04-15 07:14] #95145 closed

[2020-04-15 07:14] olofwalker commented on #95067
Is this version going to be the April insider edition?

[2020-04-15 07:16] tomhanax commented on #15533
We have call hierarchy now, which is perfect. How it is going with type hierarchy? This is IMHO somewhat essential functionality in typed languages like TypeScript, Java...

[2020-04-15 07:17] #95118 closed

[2020-04-15 07:18] jrieken commented on #95207
/needsMoreInfo

Please use this guide to provide more information: https://github.com/Microsoft/vscode/wiki/Performance-Issues. Thanks.

[2020-04-15 07:18] chrmarti commented on #95210
Is there anything in the console? (`Help` > `Toggle Developer Tools`)

Did this work with VS Code 1.43? Could your virus scanner be interfering with the `rg.exe` we use to search (for) files?

[2020-04-15 07:19] deepak1556 commented on #94704
Do you observe any changes after making following change

[code]

[2020-04-15 07:19] bkilinc commented on #95187
I have, Javascript > Implicit project config > Check JS option has been checked. To show errors.

[2020-04-15 07:21] #95216 closed

[2020-04-15 07:25] fangleigit commented on #94894
I should expect the step by step debugging. This issuse has gone when I update to the latest (Mar 2020) version

[2020-04-15 07:25] #94894 closed

[2020-04-15 07:26] isidorn commented on #95283
@jvesouza great catch. Yes I can reproduce this also with VoiceOver.

@sandy081 it seems like you do some caching of the aria label? Or do you not refresh the whole parent (filename) when the number of errors in the file change? If you refresh the tree element the tree should ask you again for the `aria-label`. Can you look into this or provide a code pointer so I take a look. Thanks!

[2020-04-15 07:28] chrmarti commented on #95230
/causedByExtension

This is caused by the Python extension. Please file a new issue for it: https://github.com/microsoft/vscode-python/issues/new/choose

[2020-04-15 07:29] #95230 closed

[2020-04-15 07:29] jrieken commented on #94106
First: don't use arrays for these settings, always use object literals because they merge well. Not sure what the values is (extension ids?)... Anyways, this is how I dynamically compute the value set of the default-formatter enum:

https://github.com/microsoft/vscode/blob/43bfc2cda0bf7e5f4d037d06e39754e878bc2a90/src/vs/workbench/contrib/format/browser/formatActionsMultiple.ts#L162

Simply keep a

[2020-04-15 07:33] zhangwilling commented on #95191
thanks for your response.

But my case is when `Search` (other items) is visible, i will use `quickOpenView` and release immediately to pick the first one (`Explorer`). If i want the second, i will use picker (`workbench.action.quickOpenNavigateNextInViewPicker`) .

Now  i must show `quickOpenView` first, then use `workbench.action.quickOpenNavigatePreviousInViewPicker` to select the first (`Explo

[2020-04-15 07:33] sruthiragupathy opened #95301 "Localhost took too long to respond"
The local host is not working in the browser. I have installed node to work on react. When i give the command "npm start" to check if the web app works well on browser, the browser keeps on loading and after a while it says "This site can't be reached ,localhost took too long to respond".And the VS code is bit slow.
<img width="922" alt="VSCode" src="https://user-images.githubusercontent.com/37189

[2020-04-15 07:34] deepak1556 commented on #95067
Can you launch with `--verbose` and attach the output when you try to install an extension ?

Nope, it won't be available.

[2020-04-15 07:35] mammadkoma commented on #34354
When we can use ctrl+click to select word?

[2020-04-15 07:35] mika76 commented on #41860
All the ticket #95182 needs is 20 upvotes (18 more) and it will go into backlog! Please go and vote...

[2020-04-15 07:36] sanket-bhalerao opened #95302 "setting sync: environment/os specific settings"
Issue Type: <b>Feature Request</b>

for the setting sync extension if used for separate OS environment then some os specific settings needs to be edited before the I can start to work on the code.
ex: i use windows (my local environment) and Ubuntu as my remote environment. i switch between these enviroment often
there are environment specific settings such as path to property files or config file

[2020-04-15 07:37] zhangwilling commented on #95191
`Explorer` is most important, so i want select it when i open `quickOpenView ` and release without quickOpen navigation.

[2020-04-15 07:42] isidorn commented on #93973
@dinhngtu thanks for looking into this and for providing more details.
So it seems like the model is "stale" since those items should not be disposed. I plan to look into this more.
In case you want to continue debugging, here's a code pointer and you can set a condiitional breakpoint [here](https://github.com/microsoft/vscode/blob/ada95d7f3d63fff764d2d1970a7de9151d2a6847/src/vs/workbench/contrib/

[2020-04-15 07:42] olofwalker commented on #95067
@deepak1556

Here is my installing the first extension that I saw in the list

[code]

[2020-04-15 07:45] #95212 closed

[2020-04-15 07:45] phospi commented on #52855
Happened to me today. Yesterday vscode was installed and available. After my boot this morning, vscode is gone.

[2020-04-15 07:51] deepak1556 commented on #95067
I don't see any error in this output, can you attach the complete log.

[2020-04-15 07:55] zhangwilling commented on #95191
thanks for reopening.

I define a special shortcut key for `Explorer` temporarily. 😊

[2020-04-15 07:55] deepak1556 commented on #94651
The slowdown is seen with https://www.electronjs.org/fiddle as well, can you open an issue in https://github.com/electron/electron using electron-fiddle as a minimal example app and link the issue here. Thanks!

[2020-04-15 07:55] Maijin commented on #95008
Thanks yeah the sock were indeed busy which is weird.

But there is still something to improve here I think. Before posting here I've rebooted my computer without success, check the verbose and nothing was really giving much explanation.

A message/alert to the user when opening VS code and --verbose with what's going on and how to resolve this without nuking the file would be really useful!

[2020-04-15 07:55] olofwalker commented on #95067
@deepak1556

[code]

[2020-04-15 07:56] jrieken commented on #95028
I have debugged this to a point at which I understand that the input is never disposed but I don't know why that is. Maybe the old editor needs to be explicitly closed?

[2020-04-15 07:56] alan-hwp opened #95303 "Possible bug in the UI, settings icon - INSIDER"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. Using Insider version :::
Version: 1.45.0-insider
Commit: 92ff20ac39c7507fdf4164e2bedfdfb700805fe1
Date: 2020-04-14T18:11:49.145Z
Electron: 7.2.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 4.4.0-177-generic snap
2. There appears to be a bug in the settings icon (cog in lower left part of the window) where i

[2020-04-15 07:57] cggac commented on #93595
Hi @chrmarti I'm not a user of this application, I'm just testing the installation of extensions on behalf of developers. If there's a particular function you'd like me to attempt I can show you the results.  Here's a selection of some failed timing tabs

![Error3](https://user-images.githubusercontent.com/62764806/79312426-66c93500-7eee-11ea-9d35-1ce9cce2dc64.png)
![Error4](https://user-images.gi

[2020-04-15 07:59] chrmarti commented on #95249
Which OS and VS Code version? Is this while using LiveShare? Which time in the video?

[2020-04-15 08:00] oliversalzburg commented on #95212
Thank you so much for the helpful message @vscode-triage-bot

[2020-04-15 08:00] chrmarti commented on #95251
/duplicate #94775

[2020-04-15 08:01] #95251 closed

[2020-04-15 08:01] jrieken commented on #95199
And pretty please for not backlog'ing this because this enables a nicer GH notebooks extension that is likely to catch more attention soon.

[2020-04-15 08:01] chrmarti commented on #95258
What were you doing at the time?

[2020-04-15 08:02] deepak1556 commented on #93595
@cggac can you launch code with `--log-net-log=netlog.json` and attach the log after making some extension searches that triggers the above request. Thanks!

[2020-04-15 08:02] chrmarti commented on #95259
Please update to 1.44 and confirm the problem still exists.

[2020-04-15 08:06] jrieken commented on #90208
@rodrigovaras @BrunoGuardia @srivatsn the old proposal is now gone, the new proposal is available and we will finalise it this month

[2020-04-15 08:06] yordis commented on #92801
@IllusionMH the information was provided, since "needs more info" tag is on, I want to make sure that everything is settled from my side.

Please give us a hand with this 😢

[2020-04-15 08:06] jrieken commented on #90208
Proposal which is up for finalization:

https://github.com/microsoft/vscode/blob/c139d3bf1e829a703d7ef15e1ea41329a7d5b51f/src/vs/vscode.proposed.d.ts#L1925-L1966

[2020-04-15 08:08] deepak1556 commented on #95247
Can you paste what the VS Code application folder contains ? This error happens when its missing the `icudtl.dat` file.

[2020-04-15 08:08] chrmarti commented on #95265
/causedByExtension

Not sure which Python extension this is. Please file an issue for the extension you are using.

[2020-04-15 08:09] #95265 closed

[2020-04-15 08:09] isidorn commented on #95232
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog and we might add this in the future. Thanks
Also Duplicate of https://github.com/microsoft/vscode/issues/64186

[2020-04-15 08:10] isidorn commented on #95239
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog and we might add this in the future. Thanks

[2020-04-15 08:12] chrmarti commented on #95269
Not sure I understand. Could you file a new issue for the remaining problem?

[2020-04-15 08:12] #95269 closed

[2020-04-15 08:14] DCrow commented on #94883
@roblourens
In my `.code-workspace` file I had something like
[code]
And in developer console there was a warning `No search provider registered for scheme: gitlens, waiting`
After removing this folder directly from `.code-workspace` file, everything started working normally.

Strange thing is that this folder wasn't showing in VSCode Explorer.
How it got added to `.code-workspace` is also a myste

[2020-04-15 08:15] mikkym commented on #94768
Sure.
Thank you

[2020-04-15 08:16] tiktuk commented on #48659
I solved it using `ProxyJump`.

    Host my_host
      HostName my-host.net
      User my_user

    Host my_host_as_other_user
      HostName localhost
      User other_user
      ProxyJump my_host

`other_user` is the one I wanted to `sudo` with. Now I can connect to `my_host_as_other_user` with VS Code ☺️ .

[2020-04-15 08:17] gbatori opened #95304 "TS Server fatal error: Cannot read property 'length' of undefined"
Issue Type: <b>Bug</b>

**TypeScript Version:** 3.8.3
**Steps to reproduce crash**
1.
2.
3.
**TS Server Error Stack**
[code]

VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-07T23:31:18.860Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4810MQ CPU @ 2.80GHz (8 x 2794)|
|GPU Status|

[2020-04-15 08:17] chrmarti commented on #95273
/causedByExtension

This is functionality provided by the Python extension. Please file a new feature request for it: https://github.com/microsoft/vscode-python/issues/new/choose

[2020-04-15 08:17] #95273 closed

[2020-04-15 08:18] DoubleU23 commented on #869
tried to hide all git files but '.git/config'

exclude patterns doesn't seem to work (`"**/!(config)*": true` and other exlude pattern combos
also tried some combinatione of true and false for the specific file

i ended up with an ugly workaround as followed: 🙄
`"**/.git/[abdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]*": true`

[2020-04-15 08:18] #94323 closed

[2020-04-15 08:18] #94883 closed

[2020-04-15 08:20] stilllife00 opened #95305 "Option to prevent staging/committing (or warn about) files with problems"
In the source control panel is very useful to see a problem counter in red next to the file name before a commit.

I wonder if this could be enhanced further with an option to prevent staging/committing those files entirely or to display a warning e.g. "Are you sure you want to stage X files with XX problems?"

[2020-04-15 08:21] chrmarti commented on #95277
Is there anything in the console? (`Help` > `Toggle Developer Tools`)

[2020-04-15 08:21] chrmarti commented on #95278
/causedByExtension

This is caused by the Python extension. Please file a new issue for it: https://github.com/microsoft/vscode-python/issues/new/choose

[2020-04-15 08:21] johndave8116 commented on #95180
i have tried this ..its all the same.

![image](https://user-images.githubusercontent.com/16661250/79314914-f3401b80-7f1f-11ea-8a94-f2dfae0f00f9.png)

waiting for your reply at the earliest.
Thank you.

[2020-04-15 08:22] #95278 closed

[2020-04-15 08:22] jrieken commented on #95180
any chance this is https://github.com/microsoft/vscode/issues/94858

[2020-04-15 08:24] htjain opened #95306 "Settings Sync unable login to MS account"
- VSCode Version: 1.45.0-insider
- OS Version: Ubuntu 20.04

Steps to Reproduce:

1. Install VScode latest insider
2. Try to login using MS account
3. Web browser opens  for http://127.0.0.1:XXXXX/signin?nonce=XXXXXXX
4. Connection timeout

Does this issue occur when all extensions are disabled?: Yes

[2020-04-15 08:24] cggac commented on #93595
I have done this, I received the message:
Option 'log-net-log' is unknown. Ignoring.
However, logs were taken and are attached (renamed with .txt to upload here)
[netlog.json.txt](https://github.com/microsoft/vscode/files/4479945/netlog.json.txt)

[2020-04-15 08:26] isidorn commented on #95280
No there is no command to toggle disablement.
However an extension can easily contribute such a command since we expose the `Breakpoint` through the VS Code api.

[2020-04-15 08:27] chrmarti commented on #95290
/duplicate #94775

[2020-04-15 08:27] #95280 closed

[2020-04-15 08:27] #95290 closed

[2020-04-15 08:28] isidorn commented on #95289
Dup of https://github.com/microsoft/vscode/issues/93750

[2020-04-15 08:28] #95289 closed

[2020-04-15 08:28] dbaeumer commented on #92164
@bpasero we shouldn't mix localization support in the Web with support for Node free renderer. We need a very different story for the Web whereas for a node free renderer we can still install the LP on the local disk. We can simply not access them from the renderer. So I will change the item (I have discussed it that way with @egamma as well)

[2020-04-15 08:28] chrmarti commented on #95293
/duplicate #94858

[2020-04-15 08:29] #95293 closed

[2020-04-15 08:29] chrmarti commented on #95294
What do you mean by 'working tree'? Can you achieve the same with multiple steps, what are these steps?

[2020-04-15 08:29] deepak1556 commented on #95067
I see that you are starting the application from `/usr/share/code-exploration/resources/app` , not sure if it has right permissions for the application since you installed from a tar, can you try running code from a  less restrictive directory ?

[2020-04-15 08:34] chrmarti commented on #95295
Which OS are you on? I see some results when searching the web that might help: https://www.bing.com/search?q=uninstall+vscode

@joaomoreno Would it be worthwhile documenting this? (Can't find it right now.)

[2020-04-15 08:34] Usman1395 opened #95307 "in Switching recent files"
Issue Type: <b>Bug</b>

In Switching recent files shortcut (ctrl+tab) in previous versions arrow keys worked but now they don't work ...
Like if I have ctrl+tab key pressed I can navigate to any file using up and down keys in previous version I Believe but now I can't use that ...
Please Fix this issue I am facing.

VS Code version: Code 1.44.1 (a9f8623ec050e5f0b44cc8ce8204a1455884749f, 2020-04-11

[2020-04-15 08:34] chrmarti commented on #95296
/duplicate #94858

[2020-04-15 08:35] #95296 closed

[2020-04-15 08:36] olofwalker commented on #95067
@deepak1556 Its installed the same way as the normal version of `code`

[2020-04-15 08:38] chrmarti commented on #95301
Not a problem with VS Code. Did you check your firewall rules?

[2020-04-15 08:38] #95301 closed

[2020-04-15 08:40] chrmarti commented on #95303
Does it indicate that Settings Sync needs you to sign in? Please attach a screenshot of the menu that opens when clicking on the gear.

[2020-04-15 08:42] chrmarti commented on #95223
Please only file bugs and feature requests here. Thanks.

[2020-04-15 08:42] #95223 closed

[2020-04-15 08:43] chrmarti commented on #95307
/duplicate #94775

[2020-04-15 08:43] yordis commented on #92801
https://github.com/microsoft/vscode/issues/44093#issuecomment-546157573

................

[2020-04-15 08:43] #95307 closed

[2020-04-15 08:44] yordis commented on #84223
https://github.com/microsoft/vscode/issues/44093#issuecomment-546157573

..................................................................

[2020-04-15 08:44] bagratte commented on #95107
My proposal is to name items in Terminal session dropdown after debug configuration names.
Let me know if I need to do anything with the second part of your comment.

[2020-04-15 08:46] LucaGabi commented on #92260
@aussiross can you also please read this here: https://github.com/microsoft/vscode/issues/95182 and upvote if you find it useful ?

[2020-04-15 08:47] DanTup commented on #75627
I do agree that giving Vim its own host specifically isn't an ideal fix. It would prevent someone else coming along and making a very similar extension that performs the same. I think any fix should affect all extensions equally.

However I also agree that having fixing this in every extension is also not a feasible fix. How does an extension author know how long it's reasonable to block for? What

[2020-04-15 08:48] jdneo opened #95308 "Allow for no-results message in editor.action.goToLocations-command"
Is it possible to add the API to show the editor message?

The use case could be:

A extension registered a command in the context menu, and the user clicks on it. After the execution, show a editor message to provide some result hint.

![image](https://user-images.githubusercontent.com/6193897/79317704-9ac94800-7f38-11ea-89d0-9c676d8276db.png)

[2020-04-15 08:48] deepak1556 commented on #93595
If you load the log in https://netlog-viewer.appspot.com/#import , we can see all the network connections are timed out.

@chrmarti is there a mock request payload to try for @cggac from the chromium browser on his system to narrow down whether the issue is in the system.

[2020-04-15 08:49] jrieken commented on #95298
This is a duplicate. Unfortunately, I don't recall the exact issue number nor its title :flushed: Anyways, searching for issues with the same labels will likely help you :point_right:
https://github.com/microsoft/vscode/issues?utf8=✓&q=is%3Aopen+label%3Afeature-request+label%3Asnippets

[2020-04-15 08:49] #95298 closed

[2020-04-15 08:49] LucaGabi commented on #76904
can you also please read this feature request: https://github.com/microsoft/vscode/issues/95182 and upvote ?

[2020-04-15 08:50] deepak1556 commented on #95008
This file will soon be invalid, we are changing the use case to resolve another issue. Although I agree with the idea, its not ideal for the short term. Thanks for the feedback!

[2020-04-15 08:51] Usman1395 opened #95309 "Vs Code stops working untill refreshed"
Issue Type: <b>Bug</b>

Hi...
I am facing the vscode stops working issue on vs code from version 1.31 to latest version till now...
But the issue has not been resolved yet.
when I am on like changing or adding classes in navtabs from bootstrap vscode cpu usage is on peek and I cannot use vscode unless I refresh vscode.
I am using live server extension with it.
and preview on chrome also does not l

[2020-04-15 08:52] deepak1556 commented on #95067
Not sure why it doesn't work then, I tried the same version on my Ubuntu 18.04 and extensions work fine.

Looping in @bpasero incase you have any idea what might be the issue here.

[2020-04-15 08:53] LucaGabi commented on #43188
can you please read this feature request here: https://github.com/microsoft/vscode/issues/95182 and upvote ? in my opinion it is similar request with less clutter, thanks!

[2020-04-15 08:53] olofwalker commented on #95067
@deepak1556 I just installed the package, do you app start from a different directory?

[2020-04-15 08:55] LucaGabi commented on #74229
please also read this feature request here: #95182 in my opinion it is similar request with less clutter

[2020-04-15 08:56] isidorn commented on #94921
fyi @bpasero for awarness and maybe better command name ideas.
Also I plan to add `setFocus(part: Parts)` to the `IWorkbenchLayoutService`. Let me know if you would like me to create a PR.

[2020-04-15 08:57] bpasero commented on #94929
I am seeing this every once in a while, but harder to repro. Would be good to get a fix imho.

![Kapture 2020-04-15 at 10 42 30](https://user-images.githubusercontent.com/900690/79318833-d0a20880-7f07-11ea-8968-c988ed4215c5.gif)

[2020-04-15 08:58] LucaGabi commented on #41351
please read this feature request here: #95182, upvote if useful

[2020-04-15 08:58] deepak1556 commented on #95067
Yeah for testing purposes I was running code from `~/workspace/code-exploration`

[2020-04-15 08:59] LucaGabi commented on #31308
please also read this feature request here: #95182 in my opinion it is similar request with less clutter

[2020-04-15 09:00] Lextherius opened #95310 "Node.js require('events') intellisense not working"
- VSCode Version: Version: 1.44.1
- OS Version:Windows 10, WSL Ubuntu 18.04.4

I have problem getting intellisense to work on nodejs when using a declared class.

Steps to Reproduce:

1. Type the following code
[code]
2. subsequently when you type, the following, the intellisense will not work
`emiter.`
![not-working](https://i.imgur.com/CdOpXzS.jpg)

However is I do it the following way, it will

[2020-04-15 09:00] dhrunia opened #95311 "Set default location for workspace configuration files"
I save all my workspaces in a shared folder so I can access them across devices. It would be nice if vscode can be configured to have a default workspace storage directory. Currently the `open workspace` command opens file selection dialog in the current folder and I have to navigate manually to the place where I saved my workspaces.

[2020-04-15 09:01] yume-chan commented on #95303
See #94822

[2020-04-15 09:02] pdf commented on #75627
Whilst this is the terminology that's been thrown around I suspect if going this route, rather than doing this explicitly, you'd move any extensions that implement `type` onto a separate host.

[2020-04-15 09:05] j-a-lewis commented on #43188
In my case I want multiple workspaces open at the same time and I want to be able to switch between them.  I don't want to have one workspace replaced by another even if it's very easy to switch back and forth.  I want to be able to compare code side-by-side for example.  Something I am working on vs. known working code examples with all the dependencies.  Sometimes what's "clutter" makes it easie

[2020-04-15 09:06] yume-chan commented on #95302
Duplicate of #5595

For machine specific settings, you can untick this "Sync this setting" menu item.

![image](https://user-images.githubusercontent.com/1330321/79319774-58553a80-7f3b-11ea-82e8-07ec739d1479.png)

[2020-04-15 09:06] usernamehw opened #95312 "Emoji handling in new Quick Pick"
Issue Type: <b>Feature Request</b>

Having a markdown file with headers:

[code]

Searching for `💄`
![Screenshot (181)](https://user-images.githubusercontent.com/9638156/79319369-e49e3800-7f10-11ea-9b2b-203fa70d86b2.png)

Searching for `❌` - no results

**1.43.0** handled those correctly.

VS Code version: Code - Insiders 1.45.0-insider (1c36d747fbf113144d3bf82b0aa3cbd290714e38, 2020-04-15T05:37:1

[2020-04-15 09:09] weinand commented on #95270
@isidorn @aeschli we are combining the json schemas from all debuggers into a single schema and then use this for the launch.json editors. Are there any limitations what this schema can use? Or are we merging the fragments in a problematic way?

[2020-04-15 09:09] kylemh opened #95313 "Global search regex marked as invalid"
A regex which works perfectly on the popular regex browser testers yields an error in the global search tool.

The regex in question: https://regex101.com/r/hO7cu0/1

VSCode Version: 1.44.1
MacOS: 10.15.4 (19E287)
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.4.0

Steps to Reproduce:

1. Put regex into global search input:
[code]

2. Activate re

[2020-04-15 09:13] deepak1556 commented on #94523
Can you open `code --disable-gpu` from command line and after that run `code --status` from another terminal while the application is still running. Please attach the output here.

This is most likely a duplicate of https://github.com/microsoft/vscode/issues/84068 but I am surprised the above workaround didn't help.

[2020-04-15 09:15] vennekilde commented on #95056
Same issue here

The issue only occurs for folders located in the root project directory, so say you have
`"folders": [{
	"path": "folder/subfolder"
}]` then the folder will not collapse, however it will still be shown in the wrong root

Until this gets resolved, i recommend just commenting out the files.exclude section that excludes folders located in the root, as it is at least usable in this co

[2020-04-15 09:20] hegedis-andor commented on #95239
That's alright it's not on an immediate plan. I hope one day it comes thorugh. Thanks

[2020-04-15 09:23] richRubie opened #95315 "Renaming files seems to have stopped working"
Issue Type: <b>Bug</b>

Pressing F2 or right click -> rename causes the file explorer to grey out with no ability to rename.
Typing causes the top right filtering to be populated.

VS Code version: Code - Insiders 1.45.0-insider (1c36d747fbf113144d3bf82b0aa3cbd290714e38, 2020-04-15T05:37:18.376Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---

[2020-04-15 09:24] tigerinus commented on #34442
Would love to see VSCode integrated terminal detachable and/or able to start it as a standalone app.

Windows Terminal? Before it has some degree of integration with VSCode, I will say: Thanks. But no, thanks. BTW, WT doesn't support bold font which I love about VSCode Terminal.

[2020-04-15 09:27] bpasero opened #95316 "Web: reloads infinitly"
Running out of sources: `./resources/server/web.sh --workspace <path to workspace file>`

The browser reloads endlessly due to a workspace change it seems:

[code]

[2020-04-15 09:28] bpasero commented on #94506
I decided to go with the following solution:
* `IRemotePathService` is renamed to `IPathService` and should be used in all cases where you want the correct path behaviour for both remote and local environments
* there is `userHome` which is `Promise<URI>` that will always be defined and either be the remote user home or local (even for web serverless there will be a good fallback: `vscode-remote:<

[2020-04-15 09:28] #94506 closed

[2020-04-15 09:30] #94775 closed

[2020-04-15 09:30] yume-chan commented on #95313
Seemingly you can't randomly escape everything in Code.

`import\s?\{[\s\w,]*Modal,?[\s\w,]*\}\s?from\s*["'\s].*([@\w_-]+)["'\s].*;$` is valid

[2020-04-15 09:32] weinand commented on #95279
If you change source while a debug session is active, the runtime (e.g. node) does not pickup any changes of already loaded code, so it will continue to execute the old source. If you set breakpoints in the new source, the runtime might veto the location because it verifies the location against the old source. This make breakpoints "jump".

I addition your source is TS which means you need some TS

[2020-04-15 09:37] bpasero commented on #94921
Shouldn't the layout service take care of what is next or previous and then the method would need an argument to focus next or previous?

Maybe coordinate with @sbatten as layout owner.

[2020-04-15 09:38] chrmarti commented on #93595
Does this show that we are running without proxy configured?
![image](https://user-images.githubusercontent.com/9205389/79321928-5de75c00-7f0c-11ea-8f1a-4744c535ad0b.png)

@cggac Could you retry including `--log-net-log=netlog.json` and `--proxy-server=<your proxy>:<proxy port>` and attach the netlog.json again?

You could open the same URL in Chromium: https://marketplace.visualstudio.com/_apis/p

[2020-04-15 09:38] weinand commented on #92260
Since author said:

an issue for me.

I'm closing this issue.

[2020-04-15 09:38] #92260 closed

[2020-04-15 09:38] isidorn commented on #94921
@bpasero that also works for me.
@sbatten I will create a PR and you can give it a look if you would like.

[2020-04-15 09:40] bpasero commented on #95312
I cannot reproduce btw:

![image](https://user-images.githubusercontent.com/900690/79323015-f29e8980-7f0d-11ea-9558-9503ab2bb8a9.png)

[2020-04-15 09:43] nobitv commented on #94523
Yes I'll make sure to trh it put when i get home, am in school atm and won't be home untill 14.00 - 14.30 GMT+1

[2020-04-15 09:45] pavlyukpetr opened #95317 "Search doesn't work"
Issue Type: <b>Bug</b>

Hello, after the last update the search is not working

VS Code version: Code 1.44.1 (a9f8623ec050e5f0b44cc8ce8204a1455884749f, 2020-04-11T01:48:12.622Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz (12 x 2592)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>fla

[2020-04-15 09:47] kylemh commented on #95313
@yume-chan I've tried yours + explicitly adding `\n` (as instructed here: https://code.visualstudio.com/updates/v1_29#_multiline-search)

[code]

but I'm not getting any matches for my expected test cases... I'll re-open if you think that deservers it, but I'm willing to wager I'm just shit at Regex and you know your stuff!

[2020-04-15 09:49] maxgerhardt commented on #95252
XML External Entity Processing (XXE) leading to remote code execution. https://www.shielder.it/blog/dont-open-that-xml-xxe-to-rce-in-xml-plugins-for-vs-code-eclipse-theia/

[2020-04-15 09:49] JorgeDLG opened #95318 "Selecting the 'Preferences: Color theme' in the palette menu don't work."
By doing Ctrl+Shift+P to enter Command Palette and selecting Preferences Color theme, the action doesn't  do anything.

[2020-04-15 09:51] yume-chan commented on #95313
Yeah, I don't mean you should close this issue. Code's behavior is definitely unexpected.

Relates to #94843

[2020-04-15 09:54] Friksel commented on #90670
@joaomoreno
This is not a git issue, this is a refresh issue. After having the error popup in VS Code showing the git message, sometimes it just works but most times I need to refresh the source control list and works after that.
Because it happens randomly IMHO it doesn't debug anything to switch over on those random moments to direct git commands when it happens. IMHO it doesn't prove anything,

[2020-04-15 09:55] tamuratak commented on #75627
`worker_threads` API for extensions tracked in #88386.

[2020-04-15 09:55] Friksel commented on #90670
@joaomoreno
This doesn't look like a git issue to me, but a refresh issue in vs code. After having the error popup in VS Code showing the git message, sometimes it just works but most times I need to refresh the source control list and works after that.
Because it happens randomly IMHO it doesn't debug anything to switch over on those random moments to direct git commands when it happens. IMHO it

[2020-04-15 10:03] IllusionMH commented on #95315
/needsMoreInfo

Is it reproducible with all extensions disabled?
You can try this with <kbd>F1</kbd> and `>Developer: Reload Window With Extensions Disabled`

Tried on the same build - no problems.

Version: 1.45.0-insider (user setup)
Commit: 1c36d747fbf113144d3bf82b0aa3cbd290714e38
Date: 2020-04-15T05:37:18.376Z
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

[2020-04-15 10:03] isidorn commented on #94921
Just found out that we already have some similar navigation actions, so I will make the changes there
https://github.com/microsoft/vscode/blob/1b9a442590e17687da1705cdebc101763cba2b6f/src/vs/workbench/browser/actions/navigationActions.ts#L209

[2020-04-15 10:04] LeoLfL commented on #95317
for me the same

[2020-04-15 10:04] Usman1395 commented on #94775
Hi...The code works pretty fine now....
Hi Could You Please let us know the code if we could use page up and page down with it too....
Like in previous versions....
Please....

[2020-04-15 10:05] xyj404 commented on #95084
Thank you, It's become good when I disable unnecessary extensions. But I don't know why the command `code --list-extensions` no effects.

[2020-04-15 10:06] #95084 closed

[2020-04-15 10:12] isidorn commented on #95292
Set the following setting
[code]

[2020-04-15 10:12] #95292 closed

[2020-04-15 10:15] jrieken opened #95319 "getWordRangeAtPosition can freeze the extension host"
see https://github.com/microsoft/vscode-pull-request-github/issues/1629

When running `getWordRangeAtPosition` on very, very long lines then the whole extension host freezes. This is because word ranges are computed per line and a "good" combination of regexp and long line can stall the extension for a very long time.

[2020-04-15 10:17] jrieken commented on #95319
fyi @alexdima for better ideas. My bail-out plan is to give the underlying [`getWordAtText`](https://github.com/microsoft/vscode/blob/10629588780cc340c22a52970c2aea79c172926f/src/vs/workbench/api/common/extHostDocumentData.ts#L227)-function an optional time budget and once that's reach no word is found.

[2020-04-15 10:20] butuzov commented on #95298
Look like this is issue #10565

[2020-04-15 10:21] daseed commented on #94781
Hello,

As you can see on the video by following this link: https://drive.google.com/open?id=1vkThUflttnF-QxwA5uJ6-geUicopcivR
It does still exist after rebooting.

Best regards,

Pierre-emmanuel Legrain.
[https://lh6.googleusercontent.com/Do41g6j3MLO03zheDOdHuOxV7dZ9Hg2bsQrw6ZIWYasji9gMH9i8EkwKrHXHSLQ=w1200-h630-p]<https://drive.google.com/open?id=1vkThUflttnF-QxwA5uJ6-geUicopcivR>
bugVSCode.mp4<

[2020-04-15 10:23] cggac commented on #93595
@chrmarti Well, I had the proxy declared as a http_proxy and https_proxy variable and within the application and it didn't work; however, with the flag --proxy-server=<your proxy>:<proxy port> it works! extensions install!
Here's the log:
[netlog2.json.txt](https://github.com/microsoft/vscode/files/4480574/netlog2.json.txt)

[2020-04-15 10:24] DanTup commented on #75627
I was thinking more of VS Code doing this automatically (to eliminate this kind of issue) than have extensions do it (even if only for the `type`-handling extensions). Assuming it could work, wouldn't that be less effort than spawning additional extension hosts?

[2020-04-15 10:28] tingroger opened #95320 "在本地解压文件，git模块停止工作"
在本地解压文件：glibc-2.14.1.tar.gz
git模块停止工作

[2020-04-15 10:28] johndave8116 commented on #95180
I disabled AV  and re installed ..now its working fine.
Thank You for your support !!!

[2020-04-15 10:29] #95180 closed

[2020-04-15 10:30] usernamehw commented on #95312
[code]

[2020-04-15 10:31] johndave8116 commented on #95180
this started when i updated my VS code to new version

[2020-04-15 10:32] aashutosh9765 opened #95321 "Extension host terminated unexpectedly"
Issue Type: <b>Bug</b>

This bug  keeps coming even though I tried to reinstall. I clicked on Open Developer Tools and it show that it has issue with whatever theme I select which are built in

VS Code version: Code 1.44.1 (a9f8623ec050e5f0b44cc8ce8204a1455884749f, 2020-04-11T01:48:12.622Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPU

[2020-04-15 10:36] gjsjohnmurray commented on #95294
@ashish336b did you try the `File: Collapse Folder in Explorer` command from the Command Palette? It does the same as this button on the workspace title:

![image](https://user-images.githubusercontent.com/6726799/79327982-4066c200-7f0d-11ea-9cf9-692cc26617fc.png)

[2020-04-15 10:43] jonrimmer commented on #58987
It's not properly fixed. Sometimes moving a folder updates the imports of the TS files inside it. Sometimes it doesn't. There doesn't seem to be any reason for why/when, it's just random. E.g. I can try to move a folder and none of the imports are updated. I reset my git state, try again, and it works. Sometimes even when it does work, broken copies of the original files get left behind in the sou

[2020-04-15 10:44] isidorn commented on #95279
@weinand Your analysis sounds correct. VS Code ui does not change breakpoint location. Thanks

[2020-04-15 10:48] isidorn commented on #95270
Well the issue is probably due to the `$ref` field as @bryceitoc9 suggests.
@aeschli do you treat this $ref special in the json schema land? Was it always like this?

[2020-04-15 10:48] deepak1556 commented on #93595
@cggac can you try with our https://code.visualstudio.com/insiders/ , @chrmarti made a recent change that should pick up proxy settings from `http(s)_proxy` variables.

[2020-04-15 10:54] ThiefMaster opened #95322 "Entering path with slashes in quick open doesn't work anymore"
Issue Type: <b>Bug</b>

After updating to the April insiders release, using quick open to paste/enter a path with slashes no longer works (win10 host, linux ssh remote):

![image](https://user-images.githubusercontent.com/179599/79329362-f3d4b400-7f17-11ea-81d4-66514b938c10.png)

when replacing the slashes with spaces it works though, but of course that's not practical when copying the path from s

[2020-04-15 11:00] arbraham opened #95323 "why are there lots of code.exe and they occupy lots of RAM?"
Issue Type: <b>Performance Issue</b>

It's very strange today when I am creating a python program. My RAM of laptop is consumed dramaticlly. I found it's because of the code.exe of VisualStudioCode. I just opened the py file, no runing, but a lot of code.exe generated and consumed a lot of memory. Can you help me to check the reason?

VS Code version: Code 1.44.1 (a9f8623ec050e5f0b44cc8ce8204a1455

[2020-04-15 11:07] jrieken opened #95324 "MyCompletionItem is expensive"
This is a follow-up from https://github.com/microsoft/TypeScript/issues/36265#issuecomment-613971669

<img width="509" alt="Screenshot 2020-04-15 at 13 10 55" src="https://user-images.githubusercontent.com/1794099/79330998-c3dae000-7f1a-11ea-9424-8f9611aec58c.png">

* see attached profile [CPU-20200415T102048.875Z.cpuprofile.txt](https://github.com/microsoft/vscode/files/4480800/CPU-20200415T10204

[2020-04-15 11:09] jrieken opened #95325 "Validation, conversion of completion items should be faster"
This is a follow-up from https://github.com/microsoft/TypeScript/issues/36265#issuecomment-613971669

[CPU-20200415T102048.875Z.cpuprofile.txt](https://github.com/microsoft/vscode/files/4480816/CPU-20200415T102048.875Z.cpuprofile.txt)

<img width="509" alt="Screenshot 2020-04-15 at 13 10 55" src="https://user-images.githubusercontent.com/1794099/79330977-ba517800-7f1a-11ea-9d5b-96390ff925d5.png">

[2020-04-15 11:10] rianquinn commented on #93889
I worked with this for several days with most of the extensions disabled and the problem is gone, so it must be an extension issue.

[2020-04-15 11:12] jrieken commented on #95324
related to https://github.com/microsoft/vscode/issues/95325

[2020-04-15 11:19] jvesouza opened #95326 "Using orca I can't browse by word in a commit message"
Issue Type: <b>Bug</b>

1. Launch orca.
2. Launch vscode using a folder inside a git repository.
3. Press ctrl+shift+g.
4. Type a message in the commit message editor.
5. Press ctrl+home.
6. Explore the message using ctrl+left and ctrl+wright.

Orca reads something like blank or the intire message.

CC @isidorn

VS Code version: Code - Insiders 1.45.0-insider (1c36d747fbf113144d3bf82b0aa3cbd290714

[2020-04-15 11:23] AnthonyB955 commented on #92461
It happened again, this morning.  There was a newer version of VSCODE from 1.44.0 to 1.44.1.  I had to go to the site and download the latest version and install it.  I didn't use the user install. I used the system install so the application is stored in the Program Files directory. It never can locate the VSCODE.exe.  I have disabled Windows background updates.  I'll see what that does for the n

[2020-04-15 11:23] #94644 closed

[2020-04-15 11:23] #94636 closed

[2020-04-15 11:24] #94609 closed

[2020-04-15 11:24] waza-kaunda opened #95327 "Duplicate Refresh icon displaying on 3rd party extensions sidebars"
Issue Type: <b>Bug</b>

Open VS Code an navigate to the sidebar for any of the extensions listed below :
* Docker 1.0.0 - ms-azuretools.vscode-docker
* Oracle Developer Tools for VS Code - oracle.oracledevtools
* Test Explorer UI - benl.vscode-test-explorer

Also visible in Maven projects view in the file explorer.

VS Code version: Code 1.44.1 (a9f8623ec050e5f0b44cc8ce8204a1455884749f, 2020-04-11

[2020-04-15 11:24] #94296 closed

[2020-04-15 11:24] #90066 closed

[2020-04-15 11:24] #89747 closed

[2020-04-15 11:26] #94929 closed

[2020-04-15 11:31] isidorn commented on #93920
Let me reopen and remove label.

[2020-04-15 11:36] alexdima commented on #95319
Here's an idea:
1. Create a substring of the line 100 characters before and 100 character after
2. Find words in those 200 characters
3. If a word is found at that position, and its boundaries are strictly within the -100,+100 substring, go with that.
4. (optional) If a word is not found, repeat the search over the entire line text with a time budget

[2020-04-15 11:44] rhy-ama commented on #95265
@chrmarti thank you. i shall after further testing, if necessary.

the plugin is microsoft's ```Python extension for Visual Studio Code```

CC microsoft/vscode-python#11171

[2020-04-15 11:48] alexdima commented on #94811
Duplicate of #94858

[2020-04-15 11:48] #94811 closed

[2020-04-15 11:51] jrieken commented on #95319
I like that, in fact it is very similar to how `getWordAtPosFast` works. It defines these boundaries by looking for the last space before the match position.

[2020-04-15 11:51] IdoPort1 opened #95329 "Python's debbuger doesn't start"
We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Bug</b>

I have tried to use an pre made debbuging script I have and VSCode just doesn't start the process for me to debug

VS Code version: Code 1.44.1 (a9f8623ec050e5f0b44cc8ce8204a1455884749f, 2020-04-11T01:48:12.622Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>Syst

[2020-04-15 11:52] rianquinn opened #95330 "ANSI colors in terminal corrupts output"
- VSCode Version: 1.44.1
- OS Version: Windows 10

Steps to Reproduce:

1. Ok, this is a really strange one. I am working on some code in C++ that outputs ANSI color. I can only reproduce the issue in Git Bash for Windows when using ANSI color escape sequences when using VSCode. This test code will reproduce the issue:

[code]
![image](https://user-images.githubusercontent.com/5932003/79333779-574

[2020-04-15 11:59] aeschli commented on #95238
What has changed is that `jsonValidation.fileMatch` can now also be an array of patterns.
Additionally, patterns can start with a `!`, which indicates that the pattern is an exclusion pattern.

You'll need to adopt the change in your code. Better add type checks for the future... :-)

[2020-04-15 12:00] nicm commented on #78539
This does indeed happen in tmux although nobody has reported it. This seems to fix it. OS X doesn't seem great at returning the "right" process when there are multiple, but the whole idea is a best effort anyway.
[code]

[2020-04-15 12:00] #95238 closed

[2020-04-15 12:00] mnilyshome commented on #39441
Hurra

[2020-04-15 12:00] mastergberry commented on #56644
Hi. We will investigate why the Badlion Client could be causing a slowdown like this. Didn't know it was on such a mass scale as is being shown here in this thread. Had one isolated report a while back (not the one linked), but I see there are more reports coming in with time.

[2020-04-15 12:11] pavlyukpetr commented on #95317
Yes, looks like it works. It takes some more time for search, but at least it works.
Thanks

[2020-04-15 12:16] bmoellers opened #95331 "TS Server fatal error: Debug Failure. Text of property name cannot be read from non-literal-valued ComputedPropertyNames"
**TypeScript Version:** 3.8.3
**Steps to reproduce crash**
1.
2.
3.
**TS Server Error Stack**
[code]

[2020-04-15 12:24] anthonyvdotbe opened #95332 "Timeline support for folders"
The timeline should support folders as well: the timeline of a file X is equivalent to `gitk -- X`, and the timeline of a folder X should be equivalent to `gitk -- X`.

[2020-04-15 12:26] zinuru opened #95333 "1.44.1 broke deploy.reloaded"
- VSCode Version: 1.44.1
- OS Version: Windows 10 1909

Steps to Reproduce:

1. Probably fights for disk access with html literal hilighters/IntellySense. CPU is up to 50% for a minute or so. Eventually deploy succeeds and CPU goes down.
2.

Does this issue occur when all extensions are disabled?: No

Reinstalled 1.43. No problem.

[2020-04-15 12:29] garretmh commented on #40233
All I really wanted was a `.vscode/settings.dist.json` file. I think the proposed solution is acceptable and allows me to do what I want.

I am a bit confused why config files isn't an acceptable solution though. VS Code already reads nested tsconfig files seemingly without issue for example.

[2020-04-15 12:33] isidorn commented on #95225
fyi @ggordon-vispero

[2020-04-15 12:34] isidorn commented on #94847
fyi @ggordon-vispero

[2020-04-15 12:36] kanlukasz commented on #1751
I look forward to it.
At the moment, I can't even use Intellisense for HTML classes in php files where just pure HTML is
It's ridiculous.

[2020-04-15 12:42] tommck commented on #40233
I'm not a fan of the absolute paths in a central location either. It's a
bit painful to maintain, IMO.

Can we make it so that we can import files in our user settings so that we
can separate out the overrides into different files if we want?

Then we could have a file per path and be able to copy the file and change
the path when we want to set up a new folder of code

On Wed, Apr 15, 2020, 8:29

[2020-04-15 12:45] karambaq opened #95334 "vscode fonts are so small"
- VSCode Version: 1.44.0
2aae1f26c72891c399f860409176fe435a154b13
x64

- OS Version: Ubuntu 19.10 x86_64

Steps to Reproduce:

1. Open vscode

Does this issue occur when all extensions are disabled?: Yes

![image](https://user-images.githubusercontent.com/14233969/79338475-0a870500-7f30-11ea-887b-300bbf6930e1.png)

Fonts are too small in vscode, on the right is default gnome-terminal with the same

[2020-04-15 12:46] Tyriar commented on #78539
@nicm do you want to do a PR to node-pty and I can test it out?

[2020-04-15 12:54] Jemt opened #95335 ""Find all references" not working for JSDoc @callback"
Issue Type: <b>Bug</b>

**Steps to reproduce**

Create file called Interfaces.js with the following content:

/**
 * @typedef {Object} Config
 * @property {String} Title
 * @property {String} Description
 */

/**
 * @callback RequestCallback
 * @param {any} json
 */

---------------------

Create a file called index.js which consumes the types from Interfaces.js:

/** @typedef {import("./Interface

[2020-04-15 12:56] nicm commented on #78539
It looks like you just need to change this line https://github.com/microsoft/node-pty/blob/19449d2c319442bec3992cd280e9c88a185b6cb9/src/unix/pty.cc#L612

[2020-04-15 12:58] aeschli commented on #95270
$ref can not be used in such schema fragment as the path is resolved against the composed schema that users don't know how it looks like and should not know.
Maybe in the future when we support using $id in $ref (https://github.com/microsoft/vscode/issues/92042) this can be allowed.

[2020-04-15 13:04] Tyriar commented on #78539
@nicm figured you might want credit for the fix if it gets merged, I can try myself if you want though.

[2020-04-15 13:05] Tyriar commented on #92712
Somewhere around 1.41-1.43

[2020-04-15 13:07] isidorn commented on #95326
@jvesouza thanks for filling this issue. However I could not reproduce it. When I follow your steps and navigate by word Orca reads the first letter of a word. Do I need to have Orca somehow configured?
The commit message editor is just like the regular editor for files, so first of all does this ctrl+left, ctrl+right navigation work for you in the regular editor?

fyi @joanmarie

[2020-04-15 13:08] Tyriar commented on #95183
@jehon keeping the content is actually one of the harder parts, luckily it looks like we've started prioritizing #20013 as a long term goal and it's on this plan with this item:

https://github.com/microsoft/vscode/issues/95168

[2020-04-15 13:10] Tyriar commented on #95258
Do you have anti-virus software that could be blocking it? https://code.visualstudio.com/docs/editor/integrated-terminal#_how-do-i-fix-the-errors-connectnamedpipe-failed-windows-error-232-or-terminal-exited-with-code-x-on-windows

Also you've left out any version information (vscode and OS).

[2020-04-15 13:13] Tyriar commented on #46696
I don't think it will happen.

[2020-04-15 13:15] nicm commented on #78539
No it's OK.

[2020-04-15 13:16] Luca-Terrazzan commented on #95033
Solve for me as well, thanks!

[2020-04-15 13:16] Tyriar commented on #95107
You should reach out to https://github.com/microsoft/vscode-python with the request, they set that title here:

https://github.com/microsoft/vscode-python/blob/bd8d32bccbf9b459981db18c837ee68414335cf4/src/client/debugger/debugAdapter/DebugClients/LocalDebugClient.ts#L157-L163

[2020-04-15 13:16] #95107 closed

[2020-04-15 13:17] jacobweber commented on #94929
Thanks for the fix!

[2020-04-15 13:17] thernstig commented on #46696
Ok, that makes me sad, since it require me to restart VS Code any time I change some environment setup for a project.

[2020-04-15 13:20] #93657 closed

[2020-04-15 13:21] alan-hwp commented on #95303
Hi Christof,
Good Spot!! yes "Sign in to sync(1) " does appear. How can that be turned off or disabled?

[2020-04-15 13:22] roblourens commented on #94883
Yeah, it's a duplicate. Sorry, fix on the way

[2020-04-15 13:25] Abbyyan commented on #92712
I've found in the https://code.visualstudio.com/updates/v1_44 that the latest version is 1.44xx; But when i package the vsix, it occurs such error `@types/vscode 1.41.1 greater than engines.vscode ^1.44.0. Consider upgrade engines.vscode or use an older @types/vscode version`. Which version of the ` engines.vscode` should i specified please ? Thanks a lot.

[2020-04-15 13:26] Ardeshir81 commented on #3562
no update on this issue?
any one knows any extension?

this issue is open since 2016

[2020-04-15 13:27] roblourens commented on #95231
This should be fixed in today's

[2020-04-15 13:27] #95231 closed

[2020-04-15 13:28] Tyriar commented on #92712
Typically you want to set both engines and types to the minimum version you want to support.

[2020-04-15 13:34] Tyriar commented on #94757
Unfortunately the only workaround atm is to switch that back to true

/duplicate https://github.com/microsoft/vscode/issues/76542

[2020-04-15 13:34] #94757 closed

[2020-04-15 13:34] roblourens commented on #94953
The thing is that it's not an unhandled error, because the vscode extension host actually catches the error. You should see a notification in the extension development host window with that error message. You would only see the error in the debug console if it was truly unhandled.

[2020-04-15 13:34] #94953 closed

[2020-04-15 13:36] Tyriar commented on #95062
@deepak1556

https://github.com/microsoft/node-pty/blob/cd72d3303cb484e402381741e7e6a613886eda7b/src/unix/pty.cc#L441

[2020-04-15 13:38] chadlavi-casebook commented on #95127
@isidorn yep, it's fixed for me in this morning's build of insiders. Thanks again!

[2020-04-15 13:38] Tyriar commented on #95111
Do you have anti-virus software that could be blocking the terminal? If so try following the instructions in https://code.visualstudio.com/docs/editor/integrated-terminal#_how-do-i-fix-the-errors-connectnamedpipe-failed-windows-error-232-or-terminal-exited-with-code-x-on-windows

[2020-04-15 13:39] jvesouza commented on #95326
@isidorn  Did you press the enter key after typing the commit message? It seems that the problem only happens when the message has only one line and we don't press the enter key when we finish typing it. I just found out that this problem doesn't just happen when we're typing a commit message, it happens when we create a new file too.

steps to reproduce:
1. Launch orca.
2. Create a new file in vs

[2020-04-15 13:48] roblourens commented on #94705
Thanks @akbyrd. You have a way of filing issues that sound simple at first but lead to some interesting discussion 🤔

Here's something that I didn't realize - the default of the revealIfOpen setting is false. I thought Isidor and Sandeep's changes were just to override the user's preference but actually they are just defining the default experience. I think that's a good default experience and I'd

[2020-04-15 13:50] #78539 closed

[2020-04-15 13:50] bvschaik commented on #78539
It just always returns the first process in the chain it seems, and doesn't update the process group when the first one exits. Upon further investigation, sysctl returns 0 in the `size` argument when the process has exited, so the `kp` struct then basically contains random memory, which explains the garbled output. Nice find.

[2020-04-15 13:51] Tyriar commented on #78539
Pulled in the change and verified it works, thanks all!

[2020-04-15 13:52] isidorn commented on #95326
Thanks but works for me also when I have everything in one line. Can you repro if you also do not press `ctrl+home`? Since I do not press that keybinding since I do not have it on my keyboard.

[2020-04-15 13:53] isidorn commented on #95127
Thanks, adding verified label.

[2020-04-15 13:53] RupamShaw commented on #93108
vscode terminates after welcome screen

[2020-04-15 13:54] frazer-robert opened #95336 "File search is not working and rg process eats up CPU"
Issue Type: <b>Bug</b>

(cmd + P) to search a file is not Working. It just keeps on loading. rg process eats up all CPU usage always above 100% +. My vs code is newly installed and doesn't have any extensions in it.

VS Code version: Code 1.44.1 (a9f8623ec050e5f0b44cc8ce8204a1455884749f, 2020-04-11T01:47:00.296Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary>

|Item|Value|

[2020-04-15 13:54] frazer-robert commented on #95336
![image](https://user-images.githubusercontent.com/60595768/79345423-b7707a80-7f4e-11ea-9d7d-52418483be05.png)

[2020-04-15 13:55] #95333 closed

[2020-04-15 13:59] IllusionMH commented on #95313
Could you provide simplified examples that aren't matched please?
I've tried your last RegExp and it matches single and multiline named imports (that has at leas one word with `Modal` inside).

[2020-04-15 14:09] Abbyyan commented on #92712
How can i know the minimum version support `@types/vscode 1.41.1` ? I've checked my vscode which is `1.44.0` and is updated in 2020, but it still doesn't work. Please give me some suggestions if possible . Thanks a lot .

[2020-04-15 14:10] dqunbp commented on #93108
This happened 2 to 3 times before I created the issue.
I installed updates as they became available.
This has not happened again since I created the issue.

[2020-04-15 14:10] jvesouza commented on #95326
@isidorn  After press this is a 'test' without the quotations, the following happens if I try browse using ctrl+left:
* orca reads 'test' when I press ctrl+left for the first time.
* orca reads 'a test' when I press ctrl+left for the second time.
* orca reads 'is a test' when I press ctrl+left for the third time.
* orca reads 'this is a test' when I press ctrl+left for the fourth time.

[2020-04-15 14:11] weinand commented on #88230
Incorporating latest feedback:

- the name of the proposed `provide...DebugConfiguration` method is now `provideDetectedDebugConfiguration`.
- `location` attribute: I see the argument that too many detected debug configurations might clutter the UI. But the `DebugConfiguration` already has a `hidden` attribute which we can use to hide configurations. I suggest to wait with adding the `location` at

[2020-04-15 14:13] ocoka opened #95338 "[Solution] Extension Host. Linux. Not antivirus related"
Issue Type: <b>Bug</b>

Just open any TypeScript project

VS Code version: Code 1.44.1 (a9f8623ec050e5f0b44cc8ce8204a1455884749f, 2020-04-13T14:40:29.529Z)
OS version: Linux x64 5.3.0-46-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7500U CPU @ 2.70GHz (4 x 2730)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br

[2020-04-15 14:14] aleemb opened #95339 "Undo History wiped after "Save As <newname>""
- VS Code Version: 1.44.1
- OS Version: 10.15.4 (19E266)

Steps to Reproduce:

1. Open any existing file
2. Make some changes
3. Save As <different name>
4. Hit undo. It doesn't undo your last change

Does this issue occur when all extensions are disabled?: Yes

Expected Behavior:

Undo history should not be wiped out an existing file is saved as a different name. Interestingly, if I Save As <orig

[2020-04-15 14:15] KeyC0de commented on #60977
@blainemuri I have never used Atom. My original inspiration for the way this should work is the Notepad++ editor; which I find most intuitive.

[2020-04-15 14:15] ocoka commented on #95338
[code]
[code]

[2020-04-15 14:16] probablykasper opened #95340 "Alt+click selection does not work in terminal"
Some CLI tools respond to click events, which makes text unselectable. You'd hold alt to select text in these cases, but it does not work in VSCode.

- VSCode Version: 1.44.1
- OS Version: macOS 10.14.6

Steps to Reproduce:

1. Install [lazydocker](https://github.com/jesseduffield/lazydocker) (or another similar tool)
2. Run `lazydocker` in VSCode
3. Try to select any text in the terminal while ho

[2020-04-15 14:19] bpasero opened #95341 "Exception opening web out of sources"
Steps to Reproduce:

1. `./resources/server/web.sh`
2. check console

[code]

[2020-04-15 14:19] bpasero commented on #95316
The reload is gone, but my explorer shows no folders:

![image](https://user-images.githubusercontent.com/900690/79348148-e7ab1f80-7f34-11ea-8eb9-ba3414590449.png)

[2020-04-15 14:19] roblourens commented on #95210
Most likely a duplicate of https://github.com/microsoft/vscode/issues/94928, if you have a workspace folder that uses a filesystem provider extension.

[2020-04-15 14:20] bpasero commented on #95316
Not sure if related: https://github.com/microsoft/vscode/issues/95341

[2020-04-15 14:20] isidorn commented on #95225
I just gave JAWS a spin on my Windows machine. Here are my findings:

* File explorer, works well overall but every item has a suffic "To move through or expand items use the arrows keys" @ggordon-vispero is this expected, does JAWS read this suffic because focus is on a `tree` item. Same happens for `list` items, so this feels like a JAWS thing
* Editor works well overall but I noticed punctionat

[2020-04-15 14:20] #94724 closed

[2020-04-15 14:21] swati-maheshwari opened #95342 "using updateWorkspaceFolders to update local folder in workspace"
- VSCode Version:
- OS Version:

Steps to Reproduce:
I am trying to upload local folder into workspace using updateWorkspaceFolders
1. create uri for local folder
`workspaceFolderUri = vscode.Uri.parse("/Users/path/Documents/");`
2. upload uri to workspace
`vscode.workspace.updateWorkspaceFolders(0, 0, { uri: workspaceFolderUri });`

However it uploads an empty folder. It does not upload contents

[2020-04-15 14:25] RupamShaw commented on #93108
restarted machine, I think it was memory issue, now  even 3 instances of vscode works fine no crashes.

[2020-04-15 14:27] sbatten commented on #95242
@jaybee82 can you screenshot your window with it disappeared? I would guess that this is just because `Problems` is taking up space and `Terminal` is in the triple-dot menu.

[2020-04-15 14:27] aeschli commented on #95270
Not a bug but a feature request.

[2020-04-15 14:29] Tyriar commented on #92712
@Abbyyan just set both to 1.44.0

[2020-04-15 14:33] bpasero commented on #95312
@jrieken can you check, this seems like a bug in the `createMatches` method to me where the unicode character is getting split into 2 with highlights each.

Test to reproduce which fails in `filters.test.ts`:

[code]

[2020-04-15 14:35] bpasero commented on #95316
Seems to be it.

[2020-04-15 14:35] #95316 closed

[2020-04-15 14:36] bpasero commented on #95341
This causes my web workspace to not populate any folders.

[2020-04-15 14:37] Fcb-rohit opened #95343 "All extensions stop working after update"
Issue Type: <b>Bug</b>

Error: ENOENT: no such file or directory, open 'c:\Users\admin\AppData\Local\Programs\Microsoft VS Code\resources\app\out\vs\workbench\services\extensions\node\extensionHostProcess.js'

Extension host terminated unexpectedly. Code:  0  Signal:  null

VS Code version: Code 1.44.1 (a9f8623ec050e5f0b44cc8ce8204a1455884749f, 2020-04-11T01:48:12.622Z)
OS version: Windows_NT x64

[2020-04-15 14:37] alefragnani commented on #95279
@weinand the source is from on of my VS Code extensions, and is being debugged running in `watch` mode.

[code]

The `watch` correctly detects changes, but the debug does not restart automatically (which is the expected behaviour today).

Hope this helps

[2020-04-15 14:37] #95341 closed

[2020-04-15 14:37] sbatten commented on #95341
try now @bpasero?

[2020-04-15 14:41] bpasero commented on #95341
Ah thanks, I was about to push that change myself.

It is still a pity that TS does not null-check array access. Imho we are totally blind when it comes to arrays. Maybe @mjbvz could lobby for a new strict flag to enable this.

[2020-04-15 14:43] s7ck commented on #93072
This just happened again to me this morning. It's looking like once every 5-7 days at this point.

[2020-04-15 14:46] henrahmagix opened #95344 "globals.d.ts not available in HTML <script> with ts-check"
- VSCode Version: 1.44.1
- OS Version: macOS 10.15.4

Steps to Reproduce:

1. Make a HTML file and add the following:
[code]
2. Add a `globals.d.ts` file with the following:
[code]
3. See that VS Code reports a problem:
[code]

Does this issue occur when all extensions are disabled?: Yes

Related to https://github.com/microsoft/TypeScript/issues/37919

[2020-04-15 14:48] jvanheugten commented on #95062
I just completely uninstalled VSCode and re-installed it and restarted my computer. The problem is still there.

I even deleted everything according to similar paths here: https://stackoverflow.com/questions/42603103/how-to-completely-uninstall-vscode-on-mac

[2020-04-15 14:50] jrieken commented on #95312
Yeah, we match earch char code separately and 💄 is of length 2, other characters likely much longer. Unsure how to tackle this, definitely stretch for April

[2020-04-15 14:50] henrahmagix commented on #95344
Maybe this is the problematic line?
https://github.com/microsoft/vscode/blob/release/1.44/extensions/html-language-features/server/src/modes/javascriptMode.ts#L66
[code]

[2020-04-15 14:53] daemenseth commented on #48659
is there a option to get this work on windows? now the workaround gives:

RemoteCommand sudo -u some_user -i: error, something like "tried to write to a non-existent channel"

[2020-04-15 14:54] jvanheugten commented on #95062
Just ran VSCode as administrator:
`sudo /Applications/Visual\ Studio\ Code.app/Contents/MacOS/Electron`
Then my terminal in VSCode will run as root and the program executes as normal.

[2020-04-15 14:56] misolori opened #95345 "Reloading window while explorer is open causes explorer to be empty"
Noticed this with today's Insider's update:

![image](https://user-images.githubusercontent.com/35271042/79352231-6a5cbc00-7eee-11ea-81b6-e088daeb6d39.png)

1. Open explorer
2. Reload window
3. :bug: Explorer is empty

Toggling the sidebar visibility fixes this.

[2020-04-15 15:02] joanmarie commented on #95326
@jvesouza I cannot reproduce this problem either. Mind emailing me a full debug.out so I can see what might be going on?

[2020-04-15 15:03] aeschli opened #95346 "[themes][semantic] default themes: new constant color"
Dark+ / Light +
Use the default color for constant variables.

- as done in the VS 2019: See #92965
- take advantage of constants info from semantic highlighting

[2020-04-15 15:03] tiagobento commented on #77131
@jrieken Sure! That's [1] where we register the webview provider. We're currently working on the `0.3.x` branch.

[1] https://github.com/kiegroup/kogito-tooling/blob/0.3.x/packages/vscode-extension/src/KogitoWebviewProvider.ts

[2020-04-15 15:10] aeschli commented on #92965
I change our default to use the default color for const.

For now I want to leave it at that and see what the reactions are.

[2020-04-15 15:10] aeschli commented on #92965
Closing as no further changes planed.

[2020-04-15 15:10] #92965 closed

[2020-04-15 15:11] pierce-h commented on #89819
@thebat93 were you able to figure this out? I am trying to get this setup with a next.js app as well. Thanks!

[2020-04-15 15:11] nobitv commented on #94523
C:\Users\Hampus>code --status

Version:          Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-07T23:31:18.860Z)
OS Version:       Windows_NT x64 10.0.18363
CPUs:             AMD Ryzen 7 3800X 8-Core Processor              (16 x 4120)
Memory (System):  15.93GB (8.72GB free)
VM:               0%
Screen Reader:    no
Process Argv:     --disable-gpu
GPU Status:       2d_canvas:

[2020-04-15 15:11] JacksonKearl commented on #84297
Mentioned over here https://github.com/microsoft/vscode/issues/94155#issuecomment-607636707 but putting it in the main `api-proposal` too for visibility:

I think perhaps this would be easier to implement if it were like:

[code]

This way extensions can implement a minimal subset of the functionality and we can detect that in core and work around it. For instance, providers can minimally implemen

[2020-04-15 15:12] axeldavid commented on #94725
Does anyone know of any temporary workaround that can be done locally until the fix has arrived?
I'm quite stuck.. can't run the debugger.

[2020-04-15 15:17] zhanghuangbin opened #95347 "Vscode can't save the *.go file"
- VSCode 1.44.1 (system setup)
- OS Version: Window 7（Windows_NT x64 6.1.7601）

Steps to Reproduce:

1. create an file which name ends with .go
2. paste the following code
[code]

Does this issue occur when all extensions are disabled?: No

I guess it might be caused in that way：
1. the action of saving file might trigger some actions like auto formating file or other auto fix actions.
2. those ac

[2020-04-15 15:19] univerz commented on #75627
there is another old & sad issue about input latency #27378

[2020-04-15 15:19] connor4312 commented on #94607
Make sure you're using the latest version of js-debug-nightly. That's coming from the companion extension which indicates that it's trying to run in the UI.

Maybe it'd be easier to do a quick Teams call if you run into more issues, feel free to drop some time on my calendar 🙂

[2020-04-15 15:24] manuel-192 commented on #94982
The only thing that changed is Visual Studio code. The same extension version of Bash Debug works  as expected with the older (and many other older) versions of Visual Studio Code, but not with 1.44.0.

So I'd like to see more details backing up the claim that the extension is the cause.

[2020-04-15 15:25] ocoka commented on #95338
I've disabled this extension, clear all cached files excluding my preferences in .config/Code/User/preferences.json, and now error gone, will watch on it

csharp-to-typescript | adr | 1.12.1
change-color | Dee | 0.0.1
name-that-color | gui | 0.1.2
vscode-systemd-support | han | 0.1.1
csharp | ms- | 1.21.17
autorest | ms- | 2.0.1
js-debug-companion | ms- | 1.0.0
mono-debug | ms- | 0.15.8
vscode-spr

[2020-04-15 15:27] mjbvz commented on #95304
Duplicate of https://github.com/microsoft/TypeScript/issues/30005

[2020-04-15 15:27] #95304 closed

[2020-04-15 15:29] thebat93 commented on #89819
@pierce-h no. I have the following new config for debugging Node.js. It uses a custom express server to run the app.
[code]

[2020-04-15 15:31] rodrigovaras commented on #90208
Our code is ready to priorize the new extenion context property, thanks for letting us know.

[2020-04-15 15:37] the-ress commented on #68319
duplicate: #33256, #66750

[2020-04-15 15:42] JorgeDLG commented on #95318
unexpectedly autoresolved

[2020-04-15 15:42] #95318 closed

[2020-04-15 15:52] kydojo commented on #71937
I wasn't ever able to find one, albeit, I haven't tried in months. I started a new job, and VS Code isn't an approved IDE there, so I haven't had a reason to try to fix it.

[2020-04-15 15:53] davormilutinovic commented on #95111
I didn't have this problem with previous VSC version but today I have  Avast Antivirus app to the latest version and it is now working. I haven't use suggestions from ttps://code.visualstudio.com/docs/editor/integrated-terminal#_how-do-i-fix-the-errors-connectnamedpipe-failed-windows-error-232-or-terminal-exited-with-code-x-on-windows as this is not necessary now but maybe this will help someone e

[2020-04-15 15:53] #95111 closed

[2020-04-15 15:58] awschristou commented on #95270
It sounds like there is a restriction to not have `$ref` fields (and maybe embedded json schemas?) within the package.json file. Is this documented somewhere?

[2020-04-15 16:08] ChrisLee63 opened #95348 "Unable to watch for file changes in this large workspace - not a large workspace."
# Version:

VSCode Version: 1.44
OS Version: Ubuntu 16.04

# Steps to Reproduce:

1. Create a basic web project: `vue init webpack project`
2. Recursively count the number of files in the entire project directory: `find . -type f | wc -l`
    My project has 24906 files (including directories).
3. Check current limit of file watchers: `cat /proc/sys/fs/inotify/max_user_watches`
    Make a note of t

[2020-04-15 16:13] bpasero commented on #95312
The other matcher (still used for e.g. file search) does not seem to hit this:

![image](https://user-images.githubusercontent.com/900690/79360617-77a49580-7f44-11ea-9f08-4d0bd35c5ded.png)

I am not sure how yours work, but shouldn't multiple highlight positions that are next to each other, simply normalize into a single match-range? In other words: matching "foo" on "foobar" results in a match ra

[2020-04-15 16:16] awschristou opened #95349 "Before Connecting hook for Remote SSH"
We encountered an interesting [scenario](https://github.com/aws/aws-toolkit-vscode/issues/1011) where it could be useful to provide users with a hook to perform some pre-connection operations before making a Remote SSH connection.

Some ideas:
* surface a hook from VS Code settings (something like `remote.SSH.onWillConnect`) which is executed prior to making the connection, when configured
* a com

[2020-04-15 16:18] iliazeus opened #95350 "Expose utility functions for Uri paths"
Seeing as `joinPath` is now [a proposed API](https://github.com/microsoft/vscode/blob/b02307e53deacb2bd84e976449213b7768060367/src/vs/vscode.proposed.d.ts#L1963), it would be nice to also have [`dirname`, `basename` and `extname`](https://github.com/microsoft/vscode/blob/a94e5d915c29906bcf3e375f57420522c29c8e36/src/vs/base/common/resources.ts#L71-L85).

[2020-04-15 16:18] kleysoares commented on #93679
I just had the same issue and this is how I fixed:
go to -> C:\Users\[USER_NAMD]\AppData\Roaming\Code\User\settings.json
and look for `"editor.quickSuggestions": null`. Change the value to either `false` or `null`

I hope it helps you.

[2020-04-15 16:20] mjbvz commented on #95187
Thanks. Opened https://github.com/microsoft/TypeScript/issues/37986 to track why knex is causing `BigInt` to become valid

[2020-04-15 16:20] #95187 closed

[2020-04-15 16:20] lumaxis commented on #94174
Just noticed that the PR to `keytar` was merged and released. Open a PR to update to the official version at https://github.com/microsoft/vscode/pull/95351

[2020-04-15 16:25] leilapearson commented on #27759
@isidorn thanks for the reply. That's why I asked before doing anything other than taking a look at the code.

Opening this to extensions is an interesting option. At the same time, I would still think that offering control over whether the sort is case sensitive or not should be a core option and not require an extension.

It isn't easy on some platforms to adjust the sort order - and having to f

[2020-04-15 16:32] joanmarie commented on #94962
@jvesouza: Sorry for the delay (went down some flat review rabbit holes on the way to your fix). Mind pulling master and letting me know how things are working?

@isidorn: The one notable difference I'm seeing now in Orca's presentation is that when you read the status bar, Orca says "No problems". But when you flat review, Orca says what sounds like "0 0".

As I mentioned the other day, in flat r

[2020-04-15 16:33] wangkezun commented on #93338
same issue here. Turn off windows hdr from setting did help, but I think this need to be fixed.

[2020-04-15 16:35] mjbvz commented on #95284
The markdown preview uses markdown-it for rendering and I believe I see the same behavior [in the markdown-it demo](https://markdown-it.github.io/#md3=%7B%22source%22%3A%22%7C%20Code%20%7C%20Preview%20in%20Code%20%7C%20Result%20%7C%20Notes%20%7C%5Cn%7C%20%3A-%3A%20%7C%20%3A-%3A%20%7C%20%3A-%3A%20%7C%20%3A-%3A%20%7C%5Cn%7C%20%60~~aaa~~%60%20%7C%20~~aaa~~%20%7C%20OK%20%7C%20All%20letters%20%7C%5Cn%7

[2020-04-15 16:35] #95284 closed

[2020-04-15 16:35] hbenl commented on #94872
I don't expect the commands in question to be called "from outside", i.e. they should only by called from my own code or by VS Code's tree implementation. Of course I can't enforce this, but the fact that they don't show up anywhere in the docs and are excluded from the command palette should be a strong hint that these are considered internal and shouldn't be relied on in any way by others.

Of c

[2020-04-15 16:37] leilapearson commented on #27759
P.S. An example of how hard it can be to change the sort (collate) order on a platform is OSX - which doesn't expose any nice way to do that it seems:

https://apple.stackexchange.com/questions/34054/case-insensitive-ls-sorting-in-mac-osx

[2020-04-15 16:38] ggordon-vispero commented on #95225
I just gave JAWS a spin on my Windows machine. Here are my findings:

  *   File explorer, works well overall but every item has a suffic "To move through or expand items use the arrows keys" @ggordon-vispero<https://github.com/ggordon-vispero> is this expected, does JAWS read this suffic because focus is on a tree item. Same happens for list items, so this feels like a JAWS thing
It is a JAWS thi

[2020-04-15 16:40] Tyriar opened #95352 "Should we optimize sync setup for syncing everything"
If the vast majority of people just sync everything (like myself), we could save users from encountering this visually noisy/complex dialog:

![image](https://user-images.githubusercontent.com/2193314/79363645-0261a200-7efd-11ea-997a-7ded9c73b3d8.png)

By hiding it behind another that simply listed the options:

- Sync everything
- Customize what to sync

[2020-04-15 16:41] pierce-h commented on #89819
@thebat93 thank you so much for getting back to me! So that launch config allows you to debug the node/server side code but not the browser? Did you have to do anything special with your npm scripts in your package.json? Here are mine currently.

[code]

[2020-04-15 16:42] Tyriar opened #95353 "Make turn on sync wording consistent"
The wording of this:

![image](https://user-images.githubusercontent.com/2193314/79363859-510f3c00-7efd-11ea-93a8-fa992cc2f41d.png)

Should match:

![image](https://user-images.githubusercontent.com/2193314/79363808-3e950280-7efd-11ea-92c7-9fd2073d97ea.png)

Or alternatively just say "Preferences Sync"

[2020-04-15 16:42] mjbvz commented on #95324
`getReplaceRange` https://github.com/microsoft/vscode/blob/ce57f8ad58fd0f4ea6051ae08b3894e47d8d4045/extensions/typescript-language-features/src/features/completions.ts#L181 is the most expensive part of this call

Now that  https://github.com/microsoft/TypeScript/issues/29270 is fixed, I believe I can just disable this branch for TS 3.9+

[2020-04-15 16:45] Tyriar commented on #95353
Also I think we should change this to simply "Turn On":

![image](https://user-images.githubusercontent.com/2193314/79364211-df83bd80-7efd-11ea-9c81-212e4272df15.png)

This is just the preview warning though.

[2020-04-15 16:48] jvesouza commented on #95326
@joanmarie  I sent a debug file, please let me know if you haven't received it.
Thanks.

[2020-04-15 16:51] eamodio commented on #84297
@JohnstonCode It might be this iteration, but more likely the next one.

@JacksonKearl I'm still really not in favor of something like this -- to me it just actually increases the complexity and when fully implementing it I would just have all those methods delegate down to the same underlying method.

The way it is now, a Timeline provider is pretty much in control over what they implement. If th

[2020-04-15 16:53] jvesouza commented on #94962
It was excellent! Thank you.

[2020-04-15 16:53] thebat93 commented on #89819
@pierce-h yes, I only need to debug the express route handlers and server rendering rendering of next.js app.
My launch config doesn't run any script in `package.json`. It just runs the file that I specified with this string: `${workspaceFolder}/server.js"`. I have a few other environment variables in the `env` property of the config, but left them out because of security reasons.

[2020-04-15 16:54] Tyriar opened #95355 "Settings gear can be cut off"
![image](https://user-images.githubusercontent.com/2193314/79365131-11e1ea80-7eff-11ea-9694-50a045f5017c.png)

Might have been caused by addition of account icon?

[2020-04-15 16:59] xinzweb commented on #55303
Similar issue:

VS Code Version: 1.44.1

MacOS 10.15.4

Installed Extensions:
- C/C++ 0.27.0
- GitLens 10.2.1
- Go 0.13.1
- Live Share 1.0.1947
- Python 2020.3.71659
- Vim 1.13.1 (I used it to work around the issue within the editor)
- YAML 0.7.2

[2020-04-15 16:59] #94092 closed

[2020-04-15 17:01] isidorn commented on #95225
@ggordon-vispero awesome, thanks!

[2020-04-15 17:01] diminutivesloop commented on #94711
@joaomoreno I gave it a shot with `TextDocumentContentProvider` as @iliazeus recommended. Let me know what you think

[2020-04-15 17:03] eamodio commented on #95300
Duplicate of #94458

[2020-04-15 17:04] #95300 closed

[2020-04-15 17:06] rgov opened #95356 "Replace within selection replaces everywhere except in exception"
Issue Type: <b>Bug</b>

I set up my search dialog to replace a string with another inside the selection. Then I made the selection, and clicked the Replace All button.

Instead of changing it inside the selection, it changed it on another line as well.

Related to #91210, which is more generally about how I find find-replace behavior to be very inconsistent, but this seems more like a bug.

![ezgi

[2020-04-15 17:07] #93911 closed

[2020-04-15 17:08] isidorn commented on #94962
@joanmarie thanks a lot for trying it out and fixing. I chekced and when there are 0 problems and 0 warning we nicely set the `aria-label` on that element to be "No Problems". I am not sure what else could we do, or you do not see the `aria-label` being set on that element?

Here's the full html of that element
[code]

[2020-04-15 17:09] joanmarie commented on #94962
@isidorn: Exactly. That's on the `div`. But Orca is finding a child `a` which is exposed as an accessible link.

[2020-04-15 17:10] mjbvz commented on #95200
Does this reproduce [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-04-15 17:11] isidorn opened #95357 ""Activating extension" announced all the time by screen reader"
from @marlon-sousa:

The activating extension message is being read automatically by the screen readers while we are on the editor or at any other part. This became more prominent in the last release version of vscode and is taking productivity down in a way which is making the use of the software not viable at all, specially when you use extensions that have tasks in background.

My experience sh

[2020-04-15 17:13] focorner opened #95358 "Add an option to disable the new "Faster task Quick Pick" functionality introduced in the March 2020 release"
The <a href="https://code.visualstudio.com/updates/v1_44#_faster-task-quick-pick" target="_blank">March 2020 release</a> of VS Code introduced a new way of looking up tasks from third party extensions. Taken directly from the release notes:

I think that this is a nice functionality and that it should be enabled by default (like it is now) to protect the extension host, because it is true that som

[2020-04-15 17:13] sandy081 commented on #95316
@bpasero Can you please verify it?

[2020-04-15 17:15] eamodio opened #95359 "Add an `ariaLabel` property to TimelineItem"
Refs: #92342, https://github.com/microsoft/vscode/issues/92342#issuecomment-610076915

While implementing #92342 for the Timeline view, I was thinking we should add an optional property to each `TimelineItem` for accessibility called `ariaLabel`. The default of just a concatenation of label and timestamp doesn't feel rich/accurate enough. Whereas a specific `TimelineProvider` can provide a richer,

[2020-04-15 17:16] isidorn commented on #94962
@joanmarie aha. Sure we can set the `aria-label` also on `a`, however should we maybe only set the `aria-label` on `a` and not on the parent? I am looking now into status bar and focus and one of the options is to make the `a` elements focusable, not the divs.
What do you think would be the best solution from Orca's standpoint?

[2020-04-15 17:17] eamodio opened #95360 "Add an `ariaLabel` property to TreeItem"
Refs: #92342, https://github.com/microsoft/vscode/issues/92342#issuecomment-610076915, #95359

While implementing #92342 for the Timeline view, and thinking about #95359, it seems that the same is true for custom tree views as well. Where a `TreeDataProvider` could provide a richer value than the current (which uses the tooltip if it exists and label if not). We of course could fallback to reasona

[2020-04-15 17:19] rebornix opened #95361 "Notebook renderer: state persistence"
Issue Type: <b>Feature Request</b>

When building a regular webview extenison or a custom editor, extension authors can follow the existing guidance https://code.visualstudio.com/api/extension-guides/webview#persistence for intermediate state persistence. Extensions will use the `vscodeAPI` to communicate with the extension and also get/set its intermediate state for recovery. The API is as below

[2020-04-15 17:21] isidorn commented on #95359
Yes I think exposing the `ariaLabel` to extensions makes sense. Since we can not always use the `label` as it is not precise enough. `ariaLabel` should be mandatory however if not provided we could fall back to `label`.
Looking back we should have also done it for statusBarItems, since we have an issue there that we support extensions putting icons in the label and icons are obviously pretty usele

[2020-04-15 17:22] bergaminrafael commented on #28795
also, while running imwheel "as is" do the trick, setting it to not disabled back/forward buttons with `imwheel -b 45` does not work as a workaround

[2020-04-15 17:22] dcartman opened #95362 "TypeScript server crashed 5 times after starting"
Issue Type: <b>Bug</b>

Title says it. I just received the pop up notification when opening Xcode.

VS Code version: Code 1.44.1 (a9f8623ec050e5f0b44cc8ce8204a1455884749f, 2020-04-11T01:47:00.296Z)
OS version: Darwin x64 19.5.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7267U CPU @ 3.10GHz (4 x 3100)|
|GPU Status|2d_canvas: enabled<br>flash_3d: ena

[2020-04-15 17:24] isidorn commented on #95360
Agree. Same what I said in the other issue [here](https://github.com/microsoft/vscode/issues/95359#issuecomment-614170811). This makes perfect sense and we should do it.
We should also consider to potentially do the same for status bar items. fyi @bpasero

[2020-04-15 17:26] isidorn commented on #95345
Can not repro. What repo are you using? If you F1 > developer tools > do you see some errors in the developer console?

[2020-04-15 17:29] alectrocute commented on #63068
I'm using an external monitor and have nearly identical specs to @austinjhunt, which leaves me scratching my head as to why I can't trigger this bug?

[2020-04-15 17:33] joanmarie commented on #94962
I'm *pretty* sure that Orca will be fine either way -- at least as far as flat review is concerned.

If you put `aria-label` on the `a`, Orca will find the link and consider it presentable to the user because it has a name. Under these conditions, the parent `div` will get ignored because it doesn't have other text (i.e. directly displayed by the `div` rather than child elements). This will be the

[2020-04-15 17:33] ronakg opened #95363 "Welcome page window remains open after opening a workspace/folder from it"
## Versions

[code]

## Steps to Reproduce

Make sure `Workbench: Startup Editor` setting is set to `welcomePageInEmptyWorkbench`.

1. Open VSCode
2. Click a workspace/folder from the `Recent` list.

Expected behavior: The workspace/folder should open in the same window as `Welcome Page`.

Actual behavior: The `Welcome Page` remains open in the background because the workspace/folder opens in a ne

[2020-04-15 17:41] connorskees opened #95364 "Windows paths beginning with \\?\ open in separate tab when opened from the integrated terminal"
Related to https://github.com/microsoft/vscode/pull/95147

When alt-clicking paths beginning with `\\?\` in the integrated terminal, they will open in a separate tab from those opened without the prefix.

E.g.
[code]
these two paths will open in separate tabs despite being the same file.

In addition, some extensions not expecting paths to contain `\\?\` (namely, `rust-analyzer v0.2.135`) will cra

[2020-04-15 17:49] UndyingSoul commented on #95363
## Versions
[code]
## Reproduction Attempt
I was unable to reproduce the issue, it seems everything works as intended. Here are the steps I followed to reproduce your issue.
1. I ensured I was on the latest update (1.44.1)
2. I changed the setting for `Workbench: Startup Editor` to `welcomePageInEmptyWorkbench`
3. I closed and reopened VSCode to get the Welcome Page open.
4. I opened a workspace/f

[2020-04-15 17:51] weinand commented on #94982
Yes, may be, but the author of the Bash Debug extension needs to find out what the problem is. We have no know-how with the Bash Debug extension. If the problem is on our side we'll open this issue.

[2020-04-15 17:51] jedwards1211 commented on #75627
I just realized, wouldn't it be better for the extension host to automatically report long-running extension tasks than having humans do it every time?

[2020-04-15 17:52] tristan957 opened #95366 "Text from the search bar overlaps the top bar of a code view so that neither is readable"
Text from the search bar overlaps the top bar of a code view so that neither is readable. Image below.

- VSCode Version: 1.44.1
- OS Version: mac 10.15

Steps to Reproduce:

1. Open a search box for the file
2. Open a code view of another file or area of the same file. For example clicking `# References` using the Java Extension, or any other similar code-lens.
3. Scroll the search to cover the t