[2020-04-22 01:54] testforstephen commented on #94650
`needsConfirmation` is just a workaround. The effect i need is to preview all edits and preselect them all, just like what rename (**shift + enter**) did.

I need to clarify that in my user cases, the Java extension generates workspace edit and then manually calls workspace.applyEdit API to preview and apply the edit. If VS Code could add a new parameter like **forcePreview?: boolean** to the curr

[2020-04-22 01:55] chrisdias commented on #95657
recommendations have been updated.  note in insiders we recommend the preview extension, in stable we recommend the stable version.

the original issue to be able to promote 2 extensions is still open.

[2020-04-22 01:59] #95813 closed

[2020-04-22 02:04] GinoMan opened #95815 "Allow "launch" json setting to be placed into a "[language]": object."
Currently, VSCode supports having a "launch" object in settings.json which allows you to specify "tasks" that would normally be in "tasks.json" inside the config file. This is very useful as often you will want to use similar launch actions in multiple projects ("run the current file in the python interpreter", "open index.html in the browser", "launch node run", etc) but when you do that, all of

[2020-04-22 02:07] TylerLeonhardt commented on #84643
would love to see Named Pipe & Unix Domain Sockets the (2nd) preferred LSP communication protocol over TCP which is very tricky to lock down.

[2020-04-22 02:09] 395053994 commented on #95774
You will receive this message in the output window when you start the vscode Java maven project. . .

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"SteVen Batten"<notifications@github.com&gt;;
发送时间:&nbsp;2020年4月22日(星期三) 凌晨3:20
收件人:&nbsp;"microsoft/vscode"<vscode@noreply.github.com&gt;;
抄送:&nbsp;"青春！"<395053994@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [micro

[2020-04-22 02:11] greggman opened #95816 "Improve hover UX so moving point diagonally from highlight to hover doesn't clear over"
It woudl be nice if the hover UX allowed the pointer to go diagonally up and right where it comes off the highlighted text and makes it to the hover. As it is the hover disappears because there is an instant where the pointer is neither on the highlighted text nor on the hover box

![hover-ux](https://user-images.githubusercontent.com/234804/79932233-fc813900-8487-11ea-8bc2-95a4e5755156.gif)

This

[2020-04-22 02:21] Banyc commented on #95595
I have uploaded the file in the first line of the issue.

[2020-04-22 02:26] jannickj opened #95818 ""Go back" Jumps to different editor when in split editor mode with same File"
- VSCode Version: 1.44.2
- OS Version: ubuntu 18.04

If you like split mode + Jump to definition then this feature/bug is very annoying.

If you have a file you are working on and you have two editors of that file open:
One for writing code and one for looking around / changing types.
Then if you "Go to definition" while coding (in your main editor), and jump to another file.
Vscode is now treatin

[2020-04-22 03:01] Nowaker opened #95819 "Terminal: Ability to pass Page Up / Page Down and possibly other keys directly to the terminal"
Page Down (Linux) and Fn + Down (Mac) performs `workbench.action.terminal.scrollDown` action by default. This is great and it should stay like that.

However, there's situations when we need to pass the "Page Down" key to the underlying terminal. For example, when looking at a long `git diff` that uses a pager. Because Page Down key is hijacked by VSCode, there's no way to pass it to the underlyin

[2020-04-22 03:24] doublelam commented on #95736
was trying to disable all extensions, this issue still exists, I guess it's related to memory. when my mac has lower memory, I meet this issue more often. anyway, I still meet this issue though it has enough memory, especially when clicking images one by one and preview an image which hasn't been opened before

[2020-04-22 03:38] darthVade7 commented on #95776
windowsEnableConpty is set to true,
As you have said I did install windows terminal and faced the same issue

[2020-04-22 03:50] sipu-ch opened #95820 "Remove redundant plug-ins"
In the plug-in market, there are many plug-ins with redundant functions and duplicate functions. Moreover, many plug-ins have low scores and no one uses them. Few people download them, and the author has not maintained them for a long time. It is recommended to delete such plug-ins and do not make them appear in the plug-in market. For some plug-ins with duplicate functions, such as todos plug-ins

[2020-04-22 03:53] sipu-ch opened #95821 "Remove redundant plug-ins"
In the plug-in market, there are many plug-ins with redundant functions and duplicate functions. Moreover, many plug-ins have low scores and no one uses them. Few people download them, and the author has not maintained them for a long time. It is recommended to delete such plug-ins and do not make them appear in the plug-in market. For some plug-ins with duplicate functions, such as todos plug-ins

[2020-04-22 04:00] testforstephen opened #95822 "The diff editor doesn't work well when clicking the change in REFACTOR PREVIEW panel"
Version: 1.45.0-insider (user setup)
Commit: b83339a3a7bd8e3ec8a8b79deda9c37e0d91f094
Date: 2020-04-21T05:41:11.873Z
Electron: 7.2.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:
1. Install Java Language Support extension.
2. Clone https://github.com/spring-projects/spring-petclinic, and open it in VS Code.
3. Wait for the Java e

[2020-04-22 04:01] testforstephen commented on #95822
// @jrieken

[2020-04-22 04:28] deepak1556 commented on #94862
Thanks @keelung-yang

The netlog shows that there is a change is proxy config that bypasses the initial proxy connection.

<img width="1385" alt="Screen Shot 2020-04-21 at 9 23 09 PM" src="https://user-images.githubusercontent.com/964386/79940346-55b08480-8416-11ea-86e6-24ab4a212ad2.png">

Looked further and this change was due to the setproxy api call we make https://github.com/microsoft/vscode/b

[2020-04-22 04:31] WLcHaok commented on #95673
Sorry for the late response.Also i don't think that i have Quick Heal antivirus and this what the output gave out Starting OmniSharp server at 4/22/2020, 12:26:30 PM
    Target: c:\Users\clone\Documents\Unsatisfied Start\Unsatisfied Start.sln

OmniSharp server started.
    Path: C:\Users\clone\.vscode\extensions\ms-dotnettools.csharp-1.21.17\.omnisharp\1.35.0\OmniSharp.exe
    PID: 4416

[info]: O

[2020-04-22 04:34] WLcHaok commented on #95673
is the quick heal antivirus necessary?

[2020-04-22 04:42] WLcHaok commented on #95673
Also I unable to disable my C# extensions because the notifications :  Cannot disable extension 'C#'. Extension 'Debugger for Unity' depends on this.

[2020-04-22 04:49] doberkofler commented on #95624
Thank you for explaining and two more short questions just to make sure:

I guess your first option would not work in my setup because build the project and building the tests requires different TypeScript setting. Correct?

The second option looks great and implies that VS Code is able to find/use tsconfig.json in subdirectories when started in the root. Correct?

[2020-04-22 04:57] symphony2014 opened #95823 "vscode show wrong font color for the method keyword"
- VSCode Version:1.44.2
- OS Version:Windows 10 Enterprise 1909
Steps to Reproduce:

1.Open  [elide_inports_spec.ts](https://raw.githubusercontent.com/angular/angular-cli/master/packages/ngtools/webpack/src/transformers/elide_imports_spec.ts) in vscode.
You will found the wrong font color around **tags.stripIndent** which should be black since the keyword is method name.
![image](https://user-imag

[2020-04-22 04:58] WLcHaok commented on #95673
when i disable all the extensions and reload them they disappeared so i have to find each of them and enable them all.Then it gave me a notification :Some projects have trouble loading. Please review the output for more details. Source: C# extensions

[2020-04-22 05:07] OSG-Proj opened #95824 "JS intellisense not working for socket.io client"
- VSCode Version: Newest
- OS Version: Win10

Steps to Reproduce:

1. Make JS intellisense work for client side libraries such as socket.io when imported to html
2.

Does this issue occur when all extensions are disabled?: same thing happens even if I do

[2020-04-22 05:09] nguyenanhtuan1008 opened #95825 "select python interpreter doesn't list all of the installed python interpreters on system annaconda"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-04-22 05:10] #95825 closed

[2020-04-22 05:10] nguyenanhtuan1008 opened #95826 "select python interpreter doesn't list all of the installed python interpreters on system annaconda"
Issue Type: <b>Bug</b>

I have created 5 conda environment but it's show only 3. 2 environment didn't show. I have reinstalled older version but still not working.

VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-3720QM

[2020-04-22 05:12] nainardev opened #95827 "Brython support"
Brython allows python in html with
[code]

Could you recognise those as Python™ and provide language features?

https://github.com/brython-dev/brython

[2020-04-22 05:16] chrmarti commented on #95503
@sharjeelsk Also: Are you behind a network proxy?

[2020-04-22 05:22] chrmarti commented on #95763
/causedByExtension

`REQUESTS_CA_BUNDLE` appears to be a feature from the Requests Python library. I assume you are using the Python extension and that has stopped working.

This is caused by the Python extension. Please file a new issue for it: https://github.com/microsoft/vscode-python/issues/new/choose

[2020-04-22 05:22] #95763 closed

[2020-04-22 05:30] chrmarti commented on #95427
Could you start VS Code with `--log-net-log=netlog.json`, try to open an extension and then post the created netlog.json here?

[2020-04-22 05:30] bpasero commented on #95772
This probably is https://github.com/microsoft/vscode/issues/94931

[2020-04-22 05:38] nainardev commented on #95821
Duplicate of #95820

[2020-04-22 05:39] bpasero commented on #93916
@Tyriar yeah, I was referring to https://github.com/microsoft/vscode/issues/95768 but I think Joao already made clear that such a change impacts every tree/list usage outside of maybe quick pick.

Still, for quick pick I would want to wait for the result of https://github.com/microsoft/vscode/issues/95768 to see if we can benefit from the focus ring also for quick pick. Maybe we could still align

[2020-04-22 05:53] chrmarti commented on #94862
This should only trigger if the `http.proxy` user setting or one of the `HTTP_PROXY`, `HTTPS_PROXY` or `NO_PROXY` environment variables is set. @keelung-yang Do you have one of these set?

(The idea behind this is that an empty value should be set when the user clears their `http.proxy` setting. This should not trigger if the setting is not set during startup. I'm adding
 a trace log entry now.)

[2020-04-22 05:56] karthiknadig opened #95828 "vscode.workspace.fs.readDirectory() does not get all files under %USERPROFILE%\AppData\Local\Microsoft\WindowsApps"
(for Python extension use)

- VSCode Version:1.44.2
- OS Version: Microsoft Windows 10 [Version 10.0.18362.778]

Steps to Reproduce:
1. Call `vscode.workspace.fs.readDirectory()` on `"C:\Users\*****\AppData\Local\Microsoft\WindowsApps"`

Notes:
![image](https://user-images.githubusercontent.com/3840081/79945417-93b3a580-8422-11ea-8537-3581ff235178.png)

I am not sure if they are regular symlinks,

[2020-04-22 06:04] int19h commented on #95828
Far says they're reparse points:

![image](https://user-images.githubusercontent.com/1175142/79946278-7d0e4e00-8424-11ea-8254-2bc9db3f1071.png)

[2020-04-22 06:05] daigotanaka0714 opened #95829 "Visual studio code is getting crashed #94932"
Issue Type: <b>Bug</b>

- Crash when operated when docker starts using docker for mac
  - I could not identify the cause
- Extensions you are using are not displayed when you restart after a crash
  - It is displayed when you close it and start it again
- May it's the same as issue #94932

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:07:18.473Z)
OS version:

[2020-04-22 06:07] keelung-yang commented on #94862
@chrmarti I've set these three XXX_PROXY environment variables and no proxy settings in vscode.

[2020-04-22 06:10] chrmarti commented on #94862
@keelung-yang What do you have these variables set to? (It is new in 1.45 that we use these to configure Electron's network library.)

[2020-04-22 06:16] JoyceBabu commented on #81231
I am also getting the similar error

[2020-04-22 06:16] keelung-yang commented on #94862
@chrmarti FYI.
![image](https://user-images.githubusercontent.com/20385450/79947031-bfc33b00-84a3-11ea-931b-60ba5b23df31.png)

[2020-04-22 06:17] gjsjohnmurray commented on #95821
/duplicate

[2020-04-22 06:17] #95821 closed

[2020-04-22 06:17] joseluis240 commented on #95770
180/5000
 Desktop Screenshot 2020.04.20 - 22.39.06.79.png
<https://drive.google.com/file/d/1snEefVfxQm7smL8-nHgfCbqek1oLkUoj/view?usp=drive_web>
 Desktop Screenshot 2020.04.21 - 10.42.44.99.png
<https://drive.google.com/file/d/1IIF_8fO8r-Pq3bZFNmHy-Y4p9-LAcDFq/view?usp=drive_web>
 Distortion VSC.mp4
<https://drive.google.com/file/d/1Qa66Fa-DiyXi88yFFJRfgetKWXFyST20/view?usp=drive_web>
I attach vid

[2020-04-22 06:26] sandorvasas opened #95831 "Add keyboard shortcut for 'Add all missing imports'"
Be able to set a shortcut for the above. Hovering, waiting, clicking while refactoring, especially with a touchpad is painful.

[2020-04-22 06:30] gjsjohnmurray commented on #95787
#95715

[2020-04-22 06:38] #95584 closed

[2020-04-22 06:47] chrmarti commented on #94862
@deepak1556 It looks like setProxy doesn't handle the case where there are credentials in the URL. It might be best to just not call it in that case.

@keelung-yang Could you unset all 3 variables and retry? (Only for testing, I'm working on a fix.)

[2020-04-22 06:53] isidorn commented on #95784
Exactly what @jvesouza just said. Ctrl +k, ctrl + i passes focus the hover.
For putting the hover documetion in the side view, this could be done by the extension.
Though we can leave this open as a feature request for now.

[2020-04-22 06:57] jrieken commented on #88230
Let's keep this open until the API is finalised

[2020-04-22 06:57] eugene-babichenko commented on #95493
"Extended" are in the same font family with "simple" Iosevka fonts (see the image). Seems like extended is a font width or some other property unsupported by VS Code. See a relevant issue https://github.com/be5invis/Iosevka/issues/479

![image](https://user-images.githubusercontent.com/15912853/79950396-93d59480-8466-11ea-8ae5-ba107d92aa58.png)

[2020-04-22 07:00] mjmasn commented on #95801
Getting the same issue on Catalina 10.15.4 on the latest stable VSCode release. I think it's after saving a file, CPU of `Code Helper (Renderer)` goes to 100%, intellisense dies (ie doesn't appear when you start typing, or takes a very long time to appear), tslint messages take a minute or two to update after editing a file. Exiting and reopening VSCode works for a few minutes then we're back to t

[2020-04-22 07:03] wuliZXF opened #95833 "Opening an existing file causes recompiling"
Issue Type: <b>Bug</b>

- Compile and start the react project
- Open an existing tsx file in the project
- The project will be recompiled though the file is not be changed

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) W-

[2020-04-22 07:05] #95827 closed

[2020-04-22 07:05] mjbvz commented on #95824
Please share a code example that demonstrates the issue

[2020-04-22 07:06] mjbvz commented on #95826
/extPython

[2020-04-22 07:06] #95826 closed

[2020-04-22 07:07] mjbvz commented on #95833
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-04-22 07:07] jrieken commented on #95729
What activation events is your extension using and can you guarantee that registerTextDocumentContentProvider is called *during* activate?

[2020-04-22 07:07] tbm0 opened #95834 "[C++] "struct foo::bar baz" confuses syntax highlighter"
Issue Type: <b>Bug</b>

`struct foo::bar baz` confuses the C++ syntax hilighter, for example in this code snippet:

[code]

![image](https://user-images.githubusercontent.com/658101/79951062-54b03f00-8478-11ea-9e4f-908f36524509.png)

Removing the "struct" prefix fixes things. It is redundant but it should still be OK to have. This worked alright in previous vscode versions. Reproduced with all ext

[2020-04-22 07:14] jrieken commented on #95822
This is the design. The diff editor shows a preview of what is going to happen when pressing apply and changes that aren't selected are not previewed (because they will not happen)

[2020-04-22 07:15] #95822 closed

[2020-04-22 07:18] bpasero commented on #95493
This seems to be about changing the font for the editor.

[2020-04-22 07:20] keelung-yang commented on #94862
@chrmarti I renamed them and reinstall vscode v1.45 for insiders. It updated successfully. But I've to keep these environment viriables which used by other softwares, such as python's pip.

[vscode_v1.45_insiders_netlog-no-proxy.zip](https://github.com/microsoft/vscode/files/4514382/vscode_v1.45_insiders_netlog-no-proxy.zip)

Our IE browser's proxy is setted by our IT teams. Maybe that's why vscod

[2020-04-22 07:22] jrieken commented on #94650
TBH I am very confused. Is this for rename or generic code actions? Note that for generic code action we haven't done anything yet and still wonder how the affordance (similar to Ctrl+Enter with rename) would look like

That's exactly not what we want. For us, showing a preview or not is a user-choice not an extension author choice. That's why for rename we have added `editor.rename.enablePreview`

[2020-04-22 07:23] algv commented on #95777
new debugger
![изображение](https://user-images.githubusercontent.com/16474118/79952249-cee5c100-8482-11ea-9bc5-db2501855610.png)

[code]

[2020-04-22 07:24] weinand commented on #84643
You should be able to implement this yourself with the (fairly) new [DebugAdapter](https://github.com/microsoft/vscode/blob/83ddd9afef7838041521648ba5b8fe7ad5e3bcfd/src/vs/vscode.d.ts#L10215-L10233) and the [DebugAdapterInlineImplementation](https://github.com/microsoft/vscode/blob/83ddd9afef7838041521648ba5b8fe7ad5e3bcfd/src/vs/vscode.d.ts#L10242-L10251).

[2020-04-22 07:27] weinand opened #95835 "Implement VS Code support for dynamic debug configs"
please see #88230 for the detailed discussion.

[2020-04-22 07:28] weinand commented on #88230
@isidorn I've created new issues #95835 and #????? for the VS Code implementation work.

[2020-04-22 07:32] weinand opened #95836 "Add pinning support for dynamic launch configurations"
Based on the dynamic debug config work of #88230 and #95835 we should now implement support to add dynamic launch configs to the launch.json (aka "pinning support") similar to what is done for tasks.

[2020-04-22 07:36] isidorn commented on #88230
@weinand thanks.

[2020-04-22 07:37] isidorn opened #95837 "Test: dynamic debug configurations"
Refs: #95835, #88230

- [x] anyOS @connor4312
- [x] anyOS @RMacfarlane

Complexity: 3

Authors: @weinand, @isidorn

---

We now support dynamic debug configurations, that means an extension can contribute dynamically created debug configurations to places where only the static debug configurations from the launch.json were shown previously.

Develop an extension that uses the [new API](https://git

[2020-04-22 07:37] isidorn commented on #95835
VS Code now supports dynamic debug configs. Thus closing this.
Here's a test plan item placeholder https://github.com/microsoft/vscode/issues/95837

[2020-04-22 07:37] #95835 closed

[2020-04-22 07:38] gjsjohnmurray commented on #27716
Any way the gearwheel could replace the existing keybinding symbols when the mouse goes over one of them?

[2020-04-22 07:41] isidorn commented on #93973
Thanks, assigning to this milestone to investigate further

[2020-04-22 07:46] bpasero commented on #27716
That will be problematic for accessibility reasons we cannot do this only on mouse hover, it would have to be on the selected item as well. This would mean the selected (e.g. first) item would never show its keybinding, which imho defeats the purpose.

[2020-04-22 07:46] weinand commented on #88230
@connor4312 you might want to try the new feature with js-debug (may be as part of testing this; see #95837).

[2020-04-22 07:47] sguillia commented on #95678
It is likely but I'm not sure. I happens when I start a webview and it doesn't load. I don't always have the dev tools open.

The only symptom is the webview not opening. I haven't noticed any other malfunction with intellisense.

When I have the webview problem, re-opening a few times fixes the problem. I have no need to restart VS Code since there are no other problems. If I do, chances are it w

[2020-04-22 07:47] nainardev commented on #95827
Is there a setting in vscode that i can turn on to do this with an extension?

[2020-04-22 07:54] weinand commented on #95835
@isidorn to make the new folder-like entries in the quick pick really stand out, we should use either the folder icon that task is using or the new debug icon we are using for session in the call stack view.

<img width="774" alt="2020-04-22_09-52-28" src="https://user-images.githubusercontent.com/1898161/79955578-4d406400-847f-11ea-8192-f9d93b0ff13f.png">

[2020-04-22 07:56] daigotanaka0714 commented on #95829
if it is already covered by an exist on #94932

[2020-04-22 07:56] #95829 closed

[2020-04-22 07:56] sanket-bhalerao opened #95838 "change in icons for the menu"
Issue Type: <b>Bug</b>

after the latest update observed tick marks in the menu instead of the ">" sign to indicate there is a submenu.
is this expected change? i have pinned the menu in the sidebar.

![image](https://user-images.githubusercontent.com/9264813/79955921-14af8300-849d-11ea-92bd-75da2861d5fc.png)

VS Code version: Code - Insiders 1.45.0-insider (6fc9bd19c5a3c9c42d9a5c23152b1680bc308a5

[2020-04-22 07:59] MrChocolatine opened #95839 "Prompt for GPG passphrase to sign commits not displayed"
- VSCode Version: 1.44.2
- OS Version: macOS Mojave

Steps to Reproduce:

Where VSCode is supposed to ask for the passphrase to sign commits when creating them directly through the interface and not with a terminal?

When I already entered my passphrase, by creating a commit through the terminal, I don't have any problem, creating another one within VSCode works.

But when it is not the case, or w

[2020-04-22 08:02] niudai opened #95840 ""Reopen with encoding" preview"
When I navigate through different themes in the theme list, the vs code would change its theme even if I have not hit the enter to select the theme explicitly. I want the reopen with encoding to have the same feature, which means when I navigate between encodings the editor would change the encoding.

Sometimes I don't know the original encoding of a text file so I should toggle between several en

[2020-04-22 08:07] eugene-babichenko commented on #95493
Exactly. So, Iosevka has two different variants. The extended one can be enable in CSS with `font-stretch: expanded`.

[2020-04-22 08:07] testforstephen commented on #94650
No, this is not part of any code actions.

The scenario we want to try is for some **implicit refactoring from file explorer**. For example, when the user did some file operation through file explorer, such as rename or move, this will cause the file name or package name inconsistent with the class or package declaration in his code. The builder tool will report lots of build errors. And many user

[2020-04-22 08:08] isidorn commented on #93438
@joanmarie looking at the `code` role [here](https://w3c.github.io/aria/#code) it should be used whenever a fragment of computer code is displayed.
So imho it makes sense to add this to the Problems view but also to the Search view since we also show code snippets there.
@joanmarie should the code role be on the container, like the `markers-panel-container` or what makes more sense to me on the ex

[2020-04-22 08:16] sandy081 commented on #95761
Changed the initial account picker to pick between Microsoft/Github and untouched the other advanced one

<img width="616" alt="image" src="https://user-images.githubusercontent.com/10746682/79957717-4a933e00-8482-11ea-8364-d84cf6f3a6ce.png">

[2020-04-22 08:18] #95761 closed

[2020-04-22 08:21] isidorn commented on #95835
@weinand makes sense. Pushed a change

![Screenshot 2020-04-22 at 10 20 17](https://user-images.githubusercontent.com/1926584/79958231-fb99d880-8482-11ea-882c-fc44b5bc5049.png)

[2020-04-22 08:23] isidorn commented on #95737
Dup of https://github.com/microsoft/vscode/issues/2163

[2020-04-22 08:23] #95737 closed

[2020-04-22 08:26] chrmarti commented on #94862
@deepak1556 It looks like you were right on the forwarding of headers somehow playing into this.

@keelung-yang There will be a fix in tomorrow's Insiders build, the update should work for you with that also with the environment variables set.

[2020-04-22 08:32] davidmedinasigasi opened #95841 "Option to disable smart selection when only whitespace is selected"
In this case, the last selection here only adds whitespace to the current selection. It would be nice to have an option to disable this.
![theGif](https://user-images.githubusercontent.com/40488791/79958968-d194e600-8483-11ea-921c-550789cc8008.gif)

[2020-04-22 08:37] domagojk opened #95842 ""do you want to save changes" prompt appears after closing unchanged untitled file"
- VSCode Version: 1.44.2
- OS Version: Darwin x64 19.3.0

Steps to Reproduce:

This happens in my extension, which can be reproduced like this:

[code]

When closing a file opened like this (without modifying it) I get the prompt: "Do you want to save the changes you made to file.ext".
Before updating to version 1.44 it would just close as expected, but now it seems there is some undo history stor

[2020-04-22 08:47] jrieken commented on #94650
Ok, understood. Thanks for clarifying and 'yes' this outside of what we have thought this feature being used for and I am unsure if it's the right place. TypeScript has a similar challenge and ships a feature which simply asks you what to do when a file has been renamed. This is how it looks:

<img width="1342" alt="image" src="https://user-images.githubusercontent.com/1794099/79960223-72d06c00-84

[2020-04-22 09:03] teetotum opened #95843 "Highlighting of closing braces is indicating wrong brace when cursor is behind opening brace"
Issue Type: <b>Bug</b>

* view this code snippet in the editor
[code]
* place the cursor directly before the opening brace in `return <div>{foo && <div>test</div>}</div>;`
* the corresponding closing brace on the same line is highlighted correctly
* move the cursor one character further (directly behind the opening brace)
* bug is visible: the closing brace of the last line (i.e. closing brace of

[2020-04-22 09:06] isidorn commented on #95726
Thanks for looking into this.
When you invoke the Copy Call Stack button does a breakpoint [here](https://github.com/microsoft/vscode/blob/07bd3fff5c576e539f3079c09a46d15d5af98338/src/vs/workbench/contrib/debug/browser/debugCommands.ts#L124) get hit. And if yes what seems to happen?

[2020-04-22 09:08] isidorn commented on #95225
We have done the inital investigation and it seems like the work should be done on the JAWS side.
However we will still keep this issue open to have all the information in one place.
I should also have a meeting with the authors of JAWS in the next one month so I will keep updates here.

[2020-04-22 09:13] Oneliey opened #95844 "add 'open reveal in file explorer ' in editor context menu"
add 'open reveal in file explorer ' in editor context menu like in explorer side bar
![image](https://user-images.githubusercontent.com/30212642/79963882-877c2680-84bc-11ea-9bf6-87f7af13668c.png)
![image](https://user-images.githubusercontent.com/30212642/79963907-8e0a9e00-84bc-11ea-89e4-5da14983b1ea.png)

[2020-04-22 09:15] bm-stschneider opened #95845 "Emmet doesn't work with hbs"
Issue Type: <b>Bug</b>

It seems that if I use "inMarkupAndStylesheetFilesOnly" I cannot expand with Tab in hbs files.

VS Code version: Code - Insiders 1.45.0-insider (6fc9bd19c5a3c9c42d9a5c23152b1680bc308a57, 2020-04-22T06:20:01.720Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4980HQ CPU @ 2.80GHz (8 x 2800)|
|GPU St

[2020-04-22 09:15] jrieken opened #95846 "CustomDocument naming feedback"
There is some naming that we should align for symmetry and consistency. Suggestions

* `EditableCustomDocument` should switch nouns as the first noun usually defines the domain, so `CustomEditableDocument`
* similar is `OpenCustomDocumentContext` which should be `CustomDocumentOpenContext`
* `CustomDocument` could have a counter part name maybe `CustomReadonlyDocument` or keep the more words or fe

[2020-04-22 09:15] unikitty37 opened #95847 "Debugger does not launch Chromium if Chrome is not installed"
Issue Type: <b>Bug</b>

On macOS, with Chrome not installed, Chromium installed in /Applications, and the following `launch.json`:

[code]

Press F5 to start a debug session.

**Expected behaviour:**

Chromium launches and loads the page.

**Actual behaviour:**

Visual Studio Code complains that Chrome is not found.

**Notes:**

Chromium is Chrome without all the Google extras. It is just as capab

[2020-04-22 09:20] Oneliey opened #95848 "Added rendering of Latex formulas in IntelliSense"
![image](https://user-images.githubusercontent.com/30212642/79964563-7849a880-84bd-11ea-85f4-872416494a49.png)

[2020-04-22 09:20] SurrenderToTheNow commented on #95122
I see that there si no solution, I rollback to v1.39.2, at least that one works and not make my laptop fun to take fire as the next versions do when they throw the typescript version.
Thanks!

[2020-04-22 09:20] jrieken opened #95849 "Use void instead `CustomDocumentContentChangeEvent`"
Using marker interfaces in a structurally typed language like TypeScript has zero value. It cannot be told apart other empty things and makes it more cumbersome for extension authors. For custom documents and the `onDidChange`-event it is enough to have this

[code]

[2020-04-22 09:21] isidorn commented on #94812
Looking into this and thinking how we could split up work.

@connor4312 How about the following suggestion:

- [ ] introduce menu contribution point `debug/callstack/actions`. For start this contibution point will only be supported on the sessions. In the future we might add more  @isidorn
- [ ] introduce `debugSession.description` to VS Code proposed API @connor4312 @weinand
  - [ ] Render `descr

[2020-04-22 09:22] felixfbecker opened #95850 "Can't get vscode://open links to work"
- VSCode Version: 1.44.2
- OS Version: macOS

Steps to Reproduce:

1. Run `open 'vscode://open?url=file:///Users/felix/git/sourcegraph/README.md'` (pointing to a file that exists on disk, while having VS Code open with the folder opened)
2. Observe how VS Code opens, but the file doesn't get opened

Does this issue occur when all extensions are disabled?: Yes

[2020-04-22 09:23] testforstephen commented on #94650
UX discussions are always a tough thing to do. Personally i'm not a fan of dialog notification. Since the API is right there, we thought why not to have a try on the PREVIEW FEATURE. It already looks great now, just a little more improvement would make it more perfect!

[2020-04-22 09:23] jrieken opened #95851 "CustomDocument#dispose should be #delete"
This came up yesterday and we concluded that deleting is the 99% way how extension would implement nuking of a backup, so we should just call it `delete`. We should also consider if `backupId` should be named just `id`, like TreeItem#id, Breadpoint#id etc etc

[code]

[2020-04-22 09:29] jrieken opened #95852 "[api] use of generic in providers"
We have added a generic to the `CustomEditorProvider`-provider. Two remarks

1. I was confused by `DocumentType extends CustomDocument = CustomDocument` and I would have preferred the usual usage of a single letter name, like `T extends CustomDocument = CustomDocument`
1. We adding an inconsistency wrt other providers which also support resolving of custom objects, e.g `CompletionItemProvider`, `C

[2020-04-22 09:30] aeschli commented on #95714
duplicate of https://github.com/microsoft/vscode/issues/95346

[2020-04-22 09:30] #95714 closed

[2020-04-22 09:34] emattias opened #95853 "Speed up "Quick Open" in big projects"
I have a big repo and I often need to open files in our big `node_modules` folder so I have removed `node_modules` from the exclude.

This results in quick opening (target file not in `node_modules`) can take 29 seconds:

![CleanShot 2020-04-22 at 11 46 09](https://user-images.githubusercontent.com/351537/79967609-56393180-848f-11ea-8e14-d9fe91bf5271.gif)

## Suggestions/Ideas

*(other than comple

[2020-04-22 09:35] thany commented on #76594
Yep, still the same in 1.44.2 and in the Insiders build 1.45 (commit 9328b320).

I wasn't exaggerating when I said *nauseatingly laggy*. I'm sensitive to input not matching up with the things I'm seeing on screen. Smooth scroll is therefor disabled. I really can't handle that 🤢

Can anyone explain why this is not being worked on? Perhaps it's being brushed off internally, but it really is a proble

[2020-04-22 09:38] jrieken opened #95854 "Align API for NotebookEditors and CustomEditors?"
It is nice to think of a notebook editor as a special case of a custom editor. However, the APIs are still very different

* There is `EditableCustomDocument#save` (and more) vs `NotebookProvider#save`
* There is no API for backup, save-as, or revert in custom documents
* There is `openCustomDocument` and `resolveCustomEditor` but only `NotebookProvider#resolveNotebook` which is kinda both
* Noteb

[2020-04-22 09:40] weinand commented on #95835
Nice!

I noticed that you've added an ellipsis too (which IMO makes sense).
@alexr00 you might want to consider this too...

[2020-04-22 09:43] jrieken commented on #94812
Yeah, the name-generation-engines says `debug/callstack/context` (like [scm/resourceGroup/context](https://github.com/microsoft/vscode/blob/4f179b72414d412a038dfe3413a276f78df53c26/extensions/git/package.json#L897)) because it is contextual actions. Define that the "first" group of that menu shows inline while the others go into the "..."-overfow-menu. Usually the name of that group is 'inline' (a

[2020-04-22 09:44] IllusionMH commented on #95850
Where you get that URL format?
It has different format in docs [Opening VS Code with URLs](https://code.visualstudio.com/docs/editor/command-line#_opening-vs-code-with-urls)

See discussion https://github.com/microsoft/vscode/issues/4883#issuecomment-270073371

[2020-04-22 09:45] k-l-lambda opened #95855 "Fade out problem icons in status bar when problem count is zero."
![image](https://user-images.githubusercontent.com/11451724/79966740-7503ec00-84c0-11ea-8071-fd8c3ea05d7b.png)

When errors and warnings' count is zero, please fade out the icons color, or hide them simply to reduce annoyance, and make that more noticeable when problems are not empty.

[2020-04-22 09:51] NightMachinary commented on #95784
@isidorn @jvesouza  It doesn't pass the focus for me. I also don't get what 'screen reader' is. I don't use one.

[2020-04-22 09:52] hughbe opened #95856 "Go To Line should include "filename.exenstion:line number" format"
In C# and visual studio stack traces we have the `filename.extension:line number`format

E.g. https://dev.azure.com/dnceng/public/_build/results?buildId=610643&view=ms.vss-test-web.build-test-results-tab&runId=19169530&resultId=108656&paneView=debug

Using go to line (cmd+shift+o), we should be able to paste in something like `TabControl.TabPageCollectionTests.cs:line 1260` and be able to navigate

[2020-04-22 09:52] isidorn commented on #95835
@weinand yeah, I pinged also @alexr00 for that, but since they mostly show more of those items she thought it looks a bit like clutter.

[2020-04-22 10:02] joanmarie commented on #93438
If you were to replace `treeitem` with `code`, then screen readers wouldn't know that the thing is a `treeitem`. It might also break user agent calculation of properties like `posinset` and `setsize`.

It looks like `treeitem` doesn't have children-presentational set to true in the ARIA spec. So it potentially could go on a child of the `treeitem`. (That probably would not JustWork(tm) in Orca bec

[2020-04-22 10:02] alexr00 commented on #95782
Looks like that's not a permitted raw string literal because double quotes are not permitted in raw string literals: https://rahul-thakoor.github.io/rust-raw-string-literals/
https://doc.rust-lang.org/reference/tokens.html#raw-string-literals

[2020-04-22 10:03] #95782 closed

[2020-04-22 10:03] isidorn commented on #94812
@jrieken awesome. Yeah we should use the "inline" group

@connor4312 as the context when the contributed action is triggered on the session we would pass the session id to the extension. You can use the `id` to match the session, the only problem is that there is no API to get all sessions so you would have to store the session which you create, or to simply listen to our session creation events a

[2020-04-22 10:09] isidorn commented on #93438
@joanmarie thanks for feedback, let's wait for other opinions. We would not replace the `treeitem` role, that would not make sense. So either a child of the `treeitem` which I prefer or one of the ancestors.

[2020-04-22 10:11] anegoda1995 opened #95857 "Scrolling in a browser affects scrolling in VS Code Studio"
When I scrolling in browser (Google Chrome version 80.0.3987.163 (Official Build) (64-bit)) by mouse wheel, then ALT-TAB (switch) to my VS Code and want to scroll something there by mouse wheel I see that my VS Code window jump as much as I scrolled in the browser window.

[2020-04-22 10:12] joaomoreno commented on #87407
#6442

[2020-04-22 10:12] #87407 closed

[2020-04-22 10:18] joaomoreno commented on #33620
Just spitting out what needs to happen here.

This process has many steps:

1. **Build:** This has been somewhat achieved in https://github.com/microsoft/vscode/pull/85326, still some work to be done on our side.
2. **Test:** We have a test machine on the way, so this will happen soon. I'll post results as soon as possible.
3. **Integrate:** This is the hardest part. We rely on Azure DevOps for bu

[2020-04-22 10:19] jrieken commented on #77131
@tiagobento and @pefernan have you been able to make progress? As @mjbvz outlined [above](https://github.com/microsoft/vscode/issues/77131#issuecomment-615024085) we have changed the API proposal in a few significant ways and are looking for your feedback. Specifically

* save-as, backup, revert don't seem to be implemented in the [0.3.x branch](https://github.com/kiegroup/kogito-tooling/blob/f26a

[2020-04-22 10:28] MarcoZehe commented on #93438
As @joanmarie says, putting it on an ancestor would just work. Likewise, it would only require screen readers to put in one heuristic, not several. If suddenly several controls which didn't have children before, started to have children, like tree items, that would hugely complicate things in general, but for getting the code role adopted specifically.

[2020-04-22 10:29] robertrossmann opened #95858 "activityBar.border is no longer rendered on Insiders"
[code]

After updating to the latest VS Code - Insiders build (see above) my UI no longer shows the Activity Bar border. There is simply no border visible. I believe this worked in the previous Insiders build, or at most two builds back. Stable works just fine. Attaching some screens below.

Steps to Reproduce:

1. Set a colour contribution for `activityBar.border`
1. Observe no border is shown on

[2020-04-22 10:31] robertrossmann commented on #95858
A possibly related issue with borders not showing in the workbench panels: #95439.

[2020-04-22 10:32] bpasero opened #95859 "Icons: defaultIcon.png should be just one"
I am not sure that is possible, but I see a `defaultIcon.png` still in our sources.

[2020-04-22 10:33] March3wa opened #95860 "missing html file"
![history](https://user-images.githubusercontent.com/64137088/79974895-5d197180-849a-11ea-86b1-4ad701ac73b3.png)
Issue Type: <b>Bug</b>

Hi, i tried to open a file, which i've been working on in december 2019. Now i cannot find it anywhere on my pc. Document folder is empty, i searched for the solution in internet, but without success. I remember had an app named xampp or something like that, beca

[2020-04-22 10:35] bpasero commented on #95859
There are some more:

![image](https://user-images.githubusercontent.com/900690/79972095-b337e600-8495-11ea-9f2f-cf1d0076c1b1.png)

[2020-04-22 10:36] deepak1556 commented on #94862
@chrmarti oh yeah I completely forgot about that case, its something that chromium explicitly decided not to support https://bugs.chromium.org/p/chromium/issues/detail?id=16709, ignoring the setproxy api is a perfect solution for this.

Nice, might be able to verify with a proxy that relies on authentication headers. I will put together something later this week. But good to know this is finally p

[2020-04-22 10:36] IllusionMH commented on #95838
I don't think that this one is intended.

/cc @misolori

May be something with codicons or styles.
I noticed that I have sometimes spinning `codicon-tree-item-expanded` instead of `codicon-loading` because former overrides styles of loader. Haven't noticed this problem before

[2020-04-22 10:39] dbaeumer commented on #94637
Will do as soon as we have the next stable API vscode.d.ts file.

[2020-04-22 10:43] weinand commented on #94812
@connor4312 you asked for input on

From the DAP perspective the "stopped state names" are coming from the "description" attribute of DAP's "stopped" event. So in theory a debug adapter could just provide a formatted description that includes the "sub state".  But this does not work for "Running (profiling)" because the string for the "Running" state is not received as part of a "Stopped" event bu

[2020-04-22 10:45] isidorn opened #95861 "Questionable use of alerts in search view"
I see that search uses `aria.alert` for example [here](https://github.com/microsoft/vscode/blob/07bd3fff5c576e539f3079c09a46d15d5af98338/src/vs/workbench/contrib/search/browser/searchView.ts#L822)

Why do we use alerts? Idealy the focus should just nicely flow through the tree and there should be no need to use `alert` since the tree elements should have proper aria labels set.

Assigning to May s

[2020-04-22 10:50] isidorn opened #95862 "Settings UI should use list accessibilityProvider"
Curretnly the settings UI uses a custom accessibility solution. Code pointer https://github.com/microsoft/vscode/blob/07bd3fff5c576e539f3079c09a46d15d5af98338/src/vs/workbench/contrib/preferences/browser/settingsTree.ts#L554

Instead the settings tree should use the AccessibilityProvider provided by the tree and if something is missing this should be added as a list/tree aria feature.

fyi @joaomo

[2020-04-22 10:51] deepak1556 commented on #95770
I don't have access to those image files, also where you able to try the exploration build https://github.com/microsoft/vscode/issues/94074#issuecomment-607079209 and see if the issue repros ?

[2020-04-22 10:54] joseluis240 commented on #95770
Sorry, you can try again please! now I accept sharing this video in google
drive

El mié., 22 abr. 2020 a las 12:51, Robo (<notifications@github.com>)
escribió:

[2020-04-22 11:00] weinand opened #95863 "Consider to show dynamic launch configs in Welcome view"
With the new API #88230 we now have a way to find default debug configurations of a specific debugger. With #95835 they are surfaced in the (not so obvious) "Debug: Select and Start Debugging" command.

We should explore whether it makes sense to automatically show them in the debuggers Welcome view.

/cc @connor4312

[2020-04-22 11:07] deepak1556 commented on #95770
Thanks this seems to be same issue as https://github.com/microsoft/vscode/issues/94523 , the exploration builds should fix this for now.

Also in the video I see that you are not restarting code after setting `"disable-hardware-acceleration": true`. Can you please restart for the configuration to apply.

[2020-04-22 11:14] sandy081 commented on #95804
Currently Accounts dropdown shows

- All logged in accounts
- Preferences sync entry

If we are not intending to add other features, this can be used to represent sync.
Another idea is to separate accounts and sync and add sync account as a new entry?

[2020-04-22 11:20] psycoxer commented on #18805
need this feature baked in to vs code. but this extension does the trick : [#region](https://marketplace.visualstudio.com/items?itemName=maptz.regionfolder)

[2020-04-22 11:22] #95249 closed

[2020-04-22 11:22] #95247 closed

[2020-04-22 11:22] #95226 closed

[2020-04-22 11:22] #95207 closed

[2020-04-22 11:22] #95140 closed

[2020-04-22 11:22] #95045 closed

[2020-04-22 11:23] #94932 closed

[2020-04-22 11:23] #94885 closed

[2020-04-22 11:23] #94833 closed

[2020-04-22 11:23] #94749 closed

[2020-04-22 11:23] #94704 closed

[2020-04-22 11:23] #75492 closed

[2020-04-22 11:23] #73308 closed

[2020-04-22 11:23] sandy081 commented on #95618
Ah ok. It seems to me the reason you mentioned (but sorry not 100 percent sure). Please feel free to remove/fix it.

[2020-04-22 11:25] hongsefb opened #95864 "UI Bug"
Issue Type: <b>Bug</b>

The preference icon in File option is not correct. It should be >, not √.
![image](https://user-images.githubusercontent.com/29223722/79976544-6113b680-84cf-11ea-8af8-45028b3361fb.png)

VS Code version: Code - Insiders 1.45.0-insider (9328b32008089c515f39a13db9c71e57c7d36823, 2020-04-22T08:44:55.510Z)
OS version: Windows_NT x64 10.0.18363

[2020-04-22 11:26] sandy081 commented on #93438
@isidorn Problems do not show code always and also does not show code only. It includes a descriptive message always.  So if it is ok to add `code` role even if the message includes non code?

[2020-04-22 11:27] usernamehw opened #95865 "Add an option to show only folders in Open Recent"
Issue Type: <b>Feature Request</b>

I use `File: Open Recent...` exclusively to switch projects, but there are a lot of files in there with similar names that get in the way.

It would be great to have an option to filter out files from that command (false by default) and leave only `workspaces`.

[2020-04-22 11:30] joseluis240 commented on #95770
Yes, I restarted multiple times after change to disable gpu acceleration
but it didn't work. I just try your exploration build and I install spanish
language extension (all ok). After that I install flutter extension (and
suddenly the GUI was wrong with distortions... Could this extension make
damage to displays?

El mar., 21 abr. 2020 a las 22:03, Robo (<notifications@github.com>)
escribió:

[2020-04-22 11:31] alexr00 commented on #95738
Does one of the alternate quoting options solve this for you? ex:
[code]

[2020-04-22 11:37] Shindanaide commented on #95190
I have the same issue with Dropdown Menus (File, Edit, Selection, ...). Clicking on a menu causes a white flash.

Version: 1.44.1
Commit: a9f8623ec050e5f0b44cc8ce8204a1455884749f
Date: 2020-04-16T21:41:21.848Z
Electron: 7.1.14
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 5.4.33-3-MANJARO

[2020-04-22 11:38] dwilliamson opened #95866 "Allow use of integer variables in tasks.json"
I'm trying to call `revealLine` from a task input as that allows variable substitution (unlike keybindings):

[code]
Obviously this fails because the command `revealLine` expects an integer as the first command. It works fine if I substitute `"${lineNumber}"` with any old integer.

Of course, this is a valid JSON file with no pre-process and I anticipate you want to keep this concept. But it occur

[2020-04-22 11:44] alexr00 commented on #94872
I do see the arg:
![image](https://user-images.githubusercontent.com/38270282/79977940-65c07680-849f-11ea-8c22-78653261647f.png)

[2020-04-22 11:46] gaplo917 opened #95867 "Semantic highlighting: Inconsistent token type when interface require optional properties"
Version: 1.44.2
Commit: ff915844119ce9485abfe8aa9076ec76b5300ddd
Date: 2020-04-16T17:07:18.473Z (5 days ago)
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.4.0

Steps to Reproduce:

Reproduce recording:
![semantic-highlighting-vscode-issue](https://user-images.githubusercontent.com/5468398/79977826-7b4e9400-84d1-11ea-9bf7-5d6a0e07e4ea.gif)

Sourc

[2020-04-22 11:52] alexr00 commented on #94872
The action bar `onClick` passes a `MouseEvent` as `context` here:
https://github.com/microsoft/vscode/blob/fd85f8d631c8f6edded8cac46e6533f7903bb44b/src/vs/base/browser/ui/actionbar/actionbar.ts#L192-L192
That contains the `isTrusted` and it get's passed all the way through to the command.

[2020-04-22 11:55] weinand commented on #95835
@isidorn for sake of consistency then let's remove the ellipsis from debug too.

[2020-04-22 11:58] alexr00 commented on #95705
I think moving the whole remote explorer makes sense, but moving individual views from it breaks it. (I'll fix the location specific color)

[2020-04-22 12:00] mayurm-virtueinfo opened #95868 "The terminal process terminated with exit code: 259"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-04-22 12:01] #95868 closed

[2020-04-22 12:05] AndreeaDieaconu commented on #95140
No, the issue is not reproducible when all the extensions are disabled. Many thanks for finding the cause.

[2020-04-22 12:09] joaomoreno commented on #16927
-> @bpasero

[2020-04-22 12:13] lukaarma opened #95869 "Initializing JS/TS language features fails"
Issue Type: <b>Bug</b>

Yesterday evening this problem started to appear on the stable build, so I tried to disable all extension and it kept happening.
So i tried to switch to insider verions but even after the first ever install and with no extension installed whatsoever it doesn't work

VS Code version: Code - Insiders 1.45.0-insider (9328b32008089c515f39a13db9c71e57c7d36823, 2020-04-22T08:44:5

[2020-04-22 12:14] lukaarma commented on #95869
This might be a clone of #95515 , sorry if that's the case

[2020-04-22 12:16] IllusionMH commented on #95864
Actually duplicate of #95838

[2020-04-22 12:23] lukaarma commented on #95869
This is the report generated from the stable build if it can help :)

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz (8 x 2592)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d

[2020-04-22 12:26] bpasero opened #95870 "Inconsistent focus feedback on dropdown"
Small nit, I often find this feedback to not look so polished:

![image](https://user-images.githubusercontent.com/900690/79981461-02394780-84a5-11ea-88f7-d2564ecbc0db.png)

vs.

![image](https://user-images.githubusercontent.com/900690/79981475-06fdfb80-84a5-11ea-9354-80368a745195.png)

The debug dropdown is probably special, but can we expand the outline around the entire control?

[2020-04-22 12:26] HotscriptGG opened #95871 "Disable built-in tsLint messages on `// @flow` (flow.js) annotated files"
Please add an option to default JS&TS built-in plugin to disable tsLint messages on files which have explicit flow.js annotation `// @flow` at the top of the file.

![Zrzut ekranu 2020-04-22 o 14 23 30](https://user-images.githubusercontent.com/1574210/79981370-d8802080-84a4-11ea-9782-afe664c35e9f.png)

[2020-04-22 12:30] bpasero commented on #16927
I think these values are carefully picked to leave a minimum of space to be able to grab the tab and/or to see the editor contents:

![image](https://user-images.githubusercontent.com/900690/79981901-bb981d00-84a5-11ea-9716-a55e15cccb27.png)

vs

![image](https://user-images.githubusercontent.com/900690/79981944-cb176600-84a5-11ea-8860-c077639333c2.png)

[2020-04-22 12:35] wonao commented on #95604
I'm trying to debug a flutter code. I was first thinking it was a problem with VS code, bu tthe problem is on my app code ..., but I annot compile it and debug it by myself. Here is my class code :
`import 'package:flutter/material.dart';

class VisitCard extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return Scaffold(
      backgroundColor: Color(0xFF6A1B9A),

[2020-04-22 12:35] sandric commented on #16927
@bpasero those can be defaults, but why not give ability to change this if wanted to end users? Because of this there's currently no way to temporarily hide editor group. Say I want to maximize (100%) current editor group, then unmaximize it preserving all editors in editor group that was not visible, like described in this issue, is impossible now, right?

[2020-04-22 12:38] misolori commented on #95838
@aeschli related to product icon overrides?

[2020-04-22 12:42] bpasero commented on #16927
If we end up supporting hidden editor groups as a solution to this issue then I would rather not introduce a setting for the minimal editor size. But if enough people want to configure the minimal editor size independent from this issue then I suggest to extract that into a separate issue.

[2020-04-22 12:43] IllusionMH commented on #95838
@misolori sorry for mention, I was not aware about changes in approach to use Codicons and thought that it might be unintentional font update.

Yes, looks like it was part of #95435 . PR with fix is available

[2020-04-22 12:43] mjcrouch opened #95873 "Right clicking an input causes it to close"
- VSCode Version: 1.44.2, insiders
- OS Version: Win 10 Pro, Win 7 Enterprise

Steps to Reproduce:

1. Open the command palette, or any other input with `ignoreFocusOut` set to false / undefined
2. Right click on the input
3. Command palette closes, but right-click menu with options such as paste etc. appear

![quickpickrightclick](https://user-images.githubusercontent.com/49367953/79983035-197536

[2020-04-22 12:49] usernamehw commented on #95873
/duplicate of #58164

[2020-04-22 12:50] #95873 closed

[2020-04-22 12:50] BobFrankston commented on #87407
As an FYI -- I did get it to work but there's also a work-around by commenting the offending repositories after installation.

Still, would be nice to have an official build.

[2020-04-22 12:53] awakecoding commented on #33620
@joaomoreno for step 3 - integrate, it should be much easier than you think, since the best approach would be to keep your intel x64 build agents and cross-compile to ARM64 using the MSVC build tools. I am not familiar with your build process but for me it was just a matter of modifying my build container to add the MSVC ARM64 components, similar to how to add x86 or x64 build components.

[2020-04-22 12:56] Tyriar commented on #81231
@JoyceBabu try recompiling as in https://github.com/microsoft/vscode/issues/81231#issuecomment-543799165, we change the Electron version sometimes which means all native node modules will stop working until you do that.

[2020-04-22 13:09] IllusionMH commented on #95871
This are TS messages not TSLint.

Did you follow steps described in https://github.com/flowtype/flow-for-vscode#setup to disable built-in support for JS?

[2020-04-22 13:11] jrieken commented on #94650
That proves my point about personal preferences 🤓 Tho, in all fairness: If you don't like dialogs that you would select "never" or "always" in the screenshot above and you would never see it again (this updates a setting)

I also agree that this can be a use-case for the preview feature *but* only for uses that like the preview feature. I can think of the following flow

* users have a setting lik

[2020-04-22 13:15] Tyriar opened #95874 "Settings sync should contribute its own timeline view"
Seems like an obvious and accessible place to expose readonly server versions for settings and keybindings. Then the current backups view can be only be for local backups which are more intended for disaster recovery.

![image](https://user-images.githubusercontent.com/2193314/79985727-e5c6ec00-845f-11ea-8f2c-a98231a92bc4.png)

To minimize requests to the server, we could take the following steps:

[2020-04-22 13:16] roblourens commented on #95618
I'm just going to leave it. I don't want to change the keybindings and users don't really need to change that toggle when focus isn't on the input box. But I'll use this issue to fix the fact that some of the search commands don't work with keybindings at all.

[2020-04-22 13:18] damacisaac commented on #95755
Search is also broken for me as of a day or two ago. Not sure the cause yet, but I get the following in the Dev Tools:

[code]

[2020-04-22 13:25] Alex1607 opened #95875 "Slow startup even after re-installation"
When opening VSC it loads 30 to 60 seconds and says "The windows is no longer responding"
![NVIDIA_Share_cXCH3qbckV](https://user-images.githubusercontent.com/19777054/79986842-f5205680-84ac-11ea-8570-22378833b8d5.png)

- VSCode Version: 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd)
- OS Version: win32(10.0.17763)

Steps to Reproduce: % I just need to start VSC

Does this issue occur when all

[2020-04-22 13:29] alexr00 opened #95876 "Creating and running a shell task results in ugly output"
If you do something like:
[code]
Then you end up with some ugly output in the tasks output.

[2020-04-22 13:32] sandy081 commented on #94872
@bpasero any insights ?

[2020-04-22 13:33] ThrowawayAccount-lang commented on #93120
Is that insiders build out yet?

[2020-04-22 13:34] bwateratmsft commented on #95876
The error output looks like this:
[code]

The task system does still execute the task, despite the error output. Additionally, I found that doing `t.definition.command = 'dummy';` _after_ the constructor makes the error go away, but still the correct command `echo hello world` is executed, allowing for the issue to be mitigated.

[2020-04-22 13:37] sandy081 commented on #95874
Timeline view for settings and keybindings makes sense. IMO it shall include both local and remote versions as timeline can support multiple providers.

Remote and Local backup views can still exist and be used to show a consolidated view.

[2020-04-22 13:42] jeanp413 commented on #95671
I'll take this up

[2020-04-22 13:45] IllusionMH opened #95878 "Loading icon is not showing for slow tree nodes"
Issue Type: <b>Bug</b>

In latest Insiders build instead of loading icon I see spinning chevron for some tree nodes.
It's mostly noticeable in GitHub Pull Request extension tree, however I was able to reproduce it in Call Hierarchy while expanding some nested trees.

Looks like `.codicon-loading:before` has lower priority than `.codicon-tree-item-expanded:before` which prevents icon change.

/cc @

[2020-04-22 13:46] sandy081 commented on #95657
Currently we do not support preview extensions - Here is the request to support that - https://github.com/microsoft/vscode/issues/15756

[2020-04-22 13:46] #95657 closed

[2020-04-22 13:52] sandy081 opened #95879 "Do not make requests if token is not valid or session is signed out"
Do not make requests if token is not valid or session is signed out

[2020-04-22 13:55] sandy081 commented on #95740
How are you hiding the problems tab?

[2020-04-22 14:07] JacksonKearl opened #95880 ""Extension 'ESLint' cannot format 'File.ts'", then it does"
I have eslint set up to format on save, and it does, but it also puts a notification in the status bar saying that it cannot.

![Kapture 2020-04-22 at 7 06 30](https://user-images.githubusercontent.com/8586769/79992052-d77cce00-8467-11ea-8814-75a17a0efc82.gif)

Repro: https://github.com/JacksonKearl/eslint-cannot-format-repro

https://github.com/microsoft/vscode/blob/43bfc2cda0bf7e5f4d037d06e39754

[2020-04-22 14:12] #95864 closed

[2020-04-22 14:15] usernamehw commented on #60649
I don't think this issue is actionable.

[2020-04-22 14:15] #60649 closed

[2020-04-22 14:16] alexr00 commented on #95760
If you are running on a system where spaces in the filename are permitted (not Windows) then you should be allowed to have a space.

[2020-04-22 14:17] allstable opened #95881 "Login use one user and act as another user."
Hello, here is an new request.
Image this situation:
    Connect the remote host through a general user,which has only little privilege, and then elevate its privilege to a super user,let us say root. We need to do the work under the root user.
    So, in VS Code, how can I make it? Becuase there is a situation where we can only use the general user to connect to the remote host.
   Looking for th

[2020-04-22 14:26] isidorn commented on #95861
Also consider using `tree.ariaLabel` to dynamically update the `ariaLabel` of the whole tree based on the number of results there are.
We are doing the same in problems view.

[2020-04-22 14:26] sbatten commented on #94733
@alefragnani we are considering both of these options. Since the second one requires action on extension authors parts, we want to make sure it is the approach we are set on before exposing it. We can tackle the fallback before then, however.

[2020-04-22 14:35] usernamehw commented on #48318
This got fixed at some point.

[2020-04-22 14:35] #48318 closed

[2020-04-22 14:36] sbatten commented on #95774
looking at the maven extension, I do not see a task type of java. Rather, generated tasks use the type `shell`. Can you share your `tasks.json`, or which task you are running?

[2020-04-22 14:36] HotscriptGG commented on #95871
You are right. Message comes from TS but it behaves sort of like a basic linter.

I am aware of https://github.com/flowtype/flow-for-vscode#setup but I don't want to disable amazing support which comes with the built-in js&ts plugin in the whole project. I am introducing Flow to a bigger codebase step by step and don't want to loose workflow for my teammates and me in the plain js files. It would

[2020-04-22 14:37] usernamehw commented on #48317
Works now.

[2020-04-22 14:37] #48317 closed

[2020-04-22 14:37] sbatten commented on #95772
@ghostrib let us know if you believe it is something different.

[2020-04-22 14:37] #95772 closed

[2020-04-22 14:41] #77142 closed

[2020-04-22 14:44] alekseyt opened #95883 "Icons are blurry in 1.44.2"
Issue Type: <b>Bug</b>

Some icons in SCM panel appears blurry.

If i rollback to 1.43.2 then this issue goes away, if i upgrade back to 1.44.2 issue reappears.

Screenshot with side-by-side comparision:

![image](https://user-images.githubusercontent.com/993454/79994305-7207fc00-84be-11ea-855d-9a04a402ff48.png)

Top: 1.43.2
Bottom: 1.44.2

Note that "Open File" and "Stage" icons are blurry, while

[2020-04-22 14:48] joaomoreno commented on #33620
It's not only a matter of compilation but of running as well. We want to run all our test suites on the built bits.

[2020-04-22 14:50] isidorn commented on #95516
I have tackled the Problems view issue and the Breadcrumbs issue via this PR https://github.com/microsoft/vscode/pull/95877

Will merge it later today / tomorrow so should be soon in insders
@jvesouza thanks for filling great bugs!

[2020-04-22 14:53] awakecoding commented on #33620
@joaomoreno that's a good point, maybe the upcoming Hyper-V support on Windows ARM64 support (currently in the insider preview) could help instead of using physical hosts to run the tests.

[2020-04-22 14:54] bpasero commented on #94872
Is this maybe an issue with native contextmenu vs custom context menu? Does that make any difference?

To be clear: when running a extension command via context menu we are now passing `{isTrusted: true}` and before we did not? I only see this string being used with markdown?

[2020-04-22 14:57] Redoubts opened #95884 "Slow to Create New Window"
Issue Type: <b>Performance Issue</b>

When I launch VS Code or open a new window in an already launched app, I notice that it takes 3 seconds to initialize fully. Creating a new window is brief, but filling it and the workbench takes most of the time. Performance is the same when opening a real project, or opening an empty folder.

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b530

[2020-04-22 14:57] Mellbourn commented on #86425
/verified

[2020-04-22 14:57] isidorn commented on #94812
@weinand Correct, "running" is hardcoded in the VS Code ui [here](https://github.com/microsoft/vscode/blob/cb14c962bcd28c83f283c9a29c94ecaf9d894a72/src/vs/workbench/contrib/debug/browser/callStackView.ts#L470)

* Using the continued event will not work since it is not required by the adapter to send this, as specified in comments [here](https://github.com/microsoft/vscode/blob/cb14c962bcd28c83f283

[2020-04-22 14:59] isidorn commented on #95835
I would like debug to be consistent across quick pick and our debug dropdown where we also show elipses (we can not show icons so it is a good diferentiator).
Also I prefer corectness over consisntency, so I would like to keep the elipses :)

[2020-04-22 15:00] karambaq commented on #95334
[code]

[2020-04-22 15:02] alefragnani commented on #94733
@sbatten thank you! At first sight, I would say both of my extensions would use the same icon on all of its panels, so in my case, the first idea would work perfectly. But I agree other users/extension developers would like the opportunity to have different icons for each panel.

Could you link the related issue here, so we can keep informed about its evolution?

[2020-04-22 15:04] connor4312 commented on #95777
`outFiles` should be an array rather than a string

[2020-04-22 15:06] isidorn commented on #93438
@sandy081 good point, I thought about that and I think it is fine. It just means there might be code.
Similar to how the textEditor might contain non code in comments, but there is a good chance that there is code. So screen reader reads all the punctuation characters. And there is also a very good chance that there is code in problems view thus we could set the role. Also for search view.

[2020-04-22 15:07] #95516 closed

[2020-04-22 15:07] Redoubts commented on #95884
Additional Output with `vscode -n --disable-extensions --prof-startup`

<details>
<summary>Below</summary>

## System Info

* Code: 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd)
* OS: darwin(19.4.0)
* CPUs: Intel(R) Xeon(R) CPU E5-1650 v2 @ 3.50GHz(12 x 3500)
* Memory(System): 32.00 GB(13.76GB free)
* Memory(Process): NaN MB working set(146.27MB private, 0.23MB shared)
* VM(likelyhood): 0%
* I

[2020-04-22 15:10] borekb opened #95886 "Detect language mode in untitled editor from more lines"
February 2020 Update (v1.43) added [automatic language mode detection](https://code.visualstudio.com/updates/v1_43#_untitled-editors) but **from the first line only**:

This doesn't work well e.g. with JSON files (just `{` on the first line isn't enough). Would be great if the detection was expanded to a few more lines.

[2020-04-22 15:12] #95838 closed

[2020-04-22 15:16] segevfiner commented on #65663
Looks like the VS Code project itself is now recommending the EditorConfig extension. Would be nice if it was prioritized adding/changing what's needed so it can be implemented fully and accurately.

[2020-04-22 15:16] DanTup commented on #95715
Fix looks good - my integration tests are passing again :) Thanks!

[2020-04-22 15:17] aeschli commented on #32813
The APIs to get the theme kind (light / dark / hc) is now made public API.
This should help with selecting the corresponding images in hovers.

[2020-04-22 15:20] sbatten commented on #94733
https://github.com/microsoft/vscode/issues/93968

[2020-04-22 15:22] IllusionMH commented on #95871
I doubt that TS8010 (TS8008 etc.) will be the only problem.
Basically Flow syntax is invalid JS and if your plain JS files reference file with Flow annotations (especially like `{|prop: string|}` which would be also invalid TS) it won't be even possible to get exports from Flow file - so some of workflow would be "broken" at least in some places.
Therefore Flow should be responsible for whole work

[2020-04-22 15:23] weinand commented on #94812
@isidorn how would you explain the semantics of the debug session's `description` attribute?
It seems to be state related, but a debug session has no state attributes yet.

I think the only approach that makes sense is to get the "running" state description via DAP, because that's where the other descriptions are coming from. Having two sources for those strings is rather strange.

So we could pro

[2020-04-22 15:25] rebornix commented on #94408
@mjbvz thanks for the good work!

@roblourens @JacksonKearl @sandy081 if you want to adopt this set of APIs and commands in your component, feel free to create new issues to track them, it's no blocker for this iteration. We just need to make sure we are not introducing similar commands in the future.

[2020-04-22 15:26] algv commented on #95777
Now with debugger work nice. But if change code and alloc ~100mb on start debug зrocess exited with code 3221226505

[2020-04-22 15:28] connor4312 commented on #94812
I like the idea of having the description be set purely in DAP. The displayed state is correlated and partially controlled by the debugger state already, and keeping it centralized in DAP is useful.

The continued event is optional, but we could say either that the continued event must also be sent if the adapter wants to update the description, or introduce a description in the responses that app

[2020-04-22 15:28] connor4312 opened #95887 "Introduce an `inline` group to debug/callstack/context"
Refs: https://github.com/microsoft/vscode/issues/94812

Extensions should be able to contribute actions to be shown inline in items within the call stack view.

[2020-04-22 15:31] bpasero opened #95888 "Hard to drop a view into a container when all views are collapsed"
I think in this case I would expect that the large empty area below the last collapsed view is a valid location to drop:

![Kapture 2020-04-22 at 17 30 53](https://user-images.githubusercontent.com/900690/80001821-1c801f00-84bf-11ea-9fa5-64d997f99cbb.gif)

[2020-04-22 15:33] algv commented on #95777
![322](https://user-images.githubusercontent.com/16474118/80001972-b0ee7f80-84c7-11ea-9dca-b35ea2983c53.gif)

[2020-04-22 15:36] zzptichka opened #95889 ""Cannot launch program" when debugging file with no extension with node"
- VSCode Version: 1.44.2
- OS Version: Ubuntu 18.04

Steps to Reproduce:

Simple project with 2 files:
**main**
[code]
**launch.json**
[code]

Does this issue occur when all extensions are disabled?: Yes

When trying to debug I'm getting "Cannot launch program... Setting outFiles might help" error.
Running `node main` or `main` in terminal obviously works just fine.
If I rename main file to main.j

[2020-04-22 15:36] sandy081 commented on #94872
Yes, we were not passing this before.

@alexr00 Can you please help in checking with native & custom context menu?

[2020-04-22 15:37] TylerLeonhardt commented on #95135
This seems fixed in insiders 🎉

![image](https://user-images.githubusercontent.com/2644648/80002407-714a7800-8474-11ea-8078-a1a42255cf64.png)

[2020-04-22 15:38] #95135 closed

[2020-04-22 15:38] nishanth-boyalla opened #95890 "live server"
Issue Type: <b>Feature Request</b>

live server is not working

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18363

[2020-04-22 15:40] mva123 opened #95891 "Activity bar badges for system views"
When the outline view or problems view is attached to the activity bar, can it show a badge with a counter if there are problems or outline issues, like the "explorer", "source control" or "run" icons do?

This maybe be related to this thread where the requests is about custom views: https://github.com/microsoft/vscode/issues/62783

[2020-04-22 15:40] isidorn commented on #95870
Yeah we could improve this.
We use the outline for focus, the outline has to have the same shape as the html object. Thus it has to be a rectangle of those dimensions.
Using outline offset I could best put it like the attached picture
I think it is better than current state so will push that.

Expanding around the entire control would not be correct since the foucs is first on the dropdown and the

[2020-04-22 15:42] weinand commented on #95835
@isidorn fair enough, so let's put some pressure on Tasks... 😁

fyi @alexr00

[2020-04-22 15:48] weinand commented on #95835
@isidorn IMO the interaction with the new "Dynamic" items in the drop down menu is rather strange: selecting them has no effect but one has to press the play button to get the quickpick.
This is unexpected and very different from the "Add configuration..." item which works without the play button.

[2020-04-22 15:50] nainardev opened #95892 "asasas"
asasasa

- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2020-04-22 15:50] nainardev commented on #95892
/duplicate

[2020-04-22 15:53] isidorn commented on #82728
Please note that this should now be fixed properly via 86db1ec2ac
So the parent is a `list` and each toast is a `dialog`

[2020-04-22 15:54] rebornix opened #95893 "watch task fails to pick up refactoring of interfaces"
Issue Type: <b>Bug</b>

Both @isidorn and me ran into this issue when we refactored interfaces, the changes are not picked up by the watch task. For example, if I can change below interface

[code]

to

[code]

Our `gulp watch` is fine with the change, no errors/warnings emitted. However it does break the build. @isidorn is refactoring in a different way but ran into the problem.

VS Code version:

[2020-04-22 16:02] zersiax opened #95894 "Accessibility: Keyboard shortcuts to set start and end selection"
The way selection currently works in VS Code requires you to hold down the shift key while holding down the arrow keys or using "Home",  "End" and other such keys to contiguously select blocks of text/code.
While this works for most cases, this can become rather cumbersome for screen reader users when large amounts of code need to be acted on at once, e.g. copied, deleted etc.
The main cause of th

[2020-04-22 16:05] deepak1556 commented on #95770
suddenly the GUI was wrong with distortions... Could this extension make
damage to displays?

Oh thats interesting, can you try uninstalling the extension in stable build and see if the issue goes away ?

[2020-04-22 16:08] J131-dev commented on #95793
Yes I do have HDR on, and launching with '--force-color-profile srgb' fixes the issue for that session - closing and relaunching without the flag reproduces the issue.

I found that by setting the program to run in compatibility mode for Windows 8 solves the problem.

[2020-04-22 16:11] isidorn commented on #95893
My refactoring was that I added a required method to an interface.
And the build did not pick up all the users of the interface

[2020-04-22 16:13] isidorn commented on #95835
@weinand this was a delibarate choice to tackle two problems:
* What if a user wants to change the dynamic configuration provided, he would have to choose another item in the dropdown and choose this one again.
* What if a user reloads, should it be the same one as last time, or we should ask again? Then we need to store.

Also it is about starting debugging so it made more sense to behave like th

[2020-04-22 16:13] IllusionMH commented on #95793
You can add it permanently following steps described in https://code.visualstudio.com/updates/v1_40#_disable-gpu-acceleration but set `"force-color-profile": "srgb"` instead.

Most likely should be merged with #88491

/cc @deepak1556

[2020-04-22 16:14] usernamehw commented on #32813
Only kind? Not the getting color value from id as in https://github.com/microsoft/vscode/issues/32813#issuecomment-558242506?

[2020-04-22 16:16] isidorn commented on #95894
I think this makes sense in general, to add a "Start selection" command and "End selection".
Assigning to me and @alexdima
I might have time in May to look into this, thus assinging to that milestone for now.
@alexdima if you have code pointers or any preferences do let me know

[2020-04-22 16:16] webczat commented on #95894
well makes sense to me, although there are features like expand selection etc. I also have problems with selecting nested blocks etc, and expand selection seems to work for this case, although I'd say you have to be a bit careful to verify what it's selecting.

[2020-04-22 16:18] chrisdias commented on #95820
I don't see us making decisions as to which extensions get to stay and which extensions are removed from the Marketplace. The community ratings, download counts, etc. are meant to provide the user with enough information to make a decision as to which extensions they want to install, as many marketplaces do.

What i can envision though is a way for users to configure how they query the marketplace

[2020-04-22 16:18] isidorn commented on #95800
@awto thasnk for filling this. Yeah doing this inside a launch request is a bit of a corner case, thus we do not handle this that well.
Code pointer in case you are interested in a PR
https://github.com/microsoft/vscode/blob/86db1ec2acb0b38fe99fa253d707b7d6032eef16/src/vs/workbench/contrib/debug/browser/debugProgress.ts#L20

[2020-04-22 16:20] jareds commented on #95894
For an example of an implementation of this look at notepad++. Begin/end selection is an option in the context menu when in a file. I find this very useful when needing to copy large blocks of text.

[2020-04-22 16:21] isidorn commented on #95887
As mentioned in the ref issue:

To start we will only support this on the debug session elements.

As the context when the contributed action is triggered on the session we would pass the session id to the extension. You can use the id to match the session, the only problem is that there is no API to get all sessions so you would have to store the session which you create, or to simply listen to o

[2020-04-22 16:22] isidorn commented on #95799
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog and we might add this in the future. Thanks

[2020-04-22 16:23] connor4312 commented on #95887
That's fine for me, js-debug already tracks its sessions for a range of existing functionality.

[2020-04-22 16:26] J131-dev commented on #95793
Thanks, for the help!  Its a great IDE

[2020-04-22 16:28] #95892 closed

[2020-04-22 16:30] IllusionMH commented on #85310
I wasn't able to reproduce this one today, however I think that I saw it on Monday or last week in Insiders.

Version that works as expected for me:

Version: 1.45.0-insider (user setup)
Commit: 9328b32008089c515f39a13db9c71e57c7d36823
Date: 2020-04-22T08:44:55.510Z
Electron: 7.2.2
OS: Windows_NT x64 10.0.18363

[2020-04-22 16:40] awto commented on #95800
@isidorn Thanks for the pointer, there is actually another thing which I cannot reproduce on the small test case yet, but on my adapter the progress randomly isn't shown at all. With this source pointer it maybe be easier to understand what happens. I'm not sure when I'll have enough time on this though, so probably it is worth closing this ticket for now.

[2020-04-22 16:40] akbyrd commented on #95618
Please don't leave the edge case in there. I'd rather not need to keep keybindings to work around jank.

[2020-04-22 16:43] Hauptsatana opened #95895 "[folding] // region foldings do not work"
Issue Type: <b>Bug</b>

Editor does not detect region folding [as stated in docs](https://code.visualstudio.com/docs/editor/codebasics#_folding) when it is written as `// region` with something inside block.

![image](https://user-images.githubusercontent.com/4078263/80008708-89a4ac00-84e1-11ea-85f5-eb4f09e42a27.png)

while `// #region` and empty `// region` works fine.

![image](https://user-imag

[2020-04-22 16:45] deepak1556 commented on #95793
Thanks @IllusionMH , yup this should be merged to https://github.com/microsoft/vscode/issues/88491

[2020-04-22 16:45] #95793 closed

[2020-04-22 16:47] zzptichka commented on #95889
It appears changing `#!/usr/bin/nodejs` shebang to portable `#!/usr/bin/env nodejs` solves it

[2020-04-22 16:55] joseluis240 commented on #95770
I just uninstall all extensions in stable build and continue with problem!
I uninstall and restart one-to-one all extensions but it doesn´t work. I
can't undestand.

El mié., 22 abr. 2020 a las 18:05, Robo (<notifications@github.com>)
escribió:

[2020-04-22 16:59] vonas opened #95896 "Remove repeated indent guides with excessive indentation"
On line 35 in the screenshot below you can see 8 indent guides starting below `config.add`. I suggest removing the last 7 (leaving 2 on the entire line) as they do not serve any purpose and confuse more than they give orientation.

![image](https://user-images.githubusercontent.com/24623262/80010322-8f42c780-84ca-11ea-8c78-5262443331fc.png)

Before thinking of any rules or exceptions to this I'd l

[2020-04-22 17:00] #78432 closed

[2020-04-22 17:00] #95786 closed

[2020-04-22 17:01] bessw opened #95897 "[TypeScript] Semantic Highlighting for resolve and reject in Promises"
This Issue applies to TypeScript, but might also be interesting for other languages with promises.

The `resolve()` and `reject()` functions of a promise in TypeScript have similar functionality to what `return` and `throw` do in a normal function, but are highlighted like any other variable if semantic highlighting is enabled and like any other function if not.

This makes it hard to spot all loc

[2020-04-22 17:02] JacksonKearl commented on #95786
/label feature-request engineering "verification-needed"

[2020-04-22 17:14] connor4312 commented on #95847
`runtimeExecutable` is documented as an optional field in the [Chrome debugger readme](https://github.com/Microsoft/vscode-chrome-debug#other-targets).

Note that on OSX `Chromium.app` is just a directory. You will need to find the binary path within the app, for instance inside `Google Chrome.app` the actual binary is `Google Chrome.app/Contents/MacOS/Google Chrome`.

[2020-04-22 17:15] #95847 closed

[2020-04-22 17:17] sbatten commented on #95858
@misolori did your sectionHeader tweaks do something here?

[2020-04-22 17:19] #95860 closed

[2020-04-22 17:19] rusu24edward opened #95898 "Max file watcher as a user setting instead of admin"
I'm running into the classic `Visual Studio Code is unable to watch for file changes in this large workspace` problem. The [resolution](https://code.visualstudio.com/docs/setup/linux#_visual-studio-code-is-unable-to-watch-for-file-changes-in-this-large-workspace-error-enospc) for this problem is very clear! Unfortunately, I'm ssh'ed to a system where I am not an admin and do not have access to `/e

[2020-04-22 17:21] mjbvz commented on #95851
I'm good with delete.

We intentionally decided to call it `backupId` though so that would be is symmetrical with the `backupId` field passed to open: https://github.com/microsoft/vscode/blob/f56960538dfdd03173ac57cdfcc8964c6d7549be/src/vs/vscode.proposed.d.ts#L1406

[2020-04-22 17:23] sbatten commented on #95865
So by default, the quick pick shows workspaces first, then files. So my assumption is that you would like this to hold even when searching. Do you think having higher priority for workspaces during search would help address the issue?

[2020-04-22 17:24] mjbvz commented on #95849
Structurally yes it doesn't add anything, but it lets us document the event and the interface can be extended if needed in the future

Can you explain how it be more any cumbersome for extension authors?

[2020-04-22 17:26] mjbvz commented on #95852
I'll rename it to `T`.

I'm also in favor of point 2. I have this problem with the TypeScript extension today and end up having to call to `instanceof`. As long as we provide a default value for the generic type this should not be a breaking change

[2020-04-22 17:27] mjbvz commented on #95869
Please try upgrading your workspace to use `typescript@next` by installing [this extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.vscode-typescript-next). After installing that and restarting VS Code, do you still see the issue?

[2020-04-22 17:32] jeffrafter commented on #95415
@bpasero I was trying to find the build/change that fixed this? Did the fix get backported to electron?

[2020-04-22 17:33] usernamehw commented on #95865
No, it would be unexpected for users. Ok, it's easier to write an extension for that.

[2020-04-22 17:33] #95865 closed

[2020-04-22 17:34] connor4312 opened #95899 "Ctrl+enter doesn't execute notebook cell"
![](https://memes.peet.io/img/20-04-83a9c0c4-7de8-43eb-bd15-4455c4d04e86.gif)

[code]

[2020-04-22 17:34] mjbvz commented on #95871
VS Code's built-in JS/TS targets standard JS and we've decided to leave Flow up to extensions.

If you want to use Flow, you need to follow their setup instructions. I know the story is not great for mixed projects but this is all caused by Flow's decision not to introduce a new file extension for the language

[2020-04-22 17:34] #95871 closed

[2020-04-22 17:35] sbatten commented on #95891
part of https://github.com/microsoft/vscode/issues/95372

[2020-04-22 17:36] #95891 closed

[2020-04-22 17:36] mjbvz commented on #95871
I should also add that the issue is larger than just about disabling a warning in flow files. The built-in JS/TS extension is not able to parse flow code, which means many of its basic features will either not work correctly and could even corrupt the file

[2020-04-22 17:39] connor4312 commented on #95889
This is a known behavior with the current debugger; it will require outFiles if the file doesn't end with `.js` and doesn't have that specific hashbang. If you run into this elsewhere, you could try using our [new debugger](https://github.com/microsoft/vscode-js-debug) which does not have this behavior.

Related: https://github.com/microsoft/vscode/issues/89882

[2020-04-22 17:39] #95889 closed

[2020-04-22 17:40] mjbvz commented on #95762
Duplicate of https://github.com/microsoft/TypeScript/issues/37816

[2020-04-22 17:40] #95762 closed

[2020-04-22 17:41] mjbvz commented on #95624
Yes, it picks up tsconfigs in subdirectories so long as they are named `tsconfig.json`

[2020-04-22 17:41] mjbvz commented on #95736
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/)?

[2020-04-22 17:42] rebornix commented on #95854
Proposal from today's discussion: a `NotebookContentProvider` will be responsible for providing the raw data for a notebook document and the core will create a managed object `vscode.NotebookDocument` accordingly. The `NotebookContentProvider` will be the hook for working copy service (save/undo/redo).

[code]

[2020-04-22 17:43] mjbvz commented on #92846
Is `getCompilationSettings` called when the file is changed? If it is, try updating the object that it returns

[2020-04-22 17:45] HotscriptGG commented on #95871
Thank you for the reasonable answers.

Till next time 😎

[2020-04-22 17:47] mjbvz commented on #95728
My description was unclear. ` \G` matches the match the start position. In a while expression (such as markdown code blocks), this may not be the start of the line

[2020-04-22 17:47] misolori opened #95900 "Custom dialog icons don't have the correct color tokens"
![image](https://user-images.githubusercontent.com/35271042/80015594-d6a76480-8486-11ea-8171-a661a498dc5a.png)

These all have the Info/Warning/Error icons and used the respective colors.

cc @sbatten

[2020-04-22 17:56] misolori commented on #95858
@sbatten nope, mine was re-adding the line I removed https://github.com/microsoft/vscode/commit/bf3640a8c27b47c7195ddf3365ba7f92a4366684

https://github.com/microsoft/vscode/blob/4b178bfc9f137699e1d115f883c1c17a1149b7ff/src/vs/workbench/browser/parts/views/media/paneviewlet.css#L6-L8

[2020-04-22 17:59] mjbvz commented on #65546
Fixed by #95566

To verify, see #95566 for details on the new `typescript.enablePromptUseWorkspaceTsdk` setting

[2020-04-22 17:59] #65546 closed

[2020-04-22 17:59] tiagobento commented on #77131
@jrieken Thanks for taking some time to look int our code base! We really appreciate that.

- `save-as, backup, revert` will most likely be implemented in the future. Our `0.3.x` branch is considered a Development Preview to us, so it's expected that some features are not ready yet. `0.3.x` will also be updated to the new API once VS Code 1.45.0 is released. We wanted users to have the opportunity

[2020-04-22 18:04] #94167 closed

[2020-04-22 18:05] xisui-MSFT opened #95901 "Recalling notifications"
It would be great if there's a way to recall or cancel notifications like the ones created by window.showInformationMessage.

[2020-04-22 18:07] miegir commented on #85310
I installed insiders 1.45.0-insider, but issue still exists for me. I even share my screenshot - the 1px border is displayed on the left edge of the right monitor while entire window is maximized on left one: https://ibb.co/cQ2r7Vf.

[2020-04-22 18:08] DuncanWalter commented on #95250
The commands in this issue would introduce duplicate functionality now that https://github.com/microsoft/vscode/pull/95566 is merged. Use `enablePromptUseWorkspaceTsdk` instead.

[2020-04-22 18:08] #95250 closed

[2020-04-22 18:11] ExoticMatter commented on #95782
Raw string literals can contain double quotes by surrounding the opening and closing quotes with an equal number of pound signs, as in `r#""Hello""#`, `r##""Hello""##`, etc.

Such literals are already highlighted correctly in VSCode when used outside of attributes, which can be demonstrated by pasting the following snippet into a Rust source file:

[code]

[2020-04-22 18:12] IllusionMH commented on #85310
I hoped that it was fixed over the time with Electron update, but looks like it still there and only "works on my machine" :(

[2020-04-22 18:16] sean-mcmanus commented on #95729
The relevant activation event is "workspaceContains:/.vscode/c_cpp_properties.json", which corresponds to the file that we're registering the schema for.

We can guarantee that the registerTextDocumentContentProvider is called during the activate -- our current shipping code doesn't call it right away (it does so asynchronously after some delay during activation), but I moved the call to the start

[2020-04-22 18:19] JohnGalt1717 commented on #40239
What I'm hoping for out of this is that I can disable in a specific window, all of my angular extensions that tack on right click menus etc. while working in our C# REST api, and in the angular project disable the extensions for C# to get rid of the distractions.

Especially useful for Test Runners. I don't need the protractor test running enabled taking up space and confusing things when I'm doin

[2020-04-22 18:19] Tyriar commented on #95819
@Nowaker so the way this works is that the default is to pass everything through the terminal, however there is a setting `terminal.integrated.commandsToSkipShell` which is pre-populated with all terminal commands and a bunch of other ones that if the keystroke would activate one of those commands, it skips it.

There are 2 ways to workaround your problem:

The first is to unbind the command that

[2020-04-22 18:24] Stanzilla opened #95902 "Include .editorconfig support in Code by default"
I want to pick up the discussion from https://github.com/microsoft/vscode/issues/56742 again. I think .editorconfig support should be included by default, not requiring an extension. VS2019 did that and it was a huge productivity boost. I know installing VS extensions is more difficult than VSCode extensions but it would still help a lot of people, knowing that support is included by default and b

[2020-04-22 18:34] Tyriar commented on #95819
Also FYI the default for defaults are ctrl+shift+up/down on Linux, cmd+alt+up/down on Mac. Maybe you have keybindings for these or a keymap extension?

https://github.com/microsoft/vscode/blob/dbfe5613ca423c52d9a93bc7fbb31c7a69c77c03/src/vs/workbench/contrib/terminal/browser/terminalActions.ts#L657-L666

[2020-04-22 18:42] roblourens opened #95903 "UX for an empty notebook"
We prevent the user from emptying a notebook - if the last cell is deleted, we insert a new empty cell. But a notebook provider can still cause an empty cell to be created either by resolving a notebook to have no cells or deleting cells programmatically.

We could

- Make this an error, say notebooks have to return at least one cell
- Insert an empty cell, which would make the document dirty upon

[2020-04-22 18:43] octref commented on #95845
Which is exactly what the documentation says:

[2020-04-22 18:43] #95845 closed

[2020-04-22 18:44] Tyriar commented on #95802
This command was removed intentionally as all it did was send something to the terminal which can be done generically with the `sendSequence` command. If you want to run this command now you need to call this command:

[code]

This does the same thing as pressing `alt+d` in the terminal.

While the old very specific commands were nice because they were named, they were also a black box and it wasn

[2020-04-22 18:44] #95802 closed

[2020-04-22 18:47] Tyriar commented on #95802
It's possible an extension is calling this command, in which case I'd be interested to hear which one

[2020-04-22 18:47] #95819 closed

[2020-04-22 18:48] octref commented on #95816
That's a nice thing to have. The reason it's disappearing is because your mouse moved outside of the word, but I agree a delay might make this better.

[2020-04-22 18:49] phaseOne commented on #95809
Noting that this bug also causes search to fail.

<img width="867" alt="Screen Shot 2020-04-22 at 11 44 20 AM" src="https://user-images.githubusercontent.com/1310985/80020889-9cda5c00-848e-11ea-8650-db05aa9398c3.png">

Reproducible on latest Insiders build.

I've also tried going back a few versions of the official releases, but it didn't fix the regression. Maybe this is an issue with a package d

[2020-04-22 18:50] #95792 closed

[2020-04-22 18:50] akbyrd opened #95904 "Toggling maximized panel changes sidebar size"
Issue Type: <b>Bug</b>

Using `workbench.action.toggleMaximizedPanel` when the panel isn't visible will open the panel directly into its maximized state. In the maximized state it will cover editors and use all available space up to the sidebar.

However, it will unnecessarily change the size of the sidebar. I say unnecessarily because the panel is well larger than its minimum size and it's suppos

[2020-04-22 18:51] JacksonKearl commented on #95792
To verify, create an issue identical to #95320 and verify that the label translation-requested-chinese-simplified is added rather than translation-requested-undefined

[2020-04-22 18:52] kieferrm opened #95905 "Notenbooks should respect `editor.scrollBeyondLastLine`"
I have set this to `false`. The notebook editor does not respect this.

[2020-04-22 18:52] JacksonKearl opened #95906 "在本地解压文件，git模块停止工作"
在本地解压文件：glibc-2.14.1.tar.gz
git模块停止工作

[2020-04-22 18:52] octref commented on #95784
Scrolling -> #93611
I don't think we'll consider adding a "documentation pane" anytime soon, as most people seem to be happy with current inline hover.

[2020-04-22 18:52] #95784 closed

[2020-04-22 18:54] JacksonKearl commented on #92298
Going to fold this in to #95582.

[2020-04-22 18:54] #92298 closed

[2020-04-22 18:55] octref commented on #95648
Both are available:

- When finishing writing `<div>` with `>`, auto complete `</div>`
- When writing `<div></`, auto complete `div>`

Please clarify what you want.

[2020-04-22 18:56] kieferrm opened #95907 "Delete output cell in notebook"
- notebooks should provide Clear Output out of the box
- I should be able to clear output using the keyboard

### challenges
- if a cell has more than one output cell,  can I delete only one of them? If we allow to delete individual output cells we need a way to focus them with the keyboard. So far, we only focus input and output together
- I'd like to use `Backspace` to delete the output cell(s)

[2020-04-22 18:57] connor4312 opened #95908 "Exploration of hot reloading of renderers in notebooks w/ Webpack"
Documenting my brute-force path to get it working:

1. Run your bundle with webpack dev server
    - users *must* set the `uniqueName` otherwise their bundle could fail in interesting ways if other renderers use Webpack as well
    - users need to allow the `null` host. Not a big deal, can be given in the template
    - the default webpack sourcemap mode doesn't work, need to explicitly set e.g. `

[2020-04-22 18:57] connor4312 commented on #95908
/cc @rebornix

[2020-04-22 18:57] FloEdelmann commented on #74680
@isidorn Why is this considered out of scope?

I use [KDE](https://kde.org/), where you can drag windows from all empty areas by default (see https://github.com/kde/breeze/blob/v5.18.4.1/kstyle/breeze.kcfg#L137-L145, the other options are "Title bar only" and "Title bar and toolbars").

VS Code feels out of place, and I often try to drag the window from the empty space in the tab bar just to recog

[2020-04-22 18:58] Tyriar opened #95909 "editor.action.refactor default keybinding has no args, causes warning"
I was just fixing https://github.com/microsoft/vscode/issues/94556 to show args and I noticed that this one actually doesn't have any args by default (see default keybindings file).

![image](https://user-images.githubusercontent.com/2193314/80022109-6f8ead80-8490-11ea-8d59-e445c987db7c.png)

Seems like args should not be required for the command then.

[2020-04-22 19:01] akbyrd opened #95911 "Toggling the panel should restore sidebar size"
Issue Type: <b>Feature Request</b>

When the panel is toggled it resizes the editors to make room. If the editors reach their minimum size the sidebar is then resized to make additional room. The issue is that when hiding the panel editors will expand back to their original size, but the sidebar is permanently left resized.

This can be frustrating when I have multiple files open and I do somethin

[2020-04-22 19:02] morozgrafix commented on #95409
I have the same issue with VSCode 1.44.1 on OS X 10.14.6 (I've seen this happen on my machine with previous versions as well. The only solution for upgrade has been to download and install it manually) Update mode in settings is set to: `default`

Steps to reproduce:
1. Launch VSCode
2. Wait for it to check update and pop up modal to prompt for update (attempting to update to 1.44.2)
3. Click `Upd

[2020-04-22 19:04] morozgrafix commented on #95286
I have similar problem, put details in #95409

[2020-04-22 19:08] Tyriar opened #95912 "references-view.next/prev commands don't exist?"
Repro:

1. Run out of sources
2. Open default keybindings json file
3. Search for references-view

![image](https://user-images.githubusercontent.com/2193314/80023113-e6787600-8491-11ea-9063-5a2ffab34611.png)

[2020-04-22 19:09] octref commented on #95101
In this case, the editor would think you are writing a pair of `<em       </em>`, and mark them as the same tag.

I'm not sure why you have to strangely write a new tag from this position. Why not start writing `<em>` here? `<em>|text</em>`. This feature works best for common cases and does not guarantee always ending up with correct HTML.

Yes, the editor told you that would be the case, it marke

[2020-04-22 19:09] #95406 closed

[2020-04-22 19:10] weinand commented on #95835
@roblourens @connor4312 what do you think?
if you do not have a debug extension that implements a dynamic debug configuration provider, just checkout mock-debug and run the extension via F5.
in the new instance open the debug dropdown and play with the "Mock Debug" item...

[2020-04-22 19:11] #95206 closed

[2020-04-22 19:11] Sheridan-Tech opened #95913 "Hot Exit: Toggle support for hot exit on empty workspaces"
Add the ability to save only non-empty workspaces on hot exit.

When I cannot connect to my remote workstation, or if the VPN drops, vscode saves the empty workspace overwriting the old one and you lose all of your open windows. Some of these windows I had open for reference and was not editing them, so setting it to only reopen edited windows does not help. We have a large codebase and it is diff

[2020-04-22 19:12] Tyriar commented on #95902
:-1: it's already a recommended extension which shows a notification when you have `.editorconfig` in the folder. Bundling = bloating. Plus settings sync is around the corner so you wouldn't need to worry about it ever again after installing the first time if you sign in.

[2020-04-22 19:13] #95098 closed

[2020-04-22 19:14] octref commented on #95098
Please provide your information to https://github.com/microsoft/vscode-eslint/issues/904

[2020-04-22 19:14] Stanzilla commented on #95902
My personal use case is having to tell teammates that they have to install it instead of it just working out of the box. I agree on bloating concerns but yeah...

[2020-04-22 19:15] #95878 closed

[2020-04-22 19:15] #95001 closed

[2020-04-22 19:18] Tyriar commented on #95902
I guess they ignore the recommendation 🤷‍♂️

[2020-04-22 19:23] octref commented on #94972
I agree error should precede documentation.

[2020-04-22 19:25] ButchAnton opened #95914 "Unable to sync preferences"
Issue Type: <b>Bug</b>

When preference syncing was first introduced, it worked fine.  After an update, it stopped working, complaining about there being a duplicate key in the keystore.  Now, with the most recent updates, I see two new errors:

Writing login information to the keychain failed with error 'The specified item could not be found in the keychain.'.

Source: Microsoft Account (Extensio

[2020-04-22 19:28] Stanzilla commented on #95902
Pretty much yes, I see it as a requirement not a recommendation.

[2020-04-22 19:28] octref commented on #93603
Our CSS parser is not as flexible. If you just want dollar sign to be valid and auto completion to continue to work, you can use `files.associations` to mark it as SCSS.

[2020-04-22 19:30] yanggehua commented on #95052
Strange. The installation of Python module in VSC goes well today. I did not encounter the same error previously. As I don't have a way to reproduce the bug with higher log level, I guess the only thing we can do is to just close the ticket.

[2020-04-22 19:30] #95052 closed

[2020-04-22 19:32] #95779 closed

[2020-04-22 19:33] JacksonKearl commented on #95779
Ended up making it so the file match will explicitly include whether results are removed in its onchange event.

[2020-04-22 19:34] morozgrafix commented on #95409
Searched through the related issues and looks found one of the posts mentioning that there is a chance that VSCode is in OS X quarantine.

1. ran `command ls -alR@ "/Applications/Visual Studio Code.app" | grep quarantine -B 1` and many files were in quarantine
2. removed them from there by running `xattr -srd com.apple.quarantine "/Applications/Visual Studio Code.app"`
3. checked again and quarant

[2020-04-22 19:34] connor4312 commented on #95835
I'm not sure what you mean by this. If I have a configuration in the launch configuration, I can hit the gear to jump to it. But for dynamic configurations that isn't useful. Is there a different action you're thinking of?

Imo a good behavior would be to still select the dynamic configuration (so I can hit the play button or F5 to run it again) but automatically open the quickpick as soon as I se

[2020-04-22 19:34] Tyriar commented on #95802
Ok I just fixed it, this is what you should see soon which helps users understand what is happening:

![image](https://user-images.githubusercontent.com/2193314/80025518-a3200680-8495-11ea-91b9-eaf58d4d2633.png)

[2020-04-22 19:37] chadlavi commented on #54248
nth'ing this -- it's very annoying when your work uses a private registry for internal libraries to not get any intellisense for version info on them just because vscode has some hard-coded package that (very weirdly) only looks to npm.

Especially since github does registries now as well, and microsoft owns both npm and github...

[2020-04-22 19:37] Nowaker commented on #95819
@Tyriar Thanks for your guidance. The second option looks exactly like what I'm looking for! Sending any sequence is the goal, so that's great something like that already exists. That's awesome. Thank you.

Quick question: I'm seeing `KeyMod.CtrlCmd` in the source file you mentioned. Is it possible to use "ctrlcmd" directly in the keybindings.json? I maintain [my keybindings as a template](https:/

[2020-04-22 19:40] #95094 closed

[2020-04-22 19:42] deepak1556 commented on #95415
@jeffrafter we didn't backport the chromium fix, the right solution here is to avoid using 8bit color depth with xvfb that is no longer supported by chromium. Can use 16, 14 or 32 and pass it to xvfb options like `-screen 0 1024x768x24`

[2020-04-22 19:43] gaurav5430 commented on #93603
That's actually not a bad solution for the problem at hand. Thanks.
Just that I can't find a setting to only change `files.associations `for css files to be scss in a particular project.

It seems that the setting is either globally applied, or can be applied per file, once.

[2020-04-22 19:44] sean-mcmanus commented on #95726
Yeah, that's the spot -- the call to getFrame returns "undefined", because the context that is input is undefined, which causes the clipboardService.writeText to not get called. The context data exists in the 2nd argument "_" of the method:
![image](https://user-images.githubusercontent.com/19859882/80020047-43bdf880-848d-11ea-906c-4de9b4b7a25c.png)

The problem is caused by the "arg" of the actio

[2020-04-22 19:46] Tyriar commented on #95819
No you can't use CtrlCmd, but you can accomplish the same thing using `"when": "isMac"` or `"when": "!isMac"`. In the upcoming settings sync feature keybindings will be platform specific by default so you could probably retire your old system.

I prefer to maintain a platform agnostic setup keybindings file, here's a snippet from it:

[code]

If you end up using `isMac` which is way better imo you

[2020-04-22 19:55] jvesouza commented on #95894
This feature is my consumer dream in any and every editor I use.
Selecting a very large block of text using a screen reader is not very comfortable.
If it is possible to implement a command that allows you to jump to the beginning and end of the selected block, it will also be very useful.

[2020-04-22 19:56] Tyriar commented on #95902
Even without the bloat point, the extension is an effort by the community and I don't think we could include it in the product we ship without taking ownership of it as well. I get your argument and I was on that side as well a while ago, but don't think you'll be able to convince anyone in the team to bundle it 🙂

[2020-04-22 19:56] #95902 closed

[2020-04-22 19:57] pmkary opened #95916 "Themes don't apply to preview tab's icon"
Hey there! thanks a lot for a the awesome app as always.

- VSCode Version: 1.44.2
- OS Version: Darwin x64 19.3.0

Steps to Reproduce:

I guess these screenshots clearly show the problem:

<img width="755" alt="Screen Shot 1399-02-04 at 00 19 01" src="https://user-images.githubusercontent.com/2157285/80027162-8cf76200-84f8-11ea-9165-cc2ae12508f9.png">

<img width="671" alt="Screen Shot 1399-02-04

[2020-04-22 19:58] octref commented on #93603
I believe `files.associations` take absolute path, so let's say your project name is `happy_cow`, try to use `/**/happy_cow/**/*.css` etc as a workspace level setting so it won't apply globally.

[2020-04-22 19:58] Tyriar commented on #95452
Had this changed at all? A lot of work has gone into links in the past few days.

[2020-04-22 20:20] GlenNicholls opened #95917 "Allow autocomplete suggestions while filling out code snippet placeholders"
Issue Type: <b>Feature Request</b>

When filling out code snippet placeholders (e.g. `${arg}`), autocomplete suggestions do not work. If I'm inserting an `if` snippet in Python for example, I do not get autocomplete suggestions as I type variable names.

Lets say I have the following

[code]

When I start to type `if`, the snippet suggestion for that code snippet shows and I hit `TAB` to confirm i

[2020-04-22 20:25] jpenna opened #95918 "Use annotation to search for excluded file by name"
Sometimes I want to search a file in `node_modules` or another excluded folder. It would be really nice to write a symbol before a file name to tell VS Code to include (or include only) excluded files.

Something like the following (using `~` in this case, but it could be `^` or anything):

<img width="615" alt="Screen Shot 2020-04-22 at 5 22 33 PM" src="https://user-images.githubusercontent.com/1

[2020-04-22 20:28] connor4312 opened #95919 "Clearing an environment variable causes relaunch terminal button to get stuck"
1. Create an environment variable collection and apply it to your terminal
2. Clear the collection
3. Relaunching the terminal doesn't dismiss the button (It seems to unset the variables in the terminal correctly, just the button sticks around)

[code]

![](https://memes.peet.io/img/20-04-1056ddb9-fc31-405e-a8d3-0dde13906b02.gif)

[2020-04-22 20:29] vpillinger commented on #571
Not have colorized output breaks a lot of packages, but my main concern is that any sort of integrated unit testing or test-driven development runner is broken if the test output includes colorized results.

By default and sensibility most test frameworks output colorized results, so this is a big deal breaker for me personally.

[2020-04-22 20:37] azur75 commented on #95101
Sorry, I really don't understand ! Where does that strange _text <em_text come from ? I wrote about _<em <em>text</em>_ , worrying that it is impossible to type a new tag before an existing one.
Do you always type new code at the end of existing code, and never in the middle of it ? Do you never add a new <h2> title before an existing one ?
Fortunately, as I wrote afterwards, by deactivating edito

[2020-04-22 20:38] Nowaker commented on #95819
Thanks! I'll stay with my $CTRL approach for less code duplication and consistent generation. Do you think a feature request asking for support for CtrlCmd in keybindings.json would be plausible/reasonable for you and other VS Code devs, or probably a meh?

[2020-04-22 20:39] usernamehw commented on #95917
[code]

[2020-04-22 20:42] #95900 closed

[2020-04-22 20:43] tmartin-gh opened #108576 "Disconnected from k8s-container"
TL;DR: Using Explorer -> Open Folder fails on VSCode attached to pod with error "Disconnected from k8s-container+podname=<my pod name>+<some other pod parameters".

I am running VSCode with the Remote-Container and Kubernetes plugins on a Linux machine that has access to a custom-rolled (mostly kubespray) on-prem/bare-metal Kubernetes cluster.  Pods deployed on the cluster do NOT have internet acc

[2020-04-22 20:43] aeschli commented on #95900
I pushed a proper fix. As the dialog is in base it should get all colors as arguments.
What's done in SeverityIcon is a hack. All these rules should go to the corresponding components

[2020-04-22 20:44] aeschli commented on #95900
To verify:
- set `"workbench.dialogs.customEnabled": true`
- close an editor with unsaved content

[2020-04-22 20:48] aeschli commented on #95809
To my knowledge, using `~` in workspace folders is not supported. @bpasero ?

[2020-04-22 20:49] salong3 opened #95920 "debugger not showing watch and callstack"
- VSCode Version: ff915844
- OS Version: Ubuntu 18.04

Steps to Reproduce:

I can debug file normally but the watch and callstack tabs do not appear. I have tried uninstalling and reinstalling vs code and replacing the .vscode and the issue still persists.

Does this issue occur when all extensions are disabled?: Yes/No
yes

[2020-04-22 20:49] salong3 commented on #95920
![debugThing4](https://user-images.githubusercontent.com/64167406/80032508-1e86b580-84a0-11ea-90d9-f8c54b903ac9.PNG)

[2020-04-22 20:49] amelio-vazquez-reina commented on #95802
Thanks @Tyriar 👍 I actually originally tried to use `sendSequence` (see [this Q](https://stackoverflow.com/questions/58476611/forward-backward-words-in-the-vscode-terminal/58477220#58477220) of mine in SO for context), but I couldn't find the control sequence for forward/backward deletion ([see this follow-up question of mine](https://unix.stackexchange.com/questions/554269/xterm-control-sequences

[2020-04-22 21:11] mbomb007 commented on #95527
I think that would be fine. Since I realized the ambiguity just now in my own uses, I noticed it is possible to use `${workspaceFolder}/../folder` instead.

[2020-04-22 21:13] flux627 commented on #36700
Trying to migrate from Webstorm, and this sucks.

[2020-04-22 21:16] dinofx opened #95921 "Compare editor is not reused when "Open Mode" is set to "doubleClick""
- VSCode Version:
- OS Version:
Version: 1.44.2
Commit: ff915844119ce9485abfe8aa9076ec76b5300ddd
Date: 2020-04-16T17:07:18.473Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 18.7.0

Steps to Reproduce:

1. Open a workspace with 2 or more changes/staged changes to a git repo.
1. In the "Source Control" sidebar, single click on a change to open it
1.

[2020-04-22 21:27] firelizzard18 opened #95922 "Add commands to execute Document[Range]SemanticTokensProvider"
+ Add `vscode.executeDocumentSemanticTokensProvider` - Execute document semantic tokens provider.
  - *uri* - Uri of a text document
+ Add `vscode.executeDocumentRangeSemanticTokensProvider` - Execute document range semantic tokens provider.
  - *uri* - Uri of a text document
  - *range* - Range in a text document

I am working on an extension that needs to analyze a file and find certain tokens.

[2020-04-22 21:42] mjbvz commented on #92500
I can't reproduce this in VS code 1.44 on MacOS.

Can you confirm that both files are part of your jsconfig project by opening them and running the `TypeScript: Go to project configuration` command. This should open up the jsconfig

[2020-04-22 21:43] mjbvz commented on #91510
Closing as the initial version of this has been added. It includes:

- TS version
- Config file
- Help link

We can look into adding additional entries into it the future

[2020-04-22 21:43] #91510 closed

[2020-04-22 21:49] #95848 closed

[2020-04-22 21:51] octref commented on #95101
GitHub formatted them and I updated the comment.

Yes, I understand you want to add a `<h2>` into middle of `<em>text</em>`.
I believe most people would start typing `<h2>` here `<em>|text</em>`.
If you have to start typing it from here `<em|>text</em>`, I suggest that you turn off this functionality. That's where people write attributes. I'm not sure why would you try to add a tag in that positio

[2020-04-22 21:53] rcjsuen opened #95924 "provideCompletionItems not invoked if inside Dockerfile string"
- VSCode Version: VS Code 1.44.2
- OS Version: macOS Catalina 10.15.1

Steps to Reproduce:

1. Clone the https://github.com/Microsoft/vscode-extension-samples repository.
1. Open VS Code in the `completions-sample` folder.
1. Invoke `npm install` to install the relevant dependencies.
1. Open `src/extension.ts`.
1. Paste the provided TypeScript code below to overwrite `src/extension.ts`.
1. Launch

[2020-04-22 21:56] rcjsuen commented on #95924
Opened microsoft/monaco-editor#1935 which is slightly different (probably because of the Monarch grammar)?

[2020-04-22 21:58] connor4312 commented on #95863
👍 that would be great. The dynamic launch configs are designed to edge ever closer to zero-config, so having them in the welcome view makes total sense. This does require activating the extension where the welcome view currently doesn't, but with dynamic configurations we activate them anyway to display the configurations in the select menu.

[2020-04-22 22:05] amelio-vazquez-reina commented on #95799
Thanks @isidorn  That's great to hear. On this note, the keybindings `Up` and `Down` specifically already go back / forward in the command history and they are pretty fundamental. Are they tied to any particular command ID? (or is there any way to configure them?)

[2020-04-22 22:09] misolori commented on #95859
@sandy081 correct me if I'm wrong, but I don't believe we can use our icon font for extensions that don't have an extension image?

@bpasero the `letterpress*.svg` and `code-icon.svg` are the ones that are replaced in our build process with our brand icons. We can't turn these into an icon font as we've intentionally excluded our logos (for legal reasons). The others don't really relate to our pro

[2020-04-22 22:09] HaLeiVi opened #95925 "Multi desktop"
VS Code misbehaves with multiple desktops. The desired behavior would be, like ther applications, when openening a file (associated with VS Code) to open a new window on the new desktop even if there is already an instance on another desktop.

Moreover, even when I already have it open on both desktops, when I open an associated file, it will go to the last used window, even if that is on a deskto

[2020-04-22 22:26] andyc56-mso commented on #84574
I'm using Git for Windows 2.26.2, configured with VSCode as my editor, and if I do a
`git commit --amend`
to edit my most recent commit message and there is no currently-running instance of VSCode, Git launches it with the commit edit message to modify.  If I just close VSCode at this point, I get a whole slew of
`(node:8236) Electron: Loading non context-aware native modules in the renderer proce

[2020-04-22 22:27] mjbvz commented on #94037
I'm prioritizing finalizing custom editors so and will not have time to look into this for April

[2020-04-22 22:33] rebornix commented on #95908
@connor4312 really good work!

Currently the code tries to restrict the resource to be local ones, thus it rewrites the `scheme`. To support `https`, we can bypass `https` scheme pre loads.

As we discussed offline, something like `context.inDevelopment` can work.

I prefer scaffold/starter code than npm packages which hide the details. My feeling is extension authors need to understand what's goi

[2020-04-22 22:34] roblourens commented on #95899
On windows, it's ctrl+alt+enter. That label is sort of a temporary dummy while we decide what to put there, it's not worth fixing.

[2020-04-22 22:34] roblourens commented on #95899
Eh I changed my mind

[2020-04-22 22:34] mjbvz commented on #92789
Outcome of discussion today:

- VS Code is now using the semantic range provider so there's less of a user need to move semantic highlighting into TypeScript core.

- The perf improvements that @alexdima investigated are also very welcome

- We will target moving the plugin to an official TS Server API in TS 4.0. I believe This would ship at the end of July. My understanding is that @aeschli and @

[2020-04-22 22:35] #95899 closed

[2020-04-22 22:39] rebornix commented on #95908
This one is interesting. When the webview is refreshed, we need to render cell outputs again which are currently visible. Not sure yet if we have a hook in WebView or not. If there is one we should listen to it and trigger a viewport re-render.

[2020-04-22 22:41] connor4312 opened #95926 "Tell extensions whether they're running in development mode"
## Problem

In notebook renderers, there are some special code paths we want to take under development mode. For example, rather than loading a bundle statically, we'd rather load the renderer JavaScript from a `webpack-dev-server` to take advantage of live reloading / hot module loading. (refs https://github.com/microsoft/vscode/issues/95908)

The obvious switch we could add for this is an enviro

[2020-04-22 22:45] rebornix commented on #95905
Good catch, we should use this same editor option from Monaco to control this feature.

[2020-04-22 22:47] connor4312 commented on #95908
webpack is `http` by default; getting and configuring trusted self-signed certs is burdensome. Maybe we can allow loading http resources from localhost?

Issue linked :)

Makes sense. I can (once we stabilize a bit more 🙂 ) add a `Notebook renderer` as an option in [vscode-generator-code](vscode-generator-code). Using the generator also gives us the ability to set a `uniqueName` at generation time

[2020-04-22 22:51] rebornix commented on #95903
Me personally prefer the last one

It's weird to me that you can't have an empty notebook. Users might delete all cells to get a clean state to restart the work while showing errors or inserting empty cells immediately seems like the editor tries to fight back.

[2020-04-22 22:53] rebornix commented on #95908
Is allowing `http` from `localhost` only in development mode enough?

[2020-04-22 22:53] connor4312 commented on #95908
Yea I think that should be fine

[2020-04-22 22:59] rebornix commented on #95907
For April we can move the clear output actions into the core first.

[2020-04-22 23:03] pseudocyber opened #95927 "Debug does not stop at break point"
Issue Type: <b>Bug</b>

I have a simple python 3.8.2 script, with a break point set.  Debug will run, but will not stop at the breakpoint.  I have uninstalled, and re-installed VSC.

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R)

[2020-04-22 23:03] pseudocyber commented on #95927
`{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Python: Current File (Integrated Terminal)",
            "type": "python",
            "request": "launch",

[2020-04-22 23:11] #95905 closed

[2020-04-22 23:13] webczat commented on #95894
well currently I am learning to do it this way: point at the beginning of, say, an if. select the whole line and next one because of the brace (in c# brace is usually below the if) and then use the expand selection feature, your selection should expand to the closing brace of this exact block.

[2020-04-22 23:18] rebornix opened #95928 "Notebook undo/redo lost cell selection/focus"
Issue Type: <b>Bug</b>

In Monaco, undo/redo will restore the editor selections. We should do the same thing for Notebook.

cc @roblourens

VS Code version: Code - OSS Dev 1.45.0 (Commit unknown, Date unknown)
OS version: Darwin x64 19.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-9980HK CPU @ 2.40GHz (16 x 2400)|
|GPU Status|2d_canvas: enabled<br

[2020-04-22 23:23] leilapearson commented on #27759
Well @isidorn, that was a bit trickier than expected, but I think I have something that is almost ready to submit.  I'll take one last look tomorrow to make sure I haven't missed anything.

Unfortunately the solution I was originally picturing didn't work. It turns out that grouping by case is a very different thing than comparing by case! :-)

There were also some special cases that I needed to a

[2020-04-22 23:35] connor4312 commented on #95128
js-debug not working is due to the `--inspect` flag. Removing it makes inspection work:

![](https://memes.peet.io/img/20-04-d06ee2b5-8316-43de-9174-4888746d9834.png)

I've seen this a few times but never root caused it. It seems like it's actually caused by a Node.js bug (linked above).

[2020-04-22 23:46] #95128 closed

[2020-04-22 23:52] leilapearson commented on #27759
Actually I just realized one more option would be good to add - namely a simple unicode sort.

It seems that the terminal on a Mac uses a simple unicode sort. The file explorer on a Mac uses a localized sort though.

I think a lot of people might want to match their sort order to their terminal, and the other options don't give you that.

It would be trivial to add a `SortOption.Unicode` to the li

[2020-04-22 23:52] Zorono commented on #95427
[netlog.json(sorry Github didn't allow me to upload JSON files, so i compressed it...)](https://github.com/microsoft/vscode/files/4519472/netlog.json.zip)

and my `Code.exe --log-net-log=netlog.json` command's output in the Command Prompt...
[code]

[2020-04-23 00:39] bradennapier commented on #95315
Mine only happens int he base files of a workspace project - all other workspace projects work.  Specifically the first project in the listing.  I can rename any files in folders of that workspace.

[2020-04-23 00:48] UnsaidAverage commented on #95906
行为：在本地解压文件：glibc-2.14.1.tar.gz
故障：git模块停止工作
---
handwork translate
---
Action: unzip package in local workplace：glibc-2.14.1.tar.gz
Failure: git module stopped working

[2020-04-23 00:59] JacksonKearl commented on #95906
Oops, sorry about that. This was meant to test the bot being able to automatically identify the issue language and I forgot to close it. Thanks for translating though!

[2020-04-23 00:59] #95906 closed

[2020-04-23 01:09] allstable commented on #95881
<img width="884" alt="图片" src="https://user-images.githubusercontent.com/25278505/80048200-154e2500-8542-11ea-9d95-6af94576ba07.png">

[2020-04-23 01:39] ligouhai commented on #95098
thank you

[2020-04-23 01:47] testforstephen commented on #94650
yes, adding a user setting does help for different user preferences. In addition, Java implementation is slightly different from TypeScript, some scenarios (e.g. rename package, move file to another package) are done at `onWillRenameFiles` listener, so displaying a dialog there may not be appropriate.

[2020-04-23 02:16] xcondor opened #95931 "nvm change node version failure!"
Issue Type: <b>Feature Request</b>

It's failure when I change  node version by nvm use command.
ex:
nvm use 13.6.0
command display: Now using node v13.6.0(npm v6.13.4)
BUT,  In Fact, It's use node 6.7.0

VS Code version: Code 1.40.1 (8795a9889db74563ddd43eb0a897a2384129a619, 2019-11-13T16:47:44.719Z)
OS version: Darwin x64 17.7.0

[2020-04-23 02:23] #91124 closed

[2020-04-23 02:25] itowlson commented on #94872
I'm hitting this in the Kubernetes extension.  A command on the title bar of a custom view that was previously being invoked with no argument is now being invoked with this `{ isTrusted: true }` value and it has broken our users.  https://github.com/Azure/vscode-kubernetes-tools/issues/741  I can provide repro details if it would be helpful.

[2020-04-23 02:30] CleanCut opened #95932 "Semantic Highlighting: fontStyle doesn't seem to function correctly"
I can't find a way to _replace_ a `fontStyle` that is `underline` in the selected theme with one that is only italic (no underline).  It appears a user-specified `fontStyle` merges with the default `fontStyle` to create a style that is the sum of all the parts, with no way to selectively remove part of the style.  If the user definition _replaced_ the default

- VSCode 1.44.2 ff915844119ce9485abfe

[2020-04-23 02:55] waynehoover opened #95933 "Dynamically toggle linting for a file"
I would like to dynamically toggle linting for a file. For example I might open up a random file from the internet to look at that is hard to read because nearly every line has a lint warning underline.

I would like to turn off linting for just this file while i'm looking at it, then toggle it back on possibly too.

[2020-04-23 03:18] inDream commented on #95521
I've also faced this issue and latest insider build seems fixed it.
[code]

[2020-04-23 03:25] grconrad commented on #94746
Thanks @Almenon for raising the issue. Agree there is too much friction right now. I've only created simple stuff so far, but ran into the exact issue you described where nothing in my extensions (or libraries) was unit testable because everything depended directly or indirectly on `vscode`. Eventually I had some success with the following:

1. identify those parts of the API surface my library is

[2020-04-23 04:03] Diogo-Rossi opened #95934 "Show Gravatar on the details of commits in Timeline view"
The new feature "Time line view" allows to view information about specific commits (author, e-mail, date and time of commit, commit message, etc . . .) when we "rest the mouse cursor" over the commit item.

Could these information include the **Gravatar image** of the author?

[2020-04-23 04:13] misolori opened #95936 "TM Scopes pane is really large for semantic tokens"
![image](https://user-images.githubusercontent.com/35271042/80058197-7f80ae80-84dd-11ea-95f9-f7c12f157619.png)

And even if i try to make my zoom level small, it doesn't appear to fully show the rest of the semantic foreground tokens:

![image](https://user-images.githubusercontent.com/35271042/80058447-206f6980-84de-11ea-9d14-ef7f6d4cd508.png)

[2020-04-23 04:22] jeanp413 commented on #95870
Created a PR that polishes the outline

[2020-04-23 04:31] antfu opened #95937 "Table alignment in Markdown not working"
Version: 1.45.0-insider
Commit: 6e9a34c0de4181a99f11e106733ee3e8c9db79f1
Date: 2020-04-16T05:41:45.257Z
Electron: 7.2.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.4.0

----

Steps to Reproduce:

1. Use [setDecorations](https://code.visualstudio.com/api/references/vscode-api#DecorationOptions) API in extension
2. Set hoverMessage as below

[code]

![image](htt

[2020-04-23 04:46] houfeng0923 opened #95938 "can files.exclude don't effect treeview in bread-crumb"
when i set `files-exclude` with `**/node_modules/**`: true, the explorer view is expected. but sometimes we need  open files in node_modules and look for related files in same directory, i know it's conflicting setting for explorer view , but can we show node_modules file in dropdown of bread-crumb ?
ye, we real requirement is : hide some directories only in explorer.

[2020-04-23 04:47] Ethan-Arrowood opened #95939 "Debug with pwa-msedge can't find Edge Dev executable"
Issue Type: <b>Bug</b>

Trying to debug a TypeScript web app (using Parcel) with a pretty standard launch.json file. I'm using the values `{ "type": "pwa-msedge", "runtimeExecutable": "canary" }` but after I run it I get this error message:

VS Code version: Code - Insiders 1.45.0-insider (6e9a34c0de4181a99f11e106733ee3e8c9db79f1, 2020-04-16T05:41:45.257Z)
OS version: Darwin x64 19.3.0

<details>

[2020-04-23 04:50] deepak1556 commented on #95521
@s-kocher can you try the latest insiders , I think your case should be addressed by https://github.com/microsoft/vscode/issues/94862#issuecomment-617630954

[2020-04-23 05:02] markdefalco opened #95940 "Source control pane steals focus when `git add` completes"
Issue Type: <b>Bug</b>

1. Modify some files in a git repo
2. Select one or more files in the Source Control pane.
3. Click '+' to stage those files
4. Click in your terminal and start typing 'git commit -m"

Expected: I can complete writing my commandline instruction

Actual: Source Control pane steals focus back and starts searching for some sequence of letters I've just typed mid-command.

VS C

[2020-04-23 05:37] python151 opened #95941 "Multi repository git integration"
I would like to see the ability to have 2 or more git repositories while working. This would help with things like API development when you need to have both a client (like react) and an api (like Django-cors) both with individual git repositories.

[2020-04-23 05:40] wubdub opened #95942 "Python "Go To Definition" functionality very slow on first lookup"
Hello,

First off, thank you for developing such an awesome IDE - it is by far the best Python & CPP IDE I have used and when it is working it is like magic!

The biggest issue I am running into is with the official Microsoft Python extension, every-time I click "Go to Function (F12)" on a function, the IDE takes about 10s and then gives up. If I try it a few times, it eventually perfectly looks u

[2020-04-23 05:54] Ynewtime commented on #95521
Yes, it works with 1.44.1. I am using it right now(with proxy).

Actually, no proxy setup needed to work with chrome/edge, which means no matter I setup a proxy a not, behind my company's proxy, chrome will always work.

---

For more information:

Sorry for the delay. I test 1.44.2 today and it works behind the proxy! Installing extensions and checking for updates, etc., both work now as usual.

[2020-04-23 05:54] lukstep commented on #85385
Hi ,

In 1.45.0-insider, C++ syntax highlighting freeze on such case:

![image](https://user-images.githubusercontent.com/20487002/80064081-8b00c380-8537-11ea-8e16-a11ec0840840.png)

[2020-04-23 05:57] Najibvenkitta opened #95943 "typing is not coming correct"
while coding html it very difficult to code space and enter key are not working properly

[2020-04-23 06:02] akash07k commented on #95894
If it gets implemented then it will be very beneficial for productivity.

[2020-04-23 06:10] LeviticusMB opened #95944 "TS Server fatal error: Cannot read property 'commandLine' of undefined"
Issue Type: <b>Bug</b>

**TypeScript Version:** 3.8.3
**Steps to reproduce crash**
1. I have no idea.

**TS Server Error Stack**
[code]

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:07:18.473Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz (4 x 2300)|
|GPU Statu

[2020-04-23 06:16] gjsjohnmurray commented on #95943
/needsMoreInfo including version, platform, step by step repro. A video or animated gif could help.

[2020-04-23 06:22] bpasero commented on #95856
Open for a PR, code is in:

https://github.com/microsoft/vscode/blob/d342048538c28d54afd1c6beea03f3a89af04359/src/vs/workbench/contrib/search/common/search.ts#L113

[2020-04-23 06:23] bpasero commented on #95801
`115	  1163	 90569	       electron_node tsserver.js`

[2020-04-23 06:25] #95886 closed

[2020-04-23 06:26] bpasero commented on #95809
Yes, my understanding too.

[2020-04-23 06:26] bpasero commented on #95898
No, not that to my knowledge.

[2020-04-23 06:26] #95898 closed

[2020-04-23 06:27] #95842 closed

[2020-04-23 06:27] bpasero commented on #95842
This is the correct behaviour, untitled editors with associated path will ask to save on close. We did however push a change last milestone to enforce this behaviour also when running extension development mode to aid custom editor development where you otherwise could not test this.

[2020-04-23 06:27] #95818 closed

[2020-04-23 06:35] doberkofler commented on #95624
Thank you! This works like a charm and I completely missed it. Is this documented somewhere as it might really help others?

[2020-04-23 06:38] jacob-kruger-work commented on #95894
The one old standard - used to use it in things like visual interdev and VS.Net 2005, etc., if remember correctly was purely F8 to mark start of selection, and then navigate around code however you like, and then hit shift + F8, and it would mark the whole block from start marker to end marker

[2020-04-23 06:45] jannickj commented on #95818
@bpasero which issue is it a duplicate of? #83907 has nothing to do with this issue.

[2020-04-23 07:06] OSG-Proj commented on #95824
var socket = io(); no intellisense at io()
When using client side socketio library in JS

[2020-04-23 07:12] bpasero opened #95945 "vscode API - terminal Terminal echo works in the default shell"
Flaky test: https://monacotools.visualstudio.com/DefaultCollection/Monaco/_build/results?buildId=72624&view=logs&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=8d770de7-1c45-559d-f821-c35376a078ad&l=363

[code]

[2020-04-23 07:13] bpasero commented on #95818
Quite sure: https://github.com/microsoft/vscode/labels/workbench-history

[2020-04-23 07:31] johannessimon opened #95946 "Python launch configuration throws exception when "cwd" path doesn't exist"
- VSCode Version: 1.44.2
- OS Version: Windows 10

Steps to Reproduce:

1. Start "Run cwd test" launch configuration from attached minimal demo workspace
2. Observe popup with very inspecific error message "Launcher[1] disconnected unexpectedly" and error message in integrated Terminal:

[code]

Error message with Python 3.7 (64 bit) is slightly different. It gives a hint that a directory name doe

[2020-04-23 07:35] DanTup opened #95947 "Relative image paths don't work in markdown in hovers"
Given the following TypeScript:

[code]

And an image at `../images/foo.jpg`, the image won't render:

<img width="297" alt="Screenshot 2020-04-23 at 08 31 41" src="https://user-images.githubusercontent.com/1078012/80071632-e08b9f00-853c-11ea-8bb7-1de2fe6c81c2.png">

The path is being resolved from the application folder:

file:///Applications/Visual%20Studio%20Code.app/Contents/Resources/app/out/

[2020-04-23 07:37] kanlukasz opened #95948 "Tree: Clicking on folder twisties should expand/collapse"
Hello,

I have the `"workbench.list.openMode"` option set to `"doubleClick"`, so the folders are opened after double-clicking.

But if you click the arrow:
![image](https://user-images.githubusercontent.com/30685349/80068635-3f064c80-8540-11ea-9aa8-16d006bbbde3.png)
then the folder is expanded with one click (this demarcation is very helpful)

Can you add an option that will make the folder icons

[2020-04-23 07:37] azur75 commented on #95101
Sorry, that is not the case. in the image at the bottom of my first message, I simply wanted to type a new _h2_ tag **before** an existing one, and Code highlighted the existing closing tag together with my new opening tag, messing everything since there was the existing _h2_ opening tag inbetween. Obviously, Code closed automatically my new opening tag, since it was paired with the already existi

[2020-04-23 07:41] aeschli commented on #92789
I was under the impression that someone for the TypeScript team would move the plugin code to the  server and adopt it to their liking. Did I misunderstand?

I'm happy maintain the plugin in the meantime and to adopt the TS server when this is ready.

[2020-04-23 07:42] alexdima opened #95949 "Identifiers are colored in bold when targetting keywords"
- Have a TS file with a constant variable declaration, e.g.:
[code]
- Have the following settings:
[code]
- Open in VS Code stable (with semantic highlighting enabled)
![image](https://user-images.githubusercontent.com/5047891/80072335-63652780-8546-11ea-9273-81f2e8033f1f.png)
- Open in VS Code Insiders (with semantic highlighting enabled)
![image](https://user-images.githubusercontent.com/5047891

[2020-04-23 07:44] webczat commented on #95894
yeah. unfortunately f8 is taken. :) Also I prefer shortcuts without function keys as they are quite far in the kbd.

[2020-04-23 07:47] cveld commented on #95688
I am wondering if vscode is considering building a git service instead of invoking the git cli? Or, if git cli is considering to build a performant "server" edition, like the dotnet cli?
Additionally, I noticed that the performance of the vscode git scm integration is much slower than the regular commandline interaction. Ideally vscode should be on par or even surpass the commandline performance.

[2020-04-23 07:51] aeschli commented on #95346
We will give an new color a try that is closer to the variable color. Please try it out a while and let me know whether the new color is better or if we should go back to the original theme.

![image](https://user-images.githubusercontent.com/6461412/80073029-601e6b80-8547-11ea-8cbf-f85237c75658.png)

[2020-04-23 07:52] bpasero commented on #95828
Since I do not have a folder `WindowsApps` in that directory  I tried to reproduce reading from `C:\` where `Documents and Settings` also seems to be a reparse point. I see the folder appearing properly:

![image](https://user-images.githubusercontent.com/900690/80073436-11bd9c80-8548-11ea-81f1-dbd8bb4874f4.png)

Using code: `console.log(await vscode.workspace.fs.readDirectory(vscode.Uri.parse('fi

[2020-04-23 07:52] jrieken commented on #95884
It's 1.614 seconds according to your profile. That's not too bad and roughly on average. Where did you get the 3secs from?

[2020-04-23 07:55] jrieken commented on #95893
I am sorry but there will be no more changes being made to `gulp-tsb`. TypeScript finally provides  the fast-and-loose compilation mode and we have somewhat successfully tested that already. It's just a matter of getting that into our gulp-pipeline.

[2020-04-23 07:55] #95893 closed

[2020-04-23 08:00] jrieken commented on #95880
@db to confirm but afaik ESLint is not a formatter, e.g it doesn't contribute into the "Format Document" command but it contributes code actions. Now, the line between code actions and formatting is blurry but in our API and features it's pretty crisp: An extension that calls "registerFormattingProvider" is a formatter (and hence part of the formatting flows) and an extension that calls "registerC

[2020-04-23 08:01] usernamehw commented on #95947
/assign mjbvz

[2020-04-23 08:10] jrieken commented on #77131
Yeah - revert isn't the SCM revert (and I now see how that is confusing) but it is File > Revert File. It's used when having unsaved changes and when you don't want to save such changes.

[2020-04-23 08:15] jrieken commented on #77131
Ok, but this is also where the biggest changes happened, e.g the "source of truth" used to be with us and is now with extensions. We aren't talking about concrete edits anymore but simply about undo/redo-functions which must implement undo and redo:

* *before:* undo happen**ed**, we have updat**ed** the undo/redo stack already, and now the editor must catch up with the truth
* *now:* undo happen*

[2020-04-23 08:15] VaishuNaresh opened #95950 "Loading in vscode"
sometimes after typing the code its loading loading loading loading it's so struck for us.

[2020-04-23 08:16] nickbattle commented on #95367
We're seeing similar behaviour on 1.44.2.

After a debug stop, which retrieves a set of frameIds, a subsequent stop sometimes requests "scopes" for a frame using an old frameId (that is, a frameId from the previous stop). It doesn't happen every time - it's fairly rare, perhaps 1 in 50, but often enough to be an issue.

Logs available if required.

[2020-04-23 08:20] int19h commented on #95828
Reparse points are a low-level mechanism that is used to implement a bunch of different things in NTFS - hard links, symlinks, junctions etc. This is a particular variety of reparse point that appears to be specific to the Windows Store, so I don't think this can be reproduced without it.

The folder is probably created lazily when apps are first installed. Try installing Python from the Store: ht

[2020-04-23 08:26] trubit commented on #62104
Isn't this possible through extension?

[2020-04-23 08:27] isidorn opened #95951 "Optimize VS Code when screen reader detected"
Simial to how we will hide tabs when we detect a screen reader we could do other optimizations. For example:
* Do not open Settings UI, but settings.json

[2020-04-23 08:29] usernamehw commented on #95901
Possible duplicate of #46551

[2020-04-23 08:30] usernamehw commented on #95901
/assign bpasero

[2020-04-23 08:35] usernamehw commented on #95914
/assign sandy081

[2020-04-23 08:39] dbaeumer commented on #95880
@jrieken ESLint does contribute a formatter if the setting `eslint.format.enable` is set to true. In this case it dynamically registers a formatter provider.

[2020-04-23 08:40] usernamehw commented on #95944
/assign mjbvz

[2020-04-23 08:41] dbaeumer commented on #95880
@JacksonKearl do you have code actions on save enabled as well. If so I guess the formatting happens because of that. But it still doesn't explain the message unless `eslint.format.enable` is not set to true.

[2020-04-23 08:41] bpasero opened #95952 "Test: mouse scroll wheel should switch tabs"
Refs: https://github.com/microsoft/vscode/issues/13902

- [ ] any os @isidorn
- [x] any os @joaomoreno

Complexity: 3

---

A new setting `workbench.editor.scrollToSwitchTabs` allows to enable switching tabs via mouse wheel.
* verify this works as advertised with the 3 options provided
* verify you can scroll to switch tabs even with this setting turned off when you press and hold the `Shift` key.

[2020-04-23 08:44] JacksonKearl commented on #95880
I had `"editor.defaultFormatter": "dbaeumer.vscode-eslint"` but not `"eslint.format.enable": true,`, that probably explains it. Is there benefit to using it as a formatter rather than just applying the code actions on save?

[2020-04-23 08:47] MarcoZehe commented on #95951
I actually don't think opening settings.json instead of the settings pane is a good idea. While many items are self-explanatory, others might have more or better verbiage in the actual settings pane. Also, the Settings pane allows for better searching. That would be an "optimization" I would not be happy with. :-)

[2020-04-23 08:47] isidorn commented on #27759
Sound good. Once you submit a PR feel free to ping me @isidorn on it and we can continue the discussion there. Thanks

[2020-04-23 08:49] isidorn commented on #95951
@MarcoZehe that is perfectly fair. Then I think we should probably improve some of the accessibility issues that the Settings pane faces today

fyi @roblourens

[2020-04-23 08:52] isidorn commented on #95894
Thanks for feedback and yes it will behave just like that:
One command to start selection, another command to end selection.

I am not sure if there will be a good feault keyboard shortcut, I will try to find something with F8 in the mix.
Like Ctrl + F8 to start, Cltr + Shift + F8 to stop. This can be customisable so any user can put whatever he likes.

[2020-04-23 08:52] christianvoigt commented on #84846
I know I am too late for this feature request, but I think this is comparatively easy to fix and would improve the configurability of markdown-it plugins a lot.

I am currently adding a markdown-it plugin to the [Argdown VSCode extension](https://argdown.org) and want to load configuration files specific to the workspace of the currently previewed document. As I do not want to use a "messy workaro

[2020-04-23 08:55] usernamehw commented on #95938
/assign jrieken

[2020-04-23 08:56] anatolyburakov opened #95953 "Cannot install latest Insiders update"
- VSCode Version: Insiders latest
- OS Version: Windows 10

Steps to Reproduce:

1. Update Insiders to latest version

Does this issue occur when all extensions are disabled?: N/A

Cannot update to latest Insiders version - installer says "there was an error while marking a file for deletion: Failed to mark file for deletion: Access is denied. Please verify there are no Visual Studio Code processe

[2020-04-23 08:58] usernamehw commented on #95940
/assign joaomoreno

[2020-04-23 08:58] usernamehw commented on #95913
/assign bpasero

[2020-04-23 08:59] alexr00 opened #95954 "Stepping when in a skipped frame navigates me back out to the last non skipped frame"
Repro steps:
Debug something that will have skipped frames
Break in
Step into a function that will be in in a skipped frame
Keep stepping over some stuff in the skipped frame

Expected: I intentionally stepped in, I expect to go to that file
Actual: each time I step over while in a skipped frame in I'm shown the editor that the last non skipped frame was from. This means I have to keep re-opening

[2020-04-23 09:00] MarcoZehe commented on #95894
Hahah, when I was very young, in the late 1980s, there was this program under both MS-DOS and CP/M called [WordStar](https://en.wikipedia.org/wiki/WordStar). It had layered keyboard commands, and two of them were CTRL+K, b to mark the start, and CTRL+K, k to mark an end of a block. This was the old equivalent of text selection. Borland's Turbo Pascal 3.0, the first true IDE I used, had a similar c

[2020-04-23 09:00] bpasero opened #95955 "'webview.getWebContents()' is deprecated and will be removed"
`Please use 'remote.webContents.fromId(webview.getWebContentsId())' instead`

![image](https://user-images.githubusercontent.com/900690/80080237-a11b7d80-8551-11ea-8fb7-5e41b41225aa.png)

Seeing this in my E8 exploration build console. I am not sure we want to support the usage of the `remote` module. Maybe we can do this access alternatively not requiring it at all?

//cc @deepak1556

[2020-04-23 09:02] usernamehw commented on #95953
/assign joaomoreno

[2020-04-23 09:03] bpasero commented on #95955
Looks like https://www.electronjs.org/docs/breaking-changes#deprecated-webviewgetwebcontents outlines a solution without `remote` module.

[2020-04-23 09:04] anatolyburakov commented on #95953
Update: waiting a few minutes before hitting the "retry" button seems to have fixed the problem. Clearly something persists after VSCode has exited. So, the issue is solved for me for now, but best look into it anyway.

[2020-04-23 09:06] usernamehw commented on #95917
/needsMoreInfo

[2020-04-23 09:08] jrieken opened #95956 "Notebook editors don't update options when config changes"
There is code to get the initial config for code editors inside cells but no listening to events so that config changes are reflected...

[2020-04-23 09:16] alexr00 opened #95957 "Can't open a folder when extensionHost debugging in web"
Happens with both extensionHost and pwa-extensionHost.
Repro steps:
Open a folder with web (I used the pull request extension)
F5
A new tab opens with the extension host
Open a folder in the new tab

Expected: Still extensionHost debugging in the new tab
Actual: It just opens the folder in web VS Code, no extensionHost debugging.

[2020-04-23 09:18] yhatt commented on #84846
@christianvoigt Thanks for having same opinion!

[The workaround](https://github.com/marp-team/marp-vscode/blob/5fffce4fe38827d70012ad7644f523389dbe1382/src/extension.ts#L34-L40) may have misdetection the location of workspace while opening the exactly same 2 Markdowns in different workspaces, so I don't want to use this trick if possible.

Should I open as a new issue to continue this?

[2020-04-23 09:22] joaomoreno commented on #95781
We used to have a third color for both focused and selected. This was eventually removed because it was confusing. 🤷‍♂️

In any case, I'd close this as a dupe of https://github.com/microsoft/vscode/issues/95768

[2020-04-23 09:22] #95781 closed

[2020-04-23 09:22] jvesouza commented on #94677
@isidorn  It seems that this feature has stopped working, at least with the orca. When I use the command to read the status bar nothing is read.

[2020-04-23 09:26] joaomoreno commented on #95808
Can you try disabling Windows background updates? Set `update.enableWindowsBackgroundUpdates` to `false`.

[2020-04-23 09:27] joaomoreno commented on #95953
Thanks for the report! This might've occurred due to some software analysis program in your system (antivirus,etc).

[2020-04-23 09:27] #95953 closed

[2020-04-23 09:27] rolandas-valantinas commented on #18651
Can we just have option for diff to open in new window? So we at least could close all of them in one go!

[2020-04-23 09:29] jvesouza commented on #95516
@isidorn  It was fixed and it looked great.
Thank you for the excellent work, correcting bugs and implementing new features.

[2020-04-23 09:29] gilescope commented on #45151
That would be nice. If someone wants to try and implement this as an extension https://github.com/gkotas/vscode-restore-git-branch-tabs might be a good place to take soem ideas from...

[2020-04-23 09:34] weinand commented on #94812
@connor4312 would it work for you if we decouple the "(Profiling)" from the state by appending it to the session name? That would solve the "weird part" you've mentioned above.

[2020-04-23 09:38] MarcoZehe commented on #94677
Confirmed also with NVDA on Windows. I now get the message "No statusbar".

[2020-04-23 09:39] admmasters opened #95959 "TS Server fatal error: Cannot read property 'flags' of undefined"
Issue Type: <b>Bug</b>

**TypeScript Version:** 3.8.3
**Steps to reproduce crash**
1.
2.
3.
**TS Server Error Stack**
[code]

VS Code version: Code - Insiders 1.45.0-insider (bd262894bbaac5156d5bf832160b7056c91decea, 2020-04-22T18:26:38.140Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-8950HK CPU @ 2.90GHz (12 x 2900)|

[2020-04-23 09:44] #95956 closed

[2020-04-23 09:45] joaomoreno commented on #95691
Why not making the editor editable?

[2020-04-23 09:45] #95691 closed

[2020-04-23 09:47] alexr00 commented on #94872
When I set `"window.titleBarStyle": "native"` I do not get `{isTrusted: true}`

[2020-04-23 09:47] joaomoreno commented on #95839
#43809

[2020-04-23 09:47] #95839 closed

[2020-04-23 09:49] joaomoreno commented on #95534
@deepak1556 Since this is macOS, is related to the Squirrel framework shipped with Electron. Have you see this before?

[2020-04-23 09:50] joaomoreno commented on #95697
Since the tree already has this option, this is up to the explorer to adopt. Let me know if you need anything else @isidorn

[2020-04-23 09:50] joaomoreno commented on #95690
Great to know, closing this.

[2020-04-23 09:50] #95690 closed

[2020-04-23 09:51] alex19EP commented on #95951
absolutely against it. I use json presentation myself, but this should remain a conscious choice.

The settings interface has certain accessibility issues, and they really should be fixed.

[2020-04-23 09:52] joaomoreno commented on #92615
Great to know. Closing this as upstream then, since the fix will eventually land in Windows stable.

[2020-04-23 09:52] #92615 closed

[2020-04-23 09:53] isidorn commented on #94677
Hmm thanks for reporting. The only change I did in this area is to put the aria-label on the label container not on parent https://github.com/microsoft/vscode/commit/c6d841c90f8945c94745735f6703a9b76a2817cb
But I did that 7 days ago.
From your comments I think this got broken in the past 24hours, it was workign yesterday, correct?

I still see that the statusbar correctly has the role `status`. In

[2020-04-23 09:54] joaomoreno commented on #95744
This is a browser limitation. Nothing we can do here, right @deepak1556? I also can't drag selected text and scroll the page, on Chrome.

[2020-04-23 09:55] isidorn commented on #95516
@jvesouza thanks for letting us know it is good now. Adding verified label.

[2020-04-23 09:55] jrieken commented on #95796
That's the whole point of this design - be as slick as possible. Eg when not using tab and not using breadcrumbs, then the path is shown with the filename and no-tab-breadcrumbs try to mimic that as close as possible. Keeping this open for more feedback only

[2020-04-23 09:55] alexr00 commented on #95782
Thanks for the additional info! Moved to the owning repo: https://github.com/zargony/atom-language-rust/issues/151

[2020-04-23 09:55] isidorn commented on #95844
Thanks for filling this issue. Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/

[2020-04-23 09:55] joaomoreno commented on #95769
You seem to be missing file events. Please go through the following steps:

1. Run `Git: Set Log Level...` and choose `Trace`
2. Run `Git: Show Git Output`
3. Reproduce the issue and wait 10-20 seconds
4. Paste the whole output here

[2020-04-23 09:56] joaomoreno commented on #95771
This is because the folder is new and new folders are always collapsed. @isidorn Could fix it in the Explorer.

[2020-04-23 09:56] joaomoreno commented on #95773
Can you show me a screenshot?

[2020-04-23 09:57] joaomoreno commented on #95790
This was broken for 1 day in `master`, it has been fixed since. Thanks for filling!

[2020-04-23 09:57] #95790 closed

[2020-04-23 09:58] Wolfenberg commented on #95744
@joaomoreno In Chrome I can start dragging the image or link and while holding the button, also scroll the page.

[2020-04-23 09:58] isidorn commented on #95697
Yeah, tree already has this option true.
Though I would not change the default explorer bheavior since users are used to this and to not break muscle memory. A setting might make sense and might add it in the future.

[2020-04-23 09:59] alexr00 commented on #95866
This would require that the variable substitution know something about where the variable substitution is happening. Instead, you could very easily write your own command that takes a string lineNumber and converts it to a number before calling the revealLine command.

[2020-04-23 09:59] joaomoreno commented on #95862
@roblourens Do let me know if you need more a11y features in the list/tree, instead of manipulating the DOM directly.

[2020-04-23 10:00] joaomoreno commented on #95850
@bpasero `vscode://open` Are these the new URLs you introduced recently, for remote?

[2020-04-23 10:00] joaomoreno commented on #95850
@felixfbecker Does `Developer: Open URL` do anything when you give it that URL?

[2020-04-23 10:01] joaomoreno commented on #95810
What git version are you using

[2020-04-23 10:01] jvesouza commented on #94677
Yes, it was working yesterday.
I'm probably wrong, but I suspect the following commit:
commit 518c83baa57149387f208a12b73c2219471a8a83
Author: Miguel Solorio <miguel.solorio@microsoft.com>
Date:   Wed Apr 22 13:44:36 2020 -0700

    Polish status bar (make it shorter)

I have no technical basis to suspect this commit, it's just a feeling!

[2020-04-23 10:02] felixfbecker commented on #95850
Sorry, I googled around and didn't find the official documentation, but picked up that this should work somewhere. `vscode://file/` works as expected.

[2020-04-23 10:02] #95850 closed

[2020-04-23 10:02] jrieken commented on #93230
Another random dump and it might also only affect @connor4312 and surely roots inside some source-map issue but seeing two scopes for `parse` is really not what I expect and I expecting to see my function argument in the top scope here

<img width="1542" alt="Screenshot 2020-04-23 at 09 02 05" src="https://user-images.githubusercontent.com/1794099/80086460-0d01e400-855a-11ea-98f4-53b0c06f7e40.png"

[2020-04-23 10:03] joaomoreno commented on #95409
@morozgrafix If you find Code to be in quarantine, it's actually easier to simply removing it, installing it again and remove it from quarantine. Do let me know how that goes.

[2020-04-23 10:06] alexr00 commented on #95834
Moved to owning repo: https://github.com/jeff-hykin/cpp-textmate-grammar/issues/471

[2020-04-23 10:06] #95834 closed

[2020-04-23 10:07] joaomoreno commented on #95688
@lipal File events seem to work fine here. How often does this reproduce for you?

@cveld As I mentioned to you in private, please just file an issue with your specific situation. Commenting on other issues is counterproductive.

[2020-04-23 10:07] isidorn commented on #94677
Thanks @jvesouza
Looking at the commit it is mostly css design changes so that is probably not the one.
I will do some git bisecting now. Can you just let me know how do you trigger your "Status" command? And if you do F6 is everything read out nicely?

[2020-04-23 10:09] joaomoreno commented on #95940
Very similar to https://github.com/microsoft/vscode/issues/92401

Is there any reason why you're not using the commit box instead of using the terminal to commit?

[2020-04-23 10:09] joaomoreno commented on #95744
Interesting. I can't, but maybe that's because I'm on Windows.

[2020-04-23 10:09] isidorn commented on #95894
Yeah it might make sense to use the same command actually and the same shortcut so it is just a toggle, would make the whole thing more simple. Since why would you start a selection if you are already in a selection?
So ctrl+k then something is the way to go.

[2020-04-23 10:10] joaomoreno commented on #95744
@isidorn Wanna look into this? I don't have a Mac right now.

[2020-04-23 10:10] weinand commented on #94812
BTW, I created a DAP [feature request](https://github.com/microsoft/debug-adapter-protocol/issues/108) for addressing the issue with the hard-coded "Running" state.

[2020-04-23 10:12] webczat commented on #95951
+1. settings.json by default is not a good thing. Also I am generally against forcing settings to be set in a certain way when accessibility is enabled, like some form of optout should be allowed in my opinion, even if defaults are explicitly customized because of screenreader being detected.

[2020-04-23 10:12] daniel-montalvo opened #110408 "Make comments accessible: Dealing with comments and suggestions in the inline editor"
Thanks for the very good work you are doing with this extension!

There seems not to be an apparent way to deal with comments in the inline editor for screen reader users (or I am totally missing it). There is a tree view for changes but not so for comments.

1. Is there an implemented workflow for inserting, replying, and suggesting using the VSCode inline editor that takes into account screen re

[2020-04-23 10:13] isidorn commented on #95744
Just tried it out.
* Works: drag a file outside of vscode and scroll the explorer while dragging
* Does not work: drag a file inside explorer and scroll the explorer while dragging
* Works: drag a link inside chrome and scroll while dragging

[2020-04-23 10:13] liunianyishi01 opened #95960 "打开终端报错"
Issue Type: <b>Bug</b>

vscode 终端进程已终止退出代码: 4294901760

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7500 CPU @ 3.40GHz (4 x 3408)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>fla

[2020-04-23 10:13] y0ast commented on #57488
This problem still exists with vscode 1.44 and dmenu (on latest Manjaro).

Didn't work for me either.

Starting vscode from a terminal manually works fine however.

[2020-04-23 10:15] jvesouza opened #95961 "List: Orca announces typed characters instead of element when typing to navigate"
Issue Type: <b>Feature Request</b>

In Breadcrumbs , when I am looking for an element, the orca stops announcing the name of the element as soon as it is found, even if I keep typing its name.

For a better understanding try the following steps:
1. Launch orca.
2. Create a file and declare a function called f123.
3. Press ctrl+shift+.
4. Type quickly f123.

As soon as the letter f is typed, the or

[2020-04-23 10:16] webczat commented on #95951
The example of this is folding. I believe I've heard/read somewhere that some time ago folding was disabled when screenreader was detected. I am not sure whether this is true because even enabled folding doesn't autofold without extensions it seems. I know it works now, but what I meant is, that you couldn't override that choice. Of course you can report each such case, but then you need to wait t

[2020-04-23 10:17] tanvirgeek opened #95962 "I can not debug nodejs. Getting an error."
Issue Type: <b>Bug</b>

Having error while try to debug nodejs.

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.10586

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-5005U CPU @ 2.00GHz (4 x 1995)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enab

[2020-04-23 10:21] tanvirgeek commented on #95962
Can not connet to runtime process: timeout after 1000 milisecond.

[2020-04-23 10:21] IllusionMH commented on #95850
@joaomoreno In my case it does nothing.

Tried to paste `https://github.com/microsoft/vscode/issues/95850` and `file:///C:/web/projects/vscode/README.md` and not sure if I'm doing this correctly.

Pasting second into Windows Explorer address bar - opens MD file in VS Code 😄

@felixfbecker glad that this one works for you.

[2020-04-23 10:22] CharlesGouldmann commented on #62104
If you have found an extension that does this, then please let us know.
I have not been able to find any extensions which allow for grouping of folders by using colors.

[2020-04-23 10:22] isidorn commented on #95870
Thanks a lot for the PR, commented on it.

[2020-04-23 10:24] isidorn commented on #95799
@amelio-vazquez-reina yeah the commands are `history.showPrevious` and `history.showNext` and you should be able to customise them.
Code pointer https://github.com/microsoft/vscode/blob/1af3b9dce3d2ead4c3c0bb010dc47a4752af13d1/src/vs/platform/browser/contextScopedHistoryWidget.ts#L78

[2020-04-23 10:26] isidorn commented on #95951
Any change we due to optmise it will be possible to go back to the previous behavior.
But getting your feedback: we will not change the behavior of settings.
So for now will only disable tabs (which can of course be brought back via settings). Will let you know if I have more ideas

[2020-04-23 10:26] isidorn commented on #95862
Let's assign this to next milestone and me so we can look into it together @roblourens

[2020-04-23 10:27] jvesouza commented on #94677
You need to find out in the orca preferences the keystroke that is associated with the speaks the status bar command.
In the orca preferences screen there is a tab called key bindings.
It is possible on this tab to create or modify a key association for a command.
The behavior of the f6 key does not appear to have changed.

[2020-04-23 10:29] wkia commented on #95521
@deepak1556
After the last @Ynewtime message, I tried to reproduce the issue again and couldn't. VSCode 1.44.2 now works with proxy for me.
So my initial problem is gone now. Thanks!

[2020-04-23 10:31] jrieken commented on #95729
Ok, understood. So, there is two problem here

* VS Code doesn't wait for `workspaceContains` (and also not `*`) activation to finish. They just happen and are not part of a flow like "A command has been triggered, lets see if extensions to contribute something"
* For text document content provider we actually don't send an event...

I will push a change for seconds (likely re-using the onFileSyst

[2020-04-23 10:31] bpasero commented on #95850
@joaomoreno remote URIs are: `vscode://vscode-remote/<authority>/<path>`

[2020-04-23 10:35] isidorn commented on #94677
Ok configured it to be `shift + 1` hehe
Now I am bisecting...

[2020-04-23 10:39] bpasero commented on #95828
This seems to be a node.js bug, I can neither `lstat` nor `stat` the children of that folder :

[code]

Can you report it? VSCode needs the stat to know what thing it deals with.

[2020-04-23 10:40] isidorn commented on #94677
Strange for latest VS Code insiders and for latest out of source I can not reproduce the issues you are hitting. I am using latest VS Code insiders from 23 April commit https://github.com/Microsoft/vscode/commit/d342048538c28d54afd1c6beea03f3a89af04359
I can also try with NVDA, since I just tried ORca.

@joanmarie can you maybe check if you can repro? Though the issue is probably in vscode since @

[2020-04-23 10:46] webczat commented on #95951
nice.

[2020-04-23 10:48] jvesouza commented on #94677
@isidorn  OOPS! My mistake.
Please forgive me, I was using the wrong version of orca in the tests.

[2020-04-23 10:53] jvesouza commented on #94677
I restarted my machine and by default version 3.36 of orca is started. This version does not yet have access to the status bar implemented.
Again I apologize for the failure, I think I need a coffee!

[2020-04-23 11:07] paamonim commented on #95769
Where do I run these commands? In terminal I get "command not found"!

[2020-04-23 11:19] alexr00 commented on #95823
What theme are you using?

[2020-04-23 11:21] #95482 closed

[2020-04-23 11:22] alexr00 commented on #95815
@GinoMan is this about launch or tasks?

[2020-04-23 11:22] #95277 closed

[2020-04-23 11:22] #95262 closed

[2020-04-23 11:22] #95258 closed

[2020-04-23 11:22] #95210 closed

[2020-04-23 11:23] #92695 closed

[2020-04-23 11:23] #81128 closed

[2020-04-23 11:25] alexr00 commented on #95814
Can you provide a screen recording of what you see? I didn't put a "back" option in "Show All Tasks..." because you now have all the tasks visible, whereas going back would only show you a subset of tasks again.

I do not see the full tasks list when I run the "Run Task" command, only when I do "Show All Tasks..." from within the "Run Task command".

[2020-04-23 11:26] matklad commented on #95796
It is slick in terms of number of pixels, but in terms of subjective perception, for me personally, it feels super crowded: I can't at a glance separate file name from file path from structure withing the file. The repeated filename adds to my confusion here. I've since discovered `"breadcrumbs.filePath": "off",` which improves things considerably, but makes `/` seem even more out of place. But, a

[2020-04-23 11:27] Yajo opened #95963 "Git paths in a workspace are not detected if defined after a non-git path"
Issue Type: <b>Bug</b>

Create a structure like this:

[code]

Results:

![2020-04-23_12-23](https://user-images.githubusercontent.com/973709/80094152-ac74a600-855d-11ea-8e2e-2dcba219b65a.png)
![2020-04-23_12-24](https://user-images.githubusercontent.com/973709/80094156-ada5d300-855d-11ea-8cc6-97ad547f56f6.png)

Workaround: put all non-git folders second-to-last, just before `"."`.

VS Code versio

[2020-04-23 11:34] gjsjohnmurray commented on #95950
/needsMoreInfo

[2020-04-23 11:45] isidorn commented on #94677
@jvesouza Ok, so you are good :)
Now let's see what issue @marcozehe is hitting. @MarcoZehe did this start happening in the last 24hours, or might it be my commit from 7 days ago? When you press F6 does the status bar get nicely read for you or not?

[2020-04-23 11:48] isidorn commented on #95863
Agree. We should definetly show them somehow in the welcome to come closer to the zero config. We should at least have an action which would invoke a quick pick with all of them listed (since showing all of them in the welcome view does not scale).
Will ponder more next milestone.

[2020-04-23 11:52] isidorn commented on #95954
Good point and agree with your request.
I will not have time this milestone, thus assigning to May.
Here's a code pointer in case someone wants to tackle it in the meantime https://github.com/microsoft/vscode/blob/1af3b9dce3d2ead4c3c0bb010dc47a4752af13d1/src/vs/workbench/contrib/debug/browser/debugService.ts#L1144
Basically the autoFocus of frames should take into account the previous one if it is

[2020-04-23 11:53] isidorn commented on #95771
Agree with this limitation. No plan to fix this or next milestone thus assigning to Backlog. Clean PR which fixes this is welcome

[2020-04-23 11:57] MarcoZehe commented on #94677
I am on the latest Insider now. And the status bar is read as "Status bar" when I hit F6. If I turn browse mode on, NVDA-Key+Space, I can read the items on the status bar. I thought I tested the status bar yesterday or on Tuesday, and it worked then. It definitely does not work now.

[2020-04-23 11:57] guywaldman commented on #95771
@isidorn I'll give this a shot next week or so 🙂

[2020-04-23 11:59] jrieken commented on #95729
Actually - we already send out said activation event which leaves nothing to do here for us

[2020-04-23 11:59] #95729 closed

[2020-04-23 12:00] isidorn commented on #95800
Ok, let's close the ticket and we can reopen later.

[2020-04-23 12:00] #95800 closed

[2020-04-23 12:01] dwilliamson commented on #95866
Sorry, I'm unsure what this means: doesn't the variable substitution already happen in `tasks.json`? So as far as I'm aware the above piece of code ends up being presented to the command as:

[code]

The problem is that the command itself wants a `number` type, not a `string` type:
https://github.com/microsoft/vscode/blob/7c17748db7b43d11a5cd20563888da0519d1360d/src/vs/editor/browser/widget/codeEd

[2020-04-23 12:09] axi92 commented on #21839
We are using this https://github.com/joelspadin-garmin/vscode-private-extension-manager and a npm repo in nexus. Works very well!

[2020-04-23 12:14] mjmasn commented on #95801
Interestingly it seems fine today, I wonder if it was related to a particular file I was working on as it kept occurring even after killing all VSCode processes and re-opening. Today I've had no issues, working in same project but different files. Haven't rebooted or anything either.

If it happens again I'll make a note of the files I have open and see if that is the trigger. Of course it may be

[2020-04-23 12:14] jrieken commented on #95926
I know that there is also requests for knowing if you are in "test running mode" so we might want to combine both proposals. Not yet sure if `ExtensionContext` is the right place or if this should just be in `vscode.env`

[2020-04-23 12:21] niklasnylen commented on #95452
Tested in today's build (

If I hover over the file name, I see this:
![image](https://user-images.githubusercontent.com/51982908/80098628-7fc88a80-856d-11ea-8c68-2a5ac4e15578.png)

If I hover before the last +, I get this
![image](https://user-images.githubusercontent.com/51982908/80098768-b56d7380-856d-11ea-8124-842aa89425ea.png)

[2020-04-23 12:22] snebjorn commented on #94562
I 2nd this. The "Files: Eol" settings should respect the `.editorconfig` setting

![image](https://user-images.githubusercontent.com/1266245/80098674-94a51e00-856d-11ea-8273-62e52b57aaa9.png)

**Auto (default)** shouldn't just look at which OS is used. But first look at what EOL .editorconfig suggests for the file type and if none is configured it should work as today.

[2020-04-23 12:31] joaomoreno opened #95964 "Debug fails to disconnect from targets"
Ever since I started using the new JS debugger, when running our top level `VS Code` target and then manually closing the code-oss window, the `Attach to Shared Process` and `Attach to Extension Host` targets remain:

![image](https://user-images.githubusercontent.com/22350/80099549-ea2dfa80-856e-11ea-8669-86f089def012.png)

Eventually, maybe 1 minute later, the `Attach to Extension Host` goes awa

[2020-04-23 12:43] jrieken commented on #95849
Sure. First, it is a new concept which we have never used before and that by itself adds complexity. Then, you need to write `emitter.fire({})` instead of `emitter.fire()` - the ladder is  enough to express what we need to know - which in return means the former isn't needed.

Ideally TS would allow us to define these as overload instead of or-types. That would make the whole documentation indirec

[2020-04-23 12:52] Virenderrrrr commented on #95773
![Capture](https://user-images.githubusercontent.com/51049628/80101580-39842300-858f-11ea-8ff5-1ba04b0feaa1.PNG)
here you go @joaomoreno

[2020-04-23 12:52] gjsjohnmurray commented on #95697
@Tyriar does `"workbench.list.openMode": "doubleClick"` give you what you want? I don't know if it'll have other consequences though.

[2020-04-23 12:56] vik753 opened #95965 "Extension host terminated unexpectedly"
Every 5 min I have this error.

CPUs | Intel(R) Core(TM) i7-8565U CPU @ 1.80GHz (8 x 1992)
-- | --
GPU Status | 2d_canvas: enabledflash_3d: enabledflash_stage3d: enabledflash_stage3d_baseline: enabledgpu_compositing: enabledmultiple_raster_threads: enabled_onoop_rasterization: disabled_offprotected_video_decode: enabledrasterization: enabledskia_renderer: disabled_off_okvideo_decode: enabledviz_di

[2020-04-23 12:58] alexr00 commented on #95866
@rebornix would you consider changing the reveal line command to handle a string for the lineNumber?

[2020-04-23 13:00] alexr00 commented on #95835
The folder icon alone signifies that there is more menu to be shown (file pickers don't show an ellipse for folders). Having both is redundant, and the ellipse does add more noise.

If you really want tasks to have both though I will add it.

[2020-04-23 13:33] isidorn commented on #95726
@sean-mcmanus thanks a lot for this great investigation. Based on your advice I pushed a potential fix. The context of this "unkown" source files will now be their name, so the empty string will no longer be passed. Try it out with tomorrow's vscode insiders and let me know how it works for you. Thanks!

[2020-04-23 13:34] #95726 closed

[2020-04-23 13:44] jrieken commented on #95961
@isidorn Is this tree-filtering specific or something I need to opt-in for breadcrumbs

[2020-04-23 13:44] isidorn commented on #95961
@jrieken oh we are editing at the same time..

[2020-04-23 13:44] jrieken commented on #95942
/extPython

[2020-04-23 13:49] jrieken commented on #95924
IntelliSense-as-you-type only works at word ends (I am assuming that's what you're trying, not pressing ctrl+space). What a word is depends on the word definition of the language, and a word is always smaller or equal to token. So, I'd say it is one of those two things not working here

[2020-04-23 13:49] isidorn commented on #95961
Ok, investigted. Breadcrumbs is using a list, and on key press list navigates to that element based on prefix matching. This works just fine for me and I think breadcrumbd are doing everything proper.

The reason why Orca decided to announce the character typed is up to Orca. I do not get this behavior on the Mac.
@joanmarie can you also take a look once you get a chance?
@jvesouza do you also get

[2020-04-23 13:51] rcjsuen commented on #95924
@jrieken Correct, I am typing into the editor. I am **not** manually invoking <kbd>Control</kbd>+<kbd>Space</kbd>.

[2020-04-23 13:51] isidorn commented on #95957
@alexr00 thanks for reporting
@weinand is this a known limitation of web extension host debugging?

[2020-04-23 13:53] Tyriar opened #95966 "Clicking folders outside workspace should open a new window"
This broke during a refactor.

Repro:

1. Open a terminal
2. cd ..
3. Click the folder name in the prompt (or just echo a folder outside the workspace)

[2020-04-23 13:54] isidorn commented on #95315
@bradennapier smart! Ok now with your steps I could reproduce somehow. Investigating....
@joaomoreno we did some scrollbar changes this milestone? Could you somehow correlate that to the rename box disapering. Just in case you have an idea...

[2020-04-23 13:55] #95966 closed

[2020-04-23 13:56] Tyriar commented on #95452
This might have been caused by https://github.com/microsoft/vscode/issues/95966

[2020-04-23 13:56] weinand commented on #95957
no, that sounds like a bug

[2020-04-23 13:58] trubit commented on #62104
After some research, there is currently Proposed Api https://github.com/microsoft/vscode/issues/54938

Decorator API allows changing text color, but it's missing ability tu change background color.
If we add ability to change background color in Decoration and new Proposed API lands in stable, extension could be done.
src/vs/workbench/services/decorations/browser/decorationsService.ts

There will

[2020-04-23 14:00] isidorn commented on #95315
Ok found the issue. I changed some of the logic that the parent gets revealed, and if the parent is not in the viewport all gets broken. Pushing a fix soon.
@bradennapier thanks again!

[2020-04-23 14:02] bradennapier commented on #95315
Glad to help :).

[2020-04-23 14:03] isidorn commented on #95315
This is my stupid commit which broke it https://github.com/microsoft/vscode/commit/7ab6b3d4817c7ac7319747b6ece1935839bb9363

[2020-04-23 14:04] jrr commented on #63068
Just thought I'd share this with the internet:

![image](https://user-images.githubusercontent.com/164652/80107984-c7d5b600-8549-11ea-8fbb-7ef12256de42.png)

[2020-04-23 14:04] doudou commented on #95814
So. More subtle that I initially thought.

The difference is between "Run Task" and "Run Build Task". The former seems to behave as expected. The latter, not so much. It's now only sorted alphabetically and not by recent. My muscle memory seems to have been using both interchangeably.

![vscode-run-build-task](https://user-images.githubusercontent.com/292/80108005-31f25900-8552-11ea-85e3-a49fb5813

[2020-04-23 14:05] #95315 closed

[2020-04-23 14:05] isidorn commented on #95127
Sorry but my solution for this issue was incorecct as it casued a regression https://github.com/microsoft/vscode/issues/95315
Due to that I had to revert my fix here. And due to that I will have to reopen this issue and I might tackle it in a smarter way in the future. Also a PR which fixes it is welcome.

[2020-04-23 14:06] bradennapier commented on #95315
Heh think I ran into that bug at one point as well :(

[2020-04-23 14:06] FernandoMiguel commented on #95315
We are all in a blameless culture.
No point in being "abusive", even to yourself.

Thank you for finding and fixing the issue.
We all appreciate immensely the product you work on.
It's a life changer for many of us

[2020-04-23 14:07] jvesouza commented on #95961
@isidorn Orca does not stop announcing the characters as I type.
Using BreadCrumbs when I type a, orca announces aaa.txt as expected, assuming aaa.txt is a present element.
But if I type aa orca does not announce aaa.txt.

Yes, the same behaviour when I open explorer.
If I type aa or bb, the file name aaa.txt or bbb.txt is not announced.

[2020-04-23 14:07] isidorn commented on #95315
Reopened the other issue, this one is more severe.
If somebody has time a PR which fixes that one is welcome.

@FernandoMiguel thanks.

[2020-04-23 14:10] roblourens commented on #95618
I think the right fix to make it consistent would be adding the extra when clause to all the keybindings which I assume you don't want. Either that or change the keybinding for "copy path" and make people unhappy. I would change the when clause just for Mac if that was possible.

[2020-04-23 14:10] isidorn commented on #95961
@jvesouza thanks for clarifying. Thus this is not a breadcrumbs issue but a general list issue with Orca.
So the best would be to wait for @joanmarie to give us some insights on when orca decides to stop the annoucment to announce a character.

Since by typing aa you are still on the aaa.txt element, nothing changed and orca does not annoucnce since the original annoucment was interupted by the se

[2020-04-23 14:11] Tyriar commented on #95697
@gjsjohnmurray nice, it's exactly what I want (in the explorer at least) with the exception of hover feedback on the twistie. fyi @joaomoreno

[2020-04-23 14:12] roblourens commented on #95618
I mean, I guess it is possible, I'll only add the when clause for mac. Hope that helps.

[2020-04-23 14:13] jannickj commented on #95818
To anyone like me who could find the issue, the one that is related (but is having the problem show up in a different way) is: https://github.com/microsoft/vscode/issues/9526

[2020-04-23 14:14] Schular opened #95968 "TS Server fatal error: Debug Failure. Invalid cast. The supplied value [object Object] did not pass the test 'isBindableStaticAccessExpression'."
Issue Type: <b>Bug</b>

**TypeScript Version:** 3.8.3
**Steps to reproduce crash**
1.
2.
3.
**TS Server Error Stack**
[code]

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:07:18.473Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7660U CPU @ 2.50GHz (4 x 2500)|
|GPU Status|2d_canvas

[2020-04-23 14:17] chadlavi-casebook commented on #95127
@isidorn oh wow, yeah I guess that is a bit of a regression!

And for anyone who comes to work on this in the future, I just found that the same bug is also exhibited if you use the command palette's "New file" command, not just if you click the new file button in the left sidebar.

[2020-04-23 14:18] Tyriar commented on #95802
@amelio-vazquez-reina those are based on common keystrokes and aren't guaranteed to work. I see backward-kill-word is mentioned, I think that's one of them. You can see the comments where these keybindings are added for what they are:

https://github.com/microsoft/vscode/blob/78f299ee51a427e53b45f53df4b05dbb67e38e31/src/vs/workbench/contrib/terminal/browser/terminal.contribution.ts#L177-L198

Also

[2020-04-23 14:20] Tyriar commented on #95909
Doesn't seem to be fixed?

![image](https://user-images.githubusercontent.com/2193314/80109849-dd8bb100-8532-11ea-8e35-d015c4c1fe5f.png)

[2020-04-23 14:21] chadlavi-casebook commented on #95127
Ah I see, the real issue here is that the parent is not in view huh? I thought maybe it had to do with the number of files, but that's just incidental -- you could reproduce this with only 5 or 6 files in the folder but a really really short window so that the parent is scrolled out of view.

[2020-04-23 14:32] bagage opened #95970 "Intrusive "Keep the undo-redock stack" dialog on tab close"
- VSCode Version: 1.44.2
- OS Version: Windows 7

Steps to Reproduce:

1. Open a big file, in my case a xml file that I generate from a script. I keep it open to check that my script properly generated what I expected.
2. Modify/Launch the script multiple times.
3. Once you're happy with it, close the generated xml file.

Expected the tab to close silently.
Instead, dialog poping up:

I'd either l

[2020-04-23 14:32] bpasero commented on #95957
@weinand the issue is that the `payload` from the URL is probably removed when opening the URL for the target folder. However, we do not blindly want to take all of the `payload` over, this needs to be carefully decide case by case. I think we actually have similar code in the Electron side to take properties over:

https://github.com/microsoft/vscode/blob/9450b5e5fb04f2a180cfffc4d27f52f972b1f369/

[2020-04-23 14:35] doudou opened #95971 "vscode 1.44 breaks "recent tasks" for tasks generated by my extension"
- VSCode Version: 1.44.2
- OS Version: Ubuntu 19.04

Steps to Reproduce:

1. Run a task generated by my extension https://github.com/rock-core/vscode-rock
2. Try to re-run it from the "recent tasks" list
3. Nothing happens

The same task under "Show all tasks" do work.

One thing that might help understanding the issue on your side: the tasks don't show up under the provider's submenu, only in the

[2020-04-23 14:37] bpasero opened #95972 "activityBar.border does not seem to work anymore"
On macOS I am trying to configure `activityBar.border` but this color is not showing up for me.

![image](https://user-images.githubusercontent.com/900690/80111873-bd82de80-8580-11ea-9d8f-4f9b10c649a6.png)

It is however set on the pane, so I suspect some layout issue.

![image](https://user-images.githubusercontent.com/900690/80111956-d3909f00-8580-11ea-8be9-27b5332cef24.png)

[2020-04-23 14:38] jacob-kruger-work commented on #95894
The one small, not too important reason why some people might like to have separate commands would be if they'd initialised selection, and, marked the starting point, but, now wanted to shift it to somewhere else.  Wouldn't really cause issues, but, they'd then need to do something like ctrl +K, move to next point, ctrl +K, and then ctrl +K to re-mark it as start?

Jacob Kruger

[2020-04-23 14:38] jake-daniels opened #95973 "Intellisense import suggestions - search index files only"
Hi guys, in large codebases I often encounter following issue:

I work with React/TypeScript combo. If I export something from a file, it's visible to the entire project and Intellisense auto-import feature suggests me all functions/classes/... exported. It's overwhelming to list through all exports, especially in large projects, where different entities can have the same name. I would love to cre

[2020-04-23 14:46] symphony2014 commented on #95823
I just use the default light theme.
![image](https://user-images.githubusercontent.com/6380601/80112936-3f402f80-85b4-11ea-968c-eb1144ee57f8.png)

[2020-04-23 14:47] bpasero commented on #95972
Can be verified with a theme such as: https://marketplace.visualstudio.com/items?itemName=GitHub.github-vscode-theme

[2020-04-23 14:48] robertrossmann commented on #95972
Looks like a duplicate of #95858. 🕵️ 😇

[2020-04-23 14:49] MarcoZehe commented on #95894
I was thinking the same thing. The separate commands for start and end selection do make sense for the case where one needs to be adjusted multiple times.

[2020-04-23 14:49] weinand commented on #95957
@bpasero where is the corresponding location where we could selectively copy the payload?

[2020-04-23 14:50] Friksel commented on #84696
+1
Same issue here in the latest vs code and latest git

**Windows 10 home:** v10.0.18362
**VS Code:** 1.44.2
**Git version:** 2.26.2.windows.1

[2020-04-23 14:51] bpasero commented on #95972
/duplicate https://github.com/microsoft/vscode/issues/95858

[2020-04-23 14:52] #95972 closed

[2020-04-23 14:53] bpasero commented on #95957
@weinand best is here:

https://github.com/microsoft/vscode/blob/ab42ffc44c709aded523b15399a070ae8c724824/src/vs/workbench/services/host/browser/browserHostService.ts#L115

That is the code that gets triggered whenever a window wants to open. We just need to make sure that the payload contains any of the existing payload we want to preserve.

[2020-04-23 14:57] jrieken commented on #95796
What we could do is use an icon instead of the slash-character and benefit from the theming support that we are currently adding.

[2020-04-23 14:59] Tyriar commented on #69163
I saw this again and it appears that one of the ancestor folders (which is currently off screen) is disposed already, despite it being expanded and its children not being disposed.

[2020-04-23 15:04] mccarthyp-snet opened #95974 "[folding] Setting the same value for 'start' and 'end' markers for folding does not work"
Issue Type: <b>Bug</b>

Setting the same value for 'start' and 'end' markers for folding in language-configuration.json does not work.

example language-configuration.json:

[code]

For simplicity sake, I'd like to be able to use a single string as a section divider, e.g. '#####', and then be able to fold from that divider to the next occurrence of that divider. As far as I can tell, there is not

[2020-04-23 15:14] akanz1 commented on #95746
@sbatten I hope this clarifies the issue! Apologies for the vague description.

[2020-04-23 15:14] Ethan-Arrowood commented on #95939
Okay I'll try this out later today to see if it works. Thank you!

[2020-04-23 15:16] connor4312 commented on #95964
This is because `restart: true` is set for the shared process and extension host, which allows them to reconnect when vscode is reloaded. Eventually js-debug in extension host gives up, but the shared process is using the previous Node debugger which doesn't give up. Both these are working as designed, this is kind of a downside of the compound launch configs in that there's no "compound stop".

[2020-04-23 15:23] connor4312 commented on #94812
Yea, appending `(Profiling)` to the name would be a good interim solution.

[2020-04-23 15:26] chadlavi commented on #54248
@meriturva thanks for the rec, that does provide the functionality I wanted for private registries!

[2020-04-23 15:27] hwxjGItHub opened #95975 "vs code打不开文件，settings.json,"
总是出现：无法打开“settings.json”: Assertion Failed: argument is undefined or null。

[2020-04-23 15:38] joanmarie commented on #95961
@isidorn Every time a key is pressed Orca interrupts speech whether or not it has key echo enabled. I think that behavior is expected and not an issue/bug in Orca. Is NVDA doing something different?

I'm happy to discuss the best way to solve this.

[2020-04-23 15:38] connor4312 commented on #93230
These scopes are reported directly from Node/V8, we don't try to do much transformation except for sticking `this` and, when appropriate, `Return Value`, onto the first scope (in the protocol these values are given for the entire stack, rather than a specific scope in the chain). For instance the same thing is shown if you attach to the extension host directly with chrome devtools:

![](https://me

[2020-04-23 15:39] mqnc commented on #3352
+1

[2020-04-23 15:40] joanmarie commented on #95961
I'll toss out the first idea to get the brainstorming started: Could VSCode detect this condition (user keeps typing and selection hasn't changed) and re-announce the selected item via ARIA live regions?

[2020-04-23 15:40] #95917 closed

[2020-04-23 15:43] #94285 closed

[2020-04-23 15:47] chrmarti commented on #95521
@Ynewtime Do you have `HTTP_PROXY`, `HTTPS_PROXY` or `NO_PROXY` environment variables set? Could you retry with todays insiders build (that has a small fix)?

[2020-04-23 15:50] connor4312 commented on #93230
I've submitted a bug on Chromium for the specific issue with the extra "block" scope: https://bugs.chromium.org/p/chromium/issues/detail?id=1073944

[2020-04-23 15:52] haroldrandom opened #95976 "Don't honor the HostName I set in ~/.ssh/config"
I use it on Windows 10, and want to open an SSH terminal via my previous settings.

my previous settings are like:
[code]

But when I click it on the prompt, it didn't honor the HostName I set to connect to but use the default username I login to Windows.

[2020-04-23 15:55] nwalters512 opened #95977 "Feature request: API for active custom text editor changed"
The `window.onDidChangeActiveTextEditor` API sends events when you switch between text editors, but the callback is invoked with `undefined` when a custom editor is opened. For instance, if you have a normal text editor open and then open some image `foo.png` (the preview for which is displayed with a [custom editor](https://github.com/microsoft/vscode/tree/master/extensions/image-preview)), the c

[2020-04-23 15:56] oleggoryunov opened #95978 "Jupiter notebook won't open very often"
Issue Type: <b>Bug</b>

- I am working with a few jupipter notebooks and sometimes I can open the notebook with the VSC, sometimes not.
- it seems that after VSC runs for sometime (or after a few notebook open/close operations) , it stops opening new notebooks.
- normally I either open a notebook with a double-click in finder (.ipynb files are associated with VSC) or select "open recent", or choos

[2020-04-23 15:57] amoldeshpande-u opened #95979 "cppdbg command:pickprocess should wait for prelaunchTask"
When trying to run a script that launches an executable, I run into a problem where I cannot specify the executable in a "launch" task.  However attach does not work either because the PID selection happens before the preLaunchTask has run.

Existing discussion in vscode-cpptools  https://github.com/microsoft/vscode-cpptools/issues/5287. I did not see it reported here yet, so thought I'd file it m

[2020-04-23 16:02] tchkreddy commented on #42149
+1

[2020-04-23 16:09] akbyrd commented on #95618
Thanks, that covers my case. I'd argue that adding the clause the other keybinding on mac would be worthwhile to keep them consistent. But I don't use the platform so I don't have much stake in it.

[2020-04-23 16:13] ZYinMD opened #95980 "Keyboard navigation in trees can't find children of never-expanded folders"
- VSCode Version: 1.44.x or insiders
- OS Version: win10

Steps to Reproduce:

1. focus on explorer
2. start typing, for instance "foo"
3. if "foo" is nested under a folder that has never been expanded since window load, "foo" will not be found.
4. If I have expanded foo's immediate parent at least once, "foo" will be found, no matter if it's collapsed or not.

(having a `jsconfig.json` doesn't he

[2020-04-23 16:13] baulig opened #95981 "Excessive Debugger Console output causes VS Code to become unresponsive"
Issue Type: <b>Performance Issue</b>

When debugging an app that dumps excessive amounts of output to the Debugger Console, VS Code becomes unresponsive.

In my example, I was debugging a .NET Core app and by accident logged some 15 MB of debugging output to the console - about 11k lines some of which were extremely long because it included a base64-encoded binary.  This was a mistake but due to t

[2020-04-23 16:14] sbatten commented on #95746
looks like a request for the tree view api to have expand all functionality

[2020-04-23 16:16] ZYinMD commented on #95980
Not sure if it's intended behavior. If yes, then what's the correct way to search for a folder? As far as I know, you can't find a folder by using the `Search` tool, nor by using `Quick open`.

[2020-04-23 16:22] misolori opened #95982 "Debug dropdown not working"
![image](https://user-images.githubusercontent.com/35271042/80123456-c608f400-8543-11ea-9a8a-0a66328a33bb.png)

This is from today's insiders, I can't even open the dropdown menu. The other dropdowns in the terminal/output/remote explorer appear to work normally.

[2020-04-23 16:24] alexr00 commented on #95746
This is coming from the Python extension.

[2020-04-23 16:26] misolori commented on #95982
This appears to work in OSS, wonder if this was already fixed?

[2020-04-23 16:28] cepm-nate commented on #3352
https://github.com/zokugun/vscode-explicit-folding does work. Here's what we are wishing for: The "Fold last line" to be a GLOBAL setting in VisualStudio that could override extension settings. That's all. :-)

[2020-04-23 16:32] Glaydson commented on #63068
I'm using Catalina 10.15.5 (beta) and the problem persists. Issuing killall Dock fixes it fortunately.

[2020-04-23 16:36] rebornix opened #95983 "Notebook toolbar box shadow theme rule"
Issue Type: <b>Bug</b>

Let's make it themeable. cc @misolori

<img width="903" alt="image" src="https://user-images.githubusercontent.com/876920/80124933-d7530000-8545-11ea-8027-41a4cb9017c0.png">

VS Code version: Code - Insiders 1.45.0-insider (d342048538c28d54afd1c6beea03f3a89af04359, 2020-04-23T07:46:52.128Z)
OS version: Darwin x64 19.2.0

<details>
<summary>System Info</summary>

|Item|Value

[2020-04-23 16:38] mwpenny commented on #95927
I am experiencing the same issue when trying to debug TypeScript code. My launch config starts a process which builds my code and then starts a runner process, then VSCode attaches to the runner process which I can manually trigger to call my code. `outFiles` is correctly pointing to the generated JS.

I'm not sure exactly when this broke for my project but it used to work. Strangely, if I launch

[2020-04-23 16:44] bounty1342 opened #95984 "Persist split Terminal"
Creating a VS code workspace with 3 projects, I would like to have 3 terminals matching projet location that persist on restart.

Please find an exemple below :

![image](https://user-images.githubusercontent.com/6307253/80125739-5d953380-8592-11ea-8686-19aef3b35a8e.png)

Regards,

[2020-04-23 16:44] IllusionMH commented on #95980
Duplicate of #66971 (will keep open if someone knows better way to find folder)

As for folders search not sure if it's available. I usually type folder name in Quick open and pick file from that folder - will be expanded with `"explorer.autoReveal": true`

[2020-04-23 16:45] rahul0399 opened #95985 "The terminal process command 'C:\Program Files\PowerShell\7-preview\pwsh.exe' failed to launch (exit code: {2})"
Issue Type: <b>Feature Request</b>

The terminal process command 'C:\WINDOWS\system32\cmd.exe' failed to launch (exit code: {2}) I've reinstalled it multiple times along with Salesforce CLI Integration & Salesforce Extension Pack. However, it is giving the same error again & again.

System details: Windows 10

I've already tried multiple solutions that are given in GitHub repository but it hasn't

[2020-04-23 16:48] isidorn commented on #95127
Yeah, exacty the issue is when the parent is not visible.
So we should reeal that, but due to the funkiness how the input box blur works that breaks the other issue.

[2020-04-23 16:49] isidorn commented on #95982
I can not reproduce this.
What Repository are you working with?
If you F1 > developer tools > console  are there some errors there?