[2018-04-12 14:28] jrieken opened #47747 "Don't call URI#fsPath unless scheme is file"
The URI#fsPath property is for convince and helps reading files from disk. That means it is only meaningful for the file-scheme and should not be used for other schemes. The following code has been identified as being an offender:

https://github.com/Microsoft/vscode/blob/2e9910fee075647726a859958b525d40e40594a5/src/vs/workbench/parts/output/common/outputLinkComputer.ts#L92

[2018-04-12 14:31] jrieken opened #47748 "Don't call URI#fsPath unless scheme is file"
The URI#fsPath property is for convince and helps reading files from disk. That means it is only meaningful for the file-scheme and should not be used for other schemes. The following code has been identified as being an offender:

https://github.com/Microsoft/vscode/blob/0a4bc8d0b1904b531d2f5864a9103cc5918e7dd9/src/vs/editor/common/services/resourceConfigurationImpl.ts#L45

[2018-04-12 14:33] Tyriar opened #47749 "Custom select dropdown should not automatically select on up / down but at least show the options"
Issue Type: <b>Bug</b>

With launch config:

[code]

ctrl+shift+d to move focus to debug panel start button
tab to move focus to dropdown
down I expect to navigate down in the dropdown

Actual:

The editor is focused

VS Code version: Code - Exploration 1.23.0-exploration (853eb1ab81d2c7d8d0b44b766085f76148d5b142, 2018-04-11T18:10:05.029Z)
OS version: Linux x64 4.13.0-38-generic

<details>
<summar

[2018-04-12 14:37] Tyriar commented on #36218
@cannonfodda I was able to run Electron 2 on CentOS 7.1 on a clean install after running `yum update`. Part of the output:

[code]

Please follow up on https://github.com/Microsoft/vscode/issues/47158 if you want to continue the discussion.

[2018-04-12 14:39] isidorn commented on #34026
@DanTup yes this seems like a clear bug on our end. Would you be interested in providing a PR which fixes this.
This was initialy done by our previous internt @michelkaporin

[2018-04-12 14:41] Neutrino-Sunset commented on #47427
But you don't show the setting "editor.scrollbar.vertical" which needs to be set to "visible" to stop the scrollbars from completely disappearing if the mouse cursor is not over the editor.

The logic you have in place is not remotely useful. If there are no settings containing the specified word you would be better off displaying nothing than a load of stuff that has no obvious relation to what w

[2018-04-12 14:42] mr-joom commented on #4758
+1

[2018-04-12 14:45] aligajani opened #47750 "How do I remove recently opened projects/files in Mac dock?"
As shown in the image below.

![image](https://user-images.githubusercontent.com/1730778/38684836-848399e6-3e68-11e8-9826-f49b567383b8.png)

[2018-04-12 14:46] Tyriar commented on #47158
@bpasero yeah the plan is to add gtk3 as a hard dependency for both the rpm and deb

[2018-04-12 14:50] NoashX opened #47751 "Find in Folder Search"
Issue Type: <b>Bug</b>

Before the most recent update, I could click on Find in Folder..., then 3 input boxes would appear: a search box, a folder path to include box, and a files to exclude box. Now there are only 2: one for the search box, and one called files to include/exclude, which is confusing and not as functional for my task at hand. It seems I can only either include or exclude, which ma

[2018-04-12 14:50] cannonfodda commented on #47158
Hi @Tyriar @bpasero. I didn't mean to say that it's not possible to upgrade on Centos 7.1. The reason that we can't run the test related to #36218 is that we are running on a corporate system and I can't update GTK without falling foul of corporate IT.

Is that why #36218 was closed ?

[2018-04-12 14:51] bardware commented on #329
I tried a bit differently today. I called `code . --extensions-dir "C:\vscode\php\exts" --user-data-dir "C:\vscode\php\data" --new-window`.
Two instances of code were started. I saw this behaviour before, when I called `code .`, therefore the additional argument `--new-window`. It seems it is not respected when --extensions-dir and --user-data-dir are provided.

[2018-04-12 14:56] fmal opened #47752 "Tab's dirty state indicator invisible when hovering tab"
- VSCode Version: 1.22.1
- OS Version: mac OS 10.13.4

The visual indicator for dirty tabs get's overriden by theme's or custom `tab.hoverBackground`. The quick workaround is to add `!important` to the following rules:
https://github.com/Microsoft/vscode/blob/2d686ce94bd8b79dcd02f483af4bf650a689dc36/src/vs/workbench/browser/parts/editor/media/tabstitle.css#L214
https://github.com/Microsoft/vscode/

[2018-04-12 14:56] wyckster commented on #47624
This is not a duplicate of #38376.  Did you read my comment why?  I believe it is not a duplicate because you claim that #38376 only occurs because you are debugging an extension.  This is reproducible when you are not debugging an extension.

Can you please clarify rather than just close it?

[2018-04-12 14:57] bmaupin commented on #13157
Based on #17883 I'd be surprised if this gets implemented.

However, the [Trailing Spaces](https://marketplace.visualstudio.com/items?itemName=shardulm94.trailing-spaces) extension does the job quite well with this setting:

    "trailing-spaces.deleteModifiedLinesOnly": true,

It can also trim on demand or automatically on save.

[2018-04-12 14:58] andybantly opened #47753 ".vscode/launch.json can't be moved"
- VSCode Version: 1.22.1
- OS Version: Version 6.1 (Build 7601: Service Pack 1)

Steps to Reproduce:

1. Create a new node.js file
2. Create launch.json
3. Save the files and exit
4. Load VS Code
5. Create a new node.js in a different folder and location
6. Create launch.json

VS Code loads the launch.json from step 2
No matter what VS Code, won't change the location of launch.json.  This applies

[2018-04-12 15:02] andybantly opened #47754 "VS Code can't debug Python when a launch.json for node.js exists"
- VSCode Version: 1.22.1
- OS Version: Version 6.1 (Build 7601: Service Pack 1)

Steps to Reproduce:

1. Create a new node.js file
2. Create launch.json
3. Save the files and exit
4. Load VS Code
5. Create a new Python file
6. Create launch.json
7. VS Code loads the node.js launch.json

Can't debug any Python files unless the launch.json is manually edited to remove the node.js configuration

Does

[2018-04-12 15:03] weinand commented on #47753
VS Code creates the launch.json in the ".vscode" folder which lives in the workspace folder.
A user is not supposed to create the launch.json.
If you need another launch.json in a different location, you will have to create a new workspace folder and let VS Code create the .vscode folder and the launch.json.

[2018-04-12 15:03] #47753 closed

[2018-04-12 15:05] maximelafarie commented on #23107
So is there anything new about theses issues? I'm experiencing the same issues.
For example, I'll do a error that will be underlined, then to make it disappear I need to go on another file tab, then come back to the file tab where the error was detected to make vscode refresh the entire file.

Is there any option to disable cache if there is, or to trigger a new file check automatically? 🤔

[2018-04-12 15:10] babakness commented on #3429
@NetVicious Yes, this! Maybe a middle ground could be that if the author of said library has not designated the required colors or perhaps turn on a flag explicitly mentioning that they have, a quiet error is logged and the background color behaves as it currently does.

[2018-04-12 15:13] burtonsys commented on #45596
**_Thank you!!!_**

I've configured the new version like this:

{ "files.autoGuessEncoding": true,
    "editor.wordWrap": "on",
    "window.zoomLevel": 1,
    "editor.accessibilitySupport": "off",
    "git.ignoreMissingGitWarning": true,
    "editor.largeFileSize":41943040,
    "editor.largeFileLineCount": 600000,
}

At first it appeared that that hadn't solved the problem. Alt-Z just changed the

[2018-04-12 15:16] danilocode commented on #45071
I have this issue in a javascript project where I am using es6 decorators like `@inject`.

example code:
[code]

my jsconfig.json file is:
[code]
One of the file that gives me this "decorator" warning/error is in the path:
`./server/service/src/com/tray/communication/push/PushService.js`

I have already tried including and excluding the folders that I wouldn't need etc.
I tried `javascript.implici

[2018-04-12 15:26] markeissler commented on #47673
In the meantime, I will continue to work with __VSCode 1.21.1__. At least I have that as a work around.

For anyone that runs into this problem (on macOS) you can rollback with:

[VSCode 1.21.1 - macOS](https://vscode-update.azurewebsites.net/1.21.1/darwin/stable)

[2018-04-12 15:31] Jarrio commented on #47703
Not sure if this is related, but in the current version of vscode this also happens to me:
![gif](https://user-images.githubusercontent.com/748557/38687597-fe62de1a-3e6e-11e8-8044-a05a1f24332e.gif)

[2018-04-12 15:32] mjbvz commented on #47724
Tracked by https://github.com/Microsoft/TypeScript/issues/22674

[2018-04-12 15:32] #47724 closed

[2018-04-12 15:37] mjbvz commented on #47524
@yoisel Try creating a [jsconfig.json](https://code.visualstudio.com/Docs/languages/javascript#_javascript-project-jsconfigjson) file at the root of your project

[2018-04-12 15:39] mjbvz commented on #47734
This issue was moved to Microsoft/TypeScript#23366

[2018-04-12 15:39] #47734 closed

[2018-04-12 15:41] mjbvz commented on #47713
The screenshot is the `Dark+` builtin theme. You are using the regular `Dark` one

[2018-04-12 15:41] #47713 closed

[2018-04-12 15:42] patsuckow opened #47755 "Request to add a parameter to "User Parameters""
- VSCode Version: 1.22.1

Steps to Reproduce:
To remove the item "Open editors" - i need to right-click on it and remove the checkmark.

Can this function be added as an option for "User Parameters"?

Thank you.

[2018-04-12 15:43] mjbvz commented on #47706
Duplicate of https://github.com/Microsoft/TypeScript/issues/22743

Should already be fixed in vscode insiders

[2018-04-12 15:43] #47706 closed

[2018-04-12 15:43] shankarramr commented on #22289
Awesome! But the count badge shows the full count, which seems odd to me. But thanks!

[2018-04-12 15:44] abock opened #47756 "Do not close workspace on ⌘W"
Issue Type: <b>Bug</b>

Multiple times a day I find myself accidentally closing an entire VS Code workspace (usually with multiple terminals active) because I will <kbd>⌘W</kbd> through open tabs.

Unfortunately once the last tab has closed, <kbd>⌘W</kbd> will close the workspace window, which is _definitely_ not what I want to do.

Visual Studio for Mac does the right thing here - close tabs, nev

[2018-04-12 15:46] patridge commented on #47713
That did it. Thank you, @mjbvz! I didn't realize the theme could make that much impact on things.

(Now I just need to investigate why IntelliSense isn't working as shown in the next `React.createClass` step, but that's a different issue.)

[2018-04-12 15:47] borekb commented on #47506
Also, the UI uses three methods to say that the extension is disabled, at the same time :)

![image](https://user-images.githubusercontent.com/101152/38688407-eabf6c78-3e70-11e8-9489-25d3e4d4289a.png)

Maybe the tooltip could be used to say that the extension will be re-enabled after reload (if that's the case).

[2018-04-12 15:48] gwk opened #47757 "Transpose action affects editor line even when another text input has focus"
- VSCode Version: 1.23.0-insider (1.23.0-insider) fe9d9532ea6264152c144bd2ba3a6db2cd1732e3 2018-04-12T05:05:41.502Z

- OS Version: macOS 10.13.5 Beta (17F35e)

Steps to Reproduce:
1. Open a text file for editing (new/untitled works).
2. Type "ab" then place cursor between "a" and "b".
3. Open the command palette or enter the "rename file" mode to get text input focus on a text field element.
4. Ty

[2018-04-12 15:48] fouadmasoud commented on #47524
My issue was because I had disabled TypeScript and JavasScript Language Features built in extension so that I can work with FlowType. But good to know about jsconfig.json thank you :).

[2018-04-12 15:48] #47524 closed

[2018-04-12 15:49] jrieken commented on #21886
Idea is to educate because it's hard to make the right (breaking) decision for every extension. As a first step, I have added an info-message that gets logged once for extensions that are under development and that use a lax-selector. Next step is a page with more documentation/information that we can link to.

[2018-04-12 15:49] abock commented on #47756
Note that `window.closeWhenEmpty` is `false` (the default value) in my user settings, though I'm not sure it's even meant to apply to this scenario:

[code]

[2018-04-12 15:50] sharno opened #47758 "Having so much red underlined code (errors) makes VSCode very slow to edit these files"
- VSCode Version: 1.22.1
- OS Version: MacOS 10.12.6

Steps to Reproduce:
(I'm using the Flow Language Support extension and mostly experience it when the extension marks a big bunch of code as having errors but this issue spans other files that have large amount of text with errors.)

1. Have a big amount of text underlined in red (having errors)
2. Performance of VSCode in this file becomes so s

[2018-04-12 15:51] mjbvz commented on #47737
Duplicate of #14909

[2018-04-12 15:51] #47737 closed

[2018-04-12 15:53] mjbvz commented on #47700
Thanks! I believe this has been fixed in vscode insiders:

<img width="580" alt="screen shot 2018-04-12 at 8 45 44 am" src="https://user-images.githubusercontent.com/12821956/38688459-005d8a3a-3e2e-11e8-90ff-0d14b5784917.png">

[2018-04-12 15:53] #47700 closed

[2018-04-12 15:58] mjbvz commented on #47409
Here's the folding I now see in vscode insiders:

<img width="260" alt="screen shot 2018-04-12 at 8 57 19 am" src="https://user-images.githubusercontent.com/12821956/38689105-8a4e1b28-3e2f-11e8-9f1a-18b1f5cca9fb.png">

Which looks correct to me. Folding the top level `if` only folds that block, not the entire if/else state

Try insiders and let me know if something still looks off

[2018-04-12 15:58] #47409 closed

[2018-04-12 16:00] harveyr opened #47759 "Editor jumps to end of file"
Issue Type: <b>Bug</b>

In a Typescript file with several linter/compiler errors, and with format-on-save enabled:

1. Save the file, which triggers a formatting change.
1. After the save and autoformat are complete, if I hit the right-arrow key (with no other keys held), the editor jumps to the end of the file.

This seems to be new behavior as of the last release or two. I hadn't pinned down wha

[2018-04-12 16:08] mjbvz opened #47760 "Support typescript's fixName code action property"
Add support for the new `fixName` property ts is adding to code actions https://github.com/Microsoft/TypeScript/pull/23350

[2018-04-12 16:11] mjbvz commented on #47759
Duplicate of #47382 Should be fixed in an upcoming 1.22.2 release

[2018-04-12 16:11] #47759 closed

[2018-04-12 16:13] lupuselit commented on #46045
I'm having the same problem with VS Code, it also lags on Atom, but all the other apps I've tested it doesn't happen anything.

[2018-04-12 16:18] harveyr commented on #47759
👍 Thanks!

[2018-04-12 16:23] TommasoPino opened #47761 "login and synchronization on extentions (label:feature-request)"
I would like to propose a new feature. A way to login with an account and automatically install the extentions added to the account itself in a new installation.

Thanks

[2018-04-12 16:25] #13267 closed

[2018-04-12 16:26] Tyriar commented on #13267
This is landing in tomorrow's insiders as a proposed API:

[code]

[2018-04-12 16:26] jasonalls commented on #35447
I would also like to see this feature implemented. Struggling with the small indentation.

[2018-04-12 16:31] sutt commented on #40502
I'm getting very sluggish behavior in integrated terminal: ~2 secs / letter typed. Also, it gets to the point I can't switch back to an editorGroup, I'm hung on focus to terminal.

I'm able to reproduce this by changing the value for "terminal.integrated.shell.windows" in user-settings.  Specifically by commenting out one pointing to cmd, and uncommenting another line pointing to git bash:
"termin

[2018-04-12 16:31] manbearian commented on #47695
Hi @Tyriar , my repro is simple: open vs code, open folder, open file, add syntax error, build in cmd-window, ctrl-click file, a second view of the file is opened.
I double checked the repro this morning and noticed a casing difference between the two files; i'm guessing this is the root cause?

See screen capture below where VS Code identifies a casing difference between the two files:

![image](

[2018-04-12 16:31] tsalinger opened #47763 "Settings getting cleared when updating them using API"
Issue Type: <b>Bug</b>

1. Create an extension with 'yo code' and paste in the code at the end of this issue
2. Switch to a light theme.
3. Activate the extension and CTRL+Tab multiple times to another open file in the project while the settings are being imported.
3. Notice how the user settings are temporarily lost and the dark theme is used again, although the users settings still show the ligh

[2018-04-12 16:36] roblourens commented on #47681
Yes and the other snippet is a builtin `if` snippet.

[2018-04-12 16:36] #47681 closed

[2018-04-12 16:48] roblourens commented on #47721
- Can you explain exactly what you see?
- If you search `@builtin php` in the extensions viewlet, what do you see?

[2018-04-12 16:48] sandy081 commented on #22289
Count badge shows total number of problems. Filtered count is shown in the badge in filter input box.

[2018-04-12 16:51] sandy081 commented on #47739
This is being taken care in #47154

[2018-04-12 16:51] #47739 closed

[2018-04-12 16:54] #47742 closed

[2018-04-12 16:57] Immac commented on #47707
Actually it's when the panel is shared, I copied the wrong task, my bad.

[2018-04-12 17:06] roblourens commented on #47736
Does it happen randomly to different files, or just particular files?

[2018-04-12 17:09] roblourens commented on #47427
What is `editor.scrollbar.vertical`? I don't think that's a setting we have.

[2018-04-12 17:10] blachawk opened #47764 "VSCode can't detect Gulp tasks"
I'm on WIndows 10
I'm running Visual Studio Code 1.22.1
I have node v8.10.0 installed
I have npm 5.8.0 installed
I have gulp@3.9.1 installed

Based on [Visual Studio Codes instructions: Step 3: Run the gulp default task ](https://code.visualstudio.com/docs/languages/css)I have followed this to the T, but VSCode is failing on me when I click **F1** and then **Tasks:Run Task**

The following output

[2018-04-12 17:10] titaneric opened #47765 "New Feature: Is any plan for terminal version?"
Hi,
I know vscode is cross-platform GUI editor, but is possible to provide a terminal version of vscode?
Based on my own experience, I am more familiar with vscode shortcuts than vim's, so it is more efficient to write code for me.
Also, I really like the feature of vscode like split the window, multiple line edit, light weight debug etc. I really really want to see the vscode appearing on the ter

[2018-04-12 17:13] bpasero commented on #47752
@fmal good catch, want to do a PR to fix this?

[2018-04-12 17:14] bpasero commented on #47745
Duplicate of https://github.com/Microsoft/vscode/issues/29193

[2018-04-12 17:14] #47745 closed

[2018-04-12 17:15] IlyaBiryukov commented on #47615
Ok, how about just the active terminal window?

[2018-04-12 17:16] stkb commented on #329
Maybe we could agree on a spec that might eventually lead to a PR. Other programs check on startup for the presence of settings files/dirs next to the executable, and if they exist, use those instead of AppData/whatever.

So I'd propose: if a folder `extensions` exists next to `code.exe`, use it for the extensions dir. If a folder `data` exists, use it for the user data.

Or an alternative: just c

[2018-04-12 17:16] sutt commented on #47710
I think you can work around this.
At the top of Keyboard Shortcuts view there should be a line that say: 'For advanced customizations open and edit keybindings.json'. Click this. Now you'll get to json's to open: 'Default Keybindings' and 'keybindings.json'.
The keybindings.json is where you'll place your esc binding. It shows a hover dialog which says 'Define Keybinding (ctrl+k ctrl+k)' and you'r

[2018-04-12 17:16] roblourens commented on #47751
You can still include and exclude by entering the same patterns as before and using ! to mark the exclude patterns. See https://github.com/Microsoft/vscode/issues/47751

[2018-04-12 17:16] #47751 closed

[2018-04-12 17:31] michael-hawker commented on #40172
Yup, another example with older ms doc links:

![image](https://user-images.githubusercontent.com/24302614/38693686-96c87210-3e3c-11e8-9a0c-3aa51b260490.png)

[code]

- [System.Windows.Media.RadialGradientBrush](https://msdn.microsoft.com/en-us/library/system.windows.media.radialgradientbrush(v=vs.110).aspx)

[2018-04-12 17:33] l41lt0n commented on #47676
Hi @roblourens,

<img width="1458" alt="screen shot 2018-04-12 at 14 26 51" src="https://user-images.githubusercontent.com/32529405/38693815-6dfb3346-3e5e-11e8-9e7c-822b4792b7aa.png">

So, the problem is with the extension?

[2018-04-12 17:34] usernamehw commented on #47756
Duplicate of #42898

[2018-04-12 17:36] IlyaBiryukov commented on #46192
@Tyriar thanks for elaborating on dimensions
* Is the terminal/terminal renderer initially created to fit the window and its dimensions will match the window size?
* Will there be `onDidChangeDimensions` fired for the terminal just after the creation that will contain the current dimensions that are also the maximum dimensions?
* Will there be an `Error` thrown if somebody tried to set `dimensions

[2018-04-12 17:37] usernamehw commented on #47755
`"explorer.openEditors.visible": 0,` ?

[2018-04-12 17:41] V-ed commented on #47741
Take a look at Visual Studio Live Share : https://code.visualstudio.com/blogs/2017/11/15/live-share

Still in limited private preview.

[2018-04-12 17:45] usernamehw commented on #47761
Duplicate of #2743 ?

[2018-04-12 17:47] #46639 closed

[2018-04-12 17:47] #46644 closed

[2018-04-12 17:49] kieferrm opened #47768 "March Recovery Endgame"
- [x] Build stable for all platforms @kieferrm
- [x] Make rpm signing request **@tyriar**
- [x] Sanity check of installable bits
  - [x] Windows 64
    - [x] signed installer **@kieferrm**
    - [x] zip **@kieferrm**
  - [x] Windows 32
    - [x] signed installer @kieferrm
    - [x] zip **@ramya-rao-a**
  - [x] OS X - **@tyriar**
  - [x] Linux
    - [x] deb package 64-bit **@RMacfarlane**
    - [x]

[2018-04-12 18:09] patsuckow commented on #47755
So I did not see this setting. I apologize.

[2018-04-12 18:17] Tyriar commented on #46192
@IlyaBiryukov

Yes, the behavior is the same as today unless you set `dimensions`.

No, you will probably need to do this:

[code]

I will need to check how bad args are handled elsewhere, it should act consistently (either throwing an error or you need to check dimensions again?).

Yes, when `dimensions` is set, only when they do not fit will it be forced to become smaller.

Good edge case, yes I

[2018-04-12 18:18] roblourens commented on #47676
Yes, please file an issue on that extension's repo

[2018-04-12 18:18] #47676 closed

[2018-04-12 18:19] Tyriar commented on #47765
No this is not really doable, at least not without an enormous amount of work. Every single UI element would need to be reimplemented for the terminal and many keyboard shortcuts would no longer work as terminals have some restrictions on hotkeys.

[2018-04-12 18:19] #47765 closed

[2018-04-12 18:27] PsychicCat opened #47769 "Typescript organize imports unwanted removal"
If using the `as` syntax in a destructured import, VSCode removes the import.

- VSCode Version: 1.22.1
- OS Version: OSX 10.13.4

Steps to Reproduce:

1. `import {State as AppState} from '../some/path'`
2. Run Organize Imports
3. this import is removed, when it shouldn't be

Does this issue occur when all extensions are disabled?: Yes

[2018-04-12 18:27] #47769 closed

[2018-04-12 18:30] reyesjl commented on #47741
Thanks!
On Thu, Apr 12, 2018 at 1:43 PM, Guillaume Marcoux
<notifications@github.com> wrote:

[2018-04-12 18:31] firelizzard18 opened #47770 "Editor touch controls"
Issue Type: <b>Feature Request</b>

When using a touch screen, I want to be able to interact with VSCode in an intuitive manner.

When I touch and drag on text, I expect it to do something. I think the most intuitive option would be to select text.

When I touch and drag on empty space (space with no characters in the buffer), I expect the editor to scroll with my finger.

VS Code version: Code 1.

[2018-04-12 18:31] firelizzard18 opened #47771 "Drag minimap slider with touch"
Issue Type: <b>Feature Request</b>

When using a touch screen, I want to be able to interact with VSCode in an intuitive manner.

When I touch the minimap, I expect the document to scroll immediately on touch-down, not on touch-up. Mouse-up makes sense for a mouse, but not for a touch.

When I touch and drag the minimap, I expect the minimap to scroll with my finger.

VS Code version: Code 1.22.1

[2018-04-12 18:34] clarkio opened #47772 "Convert to ES6 Module Not Being Offered with Hint/Suggested Code Action"
- VSCode Version: Version 1.23.0-insider (1.23.0-insider)
- OS Version: MacOS 10.13.4

Steps to Reproduce:

1. I have this project opened in the editor: https://github.com/clarkio/ttv-chat-light
2. In `src/index.js` I see the ellipsis show up on line 1 for the `tmi.js` module and the hint indicates it can be converted to an ES6 module. However, the editor doesn't always show the light bulb to make

[2018-04-12 18:36] RKopczynski opened #47773 "Auto-import not prompt with node packages and new classes"
- VSCode Version: 1.22.1
- OS Version: Windows 10

Steps to Reproduce:

Working on Angular project. Recently when create new file/class and trying to reference it in another module or whatever, shortcut CTRL + Space show absolutely nothing reasonable:
![image](https://user-images.githubusercontent.com/11996103/38696706-3c618ad8-3e90-11e8-9194-b1e299e2b0d3.png)

Same goes to npm modules. When tryin

[2018-04-12 18:45] dgriffen commented on #46192
@IlyaBiryukov currently the \\terminal APIs don't have any way to report or control the size. The size is set to the maximum possible upon creation and adjusted as needed. Size adjustments are send into node-pty as a backend so I imagine there is some way for the launched terminal process to access that information.

[2018-04-12 18:53] tacticalfinance commented on #46616
if you are using JuanBlanco.solidity extension, Solium is the default linter supported by the extension  and you can configure it using the following user settings:

    "solidity.linter": "solium",
    "solidity.soliumRules": {
        "quotes": ["error", "double"],
        "indentation": ["error", 2]
    }

[2018-04-12 18:55] mjbvz commented on #47720
Duplicate of #36169

[2018-04-12 18:55] #47720 closed

[2018-04-12 19:01] ucirello commented on #46315
The point is that separated fields for inclusion/exclusion provided the perfect middle-way between exclusions needed once (thus combining inclusions and exclusions ad-hoc is fine), and exclusions that you know you will never care about (like .git and friends).

Perhaps, the use case to understand what is lost is the interaction between your code and your vendor code.

You know often you don't want

[2018-04-12 19:03] roblourens opened #47774 "Need a way to get logs from the DA when there is no explicit launch config"
There is no way to set 'trace' when there is no launch config set, like when using auto attach. I can always have the user create a launch config for debugging, but it would be easier if they could set a setting which would enable tracing.

cc @weinand

[2018-04-12 19:06] DanTup commented on #34026
@isidorn I haven't contributed any real code before, do I need to (and if so, are there instructions on how to) run Code from source? (I checked [contributing.md](https://github.com/Microsoft/vscode/blob/master/CONTRIBUTING.md) but it doesn't seem to cover it). Also, are there automated tests around this sort of functionality I could extend?

[2018-04-12 19:09] roblourens commented on #46315
The previous two comments are the motivation behind the "Use Exclude Settings and Ignore Files" button - it provides an easy way to do a quick search in folders that are normally excluded. Does anyone use that?

[2018-04-12 19:10] octref opened #47775 "Allow contributions of custom CSS properties to CSS extension"
The motivation is that today, css Language Service would suggest that you have invalid properties.

https://github.com/Microsoft/vscode-css-languageservice/issues/68

![image](https://user-images.githubusercontent.com/4033249/38698501-2039f44e-3e4a-11e8-88a6-2a67818052f8.png)

Although by adopting [MDN data](https://github.com/Microsoft/vscode-css-languageservice/issues/68) we should solve the pro

[2018-04-12 19:15] zfeher commented on #47731
The same happens with javascript files as well. The cursor disappears and if you press up/down arrow around the saving it may jump to the end of the file which is really annoying. Here we are using prettier which worked with previos version well.

[2018-04-12 19:18] MrHuds0n opened #47776 "I/O error on trying to launch from Albert/dmenu"
- VSCode Version: 1.22.1
- OS Version: elementary OS 0.4 Loki

Steps to Reproduce:

1. Launch VSCode from albert or dmenu twice.

Does this issue occur when all extensions are disabled?: Yes

[code]

[2018-04-12 19:25] scottsb commented on #46315
I never use that button because there are some files I do always want to ignore. Those are the ones that in my settings. The items in the dedicated exclude box are the ones that I may pull in and out--and not in a simple binary all-on or all-off way.

[2018-04-12 19:36] kevintbrown commented on #33161
Seeing the same issue on VisualStudio.com which also uses the Monaco editor.

https://developercommunity.visualstudio.com/content/problem/230720/unable-to-select-text-from-removed-lines-in-pr-inl.html?childToView=233033#comment-233033

[2018-04-12 20:09] youurayy commented on #38516
Initial Electron debug & issue created: https://github.com/electron/electron/issues/12606

[2018-04-12 20:15] youurayy commented on #38516
@squareduck if you could add a reproduction to that Electron issue with the Window-switcher you are using, it may be easier than what I provided (I assume)

[2018-04-12 20:18] scottbickell commented on #46945
Here's how it is supposed to work:
![ny-screenshot](https://user-images.githubusercontent.com/6173095/38701876-4d08c0ce-3e5c-11e8-9527-4a0ec8b6ef21.gif)

[2018-04-12 20:26] aeschli commented on #46322
The schema validation happens here:
https://github.com/Microsoft/vscode-json-languageservice/blob/131bfca1bf2ad90616ea6ecf720a27d01ca58e0a/src/parser/jsonParser.ts#L423

[2018-04-12 20:43] OneOfOne commented on #17627
This is kinda important :-/

[2018-04-12 20:47] SlurpTheo commented on #47382
FYI: I was getting this for TypeScript (`*.ts`) files too, but it appears fixed in 1.22.2 as well.

[2018-04-12 20:48] aeschli commented on #46322
Here's an example of a test:
https://github.com/Microsoft/vscode-json-languageservice/blob/131bfca1bf2ad90616ea6ecf720a27d01ca58e0a/src/test/parser.test.ts#L435

The easiest is to develop this using the tests.
- check out the `vscode-json-languageservice` repo, `npm install`
- `npm run test` to compile and run tests
- to debug, open the folding in VSCode and run the `Unit Test` launch config

[2018-04-12 20:55] augustincalin commented on #3451
For Raspberry Pi 3 B+
First find libxcb.so.1 location ( for me this is /usr/lib/arm-linux-gnueabihf )
Then:
[code]

[2018-04-12 20:58] jdobner commented on #534
Without this, vscode is really difficult to use in a locked-down environment.  I think this is critical

[2018-04-12 20:58] fmal commented on #47752
@jzr1991 turns out you need to also set `workbench.editor.tabCloseButton` to `off` to reproduce, by default dirty indicator background is applied to `a.close-editor-action`, but when you disable close button it's set directly on the tab element and thus get's overriden. I will open up a PR.

[2018-04-12 20:59] auchenberg opened #47777 "New LogPoint action missing from debug menu"
<img width="621" alt="screen shot 2018-04-12 at 1 58 13 pm" src="https://user-images.githubusercontent.com/173559/38703987-b1522c80-3e59-11e8-8cb5-f9e9f28f0fed.png">

[2018-04-12 21:03] jwin742 opened #47778 "Failed to install VS Code update. Please download and reinstall VS Code. os error 145"
Issue Type: <b>Bug</b>

I manually initiated an update to the latest version of VS code using the cog wheel menu.
It started using the new background updater and seemed to work fine.
I clicked on the prompt to restart VS Code
I received an error Saying "Failed to install VS Code update. Please download and reinstall VS Code."
I clicked through the error and the vs code icon on my task bar was now

[2018-04-12 21:05] jwin742 commented on #47778
I do not think this is a duplicate issue as they are using an insider build and got a different error in vscode-inno-updater.log They also did not experience VS code being uninstalled.

[2018-04-12 21:07] roblourens opened #47779 "Node debug config provider doesn't work?"
- Start with --disable-extensions
- Open the smoketest repo
- "Select environment" popup appears, and is empty
- Press esc
- Opens settings for some reason

If I start with extensions enabled, I see other extensions but not node.

Also, if I click the "configure or open launch.json" button, it just opens the settings editor. Related issue or different?

[2018-04-12 21:12] roblourens commented on #46945
I think it's tracked by https://github.com/Microsoft/vscode/issues/4795#issuecomment-346622659

[2018-04-12 21:22] bobderrico opened #47780 "Cannot move tab from one pane to another via drag and drop"
- VSCode Version: 1.22.2
- OS Version: macOS Siera 10.12.6

Steps to Reproduce:

1. Open a file in the editor
2. Drag the tab of the file to the desired group (for example, moving it into the right group)
3. Release the mouse button. State does not change after releasing mouse button (ie, cursor still show tab under it, file does not move to next group). The only way out of this state is to hit es

[2018-04-12 21:28] ssrballin commented on #16222
+1

[2018-04-12 21:48] shanalikhan opened #47782 "Need contributors for Settings Sync Extension"
This is not an issue but might help the visitors here whoever want to contribute on extensions.

I'm looking for contributors for my Extension "Settings Sync".

To make it one solution, there is still alot of pending work needs to be done like integration with GitLab like Github, backup/ restore using file system and much more.

If anyone wants to contribute, do let me know we can have skype sessi

[2018-04-12 21:55] lukaszpolowczyk opened #47783 "Command - Undo Replace All"
In Search Panel should be button "Undo Replace All", whitch undo all "replaced" changes in all files.
Should to be work like standard undo function, but only for files whitch "Replace All" made a changes.

It looks something simple to introduce. Am I right?

[2018-04-12 21:56] weinand commented on #47779
@roblourens I cannot reproduce this with Stable or Insiders.

[2018-04-12 21:57] lukaszpolowczyk commented on #47783
Bot, as usual, will look for something that has nothing to do with my entry ...

[2018-04-12 22:25] anthonydresser opened #47784 "Unable to clone vscode"
- VSCode Version: master d4e1aeb860b7a1db0822e5493556d3bd4a5ae981
- OS Version: Windows

Steps to Reproduce:

1. Clone a new repo

When attempting to clone the vscode repo I get the following error,

![image](https://user-images.githubusercontent.com/4324725/38707274-9ba783ba-3e65-11e8-8934-eeb7f7819319.png)

Looks like its caused by git not being able to create the following file.

![image](https

[2018-04-12 22:28] tolgabalci commented on #5770
Maybe what's shown in #5770 works fine for tiny changes, however it is a poor experience for large changes and you really need a 3 or 4 pane experience to do this properly.

I currently use Visual Studio (proper) as the MERGE/DIFF tool and MELD when Visual Studio (proper) is not installed.  These get the job done, but it would be great to be able to edit the code with the same tool that was used t

[2018-04-12 22:29] mjbvz commented on #47579
Opened https://github.com/Microsoft/TypeScript/issues/23380 to track this upstream

Set `"typescript.experimental.syntaxFolding": false` to go back to the old indentation based folding

[2018-04-12 22:29] #47579 closed

[2018-04-12 22:32] mjbvz commented on #47679
This issue was moved to Microsoft/TypeScript#23381

[2018-04-12 22:32] #47679 closed

[2018-04-12 22:39] mjbvz commented on #47667
Try setting:

[code]

I've opened https://github.com/Microsoft/TypeScript/issues/23382 to track enabling folding of multiline template strings when using syntax aware folding

[2018-04-12 22:39] #47667 closed

[2018-04-12 22:41] alakameljebali opened #47786 "code.exe is deleted while update from 1.22.1 to 1.22.2"
- VSCode Version: 1.22.1
- OS Version: Windows 7 SP1 x64

Steps to Reproduce:
1. Update Microsoft VS Code from the menu
2. Waiting the update process to complete
3. Restart Microsoft VS Code
4. code.exe is deleted while update from 1.22.1 to 1.22.2

Does this issue occur when all extensions are disabled?: No

[2018-04-12 22:48] mjbvz commented on #47701
This issue was moved to Microsoft/TypeScript#23383

[2018-04-12 22:48] #47701 closed

[2018-04-12 22:50] #47784 closed

[2018-04-12 22:58] shizengzhou commented on #47710
@sutt Thank you.

[2018-04-12 23:03] mjbvz commented on #47670
Please share example code. What does the `Phaser` object look like? How is `Game` defined on it?

[2018-04-12 23:05] arb opened #47787 "Flickering Screen on 1.22.2"
- VSCode Version: 1.22.2
- OS Version: macOS 10.13.4

Steps to Reproduce:

1. Start 3 instances of VSC

Does this issue occur when all extensions are disabled?: *Yes*/No

When I have 3 instances of VSC open at a time; the screen starts flickering like crazy. I have attached a gif demonstrating the behavior. This just started after the update today to 1.22.2.

![vsc](https://user-images.githubuserc

[2018-04-12 23:06] ramya-rao-a commented on #47666
The fix is now out in the latest release 1.22.2

[2018-04-12 23:09] mjbvz commented on #47534
This is by-design. `retainContextWhenHidden` does not guarantee that the webview content itself will be kept alive when a webview is in the background, only that it will be correctly restored when the webview becomes visible again

Does your webview need to be stateful?

[2018-04-12 23:12] mjbvz commented on #47479
Does this happen when all extensions are disable?

Also, please reproduce the problem and then share the output of running `$ code --status`  in a separate terminal

[2018-04-12 23:39] mjbvz commented on #47772
Thanks. Opened https://github.com/Microsoft/TypeScript/issues/23387 to track this upstream

[2018-04-12 23:39] #47772 closed

[2018-04-12 23:49] #44334 closed

[2018-04-12 23:56] IlyaBiryukov commented on #9049
Ideally, the search API should match [SearchProvider](https://github.com/Microsoft/vscode/blob/b21e8d48fbe8367a45222f369154bb1da572d2d1/src/vs/vscode.proposed.d.ts#L325) API. Though, instead of registering a new search provider, the goal here is to be able to call it and get the search results. And that should work with the default provider that VSCode implements, when nobody else has actually reg

[2018-04-12 23:56] IlyaBiryukov commented on #9049
@jrieken when do you think it can land into VSCode?

[2018-04-13 00:04] otri opened #47789 "Can't Refactor C# Member Variable"
Issue Type: <b>Bug</b>

I can't seem to refactor (F2) any of my C# class member variables in this release.

VS Code version: Code 1.22.2 (3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9, 2018-04-12T16:32:53.389Z)
OS version: Darwin x64 16.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6700K CPU @ 4.00GHz (8 x 4000)|
|Load (avg)|2, 2, 2|
|Memory (System)|3

[2018-04-13 00:11] otri commented on #47789
I get this odd thing on the OmniSharp Log:
[code]

[2018-04-13 00:13] otri commented on #47789
Seems related to this bug report:
https://github.com/OmniSharp/omnisharp-vscode/issues/1793

[2018-04-13 00:52] johndugan commented on #13665
Another Samba user here. I have two workflows - If I'm remote, I work with a Debian VM on Hyper-V (on my laptop). If I am at my desk, I work with a Debian VM on a VMware server that has better hardware.

In both cases, the Git features in code have very poor performance. Search is fairly performant though.

[2018-04-13 01:03] aaaaeinai opened #47791 "Editing a folder and make it a nested folders"
I suggest editing `src` folder and rename it to `src/main/java/hello`:

from
[code]

to
[code]

Currently these are what I got

![edit-folder](https://user-images.githubusercontent.com/27877342/38711607-468d4a6a-3ef9-11e8-977e-7402d37ebbd5.png)

![unable](https://user-images.githubusercontent.com/27877342/38711629-650e6884-3ef9-11e8-92e2-2e4c472bf82b.png)

[2018-04-13 01:10] michael-hawker commented on #45155
This still repros for me on 1.22.1:

![image](https://user-images.githubusercontent.com/24302614/38711770-89cdc480-3e7c-11e8-9421-22b459f13979.png)

If I open a parent folder, then it works.  But if I just have a single markdown folder opened in the editor (as per the original repro steps), it fails to load the image.

[2018-04-13 01:15] vikyd opened #47792 "What is OSS build? What is OSS short for?"
What is OSS build? What is OSS short for?

[2018-04-13 01:21] vivekbwaj opened #47793 "Are there any plans for building extension for casperjs . I am using backstopjs for visual regression which uses casperjs"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2018-04-13 01:38] WkRPcoN opened #47794 "top menu bar broken after update to 1.2.2"
Issue Type: <b>Bug</b>

When VSCode is maximised, the menubar disappears. The window minimize, restore and close buttons no longer work in this state.

Using the windows keyboard shortcuts restore the window (ie change window from full-screen to resizable window) restores the menu bar and the application works expected.

Also identified that if the application is moved to another monitor whilst in

[2018-04-13 01:39] navono commented on #47568
brief description:

I think this is not a problem, I also met this situation.

[2018-04-13 01:45] roblourens commented on #47779
I can repro in both, and on a Linux VM.

If I reload the window then trigger/esc multiple times, I sometimes see Node.js appear after a few iterations. I think it's showing the popup without wiating for the extension to finish activating.

[2018-04-13 01:46] iceblove opened #47795 "plugin ‘markdown-pdf’ error when open vscode"
Issue Type: <b>Bug</b>

When I open vscode 1.22.2, it pop up a bubble at the bottom right corner, and tell me something error on a plugin "markdown-pdf", which is totally OK last time I used yesterday.

The detaili as follow:

ERROR: "npm rebuild phantomjs-prebuilt"

Command failed: npm rebuild phantomjs-prebuilt
npm WARN package.json dom-serializer@0.1.0 No readme data.
npm WARN package.json estr

[2018-04-13 01:46] Crazy-P commented on #46315
Do you perhaps mean this one?

![image](https://user-images.githubusercontent.com/9751950/38712574-36f726ba-3eff-11e8-98d5-411b202a38d0.png)

Then yes, I have tried that one. The button does nothing at all. ( Or I am just too silly to know how to use it)

![image](https://user-images.githubusercontent.com/9751950/38712584-504d0940-3eff-11e8-8d18-dedf6ca62665.png)

When removed the exclude filter:

[2018-04-13 01:49] tdgleason commented on #534
Not having the "Open with Code" in the context menu of files/folders for explorer and the "code" command in powershell/console is awful!

My company gave me a domain account that I use for development...I can install software on my machine with the local machine admin account.

The Vscode install installs the contextmenus/etc under the local machine admin account only.  No matter how you try.  Ope

[2018-04-13 01:54] roblourens commented on #46315
The button disables the patterns in your search.exclude/files.exclude settings, and turns off excluding files that a .gitignore file matches. Patterns in the text box will still be applied.

[2018-04-13 01:58] Crazy-P commented on #46315
Alright. That explains why I never felt anything when using that button.

But then what is ur connection/reference with ur comment here and that button?

[2018-04-13 01:59] Marus commented on #47534
It would certainly be better for it to be stateful (and even better were it able to receive messages while in the background). With the current versions I end up storing all of the data collected in memory and when the previewHTML content is reloaded as it always is I reconnect to the WebSocket server I create in the extension and it reloads, processes and graphs all the data that has been collect

[2018-04-13 02:32] jcrben commented on #25661
As I noted over at https://github.com/Microsoft/vscode/issues/15140#issuecomment-304574987 Sublime and Atom make snippet authoring much nicer (note that many people agreed with reactions)

[2018-04-13 02:32] thoamsy opened #47796 "Two Bugs in Organize Import Feature"
Issue Type: <b>Bug</b>

## Lost import alias
Like the below code
[code]
If I use the `Organize Import`, the `HashRouter as Router` will be remove.
[code]

Update: duplicate, please ignore it. 😅

## Can't organize unsave code
When I write some new import statement, but it not yet saved.
The `Organize Import` can't organize the new statement.
I think, you can provide a setting: **Save file before or

[2018-04-13 02:56] brsanthu opened #47797 "Tabs in Terminal Window"
Issue Type: <b>Feature Request</b>

It would be awesome if all terminal windows are row of sub-tabs under main tab row (terminal, problems, debug etc). This way, we can easily navigate to tab we are looking for.

VS Code version: Code 1.22.2 (3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9, 2018-04-12T16:32:53.389Z)
OS version: Darwin x64 17.4.0

[2018-04-13 03:29] mjbvz commented on #47735
This issue was moved to Microsoft/TypeScript#23390

[2018-04-13 03:29] #47735 closed

[2018-04-13 03:32] mjbvz commented on #47696
JavaScript and TypeScript treat `.` as a commit character that accepts the current suggestion. This helps you write dot accessors more quickly.

To disable this behavior, set:

[code]

[2018-04-13 03:32] #47696 closed

[2018-04-13 03:38] mjbvz commented on #47619
Try using `"module": "system"` in your `jsconfig.json`:

[code]

[2018-04-13 03:38] #47619 closed

[2018-04-13 03:38] #47581 closed

[2018-04-13 03:39] mjbvz commented on #47458
This issue was moved to Microsoft/TypeScript#23391

[2018-04-13 03:39] #47458 closed

[2018-04-13 03:47] thoamsy commented on #47796
It's my fault 😞, I don't know

My habits is write some import statements first, and use them later.

Close.

[2018-04-13 03:47] #47796 closed

[2018-04-13 03:47] zzh3319 opened #47798 "emmet conflict？"
i input  div  use emmet    it auto change to  <i class="devicons devicons-vim"></i>

how can i  input div  it atuo change to <div><div> ?

[2018-04-13 04:02] roblourens opened #47799 "Image editor is not centered in Centered Layout"
- Toggle Centered Layout
- Open an image
- It is narrow and pushed to the left. Should be centered, or immune to Centered Layout

[2018-04-13 04:13] roblourens commented on #46315
The idea is that if you have patterns that you want to often exclude, but sometimes quickly disable to search in those folders, you could keep those patterns in your `search.exclude` setting normally and use the button to toggle them off.

This doesn't solve every possible case but I think it helps a lot. The case of searching in the vendor directory sounds similar to my case of searching in node_

[2018-04-13 04:33] pingshunhuang opened #47800 "add remote branches into git delete command"
Please add remote branches into git delete command. Currently, only local branch can be deleted...

[2018-04-13 04:48] Yogeeshvh commented on #47736
it happens randomly to different files and also for multiple projects. I had to use different editor just to save the file by copying and pasting

[2018-04-13 04:57] garyking commented on #46138
I'm re-opening this, because I notice that the method suggested only works if I'm re-opening a closed workspace. But if the window is not a workspace, then I can't restore it with the tabs that it had open.

[2018-04-13 05:01] ntnbst commented on #47638
Oh, Yup!! Thanks.

[2018-04-13 05:01] #47638 closed

[2018-04-13 05:07] changan1995 commented on #2686
Same issue, but actually my problem is how to debug several executable file in same window/ multiple windows. Like I have multiple debugging targets between client and server, I assume different instance can allow me debug them at the same time...

[2018-04-13 05:23] vscodeerrors opened #47801 "Cannot read property 'length' of null"
Issue Id: <b>fe72754c-6322-d34b-f666-0c30d5cb1220</b><br /><br />*Versions* <br />- 1.22.1<br />-  1642bc6cfefaf5a24cba791dc81177427794c948<br />-  6b4d53cdab8bcae1eaaa4934d93c077319b573db<br />-  762a3f68106d03a6d033dfd7a28ae8dee5977842<br />*Stack* <br />TypeError: Cannot read property 'length' of null<br />[/vs/base/browser/ui/list/listView.ts#216:20 (length)](https://github.com/microsoft/vscod

[2018-04-13 05:26] GanLuo96214 opened #47802 "there are not active source control provides"
Issue Type: <b>Bug</b>

when i first time install vscode (i don't install xcode or command line tools at that time), I opened a GIT extension (and it doesn't show on extension list),I disable it. How did I enable it.

VS Code version: Code 1.22.2 (3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9, 2018-04-12T16:32:53.389Z)
OS version: Darwin x64 17.5.0

<details>
<summary>System Info</summary>

|Item|Value

[2018-04-13 05:26] markeissler commented on #47673
I'm closing this issue as I'm not able to replicate 24hrs later. Not sure what's going on here although I did notice 1.22.2 has been released in the meantime, and auto-installed on my system.

[2018-04-13 05:26] #47673 closed

[2018-04-13 05:27] ferrao commented on #47619
Amazing, after so much trouble, having that simple `jsconfig.json` file actually makes it work!!!!! @mjbvz, can you explain why?

[2018-04-13 05:33] #47752 closed

[2018-04-13 05:42] Ashu131 opened #47804 "Unable to update VsCode"
- VSCode Version: 1.22.2
- OS Version: Windows 7 Ultimate
When I tried to update my vscode today. Update process throws an error, log file and uninstalled from my system.

[vscode-inno-updater.log](https://github.com/Microsoft/vscode/files/1905927/vscode-inno-updater.log)

[2018-04-13 05:43] ramya-rao-a commented on #47719
Good catch, thanks for reporting. Will push a fix soon

[2018-04-13 05:45] ramya-rao-a commented on #47712
This is most likely due to the time taken by the html language server in providing completions

[2018-04-13 05:47] bryce-s commented on #47586
#47803
I gave this a shot! Titles in the PR are as follows:

``Details`` -> ``Extension details``
``Contributions`` -> ``Extension modifications``
``Changelog`` -> ``Extension change history``
``Dependencies`` -> ``Extension dependencies``

[2018-04-13 06:03] gylidian opened #47805 "Extension Folder"
Issue Type: <b>Feature Request</b>

Sorry, my English is so pool.

I want to ask whether there exists one function that can collate the extensions.

I installed so many extensions, but they are in a mess. They look so terrible.
Can I put them into some folders and centrally manage them?????

Please!!!!!!!!!

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:4

[2018-04-13 06:13] luanft commented on #47712
Hi @ramya-rao-a,
There is any solution for this problem?

[2018-04-13 06:25] martanec commented on #47804
same issue
[vscode-inno-updater.log](https://github.com/Microsoft/vscode/files/1906065/vscode-inno-updater.log)

[2018-04-13 06:33] weinand commented on #47789
Please file this issues against the C# extension.

[2018-04-13 06:33] #47789 closed

[2018-04-13 06:37] weinand commented on #2686
@changan1995 since VS Code supports concurrent debug sessions, you can debug "several executable file" in one VS Code window at the same.

[2018-04-13 06:41] jrieken commented on #47615
@Tyriar Is something like `activeTerminal` in reach?

[2018-04-13 06:43] aeschli commented on #47712
@luanft Any chance you can share that document?

[2018-04-13 06:46] joaomoreno commented on #47485
Can you show me your full user settings?

[2018-04-13 06:51] Corps-Yan opened #47806 "按键查找"
Issue Type: <b>Feature Request</b>

在资源管理器里为什么没有按字母查找文件的功能呢，文件很多时，没有这个功能很头痛啊啊啊啊

VS Code version: Code 1.22.2 (3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9, 2018-04-12T16:38:45.278Z)
OS version: Windows_NT x64 6.1.7601

[2018-04-13 06:51] luanft commented on #47712
Yes. Please find the attachment. I hope it is useful
[view_design_detail_simple.zip](https://github.com/Microsoft/vscode/files/1906135/view_design_detail_simple.zip)

[2018-04-13 06:59] #47741 closed

[2018-04-13 07:00] joaomoreno commented on #47732
Can you reproduce with `--disable-extensions`?

[2018-04-13 07:02] joaomoreno commented on #47723
You can always disable format on save. If a formatter is incorrect, please narrow it down to which language. Then, file an issue on that language's project repository.

[2018-04-13 07:02] #47723 closed

[2018-04-13 07:03] joaomoreno commented on #44316
Can you provide a screenshot of the issue?

[2018-04-13 07:05] joaomoreno commented on #47756
You can always clear that keybinding:

![image](https://user-images.githubusercontent.com/22350/38721253-b1707172-3ef9-11e8-8e04-16e2990fa5e5.png)

[2018-04-13 07:05] #47756 closed

[2018-04-13 07:06] joaomoreno commented on #47806
This issue was closed because it doesn't meet our standards of a properly filled issue. Please read our guide about [Submitting Bugs and Suggestions](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions).

[2018-04-13 07:06] #47806 closed

[2018-04-13 07:07] joaomoreno commented on #47805
There is a search filter. There are also category filters. What do you mean by "manage" them? What do you want to do with them?

[2018-04-13 07:09] joaomoreno commented on #47802
![image](https://user-images.githubusercontent.com/22350/38721395-50a88bbc-3efa-11e8-80e8-f762088e6ec6.png)

[2018-04-13 07:09] #47802 closed

[2018-04-13 07:10] #47793 closed

[2018-04-13 07:10] joaomoreno commented on #47792
Open Source Software

[2018-04-13 07:10] #47792 closed

[2018-04-13 07:11] joaomoreno commented on #47786
Can you fully reinstall Code?

[2018-04-13 07:12] bpasero commented on #47750
@aligajani this list should reflect the contents of File > Open Recent. You can remove recently opened individual entries from the picker (Ctrl+Shift+R) but it might require a restart. Can you try?

[2018-04-13 07:12] AlexBillonBert commented on #1012
I really miss this feature.
Even if the extension looks great, I feel this should be a native feature of the text editor !

[2018-04-13 07:12] gylidian commented on #47805
@joaomoreno just like 'drag files to folders'
i hope to drag some extensions to some folder to  make them intuitive and easy to manage

[2018-04-13 07:13] joaomoreno commented on #47782
https://github.com/Microsoft/vscode/wiki/Feedback-Channels

Please try Gitter, Slack or Twitter for this.

[2018-04-13 07:13] #47782 closed

[2018-04-13 07:14] joaomoreno commented on #47778
Thanks for the issue!

Same as #47804

[2018-04-13 07:14] #47778 closed

[2018-04-13 07:15] bpasero commented on #47794
@WkRPcoN you can control the visibility of the menu bar when in fullscreen mode by configuring `window.menuBarVisibility: visible`. Does that work?

[2018-04-13 07:16] joaomoreno commented on #47761
@chrmarti The bot is going crazy with those `D` issues.

[2018-04-13 07:16] joaomoreno commented on #47761
/duplicate #2743

[2018-04-13 07:16] #47761 closed

[2018-04-13 07:16] bpasero commented on #47780
@bobderrico can you record a screencast how that works for you?

[2018-04-13 07:17] bpasero commented on #47776
@Tyriar seen this before?

[2018-04-13 07:17] joaomoreno commented on #47805
But why? Once they are sorted by "folders", how does that help you?

[2018-04-13 07:25] joaomoreno commented on #47690
Yeah... unfortunately that's expected behaviour.

[2018-04-13 07:25] #47690 closed

[2018-04-13 07:26] joaomoreno commented on #47716
OK let's focus on TypeScript.

[2018-04-13 07:26] aeschli opened #47808 "Finalize folding providers"
- [x] finish vscode.proposed.d.ts folding provider API and make it public
- [x] uncomment monaco API
- [x] comment on #3422
- [x] polish LSP proposed API (https://www.npmjs.com/package/vscode-languageserver-protocol-foldingprovider)
- [x] move json folding impl to vscode-json-languageservice
- [x] move html folding impl to vscode-json-languageservice

[2018-04-13 07:26] WkRPcoN commented on #47794
The setting was originally set as default. Changing the setting to visible
had no effect, the bug was still present. See attached screenshot.

On Fri, Apr 13, 2018 at 5:16 PM, Benjamin Pasero <notifications@github.com>
wrote:

[2018-04-13 07:27] joaomoreno commented on #47347
Interesting.

My two cents: just don't create such branches.

[2018-04-13 07:27] #47347 closed

[2018-04-13 07:27] WkRPcoN commented on #47794
![image](https://user-images.githubusercontent.com/38337596/38722018-e396c462-3f3f-11e8-91ba-85bd82e158fd.png)

[2018-04-13 07:28] joaomoreno commented on #47729
That is how git works. https://git-scm.com/book/en/v2/Getting-Started-Git-Basics

[2018-04-13 07:28] #47729 closed

[2018-04-13 07:28] #47488 closed

[2018-04-13 07:30] joaomoreno commented on #47684
What if you run `process.lazyEnv.then(r => console.log(r), err => console.error(err))`?

[2018-04-13 07:31] crapthings commented on #42692
i just want a file scope suggestion, how can i do this?

my settings

[code]

but nothing happend

[2018-04-13 07:31] joaomoreno commented on #47336
VS Code spawns git in order to know which state the git repository is at. Spawning many times is OK. They should just not all be running at the same time. Are they?

[2018-04-13 07:34] joaomoreno commented on #47743
Great bug!

[2018-04-13 07:34] jaywick commented on #47485
[code]

[2018-04-13 07:34] joaomoreno commented on #47611
@pedritin91 Can you check the hash of your vsix file?

[2018-04-13 07:35] joaomoreno commented on #47800
Please use the command line for that operation, or use an extension for that feature.

[2018-04-13 07:35] #47800 closed

[2018-04-13 07:36] Corps-Yan opened #47809 "Easier to navigate to files"
Issue Type: <b>Feature Request</b>

Ctrl+P is too trouble , i need navigate through explorer by typing start of file/folder name!!!

VS Code version: Code 1.22.2 (3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9, 2018-04-12T16:38:45.278Z)
OS version: Windows_NT x64 6.1.7601

[2018-04-13 07:36] EricWong1992 commented on #47415
I have checked all my extensions, and found that luaide-lite 0.1.5 takes a lot of memory for parsing all my lua files.  Memory usage reduced from 16% to 7% when I disable this extension. Thank you guys.

[2018-04-13 07:36] #47415 closed

[2018-04-13 07:36] Corps-Yan commented on #10026
Still not implemented!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2018-04-13 07:41] Legends commented on #47690
Thanks!

[2018-04-13 07:48] DanielFloris opened #47810 "Source Control:Git and Git in Terminal out of Sync."
- VSCode Version:1.22.2
- OS Version:Windows 7 Pro

Steps to Reproduce:
I don't know how to reproduce, I've set up a new local git repo with 4 files. Using terminal, git status says up to date. Source control reports all 4 files are modified. Committing using Source Control makes Git in the Terminal report that all files are modified.

Switching branches in the Terminal is correctly reflected in t

[2018-04-13 08:05] wenkeming commented on #47804
same issue with Windows 10
<img width="467" alt="default" src="https://user-images.githubusercontent.com/8252267/38723669-668077e4-3f34-11e8-8bf4-69a752e9efad.png">

[2018-04-13 08:15] dbaeumer commented on #47568
How did you get the errors in the first place. By running a ESLint task or by opening the file and closing it.

[2018-04-13 08:22] motuvr opened #47811 "Newbie learning how to contribute and build from open source"
**[A quick and easy way to make your first open source contribution]**(https://opensource.com/article/18/3/First-Contributions-project?utm_campaign=intrel)

**[Getting started with Vagrant]**(https://opensource.com/article/18/4/getting-started-vagrant)

[2018-04-13 08:32] dbaeumer commented on #47764
This works for me without any problems.

![capture](https://user-images.githubusercontent.com/1931590/38724904-e12199a8-3f05-11e8-99e8-016cf2efa31a.png)

Can you provide me with a GitHub repository that I can clone to reproduce your problem.

--task-simple & --no-color are command line args for gulp to list available task in a simple format with coloring.

[2018-04-13 08:33] faktycznie commented on #22257
A possibility to set 'Collapse all' option as default (in settings) would be very helpful :)

[2018-04-13 08:35] arunAtCSGI commented on #47804
Same Issue
[vscode-inno-updater.log](https://github.com/Microsoft/vscode/files/1906516/vscode-inno-updater.log)

[2018-04-13 08:35] justelad opened #47812 "Feature request: remember multiple open windows on relaunch"
Hi,

I'd like to make a feature request.
Right now when having multiple windows open with different folders loaded in them - only one of them gets relaunched on reopen.
I think that the desired behaviour should be that all windows get reopened with their last state remembered.

Thoughts?

[2018-04-13 08:36] Deepfat opened #47813 "Spell check etc. for working with Markdown"
we have a lot of documentation to write up in Markdown and it is a real challenge to use VSCode as an editor.  Of course I coule just use Word but then.  I see that a company has developed [Writage](http://www.writage.com/) to do this in Word but it feels more sensible to augment VSCode to do this as we'll be using VSCode for everything else in a project

[2018-04-13 08:38] dbaeumer commented on #47707
This works for me as well for "shared" tasks. Any additional steps you can provide. Best would be a GitHub repository that I can clone that demos the problem.

[2018-04-13 08:41] lavandongen commented on #26820
Still an issue as of today :/ not cool. Code runs a lot better on my low-end hardware, but this and many other autocomplete bugs/features just totally ruin my coding experience. Switching back to Atom for now where this behaviour is perfect.

Will see in a year or so if this has changed.

[2018-04-13 08:54] bpasero commented on #47794
@WkRPcoN that is a weird fullscreen mode, when I go fullscreen (View > Fullscreen) it looks like this:

![image](https://user-images.githubusercontent.com/900690/38725920-0a2d35b6-3f09-11e8-9f85-fac6ac228598.png)

Are you doing anything different?

[2018-04-13 09:01] gsbelarus opened #47814 "Feature request: paste and select pasted text"
Reason: sometimes there is a need to copy a block of text within the same file and replace some words within copied block.

Ctrl-Shift-V would be a good combination for the command.

[2018-04-13 09:06] JimmyBandell commented on #47674
![image](https://user-images.githubusercontent.com/23521863/38726507-aa990de4-3f0a-11e8-91f1-d5fb7bea4fd3.png)

[2018-04-13 09:06] fparedlo opened #47815 "Windows update failed: Failed to get process file name"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No
[vscode-inno-updater.log](https://github.com/Microsoft/vscode/files/1906646/vscode-inno-updater.log)

[code]

[2018-04-13 09:07] eslachance opened #47816 "Feature Request: Reload environment variables on new integrated terminal instance"
At the moment, if any environment variables change, or new "apps" are installed while VS Code is running, in order for those changes to be recognized VS Code needs to be closed and re-open.

For instance, when running `npm i -g <something>` or `choco install <package>` in another prompt or powershell window, those new commands are not recognized until the app is rebooted.

It would be great if add

[2018-04-13 09:07] #47588 closed

[2018-04-13 09:09] qiujie8092916 commented on #47568
after opening the file and closing it
@dbaeumer

[2018-04-13 09:09] alexandrudima commented on #47650
Google Translate:

@shulgin-egor What keyboard layout are you using ?

[2018-04-13 09:10] WkRPcoN commented on #47794
No nothing different. Just checked windows updates - there was a feature update automatically installed yesterday, and guess what happened when I made the windows update full-screen:

![image](https://user-images.githubusercontent.com/38337596/38726365-4fe569ae-3f4d-11e8-82cd-136cf288e326.png)

A transparent section at the top of the window the same size as in VSCode!

I now tested some additional

[2018-04-13 09:11] jrieken commented on #47592
Yes, please answer this question:  When you invoke IntelliSense after the w (or when just typing the w) what suggestion is preselected?

[2018-04-13 09:15] jrieken commented on #35460
done in e7e88126adb157ded7936bf385272675484571c2

[2018-04-13 09:15] #35460 closed

[2018-04-13 09:15] dobegor commented on #47592
The `wr` snippet one. However, as per settings:
[code]
It should not be completed when hitting tab.

[2018-04-13 09:17] isidorn commented on #46733
@roblourens this issue does not exist in the explorer becuase when you right click we focus the item
and in the explorer we only open the item on selection.

I see that the search behaves differently (you open on focus change) so you might need a custom solution since we always open on selection in other trees afaik.

[2018-04-13 09:19] alexandrudima commented on #47635
@sreekumarp I believe this is a duplicate of #47382. Is this something you can reproduce if you update to 1.22.2 ?

[2018-04-13 09:24] alexandrudima commented on #47703
@Jarrio Can you please create a separate issue where you can maybe provide in textual form the typescript file which would reproduce the issue.

[2018-04-13 09:26] Madd0g opened #47817 "High CPU usage when using multiple open editors (js/ts)"
- VSCode Version: 1.22.1
- OS Version: OSX 10.11.6

Steps to Reproduce:

1. Have multiple javascript/typescript projects open in multiple windows (I might have up to 6-7 open at a time), but this happens with 2 as well.
2. Get very high CPU usage from "Code Helper", switch between all the open VSCode windows and it stops, until the next time it happens.

Notes:

* Landing on "the right" VSCode win

[2018-04-13 09:26] alexandrudima commented on #47703
Yes, 7a3204ce57da60afba584629a801c897608329e1 which changes the revealing strategy to maintain/reveal the top most line in the viewport when code lens change (it used to be the centered line in the viewport).

We can bring up the check that if the original `scrollTop` is `0`, then don't do anything.

[2018-04-13 09:29] pke opened #47818 "Editor built-in linter complains about non empty rulesets"
I am reporting a bug where it claims an empty rule set, when it is not empty but contains dynamic prop replacement.

![](https://user-images.githubusercontent.com/164625/38709759-034670f6-3ebd-11e8-95b7-987491c10c37.png)

Stylelint does not complain on the command line about this.

[code]
What stylelint configuration is needed to reproduce this issue?

I am using the default configs:

"stylelint-c

[2018-04-13 09:30] #47703 closed

[2018-04-13 09:31] #47551 closed

[2018-04-13 09:31] alexandrudima commented on #46045
@lupuselit Can you please consider filing an issue against Electron at https://github.com/electron/electron

[2018-04-13 09:35] chetratep commented on #47656
It error both when I try to select either a few or more occurrent. Replacing also cause this error. it is not different.

[2018-04-13 09:37] Akeepers commented on #47709
There is a long content on one line with some similar words. I I divided it into several lines based on the word. After selecting all occurrances and press "enter", It works but the editor's width is not adjusted accordingly. It's like I deleted everything.

[2018-04-13 09:39] isidorn commented on #47585
@dbaeumer I have an explicit call to resolve "interactive variables" [here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/electron-browser/debugConfigurationManager.ts#L638)

The api is a bit ugly, so let me know if you tried it and does not work nicely so I can try to make it more general.

[2018-04-13 09:46] David-Else commented on #47813
I highly recommend https://marketplace.visualstudio.com/items?itemName=ban.spellright

[2018-04-13 09:49] jrieken commented on #47592
Sorry, I believe this was clear: "Generally, you shouldn't combine IntelliSense-as-you-type with snippet-tab-completion because they overlap."

It means there are *two* feature. Snippet-tab-expansion which works *without* the IntelliSense window visible and then there is IntelliSense which accepts the selected (visible) suggestion (must not be a snippet) when hitting tab. Use one of these settings

[2018-04-13 09:50] #47592 closed

[2018-04-13 09:51] hosaka commented on #10121
So the reference in the Iteration Plan #47369 is just a joke about getting a 4k monitor rather than a plan to support this?

[2018-04-13 09:56] konqui opened #47820 "Update failed"
- Version: 1.22.1
- Commit: 950b8b0d37a9b7061b6f0d291837ccc4015f5ecd
- Date: 2018-04-06T02:26:57.615Z
- Shell: 1.7.12
- Renderer: 58.0.3029.110
- Node: 7.9.0
- Architektur: x64

- OS Version: Windows 7, 64bit
- Installation Path: On second Harddrive not on System Disk C:\ just in case this may be an issue

Steps to Reproduce:

1. Buttom Left click on the `cogwheel` then on ` check for update`
2. I

[2018-04-13 09:57] midGitub opened #47821 "suggestion : add a keyword list of search history"
keep a  keyword list of search history and make it easy to turn to the previous search keyword state.

[2018-04-13 10:00] #47545 closed

[2018-04-13 10:07] bermanboris commented on #47787
I experience the problem even **without** full screen.

[2018-04-13 10:08] alexandrudima commented on #47710
Yes, for binding commands which involve `escape` or `enter`, you need to edit the `keybindings.json` file directly. Sorry about that, but we had to keep those for the most common use-case and, to be fair, they are pretty rarely edited by users.

As to the second question, we also bind `shift+escape` for everything for Screen Reader software. In some Screen Reader software, Escape is something that

[2018-04-13 10:09] #47710 closed

[2018-04-13 10:10] isidorn commented on #46886
That is by design of the breakpoints view since our first version.
It has fixed size and is docked to the bottom by default.

The downside of this is that currently breakpoints view is the only view that behaves like this

No other user complained about this so I am relucatant to change it. For now let's leave it as a feature request and only change if we get more feedback about this.

[2018-04-13 10:14] dbaeumer commented on #47585
@isidorn thanks

[2018-04-13 10:14] isidorn commented on #47027
Just tried and this works fine in Ubunto
We would probably accept a simple PR that fixes this for linux plasma
Code pointer https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/files/electron-browser/fileCommands.ts#L391

[2018-04-13 10:17] dbaeumer commented on #47568
Not good. Can you provide me with a GitHub repository I can clone and steps on how to reproduce. It doesn't reproduce for me locally.

[2018-04-13 10:25] danielo515 commented on #47299
This is very annoying. From release to release VSCode team keeps adding opinionated features that can not be disabled without a totall opt-out of many features that actually make vscode appealing.
I am a node-js developer, and I don't want to use ES6 syntax on imports neither on exports, there is more javascript apart from the browser and babel world.

This is not only a cosmetic thing, this avoid

[2018-04-13 10:28] qiujie8092916 commented on #47568
Is due to the config of my project?

[2018-04-13 10:28] coliff commented on #47813
I highly recommend: https://marketplace.visualstudio.com/items?itemName=streetsidesoftware.code-spell-checker.

[2018-04-13 10:35] isidorn commented on #46850
Yeah autoReveal: false is our current solution for this.
Closing as we do not plan to add another option similar to this one

[2018-04-13 10:35] #46850 closed

[2018-04-13 10:36] #47047 closed

[2018-04-13 10:38] isidorn commented on #47051
Currently you can navigate between views using the tab key
There are also commands to focus into explorer, or to focus into open editors group
However there is no command to navigate between contributed views -> assigning this to @sandy081 to decide if he wants to add this

[2018-04-13 10:41] isidorn commented on #34026
@DanTup https://github.com/Microsoft/vscode/wiki/How-to-Contribute
We do not have tests around link detection unfortunetly, so you would have to manually test it out

[2018-04-13 11:01] MetaFight commented on #46322
Excellent, thanks :)

[2018-04-13 11:08] gsbelarus commented on #47814
Also consider opening Replace window with Selected text option active. i.e. the command will do three actions in one:

1. paste block
2. select it
3. open window for a search-replace values

[2018-04-13 11:10] janbaltus opened #47822 "[loc]Request to add Slovak language to VS Code"
We expect at least three language contributors sign up and product team sign off before adding new language to Transifex. Please vote by adding your Transifex account name here in this issue (request).
How to request guide: https://github.com/Microsoft/Localization/wiki/How-to-request-a-new-UI-language-for-VS-Code-project

[2018-04-13 11:21] janbaltus opened #47823 "[loc]Request to add Belarusian (be) language to Transifex VS Code project"
We expect at least three language contributors sign up and product team sign off before adding new language to Transifex. Please vote by adding your Transifex account name here in this issue (request).
How to request guide: https://github.com/Microsoft/Localization/wiki/How-to-request-a-new-UI-language-for-VS-Code-project

[2018-04-13 11:23] janbaltus opened #47824 "[loc]Request to add Uzbek (uz) language to Transifex VS Code project"
We expect at least three language contributors sign up and product team sign off before adding new language to Transifex. Please vote by adding your Transifex account name here in this issue (request).
How to request guide: https://github.com/Microsoft/Localization/wiki/How-to-request-a-new-UI-language-for-VS-Code-project

[2018-04-13 11:25] janbaltus opened #47825 "[loc]Request to add Estonian (et) language to Transifex VS Code project"
We expect at least three language contributors sign up and product team sign off before adding new language to Transifex. Please vote by adding your Transifex account name here in this issue (request).
How to request guide: https://github.com/Microsoft/Localization/wiki/How-to-request-a-new-UI-language-for-VS-Code-project

[2018-04-13 11:26] janbaltus opened #47826 "[loc]Request to add Arabic (Syria) (ar_SY) language to Transifex VS Code project"
We expect at least three language contributors sign up and product team sign off before adding new language to Transifex. Please vote by adding your Transifex account name here in this issue (request).
How to request guide: https://github.com/Microsoft/Localization/wiki/How-to-request-a-new-UI-language-for-VS-Code-project

[2018-04-13 11:28] janbaltus opened #47827 "[loc]Request to add Tagalog (tl) language to Transifex VS Code project"
We expect at least three language contributors sign up and product team sign off before adding new language to Transifex. Please vote by adding your Transifex account name here in this issue (request).
How to request guide: https://github.com/Microsoft/Localization/wiki/How-to-request-a-new-UI-language-for-VS-Code-project

[2018-04-13 11:34] dennisfrostlander opened #47828 "Bad user experience when installing incompatible extension version using VSIX"
- VSCode Version: 1.21
- OS Version: Any

Steps to Reproduce:
1. Make an extension which specifies minimum required VSCode version 1.22
2. Build extension and install from VSIX using VSCode 1.21

Expected: a UI notification saying that Extension XXX requires VSCode version 1.22 or higher.

Actual result: no error/warning is shown in the VSCode UI telling the user that the extension requires a newe

[2018-04-13 11:41] cacioffolo opened #47829 "Promblem in Mavensmate: refresh file"
Issue Type: <b>Bug</b>

when in a salesforce class I make some changes, if wrong, when I do Mavensmate: Refresh File, the one I wrote is not deleted but I have to close the class and open it again.
it's something that bothers me a lot.

VS Code version: Code 1.22.2 (3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9, 2018-04-12T16:38:45.278Z)
OS version: Windows_NT x64 6.3.9600

<details>
<summary>System In

[2018-04-13 11:46] Nyalothas commented on #10952
+1 I was just working with Angular and...well.. this happened.

[2018-04-13 11:49] #46691 closed

[2018-04-13 11:49] #46002 closed

[2018-04-13 11:56] Jazcash commented on #47670
https://github.com/photonstorm/phaser-ce/blob/a5b1f59746c5577e40349f8c36387b8b53f7146a/typescript/phaser.d.ts#L1502

[2018-04-13 12:05] alantea opened #47830 "[loc][VSCode] Translation "Forward" in "zh_TW""
File name:
src/vs/code/electron-main/menus:English (en):plaintext:miForward

Source:
vs_code

Query:
This word is translated into "轉寄", but "轉寄" means in Chinese is usually used to send mail or send letter.
This should be translated as "下一步" would be better.

[2018-04-13 12:18] shizengzhou opened #47831 "The most specific keybinding does not win"
I bind `Escape` for `Close Panel`.
- Open the editor
- Press `Ctrl+F`
- Press `Escape`
The find widget is not be closed. I think it should be closed.
- Open the terminal and focuse it
- Press `Ctrl+F`
- Press `Escape`
The panel is closed. I think the find widget should be closed rather than the panel is closed.

VS Code version: Code - Insiders 1.23.0-insider (fe9d9532ea6264152c144bd2ba3a6db2cd173

[2018-04-13 12:27] karlhorky commented on #30770
I suppose there hasn't been any update on this one in the meantime, right? Tried searching a bit, but didn't see anything that could be a solution yet...

[2018-04-13 12:29] jrieken commented on #41543
As discussed - We should have methods that return streams (readable, writable) which return bytes or strings depending on the presence of a encoding. Maybe no encoding guessing in those methods?

[2018-04-13 12:39] isidorn commented on #45798
This is designed behavior. While an session is initalizing we do not allow more sessions to start.
After the initalizision is done (10 seconds in the attach case) we allow more debug sessions.

And that is what this issue is about, thus closing it as expected behavior.

If you think we should allow new sessions to be start while we are initialising please file a new feature request.
However people

[2018-04-13 12:39] #45798 closed

[2018-04-13 12:40] isidorn commented on #47643
Not a big fan of this, since then the prompt should also have an option to never ask again.
Feels a bit too heavy for me, the worst thing is that you have to re-enter the condition if you remove a bp by accident.

Do VS and VS for mac prompt?

[2018-04-13 12:42] weinand commented on #47643
I've discussed this with Erich and we both agreed that we want this.

[2018-04-13 12:45] GonziHere commented on #14909
Yeah, I am waiting for this as well. Even Visual Studio can do it with some hassle (drag file to start separate window, which you can split again = you can have multiple windows with multiple splits).

I absolutely need it when I need to see multiple files. Many people have requested it and many more will. Please, please, pretty please, implement it. It is incredibly useful on big screens.

[2018-04-13 12:48] rje6459 opened #47832 "Release Notes scroll up when switching back to tab"
Issue Type: <b>Bug</b>

I was switching between the release notes tab and a test document to try out the new Emmet: Wrap with abbreviation feature when I discovered that the Release Notes page would scroll up to the Find and Replace improvements for large files section, making it so that the Emmet: Wrap with abbreviation section was not visible. I thought it may have been because I was scrolled in

[2018-04-13 12:49] isidorn commented on #47021
Good catch that is an old heuristic that on debug restart we read the launch configuration from the `launch.json` only if that launch.json has been changed, otherwise we use what we have in memory.

In order to solve this properly we could:
* For each launch configuration listen on file events and each launch configuration would be aware if it got changed. Might be a bit ugly since the debug servi

[2018-04-13 12:53] ericpennachini opened #47833 "Error in VSCode update: log file attached"
- VSCode Version: 1.22.2
- OS Version: Windows 7

Steps to Reproduce:
**_Error occurred at the start of the update. Date: 2018-04-13_**
[vscode-inno-updater.log](https://github.com/Microsoft/vscode/files/1907398/vscode-inno-updater.log)

[2018-04-13 12:54] jrieken commented on #44846
I have pushed a change to the `vscode.executeCompletionItemProvider`-command that allows to pass an extra argument which denotes the number of items to resolve. This large numbers a slowdown is to be expected. For a sample see: https://github.com/Microsoft/vscode/blob/8973bea2ed78d82722b5f0d61c6fd201bd4c12b7/src/vs/workbench/test/electron-browser/api/extHostApiCommands.test.ts#L445

[2018-04-13 12:54] isidorn commented on #47643
Would you expect and "never prompt again" check or not?
If yes, would you write this in the user settings or in local storage? We usually write these things in settings so users can edit them, in case we decide to do that we need a name, for example `debug.confirmBreakpointRemove` which by default is true.

[2018-04-13 12:55] alexandrudima commented on #47733
@rebornix Here is another case where `getLineCharCode` is broken. It looks like the problem is either in `nodeAt2` or the way it is used in `getLineCharCode`. I have pushed a temporary fix for it, but can you please take a look.

[2018-04-13 12:56] Hobart2967 commented on #12453
+1

[2018-04-13 13:01] isidorn opened #47834 "Hover quickly disapears"
1. Open `editorGroupsControl.ts`
2. Add the following import
`import { BINARY_FILE_EDITOR_ID } from 'vs/workbench/parts/files/common/files';`
3. Notice there is a warning, hover over the warning, hover quickly disapears and I can not read it

[2018-04-13 13:02] alexandrudima commented on #47757
I could not reproduce, when I hit <kbd>ctrl</kbd>+<kbd>T</kbd> in the rename input text field I get the characters swapped in the input text field:

![kapture 2018-04-13 at 15 00 51](https://user-images.githubusercontent.com/5047891/38736180-87032f9c-3f2b-11e8-9965-47e20b2a6b87.gif)

[2018-04-13 13:04] cfjedimaster commented on #47643
I'd say write to settings so it's easy to reverse later on.

[2018-04-13 13:04] alexandrudima commented on #47758
@sharno Can you please give a very specific example, like a file which reproduces this consistently for you

[2018-04-13 13:07] weinand commented on #47021
The use case that triggered this was that a user edited a launch config and then aways restarted the debug session to pick up those changes.

Since we get the launch configurations via the configuration service, we should not really have to deal with file events ourselves. Isn't there a general mechanism provided by the configuration service that notifies us to update our in-memory model?

[2018-04-13 13:11] isidorn commented on #47021
I understand that use case, but it would be covered by always re-reading before launch. My question is the other way around, what use case is there so we do not read it?

You make a good point about the configuration service, and that is a good approach how to properly solve this on our end and not listen to file events.
However the only time a launch is actually read is when a debug session is st

[2018-04-13 13:12] #47799 closed

[2018-04-13 13:13] isidorn commented on #47799
I have solved this by not centering the binary editor.
@bpasero notice that I have moved all the editor type ids from `files.ts` to `editor.ts`
Currently they were spread in those two files which felt a bit shaky to me (I might ahve introduced this initially).
Let me know if you do not like them in editor.ts and we can figure out a different way to determine the type of an editor.

[2018-04-13 13:14] subbuatgithub commented on #47786
hi , i had same issue when i updated it, i think i work around i see is to copy all the content of 'C:\Program Files (x86)\Microsoft VS Code\_' to 'C:\Program Files (x86)\Microsoft VS Code\' (overwrite)

after upgrade i see code.exe is there in the strange folder '_' (underscore)

now i see vs code is up and running version is also point to 1.22.2

there must be a fix for this , but i see this as

[2018-04-13 13:15] ninrod commented on #28126
I propose that this "somewhere" could eventually be in some standard socket directory like `/var/run/code/*.sock`.

[2018-04-13 13:15] lukemiller93 commented on #47804
Same issue
OS: Windows 7 Professional
VSCode Version:  1.22.2
[vscode-inno-updater.log](https://github.com/Microsoft/vscode/files/1907455/vscode-inno-updater.log)

[2018-04-13 13:18] isidorn commented on #47749
@Tyriar for me ctrl+shift+d focuses the start button in debug (as expected since that one is the most important). Pressing right and down gives me the dropdown list.
Pressing down at no time focuses the editor.

Are you doing something different than me in this gif?

![dropdown](https://user-images.githubusercontent.com/1926584/38736912-ddc297da-3f2d-11e8-88ea-ba94524b3058.gif)

[2018-04-13 13:25] Tyriar commented on #47749
@isidorn you're on Mac not Linux.

[2018-04-13 13:27] isidorn commented on #47604
@kolbma I can not reproduce this.
Can you please try it with latest vscode insiders https://code.visualstudio.com/insiders/
If you can still repro with insiders can you please attach a video of the actual problem. Thanks

[2018-04-13 13:27] keremispirli commented on #47382
Just installed 1.22.2 and I still have the same behaviour for Haskell files with stylish-haskell extension. I don't know if it matters but this extension doesn't use `editor.formatOnSave` setting; it contributes a `stylishHaskell.runOnSave` setting instead.

[2018-04-13 13:28] Tyriar commented on #47831
The keybindings work on order rather than the specificity of the `when` clause. You will need to redefine the find close keybinding with a `when` clause _after_ escape to close panel

[2018-04-13 13:28] #47831 closed

[2018-04-13 13:28] alakameljebali commented on #47786
@joaomoreno
1. Sorry but I didn't remember the error code but I'll try to reproduce it!
2. Yes I can fully reinstall Code.

[2018-04-13 13:28] isidorn commented on #47464
I can not reproduce this.
Can you reproduce if you use latest vscode insiders https://code.visualstudio.com/insiders/
Can you reproduce if you 	`"debug.inlineValues": false`

[2018-04-13 13:30] isidorn commented on #47349
Can not reproduce this. And actually does not look that bad
Do you have some steps on how to end up in this state?
When inspecting did you check the width of the item? Is there some border which should not be there?
Could you see the glitch for other status bar items?

[2018-04-13 13:39] bobderrico commented on #47780
Oddly enough, this seems to be working fine this morning. I will close the issue.

[2018-04-13 13:39] #47780 closed

[2018-04-13 13:39] alexandrudima commented on #47382
@keremispirli This fix and this regression occurs specifically in the formatter case. It is possible that the Haskell extension is pushing edits directly on the buffer, avoiding going through the formatter, and thus not benefitting from the computation of more minimal edits. Perhaps you can reach out to the extension author and let them know that best practice is to register a formatter if they pr

[2018-04-13 13:42] algisas opened #47835 "Missing mouse pointer"
Issue Type: <b>Bug</b>

Steps to reproduce:
1. Use computer with Mac OS High Siera 10.13.4 (17E199) (or any beta builds of 10.13.4).
2. Use dark theme (black bacground and white text)
3. Use scaled 4K monitor with 2560x1440 resolution (other scaled resolutions also have this bug except for 3840x2160).
4. Move mouse over main part of the code editor. When pointer changes from arrow to text - it dis

[2018-04-13 13:43] alexandrudima commented on #47709
@Akeepers I cannot reproduce anything wrong. Here I am:
* having a long line with similar words
* selecting similar words
* pressing enter
![kapture 2018-04-13 at 15 42 29](https://user-images.githubusercontent.com/5047891/38738027-574ff248-3f31-11e8-93c5-fad9e5edf085.gif)

[2018-04-13 13:44] alexandrudima commented on #47656
@chetratep Can you provide us with the file in question or otherwise a very similar file or otherwise with a script to generate such a file that causes the crash ?

[2018-04-13 13:50] sharno commented on #47758
@alexandrudima
I don't remember though how to reproduce it in other files without using Flow.
So, this is a dummy repo I made for this issue: https://github.com/sharno/vscode-performance-errors. You'll probably just need to do an `npm install` and install the `Flow Language Support` extension to make the errors appear in the editor

[2018-04-13 13:51] Jarrio commented on #47703
@alexandrudima I am actually using a language called Haxe, is this a bug with the language extension or vscode?

[2018-04-13 13:54] isidorn commented on #47749
The issue there is that we are using a custom drop down and you only have one entry. The second entry is add configuration which gets automatically triggered when you press down.

The bottom line issue is that
For custom select dropdown, pressing down does not open the dropdown but simply selects the next metch, which I find weird.

To reproduce

1. Open output channel
2. Select output dropdwon -

[2018-04-13 14:01] blachawk commented on #47764
Thanks for confirming that @dbaeumer.  I'll have time on Monday to create a repository for you to clone. I wish I knew what I was doing wrong...but this is a good start.

[2018-04-13 14:10] ucirello commented on #46315
This seems a weird trade-off. Trading a feature that was simpler and did more to a more complex feature that only achieves part of the functionality of its counterpart.

[2018-04-13 14:15] isidorn commented on #46917
@bpasero can you please review my change
fyi @joaomoreno

[2018-04-13 14:15] #46917 closed

[2018-04-13 14:15] jcrben commented on #29364
is this different from https://github.com/Microsoft/vscode/issues/7758?

[2018-04-13 14:18] usernamehw commented on #47809
Duplicate of #10026 ?

[2018-04-13 14:28] isidorn commented on #47014
If there is a simple PR to handle this case we would be happy to merge it in

[2018-04-13 14:29] #47056 closed

[2018-04-13 14:30] felixhayashi commented on #36769
I agree with @myrup, the `.env` constants should be equally accessible from within `launch.json` – not just  `tasks.json`. I saw there was some similar discussion here in https://github.com/Microsoft/vscode/issues/14523 resulting in a `envFile` property but doesn't seem to have been implemented...

[2018-04-13 14:33] isidorn commented on #47078
If there is no `evaluateName` we use the `name` of the variable. Which I think is good behavior for most debug adapters.

I understand this is not conforming with the docs. So we should either
* Change the docs
* Change the actions to not be available (or disabled) when evaluate name is not there

Currently I think that using the name when evaluateName is missing might not be a bad strategy, but a

[2018-04-13 14:33] siegebell commented on #47475
Great to see this progress!

1. Rather than `readFile` and `writeFile`, how about providing an example FSP that implements `open`/`close`/`read`/`write`/etc. in terms of `readFile` and `writeFile`?
2. Simplify delete: this does not simplify the implementation, so what's gained? Since vscode is the only client of the API, simplicity to implement should take precedence over simplicity to use.
3. Cou

[2018-04-13 14:34] #47809 closed

[2018-04-13 14:37] reyesjl opened #47836 "Add linux support for Live Share feature please"
vscode: 1.11
OS: Elementary OS / debian

[2018-04-13 14:38] isidorn commented on #47015
There are already issues around this (feel free to search)
As a workaround you can
1. Hide open editors section
2. Set a smaller number to 	`"explorer.openEditors.visible"`
3. 	"workbench.editor.enablePreview": false,

[2018-04-13 14:38] #47015 closed

[2018-04-13 14:40] #47725 closed

[2018-04-13 14:40] isidorn commented on #47725
Also moving it via command line should be detected by vscode, in case it is not it seems like we are missing file events and feel free to open a new issue regarding that with exact steps.

[2018-04-13 14:43] isidorn commented on #46080
@weinand the zone widget does not allow to be shown at column 0 (since our editor starts columns from 1)
https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/electron-browser/debugEditorContribution.ts#L426

I could do a fix to show at column 1 if no column or column 0 is passed

[2018-04-13 14:44] shizengzhou commented on #47831
@Tyriar Thank you.

[2018-04-13 14:46] DanTup commented on #47078
I'd be fine with it falling back to `name`, but it doesn't seem to do that today as when you click "Add to watch" you get an empty expression in the watch window (whereas if you provide `evaluateName` it prefills with that).

So, if the docs are going to be changed (and the actions are not removed), I think it's a bug that "Add to watch" isn't filling in the name (it might not be the only thing th

[2018-04-13 14:48] isidorn commented on #47342
fyi @sandy081 I have changed the clear output action to not focus the output
Reason being that the output just got cleared and there is no reason for the user to be focused there since it is read only

[2018-04-13 14:49] #47342 closed

[2018-04-13 14:50] isidorn commented on #47078
@DanTup It is very strange that it is not falling back to name for you
https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/browser/debugActions.ts#L608

Can you put a breakpoint there and investigate deeper what is going on

[2018-04-13 14:51] siegebell commented on #47475
@jrieken I want to provide multiple file systems on the same scheme. But I'm not sure if this should be a feature request or if I should just implement the multiplexing myself...

1. Feature: vscode multiplexes file system providers on the scheme *and on the authority/hostname*. Downside: seems odd to allow different extensions to potentially register for the same scheme.
2. Extensions should each

[2018-04-13 14:54] isidorn commented on #47131
This is a general issues of the split view, forwarding to @sandy081 and @joaomoreno

[2018-04-13 15:04] gwk commented on #47757
The two input fields I reproduced with were:
* command palette
* file explorer rename

Can you please try those? Thank you,
George

[2018-04-13 15:06] gcphost commented on #14710
Thanks @obahareth, this just got me again today.

[2018-04-13 15:07] DanTup commented on #47078
Hmm, that is strange - I'll do some investigation. When it didn't work, I found #25166 and assumed it was intended that `evaluateName` not being provided would hide/remove this functionality. In my testing, it definitely seems to add empty watches without `evaluateName` and the correct name with it.

I'll dig more and post back next week though!

[2018-04-13 15:09] ronaldruzicka commented on #41519
Hi @joaomoreno, please are there any news about this issue? I see that even after the changes in notifications it still ignores Git actions.

[2018-04-13 15:25] arb commented on #47787
*UPDATE* now it's happening even with a single instance open

[2018-04-13 15:37] iCyberon commented on #47014
Great, I'll make the changes and create PR

[2018-04-13 15:42] john681611 commented on #13680
@cleidigh any luck?
Does anyone have any idea how we can intercept the password request event? I figure once I have that intercepted I may have a chance at doing what atom does and providing a text box to use. But atm I'm lost for ideas.

[2018-04-13 15:44] isurugiu opened #47837 "Setting editor.formatOnSave does not work after update"
- VSCode Version: 1.22.2
- OS Version: MacOS Sierra 10.12.6

Steps to Reproduce:

Hi,

I have recently updated to Version 1.22.2 on my Mac but I am not able to disable the editor.formatOnSave. I have set it to false both on the workspace and user settings and also checked the extensions but neither of that lead to happiness.

Can anyone reproduce it on their ends?

Best,
-Iulian

Does this issue o

[2018-04-13 15:47] TankTheFrank commented on #47513
@joaomoreno I wander how this "opt out" policy will play out with GDPR for us european users.

Gotta love the double speak though, when on a payroll of a large corporation is "opt out telemetry" when not is "unauthorized access".

What exactly is this "usage data" that you collect, send to your servers and store for an unspecified period of time?

Do you send when I start it up and when I close it

[2018-04-13 15:48] jcory commented on #16488
Agreed that this would help significantly with large refactors

[2018-04-13 15:54] gwsone commented on #13680
I had all kinds of credential issues, until I realize that the problem is not with VSCode but with the environment. If you have properly configured ssh, git and so on, you won't have any problems, that's true for both Linux and Windows.

[2018-04-13 15:55] vr8hub opened #47838 "Command to toggle indent guides on/off"
VS Code 1.22.1 on OS X 10.12.6.

There are a few open indent guide issues, but I couldn't find mention of this. In general, the way VS Code does indent guides makes them a pain, so I prefer them off. However, there are isolated times when they help.

Please add a toggleIndentGuides command. That would allow us to assign a key to turn them on/off without having to go into Settings.

[2018-04-13 15:55] #47154 closed

[2018-04-13 15:57] sandy081 commented on #47180
@ramya-rao-a Assigning you too to handle recommendations telemetry. We should remove install telemetry from workbench and do only recommendation telemetry.

I think you can also include the gallery query related telemetry data in this event.

[2018-04-13 16:03] sandy081 commented on #45811
@Link2Twenty Do you know which extension was causing this issue?

[2018-04-13 16:28] vvbv commented on #47347
GitHub has no problem pushing to such branches, you can see the commits log of this branch https://github.com/vvbv/test/tree/+-TEST

[2018-04-13 16:30] Link2Twenty commented on #45811
It seemed to be Polymer IDE but, as I say, I added it again and the problem didn't return.

[2018-04-13 16:34] usernamehw commented on #46999
### Workaround 1:
Increase scrollbar size:
[code]
### Workaround 2:
Make decorations transparent:
[code]

[2018-04-13 16:37] usernamehw opened #47839 "Add command to command palette from keybindings"
It would be nice to be able to do something like this:
[code]
After that, command palette would have new item with text `cleanup`. The main goal is to be able to add actions(and using args) in command palette.

[2018-04-13 16:53] roblourens commented on #47349
I was seeing this consistently for at least a couple days but I haven't seen it again recently 🤷‍♂️

[2018-04-13 16:53] #47349 closed

[2018-04-13 16:54] roblourens commented on #47600
This was fixed recently, is fixed in Insiders or the 1.23 release

[2018-04-13 16:54] #47600 closed

[2018-04-13 16:59] danyeh commented on #47830
@alantea , thank you for the feedback! I agree "轉寄" is wrong in context.
Here is about go back or forward in the code editor. So I suggest you to add a translation suggestion of 前進 or 向前.

[2018-04-13 17:04] IlyaBiryukov opened #47840 "Expose 'Use Excluded Settings and Ignore Files` on SearchProvider"
Issue Type: <b>Feature Request</b>

Expose _'Use Excluded Settings and Ignore Files'_ for `Search Provider`.
Currently there is no such property on either `TextSearchQuery` or `TextSearchOptions`

Should the `SearchProvider` implementation assume this options is always ON? How does VSCode apply it for custom registered search providers?

[2018-04-13 17:04] IlyaBiryukov commented on #47840
cc @jrieken

[2018-04-13 17:07] octref commented on #47775
@aeschli Actually today we already have a config `css.lint.unknownProperties`, you can set it to `ignore` to suppress this error. Can you link to original issues that describe the issue?

[2018-04-13 17:16] kieferrm commented on #46750
So, it serves the same purpose it seems. If so, we can deprecate `isExecutable`.

[2018-04-13 17:17] usernamehw commented on #47775
Isn't this setting ignores all properties? For instance, this will pass:
[code]

[2018-04-13 17:25] Nekochef commented on #13138
I decide to use pycharm until stable win10 version can bring vscode to work.

[2018-04-13 17:27] jjacode commented on #45993
It's crashing again. Using

Version | `1.23.0-insider`
Commit | 7c62e560a3e494
Date | 2018-04-13T05:17:33.810Z

All IntelliSense stops working. This is in a create-react-app bootstrapped app.

[2018-04-13 17:30] ryanolsonx opened #47841 "Unable to update VS Code from 1.22.1 to 1.22.2"
Log from %HOME%\AppData\Local\Temp\vscode-inno-updater.log

Apr 13 11:27:40.666 INFO Starting: C:\Program Files\Microsoft VS Code\Code.exe, false
Apr 13 11:27:40.670 INFO Checking for running Code.exe processes... (attempt 1)
Apr 13 11:27:40.670 INFO Code.exe is running, wait a bit
Apr 13 11:27:41.148 INFO Checking for running Code.exe processes... (attempt 2)
Apr 13 11:27:41.153 INFO Code.exe is

[2018-04-13 17:40] richywalls opened #47842 "show fixes icon (light bulb) disappear when code folded"
Issue Type: <b>Bug</b>

Wirite the following js code:
[code]
the `this is an error` line causes an error, this shows a little light bulb (show fixes)
![image](https://user-images.githubusercontent.com/2954965/38748277-f6df4470-3f23-11e8-90db-9a6420000c54.png)

if the previous line is the end of a folded content, then the light bulb no longer appears.
![image](https://user-images.githubusercontent.

[2018-04-13 17:45] srivatsn commented on #44846
Is there going to be a way to resolve the item separate from this? This may be ok in some cases but ideally we wouldn't want to resolve completion items (especially for live share where there's already latency for those requests).

[2018-04-13 17:59] KUGA2 commented on #47583
Thanks for the information. Nevertheless, this feature should be enhanced.
The list(s) should be visible and sorted by last use.

[2018-04-13 18:00] stamminator commented on #10565
`"editor.snippetSuggestions": "top"` may work for @gluons and others, but it creates other unintended behavior that's quite disruptive. VS Code seems to give too much "weight" to snippets when this option is set to `top`, sorting it at the top of the list _no matter what_, even if there are other, more matched options in the list.

![snippet-sort-top-issue](https://user-images.githubusercontent.co

[2018-04-13 18:02] alantea commented on #47830
Hello @danyeh:
前進 or 向前 are the good choices in Simplified Chinese. but it's not intuition in Traditional Chinese.
I think "forward" can be translated into "下一頁".
Some web browser (Edge, chrome) also use 上一頁 and 下一頁 to represent back and forward

[2018-04-13 18:06] octref commented on #47775
@usernamehw My worry is that we are offering too much surface area for linting settings, when all we offer is a subset of https://github.com/CSSLint/csslint and now we are forking with some more options...

When we have [MDN data](https://github.com/Microsoft/vscode-css-languageservice/issues/68#issuecomment-380172011) for properties it'll actually solve all three existing "unknown properties" iss

[2018-04-13 18:08] Tyriar opened #47843 "Auto attach messes up when multiple windows are open"
macOS/Insiders

I have the following windows open:

Tyriar/xterm.js (status bar says auto attach on)
Microsoft/vscode (status bar says auto attach off)

When I run `npm run test-debug` in the terminal of the xterm.js window, the debugger stops in gulp.js in the Microsoft/vscode window:

<img width="931" alt="screen shot 2018-04-13 at 11 05 25 am" src="https://user-images.githubusercontent.com/2193

[2018-04-13 18:08] andrewducker commented on #13680
I don't need to set up the environment for other IDEs.
In Eclipse, for instance, I can launch it directly, and when it needs to access a remote git repository it will ask me for the password to decrypt my SSH keys.
Visual Studio Code should do likewise.

[2018-04-13 18:10] samrg472 opened #47844 "Debugger fails to launch with environment variables (integrated terminal)"
- VSCode Version: 1.23.0-insider (76c2e560)
- OS Version: MacOS 10.13.4

Steps to Reproduce:

1. Create a launch configuration
2. Set `console` to `integratedTerminal`
3. Configure environment variables

Does this issue occur when all extensions are disabled?: Yes

The following command is executed:
[code]
Results in:
[code]

I use the fish shell as my primary shell, in which case it says "command

[2018-04-13 18:14] Tyriar commented on #47843
I'm noticing even with a single window and auto attach set to off, it's still auto attaching 😕 even after a window reload.

[2018-04-13 18:14] #47813 closed

[2018-04-13 18:29] mjbvz opened #47845 "Define standard `OrganizeImports` CodeActionKind"
**Problem**
See #46647. Multiple extensions registering organize imports commands for various languages. I believe that organize imports is common enough that our api should help by providing basic support for it.

**Proposal**
Leverage the new `Source` `CodeActionKind`  to define a built-in `CodeActionKind.SourceOrganizeImports` type. Use this kind to define a standard keybinding and command for

[2018-04-13 18:40] deadlydog commented on #5402
It seems most of this discussion has been around mouse box selection, but what about keyboard box selection? I assumed VS Code would have functionality similar to VS. i.e. use `alt`+`shift`+arrow key. You can customize the VS Code keybindings [as described in this SO post](https://stackoverflow.com/a/40263968/602585) to get a clunky version of this functionality, but I expected the functionality t

[2018-04-13 19:02] auchenberg commented on #47843
@roblourens Don't we resume execution if there's no pending breakpoints?

[2018-04-13 19:13] decimad commented on #12448
Still hitting this regularly... The cycle "vscode -> CMake -> generator -> compile_commands.json -> cpp_tools_server -> cpp_tools_extension -> vscode" will never work reliably without an additional normalization step done by vscode itself on the last step, I fear. Only they know how they store paths internally...

[2018-04-13 19:14] shanalikhan commented on #47782
I think i need invitation for both Slack rooms
Can you send me invitation at shanalikhan@hotmail.com

[2018-04-13 19:30] cleidigh commented on #47749
@isidorn
@Tyriar
cc: @bpasero

Couple of questions and thoughts:
@isidorn - if you are on OS X implied above, then the custom drop-down is not used, it's the native OS X HTML select.

The unopened select box is also the native HTML select component .  We only have some options
for changing that behavior.  The standard default behavior of the select is that the arrow keys will change the selection

[2018-04-13 19:36] Sigurd-Angenent opened #47847 "wrapping long lines when comparing files"
Sometimes I have to compare two text files with long lines (e.g. latex files written by coauthors).  The side by side file comparison would be easier to read if long lines were wrapped.

- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2018-04-13 19:41] Tyriar commented on #47749
I believe this is standard behavior for the OS, this is fine (space opens it). The problem is hitting down was moving focus to the editor instead of moving to the item below (or doing nothing if it's at the end).

[2018-04-13 19:46] alexandrudima commented on #47758
I can reproduce some slowness. Each line has about 15 errors. i.e. there are 15 errors that span almost the entire file. The browser is a bit struggling to paint so many squiggles. Note the somewhat high Paint times:

![image](https://user-images.githubusercontent.com/5047891/38754899-f6738e84-3f63-11e8-95f8-10befbc0ddad.png)

To investigate if we could deduplicate error squiggles and have only on

[2018-04-13 19:50] DonJayamanne opened #47848 "envVars: command not found"
_From @goonode on April 13, 2018 7:5_

## Environment data

- VS Code version: code-insider-1.23.0-1523510016
- Extension version (available under the Extensions sidebar): XXX
- OS and version: Ubuntu 18.04
- Python version (& distribution if applicable, e.g. Anaconda): 2.7
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): virtualenv
- Relevant/affected Python packages an

[2018-04-13 19:50] DonJayamanne commented on #47848
_From @vsimon on April 13, 2018 19:16_

Just ran into this as well. w/code-insider, ubuntu 16.04, python 3.5, virtualenv.

[2018-04-13 19:50] DonJayamanne commented on #47848
_From @vsimon on April 13, 2018 19:20_

This commit and line change from vscode 2 days ago as of now, looks suspect https://github.com/Microsoft/vscode/commit/b578dc2bd124ce3cfee770151f369057783b7dbd#diff-af270f3e366fdcd571c5700682acdb27R196

I tried downgrading back to VS Code 1.22.2 (latest release) and in there debugging python works.

Workaround: Use the latest release.

[2018-04-13 20:07] cleidigh commented on #47749
@Tyriar
I don't think I see this behavior on Windows, is this specifically happening on other platforms ?

[2018-04-13 20:10] bskydive commented on #47560
I've try many variants. Column selecting mode just won't work on any key bindings.

[keybindings.zip](https://github.com/Microsoft/vscode/files/1908770/keybindings.zip)

my full settings can be loaded by https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync
https://gist.github.com/bskydive/8878b3d6d3e679358935d34983d9ffe1

[2018-04-13 20:24] Tyriar commented on #47749
@cleidigh I saw it on Linux when there was a single debug target. Haven't tried Windows.

[2018-04-13 20:25] arthurblake commented on #47193
I've written external tasks to do this and it's quite pretty easy (using clip.exe on windows).  Nevertheless, it would be nice to have direct support for it in vscode. Another common one I use is to copy a fully qualified class name to the clipboard. That one is very language specific obviously.

[2018-04-13 20:26] mjbvz commented on #47619
[Here's more info](https://www.typescriptlang.org/docs/handbook/module-resolution.html), and specifically the `Module Resolution Strategies` part. Using `system` enables the classic resolution strategy that supports resolving module names such as `'moduleB'`

[2018-04-13 20:28] mjbvz commented on #47716
Does this issue reproduce if you disable all extensions? Please share some example code and repo steps.

[2018-04-13 20:29] olfilato commented on #46134
@auygun agreed. It would be nice if there was an option in user preferences to toggle between the current single-bar UI and the one that shows 2 separate bars for include/exclude.

[2018-04-13 20:31] vsimon commented on #47848
At a cursory glance, looks like a "typo" kind of line change... @weinand would know for sure if that's the case.

[2018-04-13 20:38] cleidigh commented on #47749
okay, I will see if I can reproduce

[2018-04-13 20:49] #47273 closed

[2018-04-13 20:50] sean-mcmanus opened #47849 "Debug hover context menu"
The original post was with the C/C++ debugger, but this looks like a more general issue (https://github.com/Microsoft/vscode-cpptools/issues/1824 ).

I can't copy values from the debugger's hover view (no right click) and instead need to locate/add the value in the Watch window. I mostly want this for C++ debugging when I need to copy string values (paths, etc.). Typescript debugging seems to have

[2018-04-13 21:28] #47758 closed

[2018-04-13 21:29] amithegde opened #47851 "Can't launch VS Code from Explorer if an instance is open in admin mode"
I generally have my command prompt opened in admin mode as my project needs it. And if I open an instance of VS Code from the admin command prompt, I would be able to open another instance of VS Code from regular windows explorer.

- VSCode Version: 1.22.2
- OS Version: Microsoft Windows [Version 10.0.16299.371]

Steps to Reproduce:

1. Open Cmd prompt in Admin mode
2. Open VS Code from the above

[2018-04-13 21:31] #47848 closed

[2018-04-13 21:32] mjbvz commented on #47223
I can't reproduce this with this example file or with much larger ones. How are you scrolling?

[2018-04-13 21:34] mjbvz commented on #47198
Please share the results of `copy path`

[2018-04-13 21:35] weinand commented on #47844
/findDuplicates

[2018-04-13 21:35] mjbvz commented on #47832
Duplicate of #45571

[2018-04-13 21:35] #47832 closed

[2018-04-13 21:35] weinand commented on #47844
duplicate of #47848

[2018-04-13 21:35] #47844 closed

[2018-04-13 21:36] mjbvz commented on #47834
@isidorn I can't reproduce this issue. What TS version is active in your workspace? Do you have other extensions active such as tslint?

[2018-04-13 21:39] hosaka commented on #10121
@RoyTinker Not at all, just though I'd clarify so others who read don't get their hopes up :)

[2018-04-13 21:40] #47851 closed

[2018-04-13 21:41] mjbvz commented on #47670
I can't repo this:

![screen shot 2018-04-13 at 2 39 45 pm](https://user-images.githubusercontent.com/12821956/38758992-882db85e-3f28-11e8-8013-1c2d5769874b.png)

Please share more info about your project structure, or better yet a sample sample project. Do you have a jsconfig.json for example?

[2018-04-13 21:46] shelbyspeegle commented on #43092
it looks like the gutter is updating for me today (insiders), @bsvipas are you seeing the same?

[2018-04-13 21:59] dark07perez commented on #46895
Hello, i am sorry, exams time.

I will use an example:

I have two classes "User" and "user.service", "user.service" has a method "create"

user.ts============================================

export class User {
	public id_user: number;
	public name: string;

	constructor( id: number, name: string ) {
		this.id = id;
		this.name = name;
	}
}
================================================

user.

[2018-04-13 22:03] forivall opened #47852 "Drag 'n drop root-folders doesn't work when moving a root folders that are ancestors or descendents of another"
Since I implemented the dnd root folder reordering in atom, i was curious when i saw it mentioned in the change notes for vs code. And I found a bug!

Issue Type: <b>Bug</b>

Open a workspace with root folders such as
[code]

Folders `a` and `b` are fairly easily moved around each other, but `.` cannot be moved and `a` and `b` can not be moved when dropped over `.`.

VS Code version: Code 1.22.2 (

[2018-04-13 22:04] mjbvz commented on #46406
Fixed by #47610

[2018-04-13 22:04] #46406 closed

[2018-04-13 22:08] MathiasMagnus commented on #13138
That will be very soon. The Spring Creators Update (1803) should’ve been released this Tuesday but was delayed due to a bug. Hopefully 1-2 weeks and we’ll have it, which can spawn VS Code windows from WSL.

Feladó: Nekochef
Elküldve: 2018. április 13., péntek 19:27
Címzett: Microsoft/vscode
Másolatot kap: Nagy-Egri Máté Ferenc; Mention
Tárgy: Re: [Microsoft/vscode] Support launching VS Code from B

[2018-04-13 22:10] user3323 commented on #47698
@alexandrudima , it looks like setting `"editor.autoIndent"`, when you test by "pasting" only one line. But try more.

And `"editor.autoIndent"` actually is not about "Paste" thing, it's about moving lines up and down, between different blocks:

`"editor.autoIndent": true`:
![autoindent - true](https://user-images.githubusercontent.com/24613274/38758724-077c65ea-3f7b-11e8-9230-93c4354e3015.gif)

`

[2018-04-13 22:44] ferrao commented on #47619
Got it! This bit is the relevant one:

It just feels a bit strange configuring `system` for triggering the classic strategy, which according to the docs is present for backwards compatibility only, when in reality, I am actually using `NodeJS` with a `NODE_PATH` environment variable set.

It is working for me now, so no more complains here, I am one happy customer now, but I guess this is one of t

[2018-04-13 23:13] y0ssar1an commented on #46581
As @MicroDroid pointed out, this is an issue with `fontconfig` 2.13. Arch users were able to solve the problem by downgrading to fontconfig 2.12.6, copying the files in `/etc/fonts/*` to a temporary directory, upgrading to fontconfig 2.13, and copying the 2.12.6 configs back into `/etc/fonts/*`.

The solution is detailed [in this thread](https://bbs.archlinux.org/viewtopic.php?pid=1776543#p1776543

[2018-04-13 23:15] lodnocneib opened #47854 "No Network during truffle compile"
Issue Type: <b>Bug</b>

When compile, showing no network in new install.

VS Code version: Code 1.22.2 (3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9, 2018-04-12T16:38:45.278Z)
OS version: Windows_NT x64 10.0.14393

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) CPU E5-2673 v3 @ 2.40GHz (2 x 2397)|
|Memory (System)|8.00GB (4.83GB free)|
|Process Argv|C:\Program

[2018-04-13 23:38] kolbma commented on #47604
https://youtu.be/fxHgF0t2Jjk

[2018-04-14 00:00] #47768 closed

[2018-04-14 00:02] davidnorthetal opened #47855 "Add wordwrap indicator"
There's currently no visual indication when you use the `"editor.wordWrap": "on"` setting.

I'd propose optionally adding a wordwrap-indicator on each newline, something like this:
![untitled](https://user-images.githubusercontent.com/24317742/38761997-b52116bc-3f87-11e8-8a61-aa9e0c88c151.png)

so it becomes easy to spot when a line has been wordwrapped.

[2018-04-14 00:05] mjbvz commented on #47773
Which typescript version are you using?

[2018-04-14 00:10] danmarshall commented on #43511
I agree with @lafe 's perspective. This feature seems to be optimized for longer words, but induces a penalty when Intellisense is not required, as in the case of single letter variable names.

![endkey](https://user-images.githubusercontent.com/11507384/38762058-d6bc5070-3f3c-11e8-99fb-f1ab2a8da23f.gif)

In the gif, you can see that the previous workflow was to press <kbd>(</kbd> <kbd>End</kbd> <

[2018-04-14 00:34] moseleyi commented on #47018
I don't really understand much from that page, how do I use it to change the syntax of certain types for certain languages?

[2018-04-14 00:46] grork opened #47856 "Provide Option to enable File-Save prompts in extension development mode"
Issue Type: <b>Feature Request</b>

When debugging an extension, the file save prompt in editors is automatically responded to with 'don't save'. When debugging issues related to saving in an extension (e.g. opening a workspace, or closing), this makes it impossible to test without building your own Code install.

The offending line is:

https://github.com/Microsoft/vscode/blob/master/src/vs/workb

[2018-04-14 01:05] wmb0117 commented on #46763
Hi! I'm new to the code and would like to give this a shot, assuming no one is currently working on it?

If I'm understanding the requirements correctly, you would like for there to be:

- a setting in the Git section of Default Settings containing a list of repositories to ignore
- an option in User Settings to prevent the application from automatically populating the Source Control tab with repo

[2018-04-14 01:09] #47598 closed

[2018-04-14 01:12] Madd0g commented on #47817
[code]

[2018-04-14 01:13] RMacfarlane commented on #47508
@teo-tsirpanis Thanks for reporting! Changed to show the "File on" dropdown on feature requests.

[2018-04-14 01:13] #47508 closed

[2018-04-14 01:26] ylingene commented on #44602
Seems like Ctrl + Shift + G already focuses onto the git commit message

[2018-04-14 01:55] garyking opened #47858 "Focus keeps shifting away from my group"
I'm coding primarily in Python and Ruby. I usually code with two groups open.

I'm typing in group 1, then I move focus to group 2. Focus is then forced back to group 1, when a tooltip appears for whatever I just typed. This is a problem, because for Python and Ruby, the tooltips will often have some delay because they are slow to load. For Python for instance, I've had tooltips appear 5 seconds a

[2018-04-14 01:56] TangiDing opened #47859 "The auto-completion can't work when i use the editor for a while"
Issue Type: <b>Bug</b>

It just occurs in recent versions of vs code, i mean both of version 1.22.2 and last version happen this problem in my computer. the situation is that when i use the editor for a while, the auto-completion doesn't work. in this situation i can't get any information of completion when i input some abbreviation, like ims or  reletive path. it make me inefficiency. i hope this

[2018-04-14 02:07] Jancat opened #47860 "Node debugger support stdin/out"
Issue Type: <b>Feature Request</b>

I'm debugging node typescript with **ts-node**, and need to output message to **stdout** and read user input from **stdin**.

My node **launch.json**

[code]

The node code to interact with **stdin/out**
[code]

### Behavior
1. Press **F5** to debug the node script;
1. The debug console output:
[code]
1. The **stdout** message hadn't been output and can't be inp

[2018-04-14 02:57] oDoraemon opened #47861 "Git ignore file not working"
Issue Type: <b>Bug</b>

Git tool in vscode track the files list in .gitignore.
This bug occurs after update.
Right click the file, add it to ignore again, didn't work.
![image](https://user-images.githubusercontent.com/7870718/38763661-8a2bb584-3fd2-11e8-8f31-ef711cebc64f.png)

VS Code version: Code 1.22.2 (3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9, 2018-04-12T16:38:45.278Z)
OS version: Windows_NT

[2018-04-14 03:05] MichaelGeng commented on #47861
Hi ODoraemon,

I'd like to take a look into this. I will edit soon with my findings.

Regards,

Michael & Joshua

[2018-04-14 03:34] marc2377 commented on #47855
The lack of a line number is already a pretty sufficient visual indication for me personally.

[2018-04-14 03:50] roblourens commented on #47821
You can use alt+up/down to access your previous search terms. Is that what you're looking for?

[2018-04-14 03:59] xobs opened #47862 "GPU task hangs the window for 5-60 seconds"
Issue Type: <b>Bug</b>

1. Use the editor
2. Scroll the window
3. Type some stuff

Expected results: The editor should remain responsive

Observed results: The editor hangs for anywhere from 5-60 seconds.  The window cannot be resized.  This occurs regardless of where in the editor I am, and occurs both in the text editor, and within this "Issue Reporter" window.

The program is not using a high a

[2018-04-14 04:01] roblourens opened #47863 "Allow starting a debug session while another one is initializing"
Forked from https://github.com/Microsoft/vscode/issues/45798

This kind of goes with the fact that we can't kill a session while it's initializing. I might have filed an issue for that in the past. I would take that over this. My main scenario is accidentally starting an attach session, then having to sit for 10s for it to timeout before I can start the one I intended.

We don't allow starting the

[2018-04-14 04:05] mattacosta commented on #33132
@roblourens So I figured out a way to regenerate these, are you guys interested in a PR for this?

If so, there are two things to note:
1. I would have to move the functions over to their own file. The variables, constants, and keywords seem to be custom, and I don't know if they could be added.
2. I would also have to more or less guess at a whitelist for the documentation. Including all core and

[2018-04-14 04:06] roblourens commented on #47427
Maybe it used to work, it doesn't seem to do anything now. In any case, unofficial settings won't show up in search.

[2018-04-14 04:38] roblourens commented on #47018
I recommend using the "Developer: Inspect TM Scopes" command to see what scopes are in effect in different places.

[2018-04-14 04:42] roblourens commented on #33132
I'm interested, where does the data come from?

[2018-04-14 04:56] marc2377 opened #47864 "Implement automatic wrapping with < > for C++"
Feature request: VS Code currently supports auto wrapping expressions with quotes, parenthesis or brackets by selecting it and typing `"`, `(`, or `{` and `[`, respectively. I noticed this is language-dependent.

For some languages (tested with HTML and XML), it also autowraps with symbols `<` and `>`.

But not for C++, where this would also make sense.

(p.s. what is curious is that I noticed thi

[2018-04-14 05:00] mattacosta commented on #33132
@roblourens It is exported directly from PHP's `.manual.xml` file.

[2018-04-14 05:06] eamodio commented on #47569
I'm seeing this error with Live Share when running from source (don't see it with insiders)

[2018-04-14 05:09] eamodio commented on #47569
I'm seeing this with Live Share when running vscode from source, although I don't with the latest insiders

[2018-04-14 05:47] rogovdm commented on #47299
Strange and sadly annoying.

[2018-04-14 06:30] vityas-off commented on #47787
Try this https://github.com/Microsoft/vscode/issues/45492#issuecomment-375744415

[2018-04-14 07:38] GEeKkk opened #47866 "Failed to install VS Code update."
- VSCode Version: 1.22.1
- OS Version: Windows 10

Steps to Reproduce:
- vscode-inno-updater.log
Apr 14 15:29:29.358 INFO Starting: E:\Microsoft VS Code\Code.exe, false
Apr 14 15:29:29.358 INFO Checking for running Code.exe processes... (attempt 1)
Apr 14 15:29:29.358 INFO Code.exe is running, wait a bit
Apr 14 15:29:29.873 INFO Checking for running Code.exe processes... (attempt 2)
Apr 14 15:29:2

[2018-04-14 08:08] Jancat commented on #47860
Thansk! Add `console` with `integratedTerminal` to **launch.json** works.

[code]

[2018-04-14 08:35] pahen opened #47867 "Allow border top color in tabs"
Hi,

I would love to have the possibility to change the position of the active tab border to conform to the original Ayu theme in Sublime Text:

![screen shot 2018-04-14 at 10 28 55](https://user-images.githubusercontent.com/353888/38766175-ad886846-3fce-11e8-9ac1-ddbe9126635e.png)

It makes more sense to have the border in the top of the tab since it doesn't get so close with the editor text whic

[2018-04-14 09:14] danielo515 commented on #47299
I don't understand why this is closed. The problem exists

[2018-04-14 10:03] lepinekong opened #47868 "Wordwrap lost when going to another tab and come back"
- VSCode Version: 1.22.1
- OS Version: Windows 10

Steps to Reproduce:

1. Toggle Wordwrap to active
2. Go to another document tab
3. Come back: wordwrap no more

Does this issue occur when all extensions are disabled?: Yes/No

[2018-04-14 10:21] zhaojuntao opened #47869 "Search function"
Not find in stackoverflow platform.

- VSCode Version: 1.22.1
- OS Version: Windows 10 15063.608

Problem Description:
1. When using the search function, there are sometimes infinite waits or no search. Problems usually appear after the software has been running for some time.

2. Workspace can not achieve function jump, progress bar infinite refresh.

Steps to Reproduce:

1. Open two vscode windo

[2018-04-14 10:25] hyingreborn opened #47870 "emmet not work on inline script type="text/html" again"
emmet not work on inline script in HTML files

it work:

div
tab->
<div></div>
not work:

<script id="xx" type="text/html">
div
tab->
div
</script>

VSCode Version: newest 1.22.2
OS Version: win10/mac os serria

[2018-04-14 10:25] hyingreborn commented on #47870
@ramya-rao-a hi，you remove the code in this commit..

[2018-04-14 10:25] zhaojuntao commented on #47869
https://stackoverflow.com/questions/tagged/vscode

[2018-04-14 10:30] zhaojuntao commented on #47869
![](https://note.youdao.com/yws/public/resource/222acf56941a290f06755362b5baeb1f/xmlnote/9C68E8D12280468EBDFC05E015AB7785/18310)

[2018-04-14 10:39] Tyriar commented on #47569
@eamodio we pushed electron v2 back so it will be in Insiders on Monday. I think Live Share will have a fix out soon.

[2018-04-14 10:41] hoxily opened #47871 "Terminal links are offset after CJK characters"
Issue Type: <b>Bug</b>

在终端里面输入可以被识别的url链接后，如果链接前面还有中文字符，就会出现下划线以及相应的Ctrl+点击响应区域都向左偏。

如图所示例子：https://img.vim-cn.com/74/13cb93b28d38306c8c247bd80039b5882511f8.png
![vsc url link underline bug](https://user-images.githubusercontent.com/1575029/38767423-585b86d8-4013-11e8-8e08-c7050efd9850.png)

VS Code version: Code 1.22.2 (3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9, 2018-04-12T16:38:45.278Z)
OS vers

[2018-04-14 11:34] Jazcash commented on #47670
Huh, how strange. Here's mine:

![example](https://user-images.githubusercontent.com/1434248/38767793-056b5e2c-3fe0-11e8-9d42-875c571ecac5.jpg)

And my jsconfig.json:

[code]

[2018-04-14 12:26] BartolomeSintes commented on #47731
It works now in VSCode 1.22.2.

[2018-04-14 12:26] #47731 closed

[2018-04-14 12:28] CoenraadS commented on #5923
I just ran into this with my extension, I want to show brackets in the gutter but as long as they block breakpoints it's highly annoying and probably won't be used.

[2018-04-14 12:31] Akeepers commented on #47709
You can try a longer sentences.  In my case, there are about 6000 words in one line. And it‘s divided into 93 lines.

[2018-04-14 12:43] sayomelu commented on #47871
提issue最好用英文啊, 老外又看不懂
It’s better to submit issue in English

[2018-04-14 12:43] mRcfps opened #47872 "Unexpected encoding change when autoGuessEncoding is enabled"
- VSCode Version: 1.21.1
- OS Version: macOS High Sierra 10.13.3

Steps to Reproduce:

1. Enable `files.autoGuessEncoding` in User Settings.
2. Create a new file with non-ASCII characters (Chinese characters here), and save it with UTF-8.
![image](https://user-images.githubusercontent.com/23410977/38768269-904a7aee-4023-11e8-95ad-60c240337615.png)
3. Reopen this file, and vscode will guess its enc

[2018-04-14 12:46] sayomelu commented on #33921
I also want to edit my codes JUST using a light iPad when I am on my way! Support you!

[2018-04-14 13:00] jkryanchou commented on #47051
@isidorn @sandy081 Thanks, Wish it could be added into new version of vscode-vim. It will accelerate our vim-workflow on vscode.

[2018-04-14 13:20] Gama11 opened #47873 "Allow hover hints to wrap after :"
With the Haxe extension, we sometimes get awkward wrapping in hover hints in the middle of words like this (`Arr`-`ay`):

![](https://i.imgur.com/wuVwEBS.png)

It looks much better if we manually add a space after `:`.

![](https://i.imgur.com/kZ1bzmV.png)

However, this isn't really a common code style in Haxe (as opposed to TypeScript, where it seems to be the "default style"), so I'd prefer to

[2018-04-14 13:20] U-4-E-A opened #47874 "Cannot undo/redo after file has been closed."
VS Code v1.22.2. No extensions installed.

I just tried switching over to VS Code from PHPStorm as PHPStorm was painfully slow with FlowJS. I have just found that once I have closed a file I can no longer undo/redo changes after reopening it.

Can I ask if this is a bug, setting or an unavailable feature? Thanks.

[2018-04-14 13:28] V-ed commented on #47861
Just to give my two cents on this issue :

This issue might happen because your file `config.py` has already been added to the repository. Gitignore ignores files that are *untracked*, and that means ignoring a file that was already in the repository won't work.

 This may be why it doesn't work on either VSCode nor Git Bash, as both uses git to make their styling/git functionalities work.

[2018-04-14 13:28] Gama11 commented on #19183
I'm not sure since when exactly (I haven't tried font ligatures in a while), but this case now works as expected in VSCode 1.22.2. :)

![](https://i.imgur.com/nSEKHQE.png)

[2018-04-14 13:28] #19183 closed

[2018-04-14 13:29] U-4-E-A commented on #47874
okbrown - thanks. I guess it is a trade-off.

[2018-04-14 13:29] #47874 closed

[2018-04-14 13:29] ikennobunga opened #47875 "Feature Request"
Is it possible to have a **visual** tool for **padding** and **margin** as well as for **fonts** styling? I really struggle with this little details and end up wasting time adjusting to the right positions.

[2018-04-14 13:39] terrysheng commented on #47830
@alantea
Thanks so much for your feedback. Yes, in Traditional Chinese product, e.g. IE, we usually translate it as 下一頁 in similar context. I agree with your suggestion :)

[2018-04-14 14:52] thw0rted commented on #9347
Just started seriously using VSCode on Windows after a year or so on Ubuntu.  Looks like I'm stuck with Git Bash for my shell until they fix this?

[2018-04-14 15:49] pansila commented on #47871
Translation:
All URLs preceded by Chinese characters have an underline offset and respond to the click event in an area to the left of the actual clicked place.

[2018-04-14 17:13] jameshfisher opened #47876 ""Stage Changes" command should be called "Add""
There are many Git commands listed in the command palette, but the only result for "add" is "Add file to .gitignore". This is not what I want. I want the equivalent of `git add $CURRENT_FILE`. Such a command is provided, for example, by [the git-plus extension to Atom](https://atom.io/packages/git-plus).

[I eventually stumbled over the answer](https://stackoverflow.com/a/49834123/229792): Visual

[2018-04-14 17:19] jns42 opened #47877 "RegEx only matching last match when capturing with *"
Issue Type: <b>Bug</b>

SETUP
Using the following text as a sample:
`OnPerformTask(Int32 x, Int32 y, Int32 z, string name)`

Open the "Replace" tool window, and enter the following as a RegEx pattern:
`On(\w+)\((\w+, )*[\w]+ (\w+)`

Enter the following as the replacement pattern:
`$1($2$3`

EXECUTION (Round #1)
After the first replacement, the text should read as follows in the editor:
`OnPerformT

[2018-04-14 17:36] lffg commented on #47299
me too

[2018-04-14 17:51] DonJayamanne commented on #46192
I'm considering using this new API in our Python extension.
Currently we have a custom command in the python extension that creates a terminal (so we can execute some scripts, required to activate a python environment, much like `nvm use`.

With this new API we can now intercept creation of terminals and then send the custom text. So any terminal created will always be activated. I.e. users will n

[2018-04-14 17:58] afg984 commented on #43511
Quoting from #46182

I don't think the default behavior should be changed to navigate IntelliSense. I just ran into the frustration of seeing the ``End`` key not move the cursor and navigate the IntelliSense instead 10 times in a row, and then stop coding and found this issue.

[2018-04-14 18:01] wavebeem opened #47878 "Windows: Integrated terminal displays incorrect background color after ANSI attribute reset code"
Issue Type: <b>Bug</b>

- Start Visual Studio Code on Windows 10 with `bash` installed
- Open the integrated terminal
- Run `bash`
- Run `echo -e "\033[0m"`

## Expected output

The terminal looks the same

## Actual output

All text has a strange background color now

## NOTE

This seems reproducible across every theme I've used, but in particular the default "Light+" theme is incredibly hard to

[2018-04-14 18:25] DaveSanders opened #47879 "Typewriter Scroll Mode"
Issue Type: Feature Request

When editing all files, I want to have a "typewriter scroll mode" that keeps the current line that I'm working on in the vertical center of the screen.

Yes, I know there is an extension to do this for markdown and text files, but I would want it for all files that I edit.  For code, this is useful because you can more easily see the code below the line you are working

[2018-04-14 18:30] mjbvz commented on #47299
I've locked this issue because +1 comments are causing people to miss that there is already is a solution to disable these hints. Posting again to make it clear:

[2018-04-14 19:27] eamodio opened #47880 "Allow disposable pattern on TreeItems"
This is tangentially related to https://github.com/Microsoft/vscode/issues/30535.

As [mentioned](https://github.com/Microsoft/vscode/issues/30535#issuecomment-365663622), in GitLens and in the upcoming CodeStream extension, I have tree items that have event subscriptions based on their expanded state (or in some cases just existence -- i.e. visibility). Currently there is no good way to clean up

[2018-04-14 19:36] Tyriar commented on #46192
@DonJayamanne

Do you mean to amend the environment? You will run into problems of not knowing what to run to set the environment. it may not be clear from the executable. It could also be something like a task, a debug console or some other special extension use case which might break those.

[code]

[2018-04-14 19:37] Tyriar commented on #47878
Tracked in https://github.com/Microsoft/vscode/issues/45693

[2018-04-14 19:37] #47878 closed

[2018-04-14 19:56] parkovski commented on #9347
It's in progress. PTY support is enabled in skip ahead insider builds, it's just not exposed as a stable documented API yet so only usable through WSL interop, but it's working pretty well. You could actually have a better terminal at this point on skipahead builds by running the Linux VSCode in WSL and setting your shell to a Windows exe, which will go through a Linux PTY to an NT interop PTY.

[2018-04-14 19:56] StfBauer commented on #38730
@ldexterldesign have you tried to create a custom keyboard shortcut?

[2018-04-14 20:38] remitius commented on #47306
Occurring for me on Windows 10 as well as Linux Mint 18.1 with extensions disabled. VS Code version 1.22.2

If I use the command through ctrl+shift+P instead of a keyboard shortcut, the onDispose warning doesn't appear. However, a fresh, empty tab appears instead of the diff tab I would expect.

"Compare Active File with Clipboard" and "Compare Active File With..." are working fine.

[2018-04-14 20:57] 7Flixs opened #47881 "Extension deactivate() doesn't call"
- VSCode Version: 1.22.2
- OS Version: Windows 10.0.16299 Build 16299

Steps to Reproduce:

When creating an extension the "deactivate" function rarely calls in my case, sometimes it does call and most times it doesn't call, i couldn't find a pattern to it.
[code]

Does this issue occur when all extensions are disabled?: Yes

[2018-04-14 21:05] garyking opened #47882 "Create a file by right-clicking on a file"
We can create a file by right-clicking on a folder and choosing "New File"/"New Folder".

But I would like to right-click on a file and still be able to choose "New File"/"New Folder". Then the newly created item would have the same parent as the file that I right-clicked.

[2018-04-14 21:32] davidnorthetal commented on #47855
If you code is sufficiently indented, lack of line-number can become hard to see.
A visual indicator as first character with the indent of the actual line helps a lot.

I've used both over the years and have come to appreciate the visual-indicator a lot.

[2018-04-14 21:39] Leedehai commented on #34968
Indeed needed..

[2018-04-14 21:45] jlmaners commented on #45492
Had previously experienced the flickering but it resolved itself with an update. Now the flickering is back.

OS: macOS 10.13.4
VSCode: 1.22.2

All while using HiDPI display connected to my mid-2015 15" MBP with AMD Radeon R9 M370X graphics card. As @teki mentioned, only work around that I've had success with is running in native resolution.

[2018-04-14 21:47] jlmaners commented on #47787
This only happens for me on my external, HiDPI display. Only work around I've found so far is to run my HiDPI display in native resolution. That stops the flickering but isn't ideal.

macOS 10.13.4, mid-2015 15" MBP with AMD Radeon R9 M370X, Dell 4K display

[2018-04-14 21:48] andrewtomai commented on #38321
Hi, I'd like to work on this if that's alright.  I figured out how to do the text-based solution and will submit a pull request soon.

[2018-04-14 21:55] dinvlad commented on #47787
This started happening to be again as well on the built-in MBP screen :( Prior to that, the setting `"editor.disableTranslate3d": true` temporarily solved the issue. Looks like that no longer works :(

[2018-04-14 21:55] kirusyaga opened #47883 "Renderer consumes CPU after update to latest Insiders version"
- VSCode Version: 1.23.0-insiders x64 commit 7c62e560a2e494a1b0b4d39561dc5c1d837a5263
- OS Version: Windows 8.1 x64

After update to latest version window is empty (only main menu bar is visible).
Renderer process consumes 16-20% CPU but nothing is changing.

Does this issue occur when all extensions are disabled?: Yes

[2018-04-14 22:14] ldexterldesign commented on #38730
@StfBauer sorry, I've just reread this issue and my issue is something different. I'll take my gripe here[0]. Hope you resolve *this* issue!

Regards

[0] https://github.com/Microsoft/vscode/issues/15840#issuecomment-268887968

[2018-04-14 22:35] davidnorthetal commented on #28215
@andreyorst fuzzy searches are not orthogonal to cycling and I'm quite sure everyone here understands how fuzzy searches work

you fuzzy-search when you know the symbol you're looking for (or have a strong suspicion) but don't want to write it all out yourself
you cycle when you want to explore your options

[2018-04-14 22:45] andrewtomai commented on #38321
PR #47884

[2018-04-14 23:28] RHINO41179 opened #47885 "Hello<h1>"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2018-04-14 23:28] RHINO41179 commented on #47885
<3d4/h1>

[2018-04-14 23:30] RHINO41179 commented on #47805
Thanks

[2018-04-14 23:51] methodbox commented on #45492
@jlmaners
I don’t believe this is likely GPU-specific. I’m on a 2016 MBP with an AMD GPU but others with Nvidia have experienced the same issue.

It’s an issue that is essentially the same as one that plagued Atom (also built in Electron).

I would take a look at my post and the link to Chrome switches - there’s many related to GPU.

If one or the other doesn’t do the trick (or multiple together)

[2018-04-15 00:06] 7Flixs commented on #47881
After setting some break points it turns out that the deactivate function does run, but the console is already being destroyed, is this wanted?

[2018-04-15 00:09] andrewtomai commented on #45853
I've worked on this and added a pull request in the case that it is decided that this feature should be added.  I would like to note that I've set it up such that it is a modifiable user setting, so the user can easily disable this feature if they so choose.

[2018-04-15 00:30] roblourens commented on #47869
What do you mean by `function jump`?

[2018-04-15 00:34] apap04 commented on #47885
what

[2018-04-15 00:46] qjzTreeZ opened #47887 "VSCode fails to detect the workspace when opening a single file after update 1.22"
- VSCode Version: 1.22.2
- OS Version: Windows 7 x64 / macOS High Sierra 10.13.4

Steps to Reproduce:

1. Update VSCode to version 1.22.x
2. Open a single file with a `.vscode` folder in its parent directory

Does this issue occur when all extensions are disabled?: Yes

VSCode 1.21.1 works fine on Windows 7 x64 / macOS High Sierra 10.13.4 / Ubuntu 16.04 LTS 64-bit

[2018-04-15 01:02] roblourens commented on #47018
Scopes usually contain the language id, so you can write rules that just target one.

[2018-04-15 01:14] amithegde opened #47888 "Horizontal scrollbars are too tiny in diff mode"
When I am in diff mode, if I have to scroll left/right the horizontal scrollbars at the bottom are too tiny and hard to find quickly. Please allow increasing height of it to make it easy to scroll.

Does this issue occur when all extensions are disabled?: NA

[2018-04-15 01:14] colemickens commented on #43710
@bpasero Howdy. Hit this again today, tried your build. I can only confirm one direction (long story, year of Linux on the desktop, etc), but it behaved as expected when I transitioned from an external standard-DPI monitor, back to the internal display scaled at 2x. The UI displayed normally without me having to restart the editor.

Out of curiosity, what did you do? Was it bumping electron?

[2018-04-15 01:58] moseleyi opened #47889 "HTML Closing tag does not preserve indentation"
When coding an HTML page I open the tag

[code]

Then the cursor automatically goes inside the div, which is expected, but if I enter closing tag instead of this:

[code]

I'm getting thise:

[code]

Upon completion of a closing tag it goes back to the beginning of the line, not the right indentation of the object.

- VSCode Version: 1.22.2
- OS Version: Microsoft Windows 10 Home

[2018-04-15 03:59] shizengzhou opened #47891 "The keybindings are weird"
@alexandrudima I bind `Shift+F11` for `Toggle Zen mode`. When I debug code, I press `Shift+F11`, I think vs code should step out, but it toggles zen mode. Does it work correctly? What is the order the keybindings work on?

VS Code version: Code - Insiders 1.23.0-insider (7c62e560a2e494a1b0b4d39561dc5c1d837a5263, 2018-04-13T05:17:33.810Z)
OS version: Windows_NT x64 6.3.9600

<details>
<summary>Syst

[2018-04-15 04:12] closedcontour commented on #4795
I wrote [this extension](https://marketplace.visualstudio.com/items?itemName=closedcontour.very-smart-select) that largely solves this problem for TypeScript, JavaScript, and JSON files. It uses the TypeScript compiler to generate smart selection expansions. Happy to accept contributions for other languages.

[2018-04-15 04:31] prajapati-parth opened #47892 "Wrong alert message when deleting multiple directories"
- VSCode Version:
1.22.2
- OS Version:
macOS High Sierra 10.13.2

Steps to Reproduce:

1. Hold `Cmd` and select more than one directories in VSCode Explorer.
2. Press `Cmd + delete` to delete them.
3. The popup alert confirms to delete **files** not **directories**.

Expected message:
_Are you sure you want to delete the following 2 directories?_

Actual message:
_Are you sure you want to delete t

[2018-04-15 04:37] duonglh opened #47893 "Search All Text"
Issue Type: <b>Bug</b>

Ctrl + Shift + F ==> Search all files, but very slow, seems searching forever, not see any results

VS Code version: Code 1.22.2 (3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9, 2018-04-12T16:38:45.278Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4200U CPU @ 1.60GHz (4 x 2295)|
|Memory (System

[2018-04-15 05:54] selipso commented on #47787
@vityas-off great find. Going to add `code-insiders . --ignore-gpu-blacklist` to my bash alias now.

[2018-04-15 06:01] feihuit commented on #7570
same problem with windows 7 without internet.
1. download VSCode-win32-x64-1.22.2.zip from https://vscode.cdn.azure.cn/stable/3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9/VSCode-win32-x64-1.22.2.zip
2. copy to another computer without internet connect & unzip to c:\vscode\VSCode-win32-x64
3. run taskmgr, double click code.exe, it appeared in taskmgr but disappeared quickly
4. try cmd
    cd c:\vscode\

[2018-04-15 06:05] chocolatkey opened #47895 "CSS color box incorrect for rgba 255 when opacity < 1.0"
- VSCode Version: 1.22.2
- OS Version: Windows 10 1709 x64
Does this issue occur when all extensions are disabled?: **Yes**

# Steps to Reproduce:
1. Create a CSS file, make sure CSS highlighting is enabled for it
2. Inside the selector for any type of element (so far) add a color, background or backgrounf-color property.
3. Use any `rgba` value of the following format: `rgba(255,255,255, X)` wher

[2018-04-15 08:00] JasonWei512 opened #47896 "(On Windows) Provide EdgeHTML as a rendering engine option besides Blink"
Issue Type: <b>Feature Request</b>

This would improve RAM usage and power efficiency.

VS Code version: Code 1.22.2 (3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9, 2018-04-12T16:38:45.278Z)
OS version: Windows_NT x64 10.0.17133

[2018-04-15 08:05] sandangel opened #47897 "auto attach does not work when using '--inspect-brk' in node env variable"
- VSCode Version: 1.22.2
- OS Version: MacOS HS

Steps to Reproduce:

0. Turn on Auto attach node debug
1. `NODE_OPTIONS='--inspect-brk' ng test library` (or any node binary)
2. terminal show
`Debugger listening on ws://127.0.0.1:9229/0b77ab53-e968-48ab-88bd-d6e0294e6bf9
For help see https://nodejs.org/en/docs/inspector`

But vscode debugger does not auto attach to that node process

Does this iss

[2018-04-15 08:08] sandangel commented on #47897
I think this is not a duplicate because I use NODE_OPTIONS env var while he's using mocha --inspect-brk

[2018-04-15 08:14] dylanwind commented on #26048
Repro the issue, with VS Code 1.22.2, install VS code first, then install Node runtime v8.11.1.
Can't execute node in VS Code terminal, check Path in VS Code terminal, Node path is missed there.
But outside of VS Code, I can find Node path in Path environment variable.

Any update on the issue?

[2018-04-15 08:35] andreyorst commented on #28215
ok, you want cycling. I'm not against cycling either. Let me explain myself. I'm against programmers who cycle around after every keypress, browsing kilometers of completion items, just to get single one, wich they even know about, but just because it's so fun to cycle around they will do it. In most cases you need to press one extra key (rarely two) to fuzzy match through hell lot of items in the

[2018-04-15 08:53] fathidk opened #47898 "open file bug"
Issue Type: <b>Bug</b>

when i open a file it  closes  another file

VS Code version: Code 1.22.1 (950b8b0d37a9b7061b6f0d291837ccc4015f5ecd, 2018-04-06T02:26:57.615Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-2450M CPU @ 2.50GHz (4 x 2494)|
|Memory (System)|5.78GB (2.94GB free)|
|Process Argv|C:\Program Files\Mi

[2018-04-15 10:22] macasas opened #47900 "Code Folding stops after 33"
- VSCode Version: Insiders
- OS Version: 10.12

Steps to Reproduce:

1. open javascript file
2.add more than 33 if else branches

Does this issue occur when all extensions are disabled?: Yes

Issue found in Insider.

I realise my example code is pointless, this is not question about coding style, but it will save you adding this many branches to see the problem that CMD-K-0 does not fold everythin

[2018-04-15 10:28] talhamansoor786 opened #47901 "Vscode should support login feature so that the user can syncronize all the settings, Themes, Commands"
Hello,
I am going to setup my new machine and I stumbled upon a situation in which I need to sync all my previous machine vscode settings, Themes, Custom commands which I have made on my old PC.
Could you please add this feature so that the users could easily synchronize.

[2018-04-15 10:54] jc-wang opened #47902 "vscode terminal got something wrong"
This is my code (Python2.7 windows10)

[code]
and I clik F5, while launch.json is standard file。
[code]
the output is missing some words, I can't figure it out, the direct run in terminal is OK
(py2) E:\pythonStudy>python test.py
啊啊啊啊啊啊啊啊啊
啊啊啊啊啊啊啊啊啊

[code]
I think charater encoding and buffer is something wrong, but I don't know how to solve it

[2018-04-15 11:03] pppangilinan opened #47903 "Intellisense are too slow using 1.22.2"
- VSCode Version: 1.22.2
- OS Version: Windows 10 Pro x64

Steps to Reproduce:

1. I use the previous version before I upgraded 1.22.2 version. Now, my problem why intellisense are too slow?
2. The autocompletion is too slow or the strong typing.

Does this issue occur when all extensions are disabled?: No

[2018-04-15 11:13] geosmall commented on #23931
@aneilbaboo Thanks, better.  But definitely not a perfect solution.  Results still cluttered and cramped, needs a separate tab.  Please reference Sublime Text implementation.  No need for reinvention, it just works.  This is plain to see for anyone using both.  Last piece missing from me moving over to VSCode!

[2018-04-15 11:29] pxwee5 commented on #23931
@aneilbaboo @isidorn
[Feature Request] Pressing `ESC` should trigger a close on both the panel search result.

[2018-04-15 11:45] kunalshah opened #47904 "Extensions don't work in Insider v 1.23.0"
- VSCode Version: 1.23.0-insider
- OS Version: macOS 10.12.6

Steps to Reproduce:
<img width="1066" alt="screen shot 2018-04-15 at 7 38 33 pm" src="https://user-images.githubusercontent.com/1535350/38778068-7b3405ae-40e5-11e8-950e-883dfeb39daa.png">

1. Click on extensions from left pane
2. The installed extensions progress bar keeps going on forever. Same happens when I try to install new extensi

[2018-04-15 11:56] glekner opened #47905 "VS Code doesn't fill whole screen estate"
- VSCode Version: Version 1.22.2 (1.22.2)
- OS Version: macOS 10.13.4

I noticed that about 1px is not being used by Code as the picture suggests:

<img width="1404" alt="screen shot 2018-04-15 at 14 48 54" src="https://user-images.githubusercontent.com/24938324/38778117-9a538e7e-40bc-11e8-9b46-d76e91204c1f.png">

This really hurts my eyes, i'm using BetterSnapTool to maximize windows so i'm sure

[2018-04-15 12:30] gate3 commented on #47903
Even clicking the reference to a file is really slow as well.

[2018-04-15 12:31] 8lbiasian opened #47906 "openEditors.visible"
Issue Type: <b>Settings Search Issue</b>

if i make the visible to be 0 its still appering !

VS Code version: Code - Insiders 1.23.0-insider (7c62e560a2e494a1b0b4d39561dc5c1d837a5263, 2018-04-13T05:17:33.810Z)
OS version: Windows_NT x64 10.0.16299

<details><summary>Extensions (7)</summary>

Extension|Author (truncated)|Version
---|---|---
vscode-intelephense-client|bme|0.8.8
vscode-eslint|dba|1.

[2018-04-15 12:49] weinand commented on #47897
@sandangel NODE_OPTIONS based debug flags are not yet supported.

[2018-04-15 12:57] sandangel commented on #47897
@weinand Hi, thanks for replying. I think it would be nicer if we can call node binary directly and provide NODE_OPTIONS="--inspect-brk" instead of having to call node --inspect-brk /path/to/bin.js

[2018-04-15 13:04] breezechen opened #47907 "golang multiline string syntax highlighting issue"
Issue Type: <b>Bug</b>

[code]

VS Code version: Code 1.22.2 (3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9, 2018-04-12T16:38:45.278Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3210M CPU @ 2.50GHz (4 x 2494)|
|Memory (System)|7.56GB (1.90GB free)|
|Process Argv|C:\Program Files\Microsoft VS Code\Code.exe D:\go\src\

[2018-04-15 13:13] joshstevens19 commented on #47906
https://github.com/Microsoft/vscode/issues/7755 - i think this issue was raised back in 2016. I think it was designed to behave as it is!

[2018-04-15 13:14] HOU-GOD opened #47908 "Source code management functions"
Issue Type: <b>Feature Request</b>

There is a problem with your source code management function, and you have encountered an error when submitting to github

VS Code version: Code 1.22.2 (3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9, 2018-04-12T16:38:45.278Z)
OS version: Windows_NT x64 10.0.10586

[2018-04-15 13:32] weinand commented on #47897
Please feel free to submit a pull request since we do not plan to work on this.

[2018-04-15 13:41] pppangilinan commented on #47903
Hi gate3,

yup, I agree. just found the solution, I think it because of the extension installed on the VS Code. I uninstall them then install. I don't

[2018-04-15 13:43] pppangilinan commented on #47903
sorry, I agree. Hopefully, they will do good solution for this issue. 👍

[2018-04-15 14:19] emiljohansson opened #47909 "Starts to lag after editor-widget with large content pops up"
- VSCode Version: 1.22.2
- OS Version: macOS Sierra 10.12.6

Steps to Reproduce:

1. I am using JSS (9.0.0) in the screenshot example.
2. When adding a comma at the end of the line, within the `createStyleSheet` call, an element with the class name `editor-widget` pops up. The content of the box is 10001 characters long. It seems to be cut of after that, ending with `"revert" | "unset…`. Let me kn

[2018-04-15 15:38] DStoyanoff opened #47910 "Issue with function highlight using typescript generics and complex return type"
Hello,
I have an issue with syntax highlighting which I cannot find myself. As you can see on the picture, I have two generic functions, one of which is correctly formatted and one is not.

![image](https://user-images.githubusercontent.com/5079334/38780207-af364268-40db-11e8-8e03-1fe760138ca9.png)

What I've tried so far and made it work:
- Removed generic parameter
- Returned simple Promise

As

[2018-04-15 15:55] SalocinDotTEN opened #47911 "Update error.."
- VSCode Version:
- OS Version: Windows 10 Creators Update

Steps to Reproduce:

1. Updated Visual Studio Code.
2. Updater crashed telling me to paste this here...

Apr 15 23:49:42.102 INFO Starting: C:\Program Files\Microsoft VS Code\Code.exe, false
Apr 15 23:49:42.105 INFO Checking for running Code.exe processes... (attempt 1)
Apr 15 23:49:42.108 INFO Code.exe is running, wait a bit
Apr 15 23:49

[2018-04-15 16:07] ShalokShalom opened #47912 "Translation issue in German (Terminal split)"
- VSCode Version: 1.22.1
- OS Version: KaOS (rolling)

Steps to Reproduce:

1. Move over the 'split terminal' icon in the German translation
2. Wonder yourself. :)

![screenshot_20180415_180645](https://user-images.githubusercontent.com/6344099/38780501-ce47a240-40d7-11e8-8163-208cc2b10bf2.png)

Does this issue occur when all extensions are disabled?: Yes/No
Yes

[2018-04-15 16:07] VladimirTyalo commented on #37350
The day you implement this feature I will stop using webstorm.

[2018-04-15 16:30] tsalinger commented on #44920
Sorry for the late response.
I think this is already in the product: https://code.visualstudio.com/docs/editor/codebasics#_indentation:
![indentation-commands](https://user-images.githubusercontent.com/15158320/38780696-f40ecbe0-40da-11e8-92c2-918eb6a9af93.png)
Please let me know if this helps you.

[2018-04-15 16:51] rakkarage commented on #14165
![2018-04-15_li](https://user-images.githubusercontent.com/962340/38780926-a8ab6656-40ab-11e8-93c7-21170b8f5529.jpg)

[2018-04-15 17:04] usernamehw commented on #47427
Works for me 😐

[2018-04-15 17:55] shulgin-egor commented on #47650
@alexandrudima Both Russian and English
![image](https://user-images.githubusercontent.com/14257816/38781494-db68d158-40ee-11e8-8ce0-ec73c0aeb58b.png)

[2018-04-15 18:15] emiljohansson commented on #47909
I wanted to add that if I close the widget, the lag remains going between editors, but the cursor lag seems to go away.

I also tested setting the `end` variable to 500 and that removed the lag: https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/parameterHints/parameterHintsWidget.ts#L394

[2018-04-15 18:18] ShalokShalom opened #47913 "Translation issue in German (Deactivate all installed plugins)"
This suggests that it uninstalls all plugins, while it essentially deactivates them:
![screenshot_20180415_201637](https://user-images.githubusercontent.com/6344099/38781735-260d4c5c-40ea-11e8-818f-17f191b16384.png)

[2018-04-15 18:38] ShalokShalom commented on #47913
Thanks bot, this one here is unique.

[2018-04-15 18:47] Undistraction commented on #45319
Thanks and sorry I missed your reply. You were correct. I didn't have a `jsconfig.json` configured.

[2018-04-15 19:08] roblourens commented on #47893
Please do the following

- Run the command "Set log level" and change it to "Trace"
- Run the search again
- Show the search-related messages in the "Log (Window)" output panel

![image](https://user-images.githubusercontent.com/323878/35987940-02aae15a-0cb2-11e8-83f1-d95c5dc3881b.png)

[2018-04-15 19:32] franciscolourenco commented on #24916
Gitsavvy is by far the best git staging experience I've tried so far. The only thing I'm missing in VSCode atm.

![staging](https://cloud.githubusercontent.com/assets/5016978/6471628/886430f8-c1a1-11e4-99e9-883837dba86f.gif)

Some of the features missing:
- [ ] Open file diff view from directly from editor
- [ ] Ability to stage entire hunks, without having to select them
- [ ] Good Shortcuts, ide

[2018-04-15 19:38] DonJayamanne opened #47914 "Add ability to use source reference as a fall back"
Currently when the source reference is returned over the debugger protocol, the source is retrived via the debug adapter (ie remote source is always used).

Would it be possible for vs code to check if the file exists locally, if not then fall back to using the source reference.

This would greatly simplify remote debugging , at least in Python. This way user doesn't need to configure any path (lo

[2018-04-15 19:45] sulkhanp commented on #29997
Will this issue get any love anytime soon?

[2018-04-15 20:06] pricej8x2 opened #47916 "Apply file color decorations in more places (tabs title)"
- VSCode Version: 1.22.2
- OS Version: Windows 10

In the screenshot below, the **123.css** file name in the tabbed header should (IMO) be colored red to match what is seen in the OPEN EDITORS section.

![image](https://user-images.githubusercontent.com/14798519/38782779-74d86444-40c6-11e8-8688-67e123165715.png)

[2018-04-15 20:31] garyking opened #47917 "If file isn't visible in sidebar, then don't search it"
I am hiding some folders and files in the sidebar, like `node_modules`. Yet when I search all files, results appear from files in `node_modules` still. For some reason, this is only happening in one of my workspaces.

To elaborate, I've got a long list of folders in `files.exclude`, and am not using `search.exclude`. I assume that `search.exclude` inherits from `files.exclude`, yet I'm not experie

[2018-04-15 20:51] #47917 closed

[2018-04-15 21:00] garyking opened #47918 "If workspace file has a space, then search.exclude is ignored."
Create a folder, like `app`, which has files that are part of `search.exclude`. For instance, install an NPM package, like `react`, to create the `node_modules` dir.

Create a workspace for this `app` folder. Ensure the name of the workspace file has a space, so it's like `My App.code-workspace`.

Open the workspace file to open the workspace. Search for `export` across all files. Results will app

[2018-04-15 21:16] rakkarage commented on #43936
"editor.minimap.showSlider": "always",

the new mini map has this feature yet scrollbar is missing it :(

[2018-04-15 21:27] garyking commented on #46718
Per my issue at #47918, does your workspace file have a space in it?

[2018-04-15 21:52] LittleHamster commented on #44920
@tsalinger
yeah I found that option, it is great.
can we automate this on save? so whenever I open a file which tabs are used as indents, convert them to spaces and save? or something that can be run on the entire project

[2018-04-15 22:05] laibulle commented on #44358
Hello,

here is a proposal of how it could be handled:
https://github.com/Microsoft/vscode/pull/47920

I just handle cursor in the TreeView but if you agree with the way it is done, we could use this option in other components.

Best regards

[2018-04-15 22:08] sulkhanp commented on #45121
@chrmarti Don't you agree that this shouldn't be forced upon users and should be left as an optional enable-disable, disabled by default? I think the fact that it was an enabled option for such a long time and not too many complained is an argument enough to make this commit optional.

[2018-04-15 22:58] roblourens commented on #47917
Is it searching files that are open?

[2018-04-15 23:03] roblourens commented on #47918
This doesn't seem likely because the workspace file name isn't used or known by any code involved in search. Are you sure those things are connected?

[2018-04-15 23:33] garyking commented on #47918
I change the name and open it, then the problem happens immediately.

[2018-04-15 23:57] #47918 closed

[2018-04-16 01:19] dmbdesignpdx opened #47922 "Object Literal in <script> of HTML produces TypeError: Cannot read property 'length' of undefined"
Issue Type: <b>Bug</b>

While creating an object literal in a `<script>` of an **HTML file**, as soon as I type the starting quote of a quoted property name VS Code auto-completes the ending quote...
[code]

...but also throws the following error in the output channel:

[code]

This seems to only happen in an HTML file; I tried to reproduce in a JS file, but no error was thrown.
<br>
VS Code versi

[2018-04-16 01:37] msultani commented on #47573
Hello! I'm giving this issue a shot and wanted to ask a clarifying question.

My understanding is that I am trying to make vscode automatically save the file after refactoring (`F2`). I believe I've found where the refactoring takes place: `SelectRefactorCommand` class in `vscode/extensions/typescript-language-features/src/features/refactorProvider.ts`.

My question is regarding adding the code to

[2018-04-16 01:40] gonssal commented on #47016
I have a project with a "npm run watch" task. This is a task that should be run only once, but everytime I want to save a sass file I got asked which task to run, and when I select the "watch" one, I still get asked more things. This happens everytime I save the file, no matter if the task is already running or not.

To avoid this really annoying behavior I tried setting `"npm.autoDetect": "off"`.

[2018-04-16 01:45] ganeshmuth commented on #5240
When will this feature be available??

[2018-04-16 01:49] lilijialiang opened #47923 "How the 'quickOpen' does not include recently used files ?"
When using 'quickOpen', it will search for some recently used files, but if only want to search the files in the current project, how to set the configuration?

I think that has not been implemented yet, this is a future proposal.

[2018-04-16 02:07] chungweileong94 opened #47924 "Not getting intetllisense for custome react component props"
I'm not getting intetllisense for react props, even i already define the propTypes. I able to get the autocomplete on webstorm, I which to have this feature, so that I can fully using vscode. The language that I use is JavaScript.

- VSCode Version: 1.22.2
- OS Version: Windows 10 (16299.371)

Steps to Reproduce:

1.  Create a react component with `propTypes`
2.  Create the component and `ctrl + s

[2018-04-16 02:12] faelribeiro22 commented on #47901
Hello, there is an extension that can help in this if it is called Settings Sync.

[2018-04-16 02:28] FishOrBear commented on #47411
I'm very sorry, I need some time to read the source code.

[2018-04-16 02:38] wdc596933938 opened #47925 "Copy C/C++ code from vscode will lose spaces and indents"
Issue Type: <b>Bug</b>

When I copy C/C++ code from _vscode_ to _one note_ or any web, the spaces and indents will lose. Is there any way to keep them?

VS Code version: Code 1.22.2 (3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9, 2018-04-12T16:38:45.278Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6700HQ CPU @ 2.60G

[2018-04-16 02:56] #47662 closed

[2018-04-16 03:00] 3DEsprit opened #47926 "UI - Tab View: Oddities Choosing Projects in Alternate Tab"
Issue Type: <b>Bug</b>

Working: 1.22.1
Broken: 1.22.2

OS: OSX 10.13.4

**Issue**: When choosing a project for a new tab or tabs, instead of setting the folder to the tab it was opened from, the project chosen may replace another tab's project, clear the project from another tab, open a whole new tab, or close multiple tabs. For some reason this seems to happen with recent projects, but after muc

[2018-04-16 03:13] roblourens commented on #46315
I'm hearing feedback in a few categories

- Reading/skimming the include/exclude patterns is less convenient, when they're in a single box
- Temporarily removing the excludes was more convenient when they were in a separate box
- General confusion/the perception that functionality has been lost (besides the above)

Some reasons it was originally changed

- Simpler to edit - keep your cursor in one

[2018-04-16 03:16] 3DEsprit commented on #47926
Still a different issue than what the bot thought was duplicate.

I was able to download a version of 1.21.1 to regain this feature, but keeping the 1.22.2 for any future tests.

[2018-04-16 03:20] lihua06 opened #47927 "VSCODE Directory Messy"
VSCODE is a great working partner；
In project development, as the project expands, more and more folders are added, and the current deficiencies in the VSCODE directory UI are also found（Directory Too messy）.

Suggest：Above folder, below is the corresponding   ##file（Reference：EIDTPLUS）
![002](https://user-images.githubusercontent.com/20437381/38789109-9fc8d54a-416a-11e8-94b9-91b9807a5113.png)

VS

[2018-04-16 03:51] Crazy-P commented on #46315
Very debatable and is a pure preference as both ways are rather logical.

Please don't match the other editors. :(
Sure some other editors got some good design approaches,  however VS Code is epic because it is not totally like all the others and is so flexible when it comes to customizations - fitting one's own or a specific project's needs while being extremely light.

[2018-04-16 04:11] ramya-rao-a commented on #46333
The docs have been updated to include all the filters. See https://code.visualstudio.com/docs/editor/extension-gallery?pub=HookyQR&ext=beautify#_extensions-view-filters

[2018-04-16 04:34] tomaskikutis commented on #16320
See #30290(Go to definition for .jsx does not work). I was trying all the snippets from this thread with no luck until I found that it worked on .js files, but not .jsx, where I did all the testing.

[2018-04-16 04:41] bpasero commented on #47736
@Yogeeshvh are you running as a different user than the files where created with, e.g. as admin?

[2018-04-16 04:42] bpasero commented on #43710
@colemickens yes that build is using a much newer Electron build. Did you see any difference with that build?

[2018-04-16 04:51] bpasero commented on #46917
@isidorn lgtm thanks

[2018-04-16 04:55] roblourens commented on #47869
- Are you searching in a large folder with lots of files?
- In Task Manager, do you see a process running called `rg.exe`?

[2018-04-16 04:56] bpasero commented on #47799
@isidorn the preferences, file and binary file editor are being contributed to the workbench from `vs/workbench/parts`. Moving knowledge of them into `editor.ts` (which is a core workbench piece) is a layer breaker we should try to avoid. The following IDs should move out again:
* `PREFERENCES_EDITOR_ID`
* `TEXT_FILE_EDITOR_ID`
* `FILE_EDITOR_INPUT_ID`
* `BINARY_FILE_EDITOR_ID`

If we need to chec

[2018-04-16 05:29] jatarga commented on #47927
#17777

[2018-04-16 05:43] yume-chan commented on #47925
What's *onnote*?

[2018-04-16 05:47] bpasero commented on #47926
@3DEsprit we currently do not support to open the same folder in multiple windows, it seems to me the folder is already opened in another window and we just switch focus to it, can you confirm?

[2018-04-16 05:49] yume-chan commented on #47908
Please provide more details about what you want to do and what goes wrong.

[2018-04-16 05:57] lihua06 commented on #47927
#17777 Beautify the directory, did not really improve the confusion of catalog files

[2018-04-16 05:59] yume-chan commented on #47891
I think if you press <kbd>Shift</kbd> + <kbd>F11</kbd> when you are debugging, code should do both step out and toggle zen mode, isn't it?

The <kbd>Shift</kbd> + <kbd>F11</kbd> keybinding for `Step Out` command have a `when: inDebugMode` clause so it's only active when debugging. If you want to deactivate your keybinding for toggle zen mode there, you can add a `when: !inDebugMode` to it.

[2018-04-16 06:02] colemickens commented on #43710
Yeah, I had mention that it did correct re-adjust when switching from low-DPI to high-DPI. I was unable to test the other direction but I assume it works.

[2018-04-16 06:06] Baozi2 opened #47928 "terminal error"
Issue Type: <b>Bug</b>

VScode Version 1.22.2 (1.22.2)
I find the terminal cannot load , last version is ok

VS Code version: Code 1.22.2 (3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9, 2018-04-12T16:32:53.389Z)
OS version: Darwin x64 17.5.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz (8 x 2200)|
|Load (avg)|2, 2, 2|
|Memory (System)

[2018-04-16 06:10] dbaeumer commented on #47016
@gonssal I am pretty sure that this is caused by an extension. Can you please try to run code with `--disable-extensions` from a terminal and see if this still happens. If not please find the extension and report the issue there.

[2018-04-16 06:10] shizengzhou commented on #47891
@yume-chan When I am degugging, I press `Shift` + `F11`, vs code toggles zen mode rather than code does step out.

[2018-04-16 06:12] dbaeumer commented on #47317
I have not started working on this. Please see my comment https://github.com/Microsoft/vscode/issues/47317#issuecomment-379733890

[2018-04-16 06:13] unknown-1 opened #47929 "Move menubar to the left"
Hello,

I've just installed VSCode and without changing anything in the settings I get the Menubar on the right side. This is bothering me alot.
<img width="293" alt="default" src="https://user-images.githubusercontent.com/22024246/38792570-49827c18-4156-11e8-9ff0-7aa8a584a825.png">

Is there a way to move it to the left side? I've looked at the settings and there appears to be no option to change

[2018-04-16 06:14] dbaeumer commented on #46895
@dark07perez thanks for the steps. Reopening and assigning to @mjbvz

[2018-04-16 06:16] dbaeumer commented on #29364
@jcrben not really. Marking as dup. Thanks

[2018-04-16 06:16] #29364 closed

[2018-04-16 06:17] testworksau opened #47930 "Set workbench.editor.closeOnFileDelete to false by default"
Issue #24328 introduced a setting to allow VS Code to keep a file open after it was deleted from disk. This was implemented after a VS Code user experienced data loss when the file containing their code was accidentally deleted from the file system.

Unfortunately, this setting is disabled by default.

Many text editors or IDEs have implemented behavior where files will remain open if they are not

[2018-04-16 06:31] duonglh commented on #47893
[2018-04-16 13:18:12.127] [renderer1] [debug] SearchService#search rg
--hidden --heading --line-number --color 'ansi' --colors 'path:none'
--colors 'line:none' --colors 'match:fg:red' --colors 'match:style:nobold'
--ignore-case --max-filesize '17179869184' --no-ignore --fixed-strings --
'<ButtonAdd' 'g:\Works\NodeJs\FundServ\sources\webuser'
'g:\Works\NodeJs\FundServ\sources\sso'
'g:\Works\NodeJs\

[2018-04-16 06:31] svict4 commented on #12622
@Mnuzz wouldn't #26965 not be a great starting point?

[2018-04-16 06:33] NateLing opened #47931 "Could not create new file"
- VSCode Version: 1.23.0
- OS Version: mac os 10.13.4

Steps to Reproduce:

1. open right menu
2. click new file menu item
 nothing happened

Does this issue occur when all extensions are disabled?: Yes

[2018-04-16 06:42] Yogeeshvh commented on #47736
@bpasero No, I was running as same user all the time(not Admin)

[2018-04-16 06:48] stoplion opened #47933 "Sidebar opens whenever I focus on one of the editors"
- VSCode 1.22.2
- OS X

Steps to Reproduce:

1. Focus on an editor
2. The sidebar opens

[2018-04-16 06:54] #47928 closed

[2018-04-16 06:54] Baozi2 commented on #47928
after  reinstall,  it work

[2018-04-16 06:56] zhaojuntao commented on #47869
- Are you searching in a large folder with lots of files?
Yes，contains git management.

- In Task Manager, do you see a process running called rg.exe?
do not find `rg.exe`

[2018-04-16 06:57] nani554 commented on #31600
**To my Understanding from above discussion**,
for eg:
If i create a directive || component || pipe from **cmd** **prompt** and at the same time if the app.module.ts is opened but app.module.ts is not modified according to the changes made externally,
On using below key value
**"files.useExperimentalFileWatcher": true**
now it is modiying the app.module.ts on any external changes.
So it is working

[2018-04-16 07:03] dark07perez commented on #46895
If you need more information, do not hesitate to let me know

[2018-04-16 07:07] carlobonamico opened #47934 "GIT merge conflict resolution lens not visibile on first line of the file"
Issue Type: <b>Bug</b>

1. create a git conflict on the first N lines of a file
2. open the file in the changes view
3. the conflict resolution lens ("Accept Incoming / Accept Current Change ...") is not visible
(Picture 1/A)

If I add an empty line at the beginning of the file, the lens does appear
(Picture 1/B)

VS Code version: Code 1.22.2 (3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9, 2018-04-12T1

[2018-04-16 07:12] carlobonamico commented on #47934
![image](https://user-images.githubusercontent.com/475561/38794672-4140d4d2-4156-11e8-8a8d-2a533c25902d.png)

[2018-04-16 07:20] amithegde opened #47935 "Find all files containing something and not containing something"
Please extend the search in files at allow searching files which contain something and/or not containing something. Chaining multiple conditions would be awesome. Think of it as  LINQ where clause.

Does this issue occur when all extensions are disabled?: Na

[2018-04-16 07:29] #47811 closed

[2018-04-16 07:36] tostca opened #47937 "Cannot create a file or a folder in left pane."
Issue Type: <b>Bug</b>

Below steps was done on a VM with clean an installation and no extensions.

1. Create test folder 'TestScripts' on C:\.
2. On VS Code select **File** -> **Open Folder** and choose the folder you just created.
3. Right click in the left pane for the opened folder and try to create a file or a folder and nothing happens.

VS Code version: Code - Insiders 1.23.0-insider (dfeff

[2018-04-16 07:39] kasperbrandenburg opened #47938 "Powershell debugging fails"
Issue Type: <b>Bug</b>

Running a small snippet of powershell and pounding the F5 button, i'm getting "Debug adapter process has terminated unexpectedly" and my code wont run anymore.

VS Code version: Code 1.22.2 (3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9, 2018-04-12T16:38:45.278Z)
OS version: Windows_NT x64 10.0.15063

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R

[2018-04-16 07:39] zh-ngk-i opened #47939 "Duplicate object key"
Issue Type: <b>Bug</b>

why settings.json Prompt " Duplicate object key   "

VS Code version: Code 1.22.2 (3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9, 2018-04-12T16:38:45.278Z)
OS version: Windows_NT x64 10.0.14393

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3230M CPU @ 2.60GHz (4 x 2594)|
|Memory (System)|5.69GB (1.15GB free)|
|Process Argv|C:\Progra

[2018-04-16 07:42] zh-ngk-i commented on #47939
![tim 20180416154142](https://user-images.githubusercontent.com/3607715/38796006-b285b4b0-418c-11e8-9a69-001894d3e936.png)

[2018-04-16 07:42] joaomoreno commented on #47829
https://github.com/joeferraro/MavensMate/issues

[2018-04-16 07:42] #47829 closed

[2018-04-16 07:42] GBarkhatov commented on #47937
Same here

[2018-04-16 07:43] mikemaccana opened #47940 "Typing with the cursor before an emoji types backwards"
Issue Type: <b>Bug</b>

Typing with the cursor before an emoji types backwards. See the screenshot below.

![image](https://user-images.githubusercontent.com/172594/38796037-18e29254-4152-11e8-8ecd-6825bae5ab05.png)

VS Code version: Code - Insiders 1.23.0-insider (e6b61067f22fd94718f7c427d9caded5514761f4, 2018-04-11T05:17:47.288Z)
OS version: Windows_NT x64 10.0.17133

<details>
<summary>System I

[2018-04-16 07:44] mikemaccana commented on #47940
Nope @vscodebot, nothing to do with the integrated terminal, and not a duplicate of those issues.

[2018-04-16 07:44] joaomoreno commented on #47836
Please file this issue in the appropriate repository: https://github.com/MicrosoftDocs/live-share

[2018-04-16 07:44] #47836 closed

[2018-04-16 07:45] #47838 closed

[2018-04-16 07:47] joaomoreno commented on #47854
Can you provide a screenshot?

[2018-04-16 07:52] joaomoreno commented on #47858
What do you mean by "tooltip appears"? Can you share a screenshot?

[2018-04-16 07:53] NateLing commented on #47937
Same here, macos

[2018-04-16 07:57] joaomoreno commented on #47873
Yeah this is the sad consequence discussed in #35223. Unfortunately that's unlikely to change in the near future.

It's not as simply to say "allow to wrap after :". It's more about prohibiting to break words in the middle. And we can't do that in the current form of the widget, given the justification in #35223.

[2018-04-16 07:57] #47873 closed

[2018-04-16 07:57] isidorn commented on #47349
Might be some unrelated status bar work. Anyways if you see it again just try to inspect more and let me know how it looks

[2018-04-16 07:58] joaomoreno commented on #47875
What do you mean? Are you coding in a specific language?

[2018-04-16 07:59] #47885 closed

[2018-04-16 08:01] Gama11 commented on #47873
Fair enough, thanks for clarifying!

[2018-04-16 08:02] alpaix commented on #46192
By adopting this approach, it's going to be a core principle for both IDE client implementations. It will require knowing how to distinguish a task terminal from an interactive one; mainly because we'll need to apply different sharing permissions and policies. For instance, a task terminal will be remoted automatically in a read-only way, while sharing an interactive terminal will require a host u

[2018-04-16 08:05] #47896 closed

[2018-04-16 08:06] #47898 closed

[2018-04-16 08:06] fathidk commented on #47898
hi joshstevens19
thank you  for your help    the problem was solved   i didn't now about  double click    thanks a lot

[2018-04-16 08:11] #47901 closed

[2018-04-16 08:12] joaomoreno commented on #47903
@pppangilinan Which language?

[2018-04-16 08:12] joaomoreno commented on #47907
Please file this in the appropriate extension repository.

[2018-04-16 08:12] #47907 closed

[2018-04-16 08:13] joaomoreno commented on #47908
Ditto

[2018-04-16 08:14] aeschli commented on #47775
@octref yes, you can use "less.lint.unknownProperties" to turn off all validation warnings.
But the idea is to just be able to pass a list accepted properties, so you can still get validation for all others.

[2018-04-16 08:24] fenglinzeng commented on #47937
same here, macOS

[2018-04-16 08:26] fenglinzeng commented on #47931
same here, macOS

[2018-04-16 08:27] joaomoreno commented on #47513
Here's a bit more information on telemetry and VS Code:

- https://privacy.microsoft.com/en-us/privacystatement
- https://code.visualstudio.com/Docs/supporting/faq#_how-to-disable-telemetry-reporting

If you want to dig deeper, simply search our sources of `__GDPR__`: https://github.com/Microsoft/vscode/search?utf8=%E2%9C%93&q=__GDPR__&type=

[2018-04-16 08:28] solaomosola opened #47941 "Visual Studio Code cannot be opened because of a problem"
Process:               Electron [623]
Path:                  /Applications/Visual Studio Code.app/Contents/MacOS/Electron
Identifier:            com.microsoft.VSCode
Version:               1.22.2 (1.22.2)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           Electron [623]
User ID:               501

Date/Time:             2018-04-16 09:27:56.907 +0100
OS Ver

[2018-04-16 08:29] joaomoreno commented on #47485
Where did you install Code into? Do you have `unins*` files in that directory?

[2018-04-16 08:30] joaomoreno commented on #47810
Let me know once you can reproduce.

[2018-04-16 08:31] #47810 closed

[2018-04-16 08:31] joaomoreno commented on #47786
OK Let me know.

[2018-04-16 08:33] joaomoreno commented on #41519
I've added a couple tags, let's see if someone picks it up.

[2018-04-16 08:33] #44602 closed

[2018-04-16 08:33] sean-mcmanus opened #47942 "Missing icons in activity bar"
Moved from https://github.com/Microsoft/vscode-cpptools/issues/1840, originally by @Baozi2

version 1.22.2
os mac
this is new , the search、git disappear. All extension disabled
![new](https://user-images.githubusercontent.com/5621510/38794669-8a0dc580-4188-11e8-9c8f-d349eed60ad2.png)

[2018-04-16 08:34] joaomoreno commented on #47866
Why do you seem to have a `.git` repository in `E:\Microsoft VS Code`?

[2018-04-16 08:34] 18649807640 opened #47943 "CODE OUTLINE拓展"
Issue Type: <b>Feature Request</b>

请将CODE OUTLINE拓展内置到VSCODE中，去掉右侧可拖动总览划栏，替换成CODE OUTLINE分栏，请参考eclipse

VS Code version: Code 1.22.2 (3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9, 2018-04-12T16:38:45.278Z)
OS version: Windows_NT x64 6.1.7601

[2018-04-16 08:35] 18649807640 opened #47944 "CODE OUTLINE Expand"
Issue Type: <b>Feature Request</b>

Please expand the CODE OUTLINE extension into VSCODE, remove the right side, drag the general view bar, and replace it with CODE OUTLINE column, please refer to eclipse.

VS Code version: Code 1.22.2 (3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9, 2018-04-12T16:38:45.278Z)
OS version: Windows_NT x64 6.1.7601

[2018-04-16 08:35] DanTup opened #47945 "EvaluateArguments.context is undefined for "Copy value" context menu action"
My debugger currently returns a truncated string for evaluate requests which is fine for the watch window (etc.), especially as Code also truncates - however I'd like to provide the full value when a user clicks "Copy value" on the context menu from the variables window(etc.).

Currently it seems that populating the `Copy value` action from the variables list passes `undefined`.

Is it possible to

[2018-04-16 08:36] joaomoreno commented on #47876
Both terms actually work. "Add" is the command line verb. It comes from "add the file to the index".

But git also uses the staging area terminology: you can stage files, which basically means adding them to the index. It's even in the official book: https://git-scm.com/book/en/v2/Git-Basics-Recording-Changes-to-the-Repository

It's a bit too late to change this, as we'd just get other issues pull

[2018-04-16 08:37] xman086 opened #47946 "Failed to open file with menu "Open With""
Issue Type: <b>Bug</b>

1. selected txt file and then right click on it.
2. click on menu "Open With" ->Visual Studio Code.
3. vs code program started but the file isn't show in it.

VS Code version: Code 1.22.2 (3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9, 2018-04-12T17:28:16.777Z)
OS version: Windows_NT ia32 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) C

[2018-04-16 08:37] joaomoreno commented on #47942
![image](https://user-images.githubusercontent.com/22350/38798540-2bd1acaa-4162-11e8-9792-42ae54b8904e.png)

[2018-04-16 08:37] #47942 closed

[2018-04-16 08:39] yume-chan commented on #47876
@joaomoreno How about add an alias for `add`?

[2018-04-16 08:39] bpasero commented on #47736
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2018-04-16 08:39] solaomosola commented on #47941
Fixed the problem by downloading the app again. I think the problem has to do with an update from a previous version.

[2018-04-16 08:39] #47941 closed

[2018-04-16 08:40] #47835 closed

[2018-04-16 08:41] bpasero commented on #47837
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2018-04-16 08:43] bpasero commented on #47862
@xobs does it reproduce if you run "`code --disable-gpu`" from the command line?

[2018-04-16 08:43] aeschli commented on #47889
I can't reproduce that with a bare VSCode. Do you have any extensions or installed? Maybe format-on-save enabled?

[2018-04-16 08:43] Dartv commented on #47903
I have the same issue on ubuntu 16.4 with js
Previous version was working fine

[2018-04-16 08:43] bpasero commented on #47867
I would accept a (minimal) PR to get this in.

[2018-04-16 08:43] dylanwind opened #47947 "Allow "Alt+Shift+C" to copy path of opened file in the editor"
Issue Type: <b>Bug</b>

Try to copy path of an opened file,  the short cut does not work in editor, only work in Explorer.

VS Code version: Code 1.22.2 (3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9, 2018-04-12T16:38:45.278Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-5600U CPU @ 2.60GHz (4 x 2594)|
|Memory (System

[2018-04-16 08:45] bpasero commented on #47872
@mRcfps you will have to save with "UTF-8 with BOM" to ensure we reopen this as UTF-8 when auto guess encoding is on.

[2018-04-16 08:45] #47872 closed

[2018-04-16 08:45] bpasero commented on #47883
@kirusyaga can you run "`code --verbose`" from the command line and see if any output is printed?

[2018-04-16 08:46] pharrisee commented on #47931
same here, although using the File>New menu works, as does Ctrl-N

[2018-04-16 08:47] bpasero commented on #47887
@qjzTreeZ we changed this intentionally, if you want to open a workspace, pick "Open Folder" instead.

[2018-04-16 08:47] #47887 closed

[2018-04-16 08:47] ikennobunga commented on #47875
what I mean is take webflow.com for example on the right side of the panel they have this ui tool in the layout panel for adding padding and margins by clicking and dragging to your desired size. I would love to see a similar tool implemented on vsc.

[2018-04-16 08:48] aeschli commented on #47895
@rebornix I verified that the css server sends back the correct rgba. It looks like the decorator does not update the :before-stylesheet if only the opacity is changed.

[2018-04-16 08:48] bpasero commented on #47744
Assuming the error originates from ripgrep.

[2018-04-16 08:49] yume-chan commented on #47943
Please post your question in English.

Can you attach a screenshot from Eclipse for reference?

[2018-04-16 08:51] bpasero commented on #47927
@lihua06 thanks for the suggestion but I do not think we would change our file explorer to the UI you presented. However, extensions are free to contribute their own file explorers to improve this.

[2018-04-16 08:51] #47927 closed

[2018-04-16 08:51] isidorn commented on #47799
@bpasero makes sense. I have made the changes to move this back into it's appropraite layer, however now I seem to be hitting the following issue
1. Open an editor, go into center mode
2. Open preferences editor
3. Layout is called -> I need to figure out if I should center, however the preferences editor still does not have input asociated with it - it is null. Thus I can not ask the input if it

[2018-04-16 08:51] bpasero commented on #47929
@unknown-1 what version are you on (check Help > About and copy the details)?

[2018-04-16 08:53] bpasero commented on #47933
@stoplion any more steps, are you just clicking into an editor with the mouse? Can you share a screencast how this looks like?

[2018-04-16 08:54] isidorn commented on #47892
Yes this message can be improved.
We accept PRs that fix this
Code pointer https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/files/electron-browser/fileActions.ts#L636

[2018-04-16 08:55] bpasero commented on #47799
@isidorn you could also move this method to the [`BaseEditor`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/browser/parts/editor/baseEditor.ts#L26)

[2018-04-16 08:56] aeschli commented on #47818
@pke What's the language mode the editor is in? HTML or JavaScript React? Can you paste a complete sample?

I tried the sample of https://github.com/zeit/styled-jsx#getting-started, and that doesn't show errors (as we don't validate css in jsx).

[2018-04-16 08:56] DanTup commented on #47945
This may be specifically for the Variables list, as it seems like Copy value always copies the provided value - it doesn't seem to call evaluateRequest again for the Watch window, so I need to provide the un-truncated version for watch anyway.

So, are there any guidelines on when to fetch the full untruncated string?

[2018-04-16 08:57] kirusyaga commented on #47883
@bpasero The output is here:

[code]

[2018-04-16 08:57] isidorn commented on #47834
I can not reproduce it anymore, though on Friday I saw it all the time.
Next time I see it I will try to disable ts lint and let you know what I see.

[2018-04-16 08:57] #47834 closed

[2018-04-16 08:57] unknown-1 commented on #47929
Hi, sorry about that.
<img width="281" alt="default" src="https://user-images.githubusercontent.com/22024246/38799498-54e82118-416d-11e8-8172-32d6958c09e5.png">

[2018-04-16 08:59] isidorn commented on #47749
@Tyriar it is focusing the editor because the moving to the item below selects that item (this is a special item called "Add Configuration..."). Whenever that item is selected we focus the editor (that is the point of selecting that item)
So this might be designed behavior, though I understand that it is confusing.

[2018-04-16 09:02] isidorn commented on #47849
Currently you can select text and copy using the shorcut keys in the debug hover tree.
However we do not support the context menu in the debug hover. Leaving this open as a feature request to add a context menu to the debug hover.
Though in our regular non debug hover we do not support a context menu as well atm.

[2018-04-16 09:05] isidorn commented on #47863
I will first look into making it possible to terminate an initialising session.

[2018-04-16 09:07] DanTup commented on #47078
@isidorn Ok, I looked at this code again:

[code]

This is not falling back to `name` because `this.expression` is an instance of `Variable`, it just doesn't have an `evaluateName`. Therefore the code above takes the `undefined` of `this.expression.evaluateName`.

Shouldn't it be something like:

[code]

?

[2018-04-16 09:07] joaomoreno commented on #47903
Which language?

[2018-04-16 09:07] #47875 closed

[2018-04-16 09:08] DanTup commented on #47078
Also; I still think the behaviour mentioned in the linked comment at the top would be good - what happens if we fabricate a variable for the Variables window (eg. an exception) and don't have a good way to add it to the `Watch` window?

[2018-04-16 09:09] pke commented on #47818
The editor is in JavaScript mode.
I have the feeling it not always happens. Today it seems to be gone. Need to investigate more.

Thats the complete file:

[code]

[2018-04-16 09:13] isidorn commented on #47604
@kolbma thanks for the great video. However I still can not repro both on my os x and win.
@bpasero do you have any idea if this might be some electron issue?

[2018-04-16 09:16] bpasero commented on #47929
@unknown-1 it looks like more things are right-to-left aligned, e.g. this dialog as well. I can only speculate that you configured some Windows settings that caused it so I suggest you try to revert that back. There is nothing VS Code can do it seems.

[2018-04-16 09:16] sean-mcmanus commented on #47849
Oh, thanks a lot -- that work around of select/paste works -- I didn't think of doing that because the mouse cursor is a hyperlink pointer instead of the normal pointer. I don't know a reason I would need the right-click menu now.

[2018-04-16 09:16] freedom5566 commented on #47317
Thank you!I am looking forward.

[2018-04-16 09:17] bpasero commented on #47883
adding @joaomoreno for the (maybe unrelated) spdylog stacktrace that shows up.

@kirusyaga can you share a screenshot how VSCode looks after it started like this?

[2018-04-16 09:26] #47929 closed

[2018-04-16 09:29] isidorn commented on #47931
Thanks for reporting. Fixed via 62f3ebeb0f

[2018-04-16 09:29] #47931 closed

[2018-04-16 09:34] isidorn commented on #47849
Ok, then closing this and will reopen if we find some other use case for the context menu

[2018-04-16 09:34] #47849 closed

[2018-04-16 09:35] #47882 closed

[2018-04-16 09:38] pppangilinan commented on #47903
@joaomoreno Both TypeScript and JavaScript and other 3rd party libraries.

[2018-04-16 09:48] perlun commented on #47937
Can also verify this on macOS, these buttons are now defunct. This is actually the first time I've been hit by a pretty critical bug in VSCode Insiders. ❤️

<img width="87" alt="image" src="https://user-images.githubusercontent.com/630613/38802209-7fecd24e-4174-11e8-997e-d39235d84faf.png">

[2018-04-16 09:55] zhiqiang21 commented on #47718
when i config .vscode/launch.json    `sourceMaps: false `  when i start program then breakpoint not miss , but program not stop on this .  so i set `sourceMaps: true ` the problem is still.

**I write nodejs  not use typescript. please help me .**

[2018-04-16 09:56] zhiqiang21 commented on #47718
@rebornix

[2018-04-16 09:57] lym152898 opened #47949 "type definition"
Issue Type: <b>Bug</b>

Go to the type definition is always show loading

VS Code version: Code 1.22.2 (3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9, 2018-04-12T16:34:44.222Z)
OS version: Linux x64 4.13.0-041300-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7200U CPU @ 2.50GHz (4 x 2700)|
|Load (avg)|4, 2, 1|
|Memory (System)|7.70GB (2.15GB free)|

[2018-04-16 10:07] thosanmaytinh opened #47950 "Crash after updating VS"
Issue Type: <b>Bug</b>

Help to review.
1_ I click on menu update vs.
2_ I saw small popup tell me install now or not. I hit button No. I dont want update right now.
3_ I click on close to quit the Application.
4_ I meet issue cannot open VS.
Thank you and sorry for my bad english.

VS Code version: Code 1.22.2 (3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9, 2018-04-12T16:38:45.278Z)
OS version: Window

[2018-04-16 10:12] kasperbrandenburg commented on #47938
Been trying to replicate this since creating the ticket. I cant seem to trigger the behavior again.
Lets assume it was a one-time deal

[2018-04-16 10:12] #47938 closed

[2018-04-16 10:14] cwasp commented on #47950
I have similar problem with the new v. 1.22.2 (Mac OS 10.12.6) and had to roll back to v. 1.22.1

[2018-04-16 10:16] CodeLookBook opened #47951 "Не работает кнопка - "создать файл" находящаяся в проводнике VS Code"
Мы скопировали необходимые данные в буфер обмена, так как у них был слишком большой размер для отправки. Вставьте эти данные.

[2018-04-16 10:18] iruletheworld opened #47952 "Multiple shells stop working properly"
Issue Type: <b>Bug</b>

Hi,

I just updated to the following version of VSCODE:

Version 1.22.2
Commit 3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9
Date 2018-04-12T16:38:45.278Z
Shell 1.7.12
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

Before upgrade, I was using git bash with anacoda prompt as my shells with no problem. After the latest upgrade, git bash is no longer working as an integrated s

[2018-04-16 10:25] CodeLookBook opened #47953 "Pane button (not context menu) - "create file" doesn't work in VS Code IDE"
Issue Type: <b>Bug</b>

Expected: IDE should create new file and render it in the folders tree of the IDE Explorer.
Reality: Nothing happens.

VS Code version: Code - Insiders 1.23.0-insider (dfeffb55b62cc2c1dde5cc1e25e98632eeb7744b, 2018-04-16T05:17:45.591Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3210M CPU