[2016-11-04 18:11] #14974 closed

[2016-11-04 18:12] #13305 closed

[2016-11-04 18:18] rebornix commented on #14959
First of all, the reason that all characters are encoded incorrectly. Secondly, it's dup of #14948

[2016-11-04 18:18] #14959 closed

[2016-11-04 18:29] blaylockbk commented on #10642
Could show the zoom level for a short time when the zoom level is changed (similar to the chrome browser)

[2016-11-04 18:30] rebornix commented on #14958
We have tracked this issue here https://github.com/Microsoft/TypeScript-TmLanguage/issues/341

[2016-11-04 18:30] #14958 closed

[2016-11-04 18:36] mdarefull commented on #14704
@bpasero Of course not! I would have mentioned it otherwise. I consider my laptop and its settings to be common, nothing out of the ordinary.

BTW, I made a small mistake, for the version 1.5.3, 7 to 6 process are running, not 4.
Initially, 4 process are running, similar to the 1.6.1 version, with one of them "eating" a lot of CPU. The difference is that the program initializes (main window goes o

[2016-11-04 18:36] Dragonsong3k commented on #14555
In either of those cases I do not see any configurations in the debugger drop down. I see a launch.json is created in the .vscode folder but I cant seem to get vscode to recognize that unless I use a local folder instead.

[2016-11-04 18:36] jonathanwiesel commented on #2789
**Document This** it's pretty cool; however I woudn't eliminate DocBlockr from the list since DocBlockr supports many more languages, such as Apex, Java, Objective-C, PHP and others including the ones **Document This** does. **Document This* only seem to support Javascript and Typescript.

[2016-11-04 18:37] literallylara opened #15012 "JavaScript syntax highlighting issue after latest update"
- VSCode Version: 1.7.1
- OS Version: Windows 10 64-bit

**Steps to Reproduce**
Open the following in v1.7.1 with js syntax highlighting (huh, it even seems to break GitHub's highlighter) :

[code]

![tretzreztre](https://cloud.githubusercontent.com/assets/21112862/20017765/4ae7321e-a2c5-11e6-9aa9-d8ec270c4906.PNG)

The issue seems to be with the `t++/s`, when you surround `t++` with parenthesis t

[2016-11-04 18:40] michaeljota opened #15013 "Toggle line comment, comment as block in scss files"
- VSCode Version: 1.7.1
- OS Version: Windows 10 AU

Steps to Reproduce:

1. Open a SCSS file
2. Toggle line comment

I expect to be comment as a line with `//`, but it get surrounded by `/* */` instead.
If I have a line commented with `//` it just surround again the line with `/* */`.
If I have the line surrounded with `/* */` it toggle.

[2016-11-04 18:48] rebornix commented on #15013
This one might be related to #14661 as well.

[2016-11-04 19:05] JonMarbach commented on #7092
This issue has impacted me as well (version 1.4.0 Win8). I was giving a demo and using VS Code "as a very helpful editor" when I made the following mistake in some html:

onclick="alert("Hi");"

When I highlighted the " and typed ' I got ' " ' (Like the OP, spaces added for clarity), which I then had to delete. Ok, but things get wackier...

The cursor is placed after the ", so I hit backspace twi

[2016-11-04 19:07] michaeljota commented on #15013
Yep. I think it is. I would edit that an say that it does not matter where you try to toggle, it will use CSS style to comment instead of the SASS ones, cause if you invoke that from the command pallete it will have the same behavior.

[2016-11-04 19:20] mjbvz commented on #14956
Thanks for the report.

#14634 should fix most cases around this. There's an older bug tracking highlighting of indented lists in markdown, but I can't find it at the moment so I'll keep this one open.

[2016-11-04 19:24] #14803 closed

[2016-11-04 19:24] drweb86 commented on #14979
I updated issue with your comments, Tekbr.

[2016-11-04 19:33] #14624 closed

[2016-11-04 19:42] Wampe commented on #14989
@TheColorRed Currently I use Code for node.js and angular.js projects (in TypeScript) with the Debugger for Chrome extension. So if I understand this correctly the problem comes by the extension?

[2016-11-04 19:43] Tyriar commented on #14969
Can you go into a little more detail on:

- What do you mean by "Add new integrated terminal", are you referring to an extension here or a keybinding, if a keybinding which one?
- Do you have any errors in the dev tools console (Help > Toggle Developer Tools)?

[2016-11-04 19:45] Tyriar commented on #14973
I'm curious what your use case is for wanting this in VS Code but not in Windows?

[2016-11-04 19:55] rebornix commented on #15001
Dup of #14921.

[2016-11-04 19:55] #15001 closed

[2016-11-04 19:58] NickCraver commented on #765
Razor is being split out from MVC now, known as "Razor Pages". I have no idea how this will impact getting support into VS Code as far as timelines, but it certainly makes it much more *possible* to do it.

[2016-11-04 19:58] kuntau commented on #3803
Hi guys. Any idea which milestone this is on? I feel kind of silly backspacing over and over on the gutter edge thinking I might have accidental indent 😏

[2016-11-04 19:59] rebornix commented on #14994
It's dup of #14860.

[2016-11-04 19:59] #14994 closed

[2016-11-04 20:02] bradw2k commented on #4490
VSCode missing macros is the only reason I still have Sublime.  I do repetitive editing by recording then playing back macros almost daily.

[2016-11-04 20:09] Tyriar commented on #1161
Duplicate https://github.com/Microsoft/vscode/issues/12327

[2016-11-04 20:09] #1161 closed

[2016-11-04 20:11] goldbergjeffrey opened #15014 "Code hangs on VMWare Workstation 11"
- VSCode Version: 1.7.1
- OS Version: Windows 2012 R2

Steps to Reproduce:

1. Create Windows Server 2012vm in VMware Workstation.
2. Install Visual Studio Code
3. Launch Visual Studio Code
4. Watch your system hang.

[2016-11-04 20:12] Tyriar commented on #207
@ranjan-ranjan not technically, this however will probably be a pre-requisite to hot-exit working for empty workspaces https://github.com/Microsoft/vscode/issues/13733

[2016-11-04 20:13] Tyriar commented on #13733
Restoring files in empty workspaces is probably a pre-requisite to this: https://github.com/Microsoft/vscode/issues/207

[2016-11-04 20:14] bradw2k commented on #4490
By the way, would love to be able to record a macro and then assign it to a keybinding.  Visual Studio could do this in the 90's and it was great!

[2016-11-04 20:17] jdforsythe commented on #14980
I can also confirm this is an issue - seems to be a new issue with 1.7.1 on Windows 10.

https://github.com/vscode-contrib/vscode-versionlens/issues/23

Regardless of whether you're zoomed in or out and to what degree, the mis-positioned text is always in the same place. The only time it changes is when you reset the zoom, at which point it lines up as expected.

[2016-11-04 20:21] freebroccolo commented on #14005
@jrieken it seems to me that even if the `textEdit` field is used, if a completion item has non-word characters in it (determined by the language word regex),  like `-` or `*`, the suggestions widget will still close if those characters are typed unless the language word settings are changed to include them. Can you confirm that this is indeed the intended behavior?

Is there any way to override t

[2016-11-04 20:23] mrmlnc commented on #15014
Please, use search before create new issue.

Related to #13139, #13981, #13882, #14870

[2016-11-04 20:35] rebornix commented on #15014
Close as dup. Thanks @goldbergjeffrey and @mrmlnc

[2016-11-04 20:35] #15014 closed

[2016-11-04 20:36] rebornix commented on #14991
We do have this feature as above :)

[2016-11-04 20:36] #14991 closed

[2016-11-04 20:50] rebornix commented on #14990
Command palate is our preferred way to navigate through/search files :)

[2016-11-04 20:50] #14990 closed

[2016-11-04 20:51] roblourens commented on #14989
What type of file are you trying to set a breakpoint in?

[2016-11-04 21:09] erichutchinson opened #15015 "Package.json Error when Using Synced SharePoint Folder"
- VSCode Version: 1.7.1
- OS Version: Windows 10

I get an error upon opening a synched SharePoint library folder with Visual Studio Code in version 1.7.1. I did not get the error with previous versions.

Steps to Reproduce:

1. Open SharePoint library containing JS in Windows Explorer
2. Open folder containing JS in Visual Studio Code

[2016-11-04 21:13] mrmlnc commented on #15013
@michaeljota, @rebornix,

Yes, this is fully related to #14661. VS Code 1.7.0/1.7.1 has incorrect behaviour with finding scopes at the cursor position. See @aeschli comment: https://github.com/Microsoft/vscode/issues/14661#issuecomment-257577514

[2016-11-04 21:20] #15015 closed

[2016-11-04 21:21] erichutchinson commented on #15015
JSON file types are being blocked by SharePoint. The issue has nothing to do with Visual Studio Code.

[2016-11-04 21:22] Tyriar opened #15016 "Disable extension button is too tall on Ubuntu"
- VSCode Version: Code - Insiders 1.7.0-insider (9e7d70052908b633e0d4f71e70b26714bd1d2f10, 2016-11-02T05:32:56.796Z)
- OS Version: Linux x64 4.8.0-26-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|EditorConfig|EditorConfig|0.3.4|
|lorem-ipsum|Tyriar|1.0.0|
|terminal-tabs|Tyriar|0.0.6|
|theme-glacier|Tyriar|0.0.10|
|vscode-svgviewer|cssho|1.2.0|
|python|donjayamanne|0.5.0|
|git-pr

[2016-11-04 21:24] alexturek commented on #1657
Searching for `turn off suggestion in text files vscode` I get to https://github.com/Microsoft/vscode/issues/3137 which is closed as a dupe of https://github.com/Microsoft/vscode/issues/2496 which is closed as a dupe of this issue which... doesn't help me disable suggestions in a specific file format.

Has anyone actually solved this, or did that issue get conflated with the ability to completely

[2016-11-04 21:28] ramya-rao-a commented on #3210
+1 on what @dbaeumer said

[2016-11-04 21:30] Wampe commented on #14989
It says "typescript" when a .ts file is open and "javascript" when a .js file is open etc.
So far I did set the breakpoints into the .js files. But I was also able to set them in a .ts (with no effects of course).

[2016-11-04 21:41] stuartleeks commented on #14949
Same here, only on zoom (in or out)

[2016-11-04 22:07] octref commented on #14448
@bpasero
I can reliably repro on macOS by

- Rename `/Users/octref/Library/Application Support/code-oss-dev`
- Build and run from master

[2016-11-04 22:18] roblourens commented on #14989
What exactly are you seeing when you say you 'can't define breakpoints' - that they don't show up, or that you see the red circles but they aren't hit when you debug?

[2016-11-04 22:19] rebornix commented on #14983
it looks like a bug to me as formatting should not adding the space.

[2016-11-04 22:20] roblourens commented on #12749
@weinand This is worse in Node 7 - the debugger crashes entirely when there is a Proxy object in scope.

[2016-11-04 22:54] Wampe commented on #14989
Oh. After you´ve said it they don´t show up.
I still can´t set them via mouse in the column (where the line number is showen...) but I can define a breakpoint (and it gets showen under debug->Breakpoints) via F9 when I am in the code line. But without the red circles in the editor.

[2016-11-04 22:55] nikhildaga commented on #1105
The sidebar icons and bottom bar are the only things stopping me from using vscode instead of atom

[2016-11-04 22:59] bgashler1 commented on #3803
@kuntau you can use a code ruler set at the far left zero position.  Add this snippet to your user settings `"editor.rulers": [0]`

Also, you can turn on indent guides to help further by adding this to your user settings `"editor.renderIndentGuides": true`

Hopefully these two things will help you out.

[2016-11-04 23:17] be5invis commented on #1884
Maybe, I say MAYBE, someone could implement an official theming function (or module, whatever) first and report afterwards. It is called 先斬後奏 in China.

[2016-11-04 23:25] mrmlnc commented on #15013
@alexandrudima, If I fully understand your code, this should help:

[code]

[2016-11-04 23:29] vivekvenkatesh commented on #10023
+1 for this feature request. Also,  if we are working over SSH, just showing the last command run is not helpful. Hence it would be good to have a custom renaming.

[2016-11-04 23:37] FirePho commented on #14505
VSCode Version: 1.6.0
OS Version: Windows 10

I have the same problem since version 1.6.0
Nothing happens at all, there are no errors.

![image](https://cloud.githubusercontent.com/assets/1927599/20025525/29f2798e-a300-11e6-93da-5cf85a89c704.png)

I tried builds source and got an error:

![image](https://cloud.githubusercontent.com/assets/1927599/20025557/6f6b81a4-a300-11e6-9140-bbb3ffaee6f7.png)

[2016-11-04 23:38] weinand commented on #13705
We can make this happen.

[2016-11-04 23:39] roblourens commented on #14989
Did the breakpoint get moved to a different line after setting it? If you set the breakpoint and it shows up in the Breakpoints window like `app.ts 5 -> 100`, that means it was moved from line 5 to line 100, and the red circle will be down there.

Breakpoints can be moved if your source files are out of sync with what's actually running, or some other problem.

[2016-11-04 23:43] cnshenj opened #15017 "Add "Tasks" side bar"
Support of tasks needs a lot of improvement (a lot of feature requests). I think we have accumulated enough feature requests to promote tasks management to a separate side bar. The side bar should:

- Refreshes and lists all tasks when a new folder is opened
- Allows user to manually refresh task list when corresponding file (e.g. gulpfile.js) is modified. Or, watch the file so the list will be au

[2016-11-05 00:08] weinand commented on #14988
@lumaxis
- make sure that all generated JavaScript files live in the locations specified by the "outFiles" glob patterns (the source maps don't have to live there).
- verify that the 'sourceMappingURL' path at the end of the generated JavaScript files points to the source map.
- verify that the paths in the source maps are pointing to the source files.

I suspect that the last item is the source o

[2016-11-05 00:31] cristianorvf commented on #15010
@rebornix its not an extension. The only ones installed are themes, and i've just removed them, and restarted, still with problem. I've a windows 10 machine here, tested it (1.7.1) and its ok, with the same project pulled from git.

Well, thats really odd, ill try a full re-install.. strange nobody is running into this, i really dont mess with vs code, so it broke by itself.

[2016-11-05 00:45] WardDurossette opened #15018 "Error message interrupt and frustrate"
- VSCode Version: 1.7
- OS Version: windows 8.1

Steps to Reproduce:
1. Open a Windows Explorer window to a remote share (I.e. \\server.dom2.dom1\share

2. Double click a file to open in VSCode. (Default.asp)
3. Start editing file.  As you type the output window will pop-up with the error text, covering the edit window, interrupting your work, causing you to become frustrated.
4. Close output wind

[2016-11-05 00:55] Wampe commented on #14989
The breakpoints don´t get moved. The red circle is not showing up on the left side (where the line numbers are).

Example (Screentshot):
![nobreakpointatline39](https://cloud.githubusercontent.com/assets/4699636/20026352/b6391a3a-a2f9-11e6-8c20-f72f9ca95bd4.jpg)

I defined a breakpoint in the .js file at line 39. This breakpoint entry is showen in the _debug_ context panel under _breakpoints_. But

[2016-11-05 01:16] roblourens commented on #14989
Ok, yeah, that's not right :). FYI @isidorn or @bpasero

It looks like the margin between line numbers and the sidebar is too narrow so it might be hidden. Mine:
![image](https://cloud.githubusercontent.com/assets/323878/20026600/aa52d90c-a2ba-11e6-98cc-ac258a425e8d.png)

What if you hide the sidebar (ctrl+b) or drag it around, or resize the whole window?

[2016-11-05 01:33] siva636 commented on #10327
Is it possible to customize this combination?

[2016-11-05 01:38] smasher35 opened #15019 "Interatd terminal error 1"
- VSCode Version: 1.7.1
- OS Version: windows 10

Steps to Reproduce:

1. Integrated terminal
2. error 	The terminal process terminated with exit code: 1

Need a solution

[2016-11-05 01:53] njmccann opened #15020 "High CPU on startup"
- VSCode Version: 1.7.1
- OS Version: Windows Server 2012 R2

Steps to Reproduce:

1. Open VS Code
2. CPU usage immediately climbs to max, even before the window is displayed, and remains in the 90% range.

This was not happening prior to running the update to 1.7.1 (I'm not sure what the previous version was).

![image](https://cloud.githubusercontent.com/assets/15730991/20026797/0f98a806-a2d8-11

[2016-11-05 02:52] twang281314 commented on #14951
the extensions  cannot  install now

[2016-11-05 03:16] crazytoucan commented on #14921
The underlying change broke every version of the Ocean16 theme I could find; I would love a way to revert to the previous grammar in the interim before community maintainers can upgrade to the new grammar. (I also looked fruitlessly to find a way to downgrade vscode purely to fix my syntax highlighters.)

[2016-11-05 03:33] MortalCatalyst opened #15021 "Add jinja2 to the lib/snippets.json file for emmet support"
- VSCode Version: August 2016 +
- OS Version: All

In #9500 it references that support for extra languages in emmet are available in the lib/snippets.json file. What would need to be done to add jinja2 as a listed member of that array so that available extensions could utilise emmet jinja2 together.

Has a significant use case with Flask, Ansible, Pyramid etc as one of the most significant templat

[2016-11-05 03:35] hamidufalke opened #15022 "Editor-multicursor not working on Ubuntu"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:46:46.244Z)
- OS Version: Linux x64 4.4.0-45-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-eslint|dbaeumer|1.0.8|
|debugger-for-chrome|msjsdiag|2.2.0|

---

Steps to Reproduce:

1. create a  file say index.html with a basic structure
[code]
2. suppose i want to change the w3- prefix of t

[2016-11-05 03:44] G4143 opened #15023 "Terminal in a Window Tab"
- VSCode Version:Version 1.7.1
- OS Version: Linux

Not an issue but a request.

Could it be possible to have the terminal open on a separate tab like a new file? I don't like having the terminal located at the bottom of the editor taking up editor space and only providing a few lines of terminal space and thought it would be a great idea to have the option to open the terminal on its own tab so y

[2016-11-05 05:08] ShangxuanWu opened #15024 "Why dont you add a shortkey for open folder?"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:46:46.244Z)
- OS Version: Linux x64 4.4.0-45-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.5.0|
|Lua|keyring|0.0.8|
|cpptools|ms-vscode|0.9.2|

---

Steps to Reproduce:

1.
2.

[2016-11-05 05:48] actboy168 commented on #14927
Which debugger adapter supports hit condition breakpoints?
I try to support hit condition breakpoints in my debugger adapter, but I found the vscode however will only give me a condition breakpoint not a hit condition breakpoint.

[2016-11-05 06:24] thewintersolstice opened #15025 "heinous purple status bar when i do a clean install"
- VSCode Version: Code - Insiders 1.8.0-insider (dbf3ba74e6cf3b33687b7d47e321e642fc1e7562, 2016-11-04T10:15:01.593Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

Steps to Reproduce:

1. Install VS Code.
2. See purple status bar.
3. Fill barf bag.
4. Thank you.

[2016-11-05 06:28] thewintersolstice opened #15026 "no possibility to do a replace in selection only"
- VSCode Version: Code - Insiders 1.8.0-insider (dbf3ba74e6cf3b33687b7d47e321e642fc1e7562, 2016-11-04T10:15:01.593Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

Steps to Reproduce:

1. Create a new document and write the following 4 lines:
hello text
this is text
one text
two text
2. now select line 2 and 3
3. >Edit >Replace
4. There is no way to limit the replace to the selection.
5.

[2016-11-05 06:31] thewintersolstice opened #15027 "Add a vertical ruler that follows the cursor"
- VSCode Version: Code - Insiders 1.8.0-insider (dbf3ba74e6cf3b33687b7d47e321e642fc1e7562, 2016-11-04T10:15:01.593Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

Steps to Reproduce:

1. No possibility to display a vertical ruler. See: SublimeText's "CursorRuler" and Atom's "Rulerz"
2. Thank you.

[2016-11-05 06:42] thewintersolstice opened #15028 "Add a setting to prompt before closing window"
- VSCode Version: Code - Insiders 1.8.0-insider (dbf3ba74e6cf3b33687b7d47e321e642fc1e7562, 2016-11-04T10:15:01.593Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

Steps to Reproduce:

1. No matter what I choose, when I do either of the above, wanting to close all open files, I end up exiting the editor. What an annoyance! I'm just trying to close all files is all. Why is it exiting if I

[2016-11-05 06:55] bpasero commented on #14704
@mdarefull can we try to find out the command line arguments of the high CPU process?

To find out more about this issue, we need to get at the process that is causing the high load. VS Code creates multiple processes, each with different tasks. Depending on your OS you can get at the full command line of the process and paste it here. On Mac, the **Activity Monitor** allows to find the `PID` of t

[2016-11-05 06:55] bpasero commented on #14987
I suspect the IPC work.

[2016-11-05 07:01] bpasero commented on #14448
The key thing here is to only have that setting in `settings.json` and nothing else 👍

[2016-11-05 07:26] kaiwood commented on #2789
@waderyan Hex dumps (and even editing them) are nowadays pretty well covered by this one: https://marketplace.visualstudio.com/items?itemName=slevesque.vscode-hexdump

[2016-11-05 07:39] mrcrowl commented on #7015
@dbaeumer From what I can see, there _is_ additional integration effort needed to enable compile on save in VSCode for TypeScript.  Since v2.0.5, tsserver has supported the new API methods `compileOnSaveAffectedFileList` and `compileOnSaveEmitFile`, but they need to be called from the typescript extension.  I've done some prelim work on getting this going for myself and would be happy to support a

[2016-11-05 07:55] mkszepp commented on #396
+1

[2016-11-05 08:01] baoziv587 opened #15029 "typescript word hightLight issue"
- VSCode Version:1.71
- OS Version: mac os

Word hight light not work  for these code which below `Map<any>`.
If Map<(any)> or Map<T,P> ,it works.

![image](https://cloud.githubusercontent.com/assets/7347513/20028571/57279b30-a370-11e6-9bd2-4c59c05367d6.png)

[2016-11-05 08:18] Reedo0910 opened #15030 "HTML snippet will be chosen while typing CSS code in <style>"
- VSCode Version:1.7.1
- OS Version:Windows 10 x64

Steps to Reproduce:
1. type "col" in html <style> tag
2. HTML snippet"<col>" will be chosen instead of CSS code "color"

![4fd0e0f6-a2b4-11e6-93fb-df0ee8bbdf4f](https://cloud.githubusercontent.com/assets/19267441/20028653/bd61ea7a-a372-11e6-9952-40fc187f9b5d.PNG)

[2016-11-05 08:54] kaiwood commented on #15026
There's a small "Find in selection" button in the search&replace pane:

![selection](https://cloud.githubusercontent.com/assets/7542/20028896/bf0b616a-a33d-11e6-9146-1f87f59c211c.gif)

[2016-11-05 08:54] bpasero opened #15031 "CSS Coloring issue"
![image](https://cloud.githubusercontent.com/assets/900690/20028902/e349528a-a33d-11e6-9427-fcb4aa814e30.png)

[2016-11-05 09:11] kaiwood commented on #15027
Those examples are all plugins, not options that should be built in.

A quick search in the extension marketplace reveals: [cursoruler](https://marketplace.visualstudio.com/items?itemName=freakone.cursoruler)

There are a couple others that show all kinds of rulers/indent guides.

[2016-11-05 09:34] mrmlnc commented on #15020
Please, use search before create a new issue.

Related to #13139, #13981, #13882, #14870, #15014

[2016-11-05 09:34] bpasero commented on #11979
@andreyorst does it help if you add the following option to the window creation in https://github.com/Microsoft/vscode/blob/master/src/vs/code/electron-main/window.ts#L162

`darkTheme: true`

See here how to build and run out of sources: https://github.com/Microsoft/vscode/wiki/How-to-Contribute

[2016-11-05 09:35] dkundel commented on #5164
It shows <kbd>Cmd</kbd>+<kbd>Alt</kbd>+<kbd>`</kbd> in the widget.

[2016-11-05 09:49] isidorn commented on #14960
This is fixed in the vscode insider where you can manually launch one configuration after the other by pressing play multiple times. This will be in the december release ntoes

[2016-11-05 09:49] #14960 closed

[2016-11-05 10:28] CDDelta opened #15032 "CSS mixin marked as error."
Using Polymer sometimes requires the use of mixins to style certain elements but VSCode is marking it as an error although it is valid CSS.

- VSCode Version: 1.7.1
- OS Version: Windows 10.0.14393

Steps to Reproduce:
1. Create a css file add the following:
`.mixin-test {
        --mixin: {
          /* Rules */
        };
      };`

[2016-11-05 10:31] aboalwi opened #15033 "[html] closing tag intellisense always in lowercase"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|npm-intellisense|christian-kohler|0.1.3|
|text-transform|florianloch|0.0.2|
|Angular1|johnpapa|0.1.16|
|MDTools|seanmcbreen|1.0.0|
|code-settings-sync|Shan|2.2.3|
|nativescript-ng2-snippets|wwwalkerrun|1.

[2016-11-05 10:31] borgdylan opened #15034 "Question: Does vscode support multi-line statements while debugging?"
If a debugger says that the current statement starts and ends on different lines, does vscode highlight the first line or all the lines in the range?

[2016-11-05 10:42] andreagrandi opened #15035 "Extension Icons are not visible in Extensions panel"
- VSCode Version: 1.7.1
- OS Version: OSX 10.11.6

Steps to Reproduce:

1. Open the Extensions tab
2. I see this

![screenshot 2016-11-04 17 30 30](https://cloud.githubusercontent.com/assets/636391/20029464/82c22ba6-a344-11e6-9e87-13a6faba3561.png)

[2016-11-05 10:48] mrmlnc commented on #15035
Woooops 😉

![2016-11-05_13-47-50](https://cloud.githubusercontent.com/assets/7034281/20029491/787f483a-a35e-11e6-95d0-b86b8b4635eb.gif)

[2016-11-05 10:51] mrmlnc commented on #15032
Please, use search before create a new issue.

Related to: #14999

[2016-11-05 10:52] andreagrandi commented on #15035
http://giphy.com/gifs/idiot-slapping-cat-j1zuL4htGTFQY

[2016-11-05 11:07] kaiwood commented on #15024
Should be `ctrl+o` on Linux, the default open action (`workbench.action.files.openFileFolder`) which opens both – files **and** folders.

[2016-11-05 11:12] tehstun opened #15036 "Suggestion: Line selection Count"
When selecting the lines within the file, a small count should appear along side the selected characters (bottom right hand corner) to display the amount of lines you have selected in your current like in some other popular text editors.

Thanks,

[2016-11-05 11:57] Wampe commented on #14989
ctrl+b, drag and resize (areas and the whole window) don´t change it.

[2016-11-05 11:58] kaiwood commented on #15036
That would be a perfect candidate to learn how to write a small extension…

Oh, wait… Here: [selectline-statusbar](https://marketplace.visualstudio.com/items?itemName=tomoki1207.selectline-statusbar) 😉

[2016-11-05 12:00] tehstun commented on #15036
Cheers Buddy!

[2016-11-05 12:01] #15036 closed

[2016-11-05 12:18] DustinCampbell commented on #14763
Hey guys, this breaks the latest beta of the C# extension and I'm certain it will break the shipping version of the C/C++ extension. In those extensions, we've added more information to the manifest, which we use in the extension to download platform-specific dependencies at runtime.

[2016-11-05 12:19] DustinCampbell commented on #14763
cc @eamodio

[2016-11-05 13:23] lewislepton opened #15037 "DVORAK keyboard support"
- VSCode Version: latest 1.7.1
- OS Version: sieraa macOS 10.12.1

it would be nice if DVORAK key support was available.
so things like comment out hotkeys will be where your `/` is. now ive set it to something completely different.
plus many other hotkeys that are binded in completely different ways

so DVORAK support would be fantastic in general ;)

cheers

[2016-11-05 13:25] gudvinr opened #15038 "Allow for floating and/or movable sidebar views"
I'm using VS Code for a while (since 1.0 or so) and sometimes it's quite annoying that multiple sidebar views can't be used at once.

Most notable issue is that debugger view too tight and it's necessary to expand it every time. But then editor window becoming too narrow.
At the same time it's completely useless to have such wide view for explorer, git or search.
So, You have to drag or toggle sid

[2016-11-05 13:48] bpasero commented on #15028
i am typically assigning this keybinding to close all files:

`{ "key": "cmd+shift+w", "command": "workbench.action.closeAllEditors" }`

[2016-11-05 13:49] #15035 closed

[2016-11-05 14:17] scorphus commented on #13994
Referencing tht13/Python-vscode#18.

[2016-11-05 14:22] njmccann commented on #15020
My apologies. This appears to be the same issue as #13981.

[2016-11-05 14:22] #15020 closed

[2016-11-05 14:41] Ratismal opened #15039 "[themes] Latest update makes syntax highlighting too intensive"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-theme-onedark|akamud|0.2.10|
|theme-onedark|azemoh|0.3.2|
|vscode-eslint|dbaeumer|1.0.8|
|beautify|HookyQR|0.5.4|
|csharp|ms-vscode|1.4.1|

---

One of my favourite parts of VSCode is the unobtrusi

[2016-11-05 14:49] cristianorvf commented on #15010
@rebornix I've just made it to work. The (apparent) problem is that when no external formatting provider is setup the formatting wont work, i didnt look at the source, but theres a constraint in the key binding "editorHasDocumentFormattingProvider" that i didnt see before, this might be involved when using JS files trying to use a "native formatter" (is there one right?).

Just to note, using the

[2016-11-05 15:28] bgse commented on #15025
There is a fix for that:

File -> Open Folder

[2016-11-05 15:28] CoenraadS opened #15040 "Format using custom keybinding no longer working"
- VSCode Version: 1.7.1

- OS Version: Windows 10 Build 14959.rs_prerelease.161026-1700

Steps to Reproduce:

1.     { "key": "ctrl+e d", "command": "editor.action.format" }
2.  Use keycombo to format document

This worked in 1.6, stopped working in  @1.7.1.

I can make it work using editor.action.formatDocument, but I would expect the old command also still to work. (Or make it clear to the user

[2016-11-05 15:39] Velok commented on #14222
I also have issues with high CPU Load.

VSCode Version: 1.7.1
OS Version: macOS 10.12.1 (16B2555)
Kernel Version: Darwin 16.1.0
Extensions: All disabled

Reproduce:

- open 2 VS Code Windows with simple textfiles
- change one of the Windows to Fullscreen Mode
- warm your Fingers on the MacBookPro

I've discovered that it only happens when at least one of the Windows are in Fullscreen Mode. It does

[2016-11-05 15:40] thewintersolstice commented on #15025
Thank you for your reply.
1: Are you joking?
2: In all VSCode screenshots statusbar is blue not purple. Why is mine purple?
3: Need to have option to set statusbar color, or have theme set/affect statusbar color.
4: Thank you.

[2016-11-05 15:43] NoHomey commented on #14536
OK it seems this issue is fixed with the `1.7` release of VSCode.

![syntax](https://cloud.githubusercontent.com/assets/8791438/20031377/1e335c06-a37f-11e6-8c2a-292e0824f9d3.png)

[2016-11-05 15:43] #14536 closed

[2016-11-05 15:44] thewintersolstice commented on #15026
Thank you for your reply.
1: This option did not work in past tries. Glad to see it works now.
2: If text is selected, this option should be activated automatically. User may then disable if does not wish to limit replace to selection.
3: Thank you.

[2016-11-05 15:59] eamodio commented on #14763
Maybe extensions can have some way of expressing a whitelist of properties they do want provided?

[2016-11-05 16:00] thewintersolstice commented on #15027
Thank you for your reply.
1: "CursorRuler" is a sad example. The line breaks where there is no text, also it's slow, also sometimes it falls behind. Do not know if this is due to limits of VSCode or extension itself.
2: Who decides what is an extension and what is part of core code? Why not make >File >Open an extension? Ability to create extensions is an option, not an excuse not to implement fea

[2016-11-05 16:09] r105m opened #15041 "i686 dependencies on x86_64 machine"
- VSCode Version:
- OS Version:

Steps to Reproduce:
1. install code-1.7.1-1478180561.el7.x86_64.rpm package by yum on x64

expected: sucessfully installed without 32 bit dependencies

result:
system tries to install i686 packages :

Установка:
 code                              x86_64                1.7.1-1478180561.el7                  /code-1.7.1-1478180561.el7.x86_64                141 M
Устан

[2016-11-05 16:10] wickyd opened #15042 "Emmet multiplication with multiple class names fails"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|PowerShell|ms-vscode|0.7.2|

---

Steps to Reproduce:

1. Open an html document.
2. Type:

[code]

The ouput is:

[code]

The output should be:

[code]

[2016-11-05 16:10] DustinCampbell commented on #14763
Possibly, but that requires extensions to update. Personally, I'd prefer avoiding a breaking change.

[2016-11-05 16:18] mrmlnc commented on #15042
Hello, @wickyd,

I cannot reproduce your problem. You can provide a GIF or Video?

![2016-11-05_19-15-51](https://cloud.githubusercontent.com/assets/7034281/20031679/5a032e0c-a38c-11e6-9b5b-e0d24b16e4b1.gif)

[2016-11-05 16:19] rkeithhill commented on #14369
I have implemented hit count support in the PowerShell extension (well, PR is waiting to be accepted) and in my testing, both the condition and hitCondition come through to the debug adapter.  After that, it is up to the debug adapter to do the right thing.

I noticed this too. You have to hit enter and not just change the value and select the drop down to change from say Expression to Hit Count (

[2016-11-05 16:21] mdahamiwal commented on #14828
I am hitting the same issue in `scripts\npm install` even with NPM 3.10.8. I have tried it on three different machines with no luck.

[code]

[2016-11-05 16:23] bgse commented on #15025
Not joking. The status bar color does depend on what you are currently doing in vscode.

The blue status bar you see in screenshots means that you have a folder opened in vscode (when you are working on a project).

If you go into debug mode, the status bar will turn orange to show you are in debug mode.

[2016-11-05 16:24] thewintersolstice commented on #15028
Thank you for your reply.
1: If I understand correctly >View >Split Editor is like splitting the window into several viewports, for viewing different parts of same file, or different files in parallel. In the VSCode UI is the term "Editor" interchangeable with "Window" or is that another instance of the application? I'm not clear on that.
2: Why split limited to 3?
3: Why split limited to vertical

[2016-11-05 16:26] wickyd commented on #15042
Well that is a first. I have experienced this in other software, but never a text editor.

I closed VS Code and re-opened it and it works.

[2016-11-05 16:26] #15042 closed

[2016-11-05 16:27] dayer3 commented on #14984
I've updated the title because I've just tried this behaviour in Windows 10 x64 and the Command palette shortcuts match with the actions. So in Windows these shortcuts are well.

- Toggle Line Comment
![comment](https://cloud.githubusercontent.com/assets/243047/20031758/f09b4c1a-a37c-11e6-8ee2-41630bb4cafa.png)

- Toggle Integrated Terminal
![terminal](https://cloud.githubusercontent.com/assets/24

[2016-11-05 16:29] bpasero commented on #15028
yeah, you can open up to 3 editors side by side. in 1.7 we added support to view the 3 editors either vertically or horizontally.

so what you want is to be able to close all editors and avoid that the window closes when you continue to press Ctrl+W?

[2016-11-05 16:29] bpasero commented on #14222
@Velok To find out more about this issue, we need to get at the process that is causing the high load. VS Code creates multiple processes, each with different tasks. Depending on your OS you can get at the full command line of the process and paste it here. On Mac, the **Activity Monitor** allows to find the `PID` of the process and from a terminal `ps aux | grep <pid>` reveals its arguments.

![i

[2016-11-05 16:29] kinergy opened #15043 "Format Selection default to current line if no selection made"
- VSCode Version: 1.7.1
- OS Version: 10.12.1

Steps to Reproduce:

1. Place cursor on a line without selecting a range
2. Choose Format Selection with keyboard shortcut

It would be nice if the current line is formatted instead of having to select the whole current line first.

[2016-11-05 16:32] NoHomey opened #15044 "Gutter could not be themed"
- VSCode Version:
1.7.1
02611b40b24c9df2726ad8b33f5ef5f67ac30b44
- OS Version:
Linux nohomey 4.4.0-45-generic #66-Ubuntu SMP Wed Oct 19 14:12:37 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

Steps to Reproduce:

1.  Try to style gutter like in the [Kimbie dark theme](https://github.com/Microsoft/vscode/blob/be2143ddcb6bbc27bb2f04c04ecc308c1495fa0f/extensions/theme-kimbie-dark/themes/Kimbie_dark.tmTheme

[2016-11-05 16:39] leomikezee opened #15045 ""editor.renderWhitespace": "boundary" does not work correctly"
- VSCode Version: 1.7.1
- OS Version: macOS Sierra

Steps to Reproduce:

1. Set `"editor.renderWhitespace": "boundary"`

According to the description, the 'boundary' option does not render single spaces between words. However, this does not consistently.

<img width="247" alt="screen shot 2016-11-05 at 12 37 47 pm" src="https://cloud.githubusercontent.com/assets/7655600/20031859/cd507b4a-a354-11e6

[2016-11-05 16:52] thewintersolstice commented on #15025
Thank you for your answer. First, I salute your knowledge! (not joke, I do).
1: Due to nature of day job 95% of the time I work on individual files which are all over the place: html, css, javascript, sql, php, csv, xml, json, txt. (The other 5% is Powershell which is all in one folder) (Evenings are for C#/VStudio and GCC/NetBeans).
2: Does that mean that I'm stuck with the evil purple status bar

[2016-11-05 16:57] cristianorvf opened #15046 "Hitting CTRL + S to save a file wont change "dirty" icon in the file TAB."
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:46:00.226Z)
- OS Version: Darwin x64 15.5.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-JS-CSS-HTML-formatter|lonefy|0.2.1|

---

Steps to Reproduce:

1. Open any file (tested with HTML and JS , but dont think it matters)
2. Make any change
3. Hit CTRL + S, the file is saved (can be checked ex

[2016-11-05 17:07] thewintersolstice commented on #15028
Thank you for your answer.
1: Yes. (I'm saying "yes" when assuming that by "window" you mean "application".)
2: I hope my suggestion was pragmatic: "... maybe there should be a setting: "Close application when all windows are closed: True/False"..."
3: How do I set the horiz/vert view option? Where in the settings?
4: Thank you.

[2016-11-05 17:22] rsaddey commented on #14931
TSLint stopped working completely for me (OS X Yosemite): No more style violations, no more fixes, no nothing :-(

Still worse:
* No helpful docs available on how to downgrade.
* No previous version available for download despite FAQ stating so.
* No choice available after clandestine upgrade download (now or later, but no choice to opt out).

I'm supposed to be on a plane tomorrow...

IMHO, this

[2016-11-05 17:32] TheColorRed commented on #15029
Try installing this extension:
https://marketplace.visualstudio.com/items?itemName=ms-vscode.typescript-javascript-grammar

It is a preview of what is to come in TypeScript syntax highlighting

[2016-11-05 17:37] TheColorRed commented on #15039
They should go back for people who like the simple color scheme, and create a more vibrant color scheme for those who do like the color.

[2016-11-05 17:41] dotchev opened #15047 ".gitignore file not visible in file explorer"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:46:46.244Z)
- OS Version: Linux x64 4.4.0-45-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-node-readme|bengreenier|1.0.7|
|python|donjayamanne|0.3.24|
|vscode-exec-node|miramac|0.1.4|

---

Steps to Reproduce:

1. Open a directory with .gitignore file inside
2. .gitignore is not visible

[2016-11-05 17:47] sfrooster commented on #10439
OSX Sierra with vscode 1.7, a golang project with the golang extension.  I don't recall having this issue with earlier versions.

[2016-11-05 17:48] sfrooster commented on #10439
Forgot to mention I don't seem to have this issue with typescript projects.

[2016-11-05 18:00] kuntau commented on #3803
@bgashler1 that's what I did after reading this issues. That is kind of hackey solution, I'm looking for official solution as discussed above, just a bit contrast between the gutter and editor area as suggestion #3 would be nice

[2016-11-05 18:01] NiklasRosenstein commented on #3353
Bump

[2016-11-05 18:12] PauliSu commented on #3117
ok, thanks! I'll try that.

[2016-11-05 18:29] weinand commented on #14369
@rkeithhill The debug protocol does not specify the syntax of the hit count expression. So you are free to accept and validate whatever you want. For node I'm basically using the same as the xDebug protocol for php. But the node implementation does not yet validate what it receives.

[2016-11-05 18:31] weinand commented on #14369
Assigning to @isidorn since the issue at hand seems to be more of an UX problem.

[2016-11-05 18:58] stefcameron opened #15048 "Allow to shrink tabs instead of keeping a minimum width"
- VSCode Version: 1.7.1
- OS Version: OSX 10.11.6, Windows 10

Steps to Reproduce:

1. Open many files in the same editor until there are more tabs (per file) than can fit in the editor's tabbar real estate.

Once filled, the tabbar enables horizontal scrolling to see hidden tabs to the left/right. That's really not user friendly... and it's especially frustrating when splitting the main window in

[2016-11-05 18:59] Velok commented on #14222
So I analyzed my issue further. I think there is another Tool involved. I use Contexts to switch between Windows with cmd + tab. The CPU Load only gets up when I switch from the Fullscreen Window with the shortcut. When swipe between the Desktops with my Touchpad it's all fine. Also when I deactivate the Contexts Tool and use the standard Switcher all is fine. However, in the Standard Switch Menu

[2016-11-05 19:07] stefcameron commented on #15048
FYI, I'm not sure if this feature request is a duplicate of issue #7987. A comment by @rocksthehouse is the same thing, but seems like an issue in another issue...

[2016-11-05 19:22] stefcameron commented on #13066
This would be awesome... I have many projects that involve multiple folders and opening a parent folder ends-up including way more children folders than I want (and that Code should searching, indexing, etc.).

In order to implement this feature, I believe it would require a change to the way Code manages workspace settings. I think we'd need location-independent workspace settings (i.e. a another

[2016-11-05 19:28] rictic commented on #14999
Copying over a comment from #15032, it looks like a workaround for now is to set this preference:

[code]

[2016-11-05 19:32] TheColorRed commented on #7987
@rocksthehouse For the scrollbar, if you have a mouse with a scroll wheel you can use the scroll wheel to scroll instead of dragging the scrollbar.

[2016-11-05 19:39] TheColorRed commented on #15047
Strange, because I can see it in my editor, and I am also using the default `files.exclude`:

[2016-11-05 19:46] vladamx commented on #14969
Sorry.
More detailed explanation:
- Open up integrated terminal
- Set your own keybindings for focusNext/Previous, Kill etc...
- Add new integrated terminal by hitting Ctrl+Shift+`
- Try focusNext/Previous or Kill terminal keybindings
This will fail. Keybindings will recover only if you toggle the terminal.
P.S I'm not referring to any extension and Developer Tools show no error.
Thanks.

[2016-11-05 19:53] bgse commented on #15025
As far as I know, theming the status bar is currently not supported directly.

However, vscode is very hackable, and at its core, the UI is HTML/CSS.

You could probably make your own override CSS for this:

    .monaco-workbench.no-workspace > .part.statusbar {
        background: #68217a;
    }

This is what makes it purple when no folder is open, you could replace that with any color you want.

[2016-11-05 20:02] Maximaximum commented on #805
There are lots of extensions to VS Code that claim they can format scss, but still none of them seem to be working well, especially together with EditorConfig

[2016-11-05 21:08] smuuf commented on #14989
Having the same problem here, also with`1.7.1` version. Can't click to define a breakpoint.

![image](https://cloud.githubusercontent.com/assets/6860713/20033590/2c1510ba-a3a4-11e6-8a3b-05572aaac423.png)

The previous `1.6` was working fine.
Using `felixfbecker.php-debug` extension for PHP debugging.

[2016-11-05 21:23] jsecademy commented on #13592
+1 for adding the flag to disable file changed dialog.

[2016-11-05 21:44] ForsakenHarmony commented on #713
so, what's the status of this now?

[2016-11-05 21:53] marcelush commented on #14844
I am still having same issue on **Ubuntu 14.04,**  insiders and stable Version **1.7.1.**
Maybe is because of big projects, the problem doesn't occur when testing a small project.

Initially i was suspecting the auto save feature to have something to do about it, but i tested with all possible options.

Warnings and info remain, but errors disappear about 1.5 seconds after file change (saved or no

[2016-11-05 22:26] sfrooster commented on #10439
renderer?

for i in `ps -ef | grep Code | awk '{print $2}'`
do
ps -p $i
done
  PID TTY           TIME CMD
  253 ??         0:00.10 /System/Library/Frameworks/Security.framework/Versions/A/XPCServices/com.apple.CodeSigningHelper.xpc/Contents/MacOS/com.apple.CodeSigningHelper
  PID TTY           TIME CMD
 3979 ??         0:09.06 /Applications/Visual Studio Code.app/Contents/MacOS/Electron .
  PID TT

[2016-11-05 22:52] bgse commented on #15048
@stefcameron Excuse me for giving the advocatus diaboli here, but what would shrinking the tabs really accomplish here?

At best, we'd be able to fit a couple more tabs in there before we need a scrollbar anyway, and before we needed the scrollbar, we'd have introduced a negative effect on user experience since we'll end up with tabs that have half the information we need (often times the relevant

[2016-11-05 22:59] bgse commented on #15047
Can't reproduce either with 1.7.1 on Ubuntu, also default files.exclude being used.

[2016-11-05 23:07] bgse commented on #15039
For the two main (Dark and Light) themes, there are two variants each, e.g. "Dark+" will be quite colorful, and "Dark" just color the bare minimum.

The default is the colorful "Dark+" though.

[2016-11-05 23:19] youneskhouli opened #15049 "Quotes"
- VSCode Version: 1.7.1
- OS Version: Windows 10

Steps to Reproduce:

Would you kindly look into the annoyance that is writing contractions in strings and comments like "isn't, wasn't, ain't etc..." due to the automatic addition of a second ' character. Nothing big really, but really annoying none the less.

[2016-11-05 23:32] stefcameron commented on #15048
@bgse I appreciate the discussion. :) You do make some good points, however I use a Wacom tablet and horizontal scrolling in those tabs is _really_ annoying with that tool... It's very awkward at best.

I my mind, having to scroll the tabs is a negative effect on my user experience. I'd prefer it the other way (compress, and never scroll). But I fully recognize others would see it the other way ar

[2016-11-05 23:39] 01000010 commented on #15049
Yea, it really gets annoying. Please fix it. :(

[2016-11-05 23:54] olingern commented on #13257
@joaomoreno Thanks!

I have a PR open, #15050, with a working fix, but a couple of issues:
- linting
  The gulp hygiene task is telling me my file ( and all files ) aren't formatted. I saw a couple of other issues in the repo chatting about this. I installed **typescript-formatter** and ran `tsfmt -r update.ts`, but it produced an error

<img width="941" alt="screen shot 2016-11-05 at 7 48 09 pm"

[2016-11-06 00:05] Fenkiou commented on #396
+1

Kind of workaround for macOS Sierra.

One tab per project inside one window by setting `Prefer tabs when opening documents` to `Always` in dock settings. But it will affects others apps behavior too..

[2016-11-06 01:13] zia-newversion opened #15051 "JavaScript Syntax Highlight: RegExp literals improperly parsed"
- VSCode Version: 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44)
- OS Version: Linux Mint 17.2 (Ubuntu 14.04)

**Steps to Reproduce:**
1. In a JavaScript file, type a statement containing a division operation (`/`) followed by a RegExp literal (`/.*/`) as part of the same statement e.g. `var v = (a / b).toString().match(/\d*(\.\d+)?/)`
2. The code highlighter does not highlight the statement pro

[2016-11-06 02:02] DanJ210 opened #15052 "Windows 10: Jump list no longer shows entries once you removed a single entry from "Recent Folders""
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 10.0.14959
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-css-formatter|aeschli|0.0.2|
|vs-code-css-comments|ashhitch|1.0.2|
|python|donjayamanne|0.5.0|
|vscode-html-css|ecmel|0.0.30|
|php-intellisense|felixfbecker|0.0.11|
|auto-close-tag|formulahendry|0.

[2016-11-06 02:03] klinquist commented on #15004
+1.     I typically use:
[code]

'Go to definition' does not work when I require the file containing this function.

[2016-11-06 02:07] saltcod opened #15053 "[css] provide class names as workspace symbols"
- VSCode Version: any
- OS Version: any

Hey all! Really starting to like VSCode over Sublime. Slow going but I'm getting there!

One thing I really, really miss is goto anything, particularly as it pertains to sass / css writing.  In Sublime, I just do `goto anything`, and start typing the css classname I'm looking to edit and it brings instances of that selector in all files. Really handy for fr

[2016-11-06 02:11] Hong-Xiang opened #15054 "Auto complete guided by remote ipython server"
It would be great if we can develop simple *nix python programs in our windows PC. I'm working on Tensorflow, it has a good web based support via jupyter notebook and tensorboard. But they are not good enough for develop. I can access .py files in *nix system from VS Code in windows PC, but missing auto complete since I can not install TensorFlow on windows.

[2016-11-06 02:38] Vernando05 commented on #14504
Yep it's related, I need to escape from anchor first to enable i completion, if this is expected behaviour, I think it's resolved.

[2016-11-06 02:38] #14504 closed

[2016-11-06 03:07] oshalygin opened #15055 ".jsbeautifyrc for default VSCode beautification"
- VSCode Version:
**1.7.1**
- OS Version:
10.12.1

Looking to get the base .jsbeautifyrc file for VSCode.  I promise I looked all over the web: stackoverflow, this repo, vscode docs, my girlfriend and I even asked my parents but they had no idea :)

Anyone have a copy of the base `.jsbeautifyrc` that VSCode uses under the hood?  I'd like to build on top of what comes out of the box, but it's hard

[2016-11-06 03:24] tlemo opened #15056 "C++ 14 digit separators break C++ syntax highlighting."
- VSCode Version: 1.6.1
- OS Version: Windows 10

Steps to Reproduce:

1. Create a C++ source file
2. type:
int foo = 100'000;

[2016-11-06 04:11] harangue opened #15057 "SCSS no longer has single line comments"
## My mistake, I searched a couple more times and found this already documented at #15013. Please close :)

- VSCode Version: 1.7.1
- OS Version: Windows 10 64 bit (1607)

Steps to Reproduce:

1. Open a `.scss` file
2. Insert a line comment

![](http://g.recordit.co/Svh4DwGf02.gif)

In prior VS Code versions, inserting a line comment would add a comment via `//`, like so
[code]

Now the default be

[2016-11-06 04:14] harangue commented on #15037
Isn't this an OS-level feature?

[2016-11-06 04:19] #15057 closed

[2016-11-06 04:27] rolandoldengarm commented on #2635
Okay, but will THIS issue solve it? Or what issue will solve it? Why do we need extensions for such a basic feature? https://github.com/Microsoft/vscode/issues/2635#issuecomment-253156974

[2016-11-06 05:51] Ratismal commented on #15039
It's not the same though. While it's less obtrusive, it still uses the new token system. I'd like to see the option to switch between the new and old token systems, as this new update affects every single theme.

[2016-11-06 06:36] bpasero commented on #15052
@DanJ210 from where exactly did you remove files? can you show a screenshot maybe for some more context?

[2016-11-06 06:52] bpasero commented on #15028
@thewintersolstice see http://code.visualstudio.com/updates#_horizontal-layout

I will rename this issue to reflect what you are asking for.

[2016-11-06 06:57] gigafied commented on #14969
I can repro this as well on OSX. Shortcut for next/prev terminal works if you're on the first terminal, but after that prev/next shortcuts stop working.

[2016-11-06 07:18] octref commented on #15032
Thanks @mrmlnc. Closing this in favor of #14999.

[2016-11-06 07:18] #15032 closed

[2016-11-06 07:22] octref commented on #14999
I'm not familiar with Polymer's CSS. Are you using PostCSS for transpiling?

If so maybe you can write some linter rules and disable CSS validation as @mrmlnc suggested. StyleLint seems to be popular and support experimental CSS features.

This is what we suggest for users who want to use proposed syntaxes like object spread:

https://code.visualstudio.com/Docs/languages/javascript#_common-questio

[2016-11-06 09:04] joseph-iussa opened #15058 "Add command to move cursor to within the visible area of the viewport"
Feature request: Add a keyboard bind-able command to move to cursor to somewhere within (i.e. maybe the top or middle) the visible portion of the viewport.

I often navigate code by scrolling using `ctrl+up/down`. Once I've found the location I'm looking for the cursor is often by now off screen. The most convenient way presently available to then move the cursor to the desired location (i.e. some

[2016-11-06 09:35] gerhardcit commented on #14222
@Velok , @bpasero , I also use Contexts to switch windows, and that has a window for every project open in In Code. Maybe there is a que in there somehow.
But I don't use full screens.

[2016-11-06 09:51] lewislepton commented on #15037
changing to DVORAK does do the regular keys, such as A-Z and everything else. but special keys such as commenting out, preferencesand a few others do not work.

i have rebinded them to something completely different.
typing ingeneral is fine, but certain special hotkeys are not usable in DVORAK

cheers

[2016-11-06 10:16] smuuf commented on #15022
Could it be that the default Ubuntu's default `alt+click` behaviour is causing this?

My problems with `alt+click` on **X**ubuntu were resolved with this: http://askubuntu.com/questions/270032/how-do-i-disable-window-move-with-alt-left-mouse-button-in-xubuntu

[2016-11-06 10:40] hamidufalke commented on #15022
Thank you for pointing me to the right direction, i used [gnome-tweak-tool]() and change the window action key setting to super, and it's working now.

[2016-11-06 10:40] #15022 closed

[2016-11-06 10:41] bpasero commented on #8935
https://github.com/Microsoft/vscode/issues/14622

[2016-11-06 10:41] #8935 closed

[2016-11-06 11:12] hamidufalke commented on #15030
I disabled HTML Snippet, and reproduce the case, the behavior is correct. and since the extension overrides the default behavior, i think you should consider reporting the issue to HTML Snippet repository.

[2016-11-06 11:38] AnWeber opened #15059 "createStatusbarItem can not run "workbench.action.files.saveAll" command"
Command workbench.action.files.saveAll is not executed by statusbaritem. Issue is like #12214.

- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:

[saveall.zip](https://github.com/Microsoft/vscode/files/573780/saveall.zip)
1. Unzip extension saveAll
2. npm install
3. execute extension in V

[2016-11-06 11:57] DimitarTasev commented on #14848
I'm sorry for not being more clear, by `stuck` i mean `shows loading forever but you can switch to another file, you can still type`, the editor is still as responsive as usual, just symbols show the animated line that moves and auto complete shows `Loading...` for a long time. The CPU usage doesn't increase for `Code.exe`.

I had the same problem yesterday on a small project as well, just a few f

[2016-11-06 12:30] smuuf commented on #15022
Glad I could help :)

This is related to this issue: https://github.com/Microsoft/vscode/issues/3091 and by extension to this: https://github.com/Microsoft/vscode/issues/3130.

I really hope the *vscode* team would try to enable customizing mouse shortcuts.

[2016-11-06 12:40] nfantone commented on #2635
@roblourens Clearly, you didn't read into the rest of the comments.

[2016-11-06 13:16] DanJ210 commented on #15052
Sure. I could have explained that better. I was installing an updated version of wamp server. I read that it was best to back up files and remove wamp to do a clean install. So that's why I changed directories. I removed the files, unistalled wamp, then re-installed wamp. The default directory wamp wants is C:/wamp64/ where all files go into the C:/wamp64/www. I wanted to try C:/Users/Danj/Wamp64/

[2016-11-06 13:21] liushuikong opened #15060 "Provide a function to change the color of status bar"
- VSCode Version:1.6.1
- OS Version:Ubuntu

Steps to Reproduce:

Sometimes, the color of staus bar looks terrible，so I want to change it by myself.

[2016-11-06 13:51] borisabramovich86 commented on #205
+1

[2016-11-06 13:59] DanTup commented on #10742
I haven't tried it yet, but does #8937 help with this now? Seems the settings API may allow us to write to `tasks.json`?

[2016-11-06 14:04] mbana commented on #13947
@alexandrudima and @egamma, hi, to the both of you,

I have a rough idea on how to go about doing this. It requires a lot of work though. From my limited experience in browsing the code, here what's I noticed:

* `vscode` should perhaps be an interface.
* `vscode.native` should be what the native version uses.
* `vscode.browser` would be a one that folks wanting to use a browser-based emulation wo

[2016-11-06 14:05] hex13 opened #15061 "space after constructor name breaks syntax JS highlight"
- VSCode Version: Version 1.7.1 (1.7.1)
- OS Version: OS X El Capitan 10.11.6

Steps to Reproduce:
1. write somewhere in file:
[code]
syntax highlight below is correct for now:

![image](https://cloud.githubusercontent.com/assets/3883359/20038346/57f8a01e-a432-11e6-9343-9af1c9ce56b3.png)
2. Now add space between `Promise` and `(`
3. syntax highlight is now broken.

![image](https://cloud.githubuse

[2016-11-06 14:12] ffes commented on #14973
Here are some use cases (first two from personal experience):

* Different paths to libs per workbench
* Test your application with different languages/translations.
* It would also have made a much better work-around for #13834

You just don't want to set set the right vars every time you open a terminal.

[2016-11-06 14:18] DanTup opened #15062 "Writing to `launch.json` via `WorkspaceConfiguration.update` doesn't format nicely"
- VSCode Version: 1.7.1
- OS Version: Windows 10

I'm using `WorkspaceConfiguration.update` to try and update existing `launch.json` files due to a change in data passed to our debug adapter. Code looks like this (I don't know if there's a better way; although `update` supports dotted names, this is inside an array?):

[code]

When I look at the changes that were made, the formatting has been lost

[2016-11-06 15:05] felixfbecker opened #15063 "Cannot open file path in warning with spaces in path"
_From @tungvn on October 31, 2016 3:31_

OS: Window 10
VS Code: 1.6.1

When I click some warnings, vscode return an error "Unable to open 'common.php': File not found (e:\path\to\common\file\common.php)."

Like this
![error](https://cloud.githubusercontent.com/assets/7405101/19843454/2ae3d530-9f55-11e6-8ea1-7bef9ecf920a.JPG)

_Copied from original issue: felixfbecker/php-language-server#130_

[2016-11-06 15:05] felixfbecker commented on #15063
_From @tungvn on November 2, 2016 9:11_

Bug happens when path of file contains space, like `e:\Project\My Project\path\to\file` is converted to `e:\Project\My+Project\path\to\file`

[2016-11-06 15:06] felixfbecker commented on #15063
Seems like VS Code doesn't decode `+` to space.

[2016-11-06 15:09] DanTup opened #15064 "How do I support new features added in Code 1.7 in my extension while still supporting users on Code 1.6?"
- VSCode Version: 1.7
- OS Version: Windows 10

I can't find any good information on the relationship between the Code `engine` version in `package.json` and versions of other parts (like the `vscode` `devDependency`).

It seems that updating the `engine` number causes a new `vscode.d.ts` to be downloaded when I run `npm install`, however I believe that also sets the minimum required Code version

[2016-11-06 15:24] bpasero commented on #15052
@DanJ210 does it help if you clear recent files (File > Open Recent) and then start opening things again?

[2016-11-06 15:26] bpasero commented on #15059
@AnWeber the action will only work if you have dirty files. did you try that?

[2016-11-06 15:58] rictic commented on #14999
Yeah, definitely, we're working on our own linter, including CSS.

Is it possible for a plugin to modify an existing setting's default value? This would be useful in a couple of places. When you install the polymer plugin we could disable css validation, but we could also contribute some json schemas to "json.schemas" as well (e.g. for `polymer.json` and `elements.json`, and it would be great to g

[2016-11-06 16:06] dominik0711 opened #15065 "Escape special characters like !,?,' ' in Terminal"
- VSCode Version: Version 1.7.1 (1.7.1) 02611b40b24c9df2726ad8b33f5ef5f67ac30b44
- OS Version: 10.12.1 (16B2555)

Steps to Reproduce:

1. Open Terminal in VSCode
2. Execute a gulp task with a **child_process.exec** command with a string like that:
`mkdir -p ../!deploy`
or
`mkdir -p ../\!deploy`

Neither of the two command/tasks above work as expected in the internal Terminal. In iTerm.app both exa

[2016-11-06 16:12] octref commented on #14999
Can you open a new issue for it?

[2016-11-06 16:27] espresso3389 commented on #5400
Do you have any fix estimation and/or workaround on it?

[2016-11-06 16:30] gandhis1 commented on #15036
Just because an extension exists doesn't necessarily mean it shouldn't be built-in functionality...just saying...

[2016-11-06 16:31] AnWeber commented on #15059
@bpasero ok thanks for your fast response. I didn't change any file. the message only appears with no dirty files. I will close the issue, but maybe someone can change the content of the message.

[2016-11-06 16:31] #15059 closed

[2016-11-06 17:27] rictic opened #15066 "Plugin feature request: new default setting value"
A plugin author may have knowledge about their users' development environments that could be productively expressed as new default values for some builtin vscode settings.

As one real world example, Polymer code makes use of a mix of CSS features which don't currently validate with the built in css language server. It would be useful if installing the polymer vscode plugin set the default value o

[2016-11-06 17:29] rictic commented on #14999
Sure thing! Filed as https://github.com/Microsoft/vscode/issues/15066

(Oh, and answering my own question above, it looks like there's [`contributes.jsonValidation`](https://code.visualstudio.com/docs/extensionAPI/extension-points#_contributesjsonvalidation) for plugins to contribute json schemas)

[2016-11-06 17:34] waynebloss opened #15067 "Triggering actions.find causes active match to lose its highlight."
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|

---

Steps to Reproduce:

1. In any file, highlight the text to find.
2. Trigger the `actions.find` command with the keyboard (`Ctrl+F`).
3. Observe that the originally highlighted text is not highlighted

[2016-11-06 17:47] waynebloss opened #15068 "Incremental Replacement should not depend on focus. (No keybinding to replace current match.)"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:

1. In any file, highlight the text to find.
2. Trigger the `actions.find` command (`Ctrl+F`).
3. To replace the current match, move cursor focus to the "Replace" box of the Find+Replace dialog and press `ENTER`.

This is a problem because

[2016-11-06 17:47] waynebloss commented on #15067
See also: #9444

[2016-11-06 17:47] waynebloss commented on #15068
See also: #9444

[2016-11-06 17:56] waynebloss commented on #15068
My workaround for this will be to:

1. Trigger `editor.action.startFindReplaceAction` instead of `actions.find`, so that focus is already on the "Replace" box of the Find+Replace dialog.
2. Use the dedicated (`F3`) binding for `editor.action.nextMatchFindAction` to find the next match.
3. Press `ENTER` whenever I want to replace a match, since focus has not changed while pressing `F3`.

[2016-11-06 17:56] waynebloss commented on #15068
Also semi-related issue: #15067

[2016-11-06 17:57] octref commented on #15066
[`workspace.getConfiguration`](https://code.visualstudio.com/docs/extensionAPI/vscode-api#_workspace) and [`WorkspaceConfiguration.update`](https://code.visualstudio.com/docs/extensionAPI/vscode-api#_a-nameworkspaceconfigurationaspan-classcodeitem-id800workspaceconfigurationspan).

Though I'd be very cautious about writing settings for user. I myself wouldn't want extensions to do that.

[2016-11-06 17:57] #15066 closed

[2016-11-06 17:58] skid commented on #15039
I use the solarized syntax theme, which is one of the default themes. After the latest update the methods, properties, variables and function arguments are all suddenly blue. Having a means to at least change the color of different tokens would be very helpful.

[2016-11-06 18:02] rictic commented on #15066
Agreed that updating a user's settings would be disruptive and probably not what someone wants.

The feature request here is to update the default value of the setting in a way that's overridable by user and workspace settings, which I think is less disruptive.

[2016-11-06 18:06] octref commented on #15066
Writing workspace setting is fine, global is not.
Users can override it by modifying `.vscode/settings.json` in workspace.

[2016-11-06 18:13] AndrewKralovec opened #15069 "C# Debugger not working - Breakpoints won't trigger"
- VSCode Version:
1.7
- OS Version:

Distributor ID:	Ubuntu
Description:	Ubuntu 14.04.5 LTS
Release:	14.04
Codename:	trusty

Steps to Reproduce:
1.
Attach the C# Mono debugger your project.
2.
Write a simple C# script and attach a break point to it
3.
Run the debugger, you’ll notice the breakpoints wont trigger.
![screenshot from 2016-11-06 12 10 56](https://cloud.githubusercontent.com/assets/6210

[2016-11-06 18:20] DanJ210 commented on #15052
@bpasero I didn't realize that was there! Well that does remove the old folders from recent in that list but it doesn't remove them when you right click the app icon. I did remove those manually but then the new paths wouldn't show up either. I did remove all of them to where I had nothing, then I cleared the recent files, and still nothing I opened would show up unless it was a file by itself or

[2016-11-06 18:20] tauqeerhassan commented on #10114
Me too :)

[2016-11-06 18:21] vilic opened #15070 "files.trimTrailingWhitespace should not trim indentation in snippets."
- VSCode Version: 1.7.1
- OS Version: Windows 10 Build 14959

Steps to Reproduce:

1. Configure `files.trimTrailingWhitespace` as `true`, and turn on auto save.
2. `setTimeout`, select `settimeout` snippet and enter.

[2016-11-06 19:02] natesilva opened #15071 "Support piping text into the editor from the command line"
- VSCode Version: 1.7.1
- OS Version: macOS 10.12.1

With the `code` command installed in your PATH it should be possible to pipe text into the editor from the command line:

[code]

In this example, I’d expect Code to open and show me the output of the `curl` command (which would be the HTML of the Bing home page).

This works with Sublime Text (`subl` command) and TextMate (`mate` command). It w

[2016-11-06 19:09] viccie30 commented on #15071
👍

[2016-11-06 20:23] danjoa opened #15072 "JavaScript syntax highlighting for new expressions w/ white spaces"
- VSCode Version: 1.7
- OS Version: macOS Sierra

Steps to Reproduce:

var foo = new  Foo(whatever) → whatever is highlighted the standard way
var foo = new  Foo (whatever) → whatever is not highlighted (e.g. all teal in default light)

It's a minor thing but it'll be great if the white space before the opening parenthesis would be tolerated (some people format that way).

[2016-11-06 20:29] eedahl opened #15073 "ctrl+1 and ctrl+2 do not change focus."
- VSCode Version: 1.7.1
- OS Version: Windows 10

Steps to Reproduce:
On my computer they just don't work. Even with the following key config, ctrl+k j and ctrl+k l do what they're supposed to, but ctrl+1 and ctrl+2 do not.
[
{ "key": "ctrl+k ctrl+j",           "command": "workbench.action.moveActiveEditorGroupLeft" },
{ "key": "ctrl+k ctrl+l",          "command": "workbench.action.moveActiveEdito

[2016-11-06 20:33] eedahl opened #15074 "Performance drop on fullscreen with hardware acceleration enabled"
- VSCode Version: 1.7.1
- OS Version: Windows 10

Steps to Reproduce:
Go fullscreen, as far as I can tell. Specs: gsync, 1070, 6700K.

When I go fullscreen, my framerate drops by a lot, to about 3-30 on the low side. This is fine when it's not drawing, but when I pick up my cursor to move, edit, etc., it's slow to kick into gear and feels laggy.

[2016-11-06 20:35] hex13 commented on #15072
Duplicate, I've reported the same problem: #15061

[2016-11-06 22:23] jlsuarezs opened #15075 "Unable to find a .app or a .ipa to install"
- VSCode Version: 1.7.1
- OS Version: macOS Sierra 10.12.1
- XCode: 8.1 (8B62)

Before install the last version of Xcode, its was working and I could debug my ionic 2/cordova app, but now I am alwasy getting this error:
[cordova-debug-adapter] Error: Unable to find a .app or a .ipa to install

Please, any help?
Thanks.

[2016-11-06 22:49] johndpope commented on #15075
you need to log ticket to cordova-debug-adapter plugin repo...
https://github.com/Microsoft/vscode-cordova

[2016-11-06 23:01] johndpope opened #15076 "Enhancement - save anyway."
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. work on file
2. silently delete file in background
3. save // this will throw an error message
4. Present Error alert [Save anyway? YES / NO?]

(you can try xcode to see similar behaviour)

[2016-11-06 23:26] jlsuarezs commented on #15075
Ok, thanks.

[2016-11-07 00:19] lipis commented on #14096
When pasting multiple things from variables/enums.. then you can multi select the first letters and transform them into capital letters if you want to use them as labels :)

[2016-11-07 00:31] douglaseccker opened #15077 "Portuguese Translation"
I wonder how I could help with the VS Code translation for Brazilian Portuguese?

[2016-11-07 01:22] JacquesRobin opened #15078 "Node debugger does not stop at breakpoints in CoffeeScript source file of Meteor app"
- VSCode Version: 1.7.1
- OS Version: Windows 7
- Meteor Version:  1.4.1.3

Steps to Reproduce:

I am trying to use sequentially the node debugger and the chrome debugger extension to debug a CoffeeScript leaderboard toy app using the dual, client and server sides, full-stack framework Meteor.
I put breakpoints in the server-side only code and in the client-side only code.

 I use the following VS

[2016-11-07 01:39] Bill-Stewart commented on #14836
I don't understand? Pressing the shortcut key means you don't have to use the mouse.

[2016-11-07 01:44] NateLing commented on #14951
@seanmcbreen  we download vscode need 40 mins or 1 hour, amazon s3 server very very slow in china. maybe you can put the zip file on microsoft server.

[2016-11-07 01:53] alessandrod commented on #11663
That is why if you look at the pattern in tasks.json, I specified:

           "pattern": [
                {
                    "regexp": "^((.*): Entering directory `(.*)'|(.*))$",
                    "filePrefix": 3
                },

The |(.*) side essentially makes the "Entering directory..." pattern optional, and the matcher work for multiple errors in the same file and directory. Perhaps

[2016-11-07 02:51] Reedo0910 commented on #15030
@hamidufalke Yes,I have reported this issue to HTML Snippet repository (https://github.com/abusaidm/html-snippets/issues/17),and the author said maybe it's the vscode's intelisense algorithm caused this problem.

[2016-11-07 02:59] baoziv587 commented on #15029
Thank you ,but it's not work for me

[2016-11-07 03:44] rosrad opened #15079 "Feature request for characters lower/upper."
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

Feature request

the feature of upper or lower to the selected characters should be  very useful

[2016-11-07 03:57] MarkSky commented on #14948
I would like to know how to solve this problem in Visual Studio Code?
And, how to setting in Visual Studio Code to let all characters are encoded correctly?

[2016-11-07 04:32] fangngng opened #15080 "global search can not search file of encoding utf-16 , it will ignore the file"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.5.0|
|Theme-Afterglow|gerane|0.0.2|
|Theme-FlatlandDark|gerane|0.0.2|
|csharp|ms-vscode|1.4.1|
|vscode-mssql|sanagama|0.0.4|
|preview-vscode|searKing|1.1.1|

---

Steps to Reproduce:

[2016-11-07 05:01] AxCoder commented on #14836
@Bill-Stewart  the problem with Ctrl+Shift+F hotkey is that is searches in **ALL** files in the folder, while I want to search only in **CURRENT** file (active tab). In the screenshot above I'd like to see only entries found  in Program.cs not other files.

[2016-11-07 05:37] rebornix commented on #15017
@octref is working on https://github.com/Microsoft/vscode/pull/14048 so this can be implemented as an extension.

[2016-11-07 05:39] rebornix commented on #15019
Dup of https://github.com/Microsoft/vscode/issues/14528

[2016-11-07 05:39] #15019 closed

[2016-11-07 05:42] rebornix commented on #15021
It's an easy one, @MortalCatalyst you want to give it a try?

[2016-11-07 05:43] #15024 closed

[2016-11-07 05:46] rebornix commented on #15025
Close as dup of #1884 and @bgse  it's not a bug.

[2016-11-07 05:46] #15025 closed

[2016-11-07 05:49] #15075 closed

[2016-11-07 05:50] bpasero commented on #15076
@johndpope I am not seeing an error message when trying to save a dirty file that meanwhile has been deleted from disk. Can you share screenshots?

[2016-11-07 05:51] bpasero commented on #15073
@eedahl I cannot reproduce, can you maybe show screenshots or video how this behaves for you?

[2016-11-07 05:51] rebornix commented on #15029
It's likely caused by #14921 as well.

[2016-11-07 05:58] rebornix commented on #15040
We've updated the command in 1.7.

[2016-11-07 05:58] #15040 closed

[2016-11-07 06:02] rebornix commented on #15039
This one shares the same reason as #14921 .

[2016-11-07 06:05] gulshan opened #15081 "Add compare/diff options to File explorer context menu"
It would be nice to have vscode working as a machine-wide file diff tool. It already has the capability. Just add "Select for Compare" and "Compare with ..." to file explorer context menu, like "Open with Code". Also this should be configurable with settings.

[2016-11-07 06:09] bpasero commented on #15052
I believe the issue here is that we do not update the list of recent folders while the application is running and you open folders or clear the list. You actually need to make the changes and then do a full restart before you see the recent folders changing. I think we could improve this by changing the list of recent folders while the application is running.

[2016-11-07 06:10] bpasero commented on #15046
@cristianorvf
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-11-07 06:11] rebornix commented on #15044
Close as part of #3112

[2016-11-07 06:11] #15044 closed

[2016-11-07 06:12] rebornix commented on #15047
@dotchev can you help check with @bgse 's config?

[2016-11-07 06:13] rebornix commented on #15049
Dup of #8850.

[2016-11-07 06:13] #15049 closed

[2016-11-07 06:19] rebornix commented on #15053
It looks like a good extension candidate

[2016-11-07 06:20] rebornix commented on #15060
Dup of #1884

[2016-11-07 06:20] #15060 closed

[2016-11-07 06:22] rebornix commented on #15054
I'm not sure whether it's a valid feature request for https://github.com/DonJayamanne/pythonVSCode but it's not a Code issue. Please file feature request there if you want or write a separate extension for it.

[2016-11-07 06:22] #15054 closed

[2016-11-07 06:25] rebornix commented on #15055
AFAIK, I don't know we have this `jsbeautifyrc`. Can you provide your extension list?

[2016-11-07 06:26] rebornix commented on #15056
Are you using any extensions for C++ or just VS Code out of the box?

[2016-11-07 06:31] rebornix commented on #15069
Please file issues to the C# extension project you are using as it sounds like its problem instead of Code per your description.

[2016-11-07 06:31] #15069 closed

[2016-11-07 06:38] rebornix commented on #15079
It's a good extension candidate. Feel free to contribute!

[2016-11-07 06:39] rebornix commented on #15077
Assign to @joaomoreno first as he is our expert.

[2016-11-07 06:41] #15072 closed

[2016-11-07 06:46] bpasero commented on #15048
We made the explicit decision to never shrink tabs smaller than their file name. It is unlikely that we will change this or add an option, but leaving this open for the good discussion in here.

[2016-11-07 06:48] bpasero commented on #14605
@alexandrudima is this not applying to any place where we show keybindings? e.g.
* quick open (commands)
* watermark
* tooltips that show the keybinding in hover

[2016-11-07 06:58] chaitan94 commented on #178
+1

[2016-11-07 06:59] #14448 closed

[2016-11-07 07:25] oshalygin commented on #15055
My extension list is a bit unrelated to the topic but here it is:
@rebornix

- beautify
- Debugger for Chrome
- Document This
- EsLint
- GitLense
- Guides
- Material
- Material Icon Theme
- Material Neutral Theme
- Material-theme
- npm Intellisense
- One Dark Theme Improved
- One Monokai Theme
- Path Intellisense
- Project Manager
- Rainbow Brackets
- Simple icon theme
- Studio Icons
- Wallaby.js

[2016-11-07 07:28] oshalygin commented on #15055
Take a look at this from the jsBeautify docs
https://github.com/HookyQR/VSCodeBeautify

**VS Code uses js-beautify internally**, but it lacks the ability to modify the style you wish to use. This extension enables running js-beautify in VS Code, AND honouring any .jsbeautifyrc file in the open file's path tree to load your code styling. Run with F1 Beautify (to beautify a selection) or F1 Beautify

[2016-11-07 07:52] infinnie opened #15083 "undefined is not a JavaScript/TypeScript keyword"
- VSCode Version: 1.7.1
- OS Version:

Steps to Reproduce:

1. Type `undefined` in a JavaScript/TypeScript file.
2. It would be highlighted as a keyword instead of a variable.

However as is specified, `undefined` is a global constant instead of a keyword.

[2016-11-07 07:55] alexandrudima commented on #14949
I can reproduce also with `pflannery.vscode-versionlens` (any code lens)

@joaomoreno This was first introduced with ea8e2792723f8cc84507a877fd37420e6123139d

I think the issue is in [`contentWidgets.addWidget`](https://github.com/Microsoft/vscode/blob/master/src/vs/editor/browser/viewParts/contentWidgets/contentWidgets.ts#L157):

I believe the new logic needs to be better guarded. i.e. a content

[2016-11-07 07:58] jrieken commented on #14005
@freebroccolo Can you attach a small code snippet? Then I'll debug into it

[2016-11-07 08:00] ThePlenkov commented on #14667
Hi Martin!

Yes - it's exactly same problem.

[2016-11-07 08:00] jrieken commented on #14763
Oh, 💩... Didn't even think of that. @sandy081 Sorry for the mess, but I think we need to revert this...

[2016-11-07 08:08] jrieken commented on #15030
@Reedo0910 Is this about `col` being selected or proposed? VS Code compares the text left of the cursor with the completions and picks the *best match*. One issue is that shouldn't be html snippets inside the CSS-part of the document.

In your sample `col` is the best match but because snippets are sorted to the bottom and the rest is sorted alphabetically you don't see `color` yet (but it will ma

[2016-11-07 08:08] #15030 closed

[2016-11-07 08:09] jrieken commented on #15043
I like the feature (format line) but I am not so sure if this should be automagic or explicit.

[2016-11-07 08:16] jrieken commented on #15063
Yes, we don't support `application/x-www-form-urlencoded` and cannot because there is no second data field to hold the MIME type.

[2016-11-07 08:17] jrieken commented on #14206
@fronteed Can you forward this issue to the *color highlight* extensions?

[2016-11-07 08:25] MandarSant opened #15084 "Feature request"
- VSCode Version:Latest
- OS Version:Windows 8.1

1. Add Minimap and pigments and packages like [this](http://bit.ly/2euNMuy)
2.

[2016-11-07 08:27] SailorMax opened #15085 "updatable git menu (feature request)"
- VSCode Version: 1.7.1
- OS Version: Windows 10 64bit

Steps to Reproduce:

1. open Git tab
2. wait while git start refreshing
3. open "More" menu to make pull

Expected: "More" menu with mass of disabled items while git refreshing is active. But when it finished, disabled items start to be active. Or all items is active always, but if git refreshing is active all actions write in the queue.

Act

[2016-11-07 08:28] alexandrudima commented on #14605
I haven't added it yet on my side. I used to have a getHTMLLabel() that would do a slightly better rendering that was used in the tooltips, but @aeschli took that out once we moved the hover to markdown.

LMK how you would like to approach this. I can revive the getHTMLLabel() (I would use `<span>` to color it differently) or I can add a getMarkdownLabel() (not sure how to render it differently).

[2016-11-07 08:33] felixfbecker commented on #15063
@jrieken This is about the URI reported by an LS in a `textDocument/publishDiagnostics` request. If www-form-urlencoded Encoding is not supported for the URI, it would be nice if you could document somewhere what standard URIs need to follow, for example [RFC3986](http://www.faqs.org/rfcs/rfc3986)

[2016-11-07 08:34] alexandrudima commented on #15045
Nice catch! There appears to be some issue in that code (that should be language agnostic) that is affected by the language tokens:

![image](https://cloud.githubusercontent.com/assets/5047891/20051088/69dd02ca-a4cd-11e6-96b6-9d458ed9e921.png)

[2016-11-07 08:40] redstrike opened #15086 "VS Code does not shrink the code view's horizontal scroller automatically"
- VSCode Version: **1.7.1**
- OS Version: **Windows 10 x64 version 1607**

**Steps to Reproduce:**
1. Paste a very long text.
2. Add some line breaks.

![vs code does not auto shrink horizontal scroller](https://cloud.githubusercontent.com/assets/2168227/20051221/81a851ce-a500-11e6-8f30-4118ee38ba84.gif)

[2016-11-07 08:47] zhcm commented on #10759
It would be wonderful！

[2016-11-07 08:49] alexandrudima commented on #15045
Looks like this is caused by a collision from the "fake" whitespace tokens we introduce and the tokens coming in from the grammar. The C grammar generates "whitespace leading" for the space between `int` and `size()`

[2016-11-07 08:49] joaomoreno commented on #14949
Absolutely right, @alexandrudima !

[2016-11-07 08:50] #14949 closed

[2016-11-07 08:50] joaomoreno commented on #14949
cc @egamma @chrisdias @kieferrm

[2016-11-07 08:51] joaomoreno commented on #15000
#14541

[2016-11-07 08:51] #15000 closed

[2016-11-07 08:52] joaomoreno commented on #15009
We won't have a single setting for tuning off all network activity. You already have individual settings to disable updates and telemetry.

[2016-11-07 08:52] #15009 closed

[2016-11-07 08:52] infinnie commented on #15039
@rebornix you mean it wasn’t intended to be highlighted like this?

@Ratismal you can currently use the themes Dark (Visual Studio)/Light (Visual Studio) for an unobtrusive syntax highlighting.

[2016-11-07 08:53] joaomoreno commented on #14997
None of the settings and extensions are stored within the application folder, so you can simply replace it.

[2016-11-07 08:53] #14997 closed

[2016-11-07 08:54] joaomoreno commented on #14992
We'd decided to clean up the menu. That action is now available as a global command, reachable via <kbd>Cmd Shift P</kbd> or <kbd>F1</kbd>.

[2016-11-07 08:54] #14992 closed

[2016-11-07 08:55] isidorn commented on #15034
VSCode uses a debug protocol to communicate to a debug extension which talks to the debugger. Currently the debug protocol supports stack frames only for a single line. More details about debug protocol can be found [here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/common/debugProtocol.d.ts#L1015)
More details about debugger extensions [here](https://code.visualst

[2016-11-07 08:55] #15034 closed

[2016-11-07 08:56] joaomoreno commented on #14505
@FirePho Did it work with 1.5?

And can you run the barebones Electron build?

https://github.com/electron/electron/releases/download/v1.3.7/electron-v1.3.7-win32-ia32.zip
https://github.com/electron/electron/releases/download/v1.3.8/electron-v1.3.8-win32-ia32.zip

[2016-11-07 09:00] #15045 closed

[2016-11-07 09:02] alexandrudima commented on #15086
Duplicate of #13516

[2016-11-07 09:02] #15086 closed

[2016-11-07 09:03] egamma commented on #13947
@mbana

This is appealing, but our current priority is the desktop application, sorry.

BTW, you have built something similar in the past it was called 'Visual Studio Online Monaco' https://channel9.msdn.com/Series/Visual-Studio-Online-Monaco.

[2016-11-07 09:05] alexandrudima commented on #15026
The behaviour of step 2 was discussed in #12109 and it was changed in 79bc7a814603d541502a604e0f984aee7abba90f

[2016-11-07 09:06] joaomoreno commented on #14987
Great catch!

[2016-11-07 09:07] #14987 closed

[2016-11-07 09:07] jrieken commented on #10583
API proposal goes like this

[code]

@rebornix @eamodio @bpasero feedback, ideas?

[2016-11-07 09:07] alexandrudima commented on #14836
I think this could be implemented by having an action in the editor that invokes the global find in files but scoped only on the current file.

Thus, the search viewlet could show only hits in the current file. fyi @sandy081

[2016-11-07 09:07] joaomoreno commented on #14828
Can you open a new issue for this and show me the full log?

[2016-11-07 09:08] alexandrudima commented on #5400
@espresso3389 workaround: press `alt+enter`

[2016-11-07 09:09] joaomoreno commented on #14948
`node-sass` works by natively binding to libsass. Native dependencies are still an open issue: #6929

[2016-11-07 09:09] #14948 closed

[2016-11-07 09:10] joaomoreno commented on #15018
Can you show us a screenshot of that error text?

[2016-11-07 09:11] jrieken commented on #15063
@dbaeumer fyi for the doc of the language server protocol - [uri](https://www.npmjs.com/package/vscode-uri) and/or [uri]( https://github.com/Microsoft/vscode/blob/joh/configInspect/src/vs/base/common/uri.ts#L40)

[2016-11-07 09:11] isidorn commented on #14989
Now we are respecting the setting `"editor.glyphMargin": false` - delete that setting from your settings file if you want to see the glyph margin.
Even if that setting is turned off you are still able to add / remove breakpoints.

[2016-11-07 09:11] #14989 closed

[2016-11-07 09:13] isidorn commented on #14555
Sounds like the configuration service can not read launch.json when it is on a unc share -> forwarind to @bpasero

[2016-11-07 09:13] joaomoreno commented on #15064
Code will install the latest version of an extension which is compatible with the user's version of Code.

This means that if you publish a new version of your extension, specifying the vscode engine compatibility to be `^1.8.0`, this version won't get installed on users that are on a VSCode before `1.8.0`.

[2016-11-07 09:13] #15064 closed

[2016-11-07 09:14] espresso3389 commented on #5400
@alexandrudima Wow, I didn't realize that key combination. Thanks!

[2016-11-07 09:16] alexandrudima commented on #10439
@sfrooster The renderer is quite easy to profile. Can you please do the following to find out where the time is spent:
* `F1` > `Developer: Toggle Developer Tools`
* go to `Profiles`
* begin recording the JS CPU of the main thread
* do the steps that cause high CPU - I suggest keeping it to a small length, otherwise it is hard to analyze the results if you end up doing too many different things.
*

[2016-11-07 09:17] joaomoreno commented on #15085
Sorry, but the menu is a native one, which blocks the JavaScript stack. Closing as won't fix.

[2016-11-07 09:17] #15085 closed

[2016-11-07 09:18] dbaeumer commented on #11663
I didn't catch this, however I still think that this is not working in a general case. Reason being that the first match must cover 3 lines and all following matches must cover 2 lines and the multi line matcher will not handle that right now.

IMO a better and more explicit approach would be something like this (see fileLocation property):

[code]

[2016-11-07 09:18] #14993 closed

[2016-11-07 09:19] DanTup commented on #15064
@joaomoreno I understand that; though my question was about whether I can keep supporting old versions of Code while still taking advantage of new features for people using new versions?

Eg., if I wanted to do:

[code]

Currently to get `evaluateName` to "compile" I need the definition file for Code 1.7, but that also means not being able to install the extension in Code 1.6.

It might not be a b

[2016-11-07 09:19] isidorn commented on #14993
"Composite" is not localizable

[2016-11-07 09:19] SailorMax commented on #15085
@joaomoreno "Or all items is active always, but if git refreshing is active all actions write in the queue"?

[2016-11-07 09:20] dbaeumer commented on #15077
Dups https://github.com/Microsoft/vscode/issues/4109

[2016-11-07 09:22] alexandrudima commented on #713
@ForsakenHarmony documented in http://code.visualstudio.com/docs/customization/keybindings#_keyboard-layouts

[2016-11-07 09:23] kristianmandrup commented on #7723
I'm having the same problem...

[2016-11-07 09:23] dbaeumer commented on #15063
Will add doc to the language server protocol.

[2016-11-07 09:23] felixfbecker commented on #15063
@jrieken Thanks, didn't know about that package. I only went by the language server protocol spec, which doesn't define this. Thanks @dbaeumer

[2016-11-07 09:24] dbaeumer commented on #10742
@DanTup yes the settings API allows you to write the tasks.json. But asking extensions to do this might not be a good idea in general since it would require that all extensions are fair in terms of manipulating the tasks.json file..

[2016-11-07 09:25] aeschli commented on #13166
Reopening to fix the coloring of the interpolation `${...}`

[2016-11-07 09:25] alexandrudima commented on #7723
This is for now a limitation described in http://code.visualstudio.com/docs/customization/keybindings#_keyboard-layouts

![image](https://cloud.githubusercontent.com/assets/5047891/20052482/78e46266-a4d4-11e6-9f70-d00f9f84c1af.png)

[2016-11-07 09:25] isidorn commented on #14986
I like this idea since for consistency.
Here is a [code pointer](https://github.com/Microsoft/vscode/blob/master/src/vs/code/electron-main/menus.ts#L544)
You can see how the 'auto save' option is added. And you should be able to read from the configuration service the current settings of word wrap, full sreen etc...

fyi @bpasero

[2016-11-07 09:25] joaomoreno commented on #15064
We currently do not support that.

Either you want to add features to your extension which benefit from new API, which old users can't use at all. Or you want to add features to your extension which benefit from current API, at which point you have to consider doing parallel versioning. (eg: releasing multiple versions at once).

Notice that ultimately, we want our users always on the latest versi

[2016-11-07 09:26] #13166 closed

[2016-11-07 09:27] joaomoreno commented on #15085
We don't really have a _queue_ of actions. What would happen if the action really can't run when the _queue_ is allowed to run?

[2016-11-07 09:28] VishalGulati commented on #1758
any update on this one? I made the setting in settings.json i.e. "sass.validate": false as suggested  but still got the same error.

[2016-11-07 09:28] alexandrudima commented on #3803
@kuntau Today there are the two ways described by @bgashler1 . I'm also looking into #14273 which will introduce a third way to workaround. We plan to make `renderIndentGuides` true out-of-the-box, but there is still a perf issue I wanna look into before doing that (some lookup in a tree is `O(N)` instead of `O(H*log(N))`.

[2016-11-07 09:30] VishalGulati commented on #1758
update: **"scss.validate": false** worked!!

[2016-11-07 09:33] isidorn commented on #14961
Dup of https://github.com/Microsoft/vscode/issues/197

[2016-11-07 09:33] #14961 closed

[2016-11-07 09:34] bpasero opened #15087 "Unable to open folder from task list that contains spaces"
Steps to Reproduce:

1. open a folder that contains whitespaces on windows
2. stop VS Code
3. start VS Code
4. stop VS Code (workaround needed to make the folder show up in task list)
5. right click on task list and pick the folder with spaces

=> it does not open, instead it opens with 2 dirty files

[2016-11-07 09:34] dbaeumer commented on #7015
@mrcrowl you are correct that the current implementation in the tsserver does require quite some work in the extensions. I started a discussion with the TS team about this here: https://github.com/Microsoft/TypeScript/issues/11526

The bottom line is that this doesn't belong into the extension since the extension can never implement this in a efficient way (and the TS team agrees on this). Especia

[2016-11-07 09:34] #15087 closed

[2016-11-07 09:36] bpasero commented on #6907
+1 for option 2 (`generic result-type`)

[2016-11-07 09:38] joaomoreno commented on #6907
I'd combine 2 and 3, each a different problem in itself, but composable with each other:

[code]

[2016-11-07 09:38] borgdylan commented on #15034
I was asking about a muti-line statement that is only represented by one sequence point in the pdb file.

[2016-11-07 09:40] GordonSmith commented on #197
Bonus Points - enable markdown formatting in console outputs?

[2016-11-07 09:42] isidorn commented on #197
That is a seperate feature request - which relies heavly on https://github.com/Microsoft/vscode/issues/11462

[2016-11-07 09:48] bpasero commented on #14605
@alexandrudima the tooltips are native and cannot show HTML.

[2016-11-07 09:49] bpasero commented on #10583
@jrieken works for me 👍

[2016-11-07 09:56] aeschli commented on #14995
Fail for me consistently. Please come by to debug it...

[2016-11-07 09:56] bpasero commented on #14555
I cannot reproduce when I try from the local UNC path syntax (`\\localhost\c$\my_dir`).

@Dragonsong3k
Please see if you can find any logged output that could help us find the source of the issue:
* run `code --verbose` from the command line and attach the output
* in Code select **Help | Toggle Developer Tools** and select the **Console**
* attach any output you see in the **Console** you can fin

[2016-11-07 09:57] bpasero commented on #15074
Sounds a lot like: https://github.com/Microsoft/vscode/issues/5516

@eedahl does it change something if you run `code --disable-gpu`

[2016-11-07 09:58] bpasero commented on #14986
The only reason our menu is not more dynamic is because it lives on the main side whereas many of the commands execute on the renderer side and thus would need to send back to the main side that the state changed. Not an easy area for a PR I fear.

[2016-11-07 10:05] dbaeumer commented on #818
@waderyan Microsoft/TypeScript#7849 is what we are looking for.

[2016-11-07 10:06] SailorMax commented on #15085
Then you can output standard error message at top of window. Like you did when git command return error code.

I think for user is much easer make action and wait result, than wait while some process will finish its job, make some action and, again, wait result. When I want make push / pull / pull rebase, I not interested in result of "refresh", but currently I have to wait..

I talk about command

[2016-11-07 10:18] Reedo0910 commented on #15030
@jrieken Thank you. `col` will be proposed in this sample. and yes, i mean that there shouldn't be html snippets inside the CSS-part of the document, that's really annoying.

[2016-11-07 10:26] #7093 closed

[2016-11-07 10:28] eedahl commented on #15073
I recorded with  Gyazo. As you can see, ctrl+k j and ctrl+k l changes the focus, while ctrl+1 and ctrl+2 do nothing. In fact it doesn't even record it on the lower status bar. It looks like the cursor is moving within a frame while i press them, but that seems to be an artifact of how I used Gyazo.
https://gyazo.com/7b21e1bfd9103529232b3616cf56c27c

[2016-11-07 10:34] eedahl commented on #15074
@bpasero That fixes it! :) What's up with that?

[2016-11-07 10:55] eedahl commented on #15073
Note that I have this exact problem in Atom, except in Atom I don't have to full screen for it to happen. atom --disable-gpu did the exact same thing for Atom.

[2016-11-07 10:56] epaezrubio commented on #14261
I made a fresh installation of the newest version (1.7.1) and it worked as a charm 👍 You can close the issue or investigate it if you prefer, but it's solved for me.

[2016-11-07 10:56] aeschli commented on #6907
Wanted to suggest Optional<T> but actually like Maybe<T> even better.
+1 for option 3 with Maybe<T>.
I'd rather not combine it with 2, too many types, and, especially, 'Result' is too general.

[2016-11-07 10:56] jrieken commented on #3210
https://github.com/Microsoft/vscode/issues/3210#issuecomment-258497196 raises a very interesting question. When you use `CompletionItemKind.Snippet` should use set the `useSnippetSyntax` flag or not? That makes me think if we should just interpret the text mate snippet syntax by default (similar to how we do it today) without a flag but offering a way to escape text easily.

[2016-11-07 10:57] Zjaaspoer commented on #869
yes negating pattern would be very welcome, exactly because of the use case described several times above (node_modules folder with private libraries that need to be accessable)

[2016-11-07 10:58] aeschli commented on #15084
Duplicate #4865

[2016-11-07 10:58] #15084 closed

[2016-11-07 10:59] aeschli commented on #15083
This issue was moved to Microsoft/TypeScript-TmLanguage#345

[2016-11-07 10:59] #15083 closed

[2016-11-07 11:01] darrenparkinson opened #15088 "C# references displayed incorrectly"
- VSCode Version: 1.7.1
- OS Version: Windows 10

Steps to Reproduce:

1. dotnet new
2. open folder
3. open .cs file
4. references displayed as in attached screen shot.

![image](https://cloud.githubusercontent.com/assets/4262917/20055499/4a0490ba-a4d9-11e6-866e-dc4bed8d18cf.png)
![image](https://cloud.githubusercontent.com/assets/4262917/20055515/58f0ee20-a4d9-11e6-8df2-2d806769fa19.png)
![image]

[2016-11-07 11:02] mostergaard opened #15089 "Scrolling is not as smooth as it used to be"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|csharp|ms-vscode|1.4.1|
|PowerShell|ms-vscode|0.7.2|

---

When working with a "high precision" touch pad and using the two finger scroll it doesn't seem as "smooth" in the code editor as it did in previo

[2016-11-07 11:06] joaomoreno commented on #6907
[code]

😄

[2016-11-07 11:09] aeschli commented on #15056
duplicated of https://github.com/atom/language-c/issues/154

[2016-11-07 11:09] #15056 closed

[2016-11-07 11:13] aeschli commented on #15055
We use https://github.com/beautify-web/js-beautify only for HTML. All HTML relevant options are available in the settings.
For JavaScript we use a formatter provided by TypeScript.
Format JavaScript embedded in HTML is not supported. Issue is #5076.

[2016-11-07 11:13] #15055 closed

[2016-11-07 11:17] aeschli commented on #14844
This issue was moved to OmniSharp/omnisharp-vscode#883

[2016-11-07 11:17] #14844 closed

[2016-11-07 11:17] aeschli commented on #14819
Closing issue.

[2016-11-07 11:17] #14819 closed

[2016-11-07 11:19] aeschli commented on #14773
Closing issue due to lack of additional information.

[2016-11-07 11:19] #14773 closed

[2016-11-07 11:20] aeschli commented on #14746
Closing issue due to lack of additional information.

[2016-11-07 11:20] #14746 closed

[2016-11-07 11:20] aeschli commented on #14694
Closing due to lack of additional information.

[2016-11-07 11:20] #14694 closed

[2016-11-07 11:22] aeschli commented on #14601
Closing due to lack of additional information. We don't have a toolbar for actions and there are no plans for one.

[2016-11-07 11:22] #14601 closed

[2016-11-07 11:25] eedahl commented on #14733
This would be super useful. This is an introduction to all the cool stuff you can do in a fully featured org-mode:
https://www.youtube.com/watch?v=SzA2YODtgK4

[2016-11-07 11:27] aeschli commented on #14931
Many different issues have been mentioned here, which make it very hard to track and work on. Please file a new issue per problem with each a small code examples that demonstrate the issue.
For extension that don't work anymore, please file the issue against the extension's issue tracker system.
https://github.com/gyuha/vscode-format-on-save,
https://github.com/natewallace/language-vscode-javascri

[2016-11-07 11:27] #14931 closed

[2016-11-07 11:35] sandy081 commented on #14763
Sure.. will revert

[2016-11-07 11:37] Tekbr commented on #14992
-- Sorry for the English, I used Google Translator --

@joaomoreno I think the other more intuitive, more direct. Perhaps the choice of Workspace could get through `F1`. But enable and disable general should get easier.

Add some menus, such Update, Enable All, All Disabled

Would be like this:
`"..."> More Settings> 1- Update All Extensions, 2- Enable All Extensions, 3- All Disabled Extensions`

[2016-11-07 11:41] eedahl commented on #14733
Related, though I don't know whether it would be useful https://github.com/daitangio/org-mode-parser

[2016-11-07 11:43] yinonov commented on #10114
yes this is certainly a missing feature i keep on searching for.
surprised it wasn't "born" with it as older visual studio versions partialy supported sync by account (at least with Visual Studio Team Services)

[2016-11-07 11:53] jrieken commented on #15088
@darrenparkinson Please attach the list of extensions you are using

[2016-11-07 12:08] peredin commented on #5446
Just like others have already mentioned this "feature" is quite annoying. I dislike any kind of automatic behavior that cannot be turned off. If I want to indent a line I will use the tab key manually.

[2016-11-07 12:16] bpasero commented on #15074
@eedahl we have heard from problems before where disabling the native hardware acceleration in Chrome (using this command line flag) helps. That does not help us understand the underlying issue though...

[2016-11-07 12:16] b1es commented on #840
The same issue.  I downloaded the tar.gz and than:
[code]

[2016-11-07 12:18] youneskhouli commented on #8850
PLEASE FIX THIS, I have the same problem in python, and it'ts really annoying!!!!!
I'm using v1.7.1 on windows 10

[2016-11-07 12:20] bpasero commented on #15073
@eedahl you seem to be switching between a readonly file on the left and an editable file to the right. It is expected that you do not see any feedback in the status bar for pressing `Ctrl+1`, you only see that when you press a chord (which is 2 keybindings like `Ctrl+k j`).

Can you try this:
* open 2 editable files side by side
* put focus into the first file
* press Ctrl+2
* type something (do

[2016-11-07 12:22] #14261 closed

[2016-11-07 12:22] weinand commented on #14261
@epaezrubio great to hear, thanks!

[2016-11-07 12:26] DanTup commented on #15064
Does the store keep all versions and serve up the correct ones if we did that? I figured it'd only "keep" the last one and if your Code was old, you'd get nothing?

Yeah, I'd love to just keep updating; but I keep seeing Code 1.4 and 1.5 in my analytics. I don't know how many people aren't upgrading Code regularly (or what their reasons are) so I wanted to cover as many as possible.

Probably the

[2016-11-07 12:30] DanTup commented on #10742
@dbaeumer I thought that was the reason for these changes? I'm currently using this for `launch.json` changes (see #15062 for an example); is it something that should generally be avoided?

[2016-11-07 12:34] eamodio commented on #10583
@jrieken looks great to me too

[2016-11-07 12:36] slowmove opened #15091 "Ability to create simple macros"
It would be nice to be able to create some kind of simple "macros" which initially could be only a set of commands running together on a specified keyboard shortcut.

Example: **F5 - Start Debug**
* View -> Debug
* View -> Debug Console
* Start Debugging

[2016-11-07 12:36] eedahl commented on #15073
Ok, two editable files, I type something, switch, type something and switch.
https://gyazo.com/73eaa639c65155be653ee53c1e79f3ee

[2016-11-07 12:44] bpasero commented on #15073
@eedahl I am not convinced that the action is actually executed. instead of pressing ctrl+2 can you actually open the command palette (Ctrl+Shift+P) and pick "Focus Next Group"?

I suspect that another command is bound to Ctrl+2 and thus focus is never even triggered.

[2016-11-07 12:48] mallardtheduck opened #15092 "Apt/Yum repositories for Linux users"
VSCode is provided as .deb and .rpm packages for Linux users, but these are only provided as a stand-alone download, rather than from a repository.

Since VSCode updates often, having to manually download the new package and install it every time gets very old very fast. I notice that Windows users do get automatic updates which significantly improves the user experience.

It would be very much ap

[2016-11-07 12:55] bpasero opened #15093 "Windows: task list not updated until doing a full restart"
Today you have to do a full restart before the list of recently opened folders is updated. Instead we should update the task list when a folder is opened directly.

[2016-11-07 12:55] cristianorvf commented on #15046
@bpasero You are right. Its the JS-CSS-HTML Formatter 0.2.1 that is causing this, disabled it and worked gain.

The thing is, now i have no formatting working for JS (as the other issue opened #15010) :(

Thanks

[2016-11-07 12:55] #15046 closed

[2016-11-07 12:57] bpasero commented on #15052
I have updated this issue and extracted some work that I plan to do for November (https://github.com/Microsoft/vscode/issues/15093). For November we can improve the windows task list by:
* removing entries automatically when you try to open them and they do not exist anymore
* update the task list while the application is running instead of requiring a restart

This item here is still valid though

[2016-11-07 13:04] eedahl commented on #15073
Ctrl+Shift+P -> Focus Next Group works as expected.
https://gyazo.com/53b7a05298490862a702f034936cbaa2
As you can see, ctrl+1 is bound to exactly one thing in the default settings (that is, focusFirstEditorGroup, which is the one I'd like it to be but for which tells me to use focusPreviousGroup when I bind it to ctrl+k j. Ctrl+1 or ctrl+2 just do not trigger.)

[2016-11-07 13:09] eedahl commented on #15074
If it helps, Atom has this exact issue (except there I don't need fullscreen for it to happen), and atom --disable-gpu fixes it there as well.

[2016-11-07 13:10] bill-mybiz commented on #7093
Thanks @jrieken :tada: :+1:

[2016-11-07 13:10] cristianorvf commented on #15010
@rebornix

I've found the problem, but maybe another issue should be open (?).

Having the file **jsconfig.json** in the project makes the formatting stop working.  **Actually, if the file IS EMPTY only with open/closing {} brackets it already stops working**.

My file contents were:

`{
	"compilerOptions": {
		"target": "ES6",
		"module": "commonjs",
		"allowSyntheticDefaultImports": true
	},

	"

[2016-11-07 13:10] #15010 closed

[2016-11-07 13:11] Wampe commented on #14989
@isidorn Thank you for the note.

When I create a custom _settings.json_ (didn´t before) and set the value of _editor.glyphMargin_ to _true_ then the glyph margin appears. That´s a solution. But in the general settings it´s already _true_? So why does it get ingnored?

[2016-11-07 13:11] eedahl commented on #15073
Incidentally, there are no other commands starting with ctrl+1 and ending with something else either.

[2016-11-07 13:24] jrieken commented on #15088
@joaomoreno Just talked about this

[2016-11-07 13:36] BlueOrange775 opened #15094 "Code snippets and other suggestions stop working"
- VSCode Version: 1.7.1
- OS Version: Windows 10

Sometimes on creating a new file, code snippets, and other suggestions refuse to work.

Steps to Reproduce:

1. Create new file within VSCode
2. Try to use code snippet, or anything to get suggestions up

[2016-11-07 13:36] mdahamiwal opened #15095 "npm install fails at `scripts\npm install` step"
@joaomoreno, here are the version details and console logs:

- OS Version:
windows_NT 10.0.14393

- Visual Studio:
  2015 preview 3

- NPM , NodeJS
  v3.10.8 , v6.9.1

[code]

[2016-11-07 13:39] isidorn commented on #14989
@Wampe maybe because it is set to false in your user settings. Note that we have both user and workspace settings and workspace take priority

[2016-11-07 13:47] egamma commented on #13342
Closing 1.7 has shipped

[2016-11-07 13:47] #13342 closed

[2016-11-07 13:47] bpasero commented on #15046
@cristianorvf this should be reported to them. would you mind filing it against them?

/cc @jrieken

[2016-11-07 13:48] bpasero commented on #15074
Sure, it is Electron related so it will happen in more and more apps :)

[2016-11-07 13:49] bpasero commented on #15073
@eedahl is there something in the developer console when you press these keys? Help > Developer Tools > Console

[2016-11-07 13:54] eedahl commented on #15073
I cleared the console, went over to the editors and pressed the keys: no messages for either ctrl+1/2 or ctrl+k j/l.

[2016-11-07 13:55] eedahl commented on #15074
Gotcha :)

[2016-11-07 13:56] verbeeckjan commented on #12493
+1

[2016-11-07 14:08] Attrash-Islam commented on #782
+1

[2016-11-07 14:09] bpasero commented on #15073
@eedahl can you bind another command to Ctrl+1 to see if it is the command behaving bad or the keybinding?

[2016-11-07 14:12] mrmlnc commented on #13342
Hello, @egamma,

Small clarification: VS Code team has plans to publish recovery release? Because now we have broken support `JavaScript React` (#14962) and `Less/SCSS` comments (#15013).

[2016-11-07 14:15] #15093 closed

[2016-11-07 14:15] eedahl commented on #15073
I rebound ctrl+1 and ctrl+2 to copy and paste, respectively: they don't fire at all.

[2016-11-07 14:16] jrieken opened #15096 "Same, same but different completions"
* open an empty `package.json` files
* trigger intellisense
* you get two completions (one from vscode.javascript and one from vscode.json). Both are equal but one escapes the snippet syntax

<img width="498" alt="screen shot 2016-11-07 at 15 14 45" src="https://cloud.githubusercontent.com/assets/1794099/20060794/2b7d81aa-a4fd-11e6-9f7d-686bee75b52e.png">

[2016-11-07 14:16] DanJ210 commented on #15052
Awesome! I love vscode I'm so thankful that it was made. I don't know if this is something that vscode already does but if I do remove something from the list that shows up from right clicking the icon, I don't want it permanently gone, I do want it to come back. I may just be cleaning up some. That may be what already happens and my experience is flawed because I had multiple Windows opened.

Oth

[2016-11-07 14:17] jrieken commented on #15096
related to #3210

[2016-11-07 14:17] #14422 closed

[2016-11-07 14:17] #14428 closed

[2016-11-07 14:21] Kyasaki opened #15097 "VSCode doesn't watch for tsconfig.json"
- VSCode Version: 1.7.1
- OS Version: Mac OSX 10.12

I have a Typescript/React/TSX project. Since my team changed from grunt to webpack and  I updated VSCode, I can't get my global imports work as before, as well as the JSX recognition:

We have a typings file, so I tried to fix this by making a include rule inside the tsconfig file:

[code]

But this file, which is at the root of the project, see

[2016-11-07 14:23] bpasero opened #15098 "Mac: allow for more custom title bar styles"
On Mac OS, modern applications typically take over control of the title bar. Some examples:

**Skype for Business:**

![image](https://cloud.githubusercontent.com/assets/900690/20060897/a4fb35ae-a4fd-11e6-8f0c-5960a9e99d5f.png)

**Outlook:**

![image](https://cloud.githubusercontent.com/assets/900690/20060909/aeec297e-a4fd-11e6-81ea-5ff7084690b4.png)

VS Code so far is not leveraging this and thus

[2016-11-07 14:24] kieferrm opened #15099 "November/December Iteration Plan"
This plan captures what we work on during November and early December. This iteration will be 6 weeks long. This is unusually long for us. We are an internationally distributed team and everybody in the team wants to enjoy the forthcoming holiday season while we still continue working as a closely knit team. Thus, it's 6 weeks this time. We will ship **mid December**.

Not unusual and still notewo

[2016-11-07 14:31] whitecolor opened #15100 "Console process (yarn install) runs slower then in native console"
- VSCode Version: 1.6
- OS Version: Windows 10

Noticed that `yarn install` process takes longer time in vscode console. Think this should be investigated.

Can be reproduced this way:

1.  install yarn package manager (`npm i yarn -g`)
2.  create package.json and add two dependencies:
[code]
3. run `yarn` in this directory.

Those modules have many internal dependencies and yarn install (Link dep

[2016-11-07 14:35] isidorn commented on #14369
Closing this as there are no steps and I can not reproduce any of the mentioned issues.
I can always set both hit cound and expression to a breakpoint and the hover now shows that.
I can always hit breakpoints if they have both hit count and condition - also when debugging extensions.

Please reopen if you still see this on your machine and try to find steps - if not ping me and I wlll come to you

[2016-11-07 14:35] #14369 closed

[2016-11-07 14:39] catchmyfame commented on #11922
Isn't this a dupe of https://github.com/Microsoft/vscode/issues/5953?

[2016-11-07 14:39] catchmyfame commented on #7076
Dupe of https://github.com/Microsoft/vscode/issues/5953?

[2016-11-07 14:41] thomashoggard opened #15101 "Extensions Not Working Behind Corporate Proxy"
- VSCode Version: 1.6.1
- OS Version: Windows 7 (6.1.7601)

Steps to Reproduce:

1.  Open VSCode
2.  Click on the extensions button on the left hand pane.
3.  I receive the below error in the developer console.

[code]

Here is my settings.json.  As you can see I configure the proxy so all should work.
[code]

[2016-11-07 14:43] joaomoreno commented on #15064
The Marketplace keeps all the versions you ever published and:

Sure, make sure people keep riding the latest, every bit helps. 👍

[2016-11-07 14:43] darrenparkinson commented on #15088
I guess it's actually the C# extension that shows this information and has the issue?  I'm using v1.4.1 of that and it isn't suggesting there is an update available.  Should I register this issue elsewhere?

Thanks.

[2016-11-07 14:44] bdesemb commented on #5605
+1

[2016-11-07 14:44] joaomoreno commented on #15088
No, @darrenparkinson, we got it.

Duplicate of #14949

[2016-11-07 14:44] #15088 closed

[2016-11-07 14:44] darrenparkinson commented on #15088
Cool, thanks.

[2016-11-07 14:45] joaomoreno commented on #15095
Please provide the **entire** npm output.

[2016-11-07 14:47] bpasero commented on #15073
@eedahl can you attach your keybindings.json file?

[2016-11-07 14:49] eedahl commented on #15073
It appears ctrl+1 through 3 do not work in either VSCode, Atom, Firefox or Slack, so it is not exclusive to VSCode.

keybindings.json:
// Place your key bindings in this file to overwrite the defaults
[
{ "key": "ctrl+k ctrl+j",           "command": "workbench.action.moveActiveEditorGroupLeft" },
{ "key": "ctrl+k ctrl+l",          "command": "workbench.action.moveActiveEditorGroupRight" },

{ "key

[2016-11-07 14:49] bpasero commented on #15052
@DanJ210 so would you say that automatically checking on startup if the entries in the jump list still exist is not a good idea? I thought maybe it might be a good idea to not show the user paths to folders that do not exist anymore. Though I am not sure how other Windows apps behave here...

[2016-11-07 14:54] bpasero commented on #15073
@eedahl thanks, it works for me on Windows and Mac, so I am out of ideas.

@alexandrudima maybe this is a chance to let someone see your keybindings wiki? The issue is that the user assigned Ctrl+1 and Ctrl+2 to some commands but those are not being executed.

[2016-11-07 14:56] bpasero commented on #12377
I have pushed a custom title bar implementation to master (see https://github.com/Microsoft/vscode/issues/15098). My plan is still to support this inline title style as one of the available options.

[2016-11-07 14:57] alexandrudima commented on #14984
@dayer3 Thank you for the nice report.

I have just written a wiki page - https://github.com/Microsoft/vscode/wiki/Troubleshooting-Keybindings - to explain in detail what we do with keybindings and how it all works.

May I ask you to give it a quick read such that we end up talking about the same things.

Let's pick one key on your keyboard layout and try to figure out where it all goes wrong on y

[2016-11-07 14:59] rozzzly commented on #15100
I suspect this has something to do with how `yarn` writes its the **`stdout`** buffer.

It's probably trying to make the console redraw each time it's little animated spinner changes frame **`--->`**  `vscode` uses js to emulate a terminal for your prefered shell (eg: `bash`) **`--->`** console takes longer to draw/gets backed up **`--->`** slow install **`--->`** :disappointed:

So I suspect I th

[2016-11-07 15:02] zhoutianwu opened #15102 "some times vscode save js file document confusion"
- VSCode Version: 1.6.1
- OS Version: Windows7 x64

Steps to Reproduce:

1.  Open more js file in vscode ,and some js files is in edit dirty state, when i click save all button, the current open unsaved file(the current editor show in tab) will confusion,its content can be anthor opened js file content or  anthor opened  js file part content. Then the confusion js file be saved with wrong content!

[2016-11-07 15:03] kaiwood opened #15103 "Next terminal is not focused when a shell process dies on its own (then terminalFocus doesn't act as expected)"
- VSCode Version: 1.7.1
- OS Version: macOS Sierra 10.12.1 (16B2555)

Steps to Reproduce for "open":

1. Toggle terminal pane
2. Start a second terminal (via shortcut or click on '+')
3. Try using a set shortcut for workbench.action.terminal.focusNext / workbench.action.terminal.focusPrevious
4. At this point, the values of setting `terminal.integrated.commandsToSkipShell` get ignored, shortcuts d

[2016-11-07 15:03] smlombardi commented on #15098
Will this setting be in Insiders build soon?

[2016-11-07 15:05] bpasero commented on #15098
@smlombardi tomorrow 👍

[2016-11-07 15:06] alexandrudima commented on #15073
@eedahl I've just written a wiki that explains in detail how keybindings are handled in VS Code -- https://github.com/Microsoft/vscode/wiki/Troubleshooting-Keybindings

May I ask you to give it a quick read such that we end up talking about the same things.

### 1. What's your keyboard layout?

### 2. Do we receive the key combination or is there some other software "stealing" it?

Use the define

[2016-11-07 15:11] MuhsinFatih commented on #13592
guyz please do it already. this is getting frustrating

[2016-11-07 15:12] alexandrudima commented on #15089
We believe this was a regression in Chromium 52 (that we are not sitting on due to Electron 1.3.8) that was in the meantime already fixed in Chromium 54. Let's track in #13612

[2016-11-07 15:12] #15089 closed

[2016-11-07 15:17] alexandrudima commented on #14605
I was talking about these keybinding hovers:

![image](https://cloud.githubusercontent.com/assets/5047891/20062795/4fb0e780-a505-11e6-9103-d505b74cd3fe.png)

Meanwhile I guess you were talking about these ones:
![image](https://cloud.githubusercontent.com/assets/5047891/20062821/69818d40-a505-11e6-96e6-e022515d56bd.png)

We can also drop this feature request and not do anything about it.

It was j

[2016-11-07 15:24] jez9999 opened #15104 "Display breakpoints in scrollbar"
It would be nice to see at-a-glance where breakpoints have been set in a code file.  They could be displayed in red the scrollbar area, like "changed/added code lines" are currently shown in blue.

[2016-11-07 15:24] alexandrudima commented on #13994
@scorphus That is a good find. If it only reproduces in python files and only when that extension is activated, I can only guess the extension is submitting some text edits that causes the "future" part of undo-redo to be discarded (similar if you undo, type something, there is nothing to redo since the redo stack got discarded when you typed). I suggest to track this issue with the extension.

[2016-11-07 15:24] #13994 closed

[2016-11-07 15:25] eedahl commented on #15073
1. I use a Norwegian keyboard layout.
https://gyazo.com/0393d86ad6f5c0392d8c08ed83f946f3

2. It shows ctrl+unknown. It could be snagged by something.

3., 4. You can see here that it only registers keyup events for ctrl+1 and ctrl+2.
https://gyazo.com/9478b713b362bcea823747fb6cd182de
It VSCode, Atom, Firefox, Slack and apparently Windows Explorer 11, so seems system wide.

5. Until recently, but n

[2016-11-07 15:25] discomarra opened #15105 "Save file slowdown and intellisense not working"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.0.18|
|vscode-eslint|dbaeumer|1.0.8|
|beautify|HookyQR|0.5.4|
|debugger-for-chrome|msjsdiag|2.2.1|
|vscode-icons|robertohuertasm|4.0.0|
|html-css-class-completion|Zignd|1.0.3|

--

[2016-11-07 15:26] jez9999 opened #15106 "Option to render proper scrollbar"
The current VS Code scrollbar is OK, but I would prefer:
- The scrollbar not to disappear when the mouse stops moving
- The scrollbar to be a bit thicker, thus easier to click
- An up and a down arrow at the top and bottom to scroll one line per click

Maybe a setting could be introduced to render this more "traditional" type of scrollbar.

[2016-11-07 15:26] cristianorvf commented on #15046
@bpasero yes, its already there (and for months ..) https://github.com/Lonefy/vscode-JS-CSS-HTML-formatter/issues/28

Thanks!

[2016-11-07 15:27] bpasero commented on #14605
Let's discuss tomorrow in person 👍

[2016-11-07 15:31] bgashler1 commented on #15098
@bpasero this is great.  It's exactly what I was going to propose for a conservative first step.  Thanks!

[2016-11-07 15:32] alexandrudima commented on #5164
@dkundel I have just written a wiki describing in detail how we handle keybindings in VS Code -- https://github.com/Microsoft/vscode/wiki/Troubleshooting-Keybindings. Would you mind giving it a quick read so we end up talking about the same things.

From seeing <kbd>cmd</kbd>+<kbd>alt</kbd>+<kbd>\`</kbd>, it appears that Chromium is sending our way a `keydown` event with the `keyCode = VKEY_OEM_3

[2016-11-07 15:33] DanJ210 commented on #15052
@bpasero Oh I would say that's a great idea! I don't mean to be confusing but sometimes I am. Yes that's a great idea. No one should want paths to remain that don't exist.

I only meant that if I remove a folder path that does exist, whether intentional or accident, can or will the path come back the next time I open the folder? Not just in file>recent, but when I right click the icon?

[2016-11-07 15:34] wUFr commented on #15105
yup, can confirm.... at least it will actually save files now, older versions would just freeze whole editor if you have big CSS/Less files :)

[2016-11-07 15:36] Ratismal commented on #15039
@infinnie As I said previously, this update still affects every existing theme. Also mentioned in the #14921, this update does things such as making literal templates being the exact same colour as regular strings. Using the minimal Dark/Light themes are not a solution.

[2016-11-07 15:41] whitecolor commented on #15100
@rozzzly I believe currenlty no way to to prevent progress bar with flags. So I think if it is possible vscode should fix this, I will create an issue in yarn if it is not here already.

[2016-11-07 15:42] Tyriar commented on #15065
Could you go into a little more detail what are you expecting `mkdir -p ../!deploy` to do? And how it's related to gulp and node? Are you opening up node and running `require('cp').exec('mkdir -p ../!deploy');`?

Some screenshots would be useful to demonstrate the different between iTerm and the integrated terminal.

[2016-11-07 15:43] Tyriar commented on #15041
Duplicate https://github.com/Microsoft/vscode/issues/13616

[2016-11-07 15:43] #15041 closed

[2016-11-07 15:45] alexandrudima commented on #15073
@eedahl Thank you!

Now we know it is not a vscode issue.

I'm sorry I don't really know how you would find out what other software is "stealing" these keybindings, usually such software decides to pop up when invoked.

I suggest to close for now this issue on our side, since this is outside of our control.

[2016-11-07 15:45] #15073 closed

[2016-11-07 15:50] bpasero commented on #15098
@bgashler1 great. I was about to ask if you have ideas for which coloring to use. I just picked the ones for dark, light and high contrast theme.

They live in https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/browser/parts/titlebar/media/titlebarpart.css#L55

[2016-11-07 15:52] eedahl commented on #15073
Okay, thanks for your help guys!

[2016-11-07 15:54] acetrand opened #15107 "Renaming symbol is broken"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.0.18|
|typings-installer|benjaminromano|0.2.0|
|jshint|dbaeumer|0.10.15|
|vscode-instant-markdown|dbankier|0.1.0|
|vscode-jasmine-es5|deerawan|1.0.1|
|Angular1|johnpapa|0.1.16|
|f

[2016-11-07 15:55] rebornix commented on #15091
Thanks @slowmove . It's dup of #4490

[2016-11-07 15:55] #15091 closed

[2016-11-07 15:56] rozzzly commented on #15099
## I think everybody can agree
![obligatory election-day-eve-day gif](https://i.giphy.com/l3vR6qrnp8LgMKjqo.gif)
### This is a pretty exciting agenda.

Can wait to see how it unfolds!

@rebornix @alexandrudima If you're revisiting the diff viewer, could you look into a cool merge-mode feature like JetBrains has? Here's a [video](https://www.youtube.com/watch?v=RDV2LJzd1wU)

 The one thing I am sad

[2016-11-07 15:56] alexandrudima commented on #14979
@drweb

regarding 1. the option is not on by default because trackpads are very susceptible to zoom in/out like crazy. It has been reported multiple times that, at least under mac, this gets triggered accidentally very often. Since we listen to `mousewheel` events coming from Chromium, and we cannot distiguish trackpad gestures from mouse gestures, we cannot work around it and have opted to make t

[2016-11-07 15:56] rebornix commented on #15092
Dup of #2973 and #229

[2016-11-07 15:56] #15092 closed

[2016-11-07 15:57] alexandrudima commented on #14980
Duplicate of #14949.

[2016-11-07 15:57] #14980 closed

[2016-11-07 15:59] alexandrudima commented on #15002
The explorer hasn't fully adopted our keybindings story and at this point not all keybindings are customizable in there (e.g. `F2`).

[2016-11-07 15:59] bpasero commented on #15052
@DanJ210 the list of recently opened files and folders is always updated by your actions. So anytime you open a file or folder it should show up again in that list. For now you need a full restart, but I pushed a fix already for the next release so that this list updates live while the app is running.

[2016-11-07 16:00] bpasero commented on #15002
This issue has already been reported. Please use the search function next time before reporting an issue and/or this time if you are curious about the progress of the issue.

[2016-11-07 16:00] biker-linz opened #15108 "VSCode is horribly slow to start on Windows 7 Enterprise 64-bit"
- VSCode Version: 1.7.1
- OS Version: Windows 7 Pro SP1 64-bit

Hi there. I love VS code. Ironically it runs great on my Mac but is agonizingly slow on Win7.
Start time is approximately 2 minutes. Opening a file is instantaneous, but opening a folder = 2 minutes again.
I have tried running code --disable-extensions. Still 2 minutes.

My user profiles file looks like this:
// Place your settings in

[2016-11-07 16:02] bpasero commented on #15108
@biker-linz is this running inside a VM?

[2016-11-07 16:02] waderyan commented on #15002
@bpasero can you point the issue out to me? I did do a search but it looks like I can't find it. Its not easy to find related issues :)

[2016-11-07 16:02] bpasero commented on #15102
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-11-07 16:02] bpasero commented on #15105
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-11-07 16:03] huttarichard opened #15109 "--jsx flag in .tsx files, weird behavior"
- VSCode Version: 1.7.1 (1.7.1) / 02611b40b24c9df2726ad8b33f5ef5f67ac30b44
- OS Version: OSX 10.11.6

Guys I just update vscode and someting very weird is going on. Before works alright.

`tsconfig.json`
[code]

this is a first file indicating that --jsx flag missing which is not true.

`routes.tsx`:
<img width="598" alt="screen shot 2016-11-07 at 16 54 32" src="https://cloud.githubusercontent.com

[2016-11-07 16:03] waderyan commented on #15002
Maybe this one - https://github.com/Microsoft/vscode/issues/4557

[2016-11-07 16:04] alexandrudima commented on #14950
@ericblade There was a regression in 1.6.0 and 1.6.1 that @isidorn has fixed where the output editor would not have the context `editorTextFocus`. e.g. the arrow keys were not working, many things were not working.

In 1.7.0 the regression has been fixed and the output editor has the key `editorTextFocus`.

It also has the key `inOutput` so you should be able to "target" it:
[code]

[2016-11-07 16:04] #14950 closed

[2016-11-07 16:04] bootster opened #15110 "html comments work wrong"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|

Steps to Reproduce:

[code]
paste code, see that end of the comment "-->" in first line does not work proper

[2016-11-07 16:05] biker-linz commented on #15108
No, running native.

[2016-11-07 16:09] bpasero commented on #15002
@waderyan thats it. sorry, I did not want to treat you any more special than I do any other user ;)

[2016-11-07 16:10] bpasero commented on #15108
@biker-linz interesting, so you say a cold start on a single file is instant but a cold start on a folder takes 2 minutes?

[2016-11-07 16:11] huttarichard commented on #15109
Im just fooling around with golang and react, so can share repository if you want to try reproducing issue.

[2016-11-07 16:11] waderyan commented on #14862
@mhegazy can you advise us on this?

[2016-11-07 16:12] rebornix commented on #15110
Can you help format your description a little bit to help understand the problem?

[2016-11-07 16:13] rebornix commented on #15094
@BlueOrange775 can you provide a project or file that you are working which reproduces this problem?

[2016-11-07 16:15] waderyan commented on #15109
@huttarichard thanks for opening this. Yes if you can share your repo that would be great.

[2016-11-07 16:16] rozzzly commented on #15100
@whitecolor should my hunch be correct, you're asking `vscode` to (potentially) totally rework it's integrated terminal. That's asking a bit much when they can add a CLI flag with less than a dozen lines of code. lol. Anyway, someone will have to some metrics/profiling, and hard thinking to see what's causing the issue you're experiencing. Do you get the same experience in `atom` or other editors/

[2016-11-07 16:17] rebornix commented on #10583
@jrieken it's great! 🚢

[2016-11-07 16:17] waderyan commented on #15107
@acetrand thanks for opening this. I can't recreate on my own machine. Can you share your repo with me?

[2016-11-07 16:20] aeschli commented on #15110
Check out https://www.w3.org/TR/html5/syntax.html#comments:

That's why the comment content is rendered red ('invalid')

duplicate of #13778

[2016-11-07 16:20] #15110 closed

[2016-11-07 16:20] waderyan commented on #818
Great. Leaving this open on our end to track the completion of the work.

[2016-11-07 16:20] jez9999 commented on #2248
Yep this is one of the few things I regularly find myself missing in VS Code.  With Git support built-in, a natural evolution would be a right-click "Git blame" option that opens blame in the gutter.  Probably ought to be on the roadmap.

[2016-11-07 16:22] waderyan commented on #15006
Thank you for opening this issue. Moving this to TypeScript language service repo.

[2016-11-07 16:23] waderyan commented on #15006
This issue was moved to Microsoft/TypeScript#12084

[2016-11-07 16:23] #15006 closed

[2016-11-07 16:23] biker-linz commented on #15108
Not quite. A cold start is always 2-minutes. Once started, opening a folder causes VSC to hang for 2-minutes. But opening a file is instantaneous.

[2016-11-07 16:24] DanJ210 commented on #15052
@bpasero Well the reason I made this post initially was because I had removed everything from the list, from right clicking the icon, then I would open folders and it wouldn't come back. I would restart the computer but still wouldn't come back. Only way was after I uninstalled then reinstalled. Since all my settings and extensions are saved... I can make sure this is happening by trying to replic

[2016-11-07 16:25] waderyan commented on #14975
@aeschli can you take a look at this? Please advise if I should send this someone else's way.

[2016-11-07 16:27] huttarichard commented on #15109
@waderyan https://github.com/huttarichard/fooling-around

[2016-11-07 16:29] nesukun commented on #2248
I'd love to recommend to anyone missing this functionality, the extension GitLens is pretty much what I wanted and I've been using it for a while now.

[2016-11-07 16:30] whitecolor commented on #15100
@rozzzly I just think that the issue should be investigated first. I didn't try in other IDEs, any way they all have crappy terminals (jetrans esp), VScode terminal seems work much better in my experience.

[2016-11-07 16:32] rebornix commented on #14103
The fun part of the implementation of this feature is you always need to switch to multi cursor mode.

[2016-11-07 16:32] bpasero commented on #15052
@DanJ210 how do you remove an item from the list actually?

[2016-11-07 16:33] bpasero commented on #15108
@biker-linz when a folder is finally opened, can you try to trigger "Reload Window" from the command palette and see if again it takes 2 minutes to load? If so, this would allow us to do some profiling...

[2016-11-07 16:34] waderyan commented on #15004
@bowdenk7 would you call this an expando pattern limitation?

[2016-11-07 16:35] rebornix commented on #14104
That's all about finding previous unclosed tag :)

[2016-11-07 16:35] waderyan commented on #14970
@zurfluh this is working for me. Can you share your workspace?

[2016-11-07 16:37] waderyan commented on #15012
@literallylara thanks for opening this issue. The repo for the grammar is actually here. I will migrate the issue there. https://github.com/Microsoft/TypeScript-TmLanguage

[2016-11-07 16:37] waderyan commented on #15012
This issue was moved to Microsoft/TypeScript-TmLanguage#346

[2016-11-07 16:37] #15012 closed

[2016-11-07 16:38] jzeferino opened #15111 "External file watcher fails for editors that do atomic saves"
- VSCode Version: 1.7.1
- OS Version: osx 10.11.6

Steps to Reproduce:

1. Create a file with random text.
2. Open it with vscode and TextEdit for example.
3. Edit the file in TextEdit and save it.
4. The file was refreshed in vscode.
5. Keep editing the file in TextEdit and save it.
6. vscode don't refresh the file only the first time, after that no more refresh occur.

side note: after editing t

[2016-11-07 16:38] biker-linz commented on #15108
Reload window is also very very slow

[2016-11-07 16:39] #14326 closed

[2016-11-07 16:39] waderyan commented on #14985
@capaj this is an interesting idea. We don't have support for something like this in our model currently.

@dbaeumer can I get your thoughts here. Adding a setting to supress a warning may be something that would be helpful in multiple scenarios.

[2016-11-07 16:40] waderyan commented on #14983
@smlombardi thanks for opening this issue. Can you give me some code I can copy and paste? Also can you run VS Code with no extensions to verify this is not an extension issue? You can do that by adding `--disable-extensions` option to the command line.

[2016-11-07 16:41] DanJ210 commented on #15052
@bpasero You right click the icon, which I have pinned to my taskbar, and then you can right click everything in the list there.

[2016-11-07 16:43] waderyan commented on #15029
@aeschli can you look into this? If there is something I can do to help please let me know.

[2016-11-07 16:45] waderyan commented on #15061
Thanks for opening this. This is a grammar issue so moving to that repo.

[2016-11-07 16:45] waderyan commented on #15061
This issue was moved to Microsoft/TypeScript-TmLanguage#347

[2016-11-07 16:45] #15061 closed

[2016-11-07 16:47] alexandrudima commented on #9120
@mysticatea This was independently of me changed by @roblourens in 79bc7a814603d541502a604e0f984aee7abba90f . Please bring up your points with the other project members that took this decision in #12109.

[2016-11-07 16:47] chrmarti commented on #6907
Keeping the two concepts separate might be easier to read and would allow for more variants of reuse:
[code]

[2016-11-07 16:51] bcanzanella opened #15112 "SCM: Change the focus to the next file after staging a file"
- VSCode Version:

Version 1.7.1
Commit 02611b40b24c9df2726ad8b33f5ef5f67ac30b44
Date 2016-11-03T13:46:46.244Z
Shell 1.3.8
Renderer 52.0.2743.82
Node 6.5.0

- OS Version:
Ubuntu 16.04

After staging a file in the git view, focus the next file to be staged.

For my workflow, I'd want the next file in the list of stages to be the thing focused. Since I have a keyboard shortcut setup for staging a fi

[2016-11-07 16:52] bpasero commented on #15108
Ok that is GOOD because that means we can try to profile:

To create a CPU profile using developer tools in VS Code:
* select Help > Toggle Developer Tools
* click on Profiles
* click the start button
* do whatever you need to do to get the CPU spin high
* wait for some time (10-20 seconds should be enough)
* stop the profiling
* click the save button and attach the output file to this issue

[2016-11-07 16:52] bpasero commented on #15108
Actually be warned that saving does not work. But if you get it maybe you could drill down to see where time is spend? if you are not familiar with profiling, I can give you some more guidance.

[2016-11-07 16:53] bpasero commented on #15052
@DanJ210 wow, I can reproduce. The good news is that the entries come back as soon as I reinstall VS Code. However, without that the entries are all gone. I fear this is something to follow up with the Electron folks.

Let me finally rephrase this issue to capture that one :)

[2016-11-07 16:54] Fania commented on #11387
I work on Latex projects with long paragraphs of text. Find and replace is almost unusable without word wrap. I can see how it wouldn't bother me much on my python projects maybe, but in Latex it's terrible.

[2016-11-07 16:55] jrieken commented on #6907
Just as a reminder - We aren't just targeting TypeScript-ninjas but also folks that haven't seen a type annotation before.

From my experience, even things like OR-types aren't fully understood/made use of so I am not so sure if a 'double nested generic or-type' is the way to go.

[2016-11-07 16:56] isidorn commented on #15104
This was already done a year ago and the team hated ti since the red was reminding them of errors. Assigning to @bgashler1 to consider this

I am -1 for this feature

[2016-11-07 16:56] bpasero commented on #15052
I mentioned this in https://github.com/electron/electron/pull/6826

[2016-11-07 16:58] wUFr commented on #15105
ok strange, i started editor with `code --disable-extensions` from cmd, it fixed it... but now it works even with extensions enabled

probably caused by something else i guess

[2016-11-07 16:59] dogmatic69 opened #15113 "Network share issues"
- VSCode Version:
1.7.1
- OS Version:
Ubuntu 16.04

- Problem
Intermittent issue saving files on a network (samba / cifs) share. This share is between two PC's on the same internal network.

Now and again when saving a file it will pop up an error saying it could not save, it then pops up a notice saying file has changed on disk with option to compare

When comparing the "disk" version is empty. T

[2016-11-07 17:00] waderyan commented on #3776
@claudio4 added!

To all - any thoughts on prioritizing the above table? I think join lines is high, followed by ctrl+click to add new cursor. From my experience, I really miss paste and indent. More feedback is appreciated. We have working through a couple of these on our [iteration plan](https://github.com/Microsoft/vscode/issues/15099) for this month.

[2016-11-07 17:05] alexandrudima commented on #12637
In #13612, -- https://github.com/Microsoft/vscode/issues/13612#issuecomment-256181669 -- we have received confirmation that this was an issue with Chromium 52 that got fixed already in Chromium 54. We are now sitting on Electron 1.3.8 that is built on Chromium 52 and I am sorry that until we update, there is no workaround we can do on our side.

fyi @kieferrm @egamma @bpasero IMHO we should try mo

[2016-11-07 17:09] whitecolor commented on #15100
Seem yarn soon will have this disable feature shipped https://github.com/yarnpkg/yarn/pull/1190

[2016-11-07 17:11] wUFr commented on #15105
Ok i think i got it...will stop working after saving big CSS file (tested with 7K lines CSS)

probably related to my issue, files can be actually saved in this version tho: https://github.com/Microsoft/vscode/issues/13997

[2016-11-07 17:11] smlombardi commented on #14983
[code]

[2016-11-07 17:12] sandy081 commented on #6907
+1 for option 3

[code]

IMO, this makes it API more readable for all kinds of users with out many references. In fact, Nullable<T> is a bit straight so that user do not need to look for its reference.

[2016-11-07 17:12] eamodio commented on #15099
Sounds great!

Since the diff viewer is going to be looked at -- a feature I would love to have (and others on my team have echoed) would be small buttons (or something) to be able to quickly move change blocks from on side to the other. Of course these would only be available if one side of the diff was editable.

This is how Beyond Compare does it.
![image](https://cloud.githubusercontent.com/as

[2016-11-07 17:16] wUFr commented on #15113
I use SMB network share and don't have any problems so far
Windows 10
Share from CentOS 7 over hyper-v local switch (local virtual machine)

[2016-11-07 17:18] alexandrudima commented on #14919
This action came in via PR #1479 from @Bigous

The desire was to add the same functionality present under `ctrl+shift+L` in Sublime as to aid folks making the transition from Sublime.

In Sublime the action places cursors on all lines (including those that don't have any text), same as it does for VS Code.

If there appears to be high agreement that the behaviour should be changed, we can change i

[2016-11-07 17:19] jez9999 commented on #15104
Well then make the colour configurable or something.  Visual Studio does it, and I regularly find myself wanting to quickly see where breakpoints are in a file.

[2016-11-07 17:19] alexandrudima commented on #14893
@Cacivy please update to 1.7.1, the issue is fixed in the stable stream.

[2016-11-07 17:19] #14893 closed

[2016-11-07 17:20] alexandrudima commented on #14918
Let's track in #3130

[2016-11-07 17:20] #14918 closed

[2016-11-07 17:22] rkeithhill commented on #14369
For me, the only issue that exists here is that the dropdown UI does not save the current value when switching between Expression and Hit Count.  I know the watermark text says to hit press Enter but I think a fair number or folks will type an Expression, hit the drop down to set the Hit Count, then they press Enter.  In this scenario only the Hit Count is accepted.  The condition expression is no

[2016-11-07 17:22] jez9999 commented on #15104
This is how regular Visual Studio shows things (it uses maroon for breakpoints, red for errors):

![vsscrollbar](https://cloud.githubusercontent.com/assets/793830/20067916/c48370c4-a50e-11e6-8fdc-6325dafcac97.png)

[2016-11-07 17:23] wUFr commented on #15094
could be related to https://github.com/Microsoft/vscode/issues/15105

[2016-11-07 17:25] alexandrudima commented on #14857
In that context, language refers to a programming language identifier.

It should get a similar translation to other usages in that file, such as:

[code]

[2016-11-07 17:25] #14857 closed

[2016-11-07 17:29] alexandrudima commented on #14854
@bpasero At one point we will migrate to a single move command. ie. cursorLeft, cursorRight, etc. will all point to one command and pass in different args. It shall then become discoverable :)

[2016-11-07 17:30] pedroassis commented on #6704
@joaomoreno is it possible to disable all the other options and keep only user variables?

[2016-11-07 17:31] mhegazy commented on #14862
can you share a repro project we can debug against?

[2016-11-07 17:32] chrmarti commented on #6907
+1 for option 3 then (don't hurt the ninjas!)

[2016-11-07 17:35] rictic commented on #13448
Related upstream PR: https://github.com/textmate/html.tmbundle/pull/47

[2016-11-07 17:44] #14167 closed

[2016-11-07 17:44] aeschli commented on #3210
@jrieken, @dbaeumer
I think we're much better off with our own syntax. We control it, we know every detail, we can evolve it. As the VSCode API is tightly coupled with the [language protocol spec](https://github.com/Microsoft/language-server-protocol) the syntax that goes in the VSCode API will/should also be take up by the language server protocol. And there it is essential that we are in control

[2016-11-07 17:46] #12694 closed

[2016-11-07 17:49] alexandrudima commented on #14109
@onewhitey From looking at the CPU profile, it looks like spawning a process is very slow on your machine. Very soon when VS Code is started up we spawn two processes:
* the extension host
* also in this case the crash reporter

It appears that this is very very slow (block for 600ms on your machine). I cannot tell at this time what might cause this, but given VS Code sits on Electron, that makes

[2016-11-07 17:50] #14763 closed

[2016-11-07 17:51] alexandrudima commented on #14739
@jrieken disposed model (the dispose makes `this._lines.length = 0`).

I can start ... throwing in there? What do you recommend?

[2016-11-07 17:53] alexandrudima commented on #13511
Thanks @apbendi , given your comment I believe it is not an issue with the keybindings, I'm therefore removing myself for now :).

[2016-11-07 17:56] sandy081 commented on #14763
@jrieken I reverted this for now.

I see we expose the packageJSON as an API, and this will be broken if we do not send all data.
What is the use case of exposing this? If it is just let extensions to access their package.json, Isn't it possible for them to get it by calling `require(package.json)` instead of us providing it?

[2016-11-07 18:04] Bigous commented on #14919
Hi @oste and @alexandrudima .

I think it could be an option to behave like that. To me it's more useful as it is, but I got the point.

What do you think?

[]'s

[2016-11-07 18:09] lvasilev1 opened #15114 "Warning: "Cannot validate the php file. The php program was not found....""
- VSCode Version: 1.7.1
- OS Version: Windows 8

Steps to Reproduce:

1. Go to File -> Preferences -> Workspace Settings
2. In the newly created settings.json enter the following line:

    `"php.validate.executablePath": "C:/PHP/php.exe"`

After I do that, I still get the following error:

I've verified the location of the PHP executable by using the following command line:

as well checking the

[2016-11-07 18:14] joelday opened #15115 "Add a CLI option to switch to fullscreen or maximize new or existing window"
- Feature request
Would like to have a CLI option to specify that any new instance/window is maximized/switched to fullscreen (depending on the OS). This would be convenient for a scenario in which (for macOS, for example) I want to launch from a shell script and have each window in its own space. (For macOS, I assume that the normally focused (last) instance will be switched to.)

If I can have a

[2016-11-07 18:15] alexandrudima opened #15116 "This test delays test execution by 500ms"
Tests should run very fast such that we can develop on VSCode and run the tests often.

`mocha --run out\vs\editor\contrib\find\test\common\findController.test.js`

![image](https://cloud.githubusercontent.com/assets/5047891/20069847/7bce08b6-a51e-11e6-9843-8451c3a5a79e.png)

[code]

[2016-11-07 18:21] #13016 closed

[2016-11-07 18:21] alexandrudima commented on #13016
:+1: This was very easy to implement, since now we support multi-line searches in the model.

[2016-11-07 18:21] DanJ210 commented on #15052
Awesome! I'm glad to have helped lol! Now I can feel like I've helped contribute to a program I love using! So should I close and comment this or how does that work?

[2016-11-07 18:23] alexandrudima commented on #14777
Regarding yaml: in all languages, we ignore strings for bracket matching. e.g.:

[code]

Regarding plain-text, indeed it has no brackets configuration out-of-the-box.

[2016-11-07 18:28] #14777 closed

[2016-11-07 18:29] atombender commented on #14777
There are other related cases which I'm not sure you support, which might need separate issues to support. For example, in a Ruby string, strings need to be their own bracket scopes: An interpolated string such as `hello #{get_name(user)}` has two grammars. One is the string itself, where `#{}` must support bracket matching. The other is `get_name(user)`, which is embedded Ruby syntax. I notice th

[2016-11-07 18:34] grantbowering commented on #14875
I know this is closed, but with uservoice deprecated, I don't know where else to express that it's a really key/killer feature for me.  The Productivity Power Tools extension for Visual Studio 2012-2015 is one of the first things I install and I really miss it in VSCode.
Honestly, as soon as you work with vertical tabs for more than a few minutes, it's hard to imagine why horizontal tabs are the s

[2016-11-07 18:37] mohsen1 opened #15117 "Render Markdown of JSDoc"
- VSCode Version: 1.7.1
- OS Version: macOS

I'm expecting

[code]

I was expecting my Markdown to be rendered here:

![screen shot 2016-11-07 at 10 35 41 am](https://cloud.githubusercontent.com/assets/543633/20070625/f73a3fb8-a4d5-11e6-93f2-393b0d057e2f.png)

[2016-11-07 18:38] roblourens commented on #15026
Yes, we changed this because it seems like it was triggered by accident more often than used on purpose. But the button is still there for people who want to use it.

[2016-11-07 18:38] #15026 closed

[2016-11-07 18:39] alexandrudima commented on #14919
I am personally against adding more options.

We are suffering from option overload :) and are getting this as feedback through all the channels: people don't find anymore the **more important** options because we have so many **less important** options.

Given this can be easily customized via an extension and the original intent of the command (to help folks onboarding from Sublime) is achieved

[2016-11-07 18:39] roblourens commented on #11760
Implemented in October and will continue working on it - http://code.visualstudio.com/updates#_multiple-target-debugging

[2016-11-07 18:39] #11760 closed

[2016-11-07 18:41] atombender commented on #14777
...though I just realized that particular case could be a weakness in `vscode-ruby`, which lacks a lot of features.

[2016-11-07 18:42] smlombardi opened #15118 "Extra spaces being added to JS files on copy/paste"
- VSCode Version: Code - Insiders 1.8.0-insider (d3f14897a3149f5982db31b52ba7edb254466b14, 2016-11-07T07:05:13.526Z)
- OS Version: Darwin x64 16.1.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|code-settings-sync|Shan|2.3.7|
|sort-lines|Tyriar|1.1.0|
|html-css-class-completion|Zignd|1.0.3|
|html-snippets|abusaidm|0.0.18|
|Bookmarks|alefragnani|0.10.0|
|project-manager|alefragnani|0.12.

[2016-11-07 18:46] alexandrudima commented on #13473
@Toybreak Thank you for following up on this.

In this case, may I please ask you to search for an existing issue / create a new issue against Chromium and link to it in the comments -- https://bugs.chromium.org/p/chromium/issues/list

If Firefox can find your installed font, then IMHO Chromium should be able to find it too.

[2016-11-07 18:52] alexandrudima commented on #10471
@rebornix You raise a good point, but IMHO this should not be tackled with options that then pollute the keybindings. All these users can today, without any code change in vscode or in the vim extension, customize their keybindings 100%. They just need to go to their `keybindings.json` and write rules and IMHO that should be the de-facto answer. Introducing an option that disables a keybinding is

[2016-11-07 18:54] J-S-Thomas opened #15119 "Using zsh theme for my terminal and I'm missing a font inconsolata for powerline"
- VSCode Version:newest
- OS Version:Ubuntu

I have zsh theme(cobalt2 from wesbos) and my theme looks incomplete with strange characters in certain points. I know why this is happening because I have no powerline fonts installed in the vscode integrated terminal. How do I add the  inconsolata for powerline font to vscode terminal.

I added a screen shot to illustrate whats going on...
![vscodeshot

[2016-11-07 18:58] Tyriar commented on #15100
Thanks for the report, I'm going to close this off in favor of https://github.com/sourcelair/xterm.js/issues/318 (to properly support "spinners" or progress bars) and https://github.com/yarnpkg/yarn/pull/1190.

[2016-11-07 18:58] #15100 closed

[2016-11-07 18:58] alexandrudima commented on #14794
@dantmnf Can you please also provide the text in textual form (such that I could copy-paste it). We have some code that looks at specific code-point ranges and I'd like to make sure they cover this text.

[2016-11-07 18:59] alexandrudima commented on #14783
fyi @jrieken @sandy081

[2016-11-07 18:59] kaiwood commented on #14919
I'd vote against it, the cursors needs to be at each line for doing things like e.g. commenting out whole blocks of code manually. Missing cursors between gaps would be broken semantics for a lot of use cases.

But Sublime's implementation is in my opinion broken anyways, if you think it through it doesn't even put the cursors at the end of each line. Last line gets the cursor at the end **only**

[2016-11-07 19:00] alexandrudima commented on #14649
@isidorn Let's debug this together

[2016-11-07 19:09] Tyriar commented on #15100
Just to clarify, I'm not actually seeing any performance related problems with the integrated terminal, and I wouldn't expect to. I do however see broken progress bars which is related to the upstream issue https://github.com/sourcelair/xterm.js/issues/318

![image](https://cloud.githubusercontent.com/assets/2193314/20071780/a9359f4c-a4da-11e6-9ad9-402a7c3de6c2.png)

[2016-11-07 19:09] rebornix commented on #10471
@alexandrudima I love your proposal here. A contribution point level enable/disable makes it possible to choose a specific command for a particular key combination. A concrete example is when you install Resharper on Visual Studio, you get a chance to decide which command you want to use for any keycap you press. We can make it happen in Code by enabling a contribution for one extension and disabl

[2016-11-07 19:13] J-S-Thomas commented on #15119
This is what My regular terminal looks like.....
![terminatorshot](https://cloud.githubusercontent.com/assets/18559173/20071892/efa49940-a4eb-11e6-9358-8316202c5663.png)

[2016-11-07 19:14] egamma commented on #13342
@mrmlnc thanks for pointing this out, added these issues as candidates to the October recovery build.

[2016-11-07 19:16] jstarks opened #15120 "Opening a file should ignore casing if file already opened (Win, Mac)"
- VSCode Version: 1.7.1
- OS Version: Windows 10 Insider Preview

Steps to Reproduce:

1. Create a file Foo.cpp. Have it open in a tab.
2. Run a task that emits a problem for "foo.cpp" instead of "Foo.cpp".
3. Double click the problem in the error pane.

Expected: Window switches to the Foo.cpp tab.

Actual: Window creates a new foo.cpp tab and switches to it. Foo.cpp is still open, too.

[2016-11-07 19:16] renier commented on #1105
@golf1052 Will you submit a PR from your fork?

[2016-11-07 19:16] Tyriar commented on #2806
Adding the integrated terminal label so it's easier for me to find as it's one of the main use cases for this.

[2016-11-07 19:17] Tyriar commented on #15023
Duplicate https://github.com/Microsoft/vscode/issues/2806

[2016-11-07 19:17] #15023 closed

[2016-11-07 19:19] Tyriar commented on #2806
An update on this, a toggle maximize panel command was added in 1.7.0 which is my workaround for this for the time being, allowing you to quickly toggle between maximized and non-maximized states. It does not have a default keybinding but can be reached via the command palette or by adding your own keybinding. Here's mine:

[code]

[2016-11-07 19:22] whitecolor commented on #15100
@Tyriar try with for example those deps:
[code]
They have many internal deps (about 90 000), you probably should see the difference.

Btw there is also problem in windows 10 that slows down the process in general https://github.com/yarnpkg/yarn/issues/1496

[2016-11-07 19:22] HookyQR commented on #15009
I'm not asking for a setting to turn off all network activity.

You added **NEW** network activity, without any advice to the user. All I'm saying is, allow them to change the setting (`"typescript.disableAutomaticTypeAcquisition"`) when you add the functionality. All you have to do is ask the user what they want when you first include the setting. Stop assuming everyone wants a particular thing.

[2016-11-07 19:24] Bigous commented on #14919
Hi @kaiwood . Exactly :D

At first, when I implemented it, I've implemented it to have one cursor at the end of each line. So, a couple of friends of mine told me it was not equals to Sublime behavior, then I've changed to match the same behavior ( if the cursor in the last line is at column 0 ignore it ).

Anyway, @oste already set the label to be an extension.

[2016-11-07 19:28] Tyriar commented on #15100
That screenshot is installing those two, on WIndows 10. It only took a few seconds as expected. Was your yarn cache not primed when you tried in the integrated terminal?

[2016-11-07 19:28] polygotdev commented on #15114
Given ```php.exe``` can be found in the windows search ```PATH```, how about trying to set the configuration parameter back to ```null``` and let if fall back to this search PATH

[code]
![2016-11-07_12-25-09](https://cloud.githubusercontent.com/assets/18198056/20072433/948d28d4-a4e5-11e6-9f5c-51b361c3f224.png)

![2016-11-07_12-26-08](https://cloud.githubusercontent.com/assets/18198056/20072435/96

[2016-11-07 19:29] Alexhuszagh opened #15121 "Get Line Home with WordWrap"
**Version**
- VSCode Version: 1.7.1
- OS Version: Fedora, 24

**Feature Request**

Enable home key to go to start of the line (column 0), even with word-wrapping.

**How To Reproduce**
1. Configure "settings.json" to use the following rules: `"editor.wordWrap": true`, and  `"editor.wrappingColumn": 80`
2. Add `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet semper erat,

[2016-11-07 19:29] octref commented on #15017
CC @dbaeumer

Think you might be interested as this is assigned to you.

[2016-11-07 19:37] Tyriar commented on #15100
https://github.com/sourcelair/xterm.js/issues/318 is actually the wrong issue, that's just related to selection which line updates are happening. The progress bar issue is in pty.js, I've enabled issues on the repo and made an upstream issue for it https://github.com/Tyriar/pty.js/issues/2

[2016-11-07 19:40] Tyriar commented on #13625
I've enabled issues on Tyriar/pty.js so I can better organize the issues.

[2016-11-07 19:47] eedahl commented on #15073
@alexandrudima @bpasero In case anyone else reports this issue, it seems it was caused by Slack at Windows startup!

[2016-11-07 19:47] FirePho commented on #14505
Versions 1.5.* work perfectly.

The barebones Electron work too.
![image](https://cloud.githubusercontent.com/assets/1927599/20071848/3381cc1e-a537-11e6-80ed-2a3eaad99c31.png)

I tried to change "electronVersion" in package.json and for versions 1.2.0 - 1.4.5 I receive error from previous message. For versions < 1.2.0 behavior as shown on screenshot

![image](https://cloud.githubusercontent.com/as

[2016-11-07 19:50] soncodi opened #15122 "Side-by-Side diff - collapse missing lines, maintain vertical alignment"
When viewing changes with side-by-side diffs enabled, it would be nice if vertical white-space were collapsed. In addition, the editor should keep one pane fixed while the other scrolls to maintain vertical code alignment. For example:

VS Code:
![diff-vs](https://cloud.githubusercontent.com/assets/232225/20073190/d92a0718-a4f0-11e6-81dd-d1dc97e9765b.png)

p4merge:
![diff-p4](https://cloud.githubu

[2016-11-07 19:51] dotchev commented on #15047
I could not reproduce it. Probably some temporary issue.

[2016-11-07 19:51] #15047 closed

[2016-11-07 19:55] bgashler1 commented on #15104
While I wouldn't use this feature, I'm not personally opposed to it being available behind a setting if a lot of the work for it is already done and if some might benefit from it.  If we do this, we would want to differentiate breakpoints from errors like VS does, as pictured above. @isidorn I'm not sure what our version of this looked like a year ago—maybe it didn't do that, and for that reason t

[2016-11-07 19:58] crnastena commented on #10279
I am not sure that is what the issue is about. I think the ticket is about integrated-terminal not seeing properly installed bash.exe. When intergrated-terminal is open in C:\Windows\System32 folder, and I type dir bash.exe it reports that such file is not found, whereas if I do this from regular command prompt it lists the file. It's like vscode is blocking some exes that are in system32 folder,

[2016-11-07 19:59] franciscocpg opened #15123 "Unexpected js code format behaviour"
- VSCode Version: 1.7.1
- OS Version:
[code]

Steps to Reproduce:

1. Create a file called test.js
2. Past this code `return <span>{amount} fixes</span>;`
3. Press `Ctrl+Shift+I` to format the code.

Then we have `return <span>{amount}fixes</span>;` (the white space between `{amount}` and `fixes` was removed). Why?

[2016-11-07 20:00] drweb86 commented on #14979
alexandrudima,

Thanks. I didn't know that you have take into account sooo much considerations behind the scene.  Also i thought you're coding it in wpf but as i see now IDE is most probably written in javascript itself.

[2016-11-07 20:01] WardDurossette commented on #15018
Sure, here you go.  The annoying part is the output window covering the part of the file I was editing, and it seems like every keystroke, or every second this error is regenerated.

There is workaround for this - you can slide the output window down.  Closing the output window is not effective, as the next error opens it back up over your code.

Also, actual error text is:
[Error - 1:54:00 PM] Re

[2016-11-07 20:06] devrelm commented on #15097
Actually, I solved this for my case: The file is not reached/included from either of the files listed in the `"files"` array. I fixed it by adding `"include"` and `"exclude"` with globs of files to be included.

We generally build using a custom script, so our tsconfig hasn't been kept up to date.

[2016-11-07 20:07] eedahl opened #15124 "Cannot execute git"
- VSCode Version: 1.7.1
- OS Version: Windows 10

Attempting to use the integrated git interface. Here's a screenshot of my developer console
https://gyazo.com/3616bfe6b0ce0d45f0d6223805ca53a6
The path looks wrong, but I can't configure it.

[2016-11-07 20:08] whitecolor commented on #15100
@Tyriar ah then I probably had more complex deps set and count while Linking dependencies was not 3 thousand but 90. So there definitely difference is seen.

[2016-11-07 20:09] atombender commented on #14777
@alexandrudima Thoughts?  It looks like VSCode has its own Ruby syntax built in. I don't know this plist format, so I'm not sure if the above issue is a weakness in that file.

[2016-11-07 20:16] lvasilev1 commented on #15114
Looks like php.exe was on the windows search PATH all along:

![image](https://cloud.githubusercontent.com/assets/16479217/20074147/a696f49c-a4f4-11e6-99dd-9ce6afffc10a.png)

I tried what you suggested, i.e. setting the configuration parameter to **null** and still getting the same warning.

[2016-11-07 20:18] biker-linz commented on #15108
I am not familiar with profiling, but have attached some output that might help??
![profile_output](https://cloud.githubusercontent.com/assets/6288586/20074215/40ce3868-a527-11e6-8896-184dfb6f7e58.PNG)
![profile_output2](https://cloud.githubusercontent.com/assets/6288586/20074214/40cd665e-a527-11e6-94b7-746b596de17b.PNG)

Thanks for your help Ben, much appreciated.

[2016-11-07 20:31] tehstun commented on #15036
@gandhis1  True, but because there is a extension, I doubt it will ever be a built-in function.

[2016-11-07 20:36] huttarichard commented on #15109
Ok I just figure this out.... It is because the file `routes.tsx` wasn't in tsconfig.json files property. what a fool I am...

[2016-11-07 20:36] #15109 closed

[2016-11-07 20:41] polygotdev commented on #15114
It may be a case of some local settings default in the workspace overwriting global settings.

Here are the steps I've take to validate vscode making use of the php linter using default search path:

1. Created a blank empty folder
2. open up a command prompt inside that new empty folder
3. set the PATH variable to temporarily include the php interpreter as it is not SET globally in the ENV.
3. ty

[2016-11-07 20:47] Tyriar commented on #10279
On the folders, first I think `bash.exe` is in `Windows\sysnative` which points to `Windows\syswow64` on 64-bit machines, that may be the reason you're not seeing it in `System32`.

On wanted `bash` to launch the bash on WSL, it's not as easy as just handling `bash` separately. The way the terminal works is that the backing shell received the keystrokes; b, then a, then s, then h, then enter. This

[2016-11-07 20:52] jtlowe commented on #15098
Could this feature be wrapped up in an extension instead? This could give more flexibility to customize the color of the titlebar.

[2016-11-07 20:52] whitecolor commented on #12441
Seem to have the same issue in the project, seem ts server doesn't work properly or something.
![image](https://cloud.githubusercontent.com/assets/736697/20075294/762e9b1e-a555-11e6-85a2-2664a33d974d.png)

Using 2.1.0-dev201651105

How can I debug it, maybe get more informative output from the console?

[2016-11-07 20:58] Tyriar commented on #15103
Do you mean that running `exit` inside the terminal to close a terminal instance does not focus the next instance, unlike the other ways terminals are focused (bin button, focus, etc.)?

[2016-11-07 21:00] joaomoreno commented on #15101
Does it reproduce after restarting?

[2016-11-07 21:00] bpaczkowski opened #15125 "Can't find in selection when selection is a single line"
- VSCode Version: both 1.7.1 and 1.8.0-insider
- OS Version: Windows 10

Steps to Reproduce:

1. Select part of text within a single line.
2. Find in selection is greyed out and cannot be clicked.

[2016-11-07 21:01] gandhis1 commented on #15036
Not true...icons were an extension before they became built-in. The decision of extension vs. core should be made on the basis of what type of feature it is, I.e. fundamental vs optional. Showing the size of a selection seems fundamental to me.

[2016-11-07 21:07] tehstun commented on #15036
Well if we are working on that basis, I would of went back to atom if there was not this plugin, this feature is just too nice and handy sometimes when I like to follow some programming rules 👍

[2016-11-07 21:27] felixfbecker commented on #13370
Btw this also affects relative paths:

![image](https://cloud.githubusercontent.com/assets/10532611/20076546/1975b126-a539-11e6-8f89-6a0a9260bb7d.png)

I would consider this more of a bug than a feature request, as it works correctly on the other OS. This is really slowing down productivity, please please consider this for the next iteration. I imagine it is just a wrong regexp somewhere.

[2016-11-07 21:28] Jakobud commented on #10583
slightly off topic. I'm a bit of a noob on this subject I guess, but what does the <T> mean?

[2016-11-07 21:30] arthurlockman opened #15126 "Background color highlighting drawn incorrectly"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:46:00.226Z)
- OS Version: Darwin x64 16.1.0
- Extensions:

|Extension|Author|Version|
|---|---|---|

![screen shot 2016-11-07 at 16 27 27](https://cloud.githubusercontent.com/assets/158981/20076608/1d6556f6-a507-11e6-9dd6-e1b5283c7afb.png)

---

Background color highlighting in the editor is broken in dark themes

[2016-11-07 21:32] felixfbecker commented on #14166
I would like to remove the `<?php` in the next release of PHPLS because all other clients work correctly here. Is there an approximate ETA for a fix in VS Code? Is it worth to hold back so users don't use highlighting in VS Code?

[2016-11-07 21:47] lyudmilpetrov opened #15127 "Suggestion"
Great job - suggestion, add commenting in/out line/s.It should be easy copy, refactoring and paste from visual studio

[2016-11-07 21:49] steve-ross commented on #9594
FWIW if you also have a .vscode/settings.json  it still complains...
[code]

[2016-11-07 22:04] Tyriar opened #15129 "Don't backup text file when auto save is enabled"
Currently there is no conditional for this so backups are taken even when auto save is enabled.

[2016-11-07 22:06] Tyriar opened #15130 "Cannot exit empty workspace windows on Windows when hot exit is enabled"
May not be Windows-specific.

Steps to Reproduce:

1.  Open an empty workspace
2.  Try exit

![image](https://cloud.githubusercontent.com/assets/2193314/20077934/52f66fd0-a4f3-11e6-95c5-209ef905f2ba.png)

[2016-11-07 22:09] octref commented on #15130
Not really Win specific, I can repro on Mac:

![image](https://cloud.githubusercontent.com/assets/4033249/20078028/be43675c-a4f3-11e6-82c7-ceb706c2e2e2.png)

[2016-11-07 22:11] chrmarti opened #15131 "Not all windows restored after File -> Exit"
- VSCode Version: Code - Insiders 1.8.0-insider (c2418f46d20464a893dc5db6449e9d79766eadc4, 2016-11-07T21:40:57.134Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-eslint|dbaeumer|1.0.7|
|python|donjayamanne|0.5.0|
|tslint|eg2|0.5.39|

---

Steps to Reproduce:

1. Open two windows on folders
2. File -> Exit
3. Start: Only one window is rest

[2016-11-07 22:14] bowdenk7 commented on #15004
Yes and no... the way we do commonJS module resolution is by looking explicitly for `module.exports` or `exports` and then resolving modules using those objects. When those objects are aliased, currently we don't do any analysis to find and use the aliases. Is there a reason you prefer this approach as opposed to using `exports` or `module.exports`?

The second case from @klinquist looks like a bu

[2016-11-07 22:17] octref opened #15132 "Hot-exit should focus on previously focused file on restart"
- VSCode Version: c2418f46d20464a893dc5db6449e9d79766eadc4
- OS Version: macOS 10.11.6

![hot](https://cloud.githubusercontent.com/assets/4033249/20078290/c36be276-a4f4-11e6-943c-19f5caf9d9d5.gif)

[2016-11-07 22:18] rebornix commented on #15130
Even if you have `hotExit` set as false, you can still run into this issue.

[2016-11-07 22:22] Tyriar commented on #15131
Did both windows have dirty files? The way this is meant to work is that the restore logic for the `"window.reopenFolders"` setting is determined (all, none, one) and then workspaces with backups associated with them are restored in addition to them.

So if you had workspaces a and b and only b had dirty files:

- If you triggered file > exit on b, then only b would be restored
- If you triggered

[2016-11-07 22:23] chrmarti opened #15133 "Remember cursor positions and opened editors on hot exit"
- VSCode Version: Code - Insiders 1.8.0-insider (c2418f46d20464a893dc5db6449e9d79766eadc4, 2016-11-07T21:40:57.134Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-eslint|dbaeumer|1.0.7|
|python|donjayamanne|0.5.0|
|tslint|eg2|0.5.39|

---

Steps to Reproduce:

1. Type something in an editor
2. Add a second editor side-by-side
3. Terminate

[2016-11-07 22:24] Tyriar commented on #15132
Root cause in https://github.com/Microsoft/vscode/issues/14116

[2016-11-07 22:24] #15132 closed

[2016-11-07 22:26] Tyriar commented on #15130
@rebornix yes that's expected as most of the backup logic still occurs when hot exit is on or off in order to support crash recovery. This issue is related to the recent change to enable multiple window restore not properly supporting the case when there is no current workspace.

[2016-11-07 22:29] chrmarti commented on #15133
Also: Currently focused editor tab is lost.

[2016-11-07 22:33] Tyriar opened #15134 "Hot exit on Mac currently allows closing the final single window"
/cc @rebornix

It should only allow hot exit when you close all windows (cmd+q), not with the red cross in the corner. This  is related to the commit that enabled multiple-window restore.

[2016-11-07 22:33] chrmarti opened #15135 "Remember undo history on hot-exit"
This will make restarts/crashes more and more seamless.

[2016-11-07 22:34] rebornix commented on #15134
`Reload Window` works fine so it's only Mac's red close button.

[2016-11-07 22:34] Tyriar commented on #15133
@chrmarti focus and cursor position is expected if you had an untitled file focused due to https://github.com/Microsoft/vscode/issues/14116. I'm not sure if cursor position restore works for text files or not.

[2016-11-07 22:36] Tyriar commented on #15135
:+1: would definitely be useful, currently the hot exit code doesn't touch this stuff yet so not sure how much effort it would take to persist the undo stacks.

[2016-11-07 22:43] #15134 closed

[2016-11-07 22:45] chrmarti opened #15136 "Closing the last window behaves inconsistently (hot-exit)"
I think closing the last window should behave the same as closing a second-to-last window. Either they both preserve dirty editor states or both ask whether the dirty states should be saved or discarded.

Having mixed behavior is bound to confuse the user. (Same goes for exiting the app when there are multiple windows.)

Maybe there should be a setting for "preserve dirty editor state on close/exi

[2016-11-07 22:48] Tyriar opened #15137 "Close folder does not clear the backup workspace path"
Steps to Reproduce:

1. Open VS Code on a path
2. Close the folder
3. Check `<userdatadir>/Backups/workspaces.json`, the path that was closed should have been removed in step 2. This will cause unexpected window restores.

[2016-11-07 22:49] #15130 closed

[2016-11-07 22:50] dvlsg commented on #12109
This change definitely threw me off, since I am used to selecting multiple lines, pressing ctrl+f, searching, pressing shift+enter, then typing my replacements intended for the current selection.

Now that "find in selection" is no longer enabled by default when multiple lines are selected, I have to take my hands off the keyboard to go click that button, usually after I realize I just replaced *w

[2016-11-07 22:53] octref opened #15138 "Hot exit took Untitled-2 as Untitled-1"
- VSCode Version: c2418f46d20464a893dc5db6449e9d79766eadc4
- OS Version: macOS 10.11.6

![bug](https://cloud.githubusercontent.com/assets/4033249/20079410/63546b9c-a4f9-11e6-9507-7c23dfc7572d.gif)

[2016-11-07 22:55] bgashler1 commented on #12109
@dvlsg I don't think we have a setting for this.  Could you create another issue requesting this (also reference this issue number in it)?

[2016-11-07 23:02] Tyriar commented on #15136
Closing this as designed for now but going to be tracking feedback on this when it goes out. It would be possible to have an option that essentially removed the confirm dialog for all windows and in order to restore backups there you would need to either:

a. open that folder explicitly
b. close all windows and relaunch vscode

My main issues are that it doesn't align with Sublime's behavior, it "

[2016-11-07 23:02] #15136 closed

[2016-11-07 23:05] Bill-Stewart commented on #12109
My opinion: "Find in selection" should be enabled by default if there is _any_ selection at all (multi-line or not). If "find in selection" is enabled by default only for certain kinds of selections, this seems arbitrary and inconsistent. For users that don't like "find in selection" to be enabled by default when there is a selection, it makes sense to have an option to disable it.

[2016-11-07 23:09] Tyriar commented on #15138
This should be fixed by https://github.com/Microsoft/vscode/issues/14067#issuecomment-255542395

[2016-11-07 23:09] #15138 closed

[2016-11-07 23:13] rebornix opened #15139 "`edit.delete` will move the cursor to the beginning of the line"
- VSCode Version:
- OS Version:

`edit.delete` will move the cursor to the beginning of the line. As we hijacked Backspace in Vim ext so currently in Insiders build, Backspace is not usable.

A simple extension to demonstrate this issue is as below

[code]

You can input `abcdef` and then run this command and you can see that cursor is put at the beginning of the line after it's executed.

[2016-11-07 23:19] chrmarti commented on #15131
You're right, this is quite confusing. Can we make `"window.reopenFolders": "all"` the default?

[2016-11-07 23:21] chrmarti commented on #15133
It does work if you exit the workbench regularly. I was simulating a crash by terminating the task from the task manager.

[2016-11-07 23:21] Tyriar commented on #15131
Maybe `"window.reopenFolders": "all"` should be implied if hot exit is enabled? /cc @bpasero

[2016-11-07 23:29] dvlsg commented on #12109
@bgashler1 I actually ran across #8843 after posting -- it's not quite the same, but that issue / request would be sufficient for me. I'm really just looking for a way to fire up the find-in-selection using just my keyboard.

If you think there might be sufficient desire for the explicit setting on top of the direct shortcut, I certainly can take the time to create an issue request for that.

[2016-11-07 23:32] whitecolor commented on #12463
Can it be achieved? I've got problem with VSCode because it tries to use tsconfig files from subdirectories and that causes tsserver to restart.

[2016-11-07 23:43] Gheoan commented on #9764
`vscode`'s behavior is still different to `emmet`.

`emmet`:
- in a html file have a multiple lines with content 'div'. Set multiple cursors after each div. Press tab.
=> all divs are expanded

`vscode`:
- `"editor.tabCompletion": false`
- no html snipped with `div` prefix
- in a html file have a multiple lines with content 'div'. Set multiple cursors after each div. Press tab.
=> tab character is

[2016-11-07 23:53] alessandrod commented on #11663
Oh that's true, I had missed that.

I like this, I'll give it a go.

[2016-11-07 23:57] onewhitey commented on #14109
@alexandrudima Thanks for the reply.  It could very well be a virus scan that occurs due to our strict working environment.  However, it is installed to the same area as Notepad++, which is very fast.
I might try starting VSCode on my home machine, which I have more control over to see if there is a delay in starting.

[2016-11-07 23:57] bgashler1 commented on #8843
@tbfleming what if we instead had a setting that, if enabled, would always find within a selection by default?  That way you can still use the same keyboard shortcut you use today for Find/Replace.

[2016-11-08 00:01] bgashler1 commented on #12109
@Bill-Stewart we needed to remove the default find in selection behavior due to it being easy to misunderstand what was going on when no results were showing up.

Two solutions we will consider  are adding a setting to enable finding within selections by default or a new command as proposed in #8843 that you could rebind the keyboard shortcut for Find/Replace to.

[2016-11-08 00:03] #12835 closed

[2016-11-08 00:03] bgashler1 commented on #8843
See https://github.com/Microsoft/vscode/issues/12109#issuecomment-259003638 for background on why we changed the default behavior of Find/Replace to not be scoped by default to a selection.

[2016-11-08 00:18] dayer3 commented on #14984
@alexandrudima you're welcome

I've follow your steps with the <kbd>ç</kbd> key.

### 1. Find out the key code "behind" that key
- Chromium: 53.0.2785.143
- `keyCode` in the `keydown` column: 191

![ç in Chromium](https://cloud.githubusercontent.com/assets/243047/20081322/3b1ebfe6-a54f-11e6-924d-6ceabae6caff.png)

### 2. Find out if there's something weird about Chromium
- Firefox: 49.0
- `keyCode

[2016-11-08 00:43] colebrew commented on #15126
To add to the repro steps: on my late 2013 MacBook Retina, these off-color background rectangles appear when vscode is displayed on an external monitor, but not on the native retina screen. Also, I found that this happens in certain size configurations -- resizing the panes can cause the rectangles to disappear.

@arthurlockman can you comment on your display setup?

[2016-11-08 00:47] tbfleming commented on #8843
As long as there's an easy way for me to switch between find selected and find in selected (e.g. whether it's multiline or not), then a setting will be nice.

[2016-11-08 00:48] dayer3 commented on #14984
My test with the <kbd>ç</kbd> key in MS Windows 10 Home x64 (at the same machine).

In Windows the Command palette agrees with shortcuts behaviour:

![code win](https://cloud.githubusercontent.com/assets/243047/20081912/cdf8833a-a552-11e6-9c27-a4ce60d289c5.png)

### 1. Find out the key code "behind" that key
- Chrome: 54.0.2840.71
- `keyCode` in the `keydown` column: 191

![ç in chrome win](https:

[2016-11-08 01:33] zhcm commented on #15099
it would be great to get it over the Windows Store!Especially in China!

[2016-11-08 02:04] kanlidy opened #15140 "How to use multi-line in Custom Snippets body part?"
- VSCode Version: 1.7.1
- OS Version: window 10

Steps to Reproduce:

When I add some custom snippets into my *.json file, it's very inconvenient to use `""` in each line, is there any ways like use "`multi-line codes`" there?

[2016-11-08 02:06] natsu-k opened #15141 "Warning "Invalid abbreviation" in "Jade" Language Mode"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 6.3.9600
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.0.16|
|npm-intellisense|christian-kohler|0.1.3|
|jquerysnippets|donjayamanne|0.0.1|
|live-html-previewer|hdg|0.0.1|
|vscode-jade-snippets|mrmlnc|1.0.1|
|ejs-language-support|QassimF

[2016-11-08 02:27] mylowillem commented on #8843
The change to the default behavior is extremely annoying. Find in selection by default is what users from a Visual Studio / Windows background expect. I suspect users with an OSX background prefer it to be off by default.  Please add a setting for this, and I recommend turning find in selection on by default on Windows and off by default for OSX.

[2016-11-08 03:01] dilijev commented on #14884
@joaomoreno no proxy

[2016-11-08 03:04] dilijev commented on #7935
@bpasero DND adds files to Recent in Notepad++ at least. So there's at least one precedent. For some reason, I use the recent files list a lot in Notepad++, and it has always felt extremely natural to me.

[2016-11-08 03:11] #15137 closed

[2016-11-08 03:11] dilijev commented on #1105
@nikhildaga You can change the visibility of the bottom bar by going to View > Show/Hide Status Bar or by setting `"workbench.statusBar.visible": false`

[2016-11-08 03:24] colemickens opened #15142 "Assign a quit command from Ctrl+Q or Ctrl+Shift+Q"
VSCode Version:
[code]

**OS Version:** Arch Linux (w/ testing repo, up to date as of this very second)

**Steps to Reproduce:**
1. Press `Ctrl-Q` or `Ctrl-Shift-Q`

**Expected**: VS Code exits.

**Actual**: VS Code does not exit.

I tried to peak around. The other relevant open issue seemed to be more related to editor-specific keyboard shortcuts whereas this seems like an OS-integration issue.

[2016-11-08 04:11] arthurlockman commented on #15126
@colebrew Sure. I'm not using a retina display. I have 2 24" 1080P monitors hooked up to a Mac Pro. Resizing the panes doesn't make them go away for me, they're always there unless I set the theme to a theme that's all white.

[2016-11-08 05:03] dantmnf commented on #14794
@alexandrudima Unfortunately I didn't save the original text. I copied again from Wikipedia and it triggers the same issue in the same version.
[code]

In addition, the following text should also trigger this issue when wrapped on Chinese part.
[code]

[2016-11-08 05:51] bpasero commented on #12637
We cannot until Electron has updated to Chrome 54 which they only just started..

[2016-11-08 05:54] bpasero commented on #15098
We are not planning to give extensions a way to put stuff there. The main reason is that this feature is not available on Linux and Windows at the moment.

[2016-11-08 05:55] bpasero commented on #15131
I do not see how hot exit and restoring all folders are related? We already restore multiple windows if they contain dirty files, no?

[2016-11-08 06:00] bpasero commented on #15108
@biker-linz this is great, I think you nailed it with that screen shot. All of the time is spend spawning processes and we have many to spawn. In the sceenshot I can see:
* the file watcher
* the git service
* the crash reporter

Now I wonder why spawning processes is so slow on your system. Are you running any anti virus / security software on this system or is there any other protection mechanis

[2016-11-08 06:13] saurabhnachankar opened #15143 "Incorrect intelligence and problem refreshing the error after correction"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|net-core-project-manager|ksubedi|0.3.6|
|csharp|ms-vscode|1.4.1|

---

Steps to Reproduce:

1. Intelligence should be improved in Visual Studio Code. Proper suggestion are not specified in the intelligenc

[2016-11-08 06:26] #15052 closed

[2016-11-08 06:34] bpasero commented on #15052
Thanks to some help from Electron, I was able to come up with a fix. The trick is to respect the choice of removed items in the jump list and not add them again, otherwise Windows will not show any entry in there.

@DanJ210 thanks for pushing on this issue, I think the behaviour now is really good.

[2016-11-08 06:34] bpasero commented on #15052
To verify:
* on Windows open some folders
* verify you see them in the "Recent Folders" list
* remove some entries from the list using right click
* verify the entries are gone
* verify the entries are still gone after a restart but other folders still show up

[2016-11-08 06:51] joaomoreno commented on #15009
cc @egamma @chrisdias @waderyan @dbaeumer

[2016-11-08 06:53] joaomoreno commented on #6704
I don't think that is possible. The contents of the widget come from TypeScript, though, so you'd have to request that in https://github.com/Microsoft/vscode-typescript

[2016-11-08 07:00] Nikki1993 commented on #12629
Any news on this one? Kinda a deal breaker when you code with Angular on a daily basis :(

[2016-11-08 07:02] dbw9580 opened #15144 "Unable to update extensions: "Command 'Extensions: Update All Extensions' is not enabled in the current context.""
- VSCode Version: 1.7.1
- OS Version: Windows 10 14393

I was unable to update any of my extensions after I updated to 1.7.1. Trying to execute "ext update" from the command palette I was prompted with "Command 'Extensions: Update All Extensions' is not enabled in the current context." And the command in contextual menu was grey and not clickable.
Googled the error message but there seems to be  n

[2016-11-08 07:10] vamichael opened #15145 "Formatting code"
- VSCode Version:1.7.1
- OS Version: Windows 10

Steps to Reproduce:

1.  When opening up files like XML or C#, the code is highlighted nicely, but there is no way to format the code.  Other types, like JS files allow me to to do a **format document** or **format selection**.  What is the secret to allowing me to format other file types?

[2016-11-08 07:25] BirdLeeSCUT opened #15146 "IntelliSense completion list is inaccurate"
- VSCode Version: 1.7.1
- OS Version: Windows 10 x64

Vscode fails to display IntelliSense of object`s property when the object's property name is more than one character. In the case when I use type define  as below.

Steps to Reproduce:

First, in index.d.ts, I define a function called test
[code]

Then, I use `test` function  in action.js.
I pass a object with one-character and multi-character

[2016-11-08 07:34] clepet opened #15147 "Debug Toolbar invisible, Shortcuts for debugging not working"
- VSCode Version: 1.7.1
- OS Version: Kubuntu 16.04.1 LTS

Since I updated my VSCode to 1.7.1 yesterday my debugging process is kinda buggy. Everytime I run (not debug!, Ctrl+F5) my application, the application is run but I don't see the debug toolbar. Besides that I also can't use my debug hotkeys to start/stop the application. What's weird about this is that as soon as I type anything into my de

[2016-11-08 07:38] mysticatea opened #15148 "Feature Request: `auto_find_in_selection` option"
On 12 Jul, I opened issue #9120 because VSCode got the behavior that `find in selection` is **off** by default if I press `ctrl+F` with a multiline selection. Then it was fixed soon at that time.
But now, VSCode got the behavior again in v1.7.1 because of #12109.

I prefer that `find in selection` is **on** by default if I press `ctrl+F` with a multiline selection.
I know some IDE/editors are beha

[2016-11-08 07:44] Tyriar commented on #15131
I believe File > Exit will only restore windows that were dirty unless `"window.reopenFolders": "all"`.

[2016-11-08 07:47] joaomoreno commented on #14884
Does it happen if you read a Markdown file preview for multiple minutes too?

[2016-11-08 07:52] joaomoreno commented on #14505
Does it also happen when running straight from the archive release, without installing? https://vscode-update.azurewebsites.net/latest/win32-archive/stable

[2016-11-08 08:01] bpasero commented on #15131
Yes, and that is how I would expect it to work.

[2016-11-08 08:02] FirePho commented on #14505
Nothing happens, as well as the version 1.6

[2016-11-08 08:04] ChuckJonas commented on #8886
is it at least possible to get the model information for all open editors?  I have a use-case where I need to get the file path of all open tabs/editors.

[2016-11-08 08:05] kaiwood commented on #15103
@Tyriar Correct. If I use the bin button everything works as expected, the previous terminal instance gets selected, I can type and the shortcuts work. When using either `exit` or `ctrl-d` (The escape character for EOF, not a shortcut set in VSCode) the focus gets completely lost - no typing and the focus is somewhere in the editor pane.

What I'm doing in the GIF',s is switching terminals with th

[2016-11-08 08:17] discomarra commented on #15105
@bpasero after running vscode without extensions the issue is gone, but unlike in @wUFr's case, running it again with extensions doesn't fix the issue.
I proceeded with turning off each extension and I found the culprit (in my case at least):  "HTML CSS Class Completion". When this one is turned off, everything works fine.

I will report this issue to the extension's repo.

Thanks for your help.

[2016-11-08 08:17] #15105 closed

[2016-11-08 08:20] joaomoreno commented on #14505
And if you start `Code.exe`, from the archive, from the Command Line?

[2016-11-08 08:24] joaomoreno opened #15149 "Bad message service positioning in full screen, with custom title bar"
This happens still in 44901c208cf8a3bdaa22762937d223dd9c30310a

![image](https://cloud.githubusercontent.com/assets/22350/20091818/1f254026-a595-11e6-83d5-1bfd14e414d8.png)

[2016-11-08 08:25] FirePho commented on #14505
I did so,
![image](https://cloud.githubusercontent.com/assets/1927599/20091851/ff49e926-a5a5-11e6-8833-5e10403208fa.png)

[2016-11-08 08:26] acetrand commented on #15107
I tried checking out my repo in another folder and now the issue seems to have resolved.

Perhaps it was something with file permissions that was incorrect. I tried to see if there were some obvious problems with permissions but couldn't find any. I also tried starting Code as administrator but that didn't help either.

Anyway, I can't recreate this issue anymore so from my side we can close this

[2016-11-08 08:26] #15107 closed

[2016-11-08 08:35] mousetraps commented on #14166
@felixfbecker started looking into this. Quick question, regarding your second bullet point - just to confirm - are you actually getting syntax highlighting for php blocks in the markdown editor (not preview)? Because even when I add `<?php`, preview properly renders, but the editor does not.

![image](https://cloud.githubusercontent.com/assets/762848/20092104/1e29b5c0-a54b-11e6-90a3-74cd3af8cfd2.

[2016-11-08 08:35] Coder-ZJQ opened #15150 "Install 'React Native Tools' extension of version 0.2.2, but the status keeps in 'installing'."
- VSCode Version:1.7.1
- OS Version:10.12.1
- React Native Tools Version:0.2.2

Steps to Reproduce:

1. I have tried to install the 'React Native Tools' extension of version 0.2.2, but the status always keeps in 'installing'.
2. But I tried with other extensions, they could install successfully.
3. Or where can I download the `vsmobile.vscode-react-native-0.2.2.zip` file to copy it to the path of

[2016-11-08 08:36] MrCroft commented on #818
This and a more advanced git integration (like webstorm provides) are the only 2 reasons to why I still use WebStorm instead of VScode. Not sue which one would be more important than the other... I guess this automatic import issue, even if not by much.

[2016-11-08 08:44] isidorn opened #15151 "Switching breakpoint condition should preserve the condition in breakpoint widget"
Originaly from @rkeithhill

[2016-11-08 08:44] isidorn commented on #14369
@rkeithhill got it -> for that I have created the issue https://github.com/Microsoft/vscode/issues/15151

[2016-11-08 08:46] ashleybrener commented on #6301
+1 complaint

[2016-11-08 08:46] jrieken commented on #8886
@ChuckJonas Yes - there is [`window.visibleEditors`](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L3385) which allows you iterate over all editors including their documents.

Also FYI everyone, we have added [`onDidChangeVisibleTextEditors`](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L3398) which fires whenever the list of active editors changes

[2016-11-08 08:53] aeschli commented on #14877
@sandy081 Maybe we can use the extension name?

https://github.com/Microsoft/vscode/blob/master/src/vs/platform/configuration/common/configurationRegistry.ts#L135 is the place for that