[2019-09-03 14:18] #80224 closed

[2019-09-03 14:20] weinand commented on #80219
You can determine the evaluation order by rearranging the lines in the launch config. Is it really necessary to introduce a special syntax for this?

[2019-09-03 14:24] isidorn commented on #80105
Thanks for trying it out. Yes, only that setting is need. I still can not reproduce this.
The only thing we can do is if you debug on your machine, so
F1 > developer tools > Source > put a breakpoints [here](https://github.com/Microsoft/vscode/blob/a5a8a28953e4efe0e05b1410ed1fc90e1ce92d77/src/vs/workbench/contrib/debug/browser/debugStatus.ts#L31)
Reload the window and try to figre out why it is no

[2019-09-03 14:24] weinand commented on #80176
And VS Code's Python tutorial didn't help either?
https://code.visualstudio.com/docs/python/python-tutorial

[2019-09-03 14:25] isidorn commented on #80266
Thanks for opening this feature request.
Currently we do not have plans to tackle this thus assigning to the backlog, however we might revisit this in the future. Thanks!

[2019-09-03 14:39] #80003 closed

[2019-09-03 14:39] isidorn commented on #80003
@misolori I have polished the hover message in the breakpoints view.
Check it out and let me know what you think about it. Thanks

[2019-09-03 14:42] octref commented on #80073
Initially I felt this is like a "global variable". If you set user level setting it could affect you negatively.

For example, you can set up custom data so `<foo>` HTML tag and `foo` CSS property always show up in auto completion, but they wouldn't work unless you have the preprocessor (postcss, webcomponent libraries, etc) to compile them down to normal HTML/CSS. As the preprocessors are usually

[2019-09-03 14:42] #80073 closed

[2019-09-03 14:52] #79687 closed

[2019-09-03 14:53] annoying258 commented on #79639
even the ones bundled with vs code?

-----

wait, `SIGTRAP` is generated for reloading window? thought it would be when launching a debug session. and what is the signal for a debug session?

---

 well, to be sure will need more info as to why this is happening.

[2019-09-03 14:57] joaomoreno commented on #80098
Repro:

1. Open two folders in multiworkspace: `vscode` and `vscode-docs`
2. Disable `explorer.autoReveal`
3. Recursively collapse all folders in explorer
4. Open `asyncDataTree.ts`
5. Reload
6. Run `File: Reveal Active File in Side Bar`

I was able to write a test which catches this. Now for the fix...

[2019-09-03 14:59] anatolyburakov opened #80267 "Debug with arguments without launch.json"
VSCode already supports debugging with arguments via launch.sjon, however this is geared towards spending a lot of time debugging one particular configuration. This is very inflexible for script or tool debugging scenarios, where there is frequently a need to quick test various different command-line parameters, and adding them all into launch.json is cumbersome.

There is already an extension tha

[2019-09-03 15:05] valentjn opened #80268 "Extension activationEvent onLanguage:plaintext always fires, even if no plaintext files are open or a non-plaintext file is opened"
Issue Type: <b>Bug</b>

## Version info:
[code]

## Steps to reproduce:
1. Download Minimal Hello World Sample extension from https://github.com/microsoft/vscode-extension-samples/tree/master/helloworld-minimal-sample to `~/.vscode/extensions/helloworld-minimal-sample`.
2. Replace the `onCommand:extension.helloWorld` activation event in `~/.vscode/extensions/helloworld-minimal-sample/package.json`

[2019-09-03 15:07] weinand commented on #80156
@dbaeumer after starting the client and opening a plain text file I can successfully attach to "Server 6011" but not to the other servers.
What is the expected behavior?
The Readme doesn't mention anything related to multiple servers.

[2019-09-03 15:09] dbaeumer commented on #80146
This got fixed in the LSP libraries lately. I think it got introduced when @alexandrudima added asar support to the extension host and removed the env when starting it. Commit is https://github.com/microsoft/vscode-languageserver-node/commit/1e7962e4b6484c66e784af1c9fc343a630872db0

[2019-09-03 15:09] #80146 closed

[2019-09-03 15:12] scabana commented on #80219
If you consider having two variables total then no. If you consider having more than two, not allowing an order parameter is not enough in a case like this one:
[code]
Where command order would require to be:
1. pickDockerContainer
1. pickRemoteProcess
1. pickSomeFolder

But then there's no way to order the json to allow for it.

I do agree it's adding complexity in both the vscode code base and i

[2019-09-03 15:13] dbaeumer commented on #79351
@weeteckt @joaomoreno can comment on whether this is the right string. There is also the possibility to add a comment to a `nls.localize` call to annotate strings to make it more clear were it is used.

[2019-09-03 15:19] dbaeumer commented on #80156
The server is started by counting up the port. The first server gets 6011, the second 6012, ... Code is `let debugOptions = { execArgv: ["--nolazy", `--inspect=${6011 + clients.size}`] };`

Unfortunately the example has a lucnh config that tries to connect to 6010. I will delete that one. @weinand it is OK for me to close.

[2019-09-03 15:28] weinand commented on #80156
@dbaeumer thanks for the clarification.
Assigned issue to you.

[2019-09-03 15:30] mjbvz commented on #80259
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/)?

Also, please share the text of the code along with screenshots

[2019-09-03 15:31] mjbvz commented on #80235
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/)?

[2019-09-03 15:32] octref commented on #80146
@dbaeumer Is there a new version I can adopt?

[2019-09-03 15:33] mjbvz commented on #80186
This feature is powered by the TypeScript project. Please [file a bug report upstream](https://github.com/microsoft/TypeScript/issues/new)

[2019-09-03 15:33] #80186 closed

[2019-09-03 15:33] octref opened #80269 "Suggest `contributes.html` and `contributes.css`"
![image](https://user-images.githubusercontent.com/4033249/64187403-6aa7bb80-ce25-11e9-8633-8c919245b45c.png)

[2019-09-03 15:38] davidsouza commented on #80236
Exact same issue.
<img width="780" alt="Screen Shot 2019-09-03 at 8 35 16 AM" src="https://user-images.githubusercontent.com/1505598/64187880-384a8e00-ce26-11e9-8c48-78190df7199a.png">
<img width="780" alt="Screen Shot 2019-09-03 at 8 35 23 AM" src="https://user-images.githubusercontent.com/1505598/64187881-38e32480-ce26-11e9-8693-612914793ced.png">
<img width="1136" alt="Screen Shot 2019-09-03 at

[2019-09-03 15:39] davidsouza commented on #80236
@bpasero See above, exact same issue.

[2019-09-03 15:40] davidsouza commented on #80236
@weinand See above exact same issue

[2019-09-03 15:41] davidsouza commented on #80236
@thefliik Yeah I have complete deleted the app and removed all VSCode files/preferences and started from scratch. Almost any electron app has issues on Beta 6 or 7. Even Electron-Fiddle app fails to launch.

[2019-09-03 15:46] jalovatt commented on #33110
I just ran into a great real-world example where all of the previous suggestions to use a Diff would be completely useless.

Our app has English and French localization files, and after making a bunch of updates to the English file I'm now working through the French to make the equivalent changes there.

I've got the English file's changes open in one pane so I can see the lines I updated, the Fre

[2019-09-03 15:56] bpasero commented on #80236
@davidsouza can you report this to Electron then: https://github.com/atom/electron

[2019-09-03 16:00] emergy commented on #1435
Definitely, it is necessary as oxygen

[2019-09-03 16:04] BeSpunky commented on #80188
Well, the main ones for me would be JavaScript and TypeScript.

[2019-09-03 16:04] Ash258 opened #80270 "[bash] Variable is not highlighted in heredoc"
Issue Type: <b>Bug</b>

[code]

Variable substitution is supported inside heredoc and variables should be highlighted as in normal string.

![image](https://user-images.githubusercontent.com/13260377/64189738-2cd28380-ce75-11e9-84c7-8c2ae0918d93.png)

![image](https://user-images.githubusercontent.com/13260377/64189631-f1d05000-ce74-11e9-8097-be76e9db044c.png)

Bat output for comparison:

![image]

[2019-09-03 16:09] sguillia commented on #79639
@annoying258

Yes

Didn't knew there were built-in extension, nor that they aren't disabled by "Disable all extensions".

Still reproduces with all extensions and built-in extensions disabled.

I wish there were a "Disable all built-ins" button, this would have saved me 72 manual disabling (ping #52639).

<hr>

`SIGTRAP` is generated when reloading window
`SIGTRAP` is also generated when restartin

[2019-09-03 16:11] davidsouza commented on #80236
Might be an apple bug according to this: https://apple.stackexchange.com/questions/367283/apps-that-are-chromium-or-electron-base-crashes-on-catalina-beta-6-19a536g

[2019-09-03 16:13] aeschli commented on #80173
See https://code.visualstudio.com/docs/languages/html#_intellisense on what code completion features we support. It always needs a `<` first, then can complete the element name, then attribute names and value. When closing the tag with `>` you will get the closing tag.

Then there's another feature called Emmet for fast HTML generation. As @annoying258 writes (thanks!), https://code.visualstudio.c

[2019-09-03 16:13] #80173 closed

[2019-09-03 16:27] khaled212 commented on #80235
I'm have the same issue, I've tried to reinstall it thinking it would work but its still happening.

[2019-09-03 16:38] #79459 closed

[2019-09-03 16:38] #80269 closed

[2019-09-03 16:42] khaled212 opened #80271 "I'm unable to update my project from VSCode to GitHub."
- VSCode Version:
- OS Version:
<img width="1124" alt="Screen Shot 2019-09-03 at 12 42 04 PM" src="https://user-images.githubusercontent.com/54691038/64192262-44dfde00-ce48-11e9-830f-64546a98b4e4.png">

[2019-09-03 16:47] octref commented on #75639
The cop is in place:

![image](https://user-images.githubusercontent.com/4033249/64192565-d42cc780-ce2f-11e9-8caf-595adcc91018.png)

Hopefully no one get caught again!

[2019-09-03 16:48] #75639 closed

[2019-09-03 17:09] misolori commented on #80003
Verified that this works!

[2019-09-03 17:10] octref commented on #73866
That is impossible. The only thing possible is to make it show in the left kind icon. @misolori would that be good enough for you?

![image](https://user-images.githubusercontent.com/4033249/64194009-f96f0500-ce32-11e9-91fc-c982dcea78ae.png)

[2019-09-03 17:13] octref opened #80274 "`-` do not trigger CSS completion"
Expected:

![image](https://user-images.githubusercontent.com/4033249/64194191-5ff42300-ce33-11e9-9a92-ec3552c8ac8e.png)

![image](https://user-images.githubusercontent.com/4033249/64194208-66829a80-ce33-11e9-880d-451466c84ed1.png)

[2019-09-03 17:14] #80274 closed

[2019-09-03 17:15] misolori commented on #73866
It sort of helps, it's better than no indication though so I'll take it.

[2019-09-03 17:18] karrtikr opened #80275 "File not synching between duplicate workspaces"
@momori790 commented on [Thu Aug 29 2019](https://github.com/microsoft/vscode-python/issues/7149)

## Environment data

- VS Code version: 1.37.1
- Extension version (available under the Extensions sidebar): Python: 2019.8.30787
- OS and version: Mac OS Mojave 10.14.5
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.3 Anaconda
- Type of virtual environment used (N/A | venv | vir

[2019-09-03 17:20] adamstortz commented on #79515
I have run with `--disable-extensions`, will that do the disable the bundled extension?

No, they are different versions of the same model (meaning one is a newer hardware revision than the other), running the same version/build of the OS and VSCode

No, I do not have any extensions installed for markdown.

[2019-09-03 17:26] #80271 closed

[2019-09-03 17:53] Tyriar commented on #79063
Had a chat about this in the API call today, the API would probably look something like this:

[code]

However, it's a lot more complicated than initially expected because of how the terminal trims content away from the top. For example:

- If the scrollback setting differs between clients it could cause issues
- Does counting happen from the bottom on the terminal?
- Internally the terminal treat

[2019-09-03 17:53] octref commented on #71996
I made a cheap improvement, which is to disable expansion if the previous character is space or tab. For example `div|` expands, but `div |` doesn't. This makes tabbing on empty lines not that miserable, but a proper fix is still needed for the expansion.

[2019-09-03 17:57] sbatten commented on #79638
@joaomoreno no, idk how this is hooked up normally, maybe someone from the terminal team is familiar with this functionality?

@Tyriar can you cc someone from there if you don't know?

[2019-09-03 17:57] octref commented on #73866
I don't think this can be a possible addition, since we use Markdown in description and there's no standardized way to write color swatch in Markdown.

[2019-09-03 17:59] roblourens commented on #79038
Ok that's a good hint. Now I can repro but it still seems like a prettier issue. Prettier is not registered for this file type. It seems like it might have something to do with the fact that the settings file is not in a workspace, or that it doesn't have a local prettier installed next to it. They will have to investigate.

[2019-09-03 18:01] evangrayk opened #80276 "Comment buttons/actions too far away on a wide screen"
Thread-/comment-level commands and context buttons appear on the far right side of the comment. On a wide screen, this puts the buttons very far away from the context, making it difficult to use / inaccessible. Some kind of max-width or being resizable would be nice.

<img width="1878" alt="comment_api_too_wide" src="https://user-images.githubusercontent.com/1762690/64196814-81f0a400-ce39-11e9-971

[2019-09-03 18:06] #73866 closed

[2019-09-03 18:09] bharney0 opened #80277 "Outline displays "No Symbols found in document" when using filepath in Markdown file"
- VSCode Version: 1.37.1 (user setup)
Commit: f06011ac164ae4dc8e753a3fe7f9549844d15e35
Date: 2019-08-15T16:17:55.855Z
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
- OS Version: Windows_NT x64 10.0.18362

Steps to Reproduce:
1. Create Markdown file with the following content
[code]
2. Notice outline is working.
![image](https://user-images.githubusercontent.com/5

[2019-09-03 18:11] Wqrld opened #80278 "configuring file associations for .ejs give a urierror"
Issue Type: <b>Bug</b>

open a .ejs file
click the plain text in the bottom right
configure file associations

[UriError]: If a URI contains an authority component, then the path component must either be empty or begin with a slash ("/") character

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.17134
Remote OS versi

[2019-09-03 18:11] Wqrld commented on #80278
I'm using SSH, not WSL

[2019-09-03 18:13] Wqrld commented on #79628
Has the latest commit been pushed into vscode yet? I still have this issue with VS Code version: Code 1.37.1 (f06011a, 2019-08-15T16:17:55.855Z)

[2019-09-03 18:13] Wqrld commented on #80278
closing for now, this seems to be related to https://github.com/microsoft/vscode/issues/79628

[2019-09-03 18:13] #80278 closed

[2019-09-03 18:13] joaomoreno commented on #79899
Listen to @isidorn, he last held my character sheet.

[2019-09-03 18:14] pr3tori4n opened #80279 "Git commit is slow."
It takes around 3-5 seconds to finish the commit. One consequence of this, other than being annoying, is I've added a file, committed, and while the commit is processing I've added another file intended to be a separate commit, but the second add finishes before the first commit, and VSCode commits both files with the same commit message. Can be undone but it's a headache and it's evidence of just

[2019-09-03 18:16] #61746 closed

[2019-09-03 18:16] #62416 closed

[2019-09-03 18:19] leegenes commented on #8050
+1 needed to disable this because highlighting all matches of a single character is just too distracting to justify having it on for the useful cases

[2019-09-03 18:36] rebornix commented on #80160
IMO it's how macOS context menu works as what we pass to`accelerator` is `shift+cmd+1`

https://github.com/microsoft/vscode/blob/730f47da21d26733734b9d3d1d361638379d9404/src/vs/workbench/services/contextmenu/electron-browser/contextmenuService.ts#L161-L162

[2019-09-03 18:41] rebornix commented on #79934
I pushed a change to ignore single mouse/touchpad clicking in the *surrounding* area as it will trigger a scroll and then lead to selection. Let's see how it works once we ship Stable and have a Insiders build from master.

[2019-09-03 18:41] #79934 closed

[2019-09-03 18:43] joaomoreno commented on #79459
Thanks for all this @bpasero 👏

[2019-09-03 18:43] joaomoreno commented on #78477
Very cool! 👏

[2019-09-03 18:51] n8crwlr commented on #80105
Hmm, i will post some images:

![image](https://user-images.githubusercontent.com/54250425/64199728-3830a980-ce8b-11e9-910b-d87f3ef857bb.png)

![image](https://user-images.githubusercontent.com/54250425/64199760-4ed70080-ce8b-11e9-89e3-58198288f564.png)

![image](https://user-images.githubusercontent.com/54250425/64199784-61513a00-ce8b-11e9-97e4-3fcfb7dd8d48.png)

[code]

![image](https://user-ima

[2019-09-03 18:51] robertlugg opened #80282 "Open readme.md on "Add folder to workspace...""
I don't believe this is a duplicate.

For just a bit of flash, when I add a folder to the workspace, and if the folder has a readme.md file, open that file.  It's sort of like a title page for the folder.

I'm sure this needs to be on a settings switch.

[2019-09-03 18:54] joaomoreno commented on #80059
Oh I see you are using mingw git, so it's picking up mingw's global config. You need to configure the Windows Git.

[2019-09-03 18:54] #80059 closed

[2019-09-03 18:54] joaomoreno commented on #80250
@usernamehw Care to submit a PR?

[2019-09-03 18:55] dschiller commented on #80200
WIth all extensions disabled it seems not to happen.

[2019-09-03 18:58] Tyriar commented on #77559
@karolfalkiewicz it's fixed in the upcoming version

[2019-09-03 19:04] nhsz commented on #12622
+1

[2019-09-03 19:22] aeschli commented on #79973
dup of https://github.com/microsoft/vscode/issues/3352

[2019-09-03 19:22] #79973 closed

[2019-09-03 19:36] Bakerbakura commented on #27286
I've also been trying to order the files in my explorer window, and having to deal with the fact that the sorting is not actually alphanumeric/lexicographic!
For instance, the file `51_lattices_metric.tex` appears *after* the file `6_modular_forms.tex`, whereas if I change it to `5_1_lattices_metric.tex` it moves *before* the file `5_lattices.tex`; what I'd really like is for the `lattices_metric.

[2019-09-03 19:36] aeschli commented on #79881
@sgtz Can you add a screenshot that shows the terminal?
What I need to know, are you in a remote WSL window or not?

[2019-09-03 19:42] aeschli commented on #78660
What about my suggestion from https://github.com/microsoft/vscode/issues/78660#issuecomment-522893393 ?

It defines a new color that you can use. It defaults to editor.selectionForeground in hight contrast and to transparent for light and dark. That's the same behavior as the VSCode selection foreground.

[2019-09-03 19:49] aeschli commented on #78491
The problem is that 'Open with Code' is set up by the VSCode installer, but remote WSL is only an extension. What you request would mean to bundle WSL with VSCode.

[2019-09-03 19:50] aeschli commented on #79334
I had it in once, but when I tested it, it didn't seem to have any effect.
Maybe that has changed in the meantime.

[2019-09-03 19:52] dbaeumer commented on #80156
Closing the issue. I removed the broken launch config.

[2019-09-03 19:52] #80156 closed

[2019-09-03 19:52] dbaeumer commented on #80146
No, will come out this week.

[2019-09-03 19:57] #80160 closed

[2019-09-03 20:03] MiloshBo commented on #80232
I disabled all extensions, the issue was solved, and then enabled one by one. The one that brought trouble is PlasticAB. After I uninstalled it things are ok again.

[2019-09-03 20:07] jmc5113 commented on #78314
This is cool, but very hard for a user to discover (hence why I'm looking on here). Maybe a drop down when you click on the search box would help. I think it would also be nice to have a few search results shown in the search pane.
![image](https://user-images.githubusercontent.com/24373928/64204975-bd946980-ce4b-11e9-8d36-5275f1c4945d.png)

[2019-09-03 20:19] rramiachraf opened #80283 "File save indicator not showing up"
Issue Type: <b>Bug</b>

It's really confusing, i don't know if my code is saved or not.

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3337U CPU @ 1.80GHz (4 x 1796)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enable

[2019-09-03 20:24] rramiachraf commented on #80283
Well i just figured it out, the auto save option was enabled.
And it makes it look like there's no saving process.

[2019-09-03 20:24] #80283 closed

[2019-09-03 20:30] kotoyry opened #80284 "Unknown selection mode"
I think my question is really stupid, but I can't find an answer for it in issue tracker or stack overflow... I get a strange red selection mode in some random moments and I don't know, how to disable it.

I'm not sure whether it is caused by VSCode or Python extension.

The red selection I'm talking about:
![2019-09-03_23-20-48](https://user-images.githubusercontent.com/4014972/64206043-142c9280-

[2019-09-03 20:36] robertlugg commented on #80282
It is not a duplicate of #77350

[2019-09-03 20:39] aeschli commented on #77712
there's now "quickInput.background"

fixed by https://github.com/microsoft/vscode/issues/65153

[2019-09-03 20:39] #77712 closed

[2019-09-03 20:39] aeschli commented on #77600
Closing. If you see it again, please report to https://github.com/microsoft/vscode-remote-release/issues

[2019-09-03 20:40] #77600 closed

[2019-09-03 20:54] SteveBenz opened #80285 "Do not hide notifications without prompt when window has no focus"
Issue Type: <b>Bug</b>

If an extension posts a notification while VSCode is, say, minimized, the user has to actively search for the notification in order to see it.

While the 15-second timer on notifications is generally a good thing, the 15 seconds should only tick while VSCode is in-focus.

Here are some examples of cases where notifications might pop up while VSCode is not focused:

1. An ex

[2019-09-03 20:55] kcaze commented on #78817
@alexr00, I just confirmed that this worked on `bdb640354a1404d0bf2226292ac452e8aa23df2d` which is the commit right before `7705bbd`.

The workspace folder is not checked if `cwd` is passed into `ShellExecution` which allows the task to execute successfully. Attached is a minimal repro example of an extension that uses `TaskScope.Global`.

[global-tasks.zip](https://github.com/microsoft/vscode/fil

[2019-09-03 21:00] SteveBenz opened #80286 "Change application icon to indicate notifications are present"
For the duration of the presence of a notification on the VSCode screen, VSCode's icon should be changed to indicate that the notification exists.  (Like a mail reader's icon changes in the task bar when you have e-mail.)

In issue #80285 , I also suggest that notifications that happen while VSCode is not in focused should not disappear until 15 seconds after VSCode comes into focus.

The point of

[2019-09-03 21:07] Tyriar commented on #80074
Private xterm API access is now declared inside `contrib/terminal/` instead of `typings/`, and `typings/xterm*` is excluded from `src/tsconfig.json`

[2019-09-03 21:11] SheepDomination commented on #80261
It's PATH, although does it mimic what you can do with Windows System environment variables ? Hopefully a Windows user can answer, because this is not working.

[2019-09-03 21:14] cleidigh commented on #80244
@isidorn
You can assign this to me .  We had something similar in the past to my recollection.  But I agree I don't like the timeout approach.  I am just wondering if it is of particular edge type case that forces us to have something like a "post-change-event" paradigm.  The interaction between the debug selection and the editor window has always had a few quirks.

[2019-09-03 21:14] dzchoi commented on #16488
Need this, since the Global Search can be thought of as a source code analyzing tool, not just as a find-and-forget tool.

[2019-09-03 21:34] Akxe opened #80287 "Restore app state on restart (Windows)"
I would like the app to be able to restart itself (with its state) when the PC boots up. A good example is Chrome, Spotify or other. If use shuts down his PC while the programs were still running, they will restore, Chrome will reopen (and potentially load) all tabs previously opened, Spotify will reopen last screen and select song.

Maybe it is usable for other platforms too, but I don't know abo

[2019-09-03 21:35] rjmholt opened #80288 "textDocument/codeAction request has end character set as 1.7976931348623157E+308"
From https://github.com/powershell/vscode-powershell/issues/2135.

- VSCode Version: 1.37.0
- OS Version: Windows_NT x64 10.0.17763

Steps to Reproduce:

See ![GIF](https://user-images.githubusercontent.com/18121861/63850627-305d9a80-c99d-11e9-96c3-cbc6ff50153c.gif).

Does this issue occur when all extensions are disabled?: No -- need an extension for a CodeLens

We've been looking into this on th

[2019-09-03 21:48] angelhdz opened #80289 "[BUG] Intelli-Sense Stops Working In Every Language"
VSCode Version: **1.37.1**
OS:  **Windows 10 Pro 64bit**

Intelisense Stops Working In Every Language. I'm tired of having to Reload the workspaces to get it working again.

[2019-09-03 21:53] angelhdz commented on #80286
Add this at the start of this issue's title:  **[FEATURE REQUEST]**

Cheers!

[2019-09-03 22:23] sbatten commented on #80289
@angelhdz can you provide more information on what you mean? For example, which languages are you working with and extensions you have installed?

[2019-09-03 22:29] sbatten commented on #80284
Does the issue reproduce if you disable the python extension?

[2019-09-03 22:32] deepak1556 commented on #79929
Fix at https://github.com/electron/electron/pull/20098 , should be available with next release.

[2019-09-03 22:34] angelhdz commented on #80289
@sbatten of course! Thanks for replying.

**Python** with following extensions:

- ms-python.python
- donjayamanne.python-extension-pack
- seanwu.vscode-qt-for-python
- batisteo.vscode-django
- wholroyd.jinja

**Actionscript** with following extensions:

- bowlerhatllc.vscode-nextgenas
- dbaeumer.vscode-eslint
- vshaxe.haxe-debug

**Javascript** and **NodeJS** with following extensions:

- dbaeume

[2019-09-03 22:52] sbatten commented on #80289
Are you receiving any error notification that indicates that the extension host is unresponsive? Can you also check dev tools (Ctrl+Shift+i) for any related errors?

[2019-09-03 23:12] angelhdz commented on #80289
Nope. No errors. It just stops auto-completing everything after a while of working and debugging. Then I reload the workspace and it gets fixed.  Also, sometimes, I get errors like "undefined property csbedfasp" because it detected something I wrote recently as If I was reading a property. Then I save the current file, and the errors goes away. It's like Intelli-Sense just stops working.

[2019-09-03 23:15] sbatten commented on #80289
@angelhdz can you try running with extensions disabled and see if the issue reproduces? If it does not, we might need to enable them one by one to figure out the culprit.

[2019-09-03 23:20] angelhdz commented on #80289
Sure, I can do that, but if I disable for example **Python > ms-python.python**  extension in the Python workspace, I can't debug or have python code hinting.

What I'm gonna do is disable **Python Extension Pack > donjayamanne.python-extension-pack** and see if that extension is in conflict with the other one.

[2019-09-03 23:21] zavr-1 commented on #79396
@joaomoreno that's when you do `yarn link` on node.js packages

[2019-09-03 23:25] angelhdz commented on #80289
Hmmm... this makes sense. I think  **donjayamanne.python-extension-pack** extension is in conflict with **ms-python.python** extension. Both of them have code hinting/auto complete, but they display them differently in the drop down window. So I will raise an Issue in their repository.

Question, is there any way to tell one extension not to do code hinting and let another extension controls the c

[2019-09-03 23:32] sbatten commented on #80289
If disabling that extension pack helps, I believe you have narrowed it down to one of the extensions inside of that pack. I don't think that pack conflicts with the ms-python extension since it contains that extension within it. If just ms-python works, then then there are 4 remaining extensions. Can you disable them individually to see which is causing the issue?

![image](https://user-images.git

[2019-09-03 23:58] roblourens commented on #80253
Please try installing the ssh nightly build (uninstall stable first) then set this setting: `"remote.SSH.allowLocalServerDownload": true`. It does exactly what you ask for.

[2019-09-03 23:58] #80253 closed

[2019-09-04 00:06] trampster opened #80291 "Snap store says licence is "Proprietary""
The [snap store](https://snapcraft.io/code) says the licence for vscode is "Proprietary" but it's actually MIT.

[2019-09-04 00:11] angelhdz commented on #80289
Yup. **donjayamanne.python-extension-pack** is the one. It stops  doing code-hinting after a while of working with it.

This a code hinting with only VSCode Intelli-Sense:
![image](https://user-images.githubusercontent.com/10191085/64216262-184ab700-ce86-11e9-9bc7-21990ceb7101.png)

This a code hinting with the extension:

![image](https://user-images.githubusercontent.com/10191085/64216316-5d6ee9

[2019-09-04 00:36] ericyhwang opened #80292 "TypeScript auto-complete only shows JSDoc for first function overload"
Issue Type: <b>Bug</b>

**Steps:**

1. Paste this into a TypeScript file:

[code]

2. Start typing `add(` at the bottom to bring up auto-complete, then hit the Down arrow to go to the second overload.

**Expected:** The auto-complete for the second overload shows docs from the doc-comment, same as it did the first overload.

**Actual:** The auto-complete for the second overload does not show docs.

[2019-09-04 00:43] yangdan8 commented on #80242
The same problem as #32196

[2019-09-04 00:43] #80242 closed

[2019-09-04 00:44] ericyhwang commented on #80292
I did a bit more searching of issues, and I noticed a lot of VS Code issues were re-filed upstream on TypeScript.

So I did some searching there and found two relevant issues:
* https://github.com/microsoft/TypeScript/issues/27981
* https://github.com/microsoft/TypeScript/issues/30181

For the second issue, it looks like there's a PR open: https://github.com/microsoft/TypeScript/pull/30253

I'm no

[2019-09-04 01:01] bmewburn opened #80294 "Closing parenthesis keeps repeating"
Issue Type: <b>Bug</b>

1. Type a `(`. Watch it auto close.
2. Type a `)`. The cursor skips over the existing `)`.
3. Move cursor back in between the parentheses.
4. Type a `)` again. The `)` gets repeated.

I'm sure the behaviour on previous vscode versions was to always skip over the existing parenthesis. I've tried with `editor.autoClosingBrackets` `languageDefined` and `always`. This is in typ

[2019-09-04 01:06] bittnkr commented on #60478
Thumbs up.
It would be wonderfull to hide [[StableObjectId]] altogether. Both are just two annoying distractions when debugging node/js with vscode.

[2019-09-04 01:37] pocesar commented on #79490
@joaomoreno I do that almost every other day.

![image](https://user-images.githubusercontent.com/461084/64219329-6f0ebb80-ce9b-11e9-82fc-5a360cd312fd.png)

just tried to update again

[2019-09-04 01:51] pavelvlasov opened #80295 "Extensions can potentially block autocompletion from other extensions"
TabNine VSCode plugin suppresses suggestions from other extensions. It's described in

https://github.com/zxqfl/tabnine-vscode/issues/6
https://github.com/zxqfl/tabnine-vscode/issues/20

The root cause is described in the comment https://github.com/zxqfl/tabnine-vscode/issues/6#issuecomment-437712095

My feeling that it should be fixed inside VSCode, rather than in the plugin to prevent this behav

[2019-09-04 02:04] adrn commented on #69498
Also came here to report the same thing.

[2019-09-04 02:05] abhinuvpitale commented on #76892
@joaomoreno what would be a good place to start?

[2019-09-04 02:49] JoseChirinos opened #80296 "Two Columns Layouts not work, when I open any document and one extension readme at a time"
1. Open any document
2. Open any extension (see readme)
3. Click en [|] button for see Two Columns Layouts

Result: all tabs are hidden

[2019-09-04 03:24] akaroml commented on #80184
Yes it's still reproducible in the insider build:

Version: 1.38.0-insider
Commit: 5ab84ce18fe7dee304325952f2849264dd4a48c1
Date: 2019-09-02T07:48:28.922Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 18.7.0
![out](https://user-images.githubusercontent.com/16755094/64223425-9058c180-cf06-11e9-9242-c9b63683138b.gif)

[2019-09-04 03:32] seognil opened #80297 "[Feature Request] snippet support RANDOM"
[use case]
`console.log('#45dlk5', $1)`
generate a simple random string as a quick debug flag

[feature request]
add a $RANDOM varible to snippet
or support JS expression as ES6 did
e.g. ``  `${Math.random().toString(36).slice(-6)}` => '45dlk5'  ``

[2019-09-04 03:54] Kempriol opened #80298 "On change branch alert about uncommited files"
Issue Type: <b>Bug</b>

If I change a file in branch Develope and switch to another branch (Feature/new) - VSCode don't alert me about uncommited changes and I can commit it in another branch, i think It's wrong

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.18362

[2019-09-04 04:55] amitanubha opened #80299 "dart command is not recognized suddenly"
Create a flutter project and sismpy try to run and it says error dart is not recognized as internal or external command though all PATH settings are correct.

[2019-09-04 05:01] amitanubha commented on #80299
nope it is not resolved or covered

On Wed, Sep 4, 2019 at 10:27 AM vscodebot[bot] <notifications@github.com>
wrote:

[2019-09-04 05:18] usernamehw commented on #80294
/duplicate of #78833

[2019-09-04 05:18] #80294 closed

[2019-09-04 05:20] gjsjohnmurray commented on #80294
/duplicate of #78833. Behaviour changed in 1.37. A config option in 1.38 allows you to reinstate previous behaviour.

[2019-09-04 05:21] bpasero commented on #80285
Actually that should be the case given this line:

https://github.com/microsoft/vscode/blob/109add76dad3dd1cbe05215d26cb62be6dbfdc47/src/vs/workbench/browser/parts/notifications/notificationsToasts.ts#L244

Can you demonstrate where this does not work? A notification should not start to hide automatically if the window does not have focus.

[2019-09-04 05:44] bpasero commented on #74782
Looks like this is only required beginning 2020: https://developer.apple.com/news/?id=09032019a

[2019-09-04 06:40] ghanique opened #80301 "Keyboard shortcuts for "Dvorak, right-handed" keyboard layout are mapped to "Dvorak" keyboard layout"
Issue Type: <b>Bug</b>

Problem situation
===
I recently broke my left arm. In order to be able to type reasonably fast I selected the "Dvorak, right-handed" keyboard layout.

I use VS Code on Fedora 30.

Problem description
===

Test 1 (OK)
---

### Setup
When editing a file press the physical key that is marked with ",".

### Expected
The character "v" appears, because the with the "Dvorak, righ

[2019-09-04 06:41] ghanique commented on #80301
This is a different issue.

[2019-09-04 06:46] bpasero commented on #80251
I pushed https://github.com/microsoft/vscode/commit/e5db2c31e4f7459a084977ed5bafc2a39ff50a37 as workaround. My testing shows that everything seems to be working fine, however:
* when `await testObject.search({ contentPattern: { pattern: 'somestring' }, type: 1, folderQueries }); `returns the `onDoneStopwatch(duration => this.telemetryService.publicLog('searchResultsFinished', { duration }));` has

[2019-09-04 07:02] sandy081 commented on #80197
@jabacchetta Command is not shown because of this - https://github.com/microsoft/vscode/issues/80214

[2019-09-04 07:27] aeschli commented on #79628
I verified that the fix is in 1.38.0-insider (user setup)
Commit: e77b008fb04222192a608906ff603bd72943d779
Date: 2019-08-30T10:15:17.547Z

@Wqrld It will be in stable as soon as 1.38.0 is published.

[2019-09-04 07:33] #79839 closed

[2019-09-04 07:41] jrieken commented on #80074
Thanks @Tyriar. We are now in a state where we can start measuring and comparing `tsc` vs `gulp-tsb`

[2019-09-04 07:42] aeschli commented on #79208
dup of #78491

[2019-09-04 07:42] #79208 closed

[2019-09-04 07:50] Nowhk commented on #80059
@joaomoreno `git config --global -e` still show the correct user/mail. Not the ones which will be set using VSCode IDE :(

[2019-09-04 07:53] isidorn commented on #80244
@cleidigh makese sense, assigning to you. As for building master if you still see the error you can post it here.

[2019-09-04 07:54] joaomoreno commented on #57409
Patch is in the HID sub tree: https://git.kernel.org/pub/scm/linux/kernel/git/hid/hid.git/commit/?h=for-5.4/apple&id=aec256d0ecd561036f188dbc8fa7924c47a9edfd

We can close this! 💪

[2019-09-04 07:54] #57409 closed

[2019-09-04 08:03] TonyGravagno opened #80303 "Support file language detection by extension code"
We've seen requests here on the topic of extension/plugin determination of language modes. They all seem to come back to a focus on known markers, whether file extensions, first lines or a similar premble, or the value of a schema spec. Ref other topics #10915, #11838, #13782, #73424, #53350, #69868. All of these discussions include the notion of an open API that allows an extension to determine t

[2019-09-04 08:07] isidorn commented on #80003
@misolori thanks!

[2019-09-04 08:10] stfuzz commented on #80291
I think it is not the OSS version of VS Code as it uses proprietary telemetry services by Microsoft as you can read in the description.

See https://www.vscodium.com/ for good explanation and binaries licensed under MIT:

[2019-09-04 08:15] stfuzz commented on #80291
You can find vscodium in the snap store here: https://snapcraft.io/vscodium
I think you can close this issue

[2019-09-04 08:15] aeschli commented on #74875
The workaround is still there:
https://github.com/microsoft/vscode/issues/74875#L50

Shouldn't it be gone a result of the fix?

[2019-09-04 08:27] aeschli opened #80304 "Smoketest remote: Multiroot test fails with no search results"
Ubuntu 18.04 LTS

- `yarn smoketest --remote --build /home/aeschli/vscode/1.38.0-insider-3db7e09f3b/VSCode-linux-x64/

Multi root test fails, no search result found

![image](https://user-images.githubusercontent.com/6461412/64238197-3d7b0c00-cefe-11e9-9f4b-18cf644fea53.png)

Same when running against source or on Windows.

Typing a space in the quick input box shows the result, so it looks like a

[2019-09-04 08:28] aeschli commented on #76987
Filed https://github.com/microsoft/vscode/issues/80304 for the remaining test failure.

[2019-09-04 08:28] #76987 closed

[2019-09-04 08:31] isidorn commented on #80282
This can be done via an extension. It should simply listen to [`onDidChangeWorkspaceFolders`](https://github.com/Microsoft/vscode/blob/166ad253efbd77f88ae44834ef878ab0b6092cbd/src/vs/vscode.d.ts#L7709) and when a new workspace gets added it should simply open a readme.md file.

[2019-09-04 08:31] #80282 closed

[2019-09-04 08:34] isidorn commented on #80105
Just step over that line, do some real debugging and investigation. Pictures will not help here.

[2019-09-04 08:34] loftwah opened #80305 "Icons missing from sidebar in WSL - #687 on github"
Issue Type: <b>Bug</b>

I am missing extension icons from the sidebar of vscode when using it within WSL. It doesn't seem to matter how I use the application, I get the same results.

Not a problem when using in Windows. WSL is getting awesome though, great stuff!

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.1836

[2019-09-04 08:42] WillDawnlll commented on #80259
thank u, this bug's code detail is unimportant, it appear when write in markdown code block curly braces

[2019-09-04 08:43] PowerAccess commented on #80165
Thanks for the tip.
I've had to disable a few which all seem to cause the issues. And some
which seem to fix when I do come back later. It's never clear which are the
cause or if it's a new one now causing the issue.
This needs to be fixed in the Extension Host core.

On Mon, Sep 2, 2019 at 1:17 AM Ferrzo <notifications@github.com> wrote:

--
Best regards,
Dan

Dan Moorehead
*PowerSheet.ai <https:

[2019-09-04 08:54] WillDawnlll commented on #80259
...find a closed issue .but yesterday i dont notice it, sorry and thank your
help

[2019-09-04 08:54] #80259 closed

[2019-09-04 08:55] #80098 closed

[2019-09-04 08:57] n8crwlr commented on #80105
Ok, i have absolutely to time to think about that. Thanks for the quidiance

[2019-09-04 08:57] #80105 closed

[2019-09-04 08:58] gaochenyi opened #80306 "How to **refer** the color specified by current color theme?"
For example, I want to use the comment's color in the file `settings.json` for other extension's settings, and hope it will change accordingly as the color theme changes—thus a reference to the color is wanted.

[2019-09-04 09:05] ryenus opened #80307 "[git extension] open a file when double clicked in the source control view"
For changed files in the **Source Control (Git) view**, when a file is clicked, currently there's no difference between single-click and double-click, both open the diff view for that file.

It would be nice if the file can be opened when **double-clicked**, as if **`command.openFile`** is triggered, rather than `command.openChange`.

[2019-09-04 09:06] bpasero commented on #79460
@bbugh can you do this:
* download and run this [build](https://az764295.vo.msecnd.net/insider/109add76dad3dd1cbe05215d26cb62be6dbfdc47/VSCode-darwin-insider.zip)
* from the command line with `code-insiders --verbose`
* do your keybinding thing until it fails
* attach the output you see from the console

I added some logging for forwarding commands to the window.

[2019-09-04 09:15] bpasero opened #80308 "Web Smoke Test: Run against produced build"
All my recent changes to let the integration tests run against the real produced build have lead to the web smoke tests now failing because we are assuming compilation artifacts in `./out` while they are in `./out-build` on the server. The smoke tests were lucky because previously the integration tests would trigger a full compile.

Instead of fixing this the wrong way, I strongly suggest to chang

[2019-09-04 09:18] trampster commented on #80291
Oh I see, the 'almost' opensource Microsoft strategy.

[2019-09-04 09:18] #80291 closed

[2019-09-04 09:20] IllusionMH commented on #80305
/duplicate of https://github.com/microsoft/vscode-remote-release/issues/966 > https://github.com/microsoft/vscode-remote-release/issues/687

Fixed in Insiders builds https://code.visualstudio.com/insiders/ and will be available with August 1.38 release.

[2019-09-04 09:20] #80305 closed

[2019-09-04 09:24] stfuzz commented on #80291
Indeed 😄

[2019-09-04 09:24] joaomoreno commented on #80059
mingw is a different environment than Windows.

[2019-09-04 09:37] isidorn commented on #73469
@joaomoreno I can still reproduce this with your latest fix. Not sure if we also want to fix this? I think it is a corner case compared to the other issue (thus assigning to on-deck and you can assign back)

[2019-09-04 09:37] borekb opened #80309 "The warning about deleting file under version control is too strong / unnecessary"
When I'm about to delete a file **that is version-controlled** in my project, I get this warning:

<img width="429" alt="Screenshot 2019-09-04 at 11 31 54" src="https://user-images.githubusercontent.com/101152/64243647-fabe3180-cf07-11e9-9fad-5fa008ccbffb.png">

I think it is too strong – in fact, it's technically wrong (the action _is_ reversible).

I'm not sure if the UX is intentionally so caut

[2019-09-04 09:43] DanTup commented on #75284
I just saw this again. I opened VS Code and it auto-updated the C# extension (I had a Dart project open). Because of this behaviour, the C# extension was unnecessarily activated. It then started downloading dependencies:

![C# extension downloading stuff](https://user-images.githubusercontent.com/1078012/64244191-816f1080-cf00-11e9-951b-8cf3c39bb692.png)

This logic doesn't seem to hold up. You're

[2019-09-04 09:45] bpasero opened #80310 "scripts/test.sh --debug crashes in await"
This is probably a regression from us compiling to ES7. Steps:
* run `scripts/test.sh -g SearchModel --debug`
* put a breakpoint to `await testObject.search`
* reload to trigger the breakpoint

=> devtools disconnects

I can reproduce both with Electron 4 and Electron 6.

[2019-09-04 09:49] isidorn commented on #77419
The issue here is the following:
1. We are transitioning to a workspace, there is no previous view state, so the explorer decides to expand all the root nodes (as a heuristic)
2. Since the memfs can not be expanded (the MemFS Create Files was not yet triggered) - `FileService` returns a `Canceled` promise when I do `fileService.resolve`
3. Since I got the error from the `FileService` I simply show

[2019-09-04 09:51] aeschli opened #80311 "Avoid shadowed variable declarations"
We found that uglify-js and terser (it's successor) seem to have problem with shadowed variable declarations. (https://github.com/terser/terser/issues/445, https://github.com/terser/terser/issues/335).
[code]

As shadowed variables are also the cause of bugs, there are tslint and eslint rules to force users to find unique variables names.

https://palantir.github.io/tslint/rules/no-shadowed-variab

[2019-09-04 09:52] aeschli commented on #80311
/home/aeschli/workspaces/vscode/extensions/emmet/src/abbreviationActions.ts
/home/aeschli/workspaces/vscode/extensions/emmet/src/imageSizeHelper.ts
/home/aeschli/workspaces/vscode/extensions/emmet/src/updateImageSize.ts
/home/aeschli/workspaces/vscode/extensions/emmet/src/util.ts
/home/aeschli/workspaces/vscode/extensions/extension-editing/src/extensionLinter.ts
/home/aeschli/workspaces/vscode/ext

[2019-09-04 10:07] weinand commented on #80267
@natolyburakov please provide more details what you are envisioning here.
And please see https://github.com/Microsoft/vscode/issues/10979.

[2019-09-04 10:10] alexr00 commented on #80270
Moved to the owning repo: https://github.com/atom/language-shellscript/issues/151

[2019-09-04 10:10] #80270 closed

[2019-09-04 10:12] boussadjra opened #80312 "Associate vscode editor to an account"
I would like if we could associate a google or microsoft account to own vscode editor in which we could save our preferences when we change the environment.

[2019-09-04 10:21] weinand commented on #78675
Run the debug target in the integrated terminal when your program reads input.
Only with the integrated terminal we are able to provide faithful tty/terminal input behavior.

[2019-09-04 10:21] #78675 closed

[2019-09-04 10:25] isidorn commented on #79890
Please use this settings as a workaround `"workbench.editor.centeredLayoutAutoResize": false`
The centered editor layout does not look at the orientation of the groups, but simply if there is 2 or more in order to auto resize or not. And I would like to keep this simple.

[2019-09-04 10:25] #79890 closed

[2019-09-04 10:33] Sigtechnica commented on #27950
pretty pretty please, request for php aswell, driving me nuts :crab:

[2019-09-04 10:41] isidorn commented on #79189
If we were to render this for all threads and all sessions it would be too much noise.
Thus I suggest to only render them on hover for both sessions and threads.
We would only show the actions which are currently enabled.

I can look into this milestone, and I can also bring it up in the ux meeting today.

[2019-09-04 10:42] anatolyburakov commented on #80267
@weinand #10979 is not exactly what i'm looking for. even setting suboptimal usability aside (manually entering debug commands), running VSCode from command-line would work locally, but not when using Remote SSH extension. Maybe it would be better if i described a scenario in which this would be useful.

Imagine i'm writing a Python tool. It has a few command-line parameters, all of which trigger

[2019-09-04 10:46] pyuser00 commented on #80176
No. Others are suggesting modifying my PATH to point to Anaconda, but that does not work either. I have 4 different machines with VScode installed and only 2 of them link to Python correctly. The configurations appear identical to me except for the settings.json points to a different path. Working Anaconda points to either "C:\Anaconda\..." or have a blank settings.json while non-working installs

[2019-09-04 10:59] whyseman opened #80313 "Close all folders and subfolders on a single click"
It would be nice if there was a button or a command that would close all opened folders and subfolders in a workspace. I have multiple **large projects** and sometimes I want to **close all of the folders and subfolders** that were opened during the development in a single click. Because right now, I have to close every single subfolder in the tree in order to close all of the subfolders and folde

[2019-09-04 10:59] jrieken commented on #80074
Some measurements that I have done, all happened in [`linkedList.ts`](https://github.com/microsoft/vscode/blob/3ca0f252fa5e418372742ab93ab3d4bf4302ee93/src/vs/base/common/linkedList.ts#L13). I ran through the steps below, already three times in a row and noted the median (make change, save, wait for compiler, undo change, save, wait, repeat)

1. line 52 => change local variable name `newNode` to `

[2019-09-04 11:03] merveillevaneck opened #80314 "unable to open same directory in new window from shell"
- VSCode Version: 1.37.1
- OS Version: macOS 10.14.6

Steps to Reproduce:

1. open a non-empty project (current working dir) using the code command eg 'code . ' (it opens normally in a new window)
2. try opening the same directory again, while the first window is still open, with the -n option eg 'code -n . ' (should open a new window but jumps focus back to the first instance)

Does this issue oc

[2019-09-04 11:05] merveillevaneck commented on #80314
additionally, when two windows happen to be open and one attempts to open a project directory in window B that is already open in window A, then focus will change instead of simply opening the same directory in two separate windows of the editor.

[2019-09-04 11:12] merveillevaneck commented on #50793
ive come across another side effect of this same issue.
https://github.com/microsoft/vscode/issues/80314
Any instance of a vscode window with a given directory open in it will take focus, regardless of the flags provided when attempting to open another window. in short, if you try to open dir foo twice but use the -n flag it wont even open a new window. also if you try to just open a second window

[2019-09-04 11:15] weinand commented on #78948
A `TaskProvider` can easily access the current debug configuration by registering for the start of a debug session via the `onDidStartDebugSession` API.
@g-arjones have you tried this?

[2019-09-04 11:58] sandy081 commented on #80243
@rioj7 Can you provide me the sample for `object` type configuration and what is not working?

[2019-09-04 12:03] demothorg commented on #80284
Sorry, I don't know - don't remember if this happened in other languages.
And I even can't check it, because I don't have an idea how to reproduce it (may be some hotkey...)
I'll try to give more information when this happens next time.

[2019-09-04 12:15] g-arjones commented on #78948
No, because my understanding was that the preLaunchtask is launched before the session starts and that onDidStartDebugSession is called after. My goal is to create a task to be used as a prelaunchTask. Am I missing something? @weinand

[2019-09-04 12:17] jrieken commented on #80310
wtf - works with `await async_1.timeout(0);`, also works when having a breakpoint the line above and then stepping onto it

[2019-09-04 12:18] jrieken commented on #80310
I feel this doesn't justify to revert the es2017 change yet

[2019-09-04 12:24] jim181099 opened #80315 "Terminal doesn't work on restart."
Issue Type: <b>Bug</b>

1. Switch to Terminal Tab (or press CTRL + ` )
2. Restart VS Code.
Now as you switched to Terminal tab before the restart, you should be on Terminal tab and here the Terminal is not working(Blank Black Screen).
Terminal doesn't work even when added new.

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT

[2019-09-04 12:28] bpasero commented on #50793
@merveillevaneck See https://github.com/microsoft/vscode/issues/2686#issuecomment-441350180

[2019-09-04 12:31] IllusionMH commented on #80312
/duplicate of #2743

In mean time you can use https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync

If you are sure that this is not a duplicate - please provide details.

[2019-09-04 12:31] #80312 closed

[2019-09-04 12:32] Nowhk commented on #80059
@joaomoreno yes, but if I set on settings the mingw terminal, I bet VS Code will use it. How can I say to VSCode "use mingw" env?

In fact, once I do`git commit -m "test"` from terminal (which use mingw), from that moment, VSCode IDE start to work :O

[2019-09-04 12:34] bpasero commented on #80310
Yeah agree, also does not seem to reproduce with every test.

Full native crash output (using Electron 6):

@deepak1556 does this ring any bell?

[code]

[2019-09-04 13:00] bbugh commented on #79460
@bpasero thank you for the reminder.

1. I created a new user account so there would be external/configuration interference.
1. I downloaded that build and ran with `--verbose`
1. I was unable to reproduce the issue using your insider 1.38 version.
1. I was able to immediately reproduce the issue with the installed latest public `1.37`.

I recorded the reproduction if you'd like to see it, but it

[2019-09-04 13:00] sleighsoft opened #80316 "Setting contrastActiveBorder in themes breaks "Select Interpreter" panel"
See https://github.com/microsoft/vscode-python/issues/7140

[2019-09-04 13:30] bpasero commented on #79460
@bbugh hm it should be version 1.39 though, can you check? Could it be by accident you got updated (actually downgraded)? Maybe disable updates from settings to be safe.

![image](https://user-images.githubusercontent.com/900690/64259183-e63e6100-cf28-11e9-8156-912705eabc12.png)

[2019-09-04 13:50] RafaelQuirino opened #80317 "Remembering opened files without having to close the app (e.g. after crashes or reboots)"
Hello vscode team. I love the app, but one features displeases me. I usually don't close my editor (because i don't shutdown my OS). I rather do some reboots in terminal when needed. But in this case the app doesn't remember the opened (or closed) files. I notice it only remembers the files/folders configuration when i explicitly close the app, hitting the x button on top right corner and then reo

[2019-09-04 13:52] St3fa11 opened #80318 "Go to definition + Right-Click-Menu"
Issue Type: <b>Bug</b>

I cannot use the F12 command -> Go to definition
-> nothing happens

Also there aren't any right-click menu entries like "got to definition"; "peek definition"; "got to declaration"  and so on anymore

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summa

[2019-09-04 13:59] soosa opened #80319 "tabs disappeared"
I updated to the latest version and my "open editors" disappeared in tab format. I can see open eitors above the folder tree but not as "tabs" above the open file. In settings I have:
"workbench.editor.showTabs":  true
How can I get back the tab structure

VS Code version: Code 1.37.1

[2019-09-04 14:17] cruzortiz99 opened #80320 "The autocompletion is very slow"
Issue Type: <b>Performance Issue</b>

the autocompletion block any other work until its done doing its taks, but is now very slow, i have to wait almost 3 sec every time i use it. In the previous version was so much faster than now.

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:25.463Z)
OS version: Linux x64 4.13.0-46-generic

<details>
<summary>System I

[2019-09-04 14:42] codekip commented on #26134
Yes please, similar to [drag-realtive-path](https://atom.io/packages/drag-relative-path) in the Atom editor

[2019-09-04 14:43] weinand commented on #79189
yes, rendering actions only on hover makes sense.

Only showing enabled actions might be problematic because it prevents a stable UI: if I do not move the mouse, clicking it should always result in the same action being pressed. I do not want to suffer from a "moving target" problem.

[2019-09-04 14:47] dancojocaru2000 commented on #63129
Any updates on this? It's really annoying to constantly have to select and delete a huge chunk of indentation. This reason alone makes me almost want to switch to IntelliJ.

[2019-09-04 14:49] merveillevaneck commented on #50793
@bpasero this shouldnt be an issue, because even though the shell prompt has a built in command for this, the documentation for the 'code' command makes it seem as though it can perform the required actions. however it doesnt. so either it should be included in the documentation or it should be changed to accommodate behavior.

thanks for pointing out the the duplicate command though. still would

[2019-09-04 14:51] j-Curioso opened #80321 "Feature Request: Allow file rename when not open in folder"
To start, first time opening a feature request on Github. I did look through existing issues/requests, and also through VS Code itself, but did not find anything for this specifically. Happy to be corrected and pointed in the right direction.

It would be appreciated if there was a way to rename an open file when the file's folder is not open. Often through out the day I will be working in many di

[2019-09-04 14:53] dancojocaru2000 commented on #79516
Any updates on this? Any change of mind? There seems to be a tradition for VS Code to think it's smarter than the language server and mess things up, creating a bad user experience.
Why do we even have the language server if VS Code doesn't listen to it?

Time to move to JetBrains.

[2019-09-04 14:55] IllusionMH commented on #80318
/needsMoreInfo

Can you provide more details? At least what language are you using? Do you use extension that should provide this functionality for language (there is built-in support for JS/TS, but other might need an extension)?

[2019-09-04 14:55] ederluca opened #80322 "vscode doesn't recognize javascript inside html file"
Good Morning
One question I am using vscode in php development and I really liked the tool, but I came across a problem and could not get around it:

When I am inside a javascript document and type for example document. The properties I can use appear.

But when I am in a <script> tag in an html file and type for example document. Nothing appears to me as I do to enable this feature?

Linux Mint 1

[2019-09-04 14:59] bpasero commented on #50793
Feel free to provide a PR to change the documentation of the CLI program.

[2019-09-04 14:59] j-Curioso commented on #80321
Pretty cool bot. Unfortunately the linked issue is not a duplicate. Their issue appears to be with renaming not working when the file is open in an opened folder.

My request would be to rename a file when the file is not already opened in a folder.

[2019-09-04 15:00] weinand commented on #80267
@anatolyburakov so why not filing a feature request against the above quoted extension, or submitting a PR with the changes?

[2019-09-04 15:03] runfaj opened #80323 "auto save happening even when off"
Issue Type: <b>Bug</b>

I have tried every possible setting related to auto-save, including disabling extensions and vscode still saves by itself. This started happening recently, maybe just since the last update. It is incredibly annoying, because I can't have pending code changes without the risk of it auto saving within a few seconds, thus causing my entire webpack build to recompile.

There is

[2019-09-04 15:03] weinand commented on #80176
Great that your were able to find the problem. Thanks.

[2019-09-04 15:04] Logerfo commented on #57633
Also, the triple click behavior should be configurable between selecting the line break and not selecting the line break. Currently, it always select the line break (if there is one).

[2019-09-04 15:05] anatolyburakov commented on #80267
not everyone is proficient in all things JavaScript

i believe the problem was that VSCode doesn't allow supplying multiple arguments that way, and i don't really know how to formulate this in terms of "what needs to be done to make this happen". besides, i think such an obvious feature shouldn't require extensions.

[2019-09-04 15:05] olibraun opened #80324 "Cannot edit more than 10000 lines in "column edit mode""
Hello everyone,
I am having trouble editing a large file with a "column cursor".

- VSCode Version: 1.37.1
- OS Version: Windows 10 (10.0.17763)

Steps to Reproduce:

1. Open a file with more than 10000 lines
2. Try to create a "column cursor"/"multiline cursor", i.e. try to edit all lines at once.
3. A message stating "The number of cursors has been limited to 10000."

![image](https://user-image

[2019-09-04 15:06] jrieken opened #80325 "Grouping quick open entries is broken"
* open `linkedList.ts`
* trigger quick outline
* type `:` to group by symbol kind
* :bug: groups are repeated, no grouping happening

<img width="738" alt="Screenshot 2019-09-04 at 17 05 16" src="https://user-images.githubusercontent.com/1794099/64267162-2d7f1e80-cf36-11e9-8b27-4336bbd60bc2.png">

[2019-09-04 15:06] bernardoct commented on #78278
Update: I have now been using VS Code v1.37.1 on Windows for Latex editing and the freeze still happens.

[2019-09-04 15:12] alexandrudima commented on #80213
The CPU profile is not indicative... there is a lot of time spent in (program), which indicates native node modules...but I don't know what is causing this.

[2019-09-04 15:25] joaomoreno commented on #80059
VS Code only supports Git for Windows.

[2019-09-04 15:28] octref opened #80326 "Move html/css's data generation pipeline to microsoft/vscode-custom-data"
- microsoft/vscode-custom-data should pull together the data into JSON files and publish them under NPM package `vscode-web-custom-data`. This process involves crawling and synthesizing data from MDN and other sources into data following custom data format.
- html/css language services dev depends on `vscode-web-custom-data`
- html/css language services from time to time update dependency and gene

[2019-09-04 15:34] jrieken commented on #80325
There are two comparators: one that compares by matches and one that first compares the item kind and then the matches. The issue is that we never use the latter comparator.... 🤦‍♂

[2019-09-04 15:36] joaomoreno commented on #73469
@isidorn I can not reproduce this in `master`.

[2019-09-04 15:39] joaomoreno commented on #80002
The cropping is hard since we need to accommodate for all the different dialogs we have: web, mac, win, linux. We simply have to pick a number. We currently crop at 40 characters.

[2019-09-04 15:39] #80002 closed

[2019-09-04 15:43] #80081 closed

[2019-09-04 15:46] aeschli commented on #76983
I can successfully run the smoketest on 1.38on Windows

[2019-09-04 15:46] #76983 closed

[2019-09-04 15:48] aeschli commented on #76835
I'm not able to reproduce. The stacktrace also doesn't give much to work with.

If you still see this, you could set `"css.trace.server": "verbose"` and check the CSS language server log for more details.

[2019-09-04 15:48] #76835 closed

[2019-09-04 15:55] joaomoreno commented on #78167
@jrieken Pushed the `position: absolute` change we experimented with as well as an absolute position of splitview views which will help as well. There are still cases in which `scrollTop` and `scrollLeft` will be automatically messed around by the browser and the layout will look strange but not as broken as in the previous screenshots. Permanently fixing that would involve touching `scrollTop` an

[2019-09-04 15:55] #79029 closed

[2019-09-04 15:55] #78167 closed

[2019-09-04 15:56] aeschli commented on #76744
I just tried this setup and it worked for me. Not sure what went wrong in your case.

![image](https://user-images.githubusercontent.com/6461412/64271246-48a15c80-cf3d-11e9-83bf-c86cf20c829f.png)

[2019-09-04 15:57] bbugh commented on #79460
Sorry, you're right, it was 1.39.

[code]

[2019-09-04 15:58] aeschli commented on #76744
A way to debug this is by looking at the json language server log.
Define `"json.trace.server": "verbose" in the settings and check the logs.

[2019-09-04 15:58] #76744 closed

[2019-09-04 16:04] isidorn commented on #79189
After discussing in the UX call we decided to:
* Show only the inline actions on hover
* When hovering hide the "Paused" label to save on space and show actions
* When there are no threads, show all 6 actions on the debug session (continue, step over, step in, step out, restart, stop)
* When there are threads, show 4 actions on the threads (continue, step over, step in, step out) and show 2 action

[2019-09-04 16:07] bpasero commented on #79460
Wow good to know, looks like my changes fixed it then.

[2019-09-04 16:11] St3fa11 commented on #80318
Hello IllusionMH,

i program in C and use the C/C++ for Visual Studio Code extension from Microsoft.
I also check the topics from bot above. But I found no help to solve my issue.

[2019-09-04 16:35] abhiarrathore opened #80328 "Integrated Terminal does not show what was written when resizing because now I cannot scroll up."
- VSCode Version: 1.37.1
- OS Version: windows 10 v1903 build 18362.295

Steps to Reproduce:

1.Run any file that demands input and produces some output in integrated terminal.
For my case I used the build file of c++(that is an executable file).
2.Then resize the terminal window to increase its height, you will notice that some input and output which were not in view in integrated terminal are no

[2019-09-04 16:36] deadlyicon commented on #50793
I still have this problem:

I open two projects all pointing to their own different directories.
I use the subl command to open a file within one of those directories.
It opens that file in whatever project window was last focused.
It should open each file in their corresponding project directory.

Should I open a new issue?

Thanks!

On Wed, Sep 4, 2019 at 8:02 AM Benjamin Pasero <notifications@g

[2019-09-04 17:01] TylerLeonhardt commented on #78738
@jrieken not sure why I didn't get a notification for this but here is the repro with snippets:

[code]

gives me:

`'\svr-2015-01\User Documents\Carl'`

also here's the popup:

![image](https://user-images.githubusercontent.com/2644648/64275641-f17a9800-cefa-11e9-98ff-edb05e07a473.png)

[2019-09-04 17:04] Nowhk commented on #80059
@joaomoreno I see. So why, after.execute that command from the vscode terminal, automatically switch to "that" git engine?

[2019-09-04 17:06] SteveBenz commented on #80285
Thanks for having a look @bpasero !  That line might save us if the notification were sticky or prompting.  For for stuff like what I'm talking about, you wouldn't want a notification to be that heavyweight - you'd just want it to tell you what it's got to tell you and disappear.  For example, you go to a meeting and come back to your desk and re-open VSCode - you want that notification that the b

[2019-09-04 17:07] runfaj commented on #80323
I also set this to the afterDelay for 20 minutes and it completely ignores that setting. I have absolutely no idea what could be triggering this, as it seems to happen when the window is focused or not and seems to happen at random time intervals - always 1 minute or less.

[2019-09-04 17:09] Tyriar opened #80329 "Move puppeteer dependency install test/smoke"

[2019-09-04 17:14] skprabhanjan commented on #80065
@sandy081 , I can take a look at this.
Some code pointers would be helpful :)

[2019-09-04 17:28] sbatten commented on #80319
@soosa can you provide a screenshot demonstrating the issue? Also, would you mind sharing your settings.json

[2019-09-04 17:30] sbatten commented on #80318
@St3fa11 looking at the extensions listed in your bug report, I don't see the C++ extension installed

[2019-09-04 17:32] #80329 closed

[2019-09-04 17:33] lukewlms commented on #27317
Regarding index.js/index.ts prioritization, I run into this every day and wonder if it couldn't be considered a high priority.

Using index.ts/index.js within directories is a JS best practice, but since VS Code deprioritizes finding these files when typing the directory name, it makes this JS feature nearly useless.

- [ ] index.js/index.ts file should show at top of file picker when searching fo

[2019-09-04 17:34] sbatten commented on #80316
after looking, there might be an issue with theming in the command palette?

[2019-09-04 17:36] octref commented on #80322
Are you sure it's a HTML file? This should work out of the box.
![Screen Shot 2019-09-04 at 10 35 34 AM](https://user-images.githubusercontent.com/4033249/64277663-c0e92d00-ceff-11e9-8df9-20d0dc7f7134.png)

It's probably your PHP extension interfering. Try disable it.

[2019-09-04 17:36] sbatten commented on #80314
@merveillevaneck There is a command `Duplicate workspace in new window` that solves this issue.

@bpasero for additional info.

[2019-09-04 17:39] sbatten commented on #80313
is "After" what you are trying to achieve? if so I think you want this button,

![image](https://user-images.githubusercontent.com/6561887/64277872-3d7c0b80-cf00-11e9-88a3-0c7c5247a388.png)

[2019-09-04 17:46] sbatten commented on #80306
@gaochenyi This page might be helpful to you. https://code.visualstudio.com/api/references/vscode-api#ThemeColor However, this is a question which should be asked in another place such as Stack Overflow in the future. Thanks

[2019-09-04 17:47] #80306 closed

[2019-09-04 17:51] sbatten commented on #80299
@amitanubha if you type dart in the integrated terminal, does this resolve to a valid command?

[2019-09-04 18:00] sbatten commented on #80296
I could repro in stable though after reproing once, it didn't happen 100% of the time.

Console error
[code]

[2019-09-04 18:03] sr3d commented on #68604
This is confirmed to be still broken:

Version: 1.37.1
Commit: f06011ac164ae4dc8e753a3fe7f9549844d15e35
Date: 2019-08-15T16:16:34.800Z
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 18.7.0

[2019-09-04 18:04] #78514 closed

[2019-09-04 18:12] gorban commented on #73790
I encountered this same issue and disabling ConPTY for the integrated terminal fixed it for me (no more external Powershell windows are popping up and it works integrated in VS Code). This only started happening when installed Windows 1903.

[2019-09-04 18:13] sbatten commented on #80289
@angelhdz good to know, is you notice that the issue remains resolved with Intellicode disabled, please file an issue on their repository at https://github.com/MicrosoftDocs/intellicode/issues

[2019-09-04 18:13] #80289 closed

[2019-09-04 18:14] trusktr opened #80330 "[bug] copy/pasting a file to other window deletes file from first window."
[code]

Steps to Reproduce:

1. Copy a file in file explorer of one window (cmd-c)
2. Paste the file in file explorer of another window (cmd-v)
3. Notice that the file was deleted from the project in the first window, as if I have done a `cut` (cmd-x), but I didn't not cut, I did copy (cmd-c).

Does this issue occur when all extensions are disabled?: I haven't checked yet. I've got work to do, I c

[2019-09-04 18:15] ederluca commented on #80322
Actually it was a mistake on my part the file is a php file I did the test as you mentioned and actually the html file inside the <script> tag works but when the file is php it only works if I go to the program footer and change it to javascript then he recognizes

[2019-09-04 18:15] ederluca commented on #80322
Actually it was a mistake on my part the file is a php file I did the test as you mentioned and actually the html file inside the <script> tag works but when the file is php it only works if I go to the program footer and change it to javascript then he recognizes

[2019-09-04 18:19] ederluca commented on #80322
Actually it was a mistake on my part the file is a php file I did the test as you mentioned and actually the html file inside the <script> tag works but when the file is php it only works if I go to the program footer and change it to javascript then he recognizes

Any idea?

[2019-09-04 18:19] bryanjhv commented on #79038
I don't think it's a Prettier issue because it works with `jsonc` files normally (also if you try with `HookyQR.beautify` which also supports `jsonc`, the same thing happens). Curious thing is that, if you try with the same plugin versions and VSCode `1.36.1` or `1.36.0` it works as expected, so it's likely not a plugin issue but something that was introduced in `1.37.0`. Also, as others have poin

[2019-09-04 18:20] octref commented on #80322
Please open issue for the PHP extension you are using.

[2019-09-04 18:20] #80322 closed

[2019-09-04 18:21] angelhdz commented on #80289
It happened again with **Visual Studio IntelliCode** extension disabled. So, the issue must be with **MagicPython** extension instead. And I think this makes sense, because in the Magic Python extension folder, I edited some *.json files to add the word "this" as a keyword (to replace 'self' keyword) and it worked, the word 'this' became color highlighted. So this extension is responsible of intel

[2019-09-04 18:35] usernamehw commented on #80317
Duplicate of #12058

[2019-09-04 18:35] TonyGravagno commented on #43188
I'm trying to standardize on VSCode, removing Eclipse, NetBeans, NotePad++, maybe even Sublime.  I have a few challenges that brought me to this popular ticket. ( "Only" number 36 of over 5000? Yeah, that's popular. )

I'm not Always in one workspace. I jump around, and I don't want to have to manually close one workspace to open a new one.

For WordPress I want to apply a different set of linting

[2019-09-04 18:47] yijiangh commented on #18805
Bump +1

[2019-09-04 18:49] sbatten commented on #78167
fyi @joaomoreno removed the same css overflow hidden value as last time given this breaks the custom menubar

[2019-09-04 18:58] StasD commented on #73900
VS Code is now at 1.38.0. The problem still there...

[2019-09-04 19:14] angelhdz commented on #80289
### Update

I uninstalled all Python related extensions, but this one **ms-python.python** (obviously, I need that one to debug Python files and have python language server, etc.).

I noticed in the status bar "Analizing In Background 800> items*" and **while that was running, I couldn't have intelli-sense/code hinting**.

So I researched a bit, and some answers suggesting disabling Jedi. So I set

[2019-09-04 19:16] Daijobou commented on #79391
Issue is in version 1.38 too.

[2019-09-04 19:27] ndcouch opened #80331 "HTML Comments not working since last update"
- VSCode Version: 1.38
- OS Version: Win 10

Steps to Reproduce:

1. Tried multiple old files, as well as starting all new HTML files. none of them will allow comments
2. Turned off all extentions
3. Restarted PC and VScode multiple times
<img width="380" alt="commentCapture" src="https://user-images.githubusercontent.com/41409449/64284799-61ebde00-cf28-11e9-9bfe-82ccc7ccd7d3.PNG">

Does this issu

[2019-09-04 19:29] djmisterjon commented on #79633
test in version 1.38.0 and it just work fine.
Thanks you so much dude , am so happy now.

[2019-09-04 19:44] Elyx0 commented on #78221
I had the same on another occurence and it seemed to be because of another configuration inside the json, I removed it and relaunched and it was fixed

[2019-09-04 19:48] selfrefactor opened #80332 "Change visible ranges"
I see `visibleRanges: Range[]` as property. I'd like if I can change this value programatically.

[2019-09-04 19:59] whyseman commented on #80313
OMG yes! I had no idea that there is already a button for my issue! Thanks!

[2019-09-04 19:59] #80313 closed

[2019-09-04 19:59] deepak1556 commented on #79165
We have a potential repro for this error now https://github.com/microsoft/vscode/issues/80296, will try to isolate the electron issue.

[2019-09-04 20:06] rebornix commented on #80301
I didn't reproduce this issue on macOS so likely a linux specific issue.

[2019-09-04 20:24] rebornix commented on #80301
@ghanique could you please run "Developer: Inspect Key Mapping (JSON)" from command palette and provide the data to help troubleshoot?

[2019-09-04 20:25] usernamehw commented on #80332
You can use `cursorMove` or `editorScroll` or `revealLine`

https://code.visualstudio.com/api/references/commands

[2019-09-04 20:28] garyking opened #80333 "Reset trusted domains list for link protection"
Issue Type: <b>Feature Request</b>

Please allow us to delete trusted domains for link protection.

Selecting a domain and hitting Backspace and Delete don't do anything.

Even better would be to have an option to reset the list of links.

VS Code version: Code 1.38.0 (3db7e09f3b61f915d03bbfa58e258d6eee843f35, 2019-09-03T21:47:00.464Z)
OS version: Darwin x64 18.7.0

[2019-09-04 20:28] #80331 closed

[2019-09-04 20:30] rebornix commented on #80324
duplicate of https://github.com/microsoft/vscode/issues/60713

[2019-09-04 20:30] #80324 closed

[2019-09-04 20:36] rebornix commented on #79741
IMO the owner for this is probably @dbaeumer

[2019-09-04 20:37] rebornix commented on #79553
You can want to set up a global proxy otherwise yarn's requests are not proxied correctly, which leads to the network error.

[2019-09-04 20:37] #79553 closed

[2019-09-04 20:39] rebornix commented on #78725
We do have these two command ;)

[2019-09-04 20:40] #78725 closed

[2019-09-04 20:41] rebornix commented on #78757
@sbatten any idea?

[2019-09-04 20:41] rebornix commented on #78791
Please file against the Vim extension you are using.

[2019-09-04 20:41] #78791 closed

[2019-09-04 20:42] rebornix commented on #78792
/duplicate of https://github.com/microsoft/vscode/issues/20958

[2019-09-04 20:42] #78792 closed

[2019-09-04 20:45] roblourens opened #80334 "Quickopen history is missing"
- Open a file
- Open quick open, that file should be at the top of "Recently opened", but it isn't

[2019-09-04 20:46] sbatten commented on #73900
@StasD thanks for resurfacing

[2019-09-04 20:47] sbatten commented on #78757
@rebornix does multi-selection disappear on focus lost?

[2019-09-04 20:49] sbatten commented on #78757
@rebornix no clue actually, this reproduces with both native and custom

[2019-09-04 20:50] rebornix commented on #78912
Can you name a few editors which don't work the same way as VS Code? If the cursor is in the middle of a word, `ctrl+left` then `ctrl+right` will not go back to previous position, which is the right behavior. You can see the same behavior in a normal `textarea`, Visual Studio, Notepad, etc.

[2019-09-04 21:04] usernamehw commented on #80250
I can try.

[2019-09-04 21:06] rynjwssl commented on #80334
I noticed the same behavior today after updating. Went through my settings and `Search > Quick Open > Include History` is enabled. This is my primary method for navigating through multiple files.

[2019-09-04 21:08] angelhdz commented on #80289
### Final Words

I can finally certify **Magic Python** extension is the one conflicting with  **ms-python.python**'s Intelli-Sense.

When I'm using only **ms-python.python**, everything is just fine. When I install **Magic Python**, either as stand-alone or with the **donjayamanne.python-extension-pack**, after a while of running, it's Intelli-Sense just stops working and it doesn't code-hint any

[2019-09-04 21:11] PogromistDev opened #80336 "Gap in right side of window"
- VSCode Version: 1.38.0
- OS Version: Windows 10 (1803)

Steps to Reproduce:
1. Hide Activity Bar
2. Move Side Bar to right side
3. Play with hiding/showing Side Bar

![vscode](https://user-images.githubusercontent.com/12221569/64291753-f894bb00-cf79-11e9-8391-b120986d5f02.PNG)

[2019-09-04 21:22] selfrefactor commented on #80332
Thank you so much. That might solve it for me.

[2019-09-04 21:31] sbatten commented on #80289
@angelhdz unfortunately extensions can be bad actors and not play nicely with others. In this case it seems to be *Magic Python* causing issues and a bug should be reported against them. In the future, a similar process should be followed where extensions are disabled to see if they are the cause. Even if an extension is causing the issue, it may turn out to be a VS Code issue, but typically that'

[2019-09-04 21:32] #79909 closed

[2019-09-04 21:35] angelhdz commented on #80289
### Thanks

Now this issue is closed for good.

[2019-09-04 21:38] sbatten commented on #80336
@PogromistDev when this happens, does it "stick" or is it temporary while toggling the sidebar?

[2019-09-04 21:43] sbatten commented on #80336
nevermind, I can reproduce. the bugginess is dependent on the viewlet being shown. Explorer is indeed the worst. SCM doesn't seem to have the issue. Extensions viewlet is "temporary". Investigating...

[2019-09-04 21:44] rebornix commented on #80332
Solutions proposed above already.

[2019-09-04 21:44] #80332 closed

[2019-09-04 21:44] PogromistDev commented on #80336
@sbatten it's like it shifts whole vscode interface to the right.

[2019-09-04 21:50] ChaosinaCan opened #80338 "markdown.api.render does not work the first time when passed a TextDocument"
Issue Type: <b>Bug</b>

When I try to send a `TextDocument` to the `markdown.api.render` command, it always fails the first time it is called. If I send a string, it works as expected.

In my extension, I have code which looks like this:

[code]

I insert the result into an HTML template and set it as a WebView's html. The first time I open my webview, I see a loading spinner when hovering my curs

[2019-09-04 21:53] roblourens commented on #74875
Fixed, thanks

[2019-09-04 21:53] rebornix commented on #8226
You can copy deleted content or deleted line, or revert change by quick actions on the gutter, with latest Stable 1.38.

![actions-for-inline](https://user-images.githubusercontent.com/876920/64294427-a5901900-cf23-11e9-81f6-38862763cd03.gif)

[2019-09-04 22:01] roblourens commented on #79909
Found something interesting, for that initial cmd+p, we are actually sending results back from the search process when we are not supposed to. Dates back to strict null check fixes. Getting rid of this gives a slight improvement.

I don't really see anything else problematic.

[2019-09-04 22:08] roblourens commented on #79860
Thanks, it looks like `top` disagrees with our process monitor, do you think ours stopped updating here? If top is accurate I would like to see the full command of the processes using high CPU.

I'm not sure how to interpret the fatrace results, do you think it shows anything interesting?

[2019-09-04 22:08] pavelfeldman commented on #79189
@isidorn This sounds fantastic!

[2019-09-04 22:12] pavelfeldman commented on #79121
No strong preference here. I would still optimize for n -> 1 and see if there is any confusion / incoming bug reports.

My thinking here is that empty CALL STACK is not alarming since that's what most users saw when working with a single session / single thread anyways.

[2019-09-04 22:16] sbatten commented on #80336
fixed by https://github.com/microsoft/vscode/commit/2da473b000eb514669722f833498e872c46c446f

[2019-09-04 22:20] deepak1556 commented on #80296
This happens 100% on all three flavors of VSCode, with the first run when opening an extension preview on clean editor state and trying `Split Editor`. It seems like webview is detached and reattached by vscode during this action while some pending events are fired which results in this error.

Demo: https://streamable.com/asnyf

@mjbvz thoughts ?

[2019-09-04 22:22] rbuckton commented on #80074
@jrieken: Have you tried `tsc` with `--incremental`?
- http://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-4.html#faster-subsequent-builds-with-the---incremental-flag
- http://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-5.html#--incremental-improvements

[2019-09-04 22:25] roblourens commented on #80304
Is there a way for the test to wait until the window is connected before triggering the search?

[2019-09-04 22:41] dgozman commented on #79196
@isidorn Is someone actively working on this? I see it is added to the milestone and don't want to interfere. I have a rough version of the fix for this, and wonder whether it makes sense to contribute a PR? Thanks a lot!

[2019-09-04 22:47] workingJ opened #80341 "Feature request: Build-In Line Operations"
I m missing some simple line operations,
i think they could be build in:

- remove duplicate lines
- remove empty lines
- remove lines with only white space
- remove consecutive duplicate lines

I searched for line operations and i did not find similar to what i like to mention here.
please correct me if I'm wrong

i really appreciate vscode,
thx for the good Work!

[2019-09-04 22:57] #80334 closed

[2019-09-04 22:58] roblourens commented on #80334
Found a fix to get it into the next insiders. @bpasero please look at 3ba84a8c070b1abcdcb6ca64f2dd6dfd48709078

[2019-09-04 23:01] sirber opened #80342 "no git diff on wsl"
Issue Type: <b>Bug</b>

add a remote wsl folder
modify a file
in the git view, click on a modified file
in the main window, see no diffs

VS Code version: Code 1.38.0 (3db7e09f3b61f915d03bbfa58e258d6eee843f35, 2019-09-03T21:49:13.459Z)
OS version: Windows_NT x64 10.0.18362
Remote OS version: Linux x64 4.4.0-18362-Microsoft

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Int

[2019-09-04 23:23] mhermher commented on #79239
Hi Joao, the issue persists with the Insider version. Opening the same repo, the button does not appear.

Version: 1.39.0-insider (system setup)
Commit: 109add76dad3dd1cbe05215d26cb62be6dbfdc47
Date: 2019-09-04T05:26:28.454Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18362

[2019-09-04 23:27] rycfung opened #80343 "Go back/Go forward sets cursor to right file location but wrong editor panel"
- VSCode Version:1.38.0-insider
- OS Version:Darwin x64 18.0.0

Steps to Reproduce:

1. Create two files, file1.ts, file2.ts
file1.ts:
[code]

file2.ts:
[code]

2. Split pane so that file1.ts is opened on the left side pane, and file2.ts is opened on the right side pane.

3. On the right side pane, cmd+click on func1()
4. Now, right side pane should be showing file1.ts with cursor on func1()'s def

[2019-09-04 23:27] wavebeem opened #80344 "statusbar border no longer appears [statusbar.border]"
Issue Type: <b>Bug</b>

The theme variable `statusbar.border` now no longer causes my statusbar to have a border. I am using my own theme "Uno Due Tre" and it disappeared as soon as I upgraded to VSCode 1.38.0.

VS Code version: Code 1.38.0 (3db7e09f3b61f915d03bbfa58e258d6eee843f35, 2019-09-03T21:47:00.464Z)
OS version: Darwin x64 18.7.0

![image](https://user-images.githubusercontent.com/176815/6

[2019-09-04 23:29] #80251 closed

[2019-09-04 23:29] roblourens commented on #80251
Yeah that's not good async code, fixed

[2019-09-04 23:30] jamie-pate commented on #69665
I've set "terminal.integrated.experimentalRefreshOnResume": true and this still occurs after suspend.

[code]
[code]

[code]

[code]

[2019-09-04 23:31] sirber commented on #80342
doesn't seem to always be the case...

[2019-09-04 23:36] roblourens commented on #80245
Is your host low on memory?

If you see this again, can you try sshing into the host from a normal terminal to see if it works? Also please show the log from Remote-SSH output channel so I can see the full error message.

[2019-09-04 23:37] 1138-4EB commented on #76654
@roblourens, is this being delayed because you have other priorities in your task list or because it is harder to fix than you thought? I don't want you to hurry up at all. I'd just like to know whether it is likely to be fixed this month or we might need to wait.

[2019-09-04 23:43] rensa commented on #80132
@bpasero I've been running Insider (commit 3db7e09f3b61f915d03bbfa58e258d6eee843f35) for about 24 hours and haven't had any problems!

[2019-09-04 23:51] jreljac opened #80345 "Add Mac OS Services menu option to Explorer right click menu"
[Mac OS Services](https://developer.apple.com/design/human-interface-guidelines/macos/extensions/services/) "let people access functionality in one app from another"

Currently I have a number of file related services that are available when I am in Finder that would be even more useful if I could access right from Visual Studio Code's Explorer panel.

Currently, the work flow I use is
- Edit code

[2019-09-04 23:52] c5inco opened #80346 "Provide a filter for changes (staged or unstaged) in Git viewlet"
I think it would be cool to provide a way to quickly filter changes in the Git viewlet to make it easier to stage/unstage/undo specific changes.

I know there are ways to add and remove with patterns and filters on command line, but sometimes I run into situations where there are lots of changes and using patterns isn't always super helpful or intuitive to sift through everything.  I'd prefer a si

[2019-09-04 23:53] c5inco commented on #80346
Thoughts @misolori?

[2019-09-04 23:53] octref commented on #80333
If you run `Configure Trusted Domains`, you can toggle off domains to delete them. Does that not work for you?

[2019-09-05 00:12] garyking commented on #80333
Okay thanks, that does indeed work. I thought it would just be a simple toggle.

Where it this data located? It would be nice to have it as an array in the VSC `settings.json`, like most of the other permanent settings.

[2019-09-05 00:15] oky2abbas commented on #519
+1

[2019-09-05 00:17] octref commented on #80333
@garyking For security purposes, we decided to not put it in `settings.json`, which is writable by any extensions.

[2019-09-05 00:29] garyking commented on #80333
Is there any way to reset the list, other than doing it manually?

[2019-09-05 00:29] jabacchetta opened #80347 "IntelliSense inconsistent in JSON"
**Problem**

IntelliSense suggestions are not appearing when they should be while in JSON files. It looks like maybe #30811 is related, but there doesn't appear to be a resolution. This does not appear to be a problem in other editors (e.g. WebStorm), so I'm assuming it can be improved.

**Reproduce**

1. Open `keybindings.json` file
2. Click the "Define Keybinding" button, press key combination a

[2019-09-05 00:29] #80304 closed

[2019-09-05 00:29] roblourens commented on #80304
@aeschli I am now looking at the text of the status bar item to tell whether the window is actually connected. Let me know if that's not ok.

[2019-09-05 00:30] roblourens commented on #80304
We could also add a class/id to that item.

[2019-09-05 00:40] phiter opened #80348 "MDN Links on html tags not working in .vue files"
- VSCode Version: 1.38
- OS Version: Windows 10

Steps to Reproduce:

1. Open a .vue file
2. Make a html tag, like `<span>`
3. Hover the tag

The MDN links work if I'm in a HTML file, as follows:

![image](https://user-images.githubusercontent.com/12252332/64303006-65995800-cf5c-11e9-81e1-614d899394a8.png)

But when inside a .vue file, I get only the description, but not the links and tag name

![

[2019-09-05 00:43] cwoodcox opened #80349 "Don't warn about committing before saving files if they aren't in the commit"
Currently, Code will warn you when you commit and you have unsaved files open. This is sometimes helpful, but if I haven't added the file to the commit, it's kind of useless.

It would be nice if it first checked to see if the unsaved file appears as modified (meaning it has already been saved at least once, and appears in the list of changes in the source control panel) and whether or not those c

[2019-09-05 01:00] roblourens commented on #80117
Thanks for filing, but this is a hard problem: https://github.com/microsoft/vscode/issues/23785

And also have https://github.com/microsoft/vscode/issues/27280 to improve it

[2019-09-05 01:00] #80117 closed

[2019-09-05 01:16] devlandunion opened #80350 "Low speed for svg"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2019-09-05 01:33] bukuxiaoheshang opened #80351 "Double quotes transfer character like idea"
Double quotes transfer character like idea
like this:
""  pasted. " \"test"

[2019-09-05 01:35] KamasamaK opened #80352 "Markdown Hover images broken"
- VSCode Version: 1.38.0
- OS Version: Windows 10

I have hovers as `MarkdownString` containing the following:

`[![alt text](${imageUri})](${linkUri})`

The `imageUri` is a `file` URI to a local PNG image. Instead of the image, it now shows
![image](https://user-images.githubusercontent.com/22951521/64304836-667dba00-cf5b-11e9-9959-f1ddbbc01e19.png) with the alt text.

This issue _started_ with v

[2019-09-05 01:43] roblourens commented on #79038
I didn't realize there is a `vscode-userdata` scheme for some files, and the formatter is not registered for that, @sandy081?

[2019-09-05 01:45] octref commented on #80333
Double click the upper left checkbox should unselect all — or do you want reset instead of clear?

[2019-09-05 01:50] misolori commented on #80346
Can you give an example/scenario where this would be helpful and what you'd expect to see/do?

[2019-09-05 02:20] vasilenka opened #80353 "Go to file and workbench.action.quickOpenNavigateNextInFilePicker (Cmd + P) not working properly on latest code-insiders"
The default Go to file command `(Cmd+P)` not showing the list of recent opened files and therefore `workbench.action.quickOpenNavigateNextInFilePicker` also not working.

- VSCode Version: 1.39.0-insider
- OS Version: MacOS Mojave (10.14.6)

Does this issue occur when all extensions are disabled?: Yes

[2019-09-05 02:46] jabacchetta commented on #68184
Would be nice to see this in the keyboard shortcuts UI editor as well.

[2019-09-05 02:52] meindra commented on #80344
happened to me as well (VSCode 1.38, Windows 10)
<img width="426" alt="Screenshot_15" src="https://user-images.githubusercontent.com/6771960/64308069-4b926080-cfc2-11e9-910e-02a41209fb23.png">

[2019-09-05 02:54] solomatov opened #80354 "Better shortcuts for expand/shrink selection"
Expand/shrink selection when aware of the code structure is a very useful shortcut. Unfortunately, on OSX, it's Ctrl+Shift+Cmd+Left/Right. It's very long, it's hard to press, and hard to remember.

It would be nice if it would be shorter by default. For example,  Ctrl+Shift+Left/Right might be a much better option. Ideally it would be something short like Alt+Up/Down but it's already occupied.

P.

[2019-09-05 03:18] sgtz commented on #79881
@aeschli: definitely not in remote WSL. It's a local session.

I would tend to start VS Code like this:

    staylor@ABC123:~$ alias code
    alias code='code'
    staylor@ABC123:~$ cd /c/some_dev_dir
    staylor@ABC123:~$ code .

for some reason WSL likes code to be quoted.

Another issue?

    staylor@ABC123:/c/d$ chmod 700 /home/staylor/.ssh/id_rsa

    staylor@ABC123:/c/d$ git push
    @@@@@@@

[2019-09-05 03:26] rensa commented on #80132
For me, this problem doesn't occur (even in the non-Insiders build) if I don't open any integrated terminals. Will update if I narrow reproduction down any further!

[2019-09-05 03:35] dcalsky opened #80355 "Source Control panel cannot scroll when git modules is filled in the whole panel"
- VSCode Version: 1.38.0
- OS Version: macOS 10.14.5

Steps to Reproduce:

1. Create a project including a sort of git submodules (> 5)
2. Open Source Control of Vscode, and then scroll it, you will found you cannot see the last few git modules except hide the top ones.

Does this issue occur when all extensions are disabled?: No

Before Hiding Auth git module:
![image](https://user-images.githubu

[2019-09-05 03:35] sgtz commented on #79881
@aeschli: this is an example of it working from a non WSL terminal

![image](https://user-images.githubusercontent.com/1892697/64310045-f403ed00-cfe1-11e9-8d08-9426138fd57d.png)

[2019-09-05 04:21] DearSekhar opened #80356 "Tooltip"
Issue Type: <b>Bug</b>

Tooltip size is very small when I palce cursoron different items in my Angular project.

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz (12 x 2208)|
|GPU Status|2d_canvas: en

[2019-09-05 04:30] jeanluc243 opened #80357 "Please Update Snap"
on snap the are only the old version 1.37

i can't update my vscode version
![DeepinScreenshot_select-area_20190904224135](https://user-images.githubusercontent.com/25481431/64312018-9b632e80-cfa6-11e9-9d00-80e9c590068c.png)

[2019-09-05 04:31] kzhui125 opened #80358 "1.38.0 workbench broken layout"
macOS

VSCode 1.38.0

After VSCode being updated to 1.38.0, now it's unusable.

Just toggling sidebar visibility cause the layout broken.

[1.gif.zip](https://github.com/microsoft/vscode/files/3577468/1.gif.zip)

my settings:

"workbench.sideBar.location": "right"
"workbench.editor.showTabs": false
"workbench.activityBar.visible": false

The settings badge was at the bottom right corner, now It's

[2019-09-05 04:37] aadisriram commented on #15949
I built something for atom to be able to restore workspace because I was sick of losing all my tabs, I made this associate the state (files, tabs, arrangement etc) to the local commit, so if users moved between commits it would be able to restore their last known workspace state  for that hash (even if the hash was amended multiple times, it would be able to track the changes based on mercurial).

[2019-09-05 04:42] LeuisKen commented on #79275
Is there any plan for this issue ?

[2019-09-05 04:46] bpasero commented on #80323
@runfaj can you share your settings file and explain under which condition the file is saved exactly?

[2019-09-05 04:47] #80314 closed

[2019-09-05 04:47] #80317 closed

[2019-09-05 04:49] bpasero commented on #80296
It is great to have a repro for this as it spams our error telemetry with lots of errors and we have not been able to figure this out yet. See https://github.com/microsoft/vscode/issues/79165

[2019-09-05 04:50] bpasero commented on #80132
@Tyriar

[2019-09-05 04:52] bpasero commented on #80334
@roblourens thanks, I am not sure what I was thinking there, this strict property work is already causing bugs. I will probably revert that change altogether because it seems quite risky to me to always work on a different history object...

[2019-09-05 04:52] #79710 closed

[2019-09-05 05:02] mtrp12 opened #80359 "Render mathematical notation in quick documentation"
![image](https://user-images.githubusercontent.com/6695345/64313062-f6b01380-cfdc-11e9-854e-50c068d9da7f.png)

Hi, it would be nice to have mathematical notations declared in many different documents to be rendered in quick documentation or show hover feature. Thank you.

[2019-09-05 05:31] slavdok opened #80360 "Allow import of additional settings files to the main user settings.json"
Much like apache/nginx and linux profile scripts, it would be great if the main User settings.json file had an "include" directive, to load the "next" settings file. All the same settings will be allowed in this "next" file. If there are duplicates, the last one takes overrides the previous.

The rationale is that I can have a "base" configuration, which would be my personal preferences regardless

[2019-09-05 05:52] #80007 closed

[2019-09-05 05:55] olibraun commented on #80324
@rebornix I agree that this is a duplicate of issue #60713
Thank you for pointing this out.

However, the duplicate issue does not contain a fix - merely a statement akin to "this is as designed".
I think this issue is ciritical because I want to keep using VSCode for my work and a task such as editing a large file is quite common.
In addition, I see no reason why the limitation described in this

[2019-09-05 06:23] Thaina opened #80361 "Inconsistency between newline of search between file and workspace"
Latest version 1.38 introduce ability to add new line into search. Which is really great. But it also introduce `ctrl+enter` that was differ from workspace search that use `shift+enter`

I would like to voice that we should use the same everywhere. And so we should use `ctrl+enter` to add newline in workspace search too from the next version. We should also discourage usage of `shift+enter` for ne

[2019-09-05 06:24] aeschli commented on #80311
We discussed this in the ZRH stand-up yesterday and we agreed that we first wait and see a week or two  if terser is able to fix the issue and discuss further steps after.

[2019-09-05 06:42] Otiel commented on #12048
@rebornix Thanks for implementing this!

[2019-09-05 06:46] aeschli commented on #79881
@sgtz Sorry, I can't follow your steps.
    staylor@ABC123:~$ alias code
    alias code='code'
    staylor@ABC123:~$ cd /c/some_dev_dir
    staylor@ABC123:~$ code .

Is this inside a WSL shell?

[2019-09-05 06:55] bjon commented on #80357
@jeanluc243 This is the official snap repo: https://snapcraft.io/code.
But that also still at 1.37.1

[2019-09-05 07:02] aeschli commented on #76649
Unable to reproduce. Please reopen with more information.
- After step 1, is the window open on a folder or a workspace?
- If it is already a workspace, Run `Preference: Open Workspace Configuration File` ans paste what's the content of the workspace file.

[2019-09-05 07:02] #76649 closed

[2019-09-05 07:07] 0ldF0x opened #80362 "Peek Definition + ENTER doesn' go to definition anymore"
Issue Type: <b>Bug</b>

How do you go to definition from peek definition window?
Before the 1.38.0 update you simply pressed enter in "peek definition" (ALT+12) and it jumped to definition. After the update this doesn't work anymore?

VS Code version: Code 1.38.0 (3db7e09f3b61f915d03bbfa58e258d6eee843f35, 2019-09-03T21:49:13.459Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System In

[2019-09-05 07:15] jrieken commented on #80295
Do you also know how? When an extension errors then we don't prevent completions, but when extensions never return a result we do (after what timeout should we stop). Then for trigger characters it gets more tricky. There is a pretty clear note in the docs: https://github.com/microsoft/vscode/blob/bd79c20ac85d44a42d28defb6aa280d5e9ab066b/src/vs/vscode.d.ts#L8167-L8170. Only triggering providers wh

[2019-09-05 07:16] jrieken commented on #80320
/needsMoreInfo

In what files are you trying auto complete? Can you open a plain text file, and type a few words and see how fast/slow auto complete happens?

[2019-09-05 07:20] dibalavs commented on #79860
No, embedded process monitor is working, numbers are updating, but do not match with 'top' tool.
I right now checked, top shows 100% of cpu usage., but process monitor - 12%.
I think it is related to measurement calculation.
In case of top - 100% means: 1 CPU eats 100% time.
In case of embedded process explorer - 100% means: 8 cpus eat 100% time.
But I am not sure, This is my assumption.

Fatrace

[2019-09-05 07:21] jrieken commented on #80074
Using `--incremental` doesn't change things, something like scenario 6 is still ~30seconds

[2019-09-05 07:23] jrieken commented on #80303
Like this: [`vscode.languages.setTextDocumentLanguage`](https://github.com/microsoft/vscode/blob/bd79c20ac85d44a42d28defb6aa280d5e9ab066b/src/vs/vscode.d.ts#L8088)?

[2019-09-05 07:23] joaomoreno commented on #78167
OK, sorry again @sbatten... @jrieken give it a try, if it's good enough let's leave as is. Else, we gotta tackle the menubar, since `overflow: hidden` does make sense in splitview views.

[2019-09-05 07:25] dmitrydprog opened #80363 "File explorer disable"
Issue Type: <b>Bug</b>

1. Create empty folder `mkdir foo`
2. Open folder in vscode `code ./foo`
3. Create new file in folder from vscode (right click -> New file)
4. Execute in "foo" folder `sleep 3 && touch new_file`
5. Start rename file in vscode
6. Wait 3 seconds, new file created, File Explorer disabled (more no clickable on him)

Reproduce video: https://webm.red/jjhw.webm

VS Code version:

[2019-09-05 07:26] shivanani54 opened #80364 "I have developed a visual studios web browser, I need to add extensions to my browser can any one help me"
I have developed a web browser using visual studios,. I need to add tamper money extension to my browser. can any one let me know how c
[SSMMS V1.3.zip](https://github.com/microsoft/vscode/files/3577979/SSMMS.V1.3.zip)
an i add tamper monkey to my web browser

[2019-09-05 07:28] gauravmahto commented on #78138
FYI @deepak1556
Tested with 1.38. the problem still persist.
Let me know if there is anything I can do.

[2019-09-05 07:33] jrieken commented on #80362
@bpasero @joaomoreno Did anything change in the tree or the workbrench tree? It seems that the item that got initially focus cannot be selected with `Enter` anymore

[2019-09-05 07:34] Mahmoudian-B opened #80366 "Hiding the maximized panel distorts the normal size"
Reproduction steps:
1. Open any panel (Terminal, Problems, ...)
2. Restore the panel and set a desired height
3. Maximize the panel
4. Hide the panel
5. Show the panel
6. Restore the panel -> the initially set height in step 2 is not preserved.

VS Code version: Code 1.38.0 (3db7e09f3b61f915d03bbfa58e258d6eee843f35, 2019-09-03T21:49:13.459Z)
OS version: Windows_NT x64 10.0.18362
Remote OS version:

[2019-09-05 07:35] jrieken commented on #80347
It's this setting `"editor.suggest.snippetsPreventQuickSuggestions"`

[2019-09-05 07:35] #80347 closed

[2019-09-05 07:35] MortimerJarasemy opened #80367 "Name is not suitable to be abbreviated"
- VSCode Version: unrelated
- OS Version: unrelated

Steps to Reproduce:

1. Look at program tittle

The issue is the following the abbreviation **VS** is far too culturally extended that **VS stands for versus**, not visual studio and hence, me and what I figure is also many other people read Versus Code, this is so ingrained in our culture I am suprised nobody has signaled this before.

I think

[2019-09-05 07:44] joaomoreno commented on #80355
Right click in the Source Control title, and make the Source Control Providers view visible. Then, you can use selection in that view to control which repositories are visible.

As a general splitview issue: https://github.com/microsoft/vscode/issues/64188

[2019-09-05 07:44] #80355 closed

[2019-09-05 07:49] purplekrayons commented on #15949
@aadisriram sounds interesting but I'm interested in better understanding what you mean by basing the saved state on 'the local commit'? Would I be correct in assuming that you are assuming that a user associates an single instance of VS Code to a single project? If this is true, I'm not sure I understand how this relates to workspaces in VS Code which can have many projects/repositories in that s

[2019-09-05 07:52] #79012 closed

[2019-09-05 07:55] xiaoxiangmoe opened #80368 "support destructuring parameter @param tag in tsdoc"
tsdoc rule:

https://github.com/microsoft/tsdoc/issues/186

example:

[code]

![image](https://user-images.githubusercontent.com/8111351/64322482-3c78d600-cff5-11e9-96f0-1c4118bfb05d.png)
![image](https://user-images.githubusercontent.com/8111351/64322628-85308f00-cff5-11e9-83f5-cba6d8269b9c.png)

[2019-09-05 07:57] jabacchetta commented on #80347
@jrieken Actually, I gave a bad example. Normally, you're right, that setting would prevent suggestions. But in this case, the bug still stands, even with that setting disabled.

This is an issue in all JSON files, regardless of whether or not you're actively in a snippet.

[2019-09-05 07:57] #76507 closed

[2019-09-05 07:59] joaomoreno commented on #80362
The item already is both focused and selected, so pressing Enter won't fire a selection change event since the selection doesn't change. I copied the same `if` statement which is located 10 lines above. Right now both events are being listened to, I believe for your use case we can simply drop the selection change and simply listen to the open event.

[2019-09-05 08:00] #80362 closed

[2019-09-05 08:04] xavier-deryckere commented on #80111
I was in a training and did not monitor this issue.
I changed the value with the debug console.
- Put the code in a file
- Open the file in VS Code
- Put a breakpoint (F9) on the 'let cond' line
- Run (F5 - add a 'node' section in launch.json)
- in the debug console, enter "yesOrNo = true"
- execute current instruction (F10)
- check the value of "cond", it is false, while true was expected

[2019-09-05 08:08] sandy081 opened #80369 "Recommended Extensions are not updated if already open"
From @sbatten

## Repro
1) Open a repository with workspace recommendations that do not include python
2) Click show recommendations in the notification that appears
3) Create a new python file in the workspace and open it
4) Click show recommendations in the notification that appears

:bug: => The extension viewlet is shown but the python extension is not added to the recommendations list.

[2019-09-05 08:08] sandy081 commented on #80369
From @sbatten

I am wondering if this can be passed to force a reload even when the same query is used

[2019-09-05 08:09] HenrikHolmIT commented on #3553
I need this feature now. Has it ever been implemented or is there another way to get the selected items in the explorer view?

I need to search for specific files but only in the currently selected folder.

[2019-09-05 08:15] HenrikHolmIT commented on #15991
I need this feature now. Has it ever been implemented or is there another way to get the selected items in the explorer view?

I need to search for specific files but only in the currently selected folder.

[2019-09-05 08:16] nuno-andre commented on #45177
I just can't understand this "It's not a bug, it's a feature" attitude.

I usually scaffold related projects in a single metarepo set to track my dev server (so I can upstream-track the children repos) together with folders for integration tests, building tools and artifacts and an an ever-increasing number of related files.

One of these files is a `.code-workspace` which is, as the rest of them,

[2019-09-05 08:17] Eskibear opened #80370 "RunInTerminal fails because of not quoting args in Git Bash for Windows"
When using Git Bash as the default shell, VS Code doesn't quote args containing <kbd>;</kbd>, leading to failure of lauching the debuggee process.

[code]

Steps to Reproduce:

1. Install "Java Extension Pack" (or at least "Language Support for Java(TM) by Red Hat" and "Debugger for Java")
2.  Open a simple Maven project with more than 1 dependency, e.g. [quickstart.zip](https://github.com/microso

[2019-09-05 08:19] Eskibear commented on #80370
Just FYI that it's originally reported in https://github.com/microsoft/vscode-java-debug/issues/642 after we switch default console to "integratedTerminal".

[2019-09-05 08:24] whlkw opened #80371 "activate event for vscode extension"
- VSCode Version: 1.37.0
- OS Version: win10

Steps to Reproduce:
I am developing a lisp language extension based on Vscode. In my app I calls the "CreateProcess" windows API to launch the vscode, and then I want to pass some information to the extension, I see this page:
https://code.visualstudio.com/api/references/activation-events#onUri

I want to bring some information in the uri:
"activationE

[2019-09-05 08:28] jrieken commented on #80362
Hm, the weird thing is that it works in 1.37

[2019-09-05 08:30] isidorn commented on #79196
@dgozman I planned to look into this next week and I have not started coding yet.
However if you have a PR which contributes a nice fix I would be very interested to see it. So maybe you can create it with what you have and we can start a discussion there.
I wonder if you tackled this like I suggested to split the "double objects" in the REPL model in two, or you found another fix. Anyways we can

[2019-09-05 08:30] SSmale opened #80372 "Integrated Terminal split terminal sizing issue"
- VSCode Version:
[code]
- OS Version: Windows 10 pro

Steps to Reproduce:

1. Open two or more terminals in split mode and the text sizing is about 1/2 the width of the terminal window

Does this issue occur when all extensions are disabled?: Yes

[2019-09-05 08:31] jrieken commented on #80347
Yeah, that's mostly #30811 or actually the fact the JSON defines words to include quotes, so for JSON a word is `"foo"` and not `foo`. That, combined with the fact that typing `"` auto 'closes' to `"|"` always puts you into this unlucky position.

fyi @aeschli

[2019-09-05 08:31] xuweichn opened #80373 "result of python list deug is differnet from running"
code:
x = ['foo', 'card', 'bar', 'aaaa', 'abab']

x.sort(key=lambda a: len(list(a)))
print(x)

previously, code was:
x = ['foo', 'card', 'bar', 'aaaa', 'abab']

x.sort(key=lambda a: len(set(list(a))))
print(x)

debug output: ['aaaa', 'abab', 'bar', 'card', 'foo']

running result: ['foo', 'bar', 'card', 'aaaa', 'abab']

environment: miniconda 3.6 + python 3.6.5

[2019-09-05 08:34] isidorn commented on #80321
This could be implemented by an extension.
The extension should simply contribute the command "Rename File" in the command palette. And then the user can rename the file without opening the file explorer.

[2019-09-05 08:34] #80321 closed

[2019-09-05 08:34] cruzortiz99 commented on #80320
I've been working on a Vue project, so it's almost everything .js and .vue
files. The time that it take to run the auto completion is almost 3 sec. I
hope this is useful to you

On Thu, Sep 5, 2019, 3:19 AM Johannes Rieken <notifications@github.com>
wrote:

[2019-09-05 08:37] isidorn commented on #80309
We have some novice users that easily delete their files. Due to that we are a bit too cautios with all delete dialogs.
And yes we do not take VCS into account at all.

Though leaving this open as a feature request for now.

[2019-09-05 08:40] joaomoreno commented on #80362
Yeah that's pretty weird. 🤔

[2019-09-05 08:42] isidorn commented on #80330
I can not reproduce following your exact steps.
Can you preorduce with altest vscode insiders https://code.visualstudio.com/insiders/

[2019-09-05 08:43] huyp182 commented on #80245
The memory is about 128GB, I think the number of the threadings run by VSCode Remote reached maximum the system allows.

[2019-09-05 08:43] huyp182 commented on #80245
I just wonder why the threadings aren't killed when I exit VSCode Remote.

[2019-09-05 08:45] jrieken commented on #80320
Please retry without extensions enabled. Select 'Extensions View > ... > Disable all Installed Extensions' and try again. Thanks.

<img width="577" alt="screen shot 2018-05-09 at 08 45 10" src="https://user-images.githubusercontent.com/1794099/39799711-82d97e00-5365-11e8-8bd8-6b6fc3500370.png">

[2019-09-05 08:45] weinand opened #80374 "Support cancellation in DAP communication"
related issues:
- DAP:
- DAP library: https://github.com/microsoft/vscode-debugadapter-node/issues/186

[2019-09-05 08:49] alexr00 commented on #78817
@kcaze thanks for making sure I noticed this. I've restored the behavior that existed before with global tasks.

[2019-09-05 08:50] alexr00 opened #80375 "Stabilize CustomExecution task API"

[2019-09-05 08:52] alexr00 commented on #80375
@GabeDeBacker FYI

[2019-09-05 08:52] #79972 closed

[2019-09-05 08:52] #76999 closed

[2019-09-05 08:54] coldino commented on #40233
This is also an awkward problem with using MS's own Python extension when using the `pipenv` virtual environment due to the fact that the virtual environment is kept outside the workspace (usually with a unique name per user and folder).

The existing settings scapes are *user* and (shared/committed) *workspace*. Where should I put a config entry that points to the virtual environment for this fol

[2019-09-05 08:54] borekb commented on #80309
Thanks, I am aware of issues like https://github.com/microsoft/vscode/issues/32405 or https://github.com/microsoft/vscode/issues/32459 😄.

By the way, does `explorer.confirmDelete` influence whether I see this dialog or not? I had it set to `false` for a very long time and don't remember seeing this dialog before July 2019 version of VSCode – has something changed recently?

[2019-09-05 08:55] lautjy commented on #15949
.. For what my comments are worth, I've seem to have changed my working habits to somehow match VSCode UX. I now try to open one VSCode instance per code repository. VSCode keeps the state in that folder/repository, and always opens the tabs what I previously had open.

This means I've created one "project" / "context" (just a folder) for main information collecting, main todo lists, random temp s

[2019-09-05 08:57] alexr00 commented on #68661
@kevindiclemente Does task 1 use the same problem matcher as task 2?

If they use the same problem matcher, you should modify the problem matcher for one of the tasks to have a different `source`.

[2019-09-05 09:01] St3fa11 commented on #80318
Thanks for the attention to this point.
Somehow the extension was deinstalled. After installing it again the editor works as before.

How is this possible? I didn't deinstalled it, because I need it for my daily work.
This is very weird. That's why I also didn't check my extensions and ask for help.

Lead the automatic update function in VSCode to this?

Big thanks for the help.

[2019-09-05 09:05] isidorn commented on #80309
@borekb that sounds like a bug. If `explorer.confirmDelete` is set to false, we shuold never ask.

I can not reproduce the behavior you are saying. Can you reproduce with latest vscode insiders https://code.visualstudio.com/insiders/
If yes do you have something special about your workspace?

[2019-09-05 09:10] CrabThug opened #80376 "Indicator on extensions intergrated"
Hi,
We loves Code, it's a good tool for all project especially grace of lot of extensions.
But when I see update, I can't know if u add a functionality who was add with extensions.

Can we hav an indicator to know if an old extensions is deprecated or integrated in the software ?

thx

[2019-09-05 09:13] axi92 commented on #35901
I have the same problem
Reproduce: echo "___" into terminal

Version: 1.37.1
Commit: f06011ac164ae4dc8e753a3fe7f9549844d15e35
Datum: 2019-08-15T16:17:25.463Z
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
Betriebssystem: Linux x64 4.15.0-60-generic

[2019-09-05 09:18] bpasero commented on #79460
@bbugh still good with latest insider release from today? Then I would go ahead and close this.

[2019-09-05 09:18] #80221 closed

[2019-09-05 09:19] alexr00 commented on #80221
To verify, open a _workspace_ (not a folder) that doesn't have a tasks.json. Verify that going to Terminal > Configure Tasks shows a quick pick that includes an option to create a tasks.json.

[2019-09-05 09:21] HoppeMateusz opened #80377 "C++ std::unique_ptr is not evaluated during debugging"
- VSCode Version:
Version: 1.38.0
Commit: 3db7e09f3b61f915d03bbfa58e258d6eee843f35
Date: 2019-09-03T21:51:09.716Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x64 5.0.0-25-generic

- OS Version:
Ubuntu 18.04

Steps to Reproduce:

1. program with std::unique_ptr<> with custom class template parameter
2. start debugging program
3. break at unique_ptr va

[2019-09-05 09:22] borekb commented on #80309
Insiders behaves the same.

I found out why I'm seeing the prompt now and don't remember seeing it in the past: it's because a few weeks ago, I added `"files.enableTrash": false` to my settings and **this combination leads to a prompt**:

[code]

That's probably expected (although a gray area, IMO; I'm more on your side with "If `explorer.confirmDelete` is set to false, VSCode should never ask").

[2019-09-05 09:24] arbaes commented on #46326
Landed here after searching for how to enable this feature. It seems it's my turn to finally drop the classic `Any news on this ?`

[2019-09-05 09:26] LeonhardFeiner commented on #3742
I would like to suggest similar behaviour as the Microsoft Office ribbon interface:

- single click on icon => it opens until you click outside
- double click on icon => it opens pinned and stays until the next double click on the same icon
- double or single click on other icon while being pinned => changes content but stays pinned

[2019-09-05 09:29] joachim-n opened #80378 "File > Open Recent > More... doesn't work if there is no window open"
- VSCode Version: 1.38.0
- OS Version: MacOS 10.14

Steps to Reproduce:

1. close all windows
2. Go to File > Open Recent > More... to open a project that's not in the most recent list

Does this issue occur when all extensions are disabled?: Yes

[2019-09-05 09:30] isidorn opened #80379 "LoadedScriptsView: id of item should not depend on label"
When a session's `name` get changed the Loaded Scripts View looses selection / expansion state for that session.
The reason for this is that we compute the tree id of the session element based on the label [here](https://github.com/microsoft/vscode/blob/master/src/vs/workbench/contrib/debug/browser/loadedScriptsView.ts#L114)

We should not use the `label` when computing ids, but we should use some

[2019-09-05 09:31] isidorn commented on #80257
Tackled via https://github.com/microsoft/vscode/pull/80122

[2019-09-05 09:31] #80257 closed

[2019-09-05 09:36] 0x77dev commented on #32257
Who can make the tutorial?

[2019-09-05 09:39] isidorn commented on #80309
Makes sense. Let's leave this open for now to gather more user feedback.
Though I feel like these two options are unrelated, and if the confirm delete is false it should never ask no matter if you have trash scm or whatnot.

[2019-09-05 09:40] Skelly1983 opened #80380 "Hint bulb icon position"
Issue Type: <b>Bug</b>

The hint bulb icon needs to be in the gutter as the current position is in the way and looks odd, it makes it look more like there is an issue with the UI or theme.

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:16:34.800Z)
OS version: Darwin x64 17.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) C

[2019-09-05 09:46] belaw opened #80382 "Multi cursor text block selection with middle mouse click doesn't work the first time"
Issue Type: <b>Bug</b>

## Action
While holding shift, click the middle mouse button at the desired position to select a text block.

## Expected Result
Text block from the current position of the cursor to the position you clicked is created (same as when you click while holding shift+alt).

## Actual result
The cursor jumps to the position you clicked and no selection is created.
Keeping shift p

[2019-09-05 09:53] #80369 closed

[2019-09-05 09:54] HoppeMateusz commented on #70366
That feature is very useful, all other GUI IDEs have that.
Do you consider adding that?

I would really like to have ability to move next instruction pointer in C++ debugger.

[2019-09-05 09:54] martinovallara opened #80383 "I can't install extensions"
Issue Type: <b>Bug</b>

I click on "install" of any extension and this error happen:

[2019-09-05 11:35:17.639] [renderer1] [error] EACCES: permission denied, open '/Users/martinovallara/.vscode/extensions/.obsolete': scanningUser: EACCES: permission denied, open '/Users/martinovallara/.vscode/extensions/.obsolete'
    at t.push.scanUserExtensions.then.e (file:///Applications/Visual Studio Code.ap

[2019-09-05 09:56] bpasero commented on #80285
Got it. It looks like we did an explicit decision (in https://github.com/microsoft/vscode/commit/29ab6980dc49b713ba1bf1877859488a60208a2f) to only keep notifications around that ask the user for input, even if the window does not have focus. I think we can leave this open as feature request, but I am not sure if we want to change this in the near term. We are sensitive to not showing too many noti

[2019-09-05 10:00] DanTup commented on #63129
It's been marked as a feature (even though it seems to surely be a bug to assume language servers don't know how to indent), so I'm not sure it'll be fixed anytime soon.

Maybe it's worth trying to work around in the extension by reading the indent level from the current line and subtracting that much whitespace from each line? 🤔 It does mean if VS Code ever does fix it, we'll be wrong in the oppo

[2019-09-05 10:03] GaneshKoirala opened #80384 "Bug On Nodejs"
Issue Type: <b>Bug</b>

not showing nodejs codes autocomplete like require and nodejs modules after recent updates just a min

VS Code version: Code 1.38.0 (3db7e09f3b61f915d03bbfa58e258d6eee843f35, 2019-09-03T21:49:13.459Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7200U CPU @ 2.50GHz (4 x 2712)|
|GPU Status|

[2019-09-05 10:05] dancojocaru2000 commented on #63129
Programmers joke about transforming bugs into features but VS Code devs seem to have taken it literally.

[2019-09-05 10:07] retifrav commented on #79878
If anything, I found how to control the wrapping in the OUTPUT panel:

[code]

Which cannot be set/found via regular settings view, so one have to edit `settings.json` manually.

I don't know how did it work for me before as I did not have this setting, but indeed, it has nothing to do with `debug.console.wordWrap`, sorry for the confusion.

[2019-09-05 10:25] h-h-h-h opened #80385 "vscodecandothat.com -- Wrong link"
From the YouTube channel https://vscodecandothat.com/ links to, it seems this page is directly associated with you. And since there's no other means of contact, I'll post it here:

On https://vscodecandothat.com/, the "Learn More" link under "Force Collapsible Regions" is wrong; it's the same as the one under "Refactor Promises to Async/Await". It's all at the top of the page.

[2019-09-05 10:25] jrieken opened #80386 "SCM placeholder is soo long that input widget wraps"
I would not expect that the input box wrap when it shows a placeholder, only when I type something

<img width="403" alt="Screenshot 2019-09-05 at 12 24 26" src="https://user-images.githubusercontent.com/1794099/64334111-2b6d9c00-cfd8-11e9-9a4e-f9ddc64ebb84.png">

[2019-09-05 10:26] sandy081 commented on #80178
Yes, at present we ship some of our extension previews only for insiders. I agree that there needs to be a support for this feature in VS Code. Here is an open request for that - https://github.com/microsoft/vscode/issues/15756

w.r.to recommendations we will see if we can implement to check if one of the extensions is already installed.

[2019-09-05 10:29] borekb commented on #80309
Do you think it's worth creating a separate issue about the `confirmDelete` and `enableTrash` interaction? I thought I'd ask first because VSCode has enough open issues already 😄.

[2019-09-05 10:31] sandy081 commented on #79493
You can do following:

- Set the log level to trace
- Open Window Output log `F1 > Open View > Window log`
- Clear the log
- Open Keybindings.json file and do edits
- Check in the logs for existence of `keybindings.json`

If possible provide us the logs

[2019-09-05 10:33] sandy081 commented on #80065
https://github.com/microsoft/vscode/blob/master/src/vs/code/node/cliProcessMain.ts#L83

[2019-09-05 10:37] MajhiRockzZ opened #80387 "Edit Menu --> Toggle Line Comment wrong shortcut key info."
Issue Type: <b>Bug</b>

## Shortcut for "Toggle Line Comment" will be "Ctrl + /".
## But give "Ctrl + Shift + /" for both Toggle Line/Block Comment.

VS Code version: Code 1.38.0 (3db7e09f3b61f915d03bbfa58e258d6eee843f35, 2019-09-03T21:49:13.459Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8300H CPU @ 2.30GHz (

[2019-09-05 10:40] sandy081 commented on #79038
User data configuration files are using `vscode-userdata` scheme from 1.37.0 but it is still using `jsonc` language. Can prettier extension use language instead of scheme for document selector and formatting?

[2019-09-05 10:52] #79958 closed

[2019-09-05 11:00] VitaliKaiser opened #80388 "Remote (ssh) offline installation support"
When connecting to a remote computer with the remote extension, the remote machine needs to be prepared first. Unfortunately, this machine also needs internet in order to download the vscode remote server.
But if the machine has no access to the internet, you cant connect to it. My proposal is to transfer the necessary files for the vscode remote server via ssh from the host.

The same goes for ex

[2019-09-05 11:04] knopp opened #80389 "Preserve Case checkbox doesn't respect inputOption.activeBackground"
Happens in both 1.38.0 and current insiders (7edc8f786e065edbc9540f1e19ebd9220b9e0cf9)

Tested with

[code]

It should have bright red background in checked state instead of gray.

<img width="306" alt="Screen Shot 2019-09-05 at 13 02 18" src="https://user-images.githubusercontent.com/96958/64336499-6a522080-cfdd-11e9-89d1-73c0e9f61adc.png">

[2019-09-05 11:13] GuiRitter opened #80390 "Multiline pasting fails on exactly two lines"
Issue Type: <b>Bug</b>

Hi everyone.

Consider the following piece of text:

[code]

Copy the `foo` word from arrow to arrow, in order to include the new line character. Place the caret at the end of the line containing `1st`. Place another caret at the end of the line containing `2nd` (default `Alt+click`). Paste. This is the expected result:

[code]

This is the actual result:

[code]

Only one

[2019-09-05 11:14] twistin opened #80391 "tecla retroceder y llaves (keys) y otrasa no responden"
Hemos escrito los datos necesarios en su Portapapeles porque eran demasiado grandes para enviarlos. Ahora debe pegarlos.

[2019-09-05 11:15] twistin commented on #80391
Issue Type: <b>Bug</b>

tecla retroceder y llaves (keys) y otras no responden en VSC en windows 8

VS Code version: Code 1.35.0 (553cfb2c2205db5f15f3ee8395bbd5cf066d357d, 2019-06-04T01:17:12.481Z)
OS version: Windows_NT x64 6.2.9200

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD E1-1200 APU with Radeon(tm) HD Graphics (2 x 1397)|
|GPU Status|2d_canvas: enabled<br>check

[2019-09-05 11:15] #80391 closed

[2019-09-05 11:15] GuiRitter commented on #80390
Apart from the obvious first one, the other issues appear unrelated to me.

[2019-09-05 11:18] joaomoreno commented on #80386
https://github.com/microsoft/vscode/issues/79029

OK you guys discuss, let me know who wins.

[2019-09-05 11:21] joaomoreno commented on #80307
This is impossible to do without adding a delay to the single click... otherwise we would always open two editors on double click. Additionally, the open file action is there on every row specifically as a single click action. Closing this as won't implement. Sorry!

[2019-09-05 11:21] #80307 closed

[2019-09-05 11:22] joaomoreno commented on #79490
Have you tried disabling antivirus software while the update runs?

[2019-09-05 11:22] bpasero commented on #80386
I don't mind that we do not wrap, however this:

![image](https://user-images.githubusercontent.com/900690/64337731-3c221000-cfe0-11e9-8101-c92faa71be8e.png)

Looks broken. If we do not wrap then we should really not wrap and show 1 line with "..." in that input field.

[2019-09-05 11:30] AshleyFinneyEPS commented on #66906
Confirmed still active.

VSCode Version: 1.37.1
OS Version: Windows_NT x64 10.0.18362
Steps to Reproduce:

Have 2 monitors (1920x1200 twice)
Open Visual Studio Code
Maximise window
Note that VSCode window is fully filling and contained in one monitor
Go to the full-screen mode (F11)
Return back by pressing F11 again

Expected result
VSCode window should be fully filling and contained in one monito

[2019-09-05 11:33] #80386 closed

[2019-09-05 11:36] joaomoreno commented on #80279
What about in the Command Prompt? What about inside VS Code's Terminal?

[2019-09-05 11:37] joaomoreno commented on #79396
Alright, merging this into #5970

[2019-09-05 11:37] #79396 closed

[2019-09-05 11:37] joaomoreno commented on #80298
Can you provide details steps on how I can reproduce this?

[2019-09-05 11:38] joaomoreno commented on #79239
Can you reproduce with `code --disable-extensions`?

[2019-09-05 11:44] czfadmin opened #80392 "Enable workbench.tree.horizontalScrolling, causing the scrollbar to appear where it should not appear."
Issue Type: <b>Bug</b>

When I enable workbench.tree.horizontalScrolling, the following GIF will appear, causing the scrollbar to appear somewhere else. I have disabled all extensions and reproduced this issue without enabling any extensions.

![error_edge_3](https://user-images.githubusercontent.com/13393959/64338935-6e019980-d015-11e9-8f56-bfa6a161ea84.gif)

VS Code version: Code - Insiders 1.39

[2019-09-05 11:51] wongjn opened #80394 "Snippet transformations: If-type transforms cannot use backslashes"
Issue Type: <b>Bug</b>

Steps to Reproduce:

1. Create user snippet:
[code]
2. Insert snippet into the document.

Expected output:
[code]
Actual output:
[code]

This was working correctly in `1.37.x`.
Works correctly if you replace `\\\\` with anything else.

VS Code version: Code 1.38.0 (3db7e09f3b61f915d03bbfa58e258d6eee843f35, 2019-09-03T21:49:13.459Z)
OS version: Windows_NT x64 10.0.17763
Remo

[2019-09-05 11:59] Pascal3100 opened #80395 "issue with tcl langage"
Issue Type: <b>Bug</b>

Hi all,

i have a problem when coding in tcl langage since 2 versions ago.
When typing the following commands:
        set item [regsub -all {\$. *} $item ""]
        set item [regsub -all { *$} $item ""]
        set item [string map {"#_" "" " " "_"} $item]
all the following code is interpreted as comment.
I've changed the tcl extension but the problem still there so i thi

[2019-09-05 11:59] isidorn commented on #80379
Also on session change `name` we shuold not do all this magic [here](https://github.com/Microsoft/vscode/blob/d0898d57d4ba950cece5aad11eb06f9ce1bb4f0a/src/vs/workbench/contrib/debug/browser/loadedScriptsView.ts#L480)
I think a simple `tree.rerender` should be enough (on top when we change the ID computation to no longer depend on `label`)

[2019-09-05 11:59] hegerdes opened #80396 "terminal leve"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2019-09-05 11:59] #80396 closed

[2019-09-05 12:00] t-hofmann commented on #43188
I second the multi-workspace idea.

[2019-09-05 12:24] JLa2r opened #80397 "Right-clicking class name opens "psuedo-file" with wrong filename"
Issue Type: <b>Bug</b>

I have a file "../src/app/shared/navUtility.ts" which defines
export abstract class NavUtility {}

right-clicking on the name NavUtility (in this file or any file that references this class) cases VSCode to open the navUtilty.ts file but it's named as "NavUtility.ts".  Changes made in either file are represented in both files, but the filename change is misleading and confu

[2019-09-05 12:37] letmaik opened #80398 "${workspaceFolder} broken in "default" of task inputs"
- VSCode Version: 1.38.0
- OS Version: Windows 10

Steps to Reproduce:

1. Add a `promptString` input with a default of `"default": "${workspaceFolder}/foo`. The resolved value will be `/foo`.

This did work in the past but I haven't tested it in a while.

Does this issue occur when all extensions are disabled?: Yes/No

[2019-09-05 12:39] VitaliKaiser commented on #80388
As far as I can judge none of them are directly correlated.

[2019-09-05 12:45] isidorn commented on #80309
I think just this one is fine for now. Thanks

[2019-09-05 12:46] DOHere commented on #16488
search function needs to improve

[2019-09-05 12:48] jakubmisek commented on #71968
currently we are providing paid extension with trial - we wouldn't mind marking it "free trial" or "trial" or "paid" or whatever - we don't want to confuse our users and we don't want to mystify them :)

https://marketplace.visualstudio.com/items?itemName=DEVSENSE.phptools-vscode

for now, we have marked it `preview` and we added badges all over the readme

![image](https://user-images.githubuserc

[2019-09-05 12:49] NISHIT103 commented on #77184
Hello there, I am a developer and I have gone through the whole code base and I think that I can add this feature without much problem. Can I please give it a shot?

[2019-09-05 12:56] gkkirilov commented on #77184
@NISHIT103 Please do, you can check the [previous PR](https://github.com/microsoft/vscode/pull/77515)

[2019-09-05 13:02] waynebloss commented on #6328
I think VS Code is just great but this is such a basic feature for it to be lacking.

[2019-09-05 13:05] ryenus commented on #80307
@joaomoreno

I guess single-click and double-click are already differentiated by the operating system, isn't it?

And yes, I know there's a little icon I can click to open the file. The reason I'm proposing this is that it's much easier to double-click on the entry row in contrast to click on the little icon.

Would you please consider? I'm thinking we just need to register a double-click event in

[2019-09-05 13:08] rohitkotak opened #80399 "Using env varibales in tasks.json"
- VSCode Version: 1.34.0
- OS Version: windows 10

**Steps to Reproduce:**

1. Create new task in tasks.json
2. Use environment variable(having installation path stored) in command of that task

I created new vscode task in tasks.json where I want to execute one exe file from command. So I created on environment variable(i.e. MY_PATH) to store the path of that exe.

**Below is the command of the v

[2019-09-05 13:12] normanfeltz opened #80400 "Error with TypeScript"
Hi,

After the update this morning, a error appeared on my project :
![2019-09-05_14-17-47](https://user-images.githubusercontent.com/1359159/64341216-2a446b00-cfe8-11e9-81bd-27b1fbfa45b1.png)

I'm in TypeScript 3.6.2

Cordialy

Norman F.

Technical Info:
Version : 1.38.0 (user setup)
Validation : 3db7e09f3b61f915d03bbfa58e258d6eee843f35
Date : 2019-09-03T21:49:13.459Z
Électron : 4.2.10
Chrome : 6

[2019-09-05 13:15] joaomoreno commented on #80307
They are, that's not the problem. Here's the classic description of the click vs double click problem: once a click happens, how long does the application wait for another click in order to understand the whole action is indeed a double click? This is OS specific, but let's say it's 200ms. This means that either:

- Once the user clicks we must wait 200ms to *Open Changes* because another click mi

[2019-09-05 13:16] alexr00 opened #80401 "Stabilize TreeView message API"

[2019-09-05 13:20] pcolmer commented on #73789
I've just started seeing this when launching `code-insiders` from WSL. Before today's update, running `code-insiders .` would launch VS Code **and return to the command prompt**. Now, the WSL console displays a couple of messages from "update#setState" but doesn't return to the command prompt until I quit VS Code.

[2019-09-05 13:22] weinand opened #80402 "debug UI doesn't cleanup pending requests on debug session end"
- modify mock-debug so that the response of the `variables` request is delayed:
[code]
- start debugging
- observe spinning in Variables view
- terminate debug session

Observe: spinning continues

[2019-09-05 13:23] isidorn opened #80403 "DialogService: three butons and a checkbox"
Currently the `dialogService` only allows me to have a checkbox if I do a `confirm`. Due to that I can only have two buttons and a checkbox.
It is not possible to have multiple buttons and a checkbox. I would expect this to be possible if the `confirm` would accept multiple buttons, or if the `show` would support the checkbox.

fyi @bpasero

[2019-09-05 13:25] jcserracampos opened #80404 "Split terminals not showing"
Issue Type: <b>Bug</b>

When splitting terminal the pair terminals (2, 4, 6, etc.) are not showing.
The even terminals are not being created with same width too.

VS Code version: Code - Insiders 1.39.0-insider (7edc8f786e065edbc9540f1e19ebd9220b9e0cf9, 2019-09-05T05:39:44.768Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM)

[2019-09-05 13:27] gjsjohnmurray commented on #80364
/question

[2019-09-05 13:27] #80364 closed

[2019-09-05 13:34] aeschli commented on #73729
can you add sample code where this shows?

[2019-09-05 13:35] aeschli commented on #73460
We use [beautifyjs](http://jsbeautifier.org/) as the underlying HTML formatter. Would you mind filing this request directly against https://github.com/beautify-web/js-beautify ?

[2019-09-05 13:35] #73460 closed

[2019-09-05 13:38] jabacchetta commented on #80347
It looks like WebStorm handles IntelliSense in JSON fine. Not sure what they're doing and whether or not there are any tradeoffs, but might be worth looking into.

@jrieken Should this be reopened until a conclusion is made, so that this issue isn't brought up again?

[2019-09-05 13:39] ryenus commented on #80307
May be this helps?
[code]

Source: https://github.com/microsoft/vscode/blob/871a6fefd79df1266d39e3f66d324d528ea1f2e6/src/vs/base/parts/tree/browser/treeDefaults.ts#L206

[2019-09-05 13:49] #68084 closed

[2019-09-05 13:52] isidorn commented on #68084
I have changed the dialog such that it now has a checkmark to remember the choice.
If the checkmark is checked the following setting will be written to user settings:
`"debug.onTaskErrors"` it can have three values, the default `prompt`, `debugAnways` and `showErrors`

We have decided against writing this in workspace storage and launch configuration because we never write automatically in lanuch

[2019-09-05 13:54] aeschli commented on #72859
We set the RGB to the DOM or styleheet and that's how the Chromium engine(part of Electron) renders it.

[2019-09-05 13:54] #72859 closed

[2019-09-05 13:54] FremyCompany opened #80405 "JavaScript: Incorrect highlighting of regular expressions due to unescaped slash"
Issue Type: <b>Bug</b>

The javascript syntax highlighter of visual studio code doesn't work properly one regular expressions that contain a close slash inside a parenthesis block.

[code]

The syntax error is correct, but impossible to understand due to incorrect highlighting. Compare here below Visual Studio's highlighting vs a proper javascript parser highlighting:

VS Code version: Code 1.37.1

[2019-09-05 13:55] aeschli commented on #72855
Yes, needs to be filed against https://github.com/Dart-Code/Dart-Code..
Yes, the editor only supports folding at the line level (the API is ready for more).

[2019-09-05 13:55] #72855 closed

[2019-09-05 13:56] FremyCompany commented on #80405
Ahahaha, the github syntax hightlighter does't do any better :rofl:

[2019-09-05 13:56] kresdjan opened #80406 "Buggy UI"
Issue Type: <b>Bug</b>

The UI is buggy and renders incorrectly. Shifting and moving things around _(I am "hiding the Activity Bar)_. I have added a screenshot:

<img width="1313" alt="15 50 54" src="https://user-images.githubusercontent.com/17638455/64348482-8e216080-cff5-11e9-9f3c-0503aa7675c6.png">

Version: 1.38.0
Commit: 3db7e09f3b61f915d03bbfa58e258d6eee843f35
Date: 2019-09-03T21:47:00.464Z

[2019-09-05 13:58] aeschli commented on #72807
Thanks for the suggestion but there are currently no plans for such a feature. I leave it open so other users can comment or vote.

[2019-09-05 13:59] sahil48 commented on #80011
So I have node-debug in the folder.

![image](https://user-images.githubusercontent.com/6100774/64348757-be500b80-cfc3-11e9-8a98-9046b1fdaf87.png)

However, some other extensions may depend on it (one react package, I think) What will happen to these extensions when I restart visual studio code.

[2019-09-05 14:01] isidorn commented on #80402
I will look into this while we add the cancelation support. It goes in the same direction.

[2019-09-05 14:03] fabiosantoscode commented on #80311
I'm on it right now, probably will be fixed today or tomorrow :) Thanks again for reporting!

[2019-09-05 14:04] alexr00 commented on #74073
@pchung13 I can't reproduce this in Insiders (1.39). My sample:

[code]

[2019-09-05 14:08] nomad-software commented on #72859
Well, something's going wrong somewhere because it's not correctly displaying the color.

[2019-09-05 14:12] LautaroLorenz opened #80407 "Indentation agnostic multi-line search"
Issue Type: <b>Feature Request</b>

multiline search not working with tabs on .html file, for example:
with the next code:
[code]
if find:
[code]
only match with the first apparition of
[code]
but not find it inside de div
VS Code version: Code 1.38.0 (3db7e09f3b61f915d03bbfa58e258d6eee843f35, 2019-09-03T21:49:13.459Z)
OS version: Windows_NT x64 10.0.18362

[2019-09-05 14:17] #80287 closed

[2019-09-05 14:18] #80344 closed

[2019-09-05 14:19] bpasero commented on #80403
Caution though, the `show` signature currently does not give any indication if the checkbox was clicked by the user or not, so it would need to provide this info.

[2019-09-05 14:19] purplekrayons commented on #15949
@lautjy Your post convinced me to try this method of working. I have to admit, I do like the idea of having these individual saved states that are restored when opening a project folder. It also inherently resolves something I personally struggle with when using large workspaces, and that's managing the structure tree -- it can get annoying when trying to jump between different projects; i find it

[2019-09-05 14:22] webmasterMeyers commented on #80044
I prefer the old behaviour of just opening the new file.  Is there an option to set this behaviour?

[2019-09-05 14:22] Akxe commented on #80287
@bpasero What is this issue duplicate of? I looked here

[2019-09-05 14:28] rynjwssl commented on #80334
Looks like the latest update fixed it. Thanks for addressing this so quickly!

[2019-09-05 14:38] rgov opened #80408 "Should not process click events when in the background"
Issue Type: <b>Bug</b>

On macOS, typical behavior is for a mouse click on a background window to give focus to that window, without triggering the action of the button underneath the cursor.

For example, open two windows in Safari to a page full of links like Reddit, and notice how when you click back and forth between the windows, you can't accidentally hit any of the links.

This behavior is o

[2019-09-05 14:39] ericsnowcurrently opened #80409 "Allow extensions to support commandline arguments."
Currently I can start VS Code from my terminal by running `code path/to/file`.  The `code` command supports a number of commandline options as well.  However, neither those options nor the CLI "paths" appear to be open to extension by extensions.  In other words, some extensions may benefit from exposing some of their capability at the `code` commandline, whether through additional CLI options and

[2019-09-05 14:40] Kempriol commented on #80298
Ex:
1) Develop branch. Make change in test.html file and save them
2) Change branch to Master and commit/push
3) Now test.html in Develop will be lost changes - I'll think it's strange

[2019-09-05 14:43] weinand commented on #80402
Makes perfect sense. I found the error because I was adding cancelation support to mock debug ;-)

[2019-09-05 14:48] rgov commented on #80129
@weinand I do not believe that this is caused by an extension. I disabled all extensions (`code --disable-extensions`) and tried again and the issue reproduces. Does the issue not reproduce for you?

[2019-09-05 14:52] jdoklovic commented on #73094
any word on this?

[2019-09-05 14:57] pr3tori4n commented on #80279
The online terminal (using bash on Windows) works fine. It's only slow when using the UI in the sidebar.

[2019-09-05 15:02] julianlam commented on #78833
@alexandrudima You must feel like you are stuck between a rock and a hard place with this config option!

FWIW I am a fan of the over-typing and was very confused this past week because it seemed like it worked _sometimes_ but _not all of the time_, because occasionally I'll write half a conditional, fix some other line, and return to the conditional only to find my bracket overtyping no longer wo

[2019-09-05 15:03] joaomoreno commented on #80298
That's how git works. This is not a bug.

[2019-09-05 15:03] #80298 closed

[2019-09-05 15:05] joaomoreno commented on #80279
What git version do you have installed?

[2019-09-05 15:07] xiaoxiangmoe commented on #80368
@mjbvz

[2019-09-05 15:08] isidorn opened #80410 "EH Debugging broken - extension is not loaded"
1. Starter extension, hit F5
2. New window gets opened -> extension is not loaded, notice that the "Hello World" command is not in the command palette

I bisected it down to this commit

7a67a54e5e8fa3fff5333b43f88cad062da3795c is the first bad commit
commit 7a67a54e5e8fa3fff5333b43f88cad062da3795c
Author: Martin Aeschlimann <martinae@microsoft.com>
Date:   Thu Sep 5 15:39:01 2019 +0200

    exten

[2019-09-05 15:11] isidorn commented on #80403
@bpasero agree fully. We would need to change the return value

Also fyi I need this for https://github.com/microsoft/vscode/issues/68084
@sbatten If you do not have time to add this, let me know if you are ok with me adding this APi to the `dialogService`.

[2019-09-05 15:11] gerardolima commented on #80266
hey @isidorn, no problem, but then I don't get the suggestion to create this issue if it was to be discarded ... anyway, thank you for your time; cheers

[2019-09-05 15:15] rhyek commented on #78833
I agree it should default to always. Several people at my work complained about this issue, but are too busy to investigate the cause and fix. I don't believe the new option was even mentioned in the latest release notes.

[2019-09-05 15:21] JessaTehCrow opened #80411 "Unable to turn off 'problems'"
Issue Type: <b>Bug</b>

No matter what i search, no matter how much i disable, i keep getting the yellow lines under everything.. EVEN IF IT WORKS, and i just want to fully disable it. (seeing that it completely enabled it by itself)

VS Code version: Code 1.38.0 (3db7e09f3b61f915d03bbfa58e258d6eee843f35, 2019-09-03T21:49:13.459Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System In

[2019-09-05 15:28] roblourens commented on #79038
It uses language + scheme for the `untitled` and `file` schemes. I don't know why that's needed.

[2019-09-05 15:29] thernstig commented on #79208
@aeschli Not sure it is a dup, but similar. His is about context menu, this is about having an icon for a code-workspace file.

[2019-09-05 15:38] nandorojo commented on #50755
This would be great. I always click the wrong suggestion. At least sorting them would be nice.

[2019-09-05 15:40] paamonim opened #80413 "Terminal up arrow"
Issue Type: <b>Bug</b>

Until recently when I was in terminal and pressed arrow up, it would automaticaly insert my last typed command in the terminal.
Now, up arrow doesn't do anything, just an annoying sound.

VS Code version: Code 1.38.0 (3db7e09f3b61f915d03bbfa58e258d6eee843f35, 2019-09-03T21:49:13.459Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Val

[2019-09-05 15:47] joaomoreno opened #80414 "Publish Webview step breaks same commit retrigger"
https://dev.azure.com/monacotools/Monaco/_build/results?buildId=57053&view=logs&j=c7493abb-a1f4-533f-2d24-71780a69f247

[2019-09-05 15:48] #80414 closed

[2019-09-05 15:50] TylerLeonhardt commented on #80178
Yeah this the the big one that would save extension devs a lot of time. Our team was burned by that recently when we slipped and accidentally released a preview extension to the stable extension - I had to get ahold of the marketplace team and everything to mitigate the issue. Our extension was unlisted for like 3 days.

That said, this issue is not about that. This issue is requesting something l

[2019-09-05 15:50] hugovisk commented on #80404
+ 1

[2019-09-05 16:00] rlebosse opened #80415 "Hash (and everything after) in .gitmessage is missing in "Source Control" pre-filled message"
- VSCode Version: 1.38.0
- OS Version: Ubuntu 18.04.3 LTS

Steps to Reproduce:

1. Write `message #issue` in file `~/.gitmessage`

![Sélection_027](https://user-images.githubusercontent.com/2794137/64358454-c9785b00-d006-11e9-8e5a-df8585efd1ee.png)

2. Open VSCode in a project that is linked to git
3. Open "Source Control" section
4. The pre-filled message is only "message " (the hash and everythi

[2019-09-05 16:05] vasilenka commented on #80353
It's working just fine now and I don't know why.

[2019-09-05 16:05] #80353 closed

[2019-09-05 16:07] mylesdawborn opened #80416 "Hover tooltips only appear when VS Code window is unfocused"
Issue Type: <b>Bug</b>

1. Open project and hover over code.

When VS Code is focused, hovering over code does not show tooltips, however when the window is unfocused, and I hover over the code, the tooltip will display. When clicking the unfocused VS Code window, the tooltip proceeds to disappear until I repeat the process.

VS Code version: Code 1.38.0 (3db7e09f3b61f915d03bbfa58e258d6eee843f35,

[2019-09-05 16:10] roblourens commented on #79988
Ok thanks for trying that. Today I fixed an issue that could help you here. Would appreciate if you try the Insiders build. https://github.com/microsoft/vscode/issues/79909

[2019-09-05 16:13] roblourens commented on #79860
Thanks, I also fixed an issue that could possibly be related, this is in Insiders. So you could try that too if you still see it in 1.38.

[2019-09-05 16:18] mylesdawborn commented on #80416
Hovering over code with VS focused = no tooltip.
![Screenshot (4)](https://user-images.githubusercontent.com/33122420/64359826-6dfb9c80-d009-11e9-852b-27d64042fec4.png)

Hovering over code with VS unfocused = tooltip shows.
![Screenshot (5)](https://user-images.githubusercontent.com/33122420/64359859-810e6c80-d009-11e9-9c13-c7550b2c8c46.png)

[2019-09-05 16:21] AishwaryaPatankar opened #80418 "Opening multiple files at once"
Issue Type: <b>Bug</b>

(In a Macbook) Command + P to open a file. Don't make any changes on it. Command + P aggain to open another file. That file replaces the original opened file.

When I open a file, I can't open another file in a nother tab without making changes to my current file. What if I just want to look at two files at a time?

VS Code version: Code 1.32.3 (a3db5be9b5c6ba46bb7555ec5d60

[2019-09-05 16:23] garyking commented on #80333
I would like an option to reset the list, so that if I added a bunch of custom URLs, then resetting the list would remove my custom URLs, and re-add any of the default URLs that I removed, if any.

[2019-09-05 16:24] kylelovespi commented on #80235
I will give it a test. Since it's not something I can reproduce, I'll need to use the editor for a while to know one way or the other. It does still exist as an issue on v1.38, which crashed almost instantly on load.

[2019-09-05 16:24] TheWyo opened #80419 "Trailing comma in default settings.json when using split JSON editor causes warning that can't be removed."
- VSCode Version: 1.38.0
- OS Version: Windows 10 1803

Steps to Reproduce:

1. Change your user settings to have workbench.settings.editor = "json" & workbench.settings.useSplitJSON = true
2. Re-launch VSCode with extensions disabled
3. Open settings editor
4. Problems pane will show a trailing comma warning.
5. (optional) click on the warning to open the file ("/0/settings.json")
6. Close the ed

[2019-09-05 16:33] donaukinder opened #80420 "Terminal does not appear"
- VSCode Version:1.38.0
- OS Version: Mac OS Sierra 10.12

1. After installing vscode the terminal does not appear at all, before I had installed version 1.37 I saw it was this way and upgraded to version 1.38.0 and the bug persists. Can you help me ?
[VSCODE - PRINT](https://imgur.com/a/cVrcwMk)

[2019-09-05 16:38] misolori opened #80421 "Clicking on input field in Settings scrolls off view"
Issue Type: <b>Bug</b>

![gif](https://user-images.githubusercontent.com/35271042/64361085-b2167f00-cfc0-11e9-9589-ded000561e73.gif)

Repro:
1. Toggle the bottom panel
2. Open Settings UI
4. Scroll to a long setting description like Windows Title
5. Focus on the settings search input first, then attempt to click on input
6. 🐛 View scrolls off and input is never selected

I think the Settings UI sc

[2019-09-05 16:38] kdvolder commented on #29757
We will take the suggestion of having our extension try to shorten the labels of completions as a good constructive suggestion. In our case this 'workaround' only works sometimes however. If you look at the linked issue https://github.com/spring-projects/sts4/issues/361. We see an example where it indeed would work. And perhaps that is the most common scenario.

We should realize however that is p

[2019-09-05 16:39] kieferrm commented on #80407
Multi-line search is not agnostic to the indentation level of your code. In order to achieve what you're looking for you currently need to use regex search.

[2019-09-05 16:47] roblourens commented on #80421
I think the same as https://github.com/microsoft/vscode/issues/78237

[2019-09-05 16:47] #80421 closed

[2019-09-05 17:02] joaomoreno commented on #72042
Root cause: https://forum.snapcraft.io/t/new-store-automated-review-rule-is-incorrect/12963/27?u=joaomoreno

Fix is coming in from the snapcraft team

[2019-09-05 17:05] rchiodo commented on #79340
We've just added a csp to the python extension, but we're still getting the warning? Does it have to be strict in order to not get the warning?

Here's our current CSP:

```<meta http-equiv="Content-Security-Policy" content="default-src 'unsafe-inline' 'unsafe-eval' vscode-resource: data: https: http:;">```

[2019-09-05 17:06] dlasagno commented on #45963
I was looking around to find a way of making a dynamic color theme when I found this feature request.
At the moment, every time I generate the theme, I have to restart vscode or set  `workbench.colorCustomizations` and `editor.tokenColorCustomizations` in the settings. Both these options are problematic, the first one reloads vscode immediately after it starts, the second pollutes `settings.json`.

[2019-09-05 17:19] #76475 closed

[2019-09-05 17:24] roblourens commented on #80245
VS Code remote's processes should be shut down after a few hours.

For that much memory, it seems likely that there is some extension using lots of memory or leaving processes around.

[2019-09-05 17:30] sbatten commented on #80406
/duplicate #80336

[2019-09-05 17:30] #80406 closed

[2019-09-05 17:30] OliverJAsh opened #80423 "Project references are not picked up (1)"
- VSCode Version: 1.38.0
- OS Version: 10.14.6
- TypeScript version: tested with both 3.5.2 and 3.6.2

Steps to Reproduce:

`./tsconfig-src.json`:

[code]

`./tsconfig.json`:

[code]

`./src/main.ts`:

[code]

`./src/helpers/functions.ts`:

[code]

When I run `tsc --build`, it builds with no errors.

When I navigate to a TS file in VS Code, e.g. `./src/main.ts`, I get errors: `Cannot find module '

[2019-09-05 17:32] tombresson commented on #65539
In case anyone is looking for an extension that implements this functionality, [this one](https://marketplace.visualstudio.com/items?itemName=retepaskab.relativegoto&ssr=false#overview) has been released for a few months. Seems to implement the missing feature, albeit not as seamless as a built-in solution could.

[2019-09-05 17:32] #80238 closed

[2019-09-05 17:37] sbatten commented on #80358
/duplicate #80336

[2019-09-05 17:37] #80358 closed

[2019-09-05 17:41] JimiC commented on #45963
Themes reloading without restarting the editor is already possible but there isn't any "official" API about it. Simply add the property `_watch: true` in your `package.json` like [this](https://github.com/vscode-icons/vscode-icons/blob/v9.3.0/package.json#L68). Be aware though that this feature is available for `vscode` versions `1.34.0` and above.

[2019-09-05 17:44] sbatten commented on #80418
@AishwaryaPatankar this setting controls that behavior. by default new editors are opened as preview: `workbench.editor.enablePreviewFromQuickOpen`

Alternately, `Cmd+K, Enter` will convert a preview tab to a pinned tab

[2019-09-05 17:45] #80418 closed

[2019-09-05 17:45] Tyriar commented on #80420
Does zooming in and out help (ctrl++, ctrl+-)? Or setting this: `"terminal.integrated.rendererType":  "dom"`

[2019-09-05 17:52] Colengms commented on #31993
This is a bug, not a feature request.  It's a bug for internal placeholder strings to be displayed to the user instead of the proper strings.

[2019-09-05 18:01] KamasamaK commented on #80352
I've done some searching and found a similar issue microsoft/vscode-remote-release#465. Note that this is _not_ using any remote dev. The recommendation in https://github.com/microsoft/vscode-remote-release/issues/465#issuecomment-506724863 from @jrieken  is what I was following, which is to use `vscode.Uri.file(extensionContext.asAbsolutePath(...)).toString()`.

I've used the integrated element i

[2019-09-05 18:03] hadesfire17 opened #80424 "Exits out of HTML file after save"
Issue Type: <b>Bug</b>

Whenever I save the file I am working on the screen exits the file.

VS Code version: Code 1.38.0 (3db7e09f3b61f915d03bbfa58e258d6eee843f35, 2019-09-03T21:49:13.459Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 3 2200G with Radeon Vega Graphics     (4 x 3493)|
|GPU Status|2d_canvas: enabled<br>flash

[2019-09-05 18:04] donaukinder commented on #80420
I tried zoom ++ and zoom -- but it's still the same, where can I put this setting? => "terminal.integrated.rendererType": "dom"

[2019-09-05 18:06] #80348 closed

[2019-09-05 18:06] octref commented on #80348
Please open an issue for https://github.com/vuejs/vetur. Thanks!

[2019-09-05 18:07] sbatten commented on #80352
assigned to @jrieken since you might know more

[2019-09-05 18:08] sbatten commented on #80351
I am not understanding what this issue is about. Please provide more info.

[2019-09-05 18:09] miluke opened #80425 "Recently unsaved files do not show after restart of VS Code"
Issue Type: <b>Bug</b>

VS Code  now always starts up with the Welcome Screen and does not show previously saven & unsaved files anymore. It works for a moment when I just re-install the latest version, but soon after the behavior changes again.
To reproduce:
Open CS Code
Create any new file, don't save it!
Close VS Code
Recopen VS Code.
Observed behavior is that VS code just shows the welcome scr

[2019-09-05 18:10] muhamedGaber opened #80426 "Unable to install Extensions"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/visual-studio-code.
![Screenshot from 2019-09-05 20-10-12](https://user-images.githubusercontent.com/31940110/64367828-3bf23680-d019-11e9-9550-3705800f21ac.png)

[2019-09-05 18:11] anacondaq commented on #15727
Like Russian saying: "the promised three years are waiting".
You did this! Finally, you did it after almost 3 years after opening the issue.
I'm so happy and proud of all of you. Now I can finally remove sublime text from my PC and focus only on VSCode because VSCode does things much better and does not luck any missing features for me what I did miss 3 years ago after trying VSCode but keeping it

[2019-09-05 18:24] #80371 closed

[2019-09-05 18:28] Tyriar opened #80427 "Remove cglicenses.json workaround for xterm addons"
https://github.com/microsoft/vscode/blob/59462eb0b16e8726bf2a3b810014852ddd2b2018/cglicenses.json#L49-L98

Needs https://github.com/xtermjs/xterm.js/issues/2395 fixed upstream

[2019-09-05 18:28] sbatten commented on #80378
@joachim-n yes, you are right, this command requires a window to be open, we should probably just disable it when no windows are open

[2019-09-05 18:32] sbatten commented on #80384
@GaneshKoirala can you provide simple repro steps that worked in the previous release?

[2019-09-05 18:35] sbatten commented on #80385
This isn't really the right place to report this issue, but pinging @burkeholland

[2019-09-05 18:35] #80385 closed

[2019-09-05 18:36] sbatten commented on #80387
@MajhiRockzZ I am not understanding the issue you are reporting. Could you clarify, possibly with screen shots?

[2019-09-05 18:37] octref commented on #80404
Split terminal not showing at all:

![image](https://user-images.githubusercontent.com/4033249/64369552-746e2200-cfd1-11e9-926a-1cff1aa2b716.png)

If I split twice, it's like this:

![image](https://user-images.githubusercontent.com/4033249/64369586-8a7be280-cfd1-11e9-9dca-ab3c757afa39.png)

[2019-09-05 18:39] GaneshKoirala commented on #80384
![Screenshot (72)](https://user-images.githubusercontent.com/42663919/64369622-73bea580-d03c-11e9-923d-916aaa58207e.png)

in new update it doesn't show this require autocomplete and also not showing core node modules inside require("")

[2019-09-05 18:40] sbatten commented on #80389
@knopp, I am unable to reproduce, this works for me.

[2019-09-05 18:44] sbatten commented on #80377
this issue should be reported on the extension you are using for C++ development

[2019-09-05 18:44] #80377 closed

[2019-09-05 18:47] sbatten commented on #80395
@Pascal3100 have you already reported this issue against the extension you are using? I understand that you have changed extensions, but it will be simpler if the developer of the extension who is familiar with the language can determine the root cause and if it is indeed a VS Code issue, we can get that context.

[2019-09-05 18:47] #80395 closed

[2019-09-05 18:51] SteveBenz commented on #80285
I'm not sure I buy that.  We used notifications as a way to inform people of available updates to our extension for a while.  I believe we made the correct decision to only inform people, and not, say, add a button to require interaction.  It's just an update, the user can make their own decision about it.  We just wanted 15-seconds of face-time with the end-user to tell them the option was availa

[2019-09-05 18:57] sbatten commented on #80405
@FremyCompany that is not a valid JS regex, the `/` inside parens need to be escaped with `\`.

[code]

[2019-09-05 19:00] SteveBenz commented on #41767
Perhaps another way to approach this would be to show which extension originated the notification - perhaps even have a direct link from the notification to the extension's notification-related settings.

Bad actors can be blamed and uninstalled.  Well-intentioned extensions that misunderstand their customers desires can avoid people rage-quitting.

[2019-09-05 19:01] sherryyshi opened #80428 "Cannot find name 'TerminalDimensions'."
Our extension build is failing with the following:

vscode.proposed.d.ts:717:24 - error TS2304: Cannot find name 'TerminalDimensions'.

717     readonly dimensions: TerminalDimensions;
[code]

vscode.proposed.d.ts:852:53 - error TS2304: Cannot find name 'Pseudoterminal'.

852     constructor(callback: (thisArg?: any) => Thenable<Pseudoterminal>);
[code]

[2019-09-05 19:16] Tyriar commented on #80404
@sbatten @joaomoreno some change happened probably in the split view yesterday that caused this, any ideas/pointers?

[2019-09-05 19:18] pr3tori4n commented on #80279
git version 2.21.0.windows.1

[2019-09-05 19:18] gianpaj opened #80437 "The "cancel search" icon could be improved"
In my opinion, the new icon for "cancel search" looks like a person icon.

A suggestion would be a "stop sign". Maybe something like this?

![EDuP9n2WkAADMPg](https://user-images.githubusercontent.com/899175/64372184-f474a600-d02a-11e9-95ab-b9ea6c2546ae.jpeg)

PS: thanks for working VSCode and keep improving the UX for millions of developers out there! ✨

[2019-09-05 19:24] #80410 closed

[2019-09-05 19:37] Tyriar commented on #79903
Strange, I cannot reproduce. Can you enable escape sequence logging as described in https://github.com/microsoft/vscode/wiki/Terminal-Issues#enabling-escape-sequence-logging and see what the logs say is happening?

[2019-09-05 19:45] cleidigh commented on #80244
@isidorn
Unfortunately master build still fails.  I double check to the current requirements I am all up-to-date according to the docs.  The failures the download of rigrep. output below:  Thanks for the help.
[4/4] Building fresh packages...
[10/15] ⠄ oniguruma
[7/15] ⠄ spdlog
[9/15] ⠄ vscode-sqlite3
[8/15] ⡀ vscode-ripgrep
error C:\Dev\VSC Dev\vc-fork-cdl\vscode\node_modules\vscode-ripgrep: Comm

[2019-09-05 19:54] ibrunodev opened #80430 "Broken bash window"
- VSCode Version: 1.39.0-insider
- OS Version: Linux Mint 19.2 Cinnamon 4.2.3 Kernel 4.15.0-60-generic

When press CTRL + SHIFT + 5 or "split terminal" button to open a new bash window it doesn't  work. But on open more windows only odd windows works

Steps to Reproduce:

1. Press CTRL + SHIFT + F5 or "split terminal" button

Does this issue occur when all extensions are disabled?: Yes

Screenshot

[2019-09-05 20:23] TantumErgo commented on #79340
What file or files is the CSP usually included in?

So if you click on any of the repos with confirmed and open issues and take a look at the project files, what files should usually contain a CSP? All HTML files?

[2019-09-05 20:32] vixson commented on #79701
It seems the error was coming from an extension [*Error lens*](https://marketplace.visualstudio.com/items?itemName=usernamehw.errorlens), [**Issue 26**](https://github.com/usernamehw/vscode-error-lens/issues/26).

[2019-09-05 20:38] pelmers opened #80431 "API: Allow extensions to provide file watching on file:// scheme"
Context:
I am working with a network-based filesystem mounted locally that does not support file watching through the builtin `diskFileSystemProvider`. Therefore I would like to provide watch() functionality through my extension.

Currently the only way an extension can provide file watching capability is through the FileSystemProvider API. Today, attempting to add a FileSystemProvider for the fil

[2019-09-05 20:51] Tyriar commented on #76909
Flame 2 looks best to me, I thought Flame 1 was a thumbs up icon.

[2019-09-05 20:52] camiant opened #80432 "remote ssh - connections management"
it would be useful if "Targets" tree could be sorted according to developers' preferences. just a few suggestions:

- renaming connections (a more comfortable way than editing connection name in ".ssh/config" file)
- sort connections/folders
- pin connections/folders as favorites
- apply custom colors for immediate identification

thanks in advance

[2019-09-05 20:54] camiant opened #80433 "remote ssh - connections management"
it would be useful if "Targets" tree could be sorted according to developers' preferences. just a few suggestions:

- renaming connections (a more comfortable way than editing connection name in ".ssh/config" file)
- sort connections/folders
- pin connections/folders as favorites
- apply custom colors for immediate identification

thanks in advance

[2019-09-05 21:00] eamodio commented on #80404
@Tyriar from looking at the DOM, the split panel is there, its just positioned too far to the right.

Here is the code that is changing the `left` prop: https://github.com/Microsoft/vscode/blob/fb85e286d3c267a37ff708f371425deeb1bc1b59/src/vs/base/browser/ui/splitview/splitview.ts#L149-L156

[2019-09-05 21:02] kcaze commented on #78817
@alexr00, thanks for the fast response and fix!

By the way, are there any issues for discussing the tasks API design and behavior more generally? I see that there's a Task2 in the proposed API but can't find a sort of "master issue" discussing it.

[2019-09-05 21:08] sbatten commented on #80424
have you tried with extensions disabled?
/needsMoreInfo

[2019-09-05 21:10] KV34 opened #80434 "int. terminal custom profile loading has broken after the few last updates(loads standard profile instead of custom)"
Bug allways appears after a first launch of python script in debug mode.
I have custom terminal profile settings.
When I open integrated terminal in vscode it uses this custom profile.
But after I’ve run python script in debug mode once the terminal will use profile from ~/

In my settings.json I have the following settings:

    "terminal.integrated.shellArgs.osx": [
        "--rcfile", "/Volumes

[2019-09-05 21:10] misolori commented on #76909
Thanks everyone for the feedback, I've update the flame icon to version 2 and it'll be updated in tomorrow's Insiders:

<img width="130" alt="image" src="https://user-images.githubusercontent.com/35271042/64380913-e43ad780-cfe6-11e9-8943-99579e74cf9a.png">

[2019-09-05 21:17] sbatten commented on #80433
/duplicate

[2019-09-05 21:17] #80433 closed

[2019-09-05 21:19] sbatten commented on #80430
/duplicate  #80404

[2019-09-05 21:19] #80430 closed

[2019-09-05 21:21] misolori commented on #77411
I've created issues for the Azure + Live Share team to look into updating their icons (updated the description). Since we don't own those extensions (and the rest of their extension packs) I'm going to close this as we've finished the work on our side.

[2019-09-05 21:21] #77411 closed

[2019-09-05 21:23] lazylazyllama commented on #79584
It would be cool if we could also have this feature in the editor and not only in auto-complete.

So that "grid-gap" gets a yellow underline as a warning and maybe also a "quick fix" action?

[2019-09-05 21:26] dlasagno commented on #45963
It didn't work when I tried it before(with the latest version of vscode), but I think it is only available for icon themes.

[2019-09-05 21:37] Tyriar commented on #80428
@octref do you know how I'm meant to workaround this? `TerminalDimensions` moved to stable in master, but proposed still depends on it? Can/should it be redefined in vscode.proposed.d.ts as well until October just to workaround this?

[2019-09-05 21:44] starkat99 commented on #79336
I tried this again in today's Insiders build. The issue has mostly gone away, just not completely. Most of the UI seems to be functioning normally now (with or without telemetry enabled, it makes no difference) with the exception of the terminal. As soon as a terminal receives focus (or a new terminal is opened, unhidden, etc.) the severe UI lagginess returns to the entire UI. But once I change fo

[2019-09-05 22:02] bobbilljim opened #80435 "Please let me hide the folder section in the explorer sidebar"
You can hide every other section but not the folder one. I don't use it so it always just says "NO FOLDER OPENED". I would like to be able to hide it.

[2019-09-05 22:08] tonybounty commented on #21773
I have also a 4K laptop monitor and minimap is unusable in this resolution. Please add witdh feature.

[2019-09-05 22:21] jason-lizarraga commented on #68069
I've also had this issue for months. Every release I go to the shortcut and add "--force-color-profile srgb".

[2019-09-05 22:23] nkgautam94 opened #80436 "VScode hangs while debugging c++"
Issue Type: <b>Bug</b>

while debugging, in some cases breakpoints keep getting hang. Even after I stop debugging and close VScode, there is still a "lldb-mi" named process running which I have to manually kill using terminal

VS Code version: Code 1.38.0 (3db7e09f3b61f915d03bbfa58e258d6eee843f35, 2019-09-03T21:47:00.464Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|I

[2019-09-05 22:25] joachim-n commented on #80378
It is disabled when there are no windows open -- sorry, I wasn't clear enough. My point is that if there are no windows open, you can't use it.

[2019-09-05 22:27] Tyriar commented on #80370
I think this is related to what debugging passes to the terminal to launch.

[2019-09-05 22:29] octref commented on #80428
I think so. New APIs in master branch isn't visible to anyone (unless you are pulling it manually with `npx vscode-dts master`).

[2019-09-05 22:40] andrewbranch commented on #80423
@OliverJAsh did you run a `tsc -b` first? At the moment, declaration files need to be written to disk in order for TS Server to know about symbols from referenced projects. (Changing that is in-progress, targeted for 3.7.)

[2019-09-05 22:42] pocesar commented on #79490
@joaomoreno don't have AV installed, and Windows Defender realtime scanning is disabled

[2019-09-05 22:44] OliverJAsh commented on #80423
I did all of those things, unfortunately to no avail. I even checked the TS server log to see if I could spot anything particularly odd, also to no avail.

[2019-09-05 22:47] sbatten commented on #80378
@joachim-n oh, i see, then this is the intended behavior as we have now window to show the UX for this command. We could open a new window and show the picker, but this isn't really any better than opening an empty window yourself

[2019-09-05 22:48] #80378 closed

[2019-09-05 22:48] andrewbranch commented on #80423
@OliverJAsh hold on, `helpers/functions` refers to something inside `node_modules` (or a path mapping, of which you have none in the sample you posted). I think you meant to use a relative path, unless I missed an important piece somewhere?

[2019-09-05 22:48] Te7a-Houdini commented on #80426
same happened here too . am unable to update also

[2019-09-05 23:00] OliverJAsh commented on #80423
`baseUrl` is what holds it together here. It works if you don't use project references. Same example but without project references: https://github.com/OliverJAsh/unsplash-ts-project-references/tree/no-project-references

[2019-09-05 23:07] Tyriar commented on #80428
@sherryyshi you can see an explanation of what's going on here: https://github.com/microsoft/vscode-extension-samples/pull/212#discussion_r321520238

[2019-09-05 23:07] #80428 closed

[2019-09-05 23:21] Tyriar commented on #80413
The annoying sound is probably the bell, which is what the shell is telling the terminal to do. This must be an environment issue with your shell setup because that's what's reacting to the up arrow and telling the terminal to sound the bell.

[2019-09-05 23:21] #80413 closed

[2019-09-05 23:23] bmewburn commented on #47069
Would it be appropriate to implement this as a rename provider (ie `F2` then rename)? Or as an additional text edit when selecting a completion suggestion?

[2019-09-05 23:24] Tyriar commented on #80434
So step 2 was as you expected and step 4 was not as you expected?

[2019-09-05 23:27] fantaclaus commented on #13953
The IDE is broken and unusable for work on Typescript projects. So I have to stick to the version 1.28.2 and disable updates.

Strange, but it worked somehow before. What's happened? And when will it work again? Already an year passed and there is no sign of change...

[2019-09-05 23:29] Tyriar commented on #80132
Looks like a duplicate of https://github.com/microsoft/vscode/issues/71966

Currently working through the problem with the Windows console team.

/duplicate https://github.com/microsoft/vscode/issues/71966

[2019-09-05 23:29] #80132 closed

[2019-09-05 23:37] sbatten commented on #80404
@Tyriar

This appears to be caused by this change https://github.com/microsoft/vscode/commit/fb85e286d3c267a37ff708f371425deeb1bc1b59 by @joaomoreno

Since terminal hardcodes the the position at https://github.com/microsoft/vscode/blob/aadad21f90f3cb71ac6e83baf3dfd5bf8b9c1625/src/vs/workbench/contrib/terminal/browser/media/terminal.css#L74-L78

it is breaking the positioning.

Removing this seems

[2019-09-05 23:38] #80404 closed

[2019-09-05 23:43] Tyriar commented on #80261
Try echoing the environment variables and see what they equal to make sure they're getting set correctly. Everything is working fine here on Windows, it's likely an environment/config issue on your end.

[2019-09-05 23:44] Tyriar commented on #80372
/duplicate https://github.com/microsoft/vscode/issues/80404

[2019-09-05 23:44] #80372 closed

[2019-09-05 23:45] OliverJAsh opened #80438 "Project references are not picked up (2)"
- VSCode Version: 1.38.0
- OS Version: 10.14.6
- TypeScript version: tested with both 3.5.2 and 3.6.2

Steps to Reproduce:

`./tsconfig.json`:

[code]

`./shared/tsconfig.json`:

[code]

`./shared/main.ts`:

[code]

`./src/tsconfig.json`:

[code]

`./src/main.ts`:

[code]

1. Run `tsc --build` (observe no errors)
2. Open VS Code
3. Navigate immediately to `./shared/main.ts`
4. Find references for

[2019-09-05 23:47] OliverJAsh commented on #80423
The more I play with project references, the more it seems like they simply don't work with VS Code. Here's a similar but separate issue I just filed: https://github.com/microsoft/vscode/issues/80438.

[2019-09-05 23:52] #76822 closed

[2019-09-05 23:53] Tyriar commented on #79638
This is happening because it's seeing `code` the sh script in the bin directory which takes precedence over code.cmd, you can run the Windows CLI by entering `code.cmd .`. It will open an annoying conhost window, that is happening because it's a script that needs to be run inside a shell.

cmd/powershell work because only the exe is on the path, you could achieve what you're after by adding the fo

[2019-09-05 23:53] #79638 closed

[2019-09-05 23:53] sbatten commented on #80403
I'm okay with this change. As for being careful, when updating references, the progress service will need special attention to make sure we don't break reconnection

[2019-09-05 23:55] Tyriar commented on #73790
@Scorpibear @gorban do not turn conpty off, turn off "use legacy console" in your conhost settings: https://github.com/microsoft/vscode/issues/73790#issuecomment-511342381

[2019-09-05 23:55] Tyriar commented on #80315
Does the setting `"terminal.integrated.rendererType": "dom"` help?

[2019-09-05 23:56] sbatten commented on #66906
@deepak1556 let's check this out in exploration builds

[2019-09-05 23:59] Tyriar commented on #73789
@deepak1556 I think this is Electron attaching to the console when we don't want it to, do you know how we can disable this? Or are we setting `ELECTRON_ENABLE_LOGGING` when we shouldn't be?

[2019-09-06 00:00] Tyriar commented on #80328
/duplicate https://github.com/microsoft/vscode/issues/78634

[2019-09-06 00:00] #80328 closed

[2019-09-06 00:00] sbatten commented on #80318
@St3fa11 I am not sure what could have caused the extension to be uninstalled after updating, but without a repro, it will be very hard to discover.

cc @joaomoreno and @sandy081 for awareness, but without additional reports, I don't think we will have any action.

[2019-09-06 00:00] #80318 closed

[2019-09-06 00:09] sbatten commented on #80384
I tried reproing the issue from 1.35 => 1.38 and it seems to be broken in 1.37.1 as well

[2019-09-06 00:18] roblourens commented on #80384
Yeah I agree that it was already broken in 1.37

[2019-09-06 00:32] dnnabatame opened #80439 "Git in Visual Studio Code removed all of files (source and images)"
Issue Type: <b>Bug</b>

Visual Studio code (perhaps Git feature)  said to me that some changes has not tracked, and I pressed the button for "remove the change" and Git did "clear command" and cleared all of python and other files.
Actually I didn't use Git so I didn't think anything happen, but most of source code were cleared.  And I could not revert it!

VS Code version: Code 1.38.0 (3db7e09f3b

[2019-09-06 00:47] Markpajr opened #80440 "cmd flashing when editing code"
Issue Type: <b>Bug</b>

Whenever I type something into an active file, the cmd prompt flashes on my screen. I don't know how this can be reproduced, but the steps for me to create the error:
1. Open any file
2. Type anything, even one character
3. Watch the files in the explorer that I'm editing change color briefly, then a cmd prompt appear and disappear on screen twice.
Title of the command wind

[2019-09-06 01:17] sBrecht commented on #41309
I will add another voice to this.  The lack of a toolbar in VS Code is a complete mystery to me.  I come back to it every once in awhile to see if it has been added but always end up back in my old editors.   There is a lot in VS Code to like but this lacking item amazes me.

[2019-09-06 01:26] whlkw opened #80441 "vscode can not become foreground window after hit a breakpoint"
- VSCode Version: 1.37.0
- OS Version: win10

Steps to Reproduce:
I am developing a vscode extension, and in windows I see that after hit the breakpoint, the vscode can not become the current foreground windows, and only flashes on the windows status bar.
![vscode focus issue 2](https://user-images.githubusercontent.com/2315155/64394607-9034ff00-d089-11e9-81d9-b53a2350ee31.gif)

The repro steps:
1

[2019-09-06 01:27] geekley commented on #50755
I'd like to make an addendum: if the context of the suggestion is an instance, then it also makes sense putting static elements and constants after instance elements.
Although, in this case, it's debatable which of those two ordering criteria should have precedence, specially if grouping is implemented.

Well, there is also an alternative way to show grouping: without headers, like Chrome Console

[2019-09-06 01:36] whlkw commented on #80371
The slack is not good, no one answers the questions

[2019-09-06 01:40] cameronbraid opened #80442 "Use the launch configuration name as the terminal name"
Currently when running or debugging a launch target, the default terminal names are generic and don't reflect the launch target.

This makes it hard to know which terminal relates to which launch, particularly when you have 3 or more launches running.

Example

a Java launch target named `Debug (Launch) - webapp` results in a terminal named `2: Java Debug Console`  .  I suggest that the terminal n

[2019-09-06 01:46] mttindustries commented on #50448
I'm in an agreement with everyone else in this thread. I've opened up several files as I work on multiple projects and it just keeps a log of all the past problems WITH EVERY SINGLE FILE. They don't disappear after closing or fixing them. I have over 1k of problems now because of every-time I forgot a semicolon and it's duplicated 10 fold with all the back-history of each page. Why isn't there a f

[2019-09-06 01:49] asifiqbal opened #80443 "Invisible Characaters"
It is putting **M-BM-**  on my space and squashing it

When I type for example `set log-collector-exporter` on my yaml file it prints as `setlog-collector-export`. `cat -v file` shows it is writing `setM-BM- log-collector-exporter`. I wrote same code in with VIM and no problem.

This is severely hurting my coding with ansible expect module. I use that a lot.

[2019-09-06 01:49] dsych commented on #79509
@egamma I am willing to work on this as long as there is some agreement on what this feature is supposed to look like.

[2019-09-06 01:49] geekley opened #80444 "IntelliSense: Order suggestions using good, customizable and well-defined criteria"
My intention with opening this issue is to have a place **mostly for discussion** on the topic of improving the order of Intellisense suggestions.
**TL;DR**: See setting and conclusion at the end for some feature requests

### Introduction

I believe an important thing in editor suggestions is to optimize their order, using principles like locality and usefulness of the suggestion to define its re

[2019-09-06 01:51] mttindustries commented on #50448
I tried that, it didn't work for me

[2019-09-06 01:59] mttindustries commented on #66982
but we're not asking for it to magically clear the problem. All we want is a way to declutter the problems list.

[2019-09-06 02:01] ArturoDent commented on #80399
Does putting single ticks around the variable fix it?

Like `"'${env:MY_PATH}'\MyApp.exe ${file}"`

[2019-09-06 02:20] zzfScarecrow opened #80445 "Auto format 有时不能用"
Issue Type: <b>Bug</b>

内存占用比较高时，prettier的autoFormat不work，eslint也不work

VS Code version: Code 1.37.0 (036a6b1d3ac84e5ca96a17a44e63a87971f8fcc8, 2019-08-08T01:22:37.660Z)
OS version: Darwin x64 18.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz (4 x 2300)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabl

[2019-09-06 02:46] deepak1556 commented on #66906
@sbatten this is fixed with latest exploration.

[2019-09-06 03:07] ecgan commented on #71743
With the latest 1.38.0 release, this issue seems to be fixed already. Title bar text looks good no matter how I switch the tabs around. Thanks! :+1: :smile:

![image](https://user-images.githubusercontent.com/417342/64398032-f58eed00-d095-11e9-87d5-c02ed8d3c46b.png)

Version: 1.38.0
Commit: 3db7e09f3b61f915d03bbfa58e258d6eee843f35
Date: 2019-09-03T21:51:09.716Z
Electron: 4.2.10
Chrome: 69.0.3497.1

[2019-09-06 03:12] digitalall commented on #28025
i  need this feature, pls dev it

[2019-09-06 03:40] serg1964 opened #80446 "absolutely not self explaining"
🚨 The issue tracker is not for questions 🚨

Hello,

IMHO, from the very beginning of using this product we've got the issue without reading Doc. We;'re firmly beehive that any (Ieditor,IDE) should be self explained. In your case -  for instance, lets go to the "File"  menu and click "New Few" -- what type of file should be opened  - "Java", "Python" ,""JavaScript or etc."  or something else ? Even

[2019-09-06 04:38] wangxudongcc opened #80448 "A bug about auto-rising"
Issue Type: <b>Bug</b>

After the update to version 1.38, I found that when I zoomed in on the screen (using CTRL +' +') and clicked the HELP button to find the following selection, it would go up by itself.
I am a northerner from China.
name:wang
E-mail:wxd5677@163.com

VS Code version: Code 1.38.0 (3db7e09f3b61f915d03bbfa58e258d6eee843f35, 2019-09-03T21:49:13.459Z)
OS version: Windows_NT x64 10.

[2019-09-06 04:46] lbzli opened #80449 "vscode Not completely sinicized"
Issue Type: <b>Bug</b>

The Sinicization of my old version of vscode is complete. It includes a preview prompt similar to markdown (sinicization prompt), and a sinicized version of GIT management menu.
When I updated vscode on the night of 2009/09/05, the Sinicization of vscode was no longer complete.
I tried to go back to the old version, but it didn't work.
By the way, I also updated the Windows

[2019-09-06 04:56] solomatov commented on #50874
It seems that it's impossible to fix it cleanly with the current API (the other solution is to hardcode all extensions from markdown-basics). To understand whether file is md or not, we need to get its type by URI. But there's no such API. Do you mind if I contribute a PR here?

I am thinking about adding vscode.workspace.getLanguageId(uri: vscode.Uri). Does it seems legit?
@OmarTawfik

[2019-09-06 05:04] jeanp413 commented on #27280
@roblourens Maybe this can be fixed by using the `--word-regexp` flag in ripgrep again.
There were some issues before:

- https://github.com/microsoft/vscode/issues/23534#issuecomment-290245659
- https://github.com/microsoft/vscode/issues/23624

but the pattern for whole word has been updated from `\b(?:<your pattern>)\b` to `(?:^|\W)(?:<your pattern>)(?:$|\W)` with `\W` being unicode aware.

[2019-09-06 05:34] #80343 closed

[2019-09-06 05:34] bpasero commented on #80408
Settings: `window.clickThroughInactive: false`

[2019-09-06 05:34] #80408 closed

[2019-09-06 05:39] YSHIDM opened #80450 "ts文件不能使用name作变量名"
- VSCode Version: 1.38
- OS Version: win10 1803

Steps to Reproduce:

1. 新建ts文件（或未保存文件设置为ts语言模式）
2. 使用 const 或 let 定义变量 name
[code]
提示 'name' was also declared here.
3. 疑似原因
VS code 安装目录：Microsoft VS Code/resources/app/extensions/node_modules/typescript/lib/lib.dom.d.ts 中19515行已经定义了name
[code]

Does this issue occur when all extensions are disabled?: Yes/No

[2019-09-06 05:39] bpasero commented on #80425
@miluke yeah the expected behavior is to reopen all dirty files and I just tried it with Code stable and cannot reproduce.

Can you try to run `code --disable-extensions --user-data-dir <directory>` where `<directory>` is an empty folder? This will ensure Code is starting with a fresh data directory, e.g. no specific settings and without any extensions running.

[2019-09-06 05:54] jiangyuqiao commented on #80450
https://stackoverflow.com/questions/43586243/why-is-a-global-name-variable-declared-in-typescript-and-can-i-avoid-using-it

[2019-09-06 05:54] bkarlson commented on #11387
Anyone here?

[2019-09-06 05:56] bkarlson commented on #12622
+3

[2019-09-06 05:58] liudonghua123 commented on #11387
Any news on this?

[2019-09-06 06:09] gianpaj commented on #80437
cool. thanks for sharing the iterations and reconsidering this.

As you know, this icon is not that important since icon appears only when the search is taking a long time - usually when the computer is a bit slow or you're searching in huge folders.

All the best

[2019-09-06 06:11] nauch05 opened #80451 "Find box is superimposed"
- VSCode Version: August 2019 (version 1.38)
- OS Version: MAC OS High Sierra

Steps to Reproduce:

1. change tab file

[2019-09-06 06:15] vadimcn opened #80452 "VSCode does not surface errors resulting from SetDataBreakpoints requests."
- VSCode Version: 1.38
- OS Version: Ubuntu 18.04

At the moment, VSCode seems to assume that a successful return from `DataBreakpointInfoRequest` automatically means that setting a data breakpoint on that variable will succeed.   It ignores the `verified` flag returned in `SetDataBreakpointsResponse`, nor does it show the attached `message`.

This is very unfortunate, because in native code, ther

[2019-09-06 06:26] aeschli commented on #80311
@fabiosantoscode Fantastic, thanks a lot!!

[2019-09-06 06:28] manoj398 opened #80453 "Split terminal doesnt work properly after the recent update."
- VSCode Version: 1.39.0.insider
![image](https://user-images.githubusercontent.com/11410788/64405718-80bfb100-d09d-11e9-89f6-b15803a2ea3d.png)
- OS Version: Win 10 Pro, 1903, OS Build : 18362.10014

Steps to Reproduce:

1. Use Split Terminal button / Ctrl + Shift + S
2. On clicking once. Two terminal windows should be present. But the other terminal window gets opened but not visible.

[2019-09-06 06:35] HoppeMateusz commented on #80377
Ok, thanks for guidance

[2019-09-06 06:38] zapateo commented on #71743
The problem seems resolved with 1.38.0. Thanks!

[2019-09-06 06:42] Sanjaypb10 opened #80454 "Disk Memory is 100% used VSCode"
100% disk usage problem. Looking at the numbers in the task manager. August 2019 release of Visual Studio Code.  Version 1.38

![Disk](https://user-images.githubusercontent.com/47351958/64406390-4f47e500-d09f-11e9-898e-0fe28f5ded62.jpg)

[2019-09-06 06:43] #80285 closed

[2019-09-06 06:44] bpasero commented on #80285
Fair enough. I have pushed a change to treat all notifications equally and not hide them if the window does not have focus. I appreciate your concern that extensions should not trick our system by adding buttons and I fully agree on that.

I still think we have a fair amount of work to do to allow users to control notifications more fine grained, especially allow them to disable certain notificati

[2019-09-06 06:56] joaomoreno commented on #80404
Good catch. Yeah, I now layout the split views in absolute terms (instead of relying on the browser to stack them up). We should stay away from customising CSS on parent containers (`.split-view-view`). Even that `border-box` would make sense to just move to every `split-view-view`.

[2019-09-06 06:58] rycfung commented on #80343
@bpasero  can you point to the issue that this is a dup of?

[2019-09-06 07:02] JanMergan commented on #79924
Two days ago it was still working. Yesterday I had an update and now I have the same problem.
I have to change all CaptionML into Caption property which is a huge job without regex.
![afbeelding](https://user-images.githubusercontent.com/54975815/64407534-d63b9400-d084-11e9-8bfd-33a447a49acd.png)

Version: 1.38.0 (user setup)
Commit: 3db7e09f3b61f915d03bbfa58e258d6eee843f35
Date: 2019-09-03T21:49:

[2019-09-06 07:02] aeschli commented on #72859
Color rendering is a complex topic. The Chromium engine renders the colors based on your monitor's color profile monitor. I don't know what VIM does.
To make sure this is not caused by VSCode, I opened the following html-page in Chrome and verified that there are no color rendering differences. I did it on Ubuntu 18.04.3 LTS.

[code]
If you are convinced that it's wrong what Chrome does, please fi

[2019-09-06 07:03] aeschli commented on #78831
There's now a warning when you use unknown options.

[2019-09-06 07:03] #78831 closed

[2019-09-06 07:04] joaomoreno commented on #80357
As @bjon said, the official snap is https://snapcraft.io/code

1.38 is already released

[2019-09-06 07:04] #80357 closed

[2019-09-06 07:05] aeschli commented on #79208
Yes, got it. Having a 'Open in WSL' on a file would also help you.
Unfortunately neither requests are easy to implement due to the fact that we don't want to bake the WSL support into VSCode, but keep it as an extension.

[2019-09-06 07:21] joaomoreno commented on #73789
No, this is the same I mentioned before: check your `PATH` variable. The part related to Code should end in `\bin`.

[2019-09-06 07:21] psclkhoury commented on #79988
Still the same with the latest Insiders build. I think something is being loaded the first time which is why it's taking this much time. I tried the following:
- opened quick open
- left it open for about 7 seconds (no input was in the search box)
- then I typed a file name and the results were fast just like it was the second time I was searching

[2019-09-06 07:22] joaomoreno commented on #80342
OK, can you reproduce?

[2019-09-06 07:25] jeanp413 commented on #80392
duplicate of #71291

[2019-09-06 07:28] joaomoreno opened #80455 "Search for `#` never completes"
1. Open search in our `vscode` repo
2. Set `files to include` to `./extensions/git/src`
3. Search for `#`

It never seems to complete.

![image](https://user-images.githubusercontent.com/22350/64409148-9b3b5f80-d088-11e9-8468-c9573d43ce2e.png)

[2019-09-06 07:29] bpasero commented on #80285
The more I think about it, the more I feel it would be better to keep notifications around only when the window is not visible to the user. I fear Electron does not provide this API, thus filed https://github.com/electron/electron/issues/20145

[2019-09-06 07:31] bpasero opened #80456 "Notifications: do not rely on Window#isFocused to decide if a toast can be purged"
Today we decide to not automatically hide a notification toast if the window has no focus. I believe this is bad for situations where multiple windows are open and VSCode is in the inactive window, but still visible (where today notifications would stack and never hide).

Ideally we could ask Electron if the window is visible or not and make the decision based on that. This requires https://github