[2017-06-21 06:33] bpasero commented on #29107
@MandarSant yes, all platforms are now up to date and should work again

[2017-06-21 06:39] tklepzig commented on #28556
@ramya-rao-a Thanks a lot. I'll try it and give you feedback.

[2017-06-21 06:43] proProbe commented on #4100
I realized that there is a "showHover" setting that you can set that shows the hovering. The vscode vim plugin has "g + h" for this which you can set for yourself if needed. Only problem is exiting the tooltip where I currrently use "workbench.action.focusActiveEditorGroup" + "extension.vim_ctrl+[" to achieve

[2017-06-21 06:48] mike-lischke commented on #29126
I'd like to add that wrapping in the popup is also a problem and should be avoided (overflow should be horizontally scrollable).

[2017-06-21 06:57] jrieken commented on #28400
That is not true. Suggest isn't looking at tokens at all. The only case in which we look at (simplified) tokens is to know if we are inside a string, comment, or other code. That's btw all the token information there is. There is no termination when reaching certain tokens or anything like that.

@bobbrow The problem here is that incomplete result sets are returned. Why are you doing that and when

[2017-06-21 06:58] jrieken commented on #29037
@ramya-rao-a This is an issue about go not knowing where it is when triggering suggest

[2017-06-21 07:03] jrieken commented on #28112
I'd was assuming this know but, yeah, when having a large project do any non trivial git operation, like rebasing 2 commits onto 3 incoming commits and that's it. File watching seems to work only in the simplest cases and is such situations you see false compile errors, weird suggestions etc because internal state is outdated.

[2017-06-21 07:09] XVincentX commented on #12378
I had a proof of concept back in the time, but I didn't nor finish it nor publish it on Github.
Sorry about that!

[2017-06-21 07:10] jrieken commented on #29076
Yeah, I think is critical that we are taking features aways. This has been working and advertised since at least a year. Why don't we do something similar to script execution and the preview command? There we didn't just disable script execution but prompted the user in some way. I think taking the big hammer to solve this problem won't make people happy.

[2017-06-21 07:12] jrieken commented on #29103
@wangxf91 It seems to be an extension adding such decorations. Please try to repro this without extensions enabled. Run from command line with `code --disable-extensions`

[2017-06-21 07:13] alexandrudima commented on #29020
@tsoahii The minimap width is computed dynamically with a straight-forward logic of being able to represent the viewport width. i.e. if in the viewport there are fitting 80 columns, then the minimap will size itself to fit 80 columns too. If you have a very large screen, and use a full size editor, the minimap will also size itself to represent the viewport width. The setting `editor.minimap.maxCo

[2017-06-21 07:13] bpasero opened #29164 "Adopt folder pased excludes config for history"
Here: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/history/browser/history.ts#L105

/cc @roblourens I would benefit from a smarter `getExcludes` here as discussed in slack

[2017-06-21 07:15] aeschli commented on #28616
![image](https://user-images.githubusercontent.com/6461412/27371699-22c3dc0a-5662-11e7-8062-bfb6547d3adf.png)

[2017-06-21 07:16] alexandrudima commented on #29147
@aj-th

What keyboard layout do you have configured ?

Do we correctly detect your configured keyboard layout ? -- open an editor and run `F1 > Developer: Inspect Key Mappings`, save to a file and attach here

[2017-06-21 07:17] jrieken commented on #28411
end but it didn't.

Why? If you having written it yet then we cannot suggest it. Or did you mean this should happen when writing the function *body*?

[2017-06-21 07:17] mhegazy commented on #28112
@sheetal can you take a look at this one too. Looks like we are a bit aggressive with our file watching causing to pick up some files in intermediate state, possibly what we need is to batch the events for the same project to avoid prematurely checking files.

[2017-06-21 07:19] aeschli commented on #28616
I improved the description of the icon theme:
`Specifies the icon theme used in the workbench or 'null' to not show any file icons.`

[2017-06-21 07:20] alexandrudima commented on #23991
@Chillee  [This method](https://github.com/Microsoft/node-native-keymap/blob/master/src/keyboard_x.cc#L146) needs to be enhanced to account for `setxkbmap` customizations and then we might need some tweaks [here to cover mappings of those scan codes](https://github.com/Microsoft/vscode/blob/a9936c4ff6738d69d441158c89b7e4a20c137e1c/src/vs/workbench/services/keybinding/common/scanCode.ts#L471)

[2017-06-21 07:22] SailorMax commented on #28874
@ramya-rao-a
I just want to emphasize, that core of my report was "2200+ files". 3.6MB in our century - is nothing. Today count of files is more important. Installations and updates of VSCode already is very slow. Few steps in same direction and VSCode setup time will be equal to Visual Studio setup time ;) This is wrong.

How many files did you reduce by your fixes?

[2017-06-21 07:24] alexandrudima commented on #29102
@jrieken This might be cause by this check:

[code]

[2017-06-21 07:25] alexandrudima commented on #29095
Duplicate of #28093

[2017-06-21 07:25] #29095 closed

[2017-06-21 07:25] snys98 commented on #22266
I noticed this problem too. When a file is changed externally, the document view will not refresh the file content. By the way, it can be refreshed manually by switching the document tag.

@xxjapp "However, file changed by Notepad2 can be auto reloaded by VS code." --- I can't reproduce your case. Maybe you have switched the document tag?

[2017-06-21 07:27] alexandrudima commented on #28093
@mxrtos I could not reproduce. Running "Go Back" many times does not result in the minimap disappearing. Can you please create a new issue with a set of steps that consistently reproduce the problem?

[2017-06-21 07:29] alexandrudima commented on #29093
To find out which selection changes the keybindings, you can use the keybindings editor and search for e.g. "shift+home":

<img width="573" alt="screen shot 2017-06-21 at 09 29 01" src="https://user-images.githubusercontent.com/5047891/27372219-1ebcf52c-5664-11e7-9ad9-0ba0b073de22.png">

[2017-06-21 07:31] aeschli commented on #28145
This has to do with the embedded languages definitions for Javascript:
![image](https://user-images.githubusercontent.com/6461412/27372080-9cc2227c-5663-11e7-962b-3107dfd42e45.png)

Extensions that replace the Javascript grammar also have to specify the embeddedLanguage section. When inside the scope, the auto-indent rules of the specified language are applied.
In the case of the built-in JavaScri

[2017-06-21 07:31] bpasero commented on #22266
Does this reproduce when you:
* try our latest insider build: http://code.visualstudio.com/Download#insiders
* configure `"files.useExperimentalFileWatcher": true`
* restart

[2017-06-21 07:32] aeschli commented on #28145
So @joshpeng, the bug needs to be filed against the grammar extension that you installed.

[2017-06-21 07:32] isidorn commented on #29097
@mattacosta thanks for the additional notes, however I am not 100% clear what is wrong in the attached gif. You are clicking on the callstack is not revealing those entries in the editor, however looking at the callstack those entries do not have a file location associated with them so there is nothing to open (to make sure this is true make the callstack horizontally larger). If you were to click

[2017-06-21 07:33] alexandrudima commented on #29092
@Panoplos This problem can have two possible root causes.

### The action is somehow broken
To check for this, try to select some text in an editor and run `F1 > Transform to Uppercase`. This works smoothly for me on OSX, and I don't think it would be different on Ubuntu.

### The key combination does not reach us and the OS decides to do something special?
What does VS Code detect when you press

[2017-06-21 07:35] Hekitakai commented on #29090
Okay. I found problem. That issue happens when I change project / user settings for files.encoding.

1. Set "files.encoding": "cp437" in user / workspace settings
2. Try to find in files

[2017-06-21 07:36] alexandrudima commented on #29087
@crlf0710 If you hover for 3s over the "Screen reader detected", there should be a pop up guiding you towards disabling the feature. Do you have any idea how to make the hover more discoverable? TL;DR There is a setting `editor.accessibilitySupport` that can be set to `off`.

<img width="476" alt="screen shot 2017-06-21 at 09 36 16" src="https://user-images.githubusercontent.com/5047891/27372474-1

[2017-06-21 07:36] #29087 closed

[2017-06-21 07:39] alexandrudima commented on #28714
Here it is [in the profile](https://github.com/alexandrudima)

I usually create a zip and have found source code to compress well enough that it can be handled by GitHub.

[2017-06-21 07:44] jrieken commented on #29102
@alexandrudima Not sure what you mean. I have added `getWordAtPosFast` but it can only find a result when the word regex doesn't match on whitespace. If it does, the old way (`getWordAtPosSlow`) is invoked.

[2017-06-21 07:45] snys98 commented on #22266
No, I still need to switched the document tag to refresh it.
![image](https://user-images.githubusercontent.com/11873100/27372811-6143ec6e-5698-11e7-819f-92aa8e13821f.png)
My test file is a mysql log file.

[2017-06-21 07:45] hasanakg opened #29165 "Integrated terminal doesn't kill process after closing Visual Studio Code (using git bash as terminal)"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|npm-intellisense|christian-kohler|1.3.0|
|path-intellisense|christian-kohler|1.4.2|
|vscode-javascript-snippets|codepunkt|1.0.0|
|vscode-eslint|dbaeumer|1.2.11|
|vscode-npm-script|eg2|0.2.0|
|json-tools|

[2017-06-21 07:47] oliversalzburg opened #29166 "VS Code wants to create a desktop icon by default"
Do you have a question? Please ask it on [Stack Overflow with `vscode` tag](http://stackoverflow.com/questions/tagged/vscode)

(Use Help > Report Issues to prefill these)
- VSCode Version: 1.14
- OS Version: Windows 10

Steps to Reproduce:

1. Start to install VS Code

![image](https://user-images.githubusercontent.com/1658949/27372878-54ffe9d0-5666-11e7-8df7-8936ea0a0a12.png)

[You are not suppos

[2017-06-21 07:49] wangxf91 commented on #29103
@jrieken oh my god ! you are right !  when I've just tried to uninstall  [Jest](https://marketplace.visualstudio.com/items?itemName=Orta.vscode-jest) extension  ,it has been solved . I don't know why, though . thank you anyway

[2017-06-21 07:49] ppyupp opened #29167 "How to add parameters to the executeCommand method?"
my code:
vscode.commands.executeCommand("workbench.action.quickOpen", ['#some word']);

it's not work....

[2017-06-21 07:50] LastZactionHero commented on #25853
I'm experiencing this issue as well, and found the same behavior in both VSCode and Atom.

Seems similar to this issue: https://github.com/atom/atom/issues/9544

In this issue, it was related to Git refresh on focus. A workaround for modifying your init script to disable refresh on focus and mapping it to a key binding worked for myself and other. VSCode doesn't seem to support this in the same wa

[2017-06-21 07:53] hoikin commented on #206
+1

[2017-06-21 07:54] #27900 closed

[2017-06-21 07:54] hoikin commented on #206
The IDE is very great, except no built-in SVN support

[2017-06-21 07:55] jrieken commented on #29103
Great. Thanks for getting back to us. Close as caused by an extension

[2017-06-21 07:55] #29103 closed

[2017-06-21 07:55] dbaeumer commented on #3550
@gyuhyeon this will be addressed by using the terminal as the execution engine for tasks. You can alreadz opt into using the terminal by adding `"runner": "terminal"` to your tasks.json

[2017-06-21 07:56] mjbvz commented on #29076
I only recall seeing command uris [documented for html previews](https://code.visualstudio.com/docs/extensionAPI/vscode-api-commands#_links). That they worked in hovers seemed like a side effect of using the `OpenerService` to handle links. Was this really a feature that we officially supported?

In the markdown preview, we disabled scripts by default and then provided a setting to enable them aga

[2017-06-21 07:58] jrieken commented on #25853
@Studio384 The only reliable of know what going on is to profile things. To do so, start Dev Tool (F1>Toggle Dev Tools), then select the Profile tab and make sure the CPU Profiler is selected. Then try to get into the hang, immediately when it happens start the profiler and let it run for around 10 seconds or until the hang stops. Thanks

[2017-06-21 08:00] dbaeumer commented on #29014
@ytimenkov where does the run compile task come from. Can you execute that task from F1 > Run Task ?

[2017-06-21 08:02] jrieken commented on #29076
I didn't say prompt allow user in some way to keep/restore the old behaviour. Generally, the dislike is expressed when things are taken away. How about making it a user-setting? I don't think that whitelisting necessary works because my good and proper extension might be (ab)used by a third party to with special crafted contents. So, I'd its a generic, single trust switch which defaults to "safe"

[2017-06-21 08:02] dbaeumer commented on #29014
Info is in #29013

[2017-06-21 08:03] aeschli commented on #29148
This issue was moved to textmate/make.tmbundle#16

[2017-06-21 08:03] #29148 closed

[2017-06-21 08:03] dbaeumer commented on #29013
We discussed that yesterday and we will support specifying the label in the launch.json.

[2017-06-21 08:08] #21527 closed

[2017-06-21 08:10] isidorn opened #29168 "Test: Multi threaded delayed call stack fetching"
- [x] any os - @Tyriar
- [x] any os - @dbaeumer

Complexity: 3
We have refactored how we fetch callstacks from the debug adapter. Have a multi threaded application and debug it in vscode. Verify:
* The call stack is properly shown when multiple threads are stopped
* step / continue / pause all work as expected

Feedback on how to generally improve the multi threaded experience are welcome.

Exampl

[2017-06-21 08:12] ytimenkov commented on #29014
@dbaeumer This task is provided by `npm` built-in extension, activated when `tasks.json` has version 2.0.0.
I suspect there are either some glitches in handling `isBackground` in new tasks implementation (or it is not supported or implemented in npm extension) or `tsc watch` requires special parser which lets vscode know when initial job is done and task went into watch mode.

[2017-06-21 08:12] oliversalzburg commented on #28868
The problem I was noticing was that several operations take very long or seem to never complete. Like autocompletions or quickinfo bubbles. Whenever that happened, one of those messages was logged.

My log is still full of those log entries, but I understand that that is to be expected.

I installed the Insiders Builds but it feels like it would take me quite some time to configure it identically

[2017-06-21 08:16] k8w opened #29169 "Suggest: Clear All Problems"
**Situation**
1. Run tslint task get some error.
2. Want to see tsc error, and clear last tslint error message
3. Run tsc task, get new error messages, but is merged with last tslint error

Nowadays I can only achieve this by restart VSCode.

**Suggest**
Add a action: `Clear all problems`
So that user can manually clear problems.

[2017-06-21 08:18] CyanGlory opened #29170 "Program crash"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.1.0|
|vscode-color|anseki|0.4.1|
|path-intellisense|christian-kohler|1.4.2|
|vscode-eslint|dbaeumer|1.2.11|
|vscode-instant-markdown|dbankier|1.1.0|
|jquerysnippets|donjayamanne|

[2017-06-21 08:18] jrieken opened #29171 "Extension viewlet screen cheese"
See recording, the header disappear when I have clicked install, also scrolling doing something weird

![jun-21-2017 10-17-25](https://user-images.githubusercontent.com/1794099/27374107-e871763a-566a-11e7-9857-b572a3c834a7.gif)

[2017-06-21 08:19] opensw commented on #28489
On a clean Ubuntu 16.04 same issue, following there is my build.sh script. In Visual Studio Code 1.12 this worked fine (maybe the issue is related to source /opt/poky/1.8/environment-setup-cortexa9-vfp-neon-poky-linux-gnueabi?).

`#!/bin/bash

source /opt/poky/1.8/environment-setup-cortexa9-vfp-neon-poky-linux-gnueabi

IP=192.168.1.250
USERNAME=root
TARGET_PATH=/home/root/server

function build
{

[2017-06-21 08:19] alexandrudima commented on #29102
`/\/\*.+\*\//.test(' ')` is `false`. The code flows through to:
[code]
which, as the OP mentions, first finds a word in between whitespace and only then checks the regex.

@Gruntfuggly IMHO this is a bit of a abusive usage of `getWordRangeAtPosition` that trips into a nice optimization we have for the 99% case where folks are actually looking for words :). Why not use `doc.lineAt(i).text.match(/\/

[2017-06-21 08:19] isidorn opened #29172 "Test: tree and list aria-posinset and aria-setsize"
- [x] win - @ramya-rao-a
- [x] mac - @roblourens

Complexity: 2

Refs: https://github.com/Microsoft/vscode/issues/27900

We have added the `aria-posinset` and `aria-setsize` attributes to the list and quick open. By using developer tools inspect those HTML elements and verify these attributes are really there and they have appropriate values. You should also use a screen reader however I am not 10

[2017-06-21 08:20] axelnormand opened #29173 "Why are there 2 suggestions in Peek definition"
- VSCode Version: 1.13.1
- OS Version: CentOS

Steps to Reproduce:

1. Create a simple React component in es6 and Flow

![image](https://user-images.githubusercontent.com/96266/27373976-16fad1d0-5662-11e7-8f9e-45a0eb364750.png)

2. ctrl+click on the es6 import from another file brings me to the "export default" line
3. Then ctrl+click on the export default brings up Peek with 2 identical definitio

[2017-06-21 08:21] Devidian commented on #29132
I'm currently experiencing the same issues, i often have to close vscode when (re) starting meteor to get it running without issues. When its once running, vscode can stay open until meteor has to rebuild (refreshes work).
Didn't find any solution yet :(

[2017-06-21 08:22] fluffynuts commented on #968
So 2c here:
*mostly*, the fuzzy searching is useful. But sometimes it's way too fuzzy and promotes fuzzier matches over more specific ones. So I'd really like it if there was a prefix or something one could use to search "more specifically". Thoughts?

[2017-06-21 08:27] whitecolor opened #29174 "Exclude files/filders from search in file"
Is it possible somehow to when I do (ctrl+shift+F) search text in files, there it would not search in some files/folder using some option in `settings.json`, `search.exclude` seem not to work (only excludes files in `ctrl+P`)

[2017-06-21 08:29] octref commented on #29114
Yep if you can have that I can incorporate it into Vetur.

Sure.

Think this approach could possibly allow emmet completions for JSX too for Vue/React.

[2017-06-21 08:30] Srekel commented on #29093
Thank you, it was the tabsanity plugin! Will try to report it there instead.

[2017-06-21 08:30] #29093 closed

[2017-06-21 08:33] isidorn commented on #28808
@delmyers @gregg-miskelly @MSLaguana @DanTup @devoncarew @WebFreak001 @roblourens @andysterland @hbenl @lukaszunity @svaarala @ramya-rao-a @vadimcn @felixfbecker @daviwil @rkeithhill @DonJayamanne @MSLaguana @rebornix in order to benefit from delayed stack trace loading your adapters now need to explicitly specify this capability.

[This](https://github.com/Microsoft/vscode/issues/25605) is the or

[2017-06-21 08:34] Gruntfuggly commented on #29102
@alexandrudima Yes, I thought it probably was - it just looked so convenient. 8-)

[2017-06-21 08:34] DavidBabel commented on #13680
Same issue here, i have tried almost all suggested solutions.

I'm on MacOs

[2017-06-21 08:40] LastZactionHero commented on #25853
[CPU-20170621T023906.zip](https://github.com/Microsoft/vscode/files/1090853/CPU-20170621T023906.zip)

Here's one of my freezes. Frozen between 13s and 38s after refocusing. Up to 13s, was making small edits and toggling between VSCode and Chrome.

[2017-06-21 08:41] Dogyunjeong commented on #28013
@bpasero
  My project has no TypeScript file.  '.vscod' folder inside of the project has 'meteor.d.ts' file.
  Differently with #7762, I can change file name and add folders.

@kieferrm
  What info should I give more?

I am newbie in programming as well. So if you tell me what info should I offer, I will happily do it.

[2017-06-21 08:42] jrieken commented on #29102
Ok, sorry slow brain... The check for whitespace is weak indeed. Maybe I can implement something by looking at the actual regex...

[2017-06-21 08:45] DavidA2014 opened #29175 "Inaccurate information in Tasks documentation"
In the tasks documentation page:

https://code.visualstudio.com/docs/editor/tasks

The page states:

"Select the Tasks: Configure Task Runner command and you will see a list of task runner templates. Select Others to create a task which runs an external command."

but the templates are ONLY presented after clicking on "Configure task runner" if there is NO tasks.json file.  If you already have a t

[2017-06-21 08:45] bpasero commented on #22266
@snys98 what does "switching the document tag" mean?

[2017-06-21 08:46] bpasero commented on #28013
@dbaeumer didn't you have a trick how to find out on Windows which process is locking a certain resource? Maybe we can find out by letting @Dogyunjeong run this tool to see what exactly locks the meteor files.

[2017-06-21 08:48] jrieken commented on #25853
wow, it really seems that the browser engine took so long to process your mouse move. Unsure why that is but it could be that the renderer is trying to something with the event first.

<img width="498" alt="screen shot 2017-06-21 at 10 46 26" src="https://user-images.githubusercontent.com/1794099/27375277-f2802cbc-566e-11e7-9c7c-fef9474d7224.png">

/cc @alexandrudima for tipping his brain on why t

[2017-06-21 08:49] dbaeumer commented on #29002
I can't reproduce this. Any additional info:

![cast](https://user-images.githubusercontent.com/1931590/27375371-3e31088e-566f-11e7-839f-134240baab24.gif)

[2017-06-21 08:52] dbaeumer commented on #28013
I used this tool https://technet.microsoft.com/en-ca/sysinternals/bb896655.aspx

[2017-06-21 08:52] johnnyreilly commented on #28593
FWIW it seems having more VS Code instances running increases the likelihood of encountering the issue.  Colleagues of mine that only run with 1 VS Code instance at a time haven't been bitten by this.

[2017-06-21 08:56] isidorn opened #29176 "Test: multi root explorer"
- [x] win -  @alexandrudima
- [x] mac - @aefernandes
- [x] linux - @bpasero

Complexity: 4
Refs: https://github.com/Microsoft/vscode/pull/29030

This milestone we have started to work on the multi root experience, currently this is only available on insiders. Verify:
* Quickly check that the single root explorer is the same as before
* You can nicely transition from single root to multi root (from

[2017-06-21 08:56] dbaeumer commented on #28489
@opensw since my minimal example is not working for you can you do the following.

- Open developer Tools using the Help menu
- in the developer console type `process.env["PATH"]`

What is the value of that env variable. Is bash found in that path ?

[2017-06-21 09:08] #28239 closed

[2017-06-21 09:08] #28294 closed

[2017-06-21 09:11] joaomoreno opened #29177 "Pasting a file into unresolved explorer folder fails to resolve its full children list"
1. Copy a file in the Explorer
2. Paste it into an unresolved folder

Only the files before that file, lexicographically, will be resolved.

![kapture 2017-06-21 at 11 10 53](https://user-images.githubusercontent.com/22350/27376396-4cee2688-5672-11e7-8a26-6c6f1321f180.gif)

[2017-06-21 09:14] joaomoreno opened #29178 "Pasting a conflicting file into unresolved explorer folder is no-op"
1. Copy a file in the Explorer
2. Paste the file onto an **unresolved** folder, which already contains a file with that same name

Nothing will happen.

![kapture 2017-06-21 at 11 13 52](https://user-images.githubusercontent.com/22350/27376526-b8e9c3ba-5672-11e7-9335-4a8816011af5.gif)

[2017-06-21 09:15] mauricedb commented on #28593
I was only running a single copy of VS Code when I tested this yesterday evening.  It didn't fail the first time, it seems I needed to open a TypeScript file with an import of RxJS which was on one of the failing to install packages.

[2017-06-21 09:21] warpdesign commented on #29018
@mjbvz This is not what I am getting. Yes, I am importing foo.js and as you can see it doesn't report the call:

![vscode_bar](https://user-images.githubusercontent.com/199648/27376906-c37e6b68-5673-11e7-9adf-e2fd4982c2df.png)

Btw why does it return itself ?

[2017-06-21 09:23] johnnyreilly commented on #28593
In case it's relevant I should say that our codebase is TypeScript also (npm modules built with ts).

[2017-06-21 09:23] Srekel opened #29179 "Scrolling doesn't follow multiple cursors"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|rainbow-brackets|2gua|0.0.6|
|vscode-color|anseki|0.4.1|
|path-intellisense|christian-kohler|1.4.2|
|vscode-markdownlint|DavidAnson|0.9.1|
|lualinter|dcr30|1.0.3|
|githistory|donjayamanne|0.2.0|
|python|

[2017-06-21 09:23] jrieken commented on #28526
So, the very cut of multi-root API is small and just the list of folders and an event when that list changes. Also, I have changed `workspace.rootPath` to be `undefined` when there is more than 1 workspace.

[code]

[2017-06-21 09:27] warpdesign commented on #29018
@mjbvz More details: if I extend the foo class and redefine the bar() method, both bar() methods will be returned by `find all references`.
![vscode_bar2](https://user-images.githubusercontent.com/199648/27377191-933f1fb4-5674-11e7-89e8-d1e0a9b3cd3b.png)

[2017-06-21 09:34] isidorn commented on #29162
The problem is that @ziyasal contributes his actions to the `explorer/context` always no matter the resource https://github.com/ziyasal/vscode-open-in-github/blob/master/package.json#L96

Either the extensions should use some `when` clause when contributing actions or we should introduce a brand new `context` only for the root. Something like `explorer/root/context`.

[2017-06-21 09:34] Krzysztof-Cieslak commented on #28690
`Git commit amend ` command was added some time ago by https://github.com/Microsoft/vscode/pull/17755

[2017-06-21 09:41] Gruntfuggly commented on #28690
Should there be something in the menu? Please can you tell me where the option is?

[2017-06-21 09:44] mattacosta commented on #29097
Everything above "(anonymous function)" is within the `PhpParser.ts` file and has line/column info. It just got hidden.

Clicking on the `module.js` entries switches the editor to that file, and moves the editor to the associated lines properly as well. So it looks like this is limited to the file with the red exception thingy.

Here's another gif that hopefully shows the issue better (the low FPS

[2017-06-21 09:44] DoctorFitch opened #29180 "Add possibility to export extension & configuration to other computer"
Hello everyone ! as it's said in title, I wish there was a tool or some workaround to export the configuration including custom configuration.json and all extension downloaded on a computer to easily import it on an other workstation without research all the extension used on the previous one to redownload it, etc.

Cheers ! :)

[2017-06-21 09:44] ziyasal commented on #29162
@isidorn, @bpasero Thank you pointing that out, is there any workaround to prevent that before finding proper solution? I'll also have a look at to that asap.

[2017-06-21 09:49] Dharmoslap commented on #10759
Please make it work with Windows 10 S

[2017-06-21 09:52] isidorn commented on #29097
Yes I see the issue, this is due to the fact that we always reveal the exception widget location. Forwarding to @michelkaporin to try handling this better

[2017-06-21 09:52] csicky commented on #6302
I keep seeing that you guys are working on something each month when there is a new version. How come you keep forgetting about this one? There has been a year already. If you say it is something OS level it means it's a bug. It doesn't matter, bug, feature, just please make it work.

[2017-06-21 09:52] shockw4ver commented on #29002
I met it when I closed the application and load agian.
But now I can't reproduce this, either.....
Others also have met this problem, and I resolved this from their experienment, may it just will happen in after a update?

发自我的小米手机
在 Dirk Bäumer <notifications@github.com>，2017年6月21日 下午4:50写道：

I can't reproduce this. Any additional info:

[cast]<https://user-images.githubusercontent.com/1931590/27

[2017-06-21 10:04] mattacosta commented on #29097
It also occurs to me that the times when I think that it works, are probably also the times when I am paused on breakpoints that I have added (and therefore the red exception widget hasn't been shown yet).

[2017-06-21 10:05] MichaelD1 commented on #3422
@acls - above you've mentioned that you don't think that Python-specific folding would be needed, however I'm struggling with the folding in Python when using multi-line strings that shouldn't be indented when printed out:
[code]

[2017-06-21 10:10] bpasero commented on #29162
@isidorn ah good point, then maybe those actions are actually valid, even though the resource is probably undefined at that time.

[2017-06-21 10:18] michelkaporin commented on #625
@ghiscoding thanks for pointing to a different issue.

Moving this discussion to #28587. I will keep updated on the progress on the color picker there.

[2017-06-21 10:18] #625 closed

[2017-06-21 10:23] lukaszpolowczyk commented on #26596
@bpasero Like this.
And width should always be matched to the content.
![openededitors](https://user-images.githubusercontent.com/16800535/27379505-bdbe01d6-567b-11e7-922b-4f643298b032.gif)

[2017-06-21 10:25] olaeld commented on #6474
Won't open a 51 939 KB file :(

[2017-06-21 10:27] Panoplos commented on #29092
Urm... I have to press keys to get a screenshot, which changes the input to that input box. :-D

Anyway, it seems the key combo is not reaching the application, as it is only showing up to `ctrl+shift+`. When I hover over the input box, the hint text is:

[code]

I have checked Plasma shortcuts and it does not contain this combo.

[2017-06-21 10:28] will-beta opened #29181 "BUG: block comment fold"
Folding block comments will cause the codes bellow also get folded.

[2017-06-21 10:28] rcjsuen opened #29182 "TypeScript syntax highlighting doesn't seem to handle functions and string literals in arrays"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-docker|PeterJausovec|0.0.16|
|java|redhat|0.6.0|;

---

Steps to Reproduce:

1. Create this TypeScript file.

[code]

2. Notice that the syntax highlighting in the nested function call is not quit

[2017-06-21 10:30] bpasero commented on #26596
I find that a very confusing UX to be honest, why restrict the space so much?

The pain point we want to tackle is that you click somewhere in the status bar and something opens very far away to the top. I do not think we want to change the location of the picker for any other invocation.

[2017-06-21 10:30] #29162 closed

[2017-06-21 10:30] isidorn commented on #29162
@ziyasal the first two actions you should contribute only when a user clicks on a file and not on a folder.

Looking into our docs https://code.visualstudio.com/docs/extensionAPI/extension-points I am not sure what is the best `when` clause to capture that, maybe something like `resourceLangeId != undefined`, though @jrieken would be better to give advice on this

Closing this issue since I have p

[2017-06-21 10:33] michelkaporin commented on #28587
The initial plan is to have the following features (which could be extended going further):

1. Ability to select color, shade and transparency
2. Ability to switch between CSS Color Module Level 3 standard colours
   - RGB values
   - hexadecimal values
   - HSL values (CSS3)
3. View and edit current selected color value inside colour picker
4. View initially selected colour from the editor

Goin

[2017-06-21 10:57] egamma opened #29183 "Assess impact of multiroot workspaces on language extensions"
exracted from #28344
- [x] JS/TS @mjbvz
- [x] Go @ramya-rao-a
- [x] C# @jrieken
- [x] Java @aeschli
- [x] CSS @aeschli
- [x] JSON @aeschli
- [x] HTML @aeschli
- [x] PHP @roblourens
- [x] eslint @dbaeumer
- [x] tslint @egamma
- [x] C++ TBD
- [x] Python TBD
- [x] SQL TBD

[2017-06-21 10:58] fabiospampinato opened #29184 "Unnecessary delay when opening a terminal"
### The Issue

I'm writing an AppleScript for opening a terminal and writing some stuff in it, the problem is that without an hard coded delay between the action "open the terminal" and the action "write this stuff in it" it doesn't work.

This is what, ideally, should be working (minus the useless delay call):

[code]

This is what I see in the terminal if I run the AppleScript with different del

[2017-06-21 10:59] kumarharsh opened #29185 "Emmet suggestions are expanding even while writing Javascript in JSX documents"
Do you have a question? Please ask it on [Stack Overflow with `vscode` tag](http://stackoverflow.com/questions/tagged/vscode)

(Use Help > Report Issues to prefill these)
- VSCode Version: 1.14.0-insider
- OS Version: Windows 10

Steps to Reproduce:

1. While writing JS code in a `javascriptreact` document, emmet is inserting it's suggestions into the intellisense suggestions (such as `forEach`),

[2017-06-21 11:00] #29171 closed

[2017-06-21 11:06] marcoms commented on #1833
It looks to me like VSCode isn't planning to be as flexible as Atom in this regard, instead prioritizing surface level adjustments like colors, fonts, etc. This will probably be better for performance, but personally I prefer Atom's tradeoff.

[2017-06-21 11:08] shubham721 commented on #28411
I mean that when I am writing function body/definition .
Like I will use these variables in function body so I am saying it should
suggest these variables when I write prefix of these.

On Jun 21, 2017 12:47 PM, "Johannes Rieken" <notifications@github.com>
wrote:

[2017-06-21 11:12] cprogrammer1994 opened #29186 "Cannot save a file because it was changed on disk"
- VSCode Version: 1.13.1
- OS Version: Windows 10 x64
![image](https://user-images.githubusercontent.com/11232402/27381422-1b74dd7a-5683-11e7-93af-0f1748dce481.png)

Steps to Reproduce:

1. Save a file (sometimes the error below happens)

![image](https://user-images.githubusercontent.com/11232402/27381388-fcdea4a4-5682-11e7-8f8e-c41770f86e0c.png)

Have anyone noticed this?

[2017-06-21 11:20] Krzysztof-Cieslak commented on #28690
Hmmm.... looks like it has disappeared for some reason, probably was omitted when git integration was ported to new API... @joaomoreno will probably know if it was by-design, or just someone missed one command.

[2017-06-21 11:33] sumanx commented on #29099
<img width="1224" alt="2017-06-21 7 29 01" src="https://user-images.githubusercontent.com/620733/27382074-f44ed126-56b7-11e7-9cd0-8a9cf7fce754.png">

[2017-06-21 11:35] manjeettahkur commented on #29100
@bpasero  no settings are applied as you mention

[2017-06-21 11:41] mzabuawala commented on #519
+1

Please add support for changing font size of EXPLORER window.

[2017-06-21 11:42] sumanx commented on #29099
In the latest release of vscode-insiders(2017-06-21T05:03:18.384Z), this error is gone, but there's a new extension problem:

![2017-06-21 7 33 21](https://user-images.githubusercontent.com/620733/27382447-ae441d10-56b9-11e7-841f-7d0e87fb8eb6.png)

[2017-06-21 11:44] jrieken commented on #28411
Do you have the c++ extension installed?

[2017-06-21 12:03] bingzheyuan opened #29188 "[Feature] HTML tags in Typescript comment"
For the following code snippet, if cursor is on `constructor`, you can find the comment shows the HTML tag as well. It will be much better that HTML content can be parsed and ommits the tag in the hover window.
[code]

[2017-06-21 12:07] iuuniang opened #29189 "Installing package 'C/C++ language components (Windows)' failed"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|cpptools|ms-vscode|0.11.4|;

---

Steps to Reproduce:

Updating C/C++ dependencies...

Downloading package 'C/C++ language components (Windows)' (4663 KB) .................... Done!
Downloading package '

[2017-06-21 12:21] lukaszpolowczyk commented on #26596
Actually, you can do wider. If it's about it?
You can do so that Picker returns to the middle of the window when you delete the command and start typing another one. Could this solve a problem?

Displaying the menu at the place of the button is a natural thing, so it is everywhere when it comes to menus. Picker can do that too.
After all, it is much more convenient that you do not need to wave you

[2017-06-21 12:25] bpasero opened #29190 "Debug repl / Exception widget: link detector is not multi-root fit"
There is a call to [`contextService.toResource()`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/browser/linkDetector.ts#L51) which cannot work once you are in a multi root environment. In that case, the link can only be converted if the root folder is known where it should resolve to.

[2017-06-21 12:25] bpasero commented on #23917
@michelkaporin @isidorn can we revisit this? I see that there is a [link detector pattern](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/browser/linkDetector.ts#L16) for the debug repl. Can we share the link detection from repl with the output link detector by moving it into a reusable helper?

There is a couple of reasons:
* I do not like the fact that the output ed

[2017-06-21 12:27] bpasero commented on #29100
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2017-06-21 12:29] bpasero commented on #26596
@lukaszpolowczyk the current position of the picker is not random, it is in the center to the top for a reason: because it should draw attention to it.

All of our pickers can also be triggered via keybindings or from the command palette, so with your suggestion you would suddenly see a picker sometimes at its current position, sometimes close to a button and sometimes close to the status bar.

I

[2017-06-21 12:32] bpasero commented on #29167
Sorry, but this is not the right place for questions. Please post questions over at StackOverflow: http://stackoverflow.com/questions/tagged/vscode

Thanks for understanding.

[2017-06-21 12:32] #29167 closed

[2017-06-21 12:33] bpasero commented on #29170
@CyanGlory can you share what you pasted.

I am assuming it crashes when pasting into the editor.

[2017-06-21 12:36] bpasero commented on #29189
Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market place, click on the **Support** link to find out more.

<im

[2017-06-21 12:36] #29189 closed

[2017-06-21 12:38] bpasero commented on #29186
@cprogrammer1994 are you editing files on a network share maybe?

[2017-06-21 12:45] Dominik-K commented on #29176
Failures:
* No context-menu on folders (sub & root).
* "Copy" (Cmd+C or via context-menu) not working -> Not pasting with Cmd+V & "Paste" invisible in context menu.

Working:
* Moving a file or folder with drag & drop.
* Context-menu on files.

Questions:
* How to choose "Copy" while drag & drop, e.g. while holding Ctrl key?
* Undo for drag & drop operations planned?

[2017-06-21 12:48] Niryo commented on #9456
@NAllred91, thanks for the update!
but if the blocking issue is because of the expanding feature, can't you just separate your PR into two different features- collapse all sub dirs and expand all sub dirs.
this way we could at least enjoy the collapse all feature until the performance issue of the expand all will be solved.
BTW in my opinion collapse all is way more common then expand all.

[2017-06-21 12:49] isidorn commented on #29190
@michelkaporin can you look into this? It would also be a good introduction to the multi root universe?

[2017-06-21 12:51] isidorn commented on #23917
I am all up for revisiting this.
If interns are not interested for this please let me know and I will can investigate.

[2017-06-21 12:52] isidorn commented on #29176
@Dominik-K this is work in progess, please do not test it out yet.

[2017-06-21 12:52] DarrylD commented on #19988
I'm in the same boat, any solution to this? I also get `Cannot read property 'startShowingAt' of undefined`

[2017-06-21 12:58] bpasero opened #29191 "Webview: base URL is not multi-root fit"
It looks like the webview we use in `HtmlPreviewPart` has a fixed base URL set that is the workspace root path: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/html/browser/htmlPreviewPart.ts#L85

In case of multi root workspaces it is not clear what this base URL should be.

Would it be even possible to change this to set the base URL dynamically when we use the preview and

[2017-06-21 12:59] ajitid commented on #28587
In extending the color picker:

4. Naming colors present in the color palette. So one can type `btn-hover` (suggested by Intellisense) and press enter rather than typing `#43aaaa`.
4. Dynamic coloring- A checkbox, when ticked and a color in the palette if changed, all of its occurrence in the project will be changed.

[2017-06-21 12:59] dbaeumer commented on #29002
Sorry to hear. But without additional information this is very hard to fix. I will close the issue for now. If zou encounter it again please ping and I will help to diagnose this.

[2017-06-21 12:59] #29002 closed

[2017-06-21 13:09] lukaszpolowczyk commented on #26596
@bpasero
It may thus:
From the keyboard shortcut - in center.
From Command Paletter - in center.
From menu bar - in center.
From "More" menu on tabsbar - in center.
From other menu - in center.
From editor context menu - in center.
From sidebar - in center.
And:
From buttons on tabsbar (perhaps only the buttons added by extensions, because I do not see built-in buttons that call Picker) - in conte

[2017-06-21 13:11] jrieken commented on #29191
Yes. We have it to support relative image sources do continue doing that we could try to find the root that matches an input. That means we can set the baseUrl only after having an input which shouldn't be a problem. A problem might be that we won't find a baseUrl for virtual resources

[2017-06-21 13:13] fbricon opened #29192 "Insiders build fails to start"
(Use Help > Report Issues to prefill these)
- VSCode Version: unknown Insiders build (probably the 20/06/2017 one, or the one before that)
- OS Version: macOS 10.12.5

I updated macOS last night. Now Insiders fails to open. Icon shows up, disappears briefly, then completely when clicked on.

There's no log anywhere. I cleared the workspaceStorage but to no avail.
Happy to provide any informations

[2017-06-21 13:14] bpasero commented on #29191
Yeah, I was wondering how to resolve this for virtual resources actually. Maybe we need explicit API when opening a HTML preview that sets the base URL?

[2017-06-21 13:15] bpasero opened #29193 "Show picker closer to status bar when invoked from there"
Investigate to open the picker at the status bar and not in the top center when clicking into the status bar. In that model, the input box should show to the bottom and quick open grow to the top.

[2017-06-21 13:16] bpasero commented on #26596
I reverted the summary to how it was and extracted https://github.com/Microsoft/vscode/issues/29193

[2017-06-21 13:18] opensw commented on #28489
which bash gives me
`/bin/bash`

The otput of process.env["PATH"] is
`/home/user_dev/bin:/home/user_dev/.local/bin:/home/user_dev/bin:/home/user_dev/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/snap/bin`

then it is in path

[2017-06-21 13:19] MandarSant commented on #29107
@bpasero editor is not showing .git folder so how do I set editor to show .git folder

[2017-06-21 13:20] enkol commented on #29132
I'm experiencing similar issues with Ember-CLI apps and it's broccoli build folder /tmp.
On build (in console, outside of vscode), i can watch Code.exe spike from 0.1 to 20% CPU usage once files get created in the /tmp folder (folder empty beforehand).
The same happens on live-rebuilds. Sometimes broccoli sporadic fails here with file permission errors, maybe because Code opened the file at that t

[2017-06-21 13:27] bpasero commented on #29085
Fyi in https://github.com/Microsoft/vscode/commit/a44d58c77669019575381cc3b45493f8e027ac99 I pushed a change to add `workspace.roots` information so that we have coverage of multi-root use. I also added TODOs in the 2 places where we now use the first of the roots. That needs adjustment if we plan to log telemetry for all roots.

[2017-06-21 13:28] bpasero commented on #29107
@MandarSant can you explain what you mean maybe with a screenshot?

[2017-06-21 13:28] jrieken opened #29194 "Support for remote development scenarios"
Remote development describes a setup in which VS Code is used to edit files that reside on a different computer which file system cannot be mounted. A server that only offers FTP is an example of such a setup.

The following features should be supported for good dev experience

* see resources in the explorer, either as separate view or inline with the open folder/folders
* open (text) files, modi

[2017-06-21 13:28] bpasero commented on #29192
Yeah sorry, fixed meanwhile, please reinstall via http://code.visualstudio.com/Download#insiders

[2017-06-21 13:28] #29192 closed

[2017-06-21 13:30] lukaszpolowczyk commented on #26596
@bpasero Oh... very sad.

[2017-06-21 13:34] MandarSant commented on #29107
@bpasero when U  want to create a repo localy we use cmd `git init` then .git folder is downloaded to the folder it .
It shows in the folder but not in side bar (tree view)

[2017-06-21 13:35] fbricon commented on #29192
ok, installing latest build works. Thx.

[2017-06-21 13:38] shubham721 commented on #28411
Yes

On Jun 21, 2017 5:14 PM, "Johannes Rieken" <notifications@github.com> wrote:

[2017-06-21 13:40] jrieken commented on #10547
There is too many open ends and issues for making this the light variant for supporting remove dev scenarios. I move this issue off the plan and let's continue the discussion about save et in #29194.

@anorborg I feel like we hijacked this issue and kept talking about saving where your request is just about having documents editable. Am I correct assuming there is difference? E.g you just wanna op

[2017-06-21 13:49] eamodio commented on #29076
Depending on how "safe" things need to be having something like a `onDidExecuteCommand` on the decorator feels somewhat natural to the api  -- similar in spirit to `onDidSelectItem` in the QuickPicks. As I mentioned above, the main downside I see is that an extension could be lazy and just forward on commands without inspecting -- re-opening the security hole. But is that a legitimate concern? Ext

[2017-06-21 13:51] jrieken commented on #28411
Ok, please file this issue against the c++ extension then. They forcefully turn off word-based suggestions in c/cpp files and obviously fail to be smarter than that.

[2017-06-21 13:51] #28411 closed

[2017-06-21 13:55] jrieken commented on #29076
That is correct and there is little we can do. However, there is a scenario in which a good extension can be made do evil thing by special input, e.g. a source file which results in a special hover command. Because of that a list of approached commands won't help much and I'd opt for a global flag (user-setting) that says "I understand and I am OK with the risk"

[2017-06-21 14:09] pr-yemibedu commented on #3422
Hello,
 Is there an update about how we can get users some nice folding working? I do not mean discussion about if it is ready. I am looking for feedback about code presentation, ui adjustments, environment state and editor context. So can we have a gathered though around:
- how we can implement as an extension
- what and how to use new or existing vscode api
  - even if undocumented
- concepts fo

[2017-06-21 14:09] nurp opened #29195 "Remote drive: Execute permission added to file when saving"
- VSCode Version: 1.12.2
- OS Version: Windows 7

Steps to Reproduce:

1. Using vcsode on Windows, open a project folder that is mounted by samba \\mylovelyserver\nurp\project
2. Make some changes to a file.pm and save

Problem:
originally
   -rw-r--r-- 1 nurp users  9576 Jun  6 13:08 file.pm
becomes:
   -rwxr--r-- 1 nurp users  9576 Jun  6 13:08 file.pm

[2017-06-21 14:12] freddydumont commented on #29185
This behavior is also present in 1.13.1.

"Expand Emmet Abbreviation" seems to always be the default action in code completion when writing JSX.

[2017-06-21 14:13] bouchepat commented on #29132
Thanks @bpasero, was there any changes recently the way VS code scans the files?
I noticed the errors have severely increased in the last week or 2.

Also, to add to @enkol; up until now I never closed VS code when building the app and noticed the build process was taking minutes with VS open and it's down to seconds with VS close.

[2017-06-21 14:17] #29054 closed

[2017-06-21 14:25] michelkaporin commented on #23917
@bpasero I would love if we would use same utility for link detection. Currently we have own detector in every area (editor, repl & exception widget, terminal). Although I am not sure if I have enough time for this @isidorn.

We can try merging link detection between editor and repl with exception widget, but terminal will still handle links separately (see #24489).

[2017-06-21 14:26] michelkaporin commented on #29190
@isidorn will do 👍

[2017-06-21 14:29] LastZactionHero commented on #25853
I realize that this is related to the actual app I was working on in browser (Chrome), which was very of CPU intensive. When that isn't running, I don't see the hang.

Should note that I don't see slowdowns in other applications at the time (e.g. Sublime), but it doesn't surprise me that it occurs.

[2017-06-21 14:29] smlombardi opened #29196 "Emmet 2.0 suggestions for SCSS are HTML"
- VSCode Version: Code - Insiders 1.14.0-insider (a49a42680a4269b79c4e80f6d754bbded03a0593, 2017-06-21T05:07:22.267Z)
- OS Version: Darwin x64 16.6.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
ng-template|Ang|0.1.3
vscode-markdownlint|Dav|0.9.1
code-settings-sync|Sha|2.8.1
sort-lines|Tyr|1.3.0
Bookmarks|ale|0.15.2
project-manager|ale|0.18.1
path-intellisense|chr|1.4.2
vscode-e

[2017-06-21 14:35] BillDenton commented on #5081
I think I solved this by using hard links. By using http://schinagl.priv.at/nt/hardlinkshellext/linkshellextension.html with "Hardlink Clone".

[2017-06-21 14:45] cprogrammer1994 commented on #29186
We use 2 computers and git, but our clocks are synchronized (we both use windows and the time and timezones are the same, anyway i think git does not change the file's timesteps). This problem does not happen once "Reload Window" is called, but without the reload the problem persist.

[2017-06-21 14:46] NAllred91 commented on #9456
How would that behave?  Just have alt-click collapse all if the directory is open and expand a single level if not?

Or should alt-click do nothing if the directory is open?

[2017-06-21 14:46] cprogrammer1994 commented on #29186
https://stackoverflow.com/questions/2179722/checking-out-old-file-with-original-create-modified-timestamps

[2017-06-21 15:00] Tyriar commented on #29111
Duplicate https://github.com/Microsoft/vscode/issues/28635

[2017-06-21 15:00] #29111 closed

[2017-06-21 15:01] Tyriar commented on #29158
@hawkerm this is a brand new feature coming in v1.14. You can try it in Insiders https://code.visualstudio.com/insiders

[2017-06-21 15:03] chrmarti commented on #29141
Fixed as #28507.

[2017-06-21 15:03] #29141 closed

[2017-06-21 15:04] WalterLeinert commented on #28593
Running into the same issue with Code 1.13.1 on Windows 10.

When doing a npm install in a separate bash console (cygwin) and having vscode open on same project most of the time I'm getting EPERM errors. After closing vscode npm install works without any problem.
Tracking down the reason took me several days with many different experiments (node, npm versions, ...).

For me the issues ev. came wit

[2017-06-21 15:07] Tyriar commented on #28593
@rprichard could winpty@0.4.3 have affected the permissions of the pty by chance? https://github.com/rprichard/winpty/releases/tag/0.4.3 There have been an increased number reports of EPERM errors since shipping it.

[2017-06-21 15:08] #28497 closed

[2017-06-21 15:10] Tyriar commented on #6302
@csicky there are 4000 open issues currently and there are ~2000 new ones created every month. Everything needs to be prioritized.

[2017-06-21 15:12] jrieken commented on #25853
Interesting, tho I assume that at runtime we share nothing with them...

[2017-06-21 15:15] Tyriar commented on #29165
Duplicate https://github.com/Microsoft/vscode/issues/26807

[2017-06-21 15:15] #29165 closed

[2017-06-21 15:20] Tyriar commented on #29184
@fabiospampinato the problem is that the terminal takes more than 0ms to start up? It takes time to spin up the pty and attach everything, a little longer than other terminals because everything is going through V8 first.

[2017-06-21 15:39] fabiospampinato commented on #29184
@Tyriar the problem is that I have to put workarounds in my AppleScripts for them to work.

Of course it won't be as fast as a native terminal, but perhaps instead of just throwing away whatever is typed during the time where the terminal panel is in focus but the new pty hasn't started yet we could store it and replay it back once the pty started. What do you think?

[2017-06-21 15:39] vyagi opened #29197 "No terminal - list of available terminals empty"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|jshint|dbaeumer|0.10.15|
|jscs|ms-vscode|0.1.9|
|PowerShell|ms-vscode|1.3.2|;

---

Steps to Reproduce:

1.
2.

[2017-06-21 15:39] tonoslav commented on #28635
Solution for my problem:

 - in **User settings**
 - edit setting **terminal.integrated.commandsToSkipShell**
 - remove **workbench.action.terminal.copySelection** from array

now terminating of batch job in terminal works via CTRL + C for me

[2017-06-21 15:55] Tyriar commented on #29184
Sure, I'll add it to the backlog and open it up for PRs. To anyone interested in implementing this you will need to listen to key strokes in [TerminalInstance](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/terminal/electron-browser/terminalInstance.ts) and add them to a queue. Once the pty is ready then push the events through the normal mechanism.

[2017-06-21 15:56] agdfoster opened #29198 "Several shortcuts stopped working with most recent vscode update"
Anyone else having this issue?
It's not just the shortcuts, if I activate the command from the cmd p palette it also does nothing or throws an error. I've also checked that they are still bound to the right keys and tried turning my macro tool off, but like I said they also don't work activating them from the palette.

Specifically:

cmd click (go to definition) does nothing
find all references -

[2017-06-21 15:56] csicky commented on #6302
I understand that, but if there are 2000 new ones every month it means that in a year there were many issues prioritized before this one.

[2017-06-21 15:56] joshpeng commented on #28145
Hi @aeschli, at least for my grammar, I've already added those from a prior suggestion you made in another issue. The indentation issue still exists though even with the embedding of ```jsx-tags```.

[2017-06-21 15:57] fabiospampinato commented on #29184
Sounds nice, thanks!

[2017-06-21 15:57] ramya-rao-a commented on #28874
@SailorMax Now that https://github.com/Microsoft/vscode/issues/29054 is fixed as well, we are down to 1.3 MB and about 200 files

[2017-06-21 15:58] roblourens commented on #29174
`search.exclude` should be applied to text search as well. What pattern are you using that isn't being applied?

Also it's possible to disable this, if you did on accident. The gear icon in lower right:

![image](https://user-images.githubusercontent.com/323878/27394091-d2cde576-565f-11e7-8bbb-09ef4ff97594.png)

[2017-06-21 15:58] Tyriar commented on #28635
@tonoslav bingo, you found the bug! I actually fixed this yesterday in Insiders 😄, here's the root cause: https://github.com/sourcelair/xterm.js/issues/724

[2017-06-21 15:58] #28635 closed

[2017-06-21 16:03] WalterLeinert commented on #28593
@Tyriar

1. Where did you find the winpty 0.4.3 issues? There are no EPERM issues in the repo.
2. For me the "npm install" issues are related to file system concurrency problems. So I see no relation to winpty.

I will do further tests with other shells.

[2017-06-21 16:07] ramya-rao-a commented on #29161
This is related to #28933
The root cause is that the emmet css abbreviation module tries to match given text with closest matching abbreviation which in times like these misses the closest matching snippet.

Closing in favor of @28933

[2017-06-21 16:07] #29161 closed

[2017-06-21 16:07] ramya-rao-a commented on #28933
Another example:

<img width="272" alt="screen shot 2017-06-18 at 11 29 35 pm" src="https://user-images.githubusercontent.com/16890566/27394370-c3885d70-5660-11e7-8722-ee216667611b.png">

[2017-06-21 16:10] Bill-Stewart commented on #27893
I have the same problem. I do not have any screen reader software. I had to manually set `editor.accessibilitySupport` to `off`.

[2017-06-21 16:18] bobbrow commented on #28400
Ok, that may be the case, but what I'm getting at is that this worked correctly in 1.11.2 and earlier versions of VS Code, so _something_ changed. If you want to point me at the code I can take a look at the history and see if I can figure it out.

As we mentioned earlier in the thread, we send incomplete results because our search turned up more than 1000 matches.  What anchor point are you refer

[2017-06-21 16:23] Tekbr commented on #29107
Thanks @bpasero :+1: 👏

[2017-06-21 16:27] Tekbr commented on #28885
@alexandrudima Thanks for the quick fix. 👏 👏 👏

[2017-06-21 16:30] Artkoch opened #29199 "File is gone if you save remote file while it's loading"
If I work with remote server. I open a file & while it's loading the tab is empty. If I add anything and save. File is gone.

- VSCode Version: Code 1.11.2 (6eaebe3b9c70406d67c97779468c324a7a95db0e, 2017-04-13T07:56:42.517Z)
- OS Version: Darwin x64 16.4.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|EditorConfig|EditorConfig|0.9.3|
|ftp-simple|humy2833|0.4.16|
|theme-onedark-sublime|j

[2017-06-21 16:31] roblourens commented on #29090
cp437 isn't supported by ripgrep which provides our search. It isn't part of the whatwg standard: https://encoding.spec.whatwg.org/#names-and-labels

We should show a warning/error in this case

[2017-06-21 16:32] roblourens commented on #29090
Goes along with https://github.com/Microsoft/vscode/issues/24229

[2017-06-21 16:36] bpasero commented on #28526
After talking in todays multi-root sync we decided to go with the solution of **Set rootPath to null in multi-root** described in https://github.com/Microsoft/vscode/issues/28526#issuecomment-308177541

While the forward breaking is a compelling idea, it needs more infrastructure that we do not have currently. Once we have this, we would use it to remove any deprecated API actually that we have.

[2017-06-21 16:36] Tyriar commented on #28593
@WalterLeinert well I was assuming it was related to permissions and since winpty is the thing that actually launches the shell process, it could be related to that.

Do people experiencing this issue have A/V software installed by chance? https://github.com/Medium/phantomjs/issues/19#issuecomment-14366435

[2017-06-21 16:37] josafathg18 commented on #17446
Properties>Application>Output type  Select into ComboBox "Console Application"

[2017-06-21 16:38] Tyriar commented on #27893
@Bill-Stewart can you think of any software you have that could be pretending to be a screen reader?

[2017-06-21 16:41] Bill-Stewart commented on #27893
No idea whatsoever.

[2017-06-21 16:42] jrieken commented on #28400
Obviously things change, we fix various bugs and implement features every milestone. The assumption that we broke this extension, without a repro etc, is pretty bold.

Does that mean you cap it at 1000 results and want to return more results when you have more prefix-text? For instance `ab<trigger_here>` with 1e10 results for the `ab`-prefix where with `abc<trigger_here>` there are just 1e2 result

[2017-06-21 16:43] mauricedb commented on #28593
@Tyriar I have Windows Defender enabled on my Windows 10 machine. I did try and turn Defender completely off but was still experiencing the same issue. No other AV software running.

[2017-06-21 16:44] Tekbr commented on #28498
Thanks @alexandrudima for the quick implementation. I liked very much. ❤️ ❤️ 👏 👏 👏

[2017-06-21 16:44] Tekbr commented on #21784
-- Sorry for the English, I used Google Translator --

Yes, @alexandrudima , but I would be happy to contribute. But I have better enough my English, being that is something main here. In addition to having a longer time to study TypeScript.

Anyway, thank you very much for implementing the feature. ❤️ ❤️ 👏 👏 👏

But my argument is valid since it was previously marked as a duplicate, and since you

[2017-06-21 16:45] jrieken commented on #28400
[code]

That request (auto-triggered by this extension singling incomplete results) is requesting completion after the `;` in the `__;` text. Why does your extension return a result here?

[2017-06-21 16:50] hchoroomi commented on #29107
FTR, my issue must have been different since the update didn't resolve it. It looks like the following extension is causing `vscode` to freeze, on my machine.

https://marketplace.visualstudio.com/items?itemName=atefth.ruby-on-rails-snippets

[2017-06-21 16:51] bobbrow commented on #28400
Why wouldn't it?  It is valid C++ to add a new identifier immediately after a semicolon.  Stylistically, I would never do it, but that doesn't make it any less valid.  Replace `;` with `+` in the repro above and you get the same behavior.  I certainly don't have any qualms with developers wanting to put identifiers right after a `+`.

[2017-06-21 16:51] rmescandon opened #29200 "Go extension does not recognize other packages interfaces"
Steps to Reproduce:
1. I create a go project
2. That project has a package pkg1 with several types defined there, amongst them I declare an interface
[code]
3. In same project, I have another package pkg2
4. In a file from pkg2, I declare a var of MyInterface
[code]
Expected:
The var declaration is not marked as error

Result:
That declaration line is underlined in red and tip when I set mouse cur

[2017-06-21 16:51] Tekbr opened #29201 "Extensions are not shown after exiting / entering the extensions panel."
- VSCode Version: 1.14.0-insider (a49a426, 2017-06-21T05:15:42.843Z)
- OS Version: Windows 10

See the Gif.

![extensao](https://user-images.githubusercontent.com/19866231/27396100-75f96cb6-5688-11e7-816f-51d3c7f37017.gif)

[2017-06-21 16:55] trajano opened #29202 "Trackpoint Scrolling with middle button does not work"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions: none
---

Steps to Reproduce:

1. Try to scroll using a Lenovo Thinkpad T460p with the middle button (not the track pad)
2. No movement

[2017-06-21 16:56] roblourens commented on #29117
It looks like this comes from the php-intellisense extension, so you should ask on their repo. But I think it's doing basically the right thing by suggesting completions as you type. It's just that there aren't embedded JS completions available.

[2017-06-21 16:56] #29117 closed

[2017-06-21 16:57] cleidigh commented on #29184
@fabiospampinato
@Tyriar
FTW - somewhere in the last month/1.5months I started to see a similar problem
under Windows using the run commands function on a text file I use for various DOS commands
building VS code running git commands, et cetera.  before I could use run commands
in the terminal would open and run the command for 100% without fail
recently the terminal opens but the subsequent comma

[2017-06-21 16:58] roblourens commented on #29112
This is expected - https://github.com/Microsoft/vscode/issues/24626

[2017-06-21 17:03] roblourens commented on #28794
Increased the timeout for that test as well

[2017-06-21 17:04] bpasero commented on #29132
Not sure. Can you find out which process is locking the files? That would help.

[2017-06-21 17:04] #29094 closed

[2017-06-21 17:05] bpasero commented on #23917
As far as I am concerned about the code we have in Output editor I think we should drop it in favour of what you have for the repl and exception widget. The output one is really bad because it only supports links for files that are inside the workspace. This probably dates back from the time we ran in the browser and did not want to show any links for any file outside of the workspace.

[2017-06-21 17:05] whitecolor commented on #29174
Yes you arre right thanks.

[2017-06-21 17:05] #29174 closed

[2017-06-21 17:06] bobbrow commented on #28400
Yes, as the user types more, the number of results returned should eventually get down under 1000 and we'll mark our results as "complete."

We have no choice but to recompute because there is no state (that I am aware of) manifested in the chain of textDocument/completion requests.  We cannot assume that any new requests we receive are tied to a previous request that we marked as incomplete.

[2017-06-21 17:07] obskyr commented on #29112
Perhaps the error message should be a bit more descriptive, then... I definitely did not expect that the in-editor regex engine and the one used in the sidebar would be different - even less that they would have different feature sets.

[2017-06-21 17:10] bpasero commented on #29107
Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market place, click on the **Support** link to find out more.

<im

[2017-06-21 17:16] roblourens commented on #29112
Agreed, it's an unfortunate situation, any suggestion for how to make it more clear?

[2017-06-21 17:18] WalterLeinert commented on #28593
I'm using avast and deactivating it had no effect.

[2017-06-21 17:20] obskyr commented on #29112
Simply adding a link to some documentation on the regex engine difference
or a sentence like "[whatever the sidebar search's official name is] does
not support lookahead or lookbehind." would do wonders.

...My preferred fix would be to implement lookahead and lookbehind in
Rust's regex engine, but one step at a time I suppose. 😁

On 21 Jun 2017 19:16, "Rob Lourens" <notifications@github.com> wrot

[2017-06-21 17:21] zekida commented on #130
+1

[2017-06-21 17:30] sheetalkamat commented on #28112
@mhegazy will take a look

[2017-06-21 17:38] roblourens commented on #29112
Yeah, I don't want to try to detect when certain unsupported features are used, and a link to open docs in a browser seems heavy-handed, but it's caused some confusion.

[2017-06-21 17:40] #28133 closed

[2017-06-21 17:41] zachlysobey commented on #130
@albertodenatale @ntziolis @KTITS-Kevin @zekida @kevjames3 please just subscribe and/or use reactions instead of `+1`s. When you do that it sends an email to everyone subscribed to this thread.

[2017-06-21 17:50] alshain opened #29204 "VS Code acquires lock in node_modules/.staging, making NPM freeze for about 30 seconds"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|project-manager|alefragnani|0.18.1|
|better-toml|bungcip|0.2.0|
|vsc-rustfmt|Connorcpu|0.1.0|
|vscode-eslint|dbaeumer|1.2.11|
|githistory|donjayamanne|0.2.0|
|python|donjayamanne|0.6.5|
|EditorConfig|Edi

[2017-06-21 17:57] cleidigh commented on #29184
@Tyriar
@fabiospampinato

I haven't looked at the code yet, but I'm assuming there could be some state awareness issues.
for instance , in order to track and queue the keystrokes the state in context of VS code has to transition
to the terminal context (presumably minimal time, but not zero as you stated above).
This means there will always be a window where keystrokes from an automation program
s

[2017-06-21 18:01] sammykun commented on #14836
I would also like to see this feature implemented. Additionally, a "Find occurrence in all current opened files" would be a nice extension of this.

[2017-06-21 18:04] ljt91 commented on #29107
Uninstalling and re-installing the build fixed this for me. 👍

[2017-06-21 18:06] ramya-rao-a commented on #29196
@smlombardi What is the language mode of the file where you are seeing this?

[2017-06-21 18:07] felixfbecker commented on #29194
For language servers, this would require new ways for the language server to get text documents over LSP from the client instead from the disk - what do you think about https://github.com/sourcegraph/language-server-protocol/blob/master/extension-files.md?

[2017-06-21 18:07] ramya-rao-a commented on #29200
This issue was moved to Microsoft/vscode-go#1048

[2017-06-21 18:07] #29200 closed

[2017-06-21 18:11] Tyriar commented on #29184
@cleidigh yes there are some async calls between toggling the terminal and the terminal actually coming up. It's possible this won't actually fix the issue of using a 0 delay, but it would definitely be beneficial to Windows in particular as I have keystrokes going missing all the time when I'm typing fast due to the increase time it takes to launch the shell.

[2017-06-21 18:15] ramya-rao-a commented on #29037
@joelpresence I don't see autocomplete in the comments.

![go-comment](https://user-images.githubusercontent.com/16890566/27399783-c5c75890-5672-11e7-8ef5-84eb56ae139e.gif)

Can you share a gif/video where we can see this issue?

Also, can you disable all extensions other than `lukehoban.Go` and see if this issue still persists?

[2017-06-21 18:18] joelpresence commented on #29037
Thanks @ramya-rao-a .  I have seen code completions in go since my first use of VSCode, but I'll try to isolate what's causing it.  How did you capture that gif?  I'm on a Mac ...

[2017-06-21 18:21] Tyriar commented on #27958
@locojuhi I'm not sure that will get the terminal's environment. You should be able to install the `code` command to your PATH by running this via the command palette (cmd+shift+p):

<img width="672" alt="screen shot 2017-06-21 at 11 20 19 am" src="https://user-images.githubusercontent.com/2193314/27400055-bf44a5bc-5673-11e7-99ea-9c0237f10924.png">

[2017-06-21 18:28] Ciantic commented on #16222
Here is a great StackOverflow that illustrates this: https://stackoverflow.com/questions/38057227/is-there-a-way-to-improve-linting-errors-highlight-in-visual-studio-code

Spot the errors! I literally spend several minutes my workday searching for this little squiggles, the Atom has figured this out.

Image from the stack overflow question:
![image](https://user-images.githubusercontent.com/64731/

[2017-06-21 18:41] jens1o opened #29205 "autoIndent does not work in php"
- VSCode Version: Code - Insiders 1.14.0-insider (a49a42680a4269b79c4e80f6d754bbded03a0593, 2017-06-21T05:15:42.843Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
path-intellisense|chr|1.4.2
gitlens|eam|4.1.3
tslint|eg2|0.15.0
LogFileHighlighter|emi|1.1.1
vscode-reveal|evi|0.0.9
php-debug|fel|1.10.0
php-intellisense|fel|1.4.1
auto-close-t

[2017-06-21 18:52] mjbvz commented on #29191
We currently get the base url in this order:

1. Use the base provided in the html content. This is what that markdown preview does and should work in multi-root scenarios (the extension may have to be updated though)
2. Use the resource uri as the base. This should work in multiroot scenarios
3. Use `contextService.toResource('/')`. Looks like this is not-multi root aware

So we are set for multi

[2017-06-21 18:59] nanaasumadu commented on #27697
@ramya-rao-a

The new Emmet does not work in php document with embedded html.  Can PHP be added to the supported language??

A test case.
1. Create standard html document.
2. Change the extension from html to php
3. Insert HTML element and child elements using emmet format.

[2017-06-21 19:01] nanaasumadu commented on #28286
@ramya-rao-a

Can PHP with embedded HTML be added to the supported language list?

[2017-06-21 19:02] xiaomuzhu opened #29206 "WARN Method initialized not implemented"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions: the listing length exceeds browsers' URL characters limit
---

Steps to Reproduce:

1.
2.

[2017-06-21 19:02] wind-rider opened #29207 "Console app crashes when reading console input"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:13:05.928Z)
- OS Version: Darwin x64 16.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|EditorConfig|EditorConfig|0.9.3|
|vscode-docker|PeterJausovec|0.0.16|
|jsx|TwentyChung|0.0.1|
|jsx-snippets|TwentyChung|0.0.1|
|vscode-raml|blzjns|3.0.1|
|jshint|dbaeumer|0.10.15|
|vscode-eslint|dbaeumer|1.2.11|

[2017-06-21 19:14] kohlikohl commented on #29151
🤦 Thank you for pointing out this obvious mistake!

[2017-06-21 19:18] cleidigh commented on #29184
@Tyriar
okay I'll do some code inspection since I've never been in this part of the code, then some experiments.
probably ping you later with some questions before I do a PR

[2017-06-21 19:21] locojuhi commented on #27958
Hey, Something weird happend... i just did what you say and the test are not failing.

then i kill the process of code and launch it (cmd + space) and ran the test and not fail... what does this mean? visual code needs to be in the path to use the user's terminal session?

[2017-06-21 19:25] cristianhosu commented on #28821
Hello,

I've tried it under Linux, with the current build that you mentioned and it seems to be working.
Error: Git: remote: Invalid username or password.

[2017-06-21 19:31] cleidigh commented on #29184
@fabiospampinato
I'm not sure exactly what your use case is, in you may already be aware of
the fact that there are several extensions for running terminal commands
https://marketplace.visualstudio.com/items?itemName=formulahendry.code-runner
https://marketplace.visualstudio.com/items?itemName=mattn.Runner
these may not do exactly what you need, I don't know
what they will do is operate internally

[2017-06-21 19:32] Spongman opened #29208 "javascript new line indentation is wrong"
in new '.js' file type:
[code]

shouldn't the next line be indented automatically?

it is correctly indented after executing 'format document', and the next line after a '{<ENTER>' is indented correctly.

--------

- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|--

[2017-06-21 19:33] mister-glass opened #29209 "Focus next search result (kb: F4) position in the result set is reset whenever the selected contents of the active editor are modified"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions: the listing length exceeds browsers' URL characters limit
---

Steps to Reproduce:

1. Open Find in Files and do a search that will bring up multiple results, for example, search for 'document'
2. Press F4 (focus next search result) a couple of t

[2017-06-21 19:45] iccub opened #29210 "AutoIndent clears autocompletion buffer, 'end' becomes 'def' in Ruby"
- VSCode Version: Code - Insiders 1.14.0-insider (a49a42680a4269b79c4e80f6d754bbded03a0593, 2017-06-21T05:07:22.267Z)
- OS Version: Darwin x64 16.6.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
Ruby|reb|0.12.1

---

GIF for better explanation:

![out](https://user-images.githubusercontent.com/6950387/27402443-f05e8624-56c6-11e7-8b7f-7e162d645ace.gif)

Steps to Reproduce:

1. In

[2017-06-21 19:59] Jakobud commented on #4490
Perhaps an alternative to full blown macro recording would be to add some sort of event listeners to the API. This could open the door for extension developers to build a macro recording extension. Ultimately the API would could listen for keystrokes and executed commands and pass those to the event listeners, then an extension could record and save them and then play them back at a later time.

[2017-06-21 20:07] smlombardi commented on #29196
It's an SCSS file.

[2017-06-21 20:08] fabiospampinato commented on #29184
@cleidigh what I want to do is set-up a bunch of terminals, each of them might `cd` into a specific directory and type a command I might like to execute on it in the future, without actually executing it. So that in combination with [Status Bar Tasks](https://marketplace.visualstudio.com/items?itemName=GuardRex.status-bar-tasks) I can simply click a button on the statusbar and have all the termina

[2017-06-21 20:14] benjpac commented on #28821
We just tried again and receive no error. We are using the Mac version.
Should an alert display? We see no alert or error in the build on terminal.

On Jun 21, 2017 12:25 PM, "cristianhosu" <notifications@github.com> wrote:

[2017-06-21 20:37] questionpython opened #29211 "Problem in Building from Source?!"
Hello VS Team,
I try to build vscode from source.
but show errors:

$ ./scripts/npm.sh install --arch=x64
--------
[code]

------------

cat ~/.electron-gyp/.npm/_logs/2017-06-21T19_41_43_683Z-debug.log
---------
[code]

[2017-06-21 20:40] acls commented on #3422
@MichaelD1 I would say multiline text falls under the `multiline docstrings or other things not based on indentation` category.

My point in my previous comments is that the broken indention-based folding #3353 should not be included in this language-aware folding issue.

#3353 should also be removed because it has been fixed by pull request #26258.

[2017-06-21 20:42] smlombardi opened #29213 "Words matching word at cursor position is always highlighte"
- VSCode Version: Code - Insiders 1.14.0-insider (a49a42680a4269b79c4e80f6d754bbded03a0593, 2017-06-21T05:07:22.267Z)
- OS Version: Darwin x64 16.6.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
ng-template|Ang|0.1.3
vscode-markdownlint|Dav|0.9.1
code-settings-sync|Sha|2.8.1
sort-lines|Tyr|1.3.0
Bookmarks|ale|0.15.2
project-manager|ale|0.18.1
path-intellisense|chr|1.4.2
vscode-e

[2017-06-21 20:45] Spongman commented on #29208
i should add that if you type a `{` on the new (indented) line, it should un-indent and add
[code]

[2017-06-21 20:55] Spongman commented on #29208
also, if you have the following .js file:
[code]

and you put the cursor at the beginning of the (empty) blank line after `bar();` and hit `<TAB>` it indents two tabs (to line up with the `b`), whereas it should only indent by one tab.

[2017-06-21 21:00] bouchepat commented on #29132
See below, there are multiple processes Code.exe, I'm not sure how from there I can pass on more information on the culprit.

Here are some observations:

During the **first** build attempt, notice the Memory (135,268 K). Exception **ENOTEMPTY** thrown.
![image](https://user-images.githubusercontent.com/18633763/27405777-c8bb96fa-5687-11e7-865b-88ec5b88e6d6.png)

During the **second** build attemp

[2017-06-21 21:05] mjbvz commented on #29188
We're tracking support for markdown in intellisense with #11877 / #1920

Are there any cases where you need full html supported instead of markdown (with html disabled)? Is html content supported by other jsdoc tools or is html commonly used in codebases?

[2017-06-21 21:08] mjbvz commented on #29173
We'll jump right to the definition if there is only a single implementation.

We don't have native support for flow. What extension are you using here? If you comment out the flow typings and change the filetype to JavaScript, do you still see this issue?

[2017-06-21 21:09] Ciantic commented on #29185
This seems to affect only when `"emmet.useNewEmmet": true` in the settings. I actually like the new emmet though.

This must be hard to fix, how would it know it's not a good choice? Maybe enable the new emmet suggestion only inside specific areas, like when already inside the JSX tags.

[2017-06-21 21:10] acls commented on #3353
I don't know about the snap install, but I do know the easiest way to apply the patch is to push the `Merge pull request` button. Can someone *please* just push it.

All sarcasm aside can someone merge #26258 or give a good reason as to why it hasn't been merge. The only reason I've heard so far is that c-style camp wouldn't accept it as a formatting issue. I recently found `clang-format`, a tool

[2017-06-21 21:10] mjbvz commented on #29106
This is a duplicate of #19917

When adding codelenses, we currently preserve the scroll position to the middle of the screen. That is what is causing the breakpoint at the top of your file to be pushed off screen

[2017-06-21 21:10] #29106 closed

[2017-06-21 21:14] #28794 closed

[2017-06-21 21:22] mjbvz commented on #29076
I'm not in favor of a user setting to disable security for the same reasons I'm not in favor of a prompt.

My proposal:

1. Keep all commands uris disabled in 1.14. I don't know the history of this code but my understanding is the command uris were never officially documented as being supported in hovers / MarkedStrings.

2. Revisit interactivity in hovers. If we decide that markdown + command uri

[2017-06-21 21:23] mjbvz commented on #29182
This issue was moved to Microsoft/TypeScript-TmLanguage#476

[2017-06-21 21:23] #29182 closed

[2017-06-21 21:28] mjbvz commented on #29207
This looks like a problem either with your code or with the csharp extension, not with VSCode. Try searching for that error message to understand what may be going wrong and how to fix it

[2017-06-21 21:28] #29207 closed

[2017-06-21 21:30] daB0bby opened #29215 "Open DEBUG CONSOLE when debugging starts"
I'm working on a C++ project with VSCode and before starting debugging I have to build the project.
During build the OUTPUT is shown.

When starting debugging then I have to switch to DEBUG CONSOLE manually.

It would be great if it switches automatically when debugging starts.

[2017-06-21 21:33] Tyriar commented on #29184
@fabiospampinato the typical way to do this is to create an extension which should give you enough to be able to create several terminals and if you want give them custom names/shells.

I still feel like this request adds value regardless of the direction you go though 😃

[2017-06-21 21:36] mjbvz commented on #29018
In your first example, if you hover over the instance of `foo1` in `bar.js` what is its type. If it is `any`, you likely need to change the module resolution so that `"foo"` is resolved correctly. To do this, create a `jsconfig.json` at the root of your workspace:

[code]

Here's more information about the module resolution setting: https://www.typescriptlang.org/docs/handbook/module-resolution.ht

[2017-06-21 21:40] mjbvz commented on #28946
That debug failure looks like this bug: https://github.com/Microsoft/TypeScript/issues/16591 This should be fixed once we pick up the final version of TypeScript 2.4

The problem with misplaced/missing errors seems like: #28630

[2017-06-21 21:41] Spongman commented on #29208
here's another:
[code]

if you hit `<ENTER>` a few times here, it'll add new blank lines and the cursor will be (currectly) indented.

if you then hit `<UP>`, the cursor goes up a line, but it returns to column 1 (instead of column 4, as expected).

[2017-06-21 21:42] msevastian commented on #28842
I'm doing the same. But there are shortcuts assigned to 'copy' and 'copy path'. so it's more convenient and faster to code without touching the mouse and just pressing shortcuts

[2017-06-21 21:43] rohan07 commented on #9209
@bgashler1 - Any update?

[2017-06-21 21:45] Tyriar commented on #29184
@fabiospampinato I recommend checking out https://code.visualstudio.com/docs/extensionAPI/vscode-api#window.createTerminal as well as the Task APIs currently in a propose state: https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.proposed.d.ts

[2017-06-21 21:45] Chillee commented on #23991
Is it tricky or is it feasible as a first time contribution?

[2017-06-21 21:50] peterhinners opened #29216 "Error: The mode has failed while tokenizing the input"
VSCode Version: code-insiders_1.14.0-1498021996_amd64.deb
OS VErsion: Debian GNU/Linux 7.11

Steps to Reproduce:

Edit any file
You should then see an error popup, and you see this on the window gaining focus:

"The mode has failed while tokenizing the input"

I have tried uninstalling and reinstalling. Have also tried the same with the standard vs code (not insiders). Have also tried the trick me

[2017-06-21 21:52] fabiospampinato commented on #29184
@Tyriar Well, I simply took the easy/fast route: having a program typing keystrokes instead of me. I'll check those links out, thanks!

[2017-06-21 21:58] Tyriar commented on #27958
@locojuhi I'm guessing your issue is related to launching from the Mac launcher not giving you the right environment then. Note that the environment is shared between all instances of VS Code, so if you merely kill the renderer process (ie. the window) and not the main process then the environment won't change when you relaunch using your normal method.

You could cmd+q VS Code and try launch thro

[2017-06-21 22:13] letmaik opened #29217 "Optionally enable --prune while git fetch'ing"
Since it is now possible to delete local git branches the remaining problem is that remote-tracking refs are accumulated over time and clutter the checkout and other menus. I think it would make sense if one could enable the `--prune` flag when vscode does it's periodic `git fetch` so that refs which don't exist anymore on the server are automatically cleaned.

[2017-06-21 22:18] jeopal opened #29218 "VS Code does not open when a file is double-clicked in file explorer"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|xml|DotJoshJohnson|1.9.1|
|csharp|ms-vscode|1.10.0|
|PowerShell|ms-vscode|1.4.0|;

---

Steps to Reproduce:

1. Open a folder in VS Code
2. Open file explorer and navigate to any file that opens in VS Co

[2017-06-21 22:30] wopian opened #29219 "Don't show recommended workspace extensions message if all are enabled"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)

Steps to Reproduce:

1. Create `extensions.json`
2. Add an enabled extension (e.g `eg2.tslint`)
3. Restart vscode
4. _Workspace has recommended extensions_ message appears

If a user already has all the recommended workspace extensions installed and enabled, they don't need to access the marketplace

[2017-06-21 22:32] YhlasGarry opened #29220 "Can't open "View in Default Applications""
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:18:03.540Z)
- OS Version: Linux x64 4.4.0-53-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|view-in-default-application|seesharprun|3.3.0|;

---

Steps to Reproduce:

1.Pressing F1 and write"View in Default Applications" then click
2.Trying shortcuts "ctrl+k" and "ctrl+b"
I did this both steps,

[2017-06-21 22:32] bgoscinski commented on #26115
I just found another way to cause colors to "flicker":
1. Close all opened editors
2. Open terminal (ctrl + `)
3. Execute some commands which produce colored output (in my case it was `git stash pop`)
4. Hover files explorer (colors flicker and return to normal after short time)
5. Hover terminal (colors flicker again)
6. Repeat steps 4 and 5

- VSCode Version: 1.12.1
- OS Version: Windows 10 Home

[2017-06-21 22:35] DHedgecock commented on #9209
It is definitely possible to configure the colors for linter errors/warnings as of the last release 🎉🎉🎉. You can use these variables in your preferences:

Errors and warnings:

`editorError.foreground`: Foreground color of error squigglies in the editor.
`editorError.border`: Border color of error squigglies in the editor.
`editorWarning.foreground`: Foreground color of warning squigglies in the e

[2017-06-21 22:36] wopian commented on #29219
Somewhat related to https://github.com/Microsoft/vscode/pull/25038, which I don't think touched workspace extensions

[2017-06-21 22:40] glebec commented on #9209
At long last! So our current status is as follows:

* [x] error line colors
* [ ] error line styles
* [ ] error gutter marks

IMHO the first was the most important, the others are niceties which I think justify keeping this issue open but which aren't as big quality of life improvements.

[2017-06-21 22:41] locojuhi commented on #27958
@Tyriar that was exactly what i did just before comment:

then i kill the process of code and launch it (cmd + space) and ran the test and not fail... what does this mean? visual code needs to be in the path to use the user's terminal session?

[2017-06-21 22:54] waderyan opened #29221 "Test: Atom Keymap Version 3"
**Complexity:** 2

**OS:**
- [x] any - @rebornix

**Background**
Version 3 update to the Atom keymap changes settings for the users of the extension. We want to do this without disrupting their flow.

**Tests**
1. Install the extension from the [vsix](https://github.com/waderyan/vscode-atom-keybindings/blob/master/atom-keybindings-3.0.0.vsix)
2. Confirm the version three prompt shows
3. Click Yes.

[2017-06-21 22:56] DHedgecock commented on #9209
Actually it looks like it's also possible to have gutter icons now:
<img width="931" alt="screen shot 2017-06-21 at 3 50 28 pm" src="https://user-images.githubusercontent.com/8461733/27410087-e759126a-5699-11e7-8143-e8ef3262f052.png">

^ that screenshot is from pulling down the codemetrics extension and making this change to it:
<img width="1136" alt="screen shot 2017-06-21 at 3 54 59 pm" src="htt

[2017-06-21 22:59] ramya-rao-a commented on #28286
@nanaasumadu Doesnt the below work for you?

[code]

[2017-06-21 23:01] ramya-rao-a commented on #29037
@joelpresence I used LICEcap

[2017-06-21 23:02] ramya-rao-a commented on #27697
@nanaasumadu Have you tried adding the below setting?
[code]

[2017-06-21 23:09] rebornix commented on #29210
@iccub did you run into this issue still if you run without any extension? `code-insiders --disable-extensions`

[2017-06-21 23:10] rebornix commented on #29208
@Spongman you need to use our Insider build and set `editor.autoIndent` to `true`, otherwise you need to wait for 1.14 Stable.

[2017-06-21 23:10] #29208 closed

[2017-06-21 23:19] ramya-rao-a commented on #29196
Ah! Sorry about that. Missed a return statement while refactoring yesterday.
This will be fixed in tonight's Insiders build

Thanks for reporting!

[2017-06-21 23:19] #29196 closed

[2017-06-21 23:20] Chillee commented on #29021
@cybercrypt13 https://github.com/VSCodeVim/Vim#mac-setup

This should fix your issue.

[2017-06-21 23:25] Chillee commented on #28579
@ramya-rao-a This issue is fixed on our end. You can close this issue.

[2017-06-21 23:26] ramya-rao-a commented on #29114
@octref I have moved the completion provider for emmet to a separate module https://www.npmjs.com/package/vscode-emmet-helper

Can you give it a try and see if you can use it in vetur?

Usage is just 2 lines: https://github.com/Microsoft/vscode/blob/07c5fe39ddad3dee42150afa8459954dfbca9538/extensions/emmet/src/defaultCompletionProvider.ts#L31-L32

All you have to do is to pass the right language

[2017-06-21 23:30] Chillee commented on #28330
@jrieken We've fixed the autocomplete issue (although we still have some issues with folds). If you want to reproduce the issue, you'd want VSCodeVim v0.8.5 and have a file with either folds or a line that's wrapped.

Now, put your cursor somewhere in the file below the fold. You should be able to reproduce the issue then.

[2017-06-21 23:41] #28651 closed

[2017-06-21 23:44] vuelto commented on #27961
Agreed,
Please make this optional.  I still want Ctrl->Dot to work but I don't want light bulbs to haunt my every coding moment.

[2017-06-21 23:53] roblourens opened #29222 "Search text input box should not steal focus on search"
- Open search viewlet
- Put cursor in include/exclude box
- Press enter
- Now search text field is focused. It shouldn't take focus from the include/exclude boxes

[2017-06-22 00:01] #29185 closed

[2017-06-22 00:07] ramya-rao-a commented on #29185
I have removed the emmet auto complete for jsx files for now.

The command `Emmet: Expand Abbreviation` will still work. So feel free to use this command or bind a keyboard shortcut (not Tab)

You can still get auto completions for emmet by setting
[code]

I am working on pulling the emmet completion provider into a separate module and have language specific extensions use it by passing the right

[2017-06-22 00:24] daviday2000 opened #29224 "test"
Do you have a question? Please ask it on [Stack Overflow with `vscode` tag](http://stackoverflow.com/questions/tagged/vscode)

(Use Help > Report Issues to prefill these)
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2017-06-22 00:24] #29224 closed

[2017-06-22 00:24] eamodio commented on #29076
😞

@mjbvz is the above still a risk? Or only `command:`?

[2017-06-22 00:25] omar1989omb commented on #29010
Here are the steps to reproduce the error:

I create the file launch.json with the code:

[code]
After I execute the debugging:

<a href="https://ibb.co/hRbbq5"><img src="https://image.ibb.co/mH4UA5/vscode.png" alt="vscode" border="0"></a><br /><a target='_blank' href='https://es.imgbb.com/'></a><br />

When we run the launch.json file, Vscode crashes or it works very slow

[2017-06-22 00:36] ngtrian opened #29225 "[cshtml] syntax color for comment in Razor and C#"
Maybe Syntax color for javascript comment in Razor file is uncorrect!

![image](https://user-images.githubusercontent.com/4327817/27412279-683dec30-56a8-11e7-9d02-a9f4c9bd8ab5.png)

- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|aspnet-helper|schneid

[2017-06-22 00:36] Lixire commented on #29062
Yep, they're all correct now.

[2017-06-22 00:37] ramya-rao-a commented on #27628
Closing this in favor of #27975

[2017-06-22 00:37] #27628 closed

[2017-06-22 00:37] ramya-rao-a commented on #27975
<img width="272" alt="screen shot 2017-06-18 at 11 29 35 pm" src="https://user-images.githubusercontent.com/16890566/27272292-53b3cc3e-547e-11e7-973c-9d7783d295e9.png">

[2017-06-22 00:39] ramya-rao-a commented on #27614
We will use `emmet.suggestExpandedAbbreviation` to enable/disable the emmet auto completion in general and `emmet.suggestAbbreviations` to enable/disable the secondary kind of emmet suggestions

[2017-06-22 00:39] #27614 closed

[2017-06-22 00:47] dregorox commented on #27391
Hi, I don't know if is the same bug but when restarting the app (by using the restart button) VS Code changes the current working directory.

To reproduce:

1.- Create a project like this:
[code]

index.js contains:

[code]

Inside launch.json
[code]

2. Open VSCode, and open the `bug` folder

3. Debug the application (F5)
  - You will see /path/to/bug (On the debug console)
  - The app is still r

[2017-06-22 01:16] TurkeyMan opened #29226 "DLang source file icon"
There are icons included for a huge number of languages, including many languages that seem far more niche than D.
Please consider dropping a dlang icon in the mix?

Steps to Reproduce:

1. Open a folder with .d source files
2. Notice there is no dlang icon

[2017-06-22 01:18] ramya-rao-a commented on #27621
Multi cursor now works for both `Emmet: Expand Abbreviation` and `Emmet: Wrap with abbreviation` command.

But once the commands get executed, the multi cursors are lost and the cursor is in the last snippet that got expanded.

@jrieken [This](https://github.com/Microsoft/vscode/blob/master/extensions/emmet/src/abbreviationActions.ts#L32) is how I am inserting the snippets. What can I do to ensure

[2017-06-22 01:21] nexussays commented on #12378
Totally understandable, just thought I'd ask. Thanks for the effort!

[2017-06-22 01:22] ramya-rao-a commented on #28579
Thanks @Chillee

[2017-06-22 01:22] #28579 closed

[2017-06-22 01:47] Tyriar commented on #27958
@locojuhi how did you kill the process exactly?

[2017-06-22 01:48] snys98 commented on #22266
Ops...
![image](https://user-images.githubusercontent.com/11873100/27413749-eb3d86d6-572f-11e7-99af-92270a2c1c32.png)

[2017-06-22 02:02] shockw4ver commented on #29002
Okay，thanks for your checking~

发件人: Dirk Bäumer<mailto:notifications@github.com>
发送时间: 2017年6月21日 21:01
收件人: Microsoft/vscode<mailto:vscode@noreply.github.com>
抄送: Sameul Zhang<mailto:asambojur@live.cn>; Author<mailto:author@noreply.github.com>
主题: Re: [Microsoft/vscode] Got a 'bug' in language configuration. (#29002)

Sorry to hear. But without additional information this is very hard to fix. I

[2017-06-22 02:16] deanagan opened #29227 "When editting multiple occurences(Ctrl+F2), pressing end causes cursor to be out of sync in some cases"
Do you have a question? Please ask it on [Stack Overflow with `vscode` tag](http://stackoverflow.com/questions/tagged/vscode)

(Use Help > Report Issues to prefill these)
- VSCode Version: 1.13.1
- OS Version: Windows 7

Steps to Reproduce:

1. Create sample file:
Hello
Hello
/*Hello*/
2. Put cursor after 'H' and press ctrl+F2
3. Press end button.

Notice that the cursor for the 3rd line (commente

[2017-06-22 02:29] netcore-jroger opened #29230 "The spawnSync function in child_process does not return anything"
- VSCode Version: 1.13.1
- OS Version: Win 10 Pro  1703   15063.413

Now my vscode can not debug, press the F5 still have this problem #26628
I think it is possible that the spawnSync function in child_process is not working properly.

I need some help. Thanks!

[2017-06-22 02:34] parredondov opened #29231 "[Feature Request] Set Syntax on the command pallete"
As in sublime text, the command pallete (Ctrl + Shift + p) had an option to set syntax on new or extensionless files.

The reason for this is to copy text from another source and being able to clearly read through without creating a new file.

[2017-06-22 02:35] #29231 closed

[2017-06-22 02:42] netcore-jroger commented on #29230
![vscode_error_01](https://user-images.githubusercontent.com/3223890/27415046-6cdede2c-5737-11e7-819d-1096799c0a85.png)

[2017-06-22 02:44] netcore-jroger commented on #29230
I tried installing different versions of node.js, but the problem still exists.

[2017-06-22 02:52] chaoer commented on #28575
@ramya-rao-a  thanks !

[2017-06-22 03:05] #29222 closed

[2017-06-22 03:08] testerez opened #29232 "Inconsistent class members coloration"
<img width="219" alt="screen shot 2017-06-21 at 11 02 27 pm" src="https://user-images.githubusercontent.com/815236/27415642-0be7713a-56d6-11e7-8324-468c79b22a56.png">

`foo` and  `bar` should have the same color. Same issue for `.js` and `.ts` files

### Code:
[code]
---

- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:13:05.928Z)
- OS Version: Darwin x64 16.

[2017-06-22 03:18] GBarkhatov opened #29233 "After comitting, vscode sees git changes as not commited"
Do you have a question? Please ask it on [Stack Overflow with `vscode` tag](http://stackoverflow.com/questions/tagged/vscode)

(Use Help > Report Issues to prefill these)
- VSCode Version: 1.13.11
- OS Version: Windows 10 Latest

Steps to Reproduce:

1. Change a file
2. Commit changes

Result:
http://i.imgur.com/g197frY.png

[2017-06-22 03:18] Rainismer opened #29234 "VS Code unable save files: operation not permitted"
As it said in title.

![error](https://user-images.githubusercontent.com/8477759/27415897-5e28cdf2-573c-11e7-81a2-32cce2a2a440.png)

[2017-06-22 03:35] Lmathewli opened #29235 "We Need Account"
Do you have a question? Please ask it on [Stack Overflow with `vscode` tag](http://stackoverflow.com/questions/tagged/vscode)

(Use Help > Report Issues to prefill these)
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2017-06-22 03:35] #29235 closed

[2017-06-22 03:41] Lmathewli opened #29236 "We need account function"
Hi, manager
  I think VS Code should this function that everybody has an account, and this account can save a lot of information about themselves, such as plug-in components， like google accounts.

Thanks.

[2017-06-22 03:51] cristianhosu commented on #28821
Are you using the command line to push or the Push button from the source
control tab on the left side?

On Jun 21, 2017 23:15, "benjpac" <notifications@github.com> wrote:

[2017-06-22 03:52] ghost opened #29237 "Add option to disable multicursor feature"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:18:03.540Z)
- OS Version: Linux x64 4.11.5-100.fc24.x86_64
- Extensions:

|Extension|Author|Version|
|---|---|---|
|contextualduplicate|lafe|0.2.0|
|MDTools|seanmcbreen|1.0.1|
|change-case|wmaurer|1.0.0|;

---

Steps to Reproduce:

1. When I type, sometimes multicursors appear.

Would you please consider adding

[2017-06-22 03:56] xconverge opened #29238 "TextEditorEdit does not handle and convert \r and \r\n as the documentation states"
- VSCode Version: 1.13.1
- OS Version: macOS Sierra

Summary of issue:
I am trying to use TextEditorEdit replace to replace random text with text including newlines. The newline characters are literally inserted instead of converting to line breaks.

From the docs it specifically says if I pass in \n or \r\n they will be normalized:
[code]

Steps to Reproduce:

Using this function, I pass in a val

[2017-06-22 04:00] roblourens opened #29239 "Breakpoint labels start with slashes"
![image](https://user-images.githubusercontent.com/323878/27416814-a14a04fc-56c4-11e7-9432-49ed74f3cd18.png)

[2017-06-22 04:06] hawkerm commented on #29158
Cool, thanks for the heads up, based on some other issues/info I was reading I thought it had already shipped!

[2017-06-22 04:11] yy7054wyq5 opened #29240 "just coding,my cpu is 80%"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.1.0|
|project-manager|alefragnani|0.18.1|
|angular1-code-snippets|alexandersage|0.0.3|
|ng-template|Angular|0.1.3|
|path-intellisense|christian-kohler|1.4.2|
|vscode-eslint|dbaeume

[2017-06-22 04:18] bpasero commented on #29132
I was hoping you could use a tool like https://technet.microsoft.com/en-ca/sysinternals/bb896655.aspx?f=255&MSPPError=-2147217396 to find out which process in VS Code is locking the file resources.

This issue seems very similar to https://github.com/Microsoft/vscode/issues/28013

[2017-06-22 04:23] bpasero commented on #29198
Reading your description it seems that the issue originates from an extension (Python) and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market place, click on the **Support** link to find out m

[2017-06-22 04:23] #29198 closed

[2017-06-22 04:25] bpasero commented on #29199
@Artkoch can you try to reproduce this with our insiders build where we reworked our file watcher:
* run insiders via http://code.visualstudio.com/Download#insiders
* open settings and set `"files.useExperimentalFileWatcher": true`
* restart

If it still reproduces, here is another workaround that will help: set `"workbench.editor.closeOnFileDelete": false` in settings.

[2017-06-22 04:26] bpasero commented on #29206
Please provide more information.

[2017-06-22 04:26] #29206 closed

[2017-06-22 04:27] bpasero commented on #29216
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2017-06-22 04:28] bpasero commented on #29218
Please uninstall and reinstall VS Code to fix this.

[2017-06-22 04:28] #29218 closed

[2017-06-22 04:28] bpasero commented on #29220
Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market place, click on the **Support** link to find out more.

<im

[2017-06-22 04:28] #29220 closed

[2017-06-22 04:29] bpasero commented on #29230
Sorry, but this is not the right place for questions. Please post questions over at StackOverflow: http://stackoverflow.com/questions/tagged/vscode

Thanks for understanding.

[2017-06-22 04:29] #29230 closed

[2017-06-22 04:29] bpasero commented on #29234
@Rainismer this message indicates that you are missing permissions to save the file. Could that be true?

[2017-06-22 04:30] bpasero commented on #29236
This issue has already been reported. Please use the search function next time before reporting an issue and/or this time if you are curious about the progress of the issue.

[2017-06-22 04:30] #29236 closed

[2017-06-22 04:30] bpasero commented on #29240
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2017-06-22 04:39] Rainismer commented on #29234
@bpasero I had the highest authority of system administrator.

[2017-06-22 04:41] #28509 closed

[2017-06-22 04:44] ArtemGovorov commented on #29076
We are using `command:` URIs and disabling them would cripple a useful feature in our extension.

[2017-06-22 04:46] bpasero commented on #29234
Hm maybe the file is in use and cannot be saved?

[2017-06-22 04:52] hawkerm commented on #11103
Think they mean that by default in the integrated debug console or even the integrated terminal raw_input with Python debugging behaves differently than running in the Python interpreter itself.

For instance if you have a Python 2 program with donjayamanne.python extension such as:
[code]

By default hitting F5 and running in the Debug Console will never get past the raw_input statement as the De

[2017-06-22 04:55] Bjvanminnen opened #29241 "Add option to disable git indicators in gutter"
![image](https://user-images.githubusercontent.com/1767466/27417830-05d5b982-56cc-11e7-9ba2-da5d995bfe29.png)

I would like to be able to disable seeing these green/blue lines in the gutter for where I've changed code. As far as I can tell, this can only be done by turning off `git.enabled`. That seems unfortunate, as I think one of the editors strengths is it's source control/diffing view, and I'

[2017-06-22 04:56] bpasero opened #29242 "Multi root support for extensions management"
## Workspace recommendations
Today we scan for a `extensions.json` inside the workspace `.vscode` folder: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/extensions/browser/extensionsActions.ts#L1227 and also here https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/extensions/electron-browser/extensionTipsService.ts#L71

This does not work in a multi root

[2017-06-22 04:58] bpasero opened #29244 "Multi root: Use new emmet to avoid single workspace dependency"
It looks like we are looking for emmet specific configuration files inside the workspace: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/emmet/electron-browser/emmetActions.ts#L289

This will not work anymore once we are in a multi root environment. I am not sure what the configuration is for but you probably need to read it per workspace root and then support it based on f

[2017-06-22 05:00] manjeettahkur commented on #29100
@bpasero  you are right I need  to more study about it because I install number of extensions so maybe one of those extension change the behaviour

[2017-06-22 05:01] BugraC commented on #23797
@joaomoreno I updated #25718 and comments underneath.

[2017-06-22 05:01] bpasero opened #29245 "Debug: make launching multi root folder aware"
Today we seem to collect the launch.json from the single root workspace here: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/electron-browser/debugConfigurationManager.ts#L345

In a multi root environment we need to change this assumption. There are a couple of options:
* just take the first folders configuration and show the others from a picker (e.g. add a "More..."

[2017-06-22 05:10] bpasero opened #29246 "ConfigurationResolver is not multi-root fit"
We seem to have variables support via the [configuration resolver](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/configurationResolver/node/configurationResolverService.ts#L20), specifically:
* `cwd`
* `workspaceRoot`
* `workspaceRootFolderName`
* `relativeFile`

In a multi root environment we need to change this single root assumption. I think there are two options:
*

[2017-06-22 05:11] Rainismer commented on #29234
@bpasero

No, I can do that with the Notepad++. Please take a look at my screenshot.

I open this file with the Notepad++.
![1](https://user-images.githubusercontent.com/8477759/27418119-a8804f1a-574b-11e7-8827-de01d39f6745.png)

Before saving "Test Save"
![2](https://user-images.githubusercontent.com/8477759/27418130-b402e7c6-574b-11e7-9c16-117d3ab63dee.png)

After saving "Test Save"
![3](https:/

[2017-06-22 05:12] netcore-jroger commented on #29230
ok

[2017-06-22 05:14] netcore-jroger commented on #29230
[https://stackoverflow.com/questions/44690639/the-spawnsync-function-in-child-process-does-not-return-anything](https://stackoverflow.com/questions/44690639/the-spawnsync-function-in-child-process-does-not-return-anything)

[2017-06-22 05:20] alexandrudima commented on #29227
This works as expected for me. Perhaps there is something else to it? Can you reproduce when running `code --disable-extensions` ?
![29227](https://user-images.githubusercontent.com/5047891/27418398-2d6f9fb8-571b-11e7-8d45-541da8b49b35.gif)

[2017-06-22 05:21] Enethion commented on #24938
@mjbvz Although your solution helps, it's really counter-intuitive.

If you want to change one setting, you should make it in one property that's named adequately, not having to look through other properties in hope some will fit your need. If something's counter-intuitive "as-designed" there's only one conclusion: design (in this part) is crap...

Also, making `editor.tabSize` an object would be

[2017-06-22 05:22] alexandrudima commented on #29216
@peterhinners Does the console show anything? (`F1` > `Developer: Toggle Developer Tools`). Does this happen for any file type or only for a specific file type? Does this happen for any file or only a specific file?

[2017-06-22 05:24] Enethion commented on #10248
Try solution from https://github.com/Microsoft/vscode/issues/24938#issuecomment-301220106 it worked for me.

[2017-06-22 05:25] alexandrudima commented on #29213
There are two flags to control highlighting, as there are two types of highlighters:
* one is selection based (i.e. you select some text, and then the same text will be highlighted)
* one is semantic based (i.e. a language server that understands the language decides to highlight semantic occurences).
* many folks want to turn on off, but not the other, so we have two settings.

So I think `editor

[2017-06-22 05:27] alexandrudima commented on #29202
@trajano VS Code is built on top of Electron, which is built on top of Chromium and nodejs. In this case, I believe this is a Chromium issue, as we use an event, `mousewheel`, that comes for all types of trackpads, mouse wheels, etc. If you can reproduce in Chrome, then please file an issue against Chromium (or find an existing one) at https://bugs.chromium.org/p/chromium/issues/list

[2017-06-22 05:32] bpasero commented on #29177
@isidorn I think this issue existed before but now I am getting this which I think is new following Joaos steps:

[code]

The event handler for this operation starts from here: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/files/browser/views/explorerView.ts#L427

It seems like we are missing a resolve call here in case the folder is not yet resolved. Instead, we just add

[2017-06-22 05:36] alexandrudima commented on #23991
The work would be split between making first a change in `native-keymap` and then in `vscode`.

* the work in `native-keymap` would involve finding and using X11 specific methods that would capture/return the mappings done via `setxkbmap` and expose them in some form in the results of `_GetKeyMap`
* the work in `vscode` would involve making changes in `macLinuxKeyboardMapper.ts`, where the values

[2017-06-22 05:38] cristianhosu commented on #29027
@bpasero if I may, from what I understand, actually VS just ignores cursor movement and keeps in the history only navigation events (through Go to definition. I believe this would be a desired behavior, as I also feel this frustration.
@egamma When was this feature added to VS? I am currently working with VS 2015 and it does not have it :)

I could start a PR regarding this if we can clarify how e

[2017-06-22 05:43] samirdadashzade commented on #29136
Well, I attach images from "w3schools.com" and "jsfiddle.net" online code editors. Please, see the below images:
1) When we write a <p> tag inside a <div> (w3schools):
![capture1](https://user-images.githubusercontent.com/19173164/27418784-7703b85e-572e-11e7-8cea-80afa5ec7e59.PNG)
2) When we write a <p> tag inside another <p> (w3schools):
![capture2](https://user-images.githubusercontent.com/19173

[2017-06-22 05:44] alexandrudima commented on #27893
@Bill-Stewart Using Screen Readers on Windows ultimately result in a window receiving a very specific type of message from the OS, similar how a window receives for example a key down, or a mouse move, or a window resize.

I don't know all the details, but I believe a COM protocol based connection is then established between the Screen Reader and the window, and through this connection accessibili

[2017-06-22 05:45] bpasero commented on #29027
@cristianhosu it seems the logic is more complex. I see that there is no history entries added when moving around in a file but as soon as I edit the file, all those locations are being added. Could it be that only if you edit a file, a lot more history entries pop up? That is why I would like to read a documentation on this feature rather then finding out by trying :)

[2017-06-22 05:47] alexandrudima commented on #29181
@will-beta Can you please provide a screenshot or some detailed steps?

[2017-06-22 05:52] alexandrudima commented on #6302
@csicky The advantage of us being Open Source is that if you'd like to have something implemented, you can do it and submit a PR. Issues and discussions are very valuable, but IMHO a PR will have a far greater impact! :heart:

[2017-06-22 05:52] bpasero commented on #25145
See https://github.com/Microsoft/vscode/issues/25145#issuecomment-306722123 for verification.

[2017-06-22 05:56] alexandrudima commented on #25853
@jrieken Are we looking at the same profile? Looking at the profile in https://github.com/Microsoft/vscode/issues/25853#issuecomment-310008948 I see that 24s are blocked in something the v8 VM does not understand, i.e. `(program)`:
<img width="1231" alt="screen shot 2017-06-22 at 07 55 19" src="https://user-images.githubusercontent.com/5047891/27419261-29c81408-5720-11e7-856e-bddeff509032.png">

[2017-06-22 05:59] kumarharsh commented on #29185
@ramya-rao-a also, I wanted to point out that the this setting is not working - I'm still getting the emmet suggestions in the JSX files.

[code]

[2017-06-22 06:01] bpasero opened #29247 "Test: Command Palette improvements"
- [x] win - @ramya-rao-a
- [x] mac - @aefernandes
- [x] linux - @joaomoreno

Complexity: 2
Refs: https://github.com/Microsoft/vscode/issues/13080 and https://github.com/Microsoft/vscode/issues/17163

The command palette got some new features and UX updates.

**UX**
* verify you see keybindings now represented in the same way as they show up in the keybindings editor

**Preserve Input**
* verify a

[2017-06-22 06:04] alexandrudima commented on #29147
@aj-th Thanks for following up. The relevant key is:
[code]

I am assuming your physicial keyboard is also the standard en-US, an ANSI keyboard with the following printed keys:
<img width="839" alt="screen shot 2017-06-22 at 08 01 12" src="https://user-images.githubusercontent.com/5047891/27419416-1c0a85f2-5721-11e7-8ffb-d0053dabaf8b.png">

What does VS Code detect when you press <kbd>Ctrl</kbd> +

[2017-06-22 06:05] bpasero commented on #28462
**Verification**
Verify that those pickers that have keybindings still work (e.g. file picker, commmands, view picker) and that you can always trigger one of the other pickers via keybindings even if another picker is currently opened (e.g. open commands and trigger the file picker keybinding).

Also verify our quick navigation pickers still work: `Ctrl+Tab` for editor navigation and `Ctrl+Q` for

[2017-06-22 06:06] bpasero commented on #25667
**Verification**
Verify the new "Close Unmodified" action works as expected from the various places where you can invoke it (commands palette, right click on a tab, open editors view).

[2017-06-22 06:07] sandy081 commented on #29099
There were some changes in Extensions view in yesterday's insiders which had few issues. These were fixed yesterday and please try today's insiders and let me know if you still have issues.

[2017-06-22 06:10] alexandrudima commented on #29092
@Panoplos Thank you for following up. If the keypress doesn't reach us, there isn't anything we can do about it. Are you able to use `ctrl+shift+u` successfully in other applications ?

e.g. If you open https://jsfiddle.net/v1gz5c5m/1/ with Chromium, does `ctrl+shift+u` reach it?

[2017-06-22 06:17] shanalikhan opened #29248 "Code should display Extensions usage in a summary"
I have seen many threads like CPU usage reached 80% , Code is consuming too much RAM.
and Team members ask use to show the extensions and trying with disabling them.

For this, i am suggesting a way.
For example a table can be shown that Settings Sync, Python is contributing some amount of CPU or RAM to the total Code process.
Similarly Extension Start up time contributing to code total start up.

[2017-06-22 06:18] bpasero opened #29249 "Test: Restore UI state for empty windows"
- [x] win - @jrieken
- [x] mac - @rebornix
- [x] linux - @roblourens

Complexity: 5
Refs: https://github.com/Microsoft/vscode/issues/207

We always persist and restore all UI state for windows that have a folder opened via the local storage of the browser. For that we used the folder path as identifier to know which UI state to restore. This does however not work if you open an empty folder where

[2017-06-22 06:22] shanalikhan opened #29250 "Inform User if Code use too much RAM / CPU Usage / Startup Time"
I have seen many threads like CPU usage reached 80% , Code is consuming too much RAM.
and Team members ask users to show the extensions and trying with disabling them.

I think there should be feature in code that should evaluate this performance and usage and should inform use in a message in [announcements](https://github.com/Microsoft/vscode/issues/27993) with the reasons Code is having trouble

[2017-06-22 06:34] jrieken commented on #28400
But why is that? Can you not retrieve more than 1000 suggestions from your backend or are you afraid the LSP or VS Code cannot handle 1000+ items? Wrt VS Code and its suggest logic (rendering, filtering, and sorting) we try to make sure things are snappy with ~10000 items. So there is room left.

[2017-06-22 06:35] jrieken commented on #28526
Please stop saying `null` when it is `undefined` 🙃

[2017-06-22 06:38] jrieken commented on #29191
I'd say html like so `<img src="foo.png" />` needs that. I remember correctly that path is not relative to the html-resource but to the base. So, in such cased I'd try to get the base by calling `Workspace.getRoot(forThisResource: URI)`

[2017-06-22 06:39] benjpac commented on #28821
Control pad left side. I see an error in terminal like a normal terminal.

What is the expected behavior when entering a wrong password using the Git
control panel?

On Jun 21, 2017 8:52 PM, "cristianhosu" <notifications@github.com> wrote:

[2017-06-22 06:41] #28699 closed

[2017-06-22 06:43] jrieken commented on #27621
Don't call [insert](https://github.com/Microsoft/vscode/blob/master/extensions/emmet/src/abbreviationActions.ts#L32) in a loop over the selection but invoke it just once. First build all ranges and then call insert will all of them. That should do it, the ranges are being set [as selection](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/electron-browser/mainThreadEditor.ts#L3

[2017-06-22 06:46] jrieken commented on #25853
Yeah, my reasons that it 24s in the main process and then the next we did is processing a mouse move. So my theory is that the main process was stuck and could deliver the mouse move event, either because it was busy doing something else or because mouse moves can be expensive in cases?

[2017-06-22 06:47] mjbvz commented on #29062
Thanks for confirming. Closing as a duplicate of #22310

[2017-06-22 06:47] #29062 closed

[2017-06-22 06:50] jrieken commented on #29238
@xconverge Can you share the code with us that computes the value of `text`?

[2017-06-22 06:53] egamma commented on #28526
@bpasero given the recent discussions the decision makes sense.

Two things:

- what is the user experience for users when they go from 1 to 2 root folders and they have extensions installed that are using the deprecated API? If I remember properly you had some mocks for scenario and I suggest should revive/review them again.

- what do we do with extensions that were not updated after the one spr

[2017-06-22 06:53] mjbvz commented on #29191
In that case, I believe we would resolve `foo.png` relative to folder of the current html file. Using the resource uri as the `base` handles this correctly

[2017-06-22 06:59] gzx-miller commented on #28714
I upload one file into this address. https://github.com/gzx-miller/CodeBase

[2017-06-22 07:03] jrieken commented on #29191
Not so sure about that. The baseUrl code was there because of this: https://github.com/Microsoft/vscode/issues/3089. So folks want to set the server-url which is used when having these paths

[2017-06-22 07:05] sho-87 opened #29251 "Disable auto workspace settings"
Is there an option to disable the automatic creation/save of workspace settings files?

Currently, if you go to File > Preferences > Settings, and if you accidentally click the Workspace Settings tab, it will automatically create a .json file in your working directory. This gets a bit annoying if the project directory is under some sort of source control (git) as it creates a file that you now nee

[2017-06-22 07:08] jrieken opened #29252 "New windows start with dark theme"
* use a light theme
* open a new window
* 🐛 the windows a dark background for the first 1 or 2 seconds

![jun-22-2017 09-07-47](https://user-images.githubusercontent.com/1794099/27421358-630df28c-572a-11e7-9193-205a8d57e871.gif)

[2017-06-22 07:10] isidorn commented on #29215
Hi @daB0bby please use the following setting:
`"debug.internalConsoleOptions": "openOnSessionStart"`

[2017-06-22 07:10] #29215 closed

[2017-06-22 07:10] michelkaporin commented on #29190
@bpasero how urgent is this? Should I jump on it before the endgame?

[2017-06-22 07:11] isidorn commented on #29190
@michelkaporin not for this milestone, it would be great if you look into it in july. Of course if you already have cycles you can start on it but no rush

[2017-06-22 07:14] isidorn commented on #29246
@bpasero I have already discussed this with @weinand and we have come to a very similar conclusion. On the top of what you already specified we believe that we shuold introduce a brand new variable

`${workspaceRoot:FOO}` - which would allow the users to reference another root in the same project with the name FOO.
This introduces some new questions, what would happen if there are two roots with t

[2017-06-22 07:17] dbaeumer commented on #28526
I personally find a one sprint adoption period very short especially given the fact that this falls into the summer month and extension author might be on summer vacation.

[2017-06-22 07:17] joaomoreno commented on #28860
In Code, you can use `git.path` to tell Code where `git.exe` is.

[2017-06-22 07:17] #28860 closed

[2017-06-22 07:18] michelkaporin commented on #29190
@isidorn ok, will do it in July then 👍

[2017-06-22 07:19] joaomoreno commented on #28452
@Hooooyu Thanks for the detailed information. I'm going to have to ask you to try the latest [insider release](https://code.visualstudio.com/insiders) once more. Once the error happens, open the Developer tools and show me a screenshot of what appears in there.

[2017-06-22 07:20] joaomoreno commented on #28691
@q7q7w8 Can you try the latest [insider release](https://code.visualstudio.com/insiders)? Once the error happens, open the Developer tools and show me a screenshot of what appears in there.

[2017-06-22 07:20] joaomoreno commented on #26867
@edvinv Can you try the latest [insider release](https://code.visualstudio.com/insiders)? Once the error happens, open the Developer tools and show me a screenshot of what appears in there.

[2017-06-22 07:20] dbaeumer commented on #29246
@bpasero picking the last active editor is IMO a bad idea since it makes the system non deterministic for users. I would opt to do the same that we do in the API and say it is `undefined` when we don't know it.

[2017-06-22 07:23] joaomoreno commented on #29125
Given the work @sandy081 is doing, with showing badges for recommended extensions in the viewlet itself, I even say we should drop the notifications altogether, for the non-important recommendations.

[2017-06-22 07:29] joaomoreno commented on #29049
I can't seem to reproduce. Try to identify what is different in your system. I'm using the standard Command Prompt from Windows 10.

![image](https://user-images.githubusercontent.com/22350/27422096-484cf4cc-572d-11e7-9c36-ef5e8f5dcde0.png)

[2017-06-22 07:30] joaomoreno commented on #29127
Can you be more elaborate? What do you mean?

[2017-06-22 07:31] cristianhosu commented on #29027
I'll do some digging until you receive the necessary documentation. After
that we can talk about how to implement this.

On Jun 22, 2017 08:45, "Benjamin Pasero" <notifications@github.com> wrote:

[2017-06-22 07:34] dbaeumer commented on #28489
@opensw does the minimal example I provided fail with the same error. If so would you be willing to help me debug this. I have to admit I have no clue which this is failing on your machine ?

[2017-06-22 07:34] daniahl opened #29253 "[Accessibility] Magnifier Focus Tracking Not Working"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|java|redhat|0.6.0|;

---

For a screen magnifier user, it is important that text editors notify the accessibility API of caret position changes, so that the magnified view can follow the caret while e.g. w

[2017-06-22 07:35] csicky commented on #6302
@alexandrudima OK then, until I will find time to make it myself I will have to live with it every day. OS is not always an advantage. But if you say it's an advantage, why are you doing it actually? Not to share it with the users? Here is a request from some users.

[2017-06-22 07:35] joaomoreno commented on #29140
We always try to choose one for the user. But as soon as the user makes an explicit choice we never get in his way again, so this will only happen once per user, at most.

[2017-06-22 07:35] #29140 closed

[2017-06-22 07:38] Hooooyu commented on #28452
@joaomoreno OK, I had installed the lasted version VSCodeSetup-ia32-1.14.0-insider. The erroe happened again.
![image](https://user-images.githubusercontent.com/12392622/27422393-92645112-5760-11e7-8fea-b6d2a2e23def.png)

[2017-06-22 07:38] isidorn commented on #29010
@omar1989omb can you reproduce this when you debug a simple node application for instance the following
[code]

If not, can you please share your repository on github for which you can reproduce this problem so we can investigate further. Thanks

[2017-06-22 07:39] dbaeumer commented on #29183
A couple of things to note here:

- quite some language servers start the server on the rootPath as the cwd. This is the case for all LSP language server and the TS language server
- having a different cwd will have big impact on how the language server behaves. So TS for example cuts the searching of the tsconfig.json file at the cwd. So it is NOT a going all the way up to /. So to support two wo

[2017-06-22 07:40] joaomoreno commented on #29142
#26034

[2017-06-22 07:40] #29142 closed

[2017-06-22 07:43] MastroLindus commented on #26807
I have a similar problem on Linux Mint 17 on visual code 1.13.0 using tmux 2.3 as my terminal.

Started processes (webpack in watch mode) don't get killed when closing the editor.

In the past I opened issue 24688 for the same problem, and even if some work has been done on it in April and got verified, I still experience the problem.

[2017-06-22 07:47] joaomoreno commented on #29139
This seems to be a [purposeful change](https://github.com/Microsoft/vsts-vscode/blob/master/src/extensionmanager.ts#L248) on the vsts-vscode extension. They don't initialise if the workspace isn't a TFS repository, so the SCM provider won't even show up. You can file an issue on them if you think that's the incorrect behaviour. 👍

The Mercurial extension definitely has an issue. They just fail if

[2017-06-22 07:47] #29139 closed

[2017-06-22 07:47] sandy081 commented on #28526
When I opened my multi root workspace today with latest insiders, I see following error

![image](https://user-images.githubusercontent.com/10746682/27422793-c069e4fe-572f-11e7-9c33-7ac4c7de50e2.png)

And this is coming from an extension..  Probably we should handle this nicely, convey some how this is multi root and extension does not support it?

[2017-06-22 07:51] aeschli commented on #29226
Please make icon requests against the corresponding icon theme.
I assume you refer to the out-of-the box Seti theme. The source repository for this is https://github.com/jesseweed/seti-ui

[2017-06-22 07:51] #29226 closed

[2017-06-22 07:51] tklepzig commented on #28556
I tested it and it works as expected :)

[2017-06-22 07:52] sandy081 commented on #29201
This is fixed in latest insiders. Please try latest and let us know if you are still having issue

[2017-06-22 07:52] #29201 closed

[2017-06-22 07:52] joaomoreno commented on #29159
If you fully reinstall VS Code, does this still happen?

[2017-06-22 07:52] aeschli commented on #29232
@testerez Just to make sure, what programming language is the screenshot in?

[2017-06-22 07:53] sandy081 commented on #29180
@DoctorFitch Please try the extension https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync which does syncing of configuration across machines.

[2017-06-22 07:53] #29180 closed

[2017-06-22 07:54] joaomoreno commented on #28690
I believe we simply missed it... sorry for that.

[2017-06-22 07:54] aeschli commented on #29136
Thanks for the explanation. This is a duplicate of #23199

[2017-06-22 07:54] #29136 closed

[2017-06-22 07:55] kumarharsh commented on #29185
Actually, is there a way to disable emmet altogether? It's not letting me write any code - sometimes it overrides all intellisense, meaning I don't get ANY suggestions. And as said, the setting above doesn't seem to be working.

![image](https://user-images.githubusercontent.com/760112/27423110-2ef13a8a-574e-11e7-8a21-fc9d37a2e4e5.png)

[2017-06-22 07:57] #29166 closed

[2017-06-22 08:03] joaomoreno commented on #29211
We don't support npm 5 yet. Please go back to npm 4/ node 7.

[2017-06-22 08:03] #29211 closed

[2017-06-22 08:04] joaomoreno commented on #29217
This could be a setting: `git.autofetchPrune`. Want to create a PR for it?

[2017-06-22 08:06] joaomoreno commented on #28452
That's bad news... Can you reproduce if you uninstall csharp and monodebug?

[2017-06-22 08:09] samirdadashzade commented on #29136
Well, Martin.
I don't think that my question is a duplicate of "Should show an error if html end or start tag is missing". I guess my issue is specific to &lt;p&gt; tag that we just can not create nested &lt;p&gt; tags inside each other. It is not about end tag or start tag. It relates only to &lt;p&gt; tags.

Thanks.
Best regards.

[2017-06-22 08:09] egamma commented on #28928
@dbaeumer agreed, moving the issue.

[2017-06-22 08:11] egamma commented on #28928
This issue was moved to Microsoft/vscode-npm-scripts#39

[2017-06-22 08:11] #28928 closed

[2017-06-22 08:18] sandy081 commented on #28526
With rootPath to `undefined` in multi-root set up causes GIT extension to be disabled. This blocks to self host on multi root.

[2017-06-22 08:18] isidorn commented on #29239
fyi @bpasero I believe you have broke this via https://github.com/Microsoft/vscode/commit/f2e1911761f4bfadf576f0bf1b4e5349b767998e
In https://github.com/Microsoft/vscode/blob/master/src/vs/base/common/labels.ts#L31

Though I fixed it on my side since your changeset was large

[2017-06-22 08:23] michelkaporin opened #29254 "Revisit smoke test CSS selectors to mimic interactive user behaviour"
Replace selectors that rely on knowledge where the element is positioned in the DOM.

E.g. avoid CSS selectors that are based on knowledge of the element index in the DOM
`.monaco-list-rows>:nth-child(7)`.

The test should interactively walk down the DOM to find the element needed, similar way human does when working with the view.

Raised by @joaomoreno

[2017-06-22 08:23] weinand commented on #29246
We should deprecate the `cwd` variable because its name and purpose is unclear and confusing. It seems to be a synonym for workspaceRoot but its description says "the task runner's current working directory on startup".

[2017-06-22 08:26] michelkaporin commented on #27906
Exploration done and decision was made not to do any binding due to overhead and restrictions from the core code point of view.

Instead, log of smoke test failures should be created and maintained to understand common scenarios where tests fail because of loose binding or some other problems.

[2017-06-22 08:29] GGTMiku opened #29255 "扩展主机意外终止。请重新加载窗口以恢复。"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|docthis|joelday|0.4.5|;

---

Steps to Reproduce:

1.
2.

[2017-06-22 08:32] GGTMiku commented on #29255
remove vscode or use cleaning tools！it will replace when reinstall!

[2017-06-22 08:36] Krzysztof-Cieslak commented on #28690
@joaomoreno: I'll add it again.

[2017-06-22 08:38] Hooooyu commented on #28452
Yes, I uninstall all extensions, but... it happen again.
![image](https://user-images.githubusercontent.com/12392622/27424869-19e4dc44-5769-11e7-9315-85e0af830d3f.png)
![image](https://user-images.githubusercontent.com/12392622/27424875-23676908-5769-11e7-97b8-4d6460970bb7.png)

[2017-06-22 08:41] #28607 closed

[2017-06-22 08:47] fredrikaverpil opened #29256 "Search and replace whitespace"
In Sublime Text, you can search and replace whitespace, which is a very useful feature.

![image](https://user-images.githubusercontent.com/994357/27425206-f50d7042-5737-11e7-8735-a151a8423a4a.png)

When attempting the same thing in vscode, it doesn't seem to work at all:

![image](https://user-images.githubusercontent.com/994357/27425270-2b7ded82-5738-11e7-973e-c564bd401775.png)

[2017-06-22 08:51] opensw commented on #28489
Hi dbaeumer,
   sorry to bother you xD, anyway I have found what is wrong.

In version 1.12.2 the following is working (where build.sh has echo "Hello world")

`{
    // See https://go.microsoft.com/fwlink/?LinkId=733558
    // for the documentation about the tasks.json format
    "version": "0.1.0",
    "command": "",
    "isShellCommand": true,
    "args": [""],
    "showOutput": "always",
    "

[2017-06-22 08:52] Jinnified commented on #585
so any news on this? vs was awesome except this part

[2017-06-22 08:54] bmarkovic opened #29258 "Reuse existing split for dual-pane UI features"
Currently when one uses features such as git diff viewing, or editing settings etc. that themselves use a dual pane view whilst using the editor in a split view already (which I constantly do) VS Code splits the active editor group of the split view (which is already half of the editor window width minus the side bar) to display the two panes (which now end up being quarter width) making any editi

[2017-06-22 09:02] letmaik commented on #29217
Done :)

[2017-06-22 09:10] sandy081 commented on #28538
Configuration editing (internal API) takes now `scopes` as an additional option. Scopes are -

- resource: Write configuration into resource scope
- overrideIdentifier - Write configuration into overrideIdentifier scope

Given a resource scope, following is the support
- Selecting `WORKSPACE` target, will write the configuration into appropriate root folder of the resource. Invalidates when there

[2017-06-22 09:24] xiajing1980 commented on #26527
I have same issue in OS X. It's even worse because the wrong character is usually an invisible character, like 0x27. Which cause lots of "Invalid character" error when I compile the file.

[2017-06-22 09:24] iccub commented on #29210
Sorry for late reply, I'm in eu timezone

It's the same without extensions too, I reinstalled clean version to be sure

[2017-06-22 09:27] Leedehai opened #29260 "Feature Request: add file icon for .ebnf"
- VSCode Version: 1.13.1
- OS Version: macOS 10.12

I hope there is a file icon for .ebnf (extended Backus–Naur form) file..

[2017-06-22 09:49] johnnyreilly commented on #29020
I get this too - happened with 1.13.0 I think.

[2017-06-22 09:54] johnnyreilly commented on #29020
Here's my repro:

- Open VS Code
- Open a TypeScript file which contains a class
- Shift-F12 on a method
- In the window that opens up references click on one of the references
- Boom!  Minimap leaves the building.

[2017-06-22 10:00] wenchaoss opened #29262 "Touchpad not sensitive to sliding"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.1.0|
|one-monokai|azemoh|0.3.1|
|path-intellisense|christian-kohler|1.4.2|
|jquerysnippets|donjayamanne|0.0.1|
|vscode-html-css|ecmel|0.1.7|
|tortoise-svn|fantasytyx|0.1.1|
|auto

[2017-06-22 10:17] jrieken commented on #28526
I read that we should go back to making it the first workspace folder

[2017-06-22 10:20] Rain1996 commented on #29159
I have reinstalled VS Code and it doesn't happen so far.

[2017-06-22 10:37] jrieken commented on #28526
Maybe we need to rethink this. Today, after making `rootPath` behave like that, we have seen issues with https://github.com/KnisterPeter/vscode-github which activated via `workspaceContains:.git` and fails (throws errors) because `rootPath` is not defined. With what we have to day, the extension is doing everything correct and we not break it like this. So, it might be better to have a somewhat st

[2017-06-22 10:41] #28702 closed

[2017-06-22 11:18] WalterLeinert commented on #28593
@Tyriar I tested multiple rebuilds of my framework with vscode https://az764295.vo.msecnd.net/stable/19222cdc84ce72202478ba1cec5cb557b71163de/VSCodeSetup-1.12.2.exe (2 vscode instances opened, 1 babun shell for build): no issues with vscode 1.12.2.

After upgrade to vscode 1.13.1 the tests fail again. For me some code or some dependencies in vscode after 1.12.2 cause the problems.

Regards.
Walter

[2017-06-22 11:36] Panoplos commented on #29092
Seems you are correct. So odd! I will try to hunt down the cause with the Plasma team.

[2017-06-22 11:36] #29092 closed

[2017-06-22 11:38] davisshaver commented on #1746
This seems fine for now, but it'd be very nice to have granular controls in the future! Glad to see the discussion!

[2017-06-22 11:49] rprichard commented on #28593
I'm not sure how winpty would cause `EPERM` errors.

It sounds like the problem can happen outside of VSCode, as long as one (or several?) instances of VSCode are running.  Does the VSCode integrated terminal even need to be open to cause the issue?

Anyway...  VSCode uses `winpty.dll`, which uses `winpty-agent.exe`.  The public API of `winpty.dll` hasn't changed in a long time, so it should be ea

[2017-06-22 11:54] jrieken commented on #28263
Ok, lets brainstorm more on this. As you have said, the document provider and preview command is a way of making custom UI but was definitely not designed for that. It is what its name implies, previewing a resource. We acknowledge that it's used for building UI and time to make this more official and supported will come. We had similar ideas, in short along those lines

* have an API function ala

[2017-06-22 11:56] bingzheyuan commented on #29188
I am checking other third party code and I don't know how their code are generated nor any other tools that can properly show the content. Take this code for example https://github.com/CreateJS/EaselJS/blob/master/src/easeljs/display/Graphics.js

[2017-06-22 11:58] jisbert opened #29263 "Minimap hides after peek definition or find all references"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|mssql|ms-mssql|1.0.0|
|csharp|ms-vscode|1.10.0|
|PowerShell|ms-vscode|1.4.0|
|java|redhat|0.6.0|;

---

Steps to Reproduce:

1. Enable minimap by placing this in user or workspace settings or both:
[code

[2017-06-22 12:13] mauricedb commented on #28593
When I was experiencing the issues with my last test I was using an external terminal, **ConEmu**, with a PowerShell window. I didn't have the internal VS Code window open at any time at all. I have also had the same problems using a **Console2** PowerShell window on a different machine.

[2017-06-22 12:13] jens1o commented on #29263
This is fixed in latest insider, also a duplicate.

https://github.com/Microsoft/vscode/issues/28093

[2017-06-22 12:14] jens1o commented on #28093
@alexandrudima Suggestion: Could you add the `editor-minimap` label, so I have it easier to find this issue?

[2017-06-22 12:14] testerez commented on #29232
JavaScript but it's the same for TypeScript

[2017-06-22 12:31] marvinhagemeister opened #29265 "Diff view does not open on click in scm view"
(Use Help > Report Issues to prefill these)
- VSCode Version: 1.14.0-insider d5e10a589ff68d026ba9cf57485d3004149a9c8a
- OS Version: MacOS Sierra 10.12.5

I haven't found exact steps to reproduce it yet, but it does happen a lot when solving conflicts while rebasing.

Stack trace from vscode devtools console:

[code]

Steps to Reproduce:

1. create git repo
2. create a merge conflict
3. rebase
4. c

[2017-06-22 12:34] sumanx commented on #29099
Hi, @sandy081 there are still some errors exist.

<img width="1224" alt="2017-06-22 8 30 52" src="https://user-images.githubusercontent.com/620733/27434127-22c67112-578a-11e7-9316-58d1f906f431.png">

[2017-06-22 12:34] enkol commented on #29132
For me it is the process ``"C:\Program Files (x86)\Microsoft VS Code\Code.exe" "c:\Program Files (x86)\Microsoft VS Code\resources\app\extensions\typescript\out\utils\electronForkStart" "c:\Program Files (x86)\Microsoft VS Code\resources\app\extensions\node_modules\typescript\lib\tsserver.js" --useSingleInferredProject --enableTelemetry --cancellationPipeName \\.\pipe\vscode-tscancellation-c4a82e1

[2017-06-22 12:52] teterovic opened #29266 "Regex not recognizing .services URL in terminal"
Do you have a question? Please ask it on [Stack Overflow with `vscode` tag](http://stackoverflow.com/questions/tagged/vscode)

(Use Help > Report Issues to prefill these)
- VSCode Version: Version 1.13.0 (1.13.0)
- OS Version: MacOs 10.12.5 (16F73)

Steps to Reproduce:

1. open integrated terminal
2. write   echo "this is a http://lol.services url"

The url is not selectable with mouse+CTRL , when

[2017-06-22 12:57] marvinhagemeister opened #29267 "Broken syntax highlighting for multiline function args in typescript"
Do you have a question? Please ask it on [Stack Overflow with `vscode` tag](http://stackoverflow.com/questions/tagged/vscode)

(Use Help > Report Issues to prefill these)
- VSCode Version: 1.14.0-insider d5e10a589ff68d026ba9cf57485d3004149a9c8a
- OS Version: MacOS Sierra 10.12.5

Steps to Reproduce:

1. open vscode
2. paste this snippet:

[code]

[2017-06-22 13:04] katsos commented on #27331
Is anyone working on this? I like the idea and I would like to give it a try.

[2017-06-22 13:17] jens1o commented on #27331
@katsos Go ahead, so far I don't see any pr.

[2017-06-22 13:21] filipesilva commented on #29204
Also suffering from this atm, it was driving me nuts. Trying out your workaround.

[2017-06-22 13:36] larssn commented on #11963
Happening for me at random. I have to quit vscode, and terminate the orphaned high cpu usage CodeHelper manually. This is in OSX Sierra.

[2017-06-22 13:36] katsos commented on #27331
Any recommendation, where to put the github link? To use or not the github logo? Any specification?

[2017-06-22 13:38] erraX commented on #1749
+1

[2017-06-22 13:38] sandy081 commented on #29099
@sumanx these errors are unrelated to the issue which fixed yesterday... Looks like one of the old processes from VS Code is still running.. @joaomoreno Any idea how to release this?

[2017-06-22 13:44] simonsarris opened #29269 "Typing "$(" opens jQuery autocomplete even when the dollar symbol has been defined as something else"
Steps to Reproduce:

1. Declare the `$` as something that's not jQuery
2. Type `$(`

This pops up with jQuery autocomplete, but I'm not using jQuery.

Such as this:

<img width="485" alt="capture" src="https://user-images.githubusercontent.com/340971/27437090-35ef2e56-572f-11e7-83e9-fb6bb333f333.PNG">

[2017-06-22 13:45] jisbert commented on #29263
@jens1o Yes, you are right, I close this issue. While following the [contributing issues guide](https://github.com/Microsoft/vscode/blob/master/CONTRIBUTING.md) I searched related issues but I didn't find any. Sorry for the inconvenience and thank you.

[2017-06-22 13:54] Szandor72 commented on #27285
Even after uninstalling OneDrive, rebooting several times - I cannot get those folders to open. Broke my workday completely. Yay -.-

[2017-06-22 13:57] ramya-rao-a commented on #27621
@jrieken That will work if the same snippet has to be inserted in all ranges. But that is not the case here. We could technically have 3 different emmet abbr in 3 different locations

[2017-06-22 14:01] jrieken commented on #28526
fyi @Microsoft/vscode The alternative proposal is to make the *first* workspace the root folder. In our current implementation that would be the master folder but in an implementation with a list of equal folders (ala `vscode-project.json`) it would be the first (index=0) folder. Only when that folder goes away (is getting closed/removed) we would need to restart the extension (which today in only

[2017-06-22 14:03] isidorn commented on #29260
Please file this agains the icon extensino theme you are using, or this could be an extension candidate

[2017-06-22 14:03] #29260 closed

[2017-06-22 14:04] isidorn commented on #29258
fyi @bpasero

[2017-06-22 14:06] isidorn commented on #29255
Please file this issue with reproducable steps and in english and we can reopen
thank you

[2017-06-22 14:06] #29255 closed

[2017-06-22 14:07] isidorn commented on #29250
fyi @bpasero @jrieken

[2017-06-22 14:11] ramya-rao-a commented on #29185
@kumarharsh Good catch on the `emmet.excludedLanguages` setting. Fixed with https://github.com/Microsoft/vscode/commit/9483e9fa6ad93b0dbe0ce64bdf2c3d4edb6e2a09
The fix will be out in tomorrow's Insiders build

In your screenshot above, is that a jsx file or javascript file?
If it is a jsx file, then from today's Insiders you won't see it anymore.
If it is a javascript file, then the emmet autocomp

[2017-06-22 14:14] ramya-rao-a commented on #28556
Thanks @tklepzig !
I appreciate all the testing and feedback.

Please do try out other emmet actions and let me know if you see any other issues

[2017-06-22 14:14] chenxizhang commented on #27285
Disable the File-Ondemand Feature can work for me
But this is a bad experence

[2017-06-22 14:18] jrieken commented on #28400
Ok, I have updated the title of this issue to more accurately reflect what is happening here. Today, the definition and implementation for *incomplete* suggestion results is that each character typed after receiving a result trigger a re-compute of the list. Since the document is the only one holding state and since that might not be enough more information is needed. Makes this request very simil

[2017-06-22 14:26] sean-mcmanus commented on #28400
1000 was chosen as an arbitrary number to prevent an unbounded delay, but we don't have performance data on the effect of increasing the number (our backend has processing to do). We could investigate increasing this number, but for large C++ projects, I've seen autocomplete at global scale generate over 40000 results.

We might be able to fix this via saving the anchor position when an incomplete

[2017-06-22 14:27] jrieken commented on #27621
Then you cannot do it without manual work. Snippets, like all multi-cursor operations, insert the same text at all cursors. You could combine all emmet expansions into one snippets and that snippet would replace those three lines, the `SnippetString` and its builder functions might help you.

[2017-06-22 14:33] owencasaide commented on #29153
Sorry, I  have moved on to another Linux distribution and do not have VS Code installed. I can tell you that the behavior I reported was consistent on all menu items except View. With View you would get the drop down that allowed you to select a sub menu item with the mouse. All the other menu items would present a black graphic with a gray circle positioned near the upper left corner of the black

[2017-06-22 14:34] isidorn commented on #29177
@bpasero code review the fix when you get a chance, thanks

[2017-06-22 14:34] #29177 closed

[2017-06-22 14:35] jrieken commented on #28400
Ok, I'd go for a higher limit to begin with and see how well or not that goes. With 10000 it should still be OK, the 40000 maybe a little slower. The rendering is all virtualised, the expensive bit is data serialisation and filtering/scoring. I'd give it a try, everyone would benefit if you guys can uncover some hidden perf issues with this.

It could work - the UI only allows to invoke IntelliSen

[2017-06-22 14:39] xconverge commented on #29238
I can in a bit, what does text have to include other than \n? The string I referenced ```abc\nabc\nabc``` is not enough info?

[2017-06-22 14:42] locojuhi commented on #27958
@Tyriar ``command + Q`` to kill vscode and then open vs code in the input of spotlight search (command + space bar).

but you must to know that since i installed 'code' to the path... the test are not failing anymore.

[2017-06-22 14:53] Tekbr commented on #29201
-- Sorry for the English, I used Google Translator --

@sandy081 It seems that there was no Insiders available for Windows today (2017-06-22). I'll wait tomorrow (2017-06-23).

[2017-06-22 14:53] Tyriar commented on #27958
@joaomoreno does installing code on the path do any funny business that could impact this? This issue seems like the case of the wrong environment being loaded i when launching from the macOS dock, apart from that detail.

[2017-06-22 14:59] Tyriar commented on #29266
Upstream issue https://github.com/sourcelair/xterm.js/issues/601

[2017-06-22 15:03] jrieken commented on #29238
Ideally you have a repo or another form of source that you could share with me

[2017-06-22 15:03] Tyriar commented on #28593
@mattbierner are we doing additional things with `npm` in 1.13? We're seeing EPERM errors when touching files due to some other process locking them.

[2017-06-22 15:05] WalterLeinert commented on #28593
@rprichard The files from the given zip-archive do not work:

![image](https://user-images.githubusercontent.com/11707239/27441137-f0d0c346-576c-11e7-8a36-b4ece495b9b4.png)

[code]
Are these the right files from ia32/bin?

[2017-06-22 15:07] jrieken commented on #29238
So, the snippet below inserts three lines for me

[code]

![jun-22-2017 17-07-17](https://user-images.githubusercontent.com/1794099/27441257-469b17e0-576d-11e7-9955-5adaf236dd21.gif)

[2017-06-22 15:09] joshvickerson commented on #25934
Also experiencing this in VSCode 1.13.1 on a late-2015 5k iMac (macOS 10.12.5) on all panes, while maximized. Seems to disappear entirely if I disable the minimap, but resumes if (with the minimap disabled) I split the editor pane, or open terminal. Also stops occurring if I shrink the window size a little.

[2017-06-22 15:20] edmundo096 commented on #17777
Really useful on big projects.
Any update on this? Or where I could start looking in the source?

[2017-06-22 15:24] vvs opened #29270 "Emmet suggest wrong things in SCSS files"
- VSCode Version: Code - Insiders 1.14.0-insider (a49a42680a4269b79c4e80f6d754bbded03a0593, 2017-06-21T05:15:42.843Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
Bookmarks|ale|0.15.2
project-manager|ale|0.18.1
vscode-eslint|dba|1.2.11
vscode-great-icons|emm|2.1.8
beautify|Hoo|1.1.1
atom-keybindings|ms-|2.0.1
seti-icons|qin|0.1.3
vscode-i

[2017-06-22 15:24] jens1o opened #29271 "grammar parser has problems"
- VSCode Version: Code - Insiders 1.14.0-insider (a49a42680a4269b79c4e80f6d754bbded03a0593, 2017-06-21T05:15:42.843Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
path-intellisense|chr|1.4.2
gitlens|eam|4.1.3
tslint|eg2|0.15.0
LogFileHighlighter|emi|1.1.1
vscode-reveal|evi|0.0.9
php-debug|fel|1.10.0
php-intellisense|fel|1.4.1
auto-close-t

[2017-06-22 15:26] jens1o commented on #29271
I'm curious. This bot can say there is a bug?

[2017-06-22 15:31] ghiscoding commented on #10542
I also would like to see a Git Merge implemented eventually without going in the console.

@freMea you might be interested to know that there's an open PR #29138 to `add Git Stashing` which will hopefully land soon.

There's actually also a PR #10542 for `Git Merge` but changes were asked over a month ago and it wasn't done yet, so it might not land.

[2017-06-22 15:42] Edgar-BlipparDev opened #29272 "Add filtering option on warnings and errors in Problems Output tab"
Similar to Unity engine console logger..

While we may be able to filter by problems we are not able to filter by errors or warnings instead I am presented with huge list and have to scroll through it! I would like to have option to quickly hide and unhide warnings instead seeing them all in list.. As well as having option to hide and unhide specific errors... Thank you!

[2017-06-22 15:58] xconverge commented on #29238
@jrieken Thanks for the responses. I am going to close this for now. I have expanded on your example a bit to be closer to my actual source code, and it still works correctly. I think that I am most likely doing something wrong, now that I see that this example works I will close it for now. Sorry for the noise!

[code]

[2017-06-22 15:58] #29238 closed

[2017-06-22 16:04] deejaybill opened #29273 "Git gutter indicators doesn't disappear after a commit"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|azurenodeessentials|azuresdkteam|0.2.6|
|vscode-eslint|dbaeumer|1.2.11|
|code-runner|formulahendry|0.6.24|
|beautify|HookyQR|1.1.1|
|minify|HookyQR|0.3.0|
|ftp-sync|lukasz-wronski|0.3.3|
|yo|samverschuer

[2017-06-22 16:12] PDS42 commented on #15710
Sorry if that's not the right place to ask this, but is this being implemented anytime soon? It would be a huge improvement IMO. This is the only reason that makes me consider switching to WebStorm, though I really enjoy VS!

[2017-06-22 16:12] BillDenton opened #29274 "File will not be displayed because is it either binary, very large or an unsupported text encoding"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|language-x86-64-assembly|13xforever|2.2.11|
|rainbow-brackets|2gua|0.0.6|
|read-only-indicator|alefragnani|0.6.0|
|alignment|annsk|0.3.0|
|Doxygen|bbenoist|1.0.0|
|vscode-astyle|chiehyu|0.6.2|
|python|donj

[2017-06-22 16:13] peterhinners commented on #29216
@bpasero Thank you for the suggestion. I tried it and am still getting the error.

@alexandrudima Great suggestion. This happens for any file by the way. What I see in the console is the following (and it continues to appear repeatedly... I had like 13,000 instances of this error before I closed it):

[IPC Library: Watcher] Error: watch /home/cfe/projects/ContentStream/api/app/vendor/jms/parser-li

[2017-06-22 16:14] sandy081 commented on #29251
Currently settings file is created if not exists. Otherwise user cannot write into that file from editor. I think we need an in memory file which is editable and is only saved/created when user saves it.

[2017-06-22 16:16] sandy081 commented on #29248
@jrieken Is it possible to get the data asked in the description?

[2017-06-22 16:16] srivatsan1982 commented on #16135
Hi,
I faced this issue and the following is the scenario:
OS : Windows 7 64 bit.
Tool : Visual Studio Code
Browser: Chrome

In order to resolve this issue, place the following setting in the **launch.config** file:

{

"version": "0.2.0",

"configurations": [

               {
                       "name": "Launch",
                         "type": "chrome",
                         "request": "l

[2017-06-22 16:25] smlombardi commented on #29213
@alexandrudima Setting this to False also disables _matching tag pairs_.  Which I want to keep.  I'm not sure why this behavior is like it is.

With this property as `true` (default), I put the cursor in the opening `div` tag for the row.  The other `div`s are not highlighted, IMO as it should be.

![screen shot 2017-06-22 at 12 22 03 pm](https://user-images.githubusercontent.com/835148/27444847-9

[2017-06-22 16:27] glebec commented on #9209
So what we'd want to do is add a setting to VSC to display gutter marks for lines with errors or warnings, so we don't rely on extensions (e.g. ESLint) to implement this behavior individually – yes? The plumbing is there, in theory creating a new setting for it would be not too bad. There would be some built-in images for the marks. As a further goal, themes could optionally provide additional one

[2017-06-22 16:28] ajoslin103 commented on #3130
using the cmd key to add multiple selections is working now for mac !!

thanks to all !!!

[2017-06-22 16:31] rianadon commented on #29049
Now it works for me after pulling again and rebuilding. I'm not sure whether it was a problem with the state of my clone of the repository or something that changed in VS Code, but I can no longer reproduce this.

Thanks for trying to help.

[2017-06-22 16:31] #29049 closed

[2017-06-22 16:40] bouchepat commented on #29132
Same as @enkol,

During build, CPU spikes:
![image](https://user-images.githubusercontent.com/18633763/27445387-6432e0c4-572e-11e7-89ea-7de36c617263.png)

This is after the error is thrown, CPU back to normal but memory has not gone down:
![screenshot 2017-06-22 09 33 29](https://user-images.githubusercontent.com/18633763/27445329-332564ac-572e-11e7-9536-1747b39e1b5d.png)

[2017-06-22 16:52] josefcts opened #29275 "AutoComplete not working into file with file associations configured"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 6.2.9200
- Extensions:

|Extension|Author|Version|
|---|---|---|
|jshint|dbaeumer|0.10.15|
|xml|DotJoshJohnson|1.9.1|
|php-intellisense|felixfbecker|1.4.1|
|composer|ikappas|0.5.0|
|phpcs|ikappas|0.7.0|
|vscode-JS-CSS-HTML-formatter|lonefy|0.2.3|
|sublime-keybindings|ms-

[2017-06-22 16:54] smlombardi opened #29276 "Emmet 2.0: Insertion point is in wrong place after completion"
- VSCode Version: Code - Insiders 1.14.0-insider (d5e10a589ff68d026ba9cf57485d3004149a9c8a, 2017-06-22T05:33:25.311Z)
- OS Version: Darwin x64 16.6.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
ng-template|Ang|0.1.3
vscode-markdownlint|Dav|0.9.1
code-settings-sync|Sha|2.8.1
sort-lines|Tyr|1.3.0
Bookmarks|ale|0.15.2
project-manager|ale|0.18.1
path-intellisense|chr|1.4.2
vscode-e

[2017-06-22 16:54] rodrigocnovos opened #29277 "Save in the cloud our configurations and plugins installed"
Save in the cloud our configurations and plugins installed so that it can be recovered in case of failure or in other machines!

Thanks

[2017-06-22 16:56] octref commented on #29114
Will give it a try tonight :-)

[2017-06-22 16:59] ramya-rao-a commented on #27621
Thanks @jrieken

You mean combine the text in between the lines as well into one big snippet? I'll re-visit this based on user feedback.

For now I am taking this approach

- If abbreviation in all cursors are the same, the pass all ranges at once in a single call to `editor.insertSnippet`. All cursors will be maintained
- Else call `editor.insertSnippet` for each range/abbreviation. A single curs

[2017-06-22 17:03] Siddharth02 opened #29278 "VS code error"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|csharp|ms-vscode|1.10.0|;

error : The preLaunchTask 'build' terminated with exit code 1.
warning : Some projects have trouble loading. Please review the output for more details.
---

Steps to Reproduce:

[2017-06-22 17:05] #28234 closed

[2017-06-22 17:06] cosmoKenney commented on #21295
Both this and the duplicate #17777 were closed, so I guess this is dead. I'm pretty sure there was an update to the three recently, but it would be nice if there were a config value to increase the indent. I don't really need tree lines, but more indent would be great.

[2017-06-22 17:08] cosmoKenney commented on #17777
@edmundo096 this was closed as a dup of #21295, which is also closed. So I guess this is going nowhere.

[2017-06-22 17:12] OliverJAsh opened #29279 "Disable format on fix"
When using the fix menu in VSCode, it appears that formatters are run afterwards.

Could we add an option to disable this?

For example, formatting will occur upon running this fix:

![image](https://user-images.githubusercontent.com/921609/27446655-65d667e8-574c-11e7-91de-37f5ac3edb38.png)

[2017-06-22 17:17] siddas990 opened #29280 "PHP auto complete issue..."
while i am coding in PHP environment auto complete of HTML, CSS, JS not working.

[2017-06-22 17:18] Tyriar commented on #6302
@csicky I don't understand the point you're trying to make here? There are many good and bad things with OSS, but from this conversation I've gathered:

Advantages:

- Ability to talk directly with developers
- Access to source code
- Ability to contribute
- More unfiltered feedback from users

Disadvantages:

- ?

The fact that VS Code is OSS doesn't change the fact that we're busy and need to ma

[2017-06-22 17:21] Tyriar commented on #29197
@vyagi can you provide a screenshot? Also are you having this issue specifically with PowerShell? I see you have the PowerShell extension installed which can change how the terminal behaves.

[2017-06-22 17:22] Tyriar commented on #26807
@MastroLindus this issue is specifically for Windows which uses a very different backend. We can discuss this in another issue if you want, the main thing I'll need is reliable repro steps.

[2017-06-22 17:25] letmaik commented on #29217
Note that I just found out you can also enable this via a git config setting: `git config --global fetch.prune true`. Considering this, should my PR still be merged?

[2017-06-22 17:25] Matheus-de-Souza opened #29281 "Show "<pause> is undefined" when I press Ctrl+C if I use emacs on the terminal"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.1.0|
|Bookmarks|alefragnani|0.15.2|
|vscode-database|bajdzis|1.2.0|
|jshint|dbaeumer|0.10.15|
|vscode-eslint|dbaeumer|1.2.11|
|githistory|donjayamanne|0.2.0|
|tslint|eg2|0.15.0|

[2017-06-22 17:29] Matheus-de-Souza commented on #29281
Well it may sounds a bit crazy.. why on the earth you want to use a program editor inside other program editor?? But emacs has a awesome extension to handle git.. Magit is its name and VSCode has not a better option for me.. Then I'm using the Magit inside emacs to add/commit/push/pull my codes

[2017-06-22 17:34] ramya-rao-a commented on #29280
@siddas990 Is this a regression? Did this work before and not anymore?

php intellisense comes from extensions. Do you have any php extensions installed?

[2017-06-22 17:35] csicky commented on #6302
Well, if I would be a paying customer you would say that "Thank you for your feedback and we'll consider it". Instead because open source you say "If you want it that bad, go ahead and make it yourself." But this can feel good or bad depending on person.
What my problem with this is that I can be sure it will never be implemented / fixed. And since this functionality comes from the operating syste

[2017-06-22 17:39] orta commented on #27331
Personally, I'd like to see it next to the disable and uninstall

[2017-06-22 17:39] Tyriar commented on #28526
@jrieken the whole "master folder" concept thing is a concept not many people like and is pending @bpasero and @sandy081 I think looking into how we are going to persist the workspaces in the long run.

The concern with making it the first workspace is that the extension will work for one folder and potentially one folder only, and therefore not behave as expected for the non-"master folders". Thi

[2017-06-22 17:42] roblourens commented on #17777
@cosmoKenney This issue isn't closed...

[2017-06-22 17:43] ramya-rao-a commented on #29276
This is because the snippet returned by the [emmet expand module](github.com/emmetio/expand-abbreviation) in this case is `<h1></h1>` and not `<h1>${0}</h1>`

@sergeche This is not the case in your emmet plugin. Is there anything extra that the plugin is doing? If so, shouldnt that be moved into the emmet module?

[2017-06-22 17:44] ramya-rao-a commented on #29270
Duplicate of #29196

@vvs Sorry about this. It is already fixed in today's Insiders. Thanks for reporting!

[2017-06-22 17:44] #29270 closed

[2017-06-22 18:08] canada11 commented on #20853
+1 @varemenos for that, especially the highlight selected word.

I love in Atom being able to double click a word and quickly seeing in the minimap all the instances of it highlighted (in the minimap) for the whole file.

[2017-06-22 18:10] jens1o commented on #29280
@ramya-rao-a There's some basic support provided by vscode. https://github.com/Microsoft/vscode/tree/master/extensions/php/src/features

I think he means while editing a php file, he does not have access to (for example) features that uses the language id, so he can not mix languages in one file. This was requested sometime, but I don't find the specific issue.

[2017-06-22 18:16] cleidigh commented on #29184
@Tyriar
since you still think this is relevant I will continue to look into it and touch base when I have some progress

[2017-06-22 18:20] enbyted commented on #28946
Yes, that's exactly what causes the crash that I've posted.

That means that it's probably unrelated to the slowing down thing that I've experienced. However I didn't experience it yet in Saturday's (I think) insiders build, so maybe it got fixed by TS 2.4 or something. It's been running stably for 5 days now in 3 instances with small(50 files) to medium (8k-10k files + dependencies) sized TS proj

[2017-06-22 18:24] qaisjp opened #29282 "Incorrect changing of name when pasting a file to the same folder"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:13:05.928Z)
- OS Version: Darwin x64 16.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|ssh|chrmarti|0.0.2|
|vscode-eslint|dbaeumer|1.2.11|
|CppSnippets|hars|0.0.11|
|spacegray-vscode|ionutvmi|1.2.3|
|sublime-babel-vscode|joshpeng|0.2.5|
|Go|lukehoban|0.6.62|
|cpptools|ms-vscode|0.11.4|;

---

Steps

[2017-06-22 18:26] nanaasumadu commented on #27697
@ramya-rao-a

No, it doesn't work.

- VSCode Version: 1.14.0-insider (1.14.0-insider), 2017-06-22T05:29:25.846Z
- OS Version:  MacOS 10.12.5

- settings.json file:
 "emmet.useNewEmmet": true,
  "emmet.syntaxProfiles": {
    "php": "html"
  },

Steps to Reproduce:

1.  Create a new file with .php as extension.
2.  Try to insert HTML elements using emmet syntax.

[2017-06-22 18:41] smlombardi opened #29283 "Emmet 2.0: "Wrap with Abbreviation" messes up formatting"
- VSCode Version: Code - Insiders 1.14.0-insider (d5e10a589ff68d026ba9cf57485d3004149a9c8a, 2017-06-22T05:33:25.311Z)
- OS Version: Darwin x64 16.6.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
ng-template|Ang|0.1.3
vscode-markdownlint|Dav|0.9.1
code-settings-sync|Sha|2.8.1
sort-lines|Tyr|1.3.0
Bookmarks|ale|0.15.2
project-manager|ale|0.18.1
path-intellisense|chr|1.4.2
vscode-e

[2017-06-22 18:43] jens1o commented on #29283
maybe related to #27977?

[2017-06-22 18:44] jkavanagh58 commented on #28754
It was the "Hack" font. What I found was an exclamation character was placed in the setting value. I think this might be operator error. Thanks

[2017-06-22 18:49] Tyriar commented on #29281
@Matheus-de-Souza is this using WSL bash? Also what is ctrl+c meant to do exactly and could you post a screenshot?

[2017-06-22 18:51] Tyriar commented on #28754
@jkavanagh58 ah k, so everything's fine then? I actually use Hack on all platforms so I wouldn't expect any problems.

[2017-06-22 18:51] #28754 closed

[2017-06-22 18:54] philmoss321 opened #29284 "Typescript intellisense and autocomplete not working"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:13:05.928Z)
- OS Version: Darwin x64 16.4.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|EditorConfig|EditorConfig|0.9.3|
|vscode-docker|PeterJausovec|0.0.16|
|html-snippets|abusaidm|0.1.0|
|vscode-eslint|dbaeumer|1.2.11|
|python|donjayamanne|0.6.5|
|tslint|eg2|0.15.0|
|Go|lukehoban|0.6.62|
|debugger

[2017-06-22 19:18] ramya-rao-a commented on #29283
Not related to #27977 That one is about `Update Image Size` which I havent implemented in the new emmet yet.

[2017-06-22 19:22] ramya-rao-a commented on #27697
@nanaasumadu Can you try reloading VS Code after you added the syntaxProfiles setting?

[2017-06-22 19:22] rianadon commented on #28826
Interestingly this can be solved by calling `window.resizeTo` somewhere in the code that gets run in the rendering process. However given that for some reason `window.outerWidth` and `window.outerHeight` were always zero whenever I tried to access them in the render code, this isn't really a great solution as the width of the window chrome would have to be guessed.

[2017-06-22 19:24] Tyriar commented on #28516
I think this was caused by the bug in `Terminal.hasSelection` https://github.com/sourcelair/xterm.js/pull/725

[2017-06-22 19:24] #28516 closed

[2017-06-22 19:25] Tyriar commented on #28516
To verifier: Any OS should do, as long as `terminal.integrated.rightClickCopyPaste` is set to true.

[2017-06-22 19:27] edmundo096 commented on #17777
@cosmoKenney, no, this is the original post and it isn't resolved. #21295 was the duplicate.
I couldn't find a configuration to enable this indentation guides on the Sidebar Explorer yet.

[2017-06-22 19:27] Matheus-de-Souza commented on #29281
Here follows some printscreens with "ctrl+c" bad behaviour on the cmd.

I need the "ctrl+c" to make the commits.

![image](https://user-images.githubusercontent.com/865597/27451796-bc10f8ca-5766-11e7-9209-e482afbff75d.png)

![image](https://user-images.githubusercontent.com/865597/27451975-4f2a6b6e-5767-11e7-9811-e10e1a06de39.png)

[2017-06-22 19:29] Matheus-de-Souza commented on #29281
It is important to say that emacs runs perfectly when I start it on the cmd itself, or using cmd inside [Cmder](http://cmder.net/).

[2017-06-22 19:29] Matheus-de-Souza commented on #29281
Before you have asked I tested this behaviour only with the cmd, powershell and git bash, but not with WSL bash. Now I tested with WSL bash, the "ctrl+c" worked well but I lost my emacs config..

How can I set the path to my emacs config on the WSL bash?

[2017-06-22 19:32] Leedehai commented on #29260
@isidorn I should have been clearer.. the icon extension theme I am using is vs-seti, the default icon theme came with VSCode. I didn't download other icon extensions myself. Anyway, thanks for the reply!

[2017-06-22 19:33] #27534 closed

[2017-06-22 19:37] Tyriar commented on #29281
@Matheus-de-Souza not sure, I didn't think you could run emacs via cmd.exe is the reason I asked.

[2017-06-22 19:44] nanaasumadu commented on #27697
@ramya-rao-a

Yes, I have reloaded VS Code and still does not work.

[2017-06-22 19:49] Tyriar opened #29285 "autoIndent doesn't handle indented wrapped TS lines well"
[code]

Put cursor after `}` and press enter:

<img width="231" alt="screen shot 2017-06-22 at 12 48 14 pm" src="https://user-images.githubusercontent.com/2193314/27452858-13fd99d0-5749-11e7-8980-06b951507a05.png">

Ran into this while changing some terminal code, specifically:

[code]

[2017-06-22 19:58] ramya-rao-a commented on #27697
@nanaasumadu It works fine for me. Can you check if the language mode of your file?

@jens1o Can you give it a try? i.e Set the below, reload VS Code and see if you get emmet autcompletions in a php file?
[code]

[2017-06-22 20:00] Matheus-de-Souza commented on #29281
@Tyriar Yeah, no problem. If there're something I wrote that sound wierd I'm sorry, I need to improve my english.. but you can run emacs like vim on terminal using the parameters `-nw`.

Here is a example of emacs running on cmd

![image](https://user-images.githubusercontent.com/865597/27453252-2b3ec61e-576c-11e7-95c0-717016e5e74e.png)

[2017-06-22 20:01] weinand commented on #28234
@brendandburns I've added proposed API for tracking termination of debug sessions. You can find the API here: https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.proposed.d.ts#L472

See my comment https://github.com/Microsoft/vscode/issues/28234#issuecomment-309779921 from above for the two possible approaches to use the API.

[2017-06-22 20:10] deanagan commented on #29227
Sorry for the incomplete info. I think it could be my understanding of the feature.
My understanding for "Change All Occurrences" is that the highlighting and modification is localized to the word being modified. Here's a better example:
![test](https://user-images.githubusercontent.com/6564227/27453467-ebecdcda-57d9-11e7-8bec-c3bc3dc818bf.gif)

Notice that I want to change the class Symbol to Sym

[2017-06-22 20:13] Tekbr opened #29286 "VSCode installation name in Windows (and perhaps for other OS)"
- OS Version: Windows 10

-- Sorry for the English, I used Google Translator --

I noticed that the Windows installer's name is now `VSCodeSetup-ia32-1.13.1` and `VSCodeSetup-ia32-1.14.0-insider`.

I particularly do not remember seeing some installer with 'ia32' or 'ia64'.

It would be better to change to:

 - X32: `VSCodeSetup1.13.1`:x: or `VSCodeSetup` :white_check_mark:  / `VSCodeSetup-insider`

[2017-06-22 20:16] nanaasumadu commented on #27697
@ramya-rao-a

The language mode is set to PHP.  If I change the language mode to HTML, emmet auto-completion works but there is no syntax highlighting for PHP.

[2017-06-22 20:22] teachtyler commented on #29269
is there an interface or type declaration for   `go.GraphObject.make`?

[2017-06-22 20:22] rebornix opened #29287 "Extension Explorer empty after switching"
Do you have a question? Please ask it on [Stack Overflow with `vscode` tag](http://stackoverflow.com/questions/tagged/vscode)

(Use Help > Report Issues to prefill these)
- VSCode Version: 1.14-insiders
- OS Version:  macOS

Steps to Reproduce:
![extensionview](https://user-images.githubusercontent.com/876920/27454158-dbd6b7da-574d-11e7-9383-ed88370b2736.gif)

[2017-06-22 20:26] simonsarris commented on #29269
There is not, it's an `any` when you hover over.

[2017-06-22 20:26] Tekbr commented on #29287
Duplicate of #29201, no?  @sandy081  said that it has been fixed, but I have not received updates from Insiders yet for Windows.

[2017-06-22 20:54] ramya-rao-a commented on #27697
@nanaasumadu To ensure that no other extensions is interfering here, can you run `code-insiders --disable-extensions` and try again?

[2017-06-22 21:04] sergeche commented on #29276
The `${0}` marker etc is controlled by the `field` option of `expand-abbreviation`: https://github.com/emmetio/expand-abbreviation/blob/master/test/html.js#L14
It must be missing

[2017-06-22 21:26] gep13 commented on #17283
@egamma just wanted to follow up with this request again.  Could you provide some input?  Thanks.

[2017-06-22 21:28] sandy081 commented on #24063
Enhanced search in Settings editor
- Search also finds matches in right hand side editor
- Navigating search results starts from Right hand side editor and then to Left hand side editor
- Settings count also counts additional settings in right hand side editor

[2017-06-22 21:28] #24063 closed

[2017-06-22 21:31] gorjuspixels opened #29288 "Cannot Full Screen or Copy/Paste in High Sierra Developer Beta 2 when opening through terminal"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:13:05.928Z)
- OS Version: Darwin x64 17.0.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|beautify|HookyQR|1.1.1|
|material-icon-theme|PKief|2.0.9|
|vscode-docker|PeterJausovec|0.0.16|
|code-settings-sync|Shan|2.8.1|
|html-css-class-completion|Zignd|1.7.0|
|vscode-eslint|dbaeumer|1.2.11|
|githistory|d

[2017-06-22 21:40] roblourens commented on #29280
https://github.com/Microsoft/vscode/issues/17188 and others

[2017-06-22 21:40] #29280 closed

[2017-06-22 21:48] #27677 closed

[2017-06-22 21:53] nanaasumadu commented on #27697
@ramya-rao-a

Done that and still doesn't work.

The only option left for me now is to completely re-install code-insiders.

Something definitely is not right.

BTW this is my complete settings.json file:

// Place your settings in this file to overwrite the default settings
{
  "code-runner.runInTerminal": false,
  "code-runner.enableAppInsights": false,
  "code-runner.clearPreviousOutput": true,

[2017-06-22 22:03] smlombardi commented on #29276
"Sequential" insertion points are missing too, such as when inserting two divs (e.g. `div>div.foo+div.bar`)

[2017-06-22 22:05] sandy081 commented on #23462
Fixed the screen cheese.

I am open to discuss [comment](https://github.com/Microsoft/vscode/issues/23462#issuecomment-289820342).

IMO, If an extension like to override the core default setting, they should not define the setting instead override the default value just like default language overrides.

[2017-06-22 22:07] sandy081 commented on #29287
@rebornix It should be fixed in latest insiders... Can you please confirm?

[2017-06-22 22:14] itowlson commented on #29156
Is there a workaround?  E.g. a way to get the new file path so I can re-open the document?  At the moment it seems my options are:

1. Prompt the user to save manually, and refuse to continue with the command until they do, which makes the extension feel hostile.
2. Save the document content to a temporary file and use that, which is inconsistent with what I do on named documents.

[2017-06-22 22:20] omar1989omb commented on #29010
The project I am using can not publish it. But I have tried with this Git and the same thing happens:

https://github.com/beeman/tutorial-angular-styling-clarity

I create the launch.json file and when I run it, Vscode goes very slow and finally crasesh.

It is easy to reproduce it if we move between the debugging console, the terminal and the files opened in tabs.

[2017-06-22 22:21] dtunes commented on #22068
+1

[2017-06-22 22:22] weinand commented on #29010
Does it make a difference if you use the "inspector" protocol?
For this please add a "protocol" attribute to your launch config and set it to "inspector".

[2017-06-22 22:25] weinand commented on #29010
BTW, do you really want to debug the "ng" tool or do you want to debug your Angular application?

[2017-06-22 22:31] omar1989omb commented on #29010
When adding "protocol": "inspector" works correctly.

I want to debug the angular application and the API in Node at the same time.

With this change I can do it, thanks

[2017-06-22 22:32] weinand commented on #29010
Great, thanks for trying.

[2017-06-22 22:32] #29010 closed

[2017-06-22 22:33] qoops-1 commented on #21676
feels like vs code still has this problem. I have recently lost my settings for the second time. That's very annoying even with a backup. First time it was caused by an update, second time not sure what caused it...

[2017-06-22 22:33] dzannotti commented on #17532
I would love to see this PR moving forward, are there any blocker tasks i could help with?
@bpasero

[2017-06-22 22:52] ramya-rao-a commented on #29276
@sergeche That's exactly what I am using https://github.com/ramya-rao-a/vscode-emmet-helper/blob/master/src/emmetHelper.ts#L118

The issue is not that none of the tab stops are being returned. For eg: `a` gives `<a href="${1}"></a>`  where as I'd expect  `<a href="${1}">${0}</a>`

[2017-06-22 23:01] sergeche commented on #29276
The examples above works fine in Atom and unit-tests. Can you ensure that generated snippet doesn’t have expected tab stops?

[2017-06-22 23:14] rebornix commented on #29285
Root cause: don't have a clue whether the *unexpected* indentation of previous is intentional or not.

Atom/Sublime/TextMate don't have this issue as they only change indentation when type, if you press enter, it doesn't change the indentation as they think the indentation of current line is intentional so it no longer modify that.

@mjbvz do you think it's a good idea to disable indentation check

[2017-06-22 23:35] ramya-rao-a commented on #29276
Ah! I found the issue

https://github.com/ramya-rao-a/vscode-emmet-helper/blob/8272da0dc9e31d13b9f7c72ec6872c5daf23b54c/src/emmetHelper.ts#L151

Need to send `null` and not empty string in the `text` option

Thanks @sergeche !

[2017-06-22 23:50] letmaik opened #29291 "FileSystemWatcher fires on user settings file"
- VSCode Version: 1.13.1
- OS Version: Win 10

Steps to Reproduce:

1. Watch files with `workspace.createFileSystemWatcher('**');`
2. Change a user setting
3. Observe that there is a file system watcher event on the user config file `"c:\Users\...\AppData\Roaming\Code\User\settings.json"`

To me this doesn't make sense as it is not documented and also as there is a special event for listening to c

[2017-06-22 23:58] BrodyB commented on #28678
We use a LOT of C# `#region` sections in our code where I work, so this would be incredibly appreciated!

[2017-06-22 23:59] netdiver13 opened #29292 "C++, No Type highlighting (except for fundamental types) on Linux"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:18:03.540Z)
- OS Version: Linux x64 3.10.0-514.21.2.el7.x86_64
- Extensions:

|Extension|Author|Version|
|---|---|---|
|code-gnu-global|austin|0.2.2|
|cpptools|ms-vscode|0.11.4|
|cmake|twxs|0.0.17|;

Also I would like to note that I've already resolved the "GLIBC 2.18 dependency" using the suggested workaround :

[2017-06-23 00:02] #29276 closed

[2017-06-23 00:02] ramya-rao-a commented on #29276
Fixed with https://github.com/ramya-rao-a/vscode-emmet-helper/commit/cbef48cafbe879fd02813519d4d85bea73d2e531

Thanks for reporting @smlombardi !

[2017-06-23 00:05] ramya-rao-a commented on #29244
We wouldnt need that once we move completely to new emmet which should be by 1.15
Do you still want to keep this issue to track it?

[2017-06-23 00:05] mattflix commented on #19250
Does "verified" mean still broken?

I am using the "terminal" runner and changes to tasks.json are not reflected unless I close/open the folder, or exit/restart Code.  Old versions of Code would auto update but I can't remember when this broke.

Software:
- VS Code 1.13.1
- Windows 10

[2017-06-23 00:15] ramya-rao-a commented on #29183
Go update:

Below features use `vscode.workspace.rootpath`. As long as there is a replacement for `vscode.workspace.rootpath` which would give the right folder path, these will be ok

- Build/lint/vet/test workspace
- Resolve file path for
     -  Config file for gometalinter
     -  Env file for debug,
     -  Env file for test
- Workspace symbol search

GOPATH
The extension tries to resolve the

[2017-06-23 00:24] ramya-rao-a commented on #29105
`pb` -> `padding-bottom` is an Emmet feature where `pb` is an Emmet abbreviation which gets expanded to `padding-bottom`. This is what gets triggered when you hit Tab in the absence of the suggestion list.

What you see in the suggestion list is coming from the css language service which tries to determine the best match. `page-break-after` wins as `p` and `b` are closer than they are in `padding-

[2017-06-23 00:24] #29105 closed

[2017-06-23 00:33] brodytodd commented on #22620
This does not appear to be fixed yet. I have a fresh system and am in version 1.13.1 on windows 10. Following the repo steps the error is still there.

The documentation (https://code.visualstudio.com/docs/editor/versioncontrol#_cloning-a-repository) does not indicate any other pre-requisites in order to clone a library.

[2017-06-23 00:39] jevenson commented on #28850
@Tyriar I tried out the Insider's Build and and still having the same issue, unfortunately.

[2017-06-23 00:50] Tyriar commented on #28850
@jevenson oh, I was mistaking that for the selection as it's blue. You likely have a custom color set up in your cmd.exe properties. We have no way of detecting or change this so the only option is to change it to the default.

[2017-06-23 00:52] tomplusplus commented on #1023
+1 - Seriously this is not a thing!!!! - I love VS CODE until now....

[2017-06-23 00:52] Tyriar commented on #19250
@mattflix verified means it was testing in the version it was released in (Jan 2017). If you are seeing this again please create a new issue and reference this one.

[2017-06-23 00:54] pr-yemibedu commented on #16222
Hello,
 I don't many people dislike the help the editor gives, they just don't want to be limited that it is the only true way to convey information to the user. If the information is presented as a pub/sub list, then any tool, including existing problems view can take the information and present innovative visuals to cater to user needs. For example, being able to make it friendly for audio tools

[2017-06-23 00:55] mattflix commented on #28432
VS Code used to auto-refresh file system changes.  Now, nothing is auto-refreshed.

In the file explorer, I have to press the refresh icon to get externally changes folders and files to appear.

Please fix!

[2017-06-23 00:57] Tyriar commented on #29285
I've use this pattern pretty frequently, either having 1 or 2 indents on wrapped lines. I'd likely opt to disable if it stayed as is. Here's another common thing I do:

[code]

It looks much nicer with 2 space indent 😄

[2017-06-23 01:00] #29129 closed

[2017-06-23 01:25] jevenson commented on #28850
That doesn't seem to be the case. I don't see any options for CMD or PowerShell that would let a user choose a text background color. There is Screen Background, but changing that yields no change.

![capture](https://user-images.githubusercontent.com/9632520/27462788-c9ab123c-5788-11e7-838c-4d8cef9e49a8.PNG)

[2017-06-23 01:41] jsonvot opened #29293 "[html] allow to turn off underline in the src and href properties of the HTML file"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.1.0|
|vscode-caniuse|akamud|0.5.3|
|project-manager|alefragnani|0.18.1|
|vscode-refresh-html|bajdzis|0.0.2|
|vscode-html-css|ecmel|0.1.7|
|vscode-great-icons|emmanuelbeziat|2.1.8|

[2017-06-23 01:41] Tyriar commented on #28850
Did you have a blue screen background set before? VS Code or Windows may need a restart for the change to propagate.

If not, maybe @daviwil has seen this before in PS?

[2017-06-23 01:46] antcodd commented on #28576
How exactly did you manage to work around this issue? I don't see any way in keybindings.json to specify a keyCode or code and the keybindings editor shows unknown.

The current keybinding design in vscode seems limiting. Why doesn't it just support the names from "code" when keyboard.dispatch=code mode?

Changing keyboard.dispatch to keyCode didn't seem to make a difference for me.

Somewhat rela

[2017-06-23 01:54] jevenson commented on #28850
Yeah the default for PowerShell is blue I believe. I'll change it, and restart my PC once. I did restart Code after making changes earlier.

[2017-06-23 02:22] CyanGlory commented on #29170
yeah, I'm sure to share it for a better product.
![result](https://user-images.githubusercontent.com/22830374/27463811-900439ae-57fc-11e7-8566-9eb10fc924ee.png)
today, something is different from yesterday, I test it about over 10 times but just meet it only once
It seems other way will make a Influence, I can't give you more, excepted the generated information about operating environment yesterda

[2017-06-23 02:26] CyanGlory commented on #29170
... I leave yesterday for school, It seems I submit this crash 2 days ago : )  尴尬!

[2017-06-23 02:26] will-beta commented on #29181
* unfolded
![image](https://user-images.githubusercontent.com/14272334/27464020-87b97c18-57fd-11e7-9b5e-3c25b1a1bf54.png)

* folded
![image](https://user-images.githubusercontent.com/14272334/27464028-95d18c6e-57fd-11e7-9f5a-c2b318ba25b3.png)

different effects show when the blank spaces at the beginning of the line 4 5 6 get removed.

@alexandrudima

[2017-06-23 02:45] mjbvz commented on #28593
@Tyriar Not really, besides the `task.json` 2.0 stuff which looks up tsc from `node_modules/.bin`. That path should not be enabled in 1.13 unless users specifically enable tasks 2.0

[2017-06-23 03:01] will-beta commented on #29181
* unfolded
![image](https://user-images.githubusercontent.com/14272334/27464996-380bea2e-5803-11e7-9866-a9a2b8a36159.png)

* folded
![image](https://user-images.githubusercontent.com/14272334/27465007-4ec1c446-5803-11e7-9e02-538357efacca.png)

@alexandrudima

[2017-06-23 03:18] abhishekchandran opened #29294 "Folder removed from git ignore keeps showing in changes"
I removed a folder from git ignore and whenever I open vs code, files in that folder comes up under "changes" section as deleted files.

VS Code Version : 1.13.1

[2017-06-23 03:21] xconverge commented on #29238
Yep this was totally my fault, sorry for not doing my due diligence and wasting your time, bummer!

https://github.com/VSCodeVim/Vim/pull/1868/commits/efcd4eaf4f49c39b7bf8ef2d8d891d4586d30879

[2017-06-23 04:14] alexchicn commented on #29189
See: [https://github.com/Microsoft/vscode-cpptools/issues/836](url)

[2017-06-23 04:28] MikeTheGreat opened #29295 "[html] base not respected"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.1.0|
|auto-close-tag|formulahendry|0.4.2|
|html-tag-wrapper|hwencc|0.1.5|
|vscode-JS-CSS-HTML-formatter|lonefy|0.2.3|
|font-awesome-codes-html|medzhidov|0.0.7|
|theme-oceandeep|pie

[2017-06-23 05:06] ramya-rao-a commented on #29283
With https://github.com/Microsoft/vscode/commit/73589468fab554be87f80e16459939bb51dca1dc there will now be newlines before and after the selected text.

This solves half the formatting problem.
If the first line of the selection contains the complete indentation, the Wrap with Abbreviation action preserves it and all is good.

![wrap](https://user-images.githubusercontent.com/16890566/27467309-44f

[2017-06-23 05:18] mattytemple opened #29296 "PHP version doesn't match system version"
The PHP version reported on startup does not match the system version.

The below screenshot shows the start up error, terminal inside VS Code and Terminal on Mac running $ php -v and giving different version numbers

![image](https://user-images.githubusercontent.com/100665/27467578-2da567dc-5816-11e7-92c7-6db26cde85e7.png)

- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89,

[2017-06-23 05:22] antcodd commented on #27083
One simple bug I see is:

"editor.find.autoFindInSelection": true does not work for Replace

The Find in Selection icon is highlighted but the highlight in the editor is not there and replace replaces all entries.

Workaround: Press Alt+L (once), or press Ctrl+F before pressing Ctrl+H

Under these conditions the find selection editor highlight IS respected and is kept after doing replace all.

The

[2017-06-23 05:38] nanaasumadu commented on #27697
@ramya-rao-a

I have re-installed vscode insider and the problem still persist.

[2017-06-23 05:41] truhlikfredy commented on #28576
Yes that what I said it works with me because I used xmodmap to map them to F14 and F15 and then added this to vscode settings:

Just because I have workaround it doesn't mean it's not an issue so that's why I asked to remove the "duplicate tag" etc...

I looked at the source code and the keyboard management seems too complicated without much gain. Plus now it doesn't respect the remaps which is p

[2017-06-23 05:45] nohupped opened #29297 "Goto definition for some functions are taking to the wrong definitions."
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:13:05.928Z)
- OS Version: Darwin x64 16.6.0
- Extensions: the listing length exceeds browsers' URL characters limit
---

Steps to Reproduce:
![image](https://user-images.githubusercontent.com/8809560/27468003-8e78d848-5819-11e7-873e-cf7c79a0a7d1.png)
This was observed when using fabric in python.
1. In a python

[2017-06-23 05:59] PeteOliveira commented on #5453
@outcoldman This is a memory test :)

I am trying to create a vscode package using gulp vscode-darwin which from what I can tell needs modifications to the build script.
You mentioned "I finally made my own build (using it for my unmerged PR)" which I was hoping to find and learn from, but no luck.

Any chance you can point me in the right direction so I can gulp vscode-darwin successfully?

Thank

[2017-06-23 06:12] lou920217 opened #29298 "插件扩展的搜索，不能用"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.1.0|
|project-manager|alefragnani|0.18.1|
|open-html-in-browser|coderfee|0.1.2|
|vscode-eslint|dbaeumer|1.2.11|
|vscode-html-css|ecmel|0.1.7|
|vscode-npm|fknop|3.3.0|
|auto-rename-

[2017-06-23 06:13] Ikarium commented on #9209
Additional marker style also, dotted lines for ex., box around the strings, ability to change colour/background colour.
For the moment we have error and warning, maybe add some other: Info, spellchecks?