[2019-07-24 04:54] Happin3ss commented on #8641
Well It seems you are in the same boat with me. My current project use a Java spring server as back-end services and a React app as client. Whenever have do deal with both, Intellij IDEA is the only option to go. But most of the times I just have to work with React app so I prefer VSCode much more than.
 A few reasons behind it included:
+ VSCode setting syncs really well cross-platform. I'm using

[2019-07-24 05:01] iiKulakov commented on #77823
Just fixed same problem by disabling in settings.json:
`  // "window.zoomLevel": -1,`

[2019-07-24 05:22] 173271328 opened #77847 "组合快捷键不能使用"
Issue Type: <b>Bug</b>

在 键盘快捷方式 中设置一个组合快捷键(如: ctrl+k w), 回到编辑器中使用新设置的组合键,无任何相应

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:58:59.274Z)
OS version: Windows_NT ia32 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-9400 CPU @ 2.90GHz (6 x 2904)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>fla

[2019-07-24 05:39] bsienn commented on #77645
Sorry for late reply @mjbvz
*So I Installed insider build and do not see the issue. No plugins just plain install.

How do I reset vscode to uninstall all plugins and settings? So I can do the test run on it as well.
Maybe I'll uninstall vscode that would reset it, and try.

[2019-07-24 06:20] GauravPatni opened #77849 "VS Code ( with Flutter ) - How to save DEBUG CONSOLE logs to file ?"
- VSCode Version: 1.36.1
- OS Version: Windows 7

I am using VS code with flutter ,
I need a way to save "Debug Console " logs to a text file.

Thanks ,
Gaurav

[2019-07-24 06:26] zcqno1 opened #77850 "Can't rename a folder when its child file is used and without any prompt"
Version: 1.36.1 (user setup)
Commit: 2213894ea0415ee8c85c5eea0d0ff81ecc191529
Date: 2019-07-08T22:59:35.033Z
Electron: 4.2.5
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.17134

Steps to Reproduce:

1. Run an exsiting app (I run it in the WSL)
2. Try to rename an existing folder in which some files has been used by other file. Just say `testt/test.js`, `t

[2019-07-24 06:31] DiamondYuan opened #77851 "Code Completion not work after use snippets."
![2019-07-24 14-30-22 2019-07-24 14_31_03](https://user-images.githubusercontent.com/9692408/61770384-b0816500-ae1f-11e9-9d28-e0d2da26e992.gif)

[2019-07-24 06:38] DiamondYuan commented on #77343
i make a PR but not very clear about how primary work.

[2019-07-24 06:50] tiyee opened #77853 "vscode crash after updated to version 1.36"
I had download the latest version of insiders,it is OK ,but stable build version crash

- VSCode Version:1.36
- OS Version:  macos 10.14.5

Steps to Reproduce:

1.rm && reinstall
2. rm -rf ~/.vscode

Does this issue occur when all extensions are disabled?: Yes

[2019-07-24 06:55] alexandrudima commented on #73814
Have you tried `"editor.hover.sticky": false`?

[2019-07-24 06:56] jrieken commented on #77813
@roblourens I am super confused by that and don't believe that this is by design. Wasn't https://github.com/microsoft/vscode/issues/33528 about that? Re-opening for a better clarification of the issue

[2019-07-24 06:58] alexandrudima commented on #74211
Leading / Trailing whitespace can be ignored in the diff computation (and they are ignored by default) -- just press this toggle button --

![image](https://user-images.githubusercontent.com/5047891/61771825-0e4a8880-adf1-11e9-823b-4ed55b57abd8.png)

[2019-07-24 06:58] #74211 closed

[2019-07-24 07:01] ayush-kalani opened #77854 "Can we open a specific workspace using vcsode CLI ?"
It would be great if we can open a workspace giving the options in vscode CLI.

options:-
-w = name of the workspace

example - code . -w fs1

[2019-07-24 07:05] alexandrudima commented on #71607
I use a mouse with a wheel every day and I cannot reproduce this... The mouse wheel never "blocks"... Does this happen for you with other mice ?

[2019-07-24 07:05] keless opened #77855 "SIGINT not sent when hitting Stop button in Windows (but works on MacOS)"
- VSCode Version: 1.36.1 (system setup)
- OS Version: Windows_NT x64 10.0.17.134  (Windows 10)

Steps to Reproduce:

1. create a NodeJS app with process.on('SIGINT', handler)  in app.js
2. Add a nodeJS launch program configuration in Visual Studio Code
3. Run program in Debug from Visual Studio Code (hit green arrow button)
4. Stop program from Visual Studio Code (hit red stop square button)
5. Ob

[2019-07-24 07:07] alexandrudima commented on #74278
@yueshuiniao The width of the space character is determined by the font. Also from your screenshot I can see that the space character is quite thin in other places (like in the line `const fs = require('fs')`). What font family are you using? Have you tried other fonts? Monospace fonts tend to have a wide space character, but it looks like you're not using a monospace font.

[2019-07-24 07:10] alexandrudima commented on #16412
We have implemented this via https://github.com/microsoft/vscode/pull/65072 . Scrolling with the mouse wheel and pressing the Alt/Option modifier will scroll a lot faster.

[2019-07-24 07:10] #16412 closed

[2019-07-24 07:11] jrieken opened #77856 "New layout slower?"
The perf machine showed a ~50ms drop after shipping the new workbench layout. This is something we need to understand and investigate

[2019-07-24 07:11] #70039 closed

[2019-07-24 07:12] dend35 opened #77857 "warning"
Issue Type: <b>Bug</b>

при открытии Visual Studio Code возникает предупреждение

VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T14:30:02.622Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-2400 CPU @ 3.10GHz (4 x 3093)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disable

[2019-07-24 07:14] WillWagnerIV opened #77858 "Interface Overview in Learn area of Splash Page"
Issue Type: <b>Bug</b>

1. Open VS Code with no file open.
2. Click the Interface Overview in Learn
3.  Note that the arrow for Source Code Management and the shortcut point to the Search across files tab, and the Search points to the Source Code management tab.  The two are reversed.

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:56:38.504Z)
OS version: Dar

[2019-07-24 07:16] jrieken commented on #48034
sample are here: https://github.com/microsoft/vscode-extension-samples/tree/master/fsconsumer-sample

[2019-07-24 07:16] #48034 closed

[2019-07-24 07:19] alexandrudima commented on #65278
I am closing this issue since the OP @sam1730 did not reply.

@chongchai @AasmundEndresen Please create new issues with your OS and VS Code version, with installed extensions, etc. (preferably from the issue reporter in the Help menu). I am sorry for your problems, and I am happy to try to dig further but I don't believe you are all having the exact same issue.

[2019-07-24 07:19] #65278 closed

[2019-07-24 07:24] CloudbusterOhio opened #77859 "MS Python extension won't install with VS Code in user local folder"
Issue Type: <b>Bug</b>

1) Install Visual Code in C:\Users\<user>\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Visual Studio Code
2) Install MS Python extension version 2019.6.24221
3) Installation fails with message "Failed to install 'ms-python.python'.

VSIXInstaller log shows the following:
23-Jul-19 13:50:16 - Searching for applicable products...
23-Jul-19 13:50:16 - Found installed

[2019-07-24 07:37] nanguatou9 opened #77860 "Python indentation error"
Issue Type: <b>Bug</b>

There is a serious indentation error in Python on the kubuntu 19.04 system.

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:55:08.091Z)
OS version: Linux x64 5.2.2-050202-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 5 1400 Quad-Core Processor (8 x 1374)|
|GPU Status|2d_canvas: enabled<br>fla

[2019-07-24 07:48] mifas opened #77861 "When do VCS "Revert change", editor losing folded status"
Editor losing folding status, when we doing git revert changes and scroll to top of the page

![vscode2019-07-24 15-26](https://user-images.githubusercontent.com/4384874/61774890-6b166500-ae2a-11e9-9161-30552d0cfa11.gif)

[2019-07-24 07:59] ArtyMaury opened #77862 "Certificate verification error installing devcontainer"
When I try to start a devcontainer I get this error:
[code]

I have to use a proxy that is defined in vscode settings. I've deactivated the 'http strict ssl' setting. I've tried to redefine those settings in the devcontainer settings but the certificates keep being verified.

- VSCode Version: 1.36.1
- OS Version: W10

[2019-07-24 08:23] lishine commented on #77635
Same problem when renaming folder

[2019-07-24 08:41] up201505472 commented on #32192
Our commits weren't added to master and we didn't know why. We were successful in making it bigger, but maybe the way we did it, wasn't the right way, so the commit got rejected. If you guys are trying to to do this, we were able to change some css like values to make it bigger, you just have to be lucky and patient to find the right variables.

[2019-07-24 08:46] sportshead opened #77863 "Automatic save as sudo setting"
Issue Type: <b>Feature Request</b>

Currently, VS Code supports a 'Retry As Sudo' function to save files with insufficient permissions. But, as mentioned in errors #57020, #70403, and countless others, you have to keep clicking 'Retry As Sudo' every time on save.

VS Code should implement a setting that allows users to toggle automatic 'Retry As Sudo', i.e. when a file with insufficient permission

[2019-07-24 08:56] sandy081 commented on #69398
I do not know how debug tool bar actions are implemented. I would wait for @isiorn as he is on vacation and will be back soon.

[2019-07-24 09:21] #77495 closed

[2019-07-24 09:21] sandy081 commented on #77201
No. Based on the info here I suspected. Also I was in that code recently.

[2019-07-24 09:24] johannesluedke commented on #75577
@egonzal93
I had the same issue on MacOS Mojave. For me, reinstalling VS Code resolved the issue

[2019-07-24 09:30] janosh commented on #15756
This would a great feature addition! Any timeframe on when this might land?

[2019-07-24 09:31] evan-zubov opened #77864 "Reveal in browser"
In my workflow I often do following steps:
1. Copy Relative Path
2. Go to Chrome
3. Go to dev tools
4. CMD+P to go to file
5. Paste relative path copied in step 1
6. Go to the file.

Is it possible to combine this steps into one command? I understand that not everyone needs this feature, so it probably got to be an extension or something. Thanks!

[2019-07-24 09:35] sandy081 commented on #77800
Good catch.

[2019-07-24 09:37] #77800 closed

[2019-07-24 09:43] #68094 closed

[2019-07-24 09:44] weinand commented on #77855
@keless this is a known Windows limitation. See VS Code doc: https://code.visualstudio.com/docs/nodejs/nodejs-debugging#_stop-debugging

[2019-07-24 09:46] #77802 closed

[2019-07-24 09:48] cezarneaga opened #77865 "git gutter decorations not showing on ssh remote development"
- VSCode Version: 1.36.1
- OS Version: OSX 10.14.6

I do not get the gutter decorations anymore. tried in insiders and issue persists there too. works as expected on local development.

Steps to Reproduce:

1. connect to ssh remote
2. change file

Does this issue occur when all extensions are disabled?: Yes/No
cannot check this as remote development extensions are needed.

[2019-07-24 09:49] weinand commented on #77843
Currently it is not possible to configure the "debugWithChrome" action to use a specific launch config.

[2019-07-24 09:50] cezarneaga commented on #77865
if i check git changes and then open the file from git panel they show up again. i saw this in other issues also and believe it may be a regression.

[2019-07-24 10:01] #77857 closed

[2019-07-24 10:02] jrieken commented on #77851
it's this setting `editor.suggest.snippetsPreventQuickSuggestions`

[2019-07-24 10:02] #77851 closed

[2019-07-24 10:03] #77847 closed

[2019-07-24 10:03] #77845 closed

[2019-07-24 10:05] #77810 closed

[2019-07-24 10:10] anton-gorbikov commented on #77413
I'm experiencing the same issue.

From my side I want to add, that it looks like a rendering issue only, because despite the fact that terminal window is empty it is still fully functional. So I can type any commands and execute them, however some characters will not be rendered.

![image](https://user-images.githubusercontent.com/5469718/61785324-25e73880-ae14-11e9-9fae-5d3b1d470e46.png)

Version

[2019-07-24 10:11] weinand commented on #77692
VS Code doesn't know what "cwd" is.  "cwd" is contributed by individual debug extensions. Please file this issue against the debug extension you are using.

[2019-07-24 10:11] #77692 closed

[2019-07-24 10:13] whitecolor commented on #77748
@mjbvz yes everything regarding code is working slower, autocomplete and type checking (error reporting).

[2019-07-24 10:13] lengyuxuan opened #77866 "run debug output missing"
Issue Type: <b>Bug</b>

{
"type": "node",
"request": "launch",
"name": "Egg Debug",
"runtimeExecutable": "npm",
"runtimeArgs": [
"run",
"debug",
],
"console": "internalConsole",
"protocol": "auto",
"port": 9229,
"autoAttachChildProcesses": true
}
Starting according to the above configuration, only part of the log can be printed, and subsequent content will no longer be output. But if "console": "i

[2019-07-24 10:14] #77866 closed

[2019-07-24 10:16] lengyuxuan opened #77867 "run debug output missing"
Issue Type: <b>Bug</b>

{
"type": "node",
"request": "launch",
"name": "Egg Debug",
"runtimeExecutable": "npm",
"runtimeArgs": [
"run",
"debug",
],
"console": "internalConsole",
"protocol": "auto",
"port": 9229,
"autoAttachChildProcesses": true
}
Starting according to the above configuration, only part of the log can be printed, and subsequent content will no longer be output. But if "console": "i

[2019-07-24 10:28] IanKemp commented on #13960
Virtual space is a basic, fundamental feature that any half-decent text editor should support. VS Code should not have been allowed to ship without this capability, and the fact that it's still not present **almost 3 years after being requested** is a bad joke.

Pull your thumbs out, VS Code dev team, and get this implemented ASAP.

[2019-07-24 10:29] robot110011 commented on #3352
broke mine as well, the closing bracket becomes invisible with the extension activated

[2019-07-24 10:33] mralnis commented on #12622
+1

[2019-07-24 10:45] saeedeldah opened #77868 "Link VS code to cloud account"
Link VS code to a cloud account (same as visual studio) to sync the configurations and extensions between different machines.

[2019-07-24 11:01] klocus commented on #18071
+1.

[2019-07-24 11:14] oliversalzburg commented on #73814
@alexandrudima That actually works remarkably well. Thanks!

I'll give this a go for a couple of days and see how it performs.

[2019-07-24 11:22] daniel-schulz commented on #76711
Does no one have the same problem or do I something wrong?
Is it maybe not intended to use task.json together with package.json (npm scripts)?

[2019-07-24 11:25] jeffwlandry opened #77869 "save all modifies incorrectly formed .json file"
Issue Type: <b>Bug</b>

It seems that using save all on an imperfectly formed json object, does not save the incorrect element of the object definition.

It may seem correct to not save incorrect elements, however there is no alerting of the user that the file as currently exists will be modified.  First, this caused me much grief and wasted time until I realized what was going on.  Second, this i

[2019-07-24 11:25] MartinPL commented on #73884
Retested, bug still remain even with Insider.
[code]

[2019-07-24 11:43] DiamondYuan commented on #77851
https://github.com/microsoft/vscode/issues/50776

[2019-07-24 11:58] testforstephen commented on #77735
Below is my reproducing script.
1. Create an empty `file1` in your workspace root, and open it in VS Code.
2. Run `extension.helloWorld`, it succeeds without errors.
3. But run `extension.helloWorld1`, it doesn't. This step adds a step to close all editors before applying edit. Running 10 times, you will see it failed several times.

[code]

[2019-07-24 12:23] Vlad-Shcherbina commented on #41812
For discoverability, linking the old issue where saving unchanged files was requested: #7470.
Hope the linkback will show up there even though that issue is locked.

I totally agree this behavior should be optional, if present at all.

[2019-07-24 12:53] quitedensepoint commented on #12622
Was just looking for this - there's no extension already? Is there something related to this feature request that cannot be done by an extension?

[2019-07-24 13:05] imlijq opened #77870 "Add configuration item, Enter can both wrap and select grammar suggestions"
Issue Type: <b>Feature Request</b>

When using vscode, I am very accustomed to using the Enter key to select grammar suggestions instead of using the Tab key, so "editor.acceptSuggestionOnEnter" I will keep the default setting to "on". But there are some cases where I press Enter to just want to wrap, instead of choosing a grammar suggestion, this is when I press Enter but I choose the first sugge

[2019-07-24 13:08] glatzert opened #77871 "Incompatible NODE_OPTIONS makes starting VSCode impossible"
There's a problem if you need NODE_OPTIONS environment variables, which are not yet supported by the VS included node version. If such a variable is set, starting VS Code via Start Menu will fail silently and starting it via CLI will fail with `...\Code.exe: --max-http-header-size= is not allowed in NODE_OPTIONS`

Why is the variable necessary?
Node apparently had some security issue, which made t

[2019-07-24 13:10] ChrisMiami opened #77872 "Selecting a file should set focus on file's contents"
Issue Type: <b>Bug</b>

1. Open a folder of files.
2. Select a file from the list.
3. Invoke keyboard shortcut to Select All (Cmd-A or Ctrl-A)

ACTUAL: All files in the explorer are selected
EXPECTED: All text in the selected and newly open file should be selected.

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:56:38.504Z)
OS version: Darwin x64 17.7.0

<det

[2019-07-24 13:16] DanTup commented on #69398
Will do, thanks!

[2019-07-24 13:16] SeanTAllen opened #77924 "window.restoreWindow isn't honored"
Issue Type: <b>Bug</b>

When using VSCode with remote WSL2 projects, the "window.restoreWindows" settings I have of "none" is ignored and editors for the previous session are restored.

This also applies when code is started with the `-n` option. It is ignored and the previous session is restored.

This behavior is not seen when not using the Remote - WSL extension.

Extension version: 0.38.10
VS

[2019-07-24 13:16] jrieken commented on #1431
This PR is merged but there is some little (design) work left

- [ ] decide if we should hide private/underscore commands
- [ ] deal with the internal command delegation commands
- [ ] add some more test

[2019-07-24 13:24] usmcamp0811 commented on #64856
I'm having similar problems.. It seems that multiple cursors get spawned either randomly or in conjunction with some other common command and when I go to paste it pastes to all places the cursors are at.

I am running VsCode 1.33.0 on CentOS 7

And I just read all of smallWed's post.. yep thats it.. gotta be.. good catch!

[2019-07-24 13:30] Timmmm commented on #76234
Those options work perfectly. Strange that it isn't enabled by default because why would you want this disabled? I made a pull request for it: #77873.

[2019-07-24 13:32] zuboje opened #77874 "Starts downloading OneDrive files on-demand"
Issue Type: <b>Bug</b>

Out of nowhere VS Code started downloading my files from OneDrive. I have not even opened any file that is stored in OneDrive I just randomly received notification "Code started downloading files"... I don't want VS Code to download any files on-demand that I have not opened to work on. I am using VS Code for Mac OS.

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d

[2019-07-24 13:56] hwhung0111 commented on #77827
I would like to give it a try.

[2019-07-24 13:57] jrieken commented on #77735
Thanks, I can now reproduce. @bpasero It seems that textFileEditorManager knows that the file is dirty but that it doesn't get saved before moving/renaming the file. Calling `save` before `move` on my side (bulk edit) doesn't help...

[2019-07-24 14:02] jrieken commented on #77827
fyi - sources can be found here: https://github.com/microsoft/vscode-references-view

[2019-07-24 14:04] mcarpenterjr commented on #77387
Just worked through this with an Intern, sporadically they would be unable to save changes to anything that wasn't a `css` document, then this morning they were unable to save anything.

**TLDR; Completely remove all vscode installs & install vscode insiders.**

Speculated it could be a clock issue, resources issue, or general bug.

Originally thought it was an issue with their working directory b

[2019-07-24 14:17] MachineMitch21 commented on #77869
I cannot reproduce this behavior.  I have tried several times using various methods, keyboard shortcuts, the File menu, manually closing the file, etc,  I am using the same version of vscode and am also on Windows 10.

[2019-07-24 14:25] aeschli commented on #76925
Theme is back in the mean time.

[2019-07-24 14:25] #77765 closed

[2019-07-24 14:28] jeffwlandry commented on #77869
Concur.

I knew I should have tried recording this but wimped out because it seemed so consistent.  Was failing as described this morning, but now I can’t recreate it.

I appologize for not providing the recording and thus wasting your time.

Jeff

________________________________
From: Mitch Schutt <notifications@github.com>
Sent: Wednesday, July 24, 2019 10:20:11 AM
To: microsoft/vscode <vscode@

[2019-07-24 14:32] yndx-shri-reviewer commented on #77808
<img width="907" alt="Снимок экрана 2019-07-24 в 17 30 50" src="https://user-images.githubusercontent.com/50715001/61802272-d9faba80-ae38-11e9-81cf-bc8d767d462b.png">

I also forgot to mention, that file is `.ts`.

[2019-07-24 14:34] duskpoet commented on #77808
<img width="907" alt="Снимок экрана 2019-07-24 в 17 30 50" src="https://user-images.githubusercontent.com/3032829/61802532-4bd30400-ae39-11e9-8548-9e50f282aafb.png">
I also forgot to mention, that file is `.ts`

[2019-07-24 14:49] Ettery commented on #13680
Using version 1.36.1, still can't connect to Github via SSH with a passphrase - had to take the passphrase off my key.  What's so difficult?  With HTTPS you as for git user and password...

[2019-07-24 14:55] Azarlak opened #77877 "ALT+LEFT/RIGHT does not take context/focus into account while Finding"
Issue Type: <b>Bug</b>

### Reproduction steps
1. Open new file.
2. Type `a{`. The corresponding `}` is automatically inserted.
3. Press **CTRL+F** to bring up the find bar.
4. Type `b`.
5. _Note that now:_
    * The `{}` pair is highlighted in the editor
    * The bottom bar displays "Ln1, Col 3"
    * The cursor is to the right of the `b` in the find box
6. Press **ALT+LEFT**.
7. _Note that now:

[2019-07-24 15:37] jacksteamdev commented on #77099
Same issue here.

FWIW, I've been able to reliably crash the extension host by pasting or opening files with certain emojis.

Emojis: `🧐`, `🤩`, and probably others. They're relatively new (both added in Unicode 10.0 and Emoji 5.0).

About:
[code]

Extensions:
[code]

[2019-07-24 15:40] suit0r opened #77878 "Trim git clone in command palette"
This is a small request to accept the whole `git clone SSH` inside the command palette.

So pasting the entire string in the Git: Clone command should resolve properly (rather throwing a permissions error, like i got last time).

Thanks

[2019-07-24 15:47] DiamondYuan commented on #77199
i can do this job，Do you mean remove link from comment in image？

[2019-07-24 15:47] jrieken commented on #77870
Do I understand that right? You want the first suggestion to be nothing, e.g an empty row, which on "select" enters a new line?

[2019-07-24 15:49] jrieken commented on #77834
/needsMoreInfo

Please use this guide to provide more information: https://github.com/Microsoft/vscode/wiki/Performance-Issues. Thanks.

[2019-07-24 15:52] keless commented on #77855
Is there any reason VS Code on Windows cant intercept and send its own SIGINT (or allow for user settings to specify a behavior) before killing debuggee?

[2019-07-24 15:53] jacksteamdev commented on #77099
The extensions present in all three lists are:

[code]

So it's got to be one of them!

[2019-07-24 15:53] skprabhanjan commented on #77720
@roblourens , I can pick it up.
Can you please help me get started with some code pointers ? ( I assume when we type "bug" and entry called "Open Issue Reporter" should come and clicking that should open the issue reporter )

[2019-07-24 15:54] weinand commented on #77855
Windows doesn't have SIGINT. Please read https://stackoverflow.com/questions/10021373/what-is-the-windows-equivalent-of-process-onsigint-in-node-js

[2019-07-24 16:02] arcanis commented on #75559
@jrieken Is it something you think VSCode would be interested to merge, provided someone make a reasonable PR?

[2019-07-24 16:18] jrieken commented on #75559
Not sure, this isn't highly upvoted and that kinda defines our work. I like the feature, I know this from KDE times. I am not yet convinced that this isn't a good extension candidate tho, e.g instead of `code /foo/bar.zip/package.json` you would call `code --file-uri zip:foo/bar.zip/package.json`. Not a huge block IMO and not a flow that cannot be improved for all file system providers

[2019-07-24 16:25] jhpratt commented on #43805
@joaomoreno Just coming back to this — I didn't even realize it was closed. How is this out of scope? The scrollbars are styled everywhere else in VS Code, with one exception.

[2019-07-24 16:29] DanTup commented on #71745
I've been seeing this a lot lately, though can't see any obvious reason.

<img width="541" alt="Screenshot 2019-07-24 at 5 26 40 pm" src="https://user-images.githubusercontent.com/1078012/61811059-8b4d2080-ae38-11e9-91b5-970283217c67.png">

I have errors in the console, but I don't think they're related.

<img width="1137" alt="Screenshot 2019-07-24 at 5 27 56 pm" src="https://user-images.githubus

[2019-07-24 16:30] asdf23 opened #77879 "Toggle breakpoints should respect multiple cursors"
Issue Type: <b>Bug</b>

If I set the cursor on multiple lines (Highlight "throw" ,  press Ctrl + D, with the Sublime Keystrokes selected, this has the effect of highlighting the matching text on multiple lines)  the set a Breakpoint (F9) I only get a single Breakpoint set. My expectation is that at each highlighted line the Breakpoint is set.

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea

[2019-07-24 16:31] Harmiox opened #77880 "VSCode freezes when trying to add folder to workspace. (macOS Catalina)"
**Versions:**
- VSCode Version: 1.36.1
- OS Version: macOS Catalina (10.15 Beta)

**Steps to Reproduce:**
1. Open up Visual Studio Code
2. VSCode opens up the last workspace I had open.
3. Click `File > Add Folder To Workspace`
or
4. Click `File > New Window`, then click `Open Folder...`
5. VSCode is now frozen and I have to force quit the application/process.

**Does this issue occur when all ext

[2019-07-24 16:32] DanTup commented on #73413
Moving them out of the editor would make actions like running tests much less convenient:

<img width="356" alt="Screenshot 2019-07-24 at 5 30 55 pm" src="https://user-images.githubusercontent.com/1078012/61811184-da935100-ae38-11e9-8e94-aa4107c01d69.png">

If they're moved out, please make it a user or extension preference. I'd prefer the editor shift than have these actions not immediately visib

[2019-07-24 16:37] aloeugene commented on #76594
Any news? Such behavior is really annoying, after couple hours in Atom it's very hard to return back to VSC with scrolling issues :)

[2019-07-24 16:47] roblourens commented on #77720
I have absolutely no idea, so rry.

[2019-07-24 16:52] sstephenson opened #77881 "In class bodies, "this." is replaced by the first autocomplete suggestion"
Issue Type: <b>Bug</b>

1. Create a file test.js.
2. Paste the following text:
[code]
3. On line 3, type `this` and observe the autocomplete suggestions show symbols containing the word "this", but not the symbol `this` itself.
4. Type `.`. The text `this.` is replaced by the first autocomplete suggestion; in my case it's `globalThis.`.

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff8

[2019-07-24 17:14] NickHeiner commented on #77827
Yep, here's the line: https://github.com/microsoft/vscode-references-view/blob/4d22ba8ee293caf7882882281b4002da57b52f8a/src/extension.ts#L37

[2019-07-24 17:14] roblourens commented on #77813
What I said makes no sense, I was misinterpreting a comment I made in an earlier issue. There is some bug here.

[2019-07-24 17:16] matklad commented on #20889
I like how IntelliJ handles a similar use-case via [local history](https://www.jetbrains.com/help/idea/local-history.html). Rather than showing a tree of actions/unactions, it shows a *linear* history of a version of a file, not unlike git reflog:

![image](https://user-images.githubusercontent.com/1711539/61814037-d292db80-ae4f-11e9-9cb6-61fcd96d926b.png)

Basically, there's a separate action to

[2019-07-24 17:18] roblourens commented on #77813
This is from https://github.com/microsoft/vscode/commit/10c0126e4b69d3c0672cdb10cd8f0c987304ac4b#diff-667e490a03391a012e309e8a660ce628R539 :( I will add tests

[2019-07-24 17:22] keless commented on #77855
Thanks for the additional info. I'm beginning to understand the difficulty of supporting that particular set on Windows (and additional reading is showing that other methods of shutdowns in windows will also immediately kill an app with no recourse, so its definitely a thing).

Ultimately my problem is allowing a Nodejs server to shutdown properly during iterative testing when hitting that red but

[2019-07-24 17:34] weinand commented on #77855
This is not really a VS Code issue because VS Code supports the two step process generically (but that requires that the debug extension cooperates).
In case of node-debug it seems to be difficult to cooperate because there are limitations on Windows. But if I read the [article](https://stackoverflow.com/questions/10021373/what-is-the-windows-equivalent-of-process-onsigint-in-node-js) carefully, i

[2019-07-24 17:46] russelldavis opened #77882 "keybindings.json causes UI to freeze for several seconds"
- VSCode Version: 1.36.1 (also repros on insiders build)
- OS Version: macOS Mojave 10.14.6

Steps to Reproduce:
1. From the command pallete, choose "Preferences: Open Default Keyboard Shortcuts (JSON)
2. The UI freezes for several seconds.
3. Switch to any other tab.
4. The UI freezes for several seconds again.

While the keybindings.json file is open, it will continue to freeze when switching be

[2019-07-24 17:48] Chiramisu commented on #2743
To those who continue to insist on using a THIRD PARTY extension, I think you're missing the point. Even if the API is safe, even if I review the source code at a fixed point in time to ensure no funny business is going on, I'm unlikely to continue doing so indefinitely.

Therefore, for any account I have with any service, I trust only that provider with my account related information. Indeed, the

[2019-07-24 17:48] liang2zhu1 commented on #77790
Thanks for the answer, sad but makes sense.

[2019-07-24 17:56] JDDoesDev commented on #37947
I was able to get this working with the submodule hack as well, however there is an issue with order of submodules.

Here's my scenario:
I have a local dev environment, Docksal.  I want to be able to customize it so it's a repo.
I have a Drupal 8 codebase that I use for contribution and development.  This lives at `/docksal/docroot`.  This is a repo so I can patch and test.
I have a custom module

[2019-07-24 18:13] baronfel opened #77883 "[json] schemas should be able to be validated starting at a given json property as the root"
While writing ASP.Net Core applications, you typically have an `appsettings.json` file which is used to collect any sort of runtime configuration. This file is very open in terms of schema, and typically different areas of concern in the application will have relatively well-structured config underneath a particular 'parent' key, which serves as a namespace.  Take for example the Serilog logging l

[2019-07-24 18:22] stuckinaboot commented on #77486
@jrieken thanks for making me aware of that. However, when there are contents added to an untitled file that is subsequently then saved, and then `onDidOpenTextDocument` gets hit when the file on disk is opened, we would expect that the document passed into onDidOpenTextDocument would have `document.getText().length > 0` right?

[2019-07-24 18:25] Goodwine commented on #16412
I hoped the modifier to be configurable, no? :(

[2019-07-24 18:39] rebornix commented on #77882
Can you please follow https://github.com/microsoft/vscode/wiki/Performance-Issues to create a performance log for the renderer process to help us troubleshoot?

[2019-07-24 18:53] usernamehw commented on #77882
It's probably because Problems tab in Panel doesn't truncate long messages. `keybindings.json` generates very long ones and it tries to render them offscreen, which still takes a lot of memory/CPU.

 Just a guess, idk.

[2019-07-24 18:59] dallanlee commented on #60579
Also seeing this behavior in macOS Catalina (10.15 Beta)

[2019-07-24 19:05] russelldavis commented on #77882
@rebornix attached:
[CPU-20190724T120042.cpuprofile.zip](https://github.com/microsoft/vscode/files/3428397/CPU-20190724T120042.cpuprofile.zip)

[2019-07-24 19:05] joaomoreno opened #77884 "Serializable grid should also store view visibility and previous size"
cc @sbatten

[2019-07-24 19:05] #77831 closed

[2019-07-24 19:07] arcanis commented on #75559
From what I remember, the main pain point was to open the file from within a VSCode instance already launched. For instance, running ctrl+p and pasting the virtual path won't open anything, and I think extensions aren't able to change this behavior at the moment. Similarly, ctrl+click on a symbol that comes from an in-zip file won't do anything.

[2019-07-24 19:13] cadu-tech opened #77885 "Can't open web links"
- VSCode Version: 1.36.1
Commit: 2213894ea0415ee8c85c5eea0d0ff81ecc191529
Date: 2019-07-08T22:55:08.091Z
Electron: 4.2.5
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x64 4.19.0-5-amd64

- OS Version: Linux Debian 10 Buster

Steps to Reproduce:

1. Open VSCode.
2. Click in any external web link.
3. An error message is shown because the string "/root/" is concatenated t

[2019-07-24 19:18] tryptofan68 opened #77886 "python pandas pivot_table not showing in Data Viewer"
Issue Type: <b>Bug</b>

after pivoting my dataframe in pandas, I am not able to show the resulting table in the Data Viewer.  Looks like the columns of the multiindex table are making the troubles

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59:35.033Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|

[2019-07-24 19:28] rebornix commented on #77853
@tiyee does it crash every time when you try to open it ? Is there any crash log ?

[2019-07-24 19:30] #77864 closed

[2019-07-24 19:30] rebornix commented on #77864
I'll suggest it to implement it in an extension.

[2019-07-24 19:31] rebornix commented on #77868
/duplicate of https://github.com/microsoft/vscode/issues/2743

[2019-07-24 19:32] #77868 closed

[2019-07-24 19:32] rebornix commented on #77885
It seems the web view in the screenshot is contributed by the Java extension, please file an issue against them.

[2019-07-24 19:33] #77886 closed

[2019-07-24 19:34] rebornix commented on #77869
Close it for now but we can reopen once we have a reproduce step.

[2019-07-24 19:34] #77869 closed

[2019-07-24 19:35] rebornix commented on #77860
@nanguatou9 can you please share some screenshot / recording to help troubleshoot?

[2019-07-24 19:37] rebornix commented on #77858
@WillWagnerIV may I ask if you have re-arrange the viewlet icons?

[2019-07-24 19:37] d-cmyk commented on #43244
Are assignees ever going to take ownership of this issue or will VS Code remain a broken editor forever?

[2019-07-24 19:38] LiamEderzeel commented on #18549
+1

[2019-07-24 19:40] rebornix commented on #77832
@KazievKazi could you please provide more info about what goes wrong?

[2019-07-24 19:41] rebornix commented on #77830
Could you please follow our wiki https://github.com/microsoft/vscode/wiki/Performance-Issues to help provide more info about the performance issue you run into?

[2019-07-24 19:52] rebornix commented on #77882
It seems we try to write a good chance of content into `textarea` for screen reader.

[2019-07-24 19:53] omusavi commented on #77223
I also repro this error, happens every time I open VS Code with 1.36 and 1.36.1. Kills all extensions and source control. Can confirm clicking Restart works.

Are there any steps we can take to attach logs or something?

[2019-07-24 20:05] cadu-tech commented on #77885
Sorry, I think you don't understand. It's a generic problem, not with the extension. I'm using code --disable-extensions.
![Screenshot from 2019-07-24 17-02-05](https://user-images.githubusercontent.com/24251894/61824777-3956cb80-ae35-11e9-8f16-2eae8d192df4.png)

[2019-07-24 20:24] Nemesarial commented on #62783
I too am developing a team-centric activity and would be very useful to have some means of indicating there are changes on that activity that a user would want to be notified about.

[2019-07-24 20:51] awmottaz opened #77888 "Git: show staged changes even if there are none"
Currently, the Git SCM panel will show "Changes: 0" if there are no changed files in the project:

![Screenshot from 2019-07-24 15-47-10](https://user-images.githubusercontent.com/17735385/61827557-723d7300-ae2a-11e9-970d-2237a3194f5b.png)

I would like to see a similar heading "Staged Changes: 0" if no changes have been staged yet. This would be a good reminder for me to stage changes before comm

[2019-07-24 21:01] sbatten commented on #77846
I think you are looking for the commands: `Increase Current View Size` and `Decrease Current View Size`. They don't have default keybindings but you may add them yourself in the keybinding editor. Additionally, there is `Maximize Editor Group` which can be used to expand the current editor to the max dimensions.

[2019-07-24 21:01] #77846 closed

[2019-07-24 21:02] Ares9323 opened #77889 "HTML autocomplete lowercase is messing with text color"
**VSCode Screenshot with all extensions disabled**

<img src="https://image.prntscr.com/image/Kty4jrtUTui2vFExen5Ayg.jpeg" alt="Screenshot" style="float: left; margin-right: 10px;" />
<img src="https://image.prntscr.com/image/CrsxEABhR-KzKNW1jNHfDg.jpeg" alt="Screenshot" style="float: left; margin-right: 10px;" />

**Steps to Reproduce:**

1. Type anything inside a div like onClick, onMouseOver, e

[2019-07-24 21:04] rebornix commented on #67577
somehow this issue didn't show up in my inbox.

[2019-07-24 21:11] russelldavis commented on #77882
@rebornix here's the Performance tab recording:
[Profile-20190724T140742.json.zip](https://github.com/microsoft/vscode/files/3428761/Profile-20190724T140742.json.zip)

(Note this should be really easy to repro if you need more data.)

[2019-07-24 21:23] mjbvz commented on #77199
Yes. Just render it as text

[2019-07-24 21:31] #77813 closed

[2019-07-24 21:32] #77663 closed

[2019-07-24 21:40] Tyriar opened #77890 "New grid in panel changes the "ideal" size when double clicking the panel sash"
Left is stable, right is insiders after double clicking the panel sash.

![image](https://user-images.githubusercontent.com/2193314/61830779-e7a44600-ae20-11e9-8535-26540ac94ba1.png)

[2019-07-24 21:45] #76560 closed

[2019-07-24 21:50] Tyriar opened #77891 "Terminal search UX improvements"
Right now the vscode terminal searches by starting at the top of the viewport, find next (enter) will search down and then wrap around to the top and keep search. This complicates a lot and causes obscure issues like https://github.com/xtermjs/xterm.js/issues/2325. I also find when using search that I always use shift+enter as I want find previous.

Turns out this is how a lot of terminals work, t

[2019-07-24 21:52] Tyriar commented on #77891
https://github.com/xtermjs/xterm.js/issues/2339

[2019-07-24 21:52] Tyriar commented on #77891
Part upstream, part in vscode

[2019-07-24 22:02] liang2zhu1 opened #77892 "Where is documentation for all the possible macros used in contribution 'when' clause?"
Throughout https://code.visualstudio.com/api/references/contribution-points the `"when"` clause is used a lot in contribution declaration but not really explained - found more comprehensive list on https://code.visualstudio.com/docs/getstarted/keybindings#_when-clause-contexts but it does not talk about how an extension can use a configuration it defines. Eventually I figured by searching first-pa

[2019-07-24 22:02] #77414 closed

[2019-07-24 22:08] jtsom commented on #77831
@rebornix  Yes, I believe this is incorrect. The text should be clipped to the left edge of the scrollbar, not continue into the scroll bar area. This makes it impossible to click and select text that happens to be in the scroll area. the user would have to first scroll over a little bit, then click to select text. And it looks bad. It would allow a bit of a margin on the right side so text isn't

[2019-07-24 22:14] roblourens opened #77893 "Comment bar doesn't go away after leaving PR mode manually"
- Check out a PR
- PR is merged through web UI
- `git checkout master`
- In one of the files, the white comment bar in the margin is still there but nothing happens when I click on it.

I see lots of errors like

[code]

I also see many errors like

[code]

If that's related

[2019-07-24 22:16] Tyriar opened #77894 "Improve sorting of open recent list for remotes"
I think `vscode [SSH: ubuntu]` should be immediately below `vscode`

![image](https://user-images.githubusercontent.com/2193314/61832438-f8a38600-ae25-11e9-95cc-c6fc64a5d904.png)

[2019-07-24 22:21] Tyriar commented on #77415
This appears to happen because of the short-lived "install" terminal

[2019-07-24 22:31] Tyriar commented on #75385
This situation was improved recently, the default width of 80 will be used when the terminal has not been opened, but when it has it will use the last known good width. This still has potential to break wrapped lines sometimes on Windows but I don't think we can or should do anything about that.

[2019-07-24 22:31] #75385 closed

[2019-07-24 22:44] dotiful commented on #10565
@svipas hey, how is it going, any progress?
sounds like a good solution until native support appears

[2019-07-24 22:46] tlemo commented on #77785
For what is worth, I noticed the same regression with VSCode + the Microsoft C++ extension (1.36.1).

Also, the issue manifests on both Linux and Windows.

[2019-07-24 22:52] roblourens commented on #77855
I do see it working in a windows terminal, however I can't get it to work with node's `process.kill`. `process.kill(pid, 'SIGINT')` is never received by the process, maybe node is not doing the right thing on windows yet. So I don't think I can improve this.

[2019-07-24 22:57] rebornix commented on #77663
* Launch https://github.com/microsoft/vscode-extension-samples/tree/master/comment-sample
* Open a file which has more than 1 line
* Create a comment thread at line 1
* Reply to it
* Create another comment thread below the first comment thread
* Reply to the second comment thread
* Open Comments Panel
* Collapse the second comment thread
* Go back to the editor, close the first comment of the firs

[2019-07-24 22:59] rebornix commented on #73147
Tracked in https://github.com/microsoft/vscode/issues/77663 and fixed.

[2019-07-24 23:00] #73147 closed

[2019-07-24 23:01] NickHeiner opened #77895 "#68627 is occurring again"
Issue Type: <b>Bug</b>

I'm seeing the same symptoms that were originally reported in #68627. I would just comment on that issue, but it's locked now. :smile:

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:56:38.504Z)
OS version: Darwin x64 18.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7820HQ CPU @ 2.90GH

[2019-07-24 23:04] Tyriar commented on #77160
You got me thinking with `ExtensionTerminal` 🤔. Behind the scenes it's pretending to be a process but maybe bringing that terminology into the API is complicating things? I'm starting to lean towards bringing in "pty" into the name as that's more accurately describing what it's pretending to be, maybe something like this:

[code]

---

We could also remove the exit code idea and just not handle th

[2019-07-24 23:04] #68020 closed

[2019-07-24 23:06] rebornix commented on #69553
I can no longer reproduce this issue in latest Insiders.

[2019-07-24 23:06] #69553 closed

[2019-07-24 23:07] rebornix commented on #69552
I can no longer reproduce this issue in latest Insiders.

[2019-07-24 23:07] #69552 closed

[2019-07-24 23:07] #73172 closed

[2019-07-24 23:08] rebornix commented on #64042
Close this one as it's already out of date.

[2019-07-24 23:08] #64042 closed

[2019-07-24 23:09] rebornix commented on #63812
Close this one as it's already out of date (PR mentioned above is merged and we are now on the new API).

[2019-07-24 23:09] #63812 closed

[2019-07-24 23:17] Tyriar commented on #77415
This is merged, I'll manually verify it in tomorrow's build though.

[2019-07-24 23:19] #68264 closed

[2019-07-24 23:22] danyeh commented on #71668
Close this issue as the reasons stated above.

[2019-07-24 23:22] #71668 closed

[2019-07-24 23:40] #76050 closed

[2019-07-24 23:42] sazeez opened #77897 "vscode 1.36 crashes when opentext socks client is installed"
- VSCode Version: 1.36
- OS Version: Windows 10

Steps to Reproduce:

1. Install VSCode v1.36.0 (June 2019) User/System version
2. Install OpenText SOCKS client version 14.0. No need to enable socks profile.
3. Launch VSCode from either command line or Start Menu
4. Close VSCode
5. Launch VSCode again, the application fails to launch.
6. All open applications in Windows become unresponsive, Chrome

[2019-07-24 23:49] Septh commented on #76989
Until this is fixed, using `--disable-extensions=1` seems to do the trick:

[code]

[2019-07-24 23:58] kobenauf opened #77898 "VSC won't launch from WSL2 in Win build 18947"
Issue Type: <b>Bug</b>

This morning I installed Windows build 18947, and since then, I am unable to launch VSC from a WSL 2 shell using `code .`, which used to work.

I notice if I edit the `code` launch script and remove ELECTRON_RUN_AS_NODE=1 from this line it sort of works:
WSL_EXT_WLOC=$(ELECTRON_RUN_AS_NODE=1 "$ELECTRON" ".\resources\app\out\cli.js" --locate-extension $WSL_EXT_ID)

However,

[2019-07-25 00:08] mjolka commented on #77099
Thanks @jacksteamdev for the list. Disabling `karigari.chat` seems to have fixed the problem for me.

[2019-07-25 00:10] ArtemGovorov opened #77899 "Output channel content highlighting stops working after clearing its contents"
Version: 1.37.0-insider
Commit: 36e08fed41272d1ff0d73d9b3a540b0a052ecef4
Date: 2019-07-24T19:56:39.504Z
Electron: 4.2.5
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 18.0.0

Output channel output highlighting stops working after clearing its contents:

[code]

If it is important, our extension is using a language + grammar to highlight the output:

[code]

Steps t

[2019-07-25 00:11] kwadsten opened #77900 "Mac - Frequent -> The window is no longer responding"
Issue Type: <b>Performance Issue</b>

I get this error/message every few minutes.  No extensions.  Latest version of VS Code.

Tried re-installing and also the Insider release.  It freezes up every few minutes with only a few small files opened.

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:56:38.504Z)
OS version: Darwin x64 18.7.0

<details>
<summary>Syste

[2019-07-25 00:12] #77834 closed

[2019-07-25 00:13] kwadsten commented on #77834
I've re-opened this issue using the Help/Report issue feature as requested.  Still happening.

[2019-07-25 00:17] kobenauf commented on #77898
After posting this, I found [63539](https://github.com/microsoft/vscode/issues/63539) that sounds similar, but was closed without resolution.

[2019-07-25 00:19] #76498 closed

[2019-07-25 00:19] #77505 closed

[2019-07-25 00:26] waynebloss commented on #68264
It’s no big deal. It doesn’t happen with the native titlebar so I just switched to that.

[2019-07-25 00:29] Tyriar commented on #77670
This happens because of an Electron security measure, this blocks me so I'll take it.

[2019-07-25 00:37] #77670 closed

[2019-07-25 00:45] nanguatou9 commented on #77860
As shown, the indented space is too small.
![Screenshot_20190724_153532](https://user-images.githubusercontent.com/31814335/61837538-c9d5f000-aeb7-11e9-8f41-bfd3febfbbb9.png)

This problem also exists on another kubuntu19.04 computer, but Ubuntu 18.04 does not have this bug, it may be a problem with the KDE desktop environment.

[2019-07-25 00:47] nanguatou9 commented on #77860
Just showing the problem code running will not give an error. A similar situation has appeared on Atom (https://atom.io/)

[2019-07-25 01:21] #75934 closed

[2019-07-25 01:21] kentonbmax commented on #68988
I get @Danup error above running jasmine. I get issue #70984 when running `npm test` our of the box.

[2019-07-25 01:44] Imisnew2 opened #77901 "Editor width changes when toggling sidebar, breaking auto-expand of focused editor functionality."
- VSCode Version:
[code]
- OS Version:
[code]

Steps to Reproduce:

![VSCode Editor Resizing](https://user-images.githubusercontent.com/1633556/60932707-32d73880-a2fa-11e9-9f8d-777df1830e43.gif)

1. Open VS Code and close all editors.
2. Close/Hide the sidebar.
3. Create two side-by-side editor panes.
4. Resize the editor panes so that one is as small as it can be / the other is as big as it can b

[2019-07-25 01:53] tiyee commented on #77853
yes,every time
I try to find useful cash info,but it is very simple like this
[code]

[2019-07-25 02:16] SheepDomination opened #77902 "Change a setting in tasks ?"
When using the `${config:Name}` syntax to access a configuration setting within either the `workspace.json` or `settings.json` is the *type* for the task, a *process* ? Also can you change rather then reference a setting ?

[2019-07-25 02:23] Gyakusetsu opened #77903 "Alt-Tab with any browser on Windows 10 1903 lags"
- VSCode Version: 1.36.1
- OS Version: Microsoft Windows [Version 10.0.18362.239]

Steps to Reproduce:

1. Open any browser (Brave, Firefox) + VS Code
2. Alt-Tab.

Does this issue occur when all extensions are disabled?: **Yes**

[2019-07-25 02:24] #77903 closed

[2019-07-25 02:43] baileyherbert commented on #62077
Yep. I don't recall have many issues with PHP+HTML up until now, but on the latest builds it is impossible to use VSCode when working with HTML inside PHP files. The auto-indent is completely broken.

[2019-07-25 02:44] surajgarla567 opened #77904 "intellisense is not working in vscode after the update to 1.36.1"

[2019-07-25 02:51] alanlivio opened #77905 "Use a elevated command shell as integrated terminal"
The VScode integrated terminal documentation say that is possible use a elevated shell as integrated terminal (https://code.visualstudio.com/docs/editor/integrated-terminal#_configuration). However, there is no exemples describing how to do that.

[2019-07-25 03:01] RbBtSn0w opened #77906 "Re click can not be hidden explorer view"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2019-07-25 03:22] JohnZ622 commented on #658
I recently tried compiling a Node.js native extension, Edge.JS.
VSCode version was 1.36.1.
Node.JS version inside VSCode was 10.11.0.
I built edge.js from src using node.exe 10.11.0 for target node version 10.11.0.
Edge.js native extension is used in a "hello world" type vscode extension.  VSCode Extension Host could not load my built edge.js bits.  The error was " not a valid Win32 Application".

[2019-07-25 03:33] sanboxrunner commented on #77846
@sbatten Thank you! I had confused that with the Editor zoom function and had ignored it when I was looking for something like this.

Perfect!

[2019-07-25 03:35] Jamesernator opened #77907 "[Suggestion] Add option for longest-common-prefix based double tab completion"
This is a feature that most Unix shells supports, what it does it basically allows you to press TAB to get a list of suggestions then press tab again to insert just the maximal prefix of the options seen.

For example this is a typical flow:

<details>
<summary>Typical flow</summary>

Given this list of auto suggestions:

[code]

A flow in the double-tab longest common prefix scheme could would lo

[2019-07-25 03:55] Kunze opened #77908 "Considerer using async method instead of sync"
I would like to suggest a warning or message when a sync method is being used instead of its async version. For example, supposing we have this interface:
[code]

and in the code we are using the sync version:

[code]

I would like to see a warning/message saying that ```DoSomething``` has an async version.
This idea came to my mind when I noticed that a service in my company was suffering from th

[2019-07-25 04:01] lengyuxuan commented on #77867
npm run debug: egg-bin debug -r egg-ts-helper/register

[2019-07-25 04:07] itowlson opened #77909 "When debugging an extension, closing the extension dev host exception-breaks with EPIPE"
Issue Type: <b>Bug</b>

I maintain a VS Code extension. Recently I have started to experience the following behaviour:

* I run the extension under the debugger and the Extension Development Host runs.  I activate my extension.
* I close the Extension Development Host.
* VS Code triggers a debug break in an internal VS Code function called `afterWriteDispatched`.  It displays an exception popup an

[2019-07-25 04:39] #77908 closed

[2019-07-25 05:21] itzmanish commented on #77636
I can't figure out exactly which extension does it. My outline tab keep loading on a react component which i have open in editor.

[2019-07-25 05:23] byt3pool opened #77910 "Integrated terminal breaks with Powershell"
Issue Type: <b>Bug</b>

Since I updated Windows 10 to version 1809 I discover following behaviour when opening the integrated terminal (PowerShell):

**Opening terminal**
![vscode_start](https://user-images.githubusercontent.com/966427/61847515-3e566200-aeab-11e9-92cf-4dadf1b68ffd.PNG)

**Typing/execute command**
![vscode_typing](https://user-images.githubusercontent.com/966427/61847533-50380500-a

[2019-07-25 06:17] DiamondYuan commented on #77199
Sorry, I didn't find which file I should change.

[2019-07-25 06:39] zapateo commented on #73035
@rebornix seems like it's still not possible to open links on terminal just clicking on them (or double-clicking) without using a modifier key.

This feature is already implemented in the `DEBUG CONSOLE` panel.

[2019-07-25 06:52] weinand commented on #77867
Please provide more information (e.g. screenshots) about what you expect to see and what is missing.

In addition please add a `"outputCapture": "console"` or a `"outputCapture": "std"` to your launch config. Does one of those makes a difference?

[2019-07-25 07:18] jrieken commented on #77790
I keeping this open so that we can tackle this once the underlying API is ready

[2019-07-25 07:19] #77827 closed

[2019-07-25 07:23] zifahm opened #77912 "Package.json error on workspaces object"
- VSCode Version: 1.36.1
- OS Version: Linux64 4.15.0-55-generic

Steps to Reproduce:

1. add in "workspaces":{"nohoist":["somepackage"] } in package.json
![croppedpackagejsonerror](https://user-images.githubusercontent.com/3761062/61854123-10891180-aedb-11e9-98bd-c25c13c45c1b.png)

Does this issue occur when all extensions are disabled?: Yes

[2019-07-25 07:23] jrieken commented on #75559
This is good feedback and I believe we can find a good solution that applies to all file system providers, e.g.

The problem is that we don't have finalised the API for search result providers. Once that's done, extensions can provide search results and cmd/ctrl+p should just be working like that.

This is a little vague but the theory is that the language server computes a location like `zip:/som

[2019-07-25 07:25] jrieken commented on #77834
Please follow this guide when it happens: https://github.com/Microsoft/vscode/wiki/Performance-Issues.

[2019-07-25 07:32] alexandrudima commented on #71820
@golee I believe you have installed some keyboard layout in Windows that make `` ctrl+/ `` and `` ctrl+` `` produce weird characters / key codes. I suggest that you edit the keybinding and bind it to some key combination which works on your keyboard, or, alternatively, remove the offending keyboard layout.

[2019-07-25 07:32] #71820 closed

[2019-07-25 07:33] thany opened #77913 "Terminal not working"
Issue Type: <b>Bug</b>

The terminal pane isn't working. All I get is a blinking cursor. I've selected cmd as the default shell. Adding a new terminal doesn't help, nor does restarting/reloading vscode. This issue also happens with all extensions disabled. The real command prompt works fine.

![image](https://user-images.githubusercontent.com/152227/61854709-f4777700-aebe-11e9-8f0d-714328b972ef.pn

[2019-07-25 07:36] jrieken commented on #77813
Thanks!

[2019-07-25 07:44] jrieken commented on #77160
I like `Pseudoterminal` (tho maybe better with upper-case `T`, eg. `PseudoTerminal`). Also, agree that `start` and also `shutdown` shouldn't be optional, esp. since it's easy not to do anything in case an extension doesn't have a shutdown-routine

[2019-07-25 07:46] jrieken commented on #77160
Question is if `shutdown` and `onDidExit` should be aligned, name-wise. Regarding the event type of `onDidExit` I am unsure. Right, it's not a real process but it's I think it still makes somewhat sense.

[2019-07-25 07:46] lucascaton commented on #15840
Hi there.
Any news on this?

[2019-07-25 07:47] LZong-tw opened #77914 "Goto line doesn't work properly under fullscreen mode in Mac OS X"
- VSCode Version: 1.36.1
- OS Version: Mac OS X 10.14.5

Steps to Reproduce:

1. Enter fullscreen mode
2. Open any file
3. Press ^ + G
4. Enter an arbitrary number that doesn't exceed the total lines of the file

Does this issue occur when all extensions are disabled?: Yes

[2019-07-25 07:48] efkan opened #77915 "JSX code handling"
It should handle JSX files just like how Atom handles them.

Currently, we should add an extra setting as:

[code]

[2019-07-25 07:53] Galileo-Galilei opened #77916 "pytest tests are not properly displayed if test name contains upper letters"
Hello,

I've encountered a little bug recently in the "Tests" tab. I am not 100% sure that the bug is related to vscode or to the python extension.

**_Environment:_**
- VSCode Version: 1.34.0
- OS Version: Windows_NT x64 6.1.7601
- Python extension version : 2019.6.24221
-  settings.json :
[code]
**_Bug :_**
When a test file contains an upper letter, it is not displayed properly in the test tab.

[2019-07-25 07:53] joguarino opened #77917 "Language support for Javascript/Typescript"
Issue Type: <b>Bug</b>

Everytime I open a JS or TS file in VSCode, I always have this error:

"
Extension host terminated unexpectedly. Code:  3221225477  Signal:  null
_onExtensionHostCrashed	@	abstractExtensionService.ts:155
"

The result is that all the functionalities regarding JS/TS aren't working, such as, for example, the structure of the script, or the intellisense, neither the add-ons (f

[2019-07-25 07:56] alexandrudima commented on #74372
I can no longer reproduce. I have tried with the steps from #62030

[2019-07-25 07:56] #74372 closed

[2019-07-25 07:57] jrieken opened #77918 "No layering rules for workbench/contrib?"
I stumbled over this https://github.com/microsoft/vscode/commit/d685337db2e58c97c52387f080d698c5fa22753d and wondered how `semver-umd` can be imported without mentioning it `tslint.json` and I believe we actually don't have any layering rules configured for at least `src/vs/workbench/contrib/extensions/browser/extensionsWorkbenchService.ts`

[2019-07-25 07:57] jrieken commented on #77918
Turns out I can import anything in `browser/extensionsWorkbenchService` but not in `browser/outlinePanel`

[2019-07-25 07:57] svipas commented on #10565
@dotiful Hi, if I will have time today I will publish this extension. It would have picker with all global snippets from builtin extensions and downloaded, so you could choose which one to delete or all of them.

[2019-07-25 08:08] gluons commented on #10565
@svipas Does your extension have **disabling snippets** feature instead of delete?
So, we'll able to bring it back when we need it. Or show/hide as we wish.

[2019-07-25 08:11] Iamzz-cn opened #77919 "VS Code restarts indefinitely after failed to open a big file"
I tried opening a big text file, about 14 GB. I had modified the setting of VS Code max-memory=40960.(The memory of my system is 16 GB). I successfully opened the file, but when I modified it and tried saving it, VS Code didn't give any prompt. After a period of time, I closed VS Code. After that, whatever I open by VS Code, VS Code will crash.

[2019-07-25 08:11] lukasz21 commented on #76752
I also prefer the old method of copy. Perhaps an option could be add where the user can choose how the file is copied?

[2019-07-25 08:11] #74369 closed

[2019-07-25 08:13] demiro commented on #61838
OK, I know much of this is covered here:
https://github.com/microsoft/vscode/issues/10121

But, regarding remembering the window positions is becoming really, really frustrating on a laptop that connects to multiple monitors (which is very typical in a workplace).

So my regular setup (laptop + 2 monitors) I have 3 VSCode windows (3 different projects) ... they all have different layouts. (2 of th

[2019-07-25 08:15] alexandrudima commented on #76693
@Sasha-Sorokin Just configure
[code]
i.e. add `“”` to the string and things will work as you wish.

I would not change the defaults we ship with, which are optimized from programming languages.

[2019-07-25 08:15] #76693 closed

[2019-07-25 08:18] lukasbash commented on #74098
VS Code Version 1.36.1 (1.36.1)
System Version: macOS Mojave 10.14.6
GPU: Radeon Pro 555X (4GB) / IntelUHD Graphics 630 (1536MB)

I can reproduce some observations of my previous post.

Observations:

- (fullscreen) flickering got worse after macOS update 10.14.3 -> 10.14.5: flickering starts, gets worse over a period of 2 or 3 seconds, display completely blacks out for less than a second, then co

[2019-07-25 08:20] weinand commented on #77916
Please provide a screenshot that shows the problem.

[2019-07-25 08:27] alexandrudima commented on #74331
@minkir014 Which bootstrap.css file do you open, specifically?

I have tried `bootstrap.min.css` (just remove the `.txt` ending)
[bootstrap.min.css.txt](https://github.com/microsoft/vscode/files/3430499/bootstrap.min.css.txt)

By default, the long line is not colorized (144k characters), but other than that the editor is responsive for me:
![image](https://user-images.githubusercontent.com/5047891

[2019-07-25 08:29] qljiong opened #77920 "go to file not ignore gitignore configuration"
Issue Type: <b>Bug</b>

go to file that does not ignore gitignore Configuration

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59:35.033Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz (8 x 2808)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>fl

[2019-07-25 08:35] alexandrudima commented on #67165
I have had to revert changes done for #48046 because they resulted in incompatibility with Visual Studio.

In other words, I will not touch `cursorWordStartRight` any more. See [this test](https://github.com/microsoft/vscode/blob/67814cc6b11dad00ec264c1874f5e7b8bd4923b3/src/vs/editor/contrib/wordOperations/test/wordOperations.test.ts#L299-L313) and the note to never touch this command again in ord

[2019-07-25 08:35] weinand commented on #77909
What breakpoint settings are you using?

![2019-07-25_10-34-58](https://user-images.githubusercontent.com/1898161/61859190-f2fe7c80-aec7-11e9-8da2-18cf47d79c4b.png)

[2019-07-25 08:36] #77918 closed

[2019-07-25 08:38] alexandrudima commented on #74296
@jose-pr I can think of the following steps:
1. Have a machine without internet
2. Install VS Code
3. "something" does not work

What exactly is the "something" that does not work so I can route this issue to the right owner?

[2019-07-25 08:38] joaomoreno commented on #77856
From @sbatten:

[2019-07-25 08:39] oliversalzburg opened #77921 "Conditionally reachable code is not properly type-checked"
Issue Type: <b>Bug</b>

Given the following JS code:

[code]

In `nay`, VS Code will complain that `style` does not exist on `Element`, while it correctly understands the situation in `yay` and does not complain.

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59:35.033Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|V

[2019-07-25 08:39] joaomoreno commented on #77856
From @jrieken:

[2019-07-25 08:44] Galileo-Galilei commented on #77916
Hello @weinand,

many thanks for the fast answer. You can see two red boxes in pictures below : at the bottom of my IDE, two tests are marked as passed, but there is no green tick near the "test_NotWorking.py", and its name has been converted into lower case.

![example_img](https://user-images.githubusercontent.com/29451317/61859707-ee869380-aec8-11e9-9f60-76dc1aaa7ed5.png)

I'm at your disposal

[2019-07-25 08:47] weinand commented on #77916
This is an issue with the test extension you are using. Please file the issue in their repository.

[2019-07-25 08:47] #77916 closed

[2019-07-25 08:51] andrewrothman commented on #16221
Would love to see this in VS Code.

[2019-07-25 08:52] alexandrudima commented on #73864
I can confirm bracket matching is done in the editor, programming language agnostic, (except for knowing to skip comments, strings and regular expressions) and it is not semantic.

[2019-07-25 08:56] joaomoreno opened #77922 "Workbench grid: panel renders according to wrong position"
1. Disable workbench grid
2. Place sidebar on the left and panel on the right
3. Enable workbench grid

Notice:

- The panel will appear in the bottom
- The panel will be rendered as if it is on the side: there will be a 1px border on the left side and nothing on the top

[2019-07-25 09:01] DanTup commented on #68988
I gave up on this and just deal with the run times running them individually. Running VS Code on CI has become pretty unstable even without them overlapping (mostly "Render process crashed!" and "Failed to show someFile in editor undefined") so this just seems like something extra to go wrong. If I can get my setup to run faster, I might just use more shards on Travis/AppVeyor to try and speed thi

[2019-07-25 09:02] LiyaClaws opened #77923 "html auto close tags being inserted before its html content"
Issue Type: <b>Bug</b>

Usually, after opening a HTML tag(`<div>`, for example), an auto close tag is immediately inserted (`</div>` in this case) and cursor is positioned between them, so I can continue typing...

but when using "Remote - SSH",  since it takes a few mili seconds to auto complete (internet latency, )I open a html tag and continue typing.. and the closing tag is inserted immediatel

[2019-07-25 09:27] LeoLozes opened #77925 "Search doesn't seem to work in template literals"
When searching for a string that is in a template literal, VS Code Insider doesn't throw any matches:

![image](https://user-images.githubusercontent.com/11133817/61863018-1aa51300-aecf-11e9-9d5b-8061efe4d972.png)

 If I open the file containing the template literal, it works:

![image](https://user-images.githubusercontent.com/11133817/61863067-327c9700-aecf-11e9-9f60-6b6493a7b17a.png)

- VSCode

[2019-07-25 09:29] #73437 closed

[2019-07-25 09:35] joaomoreno commented on #77344
You've got to figure out what's the _modification of the program_ that Little Snitch talks about. Is there more information about that error?

[2019-07-25 09:36] alexandrudima commented on #36306
Let's track in #583

[2019-07-25 09:36] #36306 closed

[2019-07-25 09:36] joaomoreno commented on #77717
I'm not sure how I can help you. I do know that following that guide on a fresh windows box should work fine. Please search around StackOverflow and our issues to find a fix.

[2019-07-25 09:36] #77717 closed

[2019-07-25 09:37] alexandrudima commented on #40514
Let's track in #38352

[2019-07-25 09:37] #40514 closed

[2019-07-25 09:39] alexandrudima commented on #51316
I think this is a settings issue/question... @sandy081 Do we support `[language]` configurations in folder settings in a multi-root workspace?

[2019-07-25 09:39] joaomoreno commented on #77798
Similar to https://github.com/microsoft/vscode/issues/74222#issuecomment-502022138

[2019-07-25 09:40] #77798 closed

[2019-07-25 09:41] alexandrudima commented on #57405
There is no plan to add support for this...

[2019-07-25 09:41] #57405 closed

[2019-07-25 09:41] alexandrudima commented on #57406
There is no plan to add support for this...

[2019-07-25 09:41] #57406 closed

[2019-07-25 09:43] alexandrudima commented on #59990
Let's track in #34407

[2019-07-25 09:43] #59990 closed

[2019-07-25 09:44] joaomoreno commented on #67577
That command is only meant for regular editors, using dirty diff.

<kbd>Alt F5</kbd> should work in the diff editor.

[2019-07-25 09:44] #67577 closed

[2019-07-25 09:46] joaomoreno commented on #77888
The setting ID is `git.alwaysShowStagedChangesResourceGroup`

[2019-07-25 09:46] #77888 closed

[2019-07-25 09:47] alexandrudima commented on #61878
This works fine for me:
![auto-closing](https://user-images.githubusercontent.com/5047891/61864570-f139b680-aed1-11e9-8e1a-8600db6458c8.gif)

[2019-07-25 09:48] alexandrudima commented on #68975
Let's track in #34407

[2019-07-25 09:48] #68975 closed

[2019-07-25 09:53] Sovgut commented on #77188
I found a dependency, this happens when using an AMD video card (RX570).

When using solutions from Intel, this problem is not observed.
And yes, I use the stable version, not insider.

![image](https://user-images.githubusercontent.com/26426861/61865028-2dbde000-aedb-11e9-82b0-7a671c559fda.png)

[2019-07-25 09:58] LeoLozes commented on #77925
After reviewing it with the normal VS Code and other editors, it seems that the problem is that the folder path gets too long.

[2019-07-25 10:15] DanTup commented on #77396
I've updated mine to match the details above for now (24x24 to the edge and 18x18 with 2px padding), and they look the same in both Stable and Insiders (I'm not sure why my original icons shown above rendered so differently when they had padding). I don't expect to need to update them anytime soon, but the more explicit the new guidelines can be the better :-)

[2019-07-25 10:17] arcanis commented on #75559
Is there someplace I can track this work? I've found https://github.com/microsoft/vscode/issues/59922 but it's not clear whether it got merged, reverted, or exposed as a public API.

[2019-07-25 10:18] DanTup commented on #43768
Do the latest comments mean the API will change to have an array (even though it'll be called repeatedly for now)? Do you have an idea when this might be finalised so it can be used in stable?

[2019-07-25 10:19] #77176 closed

[2019-07-25 10:43] #77855 closed

[2019-07-25 10:44] weinand commented on #77855
For now I've labeled this "upstream bug"

[2019-07-25 10:47] usernamehw commented on #69903
@rebornix, it's been 3 Insiders releases, but it seems to be not there.

[2019-07-25 10:52] weinand commented on #76864
this investigation will take place in https://github.com/microsoft/vscode/issues/58304

[2019-07-25 10:52] #76864 closed

[2019-07-25 10:58] jrieken commented on #75559
https://github.com/microsoft/vscode/issues/73524

[2019-07-25 10:58] alexandrudima opened #77926 "Typing "string;" sometimes inserts "strings;""
Issue Type: <b>Bug</b>

VS Code version: Code - Insiders 1.37.0-insider (36e08fed41272d1ff0d73d9b3a540b0a052ecef4, 2019-07-24T19:58:35.647Z)
OS version: Windows_NT ia32 10.0.17763

- type `string;` very quickly. (ask @octref to type if you cannot repro :) )
- embrace the rage of seeing `strings;` typed

![intellisense](https://user-images.githubusercontent.com/5047891/61869379-c7858d00-aedb-11e9-8

[2019-07-25 10:59] #67760 closed

[2019-07-25 11:01] jrieken commented on #77926
It's the design behaviour because `strings` is the top match and since `editor.acceptSuggestionOnCommitCharacter` is set to `true` by default. I think the discussion should be if this is a good default

<img width="1428" alt="Screenshot 2019-07-25 at 13 00 19" src="https://user-images.githubusercontent.com/1794099/61869551-2b0fba80-aedc-11e9-945d-21e0ee9394c4.png">

[2019-07-25 11:12] alexandrudima commented on #77926
Kind of fishy is that `string` does not appear in that list...

[2019-07-25 11:15] fabb commented on #34407
Another horrible thing connected to the quote dead key: when I press the quote key + the. The left arrow, an invisible unicode control character is inserted. It took me hours to debug because I inserted such a character in a className string wich caused the class not matching and the css style not being applied.

[2019-07-25 11:30] yogesh-aggarwal opened #77927 "Annoying GitHub commit"
- VSCode Version: 1.36.1
- OS Version: Linux (Ubuntu 19.04)

**Steps to Reproduce:**

1. Make your default code editor (commit editor) of git to "code".
2. Turn ON autosave on vscode.
3) Try to commit, it will autosave that file and blank commit get passed.

**In my opinion, it should ignore the "COMMIT_EDITMSG" file.**

Does this issue occur when all extensions are disabled?: Yes

[2019-07-25 11:35] deitry commented on #77813
Thank you!

[2019-07-25 11:48] nileio commented on #77843
thanks @weinand for reply. What is the current behaviour of this feature please ?

[2019-07-25 12:09] DanTup opened #77928 "Underline of hyperlinks in editor randomly flashes on and off"
This happens really intermittently, but I've seen it many times over the last month or so. Sometimes I open a file, and I see hyperlinks in comments where the underline is flashing on and off. It "randomly" stops on its own too.

(my recording is bad because I converted it to GIF - it's flashing about twice the rate seen here.. slightly slower than the cursor/caret flash - though definitely not in

[2019-07-25 12:10] eriknelson opened #77929 "Add config for split editor pane's initial state as empty"
This was closed as a duplicate, but the linked issue is not exactly the feature that the OP had requested: https://github.com/Microsoft/vscode/issues/30168

The above issue allows for keeping editor groups open when empty, but the requested feature was that the **initial state in a new pane should be empty**. This is the default behavior in vim. I'm not suggesting this should be the default behavi

[2019-07-25 12:15] goldpicker commented on #76757
![Screen Shot 2019-07-25 at 8 10 54 PM](https://user-images.githubusercontent.com/2731456/61873585-e6eedb00-af18-11e9-999a-8d9856c8e7b8.png)

[2019-07-25 12:19] goldpicker opened #77930 "file remove, but still report error on this file"
Issue Type: Bug

when I delete file from file explorer. except I reboot the vscode, It's still report proplems with these deleted files.

VS Code version: Code 1.36.0 (0f3794b, 2019-07-03T13:09:31.507Z)
OS version: Darwin x64 17.6.0
Remote OS version: Linux x64 4.15.0-51-generic

System Info
Item	Value
CPUs	Intel(R) Core(TM) i5-4278U CPU @ 2.60GHz (4 x 2600)
GPU Status	2d_canvas: enabled
flash_3d:

[2019-07-25 12:23] rajathans commented on #77878
Can you please explain the issue and the desired behaviour a little further.

[2019-07-25 12:50] #76558 closed

[2019-07-25 12:54] Sasha-Sorokin commented on #76693
Yep. Already did, thanks for telling! Clearly missed that option when was searching...

[2019-07-25 13:13] joaomoreno commented on #77878
The `Git: Clone` command shows an input box to insert the repository to clone. The user wants to be able to paste `git clone URL` instead of just `URL` and have it simply work.

[2019-07-25 13:19] #76779 closed

[2019-07-25 13:26] sandy081 commented on #51316
Yes we support them and it is working for me with the above example. Can you please share your workspace/user/folder settings to repro?

[2019-07-25 13:33] jrieken commented on #55004
this is now like all other trees

[2019-07-25 13:33] #55004 closed

[2019-07-25 13:34] jrieken commented on #57613
this is now using the default tree filter/find logic

[2019-07-25 13:34] #57613 closed

[2019-07-25 13:39] joaomoreno commented on #77787
Pushed the concept of an `APIState`. The Git API starts with an `'uninitialized'` state, then goes through the initial scanning and changes to an `'initialized'` state once that's done. There's also a `onDidChangeState` event.

Let me know if that's not enough. :+1:

[2019-07-25 13:39] #77787 closed

[2019-07-25 13:41] joaomoreno commented on #77201
@fasmat Is there anything special about your network setup that you can think of which could delay reaching out to our telemetry service?

[2019-07-25 13:44] svipas commented on #10565
@gluons It's way easier to delete them, but I will see if I can add the ability to disable them instead of deleting them.

[2019-07-25 13:49] jrieken commented on #74133
I have increased the limit 128, let's see how far we get with that...

[2019-07-25 13:49] #74133 closed

[2019-07-25 13:50] aeschli commented on #77883
Please add an example for an `appsettings.json` file.

Can you add a schema for `appsettings.json` like that ?
[code]

[2019-07-25 13:53] #71208 closed

[2019-07-25 13:55] joaomoreno commented on #77865
I can't reproduce this.

Are you using symlinks at all?

[2019-07-25 13:57] baronfel commented on #77883
That's hard to do because right now the `appsetting.json` file is a grab-bag, where any and all runtime settings (which can change based on which components/libraries you've added to your application) can live. There's a discussion about adding schema for the 'default' microsoft-provided properties at this issue though: https://github.com/aspnet/AspNetCore/issues/2867.

While I could make a schema

[2019-07-25 14:04] aeschli commented on #77889
I don't know if there's a recommendation but we follow how mdn does it: all-lowercase
https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers

Moving issue to the HTML textmate grammar to answer why the tokens are different.
https://github.com/textmate/html.tmbundle/issues/104

[2019-07-25 14:04] #77889 closed

[2019-07-25 14:08] aeschli commented on #77861
Revert is a file replace and we have no smartness here to try to match areas and preserve folds.

[2019-07-25 14:10] marcel0liveira opened #77931 "Settings scroll up or down"
Hi, I'm a developer of new technologies, I'm using to learn node.js,
and when navigating settings, I'm having difficulty scrolling down and up
scroll bar, not the mouse wheel, path (File > Preferences> Settings) or
("Ctrl" + ",") any menu, if I pull the scroll it goes too far down or up too much,
it is difficult to navigate without using the mouse wheel.
My theme is the dark, if help
Thank you.

[2019-07-25 14:14] aeschli commented on #77433
Yes, correct

[2019-07-25 14:16] joaomoreno commented on #77622
Actually I see a lot more on my Linux box:

![image](https://user-images.githubusercontent.com/22350/61881780-813e2700-aef7-11e9-849e-8c334426a4c8.png)

[2019-07-25 14:16] dmzobel opened #77932 "Minus character not appearing"
- VSCode Version: 1.36.1
- OS Version: 10.14.4

Steps to Reproduce:

1. Open a new file. As far as I can tell, the file type does not matter (I've tried with Plain Text, JSON, JavaScript, Python, and SQL files).
2. Try to type a `-` key. For me, nothing happens (i.e. no characters are produced), even when I'm trying to comment out SQL lines or subtract integers in JS or Python.
3. However, the `_`

[2019-07-25 14:18] aeschli commented on #77883
- in VSCode if two (or more) schemas are contributed to the same file, we merge them (its an OR of all of them)
- but also single schema with all known library-schemas could be a solution. Why not suggesting the AspNetCore team that defines that schema to also accept to include associations for other libraries?
- Just in case, VSCode also allows dynamically created schemas as described here: https

[2019-07-25 14:24] baronfel commented on #77883
I didn't realize that multiple schemas were merged together!  That covers most of the use case as far as I'm concerned then. Thank you for walking me through this.

[2019-07-25 14:25] #77883 closed

[2019-07-25 14:26] aeschli commented on #76643
dup of https://github.com/microsoft/vscode/issues/49342

[2019-07-25 14:26] #76643 closed

[2019-07-25 14:26] aeschli commented on #76509
dup of #76619

[2019-07-25 14:26] #76509 closed

[2019-07-25 14:28] aeschli commented on #73907
dup of #76619

[2019-07-25 14:28] #73907 closed

[2019-07-25 14:30] #61767 closed

[2019-07-25 14:30] rgf1289 opened #77933 "icons for file extensions"
Все типы файлов имеют один и тот же вид default.ico>html default.ico>php default.ico>py.
Хотя существуют иконки для каждого типа html.ico>html php.ico>php py.ico>py.
Как исправить эту ошибку? Очень не удобно различать файлы в проводнике
![Снимок](https://user-images.githubusercontent.com/17653599/61882835-f0b91400-af01-11e9-86c1-75fb3aa549c6.PNG)
![Снимок1](https://user-images.githubusercontent.co

[2019-07-25 14:33] rgf1289 commented on #77933
C:\Users\____username____\AppData\Local\Programs\Microsoft VS Code\resources\app\resources\win32
Все иконки хранятся здесь для каждого типа, но у файлов одинаковый вид

[2019-07-25 14:34] sandy081 commented on #77377
Look like this is happening only with null characters. The logger (spdlog) we use for writing output channel is skipping null characters. Is there a reason to use these in your case?

[2019-07-25 14:39] breyed commented on #73907
#76619 is about CSS and looks to me to be distinct from this issue, which is about HTML close tags (which CSS doesn't even have). @aechan Can you elaborate on the dup?

[2019-07-25 14:43] aeschli commented on #71091
The problem is that we override the attribute value as 'other' in order to allow quick suggest:
https://github.com/microsoft/vscode/issues/46145

[2019-07-25 14:43] cezarneaga commented on #77865
Yes. But accessing the repo from symlink or direct causes the same result

[2019-07-25 14:53] eamodio commented on #77026
@alexr00 Do you need any more info on this?

[2019-07-25 14:54] cslovell opened #77934 "Python Extension remote jupyter fails behind corporate proxy: "unable to get local issuer certificate""
Windows 10 enterprise edition. On an ordinary network connection, connecting to remote jupyter notebook server works perfectly.

However, a particular corporate network connection uses Cisco's web security appliance to inspect traffic, providing a corporate certificate that is signed by an un-trusted authority (the corporate entity). This has been added to the system's trusted root certificate aut

[2019-07-25 14:56] eamodio commented on #77000
@alexr00 Any update on this one? I'm honestly getting a little concerned that end-game is coming up soon, and this issue causes LOTS of problems for GitLens as it breaks many UI updates which makes GitLens seem very broken. I've almost gone back to stable, because it impacts GitLens functionality so much.

[2019-07-25 15:09] armoha opened #77935 "Font ligatures do not work with accessibilitySupport"
- VSCode Version: 1.36.1
- OS Version: Windows 10 Education x64 (Build 17763.615)

Steps to Reproduce:

1. Install font with ligatures (e.g. Fira Code) and write `settings.json` as follows:
[code]
2. Ligatures do not work when `"editor.accessibilitySupport"` is `"on"`. Ligatures work when it is `"off"`.

Does this issue occur when all extensions are disabled?: Yes

[2019-07-25 15:14] Tyriar commented on #77160
@jrieken

Pseudo-terminal and pseudoterminal are both popular usages, I think the latter is more correct though as that's what's used on the pty man page.

onDidExit/exit, onDidClose/close, onDidClose/dispose, onDidDispose/dispose?

[2019-07-25 15:24] YoniChechik commented on #77926
In my opinion it's a **bad** default! happens as well in python when typing:
`import numpy as np`
and the result is annoyingly:
`import numpy as numpy`

[2019-07-25 15:34] VitalyAnkh opened #77936 "Can't launch vscode, run "code --verbose" and it said "URI malformed""
- VSCode Version: 1.36.1, install from `archlinuxcn`
- OS Version: Linux Rex 5.2.1-1-MANJARO SMP PREEMPT Mon Jul 15 04:50:55 UTC 2019 x86_64 GNU/Linux

Steps to Reproduce:

1. Launch vscode
2. Crash. It says:
[code]

Launch with `code --disable-extensions` to check: The same result as above.
Does this issue occur when all extensions are disabled?: Yes

[2019-07-25 15:47] aeschli commented on #76771
Not easy to add unless we want to repeat the whole schema-schema.

[2019-07-25 15:48] aeschli commented on #76771
https://github.com/microsoft/vscode/blob/master/src/vs/workbench/api/common/configurationExtensionPoint.ts has that schema.
PR's welcome.

[2019-07-25 15:55] jrieken commented on #77160
I like that best: `onDidExit/exit`

[2019-07-25 15:55] aeschli commented on #76596
I'm not able to reproduce...

[2019-07-25 15:56] Tyriar commented on #77160
We could align with pty naming even more and use:

start -> open (openpty)
onDidExit -> onWillClose (this can trigger close, not sure if it does atm)
shutdown -> close (this happens when the terminal instance is being teared down, either by user killing it or onWillClose firing)

[2019-07-25 15:57] aeschli commented on #75617
Do you still see this in 1.36?

[2019-07-25 16:11] hulapluto opened #77939 "Microsoft keyboard macros ignored in VS Code only"
- VSCode Version: 1.31.1 (work-locked to this version)
- OS Version: Windows 10

Steps to Reproduce:

1. Launch vs code
2. Try to use a keyboard macro.
3. Fail. Very Frustrate. Search Web. Very more Frustrate. nada nada nada.

Using microsoft natural ergonomic keyboard 4000 and Intellitype macros to remap the home, search, email buttons to ctrl+c, ctrl+v, ctrl+a, respectively. Vs code is now ignor

[2019-07-25 16:19] rusnasonov opened #77940 "[SCM] commands attach to wrong Resource after reopen source control tab."
- VSCode Version: Version 1.36.1 (1.36.1)
- OS Version: macos mojave 10.14.5

I working on extension which use SCM API, for example I look to git extension from microsoft/vscode repo.

Extension create three ResourceGroup, and attach command (with + icon) to one of them Resource items. When first time open SCM tab command bind correctly. But when close tab and open again, commad bind to Resource i

[2019-07-25 16:22] shauryaverma4296 opened #77941 "Alignment Issue of Error Message while clicking on Peek Problem"
Issue Type: <b>Bug</b>

HI,

I just saw the alignment issue. When there is a left pannel open and you click on "Peek Problem" to an error you'll see the dialouge box. But then when you hide the left pannel there is an alignment issue and also the cross button of the Peek Problem dialouge also diappear.

Please look into the issue.

VS Code version: Code 1.32.3 (a3db5be9b5c6ba46bb7555ec5d60178ecc2e

[2019-07-25 16:30] #77884 closed

[2019-07-25 16:33] joaomoreno commented on #77345
I could repro.

[2019-07-25 16:34] #77792 closed

[2019-07-25 16:39] hwhung0111 commented on #77878
@rajathans Are you still interesting at this issue? I would like to give it a try.

[2019-07-25 16:40] rebornix commented on #77906
@RbBtSn0w can you please share the information generated by the Issue Reporter here ?

[2019-07-25 16:41] rebornix commented on #77914
@LZong-tw can you please share a recording/gif to help troubleshoot?

[2019-07-25 16:43] rajathans commented on #77878
yes @hwhung0111 I've started working on this

[2019-07-25 16:44] rebornix commented on #77928
Could you please help confirm if it's a dup #48321  of by following steps in https://github.com/microsoft/vscode/issues/48321#issuecomment-383602537 ?

[2019-07-25 16:47] mottykohn commented on #68572
In the end it has nothing to do with vs code. Here is a thread about it https://answers.microsoft.com/en-us/windows/forum/windows_10-performance/windows-10-multi-monitor-maximized-window/3c2042ef-73df-401c-9a59-65b347d4dbea

[2019-07-25 16:47] rebornix commented on #77932
Could you please follow our wiki https://github.com/microsoft/vscode/wiki/Keybinding-Issues to help provide more info?

[2019-07-25 16:53] kross-italk opened #77943 "autocorrecting to this.this."
- VSCode Version: 1.36.1
- OS Version: Windows 10

Steps to Reproduce:

1. In a javascript file type console.log(
2. Autocorrects to console.this.log(

Similarly, this.whatever is autocorrecting to this.this.whatever
I am using the setting acceptSuggestionOnCommitCharacter: false to prevent this behavior after searching online. This has stopped working as well. This is new behavior in the last 2 w

[2019-07-25 16:56] roblourens opened #77944 "Window shuts down when remote disconnects while debugging EH"
- Debug the remote-ssh extension using the typical extensionHost debug launch config
- Set `"remote.SSH.showLoginTerminal": true` just to make this easier
- Connect to a remote
- Find the "install" terminal and kill it
- The extension development host window closes

This is due to this:

https://github.com/microsoft/vscode/blob/3b5ee24ca3e3eaf12d730a5ac9dd72f3669aa954/src/vs/workbench/services/ext

[2019-07-25 17:04] #77433 closed

[2019-07-25 17:04] ribrdb commented on #77817
Version 1.36.1 turned out to be unusable for me because of this.
I moved back to 1.35.1 and the problem went away.

[2019-07-25 17:06] DanTup commented on #77928
I'm OOO for a bit now, but I'll have a go when I'm back.

[2019-07-25 17:07] Tyriar opened #77945 "Keybindings firing incorrectly when handled by terminal"
Repro:

Add to keybindings:

[code]

Open an editor then focus terminal and press ctrl+r, gotoSymbol should not be triggered.

[2019-07-25 17:08] #77110 closed

[2019-07-25 17:09] Tyriar commented on #77945
https://github.com/xtermjs/xterm.js/pull/2343

[2019-07-25 17:16] hulapluto commented on #77939
I should add if I try to add the home, search or email buttons in the keybindings json file vs code just comes back with "unknown"

[2019-07-25 17:39] rebornix commented on #77941
@shauryaverma4296 could you please share a screenshot to help troubleshoot?

[2019-07-25 17:40] jgcook935 opened #77946 "Set breakpoint by selection"
I'd like the ability to set break points by a selection of text. Quite often I'll add breakpoints to a block of code one by one by clicking the sidebar or using f9 and it can be a bit cumbersome. It'd be great if there was a shortcut to set breakpoints on all lines of code highlighted in the editor.

[2019-07-25 17:42] roblourens commented on #77925
I think it's really unlikely that this has anything to do with template literals, can you show that it finds other matches in this file but not that one?

Can you explain some more?

[2019-07-25 17:42] akbyrd opened #77947 "PCRE2 beginning/end of file anchors don't work properly"
Issue Type: <b>Bug</b>

Using `\A` and `\Z` to match the beginning and end of the file don't work properly. Most of the time they act like `^` and `$` match every single line in the file. On the first result they appear to match the literal characters `A` and `Z` which has the appearance of matching in the middle of random lines.

![image](https://user-images.githubusercontent.com/484784/61895618-

[2019-07-25 17:53] LeoLozes commented on #77925
Yes, sorry! It was a project with stupidly long paths because it followed a nested-component folder structure. The file I opened in the second screenshot was actually in a path of 460 characters (!).

I first blamed the insider build (and created this issue a bit hastily, sorry), then I switched to the normal one and the behaviour was the same, so I checked with the "find in files" option of Notep

[2019-07-25 17:54] mjbvz commented on #77926
@octref @alexandrudima Can you please share which project/file you are working in (and what TS version you have enabled). I can't repo

[2019-07-25 17:54] LiteracyFanatic commented on #74607
I have also noticed this issue. I'd like to slightly clarify the conditions which cause this to happen. It is necessary but not sufficient for the first character which does not fit on a line to be a space. The preceding character must also be a comma. In the absence of a comma, the word preceding the space will also wrap around and the line will look fine. The following screenshot demonstrates th

[2019-07-25 17:54] octref commented on #77499
There's another bug report saying 1.35.1 works fine but 1.36.0 doesn't: https://github.com/microsoft/vscode/issues/77513

So, just to recap, this setup:
- Works fine with both 1.35.1 and 1.36.1 locally
- Works fine on container with 1.36.1, but not 1.36.1

Is this correct?

Also I'm not familiar with Windows Server Core, but would it have problem launching 32-bit VS Code? Currently `vscode-test` b

[2019-07-25 17:54] suit0r opened #77948 "Emmet Wrap Abbreviation Keeps Crashing"
After about 5 wrap abbreviation shortcuts, the command palette comes up but the command won't trigger.

[2019-07-25 17:54] mjbvz commented on #77915
Why do you feel you need to add that setting?

[2019-07-25 17:55] mjbvz commented on #77917
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled?

[2019-07-25 17:56] mjbvz commented on #77636
But if you disable all extensions, you don't see this?

[2019-07-25 17:56] roblourens commented on #77947
A few things going on - we use ripgrep to search the workspace which uses the Rust regex engine, or you can force PCRE2 with a setting. Either way, `\A` seems to have the same behavior as `^`, I don't think that's wrong based on what I'm seeing: https://www.rexegg.com/regex-quickstart.html#anchors

Then open files we search using the JS regex engine which just does not support that escape sequence

[2019-07-25 17:56] #77947 closed

[2019-07-25 17:57] octref commented on #73907
@aeschli Linked to wrong issue? Should be dup of this one: https://github.com/microsoft/vscode/issues/47069

[2019-07-25 17:57] roblourens commented on #77925
Oh, got it. That's unfortunate. Thanks for following up. Chalking this one up to NTFS/windows

[2019-07-25 17:57] #77925 closed

[2019-07-25 17:58] ken0x0a commented on #26650
Same with me here...

I tried followings,

1. connect external display
2. turn on Macbook
3. close Macbook & turm Macbook into "clamshell mode"
4. Restart.

The interesting thing is, keyboard shortcut works correctly most time, but sometimes not.
And because of this unstable reactions ( & my external display's quality ), I didn't use this MacBook for 15 months for work.
But now, my new Macbook Pro

[2019-07-25 17:59] octref commented on #77240
Oops I forgot to post a reply. Simply checkout a PR:

![image](https://user-images.githubusercontent.com/4033249/61897103-31e20180-aecb-11e9-8a79-2d0c4ca176c7.png)

[2019-07-25 17:59] #77904 closed

[2019-07-25 17:59] lucaros97 opened #77949 "Restart to Update not working on Mac"
- VSCode Version: 1.35.0
- OS Version: OS X 10.14.15

Steps to Reproduce:

1. Click on "Code" tab
2. Then click on "Restart to Update"
3. VSCode doesn't restart anymore and you've to download the application from the site to update to the latest version

Does this issue occur when all extensions are disabled?: Yes

[2019-07-25 18:02] octref commented on #77550
Is this on Azure Devops? It's an issue for Azure Devops's handling of console output. On Travis it looks fine.

[2019-07-25 18:02] russelldavis opened #77950 "Errors in Problems panel for tsconfig.json don't appear and resolve properly"
- VSCode Version: 1.36.1 (also happens in latest Insiders build)
- OS Version: macOS Mojave 10.14.6

Steps to Reproduce:

*Part 1:*
a) Create a new typescript project. (Run `tsc --init` and create a simple `foo.ts` file.)
b) Open the project in VS Code.
c) Open `tsconfig.json` (without opening `foo.ts`)
d) Add this line at the top, above "compilerOptions":
[code]
e) Notice that nothing appears in

[2019-07-25 18:03] octref commented on #73803
Not sure what you mean, but if you are using `@types/vscode` and `vscode-test` you can drop `vscode` module.

[2019-07-25 18:03] ken0x0a commented on #26650
Now I tried following two shortcut

- ⌘ + [
- ⌘ + ]

at this electron app thihttps://github.com/skevy/graphiql-app,
so I think it's not electron problem

[2019-07-25 18:04] #77945 closed

[2019-07-25 18:07] rebornix commented on #9798
With #60311 merged, you will be able to preserve case when doing single replacement in Find Widget from tomorrow's Insiders. It's still in its early stage so currently we only support following patterns

* all lower case
* ALL UPPER CASE
* Title Case

Feel free to contribute more patterns for this feature. Considering we already have the infrastructure there, it would be straightforward to add mor

[2019-07-25 18:08] cmeans opened #77951 "Cannot connect to SSH Host after Restart to Update"
- VSCode Version: 1.37.0-insider
- OS Version: macOS Mojave 10.14.6

Steps to Reproduce:

1. Click Restart to Update
2. After restart, VS starts fine, but stuck with notification in lower right indicating:
Setting up SSH Host vagrant_vm (details) Initializiing VS Code Server.

Terminal Window shows:

[snip]...
Starting server...
Waiting for server log...

Does this issue occur when all extensions

[2019-07-25 18:10] cmeans commented on #77951
Clicking the detail link in the Notification reveals:

[code]

[2019-07-25 18:14] akbyrd commented on #77947
This is with PCRE2 enabled because the ripgrep implementation doesn't support `\A` and `\Z` at all

The behavior where is \A matches _the literal character A_ is _definitely_ a bug, no matter whether you expect it to match the beginning of the file or the beginning of each line.

Also, the behavior does not actually match the document you linked. `^` is defined to match the "start of string" OR "s

[2019-07-25 18:14] catweazle9 commented on #67165
Surely you could add a user setting to choose the behavior, as suggested in https://github.com/microsoft/vscode/issues/51119

If Visual Studio behaves oddly perhaps a bug should be raised against Visual Studio. If you really need to provide compatibility with VS, surely VS Code could do that by default but still have a setting that provides 'sane' behavior for those who rely 100% on driving the ed

[2019-07-25 18:18] IcedLife opened #77952 "When FindText Dialog is Visible (ON) the syntax code parsing not working"
1. Ctrl+F to try to find a text,
2. Leave the findText box on and open a new language file like C++ file
Expected: Text show up with syntax color and at previous opened location
Actual: Text all white and does not become colored after 5 mins and it starts at head of the file

[2019-07-25 18:19] #69745 closed

[2019-07-25 18:20] chm123 commented on #77951
I had to downgrade to 1.36.0-insider to be able to use ssh.

[2019-07-25 18:21] utkugenc commented on #77951
Same problem here. I manually stopped the relevant server processes running on the remote machine but it didn't help. Here's my log:

remote-ssh@0.44.2
win32 x64
SSH Resolver called for "ssh-remote+ws", attempt 1
SSH Resolver called for host: ws
Setting up SSH remote "ws"
Using commit id "d4b3a7a22fe01ce6af85f9c59943ad54d6f6f205" and quality "insider" for server
Testing ssh with ssh -V
ssh exited

[2019-07-25 18:26] cmeans opened #77953 "Option to Roll Back Last Update"
Same as https://github.com/microsoft/vscode/issues/49442, but it's locked...so no-one has a way to bump up its priority.

Users need a way to revert the last update applied.

I applied the most recent update, and restarted the app...now I cannot do my work.  Will have to decide if a tool that breaks on me is really a good choice going forward.

If this isn't fixed soon, I will have no choice but t

[2019-07-25 18:26] mjbvz commented on #77550
This also happens on my local machine when you run the tests from the tests from command line

[2019-07-25 18:26] octref commented on #77948
Please include exact steps for reproducing the problem.

[2019-07-25 18:29] rebornix commented on #69903
ops, nice catch. The commit is somehow lost in master. reverted commit https://github.com/microsoft/vscode/commit/fb810784a67c8b673fc6f28195df91ddddb31fc8 .

[2019-07-25 18:30] mjbvz commented on #77290
I can't repo this. @HengHughSun can you please share the setting value you are using and the general structure of your workspace (such as where the md file is and where the css file is)

[2019-07-25 18:32] rebornix commented on #77919
As the file opening is fine, assign to @bpasero first as it might be related to file saving or hot reload.

[2019-07-25 18:34] rebornix commented on #77912
As the error message said, `workspaces` needs to be an array while you write an object, is this expected?

[2019-07-25 18:40] rebornix commented on #73035
that's right, it's up to @Tyriar if we should / when to implement this feature in the terminal.

[2019-07-25 18:41] roblourens opened #77954 "Panel and sidebar sizes are not persisted"
- Close sidebar/panel
- Reload window
- Open panel/sidebar
- They are very small

[2019-07-25 18:59] pbysh commented on #77951
Same problem for me.

I got the same "Checking server status with wget..." message. I tried removing my .vscode-server-insiders directory to make it reinstall, and got the following errors:

[code]

[2019-07-25 19:00] roblourens commented on #77947
Ok, I see that it has the behavior you describe if I force PCRE2 and also enable multiline mode. I think that what's happening is that when not in multiline mode, ripgrep invokes PCRE2 line by line so PCRE2 doesn't know about the beginning of the file anyway.

On vscode's side, as an optimization we only enable multiline mode when a `\n` literal is present.

Thus if you enable PCRE2 and force mult

[2019-07-25 19:00] yury-s opened #77955 "problemMatcher is not working in 'Terminal' but the problem is clickable in 'Problems' view"
- VSCode Version: 1.36.1
- OS Version: Ubuntu 18.04.2 LTS

Jump to code via Ctrl+click worked at some point but stopped working at some point.

Steps to Reproduce:
1. Configure custom build task:

[code]

2. Run the build task with an error in the source code:

The error line in the terminal is not linkified:
![terminal](https://user-images.githubusercontent.com/9798949/61900470-8d63bd80-aed2-11e9

[2019-07-25 19:02] octref commented on #77550
@Tyriar FYI, any clue why this would be happening?

[2019-07-25 19:03] pbysh commented on #77953
I agree, I LOVE VS Code and specifically the Remote-SSH and WSL tools, they have made my development experience on Windows amazing. But today my Remote-SSH is broken (same as you, I believe) and now I'm kinda sorta stuck because I can't easily revert back to yesterday's build.

[2019-07-25 19:04] danieladams456 opened #77956 "Mac lock/unlock multiple windows cursors flashing"
- VSCode Version: 1.37.0-insider
- OS Version: Mac OS 10.14.5

Steps to Reproduce:
1. Two windows of VS Code open (generally I have two on separate monitors, but also works with two visible and no external monitors attached)
2. Lock Mac
3. Unlock Mac
4. All VS Code windows have the keyboard cursor flashing.  It's not a huge deal, but a bit distracting seeing something move out of the corner of you

[2019-07-25 19:05] fabricioferreira commented on #77912
According to a [post](https://yarnpkg.com/blog/2018/02/15/nohoist/) on yarn blog, the new workspaces configuration format should be as below:

`// flow type definition:
export type WorkspacesConfig = {
  packages?: Array<string>,
  nohoist?: Array<string>,
};`

[2019-07-25 19:11] jatsrt commented on #77951
Same problem, not sure why or if this actually fixed it but after:

`rm -rf ~/.wget-hsts`

It started working again

[2019-07-25 19:16] akbyrd commented on #77947
Should this task be kept open since there are 2 confirmed bugs that presumably ought to be fixed? Regex is a pretty important editing tool and being able to rely on it in my editor is sort of critical.

[2019-07-25 19:21] #75629 closed

[2019-07-25 19:26] jatsrt commented on #77951
Same original issue.  Am able to get it to work, by killing the VM side server process.  (`killall node` or whatever works for you)
On reconnect it will fail again unless I kill the process again.

[2019-07-25 19:31] OmriSama commented on #77951
Already made an issue: https://github.com/microsoft/vscode-remote-release/issues/1032

[2019-07-25 19:48] Xmetalfanx commented on #55303
It's been a while for me and I use vscode on different distro bases (not Windows) of Linux ... Arch, Fedora, OpenSuse, and Ubuntu bases ... with  the past few versions and no fixes (if i posted that above) needed ... I have NOT run into this issue, myself

[2019-07-25 19:58] rebornix commented on #77912
@fabricioferreira thanks, then we should update it.

[2019-07-25 20:16] simplyandyg commented on #77650
Profile-20190725T160805.json
<https://drive.google.com/file/d/1OS58-XVLyyBBrpZUhUfoNZ9NIhkNcU-V/view?usp=drive_web>
The attached profile contains a search where the UI did hang up a quite a
bit, but I did not get the system message asking if I would like to wait or
close the application as I have before. I have tried it a couple of times
today without success in reproducing the issue, unfortunatel

[2019-07-25 20:24] alexandrudima commented on #37315
Thanks for your patience. I've tried to tackle this one, and the only solution I could come up with is to make auto-closing pairs **stateful**.

So the editor now remembers which exact characters it has auto-inserted and only the characters inserted automatically by the editor will be overtyped. Furthermore, if the cursor leaves the precise area between the starting and the closing character, the

[2019-07-25 20:26] #37315 closed

[2019-07-25 20:35] JacksonKearl commented on #37315
@alexandrudima oh my goodness this is incredible. Will there be a config option?

[2019-07-25 20:37] alexandrudima commented on #69745
Let's track in #72052

[2019-07-25 20:40] alexandrudima commented on #37315
I would try to avoid a config option. Tomorrow's insiders build will have the change and I hope to gather some feedback until next week to see if the new behavior is upsetting to anyone and a setting is needed for the old behavior.

[2019-07-25 20:43] RMacfarlane commented on #77787
Thanks Joao, this is great! ❤️

There's one more `await` I'd like to see added, though 😃 Right now, when scanning completes and the API state is `'initialized'`, the state for repositories has not been initialized. So trying to read `repository.remotes` gives an empty array at that point. The constructor for `Repository` calls status at the end, would it be possible to remove that and instead `awa

[2019-07-25 20:46] chrisdias opened #77957 "suggest: move the "don't show again" message from gear to primary button"
For important recommendations, we put the "Don't show again" action behind the gear.

![image](https://user-images.githubusercontent.com/1487073/61907532-85ac1500-aee2-11e9-8a4c-97338c015ac5.png)

Suggest to move this option to a primary button, so that it is more obvious to users.

[2019-07-25 20:47] RMacfarlane commented on #76122
Closing this since I’m happy with the decorations now in insiders and haven’t had more feedback. Thanks all!

[2019-07-25 20:47] #76122 closed

[2019-07-25 20:48] itowlson commented on #77909
@weinand `Uncaught Exceptions` is ticked.  The other two are unticked.

[2019-07-25 20:49] RMacfarlane commented on #76125
As part of https://github.com/microsoft/vscode/issues/76122, I introduced a new theme color for the decorations, `minimap.findMatchHighlight`. This defaults to the same color as the gutter, but could be changed to match the editor find color

[2019-07-25 20:49] #76125 closed

[2019-07-25 20:49] mogwai commented on #72052
The key is read as a | in vscode.

[2019-07-25 20:54] RMacfarlane commented on #59352
Closing since this version of the proposed API has been removed

[2019-07-25 20:54] #59352 closed

[2019-07-25 20:54] RMacfarlane commented on #59349
Closing since this version of the proposed API has been removed

[2019-07-25 20:54] #59349 closed

[2019-07-25 20:57] RMacfarlane commented on #69103
This was fixed by https://github.com/microsoft/vscode/pull/70939

[2019-07-25 20:57] #69103 closed

[2019-07-25 21:05] alexandrudima commented on #77926
@mjbvz As I mentioned, reproducing has to do with typing speed, you need to be very fast. The gif is from self-host in VS Code and the status bar shows TypeScript 3.5.2  -- https://github.com/microsoft/vscode/blob/6157007341589c334ce771cbbe453c18142c7bce/src/vs/editor/common/controller/cursorTypeOperations.ts#L942

At the time I recorded the gif it reproduced 50% of the time. I have been working i

[2019-07-25 21:12] rebornix commented on #77952
@IcedLife does this only happen with C++ file? Does it reproduce if you disable all extensions by running `code --disable-extensions`?

[2019-07-25 21:33] louis925 commented on #37315
Wonderful!

[2019-07-25 21:42] JoeCreates commented on #37315
This is great news. Thanks!

[2019-07-25 21:42] rebornix commented on #76488
/duplicate of https://github.com/microsoft/vscode/issues/71238.

[2019-07-25 21:42] #76488 closed

[2019-07-25 21:42] #76220 closed

[2019-07-25 21:53] Tyriar commented on #77907
This is normally a shell-level feature, does it not work when you configure the terminal to use zsh?

[code]

[2019-07-25 21:55] Tyriar commented on #77550
Maybe if mocha was updated? I see it on all platforms.

[2019-07-25 22:04] #76773 closed

[2019-07-25 22:05] rebornix commented on #73606
/duplicate of https://github.com/microsoft/vscode/issues/27035 actually.

[2019-07-25 22:05] #73606 closed

[2019-07-25 22:10] rebornix commented on #62306
I found this assumption is actually incorrect and it's how a tab works. You can verify by

* Copy a hard tab
* Create an untitled file
* Type in three spaces
* Paste the hard tab
* You can see the tab is rendered in the width of `tabWidth - 3`

[2019-07-25 22:10] #62306 closed

[2019-07-25 22:22] zombiezen commented on #68617
As of VSCode 1.36.1 (on Windows_NT x64 10.0.18362), the behavior seems to have changed, but not in a way I would have expected: leaving the string empty or hitting escape runs the task but does not substitute in the variable. Minimal repro tasks.json for me:

[code]

(In case it's significant, using Remove Development - WSL + zsh.)

[2019-07-25 22:31] #77012 closed

[2019-07-25 22:33] BernieWhite opened #77960 "Ignore touch input from minimap"
Issue Type: <b>Feature Request</b>

Previously the minimap didn't scroll with touch, and passed through touch input to the main editor window.

Since the change, page scrolling with the right edge of the window has usability issues.

Please add an option to make the minimap transparent and pass through touch to the main editor like before.

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0

[2019-07-25 22:33] smcenlly commented on #77377
In our case, parts of our output come from user input. In this case, one of our users happened to have a null character in a string that was included in our output, which caused the problem. In both of our extensions, we now strip null characters, so the issue no longer affects us but obviously could affect other extensions.

[2019-07-25 22:35] roblourens commented on #77931
Yes, tracking this in https://github.com/microsoft/vscode/issues/66237

[2019-07-25 22:35] #77931 closed

[2019-07-25 22:36] Jamesernator commented on #77907
I don’t mean I want the feature in the integrated terminal, that works already.

I am suggesting adding the behaviour to suggestions in the edtor.

[2019-07-25 22:36] dlebu commented on #68162
Any update here?

[2019-07-25 22:38] roblourens commented on #77947
I don't think the JS regex issue is a bug, it's probably more of a design decision, but you can take that up with them if you want.

I think it's not likely that ripgrep will change how it interacts with PCRE2 just to get this flag to work. I'm not going to file an issue about it because we can't support it fully in vscode anyway (due to JS not supporting it)

[2019-07-25 23:19] #77592 closed

[2019-07-25 23:19] #77551 closed

[2019-07-25 23:19] #77558 closed

[2019-07-25 23:20] roblourens commented on #77650
Thanks, that is helpful.

Did your search contain matches in really long lines, or were the matches extremely long? Does it happen for the exact same search again?

[2019-07-25 23:23] roblourens commented on #77951
I can reproduce, you can use the nightly ssh extension as a workaround for now

[2019-07-26 00:02] liuxiong332 opened #77962 "Terminal show nothing"
Issue Type: <b>Bug</b>

Terminal show nothing when use with long time

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59:35.033Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz (8 x 1992)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d

[2019-07-26 00:21] LMKTech opened #77963 "Markdown preview still opens links to local files in Editor"
Markdown > Preview: Open Markdown Links = inPreview

Expected behaviour: [https://code.visualstudio.com/updates/v1_28#_markdown-preview-now-opens-links-to-local-files-in-the-preview](https://code.visualstudio.com/updates/v1_28#_markdown-preview-now-opens-links-to-local-files-in-the-preview)

Looking at the example GIF in the above link, when clicking on a link to a local file, it does actually nav

[2019-07-26 00:23] Tyriar commented on #77550
I'm guessing this is related to 4dc738593b4fa0ec6bb72d8694c867f4c362c382, I tried to fix it but I haven't used mocha reporters before.

[2019-07-26 00:28] #77891 closed

[2019-07-26 00:35] rebornix commented on #69819
I can't reproduce this issue in latest Insiders, can anyone help provide detailed steps for reproduce?

[2019-07-26 00:36] rebornix commented on #69838
@slumder I can't reproduce this issue in latest Insiders anymore, can you help confirm it ?

[2019-07-26 00:38] Tyriar opened #77964 "Add follow link to terminal link hover"
See https://github.com/microsoft/vscode/issues/69719#issuecomment-513898860

Related https://github.com/microsoft/vscode/issues/73035

[2019-07-26 00:38] Tyriar commented on #73035
👉 https://github.com/microsoft/vscode/issues/77964

[2019-07-26 00:39] rebornix commented on #71249
@atombender I can't reproduce this issue anymore, can you help confirm ?

![select-all](https://user-images.githubusercontent.com/876920/61917644-10047100-af03-11e9-81bf-e3dfb5c5b711.gif)

[2019-07-26 00:40] rebornix commented on #68559
@lesha1201 I didn't reproduce this issue in latest Insiders, can you help confirm that?

[2019-07-26 00:41] rebornix commented on #66357
Regex searches takes case sensitivity into account as well, so you may want to turn it on

<img width="747" alt="image" src="https://user-images.githubusercontent.com/876920/61917733-7a1d1600-af03-11e9-8c3b-116d6e8a3252.png">

[2019-07-26 00:42] #66357 closed

[2019-07-26 00:43] rebornix commented on #25698
No longer reproducible in latest.

[2019-07-26 00:43] #25698 closed

[2019-07-26 00:46] rebornix commented on #77877
I can't reproduce this issue in latest Insiders, can you help confirm that?

[2019-07-26 00:53] rebornix commented on #77357
We are using JavaScript regex engine which doesn't split Chinese characters and others into segments with `\b`

<img width="1394" alt="image" src="https://user-images.githubusercontent.com/876920/61918122-26133100-af05-11e9-9b72-176e908c7b9f.png">

[2019-07-26 00:56] rebornix commented on #75101
Turns out to be a search issue.

[2019-07-26 00:56] rebornix commented on #74868
/duplicate of https://github.com/microsoft/vscode/issues/30874

[2019-07-26 00:56] #74868 closed

[2019-07-26 01:08] Tyriar commented on #77962
/duplicate https://github.com/Microsoft/vscode/issues/69665

[2019-07-26 01:08] #77962 closed

[2019-07-26 01:10] jabacchetta commented on #77253
While not exactly what I'm looking for, I think that's definitely easy enough. And the situation I'm now describing is probably a rare occurrence that I might have only ran into once or twice.

Going to close this out. Thanks!

[2019-07-26 01:10] #77253 closed

[2019-07-26 01:14] Tyriar commented on #77415
This wasn't actually fixed

[2019-07-26 01:15] HengHughSun commented on #77290
Let we do a simple  test.
1. open a new window
2. create new files in current directory(test1)
  - test.md
  - test.css
  - .vscode/settings.json
3. in the settings.json
[code]
Result: it is working.  All is Ok!

----------
Another try
1. open a new window
2. copy files from directory(test1) to  directory(test2)
  - test.md
  - .vscode/settings.json
3. In this test, we try to load the test.css in

[2019-07-26 01:17] suit0r commented on #77878
exactly @joaomoreno .

I've been thinking about the UX part @rajathans , and I think it would be nice if the paste command returned a processed string rather than allow for the full command to be inserted.

so on paste, the command palette would show `REPO@REPO` instead of `git clone REPO@REPO`

Thanks a lot everyone

[2019-07-26 01:22] suit0r commented on #77948
@octref i noticed this mostly happens with url strings

1. paste content from ms word
2. highlight the url string to wrap with `<a>` tags
3. sometimes the command palette doesn't accept input
3.1. enter a different element (like `div`) and it won't respond
4. sometimes the functionality returns (i think after using a different emmet command or autocomplete)
5. check dev tools, and and the native e

[2019-07-26 01:27] leowinchester opened #77965 "Don't automatically change carriage return."
Sometimes we don't want vs code automatically change the carriage return, otherwise when submit code, we get more differences than what we wanted, visual studio community have a choice you can make when file with different type of carriage return inside(unix, windows), but seems vs code make the choice for you.

[2019-07-26 01:36] bpofficial commented on #63568
This would be really useful for things like previewing a package's export definitions and having the entire module tree open. The real struggle is scrolling to the top to close the parent with a touchpad.

[2019-07-26 02:12] rebornix commented on #74715
Verifiers: we don't support displaying zero-length search result in the editor right now so even though `\d*` should match every boundary of non-digit characters, we don't show them as search results.

[2019-07-26 02:14] #74715 closed

[2019-07-26 02:41] dove-young opened #77966 "Cursor slip random when select a string via mouse"
- VSCode Version:   1.36.1
- OS Version: macOS 10.14.6

Steps to Reproduce:

1. For example, I got a function call in my code.
[code]
2. I select the string `slip random when` by mouse, and I want to paste a string `not slip any more while`  then the cursor might slip and I will get a result like
[code]
or
[code]

Notice the redundant `s` or redundant `n` in these examples. That's very bad because

[2019-07-26 02:53] dove-young opened #77967 "Cursor select strings becomes drag"
- VSCode Version: 1.36.1
- OS Version: macOS 10.14.6

This problem seems like a feature, but its weird and very boring when coding in VSCode.

Steps to Reproduce:

1.  For example, I got a function call in my code.
[code]
2. I'd like to locate to `some_func_call` and rename it to `other_func_call`

3. I type `command-F` to search, and I input `some_fu` as key word.
4. VSCode located to this line o

[2019-07-26 03:01] tscontenna opened #77968 "Add a setting to control preview behaviour when splitting an editor"
VSCode Version: 1.36.1

When setting true for workbench.editor.enablePreviewFromQuickOpen,
continuous Quick-Open ( Ctrl+P ) means "opening file and close current file IF NOT EDITED".

When I use Quick-Open after splitting editor (Ctrl+\ ), the shown file is not closed.
This behavior is confusing.
And I have to close file (with Ctrl+W) twice to remove the side editor.
I think it is better the new e

[2019-07-26 03:03] JunjieShii commented on #74715
I still think this is incorrect，Beacause it can not display results that "\d+" can search.

[2019-07-26 03:23] navidalvee commented on #75629
in some cases, I have seen if you have 20000 above lines in any extended files
your vscode could lag and or some extension might need to restart several times

[2019-07-26 03:36] forrcaho commented on #77953
FWIW, The regular release of VS Code now supports the Remote Development extensions. I also had Remote-SSH break with the Insiders update today (where the hell do you even report that?) and went back to the standard release (which I'll probably stick with now, unless the rollback feature mentioned in _this_ ticket is implemented).

[2019-07-26 03:38] rebornix commented on #74715
@JunjieShii I already pushed a fix which can display all matched numbers, for example, searching in `10.243.30.10` will give you `10`, `243`, `30` and `10`.

[2019-07-26 03:46] mollygilbert389 opened #77969 "VS Code not showing errors"
Issue Type: <b>Bug</b>

I have a student who's VS code is not showing errors in a basic HTML file when there are clearly errors.

.li (lives in her file)

We tried to download HTMLhint, but that didn't solve the problem, though it did add colors to the test.

She has an older computer, but it is updated to windows 10. The first thing I noticed about her VS code was "Open in browser" was not an opt

[2019-07-26 04:14] Arshia001 commented on #37315
Perfect! Thanks!

[2019-07-26 04:51] pilgi3 commented on #76596
I reproduce the problem and let you know some more detail information!

[2019-07-26 05:05] BugDiver commented on #77499
Yes, just that the second point is a bit wrong
It is `Works fine on container with 1.35.1, but not 1.36.1`

I'm not sure about that but since it works with 1.35.1 I guess it can launch.

[2019-07-26 05:17] roblourens commented on #75101
Next time you see it, could you check whether it reproduces with the same search multiple times in a row?

Is it possible that your files have some CR-only newlines?

[2019-07-26 05:23] beastdestroyer commented on #77953
Any bug report, for stable, insiders or exploration you report in here, the vscode repo; or if you believe it is extension-based, then report it in its repo

[2019-07-26 05:46] buybackoff commented on #69475
Having the same behavior and it's very annoying to work with a complex folder structure when I have multiple terminals `cd`ed into different subfolders. Have to close and reopen all of them on every reconnect.

[2019-07-26 05:52] itzmanish commented on #77636
Yes

[2019-07-26 05:55] skprabhanjan commented on #77720
@roblourens , FYI : This is an inbuilt feature into the OS and works for all apps.
The Menu Items Available outside of the Help Tab comes in the search result.
So I guess we have to use the "Report Issue" menu Item in help instead of searching for "bug" and honesty I think this is sufficient enough.

[2019-07-26 06:01] skprabhanjan commented on #75178
@roblourens , I just gave this a try but I am not able to find a way .
I am able to get last modified time of the file but the call is async and sort is a sync function which happens sequentially [here](https://github.com/microsoft/vscode/blob/master/src/vs/workbench/contrib/search/browser/searchView.ts#L503) and the sort comparator is [here](https://github.com/microsoft/vscode/blob/master/src/vs/

[2019-07-26 06:24] menshen opened #77970 "can't paste"
Issue Type: <b>Bug</b>

can't paste

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59:35.033Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) CPU E3-1225 v6 @ 3.30GHz (4 x 3312)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_stage3d_baseli

[2019-07-26 06:36] zifahm commented on #77912
Yup workspaces takes an array as well as an object as well.

[2019-07-26 06:45] cangyin opened #77971 "Want a 'current debug line' button on debugging."
Issue Type: <b>Feature Request</b>

The basic debug buttons provided are helpful, but I still want a "Current line" added to them. Because some times when I jumped in and out of functions, I loses debug focus.
Best regards!

VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T14:30:02.622Z)
OS version: Windows_NT x64 10.0.14393

[2019-07-26 07:02] svipas commented on #77636
@itzmanish Please share all your extension list by running this in terminal: `code --list-extensions` before that make sure you run this command in VS Code command palette: `Shell Command: Install 'code' command in PATH`.

And @mjbvz is asking you if you disable all extensions by doing this in command palette: `Extensions: Disable All Installed Extensions` is an issue still exists?

[2019-07-26 07:20] atiris commented on #69819
I also tried it (on latest production version), I can't simulate it on windows or linux (Fedora) too. If I'm not wrong, this was fixed in `src/vs/editor/contrib/find/simpleFindWidget.ts` in this commit https://github.com/microsoft/vscode/commit/7162bd579459b89f09ba50db92589d82b6beb5ac#diff-c91a81b861d816a65988adee But I can't say for sure, I'm not working on VSCode :smiley_cat:
@rebornix try to se

[2019-07-26 07:35] lesha1201 commented on #68559
@rebornix Can't reproduce neither in `1.36.1`. I think it could be closed if no one experience this issue

[2019-07-26 07:47] chanduDendukuri opened #77973 "Not able to see tsc build task"
- VSCode Version:
- OS Version:

I tried to fix using https://github.com/microsoft/vscode/issues/74756  but it doesnt work for me..
Steps to Reproduce:

1. Till couple of days back , am able to build TSC files with out any issues ,, but all of sudden am not able to see tsc build tasks or watch tasks by clicking on cntl + shift + B

2. I followed couple of steps in the forms by replacing forward sl

[2019-07-26 08:07] donald-lendit opened #77974 "Javascript Nullish coalescing operator syntax highlighting"
## Title is description :D
This is an issue already have. https://github.com/Microsoft/vscode/issues/62872
I will ask you again because became `stage 3`.

I would appreciate your consideration. thank you

TC39 - Nullish Coalescing
https://github.com/tc39/proposal-nullish-coalescing

[2019-07-26 08:07] joaomoreno opened #77975 "Terminal doesn't catch Ctrl-B any more"
On today's Linux Insiders (d471d1c7f918ff567e71026671896f17f388a784):

1. Focus terminal
2. Press <kbd>Ctrl B</kbd>

The sidepanel hides/shows.

This broke sometime this week, so it could be related to grid work @sbatten. Assigning @Tyriar as well just in case.

[2019-07-26 08:09] joaomoreno commented on #77975
Weird, I can't repro off `master` in dev.

[2019-07-26 08:14] luoyefeisong commented on #77051
It is no problem for me to try my other computer.
Turn off the problem first. Maybe there is something wrong with my computer.

[2019-07-26 08:14] #77051 closed

[2019-07-26 08:22] joaomoreno commented on #77975
I also can't repro dev out of d471d1c7f918ff567e71026671896f17f388a784, which is latest insiders.

[2019-07-26 08:26] joaomoreno commented on #77922
Easier steps:

1. Open a New Window
2. Move panel to the right
3. Close window
4. Open a New Window
5. Toggle show panel

Panel will be on the right but rendered as if its on the bottom.

We gotta remove the legacy sources of truth for view locations.

[2019-07-26 08:29] joaomoreno opened #77976 "Terminal: Pasting text into Terminal appears garbled"
On today's Linux Insiders (d471d1c7f918ff567e71026671896f17f388a784):

1. Copy `hello`
2. Paste it into the Terminal with <kbd>Ctrl V</kbd>

![image](https://user-images.githubusercontent.com/22350/61937873-1a208100-af90-11e9-81ab-dd9f4ac8eb7a.png)

Pasting it with right click, `Paste`, works. Pasting it with <kbd>Ctrl Shift V</kbd> works too.

[2019-07-26 08:47] itzmanish commented on #77636
mahadev@kailash:~$ code --list-extensions
akamud.vscode-theme-onedark
austin.code-gnu-global
CoenraadS.bracket-pair-colorizer-2
cssho.vscode-svgviewer
Dart-Code.dart-code
Dart-Code.flutter
deerawan.vscode-faker
DiemasMichiels.emulate
dracula-theme.theme-dracula
dsznajder.es7-react-js-snippets
eamodio.gitlens
Equinusocio.vsc-material-theme
esbenp.prettier-vscode
formulahendry.auto-rename-tag
marksk

[2019-07-26 08:53] nileio opened #77977 "[html] support script type="text/html""
- VSCode Version: 1.36.1
- OS Version: MacOS

Steps to Reproduce:

1. create a file with extension .html file
2. Include a script tag like the following
`<script type="text/html">`
<p
</script>
3. No auto-complete for html tag names

Does this issue occur when all extensions are disabled?: Yes

HTML inside a `<script type="text/html">` tag is recognised as html with syntax color highlights ok, but

[2019-07-26 09:00] WangCong0192 opened #77978 "字符间隔"
Issue Type: <b>Bug</b>

1.36.1 Ubuntu更新后字符间隔出现问题，删除.config/code ,.vscode后重新安装也无效。
如图，实际上a前有4个空格，但肉眼似乎只能看到1个。
![image](https://user-images.githubusercontent.com/42882723/61939719-73a3a280-afc6-11e9-849b-a3946e319d09.png)
终端的字符间隔也出了问题，变得很大。
![image](https://user-images.githubusercontent.com/42882723/61939791-a51c6e00-afc6-11e9-9ca1-9e41fb3e4657.png)

VS Code version: Code 1.36.1 (2213894ea0415ee8c85

[2019-07-26 09:02] #77907 closed

[2019-07-26 09:03] jrieken commented on #77936
All the uri carnage has been reverted, not sure what's in the store here but the restore logic shouldn't be so fragile. Assigning @aeschli who I believe already pushed a fix for this

[2019-07-26 09:05] sam-mccall opened #77979 "Suppress recommendations for conflicting extensions"
**TL:DR**; once the user has installed an extension that conflicts with a recommended one, it'd be helpful to stop recommending it.

Hi! As part of LLVM, I work on the `clangd` C++ language server, which has a [vscode plugin](https://marketplace.visualstudio.com/items?itemName=llvm-vs-code-extensions.vscode-clangd).

Microsoft also has the [vscode-cpptools](https://github.com/microsoft/vscode-cppt

[2019-07-26 09:10] jrieken commented on #77926
Debugged this with @alexandrudima and it turns out that the suggest widget isn't always cancelling details requests and subsequently splicing the wrong elements, e.g. `strings` occurs as suggestion 1 and 2. That causes flicker but doesn't explain the commit character behaviour...

[2019-07-26 09:19] davidone commented on #17691
It also seems that this option is not supported within WSL:
[code]

Context: I am using WSL + Docker + VSCode (so using VSCode Remote) but I have an hyphen on my last name and I cannot change the %USERPROFILE% directory because I'm using a corporate laptop so I created a C:\vscode_extensions directory to override that.

OS: Windows 10 17763.615 x64_86.

[2019-07-26 09:21] #65689 closed

[2019-07-26 09:21] #77197 closed

[2019-07-26 09:29] yangyuke001 opened #77980 "ctrl+c"
ctrl+c does not work,and activate Ins key,
any help?

- VSCode Version:1.36.1
- OS Version:ubuntu 16.06

[2019-07-26 09:39] aeschli commented on #73907
sorry for that, thanks for the correction

[2019-07-26 09:42] atombender commented on #71249
Looks like it!

[2019-07-26 09:49] Xuguanglin opened #77981 "CANNOT open code on Ubuntu 16.04"
- VSCode Version: 1.36.1-1562627527
- OS Version:Ubuntu 16.04

Steps to Reproduce:

1. I install the vscode from the *.deb, but code cannot open, whether from the terminal or the start menu, even the `code --verbose` shows nothing

Does this issue occur when all extensions are disabled?: Yes

[2019-07-26 09:51] BelidePruthvi opened #77982 "Adding jar to vscode debug extension"
I have posted this question at https://stackoverflow.com/questions/57056473/adding-jar-to-vscode-debug-extension but there was no reply there , so I am posting the question here

We are having a runnable jar for the DAP(Debugger Adapater Protocol) of ABL language and we are planning to add a vscode extension for that ABL DAP.
we couldn't find how to add the jar anywhere so our work is blocked.
Cou

[2019-07-26 09:56] marcofiocco opened #77983 "Cannot find vendor packages in Linux when building Go program"
- VSCode Version:  1.36.1
- OS Version: Linux Centos 7

Steps to Reproduce:

1. Create a Go project in folder `/home/src/test` with some Go packages in the `/home/src/test/vendor` using `dep`. GOPATH should be `/home`
2. Build/test/debug the program inside VS Code

Outputs many errors like:
main.go:7:2: cannot find package "github.com/pborman/uuid" in any of:
	/usr/local/go/src/github.com/pborman/

[2019-07-26 09:58] accuware opened #77984 "Make `Refactor` for Java accessible via right mouse click menu"
Right now there is a way to refactor Java code via `F2`. But there is also a right mouse click menu, which offers a Refactor action, which leads to "nothing to refactor" (or similar)

![image](https://user-images.githubusercontent.com/30668077/61943832-9caf3d80-af9c-11e9-86c0-d6940c5549ca.png)

Would be great, if this right mouse click action would trigger the `F2` action in Java

[2019-07-26 10:03] aeschli commented on #77912
The `package.json` schema is loaded from http://schemastore.org/json/
Please file a bug (or even PR) at https://github.com/schemastore/schemastore/issues

[2019-07-26 10:04] #77912 closed

[2019-07-26 10:07] adamreisnz opened #77985 "Make it more obvious to accept current or incoming changes for merge conflicts"
Compare:

![image](https://user-images.githubusercontent.com/490562/61944204-3e607a00-aff1-11e9-9cb5-efdc04a15865.png)

vs

![image](https://user-images.githubusercontent.com/490562/61944240-56d09480-aff1-11e9-8aa5-7696369f93b0.png)

I find myself looking for the action button to accept one of the two code versions in VS Code a lot. Atom displays this really prominently, with an obvious button whi

[2019-07-26 10:13] chanduDendukuri commented on #77973
while trying to build above one... it throws
Error: The typescript task detection didn't contribute a task for the following configuration:
{
    "type": "typescript",
    "tsconfig": "node_modules\\protractor\\tsconfig.json",
    "problemMatcher": [
        "$tsc"
    ],
    "group": {
        "kind": "build",
        "isDefault": true
    }
}
The task will be ignored.

[2019-07-26 10:15] aeschli commented on #77936
Yes there are now try/catches at the places where we restore.
@VitalyAnkh Can you send us your `~/.config/Code/storage.json` so we see the path that caused this?

To get going again, you have to delete this file and start VSCode again.

[2019-07-26 10:20] aeschli commented on #73630
Fixed by https://github.com/microsoft/vscode/commit/81380bb822effd42006764f81ffaabeff4745009

[2019-07-26 10:26] #77978 closed

[2019-07-26 10:27] proudlily commented on #77448
i report the issure to the extension team : https://github.com/microsoft/vscode-go/issues/2668
but they did not deal it:TT

[2019-07-26 10:39] SandeepGamot opened #77986 "Windows crash as soon as I try to write code in editor."
Issue Type: <b>Bug</b>

Just click on the editor window and it crashes.

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59:35.033Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz (8 x 2592)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stag

[2019-07-26 10:43] marcofiocco commented on #77983
Not an issue.
It had a `go.gopath` in Settings that was not set right.
`"go.inferGopath": true` works better for my situation.

[2019-07-26 10:43] #77983 closed

[2019-07-26 10:49] qadram commented on #15178
In my case, would be enough to provide an event when a text document has been hidden, that is, when its tab has been closed. Even the document is still there waiting to be disposed. I just need a notification.

[2019-07-26 11:02] jdegoes commented on #50426
I have this problem as well.

Here is what I have observed:

1. `Cmd + P`
2. Select file
3. Get error message
4. `Cmd + P` again
5. Select file
6. No error message!

This made me think it was an indexing problem, i.e. all the "recently opened" files were indexed somehow; and the index was corrupted; and when I failed to open a file, it cleared it from the index; then opening the file again allowed

[2019-07-26 11:04] svipas commented on #77636
@itzmanish Try to disable extension one by one to see which one causes editor freeze and then you can submit an issue :)

[2019-07-26 11:20] VitalyAnkh commented on #77936
The content of  `~/.config/Code/storage.json` is:
[code]
After deleting this file, I could launch vscode, thank you! But I'm a little curious about what caused this problem?

[2019-07-26 12:10] gkkirilov opened #77987 "Overwrite top menu bar shortcuts"
Currently, Alt+<letter> opens the top menu bar, for example, Alt+D opens the debug menu.

Would like to be able to remap Alt+<letter> to something more useful than opening the menu bar.

[2019-07-26 12:23] weinand commented on #77111
Debug tries to reuse a terminal if it is "free", i.e. if there are no child processes running in it.
So the terminal is created for the first "runInTerminal" and then reused (if possible).
Consequently passing env to `createTerminal` only works for the first "runInTerminal". Subsequent "runInTerminal" requests still require the current approach.

[2019-07-26 12:31] plynch-chewy opened #77988 "Add command to navigate to last open tab"
Currently there are available commands for `workbench.action.openEditorAtIndex1` to `workbench.action.openEditorAtIndex9` to jump to the tabs at that specific index. It would be nice to have an action to jump to last tab, perhaps `IndexMinus1`. This is useful for when you have more than 9 tabs open.

[2019-07-26 12:37] joaomoreno commented on #77787
I like that! Pushed: https://github.com/microsoft/vscode/commit/8213baf0769d63d6bc65db25b93fc5fb91432173

[2019-07-26 12:38] joaomoreno commented on #77865
Is any of the repository root's parents a symlink?

[2019-07-26 12:42] joaomoreno commented on #77953
@cmeans What issue did you hit? Are you on Insiders?

@pbysh What issue is that?

---

The policy is: we want people moving forward with us all the time. We're all Insiders selfhosters in the team. If something breaks severely, it will be fixed in no time. If something breaks mildly, it will be fixed eventually.

Insiders is an aggressive program and so it is optional, you don't need to stick to i

[2019-07-26 12:47] mihaiconstantin opened #77989 "Repeatedly opening and closing the terminal causes VS Code to freeze"
Issue Type: <b>Performance Issue</b>

I noticed that, with the most recent update, after I open and close the terminal several times, VS Code hangs (i.e., see this brief video: https://youtu.be/uwTt3cvETAc). Additionally, it seems to hog the CPU resources by spawning many consoles (i.e., see this screenshot: https://imgur.com/a/UQZ2eRJ).

I tried a clean install and disabled all the extensions, ho

[2019-07-26 12:53] mihaiconstantin commented on #77989
**Update**

I removed the following lines from my user settings (i.e., the `cmder_mini` console):

[code]

Regardless, the issue still persists with the default PowerShell terminal.

[2019-07-26 13:05] weinand commented on #77111
@Tyriar for addressing this issue I'm trying to use the `terminalService.createTerminalFromOptions` API. When filling up the "options" arguments, I can use "getDefaultShell". But why is the corresponding "_getDefaultShellArgs" private?

[code]

[2019-07-26 13:06] jrieken opened #77990 "Starting with a TS/JS file is significantly file slower than opening other files"
* start profiler
* reload with a TS file
* stop profiler
* 🔥 notice how all grammar files are read and processed
* start profiler again
* reload with a JSON file
* stop profiler
* 🚀 getting colors was much, much quicker

<img width="724" alt="Screenshot 2019-07-26 at 15 01 52" src="https://user-images.githubusercontent.com/1794099/61953295-54047e00-afb6-11e9-8685-779eba06756c.png">

The problem is

[2019-07-26 13:10] gvaleika commented on #75617
1.36.1 still has 'Extension host terminated unexpectedly.' with FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory.

[2019-07-26 13:17] #69166 closed

[2019-07-26 13:18] #77111 closed

[2019-07-26 13:20] joaomoreno commented on #77975
Doesn't repro on today's Insiders: 6d82826e990407364d5c829b73602a19ecdf7d00

Turns out I didn't actually have the latest.

[2019-07-26 13:20] #77975 closed

[2019-07-26 13:20] WangCong0192 opened #77991 "A bug about the space display"
Issue Type: <b>Bug</b>

As shown, there are a total of 32 spaces. Obviously, the indentation of the space shows a problem.
![图片](https://user-images.githubusercontent.com/42882723/61954284-1a019f00-afeb-11e9-8b4c-1a40b70df9ad.png)

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:55:08.091Z)
OS version: Linux x64 4.18.0-25-generic snap

<details>
<summary>Syste

[2019-07-26 13:21] weinand commented on #67692
I've fixed issues #77110 and #77111, but they don't really help with the issue at hand.

I think @Tyriar's recommendation in https://github.com/microsoft/vscode/issues/67692#issuecomment-510118884 is the way to go.

If there are quoting issues, please file separate issues for them.

[2019-07-26 13:21] #67692 closed

[2019-07-26 13:35] #77345 closed

[2019-07-26 13:37] glen-84 commented on #2766
Maybe something like:

**File modes**

* Edit
* Preview (static)
* Design (aka WYSIWYG. Maybe later, secondary goal.)

**Settings (overridable by file type)**

* Active modes: `(EDIT|PREVIEW|DESIGN)[]`
    * f.e.
        * `['EDIT', 'PREVIEW']` would open the edit and preview panes within a single tab.
        * `['PREVIEW']` would *just* open the preview.
* Pane order: `HORIZONTAL|VERTICAL`
    *

[2019-07-26 13:43] niruix commented on #77991
Dude, you're not the only one. You posted this right after I recorded screencast for my own report, and I also discovered this issue (https://github.com/microsoft/vscode/issues/77466) from few days ago.

So, let's just save each other's time then:) The screencast: https://youtu.be/AYvD42zCYWY

Additional info about the screencast:

- The installation is freshly `snap install code --classic` ed for

[2019-07-26 13:51] Eliasar commented on #69392
Definitely a Windows (10?) scaling issue. It is affected by the scaling of the main monitor on startup. I set my second monitor to the main monitor and the file dialog scaled with that monitor and not my 4k @ 250% scaling.

Affected monitor: 1440p @ 100% scaling
Main monitor: 3840 x 2160 (4k; UHD) @ 250% scaling
OS: Windows 10 Pro 64 bit
Display Adapters: Intel(R) HD Graphics 630; NVIDIA Quadro M1

[2019-07-26 13:52] mkq commented on #9872
stevencl commented on 29 Jul 2016

I wouldn't close tabs based on window width. It would be annoying if a temporary width change closed files, e.g. moving a fullscreen window to a different monitor might suffice (at least when using keyboard shortcuts), I guess.

If closed files stayed in the back navigation list, navigating back to the relevant file (which I'd use anyway in such a situation) shou

[2019-07-26 14:02] joaomoreno commented on #76508
https://www.npmjs.com/package/gulp-remote-retry-src

[2019-07-26 14:12] Iviglious commented on #77184
Hello there, I'm experienced developer and would like to contribute.

[2019-07-26 14:19] RuBAN-GT commented on #5595
@xahon, derzhis, bratishka, ty ne odin

[2019-07-26 14:26] WayneLambert commented on #73585
This definitely does have a use case. I am currently switching between two domain names within my code base, back and forth, and thought I would check to see if this has been requested yet.

It is of course easy enough to type the changes between the two but a switch-like button like @lmlacerda suggested would be a great little addition.

[2019-07-26 14:35] alexandrudima commented on #33547
Let's merge with #22778

[2019-07-26 14:35] #33547 closed

[2019-07-26 14:37] #22778 closed

[2019-07-26 14:37] vmphipps commented on #9798
Amazing, I'm so excited!!!

[2019-07-26 14:41] ChrisMiami opened #77992 "Report issue should not be disabled when no window is present"
Issue Type: <b>Bug</b>

1. Close all windows.
2. Navigate to application menu Help
3. Attempt to select "Report Issue"

**Actual:** It is disabled
**Expected**: It should work at all times.

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:56:38.504Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R)

[2019-07-26 14:44] ChrisMiami opened #77993 "File / Open should not reuse a minimized window"
Issue Type: <b>Bug</b>

**Precondition**: Open 2 projects and minimize both their windows.

1. Navigate to File menu.
2. Select Open...

**Actual**: One of the minimized/hidden window appears and its contents will be replaced.
**Expected:** A new window should be created for the new File/Open request

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:56:38.504Z)

[2019-07-26 14:47] jrieken commented on #56694
Leaving this open so that we discuss this in the API sync

[2019-07-26 14:49] jrieken commented on #50972
@kamranayub work on this is sitting here: https://github.com/microsoft/vscode/tree/joh/completionsDeprecated.

[2019-07-26 14:54] cazfletch commented on #77513
What extra info do you need on this issue?

[2019-07-26 14:59] BenPryor opened #77994 "comment thread context value affects other threads too"
Repro steps:
  1. Build and run the comment sample ([https://github.com/microsoft/vscode-extension-samples/tree/master/comment-sample](https://github.com/microsoft/vscode-extension-samples/tree/master/comment-sample))
  2. Open a file
  3. Add a first comment thread to the file (click in the comment gutter, enter some text, and click Create Note)
  4. Add a second comment thread to the file
  5. G

[2019-07-26 15:12] ken0x0a commented on #26650
![2019-07-27 00 10 08](https://user-images.githubusercontent.com/2770219/61961746-04986f00-b003-11e9-9b64-f0e1cae69ab8.gif)

macbook internal keyboard is Japanese one & external one is US one.

[2019-07-26 15:12] rubo-21 opened #77995 "Crashes on Mac"
**VS Code keeps crashing. I was trying to open a file and i noticed that it doesn't open. Tried again with terminal even without extensions but same. It opens and crashes immediately.**

Version:          Code 1.36.0 (0f3794b38477eea13fb47fbe15a42798e6129338, 2019-07-03T13:09:31.507Z)
OS Version:       Darwin x64 18.6.0
CPUs:             Intel(R) Core(TM) i5-7267U CPU @ 3.10GHz (4 x 3100)
Memory (

[2019-07-26 15:12] kjeremy commented on #18046
@coder543 This is getting closer for rust. Check out https://github.com/rust-analyzer/rust-analyzer/pull/1586

[2019-07-26 15:14] #76989 closed

[2019-07-26 15:17] rubo-21 commented on #77995
Update: restarting mac fixed the issue. but still worth checking

[2019-07-26 15:19] wregimbal opened #77996 "File > Save As moves cursor to beginning of file"
Issue Type: <b>Bug</b>

When performing a Save As, the cursor is moved to the very beginning of the file.  It would be preferable to keep the cursor position, especially if making separate changes to 1 line across all the newly created files.  This can be distracting for long lines.  I have tried disabling all extensions.  Bookmarks also will not work.  It would seem that Save As creates a new fil

[2019-07-26 15:21] weinand commented on #76989
Please try and verify the fix in the next Insiders build.

[2019-07-26 15:21] dmzobel commented on #77932
Figured this out, there was a weird keybinding attached to my `-` key. Thanks

[2019-07-26 15:21] #77932 closed

[2019-07-26 15:31] forrcaho commented on #77953
After yesterday's (2019-07-25) Insider's upgrade, when I open VSCode, which is set to connect to a remote machine via Remote-SSH, I get an info message in the lower right corner which says "Setting up SSH Host sandbox: (details) Initializing VS Code Server". It hangs there. The blue lines sweeping below the info box and above the editor window continue indefinitely.

The info message details link

[2019-07-26 15:43] itzmanish commented on #77636
Seriously....
I don't think this is a good idea.
Isn't there any other workaround?

[2019-07-26 15:56] ypresto opened #77997 "vscode.executeCodeActionProvider passes Range to provider although Selection is passed in"
Issue Type: <b>Bug</b>

CodeActionProvider receives Selection for range argument as of #49024.
For example, typescript-language-features requires Selection to return CodeActions with Refactor kind.
https://github.com/microsoft/vscode/blob/1c6047158b540dd5e38e75bf9793bc9527d26e4b/extensions/typescript-language-features/src/features/refactor.ts#L215

But vscode.executeCodeActionProvider command will

[2019-07-26 15:56] shawmanz32na opened #77998 "Performance issues causing CPU slowdown"
Issue Type: <b>Bug</b>

This is on of the weirder things I've ever experienced.

I noticed yesterday that when I'd select large swaths of text in VS Code, my whole computer would slow down, get choppy, have a hard time task-switching, and other annoyances. I popped open my Task Manager, and in these instances, my CPU clock speed was cranking down from ~2.4GHz to ~.5GHz. With more investigation, I

[2019-07-26 15:58] phil294 commented on #7169
Was this ever possible at all? I am seeing conflicting statements here.

Is this a bug or a feature request?

Also see https://github.com/Microsoft/vscode/issues/47874.

[2019-07-26 16:04] fiendish commented on #51908
Could it be that the DPI detection is just a bad idea? See this snippet. The middle and right are what we get currently. The left is what would show if the lines were all 1x height instead of 2x. As you can see, it perceptually maps to the middle correctly, while the right does not.

![Screen Shot 2019-07-26 at 11 49 56 AM](https://user-images.githubusercontent.com/201996/61965037-4abae780-af9d-11

[2019-07-26 16:15] #67367 closed

[2019-07-26 16:15] forrcaho commented on #77953
Today's Insiders release (commit 6d82826e990407364d5c829b73602a19ecdf7d00) fixes the Remote - SSH breakage from yesterday's release (commit d4b3a7a22fe01ce6af85f9c59943ad54d6f6f205). That's great! However, some of us are using Insiders to do actual work and it would be infinitely helpful to be able to roll back to the previously installed version so we're not suddenly SOL in our development work.

[2019-07-26 16:25] vmphipps commented on #9798
Not working as expected; I'll have a PR done in a bit

[2019-07-26 16:27] andrewsm80 opened #78000 "Omit locations visited by incremental search from 'Go back' history"
Issue Type: <b>Feature Request</b>

I often use <kbd>CTRL + F</kbd> to repeatedly jump between two or more locations in a file.

I could be saved some typing if I could <kbd>CTRL+F</kbd> to the second location and then simply "Go back" (<kbd>ALT + Left Arrow</kbd>) to the first location.

This currently doesn't work with incremental search enabled, because many unrelated locations are visited in t

[2019-07-26 16:31] RMacfarlane opened #78001 "Test: Minimap search decoration visibility"
Test for https://github.com/microsoft/vscode/issues/76122

- [x] Windows @stevencl
- [x] macOS @sbatten
- [x] Linux @roblourens

Complexity: 1

Decorations for search results from find in file have been rendered in the minimap since last iteration, but were difficult to see. They should now have improved visibility - the entire line that has a match will be highlighted at low opacity, and the matc

[2019-07-26 16:38] RMacfarlane opened #78002 "Test: editor.renderWhitespace "selection" option"
Test for https://github.com/microsoft/vscode/issues/1477

- [x] Windows @bowdenk7
- [x] macOS @roblourens
- [x] Linux @aeschli

Complexity: 2

The `editor.renderWhitespace` setting has a new option, “selection”, that renders whitespace only for selected text. Test that this behaves as expected on single and multicursor selections.

[2019-07-26 16:47] Tyriar commented on #77975
I caused this by trying to fix an a11y issue, fixed yesterday https://github.com/microsoft/vscode/issues/77945

[2019-07-26 16:55] aawebb opened #78004 "When you cut a collapsed code block its stays collapsed when you paste it."
I have searched the issues and requests and I don't see this one anywhere. And it seems like too good of an idea to pass up.

While you can cut a collapsed code block and paste it elsewhere, when you paste it, it "uncollapses."

It would be really cool and useful if the code remained collapsed after you pasted it.

Thanks.

[2019-07-26 17:04] Tyriar commented on #77111
@weinand it just didn't have any consumers outside yet, whereas the default shell is exposed in the API via `env.shell`, feel free to change it to public

[2019-07-26 17:12] ctrain149 opened #78005 "New MacOS update is causing VS Code to crash."
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2019-07-26 17:14] Tyriar commented on #77976
@joaomoreno this was probably caused by https://github.com/microsoft/vscode/issues/77975? I can't repro but ctrl+v was never meant to paste in Linux unless you've tweaked your keybindings.

[2019-07-26 17:14] #77976 closed

[2019-07-26 17:15] Tyriar commented on #69475
/duplicate https://github.com/Microsoft/vscode/issues/69665

[2019-07-26 17:15] #69475 closed

[2019-07-26 17:15] Ad013 opened #78007 "Error for no reason"
I simply re wrote the same letter in a word and the error was gone which seemed unreasonable and which was effecting my angular project.

[2019-07-26 17:15] Tyriar commented on #77910
This is a bug in Windows 10 1809, unfortunately we have no way to work around the issue so you will need to wait until you get the next version of Windows 10 (1903).

/duplicate https://github.com/Microsoft/vscode/issues/57803

[2019-07-26 17:15] #77910 closed

[2019-07-26 17:16] Tyriar commented on #77913
Can you share your settings.json file and also try out the Insiders build as improvements have been made in this area recently https://code.visualstudio.com/insiders/

[2019-07-26 17:26] rebornix commented on #78007
Please provide more info about how to reproduce this issue.

[2019-07-26 17:27] rebornix commented on #78005
@ctrain149 could you please paste the data the Issue Report saves into the clipboard here?

[2019-07-26 17:31] roblourens commented on #75178
Hey @skprabhanjan thanks for looking at this but I think this feature would take some careful UX thinking which I don't really want to do right now.

[2019-07-26 17:37] rebornix commented on #77998
Could you please help follow https://github.com/microsoft/vscode/wiki/Performance-Issues to provide more info? You can record a Performance log or JavaScript profile when you can reproduce the slow down.

[2019-07-26 17:40] rebornix commented on #77970
@menshen could you please provide more info about how to reproduce this issue? A recording/gif can help a lot.

[2019-07-26 17:41] rebornix commented on #77980
@yangyuke001 could you please go to Keybindings Editor and search for ctrl+c to see what command it's bind to?

[2019-07-26 17:43] rebornix commented on #77984
Assigned to @mjbvz to help decide whether it's a VS Code issue or just an extension issue.

[2019-07-26 17:44] rebornix commented on #77986
@SandeepGamot can you help follow https://github.com/microsoft/vscode/wiki/Native-Crash-Issues to provide more info to troubleshoot?

[2019-07-26 17:47] ericbf commented on #919
Any update on this issue?

[2019-07-26 17:52] rebornix commented on #77991
Could you please share the source code in the screenshot to help reproduce?

[2019-07-26 17:53] Tyriar commented on #77976
If you're interested what the 200 is, it's encoding "bracketed paste mode" which applications can turn on so they know what text is typed and what is pasted.

[2019-07-26 17:56] rebornix commented on #77622
@joaomoreno I fixed the error message so now it displays warning as expected. The warning is used to help us troubleshoot when chromium's keymap result conflicts with the keyboard event, which also means it's a bug in chromium's implementation of the keymap API.

[2019-07-26 17:57] rebornix commented on #72741
@wbobillet do you still see the issue after you reload the window?

[2019-07-26 17:58] #71249 closed

[2019-07-26 17:58] rebornix commented on #68559
@lesha1201 thanks!

[2019-07-26 17:58] #68559 closed

[2019-07-26 17:59] rebornix commented on #69819
Thanks, let's close it first and we can reopen whenever you run into it again.

[2019-07-26 17:59] #69819 closed

[2019-07-26 18:06] svipas commented on #77636
@itzmanish I mean you can skip for use snippets, themes, etc. disable the ones which make the most sense and I believe you will find the issue very fast :)

Also in VS Code, you can open `Developer: Show Running Extensions` and you can start a profile and then save the output and open it with Chrome :)

[2019-07-26 18:29] iansan5653 opened #78008 "Automatically convert JSDoc comments to multiline format when a new line is inserted"
Currently is is moderately annoying to convert a single-line JSDoc comment to a multiline one. You have to insert a new line at the beginning of the comment and one at the end of the comment, and then delete the extra asterisk and space that were created. More often than not, you typically end up with trailing whitespace that must be trimmed as well.

I propose that if someone inserts a new line a

[2019-07-26 18:47] rebornix commented on #77994
A really good catch, we created the `commentThread` key on the parent context key service by mistake, that's why it's being leaked.

[2019-07-26 18:48] #77994 closed

[2019-07-26 18:49] minkir014 commented on #74331
No, I mean the big one `bootstrap.css`

[2019-07-26 18:50] rebornix commented on #69741
The PR is already merged.

[2019-07-26 18:50] #69741 closed

[2019-07-26 18:51] BenPryor commented on #77994
Thanks for the very quick fix!

[2019-07-26 18:51] rebornix commented on #77981
Assigned to @bpasero since there are couples of launching issues since 1.36.

[2019-07-26 18:57] SunilSimha commented on #43169
Hey! I have the same issue but on Linux (Ubuntu 18.04). Every time I wake the computer from sleep, the integrated terminal stops showing text or shows broken text.

[2019-07-26 19:03] chrisdias commented on #41368
I might add the mssql important recommendation back in.  you can always click the gear and choose "Don't Show Again"

![image](https://user-images.githubusercontent.com/1487073/61975219-658d5c00-af9d-11e9-8ec6-2a13bafcbbaa.png)

[2019-07-26 19:11] SunilSimha opened #78009 "Terminal window disappears when system wakes up from sleep"
Issue Type: <b>Bug</b>

Steps to Reproduce:

1. Open integrated terminal
2. Put the computer to sleep

The integrated terminal becomes corrupted and shows incoherent or no text. Disabling extensions has no effect.

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:55:08.091Z)
OS version: Linux x64 4.18.0-20-generic

<details>
<summary>System Info</summary>

|Ite

[2019-07-26 19:14] sguillia opened #78010 "Menu shifted, not in the right place"
Hi

You broke the menus on Insiders :smile:

![vscode-bug2](https://user-images.githubusercontent.com/15984272/61975675-115c9900-afea-11e9-8968-95f3803a093b.png)

Less offset with the left bar collapsed

![vscode-bug3](https://user-images.githubusercontent.com/15984272/61975762-4e289000-afea-11e9-990e-2dba0dcaa3c3.png)

VS Code version: Code - Insiders 1.37.0-insider (6d82826e990407364d5c829b73602

[2019-07-26 19:20] ryangreenhill commented on #75101
A \r(?!\n) search turned up nothing, so I'm fairly confident it's not CR-only.

I don't remember if searching the exact same term again triggered the same result, but I do know that changing the search term and going back to the original search term after encountering it returns correct search results instead of the improper ones.

[2019-07-26 19:21] fasmat commented on #77201
@joaomoreno hm... not that I know of, all outgoing ports are open, incoming connections are blocked (unless connected via vpn). But until a few weeks ago there wasn't any issue.

[2019-07-26 19:21] llkiriell opened #78011 "Options menu for extensions in the activity bar"
Currently, when you click on the activity bar (anywhere, even above an extension), the menu that appears is:

![](https://images2.imgbox.com/29/15/74ZkT6iX_o.jpg)

However, I propose that a menu of options (uninstall extension, reload, disable, properties or settings, etc.) be added for extensions that are in the bar. Having a menu on each extension of the activity bar would save time by having to

[2019-07-26 19:27] jonschlinkert commented on #34368
I'd recommend not using a zero-width space in non-plain text snippets. Text editors won't display the character, but it will still be there and it's an invalid character in most (if not all) programming languages. I learned this the hard way, when using a snippet I found online that had a zero-width space in it, unbeknownst to me. I kept getting "invalid syntax" errors, and It took a while to figu

[2019-07-26 19:32] cezarneaga commented on #77865
Not below the root. basically in my home folder I can access the root of the repo through a symlink eg: `cd app`or direct `cd html/user/app`

home folder on the server

[code]

On Fri, Jul 26 2019 at 2:40 pm, < notifications@github.com > wrote:

[2019-07-26 19:58] rebornix commented on #76642
A potential duplicate of https://github.com/microsoft/vscode/issues/48321

[2019-07-26 19:58] rebornix commented on #75470
A potential duplicate of https://github.com/microsoft/vscode/issues/48321

[2019-07-26 19:58] kylrth opened #78012 "Change of behavior with closing parenthesis"
The behavior of closing character elision appears to have changed with today's update to VS Code. Also as of today, the closing character now appears dimmed. The elision works as expected when the closing character is dimmed, but not when I've moved away from the line and moved back.

It would appear that the previous behavior was desired (https://github.com/microsoft/vscode/issues/55707). The onl

[2019-07-26 20:00] russelldavis opened #78013 "Maintain cursor position relative to viewport on page-up and page-down"
This is the same issue as #17686 and #22796, but those are locked from additional comments. I wanted to add a couple things:

- I created an extension that implements the change: https://marketplace.visualstudio.com/items?itemName=russelldavis.better-pageup-pagedown.
- The implementation is dead-simple, it's just a `scrollPage{Up/Down}` followed by a `cursorPage{Up/Down}`.
- With this extension as

[2019-07-26 20:21] alsteven opened #78014 "Special characters in .env variables not correctly escaped"
Essentially the same as issue #50302, seems like you missed escaping a character.

- VSCode Version: 1.36.1
- OS Version: Windows 10

Steps to Reproduce:
1. Set up any python project
2. Create a .env file with BUG=HELLO>LOOKAFILE
3. Start debugging

The ">" character is not correctly escaped and will cause a file that begins with "LOOKAFILE" to be created in the current directory.

[2019-07-26 20:21] GabeDeBacker commented on #77160
I like this pattern. Thanks for updating!

[2019-07-26 20:25] alsteven commented on #78014
I should point out that because you are escaping the escape character (^), I can't even easily work around this, since my attempt to escape ">" by using "^>" gets turned into "^^>"

These are the characters you need to escape:
<, >, |, &, ^

Reference: https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/set_1

[2019-07-26 20:35] kobenauf commented on #77898
Here's a weird thing I discovered.  If I run `code .` from wsl 2, it hangs and nothing opens.  But if I then enter ctrl+z to suspend the process, and then do `fg` to restart it, the VSC window opens.

[2019-07-26 20:39] lucasengel opened #78015 "Emmet HTML: wrapping multiple lines with output.format (formerly tag_nl) set to false"
Emmet should expand multi-line abbr keeping lines as-is even with setting `"tag_nl": false`

Steps to Reproduce:
1. Open the following HTML:
[code]
2. Select text
3. Run `Emmet: Wrap individual Lines with Abbreviation`
4. ul>li*

Expected:
[code]

Actual:
[code]

[2019-07-26 20:47] alsteven commented on #78014
This fix indeed didn't go far enough:
https://github.com/microsoft/vscode/commit/2ff1c7de9376f9dfc09cf1da61dc88a0bc28a6c6

Someone just needs to change line 277 of src/vs/workbench/parts/debug/node/terminals.ts please.

Need to add escaping for three additional chars:  |, < and >

[2019-07-26 20:51] Fmstrat opened #78016 "Add Option: "Git: Ignore new commits in submodules""
In some projects, monorepos with submodules are kept up to date with the latest commits. In others, they are centralized storage and are often behind the submodules.

In the later case, VSCode ends up highlighting every submodule as a change. For instance, take this case:

[code]
Right now, `app1` through `app6` are highlighted as changed. I'd like to request an option called `Git: Ignore new comm

[2019-07-26 20:53] ethanroday opened #78017 "Typescript template npm start doesn't work on Windows"
- VSCode Version: 1.36.0
- OS Version: 10.0.17763

Steps to Reproduce:
1. Create a new function app from Typescript template.

The command `npm start` doesn't work on Windows, since the `&` in `npm run start:host & npm run watch` does not cause commands to be run concurrently.

**Fix:** Using [npm-run-all](https://www.npmjs.com/package/npm-run-all), you can just say `run-p start:host watch`, which

[2019-07-26 21:01] #78017 closed

[2019-07-26 21:04] jcollum commented on #77720
Sure seems like there would be a way to add the word "bug" to a string to
get the OS to pick up that you can use "Report Issue" to report bugs.

On Thu, Jul 25, 2019 at 10:57 PM Prabhanjan S Koushik <
notifications@github.com> wrote:

[2019-07-26 21:21] andremacola commented on #78002
Nice. Looks like it's working.

[2019-07-26 21:39] ThadHouse opened #78019 "Document fixing tslint with update to @types/vscode"
With the update to @types/vscode, the extension lint settings, which I pulled from another extension, causes the following error every time `vscode` is imported.

`Module 'vscode' is not listed as dependency in package.json`

I am not a JS developer normally, so I had no clue how to fix this, and the release notes showed no way on how to do this either. Looking around, it looks like adding `"no-im

[2019-07-26 22:02] #77933 closed

[2019-07-26 22:05] misolori commented on #77396
@DanTup sorry, the padding is built into the 16x16 icon so you're bounding box will always be 16x16 (this is what the docs will hopefully clarify 😄 ). Here's a visual example, every icon has a frame of 16x16 but they have a 2px padding (inside) so most are ~14px:

<img width="937" alt="image" src="https://user-images.githubusercontent.com/35271042/61983823-b493bb00-afb6-11e9-93b4-842bc58f2eea.png"

[2019-07-26 22:29] rebornix commented on #77967
Could you please provide some more info about how to reproduce the drag and drop?

In below gif, I tried to

* search
* shift + mouse drag to select all characters of `some_func_call `
* press delete to to delete the word

and it works as expected.

![somefunc](https://user-images.githubusercontent.com/876920/61984626-130e6880-afba-11e9-9ece-449e56be3f8c.gif)

[2019-07-26 22:31] rebornix commented on #77966
I can't reproduce this issue locally, please help provide more info like recordings/gif or how to reproduce.

[2019-07-26 22:32] Tyriar commented on #77160
Fixed in https://github.com/microsoft/vscode/pull/77961, adding an update in https://github.com/microsoft/vscode/issues/70978

[2019-07-26 22:32] #77160 closed

[2019-07-26 22:35] #68601 closed

[2019-07-26 22:37] rebornix commented on #77939
@hulapluto does it work properly in Chrome? Can you please share the result when pressing those keys in the input box in https://w3c.github.io/uievents/tools/key-event-viewer.html ?

[2019-07-26 22:41] rebornix commented on #77882
It seems @usernamehw 's right, the Problems Panel is triggering a reflow which takes seconds and it affects the textarea as a side effect.

[2019-07-26 22:41] #77820 closed

[2019-07-26 22:42] rebornix commented on #77817
@ribrdb can you reproduce this issue when disabling all extensions?

[2019-07-26 22:43] rebornix commented on #77809
/duplicate of https://github.com/microsoft/vscode/issues/29126

[2019-07-26 22:43] #77809 closed

[2019-07-26 22:45] rebornix commented on #77706
/duplicate of https://github.com/microsoft/vscode/issues/15727

[2019-07-26 22:45] #77706 closed

[2019-07-26 22:47] rebornix commented on #77645
@bsienn a screen recording can definitely help. What happens when you run `code-insiders --disable-extensions`?

[2019-07-26 22:48] rebornix commented on #77454
The error `inlineEntryPoint.1.ts: - 33,7 - "Generic type 'SimpleWorkerClient<W, H>' requires 2 type argument(s)."` was already fixed.

[2019-07-26 22:50] rebornix commented on #77357
So is PCRE, Python and Golang regex engine.

[2019-07-26 22:50] #77357 closed

[2019-07-26 22:51] rebornix commented on #77342
Copy/Paste command only works when the focus is in the text area.

[2019-07-26 22:51] #77342 closed

[2019-07-26 22:54] rebornix commented on #76795
/duplicate of https://github.com/microsoft/vscode/issues/15727

[2019-07-26 22:54] #76795 closed

[2019-07-26 22:55] rebornix commented on #76593
@ManojCologne can you reproduce this issue when setting `editor.accessibilitySupport` to `off`?

[2019-07-26 22:56] Tyriar commented on #70978
Ok hopefully the final round of changes have just happened, here they are:

Name changes:

- `TerminalVirtualProcessOptions` -> `ExtensionTerminalOptions`
- `TerminalVirtualProcess` -> `Pseudoterminal`
- `start` -> `open`
- `shutdown` -> `close`
- `onDidExit` -> `onDidClose`

Other changes:

- `open` and `close` are now both mandatory
- `onDidClose` is now an `Event<void>`, no longer accepting an

[2019-07-26 22:56] rebornix commented on #76586
/duplicate of https://github.com/microsoft/vscode/issues/40048

[2019-07-26 22:56] #76586 closed

[2019-07-26 23:03] rebornix commented on #76539
I can't reproduce this issue on Linux. Does everything you delete is saved to the clipboard?

[2019-07-26 23:05] ribrdb commented on #77817
Yes, this screenshot is from a session with all extensions disabled:
![Screenshot 2019-07-26 at 5 04 01 PM](https://user-images.githubusercontent.com/72241/61985661-69ce6f00-afc7-11e9-9aad-b325d24a27b1.png)

[2019-07-26 23:06] rebornix commented on #76513
@vintzl could you please provide more info about how to reproduce this issue? For example, the language you are working on, how often do you run into the issue, how did you recover from that, etc.

[2019-07-26 23:08] #76330 closed

[2019-07-26 23:08] #76182 closed

[2019-07-26 23:09] #76102 closed

[2019-07-27 00:01] rebornix commented on #75665
/duplicate of https://github.com/microsoft/vscode/issues/75627

[2019-07-27 00:01] #75665 closed

[2019-07-27 00:02] rebornix commented on #75596
@gurrrung do you mean deleting text in the find widget doesn't work?

[2019-07-27 00:06] #75470 closed

[2019-07-27 00:07] rebornix commented on #75279
Good suggestion, thanks!

[2019-07-27 00:08] #75152 closed

[2019-07-27 00:16] SteinTheRuler opened #78021 "C# generate Outline"
Outline panel to show information about a *.cs file.

[2019-07-27 00:16] jvilk-stripe opened #78022 "Find references: Large references list causes stack overflow"
- VSCode Version: 1.36.1
- OS Version: OSX 10.14.5

Steps to Reproduce:

1. Make a find all references request that returns many responses (in this case, hundreds of thousands of results -- the target symbol is the root namespace in a large monorepo).
2. Observe the following error:

[code]

Suggested fix: If a find all references request returns too many results, limit the number of references di

[2019-07-27 00:19] jvilk-stripe commented on #78022
The statement referenced in the stack trace is this one:

[code]

... where `t.push(...i)` is the culprit.

[2019-07-27 00:19] SteinTheRuler opened #78023 "more commands for different functions"
Expose a command for every supported command. I can call outline.focus, but not outline.hide (even though you can right-click and select hide). You can also collapse in Outline panel, which is not supported as command. More toggle commands for panels.

[2019-07-27 00:19] #77615 closed

[2019-07-27 01:04] SirMaxxx opened #78024 "Code folding chevron icon is confusing"
The icons now used for code expansion in Insiders 1.37.0 are essentially a '>' or a '>' rotated through 90 degrees.

when looking at code that uses '>' (e.g. HTML) and code is collapsed, there is visual confusion as it can appear there is a misplaced '>' in code...

e.g. in the code below on line 10
![image](https://user-images.githubusercontent.com/39082538/61987931-486c9200-b05e-11e9-848d-f8aba3

[2019-07-27 01:04] niruix commented on #77991
Absolutely! Here is a screenshot of a project I been working on for like few years now, you can clearly see the _Whitespace Rendering_ there is a bit wonky donkey.

![My years old project](https://user-images.githubusercontent.com/30656734/61987815-05a1be80-b04c-11e9-99b7-83af3bda90f1.gif)

Also, don't know whether or not it's relative, but my system received an update of `noto-cjk` the day before

[2019-07-27 01:13] frozenzj opened #78025 "clipboard paste error"
Issue Type: <b>Bug</b>

when I  copy my code to the clipboard,and then paste them into the ipython(open with integrated shell),the line break symbol turn into "^["
paste result:
[code]
except:
[code]
VS Code version: Code - Insiders 1.37.0-insider (6d82826e990407364d5c829b73602a19ecdf7d00, 2019-07-26T05:37:26.606Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Ite

[2019-07-27 01:19] #77101 closed

[2019-07-27 01:42] Xuguanglin commented on #77981
But I tried v1.35, v1.33, v1.30 and even v1.27, no one works.

[2019-07-27 01:45] ashleydavis commented on #77454
That's great.

Any idea what's could be causing the errors in the gulp task `compile-editor-esm`?

Thanks

[2019-07-27 01:47] MycroftHolmes1989 opened #78026 "Move config to XDG_CONFIG_HOME in Linux"
Kindly change the current convention of putting the configurations in `~/.vscode` to `~/.config/vscode`. In other words, use the `XDG_CONFIG_HOME`. Putting the config files in home directory goes against the norms prescribed by the FOSS community. For more info, please check [this](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html) or [this](https://wiki.archlinux.org/in

[2019-07-27 02:59] haichaoyu commented on #77645
@rebornix Sorry to interrupt your conversation. I does not have the Linux machine at hand now, but on my end, the problem is quite easy to describe.
1. Open a file in VS Code.
2. Use Alt+Tab to switch to any other application and then scroll mouse.
3. Use Alt+Tab to switch back to VS Code.
4. Slightly scroll mouse wheel (this step is necessary), then all the scrolls I did in another application wi

[2019-07-27 03:36] Tyriar commented on #77457
Can you share your settings.json file? Also you can try enable escape sequence logging to see if the % coming from the process or not https://github.com/Microsoft/vscode/wiki/Terminal-Issues#enabling-escape-sequence-logging

[2019-07-27 03:49] yurijserrano opened #78028 "HTML Formatting being undone when saving"
VSCode usually format by putting the <html> <head> and <body> tags in the same indentation, I was able to format it the way I want using another extension, but whenever saved it goes back to the same formatting, I've already moved all the options configuration settings and the results remain the same.

![saved](https://user-images.githubusercontent.com/14169134/61989629-fe0cf600-b008-11e9-9959-d0e

[2019-07-27 03:54] WangCong0192 commented on #77991
As you can see, this problem seems to be independent of language and code. This problem occurs once the characters are entered after the space.
The problem can aso occur when I enter a space at the beginning of each line.

------------------ 原始邮件 ------------------
发件人: "Peng Lyu"<notifications@github.com>;
发送时间: 2019年7月27日(星期六) 凌晨1:54
收件人: "microsoft/vscode"<vscode@noreply.github.com>;
抄送: "王聪"<9

[2019-07-27 03:58] chengxuncc commented on #11723
Still expecting.

[2019-07-27 04:58] liurunliang opened #78029 "Not compatible with Windows 10 builtin HDR"
Issue Type: <b>Bug</b>

Once turn on the system's HDR option, the application grays out.

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59:35.033Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6950X CPU @ 3.00GHz (20 x 3000)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enab

[2019-07-27 05:01] dustinwdev commented on #77898
I'm getting the same results after installing Build 18945.

[2019-07-27 05:09] gurrrung commented on #75596
@rebornix Actually, it's already fixed in new stable release. Closing issue.

[2019-07-27 05:09] #75596 closed

[2019-07-27 05:12] Tyriar commented on #77905
Check the help for runas.exe and run it in the terminal: `runas.exe /help`

[2019-07-27 05:12] #77905 closed

[2019-07-27 05:17] lucaszanella opened #78030 "Make vscode save opened tabs all the time"
Currently vscode will only save the tabs I'm working when I close it properly. I have some SSD corruption problems in which my SSD enters in read only mode, therefore closing vscode properly won't save the opened tabs. Also if a computer loses energy it won't recover the tabs.

So, just like firefox, vscode should save tabs all the time so I can keep working on them if a corruption or reboot happe

[2019-07-27 05:21] Tyriar commented on #78009
/duplicate https://github.com/Microsoft/vscode/issues/69665

[2019-07-27 05:21] #78009 closed

[2019-07-27 05:22] Tyriar commented on #77989
/duplicate https://github.com/microsoft/vscode/issues/76548

[2019-07-27 05:22] #77989 closed

[2019-07-27 05:30] Neurrone commented on #69741
@georgebatalinski this is such a massive quality of life improvement and does exactly what I would expect, thanks a lot!

[2019-07-27 05:36] tristan957 commented on #3884
@Tyriar is there any chance your PR gets a second look maybe after the summer? You had already put in a lot of the work it seemed, or is this issue back into the voting pool.

[2019-07-27 05:36] Tyriar commented on #77413
This is a bug in Windows 10 1809, unfortunately we have no way to work around the issue so you will need to wait until you get the next version of Windows 10 (1903).

/duplicate https://github.com/Microsoft/vscode/issues/57803

[2019-07-27 05:36] #77413 closed

[2019-07-27 05:38] Tyriar commented on #77703
@methodbox on macOS when you _split_ the cwd is inherited by the terminal it's split from, this is impossible to do on Windows. See `terminal.integrated.splitCwd`

[2019-07-27 05:40] Tyriar commented on #77812
/duplicate https://github.com/microsoft/vscode/issues/73790, turn off legacy console in cmd.exe properties

[2019-07-27 05:40] #77812 closed

[2019-07-27 05:42] Tyriar commented on #3884
@tristan957 oh I never had a PR, just a bunch of investigation and discussion. Some clean up is going to happen in https://github.com/microsoft/vscode/issues/76590, but I don't think this will get on the plan for a while at least because it's a bunch of work to setup migration and make sure nothing breaks as that would be very bad.

[2019-07-27 05:42] Tyriar commented on #77771
This is a bug in Windows 10 1809, unfortunately we have no way to work around the issue so you will need to wait until you get the next version of Windows 10 (1903).

/duplicate https://github.com/Microsoft/vscode/issues/57803

[2019-07-27 05:42] #77771 closed

[2019-07-27 05:44] Tyriar commented on #77659
/duplicate https://github.com/microsoft/vscode/issues/73790, you need to disable legacy console mode in cmd.exe/conhost's properties.

[2019-07-27 05:44] #77659 closed

[2019-07-27 05:58] Tyriar commented on #76548
Console team's issue: https://github.com/microsoft/terminal/issues/1810

[2019-07-27 05:58] Tyriar commented on #77686
/duplicate https://github.com/microsoft/vscode/issues/76548

[2019-07-27 05:58] #77686 closed

[2019-07-27 06:11] Tyriar commented on #77713
This sort of thing is normally related to locale not being configured correctly, searching should lead you to the answer.

[2019-07-27 06:11] #77713 closed

[2019-07-27 06:12] Tyriar commented on #77498
This is a bug in Windows 10 1809, unfortunately we have no way to work around the issue so you will need to wait until you get the next version of Windows 10 (1903).

/duplicate https://github.com/Microsoft/vscode/issues/57803

[2019-07-27 06:12] #77498 closed

[2019-07-27 06:12] Tyriar commented on #77424
/duplicate https://github.com/microsoft/vscode/issues/73790, you need to disable legacy console mode in cmd.exe/conhost's properties.

[2019-07-27 06:12] #77424 closed

[2019-07-27 06:13] Tyriar commented on #77534
/duplicate https://github.com/microsoft/vscode-remote-release/issues/1031, should be fixed tomorrow

[2019-07-27 06:13] #77534 closed

[2019-07-27 06:18] Tyriar commented on #77450
/duplicate #21125

[2019-07-27 06:18] #77450 closed

[2019-07-27 06:23] thomasyxy commented on #77754
@roblourens delete them by rm -rf ....
search result contain these files

[2019-07-27 06:35] Tyriar commented on #64922
I think this is actually a duplicate of https://github.com/microsoft/vscode/issues/59438, upstream issue is https://github.com/xtermjs/xterm.js/issues/2151

/duplicate https://github.com/microsoft/vscode/issues/59438

[2019-07-27 06:36] Tyriar commented on #59438
Upstream: https://github.com/xtermjs/xterm.js/issues/2151

[2019-07-27 06:36] DanTup commented on #77396
Whoops sorry, that was a mistake above - [my commit](https://github.com/Dart-Code/Dart-Code/commit/ab805198a310fe4456ce7c7f1f7da6a556012cca) says 16x16 for the image! Thanks for the note to check though! 🙂

[2019-07-27 06:40] Tyriar commented on #77634
/duplicate https://github.com/microsoft/vscode/issues/20013

[2019-07-27 06:40] #77634 closed

[2019-07-27 06:54] Tyriar commented on #77525
This is a bug in Windows 10 1809, unfortunately we have no way to work around the issue so you will need to wait until you get the next version of Windows 10 (1903).

/duplicate https://github.com/Microsoft/vscode/issues/57803

[2019-07-27 06:54] #77525 closed

[2019-07-27 06:59] #77524 closed

[2019-07-27 07:10] zifahm commented on #77912
Thanks will PR and file an issue as well

[2019-07-27 07:16] Tyriar commented on #75634
This is tough to reproduce so let's close this, I'll reopen if I see it in Electron 6

[2019-07-27 07:16] #75634 closed

[2019-07-27 07:17] Tyriar commented on #77737
/duplicate https://github.com/microsoft/vscode/issues/76548

[2019-07-27 07:17] #77737 closed

[2019-07-27 07:20] Tyriar commented on #77660
Please see https://github.com/Microsoft/vscode/wiki/Performance-Issues for creating actionable performance problem issues.

[2019-07-27 07:20] #77660 closed

[2019-07-27 07:32] qiangxi commented on #47166
Yeah, like issue [#77749](https://github.com/microsoft/vscode/issues/77749). In the search results, I want to be able to select multiple rows of search results and then copy them, this feature will be very useful.

Because not all search results can be used, such as some specific logs can indicate whether an application function is working properly. So if we have this feature, we can just select t

[2019-07-27 07:46] pangjunpeng opened #78031 "wish search bar regexp include more advanced features"
Today I want to change all the **snake_case** variables in the code to **camelCase**
The online search method says you can use `_([a-z])`，then replace `\U$1`，
But the result are in unexpect

then i download the notepad++，it's replace is so excellent
it solved my needs

i really like vscode，so i wish increase search regexp features,
English is not good, please forgive me
thanks

[2019-07-27 07:58] zifahm commented on #77912
filed a PR https://github.com/SchemaStore/schemastore/pull/756

[2019-07-27 08:24] shauryaverma4296 commented on #77941
Here is the screenshot
![image](https://user-images.githubusercontent.com/13284683/61992000-fb94b580-b075-11e9-94d1-4c12cf43cb1a.png)

[2019-07-27 08:25] moseleyi commented on #61878
Hmm true now this doesn't appear to be a problem but I swear it used to be :D

[2019-07-27 08:25] #61878 closed

[2019-07-27 08:27] vintzl commented on #76513
C# is the language.
Well, after hours of work, I can see this glitches.
To recover from that, I have to restart VSCode.

[2019-07-27 08:34] vintzl commented on #76539
Yes, as you can see in the gif, the block of code is cut, then the remaining blank line is deleted.
Finally, when I want to paste the previous block of code, the clipboard return a blank line/new line…

[2019-07-27 08:40] bsienn commented on #77645
As the above comment says, its exactly as it says.
An other note is, I do have dual setup monitor, and this does happen on my 2nd screen on Ubuntu.

@rebornix I installed insider with no new plugins, but I didn't did disable-extensions. Will try and let you know.

I have PC at home with single monitor, with exactly same plugins, but the issue doesn't reproduce on PC. Only happens in my laptop with

[2019-07-27 08:47] mchenx commented on #15211
for some macbook pros that have AMD GPU issue need this feature, otherwise the laptop would reboot every time tries to launch vs code.

[2019-07-27 08:59] gudvinr commented on #76590
What about extensions? Why is the extensions directory located in `~/.vscode/` rather than `%APPDATA%/User`?

[2019-07-27 09:12] Sir-kay opened #78032 "Some requests for Chinese path"
vscode is a wonderful software. But if it supports Chinese path, I'll like it more.

[2019-07-27 09:22] shauryaverma4296 commented on #77941
![image](https://user-images.githubusercontent.com/13284683/61992591-166b2800-b07e-11e9-940c-3bb1ed1b485e.png)

[2019-07-27 09:22] yurijserrano commented on #78028
I've found the problem.

It's the extension - > JS-CSS-HTML https://github.com/lonefy/vscode-js-css-html-formatter

But now it's solved.

[2019-07-27 09:22] #78028 closed

[2019-07-27 09:37] fortwind commented on #77632
Sorry, it still can't be reproduced as I want.  So I guess I should close this issue.
If there is any progress, I'll be back.

[2019-07-27 09:37] #77632 closed

[2019-07-27 10:07] IceWreck opened #78034 "[Shell Scripts] Wrong Syntax Highlighting"
- VSCode Version: 1.36
- OS Version: Fedora 30

Steps to Reproduce:

1. Open a bash script. (.sh file)
2. Write some code and then type `#` in the same line. Example :
[code]
3. Everything after `#` is greyed out and vscode thinks that its a comment, misleading the user

This is wrong, as bash does not consider everything after `#` as a comment and running the script can lead to disastrous results

[2019-07-27 10:22] ramtinabadi opened #78035 "js - collapse for es6 class instance"
While initializing a class in es6, if the class has a `{}` or function as an arguement in the constructor, we can collapse the code. such as :
![Screenshot 2019-07-27 at 3 46 43 PM](https://user-images.githubusercontent.com/17789994/61993197-db6cf280-b085-11e9-9881-024c85ea8d00.png)
But if the class takes only variables or expresions as arguments, there is no collapse option. For example:
![Screen

[2019-07-27 10:39] ayekat commented on #78026
Uhm… https://github.com/Microsoft/vscode/issues/3884?

[2019-07-27 11:02] calidion opened #78036 "auto import same file more than once"
[code]

when select the prompted optioins `BIN_KV_SERIALIZE_TYPE_STRING`, it can be imported more than once.

[2019-07-27 11:14] sitoprvt opened #78037 "Vs Code update caused workspace to dissapear"
Issue Type: <b>Bug</b>

1. Vs Code automatically updated to the latest version
2. Vs Code opened with a blank workspace
3. Old workspace is completely gone. Can't even find it on my hard drive anymore.

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59:35.033Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|

[2019-07-27 11:31] sitoprvt commented on #78037
Managed to find some backup information of the workspace in roaming appdata of Vs Code. It says the exact folder where my project (cencored red) was before the update. It does no longer exist now and also is nowhere to find in my recycling bin.

![workspace](https://user-images.githubusercontent.com/49991315/61993874-ad31e780-b072-11e9-998b-c936b1faa88b.png)

[2019-07-27 11:43] mifko commented on #64922
Hi @Tyriar

Thank you for looking at this. However I am not sure this is a duplicate as in my case it's related to any character that contains diacritics. Though it behaves strange only in bash, in node it's fine.

This is how it looks on my mac, maybe you can tell more based on it, whether it is a duplicate or not really:
![vscode-diacritics-issue](https://user-images.githubusercontent.com/726638

[2019-07-27 12:36] jgclark commented on #27799
Seeing same behaviours as @tgharold as well, on macOS 10.14.5 and latest VSCode (1.36.1).
Frustrating!

[2019-07-27 13:01] mishushakov commented on #77823
Hey,
noticed another artefact in markdown files:
sometimes a pink line appears and disappears

<img width="593" alt="Screenshot 2019-07-27 at 14 59 20" src="https://user-images.githubusercontent.com/10400064/61994775-41a24700-b07f-11e9-8641-e2141d834c57.png">

Thanks.

[2019-07-27 13:16] mscientist18 opened #78040 "External powershell opening instead of integrated terminal"
- VSCode Version: 1.36.1
- OS Version: Windows 10 version 18362.364

Steps to Reproduce:

1.open terminal using ctrl+`
2.integrated terminal opens and halts then external powershell opens, if i close external powershell it displays "The terminal process terminated with exit code: 3221225786".

Does this issue occur when all extensions are disabled?: Yes/No
Yes.

[2019-07-27 13:36] methodbox commented on #77703
@Tyriar I’m not talking about when you split.

I’m simply talking about when you first pull up the terminal with Cmd+~.

Considering the working directory is known and the terminal can be opened with a command (in Windows) specifying which directory to open it in, I doubt it’s impossible.

[2019-07-27 14:41] MoonBall commented on #12622
+1

[2019-07-27 15:05] methodbox commented on #77703
While I’m sure it’s a bit different doing this programmatically inside VS Code, here’s two examples: opening PowerShell and opening Git-Bash, respectively, in a specific directory.

https://stackoverflow.com/questions/14233659/open-powershell-in-a-specific-directory-from-shortcut

https://superuser.com/questions/1310814/git-open-git-bash-in-specific-directory

If it can be done with a simple comma

[2019-07-27 15:09] mollygilbert389 commented on #77969
We got it to work, I copy and pasted my JSON settings into her JSON settings. It would not recognize it so we did a CTRL Z, but for some reason when we went back to an HTML it had overridden her settings. Auto-magically.....

[2019-07-27 15:09] #77969 closed

[2019-07-27 15:11] adyoi opened #78043 "NOT SUPPORT MULTIPLE TAG"
![Untitled](https://user-images.githubusercontent.com/6408640/61996162-20deef00-b089-11e9-8bef-a2da23eea181.png)

[2019-07-27 15:14] dbnex14 opened #78044 "Clear Simple Mac Shortcuts"
Can you provide proper information about shortcuts for Mac please.  It is annoying to see this desinforming shortcuts showing on Mac machines for VS Code.

For example, F5 - start debugging is what menu shows in VSC but F5 actually starts Voice Over, not debugging.  I know Mac does not respect F keys but then make simple one-hand shortcuts and show them in VSCode for Mac.

I also know I can overri

[2019-07-27 15:14] mwaterous commented on #44137
It's now late July and this issue is still occurring in 1.36.1 on MacOS 10.14.5

[2019-07-27 15:47] ataiya commented on #9872
This works pretty well, thanks @williamluke4
However agree with the above that this should be a built-in feature.. so core!

[2019-07-27 15:49] Daemach commented on #5240
We need this feature!

[2019-07-27 16:00] tomasruizr opened #78045 "vscode intellisense for node_modules packages is truncated at deep level 2 in nodejs project"
I have a javascript project with around 7 levels of depth de module.exports object.. something like
[code]
When working in that codebase the intellisense works like a charm, but when installing the dependency from another project with npm the intellisense gets truncated at level 2. Something like
[code]
I found out about `jsconfig.json`file at the root of the project with a `compilerOptions.maxNod

[2019-07-27 16:01] alivefromupstairs commented on #67711
would it not make more sense to double click the tab to reveal file in explorer?

[2019-07-27 16:04] yueshuiniao commented on #74278
@alexandrudima yes, you are right, it's the problem of the fonts. My fonts setting is
    'Droid Sans Mono', 'monospace', monospace, 'Droid Sans Fallback'
I try to remove 'Droid Sans Mono',  and it is normal, great!
Thank you very much!

[2019-07-27 16:04] #74278 closed

[2019-07-27 16:24] AleksandrHovhannisyan commented on #72263
I noticed the original estimate was May. Is there a fix planned for this maybe later in the year? I also ran into this problem. Thanks!

[2019-07-27 16:28] rawtaz opened #78046 "SCM: Support staging selected changes for *new* files too"
In a file that was changed, one can go to the SCM sidebar, double click the changed file to get to the changes comparison view, select the lines one want to stage, and then right-click on them and select "Stage selected ranges". This will stage only the lines that were selected.

However, this only works for existing, changed, files. It does not work for new files that hasn't already been added to

[2019-07-27 16:33] perarg commented on #27950
It doesn't work. Says _error evaluating code_. It is tested with drupal variables.

[2019-07-27 16:55] alivefromupstairs opened #78047 "Operate on Files and Directories inside Breadcrumbs"
- Adding Operating on files through context menu in Breadcrumbs.
- Drag and drop, in and out (currently, breadcrumbs are part of the layout, making drag and drop into BC just adding views to the layout).

![image](https://user-images.githubusercontent.com/46059092/61996907-e0d03a00-b091-11e9-9ed2-60e8103646ff.png)

[2019-07-27 17:14] jakeklassen commented on #77898
Also seeing the same issue after the upgrade.

[2019-07-27 17:47] travisdowns commented on #69432
I also suffer extensive flickering on Ubuntu 16.04 that goes away with `--disable-gpu`.

[2019-07-27 17:59] mgsergio commented on #29351
That would be very handy!

[2019-07-27 18:24] qadram commented on #43768
What's holding back moving this API from proposed to production. I hope is not about the array stuff, as there are many other events that doesn't provide such pattern.

[2019-07-27 19:00] 9527KGG commented on #54492
+1 for default behavior. Current behavior is just annoying.

[2019-07-27 19:08] montapro commented on #67711
I think it would be a anti pattern to keep the file open

[2019-07-27 19:12] jedmao commented on #65663
Any updates on this guy?

[2019-07-27 20:12] philoez98 commented on #75170
I find the same issue using kubuntu 19.04. It only happens when I try to delete a file; when I do that vscode becomes irresponsive. I am using the snap version of vscode.

[2019-07-27 20:19] Mike-the-one commented on #47354
I need this too!!!!

[2019-07-27 20:22] Tyriar opened #78048 "2 TS quick fixes that do the same thing to implement abstract class"
Bit confusing having the second one considering there is only 1 class that needs the fix.

<img width="450" alt="Screen Shot 2019-07-27 at 1 20 10 PM" src="https://user-images.githubusercontent.com/2193314/61999228-51b32a00-b071-11e9-8756-f19d7b7dfd40.png">

[2019-07-27 20:40] MichaelTong commented on #77898
Same in 18945

[2019-07-27 22:33] pixtim commented on #72210
@isidorn Thanks for adding this! I can confirm that it's working.
![Screenshot from 2019-07-28 00-32-54](https://user-images.githubusercontent.com/47398076/62000082-51497c00-b0cf-11e9-8f55-1d619e999a45.png)

[2019-07-28 01:07] promethyttrium commented on #63703
Is there anyone working on this?

[2019-07-28 01:31] Martin00001 commented on #77342
I thank you

[2019-07-28 02:44] roblourens commented on #77754
There is a bad slowdown here, we are refreshing the list once per file

[2019-07-28 02:54] #77754 closed

[2019-07-28 03:24] #78021 closed

[2019-07-28 03:27] mjbvz commented on #77290
The stylesheet must be contained inside the current workspace.

Closing as by-design

[2019-07-28 03:27] #77290 closed

[2019-07-28 03:33] mjbvz opened #78050 "Test webview.toWebviewResource api proposal"
Test for #76489

- [x] Windows @deepak1556
- [x] Linux @rebornix
- [x] Mac @sandy081

Complexity: 4

**Overview**
There are two new proposed properties on the `Webview` object:

- `webview.toWebviewResource(resource)` — Converts `resource` from a file resource uri to a uri that can be used in webviews to load local content

- `webview.cspSource` —  Content security policy root for local resources.

[2019-07-28 04:36] Tyriar commented on #64922
@mifko do you type them with altgr? That seems to be the underlying problem with that issue https://github.com/xtermjs/xterm.js/issues/2151#issuecomment-498171565

[2019-07-28 04:45] niruix commented on #77991
Hello, @rebornix Looks like I've found out the cause, it's font related.

So bravo to me, I guess. You're free to credit me in your next release note, as always :)

![Here you go](https://user-images.githubusercontent.com/30656734/62002377-5c36f780-b135-11e9-92f2-265bc4e00169.gif)

Sadly I just got `vim` up and running as I liked.

[2019-07-28 04:47] rmobis commented on #28425
Apparently this is disabled _by design_ inside Electron, to safeguard it from adding `*.*` to the file name, as can be seen in [`shell/browser/ui/file_dialog_win#L206`](https://github.com/electron/electron/blob/34c4c8d5088fa183f56baea28809de6f2a427e02/shell/browser/ui/file_dialog_win.cc#L206).

[code]

There has to be a way though, because many other programs can do it. I'll try and test if this i

[2019-07-28 04:47] Tyriar commented on #77703
@methodbox I believe the behavior you're describing is how it's meant to work, what directory does your shell open in? Can you show a screenshot and share your settings.json?

For me, I just set the shell to git bash and it opens in the opened directory (ie. the project dir):

![image](https://user-images.githubusercontent.com/2193314/62002395-053f0d00-b0b8-11e9-8dac-fa0fe3ed6ce3.png)

Is that wha