[2021-04-28 20:16] ArturoDent commented on #122518
The solution `"editor.emptySelectionClipboard": false` does have the consequence of affecting **both** copy and cut actions which may be an undesirable outcome.

[2021-04-28 20:16] rebornix commented on #122579
It's larger than the builtin markdown renderer.

[2021-04-28 20:17] alexdima commented on #122538
Please ask this question on StackOverflow, this does not appear to be a problem with VS Code.

[2021-04-28 20:17] #122538 closed

[2021-04-28 20:17] samuelms1 commented on #68123
Is there any update on this?  Like @tommitytom, I just got started on compound debugging and it would be really nice to have them split.  There doesn't appear to be a way to split them after they've started to run like @ldarshan1991 suggested.  Thanks for hearing me out.  :D

[2021-04-28 20:20] Rohit459 opened #122580 "Breakpoints not working - "Breakpoint set but not yet bound""
- VS Code Version: 1.55
- OS Version: Windows 10-64
- Framework and tools: TS, MS Bot Framework v4(NodeJS)

Steps to Reproduce:

1. Build the project.
2. Start the debugger and set a break point in the ts file.
3. When it launches all of the break points change to "Breakpoint set but not yet bound"

Attaching screenshots for reference.
![image](https://user-images.githubusercontent.com/23269340/11

[2021-04-28 20:24] deepak1556 commented on #122325
Yes insiders has bumped node from `12.18.3` to `14.16.1`, so very likely some behavior change is in play here. Can you provide the debug logs from the extension https://github.com/liximomo/vscode-sftp#debug

[2021-04-28 20:25] IanMatthewHuff commented on #122415
@rebornix and I just had a long chat on teams regarding this in the AM.

To be clear, what @DonJayamanne mentioned here I've already done.

When we set the preferred controller on document open at the same time I send basically a fake "selected" method. For the purposes of our code when we set a preferred controller we consider that controller selected and start our prewarming and whatnot. Also fo

[2021-04-28 20:26] deepak1556 commented on #113885
Yup this is fixed with https://github.com/microsoft/vscode/pull/120673, thanks for tracking.

[2021-04-28 20:26] #113885 closed

[2021-04-28 20:28] EnoughSensei commented on #122518
@alexdima That does what I initially wanted (disable `cut-line`) but doesn't explain why `editorHasSelection` isn't working. Do you suggest that I make a *seperate* issue for that?

[2021-04-28 20:29] deepak1556 commented on #112122
Yup this is fixed with latest insiders and should be fixed with next stable release `1.56`. Thanks for checking @bpasero

[2021-04-28 20:29] #112122 closed

[2021-04-28 20:29] EnoughSensei commented on #122518
To be honest, this feels like a quick hack instead of a real solution.

[2021-04-28 20:30] DonJayamanne commented on #120274
@sandy081 do we know what's going to happen here, we'll have another release soon and we could run into this same issue once again.
Should this be escalated?

[2021-04-28 20:32] alexdima commented on #122518
@EnoughSensei You can use the following keybindings rules. `ctrl+x` is special compared to other keybindings because it has a default behavior when it falls through our keybinding dispatching (it will trigger a browser 'cut' event):

[code]

[2021-04-28 20:33] samrat-gavale opened #122581 "Microsoft Authentication logs out after update"
Issue Type: <b>Bug</b>

Repro steps:
1. Install an older version of VS Code like [1.52]9(https://code.visualstudio.com/updates/v1_52)
2. In VS Code, sign in using Microsoft authentication.
3. Check for updates and install the updates.
4. Note that on restarting the VS Code after update, the sign in menu does not show your identity. If there an extension dependent on that identity, you will get a s

[2021-04-28 20:33] gramster commented on #122481
Can I give this 100 upvotes? I personally love dark themes in my code editors but light themes when working with notebooks (don't ask why, it's not necessarily rational). I would love to have separate notebook themes as a result. It might even make sense to default to a light theme for notebooks (for Jupyter notebook users benefit).

[2021-04-28 20:34] oopsShouldntHaveDoneThat opened #122582 "sideways scrolling in jupyter notebooks also scrolls page"
Issue Type: <b>Bug</b>

When I have a big plot in a jupyter notebook I can press shift to scroll sideways through the plot. However, the notebook also still scrolls, which is annoying and obviously not the desired behaviour.

Steps to reproduce:
- Create jupyter notebook
-Create very wide plot using pyplot (wider than the vscode window)
-Press shift and scroll while hovering over the plot.

VS Cod

[2021-04-28 20:35] ArturoDent commented on #122518
Wow, I tried an empty key like

    {
        "key": "",
        "command": "-editor.action.clipboardCutAction",
    }

but it didn't do anything.  I didn't know you could simply have a keybinding with no command that would disable the command.

[2021-04-28 20:37] #122328 closed

[2021-04-28 20:37] #122270 closed

[2021-04-28 20:37] #122372 closed

[2021-04-28 20:37] alexPertise commented on #122043
@aeschli   I found out why! When in **_aspnetcorerazor_**,  .cshtml element can't be fold. But when I switched to **_razor_** it worked.
Is it the expected behavior or the collapse arrows should always be there?
![image](https://user-images.githubusercontent.com/83086032/116468824-5bb61e00-a83f-11eb-8db3-26f1269b14bd.png)
![image](https://user-images.githubusercontent.com/83086032/116468983-8d2ee9

[2021-04-28 20:38] EnoughSensei commented on #122518
@alexdima Thanks for the quick response. Unfortunately this doesn't work.

[2021-04-28 20:38] lramos15 commented on #122365
I guess my argument was would it make more sense for the user to have a 1:1 mapping of glob to editor or a 1:many mapping of editorID to glob patterns. Another reason I liked the 1 to many is that it's less lines 😝

[2021-04-28 20:42] #121017 closed

[2021-04-28 20:43] ArturoDent commented on #122518
[code]
seems to work.  Needs an empty command.

[2021-04-28 20:48] EnoughSensei commented on #122518
@ArturoDent Unfortunately that doesn't work on my side as well when `editor.emptySelectionClipboard` is `true`.
However when I do `"command": ";"` it works (also causes a popup).

[2021-04-28 20:48] digitarald commented on #119502
I see the same issue for extension recommendation installations in usertesting. Without the extension viewlet visible, the progress context is completely missing. A progress notifications seems useful, especially on slower connections.

[2021-04-28 20:53] ArturoDent commented on #122518
Yeah, I deleted that option - I still had the setting.  I think you are back to the `notifications.clearAll` suggestion.

[2021-04-28 20:55] argtus commented on #43809
Thanks, this solution worked. To streamline it a bit and to avoid some copy paste errors you can also do:
[code]

[2021-04-28 20:58] EnoughSensei commented on #122518
Yeap.

[2021-04-28 21:05] mjbvz commented on #122575
/extPython

[2021-04-28 21:06] #122547 closed

[2021-04-28 21:06] #122575 closed

[2021-04-28 21:08] #122502 closed

[2021-04-28 21:09] #122579 closed

[2021-04-28 21:10] RMacfarlane commented on #122581
This is expected when upgrading to 1.53 and shouldn't happen on future versions of VS Code: https://code.visualstudio.com/updates/v1_55#_encryption-update-on-windows

[2021-04-28 21:11] Norfeldt commented on #121814
Thanks! It was driving me nuts 🤪

[2021-04-28 21:12] RMacfarlane commented on #122581
Oh, oops, wrong version.

[2021-04-28 21:12] beavaman101 opened #122583 "f2 (rename symbol) Causing new lines to be entered."
Issue Type: <b>Bug</b>

I have a saved python script with a variable `root_file_path` and am attempting to use the f2 (rename symbol functionality). There are three instances of this particular variable in my python script. However, when previewing the refactor it is highlighting every line in the file and attempting to insert a line return on a large number of those lines, even when the particula

[2021-04-28 21:12] greazer commented on #122481
This could help address some of the problems I ran into personally with trying to visually process the state of my notebook at any given time. I.e. which cell is selected, which is in edit mode, etc. I know we have separate color tokens for notebook stuff, but having a notebook theme as a 1st class citizen of VS Code would help in discoverability.

[2021-04-28 21:15] alexdima commented on #122518
@EnoughSensei You're right, sorry about that, I didn't test what I posted earlier. I must have broken that at some point, omitting a command should have called `e.preventDefault()` on the `keydown` event, but it looks like it doesn't anymore. I will investigate that.

But you can use a command that is effectively a no-op without a selection. e.g.:

[code]

[2021-04-28 21:17] mjbvz commented on #119357
Thanks @jrieken. This is a TS bug: https://github.com/microsoft/TypeScript/issues/43868

Let me know if you come across any other cases that do not work with this feature. To verify basic `@link` support, you can use:

[code]

[2021-04-28 21:18] #119357 closed

[2021-04-28 21:19] mjbvz commented on #120384
Closing this since I think we've handled the cases we originally discussed

[2021-04-28 21:19] #120384 closed

[2021-04-28 21:30] chrmarti commented on #122516
There is a setting for this:
![image](https://user-images.githubusercontent.com/9205389/116475169-bec4a680-a879-11eb-9939-1cc878666ac8.png)

[2021-04-28 21:31] jedwards1211 commented on #120882
@isidorn the old behavior was changed because people were getting annoyed when they would paste dozens of files and VSCode would open all of them, right?  I guess the rule could be only open if one file is pasted, but I think most of the complaints would die down if just the selection colors after paste are fixed, since it seems like it's uncommon for other IDEs to open a pasted file.

[2021-04-28 21:32] mjbvz commented on #83714
I don't have an iPad to test on right now  but the key place to look is:

https://github.com/microsoft/vscode/blob/d5f4e119e058e1d01ec4f994f757703348c37db8/extensions/markdown-language-features/preview-src/index.ts#L209

This should be hit inside of the webview whenever you scroll the preview.

There's some comments [here](https://stackoverflow.com/questions/2863547/javascript-scroll-event-for-iph

[2021-04-28 21:34] connor4312 commented on #121749
Actually, we can follow TypeScript's style. They have versions like `4.3.0-dev.20210428`, so we could do `^1.56.0-insider.20210428`

[2021-04-28 21:35] connor4312 commented on #121749
fyi @DonJayamanne since your team may want to use this

[2021-04-28 21:36] joyceerhl opened #122584 "Some cells not rendered in a notebook"
@whippingdot commented on [Sat Apr 24 2021](https://github.com/microsoft/vscode-jupyter/issues/5624)

## Environment data

-   VS Code version: 1.56.0-insider(user setup)
-   Jupyter Extension version (available under the Extensions sidebar): v2021.6.777186939
-   Python Extension version (available under the Extensions sidebar): v2021.4.765268190
-   OS (Windows | Mac | Linux distro) and version:

[2021-04-28 21:36] joyceerhl commented on #122584
@whippingdot Could you provide a zip archive containing the problematic notebook? It would help us try to reproduce the problem.

[2021-04-28 21:46] scriptcoded commented on #120882
@jedwards1211 Only opening when pasting one file actually seemed to be [the old behavior](https://github.com/microsoft/vscode/commit/e2c5ff9db00b6825e5c4474509f5cefe2016461a#diff-515fe5738c07a65d212b4678c8244c6fc0c7725077b9ca20a60f3c1290befc78L1269). Also, while I think the selection colors might help, VS Code still has the preview file-feature which makes things confusing. Therefore I think it's

[2021-04-28 21:50] digitarald commented on #122570
For C++, clauses for `launch.json` and `tasks.json` set up. Potentially looking at specific types of entries.

[2021-04-28 21:50] roblourens commented on #122365
The setting declares my "preferred" editor for a filetype, so it makes sense for the setting to match `files.associations` with a single entry per file type right? What happens currently if I list two different editors for `*.png`.

[2021-04-28 21:50] mjbvz commented on #121790
Ok, closing this in favor of https://github.com/microsoft/vscode/issues/54272 then

[2021-04-28 21:50] #121790 closed

[2021-04-28 21:51] misolori commented on #120147
I think keeping them together makes sense here since one would have a CTA of "Done" and the other would be "Next" with a counter.

[2021-04-28 21:53] meganrogge commented on #121949
can you run extension bisect? Ctrl shift p to find it

[2021-04-28 21:53] jedwards1211 commented on #120882
@scriptcoded you know, we should make a separate selection color issue anyway, because if you copy and paste multiple files, you end up with just one of the copies selected in the navigator but not open in the editor, so there's confusion there too

[2021-04-28 21:54] meganrogge commented on #122519
I believe this is already fixed, can you see if you can reproduce in the [Insiders build](https://code.visualstudio.com/insiders)?

[2021-04-28 21:54] #122519 closed

[2021-04-28 21:57] meganrogge commented on #122260
It looks like your report is missing some important information, See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more info on how to report actionable terminal issues.
/label "needs more info" integrated-terminal

[2021-04-28 21:57] misolori commented on #122464
Hmm...I can't seem to repro today. Maybe something changed.

[2021-04-28 21:57] #122464 closed

[2021-04-28 21:58] meganrogge commented on #122485
try setting `terminal.integrated.localEchoLatency` to -1

[2021-04-28 22:00] roblourens commented on #122407
Oh yeah, so that one is from the Jupyter extension, but doesn't work due to builtin keybindings, thanks.

@rebornix should extension keybindings take precedence over builtin ones? I guess I don't know how the precedence works. FYI @DonJayamanne I don't know whether this worked at some point in the past

[2021-04-28 22:01] #122359 closed

[2021-04-28 22:02] roblourens commented on #108824
Does this work with other context menus? I don't know what is special about this one.

[2021-04-28 22:03] claudiaregio commented on #122407
We have run into this same issue with users, couldn't figure out why Shift + Enter or Ctrl + Enter didn't work for them. I thought extension shortcuts took precedence but the source on the right for that notebook contribution appears to be default, not extension...

[2021-04-28 22:03] connor4312 commented on #119357
Super cool, found one annoying bug but this'll make life a lot easier.

[2021-04-28 22:05] jedwards1211 opened #122586 "Navigator selection doesn't match active editor after pasting files"
The issue is currently the same whether you paste one or multiple files.  Reverting e2c5ff9db00b6825e5c4474509f5cefe2016461a would fix the behavior for pasting one file, but there would still be an issue with pasting multiple files.

Steps to Reproduce:

1. Create a project with files `a.js`, `b.js`, `c.js`
2. Select all 3 files in the navigator
3. Copy with Ctrl-C
4. Paste with Ctrl-V

After this

[2021-04-28 22:05] jedwards1211 commented on #120882
Okay I opened https://github.com/microsoft/vscode/issues/122586

[2021-04-28 22:05] DonJayamanne commented on #113937
Havig discussed this issue with @brettfo
I think the status as follows:
* .NET extension doesn't know that its the selected controller
I.e. from what I can tell the following issue will address this https://github.com/microsoft/vscode/issues/122415

@jrieken @rebornix /cc

Bascially .NET needs to know whether their VS Code kernel was selceted or not (instead of the Python kernel).

[2021-04-28 22:05] roblourens commented on #122544
I don't understand the problem, can you not type in settings.json?

[2021-04-28 22:06] ayush-j opened #122587 "Taskbar at top breaks UI after some time"
Issue Type: <b>Bug</b>

On Remote Desktop, I have my taskbar on top and after working for some time - minimizing RDP, switching windows etc - eventually I get a black bar at top about the same size as the taskbar I have and everything in UI shifts down but hit testing still happens at the old location. And if I have multiple VS Code windows open, it doesn't even happen on all VS Code windows! Rest

[2021-04-28 22:07] sauverma16 opened #122588 "Hard to see active tab after latest update"
Issue Type: <b>Feature Request</b>

Hi

After the latest updates, it is very hard to see which is the current tab on the top in all of the dark themes and I keep making mistakes and editing wrong tabs.

Can you please restore the previous dark themes which had better contrast
Saurabh

VS Code version: Code 1.55.2 (3c4e3df9e89829dce27b7b5c24508306b151f30d, 2021-04-13T09:35:57.887Z)
OS version: Wind

[2021-04-28 22:09] claudiaregio opened #122589 "No file association for .ipynb"
## Steps to Repro:

1. Clean install of VS Code with no notebook extensions
2. Try to drag a .ipynb file into the editor
3. File opens as JSON

## Actual Behavior:
The file association in the bottom right shows Plain Text, not JSON

## Expected Behavior:
The file association in the bottom shows JSON

[2021-04-28 22:13] #122548 closed

[2021-04-28 22:21] acls opened #122590 "Indention base code folding should work the same in all languages"
- VS Code Version: 1.56.0-insider

When the editor folding strategy is set to indention. eg:
[code]
This code
[code]
should always fold to
[code]
but in most language modes it folds to
[code]

[2021-04-28 22:21] JacksonKearl opened #122591 "Continue on... Clone Repo Locally no-ops"
Testing on Ubuntu, when I have a remote browsing repo open, and I click `Remote Indicator => Continue On... => Clone Repository Locally...`, I see no UI change at all. Nothing in dev tools either.

I do have git installed.

[2021-04-28 22:23] JacksonKearl commented on #122591
Ah...
[code]

Looks like the git extension is deactivated in a remote workspace, causing the clone to fail.

[2021-04-28 22:23] digitarald opened #122592 "[Getting Started] Signal extensions if VS Code's extension walkthroughs are enabled"
As extensions adopt walkthrough's (#118402) we want them to cut back their setup notifications galore that is usually triggered by first activation.

VS Code extension walkthrough support will roll out in stages and with different heuristics. Extensions will need a flag from VS Code that their walkthrough was shown to the user; which can then gate first-launch notifications that have counterparts

[2021-04-28 22:25] JacksonKearl commented on #122591
After manual override with
[code]

evertyhting works great.

[2021-04-28 22:26] mjbvz commented on #122564
Seems to be working for me:

![Screen Shot 2021-04-28 at 3 25 45 PM](https://user-images.githubusercontent.com/12821956/116480347-07f30700-a836-11eb-9b89-46220a4c713a.png)

@rzhao271  Any errors in the codespace dev console?

[2021-04-28 22:27] mjbvz opened #122593 "Add command to sort JS/TS imports without removing used"
Tracks picking up https://github.com/microsoft/TypeScript/pull/43184

The main use case is for `codeActionsOnSave`. Some users may just want imports to be sorted when they save instead of also having unused imports being removed

[2021-04-28 22:35] digitarald commented on #119110
Would it still further improve the results by removing the `@sort:installs`, @isidorn?

[2021-04-28 22:58] deepak1556 commented on #122565
Thanks for the ping @gjsjohnmurray.

Insiders has updated to node v14 which disallows creating two `ArrayBuffer` instances pointing to the same memory https://github.com/nodejs/node/issues/32463. `ref-napi` seems to have addressed this in https://github.com/node-ffi-napi/ref-napi/commit/aede9057f9ff29c50d3be8fa90ddfbe28e5dc238 but there are still users reporting to hit this with `3.0.2` on node v1

[2021-04-28 22:58] #122565 closed

[2021-04-28 22:58] roblourens opened #122594 "Notebook cell focus indicator is wrong"
![image](https://user-images.githubusercontent.com/323878/116482679-7b971300-a83a-11eb-9fa6-a609a41eb584.png)

Just alternate pressing enter and escape several times, and 1/10 times, the indicator is on the cell while the editor has focus

[2021-04-28 23:01] deepak1556 commented on #122176
Can you follow these steps and attach the crash report https://github.com/microsoft/vscode/wiki/Native-Crash-Issues#creating-and-symbolicating-local-crash-reports

Also can you check if the crash happens with latest insiders https://code.visualstudio.com/insiders

[2021-04-28 23:07] deric4 commented on #60579
@r-owen thank you! Since upgrading to Big Sur this has been a huge pain.

was having the same problem w/ the following config:

[code]

disabling "recent applications" in Dock & Menu Bar settings prevents from the icons persisting, but I still get 2 different vscode icons while editing my commit message, but at least it disappears once the file has been closed.
<img width="590" alt="vscode" src="h

[2021-04-28 23:08] roblourens opened #122595 "Pressing enter in the outline on a notebook doesn't navigate to the selected cell"
- Open a notebook
- Open the outline
- Arrow down to some cell. As I navigate in the list, I get the yellow background color on the cell ✅
- Press enter
- I expect focus in the notebook list to move to that cell, but it stays where it was before i opened the outline

[2021-04-28 23:15] roblourens opened #122596 "cmd+P brings up the print dialog when a notebook is active, in web"
- Open a codespace window in web
- Open a notebook
- Press cmd+P
- Get the print dialog instead of quick open
- If a text editor is active, I get the quick open

No clue what prevents this or why it would be different in a notebook

[2021-04-28 23:19] RandomFractals commented on #120251
super! will try that setting in insiders and run a test Rest Book to see where we at. Thanks for the pointer to the untrusted notebooks and workspaces thread.

[2021-04-28 23:22] roblourens opened #122597 ""Cancel test run" should use "stop" icon"
![image](https://user-images.githubusercontent.com/323878/116484400-d5e5a300-a83d-11eb-8574-44d97b8e0c69.png)

We usually use X for "close"

[2021-04-28 23:23] RandomFractals commented on #118584
What would be shown in this scenario for a simple webpage GET in a REST Book? https://github.com/tanhakabir/rest-book/issues/90

I think it would be easier to explore this with concrete custom notebook extensions and renderers, perhaps kernels too, and not just Jupyter notebooks.

[2021-04-28 23:30] JacksonKearl opened #122598 "[Workspace Trust] Use present tense to describe present state"
Testing #122232
![image](https://user-images.githubusercontent.com/8586769/116484880-d6326e00-a83e-11eb-9d92-4017cdfb2e8b.png)

Suggest
- Tasks *are* disabled
- Debugging *is* disabled
- 3 workspace settings *are not* applied
- 8 extensions *are disabled* or have limited functionality.

[2021-04-28 23:30] roblourens commented on #119642
How do I see this terminal?

[2021-04-28 23:30] #122190 closed

[2021-04-28 23:31] roblourens opened #122600 "Filter button in test explorer is large"
![image](https://user-images.githubusercontent.com/323878/116484985-142f9200-a83f-11eb-96dd-6830922d316e.png)

Wondering whether this is a side effect of the button hover changes, or if it was on purpose? I think it shouldn't have a background color

[2021-04-28 23:34] #122232 closed

[2021-04-28 23:34] connor4312 commented on #119642
This button, or with the `Tests: Show Output` command

![](https://memes.peet.io/img/21-04-a23b5a7a-a85d-44c5-9933-b868ad92a932.png)

- The terminal should display the most recent test output
- If an output terminal is already open, it is shown and its contents updated
- If you start a new run while the terminal is open, output should be streamed live to it

[2021-04-28 23:34] #122200 closed

[2021-04-28 23:35] connor4312 commented on #122600
This copies the problem view which has a background color when any filter is active

![](https://memes.peet.io/img/21-04-74166664-1fb1-4e35-b0da-850489cc8868.png)

However that button is slightly larger than the problems button

[2021-04-28 23:35] TylerLeonhardt commented on #118586
This will be closed in May 😄

[2021-04-28 23:50] yhay81 opened #122601 "TS Server fatal error: Cannot read property 'forEach' of undefined"
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.3.0-dev.20210427

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Er

[2021-04-29 00:07] RandomFractals commented on #120251
@sbatten am I doing this right? seems to have no effect.

![image](https://user-images.githubusercontent.com/656833/116487170-f2410a00-a854-11eb-8d7e-223f2f98fb82.png)

[2021-04-29 00:11] mjbvz opened #122602 "Add snippet for package.json untrustedWorkspaces"
**Repro**

1. In `package.json`
2. Inside `capabilities`, trigger suggestion for `untrustedWorkspaces` and accept

**Bug**
We should provide a snippet to help users fill in this object

[2021-04-29 00:11] mjbvz commented on #122602
I'll submit a PR for this

[2021-04-29 00:12] tamuratak commented on #121638
/verified

Thank you.

[2021-04-29 00:14] hmxulex opened #122604 "serious display issue"
I just installed VS code 1.55.1 on
PRETTY_NAME="Debian GNU/Linux 9 (stretch)"
NAME="Debian GNU/Linux"
VERSION_ID="9"
VERSION="9 (stretch)"
VERSION_CODENAME=stretch
ID=debian

It has serious display problem, display is all messed

[2021-04-29 00:16] rebornix commented on #122462
The markdown cell and the code cell shares the same undo/redo stack as their comparison key in the undo stack is the same. It used to work properly but not sure why it stopped working now.

[2021-04-29 00:16] mjbvz opened #122605 "Image preview labeled as (read-only)"
Issue Type: <b>Bug</b>

**Repro**
1. Open image in default image preview
1. Click away to another tab

**Bug**
The image tab gets the `(read-only)` label:

![Screen Shot 2021-04-28 at 5 16 32 PM](https://user-images.githubusercontent.com/12821956/116487760-8c995180-a845-11eb-92da-5ab0fbcc1952.png)

This should never happen since the image preview doesn't support editing

VS Code version: Code - OS

[2021-04-29 00:26] sbatten commented on #120251
@RandomFractals That setting should be set to true in order to enable workspace trust (it turns on the feature but does not mean anything is trusted). It should require a restart to apply.

[2021-04-29 00:27] devinvalenciano opened #122606 "Markdown cell has no line numbers with Show Cell Line Number option checked"
Testing #122254

Version: 1.56.0-insider (user setup)
Commit: 13f1afffab09548c10ddb3bc5d5db52587876ad8
Date: 2021-04-28T04:52:06.990Z
Electron: 12.0.4
Chrome: 89.0.4389.114
Node.js: 14.16.0
V8: 8.9.255.24-electron.0
OS: Windows_NT x64 10.0.19042

I was able to get a Markdown cell into a state where the Show Cell Line Number option is checked, but when you go to edit the cell, there are no line num

[2021-04-29 00:28] sbatten commented on #122598
@JacksonKearl do you suggest changing the wording based on the state of the workspace or just always use present tense?

[2021-04-29 00:31] #122254 closed

[2021-04-29 00:35] mjbvz commented on #121363
Marking verified since I don't think you can get into this state anymore with the new modal flow

[2021-04-29 00:38] mjbvz commented on #121110
Marking as verified based on  https://github.com/microsoft/vscode/issues/121110#issuecomment-821525648

[2021-04-29 00:39] RandomFractals commented on #120251
tried it. do I need to actually check out and build the latest insiders v.? I set it to true, and still seeing that setting greyed out in `settings.json`, i.e. my insiders v. doesn't recognize it as a valid setting, and not prompts on reload.

my insiders v. info:

![image](https://user-images.githubusercontent.com/656833/116488992-6a113380-a859-11eb-9f8b-fb2f98c35cd3.png)

[2021-04-29 00:43] PC6live opened #122607 "TS Server fatal error: Cannot read property 'lastIndexOf' of undefined"
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.2.3

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Error Stack**
S

[2021-04-29 00:44] #122607 closed

[2021-04-29 00:48] mjbvz commented on #121091
Marking as verified since it looks like we are using generic message now: `Trust all in parent folder`

[2021-04-29 00:53] mjbvz opened #122608 "Terminal tabs: Cannot read property 'instanceId' of null"
Issue Type: <b>Bug</b>

1. On MacOS
1. Right click in terminal tabs to create a new terminal from a profile
1. Select `sh` from the list

**Bug**
The terminal opens but in the dev tools I see:

[code]

VS Code version: Code - OSS Dev 1.56.0 (Commit unknown, Date unknown)
OS version: Darwin x64 20.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-9980H

[2021-04-29 00:54] roblourens commented on #122600
I actually didn't realize a filter was active. Not sure what I did to activate it. But yeah the background is fine.

[2021-04-29 01:02] Frederisk commented on #121045
/verified

[2021-04-29 01:12] roblourens commented on #122596
Do you know about this @bpasero?

[2021-04-29 01:16] roblourens commented on #118584
They wouldn't be shown, but you wouldn't be able to run the cell anyway in an untrusted workspace.

[2021-04-29 01:20] ugultopu commented on #47386
@mjbvz

Just to be clear, the workaround for TypeScript is to run the `tsc: watch` task, which is not a task that is manually defined, but is available due to the presence of a `tsconfig.json` file in a project. Is that correct?

[2021-04-29 01:25] mjbvz commented on #122605
@loganrosen This bug was not related to your work but labelling editors `(read-only)` would be something nice to try to moveing out out custom editors and into the new shared editor logic you have been working on

[2021-04-29 01:31] roblourens opened #122609 "Full remote label only shown for the current remote"
- Open the workspace trust manager in an SSH window
- In the Host column, I only get the full label if I am connected to that remote, otherwise it's just SSH

![image](https://user-images.githubusercontent.com/323878/116491894-c53e2880-a84f-11eb-8a67-efb55f8b5d14.png)

For the Recently Opened menu, these are cached somehow, not sure how that works

[2021-04-29 01:40] roblourens opened #122610 "Resolver issue when connecting to new remote"
- Open a remote window, opening a folder for the first time
- I get the trust modal dialog ✅
- But I also get this confusing warning

![image](https://user-images.githubusercontent.com/323878/116492064-3251be00-a850-11eb-96a2-0a179c3bbd88.png)

I guess extensions are disabled until we figure out what the trust situation is? Should remote extensions be exempt from this somehow so we can attach to t

[2021-04-29 01:40] #122605 closed

[2021-04-29 01:41] mjbvz opened #122611 "Revert "Merge pull request #122540 from microsoft/tyriar/122104""
Issue Type: <b>Bug</b>

28a1bc2f35e1354ab9e2f4e01553ea8b86cb6d7a reverted this change since it caused the browser integration tests to fail

VS Code version: Code - Insiders 1.56.0-insider (Universal) (13f1afffab09548c10ddb3bc5d5db52587876ad8, 2021-04-28T04:50:45.511Z)
OS version: Darwin x64 20.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-9980HK

[2021-04-29 01:42] mjbvz commented on #122611
Example failure: https://dev.azure.com/monacotools/Monaco/_build/results?buildId=116151&view=logs&j=672276a2-8d3a-5fab-615d-090c51352f92&t=c55167a9-8752-5898-67fa-9d7c918c61b3&l=56

[code]

I believe the cycle is:

[code]

[2021-04-29 01:49] loganrosen commented on #122605
I think you meant to tag @lramos15. 🙂

[2021-04-29 02:09] meganrogge commented on #121760
Also of interest - when I set `"terminal.integrated.shell.windows"` to a valid executable path, and don't have `"terminal.integrated.defaultProfile.windows"` set, II get `The terminal process failed to launch: Path to ___ does not exist` when I click the plus to create a new default terminal

[2021-04-29 02:21] ssaxt0 opened #122612 "VS Code will not install"
I have downloaded this installation multiple times and all the times I have tried installing, it either says files are corrupt or the zip file is empty. I have Visual Studio and it mentions that I can use this for HTML writing but VS Code is better at this. Please tell me how I can get past this obstacle.

[2021-04-29 02:25] rtzoeller opened #122613 "Associate .mak file extension with the Make language"
VS Code currently associates the `.mk` extension with the Make language.

`.mak` is another common file extension for files included by `Makefile`s. It's associated with Make by [GitHub Linguist](https://github.com/github/linguist/blob/32ec19c013a7f81ffaeead25e6e8f9668c7ed574/lib/linguist/languages.yml#L3282), i.e. `.mak` files are recognized by github.com, and there are a few dozen public [`setti

[2021-04-29 02:29] meganrogge commented on #121760
Can you try this on Insider's? I believe this issue has been fixed.

[2021-04-29 02:52] meganrogge commented on #122608
Perhaps just adding

[code]

here https://github.com/microsoft/vscode/blob/a8a1b0f6db12c7e1fd7d5b02d429f25a3eabc648/src/vs/workbench/contrib/terminal/browser/terminalTabsWidget.ts#L63-L67

would prevent this error from throwing?

[2021-04-29 02:54] tgyou opened #122615 "TS Server fatal error: No Project."
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.2.3-pnpify

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Error St

[2021-04-29 02:55] #122615 closed

[2021-04-29 02:57] tgyou commented on #122615
The issue was not reproduced when VSCode was restarted.

[2021-04-29 03:17] pmonajem opened #122617 "Support opening links in the terminal relative to the actual cwd (not initial)"
Issue Type: <b>Bug</b>

Click to open a file path from terminal doesn't work if the relative path displayed on terminal starts from above workspace root.

Workspace root is /a/b
Our file is located at /a/b/c/d.txt

These paths work if I Alt+Click on them on the terminal :
/a/b/c/d.txt
c/d.txt
d.txt

This path won't work :
b/c/d.txt

It's arguably easy to check the root path and realize that this r

[2021-04-29 03:19] HuihuiWu-Microsoft commented on #122507
Finally I found the reason, hope can help those who is also suffering from this. Markdown works for non-modal dialog instead of modal dialog. So if you want break lines, use modal, if you want markdown, use non-modal

[2021-04-29 03:30] nAnderYang commented on #122519
ok,i got it, thanks.

[2021-04-29 03:45] opensas opened #122618 "terminal is borked in linux running version 1.55.2"
- VS Code Version:
- OS Version:

All of the sudden my terminal from vscode seems broken, the font seems wrong and everything is misaligned:

![image](https://user-images.githubusercontent.com/481687/116499969-e3258080-a883-11eb-82c4-e63ddc65154a.png)

any idea what could have happened and how could I fix it???

a bit context info:

$ uname -a
Linux xps 5.4.0-73-generic #82~18.04.1-Ubuntu SMP Fri

[2021-04-29 03:51] gjsjohnmurray commented on #122590
This depends on a language configuration setting that controls offside folding. See https://github.com/Microsoft/vscode/issues/3353#issuecomment-330797736

[2021-04-29 03:53] opensas commented on #122618
I downloaded a portable version of vscode and the terminal shows ok, moreover, I deleted the data folder and again the termina is broken, so I guess it could be some extension or config messing around.

I tried reloading with extensions disbled but the problem persists.

If anybody could help trouble shoot this issue it would be greatly appreciated
thanks!

[2021-04-29 04:22] martin-displayr commented on #122486
Hi @roblourens , thanks for pointing me to that page!

The first issue I found following those steps.

When I do a search, which takes minutes and is still running, it reports this:

[code]

If I run the `rg.exe` command in the same folder I opened from the command line, the results come back in about 2 seconds.

[2021-04-29 04:33] martin-displayr commented on #122486
If it is also useful here is the output (with code removed, sorry!)

[code]

[2021-04-29 04:35] martin-displayr commented on #122486
Finally after a very log wait (not sure how long between 5-10 minutes) the results show up in vscode, matching those above.

Hope this helps!

[2021-04-29 04:41] GenerationArdvark opened #122619 "changing theme"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-04-29 04:42] #122619 closed

[2021-04-29 04:58] Eskibear commented on #119097
For those who want to try this new feature, I just want to mention that, setting `workbench.welcomePage.experimental.extensionContributions` to `true` (for the insiders built on 2021/04/28) is a pre-requisite. Otherwise you don't see anything.

[2021-04-29 05:17] kaimatrix19821 commented on #118584
@RandomFractals
You probably don't know this, hence the reason for your response. The author or restbook is a PM in VS Code team . They are using `concrete custom notebook extensions and renderers, perhaps kernels too,`. they are working closely with a number of external teams extension authors.
stop making assumptions
and if downvoting someone make some suggestions instead, be constructive

[2021-04-29 05:29] sandy081 commented on #122544
You are right, we cannot stop user if user wants to use settings.json. But the UI should not be allowing any modification action for a restricted setting. So, it would be nice if we can disable the reset action. I am reopening it to consider this request.

[2021-04-29 05:39] whippingdot commented on #122584
Sorry if this is a dumb question but how do I create a zip archive? And also how do I provide it to you...can I send that type of file in a comment?

[2021-04-29 05:43] eamodio commented on #122463
I hit the same issue -- took me a bit to realize the path was wrong.

[2021-04-29 05:53] eamodio opened #122621 "Getting started markdown images from https don't seem to display"
Testing #122275

I tried using GitLens' README.md as a getting started media file, and none of the images loaded -- all are broken links.

[2021-04-29 05:54] eamodio opened #122622 "Getting started markdown links don't work"
Testing #122275

I tried using GitLens' README.md as a getting started media file, and none of the links work -- external links, nor links within the same markdown file. Command lines also didn't work.

[2021-04-29 06:05] PEZ commented on #120251
@RandomFractals, it needs to be configured in User settings.

[2021-04-29 06:07] bpasero commented on #122596
Not sure, sounds a bit like https://github.com/microsoft/vscode/issues/82592

[2021-04-29 06:10] bpasero commented on #83606
Just make sure to not accidentally allow to pinch zoom on the desktop. We don't want people to zoom into parts of VSCode on desktop.

[2021-04-29 06:13] JacksonKearl commented on #122598
The current state should be described in present tense and the alternative state should be described in future tense imo.

[2021-04-29 06:13] bpasero commented on #122587
/gifPlease

[2021-04-29 06:14] bpasero commented on #122588
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2021-04-29 06:22] joyceerhl commented on #122584
@whippingdot You can create a zip archive by opening the file explorer, selecting the ipynb file and using the Zip button under the share tab:
![image](https://user-images.githubusercontent.com/30305945/116509505-44475700-a878-11eb-8863-cd49d4d8ed00.png)

You can then attach the zip archive to a comment in this thread by dragging and dropping, selecting or pasting it.

[2021-04-29 06:23] whippingdot commented on #122584
I know you can attach files by doing that - I just didn't know if .zip files would work in GitHub

[2021-04-29 06:24] whippingdot commented on #122584
[Assignment Answers.zip](https://github.com/microsoft/vscode/files/6396661/Assignment.Answers.zip)

Here you go

[2021-04-29 06:55] alexdima commented on #122604
@hmxulex Could you please add a screenshot? Does the problem reproduce when launching with `--disable-gpu` ?

[2021-04-29 06:57] alexdima commented on #122583
Please open an issue directly against the python extension at https://github.com/Microsoft/vscode-python

[2021-04-29 06:58] bpasero opened #122623 "Cleanup legacy recently opened code"
Just came across this code:

https://github.com/microsoft/vscode/blob/d89e8cd27ce9a7b16c00c48886ac66aa814f7a76/src/vs/platform/workspaces/common/workspaces.ts#L443-L448

Wondering whether by now we can remove the backwards compatibility and just expect our latest interfaces.

[2021-04-29 06:58] eamodio opened #122624 "Getting started command:toSide seems quite strange to me"
Testing #122275

I understand the intent of `command:toSide`, but it feels awkward and like it would only work with very specific commands.

[2021-04-29 06:59] #122275 closed

[2021-04-29 07:01] #122602 closed

[2021-04-29 07:01] betomaki commented on #122498
Hi!
Awesome! It worked in the Insiders build and fantastic! The new look is pretty nice!
Thanks Daniel,

Best regards,

Humberto

    Em quarta-feira, 28 de abril de 2021 10:49:27 BRT, Daniel Imms ***@***.***> escreveu:

Closed #122498.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-04-29 07:02] jrieken commented on #122595
/duplicate of https://github.com/microsoft/vscode/issues/122480

[2021-04-29 07:02] #122583 closed

[2021-04-29 07:03] #122595 closed

[2021-04-29 07:05] jrieken commented on #122467
Doesn't reproduce for me. Adding @bpasero for insights when this could happen

[2021-04-29 07:09] #122210 closed

[2021-04-29 07:11] bpasero commented on #122467
We only restore backups if you open the same workspace, in this case opening just the file will open an empty workspace.

[2021-04-29 07:11] #122467 closed

[2021-04-29 07:12] sandy081 commented on #121757
@hancockjt May I know the link you are mentioning about is the one from Marketplace website?

[2021-04-29 07:12] theolouvel opened #122625 "Focus doesn't fully switch to VSCode if right-clicking in the file explorer tab. Enables file renaming but input still goes to the other focused window"
- VS Code Version: Version: 1.55.2
- OS Version: macOs Big Sur Version 11.3

Steps to Reproduce:

1. Open VSCode
2. Open any other window
3. **Switch focus** to the other window by clicking on it
4. While focused on the other window, **right-click on any file or folder in the explorer and select "Rename"**
5. The focus *seems* to be on the file explorer and the UI enables file renaming, but if you

[2021-04-29 07:13] jrieken commented on #122467
What? So we accept this as data loss case?

[2021-04-29 07:14] bpasero commented on #122467
This is not data loss. You can always get back to the contents when you open the workspace again.

[2021-04-29 07:16] sandy081 opened #122626 "extensions.supportVirtualWorkspaces is not "live""
From @JacksonKearl

Edits to `extensions.supportVirtualWorkspaces` require reload, ideally they'd be "live", but at least I'd expect a notification that reload is required.

[2021-04-29 07:16] sandy081 commented on #122626
Also true for `remote.extensionKind` setting

[2021-04-29 07:17] jrieken commented on #122467
Ah, now I see. I leave a file from workspace A dirty and if open workspace A the dirty-state is restored, but if I only open that file it isn't.

[2021-04-29 07:21] bpasero commented on #122467
Yeah, so a bit more background: a long time ago we used to aggressively restore every workspace that had dirty files in them as a way to ensure you always see these workspaces. Then due to some changes we broke this and stopped restoring these workspaces for like 6 months. We then wanted to bring this back but it resulted in lots of users getting hundreds of windows to open that accumulated so we

[2021-04-29 07:29] sandy081 commented on #122132
I am sorry that it was not clear to me in the description. So your steps were as follows (please correct me if I am wrong) ?

- On a brand new machine, you opened VS Code insiders
- Turned on Settings sync which triggered the auth
- You got an error from Auth `Firstly I hit a vscode-auth.github.com error which told me to restart the install flow (I think this is a known issue as I've hit it before

[2021-04-29 07:30] sandy081 commented on #122448
Agreed, there is similar requirement for virtual workspaces.

[2021-04-29 07:31] navneetkarnani opened #122628 "Typescript server crashed 5 times"
Issue Type: <b>Bug</b>

Was editing two files side-by-side, in a docker container derived from node:14, with additional unix commandline applications installed, that don't impact the code in question, and using yarn as the package manager.

VS Code version: Code 1.55.2 (3c4e3df9e89829dce27b7b5c24508306b151f30d, 2021-04-13T09:36:32.643Z)
OS version: Darwin x64 20.4.0
Remote OS version: Linux x64 5.

[2021-04-29 07:35] lszomoru commented on #122448
@sandy081, is this something that you will address or you want me to look at?

[2021-04-29 07:36] sandy081 commented on #120340
To verify:

- Install an extension from CLI using `--do-not-sync` flag. Eg: `code-insiders --install-extension pub.name --do-not-sync`
- Make sure this extension is not synced - Verify that in extensions view this extension is marked as not synced.

[2021-04-29 07:36] j0k4rX commented on #122508
@IllusionMH if i wanted the keys to work inside vscode (without `shift` key in front)
what can i do for that?

[2021-04-29 07:38] sandy081 commented on #122448
I would look into this as it is also needed for virtual workspaces.

[2021-04-29 07:42] alexdima opened #122629 "Localization test failed in smoketest"
Please see https://dev.azure.com/monacotools/Monaco/_build/results?buildId=116212&view=logs&j=3792f238-f35e-5f82-0dbc-272432d9a0fb&t=2912d057-d0f3-5270-1d09-777eeaba2eea&s=0b07720d-539f-5e8e-7a21-42d3d721992e

(Attempt 1 on macOS)

[code]

[2021-04-29 07:47] isidorn commented on #119110
@digitarald yes, I have this on the plan for today, here's the item tracking this https://github.com/microsoft/vscode/issues/122079
Thanks

[2021-04-29 07:48] #122586 closed

[2021-04-29 07:49] isidorn commented on #83714
@mjbvz Thanks for the pointer, I will take a look in May and let you know what I find out.

[2021-04-29 07:49] isidorn commented on #108824
@roblourens yeah, other context menus across the workbench work just fine.

[2021-04-29 07:50] #122568 closed

[2021-04-29 08:06] bpasero opened #122630 "macOS: quit fails to work if any window has a modal dialog opened"
Steps to Reproduce:

1. have 2 windows open
2. in one window bring up a modal dialog (for example File > Open...)
3. hit `Cmd+Q` to quit

=> all windows that do not have a modal dialog close properly
=> the window with modal dialog stays open

If I close the dialog and try to quit, it does not work anymore.

I am struggling how to resolve this and also found this seems to be an issue in a simple h

[2021-04-29 08:13] joaomoreno commented on #122612
Can you show me a screenshot of the error?

Where are you located?

[2021-04-29 08:20] bpasero commented on #122360
I can open the text editor, but clicking on Hex editor does nothing:

![recording](https://user-images.githubusercontent.com/900690/116521620-78e8fc00-a8d4-11eb-93c1-2020a8d26892.gif)

[2021-04-29 08:20] felixhao28 opened #122631 "vscode.Uri.parse handles escaped plus sign "%2B" as unescaped."
- VS Code Version: 1.56.0-insider
- OS Version: Windows 10 Build 21364

Steps to Reproduce:

[code]

1. Use the above code in a VSCode extension project.
2. Notice `vscode.Uri.parse` parses "%2B" into "+".

Does this issue occur when all extensions are disabled?: Yes

[2021-04-29 08:23] bpasero commented on #122393
Should we try to emulate the native OS dimming if possible? For example on macOS:

![image](https://user-images.githubusercontent.com/900690/116521880-d11ffe00-a8d4-11eb-9adf-95af7bd9164c.png)

vs

![image](https://user-images.githubusercontent.com/900690/116521973-ebf27280-a8d4-11eb-914f-f72977a08302.png)

[2021-04-29 08:25] FallenLeaf54 opened #122632 "File encoding is improperly selected when using "Open with Code" from context menu"
- VS Code Version: 1.55.2 (user setup)
- OS Version: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. Create a sample text file with an extension indicating a programming language which prefers some non-Unicode encoding (in my case it's a BAT file with encoding `cp852`, which I will be using here as an example).
2. Configure VS Code to use this encoding every time a BAT file is opened by placing

[2021-04-29 08:26] jrieken commented on #122627
@lramos15 In my editor and diff-editor handler I need to check if the scheme of the given resource is supported by our file systems, so essentially have

[code]

However, you don't allow we return undefined or anything that says "I actually don't handle this resource, it only looked like it at first"

[2021-04-29 08:29] akosyakov commented on #122567
/verified

[2021-04-29 08:29] alexdima commented on #119463
I suggest that we also offer some kind of API which says "show notification if no other notifications are currently shown".

For example, here's what I got today. The survey notification should really not show at the same time when 2 other notifications are shown.
<img width="491" alt="Screen Shot 2021-04-29 at 10 28 24" src="https://user-images.githubusercontent.com/5047891/116522616-ae421980-a8d

[2021-04-29 08:30] bpasero commented on #122520
Well, we could do browser detection and still use `dialog` where supported to get the best experience. I would also think that using `dialog` elements has some impact on accessibility / screen readers.

[2021-04-29 08:32] #122194 closed

[2021-04-29 08:33] theking2 opened #122633 "View: Toggle Menu Bar not in compliance with documentation"
We have written the needed data into your clipbo
Issue Type: <b>Bug</b>

The behaviour described in https://github.com/microsoft/vscode/issues/122094 is not implemented as such. Instead of toggle it changes the "window.menuBarVisibility" to compact. This does is currently not implemented as such. The Alt key has no effect.

Btw this has only slightlty to do with https://github.com/microsoft/vscode

[2021-04-29 08:33] bpasero opened #122634 "Test extension needs a window reload to find tests in vscode repo"
Steps to Reproduce:

1. open `vscode` as folder
2. install our selfhost test extension

=> 🐛 tests are only showing up in the view after a window reload

[2021-04-29 08:35] alexr00 commented on #122613
@rtzoeller could you point me to some documentation about `.mak` please?

[2021-04-29 08:35] joaomoreno commented on #122520
![recording (22)](https://user-images.githubusercontent.com/22350/116523565-38b15b80-a88b-11eb-8708-e61226780913.gif)

[2021-04-29 08:40] VishnuSuresh2000 opened #122635 "Integrated Terminal is not opening in VScode in POP!_OS 20.10"
- VS Code Version: 1.55.2
- OS Version: Linux x64 5.11.0-7614-generic

Vscode terminal is not opening (bash/zsh).
Only a blank screen with one cursor is displaying in it
![Screenshot from 2021-04-29 14-08-24](https://user-images.githubusercontent.com/40515440/116523975-75fe0380-a8f4-11eb-8bbe-15e5d5c315b0.png)
![Screenshot from 2021-04-29 14-09-25](https://user-images.githubusercontent.com/4051544

[2021-04-29 08:40] polinasok commented on #116731
We have this field marked as omitempy in our Go-to-json spec that we automatically generate from the dap schema. So when we receive a false (empty) value and then log it as json, it gets dropped.

[2021-04-29 08:44] benjaminsuch commented on #93437
I got the error in one of my NextJS projects, when I use `yarn dev`. Turns out (I use Windows), that I used the wrong node version. My project was using version 12 and nvm was using 10. Switching to 12 solved the issue.

It's not related to VSCode tasks, but I just wanted to add my two cents here, in case someone has the same issue.

[2021-04-29 08:46] joaomoreno commented on #122412
I would argue that it is. An empty folder name should be a validation error and pressing <kbd>Enter</kbd> on that situation should be a no-op. Why on earth would you consider causing this pain to a user?

[2021-04-29 08:51] joaomoreno commented on #122539
I just tried this in Ubuntu 18.04 and I can't reproduce. Can you run with `--verbose` and see if there's any additional info?

Also, can you check if any code processes are running with `ps ax | grep code-insiders`?

[2021-04-29 08:52] joaomoreno commented on #122249
@digitive Can you please provide a [screen recording](https://gifcap.dev/)?

[2021-04-29 08:57] schuelermine opened #122636 "Opening the dropdown menu for creating a new terminal immediately triggers the option your cursor hovers over thereafter"
Issue Type: <b>Bug</b>

1. Click on the dropdown next to the plus icon that would add a new terminal
2. The “Select your default terminal profile” menu appears

VS Code version: Code - Insiders 1.56.0-insider (13f1afffab09548c10ddb3bc5d5db52587876ad8, 2021-04-28T04:52:56.570Z)
OS version: Linux x64 5.11.0-7614-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R)

[2021-04-29 08:57] schuelermine commented on #122636
@vscodebot nope

[2021-04-29 08:58] schuelermine commented on #122636
Video demonstration:
https://user-images.githubusercontent.com/48802534/116526362-d03d9b00-a8d9-11eb-8530-594f1c762650.mp4

[2021-04-29 08:59] bpasero commented on #119666
This opens an empty group but does not move the editor, I think we explicitly decided to do this.

[2021-04-29 09:02] bpasero opened #122637 "Hex editor: open untitled file as hex should turn document dirty"
Steps to Reproduce:

1. open an untitled file and make it dirty
2. pick _Hex Editor: Open Active File in Hex Editor_ (or "Reopen editor with...")

=> 🐛 the hex editor opens but not dirty, I think it should be dirty given it is untitled and has user typed contents.

![image](https://user-images.githubusercontent.com/900690/116526918-61ad0d00-a8da-11eb-8c3a-cb82ba2a24bc.png)

[2021-04-29 09:02] bpasero commented on #122637
This is arguably data loss, so I am tempted to mark "important".

[2021-04-29 09:04] bpasero commented on #122637
![recording (1)](https://user-images.githubusercontent.com/900690/116527157-ad5fb680-a8da-11eb-8e79-9a226a213ed8.gif)

Yeah I think this is pretty bad, so marking "important".

[2021-04-29 09:10] bpasero commented on #122632
/duplicate https://github.com/microsoft/vscode/issues/39084

[2021-04-29 09:10] #122632 closed

[2021-04-29 09:11] lszomoru commented on #122330
The intellisense should include all extensions that have a `main` property independent whether they support untrusted workspaces or not so that the user has full control to override the value. So that fact that the references view extension is included in the list of suggestions is by design.

Intellisense is currently provided through a built-in extension and as far as I can tell, extensions only

[2021-04-29 09:12] bpasero commented on #111605
i have actually never gotten an issue for this, so I will close it. not so straight forward as I had hoped...

[2021-04-29 09:12] #111605 closed

[2021-04-29 09:14] isidorn commented on #119463
@alexdima good point, we already have discussions bout this here, I outline the same point in this comment https://github.com/microsoft/vscode/issues/121802#issuecomment-824857419
Though this holds particularly true for survey notifications

[2021-04-29 09:19] isidorn commented on #122625
This is a long standing electron issue. I know there is a duplicate however I do not know which issue it is.
If you want to find the dupliacte I suggest you search through our exisitng issues. Thanks

[2021-04-29 09:19] #122625 closed

[2021-04-29 09:19] Advik875 opened #122638 "Terminal not looking right"
Issue Type: <b>Bug</b>

The terminal appears to be glitched. The cursor is in between the words and the words are stretched. The cursor moves along as I type but behind. For example-
![image](https://user-images.githubusercontent.com/70125631/116528971-0db22080-a8fa-11eb-95b5-6be9bd3228c8.png)
In this image I am at the end of the word annoying but my cursor is behind.

VS Code version: Code 1.55.2

[2021-04-29 09:21] theolouvel commented on #122625
I thought it might be, but I couldn't find a duplicate... Thanks for the quick response anyway!

[2021-04-29 09:22] matepek commented on #107467
@connor4312  TestItemOptions's `uri` seems mandatory. Should I pass `null` when I don't have?

[2021-04-29 09:28] dbaeumer commented on #122629
Might be caused by some re-layouting of the workbench. Let me investigate.

[2021-04-29 09:28] alexdima commented on #122508
@j0k4rX If the OS consumes a keybinding, there is nothing VS Code can do. You can try looking online for how to disable OS hotkeys.

[2021-04-29 09:28] #122508 closed

[2021-04-29 09:30] alexdima commented on #122629
@dbaeumer Some flakiness has been reported about the smoke tests around the welcome page, not sure if that one can impact multiple tests or just the data migration one -- see https://github.com/microsoft/vscode/issues/122317#issuecomment-827609291

[2021-04-29 09:30] VishnuSuresh2000 commented on #122635
The integrated terminal is working now ...
That completely removed all the files related to VSCode from the user. where presented in ~/.config/code and ~/.vscode
And reinstalled the VSCode

[2021-04-29 09:30] #122635 closed

[2021-04-29 09:32] joachim-n commented on #122516
That setting seems weird. Particularly for the file open -- why would you ever want it to do that?

[2021-04-29 09:33] IllusionMH commented on #122638
/duplicate of #120004

[2021-04-29 09:33] alexr00 commented on #120388
I installed the following:

ms-vscode.test-adapter-converter
hbenl.vscode-test-explorer
hbenl.vscode-mocha-test-adapter

Then I opened the test view:

![image](https://user-images.githubusercontent.com/38270282/116530439-552ab380-a8de-11eb-8f0e-99462709077f.png)

And the error is:

[code]

I have zero knowledge of the test work that has been going on in VS Code, so even steps that are embarrassing

[2021-04-29 09:34] #122638 closed

[2021-04-29 09:34] jrieken opened #122639 "Placeholders for execution order don't update when switching controller"
* have two controller for a notebook
* controller A uses execution order
* controller B does not use execution order
* have A selected
* switch to controller B
* 🐛 editor still shows execution order or its placeholders

[2021-04-29 09:46] #122079 closed

[2021-04-29 09:46] isidorn commented on #122079
Search is further improved by removing `sort:installs`, also the query is more easily readable thus removing it.
@connor4312 thanks for changing `tags` to be `category`

[2021-04-29 09:49] dbaeumer commented on #122629
I ran the test locally under Linux and the Localization test passed for me. Looking at the Insider build the Localization smoke test passed in later attempts (see https://dev.azure.com/monacotools/Monaco/_build/results?buildId=116212&view=logs&j=36c106ee-c497-5c4b-1441-e4117ec0825b&t=c76fe90b-63fd-5d48-a2d7-a0c27f2c2ae9)

So I don't thing that this is a general issue with the Localization smoke te

[2021-04-29 09:50] hupo376787 opened #122640 "Debug and run flutter app on a phone(android / ios) wireless"
Is it possible to debug and run the flutter app on a phone(android / ios) wireless, currently I have to connect via a USB cable.

Thanks.

[2021-04-29 09:50] jrieken commented on #122631
This unfortunately cannot be fixed any more: An explainer can be found here: https://github.com/microsoft/vscode/issues/83645#issue-514539421

[2021-04-29 09:50] #122631 closed

[2021-04-29 09:50] #122354 closed

[2021-04-29 09:56] isidorn commented on #120882
Fixed via ed5d4a1329a

[2021-04-29 09:56] #120882 closed

[2021-04-29 09:57] isidorn commented on #117967
After recieveing negative feedback from users regarding this change I had to revert it.
More about the feedback can be found here https://github.com/microsoft/vscode/issues/120882

Reopening this as a feature request, and if enough users are interested I will add a setting.

[2021-04-29 10:06] dbaeumer commented on #122524
@RMacfarlane thanks a lot for the pointer. I agree an indication that `menu` is an incorrect property would have solved this.

[2021-04-29 10:06] AlexDev2020 commented on #119307
@joaomoreno
Hello. I noticed one unpleasant thing with this behavior.

Due to the fact that the update is downloaded when the update is checked, the following happens. A new version was released, vs code downloaded the update, but then a new version came out and in this situation I will have to update 2 times for one place. That is, the download and installation will be performed 2 times, which is

[2021-04-29 10:09] dbaeumer commented on #122102
Did some additional testing after @RMacfarlane hint in #122524

[2021-04-29 10:12] jrieken commented on #122415
That is good to hear and also sounds reasonable to me. In my (simplified?) mental model jupyter does the following

1. When being activated find jupyter-kernels and create corresponding notebook controllers
2. When notebook documents (ipynb) are being opened set affinity and optimistically pre-warm kernel etc
3. When a pre-warmed kernel is not used, then tear it down after some time has passed

Fo

[2021-04-29 10:17] paul-uz opened #122641 "No error highlighting for non-existant function"
Consider the simple code below, written for AWS Lambda:

[code]

`validate()` is not yet implemented, yet VSCode does not alert me to that fact. In the below screenshot, there is no highlight in regards to calling `foobar.validate()`

<img width="663" alt="Screenshot 2021-04-29 at 11 17 02" src="https://user-images.githubusercontent.com/73826774/116536158-7e4a4480-a8dc-11eb-9db4-c31f3b2dfbca.png">

[2021-04-29 10:25] DavidePapa commented on #122618
Hi, same problem.

**uname -a **
Linux ku 5.4.0-72-generic #80-Ubuntu SMP Mon Apr 12 17:35:00 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

**VSCode About**

Version: 1.55.2
Commit: 3c4e3df9e89829dce27b7b5c24508306b151f30d
Date: 2021-04-13T09:37:02.931Z
Electron: 11.3.0
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Linux x64 5.4.0-72-generic

**temporary fix**
You can fix splitti

[2021-04-29 10:30] jrieken commented on #122415
Replying to myself: ✔️ did that, even with a single controller you can pick (and select) that controller

[2021-04-29 10:38] TASMark opened #122642 "kivy disabled?"
We have written the needed data into
Issue Type: <b>Performance Issue</b>

Learning to use kivy for the first time, was working until Visual studio pop up a message. I didn't read it properly and now kivy won't work as it says that its been disabled and I don't know how to enable it again.
Error Message;
& : File C:\Users\spard\OneDrive\Documents\Visual Studio 2017\Python\kivy_venv\Scripts\Activat

[2021-04-29 10:39] #122642 closed

[2021-04-29 10:55] pybash1 commented on #121928
????

[2021-04-29 11:07] matepek commented on #122208
[code]
any meant to be T I guess.

[2021-04-29 11:09] PEZ commented on #120251
@sbatten In testing this out a bit I notice that so far the use case in my extension that I fear would be messed up by Trusted Workspaces actually is not impacted at all.

My extension (Calva) has a command that allows the user to test Clojure out easily. It does this by creating a directory in the system Temp directory, adds a few files there, and then starts a Clojure REPL from the directory.

I

[2021-04-29 11:18] akosyakov opened #122644 "[simple-browser] open to left"
I have a use case where the simple browser should open a resource which can call code CLI to open a file on a user action. The issue is that I would like to open such file to left relative to the simple browser, but currently the file is opened in the same editor group as the simple browser.

I was thinking to implement a VS Code extension which does it instead of directly relying on code CLI, but

[2021-04-29 11:20] jrieken commented on #119866
verified, but there is still an issue with output: https://github.com/microsoft/vscode/issues/121807

[2021-04-29 11:23] isidorn commented on #122640
Please file against the durt / flutter extension
@dantup

[2021-04-29 11:23] #122640 closed

[2021-04-29 11:26] jrieken commented on #122359
well, the screen cheese is gone but now there is flicker...

[2021-04-29 11:27] #121879 closed

[2021-04-29 11:27] #121870 closed

[2021-04-29 11:27] #121843 closed

[2021-04-29 11:27] #121771 closed

[2021-04-29 11:27] jrieken opened #122645 "Should clear cell/notebook reset error state?"
* open `my-endgame.github-issues`
* repeatedly run the whole notebook so that get quota errors
* press clear notebook
* there error output goes away, the error status remains

https://user-images.githubusercontent.com/1794099/116543824-a2af1c80-a8ee-11eb-8d8e-259c2b6123f2.mov

[2021-04-29 11:27] #121253 closed

[2021-04-29 11:28] #119891 closed

[2021-04-29 11:30] DanTup commented on #122640
@hupo376787 for Android, this is possible if you enable remote access to ADB on your phone (note: there are security implications of this - only do it on a secure network and turn it off when not using it):

https://medium.com/what-the-flutter/flutter-app-testing-over-network-sans-usb-connection-a6e472c8ac42

For iOS, it's not currently supported (this is a limitation of Flutter tooling rather tha

[2021-04-29 11:39] jrieken commented on #121723
Better, but not gone...

https://user-images.githubusercontent.com/1794099/116545052-36cdb380-a8f0-11eb-9582-113e9ecfa740.mov

[2021-04-29 11:40] hupo376787 commented on #122640
@DanTup @isidorn Thx, guys.

[2021-04-29 11:43] schuelermine commented on #122637
Maybe this should be reported in [microsoft/vscode-hexeditor](https://github.com/microsoft/vscode-hexeditor) instead?

[2021-04-29 11:44] FallenLeaf54 commented on #122632
@bpasero So basically in November it's going to be **four** years since the issue has been known, you confirmed the bug yourself in the linked 2017 bug report.
What's more, it has been reported by multiple users time and time again over this time and each thread was closed down by bots, marked duplicate so other developers have no chance of seeing (who's going to comb through closed duplicate thre

[2021-04-29 11:45] nejsimon opened #122646 "Vscode sometimes crashes when pressing backspace in the "go to file" view"
Issue Type: <b>Bug</b>

Occasionally when in the "go to file" view pressing backspace causes vscode to close. There's no crash message or anything, the window just closes and I have to restart vscode. It has never happened when pressing backspace in the editor.

Checking the main log there's often this message logged right before the crash (but sometimes not):

[code]

This problem happens occasio

[2021-04-29 11:48] Tyriar commented on #122551
Think I broke something here, this is what I see regardless of `terminal.integrated.tabs.hideCondition` value on today's insiders

![image](https://user-images.githubusercontent.com/2193314/116546004-f9dccf00-a8a5-11eb-87bb-141b497fe4d3.png)

[2021-04-29 11:49] jrieken opened #122647 "Add more implicit controller select reasons"
When a notebook has a single suggested controller we implicitly select it upon running cells. We should consider more of such implicit triggers like

* adding a new (code) cell
* interacting with a code cell (use language features)
* typing in cells
* more?

[2021-04-29 11:50] Dividedby0KSJ opened #122648 "f2 Rename does not work if another VSCode window is open (python)"
Issue Type: <b>Bug</b>

The rename function "F2" works as intended when using only 1 window of VScode.
Opening another window of VScode using 'Ctrl + K' Then 'O' key
The new window will not be able to use the 'F2' Rename function and will say "No Result" but the first window will still work as intended even though its the same code same file

the files are python if that is any relevance

VS Code

[2021-04-29 11:58] isidorn commented on #122426
Fixed by either @lszomoru or @sbatten
Thanks

![Screenshot 2021-04-29 at 13 58 04](https://user-images.githubusercontent.com/1926584/116547264-f58ad300-a8f2-11eb-9550-bfb98bffb998.png)

[2021-04-29 11:58] #122426 closed

[2021-04-29 11:58] bpasero commented on #122637
Yeah I wasn't sure if this is a generic problem in VSCode or specific to the extension.

[2021-04-29 11:58] kt-unzner commented on #46403
@narze How can it be managed in this way to hide all icons exept some chosen ones? (or to select which icons to hide)

[2021-04-29 12:07] narze commented on #46403
@kt-unzner My css is to hide all except the ones in `:not()` pseudo selector. If you want more than one icons to be excluded from hiding, I think you can chain them like this ([Ref.](https://css-tricks.com/css-not-with-multiple-classes/))

[code]

For selecting icons to hide is is way easier since you can select them one by one, see above comments.

[2021-04-29 12:16] hmxulex commented on #122604
Hi I started vscode with "code ."

    On Thursday, April 29, 2021, 02:56:00 AM EDT, Alexandru Dima ***@***.***> wrote:

@hmxulex Could you please add a screenshot? Does the problem reproduce when launching with --disable-gpu ?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-04-29 12:23] komonad opened #122649 "Middle click reference trigger goto definition"
Just middle click the identifier then it can provides the the same functionality as Ctrl + left click (goto definition or find usage)

The feature is available on JetBrains IDEs and I find it very useful when I just do not want to touch the keyboard for the Ctrl button.

Also, I wonder if some mouse related shortcut can be customized

[2021-04-29 12:24] jrieken commented on #122647
//cc @colombod

[2021-04-29 12:28] kt-unzner commented on #46403
Ok that was the trick that was missing, thanks! :+1:

I also have had a look on your earlier comments, but that was not working for me.
No I figured out that it was just because I have a different keyboard shortcut for that function, so the button text differs :see_no_evil:

[2021-04-29 12:29] bpasero commented on #122604
/gifPlease

[2021-04-29 12:30] alexr00 commented on #120277
I'm not able to repro the original issue to verify. I set `workbench.list.horizontalScrolling` to `true`, but in 1.55 on Windows the scrollbar is still the correct size.

[2021-04-29 12:30] IllusionMH commented on #122649
Looks related to #3130

[2021-04-29 12:34] #122353 closed

[2021-04-29 12:36] luluyuzhi opened #122650 "When touch the button on touch screan, The terminal pannel show new terminal with flashing drop-down menu ."
- VS Code Version: 1.56.0 , main branch
- OS Version: Windows 10 20H2
- Device: Surface Laptop 3

Steps to Reproduce:

1. When touch the button on touch screan, The terminal pannel  show  new terminal with  flashing  drop-down menu .

![bug](https://user-images.githubusercontent.com/76699099/116551144-3225f100-a92a-11eb-86de-38c901f08714.gif)

Does this issue occur when all extensions are disabled

[2021-04-29 12:38] isidorn commented on #122353
And here's the wording

![Screenshot 2021-04-29 at 14 38 44](https://user-images.githubusercontent.com/1926584/116551835-9def6600-a8f8-11eb-9b42-f0aedf9b1ef0.png)

[2021-04-29 12:42] sandy081 commented on #120274
@DonJayamanne I just tried to install the Jupyter extension in stable and it works as expected. By this I mean

- It shows the latest version that is available in MP

<img width="366" alt="Screenshot 2021-04-29 at 18 09 14" src="https://user-images.githubusercontent.com/10746682/116551958-1dd7f900-a916-11eb-92c8-9e8d45a1600f.png">

- When asked to install, VS Code installs the latest compatible ve

[2021-04-29 12:47] jrieken opened #122651 "Trusting `/` doesn't work for codespaces"
* have `/` as trusted path for Codespaces host
* open a codespace
* :bug: you get the trust dialog

<img width="1263" alt="Screenshot 2021-04-29 at 14 45 38" src="https://user-images.githubusercontent.com/1794099/116552717-9e3c3100-a8f9-11eb-94f0-05bdd5c47168.png">

[2021-04-29 12:47] lszomoru commented on #119766
A long title still seems to push the contents outside. Am I missing something?

<img width="429" alt="image" src="https://user-images.githubusercontent.com/3372902/116552811-ba3fd280-a8f9-11eb-81d4-ab4e1ca3c254.png">

[2021-04-29 12:48] isidorn commented on #122326
Weird, this just works for me. Both in Codespaces and by running `resources/server/web.sh`

@Tyriar what do you different than this

Ctrl + R -> get a list of recent project
Cmd + Click on some to get in a new tab -> no popup for me it just works

[2021-04-29 12:49] akosyakov opened #122652 "[web] expose api to customize generation of machine id and label"
Currently in Gitpod or Codespaces it looks like:
<img width="361" alt="Screenshot 2021-04-29 at 14 47 24" src="https://user-images.githubusercontent.com/3082655/116552880-d3488380-a8f9-11eb-87ca-9ce8f8923ef7.png">

It would be nicer if the machine label reflected the origin and machine id could point to the underlying workspace, in Gitpod case we would like to remove such records if the workspace

[2021-04-29 12:49] isidorn opened #122653 "Mouse selection not working"
As we noticed yesterday with latest iOS the external mouse selection does not seem work.
Creating issue so we have this on the radar.

Once we investigate we could create a WebKit issue

[2021-04-29 12:50] sandy081 commented on #119375
It seems like following error is coming from recommendations.

`querying extensions gallery Cannot read property 'toLowerCase' of undefined`

[2021-04-29 12:53] alexdima commented on #122629
cc @joaomoreno What should we do in case of smoke test flakiness ?

[2021-04-29 12:55] TeunSpithoven opened #122654 "Shared node terminal"
Issue Type: <b>Bug</b>

Go in a live share node.js project
Ask terminal write actions
When you type,  each character you enter will create a new line in de terminal, so you can't really see what you are typing.

VS Code version: Code 1.55.2 (3c4e3df9e89829dce27b7b5c24508306b151f30d, 2021-04-13T09:35:57.887Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Val

[2021-04-29 12:56] jrieken opened #122655 "Trust dialog wording suggestions"
In the name of [Plain English](https://en.wikipedia.org/wiki/Plain_English) is would remove "advanced" and also "editing" from the sentence above. Also, I'd make it clear that files "from" the workspace/folder are executed, "in" might suggest they are executed in the context of this folder

"Code - Insiders provides ~~advanced editing~~ features that may automatically execute files ~~in~~ _from_ t

[2021-04-29 12:57] alexdima opened #122656 "Close tab button is not centered"
When hovering with the mouse over the `x`, the rectangle around the `x` is not centered left-right in the whitespace, it touches the right side of the tab while leaving a large gap to the left:

![image](https://user-images.githubusercontent.com/5047891/116541244-82ca2980-a8eb-11eb-9746-038fced237b8.png)

[2021-04-29 12:58] lszomoru commented on #122535
Something is till not right here. Here is what I am seeing now:
1. Open a folder that contains v1 tasks
2. Choose the trust the folder
3. In the background I see that the tasks were upgrade but I still see this dialog:
![image](https://user-images.githubusercontent.com/3372902/116554327-574f3b00-a8fb-11eb-8186-01c04eed9914.png)

[2021-04-29 13:00] phedlund113 opened #122657 "Remember Region Folding"
I would like it if the editor can remember the folding state of my code so when the file/project is opened the next day, the regions are in the state i left them.

[2021-04-29 13:01] #122649 closed

[2021-04-29 13:01] alexdima commented on #122648
Please report directly against the Python extension.

[2021-04-29 13:01] #122648 closed

[2021-04-29 13:05] isidorn commented on #122536
This just works for me in latest VS Code insiders.
Here are my steps:

1. VS Code insiders open starter extension sample
2. Dialog pops up -> you say trust it
3. Click on start debugging in debug view-> all works

Even if in the dialog I say "do not trust it" and later grant trust via trust editor this works
@joamoreno can you repro with todays insiders? Are you doing something different than me?

[2021-04-29 13:16] luluyuzhi commented on #122427
I want to know how toggle  attach.😢

[2021-04-29 13:19] isidorn commented on #111350
@alexdima can you please verify this?

[2021-04-29 13:20] hmxulex commented on #122604
I have a recording file now, how can I attach the file?

[2021-04-29 13:20] alexdima commented on #122556
I can reproduce. I think this came in via https://github.com/microsoft/vscode/pull/79329

[2021-04-29 13:21] isidorn commented on #117068
This works great now, thanks -> verified

[2021-04-29 13:21] rtzoeller commented on #122613
Hi @alexr00,

I've updated the pull request description with some additional information. Notably, [`.mak` is recognized by GitHub Linguist](https://github.com/github/linguist/blob/32ec19c013a7f81ffaeead25e6e8f9668c7ed574/lib/linguist/languages.yml#L3282), which I consider to be a fairly canonical source.

I've not added any of the other file extensions recognized by GitHub Linguist for Make, as I

[2021-04-29 13:22] alexdima commented on #111350
Looks very good. Thank you!

![image](https://user-images.githubusercontent.com/5047891/116557356-a8acf980-a8fe-11eb-80ee-602750b63a9b.png)

[2021-04-29 13:22] isidorn commented on #120176
This is better now -> verified
However I created one follow up item based on feedback from @jvesouza

[2021-04-29 13:22] brianjmurrell opened #122659 "Latest update frequently "not responding; force quit""
- VS Code Version:
Version: 1.55.2
Commit: 3c4e3df9e89829dce27b7b5c24508306b151f30d
Date: 2021-04-13T09:37:02.931Z
Electron: 11.3.0
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Linux x64 5.11.15-200.fc33.x86_64

- OS Version: Fedora 33

Steps to Reproduce:

1. Open VS Code
2. Wait

Does this issue occur when all extensions are disabled?: I don't know.  Since it doesn't happ

[2021-04-29 13:24] isidorn commented on #122306
Adding verified label since this is now better aligned. However I suggest to not have a link and a Learn More button.
I suggest to just have a link to docs. Also 4 buttons is a bit too much
@lszomoru @sbatten  let me know if you would like me to create a new issue for this

![Screenshot 2021-04-29 at 15 23 59](https://user-images.githubusercontent.com/1926584/116557705-fcb7de00-a8fe-11eb-82c4-192d

[2021-04-29 13:25] isidorn commented on #111350
Great, thanks for verifying.

[2021-04-29 13:25] Neurrone commented on #120176
Is there a way for me to get a portable copy of a build containing these changes so I can go through the first time settings sync setup experience again without removing my current sync settings?

[2021-04-29 13:26] isidorn commented on #120176
@Neurrone I suggest to just start vscode insiders from the command line pointing to an empty user data dir. Like this `vscode-insiders --user-data-dir PATH_TO_SOME_EMPTY_FOLDER`

[2021-04-29 13:27] lramos15 commented on #122637
How do we mark files as dirty? This is using the new `untitledDocumentData` API I added last iteration to pass a byte array to the editor.

[2021-04-29 13:27] rtzoeller commented on #122613
Here are some additional examples which demonstrate inclusion of `.mak` files by `Makefile`s: https://github.com/search?q=filename%3AMakefile+include+.mak&type=code.

[2021-04-29 13:28] joaomoreno commented on #122536
I can repro yes. I am in WSL, that might affect it.

[2021-04-29 13:28] hmxulex commented on #122604
![recording (6)](https://user-images.githubusercontent.com/43009311/116558276-41c31c80-a8cd-11eb-9afc-c12ba60829c9.gif)

[2021-04-29 13:29] isidorn commented on #121193
Looks better with the border -> verified

[2021-04-29 13:30] joaomoreno commented on #122629
Disable the test and enable it once the flakiness is fixed.

Also consider removing these tests from the smoke test suite and into integration tests.

[2021-04-29 13:30] isidorn commented on #122536
@sbatten @lszomoru might it be that the Trust does not flow from the remote somehow? Did you get similar issues from other remote users?

[2021-04-29 13:33] mwblock9 opened #122660 "The TypeScript language service died unexpectedly 5 times in the last 5 Minutes."
Issue Type: <b>Bug</b>

Start VS Code Insiders and wait. Currently when I launch the latest version VS Code with no extensions enabled, VS Code Insiders constantly tries to initialize JS/TS language features. Eventually, VS Code Insiders will report that the initialization failed 5 times. That has lead to this report. This started happening within the past week.

VS Code version: Code - Insiders 1

[2021-04-29 13:33] isidorn commented on #122346
Works great now -> verified

[2021-04-29 13:36] isidorn commented on #122334
Delete terminal nicely keeps focus, however split terminal does not.
Steps:

1. Focus into terminal tab list
2. Using keyboard focus onto the split terminal action
3. Space -> terminal is split, focus is lost 🐛

[2021-04-29 13:37] jrieken opened #122661 "spawn very slow on macOS"
The extension host, esp Git seems very sluggish these days. The log shows that the extension host as stalled many times and it always points to `spawn`.

[code]

<img width="759" alt="Screenshot 2021-04-29 at 15 36 08" src="https://user-images.githubusercontent.com/1794099/116559460-c8ddb800-a900-11eb-8530-f8e65a29a41f.png">

[2021-04-29 13:39] isidorn opened #122662 "terminalTabsWidget: Cannot read property 'instanceId' of null"
I do not have steps sorry. However I was playing around with the terminal tabs widget and after some time I noticed the following exception in the console:

[code]

[2021-04-29 13:39] jrieken commented on #122661
[slow1.cpuprofile.txt](https://github.com/microsoft/vscode/files/6398982/slow1.cpuprofile.txt)

[2021-04-29 13:42] isidorn commented on #122332
I see the code changes which look good, however when I try this out the group is not applied to the aria label, it is the same as before.

I have a ZSH, one tab with one terminal, and another tabs with two terminals. And all their labels are just `zsh`

[2021-04-29 13:43] isidorn commented on #122329
Works great -> verified

[2021-04-29 13:44] hediet opened #122663 "Extension API Request: Send Custom Requests To TypeScript Language Service Plugins"
## Context
Some advanced VS Code extensions need access to the TypeScript AST or type/symbol information.
This includes advanced code actions that require parameters (e.g. reorder parameters), inline type information rendering or code map extensions.

Technically, such extensions could parse/typecheck TypeScript on their own. However, this is not only redundant work and very slow, but also has iss

[2021-04-29 13:44] alexr00 commented on #122613
That's good enough for me, thank you!

[2021-04-29 13:45] lramos15 commented on #122360
Wow, this issue is really stubborn I guess.

[2021-04-29 13:45] isidorn commented on #119564
I know @testforstephen has tried this out and confirmed it is good now -> verified

[2021-04-29 13:46] isidorn commented on #120188
@eamodio can you please verify this? Thanks!

[2021-04-29 13:46] alexr00 commented on #122535
Ugh. It looks like a race because tasks asks for trust before the user acks the first trust dialog. @lszomoru should workspace trust handle this, or should each user of trust try to handle this.

[2021-04-29 13:46] isidorn commented on #122353
Adding bug so we get this verified

[2021-04-29 13:47] isidorn commented on #122213
@eamodio can you please verify this? Thank you

[2021-04-29 13:47] isidorn commented on #121427
@sana-ajani can you please verify this? Thank you

[2021-04-29 13:50] OliverJAsh opened #122664 "Select all symbol highlights"
VS Code provides commands to navigate between (next/previous) "symbol highlights". However, there is no command to select all symbol highlights.

This is not the same as "Select All Occurrences of Find Match" because that might select too many things. For example:

[code]

In this example we only want to select the type declaration and annotation:

![image](https://user-images.githubusercontent.co

[2021-04-29 13:52] lszomoru commented on #122535
Good question. @sbatten, should the dialog "block" the workbench initialisation to avoid this?

[2021-04-29 13:53] altjx commented on #106981
Has there been any other alternative workarounds for this? For me, when changing the render type, it causes my terminal to be extremely slow, so watching logs and what not just take much longer.

[2021-04-29 13:57] bpasero commented on #122656
@alexdima do you use any tab related settings that are non default?

[2021-04-29 13:58] alexr00 commented on #120388
Just to add, I want to be able to test this because running tests is currently the only dev task I can't/don't use VS Code for and it will be great to have modern tools for this.

[2021-04-29 13:58] bpasero commented on #122646
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2021-04-29 14:00] bpasero commented on #122637
Ideally the underlying working copy of an editor indicates dirty and the associated editor input updates accordingly:

https://github.com/bpasero/vscode/blob/2f915a24b4093a0b995a79af3578ec6dbe76c3b4/src/vs/workbench/contrib/customEditor/browser/customEditorInput.ts#L159-L164

and

https://github.com/bpasero/vscode/blob/2f915a24b4093a0b995a79af3578ec6dbe76c3b4/src/vs/workbench/contrib/customEditor/

[2021-04-29 14:01] bpasero commented on #122604
Looks like an electron issue to me.

Can you see if it still reproduces when disabling the GPU support in VSCode? You can do that by running VSCode from the command line like this: `code --disable-gpu`

If that helps, you can permanently configure this option via:
* Command Palette search for "Configure Runtime Arguments"
* Set `disable-hardware-acceleration: true`
* Restart

[2021-04-29 14:01] lszomoru commented on #122535
@alexr00, for this milestone I wonder if we could to the following:
1. The code the upgrades the tasks should check for workspace trust but not ask for it
2. Use the event to listen to when workspace trust is given and do the task upgrade then

[2021-04-29 14:03] Tyriar commented on #122662
I have hit this before as well, at which point the terminal was broken completely. I think I was messing with moving location left/right at the time.

[2021-04-29 14:07] dengyaotriangle opened #122665 "Drag and drop files into terminal strips characters like \ " '"
- VS Code Version: 1.55.2
- OS Version: MacOS Catalina 10.15.7

Steps to Reproduce:

1. Select a file with some special character in its name e.g.  \ " '
2. Drag&Drop it into the intergrated terminal

For example, a file with the name `test " ' \ .txt` will end up like `'/Users/dengyaotriangle/Desktop/test   \\ .txt'`, which is undesirable.

P.S. In previous versions of VSCode (1.52.1), it seems t

[2021-04-29 14:12] alexr00 commented on #108559
@connor4312 It looks like default shell settings are no longer respected at all in workspace settings. I've verified that the original behavior in the bug occurs still. Seems like this is probably by design.

[2021-04-29 14:14] deepak1556 commented on #122661
Can you run `sudo dtruss -ef -p <PID> -t posix_spawn` where PID is of extension host and open some files so that git creates some child processes.

[2021-04-29 14:14] johnnyoshika opened #122666 "Allow command palette width to be adjustable"
The command palette , ie the dialog that opens via:

* <kbd>CTRL</kbd>+<kbd>p</kbd>
* <kbd>Cmd</kbd>+<kbd>p</kbd>
* <kbd>CTRL</kbd>+<kbd>SHIFT</kbd>+<kbd>p</kbd>
* <kbd>Cmd</kbd>+<kbd>SHIFT</kbd>+<kbd>p</kbd>

...can be too narrow for certain scenarios:

![image](https://user-images.githubusercontent.com/504505/116564637-04a15f00-a8ba-11eb-982a-2e02c69de63a.png)

Visual Studio (non Code version) a

[2021-04-29 14:15] lramos15 commented on #122637
I assume this bug exists in notebooks as well. Will investigate ensuring the input is dirty if you have this `untitledDocumentData`.

[2021-04-29 14:16] joaomoreno opened #122667 "Use list dynamic height support in notifications list"

[2021-04-29 14:19] joaomoreno commented on #121425
Real fix: https://github.com/microsoft/vscode/issues/122667

[2021-04-29 14:20] #121425 closed

[2021-04-29 14:20] #121503 closed

[2021-04-29 14:20] #122289 closed

[2021-04-29 14:21] lramos15 commented on #122661
[posix_spawn.txt](https://github.com/microsoft/vscode/files/6399337/posix_spawn.txt)
Here's me running on a very small repo (the hex editor repo), making a single character change.

[2021-04-29 14:22] alexdima commented on #122462
@rebornix

Nothing has changed in the undo/redo service. When leaving editing mode on a markdown cell, I can see that **the TextModel for the markdown cell is disposed** (I am not sure if that was always the case?). The disposal of the TextModel invalidates the undo-redo element inserted in the undo-redo service. Undo-redo elements cannot work with a disposed TextModel. So when undoing, the elemen

[2021-04-29 14:24] #122661 closed

[2021-04-29 14:24] jrieken opened #122668 "Notebook editor leakage"
* open dev tools > memory pane
* open a notebook editor
* close the notebook editor
* create a heap snapshot - size is 79MB (in my case)
* open/close the notebook editor repeatedly - like 7 times to amplify the impact of leaks
* create another heap snapshot - size is now 85MB

Analysing and comparing the heaps is tricky... I cannot work well with the compare mode but a good tactic is to fish for o

[2021-04-29 14:24] alexdima commented on #122656
You're right! This reproduces only with:
[code]

[2021-04-29 14:27] deepak1556 commented on #118267
Fix didn't account for some edge cases on the failure path and introduced regression https://github.com/microsoft/vscode/issues/122661. Reopening for next iteration.

[2021-04-29 14:33] alexr00 commented on #122535
@lszomoru seems reasonable. I will implement it.

[2021-04-29 14:33] #120828 closed

[2021-04-29 14:33] #121392 closed

[2021-04-29 14:33] joaomoreno commented on #120828
Ugly bug. Ugly fix. @jrieken can you code review and verify?

[2021-04-29 14:33] RandomFractals commented on #118584
@kaimatrix19821 I know that the author of rest book extension is a PM who works with vscode team. Why I picked it to beta test custom notebooks api, renderers and UX. I think you are making assumptions there.

I downvoted that response because I don't think it's a good solution to just not show the notebook or disallow to run code cells, especially simple GET queries in that specific case for untr

[2021-04-29 14:35] lramos15 commented on #122637
``
			// If we're loading untitled file data we should ensure it's dirty
			if (untitledDocumentData) {
				input._onDidChangeDirty.fire();
			}
[code]

[2021-04-29 14:37] bpasero commented on #122656
I suspect a regression from the hover feedback.

[2021-04-29 14:37] isidorn commented on #122662
I did not do left / right. But I might have hid it and shown it again

[2021-04-29 14:38] bpasero commented on #122637
@lramos15 really the working copy should declare it is dirty, otherwise a lot of things like backups etc will not work properly. The editor input declaring dirty should be as a consequence of the underlying working copy getting marked as dirty.

[2021-04-29 14:38] deepak1556 commented on #122604
/duplicate https://github.com/microsoft/vscode/issues/118658

You can use `"window.titleBarStyle": "custom"` as a temporary workaround. Issue is related to chromium rendering in VNC.

You can also use vscode remote development suite https://code.visualstudio.com/docs/remote/remote-overview#_getting-started for better experience.

[2021-04-29 14:38] #122604 closed

[2021-04-29 14:38] lramos15 commented on #122605
@mjbvz Is the marking as read only something determined on opening? As I believe the intent @bpasero and I had was for this shared service to be more of a central `EditorInputResolverService` in the end and not handle things like move etc.

[2021-04-29 14:42] graeme-verticalscope commented on #35350
This feature would also be helpful for adjusting test configuration when running an integration tests vs a unit test. I'd like to be able to add adjust `go.testTags` when running integration tests, for example:
[code]

[2021-04-29 14:49] jrieken commented on #122668
I consider myself off the hook because the `notebookEditorWidgetServiceImpl` does invoke dispose of the notebook widget but it seems that doesn't do a full cleanup

<img width="682" alt="Screenshot 2021-04-29 at 16 48 21" src="https://user-images.githubusercontent.com/1794099/116570642-b799a900-a90a-11eb-8f55-ed2e862f1344.png">

[2021-04-29 14:50] jrieken commented on #122664
I also want the same for squiggles

[2021-04-29 14:51] jrieken commented on #120828
Thanks @joaomoreno. Changes look good, I will keep an eye on this

[2021-04-29 14:56] alexr00 commented on #120202
Somehow the "disable" button gets skipped over, but only sometimes. After visiting the "disable" button once, it will then get tabbed to correctly.
![Uploading recording (2).gif…]()

[2021-04-29 15:00] joaomoreno commented on #122656
It's also possible that https://github.com/microsoft/vscode/issues/49382 also caused some regressions here.

@bpasero Is it normal that togglign the setting makes the tabs jump, even when there's more than enough space available?

Will fix the action.

[2021-04-29 15:02] bpasero commented on #122656
Yes tabs can jump because they no longer have a minimal width in that case.

[2021-04-29 15:05] acicovic commented on #40239
Also, when a .code-workspace file is renamed, these settings are lost as they do not reside within the project itself.

[2021-04-29 15:05] mwblock9 commented on #122660
I believe I was able to resolve this issue myself via performing `lerna clean` followed by `npm ci`.

[2021-04-29 15:05] #122627 closed

[2021-04-29 15:05] bpasero opened #122669 "Update path lib to match latest node.js variant"
A reminder that we should check whether any changes landed in path library of node.js that we should copy into our version given we will update to Electron 12 now.

Theirs: https://github.com/nodejs/node/blob/v14.16.0/lib/path.js
Ours: https://github.com/nodejs/node/blob/v12.8.1/lib/path.js

//cc @deepak1556

[2021-04-29 15:11] alexdima commented on #122518
I am wrong again. Omitting a command should not call `e.preventDefault()`. It never did, I looked it back to 2015.

`ctrl+x` is just special and needs to be bound to a no-op to stop the default. I have added a `noop` command that does nothing. So the final solution would be:
[code]

[2021-04-29 15:11] 2lach opened #122670 "Can't make out filename/folder with color theme Light+"
- VS Code Version: Version: 1.55.2
- OS Version: macOS Big Sur, 11.3

Steps to Reproduce:

1. open up VS code <cmd> + <shift> + <P>
2. select color theme: Light+
3. Select file or folder in sidebar
![vs code light+ theme issue with selected sidebar item](https://user-images.githubusercontent.com/11457600/116573960-8f5f7980-a90d-11eb-9398-dca35d804ddd.jpg)

So i would like a fix of course cause i l

[2021-04-29 15:12] #122518 closed

[2021-04-29 15:16] mfarnz commented on #122375
Reboot and it started working again. 🤷‍♂️

[2021-04-29 15:16] #122375 closed

[2021-04-29 15:19] kieferrm commented on #122415
The one issue I see here is that the controller terminology which works well on the API side now flows through to the Jupyter world. There, as a user, I don't know what a controller is, but I do know kernels. We should use the kernel terminology in the UI.

[2021-04-29 15:24] oscarkey commented on #109176
It seems like the Snap package might need to be modified to allow Wayland support? Alternatively there might be something wrong with my Snap installation, but other Snap packages work fine on Wayland.

If I install code insiders from the Snap Store I get the following error when enabling Wayland support:
[code]

If I use the version from the AUR then it works fine.

[2021-04-29 15:33] eamodio commented on #122213
Looks good!

[2021-04-29 15:34] eamodio commented on #120188
Perfect! Thanks!

[2021-04-29 15:34] claudiaregio commented on #122481
+1 from customer email I received mid March.

![image](https://user-images.githubusercontent.com/19276747/116577614-7d59e880-a8c5-11eb-9098-f590d1c1b46c.png)

[2021-04-29 15:38] roblourens commented on #118584
@RandomFractals Can you tell me why you would open a workspace, explicitly tell us that you don't trust the content/author of this workspace, but then want to make a request to a web endpoint (specified by code that you don't trust) and render the result?

I want to understand more about who would be working in an untrusted workspace and what they would expect to work, because in my mind, I would

[2021-04-29 15:40] acicovic commented on #40239
@gjsjohnmurray good tip

[2021-04-29 15:41] roblourens commented on #120277
It reproes for me in 1.55, I don't know what the trick is. I'll just mark it as verified.

[2021-04-29 15:42] dfoverdx commented on #82145
I figured out the solution that's mentioned in [the documentation](https://code.visualstudio.com/docs/editor/multi-root-workspaces#_add-folder-to-workspace) but poorly (arguably never) explained.  I leave a comment here for the next sorry dev that comes looking for it.

In the root of the workspace folder in which you want to exclude files, create the `.vscode/settings.json`.  In this file, you ca

[2021-04-29 15:49] cdwort commented on #116174
Just adding my experience -- I opened the Codespace in the current window size and still encountered this issue. I can reload the Codespace to get the same behavior. Screenshot of trying to run `bundle` in a Ruby app:

<img width="1502" alt="Screen Shot 2021-04-29 at 10 39 59 AM" src="https://user-images.githubusercontent.com/1014482/116580034-9a4be700-a8d8-11eb-8b1c-7c7d892584d6.png">

[2021-04-29 15:49] connor4312 commented on #120388
The mocha runner doesn't work in vscode since our setup is 'special'. You can use a more generic project like https://github.com/connor4312/cockatiel (make sure to npm run watch, as it only detects off compiled files) where it should work.

[2021-04-29 15:52] connor4312 commented on #107467
@matepek can you describe a case where you wouldn't have a uri?

[2021-04-29 15:53] Waghabond commented on #116174
@cdwort did you set terminal renderer to canvas?

[2021-04-29 15:53] connor4312 commented on #122580
/jsDebugLogs

[2021-04-29 15:54] jrieken opened #122671 "Add context keys for selected and suggested kernel"
related to https://github.com/microsoft/vscode/issues/122415#issuecomment-829329529

There should be context keys for when a notebook kernel is _selected_ and when one is only _suggested_. That could drive some UI commands, e.g the "Run" command could be "Select Kernel & Run" instead

[2021-04-29 15:54] connor4312 commented on #115798
@fnicastri please open an issue on https://github.com/microsoft/vscode-react-native. I do not maintain the RN tools.

[2021-04-29 15:56] hmxulex commented on #122604
setting --disable-gpu didn't help, I will try  "window.titleBarStyle": "custom"

[2021-04-29 15:56] digitarald commented on #119110
Ha, lost track with search improvements landing across different issues. Thank you, @isidorn!

[2021-04-29 15:57] tanhakabir opened #122672 "Receiving an error for preloads when I had no preloads set or needed"
- VS Code Version: 1.56.0-insider (Universal)
- OS Version: Darwin x64 19.6.0

Steps to Reproduce:
1. Using a freshly scaffolded Notebook from `yo code --insiders` which is supposed to just take in JSON and print a stylized version of that JSON in the output renderer.
2. Everything build and runs fine in the extension host but when you go to actually execute one of these cells you get a generic er

[2021-04-29 15:58] misolori commented on #121447
Here's a simple idea taking inspiration from the browser "reader mode":

## Safari
![image](https://user-images.githubusercontent.com/35271042/116581040-cb242000-a8c8-11eb-8b49-d033d9895dbf.png)
![image](https://user-images.githubusercontent.com/35271042/116581074-d2e3c480-a8c8-11eb-8b8a-7a42d89394b6.png)

## Notebook
![Kapture 2021-04-28 at 12 48 24](https://user-images.githubusercontent.com/3527

[2021-04-29 15:59] connor4312 commented on #108559
Yea it looks like the new profiles are only applied on a per-user basis. So this would now be as designed.

![](https://memes.peet.io/img/21-04-7485be7c-c07f-4866-adf1-2950283a6a74.png)

[2021-04-29 15:59] #108559 closed

[2021-04-29 16:00] acicovic commented on #40239
Though from a quick look, it also seems that the settings during a "Save Workspace As..." are not transferred, just copied. So if you create a new workspace with the same name after the operation, it gets the same settings.

[2021-04-29 16:05] roblourens commented on #108824
Can you comment out this line and see if it works?

https://github.com/microsoft/vscode/blob/606bf316c73dcb83413077e2226010c25164bd73/src/vs/workbench/contrib/preferences/browser/settingsTree.ts#L663

[2021-04-29 16:06] rzhao271 commented on #122564
I didn't see any relevant errors in the output logs or the devtools console.
Here's another recording showing how flaky the problem is:

![recording (3)](https://user-images.githubusercontent.com/7199958/116582330-1ab71b80-a8ca-11eb-9b7c-8dae4711e5e8.gif)

[2021-04-29 16:07] roblourens commented on #121986
Duplicate of https://github.com/microsoft/vscode/issues/122645

[2021-04-29 16:07] #121986 closed

[2021-04-29 16:08] irvnriir commented on #115641
For me Activity Bar is distracting and takes too much space, so i use "Activitus Bar" Extension . Moving these menus to Title Bar would be a good addition .

[2021-04-29 16:08] jrieken commented on #122672
@tanhakabir I that by chance a 3rd party renderer?

[2021-04-29 16:11] jrieken commented on #122672
That error message seems to come from webpack but the string doesn't appear anywhere in our sources, so I do believe it must be something that's installed on top

[2021-04-29 16:12] Agamennon commented on #120227
Unfortunately Javascript debugger 1.56.1 broke this again, nightly is also broken, there is no working javascript debugger now working with WSL ,  last working version was 1.56.0,

[2021-04-29 16:13] connor4312 commented on #120227
@Agamennon please open an issue here with the instructions on the template https://github.com/microsoft/vscode-js-debug/issues

[2021-04-29 16:13] rzhao271 commented on #120996
I find it interesting how clicking the opened item toggles the round checkbox, but it means I don't have to move my mouse around as much 🙌
I guess we'll see next iteration if people expect clicking the item to collapse it again.

[2021-04-29 16:14] roblourens commented on #122486
Very interesting. Could you share the logs for search from vscode as well? The steps for that are at the bottom of the wiki page.

Also, do you see a Windows Defender process running when vscode starts the search? Sometimes this will show as MsMpEng.exe in Task Manager, sometimes this is behind strange slowdowns.

[2021-04-29 16:16] tanhakabir commented on #119971
/verified

[2021-04-29 16:18] tanhakabir commented on #122672
Huh I'm not sure what changed to break the webpack stuff. @connor4312 do you have an idea of what would cause this?

[2021-04-29 16:21] digitarald commented on #120996
It does feel very easy to close items; which I am ok with as I don't want the items to cause friction. Only concern would be UX-wise that this behavior isn't indicated at all with pointer changes.

[2021-04-29 16:24] tanhakabir opened #122673 "The built in text/html view in Notebooks looks messed up."
- VS Code Version:  1.56.0-insider (Universal)
- OS Version: Darwin x64 19.6.0

Steps to Reproduce:
1. Use a dark theme on vscode
2. Use [REST Book](https://marketplace.visualstudio.com/items?itemName=tanhakabir.rest-book)
2. Make a `GET` call to `google.com`
3. Get back the html response and switch the output view to text/html
4. See how the rendered text/html output leaks onto the whole page and

[2021-04-29 16:25] andyp1per commented on #27286
Apart from the tragedy that is cpptools performance this is the single biggest VSCode outage for me. I end up having lots of tabs open and it is impossible to find anything as they seem to be randomly ordered.

[2021-04-29 16:27] irvnriir opened #122674 "Find (in file) results overview, with Folding"
Its useful to have an overview of find results on a shorter/smaller version of the file . The currently existing version is an `editorOverviewRuler`, but it doesn't provide enough information . The code shouldn't be Unfolded for getting such info, so a CodeLens-alike tooltip for the items on it, could be a good solution .

Other solutions could be : list of the results with {it's / some surroundin

[2021-04-29 16:28] roblourens opened #122675 "Can't click to fold markdown cells when webview markdown renderer is disabled"
- Open a notebook in codespaces web
- Click the folding indicator on a markdown cell
- Nothing happens

Not sure if this is from my CSS tweaks a week ago or something else

[2021-04-29 16:29] #122634 closed

[2021-04-29 16:30] pgs31 commented on #45156
I would really appreciate a fix for this, it's super annoying! Thanks guys..

[2021-04-29 16:31] connor4312 commented on #122672
I think this can be fixed by setting the `publicPath` to an empty string or `/`, on this line https://github.com/microsoft/vscode-generator-code/blob/main/generators/app/templates/ext-notebook-renderer/webpack.config.js#L15

It should not actually matter since we override it here https://github.com/microsoft/vscode-generator-code/blob/main/generators/app/templates/ext-notebook-renderer/src/client/

[2021-04-29 16:31] paulshen commented on #122663
This feature would unlock a lot of my personal extension ideas (eg semantic code visualization)! I'd love to query the TS service like `typescript-language-features` does. I've spent a lot of time looking at `typescript-language-features` and I was going down the rabbit hole of replicating its behavior (spawning another TS server). Didn't think of @hediet's clever hack but it'd be great to have a

[2021-04-29 16:32] FWest98 opened #122676 "Terminal + WSL + Fish shows spurious characters on every line"
- VS Code Version: 1.55.2 (System x64)
- OS Version: W10 20H2 x64

![afbeelding](https://user-images.githubusercontent.com/1918658/116584644-dce0e400-a917-11eb-9934-d53610b53b15.png)

See the image above. For some reason, the unique combination of VS Code on Windows + ConPTY + WSL + fish causes a spurious "h" character to appear on every line. When resizing the terminal window by just one pixel, t

[2021-04-29 16:35] rebornix opened #122677 "Unable to reopen untitled file with notebook"
Issue Type: <b>Bug</b>

In today's Insiders I can't reopen untitled file with notebook anymore

[code]

VS Code version: Code - Insiders 1.56.0-insider (Universal) (0123d26aaa393bccf99f31f1eac07df6c9e218ce, 2021-04-29T06:21:54.461Z)
OS version: Darwin x64 20.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-9980HK CPU @ 2.40GHz (16 x 2400)|
|GPU Statu

[2021-04-29 16:35] rsmith54 opened #122678 "Add run configurations in launch.json to Settings Sync"
I would like to sync my run configurations in my launch.json file.

[2021-04-29 16:35] rzhao271 commented on #121818
What does it mean for the button to be empty?
I added the `verified` label because I now see a list of profiles to choose from, but feel free to mention if that's not what the bug was.

[2021-04-29 16:40] claudiaregio commented on #122481
+1 from survey monkey feedback

![image](https://user-images.githubusercontent.com/19276747/116586985-e09c4880-a8ce-11eb-967c-873385f0613b.png)

[2021-04-29 16:42] connor4312 commented on #117198
There is an `error` property, which is a string or MarkdownString, on each test item. If this is set, then that string will be displayed under that item in the test explorer view.

[2021-04-29 16:44] tanhakabir commented on #122672
cool thanks it worked! I'll update the template

[2021-04-29 16:44] #122672 closed

[2021-04-29 16:44] misolori commented on #120996
I'm open to try this out. I assume we don't take the number of "checked" items into consideration for completion telemetry as opposed to performing the action?

[2021-04-29 16:45] jrieken commented on #122271
This comes out of cell execution, it's this test: ['document execute command takes arguments'](https://github.com/microsoft/vscode/blob/ed52d777ef62881dcaa917e140b8c6a98e80eb41/extensions/vscode-api-tests/src/singlefolder-tests/notebook.test.ts#L708-L708), but I am not sure why...

[2021-04-29 16:47] RandomFractals commented on #118584
I would rather see a notebook view with code cells, and have a warning after I review a cell code and decide to run it.

[2021-04-29 16:48] brettcannon commented on #120251
@PEZ from my understanding, trusted workspaces isn't blocking what your code _can_ do, it's blocking whether your code _runs to begin with_. IOW VS Code is not reaching into your Node code and blocking access to files or subprocess execution, it's providing a mechanism for extension authors to tell users, "hey, you can't use this extension with code you don't fully trust as it might do something b

[2021-04-29 16:48] alyssajotice commented on #102503
Before migrating to serializers, Live Share needs a way to get a list of the available serializers, similar to the command `vscode.resolveNotebookContentProviders`. We also need a way to add viewOptions when registering a serializer so that we can add a fileNamePattern for the serializer.

[2021-04-29 16:49] roblourens commented on #106012
I repro this with the original steps

[2021-04-29 16:51] claudiaregio opened #122679 "Native Notebooks - Code to Markdown"
Steps to Reproduce:

1. Be in command mode on a code cell
2. Press M to convert to markdown
3. Have to double click into the cell in edit mode to make it legible/interpretable.

Jupyter:

![Jupyter Code to Markdown](https://user-images.githubusercontent.com/19276747/116588047-ed6d6c00-a8cf-11eb-8541-f03b8722f9dc.gif)

VSC:

![VSC Code to Markdown](https://user-images.githubusercontent.com/19276747

[2021-04-29 17:05] cloph commented on #48262
requiring a separate settings.json in one of the folders is a workaround at best, but not a real solution.

[2021-04-29 17:24] connor4312 commented on #119899
Verifying this is kind of a pain, but possible:

1. Start with the github issues notebook: https://github.com/microsoft/vscode-github-issue-notebooks
2. Add a URI to its `preloads` that has a `provides`. The URI can be a path an an empty .js file on disk
3. Add multiple renderers to its package.json that have hard or soft dependencies on what that "provides".
   - These can be .js files that simpl

[2021-04-29 17:24] isidorn commented on #108824
@roblourens if I comment that line out everything works just fine!

[2021-04-29 17:25] isidorn commented on #122678
I think this is a fair request against the setting sync, thus forwarding to @sandy081

[2021-04-29 17:32] roblourens commented on #108824
@sbatten what is that option for?

[2021-04-29 17:34] roblourens commented on #122271
It's not breaking the test, is it? I think for some reason, I can't wait until the extension is done applying edits, so we might close the notebook first, but it seems ok.

[2021-04-29 17:35] #122334 closed

[2021-04-29 17:39] meganrogge commented on #122332
![inspect](https://user-images.githubusercontent.com/29464607/116594528-29f09600-a8d7-11eb-8995-3d9266453637.PNG)

When I inspect a split terminal tab label, it has the correct aria label.

[2021-04-29 17:41] dfoverdx commented on #48262
I don't disagree, but I do believe it's the dev team's intended solution.

[2021-04-29 17:42] rzhao271 commented on #122039
When I right-click on a tab, focus now goes to that tab, so it becomes the active terminal.
I'm not sure whether that's intended behaviour.

[2021-04-29 17:43] connor4312 commented on #120388
Also, make sure to check the documentation for the mocha test adapter (or whatever test adapter you're using.) The converter only converts from that adapter into native testing, so you'll need to make sure your tests work in it first https://marketplace.visualstudio.com/items?itemName=hbenl.vscode-mocha-test-adapter

[2021-04-29 17:44] acls commented on #122590
It would be nice if that were user settable or indention based was just that, indention based. It's incredibly frustrating to have newlines sucked into the previous fold.

[2021-04-29 17:45] roblourens commented on #118584
That's exactly what the plan is, and is already implemented. Maybe this thread doesn't have full context.

Cells do not run unless you click run. But really in this case of working with known-malicious code, I think you want to work in a VM or another real sandbox, rather than rely on this feature as your only line of defense.

Fair request, we could work in that direction, the workspace trust fea

[2021-04-29 17:46] sbatten commented on #122306
@isidorn actually that learn more button is supposed to say `Manage` now and take you to the trust editor page. I think you have another issue about always opening the editor in these cases so people can learn the impact, which could remove the need for that button.

[2021-04-29 17:54] ahippler opened #124578 "termial freezes in remote ssh session"
Issue Type: <b>Bug</b>

1. connect to a ubuntu remote ssh host
2. run `dd if=/dev/urandom of=file.txt count=1024 bs=1024 && cat file.txt` in the terminal
3. terminal freezes

resizing or ctrl+c does not resolve the issue

Extension version: 0.65.4
VS Code version: Code 1.55.2 (3c4e3df9e89829dce27b7b5c24508306b151f30d, 2021-04-13T09:36:32.643Z)
OS version: Darwin x64 20.3.0
Remote OS version: Linux

[2021-04-29 18:00] PEZ commented on #120251
@brettcannon , that's how I understand it also.

I tested this with Calva flagged as not usable with untrusted workspaces. Opening a folder or workspace things behave as I expect, VS Code asks if I trust the workspace and if I answer yes, Calva is enabled, if I answer no, it is disabled.

From the enabled state there is this command that makes Calva crate directory somewhere on the computer, place

[2021-04-29 18:05] meganrogge commented on #122039
Yeah it seems like right now right clicking is focusing and selecting the item. I'm not sure if that's what we want, but think that could be as-designed for `singleClick` mode.

[2021-04-29 18:08] Tyriar opened #122680 "Getting Started: Images in markdown are giant"
I'm not sure it's possible right now to provide high res images for hidpi displays, so regular mac screenshots come out giant:

<img width="860" alt="Screen Shot 2021-04-29 at 11 04 58 AM" src="https://user-images.githubusercontent.com/2193314/116597705-cc5e4880-a8da-11eb-816c-08f75665b51b.png">

I tried to do this but extra attributes get stripped out.

[code]

[2021-04-29 18:09] glaukiol1 opened #122681 "Having git pre-installed in the built-in command line of VSC"
Having pre-installed command line tools such as git, for me at least, is very important. I usually switch computers and going through the same process of downloading it again is very frustrating. I hope some other people can relate to this, and I use GitHub a lot, I would love to see something like this!

[2021-04-29 18:10] TonyGravagno opened #122682 "Minimal support for git multi-line commit text"
There are many requests to support multi-line git commit messages. But from what I've seen they all request more than just multi-line text entry. They are complicated with requests for wrapping, character limits, templates, full editor support, considerations for multiple language, and other features. With requests like this going back 5 or more years and no forward movement, let's take a minimali

[2021-04-29 18:10] Tyriar commented on #122680
Perhaps introducing a convention where `_x2` at the end of an the image file is rendered at half the image's size? Not sure how much control we have over the markdown component and if that idea is even possible easily.

[2021-04-29 18:13] cruscio opened #122683 "Implement multiLinePasteWarning in VSCode terminal, similar to Windows Terminal behavior"
Please implement a [multiLinePasteWarning](https://docs.microsoft.com/en-us/windows/terminal/customize-settings/interaction#warn-when-the-text-to-paste-contains-multiple-lines) for the VSCode integrated terminal, similar to Windows Terminal.

![image](https://user-images.githubusercontent.com/30699280/116595961-e0fa0b00-a8f1-11eb-883b-14bb45a8343c.png)

More times than I care to admit, I've accide

[2021-04-29 18:14] #122675 closed

[2021-04-29 18:16] otanay opened #122684 "Can't install extensions to WSL2 while connected to VPN"
Issue Type: <b>Bug</b>

While connected to a VPN, I'm unable to install extensions to WSL: UBUNTU-20.04
After exiting VSCode and closing my VPN connection, I restarted VSCode, and was able to install extensions to WSL Ubuntu.

VS Code version: Code 1.55.2 (3c4e3df9e89829dce27b7b5c24508306b151f30d, 2021-04-13T09:35:57.887Z)
OS version: Windows_NT x64 10.0.19042
Remote OS version: Linux x64 5.4.72-m

[2021-04-29 18:19] EnoughSensei commented on #122518
Thank you for your help <3

[2021-04-29 18:25] sbatten commented on #120251
@PEZ based on your description, the temp folder is under the control of the extension, it is not a product of the workspace and thus does not require workspace trust.

[2021-04-29 18:27] meganrogge commented on #121760
Closing because I think this has been resolved

![recording - 2021-04-29T112154 362](https://user-images.githubusercontent.com/29464607/116600040-b2723500-a8dd-11eb-8a54-592b35f9c37f.gif)

[2021-04-29 18:29] meganrogge commented on #121760
to verify:

using the extension terminal sample, log the values of `env.shell` and `getConfiguration().get('terminal.integrated.shell.windows')`

these should be non-null and reflect what you've set `terminal.integrated.shell.windows` to, regardless of whether or not that path is found in `terminal.integrated.profiles.windows`.

[2021-04-29 18:29] pixieaka commented on #120417
/verified

[2021-04-29 18:33] mbinette commented on #122325
Here is the debug log. Doesn't look very helpful.
`[04-29 14:32:19] [info] [file-save] d:\dev\fas-dev\build\k8s\tmpl\api-web.yaml
[04-29 14:32:19] [trace] handle upload file for d:\dev\fas-dev\build\k8s\tmpl\api-web.yaml
[04-29 14:32:19] [debug] Outgoing: Writing MKDIR
[04-29 14:32:19] [debug] Outgoing: Writing CHANNEL_DATA (0)
[04-29 14:32:19] [debug] Outgoing: Writing LSTAT
[04-29 14:32:19] [deb

[2021-04-29 18:36] sbatten commented on #122633
@theking2 the alt key focuses the application menu in both cases, we switch between the classic style and compact style in the activity bar

[2021-04-29 18:36] #122633 closed

[2021-04-29 18:39] PEZ commented on #120251
@sbatten that is awesome. Thanks for helping me understand this distinction.

[2021-04-29 18:40] rebornix commented on #122531
/extJupyter

[2021-04-29 18:41] #122531 closed

[2021-04-29 18:43] sbatten commented on #122651
@jrieken codespaces are kinda special right now in that you trust the codespace instance, not the repo since the uri encodes the machine... so if you open a different codespace it has to be trusted separately. There is a separate issue to improve this via resolver api that would give us a better URI to use in trust calculations.

[2021-04-29 18:48] sbatten commented on #122655
"advanced editing" was intended as a signal that the features are for more development focused work. I like the simplification you suggest but feel we lose that signal. Any suggestions?

I like the "from" change, makes sense to me.

In order to align the various dialogs the first line has been used to talk about the requirements and the second line remains the same mentioning risk, recommendations

[2021-04-29 18:50] rebornix commented on #118108
`options?.cellSelections` can be applied to the editor now already.

[2021-04-29 18:50] #118108 closed

[2021-04-29 18:51] rebornix commented on #119026
This turns out to be non-trivial and custom editors have the same issue.

[2021-04-29 18:53] rebornix commented on #118231
We no longer have this metadata now.

[2021-04-29 18:53] #118231 closed

[2021-04-29 18:54] sbatten commented on #108824
@roblourens it shadow doms the menu as a child of the button (dropdown in this case) to preserve focus. this is necessary to prevent the action bars from disappearing when focus is actually given to the html-based menus

[2021-04-29 18:56] mjbvz commented on #122660
If you are still seeing this, please try collecting the TS Server log from the crashed instance:

1. Set `"typescript.tsserver.log": "verbose"`
1. Restart VS Code and reproduce the problem
1. Open the `TypeScript` section of the output panel
1. At the very top, find the first line that prints to path to the semantic error log file. It should look something like:

[code]

    That file contains the

[2021-04-29 18:58] sbatten commented on #122535
I don't think we should block the workbench in any way. That seems ripe for bugs that cause other issues. I think guidance should be that nothing on startup should ask for trust since we are already doing that. The guidance to check trust and listen to the event seems like the right thing.

[2021-04-29 18:59] mjbvz commented on #122605
@lramos15  It's something that's done on each editor input class right now, but I think this code is duplicate between custom editors and file editors (and notebooks may end up copying the code too). I wouldn't put it into the new editor service but for the future you can be thinking about if there's a way to remove this duplication

[2021-04-29 19:02] mjbvz commented on #122644
I'm not sure I understand? Are you trying to open the simple browser in a specific column? If so, have you tried the [`simpleBrowser.api.open` command](https://github.com/microsoft/vscode/blob/2894338f38841f58179df7ec1c9d7bf38851cce1/extensions/simple-browser/src/extension.ts#L51)?

[2021-04-29 19:02] roblourens commented on #108824
Why doesn't every menu get that option?

@isidorn do you see this on other menus that use that option, the notebook cell toolbar and viewpane header?

[2021-04-29 19:02] #120848 closed

[2021-04-29 19:05] mjbvz commented on #122628
Please try collecting the TS Server log from the crashed instance:

1. Set `"typescript.tsserver.log": "verbose"`
1. Restart VS Code and reproduce the problem
1. Open the `TypeScript` section of the output panel
1. At the very top, find the first line that prints to path to the semantic error log file. It should look something like:

[code]

    That file contains the typescript logs.

Look throug

[2021-04-29 19:13] rebornix commented on #121505
I no longer see this issue anymore on latest Insiders, here is the code I tried

[code]

* Click on a cell, the event is fired
* Escape, there is no selection anymore, the event is also fired

[2021-04-29 19:13] #121505 closed

[2021-04-29 19:14] akosyakov commented on #122644
Another way around. I have the simple browser already opened and I need to open some file to left relative to the simple browser.

[2021-04-29 19:14] zkhcohen commented on #122618
+1

This is impacting four separate machines all running 1.55.2 and using a remote terminal into Ubuntu/Rancher.

[2021-04-29 19:23] meganrogge commented on #122039
looks like the change responsible for this behavior is https://github.com/microsoft/vscode/commit/5bf77b350f19dc282e8b01a6799a4f235babc5fa

[2021-04-29 19:24] danieltuzes opened #122686 "Improve the documentation https://code.visualstudio.com/docs/python/settings-reference#_pylint"
According to the documentation, the description of pylintPath is

But it is not the path to pylint but the path to its setting file, e.g. to the folder where .pylintrc is or the path to .pylintrc file itself.

[2021-04-29 19:26] rzhao271 commented on #81760
Reopening this issue for now since we still have https://github.com/microsoft/vscode/issues/81760#issuecomment-827755443

[2021-04-29 19:33] roblourens opened #122687 "Launch config name shows up twice"
- Open this repo https://github.com/sinapis/vscode-118282
- See a double attach config, only one is defined

![image](https://user-images.githubusercontent.com/323878/116607617-13523b00-a8e7-11eb-8b41-2db46e8bb8ea.png)

[2021-04-29 19:42] #122360 closed

[2021-04-29 19:44] connor4312 commented on #118282
@roblourens can you share steps? I don't repro this https://memes.peet.io/img/21-04-ed599b74-21dd-48ae-8928-dbb50e256b9d.mp4

[2021-04-29 19:46] Varsha2629 commented on #121111
Hi,
I have the Same Error But I add this script but It would not be helping me could you tell me how can I fix it. if you have done.

Thanks in Advance.

[2021-04-29 19:47] lramos15 commented on #122677
Do you know if the notebook uses the `untitledDocumentData` API? I think this is working copy stuff but I'm not 100% sure.

[2021-04-29 19:48] misolori commented on #81760
@connor4312 can you close this issue once you've published those extensions? Thanks.

[2021-04-29 19:49] meganrogge commented on #121818
Yep @rzhao271 the bug was that the profiles weren't listed 👍🏼

[2021-04-29 19:51] sbatten commented on #108824
it was added much later and can cause bugs because of the shadow dom isolation so we only adopted where focus changing had an obvious negative effect

[2021-04-29 19:53] meganrogge commented on #122636
I can't reproduce that - are you clicking really quickly after the menu opens?

[2021-04-29 19:53] lramos15 commented on #122363
Moving to May as it's just too big of a change at this point.

[2021-04-29 19:54] rzhao271 commented on #120768
I'm still getting the actual output instead of the expected output when I repeated the verification steps on my Mac.

[2021-04-29 19:55] #122608 closed

[2021-04-29 19:58] meganrogge commented on #122551
You didn't break something I did. Fixed here

https://github.com/microsoft/vscode/commit/bdb2324c9da9381441cbf874f51758a44a6cae8f

[2021-04-29 19:59] #81760 closed

[2021-04-29 19:59] #122551 closed

[2021-04-29 19:59] roblourens commented on #119268
I can't repro the original issue in stable

[2021-04-29 20:02] meganrogge commented on #122662
fixed https://github.com/microsoft/vscode/commit/a7dcfd1e2c3b970c44e124a68aa7666c0b71e488

[2021-04-29 20:02] #122662 closed

[2021-04-29 20:03] mjbvz commented on #115807
@Tyriar Can you verify with Luna paint when you have a chance?

[2021-04-29 20:04] meganrogge commented on #122654
Please provide a screenshot or [a gif](https://gifcap.dev/) illustrating the problem (attaching images won't work via email, you need to go to github.com). See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more general info on how to report actionable terminal issues.
/label "needs more info" integrated-terminal

[2021-04-29 20:11] schuelermine commented on #122636
No, I’m clicking continuously.

[2021-04-29 20:12] schuelermine commented on #122636
It’s also definitely not an issue with the mouse. The same thing happens with a trackpad, whether I tap or click

[2021-04-29 20:15] haug1 opened #122688 "App freezes frequently for a limited duration"
- VS Code Version: Code - OSS 1.55.2 (3c4e3df9e89829dce27b7b5c24508306b151f30d, 2021-04-22T15:03:39.218Z)
- OS Version: Linux x64 5.11.16-arch1-1

Steps to Reproduce:

Don't know. It happens randomly only on this one machine.

The symptoms are:
- application freezes completely for a limited time before becoming responsive again, 10 secs or more
- rendering does not happen at all during the freeze

[2021-04-29 20:15] alyssajotice opened #122689 "NotebookController only allows for one view type"
Last week, the `NotebookController` `selector` property [was replaced](https://github.com/microsoft/vscode/issues/93265#issuecomment-824906339) with `viewType`. In the old design with `NotebookKernels`, we only had to use one kernel where we could specify multiple view types.

With the new design, it seems we are limited to one view type per controller. Put another way, we can't have a single cont

[2021-04-29 20:23] schuelermine opened #122690 "TypeScript: JSDoc tooltips are shared between types and values, but not functions"
Issue Type: <b>Bug</b>

— Create a TypeScript file.
— Create a type alias with some name, and write a JSDoc comment for it.

For types and functions:
— Create a function with the same name, write a different JSDoc comment.
— Hover over the type name. You will see the function’s comment, followed by the type’s comment.
— Hover over the function. You will only see the function’s comment.

For types

[2021-04-29 20:29] mjbvz commented on #122690
Please share example code (as text) that demonstrates the issue

[2021-04-29 20:33] firelizzard18 commented on #120251
`capabilities.untrustedWorkspaces.supported` signals whether your extension performs potentially unsafe operations. The only thing VSCode does<sup>1</sup> is load or not load your extension. Depending the value that My Extension gives:

* `true` - indicates that My Extension *does not perform* unsafe operations - VSCode always runs My Extension
* `false` - indicates that My Extension *does perform

[2021-04-29 20:33] schuelermine commented on #122690
@mjbvz I have!

[2021-04-29 20:34] #121647 closed

[2021-04-29 20:35] rebornix commented on #120085
@lramos15 any chance you can do a screen recording of the reproduce?

[2021-04-29 20:42] rebornix commented on #122594
it's likely a race condition. I'm not confident with the editor focus code we have for cell editors.

[2021-04-29 20:44] rebornix commented on #122589
We can add `ipynb` to the json extensions list.

[2021-04-29 20:45] lramos15 commented on #120085
Can't repro this anymore. Marking as verified. Don't know what happened before. Although there is some screen cheese on many undo redos it's very brief.

[2021-04-29 20:45] #120085 closed

[2021-04-29 20:50] mjbvz commented on #122564
Still can't repro this. Will test on windows too

[2021-04-29 20:52] connor4312 commented on #121172
![](https://memes.peet.io/img/21-04-edae2958-9d1d-42e0-becf-5edd019c65c6.gif)

[2021-04-29 20:53] connor4312 commented on #121172
![](https://memes.peet.io/img/21-04-a16b044a-766d-4989-94cf-6660dfc1901c.gif)

[2021-04-29 20:56] rebornix commented on #122584
I was not able to reproduce the issue with the file shared. @whippingdot can you help check if you see any logs by opening "Toggle Developer Tools" from command palette?

[2021-04-29 20:57] mjbvz commented on #122564
@rzhao271 Also don't see this on windows. Are you seeing this in the latest insiders? What if you create a new codespace?

[2021-04-29 20:57] connor4312 commented on #120393
Can you add verification steps?

[2021-04-29 21:00] connor4312 commented on #121282
![](https://memes.peet.io/img/21-04-25fe589c-4bc8-448c-b5c1-203a1cd5c1d9.gif)

[2021-04-29 21:01] connor4312 commented on #121172
Actually this might be the same as https://github.com/microsoft/vscode/issues/121282, hard to tell

[2021-04-29 21:03] misolori commented on #122670
@2lach I believe you are looking for the `list.activeSelectionForeground` color token for the text in the active state. I'll close this issue since it's not an issue. Next time please be sure to read through the [theme color reference guide](https://code.visualstudio.com/api/references/theme-color).

[2021-04-29 21:03] #122670 closed

[2021-04-29 21:12] 2lach commented on #122670
Why, thank you kindly good sir 😏
The best of day to you.

[2021-04-29 21:15] RandomFractals commented on #118584
@roblourens thank you for providing more context info on this. I'll check it out with this feature setting you shared in another ticket and rest book extension to see how it works. I think some screens or walk through gif as a quick demo of a feature like this would really help to visualize the workflow you are implementing next time.

[2021-04-29 21:15] Salil3105 opened #122691 "Suggestion while typing a code."
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-04-29 21:16] Salil3105 commented on #122691
I can't get any suggestion from VS Code while typing simple react components like className , id  , etc

[2021-04-29 21:16] #122691 closed

[2021-04-29 21:19] meganrogge opened #122692 "Inline actions on hover obscure title/selectable area"
When the width is below a certain threshold, we shouldn't show the inline actions.

![recording - 2021-04-29T141850 874](https://user-images.githubusercontent.com/29464607/116619822-d5104800-a8f5-11eb-9b39-37636d58e9fe.gif)

[2021-04-29 21:35] rebornix commented on #121807
I'll revisit this next week. Currently outputs are not part of any undo/redo, thus it doesn't make the document dirty. But the right behavior should be that outputs are part of undo/redo?

[2021-04-29 21:38] meganrogge commented on #120393
To verify:

Using VS code stable - create as many terminals as needed to trigger context loss you'll see ![context loss](https://user-images.githubusercontent.com/29464607/116621693-6e405e00-a8f8-11eb-8d70-e28b807fbf8c.PNG)

Context loss is achieved at a diff't limit for each computer. Now in Insider's, create the same number of terminals. You shouldn't see any of those context loss images.

[2021-04-29 21:44] jesko42 opened #122694 "VS Code gives error using Samba Shares."
Issue Type: <b>Bug</b>

On my system:

`Linux aldebaran 5.8.0-50-generic #56~20.04.1-Ubuntu SMP Mon Apr 12 21:46:35 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`

I get the following error when I simply try to start VS Code within a Samba Share:

`cannot stat path of the current working directory: Permission denied`

All other tools as well as scripts have no problems here, so it's no rights problem. S

[2021-04-29 21:51] martin-displayr commented on #122486
Yes I checked for MsMpEng.exe and that was running when I did that search, and when I tried again just now (with same result).

Here is the window log, the second result appeared at about at `[2021-04-30 07:49:33.681]`

[code]

[2021-04-29 22:02] sbatten commented on #122520
There's some trickiness with the alt listener because both event handlers use capture on the same element. I have a fix but I don't want to check it in this late in case there are conflicts with the other consumer (cc @isidorn)

[2021-04-29 22:05] meganrogge commented on #122227
Kai saw this in today's insider's

[2021-04-29 22:12] connor4312 commented on #120393
very nice, I like how the fallback magically works

[2021-04-29 22:13] sbatten commented on #122442
assumed that marking the version explicitly to 2.0.0 even if using v1 style tasks should not auto-upgrade

[2021-04-29 22:16] JacksonKearl commented on #120996
There's a different event for `toggleTask` vs `runStepAction`

[2021-04-29 22:19] JacksonKearl commented on #122598
Up to you. IMO it'd be nice to read it and have English convey the current state, vs needing to parse the UI.

[2021-04-29 22:21] JacksonKearl commented on #122680
We don't want to support arbitrary inline css , but we could support the `width` attribute on images. This is what github supports: https://stackoverflow.com/a/14747656

[2021-04-29 22:30] JacksonKearl commented on #122624
I agree it wouldn't make sense to use it with a command that doesn't open some sort of editor input. We could alternatively use some bespoke command to implement opening an editor input to side, but I imagine it'd be hard for ext authors to even know how to write the editor input (we probably don't want to expose internal editor resource URI's).

The `toSide` modifier is implemented like:

- Check

[2021-04-29 22:34] omerdun opened #122695 "Code Actions Not Triggerd For Diagnostics With Range Where start == end"
Issue Type: <b>Bug</b>

From the documentation:
https://code.visualstudio.com/api/language-extensions/language-server-extension-guide#diagnostics-tips-and-tricks

```If the start and end positions are the same, VS Code will underline with a squiggle the word at that position.```

So the entire word is marked with squiggly line - but looks like the editor doesn't send the code action with the same

[2021-04-29 22:35] JacksonKearl commented on #119766
Hm yes, that seems to be a browser bug where the height of elements using the `-webkit-line-clamp` isn't measured properly initially (if I delay the height read by 10ms everything works, but it can cause desynchronization). I thought it only affected the button being long, seems like the title gets broken too. I may have to just implement multiline ellipses myself, shame it's not possible in stand

[2021-04-29 22:35] connor4312 commented on #122191
Duplicates https://github.com/microsoft/vscode/issues/122227

[2021-04-29 22:42] rzhao271 commented on #122440
@misolori I'm wondering how to test this change? Does this change affect the terminal tabs + button with the dropdown?

[2021-04-29 22:57] connor4312 opened #122696 "Terminals tabs show full process path in switcher"
Without any particular configuration of profiles, on stable:

![](https://memes.peet.io/img/21-04-77a22959-c76b-408d-bb3f-baec297aa11a.png)

On Insiders:

![](https://memes.peet.io/img/21-04-22db67b4-c9e4-4214-9951-2a0f405c337d.png)

This can be awkward in split view

[2021-04-29 22:59] venkateshpotluri commented on #111255
Thank you @rebornix  for continuing this conversation,  taking feedback and improving the notebook experience. I just gave the notebook experience a try by creating a Jupyter notebook and playing around with it in the insider build. I am adding my thoughts to earlier comments, and am reporting a few new observations.

Just want to chime in and say that this behavior would be quite useful. However,

[2021-04-29 23:01] mjbvz commented on #121216
@gregvanl Can you please verify this or let me know how to trigger this survey?

[2021-04-29 23:03] gregvanl commented on #121216
@mjbvz I can take this one. I only saw it once but I'll investigate how to get the survey to pop.

[2021-04-29 23:11] connor4312 opened #122697 "Environment variable notifications are not shown in restored terminals"
1. Open a terminal, type something in it
2. Reload and have it get restored
3. For an example -- split the terminal so a new one gets opened beside it, and type something in that terminal
4. Toggle auto attach to some different setting
5. The ⚠️ icon appears in the new terminal, but not the old one 🐛

[2021-04-29 23:19] digitarald commented on #122624
`:toSize` has a sweet spot for commands that open a new tab right away.

As this issue also appears when user open an extension page from search and the many other ways that a walkthrough can eventually lead to more tabs opening – alternative Getting Started could monitor when it becomes hidden and counteract by moving itself into foreground/split view when needed. Maybe there is a less aggressive

[2021-04-29 23:28] rakleed commented on #121973
@joaomoreno please reconsider your decision about this feature request. Since almost all other apps for macOS have a DMG installer or offer to move the app to the Application folder. Accordingly, due to the fact that you do not support this feature, it is less convenient to use your app.

[2021-04-29 23:36] roblourens commented on #122610
There's more that I didn't explain

- I get the trust modal
- I click the button to say that I trust it
- The window is left disconnected, just with the notification to enable Remote-SSH, then I have to enable and reload the window. Ideally I shouldn't have that extra reload step.

[2021-04-29 23:39] rakleed opened #122698 "Make a single Windows installer"
Please make a single Windows installer, combining the system installer and the user one.

Most other apps have a single installer.

You can also ask when a user first runs the installer if he wants to install the application for all users (system) or just for the current user.

And also, some users only during the installation process realize that they downloaded the installer for the user, and th

[2021-04-29 23:45] digitarald commented on #121778
Via @chrisdias: Workspace tagging happens in `LifecyclePhase.Eventually`, so the information would only be available after some delay. The other risk is that it would be adding a dependency workspace tags, making later changes harder.

The way [config](https://github.com/microsoft/vscode/blob/main/src/vs/workbench/contrib/extensions/browser/configBasedRecommendations.ts)/file extension recommendat

[2021-04-30 00:03] umuluto commented on #120004
I also have this issue,  when I set the font to:
[code]

[2021-04-30 00:09] eamodio opened #122699 "Regression: wait (--wait) with custom editors seems to be broken"
Not sure when this started, but in recent Insiders versions, custom editors opened with `--wait` seem to no longer stop waiting when they are closed.

You can reproduce this using GitLens and its rebase editor.

- Install GitLens and make sure you haven't disabled the rebase editor
- Set VS Code as your default Git editor: `git config --global core.editor "code-insiders --wait --reuse-window"`
- S

[2021-04-30 00:26] lramos15 commented on #122699
@bpasero I'm not sure how to investigate this to be honest. I see the issue that @eamodio is experiencing, but I can't find a simple repro with other custom editors so I'm not sure what's special about the git case.

[2021-04-30 00:29] lramos15 opened #122700 "Custom Editors cannot be opened from CLI"
It appears that the caching doesn't work for custom editors, but works for notebooks.

1. Install luna paint
2. Open a png file in VS Code to ensure that the cache is fresh
3.  Run `code-insiders <YOUR_PNG>.png`.
4. 🐛 It opens as the binary text editor and not as a custom editor

[2021-04-30 00:30] rebornix opened #122701 "Run button disappears in github issue notebook"
Issue Type: <b>Bug</b>

I don't have steps for reproduce, any hint for how to troubleshoot next time would be helpful. As shown below, the controller/kernel status bar item it there, but there is no run button, ctrl+enter will also not run

<img width="2032" alt="image" src="https://user-images.githubusercontent.com/876920/116634345-9cca3300-a910-11eb-8915-6ac77f9ee1cb.png">

VS Code version: Code

[2021-04-30 00:32] rebornix commented on #122701
The Run All button disappears too.

I use RemoteHub to open `https://github.com/microsoft/vscode/blob/main/.vscode/notebooks/endgame.github-issues` and execute Run All immediately after the workspace is opened.

[2021-04-30 00:39] digitarald opened #122702 "[Getting Started] More prominent walkthroughs on Welcome"
**tl;dr:** Feature the core Getting Started guides with more prominent placement and design, to raise the likelihood that new and intermediate users discover them.

**Problems**

1. **Muted design causes the walkthroughs to go unnoticed.** While the first Getting Started page (_1.54_), featuring large cards for walkthroughs, had the highest engagement, adding back the well-known Welcome page to br

[2021-04-30 00:48] raysk4ever commented on #87072
i switched to mac it doesn't happens on the mac version. but yeah i was facing that scroll issue on my windows and my ubuntu

[2021-04-30 00:56] mjbvz commented on #121522
Closing this since it sounds like you are no longer hitting it. If you have steps the reliable reproduce this, please let me know

[2021-04-30 00:56] #121522 closed

[2021-04-30 00:58] mjbvz commented on #121381
Closing since this is not useful without more info

[2021-04-30 00:58] #121381 closed

[2021-04-30 00:59] mjbvz commented on #121588
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

Also try to provide info about what seems to trigger the issue

[2021-04-30 01:01] mjbvz commented on #119741
Please fill in the issue template and share steps to reproduce the issue

/needsMoreInfo

[2021-04-30 01:02] mjbvz commented on #118053
Please try collecting the TS Server log from the crashed instance:

1. Set `"typescript.tsserver.log": "verbose"`
1. Restart VS Code and reproduce the problem
1. Open the `TypeScript` section of the output panel
1. At the very top, find the first line that prints to path to the semantic error log file. It should look something like:

[code]

    That file contains the typescript logs.

Look throug

[2021-04-30 01:07] mjbvz commented on #113904
Closing this since there hasn't been any recent activity. Again, it sounds like the feature is working as expected but we would take a PR on the docs if it would clarify this behavior

[2021-04-30 01:07] #113904 closed

[2021-04-30 01:11] mjbvz commented on #107438
Closing this based on comments

I believe we also plan on removing the loader: #121245

[2021-04-30 01:11] #107438 closed

[2021-04-30 01:16] roblourens commented on #122486
So we spawned rg.exe and 10 minutes later, `Got data from stdout` which lines up with when you say you got a result. And when you start the same command with the same options in the same folder, it completes quickly. Very weird. Was the `MsMpEng` process using lots of CPU during this time? Do you have any other antivirus programs installed? Strange things like this are very often due to antivirus,

[2021-04-30 01:20] #120768 closed

[2021-04-30 01:23] xuzhengchao opened #122704 "最大化窗口就卡住"
We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Bug</b>

每次最大化窗口的时候，界面就会卡住不动，但是并没有完全死掉，回复原来窗口就正常了。

VS Code version: Code 1.55.2 (3c4e3df9e89829dce27b7b5c24508306b151f30d, 2021-04-13T09:37:02.931Z)
OS version: Linux x64 4.4.0-148-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-4

[2021-04-30 01:25] hmxulex commented on #122604
window.titleBarStyle seems fixing the titleBar issue
however the display of content windows is still mess

Also, one of my colleagues runs VScode version 1.47 with same VNC, it looks fine I still think it's an issue in VScode.

[2021-04-30 01:59] anirugu commented on #122164
I make a small video demonstrate how it's react when I use terminal https://www.youtube.com/watch?v=SOShl3Vb4ew

[2021-04-30 02:04] martin-displayr commented on #122486
MsMPEng not using much CPU. 0% this time. I remember it was about 7% last time.

I was using the Windows AV but I get the same problem with the real-time protection turned off and restarting VSCode after doing that.

I also tried closing all VS and webpack windows, still same problem.

In another fairly big folder it seems to work OK.

If you can't suggest anything else, I might try working in a d

[2021-04-30 02:04] roblourens commented on #118282
I was using the https://github.com/sinapis/vscode-118282 test repo, not the OP

[2021-04-30 02:05] DonJayamanne commented on #122415
Thanks @jrieken
I believe https://github.com/microsoft/vscode/issues/122415#issuecomment-829109276
Will resolve the issues we have, and the behavior will be similar to what it was prior to kernel push

[2021-04-30 02:13] matepek commented on #107467
Does URI for to provide a location for the TestSuite or TestCase?
I have some in my mind but one of the most simple is when old GoogleTest version doesn't provide the location for the test's definition.

[2021-04-30 02:14] roblourens commented on #122486
I don't have any other ideas, sorry. This is a strange one.

[2021-04-30 02:15] roblourens commented on #121983
This one should be fixed already

[2021-04-30 02:15] #121983 closed

[2021-04-30 02:17] martin-displayr commented on #122486
Ok happy for you to close this. Anti-virus issue could be mentioned on https://github.com/microsoft/vscode/wiki/Search-Issues for other people.

Thanks for making a decent effort here to help me.

[2021-04-30 02:19] v-ericawu opened #122705 "[Loc] In CHS, The incorrect text for "置""
VS Code Version: VSCode 1.55.2
OS Version: Linux ARM64

Steps to Reproduce:
1. Install Simplified Chinese language package.
2. Navigate to the "Settings" at the bottom.
3. Observe the "置" in the settings.

Expected:
![issue14 expect](https://user-images.githubusercontent.com/78774400/116640174-db0d3400-a99c-11eb-9508-0abb2597c5f8.PNG)

Actual:
![issue14 actual](https://user-images.githubuserconten

[2021-04-30 02:39] felixhao28 commented on #122631
If this is not to be fixed any time soon. It may be worth mentioning in vscode.Uri.parse's doc, right here:

![image](https://user-images.githubusercontent.com/2417391/116641967-650acc00-a9a0-11eb-879f-d1221396febb.png)

[2021-04-30 02:45] sometimescasey commented on #120004
I honestly didn't expect this Googling this to actually help me find the solution to the problem but lo and behold, **resizing the terminal worked**

Thanks everyone! 👀

![image](https://user-images.githubusercontent.com/16248601/116642280-7621f180-a93c-11eb-8680-266515e897a8.png)

[2021-04-30 02:47] #122257 closed

[2021-04-30 03:08] v-ericawu opened #122706 "[Loc] In CHS, "格式化文档的方式..." the name and location of the shortcut option is incorrect"
VS Code Version: VSCode 1.55.2
OS Version: Linux ARM64

Steps to Reproduce:
1. Install Simplified Chinese language package and "Prettier - Code formatter".
2. Open a .ts file with VS Code.
3. Right click.
4. Observe "格式化文档的方式...".

Expected:
1.Manifestations： "..." is at the end, and it is "格式化文档的方式..." instead of “使用...格式化文档”.
2.Position： "格式化文档的方式..." should be under “格式化文档”.
![expect](https://u

[2021-04-30 03:15] ABusyProgrammer commented on #91613
@karlind Thank you! Your solution helped me when I was trying to start code as a root user in WSL through ZSH.

[2021-04-30 03:18] gregvanl commented on #121216
@bpasero @mjbvz I had no luck trying to display the language survey notification.
Maybe someone who know more about playing with Local Storage could fool Insiders into displaying the notification?
Looks like VS Code displays the survey notification after a certain number of sessions (9?) across different days.

[2021-04-30 03:18] shuyaqian opened #122707 "_prepareRenderWidget calculation error in contentWidgets"
Hello, I have a problem. When I use the debugger for java plug-in, text overlap occurs:
![image](https://user-images.githubusercontent.com/6367259/116643617-08111500-a9a4-11eb-9526-b7cdddd869fe.png)
Procedure: Open file B, activate the debugger plug-in, and switch back to file A. Codelens overlaps.

I found that this is because in theia, _prepareRenderWidget is executed together with files A and B

[2021-04-30 03:47] bolinocroustibat opened #122708 "terminal.integrated.showTabs setting is not recognized anymore and terminal display tab"
- VS Code Version: 1.56.0-insider
- OS Version: MacOS 11.3

`terminal.integrated.showTabs` setting seems to be not recognized anymore. Therefore, terminal displays a subpane which cannot be removed.

<img width="777" alt="Screen Shot 2021-04-30 at 12 43 48" src="https://user-images.githubusercontent.com/4353767/116646087-2d0c8480-a9b2-11eb-8283-0bea366befb0.png">

[2021-04-30 04:06] jdneo commented on #119943
I directly used the Code Actions in Java(which does exactly the same thing) to test the fix on my Windows machine. So fat it looks good. I tried to remove the file both with and without saving, the workspace edit can correctly applied to the new generated file.

Below is the Insider version I used:

Version: 1.56.0-insider (user setup)
Commit: b2d6cab998570dce35a80b0597758932cbfa7477
Date: 2021-04

[2021-04-30 04:07] yash1032001 opened #122709 "compilation error (it says "last 133 keys")"
Issue Type: <b>Bug</b>

System.ArgumentOutOfRangeException: The value must be greater than or equal to zero and less than the console's buffer size in that dimension.
Parameter name: left
Actual value was -1.
   at System.Console.SetCursorPosition(Int32 left, Int32 top)
   at Microsoft.PowerShell.Internal.VirtualTerminal.set_CursorLeft(Int32 value)
   at Microsoft.PowerShell.PSConsoleReadLine.Real

[2021-04-30 04:22] roblourens commented on #121505
Looks good, although the event is fired twice for each change

[2021-04-30 04:27] roblourens opened #122710 "Collapsed markdown header doesn't expand when creating cell under it if cell is not active"
Related to https://github.com/microsoft/vscode/issues/120641

https://user-images.githubusercontent.com/323878/116648313-91d3ca80-a931-11eb-82be-c14d42a0f809.mp4

When I create a cell in an editor that isn't the active group, the markdown header parent is only expanded in the active group, not the one I clicked in.

[2021-04-30 04:28] narze commented on #46403
You can use *= instead of = to match substring. `:not([title*='Split Editor Right'])`

[2021-04-30 04:38] jameswilliambell opened #122711 "VS Code closes without warning intermittently"
Issue Type: <b>Bug</b>

VS Code closes without warning intermittently. This has happened twice this week.
Seems random in that there are no particular steps other than perhaps not actively doing anything when this happens. i.e. - Edit / look at a file - look at some other application, not vs code OR just stop interacting with vs code - VS Code crashes with no warning or visible error. I have attac

[2021-04-30 04:51] bpasero commented on #122605
Besides "readonly" there is also orphaned code duplicated across editor inputs: https://github.com/microsoft/vscode/commit/f3f4eebecbd47df5012d773fcfcadc4e65fbe79b

Would be good to consolidate maybe in a single reusable editor input. I guess the challenge is that all these editors might have different models where they get this info from.

[2021-04-30 04:53] bpasero commented on #122271
No, but we have a "no stacktraces in tests" policy.

[2021-04-30 04:55] bpasero commented on #122677
/duplicate https://github.com/microsoft/vscode/issues/121974

[2021-04-30 04:55] bpasero commented on #122659
Can you please follow the steps in https://github.com/Microsoft/vscode/wiki/Native-Crash-Issues to get at more details around the crash and attach the result here? Thanks!

[2021-04-30 04:55] #122677 closed

[2021-04-30 04:56] bpasero commented on #122688
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2021-04-30 04:56] connor4312 commented on #120227
fyi (for others who commented on this issue) I believe I've found the issue, see https://github.com/microsoft/vscode-js-debug/issues/982#issuecomment-829819546

[2021-04-30 05:12] bpasero commented on #122711
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2021-04-30 05:19] sandy081 commented on #120202
@alexr00 This is as designed because of new action bar behaviour. You can navigate actions in the actions bar only with right/left arrows. If you tab/shift+tab you will be taken out of action bar. So when you enter action bar please use arrows to navigate.

CC @isidorn

[2021-04-30 05:20] bpasero commented on #122699
I did push a change this milestone to a method that is used for `--wait`: some code that observes all opened editors for a resource to close (the one `--wait` is waiting on). I thought that code should only track file editors and not custom editors but I did not realise that we also want to support custom editors.

I still think the code is fishy because we should not track the resource for closin

[2021-04-30 05:22] jameswilliambell commented on #122711
Switched to insider build. I will use that and will let you know what happens

![image](https://user-images.githubusercontent.com/27325897/116652110-1583ca80-a9b7-11eb-93d9-5f1cba73d9b7.png)

[2021-04-30 05:23] sandy081 commented on #122652
Can you please elaborate your proposal?

[2021-04-30 05:27] sandy081 commented on #122678
We expect workspace configurations are shared using source control which allows more than sync. Is not that enough and what are the limitations?

[2021-04-30 05:30] sandy081 commented on #122684
Are you seeing any errors while installing?

Can you please provide following logs while installing the extension

- F1 > Set Log Level > Trace
- Help -> Toggle Developer Tools -> Console
- View -> Command Pallette... -> Toggle Shared Process -> Console
- View -> Open View… -> Log (Shared)
 - View -> Open View… -> Log (Window)

[2021-04-30 05:41] bpasero commented on #122711
Thanks

[2021-04-30 05:46] wzelang opened #122713 "how can i set download path when download file from workspace?"
Issue Type: <b>Feature Request</b>

Right click file from workspace. Click download file. VS Code turned into a default path C:\.
how can i set download path when download file from workspace? please.

VS Code version: Code 1.55.2 (3c4e3df9e89829dce27b7b5c24508306b151f30d, 2021-04-13T09:35:57.887Z)
OS version: Windows_NT x64 6.1.7601
Remote OS version: Linux x64 4.15.0-142-generic

[2021-04-30 05:58] akosyakov commented on #122652
@sandy081 yes, I meant to add following api to `vs/workbench/workbench.web.api.ts`

[code]

In Gitpod case we would implement it like:
[code]

On implementation side I thought to refactor `serviceMachineId/common/serviceMachineId.ts` into `machine/common/currentMachineService.ts` with following api:
[code]

Default implementation will do the same as for now and for web workbench there will be a su

[2021-04-30 06:04] fnicastri commented on #115798
I'll do. Thanks.
But I think it's related to Code, switching to an old version (1.50.1) ended every issue.
Debugger is running since yesterday without a single problem.

[2021-04-30 06:13] kingma-sbw commented on #121913
If corrected the documentation according current behaviour.

[2021-04-30 06:14] kingma-sbw commented on #85124
The behaviour was changed and the documentation updated now to reflect the new behavirou.

[2021-04-30 06:21] bpasero commented on #96307
Related: we should change to consume our own Electron build even when running out of sources: https://github.com/microsoft/vscode/issues/81425

[2021-04-30 06:23] jlelong opened #122714 "tabSize=1 prevent typing a string matching decreaseIndentPattern in an empty file"
Issue Type: <b>Bug</b>

Open an empty `.html` file, set `tabSize=1` and try to type in `</a>`. The closing `>` will never get inserted. The developper tools console reports.

[code]

The same issue happens with a LaTeX file too, see James-Yu/LaTeX-Workshop/issues/2651.

VS Code version: Code 1.55.2 (3c4e3df9e89829dce27b7b5c24508306b151f30d, 2021-04-13T09:36:32.643Z)
OS version: Darwin x64 20.4.0

[2021-04-30 06:34] IFICL commented on #70764
That's exactly what I want!

[2021-04-30 06:39] bpasero commented on #120202
I find it weird though that the first thing to focus is the disable button and not the left most button:

![image](https://user-images.githubusercontent.com/900690/116657933-857e5a80-a98f-11eb-9bc7-2cbed55b5233.png)

[2021-04-30 06:40] jrieken commented on #119943
Thanks - adding `verified` label based on you feedback. Feel free to come back if there is anything left

[2021-04-30 06:46] jrieken commented on #121807
Unsure... Output is (usually) the result of an execution and you cannot undo an execution because output is only one of its results. Like there is also variables that have changed etc. So, from that point of view I believe that output shouldn't be on the undo/redo stack but yet the notebook needs to be dirty when receiving/clearing output. Not easy, lets discuss in the sync

[2021-04-30 06:52] jrieken commented on #122695
That's a UI concept, to make such diagnostic visible. Arguably, empty diagnostics are bogus to begin with because they don't mark anything. Still, the UI shows them, e.g the adjustment happens in the view model, but we do not adjust the actual model.  I also don't believe that we should temper with extension provided diagnostics is such ways.

[2021-04-30 06:53] jrieken commented on #122695
Assigning to @mjbvz if the triggering of code action should work of the view model... Tho, in any case the actual model remains untouched it would that we trigger code actions at a position at which no diagnostics exists. This sounds all fishy to me and instead the diagnostics should be fixed

[2021-04-30 06:55] jrieken commented on #122271
Well, I don't think there is team consensus on that

[2021-04-30 06:57] jrieken commented on #122701
@roblourens and I have seen this issue as well. This is when the context keys aren't proper, e.g the context says there is 0 kernels and then there are no buttons (despite having a kernel). This recovers when switching editors but I don't know how we get into this...

[2021-04-30 06:59] jrieken commented on #122689
It's not documented because I wasn't sure about it but the `*` view type means any view type.

[2021-04-30 07:00] vivi5421 opened #122716 "SSH Remote - 2 Windows - Wrong Git management"
Issue Type: <b>Bug</b>

Hi,

I have 2 remote windows (SSH-Remote) targetting the same remote host.
First one is opened on a Git repository folder.
Second one is opened on anothe folder (no Git repository).

I can see in Source control panel the content of the first windows in the second one.

VS Code version: Code 1.55.2 (3c4e3df9e89829dce27b7b5c24508306b151f30d, 2021-04-13T09:37:02.931Z)
OS versi

[2021-04-30 07:04] johan-w2w commented on #122618
Same issue here with WSL2 with VSCode 1.55.2

[2021-04-30 07:06] jrieken commented on #122645
Still seeing this with insiders a348d103d1256a06a2c9b3f9b406298a9fef6898

[2021-04-30 07:16] DonJayamanne commented on #122344
@jrieken i think we need to fix this in VS Code.
Our PMs have run into this issue as well, I've had a chat with @rebornix as well.
I think VS Code should do something here, else its a poor UX.

Can't really find a good solution here:
* VS Code will look for the first available preferred kernel and run
* VS Code could wait for n seconds & then prompt the user to select a kernel.
	* This feels wrong

[2021-04-30 07:17] tchkreddy commented on #121705
I'm currently on a higher commit but the issue reproduces

Version: 1.56.0-insider
Commit: a348d103d1256a06a2c9b3f9b406298a9fef6898
Date: 2021-04-30T05:11:52.711Z (1 hr ago)
Electron: 12.0.4
Chrome: 89.0.4389.114
Node.js: 14.16.0
V8: 8.9.255.24-electron.0
OS: Darwin x64

Uploading Screen Recording 2021-04-30 at 12.37.44 PM.mov…

 20.3.0

[2021-04-30 07:19] DonJayamanne commented on #122112
@alyssajotice Wondering whether you're the right person for this issue. (FYI - I'm an engineer from the Jupyter team at Msft).

[2021-04-30 07:21] jrieken commented on #122344
I am sorry but you missed your shot 5 weeks ago, https://github.com/microsoft/vscode/issues/119949

<img width="931" alt="Screenshot 2021-04-30 at 09 19 45" src="https://user-images.githubusercontent.com/1794099/116661818-4bb05280-a995-11eb-9fff-0c98788e0fcd.png">

So, please provide constructive feedback

[2021-04-30 07:29] jrieken commented on #122655
I understand but for me it makes the sentence complex and slightly misleading. I might think I am fine because I don't use "advanced" features or because I don't "edit", I only read files. Also, "advanced" sounds a little like bragging and strictly "editing" is false because the tsdk setting can own you without typing a letter.

Yeah, makes sense

[2021-04-30 07:33] alexdima commented on #122716
I think as soon as a single file is opened from a git repository, we show the git repository. So if in the second window (without a git repository) you every opened a file from the other folder, then the repository would appear.

[2021-04-30 07:38] vivi5421 commented on #122716
Even if no file opened in the second window, I can still see the Git Repository from the 1st window (When I say window, it is not tab, it is a new VSCode window).

[2021-04-30 07:41] testforstephen commented on #119564
yes, it's fixed in insider.

[2021-04-30 07:42] jrieken commented on #122707
theia? this is the vscode repository. Does this reproduce with VS Code stable or insiders?

[2021-04-30 07:47] starlightknown opened #122717 "bug: video system not initialised in pygame in vs code"
**Issue type : Bug**

I get the following error while running pygame in vs code but I don't get the error while running the same program in pycharm

![vscode](https://user-images.githubusercontent.com/74637789/116664465-22ec8500-a9b6-11eb-88e4-7cf8b4a8a215.png)
![pycharm](https://user-images.githubusercontent.com/74637789/116664473-2aac2980-a9b6-11eb-9d62-a894627115cd.png)

- VS Code Version:
- OS

[2021-04-30 07:48] shuyaqian commented on #122707
[monaco-editor-core](https://www.npmjs.com/package/monaco-editor-core) is used in my project,  what I can't figure out is that using the following code to actively trigger the codelens update didn't work:
![image](https://user-images.githubusercontent.com/6367259/116663954-63ee9480-a9ca-11eb-8e4d-a63b3b5b3ffe.png)
![image](https://user-images.githubusercontent.com/6367259/116664150-a6b06c80-a9ca-1

[2021-04-30 07:50] isidorn commented on #122662
Let me assign to this milestone...

[2021-04-30 07:51] isidorn commented on #120202
@bpasero the first thing to focus in a toolbar should be the left most button (even if it is disabled).
Maybe the order in the extensions view is a bit strange...

[2021-04-30 07:53] DonJayamanne commented on #122344
Sorry you felt this is not constructive. I'm not saying that the push model is not good compared to pull. Just saying that the pull solved this particular problem better.
I think you're assuming something entirely different here.

Right now I'm not sure what you want me to do. I'm just providing feedback on a problem with some proposed solutions (I'd consider that constructive).

[2021-04-30 07:56] alexdima commented on #122717
Please open an issue directly against the Python extension at https://github.com/Microsoft/vscode-python/issues

[2021-04-30 07:56] #122717 closed

[2021-04-30 07:57] isidorn commented on #122687
This is fixed for me in latest insiders (I actually pushed a fix a couple of days ago)
@roblourens can you reproduce with a fresh user data dir?
Have you opened this repository some time before this week (when the bug was still present)?
More details here https://github.com/microsoft/vscode/issues/121148

For now closing as duplicate, but if you still see this let me know and I will reopen

![Scre

[2021-04-30 07:57] #122687 closed

[2021-04-30 08:18] sguillia commented on #122539
@joaomoreno Here is additional info with `--verbose`. It prints this when it doesn't open:
[code]

[2021-04-30 08:18] sandy081 commented on #120202
Yeah its weird why it is not getting focused on the left most button, will investigate.

[2021-04-30 08:20] dbaeumer commented on #122629
I will close the issue. The test passed in tonights insiders and they passed locally for me as well.

[2021-04-30 08:20] #122629 closed

[2021-04-30 08:22] a-chris commented on #109176
I have the same issue with the insiders version installed with `.deb`

[2021-04-30 08:22] jrieken commented on #122707
I am sorry but I cannot help with this little information provided. In VS Code the onDidChange-event of a code lens provider is used to tell the UI that lenses of a controller have changed, it's not used the other way around.

[2021-04-30 08:23] #122707 closed

[2021-04-30 08:25] sandy081 commented on #122444
If it is about

[code]

It seems server is printing this info when connection is disposed. Seems legitimate.

[2021-04-30 08:27] jrieken commented on #122344
You feedback is not actionable. You say "Wait for 3 seconds and magically the button appears." but what does that mean?

* Does it take 3 seconds for every notebook or the very first notebook?
* Why does it take 3 seconds? Running `jupyter kernelspec list` takes 150ms on my machine.
* Is that an average number, a median, p95, a random value?

I have no clue what you are suggesting? Do want us to g

[2021-04-30 08:31] joaomoreno commented on #122539
Yeah this could be problematic. Can you try placing VS Code on a shorter path, see if that works?

[2021-04-30 08:39] alexdima commented on #122444
@sandy081 I don't think this issue is about the "The client has disconnected gracefully" message, but about this error:

[code]

Since there are no test failures, it is not clear which test is causing this error. But the immediately next test after the error is :

[code]

So the assumption is that the error message might come from this test.

[2021-04-30 08:40] davidcaste commented on #109176
@oscarkey, @a-chris, are you using Wayland? You can check it with the following command:
[code]
At least in my case, it works has intended on Ubuntu 21.04:
[code]
Using the latest `code-insiders` deb package:
[code]
Finally I execute it with the following parameters:
[code]

[2021-04-30 08:41] DonJayamanne commented on #122344
You're assuming that's all we do. That's not just it.we look for interpreters as well, we try to match interpreters with kernels, get version info etc. And we need to wait for python extension to activate (that's what gives us information about python). 3s is an arbitrary number I pulled from no where. To indicate it could be anything.

Yes, that's right.

I'm trying to start a conversation to loo

[2021-04-30 08:42] #121387 closed

[2021-04-30 08:43] sguillia commented on #122539
It works

It doesn't with a symlink in a shorter path, but it works when I move the installation on a shorter path

Although not convenient, it unblocked me so thank you

[2021-04-30 08:48] alexdima commented on #122716
@vivi5421 I have just tried and I cannot reproduce:

Here I have two folders with the following layout:
* C:\source\folder1 (has no .git folder in it, it is not a git repo)
* C:\source\folder2 (has a .git folder in it, it is a git repo)

The SCM viewlet does not show a git repository for folder1 (on the left):

![image](https://user-images.githubusercontent.com/5047891/116671635-730d1c80-a9a1-11eb

[2021-04-30 08:49] s1-en opened #122718 "Terminal text is blurred whenever it's newly launched."
- VS Code Version: 1.55.2
- OS Version: Windows 10 1909 build 18363.1500

**Steps to Reproduce:**

1. Open the Terminal.
2. See the blurred text

Does this issue occur when all extensions are disabled?: **Yes**

**Temporary Workaround**
Go to settings and change the terminal font size to something else other than what is indicated, and then put it back to the original value. I have to do this **ev

[2021-04-30 08:51] ochowei commented on #122704
The corresponding text:

Each time he maximized the window, the GUI was stuck but not crash. After he pressed the restore button it became normal.

[2021-04-30 08:57] isidorn commented on #122334
This works great now -> verified

[2021-04-30 08:59] a-chris commented on #109176
Sorry, I meant I only have the same warnings:
`Warning: 'enable-features' is not in the list of known options, but still passed to Electron/Chromium.
Warning: 'ozone-platform' is not in the list of known options, but still passed to Electron/Chromium.`

but the application runs successfully, is this supposed to be okey?

I have the same setup as yours: Ubuntu 21.04, Wayland, VSCode Insiders

[2021-04-30 09:00] isidorn commented on #122332
Oh but you are setting the `aria-label` on the wrong HTML element `label-name`
You should use the `List AccessibilityProvider` so the `aria-label` is properly set on the `monaco-list-row` element. It has to be on that element, since that element has focus and that is what the Screen Reader will read.
So I think it should be fixed here
https://github.com/microsoft/vscode/blob/main/src/vs/workbench/

[2021-04-30 09:01] #122535 closed

[2021-04-30 09:02] #122713 closed

[2021-04-30 09:11] #122714 closed

[2021-04-30 09:17] vivi5421 commented on #122716
Hi,

I did further investigation and I guess behavior is expected in the end.
Even if not opening a file, the simple fact of having a git repository somewhere into the folder I've opened makes it available in the sourceControl view.

Sorry for inconvenience.

[2021-04-30 09:17] #122716 closed

[2021-04-30 09:26] oscarkey commented on #109176
Hi @davidcaste I am using Sway 1.6 on Arch:
[code]
I am using the official code-insiders Snap (version a348d103).
For me the app does not launch. It just prints the error I gave in https://github.com/microsoft/vscode/issues/109176#issuecomment-829332998 and exits.
Other Snaps (e.g. Firefox) work, and I have confirmed they are using Wayland by using xeyes.

[2021-04-30 09:29] isidorn commented on #108824
@roblourens seems to work fine for the viewpane header. Notebooks I currently do not have setup on my iPad.

[2021-04-30 09:35] lszomoru commented on #122389
I added the application scope to the `security.workspace.trust.enabled` which should address this. Having said that, I spoke with @sandy081, and it has been a conscious decision not to show a warning squiggle, if an application setting is defined in the workspace settings file. So the setting will appear with a different cover with a hover.

[2021-04-30 09:35] #122389 closed

[2021-04-30 09:41] s1-en commented on #122718
I found a more permanent fix: set `terminal.integrated.rendererType` to `canvas`

[2021-04-30 09:43] bastantoine commented on #122517
Yes exactly.

Yes I understand that, that's quite normal.

I can't, I believe it's the company policy.

---

Anyway, I was able install what I wanted by hand, things are working fine now. I didn't know that VSC already had the ability to install the latest compatible version in case you're using an old version of VSC. I think I had bad luck with both an old version and a proxy blocking the request

[2021-04-30 09:43] #122517 closed

[2021-04-30 09:51] michalZimowski opened #122719 "Cannot push branch after delete origin"
Issue Type: <b>Bug</b>

Case scenario:
1. Go to Source Control tab
2. Create some branch <branch_name>
3. Do and Commit some changes on this branch
4. Publish branch
5. Delete published branch on origin
6. Rename local branch from <branch_name> to <branch_name_new>
7. Try to publish renamed branch - you got info like "No commits found to push"

VS Code version: Code 1.55.2 (3c4e3df9e89829dce27b7b5

[2021-04-30 09:52] lszomoru commented on #122655
+1 on removing the "advanced editing" terminology, for the reasons described above.

I am also not sure about "Code" and "Code - Insiders". The dialog clearly appears in VS Code so do we need to include that in the dialog? Do we include the product name in any other dialogs that we display? If we do intend to include the product name, should it be "Visual Studio Code" instead of just "Code"?

If w

[2021-04-30 09:53] jrieken commented on #122344
Yes, I am happy to brain storm about UI ideas but this is a tricky problem because it is just guess work on our end.

Therefore, I wanna make sure that you have done everything to create controllers as fast as possible. What do you need to do to invoke the `createNotebookController`-function and what can you do afterwards? Note that everything except for `id`, `viewType`, and `preloads` can be cha

[2021-04-30 09:57] joaomoreno commented on #122539
Yeah it's a bit sad that there are strict file path limits on named pipes. Closing this for now, hopefully not a lot of poeple hit the issue. 🤞 It's the first time I see it.

[2021-04-30 09:57] #122539 closed

[2021-04-30 09:58] jrieken commented on #122512
more clarification about sorting inside groups: https://code.visualstudio.com/api/references/contribution-points#Sorting-inside-groups and a sample:

<img width="408" alt="Screenshot 2021-04-30 at 11 57 06" src="https://user-images.githubusercontent.com/1794099/116679799-3e9e5e00-a9ab-11eb-82b5-6663144281b6.png">

[2021-04-30 09:59] michalZimowski commented on #122719
I'm not sure it's a bug, but I think I should have possibility to publish local branch after delete it on origin.
Maybe it's a git issue.

[2021-04-30 10:01] jrieken commented on #122344
to reveal my strategy here: show me that you are creating controllers the fastest possible way and then we build some "progress" UI that nobody ever sees.

[2021-04-30 10:07] jrieken opened #122720 "Notebook cell revealing (via outline, breakcrumbs) only works when editor is default editor"
* install "markdown notebook" extension
* make sure the default editor for MD files is the _text_ editor
* open a MD file (opens as text)
* re-open with markdown notebook
* select an entry from outline or breadcrumbs
* :bug: a text editor opens

[2021-04-30 10:09] tchkreddy commented on #121705
https://user-images.githubusercontent.com/7251057/116662608-9d67d580-a9b3-11eb-8147-82330decfa1b.mov

[2021-04-30 10:10] jrieken commented on #122720
It looks like our editor contribution point isn't called

[2021-04-30 10:13] jrieken commented on #122720
The same happens with the "references view" and the "problems panel" (use GH issue notebooks and make text editor default for its type)

[2021-04-30 10:18] SR-22 opened #122721 "Nodemon package isn't working in Visual Studio Code"
Version: 1.55.2 (user setup)
OS: Windows_NT x64 10.0.19042

Hi VS code team,
The nodemon npm package doesn't work in vs code terminal. I installed it using:
`npm install nodemon`
The installation finished but when I used it:
`server.js nodemon` (In the terminal)
I got a whole bunch of errors and it doesn't work

Does this issue occur when all extensions are disabled?: Yes/No
Yes

[2021-04-30 10:23] asif987patel opened #122722 "Resize Sidebar-Bar or editor by scroll"
## Resize Sidebar
I want a feature that can resize the vscode's Side-Bar just by shortcut (alt+scroll), like in Postman

https://user-images.githubusercontent.com/49115106/116682644-20952580-a9cc-11eb-94bf-eb0c165a8aa1.mp4

[2021-04-30 10:51] bpasero commented on #122694
Does it reproduce without snap, e.g. by using the zip archive: https://az764295.vo.msecnd.net/insider/6449b6b7253b5808e2278903c82da8d59a230383/code-insider-x64-1619775740.tar.gz

[2021-04-30 10:56] bpasero opened #122723 "Remove node.js dependency from tunnel service"
The `src/vs/workbench/services/remote/electron-browser/tunnelServiceImpl.ts` is one of those few remaining things that currently require node.js in the renderer. To prepare for a sandboxed renderer, we need to start thinking how a non-node.js version would look like.

Some options:
* switch to websockets (cc @alexdima)
* create a service in the shared process that can establish the tunnel (similar

[2021-04-30 11:27] #121964 closed

[2021-04-30 11:27] #121944 closed

[2021-04-30 11:27] #121922 closed

[2021-04-30 11:27] #121889 closed

[2021-04-30 11:27] #121414 closed

[2021-04-30 11:27] #121349 closed

[2021-04-30 11:28] #112535 closed

[2021-04-30 11:37] Tyriar commented on #122692
Not sure I agree with this one, let's bring it up in the UX sync

[2021-04-30 11:40] Tyriar commented on #122039
Yes I don't think right click should be changing the active terminal

[2021-04-30 11:41] Tyriar commented on #122227
If anyone gets details on a repro here please let me know. Something to try if you see this is to see if creating a new terminal will fix up the terminal (which would indicate a missing layout call, rather than a missing icon hiding the title).

[2021-04-30 11:42] stevenkramer opened #122724 "launch.json: outfiles broken for typescript if it contains more than one entry"
Issue Type: <b>Bug</b>

I'm debugging a simple typescript project, after upgrading to 1.55.2 from a version about a year old, the debugger couldn't find the transpiled files any longer. After some trying, I got this working again by reducing the number of entries to one catch all globbed entry.

The problem manifests even if I have only the functioning wildcarded entry and duplicate it.

VS Code v

[2021-04-30 11:43] stevenkramer commented on #122724
Seems to have been reported here: https://github.com/microsoft/vscode/issues/105626

[2021-04-30 11:47] whippingdot commented on #122584
Ok, I am not on that computer for another 10 days so I will respond in some time (please ping me in like 11 days incase I forget)

[2021-04-30 11:53] isidorn commented on #122724
Ok, then closing as a duplicate

[2021-04-30 11:55] stevenkramer commented on #122724
@isidorn that issue is "waiting for information" and inactive for months though.

[2021-04-30 12:01] #122699 closed

[2021-04-30 12:03] Tyriar commented on #122680
width/height should work for me, I didn't check if it works.

It would be nice to center them as well but I think I want to do this across all documents so maybe a config on the step?

[2021-04-30 12:06] Tyriar commented on #121705
@tchkreddy hmm that exact repro works fine for me. Do you see any errors in the either devtools console (Help > Toggle Developer Tools) or in the shared process console (F1, Toggle Shared Process)?

[2021-04-30 12:07] Bhardvaj commented on #114397
This is issue still present in version 1.55.2. with the same step as I have given above. For, me this doesn't only happen for big merge but also happens for the small one-line merge too.

[2021-04-30 12:09] Tyriar commented on #122611
Looks like @meganrogge fixed this yesterday with https://github.com/microsoft/vscode/commit/e7c0af1137fd1788b8ba853f7351af4498f1a544#diff-38cb820e08ef9a8479ff998378fa4b33cd3a9e57461329ded57f8a4b5e8dae4a and https://github.com/microsoft/vscode/commit/033934457979b1993ae8eb9301ea9a1fcaebde39

[2021-04-30 12:09] #122611 closed

[2021-04-30 12:12] Tyriar commented on #121282
Think this regressed because we switched to run the command which works based off the selection in the list

[2021-04-30 12:12] Tyriar commented on #121172
Yep, same root cause

[2021-04-30 12:16] #121172 closed

[2021-04-30 12:20] Tyriar opened #122725 "Switch terminal tabs off by default in release branch"
We decided to turn the feature off by default. While the feature is quite polished at this point, there are a few remaining issues and we'll probably find some more when the feature goes out to a larger group so we'll push the default switch to next month.

[2021-04-30 12:21] misolori commented on #122440
Verifications steps:
1. Enable customers hovers
2. Create an untitled file with unsaved changes
3. Close file and see dialog with the secondary button

[2021-04-30 12:22] Tyriar commented on #122618
/duplicate https://github.com/microsoft/vscode/issues/122725

[2021-04-30 12:22] #122618 closed

[2021-04-30 12:24] Tyriar commented on #122164
Can you share your settings.json file?

[2021-04-30 12:25] Tyriar commented on #122697
/duplicate https://github.com/microsoft/vscode/issues/121772

[2021-04-30 12:25] #122697 closed

[2021-04-30 12:26] tchkreddy commented on #121705
None in Shared Process console, but these in Dev Tools. Not sure if they are related
![image](https://user-images.githubusercontent.com/7251057/116694856-67d7e200-a9dd-11eb-9221-b13e8fec738d.png)

[2021-04-30 12:28] Tyriar commented on #122696
Can't reproduce, do you have `terminal.integrated.experimentalUseTitleEvent` set? This is by design if so

[2021-04-30 12:30] Tyriar commented on #121705
That's not related 🤔

Could you capture a trace log of the split, it will give us the exact values used to create the terminal, perhaps the `cwd` is set to something invalid or something https://github.com/microsoft/vscode/wiki/Terminal-Issues#enabling-trace-logging

[2021-04-30 12:31] Tyriar commented on #122191
Left intentionally as bug since it has a separate repro case to verify

[2021-04-30 12:50] IllusionMH commented on #122721
/needsMoreInfo

Are you sure you used commands as you showed here?

Because it's incorrect way - installation should be global or you need to launch it in different way. `modemon` should be before script file, not after.

See details for pacage https://www.npmjs.com/package/nodemon

A;so make sure that that command works as expected in same shell but not in VS Code.

[2021-04-30 12:52] SR-22 commented on #122721
Yes I types the same commands in and the current terminal in vs code was: 1:powershell

[2021-04-30 13:00] jeromerg opened #122726 "split line highlight border and cell region lines #99425"
Would it be possible to re-open the issue #99425: It would be a great added-value to be able to better distinguish the cells in the python files. But currently the color used to delimit the cell is `editor.lineHighlightBorder` which highlights the line where the cursor is located in ...

[2021-04-30 13:19] IllusionMH commented on #122721
Follow proper steps from package description and check if they work.
And if not make sure they work outside of VS Code in standard windows Power Shell

[2021-04-30 13:20] bpasero opened #122728 "Notebook does not turn readonly when filesystem is readonly"
Steps to Reproduce:

1. either start with a readonly file system provider or have a provider that turns readonly after a while
2. open a notebook

=> 🐛 none of the cells are readonly when the file system provider turns readonly or is readonly from the beginning.

The text file editor solves this by listening for the file system capabilities and updating accordingly, e.g.:

https://github.com/micro

[2021-04-30 13:21] darkbasic commented on #109176
Does it affect flatpak as well?

[2021-04-30 13:22] swirly commented on #56614
This ticket is still open after almost 3 years, with nothing but temporary hacks for solution. Anyone in the dev team is in charge for this ?

[2021-04-30 13:22] bpasero commented on #122728
Besides the editor itself, we also decorate editor labels with a suffix:

![image](https://user-images.githubusercontent.com/900690/116701022-b8dcdb80-a9c7-11eb-9c5f-f835b9183c28.png)

Similar to the orphaned label, there should be a way to reuse this. Matt started this with the method [`decorateFileEditorLabel`](https://github.com/microsoft/vscode/blob/11a7f9565ea8b3e1fa1791606d1410cf02f345b2/src

[2021-04-30 13:25] bpasero opened #122729 "Readonly file system providers are not honoured"
File system providers can signal that they are readonly. They can either always be readonly, but this can also be changing during a session (capabilities can always change).

A custom editor currently does not seem to be readonly when the file system provider is readonly, i.e. I can still edit:

![recording](https://user-images.githubusercontent.com/900690/116701504-44ef0300-a9c8-11eb-9962-a9601af

[2021-04-30 13:32] AckerApple commented on #70764
@tjdraper @IFICL

Install CodeServer on your “main” machine. Install Servediter App on your iPad and use self hosted mode with url targeted at your “main” machine. That’s it

Is it because the iPad app is not directly named “Vs Code”? Is it because you have to install one app on iPad and one on Computer?

Come on y’all, it’s Friday and you are all good programmers so get to trying my 20+ comments

[2021-04-30 13:40] isidorn commented on #122724
fyi @connor4312 in case he wants to investigate

[2021-04-30 13:50] Rohit459 commented on #122580
Hi Here is the file that you asked for
[vscode-debugadapter-f73851f1.json.gz](https://github.com/microsoft/vscode/files/6405739/vscode-debugadapter-f73851f1.json.gz)

[2021-04-30 13:55] bendras commented on #121231
I have similar issue. Using Visual Studio Code dev channel, WSL2 Ubuntu, Docker desktop.
Repository is on Ubuntu file system.
GIT is authenticated with username and password.
Docker is enabled on the Ubuntu WSL2.
node.js must be installed on WSL2 distro I think.

Visual studio command to sync repository works OK when no changes to push.
But when it relates to commit and then Sync, it will spin for

[2021-04-30 13:57] Tyriar commented on #122676
I guess the h is coming from `fish ~`. Unconfirmed.

[2021-04-30 13:59] Tyriar commented on #121928
We've made a lot of changes in this area recently, could you try the [Insiders build](https://code.visualstudio.com/insiders) to see if it still happens?

[2021-04-30 14:01] FWest98 commented on #122676
That might be, but I guess that is a rendering bug then? Strange that it would only catch the `h`, because this doesn't happen in any other terminal.

[2021-04-30 14:03] Tyriar commented on #122676
It could have something to do with https://github.com/microsoft/vscode/issues/119204, or your set of zsh plugins?

[2021-04-30 14:13] FWest98 commented on #122676
Unfortunately, that doesn't seem to be related. The strange thing is that when working in the WSL Remote via the extension, I have no problems at all. This only recently appeared after upgrading VS Code from 1.49 while also upgrading my WSL distro 18.04->20.04, but I don't know which of the two caused it.

Additional observations:
- When terminating a line with Ctrl+C it does not show the extra ch

[2021-04-30 14:36] keno-kayknow opened #122731 "can't push to github"
Issue Type: <b>Bug</b>

Looking for git in: C:\Program Files\Git\cmd\git.exe
Using git 2.28.0.windows.1 from C:\Program Files\Git\cmd\git.exe

Open repository: c:\Users\HP\Desktop\bright

Warning: Failed to watch ref 'c:\Users\HP\Desktop\bright\.git\refs\remotes\origin\master', is most likely packed.

fatal: no such branch: 'master...master'

fatal: couldn't find remote ref master

VS Code version

[2021-04-30 14:42] #121282 closed

[2021-04-30 14:47] alexdima commented on #122088
Let's first try to find out what command executes on your machine, with your settings and your keybindings when pressing `ctrl+pagedown`. Could you please [try the following](https://github.com/microsoft/vscode/wiki/Keybinding-Issues#basic-troubleshooting):

* Run the command `Developer: Toggle Keyboard Shortcuts Troubleshooting`
* This will activate logging of dispatched keyboard shortcuts and wi

[2021-04-30 14:50] yolofanhd commented on #122506
It gets colored blue if I click on the autocomplete options.

![20210430_164934.jpg](https://user-images.githubusercontent.com/76175017/116712380-17a85200-a9d4-11eb-97d0-3d1aa6905d67.jpg)

[2021-04-30 14:58] alexr00 commented on #120388
Works well!
![image](https://user-images.githubusercontent.com/38270282/116713602-3e1abd00-a9d5-11eb-8e3c-d6a79729194a.png)

[2021-04-30 15:05] Tyriar commented on #115807
I've tried to verify this 3 times over the past few weeks and failed each time. The serialization/deserialization code got a little complex in my codebase but I don't believe this is fixed. Here are problems I was having:

- You mentioned `transfer` above but it's not in the types, it's not clear exactly what I need to do here
- Passing either a Uint8Array or ArrayBuffer from the ext host to webvi

[2021-04-30 15:07] Sti2nd commented on #115997
This issue is pretty much a duplicate of #46994 which suggests using a chekbox for better amend experience, in case you didn't see #46994 @eamodio 😇

[2021-04-30 15:10] isidorn commented on #119059
I follow the above steps from @bpasero and when I want to reload VS Code can not be shut down. I have to force quite it in order to shut down.
It seems like we are awaiting on something in the shutdown phase and that never completes.
This looks like a serious issue, I suggest to fix for this milestone if possible.

[2021-04-30 15:13] isidorn commented on #120352
Author verified, adding verified label to not appear in verification query

[2021-04-30 15:13] jrieken commented on #122720
Debugged this a little: everything works nice up to the point where the user setting is read and [applied](https://github.com/microsoft/vscode/blob/df7aae61657391e1edef014873249db0ab039f47/src/vs/workbench/services/editor/browser/editorOverrideService.ts#L230-L230). That "steels" the resource from notebooks and re-routes it into the "normal" editor land...

This code is novel to me so I might not

[2021-04-30 15:16] isidorn commented on #121539
@hansu can you please try https://code.visualstudio.com/insiders/ and let us know if this issue is fixed? Thanks!

[2021-04-30 15:17] TylerLeonhardt commented on #120992
Good to know. Thanks @isidorn! 🐿

[2021-04-30 15:17] isidorn commented on #121280
Adding verified based on user feedback and based on the fact there is a seperate issue for the other problems outlined here

[2021-04-30 15:18] Tyriar commented on #115396
Thanks @oliversalzburg, keep us posted if you hit it again

[2021-04-30 15:20] alyssajotice commented on #122689
Thanks!

[2021-04-30 15:20] #122689 closed

[2021-04-30 15:25] bpasero commented on #121491
At least from devtools I seem to be able to use node.js just fine when the workbench hangs:

![image](https://user-images.githubusercontent.com/900690/116717250-fa29b700-a9d8-11eb-9617-4ee8504436c5.png)

Also, the fact that we show a bit of the workbench UI ("rapid rendering") means the window is not entirely dead.

[2021-04-30 15:25] isidorn commented on #115396
I trust @oliversalzburg as a committed member of the community -> verified

[2021-04-30 15:27] isidorn commented on #122662
Did not see this today, adding verified. If I see again I will let you know

[2021-04-30 15:29] jrieken commented on #122671
done with b17b808870df962ebc0a5706fb682375526edf42

[2021-04-30 15:30] isidorn commented on #93200
Super easy steps to verify:
Run this javascript code and make sure the output is styled in the debug console as is shown in the second picture

[code]

[2021-04-30 15:34] jrieken opened #122733 "Live Share and NotebookSerializer"
Before migrating to serializers, Live Share needs a way to get a list of the available serializers, similar to the command `vscode.resolveNotebookContentProviders`. We also need a way to add viewOptions when registering a serializer so that we can add a fileNamePattern for the serializer.

_Originally posted by @alyssajotice in https://github.com/microsoft/vscode/issues/102503#issuecomment-8294246

[2021-04-30 15:39] alyssajotice opened #122734 "Notebook serializers need viewOptions"
In order to complete the migration to serializers and stop using content providers, we need to be able to specify a `viewOption` with a `fileNamePattern` for the serializer so it can recognize files. I am working on Live Share notebooks support, and I need to register a serializer on the guest side that can recognize files with a specific file name. The only place to associate the serializer with

[2021-04-30 15:40] ArturoDent commented on #93200
I get this (hopefully blinking is correct):

![ansiTest](https://user-images.githubusercontent.com/31813701/116719098-ea3db300-a997-11eb-8c4e-91dbe64153b8.gif)

Version: 1.56.0-insider (user setup)
Commit: 6449b6b7253b5808e2278903c82da8d59a230383
Date: 2021-04-30T11:35:41.567Z
Electron: 12.0.4
Chrome: 89.0.4389.114
Node.js: 14.16.0
V8: 8.9.255.24-electron.0
OS: Windows_NT x64 10.0.21364

[2021-04-30 15:42] Tyriar opened #122735 "Panel titles should get re-rendered when actions change"
Repro:

Open 2 terminals, set `"terminal.integrated.tabs.showActiveTerminal": "always"` and reduce width to show `...` in panel

<img width="735" alt="Screen Shot 2021-04-30 at 8 40 32 AM" src="https://user-images.githubusercontent.com/2193314/116719419-e443d400-a98f-11eb-8b3b-33f3d95ae8c9.png">

Comment out the `"terminal.integrated.tabs.showActiveTerminal": "always"` setting

<img width="740" al

[2021-04-30 15:44] bpasero opened #122736 "Window refuses to reload with an opened `iframe` based editor"
I have seen this before but never figured out how to reproduce, but now that @isidorn reported https://github.com/microsoft/vscode/issues/119059#issuecomment-830163425 I was able to find the steps:

* test from a fresh user data dir and fresh extensions dir
* install the draw.io extension: `hediet.vscode-drawio`
* from the command palette pick "Draw IO: New Draw IO diagram"
* add some boxes so tha

[2021-04-30 15:45] connor4312 commented on #122580
It looks like you might have symbolically linked sources. If you do, follow the "Can I debug if I'm using symlinks" steps here: https://code.visualstudio.com/docs/nodejs/nodejs-debugging#_can-i-debug-if-im-using-symlinks

[2021-04-30 15:46] bpasero commented on #122736
Running with `--verbose` shows that the main side continues unloading the window to prepare for a reload, but the call to `loadUrl` is actually never doing anything it seems.

![recording (1)](https://user-images.githubusercontent.com/900690/116720022-03685300-a9dc-11eb-8d42-24afc5450020.gif)

[2021-04-30 15:47] connor4312 commented on #122724
/jsDebugLogs

[2021-04-30 15:47] connor4312 commented on #122696
Yes, I do

[2021-04-30 15:47] #122696 closed

[2021-04-30 15:47] bpasero commented on #122736
I wonder if this stack is related:

[code]

[2021-04-30 15:49] RandomFractals commented on #122673
this is most likely due to text/html output renderer using same DOM as notebook view to display loaded page in cell output.

Expected: there is a clear boundary for cell outputs and separate DOM used for loaded web pages, charts, and other rich output renders.

[2021-04-30 15:51] jaymegordo commented on #101014
@austincondiff do you have those dark icons available for download? The dark w shadow is 👌🏻

[2021-04-30 15:52] #122610 closed

[2021-04-30 15:52] roblourens commented on #122610
Didn't have the latest extension change active.

[2021-04-30 15:55] MrLsts opened #122737 "VSCODE Overrides my keymapping"
Issue Type: <b>Bug</b>

As described in
[this superuser issue](https://superuser.com/questions/1637527/how-to-make-vscode-accept-my-keymapping)
I had to swap the key mapping of Shift_R and Up_arrow in my Lenovo ideapad keyboard to make it suitable to touch typing. Idid this by editing /usr/share/X11/xkb/symbols/pc, and making.

key <RTSH> {    [ Up            ]   };
key   <UP> {    [ Shift_R

[2021-04-30 15:58] jrieken commented on #122734
/duplicate of https://github.com/microsoft/vscode/issues/122733

[2021-04-30 15:59] #122734 closed

[2021-04-30 16:00] JeffreyArt1 opened #122738 "Git tag GUI adds extra -m arg"
- VS Code Version: Version: 1.55.2 (Universal)
- OS Version: macOS Big Sur 11.1

Steps to Reproduce:

1. Create a tag from the **source control** panel
2. After selecting the command on the tag creation confirmation window, it will run the command to create the tag, and you will get the following:
[code]

Does this issue occur when all extensions are disabled?: All the tabs disappear from the **so

[2021-04-30 16:01] roblourens opened #122739 "Multiple editors marked as "currently active""
- Open a notebook
- Run "Reopen editor with"
- Can't switch to text editor because it's marked as active already

![image](https://user-images.githubusercontent.com/323878/116721872-a4322080-a992-11eb-83c1-d00b3435462c.png)

[2021-04-30 16:16] IFICL commented on #70764
You're right. ServEditer + CodeServer is a great choice. But some people might do not have sudo permission to install code-server on the remote machine, like me. That's the issue here. If we are able to access with ssh only, that's will be even better.