[2016-09-08 09:00] asadsahi commented on #9448
@rob3c @Tyriar Thanks once again.

Got both working with following config:

[code]

batch file content:

`cd .. && cd C%cd:~1% && %COMSPEC%`

@rob3c Didn't get what you mean by using exit twice? where would I use exit command? I tried using before/after %COMSPEC%` but that didn't open the terminals. Can you please explain that a little bit.

[2016-09-08 09:06] #11636 closed

[2016-09-08 09:07] alexandrudima commented on #11580
I am in favor of adding extension host API where a semantic classifier can complement a "dumb" top-down colorizer.

[2016-09-08 09:11] alexandrudima commented on #11659
@NiggyWizzyWoz can you try changing the OS - level settings for key repeat. I am not familiar where these settings exist, but we basically react to each and every character produced by Chromium, which I believe respects the OS - level setting. I am not sure if MACVIM respects the OS - level setting or it has implemented its own repeat logic.

[2016-09-08 09:14] roblourens commented on #11672
Yes, it's scrolled all the way to the top. Sorry I don't have actual repro steps. I forgot to check the chrome console... will keep an eye open though.

[2016-09-08 09:15] weinand commented on #11653
@isidorn I've seen something like this too. For me it typically happens for the same debug type: first I run a launch config "test", then I switch to launch config "server" and press the green start button. Later, when waiting for the server to startup, I notice that the tests are running again...

I believe this is a timing issue (race condition). While a debug session is running, it should not b

[2016-09-08 09:24] isidorn commented on #11672
Then the tree is badly rendered. On what OS are you? Repro steps would be great
ping @joaomoreno

[2016-09-08 09:27] alexandrudima commented on #10080
@aeschli Here I am using VSCode version 0.10.8. Please notice how `ctrl+d` works correctly in JSON.

![word-json](https://cloud.githubusercontent.com/assets/5047891/18344023/fd1f6d62-75b5-11e6-89e4-7949338c1657.gif)

The bug was introduced when JSON changed its word definition regex in such a way that it now incorrectly identifier strings in quotes such as `"Hello world, I am having a great day to

[2016-09-08 09:30] roblourens commented on #11672
OSX

[2016-09-08 09:30] alexandrudima commented on #11629
Let's track in #11112.

@vigikaran Don't forget to upvote the issue

[2016-09-08 09:30] #11629 closed

[2016-09-08 09:32] alexandrudima commented on #11574
@ramya-rao-a I haven't noticed Visual Studio persisting the user choice. Same as we, they have a find widget for each editor (so if you open multiple editors side-by-side they each get their find widget). What would we persist if we have multiple find widgets that have different toggles?

[2016-09-08 09:32] smneal commented on #10625
I've just started trying to use this and hit the same issue.

[2016-09-08 09:39] staltz commented on #10374
Hi, I have a similar use case. Can I ask what was meant with "*With the enhanced decorations you can do the before and after trick*", or links to more explanations on that?

[2016-09-08 09:39] ydcoming commented on #9285
This extension adds two new context menus to the Explorer Viewlet:

* **Open New Workbench Here**: Opens a new instance of VS Code scoped to the selected folder OR to the folder containing the selected file.
* **Reopen Workbench Here**: Reopens VS Code scoped to the selected folder. This feature only works on folders, it has no effect when a file is selected.
now i want to add two new context menu

[2016-09-08 09:40] Namek commented on #1749
I don't see a need to convince anyone here but look how I work at the moment:
![image](https://cloud.githubusercontent.com/assets/31058/18344739/beb3194a-75b8-11e6-9358-32b59854a199.png)

I feel claustrophobic, heh.

Don't forget about **key shortucts** to split horz/vert and switch between. Mouse should be optional.

[2016-09-08 09:41] ydcoming commented on #9285
@jrieken
This extension adds two new context menus to the Explorer Viewlet:

Open New Workbench Here: Opens a new instance of VS Code scoped to the selected folder OR to the folder containing the selected file.
Reopen Workbench Here: Reopens VS Code scoped to the selected folder. This feature only works on folders, it has no effect when a file is selected.
now i want to add two new context menus t

[2016-09-08 09:49] alexandrudima commented on #10080
I am adding the label important because this is a regression. @aeschli If you wish I can try finding the exact commit which introduced this regression.

[2016-09-08 09:52] ydcoming opened #11682 "Sub menus by extensions in explorer context menus,item menus"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
![Uploading _$CQ1XEFL8S{Q{R_R)_P3E5.png…]()

2.
This extension adds two new context menus to the Explorer Viewlet:

Open New Workbench Here: Opens a new instance of VS Code scoped to the selected folder OR to the folder containing the selected file.
Reopen Workbench Here: Reopens VS Code scoped to the selected folder. This feature only works

[2016-09-08 09:54] isidorn commented on #11635
REPL is a common term for a read–eval–print loop - that is our debug console.
Accept input means just to apply the current input from the debug console input box.

I have also added a comment to the term so the meaning is clearer in the future.

[2016-09-08 09:54] #11635 closed

[2016-09-08 10:00] ferarias commented on #11618
In console I can run commands as usual:

[code]

[2016-09-08 10:15] peterbourgon commented on #11574
@alexandrudima Last writer wins? Honestly that's an edge condition, any decision is fine.

[2016-09-08 10:24] weinand commented on #11624
@mamboer If you run your app from the command line with "node app.js", does 'exec' find 'pug'?

[2016-09-08 10:50] mgerner opened #11683 "Diff doesn't accurately minimize the number of diff hunks"
For some changes, diff hunks (groups of changed lines) can be computed in different ways. VS Code sometimes separates changes into different hunks when it arguably shouldn't, making viewing of diffs (slightly) more difficult.
- VSCode Version: 1.4.0
- OS Version: Debian stretch

Steps to Reproduce:

Create a file with the contents (note two blank lines) and commit it using e.g. git.

[code]

In th

[2016-09-08 11:03] roblourens opened #11684 "File model cache can end up with stale, disposed entries causing issues"
Saw this today but could not consistently repro. I opened this folder, opened the Git view, opened the diff of nodeDebug.ts. Cleaned the changes in that file. Then I opened another file. Then clicked on nodeDebug.ts and saw the issue in the gif - when I click nodeDebug.ts, it doesn't change the editor content. Debugged with @jrieken and saw in doSetInput that we get a disposed model. But no other

[2016-09-08 11:23] marvinhagemeister commented on #11620
@ramya-rao-a @bpasero It was yesterdays (7.9.2016) update that broke it for me. Weirdly, I haven't been able to reproduce this anymore today. I'll leave this open for another day and if I can't find anything to reproduce it or the issue is gone, I'll close this one

[2016-09-08 11:50] weijarz opened #11685 "Can not assign "Show Opened Editors" command to a keyboard shortcut"
- VSCode Version: 1.4
- OS Version: Linux

The commnd is described here: <https://code.visualstudio.com/docs/editor/tabs>

But this command is not shown in the command list, and can't assign a shortcut to it.

[2016-09-08 11:52] bpasero commented on #11684
@roblourens yeah I saw this once too, there is a disposed model lurking in my caches and you do not get an error. I am working in this area currently to make sure that my caches never contain a disposed model. I am optimistically closing this as fixed, but please reopen if you see it from our 1.6.0 nightlies (where I pushed some changes).

[2016-09-08 11:54] bpasero commented on #11620
@marvinhagemeister I would be surprised if any change in that time frame could cause this, rather this bug is hard to reproduce but can always happen with 1.5. Anyhow, when you find steps to reproduce, please comment.

[2016-09-08 11:57] bpasero commented on #11685
<img width="743" alt="screen shot 2016-09-08 at 13 56 38" src="https://cloud.githubusercontent.com/assets/900690/18348527/16373dfa-75cc-11e6-98da-7b64992d1aad.png">

In the command list this is: Show All Editors

[2016-09-08 12:07] #11685 closed

[2016-09-08 12:11] olaeld commented on #9479
There is also an issue that, after VS Code is already open, right-clicking on a file in Windows and selecting "Open with Code", VS Code does not appear in front, so I need to perform a second action to switch. Clearly, this is not what I want.

[2016-09-08 12:30] DoranYun opened #11686 "How to break line with `commands.executeCommand`"
- VSCode Version: 1.4.0
- OS Version: OS X

I'm writing a extension, I want binding `enter` to do somthing if extension trigger, another time, `enter` keep default ( break line). So,  How to break line with `commands.executeCommand`

[2016-09-08 12:35] aeschli commented on #10080
@alexandrudima The change was made intentionally, please read my comment above. It fixed various issues with code assist which I feel are more important that Ctrl+D.
If nothing else it shows that the word-regex is overloaded, used in different contexts with different requirements. It describes 'words' in a language (I'd rather call them tokens), but also seems to be used for content inside comment

[2016-09-08 12:59] lukaschal commented on #11344
After linguist confirmation, all these strings reverted to ENU now.

[2016-09-08 12:59] #11344 closed

[2016-09-08 13:12] con-ssc opened #11687 "App Freeze on huge JS files"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.10586

Having multiple large (3000+ lines) JavaScript files open seems to crash the language server. The code colorization goes haywire coloring single letters randomly and the whole app freezes.
ReOpen or Wait does not work, only Close will kill the app.

[2016-09-08 13:16] thorn0 opened #11688 "Feature request: 'Ignore comments' checkbox in the 'Find' dialog"
Wide popularity of the embedded documentation conventions like JSDoc and C#'s XML comments leads to a situation where comments often constitute the bigger part of a source file. This abundance of comments makes it extremely difficult to find anything in the source code proper. For example, reading someone's code, we might want to know how and where a certain function is used. However, if we decide

[2016-09-08 13:17] egamma opened #11689 "Editor view port jumps without a need"
I got into a state where the editor jumps around without a need.

I got into this state after I've inserted the `for loop` snippet.

![scroll](https://cloud.githubusercontent.com/assets/172399/18350669/37087ee4-75d7-11e6-9242-15d73a78ce5c.gif)

[2016-09-08 13:23] omayhemo commented on #2726
FTFY

[2016-09-08 13:27] weinand commented on #2726
@omayhemo I don't understand.
Do you mean the approach from my previous comment did not work for you?

[2016-09-08 13:35] Dickurt opened #11690 "Allow extensions to get TextDocument character encoding"
Currently I am writing an extension that reads (part of) the active document and writes the file's content to an external file. The content of the external file will then be altered, after which the content will be put back into the original file (active document).

The issue here is that there is no way to be absolutely sure which character encoding the external file uses. So, when trying to read

[2016-09-08 13:41] pcgeek86 commented on #11643
@isidorn It opens the Debugger pane on the Sidebar, which isn't necessarily desirable. Also, the behavior is inconsistent, because it does it the first time, but doesn't do it after that.

[2016-09-08 13:57] kaleb opened #11691 "Multiple open instances, same PWD env"
- VSCode Version: 1.4.0
- OS Version: Ubuntu 14.04.5 LTS

Steps to Reproduce:

1. From path A, e.g. ~/projects/foo/bar, open code with the following command: `code .` We'll call this *vscode A*.
2. From path B, e.g. ~/projects/baz/qux, open code with the following command: `code .` We'll call this *vscode B*.
3. Setup runtasks for both workspaces as follows:

        {
            // See https://g

[2016-09-08 14:10] #11678 closed

[2016-09-08 14:15] joaomoreno commented on #11678
Fixed by removing them. Timers should live outside the telemetry service anyway, since all they provide is a `duration` field. Adopted new ways to log timed events in places that still seemed interesting and removed uses where owners showed no interest in keeping.

[2016-09-08 14:19] omayhemo commented on #2726
No it doesn't work for me, unless I'm missing something.  Putting the runtime path to the npm location results in the ENOENT error.  I've tried several different paths here, all ultimately ending in failure.

Additionally our teams make heavy use of gulp serve and browserify.

[2016-09-08 14:20] lukecwilliams commented on #5102
In case anyone reads this thread as I did and still doesn't know how to resolve the conflict, here's how to disable Mac's F11 behavior:

1. Go to System Preferences -> Keyboard -> Shortcuts
2. Uncheck the "Show Desktop    F11" option

[2016-09-08 14:26] OliverJAsh commented on #11379
Thanks, but this setting doesn't seem to be working for me?

[2016-09-08 14:33] weinand commented on #2726
@omayhemo if all other IDEs support npm scripts for launching the target in debug mode, then you you can probably help me understanding how these IDEs run the target in debug mode through npm.

And in what ENOENT error are you running? If you use `which npm` to find the path, I cannot imagine how that can result in an ENOENT.

[2016-09-08 14:36] weinand commented on #5102
@lukecwilliams so my comment from above (with the screenshot) didn't work for you?

[2016-09-08 14:39] weinand commented on #2726
@omayhemo for the gulp serve and browserify issues I suggest to create a new issues so that we can track them individually.

[2016-09-08 14:39] alexandrudima commented on #11689
@egamma Any errors in the console, do you still have this state? I've tried inserting a for loop and I didn't see anything like this.

[2016-09-08 14:39] roblourens opened #11692 "Get completions from debug adapter in watches pane"
Seems like we could have the same intellisense experience that we have in the console when typing an expression into the watches window

[2016-09-08 14:40] kumarharsh commented on #4680
@dbaeumer it seems like the issue has been fixed in TS, but has not come into vscode (latest insider) yet. I'm still getting one extra underscore on my variable names.

[2016-09-08 14:41] isidorn commented on #11692
That would be great, however for completions we need to have an editor. So we would need to render an editor inside a watches pane tree.
This goes into a general direction of replacing all our input boxes with one line editors

fyi @alexandrudima

[2016-09-08 14:47] Jakobud opened #11693 "WARNING: Promise with no error callback:3"
- VSCode Version: 1.4.0
- OS Version: 10.10.5

I'm developing an extension where I'm using Promises (bluebird in this case). I'm doing this:

[code]

And I'm getting the following:

[code]

I also get an InfoBox with the error.

So it looks like VSCode really doesn't like it when you try to return a Promise from within a Thenable. Is that right? Am I doing something wrong here? My extension involv

[2016-09-08 14:50] alexandrudima commented on #11574
That works for me. I will do the following:
* anytime a find widget toggle is changed, I will persist it (last one wins)
* when the workbench starts up, I will read the persisted values and start with those by default.

[2016-09-08 14:55] third774 commented on #1614
Would love to see VS Code handle this more gracefully!

[2016-09-08 14:56] alexandrudima commented on #11099
This is sort of by design. Here you double click on a word separator (`@`) and the current logic for double clicking when the target is a word separator is to select all surrounding word separators.

You can configure this via `editor.wordSeparators`. For example, removing `@` from the word separators: `"editor.wordSeparators": "`~!#$%^&*()-=+[{]}\\|;:'\",.<>/?"`:

![wordseparators](https://cloud.

[2016-09-08 14:56] #11099 closed

[2016-09-08 14:57] johndugan commented on #11556
@aeschli I am in the process of porting a theme I wrote for sublime to vscode. There are many missing scope selectors in vscode that are present in sublime. Can I setup my setup my vscode extension with extra .tmLanguage files that augment the existing vscode language definitions?

I read through the [vscode documentation](https://code.visualstudio.com/docs/customization/colorizer), but it's still

[2016-09-08 15:01] omayhemo commented on #2726
npm-which helped me correct path.  Thanks for that suggestion.  That did indeed allow me to launch with your prescribed solution.  Minus, of course, the task runners.   I've seen some documentation on task runners in vs code, though i wasn't sure if it was applicable to our situation given our tasks actual 'compile' and serve.  It warrants a deeper look before I open an issue.

[2016-09-08 15:02] alexandrudima commented on #11579
The suggest widget asks to be rendered below the current line if possible, otherwise above the current line.

AFAIK the suggest widget fetches the documentation label (the thing in red) lazily.

So every time you move cursor up or down, it renders the widget without the documentation label (making it of height `h`) where `h` fits below the current line and pings the editor to render it. The editor

[2016-09-08 15:08] weinand commented on #2726
@omayhemo good to hear that my prescribed (workaround) solution was not a complete failure ;-)

[2016-09-08 15:08] shubhendur opened #11694 "Ctrl+P Opens a file in a same tab."
- VSCode Version: 1.4
- OS Version: Windows 7

Steps to Reproduce:

1. Ctrl+P Opens a file in a same tab.
2. It should open in a different tab.

[2016-09-08 15:14] jrieken opened #11695 "Diagnostics don't show in monospace font"
![sep-08-2016 17-11-16](https://cloud.githubusercontent.com/assets/1794099/18354920/b826ccc8-75e7-11e6-85c8-30e375464d0b.gif)

[2016-09-08 15:33] wenhailong opened #11696 "Feature Request: like style-token of notepad++"
- VSCode Version:
- OS Version:

Steps to Reproduce:
1.
2.

[2016-09-08 15:34] alefragnani commented on #10374
@staltz It's based on `before` and `after` properties added to `DecorationRenderOptions` interface. You can get more details in https://code.visualstudio.com/docs/extensionAPI/vscode-api#ThemableDecorationRenderOptions.

[2016-09-08 15:50] #8365 closed

[2016-09-08 15:56] Jakobud commented on #746
How do you use QuickPickItems? I cannot figure it out or find documentation on it beyond the API docs. I tried this:

[code]

I'm using JS instead of TS. Does that make a difference?

[2016-09-08 15:59] sandy081 commented on #8365
Verification:

**Note:** Line highlight used should be same as in Find / Search / Go to line / Outline

- Single click on the problem -> Line highlight is shown.
- Toggle Problems view -> Line highlight is also toggled.
- Click inside editor -> Line highlight is removed.
- Double click on the problem -> No line highlight is shown.
- When Problems view is hidden, no line highlights from problems vi

[2016-09-08 16:03] sandy081 commented on #11318
Implemented by 24743e881dd222545a02bd22d1b21fcc89296164

[2016-09-08 16:03] #11318 closed

[2016-09-08 16:05] staltz commented on #10374
Thanks

[2016-09-08 16:05] sandy081 commented on #11318
Verification:

**Note:** Line highlight used should be same as in Find / Go to line / Outline / Problems view

- Single click on the result -> Line highlight is shown.
- Type `Space` on the result -> Line highlight is shown.
- Toggle Search view -> Line highlight is also toggled.
- Click inside editor -> Line highlight is removed.
- Double click on the result -> No line highlight is shown.
- When

[2016-09-08 16:16] bgashler1 commented on #11601
Thanks for the suggestions @octref.  I like your rationale for liking Design 2 better.  By the way, you're not the only user who doesn't like the bright blue of the status bar.  We have that color to be consistent with Visual Studio, and we currently don't support the thumbing of the GUI at this time.

[2016-09-08 16:39] JDPT93 opened #11697 "FAILURES ON SCOPE SELECTORS"
@aeschli

- VSCode Version: 1.4.0
- OS Version: Ubuntu 16.04

1. DOWNLOAD [index.txt](https://github.com/Microsoft/vscode/files/462044/index.txt) AND CHANGE .txt TO .php

2. OPEN THE FILE USING [theme-vs-light.zip](https://github.com/Microsoft/vscode/files/462029/theme-vs-light.zip) THEME

![1](https://cloud.githubusercontent.com/assets/22055946/18356501/807814ce-75b2-11e6-9cd3-43736a004150.png)
!

[2016-09-08 16:48] rob3c commented on #9448
@asadsahi I meant if using the `exit` command to exit the command prompt once you're done with it (like `ctrl+D` in bash). Running cmd via `%COMSPEC%` while already inside a console nests the sessions, so typing `exit` inside the nested session only exits that session. If you put `exit` in your batch file, then you're telling it to exit the script, so don't do that :-) Glad you got it working!

[2016-09-08 16:52] aeschli commented on #11556
Breaking the source code up into scopes is the responsibility of what we call the grammar, specified by tmLanguage files. You can't augment the built-in grammars, but replace them, by  contributing a grammar for the same language id. See [here](https://code.visualstudio.com/docs/extensionAPI/extension-points#_contributesgrammars) for the grammar contribution point.
Your package json would look lik

[2016-09-08 16:54] bpasero commented on #11379
What happens?

[2016-09-08 16:59] Tyriar commented on #11345
Thanks @bpasero!

[2016-09-08 17:02] anvish opened #11698 "formatting jsx files stopped working"
- VSCode Version: 1.4.0
- OS Version: Windows 7 SP1

Steps to Reproduce:

1. open jxs file with improper formatting
2. press shift+alt+f, or click Format Code in command palette
3. formatting doesn't work

[2016-09-08 17:07] Tyriar commented on #11601
@octref @bgashler1 fyi this is what I use the status bar for personally:

- Viewing language type (to confirm I need to change it via command palette)
- Viewing tab/space type (to confirm I need to change it via command palette)
- Viewing column (for example when finding a row/col referenced by a log)
- Whether I'm in a debug session (orange vs blue), though I'd be fine with going off the button p

[2016-09-08 17:10] TheColorRed opened #11699 "console.log() items are added to tasks list"
- VSCode Version: 1.4.0
- OS Version: Windows 10

Steps to Reproduce:
1. Create a `gulpfile.js`
2. Add `console.log()` commands

When I Add `console.log()` in my `gulpfile.js` it adds them to my task `list`

[code]

![tasks-extra](https://cloud.githubusercontent.com/assets/1571806/18358893/f5b6be5c-75bc-11e6-881d-19fb747e7b17.jpg)

[2016-09-08 17:12] Tyriar commented on #11628
Duplicate of #6442, you may find clues on getting this working in the comments there.

[2016-09-08 17:12] #11628 closed

[2016-09-08 17:12] johndugan commented on #11556
Okay, my concern is namely JavaScript hooks/scopes for my theme file. I'm not sure about how much/many scope definitions there are for other language. JS is where I started on the theme I am porting.

I completely understand and agree that themes should work without any dependencies for built-in languages. I am just finding the provided scope hooks for vscode to be lacking for a number of things I

[2016-09-08 17:13] octref commented on #11654
OK, it seems to be an extremely rare case since none of us are able to repro. I'll close it for now and keep an eye on VSCodeVim issues.

[2016-09-08 17:13] #11654 closed

[2016-09-08 17:20] ramya-rao-a commented on #11682
Sub Menus are tracked in #9827

[2016-09-08 17:20] #11682 closed

[2016-09-08 17:25] ramya-rao-a commented on #11623
@GuidC0DE no problem

[2016-09-08 17:36] aeschli commented on #11697
Hi @JDPT93, thanks for your findings. The PHP grammar is from https://github.com/textmate/php.tmbundle. Please make the pull request there and let us know when we should update our grammar with the latest version from there. Thanks!

[2016-09-08 17:36] #11697 closed

[2016-09-08 17:38] tjalex commented on #11694
Is your current tab set to stay open? (It probably isn't if you just opened a file and haven't made any changes.)

Try pressing Ctrl+K, Enter (or Ctrl+Shift+P and search for 'keep') to keep that editor open. Then, try to Ctrl+P and open another file--it should appear in a new tab.

[2016-09-08 17:39] ramya-rao-a commented on #11698
@anvish I am able to format jsx files just fine in VS Code 1.4.0 in Windows. Can you give more details?

- Was this working before in VS Code 1.4.0?
- What extensions do you have? Can you try with extensions disabled? `code --disable-extensions .`
- What is the file mode? You can see that in the bottom right corner.
- Does formatting work for other file types?
- Can you try the insiders build and

[2016-09-08 17:40] bpasero commented on #11694
`"workbench.editor.enablePreviewFromQuickOpen": false`

[2016-09-08 17:40] #11694 closed

[2016-09-08 17:43] rebornix commented on #11654
@alexandrudima the only thing we missed while trouble shooting when the bug occurred is adding breakpoints to `compositionStart` handler. We added one bkp for `type` and failed to receive any key strokes. Apparently next time we run into this issue again, we can verify :)

[2016-09-08 17:44] ramya-rao-a commented on #11696
This is a good candidate for an extension. @alexandrudima thoughts?

[2016-09-08 17:44] Tyriar commented on #7874
@ramya-rao-a `__pfnDliNotifyHook2` error on `oniguruma`

[2016-09-08 18:13] ramya-rao-a commented on #11693
@Jakobud Can you try adding the error callbacks as well? Right now, if the Thenable returned by `showInputBox` fails then you have no promise being returned, therefore your final `.then` would be invalid

[code]

[2016-09-08 18:15] ramya-rao-a commented on #11693
Also, this is more of a "How to" question.
Please ask 'how-to' questions about VS Code on [Stack Overflow](https://stackoverflow.com/questions/tagged/vscode) using the tag `vscode`.

The VS Code development team together with the VS Code Community will answer question your question over there.

Here is how the development team tracks feedback on the different channels: [Feedback Channels](https://

[2016-09-08 18:15] #11693 closed

[2016-09-08 18:20] angrah commented on #11420
Here is an example test.json:

[code]
Line "p" and anything below is not colored.

[2016-09-08 18:23] ramya-rao-a commented on #11691
Was able to repro this in Mac as well

[2016-09-08 18:24] angrah commented on #10901
This is an example of json coloring:
`
{
	"a": {
		"b": {
			"c": {
				"d": {
					"e": {
						"f": {
							"g": {
								"h": {
									"i": {
										"j": {
											"k": {
												"l": {
													"m": {
														"n": {
															"o": {
																"p": "test"
                                                            }

[2016-09-08 18:25] Jakobud commented on #11693
Thanks,

[2016-09-08 18:40] OliverJAsh commented on #11379
Only one folder opens, not sure which one (most recently viewed?)

On Thu, 8 Sep 2016 at 17:55 Benjamin Pasero <notifications@github.com>
wrote:

[2016-09-08 18:55] ramya-rao-a commented on #11690
Duplicate of #824
@Dickurt upvote #824 to give it more support

[2016-09-08 18:55] #11690 closed

[2016-09-08 18:58] ramya-rao-a commented on #11686
Please ask 'how-to' questions about VS Code on [Stack Overflow](https://stackoverflow.com/questions/tagged/vscode) using the tag `vscode`.

The VS Code development team together with the VS Code Community will answer question your question over there.

Here is how the development team tracks feedback on the different channels: [Feedback Channels](https://github.com/Microsoft/vscode/wiki/Feedback-C

[2016-09-08 18:58] #11686 closed

[2016-09-08 19:08] mkszepp commented on #6566
+1

[2016-09-08 19:14] Dickurt commented on #11690
Couldn't find that one while searching. Will continue there.
Thanks for the link!

[2016-09-08 19:15] jwoodhull opened #11701 "Files appear empty after August 2016 updated"
- VSCode Version: August 2016 Update
- OS Version: OSX El Capitan

Steps to Reproduce:

1. Update to the latest version of VSCode
2. Open any text file.

Notice that the file appears to be empty.

[2016-09-08 19:16] Dickurt commented on #824
I also need this for my extension, as I explain [here](https://github.com/Microsoft/vscode/issues/11690). Did not realize this issue already existed.

[2016-09-08 19:20] ericanderson opened #11702 "Regression: Unable to bypass ssl verification any more for corp firewall"
- VSCode Version: 1.5
- OS Version: 10.11.6

Steps to Reproduce:

1. Install a transparent man-in-the-middle firewall with a self signed cert and be sure that all traffic is being intercepted.
2. Install VSCode 1.4.
3. Notice that VSCode can't update extensions due to MITM.
3. Set http.proxyStrictSSL=false
4. Notice that VSCode can now update extensions or search extensions, etc.
5. Upgrade to 1.5

[2016-09-08 19:24] jvlppm commented on #4039
![screen shot 2016-09-08 at 4 07 45 pm](https://cloud.githubusercontent.com/assets/171599/18362982/86ed2390-75de-11e6-863c-c945ad659bf5.png)

@MaDDoXbr We actually have a "Change signature" option,
It would be good if it actually worked (instead of doing nothing).

Code formatting actually works, but it does not respect:
- "editor.tabSize"
- "editor.insertSpaces"

I hope being a text editor won't

[2016-09-08 19:29] sbowler opened #11703 "Applying Icon theme BSD"
- VSCode Version: 1.5.0
- OS Version: Windows 10 Enterprise version 1511 , OS build 10586.494

Steps to Reproduce:

1. Go to file -> preferences -> Icon Theme
2. Try to apply the Seti Theme

It appeared to apply the theme, but I immediately got a BSD with Bad Pool Header. I do appear to have a tsc compiler mismatch version with a globally installed version, but I'm not sure that could be related i

[2016-09-08 19:34] ahejlsberg commented on #11701
I'm seeing the same thing!

[2016-09-08 19:36] tracker1 commented on #9790
I'm having the same issue, but even with:

    "http.proxyStrictSSL": false,

I'm getting the error, this change started with the `1.5.0` update that I just ran... Until this point it seemed to be content with the HTTP_PROXY environment setting... I always launch code from the terminal...

Even with configuring the `http.proxy` in code, I'm getting the error... I'm on an internal enterprise networ

[2016-09-08 19:38] geoffreyfloyd opened #11704 "Intellisense in comments disrupts flow"
- VSCode Version: 1.5.0
- OS Version: Windows 10 Pro, Version 1511, Build 10586.545

Steps to Reproduce:

1. Start typing a comment (intellisense tries to predict code). When hitting enter to go to a new line the intellisense replaces the last word in your comment with its suggestion.

Expected behavior:
No intellisense in comments

[2016-09-08 19:51] andrewconnell opened #11705 "Icon & indentation visual issues in file list after upgrading to 1.5 on OSX"
- VSCode Version: 1.5.0
- OS Version: OSX 10.11.6

Steps to Reproduce:

1. Had the popular [vscode-icons](https://marketplace.visualstudio.com/items?itemName=robertohuertasm.vscode-icons) extension installed in version immediately prior to 1.5
2. Upgraded VSCode to 1.5.0
3. Now, once I select an icon theme like Seti it appears there are conflicts with the old icon set from the vscode-icons extensi

[2016-09-08 19:54] weinand commented on #11680
@manad777 please can try this:

create an executable script bunyan.sh in your project:
[code]

In you launch config "Launch" add the attribute `"runtimeExecutable": "${workspaceRoot}/script.sh"`

With this VS Code will call `bunyan.sh`instead of `node` when starting a debug session.

[2016-09-08 19:54] #11680 closed

[2016-09-08 19:57] OliverJAsh opened #11706 "TypeScript: nested generic detail incorrect"
- VSCode Version: 1.4.0
- OS Version: latest
- TS version: latest 2 beta

Steps to Reproduce:

Given:

[code]

When I inspect `y` by hovering over it, I expect it to have the type: `<{}, number>(t: Foo<number>) => number`, but it actually has the type `<{}, number>(t: Foo<{}, number>) => number`.

Where is `Foo` shown to receive more generics that it has asked for?

[2016-09-08 19:58] ramya-rao-a commented on #11668
@pocesar What extensions do you have installed?
Do you still see the issues when extensions are disabled? `code --disable-extensions`

[2016-09-08 20:02] rebornix opened #11707 "Show default value for settings in Extension Contribution section"
- VSCode Version: 1.5.0
- OS Version: OSX

Steps to Reproduce:

1. Navigate to extension viewlet, click on any extension which contributes to the settings
2. The `Settings` section shows setting name and description without a default value

![image](https://cloud.githubusercontent.com/assets/876920/18364767/6c3216d8-75c4-11e6-9b55-720c42dacc09.png)

The contribution section looks amazing and IMO i

[2016-09-08 20:03] jailsonayogo commented on #11701
I got the same issue and to fix it I just deleted my `settings.json`. Then, I restored my settings file and it seems that the issue was caused by this line on my settings: `  "editor.fontSize": -4 `

[2016-09-08 20:09] tracker1 opened #11708 "Add configuration to remove group labels from "Opened Editors" view"
It would be nice to see something like a `workbench.editor.unifyOpenFilesList` option that is false by default, but if true, will have the older behavior of a single list, that updates the current pane on clicking.

If the setting is set while `workbench.editor.showTabs` is `true`, then it should add the file to the tab-group, and set it to current.  When showTabs is `false`, it should update the

[2016-09-08 20:11] nchanged opened #11709 "User snippets are in the wrong order"
- VSCode Version: Code 1.5.0 (4fc690be310dd02e0ab6529c0b9bf348a8b26a19, 2016-09-08T09:03:52.909Z)
- OS Version: Darwin x64 15.0.0

Create a snippet in typescript:

`"Promise": {
		"prefix": "pr",
		"body": [
			"return new Promise((resolve, reject) => {\n $1 \n});"
		],
		"description": "Creates new promise"
}`

try typing "pr", with the latest release (i have just updated), i noticed that my snip

[2016-09-08 20:22] JCarran0 commented on #11701
Same problem here.  My settings.json editor.fontSize was set to 0. Thanks @jailsonayogo for saving me some time.

[2016-09-08 20:25] nchanged commented on #11709
Ok, i found
 "editor.snippetSuggestions": "top"

No worries =)

[2016-09-08 20:25] #11709 closed

[2016-09-08 20:26] kieferrm commented on #11701
@ahejlsberg similar issue for you?

[2016-09-08 20:27] percyabrown commented on #11701
I am experiencing the same thing on Windows 10 and my setting.json file only has
  "php.validate.executablePath": "C:/PHP53/php.exe"

[2016-09-08 20:27] Bill-Stewart commented on #8050
+1 - I like selected matches to be highlighted, but I would like to be able to disable automatic keyword highlighting.

[2016-09-08 20:30] Bill-Stewart commented on #5351
+1 - I like selected matches to be highlighted, but I would like to be able to disable automatic keyword highlighting.

[2016-09-08 20:30] spicydonuts opened #11710 "Update downloads but fails to apply"
- VSCode Version: 1.4.0
- OS Version: macOS 10.11.6

Steps to Reproduce:

1. Open vscode, wait for it to download 1.5 update
2. Click "Update now" in the dialogue that appears once the update is ready
3. vscode reopens, but it's still version 1.4.0.  It will detect the update again and redownload it, then repeat.

[2016-09-08 20:30] Penryn opened #11711 "OSX: Keybinding for cmd+e is wrongly mapped to "actions.find" instead of "workbench.action.quickOpen""
- VSCode Version: 1.5.0
- OS Version: OSX El Capitan

Steps to Reproduce:

1. Open keybinding preferences in OSX, find "cmd+e"
2. L148 reads `{ "key": "cmd+e",                 "command": "actions.find" },`

In Linux, the equivalent "ctrl+e" has the following mappings:
[code]

In OSX, `cmd+e` was formerly (prior to 1.5.0) mapped to these same bindings as Linux's`ctrl+e`.

**Workaround for users:**

[2016-09-08 20:33] rebornix commented on #11658
Duplicate of #7727

[2016-09-08 20:33] #11658 closed

[2016-09-08 20:33] shnk commented on #3355
Text based configuration makes me feel geeky. No more GUI please. :+1:

[2016-09-08 20:35] TheColorRed commented on #9367
This has now been implemented, I will close this.

[2016-09-08 20:35] #9367 closed

[2016-09-08 20:37] jwoodhull commented on #11701
Thanks for the heads up.  My fontSize and lineHeight were set to 0

[2016-09-08 20:40] lukecwilliams commented on #5102
@weinand I needed more granular control to solve the issue - whether F keys are on by default or not, I still was getting OSX overriding VS Code's F11 (in one case holding Fn+F11, in the other case hitting F11).

[2016-09-08 20:49] pocesar commented on #11668
![fasdf](https://cloud.githubusercontent.com/assets/461084/18366284/763bddc6-75ec-11e6-8a5e-c85c07a6a5fa.jpg)

yes, it happens with extensions disabled

[2016-09-08 20:49] alexkrolick commented on #11705
Had the same problem. The solution is to reinstall the extension, then run the "disable icons" command for the extension: https://marketplace.visualstudio.com/items?itemName=robertohuertasm.vscode-icons

It seems like the configuration for that extension isn't contained to the extensions folder so uninstalling it does not undo its effects.

[2016-09-08 20:57] Tyriar opened #11712 "Focus is dropped from editor when saving settings.json with a change to editor.fontSize"
- VSCode Version: Code - Insiders 1.5.0-insider (92d3324e3d05a6d2b765c08651d89e9ec1d19f4c, 2016-08-29T06:09:51.858Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1. Open settings
2. Add editor.fontSize and set to 20
3. ctrl+s, the focus should remain in the editor but moves to the explorer

[2016-09-08 20:57] mdouglass commented on #11705
The indentation of items within folders is not unique to having had the extension installed previously. I've never previously used the vscode-icons extension, but I am having the indentation issue. It seems to be happening because folders are not given icons by the Seti theme (the other two built-in themes do not exhibit this problem).

The files listed in this screenshot are at the same level as

[2016-09-08 20:59] ratishphilip opened #11713 "Markdown : Keyboard shortcuts"
- VSCode Version: 1.5
- OS Version: 14915

It would be great if you could provide keyboard shortcuts for Markdown file tags like for making the text bold, italic or wrap in code or change header level etc.

[2016-09-08 21:01] david-mitchell commented on #11711
This change is be design (see the [release notes](https://code.visualstudio.com/updates/v1_5)) because Command-E is a standard Mac keyboard shortcut.

[2016-09-08 21:02] david-mitchell commented on #11711
See also #3431

[2016-09-08 21:04] pritimay opened #11714 "terminal focus key binding is not working correctly after update to 1.5"
- VSCode Version: 1.5
- OS Version: windows 10

Steps to Reproduce:

1.
2.

[2016-09-08 21:04] Penryn commented on #11711
Oh.
If it's by design it's not a bug. Thank you for the references.

[2016-09-08 21:04] #11711 closed

[2016-09-08 21:05] brianary commented on #9790
Same here with Insiders 1.5.0. It seems to be even more aggressively preventing local certs.

[2016-09-08 21:05] ramya-rao-a commented on #11576
@Andy-Amoy Closing this as resolved. If you still find the issue after reinstalling VS Code, then reopen this issue

[2016-09-08 21:05] #11576 closed

[2016-09-08 21:07] alanwright opened #11715 "VSCode Editor is empty for all files"
- VSCode Version: 1.5.0
- OS Version: Windows 10 Enterprise (Build 10586.545)

Microsoft internal alias: alanwri

Steps to Reproduce:

1. Open VSCode
2. When opening any file, nothing shows up in the text editor
Happens for all types of files, VSCode is unusable. Tried fresh uninstall, and install from vscode website, still repros. No idea what to do. Feel free to ping me internally and I can shar

[2016-09-08 21:07] mjkeating commented on #11701
I had the same issue. I removed the 'fontSize: 0' line from my user settings file (settings.json) to fix it - thanks to this thread.

[2016-09-08 21:07] alanwright commented on #11715
Uninstalled all my extensions and restarted. Still no fix

[2016-09-08 21:09] camhux opened #11716 "OSX: ctrl+n/ctrl+p no longer cycle list item selection in command palette"
- VSCode Version: 1.5.0
- OS Version: OS X El Capitan 10.11.6

Before updating to VSCode 1.5.0, I used `ctrl+n`/`ctrl+p` to cycle through the list of suggestions in the command palette menu, identical to how those bindings behave in an IntelliSense/autocomplete menu within the editor. These bindings no longer work in the command palette despite working as expected in autocomplete menus within the

[2016-09-08 21:12] rgmembreno opened #11717 "VSCode will not start--minimist module missing"
- VSCode Version: Latest (applied update today)
- OS Version: Windows 7 SP1

Steps to Reproduce:

1. Auto-updated VSCode
2. Got an error saying VSCode failed to install, retried twice and then aborted install
3. Attempted to run code and same popup window from update appears

![vscodeupdaterrror](https://cloud.githubusercontent.com/assets/11397903/18367089/3c936a08-75ce-11e6-94c0-ac9bf67ffb23.png)

[2016-09-08 21:12] kieferrm commented on #11701
`0` literally setting the font size to `0`, and you need to open the file in some other editor. The locations are:
Windows: `%APPDATA%/Code/User/settings.json`
Linux: `~/.config/Code/User/settings.json`
Mac: `~/Library/Application Support/Code/User/settings.json`

[2016-09-08 21:12] Tyriar commented on #11715
This is happening due to a change that makes the editor respect `"editor.fontSize": 0`. The fix it to remove that setting value. To do that you can open your settings, select all, cut and save.

1. <kbd>ctrl</kbd>/<kbd>cmd</kbd>+<kbd>a</kbd>
2. <kbd>ctrl</kbd>/<kbd>cmd</kbd>+<kbd>x</kbd>
3. <kbd>ctrl</kbd>/<kbd>cmd</kbd>+<kbd>s</kbd>

Your old settings file can then be pasted into the editor.

If

[2016-09-08 21:15] ramya-rao-a commented on #11619
From your screenshots, after Save, there seems to be 1 red squiggly line in line 18.
Is that the problem?
When you hover on it, what does it say?

[2016-09-08 21:17] alanwright commented on #11715
This fixed it, thank you!

[2016-09-08 21:19] #11715 closed

[2016-09-08 21:19] rgmembreno commented on #11717
Note that 1/5 updates I apply will fail midway with a popup window, and the fix before this was to just abort the install and re-open VSCode and everything worked fine.  Today is the first time that it fails to start.

[2016-09-08 21:21] percyabrown commented on #11701
Thanks @kieferrm ! Using Notepad++ changed the settings in %APPDATA%/Code/User/settings.json   from "editor.fontSize": 0, "editor.lineHeight": 0, to "editor.fontSize": 14, "editor.lineHeight": 14 and I can now see the text.

[2016-09-08 21:21] danderson00 commented on #78
Estimates on completion of this? It's the only thing I still need atom installed on my PC for.

[2016-09-08 21:26] ramya-rao-a commented on #11713
Try the [Markdown Shortcuts](https://marketplace.visualstudio.com/items?itemName=mdickin.markdown-shortcuts) extension or [Markdown Helper](https://marketplace.visualstudio.com/items?itemName=joshbax.mdhelper) or any of the other extensions. For more features log a feature request in those extensions.

[2016-09-08 21:26] #11713 closed

[2016-09-08 21:27] robertohuertasm commented on #11705
@alexkrolick @andrewconnell, vscode-icons injects code into 2 core files so if you uninstall it without restoring the backups will still be working. As @alexkrolick points out you have to first run the `icons disable` command in order to restore those files and then uninstall the extension.

In case you're still interested in having the old icons I'm planning to support the official API soon so I

[2016-09-08 21:29] spraguey commented on #10890
@bpasero No matter what method I use to open a file, the crash occurs when the file's source drive becomes unavailable.

It happens regardless of whether the folder is open/closed in Code.
It does happen with a single file opened from the network drive.

It does not happen if I simply open a folder in Code (WITHOUT opening a file), and then make the source folder go away.

[2016-09-08 21:32] kieferrm commented on #11701
#11715 reports the same issue. We currently test a fix.

[2016-09-08 21:32] camhux commented on #11716
This looks like it could be a regression of changes included here: https://github.com/Microsoft/vscode/pull/7316

[2016-09-08 21:35] ramya-rao-a commented on #11704
By @dbaeumer  from https://github.com/Microsoft/vscode/issues/5051#issuecomment-206747243

@dbaeumer Maybe we can have setting to not show textual completions in comments?

[2016-09-08 21:35] Tyriar commented on #11712
Never mind, this is actually happening as I was removing/adding my whole settings file which adds/removes the open editors pane.

[2016-09-08 21:35] #11712 closed

[2016-09-08 21:35] BrandonRice opened #11719 "Issue with using Tab or Enter when performing short hand code (not for sure if short hand is the way to put it but it works)"
- VSCode Version: Code 1.5.0 (4fc690be310dd02e0ab6529c0b9bf348a8b26a19, 2016-09-08T09:09:27.395Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1. Type Table and hit tab
2. Type tr and hit tab

What used to happen is the cursor would be placed in between the tr tags `<tr>cursor would be here</tr>` after hitting the tab key on a tr or td tag.  Since the last update, it now goes to

[2016-09-08 21:36] jpoon commented on #11659
@NiggyWizzyWoz the Vim extension may be adding a bit to the lag (https://github.com/VSCodeVim/Vim/issues/534). Can you try uninstalling it and trying again with the up/down arrows and assess if you see the same sort of lag?

[2016-09-08 21:38] nijikokun commented on #11660
@egamma it does not show that on osx: ![https://i.imgur.com/vY7rqnh.png](https://i.imgur.com/vY7rqnh.png)

[2016-09-08 21:39] rebornix commented on #11659
we hijacked arrow keys for Vim customization so please uninstall Vim and see if the issue still happens, if not, then let's move this issue to Vim.

[2016-09-08 21:42] ramya-rao-a commented on #11714
@pritimay Do you mean the terminal focus ley binding was working for you in 1.4 but is not working after update to 1.5 ?

[2016-09-08 21:43] genzoman opened #11720 "Mac OSX Command E searches files, not open them"
- VSCode Version: 1.5.0
- OS Version: OSX

Steps to Reproduce:

1. Commend e
2. Brings up the find in file bar instead of searching through files

I can no longer quickly open a file in VS Code, command e brings up the find in file menu.

[2016-09-08 21:43] waderyan commented on #11687
@con-ssc thank you for opening this issue. Do you have a repo I can clone to reproduce? We have not observed this on our end and we regularly test with many large repositories. I can't speak to the size of each file though.

[2016-09-08 21:44] waderyan commented on #11648
This issue was moved to Microsoft/TypeScript#10790

[2016-09-08 21:44] #11648 closed

[2016-09-08 21:44] timdang commented on #11720
It's in the [release notes](https://code.visualstudio.com/Updates):

Mac OS: Cmd+E no longer opens Quick Open
We decided to remove an (undocumented) key binding to bring up quick open for file search. You can bring back Cmd+E with the following key binding configuration:

{ "key": "cmd+e", "command": "workbench.action.quickOpen" }
The reason behind this change is that Cmd+E on Mac OS is typically

[2016-09-08 21:46] genzoman commented on #11720
@timdang what is the preferred way to open files now?

[2016-09-08 21:48] pritimay commented on #11714
Yeah, just after update from 1.4 to 1.5 it is not working

[2016-09-08 21:52] timdang commented on #11720
Command + P still works, right?

[2016-09-08 21:52] genzoman commented on #11720
@timdang yep, i never used that one. thanks.

[2016-09-08 21:52] #11720 closed

[2016-09-08 21:53] pzmosquito commented on #11719
I have the same issue, with Code 1.5.0 on OS X 10.11.6
cursor goes to the end of the line when auto completes HTML attribute

[2016-09-08 21:58] waderyan commented on #11647
@wallverb thank you for opening this issue.

Can you copy and paste your `launch.json` here?

[2016-09-08 22:05] Tyriar commented on #11714
@pritimay Can you paste in your settings.json and keybindings.json?

[2016-09-08 22:07] ramya-rao-a commented on #11705
@aeschli indentation issues are independent of the vscode-icons extension

[2016-09-08 22:11] waderyan commented on #11641
@microshine thank you for opening this issue. This is a TypeScript service issue. Moving to their repo.

[2016-09-08 22:11] waderyan commented on #11641
This issue was moved to Microsoft/TypeScript#10791

[2016-09-08 22:11] #11641 closed

[2016-09-08 22:13] andrewconnell commented on #11705
Thanks for the advice @robertohuertasm ... that did help me once I reinstalled your extension, disabled icons, then disabled the icons theme in VSCode...

Looking forward to your icon set... much preferred over what's included in the 1.5 update. Nice work on your extension too!

[2016-09-08 22:13] waderyan commented on #11706
@OliverJAsh thank you for opening this issue. This falls under TypeScript language service. Moving to their repo.

[2016-09-08 22:13] waderyan commented on #11706
This issue was moved to Microsoft/TypeScript#10793

[2016-09-08 22:13] #11706 closed

[2016-09-08 22:14] waderyan commented on #11610
Hey @odonyde thank you for opening these issues! As this falls onto TypeScript language service, I am moving it there.

[2016-09-08 22:14] waderyan commented on #11610
This issue was moved to Microsoft/TypeScript#10794

[2016-09-08 22:14] #11610 closed

[2016-09-08 22:15] waderyan commented on #11604
Thank you for opening this issue. This will fall onto TypeScript language service. Moving over to them.

[2016-09-08 22:15] waderyan commented on #11604
This issue was moved to Microsoft/TypeScript#10795

[2016-09-08 22:15] #11604 closed

[2016-09-08 22:17] ramya-rao-a commented on #11716
@joaomoreno This is because we reverted the changes from #7316 ?

https://github.com/Microsoft/vscode/issues/10298#issuecomment-238266480

[2016-09-08 22:20] kieferrm commented on #11701
We have released a recovery build. It's 1.5.1.

[2016-09-08 22:20] #11701 closed

[2016-09-08 22:22] kieferrm commented on #11701
Duplicate of #11715 .

[2016-09-08 22:23] kieferrm commented on #11715
We released 1.5.1 as recovery build.

[2016-09-08 22:25] wallverb commented on #11647
@waderyan Sure, here it is

[code]

[2016-09-08 22:30] DanTup opened #11721 "Extension tests failing on Linux since 1.5 was released"
When the 1.5 release went out our tests on Linux all started failing. Everything still works on Windows/Max, but on Linux the tests seem to just fail.

This build was just before the 1.5 release and worked fine:

https://travis-ci.org/Dart-Code/Dart-Code/builds/158524709

Then I pushed a simple change to the README and updated the version number in package.json and the tests now fail to run:

http

[2016-09-08 22:37] ramya-rao-a commented on #11719
@BrandonRice I can see cursor going to end of line when auto completing the HTML attribute but not the tag.
i.e
Type `table` and hit `TAB` -> cursor is in between the starting and closing tag (as expected)
Type an attribute like your `style` example and hit `TAB` -> cursor is goes to end of line instead of staying inside the quotes so that user can provide value for the attribute

Can you confirm?

[2016-09-08 22:39] ramya-rao-a commented on #11719
@egamma @mrmlnc This is related to emmet?

[2016-09-08 22:45] ramya-rao-a commented on #11665
Upgrade to 1.5.1 and let us know if you still see the issue

[2016-09-08 23:02] Tyriar opened #11722 "Add version information to Mac and Windows distributables"
Suggested in https://news.ycombinator.com/item?id=12458003

So `VSCodeSetup-stable.exe` should be something like `VSCodeSetup-1.5.1.exe` or `VSCodeSetup-1.6.0-insiders.exe`, similar to Linux https://github.com/Microsoft/vscode/issues/6587 https://github.com/Microsoft/vscode/issues/6546

[2016-09-08 23:06] ugros commented on #7727
I've already opened an issue to this exact same problem 3 months ago. It was closed, because for Tyriar everything seemed to work fine. I've tried VScode on 3 different computers, with both powerShell and cmdprompt, with default settings, and it never worked. In fact, I've never seen a Windows computer that had integrated terminal working.

[2016-09-08 23:13] MoshiMoshi0 opened #11723 "Allow to minimize VS Code to tray"
Even though VSC is launching very fast (clean install, 3s on my machine) it is not instant like the classic sublime text or N++.
If we could keep the editor loaded all the time we would get faster file opening times by sacrificing ram.

Therefore I suggest addition of editor tray and "Minimize to tray"/"Close to tray" options.
The editor would be then closed by right clicking the tray icon and sel

[2016-09-08 23:14] Tyriar commented on #7727
@ugros many people are experiencing this issue as you can see from the linked issues. This issue is actually on the integrated terminal backlog (#9959) and is one of the major bugs I'll be looking at in September.

I can't see your original issue though? https://github.com/Microsoft/vscode/issues/created_by/ugros

[2016-09-08 23:14] BenjaVR opened #11724 "Disable format of plain text in HTML"
Hello,
I work with OctoberCMS, and the html files are as following:
![](https://i.imgur.com/fMSHZKC.png)

Those lines above the `==` need to be under eachother if you want it to work. But if I format (even without any extensions!) this happens:
![](https://i.imgur.com/mdqv7dv.png)
Unfortunately this causes the code to break.

Is it possible to prevent this plain text from getting formatted inside

[2016-09-08 23:17] octref opened #11725 "Autocomplete for file path"
In YouCompleteMe, when you type `'./`, it will suggest local files:

![image](https://cloud.githubusercontent.com/assets/4033249/18370126/8dea9532-75df-11e6-8984-4c486eadfad4.png)

I find it useful and wish it could be added to VSCode.

https://github.com/Valloric/YouCompleteMe

[2016-09-08 23:22] ramya-rao-a commented on #11725
Extension Candidate?

[2016-09-08 23:25] ugros commented on #7727
@Tyriar I've been using different github account.
https://github.com/Microsoft/vscode/issues/7440

By the way, is there any workaround or any fix I can do with my computer, that would fix this issue in the meanwhile? My workflow suffers a lot by this issue.

Thanks a lot

[2016-09-08 23:30] Tyriar commented on #7727
Ah, I think the EPIPE thing was something else that stopped occurring in 1.2 or 1.3.

The only workarounds I can think of are to rename/relocate the open folder. I'll hopefully be checking this out sometime next week so it may come through in the Insiders build then.

[2016-09-08 23:34] mderriey commented on #11702
The same issue happens to me after updating to 1.5. Using Windows 7 SP1.

[2016-09-08 23:35] ugros commented on #7727
What do you mean by this? Could you please evaluate? Thanks

[2016-09-08 23:42] harrywangwork opened #11726 "Peek/goto definition stop working after upgrading to 1.5"
- VSCode Version: 1.5.1
- OS Version:Ubuntu 14.04

Steps to Reproduce:
1. Right click on a function and choose goto definition from the menu.
2. Error shows that the file cannot be found.
The file exists on disk. Using find feature can find the file.

[2016-09-08 23:46] ramya-rao-a commented on #11726
@harrywangwork Which language and extensions are you using?

[2016-09-08 23:46] ihamer opened #11727 "Goto declaration should store current cursor in navigation history"
Steps to Reproduce:
1. Invoke editor.action.goToDeclaration
2. Invoke workbench.action.navigateBack
The cursor should go back to the exact spot where it was before the jump. Instead, it goes one sport further back...

[2016-09-08 23:47] harrywangwork commented on #11726
I was using C/C++.
It worked fine with previous version.

[2016-09-08 23:48] PeterJausovec commented on #11665
I am getting a similar issue with 1.5.1 when launching it. Previous version worked fine.

![image](https://cloud.githubusercontent.com/assets/11080940/18370698/fc81988e-75e3-11e6-8c95-85599c62938b.png)

[2016-09-08 23:48] harrywangwork commented on #11726
Trying to switch to 32-bit to see if there is luck.

[2016-09-08 23:49] tnaseem opened #11728 "Add a setting to reveal a opened file in any window if opening from outside VS Code"
- VSCode Version: 1.5.1
- OS Version: OSX 10.11.6

Sorry for the strange title description there. I'm pretty crap at that :)

Not sure if this is a VSCode plugin issue or with Code itself...

In Split-View, if I have an error in the file in, say, the left view, and the last view I was in was the right one, when I click on the error in the Unity console, the same file will open up in a new tab in t

[2016-09-08 23:50] qtxie opened #11729 "Treat hyphen as part of word"
- VSCode Version: 1.5.1
- OS Version: Windows 7 64 bit

In some programming languages, especially Lisp-like ones, the hyphen (`-`) is treat as part of a word.
Now when I click or double click a word in VSCode, it is highlighting like this:

![20160909074504](https://cloud.githubusercontent.com/assets/1673525/18370674/873349be-7661-11e6-81a8-7e0f5dc821ab.png)

What I expect is like this:

![rebol20

[2016-09-09 00:00] ramya-rao-a commented on #11726
The Peek/Goto definition features are implemented by extension. Please log this issue in the repo for the C/C++ extension you are using. They will be able to find the root cause faster and re-open this issue here if there is any problem with the VS Code APIs

[2016-09-09 00:00] #11726 closed

[2016-09-09 00:04] harrywangwork commented on #11726
sounds good.

[2016-09-09 00:06] ramya-rao-a commented on #11727
@ihamer Can you provide more details like VS Code version, OS type and version etc.
Also, sample code of what you are trying to do in your extension and a screencast/gif/video ?

[2016-09-09 00:07] harrywangwork commented on #11726
Issue resolved after updating C++ extension. Thanks for the tip.

[2016-09-09 00:15] Tyriar commented on #11721
This is failing due to the switch over from .zip to .tar.gz in https://github.com/Microsoft/vscode-extension-vscode/pull/27. After investigating I've found that while the new extraction function works fine, for some reasons the permissions to actually run the binaries are gone. I believe `gulp-untar` is the culprit.

I have a PR incoming, hopefully this will be published and resolved within the ne

[2016-09-09 00:34] ronanwize commented on #11715
That is really impressive how quickly you guys pushed that out.

[2016-09-09 00:41] johnmullany opened #11730 "1.5 Release breaking React ES6"
- VSCode Version: 1.5 or 1.5.1
- OS Version: Windows 10

Steps to Reproduce:

1. using webpack (haven't tried gulp yet) npm start any project that has ES6 code in it and it will break. Same project works fine using Atom.
2. You'll get the module parse failed:  Unexpected token with the line number and You may need an appropriate loader to handle this file type.
I can go right back to Atom and use

[2016-09-09 00:43] deviprsd21 commented on #11715
Woah, way too fast. Impressive.

[2016-09-09 00:48] JordanMandel opened #11731 "Cannot use --goto parameter with paths that include a drive letter with a colon :"
- VSCode Version: 1.5.1 (07d663dc1bd848161edf4cd4ce30cce410d3d877)
- OS Version: Windows 10 14393.0.160715-1616

Steps to Reproduce:

1. Open a file with vscode, adding the --goto or -g parameter to navigate to a specific line number. Be sure to include the drive letter with a colon (:) in the path specified

Result: Failure to open file and an error:

[code]

Whereas using a relative path that do

[2016-09-09 00:52] Huachao commented on #9794
@bpasero I still found the problem in my code, when I want to preview the same uri with different title, the sample code is still like
[code]

[2016-09-09 01:05] JustinPealing commented on #241
[SHAddToRecentDocs ](https://msdn.microsoft.com/en-us/library/windows/desktop/bb762105(v=vs.85).aspx) says that folders will only appear in the Windows Explorer jump list, so the Recent / Frequent jump lists won't work for opening projects. It looks like it might be possible to create a custom jump list containing folders using the [setJumpList function](https://github.com/electron/electron/blob/m

[2016-09-09 01:14] eyalsk commented on #3355
@shnk I'm all for commands and text based configuration but I also acknowledge that some people that use VSCode are less technical in nature and feel less comfortable with it so I wouldn't mind if they will have a GUI as a separate extension.

[2016-09-09 01:22] rtorr commented on #101
Can I also request that a unsaved file should not prompt to be saved when an editor window closes?

concerns listed here https://github.com/Microsoft/vscode/issues/9304

[2016-09-09 01:22] Andy-Amoy commented on #11576
Hi Ramya, good news is that after reinstall VS Code, the issue is gone. If there is no more questions, I will close this ticket or you do it if convinient.

[2016-09-09 01:35] slobo80 opened #11732 "Ctrl+K, Ctrl+U does not work"
- VSCode Version: 1.5.1
- OS Version: 1511 - Win10

Steps to Reproduce:

1. Go to a commented line starting with  '//'
2. Pres Ctrl+K, Ctrl+U
3. Nothing happens
Expected:
Line is uncommented.

[2016-09-09 01:37] garthk opened #11733 "Spurious error: [ts] Duplicate function implementation"
- VSCode Version: 1.5.0-insider `4fc690be310dd02e0ab6529c0b9bf348a8b26a19`
- OS Version: macOS 10.11.6 (15G1004)

Steps to Reproduce:

0. `vscode-insiders .`
0. Edit `src/big-file.ts`, which is too long and stuffed with unrelated concerns
0. `vscode-insiders -r src/extracted-function.ts`
0. Cut a function out of `src/big-file.ts`
0. Paste it into `src/extracted-function.ts`
0. Observe red underlin

[2016-09-09 01:44] davidfig opened #11734 "Add a Duplicate to the click-menu in the explorer pane"
Feature request:

When right/ctrl-clicking on a file in the explorer, it would be helpful to have a Duplicate selection. This would copy and paste the selected file into another new file in the same directory.

My ideal would be to allow for a rename immediately after duplicate; alternatively it would just create the file with the filename-n name.

Currently this can be done with a ctrl-click copy

[2016-09-09 01:56] wgknowles commented on #1862
// Whether the proxy server certificate should be verified against the list of supplied CAs.
This leads me to think there should be a way to add a CA to the "list of supplied CAs".  Ideally, there should be a setting like http.useMachineCAStore that taps into the trusted root CA list of the system (same one used by IE)

Doesn't  setting "http.proxyStrictSSL": false result in all CA's and self-sign

[2016-09-09 02:02] indiejames commented on #11729
Add this to your settings:

[code]

[2016-09-09 02:09] xbears commented on #8928
Version: 1.5.1
Same situation, waiting...

[2016-09-09 02:16] ratishphilip commented on #11713
Thanks!

[2016-09-09 02:36] fengbjhqs opened #11735 "--user-data-dir does not allow relative paths on Windows"
- VSCode Version:1.5
- OS Version:windows 7

Steps to Reproduce:

1. run D:\vscode\Code.exe --user-data-dir="./user/data/"     is absolute paths

Version:1.5  D:\user\data

Version:1.4  D:\vscode\user\data

[2016-09-09 02:44] osjn commented on #772
@formulahendry thank you so much...

[2016-09-09 02:47] apbendi commented on #11714
I'm seeing the same problem. Below is `keybindings.json`. My `settings.json` is empty.

[code]

[2016-09-09 02:49] apbendi commented on #11714
(also, if there is an easier way to toggle between the terminal and the editor without a custom keyboard, I'd love to know it! just started trying out VSCode earlier this week, so apologize if thats a dumb question!)

[2016-09-09 03:00] ramya-rao-a commented on #11576
@Andy-Amoy glad to know you are unblocked. I have closed this issue

[2016-09-09 03:01] qtxie commented on #11729
@indiejames Thanks! :+1:
Is there a way to do it in the language plugin? So the setting can only apply to specify language rather than all.

[2016-09-09 03:03] ramya-rao-a commented on #11693
@Jakobud Just curious.. Did adding the error callbacks work?

[2016-09-09 03:10] pritimay commented on #11714
@Tyriar This are my user settings.json and keybindings.json

{
    "terminal.integrated.cursorBlinking": true,
    "files.autoSave": "afterDelay",
    "files.autoSaveDelay": 1000,
    "window.restoreFullscreen": true
}

[
    **{
        "key": "ctrl+q",
        "command": "workbench.action.terminal.focus",
        "when": "!terminalFocus"
    },**
    {
        "key": "ctrl+shift+x",
        "com

[2016-09-09 03:14] ramya-rao-a commented on #11734
This would be a good candidate for an extension. @bpasero thoughts?

[2016-09-09 03:19] czmecho opened #11736 "Hope the default User Settings allow to use the "," in the last sentence"
- VSCode Version: 1.5
- OS Version: win 10
just like this:
![sp160909_101348.png](https://ooo.0o0.ooo/2016/09/09/57d229d6d64d3.png)

if I add the setting sentence in the last ,I have to remove the ",".
the default User Settings allow to use the "," in the last sentence,I don't need to remove it.

[2016-09-09 03:20] hashhar commented on #11734
See this [extension](https://marketplace.visualstudio.com/items?itemName=mrmlnc.vscode-duplicate)

[2016-09-09 03:24] hashhar commented on #11725
See this [extension](https://marketplace.visualstudio.com/items?itemName=christian-kohler.path-intellisense)

[2016-09-09 03:26] octref commented on #11725
@hashhar

Wow, thank you!

[2016-09-09 03:26] #11725 closed

[2016-09-09 03:28] ywmail commented on #11667
When I use cntlm to translate the NTLM proxy to a none encrypted proxy, I alse get a problem in 1.5.1. When start the code, it promote `unable to verify the first certificate`.

[2016-09-09 03:29] hashhar commented on #11714
Can confirm the same issue. I tried this on a clean install. Both `settings.json` and `keybindings.json` are empty.

[2016-09-09 03:29] rentiansheng commented on #11662
I'm very sorry,  Yesterday, Error with my vs code configuration  environment, Thanks ver

[2016-09-09 03:29] #11662 closed

[2016-09-09 03:30] davidfig commented on #11734
Awesome. Exactly how I envisioned it. Thanks!

[2016-09-09 03:30] #11734 closed

[2016-09-09 03:31] ramya-rao-a commented on #11728
@tnaseem Is this a regression? i.e. Was this the same in 1.4.0 or happens only in 1.5.1?
What extensions do you have installed?

[2016-09-09 03:31] whyld4900 commented on #205
+1

[2016-09-09 03:38] ywmail commented on #10461
before v1.5.1, I use cntlm to translate the NTLM proxy to a none encrypted proxy, it worded ok. After update to 1.5.1, neither NTLM proxy or  cntlm works. I also have `"http.proxyStrictSSL": false` set, but it seems does nothing with promotes `unable to verify the first certificate`.

[2016-09-09 03:40] hashhar commented on #11688
Is there any way to get the list of comment tokens from all the grammar's (including extensions) installed in vscode?

I think this will become just a matter of using a strong default regex to exclude comments. I can try and implement this.

[2016-09-09 03:41] ramya-rao-a commented on #11729
@qtxie You can add this setting in your workspace settings instead of user settings. This way it will be applied to certain workspaces instead of all workspaces.

This is a setting for the editor and so cannot be applied to specific languages only out of the box.

An extension can update the settings based on file extension of the document in the active editor. So you can write an extension for th

[2016-09-09 03:41] #11729 closed

[2016-09-09 03:42] hashhar commented on #11659
There are quite a few extensions that add such lag. I would suggest you to binary search your extensions to find the culprit.

Move out half of your extensions at a time from the extensions folder and then see if the issue is fixed. Keep on repeating until you halve down to just the culprit.

[2016-09-09 03:43] hashhar commented on #11655
I can look into implementing it.

[2016-09-09 03:45] ramya-rao-a commented on #11736
That wouldn't be valid json, and since we have to parse the json to read the settings, I don't think we will be making this change. @bpasero Can you confirm?

[2016-09-09 03:47] #11736 closed

[2016-09-09 03:53] be5invis commented on #11708
+1 for this.
And the "LEFT | CENTER | RIGHT" labels also took too much space.

[2016-09-09 03:56] hieutranagi47 commented on #11619
![error-hint](https://cloud.githubusercontent.com/assets/15606737/18374986/f3b0b396-767b-11e6-941a-e41fc32f2d12.png)
I attached it, pleaes take a look at it.

[2016-09-09 03:56] z442a9 opened #11739 "Run VS Code with admin privileges so the changes can be applied"
- VSCode Version: 1.5.1
- OS Version: Windows 10 64-bit (1607)

Steps to Reproduce:

1. Everytime I open VS Code without Administrator rights I get these errors. When I run it with Admin rights everything works.

![2016-09-09 06_52_43-deploy-application ps1 - visual studio code](https://cloud.githubusercontent.com/assets/22090797/18374974/4a83f6d2-765a-11e6-9477-6d462320a108.png)

[2016-09-09 03:59] be5invis opened #11740 "[file icon themes]Config to assign a separate icon to *.d.ts instead of *.ts"
- VSCode Version: 1.5.1
- OS Version: Windows 10 x64, 14393.103

When making an icon theme, currently assigning an icon to *.ts is easy, but there is no way to assign a separate icon to *.d.ts.

[2016-09-09 04:03] ramya-rao-a commented on #11734
Thanks @hashhar

[2016-09-09 04:07] ramya-rao-a commented on #11619
Which extensions are you using?

[2016-09-09 04:12] oblin commented on #11714
Comfirm this issue, too.
try this simple setting work in 1.4, but not 1.5.1：

{ "key": "ctrl+alt+t",            "command": "workbench.action.terminal.focus"}

[2016-09-09 04:13] hieutranagi47 commented on #11619
jshint 0.10.15 - Dirk Beaumer, downloaded: 58735, rate: 4.5 stars.
Currently I installed so many extensions into VSC.
![extensions](https://cloud.githubusercontent.com/assets/15606737/18375225/63b13970-767e-11e6-8033-3088377ad9df.png)

[2016-09-09 04:15] NiggyWizzyWoz commented on #11659
So here are my findings after following your advices:
1- I'm using an app called Karabiner which allows me to modify OS-level key repeat & delay rates. This made the choppy behaviour worse  because It was simply registering in more keystrokes.
2- I removed all extensions and used arrow keys. Some of the choppiness is gone. I assume the remaining choppiness has to do with CSS transitions ? (pure sp

[2016-09-09 04:15] tnaseem commented on #11728
Ah Sorry, I should have said. It's always been there.

List of installed extensions...

![player_cs_-_buggyball](https://cloud.githubusercontent.com/assets/1317345/18375253/9f9c8528-76a8-11e6-94e9-452eea682064.png)

[2016-09-09 04:19] hashhar commented on #11659
What type of file is it? And how long is it? Could be the syntax files.

[2016-09-09 04:20] ramya-rao-a commented on #11619
Since the error is coming from jshint, please move this issue to the repo for the extension for jshint. They would best be able to tell if this is caused by the extension or any of the VS Code APIs

[2016-09-09 04:25] hieutranagi47 commented on #11619
Ok! Thank Ramya so much!

[2016-09-09 04:31] bpasero commented on #11379
@OliverJAsh can you try this:
* set "window.reopenFolders": "all" in your user settings (NOT workspace settings)
* open 2 windows on a folder (we do NOT restore empty windows)
* File > Quit
* Launch again

Works?

[2016-09-09 04:36] bpasero commented on #10890
@spraguey I find the case very interesting where you start with an empty VS Code (no folder open) you open a file from that drive and VS Code crashes when the drive is disconnected! Because that is a very isolated thing to test.

Can we try something again? Please get latest from master and run these commands:
* `git clean -xfd` (this removes e.g. the node_modules folder)
* `scripts/npm.sh install

[2016-09-09 04:38] ramya-rao-a commented on #11728
This might be caused by the `Debugger for Unity` extension. I am not familiar with the extension. Can you share a screenshot of the console from where you click on the error message?
Is this console the same as the Debug console or a separate one?

[2016-09-09 04:39] ramya-rao-a commented on #11619
@hieutranagi47 Closing this issue for now. We can reopen it if the extension authors get back saying that the problem is not with the extension

[2016-09-09 04:39] #11619 closed

[2016-09-09 04:40] bpasero commented on #11665
@pokerchina @PeterJausovec sorry to hear that. From the log it is not clear to me why Code would crash. Do you have extensions installed? If so, does it reproduce if you run `code --disable-extensions`?

Also, does this happen when you run `code -n` from the command line to force open an empty workspace and not a folder?

[2016-09-09 04:41] bpasero commented on #11727
Likely https://github.com/Microsoft/vscode/issues/3736

[2016-09-09 04:42] bpasero commented on #9794
@Huachao so you say it does not work for you with 1.5?

[2016-09-09 04:43] bpasero commented on #11736
Our JSON parser is tolerant to errors like that, but you should try to keep your JSON file valid...

[2016-09-09 04:44] bpasero commented on #11708
@tracker1 @be5invis are you talking about the "Opened Editors" list on top of the files explorer?

[2016-09-09 04:46] bpasero commented on #11728
@tnaseem it is our design principle that we open editors in the group that is currently focussed, though we have a few places where we actually favour an already opened editor.

Where are you clicking to open the error? Is it an output channel? The debug console? Or the problems view?

[2016-09-09 04:50] #11721 closed

[2016-09-09 04:50] NiggyWizzyWoz commented on #11659
.go file - 740 loc.
uses the Go Extension by lukehoban.
I just updated vscode to 1.5.1 - no difference.

[2016-09-09 04:53] Huachao commented on #9794
Yes.

[2016-09-09 04:53] bpasero commented on #11721
Published 0.11.18, let us know how it goes.

[2016-09-09 04:58] hashhar opened #11741 "Search within installed extensions returns results from the online lists"
- VSCode Version: 1.5.1

Steps to Reproduce:

1. Open `Installed Extensions`.
2. Enter a search query.

Expected Output:
Return results from within installed extensions.

Actual Output:
Returns results from all available extensions.

[2016-09-09 04:58] bpasero commented on #9794
@Huachao can you attach the full extension workspace for me to reproduce what happens?

[2016-09-09 05:03] regs01 commented on #381
Same here. 150% scaling on 2160p screen, 14pt Consolas appears a bit boldish, even with 400 or normal. Light or anywhere below 400 won't make any difference. When you look close to display it's nice and beatiful, but from 0,7-0,8 m. from display it looks like Fixedsys....

http://i.imgur.com/PU3SEmh.jpg

[2016-09-09 05:03] NiggyWizzyWoz commented on #11659
I must mention that this problem is not as bad on my windows machine  probably due to having a much better cpu and also default key repeat rates. The problem is that I don't actually use that machine for development, just wanted to test whether I would experience the same thing on Windows as well.

[2016-09-09 05:09] Huachao commented on #9794
Oh, @bpasero , I found that the title really changed of vs code window, but what I also want to change is the title of the tab.

[2016-09-09 05:25] tnaseem commented on #11728
It happens with and without the Unity Debugger extension (Just tried it now), and happens when I double click the error in the Unity console window.

Actually, the Unity console window is just a red herring. I just tried opening the same file from Finder (with another view in focus) and rather than just going to the existing tab in the other view, it opens another tab in the currently selected vie

[2016-09-09 05:27] DanTup commented on #11721
Looks good now; thanks for resolving so quickly! :+1:

[2016-09-09 05:30] hashhar commented on #11739
I think you have installed the icons extension? If yes, then run code with admin privileges once. It will then popup a message telling you that icon support is now enabled. You can then run code normally.

[2016-09-09 05:30] richardruiter opened #11742 "Bug in cursor location within user snippets"
- VSCode Version: 1.5.0 & 1.5.1
- OS Version: OS X 10.11.6 (15G1004)

Steps to Reproduce:

1. Add the following snippet to the javascript.json user snippets file:
[code]
2. Then open an .js file and type "log" ENTER to insert the snippet.

Before the update of 1.5.0 the cursor appeared at $1 `console.log('|');` now at the end of the line  `console.log('');|`

[2016-09-09 05:41] hashhar commented on #11420
A related issue is that searching for a token doesn't highlight more than 500 entries at a time.

For example I have a latex style file which has about 600 lines and almost all of the lines contain the text `faicon`. Searching for it only highlights the first 500 matches. And also there is not configurable way to increase that number.

[2016-09-09 05:41] be5invis commented on #11708
@bpasero yes.

[2016-09-09 05:46] fusion809 opened #11743 "Please tag v1.5.1"
Hi,

Yet again I must request that a minor bug-fix release, namely v1.5.1, be tagged.

Thanks for your time,
Brenton

[2016-09-09 05:47] xparabolax commented on #11715
Kudos, VSCode team. Amazing job.

[2016-09-09 05:48] bpasero commented on #9794
@Huachao yeah that should work, so please can you share your extension?

[2016-09-09 05:50] bpasero commented on #11728
@tnaseem to rephrase this is about opening files from outside VS Code into VS Code and you would like to have an option that if any opened VS Code window has the file open in an tab you want this window to become active and that tab to be revealed? Yes?

[2016-09-09 05:50] hashhar commented on #11349
Set `"diffEditor.ignoreTrimWhitespace": false`.
![2016-09-09_11-19-39_1366x768](https://cloud.githubusercontent.com/assets/10473142/18376762/67efe526-767f-11e6-81dd-5af5a0e631d8.png)

[2016-09-09 05:51] bpasero commented on #11708
@isidorn this is a feature request asking to drop the group labels and just show the list flat. I am not a big fan of that, but I know we had a similar issue where people complained that the group labels take too much space.

[2016-09-09 05:54] octref commented on #11349
@hashhar

Thanks a lot for telling me these hidden features!

[2016-09-09 05:54] #11349 closed

[2016-09-09 05:59] Huachao commented on #9794
@bpasero my extension source code is [here](https://github.com/Huachao/vscode-restclient), you can update this [line](https://github.com/Huachao/vscode-restclient/blob/master/src/controllers/requestController.ts#L78) to
[code]

[2016-09-09 06:03] Leon99 commented on #241
Bringing folders to the jump list could easily be a better alternative to having several open folders in one window. At least for Windows of course. MS folks, please give this item some love.

[2016-09-09 06:06] hashhar commented on #11237
I would like to chime in with how some other editors handle this.

The most elegant method is used by vim. They have a special prefix which tells the search to treat special characters as special. But by default they treat all characters as literals.

Atom also treats as literal unless you turn on regex mode and emacs behaves the same way. So I think that the current way is more common to the user

[2016-09-09 06:07] joaomoreno commented on #9367
Sweet.

[2016-09-09 06:07] hashhar commented on #11190
@joaomoreno And while you people are at it, is there some way you could add support for deactivating extensions on the fly. Is it as simple as calling `extension.deactivate()` and `extension.activate()`?

[2016-09-09 06:11] bpasero commented on #9794
@Huachao can you give me some instructions how to set the extension up to make a request etc.?

[2016-09-09 06:17] mamboer commented on #11624
@weinand

Yes, it does.

It will use my local 'pug' which specified in the package.json.

I don't have the global `pug-cli` installed.

[2016-09-09 06:23] octref commented on #11741
I think that's working as intended. Empty query shows all installed extensions, and non-empty query searches against marketplace.

[2016-09-09 06:24] tnaseem commented on #11728
Yes. Exactly.

I originally thought it was a problem between Unity and VS Code, but since I've been playing around with it now, I realise I could have rephrased my question better in the original post :)

[2016-09-09 06:30] jromier commented on #10959
Sorry, I haven't yet read your answer.
I'll try your suggestion asap and give you a feedback.
Thanks for your support

[2016-09-09 06:31] hashhar commented on #11741
Okay. Didn't pay attention to that. Thanks.

[2016-09-09 06:31] #11741 closed

[2016-09-09 06:31] mrmlnc commented on #11719
@ramya-rao-a, nope, it's not Emmet. This is related to `snippetController.ts` after a6d74abc42c843d87e096c67cd5c63c5e938c540 by @jrieken.

Works fine before 3e87aced31c90e9e0227d600d3571af6d33c839d and broken after 5fbe501da2f32576c25ad3f0a161a9c95a8539df.

[2016-09-09 06:35] Huachao commented on #9794
Hi @bpasero , I have sent you an email to you in your corp account, and you can directly install that version, it doesn't work as expected

[2016-09-09 06:42] con-ssc commented on #11687
No I cannot since it is for a customer. I also guess that it might have something to do with some code lens extensions and not with vscode directly maybe. I don't know how to monitor the crashes though.

[2016-09-09 06:44] ferarias commented on #11618
Reinstalled git 2.9.3. Same problem...

[2016-09-09 06:49] ramya-rao-a commented on #11742
@richardruiter I tried in OS X El Capitan 10.11.6 and Windows 10 with VS Code 1.5.1 and can't repro this. The cursor ends up in the right place.

Are you able to see this when extensions are disabled? Try running `code --disable-extensions`

[2016-09-09 06:50] hashhar commented on #11655
How would you like the list. The generated url must be less than 2k characters which is a pretty tight limit. I was thinking of generating gists using an open Id with tokens for write access and then link the gist url to the issue body.

Do you have a better approach @joaomoreno, @Tyriar?

[2016-09-09 06:52] ferarias commented on #11618
Upgraded VS Code. Same error.

[2016-09-09 06:54] aeschli commented on #11703
BSD is a blue screen? That wouldn't be related to tsc, but a bug in Electron.
Updating while VSCode still open could definitely be an an issue.
@joaomoreno Should the installer prevent that?

[2016-09-09 06:56] sandy081 commented on #11668
@ramya-rao-a css-less-sass areas are owned by @aeschli. So you can assign him those related issues.

Thanks.

[2016-09-09 06:56] joaomoreno commented on #11743
Done

[2016-09-09 06:56] #11743 closed

[2016-09-09 06:56] ferarias commented on #11618
How could I inspect git output? Maybe with Sysinternals or similar?

[2016-09-09 06:57] ramya-rao-a commented on #11743
wow, that was fast.. I was just about to assign this out :)

[2016-09-09 06:59] aeschli commented on #11705
@mdouglass Can you create a separate issue? The Visual Studio Code Seti theme on purpose doesn't contain folder icons. That the indentation can be confusing is a something we already discussed in the team. If many users are confused by it we should look into tweaking the indents.

[2016-09-09 07:01] aeschli commented on #11705
Closing this issue. Please file all vscode-icons interoperability issues against https://github.com/robertohuertasm/vscode-icons.

[2016-09-09 07:01] #11705 closed

[2016-09-09 07:01] zjaml commented on #2550
Subscribed to this too. The feature could be very useful.

[2016-09-09 07:03] KUGA2 opened #11744 "No connection behind proxy since update 1.5.0"
- VSCode Version: 1.5.0
- OS Version: Win7

Today i got an automatic update to 1.5.0. My User Settings were kept. Configuration:
    "http.proxy": "http://XXX:80",
    "http.proxyStrictSSL": false,

VS Code start up with an error:
   self signed certificate in certificate chain

I have no Connection to the marketplace, but it worked before the update.

[2016-09-09 07:07] felix-last commented on #2135
+1 Our application consists of multiple node apps, would be great to see support for symlinks to be able to debug them properly.

[2016-09-09 07:07] bpasero commented on #9794
I can reproduce.

[2016-09-09 07:13] mrmlnc commented on #11740
@aeschli, strange behavior.

For example, I assign `ts` to `ts: _typescript` and `d.ts` to ` _javascript` and `d.ts` files will be have TypeScript icon. But if I assign `d.ts` to `_pdf` I will see PDF icon.

[2016-09-09 07:25] jrieken commented on #11742
same here - failing to reproduce. @richardruiter Please update your steps/sample

[2016-09-09 07:25] joaomoreno commented on #11579
One way we could fix this would be to always include a line `no documentation` in items that lack it. Thoughts?

[2016-09-09 07:26] johnnyreilly opened #11745 "A version mismatch between the globally installed tsc compiler (1.0.3.0) and VS Code's language service (1.8.10) has been detected. This might result in inconsistent compile errors."
- VSCode Version: 1.5.1
- OS Version: Windows 8.1

Steps to Reproduce:
1. Start up VSCode
2. Experience the info message "A version mismatch between the globally installed tsc compiler (1.0.3.0) and VS Code's language service (1.8.10) has been detected. This might result in inconsistent compile errors."

I have not directly installed TypeScript globally with npm.  I can only assume this is a resul

[2016-09-09 07:26] joaomoreno commented on #11677
Code's git model is always delayed, in order not to overload the system with `git status` calls.

[2016-09-09 07:26] #11677 closed

[2016-09-09 07:27] jrieken commented on #11719
@aeschli will know. @mrmlnc Is this with multiple cursors?

[2016-09-09 07:29] jrieken commented on #746
The [`QuickPickItem`](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L1329) is defines as an interface (thing of a struct) which means it isn't callable/newable. Simply have a object literal that as the required properties, like

[code]

[2016-09-09 07:30] alexandrudima commented on #11597
@aeschli I have improved vscode-textmate's `npm run inspect` to allow for loading multiple grammars. When both the C++ and C grammar are loaded, at line 17916 for this file, the rule stack grows to 101 and tokenization stops. ( the commit is Microsoft/vscode-textmate@5aadb4e5e32e64bec4ea17e96312f35f14a993a1 ). The relevant command line is:

[code]

I will spend some time to isolate the constructs

[2016-09-09 07:35] mrmlnc commented on #11719
@jrieken, no, just one.

![2016-09-09_10-34-23](https://cloud.githubusercontent.com/assets/7034281/18379036/04e8f8a6-7679-11e6-8ece-3bfb1e318d1f.gif)

[2016-09-09 07:35] emartinpi commented on #6602
I just updated Code to version 1.5 and the scrolling in integrated terminal doesn't work with my mouse wheel. The only way i can scroll is <kbd>cmd</kbd>+<kbd>arrows</kbd>

[2016-09-09 07:36] txiaocao opened #11746 "不能识别出jsx的react文件，其中jsx格式的语言显示不正确。javascript react才是正确的，需要手动选择"
- VSCode Version: Code 1.5.1 (07d663dc1bd848161edf4cd4ce30cce410d3d877, 2016-09-08T21:33:49.307Z)
- OS Version: Windows_NT ia32 10.0.10240

"files.associations": {
        "*.jsx": "react"
    },
Steps to Reproduce:

1.打开一个jsx文件
2.其格式显示为jsx，但理想情况应该显示成 javascript react
3.可是配置files.associations为react却显示为纯文本

[2016-09-09 07:38] joaomoreno commented on #11716
Interesting.

- 05ee54fc52567a083a593f28fa90f49b9daa794f _fixed_ the issue, was shipped in 1.4
- 669064fb2e6016500488ac707fe04363db813731 reverted the fix for quick open only, because it broke stuff (#10298), was shipped in 1.5

I've reopened the original issue #7876 and am marking this as duplicate.

[2016-09-09 07:38] #11716 closed

[2016-09-09 07:39] joaomoreno commented on #7876
@bpasero Adding you since the changes are quick open widget, not in the tree.

[2016-09-09 07:40] joaomoreno commented on #11717
Next time you get the _popup window_, take a screenshot and show us in a new issue.

If installation fails, anything goes. If you reinstall successfully, it will work.

[2016-09-09 07:40] #11717 closed

[2016-09-09 07:40] joaomoreno commented on #11710
Is this #3520?

[2016-09-09 07:40] #11710 closed

[2016-09-09 07:44] ivarref commented on #11714
You can also reproduce this issue with: `ctrl-shift-p` and select `Terminal: Focus Terminal`
My keybindings.json is then an empty array.
This does not work for me in 1.5.1.

@apbendi It's not a dumb question. I think it would be an excellent feature to easily toggle between terminal and editor without a custom keyboard shortcut. I don't know of a way at present moment.

[2016-09-09 07:45] joaomoreno commented on #11702
@ericanderson Can you show me how I can do step 1?

This has been the major problem in fixing proxy issues: I don't know how to reproduce all these scenarios.

[2016-09-09 07:46] joaomoreno commented on #11667
@onybo Make sure you restart Code after changing the proxy settings.

[2016-09-09 07:47] joaomoreno commented on #11744
#11702

[2016-09-09 07:47] #11744 closed

[2016-09-09 07:48] joaomoreno commented on #10461
@ywmail #11702

[2016-09-09 07:48] aeschli commented on #11668
Thanks for the example. I'm desperatly trying to reproduce this freeze issue, it has been reported a few times now, but it never happens to me.
The next time you see it, can you check out the Windows Task Manager?
- add the 'Command Line' column in the processes view
- find out which VSCode process runs havoc.

@f83d40f is for September, so its not relevant

[2016-09-09 07:49] joaomoreno commented on #11190
@hashhar ping @alexandrudima

[2016-09-09 07:49] aeschli commented on #11740
Oops, the . is not escaped. Will fix ASAP

[2016-09-09 07:50] ramya-rao-a commented on #11668
@sandy081 Sorry there was a mapping given to me that I was following. Will keep the update in mind. I must have passed on quite a few of css-less-sass issues over to you the past couple of days

[2016-09-09 07:50] joaomoreno commented on #11655
Just something similar to what `code --list-extensions` gives you in the command line, with the additional version info.

[code]

[2016-09-09 07:51] vlan-saxo commented on #11702
@joaomoreno The same issue is reproduced with http/https proxies with self-signed certificates, I also reproduce this issue in our corporate network since the update.

[2016-09-09 07:53] ITSecMedia commented on #11719
Definitely a new issue with shortcode cursor positioning.
The cursor position is wrong on every use.
Happens here  since the last update to V1.5 and 1.5.1

[2016-09-09 07:53] #11703 closed

[2016-09-09 07:53] joaomoreno commented on #11703
This just sounds like a random Electron crash, which gets sent to us via the crash reporter. Has nothing to do with updates.

[2016-09-09 07:54] hashhar commented on #11655
Okay. So I am able to get a list of the extension but somehow I stupidly ended up deleting my ~/.electron.gyp folder and can't clone the repos since right now I can't use git (network restrictions). I think I'll be able to send a PR with unit tests within the week.

[2016-09-09 07:54] aeschli commented on #11597
The grammars are from https://github.com/atom/language-c. You can see this by checking the OSSREADME in the corresponding extension.

[2016-09-09 07:56] joaomoreno commented on #11618
![image](https://cloud.githubusercontent.com/assets/22350/18379598/a754c256-7673-11e6-8b20-ea8638491821.png)

[2016-09-09 07:58] alexandrudima commented on #11597
Thank you, I asked because I saw two entries. Is the textmate/c.tmbundle still used?
* https://github.com/atom/language-c
* https://github.com/textmate/c.tmbundle

[2016-09-09 08:00] bpasero commented on #11684
Still reproduces...

[2016-09-09 08:02] SunboX opened #11747 "floting panels; undock panels and move them around"
Feature-Request

Floting panels, so i can undock the folders & files panels and move it to another screen.

[2016-09-09 08:02] giech opened #11748 "Feature Request: Support for Multiple Integrated Terminals"
It would be great if we were able to open multiple types of integrated terminals (e.g. both bash and PowerShell) in the same session. These could, for instance, be specified as semicolon-delimited paths in the `terminal.integrated.shell.windows` property, and within the terminal window we could launch a new instance either via right-clicking the "+" button, or via a dropdown menu.

Note that this

[2016-09-09 08:04] ITSecMedia commented on #11742
This very annoying bug happens on my machine too.
Recognised in markdown snippets.
Windows x64 since Version 1.5.0 up to 1.5.1.

[2016-09-09 08:04] akshaymagapu opened #11749 "Show errors in the files explorer"
- VSCode Version: 1.5.1
- OS Version: Windows 7

Steps to Reproduce:
1. Type some error code in typescript file
2. shows redline near the error

-Better if it shows error near the filename also.

[2016-09-09 08:07] caramorsimon commented on #5940
+1
copy/paste rectangular blocks is a regular occurrence eg, to duplicate some text to create 2 columns (and the 2nd column to appear starting from whatever floating top left the cursor is at (even beyond the nominal line ending)
To go from
[code]
to
[code]
[when the line count, text length/complexity high it is an essential feature in a code editor of substance as many others have commented in th

[2016-09-09 08:15] joaomoreno commented on #11702
Awesome, was able to reproduce this using [Charles](https://www.charlesproxy.com). Will definitely buy this to keep the proxy issues in control.

[2016-09-09 08:16] jrieken commented on #2550
@waderyan This is an issue with the typescript brain

[2016-09-09 08:16] weinand commented on #11624
@

[2016-09-09 08:17] OliverJAsh commented on #11379
Here is my settings file, located at:
/Users/OliverJAsh/Library/Application Support/Code/User/settings.json

![image](https://cloud.githubusercontent.com/assets/921609/18380160/fb1e3666-766d-11e6-9c92-81e1bbf05ab5.png)

I followed your steps again and it seemed to work this time round. Odd! Thanks

[2016-09-09 08:17] jrieken commented on #11742
@ITSecMedia It would help if you include reproducible steps and the snippet you are completing

[2016-09-09 08:21] jrieken commented on #11742
Just to make sure are talking about the same thing. This is what I see and believe is proper

![sep-09-2016 10-20-19](https://cloud.githubusercontent.com/assets/1794099/18380343/29c0d592-7677-11e6-81bb-439d51e90cad.gif)

![sep-09-2016 10-20-32](https://cloud.githubusercontent.com/assets/1794099/18380344/29db8144-7677-11e6-9470-f13d935e006a.gif)

[2016-09-09 08:25] ITSecMedia commented on #11742
Sorry.

Just opened VSCode, started new markdown file using this snippet.

The tab-stops doesn't work anymore. When I have a text like this.

example [example](sc <-shortcode) example example example CURSOR HERE

The cursor is not placed at position $1 inside the place snippet but rather at the end of line.

[code]

[2016-09-09 08:29] SFLAQiu opened #11750 "Why not me the updated version"
- VSCode Version: Code 1.3.0 (e724f269ded347b49fcf1657fc576399354e6703, 2016-07-07T16:56:12.476Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

[2016-09-09 08:30] ivancuric opened #11751 "Support to show icons in more places (tabs, open editors, quick open)"
- VSCode Version: 1.51

It would be great if VScode supported an option to show the icons in open tabs and editors.

[2016-09-09 08:33] mrmlnc commented on #11719
@jrieken, I think here should be `snippet`.

[code]

[2016-09-09 08:33] ivancuric commented on #11590
Duplicate of https://github.com/Microsoft/vscode/issues/11633 ?

[2016-09-09 08:33] ramya-rao-a commented on #11747
Duplicate of #10121

[2016-09-09 08:33] #11747 closed

[2016-09-09 08:35] ramya-rao-a commented on #11746
@txiaocao Can you please update the issue title and steps to reproduce in english?

[2016-09-09 08:35] akshayat opened #11752 "Crashes on opening a specific 700kb png file"
- VSCode Version: Code 1.5.1 (07d663dc1bd848161edf4cd4ce30cce410d3d877, 2016-09-08T21:33:49.307Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1. Get a png file ~700KB
2. Put it under root of the project
3. Try to open it by clicking from Explorer menu

[2016-09-09 08:37] bpasero commented on #11379
Ok then I do not see an issue here 👍

[2016-09-09 08:38] akshayat commented on #11752
![image](https://cloud.githubusercontent.com/assets/2619644/18380837/ea933f34-7696-11e6-9b79-46dca11b36c5.png)

[2016-09-09 08:42] jrieken commented on #11742
Thanks. I can reproduce now

[2016-09-09 08:42] sandy081 commented on #11668
@ramya-rao-a no worries :)

[2016-09-09 08:44] #11702 closed

[2016-09-09 08:45] jrieken commented on #11742
As a workaround you can use tab completion (settings > ` "editor.tabCompletion": true`) which isn't affected by this.

[2016-09-09 08:45] joaomoreno commented on #11702
Found the issue, pushed to master. Will try to get it into a recovery build asap.

[2016-09-09 08:47] elvestar commented on #396
+1

[2016-09-09 08:48] bpasero commented on #11731
@joaomoreno I did not add the validation code there

[2016-09-09 08:49] ramya-rao-a commented on #11751
The [release notes](http://code.visualstudio.com/updates/v1_5#_workbench) does talk about eventually supporting icons for tabs.

"Open editors" here refer to the opened editors as opposed to open editors section on the side bar in #11287

[2016-09-09 08:50] ramya-rao-a commented on #11750
@SFLAQiu sorry what??

[2016-09-09 08:51] Sokolua commented on #11590
@ivancuric about syntax highlight yes, also I'm experiencing strange error with **each** loop as on second screenshot.

[2016-09-09 08:55] naumovs opened #11753 "Regression: --goto feature should accept empty line and column numbers"
- VSCode Version: 1.5.1
- OS Version: MacOs

Steps to Reproduce:

1. Open terminal
2. run code . --goto somefile:

Expected: VSCode opens the file.
Actual: throws an error `Arguments in `--goto` mode should be in the format of `FILE(:LINE(:COLUMN))`.`

The reason is simple - iTerm2 can be configured to run a program on a Cmd+click on filename in the terminal. It offers an ability to pass line numb

[2016-09-09 08:56] gep13 commented on #11565
@egamma just wanted to follow up with this to see if there was an update. Thanks!

[2016-09-09 08:56] weinand commented on #11581
commits: https://github.com/Microsoft/vscode/commit/20c3935a130f5b86d629a8543c9c71348c54c3de https://github.com/Microsoft/vscode/commit/50b5d428aeed3a686ecca36568b5c690dead5293 https://github.com/Microsoft/vscode/commit/6014db1a16223f5d7008417140d5ae98dc48be4c https://github.com/Microsoft/vscode/commit/e190921aea36b3c969f66f8ee72bceef9b938b27

[2016-09-09 08:56] #11581 closed

[2016-09-09 08:59] buehler opened #11754 "ShowQuickPick does not fulfil the promises"
- VSCode Version: 1.5.1
- OS Version: OSX 10.11.6

I developed an extension for VSCode and since the newest update (this morning) I've got a serious problem:
[code]
`buildQuickPickList` does produce a Promise

When I call showQuickPick in such a manner, the following error occurs:
[code]
Is this caused by the update ?

[2016-09-09 09:02] ITSecMedia commented on #11742
On my machine the bug occurs no matter if
I press Enter after choosing the snippet
or if I use the tab-completion feature with enabled setting ( "editor.tabCompletion": true )
The cursor is always send far behind the defined $1 tab-stop-cursor-position inside the placed snippet.
But I can wait, until it's fixed.
Thank you, we all LOVE VSCode  :-)

[2016-09-09 09:03] mcepl commented on #229
Can I suggest something like this instead?
[code]
This a way more follows the standard platform practices.

[2016-09-09 09:03] buehler commented on #11754
Update: just investigated..
when I resolve the promise myself, it works.

[code]

[2016-09-09 09:03] ivarref commented on #11714
PS @apbendi I'm using this config in VS Code 1.4 to focus text editor / terminal with the same shortcut:
[code]

[2016-09-09 09:10] rengare commented on #11742
Hello, i have the same issue, but on every snippets that I downloaded (angular 1, 2 html and my custom snippets).
Greetings

[2016-09-09 09:12] ramya-rao-a commented on #11732
@slobo80 This works for me and I tried with VS Code 1.5.1 in Windows 10 on a javascript file.

- Which file were you trying on?
- Did this work before in 1.4.0 for you and just stopped working with the 1.5.1 update?
- What extensions do you have installed? Does this repro when extensions are disabled? Try `code --disable-extensions`

[2016-09-09 09:13] aeschli commented on #11597
We still have /extensions/cpp/syntaxes/Platform.tmLanguage in there from the original https://github.com/textmate/c.tmbundle as it is included by other languages

[2016-09-09 09:14] joaomoreno commented on #11731
Oh, sorry, didn't read the issue until the end.

[2016-09-09 09:17] aeschli commented on #11590
The @each is a separate issue. I turn this issues in one for it. Hope that's ok for you.

[2016-09-09 09:17] pungggi opened #11755 "md file preview broken with more than one file"
- VSCode Version: Code 1.5.1 (07d663dc1bd848161edf4cd4ce30cce410d3d877, 2016-09-08T21:33:49.307Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:

1. Open file "one.md"
2. Switch to preview mode
3. open second tab with file "two.md"
4. Switch to preview mode, it will fall back to the tab with "one.md"

Exptected ist to keep the the second tab and swith "two.md" to preview..

[2016-09-09 09:18] #11731 closed

[2016-09-09 09:18] #11755 closed

[2016-09-09 09:18] joaomoreno commented on #11731
Workaround: use relative paths for now. Or use the next build of insiders.

[2016-09-09 09:19] ramya-rao-a commented on #11753
@joaomoreno Root cause might be the same as that for #11731 ?

[2016-09-09 09:20] ramya-rao-a commented on #11749
@akshaymagapu near the filename where?

[2016-09-09 09:20] #11753 closed

[2016-09-09 09:26] Sokolua commented on #11590
@aeschli OK, thanks. With new VSCode update to 1.5.1 I'm no longer experiencing this highlight bug. Each is still on th board...

[2016-09-09 09:26] ThorQin commented on #11744
I have the same error. Since I upgrade to 1.5.0, I can not connect to market place to download extensions.

[2016-09-09 09:34] whitecolor commented on #11749
He means in Explorer's file tree. Better if this would be optional of course, but this would be very useful, as well as reflecting other file statuses (git status/exclusion, etc)

[2016-09-09 09:37] bpasero commented on #11731
@joaomoreno thanks 👍

[2016-09-09 09:38] bpasero commented on #11752
@akshayat care to attach the PNG?

[2016-09-09 09:38] ferarias commented on #11618
I did not explain correctly: I meant if there is a way to capture the GIT output that VSCode was unable to capture, since it appears blank.

[2016-09-09 09:47] mderriey commented on #11702
Thanks for being so responsive! Keep up the good work!

[2016-09-09 09:56] akshaymagapu commented on #11749
@ramya-rao-a @whitecolor   Yeah in Explorer's file tree.

[2016-09-09 09:57] z442a9 commented on #11739
Yes I had that and I tried running the VS Code with admin privileges but it didn't help. I removed icons extension completely from standard user and now I don't get anymore "Run VS Code with admin privileges so the changes can be applied". If I have Powershell extension I will get those two error messages seen in the picture. It's kinda sad if you cannot run VS Code without administrative rights.

[2016-09-09 09:57] iavael commented on #229
It doesn't. You won't meet any package with such package script in native Fedora/CentOS/RHEL repos (moreover, it's FORBIDDEN) or in RpmFusion or any other 3rdparty repo running by sane maintainer who is familiar with how things should be done properly.

don't touch .rpmnew or .rpmsave files in package scripts. They are managed by rpm itself.

And, for example, I have repo config in /etc/yum.repos.

[2016-09-09 09:59] benbro commented on #509
What about Ctrl+D to duplicate line?
This is used in both notepad++ and geany editors:
https://wiki.geany.org/howtos/sorted_keyboard_shortcuts
http://docs.notepad-plus-plus.org/index.php/Keyboard_And_Mouse_Shortcuts
[code]

[2016-09-09 09:59] jrieken commented on #11754
@buehler Just to confirm my theory - `this.buildQuickPickList` returns a native promise, correct?

[2016-09-09 09:59] rbanffy commented on #5537
Tested on 1.5.1 on OSX and it still presents the same issue (not quite as bad as before - it reverts to a less ugly font).

[2016-09-09 10:06] RobertoMalatesta commented on #11715
Astonished by the level of care and support your (really, really) distinguished team gives to this product.

--R

[2016-09-09 10:09] jrieken commented on #11719
Ack - the is a regression. Closing this as a duplicate of #11742 because it contains already more info

[2016-09-09 10:09] #11719 closed

[2016-09-09 10:11] buehler commented on #11754
@jrieken exactly :-)

As a bonus question: why don't you guys use native promises? (Why the `Thenable<>`)

[2016-09-09 10:11] fiznool commented on #509
Ctrl-d is currently used for multiple cursor selection, I also use this all the time so I'd vote for that to stay as it is!

[2016-09-09 10:15] gjstockham commented on #11739
I get this with the git history extension whenever I try to use it.  I get the same message even when I'm running as admin.  I got the same message with icons, but after updating that now seems to work as expected.

[2016-09-09 10:32] agauniyal opened #11756 "Incorrect handling of git commit message template"
- VSCode Version:1.5.1
- OS Version: Linux

Steps to Reproduce:

1. Put a template with file name `.git_commit_msg.txt` in home directory
2. config git to use it globally
3. open vscode, make some change in git project, choose to use vscode git commit functionality
4. Instead of just putting the non-commented part, it fills the entire template in commit message.

[code]

[2016-09-09 10:33] JustinPealing commented on #7874
I've been having this issue but fixed it by using npm 2

[code]

[2016-09-09 10:54] akshayat commented on #11752
Apparently having issue with that files only. I could not reveal the files. However files are successfully opening in other applications like windows photo viewer etc.

Files were created by photoshop.

[2016-09-09 11:10] shubhendur opened #11757 "Settings are not universal, they are specific to Workspace"
- VSCode Version:1.5.1
- OS Version:Windows7

Steps to Reproduce:

1. File>Preferences
2. There are two options:
i. The UserSettings are not editable.
ii.The Workspace settings are editable.

The workspace settings are applied for a particular workspace.

THERE SHOULD BE AN OPTION TO SAVE THE SETTINGS GLOBALLY.

[2016-09-09 11:13] JustinPealing commented on #241
Looks like `setJumpList` was only introduced in v1.3.5:

[electron v1.3.5](https://github.com/electron/electron/releases/tag/v1.3.5)

[2016-09-09 11:34] snpai opened #11760 "Debugging both cilent side JavaScript and NodeJS at the same time"
We could enable this with two separate launch configurations. But is there any way to enable both at the same time?

[2016-09-09 11:48] dylan-kerr opened #11762 "[themes] confusing alignment of file in folders in folder-less themes"
The Seti icon theme released with VS Code 1.5 does not provide icons for folders (open or closed).

This causes a confusing misalignment between the names of folders and files at the same level of the hierarchy, making the files appear to be children of the last folder.

Would it be possible to enable folder icons with the Seti theme?
- VSCode Version: 1.5.1
- OS Version: Windows 10

[2016-09-09 11:49] itswadesh opened #11763 "Tab stops at user snippets not working"
- VSCode Version: 1.5.1
- OS Version: Windows 10.0.10586

Steps to Reproduce:

User Snippets -> Javascript

  "Print to console": {
		"prefix": "x",
		"body": [
			"console.log('xxxxxxxxxxxxxxxxxxxxxxxxxx',$1);"
		],
		"description": "Log output to console"
	}
Pressing tab after x shifts cursor to the end of the line where as the desired place is $1

[2016-09-09 11:51] mrmlnc commented on #11763
Duplicate of #11719 and #11742.

[2016-09-09 11:54] jrieken commented on #11754
Yeah - that can only be answered with the history of the project. When we started some time ago there was no native promise yet. We then went with WinJS-promises. Since WinJS.Promise and native promise have incompatibilities (like `done`, `cancel`, `progress`-callback etc) the migration isn't easy (which is the same for everyone using another promise implementation).

[2016-09-09 12:06] dbaeumer opened #11765 "Merge in translations"
We decided that 1.5 will be a fully translated version. So we need to merge in translations into the 1.5 branch.

[2016-09-09 12:06] jrieken commented on #11763
yeah - dupe of #11742. working on a fix and trying to get it out asap

[2016-09-09 12:06] #11763 closed

[2016-09-09 12:15] mcepl commented on #229
Well, I tried to be constructive, and we are not talking about pushing this package to any official repo anyway. I thought we are talking only about package on https://code.visualstudio.com/ . And yes, I said, that I would be more happy with just distributin ``.repo`` file on the site and having a proper repository somewhere. See https://get.adobe.com/flashplayer/download/?installer=FP_11.2_for_ot

[2016-09-09 12:15] DavidRigglemanININ opened #11766 "Go to definition broken in latest version of VS Code (1.5) + older TypeScript"
- VSCode Version: 1.5
- OS Version: OS X Yosemite

Steps to Reproduce:
1. Open up project
2. Click the cursor over a method
3. Click F12 to try to go to definition and nothing happens
4. Switch to using VS Code 1.4 and repeat steps 1-3 and everything works as expected

This feels like a really bad bug as it makes the latest version of VS Code pretty much unusable for me unless there is some workar

[2016-09-09 12:20] AshleyScirra opened #11767 "Add folder icons to seti theme"
- VSCode Version: 1.5.1
- OS Version: Windows 10

Steps to Reproduce:

1. Use the new seti file icon theme
2. Keep making mistakes due to the fact files have icons, but not folders, which makes files appear indented. This makes files which are siblings to folders look like they're actually contained within the folders, because they are indented by their icon but the folders are not. So using this

[2016-09-09 12:22] AshleyScirra commented on #11767
Oops, looks like a dupe of #11762.

[2016-09-09 12:23] killerall opened #11768 "Debug stopped work in 1.5.1"
- VSCode Version: 1.5.1
- OS Version: windows
  Hello

After last update 1.5.0 (1.5.1 also) my extension (https://github.com/killerall/advpl-vscode)
stopped working debug launch.

I made the extension based on the Mono-Debug (https://github.com/Microsoft/vscode-mono-debug)

Apparently my executable is not being called. And not a message is displayed in
vscode.

Had some structural change in the de

[2016-09-09 12:26] anvish commented on #11698
Thank you for response.
I've found what causing formatting to stop working - it's apostrophe in jxs.
This piece of code breaks formatting:
`    return  <div>'</div>`
And this does not:
`    return  <div>1</div>`
After trying to format the former, formatting stops working for all jsx, js and tsx files untill VS Code restart.

[2016-09-09 12:28] bpasero commented on #11752
@akshayat so you say an equal sized different PNG does not cause this?

[2016-09-09 12:29] aeschli commented on #11633
@ivancuric If you still have the snippet at hand, it would be great if you could paste it here.

[2016-09-09 12:37] eDameXxX commented on #206
+1

[2016-09-09 12:37] Instagit opened #11769 "Don't remove extra spaces at the end of a line for Markdown"
- VSCode Version: 1.5.1
- OS Version: Ubuntu 16.04

Steps to Reproduce:
1. Create a markdown file with spaces at the end of a line
2. Save the file with "files.trimTrailingWhitespace" enabled

The spaces will be removed, but for Markdown documents that shouldn't happen.

From the [official documentation](https://daringfireball.net/projects/markdown/syntax#p):

[2016-09-09 12:42] aeschli commented on #1765
We should fix that in https://github.com/Microsoft/vscode-textmate

[2016-09-09 12:42] aeschli commented on #1765
This issue was moved to Microsoft/vscode-textmate#22

[2016-09-09 12:42] #1765 closed

[2016-09-09 12:55] aeschli commented on #11724
This looks like invalid HTML. Any chance you can add comments around it?
Otherwise select only the lines you want format and invoke format.

To solve that correctly you probably would need a specific language support for OctoberCMS file that never touch the lines before '====='

[2016-09-09 12:55] #11724 closed

[2016-09-09 12:56] vip3rousmango commented on #11715
Ty for the quick fix! From one dev to another, it's really appreciated and why I continue to love using VS Code.

[2016-09-09 12:58] mrmlnc commented on #11724
@BenjaVR, I also sometimes use October CMS, so I can make the extension for support this syntax.

[2016-09-09 13:00] stefanaerts commented on #2000
@dbaeumer @egamma @juliusl @aeschli
Well the color works with the extension, but the autocomplete of
-> custom html tags, in a angular2 component we call it a selector:.
template: `

              <color-pi...

will not complete.

[2016-09-09 13:01] dbaeumer commented on #11704
There are a couple of settings to tweak this:

- one to disable textual completions. However then they are gone in no comments as well
- to not make enter a completion accept character. Then tab has to be used to accept a completion and enter will be enter again.

Not having textual completions in comments has drawbacks as well since a JSDoc comment for example will refer to variables and type nam

[2016-09-09 13:02] #7176 closed

[2016-09-09 13:04] dbaeumer commented on #11691
This is not tasks specific. IMO this is the result of having one main process which starts a renderer process per workspace.

@bpasero moving to you to clarify this. If you think this is a tasks problem, please move back.

[2016-09-09 13:08] dbaeumer commented on #4680
@kumarharsh that is correct. The fix is in TS 2.0 which is not official yet. However you can switch to 2.0 RC version using the tsdk setting.

[2016-09-09 13:08] waderyan commented on #2550
@jrieken just to make sure I understand, when you say "typescript brain" you mean the TypeScript language service, correct?

[2016-09-09 13:09] waderyan commented on #11733
This issue was moved to Microsoft/TypeScript#10804

[2016-09-09 13:09] #11733 closed

[2016-09-09 13:10] HamzaAbdullahMoh opened #11770 "Support for rtl languages"
- VSCode Version: 1.5.0
- OS Version: windows 10

I can honestly dare to say that this is the best open source editor for web developers but, the missing of the small things like the Arabic language support is really frustrating!!

[2016-09-09 13:11] waderyan commented on #11745
@dbaeumer can you comment on this? We may want to make it so the error message can be suppressed and only shown one time.

[2016-09-09 13:14] jrieken opened #11771 "Promise.as/is wrongly typed"
Our type definitions for `Promise.is` and `Promise.as` are wrong because the implementation only checks for arguments being a `thenable` meaning they don't necessarily return winjs-promises.

[code]

should be

[code]

![screen shot 2016-09-09 at 14 29 49](https://cloud.githubusercontent.com/assets/1794099/18388027/219d3abc-76a0-11e6-9ea2-66dbd8997ba0.png)

The method that does what you would expe

[2016-09-09 13:14] jrieken commented on #11771
cause for https://github.com/Microsoft/vscode/issues/11754

[2016-09-09 13:14] ChaoticLoki commented on #11745
I thought you could suppress the message. When it popped up for me it had a do not show this message again button.

[2016-09-09 13:15] bpasero commented on #11691
No I think this is about us not doing the right thing when copying environment values over, though I thought @joaomoreno and @sandy081 cleaned this up recently.

[2016-09-09 13:16] waderyan commented on #11745
@johnnyreilly is that not working for you? The message will shown one time if you click Do not show this message again

[2016-09-09 13:18] dbaeumer commented on #11745
@johnnyreilly in the past TS was a separate installable for VS. So you could uninstall it from the Control Panel.

[2016-09-09 13:22] dbaeumer opened #11772 "TSC / TS language server version mismatch can only be 'ignored' globally"
- VSCode Version: 1.5.0

The check if the globally installed tsc version matches the TS version has a "Don't check again' message box. If pressed we never check again, even if the user opens another workspace. The reason why I did this is that the tsc is global. Now that I think about it again I am wondering if we should check once per workspace.

@waderyan @egamma opinions?

[2016-09-09 13:24] jamietre commented on #396
I really love VS Code. It's become my primary editor, but the shortcoming of working in more than 2 projects at a time is becoming confounding. There's a double whammy on these two open issues: this one, and [configuring title bar information](https://github.com/Microsoft/vscode/issues/1723).

Either one of these features would solve the problem (though ideally, I'd like both!). I don't mind putti

[2016-09-09 13:26] ihamer commented on #11727
@ramya-rao-a There is no extension involved. This is vanilla behaviour. Using version 1.4 on Ubuntu 16.04.
@bpasero Related to #3736, but not the same.

This is likely to be very easy to fix (jumpToDefinition event should push the current cursor position to the history).

[2016-09-09 13:30] joaomoreno commented on #2330
Just went through suggest widget.

![screen shot 2016-09-09 at 15 26 38](https://cloud.githubusercontent.com/assets/22350/18388459/073c0dea-76a2-11e6-8e3c-92bb3b952fde.png)

Both hover and suggest are styled the same. The contents themselves are a bit different. We need to come up with an API solution for completion item providers (and others) to return Markdown for some fields. Once we have that,

[2016-09-09 13:34] waderyan commented on #11772
Let me make sure I understand.

Status quo - We show a message indicating that there is a version mismatch between TSC / TS language server, but only for the globally installed version of tsc. We give the user the option to "Don't check again". If the user clicks "Don't check again" we will never show the message again for any workspace.

The risk with the status quo is that users may have install

[2016-09-09 13:36] akzaidi commented on #6992
I'd love this feature as well, would make VS Code my default Markdown editor.
The [Markdown Editor](https://github.com/madskristensen/MarkdownEditor) for Visual Studio 2015 has this feature already. But using the full-fleshed VS IDE for markdown seems like overkill... It also has the ability to follow links, as asked for in the [issue](https://github.com/Microsoft/vscode/issues/3771)

[2016-09-09 13:47] bedorlan opened #11773 "circular symlink breaks typescript intellisense"
Steps to Reproduce:

0. Before creating symlink, intellisense works:
![good](https://cloud.githubusercontent.com/assets/4246233/18388711/5364d6b4-7668-11e6-9b13-abc82cbc1849.png)

1. Inside some project folder, create symbolic link to parent folder
`$ ln -s ../../ baselibs`

2. Restart vscode
3. Now intellisense fails:
![bad](https://cloud.githubusercontent.com/assets/4246233/18388847/d33a7542-766

[2016-09-09 13:51] killerall commented on #11768
I isolated the problem.

In my Configurations I have a variable that is filled with the result of a command:

[code]
My command uses a showInputBox to ask the User the program he wants to debug:

[code]

If you did not call the command, and leave the fixed value, the debug starts normally.

[code]

[2016-09-09 13:53] darron-haworth commented on #9790
I am experiencing the same thing.  We do NOT have a proxy server and our corporate firewall decrypts ssl traffic for inspection and then re-encrypts it using it's own intermediate cert.  The cert is in my keychain (on mac) as a trusted certificate but VS Code does not recognize this trusted intermediate cert.

We have regretfully been working around this issue with "http.proxyStrictSSL": false in

[2016-09-09 13:57] bpasero commented on #11757
@shubhendur why are the user settings not editable for you?

[2016-09-09 13:58] polizz opened #11774 "SSL errors after 1.5.1 update"
**- VSCode Version:**
1.5.1
**- OS Version:**
El Capitan

**Steps to Reproduce:**
1. Open Vscode and message is displayed "unable to get local issuer certificate".
2. Click close and open extensions panel and message is displayed "Marketplace returned 'ECONNREFUSED'. Please check the 'http.proxy' setting."

I had already set my strict settings in the prior versions to get around corporate firewall

[2016-09-09 13:59] bpasero commented on #11727
I agree we should record the current cursor position on certain actions like "Go to definition".

[2016-09-09 14:00] johnnyreilly commented on #11745
Sorry - it can be suppressed.  I was just more surprised that it was there.  I have TypeScript Tools for VS 2015 1.7 installed; they may the cause?  Is it the case that TypeScript tools for VS will always put tsc on your path?

[2016-09-09 14:01] daviwil opened #11775 "Terminal API: Terminal object should include PID of the launched terminal"
The new terminal API is looking great!  It'd be really helpful to me if I could get the process ID of the launched terminal as a property on the Terminal object.  I need this information in the PowerShell extension to help coordinate with my debug adapter.

Also: could there possibly be a promise return type from createTerminal so that the Terminal only gets returned after the process is started,

[2016-09-09 14:01] joaomoreno commented on #11691
You are right @bpasero, this has been fixed. It does not reproduce in 1.5.0.

[2016-09-09 14:01] #11691 closed

[2016-09-09 14:02] kaleb commented on #11691
My main issue was that when running a task which was running a Makefile, it was failing because it was give the wrong PWD. Tasks has an option cwd, but I did not try that.

[2016-09-09 14:04] MarkSky opened #11776 "File Icon Theme: Better icon for HTML file"
- VSCode Version:1.5.1
- OS Version: Windows 10

Steps to Reproduce:

1. HTML檔的icon在vscode-icons擴充套件提供的圖示比1.5版內建的圖示容易知道這是HTML檔。希望能改善圖示。

[2016-09-09 14:05] felyx commented on #9387
Please, if someone could help with this issue that would be greatly appreciated, this is literally the only thing preventing me from using vscode :s

[2016-09-09 14:06] joaomoreno commented on #9790
⚠️   For those who had this working before 1.5.0, here's the issue: #11702

[2016-09-09 14:07] daviwil commented on #10917
Looks like there's been a commit to enable this but I only see the terminal's path being added as a parameter.  Could you also add a parameter for arguments to send to the terminal app?  I know it may not work in Windows but it'd be helpful to not have to use hacks for all 3 platforms :)

[2016-09-09 14:10] darron-haworth commented on #11702
Thank you for the update! 👍

[2016-09-09 14:15] waderyan commented on #11745
hey @johnnyreilly no problem at all. I don't know the answer to your question. I'm going to close this issue as the issue is resolvable.

We opened a related one #11772

[2016-09-09 14:15] Arithmeticae commented on #11774
I also have this same issue using windows 7. The circumstances are almost identical.

It worked previously in 1.4 using `"http.proxyStrictSSL": false` however I now get the same error messages you do.

[2016-09-09 14:20] fhelwanger commented on #11762
Here's a screenshot for reference:

![image](https://cloud.githubusercontent.com/assets/11396047/18390055/123b782a-767f-11e6-8866-b9f97b86ca14.png)

It's very confusing to me. I keep trying to collapse the `img` folder, but it's already collapsed :confused:

[2016-09-09 14:21] MarkPieszak commented on #2000
True, it doesn't autocomplete html but at least it'll help you with variables you have within that file.

Let's say you had `public someString : string;` in your class, when you do `{{ som...`(it'll show someString). Better than nothing I suppose ;)

[2016-09-09 14:29] jrieken commented on #11742
My above workaround isn't valid - this only works when you are at column: 1 or with multiline snippets. I have pushed a fix now

[2016-09-09 14:34] jrieken commented on #11754
to **verify**

have an extension that runs the below code (for instance as part of a command) and sure no errors are thrown

[code]

[2016-09-09 14:35] joebehymer commented on #11766
I'm a team member of Davids.  We're still using TS 1.6.  If we select to use 1.6 at the popup during start, we get no code completion/navigation.  If we select to use 1.8 everything works.

[2016-09-09 14:35] jrieken commented on #11742
To **verify**

* have a snippet like [above](https://github.com/Microsoft/vscode/issues/11742#issuecomment-245851307)
* type `foo foo sc` and complete the snippet
* make sure the cursor is between the \*\*-characters

[2016-09-09 14:37] #11754 closed

[2016-09-09 14:38] mrmlnc commented on #11742
@jrieken, hmm, broken case:

[code]

![2016-09-09_17-37-44](https://cloud.githubusercontent.com/assets/7034281/18390750/281eafec-76b4-11e6-8686-2ba08c9fddf8.gif)

[2016-09-09 14:47] eyalsk commented on #11770
Yeah, I'm in the same boat when it comes to Hebrew., even though I don't use Hebrew much in my daily day job, especially when it comes to development but this can come in handy at times so :+1:  from me.

[2016-09-09 15:11] sbowler commented on #11703
To clarify, I meant BSOD so yes. No, it did not update while open, it was open, closed to update, then re-opened automatically like you would expect when you auto-update from within vscode.

There was no indication that a crash report was sent anywhere, but if you're saying you get reports for any blue screens than that makes sense to close this issue and open another issues if needed from a repor

[2016-09-09 15:11] #11767 closed

[2016-09-09 15:14] mrichman opened #11777 "self signed certificate in certificate chain"
- VSCode Version: Code 1.5.1 (07d663dc1bd848161edf4cd4ce30cce410d3d877, 2016-09-08T21:33:49.307Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1. Start VS Code

Setting `"http.proxyStrictSSL": false` has no effect.

![image](https://cloud.githubusercontent.com/assets/11228/18392110/82f1facc-767e-11e6-930c-8040e84032d9.png)

[2016-09-09 15:15] adanis commented on #11659
Something like that. As it turned out, the problem was the graphics card driver. With the intel graphics card everything works fine. The problem is only on nvidia. Laptop. Windows10. Apparently the problem is the drivers. Translated with translate.yandex.ru

[2016-09-09 15:22] jrieken commented on #11771
fyi Microsoft/vscode

[2016-09-09 15:22] akatechis opened #11778 "Can't debug node.js with `integratedTerminal` setting using MINGW64"
- VSCode Version: 1.5.1
- OS Version: Windows 10 Home Edition

Steps to Reproduce:
1. I have MINGW64 installed (the one bundled with the Git installer).
2. I opened my node.js project in VSCode 1.5.1
3. Set up a `launch.json` file as follows:

[code]
1. When I launch, I see a MINGW64 window open up, the directory is set correctly, but it's not doing anything, just waiting for me to type a command.

[2016-09-09 15:24] jrieken commented on #11742
@mrmlnc This is with version *what*?

[2016-09-09 15:24] joaomoreno opened #11779 "Add error reason to Marketplace telemetry events"
Do this for both CDN request and fallback requests.

[2016-09-09 15:26] riteshatsencha commented on #11503
Running into same issue. Version 1.5 on OS X 10.10.3. Default value is not returned if user does not type in the input box. Thank you.

[2016-09-09 15:26] jrieken commented on #11704
As said, there two configuration knobs and this issue: #10819. Closing as dup

[2016-09-09 15:26] #11704 closed

[2016-09-09 15:27] AlgorithmsAreCool opened #11780 ".CS file type description changed to "URL:vscode" after upgrade to 1.5.1 (or 1.5.0)"
It looks like the windows file type description is getting clobbered by the new version of VSCode. I had VSCode as the default program for .cs files but now the description has been changed to "URL:vscode"
This might have happened after the upgrade to 1.5.0 yesterday but i just now noticed.

- VSCode Version: 1.5.1
- OS Version: Windows 8.1 x64

Steps to Reproduce:
1. Update to VSCode 1.5.1 from 1

[2016-09-09 15:27] jromier commented on #10959
Well I typed the command 'code --disable-extensions' in the VS Code terminal, but nothing changed.
Do you think I should uninstall all my extensions for a test?

[2016-09-09 15:27] jrieken commented on #2330
I see many horizontal lines

[2016-09-09 15:27] jrieken commented on #2550
yes

[2016-09-09 15:27] mrmlnc commented on #11742
@jrieken, with latest commit (9606db116ce9a23cad7c577e4d3f1c679ca6ecf4) in a `release-1.5` branch.

[2016-09-09 15:28] jrieken commented on #11742
I'll take a look

[2016-09-09 15:29] joaomoreno commented on #11771
wow

[2016-09-09 15:30] acdha commented on #8914
I think this depends on the configured keyboard input system. Using the U.S. layout, Shift-Option-f is the shortcut for the Ï (LATIN CAPITAL LETTER I WITH DIAERESIS). Using the ABC Extended layout, that shortcut starts the process of entering a COMBINING TILDE BELOW with whatever key you hit next.

If I enable the default U.S. layout, the default formatting shortcut works instead of inserting an Ï

[2016-09-09 15:31] joaomoreno commented on #2330
![i see dead people](https://s-media-cache-ak0.pinimg.com/564x/a3/89/93/a38993f471c1546aea3dc982533fc165.jpg)

[2016-09-09 15:32] waderyan commented on #2550
This issue was moved to Microsoft/TypeScript#10808

[2016-09-09 15:32] #2550 closed

[2016-09-09 15:33] JWess commented on #9679
This is an important ticket. Sometimes I will open a new file to take a few notes, but then I will forget to save the new file. Several times when I go to close my VS Code window, it prompts for me to save my new file, but when I affirm that I want to save it, the save explorer window pops up and completely freezes. VS Code is then frozen and must be force-quit.

[2016-09-09 15:34] sandy081 commented on #11475
Expected behavior:

Replace on a single match shows
- the file if the file is active
- the file if there no more matches to replace
- the replace preview otherwise

[2016-09-09 15:38] arntj opened #11781 "Syntax highlighting doesn't work with "text/babel" script tags"
- VSCode Version: 1.6.0-insider
- OS Version: Windows 10 version 1511 (OS Build 10586.545)

Steps to Reproduce:
1. Create a `<script type="text/babel">` tag in a .html file.
2. Observe that syntax highlighting doesn't work inside the tag as long as script type is set to `text/babel`. If it is changed to `text/javascript` then syntax highlighting works.

It is absolutely required to be able to use

[2016-09-09 15:39] neuronflicker opened #11782 "Cursor not between quotes after autocomplete"
- VSCode Version: 1.5.1
- OS Version: Windows 7 and 10

Steps to Reproduce:

1. Open an html file
2. Type "<html lan" and then use autocomplete (Tab or Enter) to finish the lang="" bit
3. The cursor is now after the quotes instead of between them as in previous versions

I haven't checked this with other languages, or on other platforms.
I have no extensions related to html installed.

[2016-09-09 15:41] mrmlnc commented on #11782
See #11763 and #11742.

[2016-09-09 15:53] rgmembreno commented on #11717
Thanks @joaomoreno, I got the same error when re-installing VSCode, so I'll open a new issue right now.

[2016-09-09 15:58] rgmembreno opened #11783 "Cannot install/update VSCode to 9/8/2016 version"
- VSCode Version: Latest
- OS Version: Windows 7 SP1

Steps to Reproduce:

1. Run VSCode Installer
2. The following window pops up saying the installation failed, and fails even after 3 retries.

I got a similar error when updating to the latest version of VSCode and opened issue 11717 because VSCode would not start after the auto-update failed.  I grabbed the latest stable release installer yeste

[2016-09-09 16:08] Tyriar commented on #10917
That's coming as well, good eye though :smiley:

[2016-09-09 16:09] svswaminathan commented on #11777
I just upgraded my VS Code to v1.5.1 and stuck with the same error. Getting this error upon opening any .net core projects in VS Code on Mac.

[2016-09-09 16:10] davidostati commented on #11777
Same here with the latest version. It seems that it only affects Windows...

[2016-09-09 16:10] svswaminathan commented on #11774
After upgrading VS Code to 1.5.1 on Mac (El Capitan), searching for any extensions in Extension Manager window, throws up the same error.

[2016-09-09 16:11] AkashGutha opened #11784 "indicator for VS code update download ?"
it would be nice to have a separate windows to track the the download task.
and cancel the task if needed. or force the update if it isn't updating for some reason

[2016-09-09 16:14] Tyriar commented on #6602
@emartinpi are you using oh-my-zsh? The scroll bar should be visible and working whenever application keypad mode is disabled.

[2016-09-09 16:16] Tyriar commented on #11748
Duplicate #10893

[2016-09-09 16:16] #11748 closed

[2016-09-09 16:17] Tyriar commented on #509
Yeah <kbd>ctrl</kbd>+<kbd>d</kbd> is quite a well known keybinding so that definitely isn't going to change.

[2016-09-09 16:18] Tyriar commented on #7874
@JustinPealing you may run into other issues with npm 2. They may only be during the packaging steps though so development might be fine.

[2016-09-09 16:23] spicydonuts commented on #3520
I was having the same issue but happened to install macOS Sierra (10.12) last night and after doing so the update worked fine (still in `/Applications`).

[2016-09-09 16:26] saifali96 opened #11785 "Add Powershell as integrated terminal in VSC for Windows? [Feature Request]"
Guys I love the work you people are doing! Just make it more lovable by adding/allowing Powershell in integrated terminals.

[2016-09-09 16:37] riteshatsencha commented on #10582
Concurring to what @sleistner said. I have an open question on Stack overflow: http://stackoverflow.com/questions/38599756/unselecting-input-value-in-a-showinputbox-for-visual-studio-code

[2016-09-09 16:42] dhruv31 opened #11786 "code auto completion"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. code auto completion must be there
2. a run button for java code should be there

[2016-09-09 16:45] winuxue opened #11787 "Seti File Icon Theme: Show custom icon for files with no file extension in the file name"
The icons for this filename (without extensions) are not working
- TODO
- LICENCE
- Procfile

[2016-09-09 16:50] daviwil commented on #10917
Perfect!  Any chance the arguments will also work on Windows?  I remember you telling me that there was a bug in the library you're using for terminal support

[2016-09-09 16:58] Tyriar commented on #10917
@daviwil #8429 I marked it as upstream/help wanted, the problem likely lies in https://github.com/chjj/pty.js/issues/137, either a coding error or the version of winpty it uses it too old.

[2016-09-09 17:02] buehler opened #11788 "Custom code completion does not show anymore"
- VSCode Version: 1.5.1
- OS Version: OSX 10.11.6

Steps to Reproduce:

1. Code your own CompletionItemProvider :-)
2. Try to use it...

It does resolve / return a list of CompletionItems but there are no suggestions displayed to the user.

The following code does not work:
[code]

If I set a breakpoint to the return statement, it is hit, but the suggestions are never shown.

Am I doing something

[2016-09-09 17:04] Tyriar commented on #11655
The current URL is around 250-300 characters, how many extensions do we expect people to have? I would have expected 20-30 characters each for name+version, I have less than 10 and we can always truncate the list if necessary?

[2016-09-09 17:05] Tyriar commented on #7727
I mean if you're working out of `C:\Users\<special chars>\dev` you can move your `dev` dir to `C:\dev` to get around this.

[2016-09-09 17:08] ramya-rao-a commented on #11704
urgh! got.. to.. get.. better.. at.. finding.. duplicates !!

[2016-09-09 17:11] PeterJausovec commented on #11665
No luck.

I tried ```open Visual\ Studio\ Code.app -n``` and ```open Visual\ Studio\ Code.app --args --disable-extensions``` as well as deleting the ```~/.vscode/extensions``` folder and I still get the same error.

How can I gather some logs?

[2016-09-09 17:15] #11714 closed

[2016-09-09 17:17] Tyriar commented on #11714
Thanks all for the reports, fixed this in master and I'll mark this to be included in the upcoming translation build.

[2016-09-09 17:18] ramya-rao-a commented on #11698
@anvish That is interesting. I was able to repro now. With the `'` formatting breaks for current file and all other files.
The fact that formatting fails for all other files is suspicious.

The output window shows the below error for every subsequent formatting in other or same file even after fixing the `'`

![image](https://cloud.githubusercontent.com/assets/16890566/18396066/8359853c-7676-11e6-

[2016-09-09 17:18] pritimay commented on #11714
Thanks @Tyriar really needed it

[2016-09-09 17:19] Tyriar commented on #11714
Also I love your setup @ivarref, I might have to steal it once the fix lands :smile:

[2016-09-09 17:20] iavael commented on #229
@mcepl Sorry, if my words looked rough, I'm not very good in english. And some of you ideas (e.g. moving code.repo.rpmnew to code.repo unconditionally) were strange and could make user experience even worser than just writing repo file in package script directly.

[2016-09-09 17:20] waderyan commented on #11698
This issue was moved to Microsoft/TypeScript#10817

[2016-09-09 17:20] #11698 closed

[2016-09-09 17:20] bpasero commented on #10959
@jromier so you say the issue is still there when you run with extensions disabled? what extensions do you have installed?

[2016-09-09 17:20] waderyan commented on #11698
Yep. Just moved over.

[2016-09-09 17:21] bpasero commented on #11665
@PeterJausovec try to find the crash log from the "Console" application in Mac OS, you should be able to find the full core dump there.

[2016-09-09 17:21] daviwil commented on #10917
Yep,  I was going to use the batch file approach as discussed in #8429 if the arguments still didn't work.  Any chance we could temporarily fork one (or both) of your dependencies to fix the problem in the short term until the project maintainers get to it?

[2016-09-09 17:34] Tyriar commented on #10917
It's already forked to https://github.com/Tyriar/pty.js in order to fix some cross-platform build issues. The project is mostly unmaintained now though so I have doubts of being able to upstream any fixes.

[2016-09-09 17:46] bgashler1 opened #11789 "Quick opened files should be kept open, not previewed"
- VSCode Version: 1.4.0
- OS Version: macOS
### Desired behavior

When you use Quick Open (<kbd>Cmd</kbd> + <kbd>P</kbd>) to open a file, that file should stay open (i.e. it shouldn't be a preview tab).
### Current behavior

Current behavior opens it as a preview tab, which can be undesirable.  If you open a lot of files up front through quick open, you have to double click the tab or run command

[2016-09-09 17:47] djbu opened #11790 "It doesn't open anything of my project, there's just the menu and a black screen"
- VSCode Version: Code 1.5.0 (4fc690be310dd02e0ab6529c0b9bf348a8b26a19, 2016-09-08T09:09:27.395Z)
- OS Version: Windows_NT ia32 6.1.7601

Steps to Reproduce:

1.
2.

[2016-09-09 17:53] bpasero commented on #11355
https://github.com/Microsoft/vscode/issues/8939

[2016-09-09 17:53] #11355 closed

[2016-09-09 17:53] daviwil commented on #10917
One of these days I might get a few moments to help get it fixed then.  Depends on how painful it is for me to launch PowerShell using a batch file that has to be updated for each execution :)

[2016-09-09 17:53] bpasero commented on #11789
The setting `workbench.editor.enablePreviewFromQuickOpen` controls this. Otherwise this looks like a duplicate of https://github.com/Microsoft/vscode/issues/8939

[2016-09-09 18:08] crgdev commented on #11665
@bpasero I am also experiencing the window crash on startup on OSX 10.11.6 after updating to 1.5.1. Everything was working correctly on 1.4.0.

Launching with --disable-extensions also exhibits the error.

Steps (as near as I can remember them):
1. Received the notification to update VSCode yesterday in editor; selected "Later" option
2. Left VSCode running overnight
3. Logged in this morning and

[2016-09-09 18:08] bookman25 opened #11791 "tsx attribute formatting removes bracket spacing"
- VSCode Version: 1.5.1
- OS Version: Windows 10

Steps to Reproduce:

1. TypeScript Version: 2.*
2. `<input value={ this.state.value } />`
3. Format document

**Expected behavior:**
In **1.8.10** the spacing inside the brackets was unchanged on format operation (closing bracket `}` or format document).
`<input value={ this.state.value } />`

**Actual behavior:**
In **2.*** the space inside the br

[2016-09-09 18:12] ststeiger opened #11792 "Build still broken on ARM linux"
node --version
v6.5.0

npm --version
3.10.3

uname -a
Linux localhost 3.10.18 #1 SMP Tue Aug 2 21:26:16 PDT 2016 armv7l armv7l armv7l GNU/Linux

lsb_release -rcd
Description:	Ubuntu 14.04.5 LTS
Release:	14.04
Codename:	trusty

Built according to:
http://www.hanselman.com/blog/BuildingVisualStudioCodeOnARaspberryPi3.aspx

purged old nodejs, installed node 6, latest + npm
sudo apt-get install libx11

[2016-09-09 18:15] awaemmanuel commented on #6072
I have this same issue. It freezes between work and there is nothing you can do unfreeze it. Only a restart works and then after a few lines of writing, it freezes again.

[2016-09-09 18:17] factormystic commented on #11785
Put this in your user settings.json:
[code]

[2016-09-09 18:17] jacob2512 commented on #11774
Just updated to 1.5.1 and this issue popped up. Was fine in 1.4.

[2016-09-09 18:27] ramya-rao-a commented on #11790
@djbu Can you share a screenshot?

Are you seeing blank screen when you open a file in the editor or the side bar or both?

[2016-09-09 18:28] tracker1 commented on #11708
I realize that you may not be a fan of it, but that's the old behavior that I and a lot of other desire... the way it is now, you set the options above, and when you click on a file it changes the wrong pane, not the current one, which was the old behavior...   Also, files will be duplicated in each pane that has opened the file... it's a waste and harder to navigate/manage... I know tabs was a he

[2016-09-09 18:32] nightst4r opened #11793 "Feature Request: Perforce Support"
Would be awesome to get a perforce plugin in addition to git.

[2016-09-09 18:32] djbu commented on #11790
​

2016-09-09 13:58 GMT-04:30 Ramya Rao <notifications@github.com>:

--
Daniel Becerra
Freelancer
https://www.odesk.com/users/~012e796a1b446f7c59

[2016-09-09 18:34] seanmcbreen commented on #11777
We are tracking an SSL issue #11702

The best work around for now is to try insiders http://code.visualstudio.com/insiders

[2016-09-09 18:34] seanmcbreen commented on #11702
While we wait for a broad update you can use Insiders to work around this...
http://code.visualstudio.com/insiders

[2016-09-09 18:42] bgashler1 opened #11794 "Explorer scrolls to top after deleting a file"
- VSCode Version: 1.4.0
- OS Version: macOS

**Steps to Reproduce:**

1. Scroll down the list of files in the Explorer and delete a file.
2. Note that the after doing so you lose your scroll position and are sent to the top.

**Desired behavior**
Scroll position should be maintained IMO.  I may want to delete multiple files in the same general area.  So I would need to scroll back to the same spot

[2016-09-09 18:44] ramya-rao-a commented on #11788
@buehler You say "completion does not show anymore". Is this a regression for you? i.e was this working in 1.4.0 and stopped after updating to 1.5/1.5.1 ?

[2016-09-09 18:45] djbu commented on #11790
i think this might help

2016-09-09 14:02 GMT-04:30 Daniel Jose Becerra Uzcategui <
danieljosebecerra@gmail.com>:

--
Daniel Becerra
Freelancer
https://www.odesk.com/users/~012e796a1b446f7c59

[2016-09-09 18:50] ramya-rao-a commented on #11790
@djbu I don't see anything....

[2016-09-09 18:53] anudeep3998 opened #11795 "Invalidating stale cache entries"
- VSCode Version: 1.5.1
- OS Version: Win 8

I moved some files from one folder to another, and when I  use Ctrl+P to open some files, the suggestions still show the file in the old folder and the new, though it is only present in the new. The old entry is present in the 'recently opened' section. When clicked on the old entry, it just fails and asks if it should create a new file there.

I tried

[2016-09-09 18:55] ramya-rao-a commented on #11766
@waderyan Do you know if we support back compat for typescript versions?

[2016-09-09 18:58] gmf002 commented on #11774
I also have this issue after upgrading to 1.5.1 on Ubuntu 16.04.  I have not tested on Windows yet.

"http.proxy" is set, and "http.proxyStrictSSL" is set to false.  I had been getting a certificate error at first, but now it returns "Marketplace returned 'ECONNREFUSED'. Please check the 'http.proxy' setting." with no certificate error.

[2016-09-09 18:59] pocesar commented on #11668
@aeschli I can give you the entire scss if you want. the freeze is pretty random, sometimes just opening the file in the editor will freeze it after 1-2 seconds

[2016-09-09 19:00] saifali96 commented on #11785
Well that breaks it,
`The token '&&' is not a valid statement separator in this version`
I guess it won't work in PS, as the command that VSC debugger gives is another call to cmd (command prompt) so it won't work until VSC guys do something.

[2016-09-09 19:00] waderyan opened #11796 "Publicly accessible previous versions of VS Code"
Request from #11766

[2016-09-09 19:01] waderyan commented on #11766
hey @DavidRigglemanININ thank you for opening this issue.

I broke off your other request into its own issue - https://github.com/Microsoft/vscode/issues/11796

This issue falls into TypeScript language service, so I will migrate to them.

[2016-09-09 19:02] waderyan commented on #11766
@ramya-rao-a yes you can use different TypeScript versions. See docs [here](https://code.visualstudio.com/docs/languages/typescript#_using-newer-typescript-versions).

[2016-09-09 19:02] waderyan commented on #11766
This issue was moved to Microsoft/TypeScript#10821

[2016-09-09 19:05] waderyan commented on #11796
We could build a page on code.visualstudio.com to allow this.

[2016-09-09 19:08] ramya-rao-a commented on #11705
@andrewconnell @mdouglass you can upvote #11762 for the indentation problem

[2016-09-09 19:11] mr-dignitty opened #11797 "VS Code won't update (Macbook Pro 2012 i5 )"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:41:29.513Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:

1. Open Visual Studio Code and then open Console.app

2. From Console.app System Log Queries:
` 9/9/16 3:09:27.749 PM com.apple.xpc.launchd[1]: (com.microsoft.VSCode.ShipIt[939]) Service could not initialize: 15G1004: xpcproxy + 12684 [1462][F77177

[2016-09-09 19:14] TheColorRed opened #11798 "Always visible file path"
- VSCode Version: 1.5.1
- OS Version: Windows 10

It would be nice if there was an option to toggle the visibility the file path at all times of the current tab.

So, when it is enabled, it would display like this (red is only to make it stand out in the example):

![with-name](https://cloud.githubusercontent.com/assets/1571806/18399540/1856f6cc-7697-11e6-8aa4-fb58367c057c.png)

[2016-09-09 19:15] djbu commented on #11790
http://prntscr.com/cg4unv
http://prntscr.com/cg4v3i
Let me know if you can see this.

2016-09-09 14:20 GMT-04:30 Ramya Rao <notifications@github.com>:

--
Daniel Becerra
Freelancer
https://www.odesk.com/users/~012e796a1b446f7c59

[2016-09-09 19:16] mrmlnc commented on #11798
Have you tried this extension: https://marketplace.visualstudio.com/items?itemName=RoscoP.ActiveFileInStatusBar

[2016-09-09 19:17] AldoMX opened #11799 "`angular` syntax profile from emmet doesn't work after 1.5.0 update"
- VSCode Version: 1.5.1
- OS Version: Microsoft Windows [Version 6.1.7601]

Steps to Reproduce:

1 - Set the `angular` syntax profile in your `settings.json`, example:
[code]
2 - Create a new HTML File

3 - Try to expand an emmet expression, example:
[code]

3b - Or an angular-specific emmet expression, example:
[code]

I noticed that both versions of VS Code: 1.4.0 and 1.5.1 have the same version

[2016-09-09 19:20] mrmlnc commented on #11790
@djbu, I think you are using **vscode-icons**?

If is true, then you have two ways:

  * Reinstall VS Code
  * Or use this instruction: https://github.com/Microsoft/vscode/issues/11578#issuecomment-244930761

[2016-09-09 19:20] TheColorRed commented on #11798
I have not... I will give it a try...

[2016-09-09 19:27] kamtungc opened #11800 "Request for searching all texts or references"
- VSCode Version: 1.5.1
- OS Version: Windows 10 / Ubuntu

Steps to Reproduce:

1. Open C/C++ or other language folder
2. Open a file
3. Right click on a variable/function/class name

No option is for finding all texts or references.

Currently, Visual Studio Code supports "Change All Occurrences". Finding references or texts support in Visual Studio edition or eclipse, but not in Visual Studio Co

[2016-09-09 19:39] djbu commented on #11790
no, i'm not using icons, i reintstall vs code and nothing happen, i just
install insider...

2016-09-09 14:50 GMT-04:30 Denis Malinochkin <notifications@github.com>:

--
Daniel Becerra
Freelancer
https://www.odesk.com/users/~012e796a1b446f7c59

[2016-09-09 19:40] factormystic commented on #11785
It's working for me on v1.5.1 right now. I pasted that line out of my own settings.json. Something else is going on to produce that error.

[2016-09-09 19:50] mrmlnc commented on #11799
Hello, @AldoMX,

What do you mean by `angular` profile?

[2016-09-09 19:56] wideckop opened #11801 "[Themes] - The themes affect the environment in total."
Would be great that it themes affect the environment in total and not just a part of the environment:

![image](https://cloud.githubusercontent.com/assets/12506535/18401065/acb441ee-76a6-11e6-821d-06e208c5705c.png)

1 - Theme does not affect.
2 - Theme affect.

*Nota: My English is very bad ;)

[2016-09-09 19:56] ramya-rao-a commented on #11774
@joaomoreno related to #11702 ?

[2016-09-09 19:58] ramya-rao-a commented on #11776
@MarkSky Can you please update the issue in English ?

[2016-09-09 20:00] jrieken commented on #11742
While fixing this I encountered a bigger underlying problem which is a more complex... Needs more thinking or we revert the change (simple snippets for multiple cursors) for 1.5 and revisit for Sept

[2016-09-09 20:02] ramya-rao-a commented on #11777
@joaomoreno Duplicate of #11702 ?

[2016-09-09 20:09] robfe11 commented on #10214
For anyone else that has the same issue, I found an extension that fixes this, but it would be nice if it was included by default:

https://marketplace.visualstudio.com/items?itemName=linyang95.php-symbols

[2016-09-09 20:10] Pepsi4 commented on #1749
Waiting for you, guys!
Good luck with it.

[2016-09-09 20:23] Tyriar commented on #11775
Exposing the PID and/or related info is to be explored in #11422. It would be useful if you could say on that issue exactly what you will do with the PID when you have it.

On `createTerminal` returning a promise, it was originally like this and @jrieken said that we normally hide the promise behind the scenes. So what happens now is that all calls on the `Terminal` returned by `createTerminal` ar

[2016-09-09 20:23] #11775 closed

[2016-09-09 20:25] mr-dignitty commented on #11797
I believe the issue is that I had 2 Visual Studio Applications installed side-by-side. Not sure how this happened? May have been post-update from 1.4.0 to 1.5.1 .. I was using 1.4.0 when Console.app Logged those Queries.

[2016-09-09 20:25] ramya-rao-a commented on #11801
Duplicate of #3112

[2016-09-09 20:27] deanberwick commented on #4803
three finger swipe would also be great for forward/back navigation. on macOS this is one of the sub options of the trackpad gesture settings and avoids conflict with regular horizontal scroll in lots of apps. That's probably an event that comes through different to regular scroll.

Either way: +1 from me, this would be great, the more native gesture support the better.

[2016-09-09 20:29] ramya-rao-a commented on #11800
From VS Code Docs

You need to install extensions to get support for C/C++.
You can find these extensions in the [marketplace](https://marketplace.visualstudio.com/)

[2016-09-09 20:29] #11800 closed

[2016-09-09 20:33] emartinpi commented on #6602
@Tyriar yes, i'm using oh-my-zsh. Application keypad mode was enabled so I disabled it from terminal menu, reset VCode but nothing changed in integrated terminal, the same behavior keeps going

[2016-09-09 20:36] Tyriar commented on #6602
@emartinpi I suspect this is the root cause of the issue https://github.com/sourcelair/xterm.js/issues/151

[2016-09-09 20:41] Tyriar commented on #11792
You need to use npm < 3.9 as per https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run-from-source, this is happening due https://github.com/npm/npm/issues/12698 trying to installing windows-mutex even though it's an optional dependency.

[2016-09-09 20:41] #11792 closed

[2016-09-09 20:42] Bill-Stewart commented on #4873
I also would like option of setting read-only for an open file to prevent changes.

[2016-09-09 20:45] Mlocik97 opened #11802 "Show errors from OpenerService"
- VSCode Version: 1.5.1
- OS Version: Win 8.1

Steps to Reproduce:

https://youtu.be/D4lLsrKR9q8

1. I can not be redirected to a link when i use "ctrl + left click" (i cant follow link)...
2. When i use tab to complete, cursor is at the end of the line, in old version it was in "value".

| = cursor

[2016-09-09 20:46] waderyan commented on #11773
@bedorlan thank you for reporting this issue. Is it possible for you to share your project so we can try and reproduce on our end?

@dbaeumer this is a tough one. He wasn't able to reproduce with a simpler structure. Any thoughts?

[2016-09-09 20:47] mrmlnc commented on #11802
See #11763 and #11742.

[2016-09-09 20:48] Tyriar commented on #11778
#8429 may be the cause of this

[2016-09-09 20:49] PeterJausovec commented on #11665
So, I was poking around Console and there was nothing in there related to VSCode. I relaunched the VSCode again (got the same error) and I started clicking on Code -> About VSCode/Check for Updates - nothing happen, about box didn't show up etc., however the below exception was logged:

[code]

I exited VSCode then restarted it and now it magically works again

[2016-09-09 20:54] ramya-rao-a commented on #11790
@djbu Can you try `code --disable-extensions` and `code -n` and see if you still have the issue?

[2016-09-09 20:54] daviwil commented on #11422
Specifically I'd like to request that the PID of the terminal be available on the Terminal object.

[2016-09-09 20:56] daviwil commented on #11775
Thanks Daniel!  The API approach you mention makes sense.  I left a comment on the other issue to explain what I'd use the PID for.

[2016-09-09 20:56] kamtungc commented on #11800
None of C/C++ extensions work for searching all texts. I just don't see Visual Studio Code supports a searching feature as we have in either Visual Studio or eclipse. I am disappointed the issue was closed.

[2016-09-09 20:56] ramya-rao-a commented on #11782
Duplicate of #11719

[2016-09-09 20:56] #11782 closed

[2016-09-09 20:58] ramya-rao-a commented on #11787
@winuxue When you say "without extensions" do you mean "without any vscode extensions" or "the files do not have extensions like .md, .txt" ?

[2016-09-09 20:59] killerall commented on #11768
The problem isn't in Debug.
When using showInputBoxby with default value, if the User doesn't type anything just Enter, it doesn't continue to run the Promise.
However if they type something, everything works fine.

It's look like to issue: https://github.com/Microsoft/vscode/issues/11754

[2016-09-09 21:01] Tyriar commented on #11422
@daviwil what sort of things are you going to use the PID for? Wondering if we can provide more high level APIs then just the PID to prevent some boilerplate in many extensions.

[2016-09-09 21:03] atwright147 commented on #5427
If it helps with debugging, pressing `[Esc]` after the first expansion, means that the next expansion will work.

[2016-09-09 21:10] gregvanl commented on #11796
For each previous release we include the download links at the top of the release notes.

[2016-09-09 21:11] ramya-rao-a commented on #11800
@kamtungc Below is the feature "Find all References" implemented by the Go Extension for the Go language. I assumed this is what you were referring to and so closed the issue. The APIs for these have been supported by VSCode for a long time. You are always welcome to re-open an issue if you feel your concerns have not been addressed.

![image](https://cloud.githubusercontent.com/assets/16890566/18

[2016-09-09 21:13] jcarter commented on #6602
@emartinpi this worked for me - https://github.com/Microsoft/vscode/issues/7817#issuecomment-229069151

[2016-09-09 21:13] ramya-rao-a commented on #11786
@dhruv31 In which language are you developing your code?

From VS Code Docs

If you are working in Java, then look for extensions for Java in the (marketplace)[marketplace.visualstudio.com/vscode]

[2016-09-09 21:17] #11786 closed

[2016-09-09 21:23] kamtungc commented on #11800
![search-vsc1](https://cloud.githubusercontent.com/assets/22105300/18403323/ed6613b0-7698-11e6-9711-3224791d8d6b.jpg)
![search-vsc](https://cloud.githubusercontent.com/assets/22105300/18403326/f1e8ed36-7698-11e6-8d7d-b697d46ac183.jpg)
![search-ec](https://cloud.githubusercontent.com/assets/22105300/18403327/f641d672-7698-11e6-9268-7e40b1077098.jpg)

[2016-09-09 21:26] #9448 closed

[2016-09-09 21:27] winuxue commented on #11787
I mean files with name but no extension.
I'm getting the same than you, the same icon than .txt file.
But it is supposed to show the custom icon for this kind of files, no the txt one.

[2016-09-09 21:28] ramya-rao-a commented on #11800
Will Ctrl+Shift+F give you the same result as "Search/Find Text" ?

[2016-09-09 21:29] kamtungc commented on #11800
![search-vs](https://cloud.githubusercontent.com/assets/22105300/18403419/80defeb8-7699-11e6-8f53-b1ecf77970f8.jpg)
Visual Studio Community 2015 has "Find References", but it supports to find the same file (xxx.h or xxx.c) only. eclipse shows correct entries in the "whole" workspace.

[2016-09-09 21:32] ramya-rao-a commented on #11800
To search a word/set of words in the "whole" workspace you can use `Ctrl+Shif+F` or click on the search icon in the side bar and use the Find widget. This is a VSCode feature agnostic of extensions/languages/filetype.

For issues with "Find All References", you will have to log an issue with the extension owner in the repo for the C/C++ extension.

Does this help?

[2016-09-09 21:33] ramya-rao-a commented on #11787
Can you share a screenshot of the custom icon that you expect?

[2016-09-09 21:35] kamtungc commented on #11800
ok. let me try it. so, I may not need to install 3rd party extension from marketplace if Visual Studio Code supports for searching texts. I don't want to "replace" all occurrences. I just want to find all occurrences.

[2016-09-09 21:38] bedorlan commented on #11773
Finally, i was able to reproduce the issue. project attached.

[project.zip](https://github.com/Microsoft/vscode/files/464874/project.zip)

Steps to Reproduce:
1. uncompress project.zip & project.tgz (automatic symlinks)
2. open the folder `project`
3. open the file `0/1/2/test.ts`
4. try intellisense

tip: i'm using a custom typescript sdk:
[code]

[2016-09-09 21:39] ramya-rao-a commented on #11793
See [extension](https://marketplace.visualstudio.com/items?itemName=slevesque.perforce)

[2016-09-09 21:39] #11793 closed

[2016-09-09 21:40] mmorrisuts opened #11803 "1.5 update crashed VS Code; required 'stable' reinstall"
- VSCode Version: 1.5
- OS Version: Windows 7 Enterprise (64 bit)

Steps to Reproduce:

1. Press blue button while in VS Code to download newest version (my previous was v1.4).
2. It stalls, but doesn't have a real issues at this point.
3. Stop VS Code.
4. Download the 1.5 upgrade.
5. Install 1.5 upgrade.
6. VS Code no longer works.
7. Download 'stable' 1.5 version.
8. Restart computer.
9. Install

[2016-09-09 21:44] mcepl commented on #229
@iavael don't worry about rough (I am a Czech myself, so English is my second/third language as well). I just though that my idea was less brutal than yours proposal in https://github.com/Microsoft/vscode/issues/229#issuecomment-225062801 . However, more and more I am looking at VS Code less I like it, so I don't care that much anyway.

[2016-09-09 21:56] ramya-rao-a commented on #11802
@Mlocik97 Like @mrmlnc has mentioned above your second issue is already being tracked.

Regarding your first issue, I notice that all the links you tried in your example are local files. Did this ever work for you before? I don't think this was ever supported.

[2016-09-09 21:58] ramya-rao-a commented on #11800
@kamtungc Did that work?

[2016-09-09 21:58] #11801 closed

[2016-09-09 21:59] winuxue commented on #11787
The ones of this picture:
https://github.com/jesseweed/seti-ui/raw/master/screenshot-icons.png

[2016-09-09 22:01] ramya-rao-a commented on #11798
@TheColorRed , the extension @mrmlnc has suggested should solve your needs to see the file path.
So closing this issue.

Apart from this, there is already another item that tracks showing the file path (or parts of it) in the tab when there are multiple files open in tabs with same name but different paths #8499

[2016-09-09 22:01] #11798 closed

[2016-09-09 22:03] ramya-rao-a commented on #11797
@mr-dignitty Do you still have any issues or are you unblocked?

[2016-09-09 22:04] kamtungc commented on #11800
ok. It works now. I've also uninstalled "C++ Intellisense" extension. This extension does not work. Thanks for your help.

[2016-09-09 22:04] ramya-rao-a commented on #11650
@gmvs  any updates?

[2016-09-09 22:11] ramya-rao-a commented on #11800
@kamtungc Glad you are unblocked. Feel free to log an issue for the extension in the repo for the extension so that it can be made better :)

[2016-09-09 22:14] joao-fnunes opened #11804 ""Open with Code" context menu is not localized"
- VSCode Version: 1.5.1
- OS Version: Windows 10 Enterprise Build 10240

Minor issue, but still:

![image](https://cloud.githubusercontent.com/assets/1964667/18404435/4d4126de-769f-11e6-8165-49730ae71479.png)

Steps to Reproduce:
1. Install VS Code in an OS with a language other than ENU (I used DEU), making sure you enable the context menu during installation.
2. Right-click a folder or file

[2016-09-09 22:17] ramya-rao-a commented on #11739
@z442a9 @gjstockham Can you log issues in the repos for the Powershell and Git History extensions respectively for this issue?

[2016-09-09 22:17] #11739 closed

[2016-09-09 22:20] daviwil commented on #11422
That's a good question, and typing out my reasoning just now reminded me that I don't actually use the PowerShell PID for anything other than just logging purposes (and knowing which process to attach a debugger to when things go south).  I guess it isn't super critical for me to have the PID but it's definitely helpful for debugging purposes.

[2016-09-09 22:35] #11475 closed

[2016-09-09 22:35] NikosEfthias opened #11805 "A blocking process freezes entire ide."
- VSCode Version:`1.5.1`
- OS Version:`ubuntu 16.4`

Steps to Reproduce:
1. execute a script with long for or something blocks the process
2. in a native terminal the loop will not freeze the terminal  and stream the output of the loop however in vscode this process freezes the entire ide not even just terminal so you cannot even terminate the terminal without terminating entire vscode which can c

[2016-09-09 22:36] AldoMX commented on #11799
I think I'm getting crazy...

Apparently the `angular` profile never existed although I was pretty confident that it did, and I took it for granted since I had found out undocumented emmet's features in the past, such as the `|slim` or `|jade` filters.

Anyway, the "issue" is real, but it will probably be a WONTFIX:

In VS Code <= 1.4.0, when you press tab and the emmet profile is invalid, ex.:
[c

[2016-09-09 22:39] JMSantos94 commented on #5908
+1 Error from the extension host: spawn /usr/share/code/code (deleted) ENOENT
I am on 1.5.1 using Ubuntu 16.04

[2016-09-09 23:02] mrmlnc commented on #11799
Don't worry. Now `syntaxProfiles` uses as `fileAssociations`, but for Emmet: left side — language Id, right side — Emmet mode. You can find the basic modes of Emmet in https://github.com/Microsoft/vscode/issues/9500#issuecomment-242221652.

Please, close this issue if it is resolved.

[2016-09-09 23:16] robertohuertasm opened #11806 "Update icons when language of file is changed"
- VSCode Version: 1.5.0
- OS Version: W10

Steps to Reproduce:
FYI @aeschli
1. I create a languageId association
   ![lang1](https://cloud.githubusercontent.com/assets/696981/18405623/d52b2438-76f3-11e6-9811-904dc3b7fcf7.PNG)
2. I can see the icon in my .js file but I decide to change the language to c#
   ![lang2](https://cloud.githubusercontent.com/assets/696981/18405628/e8b5f74e-76f3-11e6-88cd-

[2016-09-09 23:21] OrbintSoft opened #11807 "UWP Application - Feature request"
I think it should be great if we can have Windows Universal Application to use on mobile with continuum.

https://visualstudio.uservoice.com/forums/293070-visual-studio-code/suggestions/7762905-visual-studio-code-on-universal-app-platform

[2016-09-09 23:32] fierval opened #11808 "tabCompletion not correctly set"
- VSCode Version: 1.5.1
- OS Version: Win7

Steps to Reproduce:

1. Start from any Angular 2 project: e.g: https://github.com/spboyer/ng2-startingline
2.  Make sure workspace settings have editor.tabCompletion: true

At some point, perhaps not right away, tab completion stops working. Looking at default settings, editor.tabCompletion is set to false, despite workspace settings showing that it is s

[2016-09-10 00:28] Tyriar opened #11809 "Move line up/down should support multiple cursors"
- VSCode Version: Code - Insiders 1.6.0-insider (20c3935a130f5b86d629a8543c9c71348c54c3de, 2016-09-09T05:59:09.913Z)
- OS Version: Linux x64 4.4.0-31-generic, Ubuntu 16.04

Steps to Reproduce:

1. Add multiple cursors across multiple lines
2. Run the move line up command, only the line containing the "primary" cursor is moved and the other cursors are lost

[2016-09-10 00:31] Tyriar commented on #10546
@whitecolor  FYI, so I lied and `terminal._id` will probably change in v1.6 to be some random ID, not the PID. I'm in the middle of a huge refactor in order to separate the terminal panel from the processes more (so they can exist without the panel existing #11275) and I don't think I can keep it there unfortunately.

[2016-09-10 00:52] ehouarn-perret commented on #11472
Out of curiosity, are (free) external components allowed to be in used when developing a feature? Like for example https://golden-layout.com/ I haven't checked for that one and probably need a lot of integration work but something like that but you get the gist.

Considering that there is already something in use for the current tabs system I guess and assume it's probably better to simply leverag

[2016-09-10 00:55] jbecwar opened #11810 "Format Code dosn't work with Javascript on OSX"
- VSCode Version: 1.5.1
- OS Version:  OS X 10.11.6

Steps to Reproduce:
1.   Open Javascript File
2.   Right click in editor window, select "Format Code"

Expected Action:
Code is formatted.

Actual Action:
Code doesn't change.

As a workaround I installed the extension beautify and it is able to format the code.

[2016-09-10 01:14] furkankinyas opened #11811 "program is slowing down after 10,000 lines of code written."
- VSCode Version: 1.5.1
- OS Version: 10.11.6

[2016-09-10 01:39] Jakobud commented on #746
Okay so I was messing with this a bit more. Is `QuickPickItem` only available using TypeScript? I could get it to work like this:

[code]

How would I do the same thing using just JS? Are you saying I could just pass an array of objects to the `showQuickPick` ?

[code]

? Sorry, it's just that there doesn't seem to be a lot of documentation on that yet. I found the code somewhere online for using

[2016-09-10 01:40] tinganho opened #11812 "Markdown simultaneous edit and preview"
It would be awesome if you could provide simultaneous edit and preview on markdown files. Clicking on the preview button is not that UX friendly.

[2016-09-10 02:12] MarkSky commented on #11776
Sorry!
I just have a suggestion.
After I update Visual Studio Code to version 1.5.1, I got it support file icon (File Icon Theme) in  it.
But I found the icon of html file in vscode-icons plugin is better and it is easier to know what the file is.
So I think maybe you can change the icon of html file in File Icon Theme.
Thanks.

[2016-09-10 02:40] ArtemGovorov commented on #3351
The solution (`Version 1.6.0-insider`) doesn't seem to work for our scenario (see the GIF above). My guess is that it happens because we're clearing the output, not appending to it.

[2016-09-10 02:40] gitlovenotwar opened #11813 "Add support to get image size (width and height)"
Hi, opening an image in vs code only shows the image. It would be great if it could show more details also, like its size, width and height.

Also, if possible with x2 and /2 calculated also along with the original size.

ex. (It would show something like this)
width: 180px
height: 180px

width@2x: 360px
height@2x: 360px

width/2: 90px
height/2: 90px

[2016-09-10 03:05] outcoldman commented on #10195
Another issue is that `editor.lineHeight` expects pixels, and `terminal.integrated.lineHeight` expects EM. Does not seem consistent.

[2016-09-10 03:21] robertohuertasm commented on #11288
@bpasero I just released v2.0.1 with official support by default [#286](https://github.com/robertohuertasm/vscode-icons/pull/286).

[2016-09-10 03:44] sirajalam049 opened #11814 "Files opening in different windows"
- VSCode Version:
- OS Version:

1. When a open a file two times, so it opens in two windows, but it is supposed to show the same windows every time I open the same file.
2. When I open the two files they also open in separate windows, while it is supposed to open in the same window in separate tabs.

Thanku.
sirajalam049@gmail.com
Siraj Alam

[2016-09-10 04:08] poidl opened #11815 "freezes opening passphrase-protected ssh git repository"
- VSCode Version: 1.5.1
- OS Version: Arch linux 4.7.2-1-ARCH #1 SMP PREEMPT Sat Aug 20 23:02:56 CEST 2016 x86_64 GNU/Linux
Steps to Reproduce:

1. open a folder containing an SSH git repo with passphrase-protected key
2. open konsole (a KDE terminal emulator), run `/opt/visual-studio-code/code &`

Result: Vscode freezes. If I close the window, KDE says: "Application code is not responding" and gi

[2016-09-10 04:08] Tyriar commented on #10195
@outcoldman the inconsistency there is because having `lineHeight` be unitless seemed to be the only reliable way to ensure there were no gaps between the lines on a terminal selection. The reason `editor.lineHeight` can get away with it is because it's not using native web selection, this is planned for the terminal coming up though https://github.com/sourcelair/xterm.js/issues/207

[2016-09-10 04:09] Tyriar commented on #10195
But yeah, this is as designed. It could change in the future after virtual selection but for now you multiply it against `fontSize` to get the height in `px`.

[2016-09-10 04:11] dhruvajoshi8 commented on #11592
@bpasero Thanks for your input. However, I still face the same issue after executing from command prompt by disabling the extensions.

[2016-09-10 04:28] richard1122 opened #11816 "How to specify CompletionItem order?"
- VSCode Version: 1.6.0-insider
- OS Version: win10

I'm working on a language server extension(ycmd for vscode).
Currently ycmd could give correct (ordered) completion results, but vscode sort it again with CompletionItem.label. I had tried to make sortText ordered like '1, 2, 3'. But it looks like not working.

Here is what ycmd returns:
![image](https://cloud.githubusercontent.com/assets/253427

[2016-09-10 04:31] richard1122 commented on #11816
I'm using
"vscode-languageserver": "2.4.0-next.11"
"vscode-languageclient": "2.4.2-next.20"

I hope it may help.

[2016-09-10 05:41] bpasero commented on #11813
The image dimensions shows when you hover over the image.

[2016-09-10 05:42] bpasero commented on #11814
Try `"window.openFilesInNewWindow": false`

[2016-09-10 05:47] bpasero commented on #11790
The screenshot shows the following error in the console: map is not a function in _getExtraKeybindings

Moving to @alexandrudima

[2016-09-10 05:50] bpasero commented on #11794
![editors](https://cloud.githubusercontent.com/assets/900690/18408265/2a574d7e-772b-11e6-9a60-0b504066f8c8.gif)

@bgashler1 I cannot reproduce, do you have steps?

[2016-09-10 05:51] #11288 closed

[2016-09-10 05:55] bpasero commented on #11592
@dhruvajoshi8 does it reproduce when you try with our insiders release too?
We are releasing preview releases of the next stable VS Code version for everyone to try and give feedback. These preview releases are not 100% tested and might be unstable but contain our latest features and bugfixes. You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-10 05:59] bpasero commented on #11665
@pokerchina @crgdev both of you seem to have the same error: `*** setObjectForKey: object cannot be nil (key: Credits)`

I speculate that we try to set something into the application menu that is either null or otherwise invalid. Can both of you share your `keybindings.json` file? It should be in `/Users/<name>/Library/Application Support/Code/User/keybindings.json`

I wonder if some bad keybindin

[2016-09-10 06:06] gitlovenotwar commented on #11813
ah right, size of image shows on hover thanks. It would be awesome if it could easily be seen(may at the bottom there's so much space) without hovering, new developer would be wondering. And also, for automatic calculating of its size by half or by multiplied by 2... It's really helpful and fast than to compute it with calculator... but anyway, good work on vs, appreciated your work. thanks

[2016-09-10 06:11] Tyriar commented on #11805
@NikosEfthias is this only happening with a large amount of output? I believe this is due to a perf regression when the scroll bar was introduced.

If this is like the past performance issue then the keystrokes probably are being sent to the terminal, it's just taking too long for the renderer to catch up.

[2016-09-10 06:15] dhruvajoshi8 commented on #11592
@bpasero Already tried with the insider version 1.5.1.0. Gets reproduced!

[2016-09-10 06:28] dhruvajoshi8 commented on #11592
Also, I get the below error when i open a file.

![image](https://cloud.githubusercontent.com/assets/22031266/18408449/c7156eda-774d-11e6-83e3-0888f0125dcf.png)

[2016-09-10 06:33] Mlocik97 commented on #11802
This link to local files work, only this 1.5.1 dont work.

[2016-09-10 06:48] cskilbeck opened #11817 "Pressing escape should always set focus to the text"
- VSCode Version: 1.5.1
- OS Version: WIn10

Steps to Reproduce:
1. Press ctrl-shift-E
2. Press escape, note that focus is not on the editor

[2016-09-10 07:13] bpasero commented on #11592
@dhruvajoshi8 can you run "code --verbose" from the command line and attach the output until you see the crash happening. Also please open the dev tools console (Help > Toggle Developer Tools) to see if output is printed.

I think both cases are interesting: Try once with a crash when opening a folder and once when opening a file that leads to the extension host crash.

[2016-09-10 07:14] bpasero commented on #11518
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-09-10 07:14] #11518 closed

[2016-09-10 07:14] bpasero commented on #11508
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-09-10 07:14] #11508 closed

[2016-09-10 07:15] bpasero commented on #11412
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-09-10 07:15] #11412 closed

[2016-09-10 07:15] unalone opened #11818 "OmniSharp will never start under macOS 10.12 Sierra!"
- VSCode Version: Code 1.5.1 (07d663dc1bd848161edf4cd4ce30cce410d3d877, 2016-09-08T21:27:44.726Z)
- OS Version: Darwin x64 16.0.0

Steps to Reproduce:

1. Install C# support
2. Open any project, and the status of OmniSharp will always "Starting..."

[2016-09-10 07:15] bpasero commented on #10850
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-09-10 07:15] #10850 closed

[2016-09-10 07:15] bpasero commented on #11543
Assuming this is fixed in 1.5.

[2016-09-10 07:15] #11543 closed

[2016-09-10 07:20] richard1122 commented on #11816
I'm sorry. After some time to investigate, I found that unordered completion items is provided by another extension.

[2016-09-10 07:20] #11816 closed

[2016-09-10 07:21] bschauhan opened #11819 "Open new file"
- VSCode Version: Code 1.5.1 (07d663dc1bd848161edf4cd4ce30cce410d3d877, 2016-09-08T21:33:49.307Z)
- OS Version: Windows_NT ia32 10.0.10240

Steps to Reproduce:

1. I have to open new file but current file is automatically close.
2. I have to open new file in new tab but not possible in current version.

[2016-09-10 07:23] buehler commented on #11788
@ramya-rao-a Yea... before 1.5.1 (or 1.5) it worked like a charm. I did not use it in my code, because the "multiple edits" were not supported. But now that those are implemented (https://github.com/Microsoft/vscode/issues/6874) I did plan to use my code completion provider.

Problem is, that the breakpoint is hit on the return statement, but afterwards, no suggestions are shown. If I explicitly f

[2016-09-10 07:24] hashhar commented on #11655
@Tyriar I think that's fine. I'll go the URL way. We can actually use upto 8000 characters but people on older browsers may have issues.

Oh and one thing. Why isn't the smiley to report issues not visible on the debug builds? How can I enable it?

[2016-09-10 07:26] hashhar commented on #11655
Now that I think about it, we don't even have to truncate the list. The browser will do that and the only side effect will be partial information about the extensions in the issue. So I think it doesn't matter that much.

[2016-09-10 07:30] buehler commented on #11788
To clarify (and for more information):
I register the provider as such: https://github.com/buehler/typescript-hero/blob/feature/code-completion-provider/src/extensions/ResolveExtension.ts#L97

And use it like this: https://github.com/buehler/typescript-hero/blob/feature/code-completion-provider/src/provider/ResolveCompletionItemProvider.ts

The problem with that is, after the breakpoint is hit and

[2016-09-10 07:43] richard1122 opened #11820 "How to tell vscode do not sort my CompletionItems?"
- VSCode Version: 1.6 insider
- OS Version: win10

I'm working on youcompleteme vscode extension. Ycmd provides well ordered completion items.
Is there any way to tell vscode do not sort my completionItem array?

Or could you add sortNumber (or sth like this) to CompletionItem for numeric compare?

[2016-09-10 08:05] iOSwang opened #11821 "Syntax prompts no"
- VSCode Version: Code 1.5.1 (07d663dc1bd848161edf4cd4ce30cce410d3d877, 2016-09-08T21:34:58.760Z)
- OS Version: Linux x64 4.4.0-36-generic

Steps to Reproduce:

1.totay i update v1.5.1,my grammer tip can`t use
2.i checked go package,i download again,it can`t use

[2016-09-10 08:12] markDem25 opened #11822 "personal key binding doesn't work"
- VSCode Version: windows
- OS Version: 1.5.1

Steps to Reproduce:
the personal key binding doesn't work.
this is my personalization
[{
    "key": "ctrl+t",
    "command": "workbench.action.terminal.focus",
    "when": "editorTextFocus"
}]

In the previous versions works correctly

[2016-09-10 08:22] dhruvajoshi8 commented on #11592
@bpasero

Below are attachments for the case where i re-created the '**Open Folder issue**' as per above procedure -

The crash continuously happens as i navigate through Developer Tools

![image](https://cloud.githubusercontent.com/assets/22031266/18409070/6173f1d6-775d-11e6-8fda-df871f379ff4.png)

![image](https://cloud.githubusercontent.com/assets/22031266/18409077/6fb1ccf0-775d-11e6-92db-c5afe

[2016-09-10 08:31] dhruvajoshi8 commented on #11592
Below are attachments for the case where i re-created the '**Open File issue**' as per above procedure -

![image](https://cloud.githubusercontent.com/assets/22031266/18409168/e2df67ea-775e-11e6-92d2-ef589a580b3f.png)

![image](https://cloud.githubusercontent.com/assets/22031266/18409169/e94875e0-775e-11e6-9144-8f804a93fbf7.png)

![image](https://cloud.githubusercontent.com/assets/22031266/1840917

[2016-09-10 09:55] SenH opened #11823 "Add option to sort files in Explorer side-bar by date modified"
I'm using VS Code as a simple notebook with text files in a folder. Would be handy if we could sort files by date modified so last edited files are easily accessible.
- VSCode Version:  1.5.1
- OS Version: Win 10 Pro

[2016-09-10 09:59] Mlocik97 commented on #11819
1.5.x version is hard bugged,, i had to download 1.4.0 version:
I recommend it to you until fix bugs.

[2016-09-10 10:00] use-strict opened #11824 "Typing a dot in a string literal selects first item in auto-suggest"
- VSCode Version: 1.6.0-insider
- OS Version: Windows 7

Steps to Reproduce:

[code]

Expected behavior:
Auto-suggest should trigger when pressing ENTER (or maybe TAB?), but not on dot

Actual behavior:
When typing a dot (`.`), auto-suggest selects the first item

Workaround:
Pressing escape before the dot. Very annoying!!

[2016-09-10 10:38] ivan-marinov opened #11825 "Text selection finished above Terminal Window makes loosing focus on Editor Window"
- VSCode Version: Version 1.5.1 (1.5.1) 07d663dc1bd848161edf4cd4ce30cce410d3d877 2016-09-08T21:25:39.888Z
- OS Version: OS X El Capitan 10.11.6 (15G1004)

Steps to Reproduce:

1. Have a source editor with some file (tried with js, css) and the internal terminal open
2. Start selecting a text block with track pad, tap and start dragging selection
3. While selecting move pointer above terminal windo

[2016-09-10 11:12] BenjaVR commented on #11724
@mrmlnc That would be great!

[2016-09-10 11:48] kattkieru opened #11826 "Ability to add multiple open folders to a single project"
- VSCode Version: 1.5.1
- OS Version: macOS

Feature Request

It would be nice to be able to add / remove multiple folders to / from a project, not unlike Sublime Text. (Gif attached).

![multiple-folders](https://cloud.githubusercontent.com/assets/1939040/18410253/d9c6e068-772a-11e6-9d2b-1685493f660a.gif)

This is one of the few things keeping a number of people I know from using Code, and to be

[2016-09-10 11:51] kattkieru opened #11827 "git repos not detected in sub-folders of the open folder"
- VSCode Version: 1.5.1
- OS Version: macOS, Windows 10

If you add a folder that contains multiple folders of git repos, the git integration does not work.  It only seems to work if you open a folder that is a git repo directly (and then it's pretty brilliant).

It would be great if the root didn't need to be a repo, but Code were intelligent enough to detect that sub-folders contain different re

[2016-09-10 11:57] whitecolor commented on #11422
@daviwil

It is now still on `terminal._id`

@Tyriar

It would be nice if availability of PID could be preserved at least before that moment.

[2016-09-10 12:28] fronteed opened #11828 "JSON validation doesn't work offline"
- VSCode Version: 1.5.1
- OS Version: OS X El Capitan 10.11.3

Every time I launch VS Code when I'm offline, I get this error:

![2016-09-10-1wv8p](https://cloud.githubusercontent.com/assets/1612675/18410407/da0e188a-776a-11e6-8313-c3fc75765132.png)

JSON validation doesn't work as a result.
I hope a schema reference can be initially cached inside the editor and downloaded once again when internet

[2016-09-10 13:11] db666 opened #11829 "`ESC` key no longer closes the output window"
- VSCode Version: Code 1.5.1 (07d663dc1bd848161edf4cd4ce30cce410d3d877, 2016-09-08T21:33:49.307Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1. Run any sort of code (in my case Golang code) and watch the "Output" window pop up with the program output
2. Press `ESC` to close the window; it doesn't work.
3. This was working fine before the latest update so possibly a regression?

[2016-09-10 13:11] rafa-acioly commented on #5908
I solved the problem by re-installing vscode completely.

[2016-09-10 13:12] Daivuk commented on #1046
This is basic text editor feature, really need this! I keep trying to do it then it just reselects :(

[2016-09-10 13:40] lucsky commented on #3112
+100

[2016-09-10 14:29] nholthaus opened #11830 "Column mode selection behavior is inconsistent with user expectations"
- VSCode Version: 1.5.1
- OS Version: Ubuntu 14.04, Windows 7/10, probably all others

Most programs with column mode (visual studio/notepad++/kdevelop/etc) have the following user experience:

1. hold the keyboard shortcut/toggle column mode.
2. click somewhere. This is the selection 'start' anchor.
3. drag somewhere. This is the selection 'end' anchor.

However, in visual studio code, the proces

[2016-09-10 14:40] raztd commented on #11806
Something similar. I associated the .pl extension with Prolog in the User Settings
[code]

Now when I open a .pl file it shows "Prolog" in the status bar, but in file explorer still appears the Perl logo.
I have the Prolog extension installed https://marketplace.visualstudio.com/items?itemName=rebornix.prolog

[2016-09-10 15:13] alefragnani commented on #11826
Hi @kattkieru . This is already in the [Roadmap](https://github.com/Microsoft/vscode/wiki/Roadmap), and it's being tracked in https://github.com/Microsoft/vscode/issues/396.

Stay tuned :smile:

[2016-09-10 15:34] neutraltone opened #11831 "Icon alignment in directory tree on mac"
- VSCode Version: 1.5.1 (1.5.1)
- OS Version: OS X El Capitan 10.11.6 (15G31)

Steps to Reproduce:

1. Launch a project with many directories in Visual Studio Code and enable one of the icon themes (in this case Seti)
2. Expand directories in the right hand side page, noticed how the files seem to be indented too much of the left hand side.

Screenshot of Error:
![image](https://cloud.githubuserco

[2016-09-10 15:59] leaxoy commented on #11498
+1

[2016-09-10 16:05] matejkramny commented on #10885
btw, if you have "multiple window tabs" when you quit VSCode, it restores them as multiple windows ;)

[2016-09-10 16:41] LonnyX commented on #9406
same issue here :/

[2016-09-10 17:26] ViBE-HU opened #11832 "Linux version cannot autofill DOCTYPE"
- VSCode Version: 1.5.1
- OS Version: Ubuntu 16.04, 64 bit

Steps to Reproduce:
1. Start Visual Studio Code.
2. Create an empty HTML file.
3. Input `<!DOC` for example.
4. Press TAB.
5. It should fill with the form below but nothing happens.

[code]

[2016-09-10 17:43] glen-84 commented on #11830
Duplicate of #5402.

[2016-09-10 18:00] InfiniSuite commented on #9406
This turned out to be one of the extensions I had installed. Once I removed
the extension everything worked.

On Sat, Sep 10, 2016 at 12:42 PM, Drilon Nolird <notifications@github.com>
wrote:

--
*Lee Mellinger*
President & CEO
InfiniSuite, LLC
www.infinisuite.com
Mobile: 1.734.531.8702
Skype: leemellinger
LinkedIn: linkedin.com/in/leemellinger
<https://www.linkedin.com/in/leemellinger>

*Business

[2016-09-10 18:04] Tyriar commented on #11422
@whitecolor as I mentioned in https://github.com/Microsoft/vscode/issues/10546#issuecomment-246074894, `terminal,_id` is a private API that is very likely going away in v1.6.

[2016-09-10 18:18] glen-84 commented on #2246
Duplicate of #502 (?).

[2016-09-10 18:21] roblourens opened #11833 "Debug Console doesn't scroll when starting empty"
Start debugging with the console empty. When output reaches the bottom of the console, it won't scroll with the output. If you scroll all the way down, then it will continue to scroll with the output. I think a regression after the smart-scroll change.

[2016-09-10 19:02] NikosEfthias commented on #11805
this is only happening with a large loop without any pause doing something something like
[code]
this will freese the entire ide however in xterm it does not have any issue printing values and receiving interrupts

[2016-09-10 19:34] frangiskos opened #11834 "freeses after latest update"
- VSCode Version: Code 1.5.1 (07d663dc1bd848161edf4cd4ce30cce410d3d877, 2016-09-08T21:33:49.307Z)
- OS Version: Windows_NT ia32 6.3.9600

Steps to Reproduce:

1. After upgrading to the latest version I get a blank screen and I cannot load any file or folder. I tried uninstalling and reinstalling and still the same. see screenshot.

![image](https://cloud.githubusercontent.com/assets/5845584/184130

[2016-09-10 20:37] crgdev commented on #11665
@bpasero VSCode has magically started working for me as well. I don't believe that I did anything specific to get it to work other than launching it again today.

My `keybindings.json` file is below:

[code]

[2016-09-10 21:02] weinand commented on #2726
You can now use any program as the `runtimeExecutable` and pass arguments via the `runtimeArgs`.
The `program` attribute is no longer mandatory which helps if the npm script already implies the program to launch.
If you specify a (debug) port via the `port` attribute, no `--debug-brk=nnnn` attribute will be passed automatically (because the debug port is typically implied by the npm scripts as wel

[2016-09-10 21:04] #2726 closed

[2016-09-10 21:30] mousetraps commented on #11750
@SFLAQiu looks like you're still on v1.3.0 - just to clarify, is the issue that you're not getting the updated version of VSCode? If so, what happens if you select `Help > Check for Updates`?

[2016-09-10 21:33] leikind commented on #1759
I had to install this extension, but this is such a basic operation, I believe it should be in the  core, too

[2016-09-10 21:48] hashhar commented on #11655
Hey, I'm unable to hit breakpoints that I set in .ts files. I'm using remote debugging from VSCode. Could someone guide me how to debug this?

[2016-09-10 22:08] mverwijs opened #11835 "1.5.1 .deb package misses depencies"
- VSCode Version: 1.5.1
- OS Version: Ubuntu GNU/Linux 16.04

Summary: VSCode package for Ubuntu 16.04 requires several i386 packages to be installed on the system, but does not specify them as a dependency. End result is `code` not running due to missing dependencies, even though the package installs without error.

Steps to Reproduce:

1. Install the .deb package
2. Open a terminal
3. Run `code`

[2016-09-10 22:17] mverwijs commented on #11835
PEBKAC. Accidentally downloaded and installed the i386 version. Which exists.

[2016-09-10 22:17] #11835 closed

[2016-09-10 22:37] Tyriar commented on #11655
@hashhar I run via ./scripts/code.sh and use dev tools in the debug vscode personally

[2016-09-10 23:48] weijarz opened #11836 "make suggest list supports fuzzy matching"
- VSCode Version: 1.5

For example, create a new document:
[code]
After typing `view`, the suggest list will appear ([`view_class`, `view_class_name`]), but VSCode does not support continue type a `n` to filter down this list to [`view_class_name`].

Atom has this feature:
![atom-complete](https://cloud.githubusercontent.com/assets/8944061/18414214/72aa691c-77f3-11e6-90a7-7afca277205b.png)

[2016-09-11 00:55] Tyriar commented on #11805
xterm seems so snappy because it syncs the renderer with the shell process. A PR done to xterm.js (https://github.com/sourcelair/xterm.js/pull/146) to do this, however the a side effect of it was that it took an enormous amount of time to print all the output due to each page of data having to be replicated in the DOM and displayed. Improvements to performance are still being explored in https://g

[2016-09-11 01:51] pmcoz opened #11837 "Prevent startup access to 238.172.191"
- VSCode Version: 1.5.1
- OS Version: Win 7 Home Pro 64

Steps to Reproduce:

1. Configure all privacy options to false as per [https://code.visualstudio.com/Docs#privacy](https://code.visualstudio.com/Docs#privacy)
2. Block VSCode at firewall
3. Start VSCode
4. VSCode reports 'connect EACCES 191.238.172.191:443' error

I would like to be able to control internet access without having this error m

[2016-09-11 02:33] wupaz commented on #6328
Agree I wish file nesting like this  (especially for ng2)

Html
--css
--ts
-- etc ...

[2016-09-11 02:55] XVincentX opened #11838 "Trigger language auto detection mechanism"
Some times I'm fetching some content from the web and pasting it into the current active editor.
So far, I didn't find any way to set the current language for the window. Is there any particular API call for that?

Even better, would it be possible to trigger the auto detection mechanism with the API?

[2016-09-11 04:26] garfieldbanks opened #11840 "Dislike default toggled find in selection"
I would like this to either be turned off by default or to always allow the current selection to be cleared via clicking within the text body.

I do _not_ want to go click the little box to turn off _find in selection_ every time I select, copy, and paste something into find/replace.

Another solution for me would be to provide an option in the settings for one of the above solutions.

(Or let me

[2016-09-11 04:43] Urik commented on #5508
I would love to give this feature a shot. Any chance you'd accept a contribution on this one?

[2016-09-11 06:07] ramya-rao-a commented on #11776
Thanks for the clarification

[2016-09-11 06:46] Jakobud opened #11841 "Strange cursor behavior after workspace.applyEdit();"
- VSCode Version: 1.5.1
- OS Version: Windows 7 x64

I am working on an extension that will inject some text into your document at the current cursor (or all cursors if there are multiple). I'm seeing some weird behavior with the cursor after inserting the text.

Steps to Reproduce:

1. Type some random sentence of text.
2. Place your cursor somewhere mid sentence.
3. Run an extension that inserts

[2016-09-11 06:57] hashhar commented on #11655
[code]

This shows no errors from within VSCode, but on compiling I get:
[code]

[2016-09-11 07:38] baoziv587 opened #11842 "File search can exceed max string length"
# - VSCode Version: 1.5.1
# - OS Version:mac OS X 10.11.6

Steps to Reproduce:

1. open file search window (command+p)
2. input something

I can not get any file search result in my project  after updating The latest version of vscode(1.5.1).

And i noticed that when i am typing some keyword of file name ,CODE will generate some subprocess do these search job with  `80 percent of the CPU cost`

![

[2016-09-11 07:46] NikosEfthias commented on #11805
can't puttting small delay between each node creation help something like 10 ms is difficult to feel as a user i think

[2016-09-11 07:51] joseph-iussa commented on #7727
I was able to fix this for myself by changing the setting `terminal.integrated.shell.windows` from
`"C:\\WINDOWS\\system32\\cmd.exe"` (the default I assume, at least I hadn't changed it myself)
to
`"C:\\Windows\\sysnative\\cmd.exe"` (which the comment above the setting says is the 64bit version)

Hope that's helpful with fixing this issue. I'll also point out again that I experienced this issue wi

[2016-09-11 08:26] whitecolor commented on #11840
I like it.

[2016-09-11 08:51] JiayangShen commented on #7394
@alexandrudima
Hi, alexandrudima, I'm glad to saw that you labeled this issue. It's very important to me. Till now, modern code editors, like sublime text and atom, and vscode, all of them have this accessibility issue. I like vscode so much that I really hope this issue can be solved as quickly as possible. Thanks!

[2016-09-11 09:51] McMlok commented on #10461
cntlm as workarround works. Thanks

[2016-09-11 10:28] bochen2014 commented on #11745
same thing here. I think we can just suppress the warning by click 'don't check again' button

[2016-09-11 10:38] saifali96 commented on #11785
Well to be honest, doesn't matter if we put Powershell as integrated terminal, the issue is or perhaps it is intended, a call to cmd is made, even from cmd, first part is `cd drive:/dir/` and then `&&` to run the node script in debug mode and other things along with the previous command after changing dirs ofcourse, so I don't know how the change the command that's called from within VSC, if we ar

[2016-09-11 10:47] 17twenty commented on #5908
The fix would be for the installer to do a ```killall code``` as part of the install scripts in the deb. Basically, it's getting sad because things are linking to old binaries/libs that have been replaced.

By all means, respawn code after installing but that would fix the issue.

[2016-09-11 11:17] jyavenard opened #11843 "wrapping column not always shown depending on zoom level"
- VSCode Version: 1.5.1
- OS Version: Linux Ubuntu 16.04

Steps to Reproduce:
1.  In the settings, enable wrapping like with "rewrap.wrappingColumn": 80,
2. Restart.
3. Note the line showing the 80th character column will show.
4. Zoom out. Note that the wrapping line is no longer showin.
5. Zoom out again. Wrapping line is now showing.
6. Now if you continue zooming out, the wrapping line never s

[2016-09-11 11:38] bpasero commented on #11842
@chrmarti fyi

[2016-09-11 12:30] drinktee commented on #7739
I have the same suggestion. I think the width of the line-numbers is a little wide and maybe a waste of space. As the pic shows.
What about /(how to)  make it thinner?
![image](https://cloud.githubusercontent.com/assets/7619792/18417287/bacdafd2-785d-11e6-9ccd-4952a65e373f.png)

[2016-09-11 12:32] i-frost commented on #1749
Let me know when to recompile to get Horizontal splits:-)

[2016-09-11 13:10] eladcandroid opened #11844 "JSX Comments (mixed modes)"
- VSCode Version: 1.5.1
- OS Version: Fedora 24

Steps to Reproduce:
1. Try to put a comment on a JSX row
2. The comment is "//" instead of "{/*".

[2016-09-11 14:25] lednhatkhanh opened #11845 "How to increase the font size of IntelliSense panel?"
Hi, I want to increase the font size of the IntelliSense panel (I don't know exactly what's its name so I will call that, you can see more details in the image) but I don't know how because my current font size is quite small, does vscode have an option for that?

![Font size too small](http://i.imgur.com/Hm6F2Lm.png)