[2017-10-27 01:40] jrock2004 commented on #36630
@Tyriar do I need to install python for docker compose to work in vscode? I got a brand new windows 10 installed running 1709 and I have the same issue

[2017-10-27 01:43] mjbvz commented on #35658
@matt-erhart Are you still running into this problem?

`d.ts` files are part of the `tsconfig.json` project. VSCode should handle them the same way as tsc does, but it may have gotten out of sync in this instance.

[2017-10-27 01:46] jaroslaw-weber commented on #14849
I wonder why it is not implemented in the c# plugin yet... I agree that it should be inside a plugin, not in the editor.

[2017-10-27 01:52] chrisbull commented on #28861
Can we just disable them?

[2017-10-27 01:57] innerlee opened #37013 "rg interacts badly with sshfs"
- VSCode Version: 1.17.2
- OS Version: Ubuntu 17.04

Steps to Reproduce:

1. sshfs mount some remote folder
2. open any file in it with code
3. observe that rg takes all cpu, and system hangs

Sorry it's hard to take screen shots because the os is not responsive and I have to hard restart the computer after such operations.

[2017-10-27 01:58] mjbvz commented on #17079
Closing this out. If anyone is  still running into this issue on the latest VS Code insiders builds, please open a new issue and I will take a look

[2017-10-27 01:58] #17079 closed

[2017-10-27 02:03] mjbvz commented on #16361
In our multiroot design discussions, we've currently settled on using a single typescript server for all folders in a workspace. As you note, this is not a perfect solution since different workspace folders may have different typescript versions, however usually these versions are not substantially different from the language server perspective.

This decision was made for performance reasons. We

[2017-10-27 02:03] #16361 closed

[2017-10-27 02:08] mjbvz commented on #27496
Duplicate of #21812

[2017-10-27 02:08] #27496 closed

[2017-10-27 02:35] athinboy opened #37015 "for typescript , alt+shift+f ,format the file , the code get disorder"
- VSCode Version:
版本 1.17.2
提交 b813d12980308015bcd2b3a2f6efa5c810c33ba5
日期 2017-10-16T13:59:46.104Z
Shell 1.7.7
渲染器 58.0.3029.110
Node 7.9.0
架构 x64

-OS Version: win10 Professional

for typescript , alt+shift+f ,format the file ,   the code get disorder : some functions has been move !
I worry for some function mistake .

extension list:

2017/08/06  12:06    <DIR>          abusaidm.html-snippets-

[2017-10-27 02:49] itsFrank commented on #17207
@jensbodal it's actually this setting: `"zenMode.hideTabs": true,`

[2017-10-27 03:04] Mark-L6n commented on #12579
https://github.com/Microsoft/vscode/issues/7358#issuecomment-281312985 says it can be configured using `Workspace Settings`.  At least in the Mac version, access this by a drop-down for User Settings \ Workspace Settings in the top right of the settings page.

[2017-10-27 03:36] Thinkscape opened #37016 "Inconsistent multi-file regex search with \n at the end"
- VSCode Version: Version 1.18.0-insider (509630ffe3fabf2e1f49b416bb83f5ff0877b042)
- OS Version: OSX 10.12.6 (16G29)

### Steps to Reproduce:

1. Have 2 or more files with a line you want to replace.
2. Open search sidebar
3. Turn on Regex mode.
4. Search for something ending with a newline, i.e. `hello world\n`

### Expected

All files containing that line are displayed

### Actual

Only the fir

[2017-10-27 03:59] mjbvz commented on #37015
Does this reproduce if you disable all of your extensions? If it does, please share some example code that demonstrates this problem when you format it

[2017-10-27 04:11] rinsuki opened #37018 "markdown link highlight broken for two link without space"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:47:41.889Z)
- OS Version: Darwin x64 17.0.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
EditorConfig|Edi|0.11.1
vscode-docker|Pet|0.0.20
riot-tag|cri|0.1.7
vscode-eslint|dba|1.4.0
python|don|0.7.0
tslint|eg2|1.0.13
php-debug|fel|1.11.1
php-intellisense|fel|1.5.2
php-pack|fel|1.0.1
easy-icons|

[2017-10-27 04:18] unional commented on #16361
One significant issue with single typescript server is the 20mb file size limitation as mentioned in https://github.com/Microsoft/vscode/issues/35549

With multiple projects, this limit will be hit much sooner.

[2017-10-27 04:28] riccoski commented on #35197
Indeed i'm having the same issue... It will be great if the brackets and quotes issues are fixed. Thanks

[2017-10-27 04:55] cleidigh commented on #31637
@isidorn
@joaomoreno
@rebornix

I would love to use the new color picker but I can't without keyboard support :-(
Would you accept a PR for this keyboard controller?

If so I'll make a proposal for the commands and approach...

[2017-10-27 04:59] roblourens commented on #37016
We don't support multiline search, so this is expected. The 1 result may be from an open file, since the editor does support multiline search. You can use `$` to match a line end.

[2017-10-27 04:59] #37016 closed

[2017-10-27 05:21] gustavorg opened #37019 "Etiqueta Sombreada"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 6.3.9600
- Extensions:

Extension|Author (truncated)|Version
---|---|---
html-snippets|abu|0.1.0
vscode-html-css|ecm|0.1.8
vue-snippets|hol|0.1.5
sublime-keybindings|ms-|2.9.1
vscode-icons|rob|7.16.0

---

Steps to Reproduce:

1. Al hacer click en un tag html se sombre to

[2017-10-27 05:23] s-shamesmuhametov-parc opened #37020 "Autocomplete suggest not contain new objects after IntelliSense update"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 6.3.9600
- Extensions:

Extension|Author (truncated)|Version
---|---|---
go-no-syntax-highlight|cci|0.0.1
githistory|don|0.2.3
xml|Dot|1.9.2
EditorConfig|Edi|0.11.1
Ionide-fsharp|Ion|3.8.3
Ionide-Paket|Ion|1.8.1
mssql|ms-|1.2.0
csharp|ms-|1.12.1
PowerShell|ms-|1.4.3
snipp

[2017-10-27 05:33] franklin-ross commented on #32929
I'm seeing this too sometimes (at least I think it's the same issue). Sometimes my terminal windows freeze up so I can't scroll or otherwise interact with them. They usually stay that way for around 5 seconds. This often happens every few seconds for a while, and then for some reason it'll come good again.

This only seems to happen when I'm running a watch. The most recent culprit was a fairly la

[2017-10-27 05:37] franklin-ross commented on #32929
These console errors could be related too:

![image](https://user-images.githubusercontent.com/2695677/32089315-00526eba-bb35-11e7-8d53-d2124d7d5efc.png)

[2017-10-27 05:42] sergeymx commented on #34385
My workstation : CentOS Linux release 7.4.1708 (Core)
I add Exec=/usr/share/code/code --unity-launch --ignore-certificate-errors %F in file code.desktop
No work :(

[2017-10-27 06:07] atian25 opened #37021 "[Feature Request] provide api to custom snippetVariables"
- VSCode Version: 1.17.2
- OS Version: Mac

Steps to Reproduce:

want to use custom variables(which provided by extension) at snippets define

https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/snippet/browser/snippetVariables.ts

maybe:
[code]

[code]

now I use `vscode.languages.registerCompletionItemProvider` + `insertText` to workaround.

[2017-10-27 06:08] coodoo commented on #18805
Any update on this?

[2017-10-27 06:17] #36870 closed

[2017-10-27 06:20] BrendanBall opened #37022 "Disabling indentation detection is not enforced"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:57:00.652Z)
- OS Version: Linux x64 4.13.8-1-ARCH
- Extensions:

Extension|Author (truncated)|Version
---|---|---
xml|Dot|1.9.2
vscode-docker|Pet|0.0.20
python|don|0.7.0
Go|luk|0.6.66
hg|mrc|1.2.0
mssql|ms-|1.2.0
azure-account|ms-|0.1.3
erlang|pgo|0.1.1
java|red|0.12.0
vscode-apielements|vnc|0.6.7

---

Steps to

[2017-10-27 06:22] bm-stschneider opened #37023 "Again Bug: [js] Cannot find name 'require'"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:47:41.889Z)
- OS Version: Darwin x64 17.0.0
- Extensions: the listing length exceeds browsers' URL characters limit
---

Steps to Reproduce:

1. Open any .js file that has something like `var something = require('something');` in it
2. Get red squiggles under require
![image](https://user-images.githubuserconten

[2017-10-27 06:25] till213 commented on #36952
Hi,

Oh, it seems like everyone can contribute to the translations :) I'll have a closer look how that works.

Thanks!
  Oliver

[2017-10-27 06:30] egamma commented on #25769
@mjbvz this is great.

An additional test you can make is whether this change also enables to eliminate the typescript dependency from the extension that bundles the tslint language service plugin. This is the dependency https://github.com/Microsoft/vscode-ts-tslint/blob/c33c12ed1f1c5a3d29d52c0b5c2b784353f5bc4e/package.json#L45. From what you describe this should be the case.

One concern I have i

[2017-10-27 06:39] Teo-ti commented on #35462
Can confirm. Extremely annoying...

[2017-10-27 07:07] isidorn commented on #37006
Fixed in latest insiders

[2017-10-27 07:07] #37006 closed

[2017-10-27 07:16] cpxPratik commented on #509
Why is it not by default set to `Ctrl+D` and `Ctrl+Shift+D` for copy line up and down respectively?? Most editors have them on those bindings.

[2017-10-27 07:17] bm-stschneider commented on #37023
Okay, found the reason for this.
The option `"javascript.implicitProjectConfig.checkJs": true` was the cause for this.

[2017-10-27 07:17] #37023 closed

[2017-10-27 07:18] memeda commented on #36951
Yes, I'm totally agree because It is so weak for auto guess.
Add a candidate may be better!
For me, of may be Many Chinese Coder, **only `UTF-8` and `GB18030`** are most commonly meet, but auto-guess give me the `Windows 1532`??? I think is is easier to detect in users' encoding candidates.

[2017-10-27 07:21] Zx-EvM commented on #28861
@chrisbull I just use https://marketplace.visualstudio.com/items?itemName=rafamel.subtle-brackets

[2017-10-27 07:35] martinjbaker opened #37024 "Inconsistent bar colors for Git changes on left and right of editor"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:47:41.889Z)
- OS Version: Darwin x64 16.7.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
macros|ged|1.2.1
easysass|spo|0.0.6

Lines changed since last commit are shown with a vertical GREEN bar to the right of the line numbers and a BLUE bar in the scroll area on the right. This is confusing.

[2017-10-27 07:38] manast commented on #17079
As a complementary note, I managed to resolve my issue removing all config directories of VSCode in my mac, such as ~.vscode. After that the issue disappeared. Maybe some setting from version 1.5.3 that was incompatible with newer versions.

[2017-10-27 07:39] isidorn commented on #29715
Moving to november :)

[2017-10-27 07:41] #36979 closed

[2017-10-27 07:42] isidorn commented on #31054
@rafaelramalho19 can you try reproducing this with latest vscode insiders
https://code.visualstudio.com/insiders/

[2017-10-27 07:43] isidorn commented on #31330
Dup of https://github.com/Microsoft/vscode/issues/34026

[2017-10-27 07:43] #31330 closed

[2017-10-27 07:43] isidorn commented on #31851
@weinand do we want to do something here? Assigning to November and debt so we discuss.

[2017-10-27 07:45] isidorn commented on #33686
Can you please try reproducing this with the latest vscode insiders?
https://code.visualstudio.com/insiders/

Thank you

[2017-10-27 07:49] aeschli commented on #36908
Yes, this needs to be implemented in the grammar.
The grammar we use for php is https://github.com/atom/language-php. Please file a request there so that scopes are generated for the type name.

[2017-10-27 07:51] #34440 closed

[2017-10-27 07:53] dbaeumer commented on #37003
@bruno-vaz unfortunately not. This being said I don't think that this is caused by an extension. Extensions run in the own process and are therefore isolated from the editor. Unless your CPU is not very high when this happens I don't think that an extension can cause such an behavior. Especially since it seems you can copy/paste and delete but you can't type new characters.

You can do the followi

[2017-10-27 07:55] isidorn commented on #33599
In the latest insider I get a nice error.
Closing. @bpasero please reopen if you still see this

`Unable to write into workspace configuration file. Please open the file to correct errors/warnings in it and try again.`

[2017-10-27 07:55] #33599 closed

[2017-10-27 07:56] dbaeumer commented on #36969
@Ineigo unfortunately we don't speak Russian. Can you please provide the issue report in English.

[2017-10-27 07:58] dbaeumer commented on #36937
@MarkoBV19 what exactly do you mean by changes to my project. Edits you do inside VS Code. File changes outside of VS Code ?

[2017-10-27 08:04] wstaelens opened #37025 "Add syntax highlight support for PostScript language"
- VSCode Version: 1.17.2
- OS Version: Windows 10 x64 Pro 1709 Build 16299.19

Steps to Reproduce:

1. open a postscript file
2. Click on [Plain Text] at the bottom and type PostScript
3. No result for postscript...

Reproduces without extensions: Yes/No

[2017-10-27 08:04] tcoulter commented on #36492
For what it's worth, this new behavior in 1709 really bit me in the butt, not only in VSCode but in Edge as well. I prefer to use my pen for text selection over scrolling the screen (pretty much everywhere; and I use finger-based-touch to scroll), and it appears 1709 changed the default behavior of the pen to pan/scroll instead of text selection. There doesn't appear to be a way to change this beh

[2017-10-27 08:05] jrieken commented on #36939
haha, I should read more than the title. A dupe of #10801 (closed) because we actually don't know what's caused the change

[2017-10-27 08:05] #36939 closed

[2017-10-27 08:06] #35937 closed

[2017-10-27 08:07] felixfbecker commented on #36769
A lot of commands that are candidates to be run through the task system are configured through environment variables - which is why the tasks.json `env` option is great.
I can write a tasks.json that has a bunch of tasks that are interconnected with `dependsOn` and have individual problem matchers and they receive the same env vars.

But not everyone uses VS Code, so you will want to provide a way

[2017-10-27 08:07] lerit commented on #36988
this [problem ](https://stackoverflow.com/questions/14221579/how-do-i-add-comments-to-package-json-for-npm-install)tell me,package.json not allow '//'

[2017-10-27 08:08] jrieken commented on #36968
dupe of #28215

[2017-10-27 08:08] #36968 closed

[2017-10-27 08:08] maxibanki commented on #37025
For syntax highlighting the files from [textmate](https://github.com/textmate/postscript.tmbundle) could be used. This [one ](https://raw.githubusercontent.com/KDE/syntax-highlighting/master/data/syntax/postscript.xml)looks also good, is newer than the files from the other repo.

[2017-10-27 08:11] jrieken commented on #36246
<img width="323" alt="screen shot 2017-10-26 at 17 34 51" src="https://user-images.githubusercontent.com/1794099/32062169-fe8713c2-ba73-11e7-9a52-32dbb6e54be3.png">

We have changed the design to use the same color as for the label. Closing this

[2017-10-27 08:11] #36246 closed

[2017-10-27 08:12] maxibanki commented on #37012
@x1nGoo Can you try to reproduce it without extension?
For that start VS Code with the parameter: `--disable-extensions`

[2017-10-27 08:14] felixfbecker commented on #22318
Closing this, as JavaScript now has native [`AbortController`](https://developer.mozilla.org/en-US/docs/Web/API/AbortController/AbortController) and [`AbortSignal`](https://developer.mozilla.org/en-US/docs/Web/API/AbortSignal) classes already shipped in FF and Edge, which work just like CancellationTokens.
Abort errors have `name` set to `AbortError`.

![image](https://user-images.githubuserconten

[2017-10-27 08:16] jrieken commented on #36752
Two issues here, (1) *extremely* slow starting of additional processes on your machine. It takes around 5seconds (blocking) to start the extension host, file watchers etc... and (2) it does take a long time to set the menus (which is noticeable given the horrible spawn times)

<img width="1206" alt="screen shot 2017-10-27 at 10 15 11" src="https://user-images.githubusercontent.com/1794099/32094354

[2017-10-27 08:17] dbaeumer commented on #36769
Now I got it.

[2017-10-27 08:18] jrieken commented on #36752
The slow spawning issue is tracked here #24884, the slow menu here #21964. I am closing this as a dupe of those two issues. Thanks for reporting!

[2017-10-27 08:18] #36752 closed

[2017-10-27 08:18] jrieken commented on #36752
You wanna tweak your AV software as have heard this might be the cause for this: https://github.com/Microsoft/vscode/issues/24884#issuecomment-294877147

[2017-10-27 08:19] #22318 closed

[2017-10-27 08:20] robhaswell commented on #22841
I would like the option for the VS Code window to open occupying the maximum screen space (I'm on OSX, but the concept would be called "maximised"). I use a window manager called Spectacle to maximise windows and it is a pain having to do this for each new VS code session.

Perhaps VS Code could just remember its last geometry?

[2017-10-27 08:20] jrieken commented on #37021
dupe of #10561

[2017-10-27 08:20] #37021 closed

[2017-10-27 08:26] mybios commented on #9388
Doubleclick for file opening +1
 👎 1

[2017-10-27 08:27] atian25 commented on #10561
use `CompletionItem` to provide a `snippet` is hard to set `details`, any way to render the snippet with some locals programify, so we could set it to details.

[2017-10-27 08:41] maxibanki opened #37026 "Cannot read property 'panel' of undefined"
- VSCode Version: Code - Insiders 1.18.0-insider (e6a76e4bd3f52ab07452bb181e861f5a9bfb6596, 2017-10-27T04:19:22.491Z)
- OS Version: Windows_NT x64 6.1.7601
- Extensions:

Extension|Author (truncated)|Version
---|---|---
jshint|dba|0.10.15
vscode-eslint|dba|1.4.0
githistory|don|0.2.3
xml|Dot|1.9.2
tslint|eg2|1.0.13
vscode-abap|lar|0.1.0
Go|luk|0.6.66
code-beautifier|mic|1.7.2
debugger-for-chrome|ms

[2017-10-27 08:42] WilliamABradley commented on #10759
@bpasero Wouldn't it be possible to automate using this npm script?https://blogs.msdn.microsoft.com/appconsult/2017/03/14/convert-your-electron-app-using-the-desktop-bridge/
This produces an AppX Package without having to use the Desktop App Packager, although I'm not sure about package Signing.
You could then collect it from your output, and publish it to the Windows Store.

I was going to try an

[2017-10-27 08:49] Chillee commented on #36939
@jrieken I don't actually need to know it in the general case, I just need to know it for text edits that my extension is causing. It's a similar case for the remote editing plugin that the issue linked has.

For this more limited case, is it not possible using an approach similar to what I mentioned in the comment? I could try hacking something if it's something that might be feasibly merged.

[2017-10-27 08:51] maxibanki commented on #37026
This is the part where the exception occurs (Line 274 i think):
https://github.com/Microsoft/vscode/blob/10ba78f6f3d17116aa378188b71fbd01d5dea7a8/src/vs/workbench/browser/parts/views/panelViewlet.ts#L272-L279

[2017-10-27 08:51] aeschli commented on #29440
@lsvih In the issue title, you say it causes a 'crash'. I can't see that. I see that the syntax highlighting is confused because of the `.` in the `style` tag.
Is that the issue?

[2017-10-27 08:52] atian25 commented on #36118
hi, @weinand

had register, but the `provideDebugConfigurations` don't trigger, did I miss some config?
should I need to provide `contributes.debugger` ? how?

[code]

[2017-10-27 08:53] jrieken commented on #21964
I have created https://github.com/electron/electron/issues/10947 on the Electron side

[2017-10-27 08:54] #31274 closed

[2017-10-27 08:56] egamma commented on #36159
@diminutivesloop we need more information to track down this performance issue, please see https://github.com/Microsoft/vscode/wiki/Performance-Issues for the information we are looking for.

[2017-10-27 08:57] aipper opened #37027 "在linux环境下有时候来回切换二个文件的时候。二个文件的内容会变的一样"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:57:00.652Z)
- OS Version: Linux x64 4.9.53-1-MANJARO
- Extensions:

Extension|Author (truncated)|Version
---|---|---
bracket-pair-colorizer|Coe|0.10.10
vsc-material-theme|Equ|1.0.5
beautify|Hoo|1.1.1
output-colorizer|IBM|0.1.2
material-icon-theme|PKi|2.2.3
vscode-file-peek|abi|1.0.1
html-snippets|abu|0.1.0
vscod

[2017-10-27 08:58] x1nGoo commented on #37012
@maxibanki  it is well without extension.

[2017-10-27 08:59] egamma commented on #27728
Fixed by never adding `npm install` assuming that users run npm install from the command line and not as a task.

[2017-10-27 08:59] #27728 closed

[2017-10-27 08:59] weinand commented on #36118
@atian25 make sure that your debugger extension activates correctly by contributing this in package.json:
[code]

Please note that `provideDebugConfigurations` is only called for projects that do not have a launch.json. And you need to press debug's gear icon.

[2017-10-27 08:59] kaitoAckerman opened #37029 "File events are very delayed"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:57:00.652Z)
- OS Version: Linux x64 4.13.5-200.fc26.x86_64
- Extensions:

Extension|Author (truncated)|Version
---|---|---
beautify|Hoo|1.1.1
gitlens|eam|5.7.1
vscode-great-icons|emm|2.1.18
auto-close-tag|for|0.5.2
auto-rename-tag|for|0.0.14
laravel-blade|one|1.9.0
highlight-matching-tag|vin|0.4.4
vscode-todo-hi

[2017-10-27 08:59] x1nGoo commented on #37012
@maxibanki   it is good without extension

[2017-10-27 09:01] atian25 commented on #36118
`provideDebugConfigurations` don't support `add Configuration`?

Only had to config  `configurationSnippets`?

[2017-10-27 09:01] maxibanki commented on #37012
Please try to enable / disable extension for extension to see which extension is the cause for the long delay. Then create an issue in the github repository of it.

[2017-10-27 09:03] atian25 commented on #36118
as https://github.com/Microsoft/vscode/issues/34668 `DebugConfigurationProvider` should support `configurationSnippets` now

[2017-10-27 09:03] aeschli commented on #36485
@peterschussheim Yes, cssMain.ts is what you have to look at.
I understand your confusion with the vscode.d.ts. The problem is that colorpovider API are provisional API, and not yet part of vscode.d.ts. But they become API in the upcoming 1.18 release.
Things will get much easier then, so maybe just wait until then (it should come out in around 2 weeks).
Until then you need to add `"enableProposed

[2017-10-27 09:04] dbaeumer commented on #36350
Thanks for @bpasero this is done for October.

[2017-10-27 09:04] #36350 closed

[2017-10-27 09:06] dbaeumer commented on #35643
The terminal does have support to confirm on Exit. You can until we have the right solution in place use `"terminal.integrated.confirmOnExit": true`

[2017-10-27 09:07] x1nGoo commented on #37012
@maxibanki  sorry, I found it cause by my css file, my css file is too big.  It is good in small css file

[2017-10-27 09:07] maxibanki commented on #37025
@wstaelens Would this okay for you?
![image](https://user-images.githubusercontent.com/17984549/32096546-0ffdafe2-bb07-11e7-91e4-c3d565d622b0.png)

[2017-10-27 09:09] dbaeumer commented on #35369
in bash and node it is called basename. This is why I decided to name it the same. Will look if we have variables using basename as well and which style they use

[2017-10-27 09:10] dbaeumer commented on #35369
We do have fileBasename. So I will call it workspaceFolderBasename

[2017-10-27 09:11] #30010 closed

[2017-10-27 09:13] isidorn opened #37031 "Can not read property panel of undefined"
To repro, maybe open vscode extension with no panel open. Launch extension, panel gets opened and I see the exception

![screen shot 2017-10-27 at 11 12 10](https://user-images.githubusercontent.com/1926584/32096769-bd4ccc14-bb07-11e7-9b44-0b4bd28e7710.png)

[2017-10-27 09:14] weinand commented on #34668
Reopening since the `DebugConfigurationProvider` does not (yet) support to provide snippets.

[2017-10-27 09:14] x1nGoo commented on #37012
@maxibanki sorry, I found it may be caused by my css file, my css file is too big. It is good in small css file..
but sublime and Brackets are good.

[2017-10-27 09:14] wstaelens commented on #37025
sure, better this than nothing 👍

[2017-10-27 09:15] egamma commented on #34086
The npm task detection intentionally filters out `pre*` tasks, since they are run as part of another script and should not be run independently. The recommendation is if you want to run a task as a preLaunch task then it has to be a 'real' script and not a 'pre' or 'post' script.

[2017-10-27 09:15] #34086 closed

[2017-10-27 09:15] jrieken commented on #36754
Closing as check for ignore files won't report progress anymore

[2017-10-27 09:16] #36754 closed

[2017-10-27 09:16] maxibanki commented on #37025
I will make an extension and notify you once it is released.

[2017-10-27 09:18] Squiggle commented on #36754
Wow that was fast! I was just typing my response (I'll still post it here...)

I'm experiencing this issue (or similar?) in the latest production release (1.17.2) 64-bit, Windows 10.

It also renders the bottom left git buttons inoperable (synchronize changes, switching branch etc).

It works fine immediately after booting (for the first ~5 seconds), but then fails / freezes once my various consol

[2017-10-27 09:18] #35369 closed

[2017-10-27 09:18] aeschli commented on #37004
This issue was moved to atom/language-coffee-script#161

[2017-10-27 09:18] #37004 closed

[2017-10-27 09:20] weinand commented on #36118
I was wrong in closing #34668. Please see my comment there.

[2017-10-27 09:20] wstaelens commented on #37025
Great, thanks!

[2017-10-27 09:21] isidorn commented on #35340
@EricJizbaMSFT thanks for great repro steps
@dbaeumer @weinand thanks for suggestions on what to do here

[2017-10-27 09:23] aeschli commented on #34250
@mannyyang You are welcome, thanks for using VSCode and thanks for your help!

[2017-10-27 09:27] aeschli commented on #37019
Google translate:
When I click on an html tag it shades all the others, like I do so that when I click, I just hide the closing tag

Hi @gustavorg. This works for me in HTML files. Are you maybe in a PHP file? Also try to disable all extensions.
![image](https://user-images.githubusercontent.com/6461412/32097425-d9ca955e-bb09-11e7-88e0-5cce57f91e1d.png)

[2017-10-27 09:29] TryingToFindALoginWhichIsNotRegistered opened #37032 "[folding] Ctrl click should fold/unfold all sibling regions"
Code-folding formattes sometimes wrong (espacially in php, I know, it is not supported completely): If you have a comment like:

is folded wrong, because the comment ends on  a different level than it starts (but it is common php-style). It would be great to have an option i.e. [ctrl] + click on the [-] in front of the function, that closes all functions at once (instead of [ctrl][k]+[ctrl][2], wh

[2017-10-27 09:30] JohnArcher commented on #585
@auchenberg brought me here (thanks!).

If I am not wrong it seems there are slightly different types or understandings of the term "semantic highlighting". I want to use it in JavaScript, and my main wish here is that **every identifier/variable** has it's own unique color, consistently in the whole project.

With Sublime Text I used the great plugin [Colorcoder ](https://github.com/vprimachenko/

[2017-10-27 09:33] nicemaker commented on #27731
*works* for me with latest node and latest visual studio, running debug mode via npm. I use nodemon to track file changes.

In package.json:
[code]

I run debug script via terminal, always running in background and restarting automatically on file changes. Make sure you use --inspect-brk.

Then default debug launch configuration for node from latest VS Code:
[code]

[2017-10-27 09:34] aeschli commented on #37012
You say this works well without extensions. It must be an extension that slows down everything. If you can find out which one, that would be great. Please file an issue against that extension.
My guess is that it's the 'bracket-pair-colorizer'.

[2017-10-27 09:34] #37012 closed

[2017-10-27 09:37] dbaeumer commented on #35048
Got fixed by having a qualified name in the task drop down.

[2017-10-27 09:37] #35048 closed

[2017-10-27 09:37] maxibanki commented on #37025
Extension is published, just search for `PostScript`.

[2017-10-27 09:38] isidorn commented on #36976
Can not repro.
Do you see this with latest?
Of course if the first folder is collapsed I will keep it collapsed as I should imho

![expandfolder](https://user-images.githubusercontent.com/1926584/32097898-4b57d686-bb0b-11e7-8289-fa9af33f7036.gif)

[2017-10-27 09:38] taalas commented on #6392
Still not sure what is happening tbh.

When pasting HTML code indentation is almost always incorrect. CTRL-Z fixes this. What is doing the additional step when pasting?

In regards to the new parameter "editor.formatOnPaste": Should it be true (because it needs a third formatting step) or should it be false (because the mysterious second step will be skipped)?

[2017-10-27 09:39] isidorn commented on #29590
@Tyriar should I postpone this for November?

[2017-10-27 09:41] equinusocio commented on #36246
Nice!

[2017-10-27 09:42] wstaelens commented on #37025
Thanks, may be closed. works perfectly! You guys rock!

[2017-10-27 09:43] x1nGoo commented on #37012
@aeschli  sorry, later I found that it is not good in large css file without extension

[2017-10-27 09:48] maxibanki commented on #37025
You can close it yourself, just press the `Close issue` button. :smiley:

[2017-10-27 09:50] #37025 closed

[2017-10-27 09:52] rafaelramalho19 commented on #31054
Everything seems fine @isidorn, thank you 🎉

[2017-10-27 09:52] ffocsi commented on #35783
It takes me about 5-10 seconds extra to find the icon when I need it now ever since it changed.

[2017-10-27 09:52] DaniilVystoskiy commented on #24163
@utilityboy, Hi! Is there any work around? )

[2017-10-27 10:00] maxibanki commented on #37031
Duplicate of #37026

[2017-10-27 10:10] joaomoreno opened #37033 "Support `ext install pub.name`"
We should support the `ext install pub.name` global command. This should bypass extension searching and simply ask to install the extension.

cc @sandy081

[2017-10-27 10:15] joaomoreno commented on #36085
That is how git works. You must remove the file from the repository. Glad it works now.

[2017-10-27 10:15] #36085 closed

[2017-10-27 10:17] joaomoreno commented on #36572
Does it work from the Command Prompt?

[2017-10-27 10:18] joaomoreno commented on #36558
Can you completely uninstall and reinstall VS Code? Thanks.

[2017-10-27 10:18] #36558 closed

[2017-10-27 10:18] joaomoreno commented on #36255
OK good to know. We've fixed this in `master`. Thanks for reporting!

[2017-10-27 10:18] #36255 closed

[2017-10-27 10:19] joaomoreno commented on #36498
Can you show me a screenshot of the terminal?

[2017-10-27 10:20] joaomoreno commented on #36602
You probably configured that behaviour in your keybindings file. Please check it.

[2017-10-27 10:20] #36602 closed

[2017-10-27 10:20] joaomoreno commented on #36605
Good catch!

[2017-10-27 10:21] joaomoreno commented on #36608
We don't support ARM yet.

[2017-10-27 10:21] #36608 closed

[2017-10-27 10:21] suciuvlad commented on #37006
Thanks!

[2017-10-27 10:22] joaomoreno commented on #36619
That is for performance.

[2017-10-27 10:22] #36619 closed

[2017-10-27 10:22] joaomoreno commented on #36642
Fixed in `master`. Duplicate of something.

[2017-10-27 10:22] #36642 closed

[2017-10-27 10:29] joaomoreno commented on #36633
That's very odd... Can you try to reproduce?

1. Fully uninstall Code
2. Install [1.17.1](https://vscode-update.azurewebsites.net/1.17.1/win32-x64/stable) on `D:` again
3. Get an update

Does it reproduce?

[2017-10-27 10:35] joaomoreno commented on #36712
Can you show me what you mean with a screenshot?

[2017-10-27 10:39] weinand commented on #36988
@isidorn, @dbaeumer  just use this package.json:
[code]
and this launch.json:
[code]

F5 results in this error:
![2017-10-27_12-32-09](https://user-images.githubusercontent.com/1898161/32100040-e7588aec-bb12-11e7-9be4-73a8af7e9370.png)

All tasks in a package.json with syntax errors are invalid and should result in a more informative error message.

[2017-10-27 10:41] joaomoreno commented on #36696
@PeterWAWood https://github.com/Microsoft/vscode/issues/7426#issuecomment-277737150

Closing since there's no actual details here.

[2017-10-27 10:41] #36696 closed

[2017-10-27 10:42] joaomoreno commented on #36727
Can you show me a screenshot?

[2017-10-27 10:42] deenjohn commented on #35783
I think the year 2017 already has enough trouble with "Orange"  (pun intended) .....

Blue is a soothing color

[2017-10-27 10:43] joaomoreno commented on #36131
@roblourens Why is `vscode-chrome-debug-core` still alive after Code quit?

[2017-10-27 10:44] joaomoreno commented on #36741
You can disable auto fetch with `"git.autofetch": false`. It will be disabled by default soon.

[2017-10-27 10:44] #36741 closed

[2017-10-27 10:47] joaomoreno commented on #36479
@alexandrudima Can you reproduce?

cc @bpasero @aeschli and all the theme guys... since I didn't touch anything here.

[2017-10-27 10:50] joaomoreno commented on #35596
https://github.com/Microsoft/vscode/issues/33752

[2017-10-27 10:50] #35596 closed

[2017-10-27 10:51] isidorn commented on #35075
I consider this state a warning since a user can continue working thus I am coloring using a warning orange color. I tried using the warning unicode character but it is too small, thus I ended up using a simple explamation mark. Here's the result

![screen shot 2017-10-27 at 12 49 25](https://user-images.githubusercontent.com/1926584/32100750-4a42f4f6-bb15-11e7-9aa1-3ab215620e14.png)

[2017-10-27 10:51] #35075 closed

[2017-10-27 10:52] joaomoreno commented on #36772
We won't suggest to initialise a git repo on an open folder. It's a too far fetched assumption.

You can <kbd>Ctrl Shift P</kbd>, `init`.

[2017-10-27 10:52] #36772 closed

[2017-10-27 10:52] isidorn commented on #31054
Great, thanks for checking, thus I am closing

[2017-10-27 10:52] #31054 closed

[2017-10-27 10:53] joaomoreno commented on #36751
@bpasero This could be an Electron regression.

[2017-10-27 10:55] horvathgyozo commented on #36968
So, the answer, that right now it is not possible to autocomplete and cycle through the suggestions without opening the suggestion widget.
The referenced duplicate is different in a way that I do not want to open the popup/widget to include word based suggestions.

[2017-10-27 10:57] dbaeumer commented on #32042
@Tyriar I looked at the new line data listener and it looks promising. However there is one thing I would like to see add to make it work nicely. The listener should fire with the last line when the process terminates. This ensures that no data is lost even if the last line doesn't end with a CR

[2017-10-27 11:00] KayLeung opened #37034 "Improve keybindings.json UI to show extension changing the shortcuts in `Source` column"
When you enabled a keymap extension https://github.com/k--kato/vscode-intellij-idea-keybindings , that changed the default shortcuts. But on the keybindings.json UI, it always shows "Default" for "Source" column. It's misleading

- VSCode Version: 1.17.2
- OS Version: Windows 10

Steps to Reproduce:

1. Install an extension: https://github.com/k--kato/vscode-intellij-idea-keybindings
2. Open Keybo

[2017-10-27 11:14] TheWozMSN commented on #36630
Further Comment.  Docker-Compose works in a regular powershell command window.  Not with Integrated Powershell

[2017-10-27 11:24] stenmuchow commented on #35527
Every time I update OSX i get such crap... Im gonna try the insider update and see what happens. Remember when OSX made good softwear? Nah - me neither :(

[2017-10-27 11:32] sumbrez commented on #36633
It didn't reproduce. Now I think there's something wrong with my Windows.  A recent system update made many files' permission abnormal, although I uninstalled it at once, I doubt that this issue existed before the system update.

[2017-10-27 11:32] #36633 closed

[2017-10-27 11:33] stenmuchow commented on #35527
@bpasero the insider install via the link you shared seems stable - for now.

https://puu.sh/y8nTO/404f2c44ee.png

[2017-10-27 11:36] #37031 closed

[2017-10-27 11:48] sandy081 commented on #37033
Related #26389

[2017-10-27 11:49] maxibanki commented on #37027
Translated via Google Translator:
`In the Linux environment sometimes switch back and forth when the two files. The contents of the two files will change the same.`

@aipper Please give us more information and if you can reproduce it, a testcase. In english please.

[2017-10-27 12:13] zygimantas opened #37037 "Editor ruler setting puts a line in wrong position"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
ng-template|Ang|0.1.7
bracket-pair-colorizer|Coe|0.10.10
EditorConfig|Edi|0.11.1
tslint|eg2|1.0.12
beautify|Hoo|1.1.1
csharp|ms-|1.12.1
vscode-icons|rob|7.16.0
---

Steps to Reproduce:

1. Add "edi

[2017-10-27 12:13] sadransh opened #37038 "move that info banner when an action is done to some where else"
- VSCode Version: 1.17.1
- OS Version: windows 10

i think it is better to move that info banner when some action is done to some other place link bottom of page .
i mean this :
![image](https://user-images.githubusercontent.com/12527824/32103452-4db62c4e-bb2d-11e7-9c12-a62172da66cd.png)
reasons :
1. it comes in front of tabs and it hides them everytime i should press that close button first
2. it

[2017-10-27 12:28] shimielder opened #37039 "Cannot read property 'panel' of undefined"
- VSCode Version: Code - Insiders 1.18.0-insider (e6a76e4bd3f52ab07452bb181e861f5a9bfb6596, 2017-10-27T04:19:22.491Z)
- OS Version: Windows_NT x64 6.1.7601
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-database|baj|1.2.0
jshint|dba|0.10.15
vscode-eslint|dba|1.4.0
githistory|don|0.2.3
python|don|0.7.0
xml|Dot|1.9.2
vsc-material-theme|Equ|1.0.5
code-runner|for|0.8.2
extensio

[2017-10-27 12:29] CzBuCHi opened #37040 "npm package 1.1.6 missing vscode.d.ts"
npm package 1.1.6 has missing type definitions - package.json is referencing it but there is no vscode.d.ts file.

package 1.1.5 has this file pressent

[2017-10-27 12:30] maxibanki commented on #37039
Duplicate of #37026

[2017-10-27 12:36] mattacosta commented on #34086
I don't agree with that recommendation for these reasons:
- In the above example, Code provides a default test configuration, which is not run via npm.
- Even though I can see why those scripts are hidden from the "Run task..." menu, I don't see why they should be filtered from configuration files. Developers should decide what's a "real" script, not Code.
- From a UX standpoint, I don't generally

[2017-10-27 12:36] DanTup commented on #30010
@jrieken Awesome, thank you! :-)

[2017-10-27 12:37] maxibanki commented on #37040
Since the `vscode` npm package will be managed in [this](https://github.com/Microsoft/vscode-extension-vscode) repository, create an issue there.

[2017-10-27 12:42] mikemaccana commented on #13612
**Having moved from 1.17.2 to 1.18.0-insider scrolling performance is now fixed.**

Anyone else want to try the current insider build and report their results?

[2017-10-27 12:45] peterschussheim commented on #36485
@aeschli Hi Martin, thank you for confirming `cssMain.ts` as a good reference, this clears up my confusion.  :+1:

[2017-10-27 12:47] a-gn commented on #13612
The problem seems to be fixed in 1.18.0. I had it on an XPS 15, now files scroll smoothly with the touchpad. Thanks to the devs.

[2017-10-27 12:54] sandy081 opened #37041 "Adopt accessing configuration API correctly"
In #36623 - I warn those accessing configuration API to get  a value for resource configuration without passing a resource or to get a value for window configuration by passing resource.

**Error prone:**
- If you are accessing the value for resource configuration of a resource, you should be passing the resource.

**Good practice:**
- If you are accessing the value for resource configuration of a

[2017-10-27 12:55] alanosman commented on #13612
I just tried it on my Surface Book (the latest preview build) and it's much better.  It's not a buttery scroll like one would expect, but it's a lot better than before.

[2017-10-27 13:03] strongui commented on #32887
Same issue on 1.17.2, disabling autosave did it. Kind of annoying fix though.

[2017-10-27 13:05] smbkr opened #37042 "Suggestion: Highlighting text in terminal should add it to clipboard"
This is how most other terminal emulators work, at least in the Mac world. Could be configurable and disabled by default if most users prefer/expect the current behaviour.

Expected:
I highlight some text in the integrated terminal, it should be on my clipboard.

Actual:
The text is highlight but I have to right click or press cmd-c to copy the text.

[2017-10-27 13:16] jwarkentin commented on #35010
So it sounds like this is a more fundamental issue with whatever is handling keyboard event bindings in general. If I have an event bound to `Alt` then my handler should only fire when that is the only key pressed. Whatever is in charge of firing keyboard event bindings right now must not be checking for exclusivity of the bound key combination before firing handlers.

[2017-10-27 13:21] SteveStrongBAH commented on #32530
Sorry guys this problem is back,   installing 64 bit version on win 10 machine.   I do not have full admin rights.  working in corporate environment.   what do I need to help you fix this problem

[2017-10-27 13:27] a-eid commented on #36755
I have a similar issue ,
it also does not load the correct font for some reason , I am using "Fira Code" , it just load a system font .
I am also using vscodevim and it has missed up some of the key binding .

[2017-10-27 13:29] sharedprophet commented on #585
@JohnArcher I maintain the [semanticolor](https://atom.io/packages/semanticolor) package for Atom, and have been following this thread waiting to be able to port it to VSCode. So I'm right there with you. 😄

[2017-10-27 13:34] jrieken commented on #36754
I'd say similar because this is about 1.18.0-insiders

[2017-10-27 13:43] joaomoreno commented on #36818
https://github.com/jirsbek/SSH-keys-in-macOS-Sierra-keychain

[2017-10-27 13:43] #36818 closed

[2017-10-27 13:44] dbaeumer commented on #32042
@Tyriar  just to be sure that I understand `onLineData` correctly. If a process outputs a line in the terminal and that line is split onto three lines when rendered in the terminal the `onLineData` listener is fired three times. Is this correct (this is at least what my demo case shows).

Assuming it is I would need an additional API to read the width of the terminal to implement the proposal from

[2017-10-27 13:45] joaomoreno commented on #36815
It's not included in VS Code. You must install it.

[2017-10-27 13:45] #36815 closed

[2017-10-27 13:46] joaomoreno commented on #36824
How did you install Node JS?

[2017-10-27 13:46] Densi27 opened #37043 "Go to Definition not working for C"
Hello,

The "Go to Definition" function is not working for C files, same for menu, F12 and hyperlink.

Kind regards,
Daniel

- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 6.1.7601
- Extensions:

Extension|Author (truncated)|Version
---|---|---
Bookmarks|ale|0.17.0
code-gnu-global|aus|0.2.2

---

Steps to Reproduce:

[2017-10-27 13:46] joaomoreno commented on #36472
So, in git terms, what is a changelist?

[2017-10-27 13:47] maxibanki commented on #37043
Since this is an issue for the C/C++ extension, please create an issue [there](https://github.com/Microsoft/vscode-cpptools/issues).

[2017-10-27 13:48] dbaeumer commented on #37040
@maxibanki that is true. Thanks!

@CzBuCHi the file is missing on purpose. When you install the vscode package it comes with a script to fetch the vscode.d.ts version based on the version you prereq in the package.json file. You can either get it by executing the `node ./node_modules/vscode/bin/install` or by using vs codes yeoman generator.

[2017-10-27 13:48] #37040 closed

[2017-10-27 13:49] dbaeumer commented on #37039
Closing as dup of #37026

[2017-10-27 13:49] #37039 closed

[2017-10-27 13:50] #37026 closed

[2017-10-27 13:50] dbaeumer commented on #37043
@Densi27 and you need to install the Cpp extension as well to get Goto definition support for C++

[2017-10-27 13:50] #37043 closed

[2017-10-27 13:51] joaomoreno commented on #36856
Good to know.

[2017-10-27 13:51] #36856 closed

[2017-10-27 13:52] joaomoreno commented on #36789
https://www.digitaltrends.com/computing/how-to-set-default-programs-and-file-types-in-windows-10/

[2017-10-27 13:52] #36789 closed

[2017-10-27 13:55] joaomoreno commented on #36653
@benhamlin Does running `git status` touch cause the same effect?

[2017-10-27 13:55] joaomoreno commented on #36874
This is fixed in `master`.

[2017-10-27 13:55] #36874 closed

[2017-10-27 13:56] DragomirStefan commented on #36824
I installed node by running the install available at nodejs.org. Yes, node.js is in %PATH%. Even when loading a folder in VSCode from a "Recent Workspaces" shortcut, when VSCode is not finding node, I can go to the command prompt, type 'node --version' and the command is recognized, the version of node gets printed out.

Can you repro the problem? Are there any logs you want me to provide?

[2017-10-27 13:56] joaomoreno commented on #36885
@mradbourne Wanna attempt a PR? All changes should be contained in the `extensions/git` folder.

[2017-10-27 14:00] joaomoreno commented on #36833
https://github.com/Microsoft/vscode/issues/10007

[2017-10-27 14:00] #36833 closed

[2017-10-27 14:02] joaomoreno commented on #36201
So. It is definitely the `git` extension right? If the folder is there you have the issue, if it's not then you don't. Right?

Is there any way we can do a remote screen sharing session? Let me know a good time for you.

[2017-10-27 14:02] mtsh1000 commented on #36955
@isidorn , I have updated the issue comment

[2017-10-27 14:04] joaomoreno commented on #35741
Guys please stop hijacking this issue.

If you don't have Git installed, install it.

If you do, and something doesn't work please file an issue and I'll look at it independently.

[2017-10-27 14:04] #35741 closed

[2017-10-27 14:05] isidorn commented on #36955
@mtsh1000 please answer my other question, can you reproduce with latest vscode insiders

[2017-10-27 14:05] joaomoreno commented on #36958
@bpasero Can we do this in the file label?

[2017-10-27 14:07] joaomoreno commented on #36984
No... the name should show up...

@IgorNovozhilov In the devtools, can you show me a screenshot of the DOM explorer around those `Git` labels? There should be another DOM node with the name of the folders of the git repo roots.

[2017-10-27 14:08] joaomoreno commented on #36983
https://github.com/Microsoft/vscode/issues/34404

[2017-10-27 14:08] #36983 closed

[2017-10-27 14:10] joaomoreno commented on #36912
Personally, I don't think it's a problem currently and I would just keep it.

[2017-10-27 14:11] willielee opened #37044 "Integrated Terminal not loading"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 10.0.14393
- Extensions: none
---

Steps to Reproduce:

1.  Ctrl + ` (to start Integrated Terminal)

When starting Integrated Terminal, prompt never appears.

Errors in Developer Tools Console:

event handler as 'passive' to make the page more responsive.
C:\Program Files

[2017-10-27 14:12] joaomoreno commented on #31637
@cleidigh Unfortunately you'll have to wait for @rebornix to return, he's currently on leave. But feel free to start crafting a PR which makes your life easier yeah! 👍

[2017-10-27 14:12] joaomoreno commented on #37024
We don't want to overcrowd the scrollbar with too many colors, especially since red errors and green warnings appear there. So all scm changes appear as blue in there.

[2017-10-27 14:12] #37024 closed

[2017-10-27 14:12] alexandrudima commented on #36859
@saybabi can you please provide any reproducible steps ? Does this reproduce when disabling all extensions ?

[2017-10-27 14:13] alexandrudima commented on #32530
@SteveStrongBAH please open a separate issue with as much information as possible.

[2017-10-27 14:15] joaomoreno commented on #37029
Can you provide better steps?

You simply open Code and no changes come up? Then you edit files and no changes come up?

[2017-10-27 14:15] isidorn commented on #197
Dup of https://github.com/Microsoft/vscode/issues/34026

[2017-10-27 14:15] #197 closed

[2017-10-27 14:16] joaomoreno commented on #37029
If you open the Explorer and then delete a file outside Code, does the file disappear from the Explorer view? Are file events working?

[2017-10-27 14:16] alexandrudima commented on #36479
@joaomoreno  I see this every now and then since at least 6 months. I could never reproduce reliably so I didn't create an issue for it.

Perhaps @uudashr can give us a bullet-proof repro ?

[2017-10-27 14:18] mscottx88 commented on #35741
I think that was where we were going. I've had git installed for ages and
without cause or reason, VS code stopped recognizing it was installed.

I reinstalled git and it managed to resolve the issue, nonetheless, it
would be great to understand _why_

On Fri, Oct 27, 2017, 7:05 AM João Moreno <notifications@github.com> wrote:

[2017-10-27 14:18] alexandrudima commented on #37003
@dbaeumer Some extensions might think a good idea to `registerCommand('type')`. So, extensions can effectively delay typing indefinitely. One of those extensions is stealing typing in the editor.

[2017-10-27 14:19] joaomoreno commented on #36824
I can't repro the problem. There are no logs unfortunately.

If you open the `Developer Tools` in Code, in the Console what does `process.env.PATH` return?

[2017-10-27 14:20] joaomoreno commented on #36479
@alexandrudima What theme are you using?

[2017-10-27 14:21] isidorn commented on #23036
This should be fixed in latest vscode insiders
@amesmr let me know if that is not the case and I will reopen, thanks

[2017-10-27 14:21] #23036 closed

[2017-10-27 14:21] isidorn commented on #24027
Dup of https://github.com/Microsoft/vscode/issues/34026

[2017-10-27 14:21] #24027 closed

[2017-10-27 14:22] isidorn commented on #24589
This is dup of https://github.com/Microsoft/vscode/issues/35340

[2017-10-27 14:22] #24589 closed

[2017-10-27 14:23] D3kss commented on #37003
Hi

So you told me what might be the issue.

So how to fix it ?

Thanks

________________________________
From: Alexandru Dima <notifications@github.com>
Sent: Friday, October 27, 2017 7:19 AM
To: Microsoft/vscode
Cc: D3kss; Mention
Subject: Re: [Microsoft/vscode] No keyboard respose (#37003)

@dbaeumer<https://github.com/dbaeumer> Some extensions might think a good idea to registerCommand('type')

[2017-10-27 14:23] nocke commented on #32529
As advice to googlers coming here through google on this deprecation warning (this page ranks 1st or 2nd...). This feature now exists!

1. ensure your Node Version is ≥ 8.0

`node --version`

2. change in your `launch.json` from
[code]
Problem solved (=feature activated). On your next run...
`Debugging with inspector protocol because Node.js v8.4.0 was detected...`

[2017-10-27 14:24] isidorn commented on #25996
@huangtengfei Can you still reproduce this with latest vscode insiders?
https://code.visualstudio.com/insiders/

[2017-10-27 14:26] alexandrudima commented on #37003
@D3kss What extensions do you have installed? Does the issue reproduce for you when disabling all extensions? We need to narrow down and find which one extension is causing this.

[2017-10-27 14:27] isidorn commented on #28508
Closing as dup of https://github.com/Microsoft/vscode/issues/34026

[2017-10-27 14:27] #28508 closed

[2017-10-27 14:27] weinand commented on #32529
Since `"protocol": "auto"` is the default anyway, there is no need to use an explicit `protocol` attribute.

[2017-10-27 14:30] martinjbaker commented on #37024
Well it's just confusing to have 2 colors. Change the left hand bar to blue if you don't want blue on the right...

[2017-10-27 14:34] xdaimon opened #37045 "Please allow right-click -> open preview for all markdown files."
It seems that we can only 'right click -> open preview' for markdown files that are in the folder that's currently open in vscode.
It would be nice if we could open a preview for any markdown file that has an entry in the sidebar.

[2017-10-27 14:37] D3kss commented on #37003
The issue happened after i installed a lot of extensions.
So i have to disabled all and add some extensions again?

________________________________
From: Alexandru Dima <notifications@github.com>
Sent: Friday, October 27, 2017 7:26 AM
To: Microsoft/vscode
Cc: D3kss; Mention
Subject: Re: [Microsoft/vscode] No keyboard respose (#37003)

@D3kss<https://github.com/d3kss> What extensions do you have i

[2017-10-27 14:38] kaitoAckerman commented on #37029
step
1 ) open vscode
2) start editing my code in my working directory
3) the code that I change does not appear in vscode source control as the image before
4) open up a terminal with `ctrl+backtick`.
5) run `git status`, (change detect on terminal but not on vscode source control section)

after I spent a long time with vscode, It actually detects the change I make after a few minutes. It's not h

[2017-10-27 14:42] mklemarczyk commented on #36752
@jrieken  I do not know about reporter, but I do not have AV other than built in Windows 10.

[2017-10-27 14:42] sandy081 commented on #36884
@jerry-sunny Can you please try pointing your extension-directory to a different directory and try.
To do this, start code as follows

code --extensions-dir <path>

[2017-10-27 14:44] maxibanki opened #37046 "TypeError: Cannot read property 'addMatch' of undefined"
- VSCode Version: Code - Insiders 1.18.0-insider (e6a76e4bd3f52ab07452bb181e861f5a9bfb6596, 2017-10-27T04:19:22.491Z)
- OS Version: Windows_NT x64 6.1.7601
- Extensions:

Extension|Author (truncated)|Version
---|---|---
jshint|dba|0.10.15
vscode-eslint|dba|1.4.0
githistory|don|0.2.3
xml|Dot|1.9.2
tslint|eg2|1.0.13
vscode-abap|lar|0.1.0
Go|luk|0.6.66
postscript|max|1.0.0
code-beautifier|mic|1.7.2
d

[2017-10-27 14:48] borysl commented on #26691
If I am the third how should we ask for sign off?

[2017-10-27 14:49] nwayve commented on #13592
This issue just started happening to me recently as well after installing the extension Node TDD to try out its features.  After a couple days of this frustration I put two and two together, and uninstalled the Node TDD extension.  Doesn't seem to be having issues anymore.

As much of a pain as it will be, I recommend resetting User/Project settings to their defaults and disabling vscode extension

[2017-10-27 14:51] fabiospampinato commented on #33096
@isidorn for what reason? If it's lack of time I could try to make a PR for this.

[2017-10-27 14:51] alexandrudima commented on #37003
I have just installed all the extensions listed by @bruno-vaz and could not find one which overwrites `type`. @bruno-vaz are all your extensions up-to-date ?

@D3kss I am sorry, but we currently don't have any way to pinpoint which extension does what. Does this issue reproduce all the time for you? In all file types (e.g. `.txt`) ?

[2017-10-27 14:52] DragomirStefan commented on #36824
It returns the correct %PATH% system variable.

I cannot repro the problem anymore. Don't know what happened, I did not update VSCode or any of the node packages I was using.

[2017-10-27 14:53] dblatner commented on #33785
Your Solution works perfectly when VS Code is installed on the default location. I'm using the 64-bit version. Thank you @lethevimlet !

[2017-10-27 14:55] kpetrow commented on #27924
Same issue. BUMP

[2017-10-27 14:56] bajras opened #37047 "colorCustomizations"
Im using the Code Insider and having issues with `editor.selectionBackground`. It doesn't work the same on different file types. It works on HTML and JSON files but doesnt on CSS or JS files. when I double click on a word it doesnt add the background color.

![screen shot 2017-10-27 at 9 25 34 am](https://user-images.githubusercontent.com/3359989/32110299-d12bb5de-bafc-11e7-92fb-dd1cb8b973cd.png)

[2017-10-27 15:04] kzhui125 commented on #29440
crash at VSCode June release, it works fine now.

[2017-10-27 15:08] alexandrudima commented on #36479
@joaomoreno AFAICT It is a layout-related problem, unrelated to themes, font settings or anything else.

reproducible example:
* vscode stable
* `package.json`
[code]
* `index.js`:
[code]
* have a file which on line 12 has ~400 chars. e.g.:
[code]

Now scroll horizontally. At one point (a certain horizontal scroll), the hover background will start to ... disappear:

![36479](https://user-images.gi

[2017-10-27 15:09] bruno-vaz commented on #37003
@dbaeumer The profile generated is attached below.
I followed the first 3 steps, then I reloaded the window, tried to type (_asd asd asd_) and stopped the recording.

[Profile-20171027T130636.zip](https://github.com/Microsoft/vscode/files/1422483/Profile-20171027T130636.zip)

[2017-10-27 15:11] jlock64 commented on #6392
What worked for me was downloading the extension "Paste and Indent" and once enabled going to my "user settings" ( shortcut CTRL + , ) and pasting in "pasteAndIndent.selectAfter": true into your custom settings.

Hope that helps. This was driving me nuts

![vscode custom settings](https://user-images.githubusercontent.com/16665681/32111091-8025b094-bb07-11e7-9b54-cfbf0c3f8877.jpg)

[2017-10-27 15:12] roblourens commented on #36131
It says "the system cannot find the path specified", it looks like those files are missing during install? I don't know why that would be? I don't think the debug adapter is using them, if that's what you mean.

[2017-10-27 15:15] alexandrudima commented on #37003
@bruno-vaz Typing immediately after starting up is delayed until the extension host finishes initialization due to a bug introduced in 1.17 where emmet blocks typing on startup. See
 https://github.com/Microsoft/vscode/issues/36575#issuecomment-338938050

Are you experiencing this problem immediately after starting up and then, once the extension host is up and running, it goes away ?

[2017-10-27 15:15] #36623 closed

[2017-10-27 15:20] sandy081 commented on #35884
No, I think this does not makes sense. We also do not prompt when user executes the command `Reload Window`.

I will remove the additional dialog.

[2017-10-27 15:21] comath11 opened #37048 "EISDIR error when trying to save file on network drive"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 10.0.10586
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vsc-material-theme|Equ|1.0.5
cpptools|ms-|0.14.0
reloaded-cpp|rel|0.1.6
partial-diff|ryu|0.4.0
ayu|tea|0.8.0

(14 theme extensions excluded)

---

When trying to save a file on a network drive, I g

[2017-10-27 15:21] alexandrudima commented on #37003
@bruno-vaz To validate that is the root cause, can you please:
* go to the install location of VS Code `\resources\app\extensions\emmet\package.json`

And remove line 18, `"onCommand:type",`:

![image](https://user-images.githubusercontent.com/5047891/32111590-2d5e9608-bb3b-11e7-9381-9ff43c823655.png)

Does the problem reproduce after this change ?

[2017-10-27 15:21] #35884 closed

[2017-10-27 15:22] sandy081 commented on #33021
Added good coverage during this milestone. But still not complete.

[2017-10-27 15:27] zxzb commented on #8154
This might be a solution without installing extensions. Not sure if this solves the problem completely but I'm satisfied with it.

"Preferences" -> "Keyboard Shortcuts" -> "cursorRight" -> "^ F" (ctrl+F on Mac).

The default key binding could be changed at your wish. This only moves the cursor right one character so it only works for one pair of symbols.

[2017-10-27 15:27] sandy081 commented on #35262
Market place has different limitations at different levels. From Market place team

We have a backlog Item to refine this search restriction.
Till then, I would suggest to retain 200 characters limit in VScode (same as marketplace web site limit).

Since we are giving a query directly, we are hitting words limitation. As they suggested I will be sticking to 200 characters.

[2017-10-27 15:27] #35262 closed

[2017-10-27 15:31] bruno-vaz commented on #37003
@alexandrudima after commenting this line, the problem indeed goes away.
The strange thing is that sometimes it takes more than a whole minute to work again, so maybe I have another extension that takes a lot of time to start up and because of that emmet stays blocking input?

[2017-10-27 15:33] #36327 closed

[2017-10-27 15:33] mirabalj commented on #7866
I have the same problem in Elementary OS, with VS 1.17.1. Some fix? Thanks in advance.

[2017-10-27 15:37] harrytallbelt commented on #21559
Same thing happened after finally installing ttf-mscorefonts-installer package on Ubuntu 16.04. So it isn't really a bug - before installing the fonts Code probably just fell back on Liberation Mono, which happen to look nicer on Ubuntu.

[2017-10-27 15:45] alexandrudima commented on #19988
@amackintosh The last screenshot is of parameter hints. `editor.parameterHints: false`. As for the type information hover, perhaps @mjbvz can transmit or capture the feedback to the TS team that the type information becomes useless in JavaScript when the type requires more than 100 chars to convey (i.e. is very complex or "not-nameable").

[2017-10-27 15:47] rdlaner commented on #16927
+1!

[2017-10-27 15:50] alexandrudima commented on #37003
Yes, here is what happens in 1.17:
* our built-in emmet extension added an activation event for `onCommand:type`. That's a bug, which we have fixed on master.
* this means that the first, second, etc. typing in the editor (which dispatches the command `type`) will wait for emmet to activate. Once emmet activates, typing no longer communicates or depends on the extension host.
* if the extension ho

[2017-10-27 15:51] #36411 closed

[2017-10-27 15:51] #36506 closed

[2017-10-27 15:55] deadlyfingers commented on #1918
For others encountering the same issue in VSCode on a Mac with the "Format Document" command missing when editing C# script try adding a "project.json" file in the root project folder with a version tag worked as suggested by @jrieken
[code]

[2017-10-27 15:56] alexandrudima commented on #37037
I agree this might be different than Visual Studio, but we have made an explicit decision to behave this way.

See https://github.com/Microsoft/vscode/issues/34477#issuecomment-331393607

The description of the `editor.ruler` setting tries to convey this behaviour. I'm sorry if this +/-1 is annoying when configuring VS Code, but IMHO setting a ruler at 120 and it being painted after 120 chars (wha

[2017-10-27 15:56] #37037 closed

[2017-10-27 16:00] jrieken commented on #36721
@jeasonstudio You were likely hit some "work-in-progress"-issues. Can you try again with latest insiders has many things have changed by now. Thanks

[2017-10-27 16:03] alexandrudima commented on #36921
Yes, `window.zoomLevel` is [buggy](https://github.com/Microsoft/vscode/issues?q=is%3Aopen+is%3Aissue+label%3Azoom)

For pixel perfect rendering I recommend not using zoomLevel at all and configuring `fontSize`, `lineHeight`, etc. Almost everything can be configured except the explorer and the tabs. You can upvote that in #519

I would recommend using `window.zoomLevel` only when projecting to an a

[2017-10-27 16:05] alexandrudima commented on #36986
Perhaps caused by #34947

[2017-10-27 16:17] scorredoira commented on #36986
Great! Will this be in the insiders build soon or do I have to build it from source with the PR to try it?

[2017-10-27 16:23] Tyriar commented on #32042
@dbaeumer for a line that is wrapped into three lines, `onLineData` will only fire once when the LF character is parsed at the end of the 3rd line.

I'm guessing (hoping) you're testing this on Windows as it doesn't work there yet until this issue is closed. I have a work in progress on https://github.com/Tyriar/xterm.js/tree/winptyCompat for working around the wrapped line problem on Windows whic

[2017-10-27 16:25] hxlhxl opened #37049 "weird terminal fonts"
font in terminal rendered weird in recent updates.
it's being perfect at first installation,what can I do and where to start to fix this?

- VS Code Version: 1.17.2
- OS Version: ArchLinux 4.13.8-1-ARCH
- setting:
[code]
- Extensions:

| ext | version | author |
|-----------|---| ------ |
|Beautify|1.1.1| HookyQR |
|C/C++|0.14.0|Microsoft|
|Go|0.6.66|lukehoban|
|Linux Themes for VS Code|1.0.1|Sola

[2017-10-27 16:29] jrieken commented on #35996
I did improve the editor/document sync logic to be fit for the document add case... This are still slow, very slow. @bpasero should get involved as a whole minute is spend in some event processing.

<img width="1111" alt="screen shot 2017-10-27 at 18 27 25" src="https://user-images.githubusercontent.com/1794099/32114808-bfb057ae-bb44-11e7-8111-fd3036536114.png">
[after.cpuprofile.txt](https://gith

[2017-10-27 16:31] joshuawilson77 commented on #35282
I whole-heartedly agree with this Issue. In fact, this may be the only thing I would add to Code.

[2017-10-27 16:33] Tyriar commented on #37006
@isidorn thanks for the quick turnaround! By the way I'm for removing the minimize/maximize button on the panel, just as long as the command is retained.

[2017-10-27 16:36] paustint commented on #36844
@isidorn , according to @chuckjaz from `vscode-ng-language-service`:

[2017-10-27 16:40] Tyriar commented on #37049
@hxlhxl is that a monospace font? The way character cells dimensions are defined is by measuring the `W` character using the font.

I suggest changing the font, at least until https://github.com/Microsoft/vscode/issues/35681 is supported

[2017-10-27 16:40] #37049 closed

[2017-10-27 16:42] nomad-software commented on #5693
This seems to be in VSCode now, how do you switch it off?

[2017-10-27 16:44] Tyriar commented on #36986
This is a good thing isn't it? The screenshot of stable is showing courier new and Insiders is no longer?

If you want the old font you can get it back with:

[code]

See https://github.com/Microsoft/vscode/issues/5742

[2017-10-27 16:44] #36986 closed

[2017-10-27 16:44] dark-swordsman commented on #396
I personally think this also needs to be changed. I am working with ionic and a custom server in two different git repos and it's not very easy. The ability to at least have two separate "project tabs" open or something would be great.

I switched from Atom because of how buggy and slow it was.

[2017-10-27 16:50] felixfbecker commented on #396
@dark-swordsman you can enable `nativeTabs` on mac

[2017-10-27 16:58] Tyriar commented on #20013
This issue is a little ambiguous at the moment, here's what I see covered by it:

**1. Support reloading VS Code without terminating terminal processes**

This can be accomplished by moving the terminal process to live under Electron's *main process* instead of the *browser process*, then reinstating the terminals after a load occurs. There is quite a bit of refactoring that needs to happen here,

[2017-10-27 17:03] chrmarti opened #37050 "Error extracting function in module scope"
- VSCode Version: Code - Insiders 1.18.0-insider (e6a76e4bd3f52ab07452bb181e861f5a9bfb6596, 2017-10-27T05:12:19.123Z)
- OS Version: Darwin x64 16.7.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
autofilename|Jer|0.1.3
regex|chr|0.1.0
ssh|chr|0.0.2
vscode-eslint|dba|1.4.0
ghlink|dt|0.0.6
tslint|eg2|1.0.13
azure-account|ms-|0.1.3
azurecli|ms-|0.3.0
github-issues-prs|ms-|0.6.0
debu

[2017-10-27 17:06] agasser opened #37051 "Integrated Terminal letter spacing too wide"
- VSCode Version: 1.17.2
- OS Version: CentoOS 7.4.1708

Steps to Reproduce:

1. Open Visual Studio Code
2. Open Integrated Terminal

Reproduces without extensions: Yes

The integrated terminal displays text with letter spacing that is way too wide. See the screenshot below. This started with 1.17.0, and is still present in 1.17.2.

![image](https://user-images.githubusercontent.com/1993518/321161

[2017-10-27 17:11] mtsh1000 commented on #36955
Yes

[2017-10-27 17:14] Tyriar commented on #7866
This is a common issue on Linux when you upgrade and *do not* restart the application. The fix is to close all windows (ctrl+q) and relaunch VS Code whenever you see this.

[2017-10-27 17:16] Tyriar commented on #37051
@agasser do you have a custom terminal font?

The fix it to set it to a monospace font, see https://github.com/Microsoft/vscode/issues/35681

[2017-10-27 17:16] #37051 closed

[2017-10-27 17:16] iestynb commented on #15319
Upvote! I'm looking for the equivalent of "Alt+W, 2" in Visual Studio (which switches to the most recently opened file... "Alt+W,3" goes to the next most recently accessed one, etc). I use this all day every day, literally every few seconds.

Currently I'm using workbench.action.openPreviousEditorFromHistory which is almost exactly what I want... except it has the undesired behaviour of reopening

[2017-10-27 17:28] jl98 commented on #36921
Got it, thanks!

[2017-10-27 17:28] #36921 closed

[2017-10-27 17:30] scorredoira commented on #36986
OK, I prefer the old font, and as you say:

`"editor.fontFamily": "'Courier New'"
`

brings it back. Thank you!

[2017-10-27 17:34] adamreisnz commented on #36660
I concur that the find & replace in files screen, the way it's currently opening up on the left in the activity bar, which is quite narrow by default, is not the best UX choice. Atom opens a new large panel for this, so you have no issues with entering longer search & replace terms, and makes for much more efficient browsing of search results.

This is enough of an issue to make VSCode unworkable

[2017-10-27 17:35] victorzevallos commented on #36908
* For example, the "User" class has a selector:
![user](https://user-images.githubusercontent.com/22132891/32116310-bbe909b6-bb0f-11e7-89ea-bac4ba7e468f.PNG)

* Here "Route" is a static class and does not have a selector:
![route](https://user-images.githubusercontent.com/22132891/32116249-7924f4be-bb0f-11e7-9806-43b020ecc67a.PNG)
I propose this selector: "entity.name.type.static-class.php"
This i

[2017-10-27 17:36] MichielVanderlee opened #37052 "Python docstring folding"
- VSCode Version: 1.17.2 x64
- OS Version: Windows 10

Possibly related to #3422

2 issues really:
1. Can't fold docstring with either `'''` or `"""`
2. When using `"""` and [Google style](http://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html) documentation both `Args:` and `Returns:` show folding markers.
When folding `Returns:` it folds the entire rest of the the file.  Also

[2017-10-27 17:37] stevensacks commented on #7169
This bug is back again. I'm using Version 1.17.2 (1.17.2). This one bug makes VS Code almost unusable for me, since it's such a common part of my workflow.

[2017-10-27 17:37] ramya-rao-a commented on #35120
@jrieken That works only when manually triggering completions. The quick suggestions dont use this command

[2017-10-27 17:38] GeorgeHernandez commented on #37002
TLDNR: I've isolated it to the "Language Support for Java(TM by Red Hat" extension, but cannot be sure about the "Debugger for Java" extension.

Given [all, debug, java] where:
- all: Enabled status of all extensions except for the Debug and Java extensions.
- debug: Enabled status of the "Debugger for Java" extension.
- java: Enabled status of the "Language Support for Java" extension.

I have te

[2017-10-27 17:39] dbaeumer commented on #32042
@Tyriar great. That will make my live easier and yes I was testing this on Windows recognizing the new API today.

Can you also comment on the request to send the last line when the process terminates?

[2017-10-27 17:41] ramya-rao-a commented on #33791
@rkeithhill

As far as I understood extension updates, an update with engine version set to say 1.17 will not even show up as an update to someone using VS Code 1.16. They will never get the extension update until they update VS Code. So they should be able to debug just fine.
@sandy081 can confirm this.

[2017-10-27 17:41] dewetblomerus commented on #12076
That extension was deprecated, use the following instead:
[code]

`trimTrailingWhitespace` was not asked for in this thread but all three of these could be considered a sensible default.

[2017-10-27 17:42] jformoe commented on #36930
No, I have found that copy & paste also stops working, I agree it is a duplicate, thanks!

[2017-10-27 17:45] ramya-rao-a commented on #36905
Just checked in VS Code 1.17.2 in Windows
The command works just fine.
There has been no changes to this part of the code in over 4 months.

Did it work as expected in 1.16, 1.17.0, 1.17.1 ?
Are you trying it on an HTML file or any other file type?
Any errors pop up?
Can you try on a simple/small HTML file?

Share your sample code where you see the issue

[2017-10-27 17:46] CreepGin commented on #15048
The tabs will be much more usable when implemented like the auto-width Chrome browser tabs.

[2017-10-27 17:46] ramya-rao-a commented on #27623
@Dagge1 I see that you have logged an issue #36905 for this, lets take this up there

[2017-10-27 17:53] maliksahil commented on #29887
I'd like to voice my support for this. This would be very nice to have.

[2017-10-27 17:58] stevensacks commented on #7169
Also broken in Insiders: Version 1.18.0-insider.

[2017-10-27 18:00] ramya-rao-a commented on #36931
This doesnt happen in the stable build.
@bpasero I am assuming this was the consequence of the work done on the SCM decorators in the viewlet?

[2017-10-27 18:06] BigEgg opened #37053 "I still like the blue icon............."
- VSCode Version: 1.17.2
- OS Version: Windows 10, 2017 Fall Creator Update

Steps to Reproduce:

1. Install the VSCode
2. See the Orange Color Icon.......

Reproduces without extensions: Yes

I just want the blue icon back...

[2017-10-27 18:08] DdWr commented on #36981
What do you guys think about adding a setting for line number intervals? Something like `editor.lineNumberInterval`? I could work on this.

[2017-10-27 18:09] bruno-vaz commented on #37003
@alexandrudima thanks, so, since it's fixed on master, in the next Code update, emmet will stop blocking input?

[2017-10-27 18:16] friartek commented on #27927
`--rcs` in **zsh** is setting the `rcs` option to its _default_ state to execute the files  found under $ZDOTDIR.  These will be the same standard names as  you would find under $HOME(.zshenv, .zshrc, ...).  If $ZDOTDIR is not set, zsh defaults to $HOME to find startup/shutdown files. When $ZDOTDIR is set to `/some/path`, the files under $HOME are not used.  The best way I can describe ZDOTDIR is

[2017-10-27 18:22] efroim102 commented on #16690
I have not encountered this issue for a while now, It must have been patched in one of the updates.

[2017-10-27 18:23] DirtyJerz commented on #30350
This is still happening.

Version 1.17.2
Commit b813d12980308015bcd2b3a2f6efa5c810c33ba5
Date 2017-10-16T13:59:46.104Z
Shell 1.7.7
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

w10 pro
1709 Build 16299.15

[2017-10-27 18:23] benhamlin commented on #36653
@joaomoreno nope, afraid not.

[2017-10-27 18:27] arthurgeron commented on #15539
I'm using Intellij IDE now, much better. I only use vs code when I need to see the project's git diff.

[2017-10-27 18:27] Tyriar commented on #32042
@dbaeumer yeah that makes a lot of sense to do that, working on it now

[2017-10-27 18:27] arthurgeron commented on #15539
VS code has over 5000+ issues, don't expect this getting solved so soon.

[2017-10-27 18:34] xdaimon commented on #37045
Yes, that is what I mean. It would be much more convenient :)

[2017-10-27 18:39] mjbvz commented on #37045
@bpasero Markdown already has an `explorer/context` contribution. Has there been any discussion about also showing those in the `open editors` pane?

[2017-10-27 18:40] stwessl commented on #36630
Think this might need to be taken up in the docker compose repo. If it is
not already

On Fri, 27 Oct 2017, 13:15 Doug Woznicki, <notifications@github.com> wrote:

[2017-10-27 18:47] mjbvz commented on #19988
Yes we have a few issues tracking improving display of complex types:

- https://github.com/Microsoft/TypeScript/issues/1510
- https://github.com/Microsoft/TypeScript/issues/13095
- https://github.com/Microsoft/TypeScript/issues/8134

[2017-10-27 18:56] lipis opened #37054 "docs: Show the number of downloads in Millions instead of Thousands in Top Extensions section"
From: https://code.visualstudio.com/docs/?dv=osx&build=insiders

<img width="771" alt="screen shot 2017-10-27 at 21 50 43" src="https://user-images.githubusercontent.com/125676/32120471-5d826226-bb61-11e7-8a17-256b869a7a06.png">

Note that in the [Marketplace](https://marketplace.visualstudio.com/vscode) it's already showing values in Millions if needed.

[2017-10-27 18:57] lipis commented on #37053
Be patient.. https://code.visualstudio.com/blogs/2017/10/24/theicon

[2017-10-27 19:02] agasser commented on #37051
Changing the font for the editor or terminal does not work. The settings below have no effect, the font in the editor and the terminal do not change.

![image](https://user-images.githubusercontent.com/1993518/32117805-37aea7d6-bb15-11e7-95a0-b20ee46c7b3a.png)

As a troubleshooting step I installed Adobe's Source Code Pro font and now it is using that everywhere. That did fix my terminal display i

[2017-10-27 19:07] flypenguin opened #37055 "inconsistent file-search-and-replace behavior depending on open files"
- VSCode Version: 1.17.2 (1.17.2), b813d12980308015bcd2b3a2f6efa5c810c33ba5
- OS Version: Mac OS 10.13 (17A405)

## Steps to Reproduce

This is about inconsistend behavior when using file-search-and-replace, so you need to perform the same search action twice with different file sets opened.

### PREPARE

Create a couple of text files which contain a couple of lines, and include the same **line**

[2017-10-27 19:09] mliq commented on #19672
I am working a project with no TypeScript, and adding this to settings solves for me:

`"typescript.disableAutomaticTypeAcquisition": true`

 (it still goes to `d.ts` files when they exist in a node_module, but otherwise it takes me to the `.js` definition as desired, instead of an auto-generated `d.ts` file)

[2017-10-27 19:27] alxgrtnstrngl commented on #14909
VIM and Emacs are both editors that are nearly 20 years old and they support this as do most professional IDE's and even the other electron based editor Atom. Yet VSCode still doesn't support this and is supposedly the best editor. This keeps me from using VSCode as anything but a simple notepad. Does Visual Studio the IDE support this? If it doesn't is this a deliberate choice to hold back the us

[2017-10-27 19:35] dakaraphi opened #37056 "No intellisense for node JS modules not using relative require path"
- VSCode Version: 1.17.2
- OS Version:

Steps to Reproduce:

Sample directory structure:
![image](https://user-images.githubusercontent.com/10656375/32121771-f731ec42-bb2b-11e7-9fa6-8eaf39fff035.png)

The following require statements labelled with comments do not have intellisense.
![image](https://user-images.githubusercontent.com/10656375/32121743-deda9860-bb2b-11e7-94f7-c56d2a7e7370.png)

These

[2017-10-27 19:37] intcreator commented on #15047
For me this occurred right after I created the .gitignore file.  After opening the folder in the editor again, the .gitignore file appeared in the explorer.

[2017-10-27 19:44] oklymenk opened #37057 "Go to File does not find files when using certain files.exclude masks"
- VSCode Version:
1.17.2

- OS Version:
Windows 7 SP1 Enterprise 64-bit

Steps to Reproduce:

1. Open VSCode in the directory with the following file structure
[code]
2. Press Ctrl+P (Go to File...). Type foo.js in the search box. All three foo.js files are shown.
3. Add the following to Workspace Settings
[code]
The intention is to hide the foo folder in the Explorer. In real life I have a lot of

[2017-10-27 19:54] bisaga commented on #35643
I can confirm, the proposed solution works! At the exit the program now again ask if you want to terminate 2 active terminal sessions ...

Yes, thanks, that is it !

[2017-10-27 19:59] leojnxs commented on #5742
Hi, everybody!
Replace 'Droid sans mono' by 'Ubuntu mono' looks good to me. I didn't download any font pack.

[code]

[2017-10-27 20:13] Tyriar commented on #32042
@dbaeumer done, let me know if you find any issues with it.

[2017-10-27 20:15] TylerCode commented on #8950
@sha265 I'll give that a shot

[2017-10-27 20:19] auchenberg commented on #197
We are tracking the sourcemapping of file paths on exceptions here, https://github.com/Microsoft/vscode-chrome-debug-core/issues/235

[2017-10-27 20:34] roblourens commented on #37057
I think this is https://github.com/Microsoft/vscode/issues/36438, which is fixed in Insiders.

[2017-10-27 20:34] #37057 closed

[2017-10-27 20:35] Olddude opened #37058 "When relaunch vscode after aborted vscode update then Uncaught Exception thrown"
- VSCode Version: 1.17.0.0
- OS Version: Microsoft Windows [Version 10.0.14393]

Steps to Reproduce:

1. Update vscode
2. While updating launch a second vscode instance
3. Abort the Installation on Dialog
4. Start vscode again

Reproduces without extensions: Yes

![image](https://user-images.githubusercontent.com/7765809/32124091-e47e0208-bb66-11e7-97a7-f45bb92df1b3.png)

[2017-10-27 20:36] roblourens commented on #36660
https://github.com/Microsoft/vscode/issues/23931 covers this

[2017-10-27 20:36] #36660 closed

[2017-10-27 20:37] RoyTinker commented on #10121
Got some great news for anyone else who (like me) didn't know: looks like this feature is already (mostly) implemented. Tearing off tabs into separate windows is __already possible__ 🎉 , with some caveats/workarounds required.

Prep steps:
1. Open your project folder or workspace (if not open already)
2. File > New window
3. Close welcome screen in the new window
4. (if the sidebar is visible) Wit

[2017-10-27 20:47] joaomoreno commented on #35368
The long hover seems like a Linux bug.

All the other details are applied to pretty much all our drag and drop interactions (activity bar, open editors, tabs), so we're not really gonna touch that any time soon.

[2017-10-27 20:47] mavc opened #37059 "JSDoc hovertip incorrectly displays @typedef descriptions on next declaration"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 6.1.7601
- Extensions: Extensions are disabled
---

Steps to Reproduce:

1. Create file `foo.js` with JSDoc example http://usejsdoc.org/tags-typedef.html:

[code]
2. Hover over `setMagicNumber`

Expected:

Tooltip should display "Set the magic number."

Actual:

Tooltip d

[2017-10-27 20:53] D1no commented on #10121
Hey, yes that is a known workaround (like opening the project multiple times) and is stated above somewhere in the comments. However, it’s tedious and - sometimes - can lead to problems having multiple instances of the project open at the same time (those instances do not communicate with each other directly).

[2017-10-27 21:21] mjbvz commented on #37059
This issue was moved to Microsoft/TypeScript#19537

[2017-10-27 21:21] #37059 closed

[2017-10-27 21:21] gregvanl opened #37060 "Task templates still using "taskName", should be "label""
- VSCode Version: 1.18.0 Insiders
- OS Version: Windows 10

1. Open an empty folder
2. Tasks > Configure Tasks...
3. Create tasks.json file from template

All generated tasks.json still use taskName which was deprecated with the Tasks 2.0.0 polish https://github.com/Microsoft/vscode/commit/18ca3040b1b42391501a080aef5766b2124aee7e

[2017-10-27 21:33] lsvih commented on #29440
@aeschli It has been fixed，I can't reproduce it now. Thank you for your attention ; )

[2017-10-27 21:33] #29440 closed

[2017-10-27 21:38] craiglandis opened #37061 "Support configurable style for copying formatted code"
I'd like to control the style used when copying formatted code.

For example, I use a dark theme in both VSCode and VS2017, but when pasting formatted code I much prefer how VS2017 does it without the background. It would be great if that was configurable in VSCode.

![vscode_vs_vs2017_copyformattedcode](https://user-images.githubusercontent.com/2888449/32126146-101ffa3a-bb24-11e7-8191-89e92e16edc

[2017-10-27 21:51] adamreisnz commented on #23931
I'm so glad I'm not the only one. I'd really like to switch to vs code, as Atom is getting way too slow. But when I first tried to search in files and saw how the results were cramped inside the SIDE bar, I didn't know how fast to switch back after discovering that my only option was to make the sidebar wider manually, which also made it wider for the file explorer.

If vs code could copy a thing

[2017-10-27 22:05] biddster commented on #37053
Funny this bug should be raised. Was discussing at work the other day that the icon colours were the wrong way around. Green would have indicated stable to us and orange unstable. I'm led the believe there have been psychological studies around this...(I'll go google)

[2017-10-27 22:13] Gochida opened #37062 "JS Intellisense fights attempts to write getContext"
- VSCode Version: 1.17.2
- OS Version: Win10 x64

Steps to Reproduce:

1. Write a line like this: var ctx = document.getElementById('myCanvas')
2. Try to write "getContext"
3. type an opening parenthesis
3. VSCode replaces "getContext" with "msGetInputContext"

From what I can gather msGetInputContext is an internet explorer specific function - though when googling for it any of the top links redi

[2017-10-27 22:23] roblourens commented on #36036
Does this still repro? I haven't been able to repro it. Please collect a trace if it does.

[2017-10-27 22:27] mjbvz commented on #37041
Should be done for typescript and markdown. Let me know if you see any further issues for these extensions

[2017-10-27 22:34] ArmorDarks commented on #15727
I must admit that VS Code searching UI and UX is total disaster in comparison with Sublime Text. One of the most important aspects of text editor takes a lot of time to do trivial things after Sublime Text, not to mention very unpleasant form — little widget, which you will quickly hate if you need to write often there big chunks of texts, which simply do not fit.

And yeap, lack of `Search all` b

[2017-10-27 22:39] mjbvz commented on #37056
If you create a `jsconfig.json` at the root of your project with the contents:

[code]

Do you see the expected behavior? The important configuration option is `"module": "commonjs"`

[2017-10-27 22:41] muratg opened #37063 "Terminal rendering wonky after waking up from suspended state on Ubuntu"
- VSCode Version: 1.17.2, Commit: b813d1... Shell: 1.7.7, Renderer: 58.0.3029.110, Node: 7.9.0, X64
- OS Version: Ubuntu 14.04

Steps to Reproduce:
1.  Open VScode and edit an ASP.NET Core app
2.  Suspend the machine
3.  Wake the machine up

Result:
![image](https://user-images.githubusercontent.com/1808428/32127664-4606294a-bb2d-11e7-8520-62dec9f3bbe8.png)

[2017-10-27 22:41] ArmorDarks commented on #26498
This is how all improvements should be pitched. Great argument. Hope UX designers will never see it, or the world will be doomed to eternal bikeshedding in sake of marketing.

Sorry for necroing, just couldn't resist.

[2017-10-27 22:50] muratg commented on #37063
After restarting vscode, I hit this issue on my terminal: https://github.com/Microsoft/vscode/issues/35798

(At least is usable now, though)

[2017-10-27 22:52] dakaraphi commented on #37056
@mjbvz Thanks! that resolves my issue.

[2017-10-27 23:00] Tyriar commented on #36307
Upstream PR https://github.com/Axosoft/nsfw/pull/41

[2017-10-27 23:05] Tyriar commented on #5742
@leojnxs there was another issue a while ago discouraging the use of Ubuntu Mono as then it's picked up as the default on non-Ubuntu Linux distros 😄. Ideally we would pick up whatever the display manager configures as the default monospace font, but monospace often doesn't give us that.

[2017-10-27 23:05] mjbvz commented on #37050
Posted minimal repo to https://github.com/Microsoft/TypeScript/issues/19395#issuecomment-340117161

Seems to be fixed in typescript@next

Closing as upstream. Please let me know if you run into any other cases of this

[2017-10-27 23:06] Tyriar commented on #37051
@agasser if those settings didn't do anything but Source Code Pro did work, that indicates to me that Chromium isn't picking up Cantarell and Nimbus Mono properly.

[2017-10-27 23:08] Tyriar commented on #36630
Could anyone look at the bottom of the stacktrace and find out what is making it fail?

[code]

It might be something to do with the env?

[2017-10-27 23:12] Tyriar commented on #36755
@a-eid sounds like a different problem, we can can discuss in a separate issue if you want.

[2017-10-27 23:15] Leedehai commented on #35783
I hope there is a script that runs every time VSCode is updated so that the icons (not just the app icon, but also file icons and all relevant images inside the app) stay the same as before.

[2017-10-27 23:17] a-eid commented on #36755
@Tyriar I have the same issue .
However I am not sure if the font issue related to it or not.
@lifez please confirm if your custom fonts are loading correctly  . Thabks

[2017-10-27 23:27] usernamehw commented on #37047
Maybe it's a different color [Editor Colors](https://code.visualstudio.com/docs/getstarted/theme-color-reference#_editor-colors):

`editor.wordHighlightBackground` - Background color of a symbol during read-access, for example when reading a variable
`editor.wordHighlightStrongBackground` - Background color of a symbol during write-access, for example when writing to a variable

[2017-10-27 23:32] markeissler commented on #31388
High CPU on macOS is the number one thing that drives me nuts on VSCode and the very next thing is the fact that it's such a pain to debug. MS really needs to provide some tools outside of the standard Google Dev Tools (which don't make it easy).

What I want to see is that VSCode monitors resource usage and runaway extensions. I want to see a pop up or some other easy-to-read diagnostic along wit

[2017-10-27 23:36] Tyriar commented on #7504
I'll be looking at this feature some time over the next several months, I'd like to hear any opinions people have on the UX. One possible design is to give a set of commands something like this:

- Commands to split the terminal
  - `workbench.action.terminal.splitRight`
  - `workbench.action.terminal.splitLeft`
  - `workbench.action.terminal.splitUp`
  - `workbench.action.terminal.splitDown`
- Co

[2017-10-27 23:37] Tyriar commented on #36080
Duplicate https://github.com/Microsoft/vscode/issues/14909

[2017-10-27 23:37] #36080 closed

[2017-10-27 23:37] Tyriar commented on #30911
Duplicate https://github.com/Microsoft/vscode/issues/14909

[2017-10-27 23:37] #30911 closed

[2017-10-27 23:37] Tyriar commented on #30637
Duplicate https://github.com/Microsoft/vscode/issues/14909

[2017-10-27 23:37] #30637 closed

[2017-10-27 23:41] mjbvz commented on #26838
Tracked upstream by https://github.com/Microsoft/TypeScript/issues/1630

[2017-10-27 23:41] #26838 closed

[2017-10-27 23:48] mjbvz commented on #31388
@sanghin Do you still see the originally reported TypeScript cpu issue on [VSCode 1.18 insiders](https://code.visualstudio.com/insiders/)? If so, does this reproduce for all folders you open or just some of them?

For anyone seeing high cpu usage with the C++ extension, please try following up with that extension instead

[2017-10-27 23:49] jhasse commented on #36862
Still not fixed for me, even when using `"editor.fontFamily": "'Noto Mono', 'Droid Sans Mono', 'Courier New', monospace, 'Droid Sans Fallback'"` (with or without Noto Mono installed). I'm on Fedora 26 and using 1.17.2.

[2017-10-27 23:51] Tyriar commented on #36755
When you're in tmux with mouse mode on a regular mouse event will be sent to the terminal program to be handled (ie. tmux). There is an override to force "regular selection" by holding alt, this should show a selection color the same as when you are outside of tmux. This normally works fine and allow the use of cmd+c/v even in mouse mode but it broke recently due to https://github.com/sourcelair/x

[2017-10-27 23:54] mjbvz commented on #36918
For sass, I believe we are tracking this with https://github.com/Microsoft/vscode/issues/6734

For JavaScript, I'd like to understand the desired behavior in more detail. File indexing is really more of an a implementation detail.

Can you please put together some example code or a small example project that shows what is currently not supported. A few important points:

* Are you using modules, o

[2017-10-27 23:55] mjbvz commented on #32925
Tracked upstream by https://github.com/Microsoft/TypeScript/issues/18682

[2017-10-27 23:55] #32925 closed

[2017-10-27 23:59] Tyriar commented on #37042
Duplicate https://github.com/Microsoft/vscode/issues/36271

[2017-10-27 23:59] #37042 closed

[2017-10-28 00:00] bajras commented on #37047
@usernamehw That didnt work either.

[2017-10-28 00:01] Tyriar commented on #36271
Created upstream issue: https://github.com/sourcelair/xterm.js/issues/1092, open to PRs

[2017-10-28 00:05] mjbvz commented on #36825
Can you please try collecting the TypeScript server logs to see if that has any leads:

1. Add `"typescript.tsserver.log": "verbose"` to your user settings and restart VSCode.
2. Reproduce the issue
3. Run the `Typescript: Open TS Server log` command in vs code and look in the `tsserver.log` file in the opened directory

Look for errors, stack traces, or other suspicious info near the end of the l

[2017-10-28 00:10] Tyriar commented on #29590
@isidorn I won't have time to look at this in October (too soon) or November (taking a few weeks off). If you want to look into it in the meantime, see the files in `src/vs/workbench/services/files/node/watcher/nsfw/`

[2017-10-28 00:10] firelizzard18 commented on #36154
@dbaeumer I prefer my personal shell to be Cygwin/ZSH, but the tasks runner does not work with that. I would love to be able to set my integrated terminal shell to Cygwin/ZSH but let the tasks run in cmd/powershell/whatever makes them happy. I would rather not have to configure that per-project in tasks.json, but if it works, it works, until there's something better. But that isn't working for me.

[2017-10-28 00:12] Tyriar commented on #509
@cpxPratik since the initial version ctrl/cmd+d has been assigned to the "Add selection to next find match" command. I wasn't around to explain that decision but it's a very popular keybinding at this point so I doubt we would ever change the default.

[2017-10-28 00:15] Tyriar commented on #32929
@franklin-ross that shouldn't be related but I fixed that null pointer exception in https://github.com/Microsoft/vscode/commit/af325c830e0fafaecaeb97e549b0c8a9d4241c06

[2017-10-28 00:21] mjbvz commented on #25769
Yes, setting node_path seems to allow that in my testing.

@RyanCavanaugh I agree with Erich that setting `node_path` on the VS Code side is not great. Could we be doing something similar on the TS Server side instead (perhaps handing plugins a mocked out version of `require` that resolves `typescript` properly)?

[2017-10-28 00:23] Tyriar commented on #36994
Hmm.. What the error message means is that cmd.exe crashed, can you run bash without any problems in a regular cmd.exe window?

Could you also check the devtools console for any errors? (Help > Toggle Developer Tools)

[2017-10-28 00:24] Tyriar commented on #36993
There is a general problem with ctrl+c tracked here https://github.com/Tyriar/node-pty/issues/7, I'll close this in favor of that as it will need to be resolved first.

[2017-10-28 00:24] #36993 closed

[2017-10-28 00:28] mjbvz commented on #34188
Moving out of October as this needs some more thought.

@jrieken brought up some concerns:

* Additional colors could be overwhelming. Current detail coloring is intentionally subdued
* The code returned by extensions for the details is not always valid. TypeScript for example returns strings like:

[code]

     I've opened https://github.com/Microsoft/TypeScript/issues/19052 on the TS side to dis

[2017-10-28 00:34] mjbvz commented on #33061
Try explicitly setting `"module": "commonjs"` in your `jsconfig.json`:

[code]

If module is not explicitly set, typescript sets it to: `target === "ES3" or "ES5" ? "CommonJS" : "ES6"`

[2017-10-28 00:34] #33061 closed

[2017-10-28 00:38] dakaraphi commented on #37056
@mjbvz unfortunately this only fixed it for this example.
In my real project, it made it work only intermittently.

I'm getting really strange results.  Like I can create a new JS file and a require statement can not find any non relative module.  If I then restart VS code it will work for that file.  I then have to do this for each new file I create.  Sometimes files that were working stop workin

[2017-10-28 00:49] ryansully commented on #509
I think it's from Sublime Text; I remember using the same shortcut for that as well.

[2017-10-28 01:01] usernamehw commented on #37047
Well, I cannot reproduce that. Are you using the latest version of Insiders? Have you tried to run it without extensions `code-insiders --disable-extensions`?

[2017-10-28 01:33] nojvek commented on #36375
@joaomoreno the issue happens when doing git pull -rebase inside vscode but doesn't happen when doing it from external terminal e.g the built in macosx terminal app.

Not sure how to re-open the issue.

[2017-10-28 01:51] roblourens commented on #37055
This is expected, because multiline search isn't supported (but is incidentally supported by the editor for open files).

[2017-10-28 01:51] #37055 closed

[2017-10-28 01:55] roblourens commented on #9051
https://github.com/Microsoft/vscode/issues/13155

[2017-10-28 02:03] NullAerber commented on #34385
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:57:00.652Z)
- OS Version: Linux x64 4.9.54-1-MANJARO
- Extensions: none
---

POST https://marketplace.visualstudio.com/_apis/public/gallery/extensionquery net::ERR_PROXY_CONNECTION_FAILED

XHR failed: : Error: XHR failed:   workbench.main.js:28
at XMLHttpRequest.t.xhrRequest.n.TPromise.t.onerror (file:///opt/vis

[2017-10-28 02:26] KyleJohnstonNet commented on #36655
I tried in the Insiders build and it does correctly highlight escape sequences. Thanks!

[2017-10-28 02:26] #36655 closed

[2017-10-28 02:27] aipper commented on #37027
@maxibanki sorry,but this happens occasionally,maybe it caused by some plugins.I use git checkout the file to fix it . maybe i should remove some plugins. thx.

[2017-10-28 02:27] #37027 closed

[2017-10-28 02:37] seltzer1717 opened #37064 "Version 1.17.2 Breaks Theme Colors"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. Upgrade to version 1.17.2
2. Open any source file in any theme.

Reproduces without extensions: Yes/No
Yes

Symptoms:

The first thing I noticed is my theme now had green quoted text where as before it had a different text color.

Update:

Uninstalled 1.17.2, then reinstalled 1.16.1, then uninstalled 1.16.1, and then finally reinstalled 1.17

[2017-10-28 02:53] xiaoyueyue165 opened #37065 "node使用-experss模块问题"
1. 报错信息：缺少对象

[code]

2. 语法错误，第六行.
[code]
- 使用版本1.11.2

[2017-10-28 03:01] xiaoyueyue165 commented on #37065
Really strange in the webstrom editor to show normal，Why？

[2017-10-28 03:10] xiaoshuw commented on #31388
I can no longer see the run away process anymore -- with the same 1.17. I didn't do anything - besides in between I have probably rebooted my machine a few times. I didn't use TypeScript. As I said earlier, I have two projects of similar setup. Only one project had this issue.

[2017-10-28 03:27] diegohb opened #37067 ""debugger adapter failed unexpectedly""
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 10.0.14393
- Extensions:

Extension|Author (truncated)|Version
---|---|---
copy-relative-path|ale|0.0.1
npm-intellisense|chr|1.3.0
EditorConfig|Edi|0.11.1
vscode-npm-script|eg2|0.3.1
vscode-npm|fkn|3.3.0
auto-close-tag|for|0.5.2
task-master|ian|0.1.39
csharp|ms-|1.12.1
re

[2017-10-28 03:29] diegohb commented on #37067
error message is "Debug adapter process has terminated unexpectedly"

[2017-10-28 03:34] wind2412 commented on #31388
In fact, I think the C/C++ Extension gets much better after updating its version. These days there is only one time getting very hot but soon it gets normal cpu level.

[2017-10-28 04:01] chrmarti opened #37068 "SCM progress indicator does not stop"
- VSCode Version: Code - Insiders 1.18.0-insider (e6a76e4bd3f52ab07452bb181e861f5a9bfb6596, 2017-10-27T05:12:19.123Z)
- OS Version: Darwin x64 16.7.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
autofilename|Jer|0.1.3
regex|chr|0.1.0
ssh|chr|0.0.2
vscode-eslint|dba|1.4.0
ghlink|dt|0.0.6
tslint|eg2|1.0.13
azure-account|ms-|0.1.3
azurecli|ms-|0.3.0
github-issues-prs|ms-|0.6.0
debu

[2017-10-28 04:23] xiaoyueyue165 commented on #37065
Version of the problem, I updated, ok

[2017-10-28 04:33] sryze opened #37069 "Terminal: git log -> Ctrl-C -> can't see entered commands (but they are executed)"
- VSCode Version: 1.17.2
- OS Version: Windows 10 x64

Steps to Reproduce:

1. Set `"terminal.integrated.shell.windows": "C:\\Program Files\\Git\\bin\\bash.exe"` in settings
2. Open terminal inside a git repo
3. Enter `git log`
4. Press Ctrl-C to quit

After these steps it quits to the shell but I can't see what I'm typing anymore, though the commands that I'm typing are executed and I can see the

[2017-10-28 04:41] maks commented on #1031
@headmelted You've done great work getting the builds going for Arm to make it usable via Crouton.
The problem is of course that in many situations (eg. edu org managed chromebooks) dev-mode and hence crouton is *not* an option.
Getting VSC to work as an Chrome app is same problem as for instance for Atom - lack of a Electron-mappable API. And given Googles unfortunate choice to abandon Chrome Pac

[2017-10-28 05:13] tangorboyz commented on #36720
Ya me too. File that created or modified via terminal (move or rename) can't update.
Maybe add `refresh` button in the file explorer context menu.

[2017-10-28 06:23] Tyriar commented on #37063
Duplicate https://github.com/Microsoft/vscode/issues/35795

To work around the noise issue either resizing the terminal a bit or zooming (ctrl++, ctrl+-) should force a redraw and fix it.

[2017-10-28 06:23] #37063 closed

[2017-10-28 06:25] Tyriar commented on #36989
Duplicate https://github.com/Microsoft/vscode/issues/26375

[2017-10-28 06:25] #36989 closed

[2017-10-28 06:26] Tyriar commented on #36992
Duplicate https://github.com/Microsoft/vscode/issues/36541

[2017-10-28 06:26] #36992 closed

[2017-10-28 06:38] Tyriar commented on #36987
I suspect you're not running your system terminal as a login shell, try adding this setting:

[code]

Regardless of whether this works or not, somewhere in your `~/.bashrc` or `~/.bash_profile` or something is running `npm config set prefix` which does not work in `nvm`.

[2017-10-28 06:38] #36987 closed

[2017-10-28 06:42] maxibanki commented on #37068
Seems to be the same as in #36754. Should already be fixed, can you try to update to the latest version?

[2017-10-28 06:42] imhuay opened #37070 "some BUG with a gif to show"
- VSCode Version: 1.17.2
- OS Version: win10

Steps to Reproduce:

![test](https://user-images.githubusercontent.com/13265495/32132026-3cab451c-bbee-11e7-9246-e071a82f2b6d.gif)

Reproduces without extensions: Yes/No

[2017-10-28 06:51] nbwsc opened #37071 "Formatter change single quote string to double quote string!"
Formatter change single quote string to double quote string.
It's kind of weird

[2017-10-28 06:57] Tyriar opened #37072 "Setting terminal env setting key to null does not remove the key from the env"
This is how the terminal extension API that sets env works, it should be consistent.

Repro:

Add setting:

[code]

Create a terminal and run `echo $HOME`, the variable should *not* be set to "null"

[2017-10-28 07:01] chriseppstein commented on #33752
As I suggested in issue #35596, other possible UI solutions exist other than anchored to the text.

or you could even imagine a documentation pane that can display contextual documentation without any overlay at all, such a thing could take precedence vs the overlay, if open.

[2017-10-28 07:03] seanyu4296 commented on #36910
A Javascript Front-end project (Reactjs and webpack)

[2017-10-28 07:05] CoenraadS commented on #13612
Still occurs for me in latest insider.

1. Windows Start Menu -> Code Insiders
2. Code Insiders opens to my previous project and there is already a file loaded
3. Scroll still broken

If VSCode starts blank and then I open a folder it works ok.

[2017-10-28 07:28] g3r4n commented on #36874
Don't consider the down thumb, I hate my track pad ...

[2017-10-28 07:46] Tyriar commented on #36913
@jm-mwi what's in your settings.json file? Do you have a particularly small font size and/or `window.zoomLevel`?

[2017-10-28 07:46] mrhammadasif opened #37074 "Unable to stop Auto Indent (or Smart Indent)"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:47:41.889Z)
- OS Version: Darwin x64 17.0.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
material-icon-theme|PKi|2.2.4
vscode-docker|Pet|0.0.20
Bookmarks|ale|0.17.0
npm-intellisense|chr|1.3.0
path-intellisense|chr|1.4.2
tslint|eg2|1.0.13
expand-region|let|0.1.2
string-manipulation|mar|0.2.0
co

[2017-10-28 07:51] Tyriar commented on #36920
@schachmat does installing via `dpkg` work? Not sure what is going on here as it appears to happen randomly and we're building the deb package with `dpkg-deb` https://github.com/Microsoft/vscode/blob/1f74e78d6640569d71b04194d292fb2161be84d0/build/gulpfile.vscode.linux.js#L113, not compressing it ourselves.

[2017-10-28 07:51] Tyriar commented on #36920
/cc @chrmarti

[2017-10-28 08:01] #35798 closed

[2017-10-28 08:01] #36541 closed

[2017-10-28 08:02] #37072 closed

[2017-10-28 08:08] Tyriar commented on #36900
@mbzls which part of the code exactly is meant to be sending the line feed character? Can you identify it and come up with a minimal repro case?

Also is this under WSL?

[2017-10-28 08:12] Tyriar commented on #18059
@roblourens there are some issues with show next change but it's close to what I want:

- It's popping up a diff dialog which gets in the way for me personally. I want to use this as a way to quickly navigate between chunks of code I've edited, I don't care so much about viewing the actual diff but want to jump to the code I was just working on without using the mouse
- It's not scrolling to the n

[2017-10-28 08:13] Tyriar commented on #36534
Duplicate https://github.com/Microsoft/vscode/issues/34320

[2017-10-28 08:13] #36534 closed

[2017-10-28 08:15] Tyriar commented on #36537
I think #36307 might be Linux only. @nickkooper is there anything particularly special about the folder or its files that you're aware of?

[2017-10-28 08:20] #29927 closed

[2017-10-28 08:23] d180cf opened #37075 "Expanding a folder with thousands of files hangs vscode"
In the Explorer tab it's dangerous to expand folders with 10k+ files as it's likely to hang. It seems reasonable to stop enumerating files after a certain limit.

[2017-10-28 08:24] Tyriar commented on #36743
Same root cause as https://github.com/Microsoft/vscode/issues/36322, try changing your font as a workaround

[2017-10-28 08:24] #36743 closed

[2017-10-28 08:24] Tyriar commented on #36322
Kali Linux also suffers from this issue

[2017-10-28 08:27] Tyriar commented on #36662
@isidorn It still feels very cramped when compared to before. Maybe a little bit more to accommodate "powershell" as that is pretty common.

![image](https://user-images.githubusercontent.com/2193314/32132794-f4c2345a-bb7e-11e7-943d-ed16b752d746.png)

[2017-10-28 08:33] Tyriar opened #37076 "Cannot read property 'panel' of undefined"
- VSCode Version: Code - Insiders 1.18.0-insider (e6a76e4bd3f52ab07452bb181e861f5a9bfb6596, 2017-10-27T04:19:22.491Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-svgviewer|css|1.4.3
EditorConfig|Edi|0.11.1
git-project-manager|fel|1.4.0
vscode-scss|mrm|0.6.2
cpptools|ms-|0.14.0
seti-icons|qin|0.1.3
vscode-header-source|ryz|1.1.0
ayu

[2017-10-28 08:41] eterevsky commented on #36913
@Tyriar, I also ran into the same problem. It seems to have started only in 0.17, though it might have resulted from some unrelated changes in my configuration.

Version: 1.17.2
Relevant settings:
[code]

My monitor resolution is 3840x2160 and system-wide scaling is 150%.

Reproduction steps:

1. Disable all the extensions and close all editor tabs.
2. Maximize the window by pressing F11.
3. Open

[2017-10-28 08:44] Tyriar commented on #36719
This is a new feature, if you're in a multi-root workspace you will be able to select the workspace to launch the terminal in

[2017-10-28 08:44] #36719 closed

[2017-10-28 08:44] Tyriar commented on #36862
Duplicate https://github.com/Microsoft/vscode/issues/35901

[2017-10-28 08:44] #36862 closed

[2017-10-28 08:46] Tyriar commented on #36957
I'm not sure what the issue is exactly, can you elaborate a little more?

[2017-10-28 08:48] Tyriar commented on #22317
@Drache93 I'm on the Fall Creators Update and this works fine for me:

[code]

[2017-10-28 08:48] maxibanki commented on #37076
Hi Tyriar,
@sandy081 closed #37026 with de42a6d9350e07ece8bb8807528768487aa291fb which fixed the same error. It seems that your version doesn't contain the commit right?

[2017-10-28 08:51] #32258 closed

[2017-10-28 08:53] Tyriar commented on #36072
This was mostly fixed in 1.17.1 (https://github.com/Microsoft/vscode/issues/35662) but it occasionally still doesn't work.

[2017-10-28 08:54] maxibanki commented on #37071
Please give us more information. I think you are using the vue-js extension.
But give us more detailed infos via VS Code => Help => Report Issues

[2017-10-28 08:57] eterevsky commented on #36913
A couple of additional observations:

- Changing the font to less exotic Consolas does not fix the problem. (Though it might help a bit.)

- For some reasons the slowness is also triggered by actions like hitting the TAB key for bash completion, even though it doesn't have any visible effect in the terminal. Hitting the TAB key in the same context in the system terminal doesn't result in slowness.

[2017-10-28 09:04] Tyriar commented on #36086
@prufrock123 this one was fixed in 1.17.2, hope everything is fine now 😃

[2017-10-28 09:08] Tyriar commented on #36172
Sorry about the hassle, this one was tracked in https://github.com/Microsoft/vscode/issues/35991

[2017-10-28 09:08] #36172 closed

[2017-10-28 09:08] Tyriar commented on #36202
Duplicate https://github.com/Microsoft/vscode/issues/35660, upgrading should fix this if you haven't yet 😄

[2017-10-28 09:08] #36202 closed

[2017-10-28 09:11] Tyriar commented on #30289
@chhschou the fix was in xterm.js 😃 here's the issue if you're interested https://github.com/sourcelair/xterm.js/issues/1031

[2017-10-28 09:13] Tyriar commented on #37076
Perfect! 😄

[2017-10-28 09:13] #37076 closed

[2017-10-28 09:23] tangorboyz commented on #36957
let's sat before I close vs-code, my terminal prompt is:

`(env) dhawu@tangorboyz:~/Documents/code/python/django/bitbucket/django_blog$`

After restart vs-code without closing the the integrated terminal, the terminal prompt become:

`ango_blog$ django/bitbucket/dja`

[2017-10-28 09:30] D3kss commented on #37003
Hi

I disabled all extensions and tat resolve the issue.

Thanks

________________________________
From: Alexandru Dima <notifications@github.com>
Sent: Friday, October 27, 2017 7:52 AM
To: Microsoft/vscode
Cc: D3kss; Mention
Subject: Re: [Microsoft/vscode] No keyboard respose (#37003)

I have just installed all the extensions listed by @bruno-vaz<https://github.com/bruno-vaz> and could not find o

[2017-10-28 09:31] egamma commented on #36988
The npm task provider is now rejecting the promise and the task framework is exposing the failure in the output channel.

[2017-10-28 09:31] #36988 closed

[2017-10-28 10:04] batobolg commented on #17100
we need remote editing why not ?

[2017-10-28 10:19] ravinsinghd commented on #36201
@joaomoreno  I am not sure it's git. because now i don't have git folder still the problem happen.i am happy to share screen. let me suitable time for you and how to share I will share

[2017-10-28 10:45] zabel-xyz commented on #26121
In PLSQL language we have delimiters inside others: begin..end but also if...end if

So I need to do something like this:
[code]
=> It doesn't work with begin...end
![image](https://user-images.githubusercontent.com/16486407/32133630-7df8acba-bbdc-11e7-8773-d9e2ce4ce817.png)
![image](https://user-images.githubusercontent.com/16486407/32133643-d48e319e-bbdc-11e7-8283-54d83543ad8f.png)

I added char

[2017-10-28 11:04] stilllife00 commented on #36818
Well I have followed the Solution 1 (recommended) but no luck.
This is my `~/.ssh/config` file:

    Host *
      AddKeysToAgent yes
      UseKeychain yes
      IdentityFile ~/.ssh/id_rsa

Any suggestion ?

[2017-10-28 11:10] chitsaou commented on #12378
Hi, I made an extension that supports document symbol listing and syntax check.

https://marketplace.visualstudio.com/items?itemName=yorkxin.coffeescript-support

Though it's still simple, I would add more features. If anyone would like to help, feel free to join!

[2017-10-28 11:48] eltimmo opened #37077 "Typescript beautification - operator combination turns following code green"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-instant-markdown|dba|1.3.0
terraform|mau|0.0.18
csharp|ms-|1.12.1
PowerShell|ms-|1.5.0

---

Steps to Reproduce:

1. Example code below when beautification  takes place, all code after ```++

[2017-10-28 13:23] nbwsc commented on #37071
It's solved!Thanks.

[2017-10-28 13:23] #37071 closed

[2017-10-28 13:30] prasanthnv commented on #36086
not good as 1.17.0

[2017-10-28 13:37] jerch commented on #20013
@Tyriar Some OSes do not allow the pty master fd to be duped/cloned, e.g. used by another process than the original creating process. IPC is the only platform independent way imho (os pipes are pretty fast though).

[2017-10-28 13:56] daidaishuo opened #37078 "When my code is formatted, some single quotes are canceled."
![Uploading WX20171028-215412@2x.png…]()
![Uploading WX20171028-215452@2x.png…]()
like this

[2017-10-28 13:59] KvanTTT opened #37079 "Relative links differ from GitHub links for headers with not latin chars"
- VSCode Version: 1.17.2
- OS Version: Windows 7 x64

The following links work fine in GitHub (also in GitLab) but not in Visual Code:

[code]

But the following links work fine in Visual Code but not in GitHub:

[code]

Take attention on the upper char case in the first code fragment: "Заголовок-2".

What behavior is correct? Maybe it's reasonable to add an option `markdown.type` that can values

[2017-10-28 14:08] LeonLiber commented on #37053
Can anyone share a high res image of the blue icon we gonna get next release? I want to make a t-shirt out of it, please

[2017-10-28 14:42] maxibanki commented on #37078
The Images are not working. :)

[2017-10-28 14:48] yoyo837 commented on #36572
My company's computer can work fine about this, this is my home computer. Very strange, today found that it can work fine always, I do not know why.

[2017-10-28 14:48] #36572 closed

[2017-10-28 14:57] jimblue opened #37080 "problems: folder exclusion"
- VSCode Version: 1.17.2
- OS Version: macOS 10.13

Steps to Reproduce:

1. The CMS I use have a bunch of php file locate a top folder called system
2. To prevent linting, errors, problems I had this folder to files.exclude and files.watcherExclude
3. I still performance issue and problem notification:

**Screenshot of the bottom panel:**

<img width="324" alt="screen shot 2017-10-28 at 16 54 33"

[2017-10-28 15:05] 1255225613 commented on #4846
hot key:ctrl+Comma, then change " "files.autoGuessEncoding": false " to " "files.autoGuessEncoding": true ".

[2017-10-28 15:21] rattrayalex-stripe commented on #5408
There are syntax highlighting bugs in ES7/Flow/JSX that a Microsoft employee claims are unsolvable with the current syntax highlighting setup.

[2017-10-28 15:27] ankugarg opened #37081 ""Restart to Update" option is not updating editor"
- VSCode Version: Code 1.16.1 (27492b6bf3acb0775d82d2f87b25a93490673c6d, 2017-09-14T16:38:23.027Z)
- OS Version: Windows_NT x64 10.0.14393
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-eslint|dba|1.4.0
xml|Dot|1.9.2
tortoise-svn|fan|0.1.1
beautify|Hoo|1.1.1
PowerShell|ms-|1.4.3
team|ms-|1.122.0

---

Steps to Reproduce:

1. Click "Restart to Update option"
2. Editor closes

[2017-10-28 15:30] anwar3606 commented on #20652
@aeschli Than how would I change the theme with extension? any direction?

[2017-10-28 15:35] wizardion commented on #35675
Hey guys, can anyone tell me how to downgrade the libfreetype6 in Ubuntu?

[2017-10-28 16:03] alefragnani opened #37082 "The `workspaceContains` activation is not working correctly for Workspaces"
- VSCode Version: 1.18-insiders
- OS Version: Windows10

Steps to Reproduce:

1.Pick an extension that has `workspaceContains` in its `activationEvents`
2.Open a folder that **does not contains** the file that activates the previous extension
3.The extension **do not** activates ..._(which is correct)_
4.Create a workspace with that folder
5.Add another folder that **contains** the file to activat

[2017-10-28 16:26] theychx commented on #35675
@wizardion The issue was introduced with freetype 2.8.1. As far as I can see, the latest version to have entered [Ubuntu](https://packages.ubuntu.com/artful/libfreetype6) is 2.8 (which is the one we're downgrading to), so maybe your issue is not related to this?

[2017-10-28 16:43] louy2 commented on #15727
@ArmorDarks
To open Replace field directly in VS Code you can use `ctrl-shift-h`

[2017-10-28 16:47] florinpatrascu commented on #10565
on OSX, I am simply going to `~/.vscode/extensions`, chose the extension I wand to disable the snippets from and empty its `snippets/snippets.json` file. I know is barbarian and have to repeat this every time there is an update for that extension, but it is better than having the undesired snippet being offered every time. Plus ... you can always have a batch that copies an empty `snippets.json` i

[2017-10-28 16:52] phobos2077 commented on #23322
Auto-detection doesn't seem to work for "windows1251" encoding. It thinks that it is UTF-8...

[2017-10-28 17:01] brycehutchings opened #37083 "Microsoft.VSCode.CPP.IntelliSense.Msvc.exe holding file in use"
There are times I find VS Code won't let me save a file. When I use Sysinternal's "handle" tool it shows me Microsoft.VSCode.CPP.IntelliSense.Msvc.exe is holding the file open. When I kill the process, I am able to save my file. This has happened several times now, but I don't know what triggers it.

- VSCode Version: Code 1.15.1 (41abd21afdf7424c89319ee7cb0445cc6f376959, 2017-08-16T18:07:25.676Z)

[2017-10-28 17:25] DeborahK opened #37084 "Open Editors does not remember its prior setting"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:48.528Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
ng-template|Ang|0.1.7

---

Steps to Reproduce:

1. Open a folder in VS code.
2. Open a few files and close the Open Editors node.
3. Exit VS Code.
4. Reopen VS code and the Open Editors node is a

[2017-10-28 17:42] Tyriar commented on #36443
Turns out this happens when I switch between multiple themes packaged in the same extension I can see this (Ubuntu 17.04):

![out](https://user-images.githubusercontent.com/2193314/32136975-88926004-bbcc-11e7-845e-cb19a6b73c54.gif)

Theme: https://marketplace.visualstudio.com/items?itemName=Tyriar.theme-sapphire

[2017-10-28 17:50] Tyriar commented on #14868
Contrast isn't good enough for all the light themes we ship, we should do something about this

[2017-10-28 17:52] Tyriar commented on #36669
Doing to need some more to go on here, is the error printed in the terminal or in a message box? Could you check the devtools console for errors too? (Help > Toggle Developer Tools)

[2017-10-28 17:52] Tyriar commented on #36658
@shobanbobba I need to see your settings.json file to further diagnose the issue

[2017-10-28 17:55] matt-erhart commented on #35658
@mjbvz what's a minimal tsconfig and folder structure I could use to test this out?

[2017-10-28 18:16] Tyriar commented on #20013
@jerch good to know. The sheer amount of data that's possible to go through the terminal is the concern as it could lock up the main process which is shared between *all* VS Code windows :confused:. Maybe I'm just overestimating the impact it would have on the main process? Any more details on the some OSes part?

[2017-10-28 18:18] Tyriar commented on #36086
@prasanthnv it should be very similar to 1.17.0, the main difference is that the characters no longer have their last pixel chopped off and can now overlap slightly (which are both good things)

[2017-10-28 18:27] luncht1me commented on #21255
This isn't fixed. Latest insider build and minimap is still cutting off my view. Opacity when not hovered would be nice, and possibly variable height.

[2017-10-28 18:28] waldyrious commented on #9051
@roblourens what does "global search" mean in #13155? I thought it was about searching in multiple files, which this issue is not, but please correct me if I'm wrong.

[2017-10-28 18:34] usernamehw opened #37085 "[Typescript] Useless hover"
1. Import something from another module
2. Hover over
3. See that it shows you `import "thingy"`

![import eglist](https://user-images.githubusercontent.com/9638156/32137316-203bc52c-bc26-11e7-9d9e-dd0b5e7edb41.png)

The expected behavior happens when you hold modifier key for `follow link`.
![good](https://user-images.githubusercontent.com/9638156/32137376-342cdba6-bc27-11e7-8682-8644d53137e9.png

[2017-10-28 18:45] mihailik commented on #35896
Progressing on this: creating <a href="https://www.npmjs.com/package/@inst/vscode">@inst/vscode</a> packages to implement this idea.

* <a href="https://www.npmjs.com/package/@inst/vscode"><span>@</span>inst/vscode</a>
    * <a href="https://www.npmjs.com/package/@inst/vscode-bin-darwin"><span>@</span>inst/vscode-bin-darwin</a>
    * <span>@</span>inst/vscode-bin-win32
    * <span>@</span>inst/vsc

[2017-10-28 18:49] pablote commented on #36987
I'll check that setting, I doubt about the .bash_profile since this works fine from any other terminal. It only fails from vscode terminal.

[2017-10-28 18:53] rkeithhill commented on #33447
Yes, I'm using the 64-bit client but today I can't repro that issue.  FYI I use the default shell (PowerShell) on Windows.

[2017-10-28 18:54] MrSunshyne commented on #35683
Ok great. but it's still orange... even after I downloaded it again.

[2017-10-28 19:05] maxibanki commented on #37080
Perhaps an extension doesn't take into the files exclude setting.

But please try to set the `files.exclude` to only   `"system": false,` instead of ` "**/system": false,` because you said that your `system` folder is always under the root directory.

[2017-10-28 19:12] dheater commented on #26345
Thanks for being helpful @ebrehault

[2017-10-28 19:17] flypenguin commented on #37055
I really would not call that *expected* ... but well.

[2017-10-28 19:29] tavuntu commented on #10121
@RoyTinker "I keep one of my 22" monitors vertically oriented. ", that's IS a valid argument!

[2017-10-28 19:52] chrisdias commented on #35683
@MrSunshyne it will be blue in the next stable release, available in early november.

[2017-10-28 20:01] weinand commented on #37065
Please explain your problem in English.

[2017-10-28 20:08] IgorNovozhilov commented on #36984
![image](https://user-images.githubusercontent.com/3082812/32138046-d19cccae-bc34-11e7-89a5-b4eff35163fe.png)

[2017-10-28 20:23] #30657 closed

[2017-10-28 20:24] jlmakes opened #37086 "TM scope error with IIFE using JavaScript ES6 arrow function"
### Regular IIFE (Correct):

![screen shot 2017-10-28 at 10 07 44 pm](https://user-images.githubusercontent.com/2044842/32138059-bf03c3ca-bc2c-11e7-86b4-7ed1155c6ba7.png)

### ES6 Arrow IIFE (Incorrect):

![screen shot 2017-10-28 at 10 06 38 pm](https://user-images.githubusercontent.com/2044842/32138048-8d13ea0c-bc2c-11e7-890b-013bd900925d.png)

Above on line 1, the fragment `= (() =>`, the inner

[2017-10-28 20:51] FelikZ commented on #5728
In case somebody find it through google.

electron 1.7* + babel-register example of debugging configuration that works for me.

VSCode debug config:
[code]

package.json
[code]

.babelrc
[code]

[2017-10-28 20:54] laur1s opened #37087 "The terminal process command `/bin/false -l` failed to launch (exit code: 1)"
- VSCode Version: Version 1.17.2 (1.17.2)
- OS Version: Mac OS Sierra 10.12.6

Steps to Reproduce:

1. launch VS Code
2. press terminal tab

I had same issue with iTerm2 app, but `/bin/bash -l` launch command solved the problem

Reproduces without extensions: Yes

[2017-10-28 21:04] davidmatas commented on #12463
I would love to see this implemented.
I have problems for tests files that I think I would resolve if I can specify a tsconfig file to vscode.

The problem is my configuration for tsconfig excludes test files:

[code]

When I open one of these files in vscode, it can't resolve absolute paths I specify in compilerOptions:
[code]

So I get a lot of ugly warnings

![image](https://user-images.githubu

[2017-10-28 22:01] mihailik commented on #35896
Repository with progress on this feature: https://github.com/mihailik/inst-vscode

[2017-10-28 22:06] oshalygin commented on #37029
Same issue here, looks like a change recently, but basically any changes would be automatically picked up, now you have to hit the refresh button to detect the changes.

Hitting the refresh button works, but it used to be automatic?  I looked around but I couldn't find if this was a setting somewhere?

[2017-10-28 22:07] oshalygin commented on #37029
![image](https://user-images.githubusercontent.com/7675942/32138956-b05c2258-bbf1-11e7-9d14-9acb3dff49bc.png)

I have this set to true, hrmm??

[2017-10-28 22:08] oshalygin commented on #37029
These are additional extensions that I have, maybe there's a conflict?

![image](https://user-images.githubusercontent.com/7675942/32138962-e9ddeb88-bbf1-11e7-99cd-d8fb23778002.png)

[2017-10-28 22:50] jimblue commented on #37080
@maxibanki, thanks for your answer but I finally found this problem come from php intellissense plugin:

https://github.com/felixfbecker/php-language-server/issues/164

[2017-10-28 23:21] StingyJack commented on #32668
I downloaded the latest recommended update, and then couldn't indent. I don't use VSCode that often, and this was reported with my former laptop (now only good as a hand dryer - thanks VS 15.3).  I wonder if Ctrl+M conflicts with another shortcut key combo that VSCode may have had in the past.

I would still question the need for having a shortcut key for this feature out of the box, when a menu e

[2017-10-29 00:17] chaopeng commented on #34865
Hi, I am a developer from Chrome/input-dev currently working on support Windows Precision Touchpad. Just create an issue to do it. I already start coding, hope it can fix this issue.

https://bugs.chromium.org/p/chromium/issues/detail?id=779372

[2017-10-29 00:23] Tyriar commented on #37087
Your system administrator probably set `$SHELL` to `/bin/false`, you can workaround this by adding this to your settings:

[code]

[2017-10-29 00:23] #37087 closed

[2017-10-29 00:33] Tyriar commented on #37087
I've made this fallback to /bin/bash happen automatically in the next version.

---

To verifier:

1. Open terminal
2. Run `export SHELL=/bin/false`
3. Run `code`
4. Open the terminal, it should open bash
5. Run `echo $SHELL` in the terminal, it should say `/bin/false`

[2017-10-29 00:34] dandeveloper commented on #26820
Same issue here, when type single or double quotes the Auto close isn't working.
Macbook Air
OS: MacOS 10.13
VSCode Version: 1.17.2
Keyboard Layout: US International - PC

[2017-10-29 00:36] Tyriar commented on #36987
@pablote most terminal emulators on macOS run the shell as a login shell which runs your .bashrc, VS Code runs as a login shell to match this which is what the setting I suggested would change.

[2017-10-29 00:37] Tyriar commented on #36957
How are you restarting VS Code exactly?

[2017-10-29 00:39] Tyriar commented on #36913
@eterevsky do you know if GPU acceleration is disabled somehow? For example do you use `--disable-gpu` to work around some other issue?

[2017-10-29 00:48] Tyriar commented on #36964
@mar-ses are you using Ubuntu Gnome?

[2017-10-29 00:50] Tyriar commented on #33005
Upstream issue: https://github.com/sourcelair/xterm.js/issues/24

[2017-10-29 00:52] williscool commented on #31737
getting this on windows while use `WSL`

with bash as the shell

[2017-10-29 00:53] Tyriar commented on #13138
@nshtg I think something like that would work fine, I'd prefer not to have too much code inside the launch script, perhaps we could inline just the necessary parts of https://github.com/darealshinji/scripts/blob/master/wslpath ?

[2017-10-29 01:43] lukeed commented on #16460
Any update on this? Or any short-term fix? TBH it's really the only lingering habit I have that trips me up in Code.

[2017-10-29 01:52] #37000 closed

[2017-10-29 02:00] #36822 closed

[2017-10-29 02:03] JHorvath-MaxetaTech opened #37089 "VSCode Installer Fails on long paths since v1.17"
- VSCode Version: Code 1.17.1 (1e9d36539b0ae51ac09b9d4673ebea4e447e5353, 2017-10-10T14:24:50.851Z)
- OS Version: Windows_NT x64 6.1.7601
- Extensions:

Extension|Author (truncated)|Version
---|---|---
csharp|ms-|1.12.1

---

Steps to Reproduce:

1. Install or update Visual Studio Code v1.17 ( or above) using the Windows installer under a sufficiently long path (i.e. C:\Development Applications\Uti

[2017-10-29 02:05] roblourens commented on #34685
Agreed, and there should be an external PR incoming for this. If not I'll fix it...

[2017-10-29 02:09] qianyeyixia opened #37090 "更新到1.17之后vs 启动变得很卡"
- VSCode Version: 1.17.2
- OS Version:win10企业版

Steps to Reproduce:

1. 关于vs code刚刚打开的时候Microsoft VS Code\resources\app\node_modules\vscode-ripgrep\bin文件夹下的rg.exe卡电脑cup的问题
2.

Reproduces without extensions: Yes/No

[2017-10-29 02:27] biij5698 opened #37091 "请把vscode的logo换回以前的，新logo太烂，无法接受"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:57:00.652Z)
- OS Version: Linux x64 4.9.0-deepin12-amd64
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-css-formatter|aes|0.0.2
python|don|0.7.0
Go|luk|0.6.66

---

Steps to Reproduce:

1.
2.

Reproduces without extensions: Yes/No

[2017-10-29 02:34] #35735 closed

[2017-10-29 03:19] roblourens commented on #35612
I can repro too. There are some weird mappings in the sourcemap, but I have no idea why. The adapter ends up mapping the end line of the scope to be the same as the start line, but that's just based on info from the sourcemap.

What's also strange is that when I comment out the indicated line, it works, but it shouldn't, because it's still returning the bad scope. Maybe you can check that out @isi

[2017-10-29 03:24] tangorboyz commented on #36957
I just click the window exit button and then launch vs code  again.

[2017-10-29 03:40] ramya-rao-a opened #37092 "Cannot read property 'panel' of undefined when searching extensions"
- VSCode Version: 1.18 Insiders dated 2017-10-27
- OS Version: Any

Steps to Reproduce:

1. Search for any extension in the extensions viewlet
2. The search is successful but an error "Cannot read property 'panel' of undefined" pops up

Call Stack in the console:
<img width="1123" alt="screen shot 2017-10-28 at 8 39 56 pm" src="https://user-images.githubusercontent.com/16890566/32140509-2968a544-b

[2017-10-29 05:10] eterevsky commented on #36913
@Tyriar, no I haven't disabled GPU acceleration.

Attaching a screenshot of the profiler in Developer Tool.

![vscode-screenshot](https://user-images.githubusercontent.com/2182541/32140852-d316066e-bc6f-11e7-9e22-5121c8a9b150.png)

[2017-10-29 05:39] Summon528 commented on #36787
I also have the problem. Terminal cannot print all output if using Cmd or Powershell. It does behave well if using WSL though.

[2017-10-29 06:16] seanfrisbey opened #37093 "Comment Keyboard Shortcut Context"
- VSCode Version: 1.15.1
- OS Version:Windows 10 Pro build 17025

This isn't a bug, so there are no steps to reproduce. This is more of a suggestion. I think Visual Studio has this, but I can't recall at the moment. What I'm suggesting is that there be a single keyboard shortcut for commenting, and the commenting functionality decides to use a comment block if multiple lines are selected, and an i

[2017-10-29 06:21] good-bits commented on #33822
@isidorn Possibly related to this defect and hopefully helpful: I bumped an issue where console.log() and console.error() messages appear out of order in the JavaScript DEBUG CONSOLE. The isolated code below demonstrates the observation. Doesn't happen outside of the DEBUG CONSOLE. Thanks!

![image](https://user-images.githubusercontent.com/25337926/32141144-d5b71d20-bc35-11e7-80bf-461738c76092.pn

[2017-10-29 07:22] hanxue opened #37094 "git command runs indefinetely"
- VSCode Version: 1.17.2
- OS Version: MacOS 10.10.5

When I run the `SCM publish` command, I can see an indicator that the git command is running. Because I do not have permission to publish, or perhaps git is prompting for credentials, the command hangs indefinitely without any other window.

## Steps to Reproduce:

1. Clone a repository where you do not have write access to. My example was [htt

[2017-10-29 07:25] hanxue commented on #37094
After terminating the `askpass.sh` process, I see some git output error

[code]

[2017-10-29 07:37] wizardion commented on #35675
@theychx As I can see with the command `apt-cache policy libfreetype6` - I have Installed version: `2.8.1-0.1~xenial`. Not the `2.8-0.2ubuntu2` as you described. How can I downgrade to 2.8-0?

[2017-10-29 07:46] brianlinuxing commented on #36608
I recently had the same problem.

The previous week I had successfully compiled VS Code on an RPI3, as have many others, eg. https://www.hanselman.com/blog/BuildingVisualStudioCodeOnARaspberryPi3.aspx

Therefore the real questions are:

1. What is the bug?
2. Where does it comes from?
3. What has changed to make it happen?
4. How can we fix it?

[2017-10-29 07:54] zaakiy commented on #22305
+1. I would also like to have it in a detached window because the VS Code terminal is the perfect replacement to conhost.exe since it it natively presents extended character set font support as shown below when running fish (note that it properly displays git status with an "x" instead of "[]").

![image](https://user-images.githubusercontent.com/10609818/32141684-538e6876-bcda-11e7-90a8-07881d3ab

[2017-10-29 08:31] jedmao commented on #31380
@joaomoreno I also believe this issue should be reopened. I was just going to submit an issue myself, but saw this issue already exists.

## Expectations
1. If I rename a folder under Git version control, perform the appropriate [`git mv`](https://git-scm.com/docs/git-mv) command (e.g., `git mv ./foo ./bar`).
1. If I rename a file under Git version control, perform the appropriate [`git mv`](https

[2017-10-29 08:36] borekb opened #37095 "Indicate unsaved state closer to file name with tabs disabled"
I'm trying to run with tabs disabled (`"workbench.editor.showTabs": false`) and thought that the dirty marker is missing entirely:

![image](https://user-images.githubusercontent.com/101152/32141897-e1282270-bc8b-11e7-934a-8e5b28efa371.png)

It's in the top right corner but that's far from where I would normally expect it:

![image](https://user-images.githubusercontent.com/101152/32141908-0b99ee6

[2017-10-29 09:11] maxibanki commented on #37091
Only english please and here is an update to this topic:
https://code.visualstudio.com/blogs/2017/10/24/theicon

[2017-10-29 09:15] SebastianCApostolescu commented on #37003
I'm having a similar issue with VSCode. After a while the editor stops working correctly. Sometimes it doesn't let me type anything in the editor (I can delete code, copy/paste via shortcuts, terminal woks), emmet stops working, no snippets suggestions (hanging the cursos over a function or something that props more info just displays the loading circle), built in Git doesn't work (doesn't recogni

[2017-10-29 09:18] hanxue commented on #13680
Would love for vscode to obtain the ssh credentials from `ssh-add`.

For example, source tree is able to detect available credentials (using osxkeychain?), without any extra configuration

[code]

[2017-10-29 09:27] alixaxel commented on #31380
All the changes need to be staged for the renames to be aknowledged.

[2017-10-29 09:56] vammex commented on #35683
so good to know MS comes back! thank!

[2017-10-29 10:13] CoenraadS commented on #13612
Good news!

This has been picked up by the Chrome team: https://bugs.chromium.org/p/chromium/issues/detail?id=779372

[2017-10-29 10:18] alex529 opened #37097 "Grammar is in an endless loop"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:57:00.652Z)
- OS Version: Linux x64 4.10.0-37-generic
- Extensions:

Extension|Author (truncated)|Version
---|---|---
doxdocgen|csc|0.0.5
vscode-great-icons|emm|2.1.18
mips|kda|0.0.1
cpptools|ms-|0.14.0
debug|web|0.21.2

I am working on a c project and it happens every time i switch to a new .h file

[1] - Gramm

[2017-10-29 10:39] PixelT commented on #36201
I have this same issue on macOS

[2017-10-29 11:17] tahnik commented on #34865
@chaopeng just....thank you

[2017-10-29 11:33] davrodfer commented on #27131
I have the version 1.17.2 and this problem has returned. I don't have any extensions installed and witout open any file the problem persists
![code-screen](https://user-images.githubusercontent.com/9881459/32143141-568bd50c-bca5-11e7-812f-e472fe4d3485.png)

[2017-10-29 11:36] davrodfer commented on #27131
The process responsible is this:

`
/Applications/Visual Studio Code.app/Contents/Frameworks/Code Helper.app/Contents/MacOS/Code Helper /Applications/Visual Studio Code.app/Contents/Resources/app/out/bootstrap --type=watcherService
`

[2017-10-29 12:07] michyprima commented on #13612
Great. Vs code is not bad at all, but this issue drove me nuts to the point I completely stopped using it.

[2017-10-29 12:16] manico commented on #37071
How is it solved? I still have this issue. :(

[2017-10-29 12:45] shijunti19 commented on #37091
Yellow ribbon

When I saw it for the first time, I thought it was a yellow ribbon

黄丝带，是亲人离散后的求助标志，也是为亲人祈祷的祝福标识。
Yellow ribbon is a sign of help for relatives after dispersing, and also a blessing sign for relatives.

![u 2821243895 2991468826 fm 27 gp 0_](https://user-images.githubusercontent.com/5392211/32143794-141a7648-bcea-11e7-94d4-b852bb9359cc.jpg)

[2017-10-29 13:08] zh4ui opened #37098 "Grammar Injection doesn't not work on multi-line content"
I tried to inject TOML grammar into markdown, however the TOML colorizer only works on the first line (i.e. a = "b" in the image), it doesn't work on the following line (i.e. d = "c" in the image)

![begin-toml-end](https://user-images.githubusercontent.com/7352394/32143910-0d07814a-bc7f-11e7-80bf-c91f7e95eaec.png)

My tmLanguage.json for the injection is like:

[code]

The complete source code is

[2017-10-29 13:15] maxibanki commented on #37071
It's because of the vue-js extension: #36750

[2017-10-29 13:17] maxibanki commented on #37080
Okay :) then please the issue here :)

[2017-10-29 13:50] petrpacas commented on #36987
Actually, `.bashrc` is for non-login shells, but your suggestion to remove the default `-l` flag helped me finally...

What I did:
- Moved all config from `.bash_profile` to `.bashrc` and sourced `.bashrc` from it
- Followed your suggestions to remove the `-l` arg

[2017-10-29 13:55] kghose opened #37099 "After "save as" it is hard to get back keyboard focus on editor panel"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:47:41.889Z)
- OS Version: Darwin x64 16.7.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
cpptools|ms-|0.14.0
cmake|twx|0.0.17
cmake-tools|vec|0.10.2

---

Steps to Reproduce:

1. Take open, already saved file
2. Use "Save as" to save file
3. Press arrow keys - IDE navigates in Project panel ra

[2017-10-29 14:13] cielakm commented on #2806
This is great and I was waiting for this option a long time. Great work and great add on I will be definitely switching to code now.
Just a quick question. Is there a plan to add a switch so the terminal would appear on the left not on the right and not to the bottom but to top?

[2017-10-29 14:26] sousali commented on #14716
the issue is still here, **why** ? :/

[2017-10-29 14:31] hismichael opened #37100 "SimSun font's spaces are double as wide"
When I set  "editor.fontFamily": "SimSun", the spaces in my text become double as wide as other characters.

[2017-10-29 14:36] adityakr082 opened #37101 ".asm support"
We need .asm extension support in VS Code

[2017-10-29 14:55] lzjqsdd commented on #36220
same too

[2017-10-29 15:24] maxibanki commented on #37092
Hi Ramya Rao,
@sandy081 fixed it already and closed issue #37026 with commit de42a6d9350e07ece8bb8807528768487aa291fb. The insider builds on the download page are currently outdated and from the 27.10.2017. In my research I found out, that they are released weekly.

[2017-10-29 16:19] jeffman opened #37102 "Feature request: find/replace dialog selects previous query"
After I use find or find/replace one time, the next time I open the find/replace dialog the cursor will be automatically moved to the Replace field and the previous query is pre-populated in the Find field.

I find this annoying; almost every time I re-open the Find/Replace dialog I intend to make a new query, and I have to shift-tab back to the Find field every time (and then re-select the old qu

[2017-10-29 17:09] torn4dom4n commented on #30768
Same issue with `vscode-pdf`:

![image](https://user-images.githubusercontent.com/27698189/32146195-233c5f62-bd06-11e7-9bfc-bb042ebbabea.png)

[2017-10-29 17:11] johnunclesam commented on #17068
@foobar8675, it is still not working to me...

[2017-10-29 17:15] xiaoyueyue165 commented on #37065
I am Chinese, has been resolved, is the version of the problem, the above is not already in English description, you can not see ah?

[2017-10-29 17:16] johnunclesam commented on #5214
Any news on this?

[2017-10-29 17:17] mar-ses commented on #36964
I'm using Ubuntu Unity.

[2017-10-29 17:18] foobar8675 commented on #17068
@johnunclesam i'm not sure then. this is prob not what u are looking for, but i have 2 RN projects, one using flow and one using typescript. i'm finding i'm quite happy with typescript and will probably use it on my next project over flow.

[2017-10-29 17:26] johnunclesam commented on #15171
@foobar8675 the problem is still there:

![image](https://user-images.githubusercontent.com/21275217/32146330-296a8a2e-bcd6-11e7-9571-cccb2a9983ec.png)

I writed this file: ".tsconfig" in root folder (tried also in just "./src" folder), reloaded VSCode and still the problem.

**.tsconfig**:

[code]

[2017-10-29 17:27] jedmao commented on #31380
@alixaxel good point! vscode is showing my changes as renamed. I don't see an issue here any more.

[2017-10-29 17:49] LazyKnightX commented on #36462
This will help javascript developer feel good while using vscode, vote +1.

[2017-10-29 18:14] jerch commented on #20013
@Tyriar It is still possible to carry the master fds around without duping it, if `O_CLOEXEC` is not set. It is important to reenable it in the browser process, otherwise the fds will leak to all subprocesses.

[2017-10-29 18:14] pablote commented on #36987
Removing the `-l` option makes the vscode terminal fail on some stuff I have on .bash_profile (iterm2 integration and showing git branch on the prompt), and the `nvm` just doesn't work anymore:

[code]

@petrpacas I didn't quite understand what you did with the bash files, and I'd love to try that to see if it fixes this

[2017-10-29 18:22] pablote commented on #36987
Ok, got it working by only having this in `.bash_profile`:

[code]

And previously moving `mv .bash_profile .bashrc`. I have no idea why this works, but hopefully it will help anyone else running into this.

[2017-10-29 18:28] kirusyaga commented on #36493
@alexandrudima It seems that the Intel Graphics driver is to blame for this.

[2017-10-29 18:36] sandy081 commented on #11399
Here are the commands

- `workbench.action.problems.show` : Show Problems view
- `workbench.action.closePanel`: Close the view

[2017-10-29 18:37] #11399 closed

[2017-10-29 18:45] foobar8675 commented on #15171
@johnunclesam sorry, i have no idea what the issue is then.

[2017-10-29 18:45] #27802 closed

[2017-10-29 18:45] roblourens commented on #27802
Verifier - check that there is a warning printed when using a backreference like `\1`, and not for any other pattern, like a literal `\` followed by a number.

[2017-10-29 19:01] cr0cK commented on #13953
The trick with `tsc` into a debug task is not always possible, for example in a Vue project with custom Webpack loaders to handle .vue files (`tsc` can't parse Vue files out of the box).

But you can find a way to have all errors by watching and compiling your project into a VS Code terminal.

For example, I did this npm script:
`"live-check": "webpack --config ./build/webpack.dev.conf.js -w --dis

[2017-10-29 19:46] #26598 closed

[2017-10-29 19:47] Tyriar opened #37103 "Links disappear when the terminal is hidden and shown"
Repro:

1. Create a new terminal
2. `echo 'https://code.visualstudio.com'`
3. Create a new terminal
4. Switch back to previous terminal, the link doesn't work anymore

It also works with toggling terminal

[2017-10-29 19:48] lessandsass commented on #37001
## ### Poor support for SASS

- Color code are not showed the color with sass variable.
![image](https://user-images.githubusercontent.com/31947204/32147587-e5a93d00-bd0f-11e7-96e7-942c7bf99d32.png)

[2017-10-29 19:59] lessandsass commented on #37001
## Many builtin PHP functions are not pop up as hint.

-Ex: mysqli_query( ) and more...
![image](https://user-images.githubusercontent.com/31947204/32147711-a263e03e-bd11-11e7-9e55-49a1779e51d9.png)

## Difficult to type php tags

- We have to manually type the php tags as `<?php  ?>`. make easier to type php tags tabbing or with the help of emmet.

[2017-10-29 20:04] #32142 closed

[2017-10-29 20:30] #32042 closed

[2017-10-29 20:31] Tyriar commented on #32042
This should work in the next Insiders when you're using the new `onLineData` api (https://github.com/Microsoft/vscode/issues/29840), it's not perfect as it's just guessing where lines should wrap on Windows, but should cover most of the cases. See https://github.com/sourcelair/xterm.js/pull/1096 for impl details.

[2017-10-29 20:32] #35505 closed

[2017-10-29 20:47] andp97 opened #37104 "The program is executed same as a VideoGame"
- VSCode Version: Code 1.17.1 (1e9d36539b0ae51ac09b9d4673ebea4e447e5353, 2017-10-10T14:24:50.851Z)
- OS Version: Windows 10 x64 10.0.15063
- Extensions: none
---

1. When i start visual studio on my desktop, vscode is executed by the GPU (Nvidia GTX 1050) i see it in the Nvidia panel on the tarybar and when i open the vs code start the  geforce experience software that show me the FPS (Framerate)

[2017-10-29 21:00] Ffloriel commented on #15539
@arthurgeron and that's why I like in Open Source, you don't have to wait for the core team to do something. You just need one person with some time to send a PR.

Let's hope it's ok and it's merged soon 😊

[2017-10-29 21:28] joaomoreno commented on #25843
https://github.com/joaomoreno/gulp-atom-electron/pull/46 allows this to happen. Setting it for November.

[2017-10-29 21:38] joaomoreno commented on #36375
It's fine. As I said, the work is done on our side. The next release of git will work together with our fix and make this problem go away.

[2017-10-29 21:39] joaomoreno commented on #36824
Great to know.

[2017-10-29 21:39] #36824 closed

[2017-10-29 21:40] joaomoreno commented on #36479
Beautiful!

[2017-10-29 21:42] joaomoreno commented on #36653
So it isn't VSCode's git integration, since that simply calls `git status` in the background.

[2017-10-29 21:43] joaomoreno commented on #37068
@chrmarti Open `htop` and tell me what the git processes are doing.

[2017-10-29 21:44] joaomoreno commented on #36984
Are the names using non-ASCII characters? If so, can you give me an example?

[2017-10-29 21:45] joaomoreno commented on #37029
If you open the Explorer and then delete a file outside Code, does the file disappear from the Explorer view? Are file events working?

[2017-10-29 21:49] joaomoreno commented on #36201
@ravinsinghd How about tomorrow, Monday, October 30 at 07:30 AM UTC? That would be 13:00 in Bangalore.

https://hangouts.google.com/hangouts/_/joaomoreno.com/vscode36201

[2017-10-29 22:07] Thinkscape commented on #37016
I'm not trying to search across lines, i'm trying to replace a line which ends with a newline character.

Is this some side-effect from how vscode runs its regex search across files (so it eats those `\r\n` chars?)

[2017-10-29 22:27] TeemuKoivisto opened #37107 "Mac OS X terminal doesn't show characters such as: ö, ä, å"
- VSCode Version: 1.17.2 (1.17.2)
- OS Version: Mac OS Sierra 10.12.6

Steps to Reproduce:

I have had VSCode for a half year now on my computer and this is the first time I noticed that I can't actually type in scandinavian characters eg. ö, ä, å (and I can't remember was I able before). Also copy-pasting them into terminal doesn't show anything sensible so probably the terminal's encoding has go

[2017-10-29 22:33] roblourens commented on #37016
Yes, so you can match the end of a line with `$` but not the newline character. `$` should be good enough if you just want to match the end of a line. But if you don't want to match the end of a line that doesn't end with a newline (like a missing newline at the end of a document, I don't think there's a way to distinguish between the two cases).

[2017-10-29 23:07] igor-sky commented on #18059
Completely agree with @Tyriar - there is no need to show diff each time I jump to next diff, it's very distracting.
But there are definitely cases when I want to see the diff for current like, and it should be done by another key shortcut/action.

[2017-10-29 23:40] esuus opened #37108 "Various core features not functional: e.g. format, intellisense, code navigation"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
npm-intellisense|chr|1.3.0
path-intellisense|chr|1.4.2
vscode-eslint|dba|1.4.0
vscode-babel-coloring|dza|0.0.4
auto-close-tag|for|0.5.2
code-runner|for|0.8.2
vscode-cdnjs|Jak|0.14.3
docthis|joe|0.6

[2017-10-29 23:41] resolutecake commented on #36005
Upgraded to Ubuntu 17.10 Wayland, still happens

currently blew through 107 GiB
waiting to see how it ends… 141 GiB…

I cannot trigger it every time I do the deploy-over-ssh, but it clearly is triggered by that activity.
So, when I run the same thing immediately again,it doesn’t happen

I think we are at the end of what silly users can figure out. Does msft has anything?

[CPU-20171029T163333.cpup

[2017-10-29 23:49] resolutecake commented on #36005
lsof tells us it is not changing files open during 20 minutes
0.182 TiB…

[2017-10-29 23:52] resolutecake commented on #36005
page faults, page allocation stalls, memory pressure relief 0.196 TiB

[2017-10-30 00:05] felipenmoura commented on #35164
I find it very important.
I really like VSCode and it has become the first editor to offer support for the touchbar, what is awesome.
It's still a long way to the top, though!

I just wrote a plugin that adds features to the touchbar while you are coding.
I would like to add some comments on it:

- The Extensions APIs are very verbose and have some extra, unnecessary complexity.
- The Extensions A

[2017-10-30 00:11] resolutecake commented on #36005
The project is just text files, ie. YAML/Jinja, so Code only does a little syntax coloring

[2017-10-30 00:28] roblourens commented on #36005
@demestav Please open a new issue - you're seeing lots of activity in the searchService where @resolutecake is seeing it in the renderer process, so it may be a different issue.

Also please try the Insiders build, and try starting with `--disable-extensions`.

[2017-10-30 00:38] ramya-rao-a commented on #37092
Thanks @maxibanki !

I made the mistake of looking for dupes in opened issues instead of also looking at closed ones :)

Closing this as duplicate of #37026

[2017-10-30 00:38] #37092 closed

[2017-10-30 00:41] #31496 closed

[2017-10-30 00:43] roblourens commented on #31496
Also triggered by just clicking the viewlet buttons to show the search viewlet, show/hiding the sidebar, etc. It should *only* be triggered when specifically intended, with focus in the editor.

FYI @sandy081 I added new actions for this, `replace/findInFilesWithSelectedText`. I guess it has the potential to confuse someone's keybindings but hopefully not a problem.

[2017-10-30 00:44] taoxiaofeng opened #37109 "Every time you open the editor is very card"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
html-snippets|abu|0.1.0
html-class-suggestions|And|1.0.7
path-intellisense|chr|1.4.2
open-html-in-browser|cod|0.1.21
vscode-html-css|ecm|0.1.8
tslint|eg2|1.0.13
beautify|Hoo|1.1.1
vscode-simple-ico

[2017-10-30 01:22] ramya-rao-a commented on #36650
When searching for extensions, the recommended ones will have an indicator on the top left. On hover, the recommendation reason shows up. The same will also be part of the aria-label to aid screenreaders. The same will also show up in the Extension Editor which opens when any extension in the list is clicked.

![image](https://user-images.githubusercontent.com/16890566/32150967-14963ada-bcd6-11e7-

[2017-10-30 01:26] ramya-rao-a commented on #36649
Of the 4 experiments detailed in https://github.com/Microsoft/vscode/issues/36649#issue-267253728, the 2nd and 3rd will be shipped in the October milestone.

[2017-10-30 01:26] #36649 closed

[2017-10-30 01:28] mangege commented on #36878
screenshot url: https://imgur.com/yKCUqxH

[2017-10-30 01:33] diuming opened #37110 "the workspace path can't include whitespace on Mac and Linux for Python"
- VSCode Version: 1.17.2
- OS Version: Mac high Sierra, Ubuntu 16.04

Steps to Reproduce:

1.
2.

Reproduces without extensions: Yes/No

[2017-10-30 01:47] atian25 commented on #34668
@weinand additional 2 request:

1. `DebugConfigurationProvider` should support `compounds`
2. allow hidden or sort order at debug configuration drop list.

![image](https://user-images.githubusercontent.com/227713/32151329-173d54f8-bcea-11e7-9e84-ee2975af8e04.png)

We only want to show user: `Egg Debug` and `Egg Debug with brk`(which is compounds)

so feature request is either provide a hidden pro

[2017-10-30 01:57] nojvek commented on #36375
You guys are awesome. Look forward to the next release.

On Sun, Oct 29, 2017 at 2:38 PM João Moreno <notifications@github.com>
wrote:

[2017-10-30 02:17] athinboy commented on #37015
@mjbvz  thanks,i will try !

[2017-10-30 02:28] ramya-rao-a commented on #36628
The fix for this will be out in Monday's Insiders build

[2017-10-30 02:28] #36628 closed

[2017-10-30 02:29] ramya-rao-a commented on #36300
The fix will be out in Monday's Insiders build

[2017-10-30 02:29] #36300 closed

[2017-10-30 02:42] ramya-rao-a commented on #36347
The fix for this will be in Monday's Insiders build

[2017-10-30 02:42] #36347 closed

[2017-10-30 02:50] ayepRahman opened #37111 "Cant use user snippets after setting up"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:57:00.652Z)
- OS Version: Linux x64 4.13.0-16-generic
- Extensions:

Extension|Author (truncated)|Version
---|---|---
beautify|Hoo|1.1.1
material-icon-theme|PKi|2.2.4
html-css-class-completion|Zig|1.11.0
html-snippets|abu|0.1.0
vscode-color|ans|0.4.5
path-intellisense|chr|1.4.2
vscode-eslint|dba|1.4.0
react-redu

[2017-10-30 02:50] yoyo837 commented on #37109
What is `very card`?
Very Slow? Chinglish?

[2017-10-30 02:55] kibobe04 opened #37112 "Can't create folder or file in new empty project opened via "Open Folder""
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
markdown-toc|Ala|1.5.6
git-easy|bib|1.9.1
php-debug|fel|1.11.1
php-intellisense|fel|1.5.4
php-pack|fel|1.0.1
crane|Hvy|0.3.8
markdown-converter|man|0.0.10
vs-deploy|mkl|10.0.0
vscode-icons|rob|7.17

[2017-10-30 02:57] protoEvangelion commented on #35462
@sandy081 Is there any temporary workaround for this?

[2017-10-30 03:20] ramya-rao-a commented on #36367
At the moment, emmet cannot parse php file and identify html only areas.
But I have pushed a fix for the scenario mentioned above where something that is clearly not an emmet abbreviation is being treated as such
The fix will be out in Monday's Insiders build.

If you notice any other cases, please feel free to log an issue

[2017-10-30 03:35] oshalygin commented on #37029
@joaomoreno events are working but they're SUPER slow, like 45 seconds to show up

[2017-10-30 03:38] xueyunquan commented on #5605
A **native** outline view is definitely needed. Although the Code Outline plugin provides the functionality in a quite nice way, there are still some issues:

* The Code Outline plugin responses very slowly when switching between source files, i.e. the Code Outline view takes a  lot of time to update.

* The Code Outline view cannot be moved freely to other places in VSC. For example, I cannot rep

[2017-10-30 03:41] mattacosta opened #37113 "Inconsistent number of code references shown in typescript file"
- VSCode Version: Code - Insiders 1.18.0-insider (e6a76e4bd3f52ab07452bb181e861f5a9bfb6596, 2017-10-27T04:19:22.491Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions: none
---

**Description:**
The number of code references shown in a file is inconsistent after opening another file that is also part of a different `tsconfig.json`.

If the number of references is intended to be dynamic, then t

[2017-10-30 03:44] proclaim commented on #4624
I just did it and here are the steps
https://medium.com/@jimkang/complete-uninstall-remove-vscode-mac-5e48bef3bdec

[2017-10-30 03:44] harryxu commented on #35462
Annoying me too, and seems vscode can not remember which panel has been hided.

[2017-10-30 03:48] timonwong opened #37114 "Using IME with markdown preview enabled, press ESC/BACKSPACE leads in control characters"
- VSCode Version: 1.17.2
- OS Version: macOS 10.11.6

Steps to Reproduce:

HINT: You may need to enable `editor.renderControlCharacters` in order to see what happens, or the control characters is invisible.

1. Open a "markdown preview" in a split (just ensure the markdown preview is visible).
2. In another split, edit *arbitrary* file with IME (mine with Chinese Pinyin).
3. Type some characters u

[2017-10-30 03:48] smarter commented on #19636
It'd be great to see some work towards standardizing the vscode debug protocol following the success of the LSP (see also https://github.com/Microsoft/vscode-debugadapter-node/issues/59), and this would be a good first step.  Getting other IDEs to implement the vscode debug protocol would be especially useful now that the [Java Debug Server](https://code.visualstudio.com/blogs/2017/09/28/java-debu

[2017-10-30 04:23] #24677 closed

[2017-10-30 04:24] wu67 opened #37115 "clear the 'multi cursor' please"
- VSCode Version: 1.17.2
- OS Version: Mac OS 10.13

The 'multi cursor' work when i press 'ctrl + alt + up/down'(my key bindings). But it doesn't work with mouse.

Steps :

1. Holding the 'alt' key
1. Holding the 'main' key(in mouse) and drag the mouse cursor vertically, and it's behavior is same as holding the 'command' key at `step 1`. It is just a 'multi line', not 'multi cursor'!

[2017-10-30 04:28] matt-adam commented on #36438
Spectacular -- you guys are heroes. Thank you very much!

[2017-10-30 04:28] delsvr commented on #16131
For the record,

Even with:

[code]

I still see connection attempts by Visual Studio Code to `marketplace.visualstudio.com` and `vortex.data.microsoft.com`.

[2017-10-30 04:39] kibobe04 commented on #37112
UPD: it seems  that this issue is caused of cyrillic folder name in path, for example: C:\Верстка\Banners.

You won't be able to create folders or files inside "Banners" folder in vscode filemanager.

[2017-10-30 04:41] ravinsinghd commented on #36201
Awesome will connect

[2017-10-30 04:48] xttn commented on #23931
Display search results in a tab instead of the side bar please, like Sublime text

[2017-10-30 04:50] roblourens commented on #24677
I don't know if every case for this bug is fixed, but I fixed the one that can be reproed as follows:

- In the vscode workspace, find the `"build/**/*.js": { "when": ... ` search.exclude rule in settings.json.
- Remove 'build' so it starts `"**/*.js": ...`.
- Results for .js files from build/lib were wrongly returned :bug:. Now they should be correctly suppressed

[2017-10-30 04:52] franklin-ross commented on #32929
@Tyriar Did you mean just the console errors aren't related? Cos that makes sense.

Any ideas about the hangs? Can I provide any more info, or is it something I should post to the xterm repo?

[2017-10-30 05:21] cpxPratik commented on #509
@Tyriar I customized key-binding for `copy line down` with `Ctrl+D` and it works for both uses, i.e.  "Add selection to next find match"  too.

[2017-10-30 05:22] ramya-rao-a commented on #37003
@SebastianCApostolescu Can you try the latest Insiders from https://code.visualstudio.com/insiders and tell us if you still see the issue?

[2017-10-30 05:36] LukeLindsey commented on #35462
@sandy081 I don't understand what you mean by 'disabling contribute views'. What functionality of the extension does that entail; all the views in the editor itself (GitLens for example) in addition to the ones in the side bar? Or more granular than that?

[2017-10-30 05:48] jiangkfe opened #37116 "Can't run python code in vscode with 'run in terminal'"
Can't run python code in vscode with 'run in terminal'

- VSCode Version: 1.17.2
- OS Version: macOS High Sierra

Steps to Reproduce:
1. input python code
2. right click and try to click 'run in terminal'
3. check the right-click items

Reproduces without extensions: Yes/No

[2017-10-30 05:50] IgorNovozhilov commented on #36984
Paths:
`d:\#MYGIT\CodeClimber`
`d:\#MYGIT\ndk`

[2017-10-30 06:06] Tyriar commented on #37116
You need to go through the command palette (cmd+shift+p), you can also assign a keybinding to the command if you want.

[2017-10-30 06:06] #37116 closed

[2017-10-30 06:11] bpasero commented on #36958
No.

[2017-10-30 06:14] bpasero commented on #36976
@isidorn yeah now I do not see this anymore, very weird. Note that I was not starting from a workspace, I started from a single-folder workspace.

[2017-10-30 06:16] bpasero commented on #36997
@auchenberg we already benefit from the fact that most of our JS code is bundled into a single file. I think where a concept like ASAR could only help us is with node modules access which in our case is not bundled in any way.

+ @alexandrudima who recently looked into ASAR when checking for file access on startup.

[2017-10-30 06:16] badass-icon commented on #35783
Build with icon change is coming :)

[2017-10-30 06:16] Tyriar opened #37117 "October Endgame"
## Endgame Schedule
- *October 30*, Code freeze for the endgame
- *November 6*, Endgame done

#### Monday, October 30
- [x] Code freeze at 5pm PT
- [x] Ensure we have a green build on all platforms at 5pm PT
- [x] All test items are created (with "complexity" but not necessarily with full description) by 11pm ZRH time (2pm PT)
- [x] All test items contain comprehensive test descriptions by 10pm PT

[2017-10-30 06:17] bpasero commented on #36998
@aj-badarni can you clarify where you saw issues popping up? in the integrated terminal?

[2017-10-30 06:18] bpasero commented on #37013
@roblourens this looks like it could be the cause of https://github.com/Microsoft/vscode/issues/36005 ?

We should look into this issue for October, do you agree?

[2017-10-30 06:19] #35601 closed

[2017-10-30 06:20] bpasero commented on #37045
@isidorn any clue why the explorer contributions are not showing up for "open editors"? is that on purpose or by accident? Maybe when we tackle the menu debt in the files explorer we should also tackle it for "open editors".

[2017-10-30 06:21] bpasero commented on #37083
Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market place, click on the **Support** link to find out more.

<im

[2017-10-30 06:21] #37083 closed

[2017-10-30 06:22] bpasero commented on #37099
@kghose can you share a video of what you mean?

[2017-10-30 06:23] snovey opened #37118 "How to turn off copy with syntax highlighting?"
- VSCode Version: 1.17.2
- OS Version: Windows 7

Reproduces without extensions: Yes

I don't want to use it most of the time but I can't find a way to turn it off.

How can I turn it off so that I copy plain text only?

[2017-10-30 06:27] #31182 closed

[2017-10-30 06:27] snovey commented on #37118
And sometimes I need the copy with syntax highlighting without background color. Is there any way to config it?

[2017-10-30 06:46] mtsh1000 commented on #36955
This is indeed electron bug [https://github.com/electron/electron/issues/10897](url)

[2017-10-30 06:51] #36029 closed

[2017-10-30 06:51] #36101 closed

[2017-10-30 07:27] agahtoruk opened #37119 "There is no useful FTP solution"
Hi,
VS Code has not FTP solution. I downloaded the **ftp-sync** and **ftp-simple** plugins but they are not useful. Notepad++ **npp-ftp** plugin is very useful for developers. I think every developer wants FTP solution like **npp-ftp** in VS Code.
Thanks.

[2017-10-30 07:30] joaomoreno commented on #36984
Is the folder literally called `#MYGIT`?

[2017-10-30 07:31] joaomoreno commented on #37029
@kaitoAckerman Do you confirm?

Seems to be an NSFW problem, since git relies on our internal file system events.

[2017-10-30 07:32] ravinsinghd commented on #36201
@joaomoreno i joined in hangout

[2017-10-30 07:32] joaomoreno commented on #36201
Hmmm me too... I don't see you there.

[2017-10-30 07:32] joaomoreno commented on #36201
Can you try again?

https://hangouts.google.com/hangouts/_/joaomoreno.com/vscode36201

[2017-10-30 07:33] kaitoAckerman commented on #37029
@joaomoreno yes I confirm.

[2017-10-30 07:37] jens1o commented on #16131
:(

That's not I'm expecting, although the first url requested is kind of valid, since you only want to disable automatic update, which means that `Code` is still searching for them.

[2017-10-30 07:38] isidorn commented on #36955
@mtsh1000 Can you please file this one against electron then please?

[2017-10-30 07:42] isidorn commented on #36720
@tangorboyz there is a refresh in the explorer title area. Please try that

[2017-10-30 07:49] isidorn commented on #36996
Fixed, dup of https://github.com/Microsoft/vscode/issues/36963

[2017-10-30 07:49] #36996 closed

[2017-10-30 07:51] isidorn commented on #33096
@fabiospampinato lack of time, nobody else complained.
If the fix is nice then a PR is of course welcome. The underlying problem is that inDebugMode shuld not be true when the developer tools are open. Thanks

[2017-10-30 07:54] isidorn commented on #29590
@Tyriar thanks for the update. This is not urgent -> pushing to On-Deck milestone.

[2017-10-30 07:57] Silic0nS0ldier commented on #36630
Just hit this issue myself.
[code]

Last time I used this command was 3 months ago, and it had worked then. Most notable changes are updating to Fall Creators Update (non-Insider), several updates to docker, and several VS Code updates. Everything was up to date the last time it worked, and everything is up to date now.

Like the OP, regular PS window works fine.

Taking a look at the stack trace,

[2017-10-30 07:58] isidorn commented on #36844
@paustint thanks for more details, however what client library is he refering to?
Is he simply using our api and if yes what exact call does the automatic show of output?

[2017-10-30 08:02] patrys commented on #5605
@xueyunquan FWIW I've made version 0.0.12 much faster.

[2017-10-30 08:04] isidorn commented on #36976
@bpasero Might be a timing issue. Anyways closing until you see it again.

[2017-10-30 08:04] #36976 closed

[2017-10-30 08:05] joaomoreno opened #37121 "Lots of `Promise did not implement oncancel` in extension viewlet"
1. Open extensions viewlet
2. Search for `@sort:installs`
3. Using your mouse, pick up the viewlet's scrollbar and move it up and down, pausing every now and then for 1 second at a time

Pages are cancelled if they are not needed since the user scrolled away from them. There must be some `new Promise()` somewhere which doesn't propagate cancellation.

![image](https://user-images.githubusercontent

[2017-10-30 08:05] isidorn commented on #33822
@good-bits yeah, this seem to be the same issue. Assigning to November to investigate into a fix.

[2017-10-30 08:07] isidorn commented on #37084
This has to do with how we are storing split view show state -> assigning to @sandy081

[2017-10-30 08:13] IgorNovozhilov commented on #36984
Yes, it's a valid name in windows

[2017-10-30 08:16] #37033 closed

[2017-10-30 08:17] moskal91 commented on #36598
@pmkary I checked how it is done in other theme and found that `"peekViewResult.fileForeground"` does exactly what you want.

[2017-10-30 08:21] lepinekong opened #37122 "CPU load increases to 100% after some time"
- VSCode Version:  1.17.2
- OS Version: Windows 10
- Computer: Surface Pro 2017 iCore 5

Steps to Reproduce:

1. Open a folder with vscode from explorer
2. Let it open several min / hours even without using it
3. CPU load finally increase to 100%
4. Close VSCode CPU decreases to 10%

Reproduces without extensions: No

[2017-10-30 08:22] mostr commented on #37094
I've got the same (loading indicator spinning and CPU/mem load is getting high) even if the repo is perfectly fine and I can easily publish. It happens only when SCM panel is active (as soon as I open file explorer instead the load goes down). Restarting the app doesn't help here.

Here is my VSC version info
[code]

[2017-10-30 08:28] mihailik commented on #35896
@jaomoreno these azurewebsites.net links return metadata and downloads for EXE builds (in case of win32).

Is there a similar link for ZIP builds please?

[2017-10-30 08:30] sandy081 commented on #33791
Yes, we only install the compatible extensions for the given VS Code version by checking their `engine` property.

[2017-10-30 08:31] cpprookie opened #37123 "vscode on mac debug stuck?"
- VSCode Version:  1.17.2
- OS Version: mac os 10.12.4

![image](https://user-images.githubusercontent.com/18083815/32161173-8e737c50-bd8f-11e7-8ff0-cf12fb46fbed.png)
I installed code but found that i cannot debug. when i start debug mode, the bottom left corner will appear a progress bar (the red border area) and stuck at 11%. The only reason i could guess is that i didn't start it as root. Then

[2017-10-30 08:34] sandy081 commented on #35462
Ability to customise (enable/disable) each contributed view from the extension. If an extension has more than one contributed views, you could be able to enable/disable each one for a workspace or globally.

[2017-10-30 08:43] euk-anthonyb commented on #36201
Hi guys, I've been out of the office for a while.

Here are my cmd prompt environmental variables:
![image](https://user-images.githubusercontent.com/14346320/32161654-512ffe7c-bd4e-11e7-9ea8-f711c5b26ba7.png)

[2017-10-30 08:47] smalllong opened #37124 "The terminal selector is not convenient"
- VSCode Version: 1.17.2
- OS Version: windows 8.1

The terminal selector on the left of the _New Terminal_ button is not so convenient. We have to click two times to change to another terminal.
I think it's better to change the selector to tabs so that we can click one time to change current terminal. Or we can optimize it so that we can use a mousedown-mousemove-mouseup style to change the termi

[2017-10-30 08:50] weinand commented on #37123
@cpprookie how does your launch config look like?

[2017-10-30 08:51] #36646 closed

[2017-10-30 08:53] alexandrudima commented on #36997
:+1:

[2017-10-30 08:56] bpasero commented on #37095
This issue has already been reported. Please use the search function next time before reporting an issue and/or this time if you are curious about the progress of the issue.

[2017-10-30 08:56] #37095 closed

[2017-10-30 08:58] alexandrudima commented on #37003
As mentioned above, there are two problems:
* in 1.17, the editor doesn't accept typing until emmet is activated
* there are extensions which have poor implementations and block the extension host process for a long period of time.

The first problem is resolved on master and has shipped in the Insiders Release Channel, the second problem is not something we can fix on our side.

[2017-10-30 08:59] #37003 closed

[2017-10-30 08:59] isidorn commented on #37122
@lepinekong hi, can you please follow this page to give us more details that we need in order to be able to help
https://github.com/Microsoft/vscode/wiki/Performance-Issues

[2017-10-30 09:00] #36493 closed

[2017-10-30 09:00] maxibanki commented on #37118
Duplicate of #21071

[2017-10-30 09:01] bpasero commented on #37029
@joaomoreno fyi NSFW is only used in a multi-root environment, otherwise it would be chokidar.

@kaitoAckerman
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2017-10-30 09:05] maxibanki commented on #37119
Then contribute to these extensions or create an issue there, so they will meet your wishes. :)
But here is definitely not a place for such an issue. thx

[2017-10-30 09:06] alexandrudima commented on #32668
We have added the "Tab moves focus" feature for accessibility purposes. We will not remove it. It is very easy to remove a keybinding if you don't like it: `ctrl+k ctrl+s` -> search for `ctrl+m` -> right click -> Remove keybinding

[2017-10-30 09:06] #32668 closed

[2017-10-30 09:10] alexandrudima commented on #36443
The following built-in themes are all coming from the same extension, `theme-defaults`:
* light
* light+
* dark
* dark+

This appears to be a problem specific to the Sapphire themes. Would you like me to debug your Sapphire themes ?

[2017-10-30 09:18] innerlee commented on #37124
You can bind ``Alt + ` `` to `Focus Next Terminal` and ``Shift + Alt + ` `` to `Focus Previous Terminal`

[2017-10-30 09:20] innerlee commented on #37117
`v1_18.md` I believe?

[2017-10-30 09:23] sanghin commented on #31388
@mjbvz Sorry for my late (late) response. This issue can be closed. I'm now on :

- VSCode 1.17.2 (1.17.2)
- High Sierra Version 10.13

I'm pretty sure that the issue was caused by an incomplete configuration of file.exclude and search.exclude options

[2017-10-30 09:24] dbaeumer commented on #37111
@ayepRahman can you please describe the issue you are seeing in more details (e.g. steps to reproduce, GitHub repository to clone, ...). With the provided information the issue is not actionable.

[2017-10-30 09:25] alexandrudima commented on #36443
I can reproduce specifically when switching between Sapphire themes. I have tracked the root cause to

`TextMateService.compareTokenRules` i.e. b5783867f397e7fbba0ce83320b337297797e5ab

[2017-10-30 09:25] borekb commented on #37095
Oh, sorry, I missed it (I always search before reporting). This is a duplicate of https://github.com/Microsoft/vscode/issues/19531.

[2017-10-30 09:25] rstraub commented on #35210
I experienced similar issues, they seem to be resolved when using the 1.18 insiders build.

[2017-10-30 09:26] isidorn commented on #36662
Increased by 10px, here is how it looks now on my machine
In case you would like to more fine tune this, here's a code pointer
https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/browser/parts/panel/media/panelpart.css#L92

<img width="201" alt="screen shot 2017-10-30 at 10 24 37" src="https://user-images.githubusercontent.com/1926584/32163434-955a4446-bd5c-11e7-948e-b8d0dcda315c.png"

[2017-10-30 09:26] dbaeumer commented on #37110
@diuming I am assuming you are using a extension providing the Python support. Please file the issue there. Thanks.

[2017-10-30 09:26] #37110 closed

[2017-10-30 09:27] dbaeumer commented on #37110
If you think it is a VS Code issue, please provider steps on how to reproduce the problem.

[2017-10-30 09:27] shingkit opened #37125 "fleexclude"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:47:41.889Z)
- OS Version: Darwin x64 17.0.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
react-native-react-redux|EQu|1.4.1
code-settings-sync|Sha|2.8.3
vscode-eslint|dba|1.4.0
tslint|eg2|1.0.13
vscode-npm-script|eg2|0.3.1
json-tools|eri|1.0.2
tortoise-svn|fan|0.1.1
vscode-auto-open-markdown-p

[2017-10-30 09:28] alexandrudima commented on #37115
@wu67 Not sure what you mean.

You can get box selection via `shift+alt+` and mouse click:
![37115](https://user-images.githubusercontent.com/5047891/32163606-1d4eed84-bd5d-11e7-95a0-901eb0b4415d.gif)

[2017-10-30 09:28] dbaeumer commented on #37109
@taoxiaofeng can you share a workspace that demos the behavior. Are you seeing it if you start VS Code with all extensions disabled as well. (e.g launch from the terminal with `--disable-extensions`)

[2017-10-30 09:29] #37118 closed

[2017-10-30 09:32] tangorboyz commented on #36720
Hahaha, silly me.

[2017-10-30 09:34] dbaeumer commented on #37125
@shingkit can you please provide more details about the problem you have with VS Code. With the current information provided the issue is not actionable.

[2017-10-30 09:36] ctrlaltcookie opened #37126 "require path breaking intellisense for javascript files"
I have a problem which is caused by using `./` in the path of a require, for example: `const AVariable = require('./index');` which breaks intellisense and most navigation functionality. VScode on mac.

- VSCode Version: 1.17.2 (1.17.2)
- OS Version: Mac Sierra 10.12.6

Steps to Reproduce:

1. Add any require anywhere in a file with a path that navigates up a folder using `./`
2. Observe all navig

[2017-10-30 09:37] dbaeumer commented on #37104
@andp97 yes, VS Code as many other programs make us of the GPU if present. I can't comment why some of your GPU experience software pops up. I think you need to control this in that software.

[2017-10-30 09:37] #37104 closed

[2017-10-30 09:37] cpprookie commented on #37123
@weinand
Did you mean config part in the picture?
![image](https://user-images.githubusercontent.com/18083815/32163830-8b8262aa-bd98-11e7-8324-b07f7426d2ea.png)
When i try to add one, the problem in the question appear again.

[2017-10-30 09:38] jrieken opened #37127 "Revisit document/editor computation"
With the work for #35996 some debt has become visible. We still want a single, do it all, computation of the document/editor state but the list of documents should be updated incrementally (instead of recomputing this all the time)

[2017-10-30 09:38] qin-nz opened #37128 "args format not correct in help"
- VSCode Version: 1.17.2 b813d12980308015bcd2b3a2f6efa5c810c33ba5
- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. `code --help`
[code]

2. `sudo code --user-data-dir ~/.vscode file.txt`
error: `It is recommended to start vscode as a normal user. To run as root, you must specify an alternate user data directory with the --user-data-dir argument.`

3. `sudo code --user-data-dir='~/.vscode' file.

[2017-10-30 09:42] moskal91 commented on #36901
@zesik I don't have access to other platforms now, but this is how it works for me:
![replace_bug](https://user-images.githubusercontent.com/9036050/32163945-46c1668c-bd5e-11e7-875e-09c714e4eb94.gif)

Maybe this bug appears only in VM or something.

[2017-10-30 09:42] dbaeumer commented on #37090
@octref can you please help.

@qianyeyixia we don't speak the language you used. Can you provide the issue report in English please.

[2017-10-30 09:43] bpasero commented on #37112
@kibobe04 I cannot reproduce. I created a folder Верстка on my desktop and I can add folders within.

Please see if you can find any logged output that could help us find the source of the issue:
* run `code --verbose` from the command line and attach the output
* in Code select **Help | Toggle Developer Tools** and select the **Console**
* attach any output you see in the **Console** you can find

[2017-10-30 09:44] dbaeumer commented on #37080
Closing.

[2017-10-30 09:44] #37080 closed

[2017-10-30 09:45] dbaeumer commented on #37078
@daidaishuo please provide steps to reproduce. Best is a GitHub repository we can clone that demos the problem.

[2017-10-30 09:45] shingkit commented on #37125
My workspace has a directory named "pack"
I set files.exclude with` "pack":true` ,the directory is still there;
I changed "pack":true to` "pack*":true` ,the directory dissappear.

[2017-10-30 09:47] deepkolos commented on #37090
@qianyeyixia 重复了https://github.com/Microsoft/vscode/issues/36414

清空目录的node_modules, 然后使用`cnpm i --by=npm`

[2017-10-30 09:53] wu67 commented on #37115
@alexandrudima
emmmmm, now we have 2 way get those selection
- holding alt and then click each point
- holding alt + shift ,then drag the cursor

i want to merge the 2 way ----> holding alt key, and then select multi point by drag or click

[2017-10-30 09:55] bpasero opened #37129 "Views: initial opening a view animates all views within"
Steps to Reproduce:

1. pick a slow os (windows)
2. reload window with explorer visible
3. click on extensions view

=> the views within seem to animate from top to bottom
=> I think for the initial display we should not animate the views layouting

![flicker_chrome58](https://user-images.githubusercontent.com/900690/32164769-c637a14a-bd60-11e7-9012-d5f3601c2f95.gif)

[2017-10-30 09:55] alexandrudima commented on #37115
So you would like to change the modifier keys for box selection from `shift+alt+` to `alt+` ?

[2017-10-30 09:57] bpasero commented on #37082
@alefragnani I tried to reproduce and cannot, here is what I did:
* set `"activationEvents": ["workspaceContains:package.json"]`
* open a folder that has no top level `package.json`
* extension does not activate
* add another folder with a top level `package.json`
=> extension activates

What are you doing differently?

[2017-10-30 09:57] wu67 commented on #37115
@alexandrudima Yes!!!

[2017-10-30 09:58] alexandrudima commented on #37093
If this is really annoying you, you could create an extension, register a brand new command, and from that command you would invoke `editor.action.blockComment` or `editor.action.commentLine`.

[2017-10-30 09:59] isidorn commented on #37070
Fixed in latest

[2017-10-30 09:59] #37070 closed

[2017-10-30 09:59] ioan-ungurean commented on #13182
I would also like something like that. Is there any progress on this issue?

[2017-10-30 10:00] alexandrudima commented on #37115
Thank you, duplicate of #3130

[2017-10-30 10:00] #37115 closed

[2017-10-30 10:03] dbaeumer commented on #37064
@seltzer1717 good to hear that you were able to solve the problem. I will close the issue since without knowing what has caused this it is very hard to fix.

[2017-10-30 10:03] #37064 closed

[2017-10-30 10:08] alexandrudima commented on #37002
This is indeed caused by `redhat.java`. From their `package.json`:

@GeorgeHernandez  I wonder why `ctrl+alt+u` did not show up when you searched for `alt+u`. Did you use the keybindings UI for searching or did you open the `keybindings.json`. Both should have shown in this case the `ctrl+alt+u` binding when searching for `alt+u`.

[code]

[2017-10-30 10:08] dbaeumer commented on #37002
@aeschli do you have an idea.

@GeorgeHernandez please file the issue against the vscode java extension GitHub repository.

[2017-10-30 10:10] Kurt-Shiwz opened #37130 "complet is not useful and prefect !"
- VSCode Version:
1.17.2
- OS Version:
10.13

Steps to Reproduce:
![image](https://user-images.githubusercontent.com/7554917/32165078-8db5ad08-bd9c-11e7-9199-ba526fedc810.png)
![image](https://user-images.githubusercontent.com/7554917/32165101-9a54e7c2-bd9c-11e7-87a0-2032e6096d51.png)

On sublime text, if i open __file_a.txt__ and __file_b.txt__, in __file_a.txt__ when i type "a" and type tab,subl

[2017-10-30 10:11] jrieken commented on #36089
@dogoku I have pushed changes to make the format string smarter (that means not explode when having no match). You can now use this pattern: `${TM_FILENAME/^(.)|(?:-(.))|(\\.js)/${1:/upcase}${2:/upcase}/g}`, which is also how it works in Textmate itself.

@ashclarke You need to apply the /downcase function on  the match, so `${1:/downcase}` etc. Check out https://github.com/Microsoft/vscode/blob/m

[2017-10-30 10:11] #36089 closed

[2017-10-30 10:12] mikusjelly opened #37131 "Html - jinja code will be pull into one line"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 6.1.7601

--

Steps to Reproduce:

1. index.html with jinja templetes
[code]
2. save
[code]

**The jinja code will be put into one line.**

I want to format html, not jinja.

[2017-10-30 10:12] alexandrudima commented on #37005
@mgiraldo I cannot reproduce in a `.txt` file. Are you perhaps seeing this only in certain file types ?

[2017-10-30 10:13] jrieken commented on #37130
dupe of #20886

[2017-10-30 10:13] #37130 closed

[2017-10-30 10:13] weinand commented on #37123
@cpprookie aha, you do not have a launch config.

To create a launch config click on the 'gear' icon.
You will have to decide whether you want to debug JavaScript for the "node" runtime or a browser.

Please read the documentation related to this: https://code.visualstudio.com/docs/editor/debugging#_launch-configurations

[2017-10-30 10:14] dbaeumer commented on #37125
Thanks.

[2017-10-30 10:14] jrieken commented on #37109
Please create a performance profile as describes here: https://github.com/Microsoft/vscode/wiki/Performance-Issues#profile-a-vs-code-window

[2017-10-30 10:18] ashclarke commented on #36089
Thanks @jrieken - I will check it out!

[2017-10-30 10:20] tohnperfect commented on #14716
There might be a good news soon hopefully, see [##13612](https://github.com/Microsoft/vscode/issues/13612)

[2017-10-30 10:22] weinand commented on #19636
Is the fact that the [debug protocol](https://github.com/Microsoft/vscode-debugadapter-node/blob/master/debugProtocol.json) lives in https://github.com/Microsoft/vscode-debugadapter-node  blocking anyone from adopting it?

[2017-10-30 10:24] weinand commented on #34668
@atian25 please don't add new feature requests onto existing but unrelated issues. They will be ignored. Create new issues.

[2017-10-30 10:26] bpasero commented on #37128
I think the warning about running as admin is off because I can set a user-data-dir without having to use a "=".

[2017-10-30 10:27] alexandrudima commented on #37100
This is something driven by the font, I believe. We respect whatever width Chromium decides to render for a space, and I believe Chromium respects whatever the font instructs.

[2017-10-30 10:27] #37100 closed

[2017-10-30 10:28] weinand commented on #37065
I do not fully understand what you mean but it sounds that you found the issue.
I will close this issue.

[2017-10-30 10:28] #37065 closed

[2017-10-30 10:31] dbaeumer commented on #36844
@isidorn it is the LSP client library

@chuckjaz if the output channel is reveal or not can be control in the client library via the `revealOutputChannelOn` setting.

[2017-10-30 10:32] weinand commented on #37067
Are you debugging C#?

[2017-10-30 10:33] eteisman commented on #32397
I have noticed the same behavior: after switching a tab, and then back the editor has scrolled away from its previous position. After setting "typescript.referencesCodeLens.enabled" to false this behavior disappeared.

With referencesCodeLens enabled, just switching tabs and back again, loses the previous cursor position.

[2017-10-30 10:35] dbaeumer commented on #32042
@Tyriar Thanks !

[2017-10-30 10:36] dbaeumer commented on #36910
Then these number make sense.

[2017-10-30 10:39] ravinsinghd commented on #36201
@joaomoreno as you suggest i am disabling my extensions one by one and checking if the issue happen
I disabled **Beautify extension**. After that also error happen. so Beautify OK.

![image](https://user-images.githubusercontent.com/9314601/32166615-683fa64c-bd8c-11e7-831c-284902018035.png)

Next will try disable angular language service

[2017-10-30 10:39] alexandrudima commented on #36919
@Hypernut This will happen when using `workbench.colorCustomizations` and using opaque background colors for the editor decorations. What values are you using for `workbench.colorCustomizations` ?

[2017-10-30 10:41] dbaeumer commented on #36154
@firelizzard18 the problem is caused by the fact that the task is actually coming from the gul auto detection and the tasks.json setting simply configures that tasks. I have an issue to decide what to do with auto detected tasks and shell settings. So this is currently not working but will be addressed in one the next releases.

[2017-10-30 10:41] dbaeumer commented on #37060
Fixed that on Friday.

[2017-10-30 10:41] #37060 closed

[2017-10-30 10:44] #33535 closed

[2017-10-30 10:47] jrieken commented on #36715
`${TM_DIRECTORY/src\//$1/}` should be the winner, tho keep in mind that the backslash needs an extra backslash to encode it in JSON.

[2017-10-30 10:48] alexandrudima commented on #33781
@sixclones Can you perhaps share with me a file that reproduces the slowness / freeze for you ?

[2017-10-30 10:49] DrChills commented on #7504
Personally, I wouldn't worry about squashing - you currently don't with the editor panes. Content just overflows with scrollbars horizontal scrollbars. I can also currently open up a maximum of 3 editor panes with no vertical stacking... seems like a great place to start with the terminal too... If it isn't broken, don't fix it... ;-)

I'd say the same for styles: copying the editor style seems li

[2017-10-30 10:50] #36715 closed

[2017-10-30 10:59] wesleymostien opened #37132 "import (absolute path) suggestions break in 1.17 with @typings installed"
Problem:

Path suggestions for absolute paths (configured in tsconfig) break for import statements in version 1.17 as soon as @typings are installed.

Without the @typings folder anywhere in the project, everything works fine.
In version 1.16.1 it even works fine WITH the typings installed :

![screen shot 2017-10-30 at 11 50 43](https://user-images.githubusercontent.com/6223285/32167597-a642dda6-

[2017-10-30 11:00] Yanpas commented on #5605
Current outline is flat which is useless with a large files. Also it shows local variables which is extra IMO. If VSCode provided tree-like structure instead of list of everything things would be much better

[2017-10-30 11:00] #28994 closed

[2017-10-30 11:00] #28993 closed

[2017-10-30 11:08] cpprookie commented on #37123
@weinand  Thanks for your patient reply. I think that's the point. But it is also my problem, After i click on the 'geer' icon, the bottom left corner progress bar turned on again  and stuck at 14% as i have mentioned before.
![image](https://user-images.githubusercontent.com/18083815/32167968-aa9fcf12-bda5-11e7-9ddc-b3aec7e4bd75.png)

And i'm really confused about that.

[2017-10-30 11:09] patrys commented on #5605
@Yanpas Code Outline is a tree. If it's flat it probably means your language does not report proper symbol ranges.

[2017-10-30 11:10] bpasero commented on #35996
@jrieken tried with your steps and those `textFileEditorModel` methods are not showing up in the top consuming methods for me, can you reproduce reliably and if so is there more to it than running https://github.com/Microsoft/vscode/issues/35996#issuecomment-337604103 on the vscode workspace?

My trace:
[CPU-20171030T120534.cpuprofile.txt](https://github.com/Microsoft/vscode/files/1426928/CPU-2017

[2017-10-30 11:10] #36984 closed

[2017-10-30 11:20] bpasero opened #37133 "Test: new multi-root related extension API"
- [x] anyOS @aeschli
- [x] anyOS @alexandrudima

Refs: https://github.com/Microsoft/vscode/issues/36802, https://github.com/Microsoft/vscode/issues/35407
Complexity: 3

We added new API for multi-root workspaces:
* `workspace.name`
* `workspace.addWorkspaceFolder`
* `workspace.removeWorkspaceFolder`

Make sure these methods work as advertised in the `vscode.d.ts` docs.

When adding or removing wor

[2017-10-30 11:21] hoegge commented on #18604
This seems fixed, I wonder though, how to enable "go to implementation" so it actually works going to the JS implementation of functions declared in .d.ts files. I have TS 2.4 installed and just goes to the d.ts. declaration.

[2017-10-30 11:33] good-bits commented on #33822
@isidorn Thanks!

[2017-10-30 11:52] zesik commented on #36901
@moskal91 Your recording actually shows exactly how this bug is reproduced.

Please note difference of green bounding boxes of two text boxes in the Find widget. When opened, bounding box of the Replace textbox is much wider than it of the Find textbox (where they should be same as each other). Also, please try to resize the Find widget and see how bounding box of the Replace textbox changes.

[2017-10-30 11:53] weinand opened #37134 "state of debug actions does not reflect debug state"
For concurrent node-debug sessions I'm seeing that the debugger is confused about the debug state. The CALL STACK view and the editor both indicate that the debugger is stopped but the debug actions think that the debugger is running:

![2017-10-30_12-47-19](https://user-images.githubusercontent.com/1898161/32169529-3358cfe6-bd71-11e7-9646-7ed6c21b7a1b.png)

In this case I've started the node-debu

[2017-10-30 12:01] jankalfus commented on #36825
Here you go:

[code]

Sorry, but I had to censor the file paths. BTW I couldn't find any errors or stack traces.

[2017-10-30 12:02] jrieken commented on #35996
Yes, always reproduces. @bpasero Did you really run this on our workspace with thousands of documents (4414 to be precise)? Your longest single method runs for just a 1sec, I have runtime in the area of 10-30seconds.

[2017-10-30 12:04] weinand commented on #37123
The progress indicator in the bottom left corner shows the build progress which in general is completely independent from debug.

I do not understand why pressing the "gear" button would start the "build" task.

Are you sure that you pressed this "gear" button:

![2017-10-30_13-01-19](https://user-images.githubusercontent.com/1898161/32169936-cba4545e-bd72-11e7-824a-04835d25cb0f.png)

[2017-10-30 12:04] bpasero commented on #35996
@jrieken tried on vscode workspace and I am seeing ~1700 files returned but I can try with more files.

[2017-10-30 12:04] jrieken commented on #37020
@s-shamesmuhametov-parc  I don't understand what that mean?

[2017-10-30 12:16] xiaoyueyue165 commented on #37065
Yes, the problem is solved and can be closed

[2017-10-30 12:18] wellington1993 opened #37135 "Suggestion: Add native support to Ruby and Rails class mapping"
- VSCode Version: 1.18.0-insider
- OS Version: Ubuntu 17.10 (Artful Aardvark) - 4.14.0-3-generic

Steps to Reproduce:
1. Open Ruby/Rails project
2. Try to follow class on the Controller Declaration
3. Nothing happened.
4. Exist plug-ins but not with the native editor quality level or speed

Reproduces without extensions: Yes

[2017-10-30 12:20] Yanpas commented on #5605
@patrys I guess the problem is [api](https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md#textDocument_documentSymbol) limitations:
`SymbolInformation` contains `location` and `containerName` members.

There sohuld be some parent member or something.

In fact there are no tree outline for: C#, C++, Haskell and Rust

[2017-10-30 12:23] lopugit opened #37136 "hitting shift enter before a } adds an indent"
- VSCode Version: 1.17.2
- OS Version: Linux Mint 18.x / OS X / WINDOWS

Steps to Reproduce:

1. write two blocks of code
2. fold the first one with the minus icon next to the line number
3. put your cursor inside the first line of the 2nd block of code you wrote
4. then hit shift enter
5. see that your cursor will go into the first line of the folded block above

super annoying because it means y

[2017-10-30 12:39] dbaeumer opened #37137 "StoragePath in the context of Multiroot"
The `ExtensionContext` object passed to the activate function provides access to a `storgePath` which extensions can use to store workspace local data in the file system using Node's FS API.

In a multi root setup the path contains a unique path to a location. However extensions would like to read and write the meta data for a workspace folder to share the information across workspace and a folder