[2015-12-03 15:10] aeschli commented on #133
To try this out on a November release (0.10.1 - 3), replace the content of
`Microsoft VS Code/resources/app/extensions/javascript/syntaxes/JavaScript.tmLanguage `
with
https://github.com/Microsoft/vscode/raw/0b3f7b223d86ac1e8bbebc670913ed83595e98c6/extensions/javascript/syntaxes/JavaScript.tmLanguage

[2015-12-03 15:12] jrieken commented on #878
yeah. you can do `[{pattern: '**/lowercase'}, {pattern: '**/Uppercase'}]` tho it would be pita to provide all possible permutations. @PeterJausovec is your scenario actually such that case matter and is it common that the file must match on name (like a package.json, tsconfig.json) but is given varying cases?

[2015-12-03 15:17] schinaider opened #971 "Cannot validate the php file. The php program was not found."
I'm geting the message when i open Visual Studio Code:

" Cannot validate the php file. The php program was not found. Use the 'php.validate.executablePath' setting to configure the location of 'php' "

[2015-12-03 15:18] abhilashsajeev commented on #957
@jrieken : So the support for this feature will take some time to implement.

[2015-12-03 15:19] SamVerschueren commented on #957
@jrieken So type definitions won't be necessary anymore in the future as they can be generated on the fly?

[2015-12-03 15:20] weinand commented on #866
@isidorn I do not have the old state and I do not want to introduce a new model for preserving the old state. Since the UI has the old state by definition (it's visible in the UI), it makes more sense to implement this feature there. In addition we can offload repeated implementations of this feature from debug-adaptor authors.

[2015-12-03 15:22] isidorn commented on #866
Makes sense. I can look into this over holidays :santa:

[2015-12-03 15:24] jrieken commented on #957
depends... Even if tsc understands this

[code]

to be a module that exports a member `foo` of type function you will need to help it out the types of the parameters. They cannot be inferred by TS. That's why there are `d.ts`-files

[2015-12-03 15:25] joaomoreno opened #972 "Make the Windows Mutex product.json specific"

[2015-12-03 15:25] jrieken commented on #957
@abhilashsajeev The TS team is working on this since a while and close to finish

[2015-12-03 15:26] jrieken commented on #957
All details in here: https://github.com/Microsoft/TypeScript/issues/4789

[2015-12-03 15:29] bpasero commented on #878
I can add a flag to glob to ignore casing, since its just a RegEx in the end it should be easy.

[2015-12-03 15:29] bpasero commented on #878
(that is, it would be an option, I dont want to enable this for any glob)

[2015-12-03 15:31] jrieken commented on #878
unless the flag is in the glob expression itself, it will be the same as me lower-casing the string first I guess

[2015-12-03 15:35] egamma opened #973 "Explore: Integrated TypeScript building/transpilation"
Make it simpler to setup TypeScript compilation.
Can we make this incrementally?

[2015-12-03 15:38] abhilashsajeev commented on #957
@jrieken :+1:  Thats great! as long as this comes out I would completly switch my node.js devs to vs code.

[2015-12-03 15:46] jamietre commented on #936
OK - so if I understand what this means is VsCode requires `sources` and will ignore `sourcesContent`?

Anyway - this seems to be an issue with my compilation pipeline. (facepalm) When I manually doctor the source map, it works. I just migrated this app to version 6... coincident with using VS code for the first time. When I said other debuggers were working, it didn't occur to me that they were w

[2015-12-03 15:46] #936 closed

[2015-12-03 15:47] jpierru commented on #346
The submodules still show as modified, the reason is that their contents are still staged for deletion. If i unstage the changes in each of the submodules the git status is then finally clean.

[2015-12-03 15:48] jpierru commented on #346
It does look like when you are loading a project (the first time?) into visual studio code it stages every files for deletion in the project and its submodules.

[2015-12-03 16:01] weinand commented on #936
@jamietre yes, VSCode ignores the sourcesContent (for now) because it does not make much sense to use the embedded and readonly source from the sourceMap if you have the real source available in your VS Code workspace (where you can edit and compile it).

Usually the optional "sourceRoot" is the extracted common prefix of all paths in the "sources" array (to save space). So it is prepended to all

[2015-12-03 16:04] jpierru commented on #346
Even after you clean up the mess, the submodule contents eventually are again staged for deletion.

[2015-12-03 16:17] bpasero commented on #878
Right, since glob patterns are not RegExp syntax, there is no syntax from what I remember to form a case-insensitive glob. Would it make sense to allow to set this flag from the side of the extension?

{pattern: '**/lowercase', ignoreCase: true}

[2015-12-03 16:27] Umriyaev commented on #962
@alexandrudima Thank you so much! Your workaround worked for me.
I guess it should be added to [How to build and run from source](https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run-from-source) .
Of course after finding more generic solution.

[2015-12-03 16:29] Wosi opened #974 "ProblemMatcher encoding issue"
I'm working on a Windows 7 machine with german localization. My problem matcher works fine but german umlauts are not displayed properly.  (The first word of the shown warning should be "Rückgabewert")
See the picture.

![vscodeproblemmatcherencodingissue](https://cloud.githubusercontent.com/assets/3448684/11566498/f889d152-99e2-11e5-9ec4-d880d43590aa.png)

[2015-12-03 16:35] jacorachan commented on #954
Thanks @joaomoreno

[2015-12-03 16:37] joaomoreno commented on #962
It's definitely just a workaround, let's try to find why you couldn't compile. I'll set up a VM tomorrow with exactly your setup and see what I get.

[2015-12-03 16:38] aeschli commented on #161
Fix delivered

[2015-12-03 16:38] #161 closed

[2015-12-03 16:39] joaomoreno commented on #346
Is your project OS? Could I clone it and give it a try?

[2015-12-03 16:41] jpierru commented on #346
Unfortunately it is not, I'll see if I can recreate it with a simple project.

[2015-12-03 17:16] brunnopleffken opened #976 "Sass: auto-complete being shown with HTML tags right after semicolon"
When editing a *.scss file (Sass/Compass), after typing a semicolon, the auto-complete list is automatically shown with HTML tags and attributes.

<img width="596" alt="screen shot 2015-12-03 at 3 15 13 pm" src="https://cloud.githubusercontent.com/assets/3427344/11567918/af2bd206-99d0-11e5-9401-4879c1f5b4df.png">

Typing semicolon + Enter (line break) actually results in an unexpected behavior...

[2015-12-03 17:21] CronLogic commented on #506
Definitely can reproduce this.  Moving folder to non-network share seems to solve any problems.

[2015-12-03 17:22] PeterJausovec commented on #878
I would say case doesn't matter; since Docker users will probably have more than 1 dockerfile, our idea was to provide the syntax coloring and all that magic for files that are named `dockerfile*`.

[2015-12-03 17:25] jsturtevant commented on #588
My extension is only interested in the text that is currently visible in the editor.  If it is not visible I do not need to work with those lines.  At a basic level, Given user input I am highlighting anything that is visible inside the current editor that matches the request,  if is not visible I do not need to highlight it.  I think there are many ways to meet the requirement, not only through l

[2015-12-03 17:35] jrieken commented on #588
Yeah, is it for performance reasons that you want that? You can use the decorations api for highlighting parts of the editor content and you wrt perf shouldn't need to care if the lines are visible or not

[2015-12-03 17:39] nchammas opened #978 "Eternally "Checking For Updates...""
If you leave VS Code open long enough, the "Checking For Updates" menu eventually hangs in this state:

![screen shot 2015-12-03 at 12 16 16 pm](https://cloud.githubusercontent.com/assets/1039369/11568017/efb9bb8a-99b7-11e5-8813-2a9c934e7daf.png)

Once in this state, you need to restart VS Code to get it to really check for updates.

I'm not sure what triggers this, but I've seen this behavior sin

[2015-12-03 17:49] nchammas opened #979 "VS Code should restore windows to their original spaces when possible"
I have `"window.reopenFolders": "all"` set, and when I restart VS Code it correctly restores all the folders I had open. However, it restores them to the same OS X [space](https://support.apple.com/kb/PH18757?locale=en_US), as opposed to the spaces they were originally in.

When VS Code is restarted it should try to restore the windows that were open to the spaces they were originally in.

[2015-12-03 17:49] ryan-wong opened #980 "Does Visual Studio Code support searching by Class in typescript?"
I know you can search a file by class name in other IDE like webstorm. Does visual studio code support it or plan on supporting it?

[2015-12-03 17:54] jrieken commented on #980
Yes - by default it works for C# and TypeScript and can be invoked with `Cmd+T`. Other extension can contribute via the `WorkspaceSymbolProvider`

[2015-12-03 17:54] #980 closed

[2015-12-03 18:13] felixfbecker commented on #706
I _would_ write one, but the documentation isn't really helpful as it basically says "download the example project". A step-by-step tutorial would be helpful.

[2015-12-03 18:14] felixfbecker commented on #971
Dude it is what the message says - you have to install php and then either put the path of the php binary in the setting or inside your %PATH%.

[2015-12-03 18:19] bbenoist opened #981 "Cannot define multiple commands in tasks.json"
Hi,

I cannot find a way to define multiple tasks which executes different commands in the `.vscode/tasks.json` file of my project directory.

From what I understood, I can only declare a single TaskConfiguration within this file. Am I wrong?

To make my problem more understandable, let's say I would like to define 3 tasks with their own set of arguments:
- foo: `foo --arg`
- bar1: `bar --arg 1`
-

[2015-12-03 18:20] xeoneux opened #982 "Incorrect formatting for single parameter in arrow functions"
Using Format Code, `array.map(val=>val*2);` gets formatted to `array.map(val=> val * 2);`

There's no space between the parameter `val` and the `=>` after formatting.

[2015-12-03 18:20] felixfbecker commented on #706
Found https://github.com/cmpaul/vscode-php-debug

[2015-12-03 18:23] schinaider commented on #971
But i use Wamp. I solved The problem, but why this message? Why i have to install php? If i don't want, The message will be showing to me... I think it isn't good.

Enviado pelo meu Windows Phone
________________________________
De: Felix Becker<mailto:notifications@github.com>
Enviada em: ‎03/‎12/‎2015 15:17
Para: Microsoft/vscode<mailto:vscode@noreply.github.com>
Cc: schinaider<mailto:victoralme

[2015-12-03 18:25] felixfbecker commented on #971
You don't need to, but it cannot validate (lint) the file without it. Just like the message says. I'm not familiar with Wamp, search for your php.exe.

[2015-12-03 18:45] schinaider commented on #971
Sorry for anything 😃. I just want to say i think is not user friendly to show The message all time i open the Visual Code. I think it will be good, if i could easily desativate the warning... Understand?

Enviado pelo meu Windows Phone
________________________________
De: Felix Becker<mailto:notifications@github.com>
Enviada em: ‎03/‎12/‎2015 15:29
Para: Microsoft/vscode<mailto:vscode@noreply.gith

[2015-12-03 18:55] nippur72 opened #983 "Cannot use numpad keys in key shortcuts"
Zooming in/out with `ctrl +` and `ctrl -` is not possible from the numpad, neither the numpad keys can be referenced specifically so to reconfigure the keymapping.

[2015-12-03 19:03] felixfbecker commented on #971
Imo if you do PHP development you probably have PHP installed, right?!

[2015-12-03 19:11] azumikav commented on #948
yes.

[2015-12-03 19:20] DiegoZoracKy commented on #395
@rhires

I had the same problem but updating to 0.10.3 solved it.

[2015-12-03 19:25] lukasz-wronski opened #984 "tsd for lodash and underscore stopped working"
When I'm installing tsd for underscore or lodash Visual Sudio Code sees the variable that I'm assigning the module to as it is of type any. It correctly interprets it's members parameters, but does not see the members of fist level. Example:

![problem example](http://i.imgur.com/DNkewKs.gif)

I'm installing my tsd with `tsd install lodash` or `tsd install underscore` command. It works correctly f

[2015-12-03 20:00] prencher opened #985 "Format code doesn't do the right thing with TSX/JSX"
When formatting the following snippet:

[code]

The closing tags are not properly unindented, and outputs the following:

[code]

[2015-12-03 20:01] prencher opened #986 "Format code doesn't do the right thing with TSX/JSX"
When formatting the following snippet:

[code]

The closing tags are not properly unindented, and outputs the following:

[code]

Not the final `</Route>` tag. As far as I can tell, this happens with all JSX/TSX.

[2015-12-03 20:02] prencher commented on #986
Posting snafu, please see #985.

[2015-12-03 20:02] #986 closed

[2015-12-03 20:13] TheColorRed commented on #877
So, it looks like VS Code uses Element style html: http://docs.emmet.io/

where this:

    ul#nav>li.item$*4>a{Item $}

becomes this once you tab:

    <ul id="nav">
        <li class="item1"><a href="">Item 1</a></li>
        <li class="item2"><a href="">Item 2</a></li>
        <li class="item3"><a href="">Item 3</a></li>
        <li class="item4"><a href="">Item 4</a></li>
    </ul>

[2015-12-03 20:22] egamma commented on #519
pls see #291 for the zooming issue (in general pls do not create combo issues :smile: )

[2015-12-03 20:40] mateid opened #987 "Can't use Git command line when Visual Studio Code is open"
It looks like Visual Studio Code locks some files and I can't use the command line Git client when it is open. Closing Visual Studio Code resolves this issue. The index.lock file did not exist when I checked for it so it must be preventing the command line client from working in some other way. Here's the output from the command line client:

Updating ca3f107..3e957b8
fatal: Unable to create 'C:/d

[2015-12-03 20:42] wk-done opened #988 "cannot set terminal process group (-1) when trying to run a C# console application (Ubuntu)"
When Starting VSCode in a console I get the following Message
[code]
VSCode runs well so far. But when I try to run a C# console-application the terminal window does not appear.

Also I cannot debug. If I hit F5 (after Building using a csproj-file) I get an errormessage that tells me:
[code]

I also get the same results when I start VSCode by double clicking.

I run the following version on Ubuntu

[2015-12-03 20:45] weinand commented on #706
@felixfbecker https://code.visualstudio.com/docs/extensions/example-debuggers is meant to be a "a step-by-step tutorial". Please let me what you are missing from the tutorial or what is difficult to understand. I'd be glad to help.

[2015-12-03 20:58] aeschli commented on #881
fix delivered

[2015-12-03 20:58] #881 closed

[2015-12-03 21:14] aaronpowell commented on #658
Yeah that's a fair point, I guess shipping the compiled module in my extension is probably a good idea (or at least the binary) and get it done for each platform.

I _might_ be able to make an assumption of the build tools (given that it's work working with microprocessors) but it's solid assumption.

[2015-12-03 21:36] joaomoreno commented on #346
That would be :+1:

[2015-12-03 21:37] chrisdias commented on #60
Thanks for the interest in this topic and I apologize for not commenting sooner, I’ve been on vacation and just getting through my backlog. Let me try to provide more details behind our thinking here.

When we set out to open source our code base, we looked for common practices to emulate for our scenario. We wanted to deliver a Microsoft branded product, built on top of an open source code base t

[2015-12-03 21:42] Balrog30 commented on #987
I've had this occasionally myself. I'm pretty sure it happens when VSCode is checking with git to see if there are any remote changes, and changed files, etc. Usually it doesn't last long for me, but for very large repositories I could see it taking a while. Normally I see this when I try to pull from a remote and a simple retry works fine. I don't know what could be done about this except to make

[2015-12-03 21:47] rjucf commented on #94
+1

[2015-12-03 21:55] Enet4 opened #989 "Markdown: Allow to open files inside the editor that are linked from the markdown"
The current behaviour of Code's Markdown previewer when clicking a relative link is actually a bit cryptic: it attempts to open the file relative to the user's home path with the system's application of choice. This will commonly lead to errors being dispatched because the file cannot be found.

If I have the following Markdown:

[code]

Clicking the link will make my system attempt to open `/home

[2015-12-03 22:42] pcgeek86 commented on #947
I'm just hitting `COMMAND + -` on my keyboard. The screenshot shows the smallest it will get.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-12-03 23:01] gianugo opened #991 "Menu needs to be aware of what is going on inside current active workbench"
If the editor has no files open, choosing Find or Replace from the menu doesn't do anything and doesn't warn the user that this functionality requires an open file. A feedback to the user along the lines of "please open a file first" would point out the EBKAC more explicitly.

(as an aside, I tried doing that in the hope I could find a global, project-wide replace - since a global search is there,

[2015-12-03 23:30] pcgeek86 opened #992 "Reproducible crash when using "Close All""
I had a workspace open, in full-screen mode (`COMMAND + CONTROL + F`), and used the `Close All` function to close all open files in Visual Studio Code. The application crashed. I was able to reproduce this issue at least once.

- Macbook Pro
- Mac OS X 10.11.1

[code]

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-12-03 23:42] HuanhuanSunMSFT commented on #987
I've had this consistently, especially when doing a git rebase with VS code open.

[2015-12-04 00:12] siegebell opened #993 "Remove comment does not work consistently in HTML"
When editing HTML, remove comment (ctrl+k,u) often *adds* a comment.

Reproducing:
* the code is not already commented
* the code is commented, but you select whole lines instead of selecting the specific start and end of the comment

[2015-12-04 01:49] pali88 commented on #993
(ctrl+k,u)

[2015-12-04 01:50] pali88 opened #994 "c_+"

[2015-12-04 01:53] rhires commented on #395
Cool. Just got the vscode 0.10.3 update. I thought you meant a separate update for omnisharp. We'll see if I continue having the time out issue. It isn't a consistent thing. Meanwhile: Interesting. I notice that the update date is 11-26-15...and vscode didn't tell me there was an update. Time for a new issue: "VScode "checking for updates" hangs and doesn't check for updates.

[2015-12-04 01:59] Spown opened #995 "debugger reads into string's content"
I've noticed that debugger resolves variables even from strings:

![](https://dl.dropboxusercontent.com/u/105338698/ShareX/2015-12/2015-12-04_02-52-13.png)

I guess it's not a big deal and maybe can even be useful at some point, but still doesn't seem like an intended behavior...

[2015-12-04 02:05] DiegoZoracKy commented on #395
@rhires I should have mentioned "vscode". And yes, i agree about the new issue. Like it was for you, vscode didn't tell me anything about the update.

[2015-12-04 02:07] Stanzilla commented on #863
Sneak in https://github.com/Microsoft/vscode/issues/507 while we are at it? :)

[2015-12-04 02:07] Stanzilla commented on #917
Sneak in https://github.com/Microsoft/vscode/issues/507 maybe?

[2015-12-04 02:56] villiv opened #996 "Support temporarily installed fonts. (Win)"
Please support font that loaded by the [AddFontResource](https://msdn.microsoft.com/en-us/library/windows/desktop/dd183326%28v=vs.85%29.aspx)\* function for the sake of the non-admin workers.
Along with the portable mode(#329) we may have, it helps a lot.

*It can be used to add font by non-admin user. ([FYI1](https://msdn.microsoft.com/en-us/library/dd144833%28v=vs.85%29.aspx)) ([FYI2](http://www

[2015-12-04 03:03] jpoon opened #997 "Extension APIs: suggest window is displayed despite not having any suggestions"
### Context

For the [VIM extension](https://github.com/VSCodeVim/Vim), we need to add a keybinding for every key input, do some stuff, then manually insert it into the active text editor. Despite inserting a character at the current position, it will hide the suggest/autocomplete window.

### Problem

As you type and press a key that triggers an suggest window (e.g. `.`), regardless of the next c

[2015-12-04 03:09] rhires commented on #978
I have this issue as well.

[2015-12-04 03:36] bumpmann commented on #169
`queryMethod` looks like a simple object so you cannot call it like a function, so i think this error is normal since there's no call signature for this object.

[2015-12-04 03:39] Umriyaev opened #998 "Explorer should not reopen a file when hiding and showing again"
Don't know if it's bug or feature, but it's different from my experience using Visual Studio Community, so I decided to add it.

Steps to reproduce this:
 - Open file in editor
 - Close it
 - Collapse the Explore tab
 - Expand the Explore tab

Result: Previously closed file is open again

[2015-12-04 03:45] bumpmann opened #999 "Cannot invoke an expression whose type lacks a call signature (versus optional semicolon)"
I am getting the error "Cannot invoke an expression whose type lacks a call signature." on this minimalist js test code (tested with v0.10.2 and v0.10.3):

[code]

the error is on the underlined code `[]
	require('./test')` (with the return, whatever LF or CRLF)

and adding the **optional** semicolon after [] makes the error disappear:

[code]

there's no test.js file since it does not matter if i

[2015-12-04 04:02] jasongrout commented on #231
I've hit this in 0.10.3 and 0.9.x (I think 0.9.2).  A fix is much appreciated!

[2015-12-04 04:19] slayerxj commented on #335
@bpasero Sorry, I thought they were same because the first time I met this issue, that JSON file was supposed to be shown at startup. So I did experience slow startup / crashes :) And now after reading the discussions I realized they're different.

[2015-12-04 04:20] moostad opened #1000 "Slow response when system is offline"
When system is connected to network but don't have access to internet (just local network) navigation, move , copy , rename in directories and files become very slow. it's happening periodically and seems  like it's waiting for kind of timeout.

![image](https://cloud.githubusercontent.com/assets/10362398/11582160/2d796f30-9a60-11e5-8695-5b25929a2ed3.png)

[2015-12-04 04:37] slayerxj opened #1001 "No longer responding when opening a big file?"
When I click the file (a 4M JSON file) in the file list panel in the left, the content of this file is correctly displayed but without syntax highlighting. And after that VS Code is no longer responding, I thought it's parsing the file, so I waited for a while. Then it alerts "Visual Studio Code is no longer responding: Exit or Keep waiting".

Windows Task Manager shows it's still "Running" (rathe

[2015-12-04 06:24] Lahori-Jawan commented on #958
well, removing the extension did the trick but now I wonder if i update next time, then again I would have to remove all the extensions and then re-install them one-by-one which is very time consuming, right! BTW thanks for help!

[2015-12-04 06:53] beiluo commented on #365
+1

[2015-12-04 06:54] bpasero commented on #515
Can someone send me instructions how to setup such an environment? I would like to reproduce.

[2015-12-04 07:05] SamVerschueren commented on #958
That's abnormal behaviour. Maybe something broke during the update process.

[2015-12-04 07:14] mikemimik opened #1002 "Incorrect comment symbol in puppet language definition"
Conditions
 - file has 'puppet' selected as language mode

Action
- using key bound to `editor.action.commentLine`

Result
- line is commented with `//`

Expectation
- line commented with `#`

[2015-12-04 07:20] Thaina commented on #365
+1

[2015-12-04 07:21] egamma commented on #958
Or the extension has some side effects. What extension did you have installed when the problem occured?

[2015-12-04 07:54] aeschli commented on #976
duplicate of #250

[2015-12-04 07:54] #976 closed

[2015-12-04 07:54] alexandrudima commented on #994
@pali88 Can you please provide a description

[2015-12-04 08:02] jseanxu opened #1003 "Suggestion Widget appears to eagerly"
I have custom key bindings like these
[code]
to mimic how autocomplete works in the full VS, however, this makes typing something like
[code]
difficult in JavaScript/TypeScript because when typing `1`, the suggestion widget eagerly appears with `Int16Array` and hitting `;` autcompletes to it and you end up with
[code]

[2015-12-04 08:04] alexandrudima commented on #996
We just ask Chromium to render the font. The only alternative would be to add support for dynamically injecting css @font-face

[2015-12-04 08:05] alexandrudima commented on #1001
@slayerxj Can you please share the JSON file with me?

[2015-12-04 08:06] jrieken commented on #965
@jacek-dargiel Can give me estimate of your workspace size?

[2015-12-04 08:07] jrieken commented on #395
@rhires @DiegoZoracKy Do you guys have mono installed or is it just coreclr?

[2015-12-04 08:19] aeschli commented on #1002
This issue was moved to blindly/vscode-puppet#1

[2015-12-04 08:19] #1002 closed

[2015-12-04 08:26] jrieken commented on #169
Thanks @bumpmann. `queryMethod` is defined as an object which unlike a function or constructor doesn't have a call signature.

[2015-12-04 08:26] #169 closed

[2015-12-04 08:30] jrieken commented on #988
@wk-done What is you are trying to achieve? Running a C# app from terminal out of VS Code? Is it a msbuild app or dnx app? Please provide _exact_ steps like

1. have this code
2. do this
3. do that
4. _xyz_ happened which isn't expected

[2015-12-04 08:30] jrieken commented on #999
A rewriting issue

[2015-12-04 08:37] areijngoudt opened #1005 "[html] add css intellisense for styles"
The style links are set in my MVC masterpage _Layouts:

<base href="@Url.Content("~")" />
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />

VSCode does not 'see' any styles.

Is there a way around this?

[2015-12-04 08:47] rogierschouten commented on #901
Now I get permission denied errors from Git - I don't think code should be blocking Git from doing anything?

(note that `git up` is a synonym for `git pull --rebase`)

[code]

[2015-12-04 08:55] rogierschouten commented on #901
For now I've disabled Git in the user settings, let's confirm that it goes away then.
[code]

[2015-12-04 09:04] mloskot commented on #222
Such extension has appeared not long ago https://github.com/mattiascibien/dlang-vscode

[2015-12-04 09:04] joaomoreno commented on #901
Good idea. Let me know how that goes. Meanwhile, I'm looking into alternative ways to poke around the `git status` without side effects.

[2015-12-04 09:09] egamma commented on #968
Thanks for the pointer. I'm very interested in 'adoption blockers' and in tuning our quick open even more. We should definitly look into this.

+@stevencl

[2015-12-04 09:09] jrieken opened #1006 "[debt] improve the internals of the suggestion contribution"
Over the years we have accumulated debt in the internals of the suggest feature. Let's collect what we have already cleaned up and what left to do.

- [x] move `overwiteBefore` and `overwriteAfter` from `ISuggestResult` to `ISuggestion` - @aeschli
- [x] remove `Suggestion.highlights` and move it correctly in  to the view model
- [x] improv perf when filtering down a list of suggestion by using the

[2015-12-04 09:10] jrieken commented on #1006
@aeschli I'd be nice if you can update the html and JSON intellisense to use the textEdit

[2015-12-04 09:19] bpasero commented on #979
Have to check if there is API in Electron to find out about spaces.

[2015-12-04 09:22] bpasero commented on #992
I believe this is fixed with our update to Electron 0.34.5. @pcgeek86 you can verify this by building your own distribution of Code from master and giving it a try?

[2015-12-04 09:22] #992 closed

[2015-12-04 09:23] bpasero commented on #1000
@moostad when this happens can you open chrome tools (Help > Toggle Developer Tools), open the Profile tab and run a CPU profile to see where the time is spend?

[2015-12-04 09:26] #35 closed

[2015-12-04 09:27] bpasero commented on #968
For december I actualy tweaked the quick open search algorithm to include more results. Before we would not match a file `quickopen.test.ts` when you searched for `open` because we did not search for the string inside the name.

There are more things we can do to come closer to what Sublime/Atom do:
- [ ] include the full path of a file to match on instead of just the name
- [ ] match fuzzy, that

[2015-12-04 09:27] joaomoreno commented on #1006
:+1:

[2015-12-04 09:28] isidorn opened #1007 "Quickopen not finding all files"
quickopen, vscode repo, search for some files in quick open does not always give results even though they exist.
Searching for pluginHostMain.ts produces no results for me. Once I open that file manually it starts appearing in quick open.

I see this on OS X el capitan with latest code. Started happening 3 days ago - about the time you messed with that complex promise chain

[2015-12-04 09:28] joaomoreno commented on #987
Duplicate of #901

[2015-12-04 09:28] #987 closed

[2015-12-04 09:28] jrieken commented on #1006
@joaomoreno i have fixed the problem of disappearing highlights when focusing a suggestion

[2015-12-04 09:28] bpasero commented on #1007
@isidorn whats your commit id you are on?

[2015-12-04 09:32] isidorn commented on #1007
Ok updated to latest and I no longer see it, it seems. I will reopen if I see it again

[2015-12-04 09:32] #1007 closed

[2015-12-04 09:34] warpdesign opened #1008 "Extensions: Install Extension is slow"
When listing available extensions (typing `ctrl+shift+p`and then `ìnst` and hit `enter`) it takes at least **5 seconds** to display anything.

Meanwhile, there's no user feedback other than an indeterminate loader.

What about having a faster feedback with for example cached results of plugins list while newest plugins list is being retrieved ?

It seems that the more extension are available, the

[2015-12-04 09:39] bpasero commented on #1007
@isidorn nice, there was a bugfix for this yesterday, but now it should all be ok!

[2015-12-04 09:45] q42jaap opened #1009 "Version 0.10.3 uses a full core on CPU"
Version 0.10.3 uses up 100% cpu on my macbook pro.
Especially the Electron Helper

[2015-12-04 09:48] pgerell commented on #117
@lextm Thank You. Just what I was looking for.
I am having problems with the section header snippets. Do they work for anyone else?
According to https://code.visualstudio.com/docs/customization/userdefinedsnippets regex replacements are not supported (yet).

Maybe a command that underlines the current line could be used instead. If the line is already a header, it could modify it to use the next h

[2015-12-04 10:01] jrieken commented on #752
Challenge is to have a nice signature that is backwards compatible. I only see something like this

[code]

which I am not a big fan of

[2015-12-04 10:04] egamma commented on #917
@Stanzilla thanks for reviewing, request makes sense, but let's do the _sneaking_ once all the other work is done.

[2015-12-04 10:05] egamma commented on #855
Update from @weinand

We have finished the restructuring work on ExtensionHost (EH) debugging and I've verified that it works on OS X, Windows, and Linux.
It feels snappier and the VS Code debugger no longer waits 5 seconds after the user has closed the EH window.

The only remaining issue I've seen so far is that on Windows pressing the red debug Stop button, doesn't close the EH window.
So you h

[2015-12-04 10:08] jrieken commented on #752
Needs more thinking...

[2015-12-04 10:09] dbaeumer opened #1010 "Diagnostic should support source field"
Now that extensions can validate files and produce problems we should extend the Diagnostic literal with a source field. Currently extensions start to mangle the source into the message which will make building proper UI for grouping and filtering hard.

[2015-12-04 10:15] egamma commented on #1010
Also we should have a simple log API where an extender can post an extension error in the case that no error dialog can be posted or it doesn't make sense to post a dialog.

[2015-12-04 10:16] #855 closed

[2015-12-04 10:23] #647 closed

[2015-12-04 10:30] jrieken commented on #1010
@dbaeumer The owner is exposed indirectly via the `DiagnosticsCollection#name` [property](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L2269). Since that's the only way from the API to post diagnostics and because having owners on the diagnostic maps very badly to our main thread model. Also what does it mean when you post a diagnostic with owner `foo` to a collection with ow

[2015-12-04 10:32] eserozvataf commented on #169
sorry I noticed the problem after I posted this, it was definitely my bad.

[2015-12-04 10:32] moostad commented on #1000
@bpasero I don't see any problem in CPU profile (or most likely I'm not qualified to read it) but I can send it to you if it can help. the only thing I noticed is every time that's happening two error will print in console.

1: Error: getaddrinfo ENOTFOUND vortex.data.microsoft.com vortex.data.microsoft.com:443 at errnoException (dns.js:25:10) at GetAddrInfoReqWrap.onlookup [as oncomplete] (dns.js

[2015-12-04 10:33] jrieken commented on #1010
@dbaeumer Or is the `source` property more or less a view model property independent of the owner/name concept we internally use. Just like a secondary label?

[2015-12-04 10:33] jrieken commented on #169
no worries

[2015-12-04 10:35] egamma commented on #1008
The query has been improved and it will be significantly faster in the December update.

[2015-12-04 10:35] #1008 closed

[2015-12-04 10:37] jrieken commented on #183
this code has changed at lot since the last 3 years ;-)

[2015-12-04 10:39] egamma commented on #222
Thanks for the pointer - closing.

[2015-12-04 10:39] #222 closed

[2015-12-04 10:41] egamma commented on #991
Sorry not yet, but it is on our Roadmap.

[2015-12-04 10:46] joaomoreno commented on #901
Here are my latest findings:

We could avoid calling `git status` since that writes to the index. There are a few commands which would give us the same results:

- `git ls-files --others --exclude-standard`, for untracked files
- `git diff-index HEAD`, for the changes between the working tree and `HEAD`
- `git diff-index --cached HEAD`, for the changes between the index and `HEAD`

The reason why

[2015-12-04 10:49] andrew-w-ross commented on #423
+1 this is really needed

[2015-12-04 10:52] jrieken commented on #1000
btw - this is issue #1000 :tada:

[2015-12-04 10:55] bpasero commented on #1000
@moostad if you are able to capture a CPU profile when the explorer shows the spinning progress you can send it to me.

I think the ENOTFOUND is from our telemetry reporting. @SofianHn any chance this could slowdown operations? We don't send telemetry sync do we?

[2015-12-04 10:55] dbaeumer commented on #985
This issue was moved to Microsoft/TypeScript#5925

[2015-12-04 10:55] #985 closed

[2015-12-04 10:56] dbaeumer commented on #982
This issue was moved to Microsoft/TypeScript#5926

[2015-12-04 10:56] #982 closed

[2015-12-04 11:02] jrieken commented on #559
Closing as duplicate of #455.

[2015-12-04 11:02] #559 closed

[2015-12-04 11:02] joaomoreno commented on #916
Actually, now that I think about it... won't fix. These are very rare and it's good they jump in our faces since it's an opportunity for us to communicate the issue back to TypeScript.

[2015-12-04 11:02] #916 closed

[2015-12-04 11:03] jrieken commented on #95
duplicate of #703

[2015-12-04 11:03] #95 closed

[2015-12-04 11:05] jrieken commented on #54
Making this a duplicate of #703. There are a few things off when it comes to jsconfig.json and I trying to tackle them for Dec15

[2015-12-04 11:05] #54 closed

[2015-12-04 11:08] jrieken commented on #875
We have this check because the editor (without VS Code) ships in other products with different memory/perf constraints. Making it configurable is an option (you should have access to a config service somewhere) but once we adopt project salsa VS Code will not hit by this anymore.

[2015-12-04 11:09] warpdesign commented on #713
+1
Also, not sure if it's related to the same problem, but some shortcuts can be matched by several combinations, and sometimes only one, or worse, none work.

For example: `ctrl + *` to split the editor

There are two '*' on a French keyboard: one above the right shift key, and another one on the keypad, above '9'.

Pressing ctrl+'*' using the keypad '*' key won't work, while using '*' key found

[2015-12-04 11:19] isidorn opened #1011 "Ctrl + click on quick open does not work"
* Open quick open with ctrl + tab
* Click on file you want to open while holding down ctrl - **nothing happens**
* I would expect the file gets opened

I see this on mac el capitan. I think it was working before your promise chain work since I this is part of my workflow.

[2015-12-04 11:20] jacek-dargiel commented on #965
This particular project has ~30 JS files. There's also quite a few JS files in `web/node_modules`, but I'm excluding them with a `jsconfig.json` file:
[code]

[2015-12-04 11:33] dbaeumer commented on #971
@schinaider I see your point. I added a setting php.validate.enable. If set to false VSCode will not validate php files at all and therefore will not show a message if it can't find the php executable. To not break things the setting is true by default.

[2015-12-04 11:33] #971 closed

[2015-12-04 11:35] bpasero commented on #1011
@isidorn Don't think this ever worked, please try with 0.10.3. I dont think the tree gives me a mouse down with Ctrl clicked.

[2015-12-04 11:41] isidorn commented on #1011
You are right, just checked - also not working with 0.10.3
I confused it with my workflow with regular quick open + click. Though this would still be nice to have if possible.

[2015-12-04 11:42] miroshko opened #1012 "Insert key doesn't switch to overtype mode"
Insert key should switch between insert and overtype modes but it does not.

Version 0.10.3
Commit 783ecf841a2b21edca6d86853670cae89b4c244f
Date 2015-11-26T14:10:14.207Z
Shell 0.34.1
Renderer 45.0.2454.85
Node 4.1.1
Ubuntu 14.04

[2015-12-04 11:49] jrieken commented on #703
@skovmand For you specific case, can you check if the full path of your files (_bpm.js, bpmController.js, ..._) contains `js`, like in `/users/me/coding/js-stuff/app/bpm` etc? I am asking because I have found an issue if our file event processing loop. It's a little complex but basically when a file is added/deleted we check if that is of interest the JS language service and the check seems flawed

[2015-12-04 11:54] isidorn commented on #40
Assigning to @lukehoban  so he reads my comment

[2015-12-04 11:59] isidorn commented on #934
No, there should be no restrictions. We do some grouping of output which might have caused an issue.
A testcase extension would be great so we could investigate on our side.

Thanks

[2015-12-04 12:02] isidorn commented on #937
If you manually create a `launch.json` file does that work?
Do you see some errors in the console - `command palette` > `developer: toggle developer tools`
Do you see a list of debug environments in the quick open, and once you pick the file does not get created?

I do not think we officialy support centos 7 gnome setup https://code.visualstudio.com/docs/supporting/requirements

[2015-12-04 12:06] isidorn commented on #995
Yes this is a current limitation because the debug hover does not have language specific knowledge.
This should be fixed in the future as part of a larger debug hover improvement work when the hover should talk to the language service for getting tokens that the user is hovering over.

Closing for now

[2015-12-04 12:06] #995 closed

[2015-12-04 12:10] jrieken commented on #703
@nrkn I have a fix for the `temp`-prefix issue.

[2015-12-04 12:11] jrieken commented on #703
@yevk About the 4th level directory. Is it that they either start with `temp` or contain the string `js`?

[2015-12-04 12:15] jrieken commented on #965
yeah, we also won't go into those folders for perf reasons... can reproduce take a look at the process tree. one of the child process should go crazy (CPU, mem) before the crash happens

[2015-12-04 12:19] jacek-dargiel commented on #965
How can I do this on Windows? What info do you need?

[2015-12-04 12:48] Bigous opened #1013 "Highlight arrow function parameters"
When you are writing in TypeScript, arrow function does not get the parameter names colored. Using anonymous functions you get it colored.

[2015-12-04 12:58] bpasero commented on #968
We talked about this at lunch and have an idea how we could make some progress here and get feedback:

- [ ] if you use slash or backslash in your query, we always match on the full path because that is a good indicator for wanting to match on folder names
- [ ] we introduce a new quick open provider for fuzzy searching that enables all of the features (fuzzy match, match on full path) while not c

[2015-12-04 13:09] Lahori-Jawan commented on #958
just themes. flatland, monokai, batman

[2015-12-04 13:26] WangJi commented on #700
Before `0.10.1`, it works fine, after that, it's broken.
Obviously, it's either a bug or an intention (reason?).
@aeschli  could you help to look at it?

[2015-12-04 13:30] jrieken commented on #965
the best tool is this: https://technet.microsoft.com/en-us/sysinternals/processexplorer.aspx

[2015-12-04 13:42] slayerxj commented on #1001
@alexandrudima I did some tests and found out this phenomenon seems to be related a special code.
[code]
And I can reproduce this phenomenon every time using
https://raw.githubusercontent.com/slayerxj/anicraw2/socket/record/result.js
This file can be correctly loaded by Node.js.

Now after the tests I no longer think this file is common, so it's OK if you don't see it as an issue.

[2015-12-04 13:59] jamietre commented on #936
Just a post mortem for anyone who happens to have the same issue.. the problem is entire config. Everything worked for me in other debuggers because they support inline source maps. When switching to external sources, `gulp-sourcemaps` has two issues

1. It defaults `sourceRoot` to "/sources/" which of course breaks everthing unless you happen to have your source in some file system rooted path "s

[2015-12-04 14:03] warrenbuckley opened #1016 "Request: Colourise text in Output Channel"
I am looking at building an extension that prints a lot of information from errors, debug & warnings so it would be nice to stylise the messages from the realtime logs of a website to help with debugging.

So can I make a feature request please to enable colorised text in Output Channel

[2015-12-04 14:24] janders223 commented on #703
This also seems to be the case with shebang scripts. A file at `~/project/bin/server` with the node shebang header `#!/usr/bin/env node` is not recognized. As soon as the file name is changed to `~/project/bin/server.js` it is fine.

[2015-12-04 14:25] alexandrudima commented on #1005
@areijngoudt Did you intend to provide a screenshot? Can you please provide the code snippet that has issues?

[2015-12-04 14:25] #939 closed

[2015-12-04 14:26] alexandrudima commented on #1009
@q42jaap Can you please provide additional details.

Does this happen when opening a specific folder? Does this happen when opening VSCode without a folder (`Cmd+Shift+N`)? Anything you can add to help us reproduce

[2015-12-04 14:27] alexandrudima commented on #1013
@Bigous can you provide the code snippet please.
@dbaeumer this might be an upstream issue in the TypeScript TM grammar

[2015-12-04 14:29] alexandrudima commented on #1001
to investigate if this is a dup of #94 (long line containing multi byte characters)

[2015-12-04 14:33] alexandrudima commented on #947
@bpasero Looks like this is the global zoom. I remember you mentioned you added a config setting to go below 100%

[2015-12-04 14:34] alexandrudima commented on #948
@azumikav The right think to do here is for VSCode to call `deactivate` on extensions on shutdown and for extensions to clean up on shutdown.

[2015-12-04 14:34] jrieken commented on #600
This is either an issue with the TypeScript compiler or specified as that. See TS playground for reference: http://www.typescriptlang.org/Playground#src=%2F%2F%20errors%0D%0Aimport%20blah%20from%20'blah'%0D%0A(function%20(a)%20%7B%20return%201%20%7D%20())%0D%0A

[2015-12-04 14:35] jrieken commented on #600
This issue was moved to Microsoft/TypeScript#5931

[2015-12-04 14:35] #600 closed

[2015-12-04 14:37] bpasero commented on #947
Yes, the december release will have a new setting ´window.zoomLevel´

[2015-12-04 14:37] #947 closed

[2015-12-04 14:38] jrieken commented on #999
This is a limitation with our rewriter. Behind the scenes we transform the code to this

[code]

[2015-12-04 14:38] #1011 closed

[2015-12-04 14:39] bpasero commented on #1011
The issue is that Ctrl+click on Mac seems to trigger the context menu. I am overriding this now in quick open so that you can Ctrl+click to pick an entry from the editor history. I was missing this feature a lot too, so I am happy this seems to work now!

[2015-12-04 14:39] joaomoreno opened #1017 "Triple click selection seems to render a single line's selection twice"
Best seen on dark themes.

In the following screenshots, I triple-clicked line 381. Then I dragged down to the next line. Notice that when only line 381 is selected, the selection is brighter and misses rounded corners. As soon as I drag the selection down, the selection is OK.

![image](https://cloud.githubusercontent.com/assets/22350/11592132/0173655c-9a9d-11e5-8740-05b1578db0ea.png)

![image](h

[2015-12-04 14:39] NikoMix opened #1018 ""Open with Code" in Context of Desktop causes Error"
Hello,
if you right-click on the desktop (Win 10) "Open with Code" is available, but if you click it an error message appears.

<img width="155" alt="menu item" src="https://cloud.githubusercontent.com/assets/809210/11592169/26961bb8-9a9d-11e5-92de-e5e61c0a6281.PNG">
<img width="418" alt="error" src="https://cloud.githubusercontent.com/assets/809210/11592168/2692c5c6-9a9d-11e5-898c-108586d919bb.PN

[2015-12-04 14:40] jrieken commented on #703
@janders223 Yeah, at that point in time we cannot look into each and every file...

[2015-12-04 14:51] jcward commented on #934
Ah ha, I think I found the issue by looking at my log with `less` - my compiler outputs ANSI color sequences, and I was passing this directly through to the console:

![image](https://cloud.githubusercontent.com/assets/2192439/11592176/20f3b186-9a5a-11e5-8ec8-9b226d9cf8b8.png)

I stripped the color codes with by replacing `/\x1b\[[0-9;]*m/g` with `''` and I'm now getting the output I expect.

I've

[2015-12-04 14:56] weinand commented on #934
@bpasero ANSI color sequences should work, right?

[2015-12-04 14:58] joaomoreno commented on #1018
This is more likely the old shortcut from before `0.8.0`, that an update failed to remove. You can remove it by opening the Registry (`regedit.exe`) and deleting the following keys:

[code]

[2015-12-04 14:58] #1018 closed

[2015-12-04 15:04] joaomoreno commented on #1003
Numbers seem to be words...

[2015-12-04 15:21] bpasero commented on #934
Yes, color codes from the target to the repl should show up as expected. You can see this from mocha tests that use coloring. We might not support the full set though. So we need to know what sequences are used here.

[2015-12-04 15:22] egamma commented on #968
:+1:

[2015-12-04 15:31] villiv commented on #996
Thanks for your reply.

So it's Electron's job. Since Chromium itself can see those temporary fonts, There has to be a way.

[2015-12-04 15:36] halyavin commented on #355
I just found out, by looking at the process tree on my machine, that IntelliJ IDEA has a similar process for Linux file watching and they made in open source (Apache license):
https://github.com/JetBrains/intellij-community/tree/master/native/fsNotifier/linux . You can just reuse it for VS Code.

[2015-12-04 15:37] jcward commented on #934
The above messages, when output to a terminal, look something like this:

![image](https://cloud.githubusercontent.com/assets/2192439/11593408/6dd4db0e-9a61-11e5-8c7d-476163e41c54.png)

In the sequence above I see `[33;1m`, `[33m`, `[1m`, and `[0m` (bright yellow, yellow, bright, and off) -- nothing too fancy. The only oddity I notice in the sequence above is that the off code `[0m` is sometimes r

[2015-12-04 15:43] lukehoban commented on #40
Sorry - missed your reply earlier.

No, I don't do this yet, and that is likely the root problem.  I see how this is done in the Mono debugger and that makes sense.

Unfortunately, this won't map as easily to the Go debugger as it does in the Mono case.  The Delve debugger does not provide any events, only host-initiated RPC commands.  I think that's reasonably common for a class of debuggers prim

[2015-12-04 15:53] egamma commented on #1003
@jrieken for this scenario it would make sense when 7x24 intellisense only pops-up when there is a prefix match.

[2015-12-04 15:53] romu70 opened #1019 "Can't download for Linux x64"
Hi,
The web site seems a bit broken. There is no way to download Code for Linux x64. Tested with Fedora, on both Firefox and a WebKit browser.

[2015-12-04 16:02] q42jaap opened #1020 "template string highlighting not working"
The template string highlighting is broken (it's announced to be working in 0.5.0: http://blogs.msdn.com/b/vscode/archive/2015/07/06/vs-code-es6.aspx).

My jsconfig.json file:
[code]

backtick.js:
[code]

placed in the same directory and then open visual studio code with:
`open .`

using the following line in `.bash_profile`:
[code]

This results in the second line to be green (because of `/* whic

[2015-12-04 16:03] alexandrudima commented on #1017
selectionHighlighter

[2015-12-04 16:11] egamma commented on #1020
Since the blog post we have changed the coloring to textmate grammar and in December we are now switching to the TypeScript grammar.

Assigning to @aeschli to verify whether this now working properly.

[2015-12-04 16:12] q42jaap commented on #1009
Im using the following line in .bash_profile:
`code () { VSCODE_CWD="$PWD" open -n -b "com.microsoft.VSCode" --args $* ;}`

I use that to `code .` in the directory. I leave the editor open voor a long time. And then I notice my Mac is running low on power. It's also getting hot, CPU is high on the Electron Helper subprocess.

It's difficult to say how to repro, I can't always get that to happen (f

[2015-12-04 16:14] warpdesign commented on #1008
@egamma Cool!

[2015-12-04 16:20] bpasero commented on #1009
@q42jaap what workspace do you open with code?

[2015-12-04 16:24] q42jaap commented on #1009
I'm opening a directory in which I've checked out our private git repo. Not a particularly big project.
We use nodejs 5 for backend and babel ES6 code for the frontend.

Are there steps (suchs as logs or dumps) I can take and submit (privately) to Microsoft?

[2015-12-04 16:24] jrieken commented on #1003
Yes, if would be even more strict and say the current word never matching anything if its just numbers

[2015-12-04 16:29] bpasero commented on #1009
@q42jaap well it would be interesting if this happen on a different folder too, maybe you could give it a try. Does the CPU go to 100% right after you open the folder?

[2015-12-04 16:31] q42jaap commented on #1009
It does not always happen, and it does not happen immediately. I'm currently in the process of reinstalling vscode, which is going to take a while due to slow connection.

[2015-12-04 16:32] alexandrudima commented on #713
Just pushed a new npm module [native-keymap](https://www.npmjs.com/package/native-keymap) and adopted it in VSCode. It doesn't do anything yet for mac, but it already works for windows and linux.

It kicks in when rendering keybinding labels:

Here is `Split Lines` when the keyboard layout is set to German (Swiss):
![image](https://cloud.githubusercontent.com/assets/5047891/11594417/38f75d1e-9aaa-

[2015-12-04 16:45] areijngoudt commented on #1005
Oh, I don't have access to the code right now. It's something like:

link href='~/Content/bootstrap.css' type=...

Etc

[2015-12-04 16:47] Bigous commented on #1013
Sure...
This is not colored
[code]
This is colored correctly
[code]
Just like here in github :D

[]s

[2015-12-04 16:58] isidorn commented on #1011
awesome :fist:

[2015-12-04 17:03] isidorn commented on #40
Yes I could do something like you proposed.
@weinand what is your take on this. Should we change how we handle threads in the protocol so we support more adapters?

[2015-12-04 17:11] xeoneux opened #1021 "Autocomplete should insert parenthesis for methods"
During autocompletion for methods, parenthesis do not get inserted automatically. Most of the time they are required and it's easier to delete them than insert them manually.

Eg: Tab or Return after `var arr = str.sp` should autocomplete to `var arr = str.splice()` rather than `var arr = str.splice` with the cursor between the parenthesis.

[2015-12-04 17:20] alexandrudima commented on #1019
@romu70 The download starts for me automatically when I access https://code.visualstudio.com/Docs/?dv=linux64 in Chrome for example. Here it is: http://go.microsoft.com/fwlink/?LinkID=620884

@bgashler1 Maybe we should render a direct download link on the download confirmation page in case download does not auto-start.
![image](https://cloud.githubusercontent.com/assets/5047891/11596152/b3771ce2-9

[2015-12-04 17:38] alexandrudima commented on #460
cursor blinking can now be disabled thanks to #500 from @Protectator

@anothergituser Please create a new issue for the other half (font size of explorer) or use zoom in.

[2015-12-04 17:38] #460 closed

[2015-12-04 18:15] stkb commented on #966
It would be great if extensions could hook into this too to provide configurations and a custom tasks.json. The same goes with the launch.json too.

[2015-12-04 18:28] Tyriar commented on #1021
Not sure I agree with this as the default behavior, in JS and more functional languages in particular it is quite common to use functions as references such as passing them in as arguments. Something like this could irritate developers when they're used to typing `()` anyhow. An example of where this would get annoying:

[code]

Do you know any editors/IDEs that use this as the default?

[2015-12-04 18:31] Tyriar commented on #994
Related? https://github.com/Microsoft/vscode/issues/993

[2015-12-04 18:39] Tyriar commented on #772
@osjn do you mean to have the closing tag be a higher priority than other tag auto-completions? Enabling this:

- Type `<div>`
- Type `<`
- Press enter to auto-complete `/div>`

Related: https://github.com/Microsoft/vscode/issues/877

[2015-12-04 18:47] rhires commented on #395
Mono here...a fairly up-to-date version, too. I'll have to come back and say which version.

[2015-12-04 18:47] rogierlommers opened #1022 "Settings file cannot be a symlink"
The settings file (~/Library/Application Support/Code/User/settings.json) cannot be a symbolic link. Don't know why, but the editor is complaining about when the file is in fact a symlink. Please see screenshot for an example.

However, if the it's a hardlink, then everything is okay. The reason for this issue is that I would like to add the vscode settings file to my dotfiles repository.

![scree

[2015-12-04 18:51] SofianHn commented on #1000
@bpasero we don't sent telemetry sync, those errors are expected to be on the console. I just tried to reproduce it with no luck.

@moostad please try disable telemetry as described [here](https://code.visualstudio.com/Docs/supporting/FAQ#_how-to-disable-crash-reporting) and let us know if you see any difference.

[2015-12-04 18:57] xeoneux commented on #1021
Calling methods is common than passing them as arguments. Many IDEs like WebStorm, IntelliJ Idea and Android Studio use this as default behaviour and it really helps in coding faster.

I understand that this could irritate developers who are accustomed to typing parenthesis but for other developers who come from the JetBrains world, it becomes an extra effort. A simple option to enable this behavi

[2015-12-04 18:58] Tyriar opened #1023 "Implement multi-select in left-panel file tree"
It would be good to be able to move/copy/delete/etc. multiple files in the tree view at once using combinations such as:

**Mouse**
- <kbd>shift</kbd>+`left click`:  Select all items from the currently focused item to the clicked item
- <kbd>ctrl</kbd>+`left click`: Add the clicked item to the selection

**Keyboard**
- <kbd>shift</kbd>+<kbd>&uarr;</kbd>: Add the item above the focused item to the

[2015-12-04 19:03] zooba commented on #121
Or someone can assign it to me - my team will be working on Python support over the next 12 months to bring as much from https://github.com/Microsoft/PTVS as possible and also to give VS Code its own unique spin (since the needs and uses are different from VS).

Incidentally, if you're _really_ keen to see this happen and like the sound of living in Washington (state), drop me an email (on my prof

[2015-12-04 19:04] hiiroo opened #1024 "namespace name Stack could not be found"
Even though all other things work out, I get error when I try to use Stack.

[code]
I have System.Collections in the dependencies,

[code]

[2015-12-04 19:09] Tyriar opened #1025 "After left panel tree view delete, focus should go on the last file or the file that took its place"
Selecting and deleting `c` in this file structure:
- `a`
  - `b`
  - `c`
  - `d`

Currently will move focus to `a`. I would expect this to move focus to `d` to allow multiple deletes in quick succession, so `delete`, `delete`, `delete` could be used to remove all of `a`'s files before focus is moved to `a`.

[2015-12-04 19:15] brettcannon opened #1026 "Editor basics doc say `kbstyle()` instead of Cmd for Mac keyboard shortcuts"
E.g., "holding the Ctrl (Mac: kbstyle()) key".

[2015-12-04 19:17] glen-84 opened #1027 "Suppress display of end-of-file newline as blank line"
Currently:

[code]

What it should be:

[code]

Row 4 is not considered a line, at least not according to the [POSIX definition](http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap03.html#tag_03_206), so it shouldn't be numbered.

(Atom issue [here](https://github.com/atom/atom/issues/7787))

Edit: You might also consider not showing the final line number unless the line is correctly

[2015-12-04 19:19] Tyriar commented on #1022
I've been using a symlink for my settings.json and keybindings.json on Ubuntu for a week or two now with no problems.

[2015-12-04 19:25] brettcannon commented on #1026
Found https://github.com/Microsoft/vscode-docs and will move the issue over there.

[2015-12-04 19:25] #1026 closed

[2015-12-04 19:27] skovmand commented on #703
@jrieken Yes, my file path contains js. The file path to the site root is ```/Users/skovmand/Code/beat-ninja-frontend/site/resources/assets/js```

[2015-12-04 19:41] glen-84 commented on #973
If you add this, please support the (not-yet-standard) `compileOnSave` tsconfig option.

See https://github.com/Microsoft/TypeScript/issues/2326 and https://github.com/TypeStrong/atom-typescript/blob/master/docs/faq.md#i-dont-want-atom-typescript-compiling-my-js.

[2015-12-04 19:42] natewallace commented on #377
Has this fix been tested successfully?  I'm running version 0.10.3 of the app which appears would contain the fix applied in c3094f3 but I still get the undefined error described in this issue when calling the OutputChannel.hide function.

[2015-12-04 19:49] glen-84 commented on #973
Actually, wouldn't it be better to implement this as an extension, in support of "[Don't create a monster, please!](https://visualstudio.uservoice.com/forums/293070-visual-studio-code/suggestions/8792656-don-t-create-a-monster-please)"?

[2015-12-04 19:51] scastaldi commented on #754
in all the dark themes is difficult to see the cursor, and the other themes make you blind  :)
can we change the cursor to anything else other than black?
how about the default Visual Studio Theme? (Blue/White)

[2015-12-04 19:52] abelshaw commented on #287
I'm not sure If I should add it here or start a new issue. Visual Basic is also affected by this.
Same effect, brackets work fine but double quotes do not. As the single quote is the comment character I don't think that's ever closed and I don't think anyone would want it to.

[2015-12-04 19:57] DelvarWorld commented on #95
@jrieken my ticket is a dupe of a ticket made 8 days after mine?

[2015-12-04 19:57] Tyriar commented on #754
Perhaps I'm misunderstanding, but isn't this an OS X cursor issue? ([is it this one?](http://cdn.osxdaily.com/wp-content/uploads/2011/07/mac-cursor.jpg))

[2015-12-04 20:12] Tyriar commented on #1027
While I agree that files should have a new line at the end, wouldn't forcing this disallow saving files without the terminating new line character?

[2015-12-04 20:36] glen-84 commented on #1027
@Tyriar This has no effect on file saving, it's just about the display of line numbers.

[2015-12-04 20:37] Tyriar commented on #1027
So the line would still be there, just not the line number?

[2015-12-04 20:38] moostad commented on #1000
@bpasero here's the CPU profile.
[CPU-20151204T235311.cpuprofile.zip](https://github.com/Microsoft/vscode/files/52466/CPU-20151204T235311.cpuprofile.zip)

[2015-12-04 20:41] glen-84 commented on #1027
Yes, but it's not technically a "line", it's just an area that can receive focus for text entry.

[code]

[2015-12-04 21:20] thomastaylor312 commented on #515
1. On a Mac running OSX 10.11.1 (probably a MacBook Pro) and the latest VSCode, connect to a Samba share in the Finder.
2. Open a file from the Samba share for editing
3. Sleep the computer or disconnect from an Ethernet connection. Normally I have seen it happen when I close the lid on my machine, leave it closed for a few minutes (not connected to power), and and then open it back up
4. When you

[2015-12-04 21:21] romu70 commented on #1019
Thanks @alexandrudima. The first link doesn't work for me. Tested on 2 Fedora PCs. The second link works as expected.

[2015-12-04 21:27] #1024 closed

[2015-12-04 21:50] bgashler1 commented on #1019
I like the idea of a direct download link.  I'll put that in there.  Sorry you had trouble @romu70!

[2015-12-04 22:08] SteveALee opened #1028 "Not possible to specify quoted arguments in tasks"
eg

"C:\Program Files\Git\bin\bash.exe" -c "ls -a"

It is impossible to encode "arguments" to resolve to `-c "ls -a"` as far as I can tell. Every attempt to escape quotes or put spaces in an argument string fail.

[2015-12-04 22:14] bpasero commented on #377
Fix should be in our upcoming December release.

[2015-12-04 22:17] takumif opened #1029 "Debug start button gets hidden when the sidebar is too narrow"
![screen shot 2015-12-04 at 4 49 19 pm](https://cloud.githubusercontent.com/assets/5505433/11602718/71c4909e-9aaa-11e5-9808-04e1db48f10d.png)

When the sidebar is at its narrowest allowed width, the green start button gets hidden, and there is nothing that indicates that it's hidden. This is especially confusing when you've opened the debug view for the first time.

[2015-12-04 22:26] takumif opened #1030 "Syntax highlighting stops working when TypeScript keywords appear as object keys"
![screen shot 2015-12-04 at 5 22 50 pm](https://cloud.githubusercontent.com/assets/5505433/11602866/bb196534-9aab-11e5-9c22-82d8ea20ab56.png)

When a keyword such as `class` appears as a key in an object, syntax highlighting for method declaration no longer works for the rest of the file.

[code]

[2015-12-04 22:28] SofianHn commented on #602
We are actually removing send-a-smile all together. We will have a blog post soon after next release explaining our feedback channels now that we are OSS.

[2015-12-04 22:48] yevk commented on #703
@jrieken
No `temp` or `js` in the folder names.
I did some more testing with a completely empty dir containing only `jsconfig.json`, a `test.js` file and a bunch of subdirs named 'a' through 'e'.
It seems to work at all levels but it takes a few seconds to recognize the ES6 syntax.
This is in an almost empty dir, in a real app dir with `node_modules` and `jspm_packages` at level 4 it doesn't recog

[2015-12-04 23:26] millerv opened #1031 "Feature Request: Chromebook support"
Logging this on behalf of Ed Price at Microsoft

Per this article (https://www.yahoo.com/tech/why-google-is-beating-apple-in-the-battle-for-the-142410097.html), schools are moving away from iOS/Apple devices and onto less expensive devices that run Chrome OS.

There's discussion on a related Microsoft-educator Yammer group about how we need Visual Studio Code to work on Chromebooks and related dev

[2015-12-04 23:30] claycephas opened #1032 "Please don't lock the tsconfig.json file"
I am attempting to use a separate git client and it keeps complaining about the tsconfig.json file being locked. If I close the folder from Visual Studio Code, the file is unlocked but also deleted.

It looks like Visual Studio Code is somehow locking the tsconfig.json file.

Expected:
Allow other applications to read and write the tsconfig.json file even if the folder containing that file is open

[2015-12-04 23:31] #674 closed

[2015-12-04 23:54] Arebee88 commented on #95
Having a garbage experience with typescript and vscode, just give up man. This thread has made up my mind.

[2015-12-05 00:06] DelvarWorld commented on #95
:+1: it was crippled from launch, and instead of providing any kind of community support or hiring a community advocate, the devs just keep saying "VS code fully supports ES6."

A Microsoft product that has trouble with the filesystem?! Who would have guessed!

[2015-12-05 00:07] csinco commented on #1031
We actually have a previous product that VS Code is based on, called Visual Studio Online "Monaco".
https://azure.microsoft.com/en-us/documentation/videos/building-web-sites-with-visual-studio-online-monaco/

Problem is, it is only for Azure websites.  You should perhaps talk with @chrisdias about how to move forward with this Chromebook scenario.

[2015-12-05 00:19] moostad commented on #1000
@SofianHn I disabled telemetry for about an hour and problem solved and as soon as I enabled that again, I get spinning progress 4 times in less than 10 minutes.

[2015-12-05 00:48] lukehoban opened #1033 "Locally exported environment variables are overwritten by ~/.bash_profile when using `code .`"
Per https://github.com/Microsoft/vscode-go/issues/141, there appears to still be an issue with how env vars are passed into Code, even after the fix for https://github.com/Microsoft/vscode/issues/560.

Steps to reproduce:

1. have `export FOO=1` in your `.bash_profile`
2. ensure your function to start visual studio code looks like this `code () { VSCODE_CWD="$PWD" open -n -b "com.microsoft.VSCode"

[2015-12-05 01:17] SofianHn commented on #1000
Interesting...thanks @moostad for the quick response. I am guessing you are on Mac, after being offline for a while please run `open $TMPDIR/appInsights-node` from the terminal and verify what exists in this directory. You should see a bunch of json files, I am interested how many and what's their sizes.

@bpasero I verified that the caching mechanism by AppInsights is [async](https://github.com/M

[2015-12-05 01:35] osjn commented on #772
@Tyriar not mean that, just the mean of providing for auto completion, and the affect after auto completing. As below:
1. type `<div>`
2. type`<`
3. needn't press enter, it becomes `<div></div>`, and the cursor is between `>` and `<`
Resources:
`1. Komodo Edit
2. Brackets`

[2015-12-05 01:38] slayerxj commented on #1001
@alexandrudima I can open that CSS file without any problem (and syntax highlight shown up very quickly), so I don't think they're same.

And I can reproduce this phenomenon both on the computer in the company which is a workstation and the computer at home which is also pretty fast. So you can just open the file I attached to have a try.

[2015-12-05 01:48] DanielRosenwasser opened #1034 "JavaScript language support reports assignment to function as error instead of warning"
This is a holdover from TS language service errors.

![image](https://cloud.githubusercontent.com/assets/972891/11605161/233b6576-9aad-11e5-9400-5191d1b9bda5.png)

[2015-12-05 02:22] moostad commented on #1000
@SofianHn I will send those information later however I'm not sure that have anything to do with io because I don't get spinning when system is disconnected from network (wifi is off) it's happening only when my mac is connected to the network without internet. I guess when it's see getaway that try to connect to website and block everything until get timeout. that's when I get spinning.

p.s. I h

[2015-12-05 03:01] thoughtentity opened #1035 "Codelens feature causing unexpected diff areas in git diff view"
When the codelens feature pops in the editor to show reference info while viewing a git file diff it causes additional diff areas to show up in areas where the codelens UI gets inserted.

![image](https://cloud.githubusercontent.com/assets/208549/11605563/e85b01c2-9ab7-11e5-862d-b1fbbe03b85a.png)

[2015-12-05 03:02] RobCannon commented on #547
+1 on this feature. Also, I would like to see an option to see the REPL window on the bottom.

[2015-12-05 03:42] chrisdias commented on #417
The [website](https://code.visualstudio.com) now has the "BETA" banner and the [license](https://code.visualstudio.com/license) refers to "BETA".  Issue #60 explains the difference between the repository license and the Visual Studio Code product license.

[2015-12-05 03:42] #417 closed

[2015-12-05 04:48] javagg commented on #1031
@csinco Is the Visual Studio Online still under development? I think Visual Studio Online is one of the best cloud-based IDEs avaiable on the web. But it does lack some feasures compared to c9 cloud ide. What's the future of Visual Studio Online?

[2015-12-05 07:46] TurkeyMan opened #1037 "Integrate bash"
I'm finding VS Code is fairly hard to use efficiently without an integrated terminal.
I have to type make repeatedly in a separate bash window (remembering to hit ctrl-s every time!), and from there, I can't double-click on compile errors to go to the line+file.
At a minimum, it would be good to have an integrated shell, and support clicking errors to go to the source.

Ideally, once integrated, a

[2015-12-05 07:52] javagg opened #1038 "the file "src/vs/workbench/parts/debug/browser/debugActions.ts" misplaced"
This file imports electron modules "remote" and "clipboard" and should be placed under "src/vs/workbench/parts/debug/electron-browser"

[2015-12-05 08:04] only1shirish commented on #533
Not Working
![untitled](https://cloud.githubusercontent.com/assets/4066994/11606822/e31774e6-9b54-11e5-89a3-6ddf14e8b3be.png)

[2015-12-05 08:05] only1shirish commented on #533
I am sorry the file ext was wrong

[2015-12-05 08:28] moostad commented on #1000
This time I tried on Ubuntu to be sure it's not OS/Device related, it's happening but not as often and not as long as Mac. maybe because it has much more power then the Mac (2x raid0 SSD for OS, 12 core CPU, 32 GB ram). here's the list of files

Total size: 1.5 MB
Count : 43

[code]

[2015-12-05 09:30] wolfspider commented on #395
I have an IMac at my office where everything works perfectly however I also have a Macbook Pro where this problem has been a continual issue. I have tried reinstalling VSCode (I'm on 0.10.3) and even getting OmniSharp from Github and running it purely from there as well which generates the same error. Right now I'm running Mono version 4.2.1 as well. I don't need to start VSCode to see the error j

[2015-12-05 09:34] SteveALee commented on #417
@chrisdias FYI that Beta banner does **not** appear on mobile version of the website. It is on the Licence page though.

[2015-12-05 09:37] SteveALee commented on #60
@chrisdias Thanks for explaining.

It would be good to ensure any differences other than Branding / telemetry are clearly documented. At least we don't need to be concerned that this is a 'bait and switch' manoeuvre as the branded version is free :)

[2015-12-05 10:19] alexandrudima commented on #754
Aha!

[2015-12-05 10:33] kojoru commented on #856
@dbaeumer do you think that feature will be accepted if I implemented it as a pull request?

[2015-12-05 10:33] felixfbecker commented on #706
@weinand There is a good documentation about the VS Code debugger protocol and a tutorial about how to get the mock debugger up and running. But the mock debugger itself (the classes in the common folder) are, besides inline comments, not documented at all. There's just all these methods that somehow get called and it's not clear to me when and what parameters are important.

I'm (and I think many

[2015-12-05 13:01] rhires commented on #395
Hooray Open Source! So you were digging around in the code...roughly where were you looking? I'm curious if you saw anything about increased logging level or anything like that. Maybe we can turn up the logging level to see what else it might be doing. Or, we could custom build something for ourselves with lots of extra logging to see what's up...or maybe link this issue to the OmniSharp team? See

[2015-12-05 13:04] weinand commented on #706
@felixfbecker thanks for the feedback. I'll try to improve the class documentation next week. The classes in common are actually not that important because they are just an implementation detail of the server side framework. Debug adapter implementers are just expected to implement the 'xxxxRequest' methods of their subclass of DebugSession. I think it will help if I copy the high level documentat

[2015-12-05 13:10] rogierlommers commented on #1022
Strange, On OSX El Capitan (0.11.1 (15B42)) it does not work, see my attached screenshot above. Only a hardlink works.

[2015-12-05 13:24] natarajanmca11 commented on #409
Hi, I am also facing the same issue if I turn off the wifi. I hope internet is not required to debug the source code. Please guide me.

[2015-12-05 14:09] weinand commented on #409
@dotnetCarpenter the fix for the unreadable error message will appear in the December release

[2015-12-05 14:13] weinand commented on #409
@natarajanmca11 If you see this problem on Windows then you are probably running into this node.js on Windows bug: node-inspector/node-inspector#645

[2015-12-05 14:28] ulrichSchreiner commented on #1019
Hi,

it would be great to have a fixed Download-Link with a version in it. I [bundled vscode](https://github.com/ulrichSchreiner/vschttps://github.com/ulrichSchreiner/vsc) with docker and some go-tools and with every release i have to change the whole downloadlink in the Dockerfile.

i'd like to have one link with a version spec or something comparable ...

thx
</usc>

[2015-12-05 14:28] egamma commented on #1037
Have you tried to configure a task https://code.visualstudio.com/docs/editor/tasks, then you can trigger make using a short cut, and navigate from errors shown in the output window inside Code, back to your code

[2015-12-05 14:57] egamma commented on #547
agreed and this is on our backlog.

[2015-12-05 15:40] jacek-dargiel commented on #965
Yes, I can confirm that one of the code processes did consume 800+ MB of memory just before crashing.

[2015-12-05 15:49] egamma commented on #973
yes, this was our thinking as well

[2015-12-05 16:01] dreed47 opened #1039 "cant run the app from within the Applications folder on my Mac."
cant run the app from within the Applications folder on my Mac.

[2015-12-05 16:24] charmfeel opened #1040 "Can you add a vs2015 like ctrl+K+D to automatically arrange code?"
This software is very good use, if you can add the vs like ctrl+K+D as a function of automatic arrangement code is better.

[2015-12-05 16:39] egamma commented on #121
Since the work on Python will happen in another repository than `vscode` I will close this issue.

[2015-12-05 16:39] #121 closed

[2015-12-05 16:42] egamma commented on #1040
You can customize the key bindings, pls see https://code.visualstudio.com/docs/customization/keybindings

[2015-12-05 16:42] #1040 closed

[2015-12-05 16:44] builden opened #1041 "JS: default object functin param show error in editor"
such as: a & b will show error tip
[code]

[2015-12-05 16:45] egamma commented on #994
Closing for now, pls reopen with more information.

[2015-12-05 16:45] #994 closed

[2015-12-05 18:35] jseanxu commented on #1003
Can we get a config hook to make it only prefix match?

[2015-12-05 19:49] wolfspider commented on #395
I was looking at the code in the Omnisharp-Roslyn project inside the file DesignTimeHostManager.cs inside the OmniSharp.Dnx folder. Beginning at line 100 we have this routine:

// Wait a little bit for it to conncet before firing the callback
                using (var socket = new Socket(AddressFamily.InterNetwork, SocketType.Stream, ProtocolType.Tcp))
                {
                    var t1

[2015-12-05 20:14] eliashdezr opened #1042 "VSCode Marketplace Theme moderation?"
So I see that the user **genare** contributed to a [huge list of themes](https://github.com/gerane/VSCodeThemes), and props to that, but it is a really a PIA try to preview each one of them because the only description we have is a link to another site to see how it looks like.

So users that put a better effort to show us their themes, are difficult to find in that flooded list by **genare**. For

[2015-12-05 20:22] 1dot75cm commented on #1019
I just packaged vscode. Can you help me test it? @romu70
https://copr.fedoraproject.org/coprs/mosquito/vscode/

[2015-12-05 20:39] SofianHn commented on #1000
thanks @moostad for the clarification and the list of files. The update rate and the size of files seems reasonable to me, writing 3 small files a minute should not be a problem. Now that IO is less likely to have caused this, I will work on producing the case with network and without internet to see what might be going wrong here.

You english is great btw, we really appreciate working with us to

[2015-12-05 21:56] Tyriar opened #1043 "Difficult to create folder in left panel file view if the open folder only contains folder"
Open a folder that a lot of folders (enough to fill the height of the screen) and no files, it seems impossible to create a folder or file in the root folder without closing all files in the text view.

[2015-12-05 22:07] aroemen opened #1044 "Open last active file when closing a file"
It would be nice to have a feature to open the most recent active file when the current file gets closed. Ideally this would be a configurable options.

[2015-12-05 23:29] alanouri commented on #1031
Visual Studio Online is now called [Visual Studio Team Services](https://www.visualstudio.com/products/visual-studio-team-services-vs) and would be a good way to do development on Chrome OS.  It uses the same text editor under the covers as VS Code.  It is not just a code editor but also hosted version control, continuous integration, work item tracking (bugs, kanban board), etc, so it's not exact

[2015-12-05 23:30] wolfspider commented on #395
Ok, I managed to get this to work by killing the conditional statement for awaiting the socket connection and binding to 127.0.0.1 instead of using the loopback adapter. I would only suggest this if you don't mind getting your hands a little dirty and *desperate* to get this to work. Also, not really sure why this works so that in itself is problematic- I'll try to do some more testing later to se

[2015-12-05 23:35] matevzg commented on #122
There is a workaround for high DPI blurriness in 0.10.3. Do a max zoom-in (ctrl+=) and max zoom out (ctrl+-).

[2015-12-05 23:36] gubatron commented on #1028
care to show some code on how you're trying to do it?

[2015-12-05 23:50] ClockworkPirate commented on #1022
I use symlinks for my settings.json on both OS X (10.11.1) and Windows (10 1511); no problems here either.

[2015-12-06 01:28] rhires commented on #395
Hmmm...you're a better coder than I...so basically, explicitly spelling out the loopback works, rather than what should be the constant (string). So maybe that's failing somehow. `socket.connected` thinks it's not connected. I wonder if the Mac OS is returning something in a way that is different than what Windows might return. Totally guessing here.

[2015-12-06 01:41] Draivin opened #1045 "Support `preserveFocus` flag when opening editors or an output channel"
When showing an `OutputChannel`, it will steal the current focus. In an atempt to be less disruptive and keep the user's current focus, I tried the following code:

[code]

This returns the focus to the previously focused document, but it has one quirk, when any quick panel is opened and then closed, the focus will go to the `OutputChannel` instead of going to the previously focused document.

[2015-12-06 02:21] curtw opened #1046 "Support to drag and drop selected text"
In Microsoft Visual Studio Professional you can click+hold on selected text and then drag that text to a new location.  Like a cut/paste operation by dragging/dropping.  Requesting that VS Code support this feature.  Thanks!

[2015-12-06 02:22] wolfspider commented on #395
@rhires That is definitely possible, nowadays the loop back adapter is a
reference to IPv6 local address. Specifying an IPv4 address like 127.0.0.1
keeps it from binding there. That change alone didn't do it so then I had
to remove the requirement to wait for a socket to be open. There is also
the possibility that the omnisharp build process generates unreliable
results on my MacBook and I just bu

[2015-12-06 02:32] rhires commented on #1039
Can you provide more info? Mac OS version, which version of Code you have...I'm sure there's more...

[2015-12-06 05:38] zhengbli commented on #959
Have this problem too since the beginning.
https://github.com/Microsoft/vscode/issues/254 may be related

[2015-12-06 06:31] Wenzil opened #1047 "Typescript: breakpoints on the first statement of a static method don't work"
Hey,

I found a minor issue with typescript debugging. When executing a typescript program, breakpoints placed on the first line of static methods are moved to the closing brace of the method.

For example:

[code]

Breakpoints on line `b`, `c` work as expected, but putting a breakpoint on line `a` does not work: the breakpoint gets moved to the closing brace `}`.

The problem is not present in no

[2015-12-06 06:33] Wenzil commented on #1047
tsconfig.json:

[code]

launch.json:

[code]

[2015-12-06 06:34] tailgo opened #1048 "html, editor.autoClosingBrackets doesn't work well"
When I am typing a html file and adding a class to a tag such as :
 `<div class="some-class"></div>`
when I type `class="`, the double quotes doesn't auto closing.
editor.autoClosingBrackets doesn't work well when cursor in `<...>`

[2015-12-06 07:47] Andr3sfc opened #1049 "Can't save file in another HDD partition"
Simply trying to save a file to D:\ raises the following error:

EPERM: operation not permitted, mkdir 'd:\'

[2015-12-06 08:38] khagesh commented on #156
I am sorry for not replying earlier. I have checked console tab as well, there is no message/error printed. I  checked it on my colleague's machine as well and he is also having same issue.
This happens only for .ts and .tsx files, I downloaded latest version today as well and it had same issue.
Please let me know, if there is anything that I can do to help you.

[2015-12-06 11:00] rogierlommers commented on #1022
@ClockworkPirate thanks! Strange why it's not working here. I'll give it another try... will keep thread posted.

[2015-12-06 11:42] altano commented on #909
@dbaeumer Is there a working example anywhere that works with a continuous watching build script?  I just can't get this to work.

[2015-12-06 12:17] Tyriar commented on #1049
Looks like a duplicate of https://github.com/Microsoft/vscode/issues/379, should be fixed in the next version.

[2015-12-06 12:33] bnhovde opened #1050 "autocomplete & emmett not working when in Multi-cursor mode?"
Not sure if this is by design, but for example, when editing markup with Multi-cursor enabled I cannot get autocomplete to work.

To recreate:
Add multiple cursors, type "div" and hit tab.

[2015-12-06 12:39] SteveALee commented on #1028
Good point  - I'll add to https://github.com/Microsoft/vscode/issues/1028
For some reason this comment is not appearing there

Steve Lee
OpenDirective http://opendirective.com

On 5 December 2015 at 23:36, Angel Leon <notifications@github.com> wrote:

[2015-12-06 13:33] SteveALee commented on #1028
So I set up a new task and commented out all the others (the docs dont say this but it seems what is needed). There **is** a good reason I'm using bash but even so other commands can have similar options. The `ls -a' is just something easy to test. The point is the arg is the switch -`c` followed by a quoted value string with spaces in it.

<pre>
{
	"version": "0.1.0",
	"command": "C:\\Program Fil

[2015-12-06 14:00] romu70 commented on #1019
Works great @1dot75cm , thanks a lot!

[2015-12-06 14:38] TurkeyMan commented on #1037
Awesome, thanks for the headsup.

[2015-12-06 16:02] EthraZa commented on #835
I tryed.
I have typings/extjs/ExtJS.d.ts.
I have created a jsconfig.json at root level of my Sencha ExtJS 6 project folder:
[code]

When I open any js file I just get a popdown Warning saying:
[code]
And no IntelliSense.

I have another web project that is not a Sencha MVC project, but uses ExtJS 4 on js files. In this project I get no warnings, but I get no IntelliSense as well.

[2015-12-06 17:23] wolfspider commented on #395
@rhires Alright mang, I wrote a simple socket tester with the internals of DTH you can find here:

https://github.com/wolfspider/ConsoleSocketTest

It *does* fail to bind so we can rule out the build weirdness. Here is my console output from this little experiment:

Jesses-MacBook-Pro:ConsoleApplication jessebennett$ cd '/Users/jessebennett/Documents/vnext/yeoman/ConsoleApplication' ; /Users/jesse

[2015-12-06 17:23] danielschmitz commented on #981
Let me suggest a simple example to implementation  (tasks.json) ....

[code]

AND CTRL+SHIFT+B:

[code]

[2015-12-06 17:24] danielschmitz commented on #966
Let me suggest a simple example to implementation  (tasks.json) ....

[code]

AND CTRL+SHIFT+B:

[code]

[2015-12-06 17:39] usagi commented on #981
Hi, I need the feature too :+1: But, priority is low. Because, we can multiple command with the trick: http://qiita.com/usagi/items/5a0f4edc99420173abb3 ( Sorry, its wrote in Japanese. )

The abstract of the trick are:

- Use the top-level command to `sh` or `cmd.exe` or `powershell.exe` or any other common shell program.
- Set the top-level args to `-c` ( with `sh`) or `/c` ( with `cmd.exe` ) or

[2015-12-06 17:47] usagi commented on #966
// Note: Related #981

[2015-12-06 17:47] danielschmitz commented on #981
Nice @usagi , this is my solution:

[code]
you can shortcut too

[code]

when i hit ctrl+shift+b, subtasks show up:

![05](https://cloud.githubusercontent.com/assets/1509692/11614653/3edac0ea-9c30-11e5-985c-ff3594364d24.png)

Bonus:

you can define your own shortcut:

[code]

[2015-12-06 18:52] mohsen1 opened #1052 "Incorrect error in TypeScript code"
I'm using version df352367df2efcfa9d602d471e4e2f42140a0f05

For this code I get an incorrect error.

[code]
TypeScript compiler does not complain for this code but VSCode throws this error:

<img width="1199" alt="cap" src="https://cloud.githubusercontent.com/assets/543633/11614942/575d0dae-9c07-11e5-8caf-7dd6da702b20.png">

[2015-12-06 18:56] mohsen1 commented on #1052
I thought I should share this knowledge with you as well. Taking an screenshot from the hover popup was impossible with the regular <b><code>⌘+⇧+4</code></b> key combination won't work since pressing those keys will make the popup disappear. I found out I can schedule a screenshot using `screenshot` command with `-T` flag in OSX:

[code]

[2015-12-06 18:58] Andr3sfc commented on #1049
Seems like it. So I'm closing this issue. Thanks.

[2015-12-06 18:58] #1049 closed

[2015-12-06 20:13] dschnare opened #1053 "tsconfig/jsconfig exclude doesn't work with '.' directories"
Hello,

I've been using Visual Studo Code for quite some time and love the tsconfig and jsconfig concept, however I've found that when specifying a folder such as ".meteor" in the exclude array the IDE/editor still traverses the ".meteor" directory. I would expect it not to.

[2015-12-06 22:09] RWeigelt commented on #989
+1; opening markdown files by clicking a (relative) link in the preview would be a very powerful feature both for *writing* developer documentation (split into individual files by topic) for a project, but also for *viewing* that documentation.

[2015-12-07 00:07] nchammas commented on #287
I am having this same issue. Highlighting some Python code and hitting the quote character now replaces the text instead of quoting it. This didn't start happening until recently.

I'm running VS Code 0.10.3.

[2015-12-07 02:20] sayidzhang opened #1054 "why cannot format xml file in the latest version??????"
in the previous version, i can still format a xml file, but in the latest version, why cannot?????

[2015-12-07 02:27] BleyChen commented on #956
I have add the comment that what i want as following:
![testaaa](https://cloud.githubusercontent.com/assets/15098626/11617653/e7d586f2-9ccc-11e5-8f8c-b1cbd5dba27b.png)

[2015-12-07 02:27] david-driscoll commented on #968
Another place I was noticing there was an incosistency with TypeScript suggestions, where if I didn't have the proper capitalization, results would disappear.

I'm not sure if that should be a new issue or not.  Most atom plugins, for example `atom-typescript` and `omnisharp-atom`, also use the same fuzzy searching so their filtering behavior is very very similar to the behavior in the rest of ato

[2015-12-07 02:33] BleyChen commented on #902
@weinand  can you repro this problem?

[2015-12-07 02:53] tonyeung opened #1055 "Add delay to autosave"
I have a watch on my source files and while autosaving is great, every change triggers the rebuild process which is pretty crazy. Is it possible to have autosave wait till i stop typing(pause > configurable time) like search box debouncing.

[2015-12-07 03:39] simonyhchen opened #1056 "Support RHEL Linux platform"
Dear developers,

Since Redhat enterprise linux would be standard in the linux world.
But we cannot successful install it on RHEL5 or RHEL6.

Could your teams enhance this?

Thanks,
Simon

[2015-12-07 03:41] rakkarage commented on #931
:+1:

[2015-12-07 04:19] jeffmcaffer opened #1057 "JavaScript for loop template completion needs more context"
The JavaScript editor does not well support the common pattern of a for loop with a loop variable called 'i'.

When writing a JavaScript for loop a common pattern is
- type 'foo' and chose the for loop template
- the template comes up with the complete structure and suggests "index" as the name of the loop variable.
- 'i' is a common loop variable name.  If the user types i to replace index, the c

[2015-12-07 04:40] chrisdias commented on #60
@SteveALee You can look at the `product.json` that is installed with the Visual Studio Code product to see what we configure.

[2015-12-07 04:40] chrisdias commented on #417
@bgashler1 can you look at this?

[2015-12-07 06:57] SteveALee commented on #60
Hah, of course. Thanks.

[2015-12-07 07:19] bpasero commented on #617
@jrieken there is a test `commands.test.ts` which asserts this behavior and still fails. The test is checked in but disabled.

[code]

When the command has executed, the visibleTextEditors is still 0. When I open `CloseAllEditorsAction` in `triggerEditorActions.ts` I can make the following change to assert that indeed the promise is waiting until the editors are 0:

[code]

[2015-12-07 07:45] pascalberger commented on #691
:+1:

[2015-12-07 08:07] tarunjuneja opened #1058 "Crashing on OS X 10.8.3"
Hi,

The moment i upgraded from an older version to v0.10.1it started crashing. I can not open it anymore.

I tried downloading greater version like
- v0.10.2
- v0.10.3

But that does not work either. Please see attached file [crash info.txt](https://github.com/Microsoft/vscode/files/53608/crash.info.txt) for more information.

Thanks

[2015-12-07 08:39] Agetorp opened #1059 "Feature request: Event onWillSaveTextDocument()"
As proposed by @jrieken  in my earlier issue, #967, it would be nice if an even listener could listen to an event like this, to enable format on save and the possibility to run other commands before the save is actually done.

[2015-12-07 08:42] urbanhop opened #1060 "Is there vertical selection? Is there documentation?"
1. I am trying to select text vertical such as it is possible in Visual Studio.

2. Not finding a way to do so, I search the keyboard shortcut preference settings. No find either. So I try to search for documentation. More or less, there is none? I mean, at https://code.visualstudio.com/Docs, there is a rough overview but I cannot find an answer to this question.

Anyway, great tool even beside VS

[2015-12-07 08:53] MattiasPernhult commented on #1057
By pressing esc key it is possible to continue to use the for loop template, still it would be a nice feature.

So +1 for this.

[2015-12-07 08:56] rstat1 commented on #945
If no one else is working on this, I'll take it.

[2015-12-07 08:58] jrieken commented on #703
@yevk Can you try to exclude the jspm_packages? Due to the fact that the JS language service doesn't run full isolation we have a cap on the amount of resources we load. We exclude certain folders (like node_modules) by default but we don't filter jspm_packages. Cos of that you might run into a limit which then manifests in us not loading `test.js`

[2015-12-07 08:58] bpasero commented on #968
It is a good point that we have more places in the UI where fuzzy matching can apply and just introducing a new quick open provider for fuzzy matching file matches is not enough in that case. Given that, having a global option to enable fuzzy matching for all places (file search, goto symbol, intellisense) is probably the better option.

[2015-12-07 08:58] bpasero commented on #945
:+1:

[2015-12-07 08:59] egamma commented on #945
It isn't on the December plan #917

[2015-12-07 08:59] aeschli commented on #1030
Sublime shows the same problem, so it looks like a problem in the grammar, not our textmate engine.

[2015-12-07 09:00] be5invis commented on #945
And well to avoid some inconvenience you can add a command to show the menu temporary.

[2015-12-07 09:00] aeschli commented on #1030
This issue was moved to Microsoft/TypeScript-TmLanguage#21

[2015-12-07 09:00] #1030 closed

[2015-12-07 09:01] jrieken commented on #617
Again, that's unrelated to commands. The editor manager doesn't execute sync with the command happening but batches editor/doc changes for performance reasons

[2015-12-07 09:01] #617 closed

[2015-12-07 09:02] jrieken commented on #617
see how this is invoked: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/common/mainThreadEditors.ts#L337

[2015-12-07 09:05] jrieken commented on #965
Thanks. What is the name of the process? even better can you attach a screen shot of process explorer before it happens?

[2015-12-07 09:08] MattiasPernhult opened #1061 "Gopath in Extension Development Host"
Sometimes when opening the Extension Development Host to debug custom extensions and the active file is a golang file it will give the following error:  **"Path must be a string. Received ..."**

The call stack looks like this:
![skarmavbild 2015-12-07 kl 10 07 35](https://cloud.githubusercontent.com/assets/7289303/11623039/601d84be-9cca-11e5-8281-97b8f3d27643.png)

As I mentioned this doesn't hap

[2015-12-07 09:10] dmitsuki opened #1062 "Build release?"
Hi.

The editor did not have subword Navigation or scrolling with the keyboard. I added both of these however I can't actually figure out how to build a release build to use. How do I go about that?

[2015-12-07 09:11] rstat1 commented on #945
@egamma should I wait until January then? Or no?

[2015-12-07 09:11] jrieken commented on #395
Thanks for the insights guys. First, I'll move this to omnisharp, then we tackle it there. @wolfspider I hear there is two changes (1) IPv4, IPv6 and (2) don't wait. Is that right. Do you want to do a PR against OmniSharp?

[2015-12-07 09:11] bpasero commented on #945
@rstat1 this just means we will not work on it so feel free to do the PR.

[2015-12-07 09:12] jrieken commented on #395
This issue was moved to OmniSharp/omnisharp-roslyn#360

[2015-12-07 09:12] #395 closed

[2015-12-07 09:13] bpasero commented on #762
@lucasrivoiro ping

[2015-12-07 09:16] egamma commented on #1060
Please use ctrl+alt+down/up  (the action is called insert cursor below/above)

[2015-12-07 09:16] #1060 closed

[2015-12-07 09:16] builden opened #1063 "[js] ES6 template string can't include '/*'"
such as:
[code]

[2015-12-07 09:16] jrieken commented on #956
Yes but with care only. With the Dec15 update you can invoke this command `https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/common/extHostLanguageFeatureCommands.ts#L55` to retrieve the same list of completions the UI would show. Note, that it will recurse into your `provideCompletionItems` call so that you must guard yourself to not recurse endless.

[2015-12-07 09:16] #956 closed

[2015-12-07 09:17] kareljan opened #1064 "closing semicolon emmet expansion SCSS"
When you expand an emmet expression in .SCSS files, a semicolon is not added at the end. I search everywhere, but I can not find this in settings. So I'm filing this as a bug.

[2015-12-07 09:17] jrieken commented on #956
Duplicate of #913

[2015-12-07 09:20] egamma commented on #1063
Did you enable ES6 in the jsconfig.json?

[2015-12-07 09:22] egamma commented on #1062
Pls see: https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run-from-source

[2015-12-07 09:22] #1062 closed

[2015-12-07 09:23] builden commented on #1063
I have enabled ES6 in the jsconfig.json
![image](https://cloud.githubusercontent.com/assets/9499016/11623323/15a3154c-9d07-11e5-8c7e-5ef0fff3f669.png)
but show like this

[2015-12-07 09:24] bpasero opened #1065 "Allow to match on paths in quick open"
This enables matching on file paths once the pattern includes the platform path separator (slash on mac and linux and backslash on windows).

[2015-12-07 09:24] isidorn commented on #1038
Thanks!

[2015-12-07 09:25] #1038 closed

[2015-12-07 09:27] egamma commented on #1061
From the call stack it looks like this is vscode-go initiated.

[2015-12-07 09:27] egamma commented on #1061
This issue was moved to Microsoft/vscode-go#147

[2015-12-07 09:27] #1061 closed

[2015-12-07 09:29] egamma commented on #1063
Thanks for the clarification. This is a coloring issue.

[2015-12-07 09:31] snowiow opened #1066 "alt-gr meta key not available?"
From what I've seen in the [docs](https://code.visualstudio.com/docs/customization/keybindings) it looks like that the alt-gr meta key can't be mapped for keybindings in the package.json for a plugin. Will this be supported in the future or is there any other way? Thanks in advance.

[2015-12-07 09:31] jrieken commented on #703
More debugging insights. We only allow 750 source files per project and since we don't exclude `jspm_packages` by default we reach that limit before reaching to the deep a/b/c/d/e/f-folder. I will make `jspm_packages` be excluded by default.

[2015-12-07 09:33] Agetorp commented on #1054
duplicate of #71

There seems to be an extension to solve your problem: https://marketplace.visualstudio.com/items/DotJoshJohnson.xml

[2015-12-07 09:34] joaomoreno commented on #1017
Oh no, let me take this.

[2015-12-07 09:35] builden commented on #1041
I have enabled ES6 in the jsconfig.js
such as
![image](https://cloud.githubusercontent.com/assets/9499016/11623454/faf2543c-9d07-11e5-8274-8881d4cd8e54.png)

function test({a = 'foo', b = 'bar'}) {}
can show correct, but in this way i must trans a object param

[2015-12-07 09:42] yevk commented on #703
@jrieken
I though of that and did add both to `jsconfig.json` exclude. Still not working well.
Can you reproduce this? I will try it on another PC later to make sure it's not something local.

![image](https://cloud.githubusercontent.com/assets/1427723/11623701/504e7342-9cd7-11e5-9f73-4ee95681eb4e.png)

[2015-12-07 09:44] aeschli commented on #1063
duplicate of #133.
Verified that this is fixed now (for December release)

[2015-12-07 09:44] #1063 closed

[2015-12-07 09:46] urbanhop commented on #1060
perfect, thank you!

ctrl+alt+down/up does not do anything on my machine, maybe because of my apple keyboard (+ key remapper). anyway after remapping it to shift+alt it works.

[2015-12-07 09:46] aeschli commented on #1020
Verified that this got fixed by #133.

[2015-12-07 09:46] #1020 closed

[2015-12-07 09:46] jrieken commented on #703
yeah, I could reproduce and fixed it on master.

[2015-12-07 09:50] mduu opened #1067 "Question: Cross platform Win/VS2015 and OSX/VSCode"
Hi,

I've created a new ASP.Net 5 RC1 solution with VS2015 running on Win10. I've added portable class library and configured gulp-tasks for LESS and TypeScript. So far the project setup works/runs on VS2015. Now Then I cloned my repo on the Mac and tried starting development on the same thing using VSCode but stuck on several points. Some of them may be related to .Net Core, others to EF7 and som

[2015-12-07 09:52] aeschli commented on #1005
Note that we don't have any intellisense for href completion in HTML, so it's doesn't depend on whether the string starts with '~/'

[2015-12-07 10:03] alexandrudima commented on #94
Submitted atom/node-oniguruma#46 that addresses the slow tokenization of long strings with multi-byte characters. Until they accept the PR, I have published a forked module on npm and adopted it in 0f49124c93854f8ac44256a0d7111f74aa88446e .

Tried out the original CSS file and it now opens fine.

[2015-12-07 10:05] builden opened #1068 "Configuring an ES6 project using .d.ts files"
if i want use node.d.ts, i must add node.d.ts to files property, but files not support glob pattern, i have to add all of project files to this property

other question: just use require('path') can support IntelliSense, use import don't support

[2015-12-07 10:06] egamma commented on #95
@DelvarWorld , sorry, that you had an unhappy experience. We are about to close Issue #703. It wasn't a single issue but there were several issues behind the same symptom (and no, it wasn't a file system issue). The fix will be in the December update (pls see #917).

We are always interested in improving our documentation. Please let us know what you would like to see in the JS documentation: http

[2015-12-07 10:06] #94 closed

[2015-12-07 10:14] egamma commented on #1068
The recommendation is to have the typings folder with the .d.ts files as a peer of the jsconfig.json.

See also https://github.com/Microsoft/vscode-samples

[2015-12-07 10:14] #1068 closed

[2015-12-07 10:20] jrieken commented on #703
I understood and tackles these tasks

- [x] files are ignored when path contains `js`, like `foo/bar/js-project/far.js`
- [x] paths are ignored when path-segments start with `temp`, like `foo/bar/templateEngine.js`
- [x] problem with exclude patterns
- [ ] problem with files without ending but shebang

[2015-12-07 10:23] egamma commented on #1058
@bpasero duplicate of atom/electron#3530?

[2015-12-07 10:24] builden commented on #1068
the question is I have the typings folder and jsconfig.json
[code]

[2015-12-07 10:27] egamma commented on #1068
Did you try to put the typings folder in the same folder as the jsconfig.json. This is what I meant with 'peer' to jsconfig.json.

[2015-12-07 10:31] builden commented on #1068
my typings folder and jsconfig.json are in the project root dir

[2015-12-07 10:31] #1065 closed

[2015-12-07 10:32] bpasero commented on #1058
@egamma yes, we do not support 10.8, same as Atom.

[2015-12-07 10:33] #1058 closed

[2015-12-07 10:34] egamma commented on #1068
So it is the same layout as in the sample layout. Does the sample  https://github.com/Microsoft/vscode-samples work for you? If not what is the difference between your code and the sample?
Can you check whether this is related to #703

[2015-12-07 10:36] egamma commented on #1055
There is a delay. I think what you are looking for is a less aggressive auto save, i.e., only on focus lost?
You know that you can also turn off auto save.

[2015-12-07 10:41] builden commented on #1068
the sample project  have the same problem
win8 + 64

[2015-12-07 10:41] #1041 closed

[2015-12-07 11:29] rogierschouten commented on #901
How do other IDEs do it? Is there an efficient way to determine a subset of files to hash (e.g. with their modified timestamps)?

[2015-12-07 11:42] jacek-dargiel commented on #965
Here you go. This is moments before the crash.

![code-crash](https://cloud.githubusercontent.com/assets/6029412/11626048/ea7bc39a-9cdf-11e5-8eea-841339aff346.png)

[2015-12-07 11:49] jacek-dargiel commented on #965
And here are the details of the of the process:

The command line is: `"C:\Program Files (x86)\Microsoft VS Code\code.exe" --type=renderer --no-sandbox --lang=en-US --app-user-model-id=Microsoft.VisualStudioCode --node-integration=true --enable-pinch --device-scale-factor=1 --enable-delegated-renderer --num-raster-threads=4 --gpu-rasterization-msaa-sample-count=8 --content-image-texture-target=355

[2015-12-07 11:55] jrieken opened #1070 "Workbench services should be all in /common/ layer"
There are a few services from the workbench that don't live in common but in browser which makes them dangerous to use in the API, for instance `IQuickOpenService` service is in common, consequently is `pluginHostQuickOpen`. In effect it might mean we drag a lot of code into the ext host process and in the worst case we have css-dependencies et al in there too. So, I wonder why these services and

[2015-12-07 11:59] jrieken commented on #1070
Also these two

* vs/workbench/services/untitled/browser/untitledEditorService
* vs/workbench/browser/parts/editor/untitledEditorModel

[2015-12-07 12:01] jrieken commented on #1070
@alexandrudima fyu

[2015-12-07 12:26] bpasero commented on #1070
Yeah, its a consequence of never finishing our componentized build. Some service interfaces still point to types defined in browser land (e.g. editorInput) because eventually there is a dependency to DOM things like builder or HTMLElement.

[2015-12-07 12:55] egamma commented on #1053
Is this for both jsconfig and tsconfig? For tsconfig please file the issue against microsoft/typescript. Jsconfig attempts to be a subset and feature compatible with jsconfig.

[2015-12-07 12:56] jrieken commented on #1053
For `jsconfig` it was fixed as part of the work for #703

[2015-12-07 13:14] bpasero commented on #617
If we sell commands as a way to do more things from extensions, I think we need a way for the extension writer to synchronize on the result of invoking an action. How would an extension otherwise make sure that after invoking a command the state on the PH is in sync? E.g. I want to close all editors and then open another editor, wouldn't that collide?

[2015-12-07 13:18] start opened #1071 "Build broken on OS X"
Following the instructions in the [contribution guidelines](https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run-from-source), I received the following error when I ran `gulp watch`:

[code]

I resolved the error by:

1.  Creating the `~/proj/vscode/node_modules/gulp-tsb/lib/typescript/`folder, which was missing:

[code]

2. Copying `~/proj/vscode/out/vs/languages/typescript/co

[2015-12-07 13:32] vilic opened #1073 "Different `wrappingColumn` settings based on language mode."
For example, `0` for markdown, large enough for code.

[2015-12-07 13:38] Agetorp opened #1074 "Theme: Background color at line-numbers"
At first I thought this was a problem with the theme Solarized Dark, but it appears to be the same problem with most themes (not "Dark" or "Light").

The problem (albeit a small problem) is that when I for example paste several lines in a row, the background color at the line-numbers changes after some lines, as seen on line 1239 on the screenshot. The amount of lines needed to create show this fa

[2015-12-07 13:45] joaomoreno commented on #901
Well, that subset is exactly what you get from `git diff-index HEAD`. One solution would be to simply implement the hashing only on Windows... I'm not super happy about it though.

[2015-12-07 14:01] jrieken commented on #617
And you have found the only place in which we do that.

Everyone is invited to fix the problem we that we have with editors, the active editor, visible editors etc. For instance, the complexity comes from the workbench API not being aware of embedded editors, from `EDITOR_INPUT_CHANGED` being fired on focus lost/gain etc, from us treating the combination of one editor and one model as editor in th

[2015-12-07 14:05] sergot commented on #1071
The problem exists on other platforms too, probably due to https://github.com/jrieken/gulp-tsb/commit/e758da462e4ff2749db3b347e88252c119473a33

[2015-12-07 14:52] bpasero commented on #617
I am not sure how that is related to synchronizing UI state over to the PH side. I think you solved these problems because eventually the visible-editors number goes down to 0 when I invoke the "Close all Editors" action. Doing **anything** on the main side can eventually result in state being synchronized to the plugin host side from **any** action an extension invokes.

[2015-12-07 15:27] builden commented on #1068
I just test the samples project
MAC OSX also has this problem

[2015-12-07 15:28] dbaeumer commented on #1052
This looks like a buffer sync issue. Need to check whether tsserver 1.7.x already supports sending the content of a buffer on open which should avoid this.

@mohsen1 after closing and reopening VS Code is the error still there or does it disappear?

[2015-12-07 15:30] guillermooo commented on #1066
https://github.com/Microsoft/vscode/issues/713

[2015-12-07 15:55] rogierschouten commented on #901
Wouldn't the number of files to hash be proportional to what the user touched (typically manually)? Would it be that much of a performance issue? Over here everybody has by himself walked into this issue already so I don't think the current way is the way to go.

[2015-12-07 15:55] alexandrudima commented on #1066
pressing `AltGr+X` in all OSes results in `Ctrl+Alt+X` where X is a key code. So to map `AltGr+P` for example you would map `Ctrl+Alt+P`

[2015-12-07 15:56] b12k commented on #353
Are there any updates regarding this feature?

[2015-12-07 15:58] dbaeumer commented on #1010
@jrieken a view model property which we could at the beginning at to the end of the message.

[2015-12-07 15:58] b12k commented on #1055
Also related with: https://github.com/Microsoft/vscode/issues/353

[2015-12-07 16:00] mohsen1 commented on #1052
Closing and re-opening fixed the issue.

[2015-12-07 16:03] tonyeung commented on #1055
@egamma yes, but what i mean is more like a save when idle, where the idle period is configurable. For example, autosave is triggered 10 seconds after I stop typing.

I currently have auto save turned off, but I miss not having to worry about saving.

@b12k save on focus would also work. A combination of both would be best :D

[2015-12-07 16:04] bpasero commented on #353
Status: It is on the backlog and we do not plan to provide this feature for the next milestone (December).

[2015-12-07 16:11] dbaeumer commented on #835
@EthraZa can you please open a separate issue for the JS behavior. This is independent of the TS problem you described here.

[2015-12-07 16:20] zsombornagy opened #1076 "Ignoring some C# warnings of OmniSharp"
Hi!

I'm trying to ignore the "Unnecessary using directive." warning in my C# code (for Unity3D).
I've created an `omnisharp.json` file with this content:

[code]

Then I opened a C# file, and restarted OmniSharp (with the command palette within Code).
But it fails with this message:

[code]

I'm using VS Code Version 0.10.3, on OS X 10.11.1.

Thanks!

[2015-12-07 16:21] sergot commented on #1071
I see it fixed with https://github.com/Microsoft/vscode/commit/92cba7e9fe78c87fa10a4931657d86be66123c96 and https://github.com/Microsoft/vscode/commit/b71ce1948a88eeed6aa84d4eab46e16d49de0c0d

[2015-12-07 16:27] areijngoudt commented on #1005
Hi Martin,

Ok, I understand. But my point is that css intellesense does not work.
So my question is how to solve this.

Kind regards, Ad.

Op 7 dec. 2015 om 10:52 heeft Martin Aeschlimann <notifications@github.com>
het volgende geschreven:

Note that we don't have any intellisense for href completion in HTML, so
it's doesn't depend on whether the string starts with '~/'

—
Reply to this email dir

[2015-12-07 16:43] dmitsuki commented on #1062
Hi,

Yes I know about that page, but isnt that just how to juild and debug? I have been doing that, but how do I build a stand alone release non debug biild?

[2015-12-07 16:59] LeusMaximus opened #1077 "Message when plugins have been updated"
Hi.
Is it possible to get some message, when some installed plugins have been updated?

[2015-12-07 17:07] whwnow opened #1078 "Debug mode, the value of the variable error"
Hi~
in the function b, the paramether id is a string 'id from middleware'. but vs code tell me it's a object and equal to the second parameter.

I think the pictures is more intuitive.  beg your pardon for my English. T T

https://c.hime.io/images/L0o.png

[code]

[2015-12-07 17:16] egamma commented on #1077
Not yet, but it is high on our back log.

[2015-12-07 17:18] snowiow commented on #1066
Doesn't work for me. I tried to map the open curly to alt-gr-7. Following your tip, I mapped it to Ctrl+Alt+7, which is working, if I press that combination. But if I press alt-gr+7, it still writes 7

[2015-12-07 17:18] egamma commented on #1062
Some of the gulp tasks are minimally documented here https://github.com/Microsoft/vscode/wiki/Code-Build-Process

[2015-12-07 17:19] alexandrudima commented on #1001
**TL;DR** the file will now open, no hang, the text won't be colorized.

I looked into this for quite a while, logging all the way down to the C++ code in oniguruma, trying to find any possible mistakes or low hanging caching opportunities. The underlying problem is due to how TextMate syntaxes are specified, where a list of regular expressions must be searched for in the current string in the ord

[2015-12-07 17:19] #1001 closed

[2015-12-07 17:23] #950 closed

[2015-12-07 17:26] egamma commented on #1071
This should work now, we follow the same steps during development, pls reopen if it still doesn't work for with the latest code.

[2015-12-07 17:26] #1071 closed

[2015-12-07 18:07] bpasero commented on #968
@david-driscoll can you share an example of where intellisense did not return results when you expected them?

[2015-12-07 18:15] joaomoreno commented on #901
Sure, I'm not saying we should keep it this way :+1: Let me see what I can sketch up.

[2015-12-07 18:17] david-driscoll commented on #968
That's a very good question, I just tried to see if I could replicate the behavior I was seeing, and I was not able to get it to happen anymore.  To be fair I use vs code fairly irregularly, so it's possible it was fixed in the version I just updated too.  I'll try again tonight from my laptop, which is where I saw the issue in the first place.

[2015-12-07 18:23] bpasero commented on #968
@david-driscoll thanks. what I am trying to understand is if fuzzy matching should be applied to anywhere in the UI including intellisense, or selectively, starting with the picker. While I can see the value for the picker, I am not yet convinced for intellisense because I feel that I would never type a sub-string of a method to complete, I would always start with the first letters. And we do have

[2015-12-07 18:45] sochka opened #1080 "Wrong string interpolation parsing when string contains quotes"
Please look at the self-explaining screenshot.
![2015-12-07 2](https://cloud.githubusercontent.com/assets/822771/11636183/6d7bf95c-9d23-11e5-9456-19f2c772eeac.png)

[2015-12-07 18:51] david-driscoll commented on #968
From a "feeling" point of view I shared many of the same principles that were ingrained from VS / R#.  Then once I started dog-fooding atom building `OmniSharp` with `omnisharp-atom` I finally understood how useful it can be, it was a huge mental shift, and it's hard to shift back (not impossible mind you).

By letting fuzzy search everywhere even if you only know a few characters in the method, y

[2015-12-07 18:56] warpdesign commented on #703
@jrieken what about files that contain several dots ? like `foo.bar.dialog.js` ?

[2015-12-07 19:33] DelvarWorld commented on #95
Do you think that when coming across a blog and seeing the block of text one needs embedded in an image, the first thing a developer is going to do is scroll to the end of the blog post looking for an unlabeled, obfuscated link to an unrelated part of a codebase? If you have the ability to do, please edit the blog post (and the documentation) to show text instead of an image. I don't see the point

[2015-12-07 19:34] ttvd commented on #206
One more!

[2015-12-07 19:36] DelvarWorld commented on #95
Not sure if you're just messing with me now, since you quoted me asking where `filesGlob` is documented, and linked to a page that doesn't mention `filesGlob`, then asked me what should be added to the docs.

[2015-12-07 19:46] bgashler1 commented on #882
I definitely understand where you're coming from.  However, tthe team for Visual Studio 2015 made this decision on their own just to differentiate it from multiple legacy versions (which was causing challenges to users).  This was not a brand update or refresh; it was just to solve a problem.  We don't have that same problem, and carrying it over to VS Code isn't something our team wants to do at

[2015-12-07 19:53] bgashler1 commented on #417
@SteveALee, are you referring to the "BETA" flag that appears in the top left corner or the yellow banner below the logo?

[2015-12-07 19:57] EthraZa opened #1081 "No intellisense for typings even with jsconfig.json created"
I have **typings/extjs/ExtJS.d.ts** and **jsconfig.json** at root level of my Sencha ExtJS 6 project folder:
[code]

When I open any js file I just get a popdown Warning saying:
[code]
And no IntelliSense.

I have another web project that is not a Sencha MVC project, but uses ExtJS 4 on js files. In this project I get no warnings, but I get no IntelliSense as well.

[2015-12-07 20:00] EthraZa commented on #835
Done #1081

[2015-12-07 20:00] gregvanl opened #1082 "Show Installed Extensions empty if two extensions with the same name"
This issue came  up with looking into changing an extension publisher (sean's spell checker).  If you change the publisher to the MS account (seanmcbreen -> ms-vscode), the user will end up with two extensions under .vscode\extensions which have the same name "Spell" but different publishers and versions.
Extensions: Install Extensions shows that lower version installed with the Remove X available

[2015-12-07 20:02] gregvanl commented on #1082
To reproduce the issue, I installed Sean's spell checker (version 0.4.1) and then made a copy under a new ms-vscode folder and updated the version (0.4.2) and publisher in the package.json.

[2015-12-07 20:04] gregvanl commented on #1082
I was testing this on release version 0.10.3.  I haven't tried this with a nightly build.

[2015-12-07 20:21] felixfbecker commented on #882
@bgashler1 thanks for the explanation.

[2015-12-07 20:46] thibault1907 opened #1083 "error while processing request ' _request ' (exception exception )"
This is the error that comes up when i try to launch my first program. What does this mean? Any solutions? is this well coded? are there many mistakes? please help me. i am just learning to code :)

username = raw_input("username?")
age = raw_input("age?")
if age == [1,17]:
	print "you are too young"
else:
	print "welcome", username "we are happy to have you here"

time.sleep(3)

while true:
	impo

[2015-12-07 20:47] thibault1907 commented on #1083
oh the little drawings are suposed to form dices :)

[2015-12-07 20:48] thibault1907 commented on #1083
and i see copy pasting is not a great idea :)

[2015-12-07 21:22] egamma commented on #1083
You are using Visual Studio Code and are creating a launch configuration?

[2015-12-07 21:37] hashhar commented on #1019
I have an issue related to this, rather an extra step you could take help automate stuff.

I was trying to write a Python installation script which will download the latest release, unzip it, make symlinks, copy a VSCode.desktop I have written ([here](https://github.com/hashhar/vscode/tree/hashhar-desktop/resources/linux) for my project) into /usr/share/applications to register a launcher into Uni

[2015-12-07 21:38] hashhar opened #1084 "No permalink to latest VSCode distributable"
**I basically need a permalink to the latest VSCode distributable.**

I was trying to write a Python installation script which will download the latest release, unzip it, make symlinks, copy a VSCode.desktop I have written ([here](https://github.com/hashhar/vscode/tree/hashhar-desktop/resources/linux) as a fork of VSCode) into /usr/share/applications to register a launcher into Unity and GNOME.

I

[2015-12-07 21:45] egamma commented on #1082
This is by design. The market place identifies an extension by the pair publisher.extension name. We show the publisher in the list of extensions so you can distinguish the extension.

[2015-12-07 22:06] egamma commented on #1084
@joaomoreno, @bgashler1?

[2015-12-07 22:19] Tyriar commented on #1056
Does extracting the [zip](https://code.visualstudio.com/) and running `Code` not work? Do you get an error message?

[2015-12-07 22:34] alexandrudima commented on #1066
@snowiow I'm not sure I understand the problem? Can you please share the keybinding rule or your use-case?

[2015-12-07 22:34] egamma commented on #95
No messing around, but I was wondering whether 1) you have found the page I mentioned and 2) whether you have read the page. I'm interested since in the doc it is mentioned that:

The tsconfig.json does not support `filesGlob`, so neither does the jsconfig.json. `filesGlob` is an [Atom-typescript specific extension ](https://github.com/TypeStrong/atom-typescript/blob/master/docs/tsconfig.md), Apol

[2015-12-07 22:47] hashhar commented on #1084
And would any of you be kind enough to review the [python script](https://github.com/hashhar/vscode/blob/hashhar-desktop/resources/linux/install.py) and tell me if it is a feasible way to distribute the package. PS: I have tested it by hardcoding the Linux-x64 download link and it seems to go without a hitch on Ubuntu GNOME 15.10, Kali Linux 2.0 and Mint.

[2015-12-07 22:49] SteveALee commented on #417
@bgashler1 Yes I am.

[2015-12-07 22:50] TheColorRed opened #1086 "Colorize files/folders based on .gitignore"
It would be nice if the files/folders text was colorized within the file tree based on the `.gitignore` files.

For example:

    Blue  = File Updated
    Green = File Added
    Gray  = File Ignored

Here is an example that shows added files and ignored files:

![git file highlight](https://cloud.githubusercontent.com/assets/1571806/11642352/0ffe4d7c-9d03-11e5-900d-5e8b1d61d010.jpg)

[2015-12-07 22:50] egamma commented on #1074
Duplicate of #841 that is fixed in the latest.

[2015-12-07 22:50] #1074 closed

[2015-12-07 22:54] egamma commented on #1050
The current emmet implementation does not support multiple cursors.

[2015-12-07 23:14] jskrepnek commented on #845
:+1: and if someone has discovered a work around, please share.

[2015-12-07 23:19] bgashler1 opened #1087 "Add "Beta" flag to mobile site"
#417 has been resolved but, it brought up a good point that we don't have the beta banner on the mobile site.

[2015-12-07 23:24] osjn commented on #670
__Please add this feature quickly, I think it's a basic feature, thank you guys.__

[2015-12-07 23:24] bgashler1 commented on #1019
@hashhar here are the **static links** that always point to the latest VS Code distribution.  We are also going to add these links to download confirmation pages so people can restart their downloads if they don't automatically start.

osx: http://go.microsoft.com/fwlink/?LinkID=620882
win: http://go.microsoft.com/fwlink/?LinkID=623230
linux64: http://go.microsoft.com/fwlink/?LinkID=620884
linux32

[2015-12-07 23:27] bgashler1 commented on #1084
@hashhar here are the **static links** that always point to the latest VS Code distribution.  We are also going to add these links to download confirmation pages so people can restart their downloads if they don't automatically start (see #1019 ).

osx: http://go.microsoft.com/fwlink/?LinkID=620882
win: http://go.microsoft.com/fwlink/?LinkID=623230
linux64: http://go.microsoft.com/fwlink/?LinkID=6

[2015-12-07 23:27] #1084 closed

[2015-12-07 23:28] osjn commented on #663
**Please add this feature quickly, I think it's a basic feature, thank you guys.**

[2015-12-08 00:10] osjn commented on #660
please add this feature quickly, it is a basic feature.

[2015-12-08 00:36] hashhar commented on #1084
Thanks a lot. I can now get back to finishing the installation scripts.

[2015-12-08 01:22] rstat1 commented on #945
So pull request #1090 is my attempt at adding this feature, please take a look and feel free to yell at me if I did it wrong :P

[2015-12-08 02:49] BleyChen commented on #903
It throw “source is not available” error when I imported “http” module and use one API in my code ,do you know what’s the problem?

Code : set breakpoint on line 52 in extension.ts for below code.
                      http.request('http://www.google.com', function(response) {
                            console.log(response.statusMessage)    });
plugin sample code(http://mediasvc1nxn1n47jdwb5.blo

[2015-12-08 02:59] dhirschfeld commented on #869
Can an option be added to exclude everything in the `.gitignore`?

[2015-12-08 03:05] korol8883 opened #1091 "// Place your settings in this file to overwrite the default settings {"javascript.validate.lint.tripleSlashReferenceAlike": "warni //""editor.wrappingColumn": 300"

[2015-12-08 06:18] snowiow commented on #1066
Sure I Have got something like this in the plugin's package.json
[code]
Then in the extension.ts I register this command to a handler  method
[code]

[2015-12-08 06:21] bpasero commented on #869
Using negated glob patterns with "!" is currently not supported.

[2015-12-08 06:52] Thaina commented on #1016
Duplicated maybe?

https://github.com/Microsoft/vscode/issues/571

[2015-12-08 07:07] jonnyguo1988 opened #1093 "[c#] wrong colorization for unsafe code pointer"
![pointer](https://cloud.githubusercontent.com/assets/14086700/11649742/220b860a-9dbd-11e5-8e6d-bedd2c3a98f6.png)

hi
please see the attachment, I'm writing unsafe code in c#, but the color for the parameters of pointers is wired, I think this should be a bug.

Thank you

[2015-12-08 07:09] bpasero opened #1094 "Mac: TypeScript language service fails"
I think since the update to 1.7 the language service stops working for me quickly. The ts server is still running but no smartness comes from the editor. Is there a way to enable diagnostics to find out what is happening?

[2015-12-08 07:20] isidorn commented on #1078
In the call stack pane what is the focussed stack frame? The console always evaluates against the `top stack frame`, while the hover and the watch expression evaluate against the `focussed stack frame` - the one you choose.
I would guess that you have selected a different stack frame thus the difference in evaluation

[2015-12-08 07:42] egamma opened #1095 "Failed to install an extension with EPERM exception (operation not permitted, write)"
This seems to happen on Windows only using Commit 942e9b and could be reproduced on multiple machines.

- wanted to install tslint
- checked whether it was already installed ant tslint didn't show up
- selecting tslint from `install extension`
-> EENOPERM exception

[2015-12-08 07:56] egamma commented on #1095
Please change the file back to zip :smile:

![eg2tslint](https://cloud.githubusercontent.com/assets/172399/11650457/947df012-9d89-11e5-8aff-7a0a1d73b396.gif)

[2015-12-08 08:12] egamma opened #1096 "December Test Plan"
The test plan for the December iteration plan #917.

### Debug - long text wraps in repl
- [x] win @alexandrudima
- [x] mac @jrieken
- [ ] linux @SofianHn

Verify that long text now nicely wraps across multiple lines in the debug repl both for evaluation requests and for output text.

### Debug - breakpoint state
- [ ] win @alexandrudima
- [x] mac @jrieken
- [x] linux @aeschli

We have changed bre

[2015-12-08 08:28] aeschli commented on #1005
@areijngoudt Maybe I misunderstood what you meant with 'css intellisense'. Is it about completing the href in a link tag, or is it about completing css rules inside html. Can you give a more compete example code and write what completions you expect? A screenshot would be great.

[2015-12-08 08:34] egamma commented on #1091
What is the issue? What is the expected behaviour?

[2015-12-08 08:42] egamma commented on #1043
Not as simple as it should be, but you can select a file in the root folder and then use the `new folder` action from the toolbar.

[2015-12-08 08:44] Tyriar commented on #1043
This is specifically about a root folder that containing only folders, I imagine it's a pretty common use case to open a folder containing many git repositories but no files.

[2015-12-08 08:47] egamma commented on #1027
@alexandrudima what is your opinion?

[2015-12-08 08:58] jrieken commented on #703
I see that working fine @warpdesign

[2015-12-08 09:02] jrieken opened #1097 "Update editor mode while changing buffer"
Have a file without ending but this first line

[code]

it should be associated to JavaScript.

[2015-12-08 09:02] jrieken commented on #1097
@bpasero This is still the old world, no clue that's the API are?

[2015-12-08 09:03] jrieken commented on #1097
This relates to #703 which must also know this during FS eventing phase.

[2015-12-08 09:06] jrieken commented on #703
Closing, the remaining work wrt to shebang and files with an extension will be tackled in #1097.

[2015-12-08 09:06] #703 closed

[2015-12-08 09:09] bpasero commented on #1097
Cannot reproduce:

![image](https://cloud.githubusercontent.com/assets/900690/11651791/b728141c-9d93-11e5-99b2-424137d4bcc3.png)

[2015-12-08 09:14] aeschli commented on #1093
Same problem with Atom (languages-csharp 0.11.0)
![image](https://cloud.githubusercontent.com/assets/6461412/11651856/421d3ea8-9d94-11e5-8836-0dc91a5717ce.png)

[2015-12-08 09:15] jrieken commented on #1081
There an issue with `exclude` properties not being honoured property. It got fixed with the work on #703

[2015-12-08 09:15] #1081 closed

[2015-12-08 09:16] aeschli commented on #1093
This issue was moved to atom/language-csharp#46

[2015-12-08 09:17] alexandrudima commented on #1027
IMHO not rendering the last line number would be confusing, both for users and extension authors, as the last line can be interacted with (e.g. an extension can create edits on it, asking for line count at the API level would return it).

@glen-84 I really like the brief technical explanation from POSIX, but then if I understand correctly:
[code]

Perhaps the intent of the issue is that the editor

[2015-12-08 09:18] jrieken commented on #965
It seems like a worker in going crazy and is able to bring down the system. Soon, we will move the JavaScript language service out of process which will make this issue go away. Also, there was a problem with exclude-rules not being honoured. That got fixed with #703.

[2015-12-08 09:18] aeschli commented on #1080
Duplicate of #133.
Fix will be in the End of December release.

[2015-12-08 09:18] #1080 closed

[2015-12-08 09:19] aeschli commented on #1054
duplicate of #71

[2015-12-08 09:19] #1054 closed

[2015-12-08 09:21] egamma commented on #1043
(closed by accident, sorry)

Thanks for the additional info:

[2015-12-08 09:25] jrieken opened #1098 "Cmd+O proposes wrong folder"
* be on mac
* git cmd+o
* > it open with the folder that you have opened last (like, `~/dev/vscode`) which is never a good choice because why would I open the folder which I opened last again? Instead it should open the folder from which I have opened the last folder (the parent of the current folder, `~/dev/`)

[2015-12-08 09:31] bpasero commented on #1098
Yeah I messed with this during the sprint...

[2015-12-08 09:32] bpasero commented on #1097
The thing that does not work (yet) is updating the editor live or during the session. So currently you need a reload or pick the mode from the mode picker.

[2015-12-08 09:37] alexandrudima commented on #1066
@snowiow Thank you for clarifying. I know this is currently the only way to do anything with keys from an extension, but the keybindings rules are a pretty bad way to do character input. The reason is that the keybinding rules are interpreted on browser event `keydown` where we're only receiving key codes and not characters. (See #713 for an explanation of how you cannot really support different k

[2015-12-08 09:37] jrieken commented on #1097
yeah, that's what I saw

[2015-12-08 09:38] stevencl commented on #1044
Thanks for the suggestion. It's on our UX backlog and is something we would like to work on at some point in the near future.

[2015-12-08 09:47] dbaeumer commented on #909
@altano while coming up with an example I discovered a bug when the watching task doesn't ignore documents open in the editor and I am pretty sure you are hit by this I fixed the bug and a fix will be available in the next update. A full example for a watching task using the tsc compiler looks like this

[code]

[2015-12-08 09:48] #909 closed

[2015-12-08 09:53] alexandrudima commented on #903
@BleyChen
Here are the nodejs docs corresponding to the nodejs version inside VSCode 0.10.3:
https://nodejs.org/docs/v4.1.1/api/

I think you might want to use [`http.get`](https://nodejs.org/docs/v4.1.1/api/http.html#http_http_get_options_callback) which accepts a string as the first argument. `http.request` accepts a literal with options as the first argument.

You might also want to change in y

[2015-12-08 10:04] glen-84 commented on #1027
I can agree that some users would need to adjust to the change, because they may not be used to it. However, I still feel that it is the correct interpretation, as a line is defined as a series of non-newline characters followed by a newline character, which means that "row" 4 is not a line as defined, but merely a UI affordance (an area that can be focused in order to enter new lines of text).

A

[2015-12-08 10:05] havenchyk opened #1099 "`question` How auto-updates working with electron"
Hi, it's a question about build process. I can't find in sources the correct place where auto-update implemented. Do you use Squirrel for it?

Sorry if it's not a good place to ask.

[2015-12-08 10:14] egamma commented on #1099
We use squirrel for the mac auto update and Inno on Windows (see http://blogs.msdn.com/b/vscode/archive/2015/09/11/updated-windows-installer-for-vs-code.aspx)

[2015-12-08 10:14] #1099 closed

[2015-12-08 10:21] havenchyk commented on #1099
@egamma thanks!

[2015-12-08 10:39] bpasero commented on #1097
ok, fair (known) issue

[2015-12-08 10:45] dbaeumer commented on #1094
- Set the env variable TSS_DEBUG to an available port number.
- start VSCode

I do have tracing options in the TS extension but they can't be activated anymore since the Debug Console doesn't understand require. I will look into making this available via an env as well.

[2015-12-08 10:45] dbaeumer commented on #1094
@bpasero when you see it, please drag me in so that we can debug it.

[2015-12-08 10:49] dbaeumer opened #1100 "Allow setting TSServer trace via env variable"

[2015-12-08 10:51] #1100 closed

[2015-12-08 10:55] dbaeumer commented on #1094
@bpasero I added support to enable tracing via env as well (see #1100). With a latest build set the env TSS_TRACE to true and start code. Open the developer tools and you should see output like:

[code]

[2015-12-08 11:04] dbaeumer commented on #1003
There is not to much I can do in TS land since the tsserver gets ask for code completion and provides the proper items. @joaomoreno I assign to you since it is more a code complete request issue.

[2015-12-08 11:12] dbaeumer commented on #1032
@claycephas  we don't do anything special with the tsconfig.json file and I wasn't able to reproduce this. Can you please use the handle tool from sysinternals (https://technet.microsoft.com/en-us/sysinternals/bb896655.aspx) to see who is locking the file in your case?

[2015-12-08 11:13] dbaeumer commented on #856
@kojoru yes, PR are always welcome.

[2015-12-08 11:15] dbaeumer commented on #1013
This issue was moved to Microsoft/TypeScript-TmLanguage#22

[2015-12-08 11:15] #1013 closed

[2015-12-08 11:17] dbaeumer commented on #974
@Wosi can you pleae attach a screen shot showing the output viewlet (e.g.Ctrl+Shift+U)

[2015-12-08 11:22] dbaeumer commented on #598
@sashaburchuk can you run tsc --version to see which version you are actually using ^1.6.2 will for example install the current 1.7.3 version

[2015-12-08 11:24] dbaeumer commented on #768
Yes duplicates #818

[2015-12-08 11:24] #768 closed

[2015-12-08 11:26] egamma commented on #1016
Thanks, yes closing as a duplicate of #571

[2015-12-08 11:26] #1016 closed

[2015-12-08 11:28] dbaeumer commented on #922
Can't reproduce on the latest which will use TS 1.7.3. Closing for now.

@heroboy please check with the next update which is planned for end of this year.

[2015-12-08 11:28] #922 closed

[2015-12-08 11:28] egamma commented on #670
@osjn thanks for helping us with the prioritization by commenting. An even better way to help us would be a Pull Request with an implementation.

[2015-12-08 11:32] Wosi commented on #974
![vscodeproblemmatcherencodingissueoutput](https://cloud.githubusercontent.com/assets/3448684/11654650/b201120e-9da7-11e5-9747-5005ffe1124f.png)

[2015-12-08 11:38] #503 closed

[2015-12-08 11:41] #1052 closed

[2015-12-08 11:43] dbaeumer commented on #974
@Wosi thanks

[2015-12-08 12:01] egamma commented on #1068
@builden cannot reproduce.

git clone the samples
npm install
replace the jsconfig.json with the one you have provided above

and I'm getting Intellisense.

![1068](https://cloud.githubusercontent.com/assets/172399/11655162/bd9d1352-9dab-11e5-9119-d02a9410f909.png)

[2015-12-08 12:09] felixfbecker commented on #981
This is very important. Say I want a test command and a build command. The test command needs to run `mocha` and the build command `babel` or `tsc` for example. `"command"` should be allowed for individual tasks in the tasks array.

Nice workaround though!

[2015-12-08 12:28] #1098 closed

[2015-12-08 12:29] bpasero commented on #1098
There is no right or wrong here btw, I am sure we can find users that don't like the behavior after my change.

[2015-12-08 12:38] builden commented on #1068
I already knew why i have this problem, because I had set global setting.json like this
![image](https://cloud.githubusercontent.com/assets/9499016/11655645/5038c2ea-9dea-11e5-9af3-e7ae77571361.png)

I just don't want to typings dir show at the files tree, and i did not set search.exclude property.

another question:  IntelliSense not support ES6 import, like this:
![image](https://cloud.githubuse

[2015-12-08 12:44] BrunnerLivio opened #1103 "Cant display Images with *.JPG"
If you want to open an Image *.jpg in the editor, it shows you a preview. But with the ending *.JPG it doesnt.

I'm using Version 0.10.3

[2015-12-08 12:46] felixfbecker opened #1104 "Add variable to tasks.json for filename without extension"
Like `${fileBasename}`, but without the extension. Use case is I want to write a task configuration to run JUnit tests in Java (besides other tasks). My tasks.json:

[code]

(I'm using the workaround described in #981, but this is unrelated)
The task is supposed to run JUnit test for the currently opened file. The problem is, JUnit expects a class name, not a file name. So instead of MyTest.java I

[2015-12-08 12:55] simonech commented on #155
Will this be in Dec 2015 milestone?

[2015-12-08 13:04] jrieken commented on #1068
[code]

isn't well formed ES6 code. Those two options you have
1. `import * as path from 'path'` to import all
2. `import {join} from 'path'` to import only certain symbols

[2015-12-08 13:06] usagi commented on #981
@felixfbecker It's nice follow-up :+1: We can use `"windows"`, `"linux"`, and `"osx"` for cross-platform portability.

[2015-12-08 13:16] builden commented on #1068
Tks, those two options work well

but I have see many other open source use this style,
such as:
import React from 'react'

I never find import * as React from 'react'

[2015-12-08 13:44] jrieken commented on #1068
For sure a pattern that established before ES6 was finalised. Use this as reference: http://www.2ality.com/2014/09/es6-modules-final.html

[2015-12-08 14:35] builden commented on #1068
get it, tks for you reply

[2015-12-08 14:43] tonyeung commented on #1055
@b12k  found an interesting line of code:

https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/common/options.ts#L43

	/**
	 * A number indicating the auto save delay in ms. A time of -1 indicates that
	 * auto save indicates that auto save is turned off completly.
	 */
	autoSaveDelay?: number;

[2015-12-08 15:03] TheColorRed commented on #869
`.gitignore` will only hide the items from a commit, not hide them within the Editor

[2015-12-08 15:29] simonyhchen commented on #1056
Dear friend,

I just unzip the VSCode and ran on RHEL6.7.
It shows:

./Code: /usr/lib64/libstdc++.so.6: version `GLIBCXX_3.4.15' not found (required by ./Code)
./Code: /lib64/libc.so.6: version `GLIBC_2.14' not found (required by ./Code)
./Code: /usr/lib64/libstdc++.so.6: version `GLIBCXX_3.4.15' not found (required by /home/simonyhchen/Downloads/VSCode-linux-x64/libnode.so)
./Code: /lib64/libc.so

[2015-12-08 15:40] #226 closed

[2015-12-08 15:41] isidorn commented on #937
Closing for now since there is not enough info.
Once provided will reopen.

[2015-12-08 15:42] isidorn commented on #934
Ben you wanna take this over, if not assign back.

[2015-12-08 15:43] Tyriar commented on #1056
Looks like code is assuming glibc 2.14 is present. I'm not too familiar with RHEL, you can try use `yum` to install the correct version, `yum install glibc` (or something)?

[2015-12-08 16:17] daviwil opened #1105 "Provide an option to hide the activity bar"
I'd like to be able to hide the workspace button bar on the left side of the window to gain some more screen real estate and have a more text-focused experience.  Users of Sublime Text and Atom may also be interested in this setting.

cc @guillermooo

[2015-12-08 16:24] EthraZa commented on #1081
I see. I understand it is two distinct issues so.
1- Is too many files to deal with because ignore is being... ignored.
2- Is no IntelliSense even in small projects where ignore can be ignored. (What makes me create this issue)

[2015-12-08 16:32] bpasero commented on #1103
This was fixed

[2015-12-08 16:32] #1103 closed

[2015-12-08 16:33] rpanjwani opened #1106 "Changes can get lost when application crashes with dirty files open"
VS Code froze and I lost all my changes.

[2015-12-08 16:39] jrieken commented on #1081
1. We cannot handle large amount of files in web workers - Will be fixed by adopting project Salsa asap Microsoft/TypeScript#4789
2. Failing to handle the `exclude`-property correctly leads to large project (node_modules et al). That is fixed in master (#703)

[2015-12-08 16:51] jacdavis commented on #937
1) Manually creating the configuration does not work
2) There is nothing in the console.

[2015-12-08 16:57] bpasero commented on #1094
Thanks, lets check tomorrow.

[2015-12-08 16:59] bpasero commented on #934
@jcward since we do support ANSI coloring in other places, I think the output you send might not be UTF 8 and thus we fail to understand the escape sequences. I am closing this one optimistically.

[2015-12-08 16:59] #934 closed

[2015-12-08 17:01] bpasero commented on #1105
@daviwil you can hide it already from the View menu or do you mean a permanent option? How would you then be using search, git, debug etc?

[2015-12-08 17:45] areijngoudt commented on #1005
Hi Martin,

Sorry, have no screenshot available right now.

What I mean is that when in an .html file I type class='btn btn-' I don't
get auto complete suggestions. And when I press Ctrl+.  a popup appears
saying something like No symbols found.

Best regards, Ad.

Op 8 dec. 2015 om 09:28 heeft Martin Aeschlimann <notifications@github.com>
het volgende geschreven:

@areijngoudt <https://github.com

[2015-12-08 17:49] #348 closed

[2015-12-08 17:52] sashaburchuk commented on #598
@dbaeumer I'm using 1.7.3 now, and the issue seems to be resolved with this version of Typescript.

[2015-12-08 18:01] gregvanl commented on #1082
Sorry, I wasn't clearer about the issue.  The problem is that having two extensions with the same name but different publishers (such as would occur if someone takes ownership of an extension or moves to a shared publisher account such as ms-vscode) breaks the Extension: Show Installed Extensions dropdown.
![broken show installed](https://cloud.githubusercontent.com/assets/12818376/11663719/9c03de

[2015-12-08 18:31] daviwil commented on #1105
I was actually referring to the workspace buttons themselves:

![image](https://cloud.githubusercontent.com/assets/79405/11664450/b3a00900-9d96-11e5-8004-f3e265c80367.png)

Sorry for not being more clear!  If they're not visible I'd just use key combinations to navigate to them.

[2015-12-08 18:33] felixfbecker commented on #1104
I found a temporary workaround:
[code]

[2015-12-08 18:37] Wosi opened #1108 "How to prevent CompletionItemProvider from being executed in strings and comments?"
I'm working on an extension and have a `CompletionItemProvider`. It works good when writing code. But it's annoying when it pops up suggestions inside of strings and comments.
I don't want the suggestions to appear in that cases.

I had a look at other extensions on how they solve this problem. The TypeScript plugin has got these lines:

    function TypeScriptCompletionItemProvider(client) {

[2015-12-08 19:13] latkin opened #1109 "Code crashes if you exit the launching process"
- Start cmd
- Launch VS Code from prompt
- Close cmd

**Expected:** VS Code continue to run
**Actual:** Just before closing, cmd displays `[VS Code]: render process crashed`, and both cmd and Code exit

Screencap from right after X-ing out of cmd:

![image](https://cloud.githubusercontent.com/assets/5943573/11665470/77b729cc-9d9c-11e5-8e12-fe514497a4c7.png)

[code]

[2015-12-08 19:15] BenMagyar commented on #471
Provided symbolic link creates an additional folder under runtimes, so it still wasn't resolved. Correct (still hacky) symbolic link I believe is:

[code]

[2015-12-08 19:27] lukehoban commented on #1108
I think this is the same as https://github.com/Microsoft/vscode/issues/719?

[2015-12-08 19:34] latkin opened #1110 "Selection Highlight stops after 1000 matches"
I don't see any setting to control this, so the behavior seems unexpected/unintuitive.
- Create text file with the line `oh hai` > 1000 times
##### Scenario 1
- Single-click `hai` on line 1

Expected: All instances of `hai` are highlighted
Actual: Only the first 500 are highlighted (markers on scrollbar indicate similar)

![image](https://cloud.githubusercontent.com/assets/5943573/11665991/05ccc59

[2015-12-08 19:40] gregvanl commented on #1082
On further investigation, as long as the two extensions have different publishing metadata (as would happen if you republish with another account), the Show Installed Extensions behaves correctly.

[2015-12-08 19:40] #1082 closed

[2015-12-08 20:01] jpoon opened #1111 "Extensions: Upgrading Extensions Blows Up"
I pushed out a new version of the Vim extension, however, when upgrading it on top of the existing version, we are seeing this error: https://github.com/VSCodeVim/Vim/issues/93. Installing the new version by itself (with no previous versions of the Vim extension) works successfully.

I've been unsuccessful at getting a repro. Is there a way in which I can install a specific version from the market

[2015-12-08 20:32] mysticatea commented on #348
Thank you very much!
I'm looking forward to the next version.

[2015-12-08 20:50] DanielRosenwasser opened #1112 "Quick info gets cut off for long text"
![image](https://cloud.githubusercontent.com/assets/972891/11668098/2e672f3e-9daa-11e5-8866-7c107b7ffe5f.png)

[2015-12-08 21:38] brunolm commented on #691
:+1:

[2015-12-08 22:02] Wosi commented on #1108
@lukehoban Yes, you're right.

[2015-12-08 22:04] thibault1907 commented on #1083
As i said i am new to this so why isnt this possible? Please give me more information so i can learn how to propely run my programs. Thank you for your reply

Date: Mon, 7 Dec 2015 13:23:18 -0800
From: notifications@github.com
To: vscode@noreply.github.com
CC: thibault.magnini@hotmail.com
Subject: Re: [vscode] error while processing request ' _request ' (exception exception )  (#1083)

This is the

[2015-12-08 22:42] ardan-bkennedy opened #1113 "Explore view does not refresh on outside changes to the source tree"
I have been making changes to the source tree that is open in explore from outside the editor. It has happened twice where changes that occur outside of the editor do not show up in the explore view in the editor. It has happened twice and I wish I could reproduce it. I have to stop and restart the editor.

[2015-12-08 22:43] nicky-lenaers commented on #936
I'm experiencing the same issue, where setting a breakpoint in my compiled files makes the red dot *jump* to the line where the content is in my source files, but these lines do not match 1 to 1 (e.g. my source files contain comments, my compiled files don't).

I tried the above solution by setting ``sourceRoot`` but it didn't change anything for me.

[2015-12-08 23:38] brusMX opened #1114 "Find and replace "line break""
In other IDEs I used to simple copy a line break and paste it to the find text box. Then I could replace it with some other string.

I tried to do it with regex find using "\n" or "\r" and I had no luck either.

This is very helpful when creating db queries or csv files on the fly by replacing line breaks with strings like: '");' or whenever you detect  some char (like >) you can replace it with a

[2015-12-09 00:46] whwnow commented on #1078
http://ww1.sinaimg.cn/large/0060lm7Tgw1eyt461wk05j317d0swq8m.jpg
Hi ,here is the call stack

[2015-12-09 01:59] curtw opened #1115 "Markdown Preview Under Working Files Should be Sticky"
Add a markdown (.md) file to the Working Files section
Under Working Files, right-click on this file and select "Open Preview" (you see preview)
Select another file so that the markdown file is out of view
Under Working Files, select this file again

Actual behavior:  you see the markdown source, not the preview
Preferred behavior:  you see the preview of the markdown file

In general, it would be

[2015-12-09 02:08] liminjun opened #1116 "vscode can't open twon instance?"
I writing the fron-end code from Sublime Text3 to Visual Studio Code. But I only open one instance of vscode one times, sometimes, I should open another project at same time. Now the vscode on windows only support one intance one time?

[2015-12-09 02:58] Tyriar commented on #1114
Duplicate of https://github.com/Microsoft/vscode/issues/313

[2015-12-09 02:58] Tyriar commented on #1116
Looks like a duplicate of https://github.com/Microsoft/vscode/issues/48

[2015-12-09 03:57] chrisdias commented on #1067
This is a question that should probably be posted to Stack Overflow.  Yes, you should be able to move between VS2015 and VS Code for **ASP.NET v5** applications.  I can open your repository just fine on the Mac with VS Code.

We do not yet support debugging of C# (**ASP.NET v5**) applications in VS Code running on Mono or on the CoreCLR. This is why you are seeing problems launching the debugger.

[2015-12-09 03:57] #1067 closed

[2015-12-09 04:02] chrisdias commented on #1042
This is good feedback, thanks, and i agree it would be better to have a preview of the theme as an icon. I see that you've already created an issue in that theme repository. Other than asking genare to do this work, I don't know what else I can do to resolve this issue as it is more feedback than a task.  I'm going to close this and if you've have something specific I can do, please re-open it.

[2015-12-09 04:02] #1042 closed

[2015-12-09 04:24] freezestudio opened #1117 "Avoid 3x file size memory pressure when resolving file contents"
open a file size 96935KB error:

Visual Studio Code has crashed
We are sorry for the inconvenience! Please restart Visual Studio Code.

[2015-12-09 05:31] #1116 closed

[2015-12-09 06:40] jhealy86 opened #1118 "Javascript objects not highlighting correctly on master"
It looks like highlighting of JavaScript objects was broken on the current master. For reference, here's what it looks like on the current production build (0.10.3):

![0.10.3 JS Objects](http://i.imgur.com/UZ9XqoF.png)

And here's how it looks on master:

![Master JS Objects](http://i.imgur.com/N2ED6Fq.png)

I tried fiddling around with tokens.css a little but reverting the changes there didn't d

[2015-12-09 07:39] egamma opened #1119 "Corrupted extension in the extensions folder"
(extracted from #1095)

Some time ago I've uninstalled the tslint extension. The extension was not completely removed.
It was still in the extensions folder and consisted of empty folders only and no package.json file.

I cannot reproduce how this happened but we should recover from such incomplete extensions, so that the user doesn't have to go in manually and clean-up the extension.

On startup

[2015-12-09 07:42] egamma commented on #1114
@Tyriar thanks - closing as duplicate of #313

[2015-12-09 07:42] #1114 closed

[2015-12-09 07:45] egamma commented on #1113
You do not have to restart the editor. The explorer view has a refresh button in its tool bar for such situations.

There is still a bug in that the explorer should refresh automatically, but without reproducable steps are some hints when this happens we cannot fix this issue. Please reopen if you have more steps or context.

[2015-12-09 07:45] #1113 closed

[2015-12-09 07:51] egamma commented on #1108
yes, closing as a duplicate of #719

[2015-12-09 07:51] #1108 closed

[2015-12-09 07:52] egamma commented on #1106
Did you have auto save (File>Autosave) turned on?

[2015-12-09 08:01] #1083 closed

[2015-12-09 08:03] egamma commented on #1083
This repository is for tracking Visual Studio Code issues/bugs etc, this is the wrong place for asking such questions.

[2015-12-09 08:05] alexandrudima commented on #1117
@freezestudio Can you please share the file with us?

[2015-12-09 08:31] Arnavion opened #1120 "TAB should not indent empty lines in a multi-line selection"
1. Start with the document:

[code]

1. Select the entire text

1. Press <kbd>TAB</kbd>

Expected: The three lines with text get indented. The empty third line remains unindented.

[code]

Actual: All the four lines get indented, and I then have to manually delete the trailing whitespace from the third line.

[code]

(This is only when indenting a multi-line selection; when pressing TAB in an empt

[2015-12-09 08:34] superyyrrzz opened #1121 "Markdown Inline Formats in Headings doesn't themed correctly"
In Markdown preview, inline formats in single backticks (`) seems small sized in heading. Headings of different sizes have this problem in common.
![capture](https://cloud.githubusercontent.com/assets/3831744/11680340/70fb35aa-9e92-11e5-8eb5-53e7aaf13c15.PNG)

[2015-12-09 08:42] dimkk opened #1122 "Define Launch.json based on file type"
For single file, or, may be auto add settings based on files in project
Like:
if js - node
if ps1 - powershell

and so on

[2015-12-09 08:48] dbaeumer commented on #1119
Seems to be a dup of #31

[2015-12-09 08:50] aeschli commented on #1005
Thanks @areijngoudt, I updated the issue title

[2015-12-09 08:55] jpoon commented on #1111
Why hello @joaomoreno. In investigating this, I'd like to point out that user error is plausible :)

[2015-12-09 09:03] havenchyk commented on #1099
@egamma maybe you can also share the link to information, how code's team prepare builds for windows and mac? Are you using windows to make build for windows and mac for mac build? Maybe there is already blog post? otherwise it would be cool topic for the new article in the blog :)

[2015-12-09 09:11] egamma commented on #1099
There is no blog post yet and I have no link I can share yet, but I agree that this would be a good topic for an engineering blog post. Is your background that you would be interested in building electron apps in general or is it VS Code specific?

[2015-12-09 09:14] joaomoreno commented on #1119
Absolutely.

[2015-12-09 09:14] #1119 closed

[2015-12-09 09:14] joaomoreno commented on #155
Yes it will.

[2015-12-09 09:14] jrieken commented on #1112
duplicate of #842

[2015-12-09 09:14] #1112 closed

[2015-12-09 09:16] isidorn commented on #937
There is nothing in the console so it is probably missing file events on Centos as @bpasero suggested.
Giving to you Ben

[2015-12-09 09:18] bpasero commented on #1109
This might be fixed with future versions of Electron, I saw something...

[2015-12-09 09:19] bpasero commented on #937
@jacdavis can you run with "--verbose" and open the dev console to see file events being printed when the file is created? I suspect file events are not working. Alternatively, if the file is there does a restart show the launch configuration eventually?

[2015-12-09 09:27] BleyChen opened #1124 "whether i can add an api in vscode for my plugin?"
The plugin what I want to implement has following requirement:
     As you know, vscode will popup an completionitemlist when user type JavaScript in vscode, what my plugin want to do is show external information for each completionitem when user switch between each completionitem, but now I have not found any API can meet my requirement , so I suppose whether I can change  the vscode source to pr

[2015-12-09 09:37] aeschli commented on #1118
Yes, that's related to the change to use the TypeScript textmate grammar. The new grammar has chosen to not emmit specific tokens for object keys.
Moving as an enhancement request to the typescript grammar repo.

[2015-12-09 09:41] aeschli commented on #1118
This issue was moved to Microsoft/TypeScript-TmLanguage#23

[2015-12-09 09:41] #1118 closed

[2015-12-09 09:42] alexandrudima opened #1125 "Change defaults for tabSize, insertSpaces"
We have received a lot of feedback on twitter about how the current default values `tabSize: "auto"` and `insertSpaces: "auto"` lead to confusion.

The reason is that these values mean that the settings will be "gussed" based on the current opened file. The guessing code is limited in cases where the file does not give sufficient hints and causes surprise to end users when some files resolve to `i

[2015-12-09 09:43] alexandrudima commented on #1125
cc @egamma
related: #498

[2015-12-09 09:44] havenchyk commented on #1099
@egamma both. I'm trying to build electron app as my pet project, but I use VSCode to do it and since in the VSCode has been done great job to build and deliver this type of application, it's very interesting for me(and I believe for many other developers) to understand, how to set up this build process, I didn't find enough information in the electron's docs.

[2015-12-09 09:47] DanielRosenwasser commented on #1112
Sorry I missed that, thanks @jrieken!

[2015-12-09 09:51] #1125 closed

[2015-12-09 09:59] aeschli commented on #499
This issue was moved to textmate/coffee-script.tmbundle#8

[2015-12-09 10:00] #498 closed

[2015-12-09 10:00] aeschli commented on #399
This issue was moved to textmate/c.tmbundle#30

[2015-12-09 10:03] alexandrudima commented on #1120
:+1: I like the idea

[2015-12-09 10:07] aeschli commented on #21
The bug was that /* */ was used as VB block comment. VB doesn't support block comments

[2015-12-09 10:07] #21 closed

[2015-12-09 10:10] aeschli commented on #12
I removed the (comment ) block which seems to be standard.

[2015-12-09 10:10] #12 closed

[2015-12-09 10:11] #1120 closed

[2015-12-09 10:15] aeschli commented on #1035
That's the expected bahaviour. Codelens should only show up on the side representing the current file content.

[2015-12-09 10:15] #1035 closed

[2015-12-09 10:19] egamma commented on #1099
@havenchyk makes sense, thanks.

[2015-12-09 10:31] stevencl opened #1126 "Use horizontal layout for inspectors such as locals, watch window etc in debug mode"
When we have the ability to view panels in a horizontal layout, we should use this in debug mode to show inspectors such as locals, watch window, debug console, breakpoints etc. Pickers, such as the call stack, processes etc should remain in the vertical panel.

This does two things - it provides is with more real estate to view the values of variables and expressions and it maintains the overall

[2015-12-09 10:37] stevencl opened #1127 "Use a separate column to show the value of a variable or expression"
Add a separate column to show the value of a variable or expression to improve readability and to improve the experience of scanning a list of variables or values to find the required one.

When appropriate, we should also consider using another column to show the type of the variable or expression.

For example, this screenshot shows one extra column for the value:
![locals](https://cloud.githubu

[2015-12-09 10:41] stevencl opened #1128 "Use an expand/collapse control to control wrapping of long values in locals and watch window"
Whenever there is a value that cannot be displayed in the amount of real estate available we should use an expando control to allow the user to expand/collapse the value so that they can see the whole value. This is especially useful in the case of displaying long strings.

For example, the screenshot below shows the selectedText and this variables with an expando.
![locals](https://cloud.githubus

[2015-12-09 10:49] stevencl opened #1129 "Allow viewing up to three panels side by side in horizontal layout"
If we support horizontal layouts we should mimic the mechanism we use in the editor to view multiple panels side by side. For example, if we start out with a horizontal panel for inspectors when in debug mode like so:
![defaulthorizontalpanel](https://cloud.githubusercontent.com/assets/1704059/11683276/c52866a6-9e61-11e5-99ff-06dce36e68ab.png)
We could then support an 'Open to the side' action tha

[2015-12-09 10:53] stevencl opened #1130 "Support snippets, intellisense etc in debug console"
We should consider supporting snippets, intellisense and other rich design time experiences in the debug console so that we can provide a rich commanding experience in the console. For example, extension providers could take advantage of this so that specific debug commands can easily be exposed and discovered by users as shown in the screenshot below:
![debugconsolesnippets](https://cloud.githubu

[2015-12-09 10:57] stevencl opened #1131 "Expose exception settings in a json file"
We should consider exposing the ability for the user to specify which exceptions they want to break on when thrown or when they are unhandled. Consistent with how we manage settings throughout the product we could have a default exceptionsettings.json file that defines the default settings and a user settings file that the user can override or customise.

For example, something like the following:

[2015-12-09 11:16] codism opened #1132 "quickSuggestions auto completes numbers with decimals"
In the latest update (Version 0.10.3 (0.10.3) on Mac ), typing a number with a decimal autocompletes suggestions for other libraries in tsd.d.ts.

Example attached shows attempt to type "0.1" and "1.1"

"Power0" autocompletes with ease from tweenMax

Seems to be no way past this without removing quickSuggestions.

TSD has :
[code]
![vs-code-autocomplete](https://cloud.githubusercontent.com/assets/

[2015-12-09 11:23] stevencl opened #1133 "Improve workspace management"
We need to improve the way that the users workspace is managed. The following (non-exhaustive) list of items describes what we should do:

- [x] - When a user clicks an editor close button we should show the file that was previously opened in that editor (we could also consider showing a set of file thumbnails and allow the user to choose the file to open)
- [ ] - We should explore better ways to

[2015-12-09 11:27] stevencl opened #1134 "Intellisense UX"
We need to improve the overall Intellisense UX, including how to display documentation in suggestion lists, how to display parameter help etc.

This includes the discussion on #369

[2015-12-09 11:30] stevencl opened #1135 "Notifications UX"
We need to explore improving the way that we display warnings, errors and notifications to users. Currently we have a variety of mechanisms (info in status bar, details in quick open, error/warning dialog).

We need a consistent way that prompts the user when there are notifications/errors/warnings for them to pay attention to and a consistent affordance for the user to get a holistic view of all

[2015-12-09 11:32] stevencl opened #1136 "Commanding UX"
We need to explore ways we can provide access to commands that are global in scope. For example, the start debug icon is only visible in the debug viewlet but should be available regardless of context.

This should also handle the current UX for the likes of git checkout where we have a label in the status bar that shortcuts to the git checkout command in the command palette.

[2015-12-09 11:54] a8775 commented on #206
+1

[2015-12-09 12:01] a8775 opened #1137 "Polymer and x-tag support"
WebComponents are more and more frequently used.
Is it possible to add to Code the syntax highlighting and support for debugging?
Now the Polymer and x-tag are on the horizon.

[2015-12-09 12:07] joaomoreno commented on #1132
Yes, this is quite bad. Duplicate of #1003

[2015-12-09 12:07] #1132 closed

[2015-12-09 12:21] freezestudio commented on #1117
1.setup:NTVS 1.1 VS 2015.msi
2.update npm cache
3.file here: X:\Users\xxx\AppData\Local\Microsoft\Node.js Tools\NpmCache\all_packages.json

[2015-12-09 12:29] alexandrudima commented on #537
With 98473e0e88cecd52ba44551d512efe445b6af11e, VSCode's extension host will now call `deactivate()` if extensions export it and call `dispose()` on `ExtensionContext.subscriptions` on shutdown, then will wait 1s before

[2015-12-09 12:33] alexandrudima commented on #567
With 98473e0e88cecd52ba44551d512efe445b6af11e, VSCode's extension host will now call `deactivate()` if extensions export it and call `dispose()` on `ExtensionContext.subscriptions` on shutdown, then will wait 1s before exiting

[2015-12-09 12:33] #567 closed

[2015-12-09 12:33] alexandrudima commented on #941
With 98473e0e88cecd52ba44551d512efe445b6af11e, VSCode's extension host will now call `deactivate()` if extensions export it and call `dispose()` on `ExtensionContext.subscriptions` on shutdown, then will wait 1s before exiting

[2015-12-09 12:33] #941 closed

[2015-12-09 12:33] alexandrudima commented on #948
With 98473e0e88cecd52ba44551d512efe445b6af11e, VSCode's extension host will now call `deactivate()` if extensions export it and call `dispose()` on `ExtensionContext.subscriptions` on shutdown, then will wait 1s before exiting

[2015-12-09 12:33] #948 closed

[2015-12-09 12:51] alexandrudima commented on #1117
@freezestudio I would really appreciate if you could share the actual file (it would save me quite some time). You can zip it up and drag&drop it in a comment.

From the size (96MB) I think it is very close to our hard stop.

@bpasero Do you remember what our hard stop size is?

[2015-12-09 12:56] bpasero commented on #1117
@alexandrudima MAX_FILE_SIZE = 100 * 1024 * 1024

[2015-12-09 13:00] freezestudio commented on #1117
zip it : size:17223kb
I am sorry, Upload unsuccessful

[2015-12-09 13:04] JohnW71 commented on #185
Glad to finally find an explanation for this, been going mad wondering why my tasks all broke. Now up and running again.

[2015-12-09 13:13] freezestudio commented on #1117
![all_packages zip 002](https://cloud.githubusercontent.com/assets/5157556/11686126/6d02f52e-9eb9-11e5-8b19-157a55ec6060.png)

![all_packages zip 001](https://cloud.githubusercontent.com/assets/5157556/11686133/78239224-9eb9-11e5-93d6-5c4f8b795fa1.png)

use 7z

[2015-12-09 13:16] freezestudio commented on #1117
all_packages.zip.001.png --> zip 1  : all_packages.zip.001
all_packages.zip.oo1.png --> zip 2 : all_packages.zip.002

use 7z

[2015-12-09 13:25] halfabench commented on #465
:+1:  (just like good old vim?)

[2015-12-09 13:37] jasabalete opened #1138 "Error pushing to git remote with http"
I have configured my git remote like this:

    [remote "origin"]
	    url = http://MY-HOST.../branch-locatlocator-select-ui.git

And when i do a push show me an error:

    fatal: Authentication failed for 'http://MY-HOST.../branch-locatlocator-select-ui.git/'

Why Visual Studio Code add the final slash? :(

[2015-12-09 13:49] jamietre commented on #936
The setting `sourceRoot` is for `gulp-sourcemaps` just to be clear.If you are using gulp to transform you probably have a script that looks like this

    gulp.src("src/**/*.js")
        .pipe(sourcemaps.init())
        .pipe(sourcemaps.write()
        .pipe(gulp.dest("dist"))

.. or thereabouts, the option would be added to

        .pipe(sourcemaps.write({ sourceRoot: "../src" })

But again this

[2015-12-09 14:12] massimocode opened #1139 "Intellisense completely hosed on files with names starting with "temp""
I have a javascript node project with some TypeScript definition files inside it. My jsconfig.json is as follows:
{
	"compilerOptions": {
		"target": "ES6",
		"module": "commonjs"
	}
}

If I rename a javascript source file to temp_hello.js or even temple.js (imagine if temples were in my business domain!) then the intellisense stops working for the file (it does not pick up anything in the typescr

[2015-12-09 14:26] joaomoreno commented on #1006
@aeschli Only `overwriteBefore` and `overwriteAfter` left...!

[2015-12-09 14:29] aeschli commented on #1006
I'll work on it ASAP

[2015-12-09 14:30] alexandrudima commented on #1117
@freezestudio Thank you! Got the file! You are awesome! :sunny:

[2015-12-09 14:30] #826 closed

[2015-12-09 14:31] isidorn commented on #1131
I like this however where would this setting file live?
Why not have it top level in our launch.json, as a sibling to `"configurations"` we could have `"exceptions"`.
Putting it in a separate file has the downside of introducing one more configuration file and it would be disconnected from other debug configurations.
Another thing to tackle is how to disable / enable these exception breakpoints fr

[2015-12-09 14:33] isidorn commented on #1130
I would use our regular intelli-sense box and not introduce a new concept.
As for the particular commands each debug adapter would have to contribute the,

[2015-12-09 14:36] joaomoreno commented on #1003
@jrieken this is the one we were just talking about

[2015-12-09 14:36] isidorn commented on #1128
Nice idea - however not sure if possible with our tree which we use for showing variables.

I would not introduce this concept until users start asking for this since we currently support word wrap in repl thus there is a nice alternative to inspect long strings there. Also we have context menu actions which provide some functionality for inspecting long values.

[2015-12-09 14:39] stevencl commented on #1131
Putting it in the launch.json sounds like a good idea.

[2015-12-09 14:42] isidorn commented on #1127
:-1:  IMHO does not look good and does not fix a real problem. When using us and the chrome debugger i never have a problem of distinguishing between name and value - though that might be just me.

@weinand @bpasero opinions?

[2015-12-09 14:50] stevencl commented on #1128
Not sure I agree. We don't want the repl to be seen as a Band-Aid for functionality that is lacking elsewhere. The context menu actions aren't sufficient either. Copying the value so that it can be pasted somewhere else doesn't help when I need to inspect the same value over and over again (perhaps because I am updating the variable in a loop or whatever).

I think this is an example of some small

[2015-12-09 14:53] alexandrudima commented on #1117
@bpasero I can reproduce.

It crashes 4 out of 5 times for me on windows already here: https://github.com/Microsoft/vscode/blob/89c09866cdf3d6c9b73dbb25d9a008d3e5b2dd47/src/vs/workbench/services/files/node/fileService.ts#L427

I think we do the following:
* read the entire file in memory as a NodeBuffer (minimum 100MB)
* convert it to a string according to encoding [<--- crashes OOM]

Maybe the co

[2015-12-09 14:54] stevencl commented on #1130
I agree, this isn't a new concept. This is just reusing the same UI for intellisense, snippets etct inside the debug console. So I press Ctrl-Space and I can see a list of snippets (which as you say would be provided by the debug adapter). I start typing and I get a list of commands that match the characters I type.

It's using the great design time tools we already have to improve the experience

[2015-12-09 15:04] alexandrudima commented on #1017
Possible dup of #64

[2015-12-09 15:22] #1017 closed

[2015-12-09 15:24] #64 closed

[2015-12-09 15:47] egamma commented on #1122
@weinand fyi

[2015-12-09 15:48] egamma commented on #1121
@bpasero fyi

[2015-12-09 15:59] alexandrudima commented on #162
@eugen-v

Given this only happens on Ubuntu 15.10 when the window is maximized, but it doesn't happen when the window is almost maximized, and also not when in full-screen mode, I'm thinking it is a bug in Chromium...I have found a relevant issue on atom/atom#9724 which again hints this is a problem with Electron/Chromium.

On the Chromium side, I could find [this comment](https://code.google.com/

[2015-12-09 16:07] simonyhchen commented on #1056
Dear Daniel,

After google to upgrade glibc in RHEL5/6, we give up.
Could you porting your code by using the RHEL6(glibc2.12).
Many mature tools did this before so that both Ubunth/RHEL can share same
binary.

Regards,
Simon

2015-12-08 23:44 GMT+08:00 Daniel Imms <notifications@github.com>:

--
Simon Yi-Hung Chen

[2015-12-09 16:14] Steampunkrue opened #1140 "Backspace stops prematurely"
With the selected area, I would expect it all to be removed to the given point, but instead, it only removes the parenthesis. Happens when I tested this with both Java and Javascript.

Before backspace:
![vscode java bug1](https://cloud.githubusercontent.com/assets/12275268/11690583/5aa160d6-9e65-11e5-9fe9-d542ccade6b2.png)

After pressing backspace:
![vscode java bug2](https://cloud.githubusercon

[2015-12-09 16:15] jrieken commented on #1139
duplicate of #703. Fix will be pushed with the Dec15 release.

[2015-12-09 16:15] #1139 closed

[2015-12-09 16:16] jrieken commented on #1003
yeah, related to #752

[2015-12-09 16:17] jrieken commented on #752
Also, expose if it got triggered because of `24x7` intellisense or manually.

[2015-12-09 16:17] jrieken commented on #1006
:dancer:

[2015-12-09 16:22] weinand commented on #1131
@stevencl @isidorn Yes, we should store all **breakpoints** (not only exceptions) in the launch.json. Exceptions are just a special type of breakpoint (very similar to function-breakpoints).

[2015-12-09 16:22] #183 closed

[2015-12-09 16:23] alexandrudima commented on #183
@bobcho Thank you for reporting this :+1:

[2015-12-09 16:26] joaomoreno commented on #752
Do it and :beer:

[2015-12-09 16:28] alexandrudima commented on #194
@kristofferostlund I can reproduce the issue in 0.10.3, but on `master` this works again as expected. I am not really sure who from the team has fixed it already, but the December drop will have it fixed.

[2015-12-09 16:28] #194 closed

[2015-12-09 16:40] weinand opened #1141 "Reloading Extension Host window doesn't restart debug session"
- create TypeScript extension
- F5
- reload EH window (Cmd-R)
Observe: VSCode debugger doesn't attach to EH

BTW, an "Open file" in the EH works fine.

[2015-12-09 16:43] jcward opened #1142 "No extension installed for 'test' debugging -- in Windows only, works in Linux"
I'm developing a debugger extension that works fine in Linux (VSCode 0.10.1), but when I try to install in Windows (VSCode 0.10.3), it isn't recognized.

I've boiled down this simple test debugger in this zipfile: http://onetacoshort.com/temp/test_debug_extension.zip

In its `package.json` it contributes debugger of type `test`. It also includes a sample project with accompanying `launch.json`.

O

[2015-12-09 16:53] joaomoreno commented on #1138
Oh that's terrible, sorry for that!

[2015-12-09 16:55] Tyriar commented on #508
This seems to happen consistently every night I leave the computer running. It looks like it's unresponsive due to the CPU being maxed out. Maybe some infinite loop is somewhere, perhaps to do with file or git repo polling?

[2015-12-09 16:56] joaomoreno commented on #1138
I assume a simple `git push` from the command line works, right?

[2015-12-09 17:06] sketchpunk opened #1143 "Ability to create custom Side bar Panels"
Trying to create an FTP Extension but I need a way to be able to view the contents on the FTP server. A side bar panel would be great or at least the have access to the folder panel to create a virtual tree for the user to use for navigation.

[2015-12-09 17:08] weinand commented on #902
@BleyChen yes, I can reproduce the problem. This problem is unrelated to the imported "http" module. The debugger ended up in some internal JavaScript code for which no TypeScript source is available. Instead of trying to show the *.ts source we should show the *.js instead.

[2015-12-09 17:10] weinand commented on #902
This issue was moved to Microsoft/vscode-node-debug#21

[2015-12-09 17:10] #902 closed

[2015-12-09 17:11] Tyriar commented on #1137
Is the HTML highlighting not sufficient for Polymer HTML files? They are pretty much just regular HTML and share the same file extension.

On debugging, my personal opinion is that Polymer, x-tag and web components in general are not widespread enough to be worth the effort for first class support. React has also just emerged and seen a lot of adoption which is a method of implementing web compone

[2015-12-09 17:15] jrieken commented on #318
We are save to make this change for Dec because going forward with project salsa the default will be the latest for JS files (#Microsoft/TypeScript/6017)

[2015-12-09 17:20] Tyriar commented on #1140
Reproduced on vscode v0.10.1, ubuntu 12.04 with this JS snippet:

[code]

Looks like the code that handles the bracket matching is intercepting the backspace keypress, this should only happen when a range is not selected.

Note that this only occurs if the cursor/anchor is in between the brackets, not at the end of the return.

[2015-12-09 17:25] bpasero commented on #508
I wonder if the OS decides to put VSCode (Electron actually) into a state where it is causing this crash. I have pinged Electron if they have a clue.

[2015-12-09 17:27] weinand commented on #1142
@isidorn I could easily reproduce this but I have no idea why this behaves differently on Windows. Please investigate.

[2015-12-09 17:30] Tyriar commented on #508
Never happened on Atom fyi, at least on 1.19.x (from memory) and 1.2.4.

[2015-12-09 17:43] joaomoreno commented on #1111
Hey hey, thanks for the issue! There currently isn't a way to install a specific version, unfortunately. As for the second question, it should work! Will investigate...

[2015-12-09 17:54] jasabalete commented on #1138
Yes,  "git push" from the command línea works

[2015-12-09 17:57] waderyan opened #1144 "Keyboard Shortcut prompts"
Provide keyboard shortcut prompts.

Example, right click on file browser to create a new file. Show a popup explaining the key binding for that action.

This could be turned off / on.
Could potentially be included in the onboarding process.
This is likely a good extension, although I am not sure if the extension API would support the operations it would need.

[2015-12-09 18:23] CraigWarford opened #1145 "Closing tag for style showing in intellisense when not needed"
While typing in the properties for a style block, it keeps showing the </style> closing tag as an option, when one is already included.  Having to avoid pressing "Enter" so that the tag is not inserted again:
![image](https://cloud.githubusercontent.com/assets/2633521/11694389/7877d734-9e6f-11e5-8ed0-63fc81108a7c.png)

[2015-12-09 18:53] torarvid commented on #381
@calmh While waiting for this, there is a workaround for us OS X users, as seen on this Issue from Atom: https://github.com/atom/atom/issues/3790

(Basically, strip spaces, and put a hyphen between the font name and the weight, so InputMono-Thin in your case. I use Source Code Pro Light myself, and so setting it to SourceCodePro-Light works for me)

[2015-12-09 19:17] a8775 commented on #1137
You are right, most of the time it's working very well but there are sometimes situations when it's not perfect.

![snip_20151209194907](https://cloud.githubusercontent.com/assets/14092227/11695184/2aec8674-9eae-11e5-99da-110c18ee6d6a.png)
This is an example from paper-dropdown-menu.html, you can see my point.

It would be very useful to have IntelliSense:
![image](https://cloud.githubusercontent.

[2015-12-09 19:27] perrytribolet opened #1146 "Tasks not showing up in Command Palette"
Tested using windows version

[2015-12-09 19:27] jpoon commented on #1111
Got another report of the 2nd question (manually upgrading a plugin): https://github.com/VSCodeVim/Vim/issues/93#issuecomment-163345243

[2015-12-09 19:38] Tyriar commented on #1137
`:host` specifically is part of [the shadow DOM spec](http://caniuse.com/#feat=shadowdom) which vscode probably won't support [until at least 2 browsers support or at least strong interest](https://github.com/Microsoft/vscode/issues/806) (chrome and opera count as one).

[2015-12-09 19:51] wmaurer opened #1147 "Command palette search"
~~When searching the command palette, the search is based in exactly what you type, In essence, Code is checking if what's been typed is a substring of the command title.~~

It would be great if the command palette search were a bit more fuzzy, i.e. based on the individual words that are input, ignoring punctuation, etc.

Atom's command palette search works in this way:

![atom](https://cloud.gith

[2015-12-09 20:43] egamma commented on #1147
Duplicate of #968

[2015-12-09 20:43] #1147 closed

[2015-12-09 20:49] egamma commented on #1143
Duplicate of #710

What you could consider is to use the quick box in similar way as it is used in the yeoman extension:
https://marketplace.visualstudio.com/items/samverschueren.yo

[2015-12-09 20:49] #1143 closed

[2015-12-09 20:54] egamma commented on #1146
Not sufficient information, please provide steps and expected results.

Also notice tasks show up in the Command palette when entering 'task '.

[2015-12-09 20:56] SrTobi opened #1148 "Provide full documented json schema"
The configuration contribution point offers a great chance to provide a rich documentation about the JsonSchema, [yet it simply refers to the official meta-schema](https://github.com/Microsoft/vscode/blob/468635529ed0e10f1aeffee31ee2327e76051b05/src/vs/platform/configuration/common/configurationRegistry.ts#L110) that does not contain any useful description.

If you say, that this is something you

[2015-12-09 20:57] weinand commented on #1122
@dimkk I would love to hear more details about the scenario behind your suggestion.
Thanks!

[2015-12-09 20:59] martellaj opened #1149 "Debugger requires path to program be correct casing for breakpoints to get hit"
Assume there's a file `app.js` in directory `Foo`. If in my `launch.json` file, I specify `foo/app.js` as the `program`, the debugger will run, but none of my breakpoints will get hit. However, if I give it the actual casing of the path, `Foo/app.js`, the debugger runs and breakpoints will get hit.

I think it should be all or nothing here. As in, if correct casing is required for breakpoints to g

[2015-12-09 21:23] calmh commented on #381
Oh! Neat! I had resorted to disabling the variants except thin and bold in font book. :)

[2015-12-09 21:25] remcoros commented on #1111
I ran into this developing my extension as well (vscode-startanyshell).

Manually updating (vsix) or trough command palette, leaves the extension folder in a 'broken' state. The extension folder does not contain all files. Like if uncompressing the package stopped half-way.

I really tought it was just my vscode installation or machine, since I didn't see any issues about this.

Look like I'm not

[2015-12-09 21:32] weinand commented on #1141
@isidorn please verify that you receive an event from Ben and send an attach request to the debug adapter

[2015-12-09 21:41] weinand commented on #1127
Tables and an additional type column waste space and make only sense if we have horizontal space at our disposal. Chrome dev tools do not use this approach either. As a user, I don't see pressure for this.

[2015-12-09 22:23] peterblazejewicz opened #1150 "'postbuild' and 'prebuild' scripts are missing from hints for ASP.NET project.json"
For some reason the `postbuild` and `prebuild` scripts are missing from hints shown for `project.json` in editor:
![20151209223221](https://cloud.githubusercontent.com/assets/14539/11700668/811a0248-9ecb-11e5-94d1-dd717954c992.jpg)
The same `prebuild` script in Atom:
![20151209223109](https://cloud.githubusercontent.com/assets/14539/11700669/812195c6-9ecb-11e5-984d-589c3ca9c1f8.jpg)

The current s

[2015-12-09 22:50] stevencl commented on #1127
I agree, this is only for horizontal layout. In vertical layout we are more constrained for space and this would not make as much sense. I also agree that there isn't a huge problem being solved with this, but sometimes we make small modifications to the UI in order to make small improvements to the UX.

It's possible though that as more debug adapters are written that we might need to show more i

[2015-12-09 22:50] #1127 closed

[2015-12-09 23:00] weinand commented on #1127
@stevencl the mono debug adapter (and probably other adapters as well) show already the type by  combining the type into the name that is returned from the debug adapter. One reason why we do not separate type from name in the VSC debug protocol is that in some languages the type appears on both sides of the name, e.g. in C you have constructs like this: "char *name[]". Another reason is to keep t

[2015-12-09 23:23] alefragnani opened #1151 "Recent Folders should not be case sensitive in Windows"
Since Windows is not case sensitive_ for Files and Folders, the recent folders should also not to be.

If you open a folder in Code via command line, with different case, it adds a new entry for each one. It also maintain a _folder state_ (like the files that are opened in that folder) different for each entry.

Opening **Code** with different case:

![recent_folders_console_call](https://cloud.gi

[2015-12-09 23:27] mohsen1 opened #1152 "It's impossible to create a folder or file via new folder/file buttons when project has only folders in the root level"
If my project structure is like this:

[code]

And I've selected a folder in the sidebar, the new folder/file button will create a folder/file inside the selected folder and there is no way (that I know of) to select the root folder and make a folder in root level.

![screen shot 2015-12-09 at 3 27 08 pm](https://cloud.githubusercontent.com/assets/543633/11702164/54b4471e-9e89-11e5-8c75-5d6d21e160

[2015-12-10 00:49] BleyChen commented on #903
thank you ! i can call now

[2015-12-10 01:40] vscodeerrors opened #1153 "Uncaught SyntaxError: Unexpected end of input"
Issue Id: <b>f3a775fb-4479-4a5e-0c8d-4fe63549d6a3</b><br /><br />*Versions* <br />- 0.10.1-release<br />-  783ecf841a2b21edca6d86853670cae89b4c244f<br />*Stack* <br />SyntaxError: Unexpected end of input<br />    at Object.parse (native)<br />[/vs/workbench/parts/debug/node/debugAdapter.ts#L28:8 (Adapter.constructor)](https://github.com/microsoft/vscode/blob/df352367df2efcfa9d602d471e4e2f42140a0f0

[2015-12-10 01:41] vscodeerrors opened #1154 "Uncaught TypeError: Cannot read property 'symbol' of undefined"
Issue Id: <b>2f6a083e-4961-8bfb-9851-be9a373466cf</b><br /><br />*Versions* <br />- 0.10.3<br />*Stack* <br />TypeError: Cannot read property 'symbol' of undefined<br />[/vs/editor/contrib/codelens/browser/codelens.ts#L94:8 (CodeLensContentWidget)](https://github.com/microsoft/vscode/blob/783ecf841a2b21edca6d86853670cae89b4c244f/src/vs/editor/contrib/codelens/browser/codelens.ts#L94:8 (CodeLensCon

[2015-12-10 01:42] vscodeerrors opened #1155 "Cannot read property 'editOperations' of null"
Issue Id: <b>2ec89842-1cd7-8e05-0e52-47e2d4ca87a8</b><br /><br />*Versions* <br />- 0.10.3<br />-  7cc0c602a2b802b09a3f56b68a1a61ee9e8f0066<br />*Stack* <br />TypeError: Cannot read property 'editOperations' of null<br />[/vs/editor/common/commands/trimTrailingWhitespaceCommand.ts#L5:0](https://github.com/microsoft/vscode/blob/783ecf841a2b21edca6d86853670cae89b4c244f/src/vs/editor/common/commands/

[2015-12-10 01:42] vscodeerrors opened #1156 "Cannot read property 'launch' of null"
Issue Id: <b>280d969c-e5e6-d1ae-0945-cfa99441ab50</b><br /><br />*Versions* <br />- 0.10.3<br />-  7cc0c602a2b802b09a3f56b68a1a61ee9e8f0066<br />*Stack* <br />Error: Cannot read property 'launch' of null<br />[/vs/base/common/errors.ts#L300:4 (toErrorMessage)](https://github.com/microsoft/vscode/blob/783ecf841a2b21edca6d86853670cae89b4c244f/src/vs/base/common/errors.ts#L300:4 (toErrorMessage))<br

[2015-12-10 01:46] DanielRosenwasser opened #1157 "Introducing '.js' file causes errors with TypeScript code"
From https://www.reddit.com/r/programming/comments/3ux8fs/announcing_typescript_17/cxo5ldn?context=3.

![](http://i.imgur.com/O8uIQFT.png)
2. I create a plain .js file. Even without writing to it or saving it again, I get Schrodinger's interface: http://i.imgur.com/siOf1AV.png

![](http://i.imgur.com/siOf1AV.png)

We're not sure what sort of interaction might be going on with the TypeScript langua

[2015-12-10 03:56] finger563 opened #1158 "Index all files in open folders for intellisense"
Perhaps there's already a way to force, this but none that I've found.  I'd really like to get intellisense code-completion, and since I'm opening the folders which contain all the relevant code I'd like to be able to use those files for this feature.

Alternatively, I'd like to be able to reference local modules (in the case of node.js) by relative or absolute path, as opposed to having just a fe

[2015-12-10 04:48] mohsen1 opened #1159 "Add select line command"
I want to bind `cmd+l` to select a line entirely but there is no "select line" command.

[2015-12-10 04:55] dimkk commented on #1122
@weinand @egamma  Hello, I will consider scenarios a bit later, thanks for fast reply and thank you for your amazing job!

[2015-12-10 07:40] joaomoreno commented on #1111
@jpoon @remcoros which OS are you on?

[2015-12-10 07:40] bpasero commented on #968
I have pushed a change to enable fuzzy searching for file matching in quick open. I decided to not touch any other UX area until we get some feedback on the sorting and matching. The new option is `search.fuzzyFilePicker` and disabled by default. I do think that eventually this option would go away and we just enable this by default.

I see the request for broadening fuzzy matching to other places

[2015-12-10 07:41] egamma commented on #1150
@aeschli let's update the schema for December.

[2015-12-10 07:43] egamma commented on #1152
Closing as a duplicate of #1043

[2015-12-10 07:43] #1152 closed

[2015-12-10 07:44] bpasero commented on #1151
:+1:

[2015-12-10 07:47] bpasero commented on #762
Reopen when we have more info.

[2015-12-10 07:48] egamma commented on #1159
@alexandrudima fyi

[2015-12-10 07:56] egamma commented on #1091
Please see https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions

Closing for now.

[2015-12-10 07:56] #1091 closed

[2015-12-10 08:05] egamma commented on #1039
Please refer to https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions for how to submit issues.

Closing the issue until more steps are provided.

[2015-12-10 08:05] #1039 closed

[2015-12-10 08:19] csnover opened #1160 "Cannot read property 'highlightSpans' of undefined"
Useless stack trace:

[code]

Reproduction code (TypeScript):

[code]

Expected: No fatal error in engine
Actual: Fatal error caused by `b = {{` inside function.

Version: 0.10.3 Mac OS X

[2015-12-10 08:25] #318 closed

[2015-12-10 08:35] bpasero commented on #1121
Yes, this collides with our font-size rule for the code block which is not ideal. I am happy to accept PRs for making markdown CSS better. The CSS is defined in https://github.com/Microsoft/vscode/blob/master/src/vs/languages/markdown/common/markdown.css

[2015-12-10 08:44] bpasero commented on #1117
I think we are even paying the memory price 3 times. Once in the buffer from reading the file, once in the string we assign to the content object and once during decode. Maybe a better way would be to read the file as stream and then pipe it through the decode method into the string.

[2015-12-10 08:47] kumarbalap opened #1161 "Prevent data loss with automated backups for files and unsaved changes"
Windows 10 is half baked one IE and now this editor.

I was surprised with the built in extensions, but I'm feeling terrible after experiencing this issue.

I was working with this editor, and suddenly my system became very slow and I'm forced to shut down my system. After the restart my current working file (see the attachment), got changed in to some other encoding. I lost my 3 hours of work :(.

[2015-12-10 08:56] bpasero opened #1162 "Workspace UI storage not picked up when launching workspace with different casing"
Currently we loose all workspace associated state when the workspace path is using different casing. Ideally the storage is agnostic to casing for file systems that are case insensitive.

[2015-12-10 08:56] bpasero commented on #1151
Fixed this issue, but there is still the problem with workspace UI state not being found if the case differs, filed https://github.com/Microsoft/vscode/issues/1162

[2015-12-10 08:57] egamma commented on #1161
Sorry about the bad experience.

What was the encoding of the file before you killed Code?

@bpasero when I try to open the attached file I get "... the file uses an unsupported encoding"

[2015-12-10 09:00] #842 closed

[2015-12-10 09:01] bpasero commented on #1161
@kumarbalap so did you work for 3 hours without saving or saving frequently? Did you save the file before shutting down or was auto save enabled?

We have heard reports from users that vs code can fail to write the contents of the file to disk in certain cases where the OS shuts down and in that case the contents are not correctly written to the file, leaving the file corrupt.

[2015-12-10 09:09] kumarbalap commented on #1161
Thanks for the replies.

I took a backup in the morning, after that I was saving it frequently, but not committed. So I cudn't recover the content.

[2015-12-10 09:11] alexandrudima commented on #1117
@bpasero :+1: That would be awesome!

[2015-12-10 09:13] alexandrudima commented on #1159
This is already implemented on `master`. See #950, #961

[2015-12-10 09:13] #1159 closed

[2015-12-10 09:18] kumarbalap commented on #1161
@bpasero , as you said, it might be because of OS and auto save was not enabled by default.
But this is the first time I'm experiencing this issue, I have used many editors before.

Thank you

[2015-12-10 09:18] joaomoreno commented on #1138
Git seems to do this, not VS Code. Here's a snippet from the command line:

[code]

Is your host by any chance GitHub or BitBucket? Which command line exactly are you using?

Closing as dupe of #490. Will reopen if further information reveals this to be an independent issue.

[2015-12-10 09:40] #903 closed

[2015-12-10 09:46] dbaeumer opened #1163 "Document Range Formatting fails"
Steps:

- extension that registers a document and a document range formatting provider
- open a test workspace that activates the extension and trigger a range format.

You get:
[code]

[2015-12-10 09:56] stevencl commented on #1133
Referencing issue #1044

[2015-12-10 10:26] nkimaina opened #1164 "Feature Request: Debugging of AngularJS projects"
I don't know if this is possible or am asking for too much, but is it possible to have the debugger debug angularjs? I am talking of the same debugging experience as the one I get when using it to debug nodejs

[2015-12-10 10:28] egamma commented on #1164
You can do client side debugging using the chrome debugger extension
https://marketplace.visualstudio.com/items/msjsdiag.debugger-for-chrome

[2015-12-10 10:28] #1164 closed

[2015-12-10 10:31] joaomoreno commented on #1033
After discovering that a doubly-clicked app on OSX would not inherit the users's shell environment we implemented the following: at startup, Code spawns the user's default shell, extracts its environment and sets that as its own. Let's call this process: :zap:.

So, here's what's happening:
- This only repros if Code is not running yet. If it is, new windows will be opened with the expected enviro

[2015-12-10 10:32] bpasero commented on #1161
@kumarbalap it would still be interesting if the corruption happened because of you saving the file or something else. When you shutdown the OS, was the file dirty in the editor or saved? Did the OS shutdown maybe while you saved?

[2015-12-10 10:36] bpasero commented on #1033
@joaomoreno so are you proposing that we do the detection only when someone double clicks from the desktop but when running from the command line we don't do this because we assume the environment is correctly passed in? I think we only set VSCODE_CWD from the script so it is a fair guess to say that someone launched from the command line when this one is present.