[2016-09-13 23:18] jwbay commented on #11791
@waderyan per @SaschaNaz's comment in the TS repo, I checked and the relevant option is not present in VSCode: https://github.com/Microsoft/vscode/blob/master/extensions/typescript/src/features/formattingProvider.ts

Does it just need to be added there?

[2016-09-13 23:20] waderyan commented on #11791
@dbaeumer can you comment on the above? This might be something we want to add.

[2016-09-13 23:57] felixfbecker commented on #11917
https://github.com/felixfbecker/vscode-php-intellisense
https://github.com/felixfbecker/php-language-server

I would love to get more contributions, already got some from the Eclipse Che folks 🙂

[2016-09-14 00:04] jefffriesen opened #11991 "cmd-shift-left/right triggers focusRightEditor warning"
- VSCode Version:
1.5.2

- OS Version:
OS X 10.11.6

Steps to Reproduce:

1. Put your cursor in middle of text. Hit cmd-shift-left or cmd-shift-right with the intention of selecting it. This triggers the error: Command workbench.action.focusLeftEditor has been removed. You can use workbench.action.focusPreviousGroup instead

This is system-wide OS X default keybinding (I just realized how much I u

[2016-09-14 00:06] atian25 commented on #7118
I got the same problem with vscode@1.5.2 && oh-my-zsh

[2016-09-14 00:21] szotyii opened #11993 "Powershell Write-Host/Output/Warning/Debug problem"
- VSCode Version: 1.5.2
- OS Version: Windows 8.1 Ent x64

Powershell Write-Host/Output/Warning/Debug command not writing, only just Write-Error

Steps to Reproduce:
1. Create *.ps1 file
2. Add command Write-Host "SOMETHING"
3. Press F5 and it's not writing out anything.

[2016-09-14 01:01] zxcware opened #11994 "Cmd + P searching for a file doesn't work"
- VSCode Version: 1.5.2
- OS Version: OS X EI Capitan 10.11.6

Steps to Reproduce:

1.  Open a relative large code base
2. Cmd + P, search for a file doesn't work!

[2016-09-14 01:13] ketakahashi opened #11995 "Pressing Command + = doesn't increase the font size"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:05:12.065Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:

1. Creating a new file
2. Pressing Command + Shift + - doesn't makes the font size increasing but decreasing.

[2016-09-14 01:14] garfieldbanks commented on #11927
I will next time it happens.

Are there any other logs I can send that will be helpful?

[2016-09-14 01:28] octref commented on #11995
`Cmd + Shift + -` defaults to decrease the font size. You can see the default keybindings in `Code -> Preferences -> Keyboard Shortcuts`.

Here is the relevant bit:

[code]

But in the title you said you pressed `Cmd + =`. Which key exactly did you press?

[2016-09-14 01:31] octref commented on #11994
Can you be a bit more specific about what didn't work?
Would be great if you can take a screenshot with `Cmd + Shift + 3` and put it here.

[2016-09-14 01:35] 592php opened #11996 ".jsx Does not support the shift + alt + f format code"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 6.1.7601

Steps to Reproduce:

1..jsx Does not support the   shift + alt + f    format code
2.

[2016-09-14 01:35] octref commented on #11964
@SonnySwolf

This should be fixed in 1.5. Can you update and see if this problem still exists?

Please use English in the repository. Thank you.

[2016-09-14 01:51] brennanMKE commented on #4803
Three finger swipe on the Mac will move between virtual windows or Full Screen apps. In System Preferences under Trackpad the More Gestures tab shows the various options which include the 2 and 3 finger swiping gestures.

Typically 2 fingers will scroll vertically or horizontally. If there is no more content for scrolling left or right then it would start pulling the previous or next document if t

[2016-09-14 02:02] DonJayamanne commented on #11965
This issue was moved to DonJayamanne/pythonVSCode#308

[2016-09-14 02:02] #11965 closed

[2016-09-14 02:11] Tyriar commented on #11927
If it happens again, try pressing enter a few times and type the command again. Also the output of `echo %PATH%` would be useful.

[2016-09-14 02:11] mohsen1 opened #11997 "Keep dirty contents when renaming a dirty file or its parent"
- VSCode Version: 1.5.2
- OS Version: OS X

Steps to Reproduce:
1.  Make a new file
2. Type some content in it
3. While it's still dirty rename the file on the sidebar

Content of the file is lost.

[2016-09-14 02:20] marktrz commented on #11809
@alexandrudima Part of the problem is that only one cursor is assumed to be related to an [ICommand](https://github.com/Microsoft/vscode/blob/master/src/vs/editor/common/editorCommon.ts#L1397). So grouping selections into one command won't work that well, as after you do one line move you'll lose all the other cursors. One possible way to go around that is to simply have the one cursor and select

[2016-09-14 02:41] ketakahashi commented on #11995
I see. It's my misunderstanding. I press Cmd+Shift+- keys because I usually do so when I see Cmd+= on the menu...How can I input '=' just press a key?

[2016-09-14 02:44] garfieldbanks commented on #11927
C:\WINDOWS;
C:\WINDOWS\system32;
C:\WINDOWS\System32\Wbem;
C:\WINDOWS\System32\WindowsPowerShell\v1.0\;
C:\Program Files (x86)\Windows Kits\10\Windows Performance Toolkit\;
C:\Program Files\Microsoft SQL Server\130\Tools\Binn\;
C:\Program Files\Anaconda3;
C:\Program Files\Anaconda3\Scripts;
C:\Program Files\Anaconda3\Library\bin;
C:\Program Files (x86)\GtkSharp\2.12\bin;
C:\Program Files\Microsoft

[2016-09-14 02:46] DentCop commented on #11860
I have updated to v1.5.2 this morning to make sure I'm testing the latest version of code.

I have changed my configuration by removing Username:Password from `"http.proxy":` line in the config file and added `"http.proxyAuthorization":` line in the format `Basic <base64 string>` (our proxy does support Basic authentication). This `base64 string` was captured from a successful authentication in Fi

[2016-09-14 02:58] lseyesl opened #11998 "always noresponse when i code for css"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:

always noresponse  when i code for css

[2016-09-14 02:58] ketakahashi commented on #11995
By using the keyboard with numeric keypad which has '=' key, I could do zoom-in operation. But I usually use the keyboard with no numeric one. I edited keybindings.json like "cmd+shift+;". Thank you for your information.

[2016-09-14 03:03] FabioCarpi opened #11999 "PHP command description out of date"
The command file_get_contents

[2016-09-14 03:11] NewFuture commented on #11964
@SonnySwolf

This bug exists in all Windows.

When the `path` contains Chinese encoding (or other non-ascii characters) , it can't open the terminal.

I guess this bug  is due to the **encoding** of Windows terminal (**not uft-8**).

[2016-09-14 03:16] NewFuture commented on #11964
an example for Folder path:

[2016-09-14 03:16] chrmarti commented on #11114
The reason I did it this way is that both show() and onType() can be the first to know which handler will be used and I wanted to give the handler a head-start by calling onOpen as soon as possible.

There is one call to resolveHandler() in each of show() and onType() just to trigger the loading and eventual call to onOpen on the handler as soon as possible. Later handleDefaultHandler() and handle

[2016-09-14 03:24] chrmarti commented on #10972
#11037 reported the problem coming back after we reverted that change too. There the problem seems to be some interaction between our file traversal and anti-malware software.

[2016-09-14 03:30] paulirish commented on #10268
Thanks for this! `"git.countBadge": "tracked",` is great. :D

[2016-09-14 03:45] helibin commented on #11920
does not work, I tried before

[2016-09-14 03:51] octref commented on #11995
Cmd + plus sign = bigger font
Cmd + minus sign = smaller font

[2016-09-14 03:51] #11995 closed

[2016-09-14 03:54] octref commented on #11995
@ketakahashi
By the way, do you have a different keyboard layout? I guess you are using Japanese layout?

Here is how it looks on my keyboard.

![image](https://cloud.githubusercontent.com/assets/4033249/18499481/30e3c6ec-79f4-11e6-89ef-18a5a498bdd3.png)

[2016-09-14 03:56] luisa123456 commented on #8959
Long Path tool can resolve error messages like: path too long, cannot delete file, too long path, destination path is too long, etc.

[2016-09-14 04:04] #11990 closed

[2016-09-14 04:11] Tyriar commented on #11384
This was done via #11839 and subsequent fixes with one caveat; if the terminal panel is not initialized, the output will not be retained. So the process will run fine, just output will not be kept until `Terminal.show` is invoked at least once. The upstream issue tracking this is https://github.com/sourcelair/xterm.js/issues/266

[2016-09-14 04:11] Tyriar commented on #11275
This was done via #11839 and subsequent fixes.

[2016-09-14 04:11] #11275 closed

[2016-09-14 04:12] Tyriar opened #12000 "Terminals created in the background by the API will not display/retain any output until the terminal panel is initialized"
Upstream issue: https://github.com/sourcelair/xterm.js/issues/266

[2016-09-14 04:35] bpasero commented on #11114
@chrmarti we can get rid of this call though (https://github.com/Microsoft/vscode/blob/ben/electron-update/src/vs/workbench/browser/parts/quickopen/quickOpenController.ts#L644) because it gets called in the code right after, no?

Another thing which is not good is that in https://github.com/Microsoft/vscode/blob/ben/electron-update/src/vs/workbench/browser/parts/quickopen/quickOpenController.ts#L4

[2016-09-14 04:35] #10917 closed

[2016-09-14 04:36] Tyriar commented on #10917
An example using the new API is up on the sample repository https://github.com/Microsoft/vscode-extension-samples/commit/94cd47f3c16d8a9b4fbef2ec2ef48abdaa92635d

[2016-09-14 04:45] DentCop commented on #11860
So, the above is still true if you try to use `"http.proxyAuthorization":` field. Looks like it needs more work.

But, after changing my configuration back to including `username:password` in `"http.proxy":`, installing extensions now works! This is code v1.5.2.

Working config is:
[code]
Which is what I stated with.

[2016-09-14 04:45] #11860 closed

[2016-09-14 04:46] bpasero commented on #11958
Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market place, click on the **Support** link to find out more.

<im

[2016-09-14 04:46] #11958 closed

[2016-09-14 04:47] bpasero commented on #11959
Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market place, click on the **Support** link to find out more.

<im

[2016-09-14 04:47] #11959 closed

[2016-09-14 04:50] bpasero commented on #11962
@vavans I am clueless what kind of error you see. does it reproduce now anymore?

[2016-09-14 04:50] bpasero commented on #11963
@pitAlex can you please find out the full arguments of this process to find out which process is causing high CPU load from the ones VS Code spawns as helpers.

[2016-09-14 04:52] bpasero commented on #11966
I am closing this because it violates our submission guidelines (1 issue per issue, not multiple). Also it seems you got some help so please file new issues (plural) for the remaining issues.

[2016-09-14 04:52] #11966 closed

[2016-09-14 04:54] bpasero commented on #11977
Sounds like an easy enough area for a PR 👍

[2016-09-14 04:56] bpasero commented on #11983
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-09-14 04:58] bpasero commented on #11991
@jefffriesen can you share your keybindings JSON file?

[2016-09-14 04:58] bpasero commented on #11993
Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market place, click on the **Support** link to find out more.

<im

[2016-09-14 04:58] #11993 closed

[2016-09-14 04:59] bpasero commented on #11996
Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market place, click on the **Support** link to find out more.

<im

[2016-09-14 04:59] #11996 closed

[2016-09-14 05:00] bpasero commented on #11997
@mohsen1 are you not seeing this warning?

<img width="464" alt="screen shot 2016-09-14 at 07 00 13" src="https://cloud.githubusercontent.com/assets/900690/18500578/ec7413cc-7a48-11e6-980b-294fa1e81b6c.png">

[2016-09-14 05:00] bpasero commented on #11998
@lseyesl can you share more details of what happens?

[2016-09-14 05:01] bpasero commented on #11999
Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market place, click on the **Support** link to find out more.

<im

[2016-09-14 05:01] #11999 closed

[2016-09-14 05:15] chrmarti commented on #11874
It turns out that we can apply the **/something exclusions with the faster -name, all other exclusions could still be applied after 'find', e.g.: time (find -L . -not \( \( -name folder1 -o -name folder2 \) -prune \) -type f | wc -l)

[2016-09-14 05:15] aeschli commented on #11668
We don't follow the includes, so, no, that's not a problem.

Do you have any extensions installed? Please try running with  `code --disable-extensions`.
Also if you can check the task manager which process (with which command line arguments) is blocked that would be great.

[2016-09-14 05:19] aeschli commented on #11762
IMO a folder-less theme should work nicely as well and I want to fix that.
A folders on/off option is a good idea.

For all other requests, I'm sure the community will provide more themes, we don't need to cover it all with our built-in themes.

[2016-09-14 05:23] Tyriar commented on #11964
Duplicate of #7727

[2016-09-14 05:23] #11964 closed

[2016-09-14 05:25] aeschli commented on #11787
They seem to work for me:
![image](https://cloud.githubusercontent.com/assets/6461412/18500899/69078ace-7a4c-11e6-9b1e-5d230f8b2e29.png)

[2016-09-14 05:25] #11787 closed

[2016-09-14 05:29] #10206 closed

[2016-09-14 05:34] mohsen1 commented on #11997
I see the dialog but why you can't keep the files content?

[2016-09-14 05:35] chrmarti commented on #11994
@octref Could you run `time (find -L . -type f | wc -c); echo $?` and `time (find -L . -type f | wc -l); echo $?` in your project folder and paste the output here?

[2016-09-14 05:43] johnliu2016 commented on #11978
@dbaeumer this is tricky, following strings are found, please help identify which one is referring the adjective "open"

@lukaschal please send the right one to linguistic review and fix as appropriate.

[openEditorsView.nls.resx.lcl](https://monacotools.visualstudio.com/Monaco/_git/MonacoLocalization#path=%2FLocalize%2Fesn%2Fvscode%2Fsrc%2Fvs%2Fworkbench%2Fparts%2Ffiles%2Fbrowser%2Fviews%2FopenEd

[2016-09-14 05:46] bpasero commented on #11997
@mohsen1 fair request, this was done to fix many issues when deleting a folder that contains dirty files. In this case we could maybe be smarter.

[2016-09-14 05:47] Crash4you opened #12002 "Error commands not found"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1.
2.

[2016-09-14 05:56] vavans commented on #11962
@bpasero Hi, i guess it's quite difficult to reproduce due to the fact that the host instance crash depends on its  layout (opened documents, side editors, etc.) and i didn't figure out what exact layout is causing the crash.

I have a second machine where the bug is still visible, if you tell me where is stored the host instance layout, i could analyze its content and come back with more informat

[2016-09-14 06:01] dylan-kerr commented on #11762
Although my original request did say "please add folder icons", it is really the indentation that's the issue. The existing open/close toggle is effectively a default folder icon, and I feel like it would make sense for the file icons to sit at the same place in the DOM (`.content:before`) to achieve the consistent indentation.

At the moment icon themes with a folder icon display both the open/cl

[2016-09-14 06:03] buehler commented on #11935
Alright. Yea there is a special reason: When I remove the trigger characters, my provider never gets called in the first place. Only if I use the keybinding of the suggestions. At least, all other stuff works again (like Array.some), but my suggestions are never shown.

My completion provider works as such that is only delivers a result when the user is typing the first word of a assignment or stu

[2016-09-14 06:10] johnliu2016 commented on #11804
@dbaeumer guessing the context menu is from system registry for VSCode, found following instances and they seem hard-coding

vscode-master\build\win32\code.iss
	Line 758: Root: HKCU; Subkey: "SOFTWARE\Classes\*\shell\{#RegValueName}"; ValueType: expandsz; ValueName: ""; ValueData: "Open with {#NameShort}"; Tasks: addcontextmenufiles; Flags: uninsdeletekey
	Line 761: Root: HKCU; Subkey: "SOFTWARE\C

[2016-09-14 06:13] dehghani-mehdi commented on #9405
Actually this was my fav. feature xD

[2016-09-14 06:37] aeschli commented on #11762
@dylan-kerr Yes, that correct. Good points!

[2016-09-14 06:47] ferarias commented on #11618
Nothing at all

[2016-09-14 06:49] chanzig opened #12003 "show double File Icon Themes"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:05:12.065Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:

1.  I use `VSCode Icons`,when I choose defalut,all well done;
2.  I select  `VSCode Icons` again, restart!  Then choose others will show double icon.
3.  I uninstall this icons ,it always show.

![image](https://cloud.githubusercontent.com/assets/1

[2016-09-14 07:08] Campanula commented on #11920
@helibin I misread the file name, try the following

[code]

[2016-09-14 07:11] mrmlnc commented on #11977
JavaScript (javascript)
C++ (cpp)

Maybe so?

![](https://cloud.githubusercontent.com/assets/7034281/18305885/2046e460-74f2-11e6-8294-897060a443be.png)

[2016-09-14 07:17] markusm7 commented on #11994
I've got a similar problem on Ubuntu 14.04.4 LTS with 1.5.2.
The search for the file doesn't end
Only recently opened files are listed. In addition, the search in the side bar doesnt work neither.
Im not sure when it started because i was programming on that machine pre 1.5

The output of the two time commands:
220824946

real	2m10.356s
user	0m0.928s
sys	0m22.060s
0

2143148

real	1m26.622s
user	0

[2016-09-14 07:26] brikibsw opened #12004 "Files and folders not showing in explorer tree"
- VSCode Version:

  1.6.0-insider
  commit  6fa85223efb25ad7ce3e534c7eb07edd9524bd6d
  date 2016-09-14T06:10:40.320Z

- OS Version:
Win 10.0.14393 x64
Steps to Reproduce:

1. Update to latest insider build when asked by VS Code insider

this is from DevTools

Cannot read property 'fsPath' of undefined: TypeError: Cannot read property 'fsPath' of undefined
    at t.renderContents (file:///C:/Progr

[2016-09-14 07:28] bpasero commented on #11962
Actually from the stacktrace this seems to happen in `getPathLabel()`

[2016-09-14 07:28] mrmlnc commented on #12002
Please, provide more detailed information.

[2016-09-14 07:31] dandevs opened #12005 "Emmet in template literals"
Emmet in template literals, especially within something like Angular's Component would be real useful.
[code]

[2016-09-14 07:44] jjacode opened #12006 "Setting Cmder.exe as integrated shell still opens in separate window"
- VSCode Version: 1.5.2
- OS Version: Windows 10

Steps to Reproduce:

1. In user settings add `"terminal.integrated.shell.windows": "C:\\Program Files (x86)\\cmder\\Cmder.exe",`
2. Press `ctrl` + `backtick`
3. Notice Cmder opens in separate window after trying to open in integrated spot.

[2016-09-14 08:05] alexandrudima opened #12007 "Installer shows EULA garbled text"
![eula-broken](https://cloud.githubusercontent.com/assets/5047891/18504484/be30dd96-7a62-11e6-96f9-15402dab7001.PNG)

[2016-09-14 08:07] alexandrudima opened #12008 "Uninstaller should have option to remove all data"
Perhaps behind a prompt, but IMHO we should offer to remove:
- all the folder C:\users\xxx.vscode-insiders
- all the folder %APPDATA%\Code-Insiders

oftentimes people try to reinstall us if they get in trouble, but that doesn't really do anything since all the settings + extensions + Chrome cache thing (localstorage, etc) are all maintained/left behind

[2016-09-14 08:08] leegee opened #12009 "Debug broken or changed?"
- VSCode Version: latest over-night build
- OS Version: latest OSX

Steps to Reproduce:

1. Debug an existing Node.js project that worked yesterday
2. `Debug adapter process has terminated unexpectedly`
3. Copy and paste and get: `Error: Debug adapter process has terminated unexpectedly (occurred again)`

[2016-09-14 08:13] alexandrudima opened #12010 "Updater should delete /out/ folder"
- possibly dangerous garbage is left behind

[2016-09-14 08:14] bpasero commented on #12009
@leegee can you share your project?

@weinand fyi this might either be node-debug update or electron update related.

[2016-09-14 08:15] bpasero commented on #12003
@chanzig did you install the vscode-icons extension?

[2016-09-14 08:15] joaomoreno opened #12011 "Extension marketplace caching issues"
1. Have an extension installed in version 1
2. Publish an update (version 2)
3. Uninstall the extension
4. Search for it, confirm that version 2 shows up
5. Install it

Version 1 appears installed

@egamma @dbaeumer please confirm whether the steps approximate what you experienced

[2016-09-14 08:16] bpasero commented on #12004
@brikibsw is it possible to share this workspace with me?

[2016-09-14 08:19] brikibsw commented on #12004
@bpasero No problem, by workspace do you mean my repo ??

[2016-09-14 08:22] bpasero commented on #12004
@brikibsw yes!

[2016-09-14 08:22] #11967 closed

[2016-09-14 08:25] sandy081 commented on #11967
@alexandrudima Thanks for filing this. I completely forgot that all find commands also run in the context of editor focus. These commands (show previous/next in history) are specific to find input. So, I introduced a new context which is required for these commands to run.

Thanks

[2016-09-14 08:25] brikibsw commented on #12004
@bpasero I could send you a zip of repo and should i nuke node_modules folder ??

[2016-09-14 08:26] bpasero commented on #12004
@brikibsw zip is good with nuked node_modules.

[2016-09-14 08:29] brikibsw commented on #12004
@bpasero here you go

[CountItCalendarWeb.zip](https://github.com/Microsoft/vscode/files/471571/CountItCalendarWeb.zip)

[2016-09-14 08:39] joaomoreno opened #12012 "Add Changelog link in Insiders build that shows changes since last build"
eg:

[code]

cc @egamma

[2016-09-14 08:42] vavans commented on #11962
Ok, i think i got it.
First we can reproduce the issue **without** launching an extension development host.

The issue comes from a key in the local storage used by vscode :
`storage://workspace/c%3A/Users/VANNESJU/Documents/Langages/Haskell/VSCode-haskell-intero/test/sample/editorstacks.model`

This key stores the layout state of a workspace.
Here is JSON setted:
[code]

We can see there is a pro

[2016-09-14 08:49] joaomoreno commented on #11918
Is this the internal terminal? Or something like Terminal.app or iTerm.app?

[2016-09-14 08:50] joaomoreno commented on #1939
@ChrisLynchHPE Please file a separate issue for that.

[2016-09-14 08:52] ketakahashi commented on #11995
@octref Yes, I use JIS layout keyboard. It looks like below. I see from your picture that's why there is no problem with - and = keys. The keys are adjacent with US layout.

![2016-09-14 17 40 52](https://cloud.githubusercontent.com/assets/449141/18505534/a8103904-7aa2-11e6-8a61-d7e4197cbd8b.png)

[2016-09-14 08:52] lukaschal commented on #11978
@liddiard Please is there any way how to recognize which string from mentioned two instances should be changed, or both of them have a same meaning ? Many thanks for your help.

[2016-09-14 08:53] joaomoreno commented on #11860
Ah, good to know! Yeah that is the preferred use. 👍

[2016-09-14 08:56] joaomoreno commented on #11952
Why don't you `Always Allow`?

You can disable automatic fetching with the `git.autofetch` setting, which is what's causing that pop-up.

But ultimately this is a problem with the `git-credential-osxkeychain` program, not Code.

[2016-09-14 08:56] #11952 closed

[2016-09-14 08:56] #11962 closed

[2016-09-14 08:58] bpasero commented on #11962
@vavans very good find and indeed I think @jrieken made a change in 1.5 to return `null` for `fsPath` when asking for `fsPath` on such malformed resources. In the end the extensions have to fix this on their end.

I pushed a fix on my end to handle this case, but I think there can be many more places where this will bubble up in errors.

[2016-09-14 08:58] joaomoreno commented on #11618
Is there no other errors in the Developer Tools of the window? Can you take a screenshot?

[2016-09-14 08:59] suiwenfeng commented on #4039
@waderyan Which languages supported for `"editor.action.format"`

[2016-09-14 09:00] joaomoreno commented on #12007
You have your system in english right?

[2016-09-14 09:00] jromier commented on #10959
Well, following your idea and the fact I only had issues with CSS and HTML files, I uninstalled 2 extensions: 'Close HTML/XML tag' and 'JS-CSS-HTML Formatter' and my issue disapeared.

So it's one of these 2 extensions that gives the issue I had.
I'll try to reinstall one for find the true guilty.

Thanks again for your support

[2016-09-14 09:01] ddotlic commented on #11952
@joaomoreno It might be (_not really_ 😉) a coincidence but the issue started **exactly** after I've updated Code to the version listed in the bug.

IOW, `git-credential-osxkeychain` must have been the same before and after the upgrade, no?

If the version of Code prior to the yesterday's one did not use `git.autofecth`, how do you explain change in behavior (I was not bugged before but am now)?

I

[2016-09-14 09:01] bpasero commented on #12004
@brikibsw crazy, I am not able to reproduce this. does it happen for all workspaces you open or only this one? Did you ever try to run VS Code out of source code? This would help debug this a bit more.

[2016-09-14 09:03] joaomoreno commented on #11952
It's a very good question. Nothing comes to mind, though, as very little changed in the git world recently. So it could very well be a coincidence that `git-credential-osxkeychain` changed at the same time... did you update `git` with Homebrew recently?

[2016-09-14 09:06] brikibsw commented on #12004
@bpasero  I have tried to open another folder with same symptoms, but from explorer right click Open with Code - insider file is opened,

I have not tried running from source code but I am willing to try, tell me which branch to clone

[2016-09-14 09:06] ferarias commented on #11618
![image](https://cloud.githubusercontent.com/assets/5538461/18506237/546fa12c-7a6b-11e6-9d44-e434724d412f.png)

[2016-09-14 09:07] jyavenard commented on #11918
it is terminal.app started outside of VS.

Could it be due to some of the git extension I have installed?
I have
https://marketplace.visualstudio.com/items?itemName=donjayamanne.githistory
https://marketplace.visualstudio.com/items?itemName=bibhasdn.git-easy
and:
https://marketplace.visualstudio.com/items?itemName=waderyan.gitblame

[2016-09-14 09:09] ddotlic commented on #11952
@joaomoreno I was just checking that and if I see correctly, I did not (I do use homebrew to keep git up to date). I have git 2.10.0 which has been out almost 2 weeks and I've updated it almost as soon as it became available (by accident, not that diligent 😉). On the other hand I update Code (well it updates itself) daily since I'm using insider, hence my suspicion that something in Code changed.

[2016-09-14 09:10] ferarias commented on #11618
Strange thing is, when trying to open Code after installing from scratch, it looks like it's trying to modify .git folder into "program files" and fails. If I run with Admin privileges, it continues but says my solution folder is not initialized for git.
When I try to init, it fails, also.

![image](https://cloud.githubusercontent.com/assets/5538461/18506329/cc0a770c-7a6b-11e6-94a3-05ebdf1a3499.pn

[2016-09-14 09:10] bpasero commented on #11960
@roblourens I split this issue up into 2. See also https://github.com/Microsoft/vscode/issues/12013

[2016-09-14 09:11] roblourens opened #12014 "Double click to edit variables should select the text"
Double click a variable to edit it - I think the text in the input should now be highlighted, so I can just start typing to replace it. I think they probably want to replace all the text, not edit it.

[2016-09-14 09:13] bpasero commented on #10959
@jromier how is that possible given I asked you to run "code --disable-extensions"?

[2016-09-14 09:13] #10959 closed

[2016-09-14 09:14] bpasero commented on #12004
@brikibsw so you can ONLY reproduce from this one folder is that true?

Would help a lot if you could follow https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run-from-source and run VS Code out of sources and try to open the problematic folder.

Thanks 👍

[2016-09-14 09:17] weinand commented on #12009
The problem is unrelated to the Electron upgrade.
Some npm modules are missing in the node-debug extension.
The workaround is to `cd` into the node-debug extension of the Insider build and run `npm install`.

[2016-09-14 09:19] vavans commented on #11962
Great, thanks !

[2016-09-14 09:22] brikibsw commented on #12004
@bpasero  No, files and folders does not show in any folder I open, only when i open a file from windows explorer right click context menu, file is shown in editor

I will try to run from source

[2016-09-14 09:26] dbaeumer commented on #11978
@bpasero can you please add a comment to these strings so that the translators can identify them,

[2016-09-14 09:27] dbaeumer commented on #12011
@joaomoreno this is exactly what I saw yesterday and couldn't reproduce when I dragged you in.

[2016-09-14 09:34] bpasero commented on #12004
@brikibsw ok that is interesting, should be easy enough to reproduce then once you run out of sources 👍

[2016-09-14 09:35] bpasero commented on #12004
@brikibsw you do not have the vscode-icons extension installed, do you?

[2016-09-14 09:45] preetb123 commented on #11498
@lejun how are you able to get autocomplete  for ReactNative components, as in the above fig.

[2016-09-14 09:56] brikibsw commented on #12004
@bpasero i have uninstalled all extensions, but yes i had vscode-icons ext,

Running from source is showing files and folders in navigator tree :), and after uninstalling and deleting "C:\Program Files (x86)\Microsoft VS Code Insiders" folder and installing clean now everything is showing in navigator

[2016-09-14 09:56] #12004 closed

[2016-09-14 10:01] bpasero commented on #12004
@brikibsw great to hear. We STRONGLY advice against installing vscode-icons extension as it can cause issues that are extremly hard to find out. There should be no reason to install vscode-icons extension anymore since we added support for icons in 1.5.

[2016-09-14 10:02] thomas-darling commented on #7236
@dbaeumer Actually, I think the previous behavior was a lot better.

In the latest release, if I press `Ctrl + Shift + B` while a watch task task is running, it just shows a useless notification with a `Close` button and nothing else. Previously it had a `Terminate task` button, which was actually quite handy.

The only annoyance was, that restarting a task would require me to press `Ctrl + Shift

[2016-09-14 10:05] bpasero commented on #11533
@realmx we just released a new insiders build with a newer Electron. maybe you could give that build a try to see if it fixes this issue.

You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-14 10:05] bpasero commented on #11533
@realmx we just released a new insiders build with a newer Electron. maybe you could give that build a try to see if it fixes this issue.

You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-14 10:06] bpasero commented on #10021
@janmarek @chaskim  we just released a new insiders build with a newer Electron. maybe you could give that build a try to see if it fixes this issue.

You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-14 10:06] bpasero commented on #9673
@rombus we just released a new insiders build with a newer Electron. maybe you could give that build a try to see if it fixes this issue.

You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-14 10:06] bpasero commented on #9580
@jjmartin  we just released a new insiders build with a newer Electron. maybe you could give that build a try to see if it fixes this issue.

You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-14 10:06] bpasero commented on #9432
@OliverJAsh @jayphelps  we just released a new insiders build with a newer Electron. maybe you could give that build a try to see if it fixes this issue.

You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-14 10:08] bpasero commented on #5745
While the zooming now seems to be applied to the webview, the scrollbar is still behaving weird and shows off:

![image](https://cloud.githubusercontent.com/assets/900690/18508303/eaeb423e-7a73-11e6-91a7-540eb6741ad0.png)

[2016-09-14 10:08] bpasero commented on #5601
@satokaz  we just released a new insiders build with a newer Electron. maybe you could give that build a try to see if it fixes this issue.

You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-14 10:09] bpasero commented on #11752
@akshayat   we just released a new insiders build with a newer Electron. maybe you could give that build a try to see if it fixes this issue.

You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-14 10:09] brikibsw commented on #12004
@bpasero Yes you have icon support, but vscode-icons are prettier and have icons for folders and on tabs to, but i can live without that ext :) and yes it is definitely vscode-icons ext that caused problem

[2016-09-14 10:13] satokaz commented on #5601
@bpasero Yay!
For a little while ago, I was surprised to verify that it works vscode 1.6.0-insider 6fa85!

Thanks a lot!

[2016-09-14 10:16] csholmq commented on #11917
https://github.com/Microsoft/vscode-cpptools isn't moving very fast apart from debugging features. IntelliSense is largely missing. Perhaps it could use a team boost?

[2016-09-14 10:19] bpasero commented on #12004
@brikibsw we plan to show more icons in more areas of VS Code for the current release so that there is no reason to use vscode-icons anymore.

[2016-09-14 10:19] robertohuertasm commented on #12004
@brikibsw, @bpasero opened [this issue](https://github.com/robertohuertasm/vscode-icons/issues/308) in vscode-icons' repo.

vscode-icons now supports official icons so I wouldn't say that installing it could cause any potential issue per se. It's just the combination of using the custom functionalities and the Insiders build together. If you just want the icons you can install it and use the offic

[2016-09-14 10:38] maqboolkhan commented on #4369
yes kindly fix it asap this is really important

[2016-09-14 11:41] ngdlmk opened #12016 "black screen problem"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1.When i left vs code opened for a while all window is going to be dark and this happend every time.

[2016-09-14 11:51] DonJayamanne commented on #11852
@jrieken , is JavaScript supported in in html returned by TextDocumentContentProvider?
I've found that JavaScript just doesn't work, I was under the impression this was by design (script tags being deliberately stripped off)

[2016-09-14 11:52] mightypenguin commented on #5970
It would be nice to have an option to NOT do GIT change tracking inside symlinks. If my symlink is to another folder in the same git repo I don't want the changed files showing up twice in Code's Git view.

[2016-09-14 11:59] 4kochi commented on #12009
Thanks for the hint with the workaround. Works fine now.

[2016-09-14 12:07] DonJayamanne commented on #11852
@jrieken , nope I'm wrong it works.
I'm certain this didn't work a month ago.

[2016-09-14 12:13] avjgit commented on #11881
I was not specific enough. I meant ability to select a block of text, then press Ctrl+Shift+L to split it into one selection per line.

[2016-09-14 12:31] xucaen commented on #11958
Thank you. Upon further research, it would seem that the author of that
extension has abandoned the extension. I would kindly ask that it be
removed from the extensions repository.

Thank you.

On Wed, Sep 14, 2016 at 12:47 AM, Benjamin Pasero <notifications@github.com>
wrote:

[2016-09-14 12:36] EnolCook opened #12017 "Automaticly assign Tab name from file content"
One really usefull feature of Sublime Text (and some other Text Editor) is that the tabs are automaticly named by the beginning of a file openned in it.
You can easly create new tab and write things and find them between other openned tabs.

As the Hot File saving feature is comming, this feature is also really important to find the tab you want faster than seeking trough your openned tab.

How it

[2016-09-14 12:42] osnoser1 commented on #7727
Not only special chars, i think that are all unicode characters.
My user folder is 'Alfonso Andrés'.
Windows 10.

[2016-09-14 12:58] joaomoreno opened #12018 "Support bundling extensions from Marketplace at build time"
cc @weinand @roblourens

- [x] Query bundled extensions
- [x] Bundle extensions at build time
- [x] Prevent installation of these extensions from the Marketplace

[2016-09-14 13:00] kaleb commented on #11691
@dbaeumer Confirmed. My make files no longer blow up when multiple instances are opened.

[2016-09-14 13:02] joaomoreno commented on #11952
Strange indeed. I'll keep an eye out for more people talking about this, maybe we can correlate it with something. Thanks!

[2016-09-14 13:09] joaomoreno commented on #11918
I could reproduce! Definitely a bug, thanks for the persistence, @jyavenard!

[2016-09-14 13:10] tgrosh commented on #6734
+1

This is a must have feature for me. Every time I sit down to do my LESS work, I always end up switching back to Visual Studio so I can get the references for my variables and mixins. This needs to happen.

[2016-09-14 13:11] joaomoreno commented on #11618
Why do you say this?

Are you trying to open a folder inside `Program Files`? Do you have a `.git` folder in there?

[2016-09-14 13:13] joaomoreno commented on #5970
This issue is about displaying symlinks in the git view and what happens when you click them. Neither Code nor git follow (or should follow) the symlinks.

[2016-09-14 13:24] roblourens opened #12019 "Debug adapters can't return an object from a setVariableRequest"
The protocol only lets them return a string in SetVariableResponse, but you can edit a variable to be an object.

Either the response should contain a Variable, or vscode should do another variables request for the object/scope that was edited.

[2016-09-14 13:31] realmx commented on #11533
@bpasero not repaired 🙄
![111](https://cloud.githubusercontent.com/assets/6071313/18514046/9434457c-7ac2-11e6-8f99-a27521e75ef9.png)
![222](https://cloud.githubusercontent.com/assets/6071313/18514054/97a701ae-7ac2-11e6-9cdb-d5efb7d72c2a.png)

[2016-09-14 13:36] dbaeumer commented on #11691
@kaleb Great.

[2016-09-14 13:42] weinand commented on #12009
A new Insider build with a fix is available now.

[2016-09-14 13:42] #12009 closed

[2016-09-14 13:42] cjdell commented on #11963
I'm having a similar issue with the Code Helper process. I have disabled all extensions. It appears to be steadily getting worse. It was minor annoyance a few weeks ago, I would occasionally just kill the Code Helper process and be back to normal again. Now the Code Helper just eats 100% of a core almost all of the time now. I even see this happen on occasion now:

![image](https://cloud.githubuse

[2016-09-14 13:45] douglas commented on #396
This is the only thing that is holding me to adopt it.

I know that you may have a lot of other issues to fix and other features to implement, but, at least some basic support to get started would be awesome.

Thanks for the hard work on VSCode!

[2016-09-14 13:46] heidricha commented on #1884
I don't mind the default blue, my problem is, that it is blue for all VScode windows.

It would be fine to set the color quickly (right click on status bar??). when working with more than one window of VS code, I could be able to spot the window I need on the gnome task selection

anyway, sometimes the status bar is purple, or orange, which seems have specific meanings

[2016-09-14 13:49] egamma opened #12020 "Debt - Revisit and improve the use of the editor inside the debug console"

[2016-09-14 13:53] egamma opened #12021 "Inform users that they are running a patched version of VS Code"
There are some extensions that patch the VS Code bits. Since such a configuration hasn't been tested we need to inform the user that they are running an untested/unsupported version of VS Code.

[2016-09-14 13:53] kumarharsh commented on #711
@egamma I'm getting the same error when I view a javascript file in the Git diff view after updating to 1.6-insider. The only change in settings I've done is setting the `nodePath` for eslint. @dbaeumer could it be related to that?

Although I must say that nothing is breaking (visibly) due to this error yet, just pressing escape dismisses it and I can keep working, and this error is *not* being s

[2016-09-14 14:03] bpasero opened #12022 "Explorer no longer shows "..." for cropped file labels"
A regression from using `display: inline-block` for the labels.

@aeschli fyi

[2016-09-14 14:06] rockandthemes opened #12023 "Problems after last update (1.5.2) with less files and autocompiler"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 6.1.7601

Steps to Reproduce:
1. One less file with more than 2000 lines
2. CTRL+S to save and autocompile... vscode hangs
3. Need to kill the process and restart vscode

[2016-09-14 14:07] #12022 closed

[2016-09-14 14:08] bpasero commented on #11977
@mrmlnc happy to review a PR if you wanna give it a shot 👍

[2016-09-14 14:15] giancarlo88 commented on #2915
I'm also having the same issue.

[2016-09-14 14:15] bpasero opened #12024 "Explorer: files with spaces produces bad CSS classes"
Steps to Reproduce:

1. create a file `foo hidden bar.txt`
=> file gets hidden from explorer because `hidden` is a top level CSS rule to hide something

We should do some simple CSS escaping for whitespace.

@aeschli fyi

[2016-09-14 14:16] #12024 closed

[2016-09-14 14:18] jefffriesen commented on #11991
@bpasero You just asked the right question. I had copied keybindings from this repo: https://github.com/waderyan/vscode-atom-keybindings/blob/master/package.json#L59

I deleted those and it works fine now. Thanks and sorry about the trouble

[2016-09-14 14:18] #11991 closed

[2016-09-14 14:20] capaj opened #12025 "support running from CLI with :line:collumn"
I'd like to request a new CLI feature to match Atom and Sublime text. These editors both can start from cli and jump to line and collumn.

For example when I run:
[code]
I would expect to have the file opened and my cursor on line 3 column 10.
Currently the file is not opened, because VScode thinks those double dots are a part of file name.

It would be great to have this. If you're interested in

[2016-09-14 14:20] bpasero commented on #11533
Crazy. And this is with latest Sierra I guess?

[2016-09-14 14:21] bpasero commented on #11963
@cjdell also please find  out the full arguments of the process that goes ballistic: `ps aux | grep <pid of process>`

[2016-09-14 14:33] dfenster opened #12026 "Line number no longer used in quick open"
- VSCode Version: 1.5.1
- OS Version: OSX Yosemite

Steps to Reproduce:

1. Open quick open with Command P
2. Type in a file name with line number (authorization.js:88)
3. File is never found. it should find authorization.js and scroll to line 88.

[2016-09-14 14:38] daviwil commented on #10917
Awesome, thanks a lot!

[2016-09-14 14:39] Bill-Stewart commented on #11881
I would suggest to open a new issue, use a better subject line, and give specifics of the behavior you'd like to see. A use case would also be helpful (why do you need it?).

[2016-09-14 14:41] ferarias commented on #11618
Nope, I just start Code, open a folder and then try to run a GIT operation. When starting as normal user, I get an error. When starting as an admin, it continues but says my solution folder is not initialized for git.
Furthermore, I see the VS Code folder has been git-initialized
C:\Program Files (x86)\Microsoft VS Code
![image](https://cloud.githubusercontent.com/assets/5538461/18516659/1b5be8bc-

[2016-09-14 14:42] soljohnston777 commented on #11966
Thanks!  This really helped.

[2016-09-14 14:45] sqrtroot opened #12027 "Feature Request: Open error window when errors are found"
- VSCode Version: 1.5.2

I would like the problems window to automatically open when a problem is found by the task runner.
Would it be possible to implement this feature?

[2016-09-14 14:47] PunchyRascal opened #12028 "Save file to disk even if not changed when saving"
Maybe this is more of a feature request, but I would like the editor to touch the saved file even though there has not been any change in the contents of the file. This is useful in a scenario where for example a test is run when you save/change a file.

Steps to Reproduce:

1. save unchanged file
2. observe file not being touched

- VSCode Version: 1.52
- OS Version: Win 10 64bit

[2016-09-14 14:57] Tyriar commented on #11553
Ah OK, I think the terminal is fine as is as it uses a native scroll bar currently.

[2016-09-14 15:01] joaomoreno commented on #11618
Can you delete that `.git` folder and see whether you still get the error and/or whether the folder comes back?

[2016-09-14 15:04] joaomoreno opened #12029 "Split intellisense icon sprite"

[2016-09-14 15:04] cjdell commented on #11963
@bpasero Here you go:

`/Applications/Visual Studio Code.app/Contents/Frameworks/Code Helper.app/Contents/MacOS/Code Helper /Applications/Visual Studio Code.app/Contents/Resources/app/out/bootstrap --type=searchService`

[2016-09-14 15:09] bpasero commented on #11963
@pitAlex for you as well?

@chrmarti this points to an issue with search service, moving to you.

[2016-09-14 15:10] chrmarti commented on #11994
@markusm7 You're guess is right, I'm using the 'find' command line tool to get the full list of files. I'm working on applying folder exclusions with find's -prune switch to recover the performance lost in cases with large excluded folders.

Thanks for the feedback. Closing as a duplicate of #11874.

[2016-09-14 15:10] #11994 closed

[2016-09-14 15:12] Wallethub commented on #11963
@bpasero I'll post as soon as it happens again, I didn't look at arguments last time it did.

[2016-09-14 15:15] cjdell commented on #11963
May also be relevant, my project directory has 82097 files, though all but about 2000 of those files are excluded in `settings.json`.

[2016-09-14 15:17] #12026 closed

[2016-09-14 15:23] ts-taiye opened #12030 "Env variables are not set while working with externalTerminal"
- VSCode Version: 1.5.1 (07d663dc1bd848161edf4cd4ce30cce410d3d877)
- OS Version: Mac Os 10.11.5 (15F34) El Capitan

Steps to Reproduce:

1. make python script
[code]
2. make run configuration
[code]
3. Launch

Expected result: 1 will be printed
Actual result: None will be printed

More: with integratedTerminal works fine

[2016-09-14 15:24] ferarias commented on #11618
If I delete the folder and start Code, I get this:
![image](https://cloud.githubusercontent.com/assets/5538461/18518400/1996d806-7aa0-11e6-9523-81c5067ee89c.png)

If I click, then I get
There was an issue running a git operation. Please review the output or use a console to check

[2016-09-14 15:26] Bill-Stewart commented on #11007
Does code have a 'select current line' command (like if I move to column 1 then press `shift+end`)?

[2016-09-14 15:30] bpasero commented on #12025
Try `code -g`

[2016-09-14 15:30] #12025 closed

[2016-09-14 15:32] bpasero commented on #12016
@ngdlmk can you share a screenshot?

[2016-09-14 15:33] Bill-Stewart commented on #11007
You can do this by selecting all or part of the lines, press command for `expandLineSelection` (default `ctrl+i`), then cut/copy/paste or reposition lines using `moveLinesUp` (default `alt+up`) and/or `moveLinesDown` (default `alt+down`).

[2016-09-14 15:33] chrmarti commented on #11963
We've seen similar reports with many 'find' processes sticking around. So far I assumed these were triggered by #11181 because the user might have opened-closed QuickOpen a few times while 'find' is taking some time due to #11874, yet it seems there is more to it.

Any idea why 'find' might stay around?

@cjdell To confirm this is something else: Could you run `time (find -L . -type f | wc -c); ec

[2016-09-14 15:38] bpasero commented on #12002
@Crash4you can you provide more details?

[2016-09-14 15:45] joaomoreno commented on #12029
@bgashler1 Can we get these svg icons separated?

https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/suggest/browser/symbol-sprite.svg

[2016-09-14 15:47] bpasero commented on #11977
@gregvanl @egamma here is how it looks like after @mrmlnc PR

<img width="763" alt="screen shot 2016-09-14 at 17 46 32" src="https://cloud.githubusercontent.com/assets/900690/18519193/3f0c3fb0-7aa3-11e6-9a47-727b4c75a2c7.png">

[2016-09-14 15:48] joaomoreno commented on #11618
Using something like [Process Hacker](http://processhacker.sourceforge.net/) can you look for a Code.exe process that contains the word `git` in it and show me the full command line it was launched with?

[2016-09-14 15:54] joaomoreno commented on #11309
cc @jrieken

[2016-09-14 15:54] #11309 closed

[2016-09-14 15:57] realmx commented on #11533
@bpasero yes yes

[2016-09-14 15:57] thoughtentity opened #12032 "TypeScript `this` Type Information Dosen't Surface Properly in Editor"
## TypeScript `this` Type Information Dosen't Surface Properly in Editor

### Environment Information

* VS Code Version: 1.6.0-insiders (f31a4)
* OS Version: Windows 10 1607 (Build 14393.105)
* TypeScript Version: 2.0.2 (Release Candidate)

### Problem

In TypeScript 2.0, the shape of `this` for functions can be described using [type annotations](https://github.com/Microsoft/TypeScript/pull/6739)

[2016-09-14 16:17] gregvanl commented on #11977
@bpasero I think I like the parentheses and dash for Configured Language better.  I would also add some explanation in the upper right where now it just says "languages".  Maybe "languages and language identifiers" or "languages (language identifier)" if we use parentheses.

[2016-09-14 16:44] imsky commented on #11963
happening to me as well

CPU hog is this command:

[code]

[2016-09-14 16:50] james-cxx opened #12033 "Markdown Preview following a file rename errors on old filename."
- VSCode Version: 1.5.2
- OS Version:  Windows 7 Professional Service Pack 1

Steps to Reproduce:
1.  Rename a Markdown file in Explorer panel that is currently open in an Editor tab.  Note that the filename shown on the Editor tab is properly updated.
2.  With the Editor tab for the file selected, click the Preview button.

Result:  An error message is shown stating that the file (referring to th

[2016-09-14 16:51] Crash4you commented on #12002
I am using VS code, anytime i open a folder or try to work on a project, none of my commands are found.
Here is what is displayed.

[2016-09-14 16:51] Crash4you commented on #12002
![vs error](https://cloud.githubusercontent.com/assets/15949281/18521402/fe02a532-7a79-11e6-8fe1-d55bebca5fea.PNG)

[2016-09-14 16:57] jameslaneconkling commented on #11963
I'm experiencing something similar to @cjdell: vs code spins up a bunch of 'find' processes that eat up a huge amount of CPU time when searching for files, and searching for files essentially hangs.  The project I'm running into this with has a huge dependency tree, all of which should be excluded by the `files.exclude` setting.

This was not an issue before this morning, when I updated to 1.5.2 (

[2016-09-14 16:59] james-cxx opened #12034 "Right-click Copy for selected text in Markdown Preview"
While text can be highlighted and copied from Markdown Preview with Ctrl+C, it would be very nice to also have a right-click context menu with a Copy operation for the selected text.

[2016-09-14 17:10] alexandrudima opened #12036 "VSCode is very laggy when used on a system with touchscreens"
See electron/electron#7208

[2016-09-14 17:12] alexandrudima commented on #11811
@furkankinyas Do you have a laptop with a touchscreen?

[2016-09-14 17:13] alexandrudima commented on #11659
@NiggyWizzyWoz Do you have a laptop with a touchscreen?

[2016-09-14 17:15] alexandrudima commented on #9517
@janhartmann @juol
Do you have a laptop with a touchscreen?

[2016-09-14 17:17] alexandrudima commented on #9406
Do you have a laptop with a touchscreen? Might be #12036

[2016-09-14 17:18] alexandrudima commented on #7797
@gregvanl Do you have a laptop with a touchscreen?

[2016-09-14 17:18] alexandrudima commented on #7726
@euclimauro Do you have a laptop with a touchscreen?

[2016-09-14 17:20] alexandrudima commented on #5464
@gregvanl ping -- Do you have a laptop with a touchscreen?

[2016-09-14 17:20] alexandrudima commented on #4955
@mindplay-dk Do you have a laptop with a touchscreen?

[2016-09-14 17:21] alexandrudima commented on #1799
@othebe Do you have a laptop with a touchscreen?

[2016-09-14 17:25] janhartmann commented on #9517
Yes. Leveno X1 carbon - issue is still a bit present to be honest

[2016-09-14 17:28] XVincentX commented on #11838
@jrieken I started contributing #12035 and I liked it.

Would you be open to an user contribution here?
If you could point out where I should start look, I'd love to give it a try!

[2016-09-14 17:36] waderyan commented on #4039
@suiwenfeng good question. Out of the box, JavaScript and TypeScript are supported. For other languages you'll need to install an extension that supports code formatting for that language. There are many language service extensions in the [Marketplace](https://marketplace.visualstudio.com/) (see [Go](https://marketplace.visualstudio.com/items?itemName=lukehoban.Go) for example).

[2016-09-14 17:37] bording commented on #5516
I do have a laptop that has a touchscreen, but that is a different machine than the one that has the G-SYNC monitors.

[2016-09-14 17:39] alexandrudima commented on #5516
Ok, I was just doing a pass to check if you're hitting #12036. I guess not.

[2016-09-14 17:41] alexandrudima commented on #9517
👍  let's track in this case in #12036

Please also see electron/electron#7208

[2016-09-14 17:41] #9517 closed

[2016-09-14 17:42] Tyriar commented on #12006
cmder is a full-blown terminal emulator, not a psuedo terminal/shell which is what you need to specify there. Think of it that cmder is basically what the VS Code integrated terminal is, you cannot attach VS Code's integrated terminal to cmder for example. So this is a duplicate of #6935

I think [Clink](https://mridgers.github.io/clink/) is cmder's underlying shell, however I believe there are so

[2016-09-14 17:42] #12006 closed

[2016-09-14 17:47] bording commented on #5516
That electron issue does give me some ideas for investigating the problem I'm seeing a bit more, so thanks for bringing it up.

[2016-09-14 17:49] janhartmann commented on #12036
Great catch - looking forward to a fix. Let me know if I should provide you guys any info.

[2016-09-14 17:50] mindgrub-rkoch commented on #11957
I'm having the same issue with C#. Format Code does not appear in the context menu for me and whenever I use the shift+alt(option)+F, I get the character `Ï`. I did a fresh install through homebrew and it did not help. I've also tried installing clang-format, which also did not work.

[2016-09-14 17:57] muellerkyle commented on #10568
I'm the original requestor for the item on the Bookmark extension. I'd like to add a reference to my original request with the VSCode team, which was referred to the Bookmark extension. It seems that this is blocking him from being able to implement this outside of VSCode.

See: https://github.com/Microsoft/vscode/issues/224#issuecomment-218665430

[2016-09-14 18:00] yourbudweiser opened #12037 "PHP Comment Tags for HTML Content"
- VSCode Version: 1.5.2
- OS Version: Windows 8.1Pro

Steps to Reproduce:
1. Highlight HTML code on a .php page
2. Press Control+K, Control+C
3. VS Code inserts PHP comment tags instead of HTML comment tags

`// <h1>This is a PHP comment</h1>`
``

[2016-09-14 18:02] octref opened #12038 "Integrated Terminal does not show first line when switched into focus"
- VSCode Version: 1.6.0 Insider
- OS Version: OS X 10.11.6

Steps to Reproduce:

1. Download and open https://github.com/Microsoft/vscode-extension-samples
2. Run the terminal sample

![terminal](https://cloud.githubusercontent.com/assets/4033249/18523809/b7f88dae-7a6a-11e6-9046-fa093ce43c32.gif)

[2016-09-14 18:21] Tyriar opened #12040 "Identical file name path in tab is too long and difficult to diff"
- VSCode Version: Code - Insiders 1.6.0-insider (fad6a894c197ee791403ac694c9316b0654f31a4, 2016-09-14T13:18:39.616Z)
- OS Version: Linux x64 4.4.0-36-generic, Ubuntu 16.04

Current:

![image](https://cloud.githubusercontent.com/assets/2193314/18524039/a403a33c-7a6b-11e6-94e6-02f60bc61668.png)

Proposed:

![image](https://cloud.githubusercontent.com/assets/2193314/18524117/fe9a1f7e-7a6b-11e6-8c73-0

[2016-09-14 18:22] ramya-rao-a commented on #11957
@mindgrub-rkoch Are you referring to the [Clang-Format](https://marketplace.visualstudio.com/items?itemName=xaver.clang-format) extension? According to the link, this extension is for C/C++/Java/JavaScript/Objective-C/Protobuf  and not C#

What other extensions do you have?

[2016-09-14 18:32] mindgrub-rkoch commented on #11957
I've also tried Uncrustify (1.3.3). I installed uncrustify via homebrew and set the `uncrustify.executablePath` in my settings to `/usr/local/bin/uncrustify` which did not work. I also tried `/usr/local/Cellar/uncrustify/0.63` as the path which still did not work. According to the docs for that, I don't necessarily need to set the `uncrustify.configPath`

[2016-09-14 18:38] Rooomaaa opened #12041 "Cant set my prefered font - Terminus (SOLVED)"
- VSCode Version: 1.5 ( last version available today - 9/14/16 ) 1.4v also was tested without success.
- OS Version: Ubuntu, Kali, gentoo, rhel-7.2

Steps to Reproduce:

1. apt-get install xfont-terminus
2. Open vscode and try to change font family to "xfont-terminus" or "terminus" or "Terminus" or "ter-u12n.pcf" --- no one is work. I tried a lot of combination with zero success :(

It is my prefe

[2016-09-14 18:54] smkamranqadri commented on #8108
+1

[2016-09-14 19:01] nengxu commented on #329
I am new to VSCode, still mostly using Atom. Would like to see a portable 64bit version on windows. Or should we now use this one instead?

https://github.com/garethflowers/vscode-portable

[2016-09-14 19:02] bpasero commented on #12002
@Crash4you are all commands from PowerShell?

[2016-09-14 19:04] bpasero commented on #12040
Sounds like a fun PR. The entry point is https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/browser/parts/editor/tabsTitleControl.ts#L258

[2016-09-14 19:10] NikosEfthias commented on #8108
well i am not the only one seems like

[2016-09-14 19:22] michaeljota commented on #10766
Did this get solved in the 1.5 update? I mean, now you can select if want to use workspace typescript compiler instead.

[2016-09-14 19:24] michaeljota opened #12042 "VS Code hangs when update dependencies"
- VSCode Version: 1.5.2
- OS Version: Windows 10 (AU)

Steps to Reproduce:
1. Open a proyect fresh cloned.
2. Run `npm install` in a (external) terminal.

VS Code stop responding. I ran it with the integrated terminal and an external one with the same results.

Edit typo.

[2016-09-14 19:26] michaeljota opened #12043 "Crash prompt to reload window does not work in all cases"
- VSCode Version: 1.5.2
- OS Version: Windows 10 (AU)

Steps to Reproduce:
1. Hangs VS somewho (see #12042 for example)
2. Wait until the promp window ask you what to do.
3. Select "restart" editor.

The editor doesn't restart itself. Have to close it manually, and open again.

[2016-09-14 19:33] deanberwick commented on #4803
I have the finger count sub-option set up to be unambiguous between them and scrolling like so:
<img width="330" alt="screen shot 2016-09-14 at 1 27 21 pm" src="https://cloud.githubusercontent.com/assets/1052083/18526843/6ca7e06a-7a7f-11e6-8b3c-08f52a0f8651.png">
Which causes the pages to change without the transition animation.
This solved a few poor performance and glitchy gesture collisions for

[2016-09-14 19:38] Crash4you commented on #12002
powershell,java,C++, most of the extension/commands

[2016-09-14 19:41] hangxingliu opened #12044 "The code fold feature is bad in HTML file included pre and code tag"
- VSCode Version: 1.5.2  (66f37fd, 2016-09-12T 13:30:03.456z)
- OS Version: Windows 7  6.1.7601

Steps to Reproduce:
1.  There is an HTML file in VSCode like this:(it include a `pre` ,a `code` tag and some other language code inside the `code` tag)

   ![2016-09-15_033153](https://cloud.githubusercontent.com/assets/4303130/18526925/294cec18-7af5-11e6-976c-65296341fd21.png)
2.  And I click the fold

[2016-09-14 19:52] Crash4you commented on #12002
if i do ctrl+p/ctrl+shift+p,none of the commands are found that are used in the setup videos

[2016-09-14 19:58] Tyriar commented on #329
@nengxu not sure exactly how it works but I would be concerned about running some exe file of which you're not sure how it was built.

[2016-09-14 20:01] joaomoreno commented on #11618
Does it work if you edit a repository in `C:`?

[2016-09-14 20:02] Tyriar commented on #329
Can anyone confirm whether there are any issues running this as portable when both `--extensionHomePath` and `--user-data-dir` set? If that's all there is to it, a new .zip/.tar.gz could be packaged which replaces the launch script or includes relative extension and user data paths some other way.

[2016-09-14 20:23] dbaeumer commented on #10766
You can also set the typescript.tsdk variable to make this persistent for a workspace

[2016-09-14 20:25] dbaeumer commented on #711
No, the nodePath variable is only interpreted by the ESLint server.

[2016-09-14 20:28] dbaeumer commented on #11988
@fusion809 thanks. Done!

[2016-09-14 20:28] #11988 closed

[2016-09-14 20:28] jmconde commented on #7278
It would be great too if also is allowed to compare selection with clipboard.

[2016-09-14 20:28] OutsourcedGuru opened #12045 "The Update feature results in linkage and Default App problems"
- VSCode Version: 1.5.2
- OS Version: OS X El Capitan 10.11.6

Steps to Reproduce:
1. Open an existing installation of vscode and select the Update link
2. Upon updating, note that the newly-downloaded .app file is within the ~/Downloads folder rather than in Applications, making it not readily available for the Launchpad nor to the Open With... lookup within the Finder application.  This will sho

[2016-09-14 20:29] RaniSharim commented on #10610
Ok, I played with it a little. It seems to be an issue with the file itself - maybe attributes, maybe security, can't figure it out.

What I did:

This **did not** have a problem:
1. created a new project
2. copy&paste the **content** of one of the files which are having the problem.

This **did** have a problem:
1. new project
2. copy&paste the **file itself** from the old problematic project to

[2016-09-14 20:32] dbaeumer commented on #11791
Yes, makes sense to add the option. Can you open an issue and set it to September.

[2016-09-14 20:35] mitchellnemitz commented on #9456
I seem to be 28 days late to the party, but this is also a feature in Atom that I'm sorely missing. With auto-reveal turned on and a large complex project, it can take forever to clean up the explorer, manually closing each directory all the way up to the root.

[2016-09-14 20:43] waderyan commented on #10766
@psnider thank you for opening this issue. Sorry for the delay this fell through my query.

Is this resolved for you now with 1.5 update (as @michaeljota asks above)?
Can you confirm you've followed the steps as described [here](https://code.visualstudio.com/docs/languages/typescript#_using-newer-typescript-versions)?

[2016-09-14 20:50] waderyan opened #12046 "Add support for InsertSpaceAfterOpeningAndBeforeClosingJsxExpressionBraces"
## Feature Request

**User Scenario**

Steps to Reproduce:

1. TypeScript Version: 2.*
2. `<input value={ this.state.value } />`
3. Format document

**Expected behavior:**
In **1.8.10** the spacing inside the brackets was unchanged on format operation (closing bracket `}` or format document).
`<input value={ this.state.value } />`

**Actual behavior:**
In **2.*** the space inside the brackets is a

[2016-09-14 20:52] waderyan commented on #11791
Issue created [here](https://github.com/Microsoft/vscode/issues/12046)

[2016-09-14 20:58] waderyan commented on #11968
@mbifulco OK I misunderstood. Please clarify my understanding below.

1. A task is currently running, but it was not started in debug mode.
2. You want to debug the task.

If the task is not currently running, then you can simply run the task operation through the debugger, which is what is described in the configuration example [here](https://raw.githubusercontent.com/Microsoft/vscode-samples/mas

[2016-09-14 20:59] waderyan commented on #11951
I believe this will be fixed with the latest grammar update. @aeschli can you speak to this?

[2016-09-14 21:02] waderyan commented on #11948
@ydcoming thank you for opening this issue. Can you provide me with a simple example I can use to recreate the issue you are seeing?

[2016-09-14 21:14] jpconsi opened #12047 "Release 1.5 Quick Open never finishes and Activity Monitor shows high CPU"
- VSCode Version: 1.5.2
- OS Version: Max OSX 10.11.5

Steps to Reproduce:

1. In Visual Studio Code editor, Command P.  Type in a file to search for.  It searches but never finishes.
2. Open Activity Monitor and it shows find using high cpu 80% and Code Helper using 120%.

3.  Have to force quit find and Code Helper in order to recover.

Note: In prior versions I was using Command E and it worked

[2016-09-14 21:16] bgashler1 commented on #11989
# Notes

## Refactoring extensibility feedback
The Zurich team feels that the _preview experience_ is unneeded for the refactoring and that it doesn't solve the underlying problem of discoverability.  However, Steven made a good point that a preview might help new users trust using the feature, since they could validate how it works before it touches their code.  Later these users may feel no more

[2016-09-14 21:16] #11989 closed

[2016-09-14 21:18] Tyriar commented on #11989
FYI @kieferrm

[2016-09-14 21:19] #11785 closed

[2016-09-14 21:24] liddiard commented on #11978
@lukaschal sorry I'm not sure how to figure out which parts of the UI correspond to the entries in the snippet above. If I can still be of help there please let me know how I'd find that, but basically the only time it should be in the current verb form is if it's something like an action button meaning "press this button to *open* the *editors*".

Also confirmed that it's a problem in French wher

[2016-09-14 21:28] octref opened #12048 "Feature Request: Scroll Off"
In Vim, you can set a scrolloff so it keeps at least N lines below the cursor:

![scrolloff](https://cloud.githubusercontent.com/assets/4033249/18530654/6bb338c8-7a87-11e6-85c7-deab2d060d48.gif)

Currently Code has a scrolloff of 1. Would be great if this is made an option.

[2016-09-14 21:28] Izhaki commented on #7470
+1

Need for chokidar-cli used in npm scripts

[2016-09-14 21:36] mbifulco commented on #11968
By way of example, take a look at this repo: https://github.com/mbifulco/vscode-jest-example

What I'd like to do is drop a breakpoint in any one of my tests, like https://github.com/mbifulco/vscode-jest-example/blob/master/__test__/owl.test.js#L8

And follow the execution of the test suite.  From the command line, I'd typically execute either `jest` or `npm t` to run the test suite.

If I set a b

[2016-09-14 21:53] toddmo commented on #9926
You can do ctrl+a then shift+tab a few times in the document to unindent everything. Then close and re-open and do alt+shift+f to get the document on the tab size from the settings.

[2016-09-14 21:59] DonJayamanne commented on #12030
This issue was moved to DonJayamanne/pythonVSCode#311

[2016-09-14 21:59] #12030 closed

[2016-09-14 22:15] waderyan commented on #11968
@mbifulco this is helpful. Thank you. Give me some time on this and I'll get back to you.

[2016-09-14 22:16] mbifulco commented on #11968
Great, thanks @waderyan!

[2016-09-14 22:45] bgashler1 commented on #12029
Sure.

[2016-09-14 22:51] bgashler1 commented on #12029
@joaomoreno I think we have some other sprites like this that are slightly different.  Do we need those separated as well?

[2016-09-14 22:53] waderyan commented on #11937
Will this be done in the manifest file or where will it be done?

I am not opposed to the approach, but I can see some benefit to having dependent extensions surface in the Marketplace's UI.

[2016-09-14 23:01] Bill-Stewart commented on #12048
Does VS Code have a "scroll window leaving cursor in view" command? The scroll commands I see in the default keymapping all scroll the cursor out of view.

[2016-09-14 23:21] SomeGuy54321 commented on #11051
Sorry about the delay here, I just downloaded and installed `code_1.5.2-1473686317_amd64.deb`, updated all my extensions, and the issue's still exactly as I described. Copy/paste from Chromium is fine (Chrome as well FWIW).

[2016-09-14 23:38] Abhi347 commented on #7672
I am still experiencing this issue in 1.5.2 in El Capitan. I had to source bash_profile everytime. I thought it was fixed in 1.3.0

[2016-09-15 00:07] ArtemGovorov commented on #3351
@isidorn Should I create a separate issue for output channels where the output is refreshed and not appended?

[2016-09-15 00:08] rlabrecque commented on #329
I checked this out and the following issues remain:
Launching with: `"D:\Applications\Visual Studio Code\Code.exe" --user-data-dir "./.vscode/" --extensionHomePath "./.vscode/extensions/"`

Opening the extensions dialog causes an error `Marketplace returned 'ECONNREFUSED'. Please check the 'http.proxy' setting.`

Opening the user settings causes [settings.json](https://github.com/Microsoft/vscode/

[2016-09-15 00:11] garfieldbanks opened #12049 "Do not add to recent files list when running with "--diff""
- VSCode Version:152
- OS Version:10Ann

Steps to Reproduce:

1.  [Setup vscode as the default difftool for git](https://code.visualstudio.com/docs/editor/versioncontrol)
2. Run: `git difftool <commit>^ <commit>`
3. Check recent files list to see it populated with temp files

[2016-09-15 00:33] Arnavion opened #12050 "Also prepend closed files to the "Open Recent" list as they're closed"
- VSCode Version: 1.5.2
- OS Version: Windows Server 2012R2

Steps to Reproduce:
1. Create a new file, save it as test.txt and close the tab.
2. Look in `File -> Open Recent` - test.txt is not there.

Similarly
1. Open files foo.txt, bar.txt, baz.txt
2. Close foo.txt
3. Look in `File -> Open Recent` - foo.txt is not at the top of the list.

This behavior is present atleast in NPP, and is very usef

[2016-09-15 00:49] Arnavion opened #12051 "[Suggestion] Markdown: Indentation inside code blocks should not affect indentation detection for the rest of the document"
- VSCode Version: 1.5.2
- OS Version: Windows Server 2012R2

Steps to Reproduce:
1. Set `editor.tabSize` to `4` and `editor.detectIndentation` to `true`.
2. Create a markdown file with the following contents:

[code]

   Replace the \* with markdown backticks so that the second `asdf` and `qwer` are in a code block.

   To clarify, the `qwer` outside the code block is indented by a tab character,

[2016-09-15 01:00] Arnavion opened #12052 "Add "Reveal in Explorer", "Copy path", etc actions to the context menu of the tabs as well"
- VSCode Version: 1.5.2
- OS Version: Windows Server 2012R2

Steps to Reproduce:

Currently the "Reveal in Explorer", "Copy path", etc actions are only shown in the context menu of items in the Explorer sidebar. When I'm not in a workspace I usually have this bar closed to save screenspace, so opening it just to do one of these actions is annoying. It would be nice if all these actions were also p

[2016-09-15 01:23] mjbvz commented on #7003
This looks like it has been fixed, perhaps by #7014

![screen shot 2016-09-14 at 6 22 24 pm](https://cloud.githubusercontent.com/assets/12821956/18535328/327f7d70-7aa8-11e6-8664-a003c4b66f52.png)

[2016-09-15 01:47] tompiarulli commented on #8606
I'm not the OP but to speak to why someone would change the zoom level - the zoom level increments are really large. Doing one CMD+ for me results in the text being huge, whereas by default the text is a bit too small.

Why does font size not solve it? Because the UI elements like the explorer etc aren't affected by it. Making the zoom level adjustments more incremental would solve it.

[2016-09-15 01:53] jamesqo commented on #7003
@mjbvz I meant while you were editing the markdown (in the `bla.md` tab), not in the preview view. I closed that PR btw.

[2016-09-15 02:22] jjacode commented on #12006
@Tyriar, thank you for that explanation. That makes more sense.

[2016-09-15 02:34] bdchauvette commented on #8585
This seems to be a problem with electron rather than VSCode specifically. See e.g. electron/electron#683 and electron/electron#4552

The workaround I'm using is to set the [`ELECTRON_NO_ATTACH_CONSOLE`](http://electron.atom.io/docs/api/environment-variables/#electronnoattachconsole-windows) environment variable inside of the node process before spawning any instances of `code`:

[code]

[2016-09-15 02:57] Tyriar commented on #7672
@Abhi347 the fix is to specify the -l argument as shellArgs in your settings.json file

[2016-09-15 03:29] aoyulong opened #12053 "Curly braces' position of c code is changed after using 'shift-alt-f' to format the code block."
- VSCode Version: 1.5.2
- OS Version: win10 64bit.

When I use the 'shift-alt-f' to format the code block I have selected,  the curly braces' position is changed and they aren't on their own lines any more.

The code before formatting:
![image](https://cloud.githubusercontent.com/assets/3069790/18537348/756b0354-7b37-11e6-9558-a8683dfb18ce.png)

The code after formatting:
![image](https://cloud.gi

[2016-09-15 03:59] mikehans commented on #9406
It appears it may have been an extension for me too.

[2016-09-15 03:59] chrmarti commented on #11874
Fixed: 50bb7aad57cbf1924e28472de52734be49645558

[2016-09-15 03:59] #11874 closed

[2016-09-15 04:00] aoyulong opened #12054 "Is there any shortcuts to switch between editors and the integrated terminal."
- VSCode Version: 1.5.2
- OS Version: win 10, 64 bit

My qustion is that is there any shortcuts to switch between editors and the integrated terminal? Here I can  only use the CTRL+1, CTRL+2... to switch the open editor tabs.

[2016-09-15 04:03] lejun commented on #11498
@preetb123
[code]

[2016-09-15 04:45] ramya-rao-a commented on #11957
@mindgrub-rkoch  The C# extension should have provided formatting feature for you. Can you log an issue in the repo for the C# extension? They should be able to help you narrow down on the issue.

[2016-09-15 04:47] bpasero commented on #12002
@Crash4you maybe they only work if you open a folder?

[2016-09-15 04:50] bpasero commented on #12042
@michaeljota does this produce a top level node_modules folder? can you share your settings?

[2016-09-15 04:51] bpasero commented on #12043
I noticed this too but it seems to depend on what kind of crash you are ending up with.

[2016-09-15 04:53] bpasero commented on #12049
Makes sense 👍

[2016-09-15 04:54] bpasero commented on #12053
Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market place, click on the **Support** link to find out more.

<im

[2016-09-15 04:54] #12053 closed

[2016-09-15 04:55] bpasero commented on #12033
I can reproduce.

[2016-09-15 04:59] Tyriar commented on #12054
ctrl+\` toggles the terminal by default, there is also the `workbench.action.terminal.focus` command which you can add a keybinding for if you just want to focus it.

[2016-09-15 04:59] #12054 closed

[2016-09-15 05:30] GitRASQ commented on #3884
100% agree with ollie27. Dumping stuff in the home directory is bad. Please use XDG directories.

[2016-09-15 05:39] ArtemGovorov opened #12056 "Output channel buffering ignores channel clearing"
- VSCode Version: 1.5.2
- OS Version: any

Steps to Reproduce:

[code]
results in
[code]

[2016-09-15 05:45] GitRASQ commented on #10857
Arch Linux user here. There doesn't appear to be a package for my system. Collecting dependencies and compiling is a pain, I'd love to have an appimage. The one linked above seems to no longer exist.

[2016-09-15 05:55] jankalfus opened #12058 "Save UI state periodically to prevent loss on shutdown"
- VSCode Version: 1.5.2
- OS Version: Windows 10

Steps to Reproduce:
1. Let VS Code open, lock the computer
2. Let Windows install updates and automatically restart the computer

After logging into Windows and launching VS Code, VS Code opens the project that was opened last time, but it doesn't restore editors to the state they were in last time. It restores some much older state instead (probab

[2016-09-15 06:15] Tyriar commented on #10857
@GitRASQ the community has an AUR package which we recommend. https://aur.archlinux.org/packages/visual-studio-code/

[2016-09-15 06:37] mbeckenbach opened #12059 "Show errors in the files explorer"
- VSCode Version: 1.5.2
- OS Version: Win10

Steps to Reproduce:

1. create a compile time error in some file
2. watch the file list

It would be cool if the file list on the left would show errors inside ts or cs files. Very helpful when refactoring or updating libraries with breaking changes.

[2016-09-15 06:38] mbeckenbach commented on #12059
my full vs does that. not sure if it's an extension or by default

[2016-09-15 06:45] #12049 closed

[2016-09-15 06:45] #8937 closed

[2016-09-15 06:46] joaomoreno commented on #12029
This is the only one causing pain right now afaik.

[2016-09-15 06:46] andrewv99 commented on #9191
I have the same issue on Kubuntu 14.04.

[2016-09-15 06:46] joaomoreno commented on #11937
We decided to use the (already existing) `extensionDependencies` property in `package.json`. It is a list of extension names.

[2016-09-15 06:49] joaomoreno commented on #12045
@OutsourcedGuru is this #3520?

[2016-09-15 06:52] Zarel opened #12060 "Show error messages in a better way when the message is very long"
- VSCode Version: 1.5.2
- OS Version: macOS Sierra beta

Steps to Reproduce:
1. Open a file/directory with an error

![image](https://cloud.githubusercontent.com/assets/551184/18540631/ec3f26da-7ad4-11e6-8703-a9ccca784260.png)

Expected: The error is readable

Result: The error is cut off and there's no way to read the rest of the error

[2016-09-15 06:55] bpasero commented on #1396
@jrieken I added support to write to `launch.json` and `tasks.json`. Any configuration key that starts with `launch.*` or `tasks.*` ends up in those files in the workspace. There are some new behaviours:
* I throw a new error `ERROR_INVALID_TARGET` if someone tries to write to the global settings file when using `launch.*` or `tasks.*` as key
* there is no validation happening when using `launch.*

[2016-09-15 07:08] capaj commented on #12025
works, thanks

[2016-09-15 07:21] jcdekoning opened #12061 "Less linting not working for mixins with rulesets"
- VSCode Version: 1.5.2
- OS Version: OS X 10.11.6

Steps to Reproduce:
1. Create a .less file with a mixin that has a ruleset as argument

`.tablet-and-larger(@rules){
    @media (min-width: @screen-sm) { @rules(); }
}
`
2. Less linting underlines @rules() on the @media line and also the last curly brace. The errors returned are
- } expected
- at-rule or selector expected

http://lesscss.org/feat

[2016-09-15 07:31] aeschli commented on #12023
@rockandthemes What do you mean my auto-compile? Do you have a watch process in the background?

[2016-09-15 07:39] vsamy commented on #11007
Ok, thank you for the tips.

[2016-09-15 07:40] felixfbecker commented on #3884
Well for Windows settings might get saved in the registry then instead 😄

[2016-09-15 07:41] kumarharsh opened #12062 "vscode 1.6 broke Git changes in gutter"
- VSCode Version: 1.6insider
- OS Version: Win10

Steps to Reproduce:

1. Make changes to some version-controlled file
2. Notice the absence of markings in the gutter which showed which lines have changed.
3. Despair, come to senses, wait while this issue is resolved & install vscode stable in the meanwhile.

[2016-09-15 07:45] cjdell commented on #11963
@chrmarti

[code]

[2016-09-15 08:01] Equinox opened #12063 "Right clicking Recycle Bin on Windows has the option to "Open with Code - Insiders""
- VSCode Version: Insider build (1.6.0-insider, commit fad6a894c197ee791403ac694c9316b0654f31a4)
- OS Version: Windows 10.

Steps to Reproduce:

1. Right click on the Recycle Bin icon on the desktop.
2. Notice there's a "Open with Code - Insiders" option.
![](https://i.imgur.com/g7L8Cug.png)

3. When clicked, nothing happens.

Potentially unwanted functionality and possibly added by https://github

[2016-09-15 08:08] cjdell commented on #11963
@bpasero The Code Helper process taking 100% CPU is now the `watcherService`. So it isn't just the `searchService`.

[2016-09-15 08:19] Zarel commented on #7683
Oh, oh, I have an easily reproducible testcase. At least on my setup (macOS Sierra beta, VSC 1.5.2).

1\. Clone https://github.com/Zarel/flodoc
2\. Checkout 3d6332eea4
3\. Set `launch.json` to

[code]

4\. Set a breakpoint on line 73 of `src/converter.js`
5\. Debug "Run mocha"
6\. Mash "Continue" a few times
7\.

![image](https://cloud.githubusercontent.com/assets/551184/18542968/6f4e71d6-7ae2-11e

[2016-09-15 08:31] tnikodym opened #12064 "formatOnType does not work when you navigate away from the edited line"
- VSCode Version: 1.5.2
- OS Version: OSX 10.11.6

I have `"editor.formatOnType": true` in my settings.json. It works fine when I press enter or closing bracket, but when I navigate away from the edited line (e.g. press UP/DOWN arrow, mouse-click, ...) it does not format the edited line.

Steps to Reproduce:

1. Type `let a = 1;`
2. Press enter
3. Navigate back to the line and add some whitespace

[2016-09-15 08:49] dbaeumer opened #12065 "Task framework should show status icon about watching tasks"
- VSCode Version: 1.5.0

We do have a status icon however this is only visible if the task is actively running. We should show the task in watch mode as well and allow certain actions (like terminate) on the status bar icon.

[2016-09-15 09:10] roblourens opened #12066 "Consider surfacing mapped variable names"
Sourcemaps can represent variable name mappings, like when they're changed in minified code, or TypeScript's `this => _this`. Chrome DevTools shows the original variable names in their variables sidebar: https://bugs.chromium.org/p/chromium/issues/detail?id=327092

One problem is that if you don't know the original names, you can't inspect them in the console or with watches. But I think it would

[2016-09-15 09:35] sander76 commented on #11857
Was about to open an issue, but this is about the same thing I am experiencing (?)

css code inside a `style` tag inside an html file has no intellisense suggestions.... Am I right ?

[2016-09-15 09:35] weinand opened #12067 "Array range nodes cannot be expanded"
- VSCode Version: 1.6.0 Insider
- OS Version: macOS

Steps to Reproduce:

1. create array with more 1000 elements
2. start debugging and try to expand the range [0..99]

Observe:

the node has no twisty and cannot be expanded:
![2016-09-15_10-08-36](https://cloud.githubusercontent.com/assets/1898161/18545207/71901192-7b38-11e6-9784-9f5fbe796639.png)

/cc @roblourens

[2016-09-15 09:36] jsmasher opened #12068 "Visual Studio Code editor freezes randomly while editing CSS files"
- VSCode Version: 1.3.0 - 1.5.2
- OS Version: Windows 7

Steps to Reproduce:
1. Open any project with CSS files
2. Start editing CSS files

Visual studio code freezes after sometime discarding any changes made during that period.
![capture](https://cloud.githubusercontent.com/assets/19794992/18545218/cddb3cfc-7b55-11e6-8614-984b7ab52875.PNG)

[2016-09-15 09:39] bpasero commented on #11963
@cjdell then it could be https://github.com/Microsoft/vscode/issues/3998

[2016-09-15 10:00] algosig opened #12069 "VISUAL STUDIO CODE fails to detect installed GIT and integrate it with the app."
**Information Displayed:**
_It looks like git is not installed on your system.  You can either install it with Chocolatey or download it from fit-scm.com. Once git is installed, please restart Visual Studio Code_
While I have:
**git-gui version 0.20.GITGUI
git version 2.7.2.windows.1
Tcl/Tk version 8.6.4**
installed in my machine.

- VSCode Version: Code 1.3.1 (e6b4afa53e9c0f54edef1673de9001e9f0f5

[2016-09-15 10:09] cjdell commented on #11963
@bpasero Thanks, I've added the `files.watcherExclude` setting, I was previously unaware of this. It appears to have made a difference. The Code Helper now settles down a few minutes after spooling up. This maybe the best solution (for now) for anyone experiencing this problem. I can see this was mentioned in the realise notes a while ago but it appears many people still aren't aware of it.

[2016-09-15 10:20] timlind opened #12070 "Save all keyboard short cut feature"
With Javascript compile watchers, saving all files at once is crucial for avoiding unnecessary build failures.

On Mac OS there is no keyboard shortcut to "Save All" files.

[2016-09-15 10:24] garfieldbanks commented on #11927
Happened again. Here's the screenshot:

![it 1](https://cloud.githubusercontent.com/assets/12904270/18546359/c55f5956-7afa-11e6-9769-350fd7275014.PNG)

There are no spaces in the path, if that is at all important.

I just tried git status after taking that screenshot and uploading it and it worked. It was the next command after the 'cho' is not recognized... error.

Using press the up arrow puts t

[2016-09-15 10:29] garfieldbanks commented on #11927
I'm pretty sure it was an interrupted git difftool with vscode that broke it last time too.

[2016-09-15 10:39] PunchyRascal opened #12071 "File not removed from file explorer if deleted permanently"
- VSCode Version: 1.52
- OS Version: Win 10 64bit

Steps to Reproduce:

1. delete file, that is on a remote drive, confirm moving to bin
2. vscode issues a message it cannot be moved to recycle bin
3. have vscode delete it altogether
4. file is deleted, but not removed from the tree in directory panel (file explorer panel)

[2016-09-15 10:49] Emeryao opened #12072 "[insiders]Cursor wont head to right any more in editor"
- VSCode Version:
1.6.0-insider
Commit fad6a894c197ee791403ac694c9316b0654f31a4
Date 2016-09-14T11:13:18.419Z
- OS Version: Win10 x64 14926

Steps to Reproduce:

1. open editor and move the cursor to the head of one line (over the line number)
2. the cursor won't change to a head to right style in recent insider releases (i think this issue is from this week)

this is what it is now in vs code ins

[2016-09-15 11:02] rozzzly commented on #12070
https://github.com/Microsoft/vscode/issues/1760

Google is your friend, my friend.

[2016-09-15 11:06] timlind commented on #12070
Thanks @rozzzly, I've subsequently noticed duplicate issues. This one gives some motivation for baking it in as a default.

[2016-09-15 11:13] cjdell commented on #11963
Whilst the Code Helper isn't hogging the CPU anymore. Still occasionally seeing 10+ `find` processes suddenly appear when I do a file search within Code. They will hog the CPU for a few minutes then die. The processes have this line: `find -L . -type f`

[2016-09-15 11:35] bpasero commented on #12072
Duplicate: https://github.com/Microsoft/vscode/issues/8708

/cc @bgashler1

[2016-09-15 11:35] #12072 closed

[2016-09-15 11:54] joaomoreno commented on #12062
![image](https://cloud.githubusercontent.com/assets/22350/18548966/dc654a2e-7b4b-11e6-89cd-17013446393c.png)

Does it reproduce when you run with `--disable-extensions`?

[2016-09-15 11:57] mightypenguin commented on #5970
Ok, off topic, but I am seeing VScode following symlinks in the git view. Running "git status" does not show these files. Should I create a new issue or discuss this somewhere else?

[2016-09-15 12:03] rockandthemes commented on #12023
I have Easy LESS v1.2.5 extension running in VSCode, but I think is not a issue with this extension, because VSCode also hangs when saving a LESS file without the extension.

[2016-09-15 12:04] psulek opened #12073 "Errors from run npm script are not showed in 'Problems' pane"
- VSCode Version: 1.5.2
- OS Version: Windows 10, 64bit

Steps to Reproduce:

1. File `package.json` with scripts section like this `"start": "webpack --config webpack.config.production.js"`

2. File `tasks.json`, command set to `npm` and task set to "start" (to run npm start)

After executing such task, npm runs webpack which in turns builds typescript via loader (ts-loader). Output from webpack

[2016-09-15 12:10] mindgrub-rkoch commented on #11957
Will do. Thanks.

[2016-09-15 12:13] joaomoreno commented on #5970
Can you take a screenshot to show me what you mean?

[2016-09-15 12:14] vilic commented on #11951
The TmLanguage file of TypeScript just does not work well, and the repository (TypeScript-TmLanguage) is lack of maintenance. Please let us know you are going to move to a better way of syntax highlighting like something based on language server.

[2016-09-15 12:26] mightypenguin commented on #5970
I know what causes it.
The git repo is a remotely mounted fuse file system.
The linux terminal shows permissions and symlinks properly, but for some reason vscode isn't.
If I create a simple git repo with a directory and a symlink to that directly it works properly on my local filesystem. If I move that to the fuse mounted file system it confuses vscode.

Here's my mount command:
sshfs hostname:/h

[2016-09-15 12:44] michaeljota commented on #12042
I notice this with top level node_modules only. Have not tried with any other. What settings do you need? I don't have settings changed from the editor, just few extensions.

I got Sync Settings, I can give you the gist url, but it's just the list of extensions.

[2016-09-15 12:50] waderyan commented on #11937
Cool sounds good to me.

[2016-09-15 13:05] waderyan commented on #12032
@thoughtentity thank you for the excellent bug report. One of the best explained and demonstrated I have ever seen 👍. I have reproduced. As this issue is a TypeScript language service issue I will migrate to their repo.

[2016-09-15 13:05] waderyan commented on #12032
This issue was moved to Microsoft/TypeScript#10937

[2016-09-15 13:05] #12032 closed

[2016-09-15 13:11] egamma opened #12074 "Tasks: Support that a problem matcher can define the 'source'"
To support that a task can produce errors that have a `source` attribute. The Problem matcher should support a `source` attribute.

[2016-09-15 13:32] ykka commented on #2755
Oh I beg you, let's allow it!

Use cases:

- sometimes you just want to click into an empty pane and open some file there. Duplicating your currently open file just to open another one in a new pane (correct me if I am missing some shortcut), is a bit pointless. Worse, it leaves you with many editor instances of the same file.

- sometimes you just want to keep it split into three columns visually

[2016-09-15 13:33] feilengcui008 opened #12075 "vscode does not display any panel and does not repond to any operation except start and shutdown"
- VSCode Version:  1.5.2
- OS Version: OS X 10.11.6

Steps to Reproduce:

1. download vscode 1.5.2 for macos from official site
2. unzip and move to /Application, start vscode
![2016-09-15 21 32 25](https://cloud.githubusercontent.com/assets/4131736/18551664/f80b35aa-7b8b-11e6-809f-e6fcc38f0965.png)

any operation is not working except creating new window
(I have tried cleaning the ~/.vscode and r

[2016-09-15 13:34] bpasero commented on #12042
I am wondering if this is file event related and you changed the built in `files.watcherExclude` setting in any way?

[2016-09-15 13:48] Mag-Stellon opened #12076 "Add "new line at end of file" option"
- VSCode Version: 1.5.2
- OS Version: Windows 8.1

It would be cool to add the possibility to add a new line at the end of a file systematically :).

[2016-09-15 13:49] wagerfield opened #12077 "File does not reload in editor when quickly changed externally after making modifications"
- VSCode Version: 1.5.2
- Mac OS Version: 10.11.6

Steps to Reproduce:

**Step 1:** Create a project that uses `webpack` to bundle some JS—running it through `eslint` first and telling `eslint` to fix any errors where possible:

[code]

[code]

**Step 2:** Create an `.eslintrc` file that has a rule that can be automatically fixed—like `"semi": [2, "never"]`:

[code]

**Step 3:** Add some code in `

[2016-09-15 13:49] mrmlnc commented on #12076
Have you tried to use **Editorconfig** extension?

[2016-09-15 13:52] michaeljota commented on #12042
It happens to me with differents projects, not just one.

[2016-09-15 13:55] bpasero commented on #12042
@michaeljota can you share your user settings and workspace settings or at least see if you once configured this setting `files.watcherExclude`?

[2016-09-15 13:56] mredbishop opened #12078 "Debugging no longer working since Sept 14th update"
- VSCode Version:
![image](https://cloud.githubusercontent.com/assets/1096293/18552448/6096090c-7b54-11e6-8308-7b4cb69ee677.png)

- OS Version: Windows 10

Steps to Reproduce:

Debugging our typescript application using the app.ts file in the route was working right up to yesterday. It now does not start the app.

It appears to be related to the source maps setting = true in the launch.json as set

[2016-09-15 13:58] shreyas-a opened #12079 "Settings GUI"
Provide GUI for settings.

[2016-09-15 13:59] bpasero commented on #11974
Current flow:

![editors](https://cloud.githubusercontent.com/assets/900690/18552562/32b5109c-7b5d-11e6-8014-7b928e6a3c41.gif)

I might be able to get smarter when the association is being set back to its default and remove it.

[2016-09-15 13:59] michaeljota commented on #12042
I don't have any user settings not workspace settings. I have not configured `files.watcherExclude`.

You can see my settings [here](https://gist.github.com/michaeljota/0d34130753d9d61b7165)

[2016-09-15 14:00] uxsoft commented on #6328
Please reconsider this! This is such an important issue.

Theres so many cases where generated files just clutter the workspace. Typescript! Typescript which you use as well! is a prime example. Or LESS/SASS -> css. Or Jade -> Html

[2016-09-15 14:00] mrmlnc commented on #12079
Duplicate of #3355.

[2016-09-15 14:10] bpasero commented on #12042
@michaeljota does this reproduce with any kind of npm install? I am wondering if the amount of modules getting installed has an impact. E.g. can we try with a small package.json that maybe only has one dependency to see if it reproduces?

[2016-09-15 14:13] kevlangdo opened #12080 "Provide live preview of HTML like Adobe Brackets"
You should implement a live preview interface with all browsers

[2016-09-15 14:16] 1983cc opened #12081 "Focus not restored to <webview> after tabbing out and back into window"
- VSCode Version: 1.5.2
- OS Version: Windows 10 Professiona

Steps to Reproduce:
1.  Open a markdown file and swtich to preview
2.  Use Ctrl + Tab to switch to another window and then switch back
3. The Preview window cannot scorll with the Up and Down key

[2016-09-15 14:17] #12079 closed

[2016-09-15 14:18] shreyas-a commented on #12079
Hello, I would also like to contribute to the code base. How can I get started. Can you help.

[2016-09-15 14:21] jfredrickson5 opened #12082 "Fill out a Voluntary Product Accessibility Template (VPAT)"
Please consider filling out a VPAT for VS Code. This is a form that outlines the accessibility features and Section 508 compliance of a product. VS Code would be more readily adopted throughout the federal government if it has a VPAT available.

Current list of Microsoft VPATs, could serve as examples: https://enterprise.microsoft.com/en-us/industries/government/section-508-vpats-for-microsoft-pro

[2016-09-15 14:26] raztd commented on #11806
@aeschli I use Seti icon theme

![prolog](https://cloud.githubusercontent.com/assets/6805609/18553531/712e0d0e-7b69-11e6-8426-026e03bf009a.png)

[2016-09-15 14:26] mrmlnc commented on #12079
You can use this instruction: https://github.com/Microsoft/vscode/wiki/How-to-Contribute

[2016-09-15 14:34] simonrozsival commented on #12068
I have the same issue with both PHP and JS files - VS freezes and shows the same warning. Also the process uses 30% of the CPU time while frozen.

[2016-09-15 14:34] Rombus commented on #9673
I can confirm the following using macOS Sierra 10.12 GM Release:
VSC 1.4.0 - Same problem as stated above
VSC 1.5.2 - Same problem as stated above
VSC 1.6.0-insider - It displays properly in HiDPI mode and looks great

[2016-09-15 14:38] bpasero commented on #9673
Great, thanks.

[2016-09-15 14:42] patrickmcd opened #12083 "Comment shortcut (Cmd + /) stopped working in HTML"
- VSCode Version: latest Insiders: 1.6.0-insider
- OS Version: osx

Steps to Reproduce:

1. Open HTML file
2. Select a few lines
3. Hit Cmd + /
4. Nothing

The shortcut still works in TS/JS when selecting single or multiple lines.

[2016-09-15 14:57] mkyjakova opened #12084 "[loc][Query][VSCode] Please clarify string"
Hi, we have a question from our translator. Can you help please? Thanks!

Source:
A set of command IDs whose keybindings will not be sent to the shell and instead always be handled by Code. This allows the use of keybindings that would normally be consumed by the shell to act the same as when the terminal is not focused, for example ctrl+p to launch Quick Open.

File Name:
src\vs\workbench\parts\t

[2016-09-15 14:58] mkyjakova opened #12085 "[loc][Query][VSCode] Please clarify the string"
Hi, we have a question from our translator. Can you help please? Thanks!

Source:
Controls if opened editors from Quick Open show as preview. Preview editors are reused until they are kept (e.g. via double click or editing).

File Name:
src\vs\workbench\electron-browser\main.contribution.nls.resx

Resource ID:
".resx", 0; "enablePreviewFromQuickOpen"

Query:
Is "Quick Open" localizable? Thanks.	Zi

[2016-09-15 15:05] bpasero commented on #12058
@jankalfus this indicates that Windows is not shutting down VS Code gracefully but rather terminates it. We would need to periodically save UI state to prevent that.

[2016-09-15 15:06] chrmarti commented on #11963
@cjdell We are using `find` for speeding up the file search in the file opener (Cmd+P). There is a performance regression with that in 1.5.2 when there are large excluded folders which is fixed with #11874 in the 'insiders' build.

[2016-09-15 15:09] bpasero commented on #12060
@Zarel hovering over the message should show the full error, does it not?

[2016-09-15 15:10] chrmarti commented on #12047
@jpconsi There is a performance regression in 1.5.x when there are large excluded folders which is fixed with #11874 in the 'insiders' build. Let me know if that fixes it if you get a chance to give the insiders build a try.

Might also be a combination of issues you see, marking as duplicate of #11963.

[2016-09-15 15:10] #12047 closed

[2016-09-15 15:12] michaeljota commented on #12042
With this files hangs
[code]

Let me try something smaller.

[2016-09-15 15:16] digipedia opened #12086 "Debug Listener Crashes when TCP Connection is Closed"
- VSCode Version: 1.5.2
- OS Version: Windows 8.1

Steps to Reproduce:
1.  Launch a Visual Studio Code Node Project.
2.  Close the TCP connection of the debug listener (currPorts freeware utility is helpful for this http://www.nirsoft.net/utils/cports.html).

The following error was encountered sporadically (approximately once a week) when debugging in Visual Studio Code:

events.js:154
      thro

[2016-09-15 15:16] bpasero commented on #12070
`{ "key": "ctrl+shift+s", "command": "workbench.action.files.saveAll" }`

[2016-09-15 15:16] #12070 closed

[2016-09-15 15:17] bpasero commented on #12071
@PunchyRascal does it go away after you refresh the file explorer?

[2016-09-15 15:20] bpasero commented on #12078
@weinand might be fixed by now?

[2016-09-15 15:21] PunchyRascal commented on #12071
Yes

[2016-09-15 15:21] bpasero commented on #12080
@kevlangdo you mean we should write extensions for all browsers so that they reload when editing in VS Code?

[2016-09-15 15:21] mredbishop commented on #12078
Nope :)

[2016-09-15 15:24] bpasero commented on #12081
Looks like after tabbing back to the Window, focus is put into the body element of that window and not the webview. Smells like an upstream issue to me with webviews.

[2016-09-15 15:25] cjdell commented on #11963
@chrmarti Just trying the insiders build now. Still has the nasty `find` bug I'm afraid. I can easily replicate it by using the file opener (Cmd+P) and just constantly typing characters. It's like it's launching `find` processes for every key press! It will bring my system to its knees very quickly (stuttering mouse cursor). Clearly there needs to be a lock or debounce put in somewhere :-)

[2016-09-15 15:29] Instagit commented on #6392
Having to fix the indentation characters after copy/pasting is really annoying. Other editors don't have this problem.

Applying the file's current indentation format to pasted contents would be great.

[2016-09-15 15:29] bpasero commented on #12085
@johnliu2016 can you maybe advise what is best here? I agree that "quick open" is quite a technical term for us in the team and it describes the general concept of the "picker" we have in VS Code:

<img width="671" alt="screen shot 2016-09-15 at 17 28 22" src="https://cloud.githubusercontent.com/assets/900690/18555906/d24f13d0-7b69-11e6-9190-37884507e49e.png">

In some settings we are referring to

[2016-09-15 15:36] bpasero commented on #12085
Actually I just found that we already used "Quick Open" in nls:

`nls.localize('quickNavigateNext', "Navigate Next in Quick Open")`

So I wonder how we ended up translating it there?

[2016-09-15 15:41] feilengcui008 commented on #12075
@bpasero I have tried both 1.5.2 and 1.5.1, and both failed, but version 1.4 works well for me

[2016-09-15 15:43] chrmarti commented on #11963
@cjdell That's an interesting data point, I haven't been able to reproduce that. Could you share your user and workspace settings with us?

[2016-09-15 15:43] mrlami commented on #396
+1

[2016-09-15 15:44] feilengcui008 commented on #12075
@bpasero I know little about the vscode internal, is there any log output of vscode on macos? So maybe I can provide more details.

[2016-09-15 15:48] cjdell commented on #11963
@chrmarti I'm on entirely default settings apart my excludes:
[code]

My project is pretty large though (not enormous) so I'm sure that's a contributing factor. I posted the stats earlier on this issue. It's an Ember project that I'm working on.

[2016-09-15 15:50] sandy081 commented on #12027
Thanks for filing the feature request.

I think I am not favourable to this feature. There are multiple indications when there is a problem. They are shown on the status bar at the bottom. Also there are squiggles in the editor to indicate them. This is just my opinion.

But, I would rather wait to see if there is similar feedback/requests from the community before going forward.

[2016-09-15 15:50] #12027 closed

[2016-09-15 15:52] Tyriar commented on #12084
- "Code" here means the editor
- Quick Open is the `workbench.action.quickOpen` command, it is also labelled as "Go to file..." in the Go menu. I guess it should be translated as whatever is the most common way of communicating the command.

[2016-09-15 15:52] #12084 closed

[2016-09-15 15:54] feilengcui008 commented on #12075
@bpasero weird...I tried vscode version v1.4, it works, and then I tried insider version, it works, then I turn back to v1.5.2 and now it works!

[2016-09-15 16:03] chrmarti commented on #11963
@cjdell You might hit a limitation of our glob optimizations. Could you remove the trailing '/**' from the files.exclude patterns and retry? That should make my fix from yesterday actually work.

[2016-09-15 16:10] miladghiravani opened #12087 "VSCode is very slow on my system"
- VSCode Version: 1.5.2
- OS Version: Windows 8.1 Enterprise 64-bit

Steps to Reproduce:
1. Please try to run vsCode faster than now.
2. Enable drag selected text to move it (See this: http://stackoverflow.com/questions/33858029)

[2016-09-15 16:13] cjdell commented on #11963
@chrmarti Changed to this:
[code]

I can see `find` is being optimised now:

`find -L . -not ( ( -name .git -o -name .svn -o -name .hg -o -name .DS_Store -o -name node_modules -o -name bower_components ) -prune ) -type f`

It's excluding what I told it to apart from `tmp` for some reason.

[2016-09-15 16:13] joaomoreno commented on #12063
Wow! That was really fast. This likely happened due to #11870. @Romanito, any clue on how to prevent this?

[2016-09-15 16:13] joaomoreno commented on #12069
Where is your git installed? Is it in the `PATH`?

[2016-09-15 16:19] joaomoreno opened #12088 "Remove fs.statSync call"
https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/electron-browser/window.ts#L159

I don't see a reason to have this there, can we make this async?

[2016-09-15 16:20] joaomoreno commented on #12088
Nevermind... I see why now... dnd is hard.

[2016-09-15 16:22] joaomoreno commented on #12088
Actually... couldn't we make the (async) call after you drop? And show a hover feedback any way?

[2016-09-15 16:22] JoshMcCullough opened #12089 "Ability to disable commit message length warning."
- VSCode Version: 1.5.2
- OS Version: Windows 10

Steps to Reproduce:

1. In the Git panel/tab, enter a commit message which is longer than 50 characters.
2. Note that a warning is displayed.

![image](https://cloud.githubusercontent.com/assets/4859660/18557943/f864b974-7b3e-11e6-9e5f-ec6fecf4b8c3.png)

I find this warning to be a bit controlling, and would like to disable it. The opinion that a c

[2016-09-15 16:24] chrmarti commented on #11963
@cjdell I meant to say:

[code]

We should make this automatically, but it would be great to understand if this helps in your case.

[2016-09-15 16:26] egamma commented on #711
@kumarharsh can you file a new bug with as much information about your setup and steps to reproduce please.

[2016-09-15 16:29] egamma commented on #12005
@dandevs did you try to associate the emmet html syntax profile with TS?
You could add a setting like this:
[code]

[2016-09-15 16:30] cjdell commented on #11963
@chrmarti My bad, you did trailing :-) That has made a massive difference. It's soooo much faster. Thanks for helping me with this!

[2016-09-15 16:31] egamma commented on #11977
Another rendering would be to right align the language IDs on the right, same as we do it with the key bindings

[2016-09-15 16:31] #11930 closed

[2016-09-15 16:41] dandevs commented on #12005
@egamma that works perfect, thanks.

[2016-09-15 16:43] joaomoreno opened #12090 "Implement VSIX drag and drop to extension viewlet"
VSIX can now be installed via `code --install-extension extension.vsix` and via the action in the dropdown of the extension viewlet.

All that's left is the drag and drop onto the viewlet itself.

@bpasero Need your help here since the workbench seems to gobble the whole area for the drop feedback 👎

[2016-09-15 16:43] joaomoreno commented on #227
Fixed!

[2016-09-15 16:43] #227 closed

[2016-09-15 16:44] egamma opened #12091 "Inform the user that VS Code ships TS 2.0"
TypeScript 2.0 is a major release and we should not just silently update to this version:

- [x] remove the existing guidance for how to use 2.0
- [x] add a one time message when opening a TS or JS file that TS 2.0 is included with a link to the 2.0 release notes
- [x] in the release notes mention how to stay on 1.8 using the tsdk options.

[2016-09-15 16:51] anvish opened #12092 "Formatting jsx file adds and removes meaningful spaces"
- VSCode Version: 1.5.2
- OS Version: Windows 7 SP1

Steps to Reproduce:

1. Open .jsx file
[code]

2. Run formatting

`Joe&apos;s Text` changes to `Joe&apos; s Text` (space is added),
`Joe. Text.` changes to `Joe.Text.` (space is removed)

[2016-09-15 16:56] jonburger commented on #12065
The octicon icon set in use by VS Code even has a lovely 'Eye' icon that would work well for this.

I hope this is implemented, it would be a great little friendly feature to have.

[2016-09-15 16:57] cloudstrifebro commented on #11745
Suppressing the issue does not fix the problem.  How do you fix this?

[2016-09-15 17:01] riteshatsencha commented on #11506
@Jakobud I concur. My use case is, I only want to build the UI with commands, context menu etc. when a user has a valid license for the extension, else no need to build the UI. Listing commands in a package.json always adds the commands to the UI. Being able to add commands on fly would be great.

Thank you

[2016-09-15 17:02] anvish opened #12093 "Higlighting of jsx file is inconsistent"
- VSCode Version: 1.5.2 (run with --disable-extensions)
- OS Version: Windows 7 SP1

Steps to Reproduce:

1. Open .jsx file
[code]
Note a space in `<table >` tag.
2. Remove a space in `<table >` tag.
Color of last `<td>` content changes

![2](https://cloud.githubusercontent.com/assets/1114090/18559438/e5f954ca-7b7f-11e6-8a9a-8028a4e869e5.png)
![1](https://cloud.githubusercontent.com/assets/1114090

[2016-09-15 17:04] egamma commented on #12005
great, then I'll close the issue

[2016-09-15 17:04] #12005 closed

[2016-09-15 17:23] chrmarti commented on #11963
@cjdell Thanks for helping with tracking this down!

Others: Let us know if you get a chance to try the insiders build and if that fixes the issue you see.

[2016-09-15 17:32] joaomoreno commented on #206
Unlocked, since apparently reactions are disabled on a locked conversation. 😨

[2016-09-15 17:55] carlin-q-scott opened #12094 "Start Integrated Terminal in the same location as the active file"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1. Open a file
2. Open the Integrated Terminal (View > Integrated Terminal)

It should work similar to: right-click on file > Open with command prompt.

[2016-09-15 17:56] octref opened #12095 "Scorer is not very good for matching on filenames"
- VSCode Version: 1.5.2
- OS Version: OS X 10.11.6

![image](https://cloud.githubusercontent.com/assets/4033249/18561000/dc20d4e8-7b32-11e6-8a17-4ba7dd48ac11.png)

The repo is Microsoft/vscode.

[2016-09-15 17:59] carlin-q-scott commented on #10328
I tried using the integrated terminal for a node.js project in Windows but it greatly reduces performance of all the npm commands, especially "npm install". npm does a fair amount of fancy stuff with the terminal so I'm guessing it's not helping the performance but the difference between "Integrated Terminal" and a normal command prompt is stark.

[2016-09-15 18:09] gerane commented on #12062
@joaomoreno I have this same issue and it persists with --disable-extensions

[2016-09-15 18:12] PranayAgarwal opened #12096 "Use Git rather than GitHub icon for Git-related files in default icon set"
Love the new file icons feature, but have one minor issue: Git-related file types are mapped to the GitHub icon:

![image](https://cloud.githubusercontent.com/assets/341507/18561439/b78bc546-7b34-11e6-8b90-ebef9707d432.png)

This can be seen in extensions/theme-seti/icons/vs-seti-icon-theme.json:
[code]

A little nitpicky, I know, but Git != GitHub. A Git icon ![image](https://cloud.githubusercont

[2016-09-15 18:13] tdekoekkoek commented on #11766
this version feels very broken to me.  No more for loop code completion.  no Command-e.  Command-p find shows too many results.  How do I go back a version?

[2016-09-15 18:13] octref opened #12097 "Prompt user for opening all tabs for replace all"
- VSCode Version: 1.5.2
- OS Version: OS X 10.11.6

Currently, if someone is doing a project-wise replace, VSCode opens all modified files after the change.

If 100 files are changed, VSCode opens 100 tabs. Should prompt user.

[2016-09-15 18:32] #12083 closed

[2016-09-15 18:51] jhasse commented on #12097
Prompting would be annoying for me. VSCode should just replace the text in all the files and don't bother to open any tabs at all IMHO.

[2016-09-15 18:52] jhasse commented on #12089
That's already implemented: `"git.enableLongCommitWarning": true,` in the settings.

[2016-09-15 18:54] ianks commented on #8045
@aeschli I am still having this issue. I think we should re-open it:

![img](https://s3-us-west-1.amazonaws.com/adhawk-random-public/vscode-syntax-tsx.png)

### Version info:

[code]

[2016-09-15 18:55] jhasse commented on #12028
I wouldn't want this on `File: Save All` though. Some build system use timestamps instead of hash sums to know which files have changed since the last build.

[2016-09-15 18:59] kumarharsh commented on #12062
I inspected the gutter and compared it with what vscode-stable has, and it seems like the marker for change is not even there in the DOM.

[2016-09-15 19:00] jhasse commented on #11979
This would be a lot easier to fix when https://bugs.chromium.org/p/chromium/issues/detail?id=79722 is implemented. Especially client side decorations.

[2016-09-15 19:02] jhasse commented on #11956
"Alt + left mouse button" already is multiple cursor select, so I'm not sure if changing the keybindings like this would work.

[2016-09-15 19:06] kumarharsh commented on #711
@egamma: I want to, but I don't have any extra info as of now. Is there a way to trace where an error is being thrown from? The stack trace of the error is not very helpful I'm afraid...

[2016-09-15 19:12] jhasse commented on #11640
I've seen this bug before on Linux.

Can you post the output of `env` in lxterminal? Or even better only the difference between its output in lxterminal vs xterm.

[2016-09-15 19:13] babaBrian opened #12098 "Rename Symbol doesn't catch all occurrences of the symbol"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 6.1.7601
``
Steps to Reproduce:

1. Create foo.py with the following content:

[code]

2. Using F2 or via right click Rename Symbol menu option, rename **x** to **y**
3. At this point, the first two occurrences of **x** are renamed to **y** but **str(x)** remains unchange

[2016-09-15 19:16] guivho commented on #12094
Here are a number of easy ways that would either open an integrated terminal in a user selected location or change the working directory of an existing integrated terminal:

1) via 2 right click menu entries in file editors:
  - new integrated terminal here
  - chdir integrated terminal here

2) same 2 menu entries in explorer right click menu

3) drag a directory from the explorer to a terminal t

[2016-09-15 19:17] PunchyRascal commented on #12028
Sure, that is not the case for me either. Also it can be driven by a setting such as "alwaysTouchSavedFile" or something along those lines and be turned off by default.

[2016-09-15 19:26] daviwil commented on #10925
Awesome, nice work!

[2016-09-15 19:26] jameslaneconkling commented on #11963
the fix on Insider works for me.  thanks!

[2016-09-15 19:31] Tyriar commented on #10925
This will land in tomorrow's insiders. Note that currently the event will only fire for terminals created with the API. This can be easily be changed in a backwards compatible way to include all terminals if an `window.onDidOpenTerminal` is added.

It should fire when terminals are closed both through the API and through user interaction (command, button).

[2016-09-15 19:50] Jakobud commented on #11693
Okay I think I understand wha the problem was finally. Thenables can take a second argument as an error callback. This really isn't clear at all in the vscode API docs:

[code]

That is why I was getting that error about the missing error callback. Makes sense now. The doc's really need examples for everything in them.

[2016-09-15 19:52] #1550 closed

[2016-09-15 19:53] #4008 closed

[2016-09-15 19:54] #6303 closed

[2016-09-15 19:57] jsuddsjr opened #12099 "f# search"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 10.0.14926

Steps to Reproduce:

1.
2.

[2016-09-15 19:58] JoshMcCullough commented on #12089
Thanks! I couldn't find it.

[2016-09-15 19:58] #12089 closed

[2016-09-15 19:59] jsuddsjr commented on #12099
OPENED BY ACCIDENT. please excuse my mess.

[2016-09-15 19:59] #12099 closed

[2016-09-15 20:01] weinand commented on #12067
This is caused by the fix for #10215. I've reverted the fix.

[2016-09-15 20:02] weinand commented on #10215
@isidorn let's discuss this.

[2016-09-15 20:21] fikovnik commented on #8989
Is it possible to actually use it as a toggle (maximize/even) and bind that to a key?

[2016-09-15 20:22] mindplay-dk commented on #4955
No?

[2016-09-15 20:23] felippem commented on #1884
+1

[2016-09-15 20:25] aeschli opened #12100 "Test HTML/Razor/Handlebar"
- [x] Linux @bpasero
- [x] MacOS @sandy081
- [x] Win @bgashler1

Complexity 3

The HTML language has been refactored from a legacy mode to an extension. Syntax highlighting is now using TextMate grammars.

Test for all 3 languages (HTML, Razor, Handlebar)
- syntax highlighting. Note: For Razor to highlight embedded C# code, a C# extension must be installed.
- Commenting, bracket matching, indentat

[2016-09-15 20:27] chryw commented on #12029
I'm on it. The light theme ones are done. Will finish the dark theme version soon.

[2016-09-15 20:32] Tyriar commented on #10546
@whitecolor you can try out `window.onDidCloseTerminal` (#10925) in tomorrow's insiders. It should be easier than tracking the PID.

[2016-09-15 20:33] glen-84 commented on #11917
This is https://github.com/Microsoft/vscode-languageserver-node/issues/42, if I'm not mistaken.

[2016-09-15 20:39] Tyriar commented on #9959
Closing this off, no longer needed for tracking.

[2016-09-15 20:39] #9959 closed

[2016-09-15 20:40] Tyriar commented on #11971
Haven't seen it since, closing as invalid.

[2016-09-15 20:40] #11971 closed

[2016-09-15 20:50] Tyriar commented on #11825
This is an issue both in vscode and xterm.js.

[2016-09-15 20:50] Tyriar commented on #11825
Upstream issue: https://github.com/sourcelair/xterm.js/issues/267

[2016-09-15 21:01] hoovercj opened #12101 "Allow "Find All References" to expand to a full tab"
Right now "find all references" opens the code-lens pop-up. If I am in a large project and want to see all references to a symbol such as an interface, I might want to bounce between different implementations. This is made difficult by the fact that the list of references doesn't persist/can't be expanded.

It would be great if there was an option to expand the "find all references" results into t

[2016-09-15 21:03] kumarharsh commented on #12040
Great idea, its confusing when 60% of my files are named `index.js` -_- although when with VSCode, this is less of an issue when not using tabs.
Just a minor point: I rather like the file name on the left-most side of the tab. Perhaps overflowing the folder name on the left side instead of the right would be more helpful?

[2016-09-15 21:06] robertohuertasm commented on #12003
@chanzig see [#292](https://github.com/robertohuertasm/vscode-icons/issues/292)

Basically, you have to choose to use the official api by following  [#292](https://github.com/robertohuertasm/vscode-icons/issues/292) or choose the custom functionality by selecting `none` in your File Icon theme.

For more information, please read the [vscode-icons readme](https://github.com/robertohuertasm/vscode-i

[2016-09-15 21:08] Tyriar commented on #12040
@kumarharsh do you mean like in my proposal or like `terminalService.ts - …/terminal/…/`?

[2016-09-15 21:14] dstorey commented on #8589
I have a few cents on this, although my opinion doesn't count much as I'm not developing the code base each day.

IMHO moving to SASS at this stage, especially after much of the CSS is already written, isn't the best approach to take.

1 problem is it splits the community as some devs (myself included only know pure CSS), while others prefer LESS, or SASS, or Compass, postCSS, or whatever flavour

[2016-09-15 22:03] be5invis opened #12102 "Improve C/C++ colorizer"
The status quo:
![image](https://cloud.githubusercontent.com/assets/240091/18569129/5ead3190-7bd3-11e6-8eaf-91b91d869868.png)
![image](https://cloud.githubusercontent.com/assets/240091/18569133/6204f8aa-7bd3-11e6-8059-ff2874ab9374.png)

The problem:

- No special color for operators.
- No special color for user-defined types, like `caryll_buffer`.
- Pointers and references should be colored.

[2016-09-15 22:05] DmitryEfimenko commented on #11889
I think there should be a way to split **terminal window** independently of the amount of **code windows**.

[2016-09-15 22:17] glennsarti opened #12103 "VS Code does render all UTF8 characters correctly"
- VSCode Version: 1.5.2
- OS Version: Windows Server 2016 RS1, Windows 10 AU

Steps to Reproduce:
1.  Copy these characters `ᚠᛇᚻᚠᛇᚻ` into any Visual Studio Code file.

These are the Rune characters from http://www.columbia.edu/~fdc/utf8/

2. In Visual Studio Code they will appear as blank rectangles, however if you paste them into Notepad they render correctly.

I tried Consolas, Courier New and m

[2016-09-15 22:25] Romanito commented on #12063
@joaomoreno I did some tests and found another way of adding the context menu entry for drives and not the recycle bin. Should be better now.

[2016-09-15 22:29] thirdwaffle commented on #9216
@chambleton I'm getting this issue occasionally. Were you able to determine which extension was causing this?

[2016-09-15 22:31] chopetra opened #12105 "Integrated terminal breaks after resizing the window horizontally on Windows"
- VSCode Version: 1.5.2
- OS Version: win10

Steps to Reproduce:
1. turn on bottom console display(ctrl+`) and dotnet run
   (~~ Application started. Press Ctrl+C to shut down....etc)
2. resizing width smaller vscode then broke console.
- before resizing
  ![before](https://cloud.githubusercontent.com/assets/19626732/18569728/7de11ab6-7bdf-11e6-8766-81dde6327300.png)
- after resizing
  ![after](ht

[2016-09-15 22:31] martin-azpillaga commented on #10821
This would be great particularly for TeX users.

Being able to compile and see the resulting PDF all from within the editor is unvaluable and would definitely attract TeX users to the VSCode community.

[2016-09-15 22:33] Bill-Stewart opened #12106 "Add setting editor.scrollCursorWithLine"
https://github.com/Microsoft/vscode/pull/1051 mentioned this setting. Where did it go?

---

Additionally, the setting "editor.scrollCursorWithLine" was added (defaults to false). When set to true, the caret will be moved up/down along with scrolling. This feature makes it possible for the user to scroll in a document by using keyboard shortcuts while keeping the same number of visible lines befor

[2016-09-15 22:44] jcassar opened #12107 "Install error under Fedora 22 Linux"
- VSCode Version: Latest github
- OS Version: Fedora 22 Linux 4.4.14-200.fc22.x86_64

Received the following errors when installing vscode:

npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@github:bpasero/fsevents#vscode (node_modules/chokidar/node_modules/fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@0.3.8: wanted {"os":"darwin","arch":"any"} (

[2016-09-15 22:45] ramya-rao-a commented on #11693
@Jakobud yes, that's what I meant by error callbacks. Thenables just like Promise take 2 callbacks. One to be called on promise fulfillment, the other (optional) on error.

@jrieken @gregvanl Thoughts on doc updates with examples like Jakobud has suggested?

[2016-09-15 22:51] Tyriar commented on #8589
@dstorey thanks for the feedback, see responses below:

The majority of the codebase would remain plain old CSS, just with a new extension. Also I don't think Sass or Less should really be referred to as "flavour of the month" since have been around a long time and have proved their value.

I would argue the opposite; a pre-processor allows the reuse of styles, making it much easier to spot styles

[2016-09-15 22:56] Jakobud commented on #11693
I see the doc's are on github so I will look into this as well. Some sort of Examples for each API command would be nice.

Back the Promise thing, when I typically do a promise, I do something like this:

[code]

What exactly are you talking about regarding 2 callbacks with Promises?
  });
}

[2016-09-15 23:06] slav commented on #11983
No, still hanging. I thought extensions might be the cause so uninstalled them all manually.

From the log in console when I clicked close window.
[code]

[2016-09-15 23:27] jahewson commented on #1904
Integrating Git stash into the VSCode's Git GUI would be much appreciated.

[2016-09-15 23:27] meancoot opened #12108 "Output window treats characters 'xA' as a new line."
- VSCode Version: 1.5.2
- OS Version: Windows 10

When a string containing the character sequence 'xA' is written to the output window VSCode replaces it with a new line.

![example](https://cloud.githubusercontent.com/assets/2244868/18570711/5cb540de-7b7a-11e6-8f5c-98a6bbc10dc7.png)

[2016-09-15 23:42] Turash opened #12109 "Make Find in Selection not enabled by default"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:05:12.065Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:

1.
2.

[2016-09-15 23:53] dgileadi commented on #12069
I ran into this same issue on my OS X El Capitan system. In my OS X Terminal, `which git` returns `/usr/bin/git`. In Visual Studio Code's user settings I set the `"git.path"` to that value and it solved the issue for me, but that seems like a workaround for a VS Code bug.

[2016-09-16 00:03] Zarel commented on #12060
I'm pretty sure that was one of the first things I tried, but it's possible I forgot to...

[2016-09-16 00:04] chryw commented on #12029
@bgashler1 @joaomoreno The original sprite has a mix of full size and medium size (intelliSense dropdown version) icons. I included both size for each icon. If these icons are for dropdown list, please use the version has "_left" or "_16xMD" in filename. If used for a regular button, please use the full size version.

[264213_Brad_VSCodeSplitIconSprite_ToClient.zip](https://github.com/Microsoft/vs

[2016-09-16 00:05] Zarel commented on #12060
Oh, hey, it does.

It seems like it'd be better if the error message were taller so I could read it without a tooltip.

[2016-09-16 00:08] #11049 closed

[2016-09-16 00:12] chrmarti commented on #11842
The underlying problem is fixed in the latest insiders build. Will still address this one.

[2016-09-16 00:12] Tyriar commented on #12107
What version node and npm are you running? Is this an old workspace, if so have you tried re-cloning and starting again from scratch?

[2016-09-16 00:13] Tyriar commented on #12096
If the icon is available in Seti then we should absolutely do this imo.

[2016-09-16 00:31] Tyriar commented on #12094
The context menu request is captured in #8132

As for dragging, I think I like iTerm's feature where it pastes the path of the file into the terminal. #11907

As for this actual feature request, you should be able to do this in an extension now through the recently introduced terminal API. In fact... I just did it! :wink: https://marketplace.visualstudio.com/items?itemName=Tyriar.vscode-terminal-h

[2016-09-16 00:31] #12094 closed

[2016-09-16 00:38] chrmarti opened #12110 "Automatically remove trailing /** from file exclusion patterns"
Exclusion patterns like **/node_modules/** don't benefit from the 'find' optimizations as the equivalents without trailing /** like **/node_modules do. (Extracted from #11963.)

[2016-09-16 00:47] alefragnani opened #12111 "gutterIconPath is not loading correctly in Insider release"
- VSCode Version: 1.6.0 Insider
- OS Version: Windows 10

Steps to Reproduce:

1. Define a `pathIcon` variable using `context.asAbsolutePath('images\\bookmark.png')`
[code]
2. Create a decorator and use the `pathIcon` variable as `gutterIconPath`.
[code]
3. The image will not be loaded, and it will output an error in `Developer Tools` console
[code]

Unfortunattely, I'm also not able to debug in I

[2016-09-16 01:09] shibang opened #12112 "Suggestion: Add keybinding to "Switch to next input point""
Just like writing HTML in Sublime using Emmet to generate tags and switch cursor to next input area with `Ctrl` + `Alt` + `→`

[2016-09-16 01:11] ramya-rao-a commented on #11693
in your case the code that would use `myFunction` can provide 2 callbacks.
[code]

The `resolve` and `reject` are the 2 callbacks for the `myFunction` promise

[2016-09-16 01:14] ramya-rao-a commented on #12109
@Turash Can you provide more details on which search are you referring to?

- Search in a file
- Search across files
- Quick open
- Find all references

There are different search features

[2016-09-16 01:28] Huachao opened #12113 "Highlight the line number where the cursor locates"
- VSCode Version: 1.5.2
- OS Version: Windows 10 Anniversary

Steps to Reproduce:
1. Can we have a feature that highlights the line number when the cursor locales in some line which helps to find where my cursor is?
2.

[2016-09-16 01:33] Thaina commented on #206
@joaomoreno If you don't unlocked I would like to downvote you

Because, you know, press like button not notice anyone. And this feature was requested like forever. This feature is issue 206 while now we have 12000 issue

[2016-09-16 01:52] pitAlex commented on #11963
Guys it looks like it stopped happening for me after adding "files.watcherExclude" with the same paths set to "files.exclude". But shouldn't setting "files.exclude"  automatically make the watcher also exclude those paths/files?

[2016-09-16 02:24] djg commented on #11918
I also experienced this issue with vscode on Linux and using git from a terminal.

[2016-09-16 03:14] bpasero commented on #12075
@feilengcui008 next time you can try to see the output in the developer console (Help > Toggle Developer Tools) to see if something gets logged.

Let's close this one until you see it again.

[2016-09-16 03:14] #12075 closed

[2016-09-16 03:18] #12003 closed

[2016-09-16 03:19] bpasero commented on #11983
@slav when it hangs, does it eventually load or just shows an empty window? When it hangs can you try to open the developer console (Help > Toggle Developer Tools) and see if any output is printed?

[2016-09-16 03:46] bpasero commented on #11977
Not such a big fan of that:

<img width="677" alt="screen shot 2016-09-16 at 05 46 18" src="https://cloud.githubusercontent.com/assets/900690/18574819/ecfc8994-7bd0-11e6-8f73-631598644b18.png">

[2016-09-16 03:48] bpasero commented on #12092
Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market place, click on the **Support** link to find out more.

<im

[2016-09-16 03:51] DonJayamanne opened #12114 "Notification when html preview window has been closed"
Is it possible to raise an event when a preview window (displayed using ```vscode.previewHtml```) has been closed?

[2016-09-16 03:51] bpasero commented on #12097
@sandy081 fyi

[2016-09-16 03:51] bpasero commented on #12098
Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market place, click on the **Support** link to find out more.

<im

[2016-09-16 03:51] #12098 closed

[2016-09-16 03:52] bpasero commented on #12102
Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market place, click on the **Support** link to find out more.

<im

[2016-09-16 03:52] #12102 closed

[2016-09-16 03:52] bpasero commented on #12103
Font issue?

[2016-09-16 03:53] bpasero commented on #12108
Not sure if this is an editor issue or output issue.

[2016-09-16 03:53] bpasero commented on #12109
Needs more info.

[2016-09-16 03:54] bpasero commented on #12112
I believe Ctrl+Alt+Arrow is a very popular keybinding already taken...

[2016-09-16 03:59] #11244 closed

[2016-09-16 04:04] Tyriar commented on #12105
Similar to #8902 but it's likely a different issue. This issue has been around since the terminal was introduced but I don't think there is an issue tracking it yet.

[2016-09-16 04:04] Vernando05 opened #12115 "IntelliSense to find matches in all open files including word suggestions"
Feature Request:
Any vscode settings or extension that support  autocomplete to find matches in all open files?
like sublime one: https://github.com/alienhard/SublimeAllAutocomplete

[2016-09-16 04:05] glennsarti commented on #12103
That's what I first thought.  As per my notes I tried the default fonts (Consolas, Courier New and monospaced).  Conemu2 which also uses `Consolas` also renders correctly.

[2016-09-16 04:05] glennsarti commented on #12103
Seems strange that notepad.exe (of all apps!) would render it ok and not VS Code.

[2016-09-16 04:10] bpasero commented on #12071
@PunchyRascal hard to reproduce for me, here is how it looks like for me:

![editors](https://cloud.githubusercontent.com/assets/900690/18575112/363252d0-7bd4-11e6-8908-61fb24189401.gif)

Something different for you?

[2016-09-16 04:17] luisa123456 commented on #12040
Long Path Tool is the perfect utility that can solve all the long path issues. Download this software online.

[2016-09-16 04:23] Tyriar commented on #329
@rlabrecque number 2 should only be an issue if you have another instance open. Since they share settings, closing all sessions and then opening with a `--user-data-dir` should work fine (just checked on Ubuntu 16.04).

I did notice that my normal extensions were being loaded in from the default directory with both of these:

[code]

@joaomoreno any ideas on that?

[2016-09-16 04:23] bpasero commented on #12077
Great description, easy enough to reproduce for me. The issue is that we have a time-window where we ignore any change on disk (2 seconds currently). The reason is that when you save the file by making changes from VS Code, a file event is generated right after. We typically want to load the file contents from disk when such an event happens to see if the contents have changed. However we cannot d

[2016-09-16 04:25] Tyriar opened #12116 "Make --extensionHomePath (extensionDevelopmentPath, extensionTestsPath) consistent casing with the rest of the command line args"
- VSCode Version: Code - Insiders 1.6.0-insider (50bb7aad57cbf1924e28472de52734be49645558, 2016-09-15T05:58:53.508Z)
- OS Version: Linux x64 4.4.0-31-generic, Ubuntu 16.04

Can we change it to `--extension-home-dir <dir>` or `--extension-dir <dir>` to match `--user-data-dir <dir>`?

[code]

[2016-09-16 04:32] Tyriar commented on #11382
Closing this off as it has not been reported for 2 weeks and can't repro. It's also very likely an upstream issue.

[2016-09-16 04:32] #11382 closed

[2016-09-16 04:55] vikramiyer opened #12117 "False positive errors highlighted"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:05:12.065Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:

1. Very bad React Native or React support, Javascript Babel language setting shows a lot of red marks which annoyingly appears like an error. Actually it isn't an error, its just a lack of support.
2. Nuclide for Atom has very good support for Reac

[2016-09-16 05:08] bpasero commented on #241
@JustinPealing thanks for looking into this, can you clarify how your application registers differently from VS Code? Our installer is setting quite a bit of keys and I wonder how your registration differs (see https://github.com/Microsoft/vscode/blob/master/build/win32/code.iss#L74)

Btw we recently updated our instructions how to build VS Code on windows and it should work fine now: https://gith

[2016-09-16 05:09] vscodeerrors opened #12118 "Cannot read property 'configuration' of null"
Issue Id: <b>56c397e3-12bc-14d8-e019-17c81951baea</b><br /><br />*Versions* <br />- 1.5.2<br />*Stack* <br />TypeError: Cannot read property 'configuration' of null<br />[/vs/workbench/parts/debug/electron-browser/debugService.ts#L243:21 (configuration)](https://github.com/microsoft/vscode/blob/66f37fd2a99eb9d628dd374d81d78835b410c39b/src/vs/workbench/parts/debug/electron-browser/debugService.ts#L

[2016-09-16 05:09] vscodeerrors opened #12119 "Cannot read property 'toLowerCase' of undefined"
Issue Id: <b>56f3582c-6949-340c-bb50-355a6761310f</b><br /><br />*Versions* <br />- 1.5.2<br />*Stack* <br />TypeError: Cannot read property 'toLowerCase' of undefined<br />[/vs/editor/contrib/suggest/common/suggest.ts#L153:36 (toLowerCase)](https://github.com/microsoft/vscode/blob/66f37fd2a99eb9d628dd374d81d78835b410c39b/src/vs/editor/contrib/suggest/common/suggest.ts#L153:36 (toLowerCase))<br />

[2016-09-16 05:09] Noob7 commented on #11670
thats explains the name. Thanks :)

[2016-09-16 05:10] vscodeerrors opened #12120 "Cannot read property 'targets' of undefined"
Issue Id: <b>8ec5b8ad-a8de-0ca4-6be0-8bd5bb61735d</b><br /><br />*Versions* <br />- 1.5.2<br />*Stack* <br />TypeError: Cannot read property 'targets' of undefined<br />[/vs/workbench/parts/debug/electron-browser/debugService.ts#L960:41 (targets)](https://github.com/microsoft/vscode/blob/66f37fd2a99eb9d628dd374d81d78835b410c39b/src/vs/workbench/parts/debug/electron-browser/debugService.ts#L960:41

[2016-09-16 05:10] vscodeerrors opened #12121 "Cannot read property 'request' of null"
Issue Id: <b>6f3e71ba-1da5-ba4a-94da-b06605c15cdf</b><br /><br />*Versions* <br />- 1.5.2<br />*Stack* <br />TypeError: Cannot read property 'request' of null<br />[/vs/workbench/parts/debug/browser/debugActions.ts#L150:26 (request)](https://github.com/microsoft/vscode/blob/66f37fd2a99eb9d628dd374d81d78835b410c39b/src/vs/workbench/parts/debug/browser/debugActions.ts#L150:26 (request))<br />[/vs/wo

[2016-09-16 05:11] vscodeerrors opened #12122 "r.hasOwnProperty is not a function"
Issue Id: <b>c6fb6956-d489-b312-274b-cb99c1937800</b><br /><br />*Versions* <br />- 1.5.2<br />-  07d663dc1bd848161edf4cd4ce30cce410d3d877<br />*Stack* <br />TypeError: r.hasOwnProperty is not a function<br />[/vs/base/common/diff/diff.ts#L260:18 (hasOwnProperty)](https://github.com/microsoft/vscode/blob/66f37fd2a99eb9d628dd374d81d78835b410c39b/src/vs/base/common/diff/diff.ts#L260:18 (hasOwnProper

[2016-09-16 05:11] vscodeerrors opened #12123 "Cannot read property 'scopes' of undefined"
Issue Id: <b>dbe188c1-e9c1-3611-2ccd-8815b5ab7dee</b><br /><br />*Versions* <br />- 1.5.2<br />-  07d663dc1bd848161edf4cd4ce30cce410d3d877<br />*Stack* <br />TypeError: Cannot read property 'scopes' of undefined<br />[/vs/workbench/parts/debug/common/debugModel.ts#L387:25 (scopes)](https://github.com/microsoft/vscode/blob/66f37fd2a99eb9d628dd374d81d78835b410c39b/src/vs/workbench/parts/debug/common

[2016-09-16 05:11] vscodeerrors opened #12124 "Cannot read property 'dispose' of null"
Issue Id: <b>6377a404-21d4-4583-f1d8-c3d924b102a8</b><br /><br />*Versions* <br />- 1.5.2<br />*Stack* <br />TypeError: Cannot read property 'dispose' of null<br />[/vs/editor/contrib/snippet/common/snippetController.ts#L476:28 (dispose)](https://github.com/microsoft/vscode/blob/66f37fd2a99eb9d628dd374d81d78835b410c39b/src/vs/editor/contrib/snippet/common/snippetController.ts#L476:28 (dispose))<br

[2016-09-16 05:12] vscodeerrors opened #12125 "Cannot read property 'metadata' of undefined"
Issue Id: <b>5f3b07e0-da7b-5491-db2e-332362d9b76d</b><br /><br />*Versions* <br />- 1.5.2<br />*Stack* <br />TypeError: Cannot read property 'metadata' of undefined<br />[/vs/workbench/parts/extensions/electron-browser/extensionsWorkbenchService.ts#L399:57 (metadata)](https://github.com/microsoft/vscode/blob/66f37fd2a99eb9d628dd374d81d78835b410c39b/src/vs/workbench/parts/extensions/electron-browse

[2016-09-16 05:16] bpasero commented on #5628
Duplicate of https://github.com/Microsoft/vscode/issues/4430

[2016-09-16 05:16] #5628 closed

[2016-09-16 05:16] be5invis commented on #12103
@bpasero Chrome's default font linking does not include Segoe UI Symbol, which contains Runes.

[2016-09-16 05:31] #12088 closed

[2016-09-16 05:31] bpasero commented on #12088
Now using async, I think it is fast enough that you do not notice any delay in the hover.

[2016-09-16 05:32] bpasero commented on #12090
@joaomoreno sure, the workbench global drop handler needed to take care of *.vsix files to show drop feedback. I took this out with https://github.com/Microsoft/vscode/commit/0619ede1e469ed23fbb214eaa0377625a402ca87 so that you should be able to do the drop yourself.

[2016-09-16 05:41] theParthe opened #12126 "Visual Studio like team explorer"
Need Visual Studio like team explorer, which is more useful in comparing the files from git and local repository. Code check-in and excluding files while code check-in are some great features which is missing in VS Code.

[2016-09-16 05:49] AaronWharton commented on #4846
It's disgusting when I find all the notes have been garbled.It will take me hours to solve the issue.Why not release an extension to automatically switch the encoding format?

[2016-09-16 06:27] Tyriar commented on #12126
This month we're starting to look at adding an API that will allow extensions to create their own explorers (aka a tree view in a viewlet). You can check out the September iteration plan in #11917

[2016-09-16 06:27] #12126 closed

[2016-09-16 06:27] bpasero commented on #12117
Not sure if this is TS or an extension.

[2016-09-16 06:43] guivho commented on #12094
Works fine except with paths with embedded spaces.
I have quoted the pathname to care for that case.
Created a pull request.

Guido

On 16 September 2016 at 02:32, Daniel Imms <notifications@github.com> wrote:

[2016-09-16 06:53] egamma commented on #11917
@glen-84 thanks, I've updated the item.

[2016-09-16 06:54] Tyriar commented on #12097
Might make sense after a certain threshold is hit?

[2016-09-16 07:22] bpasero opened #12127 "Debug console no longer scrolls when output received"
- VSCode Version: 1.6
- OS Version: Windows 10

Steps to Reproduce:

1. run our VS Code API tests
2. Note the output in the debug console

=> console no longer scrolls when output goes beyond visible number of lines

[2016-09-16 07:25] bpasero opened #12128 "Unable to run VSCode unit tests from debug on Windows"
- VSCode Version: 1.6 insiders
- OS Version: Windows 10

Steps to Reproduce:

1. run "Unit Tests" from within VS Code

=> I do not get any output
=> works on Mac

Note: maybe this is an issue with the launch config. As you can see this config executes Electron with the `ELECTRON_RUN_AS_NODE: true` flag:

[code]

[2016-09-16 07:27] joaomoreno commented on #8045
This is what I see:

![image](https://cloud.githubusercontent.com/assets/22350/18578330/a929cd66-7bef-11e6-88dd-5a6d3343ec04.png)

1.6.0-insider
0619ede1e469ed23fbb214eaa0377625a402ca87

Seems to be fixed in latest.

[2016-09-16 07:30] pflannery commented on #241
I see atom has fixed the recent items issue I had. But there is another separate bug I've opened but with re-opening recent items https://github.com/atom/atom/issues/12655
They are using Electron: 0.37.8

I don't see atom using the custom jump lists api

@bpasero I find that I also have to include `--arch=ia32` switch as I have 64bit nodejs installed. It wont build compatible node 32bit binaries f

[2016-09-16 07:30] #12063 closed

[2016-09-16 07:31] joaomoreno commented on #12063
Thanks a lot @Romanito !

[2016-09-16 07:40] joaomoreno commented on #206
@Thaina

Check out our [CONTRIBUTING.md](https://github.com/Microsoft/vscode/blob/master/CONTRIBUTING.md) document. In it you'll find:

Also, if you read out [Issue Tracking](https://github.com/Microsoft/vscode/wiki/Issue-Tracking) wiki page, it states the following:

This includes reactions.

[Here's all our feature requests sorted by thumbs up](https://github.com/Microsoft/vscode/issues?q=is%3Ai

[2016-09-16 07:40] bpasero commented on #241
@pflannery thanks for letting us know.

@joaomoreno didn't we use to have the arch inside npm.sh at one point?

[2016-09-16 07:42] joaomoreno opened #12129 "Extension loading ignores extensionHomePath"
From @Tyriar

I did notice that my normal extensions were being loaded in from the default directory with both of these:

[code]

[2016-09-16 07:42] joaomoreno commented on #329
It's a possible bug... #12129

[2016-09-16 07:45] joaomoreno commented on #12090
Thanks!

[2016-09-16 07:46] Thaina commented on #206
@joaomoreno My point is

- Upvote or downvote is not obvious for us. And it not notify anyone to keep track of issue
- If you don't care for issue that live after 10000 issues even if you got notified every week, then that should be some problem

And well, this issue has 66 upvote. And rank 7th in issue board if sort by upvote. It still never progress so I think +1 give us morereaction from you

[2016-09-16 07:46] joaomoreno commented on #241
We have it in `scripts\npm.bat`

[2016-09-16 07:51] Thaina commented on #206
FYI There are not more than 10 issues closed with more upvote than this issue. So, yeah, as I said, upvote is not cause much reaction from you people

https://github.com/Microsoft/vscode/issues?q=is%3Aissue+label%3Afeature-request+sort%3Areactions-%2B1-desc+is%3Aclosed

[2016-09-16 07:54] joaomoreno commented on #12062
I can totally reproduce this in Windows. Thanks guys.

[2016-09-16 07:56] joaomoreno commented on #4428
@alexandrudima I just noticed this as well.

[2016-09-16 07:58] ferarias commented on #11618
No. Same error.

[code]

[2016-09-16 08:02] joaomoreno commented on #11618
Can you [build and run from source](https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run-from-source), and see whether it reproduces there?

This is quite a mystery...

[2016-09-16 08:09] vadimcn opened #12130 "VSCode identifies in-memory files by 'name', should use 'sourceReference'."
- VSCode Version: 1.5.2

Have a debug adapter return in response to `StackTraceRequest` two `StackFrames` having sources with the same `name`, but different `sourceReference`.

Result: for both stack frames VSCode displays the same source (the first one).  When names are distinct, VSCode displays sources correctly.
From this I am inferring that `name` is used within VSCode as a unique identifier.

[2016-09-16 08:09] joaomoreno commented on #12062
It doesn't reproduce when running from source though. Hm...

[2016-09-16 08:11] slashwhatever commented on #3702
+1. Can't use VS Code until this is in.

[2016-09-16 08:20] JustinPealing commented on #241
@bpasero The only key my dummy app registered was under `HKCR\Applications`, specifically the `shell\verb` registration [MSDN documentation here](https://msdn.microsoft.com/en-gb/library/windows/desktop/ee872121(v=vs.85).aspx#applications)

Here is a .reg dump of the relevant key:

[code]

[2016-09-16 08:27] wagerfield commented on #12077
Great, thanks for the rapid response! Why is it not possible for VS Code to differentiate between when the file was modified externally and when it was modified by VS Code itself? Surely there's an event within the editor that is fired when the editor is told to save? What happens if you remove this 2 second threshold?

[2016-09-16 08:33] kyssproject opened #12131 "I can't disable all :hover-like snippets/labels in the editor"
- VSCode Version: 1.5.2
- OS Version: Windows 10

Steps to Reproduce:

1. Try to eliminate any help, suggestion, hint or so that appears when you locate your mouse over any word in the editor by adding this to the settings.jsono file

// Place your settings in this file to overwrite default and user settings.
{
        "editor.quickSuggestions": false,
	"editor.quickSuggestionsDelay": 1000,
	"edit

[2016-09-16 08:35] bpasero commented on #12077
@wagerfield yes we do have events internally when you change the file in VS Code, but we also have file watchers that just fire on any change that happens on the file on disk. This guy does not know if the change happened inside Code our outside.

If we take out the check today, I think nothing super bad would happen, we just have an extra disk access each time you save the file (shortly after act

[2016-09-16 08:55] sandy081 opened #12132 "As a user, I should be able to obtain the identifier of the extension"
Show identifier of an extension in extension editor. This is needed at multiple places
- Installing extension from command line
- Configuring workspace recommendations
- Extension dependencies

[2016-09-16 08:56] wagerfield commented on #12077
Perhaps that's an option? No idea how SublimeText handles this, but if you repeat the steps above in ST you don't experience this issue, so perhaps they haven't implemented this threshold?

[2016-09-16 09:05] joaomoreno opened #12133 "Improve workspace extension recommendation UI"
How about we change the extension viewlet dropdown menu to contain this:

[code]

The configure action is currently surfacing only through the global commands.

[2016-09-16 09:06] joaomoreno commented on #12062
I take it back, it does repro through source.

[2016-09-16 09:10] david-gang commented on #206
I would have a more positive attitude.
As we don't pay nothing we cannot expect that some issue would be solved.
What I would suggest is that the vscode team will architect the solution and will then be open for pull requests. I am sure that at least a part of the programmers which upvoted the issue will contribute here something.

[2016-09-16 09:13] sandy081 commented on #12133
Hmm My opinion is not to grow the drop down.. If possible have those (less) options which are more useful and prominent. Regarding configuring, I do not think it will be used more often, so Command pallette is the right place. Also selecting this action takes us to the editor where as others not.

How about merging Workspace and normal recommendations to one entry and distinguish it while showing?

[2016-09-16 09:18] PRDinesh commented on #9191
Please let us know if we can provide any more info to add your debugging

[2016-09-16 09:20] joaomoreno opened #12134 "New window, Open File should replace untitled file"
1. Open a new window
2. Open an existing file

You'll have 2 tabs open: the original Untitled file and the selected file.

In the case the Untitled file is unmodified, it should be replaced by the selected file.

[2016-09-16 09:21] vchegwidden opened #12135 "Select git remote to push to, when upstream is configured"
For some projects I have multiple remotes set up.
It would be really nice to have an option to choose the remote to push to like in git-gui and visual studio team explorer

[2016-09-16 09:22] Tyriar commented on #9191
@alexandrudima any ideas around the loader or something? This is the only real clue we have so far:

[code]

[2016-09-16 09:22] joaomoreno commented on #12133
I meant it as submenus, which wouldn't make the first level grow, but shrink. It would add structure to the menu.

Having the action only as a global command is hiding it, we want to make it visible.

Your last suggestion is good and tracked by #8421

[2016-09-16 09:23] danielo515 commented on #4943
Does that mean that is not a problem in VSCode but on typescript itself?

[2016-09-16 09:28] #11825 closed

[2016-09-16 09:28] alexandrudima commented on #4428
hard coded to true @ https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/browser/parts/editor/textEditor.ts#L121

I think it is for breakpoint setting reasons

[2016-09-16 09:30] bpasero commented on #12077
Yeah I am quite sure we are the only ones doing this :). Though for ST the experience is also different: if they detect a change on disk, they open a dialog asking to reload the file. Or am I wrong?

[2016-09-16 09:32] bpasero commented on #4428
Yup, I think we want to always show the glyph margin to allow a user to set breakpoints. I think we should close as designed, but I forward to @isidorn to get his input.

[2016-09-16 09:35] Turash commented on #12109
Hi, It does not happen every time. Sometimes. I will paste right away when I experience.

[2016-09-16 09:36] bpasero commented on #12134
In the end what we really want is Sublimes "untitled editor" as background:

![image](https://cloud.githubusercontent.com/assets/900690/18581634/c3dee2d8-7c01-11e6-9f2c-d2e241ddd1c0.png)

This one is not even a tab until you start typing:

![image](https://cloud.githubusercontent.com/assets/900690/18581641/ce7f59b6-7c01-11e6-9fde-adaa46d389f8.png)

[2016-09-16 09:38] longque opened #12136 "Unnecessary highlight "in" and "var""
- VSCode Version:1.5.2
- OS Version:Windows 10
- Language:Typescript

"in" in the next picture is highlighted, but it's unnecessary.
I have found a few bugs about highlight, so I think maybe there are or will be still other bugs about it.

![6](https://cloud.githubusercontent.com/assets/8530043/18581455/45d5fb10-7c33-11e6-9468-7d746b8e9a22.PNG)

[2016-09-16 09:50] #11974 closed

[2016-09-16 09:53] weinand opened #12138 "outDir globbing: do not block if a source map cannot be loaded"
- VSCode Version: 1.6 Insider
- OS Version: macOS

1. git clone vscode-docker
2. in launch.json set `outDir` to `${workspaceRoot}`
3. launch extension

Observe: ext host times out because debugger source map loading doesn't finish.

Problem: if a source map file cannot be found, the preload promise doesn't resolve.

[2016-09-16 09:55] longque commented on #12136
It appeared again just now. But it's unnecessary highlight "var".
![7](https://cloud.githubusercontent.com/assets/8530043/18582228/9a36dcc6-7c36-11e6-9b59-cb9ff67802cb.PNG)

[2016-09-16 09:56] SamVerschueren commented on #4943
I believe it's the TypeScript language server that deals with this so I think it is.

[2016-09-16 09:56] weinand opened #12139 "better error reporting for misconfigured outDir"
Provide better error reporting if breakpoints cannot be resolved successfully due to misconfigured source map setup.

[2016-09-16 09:59] shammelburg opened #12140 "Quick import statements"
- VSCode Version: 1.5.2
- OS Version: Win 10

I have watched an Angular 2 video where the instructor imports 'import statements' by typing "NgModule" for example and then it pastes in "import { NgModule } from '@angular/core'" at the top of the page.

Very similar VS (IDE) when pressing (CRTL + .) and selecting add 'using System.Web.Http' for example.

This would safe a lot of time when creating c

[2016-09-16 10:02] bvancea opened #12141 "TypeScript Language Support silently stops"
- VSCode Version: 1.5.2
- OS Version: Windows 10 Enterprise, Version 1607

**Steps to Reproduce:**
1. Opened VSCode on a project with around 1-2000 ts/tsx/css files.
2. Used VSCode for around 1 hour
3. Noticed that the Language Support for TypeScript stopped working. This included intellisense, symbols, etc.

**Notes**
The issue goes away after using the 'Reload Window' command.

**Additional info

[2016-09-16 10:05] bpasero commented on #12141
Since I am not sure if this is us or TS, assigning both @dbaeumer and @waderyan

[2016-09-16 10:07] Turash commented on #12109
![test](https://cloud.githubusercontent.com/assets/5880099/18582594/27899dec-7c06-11e6-82bd-338532dc1ede.png)

[2016-09-16 10:10] #12138 closed

[2016-09-16 10:22] wagerfield commented on #12077
Putting VSC and ST side-by-side and modifying a file that is open in each editor causes a different behaviour to happen in each editor. Neither trigger a prompt/dialog as you mentioned—though I have seen this dialog in ST in the past, so I know what you're referring to.

If I modify a file in VSC, then ST doesn't update the file until I focus the editor, so perhaps it disables the file watchers wh

[2016-09-16 10:28] jcassar commented on #12107
Daniel,

I try to upload the log, but github refused the zip.
Yes, I updated to the latest, node v0.10.42 and npm  v3.10.8.
I attached the npm-debug.log in case you need to review it.

Best,

JP
Quoting Daniel Imms <notifications@github.com>:

[2016-09-16 10:29] PunchyRascal commented on #12071
Hm... it's weird, I can't reproduce it now either. So I guess I'll just close this for now.

[2016-09-16 10:29] #12071 closed

[2016-09-16 10:31] bpasero commented on #12095
This is actually a corner case where our scoring is bad: Parts of the filename (`explorerview.ts`) end up matching on the folder instead of the file name. It is just bad luck that in this case `explorerView.ts` has parent folders that match more on the query compared to `explorerViewModel.ts`.

Overall we need to revisit our scoring functions and improve it to work better with files.

[2016-09-16 10:33] bpasero commented on #12077
@wagerfield what happens when you make the edits inside ST, does it show the removed comma right after you save? I am a bit confused because I thought ST would show a dialog when a resource changed on disk to reload it. But maybe this dialog only shows when the file is actually dirty in the editor.

[2016-09-16 10:34] bpasero commented on #12071
Sounds good.

[2016-09-16 10:34] shanalikhan opened #12142 "Any way to store extension configuration in vscode configuration"
Is there any way that i can store my extension settings that are in the JSon format and store in vscode own configuration rather then own file ?
and retrieve from there instead of my own JSON extension setting file ?

[2016-09-16 10:36] ryan413 commented on #3518
Dear GitHub Gods,

Please add this feature.

Sincerely,
Ryan

[2016-09-16 10:47] nfantone commented on #1884
@be5invis Tried your extension and working fantastic. A bit tedious if you are using Insiders, but great nonetheless. Cheers.

Incidentally, is there anyway to set icons on the sidebar using font faces, instead of `png` files?

[2016-09-16 10:58] nfantone commented on #3112
Currently, themes other than the default tend to look kinda awkward when displayed alongside the toolbar and sidebar. See, for instance, how it can change the general look and feel when using something like [VScode Custom CSS extension](https://marketplace.visualstudio.com/items?itemName=be5invis.vscode-custom-css).

<img width="1158" alt="screen shot 2016-09-16 at 11 55 23 am" src="https://cloud.

[2016-09-16 11:04] nfantone commented on #10455
@aeschli

Is this _currently_ possible or are you planning on supporting it in a near future? Because many of the file icon theme repos I've seen [contain icons in `.png` format](https://github.com/PKief/vscode-extension-material-icon-theme/tree/master/fileicons/icons).

[2016-09-16 11:05] ivancuric opened #12143 "[scss] timing functions in variables break syntax highlighting"
- VSCode Version: 1.5.2

![image](https://cloud.githubusercontent.com/assets/2827047/18583972/3489ce06-7c0e-11e6-8a04-8b4e8c3b9883.png)

The snippet:

[code]

[2016-09-16 11:10] gerhardcit opened #12144 "CPU hogging is back"
- VSCode Version: Code - Insiders 1.6.0-insider (50bb7aad57cbf1924e28472de52734be49645558, 2016-09-15T06:05:10.053Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:

1. Since Recent upgrades
2. Code Insiders - Helper runs CPU to max

We've optimized all folders to exclude from watching. How do we get to the where this is actually happening. It was fine till about 2 releases back.
Does anyone

[2016-09-16 11:26] wagerfield commented on #12077
If I have `webpack` watching the file for changes, then add a semicolon from within ST, the semicolon is added when I type it (so I can physically see it within the editor), then a split second later it is removed when `eslint` fixes and modifies the file.

[2016-09-16 11:36] gerhardcit commented on #12144
Just updated:
- VSCode Version: Code - Insiders 1.6.0-insider (0619ede1e469ed23fbb214eaa0377625a402ca87, 2016-09-16T06:05:18.476Z)
- OS Version: Darwin x64 15.6.0

And it's already better. (No more CPU)

[2016-09-16 11:39] andrewv99 commented on #9191
If I run it like this:
$ strace VSCode-linux-x64/bin/code --verbose 2>&1|tee err.log
err.log attached
[err.zip](https://github.com/Microsoft/vscode/files/476726/err.zip)

Maybe you can spot something there ..

[2016-09-16 11:53] maestroh opened #12145 "Cannot Find Name For Some Files"
- VSCode Version: 1.5.2
- OS Version: Windows 10 Pro 1607
- Typescript Version: 1.8.10

Steps to Reproduce:

1. Open a Typescript project
2. Only the first file I navigate to can find modules

I have a Node project running with Typescript support. When I start Code, Typescript modules are only found for the first file I open. The remaining files have the "Cannot Find Name" error for all modules. I

[2016-09-16 11:56] anicoll commented on #11205
Why is this bug closed? has it been resolved?

[2016-09-16 12:08] lukaschal commented on #6184
Looks like this change was checked-in to GIT at 5/9/2016

https://monacotools.visualstudio.com/DefaultCollection/Monaco/_git/MonacoLocalization/commit/c53e88fa997dae1d86e1ea4821da136a656e6ead?_a=summary

[2016-09-16 12:28] gerhardcit commented on #12144
Nope, opening a very basic mainly typescript project... It goes again.
How do I find out which plugin on process it is..
I can see the process in Htop, but I don't get the plugin detail

[2016-09-16 12:29] atorres76 commented on #7943
I have also had this exact issue. I do the same workaround described.

[2016-09-16 12:46] bpasero commented on #12077
@wagerfield are you loosing the undo history when this happens?

[2016-09-16 12:48] mbeckenbach opened #12146 "[folding] fold regions"
Use markers such as //#region and //#endregion to mark folding regions

[2016-09-16 12:52] pumano opened #12147 "Open with VS Code from right click in Windows Explorer"
Feature request

**Description:**

Add possibility to open folder/file/group of selected files from windows explorer using right click menu with "Open with VS Code".
It's perfectly works with Atom, and Notepad++

**Why this feature needed:**
- Very useful
- Speed of opening project is increased

**OS:**
- Windows
- Mac OS (If it can be added to mac version - it's will be good to)

[2016-09-16 12:56] bobcozzi opened #12148 "Add WYSIWYG HTML Editing similar to MS Expresison Web/FrontPage"
- VSCode Version: any
- OS Version: mac os x

Steps to Reproduce:
1. The need for WYSIWYG editing in addition to preview is badly needed.
2.

[2016-09-16 12:59] mrmlnc commented on #12147
You talk about it? It's works fine in in a stable branch.

![image](https://cloud.githubusercontent.com/assets/7034281/18586589/081f335c-7c26-11e6-92d1-20daaeec40aa.png)

[2016-09-16 13:03] weinand commented on #12128
@bpasero this is working fine for me in the latest Insiders on Windows

[2016-09-16 13:03] #12128 closed

[2016-09-16 13:17] ruyan2016 opened #12149 "Does not support vue.js code hints"
- VSCode Version:1.5.2
- OS Version: windows 10
Visual Studio Code does not support vue.js code hints

[2016-09-16 13:17] weinand commented on #12078
@mredbishop please try the latest Insider build.

[2016-09-16 13:19] #12062 closed

[2016-09-16 13:23] GeekLad opened #12150 "Feature fequest for applying CSS styles in console.log"
**Feature Request**

Chrome and Firefox both support applying CSS styles to console output.  For example, you can do something like `console.log("%cThis text should be green", "color: green");` and in Chrome and Firefox you get "_This text should be green_" in green text.

In the VSC console log you get "_color: greenThis text should be green_" and the output is styled the same as any other consol

[2016-09-16 13:24] salda opened #12151 "VSCode “fileName” not found"
- VSCode Version: 1.5.2
- OS Version: 7

Steps to Reproduce:

1. Set up VSCode, C/C++ package, g++, Clang and GDB hopefully correctly.
2. Include some file.

See http://stackoverflow.com/questions/39512079/vscode-filename-not-found.
![image](https://cloud.githubusercontent.com/assets/3855627/18587305/9f90dd1c-7c21-11e6-8cdd-b0ce887a73ed.png)

[2016-09-16 13:42] baoziv587 commented on #11842
ok,thanks @chrmarti

[2016-09-16 14:04] bpasero commented on #12151
Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market place, click on the **Support** link to find out more.

<im

[2016-09-16 14:04] #12151 closed

[2016-09-16 14:05] bpasero commented on #12144
@gerhardcit well, does it reproduce when you run code `code --disable-extensions`? If yes, this would not be extension related.

[2016-09-16 14:07] bpasero commented on #12115
@Vernando05 the symbol search in VS Code is accessible via Ctrl+T (or Cmd+T on Mac).

[2016-09-16 14:09] bpasero commented on #12142
@shanalikhan you are asking for API from an extension to write to the settings.json file?

[2016-09-16 14:10] bpasero commented on #12147
Yes, make sure to install VS Code with the installer to get it 👍

[2016-09-16 14:10] #12147 closed

[2016-09-16 14:10] bpasero commented on #12149
@ruyan2016 can you explain what you expect in more detail?

[2016-09-16 14:31] salda commented on #12151
Thanks for feedback, but the problem is that I can't find what extension is causing it, because there isn't the disable extension option yet and when I remove the extensions, another problems appear. Is there a way to guess what extension writes into Problems window output? Maybe I can somehow guess from the icon, what extension it is, but I don't know for now.

[2016-09-16 14:34] leventyalcin commented on #4039
Well, most of the languages I use every day does not need other than 4 spaces soft tab, but I do write Makefiles a lot and the other editor I use to use handles that very well. soft tab to hard tab, auto indent after `target_name:`, not indent after `.PHONY: target_name`

[2016-09-16 14:41] bpasero commented on #12151
@salda since you are editing C++ maybe we try the C++ extension first?

[2016-09-16 14:41] tkelman opened #12152 "Bind numpad_add and numpad_subtract as alternates for zoom commands"
- VSCode Version: 1.6.0-insider
  ![vscodeversion](https://cloud.githubusercontent.com/assets/5934628/18589550/1a05ef7a-7be0-11e6-9bdf-5b21f303947b.png)
- OS Version: Windows 10 Insider build 14915

Steps to Reproduce:
1. Using a keyboard that has a keypad (large laptop in my case), try zooming with ctrl and the keypad plus/minus. This works in Firefox and many other applications as an alternative

[2016-09-16 14:47] salda commented on #12151
Ok, thanks a lot, but I really don't want to uninstall it, because I am afraid that it can mess my configurations or something. I will wait for the disable extension option, because setting everything correctly was very complex for me.

You wrote "it seems that the issue originates from an extension and not VS Code itself", but it seems that the issue originates from VS Code itself, because after

[2016-09-16 14:48] wagerfield commented on #12077
History is maintained in ST, but not in VSC.

If I open the `index.js` _with_ the semicolon in place and _no history_ is in that file's session (`CMD+Z` does nothing), then I run `npm run watch`—`eslint` fixes and changes `index.js` removing the semicolon in ST _and_ this change is pushed onto the file's history in ST so that I can hit `CMD+Z` once to see the semicolon added back to the file.

I c

[2016-09-16 14:50] uxitten opened #12153 "Add file icon in file editors section"
Add File Icon in File Editors Section
for good sense (UX)

<img width="443" alt="screen shot 2016-09-16 at 7 15 15 pm" src="https://cloud.githubusercontent.com/assets/1549069/18590033/8d4559b4-7c42-11e6-99ad-36696839d0a9.png">

[2016-09-16 14:58] bpasero commented on #12151
@salda I was not suggesting to uninstall the extension, but rather to move this discussion to the C++ extension and ask why your import cannot be resolved.

[2016-09-16 14:59] uxitten opened #12154 "Add new version number in extenstions tab"
add new version number in extensions tab

<img width="1119" alt="screen shot 2016-09-16 at 7 24 16 pm" src="https://cloud.githubusercontent.com/assets/1549069/18590326/a576a924-7c43-11e6-88b9-ce0cf2533aa2.png">

[2016-09-16 14:59] bpasero commented on #12077
OK interesting, I think we have to improve in this area 👍

[2016-09-16 15:00] bpasero commented on #12153
See https://github.com/Microsoft/vscode/issues/11751

[2016-09-16 15:00] #12153 closed

[2016-09-16 15:02] elkebirmed opened #12155 "Less variables should be colored as the value color"
- VSCode Version: 1.4.0
- OS Version: Ubuntu 16.04

- I think **Less** variables should be colored as the value and not as the variable name:

    ![screenshot from 2016-09-16 15-40-45](https://cloud.githubusercontent.com/assets/3056412/18590344/598450ce-7c26-11e6-9927-7f30def9298a.png)

- **Intellisense** is not suggesting variables that are in an *imported* **Less** files

[2016-09-16 15:02] Bill-Stewart commented on #12048
The answer to my question is yes - `editorScroll` function can do this, but behavior is a little different than vim behavior shown in the animated GIF. I believe request is for `scrollLineDown` but maintain the cursor position.

[2016-09-16 15:03] VladimirAmiorkov opened #12156 "Detect links in Problems panel"
- VSCode Version: 1.5.2 (1.5.2)
- OS Version: OSX 10.11.6 (15G1004)

Steps to Reproduce:
- Install the [TSLint](https://marketplace.visualstudio.com/items?itemName=eg2.tslint) extension.
- In an Angular 2 project install [codelyzer](https://www.npmjs.com/package/codelyzer)
- Make some mistake like not adding the implements OnInit and simply add the ngOnInit() { } in the Angular 2 Component:

impor

[2016-09-16 15:08] uxitten opened #12157 "Hide explorer tab when user inside extensions"
don't show explorer file tab when user inside extensions

<img width="1119" alt="screen shot 2016-09-16 at 7 31 38 pm" src="https://cloud.githubusercontent.com/assets/1549069/18590698/180d81f0-7c45-11e6-8f39-3b309c20e821.png">

[2016-09-16 15:13] elkebirmed commented on #11770
I think @HamzaAbdullahMoh want to see an **RTL** **vscode** editor as an option, and this will be so helpful

This's the needed information i think :smile:

[2016-09-16 15:14] uxitten opened #12158 "Resizable open editors section"
resizable open editors section

<img width="664" alt="screen shot 2016-09-16 at 7 41 39 pm" src="https://cloud.githubusercontent.com/assets/1549069/18590943/e7ff8e44-7c45-11e6-815d-7dec9b4d3cbe.png">

[2016-09-16 15:20] cwgabel commented on #12077
My problem is I externally (windows explorer) created a 'views' directory and copied files into it outside of VSC only to find the views directory show up in the explorer but clicking on it did not expand (nor was there a directory icon next to to it).  It is all fine once I restarted VSC.  Running Window 7 with VSC 1.5.2.  Not a big deal,  always found the refresh you do to work flawlessly.

[2016-09-16 15:23] chrmarti commented on #12109
The screenshot shows a text search within a file. The file shows several occurrences of the text "marker" while the search box searching for "marking" says "No results".

@Turash:
- Does the problem always occur with this file and the search for "marker"?
- Does the problem go away when you close and reopen the search box?
- If not, does the problem go away when you close and reopen the editor tab

[2016-09-16 15:25] mredbishop commented on #12078
Hey @weinand, I've just tried it and it still won't launch the debugger for ts files with the sourceMaps on.

[2016-09-16 15:40] polizz commented on #12069
This same message has been seen on OSX 10.11.6 after doing the Xcode update and before accepting the EULA. In this situation, git command line tools will tell you as much.

[2016-09-16 15:43] weinand commented on #12078
@mredbishop what is the value of your 'outDir' attribute?

[2016-09-16 15:48] SailorMax opened #12159 "feature request: list of ready for sync remote/local commits"
- VSCode Version: 1.5.2
- OS Version: Win10

Before sync changes some time need to recheck what changes will go to remote server.
Currently in status bar we can see only number of sync remote/local commits on "Synchronize changes" button.
Can you split git-sidebar and in bottom part output names of remote/local commits? You can make combobox to choose which unsync commits to show: local or remote.

[2016-09-16 15:55] gangachris commented on #11205
I'm also getting the same error. @dbaeumer was it resolved?

[2016-09-16 16:00] eamodio commented on #12144
I've been experiencing the same thing, since 50bb7aad57cbf1924e28472de52734be49645558

VSCode Version: `Version 1.6.0-insider (1.6.0-insider)` 50bb7aad57cbf1924e28472de52734be49645558
OS Version: `OS X El Capitan Version 10.11.6 (15G1004)`

Even after closing vscode the `Code Insiders - Helper` still continues to run and needs to be manually killed. I've had this happen a handful of times since 50

[2016-09-16 16:17] dgileadi commented on #12069
In my case I indeed had updated to the latest Xcode, but I believe I had already accepted the EULA.

[2016-09-16 16:20] glennsarti commented on #12103
Ok.  So short version is, can't be fixed?

[2016-09-16 16:34] bpasero commented on #12077
There is also a refresh action within the explorer which should produce the same results as restarting.

[2016-09-16 16:36] bpasero commented on #12144
@eamodio we need to identify which process of VS Code is running with high CPU. For that you can find the PID of the process that runs high in the activity monitor and then `ps aux | grep` <pid> to see the full command line arguments.

[2016-09-16 16:42] DustinCampbell commented on #9061
Is there any opportunity for #10861 to be included as part of this work?

[2016-09-16 16:48] pitAlex commented on #11963
It happen again to me, this is what was logged in the "Opened files and ports" tab:

/
/Applications/Visual Studio Code.app/Contents/Frameworks/Code Helper.app/Contents/MacOS/Code Helper
/Applications/Visual Studio Code.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Electron Framework
/Applications/Visual Studio Code.app/Contents/Frameworks/Squirrel.framework/Versions/A/Squirrel
/

[2016-09-16 17:01] eamodio commented on #12144
@bpasero if/when it happens again I'll be sure to grab it.

[2016-09-16 17:06] eamodio opened #12160 "Crash when debugging extension and you close the dev tools too quickly"
VSCode Version: `Version 1.6.0-insider (1.6.0-insider)` 50bb7aad57cbf1924e28472de52734be49645558
OS Version: `OS X El Capitan Version 10.11.6 (15G1004)`

Steps to Reproduce:

1. Start debugging an extension
2. After the new instance of code starts, click the restart button in the main code instance
3. When the new instance starts again its dev tools seems to open (for some reason) and if you click

[2016-09-16 17:09] chrmarti commented on #11963
@pitAlex Could you do a `ps -p <pid>` for the pid that uses much CPU time and post the output here?

[2016-09-16 17:15] chrmarti commented on #11766
@tdekoekkoek Could you open a separate issue for cmd+p showing too many results? (The [announcement](http://code.visualstudio.com/updates/July_2016) for 1.4 has links near the top to the 1.4 downloads if you want to go back to that.)

[2016-09-16 17:22] jbsulli commented on #8850
Same here for JavaScript. Doesn't make sense to have it automatically insert a second one.

[2016-09-16 17:26] Tyriar commented on #12107
node 0.10.42 is quite old now and is certainly not the latest. We recommend 6+ https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run-from-source

[2016-09-16 17:26] #12107 closed

[2016-09-16 17:29] Tyriar commented on #9191
I see this onein your logs:

[code]

Have either of you tried deleting your user data directory located at `~/.config/Code`? If you have settings, keybindings, snippets, etc. you can make a backup of `~/.config/Code/User` before deleting it.

[2016-09-16 17:38] #12110 closed

[2016-09-16 17:42] gmahender opened #12161 "For large files Git diff is not working"
- VSCode Version: 1.52.
- OS Version: Windows 10 (14393)

Steps to Reproduce:
1. When editing a large file in Git repository (eg: xml file, ~10MB file), GIT window doesn't display the changes.

[2016-09-16 17:43] daviwil commented on #10861
Another possibility (which would help greatly with the PowerShell extension) would be to provide a way specify a command or function to be called in the language extension which could dynamically generate the parameters to send as part of launch.json.  My language server holds some connection details that are unique for each VS Code window with the PowerShell extension active (TCP port numbers, et

[2016-09-16 17:53] octref opened #12162 "How to avoid jumping to other places in Find All References?"
- VSCode Version: 1.5.2
- OS Version: OS X 10.11.6

![jump](https://cloud.githubusercontent.com/assets/4033249/18595351/28859708-7bf9-11e6-9adb-a521ec81b2b1.gif)

When I'm doing Find All References I hope I can just stay in the window. Jumping to random places loses me all context I've been working with.

I think Single click -> Show reference in the inline window, Double Click -> Go to the refere

[2016-09-16 18:02] Tyriar opened #12163 "Declarative contribution of custom explorers (based on tree models)"
Allowing extensions to contribute a file explorer-like viewlet would enable some interesting features such as:
- Outline views that display symbols from the opened file
- Custom file explorers, for example a file explorer that tightly integrates with source control
- Database explorer
- More cool stuff pulled from people's imaginations

Related issues:
- Feature request: symbols tree view https://

[2016-09-16 18:10] golf1052 commented on #11503
Also noticed this as well when working on my extension.
Version 1.5.2
OS: Windows 10 v1607

[2016-09-16 18:23] Thraka commented on #9032
still waiting for a fix :sob:

[2016-09-16 18:24] SamiSammour commented on #11766
This one bad version of vs code, I will go back to 1.4.
This problem occurred also in JavaScript.
Current status: looking for an alternative editor.

[2016-09-16 18:35] Tyriar commented on #11919
Extension authors want to get at the process ID of the shell so they can track what they run, at least on a low level. The problem is that due to a bug in electron (https://github.com/electron/electron/issues/38) there is [another process](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/terminal/electron-browser/terminalProcess.js) in between the renderer thread and the shel

[2016-09-16 19:26] Jakobud commented on #11693
Hmmm I usually do this:

[code]

[2016-09-16 19:33] anthonydresser opened #12164 "Color appended to preview html not properly theme dependent"
- VSCode Version: 1.5.1
- OS Version: OSX 10.11.6

The styles appended to the preview html by vscode properly capture the background color of the current theme, but seem to be a constant rbg(204, 204, 204) for dark theme or rbg(108, 108, 108) for light theme for the color style option rather than using what the current theme has set.

The most obvious example is using the "Monokai" theme. The defa

[2016-09-16 19:34] pitAlex commented on #11963
Here is is

3397 100.0  0.3  3231528  54680   ??  R     9:27PM  32:27.95 /Applications/Visual Studio Code.app/Contents/Frameworks/Code Helper.app/Contents/MacOS/Code Helper /Applications/Visual Studio Code.app/Contents/Resources/app/out/bootstrap --type=extensionHost

[2016-09-16 19:34] DustinCampbell commented on #10861
From the C# extension's perspective it would be easier to provide the launch configurations that we know about _unless_ the launch.json already exists. If the launch.json is present, we would assume that the user is defining their own configurations and not provide any.

Our biggest concern in generating a launch.json is with user modifications. Today, we generate a launch.json for the user when w

[2016-09-16 19:49] ramya-rao-a commented on #11693
well, now we both know 1 more way to deal with promises/thenables

[2016-09-16 19:51] chrmarti commented on #11963
@pitAlex Looks like one of the extensions you have installed is quite busy. Any idea which one it might be? (Could also be one of the built-in ones.)

[2016-09-16 19:52] Bill-Stewart commented on #11007
@vsamy - does this answer it - can this issue be closed?

[2016-09-16 19:57] pitAlex commented on #11963
I don't think the extensions I've installed are causing problems. All I have is:

https://marketplace.visualstudio.com/items?itemName=alefragnani.project-manager
https://marketplace.visualstudio.com/items?itemName=emeraldwalk.RunOnSave
https://marketplace.visualstudio.com/items?itemName=ecmel.vscode-html-css
https://marketplace.visualstudio.com/items?itemName=formulahendry.auto-rename-tag

How can

[2016-09-16 20:04] Jakobud commented on #8992
@jrieken Is it possible to open a new buffer with an untitled document in it, but without specifying the path to where the file will be saved when you Save it? I want to have a new buffer opened and then when I click save, I want a Save dialog box to come up where they choose where to save it (just like a normal Untitled document). Currently with the `untitled:` Uri approach, you are forcing the r

[2016-09-16 20:06] waderyan commented on #12093
This issue was moved to Microsoft/TypeScript#10955

[2016-09-16 20:06] #12093 closed

[2016-09-16 20:07] waderyan commented on #12093
@anvish thank you for opening this issue. This is likely a TypeScript language service issue so I've passed on to them.

[2016-09-16 20:09] waderyan commented on #12092
@bpasero can you comment on the reopen? I don't believe this is an extension issue. It seems likely to be a language service issue. I'll migrate to them, once I hear from you.

[2016-09-16 20:09] Jakobud commented on #11693
Here is some info on MDN about the way I do it: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise

Thanks for the hints!

[2016-09-16 20:12] waderyan commented on #12117
@vikramiyer thank you for brining this to our attention. I am trying to isolate the issue to better aide the bug fixing process. Can you help me?

Copying the code you have provided I am not able to reproduce the issue. Could you provide more context and a simple example I can copy and paste to reproduce? If you can write down the exact steps you follow to reproduce the behavior and the code that

[2016-09-16 20:16] waderyan commented on #12141
@bvancea thank you for opening this issue and for thoroughly giving us information. We have seen issues similar to this but they are hard to reproduce. Can you help me by giving me more information?

In your settings set `"typescript.tsserver.trace": "verbose"` and then open the output window. You will see the output of the language service and we should see messages before it stops.

An additiona

[2016-09-16 20:22] waderyan commented on #12145
@maestroh thank you for opening this issue. Could you provide me with some code that I can copy and paste or clone to reproduce this behavior?

I'm not understanding the context of "Cannot Find Name." If you could include a screenshot or a short video that would be helpful.

Thank you.

[2016-09-16 20:27] waderyan commented on #12136
@longque thank you for opening this issue. There are a number of fixes coming out soon around the out of the box grammar. Many have found the [Atom JavaScript grammar](https://marketplace.visualstudio.com/items?itemName=ms-vscode.js-atom-grammar) as an excellent fix to these problems in the meantime.

As this issue falls on the TypeScript language service I am migrating the issue there.

[2016-09-16 20:28] waderyan commented on #12136
This issue was moved to Microsoft/TypeScript#10956

[2016-09-16 20:28] #12136 closed

[2016-09-16 20:29] waderyan commented on #12146
@mbeckenbach can you provide more information of what you are looking for? I am not familiar with //#region support.

Also, is this VS Code specific or is this a feature request for TypeScript? This may be better in TypeScript.

[2016-09-16 20:36] Bill-Stewart commented on #11905
The behavior described here would be preferable to me also (it seems more intuitive based on the visible location of the cursor). It would be nice to have this as an editor option.

[2016-09-16 20:37] romligCH opened #12165 "Crashes with multibytes characters and backspace key"
- VSCode Version: 1.5.2
- OS Version: Windows 10

Steps to Reproduce:

1. Open a blank file
2. Set the language mode to JSON (seems to works with other languages too)
3. Type "😄😄😄😄😄😄😄😄😄😄", with quotes
4. Place cursor before the last quote
5. Press the backspace key multiple times

Following dialog appears:

Debug console contains following error one or multiple times:

[2016-09-16 20:42] cfjedimaster commented on #7414
So, while not exactly the same, I thought it would make sense to add on to this bug. If not - forgive me. I pasted a bit of code into a CSS file and Code froze today. After about a minute, I got the warning you see here:

![image](https://cloud.githubusercontent.com/assets/393660/18600557/db80934c-7c23-11e6-83fa-41e387264031.png)

You can see the cursor. The original HTML was style="..." in a div.

[2016-09-16 20:51] brentarias opened #12166 "AutoHotkey"
I've programmed AutoHotkey to rewire my "home" and "end" keys which works great, but with the latest Visual Studio Code it does not work.  Here are my AutoHotkey mappings:

[code]

The above script worked correctly with prior versions of Visual Studio Code.  And to reiterate, those mappings still work correctly elsewhere (such as the Sublime editor or in notepad).
- VSCode Version: 1.5.2
- OS Vers

[2016-09-16 20:53] psnider commented on #10766
Yes, it seems that both changes work:
- When I didn't have **typescript.tsdk** set, *Code* prompted me for using the locally installed typescript or the default.
- When I set **typescript.tsdk**, *Code* seemed to use the locally installed typescript as I expected.

Thanks

BTW, for me, on a Mac, the reference on the [Using Newer TypeScript Versions](https://code.visualstudio.com/docs/languages/typ

[2016-09-16 20:54] carlin-q-scott commented on #12094
Thanks for the rapid response guys. That was tremendously quick.

[2016-09-16 20:59] benlowry commented on #11640
These are in `xterm` and missing from `lxterm`:

XTERM_SHELL=/bin/bash
WINDOWID=54525988
XTERM_LOCALE=en_US.UTF-8
XTERM_VERSION=XTerm(322)

[2016-09-16 21:51] Bill-Stewart commented on #11973
Related to https://github.com/Microsoft/vscode/issues/7577 ?

[2016-09-16 23:07] DoomUnicorn opened #12167 "Conditional breakpoints sometimes stop working"
- VSCode Version: 1.5.2
- OS Version: Windows 8.1 Enterprise

Steps to Reproduce:
1. Set a conditional breakpoint in a Nodejs project
2. Use it for a while
3. Get frustrated because the breakpoint stopped working, spend a lot of time thinking it's your code.
4. Restart application, hope it fixes the breakpoint -- it doesn't
5. Go back to using archaic breakpoint without conditions, inspect variabl

[2016-09-16 23:15] Tyriar commented on #12155
I can't reproduce on 1.6.0-insiders?

![image](https://cloud.githubusercontent.com/assets/2193314/18603701/d1043ca2-7c28-11e6-8f7f-09dcf9cf3c47.png)

[2016-09-16 23:17] mohsen1 opened #12168 "Checkmarks background for transparent images missing for certain themes"
- VSCode Version: 1.5.2
- OS Version: OS X

An image with transparent parts should be obvious. Adding checkmarks as default background of images is common in a lot of other applications.

[2016-09-16 23:18] andrewv99 commented on #9191
This has been the very first time I have tried using this software. `~/.config/Code/User` was created upon startup of `code,` but it was empty, as was `~/.config/Code`. I deleted both directories and restarted, and empty ones were re-created. I could not find any storage.json under the software package install directory to try and use. How is this file supposed to be initially created ? I couldn't

[2016-09-16 23:18] mohsen1 opened #12169 "Show image size"
- VSCode Version: 1.5.2
- OS Version: OS X

Show image dimensions in image preview somewhere. When working with images, it's important to know their size.

[2016-09-16 23:21] bemartin opened #12170 "File name indentation is confusing when File Icon Theme is enabled"
- VSCode Version: Code 1.5.2 (66f37fd2a99eb9d628dd374d81d78835b410c39b, 2016-09-12T13:30:03.456Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:

1. Enable File Icon Theme
2. Browse files

When icons are enabled, file names are pushed right and make it look like directories are expanded:
![snip_20160916161817](https://cloud.githubusercontent.com/assets/6611598/18603764/33b8d362-7c29

[2016-09-16 23:28] Tyriar commented on #11735
Something is still a little off, I can now reproduce on Linux if I launch using `./` and then try to open settings. It works just fine when I use the full path.

[2016-09-16 23:39] Tyriar commented on #9191
The file is meant to be created initially. Are you running as root by chance?

[2016-09-16 23:45] Georgeouz commented on #7048
Less powerful alternatives for handling this issue in the short run:

* use the problems or errors counter to signal the presence of � or any unrecognised characters;
* upon opening a file containing unrecognised characters, issue a question dialog suggesting `Reopen with encoding` or `Continue`. At least this will help prevent accidental overwriting;

Of course encoding detection would much more

[2016-09-16 23:49] Tyriar commented on #11735
Found the root cause, `userDataPath` is defined in `environmentService.ts` which is in the `node` layer, meaning it doesn't have access to `app` so the arg needs to be recomputed over there. Ideally it would use `app.getPath('userData')` but that would mean pushing it to `electron-browser`.

[2016-09-16 23:55] vikramiyer commented on #12117
I am using RxJS in my code coupled with ES6 syntax for creating classes for a React Native project

<img width="726" alt="screen shot 2016-09-17 at 9 47 37 am" src="https://cloud.githubusercontent.com/assets/287302/18604130/196516cc-7cbc-11e6-8a81-2fed02fe9284.png">

1. ES6 class used for React Native project template
2. In a function method I have defined a const of RxJS streams and using the spr

[2016-09-16 23:58] Tyriar commented on #12165
Grammar exception is here: https://github.com/Microsoft/vscode-textmate/blob/7970025675f264d204c34b10e81fdd0fa8ce3e17/src/grammar.ts

[2016-09-17 02:34] maestroh commented on #12145
@waderyan Here you go. To add a bit of explanation to what you're seeing here: I've got two files open, middleware.ts and index.ts. middleware.ts is the first one I navigate to and the types are recognized. In index.ts nothing is recognized. Notice that both files import 'express'. I reload the window and the types are recognized in index.ts, but not middleware.ts. It seems that the types are only

[2016-09-17 02:35] gilboa23 commented on #396
Until this feature is implemented (if ever), may i suggest that you simply add ability to configure the title bar to show the project name before the file name. This way it will at least be possible to distinguish between the different vscode windows that are open for the different projects. See [#1723](https://github.com/Microsoft/vscode/issues/1723).

[2016-09-17 02:42] chongkong opened #12171 "Translation Fix for Korean"
| Key | English | Korean |
| ----- | ----- | ----- |
| `indentationToSpaces` | Convert Indentation to Spaces | 들여쓰기를 공백으로 변환 |
| `indentationToTabs` | Convert Indentation to Tabs | 들여쓰기를 탭으로 변환 |

[2016-09-17 02:48] chongkong commented on #12171
You can find them in https://github.com/Microsoft/vscode/blob/master/i18n/kor/src/vs/editor/contrib/indentation/common/indentation.i18n.json

[2016-09-17 04:13] bpasero commented on #12092
@waderyan yes I think so too that is why I reopened it 👍

[2016-09-17 04:13] bpasero commented on #7414
To find out more about this issue, we need to get at the process that is causing the high load. VS Code creates multiple processes, each with different tasks. Depending on your OS you can get at the full command line of the process and paste it here. On Mac, the **Activity Monitor** allows to find the `PID` of the process and from a terminal `ps aux | grep <pid>` reveals its arguments. On Windows

[2016-09-17 04:25] 0xFireball opened #12172 "Spelling error in Info messages"
- VSCode Version: 1.5.2
- OS Version: Windows 10

![vscoderror](https://cloud.githubusercontent.com/assets/15932100/18605917/01c9243a-7c54-11e6-87ad-e7e724b6558f.png)

Steps to Reproduce:

1. Run Preferences > Open Workspace Settings
2. An info message will pop up with the error.

BTW VSCode is the best editor!

[2016-09-17 04:45] r105m opened #12173 "vscode tries to restore packages evert 1 minute"
after updating to
Версия 1.5.2
something with restoring packages of aspnet project was broken
vscode tries to restore packages even if i restored packages before by command line. and c# plugin intellisence is not working.

please stop broking vscode

[2016-09-17 04:47] TechnikEmpire commented on #670
@egamma I'll get right on submitting a PR, after I spend an unnecessary amount of time trying to find the code to modify because you decided to be passive aggressive and sarcastic instead of offering the slightest bit of direction to those who might be able to help.

[2016-09-17 04:53] #11957 closed

[2016-09-17 04:58] jordanroskelley commented on #6992
+1 I use VS Code md for my project docs, and having them out of sync is painful. Also, when leaving and returning to the md preview pane, it resets to the top. This makes it difficult to follow links in the md.

[2016-09-17 05:04] garfieldbanks opened #12174 "Selecting horizontally scrolled text"
- VSCode Version:152
- OS Version:10Ann

Steps to Reproduce:
1. Make a really long line of text with empty lines above and below
2. Disable word wrap
3. Scroll out horizontally near to the end of the line
4. Quickly attempt to select ~80 characters on that line using the mouse without being snapped back to either adjacent empty line

VSCode should detect when I select text and lock the scroll loca

[2016-09-17 05:25] NKUCodingCat opened #12175 "Open a terminal in vscode cause crash when folder 's path contain chinese character"
- VSCode Version: 1.5.2
- OS Version: Windows 10 Pro 14383.187

Steps to Reproduce:

1.  Open a folder which contain any chinese character in VSCode
2.  Press `Ctrl+``
3. Terminal will exit with code 1

I don't know why, however, I think it may caused by encoding .....

[2016-09-17 05:33] bpasero commented on #12168
@mohsen1 we do have a checkmark pattern as background, are you not seeing it? can you attach a screenshot?

[2016-09-17 05:35] fwang2002 opened #12176 "Allow to open a custom file viewer window without opening the default one"
I want to implement an extension to display a graphical presentation for a binary file. I have had a look at markdown extension. But it displays the customized preview window with the default editor window side by side. So I want to know:
1. Is there a method to only open the preview window (customized) without opening the default editor window.
2. Can the default editor window be embedded in a cu

[2016-09-17 05:36] bpasero commented on #12169
See https://github.com/Microsoft/vscode/issues/3414

[2016-09-17 05:36] #12169 closed

[2016-09-17 05:36] bpasero commented on #11813
Moving into https://github.com/Microsoft/vscode/issues/3414

[2016-09-17 05:36] #11813 closed

[2016-09-17 05:55] bpasero commented on #4532
Lets make this a duplicate of https://github.com/Microsoft/vscode/issues/11974

If you have more feedback on https://github.com/Microsoft/vscode/issues/11974, add it there 👍

[2016-09-17 05:55] #4532 closed

[2016-09-17 05:58] bpasero commented on #6789
Duplicate of: https://github.com/Microsoft/vscode/issues/11974